[2019-02-26 17:28] khouloudbelguith commented on #12727
Hi @johanlantz,

I made a copy for the Classic theme. "test".
In the file /themes/test/config/theme.yml, I added ` - ps_bestsellers` in the display home section
[code]

When I try to navigate to the BO => Design => Theme & LOgo => I have exception
![image](https://user-images.githubusercontent.com/16067358/53433203-49888d00-39f4-11e9-9c37-e03f036362bc.png)

Which is a normal behavior => is it?
Tha

[2019-02-26 17:34] Quetzacoalt91 commented on #12722
In my opinion, we should duplicate the parent access configuration to each tabs.

[2019-02-26 18:42] mbmleone commented on #9917
Thanks for checking.
The question remains why is does occur in some cases.
Messages above clearly show a mixed picture.
So we need to figure out what the difference is here.

I'm willing to do some checks in my demo installation, but I need info from someone who know how this works.
How should these settings be stored in Prestashop database?
If I know that I can check if it's indeed not stored.
Wh

[2019-02-26 20:15] rdy4ever commented on #12714
You need to give write permissions (0755 should work with apache) to app/cache folder.
You get a 500 error because PS tries to write to cache but the folder may not be writable on the server.

[2019-02-26 20:59] seederp2p opened #12729 "CMS Layout not showing at theme options"
With my version 1.7.5.1 I can't change CMS pages layout because the option CMS doesn't show up at theme options.

**To Reproduce**
Go to Design
Go to Theme & Logo
Click Choose Layouts
CMS Is missing

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: PHP 7.0.33-0ubuntu0.16.04.1
![cms missing](https://user-images.githubusercontent.com/3126847/53445782-48ae2600-3a09-11e9-8aa6-96cef

[2019-02-26 21:15] pppplus commented on #12667
files owner and permissions has never been a problem.
/classes/Tools.php is called by a lot of files, not only Clear Cache.
So, if there was a problem of right, a lot of problem will occure.

/classes/Tools.php exists (site can't work without it)

[2019-02-26 21:18] go-sudo commented on #12692
Hello
when i enable the debug mode the website display many errors

https://drive.google.com/file/d/1pK-xOtmVAq8e8BdU-O3IE4KG8zFEH1bF/view

[2019-02-26 22:18] igurina opened #12731 "Error 500 on Referrer front stats.php"
The front for referrers doesnt work: gives error 500

Debug:

(1/1) ContextErrorException
Notice: Undefined index: tpl_dir

in 637850b4c77dc61801b9efcd0f6a5664557e626e_2.file.login.tpl.php line 33
at content_5c33ddc8a5a651_98543382(object(SmartyDevTemplate))
in smarty_template_resource_base.php line 123
at Smarty_Template_Resource_Base->getRenderedTemplateCode(object(SmartyDevTemplate))
in smarty_

[2019-02-27 00:18] tonypartridge opened #12732 "When multistore is enabled, all countries are displayed in address instead of only those covered by active carriers"
**Describe the bug**
You are in multistore and have zones, countries enabled for all shops
Carriers are limited to a specific zone
You set _Restrict country selections in front office to those covered by active carriers_ to yes
In front office of both shop while creating a customer address, you will see all countries instead of only ones covered by carriers of the shop.

**To Reproduce**
1. Enable

[2019-02-27 07:09] khouloudbelguith commented on #12731
Hi @igurina,

We are of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9780
So, I close it.
Thanks!

[2019-02-27 07:09] #12731 closed, assigned to nobody

[2019-02-27 07:09] khouloudbelguith commented on #12731
Duplicate of #9780

[2019-02-27 07:11] ReddySk commented on #12721
![image](https://user-images.githubusercontent.com/16384565/53472155-3236b780-3a67-11e9-892d-1a0f67c13554.png)
![image](https://user-images.githubusercontent.com/16384565/53472174-3bc01f80-3a67-11e9-981e-86a4262b2cea.png)

[2019-02-27 07:13] khouloudbelguith commented on #12322
Hi @naps1saps,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-27 07:13] #12322 closed, assigned to nobody

[2019-02-27 07:32] johanlantz commented on #12727
That was not really the case I was aiming for. I will try to have time to investigate more but my scenario is this, hope I can explain it ok.

- I am developing a child theme of classic.
- With this theme, I want to pack a custom module, so I do two things:
    1. I put this module in the dependencies folder of the theme
    2. I add the name of the module under dependencies in the theme.yml file.

[2019-02-27 07:34] khouloudbelguith commented on #12729
Hi @seederp2p,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1vj8wkzcLSpXfyS7H-SbDsn7APaNGb7DV/view
Did you use the theme by default provided by PrestaShop?
Thanks!

[2019-02-27 07:50] khouloudbelguith commented on #12732
Hi @tonypartridge,

Could you please confirm these steps:
1. In the countries page, you have two countries:
1.1 United Kingdom which belongs to the zone "Europe" => selected for the shop1
1.2 United States which belongs to the zone "North America" => selected for the shop2
![image](https://user-images.githubusercontent.com/16067358/53473979-30bbbe00-3a6c-11e9-81db-d8867b4e98c6.png)
2. In the carri

[2019-02-27 07:54] centoasa commented on #9750
issue still present in 1.7.5.1

[2019-02-27 08:05] tonypartridge commented on #12732
Hello,

Not quite. All countries are enabled by default and we set: Country Options as:

![shipping_options](https://user-images.githubusercontent.com/1400982/53474781-ee8f7e00-3a65-11e9-9bba-d3529367461f.png)

So at this point we have now said only countries which are assigned to the shops shipping carriers should be shown.

However, if you have two carriers i.e.
1. DHL UK - Select UK - Store 1
2

[2019-02-27 08:27] onlinedhlx commented on #12714
the permissions on that folder are already set to 755

regards

[2019-02-27 08:31] khouloudbelguith commented on #12714
@onlinedhlx, could you please try with 775 permissions.
Thanks to check & feedback.

[2019-02-27 08:35] khouloudbelguith commented on #12721
Hi @ReddySk,

I tried with the same workaround that you made, but I did not manage to reproduce your issue.
![image](https://user-images.githubusercontent.com/16067358/53475355-08ce5980-3a70-11e9-9f97-8ce1a5de7406.png)
It is a different issue.
It could be a server problem, thanks to check with your host & feedback.
Thanks!

[2019-02-27 08:55] khouloudbelguith commented on #9917
Hi @mbmleone,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source): fresh install or upgrade?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following ar

[2019-02-27 08:55] onlinedhlx commented on #12714
still just get a white screen :(

Regards

[2019-02-27 08:57] khouloudbelguith commented on #12714
@onlinedhlx, what about PHP error logs? any news?
Thanks!

[2019-02-27 08:57] onlinedhlx commented on #12714
also there are no errors showing, the apache logs are not available and they don't have php logs as shouldn't they be outputted by Prestashop?

the server guys have checked everything their end and all is good

i don't have a php.ini yet to change the setting in but i will create ASAP

[2019-02-27 09:02] khouloudbelguith commented on #12714
@onlinedhlx, thanks!
Waiting for your feedback after updating your settings.

[2019-02-27 09:13] onlinedhlx commented on #12714
i set up the php.ini with no change

i set it up according to this https://www.prestashop.com/en/blog/php-ini-file

[2019-02-27 09:37] khouloudbelguith commented on #12714
@onlinedhlx,  could you please provide me your credentials to access your shop to test it.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-02-27 09:42] khouloudbelguith commented on #12727
Hi @johanlantz,

Thanks for these clarifications.
I did not manage to reproduce the issue with PS1.7.5.1.
https://drive.google.com/file/d/1yKqiWJiFklXzmouSlx_YAqdkliH-xduF/view
I created a child theme with
1. folder `dependencies` which contains the module `ps_bestsellers`
2. In the file /mythemes/config/theme.yml, I added this code
[code]
When I try to use this theme => OK.
I tried with this them

[2019-02-27 09:43] Fobe24 commented on #12675
The problem still exists, it has nothing to do with the charset. The DB engine used for the connection test is not compatible with managed MySQL databases from cloud providers like Azure or AWS.

[2019-02-27 09:45] onlinedhlx commented on #12714
no probs, give me one sec to set you up

[2019-02-27 09:50] onlinedhlx commented on #12714
email sent

[2019-02-27 09:56] khouloudbelguith commented on #12692
Hi @go-sudo,

Thanks for your feedback.
What is the exact version of the ps_legalcompilance did you use?
This module is overridden by your theme?
Could you please provide me the exact configuration for this module?
Thanks!

[2019-02-27 09:57] khouloudbelguith commented on #12714
@onlinedhlx, thanks!
I just received the email.
I will check & feedback.

[2019-02-27 10:11] johanlantz commented on #12727
Thanks for the quick feedback. I will try tonight again.

Meanwhile, can you please make sure you test with a module that is not installed nor available in the marketplace. An empty module that does nothing should be just fine. As I mentioned, if the module is already installed or available in the shop, then the problem did not happen.

[2019-02-27 10:11] khouloudbelguith commented on #12714
@onlinedhlx, could you please check this PR: https://github.com/PrestaShop/PrestaShop/pull/8871, it improves rendering of combinations in the Product page, it is fixed in the PS1.7.3.1.
In the other case, we have an issue reported in this ticket #9809, it seems to be similar to your issue, is it?
Thanks!

[2019-02-27 10:17] ReddySk commented on #12721
Could be that problem related with the Proxy behind which I have the server?

[2019-02-27 10:17] Peter4661 opened #12734 "500 error after Upgrade 1.7.4 to 1.7.5.1"
Upgrading from 1.7.4 to 1.7.5.1, 500 error after update complete

Error warning in update process:
"error upgrading database", with all items upgraded on database flagged "green"?!

From server error log, capured time during upgrade process:

[Wed Feb 27 10:46:41.622277 2019] [lsapi:notice] [pid 3655357:tid 140459269662464] [client 207.46.13.xxx:xxxxx] [host www.xxxxxxxxxx.nl] Backend log: PHP War

[2019-02-27 10:17] onlinedhlx commented on #12714
I will take a look this afternoon as I have to go out right now.. I will
report back later

Regards

On Wed, 27 Feb 2019, 11:11 khouloudbelguith <notifications@github.com wrote:

[2019-02-27 10:19] khouloudbelguith commented on #12721
@ReddySk, We need to retrieve the PHP error log in order to find out what's wrong.
Thanks!

[2019-02-27 10:20] khouloudbelguith commented on #12714
@onlinedhlx, thanks!
Waiting for your feedback.

[2019-02-27 10:27] juank2808 commented on #12697
hi again, i have a proble with the spanish translations, first a message comes out that said, that the folder didn't exist now, in mas test version i have the folder and I have copied and pasted the folder in the same site now i have this error; do you know the solution? @khouloudbelguith
**An exception occurred while executing 'SELECT p0_.id_translation AS id_translation_0, p0_.`key` AS key_1, p0

[2019-02-27 10:27] khouloudbelguith commented on #12734
Hi @Peter4661,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
In your log, I found that you have an override `override/classes/Dispatcher.php`, it could incompatible after the upgrade, Thanks to check & feedback.

[2019-02-27 10:28] khouloudbelguith commented on #12697
This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-02-27 10:37] juank2808 opened #12736 "Error in ty change the language"
hi again, i have a proble with the spanish translations, first a message comes out that said, that the folder didn't exist now, in mas test version i have the folder and I have copied and pasted the folder in the same site now i have this error; do you know the solution?
__An exception occurred while executing 'SELECT p0_.id_translation AS id_translation_0, p0_.`key` AS key_1, p0_.translation AS t

[2019-02-27 10:40] khouloudbelguith commented on #12736
Hi @juank2808,

After copying the folder, did you cleared cache manually? you need to delete it.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get

[2019-02-27 10:43] khouloudbelguith commented on #12727
@johanlantz, thanks!
In fact, when I try to add a new theme that includes specific modules
The theme is well used.
 I attached a video record.
https://drive.google.com/file/d/1-gcNjbJ5pHjtmUPZRZcZjCAX4AxJs55V/view
Thanks!

[2019-02-27 10:56] juank2808 commented on #12736
now i cant access to the side menu cause **500 Internal Server Error** now i'm blocked

[2019-02-27 11:02] khouloudbelguith commented on #12736
@juank2808, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-27 11:11] juank2808 commented on #12736
hi again i dont know if the correct site to see errors but and i dont know if is useful, but i found this in */var/log/prod.log
**[2019-02-27 12:05:28] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\TableNotFoundException: "An exception occurred while executing 'SELECT p0_.id_translation AS id_translation_0, p0_.`key` AS key_1, p0_.translation AS translation_2, p0_.domain AS doma

[2019-02-27 11:14] khouloudbelguith commented on #12684
Hi @Goretsv,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/15CYSPCed9p4TlA4x3h04solmdWRd5bjP/view
And here's my log file
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2909999/log.txt)
Thanks to check & feedback.

[2019-02-27 11:15] khouloudbelguith commented on #12736
@juank2808, I need some other informations to unterstand how to reproduce the issue:
* server setup and configuration
* PrestaShop version (source)

Thanks!

[2019-02-27 11:19] juank2808 commented on #12736
the server configuration is
memory_limit **512M**
max_execution_time **30**
max_input_time  **60**
post_max_size **8M**
upload_max_filesize  **2M**
the restashop version is the **1.7.5.1** before i had the 1.6.1.23 version

[2019-02-27 11:24] khouloudbelguith commented on #12736
@juank2808, for the post_max_size, the value required minimum 16MB.
About the upload_max_filesize, the required minimum value is 4MB.
Thanks to check & feedback

[2019-02-27 11:26] khouloudbelguith commented on #12675
ping @Quetzacoalt91 @PierreRambaud is this a problem with the PrestaShop docker image?
What do you think?
Thanks!

[2019-02-27 11:27] juank2808 commented on #12736
but do you think that this can solution my **500 Internal Server Error** ?

[2019-02-27 11:29] Goretsv commented on #12684
I do not agree with your conclusions,
from=<**@prestashop.com> to=<**@prestashop.com> proto=ESMTP helo=<[127.0.1.1]>
Why you have HELO 127.0.1.1?

[2019-02-27 11:29] khouloudbelguith commented on #12736
@juank2808, no, but it is required.
It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.1.
You can find the full schema for 1.7.5.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2019-02-27 11:31] khouloudbelguith commented on #12684
@Goretsv, I use PrestaShop in my local.
Thanks!

[2019-02-27 11:37] juank2808 commented on #12736
@khouloudbelguith what do I do with that, I have important data and I have to copy and paste the SQL is likely to show an error?

[2019-02-27 11:43] Quetzacoalt91 commented on #12675
PrestaShop on docker only has the PHP server. Any SQL configuration issue is not caused by the image itself.
As said by @Fobe24 & @philipp-hb, this could be fixed by the changes suggested. This issue could be reproduced if we try to connect to a MySQL server with MyISAM disabled.

[2019-02-27 11:46] Goretsv commented on #12684
Yes .. right .. you are right
relay=127.0.0.1[127.0.0.1]
But why HELO 127.0.1.1, prestashop mail domen is used to configure the mail domain, SMTP servers with the correct security settings will not accept the name 127.0.1.1

[2019-02-27 12:57] decom-media opened #12737 ""Invoices"-Link results in HTTP 500 Internal Server Error"
Since upgrading to 1.7.5.0 - it is no longer possible to have the list of invoices, rest of prestashop is working fine, but, clicking on the link "invoices" (where it is possible to generate a pdf of all invoices from ie. last month) is just resulting in an "HTTP 500 Internal Server Error"
-> with debug on, it shows the following details:

Symfony\Component\Form\Exception\
UnexpectedTypeException

[2019-02-27 12:58] ReddySk commented on #12721
No error was created from PS into PHP error log.
I have there just not related errors from another application running in parallel there.

My error handler settings:

Directive | Local Value | Master Value
-- | -- | --
error_append_string | no value | no value
error_log | E:\Utility\XAMPP\php\logs\php_error_log | E:\Utility\XAMPP\php\logs\php_error_log
error_prepend_string | no value | no value
er

[2019-02-27 13:14] khouloudbelguith commented on #12736
@juank2808,

Sorry, I did not understand you, I just told you to check your database if there are missing tables.
Thanks!

[2019-02-27 13:20] khouloudbelguith commented on #12684
@Goretsv, the 127.0.1.1 is the address of my vhost created in my local.
In the PrestaShop, Email page, I defined an SMTP server 192.x.x.x & a mail domain name webmail.xxx.tn
Thanks!

[2019-02-27 13:22] khouloudbelguith commented on #12721
@ReddySk, thanks for your feedback.
What about your server log, it could be an issue related to your server.
Thanks!

[2019-02-27 13:24] khouloudbelguith commented on #12737
Hi @tom75,

Thanks to follow this comment: https://github.com/PrestaShop/PrestaShop/issues/12314#issuecomment-462410864 to fix your issue.
Your ticket is a duplicate of #12626, it is added to our bug roadmap.
So, I close it.
Thanks!

[2019-02-27 13:24] #12737 closed, assigned to nobody

[2019-02-27 13:24] khouloudbelguith commented on #12737
Duplicate of #12626

[2019-02-27 13:25] Matt75 commented on #12737
You can find a tutorial to fix this issue here : https://github.com/PrestaShop/PrestaShop/issues/12314#issuecomment-462410864

Moreover can you tell us how many languages are used in your shop and do you remember the PrestaShop version did you use on the beginning of your shop ?

[2019-02-27 13:26] bocianl commented on #9540
Any news about this bug? ahmedabdo1995 your patch works but makes problem with discount codes with specific products :(

[2019-02-27 13:29] Goretsv commented on #12684
You are right, in log HELO must be webmail.xxx.tn, in this problem, this i write as problem

[2019-02-27 13:33] decom-media commented on #12737
thanks for the link - will try that solution

Languages – I am having 7 languages: de, en, pl, pt, fr, es, nl

The first version…. I cannot tell for sure, as I did have quite many tests… is it possible to check it somewhere? And I am always asking myself if it would be possible to create a new installation with the latest prestashop version and import everything from my current installation – if t

[2019-02-27 13:33] khouloudbelguith commented on #12684
@Goretsv, but in my case, I don't have error 550, in my log, it is OK.

[code]

[2019-02-27 13:38] mickaelandrieu opened #12738 "Position Updater component should not be on the Grid namespace"
As stated in the documentation, the [Position Updater](https://devdocs.prestashop.com/1.7/development/components/position-updater/) is a standalone component.

Then, why all its classes are located into ``Grid`` namespace?

This make the extraction of the Grid Component more difficult and create risks to couple the two components for no gain.

What I suggest:

* move the component into its own nam

[2019-02-27 13:44] Goretsv commented on #12684
You have not security postfix setting , if use email provider, HOST 127.0.1.1 was blocked as spam

[2019-02-27 13:48] khouloudbelguith commented on #12684
@Goretsv, and in my case, I receive all the emails in my inbox & not in the spam.
Thanks!

[2019-02-27 13:55] Goretsv commented on #12684
I have nore arguments.... HELO must be = mail domen

[2019-02-27 14:00] khouloudbelguith commented on #12732
@tonypartridge,

I attached a video record.
https://drive.google.com/file/d/1neR2HTcR_AdPVs6i2q0QK_JLJ9iD_0gM/view
Thanks to check & feedback.

[2019-02-27 14:12] sarjon commented on #12738
I agree, I've already tried to push this idea some time ago, but without luck. :cry:

[2019-02-27 14:23] tonypartridge commented on #12732
Thank you for taking the time to look into this, the issue is you have edited each country and assigned counties to a shop!

We haven’t done that and neither want to, since some shops can ship anywhere in the world it needs to be defined by the carriers zone and not the countries allocated shop then zone. This is why my change above fixes the issue by selecting the shop allocation for the carriers

[2019-02-27 14:30] khouloudbelguith commented on #12732
@tonypartridge, in your case, all countries are displayed because they are enabled in all shops, which is normal behavior.
But, in my case, I edited the access of countries for each shop => so, in the FO not all the shops are displayed.
@marionf, what do you think?
Thanks!

[2019-02-27 14:32] tonypartridge commented on #12732
It’s not normal behaviour as we set ‘restrict countries to carrier countries’ 😜yet we are including carriers from ALL shops. We should only include carriers from this shop.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: khouloudbelguith <notifications@github.com>
Sent: Wednesday, February 27, 2019 2:31 pm
To: PrestaShop/PrestaShop
Cc: Tony Partridge; Mention
Su

[2019-02-27 14:36] #12689 closed, assigned to nobody

[2019-02-27 14:49] #9700 closed, assigned to nobody

[2019-02-27 14:50] #10034 closed, assigned to nobody

[2019-02-27 14:52] rGaillard opened #12740 "Webservices: [SQL Error] Deadlock on product addition"
**Describe the bug**
When multiple products are added in //, there are SQL errors :

[SQL Error] Deadlock found when trying to get lock; try restarting transaction. From DbCore->insert() Query was : INSERT INTO `ps_stock_available` (`out_of_stock`, `id_product`, `id_product_attribute`, `id_shop_group`, `id_shop`) VALUES ('2', '237', '0', '0', '1') ON DUPLICATE KEY UPDATE `out_of_stock` = '2',`id_p

[2019-02-27 14:55] rGaillard commented on #12740
I just tried on PrestaShop 1.6 and this is working well, i reproduce only on the 1.7 version.

[2019-02-27 15:08] khouloudbelguith commented on #12684
@Goretsv, the parameter after HELO should identify the system sending the email.
Go back to your original issue, in my case, there are no errors in my log when I sent a test mail while mail domain is not empty.
Thanks!

[2019-02-27 15:21] marionf commented on #10084
Not related to the open source project

[2019-02-27 15:21] #10084 closed, assigned to nobody

[2019-02-27 15:21] khouloudbelguith commented on #12740
Hi @rGaillard,

I used this script with PS1.7.5.1

[code]
But, I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1VwTPKCdTyX78aLFtX1B-g524eUDTwh4L/view
Thanks to check & feedback.

[2019-02-27 15:25] juank2808 commented on #12736
ok mi english is bad sorry, o have this error
**Table 'smsportnutrition1_0.ps_translation' doesn't exist<br /><br /><pre>
SELECT `key`, `translation`, `domain`
FROM `ps_translation`
WHERE `id_lang` = 1**

[2019-02-27 15:26] marionf commented on #10581
Issue related: https://github.com/PrestaShop/PrestaShop/issues/9962

[2019-02-27 15:26] rGaillard commented on #12740
@khouloudbelguith Thank you for your answer!

The problem occurs when there is concurrency requests, to reproduce you can launch your script multiple time in // or use pcntl_fork.

[2019-02-27 15:31] rGaillard commented on #12740
@khouloudbelguith we will have more than 100K products to synchronize with the webservices this is why we have to make concurrency requests.

[2019-02-27 15:39] khouloudbelguith commented on #12675
Hi @Quetzacoalt91,

Thanks for your feedback.
I added this line `disabled_storage_engines = "MyISAM"` to my file `/etc/mysql/my.cnf` & I restart the mysql container, in step 5 during the install, the database is well connected
![image](https://user-images.githubusercontent.com/16067358/53502394-3fc36000-3aae-11e9-8127-5ef9e4e5a786.png)
Thanks!

[2019-02-27 15:45] khouloudbelguith commented on #12736
@juank2808, the table ps_translation doesn't exist in your Database
in my case when I run this SQL command

`Select * from ps_translation` I have this table
![image](https://user-images.githubusercontent.com/16067358/53502766-05a68e00-3aaf-11e9-8128-5f41d94aafb3.png)

Thanks!

[2019-02-27 15:47] juank2808 commented on #12736
ok, and now what is the solution?

[2019-02-27 15:51] khouloudbelguith commented on #12736
@juank2808, The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.5.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/install-dev/data/db_structure.sql
Thanks!

[2019-02-27 15:55] juank2808 commented on #12736
ok but in this SQL dont exist this table, i have the table structure in my test table and i will try, pls dont clise the issue

[2019-02-27 15:57] khouloudbelguith commented on #12736
@juank2808, did you use a theme different from the provided by PrestaShop?
Thanks!

[2019-02-27 15:57] matks commented on #12585
I like the hook solution too because it reuses a well known and powerful mechanism of PrestaShop, so we stay in common ground and helps developers travel from 1.6 to 1.7 and to Symfony using things they are familiar with.

Maybe Mickael was rather for solution 1 because I think it benefits from Twig cache optimization while solution 2 is specific to PrestaShop and less prone to templating performa

[2019-02-27 16:02] juank2808 commented on #12736
no, i have the 1.7.5 version, now i have other error with the data base,
![imagen](https://user-images.githubusercontent.com/14195668/53503954-5919db80-3ab1-11e9-86f3-2faaeb632966.png)

[2019-02-27 16:05] watou commented on #12687
This report from GSC, `Either 'ratingCount' or 'reviewCount' should be specified`, is immediately the result of a code problem in a 3rd party module `ttproductcomments`, and my earlier interpretation of the advice from Google `Use markup for a specific product, not a category or list of products. For example, “shoes in our shop” is not a specific product.` may be an incorrect interpretation.

For

[2019-02-27 16:07] rGaillard commented on #12740
@khouloudbelguith you can also reproduce using nodejs:
var PS = require('prestan');
var api = new PS('http://domain', 'KEY, {debug: true});

var product = {prestashop: {product:{
                        price:100,
                        name: 'test',
                        low_stock_alert: 0,
                        active:1,
                        id_category_default:2
                    }

[2019-02-27 16:15] juank2808 commented on #12736
hi again, i have a small error, the SQL is solved, but now i have error with a module forlder in this case is eBay  @khouloudbelguith
![imagen](https://user-images.githubusercontent.com/14195668/53505004-5324fa00-3ab3-11e9-9c10-277e33cf62ee.png)

[2019-02-27 16:16] georgelouk commented on #12064
I'm experiencing the same issue!
I see that there is no javascript event listener as it should for

< div class="arrows js-modal-arrows"

[2019-02-27 16:22] khouloudbelguith commented on #12687
@watou, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-27 16:25] khouloudbelguith commented on #12064
@grigorevlad, the issue is added to our bug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-27 16:26] khouloudbelguith commented on #12736
@juank2808, as it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-27 16:30] juank2808 commented on #12736
ok no problem, an thanks but now, I do not have any module but the folders of the modules if it exists, is it safe to delete them if I do not have any module installed?

[2019-02-27 16:34] khouloudbelguith commented on #12736
@juank2808, if you need to disable a module, you can just rename the folder module from `mymodule` to `mymodule_old`.
Thanks!

[2019-02-27 16:36] khouloudbelguith commented on #12740
@rGaillard, thanks!

If I add this line code

[code]
to my previous script, cannot help me to reproduce the issue, is it?
Thanks!

[2019-02-27 16:36] juank2808 commented on #12736
ok thanks again! now you can close the issue, thank you so much!

[2019-02-27 16:37] khouloudbelguith commented on #12736
@juank2808, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-27 16:37] #12736 closed, assigned to nobody

[2019-02-27 17:07] khouloudbelguith commented on #12667
Hi @pppplus,

Could you please provide me your exact settings smarty before clearing the cache.
To be sure about your install, it is a fresh install, you did not install any other modules or themes?
Thanks!

[2019-02-27 17:14] pppplus commented on #12667
Yes, it's a fresh install, without any modification.
No template, no module.... NOTHING !
I just install from source, then click on Clear Cache (with Debug Mode)

![smarty](https://user-images.githubusercontent.com/2866100/53509086-60de7d80-3abb-11e9-8427-13494f2205de.jpg)

[2019-02-27 17:25] matks opened #12741 "Add a E2E test to check each BO pages access rules"
PRs such as https://github.com/PrestaShop/PrestaShop/pull/12709 secure a BO page but in order to make sure this keeps over time, we need a end-to-end test that would attempt to access *all* BO pages with a user that does *not* has the required access ... and check that indeed this user is denied access to the page.

[2019-02-27 17:25] matks commented on #12741
@mbadrani that would be a nice topic for puppeeter 😉

[2019-02-27 17:27] khouloudbelguith commented on #12740
@rGaillard, I used also, the runner in Postman & it is OK.
I attached a video record.
https://drive.google.com/file/d/1ZlS8cSKexdkvzSwpB4Eg1EZQRP3pUnEq/view
Thanks!

[2019-02-27 17:45] georgelouk commented on #12064
@khouloudbelguith It seems that the class js-modal-arrows doesn't gain the Javascript event listener when you are viewing a combination.

Something notable is

Opening a product with combinations and many images ..
1) modal thumbnails  scroll works fine
2) changing combination -> URL is changing to the combination and modal thumbnails is not working
3) refreshing the page to the "new" combination

[2019-02-27 18:04] seederp2p commented on #12729
Hi!
I use a different theme but with the default theme I have the same behaviour.

My store was fresh installed with 1.7.5.0 and after that I updated with 1.7.5.1...

[2019-02-27 18:29] Peter4661 commented on #12734
Applied your suggestion, No success.

second attempt to upgrade.
Non native modules disabled
Overrides disabled,
Cache cleared from backoffice,
var/cache (prod & dev) deleted,

Update proces started. Simular to first attempt, files & database updated (flagged green ok) , warning: error dtected during upgrade, without pionting to the error itself.

After update 500 error in front and back office.

[2019-02-27 19:29] mbadrani commented on #12741
@matks challenge accepted!!!

[2019-02-27 22:25] go-sudo commented on #12692
Hi @khouloudbelguith

the version is v3.0.1 I don't know how to export the configuration

https://drive.google.com/file/d/1j4H3D6nKVT3-T0ElgeKRX0seH9unu7Wp/view

[2019-02-27 23:09] Bossman1337 opened #12742 "Can't hook the product form - PS_1.7.5.1"
**Describe the bug**
I can't hook the product form. Strangely it will hook with **hookActionPerformancePageForm**

Adding a dump file to src\Core\Form\FormHandler.php and visiting symphony pages with forms i can see the action hooks that are generated. Going onto the product page generates **actionPerformancePageForm**

Also it isn't generating actionProductsFormSave?

**To Reproduce**
Steps to re

[2019-02-28 05:57] maviteknoloji commented on #12510
Stack trace:
#0 /home/vtwparan/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php(277): Smarty_Internal_Extension_Handler->__get('registerPlugin')
#1 /home/vtwparan/public_html/config/smarty.config.inc.php(125): Smarty_Internal_TemplateBase->registerPlugin('function', 'toolsConvertPri...', Array)
#2 /home/vtwparan/public_html/config/smartyadmin.config.inc.php(35): sm

[2019-02-28 07:34] khouloudbelguith commented on #12734
@Peter4661, you closed your issue, did you solved it?
PS: You have the same error,

You have an override which cause the error.
Thanks!

[2019-02-28 07:35] khouloudbelguith commented on #12336
Hi @Caleydon,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-28 07:35] #12336 closed, assigned to nobody

[2019-02-28 07:36] khouloudbelguith commented on #12350
Hi @FayInter,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-28 07:36] #12350 closed, assigned to nobody

[2019-02-28 07:58] khouloudbelguith commented on #12742
Hi @Bossman1337,

Thanks for your report.
First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

About your hook: "hookActionProductsPageForm", I couldn't

[2019-02-28 08:15] espacious commented on #12700
Yes you are right. But my opinion is it would be better if done in opposite.
For example:
I have 1000+ Discounts (90% of them should be incompatible with each other) this is also the normal way of thinking in a normal shop. Usualy discounts are not compatible, only in some rare cases yes.

So i ran the sql which did ok (set cart_rule_restriction to 1), but i have to repass all 1000+ discounts and

[2019-02-28 08:20] Peter4661 commented on #12734
Hi khouloudbelguith,

Thank you for comning back to me.

It was not my intension to close the issue. It has not been solved.

In the second attempt to upgrade to 1.7.5.1, prior to upgrade I disabled overrides and non native modules and cleared cache from the backoffice. Assuming this would deal with non compatible overrides, right?

Problem with updating has not gone away.

Unfortunately, I don't

[2019-02-28 08:23] khouloudbelguith commented on #12692
Hi @go-sudo,

Thanks for your feedback.
I tried with PS1.7.5.1 & the ps_legalcompilance module v3.0.1, but I did not manage to reproduce your issue.
Could you please check if your theme overrides the ps_legalcompilance or not.
You can check in your `Projet_folder/themes/your_theme/modules/ps_legalcompliance/views/templates/hook/hookDisplayFooter.tpl`
Thanks!

[2019-02-28 08:28] khouloudbelguith commented on #12729
@seederp2p, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.1 after upgrade from PS1.7.5.0 with the 1-click upgrade v4.6.0.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
Don't you know

[2019-02-28 08:33] khouloudbelguith commented on #12734
@Peter4661, thanks for your feedback.
I just re-opened the issue.
In fact, the option `Disable non PrestaShop modules` doesn't work, reported in this ticket: #9965, you need to disable those modules manually from the Module manager page.
Could you please, try to navigate o your `Projet_folder/override/classes/Dispatcher.php`, try to rename the file `Dispatcher.php` to `Dispatcher_old.php`, & try t

[2019-02-28 09:23] Peter4661 commented on #12734
Thank you for the help.

Issue solved: Non PS issue, issue caused by module (which one to be find out yet).

Restarted update with all non PS native modules disabled.
Update oké, with error warning.

**From server error log:
-----------------------------------------------------------------------------------
[OK] SQL 1.7.5.1 SET NAMES 'utf8'
[OK] SQL 1.7.5.1 ALTER TABLE `ps_supply_order_receipt_his

[2019-02-28 09:23] #12734 closed, assigned to nobody

[2019-02-28 09:23] colinegin opened #12743 "[PRICE & TAXES] As a merchant I need to correctly display all the details of the order price in the purchase funnel"
**WHY**
We have identified different issues related to price display in the front and back-office. Here are some of these issues :
#10013
#9698
#11360
#9999
#11492
#12969

The calculation is correct but the wording and/or the display order often introduce confusion for both merchants and final customers.

**WHAT**
Thus, this project aims at redesigning and reworking the display of the price detail

[2019-02-28 09:27] khouloudbelguith commented on #12734
@Peter4661, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-28 09:40] Peter4661 commented on #12734
Issue was caused by app which removes ID numbers from URL

[2019-02-28 09:49] MathiasReker commented on #9932
I made a PR for @seisnet

[2019-02-28 09:50] choclove90 commented on #12157
Hello. Had a nightmare with this issue.. this is a Prestashop 1.7.5.0 fatal bug, the only reason why this isn't exploding is because there aren't many shops moving to 1.7.5.0

Anyway, 1.7.5.1 seems to correct this. If upgrade is not an option, just replace the following folders with the ones from 1.7.5.1 (make sure to backup first):

/public_html/src/PrestaShopBundle/Controller/Admin

/public_html

[2019-02-28 10:02] rGaillard commented on #12740
@khouloudbelguith the Postman runner is sending the requests sequentially and not concurrency. I have make more tests on my side and i reproduce the bug on the 1.6 version (from the 1.6.1.0) with the same setup (working well with faster HD).
@jocel1 you have introduce the on duplicate key here: https://github.com/PrestaShop/PrestaShop/commit/337a5e94f4a366bce828d948a3647e203cb7a5c2#diff-6a810cff1b

[2019-02-28 10:23] nexinet opened #12745 "Issue with double shipping and Prestashop split orders"
**Describe the bug**
I have in my store different products and different way of shipping.
I have create for test
3 Different Shipping way and I gave them same configuration
Into product page I have assigned to each product a different shipment.
When I add products on the cart it show in right manner different shipping and calculate shipping according to my configuration, but, when I confirm order

[2019-02-28 10:28] khouloudbelguith commented on #12745
Hi @nexinet,

Thanks for your report.
We are aware of this issue.
Your ticket is a duplicate of #9998
So, I close it.
Thanks!

[2019-02-28 10:28] #12745 closed, assigned to nobody

[2019-02-28 10:28] khouloudbelguith commented on #12745
Duplicate of #9998

[2019-02-28 10:42] MathiasReker commented on #9932
@khouloudbelguith I made an alternative solution, as I think is more right. I just tested my solution. I can reproduce the issue before, but not after my PR :)

[2019-02-28 10:43] MathiasReker commented on #9932
Fixed: https://github.com/PrestaShop/PrestaShop/pull/12744

[2019-02-28 10:47] nexinet commented on #9998
Any news about this Bug ? or any workaround to fix it?

[2019-02-28 10:51] khouloudbelguith commented on #9998
@nexinet,

Sorry not yet.
Thanks for your understanding!
There are some major issues to solve before this one.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-02-28 10:51] Bossman1337 commented on #12742
Hi @khouloudbelguith,

Currently PS seems to be working okay, but i don't think this is related. (This isn't a production server)

I'm currently experimenting with new modules for Symfony pages.

I don't think the hook list in the documentation has been fully updated regarding Symfony pages. The code below is where the hook is generated by the Form Handler.

https://github.com/PrestaShop/PrestaSho

[2019-02-28 11:03] khouloudbelguith commented on #12667
Hi @pppplus,

I tried to create an environment similar to yours
[code]

Fresh install 1.7.5.1, enable debug mode => save => Click on clear cache button => OK.

Thanks!

[2019-02-28 11:04] marionf commented on #12732
@tonypartridge yes, you are right, this is a multistore issue.
Indeed, you can avoid this issue with the workaround given by @khouloudbelguith

[2019-02-28 11:15] khouloudbelguith commented on #12742
@Bossman1337,
Thanks for these clarifications:
I edited the file
`PrestaShop/src/Core/Form/FormHandler.php`
from
[code]
to:
[code]
When I navigate to:

1. Shop Parameters => General page => `GeneralPage` is displayed
2. Adavanced Parameters => Performance page => `PerformancePage` is displayed
3. Orders => Invoices page => `OrdersInvoicesByDate` is displayed
4. Catalog => Products => Edit a produc

[2019-02-28 11:27] khouloudbelguith commented on #12584
@johstrom, In my case, I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/18yivsN88NuA_Bz8Zi5m7_OQ1D_3IiCUh/view
Thanks!

[2019-02-28 11:42] khouloudbelguith commented on #12700
@espacious, with this command line: UPDATE `ps_cart_rule` SET `cart_rule_restriction` = '1' WHERE `ps_cart_rule`.`id_cart_rule` > 0
You can udate all your cart_rule_restriction  from compatible to non compatible, in table from 0 to 1
I attached a video record.
https://drive.google.com/file/d/10vTES-ZdJcC2Faw0WbwT3HpbcNtyW_q_/view
THanks!

[2019-02-28 11:45] khouloudbelguith commented on #12510
@maviteknoloji, your issue is not fixed?
I re-open your ticket?
Thanks!

[2019-02-28 11:53] seederp2p commented on #12729
Hi!

Ubuntu Server  16.04.6 LTS
PHP 7.0.33
mysql  Ver 14.14 Distrib 5.7.25
Cache emptied

No PHP Errors when I click "Layouts"
No Apache Erros when I click "Layouts"

jquery-1.11.0.min.js:3 Mixed Content: The page at 'https://MYURL/BACKOFFICE/index.php?controller=AdminThemes&display=configureLayouts&token=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' was loaded over HTTPS, but requested an insecure resource 'ht

[2019-02-28 11:56] maviteknoloji commented on #12510
I'm getting these errors right now

# 0 /home/vtwparan/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php(277): Smarty_Internal_Extension_Handler -> __ olsun ( 'registerPlugin')
[1.](https://github.com/PrestaShop/PrestaShop/pull/1) / home / vtwparan / public_html / config / çokbilmiş .config.inc.php (125): Smarty_Internal_TemplateBase-> registerPlugin ('function', 't

[2019-02-28 12:07] seederp2p opened #12746 "Missing Price with vat and without vat at order details"
**To Reproduce**
Go to orders
Click an order.
At the bottom you will get the details about each product
On 1.6 version it shows price with and without vat.
On 1.7 it doesn't show up.

PrestaShop version: 1.7.5.1
![backoffice](https://user-images.githubusercontent.com/3126847/53565425-61295800-3b51-11e9-8921-4df6bcf2a93b.png)

[2019-02-28 12:08] tonypartridge commented on #12732
Or you could apply my bug fix as above? If you have ALL countries over different stores that’s a lot of editing you need to do!!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: marionf <notifications@github.com>
Sent: Thursday, February 28, 2019 11:04 am
To: PrestaShop/PrestaShop
Cc: Tony Partridge; Mention
Subject: Re: [PrestaShop/PrestaShop] Country list inclu

[2019-02-28 12:24] espacious commented on #12700
Yes seems ok. I will retest.

[2019-02-28 13:02] khouloudbelguith commented on #12700
@espacious, thanks!

[2019-02-28 13:03] khouloudbelguith commented on #12510
@maviteknoloji, could you please add steps to reproduce the issue.
Thanks!

[2019-02-28 13:05] khouloudbelguith commented on #12729
@seederp2p, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-28 13:13] matteolavaggi commented on #11893
No update after 3 month ... very good.

[2019-02-28 13:14] matks commented on #12524
@sarjon I think there's already quite a lot of things for 1.7.6 😞 it's a good idea but will probably be handled later

[2019-02-28 13:16] matteolavaggi commented on #11186
to finish the migration to Symfony > from 2 years

There is no ETA available so this is only 900+1 issue taht still open .

Still get a PS solution with much bug than function ^^ and only "NMI" or "TODO" or "ASSIGNED" status to every issue reported .. from a 2 years old release :P !

[2019-02-28 13:16] #11186 closed, assigned to jocel1

[2019-02-28 13:16] #12650 closed, assigned to nobody

[2019-02-28 13:17] #11193 closed, assigned to nobody

[2019-02-28 13:35] seederp2p commented on #12729
Hi!

In fact I already did that because when I renamed the directory I had a problem with my modules. In any case I did that again and it did no solve the issue.

I also had some paypal module "pages" missing from "layouts". After I reinstalled the paypal module it appeared again... but CMS is still missing...

[2019-02-28 13:52] khouloudbelguith commented on #12729
@seederp2p, it could be caused by a module also?

[2019-02-28 14:02] seederp2p commented on #12729
Is there any way to debug it in a more convenient way?

[2019-02-28 14:02] khouloudbelguith commented on #12746
Hi @seederp2p,

Thanks for your report.
Yes, you are right.
In the PS1.6.1.23, we have
`Unit Price tax excluded. | Unit Price tax included.`
In the PS1.7.5.1, we have only one option, in the customer group, if we choose Price display method:
1. Tax excluded => Unit Price tax excluded will be displayed
2. Tax included => Unit Price tax included will be displayed

@marionf, what do you think, it cou

[2019-02-28 14:08] khouloudbelguith commented on #12729
@seederp2p, if you click on the button "Reset to defaults", the CMS will appear?
![image](https://user-images.githubusercontent.com/16067358/53571931-5f1fc300-3b6a-11e9-9e85-f132f9358ee4.png)
Could you please try to check & feedback.

[2019-02-28 14:18] dennispw commented on #10405
Any updates regarding this?

[2019-02-28 14:29] khouloudbelguith commented on #10405
@dennispw, sorry not yet.
It is added to our bug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-28 14:30] seederp2p commented on #12729
I have no such option.

Please check attached file.
![no reset option](https://user-images.githubusercontent.com/3126847/53573469-71e3c900-3b65-11e9-8fbb-a7fd73147ce9.jpg)

[2019-02-28 14:59] khouloudbelguith commented on #12729
@seederp2p, could you please try to navigate to your BO => Module Manager => search for the "Theme Customization" module & reset it.
Thanks!

[2019-02-28 15:02] seederp2p commented on #12746
It would be very usefull :)

[2019-02-28 15:08] Nittarab commented on #10908
I have the same error in PS 1.7.4.4...  I try to execute the query directly in the DB and it work...

[2019-02-28 15:11] matteolavaggi opened #12750 "PS 1.7.5.1 OnBoarding configuration banner not work and hide configuration section"
**Describe the bug**
Install a new fresh super ultra 1.7.5.1 installation, when login we get a banner in the top left corner with the "onboarding" store launcher helper. Unable to close, unable to stop. Unable to access the under section "configuration" because this wonderfoul banner still here ...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2019-02-28 15:29] seederp2p commented on #12729
Hi!
No changes.

[2019-02-28 15:35] khouloudbelguith commented on #12729
@seederp2p, you need to enable the debug mode.
Thanks to navigate to your BO => Advanced Parameters => Performance => Enable debug mode & the try to click on the button "Reset to defaults"
Thanks!

[2019-02-28 15:43] marionf commented on #12746
Yes, we could add it

[2019-02-28 15:48] seederp2p commented on #12729
Reset button is present now.
Did a reset but CMS is still missing.

[2019-02-28 15:52] khouloudbelguith commented on #12750
Hi @matteolavaggi,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1yWXc6wVOF495MemgFv49cNSMHyj0dV8Q/view
You need to enable debug mode in your store and debug request which is sent for closing the pop up on your browser, using DevTools, so:

1. enable debug mode
2. open up developer tools
3. go to Network

[2019-02-28 16:08] seederp2p commented on #12746
Great :) Any ETA? :)

[2019-02-28 16:23] khouloudbelguith commented on #12729
@seederp2p, We need to retrieve the PHP error log in order to find out what's wrong.
If you don't have it try to rest all module, check & feedback.
Thanks!

[2019-02-28 16:30] hellodracon opened #12752 "Can't connect to backoffice using CDN (not only static files)"
Does Prestashop would allow this kind of setup ? the site is pointed toward CDN (stackpath) and then reaching to my origin ? I mean some in-between service while the authentication takes place.

I'm using a CDN (with the URL of media server recorded and working great).
But I want to use all their service, especially the Web Application Firewall service. To do so, they told me to change my host fil

[2019-02-28 16:39] seederp2p commented on #12729
Hi!

I've PHP error enabled. But I don't have any error messages.

If I reset all modules I'm going to lose all the configs from it, right?

[2019-02-28 16:42] khouloudbelguith commented on #12729
@seederp2p, yes!

[2019-02-28 16:43] khouloudbelguith commented on #12752
Hi @hellodracon,

Could you please try with this solution

[code]
I hope this helps you, the solution is proposed in this [forum](https://www.prestashop.com/forums/topic/342334-acc%C3%A8s-backoffice-impossible-avec-ovh-cdn/)

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2019 for security and c

[2019-02-28 16:43] #12752 closed, assigned to nobody

[2019-02-28 16:53] colinegin commented on #10611
Hi @matks,

Would it be possible to change one behaviour in this page ?
If the merchant disables to option "Enable tax", then it should automatically disable "display tax in the cart" option, as it doesn't make any sense to have the 2nd option without the 1st one.

Let me know what you think !

[2019-02-28 16:58] hellodracon commented on #12752
@khouloudbelguith  My god thanks a lot, it's working great ! Can you explain what it is by any chance ?

[2019-02-28 17:05] khouloudbelguith commented on #12752
@hellodracon, Great!
I found this solution in the forum: https://www.prestashop.com/forums/topic/342334-acc%C3%A8s-backoffice-impossible-avec-ovh-cdn/?do=findComment&comment=2469299
Thanks!

[2019-02-28 17:10] hellodracon commented on #12752
Yes, but no one explains why it's working. I was just curious. Thanks anyway ! You made my day

[2019-02-28 17:13] seederp2p commented on #12729
Ok!

So I reseted in my dev environment and CMS is still missing. :(

Is there any other way to debug this?

[2019-02-28 17:27] khouloudbelguith commented on #12729
@seederp2p, because the upgrade, it was ok?
if yes, can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

[2019-02-28 19:03] watou opened #12754 "Google Search Console can complain of `Indexed, though blocked by robots.txt` for search results pages"
Google Search Console can complain of `Indexed, though blocked by robots.txt` for PrestaShop search results pages if it finds such pages outside of its crawl instructions.  While crawling search pages is disallowed by a properly created `robots.txt`, they can still be indexed if they are found through other means, which is quite easy to do.  For example, if one uses tags on the front end, these ca

[2019-02-28 19:30] rblaurin opened #12755 "New feature - New customer form field in a specific position"
**Is your feature request related to a problem? Please describe.**
I develop modules for Prestashop, and I am trying to get rid of the overrides as recommended by PrestaShop.

I have a need to add a new field to customer registration form. It is now reachable by using **additionalCustomerFormFields** hook.
Unfortunately it does not allow me (as far as I know) to choose the position where the field

[2019-02-28 19:54] sarjon commented on #10626
@matks would you mind assigning it to me? i've started it then didn't have anything else to do, so i could continue when time comes. :)

[2019-02-28 20:27] sarjon commented on #12310
Closing as this is being solved in https://github.com/PrestaShop/PrestaShop/pull/11321 by @mickaelandrieu :heart:

[2019-02-28 20:27] #12310 closed, assigned to nobody

[2019-02-28 20:29] sarjon commented on #10285
Closing as this was already implemented!

[2019-02-28 20:29] #10285 closed, assigned to sarjon

[2019-02-28 20:30] sarjon commented on #10715
@tomas862 is it done?

[2019-02-28 20:31] sarjon commented on #10712
is there any mockups for "Access denied" page? /cc @matks

[2019-02-28 21:42] seederp2p commented on #12729
hi!
The upgrade was ok.
I don't have that directory / file

[2019-02-28 23:14] go-sudo commented on #12692
Hi @khouloudbelguith

we have this issue with also the default theme and here is the code of the file you ask for if you want login access please reach me on my email anami[at]playstore.ma

[code]

[2019-02-28 23:30] Bossman1337 commented on #12755
I’m not at my computer at the minute but I might have something for you tomorrow. I’ve created a function that will inject a form field into the fields array. It would be something like `function inject($form, $labelname, $beforeorafter)`
[code]

[2019-03-01 05:52] maviteknoloji opened #12757 "Prestashop Backoffice Error"
Admin > Products  > Duplucater

Error

www.site.com/admin/index.php/sell/catalog/products/unit/duplicate/155?_token=_5TKAKtfZRwSiVel2_VLHNVCW0Fbx4igU7K5k3uL2-I

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

[2019-03-01 07:43] khouloudbelguith commented on #12757
Hi @maviteknoloji,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pr

[2019-03-01 07:49] ink-ru commented on #10271
I have download newest prestashop. The problem still exists.

[2019-03-01 08:05] tomas862 commented on #10715
This issue is still pending with this Pull request https://github.com/PrestaShop/prestashop-ui-kit/pull/59 and https://github.com/PrestaShop/PrestaShop/pull/12436

[2019-03-01 08:08] khouloudbelguith commented on #10271
Hi @ink-ru,

The issue is not fixed yet, it is added to our bug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-03-01 08:14] khouloudbelguith commented on #12729
@seederp2p, you can find it in the /Project_folder/admin_folder/autoupgrade/tmp/log.txt
Thanks!

[2019-03-01 08:19] khouloudbelguith commented on #12692
Hi @go-sudo,

Could you please try to uninstall the ps_legalcompilance with removing the folder & then try to install it again.
Thanks to check & feedback.

[2019-03-01 08:24] maviteknoloji commented on #12757
PRESTASHOP 7.5.0

/home/vtwparan/public_html/vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/StrictSessionHandler.php dosyasında 101 satırında Notice
[8] SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/cpanel/php/sessions/ea-php70) failed: Permission denied (13)

(1/1) ContextErrorExceptionUyarı: SessionHandler :: gc (): ps_files_cleanup_dir: opendir (/

[2019-03-01 08:29] khouloudbelguith commented on #12757
@maviteknoloji,
You have a permission issue on your server [Permission denied].
Thanks to check your issue with your host & feedback.

[2019-03-01 08:44] jherry commented on #11939
If you still encounter the issue after upgrading Page Cache, check the file /override/classes/Dispatcher.php, make sure that the constructor, if overrided, forward the 'request' parameter

[code]

[2019-03-01 08:44] apcloic commented on #9702
Hi, any update regarding this issue ?
I'm using PS 1.7.5.0

[2019-03-01 09:03] khouloudbelguith commented on #9702
Hi @apcloic,

The issue exists also in the PS1.7.5.1, it is added to our bug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-03-01 09:43] johanlantz commented on #12727
Hi

I still think there is a bug here.

I can reproduce using a minimal example:
1. Create an empty child theme from classic.
2. Create an empty module using the Prestashop module generator.
3. Put the module in the dependencies folder of the child theme.
4. Add the dependency in config.yml
5. Add the hook in config.yml for the custom module.

Now, try to install this theme from the Backoffice and

[2019-03-01 09:47] khouloudbelguith commented on #12740
Hi @rGaillard,

I created a bash script start_dev.sh
[code]
then, I run this command `./start_dev.sh`, then 3 products are created concurrenctly without errors.
What do you think?
Thanks!

[2019-03-01 09:50] khouloudbelguith commented on #12755
Hi @rblaurin,

In your BO => Design => Positions page, you can re-order the position of modules displayed in a hook.
I hope this helps you.
Please be aware that the GitHub should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/p

[2019-03-01 09:58] johanlantz opened #12759 "Missing new-products page"
In previous versions there was a new-products page provided by default but it seems its no longer there in 1.7.I was trying to get feedback in the forum as well without luck:
https://www.prestashop.com/forums/topic/957362-is-there-a-new-products-page-in-17/

 Is this intentional or should there be something like:
{$urls.pages.new_products}

[2019-03-01 10:02] khouloudbelguith commented on #12759
Hi @johanlantz,

Yes, it still exists.
I attached a video record.
https://drive.google.com/file/d/1tuj9g1sV8ssoQBIuIAo0TcmZti6cLn-X/view
Thanks to check & feedback.

[2019-03-01 10:07] rblaurin commented on #12755
Hi @khouloudbelguith,
I think you did't understand. I am not asking for help, this is a feature request.  Isn't this the right place?
Positioning modules will not help me to put a field in the place I have mentioned because Prestashop doesn't allow modules to show fields there without overriding core classes.

[2019-03-01 10:07] khouloudbelguith commented on #12727
@johanlantz, Thanks for your feedback.
Yes, I tried with a child theme which has a custom module, when I try to install it, I have the same error
`"Cannot install module mymodule. The module is invalid and cannot be loaded."`
I tried with this child theme
[mythem.zip](https://github.com/PrestaShop/PrestaShop/files/2918951/mythem.zip)
checked with PS1.7.4.4 & PS1.7.5.1 & PS1.7.5.0 => same issue.
I’

[2019-03-01 10:15] khouloudbelguith commented on #12755
@rblaurin, that's OK.
I updated the template of your issue.
I tried with this module to add a new field in the create_account page
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2918980/mymodule.zip)
@marionf, @colinegin what do you think?
Is that possible to choose the exact position where the additional field?
Thanks!

[2019-03-01 10:17] MarsDevPL opened #12760 "[Idea] Dissociate Category cover and thumbnail images"
**Describe the bug**
During Category thumbnail editing the bug appears. I am editing Categories images and cat. thumbnails.
My Theme's Category cover image should have 1003 * 200px. When I chose the  image. it is automatically set as Category thumbnail, and CANNOT cahnge it. In my backoffice i chose Category thumbnail (97 * 128px) and I can only see it in my backoffice, but there is unproperly thu

[2019-03-01 10:19] johanlantz commented on #12727
Ok, cool. Then I leave it to you to see if it can be fixed. There is a workaround of course installing the module manually but I think this is important for theme developers so that a theme with custom modules can be installed without doing tricks to make it work.

[2019-03-01 10:30] khouloudbelguith commented on #12754
Hi @watou,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information
Thanks!

[2019-03-01 10:38] Bossman1337 commented on #12755
@rblaurin,

Does the hook **additionalCustomerFormFields** have the fields form in its $params array?

[2019-03-01 10:39] johanlantz commented on #12759
Thanks for being so reactive and answer quickly, it is super helpful

I explained myself poorly. I was just wondering if there was a premade option such as: {$urls.pages.prices_drop}
for the new product but I saw that it could be accomplished with the {url entity='new-products'} instead so closing this.

[2019-03-01 10:39] #12759 closed, assigned to nobody

[2019-03-01 10:44] khouloudbelguith commented on #12759
@johanlantz, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-03-01 10:52] khouloudbelguith commented on #12760
Hi @MarsDevPL,

Could you please confirm these steps to reproduce your issue:
1. If I upload a cover image after the category thumbnail, it erases the thumbnail.
2. If I delete the "Category Cover Image" the "Category thumbnail" is deleted too.
3. I tried to add a thumbnail image, in the FO, it is not displayed

In the BO
![image](https://user-images.githubusercontent.com/16067358/53633637-55ed2f8

[2019-03-01 11:21] khouloudbelguith commented on #12156
Hi @amtriorix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-01 11:21] #12156 closed, assigned to nobody

[2019-03-01 11:25] khouloudbelguith commented on #9547
Hi Patryk,

I cannot reproduce this issue with the latest version of the module 1-click upgrade v4.6.0,
I make an upgrade from PS1.7.4.4 to PS1.7.5.1 & it is OK.
so I close this issue.
Do not hesitate to re-open it if you still have the issue!
Thanks!

[2019-03-01 11:25] #9547 closed, assigned to nobody

[2019-03-01 11:43] #12285 closed, assigned to nobody

[2019-03-01 11:49] #12500 closed, assigned to nobody

[2019-03-01 11:50] jacket opened #12763 "Hardcoded image URLs should be using `Link::getImageLink`"
**Describe the bug**

On the product page of PrestaShop admin, images are displayed via hardcoded image URLs, instead of the correct method of `Link::getImageLink`. This is inconsistent because throughout all other PrestaShop admin and live web pages, product images are embedded with the special `Link::getImageLink` method.

This causes missing images if the product thumbnails are deleted, in pref

[2019-03-01 11:50] #9694 closed, assigned to nobody

[2019-03-01 11:59] rblaurin commented on #12755
@khouloudbelguith, thanks for updating. Sorry, I did't know that I should keep the questions of the template, I thought it was just a guide.

@Bossman1337, the fields form is not in its $params array. It could be also a good improvement.

[2019-03-01 12:05] ladypixl commented on #12676
@khouloudbelguith ,

thanks for your feedback.
I finally completely uninstalled my shop (fortunately, there was not much on it yet), and reinstall it from scratch. And I didn't reinstall the theme because I think it had modified something in native modules...

I don't have the 500 error anymore, but the search by attributes still returns 0 results.
Everything seems well configured, as you can see

[2019-03-01 12:10] Bossman1337 commented on #12755
@rblaurin hmmm the docs say that that hook does..

Anyways, currently PS is going through a migration to Symfony, so adding to forms will eventually be like your original post..

[2019-03-01 12:16] seederp2p commented on #12729
There you go.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2919340/log.txt)

[2019-03-01 12:39] rblaurin commented on #12755
@Bossman1337 yes, actually the hook return an array of FormFields that you have to create, but doesn't receive it as parameter.
I really don't know how it will work after migration. If we will be able to determine the fields position, maybe we should keep overriding the core files for now, as the module will need to be rewriten soon anyway.

[2019-03-01 12:51] Bossman1337 commented on #12755
Here is my code for hooking the admin categories and injecting a form field. It's not exactly the same as yours but might be able to get something from it.
Basically what its doing is pulling the form array, modifying/re-arranging it then applying it again.

[code]

And then the inject function here

[code]

Like i say this is for the admin section, let me know if you have any luck

[2019-03-01 12:55] rblaurin commented on #12755
@Bossman1337 thanks. Actually I already do it in a similar way for the admin section, but I can't do it in the front office. I couldn't find a hook with the formfields in $params.

[2019-03-01 12:56] Bossman1337 commented on #12755
It's a headache atm, the documentation is thin on creating new modules (Symfony). I'm having trouble getting and setting form data from the db via a form handler using Services etc. The PS devs are working hard but are not creating precise documentation for it.

[2019-03-01 13:00] Bossman1337 commented on #12755
Got you. Shame... Can you not do it by overriding the template (tpl) and adding it in that way?

[2019-03-01 13:08] rblaurin commented on #12755
Well, it is a work in progress, surely the docs will be extended. Anyway, I will have to take a good look at the Symfony docs before...

Yes, I can, but not through a module I think. I would have to create a child template, am I right?

[2019-03-01 13:08] khouloudbelguith commented on #12763
Hi @jacket,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-01 13:14] MarsDevPL commented on #12760
In my case:
1. If I upload a cover image after the category thumbnail;
- In the front I see the cover image instead the thumbnail, but when entering a subcategory - the cover image is showed correctly, but thumbnail is not showing correctly. On the thumbnail's place i see category image with disproportional size.
2. If I delete the "Category Cover Image" the "Category thumbnail" is deleted too. -

[2019-03-01 13:29] khouloudbelguith commented on #12760
@MarsDevPL, thanks for your feedback.

For the conclusion, I tried with PS1.7.5.1 & PS1.7.4.4

* If I upload a cover image after the category thumbnail, it erases the thumbnail.
* If I upload a thumbnail image after the cover image, the thumbnail image, in the FO is not displayed.
* If I delete the "Category Cover Image" the "Category thumbnail" is deleted too.
* I tried to add a thumbnail image,

[2019-03-01 13:30] jacket commented on #12763
I think you misunderstood. The problem is not with the addon. The problem is with core PrestaShop code. PrestaShop is not referencing images in the standard way. They're hard coded. Hopefully it's just an oversight, which can be resolved by referencing images like PrestaShop normally does in its code.

I work for the company that provides the Sirv addon.

[2019-03-01 13:33] khouloudbelguith commented on #12763
@jacket, thanks for these clarifications.
This issue is reproduced with PS1.7?
If yes, could you please provide me the module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-03-01 13:50] khouloudbelguith commented on #12676
@etasia79, I did not manage to reproduce the issue with PS1.7.5.1 & the ps_facetedsearch v2.2.1.
I attached a video record.
https://drive.google.com/file/d/1E0t9RQT9KwfSCj11yDe7EfMXIzfunvUR/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-01 13:52] Bossman1337 commented on #12755
I take it, it's a theme you have bought? And the files are within its own folder under themes directory?

[2019-03-01 13:59] rblaurin commented on #12755
Actually I want to create a module that works for any theme. I can do it manually by changing my theme files, but I can't sell a module that does the job.

[2019-03-01 14:05] Bossman1337 commented on #12755
You can create modules that work with any theme and hook into parts of it through the positions (Theme dependant), if you make your own them you can add any hook you like for your module to hook on to..

You can modify your theme as much as you want, the files are not core files.

[2019-03-01 14:07] khouloudbelguith commented on #12729
@seederp2p, there are no errors in your log.
Could you please try to replace the folder `classic` of your theme with another folder from a fresh install 1.7.5.1.
Thanks to check & feedback.

[2019-03-01 14:11] ladypixl commented on #12676
I enabled the debug mode in prestashop but the search doesn't generate no error anymore.
And in the logs I can't see what SQL request is generated (I looked in public_html/var/logs : maybe it's not the right place ?).

[2019-03-01 14:21] khouloudbelguith commented on #12763
Hi @jacket,

I just received the email.
I will check & feedback.
Thanks!

[2019-03-01 14:22] sarjon commented on #10560
Additional things left to do:
- [ ] Update commands/queries to accept native values in Customer subdomain
- [ ] Clean up `CustomerController` to reorder methods

[2019-03-01 14:24] rblaurin commented on #12755
Sure, I know I can modify my theme files. The point is that I want to sell a module that do all the job by itself. And a module can't override theme templates, afaik.

[2019-03-01 14:38] Bossman1337 commented on #12755
Yes you're right, modules cant override theme templates. I see your point though, hopefully it will get better once Symfony migration has been fully completed. PrestaShop 2.0 maybe?

[2019-03-01 14:38] matks commented on #10560
@sarjon 👍 Added to issue description

[2019-03-01 14:47] khouloudbelguith commented on #12763
@jacket, this module is only compatible with PS1.6.
Is not compatible with PS1.7?
Thanks!

[2019-03-01 14:49] khouloudbelguith commented on #12676
@etasia79,

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-03-01 14:51] colinegin commented on #11625
See this PR on the gamification module : https://github.com/PrestaShop/gamification/pull/63

[2019-03-01 14:52] rblaurin commented on #12755
Yes, I am afraid we will have to wait a couple of years for 2.0, it's a big change...
@marionf, @colinegin, do you think this could be done, or it would be better to keep overriding core files until the migration is finished? It won't be an issue with Symfony?

[2019-03-01 14:54] jacket commented on #12763
It is compatible with PS1.7 (v1.5.0.0 - v1.7.5.1).

[2019-03-01 14:59] khouloudbelguith commented on #12763
@jacket, thanks, it is installed in PS1.7.5.1.
I will check & feedback.

[2019-03-01 15:00] matks commented on #10285
@sarjon Do we have enough unit test coverage 🤔 ?

[2019-03-01 15:03] NIcolasVDM opened #12764 "301 redirects still working after closing down Prestashop subscription?"
Hello,

We are looking to acquire a Prestashop and use 301 redirects on all URLs to our own webshop (not running on Prestashop software), afterwards (timing?) we will close the old webshop, so I'm wondering if the 301 redirects will still work?

Who knows?

[2019-03-01 15:08] matks commented on #12764
💔

If by closing the old webshop you mean delete the code, no it wont work.

I'd guess the easier way to keep the 301 working would be to perform the redirections in a .htaccess file that would be the only thing you keep after the codebase is gone

[2019-03-01 15:12] ladypixl commented on #12676
@khouloudbelguith ,
that's what I've done : enabled the debug mode and looking in var/logs (the same as written in the page you linked).
Unfortunately it doesn't log nothing except the SQL requests for the translations.

[2019-03-01 15:18] NIcolasVDM commented on #12764
You might be correct... You have experience with this?

Others having an opinion or an idea?

[2019-03-01 15:49] khouloudbelguith commented on #12763
@jacket, I tried with PS1.7.5.1, but it takes a lot of time.
In the meantime, I tried with PS1.6.1.23, but it is OK
I attached a video record
https://drive.google.com/file/d/1vr4M5jWbJznvkn9qVW3kvCHtTO_nI-3j/view
Thanks to check & feedback.

[2019-03-01 15:52] khouloudbelguith commented on #12764
Hi @NIcolasVDM,

Thanks a lot for your report.
But this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-03-01 15:52] #12764 closed, assigned to nobody

[2019-03-01 15:55] jacket commented on #12763
Thanks for testing. Please enable the Sirv addon with the option attached,
then click Save settings.

On Fri, 1 Mar 2019 at 15:49, khouloudbelguith <notifications@github.com>
wrote:

[2019-03-01 16:11] MarsDevPL commented on #12760
I am not so deep into coding, so I just will wait for some solution:)

[2019-03-01 16:15] matks commented on #12118
https://github.com/PrestaShop/PrestaShop/pull/10455 has been merged
So we can now tackle this issue 👍

[2019-03-01 16:16] matks commented on #10652
Assigned to @sarjon as this is something we need to do for 1.7.6

[2019-03-01 16:17] khouloudbelguith commented on #12763
@jacket, I enabled the "Active" option => but it is OK.
I attached a video record.
https://drive.google.com/file/d/1ePEKSlq5bx-omazLGgf_YaKAkJG9X8Wv/view
Thanks to check & feedback

[2019-03-01 16:24] matks commented on #12118
All right, no CLDR service in 1.7.5.x so we can merge the 2 services without creating a BC

[2019-03-01 16:31] khouloudbelguith commented on #12676
@etasia79, I found the exact error.
the module doesn't show results of combinations out of stock.
Your ticket is a duplicate of #12143
So, I close it.
Thanks!

[2019-03-01 16:31] #12676 closed, assigned to nobody

[2019-03-01 16:31] khouloudbelguith commented on #12676
Duplicate of #12143

[2019-03-01 16:40] khouloudbelguith commented on #12364
Hi @pks891618,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-01 16:40] #12364 closed, assigned to nobody

[2019-03-01 16:44] matks opened #12767 "[SF Migration] What happens if we put all eligible SF services to private ?"
**Is your feature request related to a problem? Please describe.**
In order to allow reusage we currently put all SF services as public.
By the way this should be documented.

However this does not allow to use the performance boost of SF container compilation.

**Describe the solution you'd like**
1) Test what happens if we put all possible services (= all the ones not used in controllers) to pri

[2019-03-01 16:46] matks commented on #12767
@eternoendless @mickaelandrieu @sarjon @tomas862 @rokaszygmantas @jolelievre an opinion ? 😄

[2019-03-01 16:50] seederp2p commented on #12729
Hi!
Same thing.

By the way I tried with a different theme and same result.

[2019-03-01 16:53] juchems opened #12768 "jquery vulnerability in 2.2.4"
Bug Description:
A known, moderate severity jquery vulnerability exists in the bundled jquery library.

https://snyk.io/vuln/npm:jquery:20150627

This results in being flagged by Google for using technology with known vulnerabilities.

Earlier comments on #10463 indicated that this could be mitigated by using a different theme, but even when using a suggested theme like Classic-Rocket, we continue

[2019-03-01 16:53] khouloudbelguith commented on #12763
@jacket, I tested the module with PS1.7.5.1, the synchronise does not complete.
![image](https://user-images.githubusercontent.com/16067358/53653080-b2694280-3c4a-11e9-9425-a7d1f2d688de.png)
That's why I couldn't complete the test of your module with PS1.7.5.1.
Thanks

[2019-03-01 17:05] khouloudbelguith commented on #12729
Hi @seederp2p,

Despite our several trials, we could not reproduce your issue with the provided information with fresh install PS1.7.5.1 & after upgrade from PS1.7.5.0.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your i

[2019-03-01 17:05] #12729 closed, assigned to nobody

[2019-03-01 17:10] khouloudbelguith commented on #12768
Hi @juchems,

I have the same issue with PS1.7.5.1 & the default theme Classic
![image](https://user-images.githubusercontent.com/16067358/53654082-20af0480-3c4d-11e9-88f1-9eab2aec2bf8.png)
But, as @eternoendless said in this comment: https://github.com/PrestaShop/PrestaShop/issues/10463#issuecomment-425008014
Unfortunately, we cannot upgrade Bootstrap and jQuery on the classic theme until the nex

[2019-03-01 17:10] #12768 closed, assigned to nobody

[2019-03-01 17:10] khouloudbelguith commented on #12768
Duplicate of #10463

[2019-03-01 17:27] onlinedhlx commented on #12714
hi, from what i can tell neither of these are the same issue i am having

regards

[2019-03-01 22:55] seederp2p commented on #12729
Hi!
I did some research and changed my shop1.json manually to have:

"cms":"layout-full-width"

But i got this:

[PrestaShopException]
No template found for cms/page
at line 68 in file classes/Smarty/TemplateFinder.php

63.                     return $tpl;
64.                 }
65.             }
66.         }
67.
68.         throw new PrestaShopException('No template found for ' . $template);
69.

[2019-03-01 23:12] seederp2p commented on #12729
FYI If I manually add "cms":"layout-left-column" to shop1.json, it changes the layout BUT it is not present at layouts.

[2019-03-02 05:28] TomHsiung opened #12770 "Cannot login into the back office"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

Several days after auto-upgrading from

[2019-03-02 05:34] TomHsiung commented on #10931
1.7.5.1,

There are several errors.
Error found : CData section not finished Add a series of images to your homepage, with a sl in country_module_list.xml file.
Error found : Premature end of data in tag description_full line 1 in country_module_list.xml file.
Error found : Premature end of data in tag module line 1 in country_module_list.xml file.
Error found : Premature end of data in tag module

[2019-03-02 06:01] TomHsiung opened #12771 "Back office orders page loads very very slowly."
Hello,

When in the back office, I want to check orders so I clicked the orders link. However, the webpage of orders loads very very slowly.

Tom

[2019-03-02 07:45] alireza2005 opened #12772 "Fonts are not loaded when not connected to internet"
hello.

I install prestashop 1.7.5.1 (the final version) in local server (in wamp server - Apache 2.4.37 - PHP 7.2.14 - MySQL 5.7.24). My front office is ok, but most pages in my back office have problem ( for example  picture below )(in this case My computer is not connected to the Internet).
![product problems](https://user-images.githubusercontent.com/48148331/53679000-f7898500-3cdb-11e9-9443-d

[2019-03-02 09:43] nexinet commented on #9998
Hello Kholoud this is a big bug so I think developer need to focus on it.
or give us a workaround to help that
thanks

[2019-03-02 11:20] rblaurin commented on #12772
Hi
It seems your browser is not able to access the material icons. Is there something in javascript console log?

[2019-03-02 12:18] alireza2005 commented on #12772
Hi
where is  javascript console log

[2019-03-02 12:38] rblaurin commented on #12772
If you are using Google Chrome, just press F12 and click the Console tab

[2019-03-02 12:56] rblaurin opened #12773 "Improve product images management in basic settings tab"
**Is your feature request related to a problem? Please describe.**
When adding or editing a product in back office, users can add multiple images at a time, but it is not possible to delete or update multiple images at a time. You cannot select more than one.
Delete images in bulk would be very useful, specially now that we are not able to duplicate products ignoring its images anymore (it was an

[2019-03-02 12:57] alireza2005 commented on #12772
![errors](https://user-images.githubusercontent.com/48148331/53682145-0d14a400-3d08-11e9-89ba-cc3de57cd7ed.PNG)

[2019-03-02 13:19] rblaurin commented on #12772
Can you send also a full print of the network tab?

[2019-03-02 13:32] alireza2005 commented on #12772
![errors-network](https://user-images.githubusercontent.com/48148331/53682641-0177ac00-3d0d-11e9-983b-8faed61b329a.PNG)

[2019-03-02 13:38] rblaurin commented on #12772
Try to clear cache and cookies, go to command prompt and enter the commands listed below, one by one:
ipconfig /flushdns
ipconfig /renew

[2019-03-02 14:02] alireza2005 commented on #12772
Hi
ipconfig donot solve my problem
when my computer is connected to internet there is no problem
in offline mode as if google font and btn (botton) classes have loading problem

[2019-03-02 16:23] rblaurin commented on #12772
Ok, sorry, I misunderstood your problem. You are not connected.
I am afraid this is the default behavior of Prestashop, you must be connected because it uses Google Fonts. I think these fonts could be stored locally to avoid this behavior. Maybe you could download them and modify the paths in admin/themes/new-theme/public/theme.css file.

[2019-03-02 16:50] claustrier commented on #15205
Funny thing:
(Had someone fix the upgrade to 1.7.5)
Getting the exact same error while trying to upgrade from 1.7.5 to 1.7.5.1:

[INTERNAL] /home/vildmedg/staging/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php line 102 - Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException: The service "installer" has a dependency on a non-exist

[2019-03-02 17:35] andreepi opened #12774 "en-tête et pieds de page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-03-02 17:37] andreepi commented on #12774
Bonjour,

En travaillant sur ma page, j'ai malheureusement causé des problèmes 👍
- mon en-tête avec le bloc liens permanents s'est décalée, je n'arrive pas à la replace correctement
- mon pied de page s'est décalé, les blocs ne sont plus correctement placés, notamment celui intitulé "informations".

Merci de m'aider

[2019-03-02 17:37] #12774 closed, assigned to nobody

[2019-03-02 18:00] claustrier commented on #15205
@dennis-nielsen do you have viabill installed?

uninstall it (delete folder), upgrade presta and reinstall viabill

[2019-03-02 18:02] alireza2005 commented on #12772
Hi
Thank you very much for your help
good bye

[2019-03-02 21:28] Flower7C3 opened #12775 "cart subtotal shipping value it free, while it should not"
**Describe the bug**
Shipping cost is always free for not logged person.

**To Reproduce**
Steps to reproduce the behavior:
1. Add any non virtual item to cart.
2. Go to cart page. In summary box shipping is free - which is invalid (screenshot 1).
3. Modify file `classes/Cart.php` in line 3233 add anything (screenshot 2).
4. Reload cart page. In summary box shipping is not free - which is OK (scre

[2019-03-02 22:10] Flower7C3 commented on #12775
Probably the problem is with math equations from 3229 and 3230 lines in `classes/Cart.php` file:
`$_total_shipping['with_tax'] += $delivery_option_list[$id_address][$key]['total_price_with_tax'];
$_total_shipping['without_tax'] += $delivery_option_list[$id_address][$key]['total_price_without_tax'];`

Everything is ok when I change it to:
`$_total_shipping['with_tax'] = $_total_shipping['with_tax']

[2019-03-03 01:15] go-sudo commented on #12692
Hi @khouloudbelguith

I did uninstall the module and nothing change the issue still here,

https://www.youtube.com/watch?v=blsgVuT31Gs

[2019-03-03 07:43] IranDec opened #12777 "after modify product quantity change to zero in PrestaShop 1.7.5.1"
Hi I have some problem in my back office

1- after modifying a product the quantity of that product change to zero in PrestaShop 1.7.5.1 rtl (Persian language panel )
2- and in some page I can't modify the product and I get error can't saving

Both of problem related to Persian language panel , because last days I added English language to my back office and test the both of them with English dash

[2019-03-03 08:33] andreepi commented on #12774
Bonjour,

En travaillant sur ma page, j'ai malheureusement causé des problèmes 👍

mon en-tête avec le bloc liens permanents s'est décalée, je n'arrive pas à la replace correctement
mon pied de page s'est décalé, les blocs ne sont plus correctement placés, notamment celui intitulé "informations".
Merci de m'aider

[2019-03-03 09:43] shikotakcom commented on #12777
If I want to complete our friend report, I should say after modifying a product in Persian language, the quantity of products is shown in back office but in front office the product can not be order and  its quantity is zero.
And it seems this problem is just in Persian language.

[2019-03-03 09:52] farhadheshmati commented on #12777
Hi
I have some problem in
my Persta panel

1- after modifying a product the quantity of that product change to zero in PrestaShop 1.7.5 rtl (Persian language panel)
2- and in some page I can't modify the product and I get error can't saving

3- in frontend when a customer want to add their address (in mobile and tablet version), get postal code and mobile phone type errors and both of them accurat

[2019-03-03 10:00] andreepi opened #12778 "Problème bloc information client"
Bonjour,

Mon bloc information clients s'est décalé vers le bas. Je n'arrive pas à le remonter.
[Ecran boutique.pdf](https://github.com/PrestaShop/PrestaShop/files/2922977/Ecran.boutique.pdf)

https://se-soigner-nature.com/

Merci

[2019-03-03 10:01] andreepi commented on #12778
Bonjour,

Je n'ai plus accès à l'expertise prestashop : "Contrôleur introuvable"
Je ne comprends pas pourquoi.
Merci de m'aider.

[2019-03-04 06:38] ReddySk commented on #12721
Hi @khouloudbelguith,

I have tried to finish the installation out of office connected to internet directly and it finished with success.

It seems that there is hidden some internet check which blocks the installation in case that you have not direct connectivity to internet.

I suppose if you will add an option for setup proxy with authentication as i.e. wordpress has, it will fix the problem fo

[2019-03-04 07:11] khouloudbelguith commented on #12374
Hi @PrestaShark,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-04 07:11] #12374 closed, assigned to nobody

[2019-03-04 07:12] khouloudbelguith commented on #12373
Hi @cedricfontaine,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-04 07:12] #12373 closed, assigned to nobody

[2019-03-04 07:15] L3o-pold opened #12779 "Installing Prestashop 1.7.5.x with PHP 5.6 fails"
Install fails with PHP 5.6.40 and Prestashop 1.7.5.x during the Creat table in the database operation.

The url `http://example.com/e-commerce/install/index.php?installDatabase=true&_=1551683304694` returns the following error:
`web/e-commerce/vendor/doctrine/annotations/lib/Doctrine/Common/Annotations/DocParser.php(663): Doctrine\\Common\\Annotations\\DocParser->Annotation(), referer: http://leop

[2019-03-04 07:15] khouloudbelguith commented on #12386
Hi @rafaviana,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-04 07:15] #12386 closed, assigned to nobody

[2019-03-04 08:05] khouloudbelguith commented on #12778
Hi @andreepi,

About your block, could you please navigate to your BO => Design => Positions => search for your "user information" module & try to reorder the position of this module.
About your second problem, have you a problem in the BO => Shop Parameters => Merchant Expertise page? if yes, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't

[2019-03-04 08:14] khouloudbelguith commented on #12721
@ReddySk, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-04 08:14] #12721 closed, assigned to nobody

[2019-03-04 08:15] khouloudbelguith commented on #12770
Hi @TomHsiung,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-03-04 08:16] khouloudbelguith commented on #12771
Hi @TomHsiung,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-03-04 08:26] khouloudbelguith commented on #12408
Hi @Partenopeo83,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-04 08:26] #12408 closed, assigned to nobody

[2019-03-04 08:47] khouloudbelguith commented on #12779
Hi @L3o-pold,

I did not manage to reproduce the issue with PrestaShop 1.7.5.1 & PHP5.6.32.
I attached a video record.
https://drive.google.com/file/d/1IebpyUfPEYssPBFqJoWCNuf3iLWp-yc2/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error l

[2019-03-04 09:03] matks commented on #15205
@claustrier Are you referring to https://addons.prestashop.com/en/payment-card-wallet/40121-viabill-official-try-before-you-buy.html ?

[2019-03-04 09:04] Lwackp opened #12780 "hookActionCarrierProcess no $_POST values"
**Describe the bug**
When using ActionCarrierProcess hook in a module, the callback is correctly called but no POST value is availabled. Dumping $_POST returns an empty array and Tools::getValue returns false.

I found quite a few post online about this but no fix. Apparently this used to work on 1.6.

**To Reproduce**
1. Create a module
2. Hook it to ActionCarrierProcess and for example hookDispl

[2019-03-04 09:09] claustrier commented on #15205
@matks yes, correct...

I uninstalled the module (and deleted folder), and made a succesful upgrade from 1.7.5 > 1.7.5.1. After that i reinstalled the module and everything is working.

Module breaks the upgrade

[2019-03-04 09:20] Quetzacoalt91 commented on #15205
Thanks ! That was the missing information about this issue.

[2019-03-04 09:22] Codencode opened #12781 "Filter order of the form Faceted search"
When changing the position of filters in a model, this is retained until you access the edit in that template again; in fact, in doing so, the system shows the positions of the filters as they originally were.
The problem does not concern memorization, but it concerns the visualization in the modification phase, in fact, there are no instructions to show the filters respecting the previously speci

[2019-03-04 09:40] khouloudbelguith commented on #12777
Hi @IranDec, @farhadheshmati, @shikotakcom,

About the first & the second issue, I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1yinYrgC8jmBjGJsAwq9tml1MKXBARVDB/view
About the last issue, do you need to add a code postal with Arab number like attached in the screenshot?
![image](https://user-images.githubusercontent.com/16067358/

[2019-03-04 09:44] khouloudbelguith commented on #12781
Hi @Codencode,

We are aware of this issue, it is in progress.
We are currently working on a big refactoring of this module.
Your ticket is a duplicate of #9880
So, I close it.
Thanks!

[2019-03-04 09:44] #12781 closed, assigned to nobody

[2019-03-04 09:44] khouloudbelguith commented on #12781
Duplicate of #9880

[2019-03-04 09:50] khouloudbelguith commented on #12773
Hi @rblaurin,

Thanks for your suggestion.
@marionf, @colinegin, what do you think?
I think it could be a good improvement.

Related previous ticket: http://forge.prestashop.com/browse/FF-74
Thanks!

[2019-03-04 10:00] molearnik opened #12783 "BackOffice Cookie does not have the secure flag set when SSL is enforced"
**Description**
PROD PrestaShop instances are usually configured to enable SSL on all pages. In that case all Cookie objects should be constructed with "secure" flag in order browsers never send such a cookie over HTTP. Hereby the overall security would be further augmented (regardless of other security controls like the actual Cookie encryption) with very little DEV effort. In addition, security

[2019-03-04 10:01] andreepi commented on #12778
Hello,

Thank you, I managed to put my blocks back correctly.
Yesterday, impossible and today is ok.

In "Administration - expertise prestashop", there is "Controller not found".

And I would like to set up shipping costs for France at 2 euros. Despite
the introduction of the carrier with elements, it does not take me into
account.
I do not understand why.

Thanks a lot for your help

*Se Soigner

[2019-03-04 10:03] andreepi commented on #12778
Hello,

I have another question. On mobile, I would like to put a drop-down menu
instead of its full display. Could you tell me how?

thank you so much

*Se Soigner NatureA. Pierdon*

Le lun. 4 mars 2019 à 09:05, khouloudbelguith <notifications@github.com> a
écrit :

[2019-03-04 10:10] andreepi commented on #12778
Hello,

I also have a "bug" in the footer: customer information.
promotion, new products and best sellers are not checked in the block yet
they appear.
I tried everything to rectify without success.
Would you know what's going on?

thank you so much

*Se Soigner NatureA. Pierdon*

Le lun. 4 mars 2019 à 09:05, khouloudbelguith <notifications@github.com> a
écrit :

[2019-03-04 10:10] khouloudbelguith commented on #12775
Hi @Flower7C3,

In your BO => IMPROVE => Carriers => Preferences page, you can edit the carrier by default, so in the FO, you can have a carrier with not a free value.
I attached a video record.
https://drive.google.com/file/d/1M7KN8jHOhCnHIkQKwUd0vL3NF301OuaQ/view
Thanks to check & feedback.

[2019-03-04 10:12] khouloudbelguith commented on #12775
@Flower7C3, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks

[2019-03-04 10:15] Codencode commented on #12781
Ok Tranks!

[2019-03-04 10:30] sarjon commented on #11038
@TristanLDD any news on this?

[2019-03-04 10:32] L3o-pold commented on #12779
It's a shared hosting...
Error logs: https://pastebin.com/qdezsisH
Javascript console log is empty.
Debug mode is on with the following screenshot

![capture d ecran 2019-03-04 a 11 30 38](https://user-images.githubusercontent.com/4710495/53727675-11100580-3e71-11e9-896e-28be0fefd0eb.png)
![capture d ecran 2019-03-04 a 11 30 23](https://user-images.githubusercontent.com/4710495/53727676-11100580-3

[2019-03-04 10:35] matks commented on #12779
@L3o-pold Hi, it seems related to caching, from Google I can find people having the same issue:
- https://stackoverflow.com/questions/47443381/symfony-3-3-cant-find-doctrine-annotations
- (French) https://openclassrooms.com/forum/sujet/symfony-3-3-probleme-avec-les-annotations-doctrine
- (French) https://openclassrooms.com/forum/sujet/symfony-probleme-annotations-en-prod

[2019-03-04 10:41] L3o-pold commented on #12779
@matks There is no opcache on this hosting

See https://presta.leopez.ch/phpinfo.php

PS: Openclassrooms seems down ;)

[2019-03-04 10:41] khouloudbelguith commented on #12780
Hi @Lwackp,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
I checked with this code line added in my module
[code]
In the FO, in the checkout page
var_dump($_POST); => array(0) { } => an empty array
var_dump(Tools::getValue($_POST)); => bool(false) => false return

![image](https://user-images.githubusercontent.com/16067358/53727865-98f60f80-3e71-11e9-9463-0be

[2019-03-04 11:01] khouloudbelguith commented on #12778
Hi @andreepi,

About the

Try to re-install the gamification module & clear cache.

You would like to edit this only for france or the all the Europe zone?
If for the europe zone, you can edit your carrier, in the second Tab, select Europe for the ranges
![image](https://user-images.githubusercontent.com/16067358/53729192-d7d99480-3e74-11e9-82c0-fe65f4c8b4fd.png)
If, you want only for france, you

[2019-03-04 11:17] khouloudbelguith commented on #12779
Hi @L3o-pold,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) & try those commands to clear cache:

[code]

Thanks to check & feedback.

[2019-03-04 11:24] andreepi commented on #12778
Hello,

Thank you. It's OK for "prestashop expertise"

For shipping costs, that's what I did. But he does not take it into account.

Informations :
[image: image.png]

Version Prestashop : 1.6.1.18
<https://se-soigner-nature.com/vgfueoguy6hmplmt/index.php?controller=AdminDashboard&token=588c86221d22539c8a4e993122c0d57a>

thank you so much

*Se Soigner NatureA. Pierdon*

Le lun. 4 mars 2019 à 12:01

[2019-03-04 11:29] khouloudbelguith commented on #12772
Hi @alireza2005,

I did not manage to reproduce the issue with PrestaShop 1.7.5.1, I tried with private navigation & no connection.
I attached a video record.
https://drive.google.com/file/d/1IUKMW9_P8WKyxK5fkXwVwwBLgSdUe1z3/view
I think you have a conflis in your address ip.
Thanks to check the issue with your host & feedback.
Thanks!

[2019-03-04 11:35] seederp2p opened #12785 "Wrong behaviour of Block Category"
With my version 1.7.5.1 if I set CMS to have two collumns (Category Block Enabled) it shows the last category I visited. In my opinion, if you're NOT searching a category it should display the root category and not the last visited.

To Reproduce
Enable Category Block to show at CMS pages.
Visit a Category
Visit a CMS page
Check the category displayed at the Category Block

Additionnal information

[2019-03-04 11:41] khouloudbelguith commented on #12714
@onlinedhlx, thanks for your feedback.
This issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2019-03-04 11:41] khouloudbelguith commented on #12714
Duplicate of #9809

[2019-03-04 11:43] onlinedhlx commented on #12714
Will take another look

On Mon, 4 Mar 2019, 12:41 khouloudbelguith <notifications@github.com wrote:

[2019-03-04 11:44] Vulchoc opened #12786 "Login a prestashop user from external web application"
I would login Prestashop user from an external web application (developed in c#) and then redirect him to my Prestashop as a connected user.

My approach consist in a POST HTTP call to the ‘authentication’ controller of the Prestashop with this parameters and theirs respective values:
-	email -> afolin@scriba.fr
-	passwd -> hash in MD5
-	back -> my-account
-	SubmitLogin -> true

The HTTP response

[2019-03-04 11:48] khouloudbelguith commented on #12786
Hi @Vulchoc,

Thanks a lot for your reporting.
But, this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-03-04 11:48] #12786 closed, assigned to nobody

[2019-03-04 11:48] Vulchoc commented on #12786
Oh sorry, thx you.

[2019-03-04 11:49] khouloudbelguith commented on #10931
Hi @TomHsiung,

This is a cache issue.
Try to clear cache manually by deleting all the folder into var/cache (prod & dev).

Thanks!

[2019-03-04 11:53] AlexanderKosianchuk commented on #10161
@khouloudbelguith, оh, sorry, i have found i've used unstable 1.7.6.0

[2019-03-04 11:58] khouloudbelguith commented on #10161
@AlexanderKosianchuk, thanks for your feedback

[2019-03-04 11:58] jolelievre commented on #12767
I think this will cause a lot of Notice messages no? I believe SF 3.4 still authorizes to `get` private services but it will be impossible in next versions (maybe already impossible in 4.0, to be confirmed).

Besides are you sure setting the services as private has an influence on performance/optimization? I think it's only about the "visibility" of the service but I'm not sure it changes anything

[2019-03-04 12:08] rblaurin commented on #12772
@khouloudbelguith, I think you have to try to navigate between BO pages. I managed to reproduce It this way.

[2019-03-04 12:16] khouloudbelguith commented on #12785
Hi @seederp2p,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4
In the BO => Design => Theme & Logo => Click on "Choose layouts" => Edit CMS to `Two Columns, small left column - Two columns with a small left column`
In the FO =>
I navigate to a page first => OK.
![image](https://user-images.githubusercontent.com/16067358/53732859-74089900-3e7f-11e9-9bf3-e21b777c9

[2019-03-04 12:18] khouloudbelguith commented on #10763
Hi @kpodemski,
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4 also.
In the BO => Design => Theme & Logo => Click on "Choose layouts" => Edit CMS to `Two Columns, small left column - Two columns with a small left column`
In the FO =>
I navigate to a page first => OK.
![image](https://user-images.githubusercontent.com/16067358/53732859-74089900-3e7f-11e9-9bf3-e21b777c90cb.png)

If I navi

[2019-03-04 12:20] khouloudbelguith commented on #12785
Hi @seederp2p,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10763
So, I close it.
Thanks !

Best regards, Khouloud

[2019-03-04 12:20] #12785 closed, assigned to nobody

[2019-03-04 12:20] khouloudbelguith commented on #12785
Duplicate of #10763

[2019-03-04 12:24] Flower7C3 commented on #12775
@khouloudbelguith in BO default carrier is set. I have checked it on clean setup with PHP 7.2 - problem also occurs.
Please note, that it could be fixed when You change this calculation:
[code]
with longer version:
[code]

[2019-03-04 12:29] khouloudbelguith commented on #12778
@andreepi, I did not manage to reproduce the issue with PS1.6.1.23.
I attached a video record.
https://drive.google.com/file/d/1-YLZVBUN08k1PYUkjR_HltDH-Cif0Poc/view
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
Your bug isn’t critical or a security issue, s

[2019-03-04 12:29] #12778 closed, assigned to nobody

[2019-03-04 12:35] L3o-pold commented on #12779
@khouloudbelguith

[code]

[code]

[2019-03-04 13:04] matks commented on #12767
@jolelievre According to [Symfony documentation](https://symfony.com/doc/current/service_container/alias_private.html), "Private services are special because they allow the container to optimize whether and how they are instantiated. This increases the container's performance."

I'm thinking about putting private only _eligible_ services, which means all service being injected only. Whenever we se

[2019-03-04 13:23] khouloudbelguith commented on #12775
@Flower7C3, the carrier by default in your case is free shipping or not?
Why, when you have free shipping, is invalid?
Thanks!

[2019-03-04 13:28] onlinedhlx commented on #12714
can you point out how this was fixed, can't seem to see the resolution to the problem

[2019-03-04 13:30] khouloudbelguith commented on #12714
@onlinedhlx, isn't your issue duplicate of this ticket: #9809?
Thanks!

[2019-03-04 13:31] onlinedhlx commented on #12714
not as far as i can tell...

[2019-03-04 13:33] onlinedhlx commented on #12714
their issue
"When client connect to backoffice and operate on product the browser blocks because the Features tab are too large.
Is there a best way to paginate and manage features in admin product page?"

MY ISSUE - blank screen when editing product....

thanks

[2019-03-04 13:36] khouloudbelguith commented on #12714
@onlinedhlx, have you tried to make this fix: #8871? it improves rendering of combinations in the Product page, it is fixed in the PS1.7.3.1.
Thanks!

[2019-03-04 13:38] onlinedhlx commented on #12714
we don't have combinations as far as i know.. checking with customer....

[2019-03-04 13:39] onlinedhlx commented on #12714
no combinations were added...

[2019-03-04 13:40] khouloudbelguith commented on #12714
@onlinedhlx, only blank page when you edit a standard product without combinations?
Thanks!

[2019-03-04 13:42] onlinedhlx commented on #12714
yep,

try to edit or add a product and get a blank page

(confirmed there are no product combinations)

[2019-03-04 13:51] khouloudbelguith commented on #12714
@onlinedhlx, to understand your issue, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
In fact, a blank page cannot help us to understand your issue.
thanks!

[2019-03-04 13:52] onlinedhlx commented on #12714
i have said there is no php error log, i asked and was told there isn't one

can you use the log in i sent you to get the debug mode report?

[2019-03-04 14:07] Flower7C3 commented on #12775
@khouloudbelguith by default I have non free shipping carrier, but in cart there if free shipping message. As I wrote there is a bug with shipping cost calculation.

[2019-03-04 14:10] #12118 closed, assigned to matks

[2019-03-04 14:21] khouloudbelguith commented on #12783
Hi  @molearnik,

Thanks for your report.
Could you please confirm these steps:
1. SSL enabled / SSL enabled on all page
2. When I navigate to the BO
In the Dev Tools => Application Tab => Click Storage / Cookies
I have
![image](https://user-images.githubusercontent.com/16067358/53739065-2563fa80-3e91-11e9-8e68-ef7f1ff95042.png)

Thanks!

[2019-03-04 14:28] khouloudbelguith commented on #12714
@onlinedhlx, I tried with your shop, debug mode enabled, the same issue occurs.
I try to edit a product, just a blank page.
This is cannot help us
Thanks!

[2019-03-04 14:28] #12626 closed, assigned to nobody

[2019-03-04 14:31] onlinedhlx commented on #12714
that is all the info i have..

server guys have said there are no error logs, and all is working fine
there end..

everything else seems to work fine on prestashop so something to do with
how it deals with products has gone wrong. i need help to fix it

On Mon, 4 Mar 2019 at 15:28, khouloudbelguith <notifications@github.com>
wrote:

[2019-03-04 14:32] khouloudbelguith commented on #12714
@onlinedhlx, The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself is vague, there are actually several different issues that can cause the 500 error message to appear.

[2019-03-04 14:34] onlinedhlx commented on #12714
i dont get an error message, it doesn't make it that far it seems...

On Mon, 4 Mar 2019 at 15:33, khouloudbelguith <notifications@github.com>
wrote:

[2019-03-04 14:38] khouloudbelguith commented on #12714
@onlinedhlx, I get this error in your shop,
[code]
As I said, there are several different issues that can cause the 500 error message to appear.
Thanks!

[2019-03-04 14:40] khouloudbelguith commented on #12775
@Flower7C3, but in my case, with fresh installation 1.7.5.1, I did not manage to reproduce the issue.
https://drive.google.com/file/d/1fkY98VvLoVtAwSJyBrO2z1G99WggTRtj/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console

[2019-03-04 14:40] onlinedhlx commented on #12714
i have given all the info i can about this issue...

this was the reply from my server guy about error logs

"The Apache logs are not available.
PHP error logs should i think by default be being output from presta ?"

[2019-03-04 14:41] khouloudbelguith commented on #12692
@go-sudo, to be sure is not a module issue, if you try to disable the ps_legalcompilance module temporarily, the issue occurs again?
Thanks!

[2019-03-04 14:47] jolelievre commented on #12767
Ok that's great news! Then it would be a great idea. Even without this optimization actually use as many private services is best practice, as it encourages us and other developers to use dependency injection properly.
Of course to need to identify correctly which services should be public/private.

Additionally we could also look into lazy services https://symfony.com/doc/3.4/service_container/la

[2019-03-04 14:50] khouloudbelguith commented on #12779
@L3o-pold, could you please try to go to your Projet_Folder/src/PrestaShopBundle\Entity\Translation.php

Search for this expression `Table` and check it is displayed like that
 `* @ORM\Table(`
not like this
 `* @ORM/Table(`
Thanks to check & feedback.

[2019-03-04 14:52] khouloudbelguith commented on #12714
@onlinedhlx, in your Project_Folder/var/log, you don't have any files log?
Thanks!

[2019-03-04 15:03] L3o-pold commented on #12779
[code]
I installed Prestashop 1.7.5.1 zip from the official website

[2019-03-04 15:06] khouloudbelguith commented on #12772
Hi @rblaurin,

This issue occurs only when I'm offline & in the Symfony migrated page.
![image](https://user-images.githubusercontent.com/16067358/53741489-cf925100-3e96-11e9-9268-2ae722fd5deb.png)
Because those links are not loaded
https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&subset=latin-ext
https://fonts.googleapis.com/icon?family=Material+Icons

This issue occurs with Pre

[2019-03-04 15:14] khouloudbelguith commented on #12779
@L3o-pold, thanks for your feedback.
Yes, but I said before, in my case, PS1.7.5.1 is well installed with PHP5.6.32.
I will try to install it again with PHP5.6.40 & feedback.
Thanks!

[2019-03-04 15:57] alireza2005 commented on #12772
Hi
Could not have these files inside PrestaShop to be used in offline mode in local server?

[2019-03-04 16:20] khouloudbelguith commented on #12779
@L3o-pold, I tried also with PHP 5.6.40 & ps1.7.5.1 is successfully installed, here's my PHP info file
[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/2927218/phpinfo.pdf)
![image](https://user-images.githubusercontent.com/16067358/53746548-b347e180-3ea1-11e9-8589-f1829ff4a8f9.png)

Thanks!

[2019-03-04 16:56] go-sudo commented on #12692
Hi
The module is not enable and i did uninstall it and remove it from ftp
Yes the issue occurs.

[2019-03-04 17:01] khouloudbelguith commented on #12692
@go-sudo, so the module is not the problem, you can install it again.
Have you tried to contact the theme author about this issue?
Because this issue is fixed in the PS1.7.5.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/9214/
Thanks!

[2019-03-04 17:21] eternoendless commented on #10463
Hi @rdy4ever

jQuery is included in Core (`themes/package.json`), AND in classic (`themes/classic/_dev/package.json`).

[2019-03-04 17:25] eternoendless commented on #11352
Maybe jQuery migrate could be a way to upgrade while keeping backwards compatibility 🤔

[2019-03-04 18:27] go-sudo commented on #12692
Hi
Tje issue occurs with the default theme also so I think it's matter of JS files.
I will try this evening your link.
Regards

[2019-03-04 20:03] rblaurin commented on #12775
@khouloudbelguith, I can reproduce It. Try to add a new product to the cart in a new incognito window and then go to the cart.
It seems that when no delivery info is provided yet, Prestashop assumes it is a Free shipping, but in this case no shipping prices would be shown.

[2019-03-04 20:40] L3o-pold commented on #12779
@khouloudbelguith I'll try to find the time to debug this myself.
If not we'll disable Prestashop 1.7.5.x for our client on their shared web hosting.

[2019-03-04 21:02] watou commented on #12687
Hi @khouloudbelguith , I recommend this issue be re-opened, as other information strongly suggests that this is actually a real concern due to recent changes in the Google Search Console.  Have a look at https://github.com/woocommerce/woocommerce/issues/22896 for a very similar issue opened and being worked there, where the current working thinking is similar to my comments at the top of this issu

[2019-03-04 21:41] ghost commented on #15205
@claustrier  and @Quetzacoalt91 I am very sorry for this extremely late answer. I didnt see the mails before now. I had to revert to my backup (it was my production that failed).

Funny thing is.. Yes @claustrier i actually do have Viabill installed, so thank you for this 👍

[2019-03-04 22:50] avatec opened #12789 "Problem with importing product using example csv file"
**Describe the bug**
Trying to import product using css example file.

**To Reproduce**
1. Go to config > advanced > import
2. Download example product csv file
3. Try to upload it

**Additionnal information**
PrestaShop version: 1.7.5.1

Repair - missing fields: after weight 2 fields:
- Delivery time of products available in the warehouse
- The product delivery time is out of date with the option

[2019-03-05 01:35] vhvhvm commented on #12687
El problema sigue igual..

[2019-03-05 07:43] khouloudbelguith commented on #12789
Hi @avatec,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9764
So, I close it.
Thanks!

[2019-03-05 07:43] #12789 closed, assigned to nobody

[2019-03-05 07:43] khouloudbelguith commented on #12789
Duplicate of #9764

[2019-03-05 07:47] khouloudbelguith commented on #12779
@L3o-pold, thanks!
Waiting for your feedback.

[2019-03-05 08:03] khouloudbelguith commented on #12775
Hi @rblaurin,

Thanks for your feedback.
I tried with PS1.7.5.1 but it is OK.
https://drive.google.com/file/d/12TZgo09WkiXScmgcUJ-AWYzNCMSGlrtG/view
Thanks!

[2019-03-05 08:04] khouloudbelguith commented on #12692
@go-sudo, We need to retrieve again the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-05 08:16] infopavon opened #12790 "CMS pages in prestashop 1.7 load in white"
Good afternoon,

We are using Prestashop 1.7.5 and the CMS pages do not load the content. Why? Is it a bug?

Web: https://lasmarcasdemoda.com

CMS page: https://lasmarcasdemoda.com/content/7-entrega-y-envio

Thank you.

I wait for news.

Greetings, Rafael M.

[2019-03-05 08:28] khouloudbelguith commented on #12790
Hi @infopavon,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1lGnDAcfKkPS2TnHdUuP0nOlbsU8WXg2p/view
Did you use a multilanguage?
Thanks!

[2019-03-05 08:35] molearnik commented on #12783
I can confirm these steps - although I was referring only to PrestaShop-* cookie ("Admin-context") that may hold various states of business process flows.
I guess PrestaShop code cannot "secure" PHPSESSID cookie programmatically. That can be "secured" in php.ini (http://php.net/manual/en/session.configuration.php#ini.session.cookie-secure).
I didn't see PSDOTCOM42 cookie on a test environment.

Re

[2019-03-05 08:51] infopavon commented on #12790
Hi @khouloudbelguith,

We are using Prestashop 1.7.5.0. Is it advisable to update?

We have entered in localization => Languages ​​and we only have active the Spanish language. You mean that, right?

Thank you.

I wait for news.

Greetings, Rafael M.

[2019-03-05 09:05] khouloudbelguith commented on #12790
@infopavon, I tried with PS1.7.5.0 & it is OK also.

Yes, I mean that.
Have you tried to contact the theme author about this issue?
Thanks!

[2019-03-05 09:11] khouloudbelguith commented on #12783
@molearnik, thanks for your feedback.
So, the issue occurs only with `PrestaShop-e05fde` which does not have Secure flag set? is it?
Thanks!

[2019-03-05 09:22] onlinedhlx commented on #12714
the only var/log folder i know of is completely empty

cheers

[2019-03-05 09:22] molearnik commented on #12783
You are right.

[2019-03-05 09:24] darkf3d3 commented on #10356
Actually also Edge and Firefox added webp support that now it's supported 74.3% globally (source: caniuse.com).

[2019-03-05 09:50] khouloudbelguith commented on #12783
@molearnik, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
When SSL enabled / SSL enabled on all page, When I navigate to the BO, In the Dev Tools => Application Tab => Click Storage / Cookies
`PrestaShop-*` cookie does not have Secure flag set and the browser send the Cookie over HTTP as described in the screenshot
![image](https://user-images.githubusercont

[2019-03-05 09:58] infopavon commented on #12790
Good afternoon,

Who is the author of the topic?

Thank you.

I wait for news.

Greetings,

[2019-03-05 10:00] meomay commented on #12783
@khouloudbelguith I saw this issue also appear on PS1.7.3.1

[2019-03-05 10:07] khouloudbelguith commented on #12790
@infopavon, did you contact them?
You are waiting for their feedback?
Thanks!

[2019-03-05 10:08] khouloudbelguith commented on #12714
Hi @onlinedhlx,

Sorry, despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-03-05 10:08] #12714 closed, assigned to nobody

[2019-03-05 10:12] onlinedhlx commented on #12714
so wash hands and charge fortune for support... way to go prestashop

thanks for your help though...will see what i can work out on my own.. and change CMS away from prestashop if needs be

[2019-03-05 10:14] infopavon commented on #12790
Good afternoon,

No, who do I have to contact?

Can you contact them?

Thank you.

I need to solve the problem as soon as possible.

Greetings,

[2019-03-05 10:14] khouloudbelguith commented on #12714
@onlinedhlx, unfortunately, you only have a blank page, and the 500 Internal Server Error can be very frustrating because it is such a vague error.
Thanks!

[2019-03-05 10:15] gorazdr opened #12791 "Nginx configuration update for multilang site"
Could you please update your nginx configuration (https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist)
so that it works when multiple languages are enabled.

I added this to my configuration right after Symhony:
#multilang
rewrite ^/([a-z]{2})/(.*) /$1;

and it works now but I am not sure if that is optimal solution.

PS version 1.7.5.0
problem urls:
- Product

[2019-03-05 10:16] khouloudbelguith commented on #12790
@infopavon, could you please navigate to your BO => Design => Theme & Logo page & provide me the theme & theme author in use.
Thanks!

[2019-03-05 10:20] khouloudbelguith commented on #12791
Hi @gorazdr,

Here's a pull request to inject multi lang & multishop configuration: https://github.com/PrestaShop/PrestaShop/pull/12082/files#diff-b115851dfa6156b9d45986fb7d75c601R103
Thanks to check & feedback.

[2019-03-05 10:20] infopavon commented on #12790
Good Morning

The theme is Warehouse.

Is the issue that is causing problems?

If so, can not a .tpl file be renamed so that it loads the file from the prestashop pages instead of the theme file?

Thank you.

I wait for news.

Greetings,

[2019-03-05 10:25] khouloudbelguith commented on #12790
@infopavon, thanks!
Could you please confirm these steps:
1. In the BO => Design => Pages => you created a page in the Spain language.
2. If you click on the " Save and preview" button, you are not redirected to the FO & page is well displayed?
![image](https://user-images.githubusercontent.com/16067358/53798841-57c93280-3f39-11e9-8556-3f00cd5899b3.png)
Thanks!

[2019-03-05 10:55] gorazdr commented on #12791
As I can see in pull request rewrite is for one specific langage (fr), my rewrite is for any language.
Thanks

[2019-03-05 11:03] rblaurin commented on #12775
Hi, @khouloudbelguith

It occurs for me when the shipping value changes according to the delivery address. I think it is not the case in your configuration because the shipping value is shown before you select your country.

[2019-03-05 11:16] khouloudbelguith commented on #12687
@watou, I will re-open the issue.
But to reproduce the issue with PS1.7.5.1 shop, I need to wait to get details
https://search.google.com/search-console/about
![image](https://user-images.githubusercontent.com/16067358/53801815-7aab1500-3f40-11e9-9d1e-696b44ff1b58.png)
Thanks!

[2019-03-05 11:30] marionf commented on #12780
No idea, let's ask to a dev @PrestaShop/prestashop-core-developers

[2019-03-05 11:38] khouloudbelguith commented on #12775
@rblaurin, here's my carrier setting
![image](https://user-images.githubusercontent.com/16067358/53802871-3bca8e80-3f43-11e9-914d-e076fe649bb0.png)

I defined it as my carrier by default
I added a new product to the cart in a new incognito window and then I went to the cart.
I have this
![image](https://user-images.githubusercontent.com/16067358/53802933-76ccc200-3f43-11e9-8bf9-22fd9abce2f3.png)

[2019-03-05 11:39] marionf commented on #12772
No idea, let's ask to @PrestaShop/prestashop-core-developers if we can do something to avoid this probem

[2019-03-05 11:41] khouloudbelguith commented on #12791
@gorazdr, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4
I attached a video record.
https://drive.google.com/file/d/1VyBqbKoNSuF_HlCP7V2AuwTXWG_56Q9E/view
I used `NGINX_VERSION | 1.14.0`
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request.
ping @PierreRa

[2019-03-05 11:46] infopavon commented on #12790
Good Morning,

First, I tried to create a page only in the English language and then I have given the button to save and preview but it has returned this error:

![image](https://user-images.githubusercontent.com/37174407/53803108-fd819f00-3f43-11e9-9ab4-436f6bce714c.png)

The system tells me that I must also fill out the page in the Spanish language, once I have filled in the Spanish language, I

[2019-03-05 12:09] rblaurin commented on #12775
Is It the right behavior? You did't enter your address, so you could be in Africa, right? Don't you think the shipping cost should be shown only after you had selected your country?

[2019-03-05 12:22] Flower7C3 commented on #12775
@khouloudbelguith I use Prestashop 1.7.5.0 on PHP 7.3. Mabye it works in 1.7.5.1 and different PHP version.

[2019-03-05 12:24] rblaurin commented on #12775
@Flower7C3 could you share your carrier setting? I have a similar problem with 1.7.5.1 and php 7.2.

[2019-03-05 12:34] L3o-pold commented on #12779
@khouloudbelguith Sorry I don't know where can be the issue. I'm not a Symfony or Annotation expert.
We'll disable Prestashop 1.7.5.x for ou clients, maybe someone will be able to catch the thing.

Feel free to close the issue

[2019-03-05 12:55] colinegin commented on #11299
Hello @disarci,

Thanks for your feedback and sorry for the late reply.

There is one module already available for the Italian electronic invoice available on Addons : https://addons.prestashop.com/fr/comptabilite-facturation/42408-digital-invoice-xml.html.

About your idea, we will review it and see if we can add it to our roadmap.

About your comment "France will arrive at this in 2020 (see: Fac

[2019-03-05 13:02] PierreRambaud commented on #12791
Hi,
You must write your own rules, like we do for Apache. You must not use a rewrite where you don't need it.
More because it's an example and you can customize this part by everything you want.

Kind regards,

[2019-03-05 13:03] Flower7C3 commented on #12775
@rblaurin do You mean all data from AdminCarriers page or AdminCarrierPrefferences?

[2019-03-05 13:11] PierreRambaud commented on #12780
This is because there is no POST data sent as you can see in request headers. It's a GET request.

[code]

[2019-03-05 13:16] rblaurin commented on #12775
@Flower7C3, both, if you can.

[2019-03-05 13:24] khouloudbelguith commented on #12779
Hi @L3o-pold,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-03-05 13:41] eternoendless commented on #12300
Hi @kpodemski

Improvements are needed to fix root problems, otherwise we could spend our lives playing bug whack-a-mole (see the 23 patch releases for 1.6.1.x). Regarding "new bugs", new regressions are now being fixed either during the pre-release cycle (as they appear) or in patch releases (if they are specific to the minor version). There are currently [only two known, unfixed regressions for

[2019-03-05 13:54] Flower7C3 commented on #12775
@rblaurin in prefferences I have selected **Best price**. My customer has configured 6 carriers. For query `select * from ps_carrier join ps_delivery on ps_carrier.id_carrier = ps_delivery.id_carrier where ps_carrier.deleted = 0` I have following result:

id_carrier | id_reference | id_tax_rules_group | name | url | active | deleted | shipping_handling | range_behavior | is_module | is_free | ship

[2019-03-05 14:03] khouloudbelguith commented on #12775
Hi @Flower7C3, @rblaurin,

I manage to reproduce the issue with the last version 1.7.5.1
Steps to reproduce the issue:
1- there are no carriers in the shop
![image](https://user-images.githubusercontent.com/16067358/47090058-5dd8a400-d222-11e8-8875-aff40d7c8f91.png)
2- Navigate to FO
3- Add some products to the cart => process to checkout
4- In the third step: an alert is displayed"Unfortunately,

[2019-03-05 14:03] #12775 closed, assigned to nobody

[2019-03-05 14:03] khouloudbelguith commented on #12775
Duplicate of #10739

[2019-03-05 14:12] khouloudbelguith commented on #12790
Hi @infopavon,

You are creating your page when English is selected, you need to select Spanish language & set the description of your page
![image](https://user-images.githubusercontent.com/16067358/53811116-e7caa480-3f58-11e9-960a-7e836fd2d080.png)
I attached a video record.
https://drive.google.com/file/d/1d7oPWmYMVjnfqTyUM2bFiqKorJNDXQWt/view
About the red alert, you cannot create a page with

[2019-03-05 14:17] marionf opened #12796 "Change demo fixture"
**Describe the bug**

New demo fixtures

https://docs.google.com/spreadsheets/d/1XFB8i66BV192E77fz5P0Wr6IWp0O0B_9E1ijB-fi06Y/edit?usp=sharing

Related to #11613

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-03-05 14:22] casperh1nl commented on #12059
It uses the entry from the webpack encore config
[code]
And you can split your files
[code]
Yaml setup
[code]
Functions.
[code]

:+1:

[2019-03-05 14:24] L3o-pold commented on #12779
@khouloudbelguith FYI we are one of the most important web hosting of Switzerland. Feels bad to disable Prestashop 1.7.5.x with PHP 5.6 on our side but we have to...
Thanks for your time.

[2019-03-05 14:27] infopavon commented on #12790
Good Afernoon,

Thanks for your fast answer.

So I created it but it did not work. I created it in English because I thought you were telling me to do it in the English language.

Now I believe it in Spanish like this:

![image](https://user-images.githubusercontent.com/37174407/53812001-d08cb680-3f5a-11e9-98c5-f1a7a6645e1c.png)

but it still does not work.

![image](https://user-images.githubuser

[2019-03-05 14:30] khouloudbelguith commented on #12779
@L3o-pold, I tried to install PS1.7.5.1 with PHP 5.6.40 & PHP5.6.32 & it is OK.
In fact, all contributions are tested automatically with PHP 5.6, 7.0 and 7.1 and for PrestaShop 1.7.4/ PS1.7.5 are also tested with PHP 7.2.
Thanks!

[2019-03-05 14:32] khouloudbelguith commented on #12790
@infopavon, Could you please provide me your credentials to check your shop.
This is a public space.
You can provide me the link by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-03-05 14:33] MatShir opened #12797 "The Category description goes under the category cover"
**Describe the bug**
The Category description goes under the category cover

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Category in Catalog
2. Edit on Category
3. Write more than 108 characters in the Description field
4. See error

**Proposed solution**
Resized the description field depending of image size.

**Screenshots**
![image](https://user-images.githubusercontent.com/43613

[2019-03-05 14:42] L3o-pold commented on #12779
@khouloudbelguith I understand that, BUT it's still an issue. Maybe on our server side configuration but we can't investigate further without more idea from your side. You know better your product than ourself (even if I'm a Prestashop 1.6 expert). If you could not ask us more details to investigate, we'll not go further. We are a hosting not some developer trying to debug their website.

BTW it w

[2019-03-05 14:54] MatShir opened #12798 "ps_socialfollow Optimization icons alignment"
**Is your feature request related to a problem? Please describe.**
In full screen when you add all the social icons, the last one goes underneath.
![image](https://user-images.githubusercontent.com/43613217/53813103-282c2180-3f5d-11e9-89c2-84de55971d47.png)

The same on mobile view,
![image](https://user-images.githubusercontent.com/43613217/53813561-3169be00-3f5e-11e9-994e-576c7a2a8f5a.png)

**De

[2019-03-05 14:58] khouloudbelguith commented on #12797
Hi @MatShir,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11495 to fix the issue.
It is fixed in the PS1.7.6.
Thanks!

[2019-03-05 14:59] khouloudbelguith commented on #12797
Duplicate of #9979

[2019-03-05 14:59] #12797 closed, assigned to nobody

[2019-03-05 15:01] khouloudbelguith commented on #12779
@L3o-pold, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-03-05 15:03] khouloudbelguith commented on #12790
@infopavon, I just received the email.
I will check & feedback.
Thanks!

[2019-03-05 15:08] L3o-pold commented on #12779
@khouloudbelguith

![capture d ecran 2019-03-05 a 16 08 01](https://user-images.githubusercontent.com/4710495/53814927-ea30fc80-3f60-11e9-83d3-98c56b25ec2c.png)

[2019-03-05 15:33] khouloudbelguith commented on #12790
@infopavon, I found another issue in your shop
![image](https://user-images.githubusercontent.com/16067358/53816052-29f8e380-3f63-11e9-892f-a292a994ea7e.png)
it is not related to this issue, you should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

About your issue reported on this ticket, I did not manage to reproduce the iss

[2019-03-05 15:47] marionf commented on #12333
Fixed by #12739

[2019-03-05 15:47] #12333 closed, assigned to YeLnatSs

[2019-03-05 16:02] marionf commented on #9513
@Quetzacoalt91 Do you know if this one is fixed and can be closed ?

[2019-03-05 16:04] marionf commented on #10504
Another issue related to permissions: #9567

[2019-03-05 16:06] Quetzacoalt91 commented on #9513
As far as I know, the original issue (permission migration on 1.7) is not fixed yet.

[2019-03-05 16:09] marionf commented on #9597
@Quetzacoalt91 Do you know if this one is fixed and can be closed ?

[2019-03-05 16:17] LedCloud commented on #12617
Well... I found the trick to fix this issue, but I'm not sure I do all completely right.

class/Address.php line 471
[code]
Instead of throwing an exception we set the id of the address that is absent to the inner field of the Address class and after that we can correct the DB. Address->delete() do what we want.

But since the default behaivoir now doesn't set the id of the object if that one does

[2019-03-05 16:18] Quetzacoalt91 commented on #9597
I can add a check about that in the module self check. I move this task in https://github.com/PrestaShop/autoupgrade/issues/196 and close this issue.

[2019-03-05 16:18] #9597 closed, assigned to nobody

[2019-03-05 16:20] MatShir opened #12799 "Contact Information - email too long is cut"
**Is your feature request related to a problem? Please describe.**
When the email is too long, the email is cuted. The number of character possible is very limited for email address before it is cut.

![image](https://user-images.githubusercontent.com/43613217/53819083-8232e400-3f69-11e9-853c-d034fa977ac8.png)

**Describe the solution you'd like**
Use the space underneath the icon

[2019-03-05 16:23] khouloudbelguith commented on #12779
@L3o-pold, thanks for your feedback.
@marionf, can you try to reproduce the issue, in my case, it is OK.
Thanks!

[2019-03-05 16:25] #9921 closed, assigned to nobody

[2019-03-05 16:27] marionf commented on #9933
Can't reproduce on 1.7.5.0

[2019-03-05 16:27] #9933 closed, assigned to nobody

[2019-03-05 16:30] MatShir opened #12800 "Specific price wrong symbol in Discount section"
**Is your feature request related to a problem? Please describe.**
Catalog > Product > Pricing > Specific Price
On a specific price when you choose a percentage, it still shows the Euro symbol instead of the Pourcentage one in the input "Apply a discount of".

![image](https://user-images.githubusercontent.com/43613217/53820169-89f38800-3f6b-11e9-8ab7-bddbf1cd9057.png)

**Describe the solution you

[2019-03-05 16:32] marionf commented on #9935
Can't reproduce on 1.7.5.0

[2019-03-05 16:32] #9935 closed, assigned to nobody

[2019-03-05 16:45] marionf commented on #9943
Can't reproduce on 1.7.5.0

[2019-03-05 16:45] #9943 closed, assigned to nobody

[2019-03-05 16:48] marionf commented on #9951
@PierreRambaud Do you think this issue is still up to date ?

[2019-03-05 16:52] marionf commented on #9964
@khouloudbelguith Can you try to reproduce this one ?

[2019-03-05 16:52] marionf commented on #9952
@khouloudbelguith Can you try to reproduce this one ?

[2019-03-05 16:53] marionf commented on #9996
As this is a question and not an issue, I close it

[2019-03-05 16:53] #9996 closed, assigned to nobody

[2019-03-05 16:56] khouloudbelguith commented on #12754
Hi @watou,

In the BO => Shop Parameters => Search => Tags page.
I added the `headache` tag to some products, I added a cms page with this tag also.
In the FO => Link to search results in my shop => OK
![image](https://user-images.githubusercontent.com/16067358/53822219-97127600-3f6f-11e9-8e06-8e7f77fb2483.png)
Now, I need to wait because Google Search Console is in processing
![image](https://use

[2019-03-05 16:56] marionf commented on #10000
Can't reproduce on 1.7.5.0

[2019-03-05 16:56] #10000 closed, assigned to nobody

[2019-03-05 16:57] #10001 closed, assigned to nobody

[2019-03-05 16:58] marionf commented on #10004
@khouloudbelguith Can you try to reproduce this one ?

[2019-03-05 17:01] #10019 closed, assigned to nobody

[2019-03-05 17:03] marionf commented on #10020
@PrestaShop/prestashop-core-developers What do you think about this issue ? Is it a to do ?

[2019-03-05 17:05] matks commented on #10020
@marionf HelperList is indeed not used anymore in pages migrated to Symfony however other mechanisms are available (the Grid) as well as new hooks that we think will provide better extension capabilities. So I think we can close safely this issue.

[2019-03-05 17:06] marionf commented on #11514
@khouloudbelguith Can you try to reproduce this one on Windows ?

[2019-03-05 17:08] jolelievre commented on #10020
@matks except I believe the product page doesn't use the Grid

[2019-03-05 17:11] khouloudbelguith commented on #9964
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/53823408-025d4780-3f72-11e9-8093-887acb66f190.png)

To get more information about webservice in PrestaShop, we have this [link](http://doc.prestashop.com/download/attachments/720902/CRUD%20Tutorial%20EN.pdf).
Also, documentation for PS1.6: http://doc.prestashop.com/disp

[2019-03-05 17:11] #9964 closed, assigned to nobody

[2019-03-05 17:13] matks commented on #10020
Caramba !

[2019-03-05 17:14] infopavon commented on #12790
Good afternoon,

I have uninstalled and removed this module from our system.

We have activated the classic theme of Prestashop 1.7.5 but the pages still look the same, blank.

Can you take a look, please?

Thank you.

I appreciate your help.

Greetings,

[2019-03-05 17:21] marionf commented on #10020
All right, thank you, one less !

[2019-03-05 17:21] #10020 closed, assigned to nobody

[2019-03-05 17:28] khouloudbelguith commented on #10004
Hi @marionf,

This issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/9468/files#diff-0a7a17e9ff155e6890d7a5b01eea713cR4876
It is fixed in the PS1.7.5.0.
Thanks!

[2019-03-05 17:28] #10004 closed, assigned to nobody

[2019-03-05 17:30] watou commented on #12754
There are two problems I can see from here regarding your test setup:

1. robots.txt must be at the top of your web server.  Currently, http://testip6.tk/robots.txt returns a 404.  This problem will not show itself if search engines do not know your robots.txt file.  The robots.txt file at the address http://testip6.tk/1751/robots.txt is not sufficient.
1. I cannot find the CMS page you created th

[2019-03-05 17:38] khouloudbelguith commented on #12754
@watou, thanks for your feedback.
1. I added the robots.txt to my server => http://testip6.tk/robots.txt => OK.
2. Here's the page http://testip6.tk/1751/en/content/6-aaaaaaaa

Thanks!

[2019-03-05 17:39] khouloudbelguith commented on #12790
@infopavon, your link is not accessible for now.
Thanks!

[2019-03-05 17:49] watou commented on #12754
Hi @khouloudbelguith, thanks for that.  There still needs to be a link to
`http://testip6.tk/1751/en/search?tag=headache` contained somewhere within the crawlable site.  Tagging the CMS page itself does not make a link anywhere.  Let's say you wanted to let visitors see all products tagged "headache" -- you would have to provide them the link `http://testip6.tk/1751/en/search?tag=headache` somewhe

[2019-03-05 18:04] IranDec commented on #12777
Hi @khouloudbelguith
I get one video for first & the second issue,
https://drive.google.com/open?id=1MjhRa1m-xhN57k5VjgkbRgaefNBLQiwa
yes add a postal code and any part needed to write numeral with Arab number in front office .

[2019-03-05 19:03] Maofree commented on #9566
Hi
on the 1.7.5.1 I continue to get the same error with contactform module
replacing all the function sendMessage to the previous version all work well
there are any error message but any email arrive
After some tests I've seen that this problem is present in my local server (where the previous version is ok) and not in the official server, but I'll check better
thanks
bye

[2019-03-05 19:24] MiguelOlmos392 opened #12801 "Issue when creating orders from the back office, the client list is not displayed"
**Describe the bug**

After creating a new client from the back office, I tried to create a new order for that costumer, but when I open the window to create orders, the client search bar does not show any results, making it impossible to create a new order. The error occurred with PS 1.7.5.0, updated to 1.7.5.1 and the error continues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to B

[2019-03-05 20:19] infopavon commented on #12790
Good afternoon,

If it is. Try the Mozilla Firefox browser.

Thanks for your help.

Greetings,

[2019-03-06 07:20] Lwackp commented on #12780
Is that a bug or a feature?

[2019-03-06 07:28] khouloudbelguith commented on #12801
Hi @MiguelOlmos392,

Thanks for your report.
First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your version PHP and feedback.
Thank

[2019-03-06 07:54] MiguelOlmos392 commented on #12801
Hello, thanks for your answer, I have downloaded the PHP version to 7.2 as you suggested and the problem persists, also try PHP 7.1 but it still does not work.

[2019-03-06 07:58] khouloudbelguith commented on #12777
Hi @IranDec,

Thanks for your feedback.
In your screen record.
The first product edit is successfully saved
![image](https://user-images.githubusercontent.com/16067358/53864566-172af100-3fed-11e9-822c-52283ed50160.png)
But the second Product no,
![image](https://user-images.githubusercontent.com/16067358/53864593-2ca01b00-3fed-11e9-9fe5-8ac6c892dd52.png)

What is the difference between these two p

[2019-03-06 08:00] khouloudbelguith commented on #12801
@MiguelOlmos392, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1azlsi9HvbKnpeVVNMKQSJQ_5Bq-PBmOe/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode repo

[2019-03-06 08:13] khouloudbelguith commented on #12790
Hi @infopavon,

I tried with Firefox => Same issue.
![image](https://user-images.githubusercontent.com/16067358/53865675-08920900-3ff0-11e9-9561-aaf11550bdfe.png)

Thanks!

[2019-03-06 08:20] feyll opened #12802 "error search console : Either "offers", "review", or "aggregateRating" should be specified"
![screenshot 54](https://user-images.githubusercontent.com/27018255/53866021-d2a15480-3ff0-11e9-9838-42b4df12efb0.png)

Hello everyone, now I think this problem is known in the new version of Google Search Console.
Please do you have any suggestions to correct this?
Thanks to everyone and good work

[2019-03-06 08:26] khouloudbelguith commented on #12802
Hi @feyll,

Your ticket is a duplicate of #12687
So, I close it.
Thanks!

[2019-03-06 08:26] #12802 closed, assigned to nobody

[2019-03-06 08:26] khouloudbelguith commented on #12802
Duplicate of #12687

[2019-03-06 08:37] marionf commented on #12779
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-03-06 08:37] #12779 closed, assigned to nobody

[2019-03-06 08:39] L3o-pold commented on #12779
@marionf OK we disabled Prestashop 1.7.5.x this morning anyway ;)

[2019-03-06 08:39] MiguelOlmos392 commented on #12801
Hi, I send you all the information I have, I apologize but my knowledge in Prestashop is limited.
![cpanel - php selector _ extensions](https://user-images.githubusercontent.com/48259009/53867243-b94dd780-3ff3-11e9-819b-75064905be04.png)
![cpanel - server information](https://user-images.githubusercontent.com/48259009/53867255-beab2200-3ff3-11e9-9dc9-c8e424f58e7d.png)
[20190305_upgrade.log](https:

[2019-03-06 09:04] marionf commented on #10979
@PrestaShop/prestashop-core-developers Is there something to do here ?

[2019-03-06 09:11] marionf commented on #11119
@PrestaShop/prestashop-core-developers friendly reminder :)

[2019-03-06 09:17] marionf commented on #9604
@colinegin Do you think we should put the footer back or it's useless to have a footer and can close this issue ?

[2019-03-06 09:22] marionf commented on #9661
@PrestaShop/prestashop-core-developers is this request still up to date ?

[2019-03-06 09:23] khouloudbelguith commented on #12754
@watou, I added this tag "headache" to some categories
![image](https://user-images.githubusercontent.com/16067358/53869953-83135680-3ff9-11e9-8583-1608aa7b564f.png)
And to some pages also
![image](https://user-images.githubusercontent.com/16067358/53870032-ae964100-3ff9-11e9-927a-4d71f2804ac0.png)

Ps: until now, I'm still waiting
![image](https://user-images.githubusercontent.com/16067358/538701

[2019-03-06 09:30] khouloudbelguith commented on #12801
@MiguelOlmos392,

First, you need to clear cache manually by deleting all the folder into var/cache (prod & dev).
When you enable the debug mode, are there any exceptions displayed in the Orders page when you create a new order.
Thanks!

[2019-03-06 09:31] matks commented on #9661
@marionf Indeed the PrestaShop API lacks a complete documentation, this issue is still true.

This could be a nice idea althought it could not be done by reading the code alone as the API definition can be modified by modules. However at runtime, for example in a BO page, we could provide such a documentation. This is a feature request.

[2019-03-06 09:37] watou commented on #12754
Hi @khouloudbelguith, your test setup is still incorrect and as such it will never show the issue I've described.  Please tell me the page in your test site that has the link on which I can click `http://testip6.tk/1751/en/search?tag=headache`.  If the answer is that your site site does not contain such a link on any page, please change your test site that it does have such a link in order to have

[2019-03-06 09:44] #9860 closed, assigned to nobody

[2019-03-06 09:48] samuel-pires commented on #12262
Hello @hh-com

Thanks for the report, we will soon do an update of the ps_legalcompliance module.
This issue will be added to the fix list

[2019-03-06 09:49] samuel-pires commented on #12262
Also, @hh-com

As part of this update, I would love to have your feedback about this module - How frequently you use it and which features are the most important versus you the ones you don't use or are not clear enough, etc.

If you are interested let me know so we can get in touch !

[2019-03-06 09:50] MiguelOlmos392 commented on #12801
Hello, thank you very much for your patience, I deleted the files inside the var/cache folder, when I activate the debug mode it does not show any exception, I still can not create orders. I can rule out problems with my browser because I have tried with three computers with different operating systems and also from my Android, it does not work anywhere. Before that Orders failed, I did not make a

[2019-03-06 09:53] eternoendless commented on #9566
@colinegin Maybe we could make it user-configurable with a default of 20 minutes. WDYT?

[2019-03-06 09:57] Maofree commented on #9566
hi
I'm checking better and I get the same problem on official websites
I can give you the BO and ftp access
I'm sure that there are some problems in that function
using the previous version all is ok
at this moment I've can reproduce this error on 4 sites and on my local server

I get the confirm message but no emails arrive

[2019-03-06 10:11] marionf commented on #10278
@PrestaShop/prestashop-core-developers What do you think of this suggestion ?

[2019-03-06 10:15] ghost commented on #12773
Hi @rblaurin,

Thanks for your feedback 👍 !
I'll look into it.

In order to define the best solution, can you tell me a bit more about how you want to use it, is it when you duplicate products only or you have other use cases in mind?

Also, do you use the "import" feature to manage your catalog?

Thanks

[2019-03-06 10:18] khouloudbelguith commented on #9952
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.5.1.
I created an override: /Project_Folder/override/controllers/admin/templates/cart_rules/information.tpl

[code]
I cleared the cache, but the override is not working.
![image](https://user-images.githubusercontent.com/16067358/53873851-83175480-4001-11e9-9733-87d30f2d43df.png)

Thanks!

[2019-03-06 10:29] maofree commented on #9566
tested
3 sites on the same italian hosting don't work
1 site on vps of a spanish hosting doesn't work
1 site on Netsons works

[2019-03-06 10:32] hellodracon opened #12805 "Prestashop 1.6 wrongly locates user when using CDN"
I'm sorry, I tried on the PS forum, but no answer.

I'm using a CDN (not using the mediaserver input, I mean full CDN system not only for static files) and a firewall since a few days. CDN sends SFF headers with 3 IPs : theirs, firewall's and client's (HTTP_X_FORWARDED_FOR). While discovering this, I was wondering how PS locates people (when not using geoip) and remembered it was working fine befo

[2019-03-06 10:44] khouloudbelguith commented on #12754
Hi @watou,

I added the module `Tags block` v1.3.1.
This module adds a block containing your product tags.
In fact, this module redirects to the link `shop.com/search?tag=headache`
But this link only contains products, not pages & categories.
I attached a video record.
https://drive.google.com/file/d/1g_Srt_mOyVOLtGQztVTIbYEPkaBt--DP/view
Thanks to check & feedback.

[2019-03-06 10:52] infopavon commented on #12790
Good Morning,

The page works correctly. Can you clear the cache, please?

Since which IP address is the connection made?

Thank you.

I wait for news.

Greetings, Rafael M.

[2019-03-06 10:55] khouloudbelguith commented on #12790
@infopavon, Thanks!
Waiting for your feedback.

[2019-03-06 10:56] khouloudbelguith commented on #12805
Hi @hellodracon,

After activating the CDN, Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

This issue occurs with PS1.7 also?
Thanks!

[2019-03-06 10:58] watou commented on #12754
Hi @khouloudbelguith, if you were to add that Tags block module to the public site http://testip6.tk, it would put the links to search pages on the crawlable site as your video demonstrated, and Google would eventually complain (as this issue reports) that search results pages are blocked from crawling by robots.txt but the search results pages were indexed anyway.  Thanks for making that video.

[2019-03-06 10:58] TomHsiung commented on #12770
I fixed this issue by deleting:

`rm .../config/xml/default_country_modules_list.xml`

- Tom

[2019-03-06 10:59] khouloudbelguith commented on #12801
Hi @MiguelOlmos392,

Could you please provide me your credentials to test your shop.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-03-06 11:03] khouloudbelguith commented on #12770
Hi @TomHsiung,

This is a cache issue.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-06 11:03] #12770 closed, assigned to nobody

[2019-03-06 11:11] infopavon commented on #12790
Good Morning,

The page works correctly. Can you clear the cache, please?

Since which IP address is the connection made?

Thank you.

I wait for news.

Greetings, Rafael M.

[2019-03-06 11:15] khouloudbelguith commented on #12790
@infopavon, I need to clear cache from your shop?
What is the exact cache I need to clear?
My last Login IP Address 197.14.53.186
Thanks!

[2019-03-06 11:28] infopavon commented on #12790
Good Morning,

You must delete the browser history of your browser.

Your IP is not blocked.

Tell me if he let you see the store after performing these steps.

If not, can you connect to my team through Teamviwer or Anydesk?

Thanks for your help.

Best Regards, Rafael M.

[2019-03-06 11:28] khouloudbelguith commented on #12418
Hi @bbgjyb,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-03-06 11:36] khouloudbelguith commented on #12790
Hi @infopavon,

I cleared the cache from my browser => still same error.
Please be aware that the GitHub should be used to report PrestaShop issues only.
We don't need to connect your team.
The cms page is working correctly now?
Thanks!

[2019-03-06 11:45] khouloudbelguith commented on #12754
@watou, thanks for these clarifications.
I will check & feedback.

[2019-03-06 12:13] infopavon commented on #12790
Good afternoon,

We have enabled your IP in the Geolocation section of Prestashop.

Can you try now?

No, the pages do not work yet.

Thank you.

Greetings, Rafael M.

[2019-03-06 12:23] hellodracon commented on #12805
thank you @khouloudbelguith

I tried it, but that's the same. I think I had already changed it since the media server wasn't in the htaccess.

i don't know about 1.7, difficult to try this. I was hoping for the same problem mentioned by someone else

And even the IP is the wrong one since it uses remote_addr instead of x forwarded (because both are existing)

[2019-03-06 12:35] eternoendless commented on #10979
It looks like it's still used by some modules, but I don't think it's actually useful anymore (see [search results](https://github.com/search?q=org%3APrestaShop+addExtraCarriers&type=Code))

Wdyt @Quetzacoalt91 ? Should we deprecate the method?

[2019-03-06 12:45] khouloudbelguith commented on #12790
@infopavon, sorry, I tried again.
But always the same issue, I cannot access to your BO / FO.
I have this error `ERR_CONNECTION_TIMED_OUT`
Thanks!

[2019-03-06 13:10] davideapvd commented on #10178
Hello,
with presashop 1.7.5.1 and nginx with friendly urls enabled the error "An error occurred while processing your request" appears when changing product size or colour, it doesn't when frienly urls are disabled, I think it could be related to the way the request is made, when clean urls are enabled the xhr request is performed at /it/index.php?controller=product&token=5bb1ef063e5b76dbeaaeedc5c

[2019-03-06 13:12] marionf commented on #11434
Hello @EV-soft

We will not integrate natively this feature as there are several modules on our Marketplace allowing to do that.
Furthermore, you can also ask to your hosting provider if you want to backup your files regularly.

Regards

[2019-03-06 13:12] #11434 closed, assigned to nobody

[2019-03-06 13:14] khouloudbelguith commented on #10178
Hi @centoasa,

As said before if you are using Nginx make sure you enable the `mod_rewrite`.
This issue occurs when `mod_rewrite` is not enabled on your server.
Thanks!

[2019-03-06 13:19] khouloudbelguith commented on #12805
@hellodracon, As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
Thanks for your understanding!

[2019-03-06 13:20] davideapvd commented on #10178
hi @khouloudbelguith
mod_rewrite is an apache specific module, it has no sense for nginx. I saw that probably this modification to the nginx configuration solves the problem, it should be done for each supported language, put before the various locations (as suggested here https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist):

    # [REQUIRED EDIT IF MULTILANG]

[2019-03-06 13:23] davideapvd commented on #10178
hi @khouloudbelguith
mod_rewrite is an apache specific module, it has no sense for nginx. I saw that probably this modification to the nginx configuration solves the problem, it should be done for each supported language, put before the various locations (as suggested here https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist):

    # [REQUIRED EDIT IF MULTILANG]

[2019-03-06 13:31] khouloudbelguith commented on #10178
@davideapvd,

Thanks for these clarifications.
About the `nginx.conf.dist` file, you need to write your own rules, as we do for Apache.
More because it's an example and you can customize this part by everything you want.
Thanks!

[2019-03-06 13:31] hellodracon commented on #12805
@khouloudbelguith yes I totally understand. It was just in case someone had the same issue. Thank you. I'll have a look at the PS 1.7 code to verify if it has changed on this peculiar thing.

[2019-03-06 13:34] Maofree commented on #10772
Hi @khouloudbelguith
can you repopen this topic, because this bug is not the same of the other one of #9566
in this case I don't get an error after the submit

I can give you the BO and ftp access
I'm sure that there are some problems in that function of 4.1.1
using the previous version all is ok
at this moment I've can reproduce this error on 4 sites and on my local server

I get the confirm mess

[2019-03-06 13:37] ttoine commented on #10178
should we share some best practice configuration for nginx in the devdoc?

[2019-03-06 13:38] Quetzacoalt91 commented on #10979
Yeah, we can deprecate it. Displaying additional carriers is now handled by the Carriers instances added in the database. Their cost is then handled by the method `getOrderShippingCost`, `getOrderShippingCostExternal` & `getPackageShippingCost`.

However I would not remove its content for now.

[2019-03-06 13:39] dividy commented on #9732
**Temporary fix :**

In your theme : **catalog/_partials/facets.tpl**

Wrap the content in a condition :

{if count($facets)>1}
.... file content ...
{/if}

[2019-03-06 13:40] khouloudbelguith commented on #12805
@hellodracon, Thanks!
Waiting for your feedback.

[2019-03-06 13:44] davideapvd commented on #10178
if I could add some feedback, I remember I had to change the [suggested](https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist) configuration because various things broke,  is that a tested and valid config? For example the img rewrite block is different from what I'm currently using, and if I change it back to the docs config all products page are 404.

[2019-03-06 13:45] khouloudbelguith commented on #10772
@maofree, could you please navigate to your BO => Module manager page => search for thi module & click on "Configure" button & check that "Send confirmation email to your customers" & "Receive customers messages by email" options are enabled.
Thanks!

[2019-03-06 13:48] matks commented on #10178
It is a tested config though 🤔 but nothing is bug-free, we would be very happy to have your feedback 👍

[2019-03-06 13:53] PierreRambaud commented on #9732
Done in the next release of faceted search module :)

[2019-03-06 13:56] davideapvd commented on #10178
please let me know if I could add something to my previous reply in order reproduce the error and test the config in a shared environment, do you use a docker image to test the config maybe? I should precise that my first config example is a live config we are using now in production, if in a staging server I change the first location / {} block that contains all the images rewrite rules I get 404

[2019-03-06 14:09] Maofree commented on #10772
hi
you are right it is necessary only to active the option
Receive customers messages by email

can you set it by default?

[2019-03-06 14:11] khouloudbelguith commented on #9636
Hi @marionf,

This issue is fixed in the PS1.7.6.0( develop branch).
https://drive.google.com/file/d/15aUSlg1WlFafBmM43UEOWuxvQKPEhHAV/view
Thanks!

[2019-03-06 14:11] #9636 closed, assigned to nobody

[2019-03-06 14:18] khouloudbelguith commented on #10772
@maofree, these options by default are disabled.
So, the issue is fixed?
Can I close the issue?
Thanks!

[2019-03-06 15:01] morghy1992 opened #12806 "Problem PS 1.7.5 Search Console"
**Describe the bug**
Hello everyone, I have a problem with Google Search Console because it asks me to insert offers", "review" o "aggregateRating" on my products. Do you know how to insert it?
Should I need a module?

Hope you can help me

Thanks

[2019-03-06 15:09] khouloudbelguith commented on #12806
Hi @morghy1992,

Your ticket is a duplicate of #12687
So, I close it.
Thanks!

[2019-03-06 15:09] #12806 closed, assigned to nobody

[2019-03-06 15:09] khouloudbelguith commented on #12806
Duplicate of #12687

[2019-03-06 15:14] khouloudbelguith commented on #12687
Hi,

I checked today, I need to wait to get details.
![image](https://user-images.githubusercontent.com/16067358/53891427-a30f3e00-402a-11e9-8514-99cd6ecf8f37.png)
Thanks for your understanding!

[2019-03-06 15:15] morghy1992 commented on #12687
Hi @khouloudbelguith thank you.
So we need to wait to get this problem resolved ?

[2019-03-06 15:16] khouloudbelguith commented on #12413
Hi @bettinz,

We are aware of this issue it is added to our debug roadmap.
Your ticket is a duplicate of #9564
So, I close it.
Thanks!

[2019-03-06 15:16] #12413 closed, assigned to nobody

[2019-03-06 15:16] khouloudbelguith commented on #12413
Duplicate of #9564

[2019-03-06 15:17] khouloudbelguith commented on #9564
Hi,

I manage to reproduce the issue with the 1-click upgrade v4.5.1.

During the upgrade, the page of the upgrade is not well displayed
![image](https://user-images.githubusercontent.com/16067358/52210272-d40f1e00-2886-11e9-8f0d-22f201cd7db4.png)
Here's the log.txt
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2828105/log.txt)
I cannot log in to the BO / FO after upgrade =>
![image](ht

[2019-03-06 15:20] khouloudbelguith commented on #12687
Hi @morghy1992,

We need to reproduce the issue first.
Thanks for your understanding, we'll come back to you if we need more information.
Thank you!

[2019-03-06 15:24] hellodracon commented on #12805
After some search, it looks more like XFF is rewrote by the host (CDN sends visitor's IP via XFF but origin blocks it for security reasons). I'm still waiting from answers from origin but I guess It's not a PS issue. Think you can close it.

[2019-03-06 15:25] khouloudbelguith commented on #12805
@hellodracon, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-06 15:25] #12805 closed, assigned to nobody

[2019-03-06 16:00] Maofree commented on #10772
yes thanks

[2019-03-06 16:03] Peter4661 opened #12807 "after upgrade to 1.7.5.1 uploading image 500 error"
After upgrading from PS 1.7.4.4 to 1.7.5.1

500 error with attempt to upload jpg 800x800 46kB product image from back office

from server log: 500 error access denied img folder
img folder and file permission: 755

[2019-03-06 16:09] Maofree commented on #9566
hi
sorry it's my fault, it is necessary to activate the option "Receive customers messages by email", why not activate it by default?
instead for a site I have the same problem of this topic

[2019-03-06 16:11] khouloudbelguith commented on #12807
Hi @Peter4661,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com

[2019-03-06 16:12] khouloudbelguith commented on #10772
@maofree, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-03-06 16:12] #10772 closed, assigned to nobody

[2019-03-06 16:28] infopavon commented on #12790
Good afternoon,

I'll check with the webmaster if it's something from the server.

You are connecting from Austria, right?

Although I think it's a browser problem. Look at this link:

https://www.softzone.es/2018/09/22/como-solucionar-el-error-err_connection-timed-out-en-chrome/

Thanks.

[2019-03-06 16:29] watou commented on #12687
@morghy1992, you could proceed in a "bleeding edge" and "maybe right but also maybe wrong" approach by commenting out or removing ` itemscope itemtype="http://schema.org/Product"` in `themes/classic/templates/catalog/_partials/miniatures/product.tpl` like this:

[code]

BUT THIS MIGHT NOT BE A PROPER FIX AND COULD MAKE MATTERS WORSE.  Also, you might head down that path and other issues could aris

[2019-03-06 16:31] rblaurin commented on #12773
Hi, @samuel-pires,
Not only when I duplicate products. It would be useful when I add wrong images, or when the product images are outdated, or when you don't sell a product color anymore, for instance.
Personally, I don't use the import feature.

[2019-03-06 16:31] khouloudbelguith commented on #12790
@infopavon, no I'm not from Austria.
This issue occurs only with your shop.
Thanks!

[2019-03-06 16:40] Quetzacoalt91 commented on #11873
See https://github.com/PrestaShop/autoupgrade/pull/288

[2019-03-06 16:42] infopavon commented on #12790
Good afternoon,

Can you indicate from which country you connect, please?

Thank you.

Greetings,

[2019-03-06 16:46] jolelievre commented on #11119
Hello @dennispw,

I'm not sure this kind of feature will be proposed or encouraged in the coming versions as we want to deprecate the override system someday, not until a future major version (1.8 or more) but still enhancing the possibilities of the override system is not exactly in sync with what PrestaShop is supposed to look like in the future.

That said for present time your suggestion might

[2019-03-06 17:02] morghy1992 commented on #12687
@watou thank you for your advice.
I prefer to wait the proper fix to avoid risks 😊

[2019-03-06 17:08] #10611 closed, assigned to zuk3975

[2019-03-06 17:13] khouloudbelguith commented on #12790
@infopavon, thanks!
the link is accessible now.
I tried with your shop with the classic theme & it is OK.
![image](https://user-images.githubusercontent.com/16067358/53899759-36e90600-403b-11e9-858c-40a67af8b791.png)
I sent you a screen-record by email.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestas

[2019-03-06 17:13] #12790 closed, assigned to nobody

[2019-03-06 17:19] matks commented on #10189
Validated with @MatShir for CLDR

[2019-03-06 17:20] #10189 closed, assigned to tomas862

[2019-03-06 20:37] Peter4661 commented on #12807
Server setup & configurations
-----------------------------------------------------------------------------------------------------------------
Servergegevens Linux #1 SMP Wed May 2 07:43:19 EDT 2018 x86_64
Server softwareversie: Apache
PHP-versie: 7.2.15
Geheugenlimiet: 1024M
Maximale uitvoeringstijd: 300
Maximale bestandsgrootte voor uploads: 128M
info_outline Database informatie
MySQL versie: 1

[2019-03-06 20:56] Peter4661 opened #12811 "Use And operators instead of OR for the Search system"
Attached modified file search.php which improves search results very specific. Tested on 1.7.5.1
Suggest to replace current search file with Search_php_modidied.

See it in action : www.derks-wielersport.nl

[Search_PHP modified.zip](https://github.com/PrestaShop/PrestaShop/files/2938265/Search_PHP.modified.zip)

[2019-03-06 21:57] go-sudo commented on #12692
Hello @khouloudbelguith

The module is already uninstall and here is the test and server details

https://drive.google.com/file/d/1DUMT5yDcDJ6yzWyUOgCI0Lxh50M7iwGY/view

Error with Apache

	`
With NGNX

PHP INFO https://playstore.ma/phpinfo.php
PhpPsInfo https://playstore.ma/phpps.php
Login: prestashop
Password: prestashop

Regards

[2019-03-06 22:23] decom-media commented on #12737
finally i had the time to check your suggestion with the solution #12314 - but, did not work for me - first quiery is not working because the subquery is returning more than just one result, so i tried the second one, which did return 0, but, then the insert did return also "not possible because the subquery did return more than just one result", so it seems there is still another problem in my in

[2019-03-06 22:27] decom-media opened #12812 ""Invoices"-Link results in HTTP 500 Internal Server Error not solved with #12314"
after checking your suggestion with the solution #12314 - it is not working for me - first quiery is not working because the subquery is returning more than just one result, so i tried the second one, which did return 0, but, then the insert did return also "not possible because the subquery did return more than just one result", so it seems there is still another problem in my installation

[2019-03-06 23:25] Matt75 commented on #12737
Can you give us the result of the subquery with multiple results ?
This one
[code]
And this one
[code]
You must have only one result for each key, if you find more of one result you have duplicate configuration key.

Don’t forget to do backup before INSERT/UPDATE/DELETE operations in ps_configuration

[2019-03-06 23:30] decom-media commented on #12737
Result for the first one is
578
590

And for the second one is
591

So, the first one is then having duplication configuration key – what does it mean and how can I fix it?

Thanks
Thomas

From: Matt75 [mailto:notifications@github.com]
Sent: Donnerstag, 7. März 2019 00:26
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] "Invoices"-Link results in HTTP 500 Internal

[2019-03-06 23:42] Matt75 commented on #12737
You can compare value of each results

[code]

If both are the same you can delete one of them.
If not same value, you have to choose witch one is more relevant and delete the other.
It can be interesting to know how that can happen, so if you can tell us the results it can be useful.

Don’t forget to do backup before INSERT/UPDATE/DELETE operations in ps_configuration

[2019-03-06 23:46] decom-media commented on #12737
The result of this query is

[cid:image001.png@01D4D47F.2D0340B0]

Both are null – so, basically the same – what exactly is to do now?

From: Matt75 [mailto:notifications@github.com]
Sent: Donnerstag, 7. März 2019 00:42
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] "Invoices"-Link results in HTTP 500 Internal Server Error (#12737)

You can compare value of each

[2019-03-06 23:46] Matt75 commented on #12737
Maybe you use multi shop ?
So it can be normal if id_shop are different

[2019-03-06 23:48] decom-media commented on #12737
Yes I have multishop enabled

From: Matt75 [mailto:notifications@github.com]
Sent: Donnerstag, 7. März 2019 00:47
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] "Invoices"-Link results in HTTP 500 Internal Server Error (#12737)

Maybe you use multi shop ?
Si it can be normal if id_shop are different

—
You are receiving this because you were mentioned.
Reply to t

[2019-03-06 23:54] Matt75 commented on #12737
Can you give us the result of

[code]

And

[code]

[2019-03-06 23:57] decom-media commented on #12737
Of course.

1.       [cid:image001.png@01D4D480.A81F4130]

2.       [cid:image002.png@01D4D480.A81F4130]

From: Matt75 [mailto:notifications@github.com]
Sent: Donnerstag, 7. März 2019 00:54
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] "Invoices"-Link results in HTTP 500 Internal Server Error (#12737)

Can you give us the result of

SELECT `name`, `value`, `id_s

[2019-03-06 23:58] Matt75 commented on #12737
We can’t see the image if you replied by mail so please export the result in text format and past it in your response.

[2019-03-07 00:04] decom-media commented on #12737
1.
name<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

value<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

id_shop<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

id_shop_group<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

PS_INVOICE_LEGAL_FREE_TEXT

NULL

2

2

PS_INVOICE_LEGAL_FREE_TEXT

NULL

NULL

NULL

2.
name

value

id_shop

id_shop_group

PS_INVOICE

[2019-03-07 00:08] Matt75 commented on #12737
Now the result of

[code]

[2019-03-07 00:10] decom-media commented on #12737
[Vollständige Texte]<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

id_configuration<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

id_lang<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

value<https://w011f4e1.kasserver.com/mysqladmin/PMA4/sql.php>

<https://w011f4e1.kasserver.com/mysqladmin/PMA4/tbl_change.php>

<https://w011f4e1.kasserver.com/mysqladmin/PMA4/tbl_cha

[2019-03-07 00:22] Matt75 commented on #12737
Sorry but this is not readable can you make a proper export of result of this query ?
You must have an option to export results so please use it to give us a readable information.

The problem is on your ps_configuration_lang where you must have one or more results for each `id_configuration` IN (578, 590, 591)

[2019-03-07 00:50] Matt75 commented on #12737
You have 7 languages so each of this queries must return 7 if all your shops use the same languages. (You use multi shop with 2 shops ?)

[code]

[code]

[code]

If not there is a problem

[2019-03-07 06:21] centoasa opened #12813 "Data mining for statistics - cpu resource"
For the module "Data mining for statistics" please explain in detail the meaning of the 3 buttons and their relative consumption in terms of cpu and ram: https://nimb.ws/N71z0T

[2019-03-07 07:11] oskarna opened #12814 "Wrong quantities showing in BO for products with combinations"
I noticed out that Prestashop is calculating wrong quantities in a certain case for products with quantities. After several tests I have found out how is it happening.

This issue is quite problematic for shops, that decided to control their quantities by prestashop's BO, instead of inventory managemenet software etc. I know this type of software COULD help, but this is Prestashop bug that should

[2019-03-07 07:40] khouloudbelguith commented on #12811
Hi @Peter4661,

Could you please provide us a clear and concise description of what the problem is and  clear and concise description of any alternative solutions or features you've considered.

About your code suggestion, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-03-07 07:50] khouloudbelguith commented on #12812
Hi @tom75,

First, could you please provide us with more info:

 - server setup and configuration
 - debug mode report: thanks to provide me the exact exception displayed
 - PHP error logs
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-03-07 07:59] khouloudbelguith commented on #12267
Hi @slupostrupek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-07 07:59] #12267 closed, assigned to nobody

[2019-03-07 08:01] Maofree commented on #9566
hi
I've found the problem of this error
$clientToken = Tools::getValue('token');
in the condition at line 479 this value is void, so it is not equal to $serverToken

do you need the access to this site to fix this problem?

thanks

[2019-03-07 08:06] hacchus opened #12815 "Product Combinations not loading for some products in Prestashop 1.7.5.1"
Combinations for most products are not loading in back-office. The drop-down "Bulk actions (0/3 combination(s) selected)" remains grayed out and if I place the mouse over it, it keeps spinning forever.

If I turn on debug then in the place of combinations I get the message:

**[Debug] This page has moved
Please use the following URL instead: https://www.mysitename.com/en/root**

No other errors in

[2019-03-07 08:08] Maofree commented on #9566
another problem in that condition
$url = Tools::getValue('url');
is not empty but with a space

so this error is created from these variables

        $url = Tools::getValue('url');
        $clientToken = Tools::getValue('token');

$url  is not empty and $clientToken is empty

set
$url = '';
$clientToken = $serverToken;

the module sends messages

is it necessary to create a new topic?

thanks

[2019-03-07 08:11] khouloudbelguith commented on #12813
Hi @centoasa,

Apply data mining help you to collect all the statistics you need to focus on your activity. Here, it allows to :

- Save page views for each customer, useful for the Visitors Online module
- Save global page views
- Detect plugins

You must be careful with some option because `storing page views` uses a lot of resources and database space. We advise you to enable it only if your se

[2019-03-07 08:11] #12813 closed, assigned to nobody

[2019-03-07 08:13] dennispw commented on #11119
@jolelievre Yes, we can easily create an `override` folder in the theme and manually keep track of them, no big deal. Another option is of course to create a specific module containing the necessary overrides and have that particular module become a depency of the theme instead:
[code]

Not ideal but it would definately work.

[2019-03-07 08:14] centoasa commented on #12813
Thank you so much: in particular, what do you mean by "Detect plugins"? this plugin what is it for?

[2019-03-07 08:15] MatShir commented on #12755
Hi @rblaurin,
Interesting thoughts, the order of the field helps the customer to fill the form properly which is important in the user experience.
I'm not sure that the migration will help. But maybe @matks could tell me wrong?
@PrestaShop/prestashop-core-developers , do you have some tips to help his problem?

Nevertheless, your feature is interesting. It will be share to the team if It can fit i

[2019-03-07 08:15] khouloudbelguith commented on #12815
Hi @hacchus,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version: did you used the 1-click upgrade?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following arti

[2019-03-07 08:25] MatShir commented on #12648
I quite agree with you, since a merchant doesn't add currencies every day.
Thanks for your suggestion but I close the issue.

[2019-03-07 08:32] #12648 closed, assigned to MatShir

[2019-03-07 08:37] Peter4661 commented on #12807
some further research:

Now Apache server error warning after trying to upload product image from backoffice!

[Thu Mar 07 08:44:38.325755 2019] [hostinglimits:error] [pid 728444:tid 140708352616192] mod_hostinglimits: Error on LVE enter: LVE(657) HANDLER(application/x-httpd-lsphp) HOSTNAME(www.derks-wielersport.nl) URL(/index.php) TID(728504) errno (7) Read more: http://e.cloudlinux.com/MHL-E2BIG

[2019-03-07 08:55] #10979 closed, assigned to eternoendless, Quetzacoalt91

[2019-03-07 08:55] khouloudbelguith commented on #12814
Hi @oskarna,

Thanks for your report.
Yes, I have the same behavior after following your steps.
After canceling the order, in the Product list page, we have a different quantity
![image](https://user-images.githubusercontent.com/16067358/53943568-a7386b80-40bd-11e9-823f-cff4e7adee55.png)
![image](https://user-images.githubusercontent.com/16067358/53943614-bc14ff00-40bd-11e9-9aa5-a7f5b9111867.png)

[2019-03-07 09:06] hacchus commented on #12815
I'm on a Litespeed server on A2Hosting.
I used 1 click to update from 1.7.5.0 to 1.7.5.1.

This is the screenshot when I have debug on:

![debug](https://user-images.githubusercontent.com/5149317/53944850-e1f3d100-40c8-11e9-80c3-5f71ecd6c09d.png)

[2019-03-07 09:16] khouloudbelguith commented on #12815
@hacchus, did you enabled debug mode from the BO => Advanced Parameters => Performance page?
Thanks!

[2019-03-07 09:18] hacchus commented on #12815
Yes

[2019-03-07 09:26] hacchus commented on #12815
Something that I just noticed and might be important, is that all my products with 2 combinations are showing correctly, but everything with 3 or more combinations is not.

[2019-03-07 09:30] Peter4661 commented on #12811
Hi khouloudbelguith ,

Current  Prestashop search is based on Boolean searching 'OR' operator.
My proposal is making use of search 'AND' operator.

OR
The OR operator retrieves all items which contain either or both of the terms it separates. This retrieves more hits than searching one of the terms on its own.

For example in our shop ( chain 11 speed Shimano)
If you wish to search for the words "

[2019-03-07 09:30] Prestaworks commented on #11847
Hi, can we please have someone try to fix this? currently it is not possible to save products that have combinations with a negative price impact in the BO for swedish users. It's not a minor issue, it's a major issue.

[2019-03-07 09:31] khouloudbelguith commented on #12754
@watou, Done.
I tried with another shop, I added the module, you can follow this link: http://presta1and1.com/prestashop_1.7.5.1/index.php?controller=search&tag=headache&page=2
The block of this module is added in this page: http://presta1and1.com/prestashop_1.7.5.1/index.php?id_category=2&controller=category
http://presta1and1.com/robots.txt => OK.
http://presta1and1.com/prestashop_1.7.5.1/robots

[2019-03-07 09:33] khouloudbelguith commented on #11847
Hi @joelprestaworks,

This issue is added this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-03-07 09:36] khouloudbelguith commented on #12811
@Peter4661, thanks for these clarifications.
@marionf, @colinegin what do you think of his suggestion?
Thanks!

[2019-03-07 09:40] Prestaworks commented on #11847
Hi Khouloud,

the issue is in the swedish translation pack.
there is a
−
instead of a
-
numbers.json
"minusSign": "−"
should be
"minusSign": "-"

[2019-03-07 09:40] matks commented on #10178
Hi ! I checked yesterday, for a FR shop being run inside a docker container ([official image](https://github.com/PrestaShop/docker)) I dont reproduce your issue, product pages are OK. Are you testing with another language (not FR) ? then you must update the [related config block](https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist#L103): our config is a templat

[2019-03-07 09:41] watou commented on #12754
I think you now have the correct circumstances for test.  You can verify yourself with the [robots.txt testing tool](https://www.google.com/webmasters/tools/robots-testing-tool) against the presta1and1.com property to make sure the URL http://presta1and1.com/prestashop_1.7.5.1/index.php?controller=search&tag=headache is blocked, but I think it is by line 54 in /robots.txt.

After Google indexes th

[2019-03-07 09:45] davideapvd commented on #10178
Can you confirm pretty urls are enabled? Maybe next week I'll have more time to test this, thanks for now.

[2019-03-07 09:46] khouloudbelguith commented on #12692
@go-sudo, thanks for your feedback.
Issue found.

You have an override "ProductListingFrontController" which causing this issue.

You need to found this override is added with which module & check the module author about the issue or if it is a custom development you need to edit it because it causes a problem.
Your issue is not a PrestaShop's core bug but a customization problem, so I close the i

[2019-03-07 09:46] #12692 closed, assigned to nobody

[2019-03-07 10:07] khouloudbelguith commented on #12754
@watou, thanks for your feedback.
Yes, this [link](https://www.google.com/webmasters/tools/robots-testing-tool?siteUrl=http://presta1and1.com/prestashop_1.7.5.1/) is blocked.
Now, we need to wait to get the exact error reported in the Google Search Console.
In the meantime, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tre

[2019-03-07 10:20] khouloudbelguith commented on #12813
@centoasa, some plugins as defined in this section: https://github.com/PrestaShop/statsdata/blob/31c4c8aa8a8dc243b9413b89a671bf075a73f784/statsdata.php#L85
Thanks!

[2019-03-07 10:21] hacchus commented on #12815
@khouloudbelguith OK I think I found the issue. If I disable the "URL Cleaner- SEO Performance Module" from Prestashop then all of my combinations work. But I don't know why this is happening.

[2019-03-07 10:21] #12701 closed, assigned to eternoendless, Darmona

[2019-03-07 10:23] khouloudbelguith commented on #12815
@hacchus, this is a module bought from our market place PrestaShop?
Thanks!

[2019-03-07 10:23] hacchus commented on #12815
Yes this one: https://addons.prestashop.com/en/seo-natural-search-engine-optimization/25758-url-cleaner-seo-performance.html

[2019-03-07 10:25] khouloudbelguith commented on #12815
@hacchus, as it's not a native module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-07 10:25] #12815 closed, assigned to nobody

[2019-03-07 10:25] MatShir commented on #12025
Hi matks,
Editing a currency in multistore affects all the stores, you can't have a specific rate by store also. So I will rather keep the same logic for all the behaviors on the Currencies Page that a modification impact all the shop.
@tomas862 @matks Is it okay for you?

[2019-03-07 10:36] khouloudbelguith commented on #12807
Hi @Peter4661,

Your ticket is a duplicate of #11939
You can follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/11939#issuecomment-455982698) to fix the issue.
So, I close it.
Thanks!

[2019-03-07 10:36] #12807 closed, assigned to nobody

[2019-03-07 10:36] khouloudbelguith commented on #12807
Duplicate of #11939

[2019-03-07 10:48] Peter4661 commented on #12807
I found cause of the issue, 508 error / Smarty cache ( from Apache error log)

With all cache disabled ( Prestashop smarty, CSS, Java ) and caching module PageCache Ultimate, upload of image from backoffice was Oke.

With step by step enabling cache and checking image upload error, it turned out issue occurs with PageCache enabled.

I have forwarded this problem to the Pagecache Ultimate developer

[2019-03-07 10:49] khouloudbelguith commented on #12807
@Peter4661, you are welcome!
Feel free to open a new one when needed.
Thanks!

[2019-03-07 11:04] #11887 closed, assigned to nobody

[2019-03-07 11:04] eternoendless commented on #11847
I don't think that changing CLDR files would be the right way of fixing this bug. We should stop localizing numbers in form fields using CLDR because browsers have a very hard time handling different formats, this is only an example of that. Arabic numbers, different symbols for decimal and thousand grouping, minus and plus sign, it's a mess.

What do you think @colinegin ?

[2019-03-07 11:07] pedluis opened #12819 "[1.7.5.1]Cache issue with translations"
**Describe the bug**
Hello, we are developing our new website with prestashop 1.7.5.1, unfortunately we have found an issue with translations. If you switch from the English version to Italian for example, many string remains in English, if you refresh again the page the content is correctly in Italian.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://prova.ferrarisboutique.com/

[2019-03-07 11:27] khouloudbelguith commented on #12819
Hi @pedluis,

Have you the same issue reported in this ticket: #9652?
Do you have the issue with each module? ps_categoryproducts module?
Thanks!

[2019-03-07 11:38] hellodracon commented on #12805
@khouloudbelguith I found out that the IP is sent using another Server Var in my case (in the case of many CDN and firewalls actually). But, I can't find out how Prestashop redirects people through a language or another (actually, mine thinks at the CDN's position event if I changed the function that get the IP in Prestashop).

If someone can explain me that, I'd have a look at the PS 1.6 code and

[2019-03-07 11:56] khouloudbelguith commented on #12805
@hellodracon, you can follow this link: https://dh42.com/blog/prestashop-1-6-media-servers/
I hope that helps you!
Thanks!

[2019-03-07 12:02] hellodracon commented on #12805
@khouloudbelguith unfortunately not. Mediaservers in PS are used when when we use CDN only for static files (images, css, that kind of stuff). I'm using a CDN in a full way (changed my NS, DNS and stuff like that), so we're not using mediaservers in prestashop anymore since that's not only for static files but all the files.

The problem here is about user location using server variables.

[2019-03-07 12:04] elmanu13 commented on #12461
Hello,

Is that mean the 1.7.5 version will not work with PHP 7.3 ?
My Ubuntu server propose me to update my PHP version to 7.3 and I don't want to mess up my actual PS 1.7.5.1 shop.
Thanks for the details (I couldn't find any info about the subject)

[2019-03-07 12:04] juank2808 opened #12820 "[PrestaShopException]"
Hi Again!
I have a problem with a client, He deleted a Root category, and after he wanted see the products and prestashop show this error.
![imagen](https://user-images.githubusercontent.com/14195668/53955490-70704e80-40d9-11e9-852e-7fa06ae9aad1.png)

I need to fix this error for after updating the version.

[2019-03-07 12:10] khouloudbelguith commented on #12820
Hi @juank2808,

How did you delete the root category? from the Database?
Thanks!

[2019-03-07 12:19] juank2808 commented on #12820
the root category is in the database but is deleted in the backoffice, i dont know, this is very confusing, cause i have restored the root category but still showing the same error.

[2019-03-07 12:20] ghost commented on #12814
I came here with a similar problem and I see that something is wrong with the quantity of products (stocks) in Prestashop when quantities are decreased manualy instead of automatic (via orders).

I have weird problem with store that was updated successfuly from 1.7.3.3 to 1.7.4.2 and 1.7.5.1.
Upgrades was always flawless (database is consistent) but some day customer says that disabled products (s

[2019-03-07 12:29] ghost commented on #12814
@oskarna try to not decrease quantities manualy but make an order from the front (like regular customer). One of my friend use Prestashop as PoS system. When something is sold in local store then his employee use his customer account to make an order.

[2019-03-07 12:37] oskarna commented on #12814
@PrestaShark
As I described in my post - this value is in database, but it is not visible in backoffice.

Check table "pr_stock_available". Sort products by ID and You will see combination with quantity larger than zero. You can edit it and problem will be solved.

[2019-03-07 12:58] DBBlueDeath opened #12822 "Order message get's HTML entity encoded and stays that way"
**Describe the bug**
Special characters are saved in their html entity encoded form and they are not decoded when viewing the message in Backoffice or from the Order object (when exporting for a shipping carrier).
For example: `Árvíztűrő tükörfúrógép` turns into `&Aacute;rv&iacute;ztűrő t&uuml;k&ouml;rf&uacute;r&oacute;g&eacute;p`

**To Reproduce**
1. Place a new order, enter anything with special

[2019-03-07 13:03] matks commented on #12461
Yes indeed, PrestaShop v1.7.5 will not work for php7.3 .
However php7.2 is still the standard valid php version to use: php7.1 will be EOL at the end of this year and php7.3 is still fresh, a lot of php applications need update to work with php7.3 . So I advise you to use php7.2 on your Ubuntu server.

Source: http://php.net/supported-versions.php

Edit: the work to make one of the future versions

[2019-03-07 13:11] khouloudbelguith commented on #12822
Hi @DBBlueDeath,

We are aware of this issue.
Your ticket is a duplicate of #9726
So, I close it.
Thanks!

[2019-03-07 13:11] #12822 closed, assigned to nobody

[2019-03-07 13:11] khouloudbelguith commented on #12822
Duplicate of #9726

[2019-03-07 13:16] DBBlueDeath commented on #12822
Yeah okay, I did not follow it back to the old forge, the description here lost it's meaning.
Glad to hear it's finally fixed. Thanks!

[2019-03-07 13:18] Klemart3D commented on #9795
Reproduced on PS v1.7.5.0 + 1.7.5.1 too (with ps_linklist v3.0.2)

[2019-03-07 13:26] caotico25 opened #12823 "Bug adding product to cart"
**Describe the bug**
If you click fast several times on the button to add to the cart, the confirmation modal is displayed several times, along with the effect of darkening the page. From here there can be at least two cases:

1- If you press a few times, when you press the button to continue buying the modal disappears but the effect of the darkened remains.
2- If you press many times, neither th

[2019-03-07 13:28] khouloudbelguith commented on #12823
Hi @caotico25,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9634
So, I close it.
Thanks!

[2019-03-07 13:28] #12823 closed, assigned to nobody

[2019-03-07 13:28] khouloudbelguith commented on #12823
Duplicate of #9634

[2019-03-07 13:32] khouloudbelguith commented on #12805
@hellodracon, this bug tracker GitHub used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-03-07 13:50] MiguelOlmos392 commented on #12801
Hello, sorry for the delay, I just sent you the credentials by email, thanks!

[2019-03-07 13:54] khouloudbelguith commented on #12801
@MiguelOlmos392, sorry, I didn't receive your email yet.
Thanks!

[2019-03-07 13:57] khouloudbelguith commented on #12820
@juank2808, in your database, the table `ps_category`, you need to check that the column `is_root_category` set to 1.
Thanks to check & feedback.

[2019-03-07 14:01] khouloudbelguith commented on #12780
@Lwackp,  it is a feature, @PierreRambaud is it?
Thanks!

[2019-03-07 14:04] decom-media commented on #12737
Hello Matt,

Yes, multishop and Multilanguage.

Here are the results of the queries:

SELECT `id_configuration`, `id_lang`, `value` FROM `ps_configuration_lang` WHERE `id_configuration` IN (578, 590, 591)

Tabellenstruktur für Tabelle ps_configuration_lang
Spalte

Typ

Null

Standard

Kommentare

id_configuration

int(10)

Nein

id_lang

int(10)

Nein

value

text

Ja

NULL

date_upd

datetime

Ja

[2019-03-07 14:16] pedluis commented on #12819
Hi @khouloudbelguith ,
I've already found that thread, but in my case the issue cover the theme and not only a module.

Any suggestion?
Thanks!

[2019-03-07 14:19] khouloudbelguith commented on #12819
@pedluis, did you use the default theme Classic provided by PrestaShop?
Thanks!

[2019-03-07 14:24] #12673 closed, assigned to Quetzacoalt91

[2019-03-07 14:26] khouloudbelguith commented on #12814
@oskarna, can I close the issue? it is a duplicate of #9667?
Is it? it is the only solution that exists.
THanks!

[2019-03-07 14:32] khouloudbelguith commented on #12801
@MiguelOlmos392, I just received the email.
I will check & feedback.
Thanks!

[2019-03-07 14:38] Matt75 commented on #12737
Ok, I made a little PrestaShop module last night who can help you to fix this problem.
You can download it here : https://github.com/Matt75/fixconfigurationlang/archive/1.0.0.zip
After download please rename the file `fixconfigurationlang-1.0.0.zip` to `fixconfigurationlang.zip`

After installation of the module, go to the configuration page of the module.
You will see this
![capture d ecran 2019-

[2019-03-07 14:44] khouloudbelguith commented on #12812
I close this issue, solution to fix in this comment: https://github.com/PrestaShop/PrestaShop/issues/12737#issuecomment-470550425
Thanks!

[2019-03-07 14:44] #12812 closed, assigned to nobody

[2019-03-07 14:44] khouloudbelguith commented on #12812
Duplicate of #12737

[2019-03-07 14:50] PierreRambaud commented on #12780
As I know, it's not a feature nor a bug, you can't send POST data in GET context.
If you need to add some parameters, you maybe need to do it in javascript and add parameters to your request URL.
I'm not the best one to answer you maybe @Quetzacoalt91 knows a better way to play with custom fields here.

[2019-03-07 14:51] khouloudbelguith commented on #11514
Hi @marionf,

Steps that I folowed:

1. Install PrestaShop cloned from this [repository](https://github.com/PrestaShop/PrestaShop.git) on windows 10
2. Edit the file `/admin-dev/themes/new-theme/scss/components/_tinymce.sass` Line 558 from `background-color: #005fb3` to `background-color: #005fb3 !important`
3. Run `npm install`
4. Run `npm run build` => I have the same error  `"NODE_ENV" is not r