[2019-10-10 10:03] r4dhwene commented on #15894
thanks for responding ! but how can i remove a field from Customer form [BACK-END] ?
i can't find the function renderForm

[2019-10-10 10:09] r4dhwene commented on #15894
thanks for responding ! but how can i remove a field from Customer form [BACK-END] ?
i can't find the function renderForm

[2019-10-10 10:11] eriknuds commented on #15891
I can't get to it right now, may be able to later, but as this issue is with the system wide openssl settings on the server it doesn't depend much on the PS config I would think. It seemed to be a problem with/without curl/url_fopen, given no site local overrides (if at all possible). Just try a Debian 10 (Buster) on LInode or Azure or a free virtual machine download with vmware or virtualbox, see

[2019-10-10 10:15] rdy4ever commented on #15896
I think you should download the latest version available for [relatedproducts].(https://addons.prestashop.com/en/cross-selling-product-bundles/7942-related-products.html)
You should find it in your account, [here](https://addons.prestashop.com/en/customer-products.php).

[2019-10-10 10:17] khouloudbelguith commented on #15896
HI @Modii,

This issue occurs due to the `relatedproducts` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-10 10:17] #15896 closed, assigned to nobody

[2019-10-10 10:19] maofree commented on #15853
in this topic I report 2 errors
for the first one you can see by yourself why the a cart is replicated more than one time
for the second error is an error about cart data

in both cases the server is not a problem and the javascript is not the problem, from those logs you cannot see these type of errors they are in the php files

I passed you the access of the site, if you can and want to give a l

[2019-10-10 10:30] khouloudbelguith commented on #15891
@eriknuds, I need to know what is the exact version PHP, did you use?

Thanks!

[2019-10-10 10:33] Modii commented on #15896
Thank you, i checked compatibility and noticed it was compatible with 1.7.6.1 and that there was no available update in the prestashop BO for it.

It would be more intuitive if there was an indicator in the BO, even for paid module, that the module was out of date.

[2019-10-10 10:40] khouloudbelguith commented on #15896
@Modii, as you can see in your screenshot
![image](https://user-images.githubusercontent.com/16067358/66562100-29f53d80-eb5b-11e9-908f-0018c3907d2e.png)
it is related to your module.

Thanks!

[2019-10-10 10:51] Quetzacoalt91 commented on #15700
Hi there,

Does the issue still occurs today? We can get this error when the API is down or its calls have been disabled in the core.

On my side, the module on a shop running PS 1.7.6.0 was successfully upgraded:

![image](https://user-images.githubusercontent.com/6768917/66562776-3f1a9e00-eb54-11e9-9bdb-3953f0cedc2e.png)

[2019-10-10 10:53] fdonnet commented on #15877
hello, @khouloudbelguith
Here are the results :
![image](https://user-images.githubusercontent.com/45830712/66562904-e8fe2880-eb5c-11e9-8752-fadfaf3d6b75.png)

[2019-10-10 10:56] eriknuds commented on #15891
Hi,
this was latest 1.6 version - but as the problem is with the SSL system and the PrestaShop download servers or CDN network - and not the PS application - the PS version shouldn't matter.

[2019-10-10 10:58] eriknuds commented on #15891
Ah, version of PHP...both 7.0 and 7.3 had the same behavior. I know PS doesn't work perfectly with 7.3, but I tested and the behavior was the same.

[2019-10-10 11:02] PrestaNewbie opened #15897 "Can't disable Terms and Condition check box on checkout"
In order settings I disabled terms and condiotions check box, but it appears anyway in checkout.

PrestaShop version: 1.7.6.1
PHP version: 7.2
![how to disable](https://user-images.githubusercontent.com/56392393/66595437-a1e75600-eba3-11e9-9cda-b6eccc1f946e.PNG)

[2019-10-10 11:04] eriknuds commented on #15891
BTW, a new Debian 10 install has 7.3 by default, and it's a real problem that PS don't work perfectly with it. You can use PHP 7.0 quite easily on Debian 10, as it's in the default repository, but the PHP-mysql package is not I believe...so you have to add oldstable security update in sources.list to get it...so if you get into this situation it's a bit of a hassle. But in practive PS runs ok on 7

[2019-10-10 11:08] r4dhwene opened #15898 "NEED UR HELP PLZ"
Can anyone please help from wich file can i remove a field from customer form of the back end ?
please

[2019-10-10 11:13] khouloudbelguith commented on #15898
Hi @r4dhwene,

What are the exact filds you need to remove it?

Thanks!

[2019-10-10 11:17] khouloudbelguith commented on #15700
@Quetzacoalt91, thanks, but sam issue here with PS1.7.6.1.
https://drive.google.com/file/d/1Kjs5WW9FEVa1rYxdFH2eyh6Nwu5OG962/view
I tried with this module
[psaddonsconnect.zip](https://github.com/PrestaShop/PrestaShop/files/3712134/psaddonsconnect.zip)

Thanks!

[2019-10-10 11:19] eriknuds commented on #15891
I believe it's a problem with the SSL or certificate setup on prestashops CDN or download servers, as explained in the first sentence of the bug report. IMHO the bug is an infrastructure bug (infrastructure which the 1-click update module depends on).

[2019-10-10 11:21] r4dhwene commented on #15898
Salut Khouloud merci de m'avoir répondu
je veux enlever le champs date de naissance quand j'ajoute un client à partir d'admin

[2019-10-10 11:23] eriknuds commented on #15891
This PS infrastructure issue effectively disables the 1-click update module on the most recent Debian stable version, and other Linux distros are likely to follow the same secure approach so the problem will spread if not fixed by fixing the PS download server infrastructure - I would think.

[2019-10-10 11:24] khouloudbelguith commented on #15898
@r4dhwene, in your BO => Shop Parameters => Customer Settings => Customer Tab, you can disable the `Ask for birth date` option.
![image](https://user-images.githubusercontent.com/16067358/66564824-3d0b0c00-eb61-11e9-89df-b158be1a7c9d.png)

Thanks!

[2019-10-10 11:24] eriknuds commented on #15891
You don't even get an error about what is wrong even with debug settings on. The 1-click module just displays a blank version and can't upgrade.

[2019-10-10 11:26] r4dhwene commented on #15898
This didnt work .. where can i find the renderForm function of this page ?
![presta](https://user-images.githubusercontent.com/39316906/66564917-7479b880-eb61-11e9-9373-455ae53f82fd.jpg)

[2019-10-10 11:34] khouloudbelguith commented on #15897
Hi @PrestaNewbie,

This option is to Require customers to accept or decline terms of service before processing an order.
In fact, it is at the checkout page & not the "Create an account" page.
![image](https://user-images.githubusercontent.com/16067358/66565380-9a538d00-eb62-11e9-91bc-e7ff94790b0f.png)

Thanks to check & feedback.

[2019-10-10 11:35] r4dhwene commented on #15898
@khouloudbelguith any information ?

[2019-10-10 11:45] matks commented on #15898
Hi @r4dhwene,

Please be aware that this bug tracker should be used to report issues only. We provide some quick answers, but it seems you need more, and this cannot happen on github as this is a bug tracker.

I already answered you in https://github.com/PrestaShop/PrestaShop/issues/15894 : please check the tutorial and module example to see how you can modify the customer form 😉

If you need furt

[2019-10-10 11:45] #15898 closed, assigned to nobody

[2019-10-10 11:49] khouloudbelguith commented on #15877
@fdonnet, did you use any custom them? or any custom module used in the FO?

Thanks!

[2019-10-10 11:55] fdonnet commented on #15877
@khouloudbelguith I use a child theme based on the standard classic theme (no modification made in the original parent classic theme).
I tried to upgrade with the "upgrade the classic theme" (true/false) options without success.
No custom module => very simple shop configuration, that's why it very strange and difficult to identify the problem.

[2019-10-10 11:58] khouloudbelguith commented on #15891
Ping @Quetzacoalt91 @PierreRambaud what do you think?

Thanks!

[2019-10-10 12:01] khouloudbelguith commented on #15877
@fdonnet, to make sure, because the upgrade is well done in your case.
Have you tried to install a fresh PrestaShop PS1.7.6.1, it is well working in your case?

Thanks!

[2019-10-10 12:06] khouloudbelguith commented on #15853
@maofree, about the first error,
I checked the last 1000 carts, I have only one customer that has this problem of multiplication of carts, is it?

About the second issue, we have similar issues
https://github.com/PrestaShop/PrestaShop/issues/9932
https://github.com/PrestaShop/PrestaShop/issues/9672
Thanks to check & feedback.

[2019-10-10 12:18] fdonnet commented on #15877
Not for this shop.
But i have 2 other shops on this servers and it s working perfectly fine.
AutoUpgrade from 1.7.5.2 to 1.7.6.0 = no problem,
AutoUpgrade from 1.7.6.0 to 1.7.6.1 = no problem

For this particular shop, all the other previous upgrades worked very well too. So I don't understand why I cannot push through 1.7.6 ;)

[2019-10-10 13:00] PierreRambaud commented on #15891
I agree, there are problems with recent version. I'm also on Debian Buster and I'm unable to run the upgrade process.

[2019-10-10 13:01] cedricfontaine commented on #15892
Maybe there is a difference in our configuration. In Quebec, price are not included taxes and we have 2 levels of taxes and we display the tax breakdown on the invoice.

[2019-10-10 13:04] khouloudbelguith commented on #15891
@PierreRambaud, thanks!
so, we need to add this bug to our bug roadmap? is it?

Thanks!

[2019-10-10 13:05] khouloudbelguith commented on #15892
@cedricfontaine, your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/14646?

Thanks!

[2019-10-10 13:07] fdonnet commented on #15877
hello @khouloudbelguith,

Before or after the the upgrade ? Because I already tried to uninstall and reinstall it before i made an upgrade ?
Regards,
Fabien

[2019-10-10 13:11] khouloudbelguith commented on #15877
@fdonnet, no after the upgrade, just temporarily.
Or you can rename the `autoupgrade` folder to `autoupgrade_old`

Thanks!

[2019-10-10 13:11] LouiseBonnard commented on #15817
Hi @marionf, it suits me fine except for the third option. I would leave the amount without the wording before, so no 'at least' nor 'up to' but only '€3.00'.

[2019-10-10 13:19] fdonnet commented on #15877
@khouloudbelguith exactly the same issue... need to roll back again ;)

[2019-10-10 13:20] #12223 closed, assigned to matthieu-rolland, MatShir

[2019-10-10 13:23] khouloudbelguith commented on #15877
@fdonnet, could you please check the file `config.xml` in your module the 1-click upgrade & check the version
`<version><![CDATA[4.9.0]]></version>`

Thanks!

[2019-10-10 13:23] eriknuds commented on #15891
IMHO you need to escalate it to your infrastructure/operations team as no application change is required - but an infrastructure ssl and/or certificate issue requires fixing ASAP.

[2019-10-10 13:24] matks commented on #15274
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15621#event-2702690573

[2019-10-10 13:24] #15274 closed, assigned to PierreRambaud

[2019-10-10 13:25] cedricfontaine commented on #15892
No it's not the same problem.

See duplicate in the shipping section.
![Capture d’écran, le 2019-10-10 à 09 24 08](https://user-images.githubusercontent.com/3180112/66572935-db867580-eb3f-11e9-9f17-49a78a838ab9.png)

[2019-10-10 13:25] fabiorme commented on #15080
I activated the debug mode, and when I try to access the administrator panel the following message appears

`Table 'argentissimo1761.ps_currency_lang' doesn't exist<br /><br /><pre>SELECT *
FROM `ps_currency_lang`
WHERE `id_currency` = 2</pre>`

now I will try to create the table manually and see what happens ....

[2019-10-10 13:26] fdonnet commented on #15877
yes @khouloudbelguith in config.xml
 <version><![CDATA[4.9.0]]></version>

[2019-10-10 13:27] eriknuds commented on #15891
An application change is suggested - add check to see if the connection with download servers can be established in the 1-click module and/or fall back to no ssl, regular http download, preferably with a warning.

[2019-10-10 13:31] PrestaNewbie commented on #15897
I already turned off Terms of service, but its still there, and yes its not Creat an account page its "checkout" page

[2019-10-10 13:38] khouloudbelguith commented on #15897
@PrestaNewbie, in the last step of the payment.
If the option disabled
![image](https://user-images.githubusercontent.com/16067358/66574115-fd99eb00-eb73-11e9-849c-996f3a849167.png)
If it is enabled
![image](https://user-images.githubusercontent.com/16067358/66574151-0985ad00-eb74-11e9-8bd3-1103530e1a18.png)

Thanks!

[2019-10-10 13:41] matks commented on #15574
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15691

[2019-10-10 13:41] #15574 closed, assigned to PierreRambaud

[2019-10-10 13:42] cedricfontaine commented on #12982
I agree with @djodjo3 for the healthcheck. We have the same needs.
Healthcheck is mainly to remove a server from a loadbalancer, so we just need to confirm that apache, mysql is running and basic prestashop configuration is ok.
To me what @PierreRambaud offered is more a status availability page. It's a different need.
The main problem to do it with a module is that currently we cannot request eac

[2019-10-10 13:51] #15875 closed, assigned to eternoendless

[2019-10-10 13:52] fdonnet commented on #15877
@khouloudbelguith

I just think about that : in the log.txt I sent to you I have this line :
[2019-10-09 13:41:11] Database upgrade OK
**[2019-10-09 13:41:14] Erreur(s) détectée(s) pendant la mise à jour.**
[2019-10-09 13:41:14] Database upgraded. Now upgrading your Addons modules...

Without any 0 or any information if I really had errors, and where ?
But maybe it's perfectly fine. Don't know.

[2019-10-10 13:53] khouloudbelguith commented on #15892
@cedricfontaine, I created this cart rule
![image](https://user-images.githubusercontent.com/16067358/66575213-d7754a80-eb75-11e9-8b06-83739e87eb6b.png)
I used shipping & a product using the same tax rule.
![image](https://user-images.githubusercontent.com/16067358/66575327-068bbc00-eb76-11e9-81e6-a438708b6390.png)

In the invoice, it is OK
![image](https://user-images.githubusercontent.com/160673

[2019-10-10 13:55] Klemart3D commented on #15440
6. And in the basket:
![bc-basket](https://user-images.githubusercontent.com/7419525/66575551-63877200-eb76-11e9-846f-622315fa2e94.png)

[2019-10-10 14:00] khouloudbelguith commented on #15877
@fdonnet, could you please check that your files are similar to those files
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/config/services/common.yml#L13
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/src/PrestaShopBundle/Resources/config/services/bundle/services.yml#L41

Thanks!

[2019-10-10 14:10] fdonnet commented on #15877
@khouloudbelguith in the second one(services.yml) it seems that this line is missing on my side
modules_dir:              "%kernel.root_dir%/../modules"

line 6

But other than that the files are the same...

[2019-10-10 14:35] marionf commented on #15890
As the listing displays the amount rounded, If I search 10 or 10.00 it should find the result
Is it possible to do that ?

[2019-10-10 15:04] khouloudbelguith commented on #15877
@fdonnet, I just sent your error to our developer to check it.
Thanks for your understanding!

[2019-10-10 15:59] marionf commented on #10549
@matks Do you think it's possible to fix the following issue during the migration:
- [ ] https://github.com/PrestaShop/PrestaShop/issues/9862 ?

[2019-10-10 16:05] Klemart3D commented on #11105
Right, I have this error with PS 1.7.6.1 + PHP 7.2 + nginx + DEV mode ON when doucle-click on "Clear cache" button:

![bug-cache](https://user-images.githubusercontent.com/7419525/66586071-4eb3da00-eb88-11e9-9b4c-94159bc15522.png)

[2019-10-10 16:09] matks commented on #10549
No, this is not related to the page internal behavior, this is rather a multistore issue if the shop name is modified.

[2019-10-10 18:20] PrestaNewbie commented on #15897
How should I disable these --->
![how to disable](https://user-images.githubusercontent.com/56392393/66595504-c17e7e80-eba3-11e9-9b24-30d2b266e565.PNG)

[2019-10-10 20:54] cedricfontaine commented on #15892
Did you activate tax breakdown in the invoice setting ?

[2019-10-11 03:56] Prometheus19 opened #15907 "Issues with Add to Cart, Checkout, Payment Preferences, Symfony Update & Translation"
Hello,
I am new user of PrestaShop software for its eCommerce application. Very recently, I have encountered some issues after installing and configuration store setup with it.

I am using PrestaShop v. 1.7.5.2 with its Classic (default) theme for the shop. The store was fully functional and many of its features were enabled for this store. The display of products, add to cart, checkout, and deliv

[2019-10-11 05:41] Prem-lmx opened #15911 "New product page in blank in prestashop1.7.6"
Hai,
i'm use the prestashop version1.7.6..
click the new product page but still blank page..only,
please support ....
url :sumangalijewellers.in
![image](https://user-images.githubusercontent.com/52959027/66626981-d4cb3180-ec17-11e9-8e08-280dc6414e8c.png)
![image](https://user-images.githubusercontent.com/52959027/66633651-f08b0380-ec28-11e9-83e4-6f456598986a.png)

Thanks

[2019-10-11 06:32] flyman30 commented on #14648
The modified e-transaction module for PrestaShop 1.7.6. * To PrestaShop standards has arrived, tested and functional.

If you want it, ask me i will sent it ZIP files.

[2019-10-11 06:39] bm-services commented on #11105
It's the same for me without double-click on "clear cache" button: it seems the problem occures when someone navigate on front office and I click at the same time on "'clear cache".

[2019-10-11 07:54] khouloudbelguith commented on #15907
Hi @Prometheus19,

You have issues with two modules: the PayPal module & the AmzPayments modules.
![image](https://user-images.githubusercontent.com/16067358/66634152-bca1e500-ec0c-11e9-86bf-123b6302991c.png)
![image](https://user-images.githubusercontent.com/16067358/66634181-cdeaf180-ec0c-11e9-96bb-5c3155e0ff4c.png)
They are not provided by Prestashop, we can't do anything with this.
You should

[2019-10-11 08:08] jcpaybox commented on #14648
Hi, official releases for paybox and e-transactions are coming shortly, we will push them asap to github.

feel free to contact us for any further information: modules-paybox@verifone.com

[2019-10-11 08:27] khouloudbelguith commented on #15897
@PrestaNewbie, To disable "partner offers", go to the BO => Shop Parameters => Customer Settings => Disable the option "partner offers"
![image](https://user-images.githubusercontent.com/16067358/66636314-405dd080-ec11-11e9-9a8c-e25d9a155342.png)
To disable the "Terms of service", go to the BO => Modules => Module Manager => Search for the module "psgdpr" => Click on Configure => Disable the "Acco

[2019-10-11 08:27] #15897 closed, assigned to nobody

[2019-10-11 09:30] Klemart3D opened #15910 "Can't access to some BO pages because of 'Variable "ps" does not exist.' with debug mode"
I upgrade my shop from PS 1.7.5.2 to PS 1.7.6.1 with 1-Click upgrade module and now I can't no more access to some admin pages with **debug mode** to ON. This pages are:

- Theme and logo
- Translations
- Design mail theme
- Advanced email

With related screenshots:

![Design theme and logo page error](https://user-images.githubusercontent.com/7419525/66640834-f3322c80-ec19-11e9-9552-f0d88f5b3463.

[2019-10-11 09:33] khouloudbelguith commented on #15911
Hi @Prem-lmx,

Thanks for your report.
Have you an override of the class `SearchControllerCore.php`?

Thanks!

[2019-10-11 09:33] ghost opened #15913 "Admin url rewrite problems"
Hi,
Im facing a fascinating bug in admin url rewriting.
Take a look at example.

This is how the links looks like.
I can enter in Carriers link but i can't open Preferences link because of invalid token (login screen occour)

Its related with variable:

var admin_modules_link = '{$link->getAdminLink("AdminModulesSf", true, ['route' => "admin_module_catalog_post"])|addslashes}';

But how to fix it?

[2019-10-11 09:37] khouloudbelguith commented on #15910
Hi @Klemart3D,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-10-11 09:40] SignalBip opened #15914 "Impossible to disable Debug mode"
Hello,

Our store is on  1.7.6.0. Since activation of the Debug mode, we can disable it anymore.
It causes some Back-office menus to display ERROR 500.

We have tried two possible solutions without any success:
1. delete Prestashop cache manually by deleting the "dev" and "prod" files in the "app" folder.
2. replace the "defines.inc.php" file.

Thank you for your help.

[2019-10-11 09:41] khouloudbelguith commented on #15913
Hi @PrestaShark,

Your issue is related to cookies.
Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER

[2019-10-11 09:45] khouloudbelguith commented on #15914
Hi @SignalBip,

Have you the right permissions for your files.
They are writable?

Thanks!

[2019-10-11 09:49] SignalBip commented on #15914
Hello,

Thank you for your reply, yes they are writable.

[2019-10-11 09:51] khouloudbelguith commented on #15914
@SignalBip,

Did you replaced this

[code]
by this?
[code]

Thanks!

[2019-10-11 09:55] SignalBip commented on #15914
It is on "false", we changed it on "true" and nothing changes.

[2019-10-11 09:59] khouloudbelguith commented on #15914
@SignalBip, could you please provide us the log file into the path `Project_Folder/var/logs`.

Thanks!

[2019-10-11 10:04] Prem-lmx commented on #15911
Hi @khouloudbelguith ,
Thanks for your report.
what write in over of the class SearchControllerCore.php?

Thanks!

[2019-10-11 10:09] khouloudbelguith commented on #15911
@Prem-lmx, no,
Overriding is a way to “override” class files and controller files
An override can be introduced by a custom module
In this path for example  https://github.com/PrestaShop/PrestaShop/tree/develop/override/controllers/front

Thanks!

[2019-10-11 10:17] #15911 closed, assigned to nobody

[2019-10-11 10:18] SignalBip commented on #15914
[logs.zip](https://github.com/PrestaShop/PrestaShop/files/3716978/logs.zip)

[2019-10-11 10:35] khouloudbelguith commented on #15914
@SignalBip, you have errors relted to the cache

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) and try to run those command lines to remove the cache:

[code]

Thanks!

[2019-10-11 10:43] gbartosz83 commented on #15864
My Admin doesn't know prestashop can you help me edit the config file?
I don't have access to the server configuration, I can only sent it to my admin.
Which lines should I check, I have some redirects rules for my website (non-shop part)

[2019-10-11 10:46] khouloudbelguith commented on #15864
@gbartosz83, you need to check this line
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L5
And this line
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L55
In my first comment, I provided you my Nginx configuration (in my case, the path of my project is `/var/www/

[2019-10-11 11:44] Klemart3D commented on #15910
Same by cleaning cache manually (`rm -rf var/cache/dev/ var/cache/prod/`) or with "Clear Cache"  button in BO. Error remains if debug mode is enable and cache enabled or disabled.

[2019-10-11 11:51] tomas862 commented on #15230
hey @matks  @MatShir

I marked places with blue borders I want to discuss in the image below:

![Screenshot (22)](https://user-images.githubusercontent.com/17051250/66647548-de619300-ec31-11e9-9d85-bbe91d48e327.png)

to remove them and make it exactly like in the design sketch its a bit hard and here's why :

there are three options how this can be achieved:

1. I would need to put kpis container

[2019-10-11 12:07] khouloudbelguith commented on #15910
@Klemart3D, have you some errors during the upgrade?
What is the exact version of the module 1-click upgrade did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-10-11 12:22] matks commented on #15230
Yes we can ignore these gaps for now. In the current system, we cannot remove them without a very dirty hack in the code that is likely to bite us back later 😢.

@TristanLDD @MatShir I'm sorry, as stated by Tomas up there, we cannot 100% follow the mock-up. This obstacle spawns from https://github.com/PrestaShop/PrestaShop/issues/12925. When we get rid of this issue, we will be able to correct it.

[2019-10-11 12:45] PierreRambaud commented on #14173
FYI It's fixed in 1.7.6.2

[2019-10-11 13:04] gbartosz83 commented on #15864
if my root path is:
root	/srv/www/domain.com;
so admin should be like this?
location /admin-myname/ {
directory
            if (!-e $request_filename) {
                rewrite ^/.*$ /admin-myname/index.php last;
            }
        }

[2019-10-11 13:13] khouloudbelguith commented on #15864
@gbartosz83, did you tried with this configuration?

[code]

Thanks!

[2019-10-11 13:15] gbartosz83 commented on #15864
I don't have direct access to the server, I have to send this file to my admin, that's why I'm asking which folder path will work

[2019-10-11 13:16] PrestaShark commented on #15913
Hi,
Thanks for Your time @khouloudbelguith

It's nasty and related with webhosting company settings... @home.pl...

Closed!

[2019-10-11 13:16] #15913 closed, assigned to nobody

[2019-10-11 13:17] khouloudbelguith commented on #15913
@PrestaShark, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-11 13:17] Klemart3D commented on #15910
@khouloudbelguith
I don't remember any error during upgrade.
Module 1-click upgrade v.4.9.0
Here upgrade logs: [log.zip](https://github.com/PrestaShop/PrestaShop/files/3717721/log.zip)

[2019-10-11 13:19] khouloudbelguith commented on #15864
@gbartosz83, thanks to send it, check & feedback.

[2019-10-11 13:20] gbartosz83 commented on #15864
heh

[2019-10-11 13:24] matks commented on #15831
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15859

[2019-10-11 13:24] #15831 closed, assigned to jolelievre

[2019-10-11 13:24] khouloudbelguith commented on #15864
@gbartosz83, waiting for your feedback.
Thanks!

[2019-10-11 13:27] cedricfontaine commented on #15892
Thanks for the info.

[2019-10-11 13:33] #15508 closed, assigned to matthieu-rolland

[2019-10-11 13:45] morghy1992 commented on #12687
Hi @BenTen yes the lines are different for my theme. Unfortunately I do not have any support for the theme because is expired. Do you think can anyone here can help me if I attache screenshot of my files ?

[2019-10-11 13:47] JBWModules opened #15918 "Order split with wrong shipping cost calculations"
Scenario:
1. Create two carriers, first one A for weight < 10kg and cost of 10€ , second one B with weight > 10kg and cost of 25€
2. Edit Article X weight is 1kg and only carrier A assigned. Edit article Y weight 11kg and only carrier B assigned.
3. Create a order, 1pc of article X and 1pc of article Y.
4. Cart/checkout shows both articles with shipping cost of 25€
--> expectation would be 10€+25€

[2019-10-11 13:50] khouloudbelguith commented on #15910
@Klemart3D, thanks!

- Database upgrade OK
- All files upgraded.
- Addons modules files have been upgraded

=> Upgrade process done, but some warnings have been found.

I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/14327

Thanks to check & feedback.

[2019-10-11 13:53] khouloudbelguith commented on #15918
Hi @JBWModules,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15304#issuecomment-526137500
So, I close it.
Thanks!

[2019-10-11 13:53] #15918 closed, assigned to nobody

[2019-10-11 13:53] khouloudbelguith commented on #15918
Duplicate of #15304

[2019-10-11 13:57] JBWModules commented on #15918
@khouloudbelguith I think the issue #15304 is different. In my scenario both order can and should be shipped but the shipping cost are calculated incorrectly

[2019-10-11 14:01] khouloudbelguith commented on #15918
@JBWModules, no it is the same issue, order are splited in two orders because you have different carriers.
The shipping is wrong calculated.

Thanks!

[2019-10-11 14:06] JBWModules commented on #15918
Hmm ok, the expected results are compeltely different but maybe same technical reason. Ok, waiting for the fix. It would be nice if we could control the shiping cost calculation even further: In my case we could either charge the customer for the order split (e.g. due to different weights) - or we give the cheaper shippment for free (e.g. two carriers due to different storages the customer can inf

[2019-10-11 14:08] samuel-pires commented on #13829
Hi @matthieu-rolland
Are we completely done with this EPIC or are there still some related tasks do add to the EPIC?

[2019-10-11 14:15] lsabi commented on #12584
@khouloudbelguith I'm having the same issue on a cPanel host. In particular, the issue occurs when I update a product information. Below the error log

[2019-10-11 16:06:26] request.INFO: Matched route "admin_performance_save". {"route":"admin_performance_save","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\Configure\\AdvancedParameters\\PerformanceController::processFormA

[2019-10-11 14:24] colinegin opened #15919 "Change "status" for some PrestaShop modules"
For PrestaShop 1.7.7, some modules need to change the "status" they currently have according to their reviewed level of importance.

There are 2 different statuses: _native_ or _pushed by API_.

For new native modules, some actions are needed:
- publish the module on packagist
- update the core (composer.json and composer.lock) with the module
- update the list of installed modules in the installe

[2019-10-11 14:25] TomanDesign commented on #12136
Hi, I have the same warning on selected orders. In addition, I have tax = 0 on the invoice summary.

[2019-10-11 14:28] #13374 closed, assigned to matks

[2019-10-11 14:29] matks commented on #13374
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15623

[2019-10-11 14:47] matks opened #16969 "When ps_crosselling module is installed too, display its informations into modal"
Spec:

If https://github.com/PrestaShop/ps_crossselling is installed too, then we can display the "Customers who bought this product also bought..." block into the shopping cart modal into https://github.com/PrestaShop/ps_shoppingcart/blob/master/modal.tpl#L4

[2019-10-11 15:00] TristanLDD commented on #15230
It's ok let's avoid dirty hacks ;)

[2019-10-11 15:05] LouiseBonnard commented on #15893
It's under discussion with the legal team, I keep you guys posted about it.

[2019-10-11 15:26] nateBitworks opened #15920 "Additional shipping not adding in cart"
Since upgrading to version 1.7.5.2 products that contain "additional shipping" are not adding the additional shipping within the cart, nor charging the customer for it.

The only shipping that is charged is the carriers shipping charge.

[2019-10-11 15:31] khouloudbelguith commented on #15920
Hi @nateBitworks,

Thanks for your report.
Is it about the shipping fees?
![image](https://user-images.githubusercontent.com/16067358/66664447-d4995900-ec4c-11e9-9d93-9eaf83a234d7.png)

Thanks!

[2019-10-11 15:32] marionf opened #15921 "Add nofollow links to facetedsearch"
Why the faceted search have nofollow links.
Ex, If i filter a category with brands, the result page have a nofollow link with same title and description of the category ... but is another page

I think we could use these pages to better index our sites
thanks

http://feedback.prestashop.com/forums/387864/suggestions/38786059

[2019-10-11 15:48] nateBitworks commented on #15920
Yes. It is not adding those fees

[2019-10-11 15:52] Prometheus19 commented on #15907
Hello khouloudbelguith,
Thank you for your follow up and input.
Sure, some of PrestaShop modules (like payment modules) are subject to modules' developers or authors. However, the installation and configuration of payment modules fall within purview of how they are handled via core elements of PrestaShop's operating system. Not only are PayPal and Amazon payments subject to Internal Server Error (

[2019-10-11 15:53] khouloudbelguith commented on #15920
@nateBitworks, I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
Your carrier is not free & it is using a tax? is it?
https://drive.google.com/file/d/1IAxdvfH9ix7_ORmDyE66fhSGXpu9inhx/view

Thanks!

[2019-10-11 15:57] nateBitworks commented on #15920
I have tried in both versions. My live site is using 1.7.5.2 and my dev site is 1.7.6.1. I have tried with including tax and excluding tax. And the carrier does not use tax.

[2019-10-11 16:01] khouloudbelguith commented on #15907
@Prometheus19, but those exceptions are related to those modules
![image](https://user-images.githubusercontent.com/16067358/66666380-c4837880-ec50-11e9-97e2-b5d0cd913973.png)
The class ViaBill is provided by the module
The class Krill is provided by the module also
![image](https://user-images.githubusercontent.com/16067358/66666426-e3820a80-ec50-11e9-9c04-13cd99043438.png)

No, the PayPal module

[2019-10-11 16:02] khouloudbelguith commented on #15920
@nateBitworks,

The shipping fees is applied If a carrier has a tax, it will be added to the shipping fees. It does not apply to free shipping.

Thanks!

[2019-10-11 16:04] khouloudbelguith commented on #12584
Hi @lsabi,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-10-11 16:24] kpodemski commented on #15921
this is good for SEO, as search results should never be indexed :)

[2019-10-11 17:59] nateBitworks commented on #15920
![image](https://user-images.githubusercontent.com/56446569/66673777-ef58d700-ec26-11e9-9eb6-07481124e20f.png)

Still no taxes added after I added the tax rate to the carrier.

[2019-10-11 18:00] nateBitworks commented on #15920
That is the shipping cost without the $15 additional shipping not adding.

[2019-10-11 21:29] Prometheus19 commented on #15907
@khouloudbelguith
Well, many modules or addons may not part of core, but the actions of "adding product to cart, viewing contents of cart, (with added products or items), guest or account checkout page, payment options (once enabled), and confirmation of order" are part of PrestaShop's core functions, right? After all, it is eCommerce software to setup online store right out-of-the-box.

None of t

[2019-10-12 07:03] go-sudo commented on #14750
Hello @MatShir

Any news about this issue

regards

[2019-10-12 15:24] Talw3g opened #15922 "Passwords in Welcome emails"
**Description**
The welcoming email sent when a user creates an account contains the username AND password in clear text. This means passwords are stored as clear text in the db, which is a serious security risk !

**To Reproduce**
Simply create an account

[2019-10-12 16:02] kpodemski commented on #15922
What? :D Password are not stored in plain text... you can check it in database, table PREFIX_customer,

about an e-mail with registration confirmation... what version of PrestaShop you use?

[2019-10-12 16:10] Talw3g commented on #15922
I don't personally use PrestaShop, but I created an account on 2 websites that use it... and both sent me the same welcome email with my credentials in plain text !
I assumed it came from PrestaShop, but I don't know which version.

[2019-10-12 16:36] kpodemski commented on #15922
Ok, don't worry, passwords are not stored in plain text, also in newest versions of PrestaShop password is no longer sent after creating an account

[2019-10-12 20:47] PierreRambaud commented on #15922
By newer versions, he said, every versions that are over two or three years old 😅
 https://github.com/PrestaShop/PrestaShop/pull/5889

[2019-10-12 21:05] PrestaNewbie opened #15923 "Can't translate or disable [I agree to the terms and conditions] on guest checkout"
Hello,
i can't translate or find where to translate (I agree to the terms and conditions and the privacy policy) on first checkout page (guest-login.tpl i think). Any ideas?
![how to disable](https://user-images.githubusercontent.com/56392393/66707683-0db8f280-ed4d-11e9-93a9-fdcbd4decb42.PNG)

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2

[2019-10-13 02:30] Sergio0l0 commented on #15420
Hey, I got the same problem, I edit the index page on BO/SEO&Urls, but nothings change, I got a real problem with this =).

[2019-10-13 11:08] ediathome commented on #15720
I am experiencing the same issue. The [db_structure.sql](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/install-dev/data/db_structure.sql) is of no help, as the error is related to the ps_admin_filter table and this one is not touched in the 1.7.6.1 sql file! I haven't researched too deeply but I think this may be an error in the code, and instead of 'filter_id' the field 'id' should be sel

[2019-10-13 17:46] legazpi23 commented on #15881
Creo que tengo el mismo problema. He actualizado de la version 1.7.5.2 a la última versión 1.7.6.1.
Al añadir categoría nueva me surge el siguiente error:
throw new PrestaShopException('Invalid category vars'); en clases/link.php (línea 388)
He podido comprobar que desactivando las urls amigables el error desaparece.
Y que en trafico y seo, de parámetros de la tienda, en la configuración de ruta a

[2019-10-14 03:57] levothanhhong opened #15924 "Translate any module - 500 Internal Server Error"
**Describe the bug**
When I access to translate for any module, I received an error message:

The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

Log error:

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2.20
Server: H

[2019-10-14 07:17] sarjon commented on #14732
Currently it replicates products list that is displayed in Order view page, does it make sense to display different data in preview list?

If the order as more than 10 product the button “Open Order” on the bottom right of the preview becomes “View the other X products”

Isn't it confusing a little? Why do we have to replace “Open Order" button for some orders?

Does it make sense to allow having

[2019-10-14 08:11] colinegin commented on #15260
Hello,

will this issue be fixed for 1.7.6.2 ?

Thanks !

[2019-10-14 08:12] khouloudbelguith commented on #15516
Hi @atonia,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-14 08:12] #15516 closed, assigned to nobody

[2019-10-14 08:13] khouloudbelguith commented on #15411
Hi @nielsverhoeven84,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-14 08:14] colinegin commented on #13386
Hello @khouloudbelguith ,

do you still reproduce this issue ? Is it related to #15889 ?

Thanks !

[2019-10-14 08:15] khouloudbelguith commented on #15561
Hi @mistabrown,

Your issue is incomplete, I will close the issue. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-14 08:15] #15561 closed, assigned to nobody

[2019-10-14 08:30] #15827 closed, assigned to nobody

[2019-10-14 08:31] khouloudbelguith commented on #15922
Hi @Talw3g,

There is no password displayed in the PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/66737614-bc078980-ee6c-11e9-8660-274b5abb6bd2.png)
It is fixed with PS1.7 fixed with this PR: #5889
If you are using the PS1.6, it is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/8564
Thanks to check & feedback.

[2019-10-14 08:39] matks commented on #15260
Work is ongoing on PR https://github.com/PrestaShop/PrestaShop/pull/15265 but if you wish to ship this in 1.7.6.2, I guess we can give a hand to @samuel-pires 😉

[2019-10-14 08:45] khouloudbelguith commented on #15923
Hi @PrestaNewbie,

You need to navigate to your BO => Modules => Module Manager => search for the `psgdpr` module => configure it => Click on the third Tab" Consent checkbox customization" & edit the "Consent request message" for the "Account creation form".

![image](https://user-images.githubusercontent.com/16067358/66738881-c2e3cb80-ee6f-11e9-8415-5dd55e815472.png)

Thanks to check & feedback.

[2019-10-14 08:46] Klemart3D commented on #15910
@khouloudbelguith,

Which type of warnings ?
Yes error seems similar to #14327 but process to get it is different. I never used Travis or unit tests in my case.

[2019-10-14 08:48] khouloudbelguith commented on #15924
HI @levothanhhong,

This issue occurs due to the `fieldtestimonials` module.
Have you tried to contact the module author about this issue, thanks to check with them & feedback?

[2019-10-14 08:50] #15922 closed, assigned to nobody

[2019-10-14 08:51] PierreRambaud commented on #15922
Since it's related to an old PrestaShop version, and the reporter is not the owner of the websites, I close this issue.

[2019-10-14 08:53] samuel-pires commented on #15260
@matks yep please 🙏

[2019-10-14 08:54] samuel-pires commented on #15260
I guess the best is to create a new PR and close mine

[2019-10-14 08:54] matks commented on #14732
The idea is that
- orders with less than 10 items will be displayed as a whole, and the "Open Order" button will be available
- for orders with more than 10 items, we display only the 1st ten, and to highlight the fact there is more, we modify the naming of the button so the merchant understands there is more products

Yes 😄 we can add hooks if needed

For this last item: we must think about the u

[2019-10-14 08:56] khouloudbelguith commented on #13386
Hi @colinegin,

Yes, I manage to reproduce the issue with PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/66739468-0c80e600-ee71-11e9-9cb2-b869f75ddf9e.png)

No, it is different from https://github.com/PrestaShop/PrestaShop/issues/15889, because, this issue occurs in the emails & the other issue is about editing an email from the BO.

Thanks!

[2019-10-14 08:56] Progi1984 commented on #15260
Sorry, I completly forgot. @matks As you want ;) I have some time for fixing this bug, if you want.

[2019-10-14 08:57] eternoendless commented on #13942
@matks This has been documented here: https://devdocs.prestashop.com/1.7/modules/creation/module-translation/new-system/

Can we close this issue?

[2019-10-14 08:57] khouloudbelguith commented on #15881
Hi @legazpi23,

Please, send your request in English.
English is the norm on this bug tracker
Thank you!

[2019-10-14 08:58] matks commented on #15260
As I am a very weak front developer, I will not be able to solve this bug 😅 so yes, if you can help, please do @Progi1984

[2019-10-14 09:11] khouloudbelguith commented on #15720
@ediathome, this issue is fixed with PS1.7.6.1.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14620, it fixed this issue: https://github.com/PrestaShop/PrestaShop/issues/14617 & here's a provisional solution:
[code]

Thanks!

[2019-10-14 09:12] fdonnet commented on #15877
@khouloudbelguith
Mega big sorry on my side. I finally found my problem.
I had a override of the FrontController.php that I forgot about. (even when override are disabled in the shop the problem persists, I think because it was in the init func)

I just copied the good FrontController.php from the 1.7.6.1 and add the line related to my B2B redirection and now the site is working perfectly fine.

T

[2019-10-14 09:12] #15877 closed, assigned to nobody

[2019-10-14 09:18] khouloudbelguith commented on #15877
@fdonnet, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Disable override button not working with PS1.7.6.1 reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14596
Thanks!

[2019-10-14 09:19] legazpi23 commented on #15881
I think I have the same problem. I updated version 1.7.5.2 to the latest version 1.7.6.1.
When adding a new category the following error arises:
"throw new PrestaShopException ('Invalid category vars');" in classes / link.php (line 388)
I have verified that deactivating the friendly urls the error disappears.
And that in traffic and SEO, from store parameters, in the route configuration to the cat

[2019-10-14 09:30] levothanhhong commented on #15924
Hello @khouloudbelguith
This issue occurs on the all module. (100% module, eg: Banner, Merchant Expertise,...)

[2019-10-14 09:37] khouloudbelguith commented on #15924
@levothanhhong, when you try to translate any other module, what is the exact exception displayed?
Can you provide me a screenshot.

Thanks!

[2019-10-14 09:38] matks commented on #14750
@go-sudo The work is in progress: https://github.com/PrestaShop/PrestaShop/pull/14972

[2019-10-14 09:41] ElderTugBoat786 opened #15925 "Add to cart Modal - Impossible to change text from tpl"
**Describe the bug**
I attempt to remove the word "gratis" on add to cart modal but though I have attemp to modify the ps_shopingcart.tpl nothing appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to products'
2. Click on add to cart

**Screenshots**
![image](https://user-images.githubusercontent.com/38555796/66742210-756b5c80-ee77-11e9-9fdb-dff76119bba9.png)

**Additional informati

[2019-10-14 09:41] khouloudbelguith commented on #15881
@legazpi23, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-14 09:43] #13942 closed, assigned to nobody

[2019-10-14 09:55] bonzinho-feup commented on #9812
Go to DB and see table required_fields, may be these field stay there, ande delete

[2019-10-14 09:57] matks opened #15927 "Module.php calls undefined function uninstallTabs()"
**Describe the bug**
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/module/Module.php#L397

At line 394 of the file Module.php, Module.php calls undefined function uninstallTabs(). This is triggered when .PrestaShop fails to install a module.

We need to understand why is it (I guess it's a bad deletion) and see what must be done: re-create the function or remove its call.

PrestaSh

[2019-10-14 10:00] khouloudbelguith commented on #15925
Hi @ElderTugBoat786,

You need to navigate to your BO => International => Translations =>
Type of translation => Themes translations
Select your theme => your current theme
Select your language, search for "Free" expression (Gratis in your case)
You need to edit the expression into Shop > Theme > Checkout
![image](https://user-images.githubusercontent.com/16067358/66743423-24109c80-ee7a-11e9-9108-

[2019-10-14 10:02] khouloudbelguith commented on #15925
@ElderTugBoat786, PrestaShop is not compatible with PHP 5.1
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

Thanks!

[2019-10-14 10:03] zuk3975 commented on #10583
@matks, something to discuss - after each action of order creation, legacy used to return some full object models to view (like carrier, invoice, product etc.) containing lot of unnecessary data. Regarding BC, modules might be using that data? How should it be handled? currently I am only returning what is needed for rendering.

[2019-10-14 10:04] khouloudbelguith commented on #15927
Related to this: https://github.com/PrestaShop/PrestaShop/issues/15002

Thanks!

[2019-10-14 10:06] matks commented on #15907
Hi, indeed if the behavior or code fort this core action has some weaknesses, this falls into the scope of the Core and can be fixed.

The line "Attempted to call undefined function uninstallTabs" indicates an issue, I have created a dedicated issue for this: https://github.com/PrestaShop/PrestaShop/issues/15927
However if you check the code, you can see this is only called at line 397 of the file

[2019-10-14 10:13] ElderTugBoat786 commented on #15925
Hi @khouloudbelguith
The correct version of PHP is 5,6.
I would remove the word "gratis" and not change the translation. Is't possible?

[2019-10-14 10:13] marionf commented on #9837
@khouloudbelguith Could you try to reproduce it with 1.7.6 and add a screenrecord ?

[2019-10-14 10:17] levothanhhong commented on #15924
Hello @khouloudbelguith
It's hard to understand, right now, it all works normally
Earlier, it occurs on all modules

Thanks for your support,
Best regards.

[2019-10-14 10:17] #15924 closed, assigned to nobody

[2019-10-14 10:19] khouloudbelguith commented on #15925
@ElderTugBoat786, something like this?
![image](https://user-images.githubusercontent.com/16067358/66744492-db0e1780-ee7c-11e9-87b5-6dfc84c808f0.png)

Thanks!

[2019-10-14 10:20] khouloudbelguith commented on #15924
@levothanhhong, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-14 10:30] ElderTugBoat786 commented on #15925
@khouloudbelguith  yup, but only if not are any shipping cost

[2019-10-14 10:33] khouloudbelguith commented on #15925
@ElderTugBoat786, yes only when you have free shipping? is it?

Thanks!

[2019-10-14 10:43] ElderTugBoat786 commented on #15925
@khouloudbelguith Yup!

[2019-10-14 10:46] khouloudbelguith commented on #15925
@ElderTugBoat786, you need just to follow this comment & replace the expression of the "Free" with only space & save.
![image](https://user-images.githubusercontent.com/16067358/66745915-a00de300-ee80-11e9-90d9-28bd7c47d559.png)

Thanks to check & feedback.

[2019-10-14 10:59] khouloudbelguith commented on #9837
Hi @marionf,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
Steps to reproduce the issue
1. create products and categories on your shop (shop by default)
2. activate the multishop feature
3. create a new shop without selecting all categories
![image](https://user-images.githubusercontent.com/16067358/66746229-920c9200-ee81-11e9-8468-5b4fe1eb9466.png)
4. delete a category that was not

[2019-10-14 11:21] khouloudbelguith commented on #15920
@nateBitworks, could you please confirm these steps:
1. The shipping fees is well updated in the Product Page => Shipping Tab
![image](https://user-images.githubusercontent.com/16067358/66747297-7a82d880-ee84-11e9-9f3b-fd86a947012f.png)
2. The carrier used is not free
![image](https://user-images.githubusercontent.com/16067358/66747478-efeea900-ee84-11e9-8fd3-245e40c489c0.png)
3. the Tax for the s

[2019-10-14 11:33] micka-fdz commented on #15260
Hello, to properly fix this bug, you can add `pointer-events: none;` to `.product-flags`.
I did that on all my projects :)

[2019-10-14 12:16] LucaMozzo opened #15928 "ps_facetedsearch filtering by color doesn't show any result"
**Describe the bug**
I have a category in which I show filters for features, among which the color.
The filter looks like this:
![image](https://user-images.githubusercontent.com/8259971/66750126-87eb9300-ee83-11e9-81c6-872c071f763b.png)
However, when I press on, say, *gold*, I get no results (even though there are some, if I manually traverse the entire list).

Additionally, filters on custom att

[2019-10-14 12:21] matks opened #15929 "[SF Migration] Use Router.js everywhere"
We now have a wonderful JS router: https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/new-theme/js/components/router.js

This allows us to generate route on browser side like this: `this.router.generate('admin_carts_edit_address', {cartId: this.data.cart_id})` instead of using the dirty workaround we used before, like generating a route on backend side using ID 1 then replacing

[2019-10-14 12:28] marionf commented on #9811
@matks Do you think it's possible to fix it during the migration of product page ?
Or the change should be made rather on the categories side ?

[2019-10-14 12:29] matks commented on #10583
Where was it available ? In the ajax response ?

The fact we are migrating this page means we are making BC anyway. So people will need to update their module 😄 it's a good opportunity to provide them the same capabilities, but done the right way 💪

I see 2 possible options, there might be more:
1) Provide the same data, maybe different structure (we dont care about BC, if the new structure is bet

[2019-10-14 12:37] robi-bobi opened #15931 "Order of products is not the same in Backoffice and Shop"
**Describe the bug**
Order of products is not the same in Backoffice and Shop

**To Reproduce**

PrestaShop: 1.7.5 AND 1.7.6
In Backoffice:
Default order by: Position in category, Ascending
I have categories within categories, ex:

catA is within Home
catB and catC are within catA

I want to specify exact product order for catA as well

I did this by reordering products in Backoffice and they show

[2019-10-14 12:39] matks commented on #9811
@marionf In theory it should depend on whether this behavior in the page or deeper in the core behavior of Categories. We can try.

[2019-10-14 13:02] jf-viguier opened #15932 "blockreassurance: item by location"
Thanks for the great 4.0 version of blockreassurance +1
For me, a feature is missing : choosing witch items to display for each location.
i.e. I want item 1 & 2 in the footer, 3 & 4 in product page, ...

[2019-10-14 13:11] khouloudbelguith commented on #15931
Hi @robi-bobi,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15291
Partially, it is fixed with this: https://github.com/PrestaShop/PrestaShop/pull/14879 which fixes this issue: https://github.com/PrestaShop/PrestaShop/issues/14616
So, I close it.
Thanks!

[2019-10-14 13:11] #15931 closed, assigned to nobody

[2019-10-14 13:11] khouloudbelguith commented on #15931
Duplicate of #15291

[2019-10-14 13:13] bm-services opened #15933 "Bad price amount when specific prices by quantity are applied and delivery address is on a country with price with tax excluded"
**Describe the bug**
When a product has specific prices by quantity and customer has a delivery address in a country where prices are tax excluded, a bad price amount is applied.
**It occures only when specific prices are configured "amount" and "tax included".**

**To Reproduce**
1. In back office: set up a product with specific prices by quantity with "amount" and "tax INCLUDED"
2. On front offi

[2019-10-14 13:25] khouloudbelguith commented on #15932
Hi @jf-viguier,

Thanks for your report.

Choose the position of each item like this?
![image](https://user-images.githubusercontent.com/16067358/66754687-d3f40300-ee96-11e9-8c4e-1ffb8e6c845f.png)

Thanks!

[2019-10-14 13:49] jolelievre opened #15934 "Creating a once deleted currency causes duplicate rows in database"
**Describe the bug**
When a currency is added in PrestaShop it is impossible to add it a second time,  thus it prevent having duplicate
However if you delete a currency and then add it again a new row is inserted and the former one is still present with its deleted column set to 1 (soft delete)
This means the database has duplicated rows, and that different orders with the same currency do not use

[2019-10-14 13:51] jf-viguier commented on #15932
Yes @khouloudbelguith, like this.

In real life stores, you don't repeat items in footer, product page, cart page but write different texts.

[2019-10-14 14:01] Progi1984 commented on #15260
Fixed by #15930

[2019-10-14 14:01] #15260 closed, assigned to Progi1984

[2019-10-14 14:02] khouloudbelguith commented on #15933
Hi @bm-services,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2
It is displayed like this
![image](https://user-images.githubusercontent.com/16067358/66757058-90e85e80-ee9b-11e9-8783-f104a688ecf0.png)
But it is incorrect
It should be like this
![image](https://user-images.githubusercontent.com/16067358/66757099-ab223c80-ee9b-11e9-9d1a-8bcee89046a4.png)

If I tr

[2019-10-14 14:05] khouloudbelguith commented on #15932
@jf-viguier, thanks for these clarifications.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-14 14:12] khouloudbelguith commented on #15934
Hi @jolelievre,

Same issue with PS1.7.5.2 & PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/66757864-5b447500-ee9d-11e9-8b52-c0b589d9a612.png)

Thanks!

[2019-10-14 14:25] SignalBip commented on #15914
Thank you for your reply.
Our developer tries to run the command line concerning /bin/console but it is not recognized. She's on Mac.

[2019-10-14 14:31] khouloudbelguith commented on #15914
@SignalBip, All cache files are stored in a single cache/ directory located in the var/cache/ directory.
So, to clear the cache, you can just remove all the files and directories under cache/. And Symfony is smart enough to re-create the directory structure it needs if it does not exist.

Thanks!

[2019-10-14 14:33] khouloudbelguith commented on #15928
Hi @LucaMozzo,

What is the exact version of the module ps_facetedseach did you use?

Thanks!

[2019-10-14 14:34] marionf commented on #15933
@khouloudbelguith Could you please add some details here:
- What is the product price tax excl ?
- What is the TVA for the product ?
- The specific price is in amount tax included ?
- Prices are displayed tax included or excluded ?

[2019-10-14 14:37] jf-viguier opened #15935 "blockreassurance: there is no way to delete a reassurance block"
Oups, there is no delete button.

[2019-10-14 14:39] SignalBip commented on #15914
The folders in var/cache have been successfully deleted, the thing we cannot do is to run the "commande lines":
php -d memory_limit=-1 ./bin/console cache:clear
php -d memory_limit=-1 ./bin/console cache:clear --env=prod

The error is /bin/console does not exist.

Even after cache deletion, disabling debug mode cannot be done.

Thansk again.

[2019-10-14 14:40] marionf commented on #9846
@khouloudbelguith Could you try to reproduce this issue with 1.7.6.1 ?

[2019-10-14 14:41] BenTen opened #15936 "Friendly url not create in some case."
Hello,

I create a new product with two languages (EN and FR for example)
I write the title in EN but not in FR
When I save the product page, the EN title is copy in FR title

But the Friendly-url (in SEO tab) is only create for EN, not for FR even if the title is copy from EN.

PHP 7.2
PS 7.5.0

## SPECS

When many languages are installed, if I fill the product name only for the default language,

[2019-10-14 14:47] jf-viguier commented on #13252
Hi @khouloudbelguith,
Try to browse the site with a bot : the visit will appears. You can use "User-Agent Switcher for Chrome"

[2019-10-14 14:48] khouloudbelguith commented on #15935
Hi @jf-viguier,

Thanks!
You are right.
Old version
![image](https://user-images.githubusercontent.com/16067358/66760389-4a4a3280-eea2-11e9-97a7-e5d07b2a53a5.png)

The new version doesn't exist
![image](https://user-images.githubusercontent.com/16067358/66760455-6ea60f00-eea2-11e9-83c7-34c5ceb8d58f.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end

[2019-10-14 14:50] khouloudbelguith commented on #15935
ping @Progi1984

[2019-10-14 14:50] testforshopify opened #15937 "Online Visitors doesn't count users"
**Describe the bug**
Online Visitors option doesn't calculate visitors. Cart count works properly. Tried to visit a website from various pc and IPs. tried to reinstall and reset plugins, enabled Save page views for each customer" option in the "Data mining for statistics"

**Screenshots**
http://prntscr.com/pj4bm4

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: N/A

[2019-10-14 14:53] PrestaNewbie commented on #15923
Thank You, very much!

[2019-10-14 14:53] #15923 closed, assigned to nobody

[2019-10-14 14:56] ArielBaravalle commented on #15885
Hello,  i have the same problem in a new clean installation of PS 1.7.6
in the email received the shop name is "My shop"

![image](https://user-images.githubusercontent.com/9282436/66760860-33f0a680-eea3-11e9-8df3-ac120a77b12c.png)

in this version i can find the option tu enable or disable the multistore.  I try create two store more ,  and delete this , and can resolve this.

[2019-10-14 14:57] Progi1984 commented on #15935
Poke @colinegin & @PrestaShop/prestashop-product-team

[2019-10-14 15:03] #9812 closed, assigned to matthieu-rolland

[2019-10-14 15:05] khouloudbelguith commented on #15885
Hi @ArielBaravalle,

Have you tried to follow this comment: https://github.com/PrestaShop/PrestaShop/issues/15885#issuecomment-540015919
Update the shop name manually from the database.

PS: thanks to make a back up of your shop & database before editing the database.
Let's be safe.

Thanks!

[2019-10-14 15:11] LucaMozzo commented on #15928
@khouloudbelguith It's 3.1.0 thanks

[2019-10-14 15:13] khouloudbelguith commented on #15933
Hi @marionf,

It is 200 Euro
![image](https://user-images.githubusercontent.com/16067358/66762141-ad899400-eea5-11e9-9f93-59fca5658bb7.png)

10% only for France
![image](https://user-images.githubusercontent.com/16067358/66762105-9ea2e180-eea5-11e9-953e-7195917db406.png)

Yes, it is Tax included
![image](https://user-images.githubusercontent.com/16067358/66762176-c5611800-eea5-11e9-850b-89f14f0367

[2019-10-14 15:15] khouloudbelguith commented on #15928
@LucaMozzo, The last release is V3.3.0.
![image](https://user-images.githubusercontent.com/16067358/66762310-06592c80-eea6-11e9-97d6-5e2c248a374c.png)
Thanks to upgrade your module & configure it by editing the template & rebuilding the entire price index & building attributes & features indexes & clearing the cache.
![image](https://user-images.githubusercontent.com/16067358/66762400-37396180-eea

[2019-10-14 15:23] matks commented on #13002
Mitigated ( = partially fixed) by https://github.com/PrestaShop/PrestaShop/pull/15903

[2019-10-14 15:26] marionf commented on #9682
@khouloudbelguith I can't reproduce the issue with PrestaShop 1.7.6.0
Could you try to reproduce it ?

[2019-10-14 15:28] marionf commented on #13002
@matks Maybe we can close this issue and open a new one with what remains to do ?

[2019-10-14 15:29] matks commented on #13002
@marionf Yes 👍 I do that

[2019-10-14 15:32] matks opened #15938 "Badly configured vouchers can result in them being displayed by customer although they should not"
**Describe the bug**
In the Back-Office, when a cart rule is created, and has **both** a customer condition (= should be available only for customer A) AND a customer group condition (= shoulb be available only for customer group B) then this voucher visibility will be wrongly computed and will be displayed to customer.

**To Reproduce**
1. Create a new customer group GA
2. Create a new customer C

[2019-10-14 15:33] matks commented on #15938
**Solution to implement**
In the Back-Office,
If I select a specific customer, then **I cannot** add a restriction on customer group (the checkbox is disabled).
If I select customer group restriction, **I cannot** add a specific customer (the field is disabled)

Because having both conditions does not make sense

[2019-10-14 15:34] matks commented on #15938
Please note that the steps above might not work anymore since the merge of https://github.com/PrestaShop/PrestaShop/pull/15903 as it hides (as a workaround) the bad vouchers. This was done to ensure that, even after the BO behavior has been fixed, the vouchers already saved in database are not displayed.

[2019-10-14 15:34] matks commented on #13002
Done in https://github.com/PrestaShop/PrestaShop/issues/15938

[2019-10-14 15:34] #13002 closed, assigned to MatShir

[2019-10-14 15:34] matks commented on #15938
This issue is the next step to solve https://github.com/PrestaShop/PrestaShop/issues/13002

[2019-10-14 15:36] jf-viguier opened #15939 "blockreassurance: svg not supported"
- Create a new reassurance block with an svg file attached : the block is not created and there is no error message.
- Modify an existing reassurance block and upload an svg file : the file is not used and no error message.
Svg should be supported because it's the recommended format: "Choose SVG for best customization."
It works well with jpeg files.

[2019-10-14 15:39] LouiseBonnard opened #15940 "Improve body text for order confirmation email"
**Is your feature request related to a problem? Please describe:**
As soon as an order is placed, the client automatically receives a confirmation email but the payment is not always automatically accepted. It can take a couple of days.

**Describe the solution you'd like:**
We must modify the wording of this confirmation email to make the client understand the order is not validated yet - but sti

[2019-10-14 15:39] khouloudbelguith commented on #15939
Hi @jf-viguier,

Yes, PrestaShop doesn't support SVG.
Your ticket is a duplicate of #10600
So, I close it.
Thanks!

[2019-10-14 15:40] khouloudbelguith commented on #15939
Duplicate of #10600

[2019-10-14 15:44] jf-viguier commented on #15939
It's not a duplicate of #10600 : I'm talking about blockreassurance module only and it recommend svg format.

[2019-10-14 15:44] matks commented on #15939
@khouloudbelguith The module blockreassurance is supposed to handle SVG (I think)

[2019-10-14 15:46] jf-viguier commented on #15939
![download](https://user-images.githubusercontent.com/16720275/66764603-7073d080-eeaa-11e9-8408-873244bf64d5.png)
Just open the block page and see.

[2019-10-14 15:53] khouloudbelguith commented on #15939
@jf-viguier, sorry, it is my fault.
I just re-opened the issue.

[2019-10-14 15:56] nateBitworks commented on #15920
Hello, thanks for reply. I have all those things set:
![additional_ship](https://user-images.githubusercontent.com/56446569/66765303-3d611b00-ee71-11e9-893c-b28e8da36654.PNG)
![additional_ship2](https://user-images.githubusercontent.com/56446569/66765304-3df9b180-ee71-11e9-9433-ae1da8269a72.PNG)

[2019-10-14 16:02] khouloudbelguith commented on #15939
@jf-viguier, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & `blockreassurance` v4.1.1.
https://drive.google.com/file/d/1BFRYF9iHMztbHnWuoCVK0fNAlSdZ6W1X/view
With `blockreassurance` v3.0.1, I have other behavior, when I add a new block with svg logo => click on save => redirection to empty page => Configure the module again => OK
https://drive.google.

[2019-10-14 16:04] khouloudbelguith commented on #15920
@nateBitworks,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/ho

[2019-10-14 16:14] khouloudbelguith commented on #15936
Hi @BenTen,

Thanks for your report.
I have the same behavior as PS1.7.5.2 & PS1.7.6.1.
In fact, when we create a product & save it => in the FO when the second language is selected => the URL of the product has an empty friendly URL: http://shop.com/1761/fr/accueil/30-.html
If we click on the Preview button after creating a new product, the friendly URL in the second language will be automaticall

[2019-10-14 16:16] PierreRambaud commented on #15941
Should be ok if you use your primary Linux user, if you configuration is different, you must create your own docker-compose.yml file with your configuration.
https://github.com/PrestaShop/PrestaShop/pull/15942

[2019-10-14 16:20] matthieu-rolland opened #15943 "Jquery-migrate generates many messages in the console"
Since upgrading jquery and adding jquery-migrate, we have many warning logs in the console:

**Screenshots**
![Capture d’écran 2019-10-14 à 15 15 24](https://user-images.githubusercontent.com/1784781/66766727-19bcc580-eeaf-11e9-94cd-d3151c5f7cfc.png)

**Questions needing answers**

Should we remove them? Should it be kept here? Should we display it but only in dev environment ? If so, how is thi

[2019-10-14 16:22] khouloudbelguith commented on #15943
Ping @PrestaShop/prestashop-core-developers

[2019-10-14 16:28] khouloudbelguith commented on #9682
Hi @marionf,

Yes, I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/12kLtgzUYNnATlufJTADgPDYgRnF0nhKU/view
I will close the issue.

Thanks!

[2019-10-14 16:28] #9682 closed, assigned to nobody

[2019-10-14 16:32] cemalarik opened #15944 "Prestashop 1.7.6.1 - Turkish Character Encoding Problem With Order Messages"
Hello,

Turkish characters in order messages are encoded wrong.
It displays correct on contact form messages.  The problem is only on order messages.

I enter "ÖĞŞÜÇİışçüğı" as a message on order confirmation page, just after selecting carrier.

![order_message_front](https://user-images.githubusercontent.com/49948836/66767466-2b0acf80-eeb9-11e9-91e4-36bb04234805.JPG)

And when I check the message

[2019-10-14 16:41] khouloudbelguith commented on #9657
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.1.
1. Install Prestashop in English - France, => the language by default is English
2. Enable multistore context
3. Create a new store shop2
3. In the BO => International => Localization page :
3.1 For the first shop, shop1 => Default language: English
3.2 For the second shop, shop2 => Default language: French
4. In language page:
4.1

[2019-10-14 16:48] khouloudbelguith commented on #15937
Hi @testforshopify,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0.
https://drive.google.com/file/d/13S1iDrzuDPDuoyFd1A_lBP9Hw208h04U/view
![image](https://user-images.githubusercontent.com/16067358/66768477-f562e800-eeb2-11e9-8d73-2654478e1e61.png)
Thanks to reset your module `dashactivity`, check & feedback.

[2019-10-14 16:50] khouloudbelguith commented on #13252
@jf-viguier, thanks for your feedback.
The issue is added to our bug roadmap.

Thanks!

[2019-10-14 16:53] khouloudbelguith commented on #15944
Hi @cemalarik,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15840 to fix the issue.
It is fixed in the PS1.7.7.0.
Your ticket is a duplicate of #9726
So, I close it.
Thanks!

[2019-10-14 16:53] #15944 closed, assigned to nobody

[2019-10-14 16:53] khouloudbelguith commented on #15944
Duplicate of #9726

[2019-10-14 17:02] khouloudbelguith commented on #9846
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1JGtHSh3ymKYupby1yj-nb79a9pxLRq4E/view
I close the issue.

Thanks!

[2019-10-14 17:02] #9846 closed, assigned to nobody

[2019-10-14 19:21] nateBitworks commented on #15920
Thank you, I will put it together today or tomorrow AM.

[2019-10-14 20:17] LucaMozzo commented on #15928
Thanks, that will solve!

[2019-10-14 20:17] #15928 closed, assigned to nobody

[2019-10-14 21:37] Hlavtox opened #15945 "Shipping cost calculation difference based on a way of defining free shipping"
**Describe the bug**
If you want to set free shipping on orders above x amount, you have two options. Setting it via Shipping > Configuration or via carrier ranges.
HOWEVER, there is a difference in a way Prestashop calculates the eligibility for free shipping.

Also, it creates confusions in some COD modules, which apply some kind of fee depending of order amount.

**Setting free shipping globall

[2019-10-14 21:41] luisleitaoaudio commented on #11502
skype me maybe I can help  user:luisleitaoaudio

[2019-10-14 21:58] frevab commented on #14793
Since my original post I discovered that it was the Redis module that caused problems with saving any changes made in a product. I also discovered that the PHP version was end-of-life and also the SQL version needed updating. Perhaps the combination Redis-module, PHP version and MySQL version was causing the problem.
My shop is on PS 1.7.2.4 , I have updated MySQL to 5.7.27 and available PHP versi

[2019-10-14 22:03] supravirtual opened #15946 "problems with product combinations"
The Prestashop version is 1.7.6.1, the default language is Romanian and the default currency is RON. When the product does not have combinations everything works fine, when the combinations are added there is thrown an 500 error: An exception has been thrown during the rendering of a template ("Catchable Fatal Error: Object of class Currency could not be converted to string").
![Firefox_Screenshot

[2019-10-14 22:03] frevab opened #15947 "Error with PS 1.7.4 with PHP 7.1"
Since my original post (https://github.com/PrestaShop/PrestaShop/issues/14793) I discovered that it was the Redis module that caused problems with saving any changes made in a product. I also discovered that the PHP version was end-of-life and also the SQL version needed updating. Perhaps the combination Redis-module, PHP version and MySQL version was causing the problem.
My shop is on PS 1.7.2.4

[2019-10-14 22:29] frevab opened #15948 "Update database error #1292 - Incorrect date value: '0000-00-00' for column"
After an update of MySQL to 5.7.27 one of my webshops is not working anymore. The front office does not shows any products. only if you know a direct link to a specific product you get to see it but nothing on the front office, only specific theme images or links to CMS etc work fine.
As this shop runs on old PS 1.5.4.1 I suppose  it does not work with MySQL 5.7.27 ?
To see if this is the case, I

[2019-10-15 06:09] sarahdib commented on #14366
Hello @carlead

Thank you for your contribution.

In order to test we need the steps to reproduce the error.

Thank you

[2019-10-15 06:21] nielsverhoeven84 commented on #15411
On the confirmation page, the price is also wrong (without shipping cost)

![Schermafbeelding 2019-10-15 om 08 17 58](https://user-images.githubusercontent.com/52320806/66805224-ba999800-ef24-11e9-9461-62e503051e33.png)

[2019-10-15 06:51] ArielBaravalle commented on #15885
Hi @khouloudbelguith
thanks for you help.
i change  the name of shop in the admin web ,  and the name change en the database
![image](https://user-images.githubusercontent.com/9282436/66806571-292c2500-ef28-11e9-9075-09bf8ce48f66.png)

in the email receibed  when register a new user,  the emial name show the correct name "tiendita"   but in the text of email show "my shop"
![image](https://user-im

[2019-10-15 06:54] Jackpera opened #15949 "Impossible to delete categories in BO - No errors, simply nothing happens"
**Describe the bug**
Once I create a category in the backoffice, if I click on the three dots next to it at the end, nothing happens. Debug mode enabled, but any message reported. Checked console and logs, but nothing. Any idea

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Categories
2. Click on the three dots at the bottom of the category
3. Nothing happens

**Additional i

[2019-10-15 07:28] khouloudbelguith commented on #15939
ping @Progi1984

[2019-10-15 07:30] khouloudbelguith commented on #15928
@LucaMozzo, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-15 07:39] marionf commented on #15933
@khouloudbelguith

I can't reproduce the issue with 1.7.6.1

![capture d'écran_2076](https://user-images.githubusercontent.com/13449658/66810458-9abba180-ef2f-11e9-9cb3-69cc0cb00891.png)

![capture d'écran_2077](https://user-images.githubusercontent.com/13449658/66810465-9db69200-ef2f-11e9-9892-e618a8432333.png)

[2019-10-15 07:40] khouloudbelguith commented on #15947
Hi @frevab,

Thanks for your report.

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.

PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://b

[2019-10-15 07:42] Progi1984 commented on #15943
@matthieu-rolland It seems that it's the normal behavior with the use of a development version : https://github.com/jquery/jquery-migrate#debugging. Else you can use `jQuery.migrateMute`.

[2019-10-15 07:51] bm-services commented on #15933
Did you use an address with a country where you don't pay taxes ?

[2019-10-15 07:51] khouloudbelguith commented on #15933
Hi @marionf,

In your case, you need to select an address in a country where no taxes in the second step (checkout page) => so prices will be displayed in tax excluded.

Thanks!

[2019-10-15 07:56] #15567 closed, assigned to Progi1984

[2019-10-15 08:06] DevSTG commented on #15791
@khouloudbelguith
Thx for the file. I have checked my enviroment, increased memory limit and now it shows that all required settings are ok and most of them are set to recommended, but issue remains.

[2019-10-15 08:09] khouloudbelguith commented on #15946
Hi @supravirtual,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1w3lVysDqQjbY80Re0zaqB1duNtYlpNBC/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache e

[2019-10-15 08:12] marionf commented on #15933
@khouloudbelguith @bm-services

Ok, I understand.
However, this is normal behavior as you defined a discount of 11€ tax included, if there is no tax in the country it's equal to 11€ tax excluded. You need to create 2 cart rules, 1 for each country or define your specific tax excluded

[2019-10-15 08:13] #15376 closed, assigned to jolelievre

[2019-10-15 08:13] #15486 closed, assigned to jolelievre

[2019-10-15 08:25] bm-services commented on #15933
Ok but product prices are wrong, in my example: 17.8€ instead of 66€ for a tax at 10%.

[2019-10-15 08:30] khouloudbelguith commented on #15949
Hi @Jackpera,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1m0i-wTIRXu-SGJIZlg5tq_EyJGrJ0oPt/view
Is this a fresh install or upgrade from a previous PrestaShop version?
What is the exact language/country did you used during the install?

Thanks!

[2019-10-15 08:31] ArielBaravalle commented on #15885
Solved.
change the database after delete the stores.
UPDATE `ps_shop` SET `name` = 'newname' WHERE `ps_shop`.`id_shop` = 1;

thanks!

[2019-10-15 08:32] khouloudbelguith commented on #15885
@ArielBaravalle, Great!
@Allbutfancy, any news?

Thanks!

[2019-10-15 08:42] Hlavtox commented on #14518
@PierreRambaud @marionf Do I understand correctly that this will be implemented after 1.7.7? :(

Guys, I know there are other important issues, but it's a crucial feature to filter out in stock products... I don't know about other merchants, but at least for us, there is no way of moving to 1.7 without this.

[2019-10-15 08:44] Hlavtox commented on #15940
@LouiseBonnard Be careful, not all payment methods require any validation. Think of cash on delivery, personal pickup in store and many other ways.

[2019-10-15 08:45] lutek commented on #14518
I agree. I would also add filtering according to e.g. shipping time.

[2019-10-15 08:52] khouloudbelguith commented on #15948
Hi @frevab,

PrestaShop previous versions < 1.6.1.4 uses 0-dates a lot which makes it incompatible with MySQL 5.7.
Changing your server configuration is the best way, however, if you can't modify it, you can apply this fix: https://github.com/PrestaShop/PrestaShop/pull/4507/files
About PrestaShop1.7, PrestaShop needs MySQL: 5.0 minimum, 5.6 or later recommended.
Thanks to follow this link: https:/

[2019-10-15 08:55] LouiseBonnard commented on #15940
@Hlavtox, you're right, I should have specified it. It applies to payment methods that require a validation delay: bank wire, some card payments, cheque payment, etc.

[2019-10-15 08:59] ElderTugBoat786 commented on #15925
Thanks,
I changed what I needed!

[2019-10-15 08:59] #15925 closed, assigned to nobody

[2019-10-15 09:03] DevSTG opened #15950 "Price filter not working correctly on pages >1"
If category has more than 1 page of products and you set price filter on page >1 and there are not enough products that match the filter to fill subsequent pages, then on those pages there are wrong results.
Also in case of other filters (colour, fabric) customer is moved to first page, but not in this case.

Steps to reproduce the behavior:
1. Go to category that has products for >1 pages (for ex

[2019-10-15 09:06] Hlavtox commented on #15938
@matks Try my fix from this comment, will work. https://github.com/PrestaShop/PrestaShop/issues/13002#issuecomment-532876260

[2019-10-15 09:07] khouloudbelguith commented on #15945
Hi @Hlavtox,

In fact, there are three options.
1. Shipping > Configuration
![image](https://user-images.githubusercontent.com/16067358/66816821-022b1e80-ef3b-11e9-94b0-671ea0a172a3.png)
There is alert info, that "Coupons are not taken into account when calculating free shipping."
2. Carrier ranges
![image](https://user-images.githubusercontent.com/16067358/66816914-30106300-ef3b-11e9-9f17-0de3588

[2019-10-15 09:08] gbartosz83 commented on #15864
my Admin changed the nginx config file but it doesn't helped

[2019-10-15 09:08] khouloudbelguith commented on #15925
@ElderTugBoat786, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-15 09:12] PierreRambaud commented on #15943
We mustn't use `jQuery.migrateMute`. Like every deprecated messages we must do our best to update our code and always use latest functions.
This only mean we have some js codes that need to be updated :sweat_smile:

[2019-10-15 09:19] matks commented on #15947
From the error message you get, it does not seem to be a php 5.6 VS php 7.1 issue. It looks like your php 5.6 is not configured the same way than your php 7.1 and this is why you have permission issues.

I suggest you check with your host provider and ask him to have identical configuration for php 5.6 and php 7.1 😉

[2019-10-15 09:25] atomiix commented on #12043
Hi, it looks like the way it works is when you don't check the "Stay logged in" checkbox and if you have no activity for 900 seconds, you'll be logged out but if you check the "Stay logged in" checkbox, the value of "Lifetime of back office cookies" in the BO will be used as expiration time.

@colinegin, Do you think we should keep it like that or add an option in the BO to change the expiration t

[2019-10-15 09:25] khouloudbelguith commented on #15864
@gbartosz83, You must write your own rules, as we do for Apache.
More because it's an [example]( https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist) and you can customize this part by everything you want.
If you do not know how Nginx works, you need to call a professional.
Also, for a second configuration, you can follow this [comment](https://github.com/Prest

[2019-10-15 09:31] gbartosz83 commented on #15864
Prestashop installation script should display errors during installation, or some configuration warnings, there wasn't any information about all of this...
if you're providing installation script then make it properly

[2019-10-15 09:40] matks commented on #15938
Thanks !

However I have the same opinion as you:

I don't know either what else could break, and currently we have no reliable way to make sure that we break nothing.
The automated testing coverage of Cart Rules is not wide and deep enough to ensure that a modification of a critical function such as `CartRule::getCustomerCartRules()` has no side-effects. That is why we cannot use this mean to sol

[2019-10-15 09:41] clbrandt opened #15952 "Registration of fake costumers"
I am responsible for a webshop run by prestashop and there seems to be a problem on the site. Fake costumers keep registrating to the site, all the time. How can i stop this from happening all the time?

[2019-10-15 09:45] matks commented on #15952
@clbrandt You are probably being spammed.
See :
- http://build.prestashop.com/news/fighting-against-spamming-again/
- http://build.prestashop.com/news/fighting-against-spamming/

Short answer: install a CAPTCHA module 😉

[2019-10-15 09:45] #15952 closed, assigned to nobody

[2019-10-15 09:45] colinegin opened #15953 "Add attribute rel="nofollow" on prestashop.com link in PS stores"
Hello,

To prevent Google from considering traffic to prestashop.com coming from "2019 - ecommerce software by PrestaShop" as fake, we need to add the attribute rel="nofollow".
This mention is available by default in all footers from 1.7 stores.

[2019-10-15 09:47] Hlavtox opened #15954 "Improve BO order creation page during migration"
Just some thoughts about BO order creation page from a merchants point of view.

**Customer selection**
Which customer is in which group? Group should be displayed here, so user don't have to click through every one of them.

![66820275-a5326700-ef40-11e9-836b-059c13156be2](https://user-images.githubusercontent.com/6097524/103491746-81e62700-4e26-11eb-98e5-c227729d3204.jpg)

______________________

[2019-10-15 09:47] thesupad commented on #15910
I have the same issue without using autoupgrade, we started with 1.7.6.1, was working well but since about 2-3 weeks we encounter this problem.

We are working on our client's website, so i'll try to track the change that occured.

If you have any leads, i'll gladly take them !

[2019-10-15 09:55] fabio-zetaweb commented on #9810
Hello,

I'm using v 1.7.6.0 and the bug persist. Confirmation mail aren't sent and in module settings is impossible to set 'send confirmation mail after subscription' because after saving that option it still remain as it was (disabled).

Please fix it.

[2019-10-15 09:56] LouiseBonnard commented on #15893
📢 **UPDATE:**

We keep this details block but we hide it when there is no card transaction involved. Is everyone okay with this solution? @MatShir?

[2019-10-15 09:57] jajarom opened #15956 "Orders history blank page in front office"
**Describe the bug**
Orders history blank page in front office after fresh 1.7.6.1 install, migrate important files and changed the theme.

**Steps to reproduce the issue:**
1. Fresh install PS1.7.6 with EN language & FR country
2. Import the United states=> Dollar currency created / Import the Switzerland pack => CHF currency created
3. create some order with those currencies
4. Set the CHF curre

[2019-10-15 09:57] Traineau opened #15957 "Cannot delete adress from the FO 1.7.6.1"
**Describe the bug**
When I want to delete one of my adress in My account section on the Front-office, it display me a "Could not delete address." error. It seems that it's related to the CustomAdressPersister class, because in order to make it work I've rewrote the AdressController postProcess this way :

[code]

It seems to work well, so I don't know if the AdressPersister class is really useful

[2019-10-15 09:59] khouloudbelguith commented on #15910
Hi @Klemart3D, @thesupad,

PrestaShop is not compatible with Twig v2, in fact, PrestaShop uses Twig v1.
Could you please check the exact version of the twig did you use?

Thanks!

[2019-10-15 10:02] khouloudbelguith commented on #15957
Hi @Traineau,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/16hxdcUO0KxlDFxH1JQALHG2IEq4yk5Te/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console

[2019-10-15 10:04] legazpi23 commented on #15881
I pass you php error images and image of the debug report.
Hope this can help you.
Greetings
![errorcategoria](https://user-images.githubusercontent.com/56402669/66822118-e2e4bf00-ef43-11e9-8eb1-c2b8d7cecab9.jpg)
![errorphp](https://user-images.githubusercontent.com/56402669/66822121-e2e4bf00-ef43-11e9-9cc5-80fa747a1a31.jpg)

[2019-10-15 10:05] khouloudbelguith commented on #15956
Hi @jajarom,

When the troubleshooting module is disabled, this issue occurs?
Did you delete any currency?
Is this a fresh install PS1.7.6.1 or an upgrade from previous version?

Thanks!

[2019-10-15 10:12] jf-viguier commented on #15953
And change the url to https://www.prestashop.com ?

[2019-10-15 10:16] jf-viguier commented on #15953
@colinegin I've fix it. I'm waiting for 1.7.6.2 release soon !

[2019-10-15 10:20] Traineau commented on #15957
Hello @khouloudbelguith

Here is all I've got, but there's nothing I can see concerning this event :/ I emptied them and tried to delete the adress multiple times.

**Prestashop informations :**
![Capture d’écran 2019-10-15 à 12 11 02](https://user-images.githubusercontent.com/20043825/66822987-94d0bb00-ef45-11e9-9bd4-0762dd6d29b5.png)

**JavaScript Console errors (nothing) :**

![Capture d’écr

[2019-10-15 10:20] colinegin commented on #15953
yes you're right @jf-viguier !
Thank you for your help, we will review this asap.

[2019-10-15 10:20] Jackpera commented on #15949
It's a fresh install from the hosting provider (Ionos).

We installed it in Italian.

I can provide you login details if you want to reproduce.

The worst thing is that I cannot see any error, nothing.

Here it is my screencast:
https://drive.google.com/file/d/1fbkKOtT96i4u0IfnMUTbtbhhrlxkGZ0a/view

[2019-10-15 10:24] jajarom commented on #15956
When troubleshooting module is disabled clients get blank page.
Fresh install and then migrate old products, clients, orders, cms...from 1.6.

[2019-10-15 10:26] khouloudbelguith commented on #15950
Hi @DevSTG,

Here's the PR: https://github.com/PrestaShop/ps_facetedsearch/pull/143 to fix the issue.
Your ticket is a duplicate of #15608
So, I close it.
Thanks!

[2019-10-15 10:26] #15950 closed, assigned to nobody

[2019-10-15 10:26] khouloudbelguith commented on #15950
Duplicate of #15608

[2019-10-15 10:30] khouloudbelguith commented on #15956
@jajarom, could you please provide me a screenshot about you table ps_currency
![image](https://user-images.githubusercontent.com/16067358/66823933-7bc90980-ef47-11e9-92a4-f36570a22997.png)
Have you tried to contact the theme author about this issue? thanks to check with them & feedback.

[2019-10-15 10:33] omar2886 commented on #14518
@Hlavtox indeed, it's a key module that has gone through a lot of trouble and I think never worked 100%, at least not the way professional merchants expect. Many had to purchase really expensive modules just to get this key filter working properly.
What I don't get is why it has to be implemented for the newest release of PS when it can just be a module update, there is no need to upgrade, PS is s

[2019-10-15 10:40] khouloudbelguith commented on #15957
@Traineau, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-10-15 10:42] jajarom commented on #15956
Gives me an error - [PrestaShop\PrestaShop\Core\Domain\SqlManagement\Exception\SqlRequestException cu codul 0]

[2019-10-15 10:43] jf-viguier commented on #14765
What have you decided here ?

[2019-10-15 10:43] khouloudbelguith commented on #15881
@legazpi23, did you use a custom theme?
Could you please provide us the whole exception in a pdf file?

Thanks!

[2019-10-15 10:50] madsoliver opened #15960 "Unable to select product combination, because you need to go via a combination that is out of stock. Front 1.7.7.0"
**Steps to reproduce the issue:**
1-Create a product with combinations. Put stock in some combination but not in all.
2- Disable the option "Allow to buy products out of stock."
3-Disable the option "Display unavailable product attributes on the product page" in the Product Settings page
4-In FO, combinations out of stock can not be selected
See screenshot for complete description of issue:

![Scr

[2019-10-15 10:50] sarjon commented on #14732
Is this how you image this to work? https://prnt.sc/pjib7x I have 12 products, 10 of them are displayed and 2 more can be viewed in order page.

[2019-10-15 11:11] khouloudbelguith commented on #15956
@jajarom, Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0.
1. Fresh install PS1.7.6 with EN language & FR country
2. Import the United states=> Dollar currency created / Import the Switzerland pack => CHF currency created
3. create some order with those currencies
4. Set the **CHF** currency by default
5. Delete the Euro & Dollar currencies
6. Go to the FO => T

[2019-10-15 11:16] lutol commented on #14595
There might by a problem after migration or something. It doesn't have to be a presta problem. You can check in your database the table ps_orders if the column id_currency match IDs in ps_currency table.

[2019-10-15 11:16] jajarom commented on #15956
What would be the solution for me?

[2019-10-15 11:18] khouloudbelguith commented on #15956
@jajarom, it is Major regression, so, it will be fixed soon.
Thanks for your understanding!

[2019-10-15 11:19] jolelievre commented on #15956
@khouloudbelguith @jajarom This bug was already identified in https://github.com/PrestaShop/PrestaShop/issues/15376 and https://github.com/PrestaShop/PrestaShop/issues/15486
The PR fixing this issue was merged this morning https://github.com/PrestaShop/PrestaShop/pull/15643

[2019-10-15 11:20] jolelievre commented on #15956
Since we only tested the BO bugs, maybe it's worth testing if the fix also works on FO (although it should)

[2019-10-15 11:21] leccyril commented on #14595
it was present and i made no migration , just new fresh installation but my workaround worked, activate USD then deactivated

[2019-10-15 11:21] jajarom commented on #15956
I understand. If I let the data in private you could help me? I wouldn't want to do something stupid

[2019-10-15 11:23] Klemart3D commented on #15910
Hi @khouloudbelguith,

Like defined in [PS v1.7.6.1 _composer.json_](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.json#L111), I have:

And as I can see in my _composer.lock_, it's Twig v2.12.0 installed:

[code]

If PrestaShop is not compatible with Twig v2, why is it added by Composer?

[2019-10-15 11:29] khouloudbelguith commented on #15960
Hi @onklmaps,

Thanks, I manage to reproduce the issue with develop branch & PS1.7.6.1.
Steps to reproduce the issue:
1-Create a product with combinations. Put stock in some combination but not in all.
2- Disable the option "Allow to buy products out of stock."
3-Disable the option "Display unavailable product attributes on the product page" in the Product Settings page
4-In FO, combinations out o

[2019-10-15 11:41] khouloudbelguith commented on #15956
@jolelievre, yes! Great, it is fixed with Branch 1.7.6.x
https://drive.google.com/file/d/1jtYnmA4B-b422upsUwx4iqsFaglC_hFQ/view
@jajarom, this issue should be fixed in the PS1.7.6.2.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-15 11:41] #15956 closed, assigned to nobody

[2019-10-15 11:42] Allbutfancy commented on #15885
@khouloudbelguith, Sorry for being inactive. We are currently waiting for our developer to try out the posted solutions. We will update you as soon as possible!

Thank you!

[2019-10-15 11:46] LouiseBonnard commented on #15858
📢 **UPDATE:**

Here is the shared [Drive](https://drive.google.com/drive/folders/1yzbplZvb0x4rRpa7OZXmXcWhK7OqPpbo?usp=sharing) repertory as requested. All modules are there, with the updated icon called _logo.png_. ;-)

[2019-10-15 11:50] khouloudbelguith commented on #15910
@Klemart3D, no, In fact, as you can see here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.lock#L6560
The version of the twig is 1.38.4 & not v2
Thanks!

[2019-10-15 11:53] khouloudbelguith commented on #15864
@gbartosz83, yes, during the install, we check the system compatibility
![image](https://user-images.githubusercontent.com/16067358/66821772-48847b80-ef43-11e9-8c3a-b2e642b78eee.png)
But, in your case, with Nginx, You can't use htaccess files in Nginx context, you need to write your own rules.
The .htaccess file is generated by PrestaShop but it's because Apache allows to use it. Unlike Nginx.
You

[2019-10-15 11:59] onklmaps commented on #15960
Great!
I noticed that actually deleting the combinations that had qty = 0, made it work as expected.
Even though, that is definitely not a solution, it might be useful to know when trying to fix the issue.

[2019-10-15 12:00] khouloudbelguith commented on #15949
@Jackpera, thanks for your feedback.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PHP error logs, you can find logs into the path `Project_Folder/var/logs/`
 - apache error log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc

[2019-10-15 12:05] khouloudbelguith commented on #15954
Hi @Hlavtox,

Thanks for your report.
We are re-working on the order page
https://github.com/PrestaShop/PrestaShop/issues/10583
Ping @PrestaShop/prestashop-product-team what do you think of those improvements?
Can we add those improvements during the migration?
Ping @matks for your information.

Thanks!

[2019-10-15 12:06] Traineau commented on #15957
Just tried it, nothing changed. Do you have any informations on what the CustomerAdressPersistor is supposed to do ?

[2019-10-15 12:06] marionf commented on #14518
Yes, we need to be focused on 1.7.7 right now as we are already late
If this feature is so important for you, feel free to contribute by submiting a PR, it will be usefull for everyone ;)

[2019-10-15 12:22] centoasa opened #15961 "contact module send email anyhow"
Prestashop 1.7.6.1 with ubuntu 18.04 and mod_pagespeed
I don't understand why for some time the messages from the contact form have been sent with or without a privacy flag.
I also tried several captcha modules (https://github.com/nenes25/eicaptcha/releases/tag/2.0.3) but nothing works, the recaptcha box is not displayed

[2019-10-15 12:40] Jackpera commented on #15949
Ok, here you go with the details required:

    **server setup and configuration** --> Linux #1 SMP Debian 4.4.190-1~ui80+1 (2019-08-26) x86_64

    **PHP error logs, you can find logs into the path Project_Folder/var/logs/** --> Attached
[error_logs.zip](https://github.com/PrestaShop/PrestaShop/files/3729194/error_logs.zip)

    **apache error log --> In attachment
[apache_logs.zip](https://githu

[2019-10-15 12:52] #15946 closed, assigned to nobody

[2019-10-15 12:53] xiaoyuan1998 commented on #14765
Bonjour François,

J'ai acheté une moudule payant sur prestashop pour sauter ce pb.

Cdt,
Yuan

[2019-10-15 12:58] khouloudbelguith commented on #15961
Hi @centoasa,

Have you tried to contact the module author: https://github.com/nenes25/eicaptcha/blob/master/eicaptcha.php#L37 about this issue.
It is not provided by PrestaShop.
Thanks to check with them & feedback.

[2019-10-15 13:04] jf-viguier commented on #14765
@xiaoyuan1998 ok, mais je posait la question à la team prestashop pour le core.
Il y a vraiement des modules pour tout !

[2019-10-15 13:09] jf-viguier commented on #14765
@colinegin @jolelievre we just had a discussion with @prestamodule and we agreed that the best solution for now is to revert to this to avoid regression :
https://github.com/PrestaShop/PrestaShop/commit/48125d7707fec1e3ec55a91e8db56ac510efdb52#diff-f2a39218feae4cfb78f374d5c0909a9cR30

For me, there is no need for an extra parameter : the perfect solution is to have a product url without combinaiso

[2019-10-15 13:17] xiaoyuan1998 commented on #14765
I spent 90 euros for the addone  (pretty url):(   but at least it works

[2019-10-15 13:20] centoasa commented on #15961
As I said, the issue is not related only with this captcha module, but to contact module sent anyway email with or without privacy flag

[2019-10-15 13:21] colinegin commented on #14765
Hello @jf-viguier ,

sorry this issue is still in progress as we are currently discussing with @jolelievre and a SEO expert, to be sure we do not introduce any SEO regression, while taking into account prestamodule's problem.
We will take a decision asap and keep you updated !

[2019-10-15 13:22] khouloudbelguith commented on #15957
@Traineau, this class: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/form/CustomerAddressPersister.php?
no, but we can ask the developers: ping @PrestaShop/prestashop-core-developers
In the meantime, have you tried to contact the theme author about this issue?

Thanks to check with them & feedback.

[2019-10-15 13:23] khouloudbelguith commented on #15885
@Allbutfancy, thanks!
Waiting for your feedback.

[2019-10-15 13:26] khouloudbelguith commented on #15920
@nateBitworks, thanks!
Waiting for your feedback.

[2019-10-15 13:41] colinegin commented on #12043
Hello @atomiix ,

I would recommend to keep that behaviour and only increase the lifetime of back office cookies for users who checked "stay logged in". However, I would also recommend to add information to make it clear that this feature only impacts those who checked that option.
What do you think @LouiseBonnard ?

[2019-10-15 13:50] MatShir commented on #14732
The product name, reference, quantity, stock location and the total price are mandatory for the merchant to have all the must information on the preview.
From our user tests, it seems were pleased with the information displayed. We can't really quantify for whom it will be useless or priceless to have all the information.
I prefer to have all the columns and narrows some after proper use by mercha

[2019-10-15 14:13] marionf commented on #15933
@bm-services
Did you try to configure 2 specific prices (one for each country) or a specific price with tax excluded ?
It should solve your problem

[2019-10-15 14:16] khouloudbelguith commented on #9810
Hi @fabio-zetaweb,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_emailsubscription v2.5.1.
I attached a screen record
https://drive.google.com/file/d/13W80U1sTucCfFL15TU9TWxzjTcr_4LNg/view

Thanks!

[2019-10-15 14:19] xandenet opened #15962 "Post custom field not working"
`

**Describe the bug**
I am creating a module to insert additional fields in the products, the module currently has two fields but I want to put more. but when i submit the form only one field is saved in bd. What am i doing wrong?

**Module Config**

`class Lcshooks extends Module
{
    public function install()
    {
        Configuration::updateValue('LCSHOOKS_LIVE_MODE', false);

        if (

[2019-10-15 14:26] khouloudbelguith commented on #15962
Hi @xandenet,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-10-15 14:26] #15962 closed, assigned to nobody

[2019-10-15 14:27] khouloudbelguith commented on #15791
Hi @DevSTG,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-10-15 14:27] #15791 closed, assigned to nobody

[2019-10-15 14:29] thesupad commented on #15910
Congrats @khouloudbelguith !!!

We needed to add some php module and so got this composer.json :
https://raw.githubusercontent.com/PrestaShop/PrestaShop/develop/composer.json

In it, you'll see that the required version are :
`"twig/twig": "^1.38||^2.6.2"`

For anyone who is facing the same :
- replace this line with `"twig/twig": "^1.38"`
- remove twig folder
- remove composer.lock file
- do a co

[2019-10-15 14:33] khouloudbelguith commented on #15910
@thesupad, Great!
@Klemart3D, any news?
Thanks!

[2019-10-15 14:36] marionf commented on #15960
@khouloudbelguith It seems to be a duplicate of #9948

[2019-10-15 14:39] matks commented on #9810
If this module is working for some people and is not working for other people, my guess would be it comes from the server configuration. Remember that php can only *attempts* to send an email but the real action is performed by a mail server, whatever it is (gmail, exim4 ...)

[2019-10-15 14:40] sarjon commented on #14732
@TristanLDD one more question, in case order/cart is virtual (contains only virtual products), do we need to show shipping details? Virtual order does not have carrier at all.

[2019-10-15 14:44] matks commented on #15893
Can you define "involved" ? Does it mean "if payment method is something else than an online payment using a credit card" ?

[2019-10-15 14:48] khouloudbelguith commented on #15949
@Jackpera, thanks for your feedback.
I found this exception

Could you please check this issue with your host, there is permission denied on your server.

Thanks!

[2019-10-15 14:50] fabio-zetaweb commented on #9810
Hello,

thanks for contacting me, i think the problem was due to my mailup module that was blocking prestashop emails.

Best regards,

Fabio Di Crescenzo

Zetaweb ADV
via Monte Maiella, 81 - 66026 - Ortona - Ch
Tel./fax: 085 9064145
www.zetaweb.it - fabio@zetaweb.it

[2019-10-15 14:56] LouiseBonnard commented on #15893
Yep, currently this block is available for all types of payment but it is irrelevant when the order is paid by bank wire, cheque, cash-on-delivery or any other method unrelated to this information.

[2019-10-15 15:01] khouloudbelguith commented on #15961
@centoasa, could you please provide me a screenshot about emails with a privacy flag?
Did you use the gdpr module?
Thanks!

[2019-10-15 15:04] khouloudbelguith commented on #15960
Hi @marionf, yes, you are right.
Thanks!

[2019-10-15 15:04] gbartosz83 commented on #15864
I know that I have to rewrite rules. I manage to did it for my website (which have nothing to do with prestashop), but when it comes to prestahop my ideas ends.

[2019-10-15 15:05] khouloudbelguith commented on #15960
Hi @onklmaps,

Your ticket is a duplicate of #9948
So, I close it.
Thanks!

[2019-10-15 15:05] #15960 closed, assigned to nobody

[2019-10-15 15:05] khouloudbelguith commented on #15960
Duplicate of #9948

[2019-10-15 15:43] Hlavtox commented on #14518
@marionf I really don't want to be rude, but I would like to know if anyone from the developer team actually ever worked in an ecommerce store. (I am talking 10 years and raising the turnover 20 times in my case.) Maybe then you could understand what is important and what is not... I know you think "aaaah this asshole is pushing his problems again" (😃), but if merchants knew about github and this

[2019-10-15 15:46] banan44 opened #15966 "Could not perform action reset for Faceted Search module"
Hello,
I am facing problems with Faceted Search recently. I cannot update indexes. When I start updating I get 'indexing failed' error after a while. I wanted to Reset the module and configure it again but with no luck.

![obraz](https://user-images.githubusercontent.com/48493952/66846980-ef344080-ef72-11e9-9bea-28624201504d.png)

I looked at logs and all errors I have are "content-length(0): Rece

[2019-10-15 15:47] khouloudbelguith commented on #15411
@nielsverhoeven84, in the checkout summary, same issue?
![image](https://user-images.githubusercontent.com/16067358/66847511-c95b6b80-ef73-11e9-8b83-36f9677e992b.png)

Thanks!

[2019-10-15 15:50] khouloudbelguith commented on #15966
Hi @banan44,

Could you please try to re-install the module by removing the old module during the uninstall & try to configure it by editing the template & rebuilding the entire price index & building attributes & features indexes & clearing the cache.
![image](https://user-images.githubusercontent.com/16067358/66762400-37396180-eea6-11e9-8826-5948e5e78713.png)

Thanks!

[2019-10-15 15:57] khouloudbelguith commented on #15864
@gbartosz83, in my case, it is OK with PS1.7.6.1 & nginx/1.14.0
https://drive.google.com/file/d/19ZIdf_v8k9Y51hG_vHv1dig45CJgwLLI/view
I used this file of configuration
[default.conf.zip](https://github.com/PrestaShop/PrestaShop/files/3730287/default.conf.zip)

Thanks!

[2019-10-15 16:09] Hlavtox commented on #14754
@MatShir Saw the InVision order screen design preview https://projects.invisionapp.com/share/YKTGGFZAMCB#/screens/381874234

I think the order resend button would nicely fit to the top row of buttons - next to print etc.

_If you made a hook there and modules could add their action there, even better. For example, for a payment gateway module to add a button which resends customer a link to pay/ve

[2019-10-15 16:11] gbartosz83 commented on #15864
thank you

[2019-10-15 16:51] centoasa commented on #15961
here screenshot: https://nimb.ws/E4PsWc
Yes, I use gdpr module (already reset)

[2019-10-15 18:54] legazpi23 commented on #15881
Yes, I use a themeforest template, "Warehouse".
Although I tried the Classic Theme and it gave me the same error.

Attached pdf of the complete exception.

Greetings
[prestashop exception.pdf](https://github.com/PrestaShop/PrestaShop/files/3730972/prestashop.exception.pdf)

[2019-10-15 19:39] banan44 commented on #15966
Hi @khouloudbelguith, I've just tried that. Uninstalling the module was an easy part with success. When I want to install the module from Module Catalog I have this error

![obraz](https://user-images.githubusercontent.com/48493952/66863023-72b15a00-ef92-11e9-84b7-8a9dadcd1e4e.png)

The module appears in Module Manager though. I've created a new template and Indexed all missing prices first. No lu

[2019-10-15 21:32] frevab commented on #15948
Hello @khouloudbelguith

Thank you for your help.

Is it possible that shop with PS 1.5.4.1 gives problems after upgrade MySQL to 5.7.27 ?  I checked upgrade logs and all tables of database said status OK.

You write: for the 1.5: you can use the 1-click upgrade v1.6.8.  The link goes to v.4.9.0 in PS Module shop.  Where can I download v.1.6.8 ?

[2019-10-15 22:45] mandres2 opened #15970 "Image of Categories Bug"
**Describe the bug**
The ApImageCategory does not line up in a row but instead goes down like a line of stairs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ap PageBuilder'
2. Click on 'Ap Profiles Manage -> Edit Design Layout'
3. Scroll down to 'Home' layout. Add a Group and then a column and add widget:  Image of Categories
4. Select up to 5 premade categories and include images

[2019-10-15 23:23] Hlavtox commented on #14518
@matks Sorry for the words from the heart, but you have to imagine my frustration.

PS 1.6 was left abandoned with (major) bugs unresolved, with technology and libraries getting obsolete. I reported a bug which prevents users from adding products to cart, you just closed it. #14751 I think it should be worth announcing, at least. 💁🏽‍♂️

But, 1.7, at least until 1.7.7 is not production ready, and e

[2019-10-16 06:05] nielsverhoeven84 commented on #15411
@khouloudbelguith no, in the check out the price is correct.
![Schermafbeelding 2019-10-16 om 08 04 17](https://user-images.githubusercontent.com/52320806/66892276-9785eb80-efeb-11e9-9fa0-cea96b86e608.png)

![Schermafbeelding 2019-10-16 om 08 03 20](https://user-images.githubusercontent.com/52320806/66892231-7624ff80-efeb-11e9-8fec-f4d8ab0c2867.png)

[2019-10-16 06:52] sarjon opened #15971 "[ORDER LIST] Improvements for Orders list"
![Group 4bis](https://user-images.githubusercontent.com/15143151/66895045-8d1f1e00-effa-11e9-8c3d-f8485e82c400.png)

1. ~~Prices should be aligned on the left of the column~~

2. ~~The icons for invoice and delivery slips should be moved in the column « Actions », in the same color as the view icon. The icon used for invoice is google material icon « Receipt »~~

3.  ~~Customer name should be a li

[2019-10-16 07:16] copyact commented on #14811
Hello, today I tried to update 1.7.5.1 to 1.7.6.1 with 1ClickUpgrade and I got the same error:
autoupgrade/latest/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php line 55 - Call to a member function get() on null

I thought that in 1.7.6.1 it was corrected. What should I do to update?

[2019-10-16 07:18] copyact opened #15972 "1Click Upgrade 1.7.5.1 to 1.7.6.1"
Hello, today I tried to update 1.7.5.1 to 1.7.6.1 with 1ClickUpgrade and I got the error:
autoupgrade/latest/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php line 55 - Call to a member function get() on null

I saw that this issue was here some time ago but I thought that in 1.7.6.1 it was corrected.

My version of upgrade.php contains this changes:
https://github.com/Prest

[2019-10-16 07:52] #15972 closed, assigned to nobody

[2019-10-16 07:56] khouloudbelguith commented on #15970
Hi @mandres2,

Thanks for your report.
Did you use this module: https://addons.prestashop.com/en/page-customization/20111-ap-page-builder.html?

Thanks!

[2019-10-16 07:59] khouloudbelguith commented on #15536
Hi @kidlivin,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-16 07:59] #15536 closed, assigned to nobody

[2019-10-16 08:03] harm-smits opened #15973 "Weird Cart URL bug"
**Describe the bug**
The Cart URL in `{$urls.pages.cart}` does not work when the user is authenticated in the frontend, as the user simply gets redirected to the homepage. It seems to only work when we add the 'action=show' query parameter to the URL, but then again, the URL provided by PrestaShop should work nonetheless.

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2

[2019-10-16 08:05] harm-smits commented on #15973
There have also been previous comments about this issue, forgot to mention that: https://www.prestashop.com/forums/topic/899438-solved-cart-url-redirect-me-to-homepage-if-i-am-logged-in/

[2019-10-16 08:21] khouloudbelguith commented on #15973
Hi @harm-smits,

This is used in your custom theme?
https://github.com/PrestaShop/PrestaShop/blob/33684a3828f66e3a0e91ed53a8239813dcef41dd/themes/classic/templates/checkout/_partials/cart-summary.tpl#L25

Thanks!

[2019-10-16 08:28] khouloudbelguith commented on #15411
@nielsverhoeven84, did you use a condition of free shipping like this
Carrier ranges?
![image](https://user-images.githubusercontent.com/16067358/66901716-88109d80-efff-11e9-87e7-aaf712d54710.png)
Carrier preferences?
![image](https://user-images.githubusercontent.com/16067358/66901765-9e1e5e00-efff-11e9-84f1-72f9ffee5431.png)

Thanks!

[2019-10-16 08:32] khouloudbelguith commented on #15961
@centoasa, I did not manage to reproduce the issue with PS1.7.6.1.
The contact form module is well hooked to the `registerGDPRConsent` hook.

![image](https://user-images.githubusercontent.com/16067358/66901943-08cf9980-f000-11e9-9fa1-6bb0d7f8af93.png)
And the contact form is well enabled in the `psgdpr` module
![image](https://user-images.githubusercontent.com/16067358/66901997-27ce2b80-f000-11e9

[2019-10-16 08:36] khouloudbelguith commented on #15948
@frevab,

Yes, as I said before: PrestaShop previous versions < 1.6.1.4 uses 0-dates a lot which makes it incompatible with MySQL 5.7.
Changing your server configuration is the best way, however, if you can't modify it, you can apply this fix: https://github.com/PrestaShop/PrestaShop/pull/4507/files => it is available in the PS1.6.1.4.

From this link: https://addons.prestashop.com/en/data-migrati

[2019-10-16 08:36] #15948 closed, assigned to nobody

[2019-10-16 08:42] khouloudbelguith commented on #15881
@legazpi23, thanks for your feedback.
Did you use the mega menu module?
Thanks to provide me a screenshot about your "Schema of URLs"
![image](https://user-images.githubusercontent.com/16067358/66902844-ae373d00-f001-11e9-828f-298cfba1438d.png)

Thanks!

[2019-10-16 08:45] #15792 closed, assigned to matthieu-rolland

[2019-10-16 08:46] khouloudbelguith commented on #15966
@banan44, I did not manage to reproduce the issue with PS1.7.6.1 & Multistore context is enabled.
https://drive.google.com/file/d/1R0qxv6HN5S2gFzwiGpJ9G_BLqJKnGKpr/view
What is the exact version of the module ps_facetedsearch did you use?

Thanks!

[2019-10-16 08:49] khouloudbelguith commented on #15864
Hi @gbartosz83,

Despite our several trials, we could not reproduce your issue.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-10-16 08:49] #15864 closed, assigned to nobody

[2019-10-16 08:50] harm-smits commented on #15973
No I just referenced the cart on some other buttons too as I tend to support no JavaScript too.

[2019-10-16 08:54] khouloudbelguith commented on #15973
@harm-smits, could you please provide the exact steps to reproduce the issue in a new comment? (the exact files edited).

Thanks!

[2019-10-16 08:58] #15953 closed, assigned to jolelievre

[2019-10-16 09:06] khouloudbelguith commented on #15920
@nateBitworks, in your log file, you have some warnings related to your modules `hitfedex` &  `authorizepaymentgateway`.

If you try to use a carrier created manually from the Back office, the shipping price, it is ok?

Thanks!

[2019-10-16 09:09] khouloudbelguith commented on #14811
@copyact, the issue created here: https://github.com/PrestaShop/PrestaShop/issues/15972

[2019-10-16 09:10] gbartosz83 commented on #15864
great!

[2019-10-16 09:13] harm-smits commented on #15973
Well, I just added a link to the checkout.tpl file where it says 'back to cart'. Now when an authenticated user clicks the link he gets redirected to the homepage. It doesnt matter where a user does this, its simply a fault in the cart controller. If the 'action=show' parameter is not set on the cart link when a user is authenticated, the user gets redirected to the homepage.

Code:
[code]

[2019-10-16 09:27] khouloudbelguith commented on #15864
@gbartosz83, since we cannot reproduce the issue, we need to close it.
But still, other users can comment.

Thanks!

[2019-10-16 09:35] bm-services commented on #15933
This is not ideal because my customer sells in 22 countries that must be tax excluded and I have 3 specific prices per product, on more than 2000 products...
I preferred to fix changing my discount amounts to be tax excluded but I think that the with tax option should not be proposed or so we must review the calculations to avoid having the problem that I put here.

[2019-10-16 10:09] matks commented on #14765
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15964

Thanks @prestamodule, @jf-viguier and @xiaoyuan1998 for helping us on this matter

[2019-10-16 10:09] #14765 closed, assigned to jolelievre

[2019-10-16 10:18] banan44 commented on #15966
@khouloudbelguith the latest one. I wrote in a previous message that I installed it from Module Catalog after uninstalling it the version I had (which also was the latest one).

[2019-10-16 10:19] nielsverhoeven84 commented on #15411
It is only configured for 1 region, and the price is send to the payment module and processed in it as it should be. After that it is gone for some reason.

![Schermafbeelding 2019-10-16 om 12 16 58](https://user-images.githubusercontent.com/52320806/66910520-ff99f900-f00e-11e9-82fe-2c63f2946078.png)

[2019-10-16 10:19] khouloudbelguith commented on #15966
@banan44,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-

[2019-10-16 10:22] #15882 closed, assigned to matthieu-rolland

[2019-10-16 10:38] Jackpera commented on #15949
Ok, we enabled all permissions in this folder, but nothing changed.

We had a demo by the customer, giving them a limited administration account, with modules and parts of the backoffice disabled.

Surprisingly, for them it works. I tried to reproduce on my machine, logging in with their credentials, just to be sure there was no caching in local, and it works on my machine too.

So the problem see

[2019-10-16 10:42] mrabsinthe commented on #10553
99% of our customers are ignoring the following message when receiving a message sent either from Orders/Messages or from Customer Service: "Please DO NOT reply directly to this email, we will not receive it. In order to reply, please use only the following link: https://etc.etc..."
Is it possible that a direct reply will appear in thread under Customer Service? This could be seen with many suppor

[2019-10-16 10:47] khouloudbelguith commented on #15949
@Jackpera, no it is not a PrestaShop BO permission, because, if you are not allowed to delete a category => a red alert will be displayed.
https://drive.google.com/file/d/1qLCAeWg3gBJRmg7KLCXfgfZNcVCLFeIw/view

Thanks!

[2019-10-16 10:47] labibyanes92 opened #15975 "Cannot save product with combinations"
Hi everyone,
I have an issue on Prestashop saving or modifying products with combinations.
this issue appeared  after upgrading prestashop from 1.7.4.2 to 1.7.5.1 despite in the previous version (1.7.4.2) it was working
if I want to modify a price of a product I am obliged to activate the debug mode to save modifications, if not an error message appeared is not possible to update the parameters
so

[2019-10-16 10:47] khouloudbelguith commented on #15411
@nielsverhoeven84,

Could you please provide me the access to your shop.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-16 10:49] khouloudbelguith commented on #15975
Hi @labibyanes92,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-10-16 10:51] labibyanes92 commented on #15975
thank you @khouloudbelguith  for request
i cleared cache from this folder var/cache/dev&prod
the problem still not solved

[2019-10-16 10:53] khouloudbelguith commented on #15975
@labibyanes92,

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response"

[2019-10-16 11:03] khouloudbelguith commented on #15973
@harm-smits, thanks for your feedback.
Yes, redirection works only if this parameter exists `&action=show`.
I have the same behavior as PS1.7.5.2 & PS1.7.6.1.
We need to ask developers if it is normal behavior or an exception PHP?
Ping @PrestaShop/prestashop-core-developers what do you think?
Same used here: https://github.com/PrestaShop/ps_buybuttonlite/blob/master/controllers/front/RedirectManag

[2019-10-16 11:08] Daaaaad opened #15976 "StockAvailable object model do not reflect database fields"
**Describe the bug**
When trying to update physical stock quantities using the webservice I discovered that those new columns (physical_quantity and reserved_quantity) from the new 1.7.2+ stock management system are not present in the StockAvailable object model... and not exposed as webservice parameters 😔

**To Reproduce**
N/A

**Screenshots**
<img width="1276" alt="Capture d'écran 2019-10-16 1

[2019-10-16 11:13] banan44 commented on #15966
@khouloudbelguith are these information good for you?
Link: https://drive.google.com/open?id=1dkLxUM1WN14ahDGJY2YaW0AhmIA5F3_A

I also included a screenshot to show you how many Features I have. I included logs from main domain and from the second shop. Todays logs are empty because I have not updated indexes yet. I've updated the Faceted Search indexes while being phisically logged on second shop

[2019-10-16 11:19] sarjon opened #15977 "Case style conventions"
#### Is your feature request related to a problem?

Recently we've been having quite a few discussions on multiple PRs regarding case style (camelCase, snake_case or kebab-case) used in code, for example:
1. What style do we use for HTML id attribute?
2. What style do we use for JSON we send to API?

#### Describe the solution you'd like

To avoid wasting time on discussing and fixing these kind o

[2019-10-16 11:19] sarjon commented on #15977
@matks wdyt?

[2019-10-16 11:21] labibyanes92 commented on #15975
i enable debug mode , open developer tools after saving product
product is saved
but in the normal mode product not saving , the message is err_empty-response
![debug mod activ](https://user-images.githubusercontent.com/56633569/66914768-cfa32380-f017-11e9-81f5-0f74e8b07f64.png)
![without debug](https://user-images.githubusercontent.com/56633569/66914769-cfa32380-f017-11e9-8ae2-24967be415e1.PNG)

[2019-10-16 11:27] khouloudbelguith commented on #15411
@nielsverhoeven84, I tried to make an order with another payment method (COD)
The shipping is OK.
![image](https://user-images.githubusercontent.com/16067358/66915159-a2a34080-f018-11e9-9054-5fb657ab2fb8.png)

But I have an exception on the FO
https://drive.google.com/file/d/1NKbXg020ZND1-6aoLtT7MKCTZN0ZVHFz/view
Thanks to check & feedback.

[2019-10-16 11:28] Hlavtox commented on #14518
@omar2886 @lutek @guigplt @freeman78ita Guys, I managed to do the filter myself. It was 15 minutes of work.
https://drive.google.com/file/d/1qQuoWBUiNsmOxBAJhip5ySWLaPgCZm1V/view?usp=sharing

Only thing needed is to modify/replace two files in the module.
- Update the module to latest version v3.3.0
- Update the files from the ZIP in the link
- Enable stock filter in the filter template
- Flush ca

[2019-10-16 11:30] nielsverhoeven84 commented on #15411
Hello

The problem is happening in cardinalrouge.fr (the second shop in the same prestashop)

Met vriendelijke groeten

 <https://www.robarov.be/?utm_source=Handtekening> <http:> 	 	Niels Verhoeven
Robarov
Wampenberg 28/2
2370 Arendonk
+32 14 480 780
www.robarov.be <http://www.robarov.be/>

 <https://www.facebook.com/robarov/>  <https://www.linkedin.com/company/robarov/>  <https://www.instagram.co

[2019-10-16 11:37] khouloudbelguith commented on #15975
@labibyanes92, we need to retrieve the PHP error log to understand what's wrong.
You can find the error log file into your `Project_folder/var/logs/` path.
Thanks!

[2019-10-16 11:46] omar2886 commented on #14518
@Hlavtox great job! if it was something that simple for you, I don't know why they didn't do it when this thread was opened 4 months ago, it takes much more time discussing here that implementing the solution

[2019-10-16 11:47] labibyanes92 commented on #15975
[prod.log](https://github.com/PrestaShop/PrestaShop/files/3734095/prod.log)

[dev.zip](https://github.com/PrestaShop/PrestaShop/files/3734096/dev.zip)

[2019-10-16 11:56] Hlavtox commented on #14518
@omar2886 Ask PS dev team, but expect something like "there are more important issues". Do you know the situation with the order note being messy with escaped characters? They fixed the bug after 2 years.

When I asked:
![comment 1](https://user-images.githubusercontent.com/6097524/66916966-b05ac500-f01c-11e9-99de-840a9a2f9463.JPG)

The fix?
![comment 2](https://user-images.githubusercontent.com/6

[2019-10-16 12:00] khouloudbelguith commented on #15411
@nielsverhoeven84, I just sent you an email.

Thanks!

[2019-10-16 12:10] khouloudbelguith commented on #15966
@banan44, the whole issue is `ReceiveAckHdr: timeout 300 is exceeded`

In your php.ini file, Try to increase:

[code]
Thanks to check & feedback

[2019-10-16 12:12] marionf commented on #14518
As you can see [here](http://build.prestashop.com/news/1.6.1.x-what-s-next/) : we don't maintain 1.6 version anymore but the maintenance of PrestaShop 1.6 is now being performed exclusively by volunteers to fix critical issues.
So if you think your issue is critical, you can open an issue on the [dedicated repository](http://build.prestashop.com/news/1.6.1.x-what-s-next/)

We all want the same: a

[2019-10-16 12:18] bm-services opened #15979 "Search's cron doesn't work"
**Describe the bug**
Search's cron is configured on our server with URL given in back office but it redirects on admin login page, so it isn't executed.

**To Reproduce**
1. Configure search's cron on server with URL given in back office
2. Lets turn it
3. Cron gives a "302 Found" header and it is redirected on admin login page so it isn't executed

**Additional information**
PrestaShop version: 1

[2019-10-16 12:24] khouloudbelguith commented on #15975
@labibyanes92,

Did you use any server for caching?

You have a lot of errors due to the cache.

Thanks!

[2019-10-16 12:34] khouloudbelguith commented on #15979
Hi @bm-services,

Here's the PR: #15855 to fix the issue.
It is fixed in the newt patch PS1.7.6.2.
Your ticket is a duplicate of #15725
So, I close it.
Thanks!

[2019-10-16 12:34] #15979 closed, assigned to nobody

[2019-10-16 12:34] khouloudbelguith commented on #15979
Duplicate of #15725

[2019-10-16 12:34] Jackpera commented on #15949
@khouloudbelguith just updating you for the love of the game, look here:

https://drive.google.com/file/d/1Rt5nUnNXBEtLUNYWNOfOCpZFBuXP7ul0/view

As you can see, here are the steps to reproduce in my system:

1. Create a profile with all permissions granted, assign a user and enter the BO with that user (in the video Super-Amministratore profile).
2. Try to delete a category --> Does not work
3. R

[2019-10-16 12:44] bm-services commented on #15979
Sorry for the duplication. I don't find the other ticket with github search.
Thanks !

[2019-10-16 12:54] khouloudbelguith opened #15981 "An employee without permission is redirected to the Dashboard after clicking on the "Edit" button - Categories page -"
**Describe the bug**
An employee without permission is redirected to the Dashboard after clicking on the "Edit" button - Categories page -

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Advanced Parameters => Team => Profiles Tab
2. Create a new Profile Test
3. Go to BO => Advanced Parameters => Team => Permissions Tab
4. Select only "Add" & "View"
![image](https://user-images.g

[2019-10-16 12:58] khouloudbelguith commented on #15949
@Jackpera, in my case, it is OK.
So, I think, it is a custom module.
Waiting for your feedback.

[2019-10-16 12:59] ttoine commented on #14518
+1,
Please open a pull request. The repository of the module is here:
https://github.com/PrestaShop/ps_facetedsearch

[2019-10-16 13:11] matks commented on #15977
Yes, it's a good thing to discuss and decide it now

ping @PierreRambaud

[2019-10-16 13:30] labibyanes92 commented on #15975
i don't think so
![per1](https://user-images.githubusercontent.com/56633569/66923832-d470d300-f029-11e9-94d9-241611a9e00e.PNG)
![per2](https://user-images.githubusercontent.com/56633569/66923834-d5096980-f029-11e9-9f32-9183c99d13ff.PNG)
![per3](https://user-images.githubusercontent.com/56633569/66923835-d5a20000-f029-11e9-9217-6bb45f7f1179.PNG)

[2019-10-16 13:31] Hlavtox commented on #14518
@marionf @ttoine I don't know how to do it and I don't to mess anything up. I use github only to spam your repo 😅 🚀 (joke)

The thing is, I don't know if _what I think is correct_ is _correct for all the merchants_. Let me know what you think.

**3 different product conditions/groups - (src/Product/Search.php)**
A) products - `quantity > 1` - _Only products in Stock_
[code]
B) products -  `quantit

[2019-10-16 13:35] matks commented on #10553
You mean "the mail sent back by the customer appears on the page" ?
Unfortunately this only works if the mail server you use (it can be gmail, it can be microsoft exchange ...) allows to retrieve such data :/ so this feature would be 100% dependent of the mail server allowing it ... and the ability of people to configure it correctly

That would be a good target for a module, 1 module for 1 mail s

[2019-10-16 13:40] matks commented on #14741
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15908

[2019-10-16 13:40] #14741 closed, assigned to TristanLDD, MatShir

[2019-10-16 13:45] khouloudbelguith commented on #15975
@labibyanes92, when mode debug is disabled & you try to save this product, is there any red alert displayed?

Thanks!

[2019-10-16 13:48] labibyanes92 commented on #15975
@khouloudbelguith, yes the alert is " impossible de mettre a jour les parametres "

[2019-10-16 13:49] khouloudbelguith commented on #15975
@labibyanes92,

Could you please provide me the access to your shop.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-16 14:01] khouloudbelguith commented on #15975
@labibyanes92, thanks!
I will check & feedback.

[2019-10-16 14:01] labibyanes92 commented on #15975
thank you

[2019-10-16 14:12] cemalarik opened #15983 "Customer Page Too Large"
Hello,

Customer page in backoffice is getting larger everyday, if we have a very active customer who buys a lot of things regularly. Scrooling down to a specific part is being a pain.
Here is an example (it took me 20 seconds to get to the buttom of the page):

https://drive.google.com/open?id=1_-ipKGGJBFydDYxishsgIcLWP8RKiTOc

I suggest this page should have accordion type elements, showing only

[2019-10-16 14:20] #14909 closed, assigned to matthieu-rolland

[2019-10-16 14:23] zuk3975 commented on #15977
Not sure if its the right place, but we could also decide yaml files ident.

[2019-10-16 14:29] khouloudbelguith commented on #15920
@nateBitworks, thanks!
Waiting for your feedback.

[2019-10-16 14:36] N-Wouda opened #15985 "Translating modules in English from BO"
**Describe the bug**
Translating modules in English (_en-gb_) in the backoffice throws this error message (see screenshots). I've also had a look at #15850, but since we're already on 1.7.6.1, I do not think this applies. Do you have any idea?

This is the full stacktrace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `International` -> `Translations` in the BO
2. Click on Mod

[2019-10-16 14:44] labibyanes92 commented on #15975
sorry @khouloudbelguith but still not working
check the prodcut with this id 14435 please

[2019-10-16 14:59] khouloudbelguith commented on #15975
@labibyanes92, did you use a lot of combinations?

Thanks!

[2019-10-16 15:00] khouloudbelguith commented on #15985
@N-Wouda, so the issue is fixed after updating the language?

Thanks!

[2019-10-16 15:03] khouloudbelguith commented on #15983
Hi @cemalarik,

Thanks for your report.
It is the same behavior as PS1.7.5.2 & PS1.7.6.1.
https://drive.google.com/file/d/1CXxuylzUbBRz9K2vIUxZX3kKLCape_zF/view
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-16 15:08] khouloudbelguith commented on #15975
@labibyanes92, so it could be similar to this issue:
https://github.com/PrestaShop/PrestaShop/issues/9809

Thanks to check & feedback.

[2019-10-16 15:12] matks commented on #12061
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15909

[2019-10-16 15:12] #12061 closed, assigned to nobody

[2019-10-16 15:21] labibyanes92 commented on #15975
@khouloudbelguith  This issue is not fixed yet.

[2019-10-16 15:33] jf-viguier opened #15986 "Customized product can't be deleted from the cart"
**Describe the bug**
It's impossible to delete a customized product from the cart if attached image doesn't exists.

Steps to reproduce the behavior:
1. Create a customizable product with an image field
2. Add this customized product to the cart with an image
3. Delete the image in the upload folder
4. Try to delete the product in the cart : the first time, the customization is deleted. Second tim

[2019-10-16 15:34] khouloudbelguith commented on #15975
@labibyanes92, yes, it is added to our bug roadmap.
So, can I close the issue as a duplicate?

Thanks!

[2019-10-16 15:37] khouloudbelguith commented on #15976
Hi @Daaaaad,

I have the same issue with PS1.7.6.1.
I used this script
[code]
But the `physical_quantity` and `reserved_quantity` are not updated.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-10-16 15:57] khouloudbelguith commented on #15986
Hi @jf-viguier,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I will add the issue to the bug roadmap.
Thanks for the fix.

[2019-10-16 16:19] matks commented on #15977
OK, here's my suggestions:

YAML files indent: 2 spaces
JSON payloads to API and JSON responses: snake_case
HTML class and ids: kebab-case

No logic behind that, it just seems to be the most popular standards to me

[2019-10-16 16:20] matks commented on #15977
ping @PrestaShop/prestashop-core-developers

[2019-10-16 16:21] mandres2 commented on #15970
Yes I am currently using that module.

[2019-10-16 18:36] Sewforth opened #15989 "(1/1) ContextErrorException at checkout"
At checkout, after Order with Obligation to Pay is clicked, a context error occurs.  Attached
![FireShot Capture 184 -  - mascogear](https://user-images.githubusercontent.com/56652025/66948141-21e94200-f022-11e9-819b-44a41b582b3b.png)
.
After analyzing it, it only occurs if I have a customized/personalized  product in my cart.

[2019-10-16 19:12] jajarom opened #15990 "Prestashop 1.7.6.1 with PHP 7.1 and 7.2 gives blank page order confirmation"
**Describe the bug**
Prestashop 1.7.6.1 with PHP 7.1 and 7.2 gives blank page order confirmation.
With php 7.0 all works well.
Warehouse compatible with PHP 7.1 and 7.2

Stack trace:
#0 /home/dual34/public_html/new/classes/Mail.php(323): MailCore::toPunycode('jajarom@yahoo.c...')
#1 /home/dual34/public_html/new/classes/order/OrderHistory.php(552): MailCore::send(12, 'bankwire', 'A\xC8\x99teaptare

[2019-10-17 03:10] gagah666 opened #15992 "Can't access Module Manager"
**Describe the bug**
Can't even access module manager for a while, not sure what went wrong

**To Reproduce**
Whenever i click on module manager, always appear like this

**Additional information**
PrestaShop version: 1.7

![Presta 1](https://user-images.githubusercontent.com/56664362/66974641-f1f37a80-f0c5-11e9-869c-b60a080914f5.JPG)

[2019-10-17 05:44] Prem-lmx opened #15993 "An error occurred while changing order status, or we were unable to send an email to the customer. presatshop1.7"
Hai
i'm using prestashop1.7
change the order status in delivered..but show the error in
"An error occurred while changing order status, or we were unable to send an email to the customer"..

Thanks,

[2019-10-17 06:15] sarjon commented on #15977
By default, Symfony Form component renders form elements with snake_case ids.

[2019-10-17 06:15] rafaelsgritti opened #15994 "Submit button being disabled and not enabled again normally"
Pay button being disabled after missing data in payment method.

When using a credit card payment method, if I submit any wrong data it sets the submit button to disabled and doesn't return unless I retype data that I already entered as Credit card number and number of installments, or if I have the terms and conditions checkbox enabled, if I uncheck and check it again.

My website: loja.bradhoncu

[2019-10-17 06:58] #15993 closed, assigned to nobody

[2019-10-17 07:28] labibyanes92 commented on #15975
thakns @khouloudbelguith
i'm so confused i enable the debug mode , the problem is disapeared ,no error
it seems cache problem also
ERR_EMPTY_RESPONSE

[2019-10-17 07:46] khouloudbelguith commented on #15573
Hi @itroom-agence,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-17 07:46] #15573 closed, assigned to nobody

[2019-10-17 07:47] khouloudbelguith commented on #15558
Hi @BrunoJunior,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-17 07:47] #15558 closed, assigned to nobody

[2019-10-17 07:50] khouloudbelguith commented on #15989
Hi @Sewforth,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report

[2019-10-17 07:52] CondeCrapula opened #15996 "Can't acces to products nor Modules Manager"
I cannot access within the products section nor in the Modules Manager section.

When I click on it, I get the following message:

Oops! An Error Occurred
The server returned to "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

[2019-10-17 07:52] #15996 closed, assigned to nobody

[2019-10-17 07:54] khouloudbelguith commented on #15990
Hi @jajarom,

This issue is occurred due to `php-intl` extension.
Could you please try to install it, it is required.
![image](https://user-images.githubusercontent.com/16067358/66989185-20705600-f0c4-11e9-99da-ef10e9105eb4.png)

Thanks to check and feedback.

[2019-10-17 07:55] khouloudbelguith commented on #15992
Hi @gagah666,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/

[2019-10-17 08:00] CondeCrapula opened #15997 "Cannot enter in the products section nor in the Modules Mannager"
I cannot access within the products section nor in the Modules Mannager section.

When I click on it, I get the following message:

Oops! An Error Occurred
The server returned to "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

[2019-10-17 08:04] tszili commented on #9888
There is also a workaround, if you have only 1 country in the list, and dont want it to be displayed, you can hide it. Just simply go to your THEME folder: /templates/_partials/form-fields.tpl and edit line 33 to :    <div class="form-group row {if !empty($field.errors)}has-error{/if}{if $field.type === 'countrySelect'}hidden{/if}">

[2019-10-17 08:31] IlPizza79 opened #15998 "PayPal (official module) not showing anymore in checkout"
**Describe the bug**
PayPal module is active and fully configured but it's not showing in checkout.

**To Reproduce**
Steps to reproduce the behavior:
1. Install, active anc configure official PayPal module.
2. Check if PayPal is showing in checkout
3. No go to Payment preferences page
4. Click any "Save" button
5. Now PayPal is not showing anymore in checkout

**Additional information**
PrestaSho

[2019-10-17 08:39] khouloudbelguith commented on #15994
Hi @zagalux,

I did not manage to reproduce the issue with PS1.7.6.0.I used the stripe module.
I attached a screen record
https://drive.google.com/file/d/1lg5QPVTQfabHO2M2tI7Lrmzq8jF1l_Mx/view
THanks to check & feedback.

[2019-10-17 08:42] khouloudbelguith commented on #15997
Hi @CondeCrapula,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pre

[2019-10-17 08:49] khouloudbelguith commented on #15998
Hi @IlPizza79,

I did not manage to reproduce the issue with PS1.7.6.1 & the Paypal module v5.0.2.
I attached a screen record
https://drive.google.com/file/d/1OW148nPVodMkK5TN1FxDiZzvmZGQ57Ih/view
Are you well connected to your account? and did you check your "API USERNAME" if it is well set?

Thanks to check & feedback.

[2019-10-17 08:51] khouloudbelguith commented on #15990
@jajarom, so, the issue is fixed?

Thanks!

[2019-10-17 08:52] khouloudbelguith commented on #15975
@labibyanes92, You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2019-10-17 08:53] khouloudbelguith commented on #15970
Hi @mandres2,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
https://addons.prestashop.com/en/contact-us?id_product=20111
Thanks!

[2019-10-17 08:53] #15970 closed, assigned to nobody

[2019-10-17 09:01] khouloudbelguith commented on #9888
Hi @tszili,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-10-17 09:19] Noido commented on #11548
Hi @SP86 Do you have find solution for override supercheckout template ?

Thanks

[2019-10-17 09:20] Klemart3D commented on #15910
@khouloudbelguith,

I still reproducing errors below today, so that what I tested:

1. I removed my `composer.lock` (with _Twig v2.12.0_ inside)
1. I downloaded[ official PS 1.7.6.1 composer.lock](https://raw.githubusercontent.com/PrestaShop/PrestaShop/1.7.6.1/composer.lock) (with _Twig v1.38.4_ inside)
1. I launched `composer install`
1. I saw the following line in stdout:
`  - Downgrading twig/t

[2019-10-17 09:37] matks commented on #15910
Indeed I would not suggest using a `composer update` in production. Composer update will basically **ignore your composer.lock** and attempts to use all possible latest versions of the libraries in composer.json, no matter whether they are compatible with PrestaShop or not.

If you want to use composer to manage your dependencies on your shop, you must carefully select the exact libraries you want

[2019-10-17 09:39] khouloudbelguith commented on #15910
@Klemart3D, also, there is a difference

`composer update` will update your dependencies as they are specified in `composer.json`
`composer install` will not update anything; it will just install all the dependencies as specified in the `composer.lock` file

Thanks!

[2019-10-17 09:40] legazpi23 commented on #15881
Yes, using the template megamenu, the classic theme menu and even with the classic theme, without using the template, I get the error described.
attached url structure screens.

Thank you
![estructura url1](https://user-images.githubusercontent.com/56402669/66997541-f4100600-f0d2-11e9-8e51-5b951068b1ee.png)
![estructura url2](https://user-images.githubusercontent.com/56402669/66997542-f4100600-f0d

[2019-10-17 09:42] legazpi23 commented on #15881
With this url structure, in version 1.7.5.2 I had no problems.

[2019-10-17 09:46] banan44 commented on #15966
Changed these to following values:

php_value max_execution_time 500
php_value max_input_time 500
php_value memory_limit 800M

Sever informatio values changed

![obraz](https://user-images.githubusercontent.com/48493952/66997916-9c25cf00-f0d3-11e9-9a65-e5896099ab26.png)

Still "Price indexing failed" error.  What is weird the error in the log is still " ReceiveAckHdr: timeout 300 is exceeded"

[2019-10-17 09:48] tszili commented on #9888
I don't think that is a good idea. It's just a workaround. This code is good if your shop has no other countries, but if it has more then one, the customer won't be able to choose the desired country.

[2019-10-17 10:10] khouloudbelguith commented on #15881
Hi @legazpi23,

Thanks for your feedback.
In fact, the category page is migrated to Symfony so the fields are changed with more specific fields.
You need to edit the route of your category to `{category_meta_title:/}{rewrite}-{id}`
![image](https://user-images.githubusercontent.com/16067358/66999861-0d1ab600-f0d7-11e9-8eee-2b10bd8f4ae4.png)
Thanks to check & feedback.

[2019-10-17 10:16] Klemart3D commented on #15910
Thanks for your answers, it's clear for me and issue can be closed. Only question I have is why is there a `||^2.6.2` in the composer.json if PS in not compatible with Twig v2 :thinking:

[2019-10-17 10:22] khouloudbelguith commented on #15910
@Klemart3D, The `require key`: The first (and often only) thing you specify in composer.json is the require key. You are simply telling Composer which packages your project depends on.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-17 10:22] #15910 closed, assigned to nobody

[2019-10-17 10:35] jajarom commented on #15990
Yes,

But i have server error when i upload a picture, or i want to install another module

[2019-10-17 10:37] khouloudbelguith commented on #15990
@jajarom, your issue reported is

This is another issue? in which page => uploading the image doesn't work? what is the exact module?

Thanks!

[2019-10-17 10:44] SylNicky opened #16001 "Add Ivory Coast as a supported country"
When installing a new version of PrestaShop,
Côte d'Ivoire appears in the list of available countries.

But after installation, no information about this country is available automatically.

Currency, taxes, ... are added manually step by step.

Thank you to see to automatically integrate this information to PrestaShop.

[2019-10-17 11:14] WooXu opened #16002 "Translates are not working for 1.7.6"
When i translate strings for my teheme or modules, it saves it but it does not show on front end. I have tryed everything basicly, tryed several themes both the standard theme for prestashop and other themes. My main theme im running is tv_electronic_electron_1_7_v1, it should be compatible with the prestashop version and i take the basic theme following prestashop should aswell..

I do see the tr

[2019-10-17 11:18] legazpi23 commented on #15881
Now he lets me add categories in the back, but in the front he can't find the categories, 404 error

[2019-10-17 11:19] khouloudbelguith commented on #16001
Hi @SylNicky,

Thanks for your report.
I have the same behavior as PS1.7.6.1 & PS1.7.5.2.
I selected the Ivory Coast as a country in the installation.
I have the country Ivory Coast is enabled
![image](https://user-images.githubusercontent.com/16067358/67003772-0001c500-f0df-11e9-815a-056474b3f255.png)
But there is no states for this country
![image](https://user-images.githubusercontent.com/16067

[2019-10-17 11:20] khouloudbelguith commented on #16001
Hi @SylNicky,

Thanks for your report.
I have the same behavior as PS1.7.6.1 & PS1.7.5.2.
I selected the Ivory Coast as a country in the installation.
I have the country Ivory Coast is enabled
![image](https://user-images.githubusercontent.com/16067358/67003772-0001c500-f0df-11e9-815a-056474b3f255.png)
But there are no states for this country
![image](https://user-images.githubusercontent.com/1606

[2019-10-17 11:20] jajarom commented on #15990
In Back Office when uploading imegae to store.
Module i try is v1.2.1-ps_emailsmanager.

[2019-10-17 11:23] khouloudbelguith commented on #15990
@jajarom, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-17 11:28] jajarom commented on #15990
![Prestazz](https://user-images.githubusercontent.com/5030991/67005005-3a249400-f0ea-11e9-8c7d-8c79d22a7835.jpg)

Module translate uploading image. This happens

[2019-10-17 11:28] khouloudbelguith commented on #15881
@legazpi23, it is the same behavior with PS1.7.5.2 & PS1.7.6.1
PS1.7.5.2: {meta_tilte:/}{rewrite}-{id}
PS1.7.6.1: {category_meta_title:/}{rewrite}-{id}
Try to create a category with a meta title not empty => redirection to 404, because the redirection is incorrect, you should be careful when editing the shema of URLs

Thanks!

[2019-10-17 11:29] khouloudbelguith commented on #16002
Hi @WooXu,

What is the exact version PS1.7.6 did you use? PS1.7.6.1 or PS1.7.6.0?

Thanks!

[2019-10-17 11:29] jajarom commented on #15990
Module is from Prestashop

https://addons.prestashop.com/en/administrative-tools/25939-.html

[2019-10-17 11:33] khouloudbelguith commented on #15990
@jajarom, the screenshot is provided from the translation page?

Thanks!

[2019-10-17 11:34] WooXu commented on #16002
its 1.7.6.1

[2019-10-17 11:42] SylNicky commented on #16001
Thanks @khouloudbelguith

[2019-10-17 11:48] IlPizza79 commented on #15998
Sorry, I guess I should be more precise in my reports...
I'm really sorry, I wrote my report in a hurry.

At point 3 and 4 of my report, I mean:
_now go to "Dashboard >> Payment >> Prefences" page, do some changes and click save.
For example, you can enable PayPal for all country and save._

After save in "Dashboard >> Payment >> Prefences" page, PayPal is not showing anymore in checkout. Can you

[2019-10-17 11:50] legazpi23 commented on #15881
I have created a new category and I still get 404 error on the front, when clicking on it.
As I mentioned earlier, the only option to let me add categories and not get 404 error in the front is with the following structure of url categories: {rewrite} - {id}

[2019-10-17 12:00] WooXu commented on #16002
Also its not just the frontend btw. the backend translation doesnt work eather

[2019-10-17 12:16] IlPizza79 commented on #15998
Ah, I forgot to say that I need to reset the PayPal module (and reconfigure and reconnect to my PayPal account) to make it visible again in checkout.
Thanks again.

[2019-10-17 12:17] banan44 commented on #15966
Ok, I've tried that. No luck. After a few minutes I had following error:

![obraz](https://user-images.githubusercontent.com/48493952/67006983-ad2c0b80-f0e6-11e9-8ffd-a01e40c523cc.png)

When I refreshed page the emodule was on the list of installed modules. I've created a new template and selected Index all missing prices. Still failed.

![obraz](https://user-images.githubusercontent.com/48493952/

[2019-10-17 12:29] khouloudbelguith commented on #15966
@banan44, no it is not well installed on your server.
There is something wrong during the install.
The whole issue is about the install action.
Is there any exception displayed during the install?
You have some issues on your server
![image](https://user-images.githubusercontent.com/16067358/67008757-8a035b00-f0ea-11e9-8781-5943369d49fa.png)

Thanks to check with your host & feedback.

[2019-10-17 12:31] khouloudbelguith commented on #15881
@legazpi23, because this the right condition for the categories URLs: `{rewrite}-{id}`.
Your first route is not correct.

Thanks!

[2019-10-17 12:32] khouloudbelguith commented on #15990
@jajarom, so after adding the zip extension, it is OK?

Thanks!

[2019-10-17 12:36] onkstudio commented on #9682
Hi,

I am sorry but I still can't make it work on PS 1.7.6.1
I tried disabling overrides, disabling all caches and forcing templates recompile, still does not work...

The difference between your screencast and my installation is that both stores us en virtual directory suffix to its URL, like this :
- https://example.com/fr
- https://example.com/gb

But I don't know if it matters or not.

Switchi

[2019-10-17 12:41] khouloudbelguith commented on #9682
@onkstudio,

THose options don't work
![image](https://user-images.githubusercontent.com/16067358/67009437-eb77f980-f0eb-11e9-9576-e46893762d29.png)
as reported here: https://github.com/PrestaShop/PrestaShop/issues/14596

Also, this is a cache browser, try to open your link in a incognito browser & it is OK.

Thanks!

[2019-10-17 12:44] jajarom commented on #15990
The problem with module, yes.
The image uploading problem not fixed yet

[2019-10-17 12:49] khouloudbelguith commented on #15998
@IlPizza79, thanks for these clarifications, but it is well working in my case
https://drive.google.com/file/d/1VPAVZSEOBjVo3rKo3U3Q-nWgBYGvLwMe/view
Thanks to upgrade your Paypal module to the next version v5.0.2.

Check & feedback.

[2019-10-17 12:53] matks commented on #14518
OK, I dont like doing that but it seems a few important points need to be stated here.

<hr>

This feature has been analyzed, explored and queue accordingly. It will be done after the other features / bugfixes that are more important and before the other features / bugfixes that are less important. Sorry but this is how it works, and it is logical. There are lot of issues and features to address,

[2019-10-17 12:54] khouloudbelguith commented on #15990
@jajarom, It is OK in my side
https://drive.google.com/file/d/1taTa1FYpyRVdXHVA9EDJnc4j4P6QtDA_/view
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the ser

[2019-10-17 12:55] khouloudbelguith commented on #16002
@WooXu, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-17 13:08] onkstudio commented on #9682
OK, indeed when using an incognito browser tab it works properly.
But how to avoid it when clients will switch from one website to another on their standard browser ?

[2019-10-17 13:08] wojoni commented on #15333
Hi, when this bug when will it be solved ?

[2019-10-17 13:10] khouloudbelguith commented on #15333
Hi @wojoni,

It is fixed & it will be available in the next patch PS1.7.6.2.

Thanks!

[2019-10-17 13:11] khouloudbelguith commented on #9682
@onkstudio, it is a browser issue & not a PrestaShop core issue.
Thanks!

[2019-10-17 13:15] wojoni commented on #15333
Hi @khouloudbelguith
can I have some instructions on how to fix it before upgrading to 1.7.6.2?

[2019-10-17 13:17] khouloudbelguith commented on #15333
@wojoni, you can follow this link: https://github.com/PrestaShop/PrestaShop/pull/15382/files & apply the fixes.

Thanks!

[2019-10-17 13:22] onkstudio commented on #9682
I tested too quickly, it actually still does not work, even in an incognito browser tab.
I don't see how it can be a browser cache issue since I don't experience it with other websites...

[2019-10-17 13:45] PrestaNewbie opened #16003 "Can't checkout when logged in, but checkout works if buying as a guest"
Hello,

when I create new account and I try to checkout on second step(see picture), when i press Continue, site just reloads and nothing happens. What can be wrong?

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2
![checkouterror](https://user-images.githubusercontent.com/56392393/67014447-8c22e500-f0fd-11e9-8aa3-f19eb6a4738c.PNG)

[2019-10-17 14:27] PrestaNewbie commented on #16003
No, there is no exception displayed

[2019-10-17 14:40] 8ternity opened #16004 "Problem with French Canada local settings on 1.7.5.1"
**Steps To Reproduce the issue**

1. Go to BO => International => Localization page
2. Import the Canada Package
3. Go to your Profile employee
4. Change the languge of the employee to Français CA (French)
5. Go to BO => Catalog => Products => Edit a product
6. See error in the console

**Describe the bug**
From the begining of using vers 1.7.5.X, i have some main.bundle.js errors with French Queb

[2019-10-17 14:40] khouloudbelguith commented on #16003
@PrestaNewbie, they are just deprecations, click on the "Bebug" Tab to see is there are exceptions?

Thanks!

[2019-10-17 14:48] PrestaNewbie commented on #16003
@khouloudbelguith
Debug tab
![debug tab](https://user-images.githubusercontent.com/56392393/67020096-546c6b00-f106-11e9-9cf0-a23f82837fcd.PNG)

[2019-10-17 14:49] LouiseBonnard commented on #16001
Hi @khouloudbelguith and @SylNicky, thanks a lot for bringing this up, it could definitely be a nice quick-win to add Côte d'Ivoire natively, even more if you already have all the localization data. I'll wait a bit to see if there are other missing countries that can be added in the meantime, I'll keep you posted. ;-)

[2019-10-17 14:54] khouloudbelguith commented on #16003
@PrestaNewbie,

You need to enable debug mode in your store and debug request which is sent for continue action in your browser, using DevTools, so:

1. enable debug mode
2. go to the checkout page
3. open up developer tools
4. go to Network tab
5. Click on Continue
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Resp

[2019-10-17 15:05] khouloudbelguith commented on #16004
Hi @8ternity,

Could you please navigate to your BO => International => Translations => Add / Update a language section => select "Français CA (French)" & click on the button "Add / Update a language".
![image](https://user-images.githubusercontent.com/16067358/67021672-461b5080-f100-11e9-9854-cf8575277ef5.png)

Thanks to check & feedback.

[2019-10-17 15:09] marionf commented on #14518
Thank you for your apologize, I appreciate :)

We know that [PrestaShop 1.7 was released too soon](http://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-2-pain-points/#17-was-released-too-soon) and we are trying to make it better everyday, but it takes time

Merchants don't care about PrestaShop being powered by legacy system or Symfony system. However, if we stop the migration, we s

[2019-10-17 15:09] khouloudbelguith commented on #9682
@onkstudio, before switching to the second shop, try to clear the cache from the browser & check
![image](https://user-images.githubusercontent.com/16067358/67022044-dce80d00-f100-11e9-9e40-ea7a2c352c29.png)

Thanks!

[2019-10-17 15:09] PrestaNewbie commented on #16003
@khouloudbelguith
![network](https://user-images.githubusercontent.com/56392393/67022054-453aec80-f109-11e9-8b8b-8394e5dd556e.PNG)

[2019-10-17 15:22] PrestaNewbie commented on #16003
@khouloudbelguith
![address format](https://user-images.githubusercontent.com/56392393/67023152-fee68d00-f10a-11e9-86ad-a903c7460232.PNG)
![required fields](https://user-images.githubusercontent.com/56392393/67023155-fee68d00-f10a-11e9-89fa-e75a64a830e8.PNG)

THANKS!!!

[2019-10-17 15:25] khouloudbelguith commented on #16003
@PrestaNewbie, thanks to add in your address format the field home phone & Save.

Thanks!

[2019-10-17 15:32] PierreRambaud commented on #15977
Same as @matks, this is the most popular.
Plus, 2 spaces for HTML, JS & CSS (as airbnb guide style, one of the most used in VueJs community)

[2019-10-17 15:37] PrestaNewbie commented on #16003
@khouloudbelguith , THANK YOU VERY MUCH!
It fixed checkout! I left only phone to be required. BIG THanks again!

[2019-10-17 15:49] khouloudbelguith commented on #16003
@PrestaNewbie, you are welcome!
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-17 15:49] #16003 closed, assigned to nobody

[2019-10-17 16:09] #15815 closed, assigned to nobody

[2019-10-17 16:12] jajarom commented on #15990
![Screenshot_2019-10-17 PHP PrestaShop Info](https://user-images.githubusercontent.com/5030991/67027340-065d6480-f112-11e9-871e-472296c7dbd9.png)

[2019-10-17 16:48] Hlavtox commented on #14518
@marionf Thank you for a deeper insight into the problem. I understand it.

I am sorry to you all guys and I owe you a beer 🍻.

Let's somehow put it together. I will try to help as much as I can (and to keep nerves down 😄).

[2019-10-17 16:59] 8ternity commented on #16004
@khouloudbelguith

Prestashop 1.7.5.X does not have French (Canada) language. They fixed on version 1.7.6.X by adding French Canada.

See the available Translations in Prestashop :
![2019-10-17_12h56_32](https://user-images.githubusercontent.com/16780421/67030596-ba90c800-f0dd-11e9-9ce6-5c87d80bdb04.png)

The migration from 1.7.5.1 to 1.7.6 is not available. It's not supported yet. They have probl

[2019-10-17 17:29] elmanu13 opened #16006 "Customer page on 1.7.6.1 can be improved"
I just upgraded to 1.7.6.1 and I highly regret this. The customer page is not usable anymore.

1) an advert bloc for the documentation is taking half of the screen, and come back even if I remove it (screenshot attached)

<img width="1558" alt="Capture d’écran 2019-10-17 à 19 15 07" src="https://user-images.githubusercontent.com/32092528/67031813-9d2a2100-f112-11e9-94b5-9fba70177503.png">

2) no

[2019-10-17 17:33] WooXu commented on #16002
Hi again

Well basicly i would love to, i think theres some permission issues with the symfony framework tho.

[2019-10-17 17:37] WooXu commented on #16002
Heres after activating debug mode

[debug report.txt](https://github.com/PrestaShop/PrestaShop/files/3740597/debug.report.txt)

[2019-10-17 18:15] rblaurin commented on #10586
Hi
Isn't it going to be ready for 1.7.7 anymore?

Thanks!

[2019-10-17 19:11] eriknuds commented on #12461
The upgrade path from PS 1.6 to 1.7 would be much easier if support for PHP 7.3 was also added to 1.6 - as now if you want to upgrade to PS 1.7 you might have to upgrade your linux distro to get a newer PHP version, and then suddenly you are on PHP 7.3, (with 7.0 as an only partially supported out of the box alternative  on Debian 10 buster, there are issues with mysql connectivity). This upgrade

[2019-10-17 19:19] musaffar-patel opened #16007 "Hook Request (back office new order creation)"
Hi,

Would be very useful to have a hook which allows modules to display content in the new order creation form in the back office.

At the moment, I have to modify the file
adminps/themes/default/template/controllers/orders/form.tpl

and add the following code where I wish to display the module content:

			<div class="form-group">
				<div class="checkbox col-lg-9 col-offset-3">
					**{hook h='

[2019-10-17 20:43] matks commented on #12461
I think one way to solve this would be to first perform an upgrade to an earlier version of 1.7 (such as PS 1.7.5) then upgrade the php version.

If I'm not wrong (better check that), last PS 1.6.1 version was compatible with php 7.1 . PS 1.7.7 will have a php range compatibility from php 7.1 to php 7.3 to php 7.1 will be a shared compatible version.

I'm sorry this is not going to happen. PS 1.6

[2019-10-17 20:44] #14366 closed, assigned to nobody

[2019-10-17 20:45] matks commented on #14366
@carlead your suggestion has been merged into the codebase through https://github.com/PrestaShop/PrestaShop/pull/15926 . Thank you !

[2019-10-17 20:56] matks commented on #10586
Probably not, all of our energy right now is focused on Orders pages (listing, create, view)

[2019-10-17 20:58] eriknuds commented on #12461
@matks

I don't think you can 1-click upgrade to an older version of PS 1.7?

PHP 7.2 is not good enough for PS 1.6 at this time, because main stream linux distros like Debian ship with PHP 7.3 and limited, not recommended, not default and not complete PHP 7.0 suport (mysql library issues among else). PHP 7.1 is not really an option here, so there is no common platform for PS 1.6 and 1.7 if 1.6 do

[2019-10-18 06:07] jajarom commented on #15990
Must enable fileinfo to fix this

[2019-10-18 07:49] Progi1984 commented on #15977
Note :notebook: :
* [Airbnb JavaScript Style Guide](https://github.com/airbnb/javascript)
* [Airbnb CSS / Sass Styleguide](https://github.com/airbnb/css)

Not found for HTML

[2019-10-18 07:50] khouloudbelguith commented on #16006
Hi @elmanu13,

Thanks for your report.

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1eTKFOCFwyDvxh8yJXKwXd6AnSm4LR-Tz/view
It is fixed previously with this PR: https://github.com/PrestaShop/PrestaShop/pull/12111

We are aware of this issue, it is fixed with PR: https://github.com/PrestaShop/PrestaShop/pull/15859, it is fixed in the next major patch PS1.7

[2019-10-18 07:55] toutantic opened #16009 "Enabling Https/ssl is quite confusing"
People are having trouble enabling https/ssl on their shop. just google for [Enable SSL on all pages prestashop gray](https://www.google.com/search?q=Enable+SSL+on+all+pages+prestashop+gray)

This is because of a bad UI.
First you get this
![Screenshot from 2019-10-18 09-45-13](https://user-images.githubusercontent.com/720961/67075933-79a3bc80-f18c-11e9-938b-05eb78ab6136.png)

You have to click on

[2019-10-18 08:00] khouloudbelguith commented on #15990
Hi @jajarom,

Yes, in your case, you need to enable `allow_url_fopen`, it is required and you need to install `Fileinfo` extension.

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-18 08:00] #15990 closed, assigned to nobody

[2019-10-18 08:04] elmanu13 commented on #16006
Hi @khouloudbelguith ,

Do you use Chrome ? I had to connect with Chrome and close it to make it disapear, it was impossible with Firefox (last version)
Now it's ok even under FF.

Thanks !

[2019-10-18 08:09] ttoine opened #16010 "Some libraries should be in package.json in blockreassurance"
**Describe the bug**
Currently, the pickr and vue libraries are straight into the code of the blockreassurance module, without information about version, licence, etc.
@Progi1984 asked me to open an issue in order to manage it with the package.json.

**To Reproduce**
https://github.com/PrestaShop/blockreassurance/blob/master/views/lib/pickr/js/pickr.js*
https://github.com/PrestaShop/blockreassuran

[2019-10-18 08:14] #16006 closed, assigned to nobody

[2019-10-18 08:14] khouloudbelguith commented on #16006
Duplicate of #15831

[2019-10-18 08:20] khouloudbelguith commented on #16010
@ttoine, @Progi1984, this issue is with Minor severity? is it?

Thanks!

[2019-10-18 08:28] khouloudbelguith commented on #16002
@WooXu, thanks for your feedback.

Yes, you have a permission issue on your server.
Yuu need to check this issue with your host & feedback.

Thanks!

[2019-10-18 08:35] ttoine opened #16011 "Librairies are directly in the code of ps_faviconnotificationbo"
**Describe the bug**
The aim is to manage all dependencies with NPM or Composer. In ps_faviconnotificationbo, vue.js and favicon.js are in the code directly.

**To Reproduce**
Steps to reproduce the behavior:
~https://github.com/PrestaShop/ps_faviconnotificationbo/blob/dev/views/js/vue.min.js~
https://github.com/PrestaShop/ps_faviconnotificationbo/blob/dev/views/js/favico.js

[2019-10-18 08:42] khouloudbelguith commented on #16004
@8ternity, using the PrestaShop version 1.7.5.1., in the Back office => International => Localization => when you try to import Canada pack, the French CA is not added?
https://drive.google.com/file/d/1YmGdNfkE-LrzUW8vNrnm3o4ZiJyHO_Np/view

Thanks!

[2019-10-18 08:43] ttoine opened #16012 "Librairies are directly in the code of ps_imageslider"
**Describe the bug**
We tend to manage dependencies with Composer or NPM.
ResponsiveSlide is directly in the code of ps_imageslider

**To Reproduce**
https://github.com/viljamis/ResponsiveSlides.js

FYI: https://github.com/viljamis/ResponsiveSlides.js

[2019-10-18 08:51] onkstudio commented on #9682
Hi,

OK by clearing the cache it works.
I understand it is not related to a PS core issue, but I can't find a way around it and think it is a real problem if customers end up having the wrong language when switching stores...

Regards,
Nicolas

[2019-10-18 08:52] Progi1984 commented on #13589
@colinegin I take the @YeLnatSs PR and i create a new PR #16013. Could you check it ?

[2019-10-18 08:55] ttoine opened #16015 "Libraries directly in the code of ps_themecusto"
**Describe the bug**
We tend to manage dependencies with NPM or Composer.
Dropzone and jquery.growl are directly in the code of ps_themecusto

**To Reproduce**
https://github.com/PrestaShop/ps_themecusto/blob/dev/views/js/controllers/advanced/dropzone.js
https://github.com/PrestaShop/ps_themecusto/blob/dev/views/js/controllers/advanced/dropzone.min.js
https://github.com/PrestaShop/ps_themecusto/bl

[2019-10-18 09:00] khouloudbelguith commented on #9682
@onkstudio, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-10-18 09:22] Progi1984 commented on #15977
For XML files, indent ?
Actually, it is tabs ([Example](https://github.com/PrestaShop/PrestaShop/pull/13636#discussion_r336395861)).

[2019-10-18 09:23] rdy4ever commented on #15998
@IlPizza79 maybe you shold give the new [Prestashop Checkout (with Paypal)](https://www.prestashop.com/en/prestashop-checkout) module a try and replace the old Paypal module.

[2019-10-18 09:51] musaffar-patel commented on #16007
Hi

Do these hooks actually display content during the creation of a new order in the back office?  As i tried them and it seems they instead display content when viewing existing orders (not a new order)

Kind Regards
Musaffar

[2019-10-18 09:58] Klemart3D opened #16017 "Call to private method when trying to update shop language or e-mails themes"
**Describe the bug**

I tried to update a language setting (French) from BO: International > translations > Add / Update a language and click button. It returned me:

[code]

**Screenshots**
![bug-language-update](https://user-images.githubusercontent.com/7419525/67084750-df4c7480-f19d-11e9-8a86-9b5b808ecbab.png)

![bug-language-update2](https://user-images.githubusercontent.com/7419525/67085133-8

[2019-10-18 09:58] matks commented on #11427
@marionf I tried to install this module, but in my Module Catalog I cannot find it. I type "date", "delivery", I cant find it. Can you have a look ? Maybe it was disabled for recent versions

[2019-10-18 10:04] marionf commented on #11427
@matks Yes, it's only avaible from 1.5.6.1 to 1.7.1.0

![capture d'écran_2085](https://user-images.githubusercontent.com/13449658/67085609-677f4980-f19f-11e9-97ec-67f1b5c24558.png)

[2019-10-18 10:06] khouloudbelguith commented on #16017
Hi @Klemart3D,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.1.
What is the exact version of the ps_emailsubscription module did you use?

Thanks!

[2019-10-18 10:11] matks commented on #13911
@marionf In order for @atomiix to get onboarded on module issues, I think he can check this bug :)

We suggest the following behavior to solve this issue:
- update the GDPR module, so it can detect when the Google Analytics module is installed
- if it is installed, then on the Guest Tracking page, we inject a JS code that modifies how the Google Analytics script works and removes the email from th

[2019-10-18 10:12] matks commented on #11427
@marionf Then if it is not available for PS > 1.7.1, is this issue relevant ? 🤔 Or is this issue in fact "fix the dateofdelivery module to make it work with latest PS versions" ?

[2019-10-18 10:14] Klemart3D commented on #16017
Hi @khouloudbelguith,

Thanks for tour answer.

Module ps_emailsubscription:

**Inscription à la newsletter**
**v2.5.1** - par PrestaShop

And when I'm trying to Configure this module I have the following:
[code]

![Capture d’écran de 2019-10-18 12-12-18](https://user-images.githubusercontent.com/7419525/67086274-ac57b000-f1a0-11e9-915e-ef52a17b11f0.png)

[2019-10-18 10:19] khouloudbelguith commented on #16017
@Klemart3D, this is adifferent issue.
It is fixed in the new patch PS1.7.6.2 with this PR: https://github.com/PrestaShop/PrestaShop/pull/15382 as reported here: https://github.com/PrestaShop/PrestaShop/issues/15318
In your exception, you have an error with the module ps_emailsubscription
![image](https://user-images.githubusercontent.com/16067358/67086560-53d4e280-f1a1-11e9-8c22-eb4fa2a2a10f.png)

[2019-10-18 10:19] marionf commented on #11427
I think the idea is to make it work with PrestaShop 1.7
If I remember well, the module wasn't displayed in FO because it has never been integrated with Classic theme
So, maybe it needs some mockups

[2019-10-18 10:23] khouloudbelguith commented on #16007
@musaffar-patel, and what if you use the hook displayAdminOrder instead of those hooks,
It displays new elements in the Back Office, tab AdminOrder This hook launches modules when the AdminOrder tab is displayed in the Back Office
Thanks to check & feedback.

[2019-10-18 10:41] banan44 commented on #15966
@khouloudbelguith today I have tried to install the module again. The error in logs I had during installation is "content-length(6785587): ReceiveAckHdr: nothing to read from backend (LVE ID 1049), check http://docs.cloudlinux.com/mod_lsapi_troubleshooting.html". There was no red rectangle with the error like this one

![obraz](https://user-images.githubusercontent.com/48493952/67087983-5258e980-f

[2019-10-18 10:47] khouloudbelguith commented on #15966
@banan44, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-18 10:50] marionf commented on #13911
@matks

Why not an update of the Google Analytics module like [suggested](https://github.com/PrestaShop/PrestaShop/issues/13911#issuecomment-500416813) by @colinegin ?

Ok for that

[2019-10-18 11:15] banan44 commented on #15966
@khouloudbelguith, I've just sent you the credentials.

[2019-10-18 11:23] matks commented on #13911
Because this would not work like this. If I understand correctly, the GDPR module filters data to make sure it is protected. However the data here that we wants to protect is **in the URL**. I dont think the current GDPR module has the ability to filter data inside the URLs, that is why we need to update it.

[2019-10-18 12:02] matthieu-rolland commented on #15943
@PierreRambaud that's the question, do we consider that those messages should be displayed even in production ?

[2019-10-18 12:20] marionf commented on #13911
I prefre to validate that with @colinegin when she will be back, she knows GDPR better than me

[2019-10-18 12:23] Klemart3D commented on #16017
Still the same by resetting module:
![bug-traduction](https://user-images.githubusercontent.com/7419525/67093018-f779bf00-f1b0-11e9-89df-72b4a3371c2f.gif)

Error is on "newsletter_conf" email template so I tried to change mailing template from "modern" to "classic" but error is the same.

I reproduced the same error from screen ("Call to private...") by generating emails, from "Email theme" tab:
m

[2019-10-18 12:25] atomiix commented on #14688
@marionf, It seems to be related to the Prestashop api (api.prestashop.com).

You can check [this url](http://api.prestashop.com/version/check_version.php?v=1.7.5.2&lang=fr&autoupgrade=0&hosted_mode=0) to see that what is displayed is wrong

[2019-10-18 12:27] matks commented on #14688
@marionf This URL returns what is displayed in the Back-Office. So if the content is false, it must fixed in the source of the content, on api.prestashop.com

[2019-10-18 12:29] khouloudbelguith commented on #16017
@Klemart3D, could you please try to re-upload the Pack France from the BO => International => Localization Page.
![image](https://user-images.githubusercontent.com/16067358/67094244-b505b180-f1b3-11e9-9a3e-e60dd89e23ee.png)

Thanks!

[2019-10-18 12:36] Klemart3D commented on #16017
Done. But not better :/

![bug2](https://user-images.githubusercontent.com/7419525/67094669-8e944600-f1b4-11e9-90da-5b2b86d91efb.gif)

[2019-10-18 12:44] khouloudbelguith commented on #16017
@Klemart3D, this is a fresh install PS1.7.6.1 pr an upgrade from a previous version?
What is the exact language/country did you used during the install?

Thanks!

[2019-10-18 12:55] banan44 commented on #15966
@khouloudbelguith done. What should I do now?

[2019-10-18 13:03] Klemart3D commented on #16017
@khouloudbelguith
It was a fresh install of PS 1.7.5.2 with French + English + Deutsch + Russian languages.
And I upgraded from PS 1.7.5.2 to 1.7.6.1 past week with 1-Click Upgrade (you can find log in [ticket 15910](https://github.com/PrestaShop/PrestaShop/issues/15910#issuecomment-541060842)).
And I removed Russian language yesterday.

[2019-10-18 13:04] khouloudbelguith commented on #15966
@banan44, I have this exception in your BO => Module Manager page

[error.pdf](https://github.com/PrestaShop/PrestaShop/files/3743969/error.pdf)

Did you make an upgrade from an old version, is it?

Thanks!

[2019-10-18 13:05] banan44 commented on #15966
@khouloudbelguith you mean Prestashop or the module? I upgrade Prestashop everytime there is a new version since 1.7.2 version.

[2019-10-18 13:08] khouloudbelguith commented on #15966
@banan44, It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.6.1
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.6.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2019-10-18 13:10] khouloudbelguith commented on #16017
@Klemart3D, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-10-18 13:16] Klemart3D commented on #16017
![Screenshot_2019-10-18 PHP PrestaShop Info](https://user-images.githubusercontent.com/7419525/67097327-29435380-f1ba-11e9-90a6-0b78477dccaf.png)

[2019-10-18 13:22] banan44 commented on #15966
@khouloudbelguith ok, I will check entire database and get back to you. The was no error i 1-Click Upgrade. The issue with Faceted search started when I upgraded to 1.7.6.0 from 1.7.5.2. I had no error then as well. Always using the latest 1-click upgrade module.

[2019-10-18 13:23] PierreRambaud commented on #15943
I think yes, it's related to the front and only available in console, which means you're watching "js logs".
It will force everyone to update dependencies and fix it, instead of hiding them.
But maybe we need to have @eternoendless' feedbacks

[2019-10-18 13:33] khouloudbelguith commented on #16017
@Klemart3D, could you please check if the `pelago/emogrifier` in your composer.lock file
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.lock#L2967

Thanks!

[2019-10-18 13:34] Hlavtox opened #16019 "Search returns too much products - revert Search.php changes from 1.6 times"
**Describe the bug**
Hi guys, sometimes around 1.6.1.13 times, somebody changed Search.php and totally f***ed up the logic of search. I reverted the changes on our store back then, but I think I am not the only one that would find the original way better.

**The Search.php class stayed with us in the same form till 1.7.6.1.**

**How to Reproduce it - Preparation**
Make some products like this:
- A

[2019-10-18 13:36] khouloudbelguith commented on #16019
Hi @Hlavtox,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

Have you the same issue with PS1.7?

Thanks!

[2019-10-18 13:37] Klemart3D opened #16021 ""NoConfigurationException" in ajax form"
**Describe the bug**
I have a "NoConfigurationException" in back-office product page with PS 1.7.6.1 when I'm trying to add an associated product. It's a 500 error related to rooter. I think I have this issue because I'm using nginx as web server and I have a mistake in my configuration but I can't find where.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. With an nginx server and mo

[2019-10-18 13:38] Hlavtox commented on #16019
@khouloudbelguith Accidentaly pressed enter, now the bug report is finished :-D.

Yes, it is the same. Test it on 1.7.6.1.

[2019-10-18 13:41] marionf commented on #14688
I close the issue as it can't be solved in PS core
You can follow the issue here: http://forge.prestashop.com/browse/PLFS-1346

[2019-10-18 13:41] #14688 closed, assigned to nobody

[2019-10-18 13:45] Hlavtox commented on #16019
@khouloudbelguith Real world example:

Searching "Black sink with a drainer".

**Currently, returns all black stuff, all sinks with drainer, even stainless ones.** - 300 products!!
![current](https://user-images.githubusercontent.com/6097524/67099392-2fd3ca00-f1be-11e9-8f62-1d536a13738e.JPG)

**After my fix, how it should be. Returns all black sinks with a drainer** - 12 products
![fixed](https://

[2019-10-18 13:45] khouloudbelguith commented on #16021
Hi @Klemart3D,

This issue occurs due to a custom module `configurator`.
Thanks to check the issue with the module author & feedback.

Thanks!

[2019-10-18 13:51] khouloudbelguith commented on #16019
@Hlavtox, We are aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14350
So, I close it.
Thanks!

PS: we will improve the search mechanism as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14588

[2019-10-18 13:51] #16019 closed, assigned to nobody

[2019-10-18 13:51] khouloudbelguith commented on #16019
Duplicate of #14350

[2019-10-18 13:58] Hlavtox commented on #16019
@khouloudbelguith Ahhh I see.

But, can you ping the core developers, because, maybe somebody can change this for the time being, until the search mechanism will be done?

I can provide you with the modified file so somebody can pull it.

[2019-10-18 14:00] khouloudbelguith commented on #16019
@Hlavtox, About your code suggestion, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-10-18 14:07] Klemart3D commented on #16017
Nice shot @khouloudbelguith!!

I was with `pelago/emogrifier` v2.2.0:
![emogrifer](https://user-images.githubusercontent.com/7419525/67100589-3e22e580-f1c0-11e9-9324-d38705502a72.png)

So I re-upload the official `composer.lock` of PS 1.7.6.1, launch a `composer install` and see:
[code]
Now everything (updating shop language or regenerating email templates) is working!

Thank you very much ;)

You

[2019-10-18 14:09] khouloudbelguith commented on #16015
@ttoine, this issue is with Minor severity? is it?

[2019-10-18 14:10] matks commented on #12509
OK, I spent 2 hours on this issue to understand what was going on. I'm afraid I've got bad news.

This behavior attempts to use `AverageTaxOfProductsTaxCalculator::getTaxesAmount()` however from what I've seen, this function was broken since the beginning, in the case we use `$price_after_tax`.

Here's why.

### The code

[code]

### What goes wrong when `$price_after_tax` is used

#### Bad input

[2019-10-18 14:11] ttoine commented on #16015
I guess, yes.
This is something to do when there will be a refacto of this module. I opened the issue on request of core devs, so it tracked.

[2019-10-18 14:13] khouloudbelguith commented on #16017
@Klemart3D, you are welcome!
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-18 14:13] #16017 closed, assigned to nobody

[2019-10-18 14:20] Hlavtox commented on #16019
@khouloudbelguith Made a PR #16023

[2019-10-18 14:40] Robin-Fischer-PS opened #16024 "Missing Placeholder on PR 15955"
**Describe the bug**
On https://github.com/PrestaShop/PrestaShop/pull/15955, I missed a small defect when approving the PR :

In the "Private note", when empty, there should be a placeholder, but its missing. See the Invision screen : https://projects.invisionapp.com/share/YKTGGFZAMCB#/screens/386397644_Private_Note_Behavior

And on the PR :
![PR15955 no placeholder](https://user-images.githubuser

[2019-10-18 15:19] Fabuloops opened #16025 "Final Class Lang generate Compile Error for the Proxy Doctrine Class"
**Describe the bug**

Why using a FINAL class on the PrestaShopBundle\Entity\Lang class ?

When i get an attribute group name with doctrine i see this exception :

[code]
The doctrine proxy classes use the inheritance of entity class

**To Reproduce**
[code]

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.1

[2019-10-18 15:39] khouloudbelguith commented on #16025
Hi @Fabuloops,

Thanks for your report.
Ping @jolelievre what do you think?
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Entity/Lang.php#L37
It is added by this PR:
https://github.com/PrestaShop/PrestaShop/pull/13481

Thanks!

[2019-10-18 15:49] jolelievre commented on #16025
Woups you're absolutely right I shouldn't have added this 😅 I'm making a PR to fix this in the next patch version

[2019-10-18 15:50] khouloudbelguith commented on #16025
@jolelievre, so it is a regression?

Thanks!

[2019-10-18 16:08] centoasa opened #16027 "cost price not saved"
Prestashop 1.7.6.1 with php 7.2.23 on ubuntu-apache
Cost price not saved, please see my video: https://nimb.ws/XcafU3

[2019-10-18 16:45] colinegin commented on #13911
Is there anything to do in the core then ? Or only in the GDPR module ?
Wdyt @v4lux @Darmona ?

[2019-10-18 17:06] colinegin commented on #12043
Yes, the thing is the current tooltip does not state that this only applies to users who checked "stay logged in". Maybe we should just improve the current message addind this information.

[2019-10-18 17:13] Quetzacoalt91 commented on #15298
The API moves the different modules in the proper category only if the merchant is connected to its Marketplace account in the backoffice.
In the case he downloaded it from the marketplace (let's say from the URL given in the first link), then upload these modules manually in its Backoffice, the module will be stored in the "Others" category.

Actually we'd deal with a fallback here. If the market

[2019-10-18 20:03] freeman78ita commented on #14518
Hi Guys, been following the Thread quietly and have to say i love PS and decided to move from 1.6 to 1.7. Bugs always exists, it's normal, and most will be fixed, you are doing a great OPEN SOURCE job. I need this feature too, in the meanwhile i bought a paid addon and it works perfectly, when this one will be tuned and fixed i will maybe drop that module and use the native one. Keep up the good w

[2019-10-18 21:28] gabrielfin opened #16029 "Wrong flag and ISO code for Argentina"
**Describe the bug**
The Argentina localization pack creates a language with the ISO code "ag" which is for Antigua and Barbuda. Argentina's code is "ar".
The Antigua and Barbuda flag ![lang_mini_2_1](https://user-images.githubusercontent.com/787075/67129391-ee9ae480-f1d4-11e9-9000-7b1bc44e3491.jpg) is also set instead of ![23px-Flag_of_Argentina svg](https://user-images.githubusercontent.com/7870

[2019-10-19 05:56] nexustotalsolutions commented on #15298
Exactly @Quetzacoalt91

[2019-10-19 07:03] yahyaefendy commented on #14978
Hi I have the same error with jhuanmy. how to solve this error?

[2019-10-19 09:52] rutuke121 commented on #14978
I have the same error with psblog 🙄

[2019-10-19 12:34] PierreRambaud commented on #16025
Thanks for the report @Fabuloops

[2019-10-19 12:34] #16025 closed, assigned to nobody

[2019-10-19 13:35] Allbutfancy commented on #15885
@khouloudbelguith, Finally we had time to try out the multistore solution. It worked without any issues! Thanks for the quick and effective answers!

Best regards

[2019-10-19 17:07] Sasni commented on #15199
expressmailing

[code]

[2019-10-20 07:26] jajarom opened #16031 "No prices-drop controller in SEO and URL settings BO"
I don't have the prices-drop controller available, only the pricesdrop, in which case I can't set the friendly url in BO.
Should be prices-drop

![SEO](https://user-images.githubusercontent.com/5030991/67156185-f5843d00-f323-11e9-93a1-fe81bb6b3a41.jpg)

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2

[2019-10-20 07:36] jajarom commented on #16031
Ok, changed name in ps_meta...fixed

[2019-10-20 07:36] #16031 closed, assigned to nobody

[2019-10-20 12:41] WooXu commented on #16002
Hi there, the permissions was not the issue, i think both the default admin theme and the front end theme i found was not properly coded for the new translations. it used  mod='modname' for translation. i crated new strings in the modules with custom domain d='something'  and translated thoose strings and it works.   Tho i still cant seems to get the admin theme to translate 1 string properly (in

[2019-10-20 12:49] banan44 commented on #15966
@khouloudbelguith I've spent several hours to compare my database with the schema. All columns from the schema are also in my database. I have bunch of extra tables but based on their names I suspect they are for some modules I have installed in the past, like Skrill or Amazon payment (do not have these modules anymore but the tables are still there).

Do you have any other suggestion? Maybe there

[2019-10-20 14:11] centoasa commented on #15961
@khouloudbelguith have you tried if you can send contact by contact module with or without gdpr flag?

[2019-10-20 18:22] jf-viguier opened #16032 "Maintenance ip filtering should support ipv6 client addresses"
**Is your feature request related to a problem? Please describe.**
 ip v6 address filtering is not supported because  ip v6 address has an every day changing end.

**Describe the solution you'd like**
Ip prefix should be supported like xxx* : everything starting with xxx is ok.

Htaccess filtering can be done with this syntax : 2a11:e0d:237:eec0:0000:0000:0000:0000/64
Maybe we could support this s

[2019-10-21 07:46] khouloudbelguith commented on #15612
Hi @elrosi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-21 07:46] #15612 closed, assigned to nobody

[2019-10-21 07:48] khouloudbelguith commented on #15613
Hi @mreco,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-21 07:48] #15613 closed, assigned to nobody

[2019-10-21 07:49] khouloudbelguith commented on #15626
Hi @sdwebdesign,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-21 07:49] #15626 closed, assigned to nobody

[2019-10-21 07:55] centoasa opened #16034 "1.7.6.1 and cache disabled"
Prestashop 1.7.6.1 on php 7.2.23
if I disable smarty cache, my CPU consumption increases considerably and the site slows down a lot:
1: smarty cache enabled
2: smarty cache disabled
https://nimb.ws/KJF9Nq
Is this behavior normal?

[2019-10-21 08:21] khouloudbelguith commented on #15595
Hi @LaureMatou,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
In my case, I did not manage to reproduce the issue with PrestaShop download v1.7.5.2.

Thanks!

[2019-10-21 08:21] #15595 closed, assigned to nobody

[2019-10-21 08:28] khouloudbelguith commented on #16027
Hi @centoasa,

I did not manage to reproduce the issue with PS1.7.6.1 & PHP 7.2.23.
I attached a screen record.
https://drive.google.com/file/d/1fWTOyFswDv7TOJkfma7DaszwI-jRCInk/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - j

[2019-10-21 08:41] khouloudbelguith commented on #16029
Hi @gabrielfin,

Thanks for your report.
As you can see in the Wikipedia: https://en.wikipedia.org/wiki/Antigua_and_Barbuda
The iso code for Antigua and Barbuda is `ag`
And the flag for the Antigua and Barbuda is ![lang_mini_2_1](https://user-images.githubusercontent.com/787075/67129391-ee9ae480-f1d4-11e9-9000-7b1bc44e3491.jpg)

Thanks to check & feedback.

[2019-10-21 08:55] khouloudbelguith commented on #16032
Hi @jf-viguier,

Thanks for your report.
I have the same behavior as PS1.7.5.2 & PS1.7.6.1.
https://drive.google.com/file/d/17p_Qs5ErY3ZNJ3GZvmO6CJtcxRpJN_nS/view
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-21 09:07] khouloudbelguith commented on #15961
@centoasa, yes!
https://drive.google.com/file/d/1vrkbgPIOu2pGm6LgdcfXAid-5ZnCdPJ2/view

Thanks to check & feedback.

[2019-10-21 09:09] khouloudbelguith commented on #15966
@banan44, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`.

THanks!

[2019-10-21 09:11] antho-girard opened #16037 "Cannot configure modules with CLI and PHP 7.3"
**Describe the bug**
The command `php bin/console prestashop:module configure testmod` fails with PHP 7.3
With PHP 7.2, the same command works fine.
<br>
Here is the error with PHP 7.3 :

[code]

**To Reproduce**
Run the command above with PHP 7.3

**Screenshots**
N/A

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.3

[2019-10-21 09:12] matks commented on #16037
@antho-girard PS 1.7.6.1 is not compatible with php7.3 . Next minor version PS 1.7.7 will be compatible (thanks to a Doctrine update).

[2019-10-21 09:17] #14747 closed, assigned to TristanLDD, MatShir

[2019-10-21 09:27] khouloudbelguith commented on #16037
Hi @antho-girard,

As @matks said, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Tha

[2019-10-21 09:27] #16037 closed, assigned to nobody

[2019-10-21 09:47] Fixmetal opened #16038 "PS 1.7.6.1 can't save products under Price tab"
**Describe the bug**
Since 1.7.6.0 I can't save prices anymore using the proper tab in BO

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO->Catalogue
2. Select any product
3. Click on "Prices" tab
4. Try to update Cost Price
5. Green tab is displayed saying it's been updated but it's not. A refresh will show up old price. Database is not updated

Only hint I got is that Chrome Dev To