[2020-11-06 07:53] #21785 closed, assigned to nobody

[2020-11-06 08:08] camlafit opened #21787 "Add getContextualValue hook feature in CartRule class"
#### Is your feature request related to a problem?

Actually is not possible to override a specific cartrule behavior.
We can't remove/apply reduction on specific product target by a cartrule.

As sample is to provide a membership product with immediate application.
To apply a cartrule we must add in products selection our membership card product but in this case reduction is also applied on this

[2020-11-06 08:27] florine2623 commented on #21787
Hi @camlafit ,
Thanks for the suggestion.

Could you specify a little more this part :
_As sample is to provide a membership product with immediate application.
To apply a cartrule we must add in products selection our membership card product but in this case reduction is also applied on this product._

How can I test this part ?
Thanks

[2020-11-06 08:35] SimonGrn commented on #19642
Hello,

we only make patch versions for security reasons and critical/major bugs in the system. We sadly won't make a `1.7.6.9` for such an issue. You can read more about patch versions [here](https://devdocs.prestashop.com/1.7/project/release/minor-release-lifecycle/#when-is-it-decided-to-release-a-patch-).
You can however apply the fix @khouloudbelguith linked (#16336) to your own shop if you kn

[2020-11-06 08:35] #19642 closed, assigned to nobody

[2020-11-06 08:38] SimonGrn commented on #19642
Hello,

we only make patch versions for security reasons and critical/major bugs in the system. We sadly won't make a `1.7.6.9` for such an issue. You can read more about patch versions [here](https://devdocs.prestashop.com/1.7/project/release/minor-release-lifecycle/#when-is-it-decided-to-release-a-patch-).

Thank you for your understanding.

[2020-11-06 08:40] #21645 closed, assigned to NeOMakinG

[2020-11-06 08:49] camlafit commented on #21787
Hello @florine2623

For example, we want propose a product "membership card" and apply a reduction on cart when this product is present. (immediate use)
To apply a a reduction we must add on our cartrule "membership product" and in this case reduction is also applied on this product.

To workaround actually we must override at least cartrule::getContextualValue() to cancel reduction on this produc

[2020-11-06 08:58] florine2623 commented on #21787
Hello @PrestaShop/prestashop-core-developers @PululuK @kpodemski

What do you think about this ?
Thanks!

[2020-11-06 09:11] #11595 closed, assigned to matthieu-rolland

[2020-11-06 09:44] zuk3975 opened #21788 "Consider configuration PS_ATTRIBUTE_ANCHOR_SEPARATOR in BO when building combination name"
This is a reminder issue for Product page migration issued here https://github.com/PrestaShop/PrestaShop/pull/20518#discussion_r517874837

When generating BO combination names the `PS_ATTRIBUTE_ANCHOR_SEPARATOR` config was not taken into account up until now. Should we add it?
Discussed in slack with @MatShir @matks @jolelievre

[2020-11-06 10:27] Maofree opened #21790 "ps_googleanalytics doesn't work with the new google analytics G4"
Hi
today I've created a new google account to set google analytics for a new website, google analytics G4 now is only the selection. So it is necessary to set a data stream and it is completely different from before. I set the code inside the
ps_googleanalytics but from analytics I can see no interaction on the site, but I'm browsing it

![1](https://user-images.githubusercontent.com/653230/983554

[2020-11-06 10:46] florine2623 commented on #21790
Hi @maofree ,
Please keep in mind that it can take up to 24 hours for data to show up in your regular reports.
You might need to wait a little bit before new data display in your google analytics account.
Thanks!

[2020-11-06 10:53] matks commented on #21790
Hi @florine2623 I think there is a little more we need to explore 😉

@maofree provided additionnal informations such as https://www.simoahava.com/analytics/google-analytics-4-ecommerce-guide-google-tag-manager/

If this blog post is correct, then indeed Google Analytics 4 requires new implementation details 😞  so that would need a rework of our module.

[2020-11-06 10:54] Quetzacoalt91 commented on #21790
We can find more details about the migration in https://support.google.com/analytics/answer/9744165

[2020-11-06 11:00] #21006 closed, assigned to NeOMakinG

[2020-11-06 11:03] #17096 closed, assigned to nobody

[2020-11-06 11:15] maofree commented on #21790
Hi @florine2623  the real time page, normally shows the current visitors just implemented

[2020-11-06 11:27] maofree commented on #21790
I've found this page
it can be useful
https://developers.google.com/analytics/devguides/collection/ga4/ecommerce

[2020-11-06 11:31] MatShir commented on #19935
Hi,
We are delighted to see so many feedbacks on the subject.
@mrabsinthe, we do listen to the merchants and your point of view as well. It is that we take a lot of precautions. Any changes could arm the merchants' businesses until the next version to fix those changes. We want the solution to be as wide as possible. Many merchants from different industries and countries use our solution.

Said so

[2020-11-06 11:55] ballashop commented on #19935
@MatShir > The only problem that I see on @ballashop's design is that the excluded discounts is a static list, so if you create a new cart rule, you will have to edit the previous one to no be compatible with the new one.

Excellent observation, is exactly what superskyman100 is asking for. Mine was not a definitive solution but simply graphics to improve the usability of the rules. Sellers like u

[2020-11-06 11:55] baskettcase opened #21791 "Customer Groups Members list search"
#### Describe the bug

When searching Customers within Customer Groups it takes you back to the groups instead of staying within the list of customers in that group page.

#### Expected behavior

I expected that it would stay on the same page with the search results.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to "Shop Parameters" > "Customer Settings"
2. Click on "Groups" ta

[2020-11-06 12:28] guigplt commented on #21005
Hi,
Can I fix it in my 1.7.5.1 ?

[2020-11-06 13:06] florine2623 commented on #21791
Hello @baskettcase ,
This bug has been fixed in PS 1.7.7. Please check the screen record : https://drive.google.com/file/d/1BOGrUCHZNLku7KXEqoaN1DHmq3KoX4eW/view
So I'll close your issue.
Thank you for your understanding !

[2020-11-06 13:07] #21791 closed, assigned to nobody

[2020-11-06 13:13] Julievrz commented on #21006
Hello @NeOMakinG

I saw that the PR was just merged. I just wanted to know if we should do something specific to make the mouseover appear. Indeed, with @LouiseBonnard when we tried to pass the mouse over the black/white square on the product page, no text appears (even after waiting for a bit). However, we do see it on the products listing page. It happens that our shop is not up to date compared

[2020-11-06 13:15] martinrepko opened #21792 "ORDER CONFIRMATION E_MAIL TEMPLATE"
#### order_conf tamplate e-mail damaged when triggered from order status.

- order_conf template set as to be sent for orders in status "Confirmed"
- when status changed to "Confirmed" or click button "resend e-mail" in ORDERS section, format and content of received e-mail is damaged
- when the same template sent as test, e-mail looks ok but content is bit different

#### Expected behavior

Templa

[2020-11-06 13:37] maofree commented on #21790
with this guide it is possible to create an Universal Analytics UA- code with the new system

https://support.google.com/analytics/answer/9304153

[2020-11-06 13:38] khouloudbelguith commented on #14948
Hi,

I manage to reproduce the issue with the develop branch(1780).

Thanks!

[2020-11-06 13:42] Hlavtox commented on #21790
@matks @Quetzacoalt91 It uses the newer gtag implementation, otherwise, nothing much changes.

https://github.com/PrestaShop/ps_googleanalytics/issues/78

[2020-11-06 13:45] maofree commented on #21790
@Hlavtox are you using ps_googleanalytics with G4?

[2020-11-06 13:46] Hlavtox commented on #21790
@maofree It is still possible to create a classic Analytics account.
1. Click new account.
2. When "Create service" page appears, click blue "Show extra settings" in the bottom.
3. Switch "Create Universal Analytics service" appears
4. Select "Create only Universal Analytics"

Done!

[2020-11-06 13:48] maofree commented on #21790
I've already done it 15 minutes ago, yes that property is like the past version, and with the UA code the module can works

[2020-11-06 13:54] matks commented on #14948
The problem with `use` has been referenced here https://github.com/PrestaShop/PrestaShop/issues/18592

[2020-11-06 13:54] florine2623 commented on #21792
Hi @martinrepko ,

For security reasons, please hide your admin shop url in your screenshot.

I can't reproduce the issue on my end. Emails are sent with correct format :
![Capture d’écran 2020-11-06 à 14 52 27](https://user-images.githubusercontent.com/16019289/98373567-b6647f00-203f-11eb-8b5d-8f239f4bdd56.png)
Despite our efforts, we were not able to reproduce your issue with the provided info

[2020-11-06 13:54] #21792 closed, assigned to nobody

[2020-11-06 13:57] #21368 closed, assigned to unlocomqx

[2020-11-06 14:27] florine2623 commented on #20245
Hi @barbosatrix ,
English is the norm on GitHub.
I can't reproduce the issue on my end.
 It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
We will close this issue.
Thanks!

[2020-11-06 14:27] florine2623 commented on #20245
Hi @webstartconsulting ,
I'll close the issue as we have not received an answer from you. Do not hesitate to open a new one if you gather all information.
Thanks!

[2020-11-06 14:27] #20245 closed, assigned to nobody

[2020-11-06 15:06] matks commented on #10584
@MatShir I just checked this Page.

I see we added "Remove "Delete" actions from carts that have placed orders." in the TODO List but when I look at current Shopping Carts list, I see no DELETE button 🤔  and there is no Bulk Actions enabled.

So ... maybe "Remove "Delete" actions from carts that have placed orders." is a mistake ?

[2020-11-06 15:18] Julievrz commented on #21105
I suggest the following wording:

"Display out-of-stock label on product listing page" in Admin.Shopparameters.Feature
"Note that the label will be displayed only if backorders are denied." in Admin.Shopparameters.Help

[2020-11-06 15:21] masiorama commented on #17318
I experienced the same issue on PS 1.7.6.7 during the last week.
In 2-3 days without forcing the clear cache the table reached 700MB, and the overall DB reached 1GB.
Since my hosting limits the db dimension to 750MB it is a problem.
I just set a cron on my hosting to execute the clear cache once per day, during the night.
Still waiting to see what's the catch.

[2020-11-06 15:41] MatShir commented on #10584
It looks like it appears only when the cart is not paid.

[2020-11-06 15:49] matks commented on #10584
Nice ! indeed

[2020-11-06 15:56] khouloudbelguith opened #21794 "BO - Order page - An exception is displayed in the console when adding a product out of stock"
#### Describe the bug

In the BO > Orders > Add new order page > when we try to add a product out of stock (which is not allowed) => an exception is displayed in the console
![image](https://user-images.githubusercontent.com/16067358/98386519-91c4d300-2050-11eb-8ba5-bb029e30cfbb.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/98386799-e6684e00-2050-11eb-84

[2020-11-06 16:21] HartLarsson commented on #19642
i can understand your ppoint of view but running on a new branch 1.7.7 while 1.7.6 is full of problems too seems a suicide for me. Why no make all fix to 1.7.6 branch and are tons that are unresolved since 1.6 and when the branch is stable move on?

[2020-11-06 17:09] matthieu-rolland commented on #21771
Ok, thanks to @eternoendless we know where this weird behavior comes from:

Add support for non-unity MySQL autoincrement #16813

I'm closing this issue.

[2020-11-06 17:09] #21771 closed, assigned to nobody

[2020-11-06 17:44] ghost opened #21797 "The vouchers available in the future assigned to a specific user are not visible in the FO"
#### Is your feature request related to a problem?

The vouchers available in the future assigned to a specific user are not visible in the FO.

![Capture d’écran de 2020-11-06 18-40-46](https://user-images.githubusercontent.com/5064590/98397677-fdfb0300-205f-11eb-96de-857ceefdcb1c.png)

#### Step to reproduce

1. Create a voucher for 2021
2. Go to customer account check if the voucher is display

[2020-11-06 17:51] SimonGrn commented on #21797
Hello @okom3pom,

please put all the details we need in your issue... what is the Prestashop version ? PHP version ? Do you have precise steps to reproduce ?
We need them in case we have to come back on this issue later for example.
Can I let you edit your issue ?

Thank you 😄

[2020-11-06 18:03] okom3pom commented on #21797
@SimonGrn  you see the version in the screenshot :)

PHP : 7.2.X

Foe the step : Create a voucher for 2021 go to customer account check if the voucher is display

[2020-11-06 19:14] pdalexis commented on #18008
Hi @LouiseBonnard and @khouloudbelguith, I have the same issue with PS 1.7.6.8.

[2020-11-06 21:06] #20431 closed, assigned to NeOMakinG

[2020-11-06 21:07] PululuK commented on #20431
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21611

[2020-11-06 21:36] juraj1000 opened #21799 "Not possible to download pdf invoice"
## Describe the bug
If you place an order as a guest and then you want to download it from FO order confirmation page the system generates ContextErrorException

#### Expected behavior
The invoice download shouldn't generate an exception.

#### Steps to Reproduce
1. Select any item to the cart  in FO
2. Go to checkout
3. Use guest user and fill data for address and shipment
4. Choose payment metho

[2020-11-06 21:38] juraj1000 commented on #21743
Hello @marionf,
yes, it seems to be the duplicate of #12933

[2020-11-06 23:45] juraj1000 opened #21800 "Guest order tracking doesn't work"
#### Describe the bug
You use the link (https://domain/index.php?controller=guest-tracking) for guest order tracking e.g. in email for orders status  Awaiting for bank wire payment but the link doesn't work. After clicking PS will jump to the homepage.
If you write this link manually to the browser then Guest order tracking screen is displayed. After filling reference and email address PS will jum

[2020-11-07 00:09] juraj1000 opened #21801 "Differnet PayPal Transaction ID"
#### Describe the bug
I use the PayPal module for checkout. After checkout there is displayed PayPal transaction ID in order confirmation page. But in the PayPal merchant account there is displayed other number as PayPal transaction ID. Why isn't  the same ID?

#### Expected behavior
The same PayPal transaction ID should be used in PS and PayPal

#### Steps to Reproduce
1. Create an order in FO an

[2020-11-07 00:19] danielkauffman opened #21802 "ps_linklist creates orphan blocks"
#### Describe the bug

When using ps_linklist to create blocks of links, it is possible to create orphan blocks that can not be deleted from the BO.

#### Expected behavior

It should not be possible to create orphan blocks of links. The database should roll back to a consistent state when one step in a process fails.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Improv

[2020-11-07 00:20] passio777x commented on #17856
Hi, I find so much post about this error but it's solved nowhere...
![Uploading Capture d’écran 2020-11-06 à 13.55.57.png…]()

[2020-11-07 04:03] VidarPc commented on #18618
Hi, I am running PrestaShop, version 1.7.6.8. My SQL table ps_layered_filter_block - (1.2 GiB), is running high in size. Do you have any suggestions on how to truncate its size (shrink it?). I am getting complaints from my host provider that I have reached the limit of 1000 MB. My online shop is not that large to consider an upgrade from my GoGeek subscription that should be really enough for my s

[2020-11-07 09:22] SimonGrn commented on #21802
Hello,

Could you explain the consequences of this issue? Is the second block in your example visible from the FO?

[2020-11-07 13:43] golden1688 commented on #21750
Hello there!
Great technical support:
The picture backup you described has been set up.
I repeatedly looked at the questions and answers on the forum, but did not find a good way. I communicated with the server a lot and adjusted many PHP parameters.
max_file_uploads from 50 => 50
memory_limit from 1 G => 2G
post_max_size from 256M=> 1G
The upgrade is still backed up until there are 232 data table

[2020-11-07 15:50] zuk3975 commented on #19664
there is also following properties that doesn't have related inputs:

- active
- is_shareable

Those properties seems to be unused, is that alright?

[2020-11-07 16:17] okom3pom commented on #20892
@SimonGrn i don't see your message before, yes is related.

@ngodefroy check https://github.com/PrestaShop/gamification/pull/72#issuecomment-713427554

I just test in develop and it's ok too

[2020-11-07 17:51] golden1688 commented on #21750
Hello there!
Great technical support:
I really can’t help it. There are 232 forms left during the upgrade, but I still don’t move. I know that the time to connect to the server is up, and it’s disconnected. I have posted the upgrade time for three weeks. I went to the forum to find the answer. , Did not find, what should I do? thank!
                                                 Your loyal cust

[2020-11-07 22:41] danielkauffman commented on #21802
@SimonGrn The second block is partially visible from the FO: The fields that are part of the ps_link_block table are visible while the fields that are part of the ps_link_block_lang table are not visible. If you look at the tables in the database, the record exists in the ps_link_block table but not the ps_link_block_lang table. I think when the record is saved, the fields are saved to the ps_link

[2020-11-07 22:43] danielkauffman commented on #21802
@SimonGrn more seriously, because the record is not saved to the ps_link_block_lang table, the orphan record can not be deleted from the ps_link_block table using the BO. So the partial record exists, affects the FO, and can not be edited or deleted from the BO. The only way to delete this record is directly in the database.

[2020-11-08 00:47] marshom commented on #19122
Hello,
We have the same problem as PrestaEdit, with Prestashop 1.7.6.5, the last update of Productcomments module 4.1.0, and some module who made a list of some product, who generate a 500 error with the getid function of Productcomments :

Got error 'PHP message: PHP Fatal error:  Uncaught Error: Call to a member function getId() on array in /xxxx/modules/productcomments/productcomments.php:968\n

[2020-11-08 02:42] alouimohamedhabib opened #21805 "Unhook module through Theme.yml"
The requested featured is to add the possibility to unhook modules from certain hooks through the **theme.yml** .
` hooks:

    modules_to_unhook:
      displayTop:
        - ps_searchbar
`

[2020-11-08 07:11] Peter-Liska opened #21806 "Image titles are empty, if image legend is empty - FO"
#### Describe the bug

HTML image TITLE is empty, if image legend is empty.

#### Expected behavior

HTML image TITLE should not be empty, if image legend is empty.
It should be filled with product name.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to product listing (for example) and view page source.
2. Check the product image with empty image legend.
3. You can see, that on

[2020-11-08 11:13] SimonGrn commented on #21805
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report or an improvement**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2020-11-08 11:13] #21805 closed, assigned to nobody

[2020-11-09 07:53] PierreRambaud commented on #19642
Hi @HartLarsson ,

Trying to fix all issues on the 1.7.6.x branch whereas everything is moving on the 1.7.7.x and develop branches is a suicide for developers, QA analyst, and everyone working on this project (we are a very small team :sweat_smile: ).
We won't be able to maintain three versions with a lot of complicated fixes such as cart rules, calculation, tax, etc.

Regards

[2020-11-09 08:13] hibatallahAouadni commented on #21797
Hello @okom3pom

I don't know if it's a good idea or not, lets' ping the @PrestaShop/product-team wdyt??

[2020-11-09 08:27] hibatallahAouadni commented on #21799
Hello @juraj1000

I didn't manage to reproduce your issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4 using the native payment modules.
It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on [Addons](https://addons.prestashop.com/en/contact-us?id_product=1748)

We will close this issue.

Thanks!

[2020-11-09 08:27] #21799 closed, assigned to nobody

[2020-11-09 08:29] okom3pom commented on #21797
Many module created coupons that will be available.

But the customer does not see them. And he contacts the SAV.

Merchands loose a lot of time

[2020-11-09 08:29] hibatallahAouadni commented on #21801
Hello @juraj1000

It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on [Addons](https://addons.prestashop.com/en/contact-us?id_product=1748)

We will close this issue.

Thanks!

[2020-11-09 08:29] #21801 closed, assigned to nobody

[2020-11-09 08:48] hibatallahAouadni commented on #21800
Hello @juraj1000

I didn't manage to reproduce your issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4.
I attached a Screen recored below:

https://drive.google.com/file/d/13dkYyxibrE0mdAAoH8tp16go-x7CCgOG/view

Please check and feedback.

Thanks!

[2020-11-09 09:34] hibatallahAouadni commented on #21806
Hello @Peter-Liska

I managed to reproduce the issue with PS1.7.6.5, Ps1.7.6.8 and PS1.7.7.0-rc.1+build.4.
I attached a screen record below:

https://github.com/PrestaShop/PrestaShop/issues/21806

But I don't know if it is a bug or PrestaShop limintation (it means what you proposed it's an improvement).
So, ping @PrestaShop/prestashop-core-developers wdyt?

Thanks!

[2020-11-09 09:37] hibatallahAouadni commented on #21502
Hello @phanie44 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-09 09:37] #21502 closed, assigned to nobody

[2020-11-09 09:45] matthieu-rolland opened #21807 "FO - Checkout: After filling the address, we have the Address card displayed"
#### Describe the bug

At checkout, after filling the address form (adding an address or modifying an existing address), if "use same address for billing" is checked we should be redirected directly to the delivery step, but we are redirect to the address choice step.

#### Steps to Reproduce

1. In FO, add a product to your cart and proceed to checkout
2. At the address step, modify the address,

[2020-11-09 10:06] rdy4ever opened #21808 "Adding a new product to an order generates a new cart, that remains abandoned"
#### Describe the bug

When the shop admin manually adds a product(s) to  an existing order, a new cart containing that product is created. However, this cart remains abandoned. The issue occurs when the shop has an abandoned cart recovery module installed that will wrongly send the customer a confusing email, saying his order is not completed. To make things even worse, if you add more than one p

[2020-11-09 10:30] rdy4ever commented on #21806
I don't think it is a bug, or even a needed improvement. Actually, I don't think it should be implemented at all. The image "title" attribute is not required. It's not used by screen readers or search spiders. It's just a tooltip that can add more information to a picture. If you want to display more information about the product picture, then you use the image legend field in the BO. If you don't

[2020-11-09 10:36] mapsfood opened #21809 "The prices of the product combinations do not change on the product page!"
Hi, I have a problem with my store.

By changing the combination of products, the price is not updated, but if I add the product to the cart, the price is right in the cart! I think the settings are set correctly because it works correctly on the AMP mobile theme.

![Prod 908](https://user-images.githubusercontent.com/71649669/98529955-95d63800-227e-11eb-8a9d-e9106d885d0b.png)

![Prod 2kg](https:/

[2020-11-09 10:41] SimonGrn commented on #21809
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-09 10:41] #21809 closed, assigned to nobody

[2020-11-09 10:45] khouloudbelguith opened #21810 "BO - Order page - Try to remve a Voucher (gift) => an error is displayed"
#### Describe the bug

An error is displayed when removing a voucher (gift) with no code

#### Expected behavior

The Voucher line should be removed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discounts page
2. Create a cart rule:
2.1 Informations: No code
2.2 Conditions: No conditions
2.3 Actions: send a gift
![image](https://user-images.githubusercontent.c

[2020-11-09 10:49] marionf commented on #21743
Duplicate of #12933

[2020-11-09 10:49] #21743 closed, assigned to nobody

[2020-11-09 10:52] mapsfood commented on #21809
#### Describe the bug

Hi, I have a problem with my store.

By changing the combination of products, the price is not updated, but if I add the product to the cart, the price is right in the cart! I think the settings are set correctly because it works correctly on the AMP mobile theme.
#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduc

[2020-11-09 10:57] Peter-Liska commented on #21806
#10236 is in PrestaShop administration, but this is issue is in customer catalog .

[2020-11-09 10:59] hibatallahAouadni commented on #21802
Hello @danielkauffman

I managed to reproduce your issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4 (see screen record below)

https://drive.google.com/file/d/18Jqkjb2nDNOXodg9dZQIicr2xbpswRq7/view

I attached also a screen shot of ps_link_block table:

![image](https://user-images.githubusercontent.com/23308427/98532547-22362a00-2282-11eb-9771-217411e42489.png)

As we can see the link with long na

[2020-11-09 11:01] mapsfood opened #21811 "The prices of the product combinations do not change on the product page!"
Hi, I have a problem with my store.

By changing the combination of products, the price is not updated, but if I add the product to the cart, the price is right in the cart! I think the settings are set correctly because it works correctly on the AMP mobile theme.

Steps to reproduce the behavior:

Go to the product page
Click on the product
Click on the combination you prefer (in this case there

[2020-11-09 11:03] SimonGrn commented on #21809
Please create a new issue.

[2020-11-09 11:06] khouloudbelguith opened #21812 "BO - Order page - The voucher line is not removed when the Order's total < Minimum amount for cart rule"
#### Describe the bug

In the BO > Order page, the voucher line is not removed when the Order's total < Minimum amount for cart rule.

#### Expected behavior

The voucher line should be removed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discounts page
2. Create a cart rule:
2.1 Informations: With a code
2.2 Conditions: Minimum amount = 50euro, tax excluded,

[2020-11-09 11:17] SimonGrn commented on #21811
Hello,

I'm not able to reproduce your issue. Your problem is most likely linked to your theme. You must contact the developer of your theme directly and ask him to fix this issue.

Thank you for your understanding.

[2020-11-09 11:17] #21811 closed, assigned to nobody

[2020-11-09 11:18] MatShir commented on #21797
Hi @okom3pom,
An interesting feature, could you explain a bit more the use case. What are the functions of the modules (Email campaign, customer service...)?

[2020-11-09 11:54] Kahiogoo opened #21813 "Generate invoice indicates : 500 Internal Server Error"
Hello,
When I click on the icon to open an invoice linked to an order, a new window opens and indicates the following error message: Internal Server Error.
Cannot also display invoices in the invoices menu.

I tried to downgrade PHP version 7.3 to 7.2, nothing change.

PrestaShop version: 1.7.6.8
PHP version: 7.2

Thank you for your help !

[2020-11-09 12:19] okom3pom commented on #21797
For example i use a module:

** 100% refunded in 3 vouchers. **

But the vouchers are only available after the return period defined in prestashop

If you use a << good module >> normaly he respect return time, product_refound hook, order cancel hook

I don't understand what could be a problem for merchants

[2020-11-09 12:25] okom3pom commented on #21797
Oups ok i understand.

If a merchands create a voucher for a manufacturer in 2 week , customer see le bon.

I can add :

**Display voucher to come only if attached with an id_customer**

[2020-11-09 12:43] SimonGrn commented on #21813
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-09 12:43] #21813 closed, assigned to nobody

[2020-11-09 12:55] hibatallahAouadni commented on #21808
Hello @rdy4ever

I managed to reproduce your issue with PS1.7.6.8 but I didn't manage to reproduce your issue with PS1.7.7.0-rc.1+build.4
See the attached screen record below:

https://drive.google.com/file/d/1OVOKX-PUrH6NoBp0M9YIfPC6NSgd-ew0/view

It seems this bug has been fixed in the new release 1.7.7.0.
So, I close this ticket.

Thanks!

[2020-11-09 12:55] #21808 closed, assigned to nobody

[2020-11-09 13:15] hibatallahAouadni commented on #21780
Hello @maniolias

Is your issue similar to this one #17117 ?
Please check and feedback.

Thanks!

[2020-11-09 13:17] PierreRambaud commented on #21780
Hi everyone.

Yes @hibatallahAouadni it's a duplicate :wink:

[2020-11-09 13:17] PierreRambaud commented on #21780
Duplicate fo #17117

[2020-11-09 13:17] #21780 closed, assigned to nobody

[2020-11-09 13:22] MatShir commented on #19664
@zuk3975, I don't find any information on any resources (1.7,1.6). It might can from an old code (a removed feature or a feature never implemented). So, it can be removed or keep it hidden, as you wish.

[2020-11-09 13:30] matks commented on #21802
@zuk3975 @jolelievre are currently pushing forward the idea of supporting InnoDB transactions in PrestaShop 😛

[2020-11-09 13:35] hibatallahAouadni commented on #21790
Hello @maofree

As discussed with @matks, it is indeed an improvement. Cause the module works fine for Google Analytics v1, v2 and v3.
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , wdyt?

[2020-11-09 14:06] hibatallahAouadni commented on #9561
Hello everyone,

So, at last, what do you suggest? are we labeling it as improvement or new feature or just a bug to fix?
Ping @PrestaShop/product-team

[2020-11-09 14:12] matks commented on #9561
@hibatallahAouadni for me it's an improvement.

Editing Translations works well provided you have the right server configuration.

If however your server configuration is too low, you will observe weird behavior.

So the software is not **wrong** but it's **limited**. It is a limitation.

And the improvement suggested last year was to add a warning message to tell user about the limitation.

[2020-11-09 14:16] matks commented on #21785
Hi @dgonzalez-conex if this is a bug could you explain how to reproduce it following [this template](https://github.com/PrestaShop/PrestaShop/issues/new?template=1_bug_report.md) 😉

[2020-11-09 14:18] khouloudbelguith opened #21815 "BO - Order page - Debug mode enabled - an exception is displayed when ordering a product with a file customization - the label contains a space"
#### Describe the bug

We create a product with a customization

- Type: **file**
- Label: Must contain a **space** for example (Please attach a file)
- Required (yes/No) => Same issue

When we order this product, we have an error is the BO > Order page

If the debug Mode enabled => exception
![image](https://user-images.githubusercontent.com/16067358/98551731-ec06a380-229d-11eb-9ed7-90128d712047.

[2020-11-09 14:21] matks commented on #19281
This is because, a long time ago, PrestaShop was built for (very) small merchants.

Luckily the software grew a lot and its audience grew to small merchants then to middle merchants so the scalability issues start popping 😄  but this is good news: it means PrestaShop users business size is growing and growing.

An other possible explanation is that, when merchants reach a certain size, they start

[2020-11-09 14:23] Bewitching-Co commented on #21105
Out of stock already shows on individual product listing page.
It needs to be shown anywhere a group of products are shown ie: category page, featured product on home page etc..
If a product has options, then perhaps "view available options"?

[2020-11-09 14:24] khouloudbelguith commented on #21815
Ping @PrestaShop/product-team what do you think, it is `must-to-have` or `nice-to-have`?

[2020-11-09 14:28] zuk3975 commented on #21802
https://github.com/PrestaShop/PrestaShop/pull/21740 here is the PR with some discussions inside

[2020-11-09 15:21] matks commented on #21815
PR to fix this bug https://github.com/PrestaShop/PrestaShop/pull/21816/

[2020-11-09 15:35] khouloudbelguith opened #21817 "Multistore - BO - Order page - All languages are available in the dropdown for Language in the Add new Order page"
#### Describe the bug

Multistore is enabled.
We have 2 shops, for each shop, we have 1 different currency and 1 different language
In the BO > Add new Order page > All languages are available in the dropdown for Language

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You must have 2 languages (English, French)
2. Enable Multistore context
3. Create a new shop shop2
4. Edit languag

[2020-11-09 15:37] PierreRambaud commented on #21493
Watch out with the Host check, how do you plan to retrieve the Host?

[2020-11-09 15:47] PululuK commented on #21493
@PierreRambaud  can you see please https://github.com/PrestaShop/PrestaShop/pull/21494/files#diff-88589a528aa8ebde652694f792599830573ca95dc95589e38f3a537ba6e523a1

[2020-11-09 15:56] finawebshop commented on #21764
Hello Mathieu and Hibatallah,

I tried to reinstall Prestashop and the product combinations worked fine. However, for the product that required combination, when I visit the 'Options' tab and unchecked the 'Available for order' and selected just 'web only' checkbox; then I lost the combinations table again and the same issue occurred again.

![image](https://user-images.githubusercontent.com/73956

[2020-11-09 16:22] PierreRambaud commented on #21493
It's because you can manipulate HTTP headers in order to change the `X Forwarded For`

[2020-11-09 16:27] PululuK commented on #21493
Do you have any suggestions?

[2020-11-09 16:31] matthieu-rolland opened #21819 "In BO some JavaScript parts relied on form field's ids and attributes that are modified since 1.7.8"
#### Describe the bug
Since we split configuration forms into independent forms (#17819), id and name attributes in forms have changed, for example name attribute `form[general][enable_tos]` became `general[enable_tos]`, and its ID went from `form_general_enable_tos_0` to `general_enable_tos_0`.

It is breaking some behaviors because sometimes we  have javascript relying on these attributes, also

[2020-11-09 16:31] LouiseBonnard commented on #9561
@Julievrz, sounds like you've got a new wording mission. ;-)

[2020-11-09 16:31] Mch0 opened #21820 "When I enable a theme ; I would like the theme's modules (that are not installed/active) are installed"
#### Describe the bug
For developer when we git clone a theme from a repository directly in themes folder then we go in BO and we want enable this theme at this moment if the theme have some module dependencies they are not installed.

#### Expected behavior

1. Install a Theme inside themes/ directory
2. Go to Back Office, open Themes page
3. Click "Enable" on new Theme
4. It **performs the insta

[2020-11-09 16:32] matthieu-rolland commented on #21819
We will probably go for option 1.

[2020-11-09 16:32] PierreRambaud commented on #21493
Use another system to be able to connect through the API :sweat_smile:
This one is not secure and using Host will not be more secure :/

[2020-11-09 16:38] LouiseBonnard commented on #21766
What do you think, @PrestaShop/prestashop-core-developers?

[2020-11-09 16:49] PierreRambaud commented on #21766
It's up to you to answer :sweat_smile:

[2020-11-09 17:03] #17177 closed, assigned to NeOMakinG

[2020-11-09 17:07] micka-fdz commented on #21441
Hi @NeOMakinG, my PR is available.

[2020-11-09 17:20] matks commented on #21820
Hi @Mch0 as far as we know, this is the expected behavior. When you enable the theme it does not download the module dependencies.

It's possible to embed modules inside a theme ZIP (in `dependencies.modules) file but you will not be able to do the same with `git clone`.

Performing a git clone is just a copy of the sources. The final artifact that you want to use (a theme) needs to be built from

[2020-11-09 17:26] Mch0 commented on #21820
@matks i dont want on the enable/use theme download module, i would like when i enable/use theme the module inside the folder dependencies be install,

[2020-11-09 17:37] #21807 closed, assigned to nobody

[2020-11-09 18:11] MatShir commented on #21493
It means the "hacker" need the key and the IP, is it not more secure?

[2020-11-09 18:32] SimonGrn commented on #21820
Modules packaged with a theme are chosen carefully, because they need to be perfectly integrated. That's why they have to be packaged and installed through the normal procedure. You need to follow the normal procedure.

[2020-11-09 19:34] jpcoke opened #21823 "Upgrade 1.7.6.4 to 1.7.6.8 cant login backoffice, or client login"
I´ve upgraded from 1.7.6.4 to 1.7.6.8 on two websites in the same server... (1-click upgrade 4.10.1 version module -

one went fine.... the other, i cant login in backoffice....

when i try to access only get this:
![image](https://user-images.githubusercontent.com/74207519/98707442-f4331180-2377-11eb-8b78-bdef1305f055.png)

Front office apparently works well... until i try to login as a costumer.

[2020-11-09 20:12] ballashop opened #21824 "Combination state "Please choose variant" by default in PS 1.7"
Hi,
produced with combinations (attributes), is it possible to have the option: do not select a default combination, so as to display the message "please choose variant" and force the user to select ones?
With this option we avoid purchasing errors I think.
Thanks a lot for any reply
<img width="684" alt="Schermata 2020-11-09 alle 21 02 49" src="https://user-images.githubusercontent.com/28685316/9

[2020-11-09 20:42] juraj1000 commented on #21800
Hello @hibatallahAouadni,
you use different link for guest tracking in your video example. I use the link https://domain/index.php?controller=guest-tracking and it doesn't work. Which link is correct?

[2020-11-09 20:58] hibatallahAouadni commented on #21800
Hi @juraj1000

The one shown in my screen record is the right one.

Could you please try it and feedback.

Thanks!

[2020-11-09 21:15] hibatallahAouadni commented on #21824
Hi @ballashop

Next time, please follow the template to submit a complete bug / feature report.

Thanks for your suggestion, the product team will take a look.
Please stay tuned!

Ping @PrestaShop/product-team what do you think?

[2020-11-09 21:24] hibatallahAouadni commented on #21823
Hi @jpcoke

Please next time follow the Github template. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/)

Could you please provide the log file: /admin-dev/autoupgrade/tmp/

Thanks!

[2020-11-09 21:25] ballashop commented on #21824
Hi @hibatallahAouadni,
thanks a lot to replying me, I'll certainly do it, I apologize for not following the template.
Balla.

[2020-11-09 21:32] juraj1000 commented on #21800
Hello @hibatallahAouadni,
do you mean [https://domain/en/guest-tracking](https://domain/en/guest-tracking) or [https://domain/prestashop_1.7.6.8/en/guest-tracking](https://domain/prestashop_1.7.6.8/en/guest-tracking)?

[2020-11-09 21:37] finawebshop commented on #21764
OK, now created the shop again but this time I kept the product option as " available for order" but still I ran into the same issue as mentioned last week. Please see if you guys can replicate the issue.

[2020-11-09 21:39] hibatallahAouadni commented on #21800
Hi @juraj1000

I meant

[code]

If you use multilanguage and the English language is enabled, then add "en"

[code]

Please check and feedback.

Thanks!

[2020-11-10 06:53] juraj1000 commented on #21800
Hello @hibatallahAouadni,
still no link works. I have more core modules disabled because I don't need them. Which module has to be activated for working the link?

[2020-11-10 08:12] Daaaaad opened #26099 "Same web property ID is tracked twice - in FO Checkout page"
Hello,

With the current version of ps_googleanalytics (v4.0.0) the "pageview" event is sent twice on the cart page, causing a "Same web property ID is tracked twice" error in Google Tag Assistant Chrome extension... and potentially inconsistent data in Google Analytics 😔

First event submission: https://github.com/PrestaShop/ps_googleanalytics/blob/d64569e80e1de4b579206b930490a8dcb020ed58/views/t

[2020-11-10 08:17] matks commented on #21823
@jpcoke I notice you have a limited memory size of 128M

We recommend allocating 256M for PrestaShop (see https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/)

[2020-11-10 08:19] matks commented on #21823
@jpcoke Your error message says "Failed opening required ...SessionInterface"

Class SessionInterface is a new php class introduced in PS 1.7.6.6 to fix a security issue. Can you check it is on your shop ? In folder src/Core/Session

see https://github.com/PrestaShop/PrestaShop/blob/1.7.6.7/src/Core/Session/SessionInterface.php

[2020-11-10 08:21] matks commented on #21820
If I understand, what you mention is:

1. Install a Theme inside `themes/` directory
2. Go to Back Office, open Themes page
3. Click "Enable" on new Theme
4. It downloads missing modules

Then it's a feature request 🤔  so let's ask @PrestaShop/product-team

However I can see 1 blocking item: where do we download these modules ? On Addons marketplace ? Then we need to check you have bought them.

[2020-11-10 08:22] matks commented on #21820
Also @Mch0 what do you mean by "install module" ? It can have different meanings

- download modules ?
- activate modules ?

[2020-11-10 08:25] hibatallahAouadni commented on #21800
Hello @juraj1000

What do you mean? the links does not display the form or when you click on the button "send", an error is displayed?

Could you please check if this issue #20194 is similar to yours, cause it seems to me is the same, please check, you may find your answer.

Thanks!

[2020-11-10 08:25] sarahdib opened #21825 "Configuration button no longer appears after installation"
#### Describe the bug

configuration button no longer appears after installation in catalog module.

#### Expected behavior

Button should be appear.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> Modules -> Catalog module
2. Click on "Install"
3. See error

**Screenshots**
<img width="1075" alt="Capture d’écran 2020-11-10 à 09 25 22" src="https://user-images.githubus

[2020-11-10 08:30] Mch0 commented on #21820
@matks is not a download, modules are already on folder dependencies/modules. For exemple with theme classic-rocket you have a module ps_searchbarjqauto in dependencies/modules.

[2020-11-10 08:34] matks commented on #21820
@Mch0 OK I think I get it now.

Sorry for misunderstanding 😅  it's because most of the time when we think "install a module" we think about downloading it.

So scenario would be:

1. Install a Theme inside themes/ directory
2. Go to Back Office, open Themes page
3. Click "Enable" on new Theme
4. It **performs the install process** for module dependencies of this Theme (if they are not active yet)

[2020-11-10 08:39] hibatallahAouadni commented on #21764
Hello @finawebshop

I still can't manage to reproduce your issue (see the screen record below)

https://drive.google.com/file/d/1lfXVylss9uWYzwymT5rf0T6JBN2aYGp1/view

By the way, if you uncheck "Available for Order" option, your product won't be for sale, is that what you want?

[2020-11-10 08:41] hibatallahAouadni commented on #21536
Hello @Bawalwebs

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-10 08:41] #21536 closed, assigned to nobody

[2020-11-10 08:41] khouloudbelguith commented on #9574
Hi,

I manage to reproduce the issue with PS1770rc1build4.
![image](https://user-images.githubusercontent.com/16067358/98650224-e14d1c80-2338-11eb-9f1e-251a27ddfd2f.png)

Thanks!

[2020-11-10 08:42] pppplus opened #21826 "Shipping VAT are false in credit SLIP"
When I do a credit slip, shipping are false.

Exemple for an order :
shipping without tax = 2.5€
VAT 20% = 0.5€
Total with tax = 3€

If I do a credit slip
shipping without tax = 3€ (amount with VAT is took)
VAT 20% = 0.6€
Total with tax = 3.6€

(easy to change in database... but it's a bug)

#### Additional information

* PrestaShop version: 1.7.6.7
* PHP version: 7.2

[2020-11-10 08:44] matks commented on #21826
Hi @pppplus I know it's unrelated to the bug but I just wanted to tell you PS 1.7.6.7 is not compatible with php7.3 😉  so you better downgrade your php version else you might encounter some buggy usecases

[2020-11-10 08:53] pppplus commented on #21826
Yes, sorry, it's 7.2 !!

[2020-11-10 08:56] finawebshop commented on #21764
This product is just a payment fee for different years and not a physical product.
Its strange that I get this issue, wherein when I created the shop and product again with combinations; on selecting the attribute values for combinations, I see a spinning circle on mouse hover to the table area but the combinations table does not appear. i thought may be a browser issue but even that is not the ca

[2020-11-10 09:02] sarahdib opened #21827 "[UI-KIT] - Alert icon and text not align"
#### Describe the bug

The icon and the text are not aligned

#### Expected behavior

The icon and the texte should be align

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the back office
2. Copy the link with token and paste it in another browser
3. See error

**Screenshots**
<img width="986" alt="00-alert" src="https://user-images.githubusercontent.com/3034677/98652326-c29c

[2020-11-10 09:06] Mch0 commented on #21820
@matks Exactly 👍 , actually the install process for module dependencies is not done :(

[2020-11-10 09:08] hibatallahAouadni commented on #21826
Hello @pppplus

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report.**

So, could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- host
- server setup and configuration
- debug mode report
- PHP er

[2020-11-10 09:09] fest73 opened #21828 "Fix bug with condition display packaging price"
#### Describe the bug

The "Product::getNoPackPrice" method returns an incorrect value for comparison; a string of the form "$ 10.99" is returned, which leads to an incorrect comparison

#### Steps to Reproduce

Steps to reproduce the behavior:

Create pack product, go on front page and see

#### Additional information

* PrestaShop version: 1.7.4
* PHP version: 7.2

---

## Steps to reproduce on

[2020-11-10 09:15] PierreRambaud commented on #21493
The IP will always be 127.0.0.1, or the domain name, this is something you can easily spoof. So there is not really any benefits on it.
I'm more in favor of doing #14889 and #11053

[2020-11-10 09:21] khouloudbelguith opened #21829 "BO - Order page - Private note containing problematic characters"
#### Describe the bug

In the BO > Orders > Order page > the private not working correctly with problematic characters: "toto & tata"
![image](https://user-images.githubusercontent.com/16067358/98653755-b44f3880-233d-11eb-9be9-b93289ff7b0f.png)

#### Expected behavior

It should be well displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders page
2. Open an order

[2020-11-10 09:24] khouloudbelguith commented on #21829
Related to: https://github.com/PrestaShop/PrestaShop/issues/9726

[2020-11-10 09:28] hibatallahAouadni commented on #21828
Hi @dariusakafest

I didn't see any error (see the screen shot below)

![image](https://user-images.githubusercontent.com/23308427/98654845-19575e00-233f-11eb-8529-204ec735b1ea.png)

Could you please provide steps to reproduce the issue more clearly.

PS: don't mind the price of the pack, it's me who want it to be 50 euro without tax.

Thanks!

[2020-11-10 09:35] hibatallahAouadni commented on #21764
Hello @finawebshop

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely an external problem.

We will close this issue.

Thanks!

[2020-11-10 09:35] #21764 closed, assigned to nobody

[2020-11-10 09:35] sarahdib opened #21831 "[UI-KIT] - Rounding is missing on some buttons"
#### Describe the bug

Rounding is missing on some buttons

- Order Page
<img width="1280" alt="02 - Round" src="https://user-images.githubusercontent.com/3034677/98653339-34c16980-233d-11eb-8277-928b61561651.png">

- Order Detail Page
<img width="1280" alt="01 - Round" src="https://user-images.githubusercontent.com/3034677/98653179-004dad80-233d-11eb-9d75-d076bd66c74a.png">
<img width="699" alt="

[2020-11-10 09:37] sarahdib opened #21832 "[Epic] - Improvement UI-KIT"
All issues related to **UI-KIT**

### BUGS

### IMPROVEMENT

## Fixed

### BUGS
- [x] #21827 - Alert icon and text not align
- [x] #21831 - Rounding is missing on some buttons
- [x] #21836 - Bug on dropdown in translation
- [x] #21841 - Reduce button size in theme page
- [x] #21842 - On-Off switch does not display
- [x] #21843 - Align icon with text in email theme
- [x] #21189 - Need to add new la

[2020-11-10 09:42] szykuc opened #21833 "Error during big cart checkout"
When i add many product to cart (over 100-120) and i try go to checkout all product are deleted from cart and i am signed off from my client account.

When i reach about 104 different unique products i could not add any more (jquery 500 error in console)

I find my orders->carts in admin and when i try use "Create an order from this cart." there is jquery 500 error.

#### Steps to Reproduce

Steps

[2020-11-10 09:58] sarahdib opened #21834 "[UI-KIT] - Improve to on-off switch"
#### Describe the bug

Some button are not using on-off switch

- Monitoring
<img width="1280" alt="Capture d’écran 2020-11-06 à 16 38 55" src="https://user-images.githubusercontent.com/3034677/98657351-0f832a00-2342-11eb-97e9-bf56a415e928.png">

- Brand & Supplier
<img width="1280" alt="Capture d’écran 2020-11-06 à 16 49 38" src="https://user-images.githubusercontent.com/3034677/98657360-11e5

[2020-11-10 10:10] sarahdib opened #21835 "[UI-KIT] - Improve radio button"
#### Describe the bug

Some radio button are not using UI-KIT

- Invoices
<img width="453" alt="Capture d’écran 2020-11-06 à 15 35 13" src="https://user-images.githubusercontent.com/3034677/98659682-a94bd680-2344-11eb-847e-8fe267eeac82.png">

- Customer
<img width="1280" alt="Capture d’écran 2020-11-06 à 17 22 16" src="https://user-images.githubusercontent.com/3034677/98659836-d5ffee00-2344-11

[2020-11-10 10:28] HartLarsson commented on #19642
I agree with you Pierre, is why is a suicide to release 1.77 & 1.7.8 while 1.7.6 is continue to be full of errors!
Why not finish one relase put all dev efforts to finish a relase that works fully?
The way to move so fast to a new release when the previous is full of problems is not helping, developers, integrators and resellers!
You can imagine the Chaos for people that sell solutions on 1.7.6.x

[2020-11-10 10:34] sarahdib opened #21836 "[UI-KIT] - Bug on dropdown in translation"
#### Describe the bug

Bug on dropdown in translation, all language are selected if the cursor is over the dropdown

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Back office -> international -> translations
2. Click on the dropdown to choose a language to download or update
3. Scroll down to a language
4. See error

**Screenshots**

https://drive.google.com/file/d/1XediCVv0I

[2020-11-10 10:40] hibatallahAouadni commented on #21833
Hello @szykuc

I didn't manage to reproduce your issue with PS1.7.6.8 (see screen record below)

https://drive.google.com/file/d/18Q9CB5UoGlUtmhNUWiC0mhDJfwiMmh_s/view

Please check and feedback.

PS: You may forgot some details, please provide as many reliable informations as you can.

Thanks!

[2020-11-10 10:46] SimonGrn commented on #19642
This is an Open Source project, you are welcome to contribute to help fixing theses bugs so we can move forward.

[2020-11-10 10:48] MartaLin opened #21837 "500 Internal Server Error"
#### Describe the bug

My Back Office gives me problems. When I try to access modules it returns this error:

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

#### Expected behavior

I want to access modules.

####

[2020-11-10 10:51] szykuc commented on #21833
@hibatallahAouadni can you test how many different product you can add to cart? Is tere any kind of limit?

Whats your php enviroment settins? memory_limit, timeout etc?

[2020-11-10 10:55] #21037 closed, assigned to matthieu-rolland

[2020-11-10 10:56] matthieu-rolland commented on #21037
closed, see issue #21819.

[2020-11-10 11:02] matthieu-rolland commented on #19642
I'm afraid no project of this size will ever be "fully fixed", bug free software just doesn't exist, that's a myth, you have to move forward at some point.

[2020-11-10 11:04] SimonGrn commented on #21837
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-10 11:04] #21837 closed, assigned to nobody

[2020-11-10 11:04] sowbiba opened #21838 "Create Order - Minimal quantity is not respected"
#### Describe the bug

In create order, you can add any quantity of a product with minimal quantity required

#### Expected behavior

If the product has minimal quantity, you cannot order less than the quantity required

#### Steps to Reproduce

Steps to reproduce the behavior:

https://drive.google.com/file/d/1vHKrs1IX8O2IA_gnUfr2gr4iYifqBal-/view

#### Additional information

* PrestaShop versio

[2020-11-10 11:04] sarahdib opened #21839 "[UI-KIT] - Improve field spacing in customer page"
#### Describe the bug
Improve field spacing in customer page

#### Step to reproduce
1- Go to BO -> Customer
2- Add a customer
3- See the error

<img width="1279" alt="Capture d’écran 2020-11-06 à 17 23 59" src="https://user-images.githubusercontent.com/3034677/98666074-c8e6fd00-234c-11eb-81be-fe5defa1a767.png">

#### Additional information

* PrestaShop version: Develop
* PHP version: 7.1

[2020-11-10 11:10] sarahdib opened #21840 "[UI-KIT] - Improvement customer page - reduce icon size"
#### Describe the bug
Reduce icon size for registrations and status option

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> Customer
2. Click on a customer
3. See error

<img width="1280" alt="Capture d’écran 2020-11-06 à 17 30 07" src="https://user-images.githubusercontent.com/3034677/98666565-7d811e80-234d-11eb-868a-1bc2d37ae0a9.png">

#### Additional information

* P

[2020-11-10 11:12] khouloudbelguith commented on #21838
Hi @sowbiba,

I think that it is normal behavior as reported [here](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/orders/orders/Order%20Page%20View.md):
_`If the product has a Minimum quantity for sale higher than 1, defined in the Product quantity tab. In this situation, when trying to add a product with less than the minimum quantity, an error will be displayed with the

[2020-11-10 11:17] sarahdib opened #21841 "[UI-KIT] - Reduce button size in theme page"
#### Describe the bug

Reduce button size in theme page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> Theme & Logo
2. See error

**Screenshots**

<img width="1280" alt="Capture d’écran 2020-11-06 à 17 39 13" src="https://user-images.githubusercontent.com/3034677/98667424-ab1a9780-234e-11eb-8544-a85dad07669b.png">

#### Additional information

* PrestaShop version: N/

[2020-11-10 11:22] sarahdib opened #21842 "[UI-KIT] - On-Off switch does not display"
#### Describe the bug

On-Off switch does not display

- Currencies :
https://drive.google.com/file/d/1k_8vpXKEvTcesttVTfkUVwTBK6WxoGsd/view

- Team :
https://drive.google.com/file/d/1dfVcfbrGdrLCbPa6pFa1GBmduLugpdK5/view

- SEO & URL
https://drive.google.com/file/d/1Q-ih5Ax3nZu0Vbwu0y2lyMt_naoW01x6/view?usp=sharing

#### Additional information

* PrestaShop version: Develop
* PHP version: 7.1

[2020-11-10 11:33] hibatallahAouadni commented on #21833
Hello @szykuc

There is no limit for the quantity / number of products added to the cart, you can add as many as you want.

I attached a screenshot of my shop Advanced Parameters below:

![image](https://user-images.githubusercontent.com/23308427/98668496-4102f200-2350-11eb-81ab-0a6d8528c27b.png)

And my PHP version is 7.2.

Please check and feedback.

PS: Ping @PrestaShop/product-team please corr

[2020-11-10 11:35] dariusakafest commented on #21828
@hibatallahAouadni  Hi!
Now I don't remember all the details of how I got the error, but please see this code
https://prnt.sc/vgp2m8
Do you think it is correct to compare the float value for example "100" with the string "$100"
https://prnt.sc/vgp3gf
I think that the comparison should be done with the types suitable for this.

[2020-11-10 11:37] sarahdib opened #21843 "[UI-KIT] - Align icon with text in email theme"
#### Describe the bug

Align icon with text in email theme

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> email theme
2. See error

**Screenshots**
<img width="1280" alt="Capture d’écran 2020-11-06 à 17 46 45" src="https://user-images.githubusercontent.com/3034677/98669311-87a51c00-2351-11eb-9e6b-aa58e5b6a8bf.png">

#### Additional information

* PrestaShop version: D

[2020-11-10 11:52] SimonGrn commented on #21828
We need a specific list of steps to reproduce. Please provide a clear scenario with all the steps.

[2020-11-10 11:55] hibatallahAouadni commented on #21833
@szykuc Could you please check if your issue is similar to this one #14979
Please check and feedback.

Thanks!

[2020-11-10 12:11] hibatallahAouadni commented on #21826
Hello @pppplus

I didn't manage to reproduce your issue with PS1.7.6.8, see the attached screenshot of the credit slip below:

![image](https://user-images.githubusercontent.com/23308427/98672426-161b9c80-2356-11eb-8d75-87cadc4a608e.png)

Could you please provide more infos.

Thanks!

[2020-11-10 13:12] HYankees49 opened #21844 "Onglet Personnaliser"
#### Describe the bug

L'onglet "Personnaliser" ainsi que tout ce qui appartient à cet onglet mènent à une erreur, je ne peux donc pas accéder aux modes de paiements et aux autres pages.

#### Expected behavior

Je m'attends à ce que les pages s'affiche correctement et ne produisent pas d'erreurs

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Personnaliser'
2. Click on 'Mode

[2020-11-10 13:30] HartLarsson opened #21845 "Stock Management - Add to reserved qty a click to discover the Orders involved."
#### Is your feature request related to a problem?
Feature request

#### Describe the solution you'd like

During normal stock operation, could be useful to know what orders create a stock reservation on a single product.
A simple solution could be to implement in the stock management Reserver quantity the possibility to click it to view the orders involved.

#### Alternatives you've considered

I

[2020-11-10 13:33] matks commented on #19642
Dear @HartLarsson,

The [current release lifecycle of PrestaShop](https://devdocs.prestashop.com/1.7/project/release/patch-release-lifecycle/) is a balance between "the need to stabilize" and "the need to move on". We aim for a new minor release every 6 months although we regularly miss this schedule (so releases are even slower). This is very slow compared to the PHP ecosystem average lifecycle I

[2020-11-10 13:49] jnvgi opened #21846 "Can't add or update product with declinations that lead to an 403 Error"
Hello,

I can't update or add products with declinations. My PS version was a bit of an old one, so i updated to 1.7.6.8 but issue is still there.

When i activate the Debug mode, i can see there is a 403 error, but can't get anymore information about it. What's even worse is that once i insist, i get a 403 Forbidden on all the website from the selected browser. So I switched to another browser an

[2020-11-10 13:49] khouloudbelguith commented on #10988
Hi,

I manage to reproduce the issue with 1770rc1build4.
Steps to reproduce
1. the Euro the currency by default
2. add new currency Dollar
3. Go to BO > Order > Add new Order page
4. Choose a customer
5. Add a product to the cart with the euro currency
6. change the currency Dollar
7. edit the product's total
8. see error

Thanks!

[2020-11-10 13:51] hibatallahAouadni commented on #21844
Hello @HYankees49 ,

Please send your request in English. English is the norm on GitHub.
 Feel free to create a new issue, we will be glad to investigate it.

Thanks!

[2020-11-10 13:51] #21844 closed, assigned to nobody

[2020-11-10 13:52] hibatallahAouadni commented on #21845
Hi @HartLarsson

Thanks for your issue. I think what you've post it is an improvement, so please, **You must follow the template to submit a complete improvement report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Please edit it.

Thanks!

[2020-11-10 13:58] hibatallahAouadni commented on #21846
Hello @jnvgi ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2020-11-10 13:58] #21846 closed, assigned to nobody

[2020-11-10 14:02] Mch0 commented on #21820
@matks i can do this feature if needed

[2020-11-10 14:04] matks commented on #21820
@Mch0 Please wait for @PrestaShop/product-team Product Team 😉  feedback, sometimes this item can be linked to another and we might be able to kill 2 birds with 1 stone.

But that's wonderful you are motivated 😄

[2020-11-10 14:08] khouloudbelguith opened #21847 "BO - Customer Groups - Enable/Disable selection do not work"
#### Describe the bug

In the BO > Shop Parameters > Customer Settings > Groups Tab > View Customer Group.
If you try to `Enable/Disable` selection with bulk action or just for a line, nothing happens.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Create a new customer
1. Go to BO > Shop Parameters > Customer Settings > Groups Tab > View Customer Group.
2. Try to  `Enable/Disable`

[2020-11-10 14:10] jnvgi commented on #21846
Well I understand your point but it clearly seems that the fact that we can't update a product with declination is a recurrent problem in Prestashop...

[2020-11-10 14:22] hibatallahAouadni commented on #9993
Hello @marionf

I didn't manage to reproduce the issue with PS 1.7.5.2, PS1.7.6.8 and PS1.7.7.0-rc.1+build.4
It seems the issue has been fixed since the migration (PS1.7.5.2).

So, I close the issue.

[2020-11-10 14:22] #9993 closed, assigned to nobody

[2020-11-10 14:28] hibatallahAouadni commented on #21846
Hi @jnvgi

I didn't manage to reproduce your issue with PS1.7.4.2, PS1.7.5.2, PS1.7.6.8 and PS1.7.7.0. It means that in all versions we can easily update product with combinations.

By the way, you need to downgrade your PHP version to 7.2 cause PS1.7.6.8 is not compatible with PHP7.3 (see the system requirements [link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/)).

[2020-11-10 14:28] NeOMakinG commented on #21842
Fixed on the UIKit side, btw, it's pretty strange that some inputs doesn't have default values, that would be fixed by this on the core side

@PrestaShop/prestashop-maintainers could someone check if it's not possible to put default values on every form fields in the BO ?

[2020-11-10 14:30] juraj1000 opened #21848 "Lines in User review for product are not separated with CR/LF (2)"
#### Describe the bug
I've installed the newest version of the module "Product Comments" from github and still there is not fixed the bug with CR/LF as it is described in the issue #20343. The issue #20343 is closed as fixed.
Could you check it once again?

User review - Display
![image](https://user-images.githubusercontent.com/33311857/98686463-e7f38800-2368-11eb-8f55-32997d7c1e77.png)

#### Add

[2020-11-10 14:33] HYankees49 commented on #21844
**Describe the bug**

The "Customize" tab as well as everything that belongs to this tab lead to an error, so I cannot access the payment methods and other pages.

**Expected behavior**

I expect the pages to display correctly and do not produce errors.

Steps to reproduce the behavior:

1. Go to 'Personalize'
2. Click on 'Payment methods' or others
3. See error

**Steps to Reproduce**

[2020-11-10 14:36] SimonGrn commented on #21848
The issue has been fixed but there hasn't been any new release so that's normal. We will release a new version when we have the time and we have enough fixes for it to be worthwile.
Thank you for your understanding.

[2020-11-10 14:36] #21848 closed, assigned to nobody

[2020-11-10 14:41] hibatallahAouadni commented on #9638
Hello @eternoendless @marionf

I managed to reproduce the issue with Mail alerts v2.2.1. See the attached screen record below:

https://drive.google.com/file/d/1jrr1U7gFpKClN3iy9InLNCKHKdm-W0ir/view

Thanks!

[2020-11-10 14:50] SimonGrn commented on #21844
Please create a new issue and give us more details, as is it should work because we cannot reproduce your issue. And please fill the template correctly (we don't know your PS and PHP versions !).

Thank you.

[2020-11-10 14:58] khouloudbelguith opened #21850 "BO - Order page - An exception is displayed when canceling a product (an invoice is generated)"
#### Describe the bug

In the BO > Order page > Order view page, when we try to cancel a product, an exception is displayed.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Create order from the FO
1. Go to BO > Customer Service > Marchandise return > Enable returns
2. Go to BO > Order page > Last order created
3. In the Documents tab > generate an invoice
4. Click on the cancel pro

[2020-11-10 15:11] HYankees49 opened #21851 "Error 500 when accessing the "Payment" tab"
#### Describe the bug

On my website Yankees the "Customize" tab as well as everything that belongs to this tab lead to a server error, so I cannot access the payment methods and other pages.

#### Expected behavior

I expect the pages to display correctly and do not produce errors. And be able to change payment methods on my website Yankees.

#### Steps to Reproduce

Steps to reproduce the behavi

[2020-11-10 15:40] NeOMakinG commented on #21843
Wdyt @PrestaShop/ux-team ? It's clearly because the help box doesn't have enough space to be at right, so we need to think about his placement

[2020-11-10 15:49] prestascott commented on #18910
Hello everyone!

Thank you @Klemart3D for your report.

As we can see, subcategories aren't well aligned. This is why it becomes difficult to read it even with a row layout. Plus, we see a lot of space loss and that doesn't help.

I tried to add more subcategories on the menu to cover a maximum of use cases and I was surprised to see that there isn't any depth limit by creating new subcategories.

[2020-11-10 15:57] Julievrz commented on #21105
I think the "product listing page" is the page where all the products are listed and the product page is the individual page.

"products listing page" is not grammatically correct in my opinion.

Or maybe we could add an "s" to "page" if it applies to multiple pages (category page, featured product, ...)

If the product has options, I think @marionf 's wording was good "Available with different op

[2020-11-10 16:13] andrevich76 commented on #14516
hi, any news on the fixing?

[2020-11-10 16:15] prestascott commented on #21843
Is there any possibility to place this icon next to the text? @NeOMakinG

[2020-11-10 16:19] Progi1984 commented on #21358
@PrestaShop/prestashop-qa  I didn't reproduce this bug. Could you check too ?

[2020-11-10 16:23] SimonGrn commented on #21358
@khouloudbelguith could you take a look please ?

[2020-11-10 16:31] Bartezy opened #21857 "Auto hide category and their childrens if its empty - ps_mainmenu - Prestashop 1.7.6.8"
Hi, as in a subject could you guys please help me do that. I guess i have to put if condition with some variable which counts products in there. Does it need some cron job?

[2020-11-10 16:34] matks commented on #21857
Hi, if you have questions or need help, please do not open a GitHub issue as we use GitHub issues only to discuss about bugs and new features for the PrestaShop project.

You can also ask for help from other PrestaShop users:

- on the Community chat (Slack)
- on the Community forums
- on Stack Overflow

You will find the links on https://devdocs.prestashop.com/1.7/faq/i-need-help/ 😉

[2020-11-10 16:34] #21857 closed, assigned to nobody

[2020-11-10 16:44] prestascott commented on #21633
Hello everyone!

Thanks @ngodefroy for your report.

I can confirm with you @MatShir that we want to use toggles rather than checkboxes because there is a single selection that is required and we want to offer two options for an on/off type of decision.

[2020-11-10 16:46] SimonGrn commented on #21851
Hello @HYankees49

Could you please provide a screenshot ?

[2020-11-10 17:06] SimonGrn commented on #21682
We were a little too fast on this one. Reopened because it was about customizations and not combinations.

[2020-11-10 17:07] prestascott commented on #14018
Hello everyone!

Thank you @sarjon for your report. :)

I agree with you, there is a lot of space loss but what do you want to put on the first red box? Indeed, we can enlarge the search bar.

'Select all' can be removed and put in the table as @Hlavtox said, and I think this is where the checkbox belongs to because it's now a standard for tables.

I understand your point of view by placing the bu

[2020-11-10 17:08] marionf commented on #21105
Yes, it's rather "products listing pages" as we can have listing of products on differents pages: categories pages, home page, best sales pages, new products page, prices drop page ...

For products with combinations we will display "out of stock" label only if all combinations are out of stock, otherwise we will display nothing as the wording "Available with different options" is too long for a l

[2020-11-10 17:08] jpcoke commented on #21823
Hi

Thank you so much for the attention and help

It was indeed the "session" folder and the php file missing... It should be created by the upgrade... i guess...

Also increased the memory limit, but it wasn't whats causing the issue, because i increased it after solving the issue.

Thank you so much once again.

Hope it helps it others with same issue.

[2020-11-10 17:08] #21823 closed, assigned to nobody

[2020-11-10 17:13] Hlavtox commented on #14018
@prestascott Good point! What if we put it to the card/table header? There is a lot of free space. No proper icon comes to my mind though.

[2020-11-10 19:50] mapsfood commented on #21240
hi i have the same problem, does anyone have a solution?

[2020-11-10 20:32] juraj1000 commented on #21800
Hello @hibatallahAouadni,
you're right, it's the same issue

[2020-11-10 22:25] HartLarsson commented on #21845
I've updated the Post, sorry i forgot to follow the the template 👍

[2020-11-10 22:34] Klemart3D commented on #18910
Hi @prestascott, thanks for your work!
A menu with 3 depth level seems a very good beginning.
When we are looking for e-commerce mega menu trends, left column is very often used as first or second level element of hierarchy: https://www.lafabriquedunet.fr/creation-site-ecommerce/articles/mega-menu-ecommerce-tendances/
May be a third solution can be good by mixing the left column of your 1st propos

[2020-11-11 07:56] hibatallahAouadni commented on #21845
Hello @HartLarsson

Thanks for editing your feature template and for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-11 08:24] hibatallahAouadni commented on #21800
Hello @juraj1000

We are aware of this issue. The problem is fixed in the next release PS1780.
Your ticket is a duplicate of #20194
Please subscribe to the issue mentioned above, cause I'm closing this one.

Thanks!

[2020-11-11 08:24] #21800 closed, assigned to nobody

[2020-11-11 08:24] hibatallahAouadni commented on #21800
Duplicate of #20194

[2020-11-11 08:57] juraj1000 commented on #19707
Hello,
is there any plan to implement this requirement? It is a legal requirement in more countries to display "original" invoice number and also to use numbering rules similar to the invoice numbering (fiscal year, start numbering form 1st January) for credit slips. Without these features very often PS credit slips are not possible to use and currently the merchants have to create every credit sl

[2020-11-11 09:05] juraj1000 opened #21860 "Allow guest to unsubcribe from newsletters. Currently to unsubscribe you require an account."
#### Describe the bug
Also a guest customer can subscribe the newsletter. But there is missing possibility to unsubscribe the guest newsletter in FO.

#### Expected behavior
There should be a link where the guest customer clicks and after filling the email address PS unsubscribes this email.

I think we would need something more complex, not just possibility to unsubscribe every email address we w

[2020-11-11 09:08] hibatallahAouadni commented on #21860
Hello @juraj1000

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-11 11:01] khouloudbelguith commented on #21682
Hi @dawalberto,

Thanks for your report.
As discussed with @hibatallahAouadni.
The exact issue reproduced:

_The import is done successfully, but in the BO > Catalog > Products > Product details page > Options Tab > There is no customization added._

Steps to reproduce the issue:
1. You have previously some products
2. Go to BO > Advanced Parameters > Import page
3. Select Products
4. Choose a fil

[2020-11-11 11:53] elrosi opened #21862 "The order comment is badly coded for Central European languages"
**Describe the bug**
The order comment is badly coded for Central European languages.

Text used: **Ak by ste chceli pridať poznámku k Vašej objednávke, prosím, poznačte ju nižšie.**
Saved text: `Ak by ste chceli pridať pozn&aacute;mku k Va&scaron;ej objedn&aacute;vke, pros&iacute;m, poznačte ju niž&scaron;ie.`

I replicated the problem at demo.prestashop.com

**Screenshots**
https://share.vidyard

[2020-11-11 12:01] elrosi opened #21863 "Broken tabs in the product description on the edit page in back office"
#### Describe the bug
Broken tabs in the product description on the edit page in back office

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the product modification page
2. Click the **Description** tab
3. Click the top **Quantities** tab in the product settings
4. Return to the **Basic settings** tab

**Product description cards left broken**

**Screenshots**
https://share.v

[2020-11-11 12:25] SharakPL commented on #21702
@marciahrn you need to update php configuration (php.ini file). Sometimes servers allow configuration by domain so you could simply create eg. `.user.ini` file in your shop domain a change your configuration there. First you need to check which paths is server checking for configuration. then simply change (create if not there) value of `max_input_vars`. This is default:

[2020-11-11 12:32] Progi1984 commented on #21529
Fixed by #21555

[2020-11-11 12:32] #21529 closed, assigned to Progi1984

[2020-11-11 12:57] fest73 opened #21864 "Key in tr exists, but null"
#### Describe the bug

Key in tr exists, but null

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create admin controller controller
2. Create in fields_list column and add in select

$this->_select .= ' NULL as `callback`'

$this->fields_list = array(
    'callback' => array(
         'title' => $this->l('Api configuration'),
         'callback' => 'getListItems'
    )
);

3. Add f

[2020-11-11 12:58] hibatallahAouadni commented on #21863
Hello @elrosi ,

I was able to reproduce the issue with PrestaShop version 1.7.6.8 and 1.7.7.0-rc.1+build.4
I’ll add this to the debug backlog so that it’s fixed. I attached a screen record with PS1770:

https://drive.google.com/file/d/12gf5TfQUC4-T6heIwwTblES9AVUF9e8o/view

If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you.

[2020-11-11 13:05] Tarraga opened #21866 "PrestaShop wrong calculation of prices and taxes"
#### Describe the bug

PrestaShop is calculating wrong the prices and taxes when a product have a discount.
I have a total tax excl of 108.03€ and a tax rate of 21%.
Total should be 130.72€ but PrestaShop is eating a cent in his calculations.

#### Steps to Reproduce

Steps to reproduce the behavior:
Just add a product of 165.21€ tax excl., 21% tax and 50% off
Shipping of 25.42€

![a](https://user

[2020-11-11 13:07] hibatallahAouadni commented on #21862
Hello @elrosi ,

This issue has been fixed with our next release PS1.7.7.0, please check the attached screen record below:

https://drive.google.com/file/d/1HRjn6sZ5puf6hlL9ZA3H6of8S1LunPji/view

We will close this issue.

Thank you.

[2020-11-11 13:07] #21862 closed, assigned to nobody

[2020-11-11 13:12] hibatallahAouadni commented on #21866
Hello @Tarraga

Could you please add the PrestaShop version and the PHP version you used.

Thanks!

[2020-11-11 13:18] elrosi commented on #21863
Hello @hibatallahAouadni
Thank you for your time and care.

[2020-11-11 13:39] Tarraga commented on #21866
@hibatallahAouadni added!

[2020-11-11 13:51] nesrineabdmouleh opened #21867 "BO - Search - Incorrect successful alert message when update 'Search'"
#### Describe the bug

In the BO > Search page, when we try to update an alias, the successful message is displayed.
'Creation successful' instead of 'Update successful'
![image](https://user-images.githubusercontent.com/24647495/98819423-22265d80-242d-11eb-81ca-e231bbf1a310.png)

#### Expected behavior

The successful message should be 'Update successfull'

#### Steps to Reproduce

Steps to repro

[2020-11-11 14:34] hibatallahAouadni commented on #21864
Ping @PrestaShop/prestashop-core-developers could you please check this issue.
Thanks!

[2020-11-11 14:43] hibatallahAouadni commented on #21866
Hello @Tarraga

Could you please check if your issue is similar to this one #9779

Thanks!

[2020-11-11 14:44] presteus opened #21868 "Open access to Prestashop Validator sources"
#### Is your feature request related to a problem?

Developing a PrestaShop module is a pain and the validator is far too naive!
if you really want to develop a module, forget any version of php > 5.6.

Example: not allowing the use of the base64_encode function is really incomprehensible (workaround need to pass by url oO)

#### Describe the solution you'd like

Open access to Prestashop Validato

[2020-11-11 14:49] hibatallahAouadni commented on #20093
Ping @PrestaShop/prestashop-core-developers what's the statuts of this issue? can we close it?

[2020-11-11 15:08] hibatallahAouadni commented on #21868
Hi @presteus

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.  If you have questions or suggestion about using PrestaShop or third-party modules, please consider one of our [community forums](https://www.prestashop.com/forums/) or our [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thanks!

[2020-11-11 15:08] #21868 closed, assigned to nobody

[2020-11-11 15:09] dariusakafest commented on #21828
@SimonGrn  set product price 50.2

$this->context->smarty->assign('displayPackPrice', ($pack_items && $productPrice < $this->product->getNoPackPrice()) ? true : false);

displayPackPrice will become false

[2020-11-11 15:10] SimonGrn commented on #21868
Hello,

the Validator is part of the PrestaShop company (not PrestaShop the software), which operates the Addons Marketplace. This is not linked in any way with this repository.
You can contact the team responsible for Addons [here](https://addons.prestashop.com/fr/contactez-nous).

Thank you.

[2020-11-11 15:18] dariusakafest commented on #21828
@SimonGrn.
You have the sum of the goods in the pack: 50.92! Product price 50 !
https://prnt.sc/vhgqoj
You should see here on the page: "Instead of 50.92". And he is not there !

When product bundle price <  sum pack items price you must see here:

[2020-11-11 15:20] dariusakafest commented on #21828
@SimonGrn  And all why because you compared like this:
50 < $50,92,   $50,92  converted in php to =>  50.00

[2020-11-11 15:27] hibatallahAouadni commented on #21828
@dariusakafest

I already said it that it's me who want it to be 50(tax exclu)
Here's the price edited:

![image](https://user-images.githubusercontent.com/23308427/98830351-9a475000-243a-11eb-9828-ad3c26f39468.png)

Thanks!

[2020-11-11 15:50] ballashop opened #21871 ""PaymentModule::validateOrder - Secure key does not match" how to resolve this problem, the mailchimp module developer didn't reply us"
Dear staff,
we have a PS 1.7.6.8, we migrated from PS 1.6 to PS 1.7 (clean install) in July.
The problem we encounter is the following, partly similar to this #12669, but we have more information:
We use this module to connect PrestaShop to mailchimp:
https://addons.prestashop.com/it/newsletter-sms/26957-mailchimp.html
Mailchimp is using old carts that it sends to customers.
When the customer clic

[2020-11-11 15:51] LucaMozzo opened #21872 ""Related Product" section of product page is not showing images and references"
I coulnd't find this issue anywhere on Github, I'm running Prestashop 1.7.6.0

In the backoffice I add a related product, it looks fine (with image, title and reference), however once I save, close the product page and reopen it, I get the related products displayed this way
<img width="680" alt="immagine" src="https://user-images.githubusercontent.com/8259971/98833206-0b3c3700-243e-11eb-8e2e-6131

[2020-11-11 16:08] SimonGrn commented on #21872
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-11 16:08] #21872 closed, assigned to nobody

[2020-11-11 16:18] hibatallahAouadni commented on #21871
Hello @ballashop

It seems that your issue is not a PrestaShop core bug.
If your module is MailShimp Official, please contact support team on [Addons](https://addons.prestashop.com/)

PS: re-send again your issue to the mailchimp module developer.

We will close this issue.

Thanks!

[2020-11-11 16:18] #21871 closed, assigned to nobody

[2020-11-11 16:22] khouloudbelguith opened #21873 "BO - Order page - The minimum quantity of a combination is not correct"
#### Describe the bug

In the BO > Orders > Add new order page > the minimum quantity of a combination is not correct.

#### Expected behavior
![image](https://user-images.githubusercontent.com/16067358/98836552-1a24e880-2442-11eb-911d-f25b2580a3b2.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Products page > Create a new product with combinations
3. For each combi

[2020-11-11 16:28] hibatallahAouadni opened #21875 "[FO] Pack of products - Incorrect image displayed"
#### Describe the bug

In the FO, when we open the Product Pack page, we see the selecteds products, for exemple, the color of the product is "white", instead of displaying the product's image, the cover image of the original product is displayed (color is black).

![image](https://user-images.githubusercontent.com/23308427/98832519-36725680-243d-11eb-8b0f-f5c2e3166b9f.png)

#### Expected behavior

[2020-11-11 16:29] ballashop commented on #21871
Hi @hibatallahAouadni thanks to replied us.
I think the cart problem is PrestaShop problem, not mailchimp one.
Until the developer responds we will not know, we have been looking for him for months, the latest response is in July. in the meantime a president of the U.S.A. has changed and many other things.
This is not serious from PrestaShop addons.
Thanks a lot.
Balla

[2020-11-11 16:30] dariusakafest commented on #21828
@SimonGrn  Ok.

1. Set the price product 40 now, Set the price display mode to 40$, no $40. After see here:
https://prnt.sc/vhhz2g
2. Change the display mode of the price from 40$  to $40
Again see here https://prnt.sc/vhhz2g

You must see "Instead of 40$"

[2020-11-11 16:30] SimonGrn commented on #21871
Hello,

this is the repository for the PrestaShop software, this is not linked in any way with Addons. You can't gat any support related to any external or third-party module here.

Please follow the link in @hibatallahAouadni 's comment.

[2020-11-11 17:15] HartLarsson commented on #10122
the module anyway not fix the infinite use of a Voucher (even if is 1 timeper user) by a guest customer.
the voucher used by a real user or by a guest must be leimited using the id_customer (for real customer) and email for guests.
In this way you can limit at last 1 voucher per email.

[2020-11-11 18:55] marciahrn commented on #21702
I found five php.ini files in the template download.  All five open with "right click" (Go Daddy hosting folder" > edit,  However, there are simply a few paragraphs that appear.  The php script is hidden.  How do you open the php.ini file in the hosting root folder. I have it opened to the paragraph text?
Thanks-
    On Wednesday, November 11, 2020, 07:25:58 AM EST, Sharak <notifications@github.co

[2020-11-11 20:30] kjbtech opened #21879 "Error: Syntax error, unrecognized expression expression: input[id^='condition_to_approve'] core.js:39"
#### Describe the bug
When a user wants to command his cart qnd he gets in the process to login ou register, a javascript error is thrown :

`Error: Syntax error, unrecognized expression expression: input[id^='condition_to_approve'] core.js:39`

We suspect that the behaviour prevent a module to operate correctly (click and collect from Prestatill).

This in Safari 10.1.2 (not earlier version).

##

[2020-11-11 20:54] danielkauffman opened #21880 "Class 'Tools' is not found in classes/db/Db.php"
#### Describe the bug

PHP throws a fatal error: Class 'Tools' is not found in classes/db/Db.php:794.

Here is the stack trace:

[code]

See also https://github.com/PrestaShop/PrestaShop/blob/f3dbe7bf9c3c8e5c64d196c1d92ef980f34886e0/classes/db/Db.php#L794

#### Expected behavior

Class 'Tools' should be found in classes/db/Db.php.

#### Additional information

* PrestaShop version: 1.7.7.0 RC 1

[2020-11-11 21:06] matks commented on #21880
Hi @danielkauffman thanks for testing the Release Candidate !

Could you tell us how you encountered this issue ? On FO ? On BO ? Using PrestaShop in Command Line ?
Maybe you could also indicate what OS you run and php version ? 😄

As far as I know class Tools is in the right location in 1.7.7.0 RC1 🤔 see https://github.com/PrestaShop/PrestaShop/blob/1.7.7.0-rc.1/classes/Tools.php but it could not

[2020-11-11 21:23] danielkauffman commented on #21880
Hi @matks glad to help.

I'm able to trigger the issue from BO > Configure > Shop Parameters > Traffic & SEO > Schema of URLs > Save. At that point I see a 500 server error in the browser, and the above stack trace in my logs.

Tools is working in every other instance I've come across, including in my own modules. I haven't seen any other issues with auto-loading, only this one instance.

The issu

[2020-11-11 21:31] SimonGrn commented on #21880
Hello, thank you for your report. Just FYI, the 1.7.7.0 is not compatible with PHP 7.4 ([requirements here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/)).
(I saw you tested with PHP 7.3, it's just an information in case you planned to go with PHP 7.4 in production for example).

[2020-11-11 22:22] danielkauffman commented on #21880
@SimonGrn thank you for the heads up, I had noticed that in the requirements as well. I've been developing using PrestaShop 1.7.7.0 + PHP 7.4 for several months now, and haven't seen any errors specifically from PHP 7.4, although debug mode produces a large number of notices in PHP 7.4. Any errors I've been finding, I've been able to confirm in PHP 7.3, and none of the errors I've found have been

[2020-11-12 03:06] glpccreaciones opened #21881 "No puedo traducir al español arg. versión 1.7.6.8"
Hola, no puedo traducir al español ni hacer modificaciones porque la lista desplegable queda inhabilitada

![image](https://user-images.githubusercontent.com/74337334/98890434-b834a500-247a-11eb-89e4-b0996c143d6f.png)

[2020-11-12 06:24] rcbiz5000 opened #21882 "Problem with admin login - default Admin Login URL is http but our server needs https"
After a fresh install of Prestashop, many people have been complaining about being unable to login to the ADMIN page.
The reason is that the URL that the site tries to automatically open doesn't have (HTTPS) in it... it's still setup for (HTTP) which will make the login crash. Please fix this! We have to go into the URL bar and MANUALLY add (httpS) to the address. - Not good!

Yeah, we can just ma

[2020-11-12 08:12] matks commented on #21881
Hello @glpccreaciones usually when I see this type of weird display it's because you use php7.3 or php7.2 . PS 1.7.6.8 needs php7.2 maximum.

[2020-11-12 08:15] hibatallahAouadni commented on #21879
Hello @KevinBTech

Your issue is only displayed on your shop and not on PrestaShop 1.7.6.8 it means that your issue is not related to PrestaShop Core, it's related to your theme. See the attached screen record below:

https://drive.google.com/file/d/1QWtvLG2e25gA4xM0_S9UsBHYVnEruCYX/view

As it's not a PrestaShop Core issue, you should contact your Theme Author.
So, I close this issue.

Thanks!

[2020-11-12 08:15] #21879 closed, assigned to nobody

[2020-11-12 08:16] matks commented on #21882
@rcbiz5000 if your issue is similar to https://github.com/PrestaShop/PrestaShop/issues/10482 you might want to try the solution provided by @alx741 to enable SSL mode in your shop

[code]

The right fix is already done for PS 1.7.8.0 https://github.com/PrestaShop/PrestaShop/pull/19791

[2020-11-12 08:20] hibatallahAouadni commented on #21881
Hello @glpccreaciones ,

Please send your request in English. English is the norm on GitHub.
Like @matks said, please check your PHP version (see [System requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/))

Thank you

[2020-11-12 08:20] #21881 closed, assigned to nobody

[2020-11-12 08:33] hibatallahAouadni commented on #21882
Hello @rcbiz5000

Please next time **follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Please check and feedback if your issue is similar to #10482 like @matks mention.

Thanks!

[2020-11-12 08:37] pppplus commented on #21826
Hi,

Sorry, the bugs does not come from credit slip !
The bug is in orders created by Web Services ! Prices are very badly reported.

I've applied corrections, but forgot some features...
Not visible, except when I do a credit slip.

Thanks for your time.

[2020-11-12 08:37] #21826 closed, assigned to nobody

[2020-11-12 08:46] LouiseBonnard commented on #21860
Hi @juraj1000, and thanks @hibatallahAouadni, you're right, the user (guest or recognized customer) should be able to unsubscribe from the newsletter at any time. Current behavior is to let the user reach the merchant and ask him to get unsubscribed. A link should be available to unsubscribe, at least in the emails' footer.

[2020-11-12 08:49] HYankees49 commented on #21851
![Capture](https://user-images.githubusercontent.com/74248263/98916849-f1e1cc00-24cb-11eb-8046-5df5e32e4cc2.PNG)

This page does not work
Unable to process this request via yankees-football.fr at the moment.

HTTP ERROR 500

Refresh

Payment Modules : Paypal, bank transfer, cheque

[2020-11-12 09:01] NeOMakinG commented on #20093
Hey @hibatallahAouadni ,

Don't close it, this is something we need to fix as it's not respecting standards at all :)

[2020-11-12 09:03] NeOMakinG commented on #21843
Should we collapse it on the top ? or should we align the text and icons horionzontally ? I think this is possible !

[2020-11-12 09:12] hibatallahAouadni commented on #21851
Hello @HYankees49

Please activate the debug mode, if the displayed problem is Paypal problem, please contact the Paypal module developer.
If no, could you please upgrade your PHP version to 7.2 and your shop to 1.7.6.8.
Check and feedback.

Thanks!

[2020-11-12 09:17] hibatallahAouadni commented on #21863
Hello @elrosi

Your issue has been fixed in our next release 1.7.8.0. This issue is a duplicate of #9668.
You can try the solution provided on this PR #18033 , please subscribe to the issue mentioned above.
So, I close it.

Thanks!

[2020-11-12 09:17] #21863 closed, assigned to nobody

[2020-11-12 09:18] hibatallahAouadni commented on #21863
Duplicate of #9668

[2020-11-12 09:18] #19912 closed, assigned to atomiix

[2020-11-12 09:22] prestascott commented on #21843
Imo we should align the icon horizontally with the first text line :)

[2020-11-12 09:22] Tarraga commented on #21866
@hibatallahAouadni I don't think it's the same, it seems like a rounding problem when a lot of units is added to the cart.
I'm talking about a single product, I cannot understand how no one provides a solution to this serious error

[2020-11-12 09:26] HYankees49 commented on #21851
![Capture 1](https://user-images.githubusercontent.com/74248263/98921392-8995e900-24d1-11eb-9b4b-29bf5a7a3dba.PNG)
![Capture 2](https://user-images.githubusercontent.com/74248263/98921393-8ac71600-24d1-11eb-9997-92ebc9e3d7a0.PNG)
![Capture 3](https://user-images.githubusercontent.com/74248263/98921396-8ac71600-24d1-11eb-9935-3adb8dc0eb38.PNG)
![Capture 4](https://user-images.githubusercontent.com/

[2020-11-12 09:28] hibatallahAouadni commented on #21866
Hi @Tarraga

We are aware of all rounding issues, it is already in our debug backlog. As you can see we already have an epic about these probelm #19445
Could you please check it and feedback.

Thanks!

[2020-11-12 09:30] HartLarsson commented on #17368
@Perfecticus
Please verify that your PHP version is max. 7.2 version.

[2020-11-12 09:43] Tarraga commented on #21866
I have figured out the fix is very easy. It only round the prices at sight, but the calculation takes all decimals

![Captura de pantalla 2020-11-12 a las 10 42 27](https://user-images.githubusercontent.com/18283446/98923345-d1b60b00-24d3-11eb-9103-50be8fd9eaa1.jpg)

It have to round the price with reduction before doing the calculation!

[2020-11-12 09:45] hibatallahAouadni commented on #21851
Hello @HYankees49 ,

You need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).
I close this issue.

PS: you may need to clear your cache.

Thank you.

[2020-11-12 09:45] #21851 closed, assigned to nobody

[2020-11-12 09:49] hibatallahAouadni commented on #21866
Hello,

I see you have already fixed it on your end, could you please do send us a pull request!

Thanks!

[2020-11-12 09:50] Tarraga commented on #21866
I have figured out the fix but I don't really know where to change it in the code, if someone could help with this..

[2020-11-12 09:51] prestascott commented on #18910
Hi @Klemart3D, your welcome :)

I'm aware of the e-commerce mega menu trends, but the thing is that the Theme Classic's purpose is to cover a maximum of use cases with basic and essential features.
There is already plenty of modules available on [PrestaShop Addons Marketplace ](https://addons.prestashop.com/en/search?search_query=mega%20menu) depending on what you want for your e-commerce that you

[2020-11-12 09:52] hibatallahAouadni commented on #21866
Hi @Tarraga

You can ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2020-11-12 10:23] Perfecticus commented on #17368
Thanks @HartLarsson , this was resolved, but solution is in #17390

[2020-11-12 10:26] Progi1984 commented on #21794
Fixed by #21830

[2020-11-12 10:26] #21794 closed, assigned to jolelievre

[2020-11-12 10:34] nesrineabdmouleh opened #21884 "Shop Parameters > Search - Alias is duplicated instead of updated"
#### Describe the bug

When we edit an alias in the page 'Shop parameters > Search', a new alias is created.

#### Expected behavior

When we edit an alias, the alias should be updated and not duplicated.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Shop Parameters>Search' page
2. Click on 'Edit' the first alias
3. Edit for example 'blue' by 'red'
4. See error -> a new ali

[2020-11-12 10:39] hibatallahAouadni commented on #10431
Hello,

This improvement has been open since 2018 and no one is reacting to it.
Ping @PrestaShop/product-team could you please take a look. Should I close it? what do you think?

Thanks!

[2020-11-12 10:47] hibatallahAouadni commented on #10943
Hello,

This improvement has been open since 2018 and no one is reacting to it.
Ping @PrestaShop/product-team could you please take a look. Should I close it? what do you think?

Thanks!

[2020-11-12 11:08] #21839 closed, assigned to NeOMakinG

[2020-11-12 11:10] hibatallahAouadni commented on #10957
Hello,

This improvement has been open since 2018 and no one is reacting to it.
Ping @PrestaShop/product-team could you please take a look. Should I close it? what do you think?

Thanks!

[2020-11-12 11:23] nathanboschi25 opened #21885 "Registration of a new client"
I'm always frustrated when i create a client manually i have to enter a password. It's not for me to do that!
It would be a small implementation to send a password to the client, with request for modification or a request for registration.

[2020-11-12 11:25] SimonGrn commented on #21885
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-12 11:25] #21885 closed, assigned to nobody

[2020-11-12 11:28] NeOMakinG commented on #21831
Theme & logo pages are legacy, doesn't concern this :)

[2020-11-12 11:31] nathanboschi25 opened #21887 "Send a password creation email to a customer when added via the BO"
#### Is your feature request related to a problem?
I'm always frustrated when i create a client manually i have to enter a password. It's not for me to do that!

#### Describe the solution you'd like
It would be a small implementation to send a password to the client, with request for modification or a request for registration.

#### Alternatives you've considered
I want an automatic email sending

[2020-11-12 12:27] Czaro112112 opened #21888 "Followup module cron.php wrong link"
#### Describe the bug

When you're at Followup module configuration tab there's invalid link on Information heading.
Entering link or starting CRON on server returns 404 error.
Files that needs to be executed are located in /modules/ps_reminder instead of /modules/followup.

#### Expected behavior

Link activation should run cron.php file to send emails.

#### Steps to Reproduce

Steps to reproduc

[2020-11-12 12:46] hibatallahAouadni commented on #21880
Hello @danielkauffman

Could you please provide the steps to reproduce this issue.

PS: I think you need to clear your cache folders as mentioned [here](https://www.prestashop.com/forums/topic/1000973-fatal-error-uncaught-error-class-tools-not-found-in-varwwwhtmlclassesdbdbphp/?tab=comments#comment-3262705)

Thanks!

[2020-11-12 12:46] Daaaaad opened #21889 "PSCleaner module should not clean paypal data"
Hello, when I try to "delete orders & customers" with the PayPal (v5.2.1) official module installed and activated I get an exception  :

[code]

* PrestaShop version: 1.7.6.7
* PHP version: 7.2
* Pscleaner version: v2.1.0

[2020-11-12 12:54] hibatallahAouadni commented on #20093
Hi @NeOMakinG , ok

Ping @marionf, should I add to Epic? or add another label?

[2020-11-12 12:57] hibatallahAouadni commented on #21887
Hello @nathanboschi25

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-12 13:04] Noido opened #21890 "Color Picker With Lang PS 1.7.6.1"
Hello, i got a problem with PS1.7.6.1 if i choose lang true   on render form input name is bg_color  and not bg_color_1 2 3 etc for each language

`array(
					   'type' => 'color',
					   'label' => 'BG COLOR',
					   'name' => 'bg_color',
					   'lang' => true,
					), `

on render html i got

`<input type="text" data-hex="true" class="color mColorPickerInput mColorPicker" name="bg_color" val

[2020-11-12 13:05] hibatallahAouadni commented on #21888
Hello @Czaro112112

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9799.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-12 13:05] #21888 closed, assigned to nobody

[2020-11-12 13:05] hibatallahAouadni commented on #21888
Duplicate of #9799

[2020-11-12 13:06] matks commented on #10957
Hi @hibatallahAouadni this improvement is a very nice idea but it will take years to implement it. It'll be done step by step, little by little. It would be a major architectural change so this is not something that can be done easily. But it's definitely a good thing, a good idea.

[2020-11-12 13:09] JevgenijVisockij opened #21891 "Adding incorrect language causes exception in Edit Currency page."
#### Describe the bug
Adding incorrect language causes "Cache key length must be greater than zero." error when trying to edit currency. Now I don't know if PrestaShop should implement safeguards against incorrect language or how often and why user would add an incorrect language. But in this case error was rather confusing and I thought something wrong with my cache.

In this case function Locale

[2020-11-12 13:29] hibatallahAouadni commented on #21880
Hi @danielkauffman

These buttons doesn't work and we are aware of these issues, it is already in our debug backlog (See #9965 and #14596).

Thanks!

[2020-11-12 13:35] hibatallahAouadni commented on #15201
Hello,

Ping @PrestaShop/product-team what is the status of this ticket?

Thanks!

[2020-11-12 13:41] hibatallahAouadni commented on #21890
Hello,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://b

[2020-11-12 13:55] Noido commented on #21890
Hi @hibatallahAouadni
So
php 7.0 , just create admin form with lang true    and add this in fieldsforl of renderForm

`array( 'type' => 'color', 'label' => 'BG COLOR', 'name' => 'bg_color', 'lang' => true, ),`

And you will get error

Debug mode say that when i go on form :

Warning at line 39 /*****/vendor/smarty/smarty/libs/plugins/modifier.escape.php
[2] htmlspecialchars() expects parameter 1 t

[2020-11-12 13:59] hibatallahAouadni commented on #21891
Hello @JevgenijVisockij

I managed to reproduce your issue with PS1.7.7.0-rc.1+build.4 and PS1.7.8.0
See the attached screen record below:

https://drive.google.com/file/d/11gXq9dsEWCkHb7H2KcqANida9gifx-B-/view

It's a regression cause I didn't manage to reproduce it with PS1.7.6.8

Thanks for report!

[2020-11-12 15:12] glpccreaciones commented on #21881
sorry, thanks I'll change the php

[2020-11-12 15:16] glpccreaciones commented on #21881
perfect, if that was the solution

[2020-11-12 15:19] prestascott commented on #14018
Thanks!

I tried to combine the 'select all' with the bulk actions button and put it in the table header and it looks like this:
![Desktop - 2](https://user-images.githubusercontent.com/54888056/98958290-6df70680-2502-11eb-9c10-616300fb170b.png)
![Desktop - 3](https://user-images.githubusercontent.com/54888056/98958297-6f283380-2502-11eb-9f9e-96966c4f1b1b.png)

We are surely optimizing spaces and

[2020-11-12 15:32] lusimeon opened #21893 "Product tags empty on product page. (ObjectPresenter and multidimensional attribute)"
#### Describe the bug
Product tags are empty when using `ObjectPresenter` ([Product page for example](https://github.com/PrestaShop/PrestaShop/blob/42833c4097071b46f37b76f6c347fb579447e3e1/controllers/front/ProductController.php#L1022)).

This is due to a non-recursive loop in [ObjectPresenter](https://github.com/PrestaShop/PrestaShop/blob/42833c4097071b46f37b76f6c347fb579447e3e1/src/Adapter/Prese

[2020-11-12 15:38] hibatallahAouadni commented on #21828
Hello @dariusakafest

Thanks for clarifying and your patience. i managed to reproduce your issue with PS1.7.4.1, PS1.7.6.8, PS1.7.7.0-rc.1+build.4 and develop.

## Steps to reproduce on PS1770 & develop:
1. BO > Catalog > Products > Create pack contains 2 or 3 products
2. set its price less than the really sum of all products prices (ex: P1: 19.12 + P2: 18.90 + P3: 12.90 = 50.92 > Pack_price: 40)

[2020-11-12 16:14] prestascott commented on #21676
Hello everyone!

Thanks @julienbuh for your report. :)

I studied both possibilities and here is the user flow of moving customers to another group from the **Shop Parameters > Customer settings' page**:
![userflow - customer settings](https://user-images.githubusercontent.com/54888056/98963319-c7adff80-2507-11eb-869e-3a301ca63846.jpg)

**Good points:**
- It makes sense to manage groups there beca

[2020-11-12 16:39] hibatallahAouadni commented on #21893
Hello @lusimeon

In this step, I beleive you didn't see any tags, is that so?
Cause I tried and no tags are displayed, I add this code below in PrestaShop/themes/classic/templates/catalog/product.tpl
(I add it between the `product_add_to_cart` block and the `product_additional_info` block

[code]
And all I can see is the Hello world text, see screenshot below:

![image](https://user-images.githubu

[2020-11-12 16:49] hibatallahAouadni commented on #21890
Hello @Noido

It seems to me you're facing this problem cause you didn't override/code correctly.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one
of our [support plans](https://www.prestashop.com/support).

Alternatively, you can

[2020-11-12 16:49] #21890 closed, assigned to nobody

[2020-11-12 16:50] Roomsmaniia opened #21894 "BO - Enable/disable members of a customer group isn't working and checkboxes for bulk actions aren't displayed for the 3 first users"
#### Describe the bug

In BO, customer settings -> customer. We can't select the 3 first users

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> Shop Parameters -> Customer Settings
2. Click on Groups -> Customer
3. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/73104293/98968851-8705b480-250e-11eb-9964-a4f5e8e066b6.png)

#### Additional inf

[2020-11-12 16:58] LouiseBonnard commented on #21887
Very good idea, thanks @nathanboschi25! Something similar to the screenshot below would be great:

**Use case 1**: by default, a checkbox allows the customer to configure his/her password by mail.

<img width="695" alt="Capture d’écran 2020-11-12 à 17 51 08" src="https://user-images.githubusercontent.com/32565890/98970268-0778e500-2510-11eb-95da-1f95aadd0750.png">

**Use case 2**: the merchant i

[2020-11-12 17:05] SD1982 opened #21895 "BO - Import File / The "delete all XXX before import" toggle button has no effect data are always deleted even if button is set to no"
## Describe the bug

In the import file page, if you try to import customers or addresses and if the button " delete all customers/addresses before import" is set to NO the defaults customers/addresses are still deleted

#### Expected behavior

The already existing datas should not be deleted if the button is set to NO

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Advandced

[2020-11-12 17:22] khouloudbelguith commented on #21895
Hi @SD1982,

I think it is similar to this https://github.com/PrestaShop/PrestaShop/issues/21565.

Is it?

[2020-11-12 17:36] ejfarsta commented on #12867
Does anyone works on this or found a solution? It has been more than a year, couple of PS version more and this problem still occurs ...

[2020-11-12 18:03] marshom commented on #19122
Hello @NeOMakinG , @florine2623 , @marionf
Any news about this problem ?
Thank you

[2020-11-12 18:30] LouiseBonnard commented on #10957
@matks, what do you suggest regarding this ticket then: should add to the next major kanban or divide this ticket into smaller tasks we will be able to prioritize version by version and close it?

[2020-11-12 18:42] SimonGrn commented on #21895
In #21565 it's for the similar IDs. @SD1982 could you try to change IDs in your database OR in the CSV file to verify it really deletes everything in the database and not just overwrite the existing entries ?

[2020-11-12 22:49] passio777x opened #21897 "Duplicate name for Carrier and Payement -> preferences"
#### Describe the bug

Hi, if you give 2 same names for carrier, then only of both is available in Payment->preferences
#### Expected behavior

Here they have 2 different names
<img width="2274" alt="Capture d’écran 2020-11-12 à 23 44 19" src="https://user-images.githubusercontent.com/43704805/99005465-26439f80-2541-11eb-9134-8469784a14ba.png">

Then you can see both of them in Payement->prefere

[2020-11-12 23:06] passio777x opened #21898 "Payment Method are based on Delivery address instead of Billing address"
Hi, in checkout page, you have invoicing address and delivery address.
The delivery address properly select the nice carriers.
However, the invoicing address do not select properly the nice payements methods.

Here, the delivery is for Portugal, and the invoice for France.
<img width="1100" alt="Capture d’écran 2020-11-12 à 23 58 48" src="https://user-images.githubusercontent.com/43704805/990068

[2020-11-13 07:53] hibatallahAouadni commented on #21897
Hello @passio777x

We are aware of this issue, it is already fixed in PS1.7.7.0. See screenshot below:

![image](https://user-images.githubusercontent.com/23308427/99042781-a1cb3e00-258d-11eb-84da-fd210e32ebbf.png)

This issue is a duplicate of #16094.
Here's the PR that fixed the problem #12379

Thanks!

[2020-11-13 07:53] #21897 closed, assigned to nobody

[2020-11-13 07:53] hibatallahAouadni commented on #21897
Duplicate of #16094

[2020-11-13 08:09] Almtesh opened #21899 "Error 500 on load of categories, clients, orders and customer threads"
### Describe the bug

When I'm on the admin section, I try to go to one of products categories, clients, orders or customer threads, I get a 500 error (Internal Server Error).

The problem pages contents can be seen on the stats page without problem.

#### Expected behavior

This should load the requested page, as seen in the demo website.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-11-13 08:31] presteus opened #21900 "PrestaShop Validator do not respect PHP CS Fixer fixes"
#### Describe the bug

The tools PHP CS Fixer complains about **no_blank_lines_after_phpdoc** when you fix it, PrestaShop validator complains to remove the blank line after License.

#### Expected behavior

Validator must respect PHP CS Fixer.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a file without space after License.
2. Run PHP CS Fixer tool to fix the problems
3. Su

[2020-11-13 08:31] Julievrz commented on #21105
@marionf I modified my first comment and added an "s" to "page". However, I'm really not sure about adding an "s" to "product" as I think it is not grammatically correct to write "products listing pages".

[2020-11-13 08:34] florine2623 commented on #21898
Hi @passio777x ,

Thanks for the report.

Steps to reproduce :
- In BO, enable check payment for France
- Create a carrier that is available to Portugal
- In FO, Add product to cart
- Start order process
- In step 3 - Addresses, indicate different address for billing (France) and delivery address (Portugal)
- In Step 4, you can't pay by check
Issue : Payment Method are based on Delivery address in

[2020-11-13 08:37] SimonGrn commented on #21900
The Validator is not part of the Open Source Project, it is a closed source software ran by the PrestaShop company.
It is in no way linked to this repository.

You can contact the Addons team [here](https://addons.prestashop.com/en/contact-us).

Thank you for your understanding.

[2020-11-13 08:37] #21900 closed, assigned to nobody

[2020-11-13 08:39] SimonGrn commented on #21900
The Validator is not part of the Open Source Project. It is in no way linked to this repository.

You can contact the Addons team [here](https://addons.prestashop.com/en/contact-us).

Thank you for your understanding.

[2020-11-13 08:39] florine2623 commented on #21899
Hi @Almtesh ,

Please downgrade your PHP version to 7.2, more info on server configuration here :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
You could als

[2020-11-13 08:39] #21899 closed, assigned to nobody

[2020-11-13 08:43] SimonGrn commented on #21898
Hello @passio777x
Please follow the template when creating an issue. If you see a pre-filled body text when you click on "Creating a new issue", it's for a good reason: we need every detail correctly ordered.

Thank you for your understanding.

[2020-11-13 08:44] LouiseBonnard commented on #12051
Since #21372 has been merged, I close this issue and add it to the _done_ work. :-)

[2020-11-13 08:44] #12051 closed, assigned to jolelievre

[2020-11-13 08:49] NeOMakinG commented on #14001
Looks fine now on develop, should be fixed :)

[2020-11-13 08:49] #14001 closed, assigned to NeOMakinG

[2020-11-13 08:49] Almtesh commented on #21899
I don't get “we were not able to reproduce your issue with the provided information”. You tell me Prestashop 1.7.6.8 does not work with PHP 7.3, but you got it to work when I can't.

[2020-11-13 08:56] laurentmacca opened #21901 "Add subject to email / no object for ... found inside db"
#### Describe the bug

When I create a new transactionnal email no input for subject is available inside Translation email/theme/lang.
Thank you.

#### Expected behavior

Change/modify email subject

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Translation'

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
![image](https://u

[2020-11-13 09:00] florine2623 commented on #21901
Hello,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mind that

[2020-11-13 09:00] #21901 closed, assigned to nobody

[2020-11-13 09:10] SD1982 commented on #21895
Hi @khouloudbelguith & @SimonGrn after more investigation yes it's totally related to #21565
I close this one !
Thanks !

[2020-11-13 09:10] #21895 closed, assigned to nobody

[2020-11-13 09:20] SimonGrn commented on #21899
Hello @Almtesh
It's because we don't reproduce when we test with PHP 7.2.

[2020-11-13 09:36] HartLarsson commented on #17856
Hi,
i've exactly the same error many time and there is no way to understand what template missing.
Is there a way more then a DEBUG on to discover what template missin cause the error?

[code]

[2020-11-13 09:46] SimonGrn commented on #21899
I just answer this bit I didn't notice earlier:

There is no "preset". "Food and Restaurant" is just the "Main Activity" of your shop, it has absolutely no impact on the demo data which is always the same set: a bunch of clothes, mugs and posters.
![image](https://user-images.githubusercontent.com/49909275/99058391-72243200-259d-11eb-9f14-2b2b2e01b5be.png)

[2020-11-13 09:54] khouloudbelguith commented on #21895
Duplicate of #21565

[2020-11-13 10:10] #21850 closed, assigned to matks

[2020-11-13 10:14] NeOMakinG commented on #19122
It should be handled by a @PrestaShop/prestashop-maintainers , just keep an eye when it's assigned to someone or when it has a linked PR

[2020-11-13 10:40] LouiseBonnard commented on #21898
As far as I know, currently, it is not possible to display payment methods based on the delivery or invoice address. So it is rather an improvement than a bug, I switch labels. Yet, I think it could be a nice idea to allow merchants to select on which address they want to base payment methods. :-)

[2020-11-13 10:45] khouloudbelguith opened #21902 "BO - Order page - the Canceled status is repeated twice"
#### Describe the bug

In the BO > Orders > Order detail page, when we cancel products => the Canceled status is repeated twice.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create order from the FO with only one product
2. Go to BO > Customer Service > Marchandise return > Enable returns
3. Go to BO > Order pa

[2020-11-13 11:09] khouloudbelguith opened #21903 "[Multi-invoices] BO - Order page - When canceling Products - the total invoice is NOK"
#### Describe the bug

When we cancel an order with multi-invoices, only one invoice is ok

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create order from the FO with only one product
2. Go to BO > Customer Service > Marchandise return > Enable returns
3. Go to BO > Order page > Last order created
4. In the Documents tab > generate an invoice
5. Add a product to the order with cre

[2020-11-13 11:44] HartLarsson commented on #20921
i've applied the patch as you suggested but continue to receive the same error:

`[13-Nov-2020 11:06:48 Europe/Rome] PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <--
  thrown in /home/www/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177
[13-Nov-2020 11:06:51 Europe/Rome] PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$

[2020-11-13 11:44] khouloudbelguith commented on #21828
Hi @PrestaShop/qa-functional

This issue should be fixed with this PR: #21732

Thanks!

[2020-11-13 12:03] zuk3975 commented on #14770
@MatShir Enabling/disabling product resets Redirect options.
I found this in Product::toggleStatus(), please approve this is expected behavior and add to specs.

* When I enabe product, its redirect type becomes 404 and redirect target 0.
* When I disable product, its redirect type becomes 301-category and redirect target 0.

RedirectType 404 means once product is offline(disabled) it will show "P

[2020-11-13 12:06] saradmi opened #21904 "No invoice on the main order page only in documents tab"
#### The invoice doesn't appear on the order page
the option is grey with "no invoice",
but the invoice appears in the documents tab of the order page,
also the orders without an invoice don't seem to be counted in the statistic page

#### Steps to Reproduce

1. Go to "order"
![1](https://user-images.githubusercontent.com/63447753/99069340-77d64380-25ae-11eb-9e3e-f8b1a823b186.png)
2. Click on "ord

[2020-11-13 12:15] DianaEFB commented on #20249
Hello alep93.
Have you found a solution to this problem? I am experiencing the same situation.

[2020-11-13 12:23] khouloudbelguith opened #21905 "Multishop - BO - Order page - All shops/Default group is selected - when we try to cancel a product an error is displayed"
#### Describe the bug

Multishop - BO - Order page - All shops/Default group is selected - when we try to cancel a product an error is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Have an install with Multishop enabled and at least two active shops
1. Go to BO > Customer Service > Marchandise return > Enable returns
2. Go to BO > Orders > Order details (All shops is sel

[2020-11-13 12:23] khouloudbelguith commented on #21905
Related to https://github.com/PrestaShop/PrestaShop/issues/9609

[2020-11-13 12:30] florine2623 commented on #21904
Hi @saradmi ,
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
You can go to PrestaShop [forum](https://www.prestashop.com/forums/) to find some answers.

We will close this issue.

Thank you

[2020-11-13 12:30] #21904 closed, assigned to nobody

[2020-11-13 12:41] rm-info commented on #15783
Couldn't figure out how to fix that correctly (variable $product.specific_references seems to appear from nowhere...), so I did the following:

[code]
If someone else has a better idea, I'm all ears.

[2020-11-13 12:48] laurentmacca opened #21906 "ERROR 500 when clearing cache"
#### Describe the bug

As soon a I clear cache it returns an ERROR 500. When I refresh admin page ERROR 500 disappears and cache has been cleared.
Thanks.
#### Expected behavior

Working as usual.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Performances'
2. Click on 'Clear cache'
4. See error 500

#### Additional information

* PrestaShop version: 1.7.6.8
* PHP version: 7

[2020-11-13 12:53] florine2623 commented on #21906
Hi @laurentmacca ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
![Capture d’écran 2020-11-13 à 13 51 49](https://user-images.githubusercontent.com/16019289/99074146-81b07480-25b7-11eb-8d95-748f58d79ead.png)

You can check the Pres

[2020-11-13 12:53] #21906 closed, assigned to nobody

[2020-11-13 13:17] matks commented on #21815
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21816

[2020-11-13 13:17] #21815 closed, assigned to matks

[2020-11-13 13:24] Julievrz commented on #9561
@LouiseBonnard After a little explanation from Mathieu, here is my wording suggestion:

"Error in the web server configuration: the set_time_limit function must be enabled on your web server for PrestaShop to run correctly." in Install.

[2020-11-13 13:30] marionf commented on #15783
Thanks for diving into this @rm-info

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

This way the prestashop's maintainers will be able to review it and they can suggest changes if necessary

Thank you!

[2020-11-13 13:38] rm-info commented on #15783
@marionf I'm not used to the pull request thing, but I guess it's proposing a fix to add to the official code.
I'm not sure this would be a good idea since my solution is real crap. But I couldn't figure out how to fix the right way.
Although, as long as we don't have the right answer, this can help.

[2020-11-13 13:49] LouiseBonnard commented on #9561
Very clear, thanks @Julievrz! Do you know if it is likely to be frequently displayed? If yes, maybe a more user-friendly word than 'Error' should be picked, like _Limitation_ or _Warning_? It might discourage users to see error notifications pop in the middle of the installation process.

[2020-11-13 14:10] Julievrz commented on #9561
@LouiseBonnard Mathieu told me that this error could be found elsewhere. I like the idea of using the word limitation, especially since @matks said "So the software is not wrong but it's limited. It is a limitation."

**"Limitation in the web server configuration: the set_time_limit function must be enabled on your web server for PrestaShop to run correctly." in Install."**

[2020-11-13 14:13] LukasK13 commented on #19124
Hey @cedricfontaine
It would be awesome if you could share your solution.
Thank you.

[2020-11-13 14:42] Peter-Liska opened #23744 "[ps_emailalerts] HTML validator: Nested forms are not allowed"
#### Describe the bug

FO product page contains not valid HTML "error: Nested forms are not allowed"

#### Expected behavior

HTML page should contain valid HTML. It's important for quality and it can make browsers behavior wrong.

#### Steps to Reproduce

Steps to reproduce the behavior:

It is needed to have ps_emailalerts installed.

1. In module page, turn on the option for customers to get no

[2020-11-13 15:20] LouiseBonnard commented on #20862
Right! I discussed with @prestascott and, indeed, the warning solution is less aggressive to users than the modal window so we've decided to drop the first idea and focus on the warning notification. Our job is to warn the users that they will have difficulties if they do not use the right PHP version. Once this message is sent, it is up to the users to get a suitable PHP version.

Here are the sp

[2020-11-13 15:35] khouloudbelguith commented on #17563
Hi!

I manage to reproduce the issue on develop branch (1780).
I will re-open the issue.
![image](https://user-images.githubusercontent.com/16067358/99089962-479e9d00-25ce-11eb-8f6f-ac5940924810.png)

Thanks!

[2020-11-13 15:55] catlynx opened #21910 "Child theme doesn't load parent modules and load from other child theme"
#### Describe the bug

Child them loads module template from an other child theme in case If a module folder exists or not in a child theme

#### Expected behavior

A child them must load module template from the parent them "**classic**" or from the current child them if the module template exists

#### Steps to Reproduce

Multistore enabled with 2 stores
DEV mode enabled

**Store 1** has child t

[2020-11-13 16:02] hibatallahAouadni commented on #9569
Hello,

This bug still persist with PS1.7.6.8 and PS1.7.7.0-rc.1+build1. See the attached screen record below:

https://drive.google.com/file/d/1Oxvdu0vSALMFQ_WHaiRh1HJEFyNY0eQY/view

Thanks!

[2020-11-13 16:10] barbosatrix commented on #21761
It seems that is relate to payment method from mercadopago module because with another payment method it works fine.

[2020-11-13 16:12] barbosatrix commented on #21761
It seems that is relate to payment method from mercadopago module because with another payment method it works fine.
But im still have a question. Why if I use the tax excluded the price of the discount is increased?

[2020-11-13 16:18] hibatallahAouadni commented on #17109
Hello @tunam007

This issue is related to this one #9585, it means when we fix the latest, your problem should be fix.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-13 16:18] #17109 closed, assigned to nobody

[2020-11-13 16:18] hibatallahAouadni commented on #17109
Duplicate of #9585

[2020-11-13 16:30] florine2623 commented on #21910
Hello @catlynx ,

After doing all your steps, when opening the console, I only see the module being related to classic theme :
![Capture d’écran 2020-11-13 à 17 24 38](https://user-images.githubusercontent.com/16019289/99095569-97349700-25d5-11eb-8e7d-1d1e7f763ae3.png)

Shop 1 -> Dark
![Capture d’écran 2020-11-13 à 17 28 47](https://user-images.githubusercontent.com/16019289/99095703-c4814500-

[2020-11-13 16:33] hibatallahAouadni commented on #21761
Hello @barbosatrix

So, your issue is not a PrestaShop core bug but a module problem.
We will close this issue.

PS: about your question

if You encounter a problem with this topic, could you please open a new issue.

Thanks!

[2020-11-13 16:33] #21761 closed, assigned to nobody

[2020-11-13 16:41] ilevennet commented on #19245
Yes, it's true!

thank you!

[2020-11-13 16:54] barbosatrix opened #21911 "Issue coupon discount with tax excluded"
Describe the bug

I created a $25000 pesos coupon for every user on the platform. When the user goes to pay, prestashop add some value to the coupon just if I set tax-excluded option on the Back office discount page.
I have free delivery when the order is up to $100000. If I let the coupon with tax included and the order is up to $100000, it not finish the chekout. If I let the coupon with tax exc

[2020-11-13 17:09] #21441 closed, assigned to NeOMakinG

[2020-11-13 17:10] #21571 closed, assigned to PululuK

[2020-11-13 17:11] #21034 closed, assigned to nobody

[2020-11-13 17:12] #9948 closed, assigned to nobody

[2020-11-13 17:16] juraj1000 opened #21913 "Number of items is not updated in the cart"
#### Describe the bug
If you're in the cart in FO and remove all items then number of items is not updated in the cart.

#### Expected behavior
The number should be immediately updated to zero if all items are removed from the cart.

#### Steps to Reproduce
1. Go to FO
2. Add one item to the cart
3. Press the button Proceed to checkout
4. Press the icon Delete and remove item from the cart
5. Ther

[2020-11-13 17:18] HartLarsson commented on #21911
If you specify a voucher ammount without tax and your cart add the tax, the voucer will be incremented by the tax itself.
if you want to discount the total cart (tax included) by your voucher value the voucer must be set to be tax included.
In case your customer have no tax bonus (export) the voucher will be decrased by the same % of tax too.

[2020-11-13 17:50] remidu66 opened #21914 "Probleme ID produits sur module best sellers"
Bonjour , je rencontre un problème que je pense minime mais étant novice je n'arrive pas a le résoudre !!

Sur ma page d'accueil de Prestashop j'ai un module TT-Best sellers ( meilleures ventes ) mais j'ai un produit qui s'affiche en défaut alors que je n'ai plus ce produit.( Voir fichier joint ) . Quant je clique sur le produit cela m'envoie sur une page produit ou il est à 0,00€ , sans image et

[2020-11-13 17:59] ballashop opened #21915 "Regenerate thumbnails does not finish operation then the server show error 500"
#### Describe the bug

Dear staff, we have tried to regeneration thumbnails but the operation does not end.
We contacted our dedicated server support, they set all the necessary parameters for the script to work. But it wasn't enough.
they set up the max_execution_time value (also in fastcgi) of 900 seconds (15 minutes), but the process is already terminated at 7 -8 minutes, after an always equal

[2020-11-13 18:01] SimonGrn commented on #21914
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
**Your issue MUST BE written in English**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can pro

[2020-11-13 18:01] #21914 closed, assigned to nobody

[2020-11-13 18:01] SimonGrn commented on #21914
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-13 18:03] SimonGrn commented on #21913
Hello,

thank you for your issue. We are aware of this issue.

I close this one as it's a duplicate.

Thank you.

[2020-11-13 18:03] #21913 closed, assigned to nobody

[2020-11-13 18:03] SimonGrn commented on #21913
Duplicate of #19733

[2020-11-13 22:35] juraj1000 opened #21916 "Incorrect message in BO if there are 2 payments with shipping fee"
#### Describe the bug
There is one invoice with total amount 144.80 € with two payments, PayPal payment is 99,80 € and Bank transfer is 45,00 €. The order was fully refunded.
There is displayed incorrect total amount 135.00 € in more places in BO. The amount 135.00 € is price for goods and "missing" 9,80 € is price for shipping.

PS displays incorrect amounts in these cases:

**1. BO >message in t

[2020-11-14 08:15] Mreco83 commented on #18109
When will this bug be fixed? The first time the bug was reported 9 months ago, it's not serious that nobody does anything about it for so long.

[2020-11-14 09:50] jeckyl opened #21917 "Impossible to change shop name without multi store"
#### Describe the bug

It is impossible to change the name of the store.

#### Expected behavior

I made a mistake when installing PrestaShop in the name of my store.

When I realized this, I went directly to change this information in the store's contact information.

Afterwards I added a logo to my store and strangely enough, the name of this logo still contained the error I made during the inst

[2020-11-14 16:59] freepandagraphist opened #21918 "Cannot import the template"
![prestashop bug](https://user-images.githubusercontent.com/74464778/99152580-eb597d00-26a2-11eb-983a-2baf8bd8ff87.JPG)
 As you can see in the image, i cannot import from the FTP, i can see the file's name on the list but there's a problem with the scroll, i cannot select anything......
I think it's a prestashop problem, i sent an email but got no answer.....

[2020-11-14 17:30] SimonGrn commented on #21918
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-14 17:30] #21918 closed, assigned to nobody

[2020-11-14 17:37] freepandagraphist commented on #21918
i don't see how to explain it better...... there is a problem in the field adding a theme, "import from FTP"  as you can see in the picture, I cannot choose anything, the scroll window doesn't open. It is a bug from the website prestashopp.....

[2020-11-14 18:07] SimonGrn commented on #21918
Hello,

we have a template to fill up when you click on "New Issue". You deleted it all, and now we don't have crucial information like your PrestaShop version, or your PHP version, or what steps you used exactly.
We are not machines, we are real humans and using the template is the fastest and most efficient way to help us help you. We spend our time to answer and help people, we just ask for a l

[2020-11-14 18:19] freepandagraphist commented on #21918
hello, I don't think it is my theme that is wrong, because i can't even select the included ones in the list... I'm gonna call prestashop directly i think, thank you for trying to help anyway...

[2020-11-14 18:20] SimonGrn commented on #21918
There is nothing wrong with your theme, the problem is your PHP version. Please read my comment again.

[2020-11-14 18:33] freepandagraphist commented on #21918
I'm working on MAMP and my version of PHP is 7.4.1, and in the requirements it is written 7.1 or later....So it should work then....

[2020-11-14 18:36] freepandagraphist commented on #21918
Ok, i went to the 7.3 version and it works so thank you a lot :D

[2020-11-14 18:53] thdouk opened #21919 "500 response when sending a WebService Get for a Product"
#### Describe the bug

A 500 error response occurs when invoking the WebService Get request for any product, for example ```api/products/724```.
[code]
The issue most probably is either data/configuration specific to my setup, since the shop has upgraded multiple times since 1.4.x that I started using prestashop.

WebService is enabled with a token that has access to products. This was working on

[2020-11-14 20:46] SimonGrn commented on #21918
If you're using 1.7.6.8 (you didn't say), PHP must be 7.2 maximum.
![image](https://user-images.githubusercontent.com/49909275/99156650-d987d200-26c2-11eb-9ed7-9430dd446e11.png)

[2020-11-14 20:49] matks commented on #18109
Hi @Mreco83 it's actually very serious that nothing is happening about this bug for so long. The reason is simple: the project team resources are limited and we have a [huge backlog](https://github.com/PrestaShop/PrestaShop/issues) with more important items to process for now. Until the issues that are more critical have been fixed, the project team will not look at this bug: we have to deal with

[2020-11-14 22:47] devillers opened #21920 "CSV PRESTASHOP CANT MATCH COLUMNS"
### Hello
I facing an issue when importing my product_items.csv file.
I can't match each column of my source file to one of the destination columns. Most of the fields names have disappeared ,

Names as **category(x,y,z) reference** etc are missing...

link to my screenshot[https://drive.google.com/file/d/1VOUlXwAcI7txejjazbUsojSYxf9CjXmJ/view?usp=sharing](url)

could you please help 👍

Thanks Dav

[2020-11-15 05:47] karolyall opened #21921 "Não consigo acessar a pagina administrador do prestashop do hosgator"
Faço a instalação do plugin, mas ao acessar a pagina de administrador para editar aparece "Esta página não está funcionando"

[2020-11-15 07:09] Mreco83 commented on #18109
Hello. I understand everything, however, this error should be treated as a priority, especially since it has a large impact on the website seo meanwhile, as you can see in the topic https://github.com/PrestaShop/PrestaShop/issues/18402, there are a lot of these errors and no one does anything with them. Isn't it better to finally improve one version of prestashop than keep releasing new ones with

[2020-11-15 07:43] SimonGrn commented on #21920
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-15 07:43] #21920 closed, assigned to nobody

[2020-11-15 07:44] SimonGrn commented on #21921
Hello,

Please open a new issue in English and follow the template.

Thank you.

[2020-11-15 07:44] #21921 closed, assigned to nobody

[2020-11-15 09:22] JevgenijVisockij opened #21922 "With new switch design if form doesn't have default value for switch input it will not be visible until you click on it."
#### Describe the bug

The new switch button design relies on value to be checked. If none of the values are checked the button will not be visible until you click on it(thus making one of the values checked). One example is Add new Currency.
My suggested solution is to either change CSS so there is a fallback in case of neither value being selected or modify switch type so even if no default valu

[2020-11-15 14:02] rithiksachdev opened #21925 "Pre-filled registeration form with previous customer data"
It does not happen all the time, sometimes it is an issue with google chrome.

[2020-11-15 15:09] SimonGrn commented on #21925
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-15 15:09] #21925 closed, assigned to nobody

[2020-11-15 15:16] icemansparks commented on #21708
Rounding on each line is the only working option when using the PayPal module. If another option is selected, carts with multiple items will lead to errors on the order process.

Keeping this in mind I would hope for a fix since using PayPal as payment option is probably rarely to be considered an „edge case“.

[2020-11-16 07:53] hibatallahAouadni commented on #21915
Hello @ballashop

I didnt' manage to reproduce your issue with PS1.7.6.8, see screen record below:

https://drive.google.com/file/d/1G-joBlS7EItBL4LaZbbYfnjaiBNNvi-l/view

But, could you please increase your **Upload Max File Size** to **512M** like in the screenshot below:

![image](https://user-images.githubusercontent.com/23308427/99225897-1b129d00-27e9-11eb-9992-b7896006e082.png)

Please check

[2020-11-16 08:32] hibatallahAouadni commented on #21922
Hello @JevgenijVisockij

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #21842.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: there's Epic about the UI-KIT bugs #21832

Thanks!

[2020-11-16 08:32] #21922 closed, assigned to nobody

[2020-11-16 08:33] hibatallahAouadni commented on #21922
Duplicate of #21842

[2020-11-16 08:44] Gipielle commented on #21708
I am touched that you have noticed this error, it has been present since prestashop 1.4 if I remember correctly.

[2020-11-16 09:06] LouiseBonnard commented on #21189
Hi @NeOMakinG, should I move this issue to the _to do_ column?

[2020-11-16 09:15] hibatallahAouadni commented on #21916
Hello @juraj1000

I didn't manage to reproduce your issue with PS1.7.6.8, see the attached screen record below:

https://drive.google.com/file/d/1FQ7OlIUcYOWSStzXrFB8dOHiPxbFX4K0/view

Could you please check and feedback.

Thanks!

[2020-11-16 09:51] matks commented on #18109
Hi @Mreco83 I do not sort the backlog, the Product Team does 😄  and they are always open to discussion. You can discuss with them on our [Slack channel](https://github.com/PrestaShop/open-source/blob/master/slack/readme.md) if you want to highlight that one issue is not considered critical enough 😉  . As for me I trust their work: they provide me a least of bugs/features to process and I go from t

[2020-11-16 09:55] atomiix opened #21926 "Release 1.7.6.9 🚀"
This issue tracks the status of the PrestaShop 1.7.6.9 release

The 1.7.6.9 version will be a security fixes release only.

### Information

Q | A
--|--
**Type** | Patch version
**Estimated release** | 2020-11-**
**Delivery date** | 2020-11-16

### Current status

- [x] Development
- [x] Build
- [x] QA validation
- [x] [Release](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.6.9)
- [x]

[2020-11-16 09:56] marionf commented on #21828
Hi @RomainBocheux

Could you check if this issue is well fixed on develop following the merge of #21732 ?

Thank you :)

[2020-11-16 10:03] hibatallahAouadni commented on #21919
Hello @thdouk

I didn't manage to reproduce your issue with PS1.7.6.8, see the attached screen record below:

https://drive.google.com/file/d/1hiUMKRuh2f3rTOEJOVOjjpK6Cm2zwDhF/view

Could you please provide more infos, like is there any errors launched while upgrading your store.

Thanks!

[2020-11-16 10:10] Brunettib78 opened #21927 "erreurs rich snippets in google search console in productcomments module"
Hello, the "Avis Customer V4.1.0" module generates google errors. How to solve this problem?
thks
see result google rich snippets testing tool
https://search.google.com/test/rich-results?id=Y05sc4-Mxxav1rdO22Q7LA

Version de PrestaShop : 1.7.6.8
Version de PHP : 7.2.34

URL de la boutique : http://stagereiki.com/boutique/
Thème actif : classic

[2020-11-16 10:11] PierreRambaud commented on #20739
FYI, we will have to update GuzzleHttp, TranslationsToolsBundle, Circuit-breaker, and many other packages that are no longer compatible with Symfony 4.

[2020-11-16 10:17] hibatallahAouadni commented on #21917
Hello @jeckyl

Of course you can change your store name at any time you want, please follow the steps below:

1. BO > **Configure** > **Shop Parameters** > **Contact**
2. Go to **Stores** tab
3. You can edit you shop name in **Contact Details** form (see screenshot below)
4. **Save**

![image](https://user-images.githubusercontent.com/23308427/99240748-37b8d000-27fd-11eb-8caa-d169055592c2.png)

Yo

[2020-11-16 10:39] khouloudbelguith commented on #21903
Hi!

As discussed with @marionf, this is not a regression.
I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/99243060-61272b00-2800-11eb-86a5-2ca0c1a89533.png)

Thanks!

[2020-11-16 10:39] jolelievre opened #21929 "When I toggle product status from search page it overrides previously set redirection options"
#### Describe the bug

When I toggle product status from search page it overrides previously set redirection options, wether you enable or disable the product it uses `Product::toggleStatus`
https://github.com/PrestaShop/PrestaShop/blob/59f2ca0e1ec873195be0a3d879415c273b7d126a/classes/Product.php#L1129

This method forces the reset of the redirection options, so any configuration previously set in

[2020-11-16 10:49] teemumantynen opened #21930 "PHP 8 issue: Compile Error: Class PrestaShop\PrestaShop\Adapter\Entity\Attribute may not inherit from final class (Attribute)"
This isn't a bug of PrestaShop but a compatibility problem rising from the new features of PHP 8 even when not trying to run PrestaShop on PHP 8. But I thought I should write about my findings in case someone else is in trouble with the same error. And  maybe someone has a more sustainable solution than my quick fix which I describe in the end.

**The problem:**

While trying to open BO orders vie

[2020-11-16 10:52] eternoendless commented on #20739
Symfony 4 uses guzzle? O_o

[2020-11-16 10:58] sarahdib opened #21932 "[UI-KIT] - Improve input in stock page"
#### Describe the bug

Improve input in stock page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin -> Stock
2. Click on increase when the value is 0
3. See error

**Screenshots**

https://drive.google.com/file/d/1XVM5nJqeMsoBkc5uk2etsaCSYydSblTG/view

#### Additional information

* PrestaShop version: develop
* PHP version: 7.1

[2020-11-16 10:59] matks commented on #21930
Hi @teemumantynen ! thanks for the report

We already know that, indeed, PHP8 has not made things easy for us 😅

A contributor started something to solve it in https://github.com/PrestaShop/PrestaShop/pull/20710

We aim for php8 compatibility for PS 1.7.9.
- PS 1.7.7 brings php7.3 compatibility
- PS 1.7.8 brings php7.4 compatibility

[2020-11-16 11:01] jolelievre commented on #14770
@zuk3975 I think this is a bug so I opened an issue for it https://github.com/PrestaShop/PrestaShop/issues/21929

[2020-11-16 11:01] teemumantynen commented on #21930
Great! Thank you. I'll close this issue.

[2020-11-16 11:01] #21930 closed, assigned to nobody

[2020-11-16 11:07] marionf commented on #21894
The bulk action on this page is only to enable/disable members and isn't working, even just for a line

[2020-11-16 11:31] hibatallahAouadni commented on #21929
Hello @jolelievre

I managed to reproduce the issue with develop. With PS1.7.6.8, it couldn't be reproduce it cause of another issue #18708.
See the attached screen record below:

https://drive.google.com/file/d/1AuVUZ8cXczh5611K1--LlphHSeyUPA5Z/view

Thanks!

[2020-11-16 11:32] khouloudbelguith commented on #18708
Hi!

This issue is fixed in the develop branch (1780).
I close the ticket.

Thanks!

[2020-11-16 11:32] #18708 closed, assigned to nobody

[2020-11-16 11:37] jeckyl commented on #21917
I'm talking about the name of the logo file.
When you put a logo, strangely a choice was made to name it with the name of the store, except that this name is not good and if you change it of course nothing is changed on the file name and even worse even if you load a new logo it's always the old name that is used.
I'm going to try to take the time to make a complete video to explain something that

[2020-11-16 11:44] PierreRambaud commented on #20739
No, but csa guzzle bundle uses
[code]
It's time to update our dependencies instead of continuing forking the world :(

[2020-11-16 11:47] Jeremy-VERNET commented on #21707
For those that can help, the problem is now resolved.

**1)** The "New" label did not disappear because I modified the date of the products in _ps_product_ but the one that is taken into account for the label is _ps_product_shop_.

**2)** Then, for the problem where with each modification, it modifies the dates oddly, it is surely due to the differences of dates which were present (some in 2031, o

[2020-11-16 11:52] Jeremy-VERNET opened #21933 "When all products have the exact same date_add/date_upd, the pagination doesn't work properly"
#### Describe the bug

In order to fix [this bug](https://github.com/PrestaShop/PrestaShop/issues/21707), I had to apply the current date to the _date_add_ and _date_upd_ fields, for all my products, in the _ps_product_ and _ps_product_shop_ tables.

This triggered another problem. Product pagination was set based on the date the product was added, and since all products had the exact same date, p

[2020-11-16 12:44] hibatallahAouadni commented on #21927
Hello @Brunettib78 ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- steps to reproduce
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug re

[2020-11-16 12:58] eternoendless commented on #20739
You know that updating Guzzle will break a lot of modules

[2020-11-16 13:02] matks commented on #20739
@eternoendless we will face this issue over and over in the incoming years. Even if we manage to release 1 major version per year, it will only mean "yeah this is a major update so we cant break whatever we want".

What if the root cause is different?

Hexagonal architecture teaches us not to rely on implementations but on interfaces to allow easy replacement of component. Maybe our mistake was to

[2020-11-16 13:02] PierreRambaud commented on #20739
I know, but we can't continue to update forks, it's ugly and against all good practices :/

[2020-11-16 13:11] PierreRambaud commented on #21926
Docker images are available: https://hub.docker.com/repository/docker/prestashop/prestashop/tags?page=1&name=1.7.6.9

[2020-11-16 13:15] marionf commented on #21708
To be specified:
Round on each item = product unit price rounded
Round on each line = total of the line rounded

[2020-11-16 13:20] SimonGrn commented on #21933
Hello,

I'm not sure I follow, because the initial issue you pointed (#21707) is the result of a manipulation you made yourself where you broke the integrity of your database.
So in this issue you're asking for an improvement to fix a problem introduced by your initial mistake, that wouldn't exist if you didn't make this manipulation ?

I don't recall somebody else having this problem and since it

[2020-11-16 13:21] jeckyl commented on #21917
I hope you will come to understand the concern here 👍 https://www.loom.com/share/f176166966054a8390653e9b415ccdff

[2020-11-16 13:32] #21827 closed, assigned to nobody

[2020-11-16 13:41] hibatallahAouadni commented on #21911
Hello @barbosatrix

Like @HartLarsson said, that's the normal behavior.
I attached a screen record for you to understand better the process:

https://drive.google.com/file/d/1P673tR20jhSy9_lnH43ALrwi1n8Chs5k/view

So, please change the voucher tax to **tax included** to have your 25000$ discount, see the attached screen record below:

https://drive.google.com/file/d/1CTaGonHHtazzNmd2ppnOSXfVASWFXL

[2020-11-16 13:44] Brunettib78 commented on #21927
Hi,
thanks for your reply.
I change the title post in english
please find more informations

URL shop : http://stagereiki.com/boutique/
Thème classic

about server setup and configuration :
serveur Linux 1 SMP Debian 4.9.168-1+deb9u2 (2019-05-13) x86_64
in Apache/2.4.25 (Debian), PHP version : 7.2.34

about SQL:
Version de MySQL : 10.3.22-MariaDB-0+deb10u1
Serveur MySQL : 91.216.107.164
browser Ch

[2020-11-16 13:49] matks commented on #21927
Related to https://github.com/PrestaShop/PrestaShop/issues/18692

[2020-11-16 13:51] Nakira commented on #15313
I have the same issue.

After digging a bit in code seems like
```/src/Adapter/Presenter/Product/ProductLazyArray.php``` receives $product array with allow_oosp value of 0.

I double checked my config and the product is configured to allow oos orders.

version of prestashop : 1.7.6.8
Tested without any override.
The issue is that i cannot reproduce the bug with classic theme because the allow_oosp

[2020-11-16 13:51] khouloudbelguith commented on #21708
Hi!

I did not manage to reproduce the issue with PS1768
![image](https://user-images.githubusercontent.com/16067358/99260117-42825d80-281b-11eb-973e-8e9b6db008a7.png)

Thanks!

[2020-11-16 13:54] #21840 closed, assigned to nobody

[2020-11-16 13:56] marionf commented on #21714
To do: verify how this feature is used

[2020-11-16 14:11] ballashop commented on #21915
Hi @hibatallahAouadni
thanks for replying me, unfortunately it didn't work, the server technicians support ask us for more specifications, what does PrestaShop need to complete the execution?
The error is shown before the server time completes.
Where can we find the error? In which log?
Thanks a lot for any reply.
Balla

[2020-11-16 14:13] hibatallahAouadni commented on #21917
Hello @jeckyl

Thanks for the clarification, I did manage to reproduce the issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4.

Steps to reproduce the issue:
1. BO > **Configure** > **Shop Parameters** > **Contact**
2. Go to **Stores** tab
3. Edit you shop name in **Contact Details** form
4. **Save**
5. **Design** > **Theme & Logo** > **Theme & Logo** tab
6. Upload your new logo
7. **Save**
8. Under

[2020-11-16 14:18] jeckyl commented on #21917
I can't make the choice to fix this bug as I would like since it requires making strategic choices on the whole PrestaShop code and I don't think it's the responsibility of a community member to make this kind of choice.
I'm surprised that you classify this bug as minor knowing that it calls into question the use of an important PrestaShop variable PS_SHOP_NAME or shop->name because it impacts a v

[2020-11-16 14:19] PierreRambaud commented on #21493
X-Forwarded-For HTTP header should not be used for any Access Control List (ACL) checks because it can be spoofed by attackers. Use the real IP address for this type of restrictions.
But if the visitor is using a proxy, the REMOTE_ADDR field will contain the address of the proxy instead of the visitor. To be able to see the address of the visitor, many proxies add a header to the request with this

[2020-11-16 14:23] hibatallahAouadni commented on #21915
Hello @ballashop ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- **debug mode report** (activate the debug mode)
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a

[2020-11-16 14:25] atomiix commented on #21926
PrestaShop 1.7.6.9 is now available on [Github](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.6.9), [prestashop.com](prestashop.com) and through the 1-Click upgrade plugin!

[2020-11-16 14:25] #21926 closed, assigned to nobody

[2020-11-16 14:25] ballashop commented on #21915
Dear @hibatallahAouadni
thanks for your replying, I'll send all your request to the server support, I'll let you know asap.
Balla

[2020-11-16 14:26] matks commented on #21926
Congratulations @atomiix and thanks for the hard work

[2020-11-16 14:29] hibatallahAouadni commented on #21917
Please check this document to understand how we handle the [issue severity](https://build.prestashop.com/news/severity-classification/)

[2020-11-16 14:31] jeckyl commented on #21917
Don't worry, if the name of a site is not important it's not me that will be bothered.

[2020-11-16 14:37] hibatallahAouadni commented on #21603
Hello @amarkumar1234 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-16 14:37] #21603 closed, assigned to nobody

[2020-11-16 14:37] PululuK commented on #21493
@PierreRambaud you are against the idea in itself, or the solution proposed in PR?

[2020-11-16 14:53] Nakira commented on #15313
Ok so it seems like the source of the issue is src/prestashop/classes/ProductAssembler.php

the query returns a null value for  out_of_stock and does not take the global configuration :

[code]

$rows[0]["out_of_stock"] is null , should be true in my case

[2020-11-16 14:55] ttoine commented on #21917
@jeckyl please calm down and respect the code of conduct, use a correct and polite tone.
nobody wants to fix an issue reported with this tone of voice, no matter the severity.

That said, it remembers me this issue: https://github.com/PrestaShop/PrestaShop/issues/14917

[2020-11-16 15:01] PierreRambaud commented on #21493
The idea itself :sweat_smile:

[2020-11-16 15:01] jeckyl commented on #21917
is this a joke?
I take the time to report a bug that affects all the 1.7 versions of PrestaShop and you just tell me to calm down just because I don't agree with the qualification of a problem.
Honestly if you don't want us to come up with problems, avoid producing them in spades.

[2020-11-16 15:06] hibatallahAouadni commented on #9871
Hello @khouloudbelguith

this bug is still persist with PS1.7.6.8, PS1.7.7.0 and develop.
Steps to reproduce:

1. BO > **SELL** > **Customers** > **Addresses**
2. Click on **Set requiered fields for the section** button
3. Check the **Phone** option
4. **Save**
5. FO > **Customer account** > **Addresses** > **Add new address**
6. in the **phone** input put a space or any other letter as phone numb

[2020-11-16 15:14] Spir opened #21936 "ps_facetedsearch: hide products that are not in stock"
Customers are complaining because they see results for products that are not in stock when some filters have been selected (ie: for shoes the size of the foot). It would be great to hide the products that have no stocks without having to check the "In stock" button. To have this option by default.

Il serait vraiment intéressant d'avoir la possibilité de ne pas avoir le bouton "en stock" / "non di

[2020-11-16 15:16] matks commented on #21917
@jeckyl and here we go again...

If you cannot write a bug report in a correct and polite manner, yes we dont want your bug reports. This is an open source project, collaboration is the heart of it. Collaboration can only happen if everybody is involved to make it a nice place for others.

Quoting [The Contributor Covenant](https://www.contributor-covenant.org/): "One way to begin addressing this

[2020-11-16 15:17] LouiseBonnard commented on #10356
@Progi1984 and I discussed this morning the possibility to add the WebP image format to PrestaShop. We decided to focus on all images upload available in the back office, except for the favicon and the mail/invoice logos in the Design > Theme & Logo page.

Why? First, because favicons are a specific case using precise image formats and then because email/invoice logos are meant to be sent by email

[2020-11-16 15:23] khouloudbelguith opened #21937 "BO - Import page - we can have duplicated customers with the same email"
#### Describe the bug

In the BO > Advanced Parameters > Import page, we can import duplicated customers with the same email

#### Expected behavior

Do not import and display the error message. The error message displays all the duplicate customers with the same email (name, last name and email).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Advanced Parameters > Import
2.

[2020-11-16 15:26] eternoendless commented on #20739
Yes but modules are using Guzzle now. What do we do with that?

[2020-11-16 15:27] LouiseBonnard commented on #10600
@Progi1984 and I discussed this morning the possibility to add the SVG image format to PrestaShop. We decided to focus on all images upload available in the back office, except for the favicon and the email logos in the Design > Theme & Logo page.

Why? First, because favicons are a specific case using precise image formats and then because the email support for SVG images is way too limited for n

[2020-11-16 15:30] hibatallahAouadni commented on #21936
Hello @Spir

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-11-16 15:30] #21936 closed, assigned to nobody

[2020-11-16 15:32] matks commented on #20739
What about
1. we warn everybody that we cannot keep our SemVer promise for Guzzle (and other libs, to be identified) for PS 1.7.9 (= build article)
2. in 1.7.8 we introduce new interfaces and classes to wrap the future implementation and add deprecation messages for existing code
3. in 1.7.9 we perform the upgrade and we write a detailed article about what has been changed and how to update their

[2020-11-16 15:39] jaxtheking commented on #9932
Hi,
this was apparently marked as fixed, however one of my customers was not able to checkout due to no shipping methods being available. We're on Prestashop 1.7.6.8.
I retraced what happened:
- customer added products to the cart at 12:42
- customer updated his address (probably during checkout) at 12:51 - this resulted in a new address being created
Looking in the database, I can see see the fol

[2020-11-16 15:44] RomainBocheux commented on #21828
Hi @marionf,

The PR #21732 fix this issue

Thank you

[2020-11-16 15:45] Brunettib78 commented on #21927
thanks matks.
but no change with the productcomment-dev module
any other idea?
[see result google](https://search.google.com/test/rich-results?id=AOsrvXm8qtj5Lp2EU9zlVQ)

[2020-11-16 15:46] #21828 closed, assigned to Roomsmaniia

[2020-11-16 15:48] ballashop commented on #21915
Hi @hibatallahAouadni

**Host:** --> PowerEdge R440 - processor Intel(R) Xeon(R) Silver 4208 CPU @ 2.10GHz - RAM 32gb.
**Server config:** --> Centos 7 + nginx 1.18 + Apache 2.4.6. - php in fcgi mode.
**debug mode report (activate the debug mode)** --> no errors reported
**PHP error logs** --> I'm waiting the server support response
**server error log**
![error-apache](https://user-images.githubuse

[2020-11-16 15:50] hibatallahAouadni commented on #21927
Hello @Brunettib78

I didnt't manage to reproduce your issue, could you please check the attached screen record below:

http://shop5.qa-tests.prestashop.net/en/stationery/18-36-hummingbird-notebook.html#/22-paper_type-ruled

Please check and feedback.

Thanks!

[2020-11-16 15:52] caygri commented on #10600
so now is avaible?

[2020-11-16 15:56] PierreRambaud commented on #20739
We will have to be compatible with PHP8.0, Symfony 4.4 for the 1.7.8.0 and not only for security reasons. Using old, outdated and unmaintained packages is dangerous :/

[2020-11-16 15:57] LouiseBonnard commented on #10600
I hope for the 1.7.8 version! Feel free to let us know if you'd like to create a pull request to make it available. ;-)

[2020-11-16 15:59] hibatallahAouadni commented on #21915
Hello @ballashop

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server or a module problem.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://

[2020-11-16 15:59] #21915 closed, assigned to nobody

[2020-11-16 16:09] Nakira opened #21938 "ps_legalcompliance override $link helper"
#### Describe the bug

$link smarty helper is overriden by module making all calls to $link fail.

#### Expected behavior

Keep the helper sane

#### Steps to Reproduce

Steps to reproduce the behavior:

try to use $link helper after hookDisplayCartPrixe

#### Additional information

* PrestaShop version: 1.7.6.8
* PHP version: 7.2

Found this : https://www.prestashop.com/forums/topic/1025678-ps_l

[2020-11-16 16:09] Betafer commented on #16741
The error is also present in ps 1.7.6.8, naturally the upgrade brokes the manual fix (workaround)

[2020-11-16 16:26] thbl commented on #9932
+1

[2020-11-16 16:33] ballashop commented on #21915
Ok, thanks a lot for your support.
Balla

[2020-11-16 16:34] Brunettib78 commented on #21927
Hello @hibatallahAouadni
I've changed the product.tpl file, on  "_**/boutique/themes/classic/templates/catalog/_partials/miniatures**_" folder.
and now there's **just 1 Error** et 2 warning instead of 7

the error is stil the same "The notice contains several cumulative ratings" or L'avis contient plusieurs notes cumulées in french.
[see report here](https://search.google.com/test/rich-results?id=

[2020-11-16 16:52] PululuK commented on #21937
Hi @khouloudbelguith  @PrestaShop/product-team

what should happen in this case:

1 - do not import and display the error message.
2 - Continue the import and display the error messages at the end.

[2020-11-16 16:57] hibatallahAouadni commented on #21938
Hello @Nakira ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce (more clearly)
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to creat

[2020-11-16 17:07] Aodren92 opened #21941 "Install prestashop 1.7.6.9 on Deian"
Hi guys i had trouble to install Prestashop on a vps.
I had an Error about pelago.
Unfortunately  i didn't make a screenshot.
The only way to correct the error was to do this:
`$converter = CssToAttributeConverter::fromHtml($templateContent);  `
on file src/Core/MailTemplate/Transformation/CSSInlineTransformation.php line 70.

[2020-11-16 17:26] kpodemski commented on #20739
From my point of view, the faster we warn everybody the less problems we'll have.

IMO communication is the key, let developers know as early as possible and they'll handle it, we know that it's impossible to keep everything backward compatible, I think it's time to stop wasting energy in a fight that cannot be won?

[2020-11-16 17:37] Nakira commented on #21938
the information is in the code,

\`\`\`

 public function hookDisplayCheckoutSubtotalDetails($param)

   {

       // Display "under conditions" when the shipping subtotal equals 0

       if ('shipping' === $param\['subtotal'\]\['type'\] && 0 === $param\['subtotal'\]\['amount'\]) {

           $cms\_role\_repository = $this->entity\_manager->getRepository('CMSRole');

           $cms\_page\_shipp

[2020-11-16 17:51] CraZzier opened #21942 "Stats panel shows today earnings incorrectly"
Stats panel suggests that succesfull payment has been made today, however in orders tab there is no order today.
What can be reason for that?
Thanks for help and ideas

[2020-11-16 17:52] SimonGrn commented on #21941
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-16 17:52] #21941 closed, assigned to nobody

[2020-11-16 17:54] eternoendless commented on #20739
The problem is that module developers will be forced to maintain two separate packages for < 1.7.8 and > 1.7.8, and some developers might take a long time to do that, which may hold back adoption of 1.7.8.

[2020-11-16 18:07] Aodren92 commented on #21941
Ok, i understand, So i leave some intructions to reproduce the bug:
Server configuration :
 - debian 10.6
 - kernel 4.19
 - php v7.2.34
 - "pelago/emogrifier": "^2.1.1" ( it's vendor lib who mke it breaks, i aslo tried with 2.1"
I install the latest version found on this repo : PrestaShop-1.7.6.9.tar.gz.
At the last step of the installation i got a big FATAL error because on file  src/Core/MailTem

[2020-11-16 19:03] SimonGrn commented on #21942
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-16 19:03] #21942 closed, assigned to nobody

[2020-11-16 23:51] joaolago1113 commented on #18890
@maofree Sounds like a very bad idea. What if someone sends an HTML encoded message of a script?

[2020-11-16 23:54] maofree commented on #18890
@joaolago1113 you can suggest another solution to fix that problem

[2020-11-17 08:08] khouloudbelguith opened #21943 "[UI-KIT] - BO - Order page - The Modal of updating a carrier is not well displayed"
#### Describe the bug

In the BO > Orders > Order details page > when we try to edit a carrier, the modal is not well displayed
![image](https://user-images.githubusercontent.com/16067358/99362753-2a125180-28b4-11eb-83d0-39554607735e.png)

#### Expected behavior

It should be
![image](https://user-images.githubusercontent.com/16067358/99362847-44e4c600-28b4-11eb-893b-34034bda662f.png)

#### Steps

[2020-11-17 08:11] SimonGrn commented on #21941
Please open a new issue and **fill the template** (do **NOT** delete it).

Thank you.

[2020-11-17 08:30] hibatallahAouadni commented on #21910
Hello @catlynx

I didn't manage to reproduce your issue with PS1.7.6.8 as you can see in the attached screen record below:

https://drive.google.com/file/d/13NTEwci2nf-zA38y4H4xYb1x-vIaELb5/view

Please check and feedback.

Thanks!

[2020-11-17 08:36] thbl commented on #18647
@jolelievre is it ready for final build ?

[2020-11-17 08:46] Prestaworks opened #21944 "AdminStockManagementController clears smarty cache every time it's loaded."
#### Describe the bug

AdminStockManagementController.php has Tools::clearSmartyCache(); in the postprocess function, this cause the smarty cache to be cleared every time the page is loaded, causing lots of stress on the hosting on larger shops.

#### Expected behavior

If smarty cache needs to be cleared for this feature, it should only be cleared if there are any changes made.

#### Steps to Rep

[2020-11-17 09:03] matks commented on #18647
Today is the last day 😉  it is possible to submit bug reports for 1.7.7.0 RC1 until 17th of November, midnight. Past this point we'll consider that the Release Candidate is ready for stable release.

[2020-11-17 09:25] hibatallahAouadni commented on #21944
Hello @Prestaworks

Could you please check if your issue is duplicate to this one #14761

Thanks!

[2020-11-17 09:26] DevSTG opened #21945 "APC Cache TTL not working"
#### Describe the bug

I use CacheApc as my caching system.
No matter what $ttl value I set in $cache->set($cacheId, $result, $ttl) method cached result is stored for about a minute.
I wrote a module to test APC:

[code]
and it always displays time value >= 1 minute past.
See: https://sukcesgroup.pl/sklepnowy/pl/kontakt
Here are my APC settings: https://sukcesgroup.pl/sklepnowy/apc.png

#### Expec

[2020-11-17 09:50] prestascott commented on #18400
Hello everyone!

Thank you @LouiseBonnard for the request.

I understand that it can be frustrating for users when they receive 4 error messages after filling up many inputs.
But imo, we shouldn't block them by disabling letters when numbers are the only valid characters in the input.
They might understand it's a bug from their keyboard or from PrestaShop but in reality, we did that in purpose.
Wh

[2020-11-17 10:11] hibatallahAouadni commented on #21938
Ping @PrestaShop/prestashop-core-developers wdyt?

[2020-11-17 10:13] PierreRambaud commented on #20739
One day or another, they will have to do it.
We use packages that are not maintained anymore, if they receive security issues, we will not be able to fix it without forking.
I think the solution from @matks is the best one. If we provide interface/helpers to use requests, it will do the job whatever the version of PS you used.

[2020-11-17 10:19] #17447 closed, assigned to matthieu-rolland

[2020-11-17 10:34] hibatallahAouadni commented on #21945
Hello @DevSTG

Where excatly did you set the $ttl value, in which class or controller?

Thanks!

[2020-11-17 10:38] hibatallahAouadni commented on #21927
Hello @Brunettib78

Could you please check if your issue is similar to this one #12687

Thanks!

[2020-11-17 10:40] hibatallahAouadni commented on #21647
Hello @deliciousvinos ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-17 10:40] #21647 closed, assigned to nobody

[2020-11-17 10:47] ghost opened #21948 "Problem with ALTER table during Update"
#### Describe the bug

Problem with ALTER table during Update

#### Steps to Reproduce

Make an update 1769 --> 1770

#### Additional information

Linux #799710 SMP Wed Jul 10 08:31:28 UTC 2019 x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.2.34
Limite de mémoire : 2048M
Temps maximal d'exécution : 18000
Taille max. pour envoi de fichiers : 10M
info_outline Informations sur la ba

[2020-11-17 10:49] okom3pom commented on #21948
I need to open an other issue for : Column count doesn't match value count at row 14 ?

[2020-11-17 10:57] matks commented on #21948
Hi @okom3pom let's explore this topic together 😄

So if I get correctly
- in PS 1.7.7.0 we converted columns to utf8mb4 character set
- when performing the update on your MySQL server you get error messages
- this is because `max key length` is reached

So it would be because of the size of your database 🤔  ? ping @PierreRambaud

Can you tell us the size of these tables in your server (count + KB

[2020-11-17 10:59] ghost opened #21949 "Column count doesn't match value count"
#### Describe the bug

During upgrade 1769 to 1770 i have this error

Column count doesn't match value count at row 14 and after

[code]

There is no position 5th argument

#### Steps to Reproduce

Steps to reproduce the behavior:

Make an upgrade 1769 to 1770 and check SQL error

#### Additional information

Informations sur votre serveur
Informations sur votre serveur Linux #799710 SMP Wed Jul 1

[2020-11-17 11:03] okom3pom commented on #21948
It's a new install only demo product :)

Porblem is mysql version or maria db version i think, i found a lot of topic with this issue

[2020-11-17 11:04] szykuc commented on #21833
@hibatallahAouadni no it isn't  similar.

I checked my shop on different hosting and it works ok.

Neither me nor the administrators found the cause of the problem in the first hosting.

[2020-11-17 11:04] #21833 closed, assigned to nobody

[2020-11-17 11:08] hibatallahAouadni commented on #21949
Related to #21948

[2020-11-17 11:14] khouloudbelguith opened #21950 "FO - An exception is displayed in the guest-tracking controller (when logged out) and in order details when logged in"
#### Describe the bug

In the FO > When we try to access to "the guest-tracking" page with a different language than the language used by the guest => an exception is displayed

![image](https://user-images.githubusercontent.com/16067358/99382814-5b4b4b80-28cd-11eb-9dfb-3d4ff403d461.png)

Edit by @Robin-Fischer-PS :

Other way to have this error :
On FO, if I try to access an order (in which there

[2020-11-17 11:25] Jeremy-VERNET commented on #21933
The first problem is indeed due to a migration and, still, I broke nothing, it was not really my fault since I only followed the guide. The main thing is to have found a solution.

The problem here is that, for safety's sake, in case someone changes the _date_add_/_date_upd_ (manually or through plugins to handle the New label, for example - those plugins exist), it seems to create pagination prob

[2020-11-17 11:53] ghost opened #21951 "New Hook title is greater than 64"
#### Describe the bug

New Hooks titles is greater than 64, during an upgrade 1769 to 177RC i have this errors

 Warning: #1265 Data truncated for column 'title' at row 21
 Warning: #1265 Data truncated for column 'title' at row 22
 Warning: #1265 Data truncated for column 'title' at row 23
 Warning: #1265 Data truncated for column 'title' at row 24
 Warning: #1265 Data truncated for column 'title

[2020-11-17 11:58] MatShir opened #21952 "Homogenize the display of cart rules between order view and add"
In FO the gift present is counted in the total number of products, it's just that we have a discount matching the amount of the product, so there's no problem here What messes with the total here is that in the create an order page we separate these two counts But in order view page we don't separate them

So actually only the Create order page that handles a cart uses this, I just checked the 176

[2020-11-17 12:01] hibatallahAouadni commented on #21951
Hello @okom3pom

Could you please modify original issue # 21948 as there is no need to open a new one as long as all issues you are having are related. So, I close this ticket.

Thanks!

[2020-11-17 12:02] hibatallahAouadni commented on #21951
Duplicate #21948

[2020-11-17 12:05] okom3pom commented on #21951
Hi @hibatallahAouadni it's not the same issue; it's a new issue after fixing the first one, for the change log we need 3 issues

[2020-11-17 12:06] hibatallahAouadni commented on #21949
Hello @okom3pom

Could you please modify original issue #21948 as there is no need to open a new one as long as all issues you are having are related.
And edit the **Fixed ticket?** block on your PR #21953.

Thanks!

[2020-11-17 12:06] hibatallahAouadni commented on #21949
Duplicate of #21948

[2020-11-17 12:08] okom3pom commented on #21951
Here (#21948) it's bit  Specified key was too long; max key length is 767 bytes

Here (#21951) it's the var_char size 64

[2020-11-17 12:09] hibatallahAouadni commented on #21951
@okom3pom I know its not the same problem but you encountered this problem after your fix. So to understand the whole problem, we need the whole process in the same ticket.

Thank you for your understanding.

[2020-11-17 12:09] okom3pom commented on #21949
It's not the same :) or duplicate :) Regards !

[2020-11-17 12:13] okom3pom commented on #21948
@hibatallahAouadni

The fisrt issue is :

CONVERT TO CHARACTER SET utf8mb4

Second is :

Column count doesn't match value count

Third is :

the var_char size 64

We need all for the change log ?

[2020-11-17 12:18] hibatallahAouadni commented on #21949
Ping @matks wdyt?

[2020-11-17 12:19] hibatallahAouadni commented on #21951
Ping @matks wdyt?

[2020-11-17 13:16] #21933 closed, assigned to nobody

[2020-11-17 13:19] DevSTG commented on #21945
I set it in my module class (see method Mymodule::testCacheTtl() in code that I included) and tried to display it using displayTop hook (hookDisplayTop() method above)

[2020-11-17 13:23] #21929 closed, assigned to jolelievre

[2020-11-17 13:23] matks commented on #21933
@Jeremy-VERNET if I am not wrong, you can _choose_ what criterion is used for pagination 🤔  ?

By using the "sort by X" feature you can modify it ? 🤔

[2020-11-17 13:31] matks commented on #21950
@khouloudbelguith We merged `develop` into `1.7.7.x` [this morning](https://github.com/PrestaShop/PrestaShop/pull/21940). Would it be possible to check again if issue is still there?

[2020-11-17 13:36] #14506 closed, assigned to NeOMakinG

[2020-11-17 13:38] Prestaworks commented on #21944
it seems to be related but not the same. That ticket talks about adding clear cache for smarty to the new controller? I guess symfony controller? if that is the case, make sure that this issue is not replicated on the new controller.

[2020-11-17 13:42] matks commented on #21951
@okom3pom if I understand, during upgrade process, a new hook was supposed to be inserted but it failed because the name was too long?

[2020-11-17 13:49] Jeremy-VERNET commented on #21933
Sure, but I was specifically referring to sorting by date which, in the current case, prevents pagination from working properly if all products have the exact same _date_add_/_date_upd_.

Adding a second criterion (by id_product) to this specific sorting option will solve this issue. This is a very specific problem but it is still a problem. Just because all products have the same date should not

[2020-11-17 13:53] okom3pom commented on #21951
@matks i found 3 problems during the upgrade for me we can't say is the same or duplicate :)

[2020-11-17 13:55] matks commented on #21951
@okom3pom yes I got this, I'm speaking about this exactly 😉  .

[2020-11-17 13:55] SimonGrn commented on #21933
If I understand correctly, that shouldn't happen normally ? It's just when you update stuff manually in the base ?

[2020-11-17 14:00] hibatallahAouadni commented on #9586
Hello @marionf & @khouloudbelguith

This issue has been fixed with PS1.7.7.0-rc.1+build.4, see the attached screen record below:

https://drive.google.com/file/d/1KmUN4af7WKIGAM1cZiGrsncobaRi7bs3/view

Please check and feedback, so we can close it as fixed.

Thanks!

[2020-11-17 14:07] hibatallahAouadni commented on #21951
Hello @okom3pom

As discussed with @PierreRambaud it seems this topic is totally different from this issue #21948
So I reopen it.
PS: sorry for the misunderstanding.

Thanks!

[2020-11-17 14:07] hibatallahAouadni commented on #21949
Hello @okom3pom

As discussed with @PierreRambaud it seems this topic is totally different from this issue #21948
So I reopen it.

PS: sorry for the misunderstanding.

Thanks!

[2020-11-17 14:11] okom3pom commented on #21949
@hibatallahAouadni my english is bad, it's difficult to unterdand me; no problem

[2020-11-17 14:11] okom3pom commented on #21949
For this one i open a PR

[2020-11-17 14:38] okom3pom commented on #21951
@matks

`@okom3pom if I understand, during upgrade process, a new hook was supposed to be inserted but it failed because the name was too long?`

Yes the name it's truncate on my config it's possible in another config the insert fails

[2020-11-17 15:13] metacreo commented on #12667
Disable PHP-FPM and set FastCGI instead in PHP Settings.

This is NOT SOLUTION !!! PHP-FPM is faster than FastCGI

[2020-11-17 15:15] metacreo commented on #17668
Switch to mod_php :) using FastCGI is NOT solution

[2020-11-17 15:18] khouloudbelguith commented on #9586
Hi @hibatallahAouadni,

Yes, I did not manage to reproduce the issue with the 177x branch also!
https://drive.google.com/file/d/1dPxSsFNxS4BXXDECQCEeRbDDqnBq6GeE/view?usp=sharing

Thanks!

[2020-11-17 15:18] khouloudbelguith commented on #21950
Hi @matks,

No, I still have the same issue: https://drive.google.com/file/d/1ETuyqDE6RgHZwsHVnaCUQj6T7AgQV5ZT/view?usp=sharing

Thanks!

[2020-11-17 15:19] PierreRambaud commented on #21948
Hi,
It's not because of the size of the database, but the size of the fields. I just don't understand how it is possible to reach more than 767 in ps_admin_filter for example :thinking:
Did you add indexes on fields, or did you change something?

[2020-11-17 15:25] #9586 closed, assigned to nobody

[2020-11-17 15:25] matks commented on #12667
Hi everybody, just wanted to give some infos on this:

This github issue is closed because we have not been able to find a clear and _reproducible way_ to see the issue. Since so many people have the problem it's clear _there is a problem_. But until we find the very exact combination of settings needed to reproduce it (= I can launch it and run it) we can do nothing about that. "It does not work

[2020-11-17 15:28] Jeremy-VERNET commented on #21933
That is correct. But there may be cases where the user performs this kind of manipulation. It can be during a migration from an old version of Prestashop (as was my case), it can also be with plugins which modify the behavior of the "New" label etc...

It is a very small fix but it allows PrestaShop to take these possible changes into account and make sure the pagination will always work correctly

[2020-11-17 15:52] TristanLDD commented on #18950
Hi @alfonsolr09, thanks for your report

I think the first option could be a interesting quick-win for short term, but the behavior and display of this menu needs a deeper rework that can only be considered for a major version release, now that the migration of the product page comes to an end in 1.7.8.

We are currently exploring different solutions regarding the overall save behavior on the BO w

[2020-11-17 15:58] hibatallahAouadni commented on #21283
Hello @PululuK

As discussed with @matks it seems your issue is not duplicate to his.
So thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-17 15:59] hibatallahAouadni commented on #21284
Hello @PululuK

As discussed with @matks it seems your issue is not duplicate to his.
So thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-17 16:07] khouloudbelguith opened #21961 "FO - Checkout page - the "cart-summary-products" is removed after adding a cart rule or removing it"
#### Describe the bug

In the FO > Checkout page > the the "cart-summary-products" is removed after adding a voucher or removing it
**Step1**
![image](https://user-images.githubusercontent.com/16067358/99412700-50a4ac80-28f5-11eb-81a3-968f40d9bb09.png)
**Step2**
![image](https://user-images.githubusercontent.com/16067358/99412861-79c53d00-28f5-11eb-8436-f4b6b7c7158b.png)
**Step3**
![image](https:/

[2020-11-17 16:12] JavierEB commented on #12667
**We could contribute each one to whom the problem happens. What configuration do you have for PHP-FPM in your hosting. The problem may be there.**

[2020-11-17 16:22] LouiseBonnard commented on #18400
Nice examples, thank you, @prestascott! I think both solutions will help users better understand what to type and that's great. I prefer the first one since it warns users _while they fill in the field_, I see it as a way of saving time. If we can have a dynamic checking of the information typed in the field to display the error message directly, I believe it's the best solution. :-)

[2020-11-17 16:34] okom3pom commented on #21948
@PierreRambaud it's a new install without change

[2020-11-17 16:35] hibatallahAouadni commented on #21945
Hello @DevSTG

As you can see in the screenshot below my APC settings:

![image](https://user-images.githubusercontent.com/23308427/99414002-a9c11000-28f6-11eb-8658-04c067625e75.png)

And in my BO, I enabled the **Use Cache** option and choose **CacheApc**:

![image](https://user-images.githubusercontent.com/23308427/99414124-cbba9280-28f6-11eb-9f09-19833449bfb0.png)

And as you explained to me I

[2020-11-17 16:40] hibatallahAouadni commented on #21944
Hello @Prestaworks

Could you please provide clearer steps to reproduce.

Thanks!

[2020-11-17 16:40] Mch0 opened #21962 "CartRow applyDiscount percent not number format based on PS_PRICE_DISPLAY_PRECISION"
#### Describe the bug

In CartRow classe, in method applyPercentageDiscount the division who calcul the amount of discount not limit the format of result at number of digit defined in Configuration value PS_PRICE_DISPLAY_PRECISION. So when the result of the division return more digits it can be make a false total amount with round price

#### Expected behavior

The result of division for percent d

[2020-11-17 16:47] avihlbi commented on #9951
Hi is the issue above affects other versions than 1.7.1.2?
And was it fixed? if it was , in which version?

[2020-11-17 16:51] LouiseBonnard commented on #15201
Hi @hibatallahAouadni, it has been approved by the former lead PM. Now it just needs to be specified to label it as _to do_. :-)

[2020-11-17 16:56] marionf commented on #9569
@hibatallahAouadni No, the status is still the same, this issue needs to be specified ;)

[2020-11-17 17:06] PierreRambaud commented on #9951
It's not fixed yet and affects all PrestaShop versions.

[2020-11-17 17:18] #21719 closed, assigned to micka-fdz

[2020-11-17 17:19] jolelievre commented on #21962
Hi @Mch0

I think you confuse `PS_PRICE_DISPLAY_PRECISION` with `_PS_PRICE_COMPUTE_PRECISION_` For computing we use a bigger precision to avoid losing values because of rouding (on purpose) The result is generally rounded at the latest moment for display.

Besides in your example I don't think it's an error, `301,9 - 5% = 301,9 - 15,095 = 286,805` So the result is correct the rounding then differ

[2020-11-17 17:29] okom3pom commented on #21948
https://cloud.ee.wtf/index.php/s/w7cTJY4j2dzedyp

[2020-11-17 17:36] okom3pom commented on #21948
At 2:52 you can go to 5:06

[2020-11-17 17:40] Brunettib78 commented on #21927
HI @hibatallahAouadni

I've tried to make change with this #12687 with little results on google warnings, but not for this same error repeated " L'avis contient plusieurs notes cumulées" ( the review contains several cumulative ratings)

[google console test result here](https://search.google.com/test/rich-results?id=JdHjqVoodRArxuu1H4E0Lg)

thanks

[2020-11-17 19:28] metacreo commented on #12667
I have own server. I think this bug is not depend on hosting or some php-fpm settings.

```[Tue Nov 17 21:08:13.887268 2020] [proxy_fcgi:error] [pid 49070:tid 34386058496] [client 79.133.231.107:50665] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Class 'Tools' not found in /usr/local/www/domain.com/www/classes/db/Db.php:794\nStack trace:\n#0 /usr/local/www/domain.com/www/conf

[2020-11-17 19:44] steveking198 opened #21963 "Setup fails at "Configure shop information" - v1.7.6.9"
#### Describe the bug

On the installer I get as far as "Configure shop information" then it fails every time with the error

[code]

I'm running nginx/php on the Ubuntu subsystem for Windows

I've ran the `phppsinfo` script and it all looks ok apart from a couple optional php extensions

#### Expected behavior

Setup to continue

#### Steps to Reproduce

Steps to reproduce the behavior:

Follow i

[2020-11-17 20:40] TemKaSD commented on #20519
@khouloudbelguith Problem 6 years ? https://github.com/PrestaShop/PrestaShop/blob/1.6.0.3/install-dev/upgrade/sql/1.6.0.3.sql#L8 FIX PLS!!!!!!!!!!!!!!!!!!!!

[2020-11-17 21:20] rawan321 opened #21964 "How application administrator pay for platforms that serve customer on the application?"
if there was an app that has multiple shops on it for printing services, how the printing shop provider get their money from the application admin? by using what method? the application has driver also to deliver the printing papers to customer; so that it will be cash on delivery payment method.
please share your idea with me!

[2020-11-17 21:25] symphonytech111 commented on #18618
VidarPC:

Our workaround so far is to go into the Faceted Search module and click clear cache. This instantly reduced the DB to a more manageable size. You can then use the URL from the clear cache button to set up a crown task to do this daily.

The large cache grows unmanageably and I hope they do come up with an option to disable the cache. All it has done is create functional and performance i

[2020-11-17 21:25] SimonGrn commented on #20519
Please follow our Code of Conduct. This is not acceptable.

[2020-11-17 21:28] SimonGrn commented on #21964
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-17 21:28] #21964 closed, assigned to nobody

[2020-11-17 22:07] thdouk commented on #21919
No errors occurred during the upgrade, I checked the autoupgrade/tmp/log.txt as well to verify.
It seems that this is data specific, which is bad news.
What would cause this error? How can I address an issue of such? Can I validate somehow that the data stored are correct or could you point me to where the data are being queried to investigate further?

How would you suggest troubleshooting this?

[2020-11-17 22:22] matks commented on #21963
Hi @steveking198 this issue has been reported before and it seems to be related to your setup
see https://github.com/PrestaShop/PrestaShop/issues/16529#issuecomment-575635077 😉

[2020-11-17 23:56] Brunettib78 commented on #21927
HI @matks @hibatallahAouadni

After uninstall and reinstall module productcomments, Errors are gone :)
the "L'avis contient plusieurs notes cumulées" errors were resulted from a double data setting, and therefore one too many...   thanks for your help
bruno

[2020-11-18 00:01] nihad-alic opened #21966 "Bug in DeliveryOptionsFinderCore"
Hi I would like to report a bug in DeliveryOptionsFinderCore, where translation of price with/without tax is not shown properly  due to $include_taxes variable not checking carrier selected/configured tax.

`$include_taxes = !Product::getTaxCalculationMethod((int) $this->context->cart->id_customer) && (int) Configuration::get('PS_TAX');`

To my understanding this variable should be set to check ca

[2020-11-18 07:05] DevSTG commented on #21945
What additional info would you need?

[2020-11-18 07:29] SimonGrn commented on #21966
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-18 07:29] #21966 closed, assigned to nobody

[2020-11-18 07:31] Prestaworks commented on #21944
not really, that's all you have to do to trigger the smartyclearchache feature. You can look in the cache folder in Prestashop, see if you have some files and folders there and then just open the catalogue price rules list and all the files and folders will be deleted.

[2020-11-18 07:48] hibatallahAouadni commented on #21963
Hello @steveking198

As @matks mention above, we are aware of this issue. This issue is a duplicate of #16529 .
Please check the issue mentioned above to find the solution of your problem.

Thanks!

[2020-11-18 07:48] #21963 closed, assigned to nobody

[2020-11-18 07:48] hibatallahAouadni commented on #21963
Duplicate of #16529

[2020-11-18 08:08] jamiloo commented on #14917
Hi, is there any progress in problem with dissapered categories during multistore's shop rename? Is there any information which part of Prestashop does delete of catefgories after shop rename? It is nice to revert from backup or rebuild categories with SQL placed above. But I would like to make some safet fix at our Prestashops. Thank wery mucho to all for all advices.