[2022-05-23 11:07] HanaRebaiQA commented on #28534
Hello @w-jerome

Is your issue similar to this one  [#19798](https://github.com/PrestaShop/PrestaShop/issues/19798) ?

Thanks!

[2022-05-23 11:13] doeselschnecke commented on #28556
Proposal: we could make the checkbox during checkout adjustable in BO, so that every shop owner can make their own edits according to their local laws.

That would be a flexible solution and not difficult to implement either.

[2022-05-23 11:24] zuk3975 commented on #28327
it came from legacy, but I think it will stay this way for a very long time. In theory we should replace it by null values, but lots of work to refactor it (+ it works this way too, just isn't semantically correct), so I don't think its gonna happen in 5 years or maybe ever :smile:.
just to confirm Im not wrong ping @matks @jolelievre

[2022-05-23 11:31] tom-combet commented on #28327
Hmm yes I think it can change after full SF migration but yea, at least in some years.
Feel free to close this issue if it overloads to-do list.

[2022-05-23 12:59] alesspetio01 commented on #28566
![Senza titolo](https://user-images.githubusercontent.com/103640419/169824888-23f0fdb3-b021-4ce4-a276-5d07623165f6.png)

[2022-05-23 13:20] HanaRebaiQA commented on #28566
Hello @alesspetio01

Thanks for your report.
Do you mean the slowness of loading in front office page when clicking on a item (for example : next) like showing in video 1 ?
I tried to reproduce your issue using your url :

https://user-images.githubusercontent.com/92912932/169827905-f1b81ef8-232c-4691-9e2e-0b07a31807be.mp4

Maybe it's related to your theme. Or, as i can see in the screen-shot here

[2022-05-23 13:25] alesspetio01 commented on #28566
The problem is still present, both when loading that page and also in paging by clicking on a number or on the arrow

[2022-05-23 13:27] alesspetio01 commented on #28566
The cpu goes to 100% and also meory at high percentages, when I loading that page and also in paging by clicking on a number or on the arrow. Before it is at normal levels

[2022-05-23 13:28] alesspetio01 commented on #28566
The cpu goes to 100% and also memory goes at high percentages, when I loading that page and also in paging by clicking on a number or on the arrow. Before it is at normal levels

[2022-05-23 13:34] HanaRebaiQA commented on #28566
@alesspetio01 So, It's maybe related to your theme?

[2022-05-23 13:37] alesspetio01 commented on #28566
It is a problem that I had also with an another theme on another site, then it resolved without doing anything.
But this time no

[2022-05-23 13:41] MatShir commented on #28505
The new wording are updated in the mockups.
Feature preview is very hard to translate, but a good idea.
The feature flag in the product setting can be quite tricky since it really concerns the product setup and not the configuration of your BO.
So, @Julievrz and I propose to keep in the Experimental Page but to distinguish the feature ready to use and the one that are still under dev or test.

[2022-05-23 13:54] w-jerome commented on #28534
Hello @HanaRebaiQA

So it's not the same thing at all.

The problem with #19798 is that the `ImageRetriever` class regenerates the images dynamically in the folder, when you visit a product page in the front-office (this is an example) and they were not present.

My problem is that when I want to regenerate the `home_default` images in high definition from the back-office from the `Design > Images

[2022-05-23 13:56] HanaRebaiQA commented on #28566
@alesspetio01 So, maybe it's related to your environment.

Despite our efforts, we were not able to reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
We will close this issue.

Do not hesitate to open new tickets when needed.

Thank you!

[2022-05-23 13:56] #28566 closed, assigned to nobody

[2022-05-23 13:59] HanaRebaiQA commented on #28566
@alesspetio01 Could you please clear your caches from :

- BO > CONFIGURE > Advanced parameters > Select the Force Compilation and disable Cache and Save

Then click on `clear cache`

- Your PrestaShop folder : var > cache > delete the folders

Maybe it can help you.

Thanks!

[2022-05-23 14:04] alesspetio01 commented on #28566
@HanaRebaiQA I have just tried. The problem remains only on paginations. But before it worked correctly and I have not changed the server setting

[2022-05-23 14:13] alesspetio01 opened #28569 "@HanaRebaiQA I have just tried. The problem remains only on paginations. But before it worked correctly and I have not changed the server setting"
@HanaRebaiQA I have just tried. The problem remains only on paginations. But before it worked correctly and I have not changed the server setting

_Originally posted by @alesspetio01 in https://github.com/PrestaShop/PrestaShop/issues/28566#issuecomment-1134721805_

[2022-05-23 14:13] HanaRebaiQA commented on #28498
Hello @tiroiretcoton

I was unable to reproduce your issue with PS1786.
Maybe it's related to the PrestaSHop version that you used, it's not compatible with the modules versions OR with php versions (Specially that with debug mode, you have this error)

Despite our efforts, we were not able to reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop core bug

[2022-05-23 14:13] #28498 closed, assigned to nobody

[2022-05-23 14:31] #28569 closed, assigned to nobody

[2022-05-23 14:32] hibatallahAouadni commented on #28569
Hello @alesspetio01

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2022-05-23 14:39] rodriciru commented on #28565
By default, it should be display:none. When it's triggered, a .show class is added and this class has the display:block style.

What you show on the pic, has no sense for me. As i can see, you chrome has display:none as the style working in that moment.
And i can see on the left part of the image the **ADD TO MODAL** (its not the create modal) and on the right part the create modal code, so its no

[2022-05-23 14:40] alesspetio01 opened #28570 "Problem with loading category page and paginator in category page"
![Senza titolo](https://user-images.githubusercontent.com/103640419/169824888-23f0fdb3-b021-4ce4-a276-5d07623165f6.png)

_Originally posted by @alesspetio01 in https://github.com/PrestaShop/PrestaShop/issues/28566#issuecomment-1134646444_

[2022-05-23 14:41] alesspetio01 commented on #28570
1. Go to https://mcgroup.store/it/2-home
2. Slow loading of the page
3. The CPU of the server at 100%

[2022-05-23 14:42] alesspetio01 commented on #28570
The cpu goes to 100% and also memory goes at high percentages, when I loading that page and also in paging by clicking on a number or on the arrow. Before it is at normal levels

It is a problem that I had also with an another theme on another site, then it resolved without doing anything.
But this time no

But before it worked correctly and I have not changed the server setting

[2022-05-23 14:44] alesspetio01 commented on #28570
![Uploading Home Mc.png…]()

[2022-05-23 14:48] alesspetio01 commented on #28570
it is not a theme's problem

[2022-05-23 14:52] rodriciru opened #28572 "blockwishlist on adminCustormer its not implemented"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Info show on admin customer regardi

[2022-05-23 14:54] 1JS-Bordeaux opened #28573 "Google analytic - Prestashop multi boutique"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bonjour,

Je suis en alternance san

[2022-05-23 15:00] alesspetio01 commented on #28570
no, it is different

[2022-05-23 15:02] alesspetio01 commented on #28570
I have only a hundred categories and about 3000 products

[2022-05-23 15:04] alesspetio01 commented on #28570
It is a problem that I have for a few days. Everything worked fine before and I haven't changed anything.

[2022-05-23 15:17] rodriciru commented on #28572
I ping @Progi1984 as @NeOMakinG  told me that he know something about the module

[2022-05-23 15:48] hibatallahAouadni opened #28574 "The selector has changed in FO>Create a new account>Choose a country"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When launching the test auto, I got

[2022-05-23 15:50] #28572 closed, assigned to nobody

[2022-05-23 15:55] HanaRebaiQA commented on #28573
Hello @1JS-Bordeaux,

Please send your request in English. English is the norm on GitHub.
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository]

[2022-05-23 15:55] #28573 closed, assigned to nobody

[2022-05-23 16:32] matks commented on #23953
Should be fixed by v2.0.0 of COD module https://github.com/PrestaShop/ps_cashondelivery/pull/44

[2022-05-23 16:40] hibatallahAouadni commented on #28574
Caused by this PR #27187

[2022-05-23 17:11] HanaRebaiQA commented on #28565
Hello @rodriciru

I tried to reproduce your issue with the same information that your mentioned above. And here is a screenshot to what I have :

![image](https://user-images.githubusercontent.com/92912932/169872195-e9adf3f4-5f63-4fae-82c9-f894b02a99ef.png)

Is that the issue ?

Thank you!

[2022-05-23 17:13] HanaRebaiQA commented on #28570
Hello @alesspetio01

Thanks for your feedback.
Could you please provide us a screen-record of your issue ?

Thank you!

[2022-05-23 17:15] HanaRebaiQA commented on #28534
Hello @w-jerome

I tried to reproduce your issue on PS1786 using the same steps and i was unable to reproduce it.
The image named with `…2x.jpg `is well regenerated in FO.

https://user-images.githubusercontent.com/92912932/169872777-dc65ad32-cd6c-4ee9-b8c1-82284167b475.mp4

Did i miss something ?

Thank you!

[2022-05-23 17:28] rodriciru commented on #28565
No.
The problem is that is display block by default. It shouldn't be as by
default It won't be visible.
But because it's opacity it 0, you can't see it, but it's there. Sometimes
on mouse hover can notice it, because can't click on buttons
So display block in modal can't be there.
Only on show

El lun., 23 may. 2022 19:11, Hana REBAI ***@***.***> escribió:

[2022-05-23 21:23] kpodemski commented on #28327
Thanks for your input guys @zuk3975 @tom-combet

I'm closing it for now.

[2022-05-23 21:24] #28327 closed, assigned to nobody

[2022-05-24 04:59] NeOMakinG commented on #28565
@HanaRebaiQA The modal, when hidden, is blocking clicks to multiple locations on the theme, like if you click somewhere, it will click on the hidden modal, this is the real bug, try to hide the modal and click where it "is", you'll notice that the modal is annoying

[2022-05-24 05:23] NeOMakinG commented on #28565
On the same screen as this one, try to click on the "add to cart" button, you probably won't be able because the hidden modal is hover it

[2022-05-24 07:15] Julievrz commented on #28556
@MatShir Could you please validate the wording with the Legal team too, please?

I just know that we had agreed on using "Terms of use" instead of "Terms of Service", but I don't know about "revocation services".

[2022-05-24 07:34] alesspetio01 commented on #28570
https://calip.io/wYOxV7ej#cRfG3egu

[2022-05-24 07:35] alesspetio01 commented on #28570
Click on the link for the recording

[2022-05-24 07:38] 1JS-Bordeaux opened #28579 "Google analytic - Prestashop multi boutique"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I am on a work-study progra

[2022-05-24 07:56] florine2623 commented on #28579
Hello @1JS-Bordeaux ,

I think your issue is related to : https://github.com/PrestaShop/PrestaShop/issues/21790#issuecomment-724016924
As it is an improvement, so you can follow that issue directly there.

Also, PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is

[2022-05-24 07:56] #28579 closed, assigned to nobody

[2022-05-24 08:01] florine2623 commented on #28570
Hello @alesspetio01 ,

Can you check if your site matches the system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please check and feedback.
Thanks

[2022-05-24 08:05] jf-viguier opened #28580 "Harmonize http/https check"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-24 09:11] florine2623 commented on #28580
Hello @jf-viguier ,

Thank you for your suggestion. The Dev Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

Thank you

[2022-05-24 09:20] florine2623 commented on #28570
Can you add this file to your shop : https://github.com/PrestaShop/php-ps-info/releases
And screenshot it please.

[2022-05-24 09:26] jf-viguier commented on #27946
I've updated the how to test to be more precise:
"- Change the default layout un theme.yml to another layout (layout-left-column by example) and reset the theme in the bo (in debug mode)"
![image](https://user-images.githubusercontent.com/16720275/169998760-b9c524d6-fb69-4d5f-9321-d5bc44ddd3b5.png)

[2022-05-24 09:26] w-jerome commented on #28534
Hello @HanaRebaiQA

You didn't follow the same procedure I did. You uploaded a `2x` image yourself, but it's up to Prestashop to create it in `2x`, not to the user.

Moreover you click on `Regenerate` the thumbnail without changing its size in `Design > Image types > home_default > Edit` so you can't see if the changes have been taken into account. And by the way you are not looking in the right p

[2022-05-24 09:26] alesspetio01 commented on #28570
Where should I add this file?

[2022-05-24 09:30] florine2623 commented on #28570
You can find the steps to add the file here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#how-to-verify-your-server-meets-prestashops-requirements

Let me know when you succeed.

[2022-05-24 09:35] alesspetio01 commented on #28570
![Senza titolo](https://user-images.githubusercontent.com/103640419/170000768-55070d32-2113-4ef8-9de3-1b880d26b523.png)

[2022-05-24 09:47] #28574 closed, assigned to nobody

[2022-05-24 10:04] florine2623 commented on #28570
Please modify the data for `max_input_vars`, `memory_limit`, `post_max_size` and `upload_max_filesize` to match what is recommended.
And see if your shop works better.

[2022-05-24 10:11] alesspetio01 commented on #28570
Values ​​changed and configured to recommended ones, but the problem remains

[2022-05-24 11:31] rolandvanille opened #28583 "Credit Slips buggy"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

the credit slips don't calculate co

[2022-05-24 12:06] florine2623 commented on #28570
Please empty your cache.

Check what modules you are using. If you don't use some one theme, delete them.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively,

[2022-05-24 12:06] #28570 closed, assigned to nobody

[2022-05-24 12:20] #28583 closed, assigned to nobody

[2022-05-24 12:26] rolandvanille commented on #22015
any info when this might be done?

[2022-05-24 12:34] #27526 closed, assigned to nobody

[2022-05-24 12:53] alesspetio01 opened #28585 "Slow loading of category page and paginator in category page, the server's cpu goes to 100%"
1. Go to https://mcgroup.store/it/2-home
2. Slow loading of the page
3. The CPU of the server at 100%

_Originally posted by @alesspetio01 in https://github.com/PrestaShop/PrestaShop/issues/28570#issuecomment-1134765677_

[2022-05-24 12:53] alesspetio01 commented on #28585
When i Click on TUTTE LE CATEGORIE

it is not a theme's problem

it is a problem that I have for a few days. Everything worked fine before and I haven't changed anything.

[2022-05-24 12:54] alesspetio01 commented on #28585
https://calip.io/wYOxV7ej#cRfG3egu

[2022-05-24 12:54] alesspetio01 commented on #28585
https://calip.io/wYOxV7ej#cRfG3egu

Problem screen-recording

[2022-05-24 12:54] alesspetio01 commented on #28585
My site matches all the system requirements

[2022-05-24 12:56] alesspetio01 commented on #28585
"As I can't reproduce your issue on my side, I will close it."

if the problem exists (as it is reproduced on my site) it CANNOT be considered invalid

[2022-05-24 12:57] alesspetio01 commented on #28585
THERE IS A BUG

[2022-05-24 13:31] tdzierza opened #28586 "Invisible Product in front added with WebService"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Invisible Product in front added wi

[2022-05-24 14:02] matks commented on #28585
@alesspetio01 Please stop, you are spamming. You are writing multiple messages, not waiting for answers and reopening issues without following the QA team guidelines

**You must follow the template  and the process to submit a complete bug report.** Issues that do not fit with the process will be ignored or closed.

If you continue to spam we will have to block you.

If you need dedicated help, so

[2022-05-24 14:03] alesspetio01 commented on #28585
"This GitHub project is not a Help Center it is a bug tracker."

In fact, the my problem is a bug

[2022-05-24 14:06] #28585 closed, assigned to nobody

[2022-05-24 14:06] alesspetio01 commented on #28585
"You are writing multiple messages, not waiting for answers and reopening issues without following the QA team guidelines"

I always waiting answers, but my problem is not resolved

[2022-05-24 14:06] alesspetio01 commented on #28585
@florine2623

[2022-05-24 15:16] #9965 closed, assigned to Progi1984, MatShir

[2022-05-24 15:18] #28565 closed, assigned to rodriciru

[2022-05-24 15:18] Hlavtox opened #28587 "Add file management to backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-24 15:21] #28587 closed, assigned to nobody

[2022-05-24 15:30] HanaRebaiQA opened #28588 "BO - An exception is thrown when edit the carrier with a free shipping enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when edit th

[2022-05-24 15:33] florine2623 commented on #28587
@Hlavtox ,

Did you really want to close your issue ?

[2022-05-24 16:19] florine2623 commented on #28586
Hello @tdzierza ,

Could you please provide us the request body that you use ? and a screenshot/screenrecord to can reproduce your issue clearly ?

In https://github.com/PrestaShop/PrestaShop/issues/15317, the issue has not been reproduced.

Please check and feedback.

[2022-05-24 16:48] leseeb22 commented on #12669
Bonjour, j'ai le même problème sans module mailchimp
Prestashop 1.8.8.2 payzen v1.15.3
moi aussi c'est aléatoire
Quelq'un à trouvé une solution ?
Merci

[2022-05-24 17:20] gennaris commented on #28520
Hi - I've dealt with this issue.
As OP wrote, "Ignore statistics" is mis-linked to **PS_BACKUP_ALL** configuration value,
so if statistics table are ignored they got backed-up , on the other side they got skipped if option is turned on.

I'm submitting a PR that will fix things up.

[2022-05-25 05:58] tdzierza commented on #28586
<prestashop xmlns:ns0="http://www.w3.org/1999/xlink">
     <product>
         <id />
        <id_manufacturer>1</id_manufacturer>
        <id_supplier>55</id_supplier>
        <id_category_default
'ns0:href="http://localhost/api/categories/2">2</id_category_default>
        <new />
        <cache_default_attribute>0</cache_default_attribute>
        <id_default_image notFilterable="true" />

[2022-05-25 06:03] tdzierza commented on #28586
If it possible to here opinion some Prestashop developer will be nice. Because my goal is to make added products visible (9000 products)
From db perspective looks good, inside backend also good. It has been used some kind of additional switcher, maybe somewhare in db or in filesystem witch do this. Because fter click Save button in product its ok - even without any form change.

[2022-05-25 06:35] Maofree opened #28591 "payment method not set for some type of payments with a strange behavior"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
in the delivery slip pdf, in one

[2022-05-25 08:49] alexchini opened #28593 "Module Faceted Search in PrestaShop 1.7.8.5 when enable brand is not more visible in category view list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For this site i need to show in the

[2022-05-25 09:22] MeKeyCool commented on #28405
Hi @florine2623 ! I think this issue is related to https://github.com/PrestaShop/PrestaShop/issues/28494
I proposed a fixed : https://github.com/PrestaShop/PrestaShop/pull/28524 but I had some troubles to understand what does mean "displayed better." or "Bad display".

My fix is about the arrow, it looks like @AureRita suggests changing the dropdown size.
Does a "min size" would be enough ? should

[2022-05-25 09:27] MeKeyCool commented on #28433
I take this one :)

[2022-05-25 09:52] Hlavtox commented on #28593
That's weird, faceted search should only provide product IDs, the core supplies the rest of the data. 🤔 There should be no difference in the presented product.

[2022-05-25 10:07] hibatallahAouadni commented on #28591
Hello @maofree

As you said, it's not reproducible with native payment module/method.
Did you check with the payment module developer, cause it seems the issue is not Core bug but mostly like a module issue.

We will close this issue. Remember if you could provide any more infos, please ping me here and if I reproduce the isuse, I will reopen it :wink:

Otherwise, if you need support, you can find

[2022-05-25 10:07] #28591 closed, assigned to nobody

[2022-05-25 10:20] hibatallahAouadni commented on #28593
Hello @alexchini

By default, in FO, there's no brand displayed on product item, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/170240067-9b6757d7-dc1c-406e-a2a5-0cfb28fb6721.png)

It seems that you applied some overrides, and when you enable the module FacetedSearch, your overrides are not shown.
So, closing the issue as it's not Core bug! you just

[2022-05-25 10:20] #28593 closed, assigned to nobody

[2022-05-25 10:43] jolelievre commented on #24279
We tried to integrate this feature in v8.0 sadly it generates too many impact and we don't have time to stabilize it correctly considering how close we are to the feature freeze This will be handled in a future version I level here the PR that started the integration https://github.com/PrestaShop/PrestaShop/pull/28589

[2022-05-25 11:19] Hlavtox opened #28596 "Core should not contain any hardcoded module names"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

`$moduleManager->isInstall

[2022-05-25 11:23] Seb33300 commented on #28596
PrestaShop is not depending on them.
`isInstalled` method check if the module is installed to prevent PrestaShop to fail if the module is not here.

[2022-05-25 11:23] hibatallahAouadni commented on #28586
Hello @tdzierza

Your issue is duplicate of this one #28409
I reproduced with PS1777, PS1785 and PS1786, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/170244391-c9d87d9b-0e76-4b82-b98c-e50be2e8ac9e.png)

I used your body request, (just changed the `id_supplier` from 55 to 1, and deleting this attribute `ns0:href="http://localhost/api/languages/1"`

[2022-05-25 11:25] hibatallahAouadni commented on #28409
Hello @QueeNFrisk

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28586.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-05-25 11:25] #28409 closed, assigned to nobody

[2022-05-25 11:25] hibatallahAouadni commented on #28409
Duplicate of #28586

[2022-05-25 11:26] hibatallahAouadni commented on #15317
Duplicate of #28586

[2022-05-25 12:43] AureRita commented on #28405
In my opinion, I think the size should fit to the longest text element, with that element, the arrow should have a good display and the problem of visibility should be corrected ( Indeed, you can have a scroll bar but when you're set on canceled, one status can take all the field of view for statuses ).
For this point, we maybe want the point of view of an @PrestaShop/product-team

[2022-05-25 13:01] MeKeyCool commented on #28405
In fact the arrow and the size are two different problems ^^
If you set the size to the longest element, the arrow won't be good for the longest element ;)
The point is this behavior looks the best but as it should adapt to any language, it implies some custom javascript treatment.
(:thinking: maybe it is already implemented somewhere)

[2022-05-25 13:27] Progi1984 opened #28599 "Allow to extend native modules in the autoupgrade module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-25 13:54] hibatallahAouadni commented on #28596
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-05-25 14:10] hibatallahAouadni commented on #28599
Hello @Progi1984

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-05-25 16:49] seederp2p opened #28600 "API Error when changing product price - Trying to access array offset on value of type null"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When trying to change product price

[2022-05-25 17:02] rzuf666 commented on #21790
I join the question, does anyone consider this problem at all? Soon, Google will turn off universal ID support... I design stores for multiple customers and am struggling with this problem, we recently launched several stores on PrestaShop 1.7 and our customers need Google Analytics, but everyone is already using Google Analytics v4 which has a Gtag ID that starts with "G". It is not compatible wi

[2022-05-26 04:20] QueeNFrisk commented on #28586
@tdzierza Try overwriting the product friendly url; it worked for me. If it works for you in the product I will explain with steps what I have done to replicate the solution in the products;
1.- Query the database to get the product name (`_ps_product_lang_`)
2.- Convert the in "url". i.e. I removed the special characters and converted the spaces into hyphens.
3.- Through the web service modify th

[2022-05-26 07:03] Hlavtox commented on #28490
This is already done by automatically generated robots.txt file.

[2022-05-26 07:03] Hlavtox commented on #28490
bye bye

[2022-05-26 07:21] QueeNFrisk commented on #28586
In addition to this I could mention that I have noticed that sometimes prestashop does not show products that are "wrong" categorized. I mean the id_category_default you have set is 2 which would be "home" when it "should" be 1 and in associations->categories it would be (suponiendo que usas php);

[code]

If you are using some xml parse or something similar it could be like this:

[code]

(I remo

[2022-05-26 08:49] seederp2p commented on #28600
There you go.

Deleted product description, meta information, etc.

https://pastebin.com/8xws7cZ4

[2022-05-26 09:38] alesspetio01 opened #28602 "Problem with loading category page and paginator in category page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://calipio.com/app/play/wYOxV7

[2022-05-26 11:28] hibatallahAouadni commented on #28186
Hello @florine2623

This issue has been fixed with this PR https://github.com/PrestaShop/dashtrends/pull/34, I tried to reproduce the issue on dev branch of this module and I didn't reproduce it:

![image](https://user-images.githubusercontent.com/23308427/170477826-de66dee1-0582-4d9e-a0e3-e469c9d31bf9.png)

As you can see the shipped order has an amount: 208.7 (tax excl) when we subtracted the sh

[2022-05-26 11:28] #28186 closed, assigned to nobody

[2022-05-26 11:29] hibatallahAouadni commented on #28186
Duplicate of #16770

[2022-05-26 12:59] alesspetio01 commented on #28602
Please, help!

[2022-05-26 13:25] hibatallahAouadni commented on #28602
Hello @alesspetio01

I know you're frustrated with this massive loading problem :disappointed:
I'm really sorry that I can't help you because this is not a PS Core bug, this problem is related to your server configuration.
Try with the Classic theme and only native modules, you won't encounter the problem :wink:

So the only way I could help you is to suggest support, you can find resources to hel

[2022-05-26 13:25] #28602 closed, assigned to nobody

[2022-05-26 14:00] #28600 closed, assigned to nobody

[2022-05-26 14:00] hibatallahAouadni commented on #28600
Duplicate of #26559

[2022-05-26 15:41] seederp2p commented on #28600
@hibatallahAouadni when you refer to 8.0.0 what PS version are you refering to?

[2022-05-26 15:43] hibatallahAouadni commented on #28600
@seederp2p this one https://github.com/PrestaShop/PrestaShop/milestone/64 and it's not released yet :sweat_smile:
You can subscribe to this issue https://github.com/PrestaShop/PrestaShop/issues/26427 to be updated :wink:

[2022-05-26 15:58] seederp2p commented on #28600
Meaning, the versioning is going from 1.7 to 8.x ? :)

[2022-05-26 16:38] hibatallahAouadni commented on #28472
Hello @matks

I still reproduce the issue with PS1786, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/170533543-94b3f224-7a63-491b-8158-500739a5ae95.mp4

Thanks!

[2022-05-26 16:39] hibatallahAouadni commented on #28600
@seederp2p Yessss :smile:

[2022-05-26 16:48] hibatallahAouadni commented on #28534
Hello @w-jerome

I see what you mean, but unfortunally, there's nothing in the specs explaining the expected behavior while executing this option **Erase previous images**, the only info that I found is in the Help modal in this page:

Ping @PrestaShop/product-team if we enable this option **Erase previous images**, will the system delete all the images or only the ones that will be generated? and

[2022-05-26 18:46] tdzierza commented on #28586
@QueeNFrisk Thank You for this very useful hints. Categories was reason.
In my case (category 1 is main category, 2 is subcategory):
`<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <product>
        <id_category_default>2</id_category_default>
        <associations>
            <categories>1</categories>
            <categories>2</categories>

[2022-05-26 20:41] PrestaEdit opened #28604 "The hook intercepter of Profiler doesn't manage widget call"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once you enable the profiling, havi

[2022-05-26 20:52] PrestaEdit commented on #28604
It's fixed on the develop branch (https://github.com/PrestaShop/PrestaShop/pull/26731/files#diff-e165881704b7f15fda6fd18c7f66a3ab6cda73652d1d642d30ac88855254543dR66) but not inside the 1.7.8.x

[2022-05-26 21:08] PrestaEdit opened #28606 "Warning: Undefined array key "continue" in tools/profiling/templates/run.tpl"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once you enabling the profiling wit

[2022-05-26 21:11] PrestaEdit commented on #28606
Due to this change: https://github.com/PrestaShop/PrestaShop/commit/5748549d5f8faba3c7e0ab2d56e52d81b75646e8#diff-50d2355ea4bd70a9dc265db7fce6e47cd20ec6964152d6ad8f4b6fa808c1c15fL489

Actually, the continue; instruction was modified by {$continue} use in Smarty.

[2022-05-26 22:30] PrestaEdit opened #28607 "Not specifying the optional ShopConstraint parameter is deprecated since version 1.7.8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For an unknow reason, the profiling

[2022-05-26 22:51] adamus007p commented on #28490
In the theory yes, in real no.

Only main page do not have canonical.

[2022-05-27 02:01] chrislais commented on #20677
Do not @ me, delete your reply

[2022-05-27 02:09] chrislais commented on #20677
Please delete this reply because you @ me, I don't want to be notified of this issue

[2022-05-27 08:18] tups opened #28609 "URL Alternate with unwanted parameters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I have just discovered an e

[2022-05-27 08:38] matks commented on #20677
Information: it is possible to unsubscribe from an issue to not be notified anymore, see on the right the buttons on github

[2022-05-27 08:40] davidcylke commented on #27232
@Hlavtox you're the man, again! I would pay for your performance improvements files mods :D

[2022-05-27 08:43] Hlavtox commented on #27232
@davidcylke HAHA 😄❤️

Guys, we should make a PR for this if it works. @ocio87

[2022-05-27 08:50] matks commented on #27888
Congratulations @atomiix and everybody involved

[2022-05-27 08:52] matks commented on #27888
Reopening because a few remaining items are still there but not in the Core

[2022-05-27 09:03] HanaRebaiQA commented on #28606
Hello @PrestaEdit

Thanks for your report.
I found this issue [#28061](https://github.com/PrestaShop/PrestaShop/issues/28061) on develop with php 8.0 when the profiling is enabling.
Is it similar to yours ?

Thank you!

[2022-05-27 09:05] tdzierza opened #28610 "Products added via webservice not appear in suppliers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1, Added product via webservice wit

[2022-05-27 09:09] HanaRebaiQA commented on #28604
Hello @PrestaEdit

Thanks for your report.
Could you please clarify more the Step 2 with s a screenshot or a screen-record to can reproduce it clearly ?

Thank you!

[2022-05-27 09:20] w-jerome commented on #28534
In fact, the images in `...2x.jpg` are also generated. I have a doubt that it is a specification not to delete `...2x.jpg` images, I guess it's more a bug.

[2022-05-27 09:46] HartLarsson opened #28611 "One order with 2 product with same currier is misteriously split in 2 orders with same DHL currier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A customer have bought 2 different

[2022-05-27 09:55] HanaRebaiQA commented on #28610
Hello @tdzierza

Thanks for your report.
Please send your screenshots in English. English is the norm on GitHub.
Could you please provide us the body request that you used and please specify more the steps to reproduce ?

Otherwise, we have issue about products creation with API [#28382 ](https://github.com/PrestaShop/PrestaShop/issues/28382) (Second issue), it can be related ?

Thank you!

[2022-05-27 09:59] HartLarsson commented on #28490
SEO have directive and best practise given also by Google and other gained from experiences:

https://developers.google.com/search/docs/advanced/ecommerce/pagination-and-incremental-page-loading

[2022-05-27 10:12] HanaRebaiQA commented on #28609
Hello @tups

Thanks for your report.
Could you please provide us a screenshot or a screen-record to can reproduce the issue clearly ?

Is this issue [#13737](https://github.com/PrestaShop/PrestaShop/issues/13737) similar to yours ?

Thank you!

[2022-05-27 10:17] tom-combet commented on #28024
@matks Don't you agree?

That makes me more and more crazy to be honest... I spend quarter of the time (if not the half) on fixing the code style and syntax. On small pull requests, you spend sometimes more time to fix them than developing the feature.

It doesn't encourage to do PR, this is even discouraging in my case. Not blaming at all, but I think this issue should be considered.

[2022-05-27 10:27] eshraw commented on #28534
Hello @w-jerome, thank you for opening this issue.

To provide follow-up on @hibatallahAouadni 's question : the spec mentions erasing selected images, so every image from a selected category should be deleted and re-generated. If images `...2x.jpg` are re-generated, they should also be deleted.
It indeed looks more like a bug than a need spec to me.

[2022-05-27 10:57] HanaRebaiQA commented on #28611
Hello @HartLarsson

Thanks for your report.
I thinks your issue is a duplicate of this one [#15304](https://github.com/PrestaShop/PrestaShop/issues/15304) and maybe so [#9594 ](https://github.com/PrestaShop/PrestaShop/issues/9594)

Could you confirm it ?

Thank you!

[2022-05-27 12:01] MeKeyCool commented on #28433
I noticed that if I upgrade a module, it is not removed from update list as well.

[2022-05-27 13:00] tdzierza commented on #28610
Images are not important, amount of suppliers products not appear  in BO Catalog -> Brands & Suppliers -> Suppliers
You can check any other body request. This is one of example:

`<prestashop xmlns:ns0="http://www.w3.org/1999/xlink">
     <product>
         <id />
        <id_manufacturer>1</id_manufacturer>
        <id_supplier>55</id_supplier>
        <id_category_default
'ns0:href="http://local

[2022-05-27 14:02] tups commented on #28609
Hello @HanaRebaiQA ,

It's not similar to this ticket, because this ticket talks about "canonical" metas, in my case it's "alternate", with a meta specific function "alternate".

To illustrate the bug, as precisely as possible, I have just developed a specific module for this issue.
A simple module, with a Front Controller.

It is therefore sufficient:
- to set up at least two languages on the Pre

[2022-05-27 14:22] w-jerome commented on #28534
It's noted @eshraw , so I prepared a "pull-request" which should correct the problem.

[2022-05-27 15:37] MeKeyCool commented on #28433
After few tests, I suspect that "upgrade all" button doesn't work but maybe it is from my setup :thinking: .

[2022-05-27 16:08] matks commented on #28024
If you want to use GrumPHP to be able to run the CI locally, and make sure that your changes will not make the CI crash, please do 👍 it's a nice idea.

You could maybe check with the group Friends of Presta (https://github.com/friends-of-presta) to add this to the organization, they built a nice Console tool https://github.com/friends-of-presta/fop_console

But unfortunately I dont this is somethi

[2022-05-27 16:08] #28024 closed, assigned to nobody

[2022-05-27 16:15] crishnakh commented on #23569
anything about this?

[2022-05-27 16:26] matks commented on #21790
I will provide an answer here: although GA4 is definitely an important topic, the maintainer team has topics _even more important_ to handle.

If support of GA4 is really important for you, then you can *invest* into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that work with everyone

[2022-05-27 16:33] HanaRebaiQA commented on #28609
Hello @tups

Thanks for your feedback.
So, myabe this one can help you https://github.com/PrestaShop/PrestaShop/issues/24513#issuecomment-842207700?

Waiting for your feedback

Thank you!

[2022-05-27 16:43] tups commented on #28609
Hello @HanaRebaiQA,

Unfortunately, that's not it. The ticket you give me talks about retrieving Smarty values.

My issue is creating because the URL just returned by the getAlternativeLangsUrl function is not correct. It is actually then written from the Smarty variable $urls.alternative_langs

Can you seriously check with a developer please? If you wish, I can do the PR directly?

All the inform

[2022-05-28 06:18] tdzierza commented on #28610
I found reason. In version 1.7.7.2 it was enough to put id_supplier to products request. Already is required also request product_suppliers.

[2022-05-28 10:11] #28610 closed, assigned to nobody

[2022-05-28 15:50] superteixeira opened #28616 "Backoffice Product Page - Error loading associated categories and brand selection"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When accessing the products page in

[2022-05-28 17:01] PululuK opened #28617 "Property `PrestaShopLogger->object_type` is not valid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Property `PrestaShopLogger->object_

[2022-05-28 20:27] matks commented on #28617
🎯

[2022-05-29 09:22] matteolavaggi opened #28620 "SMTP email "from" different than email account"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-29 09:39] Garfield2013 opened #28621 "Unit price is not rounded the same as product price?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi there,

There seems to be a bug

[2022-05-30 07:06] Hlavtox commented on #28609
@tups Hey, I didn't test it yet, but if hreflang alternates are different from canoncials and contain nonsense, go ahead and make a PR please! 🚀

Can you also please check default controllers, if it's OK there? Category, Manufacturer etc.

[2022-05-30 08:02] AureRita commented on #28620
Hi @matteolavaggi
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-05-30 08:30] matthieu-rolland commented on #28599
As discussed IRL, this is the way to go 👍

[2022-05-30 09:42] MatShir commented on #28599
LGTM !

[2022-05-30 09:51] tups commented on #28609
@Hlavtox I juste created the PR : #28625

[2022-05-30 10:16] daresh commented on #28336
This line:
AND c.id_guest != 0
seems to be some new change in the Cart class since 1.7.7. Anyone knows why it was introduced? Seems it has some side effects.

[2022-05-30 10:31] daresh commented on #28336
Found it:
https://github.com/PrestaShop/PrestaShop/pull/15533

[2022-05-30 10:45] gennaris commented on #28336
Yes, the PR does not take into account that the "statsdata" module is responsible to save the **id_guest** for front office carts and it causes the side effect described (and the reason I opened this issue) for merchants with disabled native stats.

[2022-05-30 10:46] daresh commented on #28336
I notice this bug also with the statsdata module enabled.

[2022-05-30 10:46] jf-viguier commented on #26501
Nice idea @Patrickclicweb.
Redirection could be a 310 too.
Can you explain the .tpl stuff please ?

[2022-05-30 10:59] arirangz opened #28626 "Backoffice order is allowing disabled products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When creating a backoffice order, w

[2022-05-30 12:23] Hlavtox commented on #28626
That is by design, we want to use backoffice orders to do things the customer can't. Regarding this issue, I already opened a thread for this - https://github.com/PrestaShop/PrestaShop/issues/25339.

There should be a notification for the merchant, not block him from doing things.

[2022-05-30 12:30] arirangz commented on #28626
Hi @Hlavtox

Thanks for letting me know about your thread.

A quick alternative would be to display the word [disabled] in the product list so we know that the product we want to add is disable.

[2022-05-30 13:03] sLorenzini opened #28627 "Social title labels are not aligned vertically"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Regression on social title labels o

[2022-05-30 13:19] MeKeyCool commented on #28169
Thanks @matthieu-rolland for updating this issue ^^

[2022-05-30 13:44] AureRita commented on #28621
Hi @Garfield2013

Thank you for the reporting Issue.
Currently I can't reproduce your issue, can you tell me the round mode that you've and the round type ? (you can see this on BO>Shop Parameters>General)
You can see that I get on this video :

https://user-images.githubusercontent.com/100699445/171004204-5d5183bf-fa75-451a-a0d7-d2bde22d2da0.mp4

Thanks

[2022-05-30 14:01] Garfield2013 commented on #28621
In your video one price of 600.01 always remains? I need the rounding to be
the same everywhere to 600.00

Btw. my price is set to 163.49 USD in the B.O. and conversion rate between
USD/AED is set manually to 3.67
The price of 600.00/600.01 in my setup is in AED currency (selected as
currency in the top of the page).

On Mon, 30 May 2022 at 17:45, AureRita ***@***.***> wrote:

[2022-05-30 14:06] Recif2 opened #28628 "Imagemanager.php timeout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

PS 1.7.8.6.
Pages take several minu

[2022-05-30 14:43] AureRita commented on #28616
Hi @

Thank you for the reporting Issue.
Actually I can't reproduce your issues, as you can see when I tried to check on the first view of a product I've not the same error as yours.
Please check this video below :

https://user-images.githubusercontent.com/100699445/171015044-f1ec111c-859c-4f45-92cf-6c71833605e8.mp4

For your other issue, on the modification of the product's brand, I didn't encon

[2022-05-30 14:49] AureRita commented on #28617
Hi @PululuK

This issue is too technical for me,
Ping @PrestaShop/prestashop-core-developers, can someone try to reproduce this issue ? :pray:
Thanks for your PR :rocket:

Thank you

[2022-05-30 14:57] #28626 closed, assigned to nobody

[2022-05-30 15:02] #28628 closed, assigned to nobody

[2022-05-30 15:14] AureRita commented on #28609
Hi @tups,

Did you enconter this issue with a native module, if so, can you please name it ?
Waiting for your feedback

Thanks

[2022-05-30 15:18] Seb33300 opened #28629 "BO - All orders always displayed in multi store context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When using a shop with the multi st

[2022-05-30 15:22] arirangz commented on #25339
Hi,

As a suggestion, a quick way to know if a product is disabled would be to display it in the search result :
[disabled] Iphone 10

See way we would know directly that we are adding a disabled product.

Thanks

[2022-05-30 15:26] AureRita commented on #28490
Ping @PrestaShop/product-team friendly reminder

[2022-05-30 15:49] Recif2 commented on #28628
hi, well, I have another shop running PS 1.6 on the same server and not having any issue with this... So I'm not sure this is a server configuration...

[2022-05-30 16:19] stifler97 commented on #28562
Hi @HanaRebaiQA .
Thanks for your fast response.
I thought about this more and discussed with my team lead @samberrry. There is no issue actually, because `product` and `feature` are two different models which are extended from `object model`.
For that reason, when we are updating a product, only product attributes get updated before these hooks:
-    `actionObjectProductAddAfter`
-    `actionObje

[2022-05-30 16:19] #28562 closed, assigned to nobody

[2022-05-30 16:34] adamus007p commented on #28490
@AureRita missing canonical for the main page it is a bug, or regression when it was in Prestashop 1.6

[2022-05-30 16:35] khouloudbelguith opened #28630 "[PHP8.1] An exception is displayed in the FO > Order history > details"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here https://gi

[2022-05-30 16:41] khouloudbelguith opened #28631 "[PHP8.1] Autoupgrade is not compatible with php8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-05-30 17:00] khouloudbelguith opened #28632 "[PHP8.1] The module ps_contactform is not compatible with php8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots
Previously reported here: https://gi

[2022-05-30 17:05] khouloudbelguith opened #28633 "[PHP8.1] The module ps_linklist is not compatible with php8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here:  https://

[2022-05-30 19:00] #28534 closed, assigned to w-jerome

[2022-05-30 23:13] tone87 commented on #24207
Yes, for me the same problem... not work with sendmail method .. and after i tried with SMTP method but not work too .. i checked in the _configuration table and prestashop have double name of PS_MAIL_ configuration .. this problem create a conflict .. so i removed all names duplicated with id_shop_group and id_shop with a propriety value and i keep all name with NULL value in id_shop_group and id

[2022-05-31 06:23] ramwebkul commented on #20596
@ced--ced @khouloudbelguith
It is a bit late to come back on this issue but I have found a workaround that works for me for now.
The reason of this issue is that the webservice calls setWsCurrentState before setWsShippingNumber, that is why the shipping number is not found when seding email for PS_OS_SHIPPING status.

To solve this: In classes/Order.php, we need to reorder the webserviceParameters

[2022-05-31 07:38] HanaRebaiQA commented on #28562
Thanks @stifler97 for your feedback!

[2022-05-31 08:41] marwachelly commented on #28629
Hello @Seb33300,

I didn'ta manage to reproduce your issue with PS 1.7.8.5. The issue appeared previously on develop branch and was already fixed and the [PR](https://github.com/PrestaShop/PrestaShop/pull/26954) is already merged.

https://user-images.githubusercontent.com/89604350/171130887-c968b997-c2cb-4a11-aaf0-25d0d6ba6edd.mp4

Did I miss something? Could you please check.

Waiting for your f

[2022-05-31 09:16] Seb33300 commented on #28629
In my case, the order share is enabled.

[2022-05-31 09:25] marwachelly commented on #28629
So this is the expected behavior. Could you please disable the option and try. It will be ok. So I will close the issue.

Thanks,

[2022-05-31 09:25] #28629 closed, assigned to nobody

[2022-05-31 10:36] kmorgen commented on #9662
Unfortunately the problem still exist in latest PS 1.7.8.6 update, despite a solution was made long time ago.

It is just a matter of replacing all 'ConfigurationKPI' words with 'Configuration' in dashgoals.php.
So could someone please make a pull request, to get this fixed in future updates?

[2022-05-31 10:45] sowbiba opened #28635 "Allow modules to add search panels"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-31 12:53] drc0 commented on #9932
We upgraded to 1.7.8.5 and the patch https://github.com/PrestaShop/PrestaShop/pull/15399 seems to be applied, we are experiencing this bug multiple times a day, 'no carrier available for this order' and the only way to proceed is to empty the cart and create a new one (same product / variatios, addresses and user) but then the carriers appear, anyone has encountered this problem again?

[2022-05-31 13:08] AureRita opened #28636 "[FO]Some checkbox aren't save during the registration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the behavior and add screenshots

When you check the box for the

[2022-05-31 13:26] juliendombret commented on #26338
if the rules are automaticly add, after delete it that renew
https://user-images.githubusercontent.com/6337822/171184114-63a21488-bb2f-499c-808b-e190f08b2c93.mp4

[2022-05-31 14:46] #28632 closed, assigned to nobody

[2022-05-31 15:17] #28329 closed, assigned to sowbiba

[2022-05-31 16:04] jocel1 commented on #28378
Hi @florine2623 it was not a demo module, in my case it was the module taremindercart which was affected by this issue

[2022-05-31 16:25] marwachelly commented on #28609
Hello @tups ,

Did you mean the attached behavior?

https://user-images.githubusercontent.com/89604350/171224579-43ffe45c-b8a8-4778-a59b-0d93491ff800.mp4

@PrestaShop/prestashop-core-developers What do you think? Is it a bug or a wanted behavior?

Thanks,

[2022-05-31 16:40] matks commented on #28609
It's hard to say "yes it is a bug it does not work as expected" because SEO is a complex topic and the "expected" is so vague. If you ask ten people "what should be the best SEO behavior of [...]" you may get four different answers.

So I suggest to mark this as improvement although indeed the behavior seems weird. But I'm not 100% confident to label this as bug.

[2022-05-31 16:53] Amit-Kumar-Tiwari-Webkul opened #28638 "[FO] : Blank message from customer end must not be allow from order detail page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1- Open the order details page from

[2022-05-31 17:10] tups commented on #28609
Hello @matks

This is not an SEO bug but a URL generation bug.
The alternate URLs are not correct with respect to the original route URL. URL parameters have nothing to do with the URL since it is supposed to be rewritten.

There is double encoding, which generates a bad URL.

I made PR #28625 which corrects this double encoding and outputs the correct URLs.

I did several tests, on all core contr

[2022-05-31 17:23] tups commented on #28609
Thanks @marwachelly for the video and the test.

[2022-05-31 17:39] cubuspl42 commented on #12684
I'm having the same problem as the OP. My VPS server hosting a Prestashop shop under domain `karbonowy.pl` tries to connect to an external shared mail server for domain `karbonowy.pl` via SMTP, which results in the `550 Bad HELO - Host impersonating domain name [karbonowy.pl]` error.

@khouloudbelguith
Could you please comment on the @xpectopatronus post aboce? I know that such "let's just hack ar

[2022-05-31 17:56] tups commented on #28609
Maybe @Quetzacoalt91 will understand the problem I'm trying to explain

[2022-05-31 20:24] Hlavtox commented on #28609
That's not true. Web has rules and these rules are absolutely clear. The alternate href links MUST link to the canoncial of the pages.

@tups fixed it properly 👍

[2022-06-01 07:39] MeKeyCool commented on #28253
I take this one ^^

[2022-06-01 08:11] stenovishal98 opened #28643 "Duplicate Categories in Prestashop 1.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am trying to create a new categor

[2022-06-01 09:34] Hlavtox commented on #27318
@MeKeyCool We need to investigate category images also.

- The thumbnail field in BO creates /img/c/12_thumb.jpg image and generates 12-small_default from it, even if cannot be configured in Image settings at all, it seems.
- This image is not available in frontend category object at all.

[2022-06-01 09:38] idnovate opened #28645 "Code duplicated in PaymentModule class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

Unuseful code duplicated t

[2022-06-01 09:50] la-lisa commented on #11115
I still have the same Bug in 1.7.8.6 is there any solution planned?

[2022-06-01 09:54] gligorij opened #28646 "ps_facetedsearch hide attributes for which don't have any products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

ps_facetedsearch have some issue I

[2022-06-01 09:55] iamtend0 commented on #11115
I also still have this kind of issues.
Case example: a customer order on FO while an employee create an order on BO.

[2022-06-01 09:57] Alexandre17220 commented on #11115
a race condition.. they tell..

[2022-06-01 10:00] Hlavtox commented on #28646
@gligorij Can you please provide screenshots with what you think is wrong?

Faceted shows all products, not only those in stock. If you want to show only products with attributes in stock, check "In stock" filter.

[2022-06-01 10:06] gligorij commented on #28646
Without enabled additional filter “stock filter”, from the start when user is visiting some catalog, I want to see only available size when at least one product have in stock with that specific size. Product size attributes I want to be hidden if there is no products on stock. For example for size 40 there is no at the moment products in stock and that attribute needs to be hidden.

[2022-06-01 10:12] idnovate opened #28648 "Order not validated when notification request is sent"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Payment gateways with redirection u

[2022-06-01 10:59] Alexandre17220 commented on #11115
Yes, I had share this code, I think, look priors messages

[2022-06-01 11:33] Quetzacoalt91 opened #28649 "Fallback when some details are missing for a theme during install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I just tried reinstalling my shop o

[2022-06-01 11:51] jordy-dw opened #28650 "Module link_list overrides grid_panel.html.twig for all modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The default module link_list embark

[2022-06-01 12:00] Betafer opened #28651 "Missing delete button inside message of Customer Service"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

No ability to delete spam messages

[2022-06-01 12:32] eternoendless commented on #27888
You mean the docker image? or is there anything else?

[2022-06-01 12:36] marwachelly opened #28652 "ps_cashondelivery - BO - Possibility to Pay by Cash on Delivery when the product is virtual"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Possibility to Pay by Cash on Deliv

[2022-06-01 12:41] sLorenzini opened #28653 "Error on customer service thread page - PHP 8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With a fresh install, an error appe

[2022-06-01 12:57] pkotala opened #28655 "gsitemap error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I run gsitemap both from admin

[2022-06-01 12:58] Matt75 commented on #28652
@kpodemski Issue is related to BO not to FO ;)

This is related to fact that Order page in BO doesn't use PaymentOption for payment...

[2022-06-01 13:13] kpodemski commented on #28652
@Matt75
whoops, didn't notice, thanks

yes, thanks for the comment! :)

[2022-06-01 14:11] Gaja-A opened #28656 "Tax is not working in v1.7.8.5"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I recently upgraded my store t

[2022-06-01 14:15] #27787 closed, assigned to nobody

[2022-06-01 14:28] hibatallahAouadni commented on #28656
Hello @Gaja-A

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must fill all the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-06-01 14:28] #28656 closed, assigned to nobody

[2022-06-01 14:33] #28655 closed, assigned to nobody

[2022-06-01 14:33] hibatallahAouadni commented on #28655
Duplicate of #27517

[2022-06-01 15:30] #27290 closed, assigned to nobody

[2022-06-01 15:43] hibatallahAouadni commented on #28649
Hello @Quetzacoalt91

Thanks for reporting the issue!
I was able to reproduce the issue with PrestaShop version 8.0.0 (develop). I’ll add this to the debug backlog so that it’s fixed.

![image](https://user-images.githubusercontent.com/23308427/171445162-6430c57d-362b-4be7-93d7-6b47cbfd10db.png)

Please be aware that due to the high number of reported issues, some bugs might take a very long time

[2022-06-01 16:09] #28446 closed, assigned to sowbiba

[2022-06-01 17:03] hibatallahAouadni commented on #28646
Hello @gligorij

As @Hlavtox asked could you please provide screenshots or screen record about this issue :pray:
And could you please list clear and concise steps to reproduce the issue.
Waiting for your feedback.

PS: thanks @Hlavtox for your quick reply :rocket:

Thanks!

[2022-06-01 17:05] #28643 closed, assigned to nobody

[2022-06-01 23:59] dananghel89 opened #28657 "Uncaught SyntaxError: Invalid or unexpected token"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is an error that I received fo

[2022-06-02 07:26] d33x commented on #22121
Same need as @Hlavtox

However, I think that solution A is not ideal because if a customer contacts us by phone or email, it might be difficult to find the order in question if it is hidden.

Solution B is the best in my opinion. It should be possible to take into account other parameters than valid (1/0). Why not shipped (1/0) too? Or a mix of both?

I stay tuned

[2022-06-02 08:27] hibatallahAouadni commented on #28657
Hello @danutel

Indeed it's not the perfect exemple and we need to reproduce the issue with PrestaShop without overrides or with native modules.

PAYCOMET is not native module. It seems that your issue is not a PrestaShop core bug.
If your module is PAYCOMET Official, please contact support team on Addons

We will close this issue.

PS: if you can reproduce the issue with any native module, please

[2022-06-02 08:27] #28657 closed, assigned to nobody

[2022-06-02 08:40] TristanLDD commented on #28406
Hi @Seb33300 thank you for your feedback

I agree with the fact that this block should't be splitted, however it would be better if the block could appear on the first page when the list of products is short enough, and be moved to next page only when the list is too long and makes it split. Maybe you already took that in account?
Thank you

[2022-06-02 08:48] Seb33300 commented on #28406
@TristanLDD Yes, when I said `always move it to the next page`, I mean, in the case there is not enough space on 1st page.

[2022-06-02 09:22] hibatallahAouadni commented on #28621
Hello @Garfield2013

Could you please answer @AureRita question:

Waiting for your feedback.

Thanks!

[2022-06-02 09:24] hibatallahAouadni commented on #28646
Hello @gligorij

Thanks for your feedback.
Glad to hear that you solve your issue :tada:

Closing the issue!
Thanks.

[2022-06-02 09:24] #28646 closed, assigned to nobody

[2022-06-02 09:43] Garfield2013 commented on #28621
https://www.screencast.com/t/mqgfRPeI2xbe

[2022-06-02 10:09] hibatallahAouadni commented on #28621
Hello @Garfield2013

With all provided infos in your comments, I setted steps to reprouce the issue, could you please check it :pray:
And following these steps, I didn't manage to reproduce this issue with PS1786 and develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/171606753-7185ee1c-5ef5-467d-8c63-bf7b4b63de65.mp4

Please check and feedback.
Thank

[2022-06-02 10:20] hibatallahAouadni commented on #28406
Hello @Seb33300

Thanks @TristanLDD for your answer and approve :pray:

We have a GO :tada: you can work on it :muscle:
Waiting for your PR :rocket:

Thanks!

[2022-06-02 10:47] rodriciru opened #28661 "Order status doesn't change to refunded when make a refund"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I do a refund of an order. I expect

[2022-06-02 11:12] Garfield2013 commented on #28621
Yes you manage to get this price to 600.00 AED but it is not the issue. Look at the screenshots in my first post. Hint: click add to cart and then you will see 600.01 AED and also continue to the payment step (step 4) and check all the listed prices. Some er OK 600.00 and some are 600.01

[2022-06-02 12:25] Saimis777 opened #28663 "Letters are allowed where only numbers should be allowes (Specials block module)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the module "Specials block" ther

[2022-06-02 12:37] MeKeyCool opened #28664 "Fix image upload consistency"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-02 12:39] MeKeyCool commented on #27318
@NeOMakinG , could we add #28664 to the todo list ?

[2022-06-02 13:46] #28630 closed, assigned to atomiix

[2022-06-02 13:48] eternoendless commented on #26570
I suggest not to wait for the new version. I don't think it will be available before September.

[2022-06-02 14:38] AureRita commented on #28621
Hi @Garfield2013 ,

Thank you for the time you pass on this issue, I reproduced your issue as we can see on this video :

https://user-images.githubusercontent.com/100699445/171654354-30fb8b00-38e8-4739-9d67-378b3e1a4f91.mp4

I'll change the end of the step to reproduce to have all the details, could you checked and say me if it's correct

[2022-06-02 15:07] hibatallahAouadni commented on #28664
Hello @MeKeyCool

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to h

[2022-06-02 15:14] Matt75 commented on #9756
Hook `displayPaymentReturn` is displayed on order confirmation page.

![displayPaymentReturn](https://user-images.githubusercontent.com/5262628/171662128-38824945-d63d-410e-a2e9-ae4f00785043.png)

[2022-06-02 16:14] MeKeyCool opened #28666 "[Module API] `need_instance` attribute"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-02 16:31] hibatallahAouadni commented on #28666
Hello @MeKeyCool

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR!

Thank you

[2022-06-02 16:42] hibatallahAouadni commented on #28661
Hello @rodriciru

This is the expected behavior, please check our specs [here](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/orders/orders/view-page.md#5-summary-of-the-standard-refund-partial-refund-and-return-product-feature) :pray:
Closing the issue as it's not a bug.

PS: if you would like to change this behavior please open a feature request providing all

[2022-06-02 16:42] #28661 closed, assigned to nobody

[2022-06-02 16:47] hibatallahAouadni commented on #28663
Hello @Saimis777

I reproduce the issue with PS1767 and PS1786, I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https:/

[2022-06-02 19:44] Hlavtox commented on #28135
Any news here?

[2022-06-02 20:36] blawdi commented on #19605
no issue?

[2022-06-02 23:31] abismoar opened #28667 "shows price when the product is configured not to show it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When a search is made and the produ

[2022-06-03 06:59] kpodemski commented on #28667
Hello. You are using a custom search module. The default module doesn't show prices by default.

[2022-06-03 07:19] Prestaworks commented on #9756
Yes, So I think this ticket is just a missunderstanding and could probobly be closed.

[2022-06-03 08:12] #28631 closed, assigned to nobody

[2022-06-03 08:17] hibatallahAouadni commented on #28667
Hello @abismoar

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must fill the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2022-06-03 08:17] #28667 closed, assigned to nobody

[2022-06-03 08:34] michael-ritsch opened #28669 "False product stock value after updating the Cart in backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1. Go to an Order in Backoffice
2.

[2022-06-03 08:56] Betafer commented on #28651
there is no button to delete the message on the message display page.

[2022-06-03 13:22] #28635 closed, assigned to sowbiba

[2022-06-03 14:05] #14784 closed, assigned to Progi1984

[2022-06-03 14:48] ARV-PS opened #28670 "Option allowing access to the back office without transmission of accesses."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-03 14:56] hibatallahAouadni commented on #28670
Hello @ARV-PS

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2022-06-03 15:42] andreicos1982 opened #28671 "Cant change translation on COD module 2.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello. On COD 2.0, cant change tran

[2022-06-03 16:15] abderraxim opened #28672 "Decorating the same controller through different modules. decorate controller behaviour"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

PrestaShop
Symfony 3.4.49
PHP versi

[2022-06-03 17:22] khouloudbelguith commented on #28505
Hello :slightly_smiling_face:

We can close this issue when this PR is merged https://github.com/PrestaShop/autoupgrade/pull/489#pullrequestreview-995243461

Thanks!

[2022-06-03 17:26] hibatallahAouadni commented on #28671
Hello @andreicos1982

I didn't manage to reproduce the issue with PS1786 and COD v2.0.0, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/171915052-a939ee08-19e2-40c6-98c0-dc723731d322.mp4

Please clear your cache and disbale it :wink:
Closing the issue as it's not a bug.

Thanks!

[2022-06-03 17:26] hibatallahAouadni commented on #28671
Duplicate of #16369

[2022-06-03 17:26] khouloudbelguith opened #28673 "BO - Feature flag is enabled - Add new product from the quick access is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-06-03 17:29] hibatallahAouadni commented on #28672
Hello @abderraxim

Ping @PrestaShop/prestashop-core-developers or @PrestaShop/prestashop-maintainers could someone please try to reproduce the issue :pray: it's too technical for me :sweat_smile:

Thanks in advance!

[2022-06-03 17:34] hibatallahAouadni commented on #28651
Hello @Betafer

Your suggestion seems a feature request more than a bug.
So, I'm changing your issue to a feature :wink:

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a speciali

[2022-06-03 17:38] hibatallahAouadni commented on #28669
Hello @michael-ritsch

I didn't manage to reproduce the issue with the provided infos, could you please provide screen record :pray:
Waiting for your feedback.

Thanks!

[2022-06-03 18:15] Szobi81 opened #28674 "ps_cashondelivery 2.0.0 language issues"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With 2.0.0 installed, the module us

[2022-06-03 18:45] #28505 closed, assigned to matthieu-rolland

[2022-06-04 05:45] andreicos1982 commented on #28671
Yes, that part you can translate.
To reproduce the bug, place an order and check the confirmation email. You will see that on email confirmation payment method is not translated also.
![IMG_20220604_084040](https://user-images.githubusercontent.com/106827127/171986346-189a5aa5-bd6c-457a-ba51-fdb56fa55cc3.jpg)

[2022-06-04 07:32] panariga opened #28675 "FO address fields validation not using mb_strlen for non-ASCII characters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Validation fails then using UTF-8 n

[2022-06-04 09:30] stefanomarty opened #28676 "Standard module LinkList throws ClassNotFoundException"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Plain vanilla install on Debian 11,

[2022-06-04 09:50] kpodemski commented on #28676
There's something wrong as this line is different in the official release:
https://github.com/PrestaShop/ps_linklist/blob/5cbfe0566d7273cb15e199915cdf2a7c912ebcda/src/Repository/LinkBlockRepository.php#L179

[2022-06-04 10:32] stefanomarty commented on #28676
That's interesting, I checked the official releases:
[prestashop_1.7.8.6.zip](https://github.com/PrestaShop/PrestaShop/releases/download/1.7.8.6/prestashop_1.7.8.6.zip)
[ps_linklist v5.0.4](https://github.com/PrestaShop/ps_linklist/releases/tag/v5.0.4)
and none of those has the Tools::jsonEncode() function.
I remember I uninstalled and reinstalled the LinkList module from Prestashop Addons marketp

[2022-06-04 13:04] GTriber opened #28677 "Clear all button the filters not showing on mobile 1.7.8.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The button "Clear all" in the filte

[2022-06-04 13:13] stefanomarty commented on #28676
OK, I made a new fresh install and the issue is NOT present!
Something must have happened during the tests I made after the first installation, i.e. I remember trying a couple of different themes. Unfortunately i didn't keep trace of all the different configurations I tried, so I cannot tell when the `Tools::jsonEncode()` line was changed.

I'm closing the issue for now, I will reopen it as soon a

[2022-06-04 13:13] #28676 closed, assigned to nobody

[2022-06-05 06:54] shikotak opened #28678 "problem with displaying multistore after aupgrading to 1.7.8.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrading to 1.7.8.6, multist

[2022-06-05 14:19] luigimassa opened #28680 "Legacy hook vs New Hook dispatcher"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I found in `src/Adapter/Prod

[2022-06-06 09:08] AureRita commented on #28674
Hi @Szobi81

Thank you for the reporting Issue.
I partly reproduced it on 1.7.8.6, Indeed the description of the method of payment and the awaiting status is not translate in hungarian but the rest ( the confirmation mails ) it's in hungarian, we can see it on this video :

https://user-images.githubusercontent.com/100699445/172130135-e97a22b3-9334-4b02-8b03-a9f07594fb1d.mp4

I tried also to do it

[2022-06-06 11:21] Saimis777 opened #28684 "Random symbols are allowed in a field for numbers [Supplier list module]"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The module Supplier list has a fiel

[2022-06-06 12:13] savedario opened #28685 "ps_emailalerts module distribution contains dev dependencies"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Version 2.3.3 gets installed with t

[2022-06-06 12:23] NANOmatic commented on #11587
I have exactly the same issue. Has problem been resolved?

[2022-06-06 12:39] kpodemski commented on #28685
Hi @savedario

I've just updated to `2.3.3`, and I don't see anything wrong inside the `/vendor` directory.

[2022-06-06 14:36] AureRita commented on #28675
Hi @panariga

Thank you for the reporting Issue.
I tried to reproduced your Issue but on the BO, I get the good adresses without non ascii character ( with character ) and the good city ( character ) as you can see on this picture :
![image](https://user-images.githubusercontent.com/100699445/172161817-dd4b6ac0-fe74-4692-999c-cfc5e3d57a3f.png)

I get the good one on the FO

![image](https://user-i

[2022-06-06 14:50] musicpanda opened #28686 "Upgrading from 1.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Trying to upgrade from 1.6 I notice

[2022-06-06 14:53] #28686 closed, assigned to nobody

[2022-06-06 14:59] AureRita commented on #28677
Hi @GTriber

Thank you for the reporting Issue.
I reproduced it on 1.7.8.6 as you can see on this video :

https://user-images.githubusercontent.com/100699445/172186284-642a43c2-827e-4b01-9335-16246f55d5b1.mp4

@NeOMakinG I think it's link with the ajax of the website, is it the intended behaviour ?

@GTriber I will modify your steps to reproduce, could you check it if is something wrong on it ?

[2022-06-06 15:10] GTriber commented on #28677
@AureRita
I have add this code to ps_facetedsearch.tpl
`<button data-search-url="{$clear_all_link}" class="btn btn-tertiary js-search-filters-clear-all">
            <i class="material-icons">&#xE14C;</i>
            {l s='Clear all' d='Shop.Theme.Actions'}
        </button>`

Seems working but after refresh, while any filter selected i got 2x same "clear all" buttons.

I don't mind, that "clear a

[2022-06-06 15:14] Hlavtox opened #28687 "Add default filter option to faceted search"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-06 15:15] khouloudbelguith commented on #27029
Hello @MatShir,

This issue is a regression from PS1780.
Can we re-add it to the 1.7.8.7 project?

Thanks!

[2022-06-06 15:15] molsondry opened #28688 "In front office text customization of a product fails if other product attributes are changed afterwards"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Our products use customization text

[2022-06-06 15:36] javicisro commented on #28671
@hibatallahAouadni [hibatallahAouadni](https://github.com/hibatallahAouadni) please change the status. It's is a bug an can be reproduced. Next time place the order via front end as a regular customer, not via back office as an admin. The order confirmation page and the email has the default order status translation "Cash on delivery".

See screenshots.
![payment-method-01-grillmarket](https://use

[2022-06-06 15:39] AureRita commented on #28687
Hi @Hlavtox
Thank you for your suggestion. The Developer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-06-06 15:56] AureRita commented on #28680
Hi @luigimassa

Thank for your report,
This issue is too technical for me, ping @PrestaShop/prestashop-core-developers, can someone please reproduce this issue ?

Thanks

[2022-06-06 16:18] AureRita commented on #28684
Hi @Saimis777

Thank you for the reporting Issue.
I reproduced it on 1.7.8.6, with the module version 1.0.3 and with the version 1.0.4
you can see a video that show the issue :

https://user-images.githubusercontent.com/100699445/172201377-2eaab303-4a8a-433d-b180-09b0932872b0.mp4

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you c

[2022-06-06 16:27] Matt75 commented on #28671
@andreicos1982 @javicisro Thanks for report this issue, I fixed it on https://github.com/PrestaShop/ps_cashondelivery/pull/46

@hibatallahAouadni Tell me if you need additional information to reproduce this regression bug introduced in version 2.0.0

[2022-06-06 16:32] AureRita commented on #28497
Hi @tiroiretcoton ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thanks

[2022-06-06 16:32] #28497 closed, assigned to nobody

[2022-06-06 16:35] #28508 closed, assigned to nobody

[2022-06-06 16:44] javicisro commented on #28671
@Matt75 [Matt75](https://github.com/Matt75) Thank you for the fix. I've checked it ("It works").

[2022-06-06 19:31] panariga commented on #28675
In Back Office validation works fine
Problem in Front Office.
Customers can`t add full length strings

[2022-06-06 20:57] matks opened #28689 "YamlLint Check reports notices on develop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

YamlLint Check reports notices on d

[2022-06-07 05:03] shikotak commented on #28678
@AureRita
Hi,
No, it"s not related to font.
My ex Prestashop version was 1.7.6.4

[2022-06-07 08:59] hibatallahAouadni commented on #28689
Hello @matks

Thanks for your issue and your PR :rocket:
Indeed it's been awhile since some PRs contain these YAML notices.

Thanks!

[2022-06-07 09:22] matks commented on #28580
Hello @jf-viguier

You are right, http/https check is a mess in the software.

I'm afraid I have no idea how I can help 🤷‍♂️

[2022-06-07 09:42] hibatallahAouadni commented on #28671
Hello @andreicos1982

Could you please check this comment https://github.com/PrestaShop/PrestaShop/issues/28674#issuecomment-1147230698
Is it similar to your issue?
Waiting for your feedback.

Thanks!

[2022-06-07 12:09] sLorenzini commented on #27184
hi @Prestaworks,

I can't reproduce this issue. I have got the same errors as @florine2623.
Here's are my tests:

- 1.6.0.9 version to 1.7.6.0 with php 5.6: shop installation is ok, upgrade success, I can't reproduce the bug
- 1.6.0.9 version to 1.7.8.2 with php 5.6: shop installation is ok, upgrade can't be done because of php version for 1.7.8.2
- 1.6.1.0 version to 1.7.6.0 with php 5.6: shop in

[2022-06-07 12:14] andreicos1982 commented on #28671
It is the same bug as javivisro described. So i gues the module need to be updated

[2022-06-07 12:51] javicisro commented on #28671
[hibatallahAouadni](https://github.com/hibatallahAouadni) Yes it is the same as this comment https://github.com/PrestaShop/PrestaShop/issues/28674#issuecomment-1147230698

[2022-06-07 13:10] AureRita commented on #28675
Hi @panariga

Thank you for the details.
I reproduced it on 1.7.8.3  and not on 1.7.7.8/1.7.6.5 as you can see on this video :

https://user-images.githubusercontent.com/100699445/172388092-3eb48f2b-dd6e-4182-a2dc-c9fcd74d2d7f.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-06-07 13:21] devphoenix2404 opened #28693 "Getting Error in installation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi team,

Whenever I try to install

[2022-06-07 14:52] Hlavtox commented on #27186
@matks @NeOMakinG We need decision and action on this. Version 8 should not be released with a historic version of this library.

[2022-06-07 16:12] hibatallahAouadni commented on #28688
Hello @molsondry

I didn't manage to reproduce the issue with PS1786, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/172430289-e9cc4994-1880-42de-85cf-023358fe2558.mp4

Please check and feedback.
Thanks!

[2022-06-07 16:16] hibatallahAouadni commented on #28693
Hello @devphoenix2404

Could you please provide a screenshot cause the attached photo is broken :disappointed:
And in which step the installation has been stopped?
Waiting for your feedback.

Thanks!

[2022-06-07 16:18] #28514 closed, assigned to nobody

[2022-06-07 16:19] hibatallahAouadni commented on #28525
Hello @Marquis7373

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-07 16:19] #28525 closed, assigned to nobody

[2022-06-07 16:21] #14266 closed, assigned to Progi1984

[2022-06-07 16:26] hibatallahAouadni commented on #28671
Hello @javicisro

Thanks for your feedback!
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28674.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-06-07 16:26] #28671 closed, assigned to nobody

[2022-06-07 17:49] pdkey opened #28695 "Multishop Bugs > Product duplicate, product images and Stock 1.7.8.5"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The following problem occurs:
- Sit

[2022-06-07 17:58] guillaumeprevost opened #28696 "Calculation of repeat buyers in Prestashop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-07 20:50] edwinludik commented on #27438
+1

[2022-06-07 22:34] ocio87 opened #28697 "Inventory from another multistore group affects product in the FO of another group"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It is identified that in a product

[2022-06-07 22:39] abderraxim commented on #28672
Any News ? that's blocking my development process

[2022-06-08 05:48] michael-ritsch commented on #28669
Hi, here are some Screenshots that show how to reproduce this behaviour:

![Bildschirmfoto 2022-06-08 um 07 44 23](https://user-images.githubusercontent.com/55855825/172541049-32acb2b3-b02b-44d0-b6d0-e74b59bdfdbd.png)
![Bildschirmfoto 2022-06-08 um 07 46 00](https://user-images.githubusercontent.com/55855825/172541120-334cb94f-862a-4253-8739-13714d9ee9c0.png)
![Bildschirmfoto 2022-06-08 um 07 46 1

[2022-06-08 07:15] Progi1984 commented on #15788
@PrestaShop/ux-team (@TristanLDD @prestascott) & @mrabsinthe I think it's fixed in last versions :

![image](https://user-images.githubusercontent.com/1533248/172553728-7043f7cd-7d73-48b4-9c1c-b1bbb0123b16.png)

[2022-06-08 07:17] shikotak commented on #28678
@hibatallahAouadni
sure,
![Uploading 0007.jpg…]()

[2022-06-08 07:23] mrabsinthe commented on #15788
According to your print screen, not quite sure but if you think so, try typing averageaddress@length.com (average length - 25 characters) into the "Adresse e-mail" search box. If it is fixed, you should see the whole address there (unlike my original image).

[2022-06-08 08:08] Progi1984 commented on #15788
We need to wait for the @PrestaShop/ux-team feedback.

[2022-06-08 08:25] mefm247 opened #28698 "Refund buttons do not work for some orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For some orders, the "Return produc

[2022-06-08 08:50] Prestaworks commented on #27184
did you add a module also to create the hooks before upgrading?

[2022-06-08 09:09] mefm247 commented on #28698
We were able to resolve this issue by disabling "Rocket loader" from Cloudflare. That optimization was breaking the script but ONLY in certain orders...

[2022-06-08 09:09] #28698 closed, assigned to nobody

[2022-06-08 09:10] hibatallahAouadni commented on #28696
Hello @guillaumeprevost

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implemen

[2022-06-08 09:40] hibatallahAouadni commented on #28698
@mefm247 Glad to hear :tada:

[2022-06-08 10:44] hibatallahAouadni commented on #21283
@Progi1984 so should we add it in the **Fixed ticket?** row?

[2022-06-08 11:05] Progi1984 commented on #21283
@hibatallahAouadni You're right.

[2022-06-08 11:25] Prestaworks commented on #27184
[causeissuesmodule.zip](https://github.com/PrestaShop/PrestaShop/files/8861048/causeissuesmodule.zip)

Hi,

Sorry, I will update the steps.

Install PS 1.6.0.9
Install module "causesissues" to get the hooks created.
Upgrade to version 1.7.6.0 with php 5.6

[2022-06-08 12:38] #21495 closed, assigned to nobody

[2022-06-08 13:27] hibatallahAouadni commented on #28688
Hello @levyn

Well, you only mentioned products with customization and not with combinations :sweat_smile:
So to reproduce the issue, I need to add two products with combinations and customization?? is that so?
Waiting for your feedback.

Thanks!

[2022-06-08 13:28] Seb33300 opened #28700 "Symfony services loaded even if module is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am creating a PrestaShop module,

[2022-06-08 13:28] #28633 closed, assigned to nobody

[2022-06-08 13:38] levyn commented on #28688
@hibatallahAouadni
Yes. That's right.
You need to add 2-3 products with combinations and customizations

[2022-06-08 13:44] Seb33300 opened #28701 "Orders/Products export returns only the 1st page of results"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When exporting the orders or produc

[2022-06-08 13:46] #15145 closed, assigned to Progi1984

[2022-06-08 14:15] davideapvd commented on #18538
Hello, I can give an hint to why this is happening, if you proceed with the checkout and are at the payment step, and set the product quantity to zero, prestashop lets you proceed with the payment and the quantity goes to -1.
If for example you are at the shipping or any previous step, an error is raised and you are redirected to the cart page with an error message.

can this issue be reopened?

[2022-06-08 15:05] #28674 closed, assigned to nobody

[2022-06-08 15:06] #28653 closed, assigned to atomiix

[2022-06-08 15:39] #28689 closed, assigned to nobody

[2022-06-08 15:56] hibatallahAouadni commented on #28695
Hello @pdkey

It seems you report more than a bug in this report :sweat_smile:
But all of them are related to a duplication of product with multistore context selected, is that so? if so, your issue is related/duplicate to this one #27148.

Could you please check #16753 if it's related to your question :pray:

Thanks!

[2022-06-08 15:58] 170686 opened #28703 "How to overwrite the query in order to make visible only the products loaded in the last X days within the page of a category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-08 15:59] hibatallahAouadni commented on #28703
Hello @170686

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prest

[2022-06-08 15:59] #28703 closed, assigned to nobody

[2022-06-08 16:02] hibatallahAouadni commented on #28700
Hello @Seb33300

Could you please provide a module that contain this service :pray: to reproduce the issue, please :pray:
Waiting for your module :sweat_smile:

Thanks!

[2022-06-08 16:42] hibatallahAouadni commented on #28701
Hello @Seb33300

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19527.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-06-08 16:42] #28701 closed, assigned to nobody

[2022-06-08 16:42] hibatallahAouadni commented on #28701
Duplicate of #19527

[2022-06-08 17:05] hibatallahAouadni commented on #28669
Hello @michael-ritsch

Thanks for the screenshots :pray:
I see what you mean, I think we may encountered this issue, could you please check this issue #19454 it seems related to yours.
Waiting for your feedback.

Thanks!

[2022-06-08 17:14] hibatallahAouadni commented on #28678
Hello @shikotak

Thanks for the screenshot :pray:
I just change the steps to reproduce in the issue description, could you please check and confirm :pray:
Please provide the 1-Click upgrade module version, that you used to uograde your shop.
Waiting for your feedback.

Thanks!

[2022-06-08 17:51] netzstark-de commented on #28306
Hi! I have the same problem with the hook ActionPresentCart. The error message is there:
Indirect modification of overloaded element of PrestaShop\PrestaShop\Adapter\Presenter\Product\ProductListingLazyArray

Hope it's not expected behavior :)

[2022-06-09 00:12] PululuK opened #28704 "Add new global var `forms`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-09 07:10] matks commented on #28704
Hi @PululuK I dont understand 100% the feature

Do you want to be able to display, on any FO page
- the links to the forms? this I can understand
- the forms themselves? this one 😅 I'm a little unsure what is the goal

[2022-06-09 07:28] #11752 closed, assigned to nobody

[2022-06-09 07:37] ejfarsta opened #28707 "Cash on delivery order status issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrading ps_cashondelivery t

[2022-06-09 07:53] PululuK commented on #28704
Hello @matks

To display themselves :)

For example :

- Display login form on top of all pages
![image](https://user-images.githubusercontent.com/16455155/172793795-591236af-ac7d-4091-be43-4b302849513a.png)
- Or display login and registration form in same page

![image](https://user-images.githubusercontent.com/16455155/172794799-6712f3b0-614b-429b-b512-1e1df5d8e9d1.png)

[2022-06-09 08:00] matks commented on #28704
Ah I see now 👍 thanks I love the suggestion

[2022-06-09 08:16] Matt75 commented on #28707
It's a attended behavior because `Preparation in progress` is considered as paid.

Order state should be `Awaiting Cash On Delivery` that's not considered as paid.

Order state `Out of stock` is not set by `ps_cashondelivery` but by the core itself.

For more information, please read https://github.com/PrestaShop/ps_cashondelivery/pull/32

As a new feature we can add a module configuration page to

[2022-06-09 08:22] sLorenzini commented on #28704
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Thanks for your PR 🚀

Thank you

[2022-06-09 08:32] sLorenzini commented on #28707
hi @ejfarsta,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- screenshots or screen record
- clear and concise steps to reproduce
- version ps_cashondelivery module before the upgrade

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc

[2022-06-09 08:35] matks opened #28708 "❄️ 8.0.0 feature freeze"
### Current status

- [x] Create 8.0.x branch https://github.com/PrestaShop/PrestaShop/tree/8.0.x
- [x] Update GitHub template https://github.com/PrestaShop/PrestaShop/pull/28710
- [x] Publish Build article https://github.com/PrestaShop/prestashop.github.io/pull/1089
- [x] Update nightly builds to compute a ZIP for 8.0.x branch each night https://github.com/PrestaShop/PrestaShop/pull/28710
- [x] U

[2022-06-09 08:38] ejfarsta commented on #28707
It doesn't make sense. Okay, I understand that the order is not paid but how can you "await for cod payment" before processing the order and sending it out?
First you have to "accept" the order in store, then process it, send it out, deliver and then it can be "awaiting for COD payment". As this is the moment your are actually awaiting for your payment to came from carriers company ...

Our employ

[2022-06-09 08:50] Matt75 commented on #28707
In fact, there a misunderstood because order state `Awaiting Cash On Delivery validation` is set on order at creation because merchant want check order before change order state to another and also order should not be considered as paid to avoid to sent false data to analytics tools and accounting stuffs.

So if you need to add another order state `await for cod payment` after you sent the package

[2022-06-09 09:09] drc0 opened #28709 "Generated microdata in head-jsonld.tpl is wrong if logo_details not available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

if you have a condition at line 31

[2022-06-09 09:13] NeOMakinG commented on #28709
FYI I guess QA can test this using https://developers.google.com/search/docs/advanced/structured-data

[2022-06-09 09:14] drc0 commented on #28709
the bug should be independent from prestashop version, it is dependent only on the code syntax, you can't have a trailing comma.

[2022-06-09 09:38] matthieu-rolland commented on #28704
I like it !

Is it really the product team's call ? To me it looks more like a matter of technical implementation and should be agreed by devs/maintainers

[2022-06-09 10:16] jolelievre commented on #28708
Here is the PR that updates the github configuration https://github.com/PrestaShop/PrestaShop/pull/28710 (PR templates, github actions for nightly, ...)

[2022-06-09 10:22] sLorenzini commented on #28697
Hello @ocio87,

I coudn't reproduce your issue.

My configuration:

2 groups of shop:
- Default with 2 shops (PS 1785 & default 2) and "Share available quantities for sale" switch set to **yes**
- attributes with 1 shop (shop 1) and "Share available quantities for sale" switch set to **no**

1 product on each shop with S/M/L sizes and Green/Yellow/Red colors as attributes.

On shop 1 (group 2), th

[2022-06-09 11:34] doeselschnecke opened #28712 "Customer language not in invoice or delivery slip in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Wrong language for customer's deliv

[2022-06-09 11:59] matks commented on #28708
Documentation about what it means https://devdocs.prestashop.com/1.7/project/release/minor-release-lifecycle/#feature-freeze

[2022-06-09 12:12] ocio87 commented on #28697
Hello,

Sorry, I missed a configuration that is involved in the bug.

In group 1 the stock is fine. The novelty is when stock is increased in group 2 and this increase is shown in group 1 although it is not allowed to be selected when the configuration is that it does not show the attribute when there is no stock.

![image](https://user-images.githubusercontent.com/12537826/172843964-ace52333-5266

[2022-06-09 13:28] sLorenzini commented on #28697
hello @ocio87,

Indeed with this option set to "No", I reproduce your issue with ps1785 / . I'll add this to the backlog so it can be fixed.

See screen record below:

https://user-images.githubusercontent.com/2854834/172853683-c125d0ad-90a6-41d9-80fc-9e641126c160.mp4

I'll modify a  your steps to reproduce, can you notify me if this is not good steps?

Please be aware that some issues might take

[2022-06-09 13:36] edzima commented on #26855
Nope. In 1.7.8.6 the problem has returned ;(

[2022-06-09 13:42] doeselschnecke commented on #28712
They‘re correct.

I fixed it on my Webserver but not in my forked repository yet. I have to get used to GitHub first

[2022-06-09 13:51] SebSept opened #28713 "Stocks not correctly updated with a pack product (pack quantities=decrement both)."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Stock not correctly changed with a

[2022-06-09 13:52] sLorenzini commented on #28712
I've noticed that you add in your description the php 8.4 version to test this issue.
This one is not compatible with 1.7.8.x version.
Please find [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart) the php compatibility with PrestaShop version.

[2022-06-09 14:10] sLorenzini commented on #28709
hello @drc0,

Thank for your report,
This issue is too technical for me, ping https://github.com/orgs/PrestaShop/teams/prestashop-core-developers, can someone please reproduce this issue?

Thanks

[2022-06-09 14:24] drc0 commented on #28709
Hi @sLorenzini ,
sure no problem, the link you gave me returns 404, is there some other way I can do what you are suggesting? Let me know if I can help giving you more informations.

[2022-06-09 14:56] rodriciru opened #28715 "Expose smarty var to add reviews on productcomments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Google Structured data testing tool

[2022-06-09 15:18] sLorenzini commented on #28688
Hello @molsondry ,

I reproduce the issue with ps1786 / ps1780 with products with combinations and customizations.
I can't reproduce on ps1778. It's a regression.
I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly

[2022-06-09 15:41] sLorenzini commented on #28715
Hello @rodriciru,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you

[2022-06-09 15:41] #28715 closed, assigned to nobody

[2022-06-09 15:45] kpodemski commented on #28715
Hello @rodriciru

I think it's more like a feature request. Feel free to create one because I've seen you sent a PR already 💪🏻👍🏻

[2022-06-09 15:54] rodriciru opened #28719 "Expose smarty var to add reviews on productcomments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-09 15:56] rodriciru commented on #28715
Thanks @kpodemski you are right.
I open a new issue:
https://github.com/PrestaShop/PrestaShop/issues/28719

[2022-06-09 17:02] augustomurri commented on #26754
Hi, i have experiencing same issue on PS 1.7.8.5 .. disaster :(

Anyone can help me?

![image](https://user-images.githubusercontent.com/16515870/172903615-49d05d2f-1922-42f9-914f-1960a1ce25ad.png)

[2022-06-09 19:49] abdullacm commented on #13681
@matks
is this available in 1.7.8+ versions? I had added some custom fields to Product.php by overriding, but I would like to remove override and make it using any hooks or other ways if available. With override, sometimes the overrides are not working and have to remove/rename var/cache/<prod/dev>/class_index.php

what do you recommend?

thanks,

[2022-06-09 20:21] Rafnexx commented on #19292
Sorry for commenting in this topic so long after its closing, but it seems that this issue still exists.
I had exact same problem as @irvine48.
I'm using:

- Prestashop 1.7.8.6
- PHP 7.4

Uncommenting below lines in admin-dev/.htaccess resolved it.
[code]

[2022-06-10 04:34] cquintini opened #28721 "Cart with wrong id_shop_group"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using a fresh install on a single s

[2022-06-10 05:01] Seb33300 opened #28723 "Remove "Powered by PrestaShop" from emails"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In [the latest news about PrestaSho

[2022-06-10 07:15] metacreo commented on #20921
Fixed in statsdata 2.1.1

[2022-06-10 07:17] matks commented on #28723
It is not something we forget
it is not something intentional

It's just that there is hundred of links like this everywhere in the project and it takes weeks to modify them all. I'm quite sure if you look around you will be able to find more.

If you want to help I think we can remove link to prestashop.com by link to https://www.prestashop-project.org/ . But I don't think the text "Powered by pr

[2022-06-10 07:49] florine2623 commented on #28723
Hello @Seb33300 ,

Thank you for your suggestion.

Do not hesitate to create a Pull Request if possible ^^

Thank you

[2022-06-10 09:05] florine2623 commented on #28719
Hello @rodriciru ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

Thanks for the PR !

T

[2022-06-10 09:53] sLorenzini commented on #27184
hello @Prestaworks,

Thank you for the update of the steps.
I tried to reproduce with those steps, but without success again:

- install ps 1609 in php 5.6
- install "causesissues" module. only the displayNavFullWidth hook was displayed
![Capture d’écran 2022-06-10 à 11 19 32](https://user-images.githubusercontent.com/2854834/173039256-052766d6-bec1-4032-b90e-9a4bd4078012.png)
- install "autoupg

[2022-06-10 09:57] Prestaworks commented on #27184
Ddi you get the warning in the upgrade logs?

[2022-06-10 10:00] sLorenzini commented on #27184
No warning at all...

[2022-06-10 11:10] caygri commented on #28229
Hello, how can I add extra product type?

[2022-06-10 11:35] Prestaworks commented on #27184
it's also off that the latest version 4.1.14 is working for you since it's not php5 compliant.
![bild](https://user-images.githubusercontent.com/2902272/173056486-982c5f71-7eed-49ec-bd68-de33ac850e5f.png)

[2022-06-10 11:54] Hlavtox commented on #28723
@matks Another point of view to consider that is related to this - a good safety measure is to remove traces of signs that reveal the platform used, so malicious servers of users have harder time detecting your software and abusing it.

[2022-06-10 11:59] Prestaworks commented on #27184
another way to verify the issue, would be to install 1.6.0.9
check that displayNavFullWidth and displayProductExtraContent is missing
`select * from ps_hook where name='displayNavFullWidth' OR name='displayProductExtraContent'`

then
install the "causesissue" module.
check that displayNavFullWidth is now created.
`select * from ps_hook where name='displayNavFullWidth' OR name='displayProductExtraC

[2022-06-10 12:10] florine2623 commented on #28721
Hi @cquintini ,

I reproduced the issue with PrestaShop version PS 1.7.8.x I'll add this to the backlog so it can be fixed.

<img width="1188" alt="Screenshot 2022-06-10 at 10 13 45" src="https://user-images.githubusercontent.com/16019289/173060993-38db3743-4020-4226-a786-f34d14b16dcb.png">

Please be aware that some issues might take a very long time to be resolved. If this one is important to yo

[2022-06-10 12:14] cquintini commented on #28721
Hi @florine2623 thanks for checking this out.  As a matter of fact, I've already fixed this issue and introduced this pull request:  #28722

Regards,
Cesar

[2022-06-10 12:19] matks commented on #28723
Security by obsfucation 😉 😛

I think removing the "powered by prestashop" wording is something easy to do for users wanting to do it ^^ and I'm afraid hacking tools have systems able to detect what is your CMS far more performant that looking for the name of the CMS

(also here we're talking about email templates, so bots scrapping websites are out of topic)

I would be sad to see this little "Pow

[2022-06-10 12:22] sLorenzini commented on #27184
Thank you for all the details.

I use manual upgrades from BO. Maybe also my environment is the problem 😉
It is too technical for me with this method. @core-developers can someone please try to reproduce the issue 🙏?

Thanks

[2022-06-10 12:35] matks commented on #26427
Feature freeze happened on 2022-06-09 https://github.com/PrestaShop/PrestaShop/issues/28708

[2022-06-10 13:00] tom-combet opened #28726 "Installation stuck after installing fixtures of prestashop-shop-creator"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After using generated data from [pr

[2022-06-10 13:13] beoji commented on #11277
How to change position of button in product miniature?

[2022-06-10 13:57] beoji commented on #11277
Ok, I've done it later but it has to flush cache

[2022-06-10 14:17] florine2623 commented on #28713
Hello @SebSept ,

I have reproduced your issue in PS 1.7.8.x and 8.0.x. I'll add this to the backlog so it can be fixed.
The stock is not updated after Cancelling an order containing a Pack product.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you c

[2022-06-10 14:51] florine2623 commented on #28678
Hello @shikotak ,

Thanks for the update, glad it works well now !
As it is fixed, I will close the issue.

Thanks!

[2022-06-10 14:51] #28678 closed, assigned to nobody

[2022-06-10 15:23] florine2623 commented on #28721
Related to https://github.com/PrestaShop/PrestaShop/issues/28515

[2022-06-10 15:37] felinuxsas opened #28727 ""Type error" message when trying to edit category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![0125](https://user-images.githubu

[2022-06-10 15:39] hibatallahAouadni commented on #9728
Hello everyone,

This issue doesn't contain any clear steps to reproduce neither a complete and clear description of the problem.
Closing the issue as we couldn't reproduce with the provided infos.

Thanks!

[2022-06-10 15:39] #9728 closed, assigned to nobody

[2022-06-10 15:40] florine2623 commented on #28713
https://github.com/PrestaShop/PrestaShop/issues/14329

[2022-06-10 15:48] tups commented on #28609
Hello,

I see that the issue is still tagged "Needs Specs", what information do you want?

[2022-06-10 15:49] florine2623 commented on #28727
Hello @felinuxltda ,

Please make sure your version of PHP match with your PrestaShop version.
See our system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2022-06-10 15:49] #28727 closed, assigned to nobody

[2022-06-10 15:59] felinuxltda commented on #28727
https://comfandi-test.felinux.co/marketplace/php/phppsinfo.php

User/password: prestashop

[2022-06-10 16:04] tom-combet commented on #28726
Did you successfully generated the data with prestashop-shop-creator?
If so, you just have to move the `generated_data` folder content to `install/fixtures/fashion` folder, in your new PrestaShop you're installing, like so:

`mv /path/to/prestashop-shop-creator/generated_data/* /path/to/prestashop/install/fixtures/fashion`

[2022-06-10 17:11] augustomurri opened #28728 "Hundred of queries on ps_address table"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I get hundred of queries like this

[2022-06-10 17:51] felinuxltda commented on #28727
![imagen](https://user-images.githubusercontent.com/9337043/173123346-d31eae77-40c9-4c96-9c87-9984b11be27f.png)

[2022-06-10 20:42] matks commented on #28728
@augustomurri is it the same problem as https://github.com/PrestaShop/PrestaShop/issues/26754 ?

[2022-06-10 21:00] Progi1984 commented on #26754
Fixed by #28232

[2022-06-11 00:24] DracoBluee opened #28731 "Auto Image Optimization"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-11 03:21] Seb33300 commented on #28229
I used this module to solve my issue:
https://addons.prestashop.com/en/front-office-features-prestashop-modules/88383-upload-any-file-type-in-product-customization.html

[2022-06-11 09:06] jbenezech opened #28732 "Strict convention on directory structure for module's Doctrine entities"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is not really a bug, but a beh

[2022-06-11 09:33] shikotak commented on #28678
Hello @florine2623
Yes, you can close the issue.

[2022-06-11 14:16] Hlavtox commented on #26754
@Progi1984 @matks Not fixed, why closing?

[2022-06-11 14:44] augustomurri commented on #26754
The fixed suggested in [#28232](https://github.com/PrestaShop/PrestaShop/pull/28232) add a caching mechanism in _class/Address_ and _classes/Cart.php_ but don't consider the method **getProductAddressId** in _classes/Cart.php_ wich also use AddressExists method

[code]
Commenting the lines suggested above the problem does not happen

In my case ALL the pages make hundred and hundred of duplicated

[2022-06-11 14:46] augustomurri commented on #28728
I don't know exactly if is the same bug, but fix [#28232](https://github.com/PrestaShop/PrestaShop/pull/28232/commits/a54fb55a7395a61ad5989b956acbf5c0e0542b38) doesn't fix the bug

I wrote also here [here](https://github.com/PrestaShop/PrestaShop/issues/26754#issuecomment-1152941414)

[2022-06-11 15:30] augustomurri commented on #28728
This a fresh installation with default theme, no third part modules

1. register and login
2. add one or more address in your customer area
3. add one or more product to the basket

![image](https://user-images.githubusercontent.com/16515870/173194303-8bd40eb4-8108-4d4c-9806-b53d1a861aba.png)

[2022-06-11 23:10] dertin commented on #28676
Hello, I had the same error, and I don't know how that line was modified. Does anyone know why this can happen?

[2022-06-11 23:23] stefanomarty commented on #28676
I still need to complete my tests. Do you remember if you have loaded any different theme after the first install? At the moment it's the only cause I can think of.

[2022-06-12 10:44] #12917 closed, assigned to nobody

[2022-06-12 15:49] shift4world opened #28733 "Import Export Arabic Issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop 1.7.8.6 .. Arabic versio

[2022-06-13 07:26] abramofranchetti commented on #28731
@DracoBluee could you provide some further explanation or some example?

[2022-06-13 08:11] d33x opened #28734 "SQL Manager - Option to remove column headers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-13 08:12] #28480 closed, assigned to matks

[2022-06-13 08:18] MatShir commented on #28723
Nice catch @Seb33300 here, if you see more links don't hesitate to share it.
Here we have 2 options:
1. Remove definitely the wording and links
OR
2. Put the project link.
We will decide between @PrestaShop/prestashop-maintainers the best solution, we will keep you in touch :)

[2022-06-13 08:20] d33x opened #28735 "SQL Manager - Automatically executes the query (via CRON) and sends the file to an FTP or available via a URL."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-13 08:26] matks commented on #28735
Hello @d33x that is an interesting idea but I think this is a usecase very specific that only a small number of prestashop users would find useful 😅 . It could be a nice idea for a module 😉 ?

[2022-06-13 08:43] DracoBluee commented on #28731
optimizing photos and compressing.  so that the image files weigh less.  optimization should run automatically as soon as the image is loaded.  this is very important because due to bad optimization of photos the page loads slower.

[2022-06-13 09:49] gilemon opened #28737 "Duplicate NT iso_code in state table"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After installation, the state table

[2022-06-13 09:54] Hlavtox commented on #28731
Hi @DracoBluee, I am not exactly sure what you mean by photo optimization.

- Prestashop automatically optimizes image sizes by rendering proper thumbnails that you need.
- It will render multiple image formats for usage in srcsets in future version.
- You can set your own compression ratio for JPGs and PNGs to save space.

There is nothing more that can be done to optimize images.

[2022-06-13 09:58] matks commented on #28719
I think it's a good idea 👍 but the exposed variable must be generic, not tighted to productcomments. Because another module could also provide it.

So I 👍 the feature request

[2022-06-13 09:59] Hlavtox commented on #28735
Hi @d33x, this is very custom functionality and I think it should not be included in the core. You can easily program something like this yourself. cron.php:

[code]

[2022-06-13 10:10] gilemon commented on #28737
install-dev/data/xml/state.xml has correct id_country for both NT entries. Issue must come from somewhere else than the installation script.

[2022-06-13 10:10] #28737 closed, assigned to nobody

[2022-06-13 10:14] MatShir opened #28738 "Change product type and lost my product data"
## Describe the bug

As merchant, when I do changes in my product and then change the product. I lost all my data because I didn't save the changes first.

## Expected solution

When the product has unsaved modification, the user can't change the type of the product.
When the product has unsaved modification
Then change type button is disabled.

When the product modification have been saved / Ther

[2022-06-13 10:15] AureRita commented on #28733
Hi @shift4world

Thank you for your issue !
Currently, we haven't enought details to reproduce your issue, I see on your second picture that you are showing something that works.
To help us, can you add on your description some symbols that doesn't works during the exportation ?
For the "Steps to reproduce" section, it's not related to developers, in this section, write, step by step, what you did

[2022-06-13 11:28] AureRita commented on #28731
Hi @DracoBluee ,
As Daniel mentioned above "There is nothing more that can be done to optimize the images"
So closing the issue as your proposal is not clear enough.
Thanks!

[2022-06-13 11:28] #28731 closed, assigned to nobody

[2022-06-13 13:05] dobra947 opened #28739 "Incorrect template path in contactform module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The path of the template is invalid

[2022-06-13 13:26] matks commented on #28735
Closing as @Hlavtox has the same opinion and provided a great answer

[2022-06-13 13:26] #28735 closed, assigned to nobody

[2022-06-13 13:58] AureRita commented on #28732
Hi @jbenezech

Thank for this reporting !

as you said : "This is not really a bug, but a behaviour that is not obvious so I'm dropping this here in case people stumble across the same problem as me."

it seems more like a feature you want than a bug, so I'll treat it like that,

Say it to me if your not agree with that,

The Developer Team will take it into consideration for future developments.

[2022-06-13 14:13] AureRita commented on #28734
@d33x This feature is implemented in the next major version 8.0.0.
To be informed when it's released, please subscribe to this issue #26427
Closing the issue as it's fixed!

Thank you for your understanding and your patience

[2022-06-13 14:13] #28734 closed, assigned to nobody

[2022-06-13 14:14] AureRita commented on #28734
Duplicate of #28073

[2022-06-13 14:22] #22825 closed, assigned to marsaldev

[2022-06-13 14:48] AureRita commented on #28739
Hi @,

I reproduce the issue with PrestaShop version 1.7.8.6, as we can see :

https://user-images.githubusercontent.com/100699445/173375179-e234deba-1c6a-490e-b1e6-fb78bc424edd.mp4

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s ow

[2022-06-13 15:07] AureRita commented on #28728
HI @augustomurri  ,

We are aware of this issue, it is already in our debug backlog. As you can see with @matks this issue is a duplicate of #28232 .
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2022-06-13 15:07] #28728 closed, assigned to nobody

[2022-06-13 15:08] AureRita commented on #28728
Duplicate of #28232

[2022-06-13 15:11] AureRita commented on #28737
Thanks for your feedback

[2022-06-13 15:33] PrestaEdit commented on #28739
It's handled there : https://github.com/PrestaShop/contactform/pull/60
And, so, there is a issue with the same object already.

[2022-06-13 15:52] AureRita commented on #28726
Hello @tom-combet,

Please check if these steps to reproduce are correct :

- create a folder where you want to put the files generated
- git clone https://github.com/PrestaShop/prestashop-shop-creator.git
- composer install
- setup the number of data you wish for each categories
- php app/console.php
- Begin installation of PrestaShop and stop at database configuration step
- Move generated data

[2022-06-13 15:54] nexustotalsolutions commented on #27561
@hibatallahAouadni @MatShir, After 4.5 months of time, still you're not able to delete some lines of code.

[2022-06-13 16:10] matks commented on #28617
I validate the issue

[2022-06-13 16:13] ghost opened #28742 "Allow to translate placeholder in create account section ( DD/MM/YYYY )"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-13 16:49] tups commented on #28609
Thank you @matks, I await their return

To explain in a simple way, a page with content must have a unique URL. So a content = a URL. To avoid "Duplicate content".
So my case, from a module, I create a page, with several languages (FR + EN).

So I need to have two URLs, one for each language.
```http://www.test.local/fr/blog/category/15_des-conseils.html```
```http://www.test.local/en/blog/categor

[2022-06-13 17:38] PrestaEdit opened #28744 "Attempted to load class "Zxcvbn" from namespace "ZxcvbnPhp"."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

<img width="1150" alt="Capture d’é

[2022-06-13 19:06] GTriber commented on #28677
Any news on that?

[2022-06-13 19:07] #28744 closed, assigned to nobody

[2022-06-13 19:52] okom3pom commented on #28742
Like this : https://www.prestashop.com/forums/topic/1065067-besoin-daide-pour-modifier-ddmmyyyy-par-d%C3%A9faut-dans-le-champ-date-de-naissance-du-formulaire-dinscription/

[2022-06-13 21:28] davidcylke commented on #14979
Bump. I can pay

You have any way of improving it?

[2022-06-13 21:44] kandiaga commented on #14979
So if you are interested contact me : https://prestatuts.com/en/contact-us

You can also reach me from the forum : https://www.prestashop.com/forums/profile/818747-ndiaga/

[2022-06-13 21:44] kandiaga commented on #14979
Yes  please  contact  me.

[2022-06-14 01:40] mnowakpcgs commented on #14979
*gets popcorn*

On Mon, Jun 13, 2022, 8:24 PM davidcylke ***@***.***> wrote:

[2022-06-14 06:33] daresh commented on #28336
@matks - your change in Cart.php class seems to have really bad side effects.

[2022-06-14 07:35] matks commented on #14979
Hello everyone I notice the latest comments might drive this conversation to a topic not related to the initial issue. In order to avoid further issues I hid the initial post and I request that next comments focus on the initial Cart / Checkout performance issue for multiple products in basket topic 👍

[2022-06-14 08:01] hibatallahAouadni commented on #28744
@PrestaEdit Related to your overrides?

[2022-06-14 08:02] PrestaEdit commented on #28744
@hibatallahAouadni Don't know exctly, I use the 8.0.x branch and maybe I wasn't up-to-date.
Composer update and trying to re-install was good for me, so I assume it's an invalid issue, yes ;-)

[2022-06-14 08:17] hibatallahAouadni commented on #28742
Hello @okom3pom

I think you mean "JJ/MM/AAAA" :wink: cause "DD/MM/JJJJ" has no meaning :sweat_smile:

![image](https://user-images.githubusercontent.com/23308427/173526526-96760dac-6996-4643-920d-0829fe223d5a.png)

Changing your screenshot by this one :wink:

![image](https://user-images.githubusercontent.com/23308427/173528691-cff240c9-a4e9-42d2-afd6-94742bfa2537.png)

Thank you for your suggest

[2022-06-14 08:21] okom3pom commented on #28742
Thank you @hibatallahAouadni  :)

Are you ready i am back ! :baby_bottle: done !

[2022-06-14 09:32] hibatallahAouadni commented on #28744
Thanks for your feedback!

[2022-06-14 09:54] hibatallahAouadni opened #28748 "[WS] Handle PATCH requests for attachments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Following the merge of https://gith

[2022-06-14 13:34] #9707 closed, assigned to kpodemski

[2022-06-14 14:50] Sameye commented on #20173
I had same issue and it was indeed related to the max_input_vars limit. Thanks for sharing because I could have search all day.

[2022-06-14 21:54] Borgas opened #28753 "Pdf generator (print line with error)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product with combinations, when pdf

[2022-06-14 22:01] Borgas commented on #28753
It´s a translation issue

![Capturar](https://user-images.githubusercontent.com/54105234/173696704-51447057-c71a-441d-9898-1f522ffb4000.PNG)

[2022-06-15 06:44] pdkey commented on #28695
Hi @hibatallahAouadni

Thank you for your quick response.

To #27148 - I think not.
In my case the categories, store groups and products of store 1 and store 2 are completely separated.
No product is used in both shops.

To #16753 - also a different situation.

In both shops, if products are duplicated, the images must be deleted in global mode.
If images are deleted directly in one shop. No new i

[2022-06-15 06:44] nmacfarlane-montonio opened #28754 "PaymentModule::validateOrder - Secure key does not match (no MailChimp)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is an occasional error that oc

[2022-06-15 07:56] jbenezech commented on #28732
@AureRita That's cool with me. It's a very specific issue, probably affecting a very small number of developers who will find a reasonable workaround in this ticket. Very low priority indeed.

[2022-06-15 08:03] la-lisa opened #28757 "Duplicated Invoice Number"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If several orders are placed at exa

[2022-06-15 08:08] kratekk commented on #22637
Hi @Hlavtox in my case this queries does not work. I did some verification and all code looks logical. The same in database but after execution all above, when I get-in into product card (in the backend). Custom values are empty but nothing is selected on the list of values (but should be now, right?) I also cleared cache but still the same. Any idea, why? Also found some bug. In my case 'position

[2022-06-15 09:30] la-lisa commented on #28757
As described above, it happens under certain circumstances when in the database the query SELECT (MAX(number) + 1) AS new_number, returns the same value. E.g. if the operations for the two different orders are executed almost at the same time, or one takes a little longer.
It's hard to recreate this problem under artificial circumstances, but we have this problem every month with a customer with a

[2022-06-15 10:22] Betafer commented on #20090
The problem is still present in prestashop 1.7.8.6

in in the product title the is a apostrophe >>  ’
the generate url button doesn't remove it, and when save button is clicked you get error the url is invalid, so you have to remove manually form url in order to get link ad product saved

[2022-06-15 10:25] hibatallahAouadni commented on #28754
Hello @nmacfarlane-montonio

I can see you're frustrated, but how can I help you if you don't provide more infos :thinking:
Well, could you please provide:

- the payment module that I use to encounter this issue,
- your PHP version,
- did you override the payment controller?

You mean that in **BO**>**SELL**>**Orders**, the status of order is `payment accepted` and yet you didn't receive any paym

[2022-06-15 10:32] dobra947 opened #29901 "Notice: Trying to access array offset on value of type bool"
in file modules/ps_buybuttonlite/controllers/admin/AdminAjaxPs_buybuttonliteController.php (line 129)

[code]
Module version 1.0.1

[2022-06-15 10:36] Hlavtox commented on #28754
Never seen this error in 7 years of using prestashop. I think it's a module that's causing this.

[2022-06-15 11:29] hibatallahAouadni commented on #28753
Hello @Borgas

I didn't manage to reproduce the issue with PS1783, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/173816935-96b56b60-a17f-4015-b6b6-8352fb4d6808.mp4

Please check and feedback.

Thanks!

[2022-06-15 11:57] Borgas commented on #28753
Product much have combinations, in your test seems it doesn´t have, i´m i correct?

Thank you

[2022-06-15 12:18] matks commented on #28732
Hello @jbenezech

I think this _must be done_ because as you said it will be a trouble for people. Do you want to try? Here is how: https://devdocs.prestashop.com/1.7/contribute/documentation/

This would be a good improvement of the current system 👍 it makes sense to include subdirectories.

More vague ^^ so maybe previous ideas are a good shot

[2022-06-15 12:41] #27823 closed, assigned to Progi1984

[2022-06-15 12:49] matks commented on #28754
Even if this store is not using MailChimp, error can come from wrong server configuration, from wrong module or theme installed, or wrong usage.

I confirm we are not going to fix an error that we cannot understand. Nobody can. You can try to hire anybody - agency, freelance, big tech company, if they cannot understand the exact circumstances that allow the error to happen, they cannot fix it.

[2022-06-15 13:00] Betafer commented on #28651
OK thanks

[2022-06-15 13:02] Betafer commented on #9650
This problem is also present in PS 1.7.8.6

[2022-06-15 13:03] hugofintecture commented on #10157
We have the same problem with our payment module. The invoice number is not updated when setting the status to paid via a webhook.

[2022-06-15 13:03] tom-combet commented on #28726
Yup, except that step 1 is not compulsory: prestashop-shop-creator will already create a folder named "generated_data" for you.

[2022-06-15 13:17] Kaikina opened #28758 "Hiding unknown accounts"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-15 13:19] alesspetio01 opened #28759 "Slow loading of category page with default Prestashop theme"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

When you have a lot of cat

[2022-06-15 13:28] matks commented on #28758
Thank you @Kaikina this is a great bug report 👍

[2022-06-15 13:29] alesspetio01 commented on #28759
The same problem with the paginator of the products.
This is the video-recording: https://calip.io/F3OgXYq0#n8AABeNk

[2022-06-15 13:40] #28721 closed, assigned to nobody

[2022-06-15 13:48] hibatallahAouadni commented on #28759
Hello @alesspetio01

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28549.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-06-15 13:48] hibatallahAouadni commented on #28759
Duplicate of #28549

[2022-06-15 13:52] alesspetio01 commented on #28759
@hibatallahAouadni it is not the same problem!

[2022-06-15 13:53] alesspetio01 commented on #28759
@hibatallahAouadni please check the two videos that I send you. My problem is slow loading of category page in front-office, not when I edit the product

[2022-06-15 14:18] #28366 closed, assigned to hibatallahAouadni

[2022-06-15 14:46] matks commented on #28758
At PrestaShop, security matters are more important that UX subjects. As a CMS our top priority is security.

However @Kaikina I just tested on 1.7.8.6 and I have the same error message if I input a valid existing email and an email that do not exist: "If this email address has been registered in our shop, you will receive a link to reset your password at random-email@presta.com."

![Capture d’écr

[2022-06-15 14:46] AndrzejWolan opened #28760 "Add multistore options to zone, country and addresses"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-15 14:51] HanaRebaiQA opened #28761 "BO - An exception is thrown when import a file with non .csv extension and download the csv created file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when import

[2022-06-15 15:14] NeOMakinG commented on #28677
I'll take a look into that but we definitly need some product input on that

[2022-06-15 17:05] hibatallahAouadni commented on #28606
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-15 17:05] #28606 closed, assigned to nobody

[2022-06-15 17:06] hibatallahAouadni commented on #28607
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-15 17:06] #28607 closed, assigned to nobody

[2022-06-15 17:14] hibatallahAouadni commented on #28753
Hello @Borgas

Even with 2 attributes, I didn't reproduce the issue, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/173886494-87034405-f172-409a-bbec-b91a38442211.mp4

Please check and feedback.

Thanks!

[2022-06-15 17:18] hibatallahAouadni commented on #28695
Hello @pdkey

"
Oops... looks like an unexpected error occurred
Invalid $number parameter: "" cannot be interpreted as a number
[PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]
"

Could you please enable the debug mode and provide a screenshot of this issue :pray:
And it will be perfect if you could provide a screen record about your issue while duplicating a product :pr

[2022-06-15 17:22] hibatallahAouadni commented on #28757
Hello @la-lisa

So, could you please provide a clear and concise steps to reproduce the issue and a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-06-15 17:57] #28228 closed, assigned to nobody

[2022-06-15 21:42] bullmade commented on #23586
Its a shame this request was not considered for PrestaShop 8.0 @prestascott @hibatallahAouadni

Is there any UI improvement of the backoffice navigation in 8.0?

[2022-06-16 06:50] okom3pom commented on #28758
Hi,

With 8.0.0  :

![Screenshot (24)](https://user-images.githubusercontent.com/5064590/174009188-15e11cb7-95cf-4220-9a06-34087f1b0184.png)

With 1.7.8.3 :

![Screenshot (25)](https://user-images.githubusercontent.com/5064590/174009444-5f78db40-db8b-403d-b0bf-aa8a67556913.png)

Nice catch

[2022-06-16 07:26] sLorenzini commented on #28611
Hello @HartLarsson,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-06-16 07:26] #28611 closed, assigned to nobody

[2022-06-16 07:56] okom3pom commented on #28758
I think @Kaikina is talking about the back office password request.

Otherwise I don't understand

[2022-06-16 07:58] matks commented on #28758
Haaaa 😄 got it

For back-office, which is supposed to be a secure area (even the login page) the security matter is not as strong then. So i guess it's a question for @PrestaShop/product-team 👍

[2022-06-16 08:02] okom3pom commented on #28758
It adds a little more security.

[2022-06-16 08:10] matks commented on #23586
Hey @bullmade

I will answer with that quote of Adam Wathan: [https://twitter.com/adamwathan/status/1381275398646927362](https://twitter.com/adamwathan/status/1381275398646927362)

*"One of the most stressful parts of product development (especially open source) is when people are frustrated you haven’t made the improvement they want and automatically attribute it to complacency or ignoring the co

[2022-06-16 08:10] okom3pom commented on #28758
There have been leaks from the admin directory in the past.

In PrestaShop or in modules

[2022-06-16 08:28] bullmade commented on #23586
Hey @matks

All you guys really had to do was to tell me to start on the project, or maybe engage in the design process. I was and am still ready to implement it.

I clearly stated this in the first post:
_I would also like to make the actual css implementations and make a pull request - but i'll only do so if the design gets a green light from the community or from PrestaShop. Otherwise it's just

[2022-06-16 08:32] matks commented on #28336
@daresh I believe you --> https://github.com/PrestaShop/PrestaShop/pull/15533#issuecomment-531296361

[2022-06-16 08:50] kpodemski commented on #14979
@davidcylke I suggest you deleting your last message because it's not clear to whom you wrote it, previous comments were probably deleted by an author

If you are looking for a developer there a better places to do that, official forum, websites for freelancers, etc.

[2022-06-16 08:52] sLorenzini commented on #28336
Hello,

I reproduce the issue with PrestaShop version ps1785 and ps178x, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/suppor

[2022-06-16 09:03] MatShir commented on #28742
Thanks @okom3pom 👌

[2022-06-16 09:35] hibatallahAouadni commented on #28726
Hello @tom-combet

I encountered another issue while installation, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/174040633-51e02e94-70d1-4415-8962-e739bd962032.png)

Did you encounter the same issue?
Waiting for your feedback.

Thanks!

[2022-06-16 09:35] sLorenzini commented on #28188
Hello @florine2623 and @hibatallahAouadni,

I reproduced this issue on ps1785 / ps1778 / ps1769.
This is not a regression.

Thank you

[2022-06-16 12:11] MatShir opened #28764 "Add docker image with PHP 8.1"
Add docker image with PHP 8.1

[2022-06-16 12:13] #27888 closed, assigned to atomiix

[2022-06-16 12:13] #24645 closed, assigned to atomiix

[2022-06-16 12:18] #28321 closed, assigned to nobody

[2022-06-16 12:25] Tashsub opened #28765 "[PHP Unknown error #8192] array_key_exists() when using postman to access webservice api"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am trying to get all my customers

[2022-06-16 12:29] MeKeyCool opened #28766 "Use Circuit Breaker in `RemoteLanguagePackLoader`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-16 12:59] nmacfarlane-montonio commented on #28754
Apologies if my issue statement was not clear enough.

In my searching, I've found multiple modules mentioned as being the "cause"
of this issue, which I shall try to describe more clearly:

Payment is received, in the bank, but the order is not completed because of
this error occurring when the module is trying to notify prestashop that
the payment is completed.

I assume this is possible with an

[2022-06-16 13:12] #26054 closed, assigned to hibatallahAouadni

[2022-06-16 14:02] Tashsub commented on #28765
Hi,

Sorry made a mistake in my original issue. I am using PrestaShop Version 1.7.7.4 if that helps.

I have gone into my backoffice and made sure the API key is allowed to access the right permissions.
![Capture4](https://user-images.githubusercontent.com/44523844/174086387-77c5b3cc-b264-465a-ab9f-cbc4bf4fa766.PNG)

I then tested it using just the customers endpoint
![Capture3](https://user-image

[2022-06-16 14:03] HanaRebaiQA opened #28770 "BO - The feature associated to one shop is displayed for all other shops"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When multistore is enabled, The fea

[2022-06-16 14:14] sLorenzini commented on #28754
Hello @nmacfarlane-montonio ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

We need more details on "

[2022-06-16 14:39] JS-starlord commented on #9864
Hello, i'm getting the same issue : i have two shops (let's say Shop 1 & Shop 2). On one of the shop context, if i try to unhook selection on multiple modules (who are the sames between Shop 1 & 2), the exact same selection is unhooked on the other shop context.

So basically to reproduce :

1.  Going to Shop 1 context
2. Choosing a Hook with the same modules than Shop 2 Context for this exact sam

[2022-06-16 14:41] MatShir opened #28771 "[EPIC] Differentiate the OS Project from the Company part 2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-16 15:08] tom-combet commented on #28726
Ah yep, I had the problem, but it doesn't come from prestashop-shop-creator: it comes from [placeholder.com](https://github.com/FakerPHP/Faker/issues/475) by Faker.
I solved it with the [temporary solution](https://github.com/FakerPHP/Faker/issues/475#issuecomment-1124912209) given in this very issue.

[2022-06-16 15:15] sLorenzini commented on #28765
hello @Tashsub,

Thank you for your answer.
Could you please provide a screenshot of your Key in BO, and could you please use the Basic auth?

Here's my screenshots:
![image](https://user-images.githubusercontent.com/2854834/174102823-6b691876-5c4c-4165-9dc3-ae1f068210a1.png)
![image (1)](https://user-images.githubusercontent.com/2854834/174102855-50c7bf35-198b-4e91-b221-1d360353ffcb.png)

Even wh

[2022-06-16 15:21] serracol commented on #16306
Thanks a lot to @nauumb for sharing this fix. This will remove all those duplicated entries...

[2022-06-16 15:29] Tashsub commented on #28765
Hi @sLorenzini ,

When I use basic auth it does not allow me to connect to my store. I get the following error.

![basicAuthError](https://user-images.githubusercontent.com/44523844/174104931-20ab0a58-0755-4bd1-92c3-a244235656ce.PNG)

![BasicAuth2Error](https://user-images.githubusercontent.com/44523844/174105359-3a816b64-2e78-4248-8a0d-039a4b3ad80a.PNG)

BO

![bo-key](https://user-images.githubus

[2022-06-16 15:49] hibatallahAouadni commented on #28765
Hello @Tashsub

Because you need to put your **Key description** "Test Key" in the **Password** field.
Try again and check. Waiting for your feedback.

Thanks!

[2022-06-16 15:54] Tashsub commented on #28765
Hi @hibatallahAouadni ,

That does not work either? I am still getting 401 Unauthorized

![testkey](https://user-images.githubusercontent.com/44523844/174113437-9086d268-dcb5-4c0c-8b4e-40160e03ea5d.PNG)

[2022-06-16 17:00] EhsanAllahyari opened #28772 "After disabling a state, it still shows on the address edit form in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
I have an issue with address ed

[2022-06-16 17:16] julien-23juin opened #28773 "In multistore mode, a product present in the two stores that have different combinations generates errors."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

_Context :_

_Shop A and Shop B.
Pr

[2022-06-16 19:18] #27898 closed, assigned to Progi1984

[2022-06-16 21:45] kpodemski opened #28774 "Confusing button text when you want to rearrange products in the category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is for Pull Request from

[2022-06-16 21:59] kpodemski commented on #28604
@HanaRebaiQA

You can edit `footer.tpl` of the Classic theme and add:
`{widget name='contactform'}` and this should cause an error with profiler enabled

[2022-06-16 22:46] kpodemski commented on #27967
@matks I think it was fixed in 1.7.8.6?
https://github.com/PrestaShop/PrestaShop/pull/28117

[2022-06-17 07:52] alesspetio01 commented on #28759
Thanks for your interest. Request the help of a specialist to help me solve the problem in a short time, is it free?

[2022-06-17 08:08] florine2623 commented on #28773
Hello @julien-23juin ,

I can't reproduce your issue on PS 1.7.8.x.

In All shop context, I have both my combinations :
<img width="1231" alt="Screenshot 2022-06-17 at 10 04 40" src="https://user-images.githubusercontent.com/16019289/174255293-436670ed-8e5f-41e7-8e9b-0583a2739d6e.png">

In shop 1 :
<img width="1239" alt="Screenshot 2022-06-17 at 10 05 04" src="https://user-images.githubusercontent

[2022-06-17 08:08] #28773 closed, assigned to nobody

[2022-06-17 09:14] bastien70 opened #28775 "Error with connection when running console command (docker)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm using docker mysql container to

[2022-06-17 09:32] julien-23juin commented on #28773
Hello,

In shop2, can you select in Color - pink "default combination" and save?

On which version of prestashop 1.7.8 did you do the test please?

[2022-06-17 09:37] bastien70 opened #28776 "Use symfony serve command to run prestashop locally?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I would like to use the `symfony se

[2022-06-17 09:50] florine2623 commented on #28776
Hello @bastien70 ,

I have followed your steps but I can't reproduce your issue.

Here's what I tried :
- In my Terminal, I git clone https://github.com/PrestaShop/PrestaShop.git
- cd my folder
- symfony serve
- I have an error : `command not found: symfony`

Could you send a screen record of your issue please ?
Thanks!

[2022-06-17 10:10] tom-combet commented on #28726
Ah yep, known issue: https://github.com/PrestaShop/prestashop-shop-creator/issues/8

[2022-06-17 10:23] hibatallahAouadni commented on #28759
Hello @alesspetio01

No, it's not! The PrestaShop project is provided “as-is”, with no warranty or dedicated support.
You might find some helpful resources here: [Get help with PrestaShop](https://www.prestashop-project.org/support/)

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com)

[2022-06-17 10:25] florine2623 commented on #28775
Hello @bastien70 ,

I can't reproduce your issue.

Here are the steps I followed :
- create PrestaShop project with Docker
- install my shop
- open Terminal from Docker
- go into my shop folder
- launch `php bin/console doctrine:schema:update --dump-sql` and `php bin/console`
- here's the result :
<img width="1283" alt="Screenshot 2022-06-17 at 12 24 51" src="https://user-images.githubusercontent.

[2022-06-17 10:29] Max84 opened #28777 "stock_avalaibles table should be cleaned after changing multishop parameter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a multishop context, if you chan

[2022-06-17 10:29] sLorenzini opened #28778 "BO - Display error on modal "add new specific price" in product page V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Two display errors on "Add new spec

[2022-06-17 10:33] #28777 closed, assigned to nobody

[2022-06-17 10:34] Max84 commented on #28777
A mistake with this reproduction step, i'll come later.

[2022-06-17 10:43] Max84 opened #28779 "stock_avalaible table should be cleaned after changing multishop parameter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a multishop context, if you chan

[2022-06-17 10:46] Max84 commented on #28779
In order to help anybody with have some problem with inconsistent data, into webservice for example, or with performances, you can delete unused lines like this:

`DELETE FROM `ps_stock_available` WHERE id_shop = XXXX`

Just replace XXXX by the id which should be deleted, it should be "0" if you have just disabled stock sharing.
Backup your database before!

[2022-06-17 10:50] bastien70 commented on #28776
Hello @florine2623 , to launch the `symfony serve` command, you have to download the Symfony CLI : https://symfony.com/download

After that, you will be able to launch symfony's console commands

[2022-06-17 10:56] bastien70 commented on #28775
Hello @florine2623 , for docker, do you installed the mysql container too ?

This is my screen records :

https://user-images.githubusercontent.com/53140475/174285311-aa5e57ec-dc65-45a8-bcc1-788c061e79e8.mp4

[2022-06-17 11:27] idnovate commented on #28648
Steps:

1. Install this module [dummypayment.zip](https://github.com/PrestaShop/PrestaShop/files/8927022/dummypayment.zip)
2. Enable Geolocation
3. Disable a country
4. Make an order paying with "Dummy payment"
5. You will get an URL to confirm the payment. Open this URL in an incognito tab with a VPN from the country disabled in the step 3
6. Error

[2022-06-17 11:37] Kaikina commented on #28758
Yes exactly. I'm talking about the backoffice password recovery page.

[2022-06-17 11:38] #28436 closed, assigned to nobody

[2022-06-17 11:57] okom3pom commented on #28758
You should be able to make a PR for it, it's just a text to change.

https://devdocs.prestashop.com/8/contribute/

If you can't do it, I can.

[2022-06-17 13:49] florine2623 opened #28781 "[FO] - States field is not displayed anymore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In FO, during checkout process I ca

[2022-06-17 14:04] Murat-06 commented on #28522
hello, I am using prestashop 1.7.8.6 and I would like to make an information or suggestion whether such a thing can be done in the new update.
1-) I want to say can I add a 2nd brand section? As I have sent in the screenshot, sometimes one brand is not enough for 1 product for a product.
![2022-06-17_16-48-03](https://user-images.githubusercontent.com/105777131/174312190-2ee18b2d-61c6-4617-ac36-c4

[2022-06-17 14:35] florine2623 commented on #28772
Hello @EhsanAllahyari ,

Thanks for your report.
Although, I'm not sure this is a bug, I will ping product-team so that you have a definitive answer.

About your second issue on postcode.
On my end, postcode is always required, in FO and in BO. So I don't see any bug.
If you have more detail about it, please proceed.

Thanks

[2022-06-17 14:36] florine2623 commented on #28772
ping @PrestaShop/product-team ,

Following the steps to reproduce :

Go to BO > Locations > States > Disable a state
Go to BO > Customers > Addresses > Edit an address > See that the disabled state is displayed

Can you confirm that this is a bug ? or a wanted feature ?

Thanks!

[2022-06-17 14:41] EhsanAllahyari commented on #28772
Hi,
Both of them on 1.7.6.1 is not like this.
After Update, it happens.
I test it on fresh 1.7.8.5, and It is still the same as that

[2022-06-17 14:56] florine2623 commented on #28779
Hello @Max84 ,

I dont have the exact same result as you :
<img width="1064" alt="Screenshot 2022-06-17 at 16 52 37" src="https://user-images.githubusercontent.com/16019289/174322687-297b1dfc-b0da-4eef-9404-3c7a77d16dcc.png">
<img width="1051" alt="Screenshot 2022-06-17 at 16 52 28" src="https://user-images.githubusercontent.com/16019289/174322701-180ba1d8-ab88-4e08-9fd0-e1ad3eace6f1.png">

I crea

[2022-06-17 15:09] florine2623 commented on #28772
SO this is an issue with upgrades ?

You update with what tool ? 1-click upgrade ? What version re you using ?
Did you encounter any error ?

[2022-06-17 15:15] Max84 commented on #28779
Hi @florine2623,

It's not really the same step to reproduce:

1. Install a new Prestashop with demo products
2. Enable multishop
3. Add a new shop into the same group, stock share is enable. Save this
4. Check DB, for example product id x (without combination), you will see 1 line for this product into stock_available table, with id_shop = 0.
5. Disable stock sharing
6. Check DB, for example prod

[2022-06-17 15:18] EhsanAllahyari commented on #28772
No, it's not for upgrade.
I told you "I test it on fresh 1.7.8.5, and It is still the same as that "

[2022-06-17 15:32] florine2623 commented on #28772
you also said "After Update, it happens." ^^

Let's wait for product-team for your first question.

[2022-06-17 15:41] florine2623 commented on #28648
Hello @idnovate ,

In order to use geolocation feature in PS, you need to download a database. Which one did you download to test this ?

I tested with GeoLite2 ASN and GeoLite2 Country.

[2022-06-17 15:43] EhsanAllahyari commented on #28772
Yes,
before that I used PS 1.7.6.1 and there is no issue on this form for disable states and postcode, after I update to 1.7.8.5 I found this issue.
OK.

[2022-06-17 15:48] florine2623 commented on #28604
Hello @kpodemski ,

Thanks for the tips.

I have reproduced the issue with your method in PS 1.7.8.x.

https://user-images.githubusercontent.com/16019289/174332561-4c276110-97a4-4dcb-aa49-d4cb49b8ab85.mov

Thanks for your PR @PrestaEdit !

[2022-06-17 17:35] joseantgv commented on #28648
I used `GeoLite2-City.mmdb` but doesn't matter as long as you are geolocated in the disabled country.

[2022-06-17 17:36] idnovate commented on #28648
I used GeoLite2-City.mmdb but doesn't matter as long as you are geolocated in the disabled country.

[2022-06-17 18:50] #27621 closed, assigned to mparvazi

[2022-06-17 20:47] Sasni opened #28783 "Debugging bar covers some elements"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

debugging bar partially co

[2022-06-17 22:10] Sasni commented on #28765
Hi, Prestashop 1.7.7.x does not support PHP 7.4 Look at -> https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements
try to change PHP to 7.3

notwithstanding the above I confirm the problem on (old) version 1.7.7.0 with PHP: 7.3.33
![image](https://user-images.githubusercontent.com/3370929/174404682-239b76c8-8db3-4d80-bf67-fad3c4755ac2.png)

i can't reproduce is

[2022-06-18 14:23] ghost opened #28787 "Change the default branch for ps_supplierlist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Change the default branch for ps_su

[2022-06-18 16:50] bastien70 opened #28789 "Add documentation or tutorial to add checkout step with 1.7.8.x version"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-18 17:04] okom3pom commented on #28588
https://github.com/PrestaShop/PrestaShop/issues/28588

[2022-06-18 22:27] matrixino commented on #27042
This is a years old bug, never fixed and still present. The currency context is never initialized in module front controllers.

[2022-06-19 16:20] Murat-06 opened #28790 "BO / orders -print order PDF"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-19 16:28] Murat-06 opened #28791 "1.7.8.X Order update section in the same window while entering cargo information in the version"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-19 18:03] rmilecki commented on #23717
Ping @sowbiba

[2022-06-19 18:08] rmilecki commented on #23717
I can see documentation has been updated (see https://github.com/PrestaShop/docs/issues/880) and now it says:

I guess it solves out problem, right? If module names **should not** contain uderscores then we don't need to bother supporting them.

[2022-06-20 07:32] jmirasolswg commented on #15282
I agree with @matks. It is possible that the old modules/mailalerts still remained (or was accidentally copied back for some reason) in the modules folder after the upgrade. For 1.7, the email module should be modules/ps_emailalerts. When you activate either one while the two modules exist inside the modules/ folder, the issue will occur when you access the Module Manager and/or Translations in th

[2022-06-20 07:54] okom3pom commented on #27782
Hello,

This limit is wrong, this problem is related to https://github.com/PrestaShop/PrestaShop/issues/25103.

There is a limit but it's not this one and it depends on the characters used.

[2022-06-20 08:18] okom3pom commented on #27782
For exemple

- We can enter 😋 32766 time
- We can enter Z 65532 thme

So it's very hard or we need to calculate in bytes

[2022-06-20 08:33] Tashsub commented on #28765
@Sasni

Thanks for the reply. I will try your suggested advice. 👍

[2022-06-20 09:02] AureRita commented on #28791
Hi @Murat-06
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-06-20 09:11] AureRita commented on #28790
Hi @
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-06-20 09:34] #28789 closed, assigned to nobody

[2022-06-20 09:53] AureRita commented on #28787
Hi @okom3pom ,

Thank you for your reporting. At start I didn't know why it's a bug but I checked the other module and I noticed that you've right. I'll add a few details of your description.
 I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Thanks

[2022-06-20 10:13] Gaja-A opened #28793 "Products disappear when user disconnects"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I recently upgraded my prestas

[2022-06-20 10:24] okom3pom commented on #28787
Hello @AureRita

It s for dev.

Fiendly ping @Progi1984

[2022-06-20 10:44] AureRita commented on #28783
Hi @Sasni ,

Thank you for your reporting, currently we can't put the footer with 37px on the bottom because, as you can see, this is not a real good position :
![image](https://user-images.githubusercontent.com/100699445/174583764-45b1e27b-5f86-48f2-8f4a-5239ea97aea7.png)

If it's only the debugging bar that you want hide, you can click on the cross, like this

https://user-images.githubuserconte

[2022-06-20 11:24] Progi1984 commented on #28787
@okom3pom Sorry, I'm just a maintainer. We need contact from administrators of the organization. Ping @eternoendless or @matks.

[2022-06-20 11:26] Sasni commented on #28783
Hi @AureRita I think in your example you removed the "bottom" entry from the CSS
your example:
![image](https://user-images.githubusercontent.com/3370929/174590016-0a03205a-e7db-47e7-a597-835fb3bd4b95.png)
I meant to replace "bottom: 0" with "bottom: 37px" in case debug mode is enabled.
![image](https://user-images.githubusercontent.com/3370929/174590258-f47635eb-9935-4481-84bc-e2a6326c5215.png)
I

[2022-06-20 11:27] Gaja-A commented on #28793
Hi @AureRita ,

The difference it's maybe because some person see the prices with taxes and the other not - but I display TTC for all (Visitors, Invites and Client)

How should I display same price for all ? Is there any configuration to do ?

About the first point : " Products disappear when the user disconnects " it's maybe because it's the "suggestion" page and it will always change in relation

[2022-06-20 11:29] #28638 closed, assigned to Amit-Kumar-Tiwari-Webkul

[2022-06-20 11:33] hibatallahAouadni commented on #28726
Hello @tom-combet

Thanks for your help and feedbacks, I reproduce the issue with PS1786, see the attached screne record below:

https://www.awesomescreenshot.com/video/9541621?key=cc49786d0d0d9950284b2e63d38a3cd8

The first bug: it shouldn't display 101%
The second bug: the installation interface was blocked even though the process completed successfully
I’ll add this to the debug backlog so that

[2022-06-20 12:02] #28774 closed, assigned to nobody

[2022-06-20 12:38] #28389 closed, assigned to Progi1984

[2022-06-20 12:44] florine2623 commented on #28793
Hello @Gaja-A ,

Please change your admin folder name for security reasons, this is a public space !
I deleted your video where your admin is displayed.
Do not hesitate to supply written Steps to reproduce ^^

Thanks!

[2022-06-20 13:09] ghost opened #28795 "Wrong value is_configurable for blockwishlist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Wrong value is_configurable for blo

[2022-06-20 13:10] Manasdedieu commented on #17539
Thanks !

[2022-06-20 13:18] ghost opened #28796 "Notice in adminsearch controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is  notice when you do a targ

[2022-06-20 13:18] AureRita commented on #28779
Hi @Max84

Thank to have given us more details,
I tried to reproduce your issue witth all your details, but I currently can't reproduce it, I follow your step as you can see in this video :

https://user-images.githubusercontent.com/100699445/174609966-894582ee-099b-4031-8649-a305a55eaf93.mp4

did I missed a details ?

Waiting for your feedback

[2022-06-20 13:37] #28684 closed, assigned to nobody

[2022-06-20 13:43] bastien70 opened #28798 "Cart not updated with custom fields"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I added a step during checkout with

[2022-06-20 13:44] atomiix commented on #28787
Default branch has been changed to `dev`. I close the issue, thanks everyone :)

[2022-06-20 13:44] #28787 closed, assigned to atomiix

[2022-06-20 13:48] AureRita commented on #28772
Hi @EhsanAllahyari

I reproduced it on 1.7.8.6 and 1.7.7.8 but not on 1.7.6.5, as we can see on this video :

https://user-images.githubusercontent.com/100699445/174614108-400a0c6e-00c0-4db7-bf7a-dc0d8cda79de.mp4

It is a regression or a waiting behaviour ?
@PrestaShop/product-team about the zip code, if I follow this specs : https://build.prestashop.com/prestashop-specs/1.7/back-office/customers/

[2022-06-20 13:53] #28775 closed, assigned to nobody

[2022-06-20 13:59] hibatallahAouadni commented on #27029
Hello @adminvr

No, we haven't!
To be informed when it's fixed, please subscribe to this issue or to #28522

Thanks!

[2022-06-20 14:03] hibatallahAouadni commented on #28783
Hello @Sasni

It seems to me as a feature more than a bug.
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create i

[2022-06-20 14:08] AureRita commented on #28648
Hi @idnovate

I tried to reproduce your issue and when I go to the link shared, I've this exception :
![image](https://user-images.githubusercontent.com/100699445/174619839-4bf002ea-c250-47c5-a918-44574a264e31.png)

Is this the issue that you mentioned ? or it's another issue ?

Waiting for your feedback
Thanks