[2019-02-06 16:11] khouloudbelguith commented on #12466
Hi @ClaudioSagaris,

Did you use the ps_emailalerts module?
if no, the intl extension should be installed on your server, thanks to check& feedback.
Thanks!

[2019-02-06 16:11] nziria opened #12468 "Problem with the Product Attributes change it and revert to default variation P.S. 1.7.5"
when create a product with variations.
in FO i select a variation and the page semi-refresh and the variation revert back to default.
seems to be a know issue, and tried different method like modify seo and url etc...

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.0 (also tried 7.2)

[2019-02-06 16:12] khouloudbelguith commented on #12462
@morghy1992, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-02-06 16:13] rufusmaika commented on #9652
@khouloudbelguith , Done.
Cloned it and compressed and installed nicely.
The problem still occurs.
http://www.testing.ppmodelismo.com/en/kyosho-inferno-st-rr-evo-2-gp-4wd-1-8-truggy-K33004/p328

This is really strange.
Thanks

[2019-02-06 16:13] naps1saps commented on #12467
Upgraded 1.7.4 to 1.7.5
Go to modules > update and get a 500 error
Debug:
en-US	AdminActions	58	Disable mobile	Disable mobile
en-US	AdminActions	4	Upgrade	                Upgrade
en-US	AdminActions	3	Enable mobile	        Enable mobile

I checked international > languages > modify
Could not locate the above entries in en-US > Admin > Actions

[2019-02-06 16:15] khouloudbelguith commented on #12467
Hi @naps1saps,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-06 16:16] matks commented on #12464
Hi @fantonifra, when using PS in our docker image, this is how we fix it: https://github.com/PrestaShop/docker#during-the-installation-prestashop-cannot-connect-to-mysql---bad-charset

Hope it helps

[2019-02-06 16:18] ClaudioSagaris commented on #12466
Thank you... can you explain that to me exactly?

    	Mobile Mail Claudio Vagnoni Supreme Shop Schweiz 🇨🇭

On Wed, Feb 6, 2019 at 5:11 PM +0100, "khouloudbelguith" <notifications@github.com> wrote:

Hi @ClaudioSagaris,

Did you use the ps_emailalerts module?

if no, the intl extension should be installed on your server, thanks to check& feedback.

Thanks!

—
You are receiving this because you wer

[2019-02-06 16:20] khouloudbelguith commented on #12468
Hi @nziria,

Have you the same issue with this ticket: #9667?
Thanks!

[2019-02-06 16:22] morghy1992 commented on #12462
@khouloudbelguith thank you very much I am going to contact them now. hope they resolve the problem

[2019-02-06 16:25] khouloudbelguith commented on #12466
@ClaudioSagaris, it could be a probelm fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/11995/files

Or, in your BO => Modules => Module Manager => you can search for the `Mail alerts ` module, if it is installed, your problem could be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/9638 => not fixed yet.
Thanks to check & feedback.

[2019-02-06 16:27] khouloudbelguith commented on #12462
@morghy1992, thanks!
Waiting for your feedback.

[2019-02-06 16:33] nziria commented on #12468
similar, but i have no stock, i disabled it in preference products.

[2019-02-06 16:38] khouloudbelguith commented on #12468
@nziria, the "Display unavailable product attributes on the product page" option is disabled in your case?
Thanks!

[2019-02-06 16:41] lilyrose78 opened #12469 "TinyMCE - No scrollbar issue on Prestashop 1.7.5.0"
I have the same bug than this closed ticket : https://github.com/PrestaShop/PrestaShop/pull/7790
On my Prestashop 1.7.5.0, product description is hard to edit because there is no scrollbar on tinymce editor and the height is really small.

I checked the bug fix on the last ticket and the fix seem to be on my files version, but the problem is still there.

**To Reproduce**
1. Go to Admin > Edit pro

[2019-02-06 16:49] khouloudbelguith commented on #12459
Hi @Max84,

I tried with this script
[code]
But I did not manage to reproduce the issue with PS1.7.5.0, thanks to check & feedback.

[2019-02-06 16:52] khouloudbelguith commented on #12469
Hi @lilyrose78,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1WTm4d183sL7eNoS2mHde85styNPE5R0h/view
THanks to check & feedback.

[2019-02-06 16:53] rufusmaika commented on #9652
@khouloudbelguith
If i disable the smarty cache it works.
![presta](https://user-images.githubusercontent.com/47321819/52358297-a6b1a400-2a2f-11e9-977f-b66c46160749.jpg)

[2019-02-06 16:59] Quetzacoalt91 commented on #12435
More insights:

* https://www.xaprb.com/blog/2006/04/17/max-key-length-in-mysql/
* https://bugs.mysql.com/bug.php?id=6604

As the column changes are brought on 1.7.5.0, we could handle this issue for 1.7.5.x

[2019-02-06 17:00] naps1saps commented on #12467
Apache error log:
[error.log](https://github.com/PrestaShop/PrestaShop/files/2837317/error.log)

There is no PHP log present

Console log does not show anything on updates page but does on the module page:
main.bundle.js:275 GET https://epicdecals.com/stage/index.php/improve/modules/alerts/count?_token=WqZ8jTJcSSMcn1PX8m4ZrHhOF2ehcXFvBW__Pr8L3IA 500 (Internal Server Error)
send @ main.bundle.js:27

[2019-02-06 17:03] khouloudbelguith commented on #12467
@naps1saps, if you enable the debug mode, there are no exceptions displayed in the module page?
Thanks!

[2019-02-06 17:05] khouloudbelguith commented on #12467
@naps1saps, in your log file,
`[Wed Feb 06 16:36:16.163280 2019] [php7:warn] [pid 108657] [client 65.158.195.82:30176] PHP Warning:  require_once(/media/data/!WEB/EpicDecals.com/store/modules/paypal/paypal.php): failed to open stream: No such file or directory in /media/web/EpicDecals.com/src/Adapter/Module/Module.php on line 354`
could you please try to rename your paypal folder to paypal_old, in

[2019-02-06 17:07] naps1saps commented on #12467
I'm not too familiar with the debug thing but as far as I can tell, no.  Turning on debug allows everything to load normally.  Here is a picture.
![untitled](https://user-images.githubusercontent.com/5412452/52359301-7dbcef00-29ee-11e9-85e4-25dd578f8cfc.png)

[2019-02-06 17:08] khouloudbelguith commented on #12467
@naps1saps, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-06 17:09] #10507 closed, assigned to sarjon

[2019-02-06 17:11] #10190 closed, assigned to tomas862

[2019-02-06 17:12] #10579 closed, assigned to sarjon

[2019-02-06 17:12] #10580 closed, assigned to sarjon

[2019-02-06 17:13] naps1saps commented on #12467
I uninstalled the paypal module after seeing that.
Checked the log again and EiCaptcha did the same thing
Uninstalled EiCaptcha and now the update page is loading normally.
I feel slightly dumb.  Thank you for sending me in the right direction.

On another note, if installing a module and then changing the storage folder location, it appears it saves the full local path in the database so it is in

[2019-02-06 17:18] sarjon commented on #12445
thanks @matks, im closing it. :+1:

[2019-02-06 17:22] lewis2413 opened #12470 "Many erros when switch mode dev in the backoffice"
Hi,

I´m trying to access to backoffice in dev mode but it showing me this errors:

![image](https://user-images.githubusercontent.com/47395448/52360322-044bed80-2a3c-11e9-8745-3b1d9b118dc2.png)

and i don´t know how to solve it.

thanks advance.

[2019-02-06 17:24] lilyrose78 commented on #12469
Hi @khouloudbelguith

I try on Chrome and Firefox, same problem.
I made a video record too : https://drive.google.com/file/d/1NDoZJeuwJGxiWPsJPiqslpp8oZ70j55z/view

[2019-02-06 17:38] fantonifra commented on #12464
Thanks @matks , it works now!
but to force utf8 instead utf8mb4 could give me some trouble, in your opinion?

[2019-02-06 18:06] #12445 closed, assigned to nobody

[2019-02-06 18:38] thbl opened #12472 "Insert tracking number in mail template"
Would be nice to have {shipping_number} in email templates.
So customers can get a follow up email
 "your order is sent. Your tracking number is: XXXXXXXX"

[2019-02-06 18:40] thbl commented on #12469
@lilyrose78  is this a clean install ? maby you have a modul that interfere with the tinymce css

[2019-02-06 19:49] WS-NL commented on #12419
It is due to jquery 1.11
it should be updated

http://www.webassist.com/forums/posts.php?id=41843

[2019-02-07 02:01] elcolibri opened #12474 "Unknown column 'location' in 'field list'"
**Describe the bug**
Update my store from 1.7.4.2 to 1.7.5 and I have this problem with the Stock of the products in a new product I can not put the Quantity and when putting in Debug mode it does not let me create product and inside the store when wanting to see a product appears these.

SELECT location
FROM `pse0_stock_available`
WHERE (id_product = 218) AND (id_product_attribute = 0) AND (id_sh

[2019-02-07 04:14] teemumantynen commented on #12456
Hi @khouloudbelguith,
The module I'm developing requires a third party API key and unfortunately I'm not in liberty to hand it over. But I have a similar module later down in todo-pipeline which doesn't have such limitation.
Thank you.

[2019-02-07 07:23] khouloudbelguith commented on #12467
Hi @naps1saps,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-07 07:23] #12467 closed, assigned to nobody

[2019-02-07 07:41] khouloudbelguith commented on #12474
Hi @elcolibri,

It could be like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.

Can you please check if you have missing columns on your database schema.
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/upgrade/sql/1.7.5.0.sql

You can find the full schema for 1.7.5.0 here: https://github.com/PrestaShop/PrestaShop/blob

[2019-02-07 07:47] khouloudbelguith commented on #12470
Hi @lewis2413,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-b

[2019-02-07 07:54] khouloudbelguith commented on #12469
@lilyrose78, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-07 08:27] khouloudbelguith commented on #12472
Hi @thbl,

In the order BO, when we try to edit the tracking number
![image](https://user-images.githubusercontent.com/16067358/52398766-7236fa00-2aba-11e9-977e-b7841958add2.png)
The customer will receive a mail "Package in transit" that contains the tracking number
![image](https://user-images.githubusercontent.com/16067358/52398811-9b578a80-2aba-11e9-9daf-6ddb683293a7.png)
Thanks to check & feed

[2019-02-07 08:36] khouloudbelguith opened #12475 "Issue with the link "Manage tax rules in the pricing tab"
**Describe the bug**
In product page, in the pricing tab, if you click on the link "Manage tax rules", we are redirected to the Taxes page, so all new modification in this product will disappear, it would be nice that link opens on a new window when clicking in it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Product page => Pricing Tab
2. Click on the link "Manage

[2019-02-07 08:38] khouloudbelguith commented on #12475
ping @ansar21mallouli

[2019-02-07 08:43] Max84 commented on #12459
Hi @khouloudbelguith

I updated your script, you'll be able to reproduce with it.
First step, i create the combination with default_on and the second step i try to set defaut_on. You'll see the problem on this step.

`<?php

/**
 * Created by PhpStorm.
 * User: khouloud.belguith
 * Date: 06/02/19
 */
// Here we define constants /!\ You need to replace this parameters
define('DEBUG', false);
ini_se

[2019-02-07 08:46] PierreRambaud commented on #12419
It a false positive, nothing need to be upgrade :)
More, we use jquery 2+ on the latest release for the classic theme.

[2019-02-07 09:08] khouloudbelguith commented on #12459
Hi @Max84,

Thanks for your feedback.
I tried with the script updated but I get an error:

`Fatal error: Uncaught PrestaShopWebserviceException: This call to PrestaShop Web Services failed and returned an HTTP status of 500. That means Internal Server Error. in /projet/1750/PSWebServiceLibrary.php on line 87`

I checked in the BO, I found that this combination is created.
Thanks!

[2019-02-07 09:09] marionf opened #12476 "Problem with popups"
**Describe the bug**
Popups are not correctly displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a migrated page
2. Click on a tooltip
3. The tooltip popup isn't correctly placed

**Screenshots**
![capture d ecran_987](https://user-images.githubusercontent.com/13449658/52400790-69492700-2ac0-11e9-8618-06a894f84088.png)

Another way to reproduce the issue:
https://drive.google.co

[2019-02-07 09:17] khouloudbelguith commented on #12476
Hi @marionf,

It is the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/12333?
Thanks!

[2019-02-07 09:18] marionf commented on #12333
Another way to reproduce the issue:
https://drive.google.com/file/d/1e6pvuGuX4pEiCAkNYBRd9rSnhoL37JUk/view?usp=sharing

[2019-02-07 09:18] marionf commented on #12476
Thank you @khouloudbelguith !

[2019-02-07 09:18] #12476 closed, assigned to nobody

[2019-02-07 09:38] khouloudbelguith commented on #12450
Hi @pdkey,

Thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4 and the ps_legalcompliance v3.0.1 - by PrestaShop.
![image](https://user-images.githubusercontent.com/16067358/52402429-88e24e80-2ac4-11e9-9971-177d05653775.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please

[2019-02-07 10:02] Littlemonkey56 commented on #12283
Hello,

Yes, you can do it.

Thank you.

Best regards,

[2019-02-07 10:05] khouloudbelguith commented on #12449
Hi @pdkey,

Thanks for this clarifications.
About the ps_legalcompliance, issue reproduced.
About the `psgdpr` module, in addition to the duplicated content what is the exact incorrect link?,
I edited the content message for the Account creation
![image](https://user-images.githubusercontent.com/16067358/52403906-183d3100-2ac8-11e9-8306-3de4bf2507b2.png)
And it is well displayed in the different s

[2019-02-07 10:09] Max84 commented on #12459
Yes, of course you'll get an error, due to the Prestashop "unable to save resource" and HTTP 500 return.
If you remove this line "$xml->children()->children()->default_on = 1;", you don't have anymore this error.

It's not a PSWebServiceLibrary.php bug, but an exception due to Prestashop webservice.

Do you get it ?

[2019-02-07 10:20] pdkey commented on #12450
Hi @khouloudbelguith
im sorry - im only a designer here. if our team find a fix for this i will share it here.

[2019-02-07 10:31] Redparkerdoz opened #12477 "lorsque je clique sur le bouton "ajouter au panier", l'icone du panier avec le nb d'articles ne se met à jour que si je change de page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-02-07 10:33] khouloudbelguith commented on #12477
Hi @Redparkerdoz,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pre

[2019-02-07 10:40] #12283 closed, assigned to nobody

[2019-02-07 10:41] pdkey commented on #12449
Hi @khouloudbelguith
1. Text for Account Create and in Account works correct! - everything is fine.
This is in Module list in psgdpr - "PrestaShop Data"

2. ISSUES - In Module list
- Dublicates - Contact form and Newsletter
![psgdpr module list](https://user-images.githubusercontent.com/46047238/52405915-c2b75300-2acc-11e9-9a61-46b85740a165.jpg)

3. dublicate fields
![psgdpr module infos](https://

[2019-02-07 10:42] lewis2413 commented on #12470
Hi [khouloudbelguith],

I was checking some settings in **var/cache directory**, i was have 2 folders, one dev folder and other prod folder, that i did was to comment the dev folder and refresh the Back Office.

[2019-02-07 10:43] nziria commented on #12468
is enabled.
![enabled](https://user-images.githubusercontent.com/33318379/52406228-7f111900-2acd-11e9-814f-46e126250eb9.png)

[2019-02-07 10:48] pdkey commented on #12449
@khouloudbelguith both issues (#12449 & #12450) are very important to work with prestashop according to important legal requirements.

This is currently a high risk of penalties. Especially in Germany this can be very expensive for Prestashop users.

[2019-02-07 10:49] matks opened #12478 "When I delete a module folder, I get warnings on Permissions BO page"
**Describe the bug**
When a module folder is deleted, some php functions related to modules misbehave and generate warnings that can appear in some BO pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove one of your module *by deleting its folder* (example: delete `modules/welcome` module)
2. Go to BO Advanced Parameters > Team > Permissions BO page
3. See warnings

**Screenshots**

[2019-02-07 10:57] khouloudbelguith commented on #11548
Hi @Juke29,

There is one very important issue that you should be aware of. When loading a template file (for instance ‘moduledemo.tpl’), PrestaShop will look for overriding first, in the following order:

[code]
**But** if your moduledemo.tpl file **includes** the included-template.tpl file, you will have to override ‘included-template.tpl’ as well, even if you don’t want to modify it (nor to edi

[2019-02-07 11:03] matks commented on #12464
@fantonifra Yes, this is something you probably want to monitor although I do not know exactly what can be the consequences (we could use a database expert help here).

I know some special chars cannot be handled by mysql utf8 mode (and utf8mb4 solves it), like chinese characters for example. But there might be bigger issues.

[2019-02-07 11:25] khouloudbelguith commented on #23314
Hi as reported in this ticket:

https://github.com/PrestaShop/PrestaShop/issues/12449#issuecomment-461369687
I manage to reproduce the same issue with psgdpr v1.1.2.
1. Module list id duplicated
![image](https://user-images.githubusercontent.com/16067358/52408400-23498e80-2ad3-11e9-9706-4a03b48c3e68.png)

2. Fields are duplicated
![image](https://user-images.githubusercontent.com/16067358/52408411

[2019-02-07 11:26] khouloudbelguith commented on #12449
Hi @pdkey,

Thanks for your feedback.
About `2.issues - In Module list` `3. dublicate fields`, we are aware of these issues, your ticket is a duplicate of https://github.com/PrestaShop/psgdpr/issues/50 so I will close it because it is a duplicated issue, you need to follow this issue https://github.com/PrestaShop/psgdpr/issues/50
I edited [this issue](https://github.com/PrestaShop/psgdpr/issues/50

[2019-02-07 11:27] khouloudbelguith commented on #12449
Duplicate of https://github.com/PrestaShop/psgdpr/issues/50

[2019-02-07 11:27] #12449 closed, assigned to nobody

[2019-02-07 11:35] khouloudbelguith commented on #12459
@Max84, thanks for this clarifications.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-07 11:46] khouloudbelguith commented on #12468
@nziria, I tried with PS1.7.5.0 (Friendly URL enabled & disabled) with your configuration
![image](https://user-images.githubusercontent.com/16067358/52409607-475a9f00-2ad6-11e9-9cb5-c4744f5661a0.png)
But, I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1zaJG9Gq3DSvDzZlE7pF_K6kuusq_QhCj/view
Thanks to check & feedback.

[2019-02-07 11:48] khouloudbelguith commented on #12470
Hi @lewis2413,

those folders are cache, you can clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-02-07 11:49] khouloudbelguith commented on #12283
@Littlemonkey56, feel free to open a new one when needed.
Thanks!

[2019-02-07 11:58] khouloudbelguith commented on #12452
@Ybeske, try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to regenerate the file .htaccess

* Rename the old file to .htaccess_old
* Disable friendly URL
* Enable friendly URL

Thanks to check and feedback.

[2019-02-07 12:09] teemumantynen commented on #12456
Hi @khouloudbelguith,
I learned how to reproduce the problem. Testing it doesn't require any custom modules.

Checkout works fine, ie. it doesn't proceed automatically from carrier selection to payment selection, when user starts the checkout process for the first time with a new cart.

But once the user has proceeded manually from carrier selection to payment selection, and then decides to go bac

[2019-02-07 12:10] lewis2413 commented on #12470
Hi @khouloudbelguith

thanks for your information,  now, I have another problem, can I use the same ticket?

[2019-02-07 13:03] khouloudbelguith commented on #12470
@lewis2413, if it is a different issue, yes, you need to open a new one with more information about your configuration.
About the issue, it is fixed? can I close the issue?
Thanks!

[2019-02-07 13:10] lewis2413 commented on #12470
Yes close it....

[2019-02-07 13:27] khouloudbelguith commented on #12470
@lewis2413, feel free to open a new one when needed.
Thanks!

[2019-02-07 13:27] #12470 closed, assigned to nobody

[2019-02-07 13:44] lewis2413 opened #12483 "When I edit a product in the Backoffice return 500 error server"
Hi,

I have a problem when I edit a product in the backoffice, return 500 server error:

![image](https://user-images.githubusercontent.com/47395448/52414905-d91dd880-2ae5-11e9-8fca-ba3749d8a47b.png)

my setup and configuration is the following:

![image](https://user-images.githubusercontent.com/47395448/52414855-b4c1fc00-2ae5-11e9-938d-9d91a6651e83.png)

Error log from var/logs path
[prod.log](h

[2019-02-07 13:45] khouloudbelguith commented on #12456
@teemumantynen, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.0.
With PS1.7.4.4 => OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-07 13:52] khouloudbelguith commented on #12483
Hi @lewis2413,

In your log file, you have this error: `Error: Allowed memory size of 268435456 bytes exhausted`, have you tried to contact with your host about this issue?
Thanks to check with them & feedback.
In the meantime, could you please try to enable the debug mode & provide me the exceptions displayed?
Thanks!

[2019-02-07 14:01] lewis2413 commented on #12483
I´ve not contact with them, i do it now, the hosting provider is called Arsys, i don´t know if you know it.  By the way, I have enabled debug mode and don´t show anything in my screen.

attach the dev.log file

[dev.zip](https://github.com/PrestaShop/PrestaShop/files/2841133/dev.zip)

[2019-02-07 14:27] khouloudbelguith commented on #12483
@lewis2413, so when debug mode is enabled & you navigate to the product page, only error 500 is displayed?
THanks!

[2019-02-07 14:29] lewis2413 commented on #12483
Yes only that
*--*

*Saludos Cordiales*

*Ing. Jose Luis Idrogo*
Movil: +34 678 878385
Email: joseluis.idrogo@edisa.com
Web Site: http://www.edisa.com/
* <http://www.edisa.com/>*
*MADRID - BARCELONA - VIGO - OVIEDO - OURENSE - LAS PALMAS - MEXICO -
COLOMBIA - ECUADOR - REP. DOMINICANA - PANAMÁ*
*------------------------------CONFIDENCIALIDAD:* Este mensaje se dirige
exclusivamente a su destinatari

[2019-02-07 14:32] khouloudbelguith commented on #12483
@lewis2413, in your log file, `doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []`, it could be a problem with a custom module but it is not mentioned.
THanks!

[2019-02-07 14:55] lewis2413 commented on #12483
umm when you say custom module, it could be a template that is not the default? We have a new template

[2019-02-07 14:59] marionf commented on #9668
Fixed with: #12234

[2019-02-07 15:00] marionf commented on #9668
Duplicate of #12053

[2019-02-07 15:01] lewis2413 commented on #12483
Checking the Symfony Profile I found this:

![image](https://user-images.githubusercontent.com/47395448/52419959-716d8a80-2af1-11e9-9bf4-707b2327ef14.png)

and the logs, i found this too

![image](https://user-images.githubusercontent.com/47395448/52420035-8e09c280-2af1-11e9-962d-233a20e6582f.png)

[2019-02-07 15:02] khouloudbelguith commented on #12483
@lewis2413, before uploading the new theme, the issue doesn't exist?
Thanks!

[2019-02-07 15:06] lewis2413 commented on #12483
I don´t test it

[2019-02-07 15:07] bluebear13005 opened #12489 "Duplicate content on ebay"
**Describe the bug**
Some of my product are duplicate on my ebay account. I use the addons eBay v2.0.5 - by 202-ecommerce. When I call the addon support they say that it's a problem from ebay and when I contact ebay they say that it's a problem directly from prestashop. Anyone have an idear ?

Thanks for your help.

Clément

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2019-02-07 15:07] lewis2413 commented on #12483
Sorry, i didn´t test it

[2019-02-07 15:11] khouloudbelguith commented on #12483
@lewis2413, so some issues with translations, did you created any languages or did you imported any pack from the BO?
Thanks!

[2019-02-07 15:15] lewis2413 commented on #12483
I don´t have created any languages, the only thing that i have done is install a laguage package

[2019-02-07 15:22] khouloudbelguith commented on #12483
@lewis2413, from the BO => International => Translations => you added your language?
![image](https://user-images.githubusercontent.com/16067358/52421571-97485e80-2af4-11e9-8314-1fc79e5176bd.png)

[2019-02-07 15:26] lewis2413 commented on #12483
Yes, i have added it

[2019-02-07 15:27] #12478 closed, assigned to nobody

[2019-02-07 15:28] marionf commented on #9654
Can't reproduce with 1.7.5.0

[2019-02-07 15:28] #9654 closed, assigned to nobody

[2019-02-07 15:40] evagofr commented on #11548
Hi, thanks for the reply. I do know the concept of includes. This tpl file is not included anywhere I am aware of, as it is a direct template. It is extended from theme's customer/page.tpl however.

Before update, it was working fine. And I checked the file, it did not change a bit (compared my_theme/modules/psgdpr/ to local file from before update).
The most astonishing is that modifying the real

[2019-02-07 15:42] khouloudbelguith commented on #11548
@Juke29, before updating from which version?
Thanks!

[2019-02-07 15:46] evagofr commented on #11548
PS update from 1.7.2.4 to 1.7.5.0, I checked if psgdpr got an update but no, it was 1.1.2 before and today, sorry for the misunderstanding.

[2019-02-07 15:49] khouloudbelguith commented on #11548
@Juke29, thanks!
I will check & feedback.

[2019-02-07 15:59] khouloudbelguith commented on #12483
@lewis2413, sorry, but I did not manage to reproduce the issue with PS1.7.5.0, you need to check if you have an override incompatible or a custom module may cause a problem.
Thanks!

[2019-02-07 16:03] lewis2413 commented on #12483
How to check if i have an incompatible module in my lastest prestashop version?

[2019-02-07 16:04] matks commented on #10502
There's also this bug https://github.com/PrestaShop/PrestaShop/issues/10228 related to the page

Maybe it can be solved with superadmin specific rules

[2019-02-07 16:06] marionf commented on #12456
Related to this change: #9172

[2019-02-07 16:09] khouloudbelguith commented on #12483
@lewis2413, try to disable one by one manually, check & feedback.
Thanks!

[2019-02-07 16:11] lewis2413 commented on #12483
only the modules from  the new template, rigth?

[2019-02-07 16:15] khouloudbelguith commented on #12475
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12497 to fix the issue.
Thanks!

[2019-02-07 16:16] khouloudbelguith commented on #12483
@lewis2413, modules which they are related to the product page.
Thanks!

[2019-02-07 16:29] LinkOfLight commented on #12434
Cant it, get this
![image](https://user-images.githubusercontent.com/9163980/52426246-e5159480-2afd-11e9-814f-10ad02295586.png)

[2019-02-07 16:30] LinkOfLight commented on #11497
yep, if we can select the prefered choice is better

[2019-02-07 16:46] khouloudbelguith commented on #12434
@LinkOfLight, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-02-07 16:52] LinkOfLight commented on #12434
I Activate the debug mode but dont get the log

[2019-02-07 16:54] khouloudbelguith commented on #12434
@LinkOfLight, you cannot navigate to your General page?
Or your shop is always disabled?
Thanks!

[2019-02-07 16:55] LinkOfLight commented on #12434
i cant enter in config and parameters, get security compromised, and i dont know for what is this, i have all permisions en 644 y 755

[2019-02-07 16:58] ntiepresta opened #12499 "The shipping premium flat rate and discounts module doesn't correctly displayed"
**Describe the bug**
In B.O, Prestashop, the shipping premium doesn't correctky displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to B.O,
2.  Impove  > modules > Catalog
3.. looking Shipping premium module
4 . See error

**Screenshots**
![khouloud](https://user-images.githubusercontent.com/36889855/52427948-4be87d00-2b01-11e9-9242-b495e6634f5e.png)

**Additionnal information**
Pre

[2019-02-07 16:58] khouloudbelguith commented on #12434
@LinkOfLight, could you please try to navigate to your BO => Advanced Parameters => Check your configuration if it is OK?
![image](https://user-images.githubusercontent.com/16067358/52428312-024c6200-2b02-11e9-9d99-426e0be1c1d3.png)

[2019-02-07 17:03] LinkOfLight commented on #12434
get compromised too

[2019-02-07 17:04] khouloudbelguith commented on #12434
@LinkOfLight, have you tried to contact your host?
thanks to check with them & feedback.
THanks!

[2019-02-07 17:05] khouloudbelguith commented on #12499
Hi,

Same issue with PS1.7.5.0 & develop branch.
In the PS1.7.4.4 => OK.
Thanks!

[2019-02-07 17:05] lewis2413 commented on #12483
Ok, BTW, provider hosting have extended the memory limit from 256 to 512MB and  it works for me, the load´s time is 20seg only show the frontend but it continue loading yet.

![image](https://user-images.githubusercontent.com/47395448/52428748-ebf2d600-2b02-11e9-8f53-02aeda741844.png)

[2019-02-07 17:07] khouloudbelguith commented on #12483
@lewis2413, so the issue is fixed?
Thanks!

[2019-02-07 17:09] LinkOfLight commented on #12434
what i need say to mi provider?

[2019-02-07 17:09] lewis2413 commented on #12483
well, if i check error log, i look translation errors, the commented above.

[2019-02-07 17:11] marionf commented on #12499
It's also ok without MBO

![capture d ecran_993](https://user-images.githubusercontent.com/13449658/52429156-c7e3c480-2b03-11e9-9350-0a81224fbf71.png)

[2019-02-07 17:12] lewis2413 commented on #12483
this is solved but not totally.

[2019-02-07 17:16] khouloudbelguith commented on #12434
@LinkOfLight, it could be a server issue or permission issue, or other problem on your server.
Thanks!

[2019-02-07 17:17] khouloudbelguith commented on #12483
@lewis2413, could you please try to update the Espanol language again from the BO => International => Translations.
Thanks!

[2019-02-07 17:19] lewis2413 commented on #12483
i just updated

[2019-02-07 17:23] lewis2413 commented on #12483
when the page is loaded, the features are loading very slow one by one

![image](https://user-images.githubusercontent.com/47395448/52430001-691f4a80-2b05-11e9-9d3d-405814e86fda.png)

[2019-02-07 17:24] khouloudbelguith commented on #11548
@Juke29, thanks a lot for your feedback.
I created a file into my_theme/modules/psgdpr/views/templates/front/customerPersonalData.tpl
[code]

With PS1.7.2.4 & PS1.7.4.4 & PS1.7.5.0 => OK => when I navigate to the FO => GDPR - Personal data => the templete overrided is displayed
![image](https://user-images.githubusercontent.com/16067358/52429181-d205c300-2b03-11e9-8c8a-ba847b86b55e.png)
https://dr

[2019-02-07 17:24] #11548 closed, assigned to nobody

[2019-02-07 17:26] khouloudbelguith commented on #12483
@lewis2413, could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-02-07 17:31] khouloudbelguith commented on #12489
Hi @bluebear13005,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical b

[2019-02-07 17:31] #12489 closed, assigned to nobody

[2019-02-07 17:39] khouloudbelguith opened #12500 "Specific prices issue in product page - Pricing Tab"
**Describe the bug**
In the BO => Catalog => Products page => Pricing Tab => Try to add a specific price without applying a discount => Click on "Apply" => An alert is displayed => refresh the page => a new column is added => NOK

The same issue occurs when we edit a specific prices

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Products page => Pricing Tab
2. Click o

[2019-02-07 17:51] bluebear13005 commented on #12489
I did contact the addon author and they say it's not their doing. Also the support from ebay say that it is a prestashop issue...

[2019-02-07 17:55] lewis2413 commented on #12483
I don´t look the httpdoc directory

![image](https://user-images.githubusercontent.com/47395448/52432095-e1880a80-2b09-11e9-80ed-636d50f1c2b1.png)

[2019-02-07 18:16] lewis2413 commented on #12483
this is the report

[PHP PrestaShop Info.zip](https://github.com/PrestaShop/PrestaShop/files/2842156/PHP.PrestaShop.Info.zip)

[2019-02-07 18:24] Maboz opened #12501 "Faceted Search shows generic cover image for the product when a combination filter is active"
**Describe the bug**
I have products with combinations, each combination has an attribute (let's name it "pattern"), and specific images for that combination. I created a faceted filter for the "pattern" attribute, so that users can filter on it to see products with that "pattern".
The problem is that when the user filters on a specific "pattern", the products with that attribute are properly show

[2019-02-07 20:07] morghy1992 opened #12502 "Problem : Ranges are overlapping 1.7.5"
**Describe the bug** Hello, I am having trouble modifying the ranges for shipping.
Continuously it comes out Ranges are overlapping  and it does't allow me to modify it.
How can I resolve the problem? What can I do for not having again this problem?

<img width="1005" alt="schermata 2019-02-07 alle 21 05 01" src="https://user-images.githubusercontent.com/47249256/52439669-6da32d80-2b1c-11e9-8e1d-9

[2019-02-07 23:16] pppplus opened #12503 "Order of payment module not shown on FO"
**Describe the bug**
I change the order of Payment Module in BO
It's not ok on FO, modules are always in the same order (order of their ID)
I check the table hook_module, and the order is ok, as I put in Modules Positions.
Prestashop 1.7.5.0 / theme Classis

**To Reproduce**
Change Module payment order in BO
No change in FO

**Screenshots**
If applicable, add screenshots or screenrecords to help e

[2019-02-08 02:59] elcolibri commented on #12474
hello thank you for your answer but I can not solve and I was reviewing all the tables and if they are all correct but the error follows and when I upload again the file 1.7.5.0.sql tells me this error at the end

Error
SQL query:

ALTER TABLE `PREFIX_cms_lang`
   ADD `head_seo_title` varchar (255) DEFAULT NULL AFTER` meta_title`,
   CHANGE `meta_title`` meta_title` VARCHAR (255) NOT NULL,
   CHAN

[2019-02-08 07:49] kpodemski opened #12504 "Adding both texture and hex color to attribute does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog -> Attribute'
2. Add an tribute type of "Color or texture"
3. Add hex value, save
4. Go back to list, edit this attribute, try to add texture image
5. failure

as you would see, this does not work, it's regression when it comes to comparison between 1.6 and

[2019-02-08 08:01] khouloudbelguith commented on #12503
Hi @pppplus,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9756
So, I close it.
Thanks!

[2019-02-08 08:01] #12503 closed, assigned to nobody

[2019-02-08 08:02] khouloudbelguith commented on #12503
Duplicate of #9756

[2019-02-08 08:02] dennispw commented on #12504
Related https://github.com/PrestaShop/PrestaShop/issues/10596

[2019-02-08 08:06] pppplus commented on #9756
Same problem on 1.7.5.0

[2019-02-08 08:21] khouloudbelguith commented on #12504
Hi @kpodemski,

It is the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10596#issuecomment-425130337?
is it?
Thanks!

[2019-02-08 08:26] khouloudbelguith commented on #12501
Hi @Maboz,

In fact, when you filter with the faceted search, the image of the combination by default will be displayed ( if the blue combination is by default when you filter by red/blue, the blue image will be always displayed, if the red combination is by default when you filter by blue, the red image will be displayed.)
I attached a video record.
https://drive.google.com/file/d/1E0suiiQ4asOSTu

[2019-02-08 08:34] khouloudbelguith commented on #12502
Hi @morghy1992,

The issue occurs because you have invalid ranges saved in your database.
If you use a price range, you need to edit the ranges in the table `ps_range_price`
If you use a weight range, you need to edit the ranges in the table `ps_range_weight`
![image](https://user-images.githubusercontent.com/16067358/52467133-b8589000-2b84-11e9-9d09-d733ca7af8d4.png)

Thanks to check & feedback.

[2019-02-08 08:36] marionf commented on #12456
@teemumantynen

It's the wanted behavior, otherwise specific carrier cart rule not apply dynamically when choosing carrier during checkout

[2019-02-08 08:38] magiodev commented on #10178
Hi all!

I've updated to 1.7.5.0 but the error persists. Before the update the error was occurring in any kind of product. Now it only get error with product withOUT attributes & features.

No PHP errors with debug mode activated, apache2 error.log is empty too.

**Apache2 access.log:**

[2019-02-08 08:39] teemumantynen commented on #12456
@marionf
But clearly the *wanted behavior* leads to *unwanted consequences*, right?

[2019-02-08 08:43] tomlev commented on #12456
Hi @teemumantynen

the concerned PR is this one : https://github.com/PrestaShop/PrestaShop/pull/11015

When going back to carrier selection from payment step, and selecting another carrier, the page is now reloaded, in its current step (which is payment one)
it is needed as some prices are not correctly updated if the page is not refreshed

[2019-02-08 08:53] khouloudbelguith commented on #9756
Hi @pppplus,

This issue is added to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-08 08:54] kpodemski commented on #12504
Hi @khouloudbelguith

seems like this is a same issue, but it's definitely not an improvement, it's regression from 1.6 and below

[2019-02-08 09:00] pppplus commented on #9756
Hi
No, sorry, I've not found how to solve the problem.
I've not found where the array $payment_options is done exactly.

[2019-02-08 09:00] teemumantynen commented on #12456
Hi @tomlev
IMHO it would be a lot better to refresh the page when customer clicks Continue-button on carrier selection step, not immediately after they have selected a carriers. This automatic refresh prevents the customer from interacting with "carrier extra content" such as input fields for shipping collection point selection.

[2019-02-08 09:21] khouloudbelguith commented on #12483
Hi @lewis2413, your configuration seems to be OK.
Could you please provide me your credentials to access your BO to check it.
This is a public space.
You can provide me the link by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-02-08 09:23] khouloudbelguith commented on #12474
@elcolibri, the table PREFIX_cms_lang doesn't exist in your database, you need to create it.

[code]
You can follow this link: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/data/db_structure.sql#L403

Thanks!

[2019-02-08 09:24] khouloudbelguith commented on #11942
Hi @Leous88,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-08 09:24] #11942 closed, assigned to nobody

[2019-02-08 09:25] lewis2413 commented on #12483
Hi @khouloudbelguith

i just sent the information requested.

[2019-02-08 09:29] khouloudbelguith commented on #12483
@lewis2413, I just received the email, I will check & feedback.
Thanks!

[2019-02-08 09:36] khouloudbelguith commented on #12504
@kpodemski, If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Your ticket is a duplicate of #10596
So, I close it.
Thanks!

[2019-02-08 09:36] #12504 closed, assigned to nobody

[2019-02-08 09:36] khouloudbelguith commented on #12504
Duplicate of #10596

[2019-02-08 09:37] Maboz commented on #12501
Yes the video exactly represents the problem, it's quite confusing for the consumer to filter on a color and be presented a list of products in other colors. From a technical point of view it's clear it's "products having that color", but the average user is just confused.

[2019-02-08 09:38] colinegin commented on #11264
I'm wondering : will it happen the same if the module is disabled only?

[2019-02-08 09:41] khouloudbelguith commented on #10596
Hi,

As described by @kpodemski, in this ticket https://github.com/PrestaShop/PrestaShop/issues/12504.
In the PS1.6.1.23, I checked that texture have higher priority
https://drive.google.com/file/d/15-EQW5rmCKkjzIlJbFJJBdEzd8lOTim3/view
But with PS1.7, the color has a higher priority.
@marionf what do you think?
Thanks!

[2019-02-08 09:41] colinegin commented on #12321
Hello @MathiasReker,

I really understand your situation, and I'm sorry this is a blocking issue for you.
Unfortunately, we won't be able to fix it during a patch, as it requires indepth study and probably not just a small development.

We will work on the import system as soon as possible.
We will keep you updated !

Have a nice day,

Coline

[2019-02-08 09:54] khouloudbelguith commented on #12483
@lewis2413, I tried to add/edit a product & it is OK.
I sent you a screen record via Email.
Thanks!

[2019-02-08 09:58] jolelievre commented on #11264
I'm not sure it depends how the module managed it, but imho a disabled module should not be visible any more.
But I have trouble understanding the difference between disable and uninstall. Except that disable doesn't delete its data it should do the same thing, so the tab will disappear as well.

[2019-02-08 10:03] khouloudbelguith commented on #12501
@Maboz, it could be an improvement issue, in the FO, when we search with attributes, specific image for each combination should be displayed & not the image of the combination by default.
@marionf @colinegin what do you think?
Thanks!

[2019-02-08 10:06] lewis2413 commented on #12483
Yes I´ve received, but try to test with products that they are there. for example 731 only click in modify button and check loading time. Each product have 43 features aprox.

[2019-02-08 10:06] jolelievre opened #12506 "GridFactory crashes if no HookDispatcher was injected"
**Describe the bug**
`GridFactory` crashes when hook dispatcher was not injected.

**To Reproduce**
Steps to reproduce the behavior:
On the 1.7.5.x branch (1.7.5.1 target) upgrade the ps_linklist module to v3.0.1, when you try to access its configuration you get an error. This is due to a modification introduce in `GridFactory`: https://github.com/PrestaShop/PrestaShop/commit/e78714cd258c650dda1fb

[2019-02-08 10:07] krasnycz commented on #11784
@fabrice-dresscodes You are using PS in multistore mode or not?

[2019-02-08 10:07] colinegin commented on #11264
Yeah I agree with you, in my opinion the tab should also disappear.
I just want to be sure we take into account this specific case.

[2019-02-08 10:10] fabrice-dresscodes commented on #11784
It was enabled once but now english language is disabled so only french is active.

[2019-02-08 10:19] khouloudbelguith commented on #12483
@lewis2413, thanks for your feedback.
We are aware of this issue and we are working on it.
No, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2019-02-08 10:19] #12483 closed, assigned to nobody

[2019-02-08 10:19] khouloudbelguith commented on #12483
Duplicate of #9809

[2019-02-08 10:21] lewis2413 commented on #12483
All rigth, thansks to you.

[2019-02-08 10:21] khouloudbelguith commented on #12506
@jolelievre, same issue for me
![image](https://user-images.githubusercontent.com/16067358/52472481-b5b16700-2b93-11e9-8372-eb6b074380de.png)
Thanks!

[2019-02-08 10:25] marionf commented on #10596
With PrestaShop 1.7.4.2 & 1.7.5.0 , if you have an attribute with a color and you try to change it for a texture, it keeps the color and the uploaded texture isn't applied.

https://drive.google.com/file/d/1I4mURGwGtLKPScUxvpo8q-3juKusv1qK/view?usp=sharing

When you upload a texture, if there is a color, it should be remove

[2019-02-08 10:27] khouloudbelguith commented on #12464
@fantonifra, can I close the issue?
Thanks!

[2019-02-08 10:28] marionf commented on #10508
@matks Do you think we can solve this [issue](https://github.com/PrestaShop/PrestaShop/issues/10596) during the migration of this page ?

[2019-02-08 10:28] jolelievre commented on #12506
@khouloudbelguith on branch develop or 1.7.5x ?
There is the same issue on both branch, we first fix it on 1.7.5 then we will merge the fix back to develop

[2019-02-08 10:29] khouloudbelguith commented on #12506
@jolelievre, I checked it the with 1.7.5.x & develop branch
Thanks!

[2019-02-08 10:30] fantonifra commented on #12464
Yes, thanks @matks and @khouloudbelguith

[2019-02-08 10:30] #12464 closed, assigned to nobody

[2019-02-08 10:32] khouloudbelguith commented on #12464
@fantonifra, you are welcome!
Feel free to open a new one when needed.
Thanks!

[2019-02-08 10:33] luigimassa opened #12508 "Tax included when customer has country with no tax"
**Describe the bug**
When customer has group with tax = 0, Tax included in product after order.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Internationals > Vat
2. Create a VAT with rate = 0%; give name NOVAT
3. Create Tax Rule, give a name, add a country and in behaviour select "This vat only" and in Tax select NOVAT
4. Go to Shop Parameters > Customer Settings
5. Click on Groups

[2019-02-08 10:34] jolelievre commented on #11264
The thing is we can't be sure, it depends on how the module manages its `disabled` function I'm pretty sure most of them don't, or if they do they might forget to remove the tabs.

Which is why I proposed to check for tab modifications on any module actions (I think it's doable with the hooks `actionObjectTabUpdateAfter` and `actionObjectTabAddAfter`). This way wether the module manages it right o

[2019-02-08 10:59] khouloudbelguith commented on #12508
Hi @luigimassa,

With these steps (1, 2, 3) you just created a tax rule applied in one country, then you have created a product with vat => so you used a different tax rule than the `NOVAT` tax rule created previously.
So, it will not be applied.
As I understand your issue, you can use the European VAT number module, it enables you to enter the intra-community VAT number when creating the address,

[2019-02-08 11:01] khouloudbelguith commented on #12276
Hi @tomablan,

Please be aware that the GitHub should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-02-08 11:01] #12276 closed, assigned to nobody

[2019-02-08 11:15] tomablan commented on #12276
Not having a solution for this issue (because, yes, it's an issue), is not a proper way to close this thread, but anyway, I still think this should be in a default PrestaShop release, because as a regular developer, it's something I needed more than once, and that was ok in 1.6, so I think you should consider this as an improvement.

Anyway, I'll implement/fix this by my side. Sorry, the community

[2019-02-08 11:18] kpodemski commented on #10596
No, color should not be removed, imagine that you want to upload .png file with a background of choice from the color field, this is how it was working in 1.6 and below, in my opinion behavior of this feature should not be changed.

Texture should have higher priortiy on front-office, that's it, but do not delete color value.

[2019-02-08 11:20] PeeyushAgrawal opened #12509 "ContextErrorException on order if Legal compliance module is installed"
**Describe the bug**
When we do an order with Cash on delivery payment method then the **(1/1) ContextErrorException
Warning: Cannot use a scalar value as an array** exception will occur. The exception occurs when only the debug mode is on and the configuration in this module **"Proportionate tax for shipping and wrapping"** is set to **YES**

**To Reproduce**
Steps to reproduce the behavior:

1.

[2019-02-08 11:22] khouloudbelguith commented on #12276
@tomablan, in our market place, you can find some module to a dual display of prices tax excl. and tax incl
Thanks!

[2019-02-08 11:29] marionf commented on #10596
@kpodemski

I just tried with an 1.6, if I upload a png file the background don't take the color of the field.

https://drive.google.com/open?id=1qXGo0JA-vZ7dJug8H-v1f-FBKEKwlFe5

The color is displayed or the texture but not both

[2019-02-08 11:30] kpodemski commented on #10596
@marionf yes, that's correct, but values in back-office are available, so:

- allow us to fill out both texture and color
- use texture if both fields are used
- do not remove color value from back-office if you upload a texture

[2019-02-08 11:36] khouloudbelguith commented on #12509
Hi @PeeyushAgrawalWebkul,

I did not manage to reproduce the issue with PS1.7.5.0 & the ps_legalcompilance v3.0.1.
I attached a video record.
https://drive.google.com/file/d/1DuZf_632TbC78yB2LlQyuOKsLOmxbCKQ/view
Thanks to check & feedback.
Thanks!

[2019-02-08 12:10] darslu commented on #10010
Any news about this problem solution? i see it was removed  from the [1.7.6.0](/PrestaShop/PrestaShop/milestone/47)

[2019-02-08 13:22] maviteknoloji opened #12510 "Prestashop1.7.4.4 product error"
I'm using prestashop 1.7.4.4 ... the problem with the new ... no problem when I say replicate product. when I say the product edit the product fix it when I say it seems to have saved the old information stands ....
I will add new product, I still say the same ...
just sometimes I'm allowed to add
Add a photo. Open product Open product Add new photo. open products open product name save product ..

[2019-02-08 13:23] ghost opened #12511 "Combinations with multiple color groups show only colors from the first group on the product page"
If you add multiple different color groups to combinations (without connecting them) only the first group is displayed on product page, however hovering above quick preview indicates that all colors are there.

This is problematic for products like doors where there can be multiple texture/finish types.
This gallery explains the issue: https://imgur.com/a/foGVZWE

**To reproduce:**
1. Create color

[2019-02-08 13:24] khouloudbelguith commented on #12510
Hi @maviteknoloji,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pr

[2019-02-08 13:33] khouloudbelguith commented on #12511
Hi @sudub,

This is not a bug, it is normal behavior.
In the combination list, every combination needs to have the same attributes than the others. I mean you can't have, in the same product, combinations with `Test Colors A`  and some others with `Test Colors B`.
All of them need to have `Test Colors A` + `Test Colors B` or `Test Colors A` or `Test Colors B`.
You need to delete all these combinat

[2019-02-08 13:33] #12511 closed, assigned to nobody

[2019-02-08 13:59] Amulliez opened #12512 "La propriété Customer->lastname est vide."
Bonjour,

Lorsque je me connecte à un compte que j'ai créé sur mon site test (Prestashop 1.7.5), l'erreur suivante apparaît :
La propriété Customer->lastname est vide.
at line 984 in file classes/ObjectModel.php

Pouvez-vous m'aider à corriger cette erreur ?

Merci d'avance !

[2019-02-08 14:06] khouloudbelguith commented on #12512
Hi @Amulliez,

did you create this customer from the BO or from the FO?
During the creation, did you st the last name?
Thanks!

[2019-02-08 14:10] Amulliez commented on #12512
Bonjour @khouloudbelguith,

Merci de répondre à mon problème.
Ce compte a été créé directement via le FO. Tous les champs avaient été correctement renseignés.

Merci.

[2019-02-08 14:14] khouloudbelguith commented on #12512
@Amulliez, this issue occurs only with one customer or with all customers created?
Thanks!

[2019-02-08 14:17] Amulliez commented on #12512
@khouloudbelguith
Avec plusieurs comptes mais pas l'intégralité.
Merci.

[2019-02-08 14:20] khouloudbelguith commented on #12512
@Amulliez, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-08 14:27] ghost commented on #12511
How? I already stated that logically Color A can't be conncted with Color B. Now if I would like to make connections like this:
Color B <-> FeatureList, Color A <-> FeatureList
I won't be able to do it because Color A will not appear at all.

I honestly disagree that this is normal, you can add combinations consisting of just one attribute just like that, the fact that it shows all colors on the h

[2019-02-08 14:34] khouloudbelguith commented on #12511
ping @marionf what do you think?
In my opinion, the generation of those combinations is not valid.
Thanks!

[2019-02-08 14:59] Styxm opened #12513 "ContextErrorException Warning: session_start()"
Hello, today I turned my on my debugging from prestashop to see why one of my module wasn't working(PayU Romania,Turkey, Russia, Hungary, Ukraine)
Everytime when I wanted to checkout to pay with the gateway I had the error 500 so I turned on my debugging and I saw I have some errors.

![gg](https://user-images.githubusercontent.com/17001721/52485585-e27c7300-2bc1-11e9-933c-f74ae16ebce1.png)

The p

[2019-02-08 15:09] Maofree opened #12514 "Customers from United Kingdom cannot see taxes in the site when logged"
Hi
a my customer get some orders from some countries of EU (the shop is in Italy) like from France or Spain and the orders have tax included in the prices, instead from UK no.
I've tested on a clean prestashop 1.7.5 and I can see the same problem
UK is in the EU zone like Spain, so it is very strange

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/52486068-87934d80-2bba

[2019-02-08 15:12] matks commented on #12432
Discussion in progress with Symfony team to see if we can benefit from an alias or deprecation feature for routing: https://github.com/symfony/symfony/issues/6088

But it will only be for SF 4 ...

[2019-02-08 15:16] ma0dubois commented on #12295
Hi,

We found the problem.

It was coming from the `sprintf` tag in the translation function.
After removing all the `sprintf` tag, we have no issues translating.

(Like  `sprintf=['%order%' => $order_name]`

[2019-02-08 15:16] PierreRambaud commented on #12514
Wait for March 29 :trollface:

[2019-02-08 15:18] Peterits opened #12515 "Minor bug of Description and summary of the product!"
Hi,
Still a little bug with the description and summary of the product, the tabs remain blocked:
To reproduce follow the video

![screencapture_08-02-2019_14_29_09](https://user-images.githubusercontent.com/44966543/52486955-c88c6180-2bbc-11e9-802c-729c0b844c8c.gif)

**Additionnal information**
PrestaShop version: 1.7.5.0 and 1.7.5.1 + maj # 12053 !
PHP version: 7.1

[2019-02-08 15:25] rflorent opened #12516 "Combination edit : very slow"
Hello,
I have a product with 150 combinations.
When trying to save changes in one combination, it take 2 minutes to get response.
I discover that the 150 combinaisons are sent in the ajax call, that's probably the reason why the call take so long.

Can't we have a dedicated form / call for that ?

Thanks

[2019-02-08 15:26] Maofree commented on #12514
if the shopkeepr wants to add the taxes also for that people how is it possible?
so at this moment is it normal that the taxes are not included?

[2019-02-08 15:26] khouloudbelguith commented on #12513
Hi @Styxm,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-02-08 15:28] #12138 closed, assigned to eternoendless, jolelievre

[2019-02-08 15:29] khouloudbelguith commented on #12516
Hi @rflorent,

thanks for your report.
We are aware of this issue and we are working on it.
No, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2019-02-08 15:29] #12516 closed, assigned to nobody

[2019-02-08 15:29] khouloudbelguith commented on #12516
Duplicate of #9809

[2019-02-08 15:31] khouloudbelguith commented on #12515
Hi @Peterits,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12234 to solve the issue.
It is fixed in the PS1.7.5.1.
Your ticket is a duplicate of #12053
So, I close it.
Thanks!

[2019-02-08 15:31] #12515 closed, assigned to nobody

[2019-02-08 15:31] khouloudbelguith commented on #12515
Duplicate of #12053

[2019-02-08 15:53] Styxm commented on #12513
https://axafarm.ro/phppsinfo.php no errors

[2019-02-08 15:55] Maofree commented on #12514
problem solved adding a new tax rule for the italian vat of UK

[2019-02-08 16:01] khouloudbelguith commented on #12513
@Styxm, how did you disabled your modules? from this option "Disable non PrestaShop modules" in your BO => Advanced Parameters => Performance page?

[2019-02-08 16:04] Styxm commented on #12513
Yes and I activated clasic theme and double check in BO =>Module => Module Manager if all the modules are off

[2019-02-08 16:05] Peterits commented on #12515
Hi, this is not the same problem, in this problem, both tabs remain open at once and the maj did not solve this problem! Watch the video to reproduce! Thank you

[2019-02-08 16:05] khouloudbelguith commented on #12513
@Styxm, in fact this option: "Disable non PrestaShop modules" does not work as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9965
Thanks!

[2019-02-08 16:12] khouloudbelguith commented on #12295
@ma0dubois, since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-02-08 16:12] #12295 closed, assigned to nobody

[2019-02-08 16:16] Styxm commented on #12513
Ok I understand! to double check with you to be sure of what I'm doing, I will go and activate clasic theme and after that I should disable all modules from BO =>Module =>Module Manager right? Every single one from the pics and check again if there are any errors right?

![pb1](https://user-images.githubusercontent.com/17001721/52490420-6425ce00-2bcd-11e9-953d-0a6de80a5d92.png)
![pb2](https://user

[2019-02-08 16:19] lewis2413 commented on #12483
hi @khouloudbelguith

the issue commented above is in progress? are there any solution?

[2019-02-08 16:21] khouloudbelguith commented on #12483
@lewis2413, the issue is in progress.
This is not something we can easily fix.
Thanks for your understanding!

[2019-02-08 16:25] lewis2413 commented on #12483
Ok, i undestand, i´ll hope for you response...

Thansk for you support

[2019-02-08 16:28] khouloudbelguith commented on #12515
@Peterits, thanks for your feedback.
Yes, you are right.
It is not fixed yet, in fact, your issue is a duplicate of #9668
I will reopen it.
Thanks!

[2019-02-08 16:29] khouloudbelguith commented on #12515
Duplicate of #9668

[2019-02-08 16:30] khouloudbelguith commented on #9668
Hi @marionf,

This issue is not fixed yet in the 1.7.5.x branch.
![screencapture_08-02-2019_14_29_09](https://user-images.githubusercontent.com/44966543/52486955-c88c6180-2bbc-11e9-802c-729c0b844c8c.gif)

Thanks!

[2019-02-08 16:38] khouloudbelguith commented on #12513
@Styxm, in my case, with fresh install PS1.7.5.0, I did not manage to reproduce the issue.
Could you please try to clear cache, you can rum those commands
[code]
Check & feedback.

[2019-02-08 17:03] Styxm commented on #12513
I did just now same errors

[2019-02-08 17:34] morghy1992 commented on #12502
@khouloudbelguith Thanks for the answer,
But I don't know where it Is,
Where can I find this ps_range_weight ?

Thank you for paying attention.

[2019-02-08 17:51] jhon111 opened #12517 "can not edit or create a new product prestashop 1.7.5.0"
Hello;

I'm trying to start a store but i can't save or create produts because it is showing me an error.More exactly this error http://forge.prestashop.com/browse/BOOM-5229  http://forge.prestashop.com/browse/BOOM-5228

Please see this video in the site of test i have https://screencast-o-matic.com/watch/cqnirD3HTQ

so the error is this:

VM2537:1 Uncaught SyntaxError: Unexpected token < in JSON

[2019-02-08 19:27] maviteknoloji commented on #12510
@khouloudbelguith https://youtu.be/9P55D5IfoL4 videoyu izlerseniz sorunu görürsünüz...

[2019-02-08 19:28] maviteknoloji commented on #12510
@khouloudbelguith https://youtu.be/9P55D5IfoL4 sorun burada gözüküyor...

[2019-02-08 20:10] rtvt opened #12518 "Modules positions not works for pages with dash in url"
It seems like module position stopped work for me in Prestahop 1.7.5, but only for pages with 2 or more words in url, like "new-products".

**To Reproduce**
Install clean Prestashop 1.7.5
Go to Design - Positions - take for example Newsletter subscription module in FooterBefore hook - click Edit - in list we can select "newproducts" - save.
Now go to new products page - module still there: https:/

[2019-02-08 21:17] lewis2413 opened #12519 "Unable to save this image code 66"
Hi

Im trying to save a image using  prestashop api, but i always get the 66 error code. The images are in my local machine into img directory, the only thing that i need is pass the url image and that the prestashop process associate it with product.

thanks

[2019-02-09 01:20] Crolug opened #12520 "Remove From Cart button isn't working with Friendly URLs turned on"
Remove Form Cart button stops to work after turning on Friendly URLs in PrestaShop 1.7.5.

**Steps to reproduce the behavior**:
1. Go to Shop Parameters -> Traffic & SEO
2. Turn on Friendly URL
3. Add a product to a cart and go to a cart page
4. Click remove from cart button (on default theme -> trash bin icon)

**Additional information**
PrestaShop version: 1.7.5.0
PHP version: 7.2.12

[2019-02-09 04:33] Goretsv opened #12521 "Error total count in order edit PS 1.7.5"
I have store with USD default currency, but many orders are made by customers in UAH. If you try to edit the price / add / remove goods in the admin panel, you get absolutely incorrect sum total.

Steps to reproduce the behavior:
1. Create store with at least two currencies
2. Place your order in a non-default currency
3. Try admin panel to add product to order.
4. See error

If you change status

[2019-02-09 04:41] Goretsv commented on #12521
Also i can reproduce this bug on Prestashop demo store:
https://pastenow.ru/795a1676a3b9d22eef8a4696234e1b13

[2019-02-09 08:14] yovo-cgn opened #12522 "php 7.3 only -Product variants do not show up , product can´t be saved"
**Describe the bug**
Product variants do not show up
A product with variants can´t be edited or saved

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'product with variants '
2. Click on 'variations`
![no variants](https://user-images.githubusercontent.com/47471893/52518412-798d0d80-2c4a-11e9-8ca1-9a526d69d097.JPG)
4. See error

Bug History:
I always had the error "can´t be saved" whil

[2019-02-09 08:59] yovo-cgn commented on #12522
Solved..
This problem only occures with php 7.3
7.2. and below works

[2019-02-09 14:28] kpodemski commented on #10596
@marionf @khouloudbelguith @dennispw

#12523

[2019-02-09 20:18] RUMBuilder commented on #12135
Why was this closed? I still don't have a solution, was hoping someone else might have better input?

[2019-02-09 20:56] sarjon opened #12524 "Export component"
For upcoming 1.7.6 version we cannot leave exporting data like that:

https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Sell/Catalog/SupplierController.php#L338

https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Sell/Catalog/CategoryController.php#L795

We need some data export component or at least add some hooks.

[2019-02-09 22:22] RUMBuilder opened #12525 "iFrame issue in 1.7.5 -"
previous thread CLOSED for no reason with NO resolution by mods:
https://github.com/PrestaShop/PrestaShop/issues/12135

I have checked everything I can, server is compatible, settings are correct, etc.
Finally bit the bullet and did they're last option - I did a COMPLETE wipe of the installation, and a BRAND NEW installation - TWICE. The first time I used the autoinstaller in the PS zip file(via i

[2019-02-09 23:57] Neilerua75 opened #12526 "Base de données qui explose sans raison apparente, jusqu'au dépassement de quota et au blocage"
Bonjour,

Je suis sur Prestashop 16.1 (projet que je relance et donc site encore en construction / importation des produits dématérialisés en cours / peu de visiteurs / nombreuses catégories et sous-catégories créées mais nombre de produit inférieur à 50 pour l'heure) et je rencontre un problème avec la base de données de la boutique qui explose sans aucune raison et sans intervention de ma part,

[2019-02-10 13:22] niccoX opened #12527 "Order status images not appearing after upgrade"
Upgraded PS _1.6.1.18_ to _1.6.1.23_

In backoffice> Orders> View: there are no images on the status, except the Canceled image.

_/img/os/6.gif_

I checked the _/img/os_ directory and no images where in the directory after the upgrade.

Not even _/img/os/6.gif_ which is the canceled status, but only that image from the statuses I have tested appear. Payment accepted for example is just an ? image

[2019-02-10 14:55] kpodemski commented on #12525
I don't think that it's a PrestaShop issue, i think that you should contact with some PrestaShop developer who will debug it for you.

You need to enable debug mode in your store and debug request which is send for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you s

[2019-02-10 16:46] LinkOfLight opened #12528 "Cant enter iframe in cms in 1.7.5"
**Describe the bug**
i get 404 whit iframe in 1.7.5 in cms pages

**To Reproduce**
Steps to reproduce the behavior:
1º. go to cms page and make new page
2º. Click in code mode and insert the iframe
3º. See the 404

**Screenshots**
https://youtu.be/5mwD_4GfH4A

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.2

[2019-02-10 17:28] RUMBuilder commented on #12528
@LinkOfLight
Some admin is going to tell you to make sure you've enabled iframes in html fields, and possibly turn off html purifier.
In 1.7.5, go to Shop Parameters>General, and then set "Allow iframes on HTML fields" to YES, and also set "Use HTMLPurifier Library" to NO.

The admin might also tell you to use the dropdown option in the Editor to insert the iframe, as opposed to just entering code

[2019-02-10 19:57] x29a opened #12529 "Where is the PS Cleaner Module"
**Describe the bug**
I want to follow https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/migration/ and it states a `pscleaner` module. I can not find it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Modules Catalog` in Shop
2. Search for `cleaner`
3. Be redirected to https://addons.prestashop.com/en/search?search_query=cleaner&utm_source=back-office&utm_medium=recherche&

[2019-02-10 22:57] MathiasReker commented on #12529
https://github.com/PrestaShop/pscleaner

[2019-02-10 22:59] MathiasReker commented on #12528
Please paste the specific code you try to embed, then I can try if I can reproduce your issue.

[2019-02-10 22:59] MathiasReker commented on #12528
`Paste it in code tag`

[2019-02-10 23:00] MathiasReker commented on #12527
Try to clear cache and delete images in tmp folder.

[2019-02-10 23:03] MathiasReker commented on #12517
I can't reproduce. Can you record a video to show how to reproduce and show all the values of your product?

[2019-02-11 00:24] jhon111 commented on #12517
Please check it in computer friend not in mobile,the video is wrking fine

thanks
Kind Regards

[2019-02-11 04:46] x29a commented on #12529
Thanks, any reason its not distributed via the Marketplace?

[2019-02-11 04:46] #12529 closed, assigned to nobody

[2019-02-11 07:18] centoasa commented on #11655
with latest release 1.2.1 of this module I've still this error: https://1drv.ms/t/s!AnkbspQIR_C67GifIkwDNUAzglgz
Already patched with https://github.com/PrestaShop/PrestaShop/issues/11655#issuecomment-450387405

[2019-02-11 07:55] khouloudbelguith commented on #12518
Hi @rtvt,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1StVeYA7X5iMWr9bNbBV3-Bn2WTCFtvlU/view
Thanks to check & feedback.

[2019-02-11 08:16] khouloudbelguith commented on #12520
Hi @Crolug,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1M9sAK6ee-7i5foz5KJALfwJswB6z8fC2/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache

[2019-02-11 08:23] Amulliez commented on #12512
Bonjour @khouloudbelguith,

Voici les fichiers en question en pièce jointe.

Merci pour votre aide.

Bonne journée.
[20190208_exception.log](https://github.com/PrestaShop/PrestaShop/files/2850226/20190208_exception.log)
[dev.log](https://github.com/PrestaShop/PrestaShop/files/2850229/dev.log)

[2019-02-11 08:32] khouloudbelguith commented on #12527
Hi @niccoX,

I made an upgrade from PS1.6.1.4 to 1.6.1.23 with 1-click upgrade v4.5.1. & I did not manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/16067358/52552294-f1d90780-2ddf-11e9-9c83-6a8419e1011d.png)
Could you please navigate to your BO => Preferences => Images page => in the bottom of the page, click on "Regenerate thumbnails".
As you can see [here](https:

[2019-02-11 08:32] #12527 closed, assigned to nobody

[2019-02-11 09:07] khouloudbelguith commented on #12525
Hi @RUMBuilder,

As said in your previous issue.
I did not manage to reproduce the issue with PS1.7.5.0, after enabling the iframe in the General page, in the product the video inserted is well displayed in the FO - product page.
![image](https://user-images.githubusercontent.com/16067358/52553694-b7259e00-2de4-11e9-953c-72217cc642f6.png)
@marionf, can you try to reproduce the issue?
Thanks!

[2019-02-11 09:14] Matt75 commented on #11655
@centoasa Hi, it seems you have an error in `themes/leo_emarket/templates/catalog/_partials/miniatures/product.tpl`
This file is provided by third party, contact the developper of your theme on Addons MarketPlace.

[2019-02-11 09:16] marionf commented on #12525
@khouloudbelguith I can't reproduce

![capture d ecran_996](https://user-images.githubusercontent.com/13449658/52554117-20f27780-2de6-11e9-90a0-9991b2e0a9aa.png)

[2019-02-11 09:17] marionf commented on #12525
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-02-11 09:17] #12525 closed, assigned to nobody

[2019-02-11 09:27] khouloudbelguith commented on #12525
@marionf thank you!

[2019-02-11 09:34] khouloudbelguith commented on #12521
Hi @Goretsv,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/52554796-3d8faf00-2de8-11e9-92ac-ce9bfff35821.png)
https://drive.google.com/file/d/115SZeeviZHn41N7Eo6FGuIrx4ydkPjK8/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can

[2019-02-11 09:39] khouloudbelguith commented on #12102
Hi @ThomasJKlip,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-11 09:39] #12102 closed, assigned to nobody

[2019-02-11 09:40] khouloudbelguith commented on #12116
Hi @jeckyl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-11 09:40] #12116 closed, assigned to nobody

[2019-02-11 09:52] #12108 closed, assigned to nobody

[2019-02-11 09:57] khouloudbelguith commented on #11914
Hi @MSiliunas,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2019-02-11 09:57] #11914 closed, assigned to nobody

[2019-02-11 10:00] khouloudbelguith commented on #12510
@maviteknoloji, you closed your issue? it is fixed?
Your video is not available.
Thanks!

[2019-02-11 10:01] marionf commented on #9622
Fixed

![capture d ecran_998](https://user-images.githubusercontent.com/13449658/52556315-80ec1c80-2dec-11e9-90ad-7045d36b3590.png)

[2019-02-11 10:01] #9622 closed, assigned to nobody

[2019-02-11 10:11] khouloudbelguith commented on #12528
Hi @LinkOfLight,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1vXNtnjNNYQCULlNC_D3fz6_bJxkGPK6E/view
Thanks to check & feedback.
PS: You need to enable "Allow iframes on HTML fields" in BO => Shop Parameters => General page.
![image](https://user-images.githubusercontent.com/16067358/52556742-bcd3b180-2ded-11e9-8319-e840828af38

[2019-02-11 10:13] khouloudbelguith commented on #12517
Hi @jhon111,

I did not manage to reproduce the issue with fresh install PS1.7.5.0.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source): fresh install or upgrade from a previous version
 - debug mode report
 - PHP error logs
 - apache error log

Don't you know how to

[2019-02-11 10:21] khouloudbelguith commented on #12526
Hi @Neilerua75,

Could you please provide us with more info? We need more details to understand your issue:

- debug mode report
- PHP error logs
- apache error log
- javascript console log

Thanks!

[2019-02-11 10:24] NLukasz24 opened #12530 "One Click upgrade 1.6.1.17 to 1.7.5.0 Theme error"
**Describe the bug**
I was upgrading from 1.6.1.17 to 1.7.5.0 Stable by one click upgrade feature.
What happened was that data has moved successfully, (that includes orders, clients, products etc.)
But problem is with the template. In a new, fresh and clean 1.7.5.0 install under Design/Theme&logo there are tabs "Homepage configuration" However, after migrating from 1.6 to 1.7 as described above, c

[2019-02-11 10:30] marionf commented on #11630
@mickaelandrieu Is there something to do here or it can be closed ?

[2019-02-11 10:31] khouloudbelguith commented on #12519
Hi @lewis2413,

I tried with this script:

[code]
But I did not manage to reproduce your issue with PS1.7.5.0, thanks to check & feedback.

[2019-02-11 10:32] jhon111 commented on #12517
Hello;
the errorr appear when i have this theme activated  http://morgans-pomade.ch/themes/v1.1.0-PRS187.zip ,please install it activate and test adding a new product,or if you have products you can try to change of category or add in another category a product. In this image you can see the error you go to get
![error theme](https://user-images.githubusercontent.com/2414901/52557674-1de39100-2dbe

[2019-02-11 10:45] #11409 closed, assigned to nobody

[2019-02-11 10:48] khouloudbelguith commented on #12530
Hi @NLukasz24,

You need to install the ps_themecusto module.
![image](https://user-images.githubusercontent.com/16067358/52558556-fbb83600-2df2-11e9-8b6d-51058147bc86.png)
Thanks!

[2019-02-11 10:48] #12530 closed, assigned to nobody

[2019-02-11 10:51] khouloudbelguith commented on #12517
@jhon111,

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "Prev

[2019-02-11 10:55] khouloudbelguith commented on #12117
Hi @marchspa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-11 10:55] #12117 closed, assigned to nobody

[2019-02-11 10:59] khouloudbelguith commented on #12502
Hi @morghy1992,

In your BO => Advanced Parameters => Information page, You can find your "Database information".
MySQL name => your database name
Tables prefix => the prefix of your table for example ps_
![image](https://user-images.githubusercontent.com/16067358/52559001-5e5e0180-2df4-11e9-9fca-259809f624ea.png)
You need to access to your database, search for the table prefix_range_weight.
Thank

[2019-02-11 11:01] khouloudbelguith commented on #12513
Hi @Styxm,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-02-11 11:01] #12513 closed, assigned to nobody

[2019-02-11 11:03] khouloudbelguith commented on #12517
@jhon111, about your theme, I just uploaded it, when I try to use it, I have an error.
![image](https://user-images.githubusercontent.com/16067358/52559204-f9ef7200-2df4-11e9-82a4-99d29ccce21d.png)
Thanks!

[2019-02-11 11:04] jhon111 commented on #12517
In network tab there is not error the error is in console tab
* enable debug mode  I HAVE IT ENABLED
* go to the product page YES
* open up developer tools  YES I MADE THAT
* go to Network tab  DONE
* save product  DONE
* wait for an error, you should see red request information in Network tab  IN NETWORK TAB THERE IS NOT ERROR
* click on it, you should see the error message in "Response" or "Prev

[2019-02-11 11:06] #9501 closed, assigned to nobody

[2019-02-11 11:09] jhon111 commented on #12517
Well i have the theme installed in two stores but i don't have problems with the logo or other things i only have the problem of the console i sent you when i try to add a product to a category
thanks

[2019-02-11 11:14] khouloudbelguith commented on #12512
@Amulliez, in a dev log file, you have some errors, with `sizeconversion` module, `lyoshowvatfree` module, have you tried to contact the module author about the errors?
Did you use a migration Pro module to make to an upgrade? Does this issue occur after the upgrade only?
Thanks!

[2019-02-11 11:23] khouloudbelguith commented on #11629
Hi @JavierEB,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-11 11:23] #11629 closed, assigned to nobody

[2019-02-11 11:30] khouloudbelguith commented on #12073
Hi @chicha78,

Did you use also a custom module?
What the exact name of this module?
Thanks!

[2019-02-11 11:32] Bonobomagno commented on #11596
If prestashop don't read module configuration file, then how to add custom console commands?!

[2019-02-11 11:45] khouloudbelguith commented on #12522
Hi @yovo-cgn,

PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

Thanks!

[2019-02-11 11:47] sarjon opened #12531 "Missing methods and options for ConfigurationInterface"
Interface `PrestaShop\PrestaShop\Core\ConfigurationInterface` is wrong with some missing methods and multishop options.

What is more, its current implementation `PrestaShop\PrestaShop\Adapter\Configuration` is more like wrapper around `ParameterBag` which adds additional methods (some of them are not working) that are not part of interface.

[2019-02-11 11:50] khouloudbelguith commented on #12517
Hi @jhon111,

I uploaded your theme, I have the same issue as you, in the Preview Tab, an exception is displayed,

[code]

![image](https://user-images.githubusercontent.com/16067358/52561361-7d13c680-2dfb-11e9-819d-c25c595aa0fb.png)
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the

[2019-02-11 11:50] #12517 closed, assigned to nobody

[2019-02-11 12:05] DiegoCiccarelli commented on #12073
Hi @khouloudbelguith I'm using the official module of Mercadopago V1.1.1 for Argentina, however I already solve the problem by limiting some forms of payment within the module, it's a module bug, they confirmed it from the support.

[2019-02-11 13:12] khouloudbelguith commented on #12073
Hi @chicha78,

Thanks for your feedback.
I'll close the issue, since it is not a bug in the core PrestaShop.
Thanks!

[2019-02-11 13:12] #12073 closed, assigned to nobody

[2019-02-11 13:24] kermorgant commented on #11596
@Bonobomagno prestashop reads `config/services.yml` in which you can declare and tag services (see [here](https://github.com/PrestaShop/PrestaShop/blob/aec97ddb1551fd7d6d56f75549a992d6937caf50/src/PrestaShopBundle/DependencyInjection/Compiler/LoadServicesFromModulesPass.php#L62)). By tagging your service with `console.command`, prestashop will register your command ([doc](https://devdocs.prestasho

[2019-02-11 13:30] khouloudbelguith commented on #11477
Same issue with PS1.7.5.0

[2019-02-11 13:32] khouloudbelguith commented on #10313
Hi @nbexiga,

We released a new version for the module 1-click upgrade v4.5.1.
Have you the same issue as before?
Thanks!

[2019-02-11 13:34] #9968 closed, assigned to nobody

[2019-02-11 13:39] lewis2413 commented on #12519
Hi

Thanks for your response,  but i'm trying to create a new image using the
prestashop api non interface user....
*--*

*Saludos Cordiales*

*Ing. Jose Luis Idrogo*
Movil: +34 678 878385
Email: joseluis.idrogo@edisa.com
Web Site: http://www.edisa.com/
* <http://www.edisa.com/>*
*MADRID - BARCELONA - VIGO - OVIEDO - OURENSE - LAS PALMAS - MEXICO -
COLOMBIA - ECUADOR - REP. DOMINICANA - PANAMÁ*
*-

[2019-02-11 14:04] khouloudbelguith commented on #12519
@lewis2413, yes, I'm adding an image using PrestaShop web service, I tried with a script & I used Postman also & it is OK.
https://drive.google.com/file/d/1LKUbQ89OF-1LlU6Y6TD3Uo8tgzoZzyft/view
You can follow this documentation:
http://doc.prestashop.com/display/PS16/Chapter+9+-+Image+management
Thanks to check & feedback.

[2019-02-11 14:12] khouloudbelguith commented on #9879
Hi,

You can follow our documentation https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/, to know about the "Manual upgrade – Process details"
Thanks!

[2019-02-11 14:23] jf-viguier commented on #9879
Why did you close this one ? Is it fixed ?
In the upgrade documentation, the install/upgrade/upgrade.php call is still there : that call launch the bug.

[2019-02-11 14:24] khouloudbelguith commented on #9879
@jf-viguier, thanks for your feedback, I will re-open it.
Thanks!

[2019-02-11 14:48] khouloudbelguith commented on #9918
Hi @marionf,

I manage to reproduce the issue with PS1.7.5.0.
I installed a fresh install with the Norwegian language / Norway country, but I couldn't found the no.js file in js/tiny_mce/langs/
Thanks!

[2019-02-11 14:50] kpodemski commented on #11596
@matks what do you think about creating official repo with symfony-skeleton-module?

[2019-02-11 14:50] jhon111 commented on #12517
ok thanks now is solved

[2019-02-11 14:55] lewis2413 commented on #12519
Hi

Can you send me the xml structure that you use?

Thanks

El lun., 11 feb. 2019 15:04, khouloudbelguith <notifications@github.com>
escribió:

[2019-02-11 15:03] bm-services opened #12533 "Address form in checkout: button "continue" change to "save" and customer redirected to customer account"
Hello !

We noticed, in the checkout address form, when customer changes country, a JS script replaces the "continue" button with a "save" button and the customer is sent to his customer account instead of stay in the checkout. Why ?
Can we disable it without causing other problems ?

**To Reproduce**
1. Connect like a customer
2. Create an address in customer account
3. Add a product to cart
4. G

[2019-02-11 15:06] dimespi commented on #12412
Did you find out how to resolve this? I'm using exact online for my B2B shop and my subscription is still active.

[2019-02-11 15:09] khouloudbelguith commented on #12412
@dimespi, sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-02-11 15:16] khouloudbelguith commented on #12533
Hi @bm-services,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/10I5Rnk_daBmYqx2m5-q2nOJUtOOyDJSX/view
https://drive.google.com/file/d/1bNqRO75Wd5H8gfuEpp96fr3CCwTH3Efi/view
Just the "continue" button becomes "save" button, but we are not redirected to the customer account.
Thanks to check & feedback.

[2019-02-11 15:20] khouloudbelguith commented on #12519
@lewis2413, as said before, I used this script

[code]
When I used postman, in the Body, I selected form-data,
POST action: http://shop/api/images/products/id
For the second key, it is with type file.
![image](https://user-images.githubusercontent.com/16067358/52572819-fd94f000-2e18-11e9-8d2f-f6c87dd027fb.png)

Thanks!

[2019-02-11 15:29] guigplt opened #12534 "Impossible d'envoyer des emails en utilisant mes paramètres SMTP"
Je renseigne mes paramètres SMTP dans Paramètres avancés > Email, avec chiffrement SSL et port 465.

Lorsque je clique sur Envoyer un email d e test, ça fonctionne très bien, mais dans les cas suivant, je ne reçois pas d'email :
1. Lorsque j'envoie un email de test à partir de la page contact : aucune erreur et le message "Votre message a bien été envoyé à notre équipe." s'affiche, mais ni l'expéd

[2019-02-11 15:36] khouloudbelguith commented on #12534
Hi @guigplt,

If you use the PrestaShop 1.7.5.0, apply this PR to fix your issue: #11995
From 1.7.5.1 this fix will be included in core.
Thanks to check & feedback.

[2019-02-11 15:48] lewis2413 commented on #12519
Ok perfect, let me check and i will come back to you

El lun., 11 feb. 2019 16:21, khouloudbelguith <notifications@github.com>
escribió:

[2019-02-11 15:49] LinkOfLight commented on #12528
i thried to embed `<iframe src="https://e.issuu.com/anonymous-embed.html?u=tecsports.l.&d=catalogo_2019" style="border:none;width:100%;height:500px;" allowfullscreen></iframe>` and i get error 404

[2019-02-11 15:54] khouloudbelguith commented on #12519
@lewis2413, thanks!
Waiting for your feedback.

[2019-02-11 16:01] khouloudbelguith commented on #12533
@bm-services, I tried with PS1.7.4.4 & it is OK.
https://drive.google.com/file/d/1BOtQS7dSM6FY8csKXCz0EwntlKCx6vaF/view
The "continue" button becomes "save" button, but we are not redirected to the customer account.
Thanks!

[2019-02-11 16:04] guigplt commented on #12534
Hi,
Thanks for your answer, I installed the fix and it works now when I change order state.
But it's still not working when I send message from contact page.

[2019-02-11 16:05] khouloudbelguith commented on #12534
@guigplt, you are not receiving any message, or you have an exception displayed?
Thanks!

[2019-02-11 16:07] rblaurin opened #12535 ""Orders > Delivery Slips" page crashing"
"Orders > Delivery Slips" page crashing - Error 500

**To Reproduce**
Steps to reproduce the behavior:
I my system, I just go to 'Orders > Delivery Slips and see the error

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.1.26

Stack Trace:
Symfony\Component\Form\Exception\UnexpectedTypeException:
Expected argument of type "object, array or empty", "string" given
  at vendor/

[2019-02-11 16:09] khouloudbelguith commented on #12535
Hi @rblaurin,

Did you make an upgrade?
If yes, could you please try to replace the **ps_configuration_lang** table and the **ps_configuration** table in the Database with the one from clean PS1.7.5.0 installation.
Thanks to check & feedback.

[2019-02-11 16:11] guigplt commented on #12534
No exception displayed, but not receiving any message for sender and recipient.

[2019-02-11 16:17] khouloudbelguith commented on #12534
@guigplt, you need to check your host about this issue.
Thanks to check with them & feedback.

[2019-02-11 16:19] bmagneCesi commented on #12300
@khouloudbelguith, any news about this issue ?

Regards,

Ben

[2019-02-11 16:21] rblaurin commented on #12535
Hi @khouloudbelguith
Thanks for the answer.

Yes, I made an upgrade. I can't just replace these full tables in database, are there any specific rows I should delete or modify?

[2019-02-11 16:30] Matt75 commented on #12535
This is due to missing language for `PS_DELIVERY_PREFIX` configuration key

```SELECT * FROM `ps_configuration_lang` WHERE `id_configuration` = (SELECT `id_configuration` FROM `ps_configuration` WHERE `name` LIKE 'PS_DELIVERY_PREFIX')```
If this query return any result, here is the issue.

You can make a backup of ps_configuration and delete this key. After that, this page work again and Prestasho

[2019-02-11 16:35] Bonobomagno commented on #11596
i used the service, but it was a legacy issue:
I was running a custom command (so full symfony)
But You need to include include(_PS_ROOT_DIR_.'/config/config.inc.php') if you want to use prestashop DB etc..

I thinks that this must be indicated on the docs

[2019-02-11 16:37] rblaurin commented on #12535
Thanks @Matt75
Solved!

[2019-02-11 16:43] guigplt commented on #12534
The problem is not from the host, because it works on Prestashop 1.6 with same parameters (except TLS parameter), and same server.
As I said before when I use TLS on PS 1.7 I have this error message when I try send test message :
Erreur : veuillez vérifier votre configuration
Connection to tcp://in-v3.mailjet.com:465 Timed Out

[2019-02-11 16:45] kpodemski commented on #12300
@jolelievre
cc @eternoendless

there are many critical issues, i mean... really critical, like this one, yet y'all are working on migration... 1.7.6 improvements etc...

i have the feeling that every time we see main release, like 1.7.4, 1.7.5 bugs are postponed from version to version just to have time for other improvements and... new bugs

and what's annoying is that it's 1.7 FIVE, it's first t

[2019-02-11 16:48] rblaurin commented on #12535
Just a clarification: There was no return in the query you suggested. The 'PS_DELIVERY_PREFIX' key was only in `ps_configuration`. I deleted this row and filled the delivery prefix with #DE in BO as you suggested.

[2019-02-11 16:55] Matt75 commented on #12535
Yes this is the problem, when you have only one language.
Prestashop previous version don't create always the line in `ps_configuration_lang` but the newest version need it...

[2019-02-11 17:00] rtvt commented on #12518
Hi @khouloudbelguith
Thank you for answer, but I think you understand me not correct.

I tried to type "new-products" by hands to show, that it works, but default "newproducts" not works. Also you checked homepage on video, but we test new products page.

So what's the problem:

1) You have clean 1.7.5.0
2) Newsletter subscription module shows on every page in FooterBefore hook by default.
3) You

[2019-02-11 17:04] Matt75 commented on #12535
@khouloudbelguith Here a tutorial to fix this issue

If you have an error 500 on `Orders > Delivery Slips` with this error

[code]

Execute this query

[code]

If no result, here is the issue.

So you can execute this query to create the language entry in ps_configuration_lang to solve the issue.

[code]

Of course you have to check if you use `ps_` as table prefix before

[2019-02-11 17:11] Matt75 commented on #12314
@khouloudbelguith Here a tutorial to fix this issue

If you have an error 500 on `Orders > Invoices` with this error

[code]

_Of course you have to check if you use `ps_` as table prefix before_

# First check `PS_INVOICE_LEGAL_FREE_TEXT`

Execute this query

[code]

If no result, here is the issue.

So you can execute this query to create the language entry in `ps_configuration_lang` to solve th

[2019-02-11 17:22] khouloudbelguith commented on #12528
@LinkOfLight, thanks for these clarifications.
I tried with ps1.7.5.0, with your code & it is OK.
I attached a video record.
https://drive.google.com/file/d/1jDLjRPugoGtm0yGgQTQU80RejG-VRsyJ/view
Thanks!

[2019-02-11 17:29] Pixep opened #16989 "Use image 'legend' when available"
The sitemap should use images' legend field, as defined in products' BO page, when available. It is currently using the product name and meta description, regardless of the legend value.

From sitemap.php:
[code]

[2019-02-11 17:38] khouloudbelguith commented on #12518
@rtvt, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.0.
When I go to Front office => New products page and the module still visible.
I tried with the machine shuffle (PS1.7.5.0 => NOK.
With PS1.7.4.4 => OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-02-11 17:43] khouloudbelguith commented on #12534
@guigplt, could you please navigate to your BO => Modules => Module Manager => search for the "contactform" module, click on "Configure" button, enable all the options, save.
![image](https://user-images.githubusercontent.com/16067358/52582200-ebbd4800-2e2c-11e9-8029-79d258891200.png)
Thanks to check & feedback.

[2019-02-11 18:39] guigplt commented on #12534
These options are enabled, but it doesn't work.

[2019-02-11 20:54] lewis2413 commented on #12519
hi @khouloudbelguith

i was checking your tips using the postman tool and i already send the image using the prestashop api, but when i send the request firstime, the image is inserted very good but i try change it again and the cover value is null....

thanks

[2019-02-11 22:34] juchems commented on #9902
I am subscribing to this issue so that I can see when it is updated.  Thank you.

[2019-02-11 23:59] SharakPL commented on #12417
@jolelievre unfortunately `Ctrl + Shift + V` doesn't work good enough as it stripes also all html tags and leaves only 1 paragraph and some breaks. Turnes out TinyMce's Clear formatting function is needed to clean only the styles and leave all separate paragraphs, headings, lists etc.

[2019-02-12 07:21] protorp opened #12536 "Translation page has error"
**Describe the bug**
When open translation page, that has error. Need import ps macros on start file
**in**
src/PrestaShopBundle/Resources/views/Admin/Improve/International/Translations/Blocks/copy_language.html.twig
**add**
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin/improve/international/translations/settings'
2. See

[2019-02-12 07:35] khouloudbelguith commented on #12536
Hi @protorp,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1SrQCgBTVT0Tvkqk7MG9CpFNBD7ux_Aph/view
Thanks to check & feedback.

[2019-02-12 07:51] khouloudbelguith commented on #12519
Hi @lewis2413,

Thanks for your feedback.
I did not manage to reproduce your issue, I added more than one image via API & the cover image is well setted.
I attached a video record.
https://drive.google.com/file/d/1cPNBF7vZgpT2m82c0zzK5F4naNwN0dOJ/view
Thanks to check & feedback.

[2019-02-12 08:21] khouloudbelguith commented on #12535
@Matt75, thanks a lot for your feedback.
@rblaurin, since it is fixed I close the issue, feel free to open a new one when needed.

ps: I installed fresh PrestaShop 1.7.4.4 French language/ France country, I created a delivery slips => make an upgrade with the 1-click upgrade v4.5.1. => OK => I checked the Orders > Delivery Slips" page & it is OK.
Thanks!

[2019-02-12 08:21] #12535 closed, assigned to nobody

[2019-02-12 08:21] khouloudbelguith commented on #12314
@Matt75, thank you!

[2019-02-12 08:49] lewis2413 commented on #12519
Hi @khouloudbelguith

When I send an image using the prestashop api, the image is associated correctly but when i try to change the image from the same product the image is not change.

[2019-02-12 09:03] bm-services commented on #12533
Indeed, I relied only on the change of the button's title for my tests. So, in fact, we have this problem of redirection to the customer account only on one PrestaShop.
Sorry for the inconvenience.

[2019-02-12 09:05] khouloudbelguith commented on #12534
Hi @guigplt,

I tried with SMTP in PS1.7.5.0 & it is working.
I attached a video record.
https://drive.google.com/file/d/1B7hTG21EuU7rBzHajkJJGrXMwlkRS2nS/view
Thanks!

[2019-02-12 09:05] Matt75 commented on #12535
@khouloudbelguith Yes I think the problem come when you make an upgrade from 1.6 or previous with only one language

@rblaurin Before upgrade to 1.7.5 which version did you use ? Did you make others upgrade from previous version before ? With which version did you start on Prestashop ?

[2019-02-12 09:06] khouloudbelguith commented on #12533
@bm-services, thanks for your feedback.
So, can I close the issue?
Thanks!

[2019-02-12 09:23] dennispw opened #12537 "Possible to add a product as an accessory to itself"
**Describe the bug**
It's possible to add a product as an accessory to itself. See attached image.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a product
2. Go to "Basic settings tab"
3. Scroll down to "Related products"
4. Search for the same product. If you're editing the product ID1, search, find and select the same product in the list.

**Screenshots**
![attachments_bug](https://

[2019-02-12 09:26] khouloudbelguith commented on #12537
Hi @dennispw,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9617
So, I close it.
Thanks!

[2019-02-12 09:26] #12537 closed, assigned to nobody

[2019-02-12 09:27] khouloudbelguith commented on #12537
Duplicate of #9617

[2019-02-12 09:35] bm-services commented on #12533
Yes, thanks !

[2019-02-12 09:39] khouloudbelguith commented on #12533
@bm-services, you are welcome!
Feel free to open a new one when needed.
Thanks!

[2019-02-12 09:39] #12533 closed, assigned to nobody

[2019-02-12 09:45] marionf commented on #12518
I tried with featured products on display home for index page and it's well not displayed
I tried with blocknewsletter on displayfooterbefore for index page and it's well not displayed

I tried with blocksearch on displpaytop for the following pages and it's still displayed :
- new product
- my account
- order slip
- best sales
- prices drop
- order detail

[2019-02-12 10:04] khouloudbelguith commented on #12519
@lewis2413, so you need to update an image.
To update an existing image, you can use this script

[code]
as described in the documentation

[code]

With Postman,
in the Body, I selected form-data,
POST action: http://shop/api/images/products/id_product/id_image
For the first key, it is with type file.
![image](https://user-images.githubusercontent.com/16067358/52627083-ed325300-2eb4-11e9-9fba-313c

[2019-02-12 10:07] khouloudbelguith commented on #11278
Hi @maofree,

This issue is added to our debug roadmap.
Your ticket is a duplicate of #9902
So, I close it.
Thanks!

[2019-02-12 10:07] #11278 closed, assigned to nobody

[2019-02-12 10:07] khouloudbelguith commented on #11278
Duplicate of #9902

[2019-02-12 10:08] khouloudbelguith commented on #9902
Related to: #10848

[2019-02-12 10:25] raphaelboos opened #12538 "Customer group tax setting ignored in product volume discounts on PS 1.7.5.0"
In Prestashop 1.7.5.0, Classic template, the customer group settings for price display excluding tax are ignored on product pages with volume discounts.

There are 2 similiar reports but they do not address volume discounts
1. #9856 (Discount problems for customers without VAT) or
2. #12199 (Wrong prices for groups without tax )

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user a

[2019-02-12 10:45] khouloudbelguith commented on #12538
Hi @raphaelboos,

Your issue is it fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/11103?
It is fixed in the PS1.7.6.
It fixes this ticket: #9696 which is similar to your issue.
Thanks to check & feedback.

[2019-02-12 10:52] kermorgant commented on #11596
@matks Not sure but dealing with module db migrations within prestashop's could be a lot of work, no ? A module developer could just do as psyray did : generate the migration using the `diff` command and then use the current upgrade mechanism.

[2019-02-12 11:01] rblaurin commented on #12535
@Matt75 Before upgrade to 1.7.5 I was using 1.7.4.4, but I use Prestashop since 2009 (v1.2, I think).
I don't think this is a solved issue. It seems an upgrade bug for me.
I think something like the following code should be added to SQL upgrade scripts for 1.7.5 in 1-click upgrade module:
[code]

[2019-02-12 11:04] MatShir opened #12539 "Wording clarification of "show prices" option"
**Is your feature request related to a problem? Please describe.**
With the new catalog mode, Prestashop has 2 different options to hide the prices but for 2 different purposes.
One on Product Setting is to hide all the prices in catalog mode as if your website is retail or a showcase and the other one Customer Setting to show the prices to a specific customer group like for only for the members.

[2019-02-12 11:08] MatShir commented on #11742
New wording specification coming in the following issue #12539

[2019-02-12 11:56] khouloudbelguith commented on #12518
Hi @marionf,

I tried with blocksearch on the "displayTop" hook for the "New products", "Prices drop", "Best Sales" page, it is displayed => NOK, I tried with cart page => it is not displayed => OK.
I think that the problem related to the pages with dash in URL(prices-drop, new-products, best-sales)
Thanks!

[2019-02-12 12:05] lewis2413 commented on #12519
hi @khouloudbelguith

Ok i understand, i have 2 questions.

1. Can I add the image path when I upload a product?
2. The script that you´ve commented above, where do i must put it?

Thanks....

[2019-02-12 12:06] tomas862 opened #12540 "Multi-store feature usage within the forms"
### Description
On legacy pages we had feature which allowed us to restrict certain settings update to certain shops.

### Explanation of the functionality

In short, when a multistore feature is enabled and when you are in specific shop context you can see a form which looks like this:

![multi_store_all_disabled](https://user-images.githubusercontent.com/17051250/52632683-e31b4f00-2eca-11e9-93a3

[2019-02-12 13:09] colinegin commented on #11750
Kind reminder @eternoendless and @PrestaShop/prestashop-core-developers , any idea ?

[2019-02-12 13:09] Rho-bur opened #12541 "Wrong params for displayOrderConfirmation hook, in documentation"
**Describe the bug**
The devdocs list of hooks lists the former 1.6+ displayOrderConfirmation params.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/'
2. Scroll down to 'displayOrderConfirmation.'
3. See params as:
`array(
  'total_to_pay' => (float) Total amount with tax,
  'currency' => (string) Currency sign,

[2019-02-12 13:17] kaydm opened #12542 "Product Module configuration page backoffice issue"
If there's a "." (dot) in the SEO Meta Description fo the product you cannot access any product module configuration page.

[2019-02-12 13:20] #12506 closed, assigned to jolelievre

[2019-02-12 13:25] colinegin commented on #12501
@PierreRambaud do you think this could be an improvement in the faceted search module ?

[2019-02-12 13:28] khouloudbelguith commented on #12542
HI @kaydm,

Have you the same issue described in this ticket: #11911?
Thanks!

[2019-02-12 13:34] khouloudbelguith commented on #12519
@lewis2413, I think no, it is not possible to add the image path when creating a product.
About the script, it is located in my project folder, you can follow this documentation, to get more information about webservice
http://doc.prestashop.com/display/PS16/Using+the+PrestaShop+Web+Service
All the example files can be found on our code repository: https://github.com/PrestaShop/PrestaShop-webservi

[2019-02-12 14:22] kaydm commented on #12542
Hi @khouloudbelguith, that is correct. Thanks.

[2019-02-12 14:24] khouloudbelguith commented on #12542
@kaydm, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11923 to fix the issue.
It is fixed in the next release PS1.7.5.1.
Your ticket is a duplicate of #11911
So, I close it.
Thanks!

[2019-02-12 14:24] #12542 closed, assigned to nobody

[2019-02-12 14:24] khouloudbelguith commented on #12542
Duplicate of #11911

[2019-02-12 14:27] raphaelboos commented on #12538
Hi @khouloudbelguith,

I applied the patch #11103 to 1.7.5. but this did not solve the problem with volume (quantitity) discounts.
Price output in Classic Theme though https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/_partials/product-discounts.tpl still gross.

[2019-02-12 14:31] kaydm commented on #12542
Thanks, alredy fixed it in my 1.7.5 store.

[2019-02-12 14:31] khouloudbelguith commented on #12538
@raphaelboos, thanks for your feedback.
So, your issue is that the quantity discount has a wrong calculation when price display method is tax excluded as described in this ticket: #9929?
Thanks!

[2019-02-12 14:36] raphaelboos commented on #12538
Hi @khouloudbelguith,
yes, i can comfirm, that this is the same problem as described in #9929.

[2019-02-12 14:54] khouloudbelguith commented on #12538
@raphaelboos, this issue is added to our bug roadmap.
Your ticket is a duplicate of #[9929](https://github.com/PrestaShop/PrestaShop/issues/9929).
So, I close it.
Thanks!

[2019-02-12 14:54] #12538 closed, assigned to nobody

[2019-02-12 14:55] khouloudbelguith commented on #12538
Duplicate of #9929

[2019-02-12 15:55] colinegin commented on #12368
@Quetzacoalt91 is it a critical task for 1.7.6 ?
We need to prioritize this issue compared to all the other projects in progress.

[2019-02-12 15:55] colinegin commented on #12333
@matks is it a critical task for 1.7.6 ?
We need to prioritize this issue compared to all the other projects in progress.

[2019-02-12 15:57] colinegin commented on #12390
@marionf is it a critical task for 1.7.6 ?
We need to prioritize this issue compared to all the other projects in progress.

[2019-02-12 15:58] colinegin commented on #11524
@mickaelandrieu is it a critical task for 1.7.6 ?
We need to prioritize this issue compared to all the other projects in progress.

[2019-02-12 16:08] colinegin commented on #11878
#12046

[2019-02-12 17:01] matks commented on #10190
Feedback by eternoendless : use switch button from UI Kit (http://build.prestashop.com/prestashop-ui-kit/section-3.html) for currency status

[2019-02-12 17:06] kermorgant commented on #11596
Adding module entities  should be possible by adding [specific compiler passes](https://github.com/doctrine/DoctrineBundle/blob/master/DependencyInjection/Compiler/DoctrineOrmMappingsPass.php) with a bit of config provided by the module author (maybe a `config/doctrine.yml` file with mapping configuration similar to the one from [DoctrineBundle](https://symfony.com/doc/current/reference/configurat

[2019-02-12 17:14] tomas862 commented on #10190
So this:
![love_cats](https://user-images.githubusercontent.com/17051250/52654107-fdb8ec80-2ef9-11e9-82c5-f98c0bcb446b.png)

should be used instead of status here
![currency_status](https://user-images.githubusercontent.com/17051250/52654221-3e186a80-2efa-11e9-8522-41375c2c36b0.png)

? :slightly_smiling_face:

[2019-02-12 17:15] marionf commented on #12390
It's major because it's not just about showcase cards but about all configuration variables
But it's an old issue, we can do it later when we will attack multistore
I move it in up next

[2019-02-12 17:16] matks commented on #10190
Yes 😄 but I was going to do it in order not to bother you (I thought it might be bothering to come back on this page)

[2019-02-12 17:17] matks commented on #12333
@colinegin It looks really dirty in the BO now and popups are messed up. Looks critical to me and I think @marionf will agree ^^

[2019-02-12 17:18] marionf commented on #12333
Yes and furthermore it's a regression

[2019-02-12 17:21] tomas862 commented on #10190
Actually I can do that if you don't have time since right now all my major Pr's are in question or blocked states 😄

[2019-02-12 17:47] psyray commented on #11596
FYI

I was also able to use the Symfony part & Doctrine entities in the frontend.
According to this [post](https://www.prestashop.com/forums/topic/664453-use-symfony-kernel-on-front-module/?do=findComment&comment=2685160),  I've implemented 3 methods in my main module controller (the one with the same name of the module, in the root module dir).
Then in the **__construct** method I define my servi

[2019-02-12 19:55] kpodemski commented on #12390
hey @marionf

could you test it using changes from my PR? #12544

this PR aims to fix this issue but also it should help with other issues in back-office as we're now getting properly information about ShopGroup and Shop context

[2019-02-12 20:03] futurehousestore opened #12545 "Product base price updating itself after manual change"
**Describe the bug**
Product base price updating itself with a weird amount after changing it in manual order

**To Reproduce**
Steps to reproduce the behavior:
1. In BO go to orders -> add new order
2. Choose a customer and add products to the order
3. Change/adjust the product price
4. See how price changing itself to a different value (see the attached video for a better explanation)

**Screens

[2019-02-12 20:17] Vekia- commented on #12207
I confirm that module changes the combination, **but it uses only prestashop's features to switch it**. It does not create nor change the core. Just displays picture of combination and spawns the function to switch combination when someone will click on it.

So, the problem is somewhere in original core code / server side problem.

[2019-02-12 20:25] kpodemski commented on #12207
@Vekia- it has been fixed some time ago, there was not needed delay hardcoded in js

[2019-02-12 20:35] kpodemski commented on #12223
@marionf @MatShir

i've seen this parameter in some modules including ones for integration with third party ERP etc. but it was on 1.6, if this options is not working in 1.7 in my opinion it's safe to remove it

having fallback from CLDR when we're getting Configuration::get('price_display_precision') could be tricky

[2019-02-12 20:45] kpodemski commented on #23748
@ibeppo993 @Mushr0000m

guys, try with this change:
https://github.com/PrestaShop/ps_emailalerts/pull/19

translation should be available in main module translation page, Localization -> translations -> modules -> mail alerts

[2019-02-12 20:52] joaoafpedro commented on #12207
@jolelievre Is there any ETA on the 1.7.5.1 version with this fix?

[2019-02-12 21:18] kpodemski commented on #12518
@marionf @khouloudbelguith

this should fix it:
https://github.com/PrestaShop/PrestaShop/pull/12547

[2019-02-12 21:45] niccoX commented on #12527
Ok, but how will this make the images appear in _/img/os_/ again. As said all images in the directory has gone missing.

[2019-02-12 21:48] niccoX commented on #12527
Thanks, I will try that. But should I copy the images to _/img/os/_ from another installation before regenerating?

Ok, but there are many bugs that have been fixed by the community and ready to be merged for future releases, why are not those bug fixes included when you release a security update, for example no ones where included in the 1.6.1.23 except one security fix.

[2019-02-12 22:33] COCOPOT commented on #9594
Hi, I got the same error. It doesn´t matter the payment method. Does anyone find a solution for this? thank you. Also got a PrestashopException when trying to adjust amount with adding or editing a discount in order. See attached pictures.
![captura de pantalla 2019-02-12 a las 23 30 49](https://user-images.githubusercontent.com/47578734/52672493-5601e580-2f1e-11e9-8b5a-bfec410f6ab1.jpg)
![captura

[2019-02-12 22:34] COCOPOT commented on #11622
Hi, I got the same error. It doesn´t matter the payment method. Does anyone find a solution for this? thank you. Also got a PrestashopException when trying to adjust amount with adding or editing a discount in order. See attached pictures.
![captura de pantalla 2019-02-12 a las 23 30 49](https://user-images.githubusercontent.com/47578734/52672622-b09b4180-2f1e-11e9-85eb-1f01fff54877.jpg)
![captura

[2019-02-12 23:55] Flower7C3 commented on #10739
@fredec This is not a solution. I do not have such file in module that is used by my client.

[2019-02-12 23:57] fredec commented on #10739
I could not find a solution. The only way I found was removing this piece of code.

[2019-02-13 04:14] PeeyushAgrawal commented on #12509
Hello @khouloudbelguith,

Have you set the debug mode to yes before proceed to do an order.
This error only occurs when the debug mode is set to yes. Please make sure the debug mode is on.

Thanks.

[2019-02-13 08:13] khouloudbelguith commented on #12509
@PeeyushAgrawalWebkul, I found the exact issue.
Steps to reproduce the issue:
1. install the ps_legalcompilance module
2. configure this module where "Proportionate tax for shipping and wrapping" must be enabled
3. install the COD module
4. Add any product in the cart, a tax should be applied on the product.
5. Go to checkout, select the shipping method, (it should not be free)
6. Chosse payment m

[2019-02-13 08:22] khouloudbelguith commented on #12545
Hi @futurehousestore,

In your case, the Currency "British Pound Sterling" is the default one defined in the localization page?
If no, the price will be automatically converted to the default currency.
Thanks to check & feedback.

[2019-02-13 08:35] khouloudbelguith commented on #12527
@niccoX, thanks for your feedback.
During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be accepted in the `1.6.1.x` branch.
Thanks!

[2019-02-13 08:37] colinegin opened #12548 "[SEO Optimisation] Make canonical url available for combinations products"
Here are the specifications for this SEO improvement (for products with combinations) :
- the parent product URL must stay the default canonical URL
- but there is no longer an automatic redirection to the default combination, the URL remains available and display the default combination
- the combinations urls still work and their canonical url is the parent url

[2019-02-13 09:13] jolelievre commented on #11596
Hi @kermorgant,

I am currently working on the migration of one of our 1.6 module to 1.7
And I'm gonna use it as an opportunity to be able to use Doctrine in our modules.

I like your proposal with the doctrine path and your doctrine.yml config, however I had an even broader integration in mind. We already add a system to declare symfony services in modules, then we added a system to declare symfo

[2019-02-13 09:17] jolelievre commented on #11596
Besides I looked at your proposal to manage Symfony controller for the frontend. Although I would love to be able to use them in this case I wonder if it's relevant? Since you need to have a legacy controller as a bridge it looks like there is some heavy work for few results.

The saddest thing is you can't return a Response like you usually do with a Symfony controller, but instead you need to di

[2019-02-13 09:42] rtvt commented on #12518
@kpodemski Thanks! It works

[2019-02-13 09:48] NoZTurn commented on #12207
It is because of the symfony and the rendering way the prestashop 1.7 uses, I compared the 1.6 and the 1.7 combination selection page at product page, on 1.6 product page ,the html was generated with smarty at the server end and the javascript(jquery) only update combination data(at browser end)  when combination selection changes, but on 1.7,each time when selection change with combinations at pr

[2019-02-13 09:49] psyray commented on #11596
Not totally agree with you, it's not an heavy work (it takes ~6 hours to create the bridge system), and the result is : more productivity and it's reusable as is in another module.
ObjectModel class creation is really an heavy work, create properties with proprietary type for property, queries, sync with DB tables...
Besides we have services, annotations, namespaces, migrations, getters, setters,

[2019-02-13 10:10] kpodemski commented on #12207
@NoZTurn you seem to have no idea what you're talking about

[2019-02-13 10:13] mickaelandrieu commented on #11524
it's a nice improvement for developers and could be done by the community.

I think it's like 1 day of work, and a very low priority :+1:

[2019-02-13 10:49] jolelievre commented on #11596
I completely agree with you about `ObjectModel` and `Doctrine` and I think we could gain in productivity if we had this feature. It's just the way you twist the legacy framework to integrate a symfony controller inside it that "bothers" me.

I think it would be better if we could simply use the controller via a Symfony routing without using this legacy bridge. But sadly it is not possible yet in P

[2019-02-13 10:56] khouloudbelguith commented on #9594
Hi @COCOPOT,

About your last screenshot.
We are aware of this issue, it is added to our bug roadmap.
You need to follow this issue: #11059.
Thanks!

[2019-02-13 10:59] psyray commented on #11596
Yes, I could, but Symfony controller is more powerful, and I want to keep all my code in one place, in the src folder. Easy to move ;)
The only task of the legacy controller is Request in, and Smarty vars out to display content.
All the business logic is in the symfony part.
So when front will be in full Symfony, only the templates will be migrated.

I understand, it's a hard stuff.

Thanks for th

[2019-02-13 11:00] sirius82 opened #12551 "ContextErrorException in CustomerFormatter.php line 215:"
Hello, I've the same problem like this https://github.com/PrestaShop/PrestaShop/issues/10439 but as willy2m does'nt reply anymore, I don't know if his problem is solved.
If the debug mode is enabled, I receive this message at the last step of order

![image](https://user-images.githubusercontent.com/11886689/52706356-829d1800-2f85-11e9-9f4c-81e50c714a86.png)

RGPD version : 1.1.12 (just upgraded t

[2019-02-13 11:05] sebastienhouzet opened #12552 "Uninstall module Welcome with CLI"
**Describe the bug**
Uninstall module welcome with CLI

**To Reproduce**
Open terminal, go on root folder and exec
php bin/console prestashop:module uninstall welcome

**Screenshots**
root@4236fd5fec0c:/var/www/html# php bin/console prestashop:module uninstall welcome
11:03:13 ERROR     [console] Error thrown while running command "prestashop:module uninstall welcome". Message: "Notice: Use of und

[2019-02-13 11:06] jolelievre commented on #12207
@NoZTurn PrestaShop 1.7 doesn't use symfony to render front pages (only in back-office), so your explication doesn't seem correct.

However one big difference with the 1.6 version is that not all the combinations data are included in the page, therefore an ajax call is performed when you switch (that's what you can see in your console). This ajax call include many informations, not only does it gi

[2019-02-13 11:13] khouloudbelguith commented on #12551
Hi @sirius82,

I did not manage to reproduce the issue with PS1.7.5.0 & the RGPD module v1.1.2.
I attached a video record.
https://drive.google.com/file/d/14H-uS6xMH_fSAZFB027NwXMzF68gPjx7/view
Thanks to check & feedback.

[2019-02-13 11:27] khouloudbelguith commented on #12552
Hi @sebastienhouzet,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & the welcome module v5.1.0.
![image](https://user-images.githubusercontent.com/16067358/52708396-4ddf8f80-2f8a-11e9-8686-2e0dde3b5696.png)
I tried with the same command with PS1.7.4.4, also I have an error `Cannot uninstall module welcome. The module is invalid and cannot be loaded.`

I tried to uninstall

[2019-02-13 11:30] jolelievre commented on #11596
I understand that you want to use Symfony controller, but if you need a bridge for that you don't necessarily need to use smarty and divide your controller in two parts, besides you can't use twig which is a bummer.

A more efficient way to implement your bridge could be to use your Symfony controller as a usual, using twig rendering and returning a response, then your PrestaShop bridge's job woul

[2019-02-13 11:45] psyray commented on #11596
Thanks for this great improvement. My project is too advanced with Smarty and I need to deliver it ASAP.
But I think I will rewrite it in Twig very soon.

[2019-02-13 11:48] sebastienhouzet opened #12553 "Uninstall module ps_customeraccountlinks with CLI"
**Describe the bug**
Error during Uninstall module ps_customeraccountlinks with CLI

**To Reproduce**
Open terminal, go on root folder prestashop.
php bin/console prestashop:module uninstall ps_customeraccountlinks

**Screenshots**
10:36:13 ERROR     [console] Error thrown while running command "prestashop:module uninstall ps_customeraccountlinks". Message: "Call to undefined method Ps_Customeracc

[2019-02-13 12:33] rblaurin opened #12626 "Delivery slips fails when upgrading to 1.7.5"
There is an issue when upgrading to 1.7.5.0 if you have only one language.
Here is a tutorial from @Matt75 to fix the issue:

In my opinion, something like the following code should be added to SQL upgrade script for 1.7.5.0:
[code]
Thanks in advance

[2019-02-13 12:44] khouloudbelguith commented on #12553
Hi @sebastienhouzet,

I manage to reproduce the issue with PS1.7.5.0 & the `ps_customeraccountlinks` module v3.1.0.
![image](https://user-images.githubusercontent.com/16067358/52712600-62755500-2f95-11e9-9b4a-5841f8e3df72.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Related to

[2019-02-13 13:07] hellodracon opened #12555 "Can't delete product images on multistore"
I know here is no more maintenance on PS 1.6 but maybe you fixed it and I can find a patch.

I found out that we can't delete picture of Products when multistore is enabled. When I click on the delete button, it says that it's OK but nothing when I refresh the page, images are still here. The problem is that the invoices uses the first loaded image, even if they are desactivated/disabled and that

[2019-02-13 13:31] khouloudbelguith commented on #12555
Hi @hellodracon,

I did not manage to reproduce the issue with PS1.6.1.23.
I attached a video record.
https://drive.google.com/file/d/12RRHgLgwaeHAhduiD_Hh_g7CLuYij5rQ/view
It could be this PR: https://github.com/PrestaShop/PrestaShop/pull/8612 help you to solve your issue.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6): the maintenance of PrestaShop

[2019-02-13 13:31] #12555 closed, assigned to nobody

[2019-02-13 13:36] khouloudbelguith commented on #17109
Hi @tunam007,

I manage to reproduce the issue with PS1.7.5.0 & the ps_reminder module v2.0.0
The emails sent by the ps_reminder module is always in English
![image](https://user-images.githubusercontent.com/16067358/52715305-68226900-2f9c-11e9-9daa-37292ce4e176.png)
Related to https://github.com/PrestaShop/PrestaShop/issues/9585
Thanks!

[2019-02-13 13:58] mickaelandrieu commented on #11596
This is indeed really important as Front Office performance is critical for the customers

Do you have time next week to discuss the use of Symfony framework in Symfony? If you need to support Twig templates, you can inject the Twig service and do: My_Module::getService('twig')->render(...) like you usually do in Symfony applications :angel:

[2019-02-13 14:09] psyray commented on #11596
Thanks for your feedback, I will take care of it.

@mickaelandrieu I think you would say "Symfony framework in Prestashop", no ?
Otherwise it's a non-sense :)
Yes, when ?

At this time, I don't really need to use Twig template, but maybe later it could be really interesting to have a full Symfony module for front and back (with a little bridge to maintain Prestashop front legacy usage)

[2019-02-13 14:16] kermorgant commented on #11596
@jolelievre Thanks for your feedback.

I understand your wish for a broader integration (which I would welcome as well), but  as this issue had got so far as to be planned for 1.7.6 (a pity it just got delayed :-(), it made sense to push that forward on its original scope.

Otherwise, I'm affraid this would need some more time for analysis as it might be a bit contradictory with their strategy as

[2019-02-13 14:24] PierreRambaud commented on #12501
Everything can be an improvement, we need to fix all bugs and refactor the code before adding anything :/

[2019-02-13 15:02] idnovate commented on #11440
Same for me. And please note that due to this issue, modules are not sorted correctly inside their category but in "Others".

EDIT: Oh I didn't realize that this issue was closed. I still can reproduce the problem in PS 1.7.5.0.

[2019-02-13 15:04] lewis2413 commented on #12519
Hi @khouloudbelguith

Ok, i will checking with my developers partners and back to you as soon as posible, by the last, we have a processs developed on PL/SQL, with this we connect to prestashop webservices using the api that you provide us.

[2019-02-13 15:07] khouloudbelguith commented on #12519
@lewis2413,

Thanks!
Waiting for your feedback.

[2019-02-13 15:15] ghost commented on #11105
Fatal error: require_once(): Failed opening required '/var/cache/dev/appParameters.php' (include_path='/vendor/pear/pear_exception:/vendor/pear/console_getopt:/vendor/pear/pear-core-minimal/src:/vendor/pear/archive_tar:.:/:/usr/local/php72/lib/pear') in /config/bootstrap.php on line 86

When save translations on non default theme. To resolve it manual flush of cache folder is needed.

[2019-02-13 15:29] Fabuloops opened #12556 "Installation Error : the % symbol is doubled on the parameters.php file generation"
**Describe the bug**
When you put a database password with the symbol "%" at installation, this character is doubled in the parameters.php file
It caused me a lot of trouble

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new install of prestashop
2. In the database configuration step, put a password with a % symbol
3. Finish the installation and look at the /app/config/parameters.ph

[2019-02-13 15:35] crishnakh commented on #11172
Sometimes I still have this problem. I commented this line, and force flush on **getDeliveryOptionList** function. Not the best option...

[2019-02-13 15:45] sirius82 commented on #12551
Hi khouloudbelguith ! Thanks for your reply but sorry for my stupid answer : is your debug enabled ?

[2019-02-13 15:54] khouloudbelguith commented on #12556
Hi @Fabuloops,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
I checked the file /app/config/parameters.php, I found that 'database_password' => '%%test', but in our case the database password is %test.
In the FO, BO there are no problems.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please

[2019-02-13 16:04] khouloudbelguith commented on #12551
@sirius82, yes, it is enabled.
https://drive.google.com/file/d/1z8x6rUxeb60F5wMWbSxoeQ2fwt0Er2au/view
Thanks!

[2019-02-13 16:10] khouloudbelguith commented on #12556
Same issue with PS1.7.4.4.
Thanks!

[2019-02-13 16:21] hellodracon commented on #12555
Sorry to re-open it @khouloudbelguith that's not really the same issue. Is there a way i can try on PS 1.6.1.6 without having to install it myself ? Like a demo version or something ?

I've read all the code that means to delete the image (in class/Image.php and class/ObjectModel.php), and nothing seems weird but I don't get how it can not be working. Maybe you have an idea on what I should look i

[2019-02-13 16:46] kukoman commented on #12307
just came to say THANK YOU!!!! had the same issue on prestashop 1.7.5 and no idea why... it just decided to stop working... after inserting the category it no longer throws errors, but for some reason, I have to change products from root category to something else (it throws the error on root).

[2019-02-13 17:24] khouloudbelguith opened #12560 "The OnBoarding popup doesn't appear in the Theme & logo, payment and carriers pages"
**Describe the bug**
On the develop branch, with the Welcome module v5.1.0 the OnBoarding popup doesn't appear in the Theme & Logo page.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install Develop branch ( PS1.7.6.0)
2. When you navigate into the BO => Start with the welcome module
3. In the third step "Give your shop its own identity", the OnBoarding popup disappear ( in the Theme

[2019-02-13 17:37] eternoendless opened #12561 "Replace Tiny MCE with something else"
We need to find a better alternative to Tiny MCE because of unclear license compatibility.

[2019-02-13 17:43] khouloudbelguith commented on #12555
@hellodracon, we have a [demo](http://demo.prestashop.com) version but it is with version PS1.7.4.2.
PrestaShop 1.6.1.6 is a very old version
Thanks!

[2019-02-13 17:44] futurehousestore commented on #12545
Hi, @khouloudbelguith, yes the British Pound Sterling is set as my default currency.
![localization](https://user-images.githubusercontent.com/28427270/52731442-a4ae8e80-2fb5-11e9-9c66-270700e99aaf.JPG)
![currency](https://user-images.githubusercontent.com/28427270/52731958-f0156c80-2fb6-11e9-96cb-7aca06d04ddc.JPG)
![lang](https://user-images.githubusercontent.com/28427270/52731965-f4da2080-2fb6-1

[2019-02-13 17:52] hellodracon commented on #12555
@khouloudbelguith  alright, thank you ! I'll find my way

[2019-02-13 17:53] khouloudbelguith commented on #12545
@futurehousestore, I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1kZCU7b27uf6pNXq51Ic4AeRfeSvM-mWK/view
Thanks to check & feedback.

PS: about your video record is not available.
Thanks!

[2019-02-13 18:22] futurehousestore commented on #12545
Thanks @khouloudbelguith for checking it.
When I adjust the price manually for order in BO I get an error in my DirectAdmin Web Control Panel
[Wed Feb 13 19:13:31.942155 2019] [:error] [pid 1530] [client 81.105.86.182:54903] PHP Warning:  Cannot modify header information - headers already sent by (output started at .../public_html/controllers/admin2/AdminCartsController.php:859) in .../public_html

[2019-02-13 18:34] Maofree opened #12562 "ps_brandlist when installed is not a the side column"
Hi
try to install the ps_brandlist module, it will not visible in the front-office like under the ps_facetedsearch
normally it should be present in the left column

thanks
bye

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.0

[2019-02-13 18:38] dovbau commented on #9804
I have moved translation files to theme directory @holle75  and I see translations in backoffice, can you check that ?

[2019-02-14 07:56] khouloudbelguith commented on #12562
Hi @maofree,

I did not manage to reproduce the issue with PS1.7.5.0 & the ps_brandlist module v1.0.2.
I attached a video record.
https://drive.google.com/file/d/1qM3mSy34WQQQFkLgUPZZd5fUEPCyDptA/view
Could you please navigate to your BO => Design => Positions page, search for the brand list module, it should be displayed in the displayLeftColumn hook under the ps_facetedsearch module.
![image](ht

[2019-02-14 08:21] holle75 commented on #9804
Hi @dovbau, i simply can´t find pdf translations anymore. Where do you find them in BO? which files did you move or copy to theme directory?

[2019-02-14 08:23] dovbau commented on #9804
@holle75  I moved them to themes/themename/pdf, but my prestashop version is 1.7.3. And then I can find them in theme translations

[2019-02-14 08:32] holle75 commented on #9804
ok, i copied the pdf folder from root to theme folder. In BO still i do not see the pdf in the pulldownlist. See attachment.
Or you mean you have to search in the Theme translation for the text in the pdf´s?

![translations](https://user-images.githubusercontent.com/10577227/52773454-3e6c4f00-303b-11e9-9e42-103946919bfb.jpg)

[2019-02-14 08:39] dovbau commented on #9804
Select theme translations. It's written {l s='Account' d='Shop.Pdf' pdf='true'} in template, so I find them Shop -> Pdf tab

[2019-02-14 08:48] holle75 commented on #9804
Ha, you´re right! ... i also figured out, thanks to your remark, that even without copying the pdf folder to your theme you can find pdf translations in the "classic" theme. Which genius had this idea? I remember in 1.5 (1.6 i don´t know) you had a separate "pdf" in the dropdownlist to pick.

Another hint; whenever you are desperately searching for a translation that you can´t find -> go to classi

[2019-02-14 08:53] dovbau commented on #9804
It's weird, I hade to translate pdfs and just checked translation class or controller, don't remember and saw their logic, if pdf's are in theme they are assigned to theme translations. I guess there is a need to add additional pdf option in select you were refering to.  Need to check how it's implemented in other versions

[2019-02-14 09:04] holle75 commented on #9804
Anyway the whole translation thing is killing you. Very often you can´t find the text you are looking for in the logic designated area.

[2019-02-14 09:44] khouloudbelguith opened #12565 "Cannot login to the BO when the Projet folder name contain a symbol +"
**Describe the bug**
This issue occurs only when the Project folder **contains** the symbol + for example `1750+`, `1751+build1`.
In the other case, there are no errors.
**To Reproduce**
Steps to reproduce the behavior:
1. Extract the file zip of PrestaShop
2. Rename it to 1750+
3. Install the shop => OK => Installation done successfully
4. Try to log in to the BO
5. See error

**Screenshots**
htt

[2019-02-14 09:58] khouloudbelguith commented on #12545
@futurehousestore, thanks for your feedback.
In fact, I imported the United Kingdom pack, I defined the British Pound Sterling as the default currency.
In FO, It is OK.
I attached a video record.
https://drive.google.com/file/d/1Mcm5_EYDDHa9jPnrkQqjFznGl2v61TVk/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this inf

[2019-02-14 10:05] khouloudbelguith commented on #12157
Hi @felipeschmitz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-14 10:05] #12157 closed, assigned to nobody

[2019-02-14 10:10] khouloudbelguith commented on #12156
Hi @amtriorix,

If we had no news from you for more than 30 days, we will close this ticket.
Any news about your issue?
@PierreRambaud is waiting for your responses.
Thanks for your understanding!

[2019-02-14 10:15] mbadrani opened #12567 "MBO Filters in Module catalog page"
**Describe the bug**

If you try using filter "sort by" and switch by "Popularity", "Decreasing" and so on you can observe a wrong behaviour as expected. Popularity criteria seems to be random, because if you reload the page you can see a different list each time (same behaviour for Increasing or Decreasing but it's well sorted by price)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-02-14 10:32] tessa135 opened #12568 "Wrong taxes and detail prices on invoice when product with special price"
In Prestashop 1.7.5.0 I have a product with 20% discount and 7% taxes.
On invoice this product has 15% taxes and wrong prices. The invoice total is correct.
Taxes of last item should be 7% and price without taxes 38,80€ instead of 34,89€.
To reproduce:
(1) create product with 7% taxes (german MwSt.)
(2) add 20% discount via special price
(3) order product
(4) create invoice
![bildschirmfoto 2019-0

[2019-02-14 10:34] marionf commented on #9641
@khouloudbelguith

I can't reproduce the issue where the product name isn't displayed in merchant out of stock email if there are combinations
I can't reproduce the issue when I am deleting or editing a product with combinations, I don't receive the out of stock email

Module mail alerts v2.1.1

Can you tell me if you still have these issues or not ?

[2019-02-14 10:38] khouloudbelguith commented on #12567
Hi @mbadrani,

It is a regression.
I tried with PS1.7.5.0 & the ps_mbo module v1.1.1 => OK.
With PS1.7.5.1build1 & the ps_mbo module v1.1.1 => NOK.
I have the same issue.
Thanks!

[2019-02-14 10:46] kodarco commented on #11014
After a months of troubleshooting, we finally traced this issue back to the template. Templates adds unnecessary file Tag.php to override/classes/
This file should be removed according to the developer of the theme posthemes. The theme is called Juvento. This solves the problem.

[2019-02-14 10:59] khouloudbelguith commented on #11014
@kodarco, thanks for your feedback.
I'm glad that you solve your issue.
Thanks!

[2019-02-14 11:08] marionf commented on #12567
@khouloudbelguith

I have the same behavior in 1.7.5.0 & 1.7.5.1
https://drive.google.com/open?id=1mwlgif-1xacK6F_CdR2Pa1eNi1BPErbl

In 1.7.5.1 filters by increase, decreasing prices and name are well working
https://drive.google.com/open?id=15cuxSsCN-mpiERCFozWx9om60GSFTkQk

The issue with popularity isn't new, if you choose popularity, you will have some modules displayed in a certain order.
If

[2019-02-14 11:48] khouloudbelguith commented on #9641
@marionf, yes, I still have the same issue with PS1.7.5.0 & the ps_emailalerts v2.1.1.
When I edit the quantity of the combination to 0 => I receive with a mail with product name & combination name=> OK.
![image](https://user-images.githubusercontent.com/16067358/52784787-88aef980-3056-11e9-9a93-c3b74d797c23.png)

When I delete a product with combinations, I receive x emails without any names.
![i

[2019-02-14 11:50] khouloudbelguith commented on #12567
@marionf, yes about the sorting with popularity filtering issue, is an old issue reported in this ticket: https://github.com/PrestaShop/ps_mbo/issues/83
Thanks!

[2019-02-14 12:08] jolelievre commented on #11596
Hi @kermorgant

you are right about focusing on only Doctrine for now. Besides we discussed about the 1.7.6 roadmap yesterday with the team and integrating a full config management will take too much time to be introduced in the 176.

I hope you don't mind I took the liberty to create another PR on this subject, besides the Doctrine compiler pass there is a lot of work to do to allow the service o

[2019-02-14 12:30] norby1 opened #12569 "Prestashop 1.7.5 product page - module tab - not working"
**Describe the bug**
Can't configure modules on product page tab, when I click configure nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Products Catalog'
2. Click on 'Product then on Module '
3. If you have a product on this hook click configure
4. Nothing happens.

Err from console:
Uncaught Error: Syntax error, unrecognized expression: Product name
    at Function.

[2019-02-14 12:36] khouloudbelguith commented on #12568
Hi @tessa135,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1lHojw0Dm9szUFmH22ctUBLjAxtAeu3Dt/view
Thanks to check & feedback.

[2019-02-14 12:41] marionf commented on #12567
So, this issue is a duplicate of https://github.com/PrestaShop/ps_mbo/issues/83

[2019-02-14 12:41] khouloudbelguith commented on #12569
Hi @norby1,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11923 to solve the issue.
It is fixed in the next release PS1.7.5.1.
Your ticket is a duplicate of #11911
So, I close it.
Thanks!

[2019-02-14 12:41] #12569 closed, assigned to nobody

[2019-02-14 12:41] khouloudbelguith commented on #12569
Duplicate of #11911

[2019-02-14 13:08] khouloudbelguith commented on #12567
@marionf, no I don't think that is the same as described by @mbadrani.
@mbadrani what do you think?
Thanks!

[2019-02-14 13:13] kermorgant commented on #11596
@jolelievre no worry about the PR, I'm actually glad someone else can take care of it :-)

I think the way the doctrine entities are declared is a minor detail at this stage. I was afraid this feature would not be part of 1.7.6 (I misinterpreted the situation) so if that happens, any approach is good I guess.

But for the future, I feel giving a bit of control on where entities are stored and how

[2019-02-14 13:17] jolelievre commented on #11596
I completely agree with you, which is why I proposed to allow overriding the framework config with a `config.config.yml` file in the modules. I will try to convince and integrate this in the 177 scope.

For now let's keep this doctrine feature simple, there are still questions about the PR. Among other things allowing doctrine on front side which is a very sensitive part. Feel free to take part in

[2019-02-14 13:31] khouloudbelguith commented on #12567
@marion, yes I think, it is the same.
Thanks!

[2019-02-14 14:05] marionf commented on #12567
Duplicate of https://github.com/PrestaShop/ps_mbo/issues/83

[2019-02-14 14:05] #12567 closed, assigned to nobody

[2019-02-14 14:18] kermorgant commented on #11596
yep, I added this [comment](https://github.com/PrestaShop/PrestaShop/pull/12564/files#r256830756) about offering module authors a way to choose between annotations, xml or yml.

That's something that I could do after your PR is merged.

[2019-02-14 14:28] geimsdin commented on #9810
I solved it by adding some line of code on the AccountAdd hook of ps_emailsubscription.php

here it is:

    public function hookActionCustomerAccountAdd($params)
    {
        //if e-mail of the created user address has already been added to the newsletter through the ps_emailsubscription module,
        //we delete it from ps_emailsubscription table to prevent duplicates
        $id_shop = $para

[2019-02-14 14:36] dovbau commented on #9804
Agree on that.  How do you think it should be done ? Everything in one place ? Then it will be very slow, they have to be separated somehow

[2019-02-14 14:39] marionf commented on #12511
Yes, it's not a bug, you should select all colors from Test Colors A AND Test Colors B and click on generate

[2019-02-14 14:43] ghost commented on #12511
Well then, you should consider at least a notification while adding single attribute to the combination list when there are already existing combinations there to prevent confusion, plus prevent/fix the visual bug from the screenshots.

I made workaround module for my use case.

[2019-02-14 14:45] marionf commented on #12454
@mbadrani any news ?

[2019-02-14 14:50] wtbi commented on #12273
@khouloudbelguith - I solved this issue by moving my theme to a fresh installation of 1.7.5.0.

Thanks,
D.

[2019-02-14 14:50] #12273 closed, assigned to nobody

[2019-02-14 14:54] khouloudbelguith commented on #12273
@wtbi, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-14 14:55] khouloudbelguith commented on #12164
Hi @dalens,

I tried to install this module https://addons.prestashop.com/en/blog-forum-new/25908-blog.html & with the Blog PRO v2.1.6 module.
But it is OK when I generate a sitemap with the gsitemap module v4.1.0.
Could you please provide us your custom module to check it.
Thanks!

[2019-02-14 14:59] khouloudbelguith commented on #9810
Hi @geimsdin,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_emailsubscription
Thank you!

[2019-02-14 15:00] holle75 commented on #9804
1) Probably not very different from now but if you have categories, they should be right -> big step.

2a) Maybe you have xx top categories like "Admin" (here everything that is not Theme), "Theme xx", "Theme yy", "Theme xy"

2b) in those categories you define everything with expandable subcategories (for ADMIN -> errors, pdf, field, whatever, etc). This way you could open up all of them (via butt

[2019-02-14 15:06] marionf commented on #12008
I talked about this with @PierreRambaud

It could be an improvement but it will break the old API
So, there are 2 choices:
1) Change the existing one and add BC breaks
2) Add a new endpoint

[2019-02-14 15:24] marionf commented on #12390
Thank you for your PR @kpodemski :+1:
I will test it when the code review will be done

[2019-02-14 15:30] marionf commented on #11622
@COCOPOT about the exception, could you please create a new issue ?
Thank you !

[2019-02-14 15:44] khouloudbelguith commented on #11622
@marionf, this issue is added to our bug roadmap.
Here's the ticket: #11059.
@COCOPOT, you need to follow this issue: #11059
Thanks!

[2019-02-14 15:47] marionf commented on #11440
@idnovate I just tried a fresh 1.7.5.0 install, categories are translated and modules correctly soreted in their categories

![capture d ecran_1014](https://user-images.githubusercontent.com/13449658/52798416-2bc43b00-3078-11e9-8f81-19aeb8f459ae.png)

![capture d ecran_1015](https://user-images.githubusercontent.com/13449658/52798421-2e269500-3078-11e9-8279-2f4497de9702.png)

[2019-02-14 15:54] geimsdin commented on #9810
Hi, I don't know how pull requests work... never did one.

[2019-02-14 15:57] khouloudbelguith commented on #9810
@geimsdin, you can follow our documentation: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/
Also, do not be afraid, our developers help you get it right
Thanks!

[2019-02-14 16:02] khouloudbelguith commented on #12333
In the product page, we have other issues.
Before
![image](https://user-images.githubusercontent.com/16067358/52799468-2ec02b00-307a-11e9-8254-4c0e9bbdec40.png)
After
![image](https://user-images.githubusercontent.com/16067358/52799494-367fcf80-307a-11e9-909a-1aea8badef51.png)
![image](https://user-images.githubusercontent.com/16067358/52799500-397ac000-307a-11e9-9adf-7257bcba7ccb.png)

Thanks!

[2019-02-14 16:07] mbadrani commented on #12454
yes reproducible on Safari Mavericks 7.1

[2019-02-14 16:09] mbadrani commented on #12454
Screen size: full screen
Version tested: only 1.7.5.x

[2019-02-14 16:14] khouloudbelguith commented on #12454
@marionf, I have the same issue with PS1.7.5.1 with:

- os_version=Mavericks
- browser=Safari
- browser_version=7.1

![image](https://user-images.githubusercontent.com/16067358/52800427-05080380-307c-11e9-8709-cd6861b7bef8.png)
Thanks!

[2019-02-14 16:17] marionf commented on #12454
Thank you @khouloudbelguith
Could you try on 1.7.4.4 & 1.7.5.0 to know if it's a regression or not ?
7.1, is it the last version of Safari ?

[2019-02-14 16:28] khouloudbelguith commented on #12454
@marionf, yes with PS1.7.5.0, same issue.
![image](https://user-images.githubusercontent.com/16067358/52801309-e1de5380-307d-11e9-8752-4046b5580e71.png)

But with 1.7.4.4, click on the resume button doesn' work
![image](https://user-images.githubusercontent.com/16067358/52801253-c5421b80-307d-11e9-9809-a29b183342dd.png)
Thanks!

[2019-02-14 16:29] mbadrani commented on #12454
You rock @khouloudbelguith !

[2019-02-14 16:30] marionf commented on #12454
@khouloudbelguith buttons are centered with 1.7.4.4 ?

[2019-02-14 16:48] khouloudbelguith commented on #12454
@marionf,
About Safari, the last version is 12.0.2, but it is compatible only with the operating system Mac OS High Sierra.
with PS1.7.4.4 fresh install same issue.
![image](https://user-images.githubusercontent.com/16067358/52802665-aee98f00-3080-11e9-9570-b468827dafae.png)

Thanks!

[2019-02-14 16:49] damianobertuna opened #12575 "Faceted search doesn't work properly"
**Describe the bug**
It happens that if I select a filter and then I select another filter the first one disappear (it is not active anymore).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a category
2. Click on one filter and wait for products reload
3. Scroll down to filter and try to select another filter
4. After products reload only the second filter il active, the first is not

[2019-02-14 16:52] marionf commented on #12454
Thank you very much @khouloudbelguith :+1:

[2019-02-14 17:04] khouloudbelguith commented on #12575
Hi @damianobertuna,

I did not manage to reproduce the issue with PS1.7.5.0, default theme, & the ps_facetedsearch v2.2.0 - by PrestaShop.
I attached a video record.
https://drive.google.com/file/d/1UUaznto5zDTxKOV1uyvAQjd6jKyEtnv9/view
Thanks to check & feedback.

[2019-02-14 17:23] mauweb commented on #9783
hi ho prestashop 1.7.5.0 but unfortunately this problem has not yet been solved.
How can I solicit the resolution?

[2019-02-14 17:27] IAmWebSA opened #12576 "After Upgrade from PS1.7.4 to 1.7.5 hookDisplayAdminProductsExtra Modules not loading for old Articles"
Hello,

I have a issue with a customers Shop where my Module is used.

The customer did a upgrade to 1.7.5 and now the Module (which is hooked to hookDisplayAdminProductsExtra shown in the Article at Modules Section). Does not load anymore.

The only response I can see is "Settings successfully updated", but the module Tab did not open or anything else.

Same happens to other modules which are hoo

[2019-02-14 17:43] fundup opened #12577 "1.7.5 Carrier errors"
**Describe the bug**
Carrier in BO and FO has some trouble after migrate to 1.7.5. Sometimes I can't update Carrier (max_input_var=50000) adn I have 'Error thrown: [object Object] Text status: parsererror' .
For same configuration I have différents Carriers on FO, depending on my adresse (same Country) !
For my main localisation I can't show a Carrier configured without 'fees' or weight limit. ->

[2019-02-14 18:08] ChineseNorris commented on #12100
Hello,

I've found a solution here:
https://www.prestashop.com/forums/topic/367885-dashboard-stats-are-empty-after-upgrading-to-1609/

From user @skorupa code here fixes the problem.

This worked for me, but I had invoices activated as well, but ended deactivating them, since i'm generating invoices externally.

Basically the fix is because my prestashop wasn't generating invoices properly, so tha

[2019-02-14 18:10] juslintek commented on #12326
Okay seems that everything got faster, just needed less memory. But still in debug mode its quite slow. guess it has to be like that.

[2019-02-14 18:10] #12326 closed, assigned to nobody

[2019-02-14 18:22] juslintek opened #12579 "500 Error while installing back to English and switching admin panel to it via profile"
I'm using 1.7.5.0 Prestashop,
my main language is Lithuanian removed all other, then I decided to switch admin panel back to English because I'm struggling navigating in my native language admin panel, so I've imported locale and bam. Here is what I get in apache error log:

[code]

To reproduce:
1. Run Debian 7, with php 7.0, apache 2.4 with mod_ruid2 and mod_php and mariadb 10.2.
.htaccess
[code

[2019-02-14 18:31] juslintek commented on #12579
Okay sorted this out, forgot to mention that you need to export languages .xlf files to theme translations directory under `themes/themename/translations/lt-LT` subdirectory. Deleted those and it started working. It was probably conflicting. I still do not understand where translations from admin interface are kept. As well some translations are not picked up for some reason.

[2019-02-14 19:50] forkyboy commented on #12100
thanks @ChineseNorris

i have tried and replace (removed) all content from "AdminStatsController.php "
by skorupa code , and all i get is a nice error 500 when opening the order page.

also i do not have the file he is refering to in

"And remember to delete /cache/class_index.php. That fix is cheking stats based on order add date and not invoice date"

can you help with that ?

[2019-02-14 21:54] ChineseNorris commented on #12100
@forkyboy you don’t have to remove the content from the core file, you have to create a new document (AdminStatsController.php) at :
override/controllers/admin/AdminStatsController.php

And place the code there, clean the cache and check your stats

[2019-02-14 21:55] LucaMozzo opened #12580 "REST API full documentation and error codes"
**Is your feature request related to a problem? Please describe.**
I'd like to start by saying that I develop enterprise RESTful APIs as my full time job. What Prestashop lacks is a proper maintained documentation on REST via HTTP. Only a fraction of people using the webservice are using PHP and so far I had a bad time understanding how the API works.
Whatever body I PUT or POST I get a 200 and th

[2019-02-14 22:23] Olmanuel opened #12581 "Unable to update settings Prestashop 1.7.5.0"
**Describe the bug**
I just installed prestashop 1.7.5.0 on my whogohost server, i tried uploading a product but it brings up a red alert saying "unable to upload settings"

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: im hosting it from my web whose, whogohost.

[2019-02-15 00:08] forkyboy commented on #12100
Thx Chuck @ChineseNorris   it worked !

[2019-02-15 00:17] forkyboy commented on #12100
@khouloudbelguith

now you got all info . please re-open and push the fix ?

[2019-02-15 05:27] Maofree commented on #12562
hi
today it works well in both sites where the other time did not work, strange, however, better this way

[2019-02-15 05:27] #12562 closed, assigned to nobody

[2019-02-15 07:23] web-centre opened #12582 "error message"
by accessing the backoffice, I receive this error message

5 errors

Error found: CData section not finished 29.99 in the must_have_module_list.xml file.
Error Found: Premature end of data in EUR line tag 1 in the must_have_module_list.xml file.
Error found: Premature end of data in price tag line 1 in the must_have_module_list.xml file.
Error found: Premature end of data in module line tag 1 in t

[2019-02-15 07:35] khouloudbelguith commented on #12576
Hi @IAmWebSA,

Have you the same issue with this ticket: #11911?
If yes, here's the PR: #11923 to fix the issue.
It is fixed in the next release PS1.7.5.1.
Thanks to check & feedback.

[2019-02-15 07:58] khouloudbelguith commented on #12577
Hi @fundup,

Sorry, I did not manage to reproduce the issue with PS1.7.5.0, fresh installation & with upgrade from the previous version 1.7.4.4.
Could you please try to follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/12328#issuecomment-458875155) & check if the issue occurs again.
Thanks!

[2019-02-15 08:07] diegocastrum opened #12583 "'AppKernel' not found when running `docker-compose up` with prestashop v1.7.5.0"
**AppKernel not found in /var/www/html/config/autoload.php:28**
I just download the last release of Prestashop (v1.7.5.0), after that I run a `docker-compose up`, everything seems to be ok but when I try to access to the web interface using the ip of the container I got a 500e and the log says:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download prestashop_1.7.5.0
2. Run `docker

[2019-02-15 08:22] khouloudbelguith commented on #12579
Hi @juslintek,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1NgI1YzoIq-iaCEzdo58aIzUj8nBp5o-U/view
About the steps that you just make it, those steps are used in the case that you are creating new strings in files that already exist in the default theme as described in the link: http://build.prestashop.c

[2019-02-15 08:24] khouloudbelguith commented on #12581
Hi @Olmanuel,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-02-15 08:26] khouloudbelguith commented on #12582
Hi @web-centre,

Could you please try to navigate to your BO => Advanced Parameters => Performance page and click on the  clear cache button.
Thanks for check and feedback.

[2019-02-15 08:36] khouloudbelguith commented on #12562
@maofree, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-15 08:41] marionf commented on #12068
@khouloudbelguith

I tried again but can't reproduce this

[2019-02-15 08:45] khouloudbelguith commented on #11268
Hi @CrAzYk69,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-15 08:45] #11268 closed, assigned to nobody

[2019-02-15 08:45] sonosergio commented on #12575
Hi @khouloudbelguith
can you try the "drop down menu" option?
![cattura_1](https://user-images.githubusercontent.com/5682550/52845033-5eb51000-3106-11e9-8d9d-0af67b294d35.PNG)

[2019-02-15 08:49] johstrom opened #12584 "Implementing "Symfony\Component\HttpKernel\DataCollector\DataCollectorInterface" without the "reset()" method is deprecated"
Hi,
We are experiencing strange behaviour when deleting products in Prestashop v1.7.5.

I search for all disabled products in the catalogue, mark them all and ask for a batch deletion. The process starts, but after 2-3 products being deleted I got a failure error and the batch upgrade stops, but with final message: "Product(s) successfully deleted.", though it isn't the fact.

Our hosting has look

[2019-02-15 08:54] #12151 closed, assigned to nobody

[2019-02-15 08:55] sarjon opened #12585 "Make symfony forms easier to extend from modules using form_rest"
Modules can extend Symfony forms by adding new fields, but form templating is a bit tricky, see example below.

Let's say we want to customize Email configuration form. We have added new fields using hook, but form does not look pretty. So we want to customize template.

Take this https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/views/Admin/Configure/AdvancedPar

[2019-02-15 09:00] johstrom commented on #12584
Here is a video of the error on backend:
https://hstrom.mangoapps.com/sf/MTUwNTQ1XzYyMTQxNjg

[2019-02-15 09:01] turnoextra commented on #11268
The Gamification plugin was removed from my Prestas about 1 month, so don't have any news to bring you. I recovered the normal speed of backoffice.

Thanks!

[2019-02-15 09:04] kpodemski commented on #12585
@sarjon

what about something like smarty extend and smarty blocks? how it is working in Twig?

 so developer would create:
modules/my_module/views/PrestaShop/Admin/Configure/AdvancedParameters/Email/index.html.twig

with content only like:

{extend 'originalfile'}
{block name='additionalInputs' append}
something something
{/block}

i'm not familiar with Twig enough to tell you how this should be

[2019-02-15 09:06] apcloic commented on #9924
Hi,

It looks like the fix works well for product category items but not for other kind of items.
For example, I would like to hide a link to a quick order module page which should be only visible for some customer groups.
For now, even if the module is disabled for visitors and clients and nothing happens (as expected) when they click on it via menu link, I think it should not be visible at all f

[2019-02-15 09:17] khouloudbelguith commented on #12583
Hi @diegocastrum,

Could you please confirm these steps to reproduce the issue:
1. Download the stable version PS1.7.5.0 from this link: https://www.prestashop.com/fr/versions-precedentes
2. Unzip the folder downloaded
3. Into the project folder, you just run `docker-compose up`
4. Then reach your shop on this URL: http://localhost:8001

Thanks!

[2019-02-15 09:23] marionf commented on #12174
@khouloudbelguith

This is the invoice

![capture d ecran_1016](https://user-images.githubusercontent.com/13449658/52847060-7f339900-310b-11e9-9514-36a63823d01d.png)

And this is the credit notes after editing the product VAT (from 20% to 10%) and refund the order.

![capture d ecran_1017](https://user-images.githubusercontent.com/13449658/52847145-b43feb80-310b-11e9-9b95-8e42fd81020e.png)

The to

[2019-02-15 09:24] khouloudbelguith commented on #12580
Hi @LucaMozzo,

To get more information about webservice in PrestaShop, you can follow this [link](http://doc.prestashop.com/download/attachments/720902/CRUD%20Tutorial%20EN.pdf).
Also, you can follow our documentation: http://doc.prestashop.com/display/PS16/Using+the+PrestaShop+Web+Service
You can found some examples in our GitHub repository: https://github.com/PrestaShop/PrestaShop-webservice-li

[2019-02-15 09:34] khouloudbelguith commented on #12326
@juslintek, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-15 09:36] sarjon commented on #12585
@kpodemski it is possible to use blocks. However, it does not work because `{% extends ... %}` ends up in recursion. :/ I think this happens because of path resolving that it want to replace core template with module template infinitely.

[2019-02-15 09:39] kpodemski commented on #12585
oh :( it was very convenient way to do such a stuff using Smarty, I'll try to do some research, it's hard to believe that Twig is less flexible than Smarty :P

[2019-02-15 09:39] khouloudbelguith commented on #12068
Hi @marionf,

Yes, I still have the same issue with develop branch.
In the BO => Product list page, if you sort by quantity & I move the mouse under the "Status" label, a strange behavior happens.
I attached a new video record.
https://drive.google.com/file/d/1wPzcSiAdmFu9vM6QjBNeKycKz8y6KxCX/view
Thanks!

[2019-02-15 09:42] khouloudbelguith commented on #12100
@forkyboy, sorry but I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.0.0 as I said in my previous comment.
It is OK in my case.
Thanks for your understanding!

[2019-02-15 09:46] khouloudbelguith commented on #9783
Hi @mauweb,

Sorry, it is not fixed yet.
It is added to our bug roadmap so that it will be fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks for your understanding!

[2019-02-15 09:50] khouloudbelguith commented on #12584
Hi @johstrom,

Thanks for your report.
In my case, I did not manage to reproduce the issue with PS1.7.5.0.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to

[2019-02-15 10:17] khouloudbelguith commented on #12575
Hi @sonosergio,

Thanks a lot for your feedback.
In the ps_facetedsearch configuration page, I edited to "Filter style:" to "Drop-down list"
![image](https://user-images.githubusercontent.com/16067358/52849788-27e4f700-3112-11e9-88ac-e8b4201d8f6b.png)
In the FO, when I try to use more than two filters, the first filter is not active anymore, only the second filter.
Which not the same case, when I

[2019-02-15 10:23] diegocastrum commented on #12583
Hi @khouloudbelguith,

Sure, I'm having the same error.

[2019-02-15 10:23] khouloudbelguith commented on #12575
I have the same issue with PS1.7.4.4 & the ps_facetedsearch module v2.2.1.
Thanks!

[2019-02-15 10:24] sarjon commented on #12585
@kpodemski its not because of Twig, it because how PrestaShop uses it to find templates. :)

[2019-02-15 10:26] 123monsite-regis commented on #12585
i'm in favour of seconf solution, `{{ hook('renderSomeForm', {'form': form}) }}`
we use this way with such already presents hooks such as 'displayAdminProductsMainStepRightColumnBottom' , 'displayAdminProductsMainStepLeftColumnMiddle' etc,
and having on our modules like that

[code]

and the both templates below:
OURMODULE/AdminProduct/hooks-form.html.twig

[code]

OURMODULE/OURMODULE/form.html.tw

[2019-02-15 10:40] PierreRambaud commented on #12461
First try because we have issues with Doctrine:
[code]

[2019-02-15 10:41] khouloudbelguith commented on #12583
@diegocastrum,

In my case here's what I followed & I installed the PS1.7.5.0 successfully.
1. Download the stable version PS1.7.5.0 from this link: https://www.prestashop.com/fr/versions-precedentes
2. Unzip the folder downloaded
3. Into the Project folder, I run `docker-compose up`

=> Two containers are successfully created
1. `foldername_mysql_1` container from the image `mysql:5`
2. `prestash

[2019-02-15 10:50] eternoendless opened #12586 "Use composer to handle all modules"
Following #11619, we should stop using zip files to handle modules and use composer _only_.

This will of course need support from the Marketplace in order to be possible.

[2019-02-15 10:56] hellodracon commented on #12555
Found out what was wrong (a store from the multistores was broken).

[2019-02-15 10:59] ckubitza commented on #9884
I had problems here too while trying to implement some additional pattern validation for the vat number (without using the webservice). I found out that the vat validation result is not handled correctly.

The hookActionValidateCustomerAddressForm() returns a boolean and if this is false it will later be casted to an empty string. The validate() function in customerAddressForm then thinks there ar

[2019-02-15 11:07] khouloudbelguith commented on #9884
Hi @ckubitza,
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/vatnumber
Thank you!

[2019-02-15 11:09] ckubitza commented on #9884
I can make a pull request but I have no time to really check the webservice functionality.

[2019-02-15 11:21] diegocastrum commented on #12583
Got it, it works now!

I think the problem was just missing of the `composer.json` file. The whole process around `composer` is a bit "dark" for me, I mean I couldn't find the right process to follow anywhere (maybe my bad).

Thank you very much for your time and help!!

[2019-02-15 11:22] #12583 closed, assigned to nobody

[2019-02-15 11:22] shedh commented on #10653
This is still unfixed in 1.7.5.0

[2019-02-15 11:23] khouloudbelguith commented on #12583
@diegocastrum, thanks for your feedback.
You are welcome!
Feel free to open a new one when needed.
Thanks!

[2019-02-15 11:30] shedh commented on #10653
Did a little digging, BO shows the page name as 'order', FO (using {debug}) shows the page as 'checkout'

[2019-02-15 11:34] khouloudbelguith commented on #10653
@shedh, I manage to reproduce the issue with PS1.7.5.0.
It is added to our bug roadmap so it will be fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-15 11:53] rdy4ever commented on #12561
May I suggest [Summernote](https://github.com/summernote/summernote/)?

[2019-02-15 12:03] dennispw commented on #12561
Will Markdown ever be an alternative?

[2019-02-15 12:07] rdy4ever commented on #12561
@dennispw I really can't see that happening. The Prestashop admin must be non-tech-friendly, as one cannot ask from regular shop owners to know how to use markdown. I guess markdown could be added as optional somehow (like another button next to view source - "use markdown"), but never as the default editor.

[2019-02-15 12:13] rdy4ever commented on #12561
@dennispw [this](https://github.com/nhnent/tui.editor) looks promissing. A hybrid WYSIWYG/Markdown editor. I personally wouldn't mind seeing it in PS.

[2019-02-15 12:24] idnovate commented on #11440
Just installed a fresh 1.7.5.0 in Spanish:

![image](https://user-images.githubusercontent.com/15104724/52856552-06413b00-3125-11e9-80b4-830ef10356e6.png)

[2019-02-15 12:36] sarjon commented on #12561
https://ckeditor.com/, it integrates well with Symfony using FOSCKEditorBundle. Although im not  sure about license.

[2019-02-15 12:37] idnovate opened #12588 "Order payment duplicated depending on order state configuration"
**Describe the bug**
If a state has these 3 options enabled, when you call validateOrder with this state the order payment is duplicated:

- Consider the associated order as validated.
- Set the order as paid.
- Show delivery PDF.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure "Awaiting bank wire payment" order state with the 3 options enabled.
2. Create an order paid with bankwir

[2019-02-15 12:42] titamrtn opened #12589 "OutOfMemory Error when opening add product page"
**Describe the bug**
After new install i can add product normally but after i upload category(over 7000) i got OutOfMemory exception when opening add product page in backend.

I already tried to increase memory to 512M but still have the same error.
![screenshot from 2019-02-15 15 41 46](https://user-images.githubusercontent.com/5078563/52857441-39d99080-3138-11e9-9040-b010d619de3e.png)

this is m

[2019-02-15 12:44] tmcreativeltd commented on #12116
Was this ever resolved please? I'm getting the same errors. Do I need to revert back to earlier versions or turn debug off or is there a better solution? Thanks

[2019-02-15 12:50] tessa135 commented on #12568
Today I couldn't reproduce the issue neither. Really awkward. Sorry for the inconvenience, I will Close the issue

[2019-02-15 12:50] #12568 closed, assigned to nobody

[2019-02-15 12:50] tmcreativeltd commented on #12116
Hi @jeckyl did you resolve this issue or was the only way to revert to an earlier version of Smarty? Thanks in advance!

[2019-02-15 13:04] fundup commented on #12577
Thanks, I seems to be related to this issue. I will try to fix and I'll notice you.

[2019-02-15 13:12] khouloudbelguith commented on #12577
@fundup, thanks!
Waiting for your feedback.

[2019-02-15 13:13] jeckyl commented on #12116
I had to work around the problem by restructuring my variables.
This was a beneficial obligation to obtain a maintainable code.

[2019-02-15 13:14] khouloudbelguith commented on #12568
@tessa135, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-15 13:22] marionf commented on #12068
I just managed to reproduce it

[2019-02-15 13:23] marionf commented on #12068
Do you have it also with 1.7.5.0 ?

[2019-02-15 13:31] dennispw commented on #12561
I completely understand the need for a WYSIWYG. On smaller personal projects (non PS related) I have however had no issues with people getting used to Markdown after explaining the benefits and how it works. But then again, I can definately see why such an implementation could cause a stir. I was merely asking as I always prefer Markdown whenever possible.

[2019-02-15 13:41] khouloudbelguith commented on #12589
Hi @titamrtn,

Thanks for your report.
I'm trying to import your file csv, but it took time because you have more 7000 categories, then I will come back to you if we need more information.
Thanks!

[2019-02-15 13:46] khouloudbelguith commented on #12588
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with ps1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/52860677-68ec0400-3130-11e9-87de-90dae06f66fe.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

A similar previous reported

[2019-02-15 14:19] LouToma opened #12590 "Module Manager (in Modules menu) is not translated"
**Describe the bug**
When BO is set in French for example, Module Manager is still in English in the Modules menu.

[2019-02-15 14:21] marionf opened #12591 "Module manager: modules are not always in the right categories according to the language"
Just installed a fresh 1.7.5.0 in Spanish:

![image](https://user-images.githubusercontent.com/15104724/52856552-06413b00-3125-11e9-80b4-830ef10356e6.png)

_Originally posted by @idnovate in https://github.com/PrestaShop/PrestaShop/issues/11440#issuecomment-464030434_

[2019-02-15 14:26] marionf commented on #12591
Install in French:

![capture d ecran_1020](https://user-images.githubusercontent.com/13449658/52862618-f716b900-3135-11e9-845a-e96d26da54bf.png)
![capture d ecran_1021](https://user-images.githubusercontent.com/13449658/52862623-fa11a980-3135-11e9-8dd9-a4ffa006d4be.png)
![capture d ecran_1022](https://user-images.githubusercontent.com/13449658/52862632-fc740380-3135-11e9-90b0-a25b757b907e.png)
![

[2019-02-15 14:28] marionf commented on #12591
Install in English:

![capture d ecran_1024](https://user-images.githubusercontent.com/13449658/52862758-49f07080-3136-11e9-99db-0e6fa2cb5ec4.png)
![capture d ecran_1025](https://user-images.githubusercontent.com/13449658/52862762-4ceb6100-3136-11e9-8ecd-443eb1f954ec.png)
![capture d ecran_1026](https://user-images.githubusercontent.com/13449658/52862765-4fe65180-3136-11e9-8d9b-28b91bf2f8c0.png)
!

[2019-02-15 14:29] khouloudbelguith commented on #12068
@marionf, no, I did not manage to reproduce the issue with PS1.7.5.0, in fact with the PS1.7.5.0, the column `Price (Tax incl.)` is not added, But in the develop branch, it is displayed.
![image](https://user-images.githubusercontent.com/16067358/52862569-d8182700-3135-11e9-913e-aa49379d5117.png)
![image](https://user-images.githubusercontent.com/16067358/52862823-76a48800-3136-11e9-9e92-76e49fb5c

[2019-02-15 14:36] khouloudbelguith commented on #12590
Hi,

Same issue with PS1.7.5.0 & PS1.7.5.1build1 & the develop branch.
Thanks!

[2019-02-15 14:42] febestore opened #12592 "Blank {followup} placeholder in the 'in-transit' template"
**Describe the bug**
Clients reported that they don't receive tracking information. I have reproduced the issue. Let me explain.
Our backoffice is synchronized by API web service with storehouse. Shipping number is generated outside of Prestashop backoffice and pasted in by web service. However that cause problem - when API service is changing order status automatic emails are not sending.
That's

[2019-02-15 15:10] khouloudbelguith commented on #12592
Hi @febestore,

I did not manage to reproduce the issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/52865139-2c260a00-313c-11e9-9b55-22c68e6dc65c.png)
Could you please provide some information about this only carrier, did you created it manually or it is a customized module that you installed?
Thanks!

[2019-02-15 15:39] khouloudbelguith commented on #12589
Hi @titamrtn,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
[import.mp4.zip](https://github.com/PrestaShop/PrestaShop/files/2869809/import.mp4.zip)
I'm affraid that 512M will be not enough, especially when you have more than 7000 categories.
Thanks to check & feedback.

[2019-02-15 16:14] johstrom commented on #12584
Hi,
Host: We have a VPS at tmdhosting.com
Server setup:
`
Apache Version | 2.4.38
PHP Version | 7.1.26
MySQL Version | 10.1.38-MariaDB
Architecture | x86_64
Operating System | linux
Perl Version | 5.16.3
Kernel Version | 3.10.0-693.17.1.el7.x86_64
`
Prestashop version: 1.7.5.0
Debug mode report: ? Can't see any information in the link you provided on how to create this.

PHP error logs:
`[23-Jan-2

[2019-02-15 16:21] khouloudbelguith commented on #12584
Hi @johstrom,

Thanks for your feedback.
About this error:
[code]

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-15 16:48] bmagneCesi commented on #12300
@colinegin do you know when someone will check this issue ?

[2019-02-15 22:40] ivordurham opened #12599 "PS 1.7.5 database initialization fails with 504 Gateway Timeout error"
**Describe the bug**
PS 1.7.5 installation fails with a 504 Gateway Timeout on Fedora 29, PHP 7.2.14, Apache 2.4.38, MariaDB 10.3.11

**To Reproduce**
Download prestashop_1.7.5.0.zip and unpack in HOME/new_shop
Visit https://x.x.x/HOME/new_shop
Follow steps through local database setup (127.0.0.1) and test database connection successfully.
Click Next.
Long delay stuck at 12% followed by 504 Gatewa

[2019-02-15 23:27] LucaMozzo commented on #12580
Hi @khouloudbelguith
Thanks for the resources. I have a couple more questions that are not covered there:

- When I use the browser to go to http://KEY@store.com I'm still asked for BasicAuth, which is forcing me to use the query parameter `?ws_key=KEY` instead. Is that correct? can the query parameter be used with POST and PUT?

- Can I POST and PUT JSON objects?
- The PUT url `is /api/resource/i

[2019-02-16 07:43] johanlantz opened #12601 "display_taxes_label not changable in backoffice"
On PS 1.7.5

Maybe I am missing something but I am not able to find the option in BO that will remove this line in product-prices.tpl

 {if $configuration.display_taxes_label}
        {$product.labels.tax_long}
      {/if}

[2019-02-16 08:12] johanlantz opened #12602 "Product with combination does not show all images for that combination"
**Describe the bug**
A product with multiple combinations does not show all selected images for that combination, only one.

**To Reproduce**
Steps to reproduce the behavior:
- Choose Hummingbird Notebook or another product with Combinations.
- Add a second image.

**Screenshots**
<img width="662" alt="screenshot 2019-02-16 at 09 08 23" src="https://user-images.githubusercontent.com/7461655/528965

[2019-02-16 10:07] JavierEB commented on #11629
hello sorry for the delay in answering, and been out ... If it is already solved by following your steps and help. thank you

[2019-02-16 15:46] johanlantz commented on #12602
My mistake, closing ticket.

[2019-02-16 15:46] #12602 closed, assigned to nobody

[2019-02-16 15:56] johanlantz opened #12604 "Link format doubt"
I noticed the links to products with combinations are still adding extra parameters:

http://localhost/ps/en/men/1-1-hummingbird-printed-t-shirt.html#/1-size-s/8-color-white

Previously the default product link was just a simple:
http://localhost/ps/en/men/1-1-hummingbird-printed-t-shirt.html

I know this has been debated in other tickets, is there an explanation somewhere about why the combinatio

[2019-02-16 20:21] ron44124 commented on #12419
Where would I add the  jquery 2+ to Prestashop 1.6? Thanks.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Thu, Feb 7, 2019 at 3:46 AM GoT <notification

[2019-02-16 23:29] ivordurham commented on #12599
My default Apache installation apparently uses the Fast CGI proxy. I have been able to evade the timeout issue by creating an Apache configuration file: /etc/httpd/conf.d/custom.conf which contains

[code]

This doubles the default timeout of 60s. I have not tried to narrow down how much extra time is actually needed.

However, anyone trying to install PrestaShop on a shared hosting package may no

[2019-02-17 00:02] kpodemski commented on #12604
Canonical url has no additional attributes so it should be all good for SEO

[2019-02-17 05:21] BenTen commented on #12285
@JohnMidity This timeout 0 is really useful, I can upload image in product page without trouble now, thank you.

[2019-02-17 12:47] BenTen opened #16985 "404 error when check the presence of the image files on the server"
Hello,

[code]

When I check the box "Check this box if you wish to check the presence of the image files on the server" I can't generate a sitemap, it return 404 error.

Without check, the sitemap is generate.

[2019-02-17 17:33] johanlantz commented on #12604
ok, that is a very reasonable answer so I will close the ticket with that. Thanks

[2019-02-17 17:33] #12604 closed, assigned to nobody

[2019-02-17 17:59] cperez75 commented on #12409
HI! Same here!
Did you find any solutions??

Host: [https://juguetesdeplacer.com](https://juguetesdeplacer.com)
But I have make the rollback to continue working
Prestashop 1.7.5
PHP 7.0
Versión Apache | 2.4.37
Versión PHP | 5.6.30
Versión MySQL | 10.1.37-MariaDB-cll-lve
Arquitectura | x86_64
Sistema operativo | linux

![image](https://user-images.githubusercontent.com/22915403/52916920-83b3a980-32

[2019-02-17 21:43] kenjinx commented on #12085
I have the same problem with link-widget in fresh install 1.7.5 without any modifications.
"Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused."

[2019-02-17 23:50] coriaweb opened #12605 "Error when accessing the administration with IPV6 enabled."
**Describe the bug**
We have noticed that when we activate IPv6 for the account in CPanel, prestashop ceases to access the administration area.

It writes the email and password and can not be accessed, shows no error, simply returns to the page to refill the data. Sometimes, insisting a lot we get access, but in the next step we leave again without access.

When we deactivate IPv6 in CPanel, it a

[2019-02-18 02:30] jsuarez opened #12606 "Error when trying to delete a product"
When i try to delete some product, the screen locks and the product is not deleted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'catalog->products'
2. Click on 'the action dots at the right of the product list' and then delete (or selecting all the products through the "select all" checkbox and then making a masive delete)
3. And nothing occurs and the screen not working anymore (to

[2019-02-18 05:17] titamrtn commented on #12589
So to fix it i need to upgrade to 1.7.5.0?

[2019-02-18 07:45] khouloudbelguith commented on #12606
Hi @jsuarez,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-02-18 07:58] khouloudbelguith commented on #12601
Hi @johanlantz,

To disable the `Display tax label` in the FO, you need to navigate to the BO => International => Locations => Countries Tab => Search for your country => Edit it, in the bottom of the page, you can find the `Display tax label` option, you can disable it.
![image](https://user-images.githubusercontent.com/16067358/52935864-d8453c00-335a-11e9-8c27-3d8b5be9fec3.png)
So, the tax label

[2019-02-18 07:58] #12601 closed, assigned to nobody

[2019-02-18 08:14] khouloudbelguith commented on #12599
Hi @ivordurham,

Thanks for your report.
To install PrestaShop, we need to set memory_limit to "128M", it is required, you can follow this [link](https://www.prestashop.com/en/system-requirements).
Also, you can follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/M

[2019-02-18 08:16] khouloudbelguith commented on #12185
Hi @caotico25,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-18 08:16] #12185 closed, assigned to nobody

[2019-02-18 08:17] khouloudbelguith commented on #12209
Hi @Klemart3D,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-18 08:17] #12209 closed, assigned to nobody

[2019-02-18 08:17] khouloudbelguith commented on #12056
Hi @Klemart3D,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-18 08:17] #12056 closed, assigned to khouloudbelguith

[2019-02-18 08:25] khouloudbelguith commented on #12589
@titamrtn, the `outOfMemory` issue is a server issue.
In your php.ini file, Try to increase:
max_execution_time = 30 (by default is 30, try to increase it)
max_input_time = you need to increase it
memory_limit = 1000M

Thanks to Check & Feedback.

[2019-02-18 08:27] khouloudbelguith commented on #12085
Hi @kenjinx,

This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-02-18 08:30] khouloudbelguith commented on #12409
Hi @cperez75,

Have you tried to contact your theme author?
The "appagebuilder" module is provided by your theme?
If yes, thanks to check the issue with the theme author & feedback.

[2019-02-18 08:53] M-Grafix opened #12607 "category and module issue"
Hi,

Three days ago, I was creating new products in my catalog and Prestashop couldn't work anymore !
Now, I cannot access to my catalog and also the module, my page stays white. Other tabs works.

If someone can help me, I would be very happy ! :)
Thanks,
Marie

[2019-02-18 08:54] khouloudbelguith commented on #12607
Hi @M-Grafix,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-02-18 09:16] marionf commented on #9666
@khouloudbelguith

I can't reproduce it with 1.7.5.0
https://drive.google.com/open?id=1bbUtzxMXbkzr3eWQbWUK0uWM-hNuW_Yg

Can you try to reproduce it ?

[2019-02-18 09:31] khouloudbelguith commented on #9666
@marionf, I cannot reproduce the issue with PS1.7.5.0. in my case also.
Thanks!

[2019-02-18 09:31] #9666 closed, assigned to nobody

[2019-02-18 09:43] marionf commented on #10582
Issue on order list:
https://github.com/PrestaShop/PrestaShop/issues/10317

[2019-02-18 09:43] khouloudbelguith commented on #12605
Hi @coriaweb,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.
Thanks!

[2019-02-18 09:45] matks commented on #12580
We are unfortunately aware of that 😥 however we have a huge pile of tasks to do to improve the project and make it evolve in the right way (as I'm writing now, there is 978 issues, so as you can see we are quite busy 😛 ).

However this is an opensource project so please consider contributing to the project 😉 you have a good knowledge of what this documentation should contain and look like. Would y

[2019-02-18 09:50] marionf commented on #10583
Issues on add/edit order page:
https://github.com/PrestaShop/PrestaShop/issues/9676
https://github.com/PrestaShop/PrestaShop/issues/10393
https://github.com/PrestaShop/PrestaShop/issues/11034
https://github.com/PrestaShop/PrestaShop/issues/12588

[2019-02-18 09:59] marionf commented on #9689
It seems to happen only if the product has a customizable field no required

[2019-02-18 10:03] dovydasliegus commented on #12456
Same thing, impossible to have any additional carrier info selection due to this new "feature".

I am not sure if something like this is good for UX. When selecting/changing carrier customer might want to look them through one more time, especially when there are more than 2 or 3 options available.

Update total values can be done via AJAX, so page reload is really due to laziness. "Easy solution"

[2019-02-18 10:12] pppplus commented on #9834
Same problem on 1.7.5.0

[2019-02-18 10:28] khouloudbelguith commented on #9834
Hi @pppplus,

Yes, I have the same issue with PS1.7.5.0.
The issue is not fixed yet, it is added to our bug roadmap.
https://drive.google.com/file/d/1JSQIlDqBdH8lSz5VZA0fCiZgi0AUUwDw/view
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-18 10:58] titamrtn commented on #12589
I can't go over 512M, is there no way to load all categories by ajax for e.g. Not load it one time.

[2019-02-18 11:03] tlhuillier opened #12608 "Cannot delete cart rule with no code"
**Describe the bug**
User cannot remove a cart rule with *no code* from his cart.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a cart rule with no code
2. On the Front Office, visit the cart page and try to remove the cart rule from the cart.
3. Cart rules stays !

**Additionnal information**
Inside the templates, we can't see if a cart rule has a voucher code or not,
so we can't hide

[2019-02-18 11:05] khouloudbelguith commented on #12589
@titamrtn, in the PS1.7.4.0, with this PR: https://github.com/PrestaShop/PrestaShop/pull/8896, we have improved the time to show the product page when we have a large number of categories, reported in this [ticket](http://forge.prestashop.com/browse/BOOM-3666) previously.
Thanks to check & feedback.

[2019-02-18 11:11] eternoendless commented on #12580
This is a security feature that each browser implements differently. In Chrome, you'll be asked for a user and pass, just write the key as the user and leave the password blank. This won't happen when you use curl for example:

[code]

No, the API only supports XML on input but supports JSON output if you choose so:

[code]

That is correct.

[2019-02-18 11:23] khouloudbelguith commented on #12608
Hi @tlhuillier,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.5.1 & PS1.7.4.4.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-02-18 11:26] ntiepresta commented on #12588
Hi,

Same issue with Ps1.7.5.1 build1 and the develop branch.
Thanks!

[2019-02-18 11:32] febestore commented on #12592
It's manually created carrier. Without any modifications. When You manually write a shipping number {followup} works fine. But When You change order status with 'in_transit' template it doesn't work.

Can I ask You to write me an email or private message? I will show You video with all the steps.
It has few personal data I don't want to paste this in public.
Cheers

[2019-02-18 11:37] web-centre opened #12609 "payment prestashop 1.7.5.0"
Hello,
I recently installed the 1.7.5.0 version of prestashop, but I'm having several problems:
1) at the time of payment of an order, it appears that there are no payment methods available, despite having activated and configured the paypal module (screen attached)
2) from the back office I can not access different menu items that issue me the error 500 (screen attached)
the items that give me pr

[2019-02-18 11:41] khouloudbelguith commented on #12609
Hi @web-centre,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-02-18 11:49] khouloudbelguith commented on #12592
Hi @febestore,

This is a public space.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-02-18 12:01] web-centre commented on #12609
![errore debug](https://user-images.githubusercontent.com/43772147/52949620-1f442900-337d-11e9-8d3b-3cf58d348ab0.JPG)
![errore debug2](https://user-images.githubusercontent.com/43772147/52949622-1f442900-337d-11e9-843c-438f37555c3c.JPG)
![errore debug3](https://user-images.githubusercontent.com/43772147/52949623-1f442900-337d-11e9-8771-47c0c3b0af6d.JPG)
![errore debug4](https://user-images.githubu

[2019-02-18 12:30] coriaweb commented on #12605
Perfect, if you want, we can enable a hosting with IPv6 to do the tests if you need.

Greetings!

[2019-02-18 12:39] matks commented on #12419
@ron44124 it's not simple. jQuery 1 is used in a lot of pages in PS 1.6. To be able to use jQuery 2 you need to check whether these scripts (the ones from prestashop and the external ones, for example if you use a custom theme it might have JS code too that relies en jQuery 1) are compatible with jQuery 2.

[2019-02-18 12:45] teemumantynen commented on #12456
One more thing how this new behavior breaks the process of how shipping modules used to work.

When customer clicks Continue-button in checkout's carrier selection, hook actionValidateStepComplete is executed. This hook lets shipping module to validate carrier selection data including input fields in "carrier extra content". If shipping module invalidates carrier selection, clicking Continue-butto

[2019-02-18 12:47] rouaks commented on #13015
Replace:
[code]

By:
[code]

[2019-02-18 13:13] khouloudbelguith commented on #12609
Hi @web-centre,

About the first screenshot, you need to enable the `php_mbstring`, this issue is added to our bug roadmap in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9583
About the second screenshot, there is an issue with the `whatsapp` module, as it's not provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.c

[2019-02-18 13:22] elmanu13 opened #12611 "Quick access link wrong with multishop"
**Describe the bug**
The links in the Quick Access list are wrong if you select shop 2 that has different URL

**To Reproduce**
Steps to reproduce the behavior:
1. Create a multishop with a different URL for shop 2. Example : myshop.fr for shop1, myshop.pro for shop 2
2. select "All shops" and create a quick access to access to a module
3. select "shop 2" and click on the quick access link : you w

[2019-02-18 13:42] M-Grafix commented on #12607
Hi,

Thansk for your reply !

I’m gonna try to give you the needed information ! Please find below and attached !

You have to know that sometimes the catalog page appears in the BO (I don’t know which reason for !) but if I try again, the page becomes white again !

• Host : OVH - ftp.cluster021.hosting.ovh.net

• Server setup and configuration : ?

• Version Prestashop 1.7.2.2

• debug mode repo

[2019-02-18 13:42] web-centre commented on #12609
I do not understand how to enable `php_mbstring`,

[2019-02-18 13:44] khouloudbelguith commented on #12605
@coriaweb, is that possible?
Thanks a lot if you can provide me with a host with ipv6 enabled.
You can provide me it by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

In the meantime, I'm trying to enable the ipv6 in my server.
Thanks!

[2019-02-18 13:46] khouloudbelguith commented on #12609
@web-centre, you should contact your host about that, or you can uncomment this line `extension=php_mbstring.dll` in your php.ini file
Thanks!

[2019-02-18 13:50] khouloudbelguith commented on #12607
@M-Grafix, there are attached files, you need to connect to Github & attache files in this ticket.
Thanks!

[2019-02-18 13:56] matks commented on #12556
This is a Symfony behavior: https://github.com/symfony/symfony-standard/issues/1084

[2019-02-18 14:31] M-Grafix commented on #12607
![click upgrade](https://user-images.githubusercontent.com/47738000/52957589-4c4f0680-3392-11e9-93ab-c992c98e38e8.jpg)
![info prestashop](https://user-images.githubusercontent.com/47738000/52957590-4c4f0680-3392-11e9-85b2-862510fb49e3.jpg)