[2021-11-25 09:59] lmeyer1 opened #26745 "Improve profiling mode"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-25 10:25] hibatallahAouadni commented on #26742
Hello @ricchiralt

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23784.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: please donwgrade your PHP version to 7.2 (check our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).

Thanks!

[2021-11-25 10:25] #26742 closed, assigned to nobody

[2021-11-25 10:26] hibatallahAouadni commented on #26742
Duplicate of #23784

[2021-11-25 10:30] prestascott commented on #26679
@MatShir My bad, I forgot the brand. We definitely keep it!

[2021-11-25 10:32] lmeyer1 opened #26747 "Too many queries to test if hook is active"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop is repeating this query

[2021-11-25 10:43] hibatallahAouadni commented on #26718
Hello @lmeyer1

I tried my best but I didn't manage to reproduce the issue in any page even with a product with specific price:

### BO > Product page with specific price:

![image](https://user-images.githubusercontent.com/23308427/143426404-9171ec0c-8f72-402a-96f7-0f6c6d09c7bc.png)

### FO > Product page with specific price:

![image](https://user-images.githubusercontent.com/23308427/143426452-

[2021-11-25 10:43] Hlavtox opened #26749 "Notifications should not be responsible for showing informational messages about empty data"
### Is your feature request related to a problem?

In my account, information about empty orders, empty credit slips is passed as a notification to the controller.
If we don't want to move all notifications on my account pages, which **A) can be totally unrelated to the content**, **B) is a hackjob** and **C) we want to style them**, we need to change it.

![notification](https://user-images.githu

[2021-11-25 10:44] hibatallahAouadni commented on #26745
Hello @lmeyer1

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
And thanks for your PR :rocket:

Thank you

[2021-11-25 10:44] Prestaworks opened #26750 "custom feature value in multilanguages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding a custom feature value

[2021-11-25 10:46] hibatallahAouadni commented on #26749
Hello @Hlavtox

Thank you for your suggestion. The Developer Team and UX-team will take it into consideration for future developments.
Ping @PrestaShop/ux-team wdyt?

Thank you

[2021-11-25 10:48] Hlavtox commented on #26749
@hibatallahAouadni It's more of a dev thing, UX is already approved. Can you ping dev team please?

![Výstřižek](https://user-images.githubusercontent.com/6097524/143427731-cae5c5f1-9ea4-4a8e-8e06-e2ea47af5097.JPG)

[2021-11-25 10:51] Hlavtox commented on #26747
I love you

[2021-11-25 10:53] VidarPc commented on #26741
Hi, here is the log from what I got when clicking the 1-click upgrade function.

2021-11-17 12:46:59.253045 [Wed Nov 17 12:46:59.252997 2021] [:error] [pid 9066] [client 82.118.240.146:44610] PHP Fatal error:  Uncaught Error: Class 'Symfony\\Component\\Debug\\Exception\\FatalThrowableError' not found in /home/customer/www/racinghorses.eu/public_html/vendor/symfony/symfony/src/Symfony/Component/Deb

[2021-11-25 10:55] khouloudbelguith opened #26751 "BO - Dashboard - An exception is displayed when set the datepicker-from-info with invalid date"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Dashboard page, when we

[2021-11-25 11:04] MatShir commented on #20821
Hi @Hlavtox,
Thanks for the reminder. It is a nice feature, merchants should have all the information on front of them before finalizing their order. Changing by customer setting could be hard to understand and maybe unproductive.

![image](https://user-images.githubusercontent.com/43613217/143423520-48253c2c-9732-440c-ad3d-00ac82b306a2.png)
Below the product selection, we could display the produc

[2021-11-25 11:15] PrestaEdit commented on #26741
Be carefull, there is you Back Office link inside the logs ! :)

[2021-11-25 11:32] hibatallahAouadni commented on #26747
Hello @lmeyer1

I manage to reproduce the issue only with PS1.7.8.0, 1.7.8.1 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/143432592-41349e94-0ac7-4ef6-9b81-97137d98c263.png)

The ps_hook is called 159 times (on develop, 276 times), while with older versions (like 1.7.7.8 and 1.7.6.7) it's called only 14 times:

![image](https://user-i

[2021-11-25 11:43] hibatallahAouadni commented on #26737
Hello @jpgilberg

It seems your issue similar to this one #20443
Could you please check it and feedback.

Thanks!

[2021-11-25 11:45] MatShir commented on #26679
@prestascott I'm transfering the issue into the new theme. Could you provide to the issue, the new display into the issue ;)

[2021-11-25 11:45] hibatallahAouadni commented on #26739
Hello @makitlas

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25966.
It has been fixed on PS1.7.8.1 :wink:

Thanks!

[2021-11-25 11:45] #26739 closed, assigned to nobody

[2021-11-25 11:46] hibatallahAouadni commented on #26739
Duplicate of #25966

[2021-11-25 12:06] Hlavtox commented on #26747
@eternoendless I think we should find out who let this code enter the codebase. Prestashop will never be fast, if we are optimizing on one end and somebody adds 150 queries to every page load just like that. 👎

[2021-11-25 12:09] Hlavtox commented on #20821
@MatShir Works for me man, let's do it!

@prestascott Scott, can you please make us a design of this summary block? I will also use it here - https://github.com/PrestaShop/PrestaShop/issues/20817. Thank you!

![91965685-20e00280-ed11-11ea-8a85-ae683b07b026](https://user-images.githubusercontent.com/6097524/143439156-737b41a7-ffff-4bba-8624-4ef3af709b4f.png)

[2021-11-25 12:30] Morph21 opened #26752 "API /customers endpoint inconsistent return format of JSON"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Endpoint /customers have 2 differen

[2021-11-25 12:35] Morph21 commented on #26752
Here is an example of returned id equals to 0

![image](https://user-images.githubusercontent.com/38075691/143442411-0073af64-5c3f-46d0-a93d-daa7f4f7d49d.png)

This bug also occures for /addresses.
I didn't test more endpoint but my rough guess is that it's an issue with every endpoint when it returns empty (It's good for xml but with json it's messed up

[2021-11-25 12:47] Progi1984 commented on #26373
Fixed by @SharakPL in #26622

[2021-11-25 12:47] #26373 closed, assigned to nobody

[2021-11-25 13:33] hibatallahAouadni commented on #26736
Hello @50l3r

I don't seem to understand the issue :thinking: with multistore enabled, I have two shops:
- Presta_1
- Presta_2
Each one has its own products, and every product has its own labels allow_oosp/out_of_stock:

![image](https://user-images.githubusercontent.com/23308427/143450573-7bd2d963-45c9-4807-9d06-68441ab54a21.png)

I see no issue in that :disappointed: could you please explain it

[2021-11-25 14:04] hibatallahAouadni commented on #26749
Ping @PrestaShop/prestashop-core-developers

[2021-11-25 14:27] MatShir commented on #11329
No fix currently for this issue, but you can a cart rule with product constraints and a time constraint. But I know it is not ideal. 😞

[2021-11-25 14:43] indusone commented on #26680
Permissions are 775 for files inside vendor folder.

[2021-11-25 14:46] indusone commented on #26680
Ok , tried resetting the module, it says hook id does not exist in database.

[2021-11-25 15:22] lmeyer1 opened #26754 "Too many queries to test if address_id exists"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When there is a product in the cart

[2021-11-25 15:23] HanaRebaiQA opened #26755 "FO - Wishlist button is blocked in the list of products attached to the brand page in FO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the list of products by a specif

[2021-11-25 15:26] khouloudbelguith opened #26756 "BO - Translations page - an exception is displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the develop branch, in the BO >

[2021-11-25 15:34] ocio87 commented on #26671
Hi @Hlavtox

I would appreciate if you have knowledge of this novelty that is presented in version 1.7.8.x.

In Colombia the currency is used without decimals and when the order is generated it always shows a status error with version 1.7.8.1. If I configure that the weight will have two tenths, the order is successful. This novelty was not presented to me with version 1.7.7.8.

I see that at the

[2021-11-25 15:38] AlexNovamac commented on #25796
Any update?

[2021-11-25 15:41] khouloudbelguith commented on #26756
Ping @boubkerbribri @nesrineabdmouleh

[2021-11-25 15:51] kickhatz commented on #26705
Hello. Im newbie in github, sorry if here i shouldnt comment. I have already this bug too.
P.S. when i turn off ps_crosssell module, this module still working in product page, but in BO disabled.
- have strange :ref: (3 image) but in product page it all chosen products by me.

![dis1](https://user-images.githubusercontent.com/95041373/143471160-e97fef72-9341-485c-8488-a925ac8904f4.JPG)
![dis2](htt

[2021-11-25 16:23] VidarPc commented on #26741
Thank you, removed it /xx/ :-)

[2021-11-25 16:26] hibatallahAouadni commented on #26680
which hook?

[2021-11-25 16:43] lmeyer1 opened #26759 "CI, PHP CS fixer fails because of new PHP version 8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue has been discussed on sl

[2021-11-25 16:51] hibatallahAouadni commented on #26740
Hello @makitlas

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23131.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-25 16:51] #26740 closed, assigned to nobody

[2021-11-25 16:51] hibatallahAouadni commented on #26740
Duplicate of #23131

[2021-11-25 16:52] khouloudbelguith opened #26760 "BO - the version of PrestaShop in the toolbar symfony is not correct"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Migrated page, when the

[2021-11-25 17:05] hibatallahAouadni commented on #26517
Hello @eveneme

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-25 17:05] #26517 closed, assigned to nobody

[2021-11-25 17:06] hibatallahAouadni commented on #26230
Hello @mmursalov

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-25 17:06] #26230 closed, assigned to nobody

[2021-11-25 17:10] SharakPL commented on #26642
I'd also put **Proceed to checkout** on top on mobile. Though I'm not sure it's an improvement also on desktop version:

![image](https://user-images.githubusercontent.com/5007456/143479700-e10d7446-1f6e-4c4c-b756-f2da80bfce1d.png)

Whole modal is too big for the information it contains. Arrangement also could be better. Maybe something like this (open images to compare actual size):

![image](htt

[2021-11-25 17:17] prestascott commented on #20821
Hello everyone,

@MatShir thanks for the specs and @Hlavtox for pinging the team

I did some wireframes to put down the features and changes. Let me know what do you think so I can work on the mockups properly next week.

Here is my design proposition:

**PRODUCT SELECTION**
![image](https://user-images.githubusercontent.com/54888056/143481371-7e1932e0-cf01-4781-9465-3b903fce2bec.png)

**SHIPPING*

[2021-11-25 17:17] hibatallahAouadni commented on #26692
Hello @PrestaEdit & @rflorent

Are you sure that you used this hook in Positions page in older versions?
Cause I tried to call it in PS1.7.6.7, I get nothing:

![image](https://user-images.githubusercontent.com/23308427/143481623-462ff9af-9032-4aa9-a5dc-baa6d4ee2b4c.png)

[2021-11-25 17:18] hibatallahAouadni commented on #26725
So, you only encounter the issue with PS1774?

[2021-11-25 17:32] hibatallahAouadni commented on #26741
Hello @VidarPc

I didn't manage to reproduce the issue with the provided infos.
Can you check if your system requirements are met when installing your shop :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

PS: thanks @PrestaEdit for your quick replies :rocket:

Thanks!

[2021-11-25 17:54] Poleepo opened #26761 "SetWsPositionInCategory (Product.php#L7117) does not support add first product in an empty category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Looking at code, we think that the

[2021-11-25 18:07] rflorent commented on #26692
Hello @hibatallahAouadni ,

That's the case, nothing show up on position tab. So you can't register that way.

I didn't say I used it on older versions. That's the first time I try to use this hook. As I find it in the docs, I thought I could use it like other hooks ! nothing on the invisibility in the position tab and db, would be good to describe how to use it...

[2021-11-25 18:26] ricchiralt commented on #26742
Hi @hibatallahAouadni, I see, although it is considered a matter of "improvement" in Prestashop the user, who is in a group configured not to see taxes pays them and the taxes are calculated on the total of the order.

Is there no solution?

[2021-11-25 19:03] ocio87 commented on #26671
Another person with a similar case, this time from Mexico.

https://www.prestashop.com/forums/topic/1057159-pago-exitoso-pedido-creado-pero-pedido-queda-en-estado-error-de-pago/#comment-3365538

![image](https://user-images.githubusercontent.com/12537826/143491062-a540a5d1-b5da-4943-9d23-42827496ce54.png)

[2021-11-25 19:38] prestaalba opened #26763 "Hide unavailable attributes option do not work properly on combinations with negative stock quantities"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When "Display unavailable attribute

[2021-11-25 20:54] matks commented on #26759
I label this as `Critical` because it blocks all contributions

[2021-11-25 21:04] kickhatz commented on #26705
@florine2623. Hi, i found where is bug, this is not ps_crossselling. It is public_html\themes\classic\templates\catalog\product.tpl > 228-241 line. But i dont know how to fix. i'll wait for answer here.

[2021-11-25 21:16] matks commented on #26745
What else is there to add 🤷‍♂️ @lmeyer1 is right all of this makes sense

[2021-11-25 21:21] matks commented on #26749
Usually, information messages that are passed as notifications are described as 'flash messages'. They are stored in sessions and their behavior is "store them until next page (whatever page) is displayed, and display them there". The goal of this system is to make sure that, no matter what page the visitor will visit, he will see the message.

One of the benefits of this approach: if I visit page

[2021-11-25 21:54] Hlavtox commented on #26749
Exactly Mathieu!

Notification is a one time success or error message. Your address have been added, order return has been submitted, your customer account has been transformed.

Permanent data, like having no orders should be done by just simply doing an else - like in product list where there are no products.

[2021-11-25 22:26] infinity1234 commented on #21661
Hi, same problem here, Prestashop 1.7.8.1

[2021-11-26 00:54] alfonsolr09 commented on #26747
i cant reproduce it
https://www.awesomescreenshot.com/video/6170252?key=9152097cab8ac47f99a1b234e913460f

[2021-11-26 05:35] Patrickclicweb commented on #26501
Hi,
the possibility of 301 or 302 redirection should be implemented in the .tpl of Category pages
as is now the case for the .tpl of Product pages

[2021-11-26 06:32] Kallou0 commented on #15187
This one worked for me. Thanks @Web2FixOy

[2021-11-26 07:01] lmeyer1 commented on #26747
@alfonsolr09
Please read _Steps to reproduce_. You didn't enable _Profiling mode._
Read https://doc.prestashop.com/pages/viewpage.action?pageId=51184700 first.

[2021-11-26 07:17] Fobba199l commented on #16826
I have the same issue.

In my case it's not only about vouchers which are created as a result of a refund.
The same goes for vouchers which got purchased as well.

Purchased vouchers and vouchers as result of a refund are not allowed to have any impact on the taxes.
Basically:
Even if the order is a free order because everything gets "payed" by a voucher, the invoice still needs to show the taxes

[2021-11-26 07:45] #26759 closed, assigned to matks

[2021-11-26 08:09] matks commented on #26749
It makes sense for me 👍

[2021-11-26 09:23] rodriciru opened #26766 "Exception on validateOrder"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If an exception occurs when validat

[2021-11-26 09:27] ikkiedikkie commented on #17317
Hi SA-Roger,

I also tried but unfortunately we can't get it to work either. this is really a lack in prestashop 1.7. we had an old site where this worked well. really a minus.

you want to be able to select which image is the main image and that you also have the option to show the others. I can't imagine anyone really needing this. Unfortunately I'm not really that passionate about coding but th

[2021-11-26 09:33] #16840 closed, assigned to Hlavtox, jolelievre

[2021-11-26 09:34] Progi1984 commented on #16840
Fixed by @Hlavtox in #26075

[2021-11-26 09:57] eternoendless opened #26767 "Build release packages for all the project's modules automatically and append them to the Github release"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-26 09:57] SharakPL opened #26768 "Docker setup invalid for linux/WSL"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

WSL: 2
Distro: Ubuntu
Docker Deskto

[2021-11-26 09:58] tswfi commented on #25801
We are seeing this also on one live shop

presta: 1.7.7.8
php: 7.3.20

we are trying to replicate this on our dev environment next.

I think this should be reopened.

[2021-11-26 10:04] kpodemski commented on #25801
Let me know @tswfi because I wasn't able to reproduce this issue, maybe it's related to something specific.

[2021-11-26 10:21] kpodemski commented on #26768
Hey @SharakPL

Just to be sure, which version of WSL? I recall there's more than one (I don't know the details)

[2021-11-26 10:25] SharakPL commented on #26768
WSL 2

[2021-11-26 10:26] tswfi commented on #25801
https://github.com/tecnickcom/TCPDF/pull/174 sounds like the culprit

[2021-11-26 10:27] HanaRebaiQA commented on #26750
Hello @Prestaworks
Thanks for your contribution.

I did manage to reproduce the issue with PS17.8.0, PS1.7.8.1 and PS1.7.7.8
Here the attached screen-records :
PS1.7.8.0 :
https://watch.screencastify.com/v/wwH0VrK7eqozyEUlBo3l

PS1.7.7.8 :
https://watch.screencastify.com/v/U7HAlXhaLpJxzxYQSpsG

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of r

[2021-11-26 10:31] lmeyer1 commented on #26745
Just another improvement:
In table *ObjectModel instances* add the function name in stacktrace and display object id.

[2021-11-26 10:40] tswfi commented on #25801
yup, on the live server tcpdf is on version 6.3.2 and this commit fixes the situation

https://github.com/tecnickcom/TCPDF/commit/510070b5e068e10d97b8cb0e25295e54755ec09d

now to replicate this on a test environment.

[2021-11-26 10:44] lmeyer1 commented on #26747
@hibatallahAouadni

This problem appeared in this version, because the possibility to deactivate hooks is new in this version, as Daniel stated in slack https://prestashop.slack.com/archives/CTKHSPWPM/p1637922790248200?thread_ts=1637773407.201500&cid=CTKHSPWPM

[2021-11-26 10:46] HanaRebaiQA commented on #26752
Hello @Morph21

I have deleted customers but none of them had a `0` as an `id`, check the screenshot below:

![image](https://user-images.githubusercontent.com/92912932/143568893-46b374ef-5b54-4c83-aa16-0b955f42e326.png)

Please check and feedback.
Thanks!

[2021-11-26 10:49] VidarPc commented on #26741
Hello,

The hosting environment is fully compatible with the newest Prestashop version. Very soon 1.7.8.1 will be present through SiteGround's App installer in Site tools as well. The current version there is 1.7.8.0 since they usually wait for a few weeks in order to make sure that the new version doesn't cause any issues and all reported bugs are addressed by the Presta devs.

We downloaded the

[2021-11-26 11:23] HanaRebaiQA commented on #26754
Hello @lmeyer1

Thanks for reporting the issue!
I reproduce the issue with PS1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/92912932/143572846-43d0d099-d031-464d-b60d-ae6c5a21affe.png)

It's a regression cause on PS1778 the request is not repeated. See the attached screenshot below :

![image](https://user-images.githubusercontent.com/92912932/14357339

[2021-11-26 11:47] 50l3r commented on #26736
Problem occurs when you have multistore and a group of shops with stock synchronization

![](https://i.gyazo.com/462aec85072f3ce311420de0883e6c75.png)

[2021-11-26 12:08] matks commented on #26471
The root cause of https://github.com/PrestaShop/PrestaShop/issues/25248 and this issue is probably the same.

[2021-11-26 12:08] matks commented on #25248
The root cause of https://github.com/PrestaShop/PrestaShop/issues/26471 and this issue is probably the same.

[2021-11-26 12:18] tswfi commented on #25801
actually how does this work? composer.json says that above 6.2.12
https://github.com/PrestaShop/PrestaShop/blob/630ebcc8c3e9369b24d4326e7e091a2294cfcf58/composer.json#L130
but at what point of the release build process are those updated? shouldn't we get the latest tcpdf for each new version?

[2021-11-26 13:00] tswfi commented on #25801
ok, after digging a bit this is what I found:

[code]

tcpdf versio 6.3.4 fixes this problem. So the solution is to upgrade to atleast ps 1.7.8.0

I didn't dig backwards on when this was introduced tho...

note that `docker-compose up` seems to install even newer version (6.4.1 as of writing this) as the lock file has been updated.

https://github.com/tswfi/PrestaShop/blame/develop/composer.lock#L

[2021-11-26 13:29] HanaRebaiQA commented on #26766
Hello @rodriciru

Could you please check this  https://github.com/PrestaShop/PrestaShop/issues/22262#issuecomment-795599209 ?
I think its helpful.

Thanks!

[2021-11-26 13:38] mickaelandrieu opened #26771 "Keep the Object Model override system valid with PHP 8.2+"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-26 14:05] lmeyer1 opened #26772 "Get specific prices: let mysql optimize the query."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is not really a bug. It's a pe

[2021-11-26 14:59] HanaRebaiQA commented on #26768
Hi @SharakPL,

Thanks for ou report.
Do you have the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/17479

Thank you!

[2021-11-26 15:17] SharakPL commented on #26768
@HanaRebaiQA no, the cause of that one is probably mixed PATH as WSL gets everything from windows PATH and adds whatever is in linux PATH. I get that error too sometimes.

This one is strictly about docker-compose file, which never works. #26769 fixes that for WSL. I'd appreciate if someone could check this change on Mac to be sure it doesn't break anything

[2021-11-26 15:26] smazelerat opened #26775 "Cart Rules configuration : Exclude discounted products option disappeare"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

While creating or editing

[2021-11-26 15:41] HanaRebaiQA commented on #26763
Hello @prestaalba

Thansk for reporting the issue!
I can reproduce the issue with PS1778, PS1780 and develop, see attached screen-records below :

PS1778 :
https://watch.screencastify.com/v/tmwvof9Bn7OJXXKGf6fy

develop :
https://watch.screencastify.com/v/0jeVYcKPeAE0SSLmPnnH

I'll add this to the debug backlog so that it's fixed.

Thanks!

[2021-11-26 15:47] prestaalba commented on #26763
Hello @HanaRebaiQA I already made a PR with the solution https://github.com/PrestaShop/PrestaShop/pull/26764. Regards.

[2021-11-26 15:59] Rventura1989 opened #26777 "When increasing product purchase quantity, product image changes as well as the product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating the database to 1.7.

[2021-11-26 17:16] DPStudioGR opened #26778 "Buttons (qty:up/down) do not have an accessible name in Product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi there..
I have searched everywhe

[2021-11-26 18:35] hibatallahAouadni opened #26779 "[BO - Mobile] Button "Download credit slip" is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The button "Download credit slip" i

[2021-11-26 18:49] hibatallahAouadni opened #26780 "[Wishlist - mobile] the block wishlist is not aligned in Customer View page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

the block wishlist is not aligned i

[2021-11-27 08:54] cariena1 commented on #12857
Hi all.  I am trying to edit the TEXT for my Gift Wrapping, but have looked everywhere in the back office, and cannot find it.  please assist?  I have Prestashop 1.7.7.2. THank you so much

![image](https://user-images.githubusercontent.com/73464144/143674931-7d4f1cfc-93de-48a1-85b1-ad33eb490654.png)

[2021-11-27 14:08] lim3ra commented on #9809
Prestashop 1.7.8.1
PHP 7.4.24

Using new, experimental product page, still I can see this issue:

`Error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 20480 bytes)
--
in FeatureRepository.php line 100`

do we have any other ideas?

[2021-11-27 15:47] SharakPL commented on #25488
There is already:

https://github.com/PrestaShop/PrestaShop/blob/47de6c9d85deedfe5326bc9d5bf9c69d282d6392/src/Core/Product/ProductExtraContent.php

and Classic theme is set up for it:

https://github.com/PrestaShop/PrestaShop/blob/47de6c9d85deedfe5326bc9d5bf9c69d282d6392/themes/classic/templates/catalog/product.tpl#L216-L220

but afaik none of the default modules use it. Could anyone provide an ex

[2021-11-27 15:54] go-sudo commented on #26570
Hello @matdu58 it works now on 1.7.8.1 you can edit you language no need to enable it on front office

[2021-11-27 22:31] Hlavtox commented on #26779
I think we can do a min-width on the button instead, so it can wrap to two lines at least. It eats too much space if it does not wrap at all I think.

[2021-11-27 23:30] photinia73 opened #26781 "PS 1.7.8.1 Link Widget error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating PS  from 1.7.7.8 to

[2021-11-27 23:40] alfonsolr09 commented on #26781
![image](https://user-images.githubusercontent.com/62474824/143723535-d208f67c-0ceb-41b1-8844-c0ceaa048d5f.png)

[2021-11-27 23:44] alfonsolr09 commented on #16306
can we merge this into 1.7.8.x?

[2021-11-28 01:58] ghost opened #26783 "ps_metrics absolute path on line 238 cause open_basedir warning"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As mentioned on the title trying to

[2021-11-28 10:25] photinia73 commented on #26781
O sorry, you xisited the 1.7.7.8
Please, visit the https://old.te.com.ua

[2021-11-28 10:29] kpodemski commented on #26781
Hello,

It seems like you run an outdated database for this module, have you upgraded it in the back office? You definitely should have the `position` column in `link_block_shop` table.

[2021-11-28 12:01] photinia73 commented on #26781
Yes you are right! After upgading all modules this problem disappeared. But appear the bad look of Search (with scroll bars)
![image](https://user-images.githubusercontent.com/50954519/143766761-c5c6e361-2822-49c9-968c-afc96fc52a8c.png)
in the 1.7.7.8 and before all was Ok

![image](https://user-images.githubusercontent.com/50954519/143766802-d16f35c8-b4ca-456d-83d2-a668e0c7df04.png)

[2021-11-28 12:27] kpodemski commented on #26781
Try to rename/remove `themes/yourtheme/modules/ps_searchbar/ps_searchbar.tpl`. That should do it.

[2021-11-28 16:22] alfonsolr09 opened #26784 "margins (keyboard enter key) do not work in pages section"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

margins (keyboard enter key) do not

[2021-11-28 16:55] alfonsolr09 commented on #26781
i see it ok

[2021-11-28 17:06] photinia73 commented on #26781
Realy helped. Thank you very much!!! Other pages seems Ok )

[2021-11-28 17:07] photinia73 commented on #26781
Realy helped. Thank you very much!!! Other pages seems Ok )

[2021-11-28 17:37] mkuzmych opened #26785 "After returning from the payment gateway - requires user authorization"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the user returns to the site f

[2021-11-28 18:04] alfonsolr09 commented on #26709
Now works good...

[2021-11-28 18:04] #26709 closed, assigned to nobody

[2021-11-28 19:54] Hlavtox commented on #26784
@alfonsolr09 Send the source code that tinyMCE created.

[2021-11-28 19:56] alfonsolr09 commented on #26784
Who is tiny? @Hlavtox

[2021-11-28 21:03] Matt75 commented on #26785
Caused by recent change of Cookie Same-Site directive.

Previously default value was `None` now it's `Lax`.

https://developer.mozilla.org/en/docs/Web/HTTP/Headers/Set-Cookie/SameSite

So when customer returns to your shop from payment gateway, due to this change PrestaShop cookie will not be used due to a redirection from external website.

Thats why modern payment gateways use Javascript compone

[2021-11-28 21:09] #26781 closed, assigned to nobody

[2021-11-28 23:12] pmartin-webimpacto commented on #26784
When break line (keyboard enter key),  TinyMCE source code has: "<p></p>"  (And that it's saved on database)

But on the TinyMCE iframe it's printed: <p> **<br /**> </p> (That's it's the reason cause on the iframe the line break it's seen)

![image](https://user-images.githubusercontent.com/16488733/143789720-0b24976d-71ad-4efd-9a11-2ecde5118b22.png)

@alfonsolr09 i'm not pretty sure that this it'

[2021-11-28 23:32] alfonsolr09 commented on #26784
but what do you get by adding an empty paragraph?

[2021-11-29 03:03] Dar-us-Salam commented on #26754
Hi, I have been experiencing the same issue even in PS 1.7.8.1 and thought it was a third-party module which was causing the issue until I searched and found this page. My shop has large address database so the Doubles are very high in the 1600-2300 range and is occurring on almost all the shop pages when customer is logged in.

Here are a few screen shots:
* Address Query: https://prnt.sc/20y2hei

[2021-11-29 03:33] jolelievre commented on #9809
@lim3ra can you tell me how many features and feature values you have in your database please?

[2021-11-29 05:15] Hlavtox commented on #26784
The solution is to press enter to make a new paragraph and the insert a single space. Should keep the paragraphs.

[2021-11-29 05:36] mkuzmych commented on #26785
@Matt75  Hello! Thank you very much for such a detailed answer.

How to ask for your advice - I understand that in the future this directive will be in future updates, and therefore it is better than possible to redesign the module using Javascript gateway component?

[2021-11-29 05:42] erwansimplon commented on #23027
C'est relatif à gsitemap, j'ai eu le même problème.
Dans la fonction getContent la variable de configuration : GSITEMAP_DISABLE_LINKS, ajoute les lien cocher.
Alors que dans la fonction getMetaLink on créé les lien pour les éléments non cochés.
Le correctif pour m'a part à était de changer la ligne 352 sur la version 4.2.0.

j'ai changer cette ligne :
`if (!in_array($meta['id_meta'], explode(',',

[2021-11-29 06:00] alfonsolr09 commented on #26784
Okay, I'll test it later. But then, what is the use of introducing an empty paragraph?

[2021-11-29 06:20] Hlavtox commented on #26784
@alfonsolr09 I also don't know, but you created an issue about it, so why do you ask? 😁😁

[2021-11-29 06:22] alfonsolr09 commented on #26784
I created an issue because I wanted to enter an intro as a margin, but it did not work. 😅

[2021-11-29 06:24] Hlavtox commented on #26784
Man, ENTER is a new paragraph in Word since I was born :D

[2021-11-29 06:27] alfonsolr09 commented on #26784
Yes, but i put an empty ENTER and no work.
In word, if you introsuce an ENTER and do not write anything, it works as an empty paragraph (margin).

[2021-11-29 06:28] alfonsolr09 commented on #26784
I think I'm not explaining myself well ...

[2021-11-29 07:20] Hlavtox commented on #26780
@hibatallahAouadni Solution is to remove the `col`, not add `row` ;-)

[2021-11-29 07:28] Hlavtox commented on #13737
Each category page should have it's own canoncial.

Canoncial being in wrong language is a huge bug of course.

[2021-11-29 08:16] hibatallahAouadni commented on #16306
Ping @PrestaShop/product-team

[2021-11-29 08:19] rodriciru commented on #26766
Nop. the problem its not sending mails. Its order validation, that raises an exception when tries to send mail.
i think this should be controlled too avoid order errors.
I know that my config of mails its not correct, but now i dont care about that!

[2021-11-29 08:19] HanaRebaiQA commented on #26777
Hello @Rventura1989

Thanks for reporting the issue.
I did not manage to reproduce the issue with PS1781. See the attached screen-record :

https://watch.screencastify.com/v/tpButFpjEn9YmKhTy0iA

Please check and feedback.

Thanks!

[2021-11-29 08:24] Matt75 commented on #26785
If your payment provider allow to use iframe or JavaScript components, I recommend to implement it otherwise you can change Same-Site directive of your Cookie to None like before to restore previous behavior waiting another solution.

[2021-11-29 08:28] hibatallahAouadni commented on #26779
Hello @Hlavtox

I don't think so, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/143832158-de562b03-1a0f-4d5c-85fe-f4df9def4f75.png)

On mobile, we already have `overflow-x: auto;` in the table, so IMHO I think it will be better if we use the nowrap :wink:

Thanks!

[2021-11-29 08:38] hibatallahAouadni commented on #25975
Ping @matks why did you close this problem and add the "Ready" and "WIP" labels?!

[2021-11-29 08:40] marionf commented on #16306
@alfonsolr09 No, only regressions are fixed in patch versions

[2021-11-29 08:43] lmeyer1 commented on #26754
@Dar-us-Salam

There are about 45 x the same query per article in the cart when viewing the cart page, and about 30 x on a product page... Did you have that many articles in your cart?

See #26718

@MatShir, @eternoendless, @jolelievre
Look at https://prnt.sc/20y2j8j from comment above: 2238x the same query looks really crazy !

[2021-11-29 08:49] matks commented on #25975
@hibatallahAouadni The goal of this issue was to gather answers to a question. The question was open for 3 months I think we have gathered all answers we needed 😉  . So I close it.

I add "Ready" because... well it's ready.
I add "WIP" because... well we're working on it, right ?

[2021-11-29 09:01] eternoendless commented on #25975
It makes no sense to work on a closed issue. Either you're working on something else than this issue, or you are, and the issue is open.

[2021-11-29 09:22] krekken opened #26786 "Error with dynamical form rendering in 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i wan't to use a form, where m

[2021-11-29 09:27] hibatallahAouadni commented on #25975
So, I reopen it :wink: otherwise you can close it, remove these labels and open a new issue to work on it :pray:

[2021-11-29 09:29] HanaRebaiQA commented on #26784
Hello @alfonsolr09

Thanks for your report.
To resolve you problem, you can check this solution :
Add this line of code : `<h1 style="margin-bottom: 100px;">` and its well worked. Hope it's helpful.

See the attached screen-record :
https://watch.screencastify.com/v/LgkZVFsGWaUl4FuGdUQT

So, i will close this issue.

Thanks!

[2021-11-29 09:30] #26784 closed, assigned to nobody

[2021-11-29 09:31] hibatallahAouadni commented on #26745
Thanks @matks for your approval :rocket:

[2021-11-29 09:32] lmeyer1 opened #26787 "Unefficient retreival of $this->id_lang in class Cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I discovered this bug in Profiling

[2021-11-29 09:33] hibatallahAouadni commented on #26725
@0dp could you please explain why you close the issue? Did you find a solution for your issue?
Thanks in advance :pray:

[2021-11-29 09:50] marionf commented on #26671
@khouloudbelguith This issue is only with currency DZD and Colombian currency or also with other currencies?

[2021-11-29 10:12] mparvazi commented on #26624
It'll be fixed as a part of bundle for minor front-end problems in BO.

[2021-11-29 10:25] 0dp commented on #26725
Hi @hibatallahAouadni
Since it was not reproducible on other versions i thought maybe it's not relevant.

I did not find a solution though.

[2021-11-29 10:30] alfonsolr09 commented on #26784
But its a bug? Or is it a function that only I want?

[2021-11-29 10:32] ahmedbdrn commented on #26671
Hello @marionf ,

I currently have this issue with COD and Franc CFA currency, I temporarily switched to having 2 decimals as a workaround. (Thanks to @ocio87 )

@khouloudbelguith , could this issue be resolved in the next patch or module update?

Thank you.

[2021-11-29 10:39] Hlavtox commented on #26784
@alfonsolr09 Empty space is not done by empty paragraph, if you did it on your university seminary work, you would lose points. You need to set proper margins as @HanaRebaiQA specified.

[2021-11-29 10:43] hibatallahAouadni commented on #26761
Hello @Poleepo

I tried with this WS to create a new product in an empty category (id=10, name=kids):
[code]
This is the result:
[code]
It seems the product has been created successfully, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/143853838-e5e79fc2-dbf6-41a9-8178-650759202631.png)

Please check and feedback.
Thanks!

[2021-11-29 10:46] hibatallahAouadni commented on #26725
Hello @0dp

Indeed :wink: you just need to write this comment while closing this issue :pray:

Thanks!

[2021-11-29 10:46] #26725 closed, assigned to nobody

[2021-11-29 10:48] matks commented on #26786
Wah 😮  that's very weird

-`form(form)` works but not `form_start(form)`
-  fine with 1.7.7 but not 1.7.8

[2021-11-29 10:51] hibatallahAouadni commented on #26771
Hello @mickaelandrieu

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be hap

[2021-11-29 11:05] danidomen commented on #26784
@alfonsolr09 I understand you. The thing is that implementation of TinyMCE, better or not, is prepared to "not render" empty things like an empty paragraph maybe due considerations of the own browser interpretation of the <p> tag that doesn't have any size rendered if that tag is empty. As I know, also on wordpress plugins, TinyMCE has the same "problems" that you can see something ligth differenc

[2021-11-29 11:14] NeOMakinG commented on #26510
What about exporting these components to an npm module directly from the core ? We would have a folder dedicated to the npm module inside the core, with his own package.json, with an index.ts importing every vue components and exporting them, so it will be directly linked to the core itself without a secondary repository

And the core will rely on the components locally, while external works could

[2021-11-29 11:15] hibatallahAouadni commented on #26775
Hello @smazelerat

Let me explain why this option hide when you choose `Apply a discount: Amount`, let's take an exmple:
In my cart I choose two products:

- T-shirt: price=30$ with a discount 20%, final price is 24$.
- Coat: price=60$

#### Now let's apply a % discount, for exemple 10%:

1. If we **enable** `Exclude discounted products`, the total will be:
(T-shirt) 24 + [(Coat) 60 - 10%]= 24 + 5

[2021-11-29 11:24] alfonsolr09 commented on #26784
Ok, Thanks to both of you.
Here in Spain and from what I understand, if you want a blank space or a line break, press ENTER and add a "margin" or "white line"
The solution you propose is fine and it solves the problem for me, but I am not sure that the ENTER function is correctly defined...

[2021-11-29 11:25] hibatallahAouadni commented on #26783
Hello @notyIssue

It seems that your issue is not a PrestaShop core bug.
If your module is Metrics Official, please contact support team on Addons.

We will close this issue.

Thanks!

[2021-11-29 11:25] #26783 closed, assigned to nobody

[2021-11-29 11:31] mparvazi opened #26792 "[BO] Bad display of the notifications dropdown in medium screen"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When screen size is between 768px a

[2021-11-29 11:38] pmartin-webimpacto commented on #26766
Hi @rodriciru ,  if function proc_open() is not disabled, you get the same exception?
If not: why to disable that function?

As I know, Prestashop (and Symfony) on the Mail Class , use Swiftmailer Library:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Mail.php#L375

And SwiftMailer library requires proc_open() enable to work.
https://github.com/swiftmailer/swiftmailer/blob/master/l

[2021-11-29 11:43] khouloudbelguith commented on #26671
Hi @marionf,

This issue occurs with a currency that has units of thousands and precision = 0.
If we edit any currency except the default currency
![image](https://user-images.githubusercontent.com/16067358/143862114-6d65f15e-40b7-44f7-b94e-7cbc15037e64.png)

I will have the same issue
![image](https://user-images.githubusercontent.com/16067358/143862160-41ad9e17-a6be-4ccd-b2f4-11cc18a4ff06.png)

[2021-11-29 11:51] matteolavaggi opened #26793 "PS 1.7.6.9 featured not saved and not read from database"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Try to add a feature in BO and save

[2021-11-29 12:01] matteolavaggi commented on #26793
The only error i can found in consolle is this:
jquery.autocomplete.js:84 Uncaught TypeError: Cannot read properties of undefined (reading 'opera')
    at new $.Autocompleter (jquery.autocomplete.js:84)
    at HTMLInputElement.<anonymous> (jquery.autocomplete.js:33)
    at Function.each (main.bundle.js:253)
    at De.fn.init.each (main.bundle.js:253)
    at De.fn.init.autocomplete (jquery.autocomp

[2021-11-29 12:05] jmrftrs opened #26794 "Category listing responsive"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi, the listing in category in the

[2021-11-29 12:06] jmrftrs commented on #26794
Update with image size

<img width="195" alt="Captura de pantalla 2021-11-29 a las 13 05 52" src="https://user-images.githubusercontent.com/90832277/143865217-00b1e715-071e-4109-9893-15f6483f538c.png">

[2021-11-29 12:51] #26793 closed, assigned to nobody

[2021-11-29 12:52] notyIssue commented on #26783
I'll not do that, since is a Prestashop Core Bug, i had to solved it in Module Core class of Prestashop, since PrestaShop allows to pass all kind of paths, i saw that later, this error also occurs with ps_checkout.

I solved it just adding a PS_ROOT_DIR in line 2509 af Moldule.php

If this is the way is the last time i'll post an issue, thanks

[2021-11-29 13:13] cy-altern opened #26795 "versions 1.7.7 & 1.7.8 : defined() in error because of missed quotes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

`_PS_ENV_` whitout quote L64 on fil

[2021-11-29 13:48] NeOMakinG commented on #26794
Hey, what's the exact version? 1.7.8.1?

[2021-11-29 13:50] mparvazi opened #26796 "[BO] Bad display of the Edit quantity field in Stock page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is a CSS rule for replacing n

[2021-11-29 13:53] jmrftrs commented on #26794
1.7.8.1

[2021-11-29 13:54] jmrftrs commented on #26794
Ok, then I'll try to research a little more :(
Thanks

[2021-11-29 13:55] hibatallahAouadni commented on #24474
@matthieu-rolland so shall we change the issue status to **`Ready`**?

[2021-11-29 14:08] #26628 closed, assigned to matks

[2021-11-29 14:17] nesrineabdmouleh opened #26797 "BO - Products Block disappear when we need to add new product to the order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Orders page > View firs

[2021-11-29 14:27] lim3ra commented on #9809
ps_feature_value and ps_feature_product have around 130k records each

[2021-11-29 14:40] jolelievre commented on #9809
Ok, so there is no magical solution for such a large list 😅

Currently, we don't display all the feature values, however we create a select box with the whole list of Features. What we could do is not prefill this select bow and instead perform a search while the user is typing, but the drawback of this solution is that you can no longer scroll the list of features...

Then once the feature is sel

[2021-11-29 14:51] hibatallahAouadni commented on #26792
Hello @mparvazi

I reproduce the issue with PS1767, PS1781 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/143889419-33bc9c67-248d-4024-8b53-1fa3f00fedef.png)

This issue occurs only on migrated pages. I’ll add this to the debug backlog so that it’s fixed.
Please be aware that due to the high number of reported issues, some bugs might ta

[2021-11-29 14:54] hibatallahAouadni commented on #26795
Hello @cy-altern

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-11-29 14:55] lim3ra commented on #9809
I think I found the issue

`SELECT * FROM `ps_feature_product` WHERE `id_feature` = 0;` returns 130k records
`SELECT * FROM `ps_feature_value` WHERE `id_feature` = 0;` - same

just to compare

`SELECT * FROM `ps_feature_value` WHERE `id_feature` != 0; returns ~2k records`

IDK if there is some kind of bug but I have a feature with ID 0 duplicated thousands of times. I am going to clean DB, remove

[2021-11-29 14:58] hibatallahAouadni commented on #26794
Hello @jmrftrs

I didn't manage to reproduce the issue with PS1781 as @NeOMakinG mentioned.
Waiting for your feedback.

PS: thanks @NeOMakinG for your quick replies :superhero:

Thanks!

[2021-11-29 15:15] #26797 closed, assigned to nobody

[2021-11-29 15:33] cy-altern commented on #26795
done

[2021-11-29 15:59] hibatallahAouadni commented on #26796
Hello @mparvazi

I didn't manage to reproduce the issue with develop (PS8.0.0), see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/143900849-5c893e82-3a70-490f-9b6b-dd9ff7907735.png)

Please check and feedback.
Thanks!

[2021-11-29 16:01] mparvazi commented on #26796
Hello @hibatallahAouadni

I tested in firefox.

[2021-11-29 16:16] hibatallahAouadni commented on #26786
Hello @krekken

Following these steps, I had no issue:
1. Clone your module under /modules
2. Access to BO>IMPROVE>Modules>Module Catalog
3. Install the module
4. Click on Configure button
5. Save the configuration
6. Success => no error

![image](https://user-images.githubusercontent.com/23308427/143903637-c226c9f5-9bbf-48b9-83f3-af794ca152af.png)

Is there a missing step to reproduce the issue?

[2021-11-29 16:33] Hlavtox opened #26800 "Add hook to display custom content in checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-29 16:35] hibatallahAouadni commented on #26785
Hello @mkuzmych

Thanks @Matt75 for your quick replies :superhero:
Closing this issue as it has been solved by changing the configuration.

Thanks!

[2021-11-29 16:35] #26785 closed, assigned to nobody

[2021-11-29 16:41] rodriciru commented on #26766
yes, i know that.
Im not complaining about mail. My complai is exception catch in validation

[2021-11-29 16:43] hibatallahAouadni commented on #26772
Hello @lmeyer1

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2021-11-29 17:10] #12984 closed, assigned to nobody

[2021-11-29 17:11] #21558 closed, assigned to nobody

[2021-11-29 17:29] jolelievre commented on #9809
Ohh this is very weird indeed, `id_feature == 0` should not be possible since it's supposed to be an unsigned primary key with auto-increment Maybe your Mysql database is not correct, maybe you should check its structure but this is how the feature table is created:

[code]

So `id_feature` should never be 0, let's say that for some reason one row was created with this ID it should be unique becau

[2021-11-29 17:39] lim3ra opened #26802 "Prestashop 1.7.8.1 - AJAX product controller randomly returns an empty response with 200 status."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

AJAX product controller randomly re

[2021-11-29 19:19] Progi1984 commented on #26471
Fixed in #26699 by @atomiix & tested by @khouloudbelguith.

[2021-11-29 19:19] #26471 closed, assigned to atomiix

[2021-11-29 19:50] krekken commented on #26786
![image](https://user-images.githubusercontent.com/58357424/143933033-6b92025d-d379-4556-8fcd-4c7da05618fa.png)
i added a tab, and if you click on that you'll be able to see the bug. its either working if you're using 1.7.7.8, or not if you're using 1.7.8.1

[2021-11-29 22:31] Dar-us-Salam commented on #26754
I only had 5 items in the basket (qty 1 of each) when I did Profiling and took the screenshots so that shouldn't be an issue.

[2021-11-29 23:13] vodd commented on #26671
![image](https://user-images.githubusercontent.com/591515/143957310-1a3e27cc-4c57-4d2b-9a36-c2bc02bd78b2.png)
this value fixed my problem

thx @ocio87

[2021-11-30 07:21] yannicka opened #26803 "Wrong count of products on filters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The product counter of the filters

[2021-11-30 08:22] Lionel-dev opened #26804 "[RE-order] No notification when an error occurs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I noticed that when a customer want

[2021-11-30 08:37] hibatallahAouadni commented on #26800
Hello @Hlavtox

Thank you for your suggestion. The Developers Team will take it into consideration for future developments.
Could you please provide more details about these hooks :pray:

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy :relaxed:

Thank you

[2021-11-30 08:49] matks commented on #26771
PHP8.2 is going to be a challenge.

I think we will decide when we start the PHP8.2 compatibility.

I will give my opinion. It might not be the final decision, there will be a vote for this decision.

My opinion is that I would rather be in favor of deprecating dynamic properties.

I think this might look like a good idea because it looks like "I can do a lot of things without having to write a lo

[2021-11-30 09:02] hibatallahAouadni commented on #26709
Thanks :relaxed:

[2021-11-30 09:04] hibatallahAouadni commented on #19398
Hello @chale96

Since we had no news from you for days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-30 09:04] #19398 closed, assigned to nobody

[2021-11-30 09:05] hibatallahAouadni commented on #26564
Hello @yannicka

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-30 09:40] matteolavaggi commented on #9542
Simple answer, after 4 years prestashop not work at all with memcached enable. Dont know why dev team leave the option in back office if this was newer made working ... maybe to include in specs "support memcached". But this is not true.PRESTASHOP does not support memcached. Also if you fix the bug and become able to add server, you will found many issue on saving product and configuration (not up

[2021-11-30 09:49] matteolavaggi commented on #18171
@kpodemski i've made some dee test using all type of caching system, and yes, today prestashop does not support memcached at all. BTW this is really a great pity, memcached dedicated server help to reduce of about 60% loading time also under full page cache (also memcached) plugin.
The only thing I can recommend (I don't think the development team will ever fix this problem because it requires maj

[2021-11-30 10:01] pmartin-webimpacto commented on #26638
Hi @alfonsolr09

Right now this is a new feature that I don't know if it's on the Prestashop road map.
But there're modules that can do it on Addons Prestashop.

[2021-11-30 10:09] ets-soft commented on #18171
@matteolavaggi  I can confirm the problem still here in PrestaShop 1.7.8.1
@khouloudbelguith won't PrestaShop manage to fix this? this is really big issue!

[2021-11-30 10:13] matteolavaggi commented on #18171
This will not be fixed ... This is a function that was never developed,
forgot it has no sense to hope in something that for the last 4 years was
not released. Don't enable, maybe some dev will remove from BO ...

Il Mar 30 Nov 2021, 11:09 ets-soft ***@***.***> ha scritto:

[2021-11-30 10:14] kpodemski commented on #18171
@ets-soft

I have a working fix for this with simple `Cache::flush()` when you save the block, but the issue with the Memcached in PrestaShop is a lot bigger. We need to re-think the strategy for the Memcached and how to implement it within a module. For example, in `ps_linklist` we probably should be able to run something like: `Cache::flush('ps_linklist_*')`.

[2021-11-30 10:15] NulAsh commented on #23057
Here's a fix
https://github.com/NulAsh/sekeywords/commit/6e183d1d864ea865eb762aadb6c4c27b6ef976a2
I cannot create pull request because original repository is archived.

[2021-11-30 10:20] hibatallahAouadni commented on #26787
Hello @lmeyer1

Thanks for reporting this issue :rocket:
This behavior has been introduced since PS1.7.7.3:

### PS1.7.6.7 & PS1.7.7.0 & PS1.7.7.2:

- Empty Cart: 3
![image](https://user-images.githubusercontent.com/23308427/144023315-579e927e-ca08-4d6c-8c08-850aee3e3d84.png)
- Cart not empty: 3
![image](https://user-images.githubusercontent.com/23308427/144028823-0430322b-9609-4aef-9809-894233755

[2021-11-30 10:20] NulAsh commented on #23057
They have messed with parenthesis here, so second part of this condition was always false - before PHP deprecated non-string needles in strpos().<br/>`Tools::getHttpHost(false, false)` is a string, containing hostname of current server.<br/>`Tools::getHttpHost(false, false) == 0` is usually `true` because string is converted to number (but if hostname starts with a number, it will evaluate to `fal

[2021-11-30 10:23] PierreRambaud commented on #12984
I don't plan to work on it, the solution is not the right one. Everything will be handled when the project will follow the Symfony architecture.

[2021-11-30 10:46] ets-soft commented on #18171
@kpodemski  ps_linklist is just an example. This problem frequently happens for other data entities, you save in BO but the update doesn't reflect on FO.

@matteolavaggi I found that PrestaShop detects cached data tables using regular expression that contain a "`" character in the regular expression before and after table names of **SQL Select queries**. So if Select query doesn't have "`" charact

[2021-11-30 10:48] kpodemski commented on #18171
Thank you for your feedback @ets-soft

[2021-11-30 11:00] matteolavaggi commented on #18171
Memcached cluster server  manage also full page cache and lot more feature,
so clean it is not a solution. This workaround can be used in dev server
but for product nobody can rely on a "maybe can broke your store"
configuration. What I can see here is a very early alpha function (the
cache) released like stable in 5 years code. This is absolutely a
nightmare.

Il Mar 30 Nov 2021, 11:46 ets-soft *

[2021-11-30 11:10] #26768 closed, assigned to nobody

[2021-11-30 11:14] alfonsolr09 commented on #26638
I know it, and i have it. 😁

[2021-11-30 11:15] SharakPL commented on #23057
@NulAsh you're fix is invalid! It's not comparison with `Tools` and it's not even a boolean. It's comparison with `strpos` which returns a number. `0` means the string should be at the beginnig to make condition valid. `strpos` was depreciated and this is causing this issue so the fix would require using something else. But this is pointless now as:
- module is archived
- Prestashop doesn't even u

[2021-11-30 11:24] lim3ra commented on #26802
I was able to get the error message:

`[PrestaShopObjectNotFoundException]
Can not retrieve the id_product_attribute
at line 7532 in file classes/Product.php

7527.                 );
7528.             }
7529.         }
7530.
7531.         if (empty($idProductAttribute)) {
7532.             throw new PrestaShopObjectNotFoundException('Can not retrieve the id_product_attribute');
7533.         }
75

[2021-11-30 11:35] hibatallahAouadni commented on #26778
Hello @Stampa-Stampa

I reproduce the issue with PS1767, PS1778 and PS1781, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/144038326-0071f2a4-9644-4def-b574-c3601775823b.png)

![image](https://user-images.githubusercontent.com/23308427/144040348-5dd409c6-e715-42c4-b83f-83e284780caf.png)

I’ll add this to the debug backlog so that it’s fixed.

Please

[2021-11-30 12:40] aytekinazmi12 opened #26807 "1.6.0.9 admin dashboard stats error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

After the php version is 7.

[2021-11-30 12:55] pmartin-webimpacto commented on #26807
Hi @aytekinazmi12 .

It's not a bug.
Prestashop 1.6.x it's not compatible with PHP 7.3

![image](https://user-images.githubusercontent.com/16488733/144051096-de5fc2d7-c594-4b2d-b271-5737437dfd62.png)

Regards.

[2021-11-30 13:02] aytekinazmi12 commented on #26807
Hi,

thank you for reply.

I'm using version 1.6.1.6 on a different site and the php version is 7.1.33 but still the same problem. I think there is a problem here.

[2021-11-30 13:08] hibatallahAouadni commented on #26807
Hello @aytekinazmi12

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please ke

[2021-11-30 13:08] #26807 closed, assigned to nobody

[2021-11-30 13:35] leah68 opened #26808 "Save after adding an attachment in product page gives an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After adding by upload an attachmen

[2021-11-30 13:43] jpgilberg commented on #26737
I understand the issue in #20443 as a search not finding a combination item when adding to a pack. I do not have this problem. In my issue, the search finds the correct combination item, and adds it to the pack. The correct combination reference number is displayed. However, once the pack item is saved and you go back to look at the pack item, the displayed reference number for this item reverts b

[2021-11-30 13:51] hibatallahAouadni commented on #26808
Hello @leah68

I didn't manage to reproduce the issue with PS1780, see the attached screen record below:

https://watch.screencastify.com/v/KCWhXRffW0lxS4qT7a8K

Please check and feedback.
Thanks!

[2021-11-30 14:00] Davidorul commented on #23336
Oh. Man. I wonder how many of these tickets exist ?

Soooo many problems with NULL values after upgrades... And all tickets get closed. What a shame.

[2021-11-30 14:02] Davidorul commented on #22215
Will anyone ever address these NULL-value-after-upgrade-issues ? There are >10 tickets. And they're all closed because it seems everyone is creating different SQL-update scripts and/or workarounds.

I think it would be WAY better to fix the PS core to handle these NULL values accordingly or fix the database so these NULL values don't get created.

But to me it seems very strange that all these tic

[2021-11-30 14:03] Davidorul commented on #22386
Yeah. Everyone has his own workarounds or SQL hotfixes to address these issues.

Why does nobody suggest fixing the code ?

[2021-11-30 14:13] Hlavtox opened #26809 "Legal info is not displayed in contact module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-30 14:20] matthieu-rolland commented on #24474
yes I think so 👍  @hibatallahAouadni

[2021-11-30 14:45] tom-combet opened #26810 "Consider Doctrine Table annotation when generating table name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-30 15:36] eternoendless commented on #26290
The way I see it, it would be completely transparent: `core.js` would maintain its current way of working (for backward compatibility's sake) but it would consume the new `coreApi.js`.

@NeOMakinG if we put it outside the core, we will have to carefully manage version compatibility. Not impossible though.

[2021-11-30 15:48] Stampa-Stampa commented on #26778
Hi there....
I was assisted by @NeOMakinG and removed the quantity arrows from assets/js/theme.js
Although this might not be a proper sollution it does work and my customers pass web accessibility check.
Moreover as you can see from your own wave report there are many contrast issues mostly in text ( editing the assets/css/theme.css file and changing all text color from dark grey to black title ta

[2021-11-30 16:27] hibatallahAouadni commented on #26804
Hello @Lionel-dev

Thanks for reporting the issue!
I reproduce the issue with PS1765, PS1778 and PS1781, see the attached screen record below:

https://watch.screencastify.com/v/2GdzFZdWYc9LvDUsBbFC

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important

[2021-11-30 16:39] NeOMakinG commented on #26290
Set the version of the core.js node_modules (using the package.json of `/themes/` folder, same as we manage the version of PS maybe

[2021-11-30 16:40] hibatallahAouadni commented on #26809
Hello @Hlavtox

Thank you for your suggestion and for the PR :rocket:
The Product Team will take it into consideration for future developments.

Thank you

[2021-11-30 16:46] hibatallahAouadni commented on #26810
Hello @Kaudaj

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-11-30 16:53] hibatallahAouadni commented on #26802
Hello @lim3ra

I didn't manage to reproduce the issue with PS1781, see the attached screen record below:

https://watch.screencastify.com/v/BdnMgw0AT27l3k6Lepxc

Could you please provide more details or a screen record.
Please check and feedback.

Thanks!

[2021-11-30 17:54] hibatallahAouadni commented on #21558
@PierreRambaud why you close the issue? is it fixed?

[2021-11-30 17:57] PierreRambaud commented on #21558
It's not fixed, but I don't plan to work on it, I'm not even sure someone will have the time to work on it, since there is no activity on this one, I decided to close it.

[2021-11-30 18:02] hibatallahAouadni commented on #26796
Hello @mparvazi

Yes! I reproduce the issue with PS1.7.8.0, PS1.7.8.1 and develop only with Firefox, see the attached screen record below:

https://www.awesomescreenshot.com/video/6227289?key=57944246f7fb2b369a379b1721d8cd2f

It's a regression on 1.7.8.0! I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a v

[2021-11-30 18:09] lim3ra commented on #26802
Seems it was not connected with Presta Core.

Issue can be closed. Thanks.

[2021-11-30 18:09] #26802 closed, assigned to nobody

[2021-11-30 18:10] hibatallahAouadni commented on #21558
@PierreRambaud I see :slightly_smiling_face: thanks for your feedback.

[2021-11-30 18:11] hibatallahAouadni commented on #26802
@lim3ra Thanks for your feedback :wink:

[2021-11-30 18:15] mparvazi commented on #26796
@hibatallahAouadni

Just happens in Firefox desktop!
I tested in mobile with Firefox, Safari, Chrome and there was no problem.

As you tagged, this is really Trivial :)

[2021-11-30 18:17] Renrhaf commented on #16869
+1, we also encountered this bug in our shop

[2021-11-30 18:18] hibatallahAouadni commented on #26795
Hello @cy-altern

I didn't manage to reproduce the issue with PS1778 and PS1781, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/144104857-5f2b9a68-9898-4d38-b42e-351e069e1e97.png)

Please check and feedback.
Thanks!

[2021-11-30 18:46] MatShir commented on #26515
@PierreRambaud another one 🤔, IMO this field needs should accept every character. What do you think ?

[2021-11-30 18:59] MatShir commented on #25113
Despite our several trials, we could not reproduce your issue with the provided information. If we can't reproduce the issue, we can test the fix. So, I will close this issue. Feel free to open it again if you have more insights, we would be happy to review them :)

[2021-11-30 18:59] #25113 closed, assigned to nobody

[2021-11-30 19:09] MatShir commented on #20230
@NeOMakinG @PierreRambaud Should we close this issue then ?

[2021-11-30 19:17] davidglezz commented on #20230
I would say this is a wontfix issue, since the solving cost is much greater than the tiny inconvenience.

[2021-11-30 20:28] kpodemski commented on #25667
@matks

I completely trust @Oksydan on this one, more often you want to get assets from the parent because the child theme is suppose to change only parts of the parent theme :-)

[2021-11-30 20:32] matks commented on #25667
Thank you @kpodemski for the insight 😉

[2021-11-30 20:33] kpodemski commented on #25801
@atomiix I think you forgot to update tcpdf in the `composer.json`? 🤔

[2021-11-30 20:58] matks commented on #26810
Can you explain how do you generate entities? Do you use Doctrine CLI?

[2021-11-30 21:03] matks commented on #26800
Hello @Hlavtox isn't it a little bit what `additionalCustomerFormFields` hook is supposed to do? add checkboxes?

If we add display hooks, modules will be able to pass whatever they want to HTML. Good HTML that fits with current checkboxes... and garbage 😅

If the need is "modules should be able to add checkboxes to 'create an account' step in checkout" I would think we whould rather have a list o

[2021-11-30 21:33] #20230 closed, assigned to NeOMakinG

[2021-11-30 21:34] MatShir commented on #20230
@davidglezz thanks for the input

[2021-11-30 22:52] Hlavtox commented on #26800
No they want to add it before order confirmation, I got this feedback from 2 independent teams. Both currently solve it by automatically/manually modifying the template.

Like every other display hook, no? 🤷🏻‍♂️

[2021-12-01 00:24] alfonsolr09 commented on #26777
@Rventura1989 Something similar happened to me, the error was caused by a module that included the theme. try disabling them one by one to see if it is solved

[2021-12-01 06:19] masiorama commented on #26741
I am experiencing the same issue, on SiteGround, with a PS 1.7.7.4, and I was able to update PS on that same server till that release (aka, I could access PS System Information and 1-click upgrade module).
Fortunately the shop is working and our clients can still purchase, otherwise it would be a mess...

[2021-12-01 07:55] Lionel-dev commented on #26804
Hello @hibatallahAouadni,

I have created a [pull request](https://github.com/PrestaShop/PrestaShop/pull/26791) to fix this bug. I understood that I was obliged to create an exit so that my pull request is accepted.

Thank you very much for this video which demonstrates the bug !

[2021-12-01 08:51] hibatallahAouadni commented on #26804
@Lionel-dev thanks for your PR :rocket:

[2021-12-01 09:09] okom3pom commented on #25860
I can reproduce this bug :

[code]
There are several problems with this line:

$md5 = md5($overview->date . $overview->from . $subject . $overview->msgno);$md5 = md5($overview->date . $overview->from . $subject . $overview->msgno);

`date` does not exist all time and `msgno ` changes it's the number position on the mailbox.

So i propose to use :

[code]

[2021-12-01 09:18] MatShir commented on #26570
I guess the ideal, it would to have 2 states for a language:
- Enable/Disable for the BO
- Enable/Disable for the FO

[2021-12-01 09:31] matdu58 commented on #26570
@hibatallahAouadni
You sent a message : "it works now on 1.7.8.1 you can edit you language no need to enable it on front office", but it seems it has been removed. Are you sure that on 1.7.8.1 it's OK now ?

@MatShir
Yes, that can be a great idea, and easy to implement.

[2021-12-01 09:44] matthieu-rolland opened #26816 "test issuebot, do not touch"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

blablabla

### Expected behavior

b

[2021-12-01 09:52] florine2623 commented on #26809
ping @PrestaShop/product-team ,

The PR is available and waiting for QA ? Can I have a PM ✅ on this issue ? :)

Thanks!

[2021-12-01 10:02] marionf commented on #9750
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/26809

[2021-12-01 10:02] #9750 closed, assigned to nobody

[2021-12-01 10:04] go-sudo commented on #26570
Hello
We can now see language option on modules even when it disabled but not yet on products

[2021-12-01 10:04] marionf commented on #26809
The registration number should be displayed in the contact page but also in the footer

<img width="279" alt="Capture d’écran 2021-12-01 à 11 04 10" src="https://user-images.githubusercontent.com/13449658/144214095-bf0fe8df-90a1-48b4-a5b5-02f1033d94a5.png">

[2021-12-01 10:07] #26816 closed, assigned to nobody

[2021-12-01 10:08] cotiga opened #26817 "2 files with same name in same folder !"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

During an FTP sync, I end up with t

[2021-12-01 10:09] NulAsh commented on #23057
Invalid? Let's check.
Here's the original code:
`if (!isset($_SERVER['HTTP_REFERER']) || strpos($_SERVER['HTTP_REFERER'], Tools::getHttpHost(false, false) == 0)) {`
part inside parenthesis:
`!isset($_SERVER['HTTP_REFERER']) || strpos($_SERVER['HTTP_REFERER'], Tools::getHttpHost(false, false) == 0)`
reshaping of the same code:
[code]
I just added some whitespaces. Can you now see, what is compared

[2021-12-01 10:12] hibatallahAouadni commented on #26570
Hello @matdu58

No, I didn't send any message :open_mouth:

[2021-12-01 10:22] hibatallahAouadni commented on #23116
@Hlavtox should I reopen the issue? cause it seems there's another related PR not merged yet.

[2021-12-01 10:38] SharakPL commented on #23057
You're absolutely right! I lost myself there with conditions 😅
Either way your fix is still not valid though. [strpos](https://www.php.net/manual/en/function.strpos) requires `needle` to be string and your `Tools::getHttpHost(false, false)) !== false` is still a boolean, just like before, so it will still generate the same warnings.

[2021-12-01 10:42] hibatallahAouadni commented on #26817
Hello @cotiga

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or i

[2021-12-01 10:42] #26817 closed, assigned to nobody

[2021-12-01 10:46] hibatallahAouadni commented on #26584
Hello @OpiumCity

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-01 10:46] #26584 closed, assigned to nobody

[2021-12-01 10:47] OpiumCity commented on #26584
I've just made a quick fix in the tpl

[2021-12-01 10:58] SharakPL commented on #23057
You're absolutely right! I lost myself there with conditions 😅
Though I don't know why you used `!== false`. IMO should be `=== false`.

[2021-12-01 11:04] matdu58 commented on #26570
@go-sudo
Yes, of course, all translations are available for modules, even if language is disabled.
And I also need that option availble for products too.
Will Prestashop add this feature ?

@hibatallahAouadni
Strange, I got such message from you in my mailbox...

[2021-12-01 11:41] hibatallahAouadni commented on #26803
Hello @yannicka

I reproduce the issue with PS1781, see the attached screenshot below:

[![image](https://user-images.githubusercontent.com/23308427/144225709-a9ae0e58-81d3-4fcc-be9b-4fea8f237780.png)](https://watch.screencastify.com/v/RxMX2EalfPU8PIy7zobo)

But it's related/duplicate and could be fixed in this issue #25849 Let's ask the Developer team :wink:
Ping @PrestaShop/prestashop-core-devel

[2021-12-01 12:05] #26550 closed, assigned to nobody

[2021-12-01 12:06] cotiga commented on #26817
Support plans... LOL
I think the module in question is provided by default and developed by you (prestashop team).
Therefore, you only reinforce my vision of this wobbly CMS.
Keep stewing, you'll be fine :p

[2021-12-01 12:06] NulAsh commented on #23057
Yes, while I was writing an explanation, you got it. One of our clients had error_log of almost 100 MB because of this bug.

[2021-12-01 13:15] hibatallahAouadni commented on #26570
Strange, I got such message from you in my mailbox...

What!!?? me? :open_mouth:

[2021-12-01 14:09] mpaolino commented on #26553
This exact same issue happens to me.
PrestaShop 1.7.8.0 and 1.7.8.1 with [MercadoPago plugin v4.8.0](https://addons.prestashop.com/es/pago-tarjeta-carteras-digitales/23962-mercado-pago.html).

Configured the only active currency with 0 decimals.

As @mastudillot  already explained, the culprit is in [validateOrder of PaymentModule.php](https://github.com/PrestaShop/PrestaShop/blob/586dbdbb3c60899f

[2021-12-01 14:10] NeOMakinG opened #26820 "Category listing is using the wrong template when filtering with facetedsearch on Classic"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you change `col-6 col-xl-4` in

[2021-12-01 14:13] MatShir commented on #26570
Your feature is validated by the team. But it won't be prioritized for the next version but however, PrestaShop is an open-source project, if you have the technical knowledge or find someone that could don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to review your contribution to the

[2021-12-01 14:13] Hlavtox commented on #23116
@hibatallahAouadni You can, I want to also add it to customer detail page, so we can see it immediately :-)

[2021-12-01 14:14] Hlavtox commented on #26809
@marionf Ok! Should I do it in classic, or it's enough in theme-refacto?

[2021-12-01 14:15] mastudillot commented on #26553
@mpaolino To solve the problem in the Transbank plugin. I generated new payment statuses with the logable field at 0. With that field at 0 it does not go through the check.

[2021-12-01 14:21] hibatallahAouadni commented on #23116
@Hlavtox done :slightly_smiling_face:

[2021-12-01 14:24] mpaolino commented on #26553
@florine2623 can you please reopen this issue? This clearly is a bug.

[2021-12-01 14:29] MatShir commented on #26809
It should be on the new theme :)
The classic theme is now only bug fix. @eternoendless @NeOMakinG, is there a doc explaining how the different themes will be maintained ? It's not the first we have the question.

[2021-12-01 14:34] hibatallahAouadni commented on #26775
Hello @smazelerat

Yes, in this case we need the `Exclude discounted products` option. You got a point :wink:
But it's not a bug, it's a new feature and a good one!

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we stro

[2021-12-01 14:45] mpaolino commented on #26553
Seems this should be really fixed by changing the _PS_PRICE_COMPUTE_PRECISION_ by using `Context::getContext()->getComputingPrecision()` again, its the only place where that former constant is being used instead of the later.

[2021-12-01 14:49] atomiix commented on #26413
@florine2623 I don't think this is a regression, can you try again with PrestaShop 1.7.7.7? Because when I try I have the same issue.

[2021-12-01 14:51] Davidorul commented on #23336
Thank you very much for your offer.

But as many others before me it was easier to go through the database and search / replace the NULL values than trying to setup a test-shop and re-do the upgrade to make this (maybe?) reproducable.

It pains me a bit as I'm sure countless others will run into the same issue. But I'm not a developer and I also don't have too much time for this. - We just needed

[2021-12-01 14:55] d33x opened #26821 "[BO] Product listing - Cannot reorder more than 300 products (if 2 pages)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

If a category has more tha

[2021-12-01 15:05] hibatallahAouadni commented on #26619
Hello @masiorama

I see, thanks for your feedback :pray:
Ping @PrestaShop/prestashop-core-developers can someone please try to reproduce this issue :pray:

Thanks!

[2021-12-01 15:05] florine2623 commented on #26809
Hello @Hlavtox ,

Thanks for the PR !

I have a question about the test.
- I have installed the PR
- Commented all files in /themes/classic/modules/ps_contactinfo to avoid overrides
- I don't have the correct visual

Without PR :
<img width="289" alt="Screenshot 2021-12-01 at 14 08 24" src="https://user-images.githubusercontent.com/16019289/144258979-52abf0ad-96b2-4072-bca0-ca2ba6df04d5.png">

Wit

[2021-12-01 15:15] jf-viguier commented on #26619
I don't think that the funnel is covered by ps_googleanalytics module, it's a specific setting un Google Analytics.
Funnel analysis is usually set with url settings or custom data send in javascript so maybe you've changed this ?

[2021-12-01 15:17] Kaudaj commented on #26810
@matks Yes, I'm using [MakerBundle](https://symfony.com/doc/current/doctrine.html#creating-an-entity-class) to generate entities. But it won't change [the way PrestaShop generate table name](https://devdocs.prestashop.com/1.7/modules/concepts/doctrine/#creating-the-database), will it?

[2021-12-01 15:30] hibatallahAouadni commented on #26381
Hello @rodrigorega

Could you please set the `wait_timeout` to 30 :pray:
Please check and feedback.

Thanks for your patience :pray:

[2021-12-01 15:44] KminekMatej commented on #23777
I believe I ran into the same issue with my Prestashop.

I found out, during periodic sync of my system with Prestashop, using Prestashop API, PS responses the sam error here described - 400: Error while creating image (76). That originates from here: https://github.com/PrestaShop/PrestaShop/blob/586dbdbb3c60899f9f07b1eb41864b9e4333175a/classes/webservice/WebserviceSpecificManagementImages.php#L11

[2021-12-01 15:56] hibatallahAouadni commented on #26720
Ping @PrestaShop/prestashop-core-developers could someone please reproduce the issue :pray:
Thanks in advance.

[2021-12-01 16:05] atomiix commented on #26720
@jak78 I'm not sure to understand, your log shows that tests passed:
<pre>
Time: 12.68 seconds, Memory: 86.50 MB

<b>*OK*</b>, but incomplete, skipped, or risky tests!
</pre>
There's only deprecation notices left

[2021-12-01 16:07] mpaolino commented on #26553
I created a PR https://github.com/PrestaShop/PrestaShop/pull/26824

[2021-12-01 17:12] cy-altern commented on #26795
due to this problem I had rollup back my 1.7.8 installation to 1.7.6 but by the way the code *is* buggy : it missed quote around the constant's name on the 2 lines of src/Adapter/Environnement.php (56 and 64)
=> see the develop branch : this 2 bugs are corrected
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Environment.php

[2021-12-01 18:31] pieerro commented on #26361
Hello, I am a beginner in prestashop and I already have a same problem like the above, can someone give me some tips where to apply the corrections indicated by @Nawakz ?   PRESTA 1.7.8

[2021-12-01 20:11] jak78 commented on #26720
Hey
I'm running it through `composer test-all` to run all the tests.
The last line of the log I get is:
`Script @composer unit-tests handling the test-all event returned with error code 1`
There is an error code returned by the unit-teets runner.
So the test suite execution stops at the end of the unit-tests. And the other tests of the test suite are not running.

[2021-12-01 20:24] kickhatz commented on #26705
@florine2623

I fixed it.

public_html\themes\classic\templates\catalog\product.tpl
line 235: {include file='catalog/_partials/miniatures/product.tpl' product=$product_accessory productClass="col-xs-6 col-lg-4 col-xl-3" position=$position}

public_html\themes\classic\templates\catalog\_partials\miniatures\product.tpl
before starts {block name='product_miniature_item'} paste this into
line 26: ​​​​

[2021-12-01 20:29] matdu58 commented on #26570
Sorry, it was Nami Abdelmoula who wrote that, not you. Sorry for the confusion. But it has been removed.

[2021-12-01 20:30] matdu58 commented on #26570
@MatShir
Great news, do you know what time it can takes ?
Unfortunately, I don't have knowledge in development...
If someone can do that, that would be wonderful.

[2021-12-01 20:53] Maofree opened #26825 "Useful features present in Shopify: increase prices by country and International domains"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-01 20:54] photinia73 opened #26826 "productcomments module the stars disappуared"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The stars disappered in the module

[2021-12-01 21:28] slawomirlewczyk opened #26827 "Docker-compose up failed after clone develop branch"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

Just wanna run PrestaShop via

[2021-12-01 23:13] SharakPL commented on #23057
I've just installed 2 shops 1.7.8.1 and no sekeywords present so maybe it won't a problem anymore...

[2021-12-02 01:01] ghost opened #26829 "Product comments: Comments not being displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the page of a product that has a

[2021-12-02 08:21] lmeyer1 opened #26831 "[CI] Automatic tests are failing at PHP Unit (7.2), because of an outdated certificate."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Automatic tests are failing at PHP

[2021-12-02 08:24] pdkey commented on #26825
@maofree i don't know for which countries. However, within Europe, different prices by country are forbidden. (check > EU Geoblocking Regulation). You can play with different tax rates and shipping costs. But not with the product prices.

Further I would not take Shopify carefully as a good example. The majority of all Shopify stores is e.g. in Germany (guaranteed), rest of Europe (should check) i

[2021-12-02 08:25] hibatallahAouadni commented on #26825
Hello @maofree

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-12-02 08:30] hibatallahAouadni commented on #26585
Hello @dev-studio

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-02 08:30] #26585 closed, assigned to nobody

[2021-12-02 08:37] hibatallahAouadni commented on #26831
Hello @lmeyer1

Thank you for reporting this issue. The Developer Team will investigate this problem.
Ping @PrestaShop/prestashop-core-developers can you reproduce the issue?

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.
If you manage to get the problem fixed, then please contribute the fix back to the project as a [Pull Requ

[2021-12-02 08:39] NeOMakinG commented on #26809
We didn't deprecate it, so I've a doubt about the fact that classic is only about bug fixes now? :/

[2021-12-02 09:03] maofree commented on #26825
Hi @pdkey
thanks for your infos.
I don't like Shopify, but it exists so I have to take it into consideration

bye

[2021-12-02 09:28] eternoendless commented on #26809
We haven't officially deprecated classic yet

[2021-12-02 09:46] Hlavtox commented on #26809
Added it to classic also - https://github.com/PrestaShop/PrestaShop/pull/2683

[2021-12-02 09:53] hibatallahAouadni commented on #26821
Hello @d33x

It seems your issue duplicate to this one #15291 could you please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/15291#issuecomment-967042878).
Please check and feedback.

Thanks!

[2021-12-02 10:02] khouloudbelguith opened #26833 "FO - Your account - Add/Edit Addresses - unclear alert when we have invalid address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > Your account > Add/upda

[2021-12-02 10:18] Hlavtox commented on #20677
@chrislais Show me a customer that cares about how the URL looks like and I will give you million EUR. 🤣🤣🤣

[2021-12-02 10:20] d33x commented on #26821
Hello @hibatallahAouadni

This is indeed a duplicate issue of the comment in question (but not of the main issue). Maybe add this particular issue to the first comment and it will be fine.

Now I honestly think we can separate the issues as mine will be much easier to fix than #15291 (for example by forcing a larger number of products to be displayed for sorting).

It's up to you!

Thanks

[2021-12-02 10:58] mparvazi commented on #20677
@Hlavtox You're right!
I thought about that again, seems it's more interested by online shop owners.
The customers only care about the product prices and discounts 😅

[2021-12-02 11:15] hibatallahAouadni commented on #26827
Hello @slawomirlewczyk

I think you mean:
`git checkout -b 1.7.8.x origin/1.7.8.x`
Is that so? so you an error when you execute `docker-compose up` in **`1.7.8.x`** branch?
Please check and feedback.

Thanks!

[2021-12-02 11:21] khouloudbelguith opened #26834 "FO - Productcomments - The Grade and the comment are not displayed in the Product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade of the module Prod

[2021-12-02 11:26] hibatallahAouadni commented on #26826
Hello @photinia73

I reproduce the issue with ProductComment v5.0.0, it's a regression on ProductComment, cause I didn't reproduce the issue with ProductComment v4.2.2:

### BO
![image](https://user-images.githubusercontent.com/23308427/144413386-25364b14-4105-419b-be82-d46cba58b63c.png)

### FO
![image](https://user-images.githubusercontent.com/23308427/144413401-ac8ae675-cae0-47fb-a4cd-effcdff1f

[2021-12-02 11:27] hibatallahAouadni commented on #26829
Hello @awarszewski

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26834.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-12-02 11:27] #26829 closed, assigned to nobody

[2021-12-02 11:27] hibatallahAouadni commented on #26829
Duplicate of #26834

[2021-12-02 11:28] khouloudbelguith opened #26835 "FO - Productcomments module - an exception is displayed after adding a second comment"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related to #26834
n the FO > Produc

[2021-12-02 11:30] hibatallahAouadni commented on #26826
Hello @photinia73 again,

It seems that's not only the issue with ProductComment v5.0.0.
Not just the stars are displayed, even the comment is not displayed too.
So, I close your issue as a duplicate to this one #26834 as it covers both issues.

Thanks for understanding :pray:

[2021-12-02 11:30] #26826 closed, assigned to nobody

[2021-12-02 11:31] hibatallahAouadni commented on #26826
Duplicate of #26834

[2021-12-02 12:01] krekken commented on #26827
i get exited with code 1 too
![image](https://user-images.githubusercontent.com/58357424/144417749-36f894d9-a487-43a1-94d7-ddc7022e9a57.png)
i used a docker-compose.yml-file
this:
[code]
and used
[code]

i tried it with 1.7.7.8 as well, and it exited with code 1 too, although a bit differently
![image](https://user-images.githubusercontent.com/58357424/144418265-095e63d4-4c82-456c-8730-00fadb4c76c

[2021-12-02 12:17] eternoendless opened #26837 "Flash of unstyled text while material icons load causes weird menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the page is loaded with a clea

[2021-12-02 12:17] eternoendless commented on #26837
ping @NeOMakinG

[2021-12-02 12:29] Rventura1989 commented on #26777
Hello @HanaRebaiQA
Thanks for reply.
Most probably the problem is related to some module, then.
Let's try the suggestion of @alfonsolr09.
We will give you feedback as soon as possible.

Thank you very much

[2021-12-02 12:31] Rventura1989 commented on #26777
Olá @alfonsolr09
thank you for responding.
We will try your suggestion to try to identify the problem.

Thank you very much

[2021-12-02 12:56] danielcivit opened #26838 "Error installing PrestaShop: Module not installed : ps_accounts"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am getting an error when try to i

[2021-12-02 12:57] awarszewski commented on #26834
Probably a linked bug to this issue:
After approving the comment, the number of comments awaiting review is not coming down:
![grafik](https://user-images.githubusercontent.com/92299973/144426232-2d21588e-c46d-4cbb-9916-4f0c20ae3028.png)
![grafik](https://user-images.githubusercontent.com/92299973/144426331-b619f91f-4b45-4f1b-9e83-3e507723e818.png)
If necessary, I can move it to a new bug report.

[2021-12-02 12:58] matks commented on #26831
Weird, https://github.com/PrestaShop/PrestaShop/pull/26832 tests pass 🤔

[2021-12-02 13:38] PierreRambaud commented on #26720
Deprecations notices or warnings shouldn't raise an error and should return `0` in CLI mode

[2021-12-02 13:46] stickyrst commented on #26838
This issue affects most (if not all) of Prestashop new installations of newer versions. I think it needs to be addressed ASAP

[2021-12-02 13:47] salbatyku commented on #26838
Confirming the issue

[2021-12-02 13:48] DaLyRB commented on #26838
Same issue

[2021-12-02 13:59] photinia73 commented on #26826
I can see the comments, only the stars disappered
look at this page
https://te.com.ua/uk/av-resiveri-procesori/529-2-yamaha-rx-v385.html#/11-kolir-chornij

[2021-12-02 14:10] rodrigorega commented on #26381
I just tried to make several installations with "wait_timeout = 300" in three different servers. In all of them I got a new error message. I am not sure if is related to this issue:

![image](https://user-images.githubusercontent.com/3441785/144437480-f6c5d33c-38c3-4eae-b1e7-cc865f413e66.png)

Is there a way to enable debug mode on installation?

Thank you.

[2021-12-02 14:18] photinia73 commented on #26834
In the module Productcomments disappeared the stars
https://te.com.ua/uk/av-resiveri-procesori/529-2-yamaha-rx-v385.html#/11-kolir-chornij

[2021-12-02 14:48] MatShir commented on #26838
Thanks a lot for your feedback, we are doing everything to solve the problem as soon as possible. The issue is related to the PrestaShop company but until it’s not fixed we will keep the issue open.

[2021-12-02 15:17] fmozzati commented on #9662
Works for me too with PS 1.7.6.9 and Dashgoals v2.0.2!

Fixed!

[2021-12-02 15:41] Multipage commented on #25394
@khouloudbelguith @florine2623 please respond!

[2021-12-02 15:47] hibatallahAouadni commented on #26696
Hello @dmitrij1988

Thanks for your patience!
Ping @PrestaShop/prestashop-core-developers can someone please reproduce the issue :pray:

Thanks in advance!

[2021-12-02 15:51] EdieLemoine commented on #26838
Same here, tried on 1.7.8.0 and 1.7.8.1.

[2021-12-02 15:52] khouloudbelguith commented on #25394
Hi @Multipage,

What is the exact version PrestaShop did you use?

Thanks!

[2021-12-02 15:55] hibatallahAouadni commented on #26692
Hello @rflorent

You need to use this hook in module (for exemple: [ps_qualityassurance](https://github.com/PrestaShop/ps_qualityassurance)), then make search in **BO>IMPROVE>Design>Position** page and click on **`Display non-positionable hooks`** option, the hook will be displayed :wink:

https://watch.screencastify.com/v/QoCD0DaF6H4jy8qSOr2M

Closing this issue as it's not a bug.
Thanks!

[2021-12-02 15:55] #26692 closed, assigned to nobody

[2021-12-02 16:05] fbobiano commented on #26838
I've had the same problem for every 1.7.x versions but now it seems to work

[2021-12-02 16:06] Multipage commented on #25394
@khouloudbelguith We've updated with 1-click upgrade to 1.7.8.1 and found out the fix wasn't there. So we've downloaded the file through the Prestashpop website again ( again version 1.7.8.1) and looked in the zip for the fix. Fix isn't in the zipfile either.
Something is going wrong with building the update files

[2021-12-02 16:11] NeOMakinG commented on #26837
@eternoendless https://github.com/material-components/material-components-web/issues/3718#issuecomment-428231412

I'm pretty lost on this honestly, there are no proper solution (font-display: block would require a max-width on icons in order to prevent layout shifts/flash)

And it will be wrong for our accessibility :/

[2021-12-02 16:11] thedarkknight197 opened #26840 "Theme,yml Assets css all customcss child-theme don't work!"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am editing my child theme,yml to

[2021-12-02 16:12] thedarkknight197 commented on #26840
I override the real theme name with theme_parent

[2021-12-02 16:12] hibatallahAouadni commented on #26381
@rodrigorega that's caused by this issue #26838 :disappointed:

[2021-12-02 16:13] khouloudbelguith commented on #25394
@Multipage, the issue is fixed in the next version PS8.0.0
You can check the changed files here: https://github.com/PrestaShop/PrestaShop/pull/25396/files.

Thanks!

[2021-12-02 16:15] hibatallahAouadni commented on #26827
@krekken That's caused by this issue #26838

[2021-12-02 16:28] MatShir commented on #26838
Hi everyone,
Thanks again for the reports. The issue should be fixed now, we are back 💪
I'm closing the issue. If the issue appears again, don't hesitate to comment or reopen the issue.
Thanks for your understanding,

[2021-12-02 16:28] #26838 closed, assigned to nobody

[2021-12-02 16:42] rflorent commented on #26692
Hello @hibatallahAouadni

If it's not a bug, why I can't transplant my module on this hook by the ui ?
You see it on the positions list because you have already hooked your module on and you use code to register the hook.
If you add some snippet code like this to an existing module, for update, it will not work.

`$this->registerHook('actionGetProductPropertiesAfter')`

[2021-12-02 16:58] tom-combet opened #26842 "Add hook in bulk edit combinations form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-02 17:15] hibatallahAouadni commented on #26736
Hello @50l3r

I have the same multistore configuration and yet I see no issue in that.
Could you please more details or a screen record.

Thanks!

[2021-12-02 17:16] Multipage commented on #25394
@khouloudbelguith Why is it listed in the release notes op 1.7.8.1 then?

https://build.prestashop.com/news/prestashop-1-7-8-1-maintenance-release/
Under Front office regressions
[code]

[2021-12-02 17:23] slawomirlewczyk commented on #26827
@hibatallahAouadni

Already test 1.7.8.x

`git checkout -b 1.7.8.x origin/1.7.8.x`
`* 1.7.8.x`

Still same error.

[2021-12-02 17:38] hibatallahAouadni commented on #26842
Hello @Kaudaj

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2021-12-02 17:57] daniel-lineaymedia opened #26843 "DNI required but is not activated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello.

I am having problems with t

[2021-12-02 18:33] raidnet-ms commented on #26140
awe latest update overwrite my edit and it is bugger again. i tought this was going to be achieved.

[2021-12-02 21:54] jak78 commented on #26720
Yep, looks like it's the issue here

[2021-12-02 21:54] Hlavtox opened #26844 "Add function providing product shipping options"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-02 21:55] Eric69400 opened #26845 "Email Template order_conf issue with Prestashop 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a problem with the email tem

[2021-12-03 00:31] silverlayer opened #26846 "Customer reassurance module doesn't show before footer in front-office classical theme"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when we set the customer reassuranc

[2021-12-03 07:51] thbl commented on #9866
@khouloudbelguith seams this is still a issue in 1.7.8.1  do you have plans to fix it ?

[2021-12-03 08:28] matks commented on #18547
FYI some modules have CI attempting to run php8 and it fails

https://github.com/PrestaShop/statsbestcustomers/pull/22
https://github.com/PrestaShop/statscatalog/pull/21

[2021-12-03 08:32] matks commented on #26553
Hi @mpaolino  it's very simple: we're buried with work to do. Hundred of things to do, so it's hard to keep up. That's why we welcome any help such as your PR thanks 👍

I reopen this issue but we can only validate your PR https://github.com/PrestaShop/PrestaShop/pull/26824 if we have a _clear, reproducible scenario_ we can follow to observe the bug. I can see the issue in the code, but in order to

[2021-12-03 08:38] khouloudbelguith opened #26847 "Double click on "Add to cart" on the product page FO freezes the page My wishlists list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you double click on "add to cart

[2021-12-03 08:39] matks commented on #26842
Thanks for the PR ! As said in https://github.com/PrestaShop/PrestaShop/pull/26841 I need @jolelievre opinion on this topic

[2021-12-03 08:57] Hlavtox opened #26849 "Create new, universal my account hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-03 09:23] jolelievre commented on #26842
Hi @Kaudaj we haven't finished migrating the combination completely, so I can't give you an exhaustive answer but it should rely on a Symfony form with an associated hook for form modifier so you should be able to add your custom fields.

We will also provide some documentation, tutorial, and example modules to indicate how to customize and/or extend each part of the product page. You can have a l

[2021-12-03 09:28] Kaudaj commented on #26842
Ok, I'll wait for it then. Do you have an approximate date for the new product page to go live?

[2021-12-03 09:35] eternoendless commented on #26837
About a11y:
- Readers will only need icons to be labelled when they are alone (i.e. with no label). Most of the icons are merely illustrations beside a visible label.
- As you can see at the top-right of screen capture, we'd be better off adding aria-labels to icons that don't have any label (alert, gamification) because the icon names themselves provide little to no information about the actual b

[2021-12-03 09:39] hibatallahAouadni commented on #26844
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to hel

[2021-12-03 09:40] atomiix commented on #26720
Okay, I got it! It seems that phpunit-bridge is responsible for this. Adding `<env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />` to the `phpunit.xml` solves the issue.
[And that's what we're doing in our CI by the way](https://github.com/PrestaShop/PrestaShop/blob/develop/.github/workflows/php.yml#L126-L127).
The question is: Should we add this configuration in the `phpunit.xml` so it be

[2021-12-03 09:51] NeOMakinG commented on #26837
We don't only speak about people using readers, did you see the link I sent?

[code]

If we hide icons names, slow connections won't see any icons, combine that with a reader => break

If we add an overflow with a max-width, Dyslexic people using specific extensions will make icons unreadable for them (they don't use a screen reader) => break

If you agree with the fact that we change this, you ag

[2021-12-03 09:55] NeOMakinG commented on #26837
Another problem anyway, is that these icons are not always useful to describe the content, everything I said before is useful for lonely icons, while icons in the menu are breaking the real content (you already said it), but some icons doesn't have any labels :/

And when you close the menu, icons are alone too, on mobile, most icons are alone!

[2021-12-03 09:57] eternoendless commented on #26274
@oscherler to the best of my understanding, the bug has been fixed in 1.7.8.1
Can you please confirm?

[2021-12-03 09:58] NeOMakinG commented on #26837
For example, if we totally hide icons if the font is not loaded, peoples won't be able to access to the profile page/popup, shop link, search

What about doing a trick only for the menu? As every icons doesn't describe the menu label, we could avoid the content shifting on this part (which is the most breaking one)

[2021-12-03 10:02] marwachelly opened #26852 "FO - shopping cart page is freezed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Shopping cart page is freezed while

[2021-12-03 10:17] d33x commented on #24117
+1! Should be a must-have.

It is not logical not to be able to sort in some cases (like size):
![03-12-2021 11-15-23](https://user-images.githubusercontent.com/76649472/144586142-d098ee94-d195-4a93-8d40-5ac1969c7beb.png)

[2021-12-03 10:21] HanaRebaiQA opened #26853 "FO - Wishlist button is blocked in many pages in FO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When enabling Supplier, in the list

[2021-12-03 10:57] #21995 closed, assigned to viglu

[2021-12-03 10:58] matks commented on #21995
Thank you @viglu the change will be released with PrestaShop 8.0.0 in 2022

[2021-12-03 11:18] eternoendless commented on #26837
Yes, I read it but the arguments are related to lone icons and not illustrations (which is the main use case for us).

This argument is invalid because for the majority of our use cases (and for the entirety of the items in the menu) the icon is just an illustration beside the actual label. For slow connections, the experience is worse than not having icons at all, because you get a completely unu

[2021-12-03 11:25] hibatallahAouadni commented on #26845
Hello @Eric69400

I didn't manage to reproduce the issue with PS1781, see the attached screen record below:

https://watch.screencastify.com/v/rv6ouMHZfZkJe22Qo9Rk

Please check and feedback.
Thanks!

[2021-12-03 11:33] Oksydan commented on #26837
@NeOMakinG what about preloading fonts? It should eliminate problem. You can event include it inside webpack config if fonts names are hashed. (PM me for more info.)

[2021-12-03 11:37] ghost opened #26855 "TinyMCE not visible with page CMS"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello. I think it's a little bug wi

[2021-12-03 11:38] samberrry opened #26856 "PrestaShop marketing - An error has occured"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I shared PrestaShop marketing modul

[2021-12-03 11:45] eternoendless commented on #12561
The way I see it, the editor should be a module that hooks into a simple textarea field. This way people would be able to switch editors as they see fit.

[2021-12-03 11:57] Oksydan commented on #12561
Yes but module developers might face problem with text editor compatibility this way.
Recently I was creating module for advanced product description, where you could create some kind of grid.
I had to reinitialize tinymce after ajax calls with some options to make tinymce do what I pleases.
If editor API if unknown for developer, we have to create some kind of facet so module developers can just

[2021-12-03 12:02] samberrry commented on #26856
PrestaShop version -> 1.7.6.9

[2021-12-03 12:37] Eric69400 commented on #26845
Ok, thank you for your feedback, the issue is on my side. Sorry for the inconvenience.

[2021-12-03 12:40] marwachelly opened #26857 "BO - Popap reduced in the order product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Popap  in the order product page is

[2021-12-03 13:13] musaffar-patel opened #26858 "hook ActionOrderGridQueryBuilderModifier returns incorrect order count"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi

When using the hook "actionOrde

[2021-12-03 13:17] hibatallahAouadni commented on #26849
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-12-03 13:20] hibatallahAouadni commented on #26849
Ping @PrestaShop/prestashop-core-developers wdyt of @Hlavtox solution?

[2021-12-03 13:25] hibatallahAouadni commented on #26858
Hello @musaffar-patel

Could you please check this issue #26523 seems similar to yours.
Please check and feedback.

Thanks!

[2021-12-03 13:27] marwachelly opened #26859 "BO - Multistore - Error when editing a product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error when changing the quantity of

[2021-12-03 13:33] musaffar-patel commented on #26858
Hi, I've reviewed the issue you mentioned and it does not seem like the same issue.

In my case the new column I added is a new date field (related to my module).  I can enter dates and the orders are filtered correctly via the hook ActionOrderGridQueryBuilderModifier

So far no problems.

However, Prestashop does not display the correct order count.  If the hook modifies the query to return fewer

[2021-12-03 13:33] HanaRebaiQA opened #26860 "BO - Add button become disabled when add a new discount after cancel it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Order page, when entering th

[2021-12-03 13:49] Ditwo commented on #15041
Hello,
Same issue on PS 1.7.6.5.
After some investigation, it appears when $concernedRow->getFinalTotalPrice()->getTaxExcluded() is almost zero, but not zero. And at the same time $concernedRow->getFinalTotalPrice()->getTaxIncluded() = zero.
Example in my case
$concernedRow->getFinalTotalPrice()->getTaxIncluded() = float(0)
$concernedRow->getFinalTotalPrice()->getTaxExcluded() = float(0.0006610000

[2021-12-03 13:51] hibatallahAouadni commented on #26856
Hello @samberrry

It seems that your issue is not a PrestaShop core bug.
If your module is PrestaShop marketing Official, please contact support team on Addons

We will close this issue.

Thanks!

[2021-12-03 13:51] #26856 closed, assigned to nobody

[2021-12-03 14:03] Progi1984 commented on #26640
Fixed in #26798 by @WebHelpersPau & tested by @HanaRebaiQA

[2021-12-03 14:03] #26640 closed, assigned to nobody

[2021-12-03 14:20] matks commented on #9965
Hello @Julievrz

Is this English ? 'non native-in' ?

[2021-12-03 14:26] atomiix commented on #26831
I think it was a bug in the matrix, re-running tests solve the issue 😅
I close this issue, feel free to reopen if the problem comes back.

[2021-12-03 14:26] #26831 closed, assigned to nobody

[2021-12-03 14:29] prestascott commented on #20821
Here are my final mockups:

**PRODUCT SELECTION**
![Product selection](https://user-images.githubusercontent.com/54888056/144619030-42c4ff67-3919-4288-9aaa-a9853a450f25.png)

**PRODUCT LISTING**
![Product listing](https://user-images.githubusercontent.com/54888056/144619057-69a7b638-0820-45bf-87ad-ecb4f1b16f19.png)

**CURRENCY & LANGUAGE**
![Currency   language](https://user-images.githubuserconte

[2021-12-03 14:30] matks opened #26861 "CI is broken on autoupgrade - PHPStan with 1.6.1.18"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

CI is broken on autoupgrade - PHPSt

[2021-12-03 14:35] khouloudbelguith opened #26862 "FO -Some exceptions in the FO after an uppgrade from PS16124 to PS1782build1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from PS16124 to PS

[2021-12-03 14:52] samberrry commented on #26856
yes it's not related to Ps Core. Okay Thanks

[2021-12-03 14:52] prestascott commented on #25313
@Hlavtox Thanks a lot!

Oh no... Then it will be difficult to provide a good UX if the search is hidden in the filter. Search, sort, and filters are 3 different things.

First, users search by typing.
Then, users filter or sort the results.

It's very weird and unusual to do a search in the filter.

[2021-12-03 14:52] khouloudbelguith commented on #25528
Duplicate of #26862

[2021-12-03 14:52] #25528 closed, assigned to nobody

[2021-12-03 15:20] Hlavtox commented on #25313
@prestascott Scott, there is no such "search" feature on desktop. It's only filters - text input, range or select. And merchants are used to how it works on desktop.

Also, with only one search input, you would limit their ability to filter. On desktop, you can filter by multiple text fields. So you can for example search for orders by one carrier and one payment methods (both are text inputs on d

[2021-12-03 15:23] Hlavtox commented on #25313
Man, how can you say that it's weird if people are using it the same way for at least 10 years? 😄 Don't create problems that do not exist, please.

Prestashop 1.4
![1-zoom](https://user-images.githubusercontent.com/6097524/144627413-3ae1d8a3-cb2a-41a6-b2d3-0133c3dd0d4b.jpg)

[2021-12-03 15:28] kiwrouge opened #26863 "Email new_order not sent with module email_alert"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I have a problem with the Mail

[2021-12-03 15:44] rodrigorega commented on #26381
With "wait-timeout = 30" same issue. I tried with "60" too, with the same result. The installation ended correctly with "wait-timeout = 120".

[2021-12-03 15:54] khouloudbelguith opened #26866 "BO - States page - bulk-actions dropup is not well displayed after an upgrade from PS16124 to PS1782build1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from PS16124 to PS

[2021-12-03 16:03] hibatallahAouadni commented on #26843
Hello @daniel-lineaymedia

Could you please check this issue #17647 it seems related to yours.
Please check and feedback.

Thanks!

[2021-12-03 16:24] khouloudbelguith commented on #26862
Hi @atomiix,

Thank you!
yes, the category page is OK
If I click All products (2-home) => ok
But the FO > best sales page is NOK and BO > Brands page is NOK
I attached a screen record
https://watch.screencastify.com/v/MHYZD1CREOWXAMb9qwVT

Thank you!

[2021-12-03 16:43] atomiix commented on #26862
@khouloudbelguith can you try to make do the upgrade using 1.7.8.1 as `Number of the version you want to upgrade to: *` while still using the 1.7.8.2build1 archive?

![Capture d’écran 2021-12-03 à 17 43 20](https://user-images.githubusercontent.com/2168836/144639927-d66b9bf1-df9b-4360-b4d1-8d44047d4ca1.png)

[2021-12-03 16:54] khouloudbelguith commented on #26862
@atomiix, yes, it is ok :tada:
https://watch.screencastify.com/v/yMboO03QLJ7mfed6dxMb

Thank you!

[2021-12-03 16:57] silverlayer opened #26868 "Multi-language feature mixes up languages on front-office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We had a PS with two languages, Por

[2021-12-03 17:04] matks commented on #13749
Hello everyone.

We have understood the need but I'm afraid we wont be able to fulfill it on our side.

However PrestaShop is an open source, community project. If you find that any issue is critical for you, and it's important to have it fixed ASAP, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own.

[2021-12-03 17:04] matks commented on #14083
As no consensus was reached, I guess we can close the issue.

[2021-12-03 17:04] #14083 closed, assigned to nobody

[2021-12-03 19:38] masiorama commented on #26741
@VidarPc anything changed for you?

[2021-12-03 20:00] kpodemski commented on #26844
Most of the time, it works using the entire Cart because Cart contents directly impact shipping price. I agree that it could be helpful for external feeds and simple calculations when you don't need to provide an address and other details.

From my experience, I know these calculations are very time-consuming, and having a reliable method that is light and more performant could be helpful.

[2021-12-03 21:02] alfonsolr09 commented on #25597
the bug is not fixed, please reopen the topic

[2021-12-03 21:04] alfonsolr09 commented on #25597
I have this problem even having version 2.0.1

Prestasop 1.7.7.3
https://www.awesomescreenshot.com/video/6280974?key=3a7c0711685e27352f2c10e0273e8822

Prestasop 1.7.8.0
https://www.awesomescreenshot.com/video/6281019?key=8bd2711d6efa9e2d1c7caabba93e6bdf

[2021-12-03 21:07] alfonsolr09 opened #26869 "Unable to uninstall native module ps_dataprivacy"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Unable to uninstall native module p

[2021-12-03 21:07] alfonsolr09 commented on #25597
#26844

[2021-12-03 21:08] alfonsolr09 commented on #25597
#26869

[2021-12-03 22:40] alfonsolr09 commented on #26777
waiting for new news

[2021-12-04 09:11] jmrftrs opened #26871 "Profiling not working wit PHP 7.4 and ¿Perfomance issue?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I've been trying to use profil

[2021-12-04 11:30] golianto opened #26872 "Aggiungere nuovo negozio in multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Buongiorno,
ho un problema nell'agg

[2021-12-04 11:31] mparvazi commented on #26840
Hello @thedarkknight197
I had this problem with editing theme.yml, deleting the `shop.json` file worked fine for me.

`/config/themes/{theme_name}/shop.json`

[2021-12-04 12:31] mparvazi commented on #26837
I think this problem is related to flex display.
When the page is loading, the flex items width not calculated correctly, because icons are not loaded yet.

I tried to simulate that situation by adding this rule: `max-width: 5px;`

<img src="https://user-images.githubusercontent.com/85633460/144709245-1abfbe26-e0aa-4112-9760-ca15f14cab43.png" width="400"/>

Adding this code prevents showing links

[2021-12-04 14:23] thedarkknight197 commented on #26840
I haven't this file in my child theme :/

[2021-12-04 14:36] mparvazi commented on #26840
@thedarkknight197

This file is inside the config folder in the root.

Like this:

`public_html/config/themes/classic/shop.json`

[2021-12-05 10:19] arafatx commented on #17673
I know how to add this manually but it would be great to have an option so end-user can enjoy this feature.

[2021-12-05 14:43] CJH297 opened #26873 "Customer reassurance text fields missing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have an existing Prestashop 1.7.7

[2021-12-05 14:45] CJH297 commented on #26873
Module version is 5.0.0 in both cases

[2021-12-05 15:33] jf-viguier commented on #23496
@matks Do you mean that "Add to cart" button on product list is a feature from the past or it's about "1.7 as a whole" ?

[2021-12-05 15:50] jak78 commented on #26720
Thanks @atomiix !
Adding the env to `phpunit.xml` solved this for me too.
My opinion is that :
- the local build should as close as possible to what we have on the CI
- the deprecations should not make the build fail

[2021-12-05 16:07] aslezak88 commented on #9866
I'm looking for solution since 1.6.1.5 version. Now i'm using 1.7.8.1 and this error came up from nowhere. After hours spending on forums i think i found solution.

I tried to add this code in "classes/PaymentModule.php" on line 734 right before 'return true' part of this IF statement: 'if (Validate::isLoadedObject($this->context->cart) && $this->context->cart->OrderExists() == false)'

`if ((int)

[2021-12-05 18:28] jak78 commented on #26720
https://github.com/PrestaShop/PrestaShop/pull/26875

[2021-12-05 22:31] jak78 commented on #26599
Should be fixed by:
- https://github.com/PrestaShop/PrestaShop/pull/26877 on `develop`
- https://github.com/PrestaShop/PrestaShop/pull/26876 on `1.7.8.x`

[2021-12-05 23:47] rblaurin opened #26878 "`hookActionAfterUpdateCustomerAddressFormHandler` return the `order_id` as `$params['id']` while it should return the `address_id`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When `actionAfterUpdateCustomerAddr

[2021-12-06 00:10] gs2k84 opened #26879 "Product variants - the main value of the quantity of products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 00:13] gs2k84 opened #26880 "Different title and description for product variants."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 00:19] gs2k84 opened #26881 "Option to disable displaying shipping costs in the cart preview."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 00:25] gs2k84 opened #26882 "Different currency for the product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 07:43] NeOMakinG commented on #26849
I agree, that would be simpler to maintain, it would be overridable by theme anyway by overriding the module 👍

[2021-12-06 08:20] hibatallahAouadni commented on #26882
Hello @gs2k84

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-12-06 08:23] hibatallahAouadni commented on #26881
Hello @gs2k84

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-12-06 08:31] hibatallahAouadni commented on #26880
Hello @gs2k84

Do you mean you want to add Description field in this combination form:

![image](https://user-images.githubusercontent.com/23308427/144812852-2f5c16d4-d145-4b94-bb90-c0be709bc9af.png)

Or here:

![image](https://user-images.githubusercontent.com/23308427/144812971-356aaf0a-ebc4-4e40-b7d0-a9068c67bcde.png)

Is that so? Please check and feedback.
Thanks!

[2021-12-06 08:45] hibatallahAouadni commented on #26872
Hello @golianto

Please send your request in English. English is the norm on GitHub.
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-12-06 08:45] #26872 closed, assigned to nobody

[2021-12-06 08:48] gs2k84 commented on #26880
Please check out this test ad:

http://presta-test2.ergmoto.pl/strona-glowna/6-5-silnik.html#/1-wyposazenie-uklad_paliwoway

See that when you change variants, the photos change, the price, however, the description is still the same.

My point is that for each variant you can insert a different description and title.

[2021-12-06 08:52] rsoulard-prolaser commented on #26680
Hello @hibatallahAouadni,

The bug can be present in certain cases (if we use the PrestaShop addLog function and send emails).
Create a module with this hook (for example):
`
public function hookActionAdminLoginControllerLoginBefore($params) {
    PrestaShopLogger::addLog('actionAdminLoginControllerLoginBefore', 2);
}
`

**Steps to reproduce**
1. Open BO 1.7.7.x
2. Go to Logs page and change the m

[2021-12-06 08:53] hibatallahAouadni commented on #26869
Hello @alfonsolr09

I reproduce the issue with PS1781, I'm unable to uninstall the module on PS1781, see the attached screen record below:

https://watch.screencastify.com/v/Iw48UY0K8Ecie6BrYPhj

And I encounter another problem, I'm unable to unistall the module in PS1767, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/144816129-79c6d46c-2b7f-4953-9

[2021-12-06 08:56] L3RAZ opened #26884 "MULTISTORE_FIELD_PREFIX constant not recognized by symfony service"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since Symfony version changed, defi

[2021-12-06 08:58] matthieu-rolland opened #26885 "gdsgdsgs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

gdsgds

### Expected behavior

gsdg

[2021-12-06 09:25] khouloudbelguith commented on #26866
Hi,

If I use this solution https://github.com/PrestaShop/PrestaShop/issues/26862#issuecomment-985667533
I did not manage to reproduce the issue after an upgrade from PS16124 to PS1782build1 using the local archive method
![image](https://user-images.githubusercontent.com/16067358/144820856-4aa44735-0191-4ad2-a458-0b6c9ad11a70.png)

Thanks!

[2021-12-06 09:27] nfacciolo commented on #19477
For information, I had this problem because I removed categories and result no default category was assigned for some product

[2021-12-06 09:29] #26820 closed, assigned to NeOMakinG

[2021-12-06 09:32] khouloudbelguith commented on #26866
As discussed with @atomiix.
I will close the issue.

Thanks!

[2021-12-06 09:32] #26866 closed, assigned to nobody

[2021-12-06 09:34] NeOMakinG commented on #26840
I think the only problem here is that your child theme has the same name than the parent_theme

modify
[code]

to

[code]

and every theme_parent_child occurrence (theme folder name for example)

clear `yourprestashopfolder/config/themes/`, activate the child theme and you should be fine!

[2021-12-06 09:34] khouloudbelguith commented on #26862
Hi!

as discussed with @atomiix.
I will close the issue.

Thanks!

[2021-12-06 09:34] #26862 closed, assigned to nobody

[2021-12-06 09:39] hibatallahAouadni commented on #26855
Hello @Vizibl

I didn't manage to reproduce the issue with PS1781, see the attached screen record below:

https://watch.screencastify.com/v/jWyHK7MarTHJciz4sVzA

Closing this issue as it's not a Core bug, it seems more related to your overrides.

Thank you

[2021-12-06 09:39] #26855 closed, assigned to nobody

[2021-12-06 10:12] Hlavtox opened #26886 "Deprecate HighDPI images"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 10:20] Vizibl commented on #26855
**I'm surprise. Are you sure ???**

From my side. I have 0 files in folder override/controler/admin or /front
When i switch to classic theme with only prestashop's modules, it's the same...

In the forum prestashop some people have the same problem :
[](https://www.prestashop.com/forums/topic/1056035-probleme-bloc-de-texte-francais-page-cmsmentions-l%C3%A9gales-version-de-prestashop-1780/)

[2021-12-06 10:24] okom3pom commented on #26834
Already fixed by : https://github.com/PrestaShop/productcomments/pull/118#issuecomment-971620269

[2021-12-06 10:30] jf-viguier commented on #26885
gdsgdsgs too 😂

[2021-12-06 10:46] alfonsolr09 commented on #23496
What if the product has 3 different categories?

[2021-12-06 10:49] hibatallahAouadni commented on #26846
Hello @klvnsa

I reproduce the issue with PS1780 and PS1781, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/144833139-adae2a0e-c98c-4439-9af7-480087a9f5a5.png)

It seems the Newsletter bloc overlap the Customer Reassurance block :disappointed:
It's a **regression** on PS1.7.8.0, cause I didn't manage to reproduce the issue with PS1778, see the attac

[2021-12-06 10:52] Vizibl commented on #26855
and a other one :
https://www.prestashop.com/forums/topic/1057796-impossible-d%C3%A9crire-des-pages/

[2021-12-06 10:55] matks commented on #23496
I'm not sure to understand the question.

What I wanted to say, 9 months ago 😛  is that "removing features in a software" is normal, and should not be considered "a will to kill the free software and sell more modules". It's part of a never-ending improvement process and sometimes to improve an application you remove some stuff.

As for the "Add to cart" button I have no idea 🤷‍♀️  I'm no PM nor U

[2021-12-06 11:18] hibatallahAouadni commented on #26855
@Vizibl I see :thinking: could you please provide more infos :pray:
Cause with the provided infos, I have not managed to reproduce the problem.

[2021-12-06 11:26] hibatallahAouadni commented on #26381
Hello @rodrigorega

GLad to hear that the installation was completed successfull :tada:
But it seems the source of your issue is your server configuration, so you need to check it.
Closing this issue as it's not a Core bug.

Thanks for your understanding :pray:

[2021-12-06 11:26] #26381 closed, assigned to nobody

[2021-12-06 11:33] mparvazi commented on #26837
@NeOMakinG

I tested time of font icons loading in Fast 3G. It took 4 seconds to be downloaded.
Using font preload adds this time to page load.

[2021-12-06 11:37] hibatallahAouadni commented on #26886
Hello @Hlavtox

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to h

[2021-12-06 11:46] Vizibl commented on #26855
OK, sure.

info_outline Informations sur votre serveur
Informations du serveur : Linux #1 SMP Wed Aug 14 08:29:59 EDT 2019 x86_64

Version du logiciel serveur : Apache
Version de PHP : 7.4.26
Limite de mémoire : 512M
Temps maximal d'exécution : 360
Taille max. pour envoi de fichiers : 512M

info_outline Informations sur la base de données
Version de MySQL : 10.5.13-MariaDB
Serveur MySQL : localhos

[2021-12-06 11:47] hibatallahAouadni commented on #25313
Hello @prestascott

Let me summarize what @Hlavtox want to say :sweat_smile:
So, if I want make a search by **`Customer`** or **`Total`** or **`Payment`**:

![image](https://user-images.githubusercontent.com/23308427/144840577-68fab08c-1204-4a76-acbf-a922d27d0dae.png)

I should click on this Select, click on one of this attribute, then type the value:

![image](https://user-images.githubuserconten

[2021-12-06 11:54] jf-viguier commented on #23496
Thanks @matks, i'm talking about this comment from @Hlavtox here:
https://github.com/PrestaShop/theme-refacto/issues/132#issuecomment-985592536
"I would like to do it and many merchants want it, but product team has the final word, unfortunately."

@Hlavtox can you tell us if you where talking about this Matks comment as "the final word" or is it elsewhere ?

Can we have an PM update on this ?

[2021-12-06 12:02] golianto opened #26888 "Problems js backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Good morning,
after updating to ver

[2021-12-06 13:45] scorp1czech opened #26889 "Different sql table prefix in one hook hookActionCustomerGridQueryBuilderModifier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In hook hookActionCustomerGridQuery

[2021-12-06 14:07] Hlavtox commented on #23496
@jf-viguier Nono, just as the situation a whole.

**You know, we can't just have a simple solution:**
- No combinations? = Add to cart (directly)
- Combination? = Select option (link to product page)

**We need to create some imaginary problems:**

[2021-12-06 14:16] hibatallahAouadni commented on #26845
Hello @Eric69400

Glad to hear and thanks for your feedback.
Closing the issue!

Thanks!

[2021-12-06 14:16] #26845 closed, assigned to nobody

[2021-12-06 14:29] hibatallahAouadni commented on #26696
@atomiix thanks for your confirmation

[2021-12-06 14:35] hibatallahAouadni commented on #26827
@slawomirlewczyk Could you please try again :pray: This issue #26838 has been fixed.
Please chech and feedback.

Thanks!

[2021-12-06 14:41] jf-viguier commented on #23496
I do it like that for all my customers since years, I've no issue.

[2021-12-06 14:44] PierreRambaud commented on #26720
Imho, it's a trick, not fixing the real issue which is we shouldn't have deprecated notices:
![image](https://user-images.githubusercontent.com/1462701/144866043-feb43c8f-f961-4730-9003-a4176f07fb15.png)
This should have been modified when it has been marked as deprecated.
All of our deprecated should be fixed instead.

[2021-12-06 14:46] PierreRambaud commented on #26515
@MatShir I couldn't agree more with you!

[2021-12-06 14:52] #17673 closed, assigned to nobody

[2021-12-06 14:54] matks commented on #25394
@Multipage @khouloudbelguith After looking carefully at this topic, it seems a mistake was made.

This bug was fixed in PrestaShop 8.0.0 and should not have been added to the 1.7.8.1 Release note.

I will fix the Release Note to remove this line.

[2021-12-06 14:54] khouloudbelguith opened #26891 "BO - Dashboard page & Add new alias - An exception is displayed after an upgrade from PS16124 to PS1778/PS1781/PS1782"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from 16124 to a ne

[2021-12-06 15:04] NeOMakinG commented on #26837
These solutions could be taken for the menu (as it doesn't create accessibility problems)

But let's see if preloading remove the flash (myself using a local installation, it remove it, but really slow connection may have it again

[2021-12-06 15:06] hibatallahAouadni commented on #26863
Hello @kiwrouge

I didn't manage to reproduce the issue with PS1781 and ps_emailalerts v2.3.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/144869289-74d04bd0-70ba-4218-9b08-22967222bb15.png)

Could you please check your email configuration in BO:

![image](https://user-images.githubusercontent.com/23308427/144869734-60a1ff68-76dd-4cf2-b49b-50b0ee

[2021-12-06 15:09] kiwrouge commented on #26863
Hi,

I checked the SMTP informations, the problem is still here if I use a correct SMTP or PHP mail.

[2021-12-06 15:14] unlocomqx opened #26892 "Post install fails when fixture installation is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you disable the "Install demon

[2021-12-06 15:22] hibatallahAouadni commented on #26868
Hello @klvnsa

I didn't manage to reproduce the issue with PS1781, see the attached screen record below:

https://watch.screencastify.com/v/ybDgWikdjMIy6qGUUJJU

Please check and feedback.
Thanks!

[2021-12-06 15:40] hibatallahAouadni commented on #26871
Hello @jmrftrs

Even with PHP7.3, the profiling is working perfectly, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/144875868-40fe2d57-6c25-4db3-93ae-3ea5f213cd0c.png)

Please check and feedback.
Thanks!

[2021-12-06 15:51] SimonasB88 opened #26895 "Transplant a module > "Search input" exception is not working in Wishlist module and displayCustomerAccount hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Tried to make a Search input except

[2021-12-06 16:04] NeOMakinG commented on #26885
@matthieu-rolland You drunk too much beer again...

[2021-12-06 16:05] NeOMakinG commented on #26885
Is it a regression?

[2021-12-06 16:07] kpodemski commented on #26885
I agree. We should fix that!

[2021-12-06 16:10] matks commented on #26885
Any ETA?

[2021-12-06 16:14] CJH297 commented on #26873
Thanks for checking. I still reproduce this behaviour here, but I now consider it must be a theme conflict - the theme is not compliant fully with 1.7.8 I suspect. It isn't a load or cache problem I think.

[2021-12-06 16:14] #26873 closed, assigned to nobody

[2021-12-06 16:19] unlocomqx opened #26896 "Profiling navigation can be made easier with a fixed index"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 16:19] jf-viguier opened #26897 "Support SVG logo in pdf"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-06 16:21] jf-viguier commented on #26897
TCPDF example here : https://tcpdf.org/examples/example_058/

[2021-12-06 16:40] jlbrd opened #26899 "Update an order with postman. Error with id_address_delivery"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Same issue as https://github.com/Pr

[2021-12-06 16:51] jolelievre commented on #26885
No linked PR?

[2021-12-06 16:54] hibatallahAouadni commented on #26897
Hello @jf-viguier

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-12-06 16:55] hibatallahAouadni commented on #26879
Hello @gs2k84

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-12-06 16:56] hibatallahAouadni commented on #26884
Hello @L3RAZ

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2021-12-06 16:56] #26884 closed, assigned to nobody

[2021-12-06 16:58] hibatallahAouadni commented on #26888
Hello @golianto

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise steps to reproduce the issue**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-12-06 16:58] #26888 closed, assigned to nobody

[2021-12-06 17:00] hibatallahAouadni commented on #26889
Hello @scorpio-angel

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23394.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-12-06 17:00] #26889 closed, assigned to nobody

[2021-12-06 17:00] hibatallahAouadni commented on #26889
Duplicate of #23394

[2021-12-06 17:05] prestascott commented on #25796
Hello everyone 👋🏻

Thanks @AlexNovamac for creating this issue and @florine2623 for pinging me.

On the 480 px screenshot and particularly on the 320 px one, we can definitely see that content in the column is tightened and that makes it difficult to read. We're also facing an issue with the architecture of information because of the bad use of spacing.

This table is divided into 2 parts:
1. The

[2021-12-06 17:06] hibatallahAouadni commented on #26895
Hello @SimonasB88

Do you mean that the search bar shouldn't be displayed in Wishlist page:

![image](https://user-images.githubusercontent.com/23308427/144889986-4246b9f8-dfcb-46eb-a5f3-70874ed5a4a4.png)

Is that so? Please check and feedback.
Thanks!

[2021-12-06 17:07] hibatallahAouadni commented on #26873
@CJH297 thanks for your feedback!

[2021-12-06 17:08] hibatallahAouadni commented on #26605
Hello @AdrianMoise

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-06 17:08] #26605 closed, assigned to nobody

[2021-12-06 17:09] hibatallahAouadni commented on #26614
Hello @Wrenbjor

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-06 17:09] #26614 closed, assigned to nobody

[2021-12-06 17:10] hibatallahAouadni commented on #26896
Hello @unlocomqx

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thanks for your PR :rocket:

Thank you

[2021-12-06 17:33] AlexNovamac commented on #25796
Hi @prestascott
Thank you for response!
Your proposition the change the layout looks very good!

Are you able to share TXT version of this?

It will help to make changes.

Alex.

[2021-12-06 17:57] jf-viguier commented on #26885
@matthieu-rolland It's time for action, PR done.

[2021-12-06 18:04] masiorama commented on #26619
@jf-viguier I don't get it: til mid 2020 it was covered by the same module... now it seems not to be supported? I didn't add any custom js script inside my template, I am leveraging only on the module functionality.

[2021-12-06 18:08] tecnoservicel opened #26901 "Searchbar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The search bar changes the backgrou

[2021-12-06 19:46] mpaolino commented on #26553
Steps to reproduce the bug:

1. - Install clean Prestashop
1.1 - Configure Prestashop tu use a single currency with decimals value "0".

2. - Install [MercadoPago 4.8.0 module ](https://addons.prestashop.com/es/pago-tarjeta-carteras-digitales/23962-mercado-pago.html)
2.1 - Configure MercadoPago plugin with:
2.1.1 - Country: Uruguay
2.1.2 - Public Key: TEST-f9ea27ea-8d3b-4ebe-b614-648e7c85656d
2.1.

[2021-12-06 20:01] mastudillot commented on #26553
Updated steps to reproduce in the issue detail.

[2021-12-06 20:03] mpaolino commented on #26553
Its a little more complex than previously thought, check the PR.

[2021-12-06 20:18] mpaolino commented on #26671
Duplicate of #26553 . PR to fix it in #26824

[2021-12-06 20:32] ocio87 commented on #26553
Thanks @mpaolino for associating the error with this problem created, I hope it helps you. If you require verification of the possible solution, let me know and I will try to test it.

Greetings,

[2021-12-06 21:01] mpaolino commented on #26553
@florine2623 please recheck the initial reported steps. You made an order with the price less than 1000, you need to test it with a purchase higher than 1000.

[2021-12-06 21:40] #26745 closed, assigned to lmeyer1

[2021-12-06 23:03] jungwirbtgut commented on #9866
Why you are trying to fix this? It just showing an error but it doesn't have any issues for the customer or do you have?

[2021-12-06 23:18] aslezak88 commented on #9866
Yeah, so why to bother with it? It is only showing an error... It's totally useless, who cares... You have same attitude as PS developers. 5 years old error and no one cares. How many errors do you have per year if you have 30-50 orders / day? That's a lot of unnecessary ballast in the database.

[2021-12-06 23:57] Hlavtox commented on #23496
@jf-viguier My solution on one of my customer's store:

![Výstřižek](https://user-images.githubusercontent.com/6097524/144941447-c31ed8ca-cac3-4853-825b-06117fd93ea1.JPG)

[2021-12-07 00:05] mpaolino commented on #26553
@florine2623 How did you end up in the state "Payment accepted" with the default Payments by check module? Makes to me as the default config of a fresh install is this:

![Screenshot from 2021-12-06 20-56-16](https://user-images.githubusercontent.com/757973/144941430-3343e7ba-8492-464a-844d-9a719982ca69.png)

Order should have ended up in status "Awaiting check payment" if no error would have happ

[2021-12-07 07:54] krekken commented on #26786
@hibatallahAouadni have u managed to reproduce the bug?

[2021-12-07 08:14] dennispw opened #26903 "Make the $hookName variable in widget based modules available in templates by default"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-07 08:18] kpodemski commented on #26903
Thank you, @dennispw. I like your idea and agree with it.

Would you like to have `$hookName` automatically available in the view or have this variable added in the native modules?

[2021-12-07 08:27] hibatallahAouadni commented on #26786
Hello @krekken

With PS1.7.8.1 and PS1.7.7.8, I have the same behavior:

1. Clone your module under /modules
2. Access to BO>IMPROVE>Modules>Module Catalog
3. Install the module
4. Click on Configure button
5. Save the configuration
6. Success
7. Click on **Form Bug Reproduce** in Main Menu
8. An exception was thrown

![image](https://user-images.githubusercontent.com/23308427/144993336-9372bd92-7

[2021-12-07 08:29] dennispw commented on #26903
If it's possible to have it available by default in every view that used the widget functionality that would be best way forward.

The other option of updating _each and every native module that uses it_ is, I guess, another solution, although in my opinion a very poor one. It will most likely take a *long* time and I'm guessing a large chunk of the modules will be, for lack of a better term here,

[2021-12-07 08:36] marwachelly commented on #26903
Hello @dennispw

Thank you for you report. Could you please check this issue https://github.com/PrestaShop/PrestaShop/issues/20164. Isn't the same?

Thanks,

[2021-12-07 08:43] matks commented on #26623
### Status update

Release process in progress

[2021-12-07 08:48] dennispw commented on #26903
I'm not sure. If I understand that issue correctly the desired solution is _only_ be able to use different `.tpl` files?

My proposed solution is to still use "one" `.tpl` file. In it you could possibly do something like:
[code]

But it would also allow you to do more simple tasks such as switching out an element, add/remove classes or whatever it might be. It's not _solely_ for using different `.

[2021-12-07 08:50] kpodemski commented on #26903
Hello @marwachelly

I think current issue provides a solution for the one you mentioned, and it is better described 👍

[2021-12-07 09:26] marwachelly commented on #26903
Hello @kpodemski

Since this issue is duplicated to  #20164 it should be closed as duplicated and I suggest to update the description of the first one. What do you think?

Many thanks,

[2021-12-07 09:42] Betafer commented on #9866
Totally agree with @aslezak88  !!

[2021-12-07 10:18] marwachelly commented on #26899
Hello,

We are aware of this issue, it is already in our debug backlog. Since this issue is a duplicate of   #16201.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Many thanks,

[2021-12-07 11:08] scorpio-angel commented on #17437
Same problem in version 1.7.8.1

Problem in this starts by inserting IDs to request link in select combination. Look at screen, request has more than one product_id and return only last in list, but you need return first from list.

First screen: you can see bad values for request.
![error_cause](https://user-images.githubusercontent.com/1717967/145018192-db925c5e-f3b4-41d9-85c7-d85972d5a5dc.png)

[2021-12-07 11:28] krekken commented on #26786
that is a different error. i updated the module, so if you re-download it, and install it again, it should now handle french, and show you the actual error.

[2021-12-07 11:46] khouloudbelguith opened #26904 "BO - Multistore - migrated page with checkboxes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Configurations pages with checkboxe

[2021-12-07 11:48] khouloudbelguith commented on #26904
This issue is reproduced while testing this PR: https://github.com/PrestaShop/PrestaShop/pull/26716#issuecomment-979931590
and this PR:

[2021-12-07 12:07] dennispw commented on #20164
@Mch0 Is my issue in any way related to yours? https://github.com/PrestaShop/PrestaShop/issues/26903

[2021-12-07 12:09] dennispw commented on #26903
@kpodemski @marwachelly

I've asked the author of the other issue to check if _this_ issue is in any way related to the other issue. As I said, unfortunately I don't fully understand the other one.

[2021-12-07 12:15] Mch0 commented on #20164
@dennispw not really we talk about BO in this issue

[2021-12-07 13:18] #25667 closed, assigned to Oksydan

[2021-12-07 13:19] lmaupate opened #26905 "Blockreassurance v5.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
After I downloaded the modul

[2021-12-07 13:25] jolelievre opened #26906 "Wholesale price must be synced with combination suppliers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-07 13:25] VitaminasG opened #26907 "HelperList class gives empty "update" value"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-07 13:27] marwachelly commented on #26821
Hi @d33x,

I edited your issue.
I think it seems to be an improvement and not a bug.
The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

I

[2021-12-07 13:32] marwachelly commented on #26795
Hi @cy-altern,

I did not manage to reproduce the issue with PS1781.
I attached a screen record
https://watch.screencastify.com/v/E6TX2Lb2fcRhi5E2IZN3

What is the exact php version did you use?

Thanks!

[2021-12-07 13:38] zuk3975 commented on #26884
This was fixed here https://github.com/PrestaShop/PrestaShop/pull/24609, but Its not in 1.7.8.x yet as I see.

[2021-12-07 13:44] sharkooon commented on #26476
Why is there a customer with that emailaddress on first setup without demonstration data?

[2021-12-07 13:45] prestascott commented on #25796
@AlexNovamac Thank you very much!

Nope, I don't have a text version of this but you have access to my [Figma](https://www.figma.com/file/aCBf2HlypjT0ZxP2XcsT68/Core-Github-issues?node-id=1126%3A10094) to copy content.

Here are the final mockups (Wording is still pending of course):

**320 px**
![320px (1)](https://user-images.githubusercontent.com/54888056/145040238-8d64348c-ca22-4840-b0c8-4c2f0

[2021-12-07 13:48] marwachelly commented on #26901
Hello @tecnoservicel ,
Thanks for your issue. Unfortunately, there is not clear steps to reproduce the issue. So with the provided information I didn't see any problem as it is in the screen record.  Could you please clarify the step to reproduce.
https://watch.screencastify.com/v/2R4M59IV5IrxVGQdRMKw

Many thanks,

[2021-12-07 13:59] prestascott commented on #26356
Hello @AdrievandeVreede,

What icons do you want to add to your theme?

If there's no issues about compatibility, then we can update font-awesome version.

[2021-12-07 14:00] MatShir commented on #17437
@scorpio-angel I suggest you to reopen an issue with the detail steps, so we can reproduce your bug properly :)
Thanks in advance

[2021-12-07 14:01] marwachelly commented on #26863
Hello @kiwrouge ,
Could you please click on send a test mail and check that the test email has been sent to the email address you provided.
![image](https://user-images.githubusercontent.com/89604350/145042489-11df86cf-150c-439a-afbe-c31073c672ca.png)
![image](https://user-images.githubusercontent.com/89604350/145042758-1f668b6e-2dcb-4fde-9e88-13f82661d2f7.png)
Thanks,

[2021-12-07 14:07] kiwrouge commented on #26863
Yes the emails are sent well. All other emails are sent when an order is maid, just the new_order from Email Alert isn't sent at all (not even sent by prestashop because not in the logs)

[2021-12-07 14:09] okom3pom commented on #26476
Hello @sharkooon

Normaly this issue is closed but for your information it's the gdpr module who add this email

Fixed by : https://github.com/PrestaShop/psgdpr/pull/150

[2021-12-07 14:21] marwachelly commented on #26786
Hello @krekken ,

With PS1.7.8.1 I still have another exception:

1. Clone your module under /modules
2. Access to BO>IMPROVE>Modules>Module Catalog
3. Install the module
4. Click on Configure button
5. Save the configuration
6. Success
7. Click on Form Bug Reproduce in Main Menu
8. An exception was thrown

![image](https://user-images.githubusercontent.com/89604350/145045999-93d2c947-ec79-40f3-82

[2021-12-07 14:28] marwachelly commented on #26777
Hello,
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module or theme problem. We will close the issue. Feel free to create an issue when needed.
Thanks,

[2021-12-07 14:28] #26777 closed, assigned to nobody

[2021-12-07 14:31] #26476 closed, assigned to nobody

[2021-12-07 14:37] #26192 closed, assigned to nobody

[2021-12-07 14:42] marwachelly commented on #26741
Hello,

could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode report
- screenshots
The  HTTP 500 Error is not clear.
You don't know how to get this information? Please read the following article: [How to create a bug report]
(http://build.prestashop.com/howtos/misc/how-to-create-bug-repo

[2021-12-07 14:47] MatShir commented on #26476
thanks @okom3pom <3 keep going :)

[2021-12-07 14:54] matks commented on #26623
## Status update

https://github.com/PrestaShop/PrestaShop/security/advisories/GHSA-6xxj-gcjq-wgf4

- release on github ✅
- release on prestashop.com ✅
- release note https://build.prestashop.com/news/prestashop-1-7-8-2-maintenance-release/ ✅
- autoupgrade enabled ✅
- docker images: push to dockerhub in progress

[2021-12-07 14:54] #26623 closed, assigned to matks, sowbiba, fabienvallon

[2021-12-07 15:05] marwachelly commented on #26903
Hi @dennispw ,
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-12-07 15:13] marwachelly commented on #26880
Hello,
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature int

[2021-12-07 15:16] prestascott commented on #18801
Hello everyone 👋🏻

Thanks @alfonsolr09 for your request and very sorry for the late reply.

I think it's important to keep the Discount(s) section because it resumes all the promo codes applied to the cart. If it's removed, that means that promo codes applied would be placed on top of each other and users will have to do the calculation by themselves.

What I recommend is to keep the Discount(s) s

[2021-12-07 15:18] L3RAZ commented on #26884
Possible cause: A module had newer symfony/yaml dependency (by another composer dependency) which was causing this exception because of the old syntax used.

[2021-12-07 15:27] AlexNovamac commented on #25796
Ok, but when I put {products} it gives always the same layout.

index - product - price - qty - subtotal

how can I call for specific variable?

![E99EC1AE-2AB8-4770-A1EC-D13EFB1A0D4B](https://user-images.githubusercontent.com/90187895/145057583-6221b095-819a-440c-b4a5-15579ab76dc3.png)

[2021-12-07 15:36] marwachelly commented on #26907
Hello,
Thank you for your suggestion. We will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature into PrestaShop a

[2021-12-07 15:46] marwachelly commented on #26906
Hello @jolelievre ,

This issue is it ready or it should be waiting for PM ?

Thanks,

[2021-12-07 15:48] hibatallahAouadni commented on #24303
Hello @nfacciolo @kdegenkamp

It seems the issue has been fixed in the PS1.7.8.0, see the attached screen record below:

https://watch.screencastify.com/v/4KBLUxJtqV0Evd6HzGvP

Closing the issue cause it's fixed!
Thanks!

[2021-12-07 15:50] SharakPL commented on #23496
Why not? This is obvious way of using add to cart button on product list. In your example there's even a place for +/- buttons, Although __Buy__ sounds too definitive. You're not buying, you're only adding product to the cart.

IMO only con of this is SEM. Clicks matter and this way you would rarely open product page when you could just buy it straight from the category list or homepage.

Would be

[2021-12-07 16:28] #25065 closed, assigned to jf-viguier

[2021-12-07 16:28] marwachelly commented on #26794
Hello,
I didn't manage to reproduce the issue. Could you please check ?
https://watch.screencastify.com/v/KnrhXVfhFEUqqVtj0xZg
Thanks,

[2021-12-07 16:41] lmaupate commented on #26905
Here is the Link :

https://github.com/PrestaShop/blockreassurance/releases/tag/v5.0.0

It's in Asset, the file Source Code.zip

[2021-12-07 16:47] jolelievre commented on #26906
Hi @marwachelly,

It's ready it is to avoid forgetting a refactor and a feature

[2021-12-07 17:00] matks commented on #26905
@lmaupate the "Source Code" zip file is not a module you can simply upload in your BO and it works, it's the source code.

To convert the source code into a module ready to be used you must follow https://github.com/PrestaShop/blockreassurance/blob/dev/README.md instructions

[2021-12-07 17:00] #26905 closed, assigned to nobody

[2021-12-07 17:02] matks commented on #26844
Does the cart content also impact the options, like exclude some?

[2021-12-07 17:04] matks commented on #26849
Yes and no.

If you provide one hook and it's used in 4 places, then when a module developer wants to display something "in places 1 and 3" and nothing on place 4 but something else on place 2, it does not work.

I think if there is 4 area, there must be one way for module developers to choose exactly what to display for each of the locations.
It can be 4 different hooks, or it can be 1 hook which

[2021-12-07 17:06] matks commented on #26886
It's not a decision to be made by developers, it's a choice for product team. It's about what prestashop merchant need.

I think for merchants that work in luxury and fashion, HighDPI images can be useful.

I move it to Waiting for PM.

[2021-12-07 17:09] matks commented on #26907
@VitaminasG I'm sorry I do not understand the issue. I'm sure there is an issue, but I dont understand it. Can you maybe share a snippet of code that behaves wrong?

[2021-12-07 17:31] okom3pom commented on #26885
I would like to know how to do: GDS spam without pressing the **F** key

I can offer you a new keyboard with the **F** key for Christmas.

[2021-12-07 17:33] jf-viguier commented on #26885
@matthieu-rolland ?

[2021-12-07 17:44] Hlavtox commented on #26844
@matks Not directly, there is nothing in the cart itself that would directly affect anything. 👍

[2021-12-07 17:45] Hlavtox commented on #26844
Basically we just want to simulate “what shipping options and prices do I get, when I add this single item in cart”

[2021-12-07 17:49] Hlavtox commented on #26886
@matks By never means I want to remove this, but we can make it simplier, better and more controllable.

Imagine: I want to have better image for scaled displays for my products. Ok, I just make home_default_2x and slap an srcset there, done.

You can go further, for example as I do on my shops. I load a srcset with 6 different sizes, so the browser chooses the best depending on size, data saving

[2021-12-07 18:50] VidarPc commented on #26741
This is a short follow-up on the current ticket with the answer that I received from the SiteGround techs. It is impossible to start the module 1-click upgrade, ver. v4.13.0 - by PrestaShop. It gives a prompt HTTP 500 ERROR.

I took some time to review various approaches when working with the 1-click upgrade module and I found a working solution that would allow us to benefit from the module and u

[2021-12-07 18:57] VidarPc commented on #26741
Here are the logs from my PrestaShop at SiteGround:

2021-11-29 09:55:30.500673 [Mon Nov 29 09:55:30.500608 2021] [:error] [pid 19749] [client xxx.xxx.xxx.xxx:33314] PHP Warning:  include(/home/customer/www/racinghorses.eu/public_html/vendor/symfony/symfony/src/Symfony/Component/Debug/Exception/ContextErrorException.php): failed to open stream: Too many open files in /home/customer/www/racinghorse

[2021-12-07 20:14] zulien commented on #19810
I just checked this problem little deeper and here is partial solution. Not the best for performance but do the job.

Edit file:
/modules/ps_facetedsearch/src/Product/SearchProvider.php

Add on line 37.:
use Product;

And replace function:

    public function runQuery(
        ProductSearchContext $context,
        ProductSearchQuery $query
    ) {
        $result = new ProductSearchResult();

[2021-12-07 20:52] lmaupate commented on #26905
Sorry, but to read the readme.md instruction didn't help me.
Where can I find a detailed explanation to convert source code into a module ready to be used ?

[2021-12-07 20:55] Hlavtox commented on #26844
**Example 1 - scroll down to delivery and returns. Actually lot of my customers asked me to do this.**
https://www.vagabond.com/fr/quincy-5285-050-07/

**Example 2 - product shipping prices in Google and Facebook XML feeds**
https://support.google.com/merchants/answer/6324484?hl=fr&ref_topic=6324338

[2021-12-07 21:37] alfonsolr09 commented on #18801
Ok, I think a redesign might be nice.

[2021-12-08 06:35] Hlavtox opened #26912 "Catalog rule creates inconsistent specific prices"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Setting up a catalog rule seems to

[2021-12-08 07:15] VitaminasG commented on #26907
Is it ok to have an empty $_GET variable? I posted the first screenshot with an empty "updatesccontentbuilder=" variable. How more I could be more specific for this. Your adapter is broken and gives always empty value.

[2021-12-08 07:52] krekken commented on #26786
i replaced the language name with "placeholder" so if you download it again, and reinstall it, it should work, with every language name now

[2021-12-08 08:11] hibatallahAouadni commented on #26901
Hello @tecnoservicel

This issue is related to your theme, please contact your theme developer to fix the issue.
Closing this issue as it's not a Core bug.

Thanks!

[2021-12-08 08:11] #26901 closed, assigned to nobody

[2021-12-08 08:20] matthieu-rolland commented on #26885
Sorry guys :D. I was using the PR to test something with the issueBot, I'm closing it now 👍

[2021-12-08 08:20] #26885 closed, assigned to nobody

[2021-12-08 08:25] matks commented on #26907
OK I found the class you are talking about. It's https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Routing/LegacyHelperLinkBuilder.php#L97

But what I dont understand is your usage of LegacyHelperLinkBuilder. It's supposed to be a helper that aims to build links. Links that aim to be used in views, Smarty views or Twig views. I don't understand what scenario you follow where you ha

[2021-12-08 08:48] matks commented on #26912
I might be wrong, but I think there is a weird system where what happens is:

"I set up a rule for products A, B, C but I exclude products D and E, so the system creates the cart rule and then generates specific prices that do apply only to D and E".

The result is that products A, B, C have the cart rule effect, but products D and E have the specific price that _cancel_ the cart rule so it looks

[2021-12-08 09:33] #26515 closed, assigned to matks

[2021-12-08 10:00] hibatallahAouadni commented on #26892
Hello @unlocomqx

I reproduce the issue with develop, see the attached screen record below:

https://watch.screencastify.com/v/kBm7ojld0NEEhjuCaT7H

On 178x branch it works without errors, so it's a **regression**!
I’ll add this to the debug backlog so that it’s fixed. Thanks for your PR :rocket:

Thank you

[2021-12-08 10:02] #25470 closed, assigned to NeOMakinG

[2021-12-08 10:21] Prestaworks commented on #12435
I changed the tables from myIsam to InnoDB and that fixed the problem for me and those alter tables where executed properly.

[2021-12-08 10:26] hibatallahAouadni commented on #26878
Hello @rblaurin

Could you please provide a module to reproduce the issue. Cause I tried to reproduce the issue with ps_qualityassurance module but it doesn't display anything, see the attached screen record below:

https://watch.screencastify.com/v/qEVgcQQk6RfxjOqA5rKT

Please check and feedback.
Thanks!

[2021-12-08 10:31] HanaRebaiQA opened #26915 "BO - Bad display of label in Email theme page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display of the two labels `Sele

[2021-12-08 10:36] matthieu-rolland opened #26916 "Configuration Forms: labels not disabled for disabled field on page load"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In multistore config forms, labels

[2021-12-08 10:44] unlocomqx commented on #26915
This seems to be fixed in a subsequent PR because it looks fine on 8.0.0
<img width="678" alt="2021-12-08 at 11 43 AM" src="https://user-images.githubusercontent.com/793712/145194864-5f6b49fb-8862-493a-b3fe-660e0a9f5903.png">

[2021-12-08 10:45] hibatallahAouadni commented on #26915
@unlocomqx yes indeed

[2021-12-08 11:07] hibatallahAouadni commented on #26915
Fixed on develop

[2021-12-08 12:12] Progi1984 commented on #26604
Fixed by @NeOMakinG in #26714 & tested by @HanaRebaiQA

[2021-12-08 12:12] #26604 closed, assigned to NeOMakinG

[2021-12-08 13:01] unlocomqx commented on #26899
It looks like the value is not "trimmed" properly

<img width="863" alt="2021-12-08 at 1 50 PM" src="https://user-images.githubusercontent.com/793712/145211261-928d91bc-65e2-48e9-8960-2de0b7bff249.png">

[code]

is read roughly as
[code]

Which means that the content is not trimmed to `CDATA` which I think it should

Workarounds for now (remove spaces and new lines)
[code]

[2021-12-08 13:07] hibatallahAouadni commented on #26915
Ping @PrestaShop/product-team wdyt? should I close this issue as it's not reproducible on develop? or should we fix it on `1.7.8.x `branch?

[2021-12-08 13:15] NeOMakinG commented on #26849
Good args, but the way it's done atm is hardening the template development because the module is sending the full code of the markup, this means that if the markup of the current theme changed, the style will be different from items coming from the hook.

We can probably choose both of the comments => having 4 hooks, but prodiving datas that can be used from the theme instead of pushing the markup

[2021-12-08 13:27] tswfi commented on #25382
https://github.com/PrestaShop/PrestaShop/pull/26048 somewhat related

[2021-12-08 13:28] Progi1984 opened #26918 "Native Modules for v8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As defined in the Spreadsheet : htt

[2021-12-08 13:32] Progi1984 commented on #26918
* `blockreassurance`
![image](https://user-images.githubusercontent.com/1533248/145216555-550d3504-eb30-4c7a-a81a-6bb88e17065a.png)

* `productcomments`
![image](https://user-images.githubusercontent.com/1533248/145216608-b29d145a-9430-43a5-9d24-9844aee57438.png)

* `ps_emailalerts`
![image](https://user-images.githubusercontent.com/1533248/145216886-89ba26f0-dc43-4718-ab74-788e41ad5f4d.png)

* `p

[2021-12-08 13:36] Progi1984 commented on #26918
Duplicate of #24643

[2021-12-08 13:36] #26918 closed, assigned to nobody

[2021-12-08 13:38] Progi1984 commented on #24643
* `blockreassurance`
![image](https://user-images.githubusercontent.com/1533248/145216555-550d3504-eb30-4c7a-a81a-6bb88e17065a.png)

* `productcomments`
![image](https://user-images.githubusercontent.com/1533248/145216608-b29d145a-9430-43a5-9d24-9844aee57438.png)

* `ps_emailalerts`
![image](https://user-images.githubusercontent.com/1533248/145216886-89ba26f0-dc43-4718-ab74-788e41ad5f4d.png)

* `p

[2021-12-08 13:58] hibatallahAouadni commented on #26912
Hello @Hlavtox

I didn't manage to reproduce the issue with PS1781, see the attached screen record below:

https://watch.screencastify.com/v/LqjYMMlzTNqInrxzRFkC

Please check and feedback.
Thanks!

[2021-12-08 14:12] marionf commented on #26915
If it's a regression of the 1.7.8.0 it should be fixed on 1.7.8.X