[2018-11-28 16:02] eternoendless commented on #11220
PR: https://github.com/PrestaShop/TranslationFiles/pull/4

[2018-11-28 16:02] khouloudbelguith opened #11546 "It is impossible to filter the list of categories by position in the Design => Pages page"
**Describe the bug**
In the BO => Design => Pages page when we try to filter the list of categories by position, the result is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Pages page
2. You have at least more than one page Category.
3. Filter by position
4. See the error, the result is incorrect

**Screenshots**
https://drive.google.com/file/u/1/d/1T0P_jqU

[2018-11-28 16:12] marionf opened #11547 "Can't enable or disable some modules permissions"
**Describe the bug**
Can't enable or disable some modules permissions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Team > Permissions
2. Try to enable/disable checkboxes below

![capture d ecran_680](https://user-images.githubusercontent.com/13449658/49165068-a8286700-f330-11e8-8d0c-0b9a3bd77134.png)

3. See the error

![capture d ecran_681](https://user-images

[2018-11-28 16:34] BilalDr commented on #10568
On the page transplant a module you can search for the module but you can't search hooks. So we should have a search bar to search hooks.
![searchbar](https://user-images.githubusercontent.com/40759259/49166467-b3c95d00-f333-11e8-9827-b9b62aea5b8b.png)
![nosearchbar](https://user-images.githubusercontent.com/40759259/49166391-8a103600-f333-11e8-9d43-a2e72c98abeb.png)

[2018-11-28 16:43] nrcjea001 commented on #23314
Hi @khouloudbelguith

Thank you for getting back to me.

In your video you have "All Shops" activated. The issue arose using the following approach:

1. Activate Shop1
2. Go to GDPR module and make some changes to the consent request messages in "consent checkbox customization". Then save
3. Activate Shop2.
4. Go to GDPR module and then thats where duplicates arise.

I uninstalled and reinstalled

[2018-11-28 16:46] LmobilePortugal commented on #11544
Thanks for the quick response.
So far, from what we are realizing, it only happens with the payment by
mutibanco, since it is a means that has term of payment.

Regarding the logs I do not know how to see this particular problem.

The version we have of Prestashop is 1.7.4.2.

A 2018-11-28 15:51, khouloudbelguith escreveu:

--
Colocamo-nos ao dispor para qualquer esclarecimento adicional.

Sem mai

[2018-11-28 16:50] marionf commented on #10193
Is it possible to solve this issue during migraiton: #11545 ?

[2018-11-28 16:52] khouloudbelguith commented on #23314
@nrcjea001, thanks for this clarifications.
I manage to reproduce the issue following your steps.
We will see how to fix it.
https://drive.google.com/file/d/1qsu25BhqHomIY4j9SKEi9MW48mC_CtG6/view
Thanks!

[2018-11-28 16:54] musaffar-patel opened #11548 "Module Template overrides not working in 1.7.4.4"
Hi

In previous versions of prestashop 1.7.4 a module template could be overridden in the theme folder in the following fashion:

/theme/classic/modules/mymodule/views/templates/front/mytemplate.tpl

and Prestashop would automatically use the above overridden template when available.

However this does not work in PS 1.7.4.4.  But works fine in Prestashop 1.7.4.0

The only way I found to make it w

[2018-11-28 16:56] sarjon commented on #10193
@marionf, of course we can. :) actually this issue is caused because positions are counted from 0, however in list they are displayed as `position + 1`.

I think what we can do is subtract -1 from position entered in filter input that way we get visually correct results.
Another way would be to show positions as is, this means start from 0.

What option sounds better for you?

[2018-11-28 17:07] khouloudbelguith commented on #11544
@LmobilePortugal, have you tried to contact the module author about your issue?
Thanks!

[2018-11-28 17:12] khouloudbelguith commented on #11548
Hi @musaffar-patel,

Could you please try to delete config/themes/themename/shop1.json file to reload updated .yml file in your back-office.
Thanks to check and feedback.

[2018-11-28 17:31] amarock opened #11550 "Gamification optimisation"
**Is your feature request related to a problem? Please describe.**
Le module gamification fait de nombreuses requêtes externes pour télécharger des CSS selon le conseil affiché.

Actuellement cette opération ne semble plus utile, les feuilles de style étant intégrée dans le fichier de configuration JSON.

**Describe the solution you'd like**
Supprier les lignes suivantes dans le module gamificatio

[2018-11-28 17:31] amarock opened #13017 "Gamification optimisation"
**Is your feature request related to a problem? Please describe.**
Le module gamification fait de nombreuses requêtes externes pour télécharger des CSS selon le conseil affiché.

Actuellement cette opération ne semble plus utile, les feuilles de style étant intégrée dans le fichier de configuration JSON.

**Describe the solution you'd like**
Supprier les lignes suivantes dans le module gamificatio

[2018-11-28 18:29] LmobilePortugal commented on #11544
Yes, we did. And they said it was a problem of prestashop and not of the
module

A 2018-11-28 17:07, khouloudbelguith escreveu:

--
Colocamo-nos ao dispor para qualquer esclarecimento adicional.

Sem mais assunto, apresentamos os nossos melhores cumprimentos.

Equipa Lmobile

Telemóvel: 915 421 330
Telefone Fixo: 220 947 798
FAX: 220 947 798

De Segunda a Sexta das 9h às 18h

[2018-11-28 19:11] jolelievre commented on #11542
On user input we must implement validation that's a given
However in the example you linked to with `$field['field_name']` I think it's overkill, if we can't even trust are own interfaces we're gonna put if and exceptions very 5 lines in the code which won't help the readability
Besides in this case if the index does not exist an error is gonna thrown itself no? `Undefined index`

[2018-11-28 21:16] matesbu opened #11552 "Prestashop 1.7.4.4, Putenv function"
Hi,

after upgrading to version 1.7.4.4 I can't get to back office login page because of error 500. I turned on debug mode and it says the problem is with disabled function putenv. I googled it and there is one same case on forge.prestashop.com: http://forge.prestashop.com/browse/BOOM-6194 , but it was solved with provider. My provider isn't able to solve it because of security reasons, but they t

[2018-11-28 22:07] rblaurin opened #11553 "Deprecated in PHP 7.2"
Prestashop version: 1.7.4.4
PHP Version: 7.2.12

I got 3 advices in PHP logs:
1.  /controllers/front/CartController.php on line 128 - The each() function is deprecated.
2.  /src/PrestaShopBundle/Controller/Admin/AttributeController.php on line 175 - The each() function is deprecated. + Variable passed to each() is not an array or object
3.  /classes/Mail.php on line 872 - INTL_IDNA_VARIANT_2003 is

[2018-11-29 03:54] andrewupandabout opened #11554 "Upgraded to 1.6.1.23: Unable to View Invoice (Unable to Generate Invoice)"
When a customer purchases a product I'm unable to download their invoice (PDF) in the orders tab or customer account. I just upgraded from 1.6.1.17 to 1.6.1.23 and using Prestashop for 4 years. (Of note I did migrate to Godaddy two days ago and very happy with the speed of the site. Everything works with SSL but this new issue.)

Host: Godaddy
server setup and configuration
PrestaShop Version: 1.6

[2018-11-29 04:19] nrcjea001 opened #11555 "When changing stores it redirects back to admin login PS 1.7.4"
In multistore, whenever I switch stores and try to edit/configure one of the controllers it redirects me back to the admin login page. The URL/admin is then switched to that store.

Steps to reproduce the behavior:
1. Activate Store 1
2. Do some stuff (configure, edit) and save (e.g. in modules, or carriers, or international)
3. Activate Store 2
4. Go to carriers and then click edit carrier (this

[2018-11-29 04:24] andrewupandabout commented on #11554
Resolved the issue. The file dejavusans.php was not fully uploaded by FTP when migrating; was 80% of the backup copy. I copied the code of a backup dejavusans.php file into the current dejavusans.php file. Solved and downloading invoices.

[2018-11-29 04:24] #11554 closed, assigned to nobody

[2018-11-29 07:49] khouloudbelguith commented on #13017
Hi @amarock,

Thanks for your report.
The Gamification module has been improved too. A new release is available, for both 1.6 and 1.7 versions of PrestaShop:

- All static files are included in the module, in order to remove a lot of requests to the servers
- The json data requested by the module is compressed and so up to 90% lighter in order to decrease the bandwidth
- Some users reported an iss

[2018-11-29 07:51] fd87 opened #11556 "Help in Back office always in english"
Help in back office is always displayed in englis even if the default language is french and language of employee is also French.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a prestashop Back office in french with an employee's language set to french
2. "Aide" on top left of the page
![image](https://user-images.githubusercontent.com/41292066/49206900-f7bc7080-f3cc-11e8-819f-62b891

[2018-11-29 07:57] Falataya commented on #11502
Just to let you know, it turned out the site was hacked. It was waiting for an outside source and it only loaded after not getting a response.

[2018-11-29 08:02] khouloudbelguith commented on #11556
Hi @fd87,

I did not manage to reproduce the issue with PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/49207455-4100c600-f3b5-11e8-83ff-b2cbf3971c5b.png)
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a secur

[2018-11-29 08:02] #11556 closed, assigned to nobody

[2018-11-29 08:18] khouloudbelguith commented on #11555
Hi @nrcjea001,

I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1Kr47Rk4Mw4GYfsfKN1srArgSo9n_10-P/view
Also, in the next release, we have made some fixes, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9450
https://github.com/PrestaShop/PrestaShop/pull/11478
Thanks to check & feedback.

[2018-11-29 08:32] khouloudbelguith commented on #11552
Hi @matesbu,

Some server disables `putenv` because of security reason.
Your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
We can't do anything with this.
You should contact your host provider, they are the only ones to help you with it.
Thanks!

[2018-11-29 08:32] #11552 closed, assigned to nobody

[2018-11-29 08:34] khouloudbelguith commented on #11544
@LmobilePortugal, what is the exact name of the module did you use?
This issue occurs only when you use this module or any other module?
Thanks!

[2018-11-29 08:50] nrcjea001 commented on #11555
Hi @khouloudbelguith

Thanks for getting back to me. Yes, this may be the same issue.

Can you please try this:

1. Login BO in default shop (Shop1)
2. You should see "All shops" on the top left so change to Shop1.
3. Go to international --> localization
4. Activate Shop2
5. Go to Currencies
(redirects to admin login)

[2018-11-29 08:59] kyripapa commented on #9658
Do we have any news on that?

[2018-11-29 09:08] khouloudbelguith commented on #9658
Hi @kyripapa,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-11-29 09:16] PierreRambaud commented on #11542
In fact, you can always trust scalar values, but not dynamics elements. More because `stdClass` and `array` don't have interface, structure or anything else.

For example:
* Day 1
Woot what a feature, I need these fields today
[code]
* Day 29
Someone add the capability to don't save null values in database to prevent useless memory usage. And add a new key because he needs it.
[code]

Now, you nee

[2018-11-29 09:38] khouloudbelguith commented on #11555
@nrcjea001, Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.0beta1.
https://drive.google.com/file/d/1fc0gz4w9Tahkbck13FfUBJJSAJX_lSXw/view
Either with PS1.7.4.4, https://drive.google.com/file/d/1ZksIlPlDCFh9UuD3WeiN2IIhPuc0IjTc/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
THanks!

[2018-11-29 09:44] 123monsite-regis opened #11557 "Clearing symfony cache after installing or uninstalling a module"
After prestashop 1.7.5 , modules can use Symfony's futures,
but, after unsinstalling a module some cache may be cleared,

For example Symfony routes are note cleared.
to constat this beahavior ,
 try to test new ps_linklist 3.1 version, and them try to uninstall it and install the old version : 2.14
( new route for the bo controller of this module is not cleared after uninstalling)

[2018-11-29 09:50] khouloudbelguith commented on #11553
Hi @rblaurin,

I did not manage to reproduce the issue with PS1.7.4.4 & PHP7.2.
I just have some issue related & they are fixed in the next release 1.7.5.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/9409
Could you please provide me the exact steps to reproduce your issue.
Thanks!

[2018-11-29 09:53] PierreRambaud commented on #11553
Hi,
I manage to reproduce the deprecated warning about each.
For INTL, latest version of PrestaShop require the extension php-intl.
We will add a fix as soon as possible to remove the each function :)

Regards,

[2018-11-29 10:03] marionf commented on #10193
I think substract -1 from position entered in filter is better :)

[2018-11-29 10:14] marionf commented on #11547
In fact I can reproduce this one on 1.7.4.4, it's not a regression of 1.7.5
So, we can do it later

[2018-11-29 10:17] khouloudbelguith commented on #11557
Hi @123monsite-regis,

Thanks for your report.
Steps to reproduce the issue with PS1.7.5.x

1. Install ps_linklist v3.0.1
2. Click on configure button => OK
3. Uninstall ps_linklist module
4. Install [ps_linklist v2.1.4](https://github.com/PrestaShop/ps_linklist/releases/tag/v2.1.4)
5. Click on configure button => NOK

I attached a video record
https://drive.google.com/file/d/1UgTs-4TRQ7dXBch4Sitf

[2018-11-29 10:19] nrcjea001 commented on #11555
Please advise me on how to retrieve this for you. I have cpanel so I can search in file manager. But what name do you give the file? I also entered debug mode but I don't know where exactly to look

Can you please try this (1.7.4.4):

1. Login BO in default shop (Shop1)
2. Activate Shop2 and sign out.
3. In your browser, enter url for BO of shop1 (e.g. shop1.com/admin)
4. At this point it would li

[2018-11-29 10:36] khouloudbelguith commented on #11555
@nrcjea001, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
I attached a video record: https://drive.google.com/file/d/1UfgqE9O7kNoLbYgA72zUwRFsNT4YKeTI/view
Could you please provide me the exact configuration for each store did you make, you can find it the Advanced Parameters => Multistore page.
Than

[2018-11-29 10:39] dheerajwebkul opened #11558 "Currency ISO display instead of currency symbol"
**Describe the bug**
For some currency like:
Malaysian Ringgit (MYR/RM)
and other displayed in the screenshot. Prestashop displayed the ISO code instead on currency code.
Is this a feature or Bug, it works fine in Prestashop V1.6.x.x, see screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International -> Localization'
2. Import 'Malaysia' country pack
3. Go to the front offic

[2018-11-29 10:53] nrcjea001 commented on #11555
Hi

I think I see the source of the problem: all my shops are the main url. I don't understand how this happened. Please see screenshot below

I'm trying to disable them but it wont allow me to change a main URL. Is there another way to change it?

![image](https://user-images.githubusercontent.com/26452178/49217123-34489600-f3e6-11e8-8832-81a45b527adb.png)

Thanks

[2018-11-29 11:08] #11220 closed, assigned to jolelievre

[2018-11-29 11:08] khouloudbelguith commented on #11558
Hi @dheerajwebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.0beta1
![image](https://user-images.githubusercontent.com/16067358/49217986-7b775c80-f3cf-11e8-9e5e-0db24b631585.png)
In the PS1.6.1.23
![image](https://user-images.githubusercontent.com/16067358/49217753-bb8a0f80-f3ce-11e8-9058-343cd3efa4d8.png)
We will see how to fix it.
Related to https://github

[2018-11-29 11:25] rblaurin commented on #11553
Thank you!
I have already php-intl extension installed. It seems the problem here is just the deprecation of INTL_IDNA_VARIANT_2003, that should be changed to INTL_IDNA_VARIANT_UTS46.
Although INTL_IDNA_VARIANT_2003 is deprecated in php 7.2, the function idn_to_ascii still uses it as default and it seems the only way to avoid the warning is calling the function using explicitly the parameter INTL_

[2018-11-29 11:25] khouloudbelguith commented on #11555
Hi @nrcjea001,

Yes, I manage to reproduce the issue with PS1.7.4.4
https://drive.google.com/file/d/1kCy1FpeVq6-FnxNlb6TsFb1reMwpBfPt/view
But, in The PS1.7.5.x is fixed as I said.
https://drive.google.com/file/d/1JXZmlGYFYLVzl0lJN7otvPx8PR8EpA12/view
So, I close the issue.
Thanks!

[2018-11-29 11:25] #11555 closed, assigned to nobody

[2018-11-29 11:45] magnum93 commented on #11370
I am also having this same problem, I will have to disable all modules 1 by 1 and check cart add status

[2018-11-29 12:45] #11485 closed, assigned to jolelievre

[2018-11-29 12:47] khouloudbelguith commented on #11370
Hi @magnum93,

This issue is not a PrestaShop's core bug but most likely an error from another module.
Thanks!

[2018-11-29 14:40] #10993 closed, assigned to nobody

[2018-11-29 14:43] marionf commented on #10993
Hello @dennispw

There will always be cases where it will be necessary to scroll up or down according to the number of products displayed on the page, the number of filters configured in faceted search, the device used ...

So, we talked about this with @TristanLDD & @colinegin and we don't want to change the current behavior

[2018-11-29 14:48] 123monsite-regis commented on #11557
thanks @khouloudbelguith for the screen capture

[2018-11-29 15:04] ChineseNorris opened #11562 "Random address into customer's order (not related address or customer)"
**Describe the bug**
Hi,

I'm having this identical issue:
https://www.prestashop.com/forums/topic/473780-order-address-becomes-random-address-of-other-users/

And I don't really know how to reproduce it. I've updated the store from 1.7.2 to 1.7.4.4 and it was working fine until I had this issue.
A customer purchases an item and then the delivery address is set from another customer, I've checked

[2018-11-29 15:09] khouloudbelguith commented on #11562
Hi @ChineseNorris,

Thanks for your report.
Did you use the MailChimp module?
Thanks to check & feedback.

[2018-11-29 15:15] ChineseNorris commented on #11562
Hello @khouloudbelguith , and yes, we are using MailChimp integration module, should it be a problem?

Thanks for your fast feedback.

[2018-11-29 15:20] khouloudbelguith commented on #11562
@ChineseNorris, with MailChimp module, we manage to reproduce an issue related to your problem: http://forge.prestashop.com/browse/BOOM-5486
So, it could be a problem.
Thanks to disable it, check & feedback.

[2018-11-29 15:44] Werbike commented on #10914
I've got good internet connection + I'm using main (admin) account and correctly password (It works normaly in https://addons.prestashop.com ).
When I'm in debug mode in Team> Permission its says something like "is not correctly name of module"
![image](https://user-images.githubusercontent.com/40056329/49233178-b9877700-f3f5-11e8-9e13-20cbadd55d12.png)
Logs from Symphony
![image](https://user-ima

[2018-11-29 15:49] khouloudbelguith commented on #10914
@Werbike, could you please try to disable the ps_cashondelivery module.
you need to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

[2018-11-29 15:54] ChineseNorris commented on #11562
@khouloudbelguith since it's a random thing and not something that occurs, we will try to disable the module and see if we have problems again.

Thanks

[2018-11-29 15:55] khouloudbelguith commented on #11562
@ChineseNorris,

Thanks!
Waiting for your feedback.

[2018-11-29 16:04] Werbike commented on #10914
Nothing happend. Still the same.

[2018-11-29 16:06] khouloudbelguith commented on #10914
@Werbike, could you please try to disable all the custom module one by one, check and feedback.
Thanks!

[2018-11-29 16:43] #11461 closed, assigned to jolelievre

[2018-11-29 16:56] khouloudbelguith commented on #11172
Hi @e-perrodon,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-29 18:08] jolelievre commented on #11557
This should be tested, but there are high chances that there is the same issue for every actions performed by the `ModuleManager` such as `install|uninstall|enable|disable|enable_mobile|disable_mobile|reset|upgrade`

[2018-11-29 18:32] magnum93 opened #11567 "One Click upgrade path folder failed installation - Now needs removing"
Hello I have a 1 click upgrade that failed. Can anyone tell me how to clean flush the folder where it is held as I am now running outta disk space thanks.
Notes version 1.7.2 Failed 1 click upgrade needs flushing via FTP or other

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll d

[2018-11-29 23:56] ChineseNorris opened #11568 "Attribute list not displaying in backoffice"
**Describe the bug**
I can't see the attribute list in the backoffice althought the attributes are created.

**To Reproduce**
Updated from 1.7 to 1.7.4.4 with 1click autoupgrade. This is extremely odd since i hadn't any error while upgrading and everything is working properly, but the div is empty???? Where should I start to check if the file is broken???

**Screenshots**
![capture](https://user-i

[2018-11-30 03:58] dheerajwebkul commented on #11558
thanks @khouloudbelguith
Can I use this #9714 to fix this issue?

Thanks

[2018-11-30 04:42] dineshbadrukhiya commented on #11568
Hello @ChineseNorris
It's seems like [https://github.com/PrestaShop/PrestaShop/issues/9627](https://github.com/PrestaShop/PrestaShop/issues/9627)
Here is PR to fix it: [https://github.com/PrestaShop/PrestaShop/pull/10924](https://github.com/PrestaShop/PrestaShop/pull/10924)

[2018-11-30 07:46] karopka opened #11569 "Payment at the order page in the customers order history"
It may happen that the buyer wants to choose another payment method (or the seller wants to offer another payment method) after placing the order. For example, a cash payment was chosen, and then the buyer decided to pay by card on the site. But the order has already been submited.

It would be great to add this feature on the Order History page.

As I see it: the seller changes the status of the

[2018-11-30 07:46] khouloudbelguith commented on #11567
Hi @magnum93,

Thanks for your report.
In your Project_Folder/modules/ you can find the `autoupgrade` folder, thanks to remove it.
After That, in the BO=> Modules => Modules & Services, Selection Tab, Search for the autoupgrade module & install it.
Or you can download it from [here](https://addons.prestashop.com/en/data-migration-backup/5496-.html) and then use the 'upload a module' in the Modules

[2018-11-30 07:47] mklimkiew commented on #11517
@khouloudbelguith Do you think this issue should be labeled as 1.7.4.4 ?
As an option for new feature I think it could be 1.7.5.0

[2018-11-30 08:02] khouloudbelguith commented on #11569
HI @karopka,

Thanks for your report.
In our [Marketplace](https://addons.prestashop.com/en) you can find a lot of modules to edit payments methods.
For example, you can find this [module](https://addons.prestashop.com/en/order-management/18850-order-edit-change-and-modify-existing-order.html).
I close the issue, feel free to open a new one when needed.

[2018-11-30 08:06] khouloudbelguith commented on #11568
Hi @ChineseNorris,

This issue occurs when you delete the language with id_language=1.
@dineshbadrukhiya said it is fixed in the next release 1.7.6.0 with this [PR](https://github.com/PrestaShop/PrestaShop/issues/9627)
Your ticket is a duplicate of #9627
So, I close it.
Thanks!

[2018-11-30 08:06] #11568 closed, assigned to nobody

[2018-11-30 08:08] khouloudbelguith commented on #11517
@mklimkiew, the `1.7.4.4` label is the Affects version & not the fix version.
Thanks!

[2018-11-30 08:11] khouloudbelguith commented on #11558
@dheerajwebkul,  #9714 & #11558 they are just related issues.
Thanks!

[2018-11-30 09:02] Quetzacoalt91 commented on #11567
There are also data added by the module in `<admin_folder>/autoupgrade`

[2018-11-30 09:10] marionf commented on #11440
Not fixed :(

[2018-11-30 09:34] esetieng commented on #9726
Hello,
I have the same problem, but when I copy and paste the Batsare's code that show blank screen.
Anybody Know why it can be?
Thanks!

[2018-11-30 09:40] RomSunZ opened #11570 "Need a hook for a file attachments"
**Is your feature request related to a problem? Please describe.**
I did not find possibilities to add to e-mail custom file that will be send together with mail after order validation.

**Describe the solution you'd like**
Please add a hook after 'Join PDF invoice' block inside  PaymentModuleCore->validateOrder.

[2018-11-30 09:42] davoud-najjari opened #11571 "Jalali Calendar for PrestaShop 1.7"
Please add Jalali Calendar for Prestashop 1.7 for RTL languages such as Persian/Arabic

Thank you

[2018-11-30 09:55] dheerajwebkul opened #11573 "Translation not display if we add new line in string Module class l() function"
**Describe the bug**
If we add a new line to the l() function like
$this->l(
'This is a test translation'
);
a function can have arguments with a single line with the PSR-2 standard.

Then,
It will not display in Module back-office translation page, see screenshot.

**Why we need a new line?**
Because if we want to fix 120 line PSR-2 issues sometimes it helps.

**Screenshots**
![download 13](https

[2018-11-30 10:08] karopka commented on #11569
Thats modules do not offer payment mechanism for a Customer. You just can change payment method at admin area but nothing happens at frontend. If I switch to online pay by credit card there is no button appears at Customers account to do a payment.

Or I missed something.

[2018-11-30 10:09] khouloudbelguith commented on #11573
Hi @dheerajwebkul,

This issue should be fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/11345.
It is fixed in the next stable version 1.7.5.0.
Thanks to check & feedback.
For more details about the translation system in Prestashop, you can follow this [link](http://build.prestashop.com/news/new-translation-system-prestashop-17)
Thanks!

[2018-11-30 10:15] dheerajwebkul commented on #11573
@khouloudbelguith thanks,
But are you sure this fix for the third party module translations? because PrestaShop module translation and third-party module translation have a different way to translate.

[2018-11-30 10:19] khouloudbelguith commented on #11573
@dheerajwebkul, public [PrestaShop 1.7.x nightly builds ](https://console.cloud.google.com/storage/browser/prestashop-core-nightly)are available! This way, it should be easier for anyone who wants to contribute to the project to work with a recent build. Also, it means that merged pull requests will be in a build the next day for testing.
So, you can check if this issue occurs with the last presta

[2018-11-30 10:20] khouloudbelguith commented on #11570
Hi @RomSunZ,

Thanks to check the [official hook list ](http://doc.prestashop.com/display/PS17/Hooks+in+PrestaShop+1.7.x), you can find the hook `actionEmailAddAfterContent`, `actionEmailAddBeforeContent`, `actionEmailSendBefore`
Thanks to check & feedback.

[2018-11-30 10:25] khouloudbelguith commented on #11569
@karopka, thanks for this clarifications.
@marionf, @colinegin, can we add this feature to the core PrestaShop, on the front end?
In the order history details, can we add an options to edit the payment method after a complete order?
Thanks!

[2018-11-30 10:34] karopka commented on #11569
Not exactly this feature. I have asked about ability to invoke payment process not only at cart on checkout but in the order history if administrator or manager switch order status for special status for this after conversation with Customer.

The example is Customer wish to change payment method after order submiting.

[2018-11-30 10:48] khouloudbelguith commented on #11571
Hi @davoud-najjari,
After installing the Arabic package from the localization page, in the product detail page, quantity tab, for the Availability date we can find a calendar for this RTL language.
![image](https://user-images.githubusercontent.com/16067358/49284752-d1aed300-f495-11e8-9119-70a8b9ecce3c.png)
Thanks to check & feedback.

[2018-11-30 10:54] matesbu commented on #11552
so there is no chance to solve it with htaccess or some other way? I don't unerstand, why new prestashop (1.7.4.4) needs this function while old version (1.7.2) didn't...

[2018-11-30 10:55] duGuillaume commented on #11518
it will be great to add another option to allow comment only if you have purchased the product

[2018-11-30 11:12] davoud-najjari commented on #11571
Hi khouloudbelguith,
Thank you for your reply, but I Persian language 'Jalali Date' is completely different
please have look at below resources for more info regarding this issue
1- https://github.com/babakhani/PersianDate
2- https://www.drupal.org/project/calendar_systems

for instance 👍  after loading the Persian language inside the localization tab in Prestashop, automatically Perian Date (Jala

[2018-11-30 11:16] DamienFel opened #11574 "Questions about Prestashop features"
Hi there,

I am starting a new e-commerce project, using dropshipping system. I had someone on the phone from Prestashop that advised me to put my issues and questions here.

I would like to use BIG BUY as my supplier. Obviously, I would like to avoid manual actions and make it automatic. That is why I am planing to use the multi channel integration in order to synchronise product catalog, stocks,

[2018-11-30 11:22] Batsare commented on #9726
Hi,
Where did you paste the code ?
Have you enabled the overload in prestashop?

[2018-11-30 11:27] khouloudbelguith commented on #11571
@davoud-najjari, thanks for this clarifications.
After importing the Persian language,
I have this calendar
![image](https://user-images.githubusercontent.com/16067358/49286683-3ae51500-f49b-11e8-876e-0b9bfc6cf4ac.png)
Thanks to check & feedback.

[2018-11-30 11:34] esetieng commented on #9726
Hi,
I created a new file on /override/classes/checkout / CheckoutSession.php
Is that wrong?
Thanks for your fast anwer

[2018-11-30 11:40] ChineseNorris commented on #11568
Thanks for the fix @dineshbadrukhiya you are the man!

[2018-11-30 11:46] khouloudbelguith commented on #11574
Hi @DamienFel,

Thanks for your report, it's great to hear that you will use PrestaShop.
About your first question, could you please specify the "update catalog" action? which catalog you will update it & how you will update it?
About your second question, in PrestaShop, we have a native module [ps_featuredproducts](https://github.com/PrestaShop/ps_featuredproducts
) allows you to display featured

[2018-11-30 13:03] marionf commented on #11536
Worse, you don't see the block if there is a line below

![capture d ecran_690](https://user-images.githubusercontent.com/13449658/49290941-c1542380-f4a8-11e8-946f-8dafbcbecc79.png)

[2018-11-30 13:55] khouloudbelguith commented on #11188
Hi @Marwazeinoo88,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-30 13:55] #11188 closed, assigned to nobody

[2018-11-30 13:57] khouloudbelguith commented on #11183
Hi @weddingtextile,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-30 13:57] #11183 closed, assigned to nobody

[2018-11-30 13:58] khouloudbelguith commented on #11194
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-30 13:58] #11194 closed, assigned to nobody

[2018-11-30 14:17] jolelievre commented on #11557
hello @123monsite-regis this PR should fix a lot of problems with new modules installation https://github.com/PrestaShop/PrestaShop/pull/11572

By the way I noticed the same issue you mentioned when you uninstall the v3 and then reinstall the v2 It happens when you uninstall the module without removing the folder because the config files are still present and so they override the v2 behavior

[2018-11-30 14:47] nayithu opened #11577 "Url next register"
Hello,
I want to direct users to a different url to start page, after they register.

[2018-11-30 14:54] 123monsite-regis commented on #11557
thanks @jolelievre

Your work is more general than my reports :) , sorry to have targeted the module you are currenlty improving , it was just a sample. ( and a way to test new  modules sf's features ).

[2018-11-30 15:08] jolelievre commented on #11557
don't worry it's the only module migrated for now so it's expectable ^^

[2018-11-30 15:14] khouloudbelguith commented on #11577
Hi @nayithu,

With the module ps_customersignin, you can modify the URL after registration.
You need to edit this line https://github.com/PrestaShop/ps_customersignin/blob/master/ps_customersignin.php#L75
Thanks to check & feedback.

[2018-11-30 15:57] mbadrani commented on #11557
Same problem if you upgrade your module and trying to configure it
v2.1.5 is installed by default

[2018-11-30 16:32] jolelievre opened #11578 "Manage enable/disable in ModuleTabManagementSubscriber"
**Is your feature request related to a problem? Please describe.**
The class `ModuleTabManagementSubscriber` manages the installation and uninstallation of modules. It automatically register/unregister tabs based on the `getTabs` method and the controller files present in the module folder.
The problem is that it does not manage enable/disable so when you disable a module, if it does not manage it

[2018-11-30 16:32] eternoendless commented on #9697
@kpodemski They should be translatable once you update your default catalogue, as shown in the screenshot on the PR.

I tested it just now and it works:

<img width="1052" alt="screenshot 2018-11-30 at 17 28 04" src="https://user-images.githubusercontent.com/1009343/49301843-d8edd500-f4c5-11e8-9a99-86788caf990f.png">

<img width="1081" alt="screenshot 2018-11-30 at 17 30 17" src="https://user-imag

[2018-11-30 17:57] jolelievre commented on #11553
Hello, I changed the deprecated functions.
However I was not able to test all the changes as I'm not sure where exactly they are used, and I don't manage to display deprecation notices on my environment.
I was able to check the modification for cart update, but not the three others.

[2018-11-30 18:11] jolelievre commented on #11440
I can't reproduce the problem on the 1.7.5.x branch
Is there something specific to do to reproduce it? During the install process or something else?

Or maybe it has been fixed?

[2018-11-30 19:46] nayithu commented on #11577
but this works for "logout".

I need to change the url after the user registers

[2018-11-30 22:44] netdrag opened #11581 "Impossible to create or edit CMS Page, missing databasefield after upgrade"
The field head_seo_title is missing in the database table cms_lang after an upgrade from 1.7.4.3 to 1.7.5-beta1.
So its impossible to create a CMS Page. The error message in the frontend doesn't say anything about it, just that there was an error updating the cms (with empty brackets where the database error should be).

PrestaShop version: 1.7.5-beta1

[2018-12-01 03:52] kpodemski commented on #11304
@sarjon @mickaelandrieu @khouloudbelguith

there's "No change required" label but...

we can not use new Grid features on Products List, it's regression from 1.6

[2018-12-01 04:51] RomSunZ commented on #11570
Mensioned by you hooks do not work because in this case mail is sending from PaymentModuleCore->validateOrder function.

[2018-12-01 05:49] kpodemski commented on #11570
You're not right, you still can use those hooks, mails are always send using Mail class

[2018-12-01 06:34] davoud-najjari commented on #11571
Hi, thank you
You know as you see in the above picture, Year still shows in English, not in Persian (Jalali Date).
I have a picture of Persian Date please have look at below pic.
I think Persian date must be implemented into Prestashop with specific PHP class.  for more information please have look at :
![datepicker_persian](https://user-images.githubusercontent.com/23167257/49325027-565e2780-f550

[2018-12-01 10:08] dheerajwebkul opened #11582 "DisplayAdminProductsExtra hook form not display in product edit module page for PS1.7.5.0 beta"
**Describe the bug**
DisplayAdminProductsExtra hook return form not display in catalog product edit module tag configure button click

**To Reproduce**
Steps to reproduce the behavior:
1. Create a module which use 'DisplayAdminProductsExtra' hook and return a form
2. Go to Catalog -> Products, and edit a product
3. Click on 'Modules' tab and then click on Module 'Configure' button
4. Form not disp

[2018-12-01 15:02] roja45 opened #11585 "Modules hooked to displayNav* are not included on responsive resize event"
**Describe the bug**
When the screen is resized an even is emitted and a function is called to move the header components to a mobile view.  This uses the generic _desktop_ selector, however it will only move these components is a target mobile location of the same name already exists.

This mobile section of the header is not accessible to modules however so the mobile target cannot be included.

[2018-12-02 15:50] D2Red opened #11587 "variants of products in pack of products"
**the error**
if you want to create a pack of products, and a single product, you want to select, has more than 30 variants, only the first 30 variants are displayed in the selection.(pic: pop_1.png)
![pop_1](https://user-images.githubusercontent.com/45538290/49341700-8fca8c00-f651-11e8-8b97-d4d357106c22.png)

is there a way to show more than 30 Variants of a product?

**Additionnal information**

[2018-12-03 01:40] ilyasovivan opened #11588 "Email validation are not checked cyrillic characters before the @ sign. Also there is no support for Cyrillic domains."
**Describe the bug**
At the php level, the email validation form skips the cyrillic characters before the @ sign. Also, the form has no support for cyrillistic domains.

**How it should work**
Cyrillistic domains are supported by some email providers, such as Yandex or Google (Gmail).
Cyrillic characters should not be before the @ sign, only after it in domain, if the domain is converted to punyco

[2018-12-03 02:28] andrewupandabout opened #11589 "Spinning Save Button on 1.6.1.23 Upgrade"
Host: Godaddy
PrestaShop Version: 1.6.1.23
System: Linux
PHP Version: 7.0.3

After upgrading to 1.6.1.23 I have the "save buttons spinning" on the products pages. (Last year I solved the issue of the "prestashop save buttons spinning" however can not find my notes on it.)

I have tried the below:

Upgraded PHP Version from 5.6PHP to 7.0.3PHP.

Visited [http://prestamania.com/prestashop-back-office

[2018-12-03 04:50] nrcjea001 opened #11590 "No access to BO after regenerating .htaccess in Multistore"
**Describe the bug**
My FO and BO became inaccessible (site was down) by the following the below approach:

1. I created an alias (parked domain) in Cpanel and called it test.maindomain.com (as if it were a subdomain to the main domain but without creating the subdomain - not sure if that was the correct approach?).
2. I enabled multistore and created new group and new shop with URL test.maindomai

[2018-12-03 05:15] nrcjea001 opened #11591 "Combination error with custom attribute PS 1.7.4.4"
When selecting combinations in FO, I get an error (see screenshot below). To reproduce please follow these steps:

1. Create an attribute with 2 options.
2. Add any product with combination. Combine two colours with the 2 options of your custom attribute. You should see 4 combinations.
3. Now delete any one of the combinations. Now you should have 3. Save
4. Go to FO, and choose between the colour

[2018-12-03 07:52] khouloudbelguith commented on #11581
Hi @netdrag,

It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.0
The solution is to add the missing columns to your database schema.
You can find the schema changes from 1.7.4.3 to 1.7.5.0 by looking at this file: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/install-dev/upgrade/sql/1.7.5.0.sql

You can find the full

[2018-12-03 08:00] khouloudbelguith commented on #11582
Hi @dheerajwebkul,

Thanks for your report & your fix.
Could you please provide us with an example of a module to test with it.
Thanks!

Related to #9889

[2018-12-03 08:12] khouloudbelguith commented on #11591
Hi @nrcjea001,

Thanks for your report.
This issue is fixed in the version PS1.7.5.0.
This PR: #9390 should fix this issue.
Your ticket is a duplicate of #9390
So, I close it.
Thanks!

[2018-12-03 08:12] #11591 closed, assigned to nobody

[2018-12-03 08:13] khouloudbelguith commented on #11591
Duplicate of #9390

[2018-12-03 08:21] khouloudbelguith commented on #11589
Hi @andrewupandabout,

There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-9042
It wasn't necessary to create a new one.
So, this one can be closed
Thanks!

[2018-12-03 08:21] #11589 closed, assigned to nobody

[2018-12-03 08:36] khouloudbelguith commented on #11588
Hi @ilyasovivan,

This issue is fixed in the PrestaShop version 1.7.4.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9080 to fix the issue.
Also, you need to check that the php-intl extension is installed on your server.
Your ticket is a duplicate of #9080
So, I close it.
Thanks!

[2018-12-03 08:36] khouloudbelguith commented on #11588
Duplicate of #9080

[2018-12-03 09:17] #11367 closed, assigned to mickaelandrieu

[2018-12-03 09:22] Bonobomagno opened #11592 "multiple customer use the same id_cart, stealing each other"
**Describe the bug**
I checked on db, new user start with the same id_cart.
So when you login for the first time, you are stealing the cart from an other customer, that now maybe create a new or steal it from an other customer.
We disabled override and non native modules, but the issue is still present

**To Reproduce**
Steps to reproduce the behavior:
We had an old 1.6 version, so we did the 1cli

[2018-12-03 09:28] khouloudbelguith commented on #11592
Hi @Bonobomagno,

Did you use the MailChimp module?
Thanks!

[2018-12-03 09:32] Bonobomagno commented on #11592
Yes, but i disabled every override and non native modules from the performance page

[2018-12-03 09:37] khouloudbelguith commented on #11592
@Bonobomagno, "Disable non PrestaShop modules" does not work, here's the issue: #9965.
Your issue occurs due to the mail chimp module.
This is a previous ticket: http://forge.prestashop.com/browse/BOOM-5486 about this issue.
MailChimp isn't developed by PrestaShop.
https://addons.prestashop.com/en/contact-us?id_product=26957
I close the issue, feel free to open a new one, when needed.
Thanks!

[2018-12-03 09:37] #11592 closed, assigned to nobody

[2018-12-03 09:50] Bonobomagno commented on #11592
OMG, disabling mailchimp, worked.
Damn mailchimp.

[2018-12-03 10:07] marionf commented on #11440
@jolelievre

I just tried an install in French on 1.7.5.x and categories are in English

![capture d ecran_707](https://user-images.githubusercontent.com/13449658/49367188-99083700-f6eb-11e8-91dd-31125588fd4f.png)

[2018-12-03 10:11] khouloudbelguith commented on #11587
Hi @D2Red,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 / 1.7.5.0beta1.
For The Product P1 we have more than 30 combinations.
![image](https://user-images.githubusercontent.com/16067358/49367368-29467c00-f6ec-11e8-9c06-7436dddfe45b.png)
But, when we create a pack with this product only 30 combinations are displayed.
![image](https://user-images.githubusercontent.com/1606

[2018-12-03 10:13] mickaelandrieu commented on #11542
Are you sure? ;)

![collections](https://user-images.githubusercontent.com/1247388/49367311-fef4be80-f6eb-11e8-9ac1-a00b59d99933.png)

Collections are a structure I'm pushing into the PrestaShop code since 1.7.3.x: we have many reasons to use it:

* move the expected manipulations of a data into meaningful functions;
* store them into a dedicated object;
* "type-hintables";
* validables;
* unit te

[2018-12-03 10:16] marionf commented on #11587
@khouloudbelguith if you enter the combination that you search, you can select it ?

[2018-12-03 10:26] khouloudbelguith commented on #11587
@marionf, no, I can just search with the name of the product, I tried with reference of the combination but it is not displayed.
https://drive.google.com/file/d/15Kaz8O2l987vXwIK0V3TeV4bj9UbcDyO/view
THanks!

[2018-12-03 10:31] khouloudbelguith commented on #11585
Hi @roja45,

Thanks for your report.
The default theme is responsive.
So, when you resize the window, the shop should be compatible with the size of this window.
I tried with the module Contact information, it is hooked on displayNav1.
When we resize the window, just the position of this module is changed to be compatible with the size of the window.
I attached a video record.
https://drive.google

[2018-12-03 10:34] mickaelandrieu opened #11593 "Improve contributors website to add information about agencies"
**Is your feature request related to a problem? Please describe.**

We have a website to thank and give some extra visibility to our contributors => http://contributors.prestashop.com/

But... how to convince agencies to support and contribute to PrestaShop? We could add a specific part on this website with contributions per company/agency. This way, the agencies which contribute to PrestaShop can

[2018-12-03 10:52] jolelievre commented on #11440
Ok I managed to reproduce it. However I see the problem in the selection list but not in the display under. The titles of each category section is correctly translated. Do you have the same behavior?

[2018-12-03 10:58] #11081 closed, assigned to nobody

[2018-12-03 11:05] marionf commented on #11440
It's not translated for me

![capture d ecran_708](https://user-images.githubusercontent.com/13449658/49370190-c78a1000-f6f3-11e8-9b73-a3b55d3e962b.png)

[2018-12-03 11:22] khouloudbelguith commented on #11571
Hi @davoud-najjari,

Could you please provide the exact version PrestaShop did you installed & which Language/country did you used?
When the installation is complete, did you imported any lanaguage?
We need more details to understand how we can reproduce your issue.
Thanks!

[2018-12-03 11:45] khouloudbelguith commented on #11590
Hi @nrcjea001,

Thanks for your report.
How did you remove the test URL?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following ar

[2018-12-03 11:48] khouloudbelguith commented on #11577
@nayithu, so you need to edit this line, https://github.com/PrestaShop/ps_customersignin/blob/master/ps_customersignin.php#L76 by replacing the old URL with the new URL that you want to edit it.
Thanks!

[2018-12-03 11:49] khouloudbelguith commented on #11570
@RomSunZ, you can follow our [documentation](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)

[2018-12-03 12:23] roja45 commented on #11585
Yes, the default modules work fine, but this is because the default theme has been hard-coded to work with them, sorry I didn't make that very clear in the initial report.

[code]

Here you can see a section of the header.tpl. The **hidden-sm-down** section is hidden for small screens, and it is here where the modules are hooked.

The **hidden-md-up** section is displayed for small screens.

There

[2018-12-03 12:24] nrcjea001 commented on #11590
Hi

I will send you the error logs shortly. Please see other information below:

Per your video record, it should be a subdomain of the default shop. Though in cpanel I created an alias instead of a subdomain.

To remove the test URL, simply delete the URL from the shop. Once URL is deleted, the shop is still there but no URL assigned to it. I've attached a screenshot here. Then regenerate .htacce

[2018-12-03 13:07] rdy4ever opened #11595 "Checkout: unchecking "Use this address for invoice too" when having more than one address"
**Describe the bug**
At checkout, when you have more than one address and you edit the delivery address, if you uncheck "Use this address for invoice too" and click "Save", after the page refreshes you are in the delivery step, instead of being presented with a different invoicing address to choose from.

**To Reproduce**
Steps to reproduce the behavior:
See attached screen recording

**Screenshot

[2018-12-03 13:23] colinegin commented on #11329
See PR : https://github.com/PrestaShop/PrestaShop/pull/8571

[2018-12-03 13:34] khouloudbelguith commented on #11595
Hi @rdy4ever,

Thanks for your report.
I manage to reproduce the issue with PS 1.7.4.4 / PS1.7.5.0.
In the checkout steps, when we have more than 1 address, we uncheck the "Use this address for invoice too" option and click "Save" => we are redirected to "Shipping method" step.
It is not the same behavior in the PS1.6,
https://drive.google.com/file/d/1wDlonFQKdKCt2-52jxjKQdFa1oBmIqGy/view
We will

[2018-12-03 13:35] #9696 closed, assigned to tomlev

[2018-12-03 14:18] matks opened #11596 "Be able to use Doctrine entities in modules - part 1"
Type: tech-issue

[2018-12-03 14:36] khouloudbelguith commented on #11585
Hi @roja45,

I tried with this module.
[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2639825/dummymodule.zip) & it is displayed when resizing the window.
![image](https://user-images.githubusercontent.com/16067358/49380138-3033b580-f711-11e8-955f-5a2f78af5d56.png)
Thanks to check & feedback.

[2018-12-03 14:47] glam-strass opened #11597 "I have version 1.5.6.2 prestashop and I want version 1.6 please"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-12-03 14:51] glam-strass commented on #11597
I can't download the version 1.6 in prestashop. Actually I have version 1.5.6.2

[2018-12-03 14:53] khouloudbelguith commented on #11597
Hi @glam-strass,

Do want to make an upgrade from PS1.5 to PS1.6?
Thanks!

[2018-12-03 14:57] DamienFel commented on #11574
Hello khouloudbelguith,

First, thanks for your answer and your time :)

As a customer from big buy, it is possible to synchronise products, stocks, prices, orders etc with prestashop, thanks to the MCI (multi-channel integration). I am interested in that feature.
https://www.bigbuy.eu/fr/multi-channel-integration.html

- Meaning the product, price, stock, etc. flow comes from Bigbuy. If they chan

[2018-12-03 15:02] glam-strass commented on #11597
hello yes

[2018-12-03 15:03] glam-strass commented on #11597
but 1 click upgrade in prestashop does not work

[2018-12-03 15:04] khouloudbelguith commented on #11597
@glam-strass,

New versions of PrestaShop come every few months, they all bring a slew of innovations, improvements and bug fixes. It is therefore highly advised to keep up with the latest version.
There are two ways to upgrade PrestaShop:

- Automatic
- Manual

For more information, you can follow this documentation: http://doc.prestashop.com/display/PS15/Updating+PrestaShop
Thanks to upgrade you

[2018-12-03 15:06] glam-strass commented on #11597
do you speak French,?

[2018-12-03 15:13] khouloudbelguith commented on #11597
@glam-strass yes.

[2018-12-03 15:21] glam-strass commented on #11597
lorsque je fais la mise à jour j'ai un message java qui s'affiche

[2018-12-03 15:21] khouloudbelguith commented on #11590
Hi @nrcjea001,

As I can see in your first screenshot, the group of the new shop is the default one, not the second group created.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-03 15:22] khouloudbelguith commented on #11597
@glam-strass, quelle est la version du module 1-click upgrade tu es entrain de l'utiliser?
Merci!

[2018-12-03 15:28] glam-strass commented on #11597
erreur javascript (parsejson) détectée

[2018-12-03 15:28] glam-strass commented on #11597
module 1.6.8

[2018-12-03 15:32] roja45 commented on #11585
Hi,

Your module is not a valid test, it hooks to displayTop.  I've updated the module to provide an accurate test.

Desktop view - module is shown

![img1](https://user-images.githubusercontent.com/19314911/49383375-9820d680-f6e6-11e8-8649-cc8d7150d8f2.jpg)

![img2](https://user-images.githubusercontent.com/19314911/49383390-9e16b780-f6e6-11e8-906b-34f4fe415fd3.jpg)

Mobile view - module is not s

[2018-12-03 15:47] khouloudbelguith commented on #11585
@roja45, thanks for your feedback.
After your modifications, the module is hooked into the `displayNav2` hook.
When we resize the window or we try with a mobile view, the module is not displayed.
It is not the case with the hook `Top`.
I manage to reproduce the issue with PS1.7.5.0beta1 / 1.7.4.4
We will see how to fix it.
Thanks!

[2018-12-03 15:48] nayithu commented on #11577
thank you very much for your help.

1. But what I want is that when you register here (http://techfitds.com/iniciar-sesion?create_account=1)

2. at the end of your sample registration this page (http://techfitds.com/paciente)

[2018-12-03 16:14] khouloudbelguith commented on #11574
ping @eternoendless

[2018-12-03 16:15] khouloudbelguith commented on #11597
@glam-strass, could please provide me the exact error that you have.
Thanks!

[2018-12-03 16:17] glam-strass commented on #11597
erreur javascript  (parseJSON) détectée pour l'action "backupDb". début de restauration...

[2018-12-03 16:30] andrewupandabout commented on #11589
Hi @khouloudbelguith, that bug is for May 2017, that's over a year ago. No new bugs could have occurred by then? Thanks.

[2018-12-03 16:33] nrcjea001 commented on #11590
Hi

Here is the Apache error log. This is all I have.

[error_log.txt](https://github.com/PrestaShop/PrestaShop/files/2640302/error_log.txt)

Thanks

[2018-12-03 17:06] #11490 closed, assigned to nobody

[2018-12-03 17:07] #11557 closed, assigned to jolelievre

[2018-12-03 17:08] #11553 closed, assigned to jolelievre

[2018-12-03 17:22] khouloudbelguith commented on #11597
ping @Quetzacoalt91 what do you think?
Thanks!

[2018-12-03 17:28] khouloudbelguith commented on #11590
Hi @nrcjea001,

In your log file, you have this error `[ERROR] [HTAccess] Failed to open [/home/loopshop/public_html/.htaccess]: Permission denied`.
It is a permission issue on your server, thanks to check it with your host & feedback.
Thanks!

[2018-12-03 17:35] falehenrique commented on #11487
Hi, the problem is when the two notification came with the same payment_id. In your example the cart_id is different.

[2018-12-03 18:49] D2Red commented on #11587
as khouloudbelguith wrote, only if you give the full name of the product. but some names are very long

[2018-12-04 04:24] nrcjea001 opened #11602 "Unable to view payment module in FO multistore"
I installed the payment module BlueSnap and configured it as instructed. Its working fine on my default shop but not on my other shops in multistore. When I activate my other shop the module appears in BO but not in FO (see screenshots below). I configured it exactly as the default shop (as instructed). I've checked payment controller (payment method and preferences) and also international control

[2018-12-04 07:41] davoud-najjari commented on #11571
Hi,
I have installed Prestashop Version 1.7.4.4 latest stable release.
Step1:
install PrestaShop on the English language
Step2:
Add language (Persian), Everything is fine. (RTL is correct, Font is fine,...)
Step3:
But PersianDate is not showing correctly as it should be.  for example, Jalali date is completely different from Gregorian Calendar systems.
for clarification, I have gathered some info

[2018-12-04 07:47] dheerajwebkul commented on #11582
Ok @khouloudbelguith

I will provide you ASAP.

But I don't think so #9889 related to this that much, in this #9889 form display but only file upload not working, I also faced this issue, But in this my issue, in PS 1.7.5.0 beta, all form data not display.

[2018-12-04 07:51] khouloudbelguith commented on #11597
@glam-strass, This error is a very generic error that simply means it fails. This could be due to many things and parameters.
As this is probably due to allow_url_fopen not activated on your host.
If the display of errors is enabled on your shop, this can cause a problem during the update.
Thanks to check & feedback.

[2018-12-04 07:52] khouloudbelguith commented on #11582
@dheerajwebkul, Thanks for this clarifications.
Waiting for your feedback.

[2018-12-04 08:05] khouloudbelguith commented on #11602
Hi @nrcjea001,

I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0beta1.
I attached a video record.
https://drive.google.com/file/d/1rfnqihFU_8dip3ty9QtduNIT5qAK-ZXw/view
In the BO => Modules & Services, Installed Tab, when the second shop is selected, could you please try to reset your payment module.
![image](https://user-images.githubusercontent.com/16067358/49427441-9c5ef980-f7

[2018-12-04 08:06] nrcjea001 commented on #11590
Hi

Please see below response from host:

[2018-12-04 08:08] nrcjea001 commented on #11590
If this doesn't help, I will try reproduce the steps again to induce the crash. I just need to backup everything again first.

[2018-12-04 08:26] khouloudbelguith commented on #11590
Hi @nrcjea001, It will help us if you can attach a screen record.
Your issue, is related to this ticket: #9846?
Thanks!

[2018-12-04 08:33] khouloudbelguith commented on #11487
Hi @falehenrique,

Could you please provide me your custom module to test with it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2018-12-04 08:43] nrcjea001 commented on #11590
I saw this before and I think it might be related. I removed the URL of test.loopshops.mu from multistore and the FO was still visible, but not the FO of my default domain loopshops.mu.

However, in my case, I couldn't access BO either. Also, I did not disable multistore, instead I removed the test URL and then regenerated htaccess.

[2018-12-04 08:48] dheerajwebkul commented on #11582
Hello @khouloudbelguith

I have added the test module, please check

https://github.com/dheerajwebkul/wktestadminproductextra

A form like in this screenshot added to this module, But you can not see this form until you fix this by this PR https://github.com/PrestaShop/PrestaShop/pull/11584

![download 17](https://user-images.githubusercontent.com/19220745/49429820-7f402000-f7cf-11e8-9737-417507bd

[2018-12-04 08:52] khouloudbelguith commented on #11571
Hi @davoud-najjari, thanks for this clarifications.
@marionf, @colinegin what do you think, is that possible to support Iranian/Persian, Arabic/Hijri/Islamic, Thai, Gregorian Calendar systems?
![image](https://user-images.githubusercontent.com/16067358/49430030-3e81e000-f7aa-11e8-840a-699262138822.png)
Thanks!

[2018-12-04 08:55] Quetzacoalt91 commented on #11597
Hi @glam-strass,

On this version of the module, you must dig by yourself in the server log to know what happened.
On modules below v3.0.0, the error cannot be displayed on the screen, except if the debug mode is enabled.

[2018-12-04 09:24] #9979 closed, assigned to nobody

[2018-12-04 09:31] khouloudbelguith commented on #11582
Hi @dheerajwebkul,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.x.
In the PS1.7.4.4 => OK.
I tried with the `wktestadminproductextra` module & the `Product Videos - YouTube` module.
PS1.7.5.0 => NOK
![image](https://user-images.githubusercontent.com/16067358/49432250-8c4d1700-f7af-11e8-90ab-36a46f671c3c.png)
![image](https://user-images.githubusercontent.com/16067358/494

[2018-12-04 09:42] otg79 opened #11606 "Disparition de codes EAN"
Bonjour,

J'ai tous les jours des codes EAN de produits qui disparaissent de prestashop. J'ai un intégrateur de flux qui s'appelle channable, pour envoyer mes produits vers Amazon. Tous les jours, je dois remettre les codes EAN sur certains produits. Pouvez-vous m'aider pour que cela cesse ?

Merci par avance

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce

[2018-12-04 09:48] khouloudbelguith commented on #11606
Hi @otg79,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop

[2018-12-04 09:58] nrcjea001 commented on #11602
I reset the module as you suggested and it did help. However, now I only see one payment method available for the new store. For the default store, I have 2 payment methods from which to choose.

[2018-12-04 10:08] khouloudbelguith commented on #11602
@nrcjea001, for the second payment method, you need also to reset it also.
Thanks to check & feedback.

[2018-12-04 10:22] otg79 commented on #11606
Bonjour,

l’hôte est 1and1: Serveur : home740573720.1and1-data.host  => Protocole sftp
Prestashop version 1.7.4.4

Hier j’ai réécrit les codes ean de certains produits :

      847  A. chicandstock 1 Product modification Product 156 0x 0 03/12/2018 08:57:41
      848  A. chicandstock 1 Connexion au back-office depuis 217.128.217.74  0 0x 0 03/12/2018 13:31:24
      849  A. chicandstock 1 Product m

[2018-12-04 10:32] otg79 commented on #11606
Translation Messages
  a.. Defined 62 a.. Fallback 0 a.. Missing 7These messages are not available for the given locale and cannot be found in the fallback locales. Add them to the translation catalogue to avoid Symfony outputting untranslated contents.

      Locale Domain Times used Message ID Message Preview
      fr-FR AdminAdvparametersFeature 1 Never recompile template files Never recompile

[2018-12-04 10:38] khouloudbelguith commented on #11590
Hi @nrcjea001,

Finally, I manage to reproduce the issue with PS1.7.4.4.
To reproduce the issue, we need to create an order in the second shop.
https://drive.google.com/file/d/1vjI06Ry63EQcvTEdXdG8bgpMOFXP57Lw/view
Steps to reproduce the issue
1. Enable multistore
2. create a second shop
3. Add an URL to the second shop
4. Create an order from the FO / BO for the second shop
5. Delete the URL / di

[2018-12-04 10:49] khouloudbelguith commented on #11606
@otg79, thanks for your feedback.
We need the PHP error logs also. If you don't have it, you should ask your hosting provider.

[2018-12-04 11:48] nrcjea001 commented on #11602
Yes thanks. that worked

[2018-12-04 11:48] nrcjea001 commented on #11602
you may close this issue now

[2018-12-04 11:49] khouloudbelguith commented on #11577
Hi @nayithu,

In the file /Project_Folder/controllers/front/AuthController.php, you need to replace this line
[$should_redirect = true;](https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/controllers/front/AuthController.php#L63)
by this code line:

[code]

Thanks to check & feedback.

[2018-12-04 11:50] khouloudbelguith commented on #11602
@nrcjea001, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-04 11:50] #11602 closed, assigned to nobody

[2018-12-04 11:53] nrcjea001 commented on #11590
Great that you were able to reproduce the issue.

Regarding step 5,  are you saying we do not need to disable friendly URL? Is deleting the URL necessary? or Both?

[2018-12-04 11:56] khouloudbelguith commented on #11590
@nrcjea001, not necessary for disabling the friendly URL.
After deleting the URL, if you navigate to the Dashboard => error.
Thanks!

[2018-12-04 11:57] pedroscow1 commented on #10367
Hello.

I have an identical problem but a little bit different.

When I try to install prestashop, I see this:
https://snag.gy/lMzpXR.jpg

I tried to change file permissions but still with the same issue.

I tried do upload the files in a different way, already unziped but appear this too: https://snag.gy/We26VM.jpg

Thanks,
Pedro

[2018-12-04 12:00] khouloudbelguith commented on #10367
@Marg88, you need to install the PHP zip extension on your server, it is required on PrestaShop.
Thanks!

[2018-12-04 12:02] nrcjea001 commented on #11590
Ok yes, confirmed error for PS1.7.4.4.

Many Thanks!

[2018-12-04 12:04] khouloudbelguith commented on #11590
@nrcjea001, but it is fixed on the PS1.7.5.0, so we can close this issue.
Thanks!

[2018-12-04 12:15] ilyasovivan commented on #11588
@khouloudbelguith NO!!! THIS IS NOT FIXED.
I spent about 1.5 hours of my time to describe the problem, and you did not even want to read it!
JUST SEE THIS VIDEOSCREEN: [https://www.youtube.com/watch?v=jkIJd_y8yoI](https://www.youtube.com/watch?v=jkIJd_y8yoI)
AND OPEN THIS ISSUE.

Tested on Windows 10, [Open Server 5.2.2](https://ospanel.io/)
PHP: 7.0 x64
Apache for PHP 7.0
MariaDB 10.3 x64

I test

[2018-12-04 12:24] LouiseBonnard commented on #11251
Hello! If there is a translation need, please go to the translation project [here](https://crowdin.com/project/prestashop-official/ja#) and turn the former false translation into the right new one. And if needed, ping me, I'll be glad to help. ;-)

[2018-12-04 12:27] khouloudbelguith commented on #11588
@ilyasovivan, I tried with the email `test@домен.com` in the PS1.7.4.4 / PS1.7.5.0beta1 & I did not manage to reproduce the issue.
I attached a video record
https://drive.google.com/file/d/1lKPrKuPe4vl4mXdw_eDOYKuBULtx-CD4/view
Thanks to check & feedback.

[2018-12-04 12:31] khouloudbelguith commented on #11588
Hi @ilyasovivan,

You can take a look at https://en.wikipedia.org/wiki/Punycode
In this situation we can't do anything about Chrome, it's a normal behaviour when you send anything in input type="email" everything store in hostname is converted in PunyCode.

This is what we received after chrome conversion:

 /home/got/projects/prestashop/prestashop/index.php:27:
array (size=8)
'id_customer' => str

[2018-12-04 12:34] dheerajwebkul commented on #11558
@khouloudbelguith

I am trying to fix this but

1)  https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/localization/CLDR/core/common/main/ms.xml#L6169
<symbol> is OK here as RM.

2) https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/localization/CLDR/core/common/main/en_MY.xml#L26
<symbol> is OK here as RM.

3)
https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/localization/my.xml#L4
here

[2018-12-04 12:35] pedroscow1 commented on #10367
Thanks, it worked! However, during the installation, it happened another error: https://snag.gy/pmXGVi.jpg

:(

[2018-12-04 12:37] khouloudbelguith commented on #10367
Hi @pedroscow1,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

- Upload the file to the server. You should upload your file to the exact directory you want to test. Typically,

[2018-12-04 12:41] ilyasovivan commented on #11588
@khouloudbelguith
More info about cyrillic domains like **.рф .срб .укр .москва .онлайн .рус .орг .дети**: https://www.rnids.rs/en/domains/cyrillic-on-internet

For test you can use it vaild email addresses:
test@**тест.рф** or test@**украина.укр**
And NOT vaild (because email addresses cannot contain cyrillic characters before the @ sign):
**россия**@тест.рф or **украина**@тест.укр or **россия**@

[2018-12-04 12:43] LouiseBonnard commented on #11264
I suggest: _Page cannot be found because a module has just been uninstalled. Please refresh the page, everything will be back in order!_ Let me know if I misunderstood the point, I can suggest other wordings. ;-)

[2018-12-04 12:46] ilyasovivan commented on #11588
Yes.
test@тест.рф **=** test@xn--e1aybc.xn--p1ai
Because all cyrillic domains are converted to Punycode

[2018-12-04 12:48] weddingtextile opened #11609 "Faceted search filter by the attribute doesn't works"
**Describe the bug**
Accidentally updated the module Faceted search to the latest version 2.2.1. Now the filter by the attribute Color doesn't works. Filter by prices and features works. See screenshots.

**To Reproduce**
See screenshots.

**Screenshots**
![attributes-color](https://user-images.githubusercontent.com/44600313/49442780-325e4880-f7d3-11e8-99a6-fbdb2422060d.jpg)
![features](https://us

[2018-12-04 12:50] nayithu commented on #11577
Wooooo, I am very happy with your help, I love you.
Thank you thank you thank you

[2018-12-04 12:52] khouloudbelguith commented on #11577
@nayithu, Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-12-04 12:52] #11577 closed, assigned to nobody

[2018-12-04 12:54] nayithu commented on #11577
I need to work with people like you. Write me to tell you about projects: nayith@origenweb.co

[2018-12-04 13:03] ilyasovivan commented on #11588
OK. Maybe test@домен.com is worked. But now can you check **test@домен.рф** ?
Or you can use real site: [погода.рф](http://xn--80afd2bbd.xn--p1ai/) and real email address **info@погода.рф**
I test it and I see "Invalid format." - it works wrong.

[2018-12-04 13:03] khouloudbelguith commented on #11609
Hi @weddingtextile,

Thanks for your report.
I did not manage to reproduce the issue with PS 1.7.4.4 & the ps_factedsearch module v2.2.1.
I attached a video record.
https://drive.google.com/file/d/1hpBQ2IbAO1Qro8WkeXLQfzoxasMPxmT_/view
Thanks to check & feedback.

[2018-12-04 13:14] nrcjea001 commented on #11590
It is fixed on PS1.7.5

You may close this issue

[2018-12-04 13:17] khouloudbelguith commented on #11590
@nrcjea001, Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-04 13:17] #11590 closed, assigned to nobody

[2018-12-04 13:20] khouloudbelguith commented on #11558
Hi @dheerajwebkul,

If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

Your issue is added to our bug roadmap, it will be fixed by our developers.
Thanks!

[2018-12-04 13:21] grupaperun commented on #10853
@philoupin Thank You! Your solution also worked for me.

[2018-12-04 13:24] ilyasovivan commented on #11588
@khouloudbelguith I enable Debug in defines.inc.php and test with **test@домен.com**
![Image](https://haap.ru/d/5.png)
Chrome is the most popular browser, and if it does, then Prestashop should work with it.

[2018-12-04 13:27] khouloudbelguith commented on #11588
Hi @ilyasovivan,

This issue is occurred due to php-intl extension as I said in my first comment.
Could you please try to install it, it is required.
Thanks to check and feedback.

[2018-12-04 13:29] nrcjea001 opened #11610 "2nd level subcategory not expanding correctly when creating new store"
When creating a new store, 2nd level subcategories do not display correctly when expanding. Please see screenshot below. Although this may seem trivial, when the store is created those 2nd level subcategories are not imported correctly and are not associated with any products that were imported from one shop to another. (2nd level subcategories refer to a subcategory of subcategory which in this c

[2018-12-04 13:35] khouloudbelguith commented on #11610
Hi @nrcjea001

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9701
So, I close it.
Thanks!

[2018-12-04 13:35] #11610 closed, assigned to nobody

[2018-12-04 13:35] khouloudbelguith commented on #11610
Duplicate of #9701

[2018-12-04 13:39] weddingtextile commented on #11609
Hi,

There are several products in the database with one color combination (see screenshot). Perhaps in the new version of the module changed the filtering algorithm?
![00762](https://user-images.githubusercontent.com/44600313/49445484-afd98700-f7da-11e8-98c2-5da76d3ad0ff.jpg)

[2018-12-04 13:40] khouloudbelguith commented on #11609
@weddingtextile, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-04 13:41] ilyasovivan commented on #11588
@khouloudbelguith ok.

**test@погода.com** - works good
**test@погода.рф** - Invalid format Error
**погода@test.ru** - With `novalidate` atribute in `<form>` tag for disable html5 validation (because we test only server validation, because in some modules it can used without html5 form):
![Error](https://haap.ru/d/6.png)

[2018-12-04 13:46] ilyasovivan commented on #11588
@khouloudbelguith now you are understood what I mean?

`test@погода.рф` > **need to work** (because it real valid email address)
`погода@test.ru` > **need to be "Invalid format"** (because email addresses cannot contain cyrillic characters before the @ sign)
That's all. Thank for your support, @khouloudbelguith

[2018-12-04 13:55] khouloudbelguith commented on #11588
@ilyasovivan,

test@погода.com - works good
test@погода.рф - Invalid format Error
погода@test.ru - when I tried with this email, I have this error => The part followed by the symbol @ must not contain `п`
![image](https://user-images.githubusercontent.com/16067358/49446503-a0efd600-f7d4-11e8-87f5-318f42ac41e3.png)
Thanks to check & feedbak.

[2018-12-04 13:56] #11479 closed, assigned to nobody

[2018-12-04 14:00] ilyasovivan commented on #11588
You have not disabled the html5 validation to test the validation using the server.

![test](https://camo.githubusercontent.com/7c3010ce455c7fcf755f0670fad35249ec0c260a/68747470733a2f2f686161702e72752f642f312e706e67)
Add `novalidate` atribute to `<form>` tag

html5 validation is validation via browser, not Prestashop. Some browsers may not have **html5 validation** support. Or some modules or them

[2018-12-04 14:04] disarci commented on #9763
Hi, just, please,  don't consider it this a "minor" problem,
there are many multishops on prestashop right now, and is better not to update to 1.7.4.x
leave force compile with many visitors online is really "heavy" on a server.

[2018-12-04 14:13] khouloudbelguith commented on #11588
@ilyasovivan, thanks for this clarifications.
When I added the `novalidate` atribute to` <form> `tag, I manage to reproduce the issue with PS1.7.5.0beta1.
![image](https://user-images.githubusercontent.com/16067358/49447518-0f359800-f7d7-11e8-9e83-2212100c251f.png)

@PierreRambaud, what do you think?
Thanks!

[2018-12-04 14:13] weddingtextile commented on #11609
1. Clear Cache
2. Debug Mode On
3. Faceted search - Configure - Build attribute index
4. Go To FO and filter by color -> No data
5. JS Console is empty
6. PHP Errors (today without errors)

[2018-12-04 14:13] marionpelouzet opened #11611 "Eshop on the main menue"
Hi,

I bought a template on prestashop for my eshop http://them.fr
When you go on my website http://them.fr, you will see my main menu with
ESHOP -   SUR-MESURE   -     LE CONCEPT     -    CARNET DE VOYAGE ...

When you click on "sur-mesure" or "le concept" or "carnet de voyage", you are drive on their own pages.

But, the issue is with "eshop" :
- When you pass the computer mousse on "eshop" you

[2018-12-04 14:17] ilyasovivan commented on #11588
Thank you @khouloudbelguith !
@PierreRambaud if you will fix it, can you add fix for PS 1.6 too?

[2018-12-04 14:19] PierreRambaud commented on #11588
Hi @khouloudbelguith Can you try with the latest 1.7.5.x please?

[2018-12-04 14:20] weddingtextile commented on #11609
[PHP_errors.log](https://github.com/PrestaShop/PrestaShop/files/2644350/PHP_errors.log)

[2018-12-04 14:26] khouloudbelguith commented on #11588
@PierreRambaud, I tried with PS 1.7.5.x.
When I added the `novalidate` atribute to `<form>` tag, I manage to reproduce the issue.
Thanks!

[2018-12-04 14:31] weddingtextile commented on #11609
Can you try add product with one color combination (see screenshot above) and test filter?

[2018-12-04 14:35] ilyasovivan commented on #11588
@khouloudbelguith @PierreRambaud
And don't forget about this issue:
`test@погода.рф` - "Invalid format" Error
Need to add support for cyrillistic domains.

We need it fix for Prestashop.

And you need to learn more about converting these domains. For this using Punycode.
And some browsers can convert cyrillistic domains before sending and some other browsers may not.

[2018-12-04 15:08] otg79 commented on #11606
Bonjour,

J’ai demandé à 1 and 1 et je n’ai pas de fichier qui correspond à cela selon eux.

Désolé

From: khouloudbelguith
Sent: Tuesday, December 04, 2018 11:50 AM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

@otg79, thanks for your feedback.
We need the PHP error logsalso. If you don't have it, you should ask your hosting

[2018-12-04 15:10] ilyasovivan commented on #11588
@khouloudbelguith add 1.6.1.23 and 1.7.5.0 labels, please.

[2018-12-04 15:18] pedroscow1 commented on #10367
Hello @khouloudbelguith

It's being hard... I already improve all requirements: http://www.webspareparts.pt/phppsinfo.php

But the installation continues giving the error... I don't know what more can I do.

[2018-12-04 15:23] otg79 commented on #11606
NIVEAU DE GRAVITÉSignification des niveaux de gravité :

  1.. À but informatif
  2.. Attention
  3.. Erreur
  4.. Problème majeur (erreur critique)LOGS > FILTRER PAR GRAVITÉ (1-4) : 4 0
      ID   Employé   Gravité (1-4)   Message   Type de l'objet   ID de l'objet   Code d'erreur   Date
             Rechercher  Réinitialiser
      Aucun enregistrement trouvé

From: khouloudbelguith
Sent: Tuesday,

[2018-12-04 15:25] otg79 commented on #11606
Je n’ai pas d’erreur niveau 4 ni niveau 3

Filtrer par Gravité (1-4) : 3a.. Modules recommandésa.. Aide
 NIVEAU DE GRAVITÉSignification des niveaux de gravité :

  1.. À but informatif
  2.. Attention
  3.. Erreur
  4.. Problème majeur (erreur critique)LOGS > FILTRER PAR GRAVITÉ (1-4) : 3 0
      ID   Employé   Gravité (1-4)   Message   Type de l'objet   ID de l'objet   Code d'erreur   Date

[2018-12-04 15:25] khouloudbelguith commented on #10367
@Marg88, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2018-12-04 15:25] otg79 commented on #11606
pas de niveau 2 non plus

 NIVEAU DE GRAVITÉSignification des niveaux de gravité :

  1.. À but informatif
  2.. Attention
  3.. Erreur
  4.. Problème majeur (erreur critique)LOGS > FILTRER PAR GRAVITÉ (1-4) : 2 0
      ID   Employé   Gravité (1-4)   Message   Type de l'objet   ID de l'objet   Code d'erreur   Date
             Rechercher  Réinitialiser
      Aucun enregistrement trouvé

From: khou

[2018-12-04 15:27] khouloudbelguith commented on #11588
@ilyasovivan, As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Thanks!

[2018-12-04 15:54] gadnis commented on #9903
Hi, marionf,

Prestashop 1.7.4.4, default theme

This issue should not be marked as fixed, cause:
1. There's no title shown in FO (look at the pictures attached)
2. Default order by: Product quantity - is not working if ps_facedsearch module is enabled.

Please let me know if you're going to reopen it or I should create new issue ticket?

For more info please look at the pictures attached
![sortin

[2018-12-04 16:03] marionf commented on #9903
@gadnis

Another issue already exists here: #9956

[2018-12-04 16:16] khouloudbelguith commented on #11611
Hi @marionpelouzet,

Thanks for your report.
The category E-shop in your case is the Home category that's why you are redirected to the Home page.
Thanks to check & feedback.

[2018-12-04 16:17] gadnis commented on #9903
@marionf

For me it looks like #9956 issue is about showing empty selectbox in category only. There's only some comments that sort by quantity is not working at all. Will developers understand that there's not only selectbox issue and will they try to solve order by quantity issue or should we open new issue about that?

By the way, sorting by modified date is working.

[2018-12-04 16:40] fabrice-dresscodes commented on #11115
For informations, I got the same error.

Since August, my reference on order is ALWAYS : REF005679

I'm trying to find what happened at this date.

Presta 1.7.3.3
Migrated from 1.4 with module
Paypal + other french bank

BUG Only on Production Database - not on TEST....WTF

[2018-12-04 16:43] marionpelouzet commented on #11611
Hi,

Thank you for your reply.
Can I change it ?

Thanks

http://them.fr <http://them.fr/>
https://www.facebook.com/themofficiel/ <https://www.facebook.com/themofficiel/>
https://www.instagram.com/themofficiel/ <https://www.instagram.com/themofficiel/>

[2018-12-04 16:50] khouloudbelguith commented on #11609
Hi @weddingtextile,

I attached a video record.
https://drive.google.com/file/d/1_dk4WL5Bh9n_d6oxCtRUgR557PFw4387/view
Thanks to check & feedback.

[2018-12-04 16:57] khouloudbelguith commented on #11606
@otg79, how did you update all the EAN of your products, manually or by importing a file or a custom module?
What are the type of such products, Standard product, with combinations..?
Thanks!

[2018-12-04 17:03] otg79 commented on #11606
J’ai créer les codes ean manuellement et les produits sont des chaussures avec déclinaisons.

Merci

From: khouloudbelguith
Sent: Tuesday, December 04, 2018 5:57 PM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

@otg79, how did you update all the EAN of your products, manually or by importing a file or a custom module?
What are

[2018-12-04 17:06] weddingtextile commented on #11609
Thank you very much for the answer!
But!
I am 99.9999% sure that you have a version of the filter module 2.2.0.
I compared versions 2.2.0 and 2.2.1.
The difference is only in one file ps_facetedsearch.php (query associated with attributes is changing).
I replaced this file from version 2.2.0 and now everything works !!!! Hooray!!!!!

[2018-12-04 17:09] khouloudbelguith commented on #11115
Hi @fabrice-dresscodes,

Did you make any modifications in your Database table ps_orders?
As I said we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-04 17:10] colinegin commented on #11251
An easy fix would be to change the wording "Addresses" with "My Adresses" to prevent any issue with the URL. What do you think @LouiseBonnard ? @PierreRambaud ?

[2018-12-04 17:11] ChineseNorris commented on #11562
Hello @khouloudbelguith ,

We encountered the same issue, now the issue we had is that the customer with order ID 12794 with customer ID 16948, the addess of the order is set with customer ID 16945 address, even with the mailchimp module uninstalled.

Maybe is something about concurrency?

[2018-12-04 17:15] fabrice-dresscodes commented on #11115
I don't think so...
I try to reproduce it on dev table...event if the git status is the same...

[2018-12-04 17:25] khouloudbelguith commented on #11609
@weddingtextile,

I tried with PS1.7.5.x & the ps_fecetedsearch 2.2.1 & it is OK
https://drive.google.com/file/d/176ExkLLAYjxMnD4wXAv0PcnJYnlDp3wL/view
I tried with PS1.7.4.4 & it is ok
https://drive.google.com/file/d/1jHcEZ7cAcWJE_ypRqOip0f5megnYDb-Q/view
Thanks!

[2018-12-04 17:28] khouloudbelguith commented on #11606
@otg79, after clicking "Save", a green alert is displayed?
If yes, if you reload the product page, the EAN exists or disappear?
Thanks!

[2018-12-04 17:35] otg79 commented on #11606
Oui j’ai bien une alerte verte qui dit “enregistré”. Les codes EAN disparaissent la nuit à priori mais pas quand je rafraichi la page...

Merci

From: khouloudbelguith
Sent: Tuesday, December 04, 2018 6:28 PM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

@otg79, after clicking "Save", a green alert is displayed?
If yes, if you

[2018-12-04 17:35] weddingtextile commented on #11609
khouloudbelguith,

I believe you!
But I think the query has an error that occurs on my data.
I can give access to my site, if necessary.
Thanks!

[2018-12-04 17:38] khouloudbelguith commented on #11562
Hi @ChineseNorris,

I created two orders at the same time with different customers but I did not manage to reproduce the issue with PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/49461316-aad50180-f7f3-11e8-9ed2-bff90d53dee2.png)
Are there any errors in your log file?
Thanks!

[2018-12-04 17:40] khouloudbelguith commented on #11606
@otg79, it could be due to a custom module?
Do you have any module related to the product/product EAN?
Thanks!

[2018-12-04 17:41] khouloudbelguith commented on #11115
@fabrice-dresscodes, could you please provide the exact steps so I can reproduce the issue in my case also?
Thanks!

[2018-12-04 17:43] khouloudbelguith commented on #11609
@weddingtextile, it is not necessary to get your access, we must first try to reproduce your issue.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support

[2018-12-04 17:43] #11609 closed, assigned to nobody

[2018-12-04 17:45] ChineseNorris commented on #11562
Hello @khouloudbelguith
Thanks for your fast reply, I can't replicate too the issue by myself, I think it should be under specific server stress conditions and with multiple orders at the same time. Where should I start looking in error log files? In the server or the prestashop? If so, where are the prestashop error logs located?

Best regards

[2018-12-04 17:46] khouloudbelguith commented on #11562
@ChineseNorris, don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-04 18:01] marionf opened #11613 "URL of some demo products are not the good ones"
**Describe the bug**
URLs of some demo products are not the good ones

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Edit products 17 & 18
3. Click on SEO tab
4. See the URL isn't the good one

**Screenshots**

![capture d ecran_717](https://user-images.githubusercontent.com/13449658/49462664-e91ff000-f7f6-11e8-92f5-f78891d23f71.png)

![capture d ecran_716](https

[2018-12-04 18:14] ChineseNorris commented on #11562
@khouloudbelguith sorry, I've checked the article.
Apache logs: None, just a few blocked images
Nginx: none
Php: none

Can't really help with logs :/

[2018-12-05 06:12] dheerajwebkul commented on #11558
Thanks, @khouloudbelguith I understand.

It's fixed anyway,

PrestaShop create a file while installation

/translations/cldr/main--en-US--currencies

where JSON saved for all languages.

`"MYR":{"displayName":"Malaysian Ringgit","displayName-count-one":"Malaysian ringgit","displayName-count-other":"Malaysian ringgits","symbol":"MYR","symbol-alt-narrow":"RM"}`

symbols are written wrong in this fil

[2018-12-05 07:56] khouloudbelguith commented on #11558
Hi @dheerajwebkul,

Thank you for reporting this bug and how you fix it, it's great to hear that is solved!
Thanks!

[2018-12-05 08:00] otg79 commented on #11606
Bonjour,

Non aucun module personnalisé pour les codes EAN. Mais je fais des recherches par rapport à mon logiciel de stock aussi.

Merci

From: khouloudbelguith
Sent: Tuesday, December 04, 2018 6:40 PM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

@otg79, it could be due to a custom module?
Do you have any module related to t

[2018-12-05 08:03] nrcjea001 opened #11615 "Link widget duplication of pages"
Please refer to screenshot below. Not sure how to reproduce this issue as it just appeared. All I can say is that I have multistore on with 3 stores. I made some amendments to the pages associated with each store separately. I also created my own page.

![image](https://user-images.githubusercontent.com/26452178/49498760-8cb7e180-f885-11e8-8989-d89d23b0556a.png)

**Additional information**
PrestaS

[2018-12-05 08:09] matesbu opened #11616 "Prestashop 1.7.4.4, Putenv function one more time"
here is my problem again, because it was closed without any solution:

Hi,
after upgrading to version 1.7.4.4 I can't get to back office login page because of error 500. I turned on debug mode and it says the problem is with disabled function putenv. I googled it and there is one same case on forge.prestashop.com: http://forge.prestashop.com/browse/BOOM-6194 , but it was solved with provider. My p

[2018-12-05 08:11] nrcjea001 commented on #11615
Basically this results in 3 by 3 = 9 duplications of each page.

Tried resetting the link widget module and it didn't help

[2018-12-05 08:14] khouloudbelguith commented on #11606
Hi @otg79,

OK, Thanks to check & feedback.
Waiting for your feedback!

[2018-12-05 08:18] otg79 commented on #11606
Thank you !

From: khouloudbelguith
Sent: Wednesday, December 05, 2018 9:15 AM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

Hi @otg79,

OK, Thanks to check & feedback.
Waiting for your!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

__________ Inform

[2018-12-05 08:19] khouloudbelguith commented on #11615
Hi @nrcjea001,

The issue when I enable multistore, whatever if I select a specific shop or "all shop", I have as many links as shops and as many "Content pages" is solved by https://github.com/PrestaShop/ps_linklist/pull/48
A second related issue still not fixed yet, but it is added to our bug roadmap.
Your ticket is a duplicate of #9795
So, I close it.
Thanks!

[2018-12-05 08:19] #11615 closed, assigned to nobody

[2018-12-05 08:20] Batsare commented on #9726
Hi,
This is the good file...
Have you enabled the overload in Prestashop ?
Please, try clear the cache.

[2018-12-05 08:20] khouloudbelguith commented on #11615
Duplicate of #9795

[2018-12-05 08:35] khouloudbelguith commented on #11616
Hi @matesbu,

Thanks for your report.
Could you please provide me the exact last version PrestaShop did you use before the upgrade? is it 1.7.2.4? or 1.7.2.5?
Also, could you please try to provide us with your php info.
http://kb.mediatemple.net/questions/764/How+can+I+create+a+phpinfo.php+page%3F#gs
Thanks!

[2018-12-05 09:10] khouloudbelguith commented on #11562
@ChineseNorris, have you ever cleaned up your database or imported the data?
Did you delete a customer in the database?
If no, did you use any module Social Login Connect (Facebook or Google login)?
Thanks!

[2018-12-05 09:17] matks commented on #11450
This might be related to another issue we got with module ps_linklist (https://github.com/PrestaShop/PrestaShop/issues/11619)
The issue with ps_linklist is:
- when installed with Composer, vendor files and autoload file are merged within global `vendor` PrestaShop project (which is the standard behavior of Composer dependencies)
- when installed through Addons (or upgrade), vendor files and autolo

[2018-12-05 09:32] caedp commented on #11562
Hi, I am having the same issue.

[2018-12-05 09:39] khouloudbelguith commented on #11562
@caedp, as I said before, did you deleted any data from the database?
 did you use any module Social Login?
Thanks!

[2018-12-05 09:50] caedp commented on #11562
I didn't delete any data from ps_address table. I am not using Social Login. According to my customers, the bug occurs upon confirming their order.

[2018-12-05 10:06] khouloudbelguith commented on #11562
@caedp, this issue occurs only when you use a specific payment method?
Also, did you use any custom carrier module?
Thanks!

[2018-12-05 10:12] MatShir commented on #11434
It’s a feature to consider but on the marketplace or at your host you can find really efficient backup modules which you can automate the task.
Also don’t hesitate to make a pull request (https://github.com/PrestaShop/PrestaShop/tree/develop) if you have a code suggestion.

[2018-12-05 10:26] matteolavaggi commented on #11530
php log dont show usefull information. and on our prestashop store enabling debug mode in BO result in nothing ^^ very good :P , another way to get log?

[2018-12-05 10:35] matteolavaggi opened #11617 "PS 1.7.4.2 BO unable to delete customer"
**Describe the bug**
Unable to delete customer, no wrning message

**To Reproduce**
Steps to reproduce the behavior:
1 go to customer
2 select one customer
3 hit "delete"
4 page refresh, no warning, customer still in the customer list.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
Informazioni sul server Linux #1 SMP PRE

[2018-12-05 10:39] ChineseNorris commented on #11562
@khouloudbelguith yes, I've cleaned up the database with the module "[Database Optimization](https://mypresta.eu/modules/administration-tools/database-optimization.html)"
And also had restored the entire database from a backup, but never imported data,deleted or altered tables.
Yes, I'm using a [facebook login ](https://mypresta.eu/modules/social-networks/facebook-login-connect.html).

This bug ha

[2018-12-05 10:40] khouloudbelguith commented on #11617
Hi @matteolavaggi,

Did you use which option during the delete of the customer?
![image](https://user-images.githubusercontent.com/16067358/49508224-76f4ed00-f882-11e8-80af-fb59c7632b5a.png)
Thanks!

[2018-12-05 10:40] eternoendless commented on #11332
We should keep in mind that modules may still use the old "composite" (brands+suppliers) setting even after we split it in two. I suggest that the previous option keeps being handled by the form so that:

- If brands AND suppliers are enabled, the composite setting is enabled.
- If either one is disabled, the composite setting is disabled.

Native modules and the core must be updated to stop using

[2018-12-05 10:47] Akashvastarpara opened #11618 "Tax included price shows wrong price (excluded price)"
I have applied tax 21% on my shop. But on front office, tax is not applied. Even I have set tax included price to show from backofficec. Can anyone help me?
In the back office there is 24.586777 as tax excl. and 29.75 as tax incl. but it shows me 24.586777 as tax incl.

In the miniatures/product.tpl file there is source code as below:

`<div class="text_desc" itemprop="offers" itemscope itemtype="

[2018-12-05 10:48] eternoendless opened #11619 "Use composer to install/upgrade/uninstall modules"
As discussed in #11594:

We realized that requiring a module via composer merges said module's dependencies into the core's `vendor` folder, instead of placing them in the module's `vendor` directory. This raises several issues:

1. Modules using composer are currently distributed with their own dependencies in the zip package, so they expect to have their dependencies inside the module's director

[2018-12-05 10:50] khouloudbelguith commented on #11562
@ChineseNorris, thanks to check if you can reproduce the issue using the Facebook login.
Also, the problem probably comes from one of the carrier modules in front-office, that is where you should start to look for.
Check your orders, is it always from the same carrier? Or from a set of a carrier that a module created and deals with? If yes, then there is a high chance you have found the problem.
T

[2018-12-05 10:55] matks opened #11620 "[SF Migration] Test compatibility between Symfony pages and profile team permissions"
Page "Advanced parameters > Team > Permissions" allows to manage permissions. This system is built for legacy controllers.

- check every SF page is mapped to a legacy controller so the system is compatible
- what happens if we create a new SF page, so there is no legacy controller to map it with ?

[2018-12-05 10:56] MatShir commented on #11348
The import is not anymore available on the 1.7.0 because it's need to be processed and adapted to Prestashop bringing confusions and friction in the importation.
And the exportation is still useful for theme builder who wants to export their custom translations.
@eternoendless What would be the complexity now ?

In any case, the translation import is a feature we are considering, I have put the fe

[2018-12-05 11:25] khouloudbelguith commented on #11618
Hi @Akashvastarpara,

In the BO => Shop Parameters => Customer Settings => Groups Tab, which "Price display method" did you use for each group?
Did you use the vatnumber module?
Thanks to check & feedback

[2018-12-05 11:36] EV-soft commented on #11434
My host only offers complete backup of the hotel, not just the online store, or subfolders below.
I can not find free backup modules in the marketplace.

I suggest that my script be placed in the folders:
prestashop/ - "File-BACKUP: the entire installation"
prestashop/content - "File-BACKUP: uploaded user files"
<other content folders?>/ - "File-BACKUP: other user files"
prestashop/themes/classic-

[2018-12-05 11:39] marionf commented on #9753
Not fixed on 1.7.5.0 RC1 build 1
Tested with Google Chrome and Firefox

[2018-12-05 11:40] #9753 closed, assigned to nobody

[2018-12-05 11:55] khouloudbelguith opened #11621 "Features - In the Product page, the Pre-defined value is not enabled - The Project folder name begin with numbers"
**Describe the bug**
This issue occurs only when the Project folder **begin** with numbers for example 1750rc1.
In the other case, there are no errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Extract the file zip of prestashop_1.7.5.0-rc.1+build.1.zip
2. Rename it to 1750rc1
3. Install the shop => OK => Installation done successfully
4. Create a product
5. In the product page, Click

[2018-12-05 12:05] khouloudbelguith commented on #11530
Hi @matteolavaggi,

I checked again your shop, but I did not manage to reproduce the issue.
https://drive.google.com/file/d/1N8zQSs8Ya2Iai51D51y7m6XY_ZITsWtC/view
Thanks to check & feedback.

[2018-12-05 12:22] khouloudbelguith commented on #11611
Hi @marionpelouzet,

In the file Project_Folder/themes/your_current_theme/modules/ps_mainmenu/ps_mainmenu.tpl
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/modules/ps_mainmenu/ps_mainmenu.tpl#L8
Thanks to replace this code line:

`
<a
                class="{if $depth >= 0}dropdown-item{/if}{if $depth === 1} dropdown-submenu{/if}"
                href="{$node.url}" data-dept

[2018-12-05 12:25] Akashvastarpara commented on #11618
I'm using Tax Included method for eaach group.
I'm using "European VAT number" module. In this module there is country selected as Nedherlands and Enable checking of the VAT number with the web service is set as disable.

[2018-12-05 12:43] massehbg11 commented on #11618
I Aldo have tax issues, Swedish tax 25% make THE checkout to put 0% tax, something is wrong with tjat module! Also at 12% tax THE system count THE tax wrong!

[2018-12-05 12:44] massehbg11 commented on #11618
I have 1.7.4.4

[2018-12-05 12:53] ChineseNorris commented on #11562
@khouloudbelguith , I've reproduced the error with Facebook login without success.
It is always from the same carrier, but the strange thing is that the carrier is created from the back office and the bug happens sometimes, not always, so it's hard to reproduce and know where the issue is.
Do you think that wiping out all the carriers and create them again would do the trick?

Regards

[2018-12-05 12:55] mayank212 opened #11622 "Order Amount is wrong if the products mapped with the different shipping method - Prestashop 1.7.4.4"
### Describe the bug

I have placed an order having two products marked with different shipping. When I applied a fixed amount of a voucher then after placing an order, the amount is wrong.

### Steps to reproduce
1. Add two or more products each marked with different shipping so that order can be split
2. Apply a fixed amount of voucher (For Example USD 20)
3. Place an order and the amount displa

[2018-12-05 13:00] khouloudbelguith commented on #11562
@ChineseNorris, it could be a solution, thanks to check and feedback.
Thanks!

[2018-12-05 13:38] MatShir commented on #11434
Many solutions are available more efficient than the solution we could bring like backup files button as I said. Also, it's not our priority for now. I shared the idea at Prestashop Feedbacks (http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/36193876-enable-a-backup-button-files-images-themes) to let the community help us to prioritizes all ideas from the community.

But I

[2018-12-05 13:50] colinegin commented on #9743
See this related PR : https://github.com/PrestaShop/PrestaShop/pull/11103/files

[2018-12-05 14:07] khouloudbelguith commented on #11618
@Akashvastarpara, in the FO, are you connected to a customer account which has a Nedherlands pays in his address?
Thanks!

@massehbg11, what the exact name of the `tjat` module, is it provided by PrestaShop?
Thanks!

[2018-12-05 14:09] khouloudbelguith commented on #11622
Hi @mayank212,

Thanks for your report.
Have you the same issue with this ticket: #9594?
Thanks to check & feedback.

[2018-12-05 14:19] mayank212 commented on #11622
Hi @khouloudbelguith,

I have found the issue when applying the fixed amount of the voucher to the cart.

[2018-12-05 14:40] #11440 closed, assigned to jolelievre

[2018-12-05 15:23] khouloudbelguith commented on #11622
@mayank212,

1-bug => In the order confirmation, only the product 1 will be displayed in the section "ORDER ITEMS" => bug reported here #9594
2-bug
So, when applying a discount on a split order, the discount is used twice.
 1- create a Product 1 with price =300£ marked to the Shipping 1
2- create a Product 2 with price =200£ marked to the Shipping 2
3- create a cart rule with amount discount 100£

[2018-12-05 15:27] marionf commented on #11622
@khouloudbelguith Can you check the invoice ?

[2018-12-05 15:29] LouiseBonnard commented on #9937
@colinegin, @MatShir, just ping if any wording needs to be added. For now, as far I can read, I think there is only development to make. :-)

[2018-12-05 15:32] khouloudbelguith commented on #11622
@marionf, the same issue in the invoices
![image](https://user-images.githubusercontent.com/16067358/49524083-59884900-f8ab-11e8-9486-36ccfcd88db4.png)
![image](https://user-images.githubusercontent.com/16067358/49524092-5c833980-f8ab-11e8-9445-b45900808ec6.png)
Thanks!

[2018-12-05 15:45] massehbg11 commented on #11618
@khouloudbelguith in using the module that is provided by prestashop!

[2018-12-05 15:50] marionf commented on #11142
I have this issue when I try an upgrade from 1.7.4.4 to 1.7.5.0 RC1 build 1 with autoupgrade module v4.5.0

`
[INTERNAL] /var/www/html/prestashop_1.7.4.4/src/PrestaShopBundle/Service/DataProvider/Marketplace/ApiClient.php line 44 - Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Too few arguments to function PrestaShopBundle\Service\DataProvider\Marketplace\ApiClient::__construc

[2018-12-05 15:58] khouloudbelguith commented on #11618
@massehbg11, is it the same issue report here: #9928
Thanks to check & feedback.

[2018-12-05 16:05] luisjsolsona commented on #10156
Hello!!
I dont find nginx_ip_default.conf ...
I only have in www/vhosts/system/mydomain/conf/   vhost_nginx.conf y nginx.conf. I add this lines but nothing :(
I also tried to add as "aditional directive" in plesk  > nginx  like

location ~ .php(/.*)?$ {
 try_files $fastcgi_script_name /index.php$uri&$args;
}
location ~ /$ {
try_files $uri $uri/ /index.php?$args;
}

but the problem continues...

ww

[2018-12-05 16:09] matteolavaggi commented on #11530
Isse is still here, we need to re open each product (by using 3rd part module due to this ISSUE - [https://github.com/PrestaShop/PrestaShop/issues/11186](https://github.com/PrestaShop/PrestaShop/issues/11186) - affecting last 5 major release of PS and not yet fixed), and change category, next apply back the original one.

[2018-12-05 16:10] matteolavaggi commented on #11617
No, no message or aller was shown

[2018-12-05 16:15] khouloudbelguith commented on #11617
@matteolavaggi, I did not manage to reproduce the issue with PS1.7.4.4
I attached a video record.
https://drive.google.com/file/d/15ci5KGh8yPhJqsnikemo25SeWq60rzu8/view
Thanks to check & feedback.

[2018-12-05 16:20] matteolavaggi commented on #11617
Dear, i'm a bit confuse ^^ the new goal of PS issue solve is to have 1 single installation working and attacching video to every issue report of that single one installed? i also can attach a video of the issue ^^

[2018-12-05 16:29] khouloudbelguith commented on #11617
@matteolavaggi, in your last comment, you mentioned to me that you don't have any alerts during the deletion of customers.
In fresh installed 1.7.4, when we delete a customer, we have a pop up to validate this deletion and we have two choices to delete this customer, I make a video record to confirm with you the issue.
If you enable the debug mode, are there any exceptions displayed?
Thanks!

[2018-12-05 16:30] khouloudbelguith commented on #11530
@matteolavaggi, What is the exact 3rd part module did you use? it could be a problem?
Thanks!

[2018-12-05 16:34] mickaelandrieu commented on #11142
Hi @marionf,

are you able to reproduce it?

[2018-12-05 16:43] khouloudbelguith commented on #11203
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-05 16:43] #11203 closed, assigned to nobody

[2018-12-05 16:44] luisjsolsona commented on #11606
I have a similar issue...
the problem was solved checking all the EAN and UPC in combination products
PS1.7 check if EAN or UPC is correct (13 digits for ean)
check ps_product_attribute table
If you need to use a private EAN with a personal configuration, add a column and use this in ps_product_attribute
Regards

[2018-12-05 16:45] khouloudbelguith commented on #11244
Hi @sybon,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-05 16:45] #11244 closed, assigned to nobody

[2018-12-05 16:47] PierreRambaud commented on #10156
Hi,

This issue is currently close, can you open a new one with more information about your configuration such as virtualhost :)

Regards,

[2018-12-05 16:49] khouloudbelguith commented on #11243
Hi @AxelMHA,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-05 16:49] #11243 closed, assigned to nobody

[2018-12-05 16:59] khouloudbelguith commented on #11142
I have the same issue after upgrade from 1.7.4.4 => 1.7.50RC1 with the 1-click upgrade 4.5.0.

`[INTERNAL] /var/www/html/upgrade/1744/src/PrestaShopBundle/Service/DataProvider/Marketplace/ApiClient.php line 44 - Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Too few arguments to function PrestaShopBundle\Service\DataProvider\Marketplace\ApiClient::__construct(), 5 passed in /va

[2018-12-05 17:17] matks commented on #10545
@colinegin Bilal said this page needs an Empty State, but when I look at https://github.com/PrestaShop/PrestaShop/issues/10434 I cannot see the related Empty State. Is it a mistake ?

[2018-12-05 17:18] luisjsolsona opened #11624 "[SOLVED] Nginx + php 7.2.12 + prestashop 1.7.4.3 + 2 languages + friendly URL --> Index Home Error 404 nginx"
Hello

**Describe the bug**
When you activate more than 2 languages and have URL friendly  activated, the main url in the domain runs ok with defaul language but not with another langauges.  Also i add a override in classes/ link.php and dispacher.php and tools.php to delete ISO default language and id product or id category

Example:
http://www.thesneakerone.com RUNS OK (default language. es -->

[2018-12-05 17:24] luisjsolsona commented on #10156
Done, thanks!

https://github.com/PrestaShop/PrestaShop/issues/11624

[2018-12-05 17:28] khouloudbelguith commented on #11624
HI @mistik777,

Thanks for your report.
@PierreRambaud what do you think?
Thanks!

[2018-12-05 18:02] Quetzacoalt91 commented on #11142
Nice, this time we have several person who will be able to try the future fix. :)

[2018-12-05 18:17] colinegin opened #11625 "Improve UI for Gamification module"
See mock-ups here : https://projects.invisionapp.com/share/XMQQMBWFV79#/screens/349287917

[2018-12-05 18:26] matesbu commented on #11616
it was 1.7.2.4

here is phpinfo, hopfully it is enough

![php1](https://user-images.githubusercontent.com/45437757/49535117-a2e49280-f8c3-11e8-8b6c-e3bba9811410.jpg)
![php2](https://user-images.githubusercontent.com/45437757/49535118-a2e49280-f8c3-11e8-9e9b-7ddac645f09f.jpg)
![php3](https://user-images.githubusercontent.com/45437757/49535119-a37d2900-f8c3-11e8-950b-fa9e1ba88d22.jpg)
![php4](https:

[2018-12-05 18:36] TemKaSD opened #11626 "Bug Scroll Below AdminParentEmployees"
Steps to reproduce the behavior:
1. Go to 'controller=AdminEmployees'
2. See error: No scroll below

**Screenshots**
![screenshot_2](https://user-images.githubusercontent.com/6318282/49535660-62f7cc80-f910-11e8-896a-b95f50c16045.png)

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.2

[2018-12-05 19:20] Rizzen59 opened #11627 "GDPR Compliance Module PS 1.7 : Move block on checkbox click"
Hello,
I have a strange bug on chrome, I need your help :)
Thanks a lot

**Describe the bug**
On my home page when i click on checkbox for accept GPDR message in newsletter module, the footer desapear. On my contact page, the same action moved the form to the top of the page under the header. This bug appear only on chrome since the version 70

GDPR Compliance Module PS 1.7

**To Reproduce**
Steps

[2018-12-05 19:20] Rizzen59 opened #23315 "GDPR Compliance Module PS 1.7 : Move block on checkbox click"
Hello,
I have a strange bug on chrome, I need your help :)
Thanks a lot

**Describe the bug**
On my home page when i click on checkbox for accept GPDR message in newsletter module, the footer desapear. On my contact page, the same action moved the form to the top of the page under the header. This bug appear only on chrome since the version 70

GDPR Compliance Module PS 1.7

**To Reproduce**
Steps

[2018-12-06 01:21] RAEzTec opened #11628 "cant insert products and combinations by API in prestashop 1.7.4.4"
In new versions of prestashop 1.7.4.4 and 1.7.5.0 cant insert a product or combinations by webservice. the issue was in low_stock_alert was not required and when xml not have this try insert null but the database dont acept nulls in that column.
hope this helps.
Congrats

[2018-12-06 01:31] andrewupandabout commented on #11589
Ok, I solved my issue. I had a file with no data in it. Thus I took a backup file and copied the code into the server file. Below is the file I needed to populate to make the spinning save buttons work.

"admin_folder"/themes/default/js/jquery.fileupload-validate.js

[2018-12-06 07:53] khouloudbelguith commented on #11626
Hi @TemKaSD,

Thanks for your report.
The onboarding navbar is displayed, you need to stop the OnBording, to see all the main menu.
Thanks to check & feedback.

[2018-12-06 08:03] khouloudbelguith commented on #23315
Hi @Rizzen59,

I did not manage to reproduce the issue with PS1.7.5.0RC1, PS1.7.4.4, the Official GDPR compliance module v1.1.0 & the theme by default provided by PrestaShop.
I attached a video record.
https://drive.google.com/file/d/128QSuLqFXEvMaFDBtb9CmHyHsQCmenA7/view
Have you tried to contact your theme author about this issue?
Thanks!

[2018-12-06 08:05] JavierEB opened #11629 "Error DB Upgrade 1.6.1.23 to 1.7.4.4"
**Describe the bug**
Error DB Upgrade 1.6.1.23 to 1.7.4.4   Using the module 1 click update v5.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![sin titulo](https://user-images.githubusercontent.com/5004396/49569877-736e6e00-f935-11e8-916c-1ee8beb8f253.jpg)
![sin titulo2](https://user-images.githubusercon

[2018-12-06 08:20] PierreRambaud commented on #11624
Hi @mistik777 You can't use htaccess files in Nginx context, you need to write your own rules.

[2018-12-06 08:45] matteolavaggi commented on #11530
I use it to update category so its used to "fix the problem", BTW
to import: Product Catalog (CSV, Excel) Import
to update: Mass edit product

[2018-12-06 08:59] Rizzen59 commented on #23315
Hi @khouloudbelguith,

Thanks for your answer.

I contacted theme author for many bug, but for some bug (css or plugin position or translation), i had to explain many time and ask for explaination to applied on my other site. No answer sattisfy my request. We have support on prestashop addon for 3 month but for this theme, it seems to be difficult to have good support.

I ended up fixing any bug m

[2018-12-06 09:05] netraagal opened #11630 "Private functions in ps_facetedsearch module"
Hi,

I'm working on the override of the ps_facetedsearch module, but am stuck due to the private functions in the module, as I cannot cal them in my override.

Is it possible to pass them to public or protected or there is a reason behind this choice ?

[2018-12-06 09:07] colinegin commented on #11497
Hello @LinkOfLight , thanks for submitting your idea !
Just to be sure I understood your need : currently you have the basis price of your product and its final price (with the discount), but you don't know what is the value of this discount, right ?

I'm not sure I understand why you need to have the "previous price" (=basis / initial price), as it is supposed to be the Price tax excluded / inclu

[2018-12-06 09:10] khouloudbelguith commented on #11629
Hi @JavierEB,

Thanks for your report.
I did not manage to reproduce the issue after upgrade from PS1.6.1.23 to PS1.7.4.4 using the 1-click upgrade 4.5.0.
![image](https://user-images.githubusercontent.com/16067358/49573342-0c08ec00-f93e-11e8-82ed-cd5105c70cac.png)
But in your log file, I found that you are using the `advancedeucompliance` module, we are aware of this issue, you can follow this [t

[2018-12-06 09:24] matks commented on #11630
Hi @netraagal, thanks for the input

Can you tell us which methods you are looking to override as the answer will depend ? Usually if we have used `private` methods it is because we consider this to be an internal behavior and that overriding this part alone is not recommended, but we can check.

Can you also tell us what you are trying to achieve ? Overrides might not be the good way to do it, es

[2018-12-06 09:27] khouloudbelguith commented on #11630
Hi @matks,
There is an old [issue](http://forge.prestashop.com/browse/BOOM-2376) similar to this ticket.
Thanks!

[2018-12-06 09:42] francoispeyret opened #11631 "Bug : Add to cart success without stock"
**Description**
1. Go to a page product with stock.
2. In BO go to this product and update the quantity to 0.
3. in the page page produit (without page refresh) add the product to cart.
4. Ouch...

The product was added but it's a success for shoppingcart but it'snot in real life.

![capture du 2018-12-06 10-37-27](https://user-images.githubusercontent.com/15829643/49575660-8851fe00-f943-11e8-8435

[2018-12-06 09:48] centoasa opened #11632 "Product box"
I sell some products that can only be sold in packs (boxes) from some pieces (for example 12) and in no way can be separated, sold as singles.
If I set the box as a product (https://www.100asa.it/it/ribbon-cera/223-zebra-ribbon-cera-110x74-tipo-2300-box-12.html) on search engines I go out with the price per package, instead my other competitors come out with a single price (and they seem cheaper)

[2018-12-06 09:57] colinegin commented on #11569
Hello @karopka,

Thanks for submitting your idea ! It seems complicated to me as it needs to check the payment methods available on the website and define which ones can be switched with other methods. What do you think ?

Anyway, we are always glad to get new ideas, so I've just posted your feature idea on http://feedback.prestashop.com/forums/387864-prestashop-1-7-x, to help us prioritize next d

[2018-12-06 10:01] Quetzacoalt91 commented on #11142
Can you please try with https://github.com/PrestaShop/autoupgrade/pull/195?

[2018-12-06 10:07] Peter4661 opened #11633 "500 error backoffice calling shopping carts after editing address requirements"
After modifying address requirements for customer ( i.e. removing 2nd address and 2nd phonenumber) visit backoffice shopping carts will result in 500 error.

![2018-12-06_10h40_09](https://user-images.githubusercontent.com/11147327/49576915-99503e80-f946-11e8-83e1-ed5409f64a90.png)

[2018-12-06 10:12] julianmatz opened #11634 "Insecure file permissions"
Prestashop appears to be using umask throughout its code. Some files that Prestashop creates are created with 0666 and 0777 permissions. This is highly insecure and it may not be noticeable until it's too late. I only noticed it because I have a daemon running that checks for insecure file permissions and sends alerts when they are present on the system. For example, the file **bin/console** has t

[2018-12-06 10:13] khouloudbelguith commented on #11631
Hi @francoispeyret,

Thanks for your report.
If you click on "Proceed too checkout" button, you will be redirected to shopping cart page with a red alert "The item The best is yet to come' Framed poster in your cart is no longer available in this quantity. You cannot proceed with your order until the quantity is adjusted." & the "Proceed too checkout" is disabled so you cannot proceed your checkou

[2018-12-06 10:20] Peter4661 opened #11636 "1.7.4.4 category grid view, text shows long discription, not short discription."
1.7.4.4 category grid view, text shows long discription, not short discription.

PS 1.7.4.4
PHP 7.2

![2018-12-06_11h12_27](https://user-images.githubusercontent.com/11147327/49577916-d61d3500-f948-11e8-880d-b487c7e34352.png)

[2018-12-06 10:21] khouloudbelguith commented on #11628
Hi @RAEzTec,

Thanks for your report.
I did not manage to reproduce the issue with 1.7.5.0
I attached a video record
[Dec 6 2018 11_17 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2652661/Dec.6.2018.11_17.AM.webm.zip)

I used this script

[code]

Thanks to check & feedback.

[2018-12-06 10:25] francoispeyret commented on #11631
Right but the proceed was stop before that in 1.6..

![image](https://user-images.githubusercontent.com/15829643/49577784-7757bb80-f948-11e8-9956-fdfdab879d9f.png)

The modal-dialog hasn't got every information of current product in this case.

no bug :
![image](https://user-images.githubusercontent.com/15829643/49578035-15e41c80-f949-11e8-9c82-cb85267f121d.png)

buged :
![image](https://user-imag

[2018-12-06 10:25] marionf commented on #11142
No more error for me :+1:

[2018-12-06 10:29] khouloudbelguith commented on #11633
Hi @Peter4661,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11416 to fix the issue.
It is fixed in the PS1.7.5.0.
Your ticket is a duplicate of #9782
So, I close it.
Thanks!

[2018-12-06 10:29] #11633 closed, assigned to nobody

[2018-12-06 10:30] khouloudbelguith commented on #11633
Duplicate of #9782

[2018-12-06 10:38] khouloudbelguith commented on #11636
Hi @Peter4661,

Thanks for your report.
Did you the default theme by PrestaShop?
Because with PrestaShop 1.7.4.4 & the default theme Classic, I did not manage to reproduce your issue.
I attached a video record
https://drive.google.com/file/d/1Hcy6OypyQeWC0Zt11ILlqsdAJDcQRri3/view
Thanks to check & feedback.

[2018-12-06 10:44] Rizzen59 opened #11637 "Increase quantity more than availlable stock change prodcut"
Hi, again :)

I have a bug on product page, when i increase product quantity and this quantity are bigger than stock availlable, the product change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page
2. Click on quantity picker to increase product
3. when quantity are bigger than stock, product change

**Screenshots**
Video with differents articles : https://drive.google.co

[2018-12-06 10:48] khouloudbelguith commented on #11530
@matteolavaggi, thanks for your feedback.
@marionf, I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0 / 1.7.4.3.
What do you think?
Thanks!

[2018-12-06 10:55] Peter4661 commented on #11633
Hi Khouloud,

Just implemented the proposed fix; classes/customer.php and classess/address.php.

Cleared cache.
(again) 500 error when visiting back office cart.

![2018-12-06_11h49_18](https://user-images.githubusercontent.com/11147327/49579787-8bea8280-f94d-11e8-882d-9a4e212bbf7c.png)

[2018-12-06 10:56] khouloudbelguith commented on #23315
@Rizzen59, if you enable the debug mode is there any exception displayed?
Or are there any errors in your log file?
Thanks!

[2018-12-06 11:03] khouloudbelguith commented on #11633
@Peter4661,
You have an issue on your table ps_cart.
you need to truncate your table ps_cart.
In your Database, table ps_cart, you need to check the last **id** of cart created for example 1000, after that you need to truncate the ps_cart table, in the options tab, you need to set the "AUTO_INCREMENT"= 1000 + 1 = 1001 and save, then the id of the next cart created will be 1001.
![image](https://us

[2018-12-06 11:11] Quetzacoalt91 opened #15197 "Add a step in the upgrade process for pre checks"
In order to prevent compatibility issues, we should add an array in the module specifying the PHP versions compatible with PrestaShop.

If the current env is incompatible with the destination version, the upgade must be blocked.

Other tasks:
* [x] Check the current PHP version with the required one for the PrestaShop version **(Fixed by PrestaShop/autoupgrade#312)**
* [x] Check permission / open_

[2018-12-06 11:17] khouloudbelguith commented on #11637
Hi @Rizzen59,

I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0rc1
I attached a video record
https://drive.google.com/file/d/1sd6v0w4DpX8ntXzHG7V0B_rv1iPWEA3V/view
It could be a custom problem, due to a custom module or your custom theme
Thanks to check & feedback.

[2018-12-06 11:21] khouloudbelguith commented on #11632
Hi @centoasa,

Thanks for your report.
So, you need search engines, the price displayed is only the price of one product, not all the pack?
Thanks!

[2018-12-06 11:25] RAEzTec commented on #11628
[presta1744or1750.zip](https://github.com/PrestaShop/PrestaShop/files/2652868/presta1744or1750.zip)

i send a video to try explain the issue.

[2018-12-06 11:27] khouloudbelguith commented on #11631
@francoispeyret, thanks for your feedback.
Yes, I tried with PS1.6 & we are stopped before the redirection to shopping cart
https://drive.google.com/file/d/1pHl6_aO4IbVLQsMdDfm3c57_8aHM3I5S/view
But with PS1.7.5.0, we are redirected to the shopping cart & the alert will be displayed.
@marionf, what do you think?
Thanks!

[2018-12-06 11:38] khouloudbelguith commented on #11616
Hi @matesbu,

Thanks for your feedback.
We release the Prestashop 1.7.2.5 for security reasons,
Security researchers recently reported the Core team of two vulnerabilities affecting the Back Office, one of them critical, for more details you can follow this [link](http://build.prestashop.com/news/prestashop-1-7-2-5-maintenance-release/)
Thanks!

[2018-12-06 11:40] Peter4661 commented on #11633
👌

Truncate tabel ps_cart did the job.

Thank you
Met vriendelijke groet,

Peter Derks
Derks wielersport
Verduinsbos 29
4661NT Halsteren

telefoon +31 624 179 798

www.derks-wielersport.nl

Op do 6 dec. 2018 om 12:03 schreef khouloudbelguith <
notifications@github.com>:

[2018-12-06 11:42] centoasa commented on #11632
Hi @khouloudbelguith
If I create a single product with single price ($1) search engine show "product X --> $1"
And into product I can set qty_box=15, so customers can buy 15pcs or multiple of 15
(this is the default behaviour of zencart)

[2018-12-06 11:53] Peter4661 commented on #11633
mmmm, cannot add product to cart.  Server error log:

[Thu Dec 06 12:50:53.421312 2018] [core:error] [pid 3780700:tid 140692093310720] [client 54.235.163.229:58822] AH00126: Invalid URI in request GET home HTTP/1.1
[Thu Dec 06 12:50:53.891331 2018] [core:error] [pid 3780700:tid 140692135270144] [client 54.235.163.229:51356] AH00126: Invalid URI in request GET home HTTP/1.1
[Thu Dec 06 12:50:56.906

[2018-12-06 12:06] Quetzacoalt91 commented on #11629
Hi @JavierEB,

I guess you previously made a restoration with the module. This column needs an update, as reported by another contributor: https://disqus.com/home/discussion/prestashopbuild/test_the_updated_1_click_upgrade_module_prestashop_developers_blog/?utm_source=reply&utm_medium=email&utm_content=comment_date#comment-3966401197

Run the following SQL request:
[code]

Then make a new upgrade.

[2018-12-06 12:11] khouloudbelguith commented on #11616
Hi @matesbu,

Thanks for your feedback.
We have updated the Symfony version, this new version used the Putenv function.
Thanks!

[2018-12-06 12:12] khouloudbelguith commented on #11616
Hi @matesbu,

Thanks for your feedback.
We have updated the Symfony version, this new version use the Putenv function.
Thanks!

[2018-12-06 13:22] khouloudbelguith commented on #11633
@Peter4661, in your Database, ps_cart => Table options => have you set the AUTO_INCREMENT ?
Thanks!

[2018-12-06 13:23] khouloudbelguith commented on #11632
@marionf, @colinegin what do you think of his improvement?
Thanks!

[2018-12-06 13:34] marionf opened #11640 "Advanced filters on stock movements page are not working"
**Describe the bug**
Advanced filters on stock movements page are not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Stock
2. Edit quantity of some products
3. Click on Movements tab
4. You see products
5. In the filter select an employee or type of movements or status or dates
6. No results

**Screenshots**
![capture d ecran_731](https://user-images.githubuserconten

[2018-12-06 13:47] mickaelandrieu commented on #11634
Hi @julianmatz,

You have all the information you need to configure your application the" right" way, but a lot of people are just unable to configure their server the way they expect, this is why we have a permissive system (not insecure, permissive) by default.

Not a bug then, but a feature.

Thanks for your report.

[2018-12-06 13:47] #11634 closed, assigned to nobody

[2018-12-06 13:50] netraagal commented on #11630
Hi @matks,

I have to add some filter types (supplier and tag) in the ``getFilterBlock`` function.

Then the horrible part comes:
To do that, I'm in the obligation to copy/paste the **whole** function to set my modifications.
And copy/paste all the little private functions ``get[name]FilterSubQuery`` as they are called in ``getFilterBlock``.

The overrides I'm coding are really big modifications.

[2018-12-06 13:53] luisjsolsona commented on #11624
Hum.....  this htaccess is generated by prestashop ...

@PierreRambaud : Doy you mean that i should delete the htaccess content and write in nginx directives¿?

Anybody has the rules that prestashop write in htaccess when url friendly are activated as a Nginx rules??

Thanks in advanced

[2018-12-06 14:23] PierreRambaud commented on #11624
Yes, this file is generated by prestashop but it's because Apache allows to use it. Unlike Nginx.
You can find example here: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist

[2018-12-06 14:24] khouloudbelguith commented on #11628
@RAEzTec, thanks for your feedback.
In my first example, the code works, because I loaded a blank schema.
But if I try with this script with PS1.7.5.0rc1
[code]
I have the same issue
![image](https://user-images.githubusercontent.com/16067358/49589831-b26ae680-f96a-11e8-90b8-65c1344ad5ff.png)

This issue has s similar on the [forge](http://forge.prestashop.com/browse/BOOM-5581)
We will see how to

[2018-12-06 14:25] khouloudbelguith commented on #11628
Related to #10069

[2018-12-06 14:25] #11142 closed, assigned to nobody

[2018-12-06 14:25] Ludofloria commented on #10157
Hello !
Any update ?

[2018-12-06 14:26] khouloudbelguith commented on #10157
@Ludofloria, sorry not yet.
Thanks for your understanding!

[2018-12-06 14:38] Rizzen59 commented on #11637
I will regret to buy template T_T,

I will check if i found a solution

[2018-12-06 14:43] khouloudbelguith commented on #11637
@Rizzen59, enabling the debug mode in Shop Parameters => Performance page, could help you to find the exact bug.
Thanks to check & feedback.

[2018-12-06 14:50] RAEzTec commented on #11628
@khouloudbelguith i have the problem solved, cause i add this line in my code. i just want try help prestashop get better and better.
Thanks

[2018-12-06 14:53] khouloudbelguith commented on #11628
@RAEzTec, thanks!
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-12-06 15:02] RAEzTec commented on #11628
@khouloudbelguith done!
I hope I have been useful.
Congrats

[2018-12-06 15:13] julianmatz commented on #11634
Hi Mickaël,

I understand that. But wouldn't most systems/hosts have a method of circumventing this problem and not requiring world-writable file permissions? And if it were an issue, perhaps it could be a setting that could be enabled during setup/installation. You wouldn't agree that being this permissive could be a security risk, especially if the user may not even be aware that others have wri

[2018-12-06 16:00] Yquem1983 opened #11642 "Order in the wrong customer account"
**Describe the bug**
We migrated from PS 1.6 to 1.7 and since we sometimes have an order that is valid in another customer account. This bug occurred on new clients but also old clients (before the migration) and with different product or carriers. It seems that the bug occurs when both clients are connected at the same time so it is very hard to reproduce the bug...

Have you ever have this kind

[2018-12-06 16:14] khouloudbelguith commented on #11642
Hi @Yquem1983,

Thanks for your report.
Did you use any module Social Login Connect (Facebook or Google login)?
Thanks!

[2018-12-06 17:02] jolelievre commented on #11640
hello, I cant reproduce the problem on branch 1.7.5.x
the filters seem to work correctly, although I was limited because I had few different Movements, yet the filters were consistent

[2018-12-06 17:48] colinegin commented on #10545
Sorry, I forgot the empty state part ! It should be fine now, I've added details in the same issue. I will update the URL document tomorrow so that you can have the correct user doc urls.

Just let me know if you need anything else !

[2018-12-06 20:25] Yquem1983 commented on #11642
Hi @khouloudbelguith ,
Thanks for your message.
I installed a social login module but I disabled it because it caused other bugs.
Thanks

[2018-12-06 22:14] RAEzTec opened #11650 "cant insert products and combinations by API in prestashop 1.7.5.0"
In new versions of prestashop 1.7.5.0 cant insert a product or combinations by webservice. the issue was in low_stock_alert was not required and when xml not have this try insert null but the database dont acept nulls in that column.
i send a video to explain better this issue.
hope this helps.
Congrats
[presta1744or1750.zip](https://github.com/PrestaShop/PrestaShop/files/2655142/presta1744or1750.

[2018-12-06 23:13] Peter4661 opened #11651 "Installatron fresh install 1.7.4.4 - cannot add product to cart"
To test errors we have on operational site, we created fresh dev site through Installatron.

On fresh site cannot add product to cart.

SP 1.7.4.4
PHP 7.1.22

server error log.

[Thu Dec 06 20:59:19.553350 2018] [lsapi:notice] [pid 1508613:tid 140692135270144] [client 141.138.169.224:40647] [host www.mydomain.nl] Backend log: PHP Notice:  Trying to get property of non-object in /home/deb115780/dom

[2018-12-06 23:55] julianmatz commented on #11634
From your own documentation:

http://doc.prestashop.com/display/PS17/Installing+PrestaShop

[2018-12-07 07:45] khouloudbelguith commented on #11650
Hi @RAEzTec,

Your issue is added to our bug roadmap: #11628
It is not necessary to create another one.
Thanks!

[2018-12-07 07:45] #11650 closed, assigned to nobody

[2018-12-07 07:46] khouloudbelguith commented on #11650
Duplicate of #11628

[2018-12-07 08:11] khouloudbelguith commented on #11651
Hi @Peter4661,

Thanks for your report.
With Fresh installation PS1.7.4.4 downloaded from this [link](https://www.prestashop.com/en/previous-versions), I did not manage to reproduce the issue.
If you enable the mode debug in the BO => Shop Parameters => Performance page, is there any exception displayed when you add the product to the cart?
Thanks!

[2018-12-07 08:18] Yquem1983 commented on #11642
I uninstalled the social login module completely.
Hope this will solve the bug.

[2018-12-07 08:28] marionf commented on #11640
I can't reproduce it either

[2018-12-07 08:28] #11640 closed, assigned to nobody

[2018-12-07 08:54] Prestaworks opened #11652 "adding a new attribute group to existing combinations not possible"
**Describe the bug**
If I try to add a new choice to existing product combinations, I have to recreate all combinations. Stats are lost for the sales and I have to reenter all price changes.
In 1.6 this was possible to edit on the combianation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO, product page for one of the t-shirts in the default installation.
2. Click on combinations

[2018-12-07 09:09] khouloudbelguith commented on #11642
Hi @Yquem1983,

To be sure, could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
If you have any ovveride created by this module, thanks to delete it.
Thanks!

[2018-12-07 09:12] matks commented on #11628
Yes you've been very useful 😉 thank you !

[2018-12-07 09:13] #11582 closed, assigned to jolelievre

[2018-12-07 09:24] SebBareyre commented on #9659
Same issue on PrestaShop 1.7.4.4

[2018-12-07 09:57] khouloudbelguith commented on #11652
Hi @Prestaworks,

Thanks for your report.
Yes, I manage to reproduce this issue with PS1.7.4.4 / PS1.7.5.0rc1, it could be an improvement issue.
In the PS1.6, we can modify the attributes of any combination.
So we can add any attribute or delete it.
![image](https://user-images.githubusercontent.com/16067358/49640840-d41da980-fa0e-11e8-8df4-a04f4468b2b5.png)
@marionf, @colinegin what do you think?

[2018-12-07 10:06] LinkOfLight commented on #11497
My provider send my the final Price (pvp) whit taxes (and discount aplicated) and the final Price whitout discound and taxes aplicated, i think the import cant calculated the € discount and whit this the % ¿for what? because whit this the sistema can aplicated the "in offert" and can show the two prices, think i have more tan 4000 products and my provider send my all the prices, make the "in offer

[2018-12-07 10:08] khouloudbelguith commented on #9659
@SebBareyre, this issue is not fixed yet.
I manage to reproduce the issue with PS1.7.5.0rc1
![image](https://user-images.githubusercontent.com/16067358/49641420-61adc900-fa10-11e8-842f-3f3bbf49ceb3.png)
It is added to our bug roadmap.
Thanks!

[2018-12-07 10:58] centoasa opened #11655 "error in module Viewed products block v1.2.0"
Prestashop 1.7.4.4
with this module installed I've now this error:
(1/1) ClassNotFoundException
Attempted to load class "ProductListingPresenter" from namespace "PrestaShop\PrestaShop\Adapter\Presenter\Product".
Did you forget a "use" statement for "PrestaShop\PrestaShop\Core\Product\ProductListingPresenter"?

in ps_viewedproduct.php line 269
--
at Ps_Viewedproduct->getViewedProducts()in ps_viewed

[2018-12-07 11:10] khouloudbelguith commented on #11655
Hi @centoasa,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 & ps_viewedproduct v1.2.0
![image](https://user-images.githubusercontent.com/16067358/49644543-07653600-fa19-11e8-9339-54d221102329.png)
We will see how to fix it.

I tried with ps_viewedproduct v1.2.0 & PS1.7.5.0rc1 and it is ok.
Thanks!

[2018-12-07 13:25] elektryz opened #11657 "hookDisplayAdminProductsExtra not showing its content in 1.7.5"
**Describe the bug**
Can't see the content of hook hookDisplayAdminProductsExtra on PS 1.7.5 (fresh installed). From PS 1.7.0.0 to 1.7.4.4 it is visible. See the screenshot below

![image](https://user-images.githubusercontent.com/8435019/49650241-e0642f80-fa2b-11e8-8d3e-8d81e352dae5.png)

Why is that happening?

[2018-12-07 13:28] khouloudbelguith commented on #11657
Hi @elektryz,

Here's the Pr: https://github.com/PrestaShop/PrestaShop/pull/11584 to fix the issue.
Your ticket is a duplicate of #11582
So, I close it.
Thanks!

[2018-12-07 13:28] #11657 closed, assigned to nobody

[2018-12-07 13:28] khouloudbelguith commented on #11657
Duplicate of #11582

[2018-12-07 13:58] #11621 closed, assigned to jolelievre

[2018-12-07 14:34] augustu5 commented on #11172
Same problem here.
Prestashop 1.7.4.3 when product triggers free delivery discount I get no available carriers message. No errors on dev mode nor in error log.
Problem is hard to reproduce.
On my development instance after upgrade everything works great (even on production database copy).
I tried cleaning cache in backoffice, reloading vendor folder and manually removing var/cache folder.
I'm usin

[2018-12-07 14:49] khouloudbelguith commented on #11172
@krystian-3c, have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/10903#issuecomment-438233641?
Thanks!

[2018-12-07 14:56] jolelievre commented on #9743
Hello, I don't if the problem was linked to the PR you mentioned bu either way I can't reproduce the bug on develop branch Seems to be fixed

[2018-12-07 15:18] khouloudbelguith commented on #9743
Hi @jolelievre,

In the PS1.7.5.0rc1, In step 6: "Click on CONTINUE SHOPPING" => The quantity is updated in the input text, it became 1 => but the price and the discount are not correct: the discount should be 18 % and with the correct price

But in the develop branch, the issue is fixed, https://drive.google.com/file/d/1ATseRq6vi4eFiC2QM_xH9jOUbxF8Yzyb/view
Thanks!

[2018-12-07 15:29] jolelievre commented on #11332
Juste te be clear @eternoendless, do you suggest to leave the former "composite" setting available in the form?
Which can become confusing for the user.
Or juste keep it in the database so that it's still accessible for modules? And then the new controller should be able to update it based on the two separate settings?
`PS_DISPLAY_SUPPLIERS` being the actual configuration then we would have this k

[2018-12-07 15:37] jolelievre commented on #9743
Yes I have the same behavior as you but is logical because the quantity remains to 48, so the promotion remains at 25%.
In the initial video when clinking on Continue, the quantity drops to 1 but the promotion remained for 48 which was incorrect.
Since now the quantity does not change after clicking on Continue it is still logical I think.

Unless the expected behavior is to have the quantity set

[2018-12-07 15:48] khouloudbelguith commented on #9743
@jolelievre, I think that the logic behavior is, after clicking on Continue button, is to have quantity set back to minimum quantity and the promotion to update accordingly.
@colinegin what do you think?
Thanks!

[2018-12-07 16:10] otg79 commented on #11606
Merci pour votre réponse, mais mes codes EAN font bien 13 chiffres et sont ceux du fabricant. Je n’en crée pas moi-même.

From: mistik777
Sent: Wednesday, December 05, 2018 5:44 PM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

I have a similar issue...
the problem was solved checking all the EAN and UPC in combination products

[2018-12-07 16:13] khouloudbelguith commented on #11606
Hi @otg79,

Any news about the search of your stock app?
Thanks!

[2018-12-07 16:15] marionf commented on #9760
@khouloudbelguith I can't reproduce the issue with 1.7.5.0, can you try ?

[2018-12-07 16:16] otg79 commented on #11606
Non, pas de certitudes...Le problème est en cours d‘étude chez mon logiciel de stock. Je pense que cela vient de lui.

Merci

From: khouloudbelguith
Sent: Friday, December 07, 2018 5:13 PM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

Hi @otg79,

Any news about the search of your stock app?
Thanks!

—
You are receiving this be

[2018-12-07 16:17] khouloudbelguith commented on #11222
Hi @startech-france,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
The new version 4.5.1 of the 1-click upgrade is released
https://addons.prestashop.com/en/data-migration-backup/5496-.html
Thanks!

[2018-12-07 16:17] #11222 closed, assigned to nobody

[2018-12-07 16:18] khouloudbelguith commented on #11257
Hi @jviure,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-07 16:18] #11257 closed, assigned to nobody

[2018-12-07 16:19] khouloudbelguith commented on #11255
Hi @amtriorix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-07 16:19] #11255 closed, assigned to nobody

[2018-12-07 16:19] khouloudbelguith commented on #11262
Hi @jachymb,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-07 16:19] #11262 closed, assigned to nobody

[2018-12-07 16:24] khouloudbelguith commented on #9760
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.5.0rc1.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10684 to solve the issue.
Duplicate of #10469

[2018-12-07 16:24] #9760 closed, assigned to nobody

[2018-12-07 16:25] khouloudbelguith commented on #11606
@otg79, ok, thanks!
Waiting for your feedback.

[2018-12-07 16:37] jolelievre commented on #11102
The mockup was implemented with the new `PositionColumn` in the new Grid system (introduced in 1.7.5).
So if the migrated page uses a Grid it should work. Is there a more detailed list of pages that don't look like they should?

[2018-12-07 16:49] colinegin commented on #9743
Yes I agree with you @khouloudbelguith , I think the quantity should be set back to the minimum quantity when clicking on Continue after the user clicks on Add to cart.

[2018-12-07 16:50] jolelievre commented on #9743
Ok since we agree on this behavior I'm gonna fix it that way.

[2018-12-07 16:53] khouloudbelguith commented on #11655
To visualize the issue, we need to enable the debug mode.
Thanks!

[2018-12-07 16:57] centoasa commented on #11655
@khouloudbelguith last message was for me?
I'm sorry but my website is in production, so I can't enable module and show error in product page

[2018-12-07 16:59] khouloudbelguith commented on #11655
@centoasa, no.
Just to reproduce the issue, we need to enable the debug mode.
Thanks!

[2018-12-07 17:27] MatShir opened #11660 "[EPIC] Add/Edit a currency with the CLDR implementation"
### USER STORY
As a merchant, I want to to be able to add new currencies and to edit it.

### WHY
The CLDR data doesn't always answer all the merchant's needs, and we've seen lots of tickets asking for currency modifications (not available in 1.7 so far).

- [x] #10052 - Here the first part and the related PR #10455

### SPECIFICATION
This new page allows

- To add a new currency
- To edit a curre

[2018-12-07 17:46] psydomin opened #11662 "Allow Countries to have Multiple Zones"
**Describe the bug**
Sometimes there is the need for one country to have multiple shipping zones (for example in my case, Portugal, we have mainland and we have 2 sets of islands. Carriers tend to charge different values depending on whether the shipment is to mainland Portugal or to the islands)

In prestashop you can set zones to countries and zones to states but setting a state to zone X is use

[2018-12-07 17:52] MatShir commented on #10017
We are sorry for the delay but editing/customizing currency features (included decimal management) is on the roadmap 1.7.6.

The first part of the feature #[10052](https://github.com/PrestaShop/PrestaShop/issues/10052) is almost done which the implementation of the CLDR (the data needed to manage a maximum of currencies),  is now waiting reviewing and go through the QA. Check the PR #10455 try it

[2018-12-07 22:00] JavierEB commented on #11629
thanks @Quetzacoalt91 @khouloudbelguith  For your help, everything solved. The update process just worked. But now I have another problem, when I activate the debug.
![error](https://user-images.githubusercontent.com/5004396/49674865-a6b71700-fa73-11e8-832a-db2477951d8c.jpg) E deleted advancedeucompliance modules
themeconfigurator
Thanks companions

[2018-12-08 06:32] MobileStarChart commented on #11655
Me the same, I follow this topic and keep looking the way to fix it.

[2018-12-08 19:07] b8fish opened #11670 "tag"
**Describe the bug**
If a Product has a Tag containing a single double quote("), a "Save" for the product fails silently reporting only "Settings Saved".

**To Reproduce**
Steps to reproduce the behavior:
1. In back-end, Go to 'catalog/products'
2. Click on any product
3. Make a change to Summary text (for instance); save,
4. Verify that new Summary displays the change on the front-end product pag

[2018-12-08 19:17] Maofree opened #11673 "displayAdminOrderContentShip does not show the content in the right place"
Hi
I want to use these two hooks
displayAdminOrderTabShip
displayAdminOrderContentShip

the first one is ok, its content will be shown inside the list
instead the content of displayAdminOrderContentShip will be shown in a wrong place

@khouloudbelguith I'll send you an email with the module zip to test this problem

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/49689714-6dd

[2018-12-08 19:38] b8fish commented on #11670
Further information.

Same silent failure to update product if a tag contains a '+' sign

[2018-12-09 09:30] Maofree commented on #11323
Hi
Today I get the same problem but without errors
I cannot join the module to the Paypal's account, I arrive to the Paypal's login and then in the summary page. I cannot see the other page where the granting of authorizations is shown.
I've alerted 202commerce
can you check if there are the same problems on your system?

[2018-12-09 12:24] augustu5 commented on #11172
I'm afraid not. I tried the discount configuration shown in your video in the comment. It works fine on my instance.
But I get the same symptoms when I change discount action to free shipping.
Dont know if that helps, but I've done some debbuging on my side, and I've learned that if I comment out line 771:

` $gifts = $this->getCartRules(CartRule::FILTER_ACTION_GIFT);`

delivery methods starts to

[2018-12-09 13:59] skipper-henrik commented on #10264
Same issue here, tried update to 1.7.4.4

no changes :-(

[2018-12-09 14:57] MathiasReker opened #11680 "Errors and warnings with PHP 7.2"
Eg.
[code]

Doc: http://php.net/manual/en/function.mysql-error.php

Please check below:

[code]

[2018-12-09 15:01] MathiasReker opened #11681 "Warnings in PHP 7"
[code]

[2018-12-09 15:42] #11681 closed, assigned to nobody

[2018-12-09 16:11] shacker2 commented on #11655
to solve the issue, replace in the top of the file the line

//use PrestaShop\PrestaShop\Adapter\Presenter\Product\ProductListingPresenter;
use PrestaShop\PrestaShop\Core\Product\ProductListingPresenter;

[2018-12-09 18:59] By-oussef opened #17107 "Add a top of the best sales for each category"

[2018-12-09 19:21] wordliner commented on #11655
Thx. Works for me. The same problem on 1.7.2

[2018-12-09 23:02] Themiller12 opened #11682 "Invisible products created with Webservice"
Hello,

I made a software that synchronizes our inventory management software with Prestashop (1.7) via the Webservice with XML files.

The products are well imported, the stock also **but only in back office**. To be visible in Front Office I have to go to each product click on Save and it appears.

I saw in the database that during the save, the field "position_in_category" takes a value and tha

[2018-12-10 00:16] mickaelandrieu commented on #11680
Your report is interesting, would you mind to help us complete our custom error handler for our test suite?

https://github.com/PrestaShop/PrestaShop/pull/10477

[2018-12-10 01:28] mickaelandrieu opened #11683 "Introduce new labels"
I need 2 more labels:

* `WIP` for `Work In Progress`: this means that we don't have to review the contribution right now, could be named `RFC` too;
* `Waiting for Review`: this means the pull request need a review from a specific developer (we can assign him) so the others don't need to review the contribution: we gain time.

[2018-12-10 07:38] matteolavaggi opened #11684 "PS 1.7.2 Unable to delete adress or confirm order"
[PrestaShopException]
Invalid address #638
at line 439 in file classes/Address.php

434.             // if an id_address has been specified retrieve the address
435.             if ($id_address) {
436.                 $address = new Address((int)$id_address);
437.
438.                 if (!Validate::isLoadedObject($address)) {
439.                     throw new PrestaShopException('Invalid address

[2018-12-10 08:19] khouloudbelguith commented on #11684
Hi @matteolavaggi,

This issue happens if you have an abandoned cart and if you delete the customer's address.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11416 to fix the issue.
Your ticket is a duplicate of #9782
So, I close it.
Thanks!

[2018-12-10 08:19] #11684 closed, assigned to nobody

[2018-12-10 08:20] khouloudbelguith commented on #11684
Duplicate of #9782

[2018-12-10 08:28] MathiasReker commented on #11680
@mickaelandrieu Download php7cc.phar: https://github.com/sstalle/php7cc

Run: `php php7cc.phar path/to/prestashop/` :)

[2018-12-10 08:29] MathiasReker commented on #11680
You might need to set memory limit to -1, the script takes a lot of RAM :)

[2018-12-10 08:48] khouloudbelguith commented on #11682
Hi @Themiller12,

Thanks for your report.
I did not manage to reproduce the issue with 1.7.5.0
I attached a video record
[webservice_Product.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2662285/webservice_Product.webm.zip)
I used this script

[code]

Thanks to check & feedback.

[2018-12-10 09:00] colinegin commented on #11142
#11678

[2018-12-10 09:01] mael-c opened #11686 "BO : Impossible to save a product with a new attachment"
**Describe the bug**
On the BO, I can't add or edit a product with a new attachment without an error. The attachment is added on the database. When the product is saved, Prestashop don't know the new attachment field and throw this error : "This value is not valid".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your BO and edit or add product.
2. Add your product information if neede

[2018-12-10 09:04] khouloudbelguith commented on #11670
Hi @b8fish,

Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/10856 to fix the issue.
It is fixed in the next release 1.7.5.0
Your ticket is a duplicate of #10856
So, I close it.
Thanks!

[2018-12-10 09:04] #11670 closed, assigned to nobody

[2018-12-10 09:07] khouloudbelguith commented on #11670
Duplicate of #10856

[2018-12-10 09:24] khouloudbelguith commented on #11662
Hi @psydomin,

Could you please try to create a custom zone Mainland-Islands.
![image](https://user-images.githubusercontent.com/16067358/49722673-8babf900-fc65-11e8-92aa-39ec94c346e1.png)
For this new zone, you can select it to your country.
![image](https://user-images.githubusercontent.com/16067358/49722775-c31aa580-fc65-11e8-8c91-114a523bf706.png)
Thanks to check & feedback.

[2018-12-10 09:45] colinegin opened #11687 "[EPIC] Transactional emails & Email theme"
The idea of this project is to redesign the native email template for transactional emails (for a new account, new order, message to the customer service, etc.).

- We will also rewrite some of these emails to make them more modern.
- We are currently evaluating the technical feasibility of this project.
- Mock ups & Specs are in progress.

**Here are the related issues:**

1st step :
- [ ] #11880

[2018-12-10 09:46] studiox3 commented on #9853
Hi!
My FIX here:https://github.com/PrestaShop/PrestaShop/compare/1.7.4.x...studiox3:patch-1

[2018-12-10 09:52] MatShir commented on #11558
The PR #10455 should fix this issue. It will be delivered on the 1.7.6.
Thank you

[2018-12-10 09:59] MatShir commented on #11019
The PR #10455 should fix this issue. It will be delivered on the 1.7.6.
Thank you

[2018-12-10 10:03] khouloudbelguith commented on #11686
Hi @mael-c,

Thanks for your report.
I did not manage to reproduce the issue.
What is the exact type of the attachment that you uploaded it?
Can you please provide us this attachment to test with it.
Thanks!

[2018-12-10 10:09] matks commented on #11683
1) Currently, WIP PRs have `[WIP]` in their title. Is that not good enough ?
2) The label you are talking about is a good idea, but can we improve the naming to really underline the fact it expects a specific review, not anyone ? Like `Waiting for reviewer` ?

I also have a usecase where I would love to have a label, it is "discussion in progress": when the PR is ready, a 1st review has been done

[2018-12-10 10:21] khouloudbelguith commented on #11323
Hi @maofree,

I did not manage to reproduce the issue with PS1.7.5.0rc1build2 & PS1.7.4.0 & PayPal v4.4.2.
It is OK.
Thanks!

[2018-12-10 10:21] jolelievre commented on #11332
@eternoendless if we agree on the previous comment, I can take care of it

[2018-12-10 10:23] jolelievre commented on #11660
I guess it is linked to this never ending PR ^^? https://github.com/PrestaShop/PrestaShop/pull/10455
@matks @tomlev

[2018-12-10 10:25] jolelievre commented on #11596
mmhhm, what else can you tell us about this? ^^
No more seriously, I thought we didn't want to use doctrine Entities and get rid of ObjectModel as well, and rather use CQRS pattern to update the database and avoid being too attached to a static object representation?
But maybe I got something wrong

[2018-12-10 10:25] khouloudbelguith commented on #10264
@pantle, sorry not fixed yet.
But you can try the fix described by @Xaconi https://github.com/PrestaShop/PrestaShop/issues/10264#issuecomment-427342155
Thanks!

[2018-12-10 10:32] khouloudbelguith commented on #9853
Hi @studiox3,

Thanks for your fix.
Could you please try to create a PR with your fix.
https://github.com/studiox3/PrestaShop/commit/934c449dcef0331525e8060c273fe9019194eec6
You can follow this documentation: https://github.com/PrestaShop/PrestaShop/tree/develop#contributing to make your pull request.
Thanks!

[2018-12-10 10:40] matks commented on #11596
It's because I did not write a proper description 😅 (I meant to but I switched half-way to another topic and forgot to finish it).

If I'm not wrong, the feature required by @eternoendless and @mickaelandrieu is "Modules should be able to describe and manage dedicated SQL tables for their needs."

So Doctrine here would be used to *add* entities to the project, not modify/manage existing ones. To

[2018-12-10 10:46] Maofree commented on #11323
Hi
tested again today, and I cannot join paypal to the module like the last time.
![1](https://user-images.githubusercontent.com/653230/49727540-cbc4a900-fc70-11e8-88b2-c7e609237e30.png)
![2](https://user-images.githubusercontent.com/653230/49727543-cbc4a900-fc70-11e8-90cf-d1719e83958e.png)

the first page can be ok, after that I get the default paypal's login
I install the module, then push on th

[2018-12-10 10:47] rdy4ever commented on #11662
Hi @khouloudbelguith
I do think he wants to have multiple shipping zones (with different rates) inside the same country. As you suggested, he is still restricted to pick just one zone for one country.
And it does make a lot of sense: in my country, for example, the carriers charge different fees if you send locally or national. So it would be very handy to be able to set multiple shipping zones in

[2018-12-10 10:48] luisjsolsona commented on #11624
[SOLVED]

Change in server: execute mode PHP:   Nginx --> FastCGI served by Apache

FastCGI server by Apache OK

[2018-12-10 10:55] jolelievre commented on #11596
Ok, and will this be used if someone wants to "extend" our model?
You would attach a `CustomProduct` entity to a `Product` row?
I'm afraid we are going to mix several ways of managing the database together. Like a query which uses half a doctrine builder in CQRS mode for the core tables, mixed with entities for the module tables..

[2018-12-10 10:55] khouloudbelguith commented on #11624
Hi @mistik777,

Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-12-10 10:55] #11624 closed, assigned to nobody

[2018-12-10 11:03] eternoendless commented on #11596
The idea is to let module developers handle _their_ data as they see fit. Doctrine is a good answer.

The idea is _NOT_ to let them extend PrestaShop's tables. We must discourage that as much as possible. Of course, a custom shop should be able to customize stuff as much as they need, but using our pre-defined paths as much as possible.

[2018-12-10 11:04] khouloudbelguith commented on #11323
Hi @maofree,

Can you please contact directly to PayPal via
email in this address: PPpbBTsupport@paypal.com to resolve your issue.
Thank you!

[2018-12-10 11:06] khouloudbelguith commented on #11629
@JavierEB, Did you use any module live_edit?
Thanks to disable it, check & feedback.

[2018-12-10 11:06] Maofree commented on #11323
ok

[2018-12-10 11:09] eternoendless commented on #11332
I meant only in the database, for backwards compatibility. Ok for the suggested behavior.

This should be documented. A list of all the settings and what they mean would be nice 😄

[2018-12-10 11:10] MatShir commented on #11660
Yes it is the 2nd part of the CLDR bringing customization.

[2018-12-10 11:14] MatShir commented on #9714
Hi,
This future PR related to this issue #11660 will fix all needs on currencies displays included on the roadmap 1.7.6. You will be able to customize the currency display depending on your store language.
Thanks

[2018-12-10 11:22] SP86 commented on #11548
Hello.
I have the same problem. Delete the file 'config/themes/themename/shop1.json' does not work.

My situation is following.
I installed the "supercheckout" module. The file I want to change is along the way.
"modules/supercheckout/views/templates/front/cart_summary.tpl"

I placed this file in such folder: "themes/classic/modules/supercheckout/views/templates/front/cart_summary.tpl". Then I mad

[2018-12-10 11:25] khouloudbelguith commented on #11662
@rdy4ever, thanks for your feedback.
@marionf, @colinegin what do you think?
Is it possible to have a country in more than one zone, so we can give each carrier to their own zone numbers?
Thanks!

[2018-12-10 11:34] khouloudbelguith commented on #11548
Hi @SP86, could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
And, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-12-10 11:38] khouloudbelguith commented on #11172
@krystian-3c, if you enable the debug mode, are there any exceptions displayed on your FO, in the shipping step.
Thanks!

[2018-12-10 11:38] skipper-henrik commented on #10264
@all thank you ev'rybody. xaconi's suggestion worked. Didn't check other carts for checkout yet. but the error is gone. THANK YOU!

⚠️❌ TRIED and worked for virtual products ONLY in the cart. If custumer tries to puts a normal product into the cart nothing happens. the "ADD TO CART" button is without action. If there is a normal and virtual product in the cart the custumer gets a WHITE SCREEN.

[2018-12-10 11:41] jolelievre commented on #11332
What?! You mean there is nowhere a list of the settings?! :P

[2018-12-10 11:59] SP86 commented on #11548
In Admin Panel my "Debug mode".
![image](https://user-images.githubusercontent.com/12730330/49730899-624d9600-fc82-11e8-99ef-54916401709a.png)
Also I clear  "var\cache\dev" and "var\cache\prod"
![image](https://user-images.githubusercontent.com/12730330/49730939-7abdb080-fc82-11e8-9368-96cdace03db2.png)
I clear cache from Admin-Panel.
Also I delete the file 'config/themes/themename/shop1.json'

My

[2018-12-10 12:04] musaffar-patel commented on #11548
Before posting the original bug report, I also tried all the suggested steps, deleting the json file, clearing caches + cache folder, disabling caching and enabling debug mode.  Unfortunately the only solution which worked was to delete the original module template file which then resulted in Prestashop using the override file instead.

[2018-12-10 12:25] SP86 commented on #11548
When I leave the file "themes/classic/modules/supercheckout/views/templates/front/cart_summary.tpl , and delete it in the main module "themes/classic/modules/supercheckout/views/templates/front/cart_summary.tpl", I get an error in the work of the module
![image](https://user-images.githubusercontent.com/12730330/49732470-7fd12e80-fc87-11e8-9751-a0fdc7c70d38.png)

[2018-12-10 12:42] Ybeske commented on #10875
Hi,

@khouloudbelguith
@marionf

I really hope the utility of my proposal triggerd some thoughts :-)
Can you please inform me about a possible implementation of this feature in the coming version 1.7.5?

Thanks!

[2018-12-10 13:11] khouloudbelguith commented on #10875
@Ybeske, the new version 1.7.5.0 will be released in a few weeks, we only accept security fixes or regression from 1.7.4.0 on this branch to be focused on the 1.7.5.0 version, as described here: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#target-branch
Thanks!

[2018-12-10 13:14] colinegin commented on #11332
Hello @jolelievre , shame on us we still need to work on the fonctional specifications :D
I think we should postpone the fix of this issue if that's ok for you, so that we have a bit more time to work on it.

Thanks !

[2018-12-10 13:17] jolelievre commented on #11332
Alright, keep me posted when you decided everything ;)

[2018-12-10 14:04] khouloudbelguith commented on #11673
Hi @maofree,

Thanks for your report.
I tried with this module & it is OK
![image](https://user-images.githubusercontent.com/16067358/49737329-e1e06280-fc8c-11e8-862f-287d6a404693.png)
Thanks to check & feedback.
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2663396/mymodule.zip)

[2018-12-10 14:06] Yquem1983 commented on #11642
Hi @khouloudbelguith,
I clear cache manually. There is ni overide by this module.

Unfortunately, the bug has been repeated several times.

I have a module for the header that allows customers to connect while overflying icon "account". Can this module be the cause of the problem?

Thanks!

[2018-12-10 14:28] khouloudbelguith commented on #11642
@Yquem1983, yes it could be.
We are really interested to find out what's wrong.
Thanks to check & feedback.

[2018-12-10 14:39] mael-c commented on #11686
Hi @khouloudbelguith
I don't think that attachment type is my problem.
I tested with pdf, jpg, and png (30-40 different files) with no success.
If I just upload my attachment, there is no problem. My attachment is uploaded and correctly linked to my product. I have to refresh my page for update my other product fields.
Here is one of my test attachment :
![board-361516_640](https://user-images.git

[2018-12-10 14:48] khouloudbelguith commented on #11686
@mael-c, could you please navigate to your BO => Advanced Parameters => Information => check the Upload Max File size valur.
Thanks!

[2018-12-10 15:20] mael-c commented on #11686
@khouloudbelguith My Upload File size value is 640Mo.

[2018-12-10 15:25] Maofree commented on #11673
ok

[2018-12-10 15:29] khouloudbelguith commented on #11673
@maofree, can I close the issue?
Thanks!

[2018-12-10 15:47] Maofree commented on #11673
yes you can close, in the future I'll do other tests to use these hooks
however if it works with your module it should work with mine

bye

[2018-12-10 15:49] khouloudbelguith commented on #11673
Hi @maofree,

With my module, we could not reproduce your issue.
It seems that your issue is not a PrestaShop's core bug but a most likely custom module.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-10 15:49] #11673 closed, assigned to nobody

[2018-12-10 15:57] khouloudbelguith commented on #11686
@mael-c, We need to retrieve the PHP error log in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-10 16:18] marionf commented on #11102
We have also the product page

![capture d ecran_740](https://user-images.githubusercontent.com/13449658/49745559-8b305400-fc9f-11e8-8c21-3b567a9ee363.png)

But I don't know if we should change something also on this one @TristanLDD ?

[2018-12-10 16:26] jolelievre commented on #11102
Yes but the product page is special as it has already been migrated once. I believe it is planned to refactor it but only once all other pages will have been migrated.

[2018-12-10 16:32] marionf commented on #11102
So, we have just positions page right now

[2018-12-10 16:37] psydomin commented on #11662
Exactly as @rdy4ever said. The goal is to have multiple zones within one given country so that we can charge different shipping prices for different zones inside the same country.

[2018-12-10 16:59] marionf commented on #11632
@centoasa

You can fill the unit price field for your product like this:

![capture d ecran_742](https://user-images.githubusercontent.com/13449658/49748158-3f80a900-fca5-11e8-84df-75b734be0af4.png)

![capture d ecran_741](https://user-images.githubusercontent.com/13449658/49748164-427b9980-fca5-11e8-893f-76b2c57d58f4.png)

[2018-12-10 17:07] centoasa commented on #11632
@marionf maybe a very good solution!
Still remain valid my suggestion!
Thank you so much.

[2018-12-10 17:10] marionf commented on #11631
We could add a check to verify the quantity when we click on the "add to cart" button on the product page or in the quickview
But if the product is no more available (qty <= 0 and order of out of stock products disabled) we need to specify which message we displaye and how

[2018-12-10 17:19] marionf commented on #11530
I can't reproduce it either, products are well displayed in the category after an import

[2018-12-10 17:19] #11530 closed, assigned to nobody

[2018-12-10 17:30] marionf commented on #9903
@gadnis
It's not necessary to create a new issue
In #9956 it's indicated that options don't work

[2018-12-10 17:47] angelsix commented on #10264
I can concur this is an issue still even in 1.7.5, and a big one. The fix about causes an infinite loop and then swallows all PHP memory if you have a virtual and physical product in the cart. This really needs fixing

[2018-12-10 18:04] MatShir commented on #11517
Hi @mklimkiew,
Unfortunately, I won't be for 1.7.5. The release candidate is out and our backlog is quite full of new features for the next version. But I will share your idea on [feedback.prestashop.com ](http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/36520666-add-new-references-in-product-page-mpn-ean-14), the community helps us to prioritize.
Don’t hesitate to make a

[2018-12-10 18:06] augustu5 commented on #11172
@khouloudbelguith Unfortunately nothing.

[2018-12-10 18:44] Themiller12 commented on #11682
Hello,

Thank you for your answer ! I made a video to explain you : https://www.youtube.com/watch?v=qMBMHuhGVs0

I send a XML file like this :

`<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
  <product>
    <id_category_default>21</id_category_default>
    <id_shop_default>/>
    <reference>03133</reference>
    <ean13>2902711031336</ean13>
    <sta

[2018-12-10 20:08] francoispeyret commented on #11631
A fix can do the job.
It is only to correct the display with empty data due to controller error.

https://github.com/PrestaShop/PrestaShop/compare/develop...francoispeyret:patch-3

[2018-12-10 21:00] manburg6 commented on #11115
Hello,

I've the same problem too.

Two order with same reference.
In addition the second order is registered with a wrong customer. Maybe when the order has been created the query find wrong record.
The orders have 1 second difference.

Thanks,
Mario

[2018-12-10 22:13] mickaelandrieu commented on #11683
I like it :)

Yup.

In fact, my needs is to not waste time on already reviewed pull requests (or on uncomplete ones).

I use a lot the available filters for that :)

[2018-12-11 06:10] dheerajwebkul opened #11692 "Generally, the "Module Manager" tab should be the first tab here in Modules Tab"
**PrestaShop Version**
V1.7.5.0 RC1

**Is your feature request related to a problem? Please describe.**
See my screenshot, All clear in the screenshot

**Describe the solution you'd like**
Just reverse the order
![download 21](https://user-images.githubusercontent.com/19220745/49781644-89b36a00-fd39-11e8-9c15-77609979b55c.png)

[2018-12-11 06:22] dheerajwebkul commented on #11692
This new module manager tab improvement is resolving one of my previous requests

http://forge.prestashop.com/browse/BOOM-5749
http://forge.prestashop.com/browse/BOOM-4033

Discusses with @vincentbz

If you can see the forge.

Still, I think the problem is,
we need to search uninstalled module in "Module Catalog" Tab and installed modules in "Module Manager" tab. My concern was keeping "Module Cat

[2018-12-11 07:51] khouloudbelguith commented on #11692
Hi @dheerajwebkul,

Thanks for your report.
Your improvement issue is related to #10047, in fact, we are planning to make this changes.
Thanks to check & feedback.

[2018-12-11 07:58] khouloudbelguith commented on #11115
Hi @manburg6,

Did you use any special method payment? did you use any social login connect?
We really need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-11 08:23] dheerajwebkul commented on #11692
@khouloudbelguith Thanks

[2018-12-11 08:24] PierreRambaud commented on #11683
FYI: There is already a section for Waiting for Review: https://github.com/PrestaShop/PrestaShop/pulls?q=is%3Apr+is%3Aopen+review%3Arequired
https://blog.github.com/2017-01-23-filter-pull-request-reviews-and-review-requests/

[2018-12-11 08:31] khouloudbelguith commented on #11692
@dheerajwebkul, so can I close your issue?
Thanks!

[2018-12-11 08:34] marionf commented on #11507
@khouloudbelguith it's a normal behavior, the price change if you update it

[2018-12-11 08:34] #11507 closed, assigned to nobody

[2018-12-11 08:44] dheerajwebkul commented on #11692
@khouloudbelguith You can close, I have nothing much to explain this here,
But just be sure there is a difference between #10047 (its closed also) and this,

Important in this request is:
- Swap tab position
- Do not send uninstalled module in "Module Catalog" tab

If these features are raised anywhere exactly, Please link here and close this issue.

[2018-12-11 08:49] khouloudbelguith commented on #11692
@marionf, @colinegin, what do you think? is that possible to add these improvements suggested by @dheerajwebkul?

[2018-12-11 09:44] marionf commented on #11595
Yes, we should be redirected on address step

[2018-12-11 09:55] marionf commented on #11622
Humm, this is a very specific case when the order is splited and we need to discuss about this @colinegin
A solution could be to split the discount between the 2 orders

[2018-12-11 09:55] khouloudbelguith commented on #11548
Hi all,

With PrestaShop 1.7, all module overriding code goes to the modules directory (in your module’s own directory). Every PS 1.7 module developer should be aware of this change (introduced with PR: https://github.com/PrestaShop/PrestaShop/pull/5020).
For more details, you can follow our [documenation](https://devdocs.prestashop.com/1.7/themes/reference/overriding-modules/)
Thanks to check & f

[2018-12-11 09:57] marionf commented on #11683
I can create new labels, so we need :
1. WIP
2. Waiting for review ? Or it's not necessary ?

[2018-12-11 10:30] khouloudbelguith commented on #11682
@Themiller12, you have an issue with your script with the XML SENT.
Have you tried with my script?
I did not manage to reproduce the issue, I attached a video record.
https://drive.google.com/file/d/1-1ty52eLvQJX1RtH-jhCDp40TwLBBBc9/view
You need to check your script.
Thanks!!

[2018-12-11 10:44] khouloudbelguith commented on #11172
@krystian-3c, the same issue reported here: #10903 with free shipping

Steps to reproduce the issue
1. Create cart rule
1.1 without code
1.2 In the condition Tab "Minimum amount 100 EUR & Shipping included
1.3 In the actions tab, apply any action => **Free shipping**
2. Go to FO, add to cart a product which price = 70 EUR < 100 EUR (must be < 100 EUR) => so the cart rule is not applied
3. Complete

[2018-12-11 11:20] Quetzacoalt91 commented on #11629
Hi @JavierEB,

Your issue is unexpected as we have removed this field from the database, and obviously from SQL requests.
Do not worry, it seems easy to solve it. I'm pretty sure you have an override of the `Hook` class on your shop. You can confirm this by checking the file `override/classes/Hook.php` actually exists.

If yes, you can try to rename it. You *should* get the access back to your sho

[2018-12-11 11:20] khouloudbelguith commented on #10833
Hi @LSClaire,

We released a new version for the 1-click upgrade v4.5.1.
You can download this module from our Marketplace: https://addons.prestashop.com/en/data-migration-backup/5496-.html
Thanks to check with the new version & feedback.

[2018-12-11 11:28] Themiller12 commented on #11682
Ok it works if I add associations/category in my XML... Thank you !
But I think devs should simplify this webservice, we have to set 2 times the category, for the stock we can't set it directly we have to send the product first, then get the ID and send an other XML to set the stock.. It's really hard if you can't use the PHP library (with XML POST/PUT). I managed to run my software by visiting at

[2018-12-11 11:36] khouloudbelguith commented on #11682
@Themiller12, we are glad that your issue is solved.
We have a lot of work with webservice issues, It is planned to fix [webservice](https://github.com/PrestaShop/PrestaShop/issues/10069) issues in PS 1.7.6.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-11 11:36] #11682 closed, assigned to nobody

[2018-12-11 11:48] khouloudbelguith commented on #11680
Hi @MathiasReker,

Thanks for your report.
What are the exact steps did you followed to get this errors?
Did you use the last version PrestaShop 1.7.5.0rc1?
In my case, I use PHP 7.2.13
Thanks!

[2018-12-11 11:49] khouloudbelguith commented on #11680
Related to #11553

[2018-12-11 12:05] MathiasReker commented on #11680
@khouloudbelguith Download php7cc.phar: https://github.com/sstalle/php7cc
Run: php php7cc.phar path/to/prestashop/ :)

[2018-12-11 12:05] MathiasReker commented on #11680
@khouloudbelguith I am on develop branch :)

[2018-12-11 12:29] MathiasReker commented on #11553
@jolelievre Maybe you would like this list https://github.com/PrestaShop/PrestaShop/issues/11680

[2018-12-11 12:40] TelInfo opened #11717 "demande de configuration du menu Horizontal"
Bonjour,
Je voudrais savoir comment configurer mon menu en Horizontal en ayant
1 Catégorie
     5 Sous-Catégories
          6 Sous-Familles

Comme sur le document joint le meme menu....
![p_20181211_121642](https://user-images.githubusercontent.com/45788818/49801364-444b6880-fd4a-11e8-8457-8bfcf29dbdcc.jpg)

[2018-12-11 12:41] Maofree commented on #11323
Hi @khouloudbelguith
I tried other tests
the problem is on prestashop or in the module
from the first login it is no more present the country selection like 3 weeks ago
with the previous email now has the same problem, I cannot get the authorization from paypal
202commerce said me the same thing to contact paypal, but it has no sense

the country selection is no more present, the problem is this
w

[2018-12-11 12:55] MarekKaliszuk opened #11719 "[1.7.3.3] CSV product import created new products instead overwriting existing ones"
Hello,
i have problem with import of CSV file with products - it is always creating new products instead existing ones.

Reproduce:
- export 5 products exisitng in database through catalog->products list -> export buttom. CSV file will be downloaded.
- open csv file in csv editor - i've used open office with utf8 support.
- i used only  product id, name, and netto price columns - also tested on fu

[2018-12-11 13:24] matteolavaggi opened #11721 "apache PHP-FPM Unable to open primary script BO /index.php/URL"
I've search many times but i've not found any information , so i think this is a problem in how PS BO handle url, and maybe there is someone that can fix this on PS:

[proxy_fcgi:error] [client 127.0.0.1:44230] store.sixrace.it AH01071: Got error 'Unable to open primary script: redirect:/index.php/catalog (No such file or directory)\n'

Problem is that /index.php/* was not right interpreted from p

[2018-12-11 13:28] khouloudbelguith commented on #11719
Hi @MarekKaliszuk,

Thanks for your report.
To update products via The Import page, you need to enable the option "Use product reference as key" & the option "Force all ID numbers".
Thanks to check & feedback.

[2018-12-11 13:42] khouloudbelguith commented on #11717
Hi @TelInfo,

You need to navigate to your BO => Modules => Modules & Services => Installed modules tab => search for the ps_mainmenu module & configure it.
![image](https://user-images.githubusercontent.com/16067358/49804501-fd15a580-fd52-11e8-9784-e6d964c9d38d.png)
Thanks to check & feedback.

[2018-12-11 13:46] khouloudbelguith commented on #11680
Hi @MathiasReker,

OK, thanks!
In the branch 1.7.5.x, we have this fix https://github.com/PrestaShop/PrestaShop/pull/11579 & the branch 1.7.5.x will be merged in develop: https://github.com/PrestaShop/PrestaShop/pull/11689
So I think the issue will be fixed.
what do you think?

[2018-12-11 13:47] MarekKaliszuk commented on #11719
Thank You!!!
Sometimes is better to write here on github.
 i've spent like 1,5h on solving issue :X

Have a nice day @khouloudbelguith

[2018-12-11 13:47] #11719 closed, assigned to nobody

[2018-12-11 13:51] khouloudbelguith commented on #11719
@MarekKaliszuk, you are welcome.
Feel free to open a new one when needed.
Thanks!

[2018-12-11 14:00] khouloudbelguith commented on #11323
Hi @maofree,

Thanks for your feedback.
In my case, it is Ok.
I attached a video record
https://drive.google.com/file/d/1rpQBQrzUbL8YL8IoQD7_sMkuJGEsXJNv/view
Thanks to check & feedback.

[2018-12-11 14:16] MathiasReker commented on #11680
I just ran the script on 1.7.5 branch:

[code]

[2018-12-11 14:27] marionf commented on #11632
The thing we can do is put the unit price more forward, what do you think ?

[2018-12-11 14:31] TelInfo commented on #11717
Je l'ai déjà effectuer en revanche mon menu se déroule en vertical et je le voudrais en Horizontal.
Allez jeter un Oeil vous comprendrez...
https://www.boutiquetelinfo85.com

[2018-12-11 14:49] idnovate opened #11722 "Discount is not computed correctly with free gift"
**Describe the bug**
When 2 cart rules with a free gift are applied, discount is not computed correctly in cart summary

**To Reproduce**
Steps to reproduce the behavior:

1. Create 1 cart rule with a free gift
1. Create a 2nd rule with the same configuration than before
1. Check cart summary

**Screenshots**
Cart rule example
![Cart rule example](http://imagizer.imageshack.com/img922/3585/6F2fbI.

[2018-12-11 14:50] centoasa commented on #11632
that's OK @marionf

[2018-12-11 14:51] khouloudbelguith commented on #11717
@TelInfo, your vertical menu module is developed by your theme author, it is not provided by PrestaShop.
I should be called a vertical menu.
Thanks!

[2018-12-11 14:55] khouloudbelguith commented on #11721
HI @matteolavaggi,

Thanks for your report.
In your server configuration, it could be that PHP-environment has a "changed root".
Could you please check on your server if the fastcgi parameter SCRIPT_FILENAME with a leading $document_root.
If yes, thanks to check your with this fix
`fastcgi_param SCRIPT_FILENAME $fastcgi_script_name;`

[2018-12-11 14:56] marionf commented on #11632
@TristanLDD Can you suggest something to put the unit price more forward ?

[2018-12-11 15:14] khouloudbelguith commented on #11680
@MathiasReker, thanks for your feedback.
I attached a video record.
https://drive.google.com/file/d/1mq2gTeq8wPUHMxVgjzgyAgqxZttvgJoP/view
Thanks to check & feedback.

[2018-12-11 15:20] khouloudbelguith commented on #11722
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0rc1.
In the shopping cart page => NOK
![image](https://user-images.githubusercontent.com/16067358/49809815-27ba2b00-fd60-11e8-9a48-c709e75195d7.png)
In the order confirmation
![image](https://user-images.githubusercontent.com/16067358/49809863-47515380-fd60-11e8-9ddf-c632aa3a4807.png)
In the order detail BO => NOK

[2018-12-11 15:28] mael-c commented on #11686
Hi @khouloudbelguith I checked my php and apache logs.
They have no errors for my problem. I have an error only on my console browser.
![selection_046](https://user-images.githubusercontent.com/25532080/49810075-ad3ddb00-fd60-11e8-8dd6-5f43e8182990.png)

[2018-12-11 15:54] khouloudbelguith commented on #11686
Hi @mael-c,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-12-11 15:54] #11686 closed, assigned to nobody

[2018-12-11 16:15] khouloudbelguith commented on #10920
Hi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-11 16:15] #10920 closed, assigned to nobody

[2018-12-11 16:17] khouloudbelguith commented on #11252
Hi @polaije,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-11 16:17] #11252 closed, assigned to nobody

[2018-12-11 16:26] TristanLDD commented on #11632
@marionf  What we could do is use the same CSS class both for the price and the unit price, so the unit price will be more visible. We just need to check if that change has unexpected impacts or not.

[2018-12-11 16:48] psydomin commented on #9727
Are there any plans to when this bug will be fixed? It is quite annoying when you have to update stock from large wholesale orders having to search every product by name...

[2018-12-11 16:52] mpetricek commented on #11616
@matesbu since I have the exact same problem with the same hosting provider (WEDOS I guess). Can you tell me if it's solved with version 1.7.4.4?

Thank you

[2018-12-11 17:00] agnesdennetiere opened #11724 "ccc_up hidden field remove in js in admin performance"
Hello,

I was trying to save my configuration in advanced parameters > performance (for example: Smart cache for CSS)
but when I submitted the form, nothing was saved.
So I looked into the code and realized that these fields are saved only when the ccc_up field is present.
It is in the source code however, it is removed in javascript, and I have no idea why.
Could you tell me what causes this?

Th

[2018-12-11 17:25] Maofree commented on #11323
Hi
problem solved, it was due from my browser
using the private navigation in google chrome I can get the country selection and I can join paypal to the module
it can be useful with others

thanks

[2018-12-11 18:13] augustu5 commented on #11172
In my case there is no cart value restriction (it is set to 0). Only restriction is date and manufacturer.

[2018-12-11 18:58] matesbu commented on #11616
My provider is Forpsi, but it is probably same with every webhosting provider, cause this cheap webhostings are usually shared with other hosted sites. And because of security reasons, they can't turn on putenv function. So I probably gonna have to pay for some cloud VPS, where you can set your server settings as you want to.
As I understand it, it will not be solved in any new version, cause they

[2018-12-11 20:07] jolelievre commented on #9891
This PR #11726 fixes the issue, sorry @MathiasReker I only saw you previous PR after I finished working on it. But I wouldn't have understood the whole context if I didn't.

Actually your fix was correct, but @marionf you couldn't save the address because you change the general required fields which are used for ALL countries.
The correct way to use this feature is to go in International > Locatio

[2018-12-11 21:16] bijouxmexicains opened #11727 "Impossible to loggin or retrieve password"
Last week I have changed my domain names from latapatia.fr to bijouxmexicains.fr ; I have moved my datas from my previous domain name to the new one and the same for my database.
Thus i was accessing my back office using my previous domain login (alejandra@latapatia.fr). It worked fine for a couple of days. I changed it during my last session for thomas@bijouxmexicains.fr
This week end I tried to

[2018-12-11 21:22] luisjsolsona commented on #11727
Hi,

This is not an official solution...but it works....  open your MySQL

Go to ps_employee

UPDATE `ps_employee` SET `passwd`= md5(‘<cookie_key><yourpass>’) where `email`='youremail@domain.com'

<cookie_key> you can find it in parameters.php (…/app/config/)

Regards

[2018-12-11 22:53] MathiasReker commented on #9891
@jolelievre Don't worry! Your work is much better :) Also I did not do that much, and I did it more as a 'quick fix' for those who had the issue :)

[2018-12-11 23:19] psydomin opened #11728 "No "Most Searched" on dashproducts in the dashboard"
**Describe the bug**
On the BO I get no results on the tab for "Most Searched" on the dashproducts panel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO dashboard
2. Click on "Most Searched" on the dashproducts panel
3. The table is empty

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.

[2018-12-12 07:32] bijouxmexicains commented on #11727
Hi mistik
Can't find ps_employee in my MySQL, might it have another name ?
Tx

[2018-12-12 07:51] bijouxmexicains commented on #11727
ok did that changes
but still
i can't access my backoffice using this email and password. It keep saying account not existing or wrong password.
and then if i do reset password, i put the same mail adress in the reset password form -> never receiving the reset mail !

[2018-12-12 08:00] khouloudbelguith commented on #11727
Hi @bijouxmexicains,

Here's the solution to rest the password in your PrestaShop project manually.
So before doing any changes to your live database, I would highly recommend making a backup, or maybe even two!

First, you need to find out your COOKIE KEY which is in a new position since PrestaShop 1.7. Use your file manager to navigate to the app/config folder. Open the file parameters.php and f

[2018-12-12 08:25] khouloudbelguith commented on #11728
Hi @psydomin,

I did not manage to reproduce the issue with PS1.7.5.0rc1 & PS1.7.4.0.
Could you please try to uninstall the dashproducts module, remove the folder dashproducts into the path Project_Folder/modules/dashproducts, clear cache, and try to install it again.
![image](https://user-images.githubusercontent.com/16067358/49856355-df4a4e00-fdef-11e8-9fe8-0e20555e5133.png)
Thanks to check & fe

[2018-12-12 08:33] bijouxmexicains commented on #11727
Hi Khouloud

I indeed followed this operation.

but still the access to my back office is not working using the mail loggin
and password I wrote in my database in the employee table.
Something is strange also : when I'm asking for password reset through your
website from , I'm never receiving the mail

How can I check this please ?

thx

Le mer. 12 déc. 2018 à 09:01, khouloudbelguith <notification

[2018-12-12 08:34] khouloudbelguith commented on #11616
Hi @matesbu,

Yes, PrestaShop 1.7 was moved To Symfony 3.4 And PHP 5.6.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks!

[2018-12-12 08:38] khouloudbelguith commented on #11323
@maofree, since it is fixed, can I close the issue?
Thanks!

[2018-12-12 08:45] Maofree commented on #11323
yes
thanks

[2018-12-12 08:55] khouloudbelguith commented on #11323
@maofree, feel free to open a new issue when needed.
Have a great day!

[2018-12-12 08:55] #11323 closed, assigned to nobody

[2018-12-12 08:58] marionf commented on #11722
Related to #9757

[2018-12-12 09:01] khouloudbelguith commented on #11727
@bijouxmexicains, you are not receiving an email, it could be a configuration problem.
As described in our documentation, http://doc.prestashop.com/display/PS17/Email you can follow the steps to configure your shop.
In the PREFIX_employee table, you can check your mail login, the password, you can reset it as I described above.
Thanks!

[2018-12-12 09:04] khouloudbelguith commented on #9727
Hi @psydomin,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-12-12 09:12] khouloudbelguith commented on #11724
Hi @agnesdennetiere,

Thanks for your report.
So, in your BO => Advanced Parameters => Performance, you enable all the CCC (COMBINE, COMPRESS AND CACHE) & you clicked on save, but this configuration is not saved?
![image](https://user-images.githubusercontent.com/16067358/49858895-70bcbe80-fdf6-11e8-93f2-8801c15a43c1.png)
Thanks!

[2018-12-12 09:22] agnesdennetiere commented on #11724
Hello,

yes exactly, and it is not saved because the input hidden "ccc_up" is removed in javascript (I don't know where in the code it is done but I know it is removed in js since when i deactivate js on my browser, it is not removed)

and in AdminPerformanceController, there is this code line 749
`if ((bool)Tools::getValue('ccc_up')) {`

[2018-12-12 09:28] khouloudbelguith commented on #11724
@agnesdennetiere, in my case, I did not manage to reproduce the issue with PS1.6.1.21.
I attached a video record
https://drive.google.com/file/d/1YIgoYPlCdToElh-73Q3zmAJ_X4joeU2E/view
@agnesdennetiere, did you make any changes in the core of PrestaShop?

[2018-12-12 09:35] khouloudbelguith commented on #11172
@krystian-3c, in my case, I did not manage to reproduce your issue.

What to Check If PrestaShop Carriers Are Not Available At Checkout?

1.  Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
2. Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a created carrier does not show for a specific shopper. When configurin

[2018-12-12 09:58] matteolavaggi commented on #11721
Update: i'm unable to make it working under apache php-fpm.

So after many workaround i've decide to apply a mixed configuration:

FO > NGINX PROXY > APACHE > PHP-FPM
BO > NGINX > PHP-FPM

on BO there is no rewrite url requirements so we can use NGINX without problme, hoping in the next release will be finally a support for NGINX out of the box.

There is any right section to share the NGINX + CAC

[2018-12-12 10:00] matteolavaggi commented on #11617
i'll delete it in DB

[2018-12-12 10:04] MatShir opened #11742 "Switch for price display when the catalog mode is on"
**User Story**
As a merchant,  I want to choose if the prices are hidden or not when I enable the catalog mode.

**Description**
When I enable the catalog mode, it will display a switch to choose to show prices or not. By default, the prices are hidden so when the catalog mod is on the switch should be on "NO".

**Additional context**
![mod catalogue](https://user-images.githubusercontent.com/4361

[2018-12-12 10:09] MatShir commented on #11742
@LouiseBonnard
Do you think we should find another name for Catalog Mode?

[2018-12-12 10:13] PierreRambaud commented on #11721
Hi @matteolavaggi ,
For your information, we can't provide a Nginx support out of the box, because Nginx does not support .htaccess or anything similar. This is why we provide an example of configuration here:
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf :)

Having an Nginx proxy to serve and apache + fpm is maybe not a good ide

[2018-12-12 10:21] web-fu opened #11743 "Wrong Recovery Password Error Messages"
**The bug**
If the user enter a non valid password, the error messages displayed are not corrects

**To Reproduce**
Steps to reproduce the behavior:
1. Log out
2. Use 'Password Recovery' for your customer account
3. Go to password recovery link
4. Insert an INVALID password and an EQUAL confirmation (eg: pass: 1234 confirmation: 1234)
5. The error returned is : "The password and its confirmation d

[2018-12-12 10:32] khouloudbelguith commented on #11617
@matteolavaggi, ok.
But, you need to make a backup to be safe.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-12-12 10:32] #11617 closed, assigned to nobody

[2018-12-12 10:37] luisjsolsona commented on #11743
Have you migrate from a Prestashop 1.6 ¿?

[2018-12-12 10:38] manburg6 commented on #11115
Sorry for late answer, I miss the notification email.

I have 3 payement method installe and activated: Bank Wire transfer, Paypal and COD.

Both the 2 two duplicated order are made using Bank Wire Transfer.

I do not use any social login connect.
I use Leotheme theme.
I try to find php error log, where I can find it?

Thanks,
Mario

[2018-12-12 10:41] web-fu commented on #11743
New installation.
Just check /controllers/front/PasswordController.php, lines 123 - 140:
`  if (!(Tools::isSubmit('passwd'))
                || !(Tools::isSubmit('confirmation'))
                || ($passwd = Tools::getValue('passwd')) !== ($confirmation = Tools::getValue('confirmation'))
                || !Validate::isPasswd($passwd) || !Validate::isPasswd($confirmation)) {
                // Ch

[2018-12-12 10:42] khouloudbelguith commented on #11743
Hi @web-fu,

I did not manage to reproduce the issue with PS1.7.5.0rc1.
![image](https://user-images.githubusercontent.com/16067358/49864511-eb8bd680-fe02-11e8-9b50-4f1099196da2.png)
Thanks to check & feedback.

[2018-12-12 10:47] web-fu commented on #11743
Not in admin panel.
It's a problem only for customer.
If you look at the file /controllers/front/PasswordController.php, there is not an error message for invalid password format

[2018-12-12 10:49] khouloudbelguith commented on #11743
@web-fu,

Yes you are right
![image](https://user-images.githubusercontent.com/16067358/49864941-ea0ede00-fe03-11e8-90a2-f91dd2aab0e1.png)
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-12-12 10:51] manburg6 commented on #11115
You can find log here, the order was made the 8 decembrer 2018 al 9:37 am

[error_log.zip](https://github.com/PrestaShop/PrestaShop/files/2671585/error_log.zip)

Hope this helps.

[2018-12-12 10:53] sirion89 commented on #11115
I keep having this bug aswell, from time to time someone on my customer's website manage to do that. Another thing i noticed is that if you enter the order details you will see something like:
"customer paid xx , should have paid yy". Where yy is the SUM of the two order with the same reference total, and xx is fixed to one of the two order total. I don't even know if the customer actually paid th

[2018-12-12 11:19] khouloudbelguith commented on #11115
Hi @manburg6,

In your log file you a lot of errors with the "leofeatureviewstemplatesf" module, what is this exact module, it could be related to the problem?
Also, you have an issue with the "autoupgrade" module, did you make an upgrade?
@sirion89, we are trying to find the exact problem of this issue, if you any error log, thanks to provide us this errors.
Thanks!

[2018-12-12 11:21] FlorentinGarnier opened #11746 "Customer should know free shipping in cart when they used a coupon"
**Describe the bug**
When customer have a coupon with reduction and free shipping, the free shipping is not display in Cart but a calcul that remove the shipping price. Customer think that the freeshiping is not take in account and scream to scam...

**To Reproduce**
Steps to reproduce the behavior:
1 - Create a reduce coupon with free shipping and tarif reduction.
2 - Enter Coupon Code
3 - Reduct