[2020-04-20 08:40] marionf commented on #18596
@Tonio1987 It's fixed after clicking on rebuild prices index ?

[2020-04-20 08:48] khouloudbelguith commented on #18676
Duplicate of #17809

[2020-04-20 08:57] szabeszg commented on #18674
I was having similar issues in PrestaShop 1.7.6.4. Looks like the proposed pull request does solve my issues as well.

[2020-04-20 08:59] roadster31 commented on #10003
Critical problem for us :
![image](https://user-images.githubusercontent.com/2197734/79733785-ee031800-82f5-11ea-92af-3cd17c69d896.png)

Yes, nearly 70Gb !

[2020-04-20 09:03] burakgit opened #18710 "1.7.6.4 Order Status Blank White Page"
#### Describe the bug

White pages suddenly, it was working well before at localhost..
- When i try to change order status, white blank page, if i refresh it, it says already assigned this statue. No problem about saving.. just cant see the succesfull refresh.
- Also Under Orders, if i try to sort by order status, it gives blank white page
- Also when i create new status, it also gives blank page

[2020-04-20 09:11] khouloudbelguith commented on #9866
Hi @marionf,

Yes, the same issue with branch 1.7.7.
![image](https://user-images.githubusercontent.com/16067358/79734819-a087aa80-82f7-11ea-8f8f-396b6cd0aa9e.png)

Thanks!

[2020-04-20 09:35] Hlavtox commented on #18674
@szabeszg That's probably a different issue. This bug happens only in faceted search. Everywhere else, it's not random.

Your search sort problem could be this - https://github.com/PrestaShop/PrestaShop/issues/17212

[2020-04-20 09:35] eternoendless commented on #18645
1.7.6.5 [has been released](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.6.5)! 🎉

[2020-04-20 09:41] szabeszg commented on #18674
Thanks @Hlavtox! I will read that thread properly and perforn more tests.

[2020-04-20 09:44] matthieu-rolland opened #18711 "Exception on all FO pages when adding a language and a category in menu"
We have a bug appearing when a new category is added to the menu in fo, and a new language is added in BO.

## How to reproduce:
1- Go to BO add a language
2- Add a category in BO
3- In the menu module, add the new category to the menu
4- go to FO, change language

see error:
<img width="1082" alt="Capture d’écran 2020-04-20 à 11 39 28" src="https://user-images.githubusercontent.com/1784781/7973

[2020-04-20 09:47] Lathanao commented on #18705
In my memory, it's possible to use MySQL 8 without any problem.
If you can connect in CLI, you should to be able to set the Prestashop connexion.

[2020-04-20 09:53] ttoine commented on #18645
🎉

[image: PrestaShop]
<https://www.prestashop.com/?utm_source=signature&utm_medium=e-mail&utm_campaign=emails-signatures>

Antoine Thomas aka ttoine

Open Source Evangelist

t: +33 (0)6 63 13 79 06

antoine.thomas@prestashop.com

On Mon, 20 Apr 2020 at 11:36, Pablo Borowicz <notifications@github.com>
wrote:

[2020-04-20 10:02] vadrien1999 commented on #18692
Hello, I looked at the previous tutorial page regarding google search console errors. But despite having modified the files, product.tpl, product-price.tpl, product-details.tpl, productlist.tpl, etc ...
I still have a problem with "brand", "name" and "extract of opinion" I am on prestashop 1.7.6.4

[2020-04-20 10:02] khouloudbelguith opened #18712 "Invoice - the Discounts block is missing in the first invoice created"
#### Describe the bug

When this PR: https://github.com/PrestaShop/PrestaShop/pull/18544 is merged in the branch 1.7.7.x
We will have a different issue comparing 1.7.6 and 1.7.7.x, in fact when we add a new product to an old order with creating a new invoice and selecting free shipping, the Discounts block is missing in the first invoice created

#### Expected behavior

The Discounts block should

[2020-04-20 10:05] khouloudbelguith commented on #18712
To be reproduced when https://github.com/PrestaShop/PrestaShop/pull/18544 is merged.
Ping @PrestaShop/prestashop-product-team this issue should be added to the Project 1.7.7 as it is regression, is it?

Thanks!

[2020-04-20 10:11] Webgaict opened #18713 "How can I change the order back end page on prestashop 1.7.5.1?"
Hi, I would like to add a custom botttone on the order page. How can I do it?
Thanks for help

[2020-04-20 10:12] LouiseBonnard commented on #18223
Hi @maofree, thanks for your contribution! 5,000 characters is a lot for a predefined message... in my opinion, we should keep it short, the goal is to have the same basic information and to customize it, if need be, in the order page.

Currently, the number of characters allowed is **1,200 for a predefined message** and **1,600 for a message on the order page**. Is it okay for you, @MatShir? Any

[2020-04-20 10:34] astroloocas commented on #18706
I solve this. I I had the PHP 7.4 interpreter set. I changed it to 7.2 and everything works fine. So Prestashop is not prepared for the latest PHP interpreter.

[2020-04-20 10:34] #18706 closed, assigned to nobody

[2020-04-20 10:42] maofree commented on #18223
hi
sorry but those limits can be right for you and not for other shopkeepers
the best solution is to add a field to set the limit like for the short description
prestashop should considerate all type od configurations without to set too much limits

bye

[2020-04-20 10:44] khouloudbelguith commented on #18083
Ping @PrestaShop/prestashop-core-developers

[2020-04-20 11:12] IranDec opened #18714 "error 500 when u wanna search between customers"
Hi
In customer page when I wanna search between customer I get error 500 with that account that I am using and I understood this problem its happen when I am using Persian lang.
the source of this problem back to the Persian numeral that your team added in the panel because when u wanna set a date limitation u will got error too.
pls delete this Persian numeral from your system or fix it this prob

[2020-04-20 11:18] Lassa1 commented on #9866
The problem seems not to come from presahop, but from an installed module. for my case it's a payment module
this link explains well why
https://eligeunaweb.es/como-arreglar-el-error-frontcontrollerinit-cart-cannot-be-loaded-or-an-order-has-already-been-placed-using-this-cart/

[2020-04-20 11:19] khouloudbelguith opened #18715 "Install page - The definition of installing PrestaShop is always displayed in English"
#### Describe the bug

In the install page, the first step "Choose your language", the definition of installing PrestaShop is always displayed in English.
![image](https://user-images.githubusercontent.com/16067358/79745525-c8333e80-8308-11ea-9116-9ba27286ad29.png)

It is ok in the 1.7.7.x branch
#### Expected behavior

It should be displayed in the language selected

#### Steps to Reproduce

Step

[2020-04-20 11:20] khouloudbelguith commented on #18715
Ping @LouiseBonnard

[2020-04-20 11:28] msornin commented on #18709
Someone to help me? Please

[2020-04-20 11:28] LouiseBonnard commented on #18715
Hi @khouloudbelguith, in the 1.7.7 catalog on Crowdin I have [this string](https://crowdin.com/translate/prestashop-official/35718/en-ar#5824362) where the source text mentions 250,000 and the translation, to stay up-to-date, 300,000. But I don't know why it is not translated on the develop branch. :-(

[2020-04-20 11:30] Katakurinna commented on #18705
Its fail. I think its because mysql 8 change password system.

[2020-04-20 12:00] matks commented on #18705
Dont know if it helps / if it's related but I remember struggling as weel with mysql8 on MacOS
Issue was this one https://medium.com/@crmcmullen/how-to-run-mysql-8-0-with-native-password-authentication-502de5bac661

Decided to go back to mysql5 😅

[2020-04-20 12:03] Katakurinna commented on #18705
Yea, I think if you change to native version, its work. But I prefer use mysql 5.7.

[2020-04-20 12:35] Tehnikus commented on #14714
Any update? @khouloudbelguith don't you see the issue?

[2020-04-20 12:38] Tehnikus commented on #14714
Here is the fix:
https://www.prestashop.com/forums/topic/1014549-limit-length-description-in-the-list-of-categories-in-back-office/

Change in
src\Core\Grid\Data\Factory\CategoryDataFactory.php

line
$records[$key]['description'] = strip_tags(stripslashes($record['description']));
to
$records[$key]['description'] = substr(strip_tags(stripslashes($record['description'])), 0, 200);
where 200 - is th

[2020-04-20 12:53] vadrien1999 commented on #12687
Hello, I looked at the previous tutorial page regarding google search console errors. But despite having modified the files, product.tpl, product-price.tpl, product-details.tpl, productlist.tpl, etc ...
I still have a problem with "brand", "name" and "extract of opinion" I am on prestashop 1.7.6.4

[2020-04-20 12:58] ianronald commented on #18382
@khouloudbelguith

Hi again,

I asked a technical colleague to look at the php log and they tell me there was nothing on it to help in understanding the problem.

We have now enabled debug mode as our trading has become more normal (covid-19 made us very very busy) and have the following errors:

[2] count(): Parameter must be an array or an object that implements Countable

[8] iconv(): Detected

[2020-04-20 13:01] colinegin commented on #17045
This issue is a duplicate of #18513, i close it but it should be fixed for 1.7.7

[2020-04-20 13:01] #17045 closed, assigned to atomiix, colinegin

[2020-04-20 13:02] colinegin opened #18717 "Make computing precision matching currency's display precision"
This issue aims at rollbacking the previous computing precision to match the display precision.

[2020-04-20 13:05] colinegin commented on #18513
I just removed the issue from 1.7.7 kanban because both issues related to PR detailed earlier are already in the kanban. We will test that this issue is fixed after merging both PRs.

ping @sarahdib @matthieu-rolland FYI

[2020-04-20 13:09] matthieu-rolland commented on #18674
Hi @Hlavtox ,

I reproduced your issue on 1.7.6.x, I could not reproduce in 1.7.7.x

## How to reproduce on 1.7.6.x:

1- Create a category
2- Create 15 products belonging to this category (enough for having two pages in FO), give one of this product a quantity of 1, let the quantity field empty for the others
3- Go to module management, the menu module, and add your new category to the menu
4- In

[2020-04-20 13:12] matthieu-rolland commented on #18692
@alfonsolr09 hello, is this an SEO issue ?

[2020-04-20 13:13] matks commented on #18083
Will be solved with all compatibility issues in PS 1.7.8 when we enable php7.4 😄
https://github.com/PrestaShop/PrestaShop/issues/16477

[2020-04-20 13:16] matthieu-rolland commented on #18698
@rdy4ever don't hesitate to come back when you have more infos about your issue, and a detailed  explanation of how to reproduce your issue 👍

[2020-04-20 13:20] matks commented on #10549
Thanks !

[2020-04-20 13:22] PierreRambaud commented on #18083
Duplicates of #16477

[2020-04-20 13:22] #18083 closed, assigned to nobody

[2020-04-20 13:38] matthieu-rolland commented on #18699
Hello @Frankie-IT,

I didn't manage to reproduce your issue on 1.7.6.x, could you check if you have an error displayed in the console when you click on continue ?

[2020-04-20 13:44] SD1982 opened #18719 "BO - Invoices - Base price of a second invoice is identical than the first invoice"
#### Describe the bug

If in BO in an order we add a new product with a new invoice the base price of the second invoice is the base price of the first invoice

#### Expected behavior

The base price of the second invoice should be based on products contained in the second invoice

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and make an order
2. Go to BO => orders => ord

[2020-04-20 13:45] matthieu-rolland commented on #18700
Hi @IranDec , could you please provide us with more info? We need more details to understand how we can reproduce your issue:

what are the exact steps we should execute in order to reproduce your issue?

thank you !

[2020-04-20 13:45] matks commented on #13360
I recently researched this recently, if you are looking for performance boost the true game changer is gzip compression for web server output. From multiple sources, HTML minification benefit is very minor compared to gzip compression.
One of the source I read was saying "If you are using gzip compression, then your benchmark will see no difference between raw HTML and HTML minified"

[2020-04-20 13:53] SD1982 opened #18721 "BO - ORDER - INVOICE - Impossible to reassign a product to another invoice"
#### Describe the bug

In BO order if we have multiple invoice in an order when trying to reassign a product to another invoice the save button have no effect.

#### Expected behavior
The invoice reassignment should work

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => order => order => select an order
2. Add a product with a new generated invoice to the order
3. Try to e

[2020-04-20 13:58] matthieu-rolland commented on #18701
Ping @colinegin @MatShir

do you have any idea if this is actually an issue?

[2020-04-20 14:03] matthieu-rolland commented on #18702
ping @LouiseBonnard  do you think there is actually a problem with the wording here?

@Nietnagel: you don't manage to change the wording? Could you please tell us exactly how you try to modify the wording, with a precise list of steps to execute?

## Steps to reproduce:
1/ ....
2/ ...
Etc...

[2020-04-20 14:06] matks commented on #12186
It seems there is a misunderstanding.

In the PrestaShop Back Office, there is a tool that you can use to manage the translations. If theme uses translatable items, this tool will allow you to translate them. What is wrong about telling you "there is a tool which purpose is to solve your issue in your BO" ?

We only say this when there is an issue in the theme. If the theme uses translatable items

[2020-04-20 14:08] matthieu-rolland commented on #18703
@PrestaShop/prestashop-core-developers  Wdyt? this issue needs to be checked by a core developer.

[2020-04-20 14:11] matthieu-rolland commented on #18705
@Katakurinna This issue doesn't seem to be related to prestashop, if you can't connect to your mysql even in CLI then prestashop won't be able to do so either... ;)

Therefore I close this issue.

[2020-04-20 14:11] #18705 closed, assigned to nobody

[2020-04-20 14:28] Prestaworks commented on #13360
I think google removed / deprecated the requirement to have minified html in the pagespeed test on their last update. They still seem to prefer that css and js is minified.

old info
https://developers.google.com/speed/docs/insights/MinifyResources

new info
https://web.dev/unminified-javascript/?utm_source=lighthouse&utm_medium=unknown
https://web.dev/reduce-network-payloads-using-text-compressio

[2020-04-20 14:31] FeyaParis commented on #13360
Ok thanks

[2020-04-20 14:36] khouloudbelguith commented on #18715
Hi @LouiseBonnard,

I all languages, this description is displayed in English.

Thanks!

[2020-04-20 14:37] alfonsolr09 commented on #18692
I don't know... I think yes

[2020-04-20 14:45] matthieu-rolland commented on #18707
@joaolago1113

Tt seems very strange that the bug occurs when the language id is above the country's number of characters 🤯   But... I reproduced it in 1.7.7.x and 1.7.6.x

[2020-04-20 14:46] msornin commented on #18709
I have no response. No doubt I expressed myself badly?

[2020-04-20 14:49] khouloudbelguith commented on #18693
Hi @msornin,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17633 to fix the issue.
Your ticket is a duplicate of #16665
So, I close it.
Thanks!

[2020-04-20 14:49] #18693 closed, assigned to nobody

[2020-04-20 14:50] khouloudbelguith commented on #18693
Duplicate of #16665

[2020-04-20 14:50] khouloudbelguith commented on #18709
Hi @msornin,

Here's the PR: #17633 to fix the issue.
Your ticket is a duplicate of #16665
So, I close it.
Thanks!

[2020-04-20 14:50] #18709 closed, assigned to nobody

[2020-04-20 14:50] khouloudbelguith commented on #18709
Duplicate of #16665

[2020-04-20 14:53] IranDec commented on #18700
HI @matthieu-rolland
really I don't know how this action happens, I just know I have a lot of order with out of stock statues
although I set order statues in Deny orders.
I guess this action happens when some customers are buying the same items at the same time or maybe they are doing check out steps at the same time.
they order sign completely and after few seconds automatically statues change to

[2020-04-20 15:14] GTriber opened #18722 "Faceted search navigation"
It isnt a bug but rather questions.
On PC its working fine but on mobile when i check the filters instead button "search" i have "yes". Thats misleading. Not sure if its due to translation ( using polish ). If yes i cant fie a want to change it.
Second:
I know i cant place Faceted search navigation on front page only on catalog. But on left side panel i have "featured sale product list" ( see scre

[2020-04-20 15:30] matthieu-rolland commented on #18692
ping @colinegin @MatShir  should we do something about this issue?

[2020-04-20 15:32] matthieu-rolland commented on #18675
@Sascha211
so this issue is not related to a bug in prestashop?

[2020-04-20 15:35] Frankie-IT commented on #18699
Hi @matthieu-rolland ,

You mean console errors in the browser?
See this video : https://youtu.be/JbJgSkIALD8

[2020-04-20 15:45] matthieu-rolland commented on #18708
Thank you @Gipielle , I reproduced the issue on 1.7.6.x and 1.7.7.x

[2020-04-20 15:46] schenkelchen opened #18723 "install/upgrade/upgrade.php running into error on manual 1.7.6.5 installation"
#### Describe the bug

I try to update my version 1.7.6.1 to 1.7.6.5 by following the manual way. (https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/)
After finishing all file operations the very last step is to run upgrade.php. But this attempt fails when trying to run the file via ssh access as well as via my browser.

#### Expected behavior

There should appear a confirmation

[2020-04-20 15:51] matthieu-rolland commented on #18710
Hello @burakgit , I didn't manage to reproduce your white page issue...

Could you please give a us more precise description of what should be done in order to reproduce this bug? And how did you change the status, from what status to what other one?

Thank you !

[2020-04-20 15:52] PierreRambaud commented on #18645
Docker tag for 1.7.6.5 is available https://hub.docker.com/layers/prestashop/prestashop/1.7.6.5/images/sha256-9e7163fe086655ce0fbc2614532597903cc6ac3f4edc279607034f813f545b19?context=repo
List of updated tags: https://hub.docker.com/repository/docker/prestashop/prestashop/tags?page=1

[2020-04-20 15:57] matthieu-rolland commented on #18714
@IranDec hello, on what page exactly do you get the 500 error, customer listing? Customer detail?

ping @LouiseBonnard do you know what he is talking about?

[2020-04-20 16:08] RodrigoHornos opened #18724 "Main page view ordered by alphabetical order and not following PriceDrop order"
#### Describe the bug

When using the module in the main page, the products are shown by alphabetical order, which is not useful. Also changing the order in the controller does not affect this view.

#### Expected behavior

It is expected to have the same order view than the PriceDrop controller.

#### Steps to Reproduce

Steps to reproduce the behavior:

Setting
0. change /controllers/front/listi

[2020-04-20 16:11] LouiseBonnard commented on #18714
@matthieu-rolland, I think you're supposed to try to reproduce the issue to qualify the bug. ;-)

[2020-04-20 16:12] IranDec commented on #18714
Hi
check this image
https://ibb.co/Lvq1ZcP

[2020-04-20 16:13] peter9x opened #18725 "Address still get duplicated"
After update to 1.7.6.5, still get the error when editing an address in the checkout as Guest, a new address was created instead of replacing it.

<img width="776" alt="Captura de ecrã 2020-04-20, às 17 11 25" src="https://user-images.githubusercontent.com/63051215/79774098-40f6c280-832a-11ea-8995-5c938134103e.png">

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.2.2

[2020-04-20 16:16] eternoendless commented on #18645
Release complete

[2020-04-20 16:16] #18645 closed, assigned to sowbiba

[2020-04-20 16:35] FeyaParis commented on #16812
Hello,
I have the same error on all admin page :
PHP Notice: Undefined index: _route in /../src/PrestaShopBundle/Controller/Admin/CommonController.php on line 121

Prestashop : 1.7.6.5 but it was also appearing on 1.7.6.4
Php : 7.2.28

[2020-04-20 16:50] ptidav opened #18726 "facet filter can not be reseted"
#### Describe the bug

Hello, i created a filter with the faceted search function.
I have a problem, it is impossible to remove the filters in the "active filters" section or using the "clean all" button in the faceted search component when i navigate to another page or if i open a product sheet and i go back.

Issue is the same with the classic theme.

#### Expected behavior

I should be able to

[2020-04-20 17:42] Gipielle opened #18727 "Problem with url rewrite PS 1.7.6.3 Reset URL"
Hello,

this problem is still present from old version of prestashop

url rewrite Reset url button generate urls without removing characters not allowed
here an example, i got the title from google translate:

Carrinho de ferramentas com 3 módulos empilháveis ​​- Beta C43

![index2](https://user-images.githubusercontent.com/53569015/79782091-ca17f480-833e-11ea-91c6-a5fe82dadb0c.jpg)
![index](https

[2020-04-20 17:50] Sascha211 commented on #18675
@matthieu-rolland
This issue is related to prestashop, because the cache aging does not work properly when using Memcached. The only thing you can do outside PS is flushing the entire Memcached server, which is not really convenient.

I'm able to reproduce the issue as follows:
Memcached activated: FO shows quantities and prices that are several days old
Memcached deactivated: FO values are correc

[2020-04-20 18:47] burakgit commented on #18710
Hello @matthieu-rolland

- Created an user account and , create an order by using bank wire module, everything was ok.
- This is normal ordering scenario, from admin panel i try to change "preparing" status but it gives blank page, mail received by client. Refreshed page, everything is normal. But everytime, every status gives white page.

Also

- under orders tab, if you use pagination, for examp

[2020-04-20 19:47] FeyaParis commented on #16812
Found the problem
If anyone else has this problem it's caused by :
Login As Customer v0.7.2 - par PrestaShopModul

[2020-04-20 21:01] tblack-it commented on #18725
In ps 1.7.6.3 the checkout edit address form looks like this
<img width="563" alt="Captura de ecrã 2020-04-20, às 21 57 44" src="https://user-images.githubusercontent.com/63051215/79799252-14ef3780-8352-11ea-867a-54f3d39ec022.png">

In ps 1.7.6.5 is missing the id_address and id_customer...
<img width="551" alt="Captura de ecrã 2020-04-20, às 21 57 55" src="https://user-images.githubuserconten

[2020-04-20 21:06] burakgit commented on #18710
i investigate by using wrong statment to understand which line is stucking.

under controller/admin/adminorderscontroller.php

line 562

Tools::redirectAdmin(self::$currentIndex . '&id_order=' . (int) $order->id . '&vieworder&token=' . $this->token);

this redirection is not working. Why ? i dont know. it stucks in there.

[2020-04-20 21:19] tblack-it commented on #18725
I try this and work perfect!

<img width="990" alt="Captura de ecrã 2020-04-20, às 22 17 33" src="https://user-images.githubusercontent.com/63051215/79800805-d313c080-8354-11ea-8442-2fb7bc1ef3d4.png">

[2020-04-20 21:23] Matt75 opened #18728 "Module statspersonalinfos display wrong data"
#### Describe the bug

In module statspersonalinfos on Stats page :
Age range display wrong data
Currency range don't display label associated to data

#### Expected behavior

Age range should display Customer with no birthday with label Unknown instead of 60+
Currency range should display label associated to data

#### Steps to Reproduce

Steps to reproduce the behavior:

Create Customer with thi

[2020-04-20 21:35] crabbi33 opened #18729 "Blank page in Back office"
Hello

I have a problem

When i want to acces to module management panel in BO got a white page, same problem when i want to access to paiment options

I set debug mode on ..... and nothing white page no problem report....
I try to disable all my module in DB but nothing more

If someone got an idea

PS 1.7.6.5
local wamp
php 7.1 (same problem with 7.2)

PS: sorry for my bad english

[2020-04-20 21:38] valros76 opened #18730 "Bug - Admin interface prestashop 1.7.6 - Styles are broken ?"
#### Describe the bug

Hi, my admin interface had a problem. Since 2 days, all styles are broken and I can't make any modifications

#### Expected behavior

I don't modify this website since 6 days. Just have any commands.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'admin'
2. Click on 'products', 'modify product', 'performances'
3. On products page, I have all tabs one on

[2020-04-20 22:03] vitciobanu opened #18731 "Address State field drop down is ordered by ID, instead of State Name"
#### Describe the bug

Anywhere where Address field is displayed (in client are or during checkout), the drop down with States orders values by database ID and not name field.
This makes the newly added States appear last in the list, thus confusing customer who will not see his State unless he will scroll to the bottom of the list.

#### Expected behavior

State field in address forms should be o

[2020-04-20 22:21] przemko2000 commented on #12452
I have exactly the same error: DevTools failed to parse SourceMap: https://>>MY SITE<</themes/core.js.map
It is present on all pages.

Presta 1.7.6.3
PHP 7.2

What should I do?

[2020-04-20 22:22] Macrisu commented on #12452
Disable Debugging from Advanced Parameters - Performance

[2020-04-20 22:29] przemko2000 commented on #12452
It is disabled

[2020-04-20 22:30] Macrisu commented on #12452
I use 17.6.5 (released today) and no problem.
Clear cache & update

[2020-04-21 00:30] przemko2000 commented on #12452
OK. I upgraded to 1.7.6.5 and the error sounds a bit more detailed, but it is still there:
DevTools failed to load SourceMap: Could not load content for https://>>MY SITE<</themes/core.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2020-04-21 06:55] Progi1984 commented on #17977
Fixed by #18196

[2020-04-21 06:55] #17977 closed, assigned to atomiix, LouiseBonnard

[2020-04-21 07:09] Progi1984 commented on #12687
@vadrien1999 This issue has been fixed on the 177x branch.

[2020-04-21 07:14] vadrien1999 commented on #12687
would you have a link? because I followed the tutorial to this letter to the letter but I still have a problem with brand, name and opinion extract. the rest I have no problem

[2020-04-21 07:20] Gipielle opened #18732 "Wrong redirection when using the quick search for a category (Second)"
In Prestashop 1.7.6.3 and 1.7.6.4

Unsing the quick search in BO and searching for a category
If you click in the category link now it goes always in modify both (pencil right) and also category name (wrong) category name should go into the cateogoty so you can see list of subcategory.

Before, the situation was worse, it has been corrected in part with this fix: #17920

@PululuK

https://drive.go

[2020-04-21 07:23] LouiseBonnard commented on #18714
Dear @IranDec and @matthieu-rolland, it looks related to datetimepickers so I've done some research and... it might be fixed by PR #17975! Can you guys confirm?

[2020-04-21 08:10] marionf commented on #18719
Hello @SD1982 is it a to do ?

[2020-04-21 08:11] marionf commented on #18721
Hello @SD1982 could you add to do label please ?

[2020-04-21 08:22] OliverCG opened #18734 "Mixed content when loading backoffice logs page"
#### Describe the bug

Due to the non-secure loading protocol of the employee image (avatar), the web browser showed a warning message of mixed content when checking backoffice logs webpage.

#### Expected behavior

Since it's an external load, the content should be loaded by using the secure protocol HTTPS.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to backoffice.
2. Click

[2020-04-21 08:50] Labige opened #18737 "Shop front page - ERR_TOO_MANY_REDIRECTS"
#### Describe the bug

The front page of my shop does not load and says "ERR_TOO_MANY_REDIRECTS"
Chrome also suggests that I should erase the cookies but I did it and it hasn't changed anything.

If I enable the debug mode I have the following message:
"[Debug] This page has moved
Please use the following URL instead: [My shop url]"

On the contrary to [this ticket](https://github.com/PrestaShop/P

[2020-04-21 08:56] sam-pires opened #18738 "Rename PrestaShop stats modules to better indicate they are about stats"
**Problem**
As discussed by @Progi1984 shared in [this discussion](https://github.com/PrestaShop/core-weekly-generator/pull/29#discussion_r404771828):
"Module name for "stats" doesn't indicate that they are about statistics."

**Solution:**
Rename these modules in the code to indicate they are about stats

**To do**
- [x] Define the names = _{{module_name}} stats_, following https://github.com/Pre

[2020-04-21 08:58] Progi1984 commented on #18738
I can work on it. ;) when you will have specified this ;)

[2020-04-21 09:04] sam-pires commented on #18738
Ok some questions 🙂

Do we have constraints in the naming?
(type of char, char limit, etc.)

Where do these name will appear?
- module Manager/catalog in the BO
- Core-weekly
- Anywhere else will put the name (somewhere specific to have in mind)

Do we have to have an English name only, or are they going to be translated into every language we support?
If so, how are they translated?  through Crow

[2020-04-21 09:09] Progi1984 commented on #18738
May be @LouiseBonnard or @colinegin can help you on this

[2020-04-21 09:25] rdy4ever commented on #18737
Hi @Labige
I would suggest trying the following steps to try and fix your error:
1. Delete var/cache/dev and var/cache/prod folders from your projects web root
2. Rename or delete .htaccess file from the projects web root in order to regenerate it. (You could then go to Preferences->SEO and URLs and deactvate pretty URLs, then reactivate.

[2020-04-21 09:28] rdy4ever commented on #18729
Hi @crabbi33
There may be a problem with the prod cache.
Manually delete` var/cache/prod` folder from the website's root folder.

[2020-04-21 09:33] shaffe-fr opened #18740 "Fix error when updating a used address with no DNI"
#### Describe the bug

When the DNI required settings is turned on, existing used addresses with no DNI cannot be updated.

#### Expected behavior

When I update the missing DNI field of an address used in an order, I expect the used address to be updated silently (with the deleted flag set to 1) and I expect a new address to be created.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-04-21 09:35] shaffe-fr commented on #18740
A PR fix is available #18697

[2020-04-21 09:38] sarahdib commented on #18722
Hello @GTriber

1. do you talk about this button (see the screenshot)
<img width="376" alt="Capture d’écran 2020-04-21 à 11 32 31" src="https://user-images.githubusercontent.com/3034677/79850260-eca02100-83c3-11ea-857b-d711257683fa.png">
2. You can change the position the position in design -> pages search displayleftcolumn and drag and drop the module to change the position.

Thank you

[2020-04-21 09:39] sarahdib commented on #18713
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-04-21 09:39] #18713 closed, assigned to nobody

[2020-04-21 09:52] Spidlace opened #18741 "Error on front : get() on null"
Hi !
I have a problem with productcomments module.

#### Describe the bug

When I install module from catalog, no problem !
I configure the module but when i go to the front, i have an error :

[code]

In my partial, hook with name :

[code]

**Screenshots**

![Screenshot_2020-04-21 Screenshot](https://user-images.githubusercontent.com/4738601/79852044-6fc27680-83c6-11ea-9d5d-469f0e3ee41c.png)

##

[2020-04-21 09:53] matks commented on #18236
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18329

[2020-04-21 09:53] #18236 closed, assigned to NeOMakinG, Robin-Fischer-PS

[2020-04-21 09:55] matks commented on #12056
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18006

[2020-04-21 10:16] shaffe-fr opened #18742 "Invalid taxes breakdown in order slips for orders with discount"
#### Describe the bug
As explained by Vincent Beudez in [the Forge Ticket PSCSX-8967](http://webcache.googleusercontent.com/search?q=cache:BoLG5U2056kJ:forge.prestashop.com/browse/PSCSX-8967), PrestaShop has made the choice to ignore discount for order slips.
However, when creating an order slip for an order with discount, the taxes breakdown uses the total discount of the order, resulting an inco

[2020-04-21 10:34] Labige commented on #18737
Hi @rdy4ever thank you for quick answer!
Unfortunately this hasn't changed anything.... I usually do not use pretty URLs (attached my configuration)
![Bugs boutique 2](https://user-images.githubusercontent.com/64069182/79856224-5cb2a500-83cc-11ea-958e-0a956bc74ccd.PNG)

[2020-04-21 10:39] khouloudbelguith commented on #15605
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16872

[2020-04-21 10:40] rdy4ever commented on #18737
Could you take a look in your database, table `ps_shop_url ` that `domain`, `domain_ssl` and `physical_url` correspond to your current domain? You should have your domain name for both `domain` and `domain_ssl` and `/` for `physical_url`

[2020-04-21 10:47] Labige commented on #18737
Yes I do...

[2020-04-21 10:58] sarahdib commented on #18723
Hello @schenkelchen

I reproduce the issue :
<img width="914" alt="Capture d’écran 2020-04-21 à 12 06 30" src="https://user-images.githubusercontent.com/3034677/79853812-d3e63a00-83c8-11ea-95d0-c402a8732a4e.png">

[2020-04-21 10:59] rdy4ever commented on #18737
In your case, `physical_url` should be `/boutique/`

[2020-04-21 11:05] rdy4ever commented on #18737
I think to solve the problem is better to create a subdomain for the shop instead of a directory. FOr example boutique.herosdepapierfroisse.fr and put `boutique.herosdepapierfroisse.fr` in both `domain` and `domain_ssl`, leaving `physical_url` to `/`. This way you will avoid URL redirect problems, as you allready have another cms on the main domain.

[2020-04-21 11:15] Hlavtox commented on #18674
@matthieu-rolland Good! :-)

I did not manage to reproduce in any other controller or in a category without faceted search.

Can you ping the dev team and ask, if it wouldn't be good to introduce this "secondary ORDER BY" in all controllers? Can we be 100% sure, that the sorting from MySQL will be always the same?

[2020-04-21 11:17] #15605 closed, assigned to khouloudbelguith

[2020-04-21 11:27] Labige commented on #18737
Yes it is.
Ok thank you for your advice, but I still don't understand why does the problem appear now as it has worked for years before. But paying for another subdomain does not really fix it, yet I understand why you advise me to do so.

[2020-04-21 11:28] Pierpaolo-Petros commented on #18612
scusami ora ho letto ero impegnato, grazie della risposta, leggo l'articolo da te fornito e ti rispondo

[2020-04-21 11:34] rdy4ever commented on #18737
Subdomains shoud be free, you can add them in cPanel. But if this is a new problem, then it could be a module you installed lately.

[2020-04-21 11:35] rdy4ever commented on #18737
Oh, and if this URL is old, don't change it.

[2020-04-21 11:47] alfonsolr09 opened #18744 "Error creating an order from the BO with free shipping"
#### Describe the bug

When you create an order from the backoffice to a customer and mark it as free shipping, this creates a discount code that in the front office is seen as a null percentage, attached video
https://youtu.be/w2giZcOWzAU

#### Expected behavior

Should not add one more discount line but apply it in the discount code, just like a discount code.

#### Steps to Reproduce

Steps to

[2020-04-21 11:51] sarahdib commented on #18724
Hello @RodrigoHornos

Thanks for your feedback !

@PrestaShop/prestashop-product-team what do you think about this improvement ? Change the sort by default of the listing product in modules ?

[2020-04-21 12:04] Labige commented on #18737
But I haven't installed something new or even updated a module since November or something like that. I will keep looking for a solution without chaing the URL, thank you for your kind help :)

[2020-04-21 12:23] Pierpaolo-Petros commented on #18612
Salve e grazie del aiuto, spero di darti più informazioni possibili.

uso server Vhosting
Versione Prestashop 1.7.6.4

ecco i log del server
![log error](https://user-images.githubusercontent.com/47488488/79863398-fe8bbf00-83d7-11ea-9e1b-4946f10e4cf9.PNG)

configurazione php
![php1](https://user-images.githubusercontent.com/47488488/79863426-09deea80-83d8-11ea-8710-b235350fc456.PNG)

informazione

[2020-04-21 12:23] #18734 closed, assigned to khouloudbelguith

[2020-04-21 12:30] Progi1984 commented on #12687
@vadrien1999 The related PR is #14558

[2020-04-21 12:38] crabbi33 commented on #18729
Thx for your answer
i try your proposition but nothing .....
i ll try to replace module table in my DB with those from a clean version...

thx

[2020-04-21 12:51] sarahdib commented on #18727
Hello @Gipielle

You need to disable URL with accent in order to change this behavior  in shop parameter -> traffic & SEO.

If you enable accent in the url when a product is add with accent the rewriting url will have accent. If you disable this option the product will not have accent.

With accent in URL disable :
<img width="779" alt="Capture d’écran 2020-04-21 à 14 20 16" src="https://user-im

[2020-04-21 12:51] #18727 closed, assigned to nobody

[2020-04-21 13:04] sarahdib commented on #18737
Hello @Labige

Please be aware that this bug tracker should be used to report issues only.
This is a support question. You can try to contact our support. I'll close this issue.

Thanks for your understanding!

[2020-04-21 13:04] #18737 closed, assigned to nobody

[2020-04-21 13:20] sarahdib commented on #18730
Hello @valros76

PrestaShop is not compatible with php version 7.4 Could you ask your hosting provider to downgrade php version to 7.2 and feedback ?

[2020-04-21 13:55] vadrien1999 commented on #12687
thank you very much I managed to solve the name and extract of the opinion problems. But I still have a problem with brand. Could you help me please

[2020-04-21 14:19] charlykb opened #18747 "Google sitemap"
Bonjour, version Prestashop 1.6.1.23

Comme tous les autres sur les forums prestashop, je remonte ce bug sur le module Google Sitemap qui ne peut pas s'installer :

2 erreurs
Une erreur est survenue pendant l'extraction du module (le fichier peut être corrompu).
Impossible de mettre à jour le module Google sitemap : erreur lors de l'extraction de la dernière version.

**Pouvez-vous nous donner une

[2020-04-21 14:33] khouloudbelguith opened #18748 "BO - Customer View page - An exception is displayed when deleting an address"
#### Describe the bug

In the BO => Customers => Customer view page, when we try to delete an address, an exception is displayed.

#### Expected behavior

It should delete the address successfully.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Customers => Customer view page or example "John DOE"
2. Try to delete an address
3. See error

**Screenshots**

![image](https

[2020-04-21 14:33] khouloudbelguith commented on #18748
Ping @nesrineabdmouleh

[2020-04-21 14:44] Progi1984 commented on #12687
Please open a new issue :)

[2020-04-21 14:54] simondaigre opened #18749 "Invoice prefix not working in multishop context"
#### Describe the bug

Invoice prefix not working in multishop context

#### Expected behavior

Invoice prefix should working in multishop context

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Setup a Prestashop instance with multishop enabled
1. Go to Orders > Invoices
2. Set a custom invoice prefix
3. Download an invoice from an order
4. Invoice prefix is not displayed on top ri

[2020-04-21 14:58] vadrien1999 opened #18750 "error brand prestashop1.7.6.4"
Hello, I'm on prestashop 1.7.6.4. I have an error on google search console that I cannot resolve. I've had a lot of mistakes so far, but I've always managed to fix them. But the brand problem I can't solve it. Could you help me please. I would also like to point out that I have already followed the following tutorials:
#12687
#18692
#14558
#12694

#### Additional information

* PrestaShop version:

[2020-04-21 15:04] khouloudbelguith opened #18751 "BO - Product page - Cannot add a specific price"
#### Describe the bug

In the BO => Product page, when we try to add a specific price, we have an alert `undefined` and an exception in the console

#### Expected behavior

Specific prices should well be added.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Product page
2. Create a new product
3. Try to add a specific price
4. See error

**Screenshots**
![image](https:/

[2020-04-21 15:05] Klemart3D opened #18752 "Favicon downloaded from PS's favicon generator is not uploadable"
#### Describe the bug

The downloaded file from PrestaShop's favicon generator tool (https://addons.prestashop.com/en/create-favicon.php?success=1) is not uploadable.

#### Steps to Reproduce

1. Go to https://addons.prestashop.com/create-favicon.php?pab=1
2. Upload an image and generate a favicon
3. Download a the generated file named only "favicon"
4. Go to BO > Design > Theme & logo > Favicon >

[2020-04-21 15:06] sarahdib commented on #18037
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-21 15:06] #18037 closed, assigned to nobody

[2020-04-21 15:24] sarahdib commented on #18155
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-21 15:24] #18155 closed, assigned to nobody

[2020-04-21 15:25] #18193 closed, assigned to nobody

[2020-04-21 15:26] #18209 closed, assigned to nobody

[2020-04-21 15:28] IranDec commented on #18714
Hi @LouiseBonnard
yes, I think its the same problem but how can I test that before release?
"Convert Arabic/Persian digits to Latin digits in DatePickerType"

[2020-04-21 15:29] #18261 closed, assigned to nobody

[2020-04-21 15:30] #18262 closed, assigned to nobody

[2020-04-21 16:19] LouiseBonnard commented on #18738
(type of char, char limit, etc.)

No constraint but the shorter the better, think about the translation!

And on Addons very soon. ;-)

Built-in modules are translated via Crowdin, in the _Modules_ repertory of each version. And the name is also translated.

Looking for more relevant names makes sense, but a constraint I can see is that their translation won't be available for previous versions of

[2020-04-21 16:35] burakgit commented on #18710
it is general save problem, most of SAVE buttons gives blank page which is relate with controller=adminorders.

When i replace JS folder to JS_OLD, it is fixed the Orders tab paging white screen problem. i dont know what is going on.

[2020-04-21 16:51] LouiseBonnard commented on #18714
Unfortunately, this feature is still in progress, cf. PR #11571. By the way, you can use [Vagrant](https://github.com/PrestaShop/vagrant) to test PrestaShop. ;-)

If this issue regards the Jalali Calendar, let's redirect to PR #11571, complete it with your information and close this issue to avoid duplicate.

[2020-04-21 16:58] crabbi33 commented on #18729
So i replace all module table on my DB ..... but nothing

( ps_module, ps_module_access, ps_module_carrier, ps_module_country, ps_module_currency, ps_module_group, ps_module_history, ps_module_preference, ps_module_shop)

.....

 

[2020-04-21 17:25] decom-media opened #18755 "ContextErrorException Warning: Illegal string offset 'display_prices_tax_incl'"
Prestashop 1.7.6.5 (updated to check if the problem is solved - as the problem was the same with 1.7.6.1 as well) - both versions with the same problem
After updating quite many translations in my Multilanguage shop it is no longer possible to make an order, as there is the following error already after clicking on "go to checkout":

**Warning: Illegal string offset 'display_prices_tax_incl'**

Al

[2020-04-21 17:27] GTriber commented on #18722
Yes, this button.  For me is translated to "Tak" ( means "Yes" in english ). I rather have it like "search" either "filter". As clients on mobile are disoriented hot to search after filter choice.

2. Omg so easy Thank you so much. 👍

[2020-04-21 17:28] #18714 closed, assigned to nobody

[2020-04-21 20:41] Gipielle commented on #18727
Hello, the problem are not accents ... as you can see:
https://www.betafer.it/fr/chariot-porte-outils-beta/43000003-chariot-%C3%A0-outils-avec-3-modules-empilables-beta-c43.html

url work perfect i removed this strange part of this... Ã¢Â€Â‹Ã¢Â€Â‹ in the product name that is hidden, so when a name with strange caracters was passed in the url with the reset url button
that caracters ar not removed

[2020-04-21 21:39] Tonio1987 commented on #18596
It's fix after having commented the lines 326 237 and 328 in ps_facetedsearch/src/Adapter/MySQL.php

[2020-04-21 22:59] HartLarsson commented on #11299
hi,
SDI and pec email aer needed to be collected like VAT code for italian shops that need to make Invoices.
There are some module in addons that add SDI and Pec fields but need some modification to theme fields.
Because as DNI and VAT code also SDI and pec email are needed why not embed these 2 fields inside the core?

[2020-04-22 00:59] alx741 commented on #10482
Just stumbled upon this issue. The fix was to enable SSL as OP said.

[code]

[2020-04-22 05:06] TamasFelix opened #18758 "Http error 404"
I started identifying traffic for [kiwigym.ro](https://www.kiwigym.ro) in google analytics with 404 error
I checked the log from the server
The problem is on every page, I identify traffic on
https://www.kiwigym.ro/preworkout-creatine/muscletech-neurocore-pro-series-50-serv
and then
https://www.kiwigym.ro/preworkout-creatine/muscletech-neurocore-pro-series-50-serv-324

-324 is id from product, I w

[2020-04-22 06:11] Betafer commented on #13939
Hello, what happens to languages doing the update?

[2020-04-22 07:19] SD1982 commented on #18719
Hello @marionf  i have added the "to do" label

[2020-04-22 07:19] SD1982 commented on #18721
Hello @marionf  i have added the "to do" label

[2020-04-22 07:32] sarahdib commented on #18722
Hello @GTriber, you're welcome :)

Ping @LouiseBonnard I didn't find this translation.
I search in theme translation and module translation but I didn't find it.
Could you check please ?
Thank you :)

[2020-04-22 07:37] NeOMakinG opened #18759 "Help box in BO have their markup duplicated"
#### Describe the bug

It's not a really a bug but it would make these harder to maintain, the markup is duplicated, so the time we wants to update helpbox, we would need to update it on the whole BO.

#### Expected behavior

Using a reusable twig file, I opened a PR to fix this issue

#### Additional information

* PrestaShop version: develop

https://github.com/PrestaShop/PrestaShop/pull/18184

[2020-04-22 07:49] sarahdib commented on #18727
I copy paste "Carrinho de ferramentas com 3 módulos empilháveis ​​- Beta C43" as you can see in the screenshot there was no problem.

[2020-04-22 07:54] Progi1984 commented on #18553
Fixed by #18501

[2020-04-22 07:54] #18553 closed, assigned to nobody

[2020-04-22 07:54] GTriber commented on #18722
Hello,

I have tried to search in translation. No luck.

[2020-04-22 08:00] colinegin commented on #18674
@matthieu-rolland did you reproduce it on 1765 or only on the branch 176x ?

[2020-04-22 08:03] GTriber opened #18760 "Friendly URLs - 404"
Hello,

I have few hundreds products. And for many of them i have error 404 on preview and on live shop.
Only with Friendly URLs enabled. With Friendly URLs disabled same products works fine.

Cant figure out why. Links look similar to products, that working fine. No clue what to do with it.
Copy not working product and give new ID doesnt change anything.

I.E
404 error on enabled product:
/strona

[2020-04-22 08:22] #18749 closed, assigned to khouloudbelguith

[2020-04-22 08:27] ianronald commented on #18382
@khouloudbelguith

Was that information helpful? We have a quiet period before we are busy selling again in 2 weeks so I have time to look into this further. Please advise. Thanks.

[2020-04-22 08:49] marionf commented on #18674
It's not labeled as a regression @matthieu-rolland could you confirm it's not a regression of 1.7.6.x ?

[2020-04-22 08:49] LouiseBonnard commented on #18722
Okay, it might be localized in _Shop > Theme > Global_. Search for 'Yes' in this repertory in the International > Translations section of the back office to customize its translation in Polish. :-)

[2020-04-22 08:55] marionf commented on #18721
Thank you @SD1982
Did you try to reproduce it on 1.7.6.x ? To be sure it's not a regression ?

[2020-04-22 08:57] marionf commented on #18719
@SD1982 Could you confirm if you have also this issue on 1.7.6.x ?
And add the 1.7.6.x if it's the case ?
Like that we are sure it's not a regression of the 1.7.7

[2020-04-22 09:07] Gipielle commented on #18727
yes because, the forum removes bad caracters .....

[2020-04-22 09:09] GTriber commented on #18722
@sarahdib @LouiseBonnard

Only one "Yes" ( "Tak" ) was found in all translations :) Wasnt this one.

Will search more :)

[2020-04-22 09:19] colinegin commented on #17993
New catalog extract needed.

[2020-04-22 09:35] colinegin commented on #18498
Related to : https://github.com/PrestaShop/PrestaShop/issues/18379

[2020-04-22 09:44] GTriber commented on #18722
Found it. Thank you so much. @sarahdib @LouiseBonnard

Looks like my theme had its own ps_facetedsearch.tpl ( located in theme / modules foldr ) file . Edited and looks fine now.

Best Wishes and have a nice day.

[2020-04-22 09:44] #18722 closed, assigned to nobody

[2020-04-22 09:54] eternoendless commented on #16555
@thbl Unfortunately this is too broken to be fixed in the 1.7.6.x branch. #18293 fixes  the export but produces other regressions in the translation interface.

A full refactoring is in the making for 1.7.7.0. It will simplify the feature architecture, put into practice some design decisions that have been made by the product team (eg. "what should be included in the theme translations export"), a

[2020-04-22 09:56] charlykb commented on #18747
Merci de votre aide, j'attends :)
Thanks for your help, I wait :)

[2020-04-22 10:01] emilieatelier commented on #18624
@MatShir you speake only English or maybe french?

[2020-04-22 10:04] LouiseBonnard commented on #18701
Hi @Nietnagel, if I understand well, you think that the name of the fields on this tab (see screenshot below) should be changed to be more relevant? or is it about the German translation?

![Capture d’écran 2020-04-22 à 12 01 28](https://user-images.githubusercontent.com/32565890/79969132-589c8b00-8491-11ea-9ba2-d2860384128d.png)

[2020-04-22 10:08] emilieatelier opened #18761 "The server returned a "500 Internal Server Error"."
![image](https://user-images.githubusercontent.com/63663739/79969389-b9c45e80-8491-11ea-972a-71ae3879085b.png)

I wanted to add another language in my shop (turn to English) and I have this problem.

Je voulais ajouter une langue suplementaire a mon magazyn (anglaise) mais cette erreur la se monter.

[2020-04-22 10:33] salvacal opened #18762 "Return to the page product - FO after login"
Edit:
**Actual**

When you are visiting a product page and want to login,  it’s tiring for the visitor to find again the page! Please check the issue. Thank You for support.

**Wanted behaviour**

When I log in or create an account on the product page or the checkout, as a merchant want to be redirected to my product page or the checkout.

[2020-04-22 11:18] sarahdib opened #18763 "BO - When creating a category, the simplified URL is not filled automatically when using multilang"
#### Describe the bug

Simplified URL is not filled automatically when using multilang.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to back office and add a second language
2. Go to Category and add a category (fill only the default language)
3. Save
4. Go to the new category and change the language to the second one
5. See that the title is filled automatically but the Simpl

[2020-04-22 13:09] sam-pires commented on #18725
Hi @tblack-it,
This bug has been fixed on PrestaShop 1.7.6.5 with this PR: https://github.com/PrestaShop/PrestaShop/pull/18103

And  on PrestaShop 1.7.7, here is the PR: https://github.com/PrestaShop/PrestaShop/pull/18073

I didn't manage to reproduce it on both versions.

Do you have more info?

[2020-04-22 13:10] sam-pires commented on #18725
I'll close the issue.

If you still have the problem please comment it.

[2020-04-22 13:10] #18725 closed, assigned to nobody

[2020-04-22 13:31] EukaPS opened #18765 "404 error when editing product route pattern"
* Nginx / PHP-fpm (docker)
* Nginx conf file based on https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist
* PrestaShop v1.7.6.5 fresh install
* PHP version: 7.3
* Product with combinations

Everything is working well, but when I go to "SEO & Urls" and change the product route pattern to "{rewrite}-{id}{-:id_product_attribute}.html" - have the IDs at the end for

[2020-04-22 13:31] janekx commented on #10762
yes 1,6,1,24 have this bug too any fix_

[2020-04-22 13:32] sam-pires commented on #18726
Hello @ptidav,

I didn't manage to reproduce this bug on PS 1.7.6.5 with Faceted Search v3.5.0

Which version of the module do you use?

[2020-04-22 13:43] sam-pires commented on #18729
Hi @crabbi33
We'll need more info.
Does it happen on a fresh install or an upgrade? Do you have any log?

[2020-04-22 13:59] crabbi33 commented on #18729
Hi,
it's an upgrade from 1.7.2.4 where i had the same problem ... I thought an upgrade remove it ....
In debug mode nothing happen...
Where can i find logs ? (sorry ....)

[2020-04-22 14:02] Progi1984 commented on #18711
Fixed by #18743

[2020-04-22 14:02] #18711 closed, assigned to sarahdib, sowbiba

[2020-04-22 14:07] sam-pires commented on #18729
Ok, it often comes from modules in this situation.
You can try to disable modules before doing the upgrade and then reactivate them one by one to see if one generates this problem.

About logs, no problem 👍,  there is a paragraph "Adding logs" about the different kinds of logs you can share and where to find them, in this article on our tech blog:
https://build.prestashop.com/howtos/misc/how-to-cr

[2020-04-22 14:24] ramtin2025 opened #18766 "Wrong image path in the ColorPicker when using renderOptions in the module admin controller"
#### Describe the bug

![image](https://user-images.githubusercontent.com/3217101/79991256-51906f80-84c7-11ea-90e9-8d2cb428f2ff.png)

"colocpicker" plugin has a default imageFolder that is not correct for AdminControllers. PrestaShop has overriden it in the "form.tpl" file but this has not been done in the "option.tpl" file.

#### Expected behavior
![image](https://user-images.githubusercontent.co

[2020-04-22 14:25] crabbi33 commented on #18729
I don't know how it happend but i think it must be the origin of my problem ....i don't have var folder .....

[2020-04-22 14:40] eternoendless commented on #18647
Update: we're finishing the latest critical bug fixes. We'll send a build to QA once [all issues labeled "High"](https://github.com/PrestaShop/PrestaShop/projects/7?card_filter_query=label%3Ahigh) are merged.

[2020-04-22 14:58] GTriber commented on #18760
Ok i did some digs. Around 15-20% of links are down with 404 error.

One product example:
Link with Friendly url enabled  - 404 error
strona-glowna/929-koszula-venerdi.html
Link with Friendly url disabled  - no error

In product SEO option / Friendly url window:
"koszula-venerdi" ( so name of the product ) Looks normal.

But i went to the shop website and searched for this specific product. Clicke

[2020-04-22 15:05] Progi1984 commented on #18020
Fixed by #18544

[2020-04-22 15:05] #18020 closed, assigned to khouloudbelguith, MatShir

[2020-04-22 15:14] sam-pires commented on #18732
Hi @Gipielle,

Just to be sure, the behavior you expect is the following, right?

In the breadcrumb result:
- When clicking on the category **name** -> go to the category's **list page** (where it lists its subcategories)
- When clicking on the category **pencil**  -> go to the category' **edit page**

[2020-04-22 15:36] sam-pires commented on #18738
Thks @LouiseBonnard,

According to your response, I would advise creating a simple nomenclature for these names.
Such as: "{{module_name}} stats"

Short, easy to translate (maybe not even needed), solves the pb
wdyt?

[2020-04-22 16:06] sam-pires commented on #18740
@PrestaShop/prestashop-product-team  I think we should have a look at the expected behaviors to make sure we don't miss something. A PR is available, the sooner, the better.
ping @LouiseBonnard (you commented the PR ;))

[2020-04-22 16:07] colinegin commented on #18724
This could be interesting ! Maybe not to change it for all but to give the possibility to adapt the configuration.
@LouiseBonnard do you think it could be a good first issue ?

[2020-04-22 16:15] colinegin commented on #10762
ping @PrestaShop/prestashop-core-developers

[2020-04-22 16:17] sam-pires commented on #18750
Hello @vadrien1999,

We need more info :)
Can you share the error in the console please?

I believe this could be related to missing "brand" rich snippets, example on Google support: https://support.google.com/webmasters/thread/10162757?hl=en

I saw your comments on related issues.
We have to do a broader analysis on rich snippets to improve everything.

[2020-04-22 16:18] khouloudbelguith commented on #18649
Hi,

This issue can't be reproduced with PS1.7.6.5 and `gsitemap` v4.1.0.

Thanks!

[2020-04-22 16:18] #18649 closed, assigned to khouloudbelguith

[2020-04-22 16:22] sam-pires commented on #18402
I think we can add to this EPIC to do a checkup of rich snippets and schema markups, this would solve many issues related to these topics, and be state-of-the-art on it :)

[2020-04-22 16:25] nsorosac commented on #10762
I'll be happy to discuss this solution with you!

[2020-04-22 16:42] LouiseBonnard commented on #18724
Something quite similar has been done for the Faceted Search module to be able to sort products by stock availability: https://github.com/PrestaShop/ps_facetedsearch/pull/51. But I guess this set up was more complex, it looks more simple here. @PrestaShop/prestashop-core-developers, what do you think?

[2020-04-22 16:45] sam-pires commented on #18724
To me it seems this is rather a bug, no?
The default behavior should not be modified (and stuck) when using the module.

[2020-04-22 16:49] sam-pires commented on #18729
🤔
Sadly, I can't really help you here.

I guess the best is to try to get some help on the forum or through our support.

Have a look on the forum if someone had the same problem, or share your issue:
https://www.prestashop.com/forums/

Otherwise, PrestaShop's paid support could help: https://www.prestashop.com/en/support

Let me know if you found some help.

[2020-04-22 17:00] khouloudbelguith opened #18767 "BO - Order page - the Total is not empty when adding a new product to an old order twice"
#### Describe the bug

In the BO => Order view page when I try to add a product twice, the total is not empty.
![image](https://user-images.githubusercontent.com/16067358/80010476-c3b68380-84ca-11ea-8128-bc469e74ce0b.png)

#### Expected behavior

It should be empty.
![image](https://user-images.githubusercontent.com/16067358/80010579-e8126000-84ca-11ea-9725-8c55cda4b641.png)

#### Steps to Reprodu

[2020-04-22 17:04] sam-pires commented on #18741
Hello @Spidlace,
I couldn't reproduce the bug on my side.

Can you tell me which version of the module you use, please?

[2020-04-22 17:05] sam-pires commented on #18741
Hi @PrestaShop/prestashop-core-developers, does that error ring a bell?

[2020-04-22 17:38] vadrien1999 commented on #18750
Hello, thank you for helping me. Here are the errors surround
![Produits - Google Chrome 22-04-20 19_34_01 (2)_LI](https://user-images.githubusercontent.com/64008376/80014602-ce741700-84d0-11ea-88ab-d79b7b5f9535.jpg)

[2020-04-22 19:22] slal2003 commented on #14119
Hi, I am an end user and getting the exact same warning on Prestashop 1.7.6.4:
PHP Warning:  Cannot use a scalar value as an array in /classes/cache/Cache.php on line 463
It looks like this is not at a all a duplicate of  #12509.
<img width="1511" alt="Screenshot 2020-04-22 at 21 22 19" src="https://user-images.githubusercontent.com/37602955/80024451-6547d000-84df-11ea-8670-f43d5b820dc6.png">

[2020-04-22 20:31] Hlavtox opened #18768 "[Google Sitemap] Why does the module allow adding sites blocked by robots?"
#### Describe the bug

In the settings of Prestashop's Google Sitemap module, there are options to add "service" pages (login, my-account, cart etc. etc.) to sitemap.

But these adresses are blocked from bots in robots.txt.

Google Search Console is then sending me emails and notifying me "Coverage problems", because they can't crawl these pages, even they are included in the sitemap.

These are t

[2020-04-22 20:40] Matt75 commented on #18766
We use a field color like this in our [module cart banner](https://github.com/PrestaShopCorp/pscartbanner/) without this issue 🤔

https://github.com/PrestaShopCorp/pscartbanner/blob/2df81d6a88d923bdb86c76083bf1e940483858e9/controllers/admin/AdminPsCartBannerController.php#L46

[2020-04-22 21:09] RodrigoHornos commented on #18724
The bug is referred to the Pricedrop module for the main page.  There is no sense to show products in alphabetical order here. It should be by top discount % or by lower prices in order to boost sales from the main page.

[2020-04-22 21:36] Hlavtox opened #18769 "PNG thumbnails are not regenerated automatically, if missing"
#### Bug description
If some thumbnails of product images are missing, Prestashop automatically generates them on the fly for JPG images, but not for PNG images. This can happen if regeneration goes wrong, during custom external imports from suppliers etc.

#### How to reproduce this bug

1. Go to your Prestashop image settings and set image format to "Use PNG if original file is PNG".
2. A) Make

[2020-04-22 22:12] didacrios opened #18770 "Module vendors conflicts with prestashop vendors"
#### Describe the bug

I'm having  errors in Prestashop Backoffice throwed from a Symfony Vendor in a module.

The module use a package that includes symfony http-foundation a version grater than the one installed in the prestashop installation (prestashop 1.7.4.1)

It seams that a backoffice component is trying to use the http-foundation from my module vendor instead of the prestashop ones.

If I

[2020-04-23 03:40] ramtin2025 commented on #18766
The default path of imageFolder (in the colorPicker) is: "../../../img/admin/" and it working well **just** in the root folder. If PrestaShop is in a different directory(e.g /shop/), it won't work.

[2020-04-23 05:34] Matt75 commented on #18770
Did you try with composer options [prepend-autoloader](https://getcomposer.org/doc/06-config.md#prepend-autoloader) ?

[2020-04-23 05:56] vencedor commented on #13050
maybe opcache config issue mentioned here
[https://github.com/PrestaShop/PrestaShop/issues/10998](url)

[2020-04-23 06:21] ptidav commented on #18726
Hello,
i use the latest version 3.5
Thanks

[2020-04-23 06:56] sam-pires commented on #18744
Hello @PrestaShop/prestashop-core-developers & @PrestaShop/prestashop-product-team

Is this issue related to this one https://github.com/PrestaShop/PrestaShop/issues/16842?

We have a discount display problem.
As we check the free shipping option when creating an order from the BO, the discount amount displayed in FO in 0%.

[2020-04-23 07:13] shaffe-fr commented on #18740
The annoying thing with this issue is that there is no workaround for shop administrators.

I did not test it, but there is maybe a similar bug when setting up required fields from the bottom of the addresses admin section.

[2020-04-23 07:15] sam-pires commented on #18752
Hello @Klemart3D,

It seems to come from Firefox. Works fine on Chrome.

As it is a problem related to the Addons website and not the PrestaShop project, I'll close this issue and share the bug with the Addons team.

Thanks

[2020-04-23 07:18] janekx commented on #10762
Our issue in closer look. eE use ASM

Customer make cart and put items in them in one day, but doesnt process cart, not order. Next day some items comes 0 and system not allow to put them in new cart. So the safety order 0 products is OK. After that the customer come back to own cart from day ago and order without any trouble. The 0 items are ordered and we see -1 pcs on those items.
As far as i r

[2020-04-23 07:21] SD1982 commented on #18721
Hello @marionf this behaviour has been reproduced in 1.7.6.x

[2020-04-23 07:21] #18752 closed, assigned to nobody

[2020-04-23 07:22] florine2623 commented on #18761
Hi @emilieatelier ,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.

[2020-04-23 07:28] sam-pires commented on #18747
Hello @charlykb,

The Google Sitemap latest version is compatible with versions =< PS 1.7.1.0
That seems to be the cause of the problem (I guess from the info you shared).

Friendly reminder 🙂
Please follow the template when filling in a bug report. Without all info and steps to reproduce the bug, it takes way more time for us to investigate issues, and limit our capacity to answer to everyone qui

[2020-04-23 07:29] #18747 closed, assigned to nobody

[2020-04-23 07:37] SD1982 commented on #18719
Hello @marionf  it seems that the behaviour is totally different in 1.7.6.x
1- When generating a new invoice for a new product the new invoice is empty (still generated but empty ) and the new product is added to the first invoice anyway
2- base price field on the invoice is not filled

**Invoice 1**
![invoice1](https://user-images.githubusercontent.com/40635814/80072050-f94c8280-8545-11ea-9ef2-76

[2020-04-23 07:42] didacrios commented on #18770
Many thanks @Matt75 taking note of that

[2020-04-23 07:46] florine2623 commented on #18758
Hi @TamasFelix ,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.com

[2020-04-23 07:47] 01park opened #18771 "Email deleting increase delete larger than 100"
In backoffice if you want to delete emails the maximum amount you can select is 100 at a time

Can this be increase to steps like 500 - 1000 or all

This is very time consuming

[2020-04-23 07:49] Progi1984 commented on #18049
Fixed by #18427

[2020-04-23 07:49] #18049 closed, assigned to matthieu-rolland

[2020-04-23 07:50] 01park opened #18772 "1.7.6.5 very unstable and slow"
After updating to 1.7.6.5 our site became very unstable and slow.

I need to reset Apache 4 to get it working again and after 5-6 minutes it repeats again being slow

We get the message time out, server can not be reached.

I checked, but there is errors coming and when I turn on debug, also nothing happens.

* PrestaShop version: 1.7.6.5
* PHP version: 7.2.29

[2020-04-23 07:53] florine2623 commented on #18762
Hi @salvacal ,
What version of PS are you using ?
Thanks

[2020-04-23 08:04] florine2623 commented on #18755
Hi @tom75 ,
What languages are you using ?
Do you use any module for checkout ?
What are the exact steps to reproduce the bug ?
Where is the bug located ?
Please check and let me know.

[2020-04-23 08:17] tom75 commented on #18755
Languages are: De, en, nl, pl, pt, fr, es
No special Modules for checkout, payment modules just from paypal (and Braintree)
Steps to reproduce: put one item in the cart, click on checkout – error is shown (if debug mode is enabled) when paypal module is disabled, it is possible to use payment with braintree module, if paypal is enabled, paypal payment cannot be used as clicking on pay with paypal

[2020-04-23 08:21] lascapade opened #18773 "Error 500 when I use Leoblog gestion"
Hello,

I try to add a blog to my website, using leoblog gestion free version.

When I want to edit and save a category or a blog, I have this message :

"Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused."

Here you h

[2020-04-23 08:24] florine2623 commented on #18771
Hi @01park ,
There's an option on the top right corner where you can choose to "erase all" emails :
![Capture d’écran 2020-04-23 à 10 23 32](https://user-images.githubusercontent.com/16019289/80076483-8b578980-854c-11ea-842f-7da650660efe.png)

[2020-04-23 08:25] crabbi33 commented on #18729
ok thx for help

i find an error in FO, in my store with 1.7.2.4 with the same problem if it can get some indication :

ContextErrorException in ac776c302f1a89b1213a2493a23db4c5dd35aedd.file.product.tpl.php line 1105: Notice: Undefined index: seo_availability

    **in ac776c302f1a89b1213a2493a23db4c5dd35aedd.file.product.tpl.php line 1105
    at ErrorHandler->handleError('8', 'Undefined index: se

[2020-04-23 08:26] florine2623 commented on #18773
Hi @lascapade ,
Please contact the developer of the module Leoblog directly.
PrestaShop GitHub is for reporting bug of the core solution as well as new features you'd like to see on PS.
Thanks.

[2020-04-23 08:27] #18773 closed, assigned to nobody

[2020-04-23 08:30] #18771 closed, assigned to nobody

[2020-04-23 08:31] LouiseBonnard commented on #18724
Indeed, by default, the order on the Specials Block dedicated page on the front office is by name (A to Z). But I can manage to modify the order with the dropdown list on the top right-hand corner and sort products by price.

So, as an improvement, we could add a drop-down in the module's configuration panel in the back office to let the users select the default order of their choice.

[2020-04-23 08:38] LouiseBonnard commented on #18738
Why not, at the beginning/end of the module name does not look too problematic. But we must make sure it improves the user experience. :-)

[2020-04-23 08:43] Spidlace commented on #18741
Hi @sam-pires,

Thanks for your response.
The version of the module is 4.0.1

The bug doesn't happen on the product page, but on my homepage
But for your question, I have two specific modules (not by Prestashop) use on product page :
- AN Product Extra Tabs Premium
- AN Product Videos

I try to disable this modules but error is here again :-/

[2020-04-23 08:45] 01park commented on #18771
Hi,

Thanks for that. I noticed this option already.

My question maybe was not clear. This erase all doest not work for if you want to delete a certain date range.  In my case I had over 100.000 emails I wanted to delete. In the current situation I would need to process the function a 1000 times to delete all emails within that date range.

[2020-04-23 08:47] LouiseBonnard commented on #18740
And the other issue is that the expected behavior regarding address formats does not seem to be specified on our end... does it only concern the DNI field or any other field lately set as required? We must investigate before making any decision, I'll try to do it by the end of the week. :-)

[2020-04-23 08:52] Nietnagel commented on #18702
Hello,

i thought that the translation is wrong, so i changed the translation for german language.
Prestashop shows me 4 search results for "Maßnahmen" I changed all four with no solution.
I use prestashop 1.7.6.4

[2020-04-23 08:55] marsaldev commented on #18740
I would add another problem, this behaviour happens also for the supplier address, if you set the DNI mandatory (and the supplier address doesn't have DNI) you'll receive an error when save it 😊
I think it's linked.

[2020-04-23 08:56] florine2623 commented on #18755
I could not manage to reproduce your error neither on 1.6.7.5 and 1.7.5.2.
In your error the module Braintree in mentioned. Please make sure your module is up-to-date. If that's already the case, you will need to contact the developer of the module as the problem come from the module itself and not PrestaShop core solution.
Thanks!

[2020-04-23 08:56] #18755 closed, assigned to nobody

[2020-04-23 08:58] tom75 commented on #18755
even if i disable all payment modules it is the same error... so, i do not think that this is coming from any payment module.

also, it just happened like this after adding a few translations

[2020-04-23 08:58] LouiseBonnard commented on #18702
Hi, can you tell me where did you change the translation? On Crowdin or in the International > Translations section of the back office?

[2020-04-23 08:58] Nietnagel commented on #18701
Hello your right.
retail price > price (tax excl.) and cost price > price (tax excl.) are not the same.
I think it is a problem with the german translation. in german version it is like this
retail price > selling price (tax excl.) and cost price > selling price (tax excl.)
and must be like this
retail price > selling price (tax excl.) and cost price > purchasing price (tax excl.)

I changed the t

[2020-04-23 09:04] marionf commented on #18724
@LouiseBonnard

Or instead of preselect a sort by name A to Z by default, we can add and preselect "Relevance" that is not displayed on prices-drop pages currently.
This way, it will work like on categories pages: "Relevance" is preselected and depends on what the merchant configured in the BO > Shop parameters > Products > default order by & default order method.

![capture d'écran_2558](https://

[2020-04-23 09:12] LouiseBonnard commented on #18740
Another nice inconsistency, aha, thanks for the feedback, @marsaldev! It seems to happen only for the DNI field... alright, let's change that!

[2020-04-23 09:16] marionf commented on #18740
Guys, are we sure it's not a regression of the 1.7.7 ?

[2020-04-23 09:22] marionf commented on #18721
All right, so I add the 1.7.6.x label, this way we are sure it's not a regression of 1.7.7

[2020-04-23 09:36] marsaldev commented on #18740
To be more specific about the supplier, in the form (new or edit) you'll see also the DNI field and you need to write something 😊
Even more, if there is a module that makes check on that field you must insert a valid DNI XD

[2020-04-23 09:39] kmorgen commented on #16634
Hello, sorry for the long reply time.
Have now updated to PS 1.7.6.5 and the issue remains.

![phpinfo](https://user-images.githubusercontent.com/4300688/80084404-1dfd2600-8557-11ea-9aa7-2bc1930105eb.jpg)

[2020-04-23 09:56] marionf commented on #18719
Yes indeed, it didn't work either on 1.7.6

We need to make sure that it's not a regression from 1.7.6 (with another behavior in 1.7.7)
Could you check the behavior in the last 1.7.5 and after add the serverity label ?

[2020-04-23 10:06] florine2623 commented on #18769
Hi @Hlavtox ,
I manage to reproduce the issue with PrestaShop version 1.7.6.5 exactly how you described it.
JPG images are regenerated -> OK
PNG images are not regenerated -> NOK

However on PS 1.7.5.2,  both PNG and JPG are not regenerated :
JPG images are not regenerated -> NOK
PNG images are not regenerated -> NOK

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed

[2020-04-23 10:08] marionf commented on #18744
@sam-pires Did you manage to reproduce it on 1.7.6.x ?
We should try to reproduce it on 1.7.7.x also

[2020-04-23 10:10] florine2623 commented on #18772
Hi @01park ,
Could you try to comment module gamification ?
In folder /modules, ```gamification``` becomes ```_gamification```
Please check and let me know !

[2020-04-23 10:17] 01park commented on #18772
Hi,

I attached the screenshot of what I changed. Is this what you mean?

<img width="492" alt="Screenshot 2020-04-23 at 11 15 12" src="https://user-images.githubusercontent.com/46492443/80088097-f5bff800-8553-11ea-8906-d017b9327386.png">

[2020-04-23 10:18] florine2623 commented on #18772
Yes that's it !

[2020-04-23 10:21] florine2623 commented on #18760
Hi @GTriber ,
I could not manage to reproduce your issue with PS 1.7.6.5.
Please try the following :
- regenerate .htaccess (manually via FTP & by just saving SEO & URL in the BO)
- clear cache from BO and manually
- check for module that rewrite link with friendly URL
- if you check the URL Format, the URL for the product should be the following :
```{category:/}{id}{-:id_product_attribute}-{rewr

[2020-04-23 10:29] sarahdib opened #18776 "BO - Error in console in order page"
#### Describe the bug

There is some error in the console when we go to order page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.7.x
2. Open the console
3. Go to back office > order
4. See error
<img width="568" alt="Capture d’écran 2020-04-23 à 12 27 48" src="https://user-images.githubusercontent.com/3034677/80089236-e47be900-855d-11ea-96d2-d2752c651b2e.png">
5. Op

[2020-04-23 10:38] khouloudbelguith commented on #18264
Hi @adi5497,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-23 10:38] #18264 closed, assigned to nobody

[2020-04-23 10:39] khouloudbelguith commented on #18255
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-23 10:39] #18255 closed, assigned to nobody

[2020-04-23 10:45] salvacal commented on #18762
V. 1.7.6.5 but I checked also on V. 1.7.6.4 same issue. Check at https://rosabakehouse.com
Thank you

[2020-04-23 10:47] khouloudbelguith commented on #18595
Hi @preoteasa,

Sorry for the late answer.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following a

[2020-04-23 10:55] khouloudbelguith commented on #18601
@web-plus,

I tried again with 1765 and 4 stores with different themes and they are ok.
https://drive.google.com/file/d/1oA2p2FTk22OBBTq9RrRIQkQs5oxWGkDa/view?usp=sharing
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to

[2020-04-23 10:55] #18601 closed, assigned to nobody

[2020-04-23 11:00] khouloudbelguith commented on #18684
Hi @yuxiayuzhou,

I did not manage to reproduce the issue with PS1.7.6.5.
![image](https://user-images.githubusercontent.com/16067358/80091857-1e4eee80-8562-11ea-97dc-5a4f593a98a1.png)
It is not a PrestaShop core issue, it is related to the API.
You can follow the PrestaShop status [here](http://status.prestashop.com/).
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-04-23 11:00] #18684 closed, assigned to nobody

[2020-04-23 11:07] Progi1984 commented on #18031
Fixed by #18200

[2020-04-23 11:07] #18031 closed, assigned to LouiseBonnard

[2020-04-23 11:15] karsttuinstra opened #18777 "Add HS code in PrestaShop (classifying traded products) - Harmonized System Codes"
#### Is your feature request related to a problem?

As you can read in a blog post from Prestashop themselves the HS code is very important for international shipments and this importance will only increase due to ITMATT, Brexit and the VAT abolishment:
https://www.prestashop.com/en/blog/importance-transparency-cross-border-transactions

#### Describe the solution you'd like

Add field for HS code

[2020-04-23 11:18] khouloudbelguith commented on #18667
Hi @yuxiayuzhou,

Sorry for the late response.
Could you please navigate to your BO => Modules => Module Catalog page => search for the `ps_advertising` module.
![image](https://user-images.githubusercontent.com/16067358/80092349-ee541b00-8562-11ea-866a-d44f85d4d69e.png)
You can find it the module on [GitHub](https://github.com/PrestaShop/ps_advertising/releases).
[ps_advertising.zip](https://gith

[2020-04-23 11:19] Progi1984 commented on #18414
Fixed by #18464

[2020-04-23 11:19] #18414 closed, assigned to matthieu-rolland, khouloudbelguith

[2020-04-23 11:21] khouloudbelguith commented on #18699
Hi @Frankie-IT,

As you can see in your screen record
![image](https://user-images.githubusercontent.com/16067358/80093699-45f38600-8565-11ea-8de3-c6c09d616473.png)
It is a theme issue.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-04-23 11:21] #18699 closed, assigned to nobody

[2020-04-23 11:33] web-plus commented on #18601
I'm sorry, but I don't see how your video proofs that what I reported is working. On your video, I see that shop 2 a 3 has broken header layout. That's one of issues that I described. Also, I don't see you testing that one of your themes includes some tpl file, which doesn't exist in any other theme...

[2020-04-23 11:43] 01park commented on #18772
I tried, but still need to reset Apache

[2020-04-23 11:43] khouloudbelguith commented on #18601
@web-plus, as I said this issue was fixed in the next version 1.7.7.x with this PR: https://github.com/PrestaShop/PrestaShop/pull/13804 to fix shared smarty compilation ID across shops / themes.

Thanks!

[2020-04-23 11:51] Betafer commented on #9866
Is not a module problem it'a prestashop problem, and the solution in the page you indicated is a workaround not a fix.

[2020-04-23 12:02] florine2623 commented on #18777
Hi @karsttuinstra ,
Thansk for your request.
I will ping our Product Team, they will make a decision regarding your request.
Thanks !

[2020-04-23 12:04] florine2623 commented on #18777
Hi @PrestaShop/prestashop-product-team

@karsttuinstra would like to have added fields for Harmonized System Code. The article posted in 2015 on our blog suggests the use of those for international trade.

What do you think about this request ?

Thanks !

[2020-04-23 12:06] khouloudbelguith commented on #18700
Hi @IranDec,

I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.4.
![image](https://user-images.githubusercontent.com/16067358/80096840-89042800-856a-11ea-8f56-500ec663f27b.png)

https://drive.google.com/file/d/1zSaREcGesPX8zds8ffTaU-EC2fvjO4D0/view
Reported previously here:
http://forge.prestashop.com/browse/BOOM-4438
Fixed Previously with those PRs:
1. https://github.com/PrestaShop/Pres

[2020-04-23 12:19] LouiseBonnard commented on #18701
Very clear, thanks. One solution could be to precise each field, see example below. What do you think?

![Capture d’écran 2020-04-23 à 14 17 09](https://user-images.githubusercontent.com/32565890/80098568-66274300-856d-11ea-8652-bb5b89e20031.png)

[2020-04-23 12:21] florine2623 commented on #18772
Here are a few things to try and to check :
- clear all cache both manually and from your FTP
- regarding Smarty cache, enable only if a modification has been done
- activate the cache
- deactivate all overrides and module not developed by PrestaShop
- check in Positions if you have hooked modules that are not used. These might send queries in the background hence the latency

[2020-04-23 12:27] florine2623 commented on #18762
When you are on a product page and want to connect, it actually redirects you to your account.

[2020-04-23 12:30] sam-pires commented on #18744
I did reproduce it on 1.7.6.x

I couldn't test on 1.7.7.x as I can't create an order from the BO

[2020-04-23 12:33] florine2623 commented on #18765
Hi @EukaPS ,
Could you change PHP version to 7.2. PS 1.7.6.5 is available with 7.2.
You can have more info here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-04-23 12:49] lolath-presta opened #18779 "[Wishlist 1.7] Add an item to a wishlist"
As a logged-in user I can add a product to the favorites from the product sheet or any other navigation page with product blocks in a wishlist.

**Specifications details :** https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.z7kd61kwmzqt

**Design :** https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/412354283

[2020-04-23 13:01] lolath-presta opened #18780 "[Wishlist 1.7] See my saved favorites items"
1. As a logged-in user I can view and sort my favourite products.
2. As a logged-in user I can see how many of my favourite products are in a wishlist.

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.3uwqeomy9upw

Design : https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/412699586

[2020-04-23 13:07] lolath-presta opened #18781 "[Wishlist 1.7] Edit and delete a favorite item"
As a logged-in user, I can edit and delete a favourite product.

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.9cu7p4o5o4x5

Desktop design : https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/413193096
Mobile design : https://projects.invisionapp.com/d/main?origin=v7#/projects/prototypes/19575472?scrollOffset=2901

[2020-04-23 13:10] lolath-presta opened #18782 "[Wishlist 1.7] Add a favorite product to cart"
**As a logged-in user, I can add a favourite product to the shopping cart.**

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.filtgrmbe6dn

Desktop design : https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/413193096
Mobile design : https://projects.invisionapp.com/d/main?origin=v7#/console/19575472/413195192/preview

[2020-04-23 13:42] lolath-presta opened #18783 "[Wishlist 1.7] Create a new wishlist"
**1. As a logged-in user, I can create a wishlist from the Wishlist area in My Account by clicking on New wishlist.
2. As a logged-in user, I can create a wishlist from the product page or from the product blocks (in the navigation pages).**

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.z6spb3cbd3dd

Desktop design : https:

[2020-04-23 13:46] lolath-presta opened #18784 "[Wishlist 1.7] Modify and delete a wishlist"
**As a logged-in user, I can edit a wishlist that I have created.**

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.ko7bcxp6j38w

Desktop design : https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/412699587
Mobile design : https://projects.invisionapp.com/d/main?origin=v7#/console/19575472/412358493/preview?scrollOf

[2020-04-23 13:50] lolath-presta opened #18785 "[Wishlist 1.7] Share a wishlist"
1. As a logged-in user, I can get a link to share a list
2. As a user of the site (connected or not), I can open the wishlist of another user in a dedicated page/with a public url.

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.mj2i3cdzu0qs

Desktop design : https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/4127021

[2020-04-23 13:54] EukaPS commented on #18765
Hello, thanks for your reply.
I've changed for PHP 7.2 but the issue seems still here.
Here is how to reproduce :

1/ With the default product route pattern ({id}{-:id_product_attribute}-{rewrite}.html), everything is ok, this product (with combination) page is working :
http://mywebsite.local/fr/3-26-myproduct.html#/1-interior-red/30-exterior-blue

2/ When I switch the product route pattern to {r

[2020-04-23 13:55] lolath-presta opened #18786 "[Wishlist 1.7] Configure the module and view statistics"
**1. As a merchant I can change the wordings.
2. As a merchant I can view statistics**

Specifications details : https://docs.google.com/document/d/1VVvudmIFIgc2pRXdy5eES9J9XRjJCQSWsZ2RFgJeGkM/edit#heading=h.dhytw6kh9hlx

Desktop design :
https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/412284846
https://projects.invisionapp.com/share/43WEL7XMU2W#/screens/412284844

[2020-04-23 14:00] khouloudbelguith commented on #18675
Hi @Sascha211,

I did not manage to reproduce the issue with PS1.7.6.5.
I attached a screen record
https://drive.google.com/file/d/1slh01lNJDE1BodYHODVfEq-vGVTjRsUc/view?usp=sharing
Thanks to check it.

Related to this issue: https://github.com/PrestaShop/PrestaShop/issues/18171, it is added to our bug roadmap.

Thanks!

[2020-04-23 14:03] khouloudbelguith commented on #18596
Hi @Tonio1987,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16822
So, I close it.
Thanks!

[2020-04-23 14:03] #18596 closed, assigned to nobody

[2020-04-23 14:03] khouloudbelguith commented on #18596
Duplicate of #16822

[2020-04-23 14:14] florine2623 commented on #18742
Hi @shaffe-fr ,
I tested on PS 1.7.6.5 and I've chosen to get 45€ refund on that order (third option) :
![Capture d’écran 2020-04-23 à 15 58 26](https://user-images.githubusercontent.com/16019289/80107619-9b3a9200-857b-11ea-94d9-9570ee3569a2.png)
The credit slip I have :
![Capture d’écran 2020-04-23 à 16 08 10](https://user-images.githubusercontent.com/16019289/80108843-0cc71000-857d-11ea-86cd

[2020-04-23 14:18] Progi1984 commented on #18527
Fixed by #18566

[2020-04-23 14:18] #18527 closed, assigned to sarahdib, NeOMakinG

[2020-04-23 14:18] Progi1984 commented on #18387
Fixed by #18445

[2020-04-23 14:18] #18387 closed, assigned to NeOMakinG

[2020-04-23 14:25] florine2623 commented on #18760
_Could duplicated products do such issue ?_
No. I tried with duplicate products with same name, it works correctly.

_In product SEO option / Friendly url window looks like that:
"koszula-venerdi"
But in link ID is ofc different._
I don't understand what you mean, please specify.

_Presta could automatically add numbers to all of those due to same Friendly url name in SEO?_
No, I've tried andmy du

[2020-04-23 14:31] khouloudbelguith commented on #18382
HI @ianronald,

Could you please check if the `iconv` extension is well installed in your server.

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
[phppsinfo.php.zip](https://gith

[2020-04-23 14:32] khouloudbelguith commented on #18624
Hi @emilieatelier,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-04-23 14:32] khouloudbelguith commented on #18624
Hi @emilieatelier,

English is the norm on the GitHub
Thank you!

[2020-04-23 14:40] khouloudbelguith commented on #16634
Hi @kmorgen,

Can you please provide us the **new** log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
What is the exact version of the 1-click upgrade did you use to make an upgrade from PS1.7.6.4 to PS1.7.6.5?

Thanks!

[2020-04-23 14:43] khouloudbelguith commented on #18726
Hi @ptidav,

I did not manage to reproduce the issue with PS1.7.6.5 and the ps_facetedsearch v3.5.0.
I attached a screen record
https://drive.google.com/file/d/1NOP6-aLEjoKCeYqVqznp3zaCT7yLQOfj/view?usp=sharing
You module is it overridden by your theme? could you please check with your theme author and feedback.

Thanks!

[2020-04-23 14:54] ptidav commented on #18726
@khouloudbelguith
re-read my problem : i've the bug IF i open a product sheet or i browse the products pages.
Just apply filters and disable/reset them without open a product sheet or navigate functions normally.

[2020-04-23 14:57] GTriber commented on #18760
I have attached SEO option of same product.

Product 1 name: Koszula meska Venerdi, so link should be: /927-koszula-meska-venerdi.html
But that link gave me 404.
If i add that strange number at the end /927-koszula-meska-venerdi1581.html it works

![Screenshot_2020-04-23 Produkt • Sklep sportowy Odyssey333](https://user-images.githubusercontent.com/60825638/80113132-3171b680-8582-11ea-9123-394f0d8

[2020-04-23 15:02] LouiseBonnard commented on #18740
Hi all, the great @marionf has managed to reproduce this bug, see screenshot in the issue description. It is a regression, introduced by the 1.7.7. @shaffe-fr, would you mind rebasing your pull request on the 1.7.7.x branch?

Regarding the required fields you can set at the end of the Customers > Addresses page, if you experienced the same bug, please open a new issue so that it can be qualified b

[2020-04-23 15:07] githubpages0815 opened #18788 "Docker Setup faulty?"
#### Describe the bug

After checking out the Repository's master and running docker-compose, he images are setup, composer install ist run and apchae is started.

#### Expected behavior

I expected to be able to use the shop now for development.
But instead I am greeted with a nice error message:

#### Steps to Reproduce

Steps to reproduce the behavior:

1. clone Repository (git clone https://gi

[2020-04-23 15:12] eternoendless opened #18789 "Fatal error when trying to update an order through WS"
#### Describe the bug

Whenever we modify an order through web service, we get a fatal error:

[code]

Looks like `Context::currency` is not set when in the Web service context. So when we try and get the computing precision in `Context::getComputingPrecision()`, there's an error because currency is null.

That property is usually set by a controller AFAIK - since in WS there's no controller, that

[2020-04-23 15:22] colinegin commented on #18027
I close this issue, please follow this one to get updated on whishlist module development :https://github.com/PrestaShop/PrestaShop/issues/11277

[2020-04-23 15:22] #18027 closed, assigned to nobody

[2020-04-23 15:22] marionf commented on #18744
On 1.7.7.x there is no issue we well see "free shipping" and the amount of the amount of the discount is the same as the amount of the shipping

![capture d'écran_2566](https://user-images.githubusercontent.com/13449658/80117061-0047b500-8587-11ea-94b2-7dd7ff69fa46.png)

[2020-04-23 15:25] marionf commented on #18744
Duplicate of #9702

[2020-04-23 15:26] marionf commented on #18744
Fixed in 1.7.7 by https://github.com/PrestaShop/PrestaShop/pull/16235

[2020-04-23 15:26] #18744 closed, assigned to nobody

[2020-04-23 15:27] florine2623 commented on #18760
Earlier you wrote that the product route is : ```{category:/}{id}-{rewrite}{id_product_attribute}```
Can you check for your product the ```id_product_attribute``` to see if it matches with what you have at the end of the URL ?

[2020-04-23 15:27] crabbi33 commented on #18729
`Hello`

1) i create a file cc.php with the 2 command
[code]
2) i put it in the root

3) i execute it

4) got

Parse error: syntax error, unexpected 'memory_limit' (T_STRING) in /homepages/6/d745525897/htdocs/presta/bonjour.php on line 3
'''

[2020-04-23 15:32] khouloudbelguith commented on #18729
@crabbi33,

The file `bonjour.php` is a custom file.

Thanks!

[2020-04-23 15:36] crabbi33 commented on #18729
sorry wrong link

if i execute cc.php, got :

Parse error: syntax error, unexpected 'memory_limit' (T_STRING) in /homepages/6/d745525897/htdocs/presta/cc.php on line 3

[2020-04-23 15:50] Nesta78 opened #18790 "Order confirmation email - Missing product list"
In 1.7.6.5, when the customer receive order confirmation by email, there is no product list details.

<img width="697" alt="Capture d’écran 2020-04-23 à 15 59 29" src="https://user-images.githubusercontent.com/64215260/80120073-c7114400-858a-11ea-90af-ed5b05c5f7df.png">

Any tips ?
Thank you !

Prestashop version: 1.7.6.5

[2020-04-23 15:50] khouloudbelguith commented on #18729
@crabbi33,
Can you please try to execute those commands without creating a file.
You can run them using a terminal.

Thanks!

[2020-04-23 15:58] florine2623 commented on #18765
Thanks for the details !
I've tried what you said on Apache server :
- default product route pattern ({id}{-:id_product_attribute}-{rewrite}.html) -> OK
- new product pattern {rewrite}-{id}{-:id_product_attribute}.html -> OK
- Friendly URL OFF -> OK

For nginx configuration, here's the file you can use to customize your server configuration : https://github.com/PrestaShop/PrestaShop/blob/develop/d

[2020-04-23 16:00] khouloudbelguith commented on #18726
@ptidav, thanks for these clarifications.
I tried again, but it is ok.
I attached a new screen record
https://drive.google.com/file/d/14lMEP9zBnlT7L77u1gIn8vcZzyEDhog9/view?usp=sharing
Thanks to check and feedback.

[2020-04-23 16:02] sam-pires commented on #14976
Hi @thbl,
We are thinking about it ;)
Nothing planned yet but we'll discuss it in the coming weeks/months

[2020-04-23 16:04] florine2623 commented on #18761
Also, enable debug mode to see what the specific error is please.

[2020-04-23 16:08] ptidav commented on #18726
Ok it is working for you.
For me same issue with classic theme.
Prestashop has been installed from 1.7.6.3 directly, it's not an upgrade.
I use a professional theme, the developper tell me, as you, he doesn't have this issue.

if someone could tell me where i must begin to investigate to check filter behavior ?....

Thanks

[2020-04-23 16:13] khouloudbelguith commented on #18741
Hi @Spidlace,

I did not manage to reproduce the issue with PS1.7.6.5 and the Product Comments module v4.0.1.
I attached a screen record
https://drive.google.com/file/d/14lMEP9zBnlT7L77u1gIn8vcZzyEDhog9/view?usp=sharing
Did you use a custom theme, is it?
You have other issues
![image](https://user-images.githubusercontent.com/16067358/80122602-0d1bd700-858e-11ea-9c3c-73751343c176.png)
 Thanks to c

[2020-04-23 16:16] crabbi33 commented on #18729
Sorry but i don't know how i can do it ....

[2020-04-23 16:18] matks commented on #10620
Will be done by https://github.com/PrestaShop/PrestaShop/pull/17215

[2020-04-23 16:18] matks commented on #10621
Will be done by https://github.com/PrestaShop/PrestaShop/pull/17215

[2020-04-23 16:18] matks commented on #10619
Will be done by https://github.com/PrestaShop/PrestaShop/pull/17215

[2020-04-23 16:20] khouloudbelguith commented on #18710
@burakgit, what is the exact tool did you use to make an upgrade to the PS1.7.6.4.
Is it the 1-click upgrade? if yes, what is the exact version did you use? have you any errors during the upgrade?

Thanks!

[2020-04-23 16:24] khouloudbelguith commented on #18612
Hi @Pierpaolo-Petros,

What is the exact module did you try to translate it, is it provided by PrestaShop?

Thanks!

[2020-04-23 16:25] florine2623 commented on #18768
Hi @Hlavtox ,
By service pages, do you mean those that you can checkmark ?
![Capture d’écran 2020-04-23 à 18 23 03](https://user-images.githubusercontent.com/16019289/80123804-ae575d00-858f-11ea-98f0-dc961412da54.png)

And when you talk about addresses, are you talking about the URL of the pages ?

Could you send me a screenshot of the exact message Google Search Console is sending you ?

Thanks

[2020-04-23 16:26] khouloudbelguith commented on #18698
Hi @rdy4ever,

Is it the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/17346?

Thanks!

[2020-04-23 16:37] florine2623 commented on #18788
Hi @githubpages0815 ,

Have you tried this command ```docker pull prestashop/prestashop``` ?

You can find more info here :
https://hub.docker.com/r/prestashop/prestashop/

Please check and let me know

[2020-04-23 16:42] rdy4ever commented on #18698
Hi @khouloudbelguith
No, it's not the same issue, but now that I think about it is more of a feature request then a bug report. For most configs, if you use the same server to send email this is not so much of a problem, as e-mail sending would be almost just as fast as the site responce. But if you're sending mail through a relay and that relay responds slower than your server - then you have a p

[2020-04-23 16:50] GTriber commented on #18760
Full link on the shop is: /933-koszula-meska-venerdi1591.html#/507-rozmiar-39_176_182_cm_
 So id_product_attribute would be /507-rozmiar-39_176_182_cm_

[2020-04-23 17:00] khouloudbelguith commented on #18750
Hi @vadrien1999,

Thanks for your feedback.
Did you use the Classic theme provided by PrestaShop or custom theme?

Thanks!

[2020-04-23 17:10] vadrien1999 commented on #18750
hello, this is a custom theme, called Angarthème. But I can provide you with the information you need without worry.

[2020-04-23 17:14] khouloudbelguith commented on #18698
@rdy4ever, thanks for your feedback.
Ping @PrestaShop/prestashop-product-team what do you think about this improvement ?

Thanks!

[2020-04-23 17:16] khouloudbelguith commented on #18729
@crabbi33,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev). and try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check and feedback.

[2020-04-23 17:17] khouloudbelguith commented on #18726
@ptidav,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-04-23 17:30] alfonsolr09 commented on #18744
@marionf perfect, when will final version 1.7.7 be released??

[2020-04-23 17:33] khouloudbelguith commented on #18750
@vadrien1999,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
In the meantime can you try to switch your shop to the Classic theme and check if you ave the same issue.

Thanks!

[2020-04-23 18:25] ptidav commented on #18726
I found the source of this issue. It's due to a seo module.
I realized it by looking at the browser address bar, when i remove the filters, the url is badly modified...
I'll contact the developper

[2020-04-23 18:34] crabbi33 commented on #18729
Done without succes.....

[2020-04-23 19:09] Pierpaolo-Petros commented on #18612
Grazie a te. @khouloudbelguith
Si e diverso il primo lo risolto tramite il provider del server.

Dopo la risoluzione di questo problema ho fatto un check del BO e ho riscontrato quest'altro errore 500 nella traduzione dei moduli, tutti i moduli mi capita questo error 500,
ho fatto delle ricerche e forse sono riuscito a trovare la soluzione ma essendo alle prime esperienze non vorrei modificare il

[2020-04-23 19:16] Gipielle commented on #18732
Yes, correct

[2020-04-23 19:20] Gipielle commented on #18727
also if in title there is a ( ” ) it is reported in url with the reset url button

Try this as title:
Gépi dugókulcs 3/4” mama standard foszfátozott - Beta 728AS - Betafer

you got the error.

[2020-04-23 20:18] EukaPS commented on #18765
@khouloudbelguith As you added a bug flag, it seems related to the PS core and not the nginx configuration right ? Thanks for your help !

[2020-04-23 20:22] burakgit commented on #18710
it is not one click update, commercial one. i fixed it accidently, it is caused by one module. But i used deactive all thirdaprty modules ect, if i completly uninstall it is fixed..
thank you.

[2020-04-23 20:57] didi-2018 opened #18791 "login to Addons Marketplace not possible"
Hello,

since today I can not login to Addons Marketplace. I am registered there since 2017 and my password is since ever 5 characters long. Now I can not login cause the password should be at least 8 characters long. I should verify my mailadress first (?) but no link is send to verify it. And the password forgotten link is not send too. I tried a few time but nothing happens:

https://drive.goog

[2020-04-23 21:36] githubpages0815 commented on #18788
Thanks you for your hint. I tried that, and that image was updated.
Problem still remains.

I guess my question is: How can I have a local checkout running in a docker container for local development?
This is not explained more closely. Or I am doing it wrong :/

[2020-04-23 22:01] Leous88 opened #18793 "Mail settings"
original text is in spanish - translated
Hello, it seems awkward to me that all the mail configuration part is always visible from the customer service panel, these options should be in store configuration or another. since if only the personnel who see customer service activated this profile, without administration or modification of the store's own structure, this section is still there, it cann

[2020-04-23 22:52] banobazaar opened #18794 "new category not showing up"
i have created a new category not showing up,
please guide how to get it enabled

* PrestaShop version: 1.7.6.5

[2020-04-24 06:16] Nietnagel commented on #18701
i think this is a very good solution. Thanks for your support!

[2020-04-24 06:17] Nietnagel commented on #18702
yes of course. i changed the translation in the International > Translations section of the back office

[2020-04-24 06:31] mcube27 opened #18795 "Can't install theme in dev but use it in prod"
#### Describe the bug

I use a theme in production and in order to modify its assets for my child theme I tried to install it in dev mode on my computer.

Prestashop works fine with classic theme, the theme can be uploaded with the zip.

When I choose to use the theme, it does not load and show a connection reset page.

If I reload it, it show this :
![image](https://user-images.githubusercontent.

[2020-04-24 06:48] jyothi0093 opened #18796 "Css and JS are not loaded"
hi i'am able to install the project but, not able to load the assets(js and css),theme as make assets always fails.
and if i run docer compose up also i get the connectivity issue

[2020-04-24 07:34] florine2623 commented on #18791
Hi @didi-2018 ,
You need to click 'Forgot your password' and create a new one and then connect with that new password.
Little reminder that PrestaShop GitHub is a platform where you can report bug or feature request. Not Addons Marketplace question.

[2020-04-24 07:34] #18791 closed, assigned to nobody

[2020-04-24 07:36] florine2623 commented on #18794
Hi @banobazaar ,
What do you mean the category is not showing ? In the BO or in the FO ?
Thanks

[2020-04-24 07:38] florine2623 commented on #18793
Hi @Leous88 ,
What do you mean the mail config part is always visible ? Do you mean in the Back-office or in the shop directly ?
What version of PrestaShop are you using ?
Thanks!

[2020-04-24 07:46] florine2623 commented on #18796
Hi @jyothi0093 ,
What version are you using ?
Do you have a specific error ?

[2020-04-24 07:56] jyothi0093 commented on #18796
binding.target.mk:131: recipe for target
'Release/obj.target/binding/src/create_string.o' failed
make[1]: *** [Release/obj.target/binding/src/create_string.o] Error 1
make[1]: Leaving directory
'/opt/lampp/htdocs/PrestaShop/themes/classic/_dev/node_modules/node-sass/build'
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit
(/opt/lam

[2020-04-24 07:57] florine2623 commented on #18795
Hi @mcube27 ,
I could not manage to reproduce your issue.
When I do it, it works fine for theme classic and PS 1.7.6.5.
What did you change in the theme ? Is the theme compatible with your PS version ?

[2020-04-24 08:01] khouloudbelguith commented on #18612
Hi @Pierpaolo-Petros,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-04-24 08:02] khouloudbelguith commented on #18710
Hi @burakgit,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-04-24 08:02] #18710 closed, assigned to nobody

[2020-04-24 08:10] florine2623 commented on #18790
Hi @Nesta78 !
What version of PHP are you using ?
Do you use any module regarding the products/emails ?
Thanks!

[2020-04-24 08:11] didi-2018 commented on #18791
@florine2623 Hi, NONE of this functions are working. NOTHING happens. This is why I asked here. I thought you also care about the Addons Marketplace.

[2020-04-24 08:11] sam-pires commented on #18726
Thanks @ptidav

[2020-04-24 08:11] #18726 closed, assigned to nobody

[2020-04-24 08:12] florine2623 commented on #18796
Are you using docker ?

[2020-04-24 08:13] didi-2018 commented on #18791
@florine2623  the module catalog in Prestashop is not working too cause of this bug.
![image](https://user-images.githubusercontent.com/44971218/80190269-4e56ca00-8614-11ea-8f6f-a0935902ab17.png)

[2020-04-24 08:16] didi-2018 commented on #18791
@florine2623   one ERROR Log after another:

[2020-04-23 23:09:19] app.ERROR: Data from PrestaShop Addons is invalid, and cannot fallback on cache.  {"exception":"Client error response [url] https://api-addons.prestashop.com?format=json&iso_lang=de&iso_code=DE&version=1.7.6.3&shop_url=http%3A%2F%2Fmadamedessous.com&method=listing&action=customer&username=sale%40madamedessous.com&password=Modul [st

[2020-04-24 08:18] Nesta78 commented on #18790
Hi and thank you for the answer !
I'm using 7.2 php. version. And it's a fresh installation. I'm using a few modules, but none are related to products or emails I think.
So it's not a known bug ?
Thank you :)

[2020-04-24 08:21] jyothi0093 commented on #18796
if i use docker i get this error
*Link to database cannot be established: SQLSTATE[HY000] [2002] No such
file or directory*

On Fri, Apr 24, 2020 at 1:43 PM florine2623 <notifications@github.com>
wrote:

[2020-04-24 08:25] khouloudbelguith commented on #18765
Hi @EukaPS,

I just added the `Bug` label because the type of this issue is a bug and not a feature.
![image](https://user-images.githubusercontent.com/16067358/80191368-dee1da00-8615-11ea-9db8-ff526f395cf6.png)

Thanks :wink:

[2020-04-24 09:00] Veiss opened #18798 "Error getting Cart delivery zone"
#### Describe the bug

In an order an error has occurred in the calculation of shipping costs. We have verified that the carrier is correct and the province of the address was also correct, even so the order has been saved with € 0 of shipping costs when they should be 10€.
Carriers are correctly configured with their price ranges and zones.

Investigating the error we have come to the problem, fo

[2020-04-24 09:01] florine2623 commented on #18760
Could you screenshot the FORMAT URL in SEO & URL ?

[2020-04-24 09:02] matks commented on #18573
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18635

[2020-04-24 09:02] #18573 closed, assigned to zuk3975

[2020-04-24 09:10] Pierpaolo-Petros commented on #18612
HI @khouloudbelguith
Sorry I'm new, but I'm a fast learner.
Thanks for the support.

Yes and different the first is solved through the server provider.

After solving this problem I did a BO check and found this other error 500 in the translation of the modules, of all the modules I found error 500,
I've done some research and maybe I found the solution but being at the first experiences I don't w

[2020-04-24 09:12] SD1982 commented on #18719
Hello @marionf  In 1.7.5 the behaviour is slightly different :
- The new product is correctly added to the new invoice
- But the base price field is also unfilled

**Invoice 1**
![invoice1-1752](https://user-images.githubusercontent.com/40635814/80195531-48fd7d80-861c-11ea-8545-966758ee7328.png)

**Invoice 2**
![invoice2-1752](https://user-images.githubusercontent.com/40635814/80195543-4ef35e80-86

[2020-04-24 09:19] florine2623 commented on #18790
I've tried with a fresh install of PS 1.7.6.5 and PHP 7.2., it works correctly :
![Capture d’écran 2020-04-24 à 11 06 51](https://user-images.githubusercontent.com/16019289/80195128-b78e0b80-861b-11ea-831c-9a0d69509332.png)

Can you check if you have the file ```/mails/your_language_order_conf_product_list.tpl``` via FTP ?

[2020-04-24 09:23] florine2623 commented on #18798
Hi @Veiss ,
Could you give me the exact steps to reproduce your issue please ?
Example :
- Go to Delivery > Carriers
- Create Carrier
- Create price range

Thanks!

[2020-04-24 09:25] Nesta78 commented on #18790
Ok thank you, so it's a problem with my installation ...
Here are files I've got.

<img width="1185" alt="Capture d’écran 2020-04-24 à 11 23 49" src="https://user-images.githubusercontent.com/64215260/80196897-3e43e800-861e-11ea-95bb-ae93b485bb37.png">

<img width="1185" alt="Capture d’écran 2020-04-24 à 11 24 06" src="https://user-images.githubusercontent.com/64215260/80196923-44d25f80-861e-11ea-

[2020-04-24 09:29] florine2623 commented on #18790
Can you try adding these files in your folder ?
[Archive.zip](https://github.com/PrestaShop/PrestaShop/files/4527914/Archive.zip)

Let me know if it works.

[2020-04-24 09:32] Nesta78 commented on #18790
Into this folder ?

<img width="979" alt="Capture d’écran 2020-04-24 à 11 31 51" src="https://user-images.githubusercontent.com/64215260/80197666-3afd2c00-861f-11ea-969c-c5719d527eb4.png">

Even if there is no other .tpl in the folder ?

[2020-04-24 09:32] florine2623 commented on #18790
Yes !

[2020-04-24 09:34] Nesta78 commented on #18790
You are the best !
It's working now :)

A huge thank you to you !

[2020-04-24 09:38] Nesta78 commented on #18790
Do you know if it's possible to add product image in the email ?

[2020-04-24 09:39] Veiss commented on #18798
@florine2623
Hi, i try to explain:
First you have to create a carrier with two range price like from 0.000€ to 37.999€ and other range from 38.00€ to 99999€ for example. Then in that carrier there will be two available zone one Spain peninsula, and other Spain not peninsula, like balears islands. The shipping cost for Spain peninsula from 0€ to 37.99 are 4.9€ and up to 38€ free shipping, in last z

[2020-04-24 09:51] EukaPS commented on #18765
@khouloudbelguith Thank your for answering. I've seen that you do some of your tests on docker/nginx-fpm. Would it be possible for you to test - edit the product route pattern - just to let me know if you can reproduce or not with the default nginx configuration ? Thanks for helping, have a great day.

[2020-04-24 09:54] GTriber commented on #18760
hello,

I have 968 product to check. After 5 pages ( around 100 products ) 20+ gives 404 error and need to add silly numbers.

![Screenshot_2020-04-24 SEO URL • Sklep sportowy Odyssey](https://user-images.githubusercontent.com/60825638/80199049-2f126980-8621-11ea-9528-a7fd8981a1ef.png)

![Screenshot_2020-04-24 Wszystkie2](https://user-images.githubusercontent.com/60825638/80200033-561d6b00-8622-11

[2020-04-24 09:57] florine2623 commented on #18790
You're welcome !

It is possible, but you will have to contact a PrestaShop agency of PrestaShop support so they can help you !
https://www.prestashop.com/en/experts
https://addons.prestashop.com/en/388-support

Thanks !

[2020-04-24 09:57] #18790 closed, assigned to nobody

[2020-04-24 10:03] florine2623 commented on #18796
I'm asking that because in your first message you said "if i run docer compose".
So what is your preferred way of installing PrestaShop ? Docker ? Apache server ? Other ?

For that error :
_Link to database cannot be established: SQLSTATE[HY000] [2002] No such
file or directory_
It means that you can't connect to your database, you need to verify the file /app/config/parameter.php and make sure th

[2020-04-24 10:06] jyothi0093 commented on #18796
Prefferee way is docker, my db credentials are correct even though im not
able to install

On Fri, Apr 24, 2020, 3:33 PM florine2623 <notifications@github.com> wrote:

[2020-04-24 11:16] alfonsolr09 opened #18801 "Improve how discounts are displayed in cart summary when using vouchers"
I think it would be better if the "discount (s)" section were eliminated
and added where the coupon is applied, see the images

(this https://youtu.be/w2giZcOWzAU is the bug on presta 1.7.6, but in presta 1.7.7 the bug was solved but i think that can can be improved even more)

my idea
before (1.7.7): https://imgur.com/8h5GsWZ
after: https://imgur.com/a/lSLsMtB

#### Expected behavior

https://img

[2020-04-24 11:33] alfonsolr09 opened #18802 "Be able to add more than one email in the contact section"
#### Is your feature request related to a problem?

I think it would be a good idea that several emails can be put in contact with the store and that when a customer contacts from the form, prestashop sends the email to several people

#### Describe the solution you'd like

be able to put multiple emails

#### Alternatives you've considered

#### Additional context

![imagen](https://awesomescreen

[2020-04-24 11:47] alfonsolr09 opened #18803 "pay an extra product by adding it to the customer from the bo in an already paid order"
#### Describe the bug

Currently if you add a product to an order that has already been paid, the customer cannot pay the amount that remains to be paid

#### Expected behavior

When I add a product to an order that has already been paid, there should be an option to send an email to the customer so that they can pay the amount that remains to be paid.
#### Steps to Reproduce

Steps to reproduce t

[2020-04-24 12:23] shaffe-fr commented on #18742
I was talking about the tax breakdown, on your screenshot the total tax is 5.83€.

[2020-04-24 12:33] khouloudbelguith opened #18805 "New invoice not displayed in the "Add new cart rule" block if you don't refresh the page"
#### Describe the bug

New invoice is not displayed in the "Add new cart rule" block if you don't refresh the page

#### Expected behavior

Display new invoice in the "Add new cart rule" block without having to refresh the page, as in legacy

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders > orders
2. Click on View for an order in "payment accepted" status
3. Add a produ

[2020-04-24 12:36] clotairer opened #18806 "Improve CategoryChoiceTreeType to add a "check all button" feature"
#### Is your feature request related to a problem?

CategoryChoiceTreeType render something like that.

![image](https://user-images.githubusercontent.com/52157233/80212656-2e390200-8638-11ea-8242-469d7ddb76a4.png)

With helper form (previous UI kit) the equivalent "tree_categories" render something like that:

![image](https://user-images.githubusercontent.com/52157233/80212802-76f0bb00-8638-11ea

[2020-04-24 12:46] shaffe-fr commented on #18740
Hi @LouiseBonnard, the PR is updated.
About the required fields set in the database, I'll check if there is an issue and I'll create a new issue and PR.

[2020-04-24 12:54] khouloudbelguith opened #18807 "Invoices -A discount is applied on one invoice but it is displayed in all invoices"
#### Describe the bug

When we apply a discount on one invoice only, it is displayed on all invoices

#### Expected behavior

Ping @PrestaShop/prestashop-product-team we need to specify this behavior
PS: with PS1.7.6 we have two cases:
1. If we add the discount to the first invoice created => we have the same issue, the discount block is displayed in other invoices
2. If we add the discount to the

[2020-04-24 12:59] khouloudbelguith commented on #9653
Hi,

Your ticket is a duplicate of #18807
So, I close it.
Thanks!

[2020-04-24 12:59] #9653 closed, assigned to nobody

[2020-04-24 12:59] khouloudbelguith commented on #9653
Duplicate of #18807

[2020-04-24 13:07] PrestaworksNiklas opened #18808 "Deprecated Tools::ps_round in favor of PrestaShop Decimal"
#### Describe the bug

The Tools::ps:round function rounds to 0 precision if no parameter is sent.

#### Expected behavior

The function should round to precision chosen in config, as it is written in the comment for the function.

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: N/A

[2020-04-24 13:33] khouloudbelguith commented on #18765
Hi @EukaPS,

I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1yIQEODZmjoJetjcpnc2BV9wTDWIU-exT/view?usp=sharing
You have an issue with your configuration.
Here's my configuration
[code]
I followed this [doc](https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf)
Despite our several tria

[2020-04-24 13:33] #18765 closed, assigned to nobody

[2020-04-24 13:46] LouiseBonnard opened #18809 "Use placeholders in strings to improve the translation consistency"
#### Is your feature request related to a problem?

Some strings currently contain other strings in it, like _Your data is cached in order to sort it and filter it. You can refresh the cache by clicking on the "Refresh cache" button._. It is not ideal because:

1/ the string in the wording might change,
2/ it is therefore subject to inconsistency, especially in the translation.

So, for the 1.7, h

[2020-04-24 14:16] sarahdib commented on #18513
The PR made by @matthieu-rolland fix this issue. When the PR will be merged this issue can be closed @colinegin

[2020-04-24 14:17] colinegin commented on #18513
Amazing, thanks a lot !

[2020-04-24 14:27] EukaPS commented on #18765
@khouloudbelguith Did your test used a product containing combination ? The product URL in your video does not seems to contain the "id_product_attribute" as in my case or in the URLs accessibles from https://xxx.demo.prestashop.com/en/.

Also, have you tried to click on a color to switch to another variant ? The URL should change and contains this "id_product_attribute".

ex:
- white : https://xx

[2020-04-24 14:33] SD1982 opened #18810 "Cumulative cart Rules with %age discount don't display the correct discount amount"
#### Describe the bug

If tax rule are cumulated the total discount is correctly calculated but the display of individual discount is wrong

#### Expected behavior

The value displayed for each discount should be correct the second cart rules value has to be calculated on the total cart amount with the first cart rule included

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO

[2020-04-24 14:43] jolelievre commented on #18717
Thank you @matthieu-rolland

[2020-04-24 14:43] #18717 closed, assigned to matthieu-rolland

[2020-04-24 14:44] jolelievre commented on #18640
Closed by #18617 Thank you @matthieu-rolland

[2020-04-24 14:46] #18640 closed, assigned to SD1982

[2020-04-24 14:47] Progi1984 commented on #18513
Fixed by #18617

[2020-04-24 14:47] #18513 closed, assigned to matthieu-rolland

[2020-04-24 14:53] colinegin commented on #17976
@sarahdib this issue is supposed to be fixed thanks to the work on PR #18617 , could you test it when you have some time ? Thanks !

[2020-04-24 15:00] jolelievre commented on #18810
So to summarize the individual discounts are correct, but it's the sub total that is incorrect?
It adds 21 (tax included) + 19.90 (tax excluded), but it should have converted the tax excluded discount since we display with taxes
Is this the expected behaviour?

It might be related to this PR https://github.com/PrestaShop/PrestaShop/pull/18613 which fixes a problem on the BackOffice side, but this

[2020-04-24 15:28] #18748 closed, assigned to sowbiba

[2020-04-24 16:21] RomsC opened #18813 "Doctrine Annotations for FO"
#### Describe the bug

I have build a module that use Symfony and Doctrine.
For some entities I added the annoation @UniqueEntity to guarantee that some fields remains unique.
In BO everything works well.

But in FO not as weel.
When I use my repositories of the entities that use the annotation in question, I get a error

`Uncaught Doctrine\Common\Annotations\AnnotationException: [Semantical Error

[2020-04-24 16:31] mlokeshm commented on #16219
I am facing same issue. Not sure what is causing it...
I am providing details below

Server information Linux #1 SMP Fri Feb 2 00:27:48 EST 2018 x86_64
Server software version: Apache
PHP version: 7.2.29
Memory limit: 256M
Max execution time: 30
Upload Max File size: 40M
PrestaShop version: 1.7.6.4
Shop URL: http://ps17.eco365.in/
Current theme in use: classic

MySQL version: 5.7.29
MySQL server:

[2020-04-24 17:09] banobazaar commented on #18794
in FO ... now i have searched from internet and resolved thanks anyway

[2020-04-24 17:09] #18794 closed, assigned to nobody

[2020-04-24 17:33] banobazaar opened #18814 "Add to cart not working"
Add to cart option is not working in FO when I click on any product and then i press "add to cart", it shows not addition in cart as per attached screenshot

![image](https://user-images.githubusercontent.com/52763446/80240590-8c3b0900-867b-11ea-83c4-1427d4e89a46.png)

* PrestaShop version: 1.7
* PHP version: N/A

[2020-04-24 17:35] darioesposito opened #18815 "Filter products by the stock of matched variants, not just any of them"
Hi,

i have prestashop 1.7.6.3, as title topic suggest when i choose a filter they show all the product even the unavialable, i found the topic here and on other website but the solution is from a previous version of prestashop.

Also i have the file but the code it's totally different so i can't fix this with provided solution.

Any help or suggestion?

Thank you

[2020-04-24 18:22] Hlavtox commented on #18768
@florine2623 Yes exactly these.

These are the errors.
![error1](https://user-images.githubusercontent.com/6097524/80244495-483f0880-8669-11ea-83b1-9b8294416f3b.JPG)

The pages shown are credit-slip, my-account and address
![error2](https://user-images.githubusercontent.com/6097524/80244500-49703580-8669-11ea-8d8e-673a9b4caef2.JPG)

You can check the robots.txt here https://gingerprint.cz/robots.t

[2020-04-24 20:02] darioesposito commented on #11652
Hi,

Your solution work, but it's crazy thinking do stuff like that for an entire catalouge of products...

I hope they fix soon

Thanks anyway

[2020-04-24 21:47] Borgas opened #18816 "Import Combinations not take effect in product page"
Import products with unique id - OK
Import combinations with same id at product combinations - OK

![1](https://user-images.githubusercontent.com/54105234/80259149-d83a7d80-867c-11ea-84ac-c3cec7e1d32c.JPG)
![2](https://user-images.githubusercontent.com/54105234/80259353-4c752100-867d-11ea-97d6-c6a92505f0d1.JPG)

#### Expected behavior
Product page only have first combination
Images created
Feature

[2020-04-24 21:57] florine2623 commented on #18788
Hi @githubpages0815 ,
I've managed to reproduce your issue  :
![Capture d’écran 2020-04-24 à 23 48 40](https://user-images.githubusercontent.com/16019289/80259540-2acc6780-8686-11ea-822c-129ac4c8c40d.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-04-24 22:06] florine2623 commented on #18796
Have you made any specific development ?
I can't reproduce your issue.

[2020-04-25 04:06] mcube27 commented on #18795
The issue came from my apache config. Somehow I had to add
`<IfModule mpm_winnt_module>
   ThreadStackSize 8888888
</IfModule>`
And then it worked like a charm.
Thank you for your help and sorry to bother you with non related bug !

[2020-04-25 04:06] #18795 closed, assigned to nobody

[2020-04-25 09:06] wahono77 commented on #10354
this bug still exists until now. I can not install 1.7 version

[2020-04-25 09:07] web-plus opened #18817 "Add widget interface to be able to move product comment grade (stars) to another position"
I develop themes and I would like to move product comment grade (stars) to better position (for example below heading).  At the moment it's not possible without moving whole hook "DisplayProductAdditionalInfo" (which also includes social sharing and another modules may use it).
It would be great if the productcomments module supports widget interface, so that developers can move it to another plac

[2020-04-25 09:39] tahsin352 opened #18818 "api product filter contains"
#### Is your feature request related to a problem?
currently /api/products/?display=full&filter[name]=[appl]%  works. but i want to filter by %[appl]%. so, it will search for any name containing appl.
A clear and concise description of what the problem is. Ex. "I'm always frustrated when..."

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.

####

[2020-04-25 09:53] tahsin352 commented on #18818
i found the solution as http://localhost/prestashop/api/products?output_format=JSON&display=[name]&limit=5&filter[name]=%[printed]%

[2020-04-25 09:53] #18818 closed, assigned to nobody

[2020-04-25 13:18] rodrideveloper opened #18819 "Error 404: Design>Positions"
Hello
Error 404: Design>Positions

Steps to reproduce the behavior:

1. Go to 'Design>Positions'
2. Click on 'Positions'
3. See error

![image](https://user-images.githubusercontent.com/2502778/80280801-7443a380-86d4-11ea-9817-7a611c8c885c.png)

![image](https://user-images.githubusercontent.com/2502778/80280833-bff64d00-86d4-11ea-8774-f8b0357c7b17.png)
![image](https://user-images.githubuserconte

[2020-04-25 13:24] iLChopper commented on #12452
@przemko2000 I have the same error :/

[2020-04-25 13:25] Kumo-Innocent opened #18820 "Invalid token when reaching the Back Office"
Hello,

I have a problem on Prestashop,

I search for a long time on Google and nothing change the problem,

When I'm on the admin panel, I have a message that tell me: "Jeton (token) invalide" and I have 2 buttons "Continue and accept the risks" and "Keep me safe"

I can't do anything on the panel: I can't add a product, change settings, or when I can there is after 3 or 4 try...

I search for a

[2020-04-25 13:31] banobazaar commented on #18814
response from this forum is very poor

[2020-04-25 17:03] charlykb commented on #18747
Hi,

you said "The Google Sitemap latest version is compatible with versions =<
PS 1.7.1.0"
so, why it doesn't work on my website version 1.6 ?
I have the version 3.2.2

Thx

Le jeu. 23 avr. 2020 à 09:29, Samuel Pirès <notifications@github.com> a
écrit :

[2020-04-25 17:32] Macrisu commented on #18623
Hello!
I've upgraded to 1.7.6.5
Still not working, no error anywhere to look for!
When I press "Send test mail", I get a circle spinning slowly.

Using the debug console, when I press to send a test email, I get an error

I tried with Gmail or another SMTP, as my email is not on the same server.
Same symptoms.
How can I determine the errors?

[2020-04-25 18:10] emilieatelier commented on #18761
@florine2623 I will try to do it

[2020-04-25 18:11] emilieatelier commented on #18624
@khouloudbelguith  ok no problem, becaus I saw that sometimes i find the french language. I will try to do the bug report

[2020-04-25 19:54] manudas opened #18821 "HelperForm in AdminController :: Back value in helper form tpl_vars['back'] is not correctly calculated"
https://github.com/PrestaShop/PrestaShop/blob/5fe8128a3b28fc0a85d15d633ed3ac3a271a317e/classes/controller/AdminController.php#L2593

Hello, I came across this and thought that you may want to fix it:

Instead of
`Tools::safeOutput(Tools::getValue(self::$currentIndex . '&token=' . $this->token));`

which return an empty string, it should be just
`Tools::safeOutput(self::$currentIndex . '&token=' .

[2020-04-25 20:14] cr998 commented on #16325
What would be the correct operation?

![image](https://user-images.githubusercontent.com/6900835/80289883-ebfbe780-8741-11ea-8757-49ca7badb533.png)
![image](https://user-images.githubusercontent.com/6900835/80289889-f8804000-8741-11ea-9ab2-f281917756a4.png)

In the first option the merchant need to write all URI otherwise in the second option th merchant only need to puts de end of the URI

[2020-04-25 22:19] Macrisu commented on #18623
I've tried exactly your settings, I cannot send email

I tried to use the contact form from the site and I get this error on submit:

`
(1/1) UndefinedMethodExceptionAttempted to call an undefined method named "newInstance" of class "Swift_Message".
--
in Mail.php line 297

`

[2020-04-25 22:52] alfonsolr09 opened #18822 "Error creating a product and not saving it"
#### Describe the bug

When I create a product and exit without saving it, it is saved in the database disabled for the backoffice, but enabled for the frontoffice

https://youtu.be/cQqJoBii1bM

#### Expected behavior

It should not be saved until I click save, or at least save it with the status active so I can edit it

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to create a

[2020-04-25 23:24] Macrisu commented on #18623
I think I found a problem.
Prestashop comes with Swiftmailer 5.4.12
composer update bumped the version to 6.2.2 (2019-11-12)

------------------

 * added Swift_Transport::ping()
 * removed Swift_Mime_HeaderFactory, Swift_Mime_HeaderSet, Swift_Mime_Message, Swift_Mime_MimeEntity,
   and Swift_Mime_ParameterizedHeader interfaces
 * removed Swift_MailTransport and Swift_Transport_MailTransport
 * re

[2020-04-26 00:22] emilieatelier commented on #18624
![image](https://user-images.githubusercontent.com/63663739/80293947-78b79d00-8764-11ea-803c-2a26f1bfeb01.png)

![image](https://user-images.githubusercontent.com/63663739/80293953-8705b900-8764-11ea-9bd9-e5a9c593944c.png)

it s enought or you need more if yes what i have to click

[2020-04-26 00:22] emilieatelier commented on #18761
![image](https://user-images.githubusercontent.com/63663739/80293947-78b79d00-8764-11ea-803c-2a26f1bfeb01.png)

![image](https://user-images.githubusercontent.com/63663739/80293953-8705b900-8764-11ea-9bd9-e5a9c593944c.png)

it s enought or you need more if yes what i have to click

[2020-04-26 00:25] Macrisu commented on #18623
I've made it!

1. I've put back the original, old files of Swiftmailer 5.4.12
2. Got error, but the main culprit now was SE_Linux (CentOS7)

`Permission denied #13 smtp`

fixed with
`setsebool -P httpd_can_sendmail on`

[2020-04-26 00:40] alfonsolr09 opened #18823 "[Idea] Be able to force an old product to show up as a new product"
#### Is your feature request related to a problem?

no

#### Describe the solution you'd like

be able to modify the creation date of a product so that it appears in new products.

When I no longer want to sell a product, what I do is overwrite that with a new one so that I don't have to delete them. but when doing this, prestashop does not put it in the new products section

#### Expected solutio

[2020-04-26 01:09] muhannadalhariri opened #18824 "Numbers are reversed in invoice PDF when printed in RTL language (arabic example)"
1. I am using Prestashop 1.7.6.5 and the admin panel is arabic.

1. When I print the invoice PDF, the prices are revered for example:
if the price is **32.569** then in the pdf I get **965.23**
2. I figured out the issue is from **Locale::formatPrice,** but havenot find a way to fix.

* How to reproduce:
1. Change the language in admin or front to arabic
2. Try to place an order from front system

[2020-04-26 01:20] go-sudo commented on #18320
Hi
for people who search to integrate a responsive table I recommend

https://fooplugins.github.io/FooTable/docs/components/filtering.html#options

Regards

[2020-04-26 06:17] TamasFelix commented on #18758
I solved, there are two possibilities
1 - edit htacces
RewriteEngine On
Rewritecond %{REQUEST_URI} [0-9-]$
RewriteRule ^(.*)-([0-9])+$ /$1 [R=301,L]
2- /override/controllers/front/ProductController.php -> Here the redirect change was made in the comment / * Override georgeb

Works, example:
https://www.kiwigym.ro/sanatate-incheieturi/universal-nutrition-animal-flex-44plicuri-153
or
https://www.kiw

[2020-04-26 12:36] 01park commented on #18823
You can change date in the data base and if you don't know how, then they are modules that can change it. Or, just create a duplicate product.

[2020-04-26 12:42] alfonsolr09 commented on #18823
I know, until now I have been modifying it in the 2 tables of the database.  but i would like to be able to modify it from the backoffice, how can i implement the code to do it?

[2020-04-26 12:45] 01park commented on #18823
I don't know the answer to that, but like I said. You can buy modules that do that. They are mostly not expensive. Will save you a lot of time.

[2020-04-26 12:54] alfonsolr09 commented on #18823
ok, but i would like to see if the idea is feasible to be able to integrate it into the backoffice or at least be able to do it

[2020-04-26 14:09] HartLarsson commented on #16134
![image](https://user-images.githubusercontent.com/16102074/80309925-421b6a00-87d8-11ea-8934-2a7ec5b009a6.png)
Order works but links are shown in FO not in order

[2020-04-26 16:08] wdammak opened #18826 "Symfony total disappointment!"
Thousands and thousands of issues and bugs are linked to the cache and therefore to Symfony! On a blank installation, it takes a 50th error just to set up another theme and a few modules!
by deactivating the cache mode to be able to know the errors the site becomes a gas bomb! with super slow loading and each time you have to manually delete the cache/var/dev!
I ask the team to study this technolo

[2020-04-26 16:11] shaffe-fr commented on #18742
Thanks for your feedback @florine2623. The problem is about the Taxes breakdown, the total tax you highlighted is indeed correct, but the one in the table on the left is different.

[2020-04-26 18:10] MichaelJunior1 opened #18827 "New Widget"
<!--
Hello, I'm Mike.When i changed the code from Popular Posts to Older Posts is showing me this.....

The new widget with id "<b>Older Posts</b>" has an invalid type: <b>OlderPosts</b> Error 500

[2020-04-26 19:30] anfuca commented on #10762
I'm suffering this issue last days... Last Friday, I've reached -10 in a product stock because of this issue. So 10 customers that are dissapointed... 10 we are so sorry emails... 10 refunds.

What would be the best approach to solve this? I'm not talking about a technical solution.
What would be, in theory, the best solution?

This answer from Tobi (Shopify) at 2007:

[2020-04-27 00:20] johndoe1395 opened #18828 "Unicode characters not supported on main menu module links"
#### Describe the bug

Editing an entry in the link list in the menu module with non-english letters converts the letters into their HTML code.

#### Expected behavior

Should be displayed in UTF like everywhere else in presta.

#### Steps to Reproduce

Steps to reproduce the behavior:
1. Go to Design - Theme and Logo -> Homepage configuration -> Menu -> Click configure in main menu
2. In Add a Ne

[2020-04-27 02:54] Leous88 commented on #18793
in back office

[image: image.png]
Leonardo González Muñoz.

Ingeniero en Administración de Empresas.

Master Business Administration (cursando).

CEO | Profesional Independiente  | Asesor Tributario y Financiero.
+56 9 3363 2861 <+56+9+3363+2861>
leonardog698@gmail.com
Talca, Chile

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Re

[2020-04-27 05:42] #18758 closed, assigned to nobody

[2020-04-27 05:53] jyothi0093 opened #18829 "Tutorial demonstration has platform incompatibility"
tutorial demonstration is not compatible with differ browser platforms.
Browser -chrome
![Screenshot from 2020-04-27 11-22-19](https://user-images.githubusercontent.com/63452509/80338236-6ed38e00-8879-11ea-9c02-8ff67a35ddd1.png)

* PrestaShop version: 1.7.7.0
* PHP version:  7.2.30-

[2020-04-27 07:14] jyothi0093 opened #18830 "Invalid order of city in customers address tab"
customers address section has city above country and state, i think it should be listed after country and state as well as pincode should be listed below state.
![Screenshot from 2020-04-27 12-43-58](https://user-images.githubusercontent.com/63452509/80344227-dcd18280-8884-11ea-97e4-52ed3d3134f5.png)

[2020-04-27 08:03] matks commented on #18826
Hi @wdammak we will keep Symfony for PS 1.8 as we believe it's the future.

Actually Symfony seems to be the choice for most major projects which want to use a very reliable framework: [you can see](https://symfony.com/projects) that Drupal, Joomla!, Magento, eZ Platform and Shopware have chosen the same path.

Don't let bugs and issues blind you: Symfony is a must-have in PHP and has probably sav

[2020-04-27 08:11] PierreRambaud commented on #18801
Hi @alfonsolr09 and thanks for your suggestion.

@PrestaShop/prestashop-product-team What do you think about his proposal?

[2020-04-27 08:17] PierreRambaud commented on #18802
Hi @alfonsolr09 and thanks for your suggestion.

@PrestaShop/prestashop-product-team What do you think?

[2020-04-27 08:23] sam-pires commented on #18747
Hi @charlykb my bad, made a mistake, I meant >= 1.7.1.0 - superior or equal to PS 1.7.1.0

[2020-04-27 08:24] khouloudbelguith commented on #18788
Hi @githubpages0815,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17725
So, I close it.
Thanks!

[2020-04-27 08:24] #18788 closed, assigned to nobody

[2020-04-27 08:24] khouloudbelguith commented on #18788
Duplicate of #17725

[2020-04-27 08:39] 01park commented on #18772
Hi,

I tried all of these and then gave up. I though maybe there is something wrong with the server and decided to transfer everything to a new server.

All went good until I wanted to restore the database its giving me this error

Error: SyntaxError: Unexpected token < in JSON at position 0

Since I'm getting this error I though, maybe this is causing the site also no to response correct.

Anyway

[2020-04-27 08:42] sarahdib opened #18831 "BO - When creating an order, the status selected by default in the drop-down is canceled"
**EDIT:**
#### Describe the bug

When the user chooses a payment method, the create order page assigns an automatic status defined by a hard-coded list in the code. When the payment module was not associated with a status in the create order page, the status "payment accepted" is assigned by default.

#### Expected behaviour

To remove the hard-coded list associating the status and payment method.

[2020-04-27 08:57] luisbo69 commented on #16437
Did you managed to resolve this issue?

[2020-04-27 08:59] PierreRambaud commented on #18806
HI @clotaire202 and thanks for your suggestion.

@PrestaShop/prestashop-product-team What do you think?
(Look like a nice improvement)

[2020-04-27 09:21] PierreRambaud commented on #18820
HI @EyesGammer

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:

http://build.prestas

[2020-04-27 09:23] MatShir commented on #17437
Hi @zenerry,
The bug here is present on the 1.7.6 version. I could not reproduce it in 1.7.5.2. Your bug might be different, could you please share all your steps.

But if your bug is indeed this one. The best option remains to update the shop but you can retrieve the code used in the [PR ](https://github.com/PrestaShop/PrestaShop/pull/17457) and apply it on your shop with the help of a PrestaShop

[2020-04-27 09:26] Klemart3D opened #18833 "[Multishop] Cannot disable a carrier for only one shop"
#### Describe the bug

In multishop, cannot disable a carrier for only one shop on carriers page of BO.

#### Expected behavior

Disable a carrier on Shop 1 that still enabled on Shop 2.

#### Steps to Reproduce

1. Go to admin Carriers page
2. On Shop 1, disable a carrier
3. On Shop 2, carrier is also disabled

No related issue found: https://github.com/PrestaShop/PrestaShop/issues/9723

**Screen

[2020-04-27 09:28] PierreRambaud commented on #18813
Hi @RomsC and thanks for your report.

Could you provide us a little module to reproduce the exact issue you have?

FYI: we are currently in `doctrine/annotations v1.8.0`

@PrestaShop/prestashop-core-developers What do you think?
If I'm right @jolelievre, you were working on that, no?

[2020-04-27 09:29] colinegin commented on #10026
This issue should be split in 4 different issues as we won't fix all of them in a single PR.

[2020-04-27 09:31] PierreRambaud commented on #18814
Hi @banobazaar
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:

http://build.prestash

[2020-04-27 09:34] SD1982 commented on #18810
Description modified !

[2020-04-27 09:39] sarahdib commented on #17976
@colinegin It's fixed :)
<img width="696" alt="Capture d’écran 2020-04-27 à 11 38 23" src="https://user-images.githubusercontent.com/3034677/80357705-a8a59400-887b-11ea-9f5f-29cda11288e9.png">

[2020-04-27 09:55] PierreRambaud commented on #18808
Hi @PrestaworksNiklas and thanks for your report.

I confirm the function is malformed and need to be a little refactored.
https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/classes/Tools.php#L1897

The `Tools::$round_mode` property shouldn't be public nor set in cache.

[code]

@PrestaShop/prestashop-core-developers What do you think?

[2020-04-27 10:01] marionf opened #18835 "Ecotax is displayed tax excl instead of tax incl in FO"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

1) I enable ecotax in international > VAT
2) I define a tax for my ecotax of 20%
![Capture du 2018-03-15 16-05-05](https://user-images.githubusercontent.com/13449658/57296604-a7f57a00-70cd-11e9-8ad8-e0ea447b0693.png)

3) I set ec

[2020-04-27 10:06] nico159 opened #18837 "Undefined offset notice for customizable product in invoice.product-tab.tpl"
Hi,
The template invoice.product-tab.tpl is raising an Undefined offset notice when I try to checkout a product which has a customization field

Example of the error in debug mode when I try to checkout a product with a single customizable field of text type
![immagine](https://user-images.githubusercontent.com/152243/80360233-4d75a080-887f-11ea-9925-66b40bc3ce5a.png)

[2020-04-27 10:09] PierreRambaud commented on #18819
Hi @iLChopper

Unfortunately, we are not able to reproduce the issue.

We check your website, it looks like you have a conflicts with your woocommerce installation.
![image](https://user-images.githubusercontent.com/1462701/80360525-c4129e00-887f-11ea-8b63-ac7976654349.png)

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Th

[2020-04-27 10:09] #18819 closed, assigned to nobody

[2020-04-27 10:25] marionf opened #18838 "Ecotax not saved in a specific shop context when multistore is enabled"
#### Describe the bug

Ecotax not saved in a specific shop context when multistore is enabled

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable the multistore in Shop parameters > General
2. Add a second shop in Advanced parameters > Multistore
3. Set an URL for the shop created
4. Go to International > Taxes
5. Put "use ecotax" on Yes
6. Save
7. Select an ecotax
8. Save
9. It'

[2020-04-27 10:30] colinegin commented on #18810
IMO this is related to the fact that we have changed what we display on the front office.
For cart rules with %age discount we used to display the %age and not the related value.
![image](https://user-images.githubusercontent.com/35263827/80361531-65e6ba80-8881-11ea-9d9c-6db684f2c048.png)

This has been changed with 177, but we haven't taken into account the use case when there are several cart ru

[2020-04-27 10:33] MatShir commented on #18801
hi @alfonsolr09,
To understand your suggested improvement, you would like to remove the line Discount(s) that resumes all the customer's discount?
 ![image](https://user-images.githubusercontent.com/43613217/80361182-cf19fe00-8880-11ea-8796-604edd623350.png)

To have a deeper understanding of your needs, I have to ask you:
- Why do you think it will improve the checkout?
- What should be the displ

[2020-04-27 10:34] colinegin commented on #18802
Yes this could be interesting ! Although you can also create a generic email address for your PS website and have all email addresses including in this new one.

[2020-04-27 10:45] servidiomarco opened #18839 "token error while adding related product"
#### Describe the bug

Hi,
when creating a new product and adding its related products as Products Editor (all permission for Products are granted) I get a token error.
when I try to do the same logged in as SuperAdmin everything works fine.
#### Expected behavior

related products added on product creation.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '..

[2020-04-27 11:23] khouloudbelguith opened #18841 "BO - Customer View page - there is no green alert after deleting a voucher"
#### Describe the bug

In the BO => Customers => Customer view page, when we try to delete a voucher, there is no alert
:heavy_check_mark: `Successful deletion.` displayed

#### Expected behavior

The green alert should be displayed
![image](https://user-images.githubusercontent.com/16067358/80365844-85cdac80-8888-11ea-95c0-1d7900345a1b.png)

#### Steps to Reproduce

Steps to reproduce the behavio

[2020-04-27 11:24] khouloudbelguith commented on #18841
Ping @nesrineabdmouleh

[2020-04-27 11:31] khouloudbelguith opened #18842 "BO - Customer View page - there is no green alert after editing a voucher"
#### Describe the bug

In the BO => Customers => Customer view page, when we try to edit a voucher, there is no alert
:heavy_check_mark: `Successful update.` displayed

#### Expected behavior

The green alert should be displayed like in the legacy page
![image](https://user-images.githubusercontent.com/16067358/80367388-481e5300-888b-11ea-89a9-f2316478cde0.png)

#### Steps to Reproduce

Steps to r

[2020-04-27 11:32] khouloudbelguith commented on #18842
Ping @nesrineabdmouleh

[2020-04-27 11:33] khouloudbelguith commented on #18842
Related to https://github.com/PrestaShop/PrestaShop/issues/18841

[2020-04-27 11:39] alfonsolr09 commented on #18802
how? can you explain further please
@colinegin

[2020-04-27 11:43] alfonsolr09 commented on #18801
1. only when from the backoffice you send free shipping to the customer's cart

2. What should the screen look like if you remove the summary discount line when you have a free shipping discount and a 20% discount on your product?
just showing the 20% discount as free shipping applies it as a coupon

3. What is your purpose behind improvement? To reduce the information shown in the payment?
remove

[2020-04-27 12:04] colinegin commented on #18802
This is not related to PrestaShop, what i meant is that you can have a generic address, for instance "contact@mywebsite.com" that you use on your website, which is actually sent to all the individual addresses that you have.

[2020-04-27 12:08] PierreRambaud commented on #18817
Hi @web-plus and thanks for your suggestion.

Ping @PrestaShop/prestashop-product-team, what do you think?
FYI, we already do that for the faceted search module, it's a good improvement.

[2020-04-27 12:09] PierreRambaud commented on #18827
Hi @MichaelJunior1
Since your issue does not have any content, and title, I close it.
Feel free to reopen if you can provide us information :)

[2020-04-27 12:09] #18827 closed, assigned to nobody

[2020-04-27 12:15] PierreRambaud commented on #18826
Hi @wdammak

As @matks we wil not remove Symfony from the project.
I'm closing this issue.

Kind regards

[2020-04-27 12:15] #18826 closed, assigned to nobody

[2020-04-27 12:20] PierreRambaud commented on #18821
Hi @manudas and thanks for your report.

Could you please create a pull request with your fix? We will be glad to review, test and merge it :)

[2020-04-27 12:28] PierreRambaud commented on #18815
Hi @darioesposito,

Could you please redo your issue's content with the following template https://github.com/PrestaShop/PrestaShop/issues/new?template=feature_request.md
or if you think it's a bug https://github.com/PrestaShop/PrestaShop/issues/new?template=bug_report.md

Kind regards

[2020-04-27 12:33] alfonsolr09 commented on #18802
it would be better to be able to do it from the prestashop itself, as in the mail alerts module
https://prnt.sc/s6qtju

[2020-04-27 12:34] #18766 closed, assigned to khouloudbelguith

[2020-04-27 12:37] PierreRambaud commented on #18822
Hi @alfonsolr09
Despite our several trials, we could not reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

You should see with the theme author

Thank you!

[2020-04-27 12:41] PierreRambaud commented on #18822
Hi @alfonsolr09 and thanks for your report.

We manage to reproduce the issue but it looks like we also have problem with the classic theme.
![image](https://user-images.githubusercontent.com/1462701/80373166-ef53b800-8894-11ea-968a-a2badac19ddc.png)

[2020-04-27 12:49] alfonsolr09 commented on #18822
do you think it could be solved?

[2020-04-27 12:50] Progi1984 commented on #18805
Fixed by #18812

[2020-04-27 12:50] #18805 closed, assigned to atomiix

[2020-04-27 12:56] Progi1984 commented on #18776
Ping @NeOMakinG

[2020-04-27 12:57] PierreRambaud commented on #18823
Hi @alfonsolr09 and thanks for your feedback.

Ping @PrestaShop/prestashop-product-team what do you think?

[2020-04-27 12:59] PierreRambaud commented on #18822
Oh, just notice it's a duplicate of #9945 Thanks @khouloudbelguith
Feel free to continue the discussion on #9945 please.

[2020-04-27 12:59] #18822 closed, assigned to nobody

[2020-04-27 12:59] PierreRambaud commented on #18822
Duplicates of #9945

[2020-04-27 13:01] PierreRambaud commented on #9945
There are more problem. The SQL requests to check for new products is incomplete and don't check the state.
https://github.com/PrestaShop/PrestaShop/issues/18822#issuecomment-619960816

[2020-04-27 13:06] alfonsolr09 commented on #9945
when will it be fixed?

[2020-04-27 13:10] RomsC commented on #18813
Hi @PierreRambaud,
Sample module -> https://github.com/RomsC/DoctrineAnnotation

[2020-04-27 13:25] khouloudbelguith opened #18844 "BO - Order page - The total is incorrect in the "Add new cart rule" block after editing a product price if you don't refresh the page"
#### Describe the bug

In the BO => Order details page, the total is incorrect in the "Add new cart rule" block after editing a product price if you don't refresh the page

#### Expected behavior

Display the correct total in the "Add new cart rule" block after editing a product price without having to refresh the page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders >

[2020-04-27 13:27] PierreRambaud commented on #18824
Hi @muhannadalhariri and thanks for your report.

Despite our several trials, we could not reproduce your issue with the provided information as you can see.
[With RTL](https://github.com/PrestaShop/PrestaShop/files/4539875/IN000001.1.pdf)
[Without RTL](https://github.com/PrestaShop/PrestaShop/files/4539878/IN000001.pdf)

You maybe need to check on modules you installed?

Kind regards

[2020-04-27 13:27] khouloudbelguith commented on #18844
Hi @@PrestaShop/prestashop-product-team,

This issue **cannot** be reproduced with PS1.7.6 because we are blocked with this issue: https://github.com/PrestaShop/PrestaShop/issues/15716 which fixed in the 177.
So I think, it is a regression 177x.
What do you think?

Thanks!

[2020-04-27 13:43] jolelievre commented on #18813
Thanks @RomsC

And yes @PierreRambaud I worked on this topic, we actually discussed it with @RomsC And it appears some features are broken with our current integration so I invited him to open this issue

We'll need to define if this is considered a feature to be added, or a lack/bug in our current implementation So we know in which version this should be fixed

[2020-04-27 13:47] PierreRambaud commented on #18829
Hi @jyothi0093 and thanks for your report.

I manage to reproduce the problem when using a resolution under 1600 in width.

@PrestaShop/prestashop-product-team What do you think?

[2020-04-27 13:57] Varindien opened #18846 "hompage link not updated with language on header.tpl"
#### Describe the bug

if we activate multilang on website, and switch to anotherlanguage, link on logo from header.tpl is always the same.

#### Expected behavior

if we switch to english, link should be : mydomain.fr/en (and not mydomain.fr)

#### Steps to Reproduce

Activate multilanguage on shop.

#### Additional information

* PrestaShop version: 1.7.6.4 (did not see anything about this on ch

[2020-04-27 14:00] PierreRambaud commented on #18828
Hi @johndoe1395  and thanks for your report.

I manage to reproduce the issue as you can see:
![image](https://user-images.githubusercontent.com/1462701/80380497-f46a3480-889f-11ea-813b-6b5478e3d221.png)

[2020-04-27 14:17] PierreRambaud commented on #18830
HI @jyothi0093 and thanks for your report.

Ping @PrestaShop/prestashop-product-team what do you think?

[2020-04-27 14:27] #17976 closed, assigned to MatShir

[2020-04-27 14:34] PierreRambaud commented on #18837
Hi @nico159,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:

http://build.prestasho

[2020-04-27 14:39] PierreRambaud commented on #18803
Hi @alfonsolr09 and thanks for your report.

Not sure it's a bug or an improvement :thinking:
Ping @PrestaShop/prestashop-product-team what do you think?

[2020-04-27 14:40] PierreRambaud commented on #18816
Hi @Borgas and thanks for your feedback. Could you provide us a CSV to reproduce the same behaviour as you have please?

Kind regards

[2020-04-27 14:47] PierreRambaud commented on #9945
@alfonsolr09 Feel free to make it fixed for the next release by creating a pull request if you have a proper solution.
We are always glad to receive good pull requests to improve this open source project :smile_cat:

[2020-04-27 14:47] PierreRambaud commented on #18813
Nice thanks @RomsC and @jolelievre!

[2020-04-27 14:49] PierreRambaud commented on #18802
@colinegin Not all mails providers allowed to do it, and sometimes it requires configuration that not everybody are able to do.

[2020-04-27 14:50] LouiseBonnard commented on #18702
@Nietnagel, is the translation still wrong? I've changed it in Crowdin, it should be available after you update the language in the International section of the back office. Let me know if it is fixed or not. Vielen Dank!

[2020-04-27 14:55] LouiseBonnard commented on #18817
Sounds good, @web-plus, thanks for this suggestion! What is the difference between using a hook and a widget interface?

[2020-04-27 15:14] LouiseBonnard commented on #18823
Hi @alfonsolr09, thanks for your suggestion! I don't think that it should be a core feature since users can do it in their database or use modules to handle this.

[2020-04-27 15:18] darioesposito opened #18848 "Filter products by the stock of matched variants, not just any of them"
#### Is your feature request related to a problem?

I'm always frustrated when you choose a specific filter, in my case Size 40 and he shows up all the product with the size 40 but also that there are not avialable for purchase. This is confucing the customer

#### Steps to reproduce
- In module Faceted Search, choose option “Show unavailable, out of stock last” to NO
![Capture d’écran 2020-04-30

[2020-04-27 15:21] alfonsolr09 commented on #18803
I know, I did not know how to classify it

[2020-04-27 15:23] alfonsolr09 commented on #9945
I'm not a programmer, I don't have the necessary knowledge

if you indicate the path of the files I can try to fix it and do tests

[2020-04-27 15:24] PierreRambaud commented on #18833
Hi @Klemart3D and thanks for your report.

I manage to reproduce the issue.

[2020-04-27 15:26] alfonsolr09 commented on #18823
all the data can be modified from the database, so why the name and description of the product if it is in the backoffice?

by that rule of three we eliminate the back office and modify everything from the database

Can you at least indicate how I can integrate the creation date in the backoffice? (i want to try to do it)

[2020-04-27 15:33] marionf commented on #18823
Why do you do that ? Why not deleting the product that you don't want anymore and creating a new one or duplicating the deleted product ?

[2020-04-27 15:34] alfonsolr09 commented on #18823
because I don't like to jump in the id

[2020-04-27 15:34] marsaldev commented on #18823
Hi @alfonsolr09,
there is already a module that does this stuff: https://addons.prestashop.com/it/product-tab/46213-product-date.html

btw: create your own module that will do that it's quite simple 😊

[2020-04-27 15:37] alfonsolr09 commented on #18823
yes, but why not integrate it into prestashop if it is so easy?

[2020-04-27 15:38] alfonsolr09 commented on #18823
how can I create my module? , the prestashop files are very messy

[2020-04-27 15:45] PierreRambaud commented on #18823
@marionf I agree with @alfonsolr09 even if the data can be modified by an sql query it's not a proper solution. Maybe add a field to define if the product should be in the "new products" listing.

Example of a scenario we used when I was working for a website selling luxuries goods.
- 1 week: Create X products (bags) but not activated
- 2 week: Create Y products (scarfs) but not activated
- 3 week

[2020-04-27 15:47] PierreRambaud commented on #18817
@LouiseBonnard Everything is in the devdoc: https://devdocs.prestashop.com/1.7/modules/concepts/widgets/

[2020-04-27 15:52] matks commented on #17993
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18201

[2020-04-27 15:52] #17993 closed, assigned to jolelievre

[2020-04-27 15:52] PierreRambaud commented on #18839
Hi @servidiomarco and thanks for your report.
Can you give us more information, what do you mean by "Products Editor", is it only a profile name?
If yes, could you add screenshots of permissions your profile has exactly?

kind regards

[2020-04-27 15:53] alfonsolr09 commented on #18823
I think it would be as simple as making a box to modify the creation date
or even a better idea would be to use the product update date (since I have seen that the update date is also saved in the database, why not use it?

[2020-04-27 15:54] matks commented on #10026
Bug number 4 might be fixed by https://github.com/PrestaShop/PrestaShop/pull/18580

[2020-04-27 15:54] matks commented on #18550
Might be fixed by https://github.com/PrestaShop/PrestaShop/pull/18580

[2020-04-27 15:54] matks commented on #18835
Fix on BO is done in https://github.com/PrestaShop/PrestaShop/pull/18580

Fix on FO is not done yet

[2020-04-27 16:07] PierreRambaud commented on #18846
Hi @Varindien and thanks for your report.

I don't manage to reproduce the issue, are you using the classic theme?
Could you provide us screenshots or screencast?

Kind regards

[2020-04-27 16:15] PierreRambaud commented on #18796
Hi @jyothi0093
Do you follow our documentation for building assets: https://devdocs.prestashop.com/1.7/development/compile-assets/ ?

[2020-04-27 16:18] eternoendless commented on #18647
The stabilization phase has now ended, we are now able to build and test the first beta! 🎉

Stay tuned for beta 1 release next week (hopefully).

[2020-04-27 16:20] PierreRambaud commented on #18760
@GTriber Can you provide us the exact list of product that are falling in 404?
Are all of them having a character in common, like the `'`?

[2020-04-27 16:26] PierreRambaud commented on #18612
Hi @Pierpaolo-Petros Could you check your PHP logs that are store on the server?
The 500 error is a generic status saying the server has a problem, we need the exact error to understand what happened and help you finding a solution.

[2020-04-27 16:31] thalassa-web opened #18850 "Minimal quantity of 0 on product cause add to cart 0"
#### Describe the bug

When the minimal quantity of a product is set to 0 (disable the fonctionality) in the B.O. the default value in add to cart part is by default 0…

#### Expected behavior

The quantity to add to cart must be at least 1. There is no reason a customer order 0 product when it clicks on the «Add to cart» button …

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go t

[2020-04-27 16:34] nico159 commented on #18837
PrestaShop 1.7.6.4, running on php 7.1

[2020-04-27 16:41] web-plus commented on #18817
With widget interface, I can move this particular module in theme where I want, without moving the whole DisplayProductAdditionalInfo hook (which includes other modules so it's often not suitable).

[2020-04-27 16:41] eternoendless commented on #18808
I think this function should be deprecated in favor of [Decimal](https://github.com/PrestaShop/decimal/).

[2020-04-27 16:51] Sascha211 commented on #18675
Dear @khouloudbelguith,

I reproduced all steps from your screen record and my installation of PS 1.7.6.4 is showing old quantities after changing the stocks in BO with Memcached activated as described before. Probably PS 1.7.6.5 has an improved caching behavior?
I'll continue using Apc Caching, it is not as fast as Memcached but it works without errors.

Thank you and all the best

Sascha

[2020-04-27 16:51] #18675 closed, assigned to nobody

[2020-04-27 16:51] LouiseBonnard commented on #18817
Great, thank you very much for your replies, it is definitely a nice improvement. It might be worth extending it to other modules like the social media share buttons module, for instance. I'll check that!

[2020-04-27 16:57] servidiomarco commented on #18839
hi @PierreRambaud, yes it is a profile name - you can see the permission in the following screenshot
<img width="414" alt="Screen Shot 2020-04-27 at 17 55 40" src="https://user-images.githubusercontent.com/21959141/80399074-867a3900-88b0-11ea-9da1-8f6d60c02c23.png">

[2020-04-27 17:00] thbl opened #18852 "Category miniature image dosent not save"
#### Is your feature request related to a problem?

When in Design > Images Settings > small_default is set to NO for Category (see the attached screenshot below)
Category thumbnail is not saved, but no errors are showing, it can be hard to debug.

#### Describe the solution you'd like

Is it possible to add an error message to help the user change the config of his shop ?

**Screenshots**
![Captu

[2020-04-27 17:11] web-plus commented on #18817
Happy to hear that! Widget interface is very useful feature in 1.7, makes theme developers life easier, so I'm sure many other developers will appreciate that too.

[2020-04-27 17:34] Borgas commented on #18816
@PierreRambaud
Here it is...
This struture worked in 1.7.6.0
It only creates the first combination in first ID found with product combination

I don´t know if you are responsable for the import feature, but another bug found is with prices
I know have to have a field with price with and without vat. Even if you have the field for ID VAT

Here is a sample of products and combinations
Remember to ch

[2020-04-27 18:35] hasanshaker opened #18855 "Error id_product_attribute [ Product Attribute ]"
#### Describe the bug

*ERROR* 	v1.7.5.0	2020/04/27 - 11:37:57: Can not retrieve the id_product_attribute at line 6310 in file classes/Product.php

#### Expected behavior

An error occurred while processing your request

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to page product
2. Click on 'product attributs' EX: S, M, L, XL, XXL
3. See error

**Screenshots**

![Capture](htt

[2020-04-27 18:40] Pierpaolo-Petros commented on #18612
Hi @PierreRambaud, Thanks a lot, see if that's okay?
I'm waiting for your feedback

![log](https://user-images.githubusercontent.com/47488488/80408380-60ac5e80-88c7-11ea-8f7c-55aed945fd8d.PNG)

[2020-04-27 18:53] Macrisu opened #18856 "@outlook email does not receive emails"
#### Describe the bug

Any customer with @outlook.com domain does not receive any emails from my shop.
I use an external SMTP for sending emails.

Test email does not arrive at outlook.com inbox, or any other sent emails.

**I've checked the spam folder.**

No problem with other email providers **yet**.

#### Expected behavior

receive email.

#### Steps to Reproduce

Steps to reproduce the behavi

[2020-04-27 19:48] Macrisu commented on #18856
Fixed:

1. get composer.json from develop branch, and put it in root.
https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json
2. Run _composer update_ with 4096 Mb RAM for memory in php.ini
This will update vendor/swiftmailer to v6
3. Get the new Mail.php from classes in the delevop branch
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Mail.php

Now I need to find out wh

[2020-04-27 20:52] muhannadalhariri commented on #18824
Dear @PierreRambaud ,
Thank you for your reply.

You can reproduce the issue if you localize the currency name>... for example : Saudi Riyal (SAR) and Kuwaiti Dinar (KWD) **will not be a problem in your case.**
However, if the currency name is **localized** for example (د.ك) or (ر.س) ...Then you
will face the issue in the pdf.

**As a workaround,** I have used currency ISO code (KWD) in the system

[2020-04-28 05:54] jyothi0093 commented on #18830
@PrestaShop/prestashop-product-team  im not able to access this.

[2020-04-28 05:57] wdammak commented on #18826
@matks
you ignore Laravel?!

[2020-04-28 06:05] loetje88 commented on #15427
Same problem well over 6 months later.

What was the fix that was applied? Unfortunately it seems like that did not work.

User Deprecated: Tools::displayPrice() is deprecated since version 1.7.6.0. Use PrestaShop\PrestaShop\Core\Localization\Locale::formatPrice() instead.

[2020-04-28 06:28] jyothi0093 opened #18857 "from date and to date column doesnt display complete date filled."
from date and to date which is used for filtering data has only partial display of data
prestashop version-1.7.7.0

![Screenshot from 2020-04-28 11-42-46](https://user-images.githubusercontent.com/63452509/80454378-942ecd80-8947-11ea-96e0-4b65f8018cb2.png)

[2020-04-28 06:46] Nietnagel commented on #18702
im sorry. the problem isn`t fixed. it is still called Maßnahmen. When i changed the translation  under International > Translations at the back office there wasn`t a effect too.

[2020-04-28 06:47] sarahdib commented on #18850
Hello @thalassa-web

Thanks for this improvement.

@PrestaShop/prestashop-product-team  what do you thin k about this ?

[2020-04-28 06:59] jyothi0093 opened #18858 "Select all not being selected"
Hi select all in the below screenshot, either both the dropdown value along with select all should be selected or none of the options has to be selected by default.
![Screenshot from 2020-04-28 12-17-39](https://user-images.githubusercontent.com/63452509/80456845-e83bb100-894b-11ea-9e96-202295779225.png)

[2020-04-28 06:59] sarahdib commented on #18848
Hello @darioesposito

Thank you for your feedback.

In the last version of the module there is an option to display unavailable or out of stock in the last position.

[2020-04-28 07:02] sarahdib commented on #18852
Hello @thbl

Please provide us more information.

PrestaShop version
PHP version
and the step to reproduce the isssue (step by step like in the template of the create issue)

Thank you

[2020-04-28 07:03] jyothi0093 commented on #18796
yes but make assets always failed showing the above listed npm errors, only admin panel is accessable.

[2020-04-28 07:07] jyothi0093 commented on #18829
i would suggest using media queries as manually setting the resolution would not resolve the problem if its accessed from different devices.

[2020-04-28 07:07] Progi1984 commented on #18850
A PR #18853 from @thalassa-web has been created.

[2020-04-28 07:33] matks commented on #18826
I dont think switching from Symfony to Laravel would do any good to PrestaShop. In term of features, quality and popularity they are equal. Moreover Laravel is built on top of Symfony components so if you think Laravel is good, you consequently think Symfony is good.

Moving from PrestaShop legacy homemade framework to Symfony framework is a huge work that was started 3 years ago and is painful as

[2020-04-28 07:42] PierreRambaud commented on #18796
@jyothi0093 What is your node version? Can you show us the exact stack trace?

[2020-04-28 07:44] thbl commented on #18852
@sarahdib
PrestaShop-version: 1.7.6.5
PHP-version: 7.2.30
1: Go to edit category in BO
2: Upload Minature image (without having a cover image)
3:Click save

[2020-04-28 07:47] LouiseBonnard commented on #18850
Hi @thalassa-web, thanks for your contribution here! Indeed 0 disables this feature, it means there is no minimum quantity mandatory to order this product. But you need to make sure the previous field, _Quantity_, is filled with a value bigger than 0 - it is not the case on the first screenshot. And then the customer should be able to order the product with the desired quantity, starting at 1 obvi

[2020-04-28 07:47] PierreRambaud commented on #18612
We need to server log / php log, this one doesn't contains information relative to the error.

[2020-04-28 07:49] sam-pires commented on #18830
hello @jyothi0093,

Thanks for the feedback 👍 Can you tell me a bit more about it.
Why is it a problem to have the city above the country in the form?

Is your feedback only about the form or about the address that is printed on the delivery slip afterward as well?

What are the benefits of changing the order of the "City" field in this form?

Thanks

[2020-04-28 07:59] sam-pires commented on #18829
Hello,
What it the problem exactly?
Is it only a responsive problem depending on the width or are there any other problems?

[2020-04-28 08:23] sarahdib commented on #18251
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-28 08:23] #18251 closed, assigned to nobody

[2020-04-28 08:27] matks commented on #15427
PR which supposedly fixed this issue is https://github.com/PrestaShop/PrestaShop/pull/15448

However why do you say this is a problem ? Using a deprecated function is not a bad thing, it's only an issue because you know that, in the future at upgrade time, you will need to stop using it.

[2020-04-28 08:27] JavierEB opened #18860 "Private Note Orders"
#### Describe the bug

Prestashop always, in the private note of customer orders, is not associated with the order itself ... it is associated with the customer. With which it would be a good option to associate only that private note within the orders only to them. For example: a customer has multiple orders, but only one needs xx $ and that note may be only for that order, not for the customer i

[2020-04-28 08:34] sarahdib commented on #18855
Hello @hasanshaker

This bug appear since the beginning or after install a new modules, template or upgrade ?

Thank you

[2020-04-28 08:34] PierreRambaud commented on #18839
I did not manage to reproduce the error as you can  see on my screenshot, I add a new product and a related product to its.
![image](https://user-images.githubusercontent.com/1462701/80465686-bf132480-893b-11ea-8dbc-ad891abd97f9.png)

If  you're using custom modules, try to disable them, or add permissions to the profile.

[2020-04-28 08:35] Progi1984 commented on #18119
Fixed by #17179

[2020-04-28 08:35] #18119 closed, assigned to zuk3975, colinegin

[2020-04-28 08:36] LouiseBonnard commented on #18702
I neither can succeed in having this translation modified, there must be a bug somewhere.

[2020-04-28 09:01] LouiseBonnard commented on #18823
Or maybe a product should be considered as new based on its activation date rather than on its date of creation?

[2020-04-28 09:06] PierreRambaud commented on #18824
I tried again by changing the currency, localized it, but still working for me.

[Unlocalized currency](https://github.com/PrestaShop/PrestaShop/files/4544510/IN000001.2.pdf)
[Localized currency](https://github.com/PrestaShop/PrestaShop/files/4544511/IN000001.3.pdf)

Ping @khouloudbelguith @sarahdib you're better than me to play with currencies, are you able to reproduce?

[2020-04-28 09:13] sarahdib commented on #18856
Hello @Macrisu

Could you tell us what is the parameter you put in smtp configuration in order to try to reproduce ?

Thank you

[2020-04-28 09:17] matks opened #18861 "Use a constant for decimal precision for ecotax computation"
Following comment https://github.com/PrestaShop/PrestaShop/pull/18580#discussion_r416456358 ; when https://github.com/PrestaShop/PrestaShop/pull/18580 is merged, we should refactor the code to use a constant with value integer 6 in all relevant area of the code.

[2020-04-28 09:23] sarahdib commented on #18860
Hello @JavierEB

Thank you for this feedback.

@PrestaShop/prestashop-product-team what do you think about this improvement ?

[2020-04-28 09:31] sarahdib commented on #18858
Hello @jyothi0093

Thank you for your feedback.

I reproduce the issue : https://drive.google.com/file/d/19QhCf4fcb51p4cJkpJ0ISKrqFh6whf6O/view

Using 1.7.6 and 1.7.7

[2020-04-28 09:33] JavierEB commented on #18860
hello sara the link does not work ...

[2020-04-28 09:34] sarahdib commented on #18336
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-28 09:34] #18336 closed, assigned to sarahdib

[2020-04-28 09:34] sarahdib commented on #18349
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-28 09:34] #18349 closed, assigned to nobody

[2020-04-28 09:35] Hlavtox commented on #18860
https://github.com/PrestaShop/PrestaShop/issues/14753

[2020-04-28 09:36] sarahdib commented on #18354
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-28 09:36] #18354 closed, assigned to sarahdib

[2020-04-28 09:36] marionf commented on #18860
Thank you @Hlavtox
@JavierEB your issue is a duplicate of #14753, please follow and comment on this issue if needed

[2020-04-28 09:36] sarahdib commented on #18378
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-28 09:37] marionf commented on #18860
Duplicate of #14753

[2020-04-28 09:37] #18860 closed, assigned to nobody

[2020-04-28 09:40] MatShir commented on #18860
Hi @JavierEB,
There are 2 needs here:
- One where we want to have a concise description of the customer (for big client, save customer behavior)
- One where we want to have a concise description of the order management
Instead of editing the feature of customer note, I suggest to add new input for this

[2020-04-28 09:40] Macrisu commented on #18856
I use an external Smtp that is working for other email addresses.
the problem seems to be Outlook.com system.
For exemple:
- I get in the Spam folder the first registratuo  email.
- I do not get at all the mesage for password reset, not a trace of it in Inbox or spam.
The shop system is working, the problem seems to be the Outlook filter system.
Nothing in the smtp log...

Steps to reproduce:
Crea

[2020-04-28 09:48] sarahdib commented on #18623
Hello @Macrisu

Since you fixed the problem can we close the issue ?

Thank you

[2020-04-28 09:59] Progi1984 commented on #18740
Fixed by #18697 (@shaffe-fr)

[2020-04-28 09:59] #18740 closed, assigned to khouloudbelguith, LouiseBonnard

[2020-04-28 10:00] #18378 closed, assigned to nobody

[2020-04-28 10:03] #18623 closed, assigned to nobody

[2020-04-28 10:16] viosan opened #18863 "modulo "1-Click Upgrade" / ERRORE 500"
Ciao, alla fine di gennaio ho installato il modulo "1-Click Upgrade", cercando di passare dalla v 1.7.5.0 alla v 1.7.6.0. Come sapete, il modullo crea un backup, che trovo sul server:
https://www.screencast.com/t/mHKMaFKe8o
https://www.screencast.com/t/R0HRnUvkKf
In questi giorni ho provato ad andare tornando alla vecchia versione, dalla v 1.7.5.6 alla 1.7.5.0 attraverso questo modulo, ma quando l

[2020-04-28 10:18] 01park commented on #18772
Today, for some reason the speed has comeback. Direct after the update I noticed a large amount of crawlers on the site, may this caused the performance to go down.

Does anyone know how to fix the JSON issue with the Database?

[2020-04-28 10:21] LucasVollebergh commented on #18378
Thanks, this worked!

[2020-04-28 10:24] muhannadalhariri commented on #18824
In fact the PDFs you have provided do have the issue, look at the
screenshots
*If you look at the numbers of total it is reversed *
*The original number is *DZD *2,905.98*
The arabic version of PDF the number is printed as  :* 905.98,2*
[image: Screenshot from 2020-04-28 13-19-14.png]
[image: Screenshot from 2020-04-28 13-19-02.png]

On Tue, Apr 28, 2020 at 12:06 PM GoT <notifications@github.com>

[2020-04-28 10:26] muhannadalhariri commented on #18824
In fact the PDFs you have provided do have the issue, look at the
screenshots
If you look at the numbers of total it is reversed
The original number is DZD **2,905.98**
The arabic version of PDF the number is printed as  :**905.98,2**

[2020-04-28 10:34] Quetzacoalt91 commented on #16802
Hi there,

For sure we can update the interface in order to remove this overlap, but I don't know what we could display instead.
I could center this div, or if we need something else, we'll have to call our designer for help. :)

[2020-04-28 10:52] MatShir commented on #14388
Fixed by #17801

[2020-04-28 10:52] #14388 closed, assigned to TristanLDD, MatShir

[2020-04-28 11:16] khouloudbelguith opened #18865 "WS - Fatal error while updating a currency wia API"
#### Describe the bug

When we try to update a currency via API, we have a fatal error
`Fatal error: Uncaught PrestaShopWebserviceException: This call to PrestaShop Web Services failed and returned an HTTP status of 400. That means: Bad Request. in /projet/ws/PSWebServiceLibrary.php:91 Stack trace: #0 /projet/ws/PSWebServiceLibrary.php(359): PrestaShopWebservice->checkStatusCode(400) #1 /projet/ws

[2020-04-28 11:17] alfonsolr09 commented on #18823
it may be a good idea, or there may even be a box that if you check it will be put on new products

[2020-04-28 11:18] sarahdib commented on #18852
@thbl
I try to reproduce but it's working see my screenrecord
https://drive.google.com/file/d/19QhCf4fcb51p4cJkpJ0ISKrqFh6whf6O/view

[2020-04-28 11:19] alfonsolr09 commented on #18863
tried to clean the cache of prestashop?

[2020-04-28 11:19] sarahdib commented on #18863
Hello @viosan
Please could you wrote in english ?

Thank you

[2020-04-28 11:19] alfonsolr09 commented on #18863
send a image of the error 500 pls

[2020-04-28 11:20] alfonsolr09 commented on #18863
@sarahdib Hi, at the end of January I installed the "1-Click Upgrade" module, trying to switch from v 1.7.5.0 to v 1.7.6.0. As you know, the modullo creates a backup, which I find on the server: https://www.screencast.com/t/mHKMaFKe8o https://www.screencast.com/t/R0HRnUvkKf En these days I have tried to go back to the old one version, from v 1.7.5.6 to 1.7.5.0 through this module, but when I did e

[2020-04-28 11:22] zuk3975 opened #18867 "Deleting default image settings breaks the shop"
#### Describe the bug

If merchant deletes default image settings like "home_default" in BO Design-> Image Settings then FO breaks.

#### Expected behavior

There are some places where image type is just hard-coded in templates, so I don't know what were the initial expectations, but it might provoke even more issues with images. As its not configurable of when and which image type should be shown

[2020-04-28 11:23] sarahdib commented on #18857
@jyothi0093

It's the normal behavior in order to display all information.

[2020-04-28 11:24] zuk3975 commented on #18867
the error might be asssociated with this https://github.com/PrestaShop/PrestaShop/issues/17725.
But the rest of the "hardcoded types" is still relevant

[2020-04-28 11:26] thbl commented on #18852
@sarahdib  this video has nothing to do with the issue.

The issue is that you cant upload and save minature image without having cover image

[2020-04-28 11:38] servidiomarco commented on #18839
Hi @PierreRambaud I'm able to add related products myself with super Admin profile as shown on your screenshot but the issue occurs when another user profile is trying to do so.
My guessing, receiving the token error back, is that this is happening when a different user tries to modify a products that hasn't been created by it.

[2020-04-28 11:39] khouloudbelguith commented on #18865
Could be related to this PR: https://github.com/PrestaShop/PrestaShop/pull/17069

[2020-04-28 11:42] Progi1984 commented on #18789
Fixed by #18859

[2020-04-28 11:42] #18789 closed, assigned to Progi1984, khouloudbelguith

[2020-04-28 11:43] sarahdib commented on #18856
@Macrisu
The issue seems linked to outlook not PrestaShop.

[2020-04-28 11:49] crabbi33 opened #18869 "Unable to add a new product"
After an importation of ps_product related table from a ps1.7.2.4 to a ps1.7.5.6 with forced ID, i can't add a new product

got  that

[<a href="https://zupimages.net/viewer.php?id=20/18/gtc9.png"><img src="https://zupimages.net/up/20/18/gtc9.png" alt="" /></a>](url)

[<a href="https://zupimages.net/viewer.php?id=20/18/y5ex.png"><img src="https://zupimages.net/up/20/18/y5ex.png" alt="" /></a>](url

[2020-04-28 11:55] matks commented on #17725
Reproduced today by @zuk3975 (still struggling with it)
I tried too. 1st install I so the bug (both empty SQL table and broken FO). Then did a reinstall and it worked (so 2nd attempt => OK).

Strange 🤔

[2020-04-28 12:12] viosan commented on #18863
https://www.screencast.com/t/7Ehnelt7Sl

[2020-04-28 12:24] Progi1984 commented on #18550
@matks Merged

[2020-04-28 12:25] Progi1984 commented on #10026
Fixed by #18580

[2020-04-28 12:34] xmovu commented on #14754
Hey guys,

Are there any news about this or an ETA?

It's definitely something we are missing. As well as being able to change the payment method to the client. If it can send the page to process the payment and allow to choose the gateway, it'd be perfect.

[2020-04-28 12:35] PierreRambaud commented on #18839
I tried with a new user with new profile with the same permissions as yours and I still don't get any token errors :thinking:
Do you use custom modules?

[2020-04-28 12:39] matks commented on #18550
@prestamodule It's now merged into `1.7.7.x` 😄
https://github.com/PrestaShop/PrestaShop/pull/18580

However we have released 1.7.6.5 and, [unless a major regression is found or a major security issue is reported](https://build.prestashop.com/news/ps17-patch-release-lifecycle/#when-is-it-decided-to-release-a-patch-), there will be no 1.7.6.6 release, so there will be no backport into `1.7.6.x` bran

[2020-04-28 12:40] matks commented on #10026
Reopening the issue as unfortunately this github issue contains 4 different bugs to be fixed. My PR only fixed one.

[2020-04-28 12:40] alfonsolr09 commented on #18863
did you check the php version? did you clear the cache after downgrading version?

[2020-04-28 12:44] Progi1984 commented on #10026
@matks Where 4 bugs ? I see only a process in 4 steps in the first comment.

[2020-04-28 12:45] matks commented on #10026
Oh, my bad. Either it used to be a list of bugs and it has been split since then or I'm crazy. I hope it's the 1st case.

[2020-04-28 12:46] #10026 closed, assigned to matks

[2020-04-28 12:52] alfonsolr09 opened #18872 "error with full screen youtube video iframe"
#### Describe the bug

when I attach a video to a product, if I have this option "Use HTMLPurifier library" activated, the html is corrected and the full screen does not work

the html of the video should be this,
<iframe width = "560" height = "315" src = "https://www.youtube.com/video" frameborder = "0" allow = "accelerometer; autoplay; encrypted-media ; gyroscope; picture-in-picture" allowfulls

[2020-04-28 12:54] #18731 closed, assigned to khouloudbelguith

[2020-04-28 12:55] viosan commented on #18863
php 7.2.
Sorry, running I didn't express myself well:
while I was in the dashboard, in the "1-Click Upgrade" module, when I finished the downgrade process from v 1.7.5.6 to v 1.7.5.0, the final entry indicated an error in loading the files. When I left the form, everything crashed: in the admin you could no longer log in, and the site gave me error 500. Everything here .... all dead.
CANNOT ACCESS

[2020-04-28 13:01] marionf commented on #10026
Yes, we can close this one, I created 2 new issues for other problems

[2020-04-28 13:56] PierreRambaud commented on #18824
Oh my god, you're right, I'm totally blind (Or maybe tired because of lockdown -_-)

[2020-04-28 14:02] idnovate opened #18874 "Thai currency symbol (฿ - Baht) is not displayed correctly in PDF invoice"
#### Describe the bug

`฿` symbol is not displayed in invoice.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Import "Thailand" location
2. Create an order
3. Generate invoice
4. Check invoice. `฿` symbol is replaced with `?`

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
![image](https://user-images.githubusercontent.com/1510472

[2020-04-28 14:16] Pierpaolo-Petros commented on #18612
hi

Thanks for your answer,
I'm not very practical, but I'm committed.

I didn't have the php logs, I had them activated by my provider and I did some tests on the '500 error' since the file was new.

[2020-04-28 14:17] Pierpaolo-Petros commented on #18612
[farmahopephp.log.zip](https://github.com/PrestaShop/PrestaShop/files/4546258/farmahopephp.log.zip)

[2020-04-28 14:19] Pierpaolo-Petros commented on #18612
[prod.zip](https://github.com/PrestaShop/PrestaShop/files/4546267/prod.zip)

[2020-04-28 14:35] PierreRambaud commented on #18612
I see two redundant errors in your logs:
[code]

Can you try to disable your `farmadatimulti` module?

[2020-04-28 14:41] Pierpaolo-Petros commented on #18612
Of course I can disable it, but this module acts as a filter for drugs, i.e. it allows me to upload through 'misan' code the drugs that can be sold online.

I can disable it, test it, and update you.

Thank you very much

[2020-04-28 14:52] Pierpaolo-Petros commented on #18612
I deactivated the pharmacology module, but the translation of the forms has always been "error 500".
I emailed the developer of the farmadati module, with you indications of the critical error of the API.

How you can fix this:
[2020-04-25 13:32:45] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Call to a member function isUsingNewTranslationSystem

[2020-04-28 15:07] servidiomarco commented on #18839
@PierreRambaud no I don't use any custom modules

[2020-04-28 15:38] Lathanao commented on #18874
Is it a wrong setting? I have a Thai shop (ps 1.7.5.1), fully in Thai language.
On the shop, there is only one currency set, THB.
On the invoice, I don't have the ฿, but THB. But it's ok for us.

![image](https://user-images.githubusercontent.com/6756795/80507017-8c4f4780-89a0-11ea-8ef2-439d52760cf9.png)

[2020-04-28 15:41] idnovate commented on #18874
Maybe it's related with this https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.6/#cldr

[2020-04-28 15:42] #18521 closed, assigned to matks

[2020-04-28 15:45] matks commented on #18521
@menno-comm-on fixed on `develop` branch 😉thanks for the reporting

[2020-04-28 15:49] Lathanao commented on #18874
I just set a PS1763 by importing the Thai language, I get the ฿ symbol.

![image](https://user-images.githubusercontent.com/6756795/80508567-66c33d80-89a2-11ea-873a-7f7f9647b895.png)

[2020-04-28 15:58] PierreRambaud commented on #18612
@PrestaShop/prestashop-product-team Did you already see the problem? I'm not able to reproduce :/

[2020-04-28 15:58] idnovate commented on #18874
Not sure which is the problem then, but I tested it because of this https://www.prestashop.com/forums/topic/1007915-probl%C3%A8me-affichage-symbole-devise-sur-facture-presta-1752/

[2020-04-28 15:59] 8ternity commented on #16437
Yes. It was resolved by itself or fix. I don't remember. It's from last year.

[2020-04-28 15:59] PierreRambaud commented on #18839
Could you please provide us more information about the system, your browser, php version, etc, please?

[2020-04-28 16:00] 01park commented on #18772
After the speed on the site came back and I made a new backup, I was able to restore. The site on the new server.

This can be marketed als solved.

If anyone has time, can they tell me why a this error with JSON came?

[2020-04-28 16:57] servidiomarco commented on #18839
@PierreRambaud I updated PS version, token error is gone.
Thanks

[2020-04-28 16:57] #18839 closed, assigned to nobody

[2020-04-28 17:01] jolelievre commented on #18647
The beta build 1 is ready, and is being validated by the QA team

[2020-04-28 17:40] darioesposito commented on #18848
Hi sarahdib

Thanks for you reply, where i can find this module option?

I don't know if i explain my problem with consistence, i made another real actual example:

Now i have 8 pants with their combinations and i have 20 size (40 to 60) i have now only 48 avialable for purchase and the other is to 0 quantity and not aviabilable for purchase.

When in my list product page i select the filter size

[2020-04-28 18:14] rflorent opened #18879 "Division by zero in AdminCustomerThreadsController.php on line 718"
#### Describe the bug

Multi shop, Update to 1.7.6.4, white screen on customer thread view in back office.
No errors, even in debug mode (;__;), find this in the server log :

Division by zero in /controllers/admin/AdminCustomerThreadsController.php on line 718
==> 'total_ok' => isset($total_ok) ? Tools::displayPrice($total_ok, $this->context->currency) : false,

var_dump($total_ok) ==> float(INF)

[2020-04-28 21:19] photinia73 opened #18880 "Design of content page"
#### Is your feature request related to a problem?

Hello!
In the PS 1.7.6.3 I can`t found the possibility to choose different variants of design (3 column, one big column and one small, etc) Like in the PS 1.7.5.2 for example.
This option was in the Design->Theme and Logo->
How this option is realized in the PS 1.7.6.3?

Thanks

[2020-04-28 21:36] shelve71 opened #18881 "'Unable to update settings' error saving any product that have a large amount of combinations"
Hi,
i receive the error message 'Unable to update settings'  when i try to saving any product with a large amount of combination. In my case the product have 1050 combinations.

With orther products with less combinations, all works fine.

I also switched on the "Debug mode" ( I attach screenshot of console error)
![Screenshot_](https://user-images.githubusercontent.com/64500934/80540130-04217000-

[2020-04-28 22:13] PululuK opened #18882 "BO - New currency page issues"
#### Describe the bug

The migration of the admin currency page to symfony does not seem to be finished.

#### Expected behavior

Finish migration and make the currency page great again.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to currency page in BO
2. Id column is missing
3. Bulk action is missing (delete, disable, enable)
4. Show SQL query is missing
5. Export to SQL Ma

[2020-04-28 23:04] anfuca commented on #10762
@colinegin when you say that Axome gave you that solution... Do you mean a working solution? Is already implemented in your site? If yes, I'm very interested, and I would like to talk with them.

This bug is a very serious headache for me... I'm having a lot of orders with negative stock.

[2020-04-29 03:31] giladze commented on #12452
have same error

[2020-04-29 06:23] rmasq commented on #18251
Sorry for not answering before. I have checked the last proposed option of "Disable non-native modules" and it worked fine! Thank you very much @khouloudbelguith for your help

[2020-04-29 07:25] Progi1984 commented on #18759
Fixed by #18184

[2020-04-29 07:25] #18759 closed, assigned to nobody

[2020-04-29 07:42] nsorosac commented on #10762
Hi @anfuca

Unfortunately, this is not a working solution, but rather a proof of concept. We had to think of a solution for this problem for one of our customers, and we ended up with this idea.

It still needs to be reviewed by prestashop core team because it has a lot of implications:

- The final stock check should be a feature you can toggle on or off in the admin panel, because all payment ga

[2020-04-29 07:47] viosan commented on #18863
![Annotazione 2020-04-29 094317](https://user-images.githubusercontent.com/63297464/80572279-47f29480-89fe-11ea-8db4-08d01ca25566.jpg)

[2020-04-29 08:10] colinegin commented on #18698
Hello @rdy4ever,

This can cause a problem in the user experience if the user receives a email for order confirmation a few hours after he actually made the purchase on the website. I find this very risky for the image and trust. What do you think ?

[2020-04-29 08:57] rdy4ever commented on #18698
Hi @colinegin
Not a few hours by any mean, that would be terrible. But, instead of sending the e-mail synchronously with the request to finalize the order, the mail should be sent async by the server a few seconds later, after the order is completed and the user gets the success message. The queque's role would be just to be able to send the email even in the case the user exists the website, or i

[2020-04-29 09:00] rdy4ever commented on #18698
One more thing that would work well UX-wise, could be to switch the request to finalise the order to AJAX, so we could display a message/progress bar to the user while the order is placed.
The problem that we face with the current situation is that if the user closes the website while the last request to finalise the order is still running (bacuase it may take too long to complete), PS will not re