[2021-05-10 10:52] kpodemski commented on #24413
@lukaslau I believe it's because sql table key is `_ci` :) tho like I said before, it's like this for over 10 years, you should try your best to keep keys unique and try to keep their name safely with constants

[2021-05-10 10:53] lukaslau commented on #24413
![image](https://user-images.githubusercontent.com/338537/117648372-ce57bf80-b196-11eb-80eb-4e809a85afaa.png)
![image](https://user-images.githubusercontent.com/338537/117648643-255d9480-b197-11eb-9192-748fbd858332.png)

[2021-05-10 11:01] lukaslau commented on #24413
@kpodemski Configuration table is created by Prestashop so colation is selected by Prestashop :)

Uploaded screenshots with code executed. So It does not seem to be case insensitive. It is a bit weird that you say to stay with constants instead of fixing a bug in Prestashop. It is not about how I should code, it's about making Prestashop more stable and failproof especially with the small things w

[2021-05-10 11:03] lukaslau commented on #24413
@kpodemski Am I missing something? PHP array keys are case sensitive. How this function of Configuration class is case insensitive?
![image](https://user-images.githubusercontent.com/338537/117649661-7457f980-b198-11eb-9129-83c13fda7a63.png)

[2021-05-10 11:15] kpodemski commented on #24413
Key for `name` from `PREFIX_configuration` is case insensitive, which means that no matter if you search for `TEST` or `test` it will find everything, in your table you probably have:

1 | TEST | value
2 | value | value

so the first one is always used for `Configuration` 🤔

Unfortunately I don't see backward compatible way to fix this issue, we can't `strtolower` or `strtoupper` now 🤔 but I didn'

[2021-05-10 11:25] Progi1984 commented on #23266
Fixed by @atomiix in #23138

[2021-05-10 11:25] #23266 closed, assigned to atomiix

[2021-05-10 11:25] Progi1984 commented on #22917
Fixed by @atomiix in #23138

[2021-05-10 11:25] #22917 closed, assigned to atomiix

[2021-05-10 11:36] matks commented on #24413
Hi @lukaslau I think I understand. @kpodemski used the word "case insensitive" with a specific meaning, different from you. This is why there is a misunderstanding.

If I am not wrong

= "The Configuration class has been built to only deal with UPPERCASE statements, not LOWERCASE."

I think this is what @kpodemski means "case insensitive" = "does not handle different case inputs".

Indeed it seems

[2021-05-10 11:45] simobenso commented on #15499
using this removes the slashes :
`return json_encode($jsonArray, JSON_UNESCAPED_SLASHES);`
on webserviceOutputJSON.php line 50

[2021-05-10 12:10] lukaslau commented on #24413
I think it should not be a problem to fix this with one small change. For now mostly Configuration class is case sensitive. To fix this it is needed one change:
![image](https://user-images.githubusercontent.com/338537/117657153-e719a280-b1a1-11eb-95cf-bbbb25cca46a.png)

[2021-05-10 12:11] hibatallahAouadni commented on #24410
Hello @Triloworld

Thanks for all the infos :relaxed:
Could you please provide a screenshot of your Smarty Performance (like this one):

![image](https://user-images.githubusercontent.com/23308427/117657235-9c942800-b199-11eb-8479-4acf17a42d2e.png)

Thanks!

[2021-05-10 12:14] samberrry commented on #24410
@Triloworld
yes the mentioned PR - patch (https://github.com/PrestaShop/PrestaShop/pull/24409), will fix your issue, this works when CCC is disabled, as when it's enabled we do not need versioning.

[2021-05-10 12:14] hibatallahAouadni commented on #24423
Hello @RomsC

Could you please provide a module to help me reproduce the issue :pray:

Thanks!

[2021-05-10 12:19] Triloworld commented on #24410
<img width="1227" alt="Zrzut ekranu 2021-05-10 o 14 18 47" src="https://user-images.githubusercontent.com/2671726/117658127-a9654b80-b19a-11eb-924f-7131096f2247.png">

[2021-05-10 12:25] Triloworld commented on #24410
Can be version by default create by microtime?
nobody will update version manually (or maybe microtime by default and manuall version by option?)

[2021-05-10 13:00] Progi1984 commented on #21950
Fixed by @atomiix in #24379

[2021-05-10 13:00] #21950 closed, assigned to atomiix

[2021-05-10 13:01] atomiix commented on #23277
Hi everyone, I was able to reproduce the issue thanks to @Robin-Fischer-PS. The issue does not come from the autoupgrade process but from the state of the DB **before** the upgrade.

Before [this PR](https://github.com/PrestaShop/PrestaShop/pull/18451/files), `readdir()` was used leading to an unpredictable order of the file listed. This order had an impact on the entries in the DB and on the `ps_

[2021-05-10 13:40] alfonsolr09 commented on #24292
why is the file modified?  what error was there?

[2021-05-10 14:01] Oksydan commented on #24292
@alfonsolr09
There was no error.
Cover is not equal default_image.
Cover always stays as cover but default_image is based on combination

[2021-05-10 14:14] Progi1984 commented on #24307
@khouloudbelguith I don't reproduce this bug on 1.7.7.x branch. Could you check it ?

[2021-05-10 14:24] alfonsolr09 commented on #24292
@Oksydan in version 1.7.6.4 everything worked fine for me.
why not now if my template files haven't changed?

[2021-05-10 14:40] 4ngeluxpunk commented on #24221
Hello @hibatallahAouadni , I also thought the same but it is a clean, new installation.  and it is the only section that is not translated.  Greetings.

[2021-05-10 14:59] jolelievre commented on #24307
I tested to reproduce the problem on 1.7.7.x but I couldn't reproduce it (didn't test the 1.7.7.4 build though)

[2021-05-10 15:01] henri9813 commented on #24400
Hello,

So, i do not see the interest of this button because image + name of the product are already links of the product page. @hibatallahAouadni

[2021-05-10 15:03] henri9813 commented on #24411
Hello @hibatallahAouadni .

If i can't open issue here, can you allow us to open issue on the project page ?

Best regards

[2021-05-10 15:04] ghost opened #24431 "An error when debug mod is enabled and an error when maintenance mod is enabled"
#### Describe the bug

When i active maintenance mod i have an error

#### Expected behavior

No error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Active Maintenance mod
2. Go on your shop

**Screenshots**

![Capture d’écran de 2021-05-10 16-58-32](https://user-images.githubusercontent.com/5064590/117680780-c5c0b280-b1b1-11eb-9d32-4b977c1c1fc1.png)

#### Additional information

[2021-05-10 15:08] henri9813 opened #24432 "theme/XXX/templates/catalog/_partials/facets.tpl is not used"
#### Describe the bug

Read this https://github.com/PrestaShop/PrestaShop/issues/23104

Hovewer, if i a place this file in the `themes/XXXX/modules/ps_facetedsearch/views/templates/front/catalog/facets.tpl` the override works !

#### Expected behavior

When i edit the templates/catalog/_partials/facets.tpl  file, it should override the default tpl.

#### Steps to Reproduce

Steps to reproduce the

[2021-05-10 15:08] PierreRambaud commented on #24431
Hi @okom3pom
You probably install prestashop without building asset (which is require when using source instead of archive zip).

I don't manage to reproduce the issue.

[2021-05-10 15:17] henri9813 commented on #24432
PR here: https://github.com/PrestaShop/PrestaShop/pull/24433

[2021-05-10 15:18] okom3pom commented on #24431
I have to way i close and open new issue when is clarified

In 178X i don't have style when maintenance mode enabled

![Capture d’écran de 2021-05-10 17-17-38](https://user-images.githubusercontent.com/5064590/117682770-b3477880-b1b3-11eb-985b-6af7825f5d41.png)

In dev i have an error when debug is enabled.

![Capture d’écran de 2021-05-10 17-14-44](https://user-images.githubusercontent.com/506459

[2021-05-10 15:20] Progi1984 commented on #24276
Fixed by @matthieu-rolland in #24356

[2021-05-10 15:20] #24276 closed, assigned to matthieu-rolland

[2021-05-10 15:52] matks commented on #24411
Hello, we use GitHub issues only to discuss about bugs and new features for the PrestaShop project. This repository is a bug tracker and a feature tracker, this is why we ask discussions do not happen here.

As mentioned by @hibatallahAouadni we have a Slack channel for discussions 😉  . https://github.com/PrestaShop/open-source/tree/master/slack

[2021-05-10 16:54] angelflo opened #24436 "Bug with multistore and backend grid view of products ?"
#### Describe the bug

I have enable multistore feature on PS 1.7.7.4 last release
I have created my differents websites and in the table ps_shop I see them and each shop have it own id_shop => this part seems OK and logic.

But when i go in my Prestashop Backend >> Catalog >> Products and when I choose to display "**All Shops**" in the dropdown list at the top => **the products grid still display

[2021-05-10 18:43] hibatallahAouadni commented on #24413
So, @PrestaShop/prestashop-core-developers what we should do? reopen the issue or no?

[2021-05-10 18:46] hibatallahAouadni commented on #24221
Did you check your overrides?

[2021-05-10 18:49] 4ngeluxpunk commented on #24221
Hi @hibatallahAouadni

Where I review them, since it is a clean installation without modifications, and only that section of the invoice is not translated by the others without problem.

[2021-05-10 18:52] hibatallahAouadni commented on #24221
Hello @4ngeluxpunk

That's literally ODD :open_mouth: could you please try with another new install (don't install any other module, just basic install).
Please check and feedback.

Thanks!

[2021-05-10 21:28] #24431 closed, assigned to nobody

[2021-05-10 22:11] henri9813 commented on #24400
Okay, i have 2-3 Pr to do for this module  ;-)

[2021-05-10 22:29] SharakPL opened #24438 "Fatal error from ps_metrics"
DO NOT force install **ps_metrics** module on fresh Prestashop 1.6 installations. Trying to uninstall it always ends with fatal error

Clearly this module was made for 1.7, so why is it forced on 1.6?

#### Steps to Reproduce

1. Install fresh Prestashop 1.6 (ps_metrics will be installed automatically)
2. Go to Modules and try to uninstall ps_metrics
3. Module gets uninstalled, but the result is a

[2021-05-10 22:33] alfonsolr09 commented on #24292
it's true, that was the problem.
Thank you so much

[2021-05-10 22:56] Maofree opened #24439 "Wrong canonical url into paginations like for category pages"
Hi
Today a seo agency reports to my customer a problem with canonical urls present into category pages when there are paginations

#### Describe the bug

In the category pages, if there are some paginations, the canonical url from the second page onwards report the parameter of the page, instead it should reports the url of the first page.

#### Expected behavior

all paginations should report the

[2021-05-11 01:21] ProteanCode opened #24440 "Cannot override a Cart method getPackageShippingCost"
#### Describe the bug

According to docs I could do it in my module by making a Cart class that extends CartCore by putting Cart.php inside modules/<modulename>/override/classes directory.

My specific goal is to make this method return zero if a current order value is above the free shipping price, and the country of the delivery address is different than Y.

#### Expected behavior

Make this cod

[2021-05-11 03:03] hibatallahAouadni commented on #24122
Hello @jcarloscid

Thanks for your patience and sorry for the late response :pray:
So to sumarize the issue, we need to follow these steps to reproduce it:

1. create a **product A** with tax **21%**
2. create a **product B** with tax **9%**
3. create a cart rule with condition: `Minimum amount`: 20 euros, and action: select **product B** as `free gift`
4. create an Order with product A and apply

[2021-05-11 03:07] hibatallahAouadni commented on #24277
Hello @23b

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #13392.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: I'm going to change the **Fixed ticket** in your PR to this one #13392

Thanks!

[2021-05-11 03:07] #24277 closed, assigned to nobody

[2021-05-11 03:19] hibatallahAouadni commented on #24257
Ping @PrestaShop/product-team @PrestaShop/prestashop-core-developers should I add this issue description to #23131? or should each issue treated separately?

[2021-05-11 04:18] hibatallahAouadni commented on #24372
Hello @Prestaplugins

Thanks for your feedback.

So your issue is a duplicate to this one #13392, could you please confirm it.

Thanks!

[2021-05-11 04:26] #24438 closed, assigned to nobody

[2021-05-11 04:34] hibatallahAouadni commented on #24440
Hello @ProteanCode

Could you please check this issue #13669 it seems similar to yours.
If, it's not, could you please provide a module to help me reproduce the issue.

Thanks!

[2021-05-11 04:37] hibatallahAouadni commented on #24436
Hello @angelflo

Could you please provide a clear and concise steps to reproduce (we provide that block to fill it) :wink:
And if you could provide a screen record, it will be super helpful :pray:

Thanks!

[2021-05-11 05:20] sanji-japan commented on #24424
Hello @hibatallahAouadni,

The issue is different, the reference given is about the lack of stock update, in my case the stock is properly updated but not with the proper status. The absence of a proper status then preventing understanding the origin of a stock chage...

Thanks

[2021-05-11 06:11] arouiadib commented on #24431
@okom3pom Just a note a about the error , it is related to image types not installed in database.
The fix is here: https://github.com/PrestaShop/PrestaShop/issues/17539

[2021-05-11 06:42] SharakPL commented on #24438
@hibatallahAouadni Please read issue description more carefully. I'm well aware 1.6 is not maintained. This issue is about the **bug in ps_metrics**, not in Prestashop 1.6 (it's simply affected by it).

Bug is still there so why did you close it?

[2021-05-11 07:11] henri9813 commented on #24299
Hello,

I produced the problem only with a precise set of prodocts.

Hovewer, i can send you a .sql file to import and to reproducE ?

Thank you

[2021-05-11 07:15] matks commented on #24438
@SharakPL ps_metrics is not a module provided by PrestaShop company, not PrestaShop open source project. So @hibatallahAouadni is right to close this issue because it does not belong to this repository scope.

[2021-05-11 07:25] matks commented on #24439
Hi @maofree

SEO is unfortunately a complex area where it can happen that, if you ask 3 SEO experts the same question, you are provided 3 different answers 😅  .

We also have a SEO agency that does audits for PrestaShop project. Please understand we'll have to validate this with them, because of the chaos around SEO topics. SEO is more about reverse-engineering Google algorithms than a set of clea

[2021-05-11 07:30] hibatallahAouadni commented on #24413
All right then, reopen it. Thanks @matks :wink:

[2021-05-11 07:34] 0dp opened #24442 "psgdpr - missing anonymization options"
#### Describe the bug
When installing/activating psgdpr an anonymized demo user is created.
I fail to see anonymization options on customers or described in the documentation.
When deleting a customer through the module, the customer is actually deleted and removed-not anonymized.

#### Expected behavior
Clear path / explanation on how to anonymize customers

### Steps to reproduce

1. Install psg

[2021-05-11 07:40] kpodemski commented on #24439
I don't agree with you @maofree - it's not a bug :)

You don't want to index other products from your categories? Ok, that's fine, canonical should point to first page, but I read reports from some SEO agencies where canonical should point to subpages and all pages from categories should be indexed.

Like @matks said, three seo experts, three different opinions.

[2021-05-11 07:43] SharakPL commented on #24438
Clearly it is
![obraz](https://user-images.githubusercontent.com/5007456/117776580-05cc7780-b23c-11eb-908a-a9c283562633.png)

1.6 not maintained anymore was not a problem when Prestashop created a module in 2021 for 1.6 and forces it there on new installations so why the problem this module caused there is suddenly ignored. That's just bad policy 😬

[2021-05-11 07:47] matks commented on #24438
The module is not forced on installations, it is pushed to be available but still needs to be installed by user.

Because you are reporting the issue on the wrong place.

If tomorrow you go complain to Microsoft Skype team about an issue in Windows, they will ask you to report it to Windows team, it's simple.

The people that built PS Metrics are great people 😉  you just need to contact them. We a

[2021-05-11 07:55] SharakPL commented on #24438
No it is forced. Agency I build shops to still wants only PS 1.6 so I install them a lot and lately all new installations have Metrics installed by default and all of them throw fatal error when trying to uninstall it which is quite obvious since PS 1.6 doesn't have **ps_account** module AFAIK

I get that and I completely agree. Simply couldn't find any specific repository for it like it is for al

[2021-05-11 08:13] Alexandre17220 commented on #11115
@matks My society can send to Prestashop a quote for this work if you want :)
I work for free only for open source projects made by a physical person with no financial objective

[2021-05-11 08:19] Prestaplugins commented on #24372
Yes, it seems quite similar if I read the 1st post of that issue, talking about some new labels into the override that doesn't exist in the original file.
Then, no one talks anymore about new labels... they just talk about existing labels... so I don't know...

[2021-05-11 08:21] matks commented on #11115
@Alexandre17220 😄  if the race condition issue is important for a PrestaShop user, he might be willing to pay you for this work.

if nobody's willing to pay for it... I guess it's not an issue so important 😄  ?

[2021-05-11 08:28] eternoendless commented on #24385
Of course, as you know, I fully agree with the value of this feature. It's the implementation I'm worrying about :)

[2021-05-11 08:36] matks commented on #24412
ping @NeOMakinG

@jorgevrgs what would be the benefits of doing this, in comparison to current implementation?

[2021-05-11 08:38] num47 opened #24444 "Total Products Price doesn’t Show in the Confirmation page"
#### Describe the bug

I was demo creating an order with a product that has product customization option. After confirming the order, the price of the product was not being shown in the "Total Products" Section. But, the total price at the bottom was showing right.

#### Expected behavior

The price of the product should have been shown in that section.

#### Steps to Reproduce

Steps to reproduce

[2021-05-11 08:47] Julievrz commented on #24402
Hello @hibatallahAouadni

I haven't worked on the Wishlist module's wording. I need to talk about it with the product managers next week to know if I should take care of the wording of this module. I will let you know asap.

[2021-05-11 09:00] maofree commented on #24439
Hi @matks  and @kpodemski
I know about the lack of clarity on the seo that many say different things even on the same points, but let's try to use logic, I think we can even get there by ourselves to analyze this thing.

1) the current solution is not good for google because in the search console it reports content duplications.
2) the fact of warning google that it has to index only the first pag

[2021-05-11 09:18] Progi1984 commented on #23277
Fixed in #24443 by @atomiix

[2021-05-11 09:18] #23277 closed, assigned to atomiix

[2021-05-11 09:18] Progi1984 commented on #9513
Fixed in #24443 by @atomiix

[2021-05-11 09:18] #9513 closed, assigned to atomiix, Quetzacoalt91

[2021-05-11 09:23] Morerice commented on #24302
Hi @hibatallahAouadni

Thanks for following up. You shouldn't need to add this function. Could you please confirm that you are on the branch which I linked in the previous comment? This is required since I added this function only in that specific branch for now.

Best regards,
Jean
Adyen

[2021-05-11 09:37] angelflo commented on #24436
quelle déception de vouloir migrer sur une solution française et de constater que 5 ans après le lancement de pretashop 1.7, les fonctionnalités de base du multi boutique sont buguées à ce point :-(

https://www.prestashop.com/forums/topic/1048519-bug-multisites/

[2021-05-11 09:43] Progi1984 commented on #24170
Just discussed with @Julievrz : it seems that this string has not been proofreaded by translators so the translation has not been validated so not sent in packages. We ask proofreading in arabic & german. So the bug will be fixed at this moment.

I define the issue in locked in the meantime.

[2021-05-11 09:44] pixmax opened #24446 "Two translations are not executed."
The bug I would like to report concerns two sentences in the checkout process in the personal data that are not translated. This problem also existed last year with previous versions. The described error is also included on Prestashop.com in the demo version. For this you have to select German in the language selection.
It is the sentences:

_"The personal data you provide is used to answer querie

[2021-05-11 09:48] nervusdm opened #24448 "AdminSpecificPriceRule Not working properly on Safari. 1.7.7.3"
Hey,

It seems that AdminSpecificPriceRule does not work fine on Safari. (Mac M1 ARM).
I guess it's about javascript, even there is no obvious error.

Condition group saved does not load (it's always the first category for example).
Same for attributes, features, supplier...

In fact, on Safari, the "condition" group seems buggy.

Works fine on Chrome.

#### Additional information

* PrestaShop ve

[2021-05-11 09:48] hibatallahAouadni commented on #24444
Hello @num47

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10912.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-11 09:48] #24444 closed, assigned to nobody

[2021-05-11 09:51] matks commented on #24436
Bonjour @angelflo
PrestaShop est un projet open source: il devient meilleur grâce à la contribution de tous, l'équipe en charge ainsi que les utilisateurs. Si le multiboutique est un sujet important pour vous nous serons ravis d'accueillir vos contributions (en Anglais toutefois) pour le rendre meilleur.

[2021-05-11 09:51] #24448 closed, assigned to nobody

[2021-05-11 09:51] hibatallahAouadni commented on #24448
Duplicate of #24147

[2021-05-11 11:14] abcreationIT opened #24450 "Missing menu icon only in back office dashboard"
#### Describe the bug

The icon to access the menu from mobile seems to be missing, only from the dashboard
As you can see in the official PrestaShop Live Demo, selecting the mobile view

[Official PrestaShop Live Demo for 1.7.7.4](https://demo.prestashop.com/#/en/back)

#### Expected behavior

I expect to see the icon for the mobile menu

#### Steps to Reproduce

Open the back office dashboard fr

[2021-05-11 11:29] hibatallahAouadni commented on #24432
Hello @henri9813

Could you please provide your PrestaShop and PHP versions. By the way we already discussed about this file's purpose [here](https://prestashop.slack.com/archives/CTKHSPWPM/p1612429273073400).
But I forget what we decided to do :sweat_smile: @PierreRambaud @Hlavtox could someone remind me :sweat_smile:

Thanks!

[2021-05-11 11:34] #16631 closed, assigned to nobody

[2021-05-11 11:49] sergiobm3 opened #24451 "Bug sort by price products frontend"
You cannot sort by product price in frontend whose price is 0, but the combination has the value.

[2021-05-11 11:52] sergiobm3 opened #24452 "?filter[name] bug"
#### Describe the bug

I have a product option called "Size [mm]", but when I use the http web service filter ... / product_features /? Filter [name] = [Size [mm]] returns all options.

#### Expected behavior
 How can I arrange for only that option to be returned?

#### Additional information

* PrestaShop version: 1.7.7.4
* PHP version: 7.2.3

[2021-05-11 11:56] Tejobolten opened #24453 "Update issue in 1.7.7.4"
#### Describe the bug
/var/www/mixje.com/public_html/src/Adapter/EntityMapper.php line 99 - array_key_exists() [function.array-key-exists]: Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead

A clear and concise description of what went wrong.
The iclick update went ok till the moment when the database is updated. I get the above line several times  and the

[2021-05-11 12:04] hibatallahAouadni commented on #24372
Hello @Prestaplugins

Thanks for your feedback!
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #13392.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: could you please add your comment (your thoughts) in that issue, so the Core Dev get notified :pray:

Thanks!

[2021-05-11 12:04] #24372 closed, assigned to nobody

[2021-05-11 12:04] hibatallahAouadni commented on #24372
Duplicate of #13392

[2021-05-11 12:21] hibatallahAouadni commented on #24436
@matks @angelflo in English please :wink: English is the norm on GitHub.

[2021-05-11 12:23] pixmax commented on #24446
It seems the **first step** is done. Great. What was the problem?

![first_step](https://user-images.githubusercontent.com/22912788/117814195-493adc00-b264-11eb-92d0-f9b38c802622.jpg)

[2021-05-11 12:31] hibatallahAouadni commented on #24452
Hello @sergiobm3

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-05-11 12:31] #24452 closed, assigned to nobody

[2021-05-11 12:40] #24451 closed, assigned to nobody

[2021-05-11 12:46] samberrry commented on #12777
please open the issue. There is still same problem on the latest version 1.7.7.4. This problem occur on RTL languages. There is also same issue on Arabic. This is a major issue on RTL languages.
I try to create a PR for it.
Thanks

[2021-05-11 12:48] ProteanCode commented on #24440
Hmm I do not see much of a correlation with my case, or at least I didn't reach that point yet.
I just want to override the body of that method

[2021-05-11 12:53] samberrry commented on #12777
It worth to mention that this happens on products which have combinations.

[2021-05-11 13:02] sergiobm3 opened #24458 "API result is wrong when searching for Product Feature with brackets"
#### Describe the bug

The web services search engine does not recognize when there are brackets in the product features and options.

#### Expected behavior

If I create an product_option or product_feature called "Measure [mm]" I should find 1 result by typing the following:
 ?filter [name] = [Measure [mm]]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to browser
2. Create th

[2021-05-11 13:02] Progi1984 commented on #23633
Fixed by @dali-rajab in #24243

[2021-05-11 13:02] #23633 closed, assigned to dali-rajab

[2021-05-11 13:34] Robin-Fischer-PS opened #24460 "Product V2 page - Indexation of product not done after creation"
#### Describe the bug

When creating a product fully on Product V2 page, the product is not automatically indexed. It is correctly indexed in classic Product page.

#### Expected behavior

The page should be indexed when created on Product V2 page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Advanced Parameters > Experimental features
2. Enable Experimental Product Page
3.

[2021-05-11 13:36] Progi1984 commented on #22951
@khouloudbelguith I just tested on 177x branch and I didn't reproduce the bug :

![image](https://user-images.githubusercontent.com/1533248/117824205-92902900-b26e-11eb-9c0d-173d974a6377.png)
![image](https://user-images.githubusercontent.com/1533248/117824248-9cb22780-b26e-11eb-891e-de248f6401f4.png)

[2021-05-11 13:47] hibatallahAouadni commented on #24439
Hello @maofree

Related to #13737
Could you please check this issue #18109 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-11 15:09] khouloudbelguith opened #24463 "BO - Welcome module - Th pop up onboarding is not displayed in the step3/6 "step1" & step4/6 "step2""
#### To do
Fix the issue on the module and release it

#### Describe the bug

When the `ps_mbo` module is installed, the popup onboarding is not displayed at step 4/6 "Get your shop ready for Payment" step2
![on_boarding_no_pop_up](https://user-images.githubusercontent.com/16067358/117839119-32ec4a80-b27b-11eb-9d48-26459cdaadae.png)
Version ps_mbo =2.0.1.
 the popup onboarding is not displayed at

[2021-05-11 15:18] khouloudbelguith opened #24464 "FO - Create Account / Checkout page - Order as a guest / Adresses step - Exception displayed when Firstname, Lastname or City are invalid"
#### Describe the bug

In the FO > Checkout page > Order as a guest part, when we set the firstname & lastname with invalid data, an exception is displayed
Also, when we create an address in the checkout page with invalid firstname & lastname & City => an exception is displayed.

Edit by @Robin-Fischer-PS : In FO > Create an account, an exception is also displayed when the firstname and/or lastnam

[2021-05-11 15:26] khouloudbelguith opened #24465 "FO - Checkout page - incorrect redirection when we use another address for invoice as a guest"
#### Describe the bug

In the FO > checkout page, when we use another address for the invoice as a guest, we are redirected to the Information step instead of the Shipping method step

#### Expected behavior

After submitting the address, the user should be redirected to the shipping step

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and add a product to the cart
2. Click

[2021-05-11 15:28] RomsC commented on #24423
@hibatallahAouadni, do you need more information ?

[2021-05-11 15:47] khouloudbelguith opened #24467 "FO - Order confirmation page - cannot add a popular product to the wishlist"
#### Describe the bug
In the FO > Order confirmation page, when we try to add a popular product to the wishlist => the modal is not displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Greate an order from the FO with a customer
2. On the Order confirmation page, the list of popular products is displayed
3. try to add the first to the wishlist
4. See error: nothing happens when

[2021-05-11 15:55] matks commented on #24436
@angelflo sorry to hear that you are afraid to invest in PrestaShop project.

As I said before, this is an open source project. PrestaShop company invests in it to make the software go forward. Same for all contributors, and many PrestaShop developers. They invest time to make the software grow and they work on the topics that are important for them. If nobody invested time to fix the bugs you men

[2021-05-11 15:55] khouloudbelguith opened #24468 "BO - Add new theme - an error 404 is displayed in the console"
#### Describe the bug

In the BO > Design > Theme & Logo > Add new theme page, an error is displayed in the console
![BO_add_new_theme](https://user-images.githubusercontent.com/16067358/117846539-d3de0400-b281-11eb-9848-15bd4ebd9572.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Design > Theme & Logo page
2. Click on 'Add new theme'
4. See error in the console

PS1

[2021-05-11 16:19] khouloudbelguith opened #24470 "BO - Design - Theme Customization - Page configuration - we cannot enable mobile module when it is disabled on desktop"
#### Describe the bug

When we disable a module from the desktop, we cannot enable it on mobile

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Design > Theme & Logo > Pages configuration page
2. Disable the main menu module => ok
3. Click on the drop-down list to "Enable mobile"
![image](https://user-images.githubusercontent.com/16067358/117848746-dfcac580-b283-11eb-95bf

[2021-05-11 16:19] matthieu-rolland opened #24471 "Blocking the new product edition page when multistore is used"
Currently, when multistore is enabled, the product page is disabled in group shop context.

In the new experimental product page, multistore has not been tested yet, we don't know if it works properly even in all shop and single shop context.

So with @jolelievre we thought it would be a good idea to block the page and display a message if there is more than one shop enabled, until we make this pa

[2021-05-11 16:28] khouloudbelguith opened #24472 "BO - Design - Theme Customization - Page configuration - A front-end issue when we try ro disable / reset / uninstall a module"
#### Describe the bug
In the BO > Theme & Logo > Pages configuration page >When wtry to disable /reset / Uninstall a module => The modal have a front-end issue
![bo-uninstall-front_end_issue](https://user-images.githubusercontent.com/16067358/117851211-61bbee00-b286-11eb-97b9-28ced658b3dd.png)
![BO_reset_front_end](https://user-images.githubusercontent.com/16067358/117851215-62ed1b00-b286-11eb-8e1

[2021-05-11 16:34] jorgevrgs commented on #24412
Mainly code reuse for other controllers that may require it, not only stock controller, and allow developers to use it in their modules.

It could be a `prestakit-ui-kit` implementation for Vue, a kind of `@prestashop/prestakit-ui-vue` package, being ambitious, opening for a (not-too-far) future back-office API-based without reloading (decoupled architecture), furthermore to standardize the use an

[2021-05-11 17:17] 0dp commented on #24442
Hi @hibatallahAouadni
Unfortunately, i don't understand what steps, screenshots or other form of documentation i can provide

[2021-05-11 19:41] ProteanCode commented on #24440
I do think about using runkit7 as a workaround

[2021-05-11 19:45] henri9813 commented on #24432
Hello :-)

Prestashop 1.7.4 php 7.4

Indeed, but at this time, the theme has a useless file which is now used if the file is in the good place. :-)

[2021-05-11 20:12] dali-rajab commented on #23633
thanks @ang3lx

[2021-05-12 02:55] hibatallahAouadni commented on #24458
Related to #14439

[2021-05-12 07:21] matks commented on #24442
@0dp it's about https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md

For example you might write steps like this

1. Install GDPR module
2. A anonymous demo user is created (how? from which webpage ? by the module?)
3. There should be anonymization options on webpage A for customers as described in the documentation B

4. When deleting a customer through

[2021-05-12 07:30] hibatallahAouadni commented on #24450
Hello @abcreationIT

I was able to reproduce the issue with PrestaShop versions:

- 1.7.7.4
- 1.7.7.3
- 1.7.7.2
- develop
- 1.7.8.x

But, I couldn't reproduce it with:

- 1.7.7.1
- 1.7.7.0
- 1.7.6.7
- 1.7.7.1 upgraded to 1.7.7.4 (magic :exploding_head: )

So, it's a regression! I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, s

[2021-05-12 07:33] 0dp commented on #24442
Thanks for clarifying that @matks
My biggest problem about describing this is actually that i dont know what the expected behaviour is, i can only make an educated guess 😬

[2021-05-12 08:35] jf-viguier opened #24474 "actionOrderStatusPostUpdate hook should have the old order status in params"
#### Is your feature request related to a problem?

The actionOrderStatusPostUpdate hook have only newOrderStatus parameter but the order state has already been changed in the order.
#### Describe the solution you'd like

Add the old order state in params of the hook.

[2021-05-12 08:48] hibatallahAouadni commented on #24474
Hello @jf-viguier

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-05-12 08:53] hibatallahAouadni commented on #24432
Ping @henri9813 you mean 1.7.7.4 or 1.7.4.x?

[2021-05-12 08:53] NeOMakinG commented on #24450
This issue is related to PSMetrics

[2021-05-12 09:04] sergiobm3 opened #24475 "Combination product dont work"
#### Describe the bug

I have many different combinations for a product and not all of them share the option. When I select a non-share option it is redirected to the first combination created.

#### Expected behavior

That the options are updated depending on the combination that is chosen

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create combinations that do not repeat option

[2021-05-12 09:12] henri9813 commented on #24432
1.7.7.4 Sorry :-)

[2021-05-12 09:21] sergiobm3 commented on #24475
I found this bug, It's because there are character like '[', ']', '-'. Why not use there?

[2021-05-12 09:46] Progi1984 commented on #21775
Fixed by @PierreRambaud  in #24430

[2021-05-12 09:46] #21775 closed, assigned to PierreRambaud

[2021-05-12 09:46] #24317 closed, assigned to NeOMakinG

[2021-05-12 09:47] Progi1984 commented on #23429
Fixed by @atomiix in #24457

[2021-05-12 09:47] #23429 closed, assigned to atomiix

[2021-05-12 10:15] sarahdib opened #24477 "Bad display on FO when maintenance mode & restricted-country mode is activated"
#### Describe the bug
Bad display on FO when maintenance mode is activated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin and activate maintenance mode (do not add an ip) and save
2. Click on 'view my shop'
3. See error

**Screenshots**

In 1.7.8.x and develop
<img width="1440" alt="Capture d’écran 2021-05-12 à 12 09 50" src="https://user-images.githubusercontent.com/

[2021-05-12 10:18] ioniks commented on #23838
Hi,

It is a line for have the message on list yes

[2021-05-12 10:19] hibatallahAouadni commented on #24446
Hello @pixmax

About the module traduction, you have two methods to change the translations:

1. **BO**>**IMPROVE**>**International**>**Translations**
2. Select **Installed modules translations** as **Type of translation**
3. Select the module
4. Select your language
5. Click on **Modify**
6. Enjoy it :wink:

Or:

1. **BO**>**IMPROVE**>**Modules**>**Module Manager**
2. Search your module
3. Click

[2021-05-12 10:32] hibatallahAouadni commented on #24458
Hello @sergiobm3

Did you create this feature by WebService or in BO?
Please check and feedback.

Thanks!

[2021-05-12 10:47] hibatallahAouadni commented on #24475
Hello @sergiobm3

I didn't manage to reproduce the issue with PS1.7.7.4, see the attached screenr record below:

https://drive.google.com/file/d/1Z30x4ITYRp4ozTLHx6J6_PwIxbqV_qrY/view

Please check and feedback.
Thanks!

[2021-05-12 10:48] hibatallahAouadni commented on #23773
Hello @yannicka ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-12 10:48] #23773 closed, assigned to nobody

[2021-05-12 10:48] okom3pom commented on #24477
Hello,

I think we it's related to : https://github.com/PrestaShop/PrestaShop/issues/13505

But not exactly the same

[2021-05-12 10:49] hibatallahAouadni commented on #23874
Hello @PrestaEdit ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-12 10:49] #23874 closed, assigned to nobody

[2021-05-12 11:25] samberrry commented on #12777
@hibatallahAouadni please the issue, as I've explained. Thanks

[2021-05-12 11:41] #18385 closed, assigned to nobody

[2021-05-12 11:56] hibatallahAouadni commented on #24157
Hello @lmeyer1

=> I manage to reproduce with PS1.7.7.4 & PS1.7.6.7 (the image has been transformed to jpg), see the attached screen record below:

https://drive.google.com/file/d/1r19P1wLQj3rDYkZ2VrQlZWWdBTIRVSrb/view

=> We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19377.
You can update your PR as it will fix both issue (the first one about the gi

[2021-05-12 11:57] pixmax commented on #24446
Hi Hibatallah,
great video. Many thanks for that. In the meantime I could changed also the long sentence. Also only in the module manager. In translation is nothing to found.
But it is eally strange when all translations are there, but they could not be used. What you and I did now ist a change. so I think there is still a bug, and it wil happen again that someone did not know how to change these

[2021-05-12 11:57] #24446 closed, assigned to nobody

[2021-05-12 12:07] hibatallahAouadni commented on #24157
I just check on develop and it seems your PR #24119 fixed the first issue

![image](https://user-images.githubusercontent.com/23308427/117972356-553da100-b32b-11eb-8a91-a92cd0e25e65.png)

So, as I told you it's a duplicate of #23920

[2021-05-12 12:07] #24157 closed, assigned to nobody

[2021-05-12 12:07] hibatallahAouadni commented on #24157
Duplicate of #23920

[2021-05-12 12:08] hibatallahAouadni commented on #24157
Duplicate of #19377

[2021-05-12 12:14] hibatallahAouadni commented on #24446
with my pleasure :relaxed:

[2021-05-12 12:22] hibatallahAouadni commented on #23744
Hello @Peter-Liska

I need this informations to reproduce the issue :pray:

Thanks!

[2021-05-12 12:41] sergiobm3 commented on #24458
I create this feature by webService but it also happens if you create it from BO

[2021-05-12 12:46] atomiix commented on #24314
Fixed by #24461

[2021-05-12 12:46] #24314 closed, assigned to atomiix

[2021-05-12 13:03] sergiobm3 commented on #24475
Sorry, '-' is succesfull, try the product_option_value with ','

[2021-05-12 13:22] PierreRambaud commented on #24209
FYI, the main problem was about it was allowed to create request other than a SELECT.
Before the migration you were only able to execute SELECT as it is defined in the notice inside the page. I restore the normal behaviour.

[2021-05-12 13:26] Peter-Liska commented on #23744
As I wrote (and showed) in a previous comment:
You can download **latest versions**, go to product page with product not in stock, test with validator and you will see the Error.
_**Nested forms are not allowed**_

[2021-05-12 13:45] matks commented on #23446
Just found https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/ about this topic

[2021-05-12 15:18] khouloudbelguith opened #24481 "BO - Orders list page - An error is displayed in the console when changing the order status"
#### Describe the bug

In the BO > Orders list page > when we try to change the order status with the dropdown list, an error is displayed in the console
![bo_order_change_status](https://user-images.githubusercontent.com/16067358/118000045-bffbd600-b345-11eb-8b95-eab457b51d3b.png)
It was ok with PS1774

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Orders list

[2021-05-12 15:22] khouloudbelguith opened #24482 "BO - Orders list - Preview order - Invoice details is missing the address mail of the customer"
#### Describe the bug

In the BO > Orders > Order list page, when we try to preview an order, the invoice details is missing the address mail of the customer
![BO_order_preview_invoic details](https://user-images.githubusercontent.com/16067358/118000761-634ceb00-b346-11eb-990f-b0347b23fae0.png)

In PS1774 we have
![1774_preview_BO_order](https://user-images.githubusercontent.com/16067358/118000796

[2021-05-12 15:36] khouloudbelguith opened #24483 "BO - Orders list - The tracking URL is NOK in the preview order"
#### Describe the bug

Related to this issue: https://github.com/PrestaShop/PrestaShop/issues/23401
In the BO > Orders > Order list page > in the preview order section: when we click on the tracking URL, the URL is NOK.

#### Steps to Reproduce

Steps to reproduce the behavior:

1.Go to BO > Shipping > Carriers page
2. Edit a carrier (My carrier for example) and add a Tracking URL `http://example.

[2021-05-12 15:44] khouloudbelguith opened #24484 "BO - Shopping cart page - The total price excluding taxes is displayed instead of the total price including taxes"
#### Describe the bug

In the BO > Orders > Shopping carts view page, when a "method price= tax excluded", the total of an order is displayed with tax excluded, it should be displayed with tax included

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product A with a price without taxes of € 2,13 (2.56 with taxes).
2. Go to Store parameters> Customer settings> Groups and mod

[2021-05-12 15:53] antho-girard commented on #24453
Hi

I've got the same error but with **PHP 7.4** which is not supported yet if I'm correct.
Otherwise, everything looks good with PHP 7.3.

I think this ticket is related to https://github.com/PrestaShop/PrestaShop/issues/19463#issuecomment-636715107

[2021-05-12 16:25] Progi1984 commented on #24209
Fixed by @PierreRambaud in #24217

[2021-05-12 16:25] #24209 closed, assigned to PierreRambaud

[2021-05-13 08:21] darkf3d3 opened #24488 "Add loading spinner when clicking on add to cart button"
I f think that would be useful showing a loading spinner when clicking on add to cart button.
In particular on low tier device or on slow internet connection where the modal cart or cart page could take a while to be showed.
Showing the loading spinner will avoid multiple click on add to cart button, because customer can see that the button has beeen clicked and the website it's loading.

[2021-05-13 09:09] josearandac commented on #19090
Hello,

This solution work for me.

1) File /src/Core/Cart/CartRuleCalculator.php find the code block:

`        // Discount (%) on the selection of products
        if ($cartRule->reduction_percent && $cartRule->reduction_product == -2) {
            $selected_products = $cartRule->checkProductRestrictionsFromCart($cart, true);
            if (is_array($selected_products)) {
                forea

[2021-05-13 10:36] Art3c opened #24489 "PrestashopFacebook"
After upgrading the module to vesion 1.9.0 the FO has stoped working. If the module is disable the FO is working OK. The BO is working in both cases normal.

Greatings, Tilen

Server conf:
MySQL: 10.3.28-MariaDB-log-cll-lve
PHP: 7.3.27
PrestaShop-a: 1.7.7.4

PS Facebook Module

When debug is turned ON this is showing on the FO.

[code]

[2021-05-13 12:15] Tejobolten commented on #24453
Hello @ hibatallahAouadni ,

I couldn't write earlier back. I had to restore my back-up to have the possibility to go on. I will do the update again and  give the needed information here.

[2021-05-13 12:43] Seb33300 opened #24490 "Catalog Price Rule not working with multi shop when on a specific category"
#### Describe the bug

When creating a catalog specific price rule **_using conditions_**, the rule is not working as expected if you choosed the second shop on a multi shop installation of prestashop.

#### Expected behavior

The conditions should target the selected shop.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Configure a multi shop with 2 shops
2. Create a category avail

[2021-05-13 13:34] matks commented on #23996
For your information, I found the root cause of the bug

The help sidebar content is loaded using jQuery `load()` https://api.jquery.com/load/

When help.prestashop.com returns a 404 response, the Access Origin headers of the response are not accepted by `load()` which introduces the CORS error. On 200 responses no issue.

By adding the new Feature Flag Help page on help.prestashop.com we will hav

[2021-05-13 14:23] abcreationIT commented on #24489
Me too.

PHP: 7.3.28
PrestaShop: 1.7.7.4

[2021-05-13 14:47] abcreationIT commented on #23336
It seems not to be solved.
Still present on PrestaShop 1.7.7.4

I can't access the order page

[2021-05-13 14:55] abcreationIT commented on #22386
Already present in PrestaShop 1.7.7.4

Some fix???

[2021-05-13 16:39] abcreationIT opened #24492 "Remove square brackets to email subject"
#### Describe the bug

It's not really a bug but I consider it a useless thing that any developer goes to remove in its integration because it is useless.

Remove square brackets to email subject.

classes/Mail.php - line 476 (in PrestaShop 1.7.7.4)
Remove this line please.

`$subject = '[' . strip_tags($configuration['PS_SHOP_NAME']) . '] ' . $subject;`
![Capture d’écran 2021-05-14 à 09 43 12](

[2021-05-13 17:03] logosur opened #24493 "After upgrade from 1.6 to 1.7.7.4 module install hangs"
Hello,

I cant't install any module, it hangs every time.

I can even see in logs this error:
[2021-05-13 18:49:21] php.DEBUG: Warning: file_get_contents(/home/.../public_html/config/xml/must_have_modules_list.xml): failed to open stream: No such file or directory [] []

I think this file doesn't exist anymore in Prestashop 1.7.7.x right?

Any help would be appreciated.

Regards.

[2021-05-13 17:26] hibatallahAouadni commented on #24488
Hello @darfk3d3

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-05-13 17:26] #24488 closed, assigned to nobody

[2021-05-13 17:53] jacob-v-dam commented on #16741
This issue still exists when creating an order via the backend. I use prestashop 1.7.7.4 and module version 2.1.0.

[2021-05-13 17:56] matteolavaggi commented on #16741
Lol.

Il Gio 13 Mag 2021, 19:53 Jacob van Dam ***@***.***> ha
scritto:

[2021-05-13 18:07] Betafer commented on #16741
It's a feature !

[2021-05-13 18:30] cutox commented on #14703
PrestaShop 1.7.7.3.
Catalog > Stocks loads very slow with 12k products, 13k attributes and 16k combinations (about 4 minutes if loads).
The issues seems related to updateReservedProductQuantity in method (src/Adapter/StockManager.php
<img width="1051" alt="src-Adapter-StockManager-updateReservedProductQuantity" src="https://user-images.githubusercontent.com/1167782/118170134-0b87b000-b42a-11eb-818

[2021-05-13 18:47] henri9813 opened #24494 "Add support for HEIC photo"
#### Is your feature request related to a problem?

I took my photo with an Iphone, then .... pictures are in HEIC format which is not currently accepted by Prestashop.

#### Describe the solution you'd like

When uploading a HEIC file, convert it immediatly to PNG file.

#### Alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered

[2021-05-13 18:55] matks commented on #16741
Hi everyone,

Despite many several trials, we could not reproduce the issue with the provided information.
It seems that the issue only happens in specific conditions that we do not know. Without the list of this specific conditions we cannot reproduce the bug.

Please remember that if you observe a bug on your shop, it does not mean it is related to PrestaShop. A shop is the combination of the so

[2021-05-13 19:02] henri9813 opened #24495 "missing invoice logo"
#### Describe the bug

My logo is not visible on my prestashop

#### Expected behavior

My logo should appear

#### Steps to Reproduce

- Setup a prestashop thought Docker, expose the port 8000 for the prestashop.
- Add invoice logo
- Geneate an invoice from the front.
- The PHP code try to inject the WHOLE URL instead of the relative path or filepath : 127.0.0.1:8000.

However, the container can'

[2021-05-13 20:38] matks commented on #24494
@henri9813 I check HEIC format.

Imagemagick seems to be able to manipulate HEIC images but it is not used yet in the software. We have a pending issue to enable imagemagick https://github.com/PrestaShop/PrestaShop/issues/21101

To be added to https://github.com/PrestaShop/PrestaShop/issues/18518

[2021-05-13 20:42] matks commented on #23010
## 14-05-2021 Status update - 1.7.8.0 is being tested 🕵️

QA team has started testing the 1.7.8 build in order to list all known regressions. Depending on the type and number of regressions we will be able to have
- a list of bugs to fix before we can publish a beta
- a list of bugs to fix before we can publish a release candidate

[2021-05-14 04:41] arouiadib opened #24497 "List of available carriers in product edit page contain disabled carriers - product v1 and v2"
#### Describe the bug
Disabled carriers appear in list of available carriers in product edit page v1 and v2.

#### Expected behavior
Disabled carriers shouldn't appear in list, or should appear as "greyed".

#### Steps to Reproduce the behavior:

0. Have a fresh install on develop
1. Go to Shipping > Carriers, see 2 active carriers and 2 disabled carriers
2. Go to Catalog> Products> Choose a produ

[2021-05-14 05:12] arouiadib opened #24498 "Newly added carriers don't appear in FO checkout - product v1"
#### Describe the bug
If you add a new active carrier in BO, and purchase a product, the carrier doesn't appear in FO checkout.

#### Expected behavior

If a carrier is added and is active, it should appear in checkout page.
(Well, there is an additional condition for a carrier to appear in checkout is to be selected in "available carriers" for the specific product, but this is a separate concern)

[2021-05-14 05:34] arouiadib commented on #15377
Hi guys,
It would be good if we only fix the issue on product v2.
am I right?

[2021-05-14 07:25] matks commented on #12777
Re-opening an issue that is 3 years old is only going to bring confusion 😄

If you observe the same bug and you have an accurate list of steps we can use to reproduce the bug please open a new issue 😉  . A new issue will be better, with less noise, and easier to manage and track.

[2021-05-14 07:34] florine2623 commented on #24489
Hello @Art3c @abcreationIT ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules (You can contact PS Facebook Support directly support-facebook@prestashop.com), or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively

[2021-05-14 07:34] #24489 closed, assigned to nobody

[2021-05-14 07:40] florine2623 commented on #24492
Hello @abcreationIT ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement

[2021-05-14 07:43] matks commented on #15377
We will be happy to welcome a Pull Request that solves the issue either on v1 page or v2 page 😉

The v1 page had multiple structure issues that could only be solved by a rebuild, and that is the scope of the v2 page project. But we can some extra value 🎉

[2021-05-14 07:48] 01park commented on #24300
Hi,

" A link is even quicker than copy-and-search, don't you think? 😉"

In our case the way it used to be was better, we use these reference numbers also to search on external pages.

Would it be possible to have both, a link and a the 1.7.6 way of selecting the info.?

[2021-05-14 07:52] 01park opened #24499 "Order messages not in customers languages 1.7.7.3"
#### Describe the bug
Since we migrated from 1.7.6 to 1.7.7.3 sending order messages to customer are always in English, even when the customer has a selected a different language.
At first I thought, maybe something was wrongly imported during the migration, but when I deleted a order message and created a new one, also the new message is in default English in our case.

#### Expected behavior
I w

[2021-05-14 08:05] florine2623 commented on #24494
Hello @henri9813 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement thi

[2021-05-14 08:23] florine2623 commented on #24490
Hello @Seb33300 ,

I tested with PS 1.7.7.4, I can't reproduce your issue.

My product only available in shop2 :
![Capture d’écran 2021-05-14 à 10 17 37](https://user-images.githubusercontent.com/16019289/118242590-cbfaab80-b49d-11eb-90ea-6d8b1a56b813.png)

The catalog price rule :
![Capture d’écran 2021-05-14 à 10 22 32](https://user-images.githubusercontent.com/16019289/118243143-64912b80-b4

[2021-05-14 08:26] Seb33300 commented on #24490
You need to create a category that exist only in shop 2.

[2021-05-14 08:44] Quetzacoalt91 commented on #24489
Hello @Art3c,

We released the version 1.9.1 of the module Facebook fixing this error, please upgrade to get rid of this issue.

[2021-05-14 09:18] florine2623 commented on #24493
Hello @logosur ,

Here are the files present in folder your_shop/config/xml : https://github.com/PrestaShop/PrestaShop/tree/1.7.7.x/config/xml

After upgrading from 1.6.1.24 to 1.7.7.4, i didn't encounter this error.
![Capture d’écran 2021-05-14 à 11 02 23](https://user-images.githubusercontent.com/16019289/118248000-1d0d9e00-b4a4-11eb-8f0b-cc6788f8e03d.png)
![Capture d’écran 2021-05-14 à 11 0

[2021-05-14 09:18] #24493 closed, assigned to nobody

[2021-05-14 09:33] lmeyer1 commented on #24392
I think the best solution to solve this color problem is using the color classes of bootstrap.
In any PS template, the classes `text-primary`, `bg-primary`, `text-secondary` and `bg-secondary` give the theme's colors to the text/background.

blockwishlist should make use of these classes and not introduce it's own color code.

[2021-05-14 09:40] sarahdib opened #24501 "BO - bad display on Theme & Logo > Pages configuration"
#### Describe the bug

BO - bad display on Theme & Logo > Pages configuration

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin > design > Theme & Logo > Pages configuration
2. See error

**Screenshots**

Using PrestaShop 1.7.7.x
![Capture d’écran 2021-05-14 à 11 24 06](https://user-images.githubusercontent.com/3034677/118251771-47615a80-b4a8-11eb-857b-4916b232fcf4.png)

[2021-05-14 09:44] waschier-design commented on #14595
Same error here.
PS Version 1.7.7.1

After migrating Data from old shop we get Error

**Price Specification not found for currency ""**

[2021-05-14 09:45] Robin-Fischer-PS opened #24502 "FO - Create an account - Exception displayed when firstname or lastname in invalid"
#### Describe the bug

In FO > Create an account, an exception is displayed when the firstname and/or lastname fields contain invalid characters.

This is probably linked to this issue : https://github.com/PrestaShop/PrestaShop/issues/24464

#### Expected behavior

An alert message should be displayed like in 1.7.7

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO > Create an

[2021-05-14 09:45] lmeyer1 opened #24503 "Wishlist overly uses fixed sizes and therefore breaks on translations"
#### Describe the bug

blockwishlist uses fixed sizes that break when translated strings do not have the same size.

While the style `width: 79px;` is flagrant, it has no effect for the `classic` theme, because the element itself has `display: inline;`

#### Expected behavior

The css styles should allow different sizes of texts.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Insta

[2021-05-14 09:46] florine2623 commented on #24498
Hello @arouiadib ,

I can't reproduce your issue.
Please check my screen record : https://drive.google.com/file/d/1LBUw8OHpYVrXC_2kESgDphP4mDddr8GZ/view

I'll close your issue now. Feel free to open a new one when more details appear.

[2021-05-14 09:46] #24498 closed, assigned to nobody

[2021-05-14 10:01] henri9813 commented on #24392
I agree with you @lmeyer1

[2021-05-14 10:05] Robin-Fischer-PS opened #24504 "BO - Attributes and Features - Display NOK"
#### Describe the bug

On different Legacy pages, the alignment of buttons, labels and fields are NOK (see screenshots below)

#### Expected behavior

Alignment should be OK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Attributes and features
2. Add a new attribute / attribute value / feature / feature value : See the fields non aligned.
3. On attribute, feat

[2021-05-14 10:20] florine2623 commented on #24497
Hello @arouiadib ,

I can't reproduce your issue in PS 1.7.7.4 :
![Capture d’écran 2021-05-14 à 12 18 49](https://user-images.githubusercontent.com/16019289/118257252-b5a91b80-b4ae-11eb-84b8-0af4e9912542.png)
![Capture d’écran 2021-05-14 à 12 19 25](https://user-images.githubusercontent.com/16019289/118257257-b772df00-b4ae-11eb-9690-6b6169fdae24.png)

Only my enabled carriers are showing in FO

[2021-05-14 10:38] florine2623 commented on #23838
Can you specify the line on the file ?
Or add a screenshot of it ?

[2021-05-14 10:40] florine2623 commented on #24499
Hello @01park ,

Can you specify the languages available on your site ? And what is the default language ?

Thanks!

[2021-05-14 10:43] 01park commented on #24499
Hi @florine2623

Our backoffice language is English and front office has English, Spanish, Germany, Dutch, Italian, French and more.

[2021-05-14 12:08] samberrry commented on #12777
@matks Ok great.

[2021-05-14 12:12] samberrry opened #24505 "Product quantity changes to zero after modifying a product which has combination"
#### The problem is that when we change the panel language to Arabic, and when we change something in a product - only combination products - the quantity changes to zero. This is a major issue on RTL languages.

#### We expect

Regular product modification, product quantity is saved without error after modifying a product which has combination

#### Steps to Reproduce

Steps to reproduce the beha

[2021-05-14 12:21] matks commented on #24505
@samberrry We need you to fill the 4 bug report sections

[code]

The 4 sections are needed to explore this issue.

[2021-05-14 12:24] samberrry commented on #24505
@matks for sure.

[2021-05-14 12:28] florine2623 commented on #24495
Hello @henri9813 ,

I tried an installation using Docker with port 80, I didn't encounter the issue.
![Capture d’écran 2021-05-14 à 14 27 56](https://user-images.githubusercontent.com/16019289/118270608-95825800-b4c0-11eb-9444-ddb15be174fe.png)

Does the port really matter in this case ?

Can you downgrade your PHP version to 7.3 and test again ?
PHP 7.4 s not available with PHP 7.4 : https://de

[2021-05-14 12:31] matks commented on #24505
@samberrry thank you 😊

[2021-05-14 12:32] samberrry commented on #24505
@matks welcome ;)

[2021-05-14 12:56] matks commented on #24402
😉  https://devdocs.prestashop.com/1.7/development/internationalization/translation/

[2021-05-14 13:13] florine2623 commented on #24490
Thanks for the detail !

I was able to reproduce the issue with PrestaShop version 1.7.7.4, so I can confirm that this behavior is indeed a bug.

In develop branch, I can't reproduce the issue as I have to choose the default category for my product :
![Capture d’écran 2021-05-14 à 15 10 59](https://user-images.githubusercontent.com/16019289/118275582-e8f7a480-b4c6-11eb-82e1-add210e87b90.png)

Pl

[2021-05-14 13:23] Seb33300 commented on #24490
I have submitted a PR to fix this issue already.

[2021-05-14 13:24] florine2623 commented on #24490
Thanks ! The developers will take a look.

[2021-05-14 13:29] florine2623 commented on #24475
Hello @sergiobm3 ,

I couldn't reproduce your issue in PS 1.7.7.4.
I used comma ,
hyphen -
and a mix of both.

Please check my screen record :
https://drive.google.com/file/d/1wdErCW_M5x2QR9RNHgKUSDyu-CZFNEoW/view

Thanks!

[2021-05-14 13:32] fedeanimation commented on #23808
Hope this issue will be fixed soon. It create a big confusion for the customers

[2021-05-14 14:02] florine2623 commented on #24505
Hello @samberrry ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4, so I can confirm that this behavior is indeed a bug.
https://drive.google.com/file/d/1dWyORZfGrc3fHfCu9OxNuj9-gjyzkbIl/view
![Capture d’écran 2021-05-14 à 15 44 18](https://user-images.githubusercontent.com/16019289/118281721-d46ada80-b4cd-11eb-864f-d56e0cc47edf.png)

Please be aware that due to the high numbe

[2021-05-14 14:35] florine2623 commented on #24503
Hello @lmeyer1 ,

I installed block wishlist module v2.0.0 in PS 1.7.7.4. Indeed the width is fixed.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.pre

[2021-05-14 14:45] florine2623 commented on #24392
Hello @henri9813 @lmeyer1 ,

This is more an improvement suggestion than a bug in my opinion.

The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you cr

[2021-05-14 14:50] lmeyer1 commented on #24392
@florine2623 Choosing between *improvement* and *bug* is difficult here. If the latest version of a module breaks all templates but those that use a specific blue as primary color, in my humble opinion, this is an important regression.
Calling it a bug is obvious. Calling it 'improvement' is an euphemism 😃

[2021-05-14 14:51] BertiauxM opened #24507 "Variable severityMessage / error 500 in Back Office Log"
Hello
I have a 500 error when I want to access my back office
in debug mode I can go anywhere except on the "log" where I have this error message

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/84187107/118288240-82798300-b4d4-11eb-9dcd-ae3fecc240ad.png)

If applicable, add screenshots or screen recordings

[2021-05-14 14:52] florine2623 commented on #23744
Hello @Peter-Liska ,

Indeed there are nest forms in the module ps_emailalert.
I'll ping our developers to have their view on that.

Thanks!

[2021-05-14 14:55] florine2623 commented on #23744
Ping @PrestaShop/prestashop-core-developers

https://github.com/PrestaShop/PrestaShop/issues/23744#issuecomment-833505351
@Peter-Liska has explained that there are nested forms when using module ps_emailalerts.

https://www.w3.org/MarkUp/html3/forms.html
"There can be several forms in a single document, but the FORM element can't be nested"

[2021-05-14 14:58] Robin-Fischer-PS opened #24508 "FO - Several pages URL and names are not translated"
#### Describe the bug

When I have several languages available on FO, the names and URL of some pages (user account pages, links in footer...) are not translated and are in English whatever the language selected.

In Shop Parameters > Traffic & SEO, the URL are indeed not translated (they were translated in 1.7.7.x), if I modify the URL or the name, it's indeed modified in FO.

#### Expected behav

[2021-05-14 15:10] matks commented on #24507
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/23588 and fixed in https://github.com/PrestaShop/PrestaShop/pull/23856 for 1.7.8.0

[2021-05-14 15:18] matks commented on #24392
To be defined as a bug, this behavior should have been expected.

If we want to build a v2 of module Foo with features A, B and C
and after we release v2.0.0 we find A is not working as expected, it is a bug.

But I dont know whether "use the theme defined colors" has been defined and stated as a feature of v2 of Blockwishlist. So it's a possible improvement.

Not sure about that 🤔  . Themes can o

[2021-05-14 15:25] arouiadib commented on #24497
Thank you for your time @florine2623 :)

I am not talking about FO checkout here. I am talking about the list of available carriers in BO Product Edit page > Shipping tab.
Could you please tell me if you manage to reproduce it.

[2021-05-14 15:27] matks commented on #24235
Regressions between 1.7.6 and 1.7.7 can indeed be fixed in 1.7.7 patch versions 😊

[2021-05-14 15:27] florine2623 commented on #24458
Hello @sergiobm3 ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4 and develop, so I can confirm that this behavior is indeed a bug.

![Capture d’écran 2021-05-14 à 17 21 39](https://user-images.githubusercontent.com/16019289/118292991-7ba13f00-b4d9-11eb-8777-d2ea0c877133.png)

When I search `Composition`, I get my only result :
![Capture d’écran 2021-05-14 à 17 22 02](https

[2021-05-14 15:34] matks commented on #24254
@eternoendless will have the answer. I think it's because at the beginning 2-letter ISO codes were used but it was later found 3 were needed so code relying on 2-letter ISO code might be obsolete

[2021-05-14 15:35] florine2623 commented on #24507
Hello @BertiauxM ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23588.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2021-05-14 15:36] florine2623 commented on #24507
Duplicate of #23588

[2021-05-14 15:36] #24507 closed, assigned to nobody

[2021-05-14 15:36] lmeyer1 commented on #24392
Sorry @matks, maybe my answer was a little too harsh.

[2021-05-14 15:38] matks commented on #23978
Hello @mvorisek you are right these tests have to be improved.

The content of `/tests-legacy` folder is old and not very good tests.

You can find the information in https://devdocs.prestashop.com/1.7/testing/introduction/#what-are-legacy-tests-in-tests-legacy-folder

The tests are scoped to be deleted one day, when they are replaced by better tests. But before this day arrives, we keep them runn

[2021-05-14 15:38] #23978 closed, assigned to nobody

[2021-05-14 15:41] mvorisek commented on #23978
There is `@doesNotPerformAssertions` phpdoc if this is desired, should be fixed to show the developer explicitly :)

[2021-05-14 16:49] Triloworld opened #24510 "BO - Order Page - Tax show for clients in tax excluded group"
#### Describe the bug

Releated to #23620 but group (no customer cart show and when finally is there, there isn't visible group)
Customer Group isn't taken to account and price isn't properly show.
If tax is excluded why is show in bold as last option? That's incorrect.

<img width="1428" alt="Zrzut ekranu 2021-05-14 o 18 40 27" src="https://user-images.githubusercontent.com/2671726/118301931-e6f0

[2021-05-14 17:28] Triloworld commented on #24510
Duplicated of #15954

[2021-05-14 17:28] #24510 closed, assigned to nobody

[2021-05-14 17:38] arouiadib commented on #24498
Thanks @florine2623 for the time creating the screen record.

I found the mistake I was doing: the customer address was in US while my newly created carrier doesn't contain US under "Carrier Edit page > Shipping Locations and costs". Shame on me :sweat:

To understand more what are the conditions under which a carrier appears in FO checkout, and for the sake of history,  I have created an issue :h

[2021-05-14 20:43] matks commented on #23744
I confirm the issue. Indeed ps_emailalerts inserts a `<form>` inside another `<form>` when used on FO product page for a out_of_stock product.

[2021-05-15 07:12] nidal2020 opened #24512 "Backoffice Auto log out in module gestion PS 1.7.7.4"
Im on PS 1.7.7.4 , when i'm logged to the backoffice and try to navigate to Module Management menu i'm disconnected and I should log in again

I tried to increase the admin Back-office cookie session life to 1000 but same issue when i can't acces to module menu

I see no error on apache Log it returs 200 acces so it seems good.

Here is my Server Informations
VPS SSD
Panel:  Plesk Obsidian Version

[2021-05-15 16:34] bedruskos commented on #18151
Same issue here, mess in child categories. Did anybody found the solution?

Issue with the reproducing is probably related to the Product placement: it should be placed in several categories.

ps_facedsearch: v3.7.1

[2021-05-15 21:04] henri9813 commented on #24495
As i said, you need to expose OTHER thing than 80.
[code]

[2021-05-15 21:06] henri9813 commented on #24392
@matks , Hello, the override doesn't work, it works only when i change priorities of the theme, things i do in my PR.

[2021-05-16 00:00] moflihmorad opened #24513 "$urls.alternative_langs is unusable with 'language_code' as index when accessed with DOT syntaxe. (iso_code would be better)"
#### Describe the bug

the Global variable $urls.alternative_langs cannot be accessed with dot syntax using language code as index

#### Expected behavior

using $urls.alternative_langs.en-us should give access to language url

#### Steps to Reproduce

classes/controller/FrontController.php

File:
`FrontController->getAlternativeLangsUrl(){
       foreach ($languages as $lang) {
            $alter

[2021-05-16 05:21] TechhDan opened #24514 "Unknown tag displayPrice in invoice.tax-tab.tpl template"
#### Describe the bug

When calling the setCurrentState method on an Order object an exception is thrown. The exception is ```unknown tag 'displayPrice'``` relating to the ```pdf/invoice.tax-tab.tpl``` template file.

#### Expected behavior

This method should not throw an Exception for unknown tag on invoice template error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. $order = O

[2021-05-16 12:15] matks commented on #24514
It depends.

If `setOrderState()` triggers a mail sending, and the mail has a PDF attachment, and the Smarty template used to compute the PDF is wrong, then it makes sense 😄 .

Then the question becomes "is it critical to be able to send this mail (then crashing is correct) or can it be ignored (and written in logs) because the failed sending of a mail should not prevent the order state modificati

[2021-05-16 13:02] JevgenijVisockij opened #24515 "Arrows don't work for number types on firefox"
#### Describe the bug

Can't click on arrows next to number type (for example "Display remaining quantities when the quantity is lower than" in product settings) in Firefox. IMO those arrows should not have padding on the right.
#### Expected behavior

You should be able to click on arrows next to number type fields on all supported browsers. The reason this doesn't work is because in Prestakit pa

[2021-05-16 13:43] musicpanda commented on #22253
I had the same problem after an upgrade from 1.7.3 to 1.7.7.4. When I looked closer it appeared that when I compared the upgraded shop with a fresh 1.7.7.4 installation (with Winmerge) there were also quite a few cases where the files had a different content. This concerned several directories under /vendor.

I ended up replacing the whole vendor directory of the upgrade with that of the fresh ins

[2021-05-16 18:14] hibatallahAouadni commented on #24512
Hello @nidal2020

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-05-16 18:14] #24512 closed, assigned to nobody

[2021-05-16 18:36] LukasK13 opened #24516 "Comment confirmation dialog not visible behind backdrop"
#### Describe the bug

When submitting a new review, the confirmation dialog appears to be behind the backdrop. This is likely caused by a timing issue

#### Expected behavior

A visible confirmation dialog

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Use PS productcomment v4.2.1
2. Go to a product page (logged in)
3. Write and submit a product comment
4. Don't see a confirmation

[2021-05-16 19:00] matks commented on #24516
Hello @LukasK13 we need some more accurate steps 😅

Something similar to
1. Use PS with module productcomment version ...
1. I go to page A as a visitor (= not logged in)
1. I write a product comment, I submit the comment
3. I see ...

A screenshot would also be a great help 😉

[2021-05-16 19:14] LukasK13 commented on #24516
Well it's basically like you say:
1. Use PS productcomment v4.2.1
2. Go to a product page (logged in)
3. Write and submit a product comment
4. Don't see a confirmation dialog

I think a screenshot would not help as you can obviously see nothing but the product page itself...
Please excuse that I cannot go further into detail, as I fixed the issue about 5 months ago, submitted a pull request and mo

[2021-05-16 19:35] matks commented on #20748
Hello @jf-viguier @jeckyl @okom3pom what is your idea?

I think your plan is:
- when theme X is enabled
- module B, used in theme X is reset
- using theme.yml from theme X we can find the wanted position of the module

Is that your plan?

If yes it means any module not included in theme.yml will continue using current behavior: after reset it is hooked at the end.

If @PrestaShop/product-team agre

[2021-05-16 20:10] Tejobolten commented on #24453
Hello @hibatallahAouadni ,
I have to close this item. I did the update again, cleared the cash, cleared the browser. Restart the browser, logged in to the back office., undo the shop in maintenance. Test de shop  and everything is working fine...
Still i get this line a lot:
/var/www/mixje.com/public_html/src/Adapter/EntityMapper.php line 99 - array_key_exists() [function.array-key-exists]: Using

[2021-05-16 20:24] TechhDan commented on #24514
I think it might be smarty syntax error on the ```pdf/invoice.tax-tab.tpl``` template. Should the displayPrice start with a $? After adding the $ symbol I get an unexpected currency attribute which I'm guessing would be a new issue?
[code]

[2021-05-16 20:26] TechhDan commented on #24514
Or actually I don't know if displayPrice is an internal tag which is just not loading on this render? I'm a little lost but I think I'm just going to wrap my payment module's setOrderState method in a try block since I can't figure out how to pass whatever is missing in my payment module.

[2021-05-16 23:02] PasLaurent opened #26095 "Presta 1.7.6.8 Changing order status in hookActionOrderStatusUpdate ClassNotFoundException"
#### Describe the bug

each time i change the status of an order i get ClassNotFoundException

#### Expected behavior

No error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

[code]
[500 Internal Server Error.pdf](https://github.com/PrestaShop/ps_googleanalytics/files/6490211/Attempted.to.load.cl

[2021-05-16 23:44] alejandrogarciahenao commented on #14703
Hello Davide, I have the same problem in my site with 1000 products and  4000 combinations . Version 1.7.7.4. Do you have any idea about the solution? Thank you so much and best regards

[2021-05-17 00:04] mickaelandrieu commented on #20739
Hello.

PrestaShop code rely directly on some Symfony/Doctrine interfaces and classes and some of them won't exists in v4 or v5.
If you plan to migrate before the next major of PrestaShop itself, I think it's a rely good time to use your own interfaces as @matks suggested.

Also :

Good news : better late than never 👍

How about https://github.com/loveOSS/resiliency instead ? No direct/hard depend

[2021-05-17 00:07] alejandrogarciahenao opened #24517 "Prestashop 1.7.7.4 Stock Management poor performance in Catalog > Stock"
#### Describe the bug

Poor performance in Catalog - Stock with prestashop 1.7.7.4 with 1000 products and 4000 combinations. It delays around 15 seconds

#### Expected behavior

Get an answer less than 3 seconds.

#### Steps to Reproduce

Steps to reproduce the behavior:

Go to Catalog - Stock with more than 4000 combinations.

* PrestaShop version: 1.7.7.4
* PHP version: 7.3.28

Thank you for you

[2021-05-17 05:22] okom3pom commented on #20748
Give the choice for the user is the best way!

[2021-05-17 07:41] hibatallahAouadni commented on #24516
Hello @LukasK13

I didn't manage to reproduce your issue, could you please check the attached screen record below:

https://www.awesomescreenshot.com/video/3764486?key=d5c257cee48f4c250c823ca32c4e5810

Please check and feedback.
Thanks!

[2021-05-17 07:44] cutox commented on #14703
Hello Alejandro,

I've noticed that this issue is not always present: at the moment Stocks is loading, but yesterday not (AJAX request took 4 minutes without errors).

Adding this condition at the top of updateReservedProductQuantity method, could be a temporary solution to load Stocks section when stucked:

[code]

Could be this issue related to products in open orders with the option "Allow orde

[2021-05-17 07:45] hibatallahAouadni commented on #24165
Hello ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-17 07:45] #24165 closed, assigned to nobody

[2021-05-17 07:50] hibatallahAouadni commented on #24206
Hello @axl89 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-17 07:50] #24206 closed, assigned to nobody

[2021-05-17 07:51] hibatallahAouadni commented on #24216
Hello @pearpl ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-17 07:51] #24216 closed, assigned to nobody

[2021-05-17 07:51] Vojacem opened #24518 "url"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-05-17 07:51] hibatallahAouadni commented on #24158
Hello @didi-2018 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-17 07:51] #24158 closed, assigned to nobody

[2021-05-17 07:52] hibatallahAouadni commented on #24073
Hello @Esh-network ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-17 07:52] #24073 closed, assigned to nobody

[2021-05-17 08:00] hibatallahAouadni commented on #24518
Hello @Vojacem

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-05-17 08:00] #24518 closed, assigned to nobody

[2021-05-17 08:04] hibatallahAouadni commented on #24517
Hello @alejandrogarciahenao

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server problem.

We will close this issue.

Thanks!

[2021-05-17 08:04] #24517 closed, assigned to nobody

[2021-05-17 08:13] Robin-Fischer-PS commented on #24502
I merged my issue with #24464 , so we can close this one.

[2021-05-17 08:13] #24502 closed, assigned to nobody

[2021-05-17 08:15] Robin-Fischer-PS commented on #24464
Hi,

I edited the issue to add another way to reproduce this bug (initially reported in #24502 , which is now closed and tag as duplicate).

[2021-05-17 08:27] NeOMakinG commented on #24402
I think this chain is just a data-attr inside a smarty template

[2021-05-17 08:41] maxime18dev opened #24520 "Bug Web Service Api Prestashop when create or update the quantity of a product"
#### Describe the bug

In the Web Service Api of Prestashop, I can't modify the quantity of a product. I discovered that I had to go through stock available to be able to modify the quantity of a product but once I added quantities on a product, the quantity was added correctly (visible in the back office) but when I go to the ps_product table, the value in the "quantity" column is always '0'. I d

[2021-05-17 09:02] hibatallahAouadni commented on #24299
Hello @henri9813

Yes, please :pray:

Thanks!

[2021-05-17 09:08] hibatallahAouadni commented on #19090
Hello @josearandac

Could you please create a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/).
Remember that the more people contribute, the better PrestaShop becomes for everyone.

Thank you

[2021-05-17 09:10] hibatallahAouadni commented on #24235
@matks so shall we change this issue status to **`To Do`**?

[2021-05-17 09:22] Progi1984 commented on #23430
Fixed by #24479

[2021-05-17 09:22] #23430 closed, assigned to matthieu-rolland

[2021-05-17 09:27] hibatallahAouadni commented on #24515
Hello @JevgenijVisockij

I didn't manage to reproduce your issue with develop on FireFox 78.8.0, see the attached screen record below:

https://www.awesomescreenshot.com/video/3765581?key=52a166daefef839ba20e6f2c99513299

Please check and feedback.
Thanks!

[2021-05-17 09:27] Progi1984 commented on #24482
@MatShir Could you help on this PR : On 177x, we have applied the address format for the address so we have only used values from address format.

On 178x, what is the waited behavior ?
- The user changes its address format for displaying the email address
- We display the email address

Thanks

[2021-05-17 09:39] d33x opened #24521 "Order details - Set employee permissions for order refunds"
#### Is your feature request related to a problem?

As a manager of an e-commerce site, I would like to have the possibility to limit the permissions of "Logistics", especially in relation to sensitive topics such as money (and therefore refunds).

The role of a logistics team is to prepare orders and ship them (thus having access to the list of orders and the details of an order), not to manage t

[2021-05-17 09:44] hibatallahAouadni commented on #24514
Hello @TechhDan

2. $order->->setCurrentState((int) Configuration::get('PS_OS_PREPARATION'));

Could you please specify if there's thrown exception without modifying the code. If so, could you please provide steps to reproduce.

Thanks!

[2021-05-17 09:46] hibatallahAouadni commented on #24521
Hello @d33x

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this featu

[2021-05-17 09:53] hibatallahAouadni commented on #24521
Hello @d33x

Sorry, but I think I misunderstood :sweat_smile:
The logistician has the permission to manage the refunds (credit slips), check this attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118469818-62c9a100-b706-11eb-8d35-28577a8fd4a8.png)

So, why do you want to duplicate the line with another wording?
Please check and feedback.

Thanks!

[2021-05-17 10:02] JevgenijVisockij commented on #24515
Hmm tried to reproduce it on Firefox 78 as well and couldn't it. But I am still able to reproduce it on newest firefox(88). So maybe it's Firefox problem.

[2021-05-17 10:03] d33x commented on #24521
Hello @hibatallahAouadni

Thank you for your quick reply. This permission only gives access to the management of the credit slips and their settings.

My request concerns the management and creation of a credit slip, the refund of an order. I would like to restrict permission. A picture is worth a thousand words (see below).
![refund-permission-2](https://user-images.githubusercontent.com/76649472

[2021-05-17 10:04] Progi1984 commented on #24170
Translations are now available :
* https://github.com/PrestaShop/TranslationFiles/blob/master/1.7/translations/1.7.7/ar-SA/EmailsBody.ar-SA.xlf#L5-L9
* https://github.com/PrestaShop/TranslationFiles/blob/master/1.7/translations/1.7.7/de-DE/EmailsBody.de-DE.xlf#L5-L9

@didi-2018 @florine2623 @hibatallahAouadni Could you check it ? Don't forget to remove cache translations (`app/Resources/translatio

[2021-05-17 10:22] josearandac commented on #19090
Hello @hibatallahAouadni ,

A pull request already exists:

[](https://github.com/PrestaShop/PrestaShop/pull/18144)

I just found it.

Thank you!

[2021-05-17 10:23] hibatallahAouadni commented on #24513
Hello @moflihmorad

Well, you need to use {$urls.alternative_langs['en-us']} to get the pageUrl :wink:
So, I close this issue as it's not a bug.

Thanks!

[2021-05-17 10:23] #24513 closed, assigned to nobody

[2021-05-17 10:24] Progi1984 commented on #24470
@PrestaShop/product-team For the dropdown, what are the actions when the module is disabled ?
(No specs for Theme Customization https://github.com/PrestaShop/prestashop-specs/tree/master/content/1.7/modules)

[2021-05-17 10:29] hibatallahAouadni commented on #24515
Hello @JevgenijVisockij

Yes indeed it seems to be Firefox problem (regression).
So, I close this issue as it's not a PS Core problem :wink:

Thanks for your feedback!

[2021-05-17 10:29] #24515 closed, assigned to nobody

[2021-05-17 10:33] hibatallahAouadni commented on #24521
Hello @d33x

Thanks for your feedback!
Yes, you're right!
Well then, let's ping the Product Team if we could add this improvement.

Thanks!

[2021-05-17 11:14] matks commented on #24515
This is not sure 😅  if PrestaShop works with old versions of Firefox but not new versions of Firefox, that can be a big issue 😄  and Firefox is not going to modify something "so that it works for PrestaShop"

I think this issue needs to be explored. Maybe it's an issue of Firefox 88 and it will be fixed in higher versions of Firefox, but if does not, we have to do something.

[2021-05-17 11:23] matks commented on #24235
@hibatallahAouadni I think we can pass this as `To Do` for 1.7.7 patch versions. Can you confirm there is no bug in 1.7.6 ?

[2021-05-17 11:25] kratekk opened #24523 "Filtering in catalog does not work separately for Prestashop 1.7.5.0"
Hi,
I have a problem with product filtering in Prestashop 1.7.5.0 in multistore configuration.
When I filter the list of products in one store, e.g. in terms of quantity, and switch to another store, this filter remains and spoils my list of products because in the other store I have disabled warehouse support and I cannot turn off this filter.

Have any of you encountered this problem? How to fix

[2021-05-17 11:36] hibatallahAouadni commented on #24523
Hello @kratekk

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-05-17 11:36] #24523 closed, assigned to nobody

[2021-05-17 11:43] Esh-network commented on #24073
Hello,

watch video 2 if video 1 does not work it is not essential to the bug.

Cordially.

[2021-05-17 11:43] kratekk commented on #24523
@hibatallahAouadni

**Bug description**

    Create multistore ( shops e.g.)
    Go to Warehouse in first store and disable warehouse management
    Switch to second store and go to product list (catalog)
    Add new product for both stores with quantity = 800
    Go to product list and filter product list by quantity e.g. = 100 (your product what you added shouldn't be wisible on this list
    Sw

[2021-05-17 12:09] Julien-ADDREA opened #24524 "Connot install prestashop with docker compose"
#### Describe the bug

I have tried several times to install prestashop with docker but the same error occurs every time

[code]

#### Expected behavior

Clean install normally ?!

#### Steps to Reproduce

Steps to reproduce the behavior:

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/59737586/118485393-adecaf80-b718-11eb-9317-2c3c047de110.png)

#### Additional inform

[2021-05-17 12:21] sowbiba commented on #23767
[Analyzis of old translation components usages.pdf](https://github.com/PrestaShop/PrestaShop/files/6493688/Analyzis.of.old.translation.components.usages.pdf)

Here is the result of the Analysis file by file

[2021-05-17 12:34] Pitt1823 commented on #20009
Is there any roadmap to fix this issue in the upcoming updates of PS?
This issue happens on several of my customer's websites and it is really annoying. Especially because most of my clients run a lot of voucher campaigns and the issue happens for a couple of users every time we run a discount campaign. It is very difficult to manage.

[2021-05-17 12:37] Progi1984 commented on #24057
Fixed in #24456 by @matthieu-rolland

[2021-05-17 12:37] #24057 closed, assigned to matthieu-rolland

[2021-05-17 12:45] hibatallahAouadni commented on #24520
Hello @maxime18dev

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #18953.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-17 12:45] #24520 closed, assigned to nobody

[2021-05-17 12:46] hibatallahAouadni commented on #24520
Duplicate of #18953

[2021-05-17 12:59] Progi1984 commented on #20009
@Pitt1823 Currently, the issue is not prioritized. But we are opened to contributions. If you don't have knowledge, you can hire a freelance which can send a PR.

[2021-05-17 13:03] maxime18dev commented on #24520
Thanks for your answer, when do you think this issue will be fixed ? because the #18953 is opened since the 3 may 2020

[2021-05-17 13:05] hibatallahAouadni commented on #24235
@matks Well it's not a bug cause it's about performance (sorry I didn't notice that it was labeled as a bug, my fault) :wink:

[2021-05-17 13:07] hibatallahAouadni commented on #24520
Hello @maxime18dev

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you.

If you manage to get the problem fixed, then please co

[2021-05-17 13:11] khouloudbelguith commented on #24307
Hi @Progi1984, @jolelievre,

I did not manage to reproduce the issue with 177x branch (1750) and 178x branch.
https://drive.google.com/file/d/1V48fToDKf9iWkXoUqES1-dy5oh7DNYW9/view?usp=sharing
It is fixed.
I will close the issue.

Thank you!

[2021-05-17 13:11] #24307 closed, assigned to Progi1984

[2021-05-17 13:15] alejandrogarciahenao commented on #24517
HI @hibatallahAouadni  , it's a prestahosp core bug. I have the but in two sites with differents servers. Did you try to reproduce it in a store with +4000 combinations?
Thank you so much

[2021-05-17 13:17] sergiobm3 commented on #24458
Same error if you use ',' or '&' filter dont work

[2021-05-17 13:18] hibatallahAouadni commented on #24440
Hello @ProteanCode

Could you please provide clear and concise steps to reproduce the issue :pray:

Thanks!

[2021-05-17 13:26] hibatallahAouadni commented on #24436
Hello @angelflo

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9613.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-17 13:26] #24436 closed, assigned to nobody

[2021-05-17 13:27] hibatallahAouadni commented on #24436
Duplicate of #9613

[2021-05-17 13:28] alejandrogarciahenao commented on #14703
Hi @cutox ,
I have "Allow ordering of out-of-stock products"  disabled.
I could solve it, adding
if ($idProduct === null && $idOrder === null) {
return;
}
Thank you so much for your help.

[2021-05-17 13:29] alejandrogarciahenao commented on #24517
Finally, I could solve it adding

        if ($idProduct === null && $idOrder === null) {
            return;
        }

at the top updateReservedProductQuantity method in /src/Adapter/StockManager.php

Thank you so much

[2021-05-17 13:36] hibatallahAouadni commented on #24135
Hello @Ideoclic ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-17 13:36] #24135 closed, assigned to nobody

[2021-05-17 13:40] Progi1984 commented on #23973
Fixed by @daresh in #24089

[2021-05-17 13:40] #23973 closed, assigned to atomiix

[2021-05-17 14:04] Sting55 opened #24526 "Shipping cost not displayed / not calculated"
#### Describe the bug

- on order summary page shipping cost isn't appear and summary price is wrong (see screenshot "order-summary.png")
- on order confirmation page (payment page)shipping cost appear and summary price is right (see screenshot "order-confirmation.png")

#### Expected behavior

The shipping cost should appear and add up to the cost of the products in order summary page.

#### Addi

[2021-05-17 14:06] cutox commented on #14703
Another strange behavior in stock movement:
1. product's quantity updated manually => quantity movement registered = + 60 (correct)
2. order status updated manually (set to shipped) => quantity movement registered = -1 (correct)
3. product's quantity updated without any action after 14 minutes to -60 (not correct, this manually action was never done)

[2021-05-17 14:23] sergiobm3 commented on #24475
Sorry finally was my error I post other issue with the problem #24458. When I create multiple products, they rewrite id and generate this error.

[2021-05-17 14:23] #24475 closed, assigned to nobody

[2021-05-17 14:37] hibatallahAouadni commented on #14780
@jolelievre do you have any idea about this issue? cause there's only one line in the description :sweat_smile:

[2021-05-17 14:39] SD1982 opened #24528 "BO - productcomments / ID are duplicated and all the tables have the same"
#### Describe the bug

In the productcomments module configuration page, all the table have the same id

#### Expected behavior

id should be different

#### Steps to Reproduce

Steps to reproduce the behavior:
Just go to the Product comment module configuration page and inspect the html code of the tables.

**Screenshots**

![image](https://user-images.githubusercontent.com/40635814/118507052-2ad

[2021-05-17 14:45] ytilotti opened #24529 "BO - Orders - Problems on product price changing in database"
#### Describe the bug

If I change the price on a product in an order via the administration, the values of `product_price` and `original_product_price` are different or same between the method used for update.

#### Expected behavior

The same behavior on differents methods

#### Steps to Reproduce

##### Create a first order:

1. Go to admin > order settings > order settings
2. Click on **add ne

[2021-05-17 14:54] Progi1984 commented on #24472
@khouloudbelguith I didn't reproduce it on 178x :
![image](https://user-images.githubusercontent.com/1533248/118509639-81449200-b730-11eb-9234-ce699639717a.png)
![image](https://user-images.githubusercontent.com/1533248/118509721-97525280-b730-11eb-9cef-704d0dfb8374.png)

[2021-05-17 15:02] hibatallahAouadni commented on #24423
Hello @RomsC

Thanks for your patience and the details.
I was able to reproduce the issue with PrestaShop version 1.7.7.3. See the attached screen record and screenshot below:

https://drive.google.com/file/d/1kiRacuXdmMkq8sdMnZ5e6GRItiLW4kcD/view

Before displaying the error during database upgrade, a pop-up has been displayed asking if I want to rollback and I click on **Cancel** button:

![imag

[2021-05-17 15:28] Hlavtox opened #24530 "Blockwishlist - small feedback"
#### Is your feature request related to a problem?
Hi guys, just tested blockwishlist, works awesome, but I think it could get a little tweaking for better compatibility and mod friendliness.

#### Describe the solution you'd like
Custom product listing:
- I think the module should use catalog/miniatures/product.tpl, instead of it's own separate style.

![product](https://user-images.githubusercon

[2021-05-17 15:51] khouloudbelguith opened #24531 "BO - Orders - pack - We can order an out of stock product"
#### Describe the bug

In the BO > Orders > Order details page, a product has a pack with `decrement both` or `decrement product in the pack` option, so we can update the quantity > quantity total

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create `Product1` with quantity =10
2. Create `Product2` with quantity =10
2. Create a pack contains 2 *`Product1` and 2* `Product2` and qua

[2021-05-17 15:51] hibatallahAouadni commented on #24529
Hello @ytilotti

I know it's not about the issue, but I just need to verify this wording. We do not have `Order settings > Order settings`, we have `Orders > Orders`, check the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118512758-60ca0700-b733-11eb-8674-a430a939cdd4.png)

Now, about your issue. I reproduce it with PS1.7.7.0, PS1.7.7.4 and develop, see t

[2021-05-17 15:57] matks commented on #24481
Pull Request available https://github.com/PrestaShop/PrestaShop/pull/24485 by @arouiadib

[2021-05-17 15:58] matks commented on #24530
Hello @Hlavtox is it similar to the issue https://github.com/PrestaShop/PrestaShop/issues/24392 fixed by https://github.com/PrestaShop/blockwishlist/pull/112 ?

[2021-05-17 15:59] khouloudbelguith opened #24532 "BO - Orders - addProductNewInvoiceInfo should not be displayed when we try to add a product to an order without invoices"
#### Describe the bug

In the BO > Orders > Order details page, the `addProductNewInvoiceInfo` block should not be displayed when we add a product without invoices
![image](https://user-images.githubusercontent.com/16067358/118519356-56ab0700-b739-11eb-9660-66086a2580c2.png)

#### Expected behavior

177x, we have
![image](https://user-images.githubusercontent.com/16067358/118519465-717d7b80-b739-1

[2021-05-17 15:59] hibatallahAouadni commented on #24526
Hello @Sting55

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem. See the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118519554-8528e200-b739-11eb-847c-a966a32a4252.png)

We will close this issue.

Thanks!

[2021-05-17 15:59] #24526 closed, assigned to nobody

[2021-05-17 16:01] NeOMakinG commented on #24530
@matks no, but most are fixed in https://github.com/PrestaShop/blockwishlist/pull/114 already, except the product listing template

[2021-05-17 16:06] NeOMakinG commented on #24392
The PR is merged, this has also been facilitated on https://github.com/PrestaShop/blockwishlist/pull/114

Thanks @henri9813

[2021-05-17 16:06] khouloudbelguith opened #24533 "BO - Orders - Multi-invoices - The addProductNewInvoiceInfo is not displayed when creating new invoice"
#### Describe the bug

In the BO > Orders > Order details page, when we add a product with creating a new invoice => the `addProductNewInvoiceInfo` is not displayed
![image](https://user-images.githubusercontent.com/16067358/118520304-40ea1180-b73a-11eb-8587-29385f6b4fe8.png)

#### Expected behavior

177x we have
![image](https://user-images.githubusercontent.com/16067358/118520521-7131b000-b73a-1

[2021-05-17 16:07] khouloudbelguith commented on #24533
Related to https://github.com/PrestaShop/PrestaShop/issues/24532

[2021-05-17 16:07] Hlavtox commented on #24530
@NeOMakinG Awesome!

What are your thoughts on the product listing? I think it would be more consistent if it used the theme miniature.

[2021-05-17 16:07] hibatallahAouadni commented on #24530
Ping @NeOMakinG do you think you can fix the product listing issue in the same PR?

[2021-05-17 16:14] khouloudbelguith opened #24534 "BO - Orders - Order note with invalid data"
#### Describe the bug

In the BO > Orders > Order details page > when we add an order note with invalid, a `Update successful` alert is displayed by the note is empty.

#### Expected behavior

The user should be able to save any value.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Orders list page
2. View any order
3. In the Status Tab, add a note with `<hello>

[2021-05-17 16:31] hibatallahAouadni commented on #24524
Hello @Julien-ADDREA

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server problem (check max_execution_time, memory_limit) .

We will close this issue.

PS: by the way you can ask for help in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack),

[2021-05-17 16:31] #24524 closed, assigned to nobody

[2021-05-17 16:44] hibatallahAouadni commented on #24423
Ping @RomsC I couldn't install this module in PS1.7.6.8, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118525559-9d9bfb00-b73f-11eb-96bd-bca2c695e009.png)

I need to check if this issue is it a regression or no?

[2021-05-17 16:44] Julien-ADDREA commented on #24524
Hello @hibatallahAouadni

I use official docker image for prestashop (prestashop/prestashop) normally php is set correctly no ?

i never can finished install on many tries

I use Docker on Windows with WSL2

[2021-05-17 16:49] hibatallahAouadni commented on #24475
@sergiobm3 Thanks for your feedback!

[2021-05-17 16:57] #24299 closed, assigned to nobody

[2021-05-17 17:04] khouloudbelguith opened #24535 "BO - Orders - Order message - Order message with the same title is not displayed in the "order_message" list"
#### Describe the bug

In the BO > Orders > Order details page > in the messages block, The order messages with the same title is not displayed in the "order_message" list

#### Expected behavior

In the PS1769, they are well displayed
![image](https://user-images.githubusercontent.com/16067358/118527980-1b610600-b742-11eb-88c6-c04c8f27f360.png)

#### Steps to Reproduce

Steps to reproduce the beh

[2021-05-17 17:13] khouloudbelguith opened #24536 "BO - Orders - The discount block is not well displayed"
#### Describe the bug
In the BO > Orders > Order view page, the discount block is not well displayed
![image](https://user-images.githubusercontent.com/16067358/118529447-cd4d0200-b743-11eb-8d7b-1365d60f41ee.png)

#### Expected behavior

It was ok with 177x
![image](https://user-images.githubusercontent.com/16067358/118529525-e48bef80-b743-11eb-92f3-e18f3779e9c7.png)

#### Steps to Reproduce

Step

[2021-05-17 17:24] khouloudbelguith opened #24537 "BO - Orders - An exception is displayed when we add a discount with space in the name"
#### Describe the bug
In the BO > Orders > Order view page, when we add a discount with space ` ` in the name, an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/118530472-fc17a800-b744-11eb-9ef2-76ea53c79541.png)

#### Expected behavior

In the PS1769 => no exception
![image](https://user-images.githubusercontent.com/16067358/118530610-223d4800-b745-11eb-9db6-f7

[2021-05-17 20:16] hibatallahAouadni commented on #24350
Hello everyone,

Thanks for your patience and the details :relaxed:
Even with all the infos provided, I still cannot reproduce the issue. Please check the screen record below:

https://drive.google.com/file/d/11Ls9gzxBMnsju0BRBtfNmnpvRDz954lk/view

Please check and feedback.
Thanks!

[2021-05-17 20:59] hibatallahAouadni commented on #24303
Hello @kdegenkamp

Thanks for the screen record!
I was able to reproduce the issue with PrestaShop version 1.7.6.7 and 1.7.7.4. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time

[2021-05-17 21:15] moflihmorad commented on #24513
Hi @hibatallahAouadni, yes it works with `{$urls.alternative_langs['en-us']}` syntaxe, but what i was suggesting is
being indexed with "iso_code" would be better since the hyphen breaks the dot syntaxe
anyway i guess they have done it with the language_code because it sorts both language and country.
thank you @hibatallahAouadni.

[2021-05-17 21:30] hibatallahAouadni commented on #24499
Hello @01park

Thanks for your feedback!
Could you please provide clear and concise steps to reproduce the issue.

Thanks!

[2021-05-17 21:34] hibatallahAouadni commented on #24453
@Tejobolten Glad that your issue is solved :tada:
Closing the issue.

[2021-05-17 21:34] #24453 closed, assigned to nobody

[2021-05-17 21:48] hibatallahAouadni commented on #24442
Hello @0dp

Well, we need a PM to answer all your questions :wink:
But next time, do not submit your questions here (on Github) cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. Instead, you can ask in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Ping @PrestaShop/product-team could someone please answer th

[2021-05-17 22:05] hibatallahAouadni commented on #24302
Hello @Morerice

Thanks for your feedback.

1. Checkout to PW-4368 branch
2. `composer install --no-dev`
3. Install adyen module
4. Design > Positions
5. No issues (check the screen record and screenshot below)

![image](https://user-images.githubusercontent.com/23308427/118562256-a0611500-b76c-11eb-8899-06e2bd822399.png)
https://www.awesomescreenshot.com/video/3774534?key=b074525b3afedffbe6b6cdb0

[2021-05-17 23:28] colormartinez opened #24538 "Cannot login to BO after installing 1.7.7.4"
#### Describe the bug

Hi,
I just install the last PrestaShop (V 1.7.7.4) with no problems during the installation, but once I got to the admin login and put my user and pass, I get this screen and can go any further.
The client section is working OK.

I have Debug turn ON but get no errors.
The only error that I'm getting is in the CONSOLE :
Failed to load resource: the server responded with a st

[2021-05-18 00:06] arouiadib commented on #24538
Before support team intervene, I suggest you activate debug mode and send the 500 error details

[2021-05-18 00:45] colormartinez commented on #24538
As I initially mentioned, I have already activated debug mode and it does not show me any errors.

[2021-05-18 01:07] arouiadib commented on #24538
Do you access other pages in BO like `/index.php/sell/catalog/products`?

[2021-05-18 01:25] colormartinez commented on #24538
No. I can't access any admin page.
And now I realized that at the FO is a new client trying to register it gets the following error:
![image](https://user-images.githubusercontent.com/69478577/118576408-d4353e00-b75e-11eb-8661-fd445d41bb66.png)

[2021-05-18 01:32] arouiadib commented on #24538
I think the issue related to `INTL_IDNA_VARIANT_UTS46` is already somewhere here in the Prestashop repository.

[2021-05-18 04:43] angelflo commented on #24436
Yes, I discover that this bug #9613 is open since 2018 !!!
So i think that if 4 year later you still didn't fix it, it's really not a good idea to use your Prestashop software for people who have multi store.

[2021-05-18 06:11] TechhDan commented on #24514
Hey @hibatallahAouadni ,

Yeah that's pretty much the code after validating order with payment module. Sure, I created a module that can reproduce the issue. Just check out with it and I've dumped the exception.

https://github.com/TechhDan/samplepay-prestashop-demo/tree/main

[2021-05-18 06:40] Mch0 commented on #20748
im agree with you @matks, use theme yml if entry exist with the module else, show confirmation windows for the user to choice the position for the module

[2021-05-18 07:27] matks commented on #24538
Thank you @arouiadib for the help 😉  . You are right: the error seems very close to https://github.com/PrestaShop/PrestaShop/issues/22300

[2021-05-18 08:01] hibatallahAouadni commented on #24538
Hello @colormartinez

As @matks mentioned your issue is related to #22300 so please check it out, you might find some answers :wink:

Since, we are using GitHub issues only to discuss about bugs and new features in the PrestaShop project, I close this issue.
If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support

[2021-05-18 08:01] #24538 closed, assigned to nobody

[2021-05-18 08:05] NeOMakinG commented on #24530
@hibatallahAouadni it's way harder, it will need another PR and need more reflection

[2021-05-18 08:09] #24371 closed, assigned to NeOMakinG

[2021-05-18 08:15] Morerice commented on #24302
Hi @hibatallahAouadni

Thanks for providing your clear steps and and other resources. Just to be sure that everything was setup correctly on your end when the issue didn't occur, could you please verify that the `actionEmailSendBefore` hook was correctly registered by the Adyen module?

Best regards,
Jean
Adyen

[2021-05-18 10:04] filanico opened #24543 "Fatal error when saving SEO & URLS settings in a form different from shop_urls one"
#### Describe the bug

An exception is raised when saving settings different from shop_urls.
The script, even if it's not sent the shop_urls form, tries to read those information from the $params parameter

Script and method:
/modules/ps_accounts/ps_accounts.php/hookActionMetaPageSave($params)

#### Expected behavior

No exception expected during a simple settings saving operation.

#### Steps to

[2021-05-18 10:08] filanico commented on #24543
I solved this way:
`/**
				* v.1.7.7.8
				* @desc - Error raised when saving a form different from shop_urls: it didn't get domain and domain_ssl values
				* to put into bodyHttp array
				*/
				$bodyHttp = [];
  			$bodyHttp['params'] = $params;
				foreach(['domain','domain_ssl'] as $key){
					try{
						$bodyHttp[$key] = params['form_data']['shop_urls'][$key];
					} catch (\Exception $e){

[2021-05-18 10:16] alcinopitchprint commented on #18737
This worked for me:
1.- Login as Administrator in Prestashop and enable "SSL" and enable "SSL on all pages" options. Both are under Configure -> Shop Parameters -> General.

[2021-05-18 10:36] hibatallahAouadni commented on #24495
Hello @henri9813

Thanks for your details I manage to reproduce this issue #22581
So, as we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #22581.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-18 10:36] #24495 closed, assigned to nobody

[2021-05-18 10:37] hibatallahAouadni commented on #24495
Duplicate of #22581

[2021-05-18 10:37] ghost opened #24544 "Bad URL for module catalog after disabling PrestaShop Marketplace module"
#### Describe the bug

Disable PrestaShop Marketplace made an error

#### Expected behavior

No error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **IMPROVE** > **Modules** > **Module Manager**
2. Disable Marketplace
3. Reload the page
4. **BO** > **IMPROVE** > **Modules** > **Module Catalog**
5. See error

**Screenshots**

http://www.okom3pom.com/Pr!vaTe/errorModule.web

[2021-05-18 10:40] sergiobm3 opened #24545 "Be able to write dimensions in combinations"
#### Is your feature request related to a problem?

I need to be able to add the dimensions of the different combinations of my products for shipping.

#### Describe the solution you would like

        be able to write dimensions to combinations via web service.

#### Alternatives you have considered

There is some module to add this, but I can't use it through web service

#### Additional contex

[2021-05-18 10:43] henri9813 opened #24546 "PDF Generation load file thought filesystem instead of http request."
#### Is your feature request related to a problem?

For PDF generation, prestashop tried to inject assets ( images for products, logo etc...) via HTTP request.
In many case, this could fail ( DNS, Port etc...).

#### Describe the solution you'd like

Files should be loaded via Filesystem and not via HTTP request.

https://github.com/PrestaShop/PrestaShop/pull/24496
https://github.com/PrestaShop/Pr

[2021-05-18 10:48] hibatallahAouadni commented on #24546
Hello @henri9813

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-05-18 11:01] colormartinez commented on #24538
Problem Solved.
A solution for PHP 7.3from another forum:

There is a problem with constant **INTL_IDNA_VARIANT_UTS4**6 in the file **"src/Core/Util/InternationalizedDomainNameConverter.php"**
It needs to be modified as follows. The constant INTL_IDNA_VARIANT_UTS46 needs to be converted to int type explicitelly by intval() on the line 47.
**FROM:**
return $parts[0] . '@' . idn_to_utf8($parts[1], 0

[2021-05-18 11:03] hibatallahAouadni commented on #22581
Hello everyone,

I manage to reproduce the issue with PS1.7.7.4 on Docker with port 8071 (you can reproduce the issue with any port, not 80).

https://drive.google.com/file/d/1vf6nfNIdNcBRQCneEtuhXQjKiEWA48c_/view

Without changing the port, there's no problem. I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-05-18 11:15] hibatallahAouadni commented on #24543
Hello @filanico

Really?? I think you mistook, which was your version?

Thanks!

[2021-05-18 11:19] hibatallahAouadni commented on #24543
Hello again,

In my side, with the newest version 1.7.7.4, I didn't manage to reproduce the issue, see the attached screen record below:

https://www.awesomescreenshot.com/video/3781590?key=9a9eebe1734069f6df9a57374906b6ff

Please check and feedback.
Thanks!

[2021-05-18 11:24] hibatallahAouadni commented on #24545
Hello @sergiobm3

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-05-18 11:31] hibatallahAouadni commented on #24544
Hello @okom3pom

I didn't manage to reproduce your issue with PS1.7.7.4, see the attached screen record below:

https://www.awesomescreenshot.com/video/3781716?key=8e99ee613ed0b925e473bf07bb83bb6c

Please check and feedback.
Thanks!

[2021-05-18 11:32] kdegenkamp commented on #24303
Not 100% sure the way i fixed is right or not but it does work.

I modified one statement and it works how i want.

Line no 76, rather then using customer shop id i used context shop id.

![image](https://user-images.githubusercontent.com/62239467/118643771-9d146a80-b7fa-11eb-9837-e767115cf2a0.png)

[2021-05-18 12:48] arouiadib opened #24547 "Unable to run `composer create-test-db`"
It is not possible to run Behat test on develop or in 1.7.8.x.
Tests need a database to be run on. According to docs,  `composer create-test-db` is used to create test database.
But this command fails.

#### Expected behavior

Tests to be run.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to develop and pull the latest changes
2. run  `composer create-test-db`
3. See Error: Fat

[2021-05-18 12:50] kpodemski commented on #24547
Hey @zuk3975 are you familiar with this error? You or @JevgenijVisockij had same one, right?

[2021-05-18 13:01] matks commented on #24547
I also have this error in some conditions.

I noticed that when I work on `develop` branch and then switch to `1.7.8.x` branch (or reverse), I have this error. I then reinstall the software and it's fine.

[2021-05-18 13:01] JevgenijVisockij commented on #24547
Hey. Yes I still have exactly this problem.
I don't remember the details, but something about test mode and doctrine not creating a database properly.

Nobody else was able to reproduce it until now so I fixed it by changing, `define('_PS_IN_TEST_', false);` to `define('_PS_IN_TEST_', true);` in `./tests-legacy/PrestaShopBundle/Utils/DatabaseCreator.php` line 44. (Use at your own risk).

[2021-05-18 13:04] Robin-Fischer-PS opened #24548 "BO - View Order - Design of the Header NOK"
#### Describe the bug

On BO > Orders > View an order, the header is NOK.

#### Expected behavior

Header should be like in 177. See screenshots for details.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > View an order
2. Check the display of the header

**Screenshots**

**In 1.7.8 : Order Reference, Name, Price and Date/Time have huge gap between each item**

!

[2021-05-18 13:05] zuk3975 commented on #24547
same for me, I get it sometimes, but usually I make it work by just repeating same command again (sometimes I change permissions locally and that helps, but I **do not recommend this**)

[2021-05-18 13:28] sowbiba opened #24549 "Differences in translations content between "Export theme's catalogue" and "Export active theme""
#### Is your feature request related to a problem?

When I export theme's translations from the backoffice interface, I have "all domains that are used by the theme's files" : cf https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/international/translations/translations.md#export-theme-translations
This export also includes core translations

When I export the active

[2021-05-18 13:44] hibatallahAouadni commented on #24549
Hello @sowbiba

Thanks for your suggestion!
The Product Team will take a look, stay tuned :wink:

Ping @PrestaShop/product-team wdyt?

[2021-05-18 13:59] okom3pom commented on #24544
hello @hibatallahAouadni

You dont reload the page it's only the link broken see :

https://okom3om.com/Pr!vaTe/errorModule.webm

[2021-05-18 14:05] hibatallahAouadni commented on #24547
Hello everyone,

I reproduce the issue too with 1.7.8.x and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118664634-ed3aff00-b7f1-11eb-8ee2-57e862d15f04.png)

ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this is

[2021-05-18 14:07] Robin-Fischer-PS opened #24550 "BO - Install modules via Recommended Modules NOK"
#### Describe the bug

When installing (or uninstall, reset, etc...) a modules via the "Recommended Modules and Services" popin, or via the " Recommended Modules and Services" block on some pages (Shipping > Carrier or Payment > Payment Methods for example), the notification is not displayed correctly (a green alert in top right of the page) but in HTML instead.

Please note that I also add an exc

[2021-05-18 14:29] hibatallahAouadni commented on #24303
@kdegenkamp could you please create a Pull Request :pray:

[2021-05-18 14:34] filanico commented on #24543
Sorry i meant v.1.7.8.0

[2021-05-18 15:11] hibatallahAouadni commented on #24544
Hello @okom3pom

Thanks for th details!
I reproduce the issue with PS1.7.7.4, 1.7.8.x and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118676644-dd281d00-b7fb-11eb-9c92-82e95c87270a.png)

But I didn't reproduce it with PS1.7.6.9, so it's a regression! I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the

[2021-05-18 15:17] hibatallahAouadni commented on #24543
on which branch you are 1.7.8.x or develop?

[2021-05-18 15:21] hibatallahAouadni commented on #24302
Hello @Morerice

![image](https://user-images.githubusercontent.com/23308427/118678447-51af8b80-b7fd-11eb-9a56-7d297627b8e7.png)

Should I reinstall the module?
Please check and feedback.

Thanks!

[2021-05-18 15:27] Morerice commented on #24302
Hi @hibatallahAouadni

Sorry for not being too clear. What I meant was, in the Design > Positions page, could you check if the Adyen module is registered to the `actionEmailSendBefore` hook?

Best regards,
Jean
Adyen

[2021-05-18 15:30] hibatallahAouadni commented on #24302
Hello @Morerice

No, it's not, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118680134-c1724600-b7fe-11eb-93b8-c8ae7248dd27.png)

Did I miss something?
Please check and feedback.

Thanks!

[2021-05-18 15:36] leskam opened #24552 "Language dropdown in URL routes"
#### Is your feature request related to a problem?

In many places (e.g. the product adding panel) you can select separate content for each of the exists languages.
In the "Schema of URLs" section there are a possibility do add own text to schema, but you cannot decide to make the text visible only in a given language.

#### Describe the solution you'd like

I would like to see a dropdown menu nex

[2021-05-18 15:41] hibatallahAouadni commented on #24194
Hello @cryonos ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-18 15:41] #24194 closed, assigned to nobody

[2021-05-18 15:48] Hlavtox commented on #23032
Found a nice example of what it can look like. See the buttons in Product Details section here - https://www.powersupplyshop.co.uk/brands/dell/televisions/81407/adapter-UK-0/
![HELP BOX](https://user-images.githubusercontent.com/6097524/118682909-2b8bea80-b801-11eb-8331-a6f80a45e7ff.JPG)

Ping @marionf :-)

[2021-05-18 17:06] khouloudbelguith opened #24553 "BO - Add new Order page - Pack - an exception is displayed when we add a pack"
#### Describe the bug

In the BO > Orders > Add new Order page, when we add a pack product out of stock; Pack quantities: Decrement both, Decrement products in the pack only.), an exception is displayed.
![image](https://user-images.githubusercontent.com/16067358/118692719-a279b100-b80a-11eb-964e-aa74dea8093c.png)

#### Expected behavior

We should have a clear alert:
[code]
![image](https://user-

[2021-05-18 17:20] khouloudbelguith opened #24554 "BO - Add new Order page - Changing the Product quantity freeze the page"
#### Describe the bug

In the BO > Orders > Add new Order page > When we try to change the product quantity (increase/decrease/change manually) freeze the page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Add new Order
2. Choose a customer
3. Try to change the quantity of the product
4. See an error: the page is frozen, we can't add a product, we can't remove

[2021-05-18 17:30] khouloudbelguith opened #24556 "BO - Add new Order page - an error is displayed in the console when adding a voucher"
#### Describe the bug

In the BO > Orders > Add new Order page, when we add a voucher => an error is displayed in the console.
![BO_order_add_voucher](https://user-images.githubusercontent.com/16067358/118697129-436a6b00-b80f-11eb-98f8-48fb9c068668.png)

#### Expected behavior

No error in the console should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Ord

[2021-05-18 18:00] khouloudbelguith opened #24557 "BO - Add new Order page - An error is displayed when creating an order with a pack & total =0 (order total =0 or a cart rule - PHP7.4)"
#### Describe the bug

With PHP7.4, when we create an order with a cart rule & pack => An error is displayed
![image](https://user-images.githubusercontent.com/16067358/118698115-52055200-b810-11eb-8e1e-b683deb699b2.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Add new Order page
2. Choose a customer
3. Search a pack product
4. Change a product price to 0

[2021-05-18 18:08] maofree commented on #24439
Hi
yes #13737 is the same, the other speak something about the pagination but I'm not sure, it explain also other things

[2021-05-18 19:19] leskam opened #24558 "Admin menu does not change the language"
#### Describe the bug

After clicking **My preferences** and changing Language the interface language changes halfway - menu remains in the old language. Re-login or clearing cache not working.

#### Expected behavior

Complete language change?

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Login to admin area
2. Click My Preferences
3. Scroll down to Language select box and change

[2021-05-18 19:37] samberrry opened #24559 "Password required property a has bug in Customer Persister - v1.7.x"
#### Describe the bug

When we want to try to save a customer through `CustomerPersister` class ->save() method, the last parameter is passwordRequired. When we set it to false, we expect to not have any password. But within this class (CustomerPersister) in line 81 we have this:
[code]

CustomerPersister path: `classes/form/CustomerPersister.php`

when we do not provide `newPassword`, the `clearT

[2021-05-18 20:19] teloconf commented on #14969
Hello, I have seen that this thread is open. I have come to the solution from another site but I write it here in case someone is interested.
http(s)://TOKEN@SITE/api/products/ID_PRODUCT?price[my_price][use_reduction]=1
With this call we have a new field called "my_price" which is the price with taxes and discount applied

[2021-05-18 22:25] arouiadib commented on #24547
Thanks all of you guys @matks @JevgenijVisockij @zuk3975 for confirming this error exists.
Special thanks to @hibatallahAouadni who confirmed by reproducing it.

The last month, I tried many times just after pulling from 1.7.8.x and develop. I also switched php versions to no avail.

@JevgenijVisockij @zuk3975 Thanks for the tricks.

Since that I am happy to know that the problem happens to many,

[2021-05-18 22:31] arouiadib commented on #24538
@colormartinez Thank you very much for investigating and posting details in ticket .

[2021-05-19 02:00] hibatallahAouadni commented on #24558
Hello @leskam

Thanks for respecting the provided template :clap:
Did you change the default language just in block **Configuration** under **BO** > **IMPROVE** > **International** > **Localisation**?
Cause you mentioned that you change it in **My preferences** and to be honest we have two preferences:

- BO > IMPROVE > Shipping > Preferences
- BO > IMPROVE > Payment > Preferences

In both, there'

[2021-05-19 02:05] hibatallahAouadni commented on #24552
Hello @leskam

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-05-19 04:12] arouiadib commented on #24547
Update:

The problem is in the data fixtures; the xml loading process.

What is weird is that this same issue was fixed in in the last commits of the two files `profile.xml` available in `data/xml` and `fixtures/fashion`.
I will be back here soon to continue; any insights are invaluable.

[2021-05-19 06:16] leskam commented on #24558
I changed the language like you said: account icon -> Your profile -> Language (select box) and Save. After that language in admin panel changes halfway (as I attached in first post - menu in Polish language, rest in English)

[2021-05-19 06:20] kpodemski commented on #24558
You could try to update your translations from "Międzynarodowy -> Tłumaczenia"

[2021-05-19 06:29] leskam commented on #24552
If the idea of a dropdown box next to route input is too "serious", it also could use keywords.
For example: {language_iso_code:keyword}

Default **Route to category**: {id}-{rewrite}

If I want to use a keyword in route only for polish language (ISO code pl), then:
**Route to category**: {pl:only_polish_route}/{id}-{rewrite}

For multiple languages (pl and en):
**Route to category**: {pl:polski}{

[2021-05-19 06:33] leskam commented on #24558
Still no changes

[2021-05-19 06:37] Progi1984 commented on #24197
Fixed by #24427

[2021-05-19 06:37] #24197 closed, assigned to Progi1984

[2021-05-19 07:27] Morerice commented on #24302
Hi @hibatallahAouadni

I think that in order to check for the `actionEmailSendBefore` hook you are required to select the *Display non-poisitionable hooks* checkbox.

Best regards,
Jean
Adyen

[2021-05-19 07:41] hibatallahAouadni commented on #24544
Hello @okom3pom

Thanks for details on Slack :wink:
Well, we are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #21588.
And it's already fixed https://github.com/PrestaShopCorp/ps_mbo/pull/102 but not yet released https://github.com/PrestaShopCorp/ps_mbo/pull/108

Ping @eternoendless when will the new version be released?

Thanks!

[2021-05-19 07:41] #24544 closed, assigned to nobody

[2021-05-19 07:42] hibatallahAouadni commented on #24544
Duplicate of #21588

[2021-05-19 07:58] okom3pom commented on #24544
Thank you for feedback

[2021-05-19 08:10] khouloudbelguith opened #24560 "BO - Add new Order page - Discount & gift are not removed when total < Minimum amount"
#### Describe the bug

In the BO > Orders > Add new Order page, when we update the product price, the discount & the gift are not removed when we update a product price

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discounts > Cart rules page
2. Create a cart rule without code with `Minimum amount = 50 euro for example` & with actions: `Free shipping + apply a

[2021-05-19 08:20] hibatallahAouadni commented on #24410
Ping @PrestaShop/prestashop-core-developers could someone please reproduce the issue :pray:

[2021-05-19 08:22] hibatallahAouadni commented on #24559
Ping @PrestaShop/prestashop-core-developers could you please try to reproduce the issue :pray: please :pray:

[2021-05-19 08:31] Fobba199l commented on #16869
I can still reproduce the issue on version 1.7.7.2

Is there any progress made so far?
In my opinion this is not really a minor issue since it completely messes with the stock counts and therefore allows customers to order products which are not available anymore...

[2021-05-19 08:32] matks opened #24561 "Explore why our CLI autoupgrade tests did not fail although the 1.7.8.0 upgrade SQL file contained invalid queries"
In Pull Request https://github.com/PrestaShop/PrestaShop/pull/24242/ @atomiix fixes missing comma for the `INSERT IGNORE INTO `PREFIX_hook` (`id_hook`, `name`, `title`, `description`, `position`) VALUES ...` SQL statement

=> https://github.com/PrestaShop/PrestaShop/pull/24242/files#diff-2ab29e497243cd89a7b49b94a35a33d9ca879e40ed9a3cf48853535ec304c423

This SQL query is invalid, and yet our autoup

[2021-05-19 08:33] khouloudbelguith opened #24562 "BO - Add new Order page - Gift message cannot be removed"
#### Describe the bug

In the BO > Orders > Add new Order page > When we set a gift message, then we try to delete it, it is not possible to remove it.
It is always displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > Order Settings page
2. Enable `Offer gift wrapping`
3. Go to BO > Orders > Add new Order page
4. Choose a customer & choose a product

[2021-05-19 08:44] khouloudbelguith opened #24563 "[Module - statsdata] FO - An exception is displayed when Save global page views is enabled - PHP7.4"
#### Describe the bug

An exception is displayed in the FO when we enable Save global page views.
![image](https://user-images.githubusercontent.com/16067358/118782849-cda5e400-b88e-11eb-9703-a26928e9a885.png)
![image](https://user-images.githubusercontent.com/16067358/118782892-d696b580-b88e-11eb-9d86-9273f0a0706d.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Modu

[2021-05-19 09:10] MatShir commented on #24537
Since the migration of the form, we don't accept empty field anymore.

[2021-05-19 09:21] Progi1984 commented on #24508
Fixed by @PierreRambaud in #24525

[2021-05-19 09:21] #24508 closed, assigned to PierreRambaud

[2021-05-19 09:24] dev-innova opened #24564 "Update module error when using composer and traits"
#### Describe the bug

When we use a library for develop modules, and therefor we must implement a version control of that library, the updates fails the first time as prestashop cannot find the new library trait. After that, if you try to update module again, the update works as normal.

#### Expected behavior

A normal update without errors

#### Steps to Reproduce

Steps to reproduce the behavi

[2021-05-19 09:28] Progi1984 commented on #24537
@MatShir A space is not empty ;)

[2021-05-19 09:30] MatShir commented on #24537
You are right aha ! I mean empty or just spaces :)

[2021-05-19 10:01] Progi1984 commented on #24537
@MatShir So we need to avoid empty string. I will block the submit button if the name is empty or just spaces.

[2021-05-19 12:53] mrjcgoodwin commented on #12321
@MathiasReker Did you ever find a work-around or create your own patch for this. Just ran into this issue for the first time today and it's a pain. I'm going to have to append an arbitrary number to the end of all my combos I think.

[2021-05-19 13:29] eternoendless commented on #16482
@matks We will have to document in which version forms have been simplified (and which ones are still not simplified)

[2021-05-19 13:57] sanctusmob opened #24567 "Update stock via webserivice with memcache exception and memory leak"
#### Describe the bug
When i am updating stock via web service with memcached enable i am getting exception and also i have memory leak (ram 128GB)
When memcached is disabled everything works as expected.

#### Expected behavior
update stock

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable memcached cache
2. Try to update stock via web service
3. HttpStatusCode: InternalServer

[2021-05-19 13:59] Prestaplugins commented on #17759
Why is this issue still not fixed in 1.7.7.4 ?

[2021-05-19 14:37] masiorama opened #24570 "Runtime Error upgrading blockwishlist module from 1.3.2 to 2.0.0"
#### Describe the bug

I am on PS 1.7.6.7  (I plan to upgrade to 1.7.7.4 soon).
I tried to upgrade blockwishlist from 1.3.2 to 2.0 and the result is a red box with generic error message (something like "cannot install undefined module").
Refreshing the page (and navigating to any adm panel section result in a runtime error  `An exception has been thrown during the rendering of a template ("Unable

[2021-05-19 14:50] Progi1984 commented on #24553
@MatShir What is the expected behavior when

:question:

[2021-05-19 14:57] matks opened #24571 "Add a Symfony Console Command to run Commands"
#### Describe the solution you'd like

Add a Symfony Command to run Commands from the Console

Example
[code]

[2021-05-19 15:10] Progi1984 commented on #24535
@MatShir We have exactly the same problem as this issue : https://github.com/PrestaShop/PrestaShop/issues/22870#issuecomment-771720714. Do we conclude on the same conclusion (unicity on name) ?

[2021-05-19 15:26] hibatallahAouadni commented on #24567
Hello @sanctusmob

Could you please check this issue #15976 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-19 15:32] eternoendless commented on #24254
I researched a bit and it looks like this has been like this since at least 2008. IMO the initial idea must have been to support both ISO 3166-1 alpha-2 and alpha-3, but I don't think anyone cares about alpha-3 really.

There's also a [historical confusion between country iso codes and language iso codes](https://github.com/PrestaShop/PrestaShop/issues/16070) (hence the `isLanguageIsoCode`)

In an

[2021-05-19 15:34] eternoendless commented on #24254
There's probably some research to be done before making a final decision.

[2021-05-19 15:40] eternoendless commented on #17303
The submitting part is easy, but there are some complications:

- The versioning scheme won't really be semver compliant until the next major
- What happens if you upgrade via composer?

[2021-05-19 15:48] mvorisek commented on #17303
that is fine, developers can require a specific version if needed

upgrade will upgrade packages to the latest matching packages, composer hooks are never run for non-root packages

[2021-05-19 15:51] eternoendless commented on #16723
Ohh, yet another naïve contextual deduction that produces bugs! Looks like this one goes way back to 1.5 https://github.com/PrestaShop/PrestaShop/commit/945bd55173f704a628b72e3cd43a4cdd75477c94

It will probably be very hard to fix this without significant refactoring.

[2021-05-19 15:54] eternoendless commented on #17303
I mean your shop will be broken if the database scheme is not updated, etc.

[2021-05-19 16:00] mvorisek commented on #17303
Yes, care needs to be taken by the developer.

The advantage of having PrestaShop on composer is that PrestaShop libs can be incuded in other projects. To maintain integrity, we can simply check against database (value stored in configuration table) the current installed version and throw if the version is not equal.

[2021-05-19 16:03] presteamshop commented on #16723
I understand, as this thread may be a temporary solution while a definitive solution is found. Thanks for answering ;)

[2021-05-19 16:22] khouloudbelguith opened #24574 "FO - An exception is displayed in the category page when creating new category - PHP7.4"
#### Describe the bug

In the FO, an exception is displayed after creating a category or sub-category
![image](https://user-images.githubusercontent.com/16067358/118848208-d3231e80-b8ce-11eb-9af8-abe61d868db4.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Categories page
2. Create a new category with parent category = Home
3. Go to FO > Click on "All produ

[2021-05-19 16:29] eternoendless commented on #17303
How so?

[2021-05-19 16:32] mvorisek commented on #17303
`composer create-project prestashop/prestashop` and then use anything from the exisitng PS ecosystem. For some uses just static libs, for other include config and interact with the DB of some existing installation.

[2021-05-19 16:33] khouloudbelguith opened #24575 "BO - Customer Service page - A title section is not well displayed"
#### Describe the bug

In the BO > Customer Service > Customer service page, when we try to view a message, the title of the "Your answer" is not well displayed
![image](https://user-images.githubusercontent.com/16067358/118849779-5abd5d00-b8d0-11eb-97d9-f6506398a0d8.png)

#### Expected behavior

1774 => ok
![image](https://user-images.githubusercontent.com/16067358/118849875-745ea480-b8d0-11eb-9b

[2021-05-19 16:55] Triloworld commented on #24410
In my dev env if I change "js" file then i need to remember to update version. It's like one step, my taking this to automation level to ensure that version is change always when content is different.

This is how in Magento this can be done: https://github.com/jreinke/magento-suffix-static-files
It generate query version by taking change in file and use it as a hash for query. You don't touch js/

[2021-05-19 17:49] kpodemski commented on #22880
Hey @idnovate

you can check my solution here: https://github.com/PrestaShop/ps_emailalerts/pull/86

[2021-05-19 20:10] idnovate commented on #22880
But I think it doesn't solve the main problem: form inside a form

[2021-05-19 20:18] kpodemski commented on #22880
@idnovate hmm, I think it does? I just removed `form` as we don't need it in `ps_emailalerts`

[2021-05-19 20:22] idnovate commented on #22880
I didn't see it :man_facepalming:
I'll check it.

[2021-05-19 21:24] hibatallahAouadni commented on #24564
Hello @dev-innova

Thanks for this detailed report :clap:
But don't think that the problem is within your module :thinking: cause native module always update successfully.

Thanks!

[2021-05-19 21:31] hibatallahAouadni commented on #24570
Hello @masiorama

Your issue is a duplicate of this one #24321
But unfortunally the author doesn't respond me, so could you please answer my question in the other issue :pray:

_PS: I close this one as a duplicate, so please subscribe to the issue mentioned above._

Thanks!

[2021-05-19 21:31] #24570 closed, assigned to nobody

[2021-05-19 21:31] hibatallahAouadni commented on #24570
Duplicate of #24321

[2021-05-19 21:32] hibatallahAouadni commented on #24321
Ping @masiorama

[2021-05-19 21:35] Triloworld commented on #9999
For people in future looking to fix tax issue on PayPal not working with PS 1.7.7.2 native tax system interface
In paypal module I edit:
/modules/paypal/classes/API/Request/PaypalOrderCreateRequest.php
Function "getProductItems" and $item['tax'] value to 0 for groups/interface

If products with tax don't have then PayPal will work correct and this could be fixed by overriding cart for groups

[2021-05-19 21:40] hibatallahAouadni commented on #24424
Hello @sanji-japan

Thanks for you patience :pray:
I didn't manage to reproduce the issue with PS1.7.7.4, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118888174-991c4180-b8fb-11eb-91ef-84a46ca7a943.png)

Please check and feedback.
Thanks!

[2021-05-19 21:43] masiorama commented on #24321
Hello @hibatallahAouadni , I don't remember when, but I guess I installed the module manually, definitely  on PS 1.7, since my project started in 2018 on 1.7.4. At the moment I am on PS 1.7.6.7 and the module seems to work, but since I plan to upgrade to 1.7.7 I want to upgrade all my modules beforehand.

[2021-05-19 22:32] hibatallahAouadni commented on #24122
Hello @jcarloscid

It seems everythink ok to me, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/118890662-5ceae000-b8ff-11eb-960e-7775b0949561.png)

![image](https://user-images.githubusercontent.com/23308427/118892982-059a3f00-b902-11eb-9e70-83b17515e55a.png)

But, in the invoice, I encounter an issue similar to this one #19790:

![image](https://u

[2021-05-19 23:54] hibatallahAouadni commented on #24439
Hello @maofree

Thanks for your feedback!
As we are aware of this issue and it is already in our debug backlog, this issue is a duplicate of #13737.
Well, I will ping the product team on the original issue :wink:

Thanks!

[2021-05-19 23:54] #24439 closed, assigned to nobody

[2021-05-19 23:55] hibatallahAouadni commented on #24439
Duplicate of #13737

[2021-05-19 23:55] hibatallahAouadni commented on #13737
Ping @marionf any news about this issue :pray:

[2021-05-20 00:00] hibatallahAouadni commented on #24558
Hello @leskam

Could you please provide a screen record (video), definitely there's some detail you missed to provide :wink:
Please feedback.

Thanks!

[2021-05-20 03:24] jcarloscid commented on #24122
Great!! You have reproduced the issue.

As far as i have investigated the problem is on the data model. PrestaShop does not persist enough information in order to be able to rebuild this invoice correctly.

Take a look at table `ps_order_detail_tax` for this order and try to explain current figures.

[2021-05-20 06:38] Progi1984 commented on #23538
Fixed in #24527 by @Progi1984

[2021-05-20 06:38] #23538 closed, assigned to Progi1984

[2021-05-20 06:47] dev-innova commented on #24564
Hi,

The difference between native modules and the example module is that native modules doesn't use a shared library for all of them, as my modules does.

If I want to make my modules compatible with all versions of Prestashop (1.6 and 1.7), i need to implement a library for that. For example, in some older versions of Prestashop Media::addJsDef doesn't work. Module->displayError isn't implemente

[2021-05-20 08:12] sanji-japan commented on #24424
Hello @hibatallahAouadni,

Thanks for your feedback. I am not sure I described properly the issue.
Can you please in BO create any order : Go to "Orders/Orders", "Add New Order", order any product, finalise the process.

If you go back to the screenshot you just published above, you will see that this new order register a stock movement as "Employee Edition", while it is in fact really a Customer

[2021-05-20 08:22] MatShir commented on #24535
Yes, it will make more senses if the name were unique to avoid any confusing on the system and for the merchants

[2021-05-20 08:28] Progi1984 commented on #24535
@MatShir No problem. I lock creation if name is existing.

[2021-05-20 09:20] kpodemski commented on #24235
@hibatallahAouadni @matks

wait a second, regression in performance because of wrong change... is not a regression? ;)

[2021-05-20 09:25] Progi1984 commented on #24535
@MatShir I labelled the issue as "PM :heavy_check_mark: "

[2021-05-20 10:36] hibatallahAouadni commented on #24424
Hello @sanji-japan

Yep, you're right! when I (employee) create an order in BO, the stock movement will be registred as 'Employee Edition".
If the customer create an order in FO, it will be registred as "Customer Edition".
IMHO, that's the logic!

Thanks!

[2021-05-20 10:43] eternoendless commented on #17303
There you go https://packagist.org/packages/prestashop/prestashop

[2021-05-20 10:43] #17303 closed, assigned to nobody

[2021-05-20 10:51] mvorisek commented on #17303
@eternoendless thank you ❤️

[2021-05-20 11:23] okom3pom commented on #24504
Hey @Robin-Fischer-PS i made this PR https://github.com/PrestaShop/ps_facetedsearch/pull/433  he fix partially the issue.

For the texture columns it's in the core.

[2021-05-20 12:34] jolelievre commented on #24571
So the question is how do we format the parameters in input? Should it a json format?
Or just a list of inline parameters (maybe inside "" when you need to insert spaces)?

Also I guess we'll need a mini component which is able to parse the input parameters and especially cast them into the proper type. Easy to do when the command is fully typed, but we'll have to handle loose types defined in PHP

[2021-05-20 12:35] jolelievre commented on #24571
Another detail, is the class name enough? I'm thinking about namespaces, especially in case we would have commands with same names but different namespaces?

[2021-05-20 13:06] Progi1984 commented on #24483
Fixed by @Progi1984 in #24568

[2021-05-20 13:06] #24483 closed, assigned to Progi1984

[2021-05-20 13:27] 202-ecommerce opened #24583 "An unexpected error occurred when you try to modify any customer information after the import"
#### Describe the bug

Error `An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Customer\Exception\CustomerException code 0]: Customer contains invalid field values` when modify and save customer information in BO.

Error arrive because of invalid value of field `date_add" = 0000-00-00 00:00:00`.  If change this value to real date directly in DB, error disappear.  When we import cus

[2021-05-20 14:07] GTAssist opened #24585 "Ps Facebook Exception"
Hi,
I have a problem: when i try to install the facebook prestashop module I got an exception error (as you can see in pictures) and the entire site go down.

![error2](https://user-images.githubusercontent.com/84515216/118992519-032cf900-b985-11eb-8c95-2ec8d9ffa36d.jpg)
![error1](https://user-images.githubusercontent.com/84515216/118992522-045e2600-b985-11eb-967f-366124e1d75c.jpg)

If applicable,

[2021-05-20 14:17] hibatallahAouadni commented on #24585
Hello @GTAssist

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules (You can contact PS Facebook Support directly support-facebook@prestashop.com), or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can als

[2021-05-20 14:17] #24585 closed, assigned to nobody

[2021-05-20 15:15] 202-ecommerce opened #24587 "Product price 0,00 euro in FO and Invalid $number parameter: "" cannot be interpreted as a number in BO"
#### Describe the bug

Bug only in multishop. If product is "simple product" in one shop and "Product with combinations" in other shop, there are some bugs.
1. In BO on Products page we have error "Invalid $number parameter: "" cannot be interpreted as a number ". I temporary fixed this error by modifying src/Adapter/Product/AdminProductDataProvider.php by adding verification if $product['price_fi

[2021-05-20 16:02] jolelievre commented on #24571
Yes an error message displaying the list of conflicting class would be nice

[2021-05-20 16:58] mvorisek commented on #10934
where is the `psaddonsconnect` addon repo?

[2021-05-20 18:29] mschiele opened #24590 "carrier module - getOrderShippingCostExternal does not get called"
I am building a custom shipping cost module. I want to load the shipping costs for my cart from an external api. The getOrderShippingCostExternal function does never get called. If I implement getPackageShippingCost or getOrderShippingCost the functions get called immediately.
After debugging, I found the reason why getOrderShippingCostExternal is not getting called. I need to set need_range in th

[2021-05-20 19:05] hibatallahAouadni commented on #24590
Hello @mschiele

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-05-20 19:05] #24590 closed, assigned to nobody

[2021-05-20 19:18] mschiele opened #24591 "carrier module - getOrderShippingCostExternal does not get called"
#### Describe the bug
I am building a custom shipping cost module. I want to load the shipping costs for my cart from an external api. The getOrderShippingCostExternal function does never get called. If I implement getPackageShippingCost or getOrderShippingCost the functions get called immediately.
After debugging, I found the reason why getOrderShippingCostExternal is not getting called. I need t

[2021-05-21 07:32] Prestaplugins commented on #23983
Until now, many payment modules were creating negative payments when you make a refund (at least Ogone / Ingenico, Payline...). On 1.7.7.x it stops working, and may cause errors on admin because these modules are still trying to do it but that's not allowed anymore.

It was good to see the negative line in admin on previous version, but right now if you allow negative value by Modifying OrderPayme

[2021-05-21 08:24] florine2623 commented on #24591
Hello @mschiele ,

Can you send the module you're talking about so we can test ?

Thanks!

[2021-05-21 08:50] florine2623 commented on #24583
Hello @202-ecommerce ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4 and develop, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you c

[2021-05-21 08:51] web-cooking-factory opened #24593 "Changing share_stock for a shop group make stock updates impossible via Webservice"
Hi everyone !

I'm developping a module to synchronize stocks from Dolibarr to PrestaShop and i'm struggling with an issue. I think it has not been reported yet.

If you change the share_stock parameter for a shop group, there is a reset of quantities for already existing lines in database. But if the lines don't exist, they're not created. So stock update via Webservice becomes impossible (and PO

[2021-05-21 09:06] florine2623 commented on #24587
Hello @202-ecommerce ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4 and develop, so I can confirm that this behavior is indeed a bug.

I just followed only your 4 first steps :
- Activate and configure multishop, ex. shop1 and shop2.
- In All shops context create new simple product with some price.
- Switch to shop2 and change to product with combinations and add few combinat

[2021-05-21 09:10] florine2623 commented on #24593
Hello @web-cooking-factory ,

Can you downgrade your PHP version to 7.2 and try again ?
PS 1.7.6.5 is compatible up to PHP 7.2 : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2021-05-21 09:49] Shagshag opened #24597 "Mimetype for svg is wrong in the filemanager configuration. It doesn't allow to upload svg files"
#### Describe the bug

Mimetype for svg is wrong in the filemanager configuration. It doesn't allow to upload svg files

[code]

SVG mimtype is "image/svg+xml" https://www.w3.org/TR/SVG11/mimereg.html

#### Expected behavior

The file manager should allow to upload SVG files but it doesn't.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a product in admin
2. Click on descript

[2021-05-21 09:50] beyondsagency commented on #18319
UP, toujours pas de correction pour ce point ?

[2021-05-21 10:05] khouloudbelguith opened #24598 "BO - Orders -Prices are not well calculated when Recalculate shipping costs option is set to NO"
#### Describe the bug

When setting the "Recalculate shipping costs after editing the order" option to No, the shipping cost are not recalculated when editing the order in BO when the price of the order exceeds the carrier's "limit", but the discount free shipping is recalculated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have a carrier set up with a fee below a certain amount/

[2021-05-21 10:36] web-cooking-factory commented on #24593
Hello florine2623,

unfortunately I can't sorry :/. Anyway I'm not sure it would change anything to the problem...

Btw Prestashop works pretty well on 7.3 !

[2021-05-21 11:25] Progi1984 commented on #24535
Fixed in #24579 by @Progi1984

[2021-05-21 11:25] #24535 closed, assigned to Progi1984

[2021-05-21 11:53] matks commented on #24597
This might be because SVG is not supported yet https://github.com/PrestaShop/PrestaShop/issues/10600

[2021-05-21 12:13] mserramanxa opened #24602 "Rewrite rule not valid in .htaccess"
#### Describe the bug

When use friendly URLs option, the images of a product with 8 digits or more in **id_product** are not displayed.

If I look at the **ps_product** table, the **id_product** field is defined as INT(10), for this reason, I understand that values such as 12345678 and 123456789 can be used.

I know it's really rare a shop with this high **id_product** values, but possible.

I th

[2021-05-21 12:15] PierreRambaud commented on #24574
I did not manage to reproduce the issue after a fresh install, the only thing is I have no addons modules installed.

[2021-05-21 12:20] Shagshag commented on #24597
I should have be more clear, this issue is about the configuration of [responsivefilemanager](https://www.responsivefilemanager.com/) the filemanager used with TinyMCE. Not about ImageManager.

[2021-05-21 12:37] alfonsolr09 commented on #23983
Its a good idea.
I think negative payment should be allowed as in previous versions.

[2021-05-21 12:40] florine2623 commented on #24602
Hello @mserramanxa ,

Your issue is related to https://github.com/PrestaShop/PrestaShop/issues/21181
It is fixed in version 1.7.8 of PrestaShop !

So I close your issue.

[2021-05-21 12:40] #24602 closed, assigned to nobody

[2021-05-21 13:06] atomiix opened #24604 "Upgrade to the Twig v3"
As Twig V1 [will stop being maintained at the end of November 2021](https://github.com/twigphp/Twig/commit/9a7f3c8d0e58f1a40d6f0efad5eef2237a24099b#diff-7b3ed02bc73dc06b7db906cf97aa91dec2b2eb21f2d92bc5caa761df5bbc168fR10), we should update to the latest one, which is v3.

[2021-05-21 13:08] atomiix opened #24605 "Remove Symfony 4.4 deprecations"
Migrating to Symfony 4.4 introduced new deprecations, we should get rid of them

[2021-05-21 13:11] atomiix opened #24606 "[productcomments] Use circuit-breaker v4"
To be compatible with the next verison of PrestaShop that will use Symfony 4.4, circuit breaker should be updated to v4

[2021-05-21 13:12] atomiix opened #24607 "[blockreassurance] Use circuit-breaker v4"
To be compatible with the next verison of PrestaShop that will use Symfony 4.4, circuit breaker should be updated to v4

[2021-05-21 13:13] atomiix opened #24608 "[EPIC] - Update symfony to version 4.4"
- [x] #24606 - Update [productcomments](https://github.com/PrestaShop/productcomments) to use [circuit-breaker](https://github.com/PrestaShop/circuit-breaker/) v4
- [x] #24607 - Update [blockreassurance](https://github.com/PrestaShop/blockreassurance) to use [circuit-breaker](https://github.com/PrestaShop/circuit-breaker/) v4

------

## Fixed

- [x] #20739 - Upgrade the latest Symfony LTS version

[2021-05-21 13:19] florine2623 commented on #24597
Hello @Shagshag ,

Are you talking about this part in BO > Product > Description :
![Capture d’écran 2021-05-21 à 14 26 21](https://user-images.githubusercontent.com/16019289/119143422-de4d8a00-ba47-11eb-98d0-2780546a8896.png)

Thanks!

[2021-05-21 14:03] Julievrz commented on #24402
Hi @henri9813
Thank you for opening this issue. I agree with you that the wording could be better and less alarming! I suggest the following wording, which fits better the template we are trying to follow throughout the software:

![image](https://user-images.githubusercontent.com/70583503/119149721-0dff9080-ba4e-11eb-99c2-e3a1f77c7650.png)

[2021-05-21 14:24] PierreRambaud commented on #10504
@matks What are we waiting for?
If it's related to automation tests about all possible rules, we should see with @boubkerbribri , otherwise we can maybe find a way to make it mergeable asap :)

[2021-05-21 14:34] elektryz opened #24612 "[HOOK | IMPROVEMENT] Add two more hooks to Cart::updateQty function"
#### Is your feature request related to a problem?

Currently we have one hook in **Cart::updateQty** function which is called **actionCartUpdateQuantityBefore**.
However sometimes there is a necessity to have a hook (trigger) **_after_** the insertion or update the product in cart is made.

#### Describe the solution you'd like

My idea is to add a hook like **actionAfterProductUpdateQuantity**
j

[2021-05-21 14:37] florine2623 commented on #24612
Hello @elektryz ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-05-21 14:56] matks commented on #10504
Sorry I totally avoided this topic last months as I was focused on helping 1.7.8 must-have topics completed :) . Now that 1.7.8 is frozen indeed we can dedicate some time to finish this stuff indeed.

I can review the PR 👍  . If we can have a QA confirmation from @Robin-Fischer-PS that "testing the migration page" is only about the page behavior, not the impacts of modifying permission settings, t

[2021-05-21 15:12] PierreRambaud commented on #10504
Nice to hear that. I will rebase the PR if @Robin-Fischer-PS confirm it, and can improve the previous code if needed

[2021-05-21 15:17] Shagshag commented on #24597
Yes, you should allow the two mimetype 'image/svg' and 'image/svg+xml'

[2021-05-21 16:15] khouloudbelguith opened #24615 "BO - Employee options are NOK"
#### Describe the bug

In the BO > Advanced Parameters > Team > Employees page, Try to change `Password regeneration` to 5 min, enable `Memorize the language used in Admin panel forms` and click on save, a green alert is displayed but no update saved

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Team > Employees page
2. Try to change `Password rege

[2021-05-21 16:22] khouloudbelguith opened #24616 "BO - Logs - There is no email address check"
#### Describe the bug

In the BO > Advanced Parameters > Logs page, in the logs by email section, there is no check of a valid address mail or not

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Logs page
2. In the logs by email section > set the field `Send emails to` to `test`
3. Save
4. See error: no validation (the type of the field should be ema

[2021-05-21 16:26] khouloudbelguith opened #24617 "BO - the supplier of the demo pack is not selected"
#### Describe the bug

This issue is fixed by another PR
But we have only another issue with the **demo pack**.
The supplier of the demo pack is not selected

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products page
2. Edit the pack product > Options tab
3. Check the supplier

![image](https://user-images.githubusercontent.com/16067358/119169193-034ef680-ba6

[2021-05-21 17:57] IranDec commented on #18926
Hi @prestascott
today I update my Prestashop ver to 1.7.7.4 but the problem still exists.
is it possible to check my video?
this is my main problem that cause i create this issue
"I couldn't change the attribute of my order after I enable that feature"
"Let focus on one issue at a time please, or open a new issue if needed."

[2021-05-21 22:57] uruk-hai-21 opened #24619 "Manipulate the Carrier restrictions in checkout (when multiple navigation tabs opened)"
#### Describe the bug

If the order page is opened in multiple tabs of browser at the same time and the shipping method is changed, if the order is placed in first tab the order will be wrong.

#### Steps to Reproduce

Steps to reproduce the behavior:

1- setting Carrier restrictions (see image)
2- tab1 - order page - select "prestashop" shipping method and continue
3- tab1 - select "check payment

[2021-05-22 07:20] hibatallahAouadni commented on #24593
Hello @web-cooking-factory

Could you please provide some screenshots of this steps:

Did you change it via webservice or in BO?
And could you please provide the web service that you use to update the stocks :pray:

Please check and feedback.
Thanks!

[2021-05-22 08:32] hibatallahAouadni commented on #24583
I need to check it if it's regression or not

[2021-05-22 08:34] hibatallahAouadni commented on #24587
Hello @202-ecommerce

Could you please check this issue #9664 it seems related to yours.
Please check and feedback.

Thanks!

[2021-05-22 13:23] sextoysunivers1964 opened #24621 "Impossible to save changes in carriers"
Hi all,
I hope you can help me with this.
#### Describe the bug

It's impossible to save changes in carriers, every time I try I got this error :

[code]

After reading other post regarding the same issue, I have increased the max_input_var to 70000 but still I have the same error.
However after inspecting it seems that the problem still comes from the controller admin carrier wizard. 

In other p

[2021-05-23 04:01] Seb33300 commented on #23600
Is there any way to do this without adding an override class?

[2021-05-23 14:00] mvorisek opened #24624 "`$_SERVER['SERVER_NAME']` should be not used"
#### Describe the bug

`$_SERVER['SERVER_NAME']` is not reliable and contains very often a different name than `$_SERVER['HTTP_HOST']`, sometimes port is present, sometimes it is the full domain name, sometimes only the configured/static server name like `localhost` or `127.0.0.1`.

Luckily, the usage of it is minimal, also of `Tools::getServerName()` which uses it.

#### Expected behavior

No use

[2021-05-24 06:20] mserramanxa commented on #24602
Great news!

Thank's

[2021-05-24 07:37] 202-ecommerce commented on #24583
Hello @hibatallahAouadni ,

I had this issue also on 1.7.6.9.

[2021-05-24 07:41] prestascott commented on #18926
Hello @IranDec,

Can you send your video here please? The upload from your previous link doesn't exist anymore.

Thanks :)

[2021-05-24 07:46] Robin-Fischer-PS commented on #10504
@PierreRambaud @matks : The functional test of this page will be :

- Check the behavior of the page is OK
- Check in DB that the data are modified OK
- Check some impacts of modifying permissions settings (not all of them, just 2 or 3), in order to make sure there is no "huge and ugly" regressions.

I think the test of this page will not take more than one day, so we will be able to test it when

[2021-05-24 07:53] hibatallahAouadni commented on #23977
Hello @zubco ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-24 07:53] #23977 closed, assigned to nobody

[2021-05-24 08:32] MatShir commented on #23983
As @Prestaplugins said, the problem here is payment tab edits the invoice. One solution also is when creating a credit slip for a refund if the order has been paid, to automatically add the negative value to the payment tab and displays the credit slip as the document impacted without editing the invoice.

[2021-05-24 08:45] hibatallahAouadni commented on #24619
Hello @ajejebrazorf01

I was able to reproduce the issue with PrestaShop version 1.7.7.4. I’ll add this to the debug backlog so that it’s fixed.

https://drive.google.com/file/d/1Akkn8N2pLH84YbedeibvpRFPwhJ2Puh9/view

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to

[2021-05-24 08:53] hibatallahAouadni commented on #24624
Hello @mvorisek

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-05-24 08:54] 202-ecommerce commented on #24587
Hello @hibatallahAouadni ,
Thank you, i checked the issue.
The issue is not really the same, I can add/remove combinations in different strores and save. But there i found this PR #20964 and it solve my probleme with price 0 on category page and in BO the Price (tax incl.) shown correctly now.
But if i remove my fix "$product['price_final'] != null" from src/Adapter/Product/AdminProductDataProvide

[2021-05-24 09:00] mvorisek commented on #24624
What do you want here more than a report that `$_SERVER['SERVER_NAME']` data should be not used because of the reasons described?

[2021-05-24 09:03] hibatallahAouadni commented on #24621
Hello @sextoysunivers1964

Despite our efforts, we were not able to reproduce your issue with the provided information, see the attached screen record below:

https://drive.google.com/file/d/1CHhmFoHz7HpWDLZObsEQiLNDzn3uQNFD/view

It seems that your issue is not a PrestaShop core bug but most likely a module problem.
We will close this issue.

Thanks!

[2021-05-24 09:03] #24621 closed

[2021-05-24 09:10] sextoysunivers1964 commented on #24621
Hello hibatallahAouadni,

Thank you very much for your answer. I will find that module.

Best regards,
Juan Carlos

[2021-05-24 10:14] PierreRambaud commented on #24533
Hi @khouloudbelguith
I'm not able to reproduce the issue, the only issue I have is a button's position problem.
![image](https://user-images.githubusercontent.com/1462701/119332895-81d9ad00-bc89-11eb-9044-29351f9c9019.png)
PIng @NeOMakinG

[2021-05-24 11:27] khouloudbelguith commented on #24477
Hi!

This issue is reproduced in the `restricted-country mode` following these steps:
1. Go to BO > International > Localization > Geolocation page
2. Enable Geolocation by IP address
3. In the `Geolocation behavior for other countries` set, visitors cannot see your catalog
4. Try to access to the FO with another country
5. See error
![image](https://user-images.githubusercontent.com/16067358/1193

[2021-05-24 11:29] smartsoftbox opened #24630 "From version 1.7.7.2 cost price is not update in product table only product_shop"
#### Describe the bug

From version 1.7.7.2 cost price is not update in product table only product_shop. (wholesale_price)

#### Expected behavior

In previous version both tables were updated.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any Product
2. Click on edit
3. Enter value for cost price field and save
4. See table product wholesale_price and product_shop wholesale

[2021-05-24 12:54] MatShir opened #24631 "Upgrade issue 1.6.24 to 1.7.8.x"
**Upgrade issues**

There were a few changes that prevented the upgrade to complete: <ul><li>`Language::getCountry()` required a string but null could be passed. Using `Language->getLocale()` instead of `Language->locale` solve this issue</li><li>The `Tab` structure changed and 2 new fields (`wording` & `wording_domain`) have been added but are not present yet when migrating the tab in the 1.7.0.0

[2021-05-24 13:36] MatShir opened #24633 "Update default catalogs for 1.7.8 version"
Import in Crowdin new wordings

[2021-05-24 13:37] hibatallahAouadni commented on #24630
Hello @smartsoftbox

Could you please check this issue #24529 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-24 14:28] khouloudbelguith commented on #22951
Hi @Progi1984,

Yes!
I did not manage to reproduce the issue with 177x and 178x
https://drive.google.com/file/d/166IVHWwsMRKugBknAcmUVOVc1-1XXGWI/view?usp=sharing

Thank you!

[2021-05-24 14:28] #22951 closed, assigned to Progi1984

[2021-05-24 15:06] khouloudbelguith commented on #19090
Hi @marionf,

As commented [here](https://github.com/PrestaShop/PrestaShop/issues/19090#issuecomment-732193568), the issue is fixed
![image](https://user-images.githubusercontent.com/16067358/119366531-5d91c680-bcb1-11eb-9bad-e4e4bf68248c.png)

177x (1775 => ok): https://drive.google.com/file/d/1wIIN_4lgP13CqVA0OSgcRkDS9yAXTEnH/view?usp=sharing
178x => ok

Thank you!

[2021-05-24 15:06] #19090 closed, assigned to nobody

[2021-05-24 15:38] khouloudbelguith commented on #20009
Hi @hibatallahAouadni,

I think this issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/19393
What do you think?

Thank's

[2021-05-24 16:10] MatShir commented on #24450
Hi,
The issue is transferred to the developers of the module PSMetrics. Thanks for the feedback, but the issue is not related to the project PrestaShop, so I will close the issue.

[2021-05-24 16:10] #24450 closed, assigned to NeOMakinG

[2021-05-24 16:13] khouloudbelguith commented on #12024
Hi @Prestaworks,

I did not manage to reproduce the issue with 177x (1775) and 178x
https://drive.google.com/file/d/1fWMLe869WzzCOogFU0T_RAKAGbDDRCsV/view?usp=sharing
I will close the issue.

Thank you!

[2021-05-24 16:13] #12024 closed, assigned to marionf

[2021-05-24 16:33] khouloudbelguith opened #24635 "FO - Discounts - The discount detail is NOK"
#### Describe the bug

In the FO > Shopping cart page and checkout page, when we apply two cart rule "Free shipping" + percent discount, the discount line s NOK, the discount = total product + shipping

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog >  Cart rules page
2. Create a cart rule Free shipping
3. Create another cart rule 10%
3. Go to FO, add a product to

[2021-05-25 07:16] ldeprestashop commented on #24111
| what does this mean, end of free full features open source code?

No @mvorisek  it is the opposite :)

We want to remove corporate components, API call... from Open-source project

[2021-05-25 07:22] ldeprestashop opened #24637 "Create PS distribution build process"
#### Is your feature request related to a problem?

This Feature is a part of split between corporate prestashop/Open-sour prestashop.
Goal is to provide a full "non corporate" project.

#### Describe the solution you'd like

- [x] ZIP downloaded from .com is different from the one on github, includes more features.
- [ ] Define build and test strategy
- [x] #26321

[2021-05-25 07:26] ldeprestashop opened #24638 "Remove API push from core, move it into module / lib"
#### Is your feature request related to a problem?

This Feature is a part of split between corporate prestashop/Open-sour prestashop.
Goal is to provide a full "non corporate" project.

API push only exists in PS distribution, so it needs to be included in the build pipeline

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.

#### Alternatives yo

[2021-05-25 07:29] ldeprestashop opened #24639 "Remove marketplace from core"
#### Is your feature request related to a problem?

This Feature is a part of split between corporate prestashop/Open-sour prestashop.
Goal is to provide a full "non corporate" project.

Remove the module & theme catalog
Remove update API

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.
Remove all the call and implement an empty skeleton for the

[2021-05-25 07:32] ldeprestashop opened #24640 "Make it possible to install MBO"
#### Is your feature request related to a problem?

This Feature is a part of split between corporate prestashop/Open-sour prestashop.
Goal is to provide a full "non corporate" project.

MBO is no longer pushed, so there must be an easy way to install it

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.

#### Alternatives you've considered

A cle

[2021-05-25 07:38] PululuK commented on #24537
Fixed https://github.com/PrestaShop/PrestaShop/pull/24565

[2021-05-25 07:48] mrabsinthe commented on #22215
I had exactly the same issue, I had orders created in PS up to version 1.7.6.1. After upgrade to 1.7.7.4, I was unable to view or edit orders and customer addresses. SQL update from @DelosTR did the trick, big thanks!
@hibatallahAouadni if you want to replicate the issue, install old version 1.7.6 and create few orders as a customer and also as a guest. That may help to replicate the issue. Also t

[2021-05-25 08:00] manfield opened #24641 "Link::getModuleLink in a Multistore context"
#### Describe the bug

In a multistore context, when using subfolder instead of subdomain to separate stores,
Link::getModuleLink
returns the module URL with the subfolder in path (and this is not mapped to the proper controller)

#### Expected behavior

If we have two stores with these urls:

https://example.com/store1/
https://example.com/store2/

I'd expect that Link::getModuleLink returns

htt

[2021-05-25 08:18] ldeprestashop opened #24643 "Modules pushed by addons API become part of the zip (natives)"
#### Is your feature request related to a problem?

This Feature is a part of split between corporate prestashop/Open-sour prestashop.
Goal is to provide a full "non corporate" project.

### Module of the OS project included in the ZIP (natives):

- [x] - blockreassurance
- [x] - ps_bestsellers
- [x] - ps_brandlist
- [x] - ps_cashondelivery
- [x] - ps_categoryproducts
- [x] - ps_emailalerts
- [x]

[2021-05-25 08:19] ldeprestashop opened #24644 "Let the user choose the modules and the theme to install during the installation process"
#### Is your feature request related to a problem?

The problem is that natives modules are by default installed and enabled.
As an advanced user, I don't necessarily need all the natives' modules.

#### Describe the solution you'd like

As an advanced user, I should be able to unselect the modules of the ZIP that I don't want to install
As an advanced user, I should be able to choose during the i

[2021-05-25 08:22] ldeprestashop opened #24645 "Create install / update API for native modules"
## Is your feature request related to a problem?

This Feature is a part of split between corporate prestashop/Open-sour prestashop.
Goal is to provide a full "non corporate" project.

How to reinstall / update modules without addons

## Describe the solution you'd like

- [x] PrestaShop/PrestaShop#27428
- [x] PrestaShop/PrestaShop#27427

## Alternatives you've considered

A clear and concise desc

[2021-05-25 08:23] henri9813 commented on #24402
Looks better!

[2021-05-25 09:21] Progi1984 commented on #24481
Fixed by @arouiadib in #24485

[2021-05-25 09:21] #24481 closed, assigned to nobody

[2021-05-25 09:23] matks commented on #24624
Hello @mvorisek I think what @hibatallahAouadni means is that this is not a bug report.

A bug report is "component A of PrestaShop should behave like ... but instead it behaves like ... ; so it is faulty, this is not what is expected".

What you are reporting is, I think, an improvement suggestion for the codebase, which is not to rely on $_SERVER['SERVER_NAME'] and $_SERVER['HTTP_HOST'] . We hav

[2021-05-25 09:25] Julievrz commented on #24402
Hi @henri9813

Thanks! I modified it just a little after thinking about it to avoid the 'Are you sure you want..." that creates unnecessary doubt in the user. :)

[2021-05-25 09:29] mvorisek commented on #24624
It is a bug as some code does not work properly if the SERVER_NAME does not match HTTP_HOST.

Partial fix is here https://github.com/PrestaShop/PrestaShop/pull/24626

[2021-05-25 09:36] Julievrz opened #24651 "Adapt the 'Help' window in the back office so that it fetches information from GitBook instead of Confluence."
Right now, the Help" window in the back office fetches information from the documentation hosted on Confluence. When we start using GitBook, this help window should fetch information from GitBook.

As requested by @Progi1984, I have created this mapping for the 1.7 version, replacing Confluence IDs with Github paths.
[mappinggitbook.txt](https://github.com/PrestaShop/user-documentation-en/files/65

[2021-05-25 09:37] Progi1984 commented on #24477
Fixed in #24539

[2021-05-25 09:37] #24477 closed, assigned to Progi1984

[2021-05-25 09:39] matks commented on #21107
Hello, as you can see for PR https://github.com/PrestaShop/PrestaShop/pull/24330 developers who are experienced and know how to use this page will need to create the needed database entries in tabs and roles to access it. We dont remove code, we removed the database items that are needed to access the page. Inserting the needed database items will allow you to access it again 😉  .

[2021-05-25 09:49] hibatallahAouadni commented on #20009
Hello @khouloudbelguith

Thanks for pointing to this issue :wink:
Indeed it's a duplicate, we misunderstood the original issue #19393 cause the steps weren't very clear.
So, I edit the original issue to be clearer. thanks again

As we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #19393.
To be informed when it's fixed, please subscribe to the issue me

[2021-05-25 09:49] #20009 closed, assigned to nobody

[2021-05-25 09:49] hibatallahAouadni commented on #20009
Duplicate of #19393

[2021-05-25 09:51] Dreimus opened #24647 "The configuration adapter cannot retrieve data from a specific store."
#### Describe the bug

Following the symfony way for adding a configuration page into a module, I've realized that the ConfigurationInterface and the Configuration Adapter don't allow to specify a shop.

`src/Core/ConfigurationInterface.php`
[code]

`src/Adapter/Configuration.php`
[code]

#### Expected behavior

Configuration Interface and Configuration Adapter must follow `classes/Configuration.p

[2021-05-25 09:56] hibatallahAouadni commented on #24624
Kind of related to #22581

[2021-05-25 10:00] mvorisek commented on #24624
Yes - only PrestaShop shop domain must be used to build URLs.

I would vote to deprecate `Tools::getServerName()` method as the data source is unreliable (can be for ex. `localhost` or `my_server`). But PRs it this sense is often rejected, so guy, decide on your own.

[2021-05-25 10:29] mvorisek commented on #17121
Please verify if this issue is still present, if yed, please fix urgently, displaying wrong price everywhere is a major and maybe even a legal issue.

[2021-05-25 10:41] #24557 closed, assigned to PierreRambaud

[2021-05-25 10:41] PululuK commented on #24557
Fixed https://github.com/PrestaShop/PrestaShop/pull/24611

[2021-05-25 10:41] #24563 closed, assigned to PierreRambaud

[2021-05-25 10:41] PululuK commented on #24563
Fixed https://github.com/PrestaShop/PrestaShop/pull/24611

[2021-05-25 10:42] hibatallahAouadni commented on #24514
Hello @TechhDan

I think you misunderstood me, I'm asking:

- where are these two lignes located (in which file) or should I add these two lignes in some file to reproduce the issue?
- after cloning your module under modules/ what I should do? ( there's no guide)
- please provide steps to reproduce or at least a screen record (recording all steps)

Please check and feedback.

Thanks!

[2021-05-25 10:45] hibatallahAouadni commented on #24624
@mvorisek could you please attach/link your PR to this issue #22581 and please add a comment in the issue (explaining all your concerns about this problem).
Thanks in advance!

[2021-05-25 10:49] hibatallahAouadni commented on #24392
@NeOMakinG the PR still not merged :sweat_smile: it's waiting for QA

[2021-05-25 10:54] mvorisek commented on #22581
Related with https://github.com/PrestaShop/PrestaShop/issues/24624#issuecomment-847732566 - all URLs must be based solely on shop domain and:

- `Tools::getServerName()` method should be deprecated (is not always host, does not contain port, can be static value like `my_server`, depends on webserver administrator)
- and `Tools::getHttpHost()` method must never be used for building URLs as this met

[2021-05-25 11:04] hibatallahAouadni commented on #24302
Hello @Morerice

Thanks for your patience!
Yes, when I check **Display non-poisitionable hooks** the **Adyen** module is registered to the `actionEmailSendBefore` hook.

![image](https://user-images.githubusercontent.com/23308427/119487446-ac933680-bd59-11eb-9d60-ffdc2c64b98a.png)

Please check and feedback.
Thanks!

[2021-05-25 11:17] smartsoftbox commented on #24630
Issue #24529 it is about update products order so it is not similar. It is stored in order_details table.

[2021-05-25 11:33] hibatallahAouadni commented on #24587
Hello @202-ecommerce

Thanks for your feedback!
So, your issue is a duplicate of #20975 as this PR fixed this issue with PS1.7.8.0
As we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #20975.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Please use this fix till we release the 1.7.8.0 :pray: and thanks for your patienc

[2021-05-25 11:34] hibatallahAouadni commented on #24587
Duplicate of #20975

[2021-05-25 11:45] 202-ecommerce commented on #24587
This PR fix only part of the problem.
I still have the error:
Invalid $number parameter: "" cannot be interpreted as a number
[PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]
"$product['price_final'] != null" from src/Adapter/Product/AdminProductDataProvider.php" it was my solution to fix this error.
I didn't find PR that will fix this error. This error can still be repr

[2021-05-25 11:55] frntdev commented on #9866
I'm experiencing the same error on 1.7.6.4, no payments want to go through because of this error, including the ones made with Prestashop Checkout. I'm completely lost on this one, because it broke for no apparent reason. Our customers can't use fast payments now.

[2021-05-25 12:18] NeOMakinG commented on #24392
@hibatallahAouadni initial PR is this one : https://github.com/PrestaShop/blockwishlist/pull/112

And I added more about this subject but not only this one inside the current linked PR

[2021-05-25 12:35] #24574 closed, assigned to Progi1984

[2021-05-25 12:35] PululuK commented on #24574
Fixed https://github.com/PrestaShop/PrestaShop/pull/24610

[2021-05-25 12:44] #24376 closed, assigned to NeOMakinG

[2021-05-25 12:45] PululuK commented on #24376
Fixe https://github.com/PrestaShop/PrestaShop/pull/24541

[2021-05-25 13:22] Progi1984 commented on #24548
Fixed in #24573 by @NeOMakinG

[2021-05-25 13:22] #24548 closed, assigned to NeOMakinG

[2021-05-25 18:12] Progi1984 commented on #24615
Fixed by @PierreRambaud in #24632

[2021-05-25 18:12] #24615 closed, assigned to PierreRambaud

[2021-05-25 18:18] #24631 closed, assigned to atomiix

[2021-05-25 23:05] NajibNour opened #24655 "Docker support for ARMv7"
#### Is your feature request related to a problem?

Issue is cannot run on an ARM based system.

#### Describe the solution you'd like

Could a docker image be built towards ARMv7 arch?

#### Alternatives you've considered

I have considered building it my self but it seems that your build files always start with a default AMD64 Prestashop Image.

#### Additional context
 Please? <3

[2021-05-26 02:23] hibatallahAouadni commented on #18850
@MatShir what's this issue's status, is it **`To Do`** or need more specs **`TBS`**?

[2021-05-26 02:43] hibatallahAouadni commented on #11294
@marionf does this issue need more specs?

[2021-05-26 04:24] hibatallahAouadni commented on #19436
Ping @PrestaShop/product-team could you please check if this is the expected behavior as @Hlavtox mentioned or it's a bug?

[2021-05-26 05:00] hibatallahAouadni commented on #23942
The PR is merged :tada: So I close the issue :wink:
Thanks @okom3pom

[2021-05-26 05:00] #23942 closed, assigned to nobody

[2021-05-26 05:15] hibatallahAouadni commented on #24655
Hello @NajibNour

Thank you for your suggestion. The Developer Team will take a look. Please stay tuned!

Ping @PrestaShop/prestashop-core-developers could someone please answer @NajibNour question :pray:

Thank you

[2021-05-26 05:27] hibatallahAouadni commented on #24641
Hello @manfield

Could you please provide steps to reproduce the issue.

Thanks!

[2021-05-26 07:15] matks commented on #24655
Hello @NajibNour the https://github.com/prestashop/docker images aim to provide general-usecase images for webservers. If I am no wrong, most webservers run on AMD, not ARM 🤔  ? Then we will probably not do it.

I'm sorry 😅  we do not provide tools just to please people, we try to provide what we need for ourselves and that can be used by the majority of our users. But if you are wanting to build

[2021-05-26 07:16] PululuK commented on #23589
Hi,
The news about ?

[2021-05-26 07:19] marionf commented on #18319
Hello,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contribute the

[2021-05-26 07:34] hibatallahAouadni commented on #24655
Hello,

Thanks @matks for your quick reply :wink:
Well, the Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implemen

[2021-05-26 07:36] hibatallahAouadni commented on #23589
@PululuK if you could provide a PR, this issue will be treated in priority

[2021-05-26 07:38] Prestaplugins commented on #18319
Hi Marion, I understand there are tons of issues, but everything related to invoice / credit slip / price calculation should always be your 1st priority. That's the heart of the software and creating many problems for the merchants in case of control by the government.

[2021-05-26 07:40] PululuK commented on #23589
@hibatallahAouadni  But we need PM validation ;)

[2021-05-26 07:42] fire2 commented on #15398
Sorting of products in pages > 1 also doesn't work, e.g, moving product from position 302 to 301, not just from page 2 to page 1.

[2021-05-26 08:10] hibatallahAouadni commented on #24647
Hello @Dreimus

Thanks for your issue!
Ping @PrestaShop/prestashop-core-developers could someone please try to reproduce the issue :pray:  (it's too technical for me :sweat_smile: )

Thanks in advance!

[2021-05-26 08:27] hibatallahAouadni commented on #24381
Hello @Ploppy3

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-26 08:27] #24381 closed, assigned to nobody

[2021-05-26 08:28] marionf commented on #18319
@Prestaplugins

The open-source project isn't the property of Prestashop company, so it should not be only _our_ priority but the priority of all the people who use Prestashop and have this problem ;)

If it's important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider hiring a specialist to help you and then contribute the fix back to the pr

[2021-05-26 08:35] hibatallahAouadni commented on #12907
Hello everyone,

As we decide that every performance bug will be treated as an improvement.
So the Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you cre

[2021-05-26 08:38] #24263 closed, assigned to jolelievre, NeOMakinG

[2021-05-26 08:57] bastienu commented on #10005
Exact same bug here...

[2021-05-26 09:21] atomiix commented on #24334
Fixed by #24355

[2021-05-26 09:21] #24334 closed, assigned to matthieu-rolland

[2021-05-26 09:28] #24655 closed, assigned to nobody

[2021-05-26 10:29] jonathan-tesial commented on #16130
Thank you @marlon8511 this fixes the issue !
Is there a way to override in a clean way the `/modules/ps_facetedsearch/src/Adapter/MySQL.php` file or can we only fix it in the core module file ?

[2021-05-26 10:58] Flowster opened #24662 "Controller decorator not working in config admin yaml"
#### Describe the bug

When in a module you declare a controller service decorator under `config/admin/services.yml` an exception is raised.
When you declare this decorator under `config/services.yml` it's working fine.

#### Expected behavior

We should be able to declare the decorator in admin or front context.

#### Steps to Reproduce

1. From this PR #18811 download the [testdecorationcontroll

[2021-05-26 11:31] Progi1984 commented on #24562
Fixed in #24576

[2021-05-26 11:31] #24562 closed, assigned to Progi1984

[2021-05-26 11:47] frntdev commented on #9866
Just figured it out - turns out the Google ads/analytics code for conversions doesn't play well with Prestashop. The code for tracking conversions was included on the order confirmation page because that's where the Google employee asked us to put it (and also because that just makes sense) which seemingly broke everything related to payments. Worth looking into, because that seems to be the only

[2021-05-26 12:57] #24501 closed, assigned to NeOMakinG

[2021-05-26 13:01] ballashop opened #24663 "Impossible to refund VAT to the customer but only the cost of the product without taxes"
### Describe the bug
A customer has returned the products.
We have partially refunded through Prestashop, but the system does not allow us to refund even the VAT paid, only the net cost of the products.

The site is set up for a sale of the net price + VAT, we do not sell with prices already taxed.

### Steps to reproduce
1) I enter into the order and click on partial refund
<img width="932" alt="

[2021-05-26 13:29] NeOMakinG opened #24664 "Product page v2 image dropzone have some design issues"
#### Describe the bug

When you've more than 2 images, some design issues appears :
![image](https://user-images.githubusercontent.com/14963751/119667393-898a8480-be36-11eb-81b3-e58e8e52c653.png)

#### Expected behavior

The photo icon should have a fixed width and images should to at the line when they've no spaces

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Product page

[2021-05-26 13:50] javierVP commented on #20580
I have the latest version of module 2.1.0 and PrestaShop 1.7.7.4 I have the same error.

[2021-05-26 14:03] #24528 closed, assigned to SD1982

[2021-05-26 14:06] #24402 closed, assigned to NeOMakinG

[2021-05-26 14:16] jonathangreco opened #24666 "Product assembler, check null missing"
#### Describe the bug

For some reason, we may have this bug when the SQL request return null:

`
"PHP message: PHP Notice:  Undefined offset: 0 in /home/my_website/site/www/classes/ProductAssembler.php on line 95 PHP message: PHP Warning:  array_merge(): Expected parameter 1 to be an array, null given in /home/my_website/site/www/classes/ProductAssembler.php on line 95
`

that leads to the follow

[2021-05-26 14:36] camillo777 commented on #22760
Hello, is there any ETA for this bug corrected in Prestashop stable release?

[2021-05-26 14:42] sanji-japan commented on #24424
Hello @hibatallahAouadni,
When looking at the stock_mvt_reason_lang table, there are several codes for "Customer Order" (3 & 9), and several codes for "Employee Edition" (11 & 12). So I would assume that a different status should be available when an order is done in BO. AFter all, a new BO order is NOT an "Employee Edition"...
Without a specific status, it is impossible to identify when a manual

[2021-05-26 14:44] matks commented on #22760
@camillo777 there is no ETA for this bug.

If you find that this issue is important for you, you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. This will be the quickest way to obtain the fix.

[2021-05-26 15:46] arirangz commented on #16130
Hello @khouloudbelguith

As I mentioned in my previous comment, the issue is not fixed.

Could you please have a look?

Thanks

[2021-05-26 16:19] Mindfield-Studio commented on #14703
@humanoidvani
Very nice ! And so logic and obvious... lol
I'll test it asap :D

Thank you again ;)

[2021-05-26 17:47] mvorisek commented on #18547
Error handlers for `set_error_handler` must account for https://php.watch/versions/8.0/fatal-error-suppression if they want to keep ignoring `@` operator, eg. https://github.com/PrestaShop/PrestaShop/blob/1.7.7.4/classes/controller/Controller.php#L687 must be replaced with:

[code]