[2021-04-09 12:34] florine2623 commented on #23957
Hello @Bow460 ,

Thanks for the report, I managed to reproduce the bug in PS 1.7.7.0 to 1.7.7.3 :
![Capture d’écran 2021-04-09 à 14 33 47](https://user-images.githubusercontent.com/16019289/114180596-ac251480-9940-11eb-9435-6bc8f29af0b8.png)
![Capture d’écran 2021-04-09 à 14 28 43](https://user-images.githubusercontent.com/16019289/114180527-93b4fa00-9940-11eb-8984-7cd8339b81cc.png)

In PS 1.7

[2021-04-09 12:51] florine2623 commented on #23963
Hello @rodbodtoo ,

Thanks for the report.

I managed to reproduce this bug in PS 1.7.7.3 but not in PS 1.7.6.x.

In PS 1.7.7.3 :
![Capture d’écran 2021-04-09 à 14 45 46](https://user-images.githubusercontent.com/16019289/114182142-987aad80-9942-11eb-9d7f-fd016815c134.png)
![Capture d’écran 2021-04-09 à 14 45 58](https://user-images.githubusercontent.com/16019289/114182162-9add0780-9942-11eb-8

[2021-04-09 12:52] florine2623 commented on #23963
Ping @PrestaShop/product-team ,
Can you confirm if this is a wanted behavior for PS 1.7.7 or if this is a regression ?

Thanks!

[2021-04-09 12:56] florine2623 commented on #23961
Hi @NulAsh ,

I'm not sure I understand well your point.

If you want to reset the module, it means that you wants to reset the data of the module.
Why keep the current configuration if you want to reset the module ?

Thanks!

[2021-04-09 12:59] florine2623 commented on #23958
Hello @Mmoraco ,

Could you add the steps to reproduce your issue please ?
Thanks!

[2021-04-09 13:14] fyndpriser commented on #23909
A new video I hope this helps to understand the cause of the problem. Thanks!
https://drive.google.com/file/d/17U_J0D8YE6VsAtPFvb8Uo-hNyBR4T1kH/view?usp=sharing

[2021-04-09 13:17] florine2623 commented on #23815
Hello @TinoArts ,

I can't reproduce your issue in PS 1.7.73 with module Faceted Search v3.7.0 :
![Capture d’écran 2021-04-09 à 15 16 30](https://user-images.githubusercontent.com/16019289/114185944-931f6200-9946-11eb-8574-4cdd4a1538e6.png)

All the categories show :
![Capture d’écran 2021-04-09 à 15 11 25](https://user-images.githubusercontent.com/16019289/114185903-8733a000-9946-11eb-8dc5-4e

[2021-04-09 13:30] #23816 closed, assigned to nobody

[2021-04-09 13:42] pkirk commented on #22697
Gentlemen,
I've just encountered this problem and it was because I use memcached. You should put on [your update guide](https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/) that the user have to restart it. Or disable the cache before upgrading.
Thanks for your time.

[2021-04-09 13:53] matthieu-rolland commented on #20382
So, we currently don't have this information on our side.

As seen with @matks and @eternoendless , from now on module developers will have to declare the level of compatibility of their module in the code.

I will fetch the information from the module itself, one consequence of this is that the information is only displayed for modules that can be found on the module manager page, not in the cata

[2021-04-09 13:57] NulAsh commented on #23961
For example, you want to reset the configuration of reviews module, but want to keep reviews itself intact. With full reset, first called uninstall() method, then install(). With partial reset, reset() method is called instead. You can see it in some of the standard modules. For example productcomments, ps_mainmenu. Some other third-party modules also can rely on this behaviour.

[2021-04-09 14:30] TinoArts commented on #23815
Hello @florine2623 ,

are you able to actually activate the "G36 / G3" category filter by clicking on it? You should then see only the products from that category.

If that works on your side, could you post the `q` URL params when the filter is active?

Thank you.

[2021-04-09 14:33] MonAssistantNumerique62 opened #23970 "Invalid $number parameter: "" cannot be interpreted as a number"
Hello,

I encounter the following error on PS 1.7.7.2, PHP 7.3 in mutlistore context. The website runs on an OVH "performance" hosting.

"Invalid $number parameter: "" cannot be interpreted as a number

[PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]"

I've read that closed bug report which describe the same problem : https://github.com/PrestaShop/PrestaShop/issues/2210

[2021-04-09 14:48] florine2623 commented on #23970
Hello @MonAssistantNumerique62 ,

Please check your version of PHP : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

You must follow the bug template so that we can test it :
https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md
![Capture d’écran 2021-04-09 à 16 48 06](https://user-images.githubusercontent.com/16019289/114198

[2021-04-09 15:00] florine2623 commented on #23962
Hello @dali-rajab ,

Thanks for your report. I reproduced the issue in PS 1.7.7.3 and develop. So I can confirm that this behavior is indeed a bug.
Overrides are disabled only when the module is Uninstall and not Disabled.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for

[2021-04-09 15:13] #23930 closed, assigned to nobody

[2021-04-09 15:30] khouloudbelguith opened #23972 "BO - Currencies page - The filter currency in not well displayed"
#### Describe the bug

In the BO > International > Localization > Currencies page, the currency filter
This regression is detected by [nightly](https://nightly.prestashop.com/report/1137)
Thanks @boubkerbribri
![image](https://user-images.githubusercontent.com/16067358/114204237-409b7100-9959-11eb-8eca-a0a18f39bc4f.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Inte

[2021-04-09 15:37] khouloudbelguith opened #23973 "BO - Products page - Specific prices - MySQL 8 - The Combination applied to specific price is NOK"
#### Describe the bug

In the BO > Products page, when we try to add a specific price to a combination => the combination selected is NOK
Thanks @nesrineabdmouleh

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog >Products page > Edit a product with combinations
2. In the Pricing tab > Add a specific price
3. Select a combination
4. Set an Impact on price
5. Click o

[2021-04-09 16:03] evgenij-sobolev commented on #20519
Latest version 1.7.7.3
This bug is still not resolved ...

[2021-04-09 17:10] MonAssistantNumerique62 commented on #23970
Sorry... I'm wrong, its PHP 7.3 of course.

[2021-04-09 17:12] AndreyOgleznev opened #23976 "shop email address is not displayed at the Contact Us page"
#### Describe the bug

shop email address cannot be found by a customer among the contacts information

#### Expected behavior

shop email address can be found by a customer

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO Shop parameters ->Contact->Stores page
2. Fill in the Shop email field with a valid email address
3. Save changes
4. Go to FO  Contact Us page and see tha

[2021-04-09 17:19] MonAssistantNumerique62 commented on #23970
#### Describe the bug

I encounter the following error on PS 1.7.7.2, PHP 7.3 in mutlistore context. The website runs on an OVH "performance" hosting.

When trying to display the product list I receive that error :
"Invalid $number parameter: "" cannot be interpreted as a number

[PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]"

I've read a closed bug report which descr

[2021-04-09 17:32] zubco opened #23977 "Hook `actionProductInformationFormBuilderModifier` not triggered."
#### Describe the bug

Since 1.7.6 there is available this hook:
`action<FormName>FormBuilderModifier`
Located in: /src/Core/Form/IdentifiableObject/Builder/FormBuilder.php.
For **majority** of BO forms it **works correctly**. But for **Product** forms it **doesn't**.

#### Expected behavior

It should trigger the hooks for:
actionProductInformationFormBuilderModifier
actionProductQuantityFormBuil

[2021-04-09 20:08] alfonsolr09 commented on #23976
![Captura](https://user-images.githubusercontent.com/62474824/114235171-15784800-9980-11eb-8e04-14e28cc7661f.JPG)
i can´t reproduce your problem...

[2021-04-09 20:30] AndreyOgleznev commented on #23976
Sounds strange. Whatever I do I can't get it to be displayed.

[2021-04-09 20:34] alfonsolr09 commented on #23976
have you try to upgrade to 1.7.7.3??

[2021-04-09 20:35] AndreyOgleznev commented on #23976
Yes, I have. Nothing has changed :(

[2021-04-09 20:59] pmartin-webimpacto commented on #23976
It's the 'classic' theme?

It's on the module: 'ps_contactinfo' configuration:  the switch:  'Show Email Address' active?
![image](https://user-images.githubusercontent.com/16488733/114240027-2b3d3b80-9987-11eb-8ed2-9715d798ee1d.png)

[2021-04-09 22:23] mvorisek opened #23978 "ModuleRepositoryTest has tests without any assertion"
#### Describe the bug

[code]

#### Expected behavior

The tests in `ModuleRepositoryTest` should perform an assertion. If no assertion is perfomed, I think nothing is tested, as assertions are presented in the code.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open any `PHPUnit Tests (With DB) (7.4)` test and check the test results

#### Additional information

* PrestaShop vers

[2021-04-09 23:53] alfonsolr09 commented on #23368
I mean, imagine that a client contacts you through the contact form.
later you call him to clarify a problem, but in the company there are several workers.
I think it is a good option to be able to add a private note.
you tell him by phone that you are going to send him another new article.
you add a private note in that conversation: "on 04/10/2021 we spoke with Antonio via phone call, we have ag

[2021-04-10 00:56] alfonsolr09 opened #23983 "I cannot add a payment with negative value"
#### Describe the bug

I cannot add a payment with negative value

#### Expected behavior

in the version I had before (1.7.6.4) I could add a negative payment to rectify the invoice, now it cannot be

#### Steps to Reproduce

Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/62474824/114252969-55532580-99a8-11eb-8bd9-d3d06ed182c1.png)

#### Additional informatio

[2021-04-10 05:26] AndreyOgleznev commented on #23976
Oh, thank you! the switch: 'Show Email Address' was inactive (default value?).
I enabled it and now the email address is displayed!

[2021-04-10 05:26] #23976 closed, assigned to nobody

[2021-04-10 09:35] zodit commented on #23286
This is due to the same old bug that I notified in Prestashop Forum here:
https://www.prestashop.com/forums/topic/1018396-fixed-customer-reassurance-module-broken-1764-deleted-all-previous-customizations/?do=findComment&comment=3255167

Please, report to the developer to change file: classes/ReassuranceActivity.php on line 190.
Search "getMimeType" and replace with "getMimeTypeByExtension".

In Pr

[2021-04-10 15:01] kevdevfr commented on #13397
Just wanna add, in the same core hacking fashion, it is possible to comment some lines and duplicate without picture

`
            if (!Image::duplicateProductImages($id_product_old, $product->id, $combination_images)) {
                throw new UpdateProductException('An error occurred while copying images.', 5008);
            } else {
                $this->hookDispatcher->dispatchWithParamet

[2021-04-10 16:33] jerryhopper opened #23986 "Fatal: Edit customer address error when no company-name is given."
#### Edit customer address error when no company-name is given.

A customer with no company-name is not able to edit his address.
In the backend, its not possible to edit client-adress.

Type error: Argument 11 passed to PrestaShop\PrestaShop\Core\Domain\Address\QueryResult\EditableCustomerAddress::__construct() must be of the type string, null given, called in /var/www/html/src/Adapter/Address/Qu

[2021-04-10 17:30] arouiadib opened #23987 "Execute some hooks when images are added/removed"
Images is an important topic when merchant has a lot of products, especially if he uses high size images and large image types. In this case, storing them in local drive is not cost effective and not reliabe.

Using cloud storage services (like Azure or S3 to name of few) is a good solution.They also improve performance by offloading web server from image requests.

Also migrating to another host

[2021-04-10 20:46] nikos83 opened #23988 "Wrong characters encoding on Order view and Address view grid"
#### Wrong characters encoding on Orders View and Addresses View

After upgrade from 1.7.5 to 1.7.7.2 I have wrong characters encoding on Orders page ana also on Addresses page. The problem is only with grid view on for example Orders or Addresses pages - when I go to the selected Address - or try to edit the characters are correct there.

#### It should correctly encode UTF8 characters

Grid view

[2021-04-11 07:53] MonAssistantNumerique62 commented on #23970
To complete that bug report : I've restored a backup of my database. The product list is displayed successfully, but it crashed when ordering the list by available quantities. After that it crashed each time...

[2021-04-11 13:08] pietpetoors commented on #22215
I upgraded my Presta to 1.7.7.3 and everything was working fine for 2 days after the upgrade.

I encountered this same problem after installing and using the [Additional Product Attributes module](https://addons.prestashop.com/en/combinaisons-customization/30960-additional-product-attributes-custom-product-fields.html).

[2021-04-11 14:43] darkf3d3 opened #23989 "Accidentally change product order quantity when swipe on touchspin"
When using Prestashop on smartphone/tablet or any other device with touchscreen.
If while you're on cart page you scroll the page swiping finger on the touchspin "+" and "-" the product quantity will change, like if you clicked on it.
This can cause to accidentally change product quantity.

I think that "+" and "-" button should increase (or decrease) product quantity only when you click on it, an

[2021-04-11 18:51] alfonsolr09 opened #23990 "sort subject in contact form"
#### Describe the bug

There should be an option to sort the issues on the contact page. they are currently arranged alphabetically

**Screenshots**

![image](https://user-images.githubusercontent.com/62474824/114317239-6bc3c300-9b07-11eb-964b-47492cf4f559.png)
![Captura](https://user-images.githubusercontent.com/62474824/114317264-8302b080-9b07-11eb-85da-941e2463f9bd.JPG)

#### Additional informa

[2021-04-11 19:27] PululuK commented on #23990
Hi @alfonsolr09

Yes this is because currently we use the `name` to order the list of contacts. See https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Contact.php#L97

@PrestaShop/product-team I suggest :

- Add `position` field  : Ability to order manually the contacts list in BO.
- Add `status` field : Ability to enable/disable a contact.

Thanks

[2021-04-12 04:55] lazyfubia opened #23993 "PAYMENTS"
#### Describe the bug

#### Expected behavior

#### Steps to Reproduce
pay with direct debit sepa, I do not have this active module and continues to appear at the end, and stopped giving the payment for paypal

**Screenshots**
https://prnt.sc/11aasyq

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.7.3
* PHP

[2021-04-12 06:57] sarahdib commented on #23978
Hello @mvorisek,

Thank you for this report.

@PrestaShop/prestashop-core-developers this is a technical issue could you check please :)

Thank you

[2021-04-12 06:58] Progi1984 commented on #23401
Fixed by #23819

[2021-04-12 06:58] #23401 closed, assigned to atomiix

[2021-04-12 07:33] sarahdib commented on #23983
Hello @alfonsolr09
Thank you for this report.

@PrestaShop/product-team what do you think about this issue ? Is it an improvement to not allow negative value ? Thank you

[2021-04-12 07:34] amanv8060 commented on #23888
reconfiguring the analytics module

[2021-04-12 07:40] alfonsolr09 commented on #23983
in previous versions you could enter a negative value. Like 1.7.6.4

[2021-04-12 07:44] sarahdib commented on #23983
@alfonsolr09 in the new version this page is migrated, so the previous behavior might be a bug. We need to check with product team what is the right behavior.

Thank you

[2021-04-12 07:51] sarahdib commented on #23986
Hello @jerryhopper,

I do not reproduce this issue.
I activate B2B
Create a customer (FO and BO)
Add addresses (FO and BO)
Try to edit the addresses (From BO and FO)

Maybe there is a step missing ?

Thank you

[2021-04-12 08:01] marionf commented on #23983
@MatShir

[2021-04-12 08:02] alfonsolr09 commented on #23983
imagine that you make a return of a transfer, you should be able to put a negative value

[2021-04-12 08:04] sarahdib commented on #23983
You need to do a refund using the partial refund

[2021-04-12 08:20] sarahdib commented on #23989
Hello @darfk3d3,

Thank you for this report.

I was able to reproduce the issue with PrestaShop version 1.7.7.3, so I can confirm that this behavior is indeed a bug.

[2021-04-12 09:00] khouloudbelguith opened #23996 "BO - Experimental Feature - The help modal cannot be opened"
#### Describe the bug

If this PR: https://github.com/PrestaShop/PrestaShop/pull/23703 is merged, a new BO page Experimental Feature is displayed, in this page, the help modal cannot be opened.
As discussed with @matks,` it makes sense! this is a new BO page, so there is no related help page on help.prestashop.com`

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced

[2021-04-12 09:11] matks opened #23997 "[Add support for experimental features] Introduce Feature Flag basic data model"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

 Introduce Feature Flag basic data model following https://github.com/PrestaShop/PrestaShop/issues/23235#issuecomment-797447753

[2021-04-12 09:12] #23997 closed, assigned to matks

[2021-04-12 09:12] matks commented on #23997
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23650

[2021-04-12 09:14] matks opened #23998 "[Add support for experimental features] Create new Back Office page to allow merchant to modify the feature flag states"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

Create new Back Office page to allow merchant to modify the feature flag states following https://github.com/PrestaShop/PrestaShop/issues/23235

[2021-04-12 09:14] matks commented on #23998
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23703

[2021-04-12 09:14] #23998 closed, assigned to matks

[2021-04-12 09:23] matks opened #23999 "[Add support for experimental features] Handle Product Page V2 flag setup"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

### Handle Product Page V2 flag setup at install

AS a merchant
WHEN I Install PrestaShop 1.7.8
AND I open the Back Office 'Experimental Features' BO page after the install

[2021-04-12 09:28] matks opened #24000 "[Add support for experimental features] Make sure Handle Product Page V2 flag is translatable"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

The Product Page flag will be loaded after https://github.com/PrestaShop/PrestaShop/issues/23999 is implemented.

**We need to make sure we can translate this flag name (a.

[2021-04-12 09:36] PrestaShark commented on #14516
Guys.... its over two years and nothing was happend here https://github.com/PrestaShop/PrestaShop/issues/16295

Catalog price priority shoud be over (on top) of specific prices of single products because they are not usable right now.

**Example**
I have 500 products in catalog, 2/3 of them have set specific prices from 15 to 40% discounts.
I want to set catalog rule to cover whole site with 50% d

[2021-04-12 09:37] #23972 closed, assigned to PierreRambaud

[2021-04-12 09:40] matks opened #24001 "[Add support for experimental features] Implement Product Page V2 flag behavior"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

Following the introduction of the [Product Page V2 flag](https://github.com/PrestaShop/PrestaShop/issues/23999) BO users will be able to enable/disable the flag from the Ba

[2021-04-12 09:42] sarahdib commented on #23993
Hello @lazyfubia,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Tha

[2021-04-12 09:42] #23993 closed, assigned to nobody

[2021-04-12 09:48] matks opened #24002 "[Add support for experimental features] Improve the confirmation modal behavior on Experimental Feature page"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

There is a confirmation modal that opens when you modify the BO Experimental Features page buttons.

## Stories

#### Scenario Y1: show the confirmation modal if flags were

[2021-04-12 10:03] matks opened #24003 "[Add support for experimental features] Improve feature flag database structure"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

Some suggestions in https://github.com/PrestaShop/PrestaShop/pull/23703 were about the `state` database field. It could be renamed to something better to highlight the bool

[2021-04-12 10:23] khouloudbelguith commented on #18715
Hi!

This issue still exists with PrestaShop v1.7.8.0 (develop branch).
![image](https://user-images.githubusercontent.com/16067358/114379981-d0276680-9b89-11eb-8c04-491605b149d8.png)
I will re-open the issue.

Thanks!

[2021-04-12 11:04] N-Wouda opened #24007 "Should update all Order fields from webservice before sending order status mail"
#### Describe the bug

When updating fields including the current order status via the webservice, emails are sent before all other fields have been updated. This means it is not possible to e.g. use the shipping number in shipping emails (via the `actionGetExtraMailTemplateVars` hook), because that shipping number is not yet available on the order/in the database.

#### Expected behavior

An emai

[2021-04-12 11:08] N-Wouda commented on #24007
In a sense, too, sending an email in the current_state setter is a somewhat unexpected side effect. It might be better to refactor this to the `update` or `add` methods. I'd expect those to do such work.

[2021-04-12 11:19] N-Wouda commented on #24007
Might relate to #13912, but not sure.

[2021-04-12 11:22] sarahdib commented on #23286
Hello @zodit

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.

If this issue is important to you and you cannot wait for it to be fixed on the project’s own time. If you manage to get the problem fixed, then please contribute the fix back to the project as a Pull Request. Remember that the more people contribute, the better Pres

[2021-04-12 11:55] sarahdib commented on #24007
@N-Wouda

Thanks for the report.

I think this problem is the same as #13802 there is no email sent using Webservice API/

Could you check and feedback ?

Thank you

[2021-04-12 11:57] sarahdib commented on #23977
Hello @zubco

Could you send us a module in order to try to reproduce this issue ?

Thank you :)

[2021-04-12 12:03] N-Wouda commented on #24007
@sarahdib thanks for your response! As far as I can see that one is unrelated.

In this issue, an email is sent (when the order status is updated), but the email is sent before the rest of the order update is processed completely (for example, a new invoice date or tracking number have not yet been set). That means the information sent via the order status update email is incomplete, or wrong.

In

[2021-04-12 12:34] marionf commented on #20519
Hello @evgenij-sobolev

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please

[2021-04-12 12:35] marionf commented on #23957
@florine2623 Is it a regression of the 1.7.7.0 ?

[2021-04-12 12:49] matthieu-rolland opened #24008 "Use a map object in multistore header javascript"
We added a map object file for js components in the PR for multistore dropdown, we should use it for multistore header too. So the task is too:

1 - Improve `admin-dev/themes/new-theme/js/components/components-map.js`
2- Use it in `admin-dev/themes/new-theme/js/components/multistore-header.js`

[2021-04-12 13:03] khouloudbelguith commented on #9893
Hi!

The stocks menu is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/18082

Thank you!

[2021-04-12 13:06] Progi1984 commented on #23941
Fixed by PrestaShop/ps_wirepayment#62

[2021-04-12 13:06] #23941 closed, assigned to nobody

[2021-04-12 13:06] #19397 closed, assigned to matks

[2021-04-12 13:08] zodit commented on #23286
Hello @sarahdib

I also reported in Github (In forum there are the 2 links). Today i see that one is merged to the other, and matks mentioned 2 pull requests for this bug (55 and 56), here is the comment https://github.com/PrestaShop/PrestaShop/issues/20254#issuecomment-678090725

You intervened on that issue on november 2020, but I think this had no successful validation yet.
The two approaches a

[2021-04-12 13:11] matks commented on #9972
Hi @elboletaire today I found a tweet that unfortunately explains very well what happened. It was written by Adam Wathan, creator of Tailwind

https://twitter.com/adamwathan/status/1381275398646927362?s=19

"One of the most stressful parts of product development (especially open source) is when people are frustrated you haven’t made the improvement they want and automatically attribute it to compl

[2021-04-12 13:19] matks commented on #20333
Hi I reopen this issue as this is very important to do although it will probably be implemented only in 2022 when work on PrestaShop 8.0.0 starts.

[2021-04-12 13:25] marionf commented on #23983
It's not a regression and is a wanted behavior, we will study it later

[2021-04-12 13:29] marionf commented on #22580
@khouloudbelguith Could you tell us if you still have this issue on 1.7.7.3 ?

[2021-04-12 13:43] matks commented on #23999
@eternoendless I can implement this simply using a `INSERT INTO` but is that a satisfying implementation?

[2021-04-12 13:47] sarahdib commented on #23987
@PrestaShop/prestashop-core-developers could you check this improvement ?

Thank you :)

[2021-04-12 13:54] marionf opened #24010 "The "Link Widget" in the menu can't be translated"
#### Describe the bug

The "Link Widget" in the menu can't be translated

#### Expected behavior

"Link Widget" menu should be available under Admin.Navigation.Menu to be translated
In order to be translatable, this tab must be recorded in the database with the corresponding translation wording and translation domain. The fix must be done in the module itself.

#### Steps to Reproduce

Steps to re

[2021-04-12 13:55] marionf commented on #9893
I just created an issue for link widget: https://github.com/PrestaShop/PrestaShop/issues/24010
This way, we can close this issue as soon as the PR #18082 is merged

[2021-04-12 14:08] alfonsolr09 commented on #23983
in version 1.7.6.4 when you make a partial refund, a negative payment is not generated

[2021-04-12 14:19] #23604 closed, assigned to atomiix

[2021-04-12 14:37] eternoendless commented on #24010
Fixed by https://github.com/PrestaShop/ps_linklist/pull/116

[2021-04-12 14:55] eternoendless commented on #23999
You could, but is it the best implementation? We probably should be moving towards [Doctrine fixtures](https://symfony.com/doc/current/bundles/DoctrineFixturesBundle/index.html), right?

[2021-04-12 14:58] #23344 closed, assigned to sowbiba, JevgenijVisockij

[2021-04-12 15:04] MatShir commented on #22026
Already fixed https://github.com/PrestaShop/PrestaShop/pull/21977

[2021-04-12 15:04] matks commented on #23999
@eternoendless Doctrine fixtures provide a standardized way to load a specific data set, but actually we have the following usecases:

1. Load Product Page V2 Feature flat for 1.7.8 install
=> can be done using Doctrine fixtures

2. Remove the flag in 1.7.9
=> cannot be done using Doctrine fixtures

3. Load Product Page V2 Feature flat for 1.7.x -> 1.7.8 upgrade (x < 8)
=> can be done using Doctri

[2021-04-12 15:09] eternoendless commented on #23999
I'm under the impression that currently there's no system to run SQL queries during install.

[2021-04-12 15:11] matks commented on #23999
@eternoendless there is one ... 😅

https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/db_structure.sql

[2021-04-12 15:38] Progi1984 commented on #23775
@PululuK I reopen the issue as the design needs to be fixed.

[2021-04-12 15:40] MatShir commented on #23983
If the customer has already paid, it is strongly recommended doing a credit slip. If it is not already paid you can edit the order with the right amount.
Maybe you would like an amount to be saved in the payment tab related to credit slip ? In that case, it is more a feature request

[2021-04-12 15:43] chrisvanberg commented on #23873
Hi,

I'm experiencing the same problem on one of our PrestaShop. It's impossible to access an order while the browser is waiting for the AdminStats.

@guigplt have you found any solution ?

If I find any useful information/solution, I'll post it there.

[2021-04-12 16:05] zubco commented on #23977
Hello @sarahdib,

[Here](https://github.com/PrestaShop/PrestaShop/files/6298071/aa_product_information_test.zip) you can find a zipped test module.
With one example of a not triggered `actionProductInformationFormBuilderModifier` hook.
And a second example with `actionCategoryFormBuilderModifier` hook, that is not related to Product and works just fine.

[2021-04-12 16:23] chrisvanberg commented on #23873
Hi,

It seems (for us) that the problem was caused by a massive `ps_connections` table (+2.000.000 row). After a deletion of the rows, the speed of the order page was a lot faster than before.

I hope this could help !

[2021-04-12 16:58] GFcreative opened #24018 "Can't update store address in invoice header - Version 1.7.5.0"
My client wanted me to update the address for his store in his invoices. I went into the Shop Parameters > Contact > Stores and edited his info. It's been. few days and the old address is still appearing on new invoices. I can't find the address anywhere else.

Does anyone have a workaround? Thanks!

[2021-04-12 17:10] #9762 closed, assigned to eternoendless

[2021-04-12 17:10] #9893 closed, assigned to nobody

[2021-04-12 19:29] matks commented on #9729
Hi @khouloudbelguith the message "Veuillez renseigner ce champ" is being put there by the browser, not by PrestaShop

<img width="495" alt="Capture d’écran 2021-04-12 à 21 27 32" src="https://user-images.githubusercontent.com/3830050/114450223-0a1e5a00-9bd6-11eb-8b04-e9706800fe7f.png">

This is not something PrestaShop can control. It's browser settings.

I close this issue as it's not a bug fro

[2021-04-12 19:29] #9729 closed, assigned to nobody

[2021-04-12 23:07] msaustral opened #24020 "No combination reference on invoice PDF or order history -> detail -> order detail"
Hi when you work with combination and buy one, on the invoice PDF you get the base product reference and not the combination reference that you bought.

![image](https://user-images.githubusercontent.com/46203943/114470922-b43db800-9bbd-11eb-8a28-e8825c8d9332.png)

Same happen on customer -> order history -> details -> order details

![image](https://user-images.githubusercontent.com/46203943/1144

[2021-04-12 23:42] alfonsolr09 commented on #23983
No, Imagine that a customer buys 2 items and makes the payment by bank transfer.
 You add a proof of payment of € 50 (total cost of the two items). But it turns out that the customer wants to return an item item. You generate a partial refund but a negative proof of payment is not added. You will continue to see that the client has paid  50€ and a negative transfer return receipt will never appear

[2021-04-13 08:07] matks commented on #24001
@Julievrz Summary of items for which I need wordings and domains

- Add new product button

![Capture d’écran 2021-04-13 à 10 03 11](https://user-images.githubusercontent.com/3830050/114518633-da0ba100-9c3f-11eb-8e2f-301c9a25e293.png)

- Edit button from listing

![Capture d’écran 2021-04-13 à 10 02 46](https://user-images.githubusercontent.com/3830050/114518674-e42d9f80-9c3f-11eb-9da7-3d33d5b

[2021-04-13 08:22] matks commented on #14516
Hi @PrestaShark I have read a very accurate answer 2 days ago on Twitter: https://twitter.com/adamwathan/status/1381275398646927362

_"One of the most stressful parts of product development (especially open source) is when people are frustrated you haven’t made the improvement they want and automatically attribute it to complacency or ignoring the community instead of just being completely buried

[2021-04-13 08:28] #18273 closed, assigned to Progi1984

[2021-04-13 08:28] lolath-presta opened #24021 "[blockwishlist] No images available for my favorite products for blockwishlist v2 and 1.7.6"
#### Describe the bug

When I add products to my wishlist and then go to the favorites list, my products are displayed but the product image is missing.

#### Expected behavior

I should have the product image displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the front office,
2. Click on the heart either directly on the product block or in the product sheet to add the

[2021-04-13 08:34] beyondsagency commented on #15075
Still not working on 1.7.7.0

Controllers string is only available when I choose "Classic" thème and not the new theme

[2021-04-13 08:36] mrjcgoodwin commented on #21906
Hi @laurentmacca did you resolve this issue. We have the exact same problem with both 1.7.7.2 and 1.7.7.3.

Everything installs ok, but it's not possible to clear cache, change theme or save some settings in the performance screen without first getting an error 500 screen. Clicking reload clears the error and everything proceeds as normal but I cannot stop the 500 errors.

I have tried manually cl

[2021-04-13 08:49] beyondsagency commented on #15075
Classic theme :
<img width="1086" alt="Capture d’écran 2021-04-13 à 10 41 49" src="https://user-images.githubusercontent.com/39243750/114524823-d67b1880-9c45-11eb-9818-0f2786215d0c.png">

New theme :
<img width="1054" alt="Capture d’écran 2021-04-13 à 10 48 39" src="https://user-images.githubusercontent.com/39243750/114524828-d844dc00-9c45-11eb-9156-d0bbd15a94e1.png">

[2021-04-13 09:00] NeOMakinG commented on #24021
@PrestaShop/prestashop-maintainers

@kpodemski I remember you worked on this, what you've done is not working in production sometime, I need a backend dev to looks at it in order to provide the right image to the front-end! Hope someone can take this :)

[2021-04-13 09:03] eternoendless commented on #23999
That one is meant to create tables, not insert data.

But not all is lost. There is a mythical feature I have heard about in songs. A mighty code that can save us, forged aeons ago, hidden in the deepest corner of the install source by the First Committers. For generations, it has been waiting for the Worthy One to find it, and use it to deliver us from the tyranny of the Fixtures. You have to fin

[2021-04-13 09:20] jerryhopper commented on #23986
Hello Sarahdib.

I must admit this happened with a modified 'classic' theme.
After testing with a fresh-demoshop, switching to the original 'classic' theme - and clearing the cache - everything worked as expected.

thanks for your time.

[2021-04-13 09:20] #23986 closed, assigned to nobody

[2021-04-13 09:36] matks opened #24023 "Commands prestashop:update:sql-upgrade-file-hooks-listing and prestashop:update:configuration-file-hooks-listing broken on develop"
#### Describe the bug

CLI commands prestashop:update:sql-upgrade-file-hooks-listing and prestashop:update:configuration-file-hooks-listing broken on `develop` . When they are run, an error message is output.

#### Expected behavior

When commands are run, no error message.

#### Steps to Reproduce

1. Install PrestaShop using `develop` branch
2. Run `php bin/console prestashop:update:configuratio

[2021-04-13 09:40] eternoendless commented on #15075
@beyondsagency This will be clarified in 1.7.8. Core wordings (currently editable by choosing "classic") will be editable using "Core translations" and independent of the chosen theme. When editing the theme you will only see the wordings belonging to the theme's own translation domain.

[2021-04-13 09:44] szykuc commented on #9901
The bug still exists in 1.7.7.0

[2021-04-13 10:18] khouloudbelguith commented on #22580
Hi @marionf,

Yes, I manage to reproduce the issue with PS1773.
I attached a screen record
https://drive.google.com/file/d/1rmugdKjv48NKAAovy5wWuIYrTjDn0n9v/view?usp=sharing

Thank you!

[2021-04-13 10:27] lucastes commented on #14516
Temporary solution - works for me (PS 1.7.6):
1. copy file `/classes/SpecificPrice.php`
2. edit the file, go to line 556 and change ",**` id_specific_price_rule` ASC" -> ` id_specific_price_rule` DESC**

**BEFORE**
$ query. = 'ORDER BY `id_product_attribute` DESC,` id_cart` DESC, `from_quantity` DESC,` id_specific_price_rule` **ASC**, `score` DESC,` to` DESC, `from` DESC';

**AFTER**
$ query. = 'O

[2021-04-13 11:21] isaacrj commented on #20949
Hi again, we have looked into this issue and we have run tests in all of the PrestaShop installations that we manage.
We have been able to reproduce the bug in some of them, while others just work ok.

We have found that the bug manifests itself on those installations where running the query
[code]
returns results that are NOT ordered by its primary key.

Is it possible that there is an "ORDER BY

[2021-04-13 12:26] marionf commented on #9901
Hello,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contribute the

[2021-04-13 12:27] redactuk commented on #22758
Did you find any solution for this?

We are now locked out of upgrading to PrestaShop 1.7.7.3 because hosting provider tells us ICU v4.2.1 can't be upgraded on PHP 7.3 and PS is not yet compatible with PHP 7.4! What are we supposed to do?

[2021-04-13 12:30] sarahdib commented on #24023
@matks is it a regression ?

[2021-04-13 12:31] matks commented on #24023
@sarahdib Yes unfortunately.

I am working on the fix 😄

[2021-04-13 12:39] redactuk commented on #22300
@matks

Our hosting provider has informed us:

PHP 7.3
======
ICU version => 4.2.1
ICU TZData version => 2009j
ICU Unicode version => 5.1

PHP 7.4
======
ICU version => 68.2
ICU Data version => 68.2
ICU TZData version => 2020d
ICU Unicode version => 13.0

and that ICU can't be changed for PHP 7.3. So what are we supposed to do?

[2021-04-13 12:48] matks commented on #22300
Hi @redactuk you have multiple roads ahead of you.

1. You can change hosting provider. I might be wrong but if I read it correctly

This indicates this ICU component uses data from 2009 while the year is 2021? If yes it's _very_ outdated then so your hosting provider is telling you that you can only have a php7.3 version with 2009 settings 😅  ? However I am not expert in such things, maybe it wou

[2021-04-13 12:57] marionf opened #24029 "Survey for community - Share your feedback"
Hello,

The core product team is currently carrying out a survey oriented around the open-source project for the community.
If you have already contributed to the open-source project, in any way (pull request, bug report, the suggestion of new features, participation in translations) then this survey is for you: https://forms-prestashop.typeform.com/to/rHr7tHII

We look forward to your responses,

[2021-04-13 13:14] redactuk commented on #22300
@matks

Thank you for reply. I found the following thread on your forums with a suggested fix, which appears to work!
https://www.prestashop.com/forums/topic/1027541-cannot-login-to-my-shop-backend/

Can you comment on this? I mean if that fixes issue without any side effects, should this not be a PR?

[2021-04-13 13:37] #23763 closed, assigned to sowbiba

[2021-04-13 14:11] florine2623 commented on #23873
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/18956 and fixed in 1.7.7

[2021-04-13 14:20] 8ternity opened #24031 "PS 1.7.5.X Eco-Tax added into the product price, must be separated of the product amount on another line"
**EDIT:** The eco-tax has been charged, but included into the product itself. Which is not correct.

When a customer has process an order of a product with a eco-fee (eco-tax), the eco-tax must be separated from the product into another line.

In Quebec and Canada, eco-tax and environmental fee must be separated from the product itself. Otherwise the government ask to fix all invoices to be correc

[2021-04-13 14:36] matthieu-rolland commented on #19493
Here are the list of issues I dealt with in a single PR (this issue is one of them)

#19410 #19413 #19414 #19416 #19421 #19422 #19423 #19492 #19494 #19493

I dealt with all these issues in this PR: #24032

[2021-04-13 14:51] 8ternity commented on #24031
I update the title. The eco-tax was charged but added into the product price which is wrong. Governement taxes, eco-fee and environmental fees must be on a separate line has a another product reference (could be ecotax).

[2021-04-13 14:56] SD1982 opened #24033 "BO - Order / Impossible to make partial refund if the product has more than 9 unit"
#### Describe the bug
In a order If a product have more than 9 unit it's not possible to set an amount of product for a partial refund

#### Expected behavior

we must be able to make a refund regardless of the number of products

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and make an order with 15 units of the same product
2. Go to BO and try to make a partial refund f

[2021-04-13 15:08] guigplt commented on #23873
Hi @chrisvanberg,

Thanks for the tip, I have deleted ps_connections rows and the order page speed is much better !

I already noticed slow loadings in the past caused by the massive size of this table, but since few months we have routine that keeps only last 30 days data in ps_connections, ps_connections_source and ps_guest tables.

I will reduce the number of days stored in these tables.

[2021-04-13 15:17] Julievrz commented on #24001
@matks Here is my suggestion:

Add new product button:

‘New product’ in Admin.Catalog.Feature => This wording already exists in Admin.Actions but I created a new one with a new domain so that the two strings can be translated differently if needed.

As discussed with Pablo and Mateus, we can use the “science” icon instead of the “+”.
To make sure it is clear enough for the user, a message appears

[2021-04-13 15:18] chrisvanberg commented on #23873
@guigplt Happy that I could help!

We have a similar routine but the Bingbot is crawling the website like crazy. It generates +53.000 connections in 24h which is problematic. However, this is another problem.

Can't wait to update to 1.7.7 to use the new order page.

[2021-04-13 15:47] chrisvanberg commented on #19227
Hello,

We had the same problem by updating the addon with the "Upgrade" button.
From v2.1.1 -> v2.3.0.

All the french translations disappeared and I was not able to find the supposed translation on Github or Crowdin to manually update it.

PS 1.7.6.4
PHP 7.3

[2021-04-13 16:19] Renrhaf commented on #20505
Same here, used workaround from https://github.com/PrestaShop/PrestaShop/issues/20505#issuecomment-805884349 and https://github.com/PrestaShop/PrestaShop/issues/20505#issuecomment-738790230

[2021-04-13 16:32] Julievrz commented on #23999
### Name of the page:

‘Experimental Features’ in Admin.Navigation.Menu

### Name of the section:

‘Experimental features’ in Admin.Advparameters.Feature

Label (A)

‘Experimental product page’ in Admin.Advparameters.Feature for https://github.com/PrestaShop/PrestaShop/issues/23999

Help text (B)

‘This page is a work in progress. It includes new combination management features and other features

[2021-04-13 16:41] matks commented on #22697
Hi @pkirk thanks for telling us !

The guide is open source you can contribute to it on https://github.com/prestashop/docs . Would it be possible for you to submit a contribution ? that would credit you 🎉

[2021-04-13 18:56] Blaaszkovsky opened #24036 "Product customization file can’t be downloaded if the customization label field contains a dot"
#### Describe the bug

If the field title contains a "dot", then Presta in the order cannot generate the appropriate link with the photo to download - https://blachucik.pl/s/8M9xv.jpg

#### Expected behavior
When I changed the field name so that it did not contain a "dot" then everything returns to normal. The link correctly generates a photo for download. An error is returned in debug mode.

####

[2021-04-13 19:53] isaacrj commented on #23973
Hi, We manage quite a few PS installations and we have had this issue on some of them for months. See #20949
We have notices that the installations that fail are those where the query
[code]
returns its results NOT ordered by its primary key (id_product_attribute)

Just my 2 cents, in case that there is a query somewhere missing an ORDER BY id_product_attribute.

[2021-04-13 20:19] matks commented on #23999
PR https://github.com/PrestaShop/PrestaShop/pull/24037

[2021-04-13 20:20] #24031 closed, assigned to nobody

[2021-04-13 20:21] 8ternity commented on #24031
After verifiy the practicle, it's okay to have the eco-tax included into the price of the product. Its just the percentage amount of the tax for the eco-tax that is confusing customer. Should remove the percetage amount on the tax line.

[2021-04-13 21:05] matks commented on #24001
@Julievrz I'm sorry I forgot 1 wording.

On the BO Page V1, which is the current Product Page, we have a button that enables merchant to _go back to V1 page_. So the usecase is "I enable Experimental Product Page, I open the Experimental Product Page and now I wish to go back to V1 page from where I am."

<img width="363" alt="Capture d’écran 2021-04-13 à 22 55 54" src="https://user-images.githu

[2021-04-13 22:13] mvorisek commented on #15570
During integration tests, the database is fully "restored" (dropped and recreated) dozen of times, see list below of measured times taken to restore the DB for one integration suite run:

[code]

which is 5.7 minutes in total. Related with  https://github.com/PrestaShop/PrestaShop/pull/23935 - we probably want to use native solution and restore only changed tables at least.

[2021-04-14 01:49] kpodemski commented on #24021
@NeOMakinG we have to find a way to reproduce it on my side, then I'll be happy to help, you can reach me on Slack 👍🏻

[2021-04-14 07:58] khouloudbelguith commented on #18715
Hi @Julievrz,

What do you think?
Is it a wording issue?

Thank you!

[2021-04-14 08:12] alevazke opened #24039 "Cierre de Sesión - Backoffice ( Login Admin Loop) - Prestashop 1.6.1.5"
Buenos días,
Estoy usando: Prestashop, 1.6.1.5, y me he dado cuenta, que al entrar en el listado de módulos, y clicar sobre "Configurar", "Desactivar" u otra función en dicho listado. Prestashop me cierra automáticamente la sesión, haciendo imposible que pueda configurar nada dentro de Prestashop.
Hace tiempo, realicé la migración de prestashop hacia este hosting, pero el error lo hemos detectado

[2021-04-14 08:40] florine2623 commented on #24039
Hello @alevazke ,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep i

[2021-04-14 08:40] #24039 closed, assigned to nobody

[2021-04-14 08:47] florine2623 commented on #24018
Hello @GFcreative ,

I can't reproduce your issue in PS 1.7.7.3.
Invoice before :
![Capture d’écran 2021-04-14 à 10 46 09](https://user-images.githubusercontent.com/16019289/114681718-b5cac580-9d0e-11eb-80d3-85c6876b95e2.png)
Changes made :
![Capture d’écran 2021-04-14 à 10 45 50](https://user-images.githubusercontent.com/16019289/114681727-b82d1f80-9d0e-11eb-8051-16acaa3e0a2f.png)
Invoice Res

[2021-04-14 08:47] #24018 closed, assigned to nobody

[2021-04-14 08:57] Slews commented on #14414
Is there any plan to fix this issue soon ?
It makes no sense to keep this form if it does not work at all. At least, it should be removed.

[2021-04-14 09:00] #24020 closed, assigned to nobody

[2021-04-14 09:40] matthieu-rolland opened #24041 "Multistore dropdown not displayed when only parent group has been customized"
#### Describe the bug

After discussion with @Robin-Fischer-PS  and @marionf we realized that two behaviors are not correct in the current multistore dropdown implementation:

1/ Today the multistore dropdown is not displayed if no shop has overridden the configuration value, even if their parent group shop have customized values: it should displayed in this case.

2/When the configuration value h

[2021-04-14 10:01] tom75 commented on #23917
Well - still not possible to connect the stripe module with the stripe service - as it seems to try to use only / on that server - therefore, this needs to be changed then within the module or stripe or whereever - could you please try to find someone who is interested to fix that - as mentioned it is now not possible to have stripe connected for payments in prestashop

[2021-04-14 11:32] #19410 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19413 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19414 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19421 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19422 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19423 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19492 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19494 closed, assigned to matthieu-rolland

[2021-04-14 11:32] #19493 closed, assigned to matthieu-rolland

[2021-04-14 12:01] redactuk commented on #18060
@ioweb-gr

Did you find a solution for this? we are running 1.7.7.3 and taking 14 seconds to load main BO Orders screen

[2021-04-14 12:51] marionf opened #24043 "Multistore - Shop Parameters > General > Maintenance - Display specific settings dropdown in a group context"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#specific-settings-drop-down

[2021-04-14 12:54] florine2623 commented on #24036
Hello @Blaaszkovsky ,
I was able to reproduce the issue with PrestaShop version 1.7.7.3, so I can confirm that this behavior is indeed a bug.

I attach a screen record of the issue : https://drive.google.com/file/d/1EOPxhdadw8FSIIdj948aa9LzVuSiLM30/view

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important

[2021-04-14 13:02] florine2623 commented on #23749
Hello,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-14 13:02] #23749 closed, assigned to nobody

[2021-04-14 13:17] florine2623 commented on #23772
Hello @herverenault ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-14 13:17] #23772 closed, assigned to nobody

[2021-04-14 13:22] florine2623 commented on #23686
Hello @dpodwaln ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-14 13:22] #23686 closed, assigned to nobody

[2021-04-14 13:26] florine2623 commented on #19121
Hello @nataliatebar ,
Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-14 13:26] #19121 closed, assigned to nobody

[2021-04-14 13:26] GFcreative commented on #24018
In the stores I updated my client's address to a new one. It appears in the contact section and the footer of the site. Yet if I go to any new order and view the invoice it still has the old address. I can't figure out where to switch this. I even cleared the site's cache.

[2021-04-14 13:30] florine2623 commented on #23957
Hello @marionf ,
After the change of Order Page in 1.7.7, the display is different.
I don't know if this is considered a regression of a new bug.

[2021-04-14 13:32] florine2623 commented on #23949
Ok, noted !

Could you provide the steps to reproduce the issue please ?

Thanks !

[2021-04-14 13:32] ghost opened #24044 "slow queries in PS 1.7.7.2"
#### Describe the bug

From time to time we encounter some strange behavior..
Mostly the following query slows down our machine (8 cores, 64GB RAM):

`
SELECT p.id_product
FROM (SELECT p.id_product, p.id_manufacturer, SUM(sa.quantity) as quantity, p.condition, p.weight, p.price, psales.quantity as sales, cp.position
FROM ps_product p LEFT JOIN ps_product_attribute pa ON (p.id_product = pa.id_produ

[2021-04-14 13:34] florine2623 commented on #23888
I close your issue as this is fixed.

[2021-04-14 13:34] #23888 closed, assigned to nobody

[2021-04-14 13:34] marionf commented on #23957
@MatShir Could you check if it's a wanted behavior of a regression of the new order page ?

[2021-04-14 13:34] Progi1984 commented on #23733
Fixed by #24017

[2021-04-14 13:34] #23733 closed, assigned to atomiix

[2021-04-14 13:37] marionf commented on #14414
Hello,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contribute the

[2021-04-14 13:44] florine2623 commented on #23970
The issue is fixed in PS 1.7.7.3 : https://github.com/PrestaShop/PrestaShop/issues/23376

[2021-04-14 13:45] ioweb-gr commented on #18060
@redactuk as you can see above, the issue exists, they planned to fix it by migrating the legacy code but as you said it's not fixed. Moreover the issue was closed although the issue still exists. Unfortunately we can't access orders page at all due to the amount of orders being over 200.000. The page times out completely for us even 30 minutes later. I wish I could help but...

[2021-04-14 13:51] atomiix commented on #23824
@khouloudbelguith I think it depends on the order you perform all these operations. I've been able to reproduce the "bug" but that was because in "All shops" context, the `Behavior when out of stock` was set to `Deny orders`. As soon as I changed it to `Use default behavior` it worked. Can you check if it's the same on your side?

[2021-04-14 14:20] jf-viguier commented on #23733
Thanks @atomiix

[2021-04-14 14:21] KestasL commented on #23949
@florine2623

I found this error on some Prestashop version 1.7.7.3 ( where was not patched) and my system throw an exception when trying to access to array value function return. But when the address not set ($id_address) this function return false (boolean type).
As mentioned in the function comments this function should return an array:
[code]
as an example of usage in FrontController.php (line

[2021-04-14 14:24] TBurtin commented on #23973
We have the issue on a site, using MySQL 8.0 version.

With the same site with MyµQL 5.7, no issue.

Maybe a difference with order by default on Mysql 8 ?

[2021-04-14 14:24] redactuk commented on #18060
@ioweb-gr

What I did today was take the query generated on the new orders window and run it in phpMyAdmin and replicate the 14 seconds it takes to run, then modify that query to run in just 1.5 seconds. The modification that seemed to massively reduce the times was removing INNER JOIN ps_country and instead changing the INNER JOIN ps_country_lang cl ON c.id_country to a LEFT JOIN ps_country_lang

[2021-04-14 14:27] 0dp opened #24047 "Image manager soft crop/hard crop settings"
#### Is your feature request related to a problem?

If operating a store with portrait formatted images, but uploaded images being uploaded are square. Images will be cropped based on height, width or the longest side. While the obvious solution to this issue is to not upload square images, but instead upload portrait formatted images. This have some unintentional consequences.

For instance if yo

[2021-04-14 14:31] Leo-pold-02 opened #24048 "Prestashop add to cart terribly slow (6 sec plus)"
Hello.

I have a Pestashop 1.7.6.1 running on 7.2 php.
Ita an update from a 1.6 presta version that got verified and was runnign smoothly on a subdomain.
I moved it th the main / root domain today. Works pretty well. But i have a big issu that adding to cart takes forever now. Like 6 sec or so. Shop is : shop.neunvonfrisch.com

I tried disabeling cache
Deavtivate Overrides and 3rd party plugins
De

[2021-04-14 14:35] Leo-pold-02 commented on #24048
Might any of this tables be an issue? should i clean them too?
If so what code to use?

![Bildschirmfoto 2021-04-14 um 16 34 12](https://user-images.githubusercontent.com/57262480/114728447-63ee6380-9d3f-11eb-9e6f-71fcf43fa4cc.jpg)

[2021-04-14 14:36] ioweb-gr commented on #18060
@redactuk I followed the same steps with you and ended up at the same final query as you. However I didn't search to find where the query was built.

[2021-04-14 14:40] #23901 closed, assigned to nobody

[2021-04-14 14:46] florine2623 commented on #23961
Thanks for the clarification @NulAsh . I'll ping product team to have their insight.

ping @PrestaShop/product-team , would it be possible to get 2 different buttons : one button to be able to reset everything (saved data from customer) and another one reset just the configuration ?
Should I add `Regression` label too ?

[2021-04-14 14:48] MonAssistantNumerique62 commented on #23970
@florine2623 No I've updated the site to PS 1.7.7.3 yesterday and still have that problem (I've done a cache cleaning after the upgrade).

It seems that this problem only appear on some articles. When filtering products by ID for some product it works, and for other I encounter that error. But I can't find what make the difference between a product that work and one that cause a crash...

[2021-04-14 14:57] florine2623 commented on #23815
Hello @TinoArts ,

Yes, please check my screen record : https://drive.google.com/file/d/1lr8g10QxHS43eZKaEFsQmjM-NUHiqWhI/view
![Capture d’écran 2021-04-14 à 16 57 08](https://user-images.githubusercontent.com/16019289/114731994-761dd100-9d42-11eb-8ad3-20befa9a629f.png)
Here it is : q=Size-L

[2021-04-14 15:01] florine2623 commented on #23850
Thanks for the update @ProteanCode .
I'll close this issue as it is fixed !

[2021-04-14 15:01] #23850 closed, assigned to nobody

[2021-04-14 15:04] #23999 closed, assigned to nobody

[2021-04-14 15:07] Maofree opened #24050 "Ps_metrics error"
Hi
I'm going to report some errors get from the module ps_metrics

`[2021-04-14 09:50:45] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Type error: Argument 1 passed to PrestaShop\Module\Ps_metrics\Helper\DataHelper::modifyArrayMainKeys() must be of the type array, null given, called in /home2/dklgasto/public_html/modules/ps_metrics/src/Kpi/Visits

[2021-04-14 15:09] davidglezz commented on #23749
Oops Sorry, I forgot to answer you. The problem is the same. The hook is inside a "form" tag, so modules cannot add form tags to this hook.

[2021-04-14 16:17] #24000 closed, assigned to nobody

[2021-04-14 16:22] redactuk commented on #18060
@khouloudbelguith can we have this issue re-opened please?

Also can someone at PS please let me know where the main BO orders query is being generated in 1.7.7.3?

[2021-04-14 19:01] msaustral commented on #24020
Hi that is correct, it is solved on the 1.7.7.3, thank you!! :)

[2021-04-14 19:21] matks commented on #23987
Hi @arouiadib we have entered the month of April which is the month where PrestaShop 1.7.8 should be feature frozen. The very last Pull Requests are being submitted and validated so we can complete the 1.7.8 milestone. So answers might come late as maintainers are very busy at this moment! 😅

I think the idea is good nonetheless

[2021-04-14 21:07] giuseppelucchese commented on #24048
I have the same problem.. 1.7.7 version running on php 7.3

[2021-04-14 21:25] arouiadib commented on #23987
I totally understand @matks, and would like to thank you and all the maintainers for the huge effort.

This matter itself is not urgent so we will be discussing it whenever there is appropriate moment.

I started by a PR regarding the first hook (and most important one IMO). I will be writing the other PRs gradually when community confirm to me each time (because not all hooks have same importance

[2021-04-14 21:33] kpodemski commented on #23987
I suggest to check dynamic hooks available in ObjectModel::delete(), using them should be enough.

[2021-04-14 21:38] pmartin-webimpacto commented on #24048
How many active Cart Rules do you have, without 'code' ?
Sometimes if there's a lot of cart rules that have to check the validity of the cart_rule, it can result on a lower performance.

[2021-04-14 22:12] paulps-stack opened #24054 "Product discounted price after using voucher on Order list in BO. PS 1.7.7.1"
#### Problem

On order list in BO we don't see the final price of one single product after using any voucher-discount. There is just total amount of discount value in summary.

#### Describe the solution you'd like

I would like to show next to the normal price on order product list, the price of product after applying voucher. I mean I have a product witch normal price 10$, I used a voucher with

[2021-04-14 22:20] guigplt commented on #23873
Yes we just had this problem too.
I solved it by adding this line in robots.txt file :
Disallow: /*&q=

[2021-04-15 06:44] sarahdib opened #24057 "JavaScript error in console using multistore"
#### Describe the bug

Js error in console using multistore

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Activate Multistore
3. Add a store
4. Configure new store
5. Open console browser
6. See error

**Screenshots**

<img width="1435" alt="Capture d’écran 2021-04-14 à 22 38 44" src="https://user-images.githubusercontent.com/3034677/114825431-824b7200-9dc6-11eb-8841

[2021-04-15 06:59] #24008 closed, assigned to matthieu-rolland

[2021-04-15 06:59] #23989 closed, assigned to NeOMakinG

[2021-04-15 07:07] sarahdib commented on #24047
Hello @0dp, thanks for this feedback !

@PrestaShop/product-team could you check this improvement ?
Thank you

[2021-04-15 07:34] sarahdib commented on #24050
Hello @maofree,

Thanks for this report !
We are working on a new version of ps_metrics !

For ps_metrics you can report bugs using the contact us button in the module.

Thank you

[2021-04-15 07:34] #24050 closed, assigned to nobody

[2021-04-15 07:44] ballashop commented on #23083
Any news about the data overwriting?
Thanks a lot for your support.
Balla

[2021-04-15 07:51] TinoArts commented on #23815
Hello @florine2623 ,

thank you very much for your time. It seems like your category filter is not set to checkbox type - when you clicked on "G4 - G5" category, it didn't set an active filter for that category, instead it redirected you to a category page and then you set the dynamic filter for the L size. Hence the `q=Size-L` parameter in your URL.

What I need is to set the categories to be an

[2021-04-15 08:10] davidglezz commented on #22880
More information: https://github.com/PrestaShop/PrestaShop/issues/23749

[2021-04-15 08:11] davidglezz commented on #23749
https://github.com/PrestaShop/PrestaShop/issues/22880 looks like a duplicate of this issue.

[2021-04-15 08:16] idnovate commented on #22880
Waiting for this :)

[2021-04-15 08:19] khouloudbelguith commented on #23824
Hi @atomiix,

Yes, you are right.
I changed the behavior
![image](https://user-images.githubusercontent.com/16067358/114836974-7e721c80-9dd3-11eb-96c4-3a913c63a0c6.png)
![image](https://user-images.githubusercontent.com/16067358/114837383-ede80c00-9dd3-11eb-9110-9835c5ff7149.png)

So, it is not an issue.
I will close the issue.

Thanks!

[2021-04-15 08:20] matks opened #24059 "Force All Shops context for Experimental Features Back Office page"
#### Describe the bug

The Experimental Features Back Office page behavior works for the full system. It's a system-wide setting. It cannot be modified for a single shop or a group of shop (when Multistore mode is enabled).

But nothing indicates this. We should add the following behavior:

When BO user visits the Experimental Features Back Office page, if his shop context is not "All shops" we fo

[2021-04-15 08:28] gabbodrummer opened #24060 "error free shipping costs"
Hi,

I noticed a bug regarding free shipping.
I set the shipping based on the weight of the items purchased and then in the appropriate section I set the free shipping above a certain amount, but the weight rule overrides that of the free price

![image](https://user-images.githubusercontent.com/48911349/114838515-102e5980-9dd5-11eb-8a6d-7f8745b6e4a5.png)
------------------------------------------

[2021-04-15 08:42] sarahdib commented on #23988
Hello @nikos83

I try to reproduce but I wasn't able to.

Could you provide us more information ?

Thank you

[2021-04-15 08:53] marionf commented on #23083
Hello,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contribute the

[2021-04-15 08:54] #24010 closed, assigned to nobody

[2021-04-15 08:57] #24001 closed, assigned to nobody

[2021-04-15 08:57] marionf commented on #24047
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this feature in

[2021-04-15 09:24] Robin-Fischer-PS opened #24065 "New Multistore header missing on Add/Edit Product page"
#### Describe the bug

On the Add/Edit Product pages (V1 and Experimental), the new Multistore header is not displayed (and the old one isn't displayed either).

It is however displayed in the product list page.

#### Expected behavior

The new Multistore header should be displayed, in order to allow the user to know on which context he is, and if necessary, swtich to a different context.

If poss

[2021-04-15 09:30] #24043 closed, assigned to nobody

[2021-04-15 09:32] ballashop commented on #23083
Hi @marionf,
I didn't mean if the bug was fixed I meant if it was considered by the developer team.
I apologize for not clarifying this point earlier.
Thanks for the support.
best regard.
Balla

[2021-04-15 09:33] marionf opened #24066 "Multistore dropdown not displayed when a group is selected as context"
#### Describe the bug

I realized that a behavior is not correct in the current multistore dropdown implementation:

The specific settings drop-down isn't displayed when a group is selected as context and If a parameter has a specific value for at least one shop of the group selected

#### Expected behavior

The specific settings drop-down should be displayed when a group is selected as context an

[2021-04-15 09:37] Robin-Fischer-PS commented on #24059
Ping @marionf : Could you confirm that the proposed behavior is OK ? (we discussed it with @matks but we would like to have a PM validation :smile: )

[2021-04-15 09:46] marionf commented on #24059
We should also display only the "all shops" context in the header to not let the user select a specific shop or group.

As described in [the specs](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/broader-topics/multistorespecialsspecs.md#list-of-specific-cases), the message should be: "Note that this page is available in all shops context on

[2021-04-15 09:52] marionf commented on #23083
Yes, the bug was reproduced but it's not planned to be fixed soon ;)

[2021-04-15 09:56] ballashop commented on #23083
Ok, thanks a lot @marionf

[2021-04-15 10:00] Robin-Fischer-PS opened #24068 "Wrong button name for Experimental Product page button on Standard Add page"
#### Describe the bug

When on the "Add a product" page (standard), the button redirecting to the experimental product page wording is "Edit on experimental page". It should be "New product on experimental page" (Admin.Catalog.Feature)
#### Expected behavior

Hi, this suggestion looks good to me. However, we have to make sure this will apply only if creating a new product.

This should not modify

[2021-04-15 10:16] kolorslab opened #24070 "Error to edit invoice from PS1.7.6.7 to 1.7.7.3 : [PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException code 0]"
#### Describe the bug

Hi i made an update in August on the "production" website to PS 1767 (and yesterday to to 1773) and since this two upgrades i always have an error to edit invoice from Orders and the mail to customer has no invoice.

Yesterday i dit the same process on the "test" website and all is working well in 1773. I can edit the invoice, and i receive the invoices during the order proc

[2021-04-15 10:26] 0dp commented on #24047
Hi guys,

I will start by looking into some options and post here, so maybe others are interested in pitching in on ideas. Hopefully a little healthy discussion could evolve.
Then I'll definitely look into making a PR.

[2021-04-15 11:46] Robin-Fischer-PS opened #24071 "Missing Back to Standard page button on Experimental Add New Product page"
#### Describe the bug

When the user is on the experimental Add new product page, there is no "Back to standard page", as there is in the "Edit product page".

#### Expected behavior

In order to be consistent with the "Edit product page" and to allow the user to go back to the standard page, a "Back to standard page" could be useful on the Add new product experimental page.

However, the behavior

[2021-04-15 11:48] Robin-Fischer-PS commented on #24071
Ping @PrestaShop/product-team : WDYT ? Is this a bug or an improvement or a non-issue ? And what is the behavior expected with this button ?

Thanks :)

[2021-04-15 12:06] amanv8060 commented on #23888
@florine2623 the issue is not resolved , tag is still not being detected

[2021-04-15 12:09] #23824 closed, assigned to atomiix

[2021-04-15 12:09] matks commented on #14968
Will be fixed by https://github.com/PrestaShop/PrestaShop/issues/23766 (PR  https://github.com/PrestaShop/PrestaShop/pull/24049) if I am not wrong

[2021-04-15 12:09] matks commented on #16555
Will be fixed by https://github.com/PrestaShop/PrestaShop/issues/23766 (PR  https://github.com/PrestaShop/PrestaShop/pull/24049) if I am not wrong

[2021-04-15 12:23] nikos83 commented on #23988
Hi @sarahdib ,
Thanks for your response - We have had manual update from 1.6 to 1.7.5 and then automatic update to 1.7.7.2
At the moment I've tried upgrade 1.6.21 -> 1.7.7.3 after this upgrade issue is not present.
It looks like this issue maybe related only to our example. So assuming it maybe related to our module or modification.

[2021-04-15 13:00] agnesdennetiere commented on #9757
Hello !
@Hlavtox solution is great, thank you!
However, in the cart, the total price still contains the gift price, and there is a line with the discount value.
Does someone have a fix for this?

Thank you

[2021-04-15 13:02] Esh-network opened #24073 "Big problem taxes and reduction (french)"
#### Describe the bug

Here is a tax error which is present on prestashop that I have just discovered and put together several times I think without any corrections to date: /.
Here are two examples of invoices with the same amount but the taxes are different (check the attached invoices below)

the invoice 1 the prices are set without the promotions on the products (specific price)
invoice 2 the

[2021-04-15 13:22] matks commented on #23456
Looks like there was no follow-up.

@e-gaulue is the question still open ? :) adding or not this way to truncate string in twig?

I ask because maybe you discussed with other people and changed your mind :)

[2021-04-15 13:23] matks commented on #23246
Hello, I think @kpodemski makes a point

[2021-04-15 13:25] matks commented on #23071
Hi I'm sorry I dont understand what developers are supposed to look at 😅

[2021-04-15 13:33] matks commented on #9513
Hi everybody,

I'm afraid this issue is a bit hard to follow 😅  there are many behaviors that are being described here. I'm not sure which one is supposed to be unresolved. It seems to be a permission issue.

I see PRs https://github.com/PrestaShop/autoupgrade/pull/128 and https://github.com/PrestaShop/ps_facetedsearch/pull/38 have been merged for a long time.

Autoupgrade module version is now v4

[2021-04-15 13:34] marionf commented on #24065
Duplicate of #23937

[2021-04-15 13:34] #24065 closed, assigned to nobody

[2021-04-15 13:36] matks commented on #23277
Hi @SD1982 I see this issue is not reproduced by everyone.

Since the time you wrote this issue, did you find any way to accurately target what makes some people reproduce it and others do not reproduce it?

[2021-04-15 15:01] #20382 closed, assigned to matthieu-rolland

[2021-04-15 15:23] eternoendless commented on #14968
I'm under the impression that not everything requested in this issue has been done.

[2021-04-15 15:30] e-gaulue commented on #23456
To sum it up :

- the way to go is the one describe in my first post because it's a huge (must have) tool directly documented by twig. It handles truncation and a lot more. But, Prestashop still support PHP 7.1 that "string-extra" doesn't. So, it's not a solution yet. We need php: >=7.2.5.
- in the meanwhile dzango/twig-truncate-bundle works well, but I would understand it's not right integrated i

[2021-04-15 16:24] matks commented on #12149
Hi, the issue can be closed.

[2021-04-15 16:24] #12149 closed, assigned to nobody

[2021-04-15 16:24] matks commented on #11021
@hibatallahAouadni Still To Do

[2021-04-15 16:38] jordi-art opened #24078 "Internal server error ps1.7.7.3"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-15 16:44] tswfi commented on #23246
Why not fix the core to use "one source of truth" for prices and allow module developers to extend to it?

[2021-04-15 18:09] jagunsow opened #24079 "non-existent Service "product_comment_repository" requested"
#### Describe the bug

Productcomment v4.2.1

Comments wont list at product page

Details at:
https://www.prestashop.com/forums/topic/1043021-productcomments-servicenotfoundexception/

#### Expected behavior
Comments should be listed on product page

#### Steps to Reproduce

1. Access any page with 1 or more comments eg (https://torretecidos.com.br/tecido-suede/55500648-tecido-sued-amassada-cor-ve

[2021-04-15 21:55] arouiadib commented on #23987
Thank you @kpodemski for information about these hooks, new to me.

I think only product images are the only images that are represented by an object model in PS (class `Image`).
I don't think there is model object for manufacturer image. This image is named using the id of the manufacturer, and it is not persisted to database. This same fact applies to category, supplier...etc.

For product image

[2021-04-16 06:24] wzzly opened #24081 "/classes/Link.php [897] is called 138 times"
#### Describe the bug

In the BO when enabled profiling, it looks like /classes/link.php is being called alot of times (138 times) in the ObjectModel instances section. The BO is very slow, so wondering if this has something to do with it. It is referring to line 897.

This is the line (897) from the /classes/Link.php

[code]

I do have multishop (with only 2 stores).

#### Expected behavior

Fast

[2021-04-16 07:52] prestascott commented on #23586
Hello @bulldesign,

Thank you for your work, it’s really nice to get design contributions like this in the back office. 🙌
What you propose is really interesting, enlarging the menu, placing the store in the header, creating a more personalized back office by putting name and profile picture in it, etc.

Each of your improvements needs to be studied in detail because we can’t decide quickly to give

[2021-04-16 07:54] florine2623 commented on #24078
Hello @jordi-art ,
Please add the steps to reproduce your issue.
Version of shop before upgrading.
What module you used to upgrade your shop + version of module
What page has this error.

I'll close your issue for now. Feel free to open a new one with all info so we can reproduce your issue and help you out.
Thanks!

[2021-04-16 07:54] #24078 closed, assigned to nobody

[2021-04-16 08:03] florine2623 commented on #24079
Hello @jagunsow ,

I can't reproduce your issue on PS 1.7.7.1 using product-comment module v4.2.1 :
![Capture d’écran 2021-04-16 à 10 01 11](https://user-images.githubusercontent.com/16019289/114992181-c019ca80-9e9a-11eb-8141-73745d491f77.png)
![Capture d’écran 2021-04-16 à 09 59 38](https://user-images.githubusercontent.com/16019289/114992205-c8720580-9e9a-11eb-96a5-08dd3b2d25d5.png)

Despite

[2021-04-16 08:03] #24079 closed, assigned to nobody

[2021-04-16 08:19] bulldesign commented on #23586
Hi @prestascott
Thanks for reverting back, and nice that you like it. I will try to explain some of the points you have mentioned.

Increasing menu width:
Yes, true that a width increase will impact the size of the other elements. I tried to analyze the card content quickly, and for smaller and larger screens, most of the time there seems to be a good gap, that would protect the card from "deformi

[2021-04-16 08:20] lozal2244 opened #24082 "Hook actionAdminOrdersListingFieldsModifier"
Hello,
The hook actionAdminOrdersListingFieldsModifier is not working in the 1.7.7.x versions, the module that I send [here](https://tiendaprest.com/wp-content/uploads/2019/01/columnas.zip) should work because it works on Prestashop 1.7.6.x

Steps to reproduce:
1- Install this module
2, Go to orders list and see that the column is not being showed

Tested on Pretsashop 1.7.7.3

[2021-04-16 08:38] jordi-art commented on #24078
Hello i don't understand what do you meant, because i put versión ps 1.7.7.3 and it was from 1.7.7.2 i always use 1 clickupgrade module last version.
Sorry!!
Thank you

Enviado de Samsung Mobile
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: florine2623 ***@***.***>
Sent: Friday, April 16, 2021 9:54:29 AM
To: PrestaShop/PrestaShop ***@***.***>
Cc: jordi-art

[2021-04-16 08:51] florine2623 commented on #24060
Hello @gabbodrummer ,

I can't reproduce your issue. Please see my screenshots below.
Config of product :
![Capture d’écran 2021-04-16 à 10 15 10](https://user-images.githubusercontent.com/16019289/114994145-c610ab00-9e9c-11eb-8466-a8d7997d89f5.png)
Config of carrier :
![Capture d’écran 2021-04-16 à 10 15 36](https://user-images.githubusercontent.com/16019289/114994154-c7da6e80-9e9c-11eb-9233-

[2021-04-16 08:51] #24060 closed, assigned to nobody

[2021-04-16 08:54] Hlavtox opened #24084 "Add a flag to order status, that controls if the order should be reserved"
#### Is your feature request related to a problem?

Lot of my customers complain about having problems with products being reserved when they don't want to. There were some issues about it also - https://github.com/PrestaShop/PrestaShop/issues/22756.

In Prestashop, there is a following logic - _Put order product to reservations if order is not shipped AND (is valid OR (not error AND not cancelled

[2021-04-16 09:05] florine2623 commented on #24054
Hello @paulps-stack ,

You would like to have the details of the discount amount directly on the product list of the order details, is that right ?
On my example, 43.08 - 34.46 = 8.62, 8.62 should be displayed ?
![Capture d’écran 2021-04-16 à 10 54 43](https://user-images.githubusercontent.com/16019289/115000255-e2174b00-9ea2-11eb-8fd8-9fd03175b92a.png)
![Capture d’écran 2021-04-16 à 10 58 03]

[2021-04-16 09:19] florine2623 commented on #21999
Hello @dariusakafest ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-16 09:19] #21999 closed, assigned to nobody

[2021-04-16 09:22] florine2623 commented on #23801
Hello @javierinnova ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-16 09:22] #23801 closed, assigned to nobody

[2021-04-16 09:22] matks commented on #24082
Hello @lozal2244 this is expected, the Orders Back Office pages have been migrated to Symfony in PrestaShop 1.7.7 .

New replacement hooks are detailed on https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/

[2021-04-16 09:28] florine2623 commented on #23825
Hello @ced--ced ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-16 09:28] #23825 closed, assigned to nobody

[2021-04-16 09:28] kpodemski commented on #24082
There's more, new orders page, as other migrated pages, use `Grid` component, you can read more about it, and how to work with it in modules here:

https://devdocs.prestashop.com/1.7/development/components/grid/tutorials/modify-grid-in-module/

[2021-04-16 09:38] florine2623 commented on #23970
Hello @MonAssistantNumerique62 ,

I upgraded my store from PS 1.7.7.2 to PS 1.7.7.3, I can't reproduce your error.
https://drive.google.com/file/d/19xe7RQlqg6i5gr0DB83rESl8yRNKHSqu/view
I can filter my products by ID or quantity.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if yo

[2021-04-16 09:38] #23970 closed, assigned to nobody

[2021-04-16 09:41] florine2623 commented on #23810
Hello @arirangz ,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-16 09:41] #23810 closed, assigned to nobody

[2021-04-16 09:46] florine2623 commented on #23815
Hello @TinoArts ,

That's already the case as you can see from my screenshots :
![Capture d’écran 2021-04-16 à 11 44 38](https://user-images.githubusercontent.com/16019289/115006442-2dccf300-9ea9-11eb-90a4-acc2e6734c91.png)
![Capture d’écran 2021-04-16 à 11 44 23](https://user-images.githubusercontent.com/16019289/115006450-30c7e380-9ea9-11eb-8515-9ce77bfa0753.png)

Here the URL : `q=Categorie

[2021-04-16 09:46] #23815 closed, assigned to nobody

[2021-04-16 09:49] florine2623 commented on #23837
Hello @FRaccie ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-16 09:49] #23837 closed, assigned to kpodemski

[2021-04-16 09:53] florine2623 commented on #23821
Hello @dutyhook ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-16 09:53] #23821 closed, assigned to nobody

[2021-04-16 09:58] florine2623 commented on #24073
Hello @Esh-network ,

Please make sure you are compliant with PrestaShop System Requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
You must downgrade to PHP 7.3 for PS 1.7.7.3.

Please check https://github.com/PrestaShop/PrestaShop/issues/14646 and feedback.
Thanks!

[2021-04-16 09:59] #24082 closed, assigned to nobody

[2021-04-16 10:23] florine2623 commented on #24044
Hello @x2wr0 ,

I can't reproduce your issue in PS 1.7.7.3. It never goes up to 10-20 sec or 1 hour.
Please make sure you are following the system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
You can also check if you have modules that have queries running in the background.

The more products you have, the greater your memory should be.

I suggest che

[2021-04-16 10:23] #24044 closed, assigned to nobody

[2021-04-16 10:27] florine2623 commented on #24070
Hello @kolorslab ,

Editing invoices is not a native feature in PrestaShop, you must be using an external module.

So I suggest contacting the developer of the module directly.
Thanks!

[2021-04-16 10:27] #24070 closed, assigned to nobody

[2021-04-16 10:40] kolorslab commented on #24070
Hi @florine2623 the invoice .pdf edition works well on a copy of the website it's native like other documents.

I got 4 problems on the production website but not on the test website exactly same version PS1.7.7.3 :

1 -the shopping cart with this error `Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart `
2 - print an invoice `[PrestaShop\PrestaShop\

[2021-04-16 10:50] Esh-network commented on #24073
Bonjour @florine2623 florine2623 je suis habituer avec prestashop le sujet du php n'a rien à voir avec le soucis des taxes c'est un problème dans le coeur de prestashop.

J'ai mis toutes les versions prestashop de 1.7 car le bug est présent sur les 1.7 et la version php utiliser peu importe le bug est aussi présent ^^.

Je pense à un mauvais formatage du code pour les taxes et encore pire quand il

[2021-04-16 11:36] khouloudbelguith opened #24090 "BO - Translations page - Theme translations select is empty when we we have only Classic theme"
#### Describe the bug

This issue is reproduced only when this PR: https://github.com/PrestaShop/PrestaShop/pull/24049 is merged
The New spec: https://github.com/PrestaShop/PrestaShop/pull/24049
In the BO > International > Translations page > when we have only the Classic theme, the "Theme translations" select is empty.
If you try to click on "Export" => alert

#### Expected behavior

Ping @eterno

[2021-04-16 12:37] florine2623 commented on #24084
Hello @Hlavtox ,

Thanks for the suggestion, I will ping Product team on this topic !
Please stay tuned.

[2021-04-16 12:38] florine2623 commented on #24084
ping @PrestaShop/product-team ,

What do you think about this new feature for the orders ?
Thanks!

[2021-04-16 13:03] #24041 closed, assigned to matthieu-rolland

[2021-04-16 13:27] grzegorzgit opened #24092 "Webp images are blocked by .htaccess"
Hi,
please remove blocking of webp images from /img folder. Currently .htaccess allows only specific types of files to be accessed from that folder, and webp is not one of them.

I understand that webp is relatively new format, but Lighthouse reports using .jpg and .png as an issue, and suggests replacing it with webp format. I am not asking about changing PrestaShop images to webp, I believe for

[2021-04-16 13:37] jordi-art opened #24093 "Internal serever error in PS1.7.7.3"
Hi there ,
I need help with this problem we do not know what it can be. I Update prestashop from version 1.7.7.2 to 1.7.7.3 with the module 1-click Upgrade v4.12.0. Every time I enter the backoffice it gives me this error in logs Internal server error 127 and sends me email alerts. Everything else works fine. Attached images, I hope you can help me to correct this error as soon as possible. Thank

[2021-04-16 13:50] florine2623 commented on #23988
Hello @nikos83 ,

After upgrading from PS 1.7.5.2 to PS 1.7.7.3, I have the correct encoding in my shop.
Address section :
![Capture d’écran 2021-04-16 à 15 49 06](https://user-images.githubusercontent.com/16019289/115033989-4fd76d00-9ecb-11eb-9d9e-9e61b6e653b0.png)

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a Pre

[2021-04-16 13:50] #23988 closed, assigned to nobody

[2021-04-16 14:03] marionf commented on #24084
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this feature in

[2021-04-16 14:21] florine2623 commented on #24093
Hello @jordi-art ,

After upgrading from PS 1.7.7.2 to 1.7.7.3 with module 1-click upgrade v4.12.0, I have access to the back-office.
I can't reproduce your issue as you can see from my screenshot.
![Capture d’écran 2021-04-16 à 16 20 04](https://user-images.githubusercontent.com/16019289/115038259-a646aa80-9ecf-11eb-95a0-f127277c7168.png)

If you have questions about using PrestaShop or third-p

[2021-04-16 14:21] #24093 closed, assigned to nobody

[2021-04-16 14:30] jordi-art commented on #24093
Florine the problem is a bug from prestashop New upgrade 1.7.7.3  i ready working with a prestashop expert and him told me to report you in github, but is ok if you don't know why appear this error ok. Will investigate us.
Thank you

Enviado de Samsung Mobile
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: florine2623 ***@***.***>
Sent: Friday, April 16, 202

[2021-04-16 14:31] jordi-art commented on #24093
The i see don't serve of nothing github

Enviado de Samsung Mobile
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: jordi canet coll ***@***.***>
Sent: Friday, April 16, 2021 4:30:31 PM
To: PrestaShop/PrestaShop ***@***.***>; PrestaShop/PrestaShop ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] Internal serever error in PS1.7.7.3 (#

[2021-04-16 14:33] jordi-art commented on #24093
Is second time that you close my report with nothing ,This is very bad.

Enviado de Samsung Mobile
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: jordi canet coll ***@***.***>
Sent: Friday, April 16, 2021 4:31:01 PM
To: PrestaShop/PrestaShop ***@***.***>; PrestaShop/PrestaShop ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] Intern

[2021-04-16 14:35] florine2623 commented on #24048
Hello @Leo-pold-02 ,

I upgraded my shop 1.6.1.24 to 1.7.6.1 like you did.
![Capture d’écran 2021-04-16 à 16 03 05](https://user-images.githubusercontent.com/16019289/115036085-7ac2c080-9ecd-11eb-825a-f2a21c57047f.png)
![Capture d’écran 2021-04-16 à 16 22 21](https://user-images.githubusercontent.com/16019289/115038550-ef96fa00-9ecf-11eb-8f40-bdf5ba0e7674.png)
The add to cart button doesn't ta

[2021-04-16 14:35] #24048 closed, assigned to nobody

[2021-04-16 14:36] florine2623 commented on #24081
Hello @wzzly ,
Can you share the steps to reproduce the issue ?
It's not only going to the BO, is it ?

Thanks!

[2021-04-16 14:40] #23766 closed, assigned to sowbiba

[2021-04-16 14:49] florine2623 commented on #23904
Hello @6xthFNGR ,

Stripe is an external module, not developed by PrestaShop.

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We will close this issue.

Thank you

[2021-04-16 14:49] #23904 closed, assigned to nobody

[2021-04-16 15:00] florine2623 commented on #23920
Hello @lmeyer1 ,
Thanks for the test images.
Here's the result, they're the same :
![Capture d’écran 2021-04-16 à 16 57 12](https://user-images.githubusercontent.com/16019289/115043843-376c5000-9ed5-11eb-9986-2d6e41a5098a.png)

The `background:#eee;` you add doesn't make the background transparent, it just adds the grey colour.

[2021-04-16 15:03] florine2623 commented on #24073
Yes of course, I agree with you, it is just to make sure that you have full compatibility with the system requirements !

Can you check #14646 and feedback.

[2021-04-16 15:08] Esh-network commented on #24073
Issue # 14646 is pretty much similar but not quite that yet.

No fix my bug: s.

[2021-04-16 15:26] florine2623 commented on #24092
Hello @grzegorzgit ,

I added a webp image to my folder /img, but I can't access it through _www.my_website.com/img/cat.webp_
[cat.webp.zip](https://github.com/PrestaShop/PrestaShop/files/6326197/cat.webp.zip)
![Capture d’écran 2021-04-16 à 17 24 22](https://user-images.githubusercontent.com/16019289/115047192-98495780-9ed8-11eb-91a4-a748876b2ac4.png)

With a JPG, PNG or GIF, it work displays.

[2021-04-16 15:27] florine2623 commented on #24092
Ping @PrestaShop/product-team ,

What do you think about adding webp images compatibility ?
Thanks!

[2021-04-16 15:35] marionf commented on #24092
Duplicate of #10356

[2021-04-16 15:36] marionf commented on #24092
Hello,

This issue is a duplicate of #10356
Please follow this issue to stay informed

Thank you!

[2021-04-16 15:36] #24092 closed, assigned to nobody

[2021-04-16 15:56] 6xthFNGR commented on #23904
Hello,

you havent replied on the Hooks that may caused the footer to be displayed later on in the order page.

Anyways,
before of your reply I already stated what is the core problem that exist on the main page - yet you do not reply to that report in any way!

It is consisting with every fresh PS installation.

Your claims that its has to be caused by another addon are wrong, are not helping in

[2021-04-16 16:48] rbeau opened #24097 "Impossioble to change order status (approved,delivered etc)"
Hi !

Recently, I updated Prestashop from 1.7.5 to 1.7.7 a three weeks ago. It is since unfortunately it is impossible for us to change the status of recent orders (after update).

**Prestahop Dashboard-> Orders -> Selecting a order -> Change its status**

There is an error line always like the following:

For old deliveries made if I change the status of the order; I have another error:

1 - Bug

[2021-04-16 16:53] jagunsow commented on #24079
Just leaving the fix I had to do so others can save some time:
at file modules/productcomments/controllers/front/ListComments;php
around line 60 there is:
dateFormatter = new \IntlDateFormatter(
I swiched that to the date_format aproach, and it worked,

like that
    /**$dateFormatter = new \IntlDateFormatter(
                $this->context->language->locale,
                \IntlDateFormatter::SH

[2021-04-16 17:01] kolorslab commented on #24070
It was just the columns of MySQL table who wasn't uptaded, a speciality since the 1.6. And no need an addon to generate pdf invoices! Best @florine2623

[2021-04-16 19:16] carras commented on #22250
Hi, I got this same issue; do you how how to solve it? I'm unable to upgrade since 1.7.6.8. Thanks.

[2021-04-16 19:28] carras opened #24098 "Upgrade to 1.7.7.3 Error: Class 'League\Tactician\Bundle\TacticianBundle'"
After trying to upgrade from PS 1.7.6.8 to PS 1.7.7.3, using 1-click-upgrade module,  I get this following error:

Can somebody tell me what is wrong?

[INTERNAL] /public_html/app/AppKernel.php line 59 - Error: Class 'League\Tactician\Bundle\TacticianBundle' not found
#0 /public_html/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php(488): AppKernel->registerBundles()
1 /public_htm

[2021-04-16 20:39] DPStudioGR opened #24099 "Prestahop account module update problem"
#### Describe the bug

I updated prestashop account module and now i cant login to my backoffice

#### Expected behavior

login to my backoffice as usual

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to modules , update prestahop account module to the latest.
2. Click on dashboard

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem

[2021-04-17 06:30] Hlavtox commented on #24084
Hi @marionf! I will do it, if you approve it with the product team. It's not difficult. :-)

[2021-04-17 08:54] Link-1110 opened #24100 "Install the wislist module"
* PrestaShop version: 1.7.7.3
* PHP version: 7.3

* Hello, can you tell me how to install the wislist module because I can't do it like all my other modules? at the installation it indicates an error.
![Capture](https://user-images.githubusercontent.com/77692194/115107467-44d41980-9f6b-11eb-9bca-a2f9e4a9fbe4.JPG)

[2021-04-17 09:43] Maofree opened #24101 "Cart rules: problem with "Carrier selection""
Hi

#### Describe the bug
If I create a cart rule without to set the promo code and adding a gift product, it works well like usually adding it directly to the cart. but if I add a "carrier selection" removing a carrier the cart rule will not work anymore.

#### Expected behavior

with the carrier selection the cart rule should work like normal

#### Steps to Reproduce

follow the settings present

[2021-04-17 10:55] guruhost opened #24102 "Upgrade 1.6 to 1.7 categories url won't work & sql crash"
After upgrading from 1.6 to 1.7 everything seems to work ok apart when clicking any main category link.

The moment you click any category the following query runs and never stops.

`SELECT pac.id_attribute, COUNT(DISTINCT p.id_product) c FROM (SELECT p.id_product, p.id_manufacturer, SUM(sa.quantity) as quantity, p.condition, p.weight, p.price, psales.quantity as sales, p.date_add FROM ps_product

[2021-04-18 17:44] didi-2018 opened #24103 "Adding payment with comma does not work anymore PS 1.7.7.x"
### Describe the bug

From PS 1.7.7.x and up it is not more possible to add a payment with a "," (comma) in the amount, for example: 20,90 €
This is not very usefull for german Prestashop users.

### Expected behavior

It's possible to add a payment with a "," (comma) in the amount

Adds a type class that governs the numeric type fields, checks that the expected format.

**specs**

The numeric typ

[2021-04-19 07:05] matks commented on #24103
Hi @didi-2018 I think you are reporting something very valuable :) but it will not be explored if it does not fit some of our templates
https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md
or
https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=2_feature_request.md

[2021-04-19 07:19] wzzly commented on #24081
Hi @florine2623 ,
it is happening on every BO page. It's not exaclty 138 times on every page, some pages have even more. But they all have alot of the /classes/Link.php in the ObjectModel intances list. On most pages it starts with config.inc.php and AdminController.php and then loads of Link.php instances.
Like this is from the modules manager page:

/config/config.inc.php [118]
/classes/controll

[2021-04-19 07:36] sarahdib commented on #24099
Hello @Stampa-Stampa,

Thanks for your report.

Your php version is not compatible with 1.7.7.3 like indicate in documentation : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please contact your hosting provider in order to downgrade your php version

Have a nice day !

[2021-04-19 07:36] #24099 closed, assigned to nobody

[2021-04-19 07:48] matks commented on #24081
Hello, 138 calls to Link do not seem a bad thing. I would not be surprised that each BO page contains up to 100 links as we display the full navigation bar.

It's not an issue to call a class a lot, what would however be an issue
- if we try to build the same link multiple times and there is no cache
- if we try to build useless links

[2021-04-19 07:50] wzzly commented on #24081
Hi @matks thanks for your reply.
Could you verify this on your install when enabling profiler?

[2021-04-19 08:05] hibatallahAouadni commented on #24103
Hello @didi-2018

Could you please edit your issue **following the provided template to submit a complete bug report**. Please fill in all the blocks (steps to reproduce, PrestaShop version, PHP version, ...).

Please edit and notify me :wink:

Thanks!

[2021-04-19 08:24] Julievrz opened #24105 "The placeholder 'Search our catalog' does not appear in ps_searchbar"
#### Describe the bug

The placeholder does not appear in the search bar (ps_searchbar) in the front office.

#### Expected behavior

The wording 'Search our catalog' located in Shop.Theme.Catalog should appear in the search bar.

**Screenshots**

![image](https://user-images.githubusercontent.com/70583503/115204885-47647980-a0f9-11eb-801f-41c0e81ee60b.png)

Expected behaviour:
![image](https://us

[2021-04-19 08:35] jolelievre opened #24106 "Add FormOptionProviderInterface into FormBuilderFactoryInterface"
#### Is your feature request related to a problem?

In this PR https://github.com/PrestaShop/PrestaShop/pull/24096 we've added a third parameter in the `FormBuilderFactory` we couldn't add it to the `FormBuilderFactoryInterface` to avoid BC break It should be added in the next major version 8.0

#### Describe the solution you'd like

Here is the new expected prototype:

[code]

[2021-04-19 08:36] NeOMakinG commented on #24105
@atomiix I remember this, maybe you know why

[2021-04-19 08:41] hibatallahAouadni commented on #24102
Hello @guruhost

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-04-19 08:41] #24102 closed, assigned to nobody

[2021-04-19 08:46] #23898 closed, assigned to NeOMakinG

[2021-04-19 08:48] NeOMakinG commented on #13445
We've TinyMCE responsive theme now, it's simplified and working on mobile, we can close this issue :)

[2021-04-19 08:48] #13445 closed, assigned to nobody

[2021-04-19 08:50] hibatallahAouadni commented on #24105
Hello @Julievrz

Thanks for reporting! I reproduce the issue only with develop. So, it's a **regression**!
I’ll add this to the debug backlog so that it’s fixed.

Thanks @NeOMakinG :rocket:

[2021-04-19 09:09] didi-2018 commented on #24103
@hibatallahAouadni

as I wrote **PS 1.7.7.x and up** (<- Versions) was working until 1.7.6.9 and was removed from 1.7.7.x

**add a payment to an order with a comma in the amount** = 20,90 (<- step to reproduce)

![image](https://user-images.githubusercontent.com/44971218/115211345-c492ed00-a0ff-11eb-9bb5-eab7f1c60422.png)

What is not clear in that? Let me know, please

[2021-04-19 09:24] Support-Dolikom commented on #16437
I have the same error, can you help the prestashop community ??

thanks ;)

[2021-04-19 09:29] marionf opened #24107 "Add a "last chance" flag and page"
#### Is your feature request related to a problem?

As a merchant, I want to highlight products that will be soon out of stock (but which do not necessarily have a reduced price) and that will not be back into the stock after.

#### Describe the solution you'd like

1) Create a "Last chance!" flag
2) Create a "last-chance" page
3) Add a checkbox to flag product as a "Last chance!" and add them on

[2021-04-19 09:31] hibatallahAouadni commented on #24098
Hello @carras

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-04-19 09:31] #24098 closed, assigned to nobody

[2021-04-19 11:01] hibatallahAouadni commented on #24100
Hello @Rantanplan1110

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2021-04-19 11:01] #24100 closed, assigned to nobody

[2021-04-19 11:20] ajejebrazorf01 commented on #16132
No news from 2019?

[2021-04-19 12:01] Progi1984 commented on #23379
Fixed by #24094

[2021-04-19 12:01] #23379 closed, assigned to atomiix

[2021-04-19 12:01] Progi1984 commented on #23847
Fixed by #24072

[2021-04-19 12:01] #23847 closed, assigned to atomiix

[2021-04-19 12:04] hibatallahAouadni commented on #24101
Hello @maofree

Thanks for the detailed report :clap:
Well, the voucher doesn't not apply cause you didn't select yet the carrier, please check my screen record below:

https://www.awesomescreenshot.com/video/3433808?key=003ec50557a72b461d2ef083621fc7c7

As you can see when I select the carrier, the voucher has been applied.
So, it's not a bug :sweat_smile: I close the issue.
If you have any other

[2021-04-19 12:04] #24101 closed, assigned to nobody

[2021-04-19 12:17] hibatallahAouadni commented on #22026
Duplicate of ##21734

[2021-04-19 12:19] hibatallahAouadni commented on #23873
Duplicate of #18956

[2021-04-19 12:23] Julievrz commented on #24068
Hi, this suggestion looks good to me. However, we have to make sure this will apply only if creating a new product.

This should not modify the edit buttons in the listing and on an existing product page (V1) that should remain 'Edit on experimental page'.

Thanks :)

[2021-04-19 12:28] hibatallahAouadni commented on #23749
Duplicate of #22880

[2021-04-19 13:01] ldeprestashop opened #24111 "[EPIC] - Roadmap 8.0.0"
# The next version, the V8.0.0 is a major, and this is why

In an effort of innovation and technological attractiveness, the update of the technologies (PHP8 and Symfony 4.4) imposes the passage to the numbering of version in 8.x.x. This is not a breakthrough version unlike passage 1.6 -> 1.7, but a version in the continuity of the work in progress on 1.7.

Therefore, there will be no need for a c

[2021-04-19 13:19] PierreRambaud commented on #20739
Current status:

- Guzzle will be updated from version 5 to version 7.3
- [Circuit breaker](https://github.com/PrestaShop/circuit-breaker/pull/42) update
- [Header-stamp v2.0](https://github.com/PrestaShopCorp/header-stamp/releases/tag/v2.0) has been released
- [Php dev tools v4.0 ](https://github.com/PrestaShop/php-dev-tools/releases/tag/v4.0) has been released

[2021-04-19 13:21] PierreRambaud commented on #20739
The PHP minimum version will be 7.2.5 because of Guzzle 7.3 (`php: ^7.2.5 || ^8.0`)

[2021-04-19 13:29] eternoendless commented on #24090
IMO we can add a default value like "select a theme". You can't go on until you select one. This should be pretty much the same with modules actually

[2021-04-19 13:42] hibatallahAouadni commented on #24097
Hello @rbeau

I didn't manage to reproduce your issue and it seems you have a problem with some missing id_address.
Please check these issues, you may find some answers:
#22215
https://tecserve.eu/prestashop17/prestashop-error-after-upgrading-1-7-7-1/
#23336
#22611

We will close this issue.

Thanks!

[2021-04-19 13:42] #24097 closed, assigned to nobody

[2021-04-19 13:45] wordliner commented on #22250
I had the same error.
1. Be sure to have the English language enabled and set as default.
2. Be sure to have all modules updated before the upgrade.

Looks like a lack of the English language could be causing this update issue.

[2021-04-19 13:49] matks commented on #22250
@wordliner interesting :)

So the steps to reproduce would be

1. Install PS 1.7.6.8 in a language different than English
2. Make sure English is disabled or does not exist in shop
3. Upgrade to 1.7.7
4. See error

Can you tell me ?

[2021-04-19 13:50] didi-2018 commented on #24103
same with partial refund. Only "." is allowed and not more ",". Why was this removed with PS 1.7.7.x? I don´t understand that? Germans don´t use a dot in amounts, we use a comma 🤷‍♀️

And shippings cots are not refunded when they are added to the refund, only the item amount. But this I have to check with paypal module.

[2021-04-19 13:56] matks commented on #24103
@didi-2018 Steps to reproduce must follow the structure

[code]

It was not removed on purpose, this is a side-effect of reworking the Orders page. The previous page probably converted `,` into `.` but as there was no mention of this in any document, the reworking did not include this behavior. This is something that needs to be fixed.

The prices are however displayed correctly, using the comma,

[2021-04-19 14:07] ajejebrazorf01 commented on #16132
Maledetti!

[2021-04-19 14:08] wordliner commented on #22250
It helped me with the upgrade proces on working client shop, but i was not
able to reproduce it on fresh install.

pon., 19 kwi 2021 o 15:50 Mathieu Ferment ***@***.***>
napisał(a):

--
Kamil Wesserling

C.E.O

Agencja Kreatywna Eviv
534 777 757
***@***.***
https://eviv.pl
Jaśminowa 9, 84-122 Żelistrzewo

[2021-04-19 14:09] luisbo69 commented on #16437
Found that the problem is on the office365 ports settings, and there is no way to find a turn around, I have several prestashop implementations with gmail a points with no problems, the solution in this case was to change the office365 emails accounts bought in Godaddy, with another emails accounts offered and hosted by Godaddy, then there was no problems with prestashop ecommerce emails. Hope thi

[2021-04-19 14:11] khouloudbelguith commented on #22026
Hi @MatShir,

This issue still exists in the 177x branch.
This issue is not a duplicate of https://github.com/PrestaShop/PrestaShop/issues/21734.
https://drive.google.com/file/d/1HmT1CVtvANZUnkNAzQBG50sgW6iFNq3o/view?usp=sharing
In fact, the button increasing is changed to decreasing when we click quickly.
I think we should re-open the issue.
Can you confirm me @SD1982 ?

Thank you!

[2021-04-19 14:28] ldeprestashop commented on #24111
@hibatallahAouadni It's not a Epic, it's an Epic's list ;)

This issue list all Epics for the V 1.7.9 version.

[2021-04-19 14:30] SD1982 commented on #22026
Hi @khouloudbelguith  yes i confirm the problem is still there :+1:

[2021-04-19 14:32] hibatallahAouadni commented on #23893
Hello @mvorisek

Thanks for your patience :pray:
I just followed your steps and I run this command:

`php tests-legacy/create-test-db.php`

And here's the result:

![image](https://user-images.githubusercontent.com/23308427/115253295-88c24c80-a12c-11eb-817a-86a24bd4d184.png)

Then, I reinstall the shop (on develop branch).
So, could you please specify where I could see the error? :sweat_smile:

Pl

[2021-04-19 14:44] hibatallahAouadni commented on #24111
Hello @ldeprestashop

I see, thanks for the clarification.
Unfortunately, we don't have a label for the EPIC list, so what should we do?

Thanks!

[2021-04-19 15:03] ldeprestashop commented on #24111
Do nothing : it's not very important :)

Maybe we will add Roadmap tag, but don't spend time now for a small detail

[2021-04-19 15:26] hibatallahAouadni commented on #24103
Hello @didi-2018

I just edit your issue :wink:
We ask you to respect this template to help us reproducing the issue ASAP and try to fix it. So, at least help us by following the provided template.

I was able to reproduce the issue with PrestaShop version 1.7.7.3 and develop, so I can confirm that this behavior is indeed a bug. But with PS1.7.6.7, I notice that when we add a payemnt 10,50, it wil

[2021-04-19 15:34] lmeyer1 commented on #23920
I'm sorry, that my first post was not clear, in fact there were missing the exact steps to reproduce. I have now updated the first post above to include example test images, a clear an complete *Steps to reproduce* section, and the resulting resized images produced by Prestashop:
- original is jpg => resized with white border
- original is png => resized with transparent border.

Set github to dar

[2021-04-19 16:06] matks commented on #23893
Hi @mvorisek I think the steps needed to reproduce are a bit more complex 😉

Here is my suggestion

1. Insert the following code in line 17 of `bin/console` file
[code]
2. Execute `php bin/console`
3. See the error message
[code]

In this error message we cannot see `Hello` although it was the exception message.
Even if you replace `throw new \PrestaShopException('Hello');` by ` throw new \PrestaS

[2021-04-19 17:22] atomiix commented on #24105
@Julievrz @NeOMakinG @hibatallahAouadni that's because we deleted the ps_searchbar override in the develop branch but we're not using the last version of the module ps_searchbar yet. Once the composer.lock will be updated with the last version of the module, it will have the placeholder as well as the right style for the input and the button

[2021-04-19 18:03] didi-2018 commented on #24103
@matks and @hibatallahAouadni  Thank you very much 🙏! I have not expected that is needs more explanation 🙈.

@hibatallahAouadni  and I edited it again cause you forgot the "not" for **Expected behavior** 😄

[2021-04-19 21:33] mvorisek commented on #23893
I am here :)

I am very sure with this, as https://github.com/PrestaShop/PrestaShop/blob/1.7.7.3/classes/exception/PrestaShopException.php#L43 code outputs everything except the exception message itself. Not matter if the logging is sent to a file or so, but the message should be contained in the output.

@hibatallahAouadni if you want to bother with this than belive clearly in the code and me, yo

[2021-04-20 07:01] #19145 closed, assigned to marionf

[2021-04-20 07:02] Progi1984 commented on #19145
Thanks @marionf

[2021-04-20 08:27] hibatallahAouadni commented on #23580
Hello @Braian70 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-20 08:27] #23580 closed, assigned to nobody

[2021-04-20 08:29] Julievrz commented on #18715
I believe it has nothing to do with Crowdin as this string is translated and validated in Arabic on Crowdin for 1.7.7.

[2021-04-20 09:05] lmeyer1 commented on #18769
This problem happens, because all images regardless of their type are saved with a `jpg` file extension, but in `ImageRetriever::getImage()`, the code responsible to regenerate the images, a file with an extension corresponding to it's type is searched for.
i.e. If the image is of type png, then it is saved as `123.jpg`, and the file `fileType` exists, `ImageRetriever::getImage()` is attempting to

[2021-04-20 09:13] hibatallahAouadni commented on #24036
Hello everyone,

I reproduce the issue with PS1.7.7.x and develop, and I didn't manage to reproduce is with PS1.7.6.7.
So, it's a regression :wink:

Thanks!

[2021-04-20 09:36] micka-fdz opened #24117 "Add possibility to change position of feature values"
#### Is your feature request related to a problem?

It's currently impossible to change position of features values.
This feature could be useful to change display order on product page or with `ps_facetedsearch` module.

#### Describe the solution you'd like

We need to add possibility to change position of feature values, like attribute values.

[2021-04-20 09:37] Julievrz commented on #24002
Hi @matks, here is the plural form of the wordings:

'Are you sure you want to enable these experimental features?' in Admin.Advparameters.Notification
'You are about to enable features that are not stable yet. This should only be done in a test environment or in full knowledge of the potential risks.' in Admin.Advparameters.Notification

[2021-04-20 09:58] tajriba commented on #23906
@matks thank you! we are curious about this.

[2021-04-20 10:03] hibatallahAouadni commented on #24103
Hello @didi-2018

Well, the expected behavior supposed to be what do you want (add a payment with comma without any problem) 😉
So, it was correct and I just re-edit it.

Thanks!

[2021-04-20 10:09] #15118 closed, assigned to NeOMakinG

[2021-04-20 10:10] hibatallahAouadni commented on #19227
Hello @chrisvanberg

You need to downgrade your PHP version to PHP7.2 cause it's not compatible with PS1.7.6.4

Thanks!

[2021-04-20 10:10] Progi1984 commented on #23751
Fixed by #24015

[2021-04-20 10:10] #23751 closed, assigned to atomiix

[2021-04-20 11:16] hibatallahAouadni commented on #24117
Hello @micka-fdz

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-04-20 11:31] micka-fdz commented on #24117
Hi @hibatallahAouadni, I changed my issue description.

It's not about a bug report but a feature request.

[2021-04-20 11:43] jcarloscid opened #24122 "[INVOICE] Bad display of Basic price and total tax when free gift tax rate is not the same as the products"
### Describe the bug
[PS-issue-sample.pdf](https://github.com/PrestaShop/PrestaShop/files/6343036/PS-issue-sample.pdf)
I am attaching the invoice of a sample order demonstrating the issue.
The total tax amount is correct, however the breakdown is incorrect.

**Invoice data:**
Products  4.000 % 0,80 €
               21.000 % 0,46 €
Shipping 21.000 % 0,84 €

### Expected behavior

**Expected data:**

[2021-04-20 12:00] hibatallahAouadni commented on #24117
Hello @micka-fdz,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-04-20 12:12] hibatallahAouadni commented on #24122
Hello @jcarloscid

Could you please provide your PrestaShop and PHP versions.
Please check this EPIC #9703 it contains all the issue related to this subject, and I think your issue is similar to this one #11722

Please check and feedback.
Thanks!

[2021-04-20 12:21] hibatallahAouadni commented on #24068
FYI @marionf

[2021-04-20 12:33] matks commented on #23764
After exploring the differences between the 1.7.7.3 and `develop` I see nothing that remains unfixed. A few items are changed in the old component but they are refactoring artifacts like magic strings transformed in constants or comments (see https://github.com/PrestaShop/PrestaShop/commit/abdf33ecdffaf32152aaa0d7f5b85fb63e58b546#diff-cdd85207b630655fb93bea90ce0de99d8048f876a96e867c897ac0a645e7668

[2021-04-20 12:33] #23764 closed, assigned to sowbiba

[2021-04-20 12:43] redactuk commented on #18060
@ioweb-gr

I have made the following hack. This reduced my query time on 86k orders from 14.8s to 5.8s. Not great, but a big improvement.
I suspect this may not work if you support multiple languages, but as far as I can see changing to leftjoin should not return multiple records as only one country can exist per delivery address, but if someone else with far more expertise than me can tell me why

[2021-04-20 12:44] Hlavtox opened #24123 "Move email confirmation logic to separate function in Order.php"
#### Is your feature request related to a problem?

In order to implement ability to resend order confirmation (https://github.com/PrestaShop/PrestaShop/issues/14754), it would be good to separate the logic that sends order confirmation to a separate function, so we can reuse it whenewer we can.

#### Describe the solution you'd like

Extract all the logic that sends email confirmation from [Payme

[2021-04-20 12:48] ioweb-gr commented on #18060
I will also try it as it's a visual issue to test what happens. Ours is a multistore but doesn't hurt to try. I still wonder why the issue is not getting reopened when it's so important

[2021-04-20 12:50] marionf commented on #24068
I don't know, let's ask to @MatShir

[2021-04-20 12:51] ioweb-gr commented on #18060
Actually we're in an older version so it' snot possible to try your solution :(

[2021-04-20 12:57] matks commented on #23767
So far I have not found obvious links between old component and new component. But since old component can be used through Context and as PS service, there might be some of these links.

I continue

[2021-04-20 13:17] Dar-us-Salam commented on #22758
Sorry, I just saw your message. Our previous host was going to upgrade our
VPS to fix the issue but we ended up switching hosting companies altogether
and everything is working okay now. They didn't just upgrade the ICU but
the whole OS system.

Thanks,
Omar Waheed
Dar-us-Salam Publications
http://dar-us-salam.com

On Tue, Apr 13, 2021 at 7:27 AM redactuk ***@***.***> wrote:

[2021-04-20 13:50] hibatallahAouadni commented on #24123
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-04-20 14:02] eternoendless commented on #24123
From what I understand this is a refactoring issue, not a feature request. I totally agree that the confirmation email part should be extracted from the PaymentModule – I think it would be best to put it in a new SendOrderConfirmationCommand within the Order domain, and not within the Order class. That said, I'm not sure if the CommandBus is available in FO, so you might end up having to set up th

[2021-04-20 14:24] PierreRambaud commented on #22837
I'm no more able to reproduce.
It has been fixed in #23834 and it's a duplicate of #23642

[2021-04-20 14:46] khouloudbelguith opened #24130 "BO - Products page - cannot change the default category"
#### Describe the bug

In the BO > Catalog > Product details page, we cannot change the default category, we have an error in the console when we select any category

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products page
2. Edit/Add a product
3. Try to change the default category
4. See error in the console
![image](https://user-images.githubusercontent.c

[2021-04-20 14:55] khouloudbelguith opened #24131 "BO - Products page - Summary & Description - the line break is calculated for allowed characters"
#### Describe the bug

In the BO > Catalog > Products page > in the summary & the description block the line break is calculated for allowed characters

#### Expected behavior

The error alert should be displayed with the error message at the bottom of the field. The product can't be saved

<img width="1163" alt="Capture d’écran 2021-06-02 à 18 45 29" src="https://user-images.githubusercontent.c

[2021-04-20 15:08] jcarloscid commented on #24122
PS version is 1.7.7.1
PHP version is 7.3.27

I do no think my issue is really similar to #11722

The key to reproduce the issue is:
* The order contains products with different tax (VAT) rates
* One of the products is for free (a gift) via a cart rule (like free gift for orders above xx€)

And the wrong thing is on the taxes breakdown, not on the discount.

The discount as defined on the cart rule

[2021-04-20 17:14] Stampa-Stampa commented on #9866
More than 5 of my customers with Prestashop 1.7.7.3 and php 7.3~7.4 called me to say they got a call from customers who placed orders but never got a confirmation...  Looking into their log they have the same errors ..

"frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart"
There is something wrong with the way Presta evolves.. As with every update more

[2021-04-20 17:19] soufyan commented on #22517
@estenolotienenadie could you tell us how you resolved your issue ? I'am in the same situation with a office365 smtp using STATTLS encryption

Thanks

[2021-04-20 17:45] Laimonas-Mituzas opened #24133 "Customer Reassurance module SEO improvement"
Module blocks in front goes with image bloks that do not have "alt" tags.  It is necessary to add tags in .tpl files for better on-page SEO.

Simple solution for this is to use block Title for "alt" tag:
alt="{$block['title']|escape:'quotes'}"
or create special input text box from module configuration.

Files should be changed:
blockreassurance/views/templates/hook/displayBlock.tpl
blockreassuranc

[2021-04-20 20:25] Ideoclic opened #24135 "Problem calcul tax with Ecotax (Display)"
#### Describe the bug

The calculation (tax display is wrong) of the tax and when there is an ecotax product in the invoice.

#### Expected behavior

10 % > 34.32 -> Tax is 3.43 and **NOT 3.21**
20 % > 529.20 -> Tax is 105.84 and **NOT 105.62**

3.43 + 105.84 = **109.27 (So it's good on this Invoice)**

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create Products 10% (FR)
2. Creat

[2021-04-20 21:02] Toumash commented on #17479
This docker-compose certainly is working

[code]

[2021-04-20 22:29] Renrhaf commented on #15137
+1 for such a feature

[2021-04-21 06:29] etsmes opened #24136 "tracking front stats error"
#### Describe the bug

When i go on https://www.nummulit.com/modules/trackingfront/stats.php
I have a error
Fatal error: Uncaught --> Smarty: Unable to load template 'file:./errors.tpl' in '/usr/home/nummulit.com/web/modules/trackingfront/views/templates/front/login.tpl' <-- thrown in /usr/home/nummulit.com/web/vendor/smarty/smarty/libs/sysplugins/smarty_internal_template.php on line 195

#### Exp

[2021-04-21 06:50] TinoArts commented on #23815
@florine2623 Hi, could you please try again with `slash` instead of `hyphen` ? Turned out hyphen works for me as well, it is apparently only slash that is causing such issues.

Category name to try: `G36 / G3`

Thank you very much.

[2021-04-21 07:28] florine2623 commented on #24136
Hello @etsmes ,

This is a nexternal module issue.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](http

[2021-04-21 07:28] #24136 closed, assigned to nobody

[2021-04-21 07:40] josguein opened #24137 "ps_emailalerts doing infinite loop in the hook rendering"
When is the turn call to render the hookdisplayadditionalinfo on the ps_emailalerts module, he tries to call it but it just doing  an infinite loop and the page is loading until he gives a timeout error, this is only happen when the "Product Availability" option is on.

[2021-04-21 07:40] etsmes commented on #24136
Hi @florine2623,

Thank you for the answer
It is not an external module. Is a native module.

![Captura](https://user-images.githubusercontent.com/19926260/115515186-2d57a200-a285-11eb-8fd9-453f1db7bc4f.PNG)

Multiple requests have been opened for this bug, but it has not been fixed yet.
#18007
#15830
#9780
...

Kind regards,
Josep

[2021-04-21 07:48] florine2623 commented on #24133
Ping @PrestaShop/product-team ,
What do you think about this suggestion ?

[2021-04-21 07:56] florine2623 commented on #24137
Hello @josguein ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further inform

[2021-04-21 07:56] #24137 closed, assigned to nobody

[2021-04-21 08:54] matt-cloudconstruct opened #24138 "No Carriers Available"
#### Describe the bug

A lot of customers are reporting they are being shown the message "Unfortunately, there are no carriers available for your delivery address.", even though there are carriers for their zone. Logging out and back in resolves the issues and carriers are then shown correctly.

#### Expected behavior

Would expect a list of carriers to be shown based on the customers delivery add

[2021-04-21 09:00] hibatallahAouadni commented on #23906
Hello @tajriba

I'm really sorry but I have to close this issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, you can also ask in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Like @matks mentioned above, the PM has been notified and t

[2021-04-21 09:00] #23906 closed, assigned to nobody

[2021-04-21 09:11] Julievrz commented on #23753
Hi @khouloudbelguith, I suggest the following wording:
'You must configure the URL of this store before you can set it as a default.' in Admin.Advparameters.Notification

[2021-04-21 09:15] mattpbs commented on #24138
This forum entries appears to resolve the issue:

https://www.prestashop.com/forums/topic/1027497-fix-for-unfortunately-there-are-no-carriers-available-for-your-delivery-address/

[2021-04-21 09:25] matks commented on #19242
Reopening as https://github.com/PrestaShop/PrestaShop/issues/23765 is left for 1.7.9

[2021-04-21 09:27] marionf commented on #16555
@khouloudbelguith Can you confirm if this issue is well fixed by https://github.com/PrestaShop/PrestaShop/pull/24049 ?

[2021-04-21 09:30] matks commented on #14968
@sowbiba Can you confirm that

is identical to https://github.com/PrestaShop/PrestaShop/issues/23765

[2021-04-21 09:43] PierreRambaud commented on #20041
Hey @khouloudbelguith I didn't manage to reproduce the issue, is it still present?

[2021-04-21 09:46] PierreRambaud commented on #12970
Yes, we will start to implement this issue when the Security page will be merged.

[2021-04-21 09:46] Hlavtox commented on #24107
Hi @marionf, I suggest to:

- Rename the original **On sale** (you renamed to **Price drop**) to **Last chance**, it will serve the original purpose and have better wording. Or just revert the rename to not make people confused. They can rename the flag how they want, can't they?
- Just forget the **Price drop** flag. as @Julievrz said `at least in French since 'On sale' means 'Promotion': that wo

[2021-04-21 10:18] Morph21 opened #24140 "Custom invoices from API"
Hello!

We provide an erp-system for our clients which gets all the orders from the shop and then it creates the invoices.

My requested feature/question:
Is there a way to upload the pdf invoice from the erp-system to the order and further to the customer via the API? Or is there a way to create the invoice via the api? The most important thing here is the consecutive invoice number from the erp-

[2021-04-21 11:52] loetje88 opened #24141 "Still cannot delete product combinations in newest ps version."
#### Describe the bug

Tried the .htacces solution on fresh install of ps 1.7.7 and - even after all these updates - this still does not work.
Force compilation is on, cache is off and emptied.
Just same old problem : click on delete combination, screen / save button will freeze on loading and that's it.

When using ctrl+f5 to get things working again, combination is still there.

#### Expected be

[2021-04-21 11:56] Hlavtox commented on #24140
Hi @Morph21, I implemented it for my primary client, it's not very difficult. Only downside it supports only 1 invoice per order.

- You add a custom column to order definition (and table), for storing the invoice number and prepare a new folder like /invoices in PS folder, for storing the PDF with the invoice. I suggest storing it as ORDERREFERENCE_INVOICENUMBER.pdf, so nobody can guess the next

[2021-04-21 12:11] khouloudbelguith opened #24142 "BO - Simple Product -Specific price - Warning is empty when we try to remove a customer from a specific price and when we try to remove a product from a pack"
#### Describe the bug

- [ ] **First issue**

In the BO > Catalog > Products > Product details page, when we try to remove a customer from a specific price => the warning is empty
![image](https://user-images.githubusercontent.com/16067358/115550295-fa73d500-a2a9-11eb-9fac-0a83ae81658f.png)

#### Expected behavior
177x we have this
![image](https://user-images.githubusercontent.com/16067358/115550

[2021-04-21 12:15] kpodemski commented on #24021
@PrestaShop/qa-team

Unfortunately I couldn't reproduce this issue, it might be related to some third party module or environment.

Maybe any other @PrestaShop/prestashop-core-developers would be able to help?

[2021-04-21 12:19] PierreRambaud commented on #13016
This is an important improvement, I confirm :+1:
I plan to work on it in few weeks :)

[2021-04-21 12:26] matks commented on #23010
### 21-04-2021 Status update - 1.7.8.0 is frozen ❄️

The `1.7.8.x` branch has been created and any new changes submitted in the `develop` branch will be milestoned for 1.7.9 .

[2021-04-21 12:37] matks commented on #24141
Hi @loetje88 reopening an issue is useless if you just repeat the same thing 🤔

If you wish to report a bug, you must do it by following the GitHub template for that (see https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md). We need a series of clear steps like

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

However from the pre

[2021-04-21 12:53] jorr-it commented on #23777
@hibatallahAouadni @florine2623 This issue still has label NMI. Please ask me what information you need. Thank you.

[2021-04-21 13:00] Robin-Fischer-PS opened #24143 "FO - Missing 404 for disabled category page"
#### Describe the bug

On the FO, when trying to access a disabled category, an error/exception is displayed instead of a 404 page (exception in debug mode, error message without debug mode).

#### Expected behavior

When accessing any disabled category page on FO we should have a 404 page and not an error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable debug mode
2. Create

[2021-04-21 13:05] NeOMakinG commented on #24143
Maybe related to https://github.com/PrestaShop/PrestaShop/pull/22908

[2021-04-21 13:11] hibatallahAouadni commented on #24021
Hello @lolath-presta

Thanks for reproting the issue!
I didn't manage to reproduce it with PS1.7.7.3 but I reproduce it with PS1.7.6.7:

## PS1.7.6.7: :x:

![image](https://user-images.githubusercontent.com/23308427/115559038-9b1ac280-a2b3-11eb-9aa9-7de499a92ce6.png)

## PS1.7.7.3: :heavy_check_mark:

![image](https://user-images.githubusercontent.com/23308427/115559070-a241d080-a2b3-11eb-96a5-4de

[2021-04-21 13:14] ipierre1 commented on #23588
The problem seems to come from PS_Metrics, indeed I also had the problem with the logs and a lot of mails sent by PS. Once deactivated, no more problems ...
But the strangest thing is that there have been no changes that had been made on the site itself for a few months (PS version 1.7.6.9 and PS_Metric was up to date)

[2021-04-21 13:24] florine2623 commented on #24138
Hello @mattpbs ,

I can't reproduce your issue. Please check my screen record :
https://drive.google.com/file/d/1HOSmjQp07sOV5mbrvfibUDDicHnT7R8m/view

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://

[2021-04-21 13:24] #24138 closed, assigned to nobody

[2021-04-21 13:29] florine2623 commented on #24140
Hello @Morph21 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-04-21 13:36] MonAssistantNumerique62 commented on #23970
@florine2623 I've found the origin of that bug.

Here is a way to reproduce it :
1 - Need to be in multistore context
2 - Select "all shops" context
3 - Create an article
4 - Set it as "article with combination"
5 - Save the article
6 - Display the article list in backoffice

It will crash because the "final_price" field has a null value.

In my case the crash occurs because the combinations were

[2021-04-21 13:45] Robin-Fischer-PS opened #24145 "FO - Missing 404 for category page that does not exist"
#### Describe the bug

On the FO, when trying to access a category that does not exist, an exception are displayed instead of 404 page (exception in debug mode, browser 404 page without debug mode).

#### Expected behavior

When accessing a non existent category page on FO we should have a in-shop 404 page and not an exception (or a brower 404 page).

#### Steps to Reproduce

Steps to reproduce th

[2021-04-21 13:46] Robin-Fischer-PS commented on #24145
Similar to #24143 but not the same error :)

[2021-04-21 13:49] matks commented on #24145
Probably due to a edge-case introduced in https://github.com/PrestaShop/PrestaShop/pull/21094/

What happens:
- URL matches a category structure so front CategoryController is called
- CategoryController in `init()`finds there is no category so it calls `$this->setTemplate('errors/404');`
- then `CategoryController::getTemplateVarPage()` is called, and unfortunately it calls `getCanonicalURL()` wh

[2021-04-21 13:58] dennispw opened #24147 "[Safari] Catalog price rule selects wrong brand"
#### Describe the bug

When creating a catalog price rule for a **brand** the JavaScript seems to select the very first available option in the select menu. Which means that if you choose whatever brand that is in the bottom of the select menu when creating the rule, it will be override the next time you edit that rule and forget to **reselect** the correct brand.

**In Safari (14.0.1) :I've tried

[2021-04-21 14:07] hibatallahAouadni commented on #24141
Hello @loetje88

I just edit your issue, could you please check it and add the missing infos.
And please provide a screen record, cause I didn't manage to reproduce the issue with PS1.7.7.3 with these provided infos :wink:

Thanks!

[2021-04-21 14:07] florine2623 commented on #24135
Hello @Ideoclic ,

I reproduce your issue in PS 1.7.7.3. It seems like it is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9855
Could you check and let me know.
Thanks!

[2021-04-21 14:14] hibatallahAouadni commented on #24136
Hello @etsmes ,

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Thanks!

[2021-04-21 14:20] hibatallahAouadni commented on #23777
@jorr-it thanks for your patience :pray: @florine2623 will try to reproduce on her side and we will feedback :slightly_smiling_face:

[2021-04-21 14:20] Ideoclic commented on #24135
Product price is good (With ecotaxe) on 1.7.7.3

![chrome_6TAyMN3DmY](https://user-images.githubusercontent.com/80488574/115569324-67449a80-a2bd-11eb-92d7-b669f0a7d3d3.png)

[2021-04-21 14:40] loetje88 commented on #24141
Hi hibatallah,

Thank you for the help!

I have included a video recording to reproduce the issue and show my steps.

Just to be sure 👍
Clean install PrestaShop 1.7.7
Php 7.3

[2021-04-21 14:54] florine2623 commented on #24147
Hello @dennispw ,

I was able to reproduce the issue with PrestaShop version 1.7.7.3 and develop AND using Safari (Chrome or Firefox OK), so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s

[2021-04-21 14:54] hibatallahAouadni commented on #23784
Hello @gennaris

Thanks for your patience :pray:
As discussed on Slack, what you suggest is to add the label (tax excl. or tax incl.) besides the total and to provide information about prices are with or without taxes because customers always gets confused.

Ping @PrestaShop/product-team wdyt about this issue, is it an improvement or a bug?

[2021-04-21 14:59] khouloudbelguith opened #24149 "BO - Virtual Product - an exception is displayed when we save a filename & nb_days_accessible & nb_allowed_downloads with invalid data V1 & V2"
#### Describe the bug

In the BO > Catalog page > Virtual product, when we try to save a file name with invalid data, an exception is displayed in the console

#### Expected behavior

A clear error should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products page
2. Add a virtual Product
3. In the virtual product tab > Select "Yes" to associate a

[2021-04-21 15:10] florine2623 commented on #23777
Hello @jorr-it ,

After changing my $url and my $key to match my shop configuration, I encountered a 500 error :
![Capture d’écran 2021-04-21 à 17 07 03](https://user-images.githubusercontent.com/16019289/115576651-01a7dc80-a2c4-11eb-9574-3c4cbfdcfc91.png)

I checked all options :
![Capture d’écran 2021-04-21 à 17 09 38](https://user-images.githubusercontent.com/16019289/115577095-69f6be00-a2c

[2021-04-21 15:39] idnovate opened #24152 "Button "Place order" from checkout is not enabled with a free order"
#### Describe the bug

If you disable "Terms of service", it is not possible to place a free order.

#### Expected behavior

Button "Place order" should be enabled automatically.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule with a high discount

![image](https://user-images.githubusercontent.com/15104724/115581111-ff478180-a2c7-11eb-95fd-51b601e4011a.png)

2. D

[2021-04-21 15:48] khouloudbelguith commented on #23939
Hi,

This issue is not reproduced anymore with 178x branch :tada:
https://drive.google.com/file/d/17RHEyVXoFBWwjUGYpGdzbHiRrEp0vAXt/view?usp=sharing

I will close the issue.

[2021-04-21 15:48] #23939 closed, assigned to nobody

[2021-04-21 15:54] rbeau commented on #24097
Dear hibatallahAouadni,

I applied some proposition but there is any change. I getting same error when I change order status.

Could you, please explain me more about relation of id_address with this bug to solve its ?

Thanks !

[2021-04-21 15:54] hibatallahAouadni commented on #23784
Hello @gennaris

As discussed with @matks & @ldeprestashop this is an improvement :wink:

So, thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.

[2021-04-21 16:00] florine2623 commented on #24152
Hello @idnovate ,

I was able to reproduce the issue with PrestaShop version 1.7.7.3, so I can confirm that this behavior is indeed a bug.

In develop, the behavior is different, but results in a bug too. The result is the same as https://github.com/PrestaShop/PrestaShop/issues/23230

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolv

[2021-04-21 16:04] florine2623 commented on #24152
Duplicate of #9927

[2021-04-21 16:04] #24152 closed, assigned to nobody

[2021-04-21 16:08] khouloudbelguith commented on #9664
Hi!

I manage to reproduce the issue with 178x branch
![image](https://user-images.githubusercontent.com/16067358/115586115-8c8cd500-a2cc-11eb-8f16-79c514d72232.png)

Thank you!

[2021-04-21 16:14] florine2623 commented on #24141
Hello @loetje88 ,
I can't reproduce your issue in PS 1.7.7.3. Please check my screen record :
https://drive.google.com/file/d/1mUaIJma4jsYUBBUbfZ_6A16t14Uri9nv/view

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support p

[2021-04-21 16:14] #24141 closed, assigned to nobody

[2021-04-21 16:19] marionf opened #24153 "The "on sale" flag should be linked to the reduced prices"
#### Is your feature request related to a problem?

Currently, the "On sale!" flag can be added even for products without reduced price, this brings confusion because some users use this flag to highlight products with a reduced price, while others use it to highlight end of stock products without a reduced price.

#### Describe the solution you'd like

Use the "On sale!" flag only for products wi

[2021-04-21 16:31] loetje88 commented on #24141
@florine well that's too bad because as seen in my record, the bug does exists.

Just as many, many other reports here.

Closing reports withing this short time just because ' you can't reproduce' does not solves the problem.

So, onze again, please re open this issuem

[2021-04-21 16:40] matks commented on #24141
@loetje88 we do not open and validate a bug report because someone has an issue on its shop. There is 300,000 shops powered by PrestaShop, and all of them are installed in different servers with thousand of different configurations, setups, environment settings. You can add to this that all of these shops have installed third party modules, custom themes and sometimes some more changes like overri

[2021-04-21 16:45] loetje88 commented on #24141
hi matks,

unfortunately, there is not much more i can tell since it is a fresh install with no third party modules and so on.
Just install, delete install folder, log in, look at demo product, try to delete - nothing.
No error, no nothing, it just freezes until i refresh and see the same combination again.

Just as shown in my previous video recording.

I have several live running webshops on ps

[2021-04-22 03:48] Ideoclic commented on #24135
-> Same problem for **1.7.6.9**
-> In **1.7.6.9** Price Ecotax is bug when i add him so i fix with that : https://github.com/PrestaShop/PrestaShop/issues/10026#issuecomment-457350536 (I don't know if a better fix exist)

![1 7 6](https://user-images.githubusercontent.com/80488574/115652726-1325ce80-a32e-11eb-92db-b859e0ac2e9f.png)

[2021-04-22 06:25] jorr-it commented on #23777
@florine2623 Thanks for you reply. Forgive me, but I will repeat my questions from my previous comment:

In your PrestaShop instance, you have to set the constant PS_MODE_DEV to true. This can be done in config/defines.inc.php. After that you will get the more specific error message in the http body when the webservice displays error 400 or 500.

Can you tell me if this was the solution? If not, p

[2021-04-22 07:54] JevgenijVisockij commented on #17081
Hey. I separated merchandise return into smaller parts to make it easier to review, test and merge. Currently plan is.

1. Initial merchandise return view migration. Only view with state saving, no PDF printing or product list.
2. Product LIst for merchandise return view
3. PDF printing. Start replacing all PDF printing in modern controller so die is no longer used.
4. Rename the remaining merchan

[2021-04-22 08:47] hibatallahAouadni commented on #22218
Hello @timactive

Could you please answer @MatShir question :pray:

WDYT?

Usually, we close the unanswered issue within 20 days, but because you provide a PR, you have up to 10 days to answer :wink:
This is just a friendly reminder :relaxed:

Thanks!

[2021-04-22 08:56] xn0ak opened #24156 "Error when edit category "Unable to load template 'file:helpers/uploader/ajax.tpl'""
Hello,

I'm using prestashop 1.7.7.3 and when I try to edit a category I get the error:
Oops... looks like an unexpected error occurred

An exception has been thrown during the rendering of a template ("Unable to load template 'file:helpers/uploader/ajax.tpl'").

[Twig\Error\RuntimeError 0]

Any ideas how to fix?

[2021-04-22 09:20] timactive commented on #22218
Hi @MatShir,
Sorry for the latence.
Can you communicate the use case perhaps i will more understand the problematic with it?
Currently the process who update physical/qty reservation information is after the hook, but sure the real qty has been updated before this hook.
[code]
Secondly it is my personal opinion a hook with a name 'actionOrderStatusPostUpdate' must be realy call when the process ha

[2021-04-22 09:34] hibatallahAouadni commented on #23773
Hello @yannicka

Thanks for your patience :pray:
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is related to #19095 and IMHO I think your issue will be fixed when we fix this one #19095.

So, I will notify the Developer Team about this issue :wink:

PS: I just update your issue, please check it :wink: and feedback.

Thanks!

[2021-04-22 09:34] hibatallahAouadni commented on #19095
Related to #23773

[2021-04-22 09:39] hibatallahAouadni commented on #24156
Hello @xn0ak

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2021-04-22 09:39] #24156 closed, assigned to nobody

[2021-04-22 09:39] matks commented on #23868
Hi everyone, I am not 100% sure it is an issue 🤔  . It might be working as expected.

X number of decimals are only displayed if the product price has X decimals.
If produce price is 10.325€, it will show 3 decimals
If product price is 15.66€, it will show 2 decimals

I understand you consider it a problem, so let's see with @PrestaShop/product-team .

Hi @PrestaShop/product-team today, we have th

[2021-04-22 10:00] marionf commented on #23868
Personally I would say this is the desired behavior but @MatShir know better this topic than me :)

[2021-04-22 10:01] lmeyer1 opened #24157 "Minor problems with image thumbnail generation"
#### Describe the bug

1. A thumbnail of a transparent gif has its background changed from transparent to white.
2. In menu *Improve - Design - Image Settings*, some settings are restricted to the context *All shops*, while other are not, even though different settings in different shops might give unexpected results.

#### Expected behavior

1. A transparent gif should keep its transparency when

[2021-04-22 11:27] khouloudbelguith commented on #22946
Hi!

This issue will be fixed with this PR:
https://github.com/PrestaShop/PrestaShop/pull/24088

Thank you!

[2021-04-22 11:33] khouloudbelguith commented on #22951
Hi!

I manage to reproduce the issue with the 177x branch (1773).

Thank you!

[2021-04-22 11:35] hibatallahAouadni commented on #24157
Hello @lmeyer1

I believe you've mixed the PrestaShop version and PHP version :sweat_smile:
As much as I understand you're reporting two bugs, is that so?
And could you please provide steps to reproduce the issues (your report is well detailed :clap: but we need these steps :wink: )

Please check and feedback.
Thanks!

[2021-04-22 11:46] hibatallahAouadni commented on #24097
Hello @rbeau

Could you please post your question in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack)
You may get some help from our contributors or our developers :wink:

Thank you

[2021-04-22 12:14] didi-2018 opened #24158 "I have no access to old orders (from 2019) PS 1.7.7.3"
#### Describe the bug
I try to open an old order from 2019 but I only get an error message `(see the first attached screenshot below)`
After enable Debug Mode I get the Errors in the video `(see the attached screen record below)`

https://drive.google.com/file/d/1ezyd3Q5Mr1GvwF5HkeqIVncMPs690CWM/view

and disable Debug mode is not more possible `(see the second attached screenshot below)`
It is ha

[2021-04-22 12:23] lmeyer1 commented on #24157
@hibatallahAouadni

Sorry, I edited

Yes, it is.

The intention of this issue is to further document the corrections I introduced in PR #24159. I didn't mean reporting a bug for you to fix. If you still need a test file and detailed steps, I could do it for you, but if it's no longer needed since my PR, I prefer put my energy in developing our shops.

Thank you

[2021-04-22 12:55] didi-2018 commented on #24158
It happens for all Orders OLDER than 01.03.20 from 29.02.20 and older.

Orders from 01.03.20 and up have not those problems.

Can you please check this?

[2021-04-22 13:00] matks commented on #24158
Probably duplicate of https://github.com/PrestaShop/PrestaShop/issues/22862

[2021-04-22 13:09] matks commented on #10608
OK

[2021-04-22 13:09] #10608 closed, assigned to nobody

[2021-04-22 13:09] matks commented on #10603
OK

[2021-04-22 13:09] #10603 closed, assigned to nobody

[2021-04-22 13:17] matks commented on #23767
@sowbiba I did a quick analysis and found nothing. That was to make sure 1.7.8 was "safe".

Would you please perform a deeper analysis to validate that old classes (now deprecated and replaced by the classes you created) are indeed not used anymore? 😊

[2021-04-22 13:18] djoo commented on #18151
Thanks a lot ! It works ! I was looking for this since a long time. Shame than prestashop doesn't fix this.

[2021-04-22 13:19] djoo commented on #18151
Thanks a lot ! It works ! I was looking for this since a long time. Shame than prestashop doesn't fix this.

[2021-04-22 13:23] jonasburneika commented on #23164
Hi @hibatallahAouadni I want to point out, that the watermark regeneration method `_regenerateWatermark ` (https://github.com/PrestaShop/PrestaShop/blob/4e0d57b00ea36af5b3db14a9aab4d5d29c8b090f/controllers/admin/AdminImagesController.php#L610) will not happen if the method  `_regenerateNewImages` (https://github.com/PrestaShop/PrestaShop/blob/4e0d57b00ea36af5b3db14a9aab4d5d29c8b090f/controllers/ad

[2021-04-22 13:34] didi-2018 commented on #24158
@matks they report any orders. I report orders older than 29.02.20. So I do not think it is the same. I will check tomorrow if the time range changes from day to day.

I've been thinking for a long time to update to 1.7.7.x or not. Than I decided to but I regrett it from the Beginning. Only problems.

Can I go back to 1.7.6.9 and use the database from 1.7.7.3? That would be the best. I have not ex

[2021-04-22 13:34] prston commented on #22215
@ekuiperemr I agree with you. I think that Presta core must be fixed, to correct the wrong behavior inside core classes, not by letting users patching their databases using SQL crumbs found here or somewhere else. IMHO that's the only way for PrestaShop to be fully retro-compatible as advertised.

This is lack of retro testing, not users or third-party plugins fault. Thank Farooq for the clear pro

[2021-04-22 13:42] ajejebrazorf01 commented on #16132
😴😴😴😴

[2021-04-22 13:46] kmorgen commented on #24158
Try to do this:
https://tecserve.eu/prestashop17/prestashop-error-after-upgrading-1-7-7-1/

Open your database with your favorite tool (ex. phpMyAdmin) and paste all the mentiond the code into your SQL command line and run it.

[2021-04-22 14:15] matks commented on #16132
Hello @ajejebrazorf01 it seems that this issue is important for you.

If you find that any issue is critical for you, and it's important to have it fixed ASAP, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request --

[2021-04-22 14:27] #21173 closed, assigned to bpato

[2021-04-22 14:31] PierreRambaud commented on #22026
I see the problem on your screen because you don't move your cursor. When rebuilding the form, the focus is on the decrease button, I manage to reproduce it, but it can't be fixed, it's because of the browser, not the PrestaShop implementation.

We can close it as we can't do anything.

[2021-04-22 15:01] #22026 closed, assigned to NeOMakinG, MatShir

[2021-04-22 15:16] marionf opened #24164 "Release 1.7.7.4"
This issue tracks the status of the PrestaShop 1.7.7.4 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated build**  | 2021-04-28
**Milestone** | [1.7.7.4](https://github.com/PrestaShop/PrestaShop/milestone/72)
**Kanban** | [1.7.7.4](https://github.com/PrestaShop/PrestaShop/projects/14

[2021-04-22 15:28] wzzly opened #24165 "PHP Notice: Array to string conversion in classes/Hook.php on line 935"
#### Describe the bug

Every time I visit the BO order page, I get a PHP notice on the server log with PS 1.7.7.3 and PHP 7.3:

line with --> is line 935 of Hook.php

[code]

[code]

#### Expected behavior

I expect no php notice with php 7.3

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Click on Orders
4. See error in log

**Screenshots**

If applicable, add screensho

[2021-04-22 15:29] prston commented on #24158
@didi-2018 there is a full thread on issue #22862 in addition to @kmorgen link

https://github.com/PrestaShop/PrestaShop/issues/22862

[2021-04-22 15:33] IsaiChristian opened #24166 "Will prestashop work with PHP Swoole?"
#### Is your feature request related to a problem?
"Swoole enhances the efficiency of your PHP applications and brings you out of the traditional stateless model, enabling you to focus on the development of innovative products at high scale, brining event loops and asynchronous programming to the PHP language."
https://www.swoole.co.uk/
PHP swoole benchmarks seems impressive,
it allows php to work

[2021-04-22 15:47] patrys666 opened #24167 "Prestashop 1.7.7.2 BO find product by specific ID not range"
#### Describe the bug

It is a pain when I search for a product by ID and get a lot of results

#### Expected behavior

 I'm wondering if it's possible to change filter form from searching by ID MIN-MAX to one field where i can type specific ID.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog->Products

#### Additional information

* PrestaShop version: 1.7.7.2

Can so

[2021-04-22 17:37] didi-2018 commented on #24158
@kmorgen thank you for the hint!

This would be happen if I do this:

SQL-Befehl:
UPDATE uhqb_address SET phone = '' WHERE phone IS NULL
Gefundene Zeilen: 0
SQL-Befehl:
UPDATE uhqb_address SET phone_mobile = '' WHERE phone_mobile IS NULL
Gefundene Zeilen: 0
SQL-Befehl:
UPDATE uhqb_order_detail SET id_order_invoice = '0' WHERE id_order_invoice IS NULL
Gefundene Zeilen: 0
SQL-Befehl:
UPDATE uhqb_ord

[2021-04-22 18:36] didi-2018 opened #24169 "address field "other" is not more shown in order PS 1.7.7.x"
#### Describe the bug

Have an order with an customer address with an entry in address field "other" and it is not more shown in the order in the addresses

#### Expected behavior

See entry from address field "other" in order at the addresses.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have a customer address with an entry in the address field "other"
2. Have an order with thi

[2021-04-22 19:20] didi-2018 opened #24170 "missing translation in order_conf mail for bankwire payment PS 1.7.7.x"
#### Describe the bug

Missing translation in order_conf mail for bankwire or check payment.
The additon "(waiting for validation)" after Bankwire Payment in order_conf mail is added since PS 1.7.7.x and was not there before.

#### Expected behavior

have the opportunity to translate it

#### Steps to Reproduce

Steps to reproduce the behavior:

1. have Deutsch (German) or Arabic language
2. make

[2021-04-22 20:32] Rainartt commented on #9613
Hello,

Is this still not fixed two years later?

Having issues with our shop, PS v1.7.6.7

Thank you.

[2021-04-22 21:16] didi-2018 opened #24171 "changing price range from an exixting carrier is not possible PS 1.7.7.x"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-23 05:33] Whip opened #24174 "Tax rate in invoice wrong when combining taxes"
I posted this on the forums first but didn't get any reply. I will explain my tax setup here. I have 2 taxes:

- CGST (6%)
- SGST (6%)

Then I created a tax rule called GST which contains both of the taxes above and mode set to Combine. So the customer should be charged 12% on the order.

Then I created an order, the calculations are all correct but in the invoice, the Tax Detail table shows 6% ta

[2021-04-23 06:07] hasager1 opened #24175 "Create order from back office issue 1.7.7.1 to 1.7.7.3"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. Click on 'Add a new order from the Back office and select a customer'
3. Scroll down to 'The section where you can sent payment link or go to checkout page'
4. When you click

[2021-04-23 07:22] florine2623 commented on #24166
Hello @IsaiChristian ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement

[2021-04-23 07:25] MatShir commented on #23957
It is definitely a bug.
The order view page should display the Total as Product Price tax excluded. + the Taxes. The display on the order list is correct.
And when editing the product, the total should remain tax excluded.

[2021-04-23 07:33] florine2623 commented on #24167
Hello @patrys666 ,

This is a wanted feature.
If you want to show only one product, you can put the same id in both fields :
![Capture d’écran 2021-04-23 à 09 33 02](https://user-images.githubusercontent.com/16019289/115835740-e8637500-a416-11eb-8a1f-2a6355f44f81.png)

Only one result will show.
Thanks!

[2021-04-23 07:33] #24167 closed, assigned to nobody

[2021-04-23 07:34] matks commented on #24166
@florine2623 as Swoole seems to be a solution that aims to replace Apache and Nginx I dont think Product Team will be able to tell us 😉  it's very technical 😞  .

Hello @IsaiChristian I did not know about Swoole before. If I get it right, it aims to be a replacement for Apache and Nginx?

I dont know whether PrestaShop can work with Swoole today (without changes or with minor changes) but I dont t

[2021-04-23 07:39] florine2623 commented on #24175
Hello @hasager1 ,

Please check this issue https://github.com/PrestaShop/PrestaShop/issues/22464
and this comment : https://github.com/PrestaShop/PrestaShop/issues/22464#issuecomment-747308409

To be informed when it's fixed, please subscribe to the issue mentioned above.
Thank you

[2021-04-23 07:39] #24175 closed, assigned to nobody

[2021-04-23 07:39] florine2623 commented on #24175
Duplicate of #22464

[2021-04-23 07:42] kpodemski commented on #24021
Thanks @hibatallahAouadni - it's fixed on `dev`, you have PR linked to this issue 👍

[2021-04-23 07:44] florine2623 commented on #24165
Hello @wzzly ,

I can't reproduce your issue by following your steps.

This is just a notice so it is not a bug.
Also please do not display your admin link to the public for security reasons.

Can you give more detail about this issue ?

[2021-04-23 07:50] wzzly commented on #24165
@florine2623  thanks, I edited the links.
I use the orginal Hook.php without any overrides. That's why I thought it had to be a bug?
It's only a notice, but why am I getting it, if this class is the original class?

[2021-04-23 08:00] hibatallahAouadni commented on #24021
@kpodemski Perfect :rocket: Thanks for your PR

[2021-04-23 08:14] florine2623 commented on #24171
Hello @didi-2018 ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further infor

[2021-04-23 08:14] #24171 closed, assigned to nobody

[2021-04-23 08:54] didi-2018 commented on #24171
@florine2623 It has not saved my Template SORRY

[2021-04-23 08:54] Betafer opened #24177 "Invoice language settings suggestion"
#### Is your feature request related to a problem?

The problem is that invoice is created in the language of the shop in backoffice of team member that create it, for example, if the team member has backoffice in Italian all invoices are created in Italian, but if you export outside CE , invoices must be in english.

#### Describe the solution you'd like

A workaround is to set language in englis

[2021-04-23 08:56] didi-2018 opened #24178 "changing price range from an exixting carrier is not possible PS 1.7.7.x"
#### Describe the bug

Changing the price range from a existing carrier is not saved.

#### Expected behavior

Changing the price range from a existing carrier should besaved.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Shipping -> Carriers'
2. Click on a carrier with price range rule and save
3. Go back to that carrier
4. See error that the price range is not saved

**Sc

[2021-04-23 09:26] matks commented on #19496
@marionf In order to fix this issue, I can add the information message.

But I can select any shop context (single shop, group of shop, all shops) in this Back Office page, using the Multistore header.

Should I also _force_ the All Shops context?

[2021-04-23 09:29] PierreRambaud commented on #24103
I put this issue in `Blocked/Need spec` section. I'm waiting for @MatShir 's feedback about what we have to do :)

[2021-04-23 09:32] florine2623 commented on #24174
Hello @Whip ,

I was able to reproduce the issue with PrestaShop version 1.7.7.3, so I can confirm that this behavior is indeed a bug.
![Capture d’écran 2021-04-23 à 11 30 33](https://user-images.githubusercontent.com/16019289/115851628-78111f80-a427-11eb-90e4-544221776a2d.png)

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.

[2021-04-23 09:39] florine2623 commented on #24177
Hello @Betafer ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-04-23 09:54] marionf commented on #19496
@matks Yes, all shops context should be forced and the user not be able to select another context through the context selector

[2021-04-23 10:02] hibatallahAouadni commented on #24147
Hello @dennispw

I didn't manage to reproduce the issue with PS1.7.6.5 on Safari 14, I only reproduce it with PS1.7.7.2 on Safari 14.
So, it's a regression :wink:

FYI: When I create a catalog cart rule with PS1.7.7.2 on Safari 14 and then I try to edit it, it display **Graphic Corner** :x:

![image](https://user-images.githubusercontent.com/23308427/115855550-a7c22680-a42b-11eb-8924-d3710d3b0df4.

[2021-04-23 10:08] florine2623 commented on #24169
Hello @didi-2018 ,

Despite our efforts, we were not able to reproduce your issue with PS 1.7.7.X with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

Please see my screenshots below :
![Capture d’écran 2021-04-23 à 12 07 09](https://user-images.githubusercontent.com/16019289/115856268-9299c780-a42c

[2021-04-23 10:08] #24169 closed, assigned to nobody

[2021-04-23 10:15] hibatallahAouadni commented on #24165
Hello @wzzly

Could you please provide more infos and steps to reproduce more detailed cause as @florine2623 mentioned above following your steps, we couldn't reproduce your issue.

Please check and feedback.
Thanks!

[2021-04-23 10:25] Hlavtox commented on #24153
Hi @marionf, in my country, I can show "On sale" without price reduction without any law consequences. What should I do after this issue is implemented? :(

[2021-04-23 10:34] florine2623 commented on #24170
Hello @didi-2018 ,

Do you also have the issue in the "Versand" part ?
![Capture d’écran 2021-04-23 à 12 31 47](https://user-images.githubusercontent.com/16019289/115859150-13a68e00-a430-11eb-9eee-68cfdab0142c.png)

Please check and feedback.

[2021-04-23 10:57] hibatallahAouadni commented on #24158
Hello @didi-2018

Could you please provide more infos cause I didn't manage to reproduce your issue :confounded:
I see in your screen record that you have a problem with order with customization, is this customization / product deleted?

Please check and feedback.
Thanks!

[2021-04-23 11:57] prestaforum commented on #24103
Hello @didi-2018 @hibatallahAouadni please see https://github.com/PrestaShop/PrestaShop/issues/24103 to fix

[2021-04-23 12:07] Progi1984 commented on #24036
Fixed by #24161

[2021-04-23 12:07] #24036 closed, assigned to PierreRambaud

[2021-04-23 12:28] matks commented on #19496
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/24180

[2021-04-23 12:28] matks commented on #19495
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/24180

[2021-04-23 12:28] matks commented on #19497
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/24180

[2021-04-23 12:33] florine2623 commented on #23977
Hello @zubco ,
I installed the module in my shop 1.7.7.2. Clicked Configure. I see no issues.

Can you let me know the extra step to see the issue ?

Thanks!

[2021-04-23 12:41] florine2623 commented on #23949
ping @PrestaShop/prestashop-core-developers

Could you check the function getCountryAndState() and see if the return is correct ?

[2021-04-23 12:51] florine2623 commented on #23874
Hello @PrestaEdit,

Sorry for the response delay.

After deleting the cat image, I noticed that not only the cat image was deleted, but also the second picture for category thumbnail.

These images can be useful depending on the template you use for your shop.

[2021-04-23 12:51] matks opened #24182 "Flash messages of type 'info' are not displayed in PrestaShop migrated pages"
#### Describe the bug

If you use function
[code]
in PrestaShop Symfony pages, the types 'failure', 'error', 'warning' and 'success'  are displayed but not the type "info".

#### Expected behavior

When using
[code]
in a Symfony controller I should be displayed the message

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Customers Back Office page
2. Modify `src/PrestaShopBundl

[2021-04-23 12:52] zubco commented on #23977
@florine2623 This module is a playground to test the issue, but ofc it requires some technical understanding of PHP/PrestaShop.
For my purposes I used `trigger_error()`, present in both hooks but are commented there (and should be uncommented if you decide to use them).
As reference, for less technical ppl:
The  `actionProductInformationFormBuilderModifier` should be called when accessed in BO - C

[2021-04-23 13:01] florine2623 commented on #23867
Hello @homer8173 ,

Sorry for the delay.

You might find more info here : https://devdocs.prestashop.com/1.7/development/components/form/types-reference/shop-choice-tree/

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [sup

[2021-04-23 13:01] #23867 closed, assigned to nobody

[2021-04-23 13:18] florine2623 commented on #24135
Hello @Ideoclic ,

Please check my invoice with product 18.90 and ecotax 0.156 both tax incl.
![Capture d’écran 2021-04-23 à 15 18 13](https://user-images.githubusercontent.com/16019289/115876878-2082ac00-a447-11eb-8e08-d9ec13c82bc3.png)
![Capture d’écran 2021-04-23 à 15 18 28](https://user-images.githubusercontent.com/16019289/115876911-29737d80-a447-11eb-8bbf-0a3b2cc6d7f8.png)

[2021-04-23 13:24] hibatallahAouadni commented on #23514
Hello @PululuK,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: as discussed on Slack you can re-open when you're available :wink:

Thanks!

[2021-04-23 13:27] marionf commented on #24153
Hi @Hlavtox

The word "on sale", as you can see in [the dictionary](https://www.dictionary.com/browse/on--sale), means that the product is discounted.
So, even if in your country you are allowed to display "on sale" on a product without price reduction, it's a kind of lie as it doesn't feet the definition of "on sale".

Maybe you are confusing with "for sale" which means the product is offered to

[2021-04-23 13:27] marionf commented on #24107
Hi @Hlavtox

I made a [new PR](https://github.com/PrestaShop/PrestaShop/pull/24151), we are going to keep "On sale" flag for now

I opened [this issue](https://github.com/PrestaShop/PrestaShop/issues/24153) for the "On sale" flag. The purpose is to link it with the specific prices as "on sale" means that the product has a reduced price.

Some merchants might want to put forward some specifics prod

[2021-04-23 13:30] florine2623 commented on #23920
Thanks for the details @lmeyer1

@hibatallahAouadni could you try to reproduce the issue please ? On my end, I am unable to do so.

[2021-04-23 13:38] florine2623 commented on #24178
Hello @didi-2018 ,
I can't reproduce your issue.
Please check my screen record :
https://drive.google.com/file/d/14FLfz5b181tK_dqGUp-E67agSeuV4ISQ/view

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https:/

[2021-04-23 13:38] #24178 closed, assigned to nobody

[2021-04-23 13:46] florine2623 commented on #24073
Hello @Esh-network ,
Could you send me the steps to reproduce the issue so i can test on my end ?

Thanks!

[2021-04-23 13:50] matks opened #24186 "Cannot translate menu item "Experimental Features""
#### Describe the bug

The new Back Office page "Experimental features" can be visited through the menu item "Experimental Features"

![Capture d’écran 2021-04-23 à 15 48 15](https://user-images.githubusercontent.com/3830050/115880781-62adec80-a44b-11eb-9c09-5bb4c93ef778.png)

But this menu entry cannot be translated in the Translations interface. This is because menu entries are not controlled

[2021-04-23 13:51] florine2623 commented on #23838
Hello @ioniks ,

Sorry for the long answer.

Where exactly do you add  {$product.availability_message} in the file templates/catalog/_partials/miniatures/product.tpl.
Is there a specific line ?

[2021-04-23 14:24] hibatallahAouadni commented on #23920
Hello @lmeyer1

Thanks for your issue and your PR :rocket:
I manage to reproduce the issue with PS1.7.7.3 and PS1.7.6.7, see the attached screen record below:

https://drive.google.com/file/d/1lz0NK38Kuy0-8-7jLIATi_fxxUmPD7P8/view

I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2021-04-23 14:26] SharakPL commented on #18126
Just had to deal with this issue when I moved my shop to another server. Turning off SSL fixed the problem. SSL seems to be enabled on the server, but my nginx configuration isn't properly configured yet.

[2021-04-23 14:32] Esh-network commented on #24073
Bonjour,

très bien je vous fait 2 vidéo

Dans la première vidéo c'est le problème que j'ai avec les factures avec deux gestion différent car 1 facture à des prix spécifique sur les produits et l'autres facture non.

dans la vidéo la facture de gauche = sans prix spécifique et facture de droite avec prix spécifique.
vidéo 1 : https://cdn.esh-dev.fr/upload/Produits%20%E2%80%A2%20demo%20presta%20-%2

[2021-04-23 14:33] khouloudbelguith commented on #20041
Hi @PierreRambaud,

Yes, I did not manage to reproduce the issue with the 178x branch and 177x branch using the `contactform` module v4.3.0.
https://drive.google.com/file/d/1WQR-GXY1ko5jWPU_cNQCUQVXEiIcdjCt/view?usp=sharing

I will close the issue.

Thank you!

[2021-04-23 14:33] #20041 closed, assigned to PierreRambaud

[2021-04-23 14:43] khouloudbelguith commented on #16555
Hi @marionf,

Yes, this issue is fixed with https://github.com/PrestaShop/PrestaShop/pull/24049.
Now we can export the classic theme using these option
![image](https://user-images.githubusercontent.com/16067358/115888171-e9b29300-a452-11eb-82f1-e987b38de9c6.png)
Now, we will have all xlf files
[translations_export_en-US (1).zip](https://github.com/PrestaShop/PrestaShop/files/6366084/translations_

[2021-04-23 14:43] #16555 closed, assigned to nobody

[2021-04-23 15:11] Ideoclic commented on #24135
Hello @florine2623

Your invoice **is not good**, because if your product has 0.156 TTC (ecotaxe) on your invoice in HT, you sould have **0.13** and not 0.16

Ecotaxe is include in the price

Check this invoice.

![produitflorine](https://user-images.githubusercontent.com/80488574/115891736-b3771280-a456-11eb-9947-bbed0f6c30b4.png)

![florinegithub](https://user-images.githubusercontent.com/804885

[2021-04-23 15:24] didi-2018 commented on #24170
@florine2623  I removed the double Payment in the Shipping Section from the Beginning of the new Mail Templates. I found it not neccessary to have it twice.

[2021-04-23 15:47] Hlavtox commented on #24153
@marionf Don't forget people can make a discount using catalog rules.

Is it really worth the effort? IMHO, you are just creating problems where they don't exist. Nobody cares about some 'On sale' flag. 🤷🏻‍♂️

[2021-04-23 15:55] arturas-bes opened #24190 "Same carrier name is not included in payment preferences which causes "No payment method available message""
Related issue: #20023
#### Describe the bug

I was investigating an issue when while selecting some country, payment method are not available
When going deeper I figured that its not a preference settings problem
After that I noticed that, carrier is missing in my payment preferences which had a duplicate name(as carrier name is not translatable)
After I changed carrier name It appeared in payment

[2021-04-23 16:05] Julievrz opened #24191 "Change wording when editing the price of a product that appears multiple time in an order"
#### Is your feature request related to a problem?

The same products but with a different customization can appear multiple times in an order.
If the user edits the price of one of the products, it will apply to all identical products.
Right now, the wording is not clear enough as it mentions 'invoices'. But the situation can happen too even if no invoices has been generated yet.

See https://git

[2021-04-23 16:43] patricecarrier opened #24192 "Problème page produit qui n'apparaît plus"
Bonjour la communauté,

Site : https://lepetitfreshy.fr/

Problème :
Tout fonctionnait bien puis d'un coup la page boutique espace pro n'est plus accessible.
Dans les logs, il y a des fichiers qui ont été modifiés, pas par moi pour le coup :
LICENSES
classes/Product.php
classes/Cookie.php
classes/module/ModuleGraph.php
controllers/front/OrderController.php
js/jquery/plugins/jquery.validate-creditc

[2021-04-23 18:49] didi-2018 commented on #24169
@florine2623 your screenshot is not a screenshot from an order! Please check it in your order section in backoffice. I don´t know from where your screenshot comes? But is not from into the order.

![image](https://user-images.githubusercontent.com/44971218/115916215-c8629e80-a474-11eb-9ac2-221fbe0ec010.png)

**THIS** is a screenshot out of an order from PS 1.7.7.x:

![image](https://user-images.gi

[2021-04-23 20:28] matks commented on #24192
Bonjour @patricecarrier

Je suis désolé, ce repository GitHub est utilisé uniquement pour soumettre des rapports de bug ou des demande de nouvelles fonctionnalités, pas pour des demandes d'aide.

Je vous recommande de rechercher de l'aide sur le forum communautaire https://www.prestashop.com/forums/forum/18-forum-francophone/ ou à souscrire à une offre de support de la société de PrestaShop https:

[2021-04-23 20:28] #24192 closed, assigned to nobody

[2021-04-23 21:12] samberrry commented on #23868
@marionf @matks
Hi,
there are two different bugs. One is the inherent functionality for this feature, which when we set Decimals to 3 it does not show 3 digits. This is really a bug which is as a result of running this line as I've mentioned it in the pull request:
`(self::$_taxCalculationMethod == PS_TAX_EXC ? 2 : 6),`
as you see digit is fixed to '2' which is used as the floating digits.

Anothe

[2021-04-23 21:26] elodie66000 opened #24193 "Prestashop 1.7.7.0 runs very slowly untimely"
Hello,

on a prestashop 1.7.7.0 with purchased theme.

The site is abnormally between each category but a few times during the day otherwise it is untimely.

https://hkboutik.fr/

After multiple tests on one discovered that it came from initcontent and too important mysql requests.

thank you

php 7.3
![INDEX](https://user-images.githubusercontent.com/29275423/115931352-43cf4a80-a48b-11eb-9837-9c9

[2021-04-23 21:57] erwanregnier opened #24194 "1.7.7.3 Webservices issue on PUT with HTML/CData"
#### Describe the bug

404 error for Webservices PUT request when sending HTML (even an empty CDATA element) in the description field
The error is not present in POST, only when updating

#### Expected behavior
Should update the product

#### Steps to Reproduce
Using the [Prestashop Webservices Library][1] to create and update products.

I'm able to update the product if I remove the html, but it

[2021-04-24 02:35] didi-2018 commented on #24158
@hibatallahAouadni no I have none products with customization.

[2021-04-24 08:13] Hlavtox commented on #24153
You want to link this to specific prices right? How will the user know the discount amount when its not shown for specific prices? Isnt that the same if you change the basic price?

You need to do catalog rules for discount to show. How will you check that the conditions are met, when they can be for specific countries and customer groups?

How will you uncheck on_sale if you disable the catalog r

[2021-04-24 11:43] cryonos commented on #24194
Two additional notes:

- The 404 error doesn't come from the WebserviceRequest.php class ( I logged all of them and the debug mode just return a 404 without a specific message)
+
- It works when doing an urlencode of the description field, then doing a specific urldecode around line 1594 of the WebserviceRequest.php

So the problem seems to come earlier in the process, but only for PUT requests...

[2021-04-24 12:06] matks commented on #23149
Hi @hibatallahAouadni

See this issue to understand better #23186

If the issue only happens for very specific strings, should this be a Major bug or a Minor?

[2021-04-24 12:13] matks commented on #20332
@PrestaShop/qa-team would it be possible to verify if bug is reproducible with PS 1.7.7.3 ?

Upgrade process many issues have been fixed for PS 1.7.7.2

[2021-04-24 12:15] matks commented on #20178
@SD1982 does it happen for any prices, or is this only for the Orders that are installed when shop is installed (fixtures)?

[2021-04-24 12:15] Maofree opened #24197 "Wrong price in the document list for the delivery slip in the admin order page"
Hi

#### Describe the bug

if you go into an order page where the delivery slip is generated, the document list shows an amount different from that one shown in its pdf

#### Expected behavior

the amount associated to the delivery slip should be the same of its pdf

#### Steps to Reproduce

go to an order page from BO and look the document list, the delivery slip shows a different price of its pd

[2021-04-24 12:16] matks commented on #19552
Hello everyone, the simplification of MaintenanceType has been merged https://github.com/PrestaShop/PrestaShop/pull/22379.

@PrestaShop/qa-team could it be possible to verify if issue is fixed for 1.7.8 ?

[2021-04-24 12:21] matks commented on #18813
Hello @PierreRambaud and @jolelievre is this really a bug, or rather a limitation of Doctrine capabilities in PrestaShop ?

A bug is "We wanted to build A, we worked on it, we shipped A and after some time someone told us A is faulty".

AFAIK we never worked on making Doctrine available on FO (primary target was BO), this is why I wonder if "bug" is the right word. "Known limitation" feels better?

[2021-04-24 12:23] Big1982 opened #24198 "[SPAM] deleted"

[2021-04-24 12:27] matks commented on #18229
Hi @PierreRambaud @PululuK can we discuss again about this status ?

I kind of agree with @PierreRambaud that it's the module responsibility, not the Core responsibility, to deal with this. Also I see the PR has got stale since one year https://github.com/PrestaShop/PrestaShop/pull/18230

I am not against the PR https://github.com/PrestaShop/PrestaShop/pull/18230 but I find it strange to mark this

[2021-04-24 12:29] matks commented on #16565
Hi everyone, I am happy that this was marked `Major` but it's a broad topic (almost an Epic), not something we can work on when we can dedicate some time.

I consider this an improvement rather than a bug 😉

[2021-04-24 12:38] matks commented on #22029
@MatShir @marionf Just discovered https://github.com/PrestaShop/PrestaShop/issues/10030 😆

[2021-04-24 12:40] matks commented on #10005
Hi @PrestaShop/qa-team would it be possible to verify if this issue is still open?

Two issues are mentioned here
- Cart is reset when I login
- Cart is not persisted when I switch devices

1st issue seems to be a bug indeed but may already been fixed.
2nd issue seems to be an improvement rather than a bug.

[2021-04-24 12:43] matks commented on #9973
Hi everyone, we have been able to deliver https://github.com/PrestaShop/PrestaShop/issues/19242 and this might have found very ancient translation issues.

@PrestaShop/qa-team is it possible to verify if this issue has been fixed in 1.7.8 ?

[2021-04-24 12:44] matks commented on #9972
This issue seems similar to https://github.com/PrestaShop/PrestaShop/issues/12078

[2021-04-24 12:51] matks commented on #9832
Hi @PrestaShop/qa-team this bug seems similar to https://github.com/PrestaShop/PrestaShop/issues/13468 is it a duplicate ?

[2021-04-24 12:52] matks commented on #9826
Ping @jolelievre @zuk3975 @NeOMakinG

[2021-04-24 12:54] matks commented on #9809
Ping @jolelievre @MatShir this is EXACTLY what we aim to fix with Experimental Product Page !

[2021-04-24 12:56] matks commented on #9710
Hello @marionf we have marked ps_imageslider as "This module is not compatible with the multistore ❌"

https://github.com/prestashop/ps_imageslider

So this issue here, what is its status? do we want to add multistore to ps_imageslider one day (then it's an improvement) or was it always expected but it's not done yet (then it's a bug) ?

[2021-04-24 13:24] matks commented on #20954
@PierreRambaud @jolelievre It seems someone managed to fix the Behat tests https://github.com/PrestaShop/PrestaShop/blob/develop/tests/Integration/Behaviour/Features/Scenario/Order/order_specific_prices.feature as they are back to initial version (before PR https://github.com/PrestaShop/PrestaShop/pull/20939 with nasty fix)

We can close this issue.

[2021-04-24 13:24] #20954 closed, assigned to PierreRambaud, matks

[2021-04-24 13:28] #24198 closed, assigned to nobody

[2021-04-24 13:51] matks commented on #9574
Hi @PierreRambaud I think the errors come from the validation `isMessage()` used for the 2 fields Cart->message and OrderMessage->message
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Validate.php#L377

[code]

The validation looks for the characters '<', '>', '{' and '}' so indeed it fails (badly).

Do you think such constraint makes sense? Usually I would say that a message is a

[2021-04-24 13:59] matks commented on #9811
Cannot verify if this bug is fixed because we [cannot change the default category](https://github.com/PrestaShop/PrestaShop/issues/24130) of a product 😅 .

Need to be verified when https://github.com/PrestaShop/PrestaShop/issues/24130 is fixed

[2021-04-24 14:00] matks commented on #24130
When this bug is fixed, let's check if https://github.com/PrestaShop/PrestaShop/issues/9811 is fixed

[2021-04-24 19:24] glowstore commented on #12452
Hi, I have the same problem and I can't deal with it.
My shop has stopped allowing "add to cart" on the product page.
It works on the home page.
After entering the product, the website does not work as a person.
The error that shows up on the debug is the same.

[2021-04-24 21:13] Kucing121 opened #24199 "#hasbiallah"
#### Is your feature request related to a problem?

A clear and concise description of what the problem is. Ex. "I'm always frustrated when..."

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.

#### Alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#### Additional context

[2021-04-24 21:14] Kucing121 commented on #24199
#hasbiallah

[2021-04-25 07:32] is-aie10 opened #24201 "I"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-25 07:55] is-aie10 opened #24202 "I"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-25 08:16] is-aie10 opened #24203 "Listo"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-25 08:32] starfronteer opened #24204 "Yahoo"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-25 11:30] hibatallahAouadni commented on #24204
Hello @starfronteer

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-04-25 11:30] #24204 closed, assigned to nobody

[2021-04-25 11:31] hibatallahAouadni commented on #24203
Hello @is-aie10

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-04-25 11:31] #24203 closed, assigned to nobody

[2021-04-25 11:31] hibatallahAouadni commented on #24202
Hello @is-aie10

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-04-25 11:31] #24202 closed, assigned to nobody

[2021-04-25 11:32] hibatallahAouadni commented on #24201
Hello @is-aie10

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-04-25 11:32] #24201 closed, assigned to nobody

[2021-04-25 11:32] hibatallahAouadni commented on #24199
Hello @Kucing121

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-04-25 11:32] #24199 closed

[2021-04-25 11:34] hibatallahAouadni commented on #24193
Hello @elodie66000

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-04-25 11:34] #24193 closed, assigned to nobody

[2021-04-25 11:47] hibatallahAouadni commented on #23149
@matks Of course **Minor** 😓 sorry I didn't notice that the **Major** label was assigned.

[2021-04-25 13:21] Addsuk opened #24205 "1-Click Upgrade Module"
Hi,
I'm looking for the link to download the 1-Click Upgrade Module however it's not found on the website https://addons.prestashop.com/en/data-migration-backup/5496-1-click-upgrade.html?_ga=2.105628100.632139739.1619355143-2109554453.1619355143

How can I download this?

[2021-04-25 14:02] joaolago1113 commented on #23190
When you're taken to the step 4 payment method, all payment options are enabled to choose from, even the options which should not appear due to the selected shipping method.

[2021-04-25 14:54] matks commented on #24205
@Addsuk you can download it from your Back office (visit the page Modules Catalog). Else here https://github.com/PrestaShop/autoupgrade/releases/tag/v4.12.0 it's ZIP autoupgrade-v4.12.0.zip

[2021-04-25 20:03] arouiadib commented on #24130
Hi guys,

**The problem:**
If you go to javascript console in browser and type `window.defaultCategory` you got `undefined`. But if you only type `defaultCategory` it prints the appropriate object.

When  you replace `window.defaultCategory` by `defaultCategory`, the problem is resolved but ESLint throws an error: `defaultCategory is  not declared`. To fix this, I made 2 trials since I am not sure