[2021-12-08 14:12] jlbrd commented on #26899
Thank you @unlocomqx . Yes you are probably right because since my request I tested with your solution and it works.

[2021-12-08 14:12] HanaRebaiQA opened #26919 "BO - An exception is generated while clicking to preview the dropdown-menu of Email Theme with multistore when no order created"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While clicking to preview the dropd

[2021-12-08 14:14] Progi1984 commented on #25849
Fixed by @Oksydan in #25855 and tested by @marwachelly

[2021-12-08 14:14] #25849 closed, assigned to Oksydan

[2021-12-08 14:14] #19789 closed, assigned to nobody

[2021-12-08 14:22] matks commented on #26849
It's possible. We define the expected format and apply formatting.

[2021-12-08 14:23] ttoine commented on #25313
Dear @Hlavtox , we appreciate your active participation in the project, and have enjoyed collaborating with you so far. However, your last [answer](https://github.com/PrestaShop/PrestaShop/issues/25313#issuecomment-985607309) is rude and disrespectful of the [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md). You may not agree with a solution that we propos

[2021-12-08 14:26] ttoine commented on #23496
Hello @hlavtox

Your [answer](https://github.com/PrestaShop/PrestaShop/issues/23496#issuecomment-986808099) is again disrespectful of the [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md). Of course, we are not creating imaginary problems. As already explained in [another issue](https://github.com/PrestaShop/PrestaShop/issues/25313), the role of Product Ma

[2021-12-08 14:33] jlbrd opened #26920 "API Rest : Update an order by PUT : Several fields required"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When updating an order with PUT, se

[2021-12-08 14:51] florine2623 opened #26921 "Main menu not displayed when logged into customer account"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I choose a specific Group acce

[2021-12-08 14:57] alfonsolr09 commented on #23496
I believe that at no time did he violate the code of conduct, I believe that he is simply giving his opinion in a discussion of a problem.

[2021-12-08 14:58] CreatePublicidad opened #26922 "ERROR UPDATING PRESTASHOP"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello everyone, I am new to this gr

[2021-12-08 15:08] CreatePublicidad commented on #15037
Hello I have the same problem with my store in Prestashop, I don't know how I can solve it

[2021-12-08 15:13] matks commented on #19243
Last step https://github.com/PrestaShop/PrestaShop/pull/26923

[2021-12-08 15:27] SharakPL opened #26924 "Cache folders are duplicated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Few last versions of prestashop has

[2021-12-08 15:54] Ryttis opened #26925 "hook actionValidateCustomerAddressForm validation in class CustomerAddressFormCore is not enough efficient"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bug appears  when hook actionValida

[2021-12-08 15:55] matks commented on #13705
@jonathan-tesial CI finally passed on https://github.com/PrestaShop/PrestaShop/pull/26448

Honestly I have never seen this before 😅  github actions getting canceled multiple times on this topic. I'm afraid you were simply unlucky.

[2021-12-08 16:23] klvnsa commented on #26868
Hi @hibatallahAouadni
Did you do the test with only one language enabled?

If you have 2 languages and disable one, you will only have one language enabled. So the language selector will not appear in FO, then occurs the mix of languages.

Thank you so much.

[2021-12-08 17:20] hibatallahAouadni commented on #26920
Hello @jlbrd

Could you please provide the request body that you use to update an order.
Waiting for your feedback.

Thanks!

[2021-12-08 17:24] hibatallahAouadni commented on #26922
Hello @CreatePublicidad

Could you please provide clear and concise steps to reproduce the issue and what was your older PS version before upgrade.
Please check and feedback.

Thanks!

[2021-12-08 21:28] rblaurin commented on #26878
Hello @hibatallahAouadni

I was able to reproduce using Quality Assurance module v1.1.1

Here is the video:
https://watch.screencastify.com/v/y8KQRGIsyTsI0kyxECis

Best regards!

[2021-12-08 21:40] unlocomqx commented on #26899
I don't think this is a bug.
What I think would be better is, when the API returns an int value, it returns it without CDATA.
CDATA is only needed when the node content could potentially be interpreted as XML code (thus it could break the document)
i'll raise a separate issue regarding this.

[2021-12-08 21:48] unlocomqx commented on #14840
@PierreRambaud using CDATA won't help as far as I tested
https://github.com/PrestaShop/PrestaShop/issues/26899#issuecomment-988795621

I think it's better to return int values without CDATA
(thus setting the example and making it easier to copy the response to use in a PUT request)
[code]
As far as I understood, CDATA is only needed when the value has the potential to be interpreted as XML and bre

[2021-12-08 22:41] unlocomqx opened #26927 "Information page is slow"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Information page takes more tha

[2021-12-09 03:35] CreatePublicidad commented on #26922
Hello, how are you? I have version 1.7.8.1 and update to 1.7.8.2 and when I put in debugging I get that error, I do not know why it is due, thank you very much for the help

[2021-12-09 03:36] CreatePublicidad commented on #26922
Hello, how are you? I have version 1.7.8.1 and update to 1.7.8.2 and when I put in debugging I get that error, I do not know why it is due, thank you very much for the help

[2021-12-09 07:18] kpodemski commented on #26878
Thank you for reporting this issue @rblaurin

[2021-12-09 07:19] bmwjoeytsang opened #26928 "Mail Alert 2.2.1 duplicate mail for new order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

we are using PS1.7.3 and just upgra

[2021-12-09 07:53] jlbrd commented on #26920
Hello @hibatallahAouadni,

I send my put request by:
`https://localhost/api/orders/7?ws_key=XXXXXXXXXXRTK3TML2TUG5BL55SHQG&display=full`

The body is:
`<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <order>
        <id>7</id>
        <id_address_delivery>4</id_address_delivery>
        <id_address_invoice>4</id_address_invoice>
        <id_cart>7</id_cart>
        <id_currency>1</id_c

[2021-12-09 07:56] jlbrd commented on #26920
And as says before, ID is required in body but present in URL. Hum, it's currious, no ?

[2021-12-09 07:58] jlbrd commented on #26920
Seeing this behavior, I tell myself that the rules are the same as for POST. No ?

[2021-12-09 08:02] abramofranchetti commented on #25382
yeah definitely related.

[2021-12-09 08:30] Hlavtox commented on #25313
@ttoine Can you please specify which part of Code of Conduct did I break?

I only said that merchants are **not stupid** and we shouldn't looked at them as they were unable to use a table filter they use for 10 years! If something, I stood up for them!

So please, stop being so touchy and affected by everything I say, I don't have time or mood for discussing this for a millionth time. If you have

[2021-12-09 08:34] abramofranchetti commented on #26523
i've updated the doc related to this component

[2021-12-09 08:34] #26523 closed, assigned to nobody

[2021-12-09 08:52] florine2623 commented on #26928
Hello @bmwjoeytsang ,

I can't reproduce your issue.
I received only 2 emails when an order is created :
- order confirmation
- waiting for payment
<img width="368" alt="Screenshot 2021-12-09 at 09 51 59" src="https://user-images.githubusercontent.com/16019289/145364374-c38294bf-e40c-420b-9722-f5f6703f6aef.png">

Can you make sure you have no override ?
Thanks!

[2021-12-09 09:03] florine2623 commented on #26927
Hello @unlocomqx ,

I can't reproduce your issue on branch develop. Please check my screen record : https://watch.screencastify.com/v/dzCAl11t7dM6Et8EMhnj

Could you check this comment : https://github.com/PrestaShop/PrestaShop/issues/20202#issuecomment-662118500 ?

Thanks!

[2021-12-09 09:06] matks commented on #26927
@unlocomqx this is likely to depend on system settings :/

[2021-12-09 09:07] florine2623 commented on #26924
Hello @SharakPL ,

I have the same behavior.
When in production mode, I have `prod` and `pro` folders. When in debug mode I have `dev` and `de` folders.
I'll ping dev team to have their insight.

Thanks!

[2021-12-09 09:07] unlocomqx commented on #26927
@florine2623 Thank you for taking the time to check this
I also checked the PrestaShop demo and it works fast as well.

I do after-sales and connect to many customers BOs and noticed that the Information page is slow everytime.
I will make further checks and see what's causing it on my part.
I'll close this for now as it's not consistently reproducible.

Thanks again

[2021-12-09 09:13] SharakPL commented on #26924
Thanks @florine2623

[2021-12-09 09:37] poterieMadeleine commented on #16869
+1 - Prestashop 1.7.8.1 - Same thing here, when a refund is done without checking product restock checkbox, it increment the stock for this product.

[2021-12-09 09:38] unlocomqx commented on #26927
I figured out why it's not always reproducible.
What's causing the slowdown is not server configuration but the amount of files in the shop.
In this case, the modules and cache folder.

Time in seconds for each test:

<img width="503" alt="2021-12-09 at 10 22 AM" src="https://user-images.githubusercontent.com/793712/145369357-f6529bd6-77c3-4c59-9853-c0a078581ce9.png">

Here's a test with just the

[2021-12-09 09:38] florine2623 commented on #26868
Hello @klvnsa ,

I can't reproduce your issue.
I have 2 languages :
<img width="1187" alt="Screenshot 2021-12-09 at 10 35 12" src="https://user-images.githubusercontent.com/16019289/145371192-b8baa40d-adf7-4aea-a6b0-df325201fef3.png">
All FR :
<img width="1107" alt="Screenshot 2021-12-09 at 10 37 54" src="https://user-images.githubusercontent.com/16019289/145371592-fca1c506-55cb-495a-822f-4eaabbae

[2021-12-09 09:38] #26868 closed, assigned to nobody

[2021-12-09 09:40] florine2623 commented on #26684
Hello @mark-app ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-12-09 09:40] #26684 closed, assigned to nobody

[2021-12-09 09:46] matks commented on #26383
Fixed by https://github.com/PrestaShop/PrestaShop/pull/26613

[2021-12-09 09:46] #26383 closed, assigned to matthieu-rolland, NeOMakinG

[2021-12-09 09:49] florine2623 commented on #26922
Hello @CreatePublicidad ,

I upgraded my shop from 1.7.8.1 to 1.8.7.2, I did not encounter your error.
Do you still have access to your back-office ?
If yes, you could try to rollback to a previous version of your site.

Thanks

[2021-12-09 09:51] florine2623 commented on #26863
Hello @kiwrouge ,

I can't reproduce your issue, the email are all sent.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](http

[2021-12-09 09:51] #26863 closed, assigned to nobody

[2021-12-09 09:58] florine2623 commented on #26858
Hello @musaffar-patel ,

I can't reproduce your issue on PS 1.7.7.
Please check my screen record : https://watch.screencastify.com/v/nXJkbrfhjcSgZ65spnmu

And without the module, do you have any issues ?
Thanks!

[2021-12-09 10:06] florine2623 commented on #26925
Hello @Ryttis ,

On your step 1, in which table should it be checked ?
In `ps_hook`, I have the hook present :
<img width="958" alt="Screenshot 2021-12-09 at 11 00 45" src="https://user-images.githubusercontent.com/16019289/145375381-90cf8301-900a-42b6-9769-86095e167b98.png">

In `ps_hook_alias`, `ps_hook_module`, `ps_hook_module_exceptions` : absent.

Step 2, done

Step 3, I have no issue with fi

[2021-12-09 10:08] Peter4661 opened #26930 "PS 1.7.8.2 broken link to images after upgrade to PHP 7.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

[PHP 74_ broken image links.pdf](ht

[2021-12-09 10:31] PierreRambaud commented on #14840
I confirm that it won't help :sweat_smile:
I tried a lot of things, the CDATA is only here to escape unwanted content. The right way to use it is as @unlocomqx said :+1:

[2021-12-09 10:31] PierreRambaud commented on #14840
I'm closing it as it's the default XML behavior

[2021-12-09 10:31] #14840 closed, assigned to sam-pires

[2021-12-09 10:35] #26137 closed, assigned to gennaris

[2021-12-09 11:14] ttoine commented on #25313
The problem @Hlavtox is that you are playing with the limits of the Code of Conduct.

So, to be clear, if you want to have your improvements merged into the project:
- **be friendly**, it helps to create good relationship and foster the review (e.g: cool, I like this guy, I will review their pull request)
- **write good code**, respect the best practices and the guidelines of the project (keep in

[2021-12-09 11:16] ttoine commented on #25313
In one quick sentence: everybody here need you to be friendly.

[2021-12-09 11:23] Vizibl commented on #26855
SO ?

[2021-12-09 12:26] rodrigorega commented on #26381
Hello,

If you think that leaving a database connection idle for more than 60 seconds is not a bad practice you are right, this is not a bug.

Any idea why the PS installation was working ok until a few weeks ago? We have 100+ cPanel servers with this mysql configuration since a few years ago.

Regards.

[2021-12-09 12:42] masiorama commented on #26741
I got the same answer @VidarPc got from SiteGround... I guess it is a recent limitation since I was able to upgrade PS till version 1.7.7.4... kinda disappointing.

[2021-12-09 12:48] SharakPL opened #26932 "[FO] Too much product flags"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Another regression following #26640

[2021-12-09 13:03] Prestaworks opened #26933 "Tabs missing translations after upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrading a shop to the new 1

[2021-12-09 13:48] hibatallahAouadni commented on #26645
Hello @arafatx

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-09 13:48] #26645 closed, assigned to nobody

[2021-12-09 13:56] MatShir opened #26935 "Missing behavior and wording on security page (Refacto of the grid)"
### Is your feature request related to a problem?
On security page, it's not possible to change wordings for just one grid (in a proper way), a refactoring has to be done in order to allow that.

### Describe the solution you'd like
Missing wording on the Security page

**Bulk delete:**

- **Title:** Delete selected sessions?
- **Body message:** Users will be signed out from all selected sessions.

[2021-12-09 13:57] jf-viguier commented on #26676
This two PR are related but there are not the same issues : mine is for product listing : category page or search results page.

[2021-12-09 13:59] bmwjoeytsang commented on #26928
I mean merchant will receive duplicate notification, not customer side

I also tried edit the ps_mailalert and hard code the $merchant to ‘Joey@chungyuen.com.hk’, it still will send two new order notification to joey! It seem the program will run two times when have new order

[2021-12-09 14:01] Prestaworks commented on #26933
PR for this is located here
https://github.com/PrestaShop/autoupgrade/pull/439

[2021-12-09 14:12] hibatallahAouadni commented on #26930
Hello @Peter4661

Did you try to re-generate the images to solve the issue before downgrading to PHP7.4?
Please check and feedback.

Thanks!

[2021-12-09 14:18] Peter4661 commented on #26930
Yes, we tried to regenerate images. The messages was, original images not found.

Have a nice weekend.

[2021-12-09 14:18] jf-viguier commented on #26199
@sfroment "Create a webservice" in the description should be "Call the web service".
Every change in a multilang entity (add, update) will raise the error, it's a main issue.
@matks can you check the pr ?

[2021-12-09 14:19] sfroment commented on #26199
👌 edited

[2021-12-09 14:22] jf-viguier commented on #26199
@khouloudbelguith has this same bug here in my pr :
https://github.com/PrestaShop/PrestaShop/pull/24403#issuecomment-950785940

[2021-12-09 14:33] hibatallahAouadni commented on #26930
Hello @Peter4661

Could you please provide the previous version PS before upgrading.
Please check and feedback.

Thanks!

[2021-12-09 14:39] MatShir opened #26936 "Deletion modal doesn't use the UI kit"
**Describe the bug and add screenshots**
Modal deletion of cart rule page doesn't use the UI kIt

<img width="1220" alt="Capture d’écran 2021-12-09 à 15 22 36" src="https://user-images.githubusercontent.com/43613217/145416700-e5c6b073-2791-4750-b7e7-1ce6d9bdc80e.png">

**Expected behavior**
Use the UI kit

**Steps to reproduce**

1. **BO**>**SELL**>**Orders**>**Discount**
2. Click on **Add new c

[2021-12-09 14:50] hibatallahAouadni commented on #26927
Hello @unlocomqx

It seems what you proposed is a an improvement, wdyt? should we change this issue to an improvement?
Please check and feedback.

Thanks!

[2021-12-09 14:52] unlocomqx commented on #26927
Yes, in the issue creation, I had to pick between bug and feature. Improvement works better for this one.
Thank you

[2021-12-09 14:56] zuk3975 opened #26937 "Experimental page combination table row border styling issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

first row of combination table in e

[2021-12-09 15:14] hibatallahAouadni commented on #26932
Hello @SharakPL

Thanks for reporting this issue!
As you said the "new product" flag is already reported here #26640 and will be fixed 1.7.8.3 :tada:

But, we need to discuss this issue with Product Team to change the design in this case.
So, changing this issue to a feature :wink:

Thank you

[2021-12-09 15:25] atomiix commented on #26924
@florine2623 this is not the expected behavior, we need to fix that!

[2021-12-09 16:07] hibatallahAouadni commented on #26933
Hello @Prestaworks

Did you encounter an exception on the Dashboard page? Or just you have some missing translations?
Cause it seems your issue similar to this one #26891
Please check and feedback.

Thanks!

[2021-12-09 16:11] Prestaworks commented on #26933
I got missing translations only, all the menu options where in english, but other than that, it was all working fine.

[2021-12-09 16:19] #26718 closed, assigned to lmeyer1

[2021-12-09 16:21] SharakPL commented on #26932
OK, thanks @hibatallahAouadni

[2021-12-09 16:27] #19243 closed, assigned to matks

[2021-12-09 16:48] jmrftrs opened #26939 "Error 500 with Tiktok for Business"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After installing TikTok for Busines

[2021-12-09 17:49] hibatallahAouadni commented on #26939
Hello @jmrftrs

It seems that your issue is not a PrestaShop core bug.
If your module is Tiktok Official, please contact support team on [Addons](https://addons.prestashop.com/en/sea-paid-advertising-affiliation-platforms/85637-tiktok-for-business.html)

We will close this issue.

Thanks!

[2021-12-09 17:49] #26939 closed, assigned to nobody

[2021-12-09 17:53] hibatallahAouadni commented on #26937
Hello @zuk3975

Thanks for reporting the issue!
I reproduce the issue with PS1782, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/145449607-615f9200-66c7-4750-bc9d-d75b800da087.png)

I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-12-09 17:59] Peter4661 commented on #26930
Heya @ Hibatallah Aouadni

We upgraded from PS 1.7.8.1 / PHP build 7.3  ( no missing images) to 1.7.8.2 / PHP 7.4 (missing images)

We can reproduce the problem.

- Re-tried to regenerate images under PS 1.7.8.2 / PHP 7.3 (no missing images)
- Switched to PHP 7.4  on the same refreshed page (missing images).   see results on attachments.

Site is now running under PHP 7.3 HTTP/1.1,  lacking HTTP/2

[2021-12-09 22:56] unlocomqx commented on #25975
I suggest adding css variables to declare accent color and background color etc
That way, modules can easily use the same colors as the theme

<img width="1153" alt="2021-12-09 at 11 49 PM" src="https://user-images.githubusercontent.com/793712/145488232-6e4608e3-88f7-4623-a849-3c4dc8421f68.png">

Theme code
[code]

Module code:
[code]

[2021-12-10 00:06] alfonsolr09 commented on #26932
I really don't know if it's a function or rather a problem... @hibatallahAouadni

[2021-12-10 00:12] Keuta opened #26941 "Remove the delay when hover out of the top_sub_menu on ps_mainmenu module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-10 07:31] tswfi commented on #21503
ean should also be in the exported csv file

[2021-12-10 07:50] bmwjoeytsang commented on #26928
Hi! I tried lot of thing to try found out the problem but still cannot solve this duplicate New Order notification to Merchant issue.

0. Clear server cache and changed the setting to force compilation, disable all cache function, not work
1. Tried uninstall the mail alert module and removed the whole folder and reinstall 2.01 / 2.2.1, not work
2. Tried hard code the $merchant_mail to $merchant_ma

[2021-12-10 08:26] VitaminasG commented on #26907
So, how I understand PrestaShop provides a great helper tool. With this \ToolsCore class possible to get server superglobals $_GET in a very comfortable way. I am using legacy list builder and adding additional $helperList->action = ['edit']

So, the form generates a unique URL for edit action for each form item. Please see the URL generated by helperlist and code snippet below:

**URL**: http://l

[2021-12-10 08:26] HanaRebaiQA commented on #26941
Hello

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [pu

[2021-12-10 08:26] #26941 closed, assigned to nobody

[2021-12-10 09:27] matks commented on #26927
Thanks for exploring this matter @unlocomqx

What do you plan to do ? Only explore the modules and vendor folders on ajax query?

[2021-12-10 09:32] unlocomqx commented on #26927
It will be similar to how the modified file checks are made
<img width="379" alt="2021-12-10 at 10 28 AM" src="https://user-images.githubusercontent.com/793712/145550857-e7045200-3e69-44cb-b42f-342fe449b3ff.png">

My solution for now, is to defer the whole requirements check task not just the modules/cache folders.

I extracted the requirements check to another call
[code]

[2021-12-10 09:53] hibatallahAouadni commented on #26930
Hello @Peter4661

I didn't manage to reproduce the issue following these steps:

1. Install 1.7.8.1 (PHP 7.3)
2. Create a product (upload an image)
3. Install 1-click upgrade v4.13.0
4. Upgrade to 1.7.8.2
5. Upgrade PHP version to 7.4
6. Check FO
7. No error > all images are well displayed (even the new created product)

Thanks to @SD1982 for helping in this issue :superhero:
Please check and feed

[2021-12-10 10:19] NeOMakinG commented on #25975
@unlocomqx Yes it will be done! I really want this feature, and already began on some modules (facetedsearch, footer...)

[2021-12-10 10:30] #20487 closed, assigned to jolelievre

[2021-12-10 10:42] MKfan8 commented on #26230
PS 1.7.6.3
PHP 7.3.33-1
update 1-click version : v4.13.0

Try update to a 1.7.7.8 / 1.7.6.4 / 1.7.6.9 but

I have the same problem  =(

[INTERNAL] /home/web/192985/htdocs/best-grip/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168
 Symfony\Component\Config\Exception\FileLoaderLoadException: Expected to find class "PrestaShopBundle\Controller\Admin\Sell\index" in fi

[2021-12-10 10:49] marionf commented on #18948
This issue seems to be in part a duplicate of https://github.com/PrestaShop/PrestaShop/issues/26144

About the first one: Error when clicking "Enable/Disable"
I can't reproduce it on develop branch: https://drive.google.com/file/d/1ywMe6pmu4f1RVLKEXS14iBlaP7OtUqZ7/view?usp=sharing

About the second one: Display error after module uninstall
I can't reproduce it on develop branch: https://drive.goog

[2021-12-10 10:50] marionf commented on #10685
@eternoendless We can close this issue with the split ?

[2021-12-10 10:56] #26892 closed, assigned to unlocomqx

[2021-12-10 10:58] marionf commented on #11450
This issue is related to the upgrade of modules bought on the marketplace.
With the separation between the company and the OS project in the V8, the upgrade of the module bought on the marketplace will not be possible in one click like currently.
So, I close this issue.

[2021-12-10 10:58] #11450 closed, assigned to nobody

[2021-12-10 10:59] eternoendless commented on #10685
Yes we can. All calls to the Addons API are meant to be removed from the core.

[2021-12-10 10:59] #10685 closed, assigned to nobody

[2021-12-10 11:27] HanaRebaiQA commented on #26933
Hello @Prestaworks

Thanks for reporting this issue.
I did manage to reproduce the issue after doing the upgrade **1.6.1.24 to 1.7.8.2** and when updating the language on :
`International > Add / Update a language > Click on Add or update a language `
![image](https://user-images.githubusercontent.com/92912932/145566965-3f75f292-9d5a-4d54-9a44-f2eac0e18059.png)

But, it works fine after upgrade `1

[2021-12-10 11:33] khouloudbelguith opened #26943 "After fresh install - some folders of archived modules referralprogram and ps_reminder still exists"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The modules `referralprogram` and

[2021-12-10 12:02] equipposbarcelona commented on #21503
I think that the point is to improve ean management since thousand of merchants work with it and it is a must to perform inventories. Also I think that it must be configurable to be unique or not. Many merchants are working with the reference since the do not have other option.

The column in stock can be easily added and best option I think would be optional display. Export in csv can be also eas

[2021-12-10 12:30] SharakPL commented on #25975
So it would be configured in admin panel or rely on theme's css variables configuration? Would be great to have it on admin panel but then the theme would have to rely heavily on css variables and not have main colors hardcoded through sass compilation

##### theme.tpl
[code]
##### theme.css
[code]

or better yet make it an utility class thet every theme developer could use wherever it's needed:

[2021-12-10 12:54] unlocomqx commented on #25975
At first, the theme could just declare "default" colors
Then as an addition, these colors can be overwritten using the theme configuration module
Thus allowing for a simple approach by default and also an optional approach

Example
[code]

[2021-12-10 12:58] marionf commented on #25009
With the split, the feature to connect to the marketplace will be removed from the BO, so I close this issue.

[2021-12-10 12:58] #25009 closed, assigned to nobody

[2021-12-10 13:01] dev-innova opened #26944 "Meta::getPages returns unexpected values"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The method getPages() from class Me

[2021-12-10 13:02] NeOMakinG commented on #25975
I doubt we will be able to add such a configuration form before the release of this theme.

I would probably expose these variables to the `:root` selector (except for little parts, that can probably be exposed under other selectors), so you can override it with the custom.css stylesheet for example, or a child theme stylesheet.

Anyway, what I can do is to set these vars into a small simple CSS s

[2021-12-10 13:26] marionf commented on #15700
This module is not part of the open source project, so I close the issue

[2021-12-10 13:26] #15700 closed, assigned to Quetzacoalt91, Darmona

[2021-12-10 13:41] NeOMakinG commented on #25975
Btw, it looks like Bootstrap components are not overridable with some CSS vars, it's really linked ton sass!

[2021-12-10 13:46] unlocomqx commented on #25975
Just a guess here
I once used something like this in scss
[code]
From what I know, bootstrap allows theming, so that could be a solution to introduces some overrides using css vars
Not 100% sure but it could be a path

[2021-12-10 13:46] NeOMakinG commented on #25975
https://github.com/twbs/bootstrap/pull/34100/files

We will probably be able to do it in the future, but atm it lack of a lot of css-vars-based components!

[2021-12-10 13:47] NeOMakinG commented on #25975
We can't do this on every variables, here is an example with the primary color:
![image](https://user-images.githubusercontent.com/14963751/145583738-3f8e2f13-cdd1-4c81-b8eb-84e236c8431e.png)

[2021-12-10 13:53] redactuk commented on #13833
@hellodracon Thank you so much for your efforts on this! this has resolved an issue our client had recently.

The issue was that in the admin area under product > prices for combinations, the attributes listed and their quantities were not synced with what was being displayed on front end for customer. We took a copy of the site and installed locally, yet it worked. Exactly the same PS version, PH

[2021-12-10 13:55] sextoysunivers1964 opened #26945 "ADD TO CART BUTTOM NOT WORKING IN ONE SHOP"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I have a multishop and in one

[2021-12-10 14:00] Progi1984 commented on #26915
Fixed by @okom3pom in #26929 & tested by @florine2623

[2021-12-10 14:00] #26915 closed, assigned to nobody

[2021-12-10 14:21] HanaRebaiQA commented on #26737
Hello @jpgilberg

I did manage to reproduce your issue On PS1752 & PS1778. But it fixed on PS178.

See screen-record below :

PS1778
https://watch.screencastify.com/v/Oo84GUVMO2kWF5hoyfwS

PS1781
https://watch.screencastify.com/v/Piz8sfEmJotJxRPOABb4

So, i will close this issue.

Thanks!

[2021-12-10 14:21] #26737 closed, assigned to nobody

[2021-12-10 14:58] HanaRebaiQA commented on #26786
Hello @krekken

I did to download the module again and reinstall it. But i have another exception :

1. Clone the module under /modules
2. Go to BO>IMPROVE>Modules>Module Catalog
3. Install the module
4. Click on Configure button > Save
5. Click on `Form Bug Reproduce` under BO > SELL

Another exception was thrown

![image](https://user-images.githubusercontent.com/92912932/145593804-c09efa7e-b978

[2021-12-10 15:02] SharakPL commented on #25975
@NeOMakinG try [this](https://sass-lang.com/documentation/breaking-changes/css-vars):

![obraz](https://user-images.githubusercontent.com/5007456/145594779-24a69484-0814-43e7-b367-8e0d2d3f01b6.png)

[2021-12-10 15:12] kiwrouge commented on #26863
The Prestashop support told me to ask here.
I ended disable the module email_alert and buy another one that works.

[2021-12-10 15:14] HanaRebaiQA commented on #26945
Hello,

The issue is not well detailed. There is no steps to reproduce it.

So, i will close the issue.

Thanks!

[2021-12-10 15:14] #26945 closed

[2021-12-10 15:22] jszczypk commented on #26361
Hi @hibatallahAouadni,

I think that problem comes from situation when you fetch blank XML for product and fill in values that you would like to set without removing XML nodes for fields that you omit.

In previous versions it worked, but in 1.7.8 when you leave `<position_in_category ><![CDATA[ ]]></position_in_category>` as it is, the empty value is cast to integer 0 in Product::setWsPositionInC

[2021-12-10 15:27] sextoysunivers1964 commented on #26945
Hi Ana,

What you else you need to describe the issue. The add to cart buttom at sextoysunivers.it is not working in any page.

Do you need from me to show you how to clic to add to cart buttom ?

Best regards,
Juan Carlos

[2021-12-10 15:34] HanaRebaiQA commented on #26945
Hello

I did not manage the issue with classic theme. It seems that this issue is due to your theme.

Thanks!

[2021-12-10 16:01] sextoysunivers1964 commented on #26945
Hi Hana,

Sorry I've change your name.

Did you actually inspected yourself the add to cart buttom at sextoysunivers.it to get to that conclusion ?

Or is just from the screenshot that I've sent to you.

I'm asking you this because maybe I didn't inspected in a correct way.

Please tell me if that is the case or not.

If you didn't please try to do it before I contact the developper of the theme

[2021-12-10 16:20] sextoysunivers1964 commented on #26945
Hi Hanna,

I don't have the competences but I tried to inspect the add to cart buttom at sextoysunivers.it and seems that is not from the actual theme but instead from the core.js

https://sextoysunivers.it/themes/core.js

Best regards,
Juan Carlos

[2021-12-10 17:51] Peter4661 commented on #26930
Heya   @SD1982 and  @ Hibatallah Aouadni,

Thank you for testing the procedure which did not work on our server.  As shown in my previous note, we had multiple image errors under PS 1.7.8.2 after switching from PHP 7.3 to PHP 7.4.

We ran other test, regenerate images under PHP 7.4. ( pagecache and smarty cache disabled) . Server took hours to complete the task. But...  all images are well display

[2021-12-10 18:06] krekken commented on #26786
thats the bug. try it on 1.7.7.8, it works there, but wont work in 1.7.8

[2021-12-10 18:22] Peter4661 commented on #26930
This looks wierd to me.

The regeneration of images was done with the shop in maintenance mode.  After we cleared cache, pagecache and activated the shop, all images are missing

[2021-12-10 18:29] AndrzejWolan commented on #9660
Issue still exist in 1.7.8.1 here is not the best solution but it is better then nothing :)

`public function postProcess()
    {
        parent::postProcess();

        if (Tools::isSubmit('submitReorder')
            && $this->context->customer->isLogged()
            && $id_order = (int) Tools::getValue('id_order')
        ) {
            $oldCart = new Cart(Order::getCartIdStatic($id_order, $t

[2021-12-10 18:44] #26756 closed, assigned to sowbiba

[2021-12-10 18:44] #26760 closed, assigned to sowbiba

[2021-12-10 19:13] #24749 closed, assigned to Progi1984

[2021-12-10 21:39] gkunz opened #26948 "OpenSSF: MFA Tokens for your project"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-10 22:03] Peter4661 commented on #26930
Problem found, conflict with cache module which also supports lazy load images.

Although the module reports, lazy load is being disabled, after uninstalling the module, all images are well displayed.

Thanks again for your help.

[2021-12-10 22:03] #26930 closed, assigned to nobody

[2021-12-10 22:36] vallka commented on #21661
Same problem, noticed from PS 1.7...0, currently 1.7.8.1. Cannot use getDevice() and isMobile() etc. functions in modules(only!) templates. I seem to find a solution, will try and post it here if it is working....

[2021-12-10 23:30] Be0rn01 commented on #25977
**Error #32: No upgrade needs to be applied.**  https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/

[2021-12-11 00:36] alfonsolr09 commented on #25457
Why is everything related to addons removed?

[2021-12-11 04:56] mpaolino opened #26950 "docker-compose fails to bring up services in 1.7.8.x branch under Linux"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I found a small issue while trying

[2021-12-11 11:11] Amit-Kumar-Tiwari-Webkul opened #26953 "Customer is able to see order detail page via link even order share is disabled in multishop"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- Multishop is enabled, Suppose, th

[2021-12-11 13:58] matks commented on #25457
@alfonsolr09 Details about it there https://github.com/PrestaShop/PrestaShop/issues/24639

To make it short: we're removing all links to PrestaShop company from inside the Core. The project will become fully neutral. The PrestaShop company will build its own flavor of PrestaShop and embed their products and services in it, but the PrestaShop project will and must be neutral.

[2021-12-11 14:02] matks commented on #26948
Dear @gkunz thank you for your message and offer. As this repository is a bug/feature tracker I transfer your message to the repository where we keep such topics.

It'll take a few days for all maintainers to be able to read this message as we different people from different companies and environments, some do OSS on weekend, some do OSS on Monday to Friday. But we should be able to gather every m

[2021-12-11 14:07] matks commented on #19243
Thank you @atomiix

[2021-12-11 14:10] matks commented on #26953
I understand why you consider this is wrong, but we need to verify exactly what is the expected behavior of "Order Share" feature.

Because it might be useful to access the order details with the URL for guests for example. So maybe this behavior is expected.

We'll need Product Team to tell us I guess.

[2021-12-11 14:15] matks commented on #26950
Well, there's going to be saying yes and people saying no 😅  see below discussion

https://github.com/PrestaShop/PrestaShop/pull/26562

[2021-12-11 19:08] alfonsolr09 commented on #25457
It is what there is right now, isn't it?

[2021-12-11 20:35] matks commented on #25457
@alfonsolr09 Yes.

Today's latest version, PrestaShop 1.7.8.2 contains:
- direct links to PrestaShop company websites
- allow connection to addons.prestashop.com to download modules
- push some modules during install to be pre-installed

PrestaShop 8.0.0 open source will have nothing of the above. But it is likely that PrestaShop company will build their own 8.0.0 flavor which will contain all of

[2021-12-11 20:37] alfonsolr09 commented on #25457
I don't understand what you mean by the PrestaShop company itself build your own project.

[2021-12-11 20:48] alfonsolr09 commented on #25457
Do you mean that there are probably several PrestaShop distributions? A version without any addons and another that includes links to the web?

[2021-12-11 22:05] vallka commented on #21661
Ok, my fix is working. To fix it permanently, 1 line of code is needed in /classes/module/Module.php in method getCacheId (line 2406):
[code]

[2021-12-11 22:10] vallka commented on #21661
I never tried (yet) to add my updates to main Prestashop source, all these 'pull requests', how to do it properly... Meanwhile I can fix it for myself and others who need it now, by writing a small override module:
/override/classes/module/Module.php :

[code]

[2021-12-12 01:33] seederp2p opened #26955 "1.7.8.2 - Wrong search box size - Backoffice (Spanish, Portuguese, etc.)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

Visit your own demo and go

[2021-12-12 19:00] thbl opened #26956 "MySQL SSL connect"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-12 21:38] NeOMakinG commented on #25975
I know this, this is not the problem

If you want to make everything of bootstrap configurable from CSS variables (input colors, buttons colors, whatever), bootstrap need to use these CSS variables, it's only partially the case atm

[2021-12-12 23:17] thbl opened #26957 "Redis support"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-13 06:25] mrabsinthe commented on #9866
Since I've applied the change by @aslezak88 , no more errors and no "side effects" noticed! Thanks! PS 1.7.7.8

[2021-12-13 08:18] florine2623 commented on #26955
Hello @seederp2p ,

The search box is the same in both languages:
<img width="1431" alt="Screenshot 2021-12-13 at 09 16 21" src="https://user-images.githubusercontent.com/16019289/145776125-37ed0d75-b243-4b69-86fa-3c95352818e4.png">
<img width="1435" alt="Screenshot 2021-12-13 at 09 16 16" src="https://user-images.githubusercontent.com/16019289/145776131-f8e77c07-d3b5-4bc5-bd16-9e4d1307b699.png">

[2021-12-13 08:18] #26955 closed, assigned to nobody

[2021-12-13 08:27] florine2623 commented on #26957
Hello @thbl ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/26129.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2021-12-13 08:27] #26957 closed, assigned to nobody

[2021-12-13 08:27] florine2623 commented on #26957
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/26129

[2021-12-13 08:29] thbl commented on #26129
+1

[2021-12-13 08:34] florine2623 commented on #26956
Hello @thbl ,

This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/10784.
Please refer directly to it for more information. Especially to this comment : https://github.com/PrestaShop/PrestaShop/issues/10784#issuecomment-425874313

I'll close your issue as it is a duplicate.
Thank you

[2021-12-13 08:34] #26956 closed, assigned to nobody

[2021-12-13 08:34] florine2623 commented on #26956
Duplicate of #10784

[2021-12-13 08:40] matks commented on #25457
Yes. In 2022 there will be 2 PrestaShop distributions, one without any of PrestaShop company links, services, modules, and one with all of them.

[2021-12-13 08:40] HanaRebaiQA commented on #26786
Hello,

I did'nt manage to reporduce the issue on PS1778. So, **it's a regression.**
![image](https://user-images.githubusercontent.com/92912932/145778056-82c0c05e-74b2-4dc2-b7af-53912e77a221.png)

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.
If you manage to get the pro

[2021-12-13 08:42] thbl commented on #26956
@florine2623 well that ticked seams closed and out of date ?

[2021-12-13 08:43] thbl commented on #10784
@PierreRambaud do you have a guide on how to connect to DB with SSL ?

[2021-12-13 08:53] hellodracon commented on #13833
Glad I could help @redactuk

[2021-12-13 09:11] florine2623 commented on #26953
Hello @Amit-Kumar-Tiwari-Webkul ,

I have the same behavior in PS 1.7.8.x.
I will ping product team to make sure this is the wanted behavior.

Please stay tuned !

[2021-12-13 09:15] florine2623 commented on #26695
Hello @LordIndustry ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-12-13 09:15] #26695 closed, assigned to nobody

[2021-12-13 09:15] florine2623 commented on #26710
Hello @Djangoum ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-12-13 09:15] #26710 closed, assigned to nobody

[2021-12-13 09:32] florine2623 commented on #26928
I can't reproduce your issue. For one order, I have only 1 email sent to the merchant and 3 emails sent to the customer.
<img width="376" alt="Screenshot 2021-12-13 at 10 29 31" src="https://user-images.githubusercontent.com/16019289/145786811-20d027e8-5f9a-43d3-a598-128a793ce7f5.png">
It doesn't duplicate the emails.

If you have questions about using PrestaShop or third-party modules, or if you

[2021-12-13 09:32] #26928 closed, assigned to nobody

[2021-12-13 09:40] khouloudbelguith opened #26960 "[Autoupgrade] - Multishop - an exception is displayed in the FO after an upgrae from PS16124"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from PS16124 to a

[2021-12-13 10:13] sextoysunivers1964 opened #26961 "In an multishop the add to cart buttom not working in one shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

In a multishop with 6 shops, a

[2021-12-13 10:18] babyewok opened #26962 "Error on runing upgrade.php when upgrading form 1.7.7.3 to 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I had issues with the 1-click upgra

[2021-12-13 10:33] hibatallahAouadni commented on #26930
@Peter4661 Glad to hear that you solved your issue :tada:

[2021-12-13 11:00] #26667 closed, assigned to Hlavtox

[2021-12-13 11:19] hibatallahAouadni commented on #26935
@MatShir is this issue realetd to this one #20084? if so, in which EPIC should I put it?

[2021-12-13 12:44] seederp2p commented on #26955
Do you read what I wrote??

go to the "ORDERS" sections.

[2021-12-13 12:48] seederp2p opened #26965 "1.7.8.2 - Wrong search box size - Backoffice (Spanish, Portuguese, etc.)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

You closed ticket https://g

[2021-12-13 13:11] krekken commented on #26786
i quote myself: if you install it on a 1.7.7.8 prestashop it will work, but it won't work if you install it on a 1.7.8.1 container.
so you had an error when u tried it on 1.7.8,
and it worked when you tried it on 1.7.7.8. you said u failed to reproduce the bug, but you literally did. what do you mean you didn't manage to reproduce the issue on 1778? of course you didn't cause it works on 1.7.7.8.

[2021-12-13 13:36] ocio87 commented on #26965
Hello,

In my test environment it is also seen with the problem.

![image](https://user-images.githubusercontent.com/12537826/145822033-52848b49-b10b-41f0-b2b4-6a3ed4e607d1.png)

[2021-12-13 14:12] #14159 closed, assigned to nobody

[2021-12-13 14:16] MatShir commented on #26599
@NeOMakinG, Could you help on this issue for the expected behavior? Do you think we could use the 'srcset' parameters on the theme to handle this issue? 🤔

[2021-12-13 14:19] hibatallahAouadni commented on #26944
Hello @dev-innova

Could you please provide clear and concise steps to reproduce :pray:
Please check and feedback.

Thanks!

[2021-12-13 14:20] jolelievre commented on #25831
I think this issue has been handled by this PR https://github.com/PrestaShop/PrestaShop/pull/25920
The bug is no longer present and this issue should be closable

[2021-12-13 14:20] MatShir commented on #26833
Maybe, we should check why the behavior changed before fixing it 🤔

[2021-12-13 14:31] hibatallahAouadni commented on #26827
Hello @slawomirlewczyk

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17479.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-12-13 14:31] #26827 closed, assigned to nobody

[2021-12-13 14:31] hibatallahAouadni commented on #26827
Duplicate of #17479

[2021-12-13 14:33] hibatallahAouadni commented on #26950
Hello @mpaolino & @matks

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26768.
And it's already fixed on 8.0.0 (next major version) :tada: Here's the PR #26769

Thanks!

[2021-12-13 14:34] hibatallahAouadni commented on #26950
Duplicate of #26768

[2021-12-13 14:45] mpaolino commented on #26950
@hibatallahAouadni (cc @matks) with all due respect I have some issues regarding your decision:

1) Its **not** the same bug.
2) What's the point in having a stable branch if you don't fix reported bugs (with fix contributions) and expect them to be fixed in a future incompatible release?
3) The bug wasn't even tested

[2021-12-13 15:05] marwachelly opened #26967 "BO - Multistore - Save settings for a specific shop is not working correctly in maintenance page."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Save settings for a specific shop i

[2021-12-13 15:17] #26240 closed, assigned to matthieu-rolland

[2021-12-13 15:51] sextoysunivers1964 commented on #26961
Hello Aouadni,

Thank you very mcuh for yout kindly reponse.

Now is again with the classic and as you can see the problem seems to don't come from the theme that I bought:

You can visit https://sextoysunivers.it    (with the classic theme)

Sextoysunivers Sexshop N°1 in Italia<https://sextoysunivers.it/>
Il tuo piacere è la frase preferita del nostro sexy shop che troverai nella nostra vasta gam

[2021-12-13 15:57] hibatallahAouadni commented on #26965
Hello @seederp2p

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26635.
It's already fixed with this PR #26635

Thanks!

[2021-12-13 15:57] #26965 closed, assigned to nobody

[2021-12-13 15:58] hibatallahAouadni commented on #26965
Duplicate of #26635

[2021-12-13 16:50] PrestaEdit opened #26968 "The min compliancy could not be set as 8.0.0 for a module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The min compliancy of a module coul

[2021-12-13 16:53] fabienvallon opened #26969 "Release 1.7.8.3"
This issue tracks the status of the PrestaShop 1.7.8.3 release

### Information

Q                                    | A
-----------------------|---------------
**Type**          | Patch version
**Est. Build date**  |  2022-01-04
**Milestone** | [1.7.8.3](https://github.com/PrestaShop/PrestaShop/milestone/79)
**Kanban** | [1.7.8.3](https://github.com/PrestaShop/PrestaShop/projects/22)
**Delivery

[2021-12-13 18:03] hibatallahAouadni commented on #26962
Hello @babyewok

Well, you should upgrade your shop before upgrading the PHP version :disappointed:
Could you please check this issue #25671 it seems related to yours.
Please check and feedback.

Thanks!

[2021-12-13 18:06] hibatallahAouadni commented on #26968
Hello @PrestaEdit

Could you please provide a test module to help me reproducing the issue.
Waiting for your feedback.

Thanks!

[2021-12-13 18:09] PrestaEdit commented on #26968
Hi @hibatallahAouadni ,

And here is: [Uploading testmodule.zip…]()

[2021-12-13 18:24] stefbiper opened #26970 "Step carrier ranges empty"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After update ps from 1.7.7.1 to ps

[2021-12-14 00:56] alfonsolr09 commented on #25457
Don't you think that the time that PrestaShop dedicates to customizing the project could be used to solve many other problems?

I don't really understand why this decision to have the same project with PrestaShop or without it.

are we facing a close abandonment of the open source project and a development of the "payment" project?

🤔🤔🤔🤔🤔

[2021-12-14 05:09] ocio87 opened #26972 "Multi-store disappears in the Catalog menu - stock"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The multistore selection menu disap

[2021-12-14 08:34] matks opened #26973 "Native modules PS 1.7 should uninstall equivalent PS 1.6 module on register"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

Some native modules of PS 1.6 were reconstructed for PS 1.7. But it can happe

[2021-12-14 08:39] Poleepo commented on #26761
@hibatallahAouadni any news about?

[2021-12-14 08:44] hibatallahAouadni commented on #18948
Hello @marionf

**Error when clicking "Enable/Disable" too fast**
I reproduce the issue with develop and I encountered another issue with the modal when I tried to disable a module:

https://www.awesomescreenshot.com/video/6430908?key=fe8f0b7c059bfc102a5ec5adac76f4c3

**Display error after module uninstall**
I didn't reproduce the issue with develop, it seems to be fixed:

https://www.awesomescree

[2021-12-14 08:55] hibatallahAouadni commented on #26761
Hello @Poleepo

Yes, you're right! thanks for your patience :pray:
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #14903.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-12-14 08:55] #26761 closed, assigned to nobody

[2021-12-14 08:55] hibatallahAouadni commented on #26761
Duplicate of #14903

[2021-12-14 08:58] hibatallahAouadni commented on #26361
Duplicate of #14903

[2021-12-14 09:01] ytilotti commented on #26810
In the documentation of Doctrine there is this information:

[2021-12-14 09:03] mariem-abid opened #26974 "ps_emailsmanager throw an exception"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we click on the "save" button,

[2021-12-14 09:16] Quetzacoalt91 commented on #26973
Sorry I couldn't take the time to go on these PRs :pray:

[2021-12-14 09:18] matks commented on #26973
We know you're very very busy and you did an amazing job. Leave us this one 😄  .

If we cant do it, maybe we can ask @tomlev :trollface:

[2021-12-14 09:22] florine2623 commented on #26974
Hello @mariem-abid ,

I can't reproduce your issue. I followed these steps :
- Install ps_emailsmanager v1.2.1
- Download Template [Boxy](https://addons.prestashop.com/fr/templates-email-prestashop/25942-boxy-template-d-emails-by-prestashop.html)
- Import template
- <img width="310" alt="Screenshot 2021-12-14 at 10 16 24" src="https://user-images.githubusercontent.com/16019289/145969764-cfbf31fe-2

[2021-12-14 09:27] mariem-abid commented on #26974
Please enable the debug mode.
I reproduce this issue only with php 7.4
with php 7.3 => OK
It is a compatibility issue with PHP7.4

[2021-12-14 09:36] florine2623 commented on #26972
Hello @ocio87 ,

I was able to reproduce the issue with PrestaShop version 1.7.8.2, so I can confirm that this behavior is indeed a bug.
This is a regression as it can't be reproduced on PS 1.7.7.x.

How it was in 1.7.7.8 :
<img width="1231" alt="Screenshot 2021-12-14 at 10 33 56" src="https://user-images.githubusercontent.com/16019289/145972237-ada22292-23d0-4637-b6c7-3e5ce58dbe2d.png">

Please b

[2021-12-14 09:43] florine2623 commented on #26970
Hello @stefbiper ,

I can't reproduce your issue, here are the steps I followed :
- I installed 1-click upgrade v4.13.0
- Upgraded my shop from 1.7.7.1 to 1.7.8.2
- Upgrade went well
- <img width="808" alt="Screenshot 2021-12-14 at 10 42 23" src="https://user-images.githubusercontent.com/16019289/145973298-9fdbe6ed-8eec-4a41-9448-0c05b013e594.png">
- Go to Carriers - Step 2, no error
- <img width=

[2021-12-14 09:46] ahmedbdrn opened #26975 "Vouchers generated with ps_reminder module should have option to not allow it to be applied on ALREADY DISCOUNTED products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-14 09:47] stefbiper commented on #26970
Hello
Thanks for your feedback
Do you have any error in the console ?

No errors in console

Does this happen for all carriers ?

Yes this happen for all carriers

[2021-12-14 09:51] florine2623 commented on #26974
I have enabled debug mode in PS 1.7.8.x, PHP version is 7.4.2. I can't reproduce the issue :
<img width="1432" alt="Screenshot 2021-12-14 at 10 48 44" src="https://user-images.githubusercontent.com/16019289/145974573-ca3663c7-195d-4128-a345-c962e718cecd.png">
<img width="140" alt="Screenshot 2021-12-14 at 10 49 39" src="https://user-images.githubusercontent.com/16019289/145974625-fc9f8850-89a0-403

[2021-12-14 09:55] florine2623 commented on #26970
Thanks for the details.
Do you have any error on your log file ?
Did you encounter an error during the upgrade process ?

[2021-12-14 09:59] stefbiper commented on #26970
Do you have any error on your log file ?

I got warning in debug mode

`[2021-12-14 10:57:19] translation.WARNING: Translation not found. {"id":"Configuration du blog","domain":"messages","locale":"en-US"} []
[2021-12-14 10:57:19] translation.WARNING: Translation not found. {"id":"Configuration des pages maisons","domain":"messages","locale":"en-US"} []
[2021-12-14 10:57:19] translation.WARNING: T

[2021-12-14 10:15] devecomiz commented on #26925
Hello @florine2623,

I reproduce the same issue after shop upgrade from 1.7.7.2 to 1.7.8.2 with autoupgrade module v4.13.0.
(PS_INSTALL_VERSION = 1.4.9.0, upgraded several times to Prestashop 1.6 and Prestashop 1.7)

The hook actionValidateCustomerAddressForm is absent on database table ps_hook.
- On Frontoffice form add address, in checkout page, button Continue :
no error message, address is not

[2021-12-14 10:16] Julievrz commented on #9965
I'm afraid it doesn't sound right. We had discussed the issue a while ago, and the term "Built-in modules" was chosen. The definition was: "A built-in module is a module that was developed by PrestaShop and the contributors and that is available in your back office: if the module is pre-installed, you can configure or update it from the Module Manager. If not, you can install it via the Module Cat

[2021-12-14 10:53] HanaRebaiQA opened #26976 "FO - The content block of Customer reassurance module v 5.1.0 is not displayed in the correct place with Above footer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When check `Above footer` for the C

[2021-12-14 11:09] florine2623 commented on #26970
This warning issue should not have any impact on the carrier page.
PHP version is compatible with your version pf PrestaShop.

As I can't reproduce your error, if you have any questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [c

[2021-12-14 11:09] #26970 closed, assigned to nobody

[2021-12-14 12:26] khouloudbelguith opened #26977 "BO - Orders - Carrier field in invoice must be empty if order contains only virtuals products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating an order from BO and

[2021-12-14 12:33] Progi1984 commented on #26846
Fixed by @hibatallahAouadni in #26887 and tested by @HanaRebaiQA

[2021-12-14 12:33] #26846 closed, assigned to hibatallahAouadni

[2021-12-14 12:53] SharakPL commented on #26783
Yeah, there are all kinds of errors with ps_metrics. I've just started getting another related to **ps_account** module.

##### line 169
[code]
If it's required by **ps_metrics** then why isn't ps_account a dependency and why isn't it installed on new shops just like ps_metrics is? It should be obvious that when module uses information that is provided by another module then it should check first

[2021-12-14 13:24] seederp2p opened #26978 "Prestashop 1.7.8.x not working on IE11"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I found two problems on IE11.

You

[2021-12-14 13:34] HanaRebaiQA opened #26979 "BO - An error message is displayed when configure a new shop with blockreassurance module v5.0.0 - Multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When chonfigure a new shop, in the

[2021-12-14 13:48] HanaRebaiQA opened #26980 "FO - An Exception is generated when adding a new image in Customer reassurance module with multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When configuring a new shop, then a

[2021-12-14 13:58] delphiv4 commented on #26734
The theme developer doesn't want to help us as the theme was not bought directly through his website.

[2021-12-14 14:01] gabrieleligetta commented on #14092
Hi,
if i'm not too late i would try to spread light over this issue:
the incriminated piece of code that don't let prestashop subtract discount code from total product refund is this one:

![image](https://user-images.githubusercontent.com/58666051/146012222-80c27ddf-2fc9-4aa9-8f07-9ea62c24e67c.png)

if i change the field "order_slip_type" from 2 to 1 inside the prestashop database table "ps_order

[2021-12-14 14:02] gabrieleligetta commented on #14092
The path of the piece of code is: src/Adapter/Order/Refund/OrderSlipCreator.php

[2021-12-14 14:06] florine2623 commented on #26925
Hello @devecomiz ,

I have upgraded my shop from 1.7.7.2 to 1.7.8.2, using 1-click upgrade v4.13.0, I didn't encounter the issue.

Upgrade went well :
<img width="745" alt="Screenshot 2021-12-14 at 14 05 29" src="https://user-images.githubusercontent.com/16019289/146003781-4986ecfd-8a02-4f92-afd2-e2dfb2c68697.png">

After the upgrade, the hook actionValidateCustomerAddressForm is present in the da

[2021-12-14 14:11] matks commented on #26734
We're sorry but nobody else than the theme developer can fix this. You should contact the merchant who sold you the theme maybe.

[2021-12-14 14:16] florine2623 commented on #26978
Hello @seederp2p ,

I was able to reproduce the issue with PrestaShop version 1.7.8.2 on IE11, so I can confirm that this behavior is indeed a bug.

I tested on the demo version, I have 3 issues :
- slider arrows can't be clicked (https://demo.prestashop.com/#/en/front)
- product is not added to the cart (screen below)
- tags on product do not have the right design (screen below)

![image](https:/

[2021-12-14 14:23] florine2623 commented on #26974
This issue has been transferred to PrestaShop Corp.
I will close the issue.

[2021-12-14 14:23] #26974 closed, assigned to nobody

[2021-12-14 15:02] #26211 closed, assigned to tswfi, matks

[2021-12-14 15:03] matks commented on #26211
https://github.com/PrestaShop/PrestaShop/pull/26183 was merged

[2021-12-14 15:15] ghost opened #26982 "Returning product quantities"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In which automatic cases in a stand

[2021-12-14 15:17] marwachelly opened #26983 "FO - Checkout - Payment - Exception when checking Pay by Cash on Delivery"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Exception in the checkout step when

[2021-12-14 15:24] florine2623 commented on #26975
Hello @ahmedbdrn ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Indeed, now the ps_reminder coupon can be applied to on sale product and is compatible with other existing discount:
<img width="1155" alt="Screenshot 2021-12-14 at 16 21 05" src="https://user-images.githubusercontent.com/16019289/146026849-e2e7d89d-f590-415b-9940-71d30fbc3

[2021-12-14 15:26] sextoysunivers1964 commented on #26961
Dear Aouadni,

The italian shop is back to the theme that I bought but whenever you need to see it with the classic please don't hesitate to tell me. The same if you need the loging credentials as well.

Best regards,
Juan Carlos

[2021-12-14 15:28] florine2623 commented on #26982
Hello @PrestaShark ,

I'm not sure I understand this part :  "can return to the state of the store".
Do you mean you want the quantity of the products to be 0 ?
Thanks!

[2021-12-14 15:34] PrestaShark commented on #26982
Hi, @florine2623
From quite long time client reports that random products that been sold from a long time and its quantity goes to "0" keeps returning with their quantities... It is even possible? In what cases?

[2021-12-14 15:36] florine2623 commented on #26968
Hello @PrestaEdit ,

Thanks, but sorry I can't upload the module on develop branch, I have an error :
<img width="675" alt="Screenshot 2021-12-14 at 16 35 05" src="https://user-images.githubusercontent.com/16019289/146029348-75815657-972d-4c99-b9af-cda109aef5fb.png">

Thanks!

[2021-12-14 15:36] PeNov opened #26984 "Upgrade from 1.7.7.8 to 1.7.8.2 – strange behavior in the admin"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

1)	Eshop works but new Expe

[2021-12-14 15:39] PrestaEdit commented on #26968
Check the "What happened" and see that it will say that the version doesn't match.

[2021-12-14 15:41] jf-viguier commented on #26978
IE is not supported by Prestashop (i've removed it from the doc) :
https://devdocs.prestashop.com/1.7/themes/getting-started/guidelines/#html--css--javascript

[2021-12-14 15:51] florine2623 commented on #26978
Thanks @jf-viguier ,

@seederp2p it won't be fixed then. I'll close your issue. Thank you !

[2021-12-14 15:51] #26978 closed, assigned to nobody

[2021-12-14 16:01] atomiix commented on #26861
Fixed by https://github.com/PrestaShop/autoupgrade/pull/438

[2021-12-14 16:01] #26861 closed, assigned to nobody

[2021-12-14 16:14] Julievrz commented on #25796
Looks good to me, thank you @prestascott!

[2021-12-14 16:31] khouloudbelguith opened #26985 "BO - Brands page - an exception is displayed when deleting a product from the brands page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Brands page,

[2021-12-14 16:39] florine2623 commented on #26982
Thanks for the details.

If the products is deleted, disabled and/or have quantity 0, it will not show up. even if your customer has the link to the product.

Example :

The product is deleted : You will have the following message : This product is no longer available.
<img width="543" alt="Screenshot 2021-12-14 at 17 39 07" src="https://user-images.githubusercontent.com/16019289/146040714-86e3412

[2021-12-14 16:42] florine2623 commented on #26968
Oh sorry ^^
Ok, the error is the following :
<img width="616" alt="Screenshot 2021-12-14 at 17 41 10" src="https://user-images.githubusercontent.com/16019289/146040982-6ee76a79-089d-4fc8-8180-a12b0bb136c8.png">

Indeed it doesn't match. I will ping the dev team to have their insights on this :)
Please stay tuned!

[2021-12-14 16:42] florine2623 commented on #26968
ping @PrestaShop/prestashop-core-developers ,

What should be done about the min compliancy of a module ?
Thanks!

[2021-12-14 16:43] matks commented on #26968
It's a bug, it must be fixed so that's it's possible 👍

[2021-12-14 17:30] PierreRambaud commented on #9965
FYI, the Module Catalog no longer exists in PrestaShop :)

[2021-12-14 18:46] Angar90 opened #26988 "PrestaShop 1.7.8 is no longer compatible with the IE browser"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

PrestaShop 1.7.7 working co

[2021-12-14 18:53] okom3pom commented on #26976
This is not a regression but the normal functioning of PrestaShop.
You can change this in the module position section
You can try with all versions if you uninstall a module it loses its position

[2021-12-14 19:11] PeNov commented on #26984
Hello Florine2623,

I have these issues:
1)	Newly installed things and modules **use wrong translations in the BO menu**. Each installation of the same module we have **different translation**. It looks like randomly generate translation from old existing translations.
example 1:
![image](https://user-images.githubusercontent.com/38213520/146061841-0b5ae8ae-812b-470e-a474-6d707449ce74.png)
_Emails

[2021-12-14 20:55] mvorisek opened #26989 "Install modules always to PrestaShop dir (when used/installed using composer as dependency)"
### Describe the solution you'd like

when PrestaShop  is installed using composer as dependency like:

[code]

the modules are placed into the root project directory `/modues/` instead of the `/ vendor/prestashop/prestashop/modules/` directory

[2021-12-15 03:48] deldanr commented on #9866
dont work for me :(

please any idea?

me ayudas con esto xfa??

[2021-12-15 07:53] #25583 closed, assigned to NeOMakinG

[2021-12-15 08:01] HanaRebaiQA opened #26991 "BO - An exception (Error 500) is generated when adding a new image in Customer reassurance module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception (Error 500) is generat

[2021-12-15 08:10] HanaRebaiQA commented on #26976
Hello @okom3pom,

Thank you!
My issue is duplicated of https://github.com/PrestaShop/PrestaShop/issues/20748

[2021-12-15 08:10] #26976 closed, assigned to nobody

[2021-12-15 08:10] HanaRebaiQA commented on #26976
Duplicate of #20748

[2021-12-15 08:22] mparvazi commented on #26988
The Internet Explorer 11 desktop application will be retired and go out of support on June 15, 2022.
https://blogs.windows.com/windowsexperience/2021/05/19/the-future-of-internet-explorer-on-windows-10-is-in-microsoft-edge/

The Microsoft Edge is based on Chromium, and has similar behavior as like as Chrome and Firefox.

[2021-12-15 08:32] hibatallahAouadni commented on #26989
Hello @mvorisek

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-12-15 08:44] Julievrz commented on #9965
Thanks for reminding me. :) It still existed when this definition was written, but anyway I think "built-in modules" is still appropriate.

[2021-12-15 08:48] hibatallahAouadni commented on #26988
Hello @Angar90

Ping @PrestaShop/product-team could you please check this issue :pray:
It seems the IE11 will be retired on June 15, 2022 and following [our Guidelines and coding standards](https://devdocs.prestashop.com/1.7/themes/getting-started/guidelines/#html--css--javascript):

[code]
Thanks!

[2021-12-15 08:51] NeOMakinG commented on #26988
We need to update this I think so, some of these versions are really low and not really used anymore

As we use bootstrap 4 on both BO and FO, IE11 is in his scope we should probably make an effort until it's out of support!

[2021-12-15 09:06] hibatallahAouadni commented on #26961
Hello @sextoysunivers1964

I just check your screen record and verfiied that the button add to cart doesn't work.
Could you please open your console and make a screenshot of the displayed errors :pray:
Please check and feedback.

Thanks!

[2021-12-15 09:31] khouloudbelguith opened #26992 "FO - A bad display when we hover on the product in the featured-products list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > featured-products list,

[2021-12-15 09:31] mvorisek commented on #26989
the following needs to be added to root-project `composer.json`:

[code]

see https://github.com/composer/installers

[2021-12-15 09:31] #26989 closed, assigned to nobody

[2021-12-15 09:38] hibatallahAouadni commented on #26989
@mvorisek why did you close the issue?

[2021-12-15 09:53] sextoysunivers1964 commented on #26961
Dear Aouadni,

Please find in the attachement the screenshot.

<img width="900" alt="Capture buttom-console" src="https://user-images.githubusercontent.com/84627578/146164245-c3e94ac8-7142-42f6-ac9c-325b45a7872b.PNG">

https://sextoysunivers.it/themes/core.js

Best regards,
Juan Carlos

[2021-12-15 09:54] ahmedbdrn commented on #26975
Hello @florine2623 ,

Thank you so much for your response!

I appreciate your suggestions and will consider hiring a specialist, but in the meantime can someone else do a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)?

Thank you.

[2021-12-15 09:54] mvorisek commented on #26989
must be solved by the composer.json config in composer root project, it is otherwise not easy to say if the root-project require the modules to be "public" (eg. not in vendor directory) or not

[2021-12-15 10:05] hibatallahAouadni commented on #26961
Hello @sextoysunivers1964

I tried to reproduce your issue with PS1772, PS1773 and PS1781, with multistore and different languages. Yet, I didn't manage to reproduce the issue:

https://www.awesomescreenshot.com/video/6452265?key=903796b8c7f8c15acfa13d91510ba2e0

You have some warning in your console and it may be the cause of issue.
Unfortunately and despite our best efforts, we were unable to re

[2021-12-15 10:05] #26961 closed

[2021-12-15 10:15] mparvazi commented on #26936
This page designed in legacy theme.
I think the page must be migrated to new theme to solve this issue.
The grid tables that has action buttons in 3 dots style, has been designed by new theme.

![Screenshot 2021-12-15 at 13-41-27 Pages • preload](https://user-images.githubusercontent.com/85633460/146167275-46098e82-c6d7-4e61-9c75-1a18134ff097.png)

[2021-12-15 10:18] sextoysunivers1964 commented on #26961
Dear Aouadni,

Thank you very much. Unless we know that most likely is not from prestashop.

We'll check other options.

All the best !

Juan Carlos

[2021-12-15 10:30] atomiix commented on #26968
By investigating a little, the issue comes from the fact that when we define a min (or max) version compliancy with less than 4 digits, we automatically add the "missing" ones. So, 8.0.0 becomes 8.0.0.0 which is > to 8.0.0.
I think we did that so we could set `7.0.0` as min version and it would be interpreted as `1.7.0.0`.

[2021-12-15 10:32] mparvazi commented on #26936
The pages has been designed by legacy theme:

Order Settings > Statuses
Customer Settings >  Groups
Customer Settings > Titles
Contact > Stores
Search > Tags
Locations > Countries
Locations > States
Taxes > Tax Rules
Shipping > Carriers
Theme & Logo > Pages Configuration
Design > Image Settings
Customer Service > Customer Service
Customer Service > Merchandise Returns
Attributes & Features > Attri

[2021-12-15 11:02] hibatallahAouadni commented on #21019
Ping @matks what's the status of this issue?

[2021-12-15 11:47] jorunkel commented on #12185
We were facing a similar problem, just that it was not the header but the returned cookie size which exceeded 4096 characters and thus was not accepted. After decoding the cookies content we've found that the module "blockviewed" adds the ID of every viewed product into the (clientside!) cookie. Viewing about 420 products were enough to blow the cookie. Our solution was to disable this module. Che

[2021-12-15 11:58] PicenoC commented on #20580
I have the same problem even without an update, in fact it does the same calculation if you download the ps version

I solved it by commenting - $ params ['order'] -> getTotalPaid ();

[2021-12-15 11:59] jorunkel opened #26996 "ps_viewedproduct blows up the cookie size"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The module `ps_viewedproducts` stor

[2021-12-15 12:26] mparvazi commented on #26988
@NeOMakinG

I think the problem is related to using arrow functions in `core.js`.
IE11 doesn't support arrow functions.

https://caniuse.com/arrow-functions

[2021-12-15 12:59] NeOMakinG commented on #26988
It's already fixed, added some browserslist compatibilities to babel-loader so it transpile the JS into an IE11 compatible one

[2021-12-15 12:59] NeOMakinG commented on #26988
But there is a problem with the backend, looks like the add-to-cart request is fine on both IE11 and Chrome, but the result comes with an empty product, we can't find the problem :/

[2021-12-15 13:10] matks commented on #21019
@hibatallahAouadni Not fixed yet. I stopped working on https://github.com/PrestaShop/PrestaShop/pull/21018 by lack of time.

[2021-12-15 13:22] seederp2p commented on #9594
Is this still present??

[2021-12-15 13:26] msaustral commented on #9594
Hi yes it is, till 1.7.8.1.

This issue is hard to solve as it is random

[2021-12-15 13:33] hibatallahAouadni commented on #25013
Hello everyone,

Following request, I only reproduce the issue on PS1.7.8.0 and PS1.7.8.2.
So, It's a regression on PS1.7.8.0 and it should be fixed on 1.7.8.x.

Thanks!

[2021-12-15 13:59] hibatallahAouadni commented on #20001
I reproduce the issue with PS1782

[2021-12-15 14:17] hibatallahAouadni commented on #14419
Hello @marionf

I still reproduce the issue with PS1782. And I found out another bug:

1. Create a virtual product with a file
2. Order it
3. Change order status for payment accepted
4. You receive a mail with a link to download your virtual product
5. See error > you can't download the file
6. Back to FO and **reorder** the same order
7. See error > You receive a mail **without** the link to down

[2021-12-15 14:31] hibatallahAouadni commented on #14456
reproduced on 1.7.8.2

[2021-12-15 15:04] hibatallahAouadni commented on #26950
Hello @mpaolino

Thanks for your patience and your understanding :pray:
@SD1982 reproduce the issue with PS1.7.7.x and PS1.7.8.x. I’ll add this to the debug backlog so that it’s fixed.

Thanks for your PR :rocket:

Thank you

[2021-12-15 15:16] Progi1984 commented on #26547
Fixed in #26590 by @Progi1984 & Tested by @HanaRebaiQA

[2021-12-15 15:16] #26547 closed, assigned to Progi1984

[2021-12-15 15:37] mpaolino commented on #26950
![giphy](https://user-images.githubusercontent.com/757973/146216695-2e2a9695-78d3-407e-9629-578226b31091.gif)

[2021-12-15 16:26] teratux opened #26999 "Call on null object from the FrontController"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm trying to develop a module for

[2021-12-15 16:56] Hlavtox commented on #26996
Yes, this happened on 1.6 after a month of our employees using the store. I opened an issue about it but it was closed for not being able to reproduce.

[2021-12-15 16:57] hibatallahAouadni commented on #15441
still reproduce with PS1782

[2021-12-15 17:01] hibatallahAouadni commented on #25683
Ping @Progi1984 why did you reopen the issue while the PR is well merged?

[2021-12-15 17:12] Hlavtox commented on #25683
@hibatallahAouadni It's only partially solved, I reduced the time on customer view by approximately 15%.

[2021-12-15 17:19] jorunkel commented on #26996
Let me link your issue for reference which was related to the `blockviewed` module I guess.
https://github.com/PrestaShop/PrestaShop/issues/14751

This bug is still present in the current version of `ps_viewedproduct`.

[2021-12-15 17:52] psgpolska opened #27000 "Problem with the product edit view in the backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Issue with the product edition view

[2021-12-15 20:48] seederp2p commented on #9594
To me it happens all the time when certain conditions are met:

https://github.com/PrestaShop/PrestaShop/issues/23738

[2021-12-15 23:29] PeNov commented on #26984
Hello Florine2623,

I don’t know if this solution is 100% correct, but this solution works.

Access denied was solved by these SQL query’s:

[code]

For modules access denied:

[code]

I uninstalled and Installed modules Facebook and Google again. Now BO menu contain correct names (Facebook and Google) and I am able access to module configuration.

Problem with wrong translation and Marketing menu

[2021-12-16 01:01] alfonsolr09 opened #27003 "gtin and mpn is not required if the product is not new or the manufacturer has not assigned it a gtin"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

gtin and mpn is not required if the

[2021-12-16 06:34] Advisuel commented on #22215
Hi
I just installed a backup of an OVH database and I had this problem solved thanks to @DelosTR
today it is no longer possible to rely on prestashop 1.7.8 to handle it correctly
a simple installation of a database backup the day before and the site is all crashed !!!

[2021-12-16 08:28] Progi1984 commented on #15441
@eternoendless or @PierreRambaud Could you move this issue to the gamification repository in PrestaShopCorp organisation ?

[2021-12-16 09:04] eternoendless commented on #15441
@Progi1984 AFAIK we can't move issues across organizations, so the issue must be reopened here: https://github.com/PrestaShopCorp/gamification/issues

[2021-12-16 09:41] hibatallahAouadni commented on #27000
Hello @psgpolska

I didn't manage to reproduce the issue with PS1776 upgraded to PS1782, see the attached screen record below:

https://www.awesomescreenshot.com/video/6471213?key=e58c4085a39de331f79ab7c2ba88b8fd

The only issue I have encountered is #26543 which caused by Browser cache.
Please check and feedback.

Thanks!

[2021-12-16 10:11] hibatallahAouadni commented on #27003
Hello @alfonsolr09

It seems that your issue is not a PrestaShop core bug.
If your module is GoogleMarketing Official, please contact support team on Addons (or the developer module).

We will close this issue.

Thanks!

[2021-12-16 10:11] #27003 closed, assigned to nobody

[2021-12-16 10:16] hibatallahAouadni commented on #26996
Hello @jorunkel & @Hlavtox

All **performance** issues are considered as improvements.
So, thanks for your issue! the Developer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/ex

[2021-12-16 10:16] khouloudbelguith opened #27005 "BO - Positions page - selectbox are not well displayed when resizing the page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Design > Positions page

[2021-12-16 10:21] SamiSiitonen opened #27007 "Productcomments material icons indexed to Google heading tags"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product comments module has materia

[2021-12-16 10:28] jorunkel commented on #26996
Thanks for your comment. Just to make this clear: the issue is not about **performance**. If the cookie size exceeds 4096 bytes they are no longer working, resulting in Bad Request headers or failures in authentication, cart handling and so on ...

[2021-12-16 10:34] hibatallahAouadni commented on #26996
After discussing this issue with @kpodemski I changed the label to a **`Bug`**, cause it seems that when the cookie is too big, it doesn't just slow down the site but it crashes everything

[2021-12-16 10:36] hibatallahAouadni commented on #26752
Hello @Morph21

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-16 10:36] #26752 closed, assigned to nobody

[2021-12-16 10:41] Hlavtox commented on #26996
@hibatallahAouadni Its not a performance issue. The whole store stops working and users can't add anything to cart.

[2021-12-16 10:42] hibatallahAouadni commented on #26766
Hello @rodriciru

As @pmartin-webimpacto mentioned above: **SwiftMailer library requires proc_open() enable to work.**
So, please try to enable the **proc_open** and check if you still encounter the issue with the payment module.

I'm really sorry but despite our efforts, we were not able to reproduce your issue with the provided information.
We will close this issue.

Thanks!

[2021-12-16 10:42] #26766 closed, assigned to nobody

[2021-12-16 10:53] Hlavtox commented on #27007
Cleanest solution:

[code]

[2021-12-16 10:54] hibatallahAouadni commented on #26736
Hello @50l3r

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-16 10:54] #26736 closed, assigned to nobody

[2021-12-16 11:21] hibatallahAouadni commented on #26680
Hello @indusone & @rsoulard-prolaser

I didn't manage to reproduce the issue following your steps, see the attached screen record below:

https://www.awesomescreenshot.com/video/6472853?key=3be8f44316063881c0522a2b0e34c040

Please check and feedback.
Thanks!

[2021-12-16 11:37] hibatallahAouadni commented on #26899
Hello @jlbrd

@marwachelly asked you to proivde the xml that you use as request body, so I'm asking you again to provide the body request that you use to reproduce the issue :pray:
Please check and feedback.

Thanks!

[2021-12-16 11:55] Morph21 commented on #26752
I was trying to contact my client to get feedback about why he have there id "0" for a customer but sadly I didn't get any response. So I don't know why and how it is possible for situation like that to occur. But In general the problem here is about non consistent responses and not about that id equals to 0.

I just tested it in other way and you  still can get response like i said above.

1. Del

[2021-12-16 13:06] revori commented on #26869
Hi. I had the same issue. For the uninstall function a wrong hook name is used. Instead of 'actionSubmitAccountBefore' 'actionBeforeSubmitAccount' is used. If you change that the uninstall works.

[2021-12-16 13:13] rsoulard-prolaser commented on #26680
Hello @hibatallahAouadni

You did not follow my steps, can you try again with a fresh install of PrestaShop 1.7.7.3 with my module.

**Steps to reproduce**
1. Open BO 1.7.7.x
2. Go to Logs page and change the minimum severity level to 2
3. Install this module: [logger.zip](https://github.com/PrestaShop/PrestaShop/files/7727490/logger.zip)
4. Complete 1 click upgrade
5. Login
6. Enable debug
7. **L

[2021-12-16 13:49] hibatallahAouadni commented on #26999
Hello @teratux

It seems that your issue is not a PrestaShop core bug.
Please contact your module developer or the support team on Addons.

We will close this issue.

Thanks!

[2021-12-16 13:49] #26999 closed, assigned to nobody

[2021-12-16 14:47] #26786 closed, assigned to atomiix

[2021-12-16 15:04] hibatallahAouadni commented on #21112
Hello everyone,

Due to inactivity of this issue (it's been a year) I'm closing this issue.

Thanks for your understanding :pray:

[2021-12-16 15:04] #21112 closed, assigned to nobody

[2021-12-16 15:13] d33x opened #27009 "Carrier - Tracking : Add more than one parameter for the tracking link"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-16 15:21] hibatallahAouadni commented on #25837
Hello @amerigeau

Thanks for your patience :pray:
I install your module, then I click on the cron link, a new feature value has been created:

![image](https://user-images.githubusercontent.com/23308427/146398481-05e04e63-7495-49a2-ada6-fc9ae75ba5a2.png)

So what should I do? Could you please provide the next steps to reproduce the issue :pray:
Please check and feedback.

Thanks!

[2021-12-16 15:28] #23462 closed, assigned to Progi1984

[2021-12-16 15:30] #23124 closed, assigned to nobody

[2021-12-16 15:31] Morph21 commented on #26752
@hibatallahAouadni maybe when I describe my use case it will be easier to understand.

So basically I'm creating integrations with many ecommerce softwares for our clients to be able to fetch orders and create invoice with that data.

I need complete data which includes data from endpoint /customers

When i fetch orders then i try to fetch customer for each order I'm doing it with filter parameter

[2021-12-16 15:32] teratux commented on #26999
Hi, why would the issue be related specifically to that module? I'm not aware that the callback ever manages to get to the module and fails along the way.  The logs don't seem to point me in that direction

[2021-12-16 15:40] hibatallahAouadni commented on #22840
Hello everyone,

Due to inactivity of this issue (it's been over 9 months) I'm closing this issue.

Thanks for your understanding pray

[2021-12-16 15:40] #22840 closed, assigned to nobody

[2021-12-16 15:42] mvorisek commented on #22840
@hibatallahAouadni this is valid issue

[2021-12-16 15:57] hibatallahAouadni commented on #27007
Hello @SamiSiitonen & @Hlavtox

Are you talking about these heading? (with PS1782)

![image](https://user-images.githubusercontent.com/23308427/146405005-8ae06947-6103-4d6d-803e-287556f0d544.png)

Ping @PrestaShop/prestashop-core-developers could you please check this issue :pray:
Thanks!

[2021-12-16 16:08] khouloudbelguith opened #27010 "BO - Errors are displayed in the console"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > in any page > an error

[2021-12-16 16:54] teratux commented on #26999
even more, I installed the same module in another sandbox with the PS 1.6.1.16 version and all is working ok https://presta16.intellifoundry.com

[2021-12-16 20:40] nzebikes commented on #18016
Actually I think it got worse: I upgraded from 1.7.7.x to latest 1.7.8.x and now even in the shopping cart it will show the wrong picture! Since this is not acceptable for my store (and I guess for any store) and reverted back to the previous version. Pretty disappointing...

[2021-12-17 01:19] alfonsolr09 commented on #26869
https://github.com/PrestaShop/ps_dataprivacy/pull/34

[2021-12-17 04:36] teratux commented on #26999
@hibatallahAouadni looking further into this, from the log the error occurs when trying to load the 'prestashop.core.filter.front_end_object.main' container.  From the cli console I tried looking it up and got nothing:
[code]
I tried running the command also without the module installed, and same message, do you still believe this is an issue related to the module and not the core?

[2021-12-17 06:53] askurashev opened #27013 "The price is not recalculated in the admin panel on the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The problem is as follows. Taxes, t

[2021-12-17 07:42] jlbrd commented on #26899
Sorry, I thought the solution was given by @unlocomqx. A problem with RC. So here is the content:

[code]

[2021-12-17 07:47] jlbrd commented on #26899
In addition, the same body without the carriage returns and spaces:
[code]

No error: 200 OK

[2021-12-17 08:40] florine2623 commented on #27013
Hello @askurashev ,

I can't reproduce your issue on PS 1.7.8.x, the price is updated along the editing process :

https://user-images.githubusercontent.com/16019289/146514680-d1ee80ec-fa85-4a1d-97e7-291b5acc9e72.mov

Can you check the configuration of your Tax rule ?
My tax config :
<img width="791" alt="Screenshot 2021-12-17 at 09 40 20" src="https://user-images.githubusercontent.com/16019289/14

[2021-12-17 09:26] askurashev commented on #27013
Tax active, tax rule created and active.
! If enable Experimental edit product page, prices have true behavior. If disable Experimental edit product page, prices behavior is wrong.
I enable experimental feature early. Could enabling the feature affect the product page?

[2021-12-17 09:50] florine2623 commented on #27013
Even when I test with Experimental Features enabled, I can't reproduce your issue.
The price update automatically.

https://user-images.githubusercontent.com/16019289/146525131-c37e0b19-34a0-43bd-b8c5-663dd72494ff.mov

Do you have any error on the console ?

[2021-12-17 10:01] askurashev commented on #27013
I repeat, all of a sudden there were some misunderstandings.
If I enable the experimental function, then the auto-recalculation works (is displayed), if the standard edit page is not displayed. But at the same time, if I edit in either way, the correct values go to the base.
Those. auto-recalculation is done correctly, but on the standard product editing page, this recalculation is not visible.

[2021-12-17 11:01] askurashev commented on #27013
Screencast:

Uploading IMG_20211217_140030_353.mp4…

[2021-12-17 11:53] #26834 closed, assigned to nobody

[2021-12-17 12:00] ballashop commented on #21630
Hi,
the problem comes back to us like this:
if we choose the default English language the **order_config** email template is sent with the correct layout
if we switch from English to Italian language, the layout has broken as indicated above.
So only by switch the language, without changes anything inside the e-mail code, the order_conf change layout.
Thanks any reply.
Balla

[2021-12-17 12:17] florine2623 commented on #27013
@askurashev ,

On my end, with or without Experimental Features enabled, I can't reproduce your issue.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you

[2021-12-17 12:17] #27013 closed, assigned to nobody

[2021-12-17 13:32] jf-viguier commented on #10274
Try to post a Pull Request and a maintainer will answer

[2021-12-17 13:57] jf-viguier commented on #26199
@sfroment I've included your pr here and it's merged, thanks https://github.com/PrestaShop/PrestaShop/pull/24403

[2021-12-17 13:59] sfroment commented on #26199
haha nice getting this merged !

[2021-12-17 14:12] #22658 closed, assigned to kpodemski

[2021-12-17 14:32] babyewok commented on #26962
OK, well I set up the shop on a local test server where I have php7.3 in a last attempt to upgrade rathe than go with a fresh install.  This time I got a 500 error on running upgrade.php with this error in the error log:

[Fri Dec 17 14:17:26.694681 2021] [php7:error] [pid 15928:tid 2100] [client ::1:50813] PHP Fatal error:  Uncaught Symfony\\Component\\Intl\\Exception\\MethodNotImplementedExcepti

[2021-12-17 14:47] robertosanval commented on #15304
Exact same issue here :(

[2021-12-17 15:19] SamiSiitonen commented on #27007
Yea those are the ones + the others on the list from my screenshot.

[2021-12-17 15:39] #27010 closed, assigned to NeOMakinG

[2021-12-17 16:18] Sinpery99 opened #27016 "Blockwishlist Prestashop 1.7.8.2. Add a product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1) I have installed Prestashop 1.7.

[2021-12-17 16:43] fabienvallon opened #27017 "php files from the repository have execute bit set"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Some of php files have execute bit

[2021-12-17 16:59] fabienvallon opened #27018 "The whole page "Orders" is redraw when you sort the orders list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The whole page is redraw when you s

[2021-12-17 19:38] alvolk opened #27019 "1-Click Upgrade module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1. There are errors in UpgradePage.

[2021-12-17 22:01] matks commented on #27018
Hello @fabienvallon the full redraw is not a bug it's a feature.

You're thinking that it's useless to redraw the whole page, and you are right. You're thinking we could send an ajax query; get the data (here, the list content with the sort applied) and redraw only the list.

But if we do this, then the list becomes drawable in 2 usecases at least:
- when the page loads for the 1st time, on synchr

[2021-12-18 03:51] Joduai commented on #11277
Is this module compatible with older 1.7.X versions?
Unfortunately installation fails on ps 1,.7.4.x, and I wonder if changing module's min. requirements wouldn't mess up ps instance after installation?

[2021-12-18 04:02] rickygzz commented on #23848
I created PR # https://github.com/PrestaShop/LocalizationFiles/pull/12 and PR # https://github.com/PrestaShop/PrestaShop/pull/27021

I am afraid the one in `PrestaShop/PrestaShop` may not be required, according to `LocalizationFiles/README.md`

[2021-12-18 07:31] mparvazi commented on #27007
In front-end display, the material icons should be implemented by unicodes.
Google doesn't index the unicode block.

[code]

[2021-12-18 08:42] rickygzz commented on #19430
Hello,

I believe we will have to split this issue fix in at least two pull requests: one to add the states, and another to add the tax rules.

So I created the first pull request for this issue in https://github.com/PrestaShop/LocalizationFiles/pull/13

The added states are based on ISO 3166-2 (https://www.iso.org/obp/ui/#iso:code:3166:GB) which has the latest changes up to November 25, 2021.

It

[2021-12-18 11:19] SharakPL commented on #26924
I think it comes from Modules section or directly from Addons Marketplace. Whenever I try to install new module a `pro_` folder is being created in *var/cache*. First file there is **annotations.map**

[2021-12-18 13:12] matks commented on #11277
@Joduai not compatible with older 1.7.X versions

If you need to use it on older 1.7.X versions you have to adapt it

[2021-12-18 15:22] thbl commented on #26956
@florine2623 any info on how to connect with ssl ?

[2021-12-18 15:23] thbl commented on #10784
@florine2623 why is this closed ?

[2021-12-18 15:37] Hlavtox opened #27023 "Unify cart validity checking functions and improve it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-19 12:35] lvitale-webimpacto commented on #26772
Hi. Didd you get any clue to optimize this sql?

[2021-12-19 14:58] tswfi commented on #27007
@mparvazi that works but is not that readable. I do like this method from stackoverflow: https://stackoverflow.com/questions/37281861/how-to-use-google-material-icons-as-class-instead-of-i-tag/61659184#61659184

But with a minor change to css to only affect the ones that have the data-icon attribute

[code]

[code]

Keeps it readable and is just a small css change (and of course change all the htm

[2021-12-19 15:32] saulbarros opened #27024 "Wrong calculation in cart page?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi guys I have been testing with 1.

[2021-12-19 18:21] alfonsolr09 commented on #27009
He knows the customer's zip code, I don't see the problem that the customer puts his postal number

[2021-12-19 18:24] alfonsolr09 opened #27025 "delete gamification module on v 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

will the gamification module be rem

[2021-12-19 18:30] alfonsolr09 opened #27026 "There are no Spanish translations in the ps_emailalerts module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There are no Spanish translations i

[2021-12-19 19:06] d33x commented on #27009
I don't understand the point of your message ...

It doesn't ask if the customer knows their postcode or not, I'm just pointing out that many tracking links require an additional parameter than the tracking number. Without this parameter, the link does not work.

If I follow your logic, I just give the tracking number and the customer is on his own without any link...

Namely, this feature would a

[2021-12-19 19:06] d33x commented on #27009
I don't understand the point of your message ...

It doesn't ask if the customer knows their postcode or not, I'm just pointing out that many tracking links require an additional parameter than the tracking number. Without this parameter, the link does not work.

If I follow your logic, I just give the tracking number and the customer is on his own without any link...

Namely, this feature would a

[2021-12-19 21:03] matks commented on #27025
@alfonsolr09 Gamification module is being pushed inside new shops at install process.

The "push modules on install" process also install modules like ps_checkout or ps_facebook. The "push modules on install" process will be removed from PrestaShop 8 so gamification, ps_checkout, ps_facebook, all of them will be gone :)

I close this issue because it's already fixed 😝 . If you want to see try inst

[2021-12-19 21:03] #27025 closed, assigned to nobody

[2021-12-19 21:07] matks commented on #10784
@thbl it's written:

No news for more than 30 days -> ticket is closed. Here there was no news for 6 months. We cannot keep open tickets where author does not provide informations.

[2021-12-19 21:07] alfonsolr09 commented on #27025
Okay, so what are the modules that will come installed by default?

Also, is there any tutorial to install the develop branch, I tried to do it once but the styles were not loaded

[2021-12-19 21:09] matks commented on #10784
I renamed this issue for a better title, this is a request for improvement.

We have no guide on how to connect to DB with SSL.

If you find that this improvement is critical for you, and it's important to have it built ASAP, then you can _invest_ into having it done. PrestaShop is an open source, community project. You can hire a developer or sysadmin to find how to do this, or if you are a devel

[2021-12-19 21:47] matks commented on #27025
The modules that are part of this list https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json because they are part of the project and do not belong to the company.

https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/contribute_using_localhost/

You probably did not apply the step "Compile assets"

[2021-12-19 22:03] alfonsolr09 commented on #27025
Okay, I'll try. thank you very much matks

[2021-12-19 22:05] alfonsolr09 commented on #27025
For existing stores, will there be any option when updating to eliminate the modules that would not be in a new installation?

[2021-12-20 07:45] PierreRambaud commented on #26869
Duplicates of #23708
Already fixed in https://github.com/PrestaShop/ps_dataprivacy/pull/21

[2021-12-20 07:47] lmeyer1 commented on #26772
@lvitale-webimpacto
Look at the PR #26773.

[2021-12-20 08:21] lvitale-webimpacto commented on #26772
thabks a lot

[2021-12-20 08:23] hibatallahAouadni commented on #26808
Hello @leah68

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-20 08:23] #26808 closed, assigned to nobody

[2021-12-20 08:40] hibatallahAouadni commented on #27016
Hello @Sinpery99

I didn't manage to reproduce the issue with PS1782 and BlockWishlist v2.0.1, see the attached screen record below:

https://www.awesomescreenshot.com/video/6521077?key=e59f6259c035b15355af541100e3e19a

Please check and feedback.
Thanks!

[2021-12-20 08:42] matks commented on #27025
I'm not sure but I dont feel safe building a feature that remove modules on shops... sounds like a dangerous move. I dont want the code to delete a module that the merchant needed by mistake 😅  isn't it easier for merchants to clean their shops by themselves? At least they 100% control what they remove

[2021-12-20 08:44] onklmaps commented on #17598
Hi 🙂

Should the title of this be "Order management, a new start"?

**The following questions should be easy to answer for the merchant:**
1. What does all the checkboxes inside `Shop Parameters > Order settings > Statuses > Edit status` mean?
2. How do I generate an invoice?
3. How do I make sure my customer gets an email?
4. How do I generate a delivery slip?
5. What causes an order to _reserve

[2021-12-20 08:49] #25208 closed, assigned to nobody

[2021-12-20 09:15] hibatallahAouadni commented on #27017
Hello @fabienvallon

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-core-developers could you please reproduce the issue :pray:

Thanks in advance!

[2021-12-20 09:32] hibatallahAouadni commented on #27023
Hello @Hlavtox

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-12-20 09:42] PierreRambaud commented on #27017
I confirm the issue

[2021-12-20 10:04] khouloudbelguith opened #27028 "BO - Dashboard - errors are displayed when debug mode is enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After fresh install with develop br

[2021-12-20 10:28] #27024 closed, assigned to nobody

[2021-12-20 10:28] SD1982 opened #27029 "Side menu is in English even if the shop is installed in another language (docker)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With the docker image the side menu

[2021-12-20 10:44] HanaRebaiQA opened #27030 "FO - Bad display of quick view in some pages of products list for example Brand list page / Supplier list page / Search list page / Product page / Home page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A bad display of quick view in prod

[2021-12-20 10:49] HanaRebaiQA commented on #27030
related to #26992

[2021-12-20 11:01] hibatallahAouadni commented on #27017
Ping @PierreRambaud is it a **regression** on `1.7.8.0` or `1.7.8.2`?

[2021-12-20 11:18] hibatallahAouadni commented on #27026
Hello @alfonsolr09

You encounter this issue cause there's missing traductions, please follow these steps:

1. **BO**>**IMPROVE**>**International**>**Translations**
2. In the first block **`Modify translations`**
3. Choose **Installed modules translations** as **`Type of translation`**
4. Select **Mail alerts** as **`Select your module`**
5. Set **Spanish** as **`Select your language`**
6. Click o

[2021-12-20 11:20] hibatallahAouadni commented on #27019
Hello @alvolk

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2021-12-20 11:20] #27019 closed, assigned to nobody

[2021-12-20 11:26] hibatallahAouadni commented on #26869
Ping @PierreRambaud it's not a duplicate cause that PR was merged in 2.0.1:

![image](https://user-images.githubusercontent.com/23308427/146760120-ec7cafe0-d1f1-42c1-b50c-aa8b7efc3a40.png)

And as you can see in my comment above, I reproduce the issue with DataPrivacy v2.0.1:

![image](https://user-images.githubusercontent.com/23308427/146760289-a53bbb0d-a4cc-45dc-8857-0d7082e78e07.png)

Thanks!

[2021-12-20 11:35] mparvazi opened #27031 "[BO] Email Theme preview page has overflow in mobile screen"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The grid table in email theme previ

[2021-12-20 11:42] Kaudaj commented on #23970
This bug still occurs in 1.7.8.2 on my side.

[2021-12-20 12:11] qualityangel opened #27032 "Maintenance mode does not show website after ip insertion"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When entering in Maintenance mode,

[2021-12-20 13:08] PierreRambaud commented on #26869
It targeted the wrong milestone, the fix is not released yet

[2021-12-20 13:09] PierreRambaud commented on #27017
It's not a regression

[2021-12-20 13:30] matks commented on #25457
Point acknowledged, I will carry this feedback to the people responsible for this. You will find the answers in the OSS demo of November https://www.youtube.com/watch?v=jwOy3gx-MNs

No, actually we're doing more and more for the project. But we are not working on the topics you consider more important.

As I said before if you find that a topic is important for you, then you should _invest_ into h

[2021-12-20 13:49] hibatallahAouadni commented on #27031
Hello @mparvazi

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26634.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-12-20 13:49] #27031 closed, assigned to nobody

[2021-12-20 13:49] hibatallahAouadni commented on #27031
Duplicate of #26634

[2021-12-20 14:08] hibatallahAouadni commented on #27032
Hello @qualityangel

I didn't manage to reproduce the issue with PS1782, see the attached screen record below:

https://www.awesomescreenshot.com/video/6526110?key=8296ef5f649f2dae3617bbb84583f788

Please check and feedback.
Thanks!

[2021-12-20 14:20] qualityangel commented on #27032
You did make the screen of a local Prestashop. I have a clean install on my server. Never had it with Prestashop on my server.

[2021-12-20 14:52] hibatallahAouadni commented on #26878
Hello @kpodemski & @rblaurin

I tried multiple times with multiple versions and multiple navigators, but I still have the same problem:

https://watch.screencastify.com/v/qEVgcQQk6RfxjOqA5rKT

It seems the hook is not called :disappointed:
Ping @PrestaShop/qa-team could someone please try to reproduce the issue :pray:

Thanks!

[2021-12-20 15:16] #20454 closed, assigned to matks

[2021-12-20 15:17] matks commented on #20454
The bad behavior identified by @PierreRambaud has been fixed in https://github.com/PrestaShop/PrestaShop/pull/26475

The behavior "If ID_product is not defined, we can't find combination by reference" is not a bug IMO. You should always have a ID_product. The function does not work if there is no ID_product.

[2021-12-20 15:18] paul-jolimoi opened #27033 "Cart recovery set is_logged at true"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we recover a cart through the

[2021-12-20 15:20] jolelievre opened #27034 "Improve combination suppliers' edition in new product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-20 16:14] matthieu-rolland commented on #25657
Done in this PR:  https://github.com/PrestaShop/autoupgrade/pull/412

[2021-12-20 16:40] eternoendless opened #27037 "ps_emailalerts is not compatible with PS 8.0"
There is a dependency conflict when installing ps_emailalerts in PS 8:

![Screenshot](https://user-images.githubusercontent.com/1533248/145216886-89ba26f0-dc43-4718-ab74-788e41ad5f4d.png)

[2021-12-20 16:41] matks opened #27038 "Blockwishlist, when 'add to wish list' heart is clicked, if come back, there is an error in console"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Blockwishlist module. If you add a

[2021-12-20 16:45] eternoendless opened #27039 "blockreassurance is not compatible with PS 8.0"
There is a dependency conflict when installing blockreassuance in PS 8:

![Screenshot](https://user-images.githubusercontent.com/1533248/145216555-550d3504-eb30-4c7a-a81a-6bb88e17065a.png)

[2021-12-20 16:49] eternoendless opened #27040 "productcomments is not compatible with PS 8.0"
There is a dependency conflict when installing productcomments in PS 8:

![Screenshot](https://user-images.githubusercontent.com/1533248/145216608-b29d145a-9430-43a5-9d24-9844aee57438.png)

Do not forget to check to reproduce the [bug #27007](https://github.com/PrestaShop/PrestaShop/issues/27129) after the compatibility update

[2021-12-20 16:59] tom-combet opened #27041 "Use actionCartUpdateQuantityBefore return value"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-20 17:05] hibatallahAouadni commented on #9941
Hello @mkdgs & @Prestaworks

Thanks @mkdgs for the detailed steps :pray:
Unfortunately, I didn't manage to reproduce the issue with PS1782 and PS1778, see the attached screen record below:

https://www.awesomescreenshot.com/video/6528708?key=711cda2a4fab24e80a3135f08c478a81

I think there's a missing steps :sweat_smile:
Please check and feedback.

Thanks!

[2021-12-20 17:07] arafatx commented on #15253
As mentioned by @ghost in #13036, I also do not like the date picker when you put the input type to be 'date' because it is not really user-friendly to navigate the year. But if you try to use 'birthday' as the input type (nobody has mentioned this before), that is the best UI that was implemented previously in Prestashop 1.6. The only issue if you use 'birthday' type is the CSS need to be changed

[2021-12-20 17:26] medworker-dev commented on #18558
I have the same issue with my multistore setup, i can´t edit products in the backend (no default category). In the database it seems ok, every product has it´s default category in every shop. Is there a solution for this bug? I would really need to get this work.

kind regards
Tom

[2021-12-21 08:08] camlafit commented on #20454
Hi

As reference should be unique is not necessary to provide a restriction related to product context.
As use case we have importation system. In this case we search a combination from its reference at this moment product is not known.

I'm not sure to provide a new method is a good idea. It'll a quasi duplicate code. cf #20455 and https://github.com/PrestaShop/PrestaShop/issues/20454#issuecommen

[2021-12-21 08:32] hibatallahAouadni commented on #26869
Hello everyone,

@PierreRambaud Thanks for the correction and clarification :pray:
@alfonsolr09 Sorry but I have to close the issue. This issue is a duplicate of #23708.

Thanks!

[2021-12-21 08:32] #26869 closed, assigned to nobody

[2021-12-21 08:32] hibatallahAouadni commented on #26869
Duplicate of #23708

[2021-12-21 08:34] alfonsolr09 commented on #26869
when will the correction be released?

[2021-12-21 08:40] hibatallahAouadni commented on #26869
@alfonsolr09 v2.0.2

![image](https://user-images.githubusercontent.com/23308427/146898650-dd11efde-6e17-4879-a05a-39858706d760.png)

[2021-12-21 09:31] fabienvallon commented on #27018
OK.
Thx

[2021-12-21 09:31] #27018 closed, assigned to nobody

[2021-12-21 09:45] marwachelly commented on #27041
Hello @Kaudaj
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider hiring a specialist to help you create it.

If you are willing to implement this feature into PrestaShop as a Pull Request, th

[2021-12-21 10:02] max-baranikov opened #27042 "PS 1.7.8 Context currency is null in module front controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi everyone!

I have a problem that

[2021-12-21 10:09] marionf opened #27043 "As a merchant, I need to see quickly if the order was placed by a guest"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-21 10:30] marwachelly commented on #27038
Hello,

I manage to reproduce the issue on develop and 1.7.7.8.
https://watch.screencastify.com/v/EvU6G8KI9uaInY1QmMLU

Thanks,

[2021-12-21 10:42] marwachelly commented on #27042
Hello,

Thanks for your report. Is this module provided by prestashop?

Thanks!

[2021-12-21 10:47] max-baranikov commented on #27042
Don't fully understand the question, but I'll try to answer

This module isn't the core module, but can be easily downloaded from the official addons marketplace here - https://addons.prestashop.com/ru/order-management/47974-simlacom.html <https://addons.prestashop.com/ru/order-management/47974-simlacom.html>
Oh, and it was rebranded recently, so now it called Simla.com

[2021-12-21 11:14] mparvazi opened #27045 "[CORE] The naming for displayHeader hook is misleading"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-21 11:22] mparvazi commented on #27045
An issue that happened by mistake for this naming: https://github.com/PrestaShop/PrestaShop/issues/25434

[2021-12-21 11:29] #26660 closed, assigned to nobody

[2021-12-21 12:05] Hlavtox commented on #27043
Hi @marionf, isn't that the responsibility of the merchant to know what he renamed the Guest group to? It's clearly stated in the group settings.
![Výstřižek](https://user-images.githubusercontent.com/6097524/146926996-06f0ff39-4540-49fd-83dc-4726744da5a9.JPG)

Also, you can distinguish a guest by not having this information:
![groups](https://user-images.githubusercontent.com/6097524/146927112-05

[2021-12-21 13:12] okom3pom commented on #19113
Since I am using 1.7 in production I am sorry but you are wrong. Please ask the merchants what they think about the invoices modified by prestashop?

_If I remember correctly (@PrestaShop/prestashop-product-team can correct me if I'm wrong) we checked with a lawyer to be sure about whether or not an invoice could be modified. And his answer :

It cannot be done. PrestaShop can be used anywhere in

[2021-12-21 14:26] marwachelly commented on #26680
Hello @rsoulard-prolaser ,

I manage to reproduce your issue with an upgrade from 1.7.7.3 to 1.7.8.2 and following the steps bellow:

1. Open BO 1.7.7.3
2. Go to Logs page and change the minimum severity level to 2
3. Install this module: logger.zip
4. Complete 1 click upgrade to 1.7.8.2
5. Login
6. Enable debug
7. LOGOUT
8. Login => unable to login
https://watch.screencastify.com/v/0Sj2krEvYLqWB2

[2021-12-21 14:42] rsoulard-prolaser commented on #26680
Hello @marwachelly,

I did a PR: https://github.com/PrestaShop/autoupgrade/pull/436

Thanks

[2021-12-21 14:54] marwachelly commented on #27045
Hello @mparvazi
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider hiring a specialist to help you create it.

If you are willing to implement this feature into PrestaShop as a Pull Request,

[2021-12-21 15:29] eternoendless commented on #27045
I had a look at it. `displayHeader` is a peculiar hook that behaves both as a display and as an action hook. There's even a special exception in the code for it.

The hook is clearly meant to act as an _action_ hook, that is, as an event to notify modules and allow them to add js and CSS via `registerStylesheet()` and `registerJavascript()` (as [seen in ps_imageslider](https://github.com/PrestaSho

[2021-12-21 15:52] marwachelly opened #27047 "BO - Cross icon is not working and freezed page while editing a specific price in pricing page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cross icon is not working and freez

[2021-12-21 16:01] marwachelly commented on #27033
Hello,

Could you please provide me with a screen record to reproduce the issue.

Many thanks,

[2021-12-21 16:08] zuk3975 opened #27048 "Reminder issue. Formatting specific prices list should be done in front-end"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-21 16:12] zuk3975 opened #27049 "Reminder issue. Update specific price modal view according to new specifications"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-21 16:19] Julievrz commented on #27049
I added a note about wording and put the "waiting for wording" label so that I can put "Wording ✅" on your current PR. ☺️

[2021-12-21 16:28] marwachelly commented on #26741
Hello,
It seems that your issue is not a PrestaShop core bug.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community f

[2021-12-21 16:30] marwachelly commented on #26676
Hello
@jf-viguier  want to remove the id_attribute  from the URL.
@PrestaShop/product-team  what do you think? Could you please check with our SEO expert in PS?
Thanks,

[2021-12-21 18:12] mparvazi commented on #27045
The <head> element is a container for the following elements:
<title> <style> <meta> <link> <script> <base>

Adding content to <head> can be limited to only this elements (the elements that can be used more than once)
<style> <meta> <link> <script>

[2021-12-21 18:58] VidarPc commented on #26741
Hello, it is a PrestaShop module problem with a 1-click upgrade module. It was possible to open a 1-click upgrade module prior to module vers.. v4.13.0 - by PrestaShop, but with this version, not possible. Getting an HTTP 500 ERROR at once.

[2021-12-21 20:15] davidcylke commented on #14979
We have 300 queries when cart is empty, 1000 when 1 product in cart, 4000 when 10 products in cart. This is insane. No-one is having a solution for that? I can pay whatever you want.

[2021-12-21 21:55] ghost opened #27050 "Error when closing the site for maintenance"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I turn on the maintenance mode

[2021-12-21 22:52] wfpaisa commented on #26498
I have the same problem, after a long time, I solve just clear data:
![image](https://user-images.githubusercontent.com/1735752/147007842-43ea330a-cfb0-46c4-aec9-4709ca79b91e.png)

[2021-12-22 07:52] Prestaworks commented on #9941
Hi @hibatallahAouadni I can't see the homecarusell hooks in your video? only displayhome?

[2021-12-22 08:35] hibatallahAouadni commented on #27042
Hello @max-baranikov

It seems that your issue is not a PrestaShop core bug.
Please contact support team on Addons

We will close this issue.

Thanks!

[2021-12-22 08:35] #27042 closed, assigned to nobody

[2021-12-22 09:10] jasper4ni commented on #11277
I make a mistake that I install the package directly from dev branch, should download the package from release, problem is sloved ya, thank guys

[2021-12-22 09:15] max-baranikov commented on #27042
But there's actually a core call for `ProductCore->getAttributeCombinationsById('24', 1)` which leads to the exception:

[code]

Are you sure that support team on Addons cover it? Cause for me it seems like a `ContextCore` problem
Also, it works fine on previous versions of PrestaShop like 1.7.6, but crashes on 1.7.8

I can provide a minimal code example or demo module to reproduce the error if it

[2021-12-22 09:19] #26924 closed, assigned to atomiix

[2021-12-22 09:24] mparvazi opened #27051 "[BO] The currency symbol in product page doesn't display for RTL"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In product edit page at pricing tab

[2021-12-22 09:28] mparvazi commented on #27051
This issue found by @marwachelly here:
https://github.com/PrestaShop/PrestaShop/pull/26700#issuecomment-989911721

[2021-12-22 09:37] okom3pom commented on #26656
I am working on it's after a rebase i will fix asap

[2021-12-22 09:47] mparvazi commented on #27051
Default product page:
src/PrestaShopBundle/Resources/views/Admin/TwigTemplateForm/bootstrap_4_layout.html.twig

Product v2:
src/PrestaShopBundle/Resources/views/Admin/TwigTemplateForm/prestashop_ui_kit_base.html.twig

![Screenshot from 2021-12-22 13-17-25](https://user-images.githubusercontent.com/85633460/147072497-4bfec9ef-27b3-4eba-8317-5745d305f95d.png)

[2021-12-22 10:05] web-cooking-factory commented on #11911
Hi everyone !

I had this error in 1.7.7.8 but found out why.

It could be useful for those who still having this error.

If you've imported the product descriptions with html tags, you get the error if the description is not encapsulated.

Simple example:
lorem<br />ipsum => error
<p>lorem<br />ipsum</p> => no error

So correct the descriptions in SQL with something like : UPDATE ps_product_lang

[2021-12-22 10:16] hibatallahAouadni commented on #27050
Hello @DiamantG

I see no error in your provided screenshots, could you please explain it more :pray:
Please check and feedback.

Thanks!

[2021-12-22 10:31] khouloudbelguith opened #27054 "BO - Tax Rule is applied on product page V2 - It shouldn't because the default country is different from the country where the tax rule is applied"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO - Tax Rule is applied on product

[2021-12-22 10:45] hibatallahAouadni commented on #27051
Hello @mparvazi

I was able to reproduce the issue with PrestaShop version 1.7.6.7, 1.7.7.8 and 1.7.8.2. I’ll add this to the debug backlog so that it’s fixed.
Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.

If you manage to get the problem fixed, then please contribute the fix back to the project as a [Pull Request](https://de

[2021-12-22 10:45] Ryokuhi commented on #26741
Hello everyone,
a customer of mine is also experiencing this same issue since October.
SiteGround is his hosting provider. The problem first came up on PrestaShop 1.7.7.6, but stayed the same after we manually upgraded to 1.7.7.7. The problem pops up with PHP 7.1, 7.2 and 7.3 (all three PHP versions supported by PrestaShop 1.7.7).

I've been investigating the issue and I think I might have found i

[2021-12-22 11:02] masiorama commented on #26741
@Ryokuhi (greetings from Milan too!) I feel like to pick the _voluntarily_ decision, at least I got to that conclusion when I asked Siteground customer care a few weeks ago.

I fear the same conclusions are drawn by both parties, which leave us in a _limbo_. Also dropping PS (since, and I am sorry to say that, there are a lot of issues that give us a lot of troubles) could be a choice, from my poi

[2021-12-22 11:09] hibatallahAouadni commented on #26569
Ping @marionf it seems this regression won't be fixed on `1.7.8.x`, so should I put in `8.0.0` backlog?

[2021-12-22 11:12] marionf commented on #26569
@hibatallahAouadni no, we removed it from 1.7.8.X because it's trivial

[2021-12-22 11:29] taophp commented on #25248
I have the same problem with 1.7.7.6....

[2021-12-22 11:41] jolelievre commented on #27054
Hmmm, I'm not sure it's really a bug on new page or a bug on former page 😅

It seems logical that the BO page applies the tax that was selected. It's another issue to see if it should be applied on FO depending on your country. The fact that the shop default country is France doesn't mean it will be the case for the customer so IMHO it would be more convenient for the merchant to edit his product

[2021-12-22 11:58] DiamantG commented on #27050
Due to this error, the layout of the admin panel looks wrong.

`href="/admin********/index.php/configure/shop/maintenance/?_token=***************"`

It should not be

[2021-12-22 12:07] daresh opened #27056 "Hook exceptions not working on modules' controllers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding an exception to a modul

[2021-12-22 12:57] Hlavtox commented on #27054
@jolelievre The problem is that you can have different tax rates for every country, so what tax rate it should use in BO? 😁 Algerian, French or none?

I think the previous behavior (default shop country) was the only one that made some sense, otherwise the software would need a crystal ball to know what rate to use.

[2021-12-22 13:25] wzzly commented on #22637
Is this still not fixed? Have the same problem.

[2021-12-22 13:46] hibatallahAouadni commented on #27050
Hello @DiamantG

Where's the error? what is this error??
Please explain the error that you encounter :pray:

Thanks!

[2021-12-22 13:49] jolelievre commented on #27054
Well to me you apply the tax that you selected... and that's it. The differences in the FO depend on the FO context anyway.

So if we follow the legacy logic:
- when you have French country as the default country only french taxes will be interpreted in the BO when the merchant edits his product
- but in the FO when someone selects another country then the taxes are not applied so there is a diffe

[2021-12-22 13:50] hibatallahAouadni commented on #27042
Hello @max-baranikov

If you can, YES please :pray: then if I reproduce the issue, I will reopen it :wink:

Thanks!

[2021-12-22 13:55] hibatallahAouadni commented on #9941
Hello @Prestaworks

2 - make a child theme (of classic theme)
3 - add custom hook in theme.yml like:

5 - go to appearance > positions
6 - search the custom hook (eg: displayHomeCaroussel)
everything is ok, you can see the the custom hook
7 - activate the theme on **store n°2**
5 - go to appearance > positions
6 - search the custom hook (eg: displayHomeCaroussel)
everything is ok, you can see the

[2021-12-22 14:14] Prestaworks commented on #9941
Try this theme
https://we.tl/t-QletMY7IQP

it should add a hook called  displayCustomHook and hook ps_linklist to it.

[2021-12-22 14:40] masiorama commented on #26741
@Ryokuhi I just checked and indeed commenting out those lines you mentioned I can load PrestaShop information page without 500 error.

[2021-12-22 15:22] hibatallahAouadni opened #27058 "[BO] Order - create a new customer - unnecessary padding-top"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While fixing this issue #26383, we

[2021-12-22 15:32] hibatallahAouadni commented on #27056
Hello @daresh

Could you please provide a screenhsot or a screen record for these steps :pray:
Please check and feedback.

Thanks!

[2021-12-22 15:46] marwachelly commented on #26967
Hello,

PR is tested and the issue is fixed.
https://watch.screencastify.com/v/LxqDmhyDe9lMQAc6ARYb

Thanks,

[2021-12-22 16:06] monumatik opened #27060 "Problem with contributing"
I try to contribute with docker. I got Windows 10 with WSL2 and Docker WSL2 integration enabled.
I run containers by use docker-compose up - containers up but when i try to access FO i see empty page.
I try to generate assets by ./tools/assets/build.sh. - it hangs on:
![image](https://user-images.githubusercontent.com/40207400/147120947-66b1a8d4-3610-46d9-86a9-8741662c5cd5.png)

Now i can see BO b

[2021-12-22 16:21] ghost opened #27061 "Use front controller on all native modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Modules implementing a simple PHP s

[2021-12-22 16:36] matks opened #27062 "CI is failing on develop for multiple reasons"
We've had multiple CI failing issues today:

## Behat CI failing

Following merge of PRs and the Behat tests were failing

Fixed by https://github.com/PrestaShop/PrestaShop/pull/27046 ✅

## PHPUnit CI failing

Running phpunit using Composer binary is failing since composer/composer 2.2 https://github.com/composer/composer/issues/10387
[code]

Fixed by https://github.com/PrestaShop/PrestaShop/pull/

[2021-12-22 16:43] matks commented on #27062
Similar output noticed on https://github.com/composer/composer/issues/10387

[2021-12-22 16:48] openpresta opened #27063 "400 Bad Request Context ALL Shop When Save product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Try to add a  product in multi shop

[2021-12-22 17:07] MatShir opened #27064 "Remove the page "Referrers" after the upgrade"
**Describe**
Since the module  linked to this page are archived, the page has no more use.
**Solution**
- Remove the page at the upgrade

- When the core removes a page, we should remove the quick access linked to this page.

- Remove SEO & URLs > Referrers for the BO
and on the user doc when the PR will be merged
remove the label

_Originally posted by @MatShir in https://github.com/PrestaShop/Pr

[2021-12-22 17:08] matthieu-rolland opened #27065 "BO Multistore: Exception when sending empty maintenance ip value in maintenance configuration form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On maintenance configuration form,

[2021-12-22 17:29] matks commented on #27062
Work around provided by @PierreRambaud https://github.com/PrestaShop/PrestaShop/pull/27067

[2021-12-22 19:36] daresh commented on #27056
Sure:
1. Take any module attached to the displayHeader hook, for example Image Slider:
![2021-12-22 20_32_01-Positions • PS177 Dev — Firefox Developer Edition](https://user-images.githubusercontent.com/5658940/147145984-7d2e8193-2c38-40ab-9b4c-8a1a85d5fbb8.png)

2. Set exceptions for it to not be active on pages other than index.
![2021-12-22 20_32_37-Positions _ Edit • PS177 Dev — Firefox Develop

[2021-12-22 20:04] #26967 closed, assigned to matthieu-rolland

[2021-12-22 20:37] #27062 closed, assigned to PierreRambaud, jolelievre

[2021-12-22 21:00] mojinet opened #27069 "error in comment ?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

it seems to me that there is a

[2021-12-22 21:21] #27028 closed, assigned to atomiix

[2021-12-22 21:29] #26896 closed, assigned to nobody

[2021-12-23 08:41] hibatallahAouadni commented on #27060
Hello @monumatik

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-12-23 08:55] #27060 closed, assigned to nobody

[2021-12-23 09:52] matks commented on #26599
@NeOMakinG is now enjoying some time off 😛

Let's ask some other people skilled in frontend @PrestaShop/prestashop-maintainers

[2021-12-23 09:53] hibatallahAouadni commented on #26843
Hello @daniel-lineaymedia

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-23 09:53] #26843 closed, assigned to nobody

[2021-12-23 10:13] Oksydan commented on #26599
I think we could introduce smarty function to render 2x images for generating src/srcset for retina.
Example of usage smarty function that generates srcset for retina and rendering other attributes for lazyload  https://github.com/Oksydan/is_themecore/blob/main/classes/SmartyHelperFunctions.php#L5
Example of usage and results https://github.com/Oksydan/modern-prestashop-starter-theme#generateimage

[2021-12-23 10:39] hibatallahAouadni commented on #26840
Hello @thedarkknight197

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-23 10:39] #26840 closed, assigned to nobody

[2021-12-23 10:51] hibatallahAouadni commented on #27069
Hello @mojinet

Could you please specify the error in the comment cause I see no error.
Please provide the expected behavior :pray:

Thanks!

[2021-12-23 11:38] Ryokuhi commented on #26741
@masiorama Thank you for your quick feedback, very appreciated!
@marwachelly @hibatallahAouadni Sorry to bother you, but I'd like a second opinion on this issue, as I'm not sure how to move it forward. Do you still consider this not as a PrestaShop core bug and would not consider reopening it? What would be your best suggestion to get this issue solved?
I understand that the issue appears only on

[2021-12-23 13:25] hibatallahAouadni commented on #27063
Hello @openpresta

I didn't manage to reproduce the issue with PS1772 and PS1782.
Could you please provide a screen record or some other details like which kind of product you wanna create :pray:

Thanks!

[2021-12-23 13:28] openpresta commented on #27063
hello,

how much shop have you create ?
in our case 5 shop
thanks

[2021-12-23 13:57] hibatallahAouadni commented on #27063
Hello @openpresta

And are these 5 shops in the same group shop or different groups?
What kind of product did you try to create? simple or pack or product with combinations?
Please check and feedback.

Thanks!

[2021-12-23 14:08] openpresta commented on #27063
hello,

5 shop in the same shop group,
2 others in others groups but are not active.

Product simple ,

Duplication work fine
Edition previous product work fine
Add new product in just one shop work fine

Solution like :  LimitRequestFieldSize 1000000  not work

[2021-12-23 14:27] matks commented on #26553
Hello everyone and thank you for the hard work for finding a clear and reproducible list of steps we can use to see the wrong behavior 🙏

It might look like a lot of energy for not a good result, but I can assure you this is very useful to make sure we fix the issue because QA team will use the scenario to then poke around, change some settings and verify everything is good not only for the situat

[2021-12-23 14:37] ocio87 commented on #26553
Hi,

Two days ago I decided to apply the change with what was reported in Pull requests https://github.com/PrestaShop/PrestaShop/pull/26824, I must say that the site is working correctly for me in Colombia, both with the bank transfer module and with the Wompi module, which is an external module. Before the proposed change it always throws me a payment error, since with the change the site works c

[2021-12-23 15:07] Hlavtox commented on #27054
You cannot do it unless you implement a preview feature where you select something like "Preview final tax for country XXX". If you want to preview a tax, it must be for the default country.

Imagine you have a tax rule called "Standard tax rule". It's set up like this:
- Algeria = 21%.
- Czech republic = 22%.
- France (default country) = 23%
- Belgium = 24%.

The current product page randomly app

[2021-12-23 15:17] manoloprova opened #27072 "Error during prestashop first installation of Prestashop 1.7.8.2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I have the same exact error sh

[2021-12-23 15:19] hibatallahAouadni commented on #27061
Hello,

This issue seems related to this one #25294 & #19849
Well, the contributor delete his Github account :confused:
Ping @PrestaShop/prestashop-core-developers do you think that this issue is relevant to keep it open, or should I close it? Cause I have no error when I execute that cron.

Thanks!

[2021-12-23 15:39] Hlavtox commented on #14979
@davidcylke Exactly my results, maybe even more. 👍

[2021-12-23 15:51] davidcylke commented on #14979
I have hired developer to fix the ridiculous querying count. Let's see if they are able to fix it somehow.

[2021-12-23 15:54] khouloudbelguith opened #27073 "BO - Dashboard - Dashproducts module is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Dashboard page > the mo

[2021-12-23 15:55] acVeli opened #27074 "Module not showing on dashboard"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm on a PS 1.7.5.1

The problem i

[2021-12-23 16:06] marionf opened #27075 "Fill the tab property of natives modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-23 16:34] hibatallahAouadni commented on #27072
Hello @manoloprova

I'm not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server confiduration problem.

PS: PrestaShop 1.7.8.2 is not compatible with PHP5.6 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).

Thanks!

[2021-12-23 16:34] #27072 closed, assigned to nobody

[2021-12-23 16:36] paul-jolimoi commented on #27033
![image](https://user-images.githubusercontent.com/78373471/147267632-c4df57a6-f7f2-46db-b167-11121838de07.png)

You can easily reproduce if you have a recover cart link and if you open it in a new tab (maybe use a private tab to avoid having previous cookie loading), you will see that your user will not be connected and you will see the logging form below your order summary as in the picture abov

[2021-12-23 17:57] kpodemski opened #27077 "Display issue for the polish language and the search bar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The search bar cannot show an entir

[2021-12-23 18:09] kpodemski opened #27078 "Display issue for the polish language and the checkout button"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Screenshot:

![image](https://user-

[2021-12-23 20:52] rickygzz opened #27081 "Add Windows 11 to guest UserAgent"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Add Windows 11 to guest UserAgent

[2021-12-24 07:41] PrestaEdit commented on #27074
Hi !

This hook is not the "Dashboard" controller, it's the "Statistics" controller.

It's why you don't see it here, so.

[2021-12-24 07:48] PrestaEdit commented on #27069
Hi @mojinet,
Hi @hibatallahAouadni,

It's right. A Pull Request to change it is now done.

[2021-12-24 09:37] PierreRambaud commented on #27075
I identity these modules for the moment:

- Dashboard Trends
- Catalog evaluation
- Products category
- Best-selling products
- Cash on delivery (COD)
- Banner
- Language selector
- Product details
- Customer "Sign in" link
- Customer account links
- Sales and orders
- Google sitemap
- Social media follow links
- Dashboard Goals
- Available quantities
- Best categories
- Custom text
- Cross-sellin

[2021-12-24 09:47] mparvazi opened #27084 "[BO] The ps_reminder module archived but still exists in email theme folder"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The [ps_reminder](https://github.co

[2021-12-24 10:16] mparvazi opened #27085 "[BO] Bad display of header toolbar in Product page and Stock page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An unexpected horizontal line will

[2021-12-24 10:25] mparvazi opened #27086 "[BO] An unknown error in Stats page at Debug mode"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I want to open Stats page, an

[2021-12-24 10:39] Hlavtox commented on #23496
Inspiration: https://www.prusa3d.com/

![57EBFC18-AC53-4A67-8FE2-BBF123695CB3](https://user-images.githubusercontent.com/6097524/147345698-db62f00e-d648-41b7-8af4-bdd2e02f1631.png)

[2021-12-24 10:43] eternoendless opened #27087 "Autoupgrade from older 1.6 versions and PHP compatibility"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The latest version of the autoupgra

[2021-12-24 10:44] mparvazi opened #27088 "[BO] Wrong display in sidebar menu in Carriers edit page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Carriers edit page, the Shipping

[2021-12-24 11:22] kpodemski opened #27089 "Link to the customer page if the author is a customer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-24 11:24] HanaRebaiQA commented on #27084
Hello @mparvazi

Thanks for reporting this issue.
I did manage to reproduce the issue from PS1780, PS1781, PS178x & develop.
https://watch.screencastify.com/v/V7qQxRfRvjTm2tke78LO

**It's a regression**, because this issue is not reproduced on PS1778.
https://watch.screencastify.com/v/gy5oH4QRAB6Zvnfh3dZT

I’ll add this to the debug backlog so that it’s fixed.

Thank You!

[2021-12-24 11:30] developerarun opened #27090 "Tools.php not stripslashes the input return same"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am using Tools::stripslashes() bu

[2021-12-24 11:35] kpodemski commented on #27090
Hi @developerarun 👋

It is better to use `stripslashes` directly.

We probably need to deprecate and remove this method in the future. What do you think @PrestaShop/prestashop-maintainers ?

[2021-12-24 11:39] developerarun commented on #27090
Yes but the current validator shows a warning for that, if it was planned to remove in future then ok
thanks

[2021-12-24 12:30] #26539 closed, assigned to nobody

[2021-12-24 12:37] khouloudbelguith commented on #9941
Hi @mkdgs, @Prestaworks,

I manage to reproduce the issue with develop branch.
https://watch.screencastify.com/v/0JqoNHbE8dIvrFOAhZpV

Thanks!

[2021-12-24 12:38] PierreRambaud commented on #27061
I'm sorry but I'm not able to reproduce your issue with the `yaml` directory.
Isn't just a problem with your server configuration? Something like open_basedir?

[2021-12-24 12:42] PierreRambaud commented on #27090
The Tools::stripslashes will be removed in the next Major version I think, it's totally useless.
It originally has been added because of GPC: https://github.com/PrestaShop/PrestaShop/blame/d7663195cfc582e1f1285ff03c90eac9859fa9c1/classes/Tools.php#L1707

[2021-12-24 12:43] #9941 closed, assigned to nobody

[2021-12-24 13:04] PrestaEdit commented on #27086
Hi,

I confirm this.

[2021-12-24 13:19] HanaRebaiQA commented on #27077
Hello @kpodemski

I did not manage to reproduce this issue while testing on develop & 178x branch using the steps to reproduce.
develop
https://watch.screencastify.com/v/9EEsvS0B6iiSNoFpKRIC

178x
https://watch.screencastify.com/v/NPJSbbZjPpal86KqeTqp

Can you please provide us more information about screen size, padding?
Maybe it's related to this issue #26569 ?

Please check and feedback!

Thank

[2021-12-24 13:27] unlocomqx commented on #26927
Hi, should I submit a PR and then you can validate it? Wdyt?
Thanks

[2021-12-24 13:30] kpodemski commented on #27077
Hello @HanaRebaiQA

I've just checked, and the issue is on the Chrome browser, on Firefox, everything is all right.

Chrome 96.0.4664.110, MacOS

[2021-12-24 13:36] kpodemski commented on #25862
Sounds good to me too. Would you like to work on this @Oksydan ?

[2021-12-24 13:37] PrestaEdit commented on #27090
I had a look on this and wanted to make two PR:
* One to make it as deprecated ;
* One to remove it.

But I don't know on which branch I need to make it deprecated about the 1.7.9 version, there :-/

[2021-12-24 13:45] PierreRambaud commented on #27090
There will be 1.7.9 version ^^

[2021-12-24 13:47] PrestaEdit commented on #27090
Yes but there is only develp (8.0.0), 1.7.7.x and 1.7.8.x branches, no 1.7.9.x at this moment :)

[2021-12-24 13:48] kpodemski commented on #27090
I think @PierreRambaud wanted to say "There will be no 1.7.9" :D

[2021-12-24 13:50] PrestaEdit commented on #27090
So, no deprecation before remove, or deprecated into 8.0 (Snif) ? :D

[2021-12-24 13:52] #27069 closed, assigned to nobody

[2021-12-24 13:52] kpodemski commented on #27090
I've sent a PR some time ago, 8.0 is the next major but this method wasn't deprecated, so we need to deprecate it in v8, and then remove in v9 :D

[2021-12-24 13:53] PrestaEdit commented on #27090
So bad :(

[2021-12-24 14:02] HanaRebaiQA commented on #27074
Hello @acVeli

This `displayAdminStatsModules` is used for Stats and not Dshboard page.
You can see here the `statsbestcustomers` is well shown in stats
![image](https://user-images.githubusercontent.com/92912932/147357772-db1b369f-ebd8-44be-b293-b1decc378530.png)

Please chack and feedback!

Thanks!

[2021-12-24 14:29] HanaRebaiQA commented on #27089
Hello @kpodemski

Thank you for your suggestion and for your PR.
The Product Team will take it into consideration for future developments.

Thank You!

[2021-12-24 14:45] HanaRebaiQA commented on #27088
Hello @mparvazi

I did reproduce this issue even with php 7.3 on develop & PS1778.
https://watch.screencastify.com/v/0UgNxk7sLmt73TJWlLBL
![image](https://user-images.githubusercontent.com/92912932/147359564-f825d76d-4546-4383-84bf-7adabfa251ba.png)

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very l

[2021-12-24 14:48] HanaRebaiQA commented on #27089
Ping @PrestaShop/product-team ,

What do you think about @kpodemski 's suggestion ?

Thank You!

[2021-12-24 14:57] #24748 closed, assigned to Progi1984

[2021-12-24 14:57] #24752 closed, assigned to Progi1984

[2021-12-24 14:58] #27065 closed, assigned to nobody

[2021-12-24 15:16] HanaRebaiQA commented on #27085
Hello @mparvazi
I did reproduce the issue on develop & PS1778 for product page, but this line was not displayed on PS1778 for stock page
Product :
![image](https://user-images.githubusercontent.com/92912932/147361458-1b39de95-809c-4547-a4cb-e92f0c6b06bc.png)

Stock :
![image](https://user-images.githubusercontent.com/92912932/147361503-c33ed6d8-d655-4443-8c4b-1f36696da6ac.png)
![image](https://use

[2021-12-24 15:47] #27090 closed, assigned to nobody

[2021-12-24 15:54] khouloudbelguith commented on #27086
Hi @PrestaEdit, @mparvazi,

I manage to reproduce the issue with develop branch using the php version 8.0
![image](https://user-images.githubusercontent.com/16067358/147363195-18cf0309-3c84-466a-b323-14271a3e6fc6.png)

Thank you!

[2021-12-24 15:54] mparvazi commented on #27084
Hello @HanaRebaiQA

This folder inside email themes [renamed](https://github.com/PrestaShop/PrestaShop/commit/7ac50b6c069171464d266a7321ed11cf0b0cd02e#diff-06c6a559a260d4b0398f1960ea7032a22a32fddeef831bd4dd1a2af34e150f0b) from [followup](https://github.com/PrestaShop/followup) to [ps_reminder](https://github.com/PrestaShop/ps_reminder) with this [PR](https://github.com/PrestaShop/PrestaShop/pull/2

[2021-12-24 16:21] PrestaEdit commented on #22091
The Pull Request seems merged, I think we can close this issue.

[2021-12-24 17:08] eternoendless opened #27094 "Error in Front controller when checkAccess() returns false"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While documenting the flow of Front

[2021-12-24 19:08] web-burn opened #27096 "Product comments 5.0.0 version error in console"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The productcomments module version

[2021-12-24 19:24] alfonsolr09 commented on #27064
what is the page refferes? @MatShir

[2021-12-24 19:56] alfonsolr09 commented on #10600
what happens with svg?

[2021-12-24 21:00] alfonsolr09 commented on #27025
they can be removed by the merchant, but we need a list of the modules that will be native

[2021-12-24 21:05] alfonsolr09 commented on #27026
I want to add the Spanish translations

[2021-12-24 21:09] alfonsolr09 commented on #25457
I know that you solve many problems.
I am not complaining about any problem since there is no critical one for me, and if there is one, you will solve it quickly.
But I do not understand the need to fork the project to create one in parallel to the other with exactly the same functions only varying whether to add things from prestashop or not

[2021-12-24 21:11] alfonsolr09 commented on #26869
but when will it be released?

[2021-12-25 08:39] mparvazi commented on #27084
@hibatallahAouadni
I think this issue also is related to translations.

[2021-12-25 14:31] #27086 closed, assigned to nobody

[2021-12-25 17:36] Dumidu commented on #23258
I'm having similar issue in my prestashop. I disabled the linklist from the db and deleted the cache. But still getting the error.
PrestaShop 1.7.7.8
PHP version 7.2.34

![image](https://user-images.githubusercontent.com/5407540/147390409-710a6fe9-c67d-4e9e-9acc-49d1afee7ff0.png)
![image](https://user-images.githubusercontent.com/5407540/147390418-5734aa2e-cab9-48f3-883a-ef3d147ffb40.png)

[2021-12-26 11:14] manoloprova commented on #27072
Could you please provide more details on how can I solve the issue?
You may want to register a free domain on Altervista and try to install Prestashop there, just as I did.
Looking forward to receiving your good news.
Regards.

[2021-12-27 07:58] hibatallahAouadni commented on #26871
Hello @jmrftrs

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-27 07:58] #26871 closed, assigned to nobody

[2021-12-27 08:14] hibatallahAouadni commented on #26895
Hello @SimonasB88

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-27 08:14] #26895 closed, assigned to nobody

[2021-12-27 08:14] hibatallahAouadni commented on #26795
Hello @cy-altern

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-27 08:14] #26795 closed, assigned to nobody

[2021-12-27 08:15] hibatallahAouadni commented on #26794
Hello @jmrftrs

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-27 08:15] #26794 closed, assigned to nobody

[2021-12-27 08:16] hibatallahAouadni commented on #26356
Hello @AdrievandeVreede

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-27 08:16] #26356 closed, assigned to nobody

[2021-12-27 08:32] hibatallahAouadni commented on #27026
Hello @alfonsolr09

What file you want to add?? and where?
Waiting for your feedback.

Thanks!

[2021-12-27 08:35] alfonsolr09 commented on #27026
Spanish translations but not only for me. I want to add here on github

[2021-12-27 09:50] hibatallahAouadni commented on #27078
Hello @kpodemski

Thanks for reporting the issue!
This issue is not related to the language Polish, it's related to a long text :wink:
Thanks for the PR :tada: I reproduce the issue with PS1778, PS1780 and develop.

Thanks!

[2021-12-27 10:01] MatShir commented on #26972
https://user-images.githubusercontent.com/43613217/147460629-0560e2e6-b922-4e90-b7ec-4999615bf2e2.mp4

[2021-12-27 10:24] hibatallahAouadni commented on #26920
Hello @jlbrd

Thanks for your patience and your feedback :pray:
I Just followed your steps and here's the result:

![image](https://user-images.githubusercontent.com/23308427/147462423-2428ccf1-005e-4cf4-8b40-698eaaea9770.png)

[code]

Is there a missing steps? cause I didn't manage to reproduce the issue :confused:
Please check and feedback.

Thanks!

[2021-12-27 11:05] khouloudbelguith commented on #9660
Fixed with https://github.com/PrestaShop/PrestaShop/pull/26791

[2021-12-27 11:05] #9660 closed, assigned to nobody

[2021-12-27 11:06] khouloudbelguith commented on #9660
Duplicate of #26804

[2021-12-27 11:16] marioquartz opened #27101 "ps_shoppingcart | ajax version: "$.parseHTML is not a function" and when no ajax: no redirect"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a shop with 1.8.0 and a chil

[2021-12-27 12:21] hibatallahAouadni commented on #26984
Hello @PeNov

- **First issue:** it's a cache problem, you need to clear your cache:

https://www.awesomescreenshot.com/video/6607071?key=d83cf87abdc6132d9a8d747aa56fc4b0

- **Second issue:** you need to check the issue with Addons team (Facebook's developers & GoogleMarketing's developers)
- **Third issue:** when you uninstall the module, you need to check this option:

![image](https://user-imag

[2021-12-27 12:21] #26984 closed, assigned to nobody

[2021-12-27 12:27] hibatallahAouadni commented on #26899
Hello @jlbrd

In the body request, you shouldn't use the CDATA tags.
Please follow this issue #26920. This issue is a duplicate of #26920.

Thanks!

[2021-12-27 12:27] #26899 closed, assigned to nobody

[2021-12-27 12:27] hibatallahAouadni commented on #26899
Duplicate of #26920

[2021-12-27 13:10] #26804 closed, assigned to Lionel-dev

[2021-12-27 13:12] #27078 closed, assigned to kpodemski

[2021-12-27 13:13] Progi1984 commented on #26643
Fixed in #26706 by @NeOMakinG & Tested by @HanaRebaiQA

[2021-12-27 13:13] #26643 closed, assigned to NeOMakinG

[2021-12-27 14:09] khouloudbelguith commented on #27081
Hi @rickygzz,

I manage to reproduce the issue with PS1778 and PS1782
![image](https://user-images.githubusercontent.com/16067358/147479345-6563ef73-046c-4697-a594-77c378598071.png)

Windows 11 doesn't exist in the list of `operating_system`
Thanks!

[2021-12-27 14:26] HanaRebaiQA commented on #26351
Hello,

This issue is partially treated. Only the Customer part is done with this available PR [#26366](https://github.com/PrestaShop/PrestaShop/pull/26366)
Customers part : not fixed
Adresses part : PR is needed.
https://watch.screencastify.com/v/z7FTbPoETuRnYkxYxFeE

Thanks!

[2021-12-27 14:32] #26411 closed, assigned to PierreRambaud

[2021-12-27 15:14] MatShir commented on #27084
Nice catch @mparvazi, but here the clean code around the archived module is considered as an improvement. The code has no impact on the ecosystem, so this enhancement must be done on the development branch.

[2021-12-27 15:22] mparvazi commented on #27084
@MatShir
I definitely agree with you!

[2021-12-27 16:00] hibatallahAouadni commented on #26962
Hello @babyewok

It seems you have a missing extension not installed: `"intl" extension`
You need to install it and enable it in `php.ini`. Then, restart `apache` :wink:

Please check and feedback. Closing this issue as it's not Core bug.

PS: even when the issue is closed, we can continue our discussion till you solve your issue :wink:

Thanks!

[2021-12-27 16:00] #26962 closed, assigned to nobody

[2021-12-27 19:01] rickygzz commented on #27026
@alfonsolr09  Translations are made within [crowdin.com](https://crowdin.com/translate/prestashop-official/). I you want to collaborate you can ask to join anytime.

Although Spanish is fully translated, there is space for translation improvements.

![image](https://user-images.githubusercontent.com/36200981/147499534-4c5fcf64-62cd-40ee-9824-61a12261103e.png)

![image](https://user-images.githubus

[2021-12-27 19:29] luisway2net commented on #24141
I have the same problem in version 1.8.7.2 and when delete combination display this error:
![Captura de pantalla 2021-12-27 a la(s) 16 28 15](https://user-images.githubusercontent.com/2183028/147501578-d698ca93-e143-4587-a11b-18162b65466b.png)

[2021-12-27 20:06] luisway2net opened #27104 "I can't delete product combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have this problem on version 1.8.

[2021-12-28 00:24] alfonsolr09 commented on #27026
It is true, I already checked the translations previously and as you say PrestaShop is completely translated in crowdin.

For some reason that I do not know the translations of that module are not shown...

[2021-12-28 02:37] fire2 commented on #25338
Also interested in this - small details make the difference.

What I currently do in my shops is load a JS file in this view that changes the order status dropdown value automatically when the user changes the payment dropdown selection. This way I don't hardcode anything on the template, but it's still not an ideal solution. This should be part of the core, since every payment module has it's own

[2021-12-28 02:44] fire2 commented on #25336
YES!! This is my biggest struggle when creating custom modules for shops: there is no hook in the back office "new order" view. I was hoping one would be finally introduced in PS 1.7.7 with the major back office order views migration to Symfony, where a bunch of new hooks were introduced (https://devdocs.prestashop.com/1.7/modules/sample-modules/order-pages-new-hooks/) but unfortunately.... no new

[2021-12-28 06:58] harman-jack commented on #27104
Hi @luisway2net, I have checked it on the same version 1.7.8.2, and combinations are removed successfully without any issue, and I think any third-party other module creating this issue on your site.

[2021-12-28 08:09] PierreRambaud commented on #20921
As far as I know, the problem comes from the fact that the request is started, and directly closed by the unload event.
The ajax request shouldn't be in async mode during the unload event. That's the reason why it's not working as expected.

Here is an example about how it should be handle:
https://stackoverflow.com/a/19275264

[2021-12-28 08:09] Oksydan commented on #25862
@kpodemski I can work on this but not anytime soon

[2021-12-28 09:24] marwachelly commented on #27104
Hello,

Thank you for you report but we were not able to reproduce your issue with the provided information on PS1.7.8.2.
https://watch.screencastify.com/v/HlgFARY4AJ8QUl3YuI27
Could you please check again and provide more detailed steps to reproduce the issue.

Thanks,

[2021-12-28 09:52] MatShir commented on #23308
We can add the feature to a minor or a major, it doesn't matter @hibatallahAouadni ;)
It is a nice feature! The order page has many components, so check with @prestascott before if you want to implement it ;)

Maybe a future improvement, we could add a way to share a file between the merchant and client 🤔

[2021-12-28 10:48] PrestaEdit commented on #22565
Hi all.

I can confirm this is still here and true on PS8 (develop branch) at this day.

[2021-12-28 10:51] PrestaEdit opened #27109 "Translations (in French) of the wording "Key" set to "Clef"."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Of course, key can be translated in

[2021-12-28 12:09] Oksydan opened #27110 "Product comments javascript exception"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product comments version 5.0 introd

[2021-12-28 12:13] Oksydan commented on #27110
It's already has been fixed https://github.com/PrestaShop/productcomments/pull/121.
I am closing this one.

[2021-12-28 12:13] #27110 closed, assigned to nobody

[2021-12-28 12:45] marwachelly commented on #27063
Hello,

Thank you for your report I manage to reproduce the issue with 1.7.8.2 and 1.7.6.9. An error apear in the console and a green alert at the first click with multistore enabled and  when all shop is selected. But the settings are saved wih the second click on save. => Description is updated.
https://watch.screencastify.com/v/LmyHYLG0Cpvkc3l5M4z0

Thanks,

[2021-12-28 12:53] luisway2net commented on #27104
Hello!,
Thank you for answering. Here reproduced the problem.
https://drive.google.com/file/d/1w8HHXB3xy6NiN9LXNATyyvdPCs39vJGs/view?usp=sharing

[2021-12-28 13:08] Progi1984 commented on #26597
Fixed by @NeOMakinG  in #26703 & Tested by @HanaRebaiQA

[2021-12-28 13:08] #26597 closed, assigned to NeOMakinG

[2021-12-28 13:28] Progi1984 commented on #25013
@hibatallahAouadni Done in #27114

[2021-12-28 13:33] clotairer opened #27115 "Annoying Die() on changeOrderState on History class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you create a module using the me

[2021-12-28 13:38] Progi1984 commented on #25683
@hibatallahAouadni : @Hlavtox has answered. Sorry, I forgot to leave you a comment

[2021-12-28 13:38] Progi1984 commented on #25683
@Hlavtox Do you think you will be able to work on the 2nd part ?

[2021-12-28 13:42] Progi1984 commented on #15441
@R0bb12 Could you reopen your issue there : https://github.com/PrestaShopCorp/gamification/issues/new ?

[2021-12-28 13:42] #15441 closed, assigned to nobody

[2021-12-28 13:44] Progi1984 commented on #23754
@khouloudbelguith Sorry the module `gamification` is now managed by the `PrestaShopCorp` organization. Could you create a new issue on their issues board : https://github.com/PrestaShopCorp/gamification/issues/new ? Thank you for your help.

[2021-12-28 13:44] #23754 closed, assigned to nobody

[2021-12-28 13:44] Progi1984 commented on #23537
@khouloudbelguith Sorry the module `gamification` is now managed by the `PrestaShopCorp` organization. Could you create a new issue on their issues board : https://github.com/PrestaShopCorp/gamification/issues/new ? Thank you for your help.

[2021-12-28 13:44] #23537 closed, assigned to nobody

[2021-12-28 13:44] Progi1984 commented on #19548
@bpato  Sorry the module `gamification` is now managed by the `PrestaShopCorp` organization. Could you create a new issue on their issues board : https://github.com/PrestaShopCorp/gamification/issues/new ? Thank you for your help.

[2021-12-28 13:44] #19548 closed, assigned to nobody

[2021-12-28 13:44] Progi1984 commented on #12828
@MatShir  Sorry the module `gamification` is now managed by the `PrestaShopCorp` organization. Could you create a new issue on their issues board : https://github.com/PrestaShopCorp/gamification/issues/new ? Thank you for your help.

[2021-12-28 13:44] #12828 closed, assigned to atomiix

[2021-12-28 14:12] #26610 closed, assigned to zuk3975

[2021-12-28 14:16] #26988 closed, assigned to NeOMakinG

[2021-12-28 14:26] #27115 closed, assigned to nobody

[2021-12-28 14:48] marwachelly commented on #27101
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #[10025 ] and
To be informed when it's fixed, please subscribe to the issue mentioned above.
Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project'

[2021-12-28 14:48] #27101 closed, assigned to nobody

[2021-12-28 15:10] #26953 closed, assigned to Amit-Kumar-Tiwari-Webkul

[2021-12-28 15:12] #26500 closed, assigned to nobody

[2021-12-28 15:19] partnerscn opened #27117 "backoffice shops button breaks"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![screencapture-caffefantino-it-fan

[2021-12-28 15:29] marionf commented on #12846
I close this issue following the differentiation between the OS project and the company

[2021-12-28 15:29] #12846 closed, assigned to eternoendless

[2021-12-28 15:30] marwachelly commented on #27033
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10996.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2021-12-28 15:30] #27033 closed, assigned to nobody

[2021-12-28 15:35] marioquartz commented on #27101
Its not duplicated. **Ajax version dont work either.** Is a problem with Jquery. I suppose the solution is manually include the function parseHtml in the header.

[2021-12-28 15:39] marwachelly commented on #27056
Hello,

After the steps 1 and 2 I have the following alert

![image](https://user-images.githubusercontent.com/89604350/147582254-b01d1e9a-59a4-47d8-b85d-017f151908ad.png)
After the step 3 I have
![image](https://user-images.githubusercontent.com/89604350/147582435-168275a4-3d39-478c-8514-4a8ab46182d4.png)

Despite our efforts, we were not able to reproduce your issue with the provided information

[2021-12-28 15:40] hibatallahAouadni commented on #27033
Duplicate of #10996

[2021-12-28 15:45] marwachelly commented on #27101
Hello

For the Ajax version I didn't manage to reproduce the issue. It seems that your issue is not a PrestaShop core bug but most likely a module problem.
https://watch.screencastify.com/v/j6p17bSEYCsOvIU2aHy6

[2021-12-28 15:47] hibatallahAouadni commented on #27077
Hello @kpodemski

I reproduce the issue with PS1782, develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/147583056-a808e24f-99bc-43c6-8bd6-979c117ded10.png)

It's not related to Polish language, you just need to put a long placeholder and you will reproduce the issue.
With PS1778, the placeholder overlaps the loop icon:

![image](https://user-im

[2021-12-28 15:50] daresh commented on #27056
It's not a module issue, we tested it on a couple of stores, it's a bug in the exceptions mechanism.

Maybe I should show some more screenshots, because you seem to be testing it in an incorrect way.

[2021-12-28 16:16] pewube commented on #17437
templates/catalog/_partials/miniatures/product.tpl

Try to change div class name "product-actions" (div.outer-functional > div.functional-buttons) and check request URL after changing attribute

![image](https://user-images.githubusercontent.com/58422606/147585646-ec2a5ae7-4325-4f1f-b6c6-0df021ceaa42.png)

[2021-12-28 16:19] marwachelly commented on #27117
Hello,

Your issue is a browser cache. Could you please clear your cache from your browser

https://watch.screencastify.com/v/Fpx4n8jLLarnh1i0QACP

The issue is fixed just when the browser cache is clear.

Thanks,

[2021-12-28 16:19] #27117 closed, assigned to nobody

[2021-12-28 16:20] marioquartz commented on #27101
Thanks. Reviewing again I have found a problem with my custom.js. Sorry for the incovenience.

[2021-12-28 16:33] marwachelly commented on #27101
Duplicate of #10025

[2021-12-28 16:37] khouloudbelguith opened #27118 "BO - An error is displayed when we try to transplant the module `ps_wirepayment` to `displayPaymentReturn` hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error is displayed when we try t