[2022-06-20 14:19] hibatallahAouadni commented on #28776
Hello @bastien70

I just modified the steps to reproduce, please check if there's some steps are missing.
BTW, I didn't manage to reproduce the issue with develop, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/174621873-80e9f8c9-d53b-4a70-958d-159c59ca15a9.png)

https://user-images.githubusercontent.com/23308427/174622290-c8c00c1d-77a5-4d25-848a-a

[2022-06-20 14:25] #28616 closed, assigned to nobody

[2022-06-20 14:31] #28765 closed, assigned to nobody

[2022-06-20 14:36] MeKeyCool commented on #19381
@PrestaShop/product-team ,

link is broken.

I found this one : [https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/multistoregeneralspecs.md](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/multistoregeneralspecs.md). Is it the good link ?

[2022-06-20 14:58] bastien70 commented on #28776
Hello @hibatallahAouadni I have the impression that once the project is initialized, it should work.

But when the project needs to be installed (so you have to go to 127.0.0.1:8000/install), it doesn't work.

Have you tried that too?

[2022-06-20 15:00] AureRita commented on #28795
Hi @okom3pom,

Thank for your reporting and your PR, I tried to reproduce your steps to have a config_fr.xml but I can't have it so I never have a file config.xml with the variable is_configurable equal to 1, even if my shop is installed in french

Can you give us another way to see if it's an expected behaviour to have the blockwishlist configurable ?

Waiting for your feedbacks

[2022-06-20 15:17] AureRita commented on #28796
Hi @okom3pom

Thank you for the reporting Issue.
I reproduced it on 8.0.x and not on 1.7.7.8 as you can see on this video :

https://user-images.githubusercontent.com/100699445/174633030-611ebaf8-2ef2-402d-8622-1380da8fb19b.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Personnally, I didn't reproduce it on 1.7.8.6,
Thank you for the PR !

Thanks

[2022-06-20 15:19] okom3pom commented on #28796
Ok i need to change my branch ? i target develop ?

[2022-06-20 15:23] #20023 closed, assigned to nobody

[2022-06-20 15:27] hibatallahAouadni commented on #28776
Hello @bastien70

Could you please provide a screen record :pray:
Cause I didn't seem to understand what's the problem :sweat_smile:
Waiting for your feedback.

Thanks!

[2022-06-20 15:45] AureRita commented on #28795
Thank for your quick answer.
I tested this and Indeed, we have the second config with the good setup, as we can see on this picture :
![image](https://user-images.githubusercontent.com/100699445/174636005-251e602a-7b34-4b3b-b91d-617772e285f6.png)

we also some details that are not the same, thank you for this reporting

[2022-06-20 15:55] sLorenzini opened #28801 "FO & BO - Customer message on order with too long characters has bad display"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When a customer send a message from

[2022-06-20 16:03] AureRita commented on #28798
Hi @bastien70

Thank for your report,
This issue is too technical for me, ping @PrestaShop/prestashop-core-developers, can someone please reproduce this issue ?

Thanks

[2022-06-20 16:55] ComonSoft commented on #22017
This is not the same issue as #9594, because we have the same bug with orders that have all products without carrier restriction. It happends randomly. We just noticed like said @djbuch that it could be probably when the user change delivery address during order process.
PS 1.7.6.4
PHP 7.2.34

[2022-06-20 17:01] khouloudbelguith opened #28804 "IN - Install a shop 1.7.8 using CLI NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using an environment ~in docker~, w

[2022-06-20 17:34] Garfield2013 commented on #28621
I answered this the 2nd June 2022 (I don't know why my response is not showing up here)?

https://www.screencast.com/t/46m1yDQ6JhrG
https://www.screencast.com/t/g7YrHPLO4B

Please fix this as soon as possible and give me an update. Thank you so much!

[2022-06-20 19:21] davidcylke commented on #14979
Just a little update in my case. With cart with over 500 products in the page loads in about 25s when updated prestashop to latest 1.7.8.6. I have not found any dev who would know how to get any significant improvements. Im not a dev myself, but those doubled quotes for supplier are ridiculous since we don't even use suppliers 😅
@Hlavtox my prestashop wizard, maybe you faced similar issue among yo

[2022-06-20 22:08] Matt75 commented on #22017
@ComonSoft can you check this comment: https://github.com/PrestaShop/prestashop-specs/issues/111#issuecomment-965411185

[2022-06-21 06:18] bastien70 commented on #28776
Hello @hibatallahAouadni , check the following screen record :

https://user-images.githubusercontent.com/53140475/174729568-cb1fd6d3-11e5-452a-86bc-137f4b21d46b.mp4

[2022-06-21 06:52] Progi1984 commented on #28588
Fixed by @okom3pom in #28788 and tested by @sLorenzini

[2022-06-21 06:52] #28588 closed, assigned to nobody

[2022-06-21 06:52] #28795 closed, assigned to nobody

[2022-06-21 07:01] mathieucm commented on #22784
Same for us, any solution ?

[2022-06-21 08:02] bastien70 commented on #28798
I made a reproducer. So I added the '**something_id**' field to the **Cart** table. Just add the module to a fresh prestashop install, enable it, and add a product to cart.
In the checkout, there is a new step.

![image](https://user-images.githubusercontent.com/53140475/174747591-ca82aada-461c-43e8-ba27-14141448e60e.png)

Type a random number to represent an ID. (like 1 or 2 ...)

The value will

[2022-06-21 08:21] Gaja-A commented on #28793
Hi @florine2623 ,

Sorry for that.

Here is the configuration of my group: Visitor and Client where they both have the same parameters but in site there is a price difference for clients and visitors.

![visitor](https://user-images.githubusercontent.com/51961329/174751627-353e06b2-75db-4e01-adcb-7184434d01ef.PNG)
![client](https://user-images.githubusercontent.com/51961329/174751635-c982c3e9-899a

[2022-06-21 08:22] Murat-06 opened #28808 "Number Orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-21 09:51] atomiix commented on #24650
Status update: doc for PS 1.4 and PS 1.5 are now redirected to docs.prestashop-project.org.

[2022-06-21 10:05] atomiix commented on #28322
@jouino16 I don't think this is a bug, when you call `product::save()` either `product::update()` or `product::add()` is called but both methods never seems to be called in a row thus `actionProductSave` hook is called only once per `product::update()/product::save()` while `actionProductUpdate` hook is called only when `product::update()` is called.

Am I missing something?

[2022-06-21 10:42] #28808 closed, assigned to nobody

[2022-06-21 10:51] #28650 closed, assigned to nobody

[2022-06-21 11:23] khouloudbelguith opened #28810 "BO - Carriers - The Billing by default is not selected when creating a new carrier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Shipping > Add new carr

[2022-06-21 15:45] PrestaEdit opened #28813 "On the order detail page, the hook displayOrderDetail can't access to the general variables like $urls"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you use a module with the `dis

[2022-06-21 15:46] webaaz commented on #28804
Same bug here

[2022-06-21 16:40] khouloudbelguith opened #28816 "BO - Translations page - Some warnings are displayed when translating some emails"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we try t translate the body of

[2022-06-21 16:52] hibatallahAouadni commented on #28813
Hello @PrestaEdit

Could you please provide a screenshot :pray:
Waiting for your feedback.

Thanks!

[2022-06-21 18:52] #28468 closed, assigned to nobody

[2022-06-21 21:51] gouna15 commented on #14950
Hello,
I have same problem on a prestashop 1.7.6.8

[2022-06-22 07:46] arunas-stonis commented on #28804
I have the same issue

[2022-06-22 07:48] bastien70 commented on #28776
Hello @hibatallahAouadni

I didn't use git clone, but for the example I'll do like you.

So I cloned the repository and ran make install (which will also run composer install) then symfony serve, but nothing changed.

I don't have access rights issues.
In the video it says that symfony CLI version I'm using is deprecated but that's not a problem.

In the video, my PHP version is 8.1 but that shoul

[2022-06-22 08:02] AureRita commented on #28621
Hi @Garfield2013 ,

There is no problem, this issue is already in our issue database to be processed

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you.

Tha

[2022-06-22 08:12] MeKeyCool commented on #19381
Seen with @eshraw, `Invoice number` field is linked to Order `Invoice number` and as to be an integer (it was previously a Number)

[2022-06-22 08:18] khouloudbelguith commented on #28810
Hi @okom3pom,

Thanks, I did not manage to reproduce the issue with 8.0.x.
The issue is fixed :tada:

https://user-images.githubusercontent.com/16067358/174979284-cd443916-4ae7-4e37-8436-d0918aa44548.mp4

[2022-06-22 08:18] #28810 closed, assigned to nobody

[2022-06-22 08:49] hibatallahAouadni commented on #28810
Duplicate of #28588

[2022-06-22 08:57] idnovate commented on #28648
Hi,

I think that this step has not been done correctly:
_You will get an URL to confirm the payment. **Open this URL in an incognito tab with a VPN from the country disabled in the step 3**_

Because the error that you sent me appears when the order is validated correctly.

You should have received this error:
![image](https://user-images.githubusercontent.com/15104724/174987995-0b412a1f-32ad-438

[2022-06-22 10:17] hibatallahAouadni commented on #28776
Hello @bastien70

Thanks for the screen record :pray:
It seems that your web server is listening to: `https://127.0.0.1:8000`
While, on navigator, you're accessing to `http://127.0.0.1:8000`

Could you please check it :pray:
Waiting for your feedback.

Thanks!

[2022-06-22 12:01] Progi1984 commented on #28453
Fixed by PrestaShop/ps_brandlist#15

[2022-06-22 12:01] #28453 closed, assigned to Progi1984

[2022-06-22 12:13] #28793 closed, assigned to nobody

[2022-06-22 12:13] ghost opened #28818 "BO - Bad translation or bad behavior in admin search"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we do a targeted search on the

[2022-06-22 12:54] arcofins opened #28819 "BO / Order partial refund / Wrong stock issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Back-office : On the view of an ord

[2022-06-22 12:59] bastien70 commented on #28776
Hello @hibatallahAouadni

I confirm that it doesn't work on `https://127.0.0.1:8000` AND `http://127.0.0.1:8000`
I confess to not understanding what could be wrong at this stage.

I have no problem with access rights, and the procedure carried out seems the same as yours.

Also, I'm used to working with the symfony CLI for real symfony projects, which I never have a problem with normally. It makes

[2022-06-22 12:59] Max84 commented on #28779
Hi @AureRita , @florine2623

I'm sorry, I think I've forgotten a step (updating product). Please, check my video (tested with the latest: 1.7.8.6):

https://user-images.githubusercontent.com/6622400/175035065-87f9e384-a169-485a-a3f7-a345e21bad1c.mp4

[2022-06-22 13:15] jouino16 commented on #28322
@atomiix

⇒ I understand what you are referring to this method `ObjectModel::save()` (correct me if I'm wrong)
[code]

⇒ Yes, it is true, but why would I trigger a `actionProductSave` hook when I call `product::update()`?
In my humble opinion, a call to `product::add()` should trigger the `actionProductSave` hook and a call to `product::update()` should trigger the `actionProductUpdate` hook.

Let

[2022-06-22 13:21] Max84 commented on #28779
maybe a better video: https://drive.google.com/file/d/1-TGDG3m2OO1lfwZxZ4snzCZEXDOojZno/view?usp=sharing

[2022-06-22 13:37] #27581 closed, assigned to nobody

[2022-06-22 15:25] arirangz commented on #20057
Hi,

Is there any plan to add this field?

Thanks

[2022-06-22 16:30] amigainc commented on #24117
I agree, for imported data from other databases or CSV files, it should be great to have the same position than _Features_ have. See below:
![position](https://user-images.githubusercontent.com/6299136/175085010-c1b20650-58f8-4983-a525-195256a195c8.png)

[2022-06-22 17:41] panariga commented on #28675
Found problem:
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/classes/form/AbstractForm.php

protected function checkFieldLength($field)
    {
        $error = $field->getMaxLength() != null && strlen($field->getValue()) > (int) $field->getMaxLength();

        return !$error;
    }

[2022-06-22 22:30] kouinkouin opened #28822 "Make a bin/console command to index the catalog/products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-23 07:31] davideapvd opened #28823 "Classic theme should have a master branch following prestashop releases"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-23 08:17] kpodemski commented on #25605
@eveneme

you should check a new product page which drastically increases the performance of managing combinations

[2022-06-23 08:23] sLorenzini commented on #28818
Hello @okom3pom,

I reproduce the issue with PrestaShop version 8.0.0 / 1.7.8.6 / 1.7.7.8. I'll add this to the backlog so it can be fixed.

I have updated your steps to reproduce it. Don't hesitate to tell us if it's uncorrect.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own t

[2022-06-23 08:26] okom3pom commented on #28818
The other error is fixed by : https://github.com/PrestaShop/PrestaShop/pull/28817

[2022-06-23 09:04] sLorenzini commented on #28823
Hello @davideapvd,

Thank you for your suggestion.
The "Describe the solution you'd like" is not very clear. Could you provide us more details please 🙏?

@NeOMakinG, what do you think of this feature?

Thank you

[2022-06-23 09:07] davideapvd commented on #28823
hello, sure, I've updated my request

[2022-06-23 09:16] sLorenzini commented on #28823
Thank you for your answer.

We are currently working on the Classic theme, and as soon as we release the first tag/version, we will improve the repository tree.

We are closing the issue as there's no real feature here.

Thanks

[2022-06-23 09:16] #28823 closed, assigned to nobody

[2022-06-23 09:37] sLorenzini commented on #28819
Hello @arcofins,

Thank you for submitting this issue.

I couldn't reproduce this issue on ps1712. Here's my screenrecord:

https://user-images.githubusercontent.com/2854834/175268288-4fabc7f8-b621-426c-a389-3dcbb70eec43.mp4

Furthermore, If I check the "Re-stock products" checkbox, the quantity of the product is well updated.

Did I missed something? Could you provide us more details or update yo

[2022-06-23 10:07] kemalatila opened #28826 "Webservice API "product_type" field comes empty problem"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I create products from panel then I

[2022-06-23 12:30] sLorenzini commented on #28826
Hello @kemalatila,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.

Could you provide us more steps with details and screenshots or screenrecord to reproduce this issue please 🙏?

Read more about how we expect the issues to be hand

[2022-06-23 12:54] AlexTechDev commented on #9638
I am no longer able to reproduce this problem in the development version, it must have been solved in the meantime.
You can see the fix on Line 234 of ps_emailalerts.php :)

[2022-06-23 12:56] kpodemski commented on #9638
Thanks for the update @AlexTechDev

[2022-06-23 12:56] #9638 closed, assigned to AlexTechDev

[2022-06-23 13:47] sLorenzini commented on #28648
hello @idnovate,

I reproduce your issue with ps1786 & ps1778:

![Capture d’écran 2022-06-23 à 14 25 56](https://user-images.githubusercontent.com/2854834/175311788-6aee7ebe-ea9e-45d8-baba-6c7c72e2eb98.png)

- I've activated VPN
- I've added your module "dummypayment"
- I've downloaded database and added on the  `/app/Resources/geoip/` directory
- I've disabled FR country
- I've put the payment

[2022-06-23 13:49] idnovate commented on #28648
I could PR it, but I'd need someone to decide the solution to take.

My possible solutions:
- Remove this validation
- Get the country from the order address, not from the context

[2022-06-23 14:17] sLorenzini commented on #28776
hello @bastien70,

I could reproduce the issue:

https://user-images.githubusercontent.com/2854834/175321040-d52288f6-7e18-4f4a-9837-9581a9092425.mp4

https://user-images.githubusercontent.com/2854834/175321062-5f1da6db-2012-47fc-8df8-e568369de059.mp4

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.
If you fix the issue

[2022-06-23 14:52] Murat-06 opened #28830 "BO / order details / returned items or partial refund"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-23 14:56] tegbessou opened #28831 "List of feedbacks for Horizontal Migration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-23 15:06] hibatallahAouadni commented on #28776
Hello @bastien70

BTW, could you please downgrade your PHP version to 7.4 cause PHP 8.0 and 8.1 are not compatible with PS1786, see our [system requiremenets](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

PS: could you please try to reproduce the issue after downgrading your PHP version and feedback.

Thanks!

[2022-06-23 15:09] hibatallahAouadni commented on #28648
Ping @PrestaShop/product-team can someone please help us to choose the right solution for this issue:

Thanks in advance!

[2022-06-23 15:27] sLorenzini commented on #28779
hello @Max84,

Thank you for your last screenrecord.

I reproduce the issue with PrestaShop version 1.7.7.8 & 1.7.8.6.
I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

If you fix the issue on your end, please [contribute it back to the project](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/). Re

[2022-06-23 15:28] HanaRebaiQA commented on #28304
Hello,

I tried to reproduce the same issue using these steps :

-Install the blockwishlist module v2.0.1

[2022-06-23 15:34] HanaRebaiQA commented on #28304
Hello,

I reproduced the same issue on 8.0.x branch using these steps :

1. BO > Module manager > Uninstall the current version of `blockwishlist` module
2. Install the `blockwishlist` module **v2.0.1**
3. Upgrade the module to blockwishlisht **v2.1.0** when click on `upload a module` using a .zip of the module
4. When the installation is completed, click on `Configure`
5. See error > An exception

[2022-06-23 15:38] sLorenzini commented on #28830
Hello @Murat-06,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you or anyone else is willing to [contribute this feature](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/) to the PrestaShop Project, the teams will be ha

[2022-06-23 15:40] sLorenzini commented on #28831
Hello @tegbessou ,

Thank you for your suggestion.
Waiting for your PR 🚀

Thank you

[2022-06-23 15:44] HanaRebaiQA opened #28832 "FO - A bad display in the Wishlist page when the customer is logged out"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

FO - A bad display in the Wishlist

[2022-06-23 15:48] lmeyer1 opened #28833 "Faceted search option 'Show the number of matching products' does not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Even though checking the option `Sh

[2022-06-23 15:53] MatShir commented on #26553
PR has been merged for this issue, @PrestaShop/qa-team could you test it to be sure ? thanks :)

[2022-06-23 16:37] khouloudbelguith opened #28835 "FO - Wishlist - An exception is displayed when we create a list with invalid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed when crea

[2022-06-23 16:44] khouloudbelguith opened #28837 "FO - Wishlist - After deleting a list, some errors are displayed in the console when we click on sort by"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After deleting a list, some errors

[2022-06-23 16:46] #27184 closed, assigned to nobody

[2022-06-23 19:33] chtipepere opened #28839 "Avoid mail send with multiple hooks"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When multiple functions are hooked

[2022-06-24 06:39] la-lisa commented on #28757
Steps:
1. Customer 1 hits the "Place Order" Button in the Checkout - Order is placed in the backend (page is loading - payment actions are taken)
2. Customer 2 hits the button during the loading Page of Customer 1 and his Order is placed and payment loads
3. Customer 1 can view his Invoice - he sees the right one
4. Customer 2 can view his Invoice - he sees the invoice of customer 1 because the in

[2022-06-24 06:50] bastien70 commented on #28776
OK thank you ! If I have time I will try to see it!

[2022-06-24 07:05] borjagarciab opened #28840 "BO - Stats - Stats carrier is duplicated when a carrier is edited"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you have a carrier used in ord

[2022-06-24 07:08] lmeyer1 opened #28841 "Parent categories in the breadcrumbs do not display"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On my multishop installation, the p

[2022-06-24 07:09] borjagarciab commented on #28840
The pull request i sent
https://github.com/PrestaShop/statscarrier/pull/14

[2022-06-24 07:11] kpodemski commented on #28841
Most of the time it's related to the database structure. I'm pretty sure it would be impossible to reproduce on the clean installation.

The category might be available in the database, but there might be some issues related to the nleft, nright, or one of the categories has the parent id that doesn't exist anymore, etc.

[2022-06-24 07:26] #28839 closed, assigned to nobody

[2022-06-24 07:48] khouloudbelguith opened #28844 "PHP8.1 - FO - Wishlist - The Heart is not filled after reloading the page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using PHP8.1, the heart is not fill

[2022-06-24 07:52] lmeyer1 commented on #28841
@kpodemski Thanks.
The database structure is correct as far as I can tell. I will look at `nleft` and `nright` and hope to find the issue.

[2022-06-24 07:59] lmeyer1 commented on #28833
This issue is related to classic-rocket. Once I know more I will update it either with details or close it.

[2022-06-24 08:48] MeKeyCool commented on #27511
Hi @MatShir, @khouloudbelguith and @mparvazi ,

Sorry but I just want to well understand the expected behavior before starting any development.

For screen smaller than 480px (extra small), the product image should not be deformed, the "quick view" button has do disappear and we should show one column per row.

Do we agree expected result ?

[2022-06-24 09:28] florine2623 commented on #28841
Hello @jf-viguier ,

I can't reproduce your issue on my multistore :
<img width="635" alt="Screenshot 2022-06-24 at 11 22 41" src="https://user-images.githubusercontent.com/16019289/175506031-9864dde2-d101-4557-a5ac-973a5096b826.png">
The breadcrumb is displayed correctly.

Here are my categories that I just created for this issue :
<img width="1178" alt="Screenshot 2022-06-24 at 11 27 05" src="ht

[2022-06-24 09:49] mparvazi commented on #27511
Hello @MeKeyCool

On mobile devices we don't have hover state, so need to show quickview in a diffrent way as already implemented in hummingbird:
https://github.com/PrestaShop/hummingbird/pull/295

Currently mobile devices have pixel density 2 or 3, that means most of them have display lower than 400 pixels for viewport.
Try to check your store for 320px, 360px and 400px.

IMO use one column per r

[2022-06-24 10:22] uruk-hai-21 commented on #14950
Try to add in css this:
[code]

[2022-06-24 10:49] davideapvd opened #28847 "Invalid addess ecception when accessing cart listing page in admin backend"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Sometimes when accessing the cart l

[2022-06-24 10:56] jf-viguier commented on #28841
Wrong person @florine2623

[2022-06-24 10:59] florine2623 commented on #28847
Hello @davideapvd ,

Your issue is similar to : https://github.com/PrestaShop/PrestaShop/issues/12617

So I close it.

[2022-06-24 10:59] #28847 closed, assigned to nobody

[2022-06-24 11:24] okom3pom commented on #28840
It will be closed when your PR is merged

[2022-06-24 11:29] borjagarciab commented on #28840
Sorry

[2022-06-24 12:14] davideapvd commented on #12617
Hello, we still have this bug on 1.7.8.5, I don't think the scenario reported above is valid in our case, this error is triggered on the first BO carts page, we have many of them so I don't think those are pre upgade, expecially regarding older PS versions

[code]

[2022-06-24 12:14] khouloudbelguith commented on #28054
Hello,

This issue is fixed in the 8.0.x branch.
It could be fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/28390

Thanks!

[2022-06-24 12:14] #28054 closed, assigned to matthieu-rolland

[2022-06-24 12:23] khouloudbelguith commented on #28494
Duplicate of #28405

[2022-06-24 12:23] #28494 closed, assigned to MeKeyCool

[2022-06-24 12:26] khouloudbelguith commented on #28429
Hello,

This issue is fixed in branch 8.0.x
It is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/28482

Thanks!

[2022-06-24 12:26] #28429 closed, assigned to nobody

[2022-06-24 13:04] atomiix commented on #28322
@jouino16 I think `save` is different from `add`. Let's say you're editing a text document, at the end you'll `save` it. You updated the content but the action you made was `save`. I think it's something similar here. As a developper I think it's nice to be able to subscribe to `actionProductSave` so each time a product is created/modified you can get notified with only one hook but also you can c

[2022-06-24 13:55] matydominguez commented on #9866
Hello all. We found 712 times this error just on June of 2022!
"Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart"

And we have more than 18.000 records with the same error at all times!

Once and again, how can we fix it at all?

Thanks!!

[2022-06-24 14:35] ghost opened #28848 "BO > Customers > Addresses - Required fields are not used in back office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When applying required fields for a

[2022-06-24 15:07] florine2623 commented on #28848
Hello @okom3pom ,

I reproduce the issue with PrestaShop version 1.7.7.8, 1.7.8.6 and 8.0.0, I'll add this to the backlog so it can be fixed.

I have configured the Address format in International > Locations > Country :
<img width="425" alt="Screenshot 2022-06-24 at 17 05 00" src="https://user-images.githubusercontent.com/16019289/175563593-152a43eb-661e-45c2-9bd6-e91e7778d206.png">

I have selec

[2022-06-24 15:11] okom3pom commented on #28848
Hello @florine2623 i have an PR for this issue but i wait for the new branch because it's an BC break

[2022-06-24 15:14] eveneme opened #28849 "ImageMagick Optimization Image"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-24 15:21] florine2623 commented on #28849
Hello @eveneme ,

Your issue is a duplicate of : https://github.com/PrestaShop/PrestaShop/issues/21101
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2022-06-24 15:21] florine2623 commented on #28849
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/21101

[2022-06-24 15:22] #28849 closed, assigned to nobody

[2022-06-24 20:39] go-sudo commented on #18503
Hello @matks

I can not access to the forum anymore, I'm using PS 1.7.8.6

I removed this

[code]

butt the back office shows this error

![image](https://user-images.githubusercontent.com/11594433/175664073-f510ad2c-1118-4009-aee9-365cf64ee79f.png)

Regards

[2022-06-24 22:56] DracoBluee commented on #21101
How ImageMagick Optimization Image?

[2022-06-25 13:00] ghost opened #28851 "Remove PS_SHOP_ACTIVITY and shop_activity only used by a removed controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-25 20:31] kpodemski opened #28855 "Not used file in the productcomments module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is a filennamed "ProductCrite

[2022-06-26 01:21] leemyongpakvn opened #28857 "Fix deprecated CHARSET utf8 in native modules' install and upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

mysql.com declared that utf8 was de

[2022-06-26 09:04] okom3pom commented on #28857
I update your description and i add missing module gsitemap

[2022-06-26 11:14] leemyongpakvn commented on #28857
@okom3pom  :ok_hand: Certainly, core devs will make that upgrade, but it is not me, I'm going around modules and themes.

[2022-06-26 11:51] okom3pom commented on #28857
It's one upgrade file by module.

[Like this](https://github.com/PrestaShop/ps_googleanalytics/blob/dev/upgrade/upgrade-4.1.0.php) with the good SQL query

[2022-06-26 12:58] leemyongpakvn commented on #28857
@okom3pom Great, looks simple enough. I guess the module upgrade will looks like this

[code]
version changes in mainclass and config.xml are needed also.

[2022-06-26 13:34] okom3pom commented on #28857
Yes but you don't need to update config.xml and this line https://github.com/PrestaShop/ps_googleanalytics/blob/dev/ps_googleanalytics.php#L57

This will be done at the version change of the module

[2022-06-26 14:08] leemyongpakvn commented on #28857
Thanks for your information. I will make a PR for this upgrade file in https://github.com/PrestaShop/ps_googleanalytics soon.

[2022-06-26 15:15] leemyongpakvn opened #28858 "Simplify token getting of ps_googleanalytics module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

in [classes/Form/ConfigurationForm.

[2022-06-26 23:11] alfonsolr09 commented on #28211
still not working, not updated yet

[2022-06-27 02:00] leemyongpakvn opened #28860 "Fix deprecated CHARSET utf8 via native modules' upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

mysql.com declared that utf8 was de

[2022-06-27 07:52] lmeyer1 commented on #28841
I introduced this bug in my code by fixing another bug :cry: by uncommenting this line https://github.com/PrestaShop/PrestaShop/blob/2b0a73f9ea15eb883c2d020df08bc3c7c60c5c77/classes/PrestaShopCollection.php#L339

[2022-06-27 07:52] #28841 closed, assigned to nobody

[2022-06-27 08:39] musaffar-patel opened #28862 "Breadcrumbs bug in category pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The problem occurs only in the foll

[2022-06-27 08:58] hibatallahAouadni opened #28863 "[Responsive - BO] Bad display of active menu item in Legacy pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On Mobile/Tablet, try to access a L

[2022-06-27 09:15] Hlavtox commented on #28862
Hi @musaffar-patel, this is already fixed in the next version. :-)

https://github.com/PrestaShop/PrestaShop/blob/2b0a73f9ea15eb883c2d020df08bc3c7c60c5c77/controllers/front/listing/CategoryController.php#L241

[2022-06-27 09:20] lmeyer1 opened #28864 "Inefficient queries in PrestaShopCollection, incoherent display of category names in breadcrumbs."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is a bug in PrestaShopCollect

[2022-06-27 09:25] musaffar-patel commented on #28862
@Hlavtox  That's great news, in which version is it fixed .. 1.7.8.7 ?

[2022-06-27 09:31] Hlavtox commented on #28862
@musaffar-patel It will be fixed in Prestashop 8, which will be released later this year.👍

[2022-06-27 09:37] atomiix commented on #28488
@sandra2n I think that either case, `$row['price']` will contain the price with taxes and `$row['price_tax_exc']` will contain the price without tax. It seems that it's only a matter of how those prices are calculated.
What you should do if you want to display prices without taxes is to use `$row['price_tax_exc']` I guess.

[2022-06-27 09:38] RichardPerdaan commented on #28804
Same bug here

[2022-06-27 09:38] AureRita commented on #28851
Hi @okom3pom
Thank you for your suggestion. The Develop Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for your PR :rocket:

Thank you

[2022-06-27 09:47] Progi1984 commented on #28816
Fixed by @okom3pom in #28817 and tested by @sLorenzini

[2022-06-27 09:47] #28816 closed, assigned to nobody

[2022-06-27 10:42] leemyongpakvn commented on #28855
@AureRita FYI, **kpodemski** created this issue for my original [PR](https://github.com/PrestaShop/productcomments/pull/143) that I marked as an Improvement. The unused file is not harmful, it just useless.

[2022-06-27 11:39] Progi1984 commented on #27604
Fixed by @Rizzen59 in #27841 and tested by @sLorenzini

[2022-06-27 11:39] #27604 closed, assigned to Rizzen59

[2022-06-27 12:34] AureRita commented on #28857
Hi @leemyongpakvn ,

Thank for your reporting, I tried to reproduce your issue but I didn't see this on my phpmyadmin, as you can see on this picture :
![image](https://user-images.githubusercontent.com/100699445/175941803-030fbc79-4750-4606-b1e5-9ae0d2e34a60.png)

this is on 1.7.8.6, did you use another version of 1.7.8.x ?
Have you done something that give you the " --- COLLATION"

Waiting for y

[2022-06-27 12:39] okom3pom commented on #28857
Hello @AureRita i can't also reproduce the same in my phpmyadmin version, but the issue is for a depraceted charset ( utf8 ).

I think the @PrestaShop/prestashop-core-developers can approve this issue

[2022-06-27 12:47] hibatallahAouadni opened #28868 "[BO - Search] - Old links redirecting to ModuleCatalog appear and redirect to Page not found"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While searching in BO for Orders (f

[2022-06-27 12:51] atomiix commented on #17095
@PrestaShop/product-team friendly reminder

[2022-06-27 12:57] joecoolio66 opened #28870 "eventbus 1.7.8 causes issues"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We upgraded the version of eventbus

[2022-06-27 13:13] leemyongpakvn commented on #28857
I got the --- COLLATION problem with phpmyadmin 5.2.0  and MySQL 8.0.29. Maybe you use an older MySQL version that still support `utf8_general_ci`. As I described above MySQL officially dropped support for utf8 (in fact utf8mb3) and Prestashop core DB install switched to `utf8mb4_general_ci` for years. The devdocs also required using `utf8mb4_general_ci` at https://devdocs.prestashop.com/1.7/basic

[2022-06-27 13:19] AureRita commented on #28858
Hi @leemyongpakvn ,

I reproduce the issue with PrestaShop version 1.7.6.5, I'll add this to the backlog so it can be fixed.

If you fix the issue on your end, please [contribute it back to the project](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/). Remember that the more people contribute, the better PrestaShop becomes for everyone.

Thanks

[2022-06-27 13:21] atomiix commented on #28804
Hi everyone, this issue should be fixed now!

[2022-06-27 13:32] MatShir commented on #28368
Since to be an issue from the inspector mode rather from the MacOS system. We need to test the step on a proper Ipad to be sure.

[2022-06-27 13:38] AureRita commented on #28860
Hi @leemyongpakvn,

Thank you for this second report, but what is the difference between this issue and #28857 ? it's during the installation and during an upgrade ? Can they be corrected in a single PR ( per module ) ?

Waiting for your feedback

[2022-06-27 13:40] MatShir commented on #28649
@TristanLDD Could you design a fallback image for the installer ? :)

[2022-06-27 13:45] khouloudbelguith opened #28873 "BO - Customers - Select all is not working in the Group access section"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Customers > Add/EDit a

[2022-06-27 13:54] AureRita commented on #28862
HI @musaffar-patel and @Hlavtox

Thank you for your quick answer @Hlavtox. Indead, as it was say, it's already fixed in Prestashop 8 so I'll close this issue

[2022-06-27 13:54] #28862 closed, assigned to nobody

[2022-06-27 14:49] leemyongpakvn commented on #28858
@AureRita I already fixed this bug with the [related PR](https://github.com/PrestaShop/ps_googleanalytics/pull/118). This issue was created after that in fact, following a procedure introduced by **okom3pom** :satisfied:

[2022-06-27 14:54] AureRita commented on #28864
Hi @lmeyer1 ,

Thank you for your report,I reproduce the issue with PrestaShop version 1.7.7.8 as we can see on this picture, I'll add this to the backlog so it can be fixed.

![image](https://user-images.githubusercontent.com/100699445/175970352-c66463be-526b-464b-a333-48d1f01dcee9.png)

Thank you for your PR :rocket:

[2022-06-27 15:03] khouloudbelguith opened #28874 "BO - Migrated page - Some buttons are still in focus state when click on them"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the migrated page, when we click

[2022-06-27 15:27] AureRita commented on #28870
Hi @joecoolio66 ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it.
**You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/)

Currently, I tried to reproduce it wit

[2022-06-27 15:30] khouloudbelguith opened #28875 "BO - Products V1 - Error 500 when we add ad invalid image to a product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error 500  is displayed when add

[2022-06-27 15:30] b4d4 opened #28876 "Reflected XSS + WAF Bypass"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reflected XSS in https://domain.com

[2022-06-27 15:35] b4d4 commented on #28876
Hello, it is not version 1.6

[2022-06-27 15:39] #28833 closed, assigned to nobody

[2022-06-27 15:48] Hlavtox commented on #28874
That's normal browser behavior, why it should refocus on something else?

[2022-06-27 15:57] hibatallahAouadni commented on #28874
Hello @Hlavtox

Thanks for your feedback!
But as you can see it's a regression cause we didn't reproduce the issue with PS1786 with the same browser:

https://user-images.githubusercontent.com/23308427/175982499-3d78b491-f191-4513-8e74-6b0a2c62a5ba.mp4

Thanks!

[2022-06-27 16:03] AureRita commented on #26553
Hi @MatShir ,

I tried to reproduce the Issue with prestashop v1.7.8.6 and the issue isn't here, as you can see :

https://user-images.githubusercontent.com/100699445/175983501-ecfd7617-e2be-4358-b7f3-e0df45df3747.mp4

[2022-06-27 16:03] #26553 closed, assigned to nobody

[2022-06-27 16:06] joecoolio66 commented on #28870
We know... we were too busy trying to fix the issue and didn't take screenshots of the error trace.   It looked like main issue was clashing with the Canada Post module overrides.  Anyway, hopefully someone else will also report issues... as it stands right now, we can't use the latest version of the eventbus module.

Just a bit more information - After upgrading, we found we couldn't access custo

[2022-06-27 16:07] MeKeyCool commented on #28405
After further explanations with @MatShir , I'll fix this issue with a min-size attributes that should match `Awaiting Cash On Delivery validation` content size.

[2022-06-27 16:13] boubkerbribri commented on #28804
Hi everyone,
Just tested, it works.
Thanks @Matt75 and @atomiix for debug and fixing it.

[2022-06-27 16:13] #28804 closed, assigned to nobody

[2022-06-27 16:14] khouloudbelguith opened #28877 "BO - Products V1- The alert is duplicated when we create a product is a too long/too short name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we create a product with a too

[2022-06-27 16:22] MatShir commented on #27511
Let's go for ->

[2022-06-27 16:25] khouloudbelguith opened #28878 "BO - Shipping preferences - ID of the carrier is displayed in the Default carrier list after fresh install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue id detected by nightly:

[2022-06-27 16:26] DonDiegoDeLasVegas commented on #22784
Hi, same problem but just with one customer...

[2022-06-27 18:55] JoeyJanson commented on #28695
I've got the same issue for the sell/catalog/products with the error 'Invalid $number parameter: "" cannot be interpreted as a number' and found out that the `format` function in [src/Core/Localization/Number/Formatter.php:106 ](https://github.com/PrestaShop/PrestaShop/blob/2b0a73f9ea15eb883c2d020df08bc3c7c60c5c77/src/Core/Localization/Number/Formatter.php#L106)is trying to do `prepareNumber` on a

[2022-06-27 19:34] Progi1984 commented on #28796
Fixed by @okom3pom in #28802 and tested by @sLorenzini

[2022-06-27 19:34] #28796 closed, assigned to nobody

[2022-06-28 01:50] leemyongpakvn opened #28879 "Duplicate type casting in productcomments module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

In https://github.com/Pres

[2022-06-28 06:41] okom3pom commented on #28878
Hello, @khouloudbelguith

it is the expected behavior of the PR the problem does not come from there

[2022-06-28 06:48] sebhanz opened #28880 "Updating Product using API overwrites field values"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We are importing and updating produ

[2022-06-28 07:21] Amit-Kumar-Tiwari-Webkul opened #28881 "[BO]: Class name must be allowed from controller in select render list column"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-28 07:26] AureRita commented on #28876
Hi @b4d4 ,

Yes, Indead, sorry for my misunderstanding, can you give us more information to reproduce your issue in our shop and work on it. You must follow the template and provide clear and concise steps to reproduce the bug.

Thanks

[2022-06-28 07:28] sandra2n commented on #28488
@atomiix Sorry, I don't. I don't know where it is use on default theme.

[2022-06-28 07:29] okom3pom commented on #28876
Thank you for not detailing. [Please use this form ](https://github.com/PrestaShop/PrestaShop/security/policy)

[2022-06-28 07:56] b4d4 commented on #28876
Okey, i will contact with security tema. Thanks.

[2022-06-28 07:56] #28876 closed

[2022-06-28 08:17] AureRita commented on #28870
Hi @joecoolio66 ,

Unfortunately, because we haven't enought information we have to close the issue. If another person have the same issue, we'll investigate with more details.

Thank you fo have taken the time to respond us

[2022-06-28 08:17] #28870 closed, assigned to nobody

[2022-06-28 08:29] daresh opened #28882 "COD v2 module displays it's order confirmation template everywhere"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The COD module v.2.0.0 (also 2.0.1)

[2022-06-28 08:46] hibatallahAouadni commented on #28881
Hello @Amit-Kumar-Tiwari-Webkul

Thanks for your issue and your PR!
But, could you please try to edit your issue description, try to make a change in the two blocks description :pray:
BTW, I can't access to the screenshot, it seems removed.
Waiting for your feedback.

Thanks!

[2022-06-28 08:46] sLorenzini opened #28883 "BO - Associated categories of product are not checkecd"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On product page in BO, I want to as

[2022-06-28 08:58] Amit-Kumar-Tiwari-Webkul commented on #28881
@hibatallahAouadni , I have updated description

[2022-06-28 08:58] Julievrz commented on #28367
Could we use the following existing wording: 'The field is invalid. Please enter a positive integer.' in Admin.Notifications.Error?

[2022-06-28 09:01] hibatallahAouadni commented on #28881
Hello @Amit-Kumar-Tiwari-Webkul

I just update your issue description, this is what I was asking for :wink:
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Thank you

[2022-06-28 09:19] khouloudbelguith opened #28885 "BO - Products V1 - Some issues related to the categories section"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is related to https://gi

[2022-06-28 09:27] khouloudbelguith commented on #28885
Duplicate of #28883

[2022-06-28 09:27] hibatallahAouadni commented on #28879
Hello @leemyongpakvn

Thanks for your issue and your PR!
Could you please simplify and detail the steps to reproduce :pray:
Waiting for your feedback.

Thanks!

[2022-06-28 09:28] jouino16 commented on #28322
@atomiix I should maybe give it a try.
Also, there is this hook "actionProductAdd" that is executed in both methods `AdminProductsController::processDuplicate` and `AdminProductsController::processAdd`.

My purpose behind opening this issue, is to check if there is a potential bug.

[2022-06-28 09:30] florine2623 opened #28887 "BO > Products Settings - Popovers are missing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The popovers are no longer availabl

[2022-06-28 09:34] rlagrange opened #28888 "Combination deleted -> order out of sync"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

When I delete a combination

[2022-06-28 09:37] MatShir commented on #27064
@Julievrz I think we can start removing the page from the doc

[2022-06-28 09:46] Amit-Kumar-Tiwari-Webkul opened #28889 "[BO]: Unable to get correct class name on render list, due to this CSS is not applied"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the render list, when we select

[2022-06-28 09:58] Julievrz commented on #27866
@MatShir The expected behavior is that the user cannot use the 0 value in the quantity field, right?

[2022-06-28 10:01] daresh commented on #28882
Exactly, I wonder why this module got changed from paymentReturn to displayOrderConfirmation hook...

[2022-06-28 10:04] Matt75 commented on #28882
Because many customer doesn't see information in `displayPaymentReturn` because they have to scroll down, especially when Order summary is displayed before `displayPaymentReturn`

![image](https://user-images.githubusercontent.com/5262628/176152736-c8dcda26-888d-4ee2-9dac-63f5a6d80544.png)
Customer should scroll down to see `displayPaymentReturn` in this case

[2022-06-28 10:06] leemyongpakvn commented on #28879
@hibatallahAouadni Done, 3 steps as you wish. Because this issue is an improvement in PHP code, not a problem happens on FO or BO, you need to read code files for details. The related PR's File changed is the most intuitive way to check. :joy:

[2022-06-28 10:06] daresh commented on #28882
So maybe a general solution would be to put the paymentReturn higher above the items? Other modules may still be using it.

[2022-06-28 10:10] Hlavtox commented on #28882
I changed this in hummingbird. Payment info is now shown directly under the confirmation message.

[2022-06-28 10:12] Hlavtox commented on #28882
![localhost_prestashop_order-confirmation_id_cart=56 id_module=42 id_order=20 key=739725a4772960b65cfc198993a25b7b](https://user-images.githubusercontent.com/6097524/176154395-c4f0e2eb-7abb-4000-9893-45d55a585a79.png)

[2022-06-28 10:17] Matt75 commented on #28882
In fact `displayOrderConfirmation` hook is more accurate to display information of `ps_cashondelivery` module because it's only **few** additional information.

`displayPaymentReturn` hook has to be use when module needs to display **detailed** additional information to customer or performs action to finalise payment process. In this case it should be currently used in pair with `displayOrderConfi

[2022-06-28 10:25] daresh commented on #28882
Great, but on the displayOrderConfirmation hook the COD module needs to check if the payment for order is COD. Currently it gets displayed everywhere, which is clearly a big bug.

[2022-06-28 10:27] Matt75 commented on #28882
You can found the PR here : https://github.com/PrestaShop/ps_cashondelivery/pull/48

[2022-06-28 10:35] sebhanz commented on #28880
Steps to reproduce
1. Set you cache_default_attribute to 0 on an item
2. Update that item using API (PUT Product) (body can be found in "Request.txt")
3. Check that product again in DB and see if cache_default_attribute was overwritten to 1 or blank

[2022-06-28 10:38] hibatallahAouadni commented on #28882
Hello @daresh

Thanks for reporting the issue!
And thanks guys for yoru quick replies @Matt75 & @Hlavtox :muscle:
Thanks again @Matt75 for your PR :rocket:

I was able to reproduce the issue with PrestaShop version 1.7.6.7, PS1778, PS1786 and develop. I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-06-28 11:13] linquant opened #28891 "Select product variation when related products on the bottom product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I select a product variation o

[2022-06-28 11:13] khouloudbelguith opened #28892 "BO - Product V1 - Shipping & Pricing tab - Units are not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Product V1 >

[2022-06-28 11:27] florine2623 commented on #28887
I close this issue because it has been discussed here :
https://github.com/PrestaShop/PrestaShop/pull/27892#discussion_r827795130
https://github.com/PrestaShop/PrestaShop/pull/27892#discussion_r827816261
https://github.com/PrestaShop/PrestaShop/pull/27892#discussion_r827816429
https://github.com/PrestaShop/PrestaShop/pull/27892#discussion_r833452867

Thank you @khouloudbelguith for noticing it :)

[2022-06-28 11:27] #28887 closed, assigned to nobody

[2022-06-28 12:10] Hlavtox commented on #28891
The main problem is somebody using selectors like `form:first` in the first place. 🙄

@NeOMakinG Can you check this bro?

[2022-06-28 12:13] Hlavtox commented on #28882
@Matt75 BTW, do you think we can simplify the hooks on that page?

**Current situation on order confirmation page in hummingbird:**
- Your order is confirmed
- `displayPaymentReturn`
- `displayOrderConfirmation`
- Order details
- Guest conversion
- `displayOrderConfirmation1`
- `displayOrderConfirmation2`

I think we can simplify the bottom hooks to `displayOrderConfirmationBottom` and make the ol

[2022-06-28 12:27] Matt75 commented on #28882
I never used `displayOrderConfirmation1` and `displayOrderConfirmation2` 👀
Probably introduced on 1.7 ?

Btw I think order confirmation page is bad and should be reworked 😄

[2022-06-28 12:30] d33x opened #28893 "Taxes for delivery: add other options (tax on the cheapest product, prorata tax based on different products, ...)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-28 12:36] Hlavtox commented on #28882
@Matt75 Yeah, I think its a 1.7 thing, it's not even in the install xml 🤔.

Go try hummingbird dude, I think you will be happy.

[2022-06-28 13:16] hibatallahAouadni commented on #28893
Hello @d33x

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this featu

[2022-06-28 14:04] hibatallahAouadni commented on #28860
Ping @PrestaShop/prestashop-core-developers could someone try to reproduce the issue cause it's too technical for me :pray:
PS: related to this issue 28857

[2022-06-28 14:09] hibatallahAouadni commented on #28695
Hello @JoeyJanson

And it will be perfect if you could provide a screen record about your issue while duplicating a product :pray:

Could you please provide what I asked for above :pray:
Waiting for your feedback.

Thanks!

[2022-06-28 14:13] hibatallahAouadni commented on #28879
Hello @leemyongpakvn

Thanks for your feedback!

Oh I see! then you have to choose the feature request template not the bug report :wink:
Editing your issue description!

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Thanks again for your PR :rocket:

Thank you

[2022-06-28 14:17] hibatallahAouadni commented on #28685
Hello @savedario

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-28 14:17] #28685 closed, assigned to nobody

[2022-06-28 14:29] khouloudbelguith opened #28894 ""Filter by date" doesn't work in the Movements page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Stock page => Movements tab

[2022-06-28 14:29] atomiix commented on #28764
Fixed in PrestaShop/docker#308

[2022-06-28 14:29] #28764 closed, assigned to atomiix

[2022-06-28 15:18] lmeyer1 commented on #21790
When will you start working on this? Is un update to GA4 already planned?

[2022-06-28 15:27] khouloudbelguith opened #28895 "BO - Mouvements page - Sorting by product name is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Mouvements >

[2022-06-28 15:35] leemyongpakvn commented on #28860
@okom3pom So merge this issue to #28857 and use it as a generic issue for 10 PR in 10 modules is OK ?

[2022-06-28 15:40] hibatallahAouadni commented on #28693
Hello @devphoenix2404

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-28 15:40] #28693 closed, assigned to nobody

[2022-06-28 15:41] hibatallahAouadni commented on #28700
Hello @Seb33300

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-28 15:41] #28700 closed, assigned to nobody

[2022-06-28 15:42] hibatallahAouadni commented on #28669
Hello @michael-ritsch

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-06-28 15:42] #28669 closed, assigned to nobody

[2022-06-28 16:09] khouloudbelguith opened #28896 "BO - Customer view page - The status of the voucher is always disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Customers > Customer vi

[2022-06-28 16:29] hibatallahAouadni commented on #28888
Hello @rlagrange

How can the system add a discount on product that it doesn't exist or it's out of stock? where's the logic here :thinking:
IMHO I think this is the expected behavior.
Ping @PrestaShop/product-team wdyt? is it a bug or as I said it's the expected behavior?

Thanks!

[2022-06-28 16:40] hibatallahAouadni commented on #28889
Hello @Amit-Kumar-Tiwari-Webkul

I was able to reproduce the issue with PrestaShop version 1.7.6.7 and 8.0.x. I’ll add this to the debug backlog so that it’s fixed.
Thanks for your PR :rocket:

Thank you

[2022-06-28 16:48] devphoenix2404 commented on #28693
Thanks, no problem :)

[2022-06-28 17:12] Seb33300 commented on #28336
I run into this issue today and after digging into it, I found the root cause.

The SQL query that return the cart has the condition `c.`id_guest` != 0`

The thing is that the `id_guest` is populated only if the method `Guest::setNewGuest()` is called.
This method update the cookie, and the cookie is used to populate the cart data.

This method is called by the module `statsdata` in the hook `hook

[2022-06-28 19:47] matks commented on #28522
@Murat-06 You need to open a feature request in order for your ideas to be analyzed -> https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=Bug%2CNew&template=1_bug_report.yml

[2022-06-28 19:48] matks commented on #28522
### Date update

As we focus on 8.0.0 for now, expected release date has been set for 18th of July

[2022-06-28 19:49] matks commented on #26427
## Status update

Alpha test started yesterday by QA team. Following the results, we'll know how far we are from being able to release a alpha version.

[2022-06-28 19:50] matks commented on #28708
Only remaining item: https://github.com/PrestaShop/open-source/issues/102

I close this issue.

[2022-06-28 19:50] #28708 closed, assigned to jolelievre

[2022-06-29 00:55] BenTen commented on #16869
The problem was in 1.7.5 _(old order page)_
I tried in the last one 1.7.8.6, the problem is here too _(new order page)_

Check or not, the system will restock the product.

[2022-06-29 03:55] Seb33300 commented on #28700
Hello @hibatallahAouadni, sorry for the late reply.

Please find an example module using a symfony event subscriber: [sfeventsubscriber.zip](https://github.com/PrestaShop/PrestaShop/files/9007103/sfeventsubscriber.zip)

After installing this module, you will see a message displayed on top of each symfony page (for example, modules or orders pages are using Symfony)

![image](https://user-images.gi

[2022-06-29 03:57] Seb33300 commented on #28700
I did not check how PrestaShop works yet, but I guess the issue is that PrestaShop load the `services.yml` file of the module even if the module is not enabled.
It should load `services.yml` file only if the module is enabled.

[2022-06-29 04:39] Seb33300 commented on #28700
The check for enabled module is wrong.
It checks `ps_module.active` field instead of `ps_module_shop` table.

https://github.com/PrestaShop/PrestaShop/blob/742017150438979b7a053288a165111feb52e968/src/PrestaShopBundle/DependencyInjection/Compiler/LoadServicesFromModulesPass.php#L65-L74

But maybe this bug is already fixed in PrestaShop 8?
Because I see that the code related to this check changed.

[2022-06-29 07:07] matks commented on #26129
Honestly I don't think this will happen. It would be interesting to have prestashop supporting Redis however we have already a lot of major projects in progress, and the work needed to make this happen is huge.

I am sorry but although this is a good feature and, as a developer, I consider this an interesting challenge, I dont think we will do it. Current stack works well and adding one more techn

[2022-06-29 07:28] MatShir commented on #28878
You are right, I thought It was a regression because usually in the back-office the ID is shown only when there are 2 same items in the list.

[2022-06-29 08:44] #28818 closed, assigned to nobody

[2022-06-29 09:19] jf-viguier opened #28900 "Add an option to remove the default language from the front-end url"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-29 10:07] amaurigabriel opened #28901 "Wrong calculation in vouchers created after another voucher with free shipping is partially used"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

We opened a support ticket in

[2022-06-29 10:31] MatShir commented on #28878
So, we will adapt the auto-test to the scope of the initial PR but to keep consistency in the BO, I will keep this issue open so at some point we will adjust the behavior and only display the id when needed.

[2022-06-29 10:34] hibatallahAouadni commented on #28900
Hello @jf-viguier

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So we're waiting for your PR 🚀

Thank you

[2022-06-29 10:43] hibatallahAouadni commented on #28891
Hello @linquant

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-core-developers someone please try to reproduce the issue, it's too technical for me 😅

Thanks in advance!

[2022-06-29 10:57] NeOMakinG commented on #28891
I'm on it don't worry

[2022-06-29 12:14] NeOMakinG commented on #28891
@linquant

I know there is a bug, obviously, but I need to reproduce it in order to test the fix and I'm unable to reproduce it, could you detail the way you reproduce this?

- I did add a form to `catalog/_partials/miniatures/product.tpl` :

[code]

- I have some product list inside the product page, also added to a hook inside `.product-actions`

Impossible to reproduce 😄

[2022-06-29 12:28] linquant commented on #28891
This problem appear when they have many  id_product. When you add a slider containing product with callToAction. You have other id_product.

![image](https://user-images.githubusercontent.com/6512186/176435818-5f91fcff-c300-4aeb-850e-de892645d3b6.png)

Le jquery Selector return all Id_product. You must get only the first.

[2022-06-29 12:38] Progi1984 commented on #27921
Fixed by @jolelievre in #28821 and tested by @florine2623

[2022-06-29 12:38] #27921 closed, assigned to jolelievre

[2022-06-29 12:57] atomiix commented on #25773
@Hlavtox Maybe I'm missing something but the hook is fired on my side:

https://user-images.githubusercontent.com/2168836/176441683-7d1f6e34-a110-4099-a3b2-cb6720deb83b.mov

[2022-06-29 13:45] NeOMakinG commented on #28891
Yeah I know this, but I can't reproduce it myself, I can't find a way to reproduce it on the `classic` theme, seems like I miss something, where did you add the product carousel exactly?

[2022-06-29 13:53] sowbiba opened #28903 "Authentication URL have changed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

Because Account deliver ne

[2022-06-29 14:03] Progi1984 commented on #27617
Fixed by @MeKeyCool in #28392 and tested by @AureRita

[2022-06-29 14:03] #27617 closed, assigned to MeKeyCool

[2022-06-29 14:15] atomiix commented on #28672
Hi @abderraxim would you mind give us 2 sample modules so we can reproduce your issue easily? 🙏

[2022-06-29 14:20] atomiix commented on #9676
@TristanLDD friendly reminder :)

[2022-06-29 14:52] leemyongpakvn opened #28905 "Redundant function in ps_googleanalytics module - class Hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-06-29 15:32] atomiix commented on #28306
Hi everyone, this is definitely not a regression, the hook `actionPresentOrder` was introduced in 1.7.8.0.
Also, it's a little bit tricky and not straightforward but the good news is that this hook is very usable!

You should take advantage of [the methods `AbstractLazyArray:: appendArray()` and/or `AbstractLazyArray::()` in `AbstractLazyArray`](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.

[2022-06-29 15:32] #28306 closed, assigned to nobody

[2022-06-29 15:35] jf-viguier commented on #28900
Should the new option in SEO & URL menu @MatShir ?

[2022-06-29 15:58] #28707 closed, assigned to nobody

[2022-06-29 16:28] hibatallahAouadni commented on #28905
Hello @leemyongpakvn

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement

[2022-06-29 16:45] hibatallahAouadni commented on #28903
Hello @sowbiba

It seems to me a feature request (an improvement) more than a bug report.
So, thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-06-29 16:53] khouloudbelguith opened #28907 "Mobile - BO - Module manager - The upload module button is not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Module manager, when us

[2022-06-29 17:04] demperador opened #28908 "Import Error in Multistore context All shops"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When trying to import CSV file with

[2022-06-29 17:09] khouloudbelguith opened #28909 "BO - Modules manager - The resultof the search is not updated when removing the input text using the Keybord"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO - Modules manager - The result i

[2022-06-29 17:13] hibatallahAouadni commented on #28901
Hello @amaurigabriel

Your issue seems similar to this #28176
And as you can see the QA-team couldn't reproduce the issue :disappointed:
So, could you please provide more infos :pray: are you using a non-native shipping / payment modules?
Waiting for your feedback.

Thanks!

[2022-06-29 17:16] #28908 closed, assigned to nobody

[2022-06-29 17:17] khouloudbelguith opened #28910 "BO - Localization - Local units are not limited, we can add too long units"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO - Localization - Local units are

[2022-06-29 17:19] hibatallahAouadni commented on #28908
Duplicate of #21482

[2022-06-29 17:39] khouloudbelguith opened #28911 "BO - Currencies - A bad display when we have a currency with a too long symbol or with 20 decimals"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we create a currency with a to

[2022-06-29 18:03] musaffar-patel commented on #28306
It would be very helpful for future developers who may wish to utilise this hook, if this was added to the online documentation for the hook.

[2022-06-29 20:48] alfonsolr09 commented on #28211
@Julievrz ??

[2022-06-29 20:51] alfonsolr09 commented on #28211
![image](https://user-images.githubusercontent.com/62474824/176542485-380e8353-c6b9-4bc5-b07a-d47a5909b3cd.png)

same problem in 8.0

[2022-06-29 21:08] alfonsolr09 opened #28912 "BO - new product page bug v8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-06-29 21:14] alfonsolr09 opened #28913 "error on new product page with features"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://www.awesomescreenshot.com/v

[2022-06-29 21:19] alfonsolr09 opened #28914 "error with product description on new product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://watch.screencastify.com/v/A

[2022-06-29 21:24] alfonsolr09 commented on #23983
still not fixed in v 8.0....

[2022-06-29 21:32] alfonsolr09 opened #28915 "upload a new module on 8.0 error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

can't search a file in my pc
I can'

[2022-06-29 21:36] alfonsolr09 commented on #28915
I can't upload a module by dragging a file either

[2022-06-29 21:38] alfonsolr09 commented on #28915
another error
https://watch.screencastify.com/v/rP4S1SHVNyFXUu6TlNPC

[2022-06-29 22:53] amaurigabriel commented on #28901
Hi, @hibatallahAouadni , thank you for your response.

As our issue happens when the order value is **smaller** than the voucher discount, no payment gateway is required (the order is always free).
I recorded a video with the steps to reproduce this in a clean intallation (portuguese language and no taxes in shop are the only two modifications). This is a test shop, so I can share the BackOffice c

[2022-06-30 01:17] leemyongpakvn commented on #28860
Merge to https://github.com/PrestaShop/PrestaShop/issues/28857 because they came from the same source - the install function of previous version.

[2022-06-30 01:17] #28860 closed, assigned to nobody

[2022-06-30 05:57] nzebikes commented on #9866
So this problem seems to be there for ever? We see the same errors in our system using eway payment system. Last time it throw 3 errors for one order! One Warning and 2 Crash exceptions. IF it's the issue with the customer clicking more than once the order button... well I'm NOT a developer, but surely there must be someone who knows how to block the order button once it has been clicked?

[2022-06-30 06:14] BenTen commented on #9866
Did you try?

https://github.com/PrestaShop/PrestaShop/issues/9866#issuecomment-986257146
https://github.com/PrestaShop/PrestaShop/issues/9866#issuecomment-1024335305
https://github.com/PrestaShop/PrestaShop/issues/9866#issuecomment-1092724015

[2022-06-30 07:50] sLorenzini commented on #28913
Hello @alfonsolr09,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to work on it.
**You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide fu

[2022-06-30 07:52] alfonsolr09 commented on #28913
You have a video... To see the problem

[2022-06-30 07:56] Julievrz commented on #28211
The string was validated by a proofreader a while ago so it should work. @PrestaShop/qa-team Could someone double-check, please?

[2022-06-30 07:59] matthieu-rolland commented on #28378
@jocel1  hello ! we usually asks to provide a basic module that will reproduce the bug, so that the QA can test it easily (you can attach the zip to the issue here or in the PR)

[2022-06-30 08:59] sLorenzini commented on #28912
hello @alfonsolr09,

What is exactly the bug you want to report on specific prices?
I have the same configuration on 1.7.8.6 version, you can change the current price of the product and add a discount:
![1786-product-page](https://user-images.githubusercontent.com/2854834/176636922-11337820-c990-4dfb-b5ac-e2e26894c749.png)

On 8.0.0, it is the same thing. On your screenshot, it is written "**At le

[2022-06-30 09:06] marsaldev commented on #28895
Hi @khouloudbelguith, I'm almost sure that when I fixed the stock tab the PR affected also the movements tab, we need to update movements tab too, can I proceed to new PR with resolution?

[2022-06-30 09:06] sLorenzini commented on #28914
Hello @alfonsolr09,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if y

[2022-06-30 09:06] #28914 closed, assigned to nobody

[2022-06-30 09:08] #28913 closed, assigned to nobody

[2022-06-30 09:09] hibatallahAouadni commented on #28913
Hello @alfonsolr09

You need to respect the provided template to make it easy for us reproducing your issue.
Closing the issue! Ping me to reopen it when you edit your issue :pray:

Thanks!

[2022-06-30 09:22] sLorenzini commented on #28901
hello @amaurigabriel,

I coudn't reproduce your issue and your video is not working.
Could you provide us another screenrecord please?

Waiting for your feedback.

Thank you

[2022-06-30 09:53] sLorenzini commented on #28915
Hello @alfonsolr09,

I coudn't reproduce your issues on 8.0.0 version.
- Select a file via the link:

https://user-images.githubusercontent.com/2854834/176648112-76e2fdba-3903-4a34-915d-1da68e02edfc.mp4

- The dragging file is working too
- The filter by category is working

https://user-images.githubusercontent.com/2854834/176648151-0464fd21-27f4-4bfd-a19d-989e39e4de75.mp4

Could you activate the

[2022-06-30 10:03] hibatallahAouadni commented on #28211
Hello @Julievrz

I still reproduce the issue with PS8.0.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/176650765-df9aaf4a-13a5-4e49-a37e-50e35ed0b68a.png)

Thanks!

[2022-06-30 10:13] khouloudbelguith opened #28919 "BO - Module manager - The module to configure is not removed from the alerts tab after uninstalling it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After fresh install > In the BO > M

[2022-06-30 10:13] hibatallahAouadni commented on #28863
Hello @Amoifr

I think you manage to reproduce the issue now, isn't it?

Thanks!

[2022-06-30 10:16] aslezak88 commented on #9866
Every single error message in PS must be presented in code. Find error message what you are looking for. I already wrote how to do it. Dont forget to clear cache and recompile when you changed the code.

[2022-06-30 10:22] amaurigabriel commented on #28901
Hi, @sLorenzini

I opened this issue in anonymous mode and the video worked perfectly. It is just a .webm video, any major browser should be able to reproduce it.

https://caniuse.com/webm

![image](https://user-images.githubusercontent.com/1836086/176654519-d5e1e7f2-1de0-42e1-b55f-dd4d1defff79.png)

[2022-06-30 10:38] okom3pom commented on #28868
It's the same bug but tested one time in 1.7.8x and an other time in 8.0.x

We can keep the two issues but the PR fix your issue :)

[2022-06-30 10:45] okom3pom commented on #28868
But it's possible i need to do a PR for 8.0 and not develop

[2022-06-30 11:23] leemyongpakvn commented on #28005
@marwachelly I found a solution for this issue. Please check the new PR.

[2022-06-30 12:09] sallemiines opened #28920 "Wrong behavior in FO when there is only one currency"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After a fresh install we have only

[2022-06-30 13:11] sLorenzini commented on #28901
hello @amaurigabriel,

Thank you for your answer.
I reproduce your issue on 1.7.7.2 & 1.7.8.6:

https://user-images.githubusercontent.com/2854834/176683257-e061b65c-99f3-4b4e-a18a-663eda9df811.mp4

But I need an advice from the PrestaShop product team to know if it's the expected behavior or if it's a real issue to fix. @PrestaShop/product-team  what do you think?

Thanks

[2022-06-30 13:55] leemyongpakvn commented on #28006
@marwachelly It looks like [christophe-rouille](https://github.com/christophe-rouille)'s [PR 103](https://github.com/PrestaShop/ps_googleanalytics/pull/103) solved this issue in ps_googleanalytics version 4.1.1. I see no problem with version 4.1.2 in Prestashop 1.7.8.5

[2022-06-30 15:22] HartLarsson commented on #23126
i thunk is a "must have feature". Will be great to be implemented and leave in BO the opportunity to show or hide the info by a switch.

[2022-06-30 15:34] Progi1984 commented on #21101
I work on it.

[2022-06-30 15:36] okom3pom commented on #28919
Hello @khouloudbelguith can you try with this PR

https://github.com/PrestaShop/ps_checkpayment/pull/48

Normaly it's fixed

[2022-06-30 16:13] khouloudbelguith opened #28924 "BO - An unclear error is displayed when upgrading a too large module using the zip"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Thanks, @PrestaShop/qa-functional t

[2022-06-30 16:16] DracoBluee commented on #21101
Great

[2022-06-30 17:36] az-vm commented on #11329
Hello!

As they still haven't decided to put the time to work in the date-picker of discounts.

Wouldn't it be possible to take 1 day off the code that shows the end date of the promotion?

This code displays the end date of the promotion, but due to the time issue the promotion ends before the end of the day, so we have to add a day on the backoffice side. And the idea in this code was to remove

[2022-07-01 01:04] leemyongpakvn commented on #27845
@hibatallahAouadni I have made a PR for this issue. Please check.

[2022-07-01 05:36] Glamsty opened #28927 "Checkout Issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have made my prestashop website r

[2022-07-01 05:43] Glamsty commented on #28927
https://www.loom.com/share/31e92277c7244643a38bd03d590b25fd

[2022-07-01 07:35] kpodemski commented on #28927
Hi @Glamsty

I'm pretty sure it is related to your PrestaShop instance.

I suggest you to create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://www.prestashop-project.org/slack/)

[2022-07-01 07:41] florine2623 commented on #28927
Hello @Glamsty ,

I couldn't reproduce your issue on PS 1.7.8.6.

I tested with pub@prestashop.com and with a customer that I manually created. In both cases I can log into my account from the checkout funnel.

So I close your issue. Please follow the links that @kpodemski sent above ^^

Thanks!

[2022-07-01 07:41] #28927 closed, assigned to nobody

[2022-07-01 08:01] NeOMakinG commented on #28891
@linquant I'll try to reproduce it with your code, if I can't, let's organize it :)

[2022-07-01 08:55] NeOMakinG commented on #28891
@linquant https://www.prestashop-project.org/slack/

Come on slack when you want, I'll need you to reproduce :p

[2022-07-01 11:03] leemyongpakvn opened #28929 "BO - Validation of positive integer field of the module configuration form - productcomments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-01 11:28] kpodemski commented on #14979
@davidcylke I'm pretty sure at least `9k` from this list is coming from the `groupinc` module. It depends on the manufacturers and suppliers

[2022-07-01 12:12] florine2623 commented on #28929
Hello @leemyongpakvn ,

Thanks for your report !
I reproduce the issue with PrestaShop version 1.7.8.x and 8.0.x, using productcomments v5.0.1, I'll add this to the backlog so it can be fixed.

https://user-images.githubusercontent.com/16019289/176891934-fb9ce2ed-5cf1-4ef6-8bf2-137baf24218b.mov

If you fix the issue on your end, please [contribute it back to the project](https://devdocs.prestashop

[2022-07-01 12:21] MeKeyCool commented on #28770
@HanaRebaiQA , in found that Attributes tab works in the same way.

The delete problem is due to shop association. To be allowed to remove an item (Feature or Attributes), you need to unlink it with every shop.

Then the expected behavior would be :
- See list of attributes/features associated to current observed shop/group
- When we try to delete a(n) attribute/feature, we should see an explicit

[2022-07-01 12:32] florine2623 commented on #28733
Hello @shift4world ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

If that's the case, please create another issue with screenshots that are easier to read and as much info as you can.

Thank you

[2022-07-01 12:32] #28733 closed, assigned to nobody

[2022-07-01 12:37] florine2623 commented on #10954
Hello @CArlvJ1N0N8 ,

I couldn't reproduce your issue as per my screenrecord :

https://user-images.githubusercontent.com/16019289/176895856-830406aa-f4c8-4eef-9907-9d885bd82c4e.mov

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We w

[2022-07-01 12:37] #10954 closed, assigned to nobody

[2022-07-01 12:55] atomiix commented on #28919
@okom3pom I think we should fix it in the core as well, as an extra check.

[2022-07-01 13:33] NeOMakinG commented on #28882
Fixed already

[2022-07-01 13:33] #28882 closed, assigned to nobody

[2022-07-01 15:25] sLorenzini opened #28932 "FO Mobile - on Search sort result list, click on back to top button reload the page with the sort"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Only on mobile screen, on search re

[2022-07-01 15:30] HanaRebaiQA opened #28933 "BO - An exception is thrown when edit combinations in product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when edit co

[2022-07-01 15:43] HanaRebaiQA opened #28934 "BO - A bad display of buttons in combinations tab with product page V2 when multistore enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A bad display of buttons in combina

[2022-07-01 15:56] okom3pom commented on #28919
@atomiix   Good idea! I assign it to myself

[2022-07-01 17:32] ComonSoft commented on #27635
We reproduced this issue, with a cron module file. It seem that following code at the begining cause it:

[code]

[2022-07-01 21:53] aecarlosae commented on #16869
Hi there!

I was trying to fix this several days. I fixed in two PS installation of my customers; one with PS 1.7.8.3 and one with PS 1.7.8.6.

**Details:**

The definition of method **IssuePartialRefundHandler::issuePartialRefund(...)** has the following code (It is located in the file **/src/Adapter/Order/CommandHandler/IssuePartialRefundHandler.php**, line #143):

`$shouldReinjectProducts = !$o

[2022-07-02 00:52] BenTen commented on #16869
@aecarlosae don't hesitate to do a PR to propose your fixe :)

[2022-07-02 02:00] leemyongpakvn commented on #13371
@hibatallahAouadni It looks like this issue has been solved by https://github.com/PrestaShop/ps_googleanalytics/pull/73 since ps_googleanalytics v4.1.0

[2022-07-02 05:53] leemyongpakvn opened #28935 "FO - jQuery event shorthand is deprecated warning - module Productcomments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

`change`, `hover`, and `submit` eve

[2022-07-02 07:41] gennaris commented on #27635
@ComonSoft the issue had already been explored and fixed, just apply the PR #28267

[2022-07-02 09:59] ewonta opened #28937 "Payment by card is not displayed on the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Module PrestaShop Checkout

My them

[2022-07-02 19:24] matks commented on #28937
Hello @dmitrij1988  ,

This repository is a bug tracker for the prestashop project and ps_checkout module is a product of PrestaShop company, so we cannot help you with that.

I would suggest to contact the developer of the module, directly in the Help section of the module :
<img width="1205" alt="Screenshot 2022-02-22 at 10 55 37" src="https://user-images.githubusercontent.com/16019289/155108016

[2022-07-02 19:24] #28937 closed, assigned to nobody

[2022-07-03 03:15] leemyongpakvn opened #28939 "CO: Remove unused Classic translation files - module ps_googleanalytics"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Module ps_googleanalytics stopped u

[2022-07-03 10:11] ComonSoft commented on #27635
Thanks @gennaris

[2022-07-03 11:11] leemyongpakvn commented on #28939
Sorry, I'm wrong, ps_googleanalytics still use lots of the classic translation in version 4.1.2.

[2022-07-03 11:12] #28939 closed, assigned to nobody

[2022-07-03 17:18] aecarlosae commented on #28910
Hi there!

### I fixed this locally refactoring the class **src/Adapter/Localization/LocalUnitsConfiguration.php**

Now **src/PrestaShopBundle/Resources/config/services/adapter/data_configuration.yml:: prestashop.adapter.local_units.configuration** looks like this:
![image](https://user-images.githubusercontent.com/8390579/177050271-ecb3d827-d21c-4bd5-9e1f-84258fed98f3.png)

Now **LocalUnitsConfig

[2022-07-04 07:08] okom3pom commented on #28910
Hello @aecarlosae
Thank you, I already have a PR in progress on this form.
I added a constraint on it.
What do you think about this ?

https://github.com/PrestaShop/PrestaShop/pull/27533/files

[2022-07-04 07:27] bytelyus commented on #27396
+1 .. I am in same situation. We need to sync offers WITH THEIR CONDITIONS from our ERPss

[2022-07-04 07:55] HanaRebaiQA commented on #28770
Hello @MeKeyCool

I think everything is good now on your side following our discussion on slack ?

Thanks!

[2022-07-04 07:58] MeKeyCool commented on #28770
Yes @HanaRebaiQA , thanks for your time.

As explained in #28930 , I found the solution ^^

[2022-07-04 08:02] HanaRebaiQA commented on #28770
You are welcome @MeKeyCool :)

[2022-07-04 08:52] jf-viguier opened #28941 "Remove default meta description "Shop powered by PrestaShop""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-04 11:36] micka-fdz opened #28944 "Missing translations on meta pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On clean install of PrestaShop, sev

[2022-07-04 11:42] bnofao opened #28945 "Impossible d'ajouter et modifier du contenu de Réassurance après MàJ vers 1.7.8.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bonjour,
Après avoir faire une mise

[2022-07-04 11:58] aecarlosae commented on #28910
Excellent  @okom3pom. Sorry if I missed it, but I didn't see a length validation, is it there? or it should be done after your PR is completed?

[2022-07-04 12:21] tom-combet commented on #26837
Why is it marked as FO?

[2022-07-04 12:41] jf-viguier commented on #28941
@hibatallahAouadni why Needs Specs label ? For removing a default dummy text ?

[2022-07-04 12:58] NeOMakinG commented on #28945
@bnofao

Thanks for your report.

As PrestaShop users are international, can you please translate the issue?

[2022-07-04 13:50] hibatallahAouadni commented on #28945
Hello @bnofao

Please send your request in English. English is the norm on GitHub.

Thank you

[2022-07-04 13:50] #28945 closed, assigned to nobody

[2022-07-04 14:38] #28539 closed, assigned to jf-viguier

[2022-07-04 15:14] jf-viguier commented on #28539
I've updated the title to match the pr, thanks @okom3pom

[2022-07-04 15:19] Progi1984 opened #28950 "In `AdminController`, there is no hook for altering `tabs` in menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-04 15:29] phanie44 opened #28951 "Slow speed in bo to open product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

Since  updated PS from 1.7.5.4

[2022-07-04 15:32] Progi1984 opened #28952 "It's not possible to override menu template in a module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-04 15:37] leemyongpakvn opened #28953 "Redundant function in ps_googleanalytics module - class Handler"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-04 15:54] MatShir opened #28954 "Migrate condition groups (see discussion below)"
TODO
- UX to rework before migrating the page
- Activate the migrated page for catalog price rule as the default one

[2022-07-04 16:08] hibatallahAouadni commented on #28944
Hello @micka-fdz

Thanks for your PR :rocket:
Could you please provide a screenshot of the problem, cause it seems that I didn't understand the issue :sweat:
Waiting for your feedback.

Thanks!

[2022-07-04 16:11] hibatallahAouadni commented on #28950
Hello @Progi1984

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-07-04 16:12] hibatallahAouadni commented on #28952
Hello @Progi1984

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-07-04 16:20] micka-fdz commented on #28944
Hi @hibatallahAouadni,

It's just about missing translations when your install isn't in English... You just have to follow all "steps to reproduce" and see missing translations on `manufacturers` and `prices-drop` pages (on first table).

[2022-07-04 16:22] okom3pom commented on #28944
@hibatallahAouadni  As you can see

![Screenshot (55)](https://user-images.githubusercontent.com/5064590/177191690-6a0d484a-c762-4bb5-ac4d-6024f7d34bc8.png)

[2022-07-04 16:27] okom3pom commented on #28944
@hibatallahAouadni as you can see

![Screenshot (56)](https://user-images.githubusercontent.com/5064590/177192296-c5227791-1e47-4e4c-8549-9450fa5be710.png)

[2022-07-04 16:39] micka-fdz commented on #28944
e.g. in French:
- "Brands" should be "Marques"
- "Brands list" should be "Liste de marques"
- "brands" should be "marques"
- "Our special products" should be "Nos produits en promotion"

[2022-07-04 20:05] tom-combet commented on #26837
Oh my bad on this.
But there is probably a real mistake => it is listed on this EPIC: https://github.com/PrestaShop/PrestaShop/issues/20608.

[2022-07-04 20:12] #28411 closed, assigned to Amoifr

[2022-07-05 04:16] Dan88Hus commented on #17894
you are hero, saved my days

[2022-07-05 07:01] Ronald72a commented on #15763
Hello,
The problem is that the module "email" use the password that Chrome indicate (saved password), not the one who is "saved in module email", so when the password who is saved in chrome is different then the one your want to use you got an error, that's why when you got to Firefox (or another browser then your usual) who don't indicate the password you don't have this trouble !

to work around

[2022-07-05 07:41] NeOMakinG commented on #26837
Mmmh, do we have a flash on classic because of material? It could makes sense

[2022-07-05 07:54] jonasburneika commented on #28047
HI @hibatallahAouadni thx for suggestion, but how about multistore? ![image](https://user-images.githubusercontent.com/44444305/177278429-d086c8b4-fb13-44d9-b790-690d2f44dcca.png)

[2022-07-05 08:33] fc-mbouzidi opened #28955 "hook actionProductFormBuilderModifier not called"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

On Prestashop 1.7.8.5, I'm try

[2022-07-05 08:39] NeOMakinG commented on #28212
Because it is working.

[testmodule.zip](https://github.com/PrestaShop/PrestaShop/files/9044760/testmodule.zip)

I managed to override the tinymce configuration as expected from the documentation, this is definitely not a problem on our side.

[2022-07-05 08:39] #28212 closed, assigned to NeOMakinG

[2022-07-05 09:02] MatShir commented on #28047
The product page v2 might not be stable for the next version. @PrestaShop/qa-functional could test again and check if it is a regression on the original page ? 🙏

[2022-07-05 09:15] Progi1984 opened #28956 "It's not possible to "hook" on steps in the Installer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-05 09:26] MatShir opened #28957 "Migration Pack - Product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-05 10:19] HanaRebaiQA opened #28958 "FO - Proceed to checkout is NOK when the product is allowed when out of stock and Allow ordering of out-of-stock products parameter is disabled with product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Proceed to checkout is NOK when the

[2022-07-05 10:33] kpodemski commented on #28958
@HanaRebaiQA is it ok on a legacy product page? as some pull requests might have an impact on this feature:

https://github.com/PrestaShop/PrestaShop/pull/24798
https://github.com/PrestaShop/PrestaShop/pull/28315/

[2022-07-05 10:48] HanaRebaiQA commented on #28958
Hello @kpodemski

It's OK with product V1. Here is a screen-record :

https://user-images.githubusercontent.com/92912932/177311432-e1bf6b3b-805c-4947-8e2b-be25c8578772.mp4

Thanks!

[2022-07-05 10:50] hibatallahAouadni commented on #28944
Hello @micka-fdz

Thanks for your feedback!
@okom3pom thanks for the screenshot :pray:
I reproduce the issue with PS1777, PS1786 and PS80x, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/177311541-88028159-bcdb-4377-9dd9-6c7da75400db.png)

I’ll add this to the debug backlog so that it’s fixed. Thanks again for your PR :rocket:

Thank you

[2022-07-05 10:55] hibatallahAouadni commented on #28753
Hello @Borgas

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-07-05 10:55] #28753 closed, assigned to nobody

[2022-07-05 10:57] #28754 closed, assigned to nobody

[2022-07-05 10:59] #28695 closed, assigned to nobody

[2022-07-05 11:03] hibatallahAouadni commented on #28212
Thanks @NeOMakinG :rocket:

[2022-07-05 12:36] alisamie97 opened #28960 "Use Symfony services which are used in modern controller in ModuleFrontController"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-05 12:50] khouloudbelguith opened #28961 "BO - Translations - An error is displayed when we try to modify the translation of a module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > International > Transla

[2022-07-05 14:18] stigmi-man opened #28963 "FO - merchandise return table: if we click on the checkbox in the header, checkboxes in the table are no more clickable"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the order details page when we w

[2022-07-05 14:24] hibatallahAouadni commented on #28960
Hello @stifler97

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-07-05 14:30] stifler97 commented on #28960
I would like to help implement this feature. I do not know the rules and where to start. Please guide me through this. And I would like to do this if a developer from prestashop team show me a road map of the things that need to be done. Any guide will be much appreciated.

[2022-07-05 14:50] Progi1984 opened #28964 "Define where PrestaShop fetch localization packs"
## User stories

User story : localization pack
Description
As a developer I want an easy way to configure API , URL access to localization pack
In order to host myself those packs

## Business rules
1- Provide a configuration file to store URL / API call for the localisation pack
2- Provide placeholders in the value of the key for the URL / API ( such as lang , version (?) ... )
'https://i18n.pre

[2022-07-05 14:53] AureRita opened #28965 "[BO] Module Manager - When you click twice on upgrade/install button, you've a red notice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1] When you have a module that is n

[2022-07-05 15:02] khouloudbelguith opened #28966 "FO - ps_facetedsearch - A bad display afer clearing a filter of no result"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > When we create a filter

[2022-07-05 15:40] hibatallahAouadni commented on #28960
Hello @stifler97

I already share with you a link: [How to contribute code changes](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/).
Alternatively, you can also ask for help in the [public Slack channel](https://prestashop.slack.com)

Thank you

[2022-07-05 15:41] hibatallahAouadni commented on #28964
Hello @Progi1984

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-07-05 17:30] khouloudbelguith opened #28967 "Combinations feature disabled - Product V2 - We can create a product with combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Advanced Parameters > P

[2022-07-05 17:51] hibatallahAouadni commented on #28955
Hello,

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-core-developers someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-07-05 17:52] khouloudbelguith opened #28968 "BO - Poduct V2 - Priority management is not working as expected"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Priority management is not work

[2022-07-05 19:35] JK-Products opened #28969 "Product With Combinations Duplication Bug"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you duplicate a product that h

[2022-07-05 19:42] kpodemski commented on #28955
The way the product page has been created for PrestaShop 1.7 is different than some of the other Symfony-based pages. You can expect a more extendable product page after its second version is released.

More details:
https://github.com/PrestaShop/PrestaShop/pull/28752

[2022-07-05 19:51] #27845 closed, assigned to nobody

[2022-07-06 07:21] wstudio-54 opened #28971 "Bug ajout caractéristique produit"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bug de la fonction "caractéristique

[2022-07-06 07:45] fc-mbouzidi commented on #28955
Thanks for your feedback.
So if I understand well, in v 1.7.8.5 if I want to add new fields in the product form I have to use hooks like displayAdminProductsMainStepRightColumnBottom() instead of actionProductFormBuilderModifier() ?

[2022-07-06 07:52] fc-mbouzidi commented on #28955
Thanks a lot and sorry to thought that it was a bug

[2022-07-06 07:52] #28955 closed, assigned to nobody

[2022-07-06 08:48] wstudio-54 commented on #28971
[](https://webmasterstudio.fr/bug.mp4)

I try to delete, I don't work

[2022-07-06 09:32] HanaRebaiQA commented on #16306
Hello,

I was able to reproduce the issue in product page on 8.0.x.

There are two cases in product page :

**Product V1 page** : There is no possibility to delete a feature when we put `Choose a value` and `Choose a feature`. The features are duplicated after save and when we put a customized value for it.

Here is a screen-record : 8.0.x with product V1 page

https://user-images.githubuserconten

[2022-07-06 09:38] HanaRebaiQA commented on #28971
Duplicate of [#16306](https://github.com/PrestaShop/PrestaShop/issues/16306)

[2022-07-06 09:38] #28971 closed, assigned to nobody

[2022-07-06 09:50] khouloudbelguith opened #28972 "Install - The alerts are not well displayed with RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Install > `Store information

[2022-07-06 10:30] HanaRebaiQA commented on #28969
Hello @JK-Products

I tried to reproduce your issue with 8.0.x with both the legacy product page (V1) and the new one (Product page V2)
Also, i tried with PS1786 in product page V1. But, I was unable to reproduce it.

Here is a screen-record : **8.0.x with product V1 and V2**

https://user-images.githubusercontent.com/92912932/177530394-683f7c7a-a03e-46ae-9a43-dd65dc0d8965.mp4

Here is a screen-re

[2022-07-06 10:46] khouloudbelguith opened #28974 "BO - Dashboard - Bad display of the demo mode button"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Dashboard page, when we

[2022-07-06 11:14] HanaRebaiQA commented on #28963
Hello @stigmi-man

Thanks for your report.
I was able to reproduce your issue on **8.0.x and PS1786.**
It's OK on 1778. **So it's a regression.**

8.0.x : NOK :x:

https://user-images.githubusercontent.com/92912932/177537544-391db961-fb35-4e1e-a8d5-75f7c4dbd49f.mp4

PS1786 : NOK :x:

https://user-images.githubusercontent.com/92912932/177537583-55bab3e8-c32a-4892-8515-41b0737642d0.mp4

PS1778 : Ok

[2022-07-06 12:15] Garfield2013 opened #28976 "Fails when uploading module "ps_cashondelivery-dev.zip" to PS 1.7.8.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Fails when uploading module "ps_cas

[2022-07-06 13:08] khouloudbelguith opened #28977 "Same name customer's groups don't show in the Group access section"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There are missing customer groups i

[2022-07-06 13:15] annadumi opened #28978 "COD module order status change after upgrade 2.0 and translation doesn't work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello everyone!

I have a problem w

[2022-07-06 13:18] HanaRebaiQA commented on #28976
Hello @Garfield2013

Thanks for your report.
Could you please provide us a screen-shot or a screen-record to can see the fails? And also Could you please clarify more the steps to reproduce ?

Thank you!

[2022-07-06 13:36] HanaRebaiQA commented on #28978
Hello @annadumi

Thanks for your eport.
This issue seems to be fixed with the new released version `ps_cashondelivery` module with this [PR](https://github.com/PrestaShop/ps_cashondelivery/pull/46).
Please check these [comment1](https://github.com/PrestaShop/PrestaShop/issues/28674#issuecomment-1147230698) and [comment2](https://github.com/PrestaShop/PrestaShop/issues/28671#issuecomment-1147656457

[2022-07-06 13:44] Garfield2013 commented on #28976
Hi there,

As already mentioned, I simply just download the ps_cashondelivery-dev.zip
and upload it in PS via the modules-upload function.

*"This file does not seem to be a valid module zip [Exception 0]"*

https://www.screencast.com/t/gEmkz7SEzXw

*After I enabled debug mode:*

Exception
in src/Adapter/Module/ModuleZipManager.php
<https://oluchis.ae/admin3988zjdam/index.php/_profiler/open?_token

[2022-07-06 13:48] annadumi commented on #28978
Hello @HanaRebaiQA ,

You are right about the translations, but my client says that the status of a new order was "pending" not "Awaiting COD validation". Is this the same thing or is it something new?

Thank you!
Ana

![store4](https://user-images.githubusercontent.com/108811543/177565351-76167936-4498-429e-9d17-3795d43d5fd0.PNG)
![screencapture-egloromania-ro-admin01-index-php-sell-orders-12053-

[2022-07-06 13:49] StockRent opened #28979 "Missing link between Prestashop and Google Analytics"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![analytics1](https://user-images.g

[2022-07-06 13:56] Garfield2013 commented on #28976
Second, why can't I download the module from PS Addons as any other module?
https://addons.prestashop.com/en/point-of-sale-pos/24637-cash-on-delivery-cod.html#overview

Why only from GitHub?

On Wed, 6 Jul 2022 at 17:44, Martin Bak ***@***.***> wrote:

[2022-07-06 13:58] annadumi commented on #28978
Hello,

I noticed another bug, maybe it's just in my case, I have no idea, but the payment field in the order is empty even if in the dashboard I can see that the customer has chosen the cash on delivery payment.

![screencapture-egloromania-ro-admin01-index-php-sell-orders-12124-view-2022-07-06-16_52_17](https://user-images.githubusercontent.com/108811543/177567348-093172c4-981e-4c51-ac94-ec655c1

[2022-07-06 14:20] sLorenzini opened #28980 "BO - Wording "search" is displayed beside the icon on search bar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the search bar in BO, when I wan

[2022-07-06 14:27] khouloudbelguith opened #28981 "Combinations - The reference of each combination is not saved"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Products page

[2022-07-06 14:44] HanaRebaiQA commented on #28976
Hello @Garfield2013

Thanks for your feedback.
I think it's an installation mistake of the module. The module name should be `ps_cashondelivery.zip`

Please do that :

[code]

For your question to install the module from addons, as i know it's a native module.
Otherwise, if you have questions about using PrestaShop or third-party modules, please consider one of our [support plans](https://www.pres

[2022-07-06 14:50] mparvazi commented on #28980
I wanted to fix it months ago, but I don't remember what's happened!
https://github.com/PrestaShop/PrestaShop/issues/26624

I'll fix it.

[2022-07-06 15:22] Garfield2013 commented on #28976
I simply downloaded the module here:
https://www.screencast.com/t/qYg36THE Should
that not be enough and work out of the box?

And in regards to PS Addons - the download link is not available?
https://www.screencast.com/t/xDwnAn4ge

On Wed, 6 Jul 2022 at 18:45, Hana REBAI ***@***.***> wrote:

[2022-07-06 15:36] khouloudbelguith opened #28982 "BO - View an order - an error is displayed in the console when we cancel a return or a refund"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we try to cancel a `Return pro

[2022-07-06 15:52] HanaRebaiQA commented on #28757
Hello @zubco

Thanks for your feedback.
Could your please provide us a screen-record to help us to reproduce the issue.

Waiting for your feedback.

Thank You!

[2022-07-06 15:55] sLorenzini opened #28983 "FO - Bad wording on footer with "Add a first address" and "Addresses""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

To have the good wording for Addres

[2022-07-06 15:55] #22924 closed, assigned to nobody

[2022-07-06 15:58] HanaRebaiQA commented on #28976
Hello @Garfield2013

Could you please use the same commands that i communicated above to install the module with git clone ?
Or, you can install it from the module manager.

Please check and waiting for your feedback.

Thank You!

[2022-07-06 16:04] Garfield2013 commented on #28976
Can you please just send me a working ZIP of the module?

On Wed, 6 Jul 2022 at 19:22, Martin Bak ***@***.***> wrote:

[2022-07-06 16:07] Garfield2013 commented on #28976
As mentioned before and as I show you in the screenshots: I can't download
your module from Prestashop addons.

I don't have access to executing commands directly on the shared provider.
Please just send me the module I can upload :)

On Wed, 6 Jul 2022 at 20:04, Martin Bak ***@***.***> wrote:

[2022-07-06 16:26] khouloudbelguith opened #28985 "BO - Employees page - an exception is displayed when we try to add an invalid avatar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related to https://github.com/Prest

[2022-07-06 16:34] khouloudbelguith opened #28986 "BO - Brands & Suppliers - the red alert "Image format not recognized" is missing the webp"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After merging this PR: https://gith

[2022-07-06 17:42] Garfield2013 commented on #28976
I found another download link here ;)
https://github.com/PrestaShop/ps_cashondelivery/releases

On Wed, 6 Jul 2022 at 20:07, Martin Bak ***@***.***> wrote:

[2022-07-06 19:02] Hlavtox commented on #28979
@StockRent Prestashop GA module only supports UA-XXX tracking codes. GA4 support is not implemented. Use some third party module. 👍

[2022-07-06 21:58] matks commented on #28227
Fixed by https://github.com/PrestaShop/PrestaShop/pull/28829

[2022-07-06 21:58] #28227 closed, assigned to NeOMakinG

[2022-07-07 04:40] stifler97 commented on #28960
@hibatallahAouadni
I could not join the slack channel. I tried the link, entered my email, and then I see an error which says your email was not found in this channel.

[2022-07-07 06:24] annadumi commented on #28978
Hello,
Thank you for your answer and sorry for the Romanian translation.
The bug is in BO, on the order page, at the section "Payment", which is empty now. In the past, here, was the payment method name.
![screencapture-egloromania-ro-admin01-index-php-sell-orders-12126-view-2022-07-07-09_17_02](https://user-images.githubusercontent.com/108811543/177705723-eed32001-afbd-47b1-8abe-5aec4eb0f2fb.png)

[2022-07-07 08:13] HanaRebaiQA commented on #28976
Hello @Garfield2013

You can download it form the `Module catalog` on PS1786 here :

![image](https://user-images.githubusercontent.com/92912932/177724869-5c0924c3-6586-433f-93c9-b4175a49ecbf.png)

Or, the solution that i communicate it above :

[code]

Closing this issue as it's not a Core bug.
Otherwise, if you have questions about using PrestaShop or third-party modules, or if you need help wit

[2022-07-07 08:13] #28976 closed, assigned to nobody

[2022-07-07 08:19] hibatallahAouadni commented on #28960
Hello @stifler97

Click on this link:
![image](https://user-images.githubusercontent.com/23308427/177726316-e93b7021-9003-4717-8899-379b34f45597.png)

Then, create your account via your google account or with your apple account:
![image](https://user-images.githubusercontent.com/23308427/177726467-959d39f2-9249-40c7-9338-2fc2a382bedf.png)

[2022-07-07 08:44] HanaRebaiQA commented on #28979
Hello,

Thanks @Hlavtox for your feedback.
@StockRent What do you think ?

Thank You!

[2022-07-07 08:54] hibatallahAouadni commented on #28960
@stifler97

How is it possible to access to a nonexistent account??! You need to create one at first then you can access it :wink:
Click on this link at first:
![image](https://user-images.githubusercontent.com/23308427/177733238-fe83b0cf-d215-4655-ba38-c24492dddfeb.png)

[2022-07-07 09:04] sLorenzini opened #28989 "BO - Documentation from help or learn more buttons is not updated (legacy & symfony pages)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the 8.0.0 version, 1.7 and 1.6 d

[2022-07-07 09:15] sLorenzini opened #28990 "BO - Information alert on "Available fields" block on Import page got a height too small when data are loading"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we go to Import page, the info

[2022-07-07 09:39] HanaRebaiQA commented on #13371
Hello @leemyongpakvn

I checked this issue using `ps_googleanalytics v4.1.2` module on PS1786 and 8.0.x, it's fixed.

**PS1786** : :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/177743160-7455e0ca-9ec2-4589-a9e4-e0bdc2fc2f25.mp4

**8.0.x** : :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/177743217-0d2d8538-56cf-42f1-992c-bf11e1688cd6.mp4

So, i'll cl

[2022-07-07 09:39] #13371 closed, assigned to nobody

[2022-07-07 09:39] stifler97 commented on #28960
As far as I know when it comes to a slack channel, some one else has to invite you, and if the channel is public you should be able to login with any email.
I tried stifler@binshops.com and alisamie97@gmail.com and none of them works because it tells me these emails do not have any account on this workspace. So I used the create account form and again it tells me there is no such account. And it a

[2022-07-07 12:25] MatShir opened #28993 "Show price - Product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-07 12:35] MatShir opened #28994 "Extend the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-07 12:43] MatShir opened #28995 "Differentiate same name of categories in the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-07 12:49] sLorenzini opened #28996 "FO - On mobile screen bad display of the summary cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On mobile screen (< 769px), I want

[2022-07-07 13:34] StockRent commented on #28979
What do you mean by third party module? Can you please give an example? I am a complete profane of the topic!
Thanks

[2022-07-07 13:52] #28405 closed, assigned to MeKeyCool

[2022-07-07 13:53] Hlavtox commented on #28979
@StockRent Well, it's simple. For developers paid by Prestashop company, there are more important topics to handle, so this module was not developed very much.

Maybe some other people take the handles and implement this. I would help, but can't do it alone. :(

So for now, look on Addons on some other marketplace for a GA module of other author that will support the new Google Analytics 4 trackin

[2022-07-07 14:26] HanaRebaiQA commented on #28978
Hello @annadumi

Alright!

So, closing this issue as it's not a Core bug.
Otherwise, if you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack ch

[2022-07-07 14:26] #28978 closed, assigned to nobody

[2022-07-07 14:34] #28896 closed, assigned to nobody

[2022-07-07 14:35] matks commented on #28919
Fixed by https://github.com/PrestaShop/PrestaShop/pull/28936

[2022-07-07 14:35] #28919 closed, assigned to nobody

[2022-07-07 14:36] HanaRebaiQA commented on #28979
Hello,

Thanks @Hlavtox for your fedback!
ping @PrestaShop/prestashop-core-developers : What do you think about this issue ?

Thank You!

[2022-07-07 14:39] matks commented on #28979
I confirm what @Hlavtox said:

1. There is a free and open source Google Analytics module https://github.com/PrestaShop/ps_googleanalytics/
2. It does not support GA4 yet. Someone started it https://github.com/PrestaShop/ps_googleanalytics/pull/120 but it's a WIP.
3. If you need GA4 support now you must find another module: look at prestashop modules marketplaces (Addons Marketplace is one, there

[2022-07-07 14:39] #28979 closed, assigned to nobody

[2022-07-07 14:46] MatShir opened #28997 "Catalog price rule list in the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-07 15:12] AureRita opened #28998 "[Multistore] Combination product - Can't set up a specific delivery time on the Shipping tab with All Shops tab"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you're on multishop, on "all s

[2022-07-07 15:15] HanaRebaiQA commented on #28995
Hello @MatShir

Thanks for your suggestion.
Which status we should put in this ticket `Ready` or `Needs specs` ?

Thank you!

[2022-07-07 15:18] leemyongpakvn commented on #28966
@khouloudbelguith I made a PR for this issue. Please check.

[2022-07-07 15:20] HanaRebaiQA commented on #28994
Hello @MatShir

Thanks for your suggestion.
Which status we should put in this ticket ?

Thank you!

[2022-07-07 15:20] HanaRebaiQA commented on #28993
Hello @MatShir

Thanks for your suggestion.
Which status we should put in this ticket ?

Thank you!

[2022-07-07 15:29] PrestaEdit commented on #28813
Hi @hibatallahAouadni,

What kind of screenshot do you want ? The error one ?
Maybe you need a test module to be able to make a QA test, will it not be better ?

[2022-07-07 15:31] #28905 closed, assigned to nobody

[2022-07-07 15:31] leemyongpakvn commented on #28953
Close due to Backward Compatibility concern as discussed in the PR.

[2022-07-07 15:31] #28953 closed, assigned to nobody

[2022-07-07 16:03] HanaRebaiQA commented on #28813
Hello @PrestaEdit

Yes! Could you please provide us the tested module that you used and the clear steps to reproduce with a screen-shot or a screen-record of the fails?

Thank You!

[2022-07-07 16:06] florine2623 opened #29001 "BO > Permissions - Can't access certains pages with Profile with only View Permission"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After creating a new Profile for an

[2022-07-07 16:23] florine2623 opened #29002 "BO - Trivial display issue on 2 different pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

2 very trivial issues regarding dis

[2022-07-07 18:59] kpodemski commented on #28941
@PrestaShop/product-team easy approval guys :-)

[2022-07-07 19:24] #28873 closed, assigned to atomiix

[2022-07-07 21:51] Garfield2013 commented on #28976
Your modules doesn't show up in my PS when I search and no download link is available the in PS Addons site as well.
https://www.screencast.com/t/ccMsttFlnKVB

[2022-07-07 21:59] #24807 closed, assigned to nobody

[2022-07-08 07:49] PrestaEdit commented on #28813
Hi @HanaRebaiQA,

There is :
[issue.zip](https://github.com/PrestaShop/PrestaShop/files/9070009/issue.zip)

To reproduce :

1. Install the module
2. Go to /index.php?controller=order-detail&id_order=1
3. See this kind of error :  Warning: Undefined array key "urls" in /var/cache/dev/smarty/compile/37/8b/af/378baff2d7c3a63fa601973bb60e7f24d8df6e21_2.module.testviewstemplateshookdis.php on line 24
4

[2022-07-08 08:20] #27511 closed, assigned to MeKeyCool

[2022-07-08 08:43] khouloudbelguith opened #29004 "BO - Menu - The Title of the subtab AdminParent are not displayed when the menu is resized"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Title of the subtab AdminParent

[2022-07-08 08:45] florine2623 opened #29005 "BO - Linklist - Multistore - Error when changing shop context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I change context shop while on

[2022-07-08 08:50] szavadskiy opened #29006 "Unable to save a single supplier for a product with combination"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you try to save a single suppl

[2022-07-08 08:56] #24071 closed, assigned to nobody

[2022-07-08 09:06] sLorenzini opened #29007 "FO - Bad display of related products block on product page - Desktop and mobile screens"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The related products "You might als

[2022-07-08 09:16] szavadskiy opened #29008 ""Write your review" button is displayed only if you change combination or quantity in product preview modal"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![scrnli_7_8_2022_9-37-10 AM](https

[2022-07-08 09:21] khouloudbelguith opened #29009 "B O - Order view page - The Invoice prefix is displayed in the customer language instead of the employee language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Orders > Order view pag

[2022-07-08 09:42] khouloudbelguith commented on #24587
Hi All,

I still reproduced issue 8.0.x branch.
![image](https://user-images.githubusercontent.com/16067358/177963905-576dca96-c6da-48c5-8493-83dca3d567e4.png)

I will re-open the issue.

Thanks!

[2022-07-08 10:10] AureRita opened #29011 "[BO] Team - You can put a negative number for the password regeneration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I go to  Advanced Parameters >

[2022-07-08 10:16] hibatallahAouadni commented on #28905
Thanks for your feedback!

[2022-07-08 10:32] khouloudbelguith opened #29012 "FO - An exception is displayed when creating an address with italian country"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Could be related to https://github.

[2022-07-08 11:12] musaffar-patel opened #29013 "Cannot use symfony services in front end hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When attempting to use any symfony

[2022-07-08 12:06] Progi1984 opened #29014 "Translation Pack contains ZIP in v8"
### About this topic

This topic requires to explore and fix a piece of code on i18n.prestashop-project.org and consequently can only be done by someone who has access to this application, and also has (or is given) knowledge of how it's built.

<hr>

### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDU

[2022-07-08 12:29] bsylwek opened #29015 "Text editor is not showing after Prestashop 1.7.6.4 to 1.7.8.6 upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

After upgrading Prestashop f

[2022-07-08 12:57] eshraw commented on #28941
LGTM @kpodemski @jf-viguier @hibatallahAouadni
Thanks for the issue + PR @jf-viguier !

[2022-07-08 13:42] ibnubasir96 commented on #19656
hai?

[2022-07-08 13:43] ibnubasir96 commented on #19656
Im still stuck with the problem , despite i have change files to 777

[2022-07-08 13:43] ibnubasir96 commented on #19656
how to set permissions to directories?

[2022-07-08 13:56] zubco commented on #28757
This issue is described also in #11115, 3 years old. With a lot of details.

Don't want to be rude, but kind of issue is not one you can just reproduce by willing to "record".
But I am sure consequences of this issue is present in every DB of sites that runs on PrestaShop.

Quotation from mentioned issue:

[2022-07-08 14:09] #29015 closed, assigned to nobody

[2022-07-08 14:09] hibatallahAouadni commented on #29015
Duplicate of #26498

[2022-07-08 14:24] khouloudbelguith opened #29017 "V8 - the localization pack is not updated - BO - Cannot install modules in module manager with Spanish language on develop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue: https://github.com/Pres

[2022-07-08 14:29] florine2623 opened #29018 "blocknewsletter - In FO block is not centered anymore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In develop and 8.0.x ❌
<img width="

[2022-07-08 14:50] bsylwek commented on #29015
Yes. This is a cache problem. It helped me completely clearing the browsers memory. Just clearing the Prestashop cache did not help.

[2022-07-08 15:52] hibatallahAouadni commented on #28813
Hello @PrestaEdit

Thanks for your feedback!
I was able to reproduce the issue with PS1786 and PS800.

- **PS 1.7.8.6:**
![image](https://user-images.githubusercontent.com/23308427/178027232-6540bffc-0018-4eac-b729-d554db8a69be.png)

- **PS 8.0.0:**
![image](https://user-images.githubusercontent.com/23308427/178027249-4e49bc91-8df4-4f6c-8546-077a8ff111de.png)

I’ll add this to the debug backlog so

[2022-07-08 15:55] khouloudbelguith commented on #26427
## Status update : QA feedback

Hello,

The test of the alpha 8.0.0 is finished
Final report of QA on the 8.0.0 alpha:
The manual functional test campaign is done.
The exploratory test session is now complete.
Summary of regressions detected during the test:
**Major regressions**

- https://github.com/PrestaShop/PrestaShop/issues/28933
- https://github.com/PrestaShop/PrestaShop/issues/28958
- http

[2022-07-08 16:08] hibatallahAouadni commented on #29013
Hello @musaffar-patel

Could you please provide a custom module that implement the `hookDisplayFooterProduct` hook in FO to help us reproducing the issue ASAP :pray:
Waiting for your feedback.

Thanks!

[2022-07-08 17:13] musaffar-patel commented on #29013
Attached ...

[samplemodule.zip](https://github.com/PrestaShop/PrestaShop/files/9073935/samplemodule.zip)

[2022-07-09 08:14] LouisAUTHIE commented on #29018
Version 2.0.3 doesn’t exist in the git of the module

[2022-07-09 08:15] LouisAUTHIE commented on #29018
Couldn’t reproduce the behaviors in the v2.3.0 too

[2022-07-09 08:23] okom3pom commented on #29018
It's 2.7.0 i can reproduce

[2022-07-09 08:26] LouisAUTHIE commented on #29013
I’m afraid that you go wrong, the only services available in the front are doctrine related ones cf https://devdocs.prestashop.com/1.7/modules/concepts/services/

[2022-07-09 08:31] LouisAUTHIE commented on #29018
Ok let me see

[2022-07-09 08:40] tom-combet commented on #29013
Yep, Twig is not usable in front-office yet.

[2022-07-09 09:42] LouisAUTHIE commented on #29018
The PR is here https://github.com/PrestaShop/classic-theme/pull/44

[2022-07-09 10:27] musaffar-patel commented on #29013
That's a shame, it means half my module uses Symfony services such as routing, twig etc for the back office, while front end related must use legacy code.  Nevertheless, thanks for clarifying this.

[2022-07-09 11:51] LouisAUTHIE commented on #29013
Indeed it will be better with symfony on the front, but they don’t want to migrate everything at the same time. It should have been done with the new 1.7 themes but they decided to keep smarty because they wanted to keep the modules compatibles with the old front. Smarty and twig at the same time is not possible. Be patient and it will come

[2022-07-09 12:04] tom-combet commented on #29013
You can still declare your services (and those from the core too) for the front: https://devdocs.prestashop.com/1.7/modules/concepts/services/#environments.
And I managed to use CQRS in front too, by building my own `CommandBus` and injecting the necessary handlers.

But yea, for bundles like twig, it's not possible atm and I think it's even not worth to try. We have to wait. 😢

[2022-07-09 15:49] SharakPL commented on #15870
This looks interesting. Have you tried it already?

[2022-07-09 19:28] cquintini opened #29027 "Hook method name doesn't match for hook actionTaxManager"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Class TaxManagerFactory calls for w

[2022-07-09 19:36] Kreysh commented on #14957
Still have the issue in 1.7.6.9

[2022-07-09 20:50] musaffar-patel commented on #29013
@tom-combet thanks for the suggestion.  It was mainly twig and the router I was hoping to use,

Makes sense to migrate to Symfony incrementally.  Will settle for using only in the BO for now.

[2022-07-09 23:22] mickaelandrieu commented on #29013
maybe using Container::getContainer() to rely on the global container ? Look into FoP modules, I may have contributed an exemple...

[2022-07-09 23:25] #29027 closed, assigned to nobody

[2022-07-10 10:28] leemyongpakvn commented on #22488
@hibatallahAouadni  I made a PR for this issue. Please check.

[2022-07-10 14:45] Hlavtox opened #29028 "Cart performance exploration"
Do not close pls

### Related
- https://github.com/PrestaShop/PrestaShop/issues/22647
- https://github.com/PrestaShop/PrestaShop/issues/14979
- https://github.com/PrestaShop/PrestaShop/issues/14935

### Initial state with empty cart
![cart](https://user-images.githubusercontent.com/6097524/178149785-2a421c43-c30f-443f-8778-2e5ecaf8739f.jpg)

Cart rules are ineffectively calculated with every page

[2022-07-10 15:58] leemyongpakvn commented on #21170
@PrestaEdit & @hibatallahAouadni This issue has gone since [ps_sharebutton release v2.1.1 PR#49](https://github.com/PrestaShop/ps_sharebuttons/pull/49/files#diff-5a7b8a1940b3fcc1e8883c947a4238988ada197b72e1368d88d88d879dc0c6bfL136-L156)
`function renderWidget` stopped getting product from `$params` - that caused **line 138** error as @web-plus reported,
and got product from `$this->context` on **l

[2022-07-10 16:48] BenTen opened #29029 "Can't activate/deactivate the email sent when create a credit slip"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-11 06:32] la-lisa commented on #28757
@zubco thanks for helping me out here! The issue is really hard to reproduce.

Unfortunatelly i can't provide a screenrecording because it is not that easy to reproduce alone. In #11115 there is a also a very precise description of the problem and one of you contributors already states that there is a problem with the MAX() call.

[2022-07-11 07:02] Danoosh opened #29030 "Customer address can't be saved after upgrade to 1.7.8.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Adding new address problem after up

[2022-07-11 07:57] sLorenzini commented on #29029
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is willing t

[2022-07-11 07:59] micka-fdz commented on #28892
Hi @tom-combet, maybe related to your PR about unit refactoring?

[2022-07-11 10:14] Gaja-A opened #29033 "Save product combinations custom fields to database"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-11 11:13] musaffar-patel commented on #29013
@mickaelandrieu Thanks for the suggestion, I already attempted this and this method again only works in the back office hooks.

[2022-07-11 11:37] Betafer commented on #18541
error also present in prestashop 1.7.8.6 with bankwire module v2.1.3

[2022-07-11 11:58] jolelievre opened #29034 "Autoupgrade: refacto add a reusable function to remove a tab"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-11 12:12] matks commented on #28877
@yanmakouf started it

[2022-07-11 12:13] yanmakouf commented on #28877
I just have a question for the error message in case of blank field. The expected behavior is "This value should not be blank.
This value is too short. It should have 3 character or more." or just  "This value should not be blank." or maybe something else ?
[https://user-images.githubusercontent.com/16067358/176129705-c6443870-5a94-4859-a78b-f616f421162b.png](url)

[2022-07-11 12:17] #28920 closed, assigned to nobody

[2022-07-11 12:19] #28840 closed, assigned to nobody

[2022-07-11 12:20] jolelievre commented on #28840
Thanks @borjagarciab the fix has been merged it will be available in the next release of the module

[2022-07-11 12:21] jolelievre commented on #28832
I reopen this issue until we actually release a new version of the module

[2022-07-11 12:23] #28980 closed, assigned to mparvazi

[2022-07-11 12:25] #28770 closed, assigned to MeKeyCool

[2022-07-11 12:26] musaffar-patel commented on #29013
Another related issue I found is that, if a module uses Twig in the back office but smarty in the front office hooks, the following errors are then produced in the BO:

Warning: filemtime(): stat failed for E:\websites\prestashop\178\wwwpg\classes\PrestaShopAutoload.php(143) : eval()'d code

So it seems it's not plain sailing for modules to yet begin using Symfony code, at least the twig templatin

[2022-07-11 12:40] sLorenzini commented on #28757
hello @la-lisa,

Thank you for your feedback.
I couldn't reproduce the issue. Invoice Number is not duplicate

Fresh install of 1.7.8.6, PHP 7.3.
Here's my screenshots:

![01-orders](https://user-images.githubusercontent.com/2854834/178265758-c9baf003-46c3-4788-9c8b-d9b33bcb0e67.png)

Order 1:

![02-orders](https://user-images.githubusercontent.com/2854834/178265815-9677cc35-4adb-4c25-b6c1-4865113

[2022-07-11 12:42] sLorenzini commented on #29033
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is willing t

[2022-07-11 12:47] LouisAUTHIE commented on #29013
Chez your folder rights

Louis Authié

[2022-07-11 13:25] florine2623 commented on #29017
Hello @Julievrz ,

What do you think about this ?
Thanks!

[2022-07-11 13:26] sLorenzini commented on #29033
Hello @Gaja-A ,

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://pre

[2022-07-11 13:26] #29033 closed, assigned to nobody

[2022-07-11 14:23] matks commented on #25871
@FabienPapet takes it

[2022-07-11 14:38] tom-combet commented on #29013
@sLorenzini I think it's not a real issue atm since the front migration to twig is not planned yet?

[2022-07-11 14:43] sLorenzini commented on #9901
hello @ionuts71,

Sorry for the delay.

I reproduce the same issue with PrestaShop version 1.7.7.8/1.7.86.

**1.7.7.8 version:**
- BO
![1778-price-per-unit-BO](https://user-images.githubusercontent.com/2854834/178290206-88fdd06e-927c-4615-b46f-d79c9d0d899d.png)
![1778-price-per-unit-BO2](https://user-images.githubusercontent.com/2854834/178290207-49f6061b-aabe-4cf8-92d3-c5128e4ffb37.png)

- FO
![1

[2022-07-11 15:12] sLorenzini commented on #28047
hello @grzegorzgit  @MatShir,

I reproduce the issue with PrestaShop version 1.7.8.0/1.7.8.6. But not on 1.7.7.8 & 1.7.6.9 version.
It's a regression.

- PS 1.7.8.6 ❌:
![1786-errorjs-productpageBO](https://user-images.githubusercontent.com/2854834/178296428-3e6c0c42-1f1b-48ef-80a4-f027f80b7b95.png)

- PS 1.7.8.0 ❌:
![1780-errorjs-productpageBO png](https://user-images.githubusercontent.com/2854834

[2022-07-11 15:18] musaffar-patel commented on #29013
@LouisAUTHIE it's not folder rights, folder rights are correct.  This only happens when I have a front end hook using smarty and a BO hook using twig.  If I remove the Front end hook which uses smarty, the twig BO hooks work again.

[2022-07-11 17:07] boubkerbribri opened #29037 "[docker-compose] Error when trying to build a shop with docker"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When running `docker-compose up --b

[2022-07-11 18:36] PrestaEdit commented on #26427
While I'm trying to filter the issues backlog in order to found them easier and see on the listing if there is a Pull Request associated, I'm not able to found the good combinations of labels, milestones, version...
I found more issues than this listing.

How can we found them more easier to see if there is a pull request associated without opening them one by one ?

[2022-07-12 00:10] arafatx commented on #25509
Used to ask the same question here https://www.prestashop.com/forums/topic/1027547-1-click-upgrade-log-files/.

[2022-07-12 07:47] matks commented on #24784
@FabienPapet takes it

[2022-07-12 08:17] szavadskiy opened #29043 "Wishlist - Added products to the list are duplicated in "My wishlists" page for customers who were created in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![scrnli_7_12_2022_9-52-46 AM](http

[2022-07-12 08:57] haveyougotanypets opened #29044 "Delete Multiple Product Images in one action"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-12 09:28] szavadskiy opened #29045 "Bad displaying of the order status selectors and order status list in selector"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screenshot from 2022-07-12 10-27-

[2022-07-12 10:17] mrports opened #29046 "Remove shipping cost from cart and checkout before carrier selection"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-12 11:27] Hlavtox commented on #29046
Yes, this is requested lot by my clients, sometimes it doesn't show things correctly.

- `Cheapest carrier` is unusable, because it will always select personal pickup, that is free.
- `Default carrier XXX` is unusable, because the carrier options differ for different products.

Ended up using modifying `Cart::getDeliveryOption` function to select best price excluding personal pickup.

Option to hi

[2022-07-12 11:36] ghost opened #29049 "Change use Symfony\Component\Validator\Constraints as Assert;"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-12 11:48] hibatallahAouadni commented on #29049
Hello @okom3pom

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-07-12 12:13] szavadskiy opened #29050 "Order page in BO > partial refund block, bad displaying of products “Quantity” field"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screenshot from 2022-07-12 12-03-

[2022-07-12 12:13] szavadskiy opened #29051 "Order page in BO, bad displaying of “Amount” input field + currency selector in “Payment” block"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screenshot from 2022-07-12 12-03-

[2022-07-12 13:53] hibatallahAouadni commented on #29044
Hello @haveyougotanypets

Thank you for your suggestion, it's a great idea :clap:
The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

I

[2022-07-12 14:06] #9616 closed, assigned to kpodemski

[2022-07-12 14:42] thomas-villena commented on #14979
Just for information, I followed step by step these recommandations and the performance was really better : https://devdocs.prestashop.com/1.7/scale/optimizations/

Hope this can help ..

[2022-07-12 14:53] TecnoHands opened #29053 "Improvement with permissions of shop team"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-12 14:56] yanmakouf commented on #17104
I cannot seem to reproduce this bug on the develop branch. I see here a comment on related issue https://github.com/PrestaShop/PrestaShop/issues/9919#issuecomment-674761269. Maybe it is fixed ? Someone reproduces ?

[2022-07-12 15:41] matks commented on #17104
ping @PrestaShop/qa-team can someone try to reproduce ? 😄

[2022-07-12 15:49] matks commented on #28875
@PrestaEdit submitted a PR

[2022-07-12 15:50] matks commented on #28892
@FabienPapet takes it

[2022-07-12 15:51] hibatallahAouadni commented on #29053
Hello @TecnoHands

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-07-12 15:54] matks commented on #27375
Fixed by COD 2.0.0 release

[2022-07-12 15:54] #27375 closed, assigned to Progi1984

[2022-07-12 15:55] jolelievre commented on #28932
The bug as fixed on the 178x branch since the bug is a regression on 178 already https://github.com/PrestaShop/PrestaShop/pull/29055

It will fix the 8.0 branch when the fix is merged back into the 8.0.x branch

[2022-07-12 16:15] hibatallahAouadni commented on #28819
Hello @arcofins

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-07-12 16:15] #28819 closed, assigned to nobody

[2022-07-12 16:26] FabienPapet commented on #29001
I'll have a look at it tomorrow

[2022-07-12 18:37] hibatallahAouadni commented on #29045
Hello @szavadskiy

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28405.
And it's already fixed, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/178569319-ef84d19e-b7b4-4396-b45c-5c9189888854.mp4

Thanks!

[2022-07-12 18:37] #29045 closed, assigned to nobody

[2022-07-12 18:39] hibatallahAouadni commented on #29045
Duplicate of #28405

[2022-07-12 18:45] hibatallahAouadni commented on #29050
Hello @szavadskiy

Thanks for reporting the issue :rocket:
I only reproduce the issue with PS8.0.x, so indeed it's a regression on 8.0.x!
I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-07-12 20:32] PrestaEdit opened #29057 "The chosen theme is not validated while adding a new shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While you are in multishop and havi

[2022-07-12 20:35] PrestaEdit opened #29058 "Enabling a theme without hooks to handle throw an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Create a valid theme and choose to

[2022-07-12 20:40] matks commented on #29058
If I understand, it does not work with any valid theme 😅 you need a valid theme _with no hooks_, right?

[2022-07-12 20:42] PrestaEdit opened #29059 "The theme compliancy/compatibility is not handled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If in the config.theme.yml of a fil

[2022-07-12 20:48] matks commented on #29059
Hi Jonathan, do you think you could be a little more descriptive with your bug reports 😅

I think only people very familiar with themes and shop versions will understand. You and I, we understand. But I started onboarding new people on the project 2 days ago and I found quite often we write things in a manner that prevents them from helping because they are not (yet) familiar with the topics. So w

[2022-07-12 20:52] PrestaEdit commented on #29059
I can, yes. There, I write my reporting issues between a test and a functionial documentation writing. I'd rather prefer to create the issue before forgetting it and be able to update it's behavior as needed.

I change immediately my report with your suggestion, and I will try to take a little more time on my next report, hoping it's will be not for today :D

[2022-07-13 00:17] alfonsolr09 commented on #18016
same problem on 1.7.8.5
How can I regenerate the images in the img/temp folder?

[2022-07-13 07:14] PrestaSafe commented on #18016
@alfonsolr09 just rename it ;)

[2022-07-13 07:29] florine2623 commented on #29058
Hello @PrestaEdit ,

I couldn't properly installed your theme. I tested it on shop version 8.0.0, tested with branch 8.0.0 and develop.
I have this error : `Missing configuration file`

https://user-images.githubusercontent.com/16019289/178676280-dea43d44-8016-4b8f-8073-62ac71f3f2dd.mov

Am I missing something ?
Thanks!

[2022-07-13 07:36] FabienPapet commented on #29050
Looks like it's related to https://github.com/PrestaShop/PrestaShop/issues/28892 i'll have a look

[2022-07-13 07:36] FabienPapet commented on #29051
Looks like it's related to https://github.com/PrestaShop/PrestaShop/issues/28892 i'll have a look

[2022-07-13 07:39] okom3pom commented on #29050
@FabienPapet  I just made a PR

[2022-07-13 07:46] PrestaEdit opened #29061 "Export the current theme throw an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have an installed theme (that I c

[2022-07-13 08:11] PrestaEdit commented on #29058
Hi @florine2623,

Sorry, it's my theme package that wasn't good. As it's not like a module, my zip file was wrong.

There is the reworked one :
[eni.zip](https://github.com/PrestaShop/PrestaShop/files/9100273/eni.zip)

[2022-07-13 09:25] lmeyer1 opened #29062 "ps_customtext: id_info is hard coded in `getWidgetVariables()`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In [`ps_customtext.php line 340`](h

[2022-07-13 09:50] florine2623 commented on #29062
Hello @lmeyer1 ,

I can't reproduce your issue using the same PS, module and PHP version.
Shop 1:
<img width="1154" alt="Screenshot 2022-07-13 at 11 48 22" src="https://user-images.githubusercontent.com/16019289/178704913-4f89bff9-46fa-4fd0-9acc-9ba27836d8e5.png">

Shop 2:
<img width="1168" alt="Screenshot 2022-07-13 at 11 48 28" src="https://user-images.githubusercontent.com/16019289/178704925-c5

[2022-07-13 09:53] lmeyer1 commented on #29062
@florine2623
Can you put also the screenshot of shop2, please?
Can you show the result of the query `select * from ps_info_lang` please?

Thank you.

[2022-07-13 10:00] florine2623 commented on #29058
Thanks for the update !

Indeed I managed to reproduce the issue on 1.7.8.x, 8.0.x and develop branch. I'll add this to the backlog so it can be fixed.

https://user-images.githubusercontent.com/16019289/178707175-499609f3-5f8b-4c7c-b9b4-9d5301021e99.mov

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fi

[2022-07-13 10:04] florine2623 commented on #29062
Here's a screenshot of config for shop2 :
<img width="1223" alt="Screenshot 2022-07-13 at 12 03 17" src="https://user-images.githubusercontent.com/16019289/178707981-4d6dbd98-2be0-47ea-923d-32d8fc975898.png">

Here the result of your query :
<img width="1203" alt="Screenshot 2022-07-13 at 12 04 27" src="https://user-images.githubusercontent.com/16019289/178708200-751b47fb-1a25-402e-8545-d33a4eb393

[2022-07-13 10:08] Betafer opened #29063 "PS 1.7.8.6 missing Bank Wire account detail when resent email"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you click on resend email in o

[2022-07-13 11:47] szavadskiy opened #29065 "New product page. Added product image don't display on FO, error in console"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screenshot from 2022-07-13 10-56-

[2022-07-13 11:59] lmeyer1 commented on #29062
@florine2623
Sorry, I don't understand what is going on.
1. The SQL query result does not show neither `Custom text block shop 1` nor `Custom text shop block 2`. Either the screenshot does not pertain to the experiment, or there are some lines missing.
2. I can't understand that you get to work this, but I don't. Can you send me the zip file of your module, so that I can check if there is somethin

[2022-07-13 12:10] florine2623 commented on #29065
Hello @szavadskiy ,

I can't reproduce your issue with product page V2. The image is well displayed in BO and FO.

https://user-images.githubusercontent.com/16019289/178729964-ad0dc558-ff4b-4f05-a84f-c7781aa5f072.mov

Is there any specific config to your product or product settings ?
Thanks!

[2022-07-13 12:18] florine2623 commented on #29062
Sorry, my query screenshot is wrong, I have modified it in my previous message. Here's the correct one :
<img width="1202" alt="Screenshot 2022-07-13 at 14 17 16" src="https://user-images.githubusercontent.com/16019289/178731538-a8762ead-b83c-4afb-93af-2759384463b4.png">

I am using v4.2.0 in PS 1.7.8.6.

Here's the zip or the module, I have created the zip from my_shop/modules/ps_customtext.
I am

[2022-07-13 12:30] #29063 closed, assigned to nobody

[2022-07-13 12:40] lmeyer1 commented on #29062
@florine2623
I now understand the difference between your case and mine:
- As you can see in your screenshot, all lines have `id_info = 1`. So you did not create a new `info text`, but you have two different translations in the two shops for the **SAME** `info text`.
- In my case, I created a new `info text` for shop 2, and then the bug happened. I have two lines with `id_info = 1` and two lines w

[2022-07-13 13:42] florine2623 commented on #29059
Hello @PrestaEdit ,

I'm not sure how to reproduce this bug 😅
I added the eni template to my BO.
I tried to Use it, but I encounter the error your mentioned [here](https://github.com/PrestaShop/PrestaShop/issues/29058).

Could you send a screen record of the steps please ?
Thanks!

[2022-07-13 13:44] lmeyer1 opened #29070 "ps_customtext: The shop association box does not display the actual associations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In ps_customtext, the shop associat

[2022-07-13 14:12] szavadskiy opened #29071 "BO - Create a new product - Exception is thrown: Invalid product type. Valid types are: [standard,pack,virtual,combinations] when enabling new product page Feature"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![scrnli_7_13_2022_3-42-48 PM](http

[2022-07-13 14:50] sLorenzini opened #29072 "BO - Product v1 associated categories, invalid and empty section below category labels"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is related to https://gi

[2022-07-13 14:54] #28883 closed, assigned to atomiix

[2022-07-13 14:55] #28885 closed, assigned to atomiix

[2022-07-13 14:58] jolelievre commented on #28835
Thanks for the fix @okom3pom
I leave the issue open until the module is released just to track the final state of this issue

[2022-07-13 14:59] #28858 closed, assigned to nobody

[2022-07-13 15:01] #28604 closed, assigned to nobody

[2022-07-13 15:39] florine2623 opened #29074 "[psgdpr] FO - Customer account - age is incorrect in export"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When downloading my GDPR Personal d

[2022-07-13 15:42] sLorenzini opened #29075 "BO - Multistore activated, features value are not well displayed in terms of shop selected"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Thanks to this PR (https://github.c

[2022-07-13 16:03] florine2623 commented on #29070
Hello @lmeyer1 ,

Tested on 1.7.8.x, 8.0.x and develop. The issue is reproduced.

I have made sure all tables you mentioned are empty :
<img width="1214" alt="Screenshot 2022-07-13 at 17 55 32" src="https://user-images.githubusercontent.com/16019289/178777995-36ec735a-c9c2-4076-bc45-23c69ce0e2b9.png">

4. I do have 1 line for each language.
<img width="831" alt="Screenshot 2022-07-13 at 17 56 50"

[2022-07-13 16:20] florine2623 commented on #29062
Thanks for the second issue. Indeed that is a bug.

Now, for this issue ^^
Before following your steps, I have emptied my 3 tables : `ps_info, ps_info_lang, ps_info_shop`.
Only when I empty these 3 table, can I reproduce the bug.

Here are my screenshots:
Config :
<img width="1436" alt="Screenshot 2022-07-13 at 18 15 02" src="https://user-images.githubusercontent.com/16019289/178782300-a827c212-9a

[2022-07-14 01:05] TecnoHands opened #29076 "Bug with Transfer a insident in Client atention"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you try transfer the issue to

[2022-07-14 03:35] TecnoHands commented on #29076
Solved with this code

https://github.com/PrestaShop/PrestaShop/pull/11995/files

[2022-07-14 05:39] Marquis7373 commented on #14092
Same problem, please reopen this issue

[2022-07-14 06:50] lmeyer1 commented on #29062
@florine2623
The bug #29070 is interfering here.
When the tables are not empty, and bug #29070 is happening ( = the info is associated to both shops, but the association not displayed, and it cannot be removed neither), then it is not possible to reproduce the issue.

Empty the tables is not required in all configurations, but it avoids #29070 for sure.

In short, depending on the initial configur

[2022-07-14 07:43] abramofranchetti opened #29077 "Bad default value for "Product::pack_stock_type" - Inheritance issue when loading Pack class (that inherit Product)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The default value of Product::pack_

[2022-07-14 08:40] #27049 closed, assigned to matthieu-rolland, jolelievre

[2022-07-14 08:43] #25907 closed, assigned to jolelievre

[2022-07-14 09:10] okom3pom commented on #28968
Fixed by : https://github.com/PrestaShop/PrestaShop/pull/28598