[2022-04-06 13:05] #28027 closed, assigned to nobody

[2022-04-06 13:20] d33x commented on #12901
Translating the name of the carrier is a good thing, but what if the carrier uses two different names for the same language?

Let me take a simple example with DPD. In France (French language), it is usually the Chronopost service that is used. In Belgium (French language too), it is DPD. Same carrier but different name depending on the country (and not necessarily the language)

[2022-04-06 13:23] lmeyer1 commented on #12901
You can limit carriers to countries. Thus in your case, create two carriers, on for France and one for Belgium. I think this should not be a problem.

[2022-04-06 13:26] NeOMakinG commented on #27541
@matks I think it fixes it! Classic didn't have any CDNs

[2022-04-06 13:32] matks commented on #27541
🎉

[2022-04-06 13:32] #27541 closed, assigned to nobody

[2022-04-06 13:40] hibatallahAouadni commented on #28149
Duplicate of #28074

[2022-04-06 13:40] #28149 closed, assigned to nobody

[2022-04-06 13:44] hibatallahAouadni commented on #28041
Hello @tobiasbrunner

Please provide a screen record and specify what's the expected behavior :pray:
Waiting for your feedback.

Thanks!

[2022-04-06 13:47] hibatallahAouadni commented on #28107
Hello @thibaultNicolas

It seems that you doesn't encounter an issue with facetedSearch, so I close the issue!
Otherwise, if you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.co

[2022-04-06 13:47] #28107 closed, assigned to nobody

[2022-04-06 14:05] tobiasbrunner commented on #28041
Here you go:

https://user-images.githubusercontent.com/457648/161991399-8153c2e0-1506-47a4-8d57-9df525c3f3e5.mp4

It shows what I described above, including, in the second part, a detailed view of the hidden input field that gets reset to 0 when the quantity is changed (again, when changing attributes, the same happens). (Just noticed that the quantity is also not shown correctly in the backend,

[2022-04-06 14:34] bibos commented on #26456
Hi everyone,

Any news on this issue?

Thanks

[2022-04-06 14:48] d33x commented on #12901
You are right, except when you use the module of a carrier and that this one authorizes only one carrier (in particular for the generation of label or the follow-up)

[2022-04-06 15:03] mrazekrad commented on #20173
Thank you for sharing... Today, the same problem!!!

[2022-04-06 15:16] hibatallahAouadni commented on #28144
Hello @SimonasB88

I was able to reproduce the issue with PS1767, PS1778 and PS1785. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring

[2022-04-06 15:30] hibatallahAouadni commented on #28137
Related to #26403

[2022-04-06 15:36] khouloudbelguith opened #28151 "SEO error ItemList position product list is incorrect"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is a duplicate of https:

[2022-04-06 15:42] clotairer commented on #19544
Hi,

Bug still remain on PrestaShop 8. You probably not uncomment line on the module file.
I preprared for you a zip for PrestaShop 8 and types uncommented

[checkboform_with_buggy_types.zip](https://github.com/PrestaShop/PrestaShop/files/8428473/checkboform_with_buggy_types.zip)
.

[2022-04-06 16:03] hibatallahAouadni commented on #28151
So we should cherry-pick this PR #27814

[2022-04-06 17:05] lmeyer1 opened #28154 "Display an error if a cart rule applies to all orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-06 17:16] DaLyRB opened #28155 "Cart rule not added to BO Order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you create new BO Order and you

[2022-04-06 17:27] lmeyer1 opened #28156 "In cart rules customer search display the shop name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-06 18:53] NikosTsiligaridis opened #28157 "WebService image upload size is hardcoded instead of being loaded from settings"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Uploading product image through Web

[2022-04-06 19:55] matks commented on #20177
@atomiix I think we can close this issue?

[2022-04-06 19:57] laurentrousseau918 commented on #22565
+1

[2022-04-07 07:42] Gardella-Web commented on #27880
Still no news?

[2022-04-07 07:52] Hlavtox opened #28158 "StatisticsController should not be part of the core"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-07 08:24] hibatallahAouadni commented on #28158
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Question: why you won't create a PR to implement this feature? 😅

Thank you

[2022-04-07 08:26] Hlavtox commented on #28158
Because I also need to make money sometimes. 😛😄

[2022-04-07 08:26] hibatallahAouadni commented on #28156
Hello @lmeyer1

That's a great feature 👏

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. So, we're waiting for your PR 🚀

 Thank you

[2022-04-07 08:27] atomiix commented on #20177
Yep

[2022-04-07 08:27] #20177 closed, assigned to atomiix

[2022-04-07 08:28] #24769 closed, assigned to PierreRambaud

[2022-04-07 08:33] lmeyer1 commented on #28156
@hibatallahAouadni Here are the specs:
Concerning: search-as-you-type in cart rules form, tab `Conditions`.
When multishop is activated, and we are in `All shop`  (or `Shop group`) context, then the search results must include the name of the shop the customer is belonging to.
When multishop is not activated, or when in a specific shop context, keep the current display.

I hope this goes enough in

[2022-04-07 09:55] #27908 closed, assigned to Progi1984

[2022-04-07 09:59] MatShir opened #28162 "Scroll Bar when zooming at 200x and black Border line"
## Bug description

I have a scrollbar when I zoom to 200% or more on my browser :

https://user-images.githubusercontent.com/16019289/160616065-ccab1ceb-6a1b-4240-b4d1-24aa81dde042.mov

Also, I have a black border on that modal. I don't think it should be here as shown in this comment : https://github.com/PrestaShop/PrestaShop/pull/26024#issuecomment-998143843 :
<img width="1100" alt="Screenshot

[2022-04-07 10:07] #27991 closed, assigned to NeOMakinG

[2022-04-07 10:20] hibatallahAouadni commented on #28154
Hello @lmeyer1

I think some merchant may want to have a discount on all orders created at specific time (ex: on weekends) and that's logic!
For ex: there is a French cosmetics brand that offers free shipping and a gift for each order over 15 euros, and I can create as many orders as I want.

So, I think what you suggested may limit the choice of the merchant :confused:
But, let's check with the p

[2022-04-07 10:33] #27144 closed, assigned to NeOMakinG

[2022-04-07 11:30] hibatallahAouadni commented on #28148
Hello @lmeyer1

Which profile do you choose for employee A and employee B?
Because if you choose **SuperAdmin** you can't restrict its permissions on other shops.

https://user-images.githubusercontent.com/23308427/162188981-62341365-aa2f-4d00-bcba-18984cf04c26.mp4

If **Logistician** or **Translator** or **Salesman**, you do not have permission to access the discounts/cart rules page by default.

[2022-04-07 11:32] #25735 closed, assigned to nobody

[2022-04-07 11:36] denys202 opened #28164 "Blockwishlist: Number of products on wishlist page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we have a restriction by produ

[2022-04-07 11:36] lmeyer1 commented on #28148
@hibatallahAouadni Hello, I didn't notice that the profile configuration in my shops is not the standard one.
I've chose `Salesman`, and in my installation salesmen have the permission to create cart rules.

This also means that these bug cannot happen when all profiles are configured with the default permissions.

[2022-04-07 11:49] lmeyer1 commented on #28154
@hibatallahAouadni I will think about it.
Your example states two conditions that I did not include in my implementation.
- _for each order over 15 euros_ => these are not all orders
- _at specific time (ex: on weekends)_ => if the user changes the default time that is filled automatically, then this is a condition.  Considering a start time in the future as a condition would be a good choice.

I

[2022-04-07 12:27] lmeyer1 commented on #23412
@marionf @MatShir
Meanwhile, we have a page on devdocs (https://devdocs.prestashop.com/1.7/faq/pricing/#refresh-exchange-rates) that explain this very well, but the BO still display the old message:
![Capture du 2022-04-07 14-14-45](https://user-images.githubusercontent.com/7520695/162197882-68368f31-a050-493c-bb9e-00d268d1e494.png)

Shouldn't the suggestions in this tread be turned into a PR that

[2022-04-07 13:00] FrancoisKr commented on #27746
Same problem here.

Requesting all products via /api/products?display=full results in:
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
<errors>
<error>
<code>
<![CDATA[ 5 ]]>
</code>
<message>
<![CDATA[ [PHP Notice #8] Trying to access array offset on value of type bool (xxxx/public_html/classes/Product.php, line 7170) ]]>
</message>
</error>
<error>
<code>
<![CDATA[ 5 ]]>
</code>
<message

[2022-04-07 13:10] lmeyer1 opened #28165 "Cart rules should have their amount set to `Tax included` by default"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-07 13:40] lmeyer1 opened #28167 "Improved product selection for cart rules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-07 13:41] lmeyer1 commented on #28167
I would like to have opinions on what would be the simplest acceptable solution.

[2022-04-07 13:46] hibatallahAouadni commented on #28165
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, thanks for your PR :rocket:

Thank you

[2022-04-07 13:47] lmeyer1 commented on #28134
Closing in favor of all the separate detailed bug reports and feature requests mentioned in the description

[2022-04-07 13:47] #28134 closed, assigned to nobody

[2022-04-07 14:10] khouloudbelguith opened #28169 "BO - An exception is displayed in the product page V2 when importing a product without supplier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I tried to import a product without

[2022-04-07 14:10] MatShir commented on #28135
Thanks for the feedback, we are looking for a solution :)

[2022-04-07 15:03] hibatallahAouadni commented on #28167
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-04-07 15:05] MatShir commented on #23412
@lmeyer1 you are right, we should be more explicit ! nice catch :)

[2022-04-07 15:06] hibatallahAouadni commented on #28167
Related to #10547

[2022-04-07 15:22] Julievrz commented on #23412
I agree, thanks @lmeyer1. Here's my suggestion: "Check the [developer documentation](https://devdocs.prestashop.com/1.7/faq/pricing/#refresh-exchange-rates) for setup instructions." in Admin.International.Help

[2022-04-07 15:32] hibatallahAouadni commented on #28164
Hello @denys202

I reproduce the issue with PS1785, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/162225103-b2a6a2ac-ac11-4898-a857-cf8d43a253f1.mp4

I’ll add this to the debug backlog so that it’s fixed. And thanks for your PR :rocket:

Thank you

[2022-04-07 15:49] webstartconsulting commented on #20245
Show your prestash shop that it works well. Don't close the bug until then. This is an existing bug. Definitely not a server configuration error.

[2022-04-07 16:39] MatShir commented on #26642
Close the issue in favor https://github.com/PrestaShop/hummingbird/issues/55

[2022-04-07 16:39] #26642 closed, assigned to saulaski

[2022-04-07 18:18] MatShir commented on #27026
@marioquartz have you update the module ? It is weird on my site it is working

[2022-04-07 18:20] MatShir commented on #28079
Seems a great idea ! let's go !

[2022-04-07 18:22] MatShir commented on #28079
The button could be call 'Preview' to stay consistent

[2022-04-07 18:26] MatShir commented on #28047
@grzegorzgit on the next version, the experimental product page would be the new product page. So your issue should be fixed :)

[2022-04-07 18:31] MatShir commented on #10005
Hi @Triloworld,
Don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to review your contribution to the PrestaShop core ;)

[2022-04-07 18:40] MatShir commented on #27794
@NeOMakinG do you think the fix is it legit ?

[2022-04-07 18:49] MatShir commented on #18016
Hi @PrestaSafe,
Don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to review your contribution to the PrestaShop core ;) <3

[2022-04-07 20:28] Stephane1874 opened #28174 "Wrong translation or wrong value displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The translation indicates "sale pri

[2022-04-07 20:31] marioquartz commented on #27026
With v2.3.3 the only way to "fix" it is download the translated mails from other version and copy it in the child theme.

[2022-04-07 20:59] kpodemski commented on #28079
Hey @Hlavtox

Do you want me to assign you to this issue? :)

[2022-04-07 21:02] kpodemski commented on #20245
@webstartconsulting

You can provide us with a valid, reproducable test scenario on PrestaShop 1.7.8.5. If we can reproduce the issue, then we can add it to the things "To do" :)

[2022-04-08 06:06] webstartconsulting commented on #20245
Sorry for the mistake, this is an old bug that may not be present in the latest versions.

[2022-04-08 06:49] VipinNethues opened #28176 "Getting error when try to to use discount voucher value more than cart value."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello there, I hope you guys are do

[2022-04-08 07:12] mrabsinthe commented on #9866
@bibos have you checked all payment modules as explained [here](https://github.com/PrestaShop/PrestaShop/issues/9866#issuecomment-1023762705)?

[2022-04-08 07:37] bibos commented on #9866
I believe so. I'll double-check.

[2022-04-08 07:55] bibos commented on #9866
Yes, I didn't find anything similar in Paypal, Stripe, Ps_checkout...
And the issue is visible from the launching of the website, and no matter the kind of payment

[2022-04-08 08:08] Hlavtox commented on #28176
This seems like one of those errors that happened (maybe still happen) when editing order in backoffice. Due to some rounding, it resulted in negative order total and exactly this fatal error.

This seems pretty serious however. Ping @jolelievre @matthieu-rolland

[2022-04-08 08:15] hibatallahAouadni commented on #28165
Ping @camilleganzin wdyt about making the `Tax included` the default value in the cart rules form?
Thanks in advance :pray:

[2022-04-08 08:18] clotairer commented on #19544
I worked on this issue. Removing is not a good way. I found ResizableTextType is used on Profil Grid in the head of the table.

I look for a solution to let ResizableTextType an CustomMoneyType reusable on a module context.

[2022-04-08 08:21] Hlavtox commented on #28079
@MatShir @kpodemski OK, let's do it! :-)

**Few things to clarify:**
- Which language it should open in? The employee default one like on product page?
- About multistore:
  - If all shops context is selected, it will be previewed on a default store.
  - If a single shop context is selected, it will be previewed on the selected store.

[2022-04-08 08:21] MatShir commented on #27026
Are we talking about the same thing ? Create a new issue [here](https://github.com/PrestaShop/PrestaShop/issues/new/choose) with screenshots and details steps, so we can try to reproduce your issue ?

[2022-04-08 08:24] Hlavtox opened #28179 "Product page v2 minor feedback"
Just had another look on the new product page, found only some minor things we can improve. Otherwise, it's really intuitive, faster, cleaner. Especially the combination management!!! Good job everyone, from product team, designer, developers.

### 1 Customization
The switch for "required" has no label, I think it could be confusing for merchants that don't know what it means.
Can we add some labe

[2022-04-08 08:25] marioquartz commented on #27026
The shop is in production now. So its not posible touch nothing. Maybe in the next shop I can make test.

[2022-04-08 08:48] kamel3c opened #28180 "'Add to cart' button disappeared on iOS devices."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I have a problem with my sho

[2022-04-08 08:58] khouloudbelguith commented on #28174
Hi @Stephane1874,

Thanks for your report.
I manage to reproduce the issue with PS1785 & PS1778 using the statsstock v2.0.0.
It is a translation issue.
When the employee language is english, it is ok :heavy_check_mark:

`BO stats page`
![image](https://user-images.githubusercontent.com/16067358/162400872-832b30e0-6a72-47c1-a2f9-3599c421f78a.png)
`BO product page`
![image](https://user-images.githu

[2022-04-08 09:21] hibatallahAouadni commented on #27532
Hello @gusxavi

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-08 09:21] #27532 closed, assigned to nobody

[2022-04-08 09:42] camilleganzin commented on #28154
Hello @lmeyer1,
You may have a point here! But as @hibatallahAouadni said, there are some cases where merchants would want to apply discounts on all orders using Cart Rules. Rather than impose some limitations, we would prefer to alert the user when saving their cart rule that the discount will be applied to any orders since no conditions have been set.
We can give you a template if you want to im

[2022-04-08 09:45] khouloudbelguith commented on #28180
Hi @kamel3c,

Thanks for your report.
I did not manage to reproduce the issue with PS1778 using `os=iOS&os_version=14.0&device_browser=safari`
I attached a screen record

https://user-images.githubusercontent.com/16067358/162410517-641a284d-ddd6-4a1c-aea6-c784fb1faa7d.mp4

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via

[2022-04-08 09:45] #28180 closed, assigned to nobody

[2022-04-08 09:48] eternoendless commented on #28179
I believe the switch component can get any label, not just on-off. Perhaps this can be solved by just changing the label.

[2022-04-08 09:51] khouloudbelguith commented on #28179
Hello @Hlavtox,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thank you!

[2022-04-08 09:55] aslezak88 commented on #9866
On localhost, you can use Notepad++. Search all files...

[2022-04-08 10:06] kpodemski commented on #28067
@hibatallahAouadni

I wouldn't search for a reproducing of the issue. It's a refacto that makes code simpler. With these changes, it's worth checking if the default steps of ordering and managing products in the cart work as expected.

[2022-04-08 10:09] mrabsinthe commented on #9866
@bibos I also use PayPal and Stripe, edited classes/PaymentModule.php" around line 734, hope that helps

[2022-04-08 10:10] bibos commented on #9866
Yes of course, but... nope. Nothing more. I just modified the PaymentModule.php but that doesn't help.

[2022-04-08 10:17] chrisvanberg opened #28182 "In the BO order page, the export will always export the first page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the back office on the orders pa

[2022-04-08 10:19] khouloudbelguith commented on #28176
Hi @VipinNethues,

I did not manage to reproduce the issue with PS1785.
I attached a screen record

https://user-images.githubusercontent.com/16067358/162416413-20659fb4-cc23-4a60-9f5f-ec541eb0d616.mp4

This issue is fixed here: https://github.com/PrestaShop/PrestaShop/pull/17877 as reported in this issue: https://github.com/PrestaShop/PrestaShop/issues/13809

Could you please check and feedback.

[2022-04-08 10:24] Hlavtox commented on #26849
bump - we need this for the new theme

[2022-04-08 10:26] Hlavtox commented on #18948
@hibatallahAouadni Can you retest this? Maybe it's fixed on current develop, as the page has been greatly improved!

[2022-04-08 10:32] jolelievre commented on #28179
Hi @Hlavtox

thanks for the feedback!

Issue 1
Yep we noticed this one as well recently with @Amoifr we plan on adding a label here Besides there are many other little things that we plan on fixing at the ned with @TristanLDD and @Julievrz to polish the UX and wording everywhere to match the final mockups

Issue 2 and 3
Actually for both technical and functional reasons We discussed with @MatShir

[2022-04-08 10:33] kpodemski commented on #26849
@Hlavtox, isn't that something that'll make a new theme core-dependent?

[2022-04-08 10:37] aslezak88 commented on #9866
OK, try to find Error message in all PS files. Than change Error message to something else or you can add more info to message. For example module name -> "Cart cannot be loaded or an order has already been placed using this cart **- Paypal**" And you will see where it come from...

[2022-04-08 10:38] #13841 closed, assigned to marsaldev

[2022-04-08 11:18] bibos commented on #9866
Clever. I changed the only error message I found, and I'll watch the logs.

[2022-04-08 11:29] khouloudbelguith commented on #28182
Hi @chrisvanberg,

We are aware of this issue, and it is added to our debug roadmap.
Your ticket is a duplicate of #19527
So, I close it.
Thanks!

[2022-04-08 11:29] #28182 closed, assigned to nobody

[2022-04-08 11:30] khouloudbelguith commented on #28182
Duplicate of #19527

[2022-04-08 11:35] chrisvanberg commented on #28182
Hi @khouloudbelguith

Oh, I'm sorry, I did not see that issue when I was looking if it was already reported.

Thanks

[2022-04-08 11:41] khouloudbelguith commented on #19544
Hi @202-ecommerce, @clotairer,

I manage to reproduce the issue with PS1778 & PS1785.
![image](https://user-images.githubusercontent.com/16067358/162428293-9eec2b44-b5bc-4c9c-81f9-9f71d74e4d26.png)
so I can confirm that this behavior is indeed a bug.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed

[2022-04-08 11:42] davideapvd commented on #9866
@bibos just an info, does this fix resolves nothing in your case? https://github.com/PrestaShop/PrestaShop/pull/27839

[2022-04-08 12:04] camilleganzin commented on #28165
@hibatallahAouadni This makes perfect sense. So it would be perfect if you could do a PR to solve this @lmeyer1!
Thanks!!

[2022-04-08 12:41] #28004 closed, assigned to Progi1984

[2022-04-08 12:51] florine2623 opened #28186 "dashtrends - after a partial refund, dashtrends module is not updated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Same issue as https://github.com/Pr

[2022-04-08 13:20] hibatallahAouadni commented on #26413
Hello @SimonasB88 & @florine2623 & @atomiix

I didn't reproduce the issue with PS1778 and PS1785 :sweat_smile:

![image](https://user-images.githubusercontent.com/23308427/162443832-c3d63ffc-b3e2-4449-9c57-2118f93640fc.png)

You need to enable the cuurrency in BO for the Payemnt method:

![image](https://user-images.githubusercontent.com/23308427/162443933-2533250b-7b5e-4c18-b6d3-d56ca5656626.png)

[2022-04-08 13:20] #26413 closed, assigned to nobody

[2022-04-08 13:22] SimonasB88 commented on #26413
yea seems like no more in the latest versions :)

[2022-04-08 13:32] khouloudbelguith commented on #28041
Hi @tobiasbrunner,

Thanks for your feedback.
I manage to reproduce the issue with PS1783 & PS1784 & PS1785.
![image](https://user-images.githubusercontent.com/16067358/162445870-438367d8-7934-4ba8-827a-19f743058220.png)
It is ok with PS1782
![image](https://user-images.githubusercontent.com/16067358/162445973-f9f8c688-0e63-44e4-abdd-b82435b2f6c8.png)

so I can confirm that this behavior is indeed

[2022-04-08 14:19] HanaRebaiQA opened #28187 "BO - An error is displayed when edit in tags page while enable and disable the product status"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error is displayed when edit in

[2022-04-08 14:21] khouloudbelguith commented on #28148
Hi @lmeyer1,

Thanks for your feedback.
I manage to reproduce the issue with PS1778 & PS1785.
so I can confirm that this behavior is indeed a bug.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.pres

[2022-04-08 14:58] groukx commented on #28142
I don't understand. Right now, If i build a new theme and sell it, it is not on the prestashop 8.0, It is with the last stable version which is 1.7.8.5 and implement bootstrap alpha version.
So for the ecosystem, most of the theme that are on the market is built on top of a buggy bootstrap since almost 4 years. It's a huge problem.
I have been flooded by theme that does not do what bootstrap 4 doc

[2022-04-08 15:25] florine2623 opened #28188 "blockreassurance - icon are next to each other when non-default language info is empty"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO - product page, the icons

[2022-04-08 16:05] lmeyer1 commented on #28154
@camilleganzin You are right, an alert might be sufficient, but there is one gotcha:
If you create a cart rule, the default start time is _the last full hour_, i.e. if I create a cart rule at 17h55, it starts to be valid on 17h00.
No look at this scenario:
- I create by error a cart rule without any condition, it is immediately valid.
- I notice the alert you suggest
- A customer is just doing his

[2022-04-08 16:19] Oksydan commented on #28142
@groukx you can build theme based on bootstrap 4.6. Just makes sure that you cover backwards compatibility.

[2022-04-08 16:34] Hlavtox commented on #28142
@groukx I have a theme on 1.7.6 working perfectly fine with Boostrap 4.6. @Oksydan Also has a starter theme with bootstrap 4.6. So I don't really understand what you mean?

What you want us to do? New theme is under development for several months now and will be released soon.

[2022-04-08 17:50] NeOMakinG commented on #28142
You said it, most of the themes are based on a specific bootstrap version, if we update it, we break most of the themes because the API did change a lot between the alpha and the stable one. It's a choice from the past that we paid for many years.

[2022-04-08 23:41] QueeNFrisk opened #28206 "WebServices Features creation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am trying to create features and

[2022-04-09 05:32] skellatore opened #28207 "Logo on Invoice disappeared without any changes being made 1.7.8.5"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Literally as the title states, with

[2022-04-09 05:51] skellatore commented on #28207
I was able to get debug mode activated and I have received this error when trying to open an Invoice:
TCPDF ERROR: GD library error: Warning: imagepng(~/public_html/tmp/__tcpdf_dcfaba37bd81403056beac39af62805e_imgmask_alpha_91ef3cfacdc8bc99884f86baae2918a5): failed to open stream: No such file or directory

[2022-04-09 06:15] skellatore commented on #28207
I've been able to track down and fix the problem.. To help someone else in future, my fault some how managed to be related to a PHP variable "upload_tmp_dir".

It was set to ~/public_html/tmp
I changed it to an absolute address /home/<myhostingaccountusername>/tmp

Immediately this was resolved. I've logged a ticket to my Hosting service provider and will also ask them why they weren't completely

[2022-04-09 09:20] tom-combet opened #28208 "Add html attributes option to grid columns"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-09 09:36] tom-combet opened #28209 "Add Core\Form\ConfigurationDataProvider"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-09 10:18] quentic opened #28210 "New Customer Registration error "Could not update your information, please check your data.""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On new customer account creation, t

[2022-04-09 17:10] kpodemski commented on #28079
@Hlavtox

Sounds good. I think we can easily change that if needed, but your idea makes the most sense.

[2022-04-09 19:29] willowtree336 commented on #28096
I have the same issue in 1.7.8.4
![Screenshot 2022-04-09 8 22 52 PM](https://user-images.githubusercontent.com/103334112/162588962-97279fe5-8176-482b-874c-662daa8fb81c.png)

[2022-04-10 01:54] alfonsolr09 opened #28211 "translation error on product position placement page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

the translation of the button is wr

[2022-04-10 02:00] alfonsolr09 commented on #28211
![image](https://user-images.githubusercontent.com/62474824/162598011-04541239-820b-4b0c-971e-1313d44c7457.png)

[2022-04-10 02:07] alfonsolr09 commented on #27026
now works good, thanks :+1:

[2022-04-10 16:15] tdzierza opened #28212 "Modify the TinyMCE configuration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Modifying configuration since 1.7.8

[2022-04-10 16:37] Akmenelis opened #28213 "1.7.8.5 - The product does not appear in the shopping cart."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

After clicking buy, the pro

[2022-04-10 19:07] alfonsolr09 commented on #28098
I think they are different problems
I suggest the toggle be disabled if stock management is disabled

[2022-04-10 23:37] alfonsolr09 opened #28214 "upgrade from 1.7.7.8 to 1.7.8.5"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once this update has been done, I h

[2022-04-10 23:42] alfonsolr09 opened #28215 "when i tried to import products i get an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Error Ps](https://user-images.git

[2022-04-11 07:13] lmeyer1 opened #28216 "ps_emailalerts, the subscription confirmation alert on the product page does not show"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When subscribing to an email alert

[2022-04-11 07:21] lmeyer1 commented on #25474
@hibatallahAouadni This issue has been solved last year with https://github.com/PrestaShop/ps_emailalerts/pull/86.
Now there is another issue with the display of these alerts (#28216).
Could you close this issue in favor of #28216 ? Thank you.

[2022-04-11 07:31] lmeyer1 commented on #27625
I can confirm the problem looking at the code:

then to check the views/templates/hook/product.tpl at line 38

and

`{$id_product}`
and
`{$id_product_attribute}`

`{$product.id_product}` and
`{$product.id_product_attribute}`

While the bug happens only on 1.7.6.2, and no longer since 1.7.8.3, it would be good to clean up the code of the module.

[2022-04-11 07:37] Progi1984 commented on #27876
Fixed by @atomiix in #28028 and tested by @AureRita. Thanks

[2022-04-11 07:39] lmeyer1 opened #28217 "ps_emailalerts display of product list is ugly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The display of the product list in

[2022-04-11 07:48] lmeyer1 opened #28218 "email_alerts Display an info on a product when a customer subscribed to be notified when available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-11 08:07] hibatallahAouadni commented on #28208
Hello @tom-combet

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement th

[2022-04-11 08:12] hibatallahAouadni commented on #28209
Hello @tom-combet

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement th

[2022-04-11 08:16] hibatallahAouadni commented on #28218
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2022-04-11 08:43] hibatallahAouadni commented on #28217
Hello @lmeyer1

I was able to reproduce the issue with PrestaShop PS1785 and PS1778, see the attached screenshot below:

On desktop:

![image](https://user-images.githubusercontent.com/23308427/162697589-719655e4-5f34-4fc7-8e1c-571f35945940.png)

On mobile:

![image](https://user-images.githubusercontent.com/23308427/162697549-cedc66bf-7607-47d8-b82d-0b6693bbb45e.png)

I’ll add this to the debug b

[2022-04-11 08:43] MeKeyCool commented on #26557
Hi all ! I have a question to @Hlavtox about a regression I would like to solve and a PR you did ^^

When I investigate about [current regression](https://github.com/PrestaShop/PrestaShop/issues/26557)
It looks that @NeOMakinG had a solution : https://github.com/PrestaShop/PrestaShop/pull/26702/files
But he closed it cause of suspicions of "vision" conflict (see @matks  and @jolelievre comments)

[2022-04-11 08:51] lmeyer1 commented on #25474
@marionf I see that you added the `Feature` tag, after PR https://github.com/PrestaShop/ps_emailalerts/pull/86 has been merged.
Am I missing something?

[2022-04-11 08:52] #27618 closed, assigned to Amoifr, saulaski

[2022-04-11 08:53] Progi1984 commented on #28082
Fixed by @micka-fdz in #28101 and tested by @AureRita

[2022-04-11 08:53] #28082 closed, assigned to micka-fdz

[2022-04-11 08:54] hibatallahAouadni commented on #28216
Hello @lmeyer1

I didn't manage to reproduce the issue with PS1785 and the Classic theme, see the attatched screen record below:

https://user-images.githubusercontent.com/23308427/162700943-3a8523ca-1bcc-475e-9180-82991c1054e3.mp4

I think your issue is related to your theme, could you please switch to the Classic theme and check if you still encounter the same issue.
Waiting for your feedback.

[2022-04-11 08:55] #27039 closed, assigned to Progi1984

[2022-04-11 08:55] Progi1984 commented on #24643
@PrestaShop/product-team & @eternoendless : :heavy_check_mark:

[2022-04-11 08:55] #24643 closed, assigned to Progi1984

[2022-04-11 09:05] lmeyer1 commented on #28216
@hibatallahAouadni
You are right, my theme uses a newer version of Bootstrap than the default theme. On `classic` theme the display is correct.
There is still a problem: `class="d-none"` does not exist in Bootstrap `v4 alpha 4` used in `classic` theme. Thus this class name is useless in `classic` theme, but breaks themes based on a newer Bootstrap version.
Let me investigate how this class found i

[2022-04-11 09:08] hibatallahAouadni commented on #28214
Hello @alfonsolr09

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2022-04-11 09:08] #28214 closed, assigned to nobody

[2022-04-11 09:08] kpodemski commented on #28216
@hibatallahAouadni

I added it added in a recent refacto to replace `style="display: none;"` but from what you say we can safely remove it 🤔

[2022-04-11 09:11] Hlavtox commented on #26557
@MeKeyCool For now (and for classic theme) it should be fixed by loading one properly sized image. (Not larger than needed).

For the new theme:
- Everything will be done by srcsets.
- The javascript of the theme must not rely on any hardcoded image sizes. So we allow people to customize them completely.

[2022-04-11 09:18] hibatallahAouadni commented on #28213
Hello @Akmenelis

I didn't manage to reproduce the issue with PS1785, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/162706416-9e41b4c8-6d7c-4c50-97f1-090c2fab9a01.png)

For the link, I get this:

[code]

Could you please Reset your module and check if you still encounter the same issue.
Waiting for your feedback.

Thanks!

[2022-04-11 09:22] hibatallahAouadni commented on #28212
Hello @tdzierza

Could you please provide clear and concise steps to reproduce the issue :pray:
Waiting for your feedback.

Thanks!

[2022-04-11 09:25] Hlavtox commented on #28048
That's sad, it should be number 1 priority. You make the software for merchants to have the best stores and sell the most. Not to make developers happy by doing some internal changes. Migrating another controller to symfony is nice, but no merchant gives a 💩, because the original page worked better. Every migrated controller just ruined the responsivity and brought more bugs to the controller. Lon

[2022-04-11 09:29] tdzierza commented on #28212
You have this in developer documentation

https://devdocs.prestashop.com/1.7/development/components/tinymce/

Please show example in code because I'm afraid that it can't working.

Or maybe I'm wrong but in my opinion loading order of javascript import make difference.

When you are using

`public function hookActionAdminControllerSetMedia($params)
{
$this->context->controller->addJs($this->getPat

[2022-04-11 09:33] alfonsolr09 commented on #28214
@hibatallahAouadni I'm wondering if it could be a bug?

[2022-04-11 09:34] hibatallahAouadni commented on #28211
Hello @alfonsolr09

I reproduce the issue with PS1778, PS1785 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/162710150-2072d689-b90b-4bdc-9c94-dfe13ea7d27b.png)

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If

[2022-04-11 09:44] hibatallahAouadni commented on #28210
Hello @quentic

I didn't manage to reproduce the issue with PS1785, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/162712096-71c38d62-6b0c-4258-b048-0fb2bb011ae0.mp4

By the way, your site is 404 page :disappointed:
Closing the issue as we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about

[2022-04-11 09:44] #28210 closed, assigned to nobody

[2022-04-11 09:48] Julievrz commented on #28211
Hello, this should be fixed in Crowdin. An issue was already opened here: https://crowdin.com/translate/prestashop-official/36366/en-es?filter=basic&value=0#5845406. I've asked the Spanish proofreaders to review it. :-)

[2022-04-11 09:50] Progi1984 commented on #22565
@marsaldev With please. Let's go :)

[2022-04-11 09:50] hibatallahAouadni commented on #28207
Hello @skellatore

Glad to hear that you solve your problem :tada:
BTW, your issue seems duplicate of this one #22581

Closing the issue as it's resolved!
Thanks!

[2022-04-11 09:50] #28207 closed, assigned to nobody

[2022-04-11 10:00] hibatallahAouadni commented on #28206
Hello @QueeNFrisk

Please send your request in English. English is the norm on GitHub.
Could you please provide the whole PHP code that you used to reproduce the issue (ex: see this [comment](https://github.com/PrestaShop/PrestaShop/issues/14439#issuecomment-507237568)).
Waiting for your feedback.

Thanks!

[2022-04-11 10:18] #28133 closed, assigned to sowbiba

[2022-04-11 10:19] #28164 closed, assigned to denys202

[2022-04-11 10:30] Hlavtox commented on #28048
If I am paid for it, it doesn't matter if it's easy or hard. They have been doing it for 10 or more years with a software like this, so I guess they can do for few months more, before important front-end stuff is implemented?

Yeah, so cool to have better API, to migrate something to symfony, to have cleaner code, but it doesn't put bread to our mouths unfortunately.

[2022-04-11 10:36] Progi1984 commented on #26642
@MatShir Should we close the PR #27548 ?

[2022-04-11 11:08] serginio8989 opened #28220 "Random checkout addresses, even if I'm not logged in"
### Prerequisites
https://www.prestashop.com/forums/topic/1062843-random-checkout-addresses-even-if-im-not-logged-in/
![888](https://user-images.githubusercontent.com/103263983/162727721-e18e4bf5-7127-458e-86c4-b40c7819bc68.png)

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in

[2022-04-11 11:24] kpodemski commented on #28113
Most of the time, you want to install a module. If you need something that specific, it would be good if you could agree on these two points:

Otherwise, the chances of seeing this feature in the core are pretty low.

[2022-04-11 11:25] Caleydon commented on #28113
Something like this

![upload-module](https://user-images.githubusercontent.com/2806752/162730051-a2553af6-7ce4-4a91-9322-3ca6befc329e.png)

[2022-04-11 11:54] szykuc opened #28221 "Language in multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I don't know if it's a bug o

[2022-04-11 12:08] hibatallahAouadni commented on #28221
Hello @szykuc

Could you please check this issue #27617 it seems duplicate or related to yours.
Please check and feedback.

Thanks!

[2022-04-11 12:11] hibatallahAouadni commented on #28220
Hello @serginio8989

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise steps to reproduce the bug**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, w

[2022-04-11 12:11] #28220 closed, assigned to nobody

[2022-04-11 12:12] hibatallahAouadni commented on #27978
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-11 12:12] #27978 closed, assigned to nobody

[2022-04-11 12:13] Progi1984 commented on #23412
@lmeyer1 Do you see any thing to do before closing this issue ?

[2022-04-11 12:13] ryvenia opened #28222 "PrestaShop Metrics"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We installed modul Prestashop Metri

[2022-04-11 12:16] hibatallahAouadni commented on #28216
Hello @lmeyer1

Closing the issue as it's not related to the PS Core.
Thanks for your feedback!

[2022-04-11 12:17] groukx commented on #28142
@NeOMakinG Thanks for your response. I understand what you said. It's too late, the mistake was done and we pay for many years. Also, the 1.7 theme introduced the feature of compilation with webpack. It's a shame that themes for prestashop 1.7 is in sell without this feature. Maybe it's time to introduce a theme feature validator for the 8.0 realease Or a mechanism that tell clearly what feature i

[2022-04-11 12:17] #27135 closed, assigned to NeOMakinG

[2022-04-11 12:18] hibatallahAouadni commented on #28212
Hello @tdzierza

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2022-04-11 12:18] lmeyer1 commented on #23412
@Progi1984 No, for me it is OK to close.

[2022-04-11 12:20] lmeyer1 commented on #28216
@hibatallahAouadni As of @kpodemski's comment above, there is a real hidden issue, that IS related to PS core. I'll open a PR anyway.

[2022-04-11 12:22] Progi1984 commented on #23412
@lmeyer1 I check it. I agree too. Good job for this contribution.

[2022-04-11 12:22] #23412 closed, assigned to lmeyer1

[2022-04-11 12:27] hibatallahAouadni commented on #28096
Hello @Thierry-Pimentbleu & @willowtree336

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a statuses configuration problem, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/162738997-78418c68-5d83-462f-840c-34e70614fd6c.mp4

We will close thi

[2022-04-11 12:27] #28096 closed, assigned to nobody

[2022-04-11 12:27] jeckyl commented on #23412
I made a free contribution to get the url to use a cron task https://link.prestatoolbox.fr/medlivexchangeurl

[2022-04-11 12:29] hibatallahAouadni commented on #28222
Hello @ryvenia

It seems that your issue is not a PrestaShop core bug.
If your module is Metrics Official, please contact support team on Addons.

We will close this issue.

Thanks!

[2022-04-11 12:29] #28222 closed, assigned to nobody

[2022-04-11 12:30] Progi1984 commented on #27511
Ping @PrestaShop/qa-functional :)

[2022-04-11 12:35] #27876 closed, assigned to atomiix

[2022-04-11 12:36] lmeyer1 commented on #23412
Thanks @jeckyl

[2022-04-11 12:40] MeKeyCool commented on #28048
Hard isn't opposed to happiness ;)

And you can't cook bread without oven, that's why we need to work together, helping each other to make work more efficient and more enjoyable ^^

[2022-04-11 12:44] MeKeyCool commented on #26557
As discussed with @NeOMakinG, we have to investigate why this regression was introduced (which implied the concerned image is shared) and to ensure everything alright with all concerned behavior.
I'll try to check this with @marwachelly ^^

[2022-04-11 12:55] NeOMakinG commented on #26335
I guess this can be closed, we removed every CDN (in order to respect privacy data)

[2022-04-11 12:55] #26335 closed, assigned to NeOMakinG

[2022-04-11 12:56] matks commented on #28048
Interesting point brought by @MeKeyCool 👍

@Hlavtox PrestaShop technical stack needs to evolve because if it becomes too obsolete nobody will be willing to work on it. As you know, today PrestaShop SA is the only company that is hiring people to work on the software full-time. I hope more companies will do this in the future.

But it's very hard to find skilled people willing to work on the softwa

[2022-04-11 12:58] NeOMakinG commented on #28208
I guess most of this is related to the backend things, I couldn't do it alone!

[2022-04-11 13:01] Julievrz commented on #28084
Sorry for the late answer. On Crowdin, everything seems normal. There's no line break (see screenshot)
![image](https://user-images.githubusercontent.com/70583503/162744674-d0a454d8-d693-4ce3-b68d-3a095a362b40.png)
I've tried to delete all previous translations and validate the string again. Hope that helps.

[2022-04-11 13:01] hibatallahAouadni commented on #25633
Hello @eternoendless

I reproduce the issue only with PS1780, PS1785 and develop!
On PS1778 and PS1767, I didn't manage to reproduce the issue, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/162744779-c1653eb3-f1ff-45ec-a586-45a3b96c0a08.png)

So, it's a regression on 1.7.8.0!
I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-04-11 13:09] tdzierza commented on #28212
This feature https://devdocs.prestashop.com/1.7/development/components/tinymce/ not working

[2022-04-11 13:11] cdb88 commented on #27617
This solution seems to be working fine for me.

[2022-04-11 13:14] marwachelly commented on #26557
@MeKeyCool ,
The issue is reproduced using the attached image:
![images](https://user-images.githubusercontent.com/89604350/162745608-2a848b65-5d4b-40b0-b7e6-cc2cce36811a.jpg)
But starting from certain image size the problem does not reoccur
![MV5BMTdiNDIyMGEtNWJjMi00ODlhLWJhM2EtYjJjMjFlMjNhNDEwXkEyXkFqcGdeQXVyODg3NDc1OTE@ _V1_FMjpg_UX1000_](https://user-images.githubusercontent.com/89604350/16274

[2022-04-11 13:47] #28124 closed, assigned to atomiix

[2022-04-11 13:48] alfonsolr09 commented on #28096
@willowtree336 can you see this? And send a picture please

[2022-04-11 13:53] alfonsolr09 commented on #28211
yes, I did it and I corrected it. will it merge automatically? can i close this issue?

[2022-04-11 13:55] alfonsolr09 commented on #28215
@hibatallahAouadni ![20220411_155520.jpg](https://user-images.githubusercontent.com/62474824/162755060-3631e923-26f8-49ce-9275-bc705bea4131.jpg)

[2022-04-11 13:56] hibatallahAouadni commented on #27982
Hello @PrestaEdit

Thanks for your test module :pray: :relaxed:
I reproduce the issue with develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/162754674-70124d66-6700-4462-8e77-052f7e8bde9f.png)

But I need to check if this issue is a regression :wink:
When I try to install your module, an exception is thrown:

![image](https://user-images.githu

[2022-04-11 13:59] Julievrz commented on #28211
A proofreader validated it. It should take a couple of days before it's available on PrestaShop software. Yes, this issue can be closed. ☺️

[2022-04-11 14:03] tom-combet commented on #28208
I could do a pull request easily, but I'd like to have the opinion of the maintainers before.

[2022-04-11 14:10] hibatallahAouadni commented on #28215
Hello @alfonsolr09

Could you please disable your cache and enable the debug mode, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/162757836-b0da2d83-80b7-4c28-9627-ae6a98d0c006.png)

Waiting for your feedback.
Thanks!

[2022-04-11 14:12] maofree commented on #27625
Hi @hibatallahAouadni
this problem is not present on classi theme, but on all (I think all because I got this problem on many themes) themes bought from Addons.
I've solved using an override inside the themes folder "modules" with my solution about the variables

bye

[2022-04-11 14:13] #28074 closed, assigned to eternoendless

[2022-04-11 14:13] hibatallahAouadni commented on #27982
@PrestaEdit Yes, I did! I enabled the debug mode and yet I get this error :disappointed:

[2022-04-11 14:14] NeOMakinG commented on #28212
@hibatallahAouadni Tinymce is something included in the core of the project, and the configuration should be extendable, it's probably right 👍

If one of the @PrestaShop/prestashop-maintainers wants to try it, don't hesitate, overwise I'll take a look when I get some time!

[2022-04-11 14:15] alfonsolr09 commented on #28211
@Julievrz the translations are updated with the next versions of PrestaShop?? (1.7.8.6) or should I update it manually?

[2022-04-11 14:15] alfonsolr09 commented on #28211
@Julievrz the translations are updated with the next versions of PrestaShop?? (1.7.8.6) or should I update it manually?

[2022-04-11 14:15] tom-combet opened #28224 "Faceted search not working with feature value containing hyphens"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Filtering with feature values conta

[2022-04-11 14:17] Hlavtox commented on #28217
![Snímek obrazovky 2022-04-11 161715](https://user-images.githubusercontent.com/6097524/162759415-813f1df8-b228-4a27-b389-e76969e8afae.jpg)
I think we can follow the same thing as on product packs

[2022-04-11 14:18] PrestaEdit commented on #27982
But you can't use it, as the issue is the strict_types, use on PHP8. The issue is with PHP8.

[2022-04-11 14:22] jolelievre commented on #27982
Hi @PrestaEdit

I'm sorry but your screenshots and stack traces don't match the problem you are mentioning
I kind of see that there is a code `42S22` but I don't understand where it comes from, it seems to be coming from PDT functions no?

[2022-04-11 14:23] PierreRambaud commented on #27982
The code ` 42S22`  comes from the Mysql database: https://stackoverflow.com/questions/32159465/error-1054-42s22-unknown-column-marks-in-field-list
`PDOException`  are handled by PHP itself, I see no issue related to PrestaShop here :thinking:

[2022-04-11 14:24] Progi1984 commented on #25840
Release in progress :)

[2022-04-11 14:24] PrestaEdit commented on #27982
The issue is with PHP8, PrestaShop 8. The strict type will throw a Fatal error.

The issue is not the code itself, it's due to the fact that it's a string and that we're awaiting an int (so, it's not match the strict type).

[2022-04-11 14:25] Hlavtox commented on #22627
@PierreRambaud What to do about this issue? I think it's a module issue if it shows a custom value hundred times, and you check one of them and it checks those hundred features.... :-)

[2022-04-11 14:25] hibatallahAouadni commented on #27982
Hello @PrestaEdit

Even @sLorenzini encountred another issue with the latest test module that you provide, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/162760882-fbb5ae8b-0f36-44b0-ba7c-b0e78902b247.png)

PS: @jolelievre & @PierreRambaud thanks guys for your quick replies :rocket:

Thnaks!

[2022-04-11 14:26] NeOMakinG commented on #20608
@khouloudbelguith Please avoid adding BO things to this EPIC, only things related to the classic theme should be here

[2022-04-11 14:26] NeOMakinG commented on #28090
@chrisvanberg do you plan to work on it? Overwise I'll take a look

[2022-04-11 14:33] lmeyer1 commented on #28217
@Hlavtox @NeOMakinG This one looks great. Unfortunately, I don't find the code where to copy form, and I'm using `classic-rocket` theme. So I cannot put more time in this. I will concentrate on updating `classic-rocket`.

[2022-04-11 14:33] Progi1984 commented on #27077
Release in progress

[2022-04-11 14:40] hibatallahAouadni commented on #28224
Hello @tom-combet

We are aware of this issue. This issue is a duplicate of #23815.
As you can see in the issue mentioned above, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2022-04-11 14:40] #28224 closed, assigned to nobody

[2022-04-11 14:42] PierreRambaud commented on #27982
I'm using PHP8, I don't manage to reproduce the issue:
![image](https://user-images.githubusercontent.com/1462701/162763047-a4bf5862-b320-4732-9714-816c2d12d2d6.png)
![image](https://user-images.githubusercontent.com/1462701/162763290-40951ef0-2140-4800-ab08-eead55a17d90.png)

This kind of thing is fully manage by PHP itself: https://github.com/php/php-src/blob/master/ext/pdo/pdo_dbh.c#L38

[2022-04-11 14:44] hibatallahAouadni commented on #28221
Hello @szykuc

Could you please explain your main problem, and provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-04-11 14:48] PrestaEdit commented on #27982
Are you using it onto the actual develop branch and with my first zip (with the declare strict type enabled) ?
The issue, is the fatal error due to the string code, and Exception awaiting an int. (https://www.php.net/manual/fr/class.exception.php#exception.props.code)

[2022-04-11 14:56] hibatallahAouadni commented on #28215
Hello @alfonsolr09

That's totally weird :scream:
Well then, could you please check your hosting server and enable/install APCu extension and check if you still encounter the same issue :pray:
Waiting for your feedback.

Thanks!

[2022-04-11 14:56] tdzierza commented on #28212
Important detail:
I tried to change tiny_mce configuration for:
BackOffice
Design - Pages - Edit page

I also change core file: js/admin/tinymce.inc.js (rename it)
And even after this change tinymce still working, but if it require this file shouldn't working

[2022-04-11 15:01] hibatallahAouadni commented on #27625
Hello @maofree

So, should I close this issue as it's not related to PS Core?
Waiting for your feedback :pray:

Thanks!

[2022-04-11 15:01] alfonsolr09 commented on #28215
But in two prestashop on the same server and same dir one of them httdocs/xxx and the other httdocs/xxx/dev
In first one i have the problem and in the second one no problem (new install)

[2022-04-11 15:06] hibatallahAouadni commented on #28215
Hello @alfonsolr09

I think it will be better to check with your hosting server :disappointed:
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration problem.

We will close this issue.

Thanks!

[2022-04-11 15:06] #28215 closed, assigned to nobody

[2022-04-11 15:08] maofree commented on #27625
Hi
Don't close this bug report.
Read all topic.
The problem is due from 2 variables.
From the module these 2 variables are sent in a mode but in the template tpl there are 2 different variables.
I understood this motive but without a fix many sites will have problems

[2022-04-11 15:11] lmeyer1 commented on #27625
@hibatallahAouadni
There is a PR from @okom3pom that fixes this issue. We are waiting for the PR to be merged.
@maofree
You could merge his fix into your source, while waiting for the PR.

[2022-04-11 15:14] hibatallahAouadni commented on #28216
Hello @lmeyer1

Could you please provide a screen record to help reproducing the issue.
Waiting for your feedback.

Thanks!

[2022-04-11 15:15] hibatallahAouadni commented on #27625
@lmeyer1 The PR won't be merged till the issue will be validated :wink:
That's why I asked for more infos to help me reproducing the issue :pray:

[2022-04-11 15:26] lmeyer1 commented on #27625
:sob: Prestashop procedures :sob:
Look at the code. Problem is obvious. In https://github.com/PrestaShop/ps_emailalerts/blob/0caaf4b498e708038a69c61b72e79eb770e8d945/ps_emailalerts.php#L573 we define two variables that are not used here https://github.com/PrestaShop/ps_emailalerts/blob/0caaf4b498e708038a69c61b72e79eb770e8d945/views/templates/hook/product.tpl#L38.

I cannot reproduce @maofree's iss

[2022-04-11 15:26] chrisvanberg commented on #28090
Hi @NeOMakinG, I was planning to but I have a lot to attend to at the moment.

If you want to start on it, we could exchange feedback and I could help you.
Feel free to take a look !

[2022-04-11 15:27] sLorenzini opened #28227 "Links redirect to 404 pages and spaces missing in wording"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Spaces are missing on "APC" and "Xc

[2022-04-11 15:40] Julievrz commented on #28211
You need to go to International > Translations > Add/Update a language > Select your language and click "Update". :-)

[2022-04-11 15:46] maofree commented on #27625
Hi
It is not important to reproduce this error 500, it is simple to understand.
The module pass 2 variables
$id_product
$id_product_attribute
But in the theme the tpl get these 2 values from the global variable
$product
So only compatible theme can manage this neew solution

[2022-04-11 16:21] camilleganzin commented on #27880
Hello @Gardella-Web,

To answer your question here is how the calculation is done :
1. Calculation is based on the initial price excl.VAT and including six digits after the decimal point and with one product.
2. The %UserGroup is deducted from that price.
3. The first round is done, including six digits after the decimal point.
4. We apply the VAT on this new price, including six digits after the

[2022-04-11 16:29] matks commented on #27625
@lmeyer1

😄  for a while I thought indeed that "procedures" were heavy and counter-intuitive. But actually I was told some very nice reasons why it's important that we find a reproducible list of steps we can follow.

1. If we have the clear list of steps to reproduce the issue, anybody can reproduce the issue and anybody can test the bugfix submitted to fix it. So it's transparent and a mark of t

[2022-04-11 17:16] camilleganzin commented on #28154
@lmeyer1 you are right, I didn't think about that scenario. Let's do what you suggest!

[2022-04-11 19:04] maofree commented on #27625
Hi @matks
in this case how is it possible to reproduce this error if the tests are done on the "classic" theme, but the errors are on addon's themes?

however I think it is not important to use $product variable to get id_product and id_product attribute, since they are supplied by the module and in that position they are updated when the combinations are changed

I solved it but maybe many have n

[2022-04-11 19:17] willowtree336 commented on #28096
We have the delivery slip available on the payment accepted as it is used as a packing slip.

I've not worked out the intended purpose of the delivery slip if it's only available AFTER a product has left the building.

[2022-04-11 21:44] alfonsolr09 commented on #28215
I have the solution app/config/parameter.php

?php return array (
  'parameters' =>
  array (
    'database_host' => 'localhost',
    'database_port' => '',
    'database_name' => 'prestashop_3',
    'database_user' => 'prestashop_3',
    'database_password' => '00000',
    'database_prefix' => 'ps_',
    'database_engine' => 'InnoDB',
    'mailer_transport' => 'smtp',
    'mailer_host' => '127.0.

[2022-04-11 21:44] alfonsolr09 commented on #28215
change to CacheMemcache

[2022-04-11 21:46] alfonsolr09 commented on #28215
thanks to @hibatallahAouadni

[2022-04-11 23:10] alfonsolr09 opened #28228 "error when trying to delete a file that was imported in excel format"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I cannot delete a file that I uploa

[2022-04-12 00:20] alfonsolr09 commented on #28096
Can you send a picture pls?

[2022-04-12 05:06] Seb33300 opened #28229 "Allow more customization file types"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Describe the sol

[2022-04-12 06:55] lmeyer1 commented on #28216
Hello @hibatallahAouadni,
I updated the steps to reproduce above to include installation of specific theme. While the bug happens only in themes using bootstrap >=4.0, when using `classic` theme, the problem gets unnoticed (just an extraneous CSS-class). Thank you for trying to reproduce another time.

[2022-04-12 07:06] tdzierza commented on #28128
I installed English language set as default. Next I switched back to Polish.
Now in ps_tab_lang I have two language - but unfortunately only English.

id_tab 	id_lang 	name
1 	1 	Dashboard
1 	2 	Dashboard
2 	1 	Sell
2 	2 	Sell
3 	1 	Orders
3 	2 	Orders
4 	1 	Orders
4 	2 	Orders
5 	1 	Invoices
5 	2 	Invoices

Maybe this issue is connected https://github.com/PrestaShop/PrestaShop/issues/22531

[2022-04-12 07:07] lmeyer1 commented on #27625
@matks Thanks for your explanations. @hibatallahAouadni also explained me on slack. I hope I can get enough information from @maofree to reproduce the issue and give steps to reproduce.

[2022-04-12 07:21] marwachelly commented on #28229
Hello @Seb33300 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-04-12 08:15] Seb33300 opened #28230 "Incorrect totals excluding tax in confirmation email"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you setup your shop to show pr

[2022-04-12 08:29] atomiix commented on #27982
I think I've been able to reproduce the issue:
<img width="1081" alt="Capture d’écran 2022-04-12 à 10 24 21" src="https://user-images.githubusercontent.com/2168836/162916027-b51d0a35-0707-4ded-9774-d74527021c29.png">

[2022-04-12 08:51] atomiix commented on #27982
And a useful comment from 12 years ago: https://www.php.net/manual/fr/class.pdoexception.php#95812 😅

[2022-04-12 08:54] hibatallahAouadni commented on #28215
@alfonsolr09 you're welcome :relaxed: even it seems like I haven't really helped you properly :sweat_smile:

[2022-04-12 08:57] marwachelly commented on #28230
Hello @Seb33300,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #[17764](https://github.com/PrestaShop/PrestaShop/issues/17764)
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-04-12 08:57] #28230 closed, assigned to nobody

[2022-04-12 08:57] marwachelly commented on #28230
Duplicate of #[17764](https://github.com/PrestaShop/PrestaShop/issues/17764)

[2022-04-12 09:00] Seb33300 commented on #17764
PR to fix this issue: https://github.com/PrestaShop/PrestaShop/pull/28231

[2022-04-12 09:00] #16415 closed, assigned to nobody

[2022-04-12 09:01] #21189 closed, assigned to nobody

[2022-04-12 09:02] NeOMakinG commented on #19028
We did a lot of improvements in the last 2 years, I guess we can't really do more, it's now way faster

[2022-04-12 09:02] #19028 closed, assigned to nobody

[2022-04-12 09:06] NeOMakinG commented on #23586
@PrestaShop/ux-team @PrestaShop/product-team What should we do about this issue? We can't just let it open without any active discussion :/

[2022-04-12 09:11] marwachelly commented on #28228
Hello @alfonsolr09,

I was able to reproduce the issue with PrestaShop version 1.7.7.8.

https://user-images.githubusercontent.com/89604350/162924549-5ab2c5d4-62ec-44d7-9d95-72cee80ccf25.mp4

I'll add this to the debug backlog so that it's fixed. Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you a

[2022-04-12 09:19] marsaldev commented on #9676
@MatShir Basically it should be "re-implemented"? It is still valid this issue?

[2022-04-12 09:27] lmeyer1 opened #28233 "ps_emailalerts: As a merchant be informed about customers subscribing to product availability notifications"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-12 09:28] hibatallahAouadni commented on #25474
@lmeyer1 We change our Issue Management Workflow, so we use/have only bugs to fix and features to implement :wink:
No improvement :smile:

[2022-04-12 09:46] marwachelly commented on #28213
Hello @Akmenelis,

It seems that you have a cache problem. Could you pleae try to clean your cache browser or use a new Incognito Window ?

Could you please check and feedback?

Thanks,

[2022-04-12 09:55] chambrin opened #28236 "Add delay variables in the invoice pdf"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Add delay variables, like: {$produc

[2022-04-12 10:02] lmeyer1 commented on #27026
@marioquartz You have to update the translations
![Capture d’écran 2022-04-12 120151](https://user-images.githubusercontent.com/7520695/162935116-463854a9-acb2-4047-84c9-bc3a7b3d69c0.png)

[2022-04-12 10:08] Akmenelis commented on #28213
I tried clering my browser cache, i tried to open a webpage from other browsers and devices. I also deleted var folder on server that contains cache. The trouble does not go away.

[2022-04-12 10:17] lmeyer1 opened #28238 "ps_emailalerts Some texts are in the wrong translation domain"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the module ps_emailalerts, some

[2022-04-12 10:25] VipinNethues commented on #28176
Hi @khouloudbelguith
This issue is with  with PS1780.

Here is the screenshot from BO > Shop Parameters > General page
![2022-04-12_15-45](https://user-images.githubusercontent.com/20845330/162940130-2c91566d-7672-4694-83ad-7ebb0a9bce3e.png)

Thanks

[2022-04-12 10:26] tom-combet commented on #28224
In fact, I'm not able to reproduce it in last version, special characters are correctly escaped.

Sorry for the inconvenience... 😅

[2022-04-12 10:36] #27986 closed, assigned to PierreRambaud

[2022-04-12 10:53] kratekk opened #28239 "Create a new hook 'hookActionProductGridDefinitionModifier'"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-12 11:23] marwachelly commented on #28239
Hello @kratekk,

I noticed that the hook **ActionProductGridDefinitionModifier** doesn't exist not only in 1.7.8.5 but also in all previous PS version and in the [List of hooks in PrestaShop 1.7](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/#full-list). Do you want to add a new  hook?
Waiting for your feedback :blush:

Thanks,

[2022-04-12 11:27] kratekk commented on #28239
Hi @marwachelly  do you mean if I registered new hook? Yes

`$this->registerHook('actionProductGridDefinitionModifier')`

`public function hookActionProductGridDefinitionModifier(array $params)
	{
		/** @var \PrestaShop\PrestaShop\Core\Grid\Definition\GridDefinition */
		$gridDefinition = $params['definition'];

	    $gridDefinition->getBulkActions()->add(
	            (new SubmitBulkAction('relat

[2022-04-12 11:33] marwachelly commented on #28239
Hi @kratekk ,
So your issue is a new feature not a bug. Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

[2022-04-12 11:54] #27865 closed, assigned to sowbiba

[2022-04-12 12:04] marioquartz commented on #27026
I updated two times, as minimun. In the end, copy the files from other version in my theme folder was the fix. I hope your open issue makes them fix it in their end.

[2022-04-12 12:34] marwachelly commented on #28238
Hello @lmeyer1,

I think the issue is the same as https://github.com/PrestaShop/PrestaShop/issues/17810. Could you please check?

Many thanks,

[2022-04-12 12:46] Progi1984 commented on #27140
@khouloudbelguith I just check now (with Chrome) with the `dev` branch and I haven't got the problem. Could you check it again, please ?

[2022-04-12 12:47] #25024 closed, assigned to nobody

[2022-04-12 13:48] marwachelly commented on #28213
Hello @Akmenelis ,

Despite our efforts, we were not able to reproduce your issue with the provided information.

https://user-images.githubusercontent.com/89604350/162977013-f8f1e04e-6834-4d7f-ab7b-198011886a30.mp4

It seems that your issue is not a PrestaShop core bug but most likely a module problem.
If you have questions about using PrestaShop or third-party modules, or if you need help with y

[2022-04-12 13:48] #28213 closed, assigned to nobody

[2022-04-12 14:18] lmeyer1 commented on #19227
It looks like this is now fixed, isn't it?
I updated the French translation, and the translations for this module were now included.

[2022-04-12 14:30] marwachelly commented on #28176
Hello @VipinNethues,

I didn't manage to reproduce your issue. I used PS1.7.8.0 and INR currency.

https://user-images.githubusercontent.com/89604350/162985465-901c0f7b-d575-4b93-a7b4-f8e8d78fb33a.mp4

Did I miss some thing?

Waiting for your feedback :blush:

Thanks,

[2022-04-12 14:33] florine2623 opened #28241 "BO > Positions - Selection card is not well positioned"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There's a regression in develop bra

[2022-04-12 14:34] #28238 closed, assigned to nobody

[2022-04-12 14:35] marwachelly commented on #28238
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/17810

[2022-04-12 14:41] marwachelly commented on #28236
So we are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #[Issue_number](https://github.com/PrestaShop/PrestaShop/issues/19768).
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-04-12 14:41] #28236 closed, assigned to nobody

[2022-04-12 14:42] marwachelly commented on #28236
Duplicate of #19768

[2022-04-12 15:06] sLorenzini opened #28242 "ps_emailalerts modules are not hooked at all on fresh install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

ps_emailalerts module is not hooked

[2022-04-12 15:16] hibatallahAouadni commented on #28242
Hello @sLorenzini

I reproduce the issue only on develop. On 1.7.8.x, the mail alert and PSGDPR module are both well displayed:

![image](https://user-images.githubusercontent.com/23308427/162995128-f7af06a5-04f6-4b2c-8e6b-056de322341e.png)

While on develop, those two modules are not displayed in FO, till you reset them.
SO, indeed it's a regression! thanks @sLorenzini :relaxed:

Similar to this

[2022-04-12 15:46] AureRita commented on #27140
Hi @Progi1984,

I reproduced it on develop with Firefox and Google Chrome with private mode, on firefox and google without the private mode i didn't reproduce it

[2022-04-12 16:01] fabienvallon commented on #25350
Border right is tiniest than left one.

LGTM otherwise

[2022-04-12 16:07] lmeyer1 commented on #27625
This bug is not reproducible with @maofree's theme (PRS663 v.3) and ps_emailalerts (v.2.3.3) neither on PS 1.7.6.5 nor on PS 1.7.8.5

[2022-04-12 18:41] excitedbox commented on #24111
PrestaShop should/needs to target Symfony 5 for several reasons. In reality, work should be starting now for Symfony 6 support.  It has taken over 2 years going from 3->4 and in less than 18 months bug fixes and security updates end. There is no point upgrading to a system that is already obsolete (ask Germany how their broadband internet rollout has gone).

A MAJOR reason to target Symfony 5 is t

[2022-04-12 21:35] excitedbox commented on #28017
I could see having easy admin bundle as being useful if someone wants to create custom admin interfaces, integrations of separate apps or components of their site that don't belong in the shopping cart.

It wouldn't be too hard to make it possible to add certain symfony bundles as needed but I also agree putting them in the production install for everyone just opens up a bunch of security issues.

[2022-04-13 00:03] alfonsolr09 commented on #28228
@marwachelly thats bug its with 1.7.8.5 too

[2022-04-13 00:04] alfonsolr09 commented on #28214
and what is the vendor folder used for??

@hibatallahAouadni

[2022-04-13 07:06] szykuc commented on #28221
I thought I had described the problem thoroughly enough.
The main problem is that i can see french product translation in polish multistore when only polish lang is enabled for polish multisotre and vice versa.
That allow me to fill 4 of total titles (end other info like description) in 1 product. Polish and French in polish multistore and same in french multistore

[2022-04-13 07:25] #19368 closed, assigned to nobody

[2022-04-13 07:25] #19320 closed, assigned to nobody

[2022-04-13 07:33] bibos commented on #9866
So I changed the message in PaymentModule.php, and it appears that's not the one shown in the logs.
But I can't find it anywhere else...

Does someone have an example of the "cart cannot be loaded" message in another file?

Thanks.

[2022-04-13 07:42] marioquartz commented on #27026
I updated (April 1st):
-Shop
-Module
-Translations
So yes. All, the 100% of all things that can be updated is updated. And no, the translations were broken. The only fix were copy the translations of other version in the folder of my child theme of clasic theme.

[2022-04-13 08:42] hibatallahAouadni commented on #17764
@Seb33300 thanks for your PR :rocket:

[2022-04-13 08:58] Gardella-Web commented on #27880
Hello,

ok again

4.38 excl.VAT

4.38 x 0.85 (-15%) = 3.723

so 3.72 incl.VAT

3.72 x 1.2 (+20%) = 4.464

ROUND_ITEM => so 4.46 TTC

3.72 x 9 = 33.48 ht
4.46 x 9 = 40.14 ttc

VAT = 6.66

Pls, see your invoice, it s false !!

![facture](https://user-images.githubusercontent.com/71068367/163139712-e733d998-d1e2-482e-a7ab-5f448a65895d.JPG)

[2022-04-13 09:00] hibatallahAouadni commented on #28239
Ping @PrestaShop/prestashop-core-developers wdyt about creating a new hook to add new items to bulk action list for Product list in admin?
Thanks in advance :pray:

[2022-04-13 09:02] hibatallahAouadni commented on #28025
Hello @davidglezz

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-13 09:02] #28025 closed, assigned to nobody

[2022-04-13 09:27] maofree commented on #27625
![9](https://user-images.githubusercontent.com/653230/163145230-30a63fca-d1fd-4223-a901-33678c48d77c.png)
![6](https://user-images.githubusercontent.com/653230/163145233-c6e13781-23ef-4f98-8e01-84bcaa99bb87.png)
![5](https://user-images.githubusercontent.com/653230/163145249-0b398a2f-4b4a-4dd6-92c2-25dce7947300.png)

Hi
here is the error, also present on 1.7.8.3, so I guess also on 1.7.8.5
the err

[2022-04-13 09:30] masiorama commented on #17317
I am facing the same problem...

[2022-04-13 09:35] maofree commented on #27625
I've sent to @lmeyer1 the access to the real website. without that product.tpl the page get a 500 error

[2022-04-13 09:36] hibatallahAouadni commented on #24807
Ping @kpodemski did you add the proposed new hook in your PR https://github.com/PrestaShop/ps_emailalerts/pull/86 ?
If yes, shall we close this issue as `Fixed`?

[2022-04-13 09:41] hibatallahAouadni commented on #25474
Hello @lmeyer1

Thanks for the reminder :pray:
Indeed this issue has been fixed, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/162700943-3a8523ca-1bcc-475e-9180-82991c1054e3.mp4

Closing this issue :tada:
Thanks @kpodemski for your PR :rocket:

Thanks!

[2022-04-13 09:41] #25474 closed, assigned to nobody

[2022-04-13 10:53] hibatallahAouadni commented on #28221
Hello @szykuc

The main problem is that we can't configure a specific language for each shop, and that result the problem that you encounter 😞
IMHO, I think if we fix the issue that I mentioned in my comment above, you will not encounter this problem.

Thanks!

[2022-04-13 11:39] oz-pa opened #28249 "Issues in Modules et Services"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I put new zip on modules thats

[2022-04-13 12:26] hibatallahAouadni commented on #27946
Thanks @Progi1984 :pray: I will try to reproduce the issue with these new steps :wink:

[2022-04-13 12:44] lmeyer1 commented on #27625
@hibatallahAouadni
I tested on one of @maofree's websites. The issue is not related neither to prestashop core, nor to ps_emailalerts. On his website, there is a broken module (that I did not try to identify), that uses the hook `displayProductAdditionalInfo` and is called on this hook before `ps_emailalerts`.
Before calling `{include file='catalog/_partials/product-additional-info.tpl'}` in `them

[2022-04-13 12:53] maofree commented on #27625
Hi
the problem is not due from a module, I've disabled all modules with the hook displayProductAdditionalInfo and the error continue to be present

[2022-04-13 13:10] lmeyer1 commented on #27625
Look at `/public_html/themes/PRS663/templates/catalog/_partials/product-additional-info.tpl`, I've added ``. I added the same in `/public_html/themes/PRS663/modules/ps_emailalerts/views/templates/hook/product.tpl`.
Look at what we get:
![Capture d’écran 2022-04-13 150805](https://user-images.githubusercontent.com/7520695/163187042-51c6fee6-3747-4499-b3ba-ebb45cb8b6a3.png)
The content of the variab

[2022-04-13 13:13] maofree commented on #27625
I might know why it is not possible to get the variables coming from the module instead of taking the generic theme variable $product?

[2022-04-13 13:50] hibatallahAouadni commented on #28249
Hello @oz-pa

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise steps to reproduce the issue**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-04-13 13:50] #28249 closed, assigned to nobody

[2022-04-13 14:00] hibatallahAouadni commented on #27140
Hello @Progi1984 & @AureRita

I didn't reproduce the issue with PS178x/develop and Chrome with/without, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/163197473-80a84449-aade-41c3-9275-628df74498ca.mp4

@khouloudbelguith could you please check if you still encounter the same issue? :pray:
Thanks in advance!

[2022-04-13 14:28] florine2623 opened #28253 "BO > Profile - Exception is displayed when adding invalid field and choosing avatar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I edit my Profile with an inva

[2022-04-13 14:57] oz-pa commented on #28249
Hi there, when we will upload our new sitemap.Zip document what you
guys gave to us. So in the final point when we put there will be
white-page. I wrote what you send but couldn't find relation of it.
Thank you have a great time !

[OZPA_signature]

Hakan CETIN

Responsable Commercial

Sarl OZ-PA

12 rue de l'Escouvrier

95200 SARCELLES

Tél: 00 33 (1) 34 19 80 78

Gsm (FR): +33 612 08 51 81

Gsm

[2022-04-13 15:02] matks commented on #28239
Hello @kratekk in 8.0 we'll have a full new product list page, and it has _as far as I know_ all the hooks you would need 😄 .

But your focus in on 1.7.8.5 . Unfortunately on 1.7.8.x versions we only deliver bug fixes and adding a hook would be a new feature. We only deliver bug fixes in order to keep the version as stable as possible so we will not add a hook in 1.7.8.6 .

However 8.0.0 should co

[2022-04-13 15:02] #28239 closed, assigned to nobody

[2022-04-13 15:08] marwachelly opened #28254 "BO - Useless cross icon in the dashboard page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 Useless cross icon in the dashboar

[2022-04-13 15:18] Amiga500 opened #28255 "pdf invoice in customer page isn't create"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The invoice from the admin control

[2022-04-13 15:31] photinia73 opened #28256 "Blockreinsuarence after update to 5.1.1 ikon error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating module Blockreinsuar

[2022-04-13 15:33] hibatallahAouadni commented on #28254
Hello @marwachelly

This is the expected behavior :wink: it's not a regression! Check this issue #22458
This is the new design made by @prestascott

![image](https://user-images.githubusercontent.com/23308427/163216777-71eb53b7-4227-41ca-b5f9-021987c8cdf8.png)

Closing the issue.
Thanks!

[2022-04-13 15:33] #28254 closed, assigned to nobody

[2022-04-13 15:36] Juiliard opened #28257 "ecommscript-integrationapp.trustpilot.com refused to connect"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

copied from https://github.com/trus

[2022-04-13 15:57] hibatallahAouadni commented on #27625
Hello @maofree & @lmeyer1

Thanks for your all feedbacks 🙏
Closing the issue as it's not related to PS Core.

Thanks!

[2022-04-13 15:57] #27625 closed, assigned to nobody

[2022-04-13 16:01] hibatallahAouadni commented on #28256
Hello @photinia73

Your issue seems duplicate of this one #28188
Could you please check and feedback 🙏

Thanks!

[2022-04-13 16:04] hibatallahAouadni commented on #28257
Hello @Juiliard

It seems that your issue is not a PrestaShop core bug.
If your module is trustpilot Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-04-13 16:04] #28257 closed, assigned to nobody

[2022-04-13 16:09] hibatallahAouadni commented on #28255
Hello @Amiga500

I didn't reproduce your issue with PS1785 😞
Could you please enable the debug mode and provide screen record 🙏

Waiting for your feedback.
Thanks!

[2022-04-13 16:09] micka-fdz commented on #27635
Hi @Progi1984 @matks, any idea?

It seems you both worked on this PR.

[2022-04-13 16:53] matthieu-rolland commented on #28084
fixed here: https://github.com/PrestaShop/TranslationFiles/pull/22

[2022-04-13 17:35] #28084 closed, assigned to Progi1984, matthieu-rolland

[2022-04-13 19:58] matks commented on #27635
@micka-fdz If the issue was introduced by this commit, this is an unwanted side-effect. Looking at the code in https://github.com/PrestaShop/PrestaShop/pull/19231 I see nothing that could create that but maybe a behavior unknown to us has this side effect

[2022-04-14 04:04] FF27 commented on #28255
Actually I have the same error here, same version and same PHP 7.4 ... in debug mode nothing appear.
It looks like from the admin mode it is linking to a token to download the PDF but from the customer page instead not.

For example from the client control panel  --- > index.php?controller=pdf-invoice&id_order=6

---> page not found (404)

From the admin control panel  --- > admin/index.php/sell/o

[2022-04-14 07:16] #16428 closed, assigned to marsaldev

[2022-04-14 07:43] JoryHogeveen commented on #25350
@NeOMakinG

Since invoices are PDF files and not HTML in browsers, I'm not sure how related that would be.
When looking at the PDF files in Adobe Reader, the same thing occurs in some instances.

As the initial response states, of course it's an improvement and not a severe bug or anything, but it's weird nonetheless and I get the impression that it's related to the table structure in the PDF temp

[2022-04-14 08:16] khouloudbelguith commented on #28255
Hi @Amiga500,

I did not manage to reproduce the issue with PS1785 using php7.4
I attached a screen record

https://user-images.githubusercontent.com/16067358/163343484-da030c15-60c8-4fb1-bd48-79abbfcf7f44.mp4

Thanks to check and feedback.

[2022-04-14 08:31] TristanLDD commented on #28162
Indeed, the scroll bar and black border should not appear on the modal, especially on a small modale like this

[2022-04-14 08:38] TristanLDD commented on #27278
Hi @rickygzz, do you have any news about the last suggestions we made about your contribution ? This is a nice improvement for the product page :)

[2022-04-14 08:51] MeKeyCool commented on #26557
After further investigations, problem comes from inconsistency between page template and some js that update image sizing dynamically. @NeOMakinG confirmed that specifications are not clear between product view, quick view and maybe other product pages.

@PrestaShop/product-team we need you !! :ambulance:
Please could you decide if you want medium or large image for product views ?

[2022-04-14 08:57] FF27 commented on #28255
@khouloudbelguith

https://user-images.githubusercontent.com/19433897/163350859-4aa6ffb7-286a-46e2-a0d5-59d5e28a33f1.mp4

[2022-04-14 09:16] rcoussy-16h33 opened #28260 "Can't change order shipping address in back-office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I want to change the shipping addre

[2022-04-14 09:39] khouloudbelguith commented on #28260
Hi @rcoussy-16h33,

Thanks for your report.
I did not manage to reproduce the issue with PS1785 + php7.4.
I attached a screen record

https://user-images.githubusercontent.com/16067358/163358370-533785b4-9c10-4bd4-bcf0-d6730a9331bd.mp4

Does this issue occur only with this order?
Have you any cart rules created?
Did you change the country of your shipping address?

Thanks!

[2022-04-14 09:46] khouloudbelguith commented on #28255
@FF27, could you please provide me a screenshot from BO > Shop Parameters > Traffic & SEO page >  Schema of URLs  section

![image](https://user-images.githubusercontent.com/16067358/163359806-bc5f26f4-3984-4a43-9e2b-a070347b4722.png)

Thanks!

[2022-04-14 09:49] eternoendless commented on #24111
Hi @excitedbox and thank you for your feedback.

There are several reasons why we chose Symfony 4.4 and not 5.

The first one is simple: 5.4 was released in November 2021, _after_ the development of PS 8 started. We have already learned from our mistakes, so we avoid adopting critical software too early (Bootstrap 4 alpha I'm looking at you).

Second, the gap between 3.4 and 5.4 was bigger than to

[2022-04-14 09:49] #28131 closed, assigned to Progi1984

[2022-04-14 09:58] photinia73 commented on #28256
I saw the post https://github.com/PrestaShop/PrestaShop/issues/28188 but there the problem between dafault and custom ikons. I have all ikons custom. And see that was displayed only the first

[2022-04-14 10:13] TristanLDD commented on #28217
Hello @NeOMakinG , I made new mockups for the alerts display,  you can find te design specs here: https://www.figma.com/file/aCBf2HlypjT0ZxP2XcsT68/Core-Github-issues?node-id=1503%3A11412

<img width="1035" alt="ps_emailalerts desktop" src="https://user-images.githubusercontent.com/27484094/163364330-0c85f7ca-8aee-4bc8-83c4-cf4dd1ce14a2.png">
<img width="404" alt="ps_emailalerts mobile" src="https

[2022-04-14 10:16] rcoussy-16h33 commented on #28260
Hi @khouloudbelguith,

- This issue occur with every order.
- I do have a few cart rules, but none seems related to the order I want to change.
- I did not change the country of my shipping address.

What is `price_with_reduction_without_tax` related to?

Thanks

[2022-04-14 10:24] TristanLDD commented on #27896
Hello @MeKeyCool, thanks for your feedback!

The behavior we want for the tabs notification alerts is indeed to hide them instead of showing "0"
Thanks!

[2022-04-14 10:39] domross95 opened #28263 "FO > Product with no image do not display default image"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If a product has no image, don't co

[2022-04-14 10:43] FF27 commented on #28255
<img width="754" alt="ddssd" src="https://user-images.githubusercontent.com/19433897/163374118-0c11afb7-5aff-412a-bbb4-31710f859e10.png">

[2022-04-14 10:44] FF27 commented on #28255
I upgraded recently with the module 1-click-upgrade.
probably is better i remove everything and installing there just the last version?

[2022-04-14 10:44] alfonsolr09 commented on #27026
I have updated everything, the store to the latest version 1.7.8.5 and the module also to the latest version and the translations work correctly in

[2022-04-14 10:46] #28130 closed, assigned to Progi1984

[2022-04-14 10:51] khouloudbelguith commented on #28263
Hi @domross95,

Thanks for your report.
I did not manage to reproduce the issue with PS1785.
I attached a screen record

https://user-images.githubusercontent.com/16067358/163376904-0a914df8-f654-48af-807d-b46020d825ce.mp4

Thanks to check and feedback.

[2022-04-14 10:53] domross95 commented on #28263
Yes, actually this problem is not evident with the classic theme. In the presence of a different theme, the error occurs.

[2022-04-14 10:57] khouloudbelguith commented on #28263
@domross95, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.

Thanks for your understanding!

[2022-04-14 10:57] #28263 closed, assigned to nobody

[2022-04-14 11:00] domross95 commented on #28263
@khouloudbelguith Thanks for your patience. I will contact the developer for assistance.

[2022-04-14 11:08] FF27 commented on #28255
i tried to toally remove the prestashop directory and installing a totally new one with :

fetch fetch https://download.prestashop.com/download/releases/prestashop_1.7.8.5.zip

same exact problem!!!

https://user-images.githubusercontent.com/19433897/163379262-f5344522-9a87-41b2-a638-05b374ae0be4.mp4

[2022-04-14 11:22] FF27 commented on #28255
tried with 1.7.8.4 -- SAME!

[2022-04-14 11:23] khouloudbelguith commented on #28260
@rcoussy-16h33,

Did you use a fresh install or an upgrade from an old version?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
h

[2022-04-14 11:33] khouloudbelguith commented on #28255
@FF27, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration: screenshot from BO > Advanced Parameters > Information page
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.

[2022-04-14 11:42] khouloudbelguith commented on #28128
Hi @tdzierza,

Thanks for your feedback.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #27029
So, I close it.
Thanks!

[2022-04-14 11:42] #28128 closed, assigned to nobody

[2022-04-14 11:42] khouloudbelguith commented on #28128
Duplicate of #27029

[2022-04-14 11:55] TristanLDD commented on #27132
Hello @mparvazi, thank you for your feedback!

The installer design is indeed very old, we are working on new mockups as well as new features to make the installation process more fluid for the user. It's a work in progress, however we can't tell exactly when the new installer will be integrated, we hope to make it available as soon as possible.

Here is a quick overview of the design we are worki

[2022-04-14 12:13] TristanLDD commented on #23308
Hello @Hlavtox, it's a very interesting feature indeed, the design proposal looks good to me as it's using the UI kit components and the placement is consistant with the rest of the page

[2022-04-14 12:23] khouloudbelguith opened #28264 "Blockreassurance - an exception is displayed in the product page after upgrading the module to v5.1.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

(modified by @matks / the initial b

[2022-04-14 12:28] TristanLDD commented on #27580
Hello @mparvazi, thank your for your suggestions

I agree with your proposition for slider images options, except for the "fill" option

Like many other content-creation interfaces managing image display, we don't want to give the possibility to distord an image, as it is a bad design practice especially for ecommerce websites. We want to encourage the user to make his images the right size rather

[2022-04-14 12:31] khouloudbelguith commented on #28256
Hi @photinia73,

Thanks for your report.
I did not manage to reproduce the issue with PS1785 & blockreassurance v5.1.1 after an upgrade from v5.1.0
I attached a screen record

https://user-images.githubusercontent.com/16067358/163391011-595e9090-cb50-4291-8a49-c073cbc761c3.mp4

Thanks to check and feedback

[2022-04-14 12:35] Progi1984 commented on #27478
Fixed in #28240.

[2022-04-14 12:35] #27478 closed, assigned to Progi1984

[2022-04-14 12:36] rcoussy-16h33 commented on #28260
The problem come from [this module](https://addons.prestashop.com/fr/logiciel-de-caisse-pos/13654-rock-pos-point-de-vente-et-omnicanal.html) which is outdated. Disabling it resolved the issue.
I'll install the latest version and see if it works.

Thank you for your help!

[2022-04-14 12:36] #28260 closed, assigned to nobody

[2022-04-14 12:41] #28151 closed, assigned to NeOMakinG

[2022-04-14 12:42] TristanLDD commented on #25798
Hello @NeOMakinG, having no indication of the tooltip is indeed a problem on legacy pages, the wanted behavior would be to add the same tooltip icon as we have on migrated pages so we have a consistant behavior on all pages

[2022-04-14 12:50] khouloudbelguith commented on #28260
@rcoussy-16h33, thanks for your feedback!

[2022-04-14 12:56] photinia73 commented on #28256
Do you see this problem on the my site https://old.te.com.ua/uk/av-resiveri-procesori/2516-denon-avr-s650h.html ?

[2022-04-14 13:03] TristanLDD commented on #15788
@NeOMakinG
Would it be possible to rearrange the columns' widths of this specific table and reduce the ID width in order to give more space to the email input?

This table has a lot of columns which makes it hard to fit everything properly, but as the merchants will most of time use email address to find clients, it will still be helpful if we can win something like 30-40px in the email input fiel

[2022-04-14 13:22] khouloudbelguith commented on #27140
Hello :slightly_smiling_face:

This issue is fixed with this PR: https://github.com/PrestaShop/blockwishlist/pull/169
It is ok with PS1785 & develop branch using this release: https://github.com/PrestaShop/blockwishlist/pull/143

https://user-images.githubusercontent.com/16067358/163399662-76d9bf46-a5ac-4580-8f41-7e4fa9031c2d.mp4

I will close the issue.

Thanks!

[2022-04-14 13:22] #27140 closed, assigned to nobody

[2022-04-14 13:48] khouloudbelguith commented on #28069
Hi @Hlavtox,

I manage to reproduce the issue with 177x, 178x and develop branch using the statsdata v2.1.0.
![image](https://user-images.githubusercontent.com/16067358/163404312-e9ab7251-6660-4d2b-8b79-0d2313875f34.png)

Thanks for the PR!

[2022-04-14 13:55] khouloudbelguith commented on #28256
@photinia73, could you please provide me the exact difference between the first block and the other blocks.

![image](https://user-images.githubusercontent.com/16067358/163405746-0ac5dfd6-e9d4-4e51-893b-b099cf35beaa.png)

All blocks are created manually?

Thanks!

[2022-04-14 14:04] photinia73 commented on #28256
All blocks are similar and created myself. Work properly on the v 5.1.0 here https://te.com.ua/uk/akustika-vbudovana/3011-sonance-visual-performance-vp52r-utl.html

I can give you the credentials to the BO and FTP, just tell how to do this.

[2022-04-14 14:08] #28256 closed, assigned to nobody

[2022-04-14 14:22] photinia73 commented on #28256
I am from Ukraine and have not possibily to pay money for the support (( thank you for your time

[2022-04-14 14:38] photinia73 commented on #28256
To resolve this issue all who have the same problem must go to the Mysql and clean the field icon in the Table ps_reassurance  if you have custom icon. As I can understand you have to leave onle the field custom or default img to show them correct
If the both fields icon and custom_icon are full the img does,`t display
![image](https://user-images.githubusercontent.com/50954519/163413456-2bacfbf8-

[2022-04-14 14:52] TristanLDD commented on #24389
Hello, here is the link for the modal's mockups:

https://www.figma.com/file/aCBf2HlypjT0ZxP2XcsT68/Core-Github-issues?node-id=1507%3A11496

I would prefer to avoid overlapping modals, this one should replace the combination modal as it would be confusing to have both modals action buttons in the same time. We can reopen the combination modal after the user closed this one

<img width="980" alt="c

[2022-04-14 14:58] #28144 closed, assigned to NeOMakinG

[2022-04-14 14:58] khouloudbelguith commented on #25400
Hi @sergiobm3,

Thanks for your report.
I tried with PS1785, I have the same result when adding product_feature & product via API
I used this script to add a `product_feature`
[code]
I have this response
[code]

I tried to use this script to add a `product` via API
[code]

I have this response
[code]

I attached a screen record

https://user-images.githubusercontent.com/16067358/163417459-5a4e7ed3

[2022-04-14 15:09] wop99 commented on #9599
When you say "in the file" do you mean the core files or through Admin?  Can this change be done through the Admin?  Need to fix this!

[2022-04-14 16:19] matks commented on #26557
I add the label then ;)

[2022-04-14 17:19] 8ternity commented on #16004
Today i checked the latest version 1.7.8.5 and still the same configuration.

![Prestashop 1.7.8.5](https://user-images.githubusercontent.com/16780421/163440202-80d4296e-44c3-446f-9739-068a9284a514.png)

[2022-04-14 19:20] #10405 closed, assigned to Prestaworks

[2022-04-14 19:22] QueeNFrisk commented on #28206
Im apolagize, the issue is translated now 👏🏻

[2022-04-14 20:06] serracol commented on #9599
Yes this is fix that involves modify this file via FTP:

In the file modules/ps_emailalerts/ps_emailalerts.php
replace: Emails.Subject
with this: Modules.Emailalerts.Emailsubject
Clear cache and now you will be able to find and change Emailsubjets in the backed translation.

Hope this helps, works for me until PS fix and solve the problem in next releases.

Best regards,

[2022-04-15 08:12] Gardella-Web commented on #27880
Small precision, Prestashop is in B2B and test made on the 1.7.6.2 and the 1.7.7.8.

To go further ...
I make a credit note on this invoice
I put the quantity => 9
it gives me the result corresponding to the invoice (bad) and when I validate the credit note.... everything changes

the credit note is 33.48 excl.vat
but incl.vat = 40.14 ...

No coherence, there is a big problem, or I've missed somet

[2022-04-15 08:18] HanaRebaiQA commented on #28206
Hello @QueeNFrisk

Thank you for the translation.
It seems that your issue is similar to this one [#14439](https://github.com/PrestaShop/PrestaShop/issues/14439)
Could you confirm it ?

Thanks!

[2022-04-15 09:01] HanaRebaiQA commented on #28216
Hello @lmeyer1

I tried to reproduce your issue using `ps_emailalerts 2.3.3` and i Installed a theme using bootstrap like mentionned in the Prerequisites above the [classic_rocket.zip](https://github.com/prestarocket-agence/classic-rocket/releases/tag/3.1.0)

I have an exception using this theme when i navigated to a product in FO.
![image](https://user-images.githubusercontent.com/92912932/163550

[2022-04-15 09:04] matks commented on #28017
Hi @tom-combet right now I don't feel confortable approving the idea of adding this 😞

But I agree we need at some point to decide whether or not to include dev-targeted tools like this one. It's a tough decision but it's in our minds 👍

[2022-04-15 09:07] justeen35 commented on #14979
+1

[2022-04-15 12:03] FF27 commented on #28255
Actually is not a Prestashop bug. It was the misconfiguration of the default NGINX one that is on the prestashop website!

Changing all the rewrites inside the server block did the trick, now it works!

    # [EDIT] If you are using multiple languages.
    # rewrite ^/fr$ /fr/ redirect;
    # rewrite ^/fr/(.*) /$1;

       rewrite ^/([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$1$2$3.jp

[2022-04-15 12:08] HanaRebaiQA commented on #27946
Hello @jf-viguier

I did reproduce your issue on PS1785 when i renamed the `layout-full-width.tpl `file
Go to FO ==> An exception is thrown
![image](https://user-images.githubusercontent.com/92912932/163568548-05965a6e-ac3e-481a-a6c3-64ca6bdf2b5f.png)

**PS1785**

https://user-images.githubusercontent.com/92912932/163568519-37cde7bd-45c5-479b-8dc2-2e1cd2491c56.mp4

I could also reproduce the issue

[2022-04-15 12:47] Amiga500 commented on #28255
Hi @khouloudbelguith,
sorry a lot for the delay, i used NGINX too, and i confirm that with rewrite, all is working nice now!

[2022-04-15 12:50] #28069 closed, assigned to Hlavtox

[2022-04-15 12:51] HanaRebaiQA commented on #28255
Hello @Amiga500

Thanks for your feedback!
I'll close this issue as it's not a Core bug.

Otherwise, if you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the

[2022-04-15 12:51] #28255 closed, assigned to nobody

[2022-04-15 12:58] Renrhaf opened #28269 "Related product missing name & image in product edit page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the edit page of a product, some

[2022-04-15 13:02] matks commented on #27973
### Release issue reported

I'm checking whether everything's OK for 1.7.8.6 release to be built and tested next week. I found a problem.

Core Pull Request https://github.com/PrestaShop/PrestaShop/pull/27162 introduced a SQL structure change.
Autoupgrade Pull Request https://github.com/PrestaShop/autoupgrade/pull/455 was submitted to add SQL migration script inside autoupgrade module.

BUT the au

[2022-04-15 13:20] HanaRebaiQA commented on #18948
Hello @Hlavtox

I was able to reproduce your first issue on a new develop

**Error when clicking "Enable/Disable" too fast : NOK**

https://user-images.githubusercontent.com/92912932/163574823-15a73ed6-7a78-492d-96c7-eea995125f05.mp4

For the second one, i was not able to reproduce it

**Display error after module uninstall : OK**

https://user-images.githubusercontent.com/92912932/163574201-6e162

[2022-04-15 13:57] HanaRebaiQA commented on #28269
Hello @Renrhaf

Thanks for reporting the issue.
I did reproduce the issue with Product V1 but it's fixed in Product V2 on develop with this [PR](https://github.com/PrestaShop/PrestaShop/pull/25920).

**Product V1**
![image](https://user-images.githubusercontent.com/92912932/163579109-1a24cb04-63be-4497-aa76-4024704b1884.png)

**Product V2**
![image](https://user-images.githubusercontent.com/929129

[2022-04-15 13:57] #28269 closed, assigned to nobody

[2022-04-15 13:58] matks opened #28272 "Upgrade to 1.7.8.6 does not update the SQL schema (module 4.14.0)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Core Pull Request https://github.co

[2022-04-15 14:49] HanaRebaiQA commented on #28272
Hello @matks

Thanks for your report.
I was able to reproduce the issue using the described steps.

https://user-images.githubusercontent.com/92912932/163585065-f3906a0c-d214-4ec5-91bb-d72a67ded829.mp4

This issue is a regression since it's supposed to be fixed in this [PR](https://github.com/PrestaShop/PrestaShop/pull/27162).

Thank you!

[2022-04-15 14:53] matks commented on #28272
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/28271

[2022-04-15 14:55] hibatallahAouadni commented on #25798
Ping @PrestaShop/product-team friendly reminder :relaxed:

[2022-04-15 15:26] matks commented on #28264
Hello @khouloudbelguith I failed to reproduce the issue.

This is what I did
1. Install PS1785. Install blockreassurance 5.1.0
2. Go to BO > Module manager > search the blockreassurance module and click on configure
3. Add two new blocks using custom images: one png image and one jpg image
4. Enable the new blocks.
5. Go to FO > View product, page displays correctly
6. Upgrade the blockreassurance

[2022-04-15 16:14] khouloudbelguith commented on #28264
@matks, thanks for your feedback.

We should enable debug mode to have the exact exception as described in the step2
Also, I manage to reproduce the issue with develop branch fresh install + blockreassurance v5.1.1 (no need to upgrade the module)
[develop+blockreassurancev5.1.1.pdf](https://github.com/PrestaShop/PrestaShop/files/8496887/develop%2Bblockreassurancev5.1.1.pdf)

yes, I enabled them

y

[2022-04-15 16:20] tom-combet commented on #28017
@excitedbox Nice idea to keep in mind, thanks!

@matks Hi, ok no pressure! Just wanted to know the current situation and it's great to know the direction PS is taking, thanks for that.

[2022-04-16 00:31] QueeNFrisk commented on #28206
No, I see that the author of the last issue has a problem related to position,
In my case I have a problem with the name because it returns "Feature->Name property is empty".
In fact, I attach the response I get from it:

[code]

[code]

[2022-04-16 02:03] QueeNFrisk commented on #28206
I tried with a code similar to @khouloudbelguith and the "insert by xml" method worked.
It works, it's less aesthetic but it works.
However I think the error arises from adding them to the object as it's stated with the code I mainly used to open this issue.

Solution:
[code]

[2022-04-16 13:43] roja45 opened #28275 "Context CurrentLocale not initialised when running a module update."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am calling this line of code duri

[2022-04-16 16:27] jouino16 opened #28276 "Add to cart with max stock within a quickview modal in a product page causes a bug"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In product page, when I open the qu

[2022-04-17 19:59] matks commented on #27973
### Status update

1.7.8.6 should be built on Tuesday 19th of April BUT there are 2 blocking issues
- https://github.com/PrestaShop/PrestaShop/issues/28272 : this will be an issue for upgrading from 1.7.x versions to 1.7.8.6
- https://github.com/PrestaShop/PrestaShop/issues/28264 : blockreassurance 5.1.1 is included in 1.7.8.6 so this major bug would be deployed

[2022-04-18 03:17] #28206 closed, assigned to nobody

[2022-04-18 04:43] Seb33300 commented on #13509
@kiwifraise you should create a pull request if you want your fix to be integrated in the next version of Prestashop.

You can easily create a pull request here:
https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/admin/AdminImportController.php

Click on the `edit file` button (✏️), make changes and click on `Propose changes` at the bottom of the page.

[2022-04-18 08:25] hibatallahAouadni commented on #28275
Hello @roja45

Could you please provide a module to reproduce the issue :pray:
Waiting for your feedback.

PS: please check this issue #21688 seems similar to yours

Thanks!

[2022-04-18 10:06] hibatallahAouadni commented on #28206
@QueeNFrisk Glad that you solve your issue :tada:

[2022-04-18 10:15] hibatallahAouadni commented on #28071
Hello @gajendrasingh681

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27854.
Please subscribe to the issue mentioned above.

Thanks!

[2022-04-18 10:15] #28071 closed, assigned to nobody

[2022-04-18 10:15] hibatallahAouadni commented on #28071
Duplicate of #27854

[2022-04-18 13:04] Seb33300 opened #28278 "Add "purchase order" feature"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-18 13:59] hibatallahAouadni commented on #28278
Hello @Seb33300

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2022-04-18 14:15] hibatallahAouadni commented on #28276
Hello @jouino16

I didn't reproduce the issue with PS1780, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/163820329-f3e21440-6ae3-4267-94b6-6e00ef6f6a9d.mp4

Please check and feedback.
Thanks!

[2022-04-18 14:19] hibatallahAouadni commented on #22853
Hello @Kerami82

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-18 14:19] #22853 closed, assigned to nobody

[2022-04-18 15:21] khouloudbelguith commented on #27511
Hello,

I tried with 178x branch (PS1786) & develop branch (PS8.0.0)
I still have the same issue when resizing the window
**178x**

https://user-images.githubusercontent.com/16067358/163830511-7e25770d-8fb8-4ac9-89db-a501ef5885ee.mp4

**Develop**

https://user-images.githubusercontent.com/16067358/163830528-ca5bb364-68b7-49a2-8de5-ab4f4bf44181.mp4

I tried with PS1781, the quick view is not displa

[2022-04-18 16:46] preoteasa opened #28279 "PHP Notice Error while accessing API on /products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error has bee previously repor

[2022-04-18 18:44] preoteasa commented on #28279
I tried to follow the instructions to contribute a fix to this problem. However I got the message "No more forks can be created. [View existing forks.](https://github.com/PrestaShop/PrestaShop/network/members)"

Attached is the diff with the fix.

[presta-webservice-php-7.4-fix.txt](https://github.com/PrestaShop/PrestaShop/files/8507437/presta-webservice-php-7.4-fix.txt)

[2022-04-18 19:01] #27635 closed, assigned to gennaris

[2022-04-18 19:33] laurentrousseau918 commented on #10600
+1

[2022-04-19 08:03] florine2623 commented on #28279
Hello @preoteasa ,

PS 1.7.8.x is already compatible with PHP 7.4 : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I'm using PHP 7.4 with PS 1.7.8.5.
I can't reproduce your issue, i do not have any error :
<img width="616" alt="Screenshot 2022-04-19 at 10 01 59" src="https://user-images.githubusercontent.com/16019289/163955098-4225b69d-20d6-47a6-8096-7cfe8b0fb7a4.png"

[2022-04-19 08:26] sowbiba opened #28283 "Unable to close modal after module installation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In MBO we have a "Read more" modal

[2022-04-19 09:03] itis-mmi opened #28284 "Credit slip using all of the voucher"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi everyone,

My issue seems to be

[2022-04-19 09:38] preoteasa commented on #28279
Here is a link where you can test the erroneous behavior:

https://GZWF8VJU5GAC7ECAL3UZER3S1IJHZ5LI@first.finlandquality.com/api/products?schema=blank

It is a new install of Prestashop 1.7.8.5 on Ubuntu 20.04 LTS, using apache and php 7.4.3, cgi. It is the default installation of php.

$php --version
PHP 7.4.3 (cli) (built: Mar  2 2022 15:36:52) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.

[2022-04-19 09:41] preoteasa commented on #28279
By the way. If you enable debug mode, the error goes away and you get the output from your screen shot. I think that this is a serious problem too.

[2022-04-19 09:42] MatShir commented on #28278
@Seb33300 in that case, we should have a button to generate the delivery slip when it is not created by the order status flow ?
The delivery slip in PrestaShop is the french "Bon de commande" :)

[2022-04-19 09:47] #28165 closed, assigned to lmeyer1

[2022-04-19 10:03] florine2623 commented on #28284
Hello @itis-mmi ,

Thanks for your report !
Indeed your issue is similar to https://github.com/PrestaShop/PrestaShop/issues/18319.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2022-04-19 10:03] #28284 closed, assigned to nobody

[2022-04-19 10:10] itis-mmi commented on #28284
Oh sorry, I indeed misread the #18319 post ...
Thanks for your answer, I'll stay tuned to this post !

[2022-04-19 10:20] Amit-Kumar-Tiwari-Webkul opened #28285 "[BO]: Discount is not visible on customer group form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Discount is not visible on customer

[2022-04-19 10:25] Seb33300 commented on #28278
@MatShir delivery slip is "bon de livraison" in french which is different from "bon de commande".

[2022-04-19 10:34] florine2623 commented on #28279
@preoteasa ,

I have indeed reproduced your issue with PHP 7.4 on PS 1.7.8.5 (downloaded [here](https://www.prestashop.com/en/versions))

https://user-images.githubusercontent.com/16019289/163981260-4d4736ba-85e4-456a-b951-298454a4ffa2.mov

- With PS 1.7.8.x branch, there's no issue. I tested with PHP 7.3 and PHP 7.4.

- With PS 1.7.7.8 and PHP 7.4, the error is here too. But that's normal because

[2022-04-19 10:34] MatShir commented on #28278
You are right !!!! My bad, I wrote too fast without thinking 😅

[2022-04-19 10:39] florine2623 commented on #28285
Hello @Amit-Kumar-Tiwari-Webkul ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug.

Thank you for your PR ! It will be reviewed soon :)

[2022-04-19 10:41] Seb33300 commented on #28278
I think we can also call it "Order slip", I found a `HTMLTemplateOrderSlipCore` class to generate an order slip PDF, but it seems to be used for refunds (avoirs).

[2022-04-19 10:42] preoteasa commented on #28279
So you can reproduce the error with 1.7.8.5. What is changed in 1.7.8.x branch? I checked the source code of development branch and it seems similar to 1.7.8.5 release. I could attempt to test the development branch as well. Are you sure the debug is off?

[2022-04-19 10:49] AureRita opened #28287 "Cart rules with discount amount and Free Shipping doesn't show the detail for the free shipping"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-19 11:41] matks commented on #28279
https://github.com/PrestaShop/PrestaShop/compare/1.7.8.5...1.7.8.x

https://github.com/PrestaShop/PrestaShop/pulls?q=is%3Apr+milestone%3A1.7.8.6+is%3Amerged

[2022-04-19 11:52] preoteasa commented on #28279
The error occurs also in the development branch of Prestashop. I just cloned the development branch. Here you can see the error:

https://XFI3RHAVAZR7YMJ3CYM37QTU56CHDIJU@first.finlandquality.com/api/products?schema=blank

IN ORDER TO REPRODUCE THE ERROR, THE DEBUG MODE MUST BE OFF.

[2022-04-19 12:41] jolelievre opened #28288 "Refacto and fix tag component on the whole BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the product page the tag compone

[2022-04-19 13:39] lmeyer1 commented on #28216
@HanaRebaiQA Hello Hana,
The error message you get is related to the module `productcomments`. It is out of scope of this contribution. Can you deactivate this module and try again ? Thank you.

[2022-04-19 13:52] florine2623 commented on #28242
For PSGDPR module, it is fixed in https://github.com/PrestaShop/psgdpr/pull/172

[2022-04-19 14:55] PululuK opened #28289 "Add product property `manufacturer_name`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-19 15:09] PululuK commented on #28289
@florine2623  I think is a dev feature no need Product Team validation

[2022-04-19 15:11] marwachelly opened #28291 "Product associated to a deleted tags are present in the search result in FO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Tags are deleted from the BO but st

[2022-04-19 15:12] #27982 closed, assigned to atomiix

[2022-04-19 15:17] florine2623 commented on #28289
@PululuK Perfect I have changed the labels :)

[2022-04-19 15:31] khouloudbelguith opened #28292 "BO - An exception is displayed when we create a block and a language is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-04-19 15:36] lmeyer1 commented on #28292
Thanks @khouloudbelguith

[2022-04-19 16:16] samberrry commented on #24559
I checked it again, and I realized that it works well, because the customer will be registered as guest, and he/she can create account later.
thanks

[2022-04-19 16:16] #24559 closed, assigned to nobody

[2022-04-19 16:50] tdzierza commented on #28212
I mentioned that I mean Design - Pages (not Products)

![presatshop-pages](https://user-images.githubusercontent.com/8463620/164054967-70e79370-3cfb-480c-a9f3-4ed5c8463fe1.png)

[2022-04-19 17:10] preoteasa commented on #28279
Here it is a recording that shows the error for the development branch.

https://user-images.githubusercontent.com/6583978/164058319-cd3d59bd-bcc4-41d3-9676-c40ecae69a56.mov

I will take down the test installation.

[2022-04-19 18:37] fabienvallon commented on #23936
LGTM

[2022-04-20 08:16] matks commented on #28067
I think @kpodemski message approves the PR and I also approve it

[2022-04-20 08:22] marwachelly opened #28293 "FO-Could not find a product associated to a saved tag"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Could not find a product associated

[2022-04-20 08:53] marwachelly opened #28294 "Tags- Product is found after search with tag when the language selected is not correct"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product is found after search with

[2022-04-20 09:06] marwachelly opened #28295 "BO - An exception is displayed when editing a tag in the page product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed when edit

[2022-04-20 09:15] marwachelly opened #28296 "Tags - The tag is not displayed after being updated when the product is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The tag is not diplayed after being

[2022-04-20 09:43] hibatallahAouadni commented on #24559
@samberrry Glad to hear :tada: and thanks for your feedback!

[2022-04-20 10:34] hibatallahAouadni commented on #9676
Ping @PrestaShop/ux-team I proposed a new design in the issue description :sweat_smile: hope you like it :crossed_fingers:
Waiting for your feedback!

[2022-04-20 10:48] kpodemski commented on #28272
@matks

This is the fix for this issue:
https://github.com/PrestaShop/autoupgrade/pull/474

Upgrade SQL files are part of the latest stable release of the module.
https://github.com/PrestaShop/autoupgrade/tree/master/upgrade/sql

- there's no plan for `autoupgrade` v5 from what I know
- there's a code in v4 of `autoupgrade`: https://github.com/PrestaShop/autoupgrade/blob/master/classes/UpgradeTool

[2022-04-20 12:07] matks commented on #28272
@PrestaShop/qa-team It seems that, after https://github.com/PrestaShop/autoupgrade/pull/474 has been merged, this issue is fixed.Could you please retest this issue with
- using `dev` branch of the upgrade module
- doing an upgrade from 1.7.8.5 to 1.7.8.x

[2022-04-20 12:09] matks commented on #28272
If QA analyst confirms this bug is solved using `dev` branch of the upgrade module then we need to release a v4.14.1 version of the upgrade module to allow users to upgrade from 1.7.8.5 to 1.7.8.6

[2022-04-20 12:36] MatShir commented on #28162
Should we really need to make PS work with 200x zoom ? @TristanLDD Maybe we should define an official zoom support, so we have random surprises during the test? 🤔

[2022-04-20 12:43] MatShir commented on #27782
We should remove them, we need to make the list of all the input. It would make a good 'good first issue' :D

[2022-04-20 13:00] hibatallahAouadni commented on #28216
Hello @lmeyer1

I reproduce the issue with PS1778 with classic-rocket and ps_mailalerts v2.3.2, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/164235296-4623ab60-9281-48e1-b988-472d22b7240d.mp4

![image](https://user-images.githubusercontent.com/23308427/164235509-09d3adad-af82-4b8e-bcbc-b77de0ca6c38.png)

Isn't related to the theme? are you sure is relat

[2022-04-20 13:21] lmeyer1 commented on #28216
Yes I am. It is related to the Bootstrap version.
It's indirectly related to the theme, because `classic` uses Bootstrap 4.0alpha4, while `classic-rocket` uses Bootstrap 4.4.1

[2022-04-20 14:00] HanaRebaiQA commented on #28272
Hello @matks

I can confirm that with an upgrade from 1785 to 1786 using [autoupgarde](https://github.com/PrestaShop/autoupgrade) from dev branch ==> OK :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/164247696-c215d38f-0914-43a2-bbe1-4487bcea9086.mp4

Thanks!

[2022-04-20 14:03] matks commented on #28264
@khouloudbelguith If I do

1. Install PS1785
2. Enable debug mode
3. Go to BO > Module manager > search the blockreassurance module and click on configure
4. Add two blocks with png image & jpg image
5. Open FO -> View product page

I see the error you have. It is a bug fixed in v5.1.1 in PR https://github.com/PrestaShop/blockreassurance/pull/388 . @florine2623 was able to observe the bug ref http

[2022-04-20 14:50] atomiix commented on #28242
@florine2623 I don't think this issue is fixed in PrestaShop/psgdpr#172 🤔

[2022-04-20 15:38] hibatallahAouadni commented on #28272
Ping @matks so what we should do? should we close this issue as Fixed?

[2022-04-20 15:40] matks commented on #28272
Fixed by https://github.com/PrestaShop/autoupgrade/pull/474

[2022-04-20 15:40] #28272 closed, assigned to nobody

[2022-04-20 15:42] matks opened #28299 "Upgrade to 1.7.8.6 does not update the SQL schema (module 4.12.0)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### If we use an old 4.x version of the autoupgrade, 1.7.8.5 to 1.7.8.6 upgra

[2022-04-20 15:49] hibatallahAouadni commented on #28279
Hello @preoteasa

Thanks for your whole feedback :pray:
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26559.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks for the screen record :pray: I added it to the original issue :relaxed:

Thanks!

[2022-04-20 15:49] #28279 closed, assigned to nobody

[2022-04-20 16:02] MeKeyCool commented on #25888
@Progi1984 and @eternoendless , does this mean i close my PR #28057 ?

[2022-04-20 16:09] KoenBrouwer commented on #28224
I can confirm that this is still an issue. We have the exact same versions of PrestaShop and the Faceted Search module running. We solved this issue by replacing all hypens `-` with minus `−` characters in our product names and features, but seriously, this shouldn't be a big issue. Why not change the module to use a pipe `|` as a break character in URLs?

[2022-04-20 16:15] hibatallahAouadni commented on #28285
I changed the status to `TBR` cause I need to check if it's a `regression` or no!
Thanks for your patience :pray:

[2022-04-20 16:18] MatShir commented on #28233
We might need to list the notification by product 🤔
I'm wondering if this feature should go into Catalog > Monitoring. What do you think?
Otherwise, nice feature :)

[2022-04-20 16:22] hibatallahAouadni commented on #28299
Ping @MatShir As you know we don't use the label `improvement` anymore with the new workflow.
So, we need your confirmation about this issue :sweat_smile: is it a `Bug` or a `Feature`?

[2022-04-20 17:21] tom-combet commented on #28224
On 1.7.5 or 1.7.8? I can confirm the issue has been solved in latest version.

[2022-04-20 18:41] AyLia85 opened #28300 "[FO] display the combination name in the availability check alert in the cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-20 22:18] alfonsolr09 commented on #28098
I see a little confusion so I am about to clarify the issue. we start from the basis that there are 4 possible changes/improvements.

If "stock management" is disabled, the "show out of stock label" option should not be able to be modified (set on NO) in the same way as the "allow sale of products that are out of stock" option does (set on YES).

Stock management is enabled.- When 'Allow ordering

[2022-04-20 23:06] zotir94 commented on #15080
I had the same problem when I was update to 1.7.3.~ to 1.7.8.~. I was solve removing the overrides (first I made my backup), there was the problem.

If somebody have problem like this, send me message for help you

[2022-04-21 07:28] matks commented on #28264
I can reproduce the issue with one specific detail: the application must be installed in a subfolder. PrestaShop files must not be at the root document of the web server but in a directory.

1. Install PrestaShop 1.7.8.x in a subfolder
2.Go to BO > Module manager > search the blockreassurance module and click on configure
3. Add one block with custom PNG image
4. Activate the block
5. Go to FO > V

[2022-04-21 07:32] matks commented on #28299
@MatShir answer is:

I guess this means bug is confirmed for 1.7.8.6 scope

[2022-04-21 07:32] matks commented on #27973
## Status update

Two issues left before being able to build 1.7.8.6

- https://github.com/PrestaShop/PrestaShop/issues/28264 -> I can reproduce now
- https://github.com/PrestaShop/PrestaShop/issues/28299

Also a new release of upgrade module will be needed for smooth 1.7.x.y -> 1.7.8.6 upgrades

[2022-04-21 08:12] lmeyer1 commented on #28233
@MatShir

I'm not convinced. In _Monitoring_, all lists are related strictly to products and categories.
These notifications are stronger related to carts and orders.
Also, since it is a module, it would be easier, if this list is separate menu entry, as it can be configured for module admin controllers.

[2022-04-21 09:02] marwachelly commented on #28285
Hello,

The issue is a regression :
**1.7.7.8:**
![image](https://user-images.githubusercontent.com/89604350/164415676-f2a0ecda-822d-4e8b-a465-283dbaf1aaa0.png)
**1.7.8.1:**
![image](https://user-images.githubusercontent.com/89604350/164415839-7e484857-76d8-409f-a3bf-bf8d8785c42c.png)

Thanks,

[2022-04-21 09:02] khouloudbelguith commented on #28299
Hi @matks,

I tried to follow these steps:

- Install 1.7.8.5
- Install module upgrade 4.12.0
- Build a 1.7.8.6 release from 1.7.8.x branch
- Try to upgrade from 1.7.8.5 to 1.7.8.6

But at this step, I'm blocked, I cannot upgrade to PS1786, I need to download the last version of the autoupgrade module or upgrade it.

![image](https://user-images.githubusercontent.com/16067358/164419907-b85d7faf-82

[2022-04-21 09:59] matks commented on #28299
Thank you @khouloudbelguith I did not know about that. My bug report is not relevant anymore then.

[2022-04-21 09:59] #28299 closed, assigned to nobody

[2022-04-21 10:00] matks commented on #28264
@khouloudbelguith Is this bug still `Major` is it only happens if shop is installed in subfolder?

[2022-04-21 10:06] hibatallahAouadni commented on #28300
Hello @AyLia85

Thanks for your sugguestion!
Are you talking about this two returns in this functions:
[code]

[code]
If so, we need to add a condition foreach return if the product has combination to change the return message, for exemple:
[code]
Ping @PrestaShop/prestashop-core-developers wdyt about @AyLia85 proposal?
Thanks in advance :pray:

[2022-04-21 12:19] PierreRambaud commented on #28300
I confirm what @hibatallahAouadni said because the `checkQuantities` return the first product which is no longer available, the combination should be checked!

[2022-04-21 12:35] digital588 commented on #9922
Hi,

I have the same problem.
I am on version 1.7.8.3 of Prestashop.
Is there a fix available at this time?

Thanks

[2022-04-21 12:39] AyLia85 commented on #28300
Yes, that's right.
I'll make the change and hope it will be integrated in future versions.

Thank you for your time and code

[2022-04-21 13:41] Progi1984 commented on #28283
Fixed by @sowbiba in #28281

[2022-04-21 13:41] #28283 closed, assigned to nobody

[2022-04-21 14:03] hibatallahAouadni commented on #27278
Hello @rickygzz

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-21 14:03] #27278 closed, assigned to nobody

[2022-04-21 14:09] lmeyer1 commented on #19227
No it isn't.

If one installs `ps_emailalerts`, he needs to regenerate the mail templates for all installed languages. Then it works.

There are two additional issues related:
- If the email template of a language are missing, customers that subscribed a notification in that language will never receive their email.
- The English templates that are in `/ps_emailalerts/mail/en` are old versions from

[2022-04-21 14:12] lmeyer1 commented on #19227
No it isn't.

If one installs `ps_emailalerts`, he needs to regenerate the mail templates for all installed languages. Then it works.

There are two additional issues related:
- If the email template of a language are missing, customers that subscribed a notification in that language will never receive their email.
- The English templates that are in `/ps_emailalerts/mail/en` are old versions from

[2022-04-21 14:44] ltracadas commented on #14979
You should take a look on FrontController->assignGeneralPurposeVariables()

`'cart' => $this->cart_presenter->present($this->context->cart)`
I am working on increasing performances of ajax call almost everywhere and this method affects performances as it is fired on everything: ajax call, page view (as every front page extends FrontController by a way)

[2022-04-21 15:41] florine2623 commented on #28053
@TristanLDD , what do you think about this color change ?

[2022-04-21 15:57] #26646 closed, assigned to JoryHogeveen, matks

[2022-04-21 15:57] matks commented on #26646
Fixed by https://github.com/PrestaShop/PrestaShop/pull/26587

[2022-04-21 16:27] matks commented on #19227
@lmeyer1 I've no idea 😅  and it might be an even bigger issue as PrestaShop 8 will not download modules from Addons API but from a new API

ping @atomiix this might be a edgecase to explore

[2022-04-21 16:30] massirock commented on #10005
Tested on 1.7.7.2. Does not work. A really big bug that requires a quick fix. Bug also present on version 1.7.8.5. Incredible

[2022-04-21 20:07] Hlavtox commented on #16952
@hibatallahAouadni pls retest, I reworked the availability, maybe it is fixed

[2022-04-21 20:09] Hlavtox commented on #9901
@hibatallahAouadni this is maybe fixed, as @jolelievre reworked it

[2022-04-22 05:43] kazunarii opened #28302 "[FO] The new filter " Available" of ps_facetedsearch isn't translated in another languages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating the module to the la

[2022-04-22 08:21] fabienvallon commented on #28073
LGTM

[2022-04-22 08:32] amirrzd opened #28303 "[BO] Admin header search results do not have a valid link to modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In admin header search, when I sear

[2022-04-22 08:54] khouloudbelguith opened #28304 "An exception is displayed when Installing the blockwishlist module and executing another BO page at the same time"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed when Inst

[2022-04-22 09:15] sowbiba opened #28305 "A not installed module still impact the Backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1 - Install MBO module
[ps_mbo (15)

[2022-04-22 09:25] AureRita commented on #28302
Hi @kazunarii

Thank you for the reporting Issue.
I reproduced it on 1.7.7.8 and 1.7.8.x when I upgraded ps_facetedsearch to 3.8.0 as you can see on this video :

https://user-images.githubusercontent.com/100699445/164677005-7cfe56df-fe9c-4599-a73e-74dcea946513.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-04-22 09:41] ionuts71 commented on #9901
@Hlavtox @hibatallahAouadni  @jolelievre

I've just checked on PS 1.7.8.5 and the problem still exist, it is not fixed.

[2022-04-22 09:44] hibatallahAouadni commented on #9901
Hello @ionuts71

@Hlavtox is talking about the new Product Page v2 on develop branch :sweat_smile:
Thanks @Hlavtox for the ping, I will try to reproduce it and feedback.

Thanks!

[2022-04-22 09:52] ionuts71 commented on #9901
Ups, sorry! I've been too excited thinking that the Price per unit bug is finally solved 😅

[2022-04-22 10:04] AureRita commented on #28302
Hi @kazunarii

After a new checking, I currently reproduce a new feature implemented, could you say if the steps to reproduce is actually what you did ?

The new feature is this one : https://github.com/PrestaShop/ps_facetedsearch/pull/479
You can check if this is related to this pr if you disable some product

Currently I didn't reproduce it on 1.7.6.5.

[2022-04-22 10:05] AlexTechDev commented on #26730
I love this idea :)
I will work on this.

PR cooming soon...

[2022-04-22 10:06] AlexTechDev commented on #24853
Great idea!

I will work on this.

PR cooming soon...

[2022-04-22 10:25] hibatallahAouadni commented on #28302
@kazunarii Please check this comment https://github.com/PrestaShop/PrestaShop/issues/14518#issuecomment-510421442

[2022-04-22 10:59] Prestafan1234 commented on #13737
@hibatallahAouadni I cannot see that the pagination problem is solved in any threads where they are marked as duplicate or in this one. The problem persists in PrestaShop 1.7.8.3

[2022-04-22 11:29] musaffar-patel opened #28306 "Cannot manipulate order products using hookActionPresentOrder"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It seems the Prestashop hook action

[2022-04-22 11:59] kazunarii commented on #28302
I don't understand, then, I want the "Available" option not to appear at all. I would like to only filter In Stock and Out of stock and that's it. How can I do this? Since it was so before the update.

[2022-04-22 12:45] AureRita commented on #28302
Hello @kazunarii ,

Currently, your issue show us there is a problem of translation about this new feature,

You need to override your module to suit your needs, you can find resources to help you on this issue: [Get help with PrestaShop](https://www.prestashop-project.org/support/) or you can consider [hiring a specialist](https://www.prestashop.com/en/experts).

I'll edit your issue's title and

[2022-04-22 12:46] jordy-dw opened #28308 "Adding children to a parent tab via module tabs breaks permissions"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Creating multiple controller tabs i

[2022-04-22 12:48] kazunarii commented on #28302
Okay, but does that mean it is not possible to disable this new feature at this time?

[2022-04-22 13:06] NorthThomas commented on #24135
Hi,

i'm facing the exact same problem.
I saw that you've add it to the roadmap a year ago, is it fixed ?

**_The problem_**

![ecotaxpresta](https://user-images.githubusercontent.com/100681503/164720100-98e3f7fa-f9c7-491c-b0ca-03392fbc6772.jpg)

![ecotaxpresta 2](https://user-images.githubusercontent.com/100681503/164720109-bac5caa8-1532-434e-bc4b-5e2e76c024a4.jpg)

Prestashop version : 1.7.6.2

[2022-04-22 13:09] AureRita commented on #28302
Currently you can disable the entire stock filter but you can't disable only this "available"  filter

[2022-04-22 13:42] AureRita commented on #28305
Hi @sowbiba

Thank you for the reporting Issue.
I reproduced it on develop and not on 1.7.8.5 as you can see on this video :

The video on 1.7.8.5

https://user-images.githubusercontent.com/100699445/164725916-d03474e4-8627-4399-9409-f379a246db7a.mp4

The video on develop :

https://user-images.githubusercontent.com/100699445/164725949-c8e986c6-f21a-43c7-8ee7-c41dc2d8e592.mp4

It's a regression !

[2022-04-22 14:14] Progi1984 commented on #28305
Sorry, I misunderstood the module. I agree : the module bad and finally not installed shouldn't have impact in the core.

[2022-04-22 14:23] matks commented on #27973
## Status update

One issue left before being able to build 1.7.8.6

- https://github.com/PrestaShop/PrestaShop/issues/28264 bugfix submitted

Also a new release of upgrade module will be needed for smooth 1.7.x.y -> 1.7.8.6 upgrades

[2022-04-22 14:43] MatShir commented on #28233
You are probably right !
So list of product with their name, refs, number of user waiting. When you click on a product, you are redirected to an email list (linked to the user account or not).

[2022-04-22 14:48] AureRita commented on #28303
Hi @amirrzd

Thank you for the reporting Issue.
I reproduced it on 1.7.8.5,, 1.7.7.4 and 1.7.6.5 as you can see on this video :

On 1.7.8.5

https://user-images.githubusercontent.com/100699445/164736856-b3cfebdc-e20f-4440-a0f8-98250553d749.mp4

On 1.7.6.5

https://user-images.githubusercontent.com/100699445/164738568-346cfa03-1944-450a-84cc-bedbe8e70ee3.mp4

I will add it to the Patch Backlog to b

[2022-04-22 15:28] AureRita commented on #28308
Hello @jdewitte-ambris ,

Could you please provide a module that use this hook to test and reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-04-22 18:43] musaffar-patel commented on #28306
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/8543259/mymodule.zip)

Sample module attached.  Steps to reproduce error are as follows:

1.  Install the module
2.  In the front end, login as a customer which has a order history
3.  Go into customer order history in the store front
4.  Open order detail for viewing and the error described earlier shall occur.

[2022-04-22 20:08] matks commented on #28216
@lmeyer1 thank you for the explanations the PR https://github.com/PrestaShop/ps_emailalerts/pull/111 is approved

[2022-04-22 20:17] matks commented on #28218
@PrestaShop/product-team friendly reminder PR https://github.com/PrestaShop/ps_emailalerts/pull/113 is blocked by this issue

[2022-04-22 20:49] kpodemski commented on #28289
@PululuK

✅ It really is a small but helpful change. Go for it :)

[2022-04-22 22:01] matks commented on #25458
Looks similar to https://github.com/PrestaShop/PrestaShop/issues/28264

[2022-04-23 09:54] Caleydon opened #28311 "Search indexing CRON URL improvements"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-23 11:01] Caleydon opened #28312 "Module manager page responsivity issue - checkbox collide with button"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Module manager page responsivity is

[2022-04-23 14:31] ObscenityIB commented on #27888
Have to go with an alternate shop while I wait for this, presta looked so good!

[2022-04-24 00:54] ionuts71 commented on #9901
I have tried to solve this ancient bug.

Open **_classes/Product.php_** file:
1. Modify line 5805 - the unitPrice formula, from:
`            $unitPrice = ($row['price_tax_exc'] / $row['unit_price_ratio']) + $combination->unit_price_impact;
`
to:
`            $unitPrice = ($row['retail_price'] / $row['unit_price_ratio']) + $combination->unit_price_impact;
`

2. Add the following lines at line 5803

[2022-04-24 05:02] tdzierza commented on #28212
Pages tinymce is not imported from js/admin/ location but in default from js/tiny_mce
What is the most confusing thing for me that I try to allow html5 tags but nothing help.

I have also version 1.7.7.2 and in this case html5 tags working very well - we can use for example section tag.

In version 1.7.8.4 it's impossible. But probably not by tiny_mce issue. I turned off tinymce and html5 tags sti

[2022-04-24 09:07] Caleydon commented on #19707
Hello. Any progress? This is an essential of someone want to make real accounting in the PrestaShop and sending customers correct Credit slips.

[2022-04-24 13:04] protektwar commented on #10161
Found the problem ;)

I have changed the timeouts in classes/Tools.php in function     private static function file_get_contents_curl:
            curl_setopt($curl, CURLOPT_CONNECTTIMEOUT, 200); // here was 5
            curl_setopt($curl, CURLOPT_TIMEOUT, 200);                   // here was $curl_timeout

![image](https://user-images.githubusercontent.com/45262264/164977878-f4fb966e-61d5-4336-89

[2022-04-24 15:41] jbarna119 commented on #14979
@davidcylke

I struggled with this issue for a couple of months, but it turned out not to be the prestashop code. The issue in my case was related to the 3rd party shipping modules I was using. I disabled all of my shipping modules and performance immediately returned. From there, just had to find a better module.

[2022-04-24 15:47] davidcylke commented on #14979
What are your query times now with lots of items in cart? It's not any third party module in our case.

[2022-04-24 16:07] kpodemski commented on #14979
@davidcylke

A quick benchmark that I did for you showed something completely different. You had twice or triple the amount of queries PrestaShop normally has because of different third-party solutions.

[2022-04-24 18:21] molsondry commented on #28041
Can anybody in this forum tell, how we proceed with this problem? There is another issue:
You are not able to order/ put into the cart the same product twice or more times with different customization content. Then you get the message that the maximum amount of articles of this kind is reached and no more may be put into the cart

https://user-images.githubusercontent.com/5124936/164990709-8fd8a41

[2022-04-24 20:44] PrestaEdit opened #28313 "The hook `actionGetMailThemeFolder` is added but never used/dispatch"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is a hook, called `actionGetM

[2022-04-25 05:02] cowherdboy commented on #14754
@Hlavtox
In PS 1.7.8.5 the following files are no longer there:
/adminxxxxx/themes/default/template/controllers/orders/helpers/view/view.tpl
and
/controllers/admin/AdminOrdersController.php

Any idea which files I should edit to implement your fix?

[2022-04-25 07:19] tlgsoledis commented on #28106
Hello,
We still have no news on this issue and the PR linked.

[2022-04-25 08:36] jdewitte-ambris commented on #28308
Hello,

the bug was discovered on a proprietary module, but here is a demo module that reproduces the issue
[bugdemo.zip](https://github.com/PrestaShop/PrestaShop/files/8552873/bugdemo.zip)

Steps to reproduce :
- Install module on a clean prestashop 1.7.8+ (I don't know if the bug existed prior to this version)
- Tabs appear correctly in AdminCatalog
- Go to permissions
- Change permissions for a

[2022-04-25 09:25] hibatallahAouadni commented on #28311
Hello @Caleydon

Thank you for your suggestion and all detailed specifictaions :clap:
The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

[2022-04-25 09:34] sowbiba commented on #28305
👍🏾 I only need to know what's your ideal solution so I can try to submit a contribution ;)

[2022-04-25 09:39] PrestaEdit opened #28316 "An error 500 is throw when you try to add an attachment to a product with a name longer than 32 chars"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While you try to add an attachment

[2022-04-25 09:49] #28120 closed, assigned to Progi1984

[2022-04-25 09:58] sowbiba opened #28317 "Module manager page, Allow to add message on empty categories"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-25 10:07] hibatallahAouadni commented on #28312
Hello @Caleydon

I reproduce the issue with PS1778, PS1785 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist]

[2022-04-25 11:01] hibatallahAouadni commented on #28317
Hello @sowbiba

Thank you for your suggestion and your PR :rocket:
The Developer Team will take it into consideration for future developments.

Thank you

[2022-04-25 11:06] hibatallahAouadni commented on #28313
Hello @PrestaEdit

I didn't think it's useless cause this hook has been created to:
`This hook allows to change the folder of an email theme (useful if you theme is in a module for example)`

But let's check with the Developer team :wink:
Ping @PrestaShop/prestashop-core-developers do you think this hook `actionGetMailThemeFolder` is useless?

Thanks!

[2022-04-25 11:07] kpodemski commented on #28305
Unfortunately, there's no ideal solution for this problem. Developers should be more precise when defining a maximum compatibility version. It could be, for example: `1.7.99.99`, which would have been much safer and prevented this module from installing on v8 without an update.

[2022-04-25 11:15] jolelievre commented on #28313
Just because a hook isn't called by the core doesn't mean it is useless. I'm sure there are many other similar use cases since hooks are meant for modules not the core.

So this issue is not relevant IMHO

[2022-04-25 11:15] #28313 closed, assigned to nobody

[2022-04-25 11:21] kpodemski commented on #28313
@jolelievre IMO core shouldn't have hooks without specifying how to implement it :) it's not a dynamic-name hook

[2022-04-25 11:23] sowbiba commented on #28305
Can't be more agree. However, even if the module's developper misconfigured his module, we must prevent exceptions caused by a failed installation

[2022-04-25 11:29] kpodemski commented on #28305
@sowbiba

They're using `Tools::jsonjsonDecode` inside the `__constructor`, and probably this is why Installation fails. I wouldn't delete the module, but it should definitely be disabled, and if I'm not mistaken, this should work this way 🤔

This seems to be a regression compared to 1.7.8. To test it, we should create a module that is not possible to install because of the same problem (using a n

[2022-04-25 11:33] Saimis777 opened #28320 "Invalid characters are being saved as titles"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When creating or editing an existin

[2022-04-25 11:35] hibatallahAouadni commented on #28316
Hello @PrestaEdit

I reproduce the issue with PS1778 and PS1785, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/165080948-937a8ae8-7c1d-44f2-afae-21122c579f23.png)

Fortunally, this issue has been fixed on develop with the new Product Page V2, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/165081269-f

[2022-04-25 11:35] #28316 closed, assigned to nobody

[2022-04-25 11:39] PrestaEdit commented on #28316
There is no more support on this PrestaShop 1.7 version, so ?

[2022-04-25 11:55] MatShir commented on #28041
@molsondry it seems to be a different issue. I tried on my side and I can't reproduce the bug. Could you create an new issue with all step (product configuration, stock configuration, step on the front office side...) [here](https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=Bug%2CNew&template=1_bug_report.yml) ?
Thanks in advance

[2022-04-25 12:35] hibatallahAouadni commented on #25458
@matks so should I close it as a duplicate?

[2022-04-25 12:36] MatShir commented on #26376
@pphilipondollet the feature would available on PrestaShop 8.0, we hope for a release this summer.

[2022-04-25 12:54] matks commented on #25458
@hibatallahAouadni https://github.com/PrestaShop/PrestaShop/issues/28264 is being fixed so I suggest we wait for https://github.com/PrestaShop/PrestaShop/issues/28264 then we verify if this one is still present.

[2022-04-25 13:09] kpodemski commented on #9661
@matks

To be moved into the devdocs repo? I think it should be available online, not in the back office.

[2022-04-25 13:11] kpodemski commented on #9674
ping @PrestaShop/product-team

[2022-04-25 13:14] matks commented on #9661
What an old issue 😄

3 years ago I said that the docs should be generated at runtime because code in prestashop can be extended (by overrides, for example). So if you are working on a shop, the docs might tell you function `getCart()` return an int but it is actually overriden to return an array instead.

But it was in 2019. In 2022 I don't think this is useful anymore. Modern IDEs have capacities

[2022-04-25 13:15] kpodemski commented on #9731
@NeOMakinG, what do you think about it? Should we care about this 0.0X%, probably?

[2022-04-25 13:17] kpodemski commented on #9661
I have the same thoughts. Let's make sure to comment on everything in phpDocs like @eternoendless is suggesting :D and close this issue. What do you think?

[2022-04-25 13:20] kpodemski commented on #9520
@hibatallahAouadni IMHO no fix needed there :-)

[2022-04-25 13:22] matks commented on #9661
Agreed

[2022-04-25 13:22] #9661 closed, assigned to nobody

[2022-04-25 13:27] MatShir opened #28321 "Improvement the number of queries with quickwins !"
(For the non logged mode) Check if the PR of @eternoendless #27406 is always valid.<br /><br/>(For the logged mode) <br/>* Enable Profiling mode<br/>* Connect as a user<br/>* Add a product to your cart<br/>* Scroll down to query doubles, you'll notice that there is 30x the same query on the table address (and not with this PR)<br><br>**BEFORE**<br>![image](https://user-images.githubusercontent.com

[2022-04-25 13:48] kpodemski commented on #9520
@matks exactly

[2022-04-25 13:51] jouino16 opened #28322 "Potential bug in the Product hook CRUD methods"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While implementing product hooks in

[2022-04-25 13:52] matks commented on #9520
OK
- this bug has been here for 4 years
- nobody mentioned it was important for her/him
- nobody submitted a PR to try to fix it

So I think few people care about it. Not zero, but few. As it is a Minor bug I suggest to close it as you said (and we can reopen if we get feedback), we have a lot of work to do and this work we know people want it

[2022-04-25 14:07] hibatallahAouadni commented on #9520
Well then, closing the issue!

[2022-04-25 14:07] #9520 closed, assigned to kpodemski

[2022-04-25 14:33] #28242 closed, assigned to atomiix

[2022-04-25 14:41] molsondry opened #28323 "Same product with different customization content can be put into cart once only"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

You are not able to order/ put into

[2022-04-25 14:46] molsondry commented on #28041
@MatShir : find it here please: https://github.com/PrestaShop/PrestaShop/issues/28323

[2022-04-25 15:42] matks commented on #26950
The bug we could observe has been fixed by https://github.com/PrestaShop/PrestaShop/pull/26951

@dingedi please open another bug report if you have another issue ;)

[2022-04-25 15:42] #26950 closed, assigned to nobody

[2022-04-25 15:54] khouloudbelguith opened #28324 "Wishlist - Statistics page - The image & the reference of the combination are incorrect, the default ones are displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Wishlist Module > Stati

[2022-04-25 15:58] khouloudbelguith opened #28325 "Wishlist - Statistics page - Sort by all fields is not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Wishlist Module > Stati

[2022-04-25 16:05] khouloudbelguith opened #28326 "Wishlist - Configuration page - No red alert when we set all fileds with too long expression"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Wishlist Module > Confi

[2022-04-25 16:32] tom-combet opened #28327 "ProductId value must be really greater than zero"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-04-25 16:37] tom-combet commented on #28327
I just saw the same thing on half of identifier-related value objects (Order, Employee...). I must miss something, some explanation?

[2022-04-25 16:46] #9731 closed, assigned to nobody

[2022-04-25 21:37] sowbiba opened #28329 "Module manager page, Allow to add content after a module description"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-25 23:39] sowbiba opened #28331 "The module actions order have been modified"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The modules' actions order have bee

[2022-04-26 03:25] hibatallahAouadni commented on #28329
Hello @sowbiba

Thank you for your suggestion and your PR 🚀
The Developer Team will take it into consideration for future developments.

Thank you

[2022-04-26 07:36] sowbiba opened #28333 "Misunderstanding between active and enabled ?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I think there are some misunderstan

[2022-04-26 08:05] marwachelly commented on #28331
Hello @sowbiba ,

I verified the behavior. Just I think it will be better if we have confirmation from @PrestaShop/product-team. Is it a bug or a wanted behavior?

Thanks,

[2022-04-26 08:31] AureRita commented on #28306
Hi @musaffar-patel ,

Thank you for your module and the steps to reproduce,
I reproduced it on 1.7.8.5, on 8.0.0 and not on 1.7.7.8 and 1.7.6.5, we can see the issue on video juste here :

https://user-images.githubusercontent.com/100699445/165251750-a546f58c-86c2-45cf-bd63-8dd35846a6a7.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-04-26 08:59] marwachelly commented on #28320
Hello @Saimis777

I was able to reproduce the issue with PrestaShop version 1.7.7.8. I'll add this to the debug backlog so that it's fixed.

https://user-images.githubusercontent.com/89604350/165262911-504b5001-dbc8-4ab6-8d9e-22970e737aec.mp4

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and

[2022-04-26 09:25] sandra2n opened #28334 "Issue with total tax calculation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Round mode: Round up away from zero

[2022-04-26 09:38] kpodemski commented on #9870
@PrestaShop/qa-team

I checked this issue, and there are no problems with `ps_sharebuttons`, with or without friendly URL enabled.

[2022-04-26 10:04] marwachelly commented on #28323
Hello @molsondry,

I didn't manage to reproduce your issue nor with PS1.7.7.8 neither PS1.7.8.3

https://user-images.githubusercontent.com/89604350/165275870-2f0be40f-4cc9-456e-b49c-6fab853f3480.mp4

Did I miss some thing?

Thanks,

[2022-04-26 10:16] venditdevs opened #28335 "(Category::regenerateEntireNtree()) Fatal error: Uncaught Field 'id_parent' doesn't have a default value"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

**Function** Category::regenerateEn

[2022-04-26 10:56] gennaris opened #28336 ""Re-display cart at login" feature is not working properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

**"Shop Parameters > Customer Setti

[2022-04-26 10:57] #28333 closed, assigned to nobody

[2022-04-26 11:57] hibatallahAouadni commented on #9870
Hello @kpodemski

Thanks for the ping, indeed the issue has been fixed :tada:
I tried with PS1785 and socialsharing v, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/165289276-dbd9f99e-fe4e-4353-b697-405b9c44a6ab.mp4

Closing the issue.
Thanks!

[2022-04-26 11:57] #9870 closed, assigned to nobody

[2022-04-26 12:06] BIRDmeble opened #28337 "A FEW PRESTA BACKOFFICE UPGRADES"
### Prerequisites

- [ ] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-26 12:08] marwachelly commented on #28336
Hello,

I didn't manage to reproduce your issue with the provided steps and (PS1.7.8.4 ,PHP7.4)

https://user-images.githubusercontent.com/89604350/165296431-68797074-de34-4f2b-b558-2dbb3a2d3f3a.mp4

Did I miss some thing? Could you please check and feedback.

Thanks,

[2022-04-26 12:38] HanaRebaiQA opened #28338 "FO - Images are not well displayed when create a product with V2 page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Images are not well displayed when

[2022-04-26 12:39] marwachelly commented on #28337
Hello @BIRDmeble ,

For the point 1 and 3 those features already exist in prestashop as you can see in the screen recording bellow (sort, filters , search , bulk action).

https://user-images.githubusercontent.com/89604350/165300594-498659d4-8ce5-403e-b026-0869e5be0380.mp4

For the point 2 and 4 I think we are aware of this issue and they are the same as #24975.

Did I miss some think? Could you p

[2022-04-26 12:43] fabienvallon commented on #28320
If there is no technical / security flaws, I think we can remove this invalid characters ( and remove the tooltip)
If there is a technical / security flaw, we should filter and fix it

[2022-04-26 12:47] #9521 closed, assigned to kpodemski

[2022-04-26 13:05] BIRDmeble commented on #28337
Hi @marwachelly
about filters, sort, search, I hope more like this:

https://www.youtube.com/watch?time_continue=102&v=Nra1I16Abwc&feature=emb_title

Like you see, dynamic loading, many filters, many mass actions to choose.

Have another point:
5. Copy products should have options to check some part of product, for example: without gallery, whithout special prices or deliver etc.

[2022-04-26 13:16] marwachelly commented on #28322
Hello @jouino16,

Could you please provide us with clear steps to reproduce the issue? Clear description , screen shot , screen record..
You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-create-bug-report)

Waiting for your feedback.

Thanks,

[2022-04-26 13:25] gennaris commented on #28336
I did some more debug and the problem seems to occur only if the "**statsdata**" module is uninstalled,
so please try reproducing my described scenario with module uninstalled.

This way **id_guest** is not recorded in **ps_guest** table and so it is being set = 0 in the **ps_cart** table
even for valid abandonded carts with a valid **id_customer**.

I see that the **lastNoneOrderedCart** method h

[2022-04-26 13:32] marwachelly commented on #28337
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature in

[2022-04-26 13:54] marwachelly commented on #28334
Hello,

It seems that your issue is the same as https://github.com/PrestaShop/PrestaShop/issues/17161 which is related to https://github.com/PrestaShop/PrestaShop/issues/9779#issuecomment-415125166.
Could you please check?

Thanks,

[2022-04-26 13:58] Gardella-Web commented on #27880
Always no one for that?

[2022-04-26 14:26] #28122 closed, assigned to Progi1984

[2022-04-26 14:27] 202-ecommerce commented on #19544
I closed this issue and the PR associated. I've no time to work on this to propose a better way to reuse CustomManeyType and ResizableTextType.
It probably a bad uses of these object instead of real bug.
Don't waste time with this.

[2022-04-26 14:27] #19544 closed, assigned to nobody

[2022-04-26 14:33] Gardella-Web opened #28341 "Problem on credit note"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi all
Problem on credit note
I cre

[2022-04-26 14:35] jouino16 commented on #28322
Hello @marwachelly,

Thank you for your quick reply.

It is not a bug that I encountered, but it is a potential one. So I don't have neither a reproduction steps nor a screenshot.

It is technical, and should be checked by a developer. All he has to do is to read the code snippets I mentioned in the issue description and check if the code was written in purpose or not.

Thank you and have a great

[2022-04-26 14:52] Oksydan opened #28342 "Problem with`filterProductContent` hook in productcomments module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hook inside `hookFilterProductConte

[2022-04-26 15:02] marwachelly commented on #28322
Hello @jouino16 ,

So your suggession is to improve the code.
@PrestaShop/prestashop-core-developers Do you think this code may result a bug?

Many thanks,

[2022-04-26 15:15] kpodemski commented on #28327
@marwachelly It's an issue for the @PrestaShop/prestashop-maintainers team to comment on :)

[2022-04-26 15:33] hibatallahAouadni commented on #27880
@PrestaShop/product-team & @camilleganzin friendly reminder :wink:
Can someone please answer @Gardella-Web questions, thanks in advance :pray:

[2022-04-26 21:41] alfonsolr09 opened #28344 "Be able to sort the position of links in link lists"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Describe the sol

[2022-04-27 08:07] Mauro207 commented on #12814
I have the same problem on version 1.7.8.5. The quantities shown in the product list are incorrect.
![Screen1](https://user-images.githubusercontent.com/46824784/165471565-e196459b-b914-4d8c-8765-6ecf9194ef09.jpeg)

Where the total quantities between the combinations equals 1, I am shown 2 in the BO
![Screen2](https://user-images.githubusercontent.com/46824784/165471664-26d5bb8a-b998-4135-98b9-b76

[2022-04-27 08:34] JordanSuarez opened #28345 "Although it was merged, PR #21732 seems to have never been merged into the branch"
_Note from @matks: please see [this analysis](https://github.com/PrestaShop/PrestaShop/issues/28345#issuecomment-1222489800) for a complete explanation of this ticket_

### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/Presta

[2022-04-27 08:46] hibatallahAouadni commented on #28157
Hello @NikosTsiligaridis

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-27 09:27] hibatallahAouadni commented on #28344
Hello @alfonsolr09

Are you sugguesting to add a new field "position" foreach link?
Could you please provide any design proposal :pray:

Well thanks for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [

[2022-04-27 10:12] eshraw commented on #28331
Hello @sowbiba @marwachelly,

It seems the change was introduced through the issue #27632 . This [commit](https://github.com/PrestaShop/PrestaShop/commit/463903298d0878d4c45a04ebbe801b2a28ee2189) changed the order. Is there any doc related to this change @atomiix ?

Awaiting for answer before categorizing the issue.

[2022-04-27 11:15] Alan3k opened #28349 "Display products from disabled Subcategories in Parent Category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I'm trying to show products fr

[2022-04-27 11:31] hibatallahAouadni commented on #28334
Hello @sandra2n

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9779.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-04-27 11:31] #28334 closed, assigned to nobody

[2022-04-27 11:31] hibatallahAouadni commented on #28334
Duplicate of #9779

[2022-04-27 11:31] hibatallahAouadni commented on #28341
Hello @Gardella-Web

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9779.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-04-27 11:31] #28341 closed, assigned to nobody

[2022-04-27 11:32] hibatallahAouadni commented on #28341
Duplicate of #9779

[2022-04-27 11:36] hibatallahAouadni commented on #28341
Related to #9994

[2022-04-27 12:22] #23775 closed, assigned to PululuK

[2022-04-27 12:32] atomiix commented on #28331
Hi there, it seems that you're right, uninstall & disable are inverted, it wasn't on purpose

[2022-04-27 12:51] #23936 closed, assigned to Hlavtox

[2022-04-27 13:03] Saimis777 opened #28351 "Bank address mandatory field does not work. [Bank transfer module]"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Editing the account details in the

[2022-04-27 13:07] sowbiba commented on #28331
I didnt search for the commit but Yes, the order was inverted between 1.7.8 and develop and because the array is iterated in that order, the buttons in the front appear like this too