[2019-05-03 17:36] ANSB opened #13669 "getOrderShippingCost multiple calls"
Prestashop 1.7 bug seems to exist in other version:
When you create a carrier module, your function getOrderShippingCost() is called.
If you have eg 4 carriers, this function must be called 4 times, each time giving the id of a Carrier (so id of first, then of second...)
In fact, with 4 Carriers, the function is called 10 times, sending first ID the fisrt time, then agin the first the the second,

[2019-05-05 03:49] nirav-nanda commented on #13413
Yes, it would be nice option for that.

[2019-05-05 04:39] SharmPRO opened #13671 "Cart not finding Delivery Options due to static::cache variables not tested correctly"
I had to investigate why suddenly PS 1.7.5.0 / PHP Version 7.2.16 did not find any available carrier for any checkout.
I tracked down to class/Cart.php functions using static::$cachePackageList and static::$cacheDeliveryOptionList being the problem.
Adding more strict tests on cache validity solve the problem.
E.g.

public function getPackageList($flush = false)
    {
        $cache_key = (int) $t

[2019-05-05 08:19] matteolavaggi opened #13672 "Prestashop 1.7.2 search from app BAD result"
**Describe the bug**
Prestashop 1.7.2 has a bug function on search classes that return full of non pertinent result. I've ever seen a fix from official bug trace, but there is a fix available in many forum that consist in replace the classes with the 1.7.3 one.

There is a fix for the 1.7.2 search that allow to use internal and mobile app search in a usable way? Its incredible that we cant use the

[2019-05-05 08:41] jherry commented on #13625
Sorry for late reply I was on vacation.
@ChineseNorris Disable Page Cache module and test again. If you don't reproduce the issue without Page Cache then contact me here: https://jpresta.com/en/contact-us

[2019-05-05 14:07] slupostrupek commented on #11166
hello, it's pretty not minor bug :( still no one assigned
Bug also exist in prestashop 1.7.6

problem is in file: CustomerAddressFormatter.php class
from line: 103, there is missing format for customer

[2019-05-05 15:18] ChineseNorris commented on #13625
@khouloudbelguith , I've cleared the cache without results and empty my error logs to see if I can get the error. I did not managed to get any error from the logs and the cart is still greyed out.
However I managed to make the cart work if the stock management is disabled ( I can add products to the basket if I allow selling products that have no stock) but the ajax cart is still bugged (when you

[2019-05-05 16:22] preoteasa commented on #13510
Hello,

I tried to install your module on a clean install of the latest development version of Prestashop. After the clean installation, the hook displayProductPriceBlock is still not available for the  module "Currency block". After installing mymodule.zip, the hook becomes available.

Looking at mymodule, I noticed the following: mymodule registers hook displayProductPriceBlock, but implements o

[2019-05-05 17:23] Fixmetal opened #13673 "Products import doesn't import at all without errors in PS 1.7.5.2"
Hello everybody,
I'm trying to import stuff to migrate from another E-Commerce platform.
I've successfully imported every object since version 1.7.4.x (can't recall). By now I need to complete importing stuff and start using PS as main site.
I've updated from 1.7.5.0 to 1.7.5.2 with not an error.
After the update I've imported customers + addresses flawlessly.
Now I've started importing products b

[2019-05-05 18:32] Maofree opened #13674 "Errors to upgrade from 1.7.4.x to 1.7.5.x"
Hi
today I've tried for the second times with another site to upgrade from 1.7.4.2 to 1.7.5.2 (the problem was present also when I tried to upgrade to the past 1.7.5.1)
using the 1-click upgrade module the updating is stopped when it tries to upgrade the database

Error during database upgrade. You may need to restore your database.
Error updating translations

I've upgraded other sites from 1.7.5

[2019-05-05 18:47] Matt75 opened #15192 "Migrate from Blowfish to mcrypt correctly (PrestaShop 1.6)"
**Describe the bug**

Since PrestaShop 1.6.1.20, blowfish encryption is replaced by mcrypt.

On a shop using Blowfish, upgrade doesn't create necessary constants if needed and not udapte configuration

**Upgrade environment (please complete the following information):**
 - Version you started from: 1.6.0.11
 - Version you upgrade to: 1.6.1.24
 - Way of upgrade: Web
 - Step concerned: Database back

[2019-05-05 19:21] tyrelle commented on #12687
hi Guys, i fixed this is by fix @watou has given. I removed it from two files, the product.tpl and product-line.tpl. All errors were gone from search console when i did a live test

[2019-05-05 21:39] Maofree commented on #13674
Hi
I've upgraded all those 3 sites to the 1.7.5.2 with debug mode enabled and all went well
so I don't know if it is present some bugs or not
finally they are updated

bye

[2019-05-06 03:34] nirav-nanda commented on #13627
hello, @khouloudbelguith
sorry for late reply
here is my site information

Server information Linux #1 SMP Thu Dec 6 05:11:00 EST 2018 x86_64
Server software version: Apache/2.4.39 (cPanel) OpenSSL/1.0.2r mod_bwlimited/1.4 Phusion_Passenger/5.3.7
PHP version: 7.1.27

MySQL version: 5.5.61-38.13-log
MySQL server: localhost
MySQL engine: InnoDB
MySQL driver: DbPDO

PrestaShop version: 1.7.5.0
Shop U

[2019-05-06 06:41] slupostrupek commented on #12242
hello, clearing cache did not help

[2019-05-06 08:11] wikao2 commented on #13649
Let it down. I reinstall Prestashop and now it works.
Thank you for your tip @rdy4ever

[2019-05-06 08:23] idnovate commented on #11722
Hi!

Same problem when 2 cart rules with free gift is applied.

- Create 2 cart rules like this:

![image](https://user-images.githubusercontent.com/15104724/57214030-e107ee80-6fe8-11e9-9030-16cca52775f4.png)

- Shopping cart is €52.46 instead of €35.09:

![image](https://user-images.githubusercontent.com/15104724/57214048-efeea100-6fe8-11e9-869d-2d57b8609bc2.png)

[2019-05-06 08:39] SimonGrn opened #13675 "PSAddons module throwing errors after a fresh install"
**Describe the bug**
After a fresh install (country: FR, language: EN), the PSAddons module displays an error in the BO.
Full error message :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install PrestaShop 1.7.6.x (country: FR, language: EN)
2. Go to the BO
3. Close the Welcome module
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/49909275/57214603

[2019-05-06 09:00] #13649 closed

[2019-05-06 09:07] sarahdib commented on #10547
![Capture d’écran 2019-05-06 à 10 58 23](https://user-images.githubusercontent.com/3034677/57216060-07308d00-6fef-11e9-8bac-0d603fccfb01.png)

When I click on save without setting the require information the save button is not the right one who is display

[2019-05-06 09:33] svergeylen commented on #12026
Thank you. It also solved my issue.

I copied the file /modules/xipblog/xipblog.php and edited it at 3 places :

[code]

[code]

[code]

then upload it on the server to overwrite the existing file (in my case, I use a child theme so it should be copied in the child theme and not in the modules/xipblog directory)

[2019-05-06 09:49] YourStylesas opened #13678 "My Dashboard and Statisitcs don't work."
The overall visits in my dashboard don't show the correct data.
For example right now it says I got 1012 visits todays and it is completely wrong.
I already reset all the modules connected but nothing changed.
Can someone help me?
![Screenshot (25)](https://user-images.githubusercontent.com/50321557/57218163-eff49e00-6ff4-11e9-9628-6481a98aabd8.png)

[2019-05-06 09:56] wikao2 commented on #13475
In fact, I realized that it always does when I activate the debug mode BEFORE installing Prestashop (to have the option Do not create the products demo).
Moreover, there is no other way to do (to have the option Do not create the products demo Prestashop installation)?

[2019-05-06 10:16] centoasa opened #13679 "import with error"
Prestashop 1.7.5.2 on php 7.2.17
If I try to import a xls/csv and smarty cache is active, at the end of import process I'll have: https://nimb.ws/akJTjR
Sometimes my server goes down after this.
Try again after some minutes, all goes well

[2019-05-06 10:20] CoralieNouletteAlbalogic opened #13681 "Avoid overrides in Prestashop 1.7"
Hi Prestashop Developers,

My issue is not really a bug a important question about overrides. I know the documentation advice us not to use them anymore. But I need to migrate a important module in PS 1.6 to 1.7 and I would like to get rid of overrides. When I have to install or upgrade the module, it takes a lot of time and generates errors.

My question is : is it possible to extends code classe

[2019-05-06 10:32] BenTen commented on #9817
There is still this issue on 1.7.5.0, is there a plan to fix this issue soon?

cc @khouloudbelguith @marionf

[2019-05-06 11:35] Wanna333 commented on #12687
Hi, I have the same problem. Could not find the @watou fix. What should I remove then for the product.tpl and product-line.tpl? Thanks.

[2019-05-06 11:46] LucaMozzo opened #13682 "stock_available cleanup for non-existing products"
**Is your feature request related to a problem? Please describe.**
Yes. I was writing a program that was doing some mapping `product -> stock_available`, and I noticed that there were `stock_available` entries for non-existing products

**Describe the solution you'd like**
I believe it could make sense to have a `NOT NULL` constraint on the database field, and an update statement like `ON CASCADE

[2019-05-06 13:38] #13543 closed, assigned to nobody

[2019-05-06 14:01] tomlev commented on #13658
unfortunately behat will no help with this issue because it's more related to display than calculation...
E2E tests will.

[2019-05-06 15:00] #9949 closed, assigned to nobody

[2019-05-06 15:01] #12560 closed, assigned to PierreRambaud

[2019-05-06 15:13] marionf commented on #13675
@MatShir Do you think it's necessary to keep the two issues (this one and #13438) ? Or we can close one of the two ?

[2019-05-06 15:14] #13618 closed, assigned to sarjon

[2019-05-06 15:18] MatShir commented on #13675
Edit: The issues isn't the same. We should keep them to be sur they are fixed.

[2019-05-06 15:19] #13658 closed, assigned to tomlev

[2019-05-06 15:19] #11360 closed, assigned to nobody

[2019-05-06 15:19] #9856 closed, assigned to nobody

[2019-05-06 15:25] wikao2 opened #13685 "Prestashop 1.7.5.1 : Can't remove id_product_attribute from URL Format of products"
Hello everybdoy,

On a test server, I migrated a Prestashop 1.6.1.5 site to Prestashop 1.7.5.1 thanks to a module developed by Migration Pro (module that I recommend).

Thanks to this module, I was able, in particular, to keep the different IDs (product IDs, categories, customers ...)

However, I notice a difference between the URLs between Prestashop 1.6.1.5 and Prestashop 1.7.5.1 even after bein

[2019-05-06 17:55] cereal-s opened #13688 "Composer update lead to ClassNotFoundException for ICanBoogie\CLDR\RunTimeProvider"
Hello,

after performing `composer update` I got this error (in all pages, FO and BO):

[code]

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2.17
Linux: Ubuntu 18.04
Web Server: NGINX

I have also installed a brand new copy of PS, a new database and all, and after the update, I get the same issue. Is it not possible to perform a composer update? And, can I add packages th

[2019-05-06 19:57] johstrom commented on #9809
Hi, @khouloudbelguith - sorry, but I do not think the big issue here is the large number of products. I have another Prestashop site with 100.000 products, without this issue.

The site with the issue has around 60.000 products, but a lot of categories and features for every book.

You wrote above that a large number of categories shouldn't be an issue with latest version. And I know that Prestash

[2019-05-06 21:48] tyrelle commented on #12687
hi @Wanna333,
find this line:

  `<article class="product-miniature js-product-miniature" data-id-product="{$product.id_product}" data-id-product-attribute="{$product.id_product_attribute}" itemscope itemtype="http://schema.org/Product">`

Change it to below, you need to comment out "**itemscope itemtype="http://schema.org/Product**" in both the files

  `<article class="product-miniature js-produ

[2019-05-06 21:54] redtyper commented on #9919
are there any progress? in version 1.7.5.1, the issue still exists :(

[2019-05-07 07:23] PierreRambaud commented on #12461
Dev dependencies are no longer maintained due to PHP7.1+ requirements. For example if I use phpunit & codecoverage:

[2019-05-07 07:27] khouloudbelguith commented on #13179
Hi @Partenopeo83,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-07 07:27] #13179 closed, assigned to nobody

[2019-05-07 07:28] khouloudbelguith commented on #13169
Hi @corsik,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-07 07:28] #13169 closed, assigned to nobody

[2019-05-07 07:28] khouloudbelguith commented on #13204
Hi @zhoudin,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-07 07:28] #13204 closed, assigned to nobody

[2019-05-07 07:29] khouloudbelguith commented on #13120
Hi @jslomana2,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-07 07:29] #13120 closed, assigned to nobody

[2019-05-07 07:35] khouloudbelguith commented on #13669
Hi @ANSB,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your version PHP, check & feedback.

[2019-05-07 07:36] sanctusmob opened #13689 "Discount cart rules invalid total_discount_tax_excl (the value is with tax included)"
I create a cart rule "1 plus 1" in some brand apply a discount 100% to the cheapest product.
When the order is place the field in DB total_discount_tax_excl have the discount with tax.
ex.
total_discounts --> 39.990000
total_discount_tax_incl --> 39.990000
total_discount_tax_excl --> 39.990000

it should be like this (the product have 24% tax)
total_discounts --> 39.990000
total_discount_tax_incl

[2019-05-07 07:40] khouloudbelguith commented on #13671
Hi @SharmPRO,

Could you please add steps in a new comment to reproduce the issue.
in my case, I did not manage to reproduce your issue.

What to Check If PrestaShop Carriers Are Not Available At Checkout?

1.  Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
2. Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a

[2019-05-07 07:43] ghost commented on #13640
@MatShir What do you think of the solution ?

[2019-05-07 07:48] khouloudbelguith commented on #13675
Hi @marionf,

This issue is duplicate of https://github.com/PrestaShop/PrestaShop/issues/10934
Thanks!

[2019-05-07 07:56] boubkerbribri opened #13691 "Can't delete dni from input Address format for country Spain"
**Describe the bug**
Dni value is always present in input `Address format` for country Spain

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International -> Locations ' SubMenu
2. Click on 'Countries' SubTab
3. Search for Spain
4. Click on 'Edit'
![Address fromat 1](https://user-images.githubusercontent.com/48441421/57282726-eaa75a00-70ad-11e9-809f-eb816576cc8a.png)
5. Edit Address f

[2019-05-07 07:58] mbadrani commented on #13691
@khouloudbelguith wdyt?

[2019-05-07 08:01] #13675 closed, assigned to nobody

[2019-05-07 08:21] khouloudbelguith commented on #13691
Hi @boubkerbribri, @mbadrani,

This is normal behavior, because `Do you need a tax identification number?` is enabled for Spain.
If you disable this option, you delete the dni from the address format & when you try to edit it, it will not be displayed.
![image](https://user-images.githubusercontent.com/16067358/57284765-baf65300-70a9-11e9-960b-e54c46f8b259.png)

PR for the fix: https://github.com/

[2019-05-07 08:46] khouloudbelguith commented on #13688
Hi @cereal-s,

Did you installed the stable version PS1.7.5.1 from our official website?
The stable version doesn't have the composer.json file, how you could run `composer update`?
Thanks!

[2019-05-07 08:54] matks commented on #13040
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13219

[2019-05-07 08:54] #13040 closed, assigned to PierreRambaud

[2019-05-07 09:00] boubkerbribri commented on #13691
OK, thank you.
Test E2E updated #13686 commit [#25b4d75](https://github.com/PrestaShop/PrestaShop/pull/13686/commits/25b4d75893c8c92437a7e4f0283a109e1e074c0b).

[2019-05-07 09:00] #13691 closed, assigned to boubkerbribri

[2019-05-07 09:25] cereal-s commented on #13688
Hi,

Thank you for your reply!

Yes, the PS is the 1.7.5.1 stable version downloaded from your website, while I got the composer.json file from https://raw.githubusercontent.com/PrestaShop/PrestaShop/develop/composer.json

My original goal was to include jcupitt/php-vips[0] through composer, which I have done by running the command in my box, then I just uploaded the vendor/jcupitt folder and the

[2019-05-07 09:31] khouloudbelguith commented on #13688
@cereal-s, you just added the composer file from the develop branch, but you are using the PS1.7.5.1 version.
You can find here the composer.json file for the PS1.7.5.1 https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/composer.json
Thanks to check & feedback.

[2019-05-07 09:32] matks commented on #13640
We also forbid the use of / character, which prevents people of using a last name such as "Morin / Dubois".

[2019-05-07 09:38] khouloudbelguith commented on #13674
Hi @maofree,

Thanks for your report.
I did not manage to reproduce the issue with the 1-click upgrade v4.7.0.
I attached a video record
https://drive.google.com/file/d/18t1bzUls03Eo--XpVLPTNHKvyOdhnC5e/view
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-05-07 09:41] SharmPRO commented on #13671
Hi,
- checked all carriers had no package limit ( all 0) NO Carriers available (Sfortunatamente, non ci sono vettori disponibili per il tuo indirizzo di consegna.)
- disabled the 2 cart rules ( with minimum amount not reached ) - Carriers available!
- enabled the 2 cart rules and one does not reach the minimum amount - NO Carriers available
- enabled the 2 cart rules and all do reach the minimum a

[2019-05-07 09:48] #13324 closed, assigned to nobody

[2019-05-07 09:48] #13325 closed, assigned to nobody

[2019-05-07 09:48] #13326 closed, assigned to nobody

[2019-05-07 09:48] #13327 closed, assigned to nobody

[2019-05-07 09:48] #13328 closed, assigned to nobody

[2019-05-07 09:48] #13329 closed, assigned to nobody

[2019-05-07 09:48] #13330 closed, assigned to nobody

[2019-05-07 09:48] #13331 closed, assigned to nobody

[2019-05-07 09:48] #13332 closed, assigned to nobody

[2019-05-07 09:48] #13333 closed, assigned to nobody

[2019-05-07 09:48] #13334 closed, assigned to nobody

[2019-05-07 09:48] #13335 closed, assigned to nobody

[2019-05-07 09:48] #13336 closed, assigned to nobody

[2019-05-07 09:48] #13337 closed, assigned to nobody

[2019-05-07 09:48] #13338 closed, assigned to nobody

[2019-05-07 09:48] #13339 closed, assigned to nobody

[2019-05-07 09:48] #13340 closed, assigned to nobody

[2019-05-07 09:48] #13341 closed, assigned to nobody

[2019-05-07 09:48] #13342 closed, assigned to nobody

[2019-05-07 09:48] #13343 closed, assigned to nobody

[2019-05-07 09:48] #13344 closed, assigned to nobody

[2019-05-07 09:48] #13345 closed, assigned to nobody

[2019-05-07 09:48] #13346 closed, assigned to nobody

[2019-05-07 09:48] #13347 closed, assigned to nobody

[2019-05-07 09:48] #13348 closed, assigned to nobody

[2019-05-07 09:48] #13299 closed, assigned to nobody

[2019-05-07 09:48] #13300 closed, assigned to nobody

[2019-05-07 09:48] #13301 closed, assigned to nobody

[2019-05-07 09:48] #13302 closed, assigned to nobody

[2019-05-07 09:48] #13303 closed, assigned to nobody

[2019-05-07 09:48] #13304 closed, assigned to nobody

[2019-05-07 09:48] #13305 closed, assigned to nobody

[2019-05-07 09:48] #13306 closed, assigned to nobody

[2019-05-07 09:48] #13307 closed, assigned to nobody

[2019-05-07 09:48] #13308 closed, assigned to nobody

[2019-05-07 09:48] #13309 closed, assigned to nobody

[2019-05-07 09:48] #13310 closed, assigned to nobody

[2019-05-07 09:48] #13311 closed, assigned to nobody

[2019-05-07 09:48] #13312 closed, assigned to nobody

[2019-05-07 09:48] #13313 closed, assigned to nobody

[2019-05-07 09:48] #13314 closed, assigned to nobody

[2019-05-07 09:48] #13315 closed, assigned to nobody

[2019-05-07 09:48] #13316 closed, assigned to nobody

[2019-05-07 09:48] #13317 closed, assigned to nobody

[2019-05-07 09:48] #13318 closed, assigned to nobody

[2019-05-07 09:48] #13319 closed, assigned to nobody

[2019-05-07 09:48] #13320 closed, assigned to nobody

[2019-05-07 09:48] #13321 closed, assigned to nobody

[2019-05-07 09:48] #13322 closed, assigned to nobody

[2019-05-07 09:48] #13323 closed, assigned to nobody

[2019-05-07 09:49] #10733 closed, assigned to matks

[2019-05-07 09:49] #12741 closed, assigned to nobody

[2019-05-07 09:49] #13276 closed, assigned to nobody

[2019-05-07 09:49] #13277 closed, assigned to nobody

[2019-05-07 09:49] #13278 closed, assigned to nobody

[2019-05-07 09:49] #13279 closed, assigned to nobody

[2019-05-07 09:49] #13280 closed, assigned to nobody

[2019-05-07 09:49] #13281 closed, assigned to nobody

[2019-05-07 09:49] #13282 closed, assigned to nobody

[2019-05-07 09:49] #13284 closed, assigned to nobody

[2019-05-07 09:49] #13285 closed, assigned to nobody

[2019-05-07 09:49] #13286 closed, assigned to nobody

[2019-05-07 09:49] #13287 closed, assigned to nobody

[2019-05-07 09:49] #13288 closed, assigned to nobody

[2019-05-07 09:49] #13289 closed, assigned to nobody

[2019-05-07 09:49] #13290 closed, assigned to nobody

[2019-05-07 09:49] #13291 closed, assigned to nobody

[2019-05-07 09:49] #13292 closed, assigned to nobody

[2019-05-07 09:49] #13293 closed, assigned to nobody

[2019-05-07 09:49] #13294 closed, assigned to nobody

[2019-05-07 09:49] #13295 closed, assigned to nobody

[2019-05-07 09:49] #13296 closed, assigned to nobody

[2019-05-07 09:49] #13297 closed, assigned to nobody

[2019-05-07 09:49] #13298 closed, assigned to nobody

[2019-05-07 09:49] khouloudbelguith commented on #13673
Hi @Fixmetal,

I made an upgrade from PS1.7.4.4 to PS1.7.5.2 with the 1-click upgrade v4.7.0 successfully.
https://drive.google.com/file/d/18t1bzUls03Eo--XpVLPTNHKvyOdhnC5e/view
In the import page, when I import products, it is OK
I attached a video record.
https://drive.google.com/file/d/1oyHx1MbEtGpWc54T5v4xp4z2IQCHfnIU/view
Could you please provide us with more info? We need more details to und

[2019-05-07 09:51] dannielhendrix opened #13694 "PHP Parse error: syntax error, unexpected 'finally'"
Hello,

Wondering if anyone can help me in the right direction.

until today everything worked ok... today suddenly I can not enter to the admin of my store

The problem seems to be: PHP Parse error:  syntax error, unexpected 'finally' (T_STRING), expecting catch (T_CATCH) in /home/....................../public_html/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php on line 201

ha

[2019-05-07 09:52] khouloudbelguith commented on #13671
@SharmPRO, thanks for your feedback.
So, your issue seelms to be similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/10903?
As described here: https://github.com/PrestaShop/PrestaShop/issues/10903#issuecomment-438573882
Thanks!

[2019-05-07 09:55] khouloudbelguith commented on #13694
Hi @dannielhendrix,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-

[2019-05-07 09:55] matks commented on #13681
Hi @CoralieNouletteAlbalogic, thanks for reaching us with this very interesting question !

Indeed we want to deprecate the use overrides that are known to introduce several issues. I think you already encountered some of them: 2 modules overriding the same class, incompatible behaviors when upgrading the shop...

In the BO pages migrated to Symfony, we provide 2 replacement mechanisms to avoid ov

[2019-05-07 09:57] SharmPRO commented on #13671
Correct

[2019-05-07 09:58] attractive opened #13695 "500 Internal Server Error - upload photo"
Hi,

After upgrading from 1.7.3 to 1.7.5. we can not add photos to the product. We click add photos and we get a mistake every time.

'
wielkanoc2019.jpg:
{"tmp_name":"\/tmp\/php35WqVA","name":"wielkanoc2019.jpg","size":91294,"type":"image\/jpeg","err
{"1":true},"url_update":"\/admin!\/index.php\/sell\/catalog\/products\/image\/form\/1116?
_token=ZYn6otBbkq4ZyrS229LR9V8OE1rHktocQ9O6WsrVM94","url_d

[2019-05-07 09:58] didi-2018 opened #13697 "Customer can only ask for a return out of customer account if status "order delivered" reached"
Hi,

customers can only ask for a return out of costumer account if status "order delivered" (ID 5) is set manually in orders.

How to reproduce:
1.) have an order from customer which has created a costumer account
2.) set order status as "shipped" or any other status
3.) log into customer account
4.) go to "orders"
5.) select an placed order
6.) try to mark items which you want to return and you

[2019-05-07 09:59] khouloudbelguith commented on #13671
Duplicate of #10903

[2019-05-07 09:59] #13671 closed, assigned to nobody

[2019-05-07 09:59] matks commented on #13694
Hi @dannielhendrix your php version seems to be outdated as this error happens on php with version lower than 5.5

[2019-05-07 10:00] SharmPRO commented on #13671
So there is no 'bug fix' ?

[2019-05-07 10:00] khouloudbelguith commented on #13671
@SharmPRO, we are aware of this issue, it is added to our debug roadmap so that it will be fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Your ticket is a duplicate of #10903
So, I close it.
Thanks!

[2019-05-07 10:02] SharmPRO commented on #13671
class/Cart.php

public function getPackageList($flush = false)
{
$cache_key = (int) $this->id . '_' . (int) $this->id_address_delivery;
if (isset(static::$cachePackageList[$cache_key]) && static::$cachePackageList[$cache_key] !== false && !$flush) {
return static::$cachePackageList[$cache_key];
}

changed with:

public function getPackageList($flush = false)
{
$cache_key = (int) $this->id . '_' .

[2019-05-07 10:05] mayoji opened #13698 "PHP Fatal error: Out of memory in CategoryDataProvider.php"
After upgrading a store from 1.6 to 1.7.5.1, attempts to view a product information page in the back office (e.g. /admin/index.php/sell/catalog/products/16) lead to a PHP Fatal Error:

PHP Fatal error:  Out of memory (allocated 3315597312) (tried to allocate 536870912 bytes) in /var/www/html/src/Adapter/Category/CategoryDataProvider.php on line 206

The catalog has about 12,000 products in 528 cat

[2019-05-07 10:08] khouloudbelguith commented on #13695
Hi @attractive,

Could you please to delete the `tmp` folder, try to create a new one with access permission 777& regenerating thumbnails ( go to BO => Design => Image Settings => click on Regenerate thumbnails ).
Thanks to check & feedback.

[2019-05-07 10:11] dannielhendrix commented on #13694
hello @matks ,
thank you for your response, my php version is 5.6! and as I said everything worked well until today, when suddenly this problem

[2019-05-07 10:17] dannielhendrix commented on #13694
the store works well, I get orders from customers... just that I can not just that I can not see the dashboard because of that error

[2019-05-07 10:18] khouloudbelguith commented on #13671
@SharmPRO, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-05-07 10:27] dannielhendrix commented on #13694
Hi @khouloudbelguith
Thank you for your response
Prestashop version is 1.7.5.0
PHP version is 5.6
The rest of the data I really do not know where to find them

[2019-05-07 10:28] khouloudbelguith commented on #13694
@dannielhendrix, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-05-07 10:28] khouloudbelguith commented on #13698
Hi @mayoji,

Have you the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9809?
Thanks!

[2019-05-07 10:43] khouloudbelguith commented on #12687
Hi @tyrelle, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-05-07 10:45] mayoji commented on #13698
Hi @khouloudbelguith,

No, issue #9809 describes a situation where the browser runs out of resources because it's trying to display too much data. It's a client-side issue due to how pagination was designed.
The issue I'm having leads to the server running out of memory.

[2019-05-07 10:52] ChineseNorris commented on #13625
Hello,

Doing more tests disabling and enabling the stock management the add to cart button is now working again with AJAX, however in cart section the AJAX function to update and delete products from the cart is still bugged (you click or enter another quantity or delete it from the cart and you have to refresh the page in order to update the cart)

[2019-05-07 10:52] attractive commented on #13695
Hi,

We don''t have folder tmp, but we create and regenerating thumbnails - There is still the same problem.

[2019-05-07 10:53] ANSB commented on #13669
This change nothing (of course!). If you have a look at messages about this subject you'll find a lot. The only difference is that in these messages, people said the call is made more than needed when in our case we were able to check deeper.

[2019-05-07 10:55] cereal-s commented on #13688
@khouloudbelguith I knew I was doing something wrong. Thank you very much, this solved the issue.

[2019-05-07 10:55] #13688 closed, assigned to nobody

[2019-05-07 10:58] khouloudbelguith commented on #13685
Hi @wikao2,

Recently we have made some modifications related to the SEO OPTIMIZATION in the product page.
You can follow those links: #9463, #9456
About the bad URL when the product has combinations, we have also this issue #9784, it is added to our bug roadmap, so that will be fixed.
Your ticket is a duplicate of #9784
So, I close it.
Thanks!

[2019-05-07 10:58] #13685 closed

[2019-05-07 11:00] khouloudbelguith commented on #13688
@cereal-s, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-05-07 11:02] khouloudbelguith commented on #13698
@mayoji, so your problem is a server issue?
Thanks!

[2019-05-07 11:07] khouloudbelguith commented on #13625
Hi @ChineseNorris,

Despite our several trials, we could not reproduce your issue with the provided information.
I tried with PS1.7.5.1 & PS1.7.5.2 => OK.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2019-05-07 11:07] #13625 closed, assigned to nobody

[2019-05-07 11:08] khouloudbelguith commented on #13695
@attractive, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-05-07 11:11] khouloudbelguith commented on #13682
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-05-07 11:22] mayoji commented on #13698
Yes, PHP on the server runs out of memory.

[2019-05-07 11:31] attractive commented on #13695
Still the same problem.  I turned on debug:

![error-presta](https://user-images.githubusercontent.com/566471/57296073-4f71ad00-70cc-11e9-8bf3-3f21c8059730.jpg)

[2019-05-07 11:31] dannielhendrix commented on #13694
@khouloudbelguith
I was able to find where the problem was: the frontend of the store it was on the php version 5.6 but the admin folder was on version 5.4 of the php! I do not know how it is possible but updating the php version for admin file to 5.6 solved the problem

[2019-05-07 11:41] khouloudbelguith commented on #13698
@mayoji, if your issue is not a PrestaShop's core bug but a server configuration, I should close the issue & you need to check the issue with your host.
Thanks!

[2019-05-07 11:46] khouloudbelguith commented on #13679
Hi @centoasa,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/13LASmXksKc6TVsSqXW1NdI2szzgL1dJk/view
Could you please provide me the exact file you tried to import it.
Thanks!

[2019-05-07 11:50] marionf commented on #10021
Not fixed yet

[2019-05-07 11:52] mayoji commented on #13698
@khouloudbelguith, This is NOT a server issue. As I wrote, the same store was working fine with PS 1.6 and only 256M of PHP memory_limit. The PHP script crashes running out of memory with P.S. 1.7 and 3700M of PHP memory_limit. It's a bug or major performance issue in the code.

[2019-05-07 11:54] khouloudbelguith commented on #13695
@attractive, your issue is related to the `litespeedcache` module.
You should contact the module author about this issue.
Your ticket is a duplicate of #11939
So, I close it.
Thanks!

[2019-05-07 11:54] #13695 closed, assigned to nobody

[2019-05-07 11:55] khouloudbelguith commented on #13695
Duplicate of #11939

[2019-05-07 11:57] khouloudbelguith commented on #13694
@dannielhendrix, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-07 11:57] #13694 closed, assigned to nobody

[2019-05-07 12:01] marionf commented on #9955
It's fixed in 1.7.6.0

![capture d'écran_1502](https://user-images.githubusercontent.com/13449658/57297723-aaa59e80-70d0-11e9-97b3-47f737177ced.png)

[2019-05-07 12:01] #9955 closed, assigned to nobody

[2019-05-07 12:06] marionf commented on #9954
@khouloudbelguith I can't reproduce this issue on 1.7.6.0
Can you try to reproduce it ?

[2019-05-07 12:13] matks commented on #13694
Ask your hosting provider 😉 . You should do it in order to be sure there is no other "surprises" like this still unknown to you

[2019-05-07 12:20] ptvsat opened #13699 "ps_facetedsearch liste deroulante (no filter)"
**Describe the bug**
liste deroulante n'affiche aucun choix

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://boutique.visionnet.fr/index.php?id_category=8&controller=category&id_lang=2'

**Screenshots**

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 5.6

[2019-05-07 12:25] khouloudbelguith commented on #9954
Hi @marionf,

No, I did not manage to reproduce the issue with PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/57299045-90b58d00-70cb-11e9-9d33-bd2bbce27339.png)
I close the issue.
Thanks!

[2019-05-07 12:25] #9954 closed, assigned to nobody

[2019-05-07 12:27] khouloudbelguith commented on #13699
Hi @ptvsat,

Do you have an issue with the "Marque" filter?
![image](https://user-images.githubusercontent.com/16067358/57299192-d8d4af80-70cb-11e9-9852-b45847ec53ab.png)
Thanks!

[2019-05-07 12:42] marionf commented on #9931
I can't reproduce it with 1.7.6.0

![capture d'écran_1504](https://user-images.githubusercontent.com/13449658/57300043-47b70600-70d6-11e9-8225-63f238fb5aff.png)

![capture d'écran_1505](https://user-images.githubusercontent.com/13449658/57300057-4dace700-70d6-11e9-8895-aa85ffaa34f2.png)

[2019-05-07 12:42] ptvsat commented on #13699
oui , avec "case a cache"r ou "bouton radio" aucun probleme.
version ps_facetedsearch 2.2.1

Merci

[2019-05-07 12:42] #9931 closed, assigned to nobody

[2019-05-07 12:45] khouloudbelguith commented on #13699
@ptvsat, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thank

[2019-05-07 12:46] khouloudbelguith commented on #13678
Hi @YourStylesas,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/how

[2019-05-07 12:49] watou commented on #12687
@khouloudbelguith I would be concerned that a pull request that only comments out code would not represent a sufficiently robust attempt at addressing this issue.  It would be so much better to have a well researched and comprehensive solution we could all have faith in.  I know this is an open source project (with heavy influence from a private company that maybe has resources?) but I don't think

[2019-05-07 12:51] matks opened #13701 "[SF Migration] Provide a bridge for Helper classes / allow Helper classes for Symfony"
In `classes/helper` there's a lot of helping classes that are widely used by modules and themes, and are especially useful for new developers learning PrestaShop.

I think it would help a lot module developers if we provide a bridge to allow these helper classes to work in migrated pages (meaning: using Twig).

This bridge can take many forms, for example:

a) Full bridge that allow to use a legac

[2019-05-07 13:04] centoasa commented on #13679
in the previous error session, I had "recompile template ..."
Now I have tried like you with the "never compile" and does not generate any errors. We do further tests with all the smarty cache variants

[2019-05-07 13:09] tomas862 commented on #13467
Hi @TristanLDD

I can't really re-create the fist issue "When uploading a PrestaShop theme that contains the theme configurator module, the bloc that links to the module doesn't display correctly". Its mainly due to I need exact steps you did to reproduce it since that message which appears is quite tricky to find.

It would be great if you could provide the zip you tried to install the theme and

[2019-05-07 13:33] khouloudbelguith commented on #13679
@centoasa, I tried with this option & it is OK
https://drive.google.com/file/d/1WOPkbm0D21mM-ZdnRm_xwwZyAxtJ09n7/view
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-05-07 13:47] khouloudbelguith commented on #13689
Hi @sanctusmob,

Thanks for your report.
I manage to reproduce the issue with the last version PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/57304196-cd3ab600-70d6-11e9-83ec-1ac2920d5c5b.png)
In the database, ps_orders table the total_discount_tax_excl is incorrect
![image](https://user-images.githubusercontent.com/16067358/57304286-f3f8ec80-70d6-11e9-8ebf-0f05b16b86eb.png

[2019-05-07 13:51] rrataj commented on #9594
Hello!
I'm also facing the problem with PayPal module and splitting orders with wrong amount. Can you share your solution? The new version of PayPal module is not yet released.

Best Regards

[2019-05-07 14:00] AC-LOG opened #13702 "Bug Prestashop WebService unit_price_ratio"
Bug Prestashop WebService "unit_price_ratio"

**Describe the bug**
Bug with the webservice prestashop with  "unit_price_ratio"
We test a lot of solution write here but no function good. I take a Ticket on prestashop
and I was informed that it was a real bug and I was advised to write here for it and be resolved faster

**Additionnal information**
PrestaShop version:  1.6 / 1.7
PHP version: >7.0

T

[2019-05-07 14:01] matks commented on #12461
As discussed today, we're going to enable PS to work php7.3 on `develop` (milestone 1.7.7) branch. This means *dropping php5.6 support* as we have incompatible dependencies requirements between 5.6 and 7.3 .

Todo:
- [ ] Write a blog article to explain the reasons behind the drop of php5.6
- [ ] Update composer.json to use php7.3
- [ ] Configure CI to run tests with php7.3, disable 5.6 builds

[2019-05-07 14:16] khouloudbelguith commented on #13702
Hi @AC-LOG,

What is the exact bug with unit_price_ratio?
I used this script, for example, to add a product via webservice which have a unit_price_ratio

[code]

Thanks to check & feedback.

[2019-05-07 14:22] TristanLDD commented on #13467
Hi @Thomas,

I just sent you by email the zip file you need to reproduce this issue, it's related to the themes developed by PrestaShop. You'll see the message once installed. Sorry for the omission.

[2019-05-07 14:24] Yopai opened #13705 "Cart > getSpecificPrice called with shop group id rather than customer group id"
**Describe the bug**
In the cart, reduction is shown in amount instead of percentage.

Debugging, I suspect the bug is due to the line 585 in classes/Cart.php :
`SpecificPrice::getSpecificPrice( ... (6 parameters), $this->id_shop_group, ...)`
But looking at the definition of this method :
`public static function getSpecificPrice(... (6 parameters), $id_group, ...)`

In other words : the method is

[2019-05-07 14:28] khouloudbelguith commented on #13697
Hi @didi-2018,

I tried with PS1.7.5.2, when the status of the order is set to `Delivered` or `Shipped`, we can return a product from the FO
![image](https://user-images.githubusercontent.com/16067358/57307343-4a1c5e80-70dc-11e9-9ac2-b7e06918a8b1.png)
For those statuses, we have the "Set the order as shipped." option is checked => so we can return products
![image](https://user-images.githubuserco

[2019-05-07 14:37] khouloudbelguith commented on #13705
Hi @Yopai,

I did not manage to reproduce the issue with PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/57308175-c19ebd80-70dd-11e9-8248-1cd06113b1f7.png)
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-presta

[2019-05-07 14:52] khouloudbelguith commented on #13672
Hi @matteolavaggi,

Thanks for your report.
ping @eternoendless @matks @PrestaShop/prestashop-core-developers what do you think about the  web service search request?
Thanks!

[2019-05-07 14:53] marionf commented on #9601
@khouloudbelguith I can't reproduce this issue with 1.7.6.0
Can you try to reproduce it ?

[2019-05-07 14:58] didi-2018 commented on #13697
Hi @khouloudbelguith maybe it is working with 1.7.5.2 but I have the problem with 1.7.5.1

and my status "shipped" has the option "set order as shipped" too

![image](https://user-images.githubusercontent.com/44971218/57310015-58bd4280-70e9-11e9-9dd7-b2eecd8ac45a.png)

[2019-05-07 15:01] khouloudbelguith commented on #9601
Hi @marionf,

Yes, I have the same issue with PS1.7.6.0.
https://drive.google.com/file/d/188tpwwqpVMqppwADE9a2LmcmV5Enko12/view
Thanks!

[2019-05-07 15:11] marionf commented on #9601
All right, so the issue is only with "all" :+1:

[2019-05-07 15:30] COCOPOT commented on #9594
Hi, you have to write to module developers. They will solve it. I asked them to share here the solution but they told me that they only answer to customers via prestashop addons support.

Regards,

[2019-05-07 15:39] #13662 closed, assigned to jolelievre

[2019-05-07 16:09] YourStylesas commented on #13678
[Edited by Khouloud]

[2019-05-07 16:48] ptvsat commented on #13699
Merci pour votre retour

filtre avec bouton radio et case fonctionne normal .

![Capture](https://user-images.githubusercontent.com/50365840/57317513-cbc5b980-70e7-11e9-95c0-a9a53c0abd00.JPG)

avec liste déroulante aucun affichage

[2019-05-07 21:41] Flower7C3 opened #13708 "Incorrect value after udating product quantity in cart"
**Describe the bug**
Changing product quantity in cart works like random.

**To Reproduce**
Steps to reproduce the behavior:
1. Add any product to cart and go to cart.
2. Click UP arrow to change product quantity or type quantity manually.
3. Repeat step 2 few times.
4. Result product quantity is random.

**Screenshots**
https://sendvid.com/jgk6d5jj
In my example when I type 10, it sends quantity

[2019-05-07 23:23] PierreRambaud commented on #13699
HI,
We fixed many issues recently and we will release a new version with the version 1.7.6.
Can you try with the latest version, available on the ̀dev` branch? (in ps_facetedsearch repository)

Kind regards

[2019-05-08 01:47] ptvsat commented on #13699
think's to your replay.
impossible d'installer le module repository , j"ai essayé de copier manuellement (ftp)t, j'ai l'erreur suivante:

![Capture](https://user-images.githubusercontent.com/50365840/57343496-25070a80-7133-11e9-8ca4-332eb24321ca.JPG)

[2019-05-08 07:05] centoasa commented on #13679
file for import attached
[tele-test1.xlsx](https://github.com/PrestaShop/PrestaShop/files/3155931/tele-test1.xlsx)
the issue happens always on first istance, after first all goes well.
But I've to clear cache manually whenever import session?

[2019-05-08 07:25] khouloudbelguith commented on #13708
Hi @Flower7C3,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1G_JPdct19KscD6Kf6MQe7073XR9XAbSC/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript cons

[2019-05-08 07:27] khouloudbelguith commented on #13220
Hi @vincent-dp,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-08 07:27] #13220 closed, assigned to nobody

[2019-05-08 07:28] khouloudbelguith commented on #13231
Hi @bbdebo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-08 07:28] #13231 closed, assigned to nobody

[2019-05-08 07:29] khouloudbelguith commented on #13245
Hi @softweb-dev,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-08 07:29] #13245 closed, assigned to nobody

[2019-05-08 07:39] khouloudbelguith commented on #13678
@YourStylesas, I deleted your credentials for your security
This is a public space.
Let's be safe!

Thanks!

[2019-05-08 07:42] khouloudbelguith commented on #13699
Hi @ptvsat,

Did you cloned this module from GitHub or did you downloaded it as a zip folder?
Thanks to check with this file & feedback.
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3156095/ps_facetedsearch.zip)

Thanks!

[2019-05-08 07:50] EdEichman-LentillasSi opened #13709 "customerHasAddress only returns true for deleted addresses"
**Describe the bug**
The implementation of customerHasAddress is clearly wrong. It only returns true for deleted addresses.

**To Reproduce**
Call the static function Customer::customerHasAddress for ANY non-deleted address, including the address ID associated with the customer ID. The result will be false.

It's very clear just looking at the code (1.7.5.2 \classes\Customer.php line 529):

[2019-05-08 07:54] EdEichman-LentillasSi commented on #13709
This is not a bug. My mistake

[2019-05-08 07:54] #13709 closed, assigned to nobody

[2019-05-08 07:59] khouloudbelguith commented on #13679
Hi @centoasa,

I just imported your file for the first time successfully.
https://drive.google.com/file/d/1WGEMiKn2-qImCUMdKp5bqU7p5m2tIbvf/view
NO, you don't need to clear cache manually whenever import session.
But you can configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

[2019-05-08 08:03] khouloudbelguith commented on #13627
Hi @nirav-nanda,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-08 08:14] YourStylesas commented on #13678
oh ok... I thought you needed them..

[2019-05-08 08:28] YourStylesas commented on #13678
I use Plesk web host edition
Prestashop Versione 1.7.2.4
 I tried to get the other data but I'm not very good at this.

[2019-05-08 09:10] centoasa opened #13710 "Product and category selection in cart rule"
Prestashop 1.7.5.2 on php 7.2.19
If I add a cart rule for product, and I've more over 10k products, it's very difficult and annoing wait server load all the products to choose one. I think it's better replace the popup with the list of all products with a simple search box.
I hope I'm clear.

[2019-05-08 09:14] khouloudbelguith commented on #13697
@didi-2018, could you please try to select the option `Set the order as paid.` & the option `Show delivery PDF.` & save.
Thanks to check & feedback

[2019-05-08 09:16] khouloudbelguith commented on #13678
@YourStylesas, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-05-08 09:26] YourStylesas commented on #13678
I read but I can't do it... so sorry

[2019-05-08 09:40] khouloudbelguith commented on #13678
@YourStylesas, If you don't have it, you should ask your hosting provider.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks for your understanding!

[2019-05-08 09:44] khouloudbelguith commented on #13510
@preoteasa, `displayProductButtons` has been renamed into `displayProductAdditionalInfo`.
Don’t worry, we kept an alias :)

[2019-05-08 09:44] YourStylesas commented on #13678
I sit possible I give you the credential to log in and you look at the reports you need?

[2019-05-08 10:02] khouloudbelguith commented on #13710
Hi @centoasa,

Thanks for your report.
So, you want to replace this popup
![image](https://user-images.githubusercontent.com/16067358/57367032-290d4980-7180-11e9-87ea-4336d5705e56.png)
with a list of products with a search box like this screenshot?
![image](https://user-images.githubusercontent.com/16067358/57367338-bbade880-7180-11e9-8c0f-90d4633cb293.png)

Thanks!

[2019-05-08 10:04] centoasa commented on #13710
@khouloudbelguith yes, it's so!

[2019-05-08 10:06] khouloudbelguith commented on #13710
@marionf, @colinegin what do you think of his suggestion?
Thanks!

[2019-05-08 10:29] habratto commented on #9659
Hi everyone.
I also came here because of this problem. We're waiting for some info.

[2019-05-08 10:44] khouloudbelguith commented on #9659
Hi @habratto,

I manage to reproduce the issue with PS1.7.6.0, it is not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-05-08 10:55] khouloudbelguith commented on #9919
Hi @redtyper,

I manage to reproduce the issue with PS1.7.5.2 also,
In the product page, when I click on "Quick view for the related a product => change the combination => nothing change => if I close the popup => a red alert is displayed.
https://drive.google.com/file/d/1mkNRAc86H9y_KK0UKYl8lcOSCSPyDJ5H/view
This issue is added this to the debug roadmap so that it’s fixed. If you have already fix

[2019-05-08 11:04] khouloudbelguith commented on #9817
Hi @BenTen,

I manage to reproduce the issue with PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/57370960-5a3e4780-7189-11e9-89e7-451ea8dc57f4.png)
This issue is added to our bug roadmap.
There are some major issues to solve before this one.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-05-08 11:14] khouloudbelguith commented on #13678
@YourStylesas, I enabled the debug mode, in the dashboard, an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/57371264-39c2bd00-718a-11e9-80cc-30ab36df1722.png)
You have some issues with the `theme_sneaker2` theme
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.c

[2019-05-08 11:14] YourStylesas commented on #13678
That is not the theme I'm using, that is the old one.

[2019-05-08 11:15] khouloudbelguith commented on #13678
@YourStylesas, you are welcome!
Waiting for your feedback.

[2019-05-08 11:16] YourStylesas commented on #13678
do you think the old theme is the reason why the view statistics are wrong?

[2019-05-08 11:18] khouloudbelguith commented on #13678
@YourStylesas, in the dashboard, the only exception displayed is related to the theme.
Thanks!

[2019-05-08 11:21] ptvsat commented on #13699
Merci pour vos retours.
impossible d'installer le plugin

![Capture](https://user-images.githubusercontent.com/50365840/57371848-66270b00-7183-11e9-8879-8db34e352d32.JPG)

[2019-05-08 11:33] khouloudbelguith commented on #13699
@ptvsat, thanks for your feedback.
Could you please try with this file zip again
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3157069/ps_facetedsearch.zip)
In my case, it is OK.
Thanks!

[2019-05-08 11:43] kirillkormilcev commented on #12026
Great Thanks, solution is help!

[2019-05-08 12:03] ptvsat commented on #13699
module installer version 3.0.0 ,mais toujours "aucun filtre" pour liste de déroulante.
(cache effacer)

[2019-05-08 12:11] khouloudbelguith commented on #13699
@ptvsat, I did not manage to reproduce the issue with PS1.7.5.2 & ps_facetedsearch v3.0.0
I attached a video record
https://drive.google.com/file/d/1j3eIP7j1xeEsuBu0IFKfly3Bl2d3IxMg/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-08 12:15] khouloudbelguith commented on #13698
@mayoji, thanks for your feedback.
I will create a shop with a large number of products to reproduce your issue and we'll come back to you if I need more information.
Thanks!

[2019-05-08 12:16] chendayin commented on #13697
111

[2019-05-08 12:47] khouloudbelguith commented on #13697
@chendayin, could you please add some information about your last comment?

[2019-05-08 12:48] Hlavtox commented on #11059
@khouloudbelguith Can you lift this issue somewhere higher? I think the whole "Order editing" stuff should be really, really thinked through, especially when converting the page to Symphony.

There is more stuff that is wrong. When adding or deleting a product from order, the code also subtracts or adds the product's price from total_paid, but this creates a room for rounding errors.

The order's

[2019-05-08 12:55] didi-2018 commented on #13697
@khouloudbelguith I selected "set order as paid" and now it is working with status "shipped". Thank you sooooo much ♥ ♥ ♥

[2019-05-08 12:57] mayoji commented on #13698
Thanks you. Note that the number of categories & sub-categories (528 in total) may also relevant to the issue.

[2019-05-08 12:58] #9923 closed, assigned to nobody

[2019-05-08 13:05] khouloudbelguith commented on #13697
@didi-2018, you are welcome, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-05-08 13:05] #13697 closed, assigned to nobody

[2019-05-08 13:06] khouloudbelguith commented on #13698
@mayoji, That's OK.
Thanks!

[2019-05-08 13:18] Dan-Orchard commented on #9763
Hi All,

Has there been any progression with this (frankly major) bug?

Currently this is stopping clients from using the multi-store functionality with different themes.

Kind regards,
Dan

[2019-05-08 13:28] ptvsat commented on #13699
module fatale, j ai une page blanche . modifier  le nom de module pour retrouver la connexion.
pouvez vérifier directement sur notre hébergement.

[2019-05-08 13:34] khouloudbelguith commented on #13669
@ANSB, I installed the Collisimo module (carrier module), three carriers are created in the BO after installing this module.
![image](https://user-images.githubusercontent.com/16067358/57378839-81067900-719d-11e9-814d-2b6e59aea9f5.png)
In the file /Project_Folder/classes/Cart.php, in the function `getPackageShippingCostFromModule`
I edited this

[code]
In FO, I have this
![image](https://user-imag

[2019-05-08 13:38] khouloudbelguith commented on #13699
@ptvsat, could you please provide me the debug mode to find out what's wrong.
In my case, it is OK.
Thanks!

[2019-05-08 13:54] ANSB commented on #13669
So in that case, the function must be called only two times. One for your carrier 67 and one for the 22. Four time is strange as it's not exaclty the result we got.
We have changed the way we manage the carrier so unfortunatly, hard to teste again (we've  made a new version of the code for our own purpose).
Notice each time you edit a carrier, PS don't perform an Update on the table, but create a

[2019-05-08 13:57] ptvsat commented on #13699
aussi la version 3 a l'issue :

https://github.com/PrestaShop/PrestaShop/issues/11207

[2019-05-08 13:57] khouloudbelguith commented on #13669
@ANSB, we are aware of this issue: https://github.com/PrestaShop/PrestaShop/issues/9592
It is added to our bug roadmap.
Thanks!

[2019-05-08 13:58] khouloudbelguith commented on #13699
@ptvsat, the ticket #11207, is still added to our bug roadmap, it is not fixed yet.
Thanks!

[2019-05-08 14:02] khouloudbelguith commented on #12242
@slupostrupek, this issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-05-08 14:20] ANSB commented on #9592
Not sure it's a bug. In order to duplicate you need to get the data and perform an INSERT which syntax is really different from an UPDATE. Also, the fact there is a delete flag in the table demonstrate the use of the flag.
I think the idea was to save old value. Eg a customer ask for a product on day 1, so the shipping cost and all other values are computed using the carrier data of day 1. On day

[2019-05-08 14:36] khouloudbelguith commented on #13669
@ANSB, can I close this issue?
Thanks!

[2019-05-08 14:37] khouloudbelguith commented on #13669
@ANSB, can I close this issue?
Thanks!

[2019-05-08 14:46] matteolavaggi opened #13715 "ERROR 500 + NEED TO RESET COOKIE after shipping discount applied on cart"
**Describe the bug**
Create a cart, apply a code discount for shipping, get error 500 and need to reset browser cookie (every page get error 500).

**To Reproduce**

May  8 16:25:23 vw03 ool www: PHP Fatal error:  Uncaught Error: Access to undeclared static property: CartCore::$_total_shipping in /mnt/datadisk/htdocs/prestashop/classes/Cart.php:3203#012Stack trace:#012#0 /mnt/datadisk/htdocs/prest

[2019-05-08 14:56] khouloudbelguith commented on #13715
Hi @matteolavaggi,

You have an override of the Dispatcher.php class which is incompatible, you should check this override provided by which module?
Thanks!

[2019-05-08 15:02] khouloudbelguith commented on #13698
@mayoji, I have more than 528 categories & more than 12400 products, but it is OK.
I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1qWyqlzzURHVoJd8lbEEzZHrm17ypn189/view
Here's my PHP info file
[phpinfo().html.zip](https://github.com/PrestaShop/PrestaShop/files/3157946/phpinfo.html.zip)
Thanks to check & feedback

[2019-05-08 15:03] khouloudbelguith commented on #13698
@mayoji, I have more than 528 categories & more than 12400 products, but it is OK.
I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1qWyqlzzURHVoJd8lbEEzZHrm17ypn189/view
Here's my PHP info file
[phpinfo().html.zip](https://github.com/PrestaShop/PrestaShop/files/3157946/phpinfo.html.zip)
Thanks to check & feedback

[2019-05-08 15:15] ptvsat commented on #13699
Une solution pour le menu deroulant SVP ?

[2019-05-08 16:31] jeckyl opened #13718 "Price error when changing declination"
**Describe the bug**
When a product has several declinations, if we decide to have different prices on each declination either as a specific price per quantity or as a specific reduction, when changing the declination, the price will always be calculated according to the desired quantity before it is delivered to the minimum quantity, or most of the time 1.

**Screenshots**
https://vimeo.com/33493

[2019-05-08 17:03] SharmPRO commented on #13671
Yes it will be an honor to contribute. Just no idea how it works.
I did open a Pull Request for another feature request but i think it is all wrong what i did.

[2019-05-08 17:05] Quetzacoalt91 commented on #15199
Hi @JavierEB

You should search with `groupdiscount`, there is probably something misunderstood when creating the column, or exporting / importing...

[2019-05-08 17:34] Shakarhaba opened #13719 "Critical error on PHP 7.1 due to deprecated function usage."
#### Describe the bug
mcrypt_get_iv_size function has been deprecated since PHP 7.1.
It causes a critical error when accessing for example the modules page or the translations.

If the module does not use the legacy encryption functions no critical error, but the file causing an error is in the source of prestashop, not the module, so in Prestashop there should be a test before executing that func

[2019-05-08 21:14] khouloudbelguith commented on #13475
Hi @wikao2,

Yes, when debug mode enabled, you can disable the installation of the demo products.
After the installation, you can also, install the `pscleaner` module, this provides options to delete everything from the catalog, orders, and customers and also options to check and fix the database integrity and to clean and optimize the physical storage of data
Thanks!

[2019-05-08 21:53] ANSB commented on #13669
Not sure closing is a good idea. The #9592 issue as nothing to do directly with that. But maybe there is a link: the fact we have a big number of carriers in the DB can be a problem as the code has to carefully check a lot of think.
Eg due to the fact getOrderShippingCost() will check all the carriers, I can imagine having to call getOrderShippingCost() with a list of carrier where some are active

[2019-05-09 05:26] nirav-nanda commented on #9684
hello,
i just wanted know if newer ver of faceted search coming back with the price slider range selection feature or not ?

this feature is very useful rather than price block selection.
A huge number of people are waiting for this feature to coming back.

ref links
#9992 ,
https://support.promokit.eu/index.php?do=details&task_id=10617
https://stackoverflow.com/questions/46765069/prestashop-facet

[2019-05-09 06:20] go-sudo opened #13720 "Admin keep send me to login"
Hello
I installed the new version on my website but I can't use it

the assistant spinner keep loadin and if i click on later it send me to login page
i removed then reinstalled it again but same error

Regards

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2019-05-09 07:08] matteolavaggi commented on #13715
Hi, thanks how we can check? can you help me to debug? thanks

[2019-05-09 07:13] khouloudbelguith commented on #12418
Hi @bbgjyb,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-09 07:13] #12418 closed, assigned to nobody

[2019-05-09 07:16] MattiaMarchiorato opened #13721 "Problem on install modules and visiting advanced sections pages"
**Describe the bug**
1)Can't install module, when click on install the module loading still spinning and we receive this js error
module_card.js:231 Uncaught TypeError: Cannot convert undefined or null to object
2)Can't visit advanced setting page, when click we see this page with a redirect [Debug] This page has moved
Please use the following URL http://prestashop.test/index.php?_token=fwhz9ZtImt

[2019-05-09 07:28] khouloudbelguith commented on #13721
Hi @insology,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1Jr2nZPAIuVVzIctreAUS02DtDvpeyHGx/view
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.c

[2019-05-09 07:39] marionf commented on #13718
@jeckyl I can't reproduce it with 1.7.6.x branch, it seems already fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/11645
https://drive.google.com/file/d/1nWMvvgYMnz2GgfWEeubBhj11ARzeBWvl/view?usp=sharing

[2019-05-09 07:39] #13718 closed, assigned to nobody

[2019-05-09 07:40] MattiaMarchiorato commented on #13721
Hello @khouloudbelguith

Same problem for php 7.2
![Schermata 2019-05-09 alle 09 40 09](https://user-images.githubusercontent.com/3527474/57435763-8071ef00-723e-11e9-961e-d0d19345854e.png)

[2019-05-09 07:51] khouloudbelguith commented on #13720
Hi @go-sudo,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-05-09 08:02] khouloudbelguith commented on #13721
@insology, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-09 08:13] khouloudbelguith commented on #13715
@matteolavaggi, in your log you have this

`PrestaShop\PrestaShop\Adapter\Cart\CartPresenter->present(Object(Cart))#12#6 /mnt/datadisk/htdocs/prestashop/classes/controller/Controller.php(205): OrderControllerCore->initContent()#12#7 /mnt/datadisk/htdocs/prestashop/override/classes/Dispatcher.php(387): Controll in /mnt/datadisk/htdocs/prestashop/classes/Cart.php on line 3203`

You have an error on

[2019-05-09 08:13] #13715 closed, assigned to nobody

[2019-05-09 08:17] MattiaMarchiorato commented on #13721
Solved the issue by adding
`location ~ /(sell|improve|configure|international|_profiler|product|feature|attribute|supplier|combination|specific-price)/(.*)$ {
      try_files $uri $uri/ /index.php?q=$uri&$args $admin_dir/index.php$is_args$args;
    }`

in nginx config file.
Is there any official configuration for ngnix/apache server?

[2019-05-09 08:20] khouloudbelguith commented on #9684
Hi @nirav-nanda,

Our developers fixed many issues recently and we will release a new version with the version 1.7.6.
You can check the latest version, available on the ̀dev` branch (in the ps_facetedsearch repository)
https://github.com/PrestaShop/ps_facetedsearch/tree/dev
Thanks!

[2019-05-09 08:26] khouloudbelguith commented on #13669
@ANSB, thanks for your feedback.
Yes, as I said before, in my case also after installing the carrier module, the function `getOrderShippingCost` is called many times ( 4 times in my case).
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-05-09 08:31] khouloudbelguith commented on #13721
@insology, yes!
You can follow this link
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-09 08:31] #13721 closed, assigned to nobody

[2019-05-09 08:33] khouloudbelguith commented on #13671
@SharmPRO, you can follow our documentation: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/
Thanks!

[2019-05-09 08:35] khouloudbelguith commented on #13699
Hi @ptvsat,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-09 08:44] MattiaMarchiorato commented on #13721
Need some fix but ok, thanks

[2019-05-09 08:54] marionf commented on #10024
Related to #9945

[2019-05-09 08:56] Quetzacoalt91 opened #13723 "Travis builds regurlarly fail because of timeout on a specific endpoint"
**Describe the bug**
Travis often fails when we try to run tests, especially during the installation of PrestaShop.

[code]

Example of failure: https://travis-ci.org/PrestaShop/PrestaShop/jobs/530152208#L632

**Additionnal information**
PrestaShop version: N/A, any branch on GitHub may be concerned
PHP version: N/A, any PHP version may be concerned

[2019-05-09 09:02] khouloudbelguith commented on #13719
Hi @Shakarhaba,

Thanks for your report.
What is the exact version PrestaShop did you use?
These errors are displayed in your var/logs/dev.log file?
Thanks!

[2019-05-09 09:23] Matt75 commented on #13669
Old topic indeed.
Carrier module developers handle that with a static cache inside their modules.
But we know usage of external calls, like to an API, is really slow.
For example Boxtal (Envoi moins cher) module make the add to cart really slowest, many thread on PrestaShop Forums about that.

I'm facing this problem some years ago when working on carrier module for "Le flash cab" (Service vanishe

[2019-05-09 09:30] MatShir commented on #10026
related to #10030

[2019-05-09 09:50] khouloudbelguith commented on #9792
Hi,

I did not manage to reproduce the issue with PS1.7.6.0.
It is fixed.
https://drive.google.com/file/d/1imTBmJdy-09CNJG-iF6FYR8eux1Vnk3O/view
I close the issue.
Thanks!

[2019-05-09 09:50] #9792 closed, assigned to nobody

[2019-05-09 09:58] MatShir commented on #9752
It seems that is partially fixed in 1.7.6, the only problem is when you add a category it shows "Undefined", you have to refresh the page to display the correct name of the category.

[2019-05-09 10:13] MatShir commented on #9667
Hi @zenerry & @Prestaworks & @Thinkup,
Do you still have the problem?

[2019-05-09 10:18] khouloudbelguith commented on #9667
Hi @MatShir,

In my case, this issue not fixed yet.
I manage to reproduce it with PS1.7.5.2.
https://drive.google.com/file/d/1LHnhFzFMxxXlmycVfLgN92GMSNpTe8Ai/view
Thanks!

[2019-05-09 10:23] khouloudbelguith commented on #9580
Same issue with PS1.7.5.2 & PS1.7.6.0.
Thanks!

[2019-05-09 10:58] nrcjea001 opened #13725 "All native module are displayed in the "Other" category - Module Manager"
Using the 1-click module, I am unable to complete installation of upgrade from 1.7.5.1 to 1.7.5.2. Files are copied and databases upgrade correctly. However, the upgrade stops when upgrading the addons modules. All non-native modules were previously disabled.

The last line on the log states: "FrontController.php line 352 - Trying to get property of non-object".

Please see attached log file.
[log

[2019-05-09 11:03] khouloudbelguith commented on #13725
Hi @nrcjea001,

Thanks for your report.

Did you disabled those modules from the BO => Performance page
![image](https://user-images.githubusercontent.com/16067358/57448844-4d395b00-7252-11e9-8540-45c85b383047.png)
If yes, this option doesn't work, here's a ticket: https://github.com/PrestaShop/PrestaShop/issues/9965
The upgrade of your files & the database => OK.
Could you please try to clear cac

[2019-05-09 11:10] Quetzacoalt91 commented on #13725
Hi there,

That's weird to see a FrontController to be called here. Anyway, note your shop has been updated and module upgrades can anyway been done in a second time via the Module Manager.

[2019-05-09 11:19] nrcjea001 commented on #13725
@khouloudbelguith non-native modules were disabled in the 1-click upgrade as shown in image below:
![Untitled](https://user-images.githubusercontent.com/26452178/57449702-b24e7a00-726d-11e9-91c9-8bd67c280274.png)

@Quetzacoalt91 ok glad to know upgrade is ok

[2019-05-09 11:22] khouloudbelguith commented on #13725
@nrcjea001, your shop is OK after the upgrade?
Thanks!

[2019-05-09 11:24] nrcjea001 commented on #13725
@khouloudbelguith, it appears so

[2019-05-09 11:24] khouloudbelguith commented on #13725
@nrcjea001, good!
Can I close the issue?
Thanks!

[2019-05-09 11:28] nrcjea001 commented on #13725
@khouloudbelguith sure

[2019-05-09 11:29] khouloudbelguith commented on #13725
@nrcjea001, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-09 11:32] khouloudbelguith commented on #9589
Same issue with PS1.7.6.x
https://drive.google.com/file/d/1ZdBXuykhwuGVRELNVcLrGV-sTT9zeeiM/view

[2019-05-09 11:35] khouloudbelguith commented on #9626
Same issue with PS1.7.6.0
Thanks!

[2019-05-09 11:38] khouloudbelguith commented on #9551
Same issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/57450791-5973e700-7257-11e9-87d6-a3509e033a9d.png)
Thanks!

[2019-05-09 12:00] mayoji commented on #13698
Thanks @khouloudbelguith, I will check if I can pinpoint which part of the code uses up so much memory. Note that your demo uses v 1.7.5.2 (the issue I described was with 1.7.5.1, although there doesn't seem to be have been any changes related to this in the change log to v 1.7.5.2. More relevant might be the fact that it looks like you created a flat list of categories. A realistic store has a hi

[2019-05-09 12:05] mayoji commented on #13698
By the way @khouloudbelguith, how much PHP memory_limit did you set when you tried? Thanks.

[2019-05-09 12:07] khouloudbelguith commented on #13698
@mayoji, in the database, the difference between a category & a sub-category is the id_parent, I don't think, it could be a problem.
About the PS1.7.5.2, this version fixes a security issue for 1.7.5.x.
`memory_limit = 128M`
I attached my PHP info file in my previous comment.
Thanks!

[2019-05-09 12:16] khouloudbelguith commented on #10271
Hi,

This issue is fixed in the PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/57452809-a1e1d380-725c-11e9-9ae5-eec167f47161.png)
I close the issue.
Thanks!

[2019-05-09 12:16] #10271 closed, assigned to nobody

[2019-05-09 12:21] khouloudbelguith commented on #11538
Hi,

Same issue with PS1.7.6.0
Thanks!

[2019-05-09 12:22] ALTITUDEV opened #13728 "1.7.6.x Discount voucher problem , The discount code applies to all products, even to discounted items."
Hello,

Please excuse me in advance for my language, I have a bug with your version.

If an item on sale is added to a basket then it does not accept discount coupons (no worries at this level)

If an item is not on sale then the discount voucher applies (no worries too)

On the other hand, if the customer adds a promotional item + a non-commercial item to his basket, the discount voucher applies

[2019-05-09 12:29] khouloudbelguith commented on #13728
Hi @CryoDevFR,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10300
So, I close it.
Thanks!

[2019-05-09 12:29] #13728 closed, assigned to nobody

[2019-05-09 12:29] khouloudbelguith commented on #13728
Duplicate of #10300

[2019-05-09 12:30] khouloudbelguith commented on #13728
@CryoDevFR, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13704 to fix the issue.
It should be fixed in the PS1.7.7.0
Thanks!

[2019-05-09 12:33] ALTITUDEV commented on #13728
Thanks you so much !

[2019-05-09 12:37] khouloudbelguith opened #13729 "An exception is displayed when we try to upload in the logo section with an image which has a not recognized format"
**Describe the bug**
An exception is displayed when we try to upload in the logo section with an image which has a not recognized format

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Theme & Logo
2. Upload in the logo section with a not recognized format ( for example a zip file)
3. Click save
4. See error

**Screenshots**
![image](https://user-images.githubuserconten

[2019-05-09 12:46] wikao2 commented on #13685
euh... As I understand it, it's been since the end of August 2018 (maybe even before) that you know that there is a URL problem for products that have a combination and that it's added to your bug roadmap ? (Excuse my question) Why is it so long to correct this issue ? This is not a priority bug? We already wondered if we had to switch to Prestashop 1.7 ... There, we ask more the question.
(Sorry

[2019-05-09 12:55] Matt75 commented on #13698
@khouloudbelguith Try with a hierarchy of categories, I tested my self and I manage to reproduce. Tested some weeks ago but I think this is still relevant in 1.7.5.2

Problem is located in `Category::getNestedCategories()` with a lot of categories AND subcategories, too much data passed to FormComponent to generate Categories Tree in BO add/edit Product page

This process consume too much memory i

[2019-05-09 12:57] khouloudbelguith commented on #13685
@wikao2, thanks for your feedback. Unfortunately, it's not easy to move from one URL format to another during minor versions as there are risks to break things down when upgrading.

We will be rethinking the URL format for the next major version.
Thanks!

[2019-05-09 13:00] khouloudbelguith commented on #13698
@Matt75, thanks!
I will try to create a huge number of sub-categories & feedback.

[2019-05-09 13:46] roja45 commented on #13392
I just tried this on the off-chance, but if you force the theme name into the code (as it used to be passed in the 1.6.1 translation controller), then it loads and saves the translated field for the theme template as before.

AdminTranslationsController.php
    /**
     * Get all informations on : languages, theme and the translation type.
     */
    public function getInformations()
    {

[2019-05-09 14:07] wikao2 commented on #13685
What do you call "_next major version_" ? Prestashop 1.7.**6**.x or outright Prestashop 1.**8** ?

[2019-05-09 14:13] marionf opened #13731 "New tax incl column shouldn't take into account specific price"
**Describe the bug**
Tax excl column in catalog page doesn't take into account specific prices while new tax incl column take it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > products and create a product with a specific price
2. Go back to the product list
3. Price tax incl column take into account the specific price but tax excl column doesn't

In 1.7.5.0 there wasn't tax

[2019-05-09 14:26] ghost opened #13732 "New design for searchbar in FO"
UI/UX Improvement:
New design for the search bar in Front-Office.

Design: https://projects.invisionapp.com/d/main#/projects/prototypes/16658372

[2019-05-09 14:26] samuel-pires commented on #13732
#13058

[2019-05-09 14:33] khouloudbelguith commented on #13685
@wikao2, no it is not for PS1.7.6.x.
The version PS1.7.6.0 will be released soon.
Thanks!

[2019-05-09 14:48] PierreRambaud commented on #13254
@mbadrani Any reason to close this issue? Can you add explanation please? :smile_cat:

[2019-05-09 14:53] marionf commented on #13254
It's done but I don't see any comments or QA approved on the PR
So, what are tests results ? This PR is ok or not ?

[2019-05-09 14:54] mbadrani commented on #13254
@PierreRambaud my bad just a mistake when I've closed the list of Issues included in Automation Kanban

[2019-05-09 15:03] khouloudbelguith commented on #9809
@johstrom, your issue is similar to this ticket: #13698?
Is it?
Thanks!

[2019-05-09 15:13] marionf commented on #13254
Arfff, I thought it was done
Can you tell us when is it planned to start on your schedule ?

[2019-05-09 15:23] marionf commented on #9667
@khouloudbelguith
How is your configuration :
- Display unavailable product attributes on the product page ? Yes/No
- Allow to order out of stock combinations ?

[2019-05-09 15:23] oguzn commented on #12026
Thank you very much.

[2019-05-09 15:37] mbadrani commented on #13254
Not this sprint for sure, but next iterations we need estimating it

[2019-05-09 15:37] mbadrani commented on #13254
I will keep you informed as well

[2019-05-09 15:40] marionf commented on #9826
I can reproduce it when I select 25 combinations and click on Generate, I have a 500 in the console

![capture d'écran_1508](https://user-images.githubusercontent.com/13449658/57466716-76bdab00-7281-11e9-8c59-cf8b85c17f77.png)

[2019-05-09 15:57] Maofree opened #13737 "Solved - big problem about the canonical url in the category pages when there is pagination and multi languages"
### Describe the bug
It is strange that on 1.7.5.2 there are bugs like this:

1. try to use a shop with multi languages and go to the category pages with paginations, so you can see that the second page has a different canonical url of the first page because there is `?page=2`
2. another problem is that you use the `context->language->id` and not the default language, so the italian pages have a d

[2019-05-09 16:01] marionf commented on #10152
@khouloudbelguith

Could you try with 1.7.6.x branch and tell us if you have any warning during installation if inconv extension isn't enabled ?

[2019-05-09 18:02] ptvsat commented on #13699
Version PHP 7.1
MySQL 5.7

[stdout.log](https://github.com/PrestaShop/PrestaShop/files/3163393/stdout.log)

Merci pour votre retour

[2019-05-09 19:03] ramibak commented on #9809
hello @khouloudbelguith , i have also a store with prestashop platform with same problem ,i have 12 main categories and more than 380 subcategory , i use api importer to import products from aliexpress , and when i finish import and navigate to any part of my website or even to check the imported products , it could take up to 4 min until it opens the page for me and for the other users in my back

[2019-05-09 20:26] pppplus commented on #13395
Hi
Do you try the last version I sent to you on 3rd of may ?

[2019-05-10 06:57] johstrom commented on #9809
@khouloudbelguith I did not get a PHP Fatal error: Out of memory error, but a Error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 20480 bytes)

Our hosting increased the memory limit to 1024MB, however, the same error was presented as well (this time with the increased value of the memory):

Error: Allowed memory size of 1073741824 bytes exhausted (tried to allocate 20480 by

[2019-05-10 07:06] khouloudbelguith commented on #13258
Hi @pawan120391,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-10 07:06] #13258 closed, assigned to nobody

[2019-05-10 07:30] johstrom commented on #9809
@khouloudbelguith I asked the hosting, and they provided me with the exact error:

(1/1) OutOfMemoryException
Error: Allowed memory size of 1073741824 bytes exhausted (tried to allocate 20480 bytes)
in FileProvider.php line 69
vendor/icanboogie/cldr/lib/FileProvider.php on line 69

[2019-05-10 07:34] marionf commented on #12170
Related to #12394 & #13537

[2019-05-10 07:37] matks commented on #13737
@maofree Wouldn't this code be better put in CategoryController::getCanonicalURL() ?
https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/front/listing/CategoryController.php#L53

[2019-05-10 07:39] khouloudbelguith commented on #13737
Hi @maofree,

Thanks for your report.
About the first issue:

It the same behavior with PS1.7.5.1 & PS1.7.5.2.
I think different page => different content
About the second issue, as you can see in this comment https://github.com/PrestaShop/PrestaShop/issues/9500#issuecomment-415453287
It is logical to have different canonical when the language is changed
Different language = different content
Than

[2019-05-10 07:42] khouloudbelguith commented on #13737
Hi @maofree,

Thanks for your report.
About the first issue:

It the same behavior with PS1.7.5.1 & PS1.7.5.2.
I think different page => different content => so we don't have duplicated content
ping @matks @jolelievre what do you think?
About the second issue, as you can see in this comment https://github.com/PrestaShop/PrestaShop/issues/9500#issuecomment-415453287
It is logical to have different

[2019-05-10 07:51] khouloudbelguith commented on #9667
HI @marionf,

- Display unavailable product attributes on the product page => No
- Allow ordering of out-of-stock products => Yes

![image](https://user-images.githubusercontent.com/16067358/57511282-d14a1c00-7300-11e9-9b68-b64850f32b66.png)

Thanks!

[2019-05-10 08:01] matks commented on #13206
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13381

[2019-05-10 08:01] #13206 closed, assigned to matks, jolelievre

[2019-05-10 08:07] khouloudbelguith commented on #13395
@pppplus, no sorry I did not receive your email yet.
Thanks to check & feedback.

[2019-05-10 08:15] khouloudbelguith commented on #13699
@ptvsat, thanks for your feedback.
The file attached is a server error log & not the PHP error log?
Thanks!

[2019-05-10 08:26] pppplus commented on #13395
Ok, I just sent it again.

[2019-05-10 08:30] AmAtuMundo commented on #12687
Buenos días. Estoy yo también afectada por este problema, por mas que hago pruebas tocando aquí y allí el codigo no encuentro solucion. me quedo por aqui atenta a ver si alguien lo ve.

GRacias

[2019-05-10 08:36] zenerry commented on #9667
Thank you @MatShir, this is solved for the moment.
I don't usually use this feature.

[2019-05-10 08:38] Maofree commented on #13737
Hi
the problem is that google signals these paginations as errors because it sees the same texts for all paginations.
so probably it is true that for different languages there are different canonical url because the content is different

for getCanonicalURL yes you can fix the problem here removing all code except
$canonicalUrl = $this->context->link->getCategoryLink($this->category);

the problem

[2019-05-10 08:51] khouloudbelguith commented on #13669
Hi,

This is an old issue.
I’ll add this to the debug roadmap so that it will be fixed.
Thanks!

[2019-05-10 09:00] Maofree commented on #13737
another problem is that the canonical url is missing in many pages like for manufacturers, index, contact, discount page ....

[2019-05-10 09:06] khouloudbelguith commented on #13737
@maofree,

here is an issue previously reported #9503

[2019-05-10 09:06] jocel1 commented on #13705
hi @khouloudbelguith , I've just took a look at the code, and @Yopai is right, the wrong variable is used in the code :)

[2019-05-10 09:11] peppoweb commented on #13591
Hi @khouloudbelguith  i have the same problem.
Can you explain me how to resolve?
Thanks!
Regards

[2019-05-10 09:14] PierreRambaud commented on #13699
Regarding the log it looks like you have some trouble with your MySQL configuration.

[2019-05-10 09:16] khouloudbelguith commented on #13737
@maofree,

for example, you can add different `Meta title`, `Meta description` for different languages
I attached a video record
https://drive.google.com/file/d/1fIEMIuDC86t1Ei5QIKVl3OKvJ42FZoaa/view
Thanks to check & feedback.

[2019-05-10 09:17] Maofree commented on #13737
it was created in 22 august
I think these types of issues should have a higher priority

[2019-05-10 09:18] khouloudbelguith commented on #13737
@maofree,

for example, you can add different `Meta title`, `Meta description` for different languages
I attached a video record
https://drive.google.com/file/d/1fIEMIuDC86t1Ei5QIKVl3OKvJ42FZoaa/view
For the page n°2, the title of the page is changed also
https://drive.google.com/file/d/17cP3B7VMPI0cf6vpsJ2suKwO5EVLS7rk/view
Thanks to check & feedback.

[2019-05-10 09:21] khouloudbelguith commented on #13591
Hi @peppoweb,

No, I did not fix the problem, I just checked the shop of @bestbuybargains & I found that the bug doesn't exist anymore.
Thanks!

[2019-05-10 09:22] Maofree commented on #13737
yes I know this so I think it is right to use different canonical url on each language
for example, you can add different Meta title, Meta description for different languages

[2019-05-10 09:25] khouloudbelguith commented on #13737
@maofree, thanks for your feedback.
About the pagination,

the second page has a different meta title than the first page & different content => so we have different canonical, is it right?
Thanks!

[2019-05-10 09:30] jocel1 commented on #13705
I mean, even in 1.7 code ;)

[2019-05-10 09:30] MatShir commented on #9595
I can't reproduce in 1.7.6. It seems to be fixed.
Thank you

[2019-05-10 09:30] #9595 closed, assigned to nobody

[2019-05-10 09:38] Maofree commented on #13737
no
the second page has the same meta title and meta description of the first page and the third page ...

the problem is present for all page with paginations

the multi language is another thing

[2019-05-10 09:39] Yopai commented on #13705
If I've all understood correctly, it's more than just a variable : a customer can have multiple groups. So either getSpecificPrice must be extended to allow an array of groups ids, or you have to loop over it for each customer group. Moreover, you have to ensure the specific price that is retrieved is the same that the one applied by the method computing the price (in case there are multiple speci

[2019-05-10 09:40] khouloudbelguith commented on #13705
@jocel1, thanks for your feedback.
Yes, I found the issue.
$id_group is used https://github.com/PrestaShop/PrestaShop/blob/aec97ddb1551fd7d6d56f75549a992d6937caf50/classes/SpecificPrice.php#L488
but in the cart class, `id_shop_group` is used instead of `id_group`
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/classes/Cart.php#L754

I’ll add this to the debug roadmap so that it’s fixed.
@Yop

[2019-05-10 09:41] peppoweb commented on #13591
I have the same problem into another shop.
When i click on Module Catalog link i see this attached screen.
![Schermata 2019-05-10 alle 11 40 57](https://user-images.githubusercontent.com/1136035/57518070-8805c680-7318-11e9-82dd-afece0e3afe2.png)

[2019-05-10 09:46] Yopai commented on #13705
Thanks for your interest

If I had fixed it cleanly, I would have been pleased to send a pull request.
Unfortunately, as :
 - I was only upgrading an old 1.6,
 - The bug was just a misrepresentation of the reduction,
 - This shop only has specific prices in percentages,
 - I've got not as many time I would like to do thinks cleanly,
I was just told to do it the hacky way : remove the test in the .

[2019-05-10 09:46] khouloudbelguith commented on #13591
@peppoweb,
Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-10 09:58] marionf commented on #9908
Duplicate of #9676

[2019-05-10 09:58] #9908 closed, assigned to nobody

[2019-05-10 09:58] jf-viguier commented on #13371
I've found something that could explain this in Google Analytics module, issue here :
https://github.com/PrestaShop/ps_googleanalytics/issues/33

[2019-05-10 10:01] mayesterday commented on #12449
Welcome to
<a href="https://www.ufa4live.com/"> UFABET </a>
<a href="https://www.ufa4live.com/%E0%B8%AA%E0%B8%A1%E0%B8%B1%E0%B8%84%E0%B8%A3-ufabet/"> สมัคร UFABET </a>
<a href="https://www.ufa4live.com/%E0%B8%AA%E0%B8%A5%E0%B9%87%E0%B8%AD%E0%B8%95%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C-ufabet/"> สล็อตออนไลน์ UFABET </a>
<a href="https://www.ufa4live.com/%E0%B8%84%E0%B8%B2%E

[2019-05-10 10:01] khouloudbelguith commented on #13591
@peppoweb, It is OK in your shop also.
I just sent you an email.
Thanks to check & feedback.

[2019-05-10 10:02] Maofree opened #13740 "errors in invoices page of admin side"
Hi
I've upgrade many site to 1.7.5.2 and some of them have the same error on the invoices page of admin side

Expected argument of type "object, array or empty", "string" given

I pass you the access to one of them

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/57519295-3579d980-731b-11e9-93cf-620046218183.png)
![2](https://user-images.githubusercontent.com/653230/57519296-

[2019-05-10 10:06] Maofree commented on #13740
![1](https://user-images.githubusercontent.com/653230/57519644-1465b880-731c-11e9-87d4-bb9e026b5bb1.png)

[2019-05-10 10:07] khouloudbelguith commented on #13740
Hi @maofree,

This issue is fixed in the PS1.7.6.0.
Your ticket is a duplicate of #12962
So, I close it.
Thanks!

[2019-05-10 10:07] #13740 closed, assigned to nobody

[2019-05-10 10:07] khouloudbelguith commented on #13740
Duplicate of #12962

[2019-05-10 10:10] Maofree commented on #13740
is it possible to fix it on the 1.7.5.2 ?
in that page I cannot see the pages to edit to fix it

[2019-05-10 10:12] khouloudbelguith commented on #13737
@maofree,
Yes, the meta description is the same for different page.
But the title is different, as you can see in my screen-record
https://drive.google.com/file/d/17cP3B7VMPI0cf6vpsJ2suKwO5EVLS7rk/view
PS: For each paginated page, we have the rel next/prev.
Thanks!

[2019-05-10 10:16] zuk3975 opened #13741 "Make grids filtering action work with grids from module extension => switch all existing grids to use filterId feature"
**Is your feature request related to a problem? Please describe.**
Migrated grids filtering might not work together with grids from modules.
Currently if page consists only one grid, filter request is not parsed to decide which grid is being filtered, so in case any module extends the page with its own grid, the filtering will break. Raised form https://github.com/PrestaShop/PrestaShop/pull/13529#

[2019-05-10 10:17] khouloudbelguith commented on #13740
@maofree, you can follow this comment: https://github.com/PrestaShop/PrestaShop/issues/12314#issuecomment-462410864 to fix your issue.
Thanks!

[2019-05-10 10:19] khouloudbelguith commented on #13741
ping @PrestaShop/prestashop-core-developers

[2019-05-10 10:27] Maofree commented on #12314
Hi Matt75
I get this error with your code

![1](https://user-images.githubusercontent.com/653230/57520800-e33ab780-731e-11e9-9443-d5350ada8112.png)

# 1048 - The 'id_configuration' column cannot be null

[2019-05-10 10:32] Matt75 commented on #12314
@maofree Try this : https://github.com/Matt75/fixconfigurationlang

[2019-05-10 10:39] Maofree commented on #12314
hi
yes it has fixed the problem but for a variable it cannot be done

PS_INVOICE_LEGAL_FREE_TEXT cannot be fixed

is it ok?

![1](https://user-images.githubusercontent.com/653230/57521462-a1ab0c00-7320-11e9-8f40-251e1569e221.png)

[2019-05-10 10:48] khouloudbelguith commented on #13371
Hi @jf-viguier,

Thanks a lot for your feedback.
Yes, after installing the ps_googleanalytics module v3.1.3.
In the position page, when I try to unhook the ps_featuredproducts module from the displayHome hook => it doesn't work=> if I reload the home page=> the hook remains . reproduced with PS1.7.5.2 & PS1.7.5.1
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it o

[2019-05-10 10:55] Maofree commented on #12314
with a site I get this result

![11](https://user-images.githubusercontent.com/653230/57522738-462e4d80-7323-11e9-9715-d6a1f11abcbb.png)

in other 2 sites was all ok
however in all cases the problem is solved

[2019-05-10 11:05] Matt75 commented on #12314
Yes it's good, the value cannot be fixed if we can't find it in the database but Prestashop will create it if not found at next saving process of concerned settings page. So it's fixed

[2019-05-10 11:09] amtriorix commented on #12156
Look, it is NOT MY DUTY to patch your software. I do test and report issues.

[2019-05-10 11:31] amtriorix opened #13742 "Manual upgrade does not work properly and timeouts"
It is a totally wrong approach to upgrade a running prestashop,
in our case a huge multishop using the webinterface.

I did mention in the past, upgrades should be done using the console.

Symphony has a way to use php-cli and this is the only way to do on a professional
level the upgrade of the core prestashop.
reference: https://symfony.com/doc/current/console.html

For this there is a need to h

[2019-05-10 11:32] khouloudbelguith commented on #12156
Hi @amtriorix,

Sorry, but @PierreRambaud was waiting for your response.
We don't have a response for more than 30days.
Thanks!

[2019-05-10 11:36] khouloudbelguith commented on #13742
Hi @amtriorix,

Did followed this link: https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/#manual-upgrade-process-details ?
Thanks!

[2019-05-10 11:39] khouloudbelguith commented on #13742
ping @Quetzacoalt91 what do you think?
Thanks!

[2019-05-10 11:51] bestbuybargains commented on #13591
To resolve your issue, please delete all of your browsing history, cache, and cookies. I had the same issue. 
-------- Original message --------From: peppoweb <notifications@github.com> Date: 5/10/19  4:42 AM  (GMT-06:00) To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com> Cc: bestbuybargains <admin@bestbuybargins.com>, Mention <mention@noreply.github.com> Subject: Re: [PrestaShop/PrestaShop

[2019-05-10 11:55] khouloudbelguith commented on #13698
Hi @Matt75,

I tried to create a huge shop, with more than 500 categories, more than 600 sub-categories, more than 10000 products => no issue reproduced.
I attached my database
[1752largenumber.sql.zip](https://github.com/PrestaShop/PrestaShop/files/3166340/1752largenumber.sql.zip)
Thanks!

[2019-05-10 11:57] khouloudbelguith commented on #13591
Hi,

I close the issue since I cannot reproduce the issue.
Thanks!

[2019-05-10 11:57] #13591 closed, assigned to nobody

[2019-05-10 12:26] matks commented on #12156
No one said so 😄we were just interested in hearing more about your usecase.

Unfortunately, as @PierreRambaud explained, we cannot make such a big change for minor versions. Better .htaccess management (and we **have** to keep it, some people have no other choice) and better directories management is scheduled, but not until next major version, PS 8.

[2019-05-10 12:29] #10300 closed, assigned to tomlev

[2019-05-10 12:31] khouloudbelguith commented on #13395
@pppplus, Thanks a lot for your feedback.
I have this error now
![image](https://user-images.githubusercontent.com/16067358/57527498-c35bc180-7327-11e9-9119-188f00a44257.png)
Thanks to check & feedback.

[2019-05-10 12:31] vincent-dp opened #13743 "Can't display product.unity from cart.tpl (or included tpl)"
If if put

`{$product.unity}`

in the cart-detailed-product-line.tpl for example, it displays nothing at all

Is this a bug or a normal behavior? How can I have access to this variable from these pages?

[2019-05-10 12:38] ptvsat commented on #13699
la config utiliser , votre aide SVP:

max_connections 200
max_allowed_packet 16M
wait_timeout 28800
max_user_connections 200
interactive_timeout 600
innodb_buffer_pool_size 512M
autocommit ON
event_scheduler OFF

[2019-05-10 12:47] jf-viguier commented on #13371
I can't fix it because I really don't know why this code is there, you should ask the author ?

[2019-05-10 12:49] khouloudbelguith commented on #13743
Hi @vincent-dp,

What is the exact option in the product page from the BO, you want to display it in the cart page?
Thanks!

[2019-05-10 12:55] marionf commented on #9633
I can't reproduce it in 1.7.6.0

![capture d'écran_1511](https://user-images.githubusercontent.com/13449658/57528848-afb65800-7333-11e9-9090-9e9fc357ff63.png)

[2019-05-10 12:55] #9633 closed, assigned to nobody

[2019-05-10 13:01] matks opened #13744 "Missing legacy_links for Currency migrated page"
According to linter command `php bin/console prestashop:linter:legacy-link`, we are missing legacy_link for pages:

 * admin_currencies_search
 * admin_currencies_create
 * admin_currencies_edit
 * admin_currencies_delete
 * admin_currencies_toggle_status
 * admin_currencies_update_live_exchange_rates
 * admin_currencies_refresh_exchange_rates

[2019-05-10 13:02] matks opened #13745 "Missing legacy_link for Employee pages"
According to linter command `php bin/console prestashop:linter:legacy-link`, we are missing legacy_link for pages:

 * admin_employees_search
 * admin_employees_save_options
 * admin_employees_toggle_status
 * admin_employees_bulk_update_status
 * admin_employees_delete
 * admin_employees_bulk_delete
 * admin_employees_toggle_navigation
 * admin_employees_change_form_language
 * admin_employees_ge

[2019-05-10 13:04] matks opened #13746 "Missing legacy_link for International pages"
According to linter command `php bin/console prestashop:linter:legacy-link`, we are missing legacy_link for pages:

 * admin_international_translations_export_theme
 * admin_international_translations_add_update_language
 * admin_international_translations_copy_language

[2019-05-10 13:05] matks opened #13747 "Missing legacy_link for Themes routes"
According to linter command `php bin/console prestashop:linter:legacy-link`, we are missing legacy_link for pages:

 * admin_themes_upload_logos
 * admin_themes_export_current
 * admin_themes_import
 * admin_themes_enable
 * admin_themes_delete
 * admin_themes_adapt_to_rtl_languages
 * admin_theme_customize_layouts
 * admin_themes_reset_layouts

[2019-05-10 13:09] vincent-dp commented on #13743
There's an input right beside the "tax excluded" input in the "prices" tab
that one contain the condisioning unity of the product (for exemple, I have 2.5 Liter in a bottle of coka cola, this input contains 2.5 and can get display on product.tpl using {$product.unity})

[2019-05-10 13:09] marionf opened #13748 "Amount of promotion is wrong while discount line is ok"
![image](https://user-images.githubusercontent.com/15104724/57457606-212cd280-7270-11e9-82e2-51723a0dede5.png)

![image](https://user-images.githubusercontent.com/15104724/57457627-2c7ffe00-7270-11e9-9aea-eb62b933d0b7.png)

![image](https://user-images.githubusercontent.com/15104724/57457655-373a9300-7270-11e9-8de9-171f540c0723.png)

The problem is in function `getTemplateVarVouchers` from `CartPr

[2019-05-10 13:10] marionf commented on #13748
And also this one:

![image](https://user-images.githubusercontent.com/15104724/57519309-3ca0e780-731b-11e9-888a-393f58d431e0.png)

![image](https://user-images.githubusercontent.com/15104724/57519329-46c2e600-731b-11e9-9f85-179a92ecb32e.png)

![image](https://user-images.githubusercontent.com/15104724/57519342-50e4e480-731b-11e9-93b5-7d9c6c90daee.png)

_Originally posted by @idnovate in https://g

[2019-05-10 13:13] Quetzacoalt91 commented on #13742
Hi there,

I'm glad to see you have a strong opinion on how to upgrade a shop, but disappointed that you did not that principle to run the process.

We suggested several ways to upgrade your shop, then the choice is yours. The manual process can precisely be done with a command line. Even the script `install/upgrade/upgrade.php` you called via the browser can be done via a terminal and won't have

[2019-05-10 13:19] matks commented on #12585
After discussing with @eternoendless, here's the plan:
- hook in form_rest https://github.com/PrestaShop/PrestaShop/pull/13412 will be in the scope of 1.7.7
- however we can consider the bad display (see below) for added fields is a 1.7.6 bug so we can improve the default form theme https://github.com/PrestaShop/PrestaShop/pull/11386 to make it right and merge this in 1.7.6 scope

Bad display, wit

[2019-05-10 13:19] Matt75 commented on #13698
@khouloudbelguith I use your export to deploy a PrestaShop instance.
I manage to reproduce the issue, I cannot access to add/edit Product page.
[code]

[2019-05-10 13:20] matks commented on #11389
Scoped into 1.7.6 as discussed with @eternoendless

[2019-05-10 13:20] netraagal opened #13749 "Translation - do not cache new added translations immediately, else BO translations page is very slow"
**Is your feature request related to a problem? Please describe.**
My team is on DEV mode on a website an I translate the theme.
Each time I insert a new translation on the table, I delete the translations cache folder in var/cache/dev **AND** go comment some lines on the DB class to prevent it to use the cache (we use it for some performance testing).

**Describe the solution you'd like**
I don't

[2019-05-10 13:23] khouloudbelguith commented on #13698
@Matt75, my `memory_limit` = 128M & it is OK.
How much `memory_limit` do you have on your server?
Thanks!

[2019-05-10 13:24] Matt75 commented on #13698
[code]

[2019-05-10 13:29] PierreRambaud commented on #13699
FYI:
[code]

Maybe you should try to investigate with a system administrator.

[2019-05-10 13:31] khouloudbelguith commented on #13698
@Matt75, I have error 500 when I try to edit a product only when debug mode is enabled.
If debug mode is disabled => OK
https://drive.google.com/file/d/1vSj0ckQOQmwGNvv4IsWlDOPK3nMymE01/view
The error 500 => it is the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9809
Thanks!

[2019-05-10 13:32] Matt75 commented on #13698
Yes I always have debug mode activate at work, I missed that

[2019-05-10 13:36] webperfect-lhd opened #13750 "Product with combinations page Ajax refresh when multi languages and url rewriting are enabled"
**Describe the bug**
When two or more languages are enabled, combined with URL rewriting enabled, the product page ajax refresh process doesn't work when you change an attribute. The url of the Ajax become /{iso_code}/index.php instead of /index.php.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable two languages in International / Localization / Languages
2. Enable URL rewriting in Sho

[2019-05-10 13:37] khouloudbelguith commented on #13749
Hi @netraagal,

Thanks for your report.
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-05-10 13:40] amtriorix commented on #13742
I was not aware you could launch that script using php-cli.
It did solve the initial problem to upgrade properly.
Thanks to solve that one.
The dev man pages should mention this as prefered method

Console commands in Symphony, having the namespace Prestashop,  should have priority
as other (long-running) processes could have benefit as well such as :
1) core upgrade
2) core install
3) module inst

[2019-05-10 13:49] khouloudbelguith commented on #13743
@vincent-dp, in fact, this variable `unity` is not defined in the `Project_PrestaShop/src/Adapter/Presenter/Cart/CartPresenter.php`
That's why in the cart-detailed-product-line.tpl, you cannot use {$product.unity}
In fact, this one is defined in the
`Project_PrestaShop/src/Adapter/Presenter/Product/ProductLazyArray.php `
in the Product page, we can display it, you can check the block `product_unit

[2019-05-10 13:51] khouloudbelguith commented on #13750
Hi @webperfect-lhd,

Did you use an `nginx` configuration?
Thanks!

[2019-05-10 13:52] vincent-dp commented on #13743
Ok, So I understand now it's normal and it's not a bug. But how can I override CartPresenter.php so it get unit defined?
Thank you for your help

[2019-05-10 13:54] khouloudbelguith commented on #13743
@vincent-dp,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-05-10 13:54] #13743 closed, assigned to nobody

[2019-05-10 13:54] webperfect-lhd commented on #13750
Hi @khouloudbelguith,
No, I use Apache 2.4.
Thank's

[2019-05-10 13:58] Quetzacoalt91 commented on #13742
I understood that you're not a big fan about the upgrade module, but we made a console command wrapping these tasks in it: https://github.com/PrestaShop/autoupgrade#running-an-upgrade-on-prestashop
People who suggested to use a cron task to regularly upgrade a shop have been recommended to have a look at it.

At the time these lines are written the process is the following:
* Archive download
* Ar

[2019-05-10 14:08] khouloudbelguith commented on #13750
@webperfect-lhd, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1vUcrLmtAyr_GIfknpgLN5Vf5x_3MlHOB/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source), fresh installation

[2019-05-10 14:20] 01park opened #13751 "Product features fields not updating for all languages"
#### Describe the bug
With the 1.7.5.2 the only way I found this possible is to manually change the languages and imput all data again. This is very time consuming.

#### Expected behavior
In 1.6 there was an option to update or delete ( by filling in nothing ) the text contant to ALL languages in the custom fields in the product features. Also when entering something in the custom field and savin

[2019-05-10 14:22] Fixmetal commented on #13673
I found out that the problem was due to "Use product reference as key" option being enabled so this is no bug.
Thanks for your concern.

[2019-05-10 14:22] #13673 closed, assigned to nobody

[2019-05-10 14:24] MatShir commented on #10600
@PrestaShop/prestashop-core-developers is it really impossible?
SVG could enhance the quality of some merchant website but it needs to be used carefully.

[2019-05-10 14:33] khouloudbelguith commented on #13673
@Fixmetal, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-05-10 14:49] powergraf06 opened #15191 "1-click upgrade prestashop v1.7"
Subject: Problem with 1-Click Update - fatal error admin

http://<URLremoved>/index.php?tab=AdminSelfUpgrade&token=

Fatal error: Call to undefined method AdminSelfUpgrade::displayErrors() in /home/comptoirr/www/admin7416/functions.php on line 278

Hello, After installing the module "1-Click Upgrade", as soon as I click on the button "Configure", the page in link is in failure (see above). For inf

[2019-05-10 15:03] khouloudbelguith commented on #13751
Hi @01park,

Yes, you are right, if I add a feature in the product page from the BO with a customized value => this value is saved only in the language by default
In the FO, if we change the language => the feature is displayed with empty value => incorrect
English selected
![image](https://user-images.githubusercontent.com/16067358/57536818-e47add00-733c-11e9-843a-6d8201b34d32.png)

Another langu

[2019-05-10 15:07] union-des-vignerons opened #13752 "Nom de domaine Prestashop"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-05-10 15:08] #13752 closed, assigned to nobody

[2019-05-10 15:10] union-des-vignerons opened #13753 "Nom de domaine prestashop"
Je n'arrive pas à inscrire mon nom de domaine dans Prestashop.
Nous avons acheté un nom de domaine sur OVH et nous souhaitons l'implémenter sur notre site.
Après avoir taper notre nom de domaine et cliquer sur ajouter, nous recevons ces deux messages d'erreur :
- L'entrée "A" ne contient pas la bonne adresse IP. Veuillez le changer ou ajouter un enregistrement "A".
- L'entrée "A" du sous-domaine "

[2019-05-10 15:11] Quetzacoalt91 commented on #15191
Hi there,

You issue has already been fixed with the version 4.8.0 of the module, released today. Please see https://github.com/PrestaShop/autoupgrade/issues/294 where the issue has been reported for the first time.

[2019-05-10 15:12] union-des-vignerons opened #13754 "Import produit prestashop"
Le fichier d'import "produit" ne fonctionne pas. Il y a un beug provenant du fichier.

[2019-05-10 15:14] PierreRambaud commented on #10600
Yes, You must use Imagick instead of GD.
But there should be some alternatives.

[2019-05-10 15:15] 01park commented on #13751
Hi,

Sorry, I won't be able to help you with a fix.

[2019-05-10 15:19] webperfect-lhd commented on #13750
@khouloudbelguith,
Thank you for your help !

It's on my desktop, an iMac with Mac OS X High Sierra 10.13.6.

Ok ! After seeing your video, I understood that I certainly have a misconfiguration problem if you did not reproduce the problem. I noticed on your video you don't have the specific phrase I had in URL rewriting admin part.
![image](https://user-images.githubusercontent.com/39125207/575364

[2019-05-10 15:46] webperfect-lhd commented on #13750
@khouloudbelguith,

OK, I found the problem.
It seems I don't need to use the config line ProxyPassMatch "^/(.*\.php(/.*)?)$" "fcgi://127.0.0.1:9070/Users/xxx/Documents/Sites/prestashop_1.7.5.2/$1"
If I remove it, all is ok and I could continue to use php-fpm for my vhost.

Sorry for the time spent on a problem that wasn’t there. Thank's for your quick help !
Best regards.

[2019-05-10 16:17] Mestria opened #13756 "Custom Product-n.tpl on changing declination or if I select "continue shopping" button"
**Describe the bug**
Hi,
I have to built a custom layout for one product, I wrote a new product-158.tpl for the product whit the Id 158.
The probleme comes when I try to select color, or select an attribute.
Everytime the hidden button to "refresh" is called, the layout crash down.
Same problem when I add to cart but click on the "continue shopping" button.
[fichepsmDevVersion.zip](https://github.

[2019-05-10 16:31] powergraf06 commented on #15191
Thank you for telling me how to solve the problem. I can not find my answer

[2019-05-10 16:32] powergraf06 commented on #15191
lign 278 : 		echo $adminObj->displayErrors();

[2019-05-11 05:24] nirav-nanda commented on #13627
no idea how to report error log , so i recorded it.
pls check - error log recording from debug mode
https://drive.google.com/file/d/1LSe5Lp_aumtSZgWmSmLPIQ6My3gezHG1/view?usp=sharing

no idea how to report error log , so i recorded it.

[2019-05-11 09:29] nrcjea001 commented on #13725
I've discovered that the website is not working as per normal after upgrade. Do I open a new issue can we reopen this one?

[2019-05-11 09:32] nrcjea001 commented on #13725
After upgrade, I went to module manager and discovered all native modules were put in "Other" category. Also, as a test, I went to bank transfer module and clicked "check for updates" and BO has crashed

[2019-05-11 10:09] benlecoqartisans opened #13757 "free gift and invoice"
Total products is wrong in invoice when you apply a reduction with free gift because reduction is not added.
In database, you don't have reduction in ps_orders.total_discount

Steps to reproduce the behavior:
1. Create a discount with free gift
2. Create a cart with this free gift
3. On the invoice, total products amount is wrong (and VAT also by the way)

**Screenshots**

![image](https://user-im

[2019-05-11 10:31] mayoji commented on #13698
@khouloudbelguith, @Matt75 I checked the code and found what's using up all the memory available to PHP. I was at first reluctant to do it because I've never used PrestaShop or PHP (I'm doing this to help a friend).

        while (isset($this->categoryList[$categoryId])) {
            $category = $this->categoryList[$categoryId];
            $categories[] = $category['name'];
            $categor

[2019-05-11 16:16] 01park opened #13759 "Search cron not working with multistore."
I tried to setup a cron task to rebuild the search index in back office.
Cron task is excecute on the server, but the rebuild does not start

When I click on the link in backoffice, the search index does start

**Additionnal information**
PrestaShop version: 1.7.5.2
PHP version: 7.1
Multistore activate

Solved:

Issue had nothing to do with prestashop, but the cron task I set up

[2019-05-11 22:11] arouiadib commented on #13639
When I test with PS 1.7.5.2 under debug mode and with an image file of 15mb, it returns an error message inside HTML markup as you said, but outside debug mode it only shows "SERVER ERROR" in the red popup (with 'close' button).

If you inspect elements under (Chrome dev tools example), under the 'Network' tab, you will see an HTTP response with 405 status code.  And I don't see any size compariso

[2019-05-12 10:17] ProBackup-nl opened #13760 "Row duplication on product save for tables pr_feature_product, pr_feature_value and pr_feature_value_lang"
**Describe the bug**
1 product with combinations (6 variations) results in — when editing and saving the product — to grow — read: duplicate — the mysql tables **pr_feature_product**, **pr_feature_value** and **pr_feature_value_lang** to abnormal row counts (31.000+ **rows**).

**pr_feature_product**
- id_feature = 0
- id_product = 7
- id_feature_value = 1 and counting up

**pr_feature_value**
- i

[2019-05-12 10:29] ProBackup-nl commented on #13760
With a
[code]
I did clean up the mess.

Not sure if it is a bug, can also be the user interface not making clear to the user that 100+ rows are being generated.

[2019-05-12 11:46] ProBackup-nl commented on #13760
It is a bug. After a save there are 6 rows. One product save later, and there are 12 rows. Another product save later, and there are 24 rows in all 3 tables.

[2019-05-12 11:55] 01park commented on #16987
Hi,

I was wondering if this issue was solved.
I think I might have the same problem with the multistore. When a cron task is execute it always updates shop 1, eventhough I have multiple cron jobs for shop 2 - 3 - 4 etc

[2019-05-12 12:44] BenTen commented on #9817
I hope that someone can fix this issue soon, because invoices for my Japanese customers are dummy.
Delivery Addresses and Billing Addresses are in a _beautiful square mode_.

[2019-05-13 05:21] Huzefa-anchanto opened #13762 "Issue with Friendly URL while product update"
Hi Prestashop Team,
We are facing an issue with the field Friendly URL while product update, details of which are mentioned below:

The issue we are facing is with a field name as "Friendly URL". In this field if we input any random value as "abc.com" it accepts during product creation (API) but it doesn't allow the product to be updated because of the ".com" part in the field value.
The expected

[2019-05-13 06:44] sarjon commented on #12392
Hi @marionf, wasn't it fixed?

I cannot reproduce it, see https://prnt.sc/nnsiq9

[2019-05-13 07:05] #13259 closed, assigned to PierreRambaud

[2019-05-13 07:12] khouloudbelguith commented on #13136
Hi @javierVP,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-13 07:12] #13136 closed, assigned to nobody

[2019-05-13 07:34] Quetzacoalt91 commented on #15191
Upgrade your module to v4.8.0 and the issue should be displayed on your screen.

[2019-05-13 07:39] khouloudbelguith commented on #13754
Hi @union-des-vignerons,

I did not manage to reproduce the issue with PS1.7.5.2.
https://drive.google.com/file/d/13LASmXksKc6TVsSqXW1NdI2szzgL1dJk/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascri

[2019-05-13 07:40] khouloudbelguith commented on #13753
Hi @union-des-vignerons,

Have you tried to contact your host about this issue?
Thanks to check with him & feedback.

[2019-05-13 07:53] tomas862 commented on #13490
@mickaelandrieu

if I throw my custom exception `MyModuleException` it won't be catched in the `CurrencyController` in this case. The only thing I have control of is to throw `CurrencyException` which is expected in the controller. However as a module developer I would like to control of the messages that something went wrong and the user would see that the problem were caused from module and not

[2019-05-13 08:05] matks commented on #13259
🎉

[2019-05-13 08:10] netraagal commented on #13749
@khouloudbelguith what do you mean by that ? I'm a little bit of a newbie and english isn't my mother lang...

[2019-05-13 08:15] khouloudbelguith commented on #13749
Hi @netraagal,

I pinged our developers to discuss this improvement.
Thanks!

[2019-05-13 08:15] marionf commented on #12392
Yes it's fixed :+1:

[2019-05-13 08:15] #12392 closed, assigned to matks

[2019-05-13 08:17] morghy1992 commented on #12687
@tyrelle Hi,  would you please explain me how to find product.tpl and product-line.tpl?
Is my first time. Hope you can help me.

[2019-05-13 08:24] khouloudbelguith commented on #13759
Hi @01park,

Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-05-13 08:24] #13759 closed, assigned to nobody

[2019-05-13 08:31] khouloudbelguith commented on #13698
@mayoji, thanks for your feedback.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-13 08:32] khouloudbelguith commented on #13698
Related to: #9809

[2019-05-13 08:37] marionf commented on #11059
@khouloudbelguith

I can't reproduce the issue with the following scenario on 1.7.6.x, the discount is well deleted without any error
1- Create a product
1.1 Price (tax incl.) = 435.95 €
1.2 Tax rule = 50% => Price (tax excl.) = 290.633333 €
2. Create a cart rule 5%
3. Add the last prduct to the cart => process checkout
4. Edit the order created
5. Delete the discount
6. see the error

Can you try

[2019-05-13 08:46] netraagal commented on #13749
Ok, thank you :)

[2019-05-13 08:56] khouloudbelguith opened #13767 "Discount block is not displayed in the Order detail page & in the invoice when we have free gift"
**Describe the bug**
After creating a free gift, the discount block, is not displayed in the order details page & in the invoice.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Cart rule
2. Create a cart rule to offer a free gift
3. Go in FO and order a product & the free gift
4. See the order in BO => the block discount is not displayed
5. Change the status of the order to p

[2019-05-13 08:59] marionf commented on #9667
Thank you @khouloudbelguith
The out of stock combination is displayed in FO and can't be seleted

[2019-05-13 09:17] #13750 closed, assigned to nobody

[2019-05-13 09:21] khouloudbelguith commented on #13750
Hi @webperfect-lhd,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-05-13 09:37] khouloudbelguith commented on #13757
Hi @benlecoqartisans,

We are aware of this issue.
Your ticket is a duplicate of #9757
So, I close it.
Thanks!

[2019-05-13 09:37] #13757 closed, assigned to nobody

[2019-05-13 09:37] khouloudbelguith commented on #13757
Duplicate of #9757

[2019-05-13 09:43] khouloudbelguith commented on #13725
Hi @nrcjea001,

I just reopened the issue.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-13 09:55] khouloudbelguith commented on #11059
Hi @marionf,

No, I did not manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1iBJp_sigAD68RbE2xYsooK8PRh5uOo9R/view
It seems to be fixed.
I close the issue.
THanks!

[2019-05-13 09:55] #11059 closed, assigned to marionf, MatShir

[2019-05-13 09:59] nrcjea001 commented on #13725
Hi @khouloudbelguith

No issue in PHP error log. BO did not crash as I thought, "check updates" load was just hanging for a long time. "Check updates" button redirects me to module manage page

--> http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
This page explains how to enable debug mode, but not how to produce a report. How to send this to you?

To summarize steps,
1. Upgrade 1

[2019-05-13 10:28] khouloudbelguith commented on #13760
Hi @ProBackup-nl,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
I attached a video record
https://drive.google.com/file/d/17s-Gvw1frG9C8FKnCJrbt4j5AM_i-5TA/view
Thanks to check & feedback

PS: your issue could be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/9680
Thanks!

[2019-05-13 10:55] khouloudbelguith commented on #13725
@nrcjea001, thanks a lot for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 (fresh installation & after upgrade from PS1.7.5.1)
All native modules are displayed in the "Other" category.
PS1.7.5.1 => OK
https://drive.google.com/file/d/1EBufi6je1APUeXJJldM9WMiSqHwjgkrf/view
PS1.7.5.2 => NOK / PS1.7.6.beta1
https://drive.google.com/file/d/11B7WD_-3p8SrDjQxD7ewib35sgDGiufG/view
I

[2019-05-13 11:10] khouloudbelguith commented on #13627
Hi @nirav-nanda,

Thanks for your feedback.
In your case, debug mode enabled but no exception displayed.
Could you please follow these steps:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. edit the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or

[2019-05-13 11:22] LanmanGroup commented on #13215
Update order status to Refund and next check your PayPal account

[2019-05-13 11:24] khouloudbelguith commented on #13215
Hi @itisco,

Can I close the issue?
Thanks!

[2019-05-13 11:27] itisco commented on #13215
Hi!
It seems that you can.
Thanks

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le lun. 13 mai 2019 à 13:24, khouloudbelguith <notifications@github.com> a
écrit :

--
*DEJITAL CLASSROOM*
*ATELIER PRATIQUE POUR CONSTRUIRE SA **STRATÉGIE** SUR
LES **RÉSEAUX** 

[2019-05-13 11:31] khouloudbelguith commented on #13215
@itisco, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-13 11:31] #13215 closed, assigned to nobody

[2019-05-13 11:32] khouloudbelguith commented on #13762
Hi @Huzefa-anchanto,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
I used this script
[code]

I have an error

[code]
![image](https://user-images.githubusercontent.com/16067358/57618301-ecc05b80-757a-11e9-860d-e3dc86cba5b7.png)
Thanks to check & feedback

[2019-05-13 11:39] khouloudbelguith commented on #13756
Hi @Mestria,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-05-13 11:39] #13756 closed, assigned to nobody

[2019-05-13 11:50] powergraf06 commented on #15191
Bonjour,
C¹est celle que j¹avais téléchargé déjà, d¹où vient donc le problème ?
Merci

De :  Thomas N <notifications@github.com>
Répondre à :  PrestaShop/autoupgrade
<reply@reply.github.com>
Date :  lundi 13 mai 2019 à 09:34
À :  PrestaShop/autoupgrade <autoupgrade@noreply.github.com>
Cc :  Laetitia DEVASSINE <contact@powergraf.fr>, Author
<author@noreply.github.com>
Objet :  Re: [PrestaShop/autou

[2019-05-13 12:16] robi-bobi opened #13769 "It should not be possible to purchase a pack which requires more quantity of pack item than there is in stock"
**Describe the bug**
It should not be possible to purchase a pack which requires more quantity of pack item than there is in stock.

**To Reproduce**

In Admin I have pack product.
In that Pack product I have added a combination product with quantity 100.
The combination product itself has less than 100 quantity availability (for example, 99).
Global setting for packs is to "Decrease both".
My Glo

[2019-05-13 12:26] Jerome08 opened #13770 "Ecotax is automaticaly decrease from 20% when i click on view product on front office"
**Describe the bug**
In catalog> products
If I edit a product, if I click on the "view" button the product is displayed in the front office, I close the page
and I fall back in the edition of the product but in the top right I see "setting updated" and the eco-participation decreases by 20% (amount of VAT)
While I did not touch the ecotax
As many times as I click on "visualize", as many times that

[2019-05-13 12:33] mayoji commented on #13698
@khouloudbelguith we can detect circular references and prevent an infinite loop with something like:

    public function getParentNamesFromList($categoryId)
    {
        $categories = [];
        $visited = [$categoryId];
        while (isset($this->categoryList[$categoryId])) {
            $category = $this->categoryList[$categoryId];
            $parent_id = $category['id_parent'];

[2019-05-13 12:35] Jerome08 opened #13771 "Button "activate taxes" and "use ecotaxe" not functional"
when i want to activate button "activate taxes" and "use ecotaxe"
I check the buttons and i save
but when i refresh the page, it is not activated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  internation > taxes
2. Click on activate taxes and use ecotax
3. save
4. refresh the page

**Additionnal information**
PrestaShop version: 1.7.5.2
PHP version: 7.0

[2019-05-13 12:37] matks commented on #13620
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13765

[2019-05-13 12:37] #13620 closed, assigned to matks

[2019-05-13 12:38] matks commented on #13449
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13763

[2019-05-13 12:38] #13449 closed, assigned to matks

[2019-05-13 12:38] khouloudbelguith commented on #13771
Hi @Jerome08,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1DFmNERQ6dhR__9TwUvX-Z5MXGPqKfztW/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apach

[2019-05-13 12:39] mayoji commented on #13698
Of course, there might be other PS 1.6 stores out there with invalid categories, and those sites will crash after upgrading to PS 1.7 unless the code is modified.

[2019-05-13 12:41] matks commented on #13594
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13643#pullrequestreview-234349491

[2019-05-13 12:41] #13594 closed, assigned to nobody

[2019-05-13 12:49] khouloudbelguith commented on #13770
Hi @Jerome08,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1iz8grIlG_upIPM-ozFcrnaIhYyN1scNR/view
Thanks to check & feedback.

[2019-05-13 13:09] khouloudbelguith commented on #13769
Hi @robi-bobi,

Your ticket is a duplicate of #9671
So, I close it.
Thanks!

[2019-05-13 13:09] khouloudbelguith commented on #13769
Duplicate of #9671

[2019-05-13 13:14] robi-bobi commented on #13769
Hi @khouloudbelguith

Thank you for quick reply.
I think my case is a bit different than the one described in #9671.

The #9671 explains some wrong quantities after the purchase, while I explain that the purchase should not be possible at all.

Or, is it that the underlying reason why this happen is the same?

[2019-05-13 13:24] Jerome08 commented on #13770
Hello
can you check this video of the problem
http://img.myprestamodules.com/img/screenshots/2019-05-13_11-37-27.mp4

Thanks

[2019-05-13 13:25] ramibak opened #13775 "Loading Time Issue -Bug-"
Hello There , i have prestashop version 1.7.4.3
im using a module for importing from aliexpress , and mywebsite is hosted by dedicated server which have a high storage and high memory , now after finishing importing from aliexpress , i try to refresh the products page to check that everything is okay , the loading time is more than 1 minutes sometimes , and other times it shows me 503 server tempo

[2019-05-13 13:42] khouloudbelguith commented on #13775
Hi @ramibak,

In your php.ini file, Try to increase:
max_execution_time = 30 (by default is 30, try to increase it)
max_input_time = you need to increase it
memory_limit = 512M

Some issues related added to our bug roadmap:

- https://github.com/PrestaShop/PrestaShop/issues/9809
- https://github.com/PrestaShop/PrestaShop/issues/13698

Thanks to check & feedback

[2019-05-13 13:43] matks commented on #13586
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13722

[2019-05-13 13:46] robi-bobi commented on #9671
Now that #13769 has been closed as duplicate of this one, my question is:
is there an ETA for this?

[2019-05-13 13:55] khouloudbelguith commented on #13769
Hi @robi-bobi,

Sorry, yes, it is not a duplicate of #9671, just similar.
But your issue is fixed in the PS1.7.6.0beta1.
I did not manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1ESQaaiBQbaMcyoA95WTThMddoaVzqhMU/view
Thanks!

[2019-05-13 13:57] khouloudbelguith commented on #9671
@robi-bobi, your issue #13769 is fixed in the PS1.7.6.0
Thanks!

[2019-05-13 14:00] ramibak commented on #13775
thanks for your reply khouloud
already did that , 2 weeks ago , and here is the picture of what i did , and still the same , you feel like the backoffice is too heavy when using the importer , even another user cant use it easily
@khouloudbelguith

![kk1](https://user-images.githubusercontent.com/50453887/57627243-4dae5a80-75a0-11e9-8b97-2577896040e5.PNG)
![kk2](https://user-images.githubuserconte

[2019-05-13 14:02] marionf commented on #10619
Issue for this page:
- [ ] #12105

[2019-05-13 14:03] khouloudbelguith commented on #13770
@Jerome08, thanks for your feedback.
It is OK in my case
https://drive.google.com/file/d/1vRcrShm_iBU4_Z8d2U6aovzTiYHeXMcI/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-13 14:03] marionf commented on #12105
We could delete the column "send email to customer" from the list

[2019-05-13 14:06] khouloudbelguith commented on #13775
@ramibak, for your information, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your version PHP, check & feedback.

[2019-05-13 14:26] idnovate commented on #12105
Or disable callback so this column is not clickable.

[2019-05-13 14:26] robi-bobi commented on #9671
Thank you, I will try the latest beta.
Is there an official doc on how to upgrade from 1.7.5 to 1.7.6 branch?

[2019-05-13 14:32] ramibak commented on #13775
@khouloudbelguith  ,
i have this version installed on the server , already choosed it , and still the same issue , heavy backoffice and some 503 error shows sometime .
waiting for your reply ,
Thank you @khouloudbelguith  & Ramadanek mabrouk

![kk4](https://user-images.githubusercontent.com/50453887/57629569-ac75d300-75a4-11e9-8016-e9abbf7819c2.PNG)

[2019-05-13 14:37] marionf commented on #9876
There is also this issue when you add an order from BO
Disabled and deleted curencies are still in the drop down but can't be selected

![capture d'écran_1518](https://user-images.githubusercontent.com/13449658/57630189-6f5a1280-759d-11e9-949f-40ea2ce25f46.png)

[2019-05-13 14:46] khouloudbelguith commented on #9671
@robi-bobi, PS1.7.6.0 stable is not released yet.
PS1.7.6.0 is a beta version
You can follow these steps to make an upgrade to PS1.7.6.0.
1) Install the autoupgrade module
2) Download the zip of the beta
3) Copy it in the folder admin / autoupgrade / download
4) choose the "local archive" module as a channel
5) Indicate the version to which during the upgrade (example: 1.7.6.0)
6) Update

In order

[2019-05-13 14:50] khouloudbelguith commented on #13775
@ramibak, Thanks for your feedback.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.p

[2019-05-13 15:14] marionf commented on #9735
@khouloudbelguith

When creating an order from BO, you can search a product by name but not by reference.
If you reference is totally different of the product name, you will find nothing.

![capture d'écran_1519](https://user-images.githubusercontent.com/13449658/57632722-7e8f8f00-75a2-11e9-9bc1-19c317a9a43b.png)

Don't think it's an issue

[2019-05-13 15:21] khouloudbelguith commented on #9735
Hi @marion,

I tried with PS1.7.6.0beta, If I search with this expression "demo", I will find all products with "demo" reference.
https://drive.google.com/file/d/1rUlZlD70-VyKZfYSiqaVrmwsR6qYsD9L/view
Thanks!

[2019-05-13 16:17] marionf commented on #9602
@khouloudbelguith

Could you try to reproduce it on 1.7.6.x ?

[2019-05-13 17:31] jolelievre commented on #13586
Here is a missing change https://github.com/PrestaShop/PrestaShop/pull/13779
Allows to overwrite modules emails even if core emails were not overriden by the theme

[2019-05-13 19:48] kpodemski commented on #13586
Hey @jolelievre

lets assume that we have a module `examplemodule`

this module has its own mails in:

`modules/examplemodule/mails/ISO/`

how can we create a new modern template for a module, but only for 1.7.6 version? is there any way to do that? (i didn't have time to dig into codebase just yet)

do we need to generate those e-mails first and put conditional `if` while sending it? or core will

[2019-05-13 21:18] ProBackup-nl commented on #13760
I can't reproduce either.
1. Create new product
2. Fill title, fill summary
3. Go to "Combinations" (2nd tab)
4. Type/choose: "Regio: all"
5. Choose: Generate
6. Six combination lines are create
7. Fill number value lines (six times the same value)
8. Fill out price value
9. Fill out "State = Refurbished"
10. Save -> there is no issue yet
11. Upload 3 images
12. Assign images to combination items.

[2019-05-14 06:22] Jerome08 commented on #13770
i don't know how to get logs, i found a folder on server called logs
here is some screenshot of it, is that these files?
![Screen Shot 05-14-19 at 08 09 AM](https://user-images.githubusercontent.com/50581985/57674722-50509480-7620-11e9-94d2-57f512789597.PNG)
![Screen Shot 05-14-19 at 08 10 AM](https://user-images.githubusercontent.com/50581985/57674741-58103900-7620-11e9-92d2-d907dd4d67e6.PNG)
![S

[2019-05-14 06:24] Jerome08 commented on #13770
i realized when i set a price and save it, when i juste refresh my page, it does same, ecotax decrease from 20%
my price included tax also change ...
no need to click on "view" product, a refresh does same

[2019-05-14 07:13] khouloudbelguith commented on #13770
Hi @Jerome08,

About the red alert, it is a different issue reported previously in this ticket: #10934.
Could you please provide me the credentials of your shop to test it.
This is a public space.
You can provide me by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-05-14 07:15] khouloudbelguith commented on #13760
@ProBackup-nl, so the issue doesn't exist anymore?
Thanks!

[2019-05-14 07:26] #13424 closed, assigned to jolelievre

[2019-05-14 07:26] #13582 closed, assigned to jolelievre

[2019-05-14 07:26] #13433 closed, assigned to jolelievre

[2019-05-14 07:37] Jerome08 commented on #13770
Thank you so much
i sent u a mail with all information to connect

Jerome

[2019-05-14 07:44] marionf commented on #9594
In the order conf in FO, obly one product is displayed instead of 2

![capture d'écran_1522](https://user-images.githubusercontent.com/13449658/57679876-a4617600-762c-11e9-895c-4c20c2e46f61.png)

In BO, I well have 2 orders created and amounts are ok

![capture d'écran_1523](https://user-images.githubusercontent.com/13449658/57679940-c955e900-762c-11e9-8de1-3c3c755fb1f9.png)

![capture d'écran_152

[2019-05-14 07:46] khouloudbelguith commented on #9602
Hi @marionf,

I did not manage to reproduce the issue.
I tried with PS1.7.6.0beta, I followed these steps:

1- Change order status to payment accepted
2- Edit the Tracking number

But in the dev.log file, I did not find errors similar, only some `php.INFO: User Deprecated`.
Thanks!
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3176404/dev.log)

[2019-05-14 08:16] khouloudbelguith commented on #13770
@Jerome08, thanks!
It is OK now.
I just made some tests on the Taxes page, The Ecotax should have "No tax"
![image](https://user-images.githubusercontent.com/16067358/57681520-c1e01100-7627-11e9-9b31-12180778ac1d.png)
https://drive.google.com/file/d/1Q-IAQHwKSKwRcDH_0vKow97L1TgN7uqz/view

You should not edit the database manually, because there are multiple tables related

When you use multistore

[2019-05-14 08:16] #13770 closed, assigned to nobody

[2019-05-14 08:41] marionf commented on #9863
Duplicate of #13061

[2019-05-14 08:41] #9863 closed, assigned to nobody

[2019-05-14 08:42] #9602 closed, assigned to nobody

[2019-05-14 08:45] Jerome08 commented on #13770
i'm sorry but it doesn't seem to be different...

i try to change the price of one product, when i refresh the page, ecotax is still decreased
of if i leave the edition and go back to product edition, the price is changed anyway

I will send u video on ur mail

[2019-05-14 08:52] khouloudbelguith commented on #13770
@Jerome08, as I said before, on the Taxes page, The Ecotax should have "No tax".
It is OK now, I just sent you a screen record by Email.
Thanks!

[2019-05-14 08:56] matks commented on #13655
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13593
We agreed to go with Tomas suggestion:

[2019-05-14 09:02] khouloudbelguith commented on #9929
Same issue with 1.7.6.0beta1 version
![image](https://user-images.githubusercontent.com/16067358/57685242-69ad0d00-762f-11e9-978e-bf5236578208.png)

Thanks!

[2019-05-14 09:06] Jerome08 commented on #13770
thanks a lot

[2019-05-14 09:07] marionf commented on #12969
Same thing if I add a discount at these steps, the dicount line isn't displayed as long as the page isn't refreshed

[2019-05-14 09:08] khouloudbelguith commented on #13497
Same issue with PS1.7.6.beta1

[2019-05-14 09:46] matks commented on #13748
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13780

[2019-05-14 09:46] #13748 closed, assigned to tomlev

[2019-05-14 10:15] Maofree opened #13781 "After the upgrade from 1.6.x to 1.7.x some parts of the back-office have texts in english"
hi
I've upgraded some sites to 1.7.5.x and many of them had the same problem after the upgrading, the vertical menu and the title of the pages became in english.
in parameters.php I saw that there was
'locale' => 'en-US',
instead the default language was the italian.
even changing to it-IT and clearing the cache the texts remain in English. I have talked to others and several have had the same pro

[2019-05-14 10:25] khouloudbelguith commented on #13781
Hi @maofree,

What is the exact version you started from?
What is the exact version of the 1-click upgrade did you use?
Could you please, navigate to your BO => International => Translations => " Add / Update a language" section, choose the Italian language & click on the "Add or update a language" button.
Thanks to check & feedback

[2019-05-14 10:30] Maofree commented on #13781
hi
1-click upgrade version was 4.6.0 or 4.7.0
the start version was 1.6.1.21 or 1.6.1.23

yes updating the Italian language the problem is solved

[2019-05-14 10:38] khouloudbelguith commented on #13781
@maofree, thanks!
Since it is fixed.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-14 10:38] #13781 closed, assigned to nobody

[2019-05-14 10:51] BenTen opened #13782 "Shipping part empty in BO when the order contains a virtual product"
**Describe the bug**
I created two Carriers and set them to Free Shipping.
Carrier 1
Carrier 2

When I create a manual order, I choose Carrier 2 in "Delivery option" of Shipping part.

After created, in the order page, the wrong carrier is selected, Carrier 1.
If I want "Edit shipping details", the carrier list is empty.

I already check zone/country selected for the carrier.

**Additionnal inform

[2019-05-14 11:01] glo-www opened #13783 "Display an error message instead of an exception when there is an error"
**Describe the bug**
After uploading the theme, when I try to activate it, I get the following 500 error:  _Cannot install module ps_newproducts. The module is invalid and cannot be loaded._
The module is not installed and not available in module catalogue, but that should not prevent theme from being installed.

**To Reproduce**
1. Import a theme which want to position "ps_newproducts" in a hook

[2019-05-14 11:12] khouloudbelguith commented on #13782
Hi @BenTen,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.beta1.
Steps to reproduce the issue:
1. In the BO => Orders page => I created order from the BO with a **virtual product** => I selected any carrier
2. The Shipping block is empty

![image](https://user-images.githubusercontent.com/16067358/57693594-80f4f600-7641-11e9-9aa0-23a46bc2529f.png)
https://drive.

[2019-05-14 11:22] ramibak commented on #13775
host : 1&1 IONOS Dedicated server
Server Sertup & configuration : here is some information

Hostname | BCD3924.online-server.cloud
-- | --
IP address | 74.208.239.218
OS | ‪CentOS Linux 7.6.1810 (Core)‬
Product | Plesk Onyx Version 17.8.11 Update #53, last updated on May 12, 2019 07:32 PM

CPU | Intel(R) Xeon(R) Gold 6126 CPU @ 2.60GHz (24 core(s))
-- | --
Version | Plesk Onyx v17.8.11_build170818

[2019-05-14 11:29] khouloudbelguith commented on #13783
Hi @glo-www,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.beta1
I tried to install "minimal" theme v3.0.4 => I tried to use it
I have an exception
![image](https://user-images.githubusercontent.com/16067358/57694431-92d79880-7643-11e9-96a0-cd5786c6e7a6.png)

In the PS1.7.5.2, I have a red alert
![image](https://user-images.githubusercontent.com/16067358/57694461-a551d200-7

[2019-05-14 11:35] sarjon opened #13784 "Harmonize multi-language inputs"
#### Is your feature request related to a problem?
The multilingual input fields are not harmonized

![image](https://user-images.githubusercontent.com/23308427/134773672-14ec4836-5741-41cb-a296-ad3358380856.png)

#### Describe the solution you'd like
I think that multi-language input fields should be consistent.
we should integrate the tinyMCE component in the UI kit for further use.

[2019-05-14 11:37] matks commented on #13450
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13764

[2019-05-14 11:37] #13450 closed, assigned to sarjon

[2019-05-14 11:41] khouloudbelguith commented on #13784
ping @marionf, @colinegin what do you think?
Thanks!

[2019-05-14 11:51] khouloudbelguith commented on #13775
@ramibak, did you use any module named `SpecialProduct` or `wtspecials`?
These classes `specialproductclass.php` `wtspecials.php` are provided by which module?
Thanks!

[2019-05-14 11:51] matks opened #13785 "Split prestashop into components and distributions"
Following Symfony example, I think it would be nice for next major version of PrestaShop to be available through Composer package manager as a set of components or a distribution.

## Ideal usecase

Create components:
- `prestashop/prestashop-core` that contains all the Core classes
- `prestashop/prestashop-frontoffice` that contains the FO classes
- `prestashop/prestashop-backoffice` that contain

[2019-05-14 11:56] ramibak commented on #13775
@khouloudbelguith
hello khouloud , yes its one of the modules theme , ihave just disabled it now , is there anyway to give you my server credentials , to check your self , because im already 2 hours looking for apache log and php log i didnt find them
i found some file error log located in Home directory/logs
thank you so much for your support appreciate it :)

[error_log.zip](https://github.com/P

[2019-05-14 11:57] khouloudbelguith commented on #13785
ping @PrestaShop/prestashop-core-developers

[2019-05-14 11:57] ramibak commented on #13775
i tried to refresh my main page once again after disabling the WT_specials , i get this report now

(1/1) ContextErrorExceptionWarning: count(): Parameter must be an array or an object that implements Countable
--
in 95feb60f69e9bec7678e4b0335e66fc750a08da2_2.module.wtcategoryfeatureviewstem.php line 50
at content_5cdaaced1e44d5_40943559(object(SmartyDevTemplate))in smarty_template_resource_base.p

[2019-05-14 11:59] khouloudbelguith commented on #13775
@ramibak, you have also an issue with the `wtcategoryfeatureviewstem` module.
You should contact the module author about this issue they are the only ones to help you with it.
You have also, this error
`[Tue May 14 07:10:15.464801 2019] [fcgid:warn] [pid 326160:tid 139922551846656] [client 79.177.97.133:51928] mod_fcgid: stderr: PHP Warning:  include(/var/www/vhosts/gulfiz.com/httpdocs/Gulfiz/modu

[2019-05-14 12:09] PierreRambaud commented on #13785
Could be cool to remove the unneeded prefix `prestashop-` which is already in `prestashop/` :)

[2019-05-14 12:14] ramibak commented on #13775
@khouloudbelguith  is these modules the reason of heavy loading time ?
it keeps giving me this sometimees not all the time , 3 users working on the website , so when other user is importing , and other try to navigate , probably will get 503 server unavailabe at the moment ,

the module author of ALIEXPRESS api , replied now , that its not error , its only a warning but there is no error in the mo

[2019-05-14 12:16] khouloudbelguith commented on #13775
@ramibak, Could you please provide me the credentials of your shop to test it.
This is a public space.
You can provide me by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-14 12:27] ramibak commented on #13775
sent to your email already , thanks alot @khouloudbelguith  for your help

[2019-05-14 12:29] khouloudbelguith commented on #13775
@ramibak, I did not receive any mail yet.
Thanks to check & feedback.

[2019-05-14 12:30] ramibak commented on #13775
@khouloudbelguith
check in spams maybe , already sent it from ramibakfinadvisor@gmail.com thank you

[2019-05-14 12:37] khouloudbelguith commented on #13775
@ramibak, I just sent you an email.
Thanks!

[2019-05-14 13:10] jolelievre commented on #13732
Hello @samuel-pires

I looked at the PR for this issue, but I don't think this should be fixed in the core, rather in the module itself. This would allow to add additional classes to have a more proper CSS (which should be in the module as well).
Besides the new design includes product's thumbnails, this won't be manageable unless the module's javascript is updated.

What do you think?

[2019-05-14 13:27] matks commented on #13784
It makes sense 👍 the tinyMCE component indeed has its own implementation of the multi-lang feature and it should behave like the other ones.

[2019-05-14 13:29] marionf commented on #13131
Reproduced with 1.7.6.0

![capture d'écran_1526](https://user-images.githubusercontent.com/13449658/57701810-12259600-765d-11e9-8420-ad9604f18930.png)

[2019-05-14 13:51] miha1 opened #13786 "New customer profile field: This user has suspicious activities"
As part of the new [3-D Secure](https://doc.wirecard.com/CreditCard.html#CreditCard_3DS2) standard that is coming into force in Europe, there are a number of new parameters that must be sent to credit card acquirers.

One of these parameters is a new field for tracking suspicious activity with users. To ensure full compliance this field should be added to the customer profile fields in Prestashop

[2019-05-14 14:00] wjatekTest opened #13787 "Module names - unexpected API behaviour"
**Describe the bug**
When you try to submit order with incorrect module name, method getInstanceByName($module_name) in Module.php class returns false instead of throwing exception or something. It causes problem when you try to create order by API - when you put wrong module name server response is empty and you don't know what is wrong - Order.php:1687 - $payment_module - trying to call method o

[2019-05-14 14:22] khouloudbelguith commented on #13786
Hi @miha1,

You can use the additionalCustomerFormFields hook, you can add a new field to customer registration form from the Front office.
For the BO, you can use displayAdminCustomers, it display new elements in the Back Office, tab AdminCustomer
Thanks to check & feedback

[2019-05-14 14:23] marionf commented on #10631
Issues on this page:
- [ ] #11167

[2019-05-14 14:35] marionf commented on #10471
@khouloudbelguith Can you try to reproduce it with 1.7.6.0 ?

[2019-05-14 14:46] khouloudbelguith commented on #13787
Hi @wjatekTest,

I used this script
[code]

But I have this error
![image](https://user-images.githubusercontent.com/16067358/57707388-734e6900-765f-11e9-8bbd-e1c378ee42f8.png)

Thanks to check & feedback

[2019-05-14 14:57] khouloudbelguith commented on #10471
Hi @marionf,

No, I don't have the same error in the console as reported previously with PS1.7.6.0beta1, just 404 about CLDR.
https://drive.google.com/file/d/1nquxL3MK1UL6_QFGuKwoKqXhWP1iExrh/view
Thanks!

[2019-05-14 14:58] #10471 closed, assigned to nobody

[2019-05-14 14:59] crishnakh opened #13788 "Error on install dev-version"
**Describe the bug**
On install-dev final step, it shows 2 warnings on /vendor/doctrine/orm/lib/Doctrine/ORM/UnitOfWork.php

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost/PrestaShop/install-dev/'
2. Follow Installer
3. On last step, installing database.
4. It shows the two warnings

**Screenshots**
I attach one screenshot
![Captura de pantalla 2019-05-14 a las 16 55

[2019-05-14 15:13] marionf commented on #10471
Thank you @khouloudbelguith :+1:

[2019-05-14 15:20] marionf commented on #9679
Can't reproduce on 1.7.6.0

![capture d'écran_1527](https://user-images.githubusercontent.com/13449658/57710122-93385980-766c-11e9-8d52-264686239c28.png)

[2019-05-14 15:20] #9679 closed, assigned to nobody

[2019-05-14 15:24] khouloudbelguith commented on #13788
Hi @crishnakh,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
In my case, I tried to install the develop Branch, but it is OK
https://drive.google.

[2019-05-14 15:29] marionf commented on #9655
Related to #9945

[2019-05-14 15:32] crishnakh commented on #13788
Ok, I've  tested install on PHP 7.2.14. All Ok, just drop here if anyone have the same error on php 7.3.1

[2019-05-14 15:32] wjatekTest commented on #13787
Thanks for feedback!
Unfortunately I don't use PHP WebService library for Prestashop, but I think this exception is caused directly by problem I described.

[2019-05-14 15:39] marionf commented on #9651
@khouloudbelguith
I can't reproduce it on 1.7.6.0
Could you try to reproduce it ?

[2019-05-14 16:05] matks commented on #13788
Thanks ! We're aware of this issue, this is because php 7.3 requires a higher version of Doctrine that the one we currently use.

This will be fixed in PS 1.7.7 , it will be compatible with php7.3 😉

[2019-05-14 16:44] benlecoqartisans commented on #9757
Do you have any idea about the release which will bring this issue ?

[2019-05-14 17:42] jolelievre commented on #13737
Hello @maofree

I know it is complicated to have a unique/general point of view about SEO, so I'm aware what I'm saying may not be correct for every use cases. But in several best practices about managing pagination for SEO you can find that each page needs to be self canonical, which makes sense because the content is different (not the same products).

You can also have the same title and meta i

[2019-05-14 22:28] Maofree commented on #13737
hi @jolelievre
the problem is that Google alert everyone with its notifications that there are duplications on meta titles and meta descriptions.
for the description only in the first page I think it not solve the problem, normally it is enought the first page because it has all content to index on some keywords, the rest of paginations are necessary?

another problem that Google alert everyone is

[2019-05-15 00:10] jomdacillo commented on #10934
Hello Guys,

PS version: 1.6.1.23

Just encountered this issue today. I believed it is a Prestashop bug, the error is a connection from Prestashop server. It prompt's an error in the dashboard because some of the variables has no values the $advice and the $link_advice.

So this is my quick fix for the issue while Prestashop haven't provide any fix for it.
1. Go to your root website folder
2. Navi

[2019-05-15 05:21] nirav-nanda commented on #13627
thank you @khouloudbelguith for your constant support and interest in this.
ma'am , i followed your steps
i can see error that saying
An exception occured in driver: SQLSTATE[42000] [1203] User shopan76_demo (shopan76_demo is my database name) already has more than 'max_user_connections' active connections

detailed screen recording - https://drive.google.com/file/d/1WE--28KylWHL1A0-wkRscwr15WZvBO

[2019-05-15 05:47] OleksiyPenkov commented on #13444
I've fixed it by adding into nginx.conf

[code]

before the following section
[code]

[2019-05-15 07:03] zuk3975 opened #13791 "Percentage discounts ignores tax"
**Describe the bug**
When reduction type of 'percentage' is selected while creating discount, product price calculation ignores taxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sell > Catalog > Catalog Price Rule > Add new Catalog Price Rule
2. When creating price rule fill any data (:warning:  important to select `Reduction type - Percentage`). And Save.
3. Go to Front Office, s

[2019-05-15 07:24] khouloudbelguith commented on #13390
Hi @mygitaccount2,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-15 07:24] #13390 closed, assigned to nobody

[2019-05-15 07:25] khouloudbelguith commented on #13405
Hi @AdriCruz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-15 07:25] #13405 closed, assigned to nobody

[2019-05-15 07:55] khouloudbelguith commented on #13791
Hi @zuk3975,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1
In the FO, the discount is always applied to the price tax included.
The field "Reduction with or without taxes" has no effects.
I’ll add this to the debug roadmap so that it’s fixed.

Thanks!

[2019-05-15 08:01] ttoine commented on #12461
Do we have a list of dependencies dropping support of PHP 5.6?

[2019-05-15 08:01] ttoine commented on #12461
Do we have a list of dependencies dropping support of PHP 5.6?

[2019-05-15 08:05] khouloudbelguith commented on #13788
Hi @crishnakh,

I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-15 08:05] #13788 closed, assigned to nobody

[2019-05-15 08:18] jolelievre commented on #13586
Hi @kpodemski

If you want to use the email theme feature for a module you have two ways of doing it:

- you can add your layouts in the appropriate email theme. For example if your module template is `modules/examplemodule/mails/en/my_email.html` then you need to add a layout `mails/themes/modern/modules/examplemodule/my_email.html.twig` in your theme, then it will be exported in the module mails

[2019-05-15 08:24] khouloudbelguith commented on #13627
Hi @nirav-nanda,

That means that the specific database user has already used up all the concurrent connections at that moment and more cannot be processed.

The only option to fix without doing any programming changes is to change the [max_user_connections](https://dev.mysql.com/doc/refman/5.5/en/server-system-variables.html#sysvar_max_user_connections) value in MySQL configuration

About the 403

[2019-05-15 08:24] #13627 closed, assigned to nobody

[2019-05-15 08:39] khouloudbelguith commented on #9651
Hi @marionf,

Yes, In case also, I did not manage to reproduce the issue with PS1.7.6.beta1.
https://drive.google.com/file/d/1jmghI1TENY74Sh2H4-zzqIGz-EiMjOg8/view
Thanks!

[2019-05-15 08:39] #9651 closed, assigned to nobody

[2019-05-15 08:42] khouloudbelguith commented on #13787
Hi @wjatekTest,

How did you create an order by API?

Thanks!

[2019-05-15 08:57] marionf commented on #13002
A way to simplify point 1. could be:
If I select a specific customer, I can't add a restriction on customer group (the checkbox is disabled) and vice versa: if I select customer group restriction, I can't add a specific customer (the field is disabled)

[2019-05-15 09:24] sarahdib opened #13793 "New theme & logo page - Design fixes part 2"
When uploading a PrestaShop theme that contains the theme configurator module, the bloc that links to the module doesn't display correctly :
![56347641-031a0800-61c5-11e9-92f3-28eb7fd53f98](https://user-images.githubusercontent.com/3034677/57764484-dbef2180-7703-11e9-947a-9a2731dfc772.png)

It looked like this in legacy :
![56348350-8720bf80-61c6-11e9-816d-ebd5f4646dac](https://user-images.githubu

[2019-05-15 10:20] colinegin commented on #13725
@PierreRambaud what do you think of this issue ? I thought it had been solved ?

[2019-05-15 10:25] tomas862 commented on #13490
:ping_pong: @mickaelandrieu :ping_pong:

[2019-05-15 10:50] khouloudbelguith commented on #10152
Hi @marionf,

Yes, we have warnings during the installation if `iconv` extension is not enabled.
![image](https://user-images.githubusercontent.com/16067358/57770155-97658500-7707-11e9-8b7a-346fbf0affc4.png)
I close the issue.
Thanks!

[2019-05-15 10:50] #10152 closed, assigned to nobody

[2019-05-15 10:59] musaffar-patel opened #13794 "Smarty error when purchasing customizable products via Cash on Delivery module"
Hi

The problem may be reproduced in Prestashop 1.7.5.1 and 1.7.5.2.  The steps to reproduce the issue have been outlined below.

1. Enable debug mode in Prestashop
2. Install and enable the Prestashop native module "Cash On Delivery"
3. On the store front, add a customizable product, such as the customizable mug to the basket
4.  Proceed through checkout and place an order using the Cash on Deliv

[2019-05-15 11:08] jolelievre commented on #10600
Maybe we could add support for imagick in PrestaShop, which would open new allowed formats

[2019-05-15 11:17] khouloudbelguith commented on #13794
Hi @musaffar-patel,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 / PS1.7.6.0beta1 & the ps_cashondelivery module v1.0.6.
![image](https://user-images.githubusercontent.com/16067358/57771499-c7faee00-770a-11e9-9f8d-780b7be67471.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send

[2019-05-15 11:27] Matt75 commented on #13627
This process is really heavy, creating specific price will execute a lot of queries in the database especially on a big shop with many products.

Moreover the cache (smarty etc...) will be cleared too.

When you create a lot of specific price, default behavior is not so good, it’s adapted to a small shop but not for a big.

Some years ago, on a shop with 10000+ products and more 50000+ customers,

[2019-05-15 11:52] marionf commented on #10152
Great ! Thank you @khouloudbelguith :)

[2019-05-15 11:58] #13283 closed, assigned to jolelievre

[2019-05-15 12:16] marionf commented on #10744
@khouloudbelguith I can't reproduce this issue on 1.7.6.0

https://drive.google.com/open?id=1Yv0ZlYSgHfFheva2D-mHfMTdIxYy0awW

[2019-05-15 12:16] #10744 closed, assigned to nobody

[2019-05-15 12:33] colinegin opened #13796 "Small issues during the checkout process"
There is minor issue left after development on the checkout steps : when I start the purchase process, it is not possible to click on step 2 / 3 / 4 but the mouse changes into a pointer which can create confusion.

[2019-05-15 12:35] marionf commented on #10329
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-15 12:43] khouloudbelguith commented on #10329
Hi @marionf,

Yes, the issue is fixed in the PS1.7.6.beta1.
![image](https://user-images.githubusercontent.com/16067358/57776415-5aa18a00-7717-11e9-8428-55b3c84b8ff8.png)
I close the issue.
Thanks!

[2019-05-15 12:43] #10329 closed, assigned to nobody

[2019-05-15 12:56] marionf commented on #10022
Fixed:

![capture d'écran_1533](https://user-images.githubusercontent.com/13449658/57777195-8f1a4380-7721-11e9-9e33-5e1621ddd97b.png)

[2019-05-15 12:56] #10022 closed, assigned to nobody

[2019-05-15 13:27] khouloudbelguith opened #13799 "The number of items per page will be reset when clicking on the "Reset" button"
**Describe the bug**
In the BO => International => Taxes page, the number of items per page will be reset when clicking on the "Reset" button to reset a filter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => International => Taxes page
2. Modify to number of items per page (for example 20 ) => OK
3. Filter by any field ( for example by Id)
4. Click on the "Reset" button
5. The nu

[2019-05-15 13:34] MartynMcOnie opened #13800 "Unable to Edit Products on PS 1.7.1.2 ( Unexpected token < in JSON at position 0 )"
**Describe the bug**
When trying to edit any product on our website, we get an error 'unable to save settings' and in the console log of the browser the error:
`Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at Function.de.parseJSON (bundle.js:4)
    at Object.error (form.js?1.7.0:906)
    at l (bundle.js:3)
    at Object.fireWith [as rejectWith]

[2019-05-15 13:57] khouloudbelguith commented on #13800
Hi @MartynMcOnie,

I did not manage to reproduce the issue with PS1.7.5.2, PS1.7.6.0beta1 & PS1.7.1.2.
I attached a video record
https://drive.google.com/file/d/1D8FQs6ZWH6xq7HwoPA864vy1htIVt5fQ/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode r

[2019-05-15 13:59] #10002 closed, assigned to nobody

[2019-05-15 14:09] matks commented on #13793
Can you tell us where is hosted the Theme Configurator, as the bug seems to require a fix in the module ?

[2019-05-15 14:19] marionf opened #13801 "Translations are not working anymore, max execution time set 60 sec"
**Describe the bug**
Translations are not working anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Translations
2. Select BO translations or any other choice
3. Click on the left to select something in the menu
4. See error in the console, max execution time of 60 sec exceeded
5. You can't translate anything

**Screenshots**
![capture d'écran_1542](https://user-i

[2019-05-15 14:20] kpodemski commented on #13586
@jolelievre

sorry, what i meant was scenario, when we have two mail templates, one for 1.7.5 and below, one for 1.7.6, just to make sure that we can provide package with generated e-mail, for all PrestaShop versions with modules, but:

looking for an e-mail template in `modules/examplemodule/mails/en/my_email.html` with a `modern` theme enabled seems to be a bad idea and non retrocompatbile one :

[2019-05-15 14:36] marionf commented on #13801
![capture d'écran_1544](https://user-images.githubusercontent.com/13449658/57784106-a2341000-772f-11e9-9204-430ee192f055.png)

![capture d'écran_1543](https://user-images.githubusercontent.com/13449658/57784113-a5c79700-772f-11e9-8ff5-84c38247d8f9.png)

[2019-05-15 14:45] khouloudbelguith commented on #13801
Hi @marionf,

In my case, it is OK with PS1.7.6.0beta1
https://drive.google.com/file/d/1M8vWFOcrYpaFK2WBDo9_TlE2vk9yZ3Br/view
In my php info file
`max_execution_time = 30`
Thanks!

[2019-05-15 14:49] jolelievre commented on #13586
Well I see your point but we didn't change the Mailer component, so wether you integrate your mails or you use layout to generate them dynamically they will always be fetched from the same folder: `_PS_MODULE_DIR_.'ph_simpleblog/mails/en'`

This was made to avoid changing the Mail behavior or structure, the only change is that now not all languages have to be included only layout with translatable

[2019-05-15 14:52] kpodemski commented on #13586
@jolelievre

ok, is this hook is triggered once the module is installed? or do i need to trigger it manually?

[2019-05-15 14:57] PierreRambaud commented on #13783
If I upload a wrong zip file
![image](https://user-images.githubusercontent.com/1462701/57785705-89792980-7732-11e9-93ee-26c06f6f8d9c.png)

[2019-05-15 15:01] jolelievre commented on #13586
The hook is triggered on templates generation which can happen:
- on a language installation
- manually via the BackOffice "Design > Email Theme"

So if you install a new module you will have to regenerate the email templates for the languages you already installed.

Besides by default the generation process doesn't overwrite existing templates (to avoid erasing manual modification) during a langu

[2019-05-15 15:02] Don-Leopardo opened #13802 "Customer service and webservice interction"
**Describe the bug**
When I create a customer_message in a customer_thread from the webservice, it does not send a mail to the customer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a customer_thread (sending a message with a client account)
2. Answer to that thread using the webservice
3. Check the email

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 5.6

[2019-05-15 15:16] khouloudbelguith commented on #13802
Hi @Don-Leopardo,

Could you please provide me the exact script did you use to Create a customer_thread throw WS to check it.
Thanks!

[2019-05-15 15:21] Don-Leopardo commented on #13802
Hi @khouloudbelguith
Sorry, I did not create a customer_thread with WS. I just create a customer_message. The customer_thread was created by the client sending a message, i just answered it via a post to customer_messages.

[2019-05-15 15:22] #10101 closed, assigned to nobody

[2019-05-15 15:22] kpodemski commented on #13586
this is not a good option because i presume that it will override not only my template, but also other modules templates

this would be best option :)

[2019-05-15 15:24] #10099 closed, assigned to nobody

[2019-05-15 15:24] eternoendless commented on #10098
The Starter Theme is no longer maintained

[2019-05-15 15:24] #10098 closed, assigned to nobody

[2019-05-15 15:26] eternoendless commented on #10097
Tests should rely on page maps (one page map per theme), not on conventions.

[2019-05-15 15:26] #10097 closed, assigned to nobody

[2019-05-15 15:26] khouloudbelguith commented on #13802
@Don-Leopardo, thanks for your feedback.
To answer the customer, did you used any script?
What is the exact xml sent?
Thanks!

[2019-05-15 15:29] #10095 closed, assigned to nobody

[2019-05-15 15:46] #10090 closed, assigned to nobody

[2019-05-15 15:49] marionf commented on #9906
Can't reproduce on 1.7.6.0

![capture d'écran_1545](https://user-images.githubusercontent.com/13449658/57789744-d14f7f00-7739-11e9-8579-251adb7e4092.png)

[2019-05-15 15:49] #9906 closed, assigned to nobody

[2019-05-15 15:50] jolelievre commented on #13586
Even though you can launch the generation process from the module installation, the overwrite option is common to the whole process , it is not a module by module option so yours and others modules will be overwritten

But of course it will only overwrite templates included in an email theme, so if other modules include their own templates they won't be touched since they have no layouts to be gen

[2019-05-15 16:02] #10080 closed, assigned to nobody

[2019-05-15 16:03] eternoendless commented on #10078
DONE

[2019-05-15 16:03] #10078 closed, assigned to nobody

[2019-05-15 16:03] eternoendless commented on #10076
Done

[2019-05-15 16:03] #10076 closed, assigned to nobody

[2019-05-15 16:05] eternoendless commented on #10075
Done in 1.7.4

[2019-05-15 16:05] #10075 closed, assigned to nobody

[2019-05-15 16:06] matks commented on #13374
@marionf After trying to reproduce on 1.7.6.x, I do that:
- go on FO product page
- display the page when product has stock > 0, keep the page open
- then go to BO, modify the stock quantity for this product to 0
- go back to the FO page not refreshed and click on "add to cart"

I see the following behavior now:
- the modal opens which still bad (this will be fixed by https://github.com/PrestaShop

[2019-05-15 16:07] eternoendless commented on #10077
Duplicate

[2019-05-15 16:07] #10077 closed, assigned to nobody

[2019-05-15 16:07] #10074 closed, assigned to nobody

[2019-05-15 16:08] #10073 closed, assigned to nobody

[2019-05-15 16:08] #10072 closed, assigned to nobody

[2019-05-15 16:08] #10071 closed, assigned to nobody

[2019-05-15 16:08] #10070 closed, assigned to nobody

[2019-05-15 16:09] #10068 closed, assigned to nobody

[2019-05-15 16:14] eternoendless commented on #10065
Duplicate of #10502

[2019-05-15 16:14] #10065 closed, assigned to nobody

[2019-05-15 16:18] marionf commented on #13374
@matks

I just tried on 1.7.6.x branch, after clicking on add to cart if you refresh the page you will see the product has been added to the cart

[2019-05-15 16:28] matks commented on #13374
@marionf Let's see together tomorrow 🤔I dont have this behavior

I mean, is it really added to the cart or do you see "Product successfully added to cart" message ?

[2019-05-15 16:29] Don-Leopardo commented on #13802
@khouloudbelguith this is the xml that i'm sending:
![Captura de pantalla 2019-05-15 a la(s) 13 28 08](https://user-images.githubusercontent.com/46027152/57792423-53797c80-7715-11e9-9f58-b1a92a3a9680.png)
The "closed" tags are empty.

[2019-05-15 16:31] marionf commented on #13374
This what I have:
https://drive.google.com/file/d/1IPJ1Oely15nhPG5MEUshGWttMGf5XVIF/view?usp=sharing

But yes, let's see it tomorrow if you don't have the same behavior :+1:

[2019-05-15 16:59] jnvgi opened #13805 "Can't edit shipping to add tracking number"
Hello,

I'm having an issue in my back-office. When i want to edit the shipping of one order, I click on the Edit button but all I get is a scroll to the top of the page.
The link on the button is a #, which make sense then.

I can't choose carrier or add tracking number. Could this come from a misconfiguration on my carriers ?

PrestaShop version: 1.7.5.1
PHP version: 7.1

[2019-05-15 18:32] Hlavtox commented on #11059
@khouloudbelguith

I don't know if somebody is trying to make jokes of people or WTF is happening here. I am opening this issue for second time and always somebody quiets it down or says it's fixed when it's not.

Now there is another issue and it throws 500 even when creating the voucher.
https://youtu.be/MHbHYnx5UAo

[2019-05-15 18:36] Hlavtox commented on #10017
@marionf What effect does the merging have on currencies without decimal places?

1.7.6 beta 1 and I'm still unable to disable showing of decimal places. The value in General settings doesn't work, on currency edit page, there is no option. This whole thing is just unusable from since 1.7.

[2019-05-15 18:44] Hlavtox commented on #13801
@khouloudbelguith @marionf

It doesn't work. It loads for a minute, then it shows the domains on the left, but you cannot click on anything. Right side is empty - no translations.

You can't translate anything.

[2019-05-15 23:38] robi-bobi commented on #13769
Hi @khouloudbelguith ,

I have found an issue with 1.7.6 as well.

Screengrab here:
(removed)

What happens, I think, is that the logic takes into account quantity for all combinations, while it should only check that of the selected combination in the pack product.

This is why when I have 7x Pack (which has 3x the item 1), that would result in 21 Item1 products being used. Since there are 4 comb

[2019-05-16 05:40] nirav-nanda commented on #9992
hi @khouloudbelguith
i have just installed beta version of 1.7.6 - i can't found the price slider in this.
however i find the statement done in this reff #9992
https://prntscr.com/np7api

can you provide some info on this?

regards
nirav

[2019-05-16 06:33] sarjon opened #13806 "Improve UX on SEO card in Categories"
In product page, there is an explanation of what SEO card is, see:

![prod_seo](https://user-images.githubusercontent.com/15143151/57831278-6182d800-77bd-11e9-919d-e088c61d59f9.png)

However, in Categories page SEO card is placed in the middle of form without any explanation of what it is, see:

![cat_seo](https://user-images.githubusercontent.com/15143151/57831329-7f503d00-77bd-11e9-8c7d-3c78a813

[2019-05-16 06:49] jolelievre commented on #13741
Hello @zuk3975,
I'm not sure but isn't this use case already managed with this PR https://github.com/PrestaShop/PrestaShop/pull/12928 ?

Or maybe I don't understand correctly, the purpose of this issue is to switch all existing grids using the filterId feature?

[2019-05-16 07:15] marionf commented on #9992
Hello @nirav-nanda

It has been fixed in this PR https://github.com/PrestaShop/ps_facetedsearch/pull/52 but the module isn't yet released and isn't included in PrestaShop 1.7.6.0 beta

[2019-05-16 07:21] marionf commented on #10017
Hi @Hlavtox

It's planned to remove the number of decimal parameter in Shop parameters > General, as you can see here: https://github.com/PrestaShop/PrestaShop/issues/12223
And it's also planned to add this feature in CLDR part 2: https://github.com/PrestaShop/PrestaShop/issues/11660

This is why this issue is closed, because there are 2 others with more details & specifications

[2019-05-16 07:28] matteolavaggi opened #13807 "Last ordered product price (FE) currency price calculator error"
**Describe the bug**
ON Frontend in the last ordered module section show wrong currency price calculation.

![image](https://user-images.githubusercontent.com/24798703/57834581-e4eff980-77bc-11e9-9ad5-7ed85dd99f68.png)

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.2
PHP version: 7.0

[2019-05-16 07:32] khouloudbelguith commented on #13806
Ping @colinegin @marionf what do you think?
Thanks!

[2019-05-16 07:33] marionf opened #13809 "Can't add a promo in order page"
_Originally posted by @Hlavtox in https://github.com/PrestaShop/PrestaShop/issues/11059#issuecomment-492771674_

I don't know if somebody is trying to make jokes of people or WTF is happening here. I am opening this issue for second time and always somebody quiets it down or says it's fixed when it's not.

Now there is another issue and it throws 500 even when creating the voucher.
https://youtu.b

[2019-05-16 07:35] marionf commented on #11059
Hi @Hlavtox

[the scenario](https://github.com/PrestaShop/PrestaShop/issues/11059#issuecomment-430974697) described in this one isn't reproducible with 1.7.6.0

You have another issue, so I created a new issue for you: https://github.com/PrestaShop/PrestaShop/issues/13809

[2019-05-16 07:40] marionf commented on #13809
Hi @Hlavtox

I tried to reproduce your issue with PrestaShop 1.7.6.0 beta 1 but without success as you can see in the screenrecord below:
https://drive.google.com/file/d/18ULX7quWqYTdCgwRNUSn-oUaQ99E4axy/view?usp=sharing

You will need more infos about your issue:
- What is the status of your order ?
- What is your currency ?
- What is your language ?

Could you try to enable debug mode in Advance

[2019-05-16 07:41] colinegin commented on #13806
Thanks @sarjon , I completely agree !
I'll check with the rest of the team if we can fix it in 1.7.6.
What do you think @marionf ?

[2019-05-16 07:44] centoasa commented on #13355
sorry little question: what exact mean with "Skip preview regeneration" in import session?

[2019-05-16 08:08] khouloudbelguith commented on #13809
Hi @marionf, @Hlavtox,

I manage to reproduce the issue with PS1.7.6.0beta1.
But this error is different from this ticket: #11059
I attached a video record
https://drive.google.com/file/d/1wTi2LmBmB6eOWcwzCi1txM1GnoxZxCJo/view
![image](https://user-images.githubusercontent.com/16067358/57836894-955bfe80-77b9-11e9-9ae5-46d57c828fa7.png)
Steps to reproduce the issue:

1- Create a product
1.1 Price (

[2019-05-16 08:11] marionf commented on #13809
I can reproduce it also with 1.7.5.1

[2019-05-16 08:22] matks commented on #9763
Yes there is https://github.com/PrestaShop/PrestaShop/pull/13804 😄

[2019-05-16 08:26] marionf commented on #13809
I can repoduce it more simply:

1- Create a product
1. Price (tax incl.) = 435.95 €
2. Tax rule = 20%
3. Add the last prduct to the cart => process checkout
4. Edit the order created
5. Add a new discount "Amount" = 435
6. See error

![capture d'écran_1546](https://user-images.githubusercontent.com/13449658/57838533-2be1ed00-77c5-11e9-9de8-058d11cf756d.png)

[2019-05-16 08:27] colinegin commented on #9885
What do you think about this issue @LouiseBonnard  ?

[2019-05-16 08:27] colinegin commented on #9878
What do you think of this issue @LouiseBonnard ?

[2019-05-16 08:34] colinegin commented on #9566
I'm sorry to reply back this late, is there anything to do with this issue or has it been solved ?

[2019-05-16 08:38] khouloudbelguith commented on #13805
Hi @jnvgi,

I manage to reproduce the issue with PS1.7.5.2.
https://drive.google.com/file/d/1ruTwdgvlRTuoj883lfnXOrWLQ1vteSp1/view
But it is fixed in the PS1.7.6.0beta1
https://drive.google.com/file/d/156wL2kuzlumBRIsAorf25mWAFjlGF04X/view
Since it is fixed, I close the issue
Feel free to open a new one when needed.
Thanks!

[2019-05-16 08:38] #13805 closed, assigned to nobody

[2019-05-16 08:44] khouloudbelguith commented on #13807
Hi @matteolavaggi,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.

In your first screenshot, you have a different product with different currency on the same page?
Thanks!

[2019-05-16 08:47] colinegin commented on #12933
@eternoendless @PrestaShop/prestashop-core-developers what  do you think ?

[2019-05-16 08:47] matks commented on #9566
Unfortunately the causes of this bug are not clear 😞 it seems several people reported the same faulty behavior, but with different root causes. So the fix is not clear. There was some patch suggestions provided above, but they work for some people, they do not work for other people.

[2019-05-16 09:01] marionf commented on #13806
I agree and it's also the same on CMS page

![capture d'écran_1550](https://user-images.githubusercontent.com/13449658/57840972-f4297400-77c9-11e9-9ffc-3f928ede71a2.png)

[2019-05-16 09:10] LouiseBonnard commented on #9878
Hello there! Actually, it cannot be translated, it seems that these fields are not introduced as translation keys in the software code but rather as some kind of variables - or some other coding name like it! On the contrary, I can see that it is translatable in the 1.6.x versions. How about asking the dev team about it when migrating this page (Customers > Addresses) in Symfony?

PS: this issue r

[2019-05-16 09:11] LouiseBonnard commented on #9885
Is it still the case with the CLDR? I can try to reproduce this issue on the afternoon to know whether we need to treat it or not. :-)

[2019-05-16 09:12] #13801 closed, assigned to nobody

[2019-05-16 09:14] colinegin commented on #13427
@eternoendless @PrestaShop/prestashop-core-developers so what do you think ?

[2019-05-16 09:16] colinegin commented on #13710
This is a great idea, thanks for your feedback ! We plan to rework this page for the 1.7.7 release so we'll take your idea into account when working on it.

Have a nice day,

Coline

[2019-05-16 09:29] eternoendless commented on #9818
@kpodemski If I understand correctly, this issue is about using a core wording, then trying to change the translation of said wording on the BO in the context of your specific theme?

[2019-05-16 09:36] marionf commented on #9914
I can reproduce on 1.7.6.0:

Configure € as main currency and GBP with an exchange rate of 0,5%
Create a product 10€ tax excl, 20% TVA, 12€ tax incl
Create a cart rule 5£ tax incl
Go to FO and select GBP currency
Add the product to the cart
Add the cart rule
Discount line is ok but not the voucher line

![capture d'écran_1551](https://user-images.githubusercontent.com/13449658/57843620-e2969b00-77

[2019-05-16 09:39] cr998 opened #13810 "id_guest , id_customer & id_connections null on visitor"
**Describe the bug**
I can not differentiate the visiting sessions

**To Reproduce**
Steps to reproduce the behavior:
var_dump the $this->context->cookie->id_guest

**Screenshots**

**Additionnal information**
PrestaShop version: 1.6.1.18
PHP version: 5.6

[2019-05-16 09:39] cr998 commented on #13810
id_guest is false allways

[2019-05-16 09:41] khouloudbelguith commented on #13802
Hi @Don-Leopardo,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1
I used this script

[code]

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-16 09:41] mickaelandrieu commented on #13490
Yes, I prefer let the core transform an exception into a user message. How about create a specific exception for that and an exception listener able to transform the exception (no matter where it's thrown) to a well formatted user message displayed where it's supposed to be displayed?

[2019-05-16 09:45] khouloudbelguith commented on #13810
Hi @cr998,

What is the exact file where did you added this line `var_dump the $this->context->cookie->id_guest`?
Thanks!

[2019-05-16 09:57] #9877 closed, assigned to nobody

[2019-05-16 09:58] matteolavaggi commented on #13807
On the home page carosule of the last ordrered product the price was calculated wrong. Opening the product result in right price conversion form eur to toher currency

[2019-05-16 10:00] higanjima opened #13812 "Cart rule gift free and accountant"
If you had a cart rule with gift product and order something, discount fields in database are not fill (total_discounts / incl / excl) same for order_invoice table. 

all accountant export are wrong can we find a solution for this ? 

**Additionnal information**
PrestaShop version: 1.7.X
PHP version: 7.X

[2019-05-16 10:05] khouloudbelguith commented on #13769
Hi @robi-bobi,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1
Steps to reproduce the issue:
1. create a product P1 with 4 combinations PC1, PC2, PC3, PC4
2. All these combinations have 5 quantity
![image](https://user-images.githubusercontent.com/16067358/57845241-811ffd80-77c9-11e9-8fb6-5766767b6252.png)
3. Create a pack P2 of 3 products PC4 with quanti

[2019-05-16 10:05] sarjon commented on #13490
I don't think it's possible. What if you have custom use case where `Currency` is associated with `Product` and then you throw fictional `CurrencyAssociationException`, in this case `Core` will not know how to translate exception to user friendly message except for `Unexpected error occurred` which I don't think is user friendly.

[2019-05-16 10:06] khouloudbelguith commented on #13769
Related to #9671

[2019-05-16 10:07] marionf commented on #13725
Addons API push has been updated, it's now fixed for 1.7.5.2
And it's too early to update it for 1.7.6.0, it will be done for the final release

[2019-05-16 10:07] #13725 closed, assigned to nobody

[2019-05-16 10:22] khouloudbelguith commented on #13812
Hi @higanjima,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
In table `ps_order_invoice`, the total_discounts(tax inclu / exclu) are null.
total_discounts
![image](https://user-images.githubusercontent.com/16067358/57846671-a6623b00-77cc-11e9-9a19-de514ed300ef.png)

![image](https://user-images.githubusercontent.com/16067358/57846737-c5f96380-77cc-11e9-85bc-a

[2019-05-16 10:25] khouloudbelguith commented on #13355
@centoasa, in which page, this expression is displayed?
Could you please provide a screenshot.
Thanks!

[2019-05-16 10:46] khouloudbelguith commented on #13807
@matteolavaggi, could you please confirm these steps/
1. imprt the Russia pack from the BO
2. In the FO => change the currency to RUB
3. Add to the cart a product which costs 1663 RUB
4. complete the order
5. check the product in the FO again, the price is incorrect?

If yes, I did not manage to reproduce the issue with PS1.7.6.0beta1
I attached a video record
https://drive.google.com/file/d/1OeVj

[2019-05-16 10:56] khouloudbelguith opened #13814 "The Russian Ruble has an invalid symbol after importing Russia pack"
**Describe the bug**
The Russian Ruble has an invalid symbol after importing Russia pack

**To Reproduce**
Steps to reproduce the behavior: install shop with English language / France country
1. Go to BO => International => Localization
2. Import the Russian pack => OK
3. Go to the Currencies page from the BO => The Russian Ruble has an invalid symbol
4. Go to the FO => change the currency to RUB

[2019-05-16 11:11] escaware opened #13815 "PS 1.7.6.0 - It is necessary to install Redis"
este es el error al instalar prestashop 1.7.6.0
en escaware.com/prueba

Fatal error: Uncaught RedisException: Redis server went away in /var/www/vhosts/escaware.com/httpdocs/prueba/vendor/doctrine/cache/lib/Doctrine/Common/Cache/RedisCache.php:47 Stack trace: #0 /var/www/vhosts/escaware.com/httpdocs/prueba/vendor/doctrine/cache/lib/Doctrine/Common/Cache/RedisCache.php(47): Redis->setOption(1, 1) #

[2019-05-16 11:13] cr998 commented on #13810
in the product page

[2019-05-16 11:20] khouloudbelguith commented on #13815
Hi @escaware,

Please, send your request in English.
English is the norm on this bug tracker.
Thank you!

[2019-05-16 11:33] marionf commented on #13814
@khouloudbelguith

I can't reproduce on 1.7.6.x branch with English language

![capture d'écran_1553](https://user-images.githubusercontent.com/13449658/57850807-2a252300-77df-11e9-9134-ac1fee288245.png)

![capture d'écran_1552](https://user-images.githubusercontent.com/13449658/57850808-2abdb980-77df-11e9-98ed-b593902703bf.png)

[2019-05-16 11:34] escaware commented on #13815
hello

inn prestashop 1.7.6.0 is it necessary to install redis?

because i have problem whit this

my web on install prestashop 1.7.6.0

http://escaware.com/prueba

in my web gives this error.
Fatal error: Uncaught RedisException: Redis server went away in /var/www/vhosts/escaware.com/httpdocs/prueba/vendor/doctrine/cache/lib/Doctrine/Common/Cache/RedisCache.php:47 Stack trace: #0 /var/www/vhosts/

[2019-05-16 11:36] #12798 closed, assigned to YeLnatSs

[2019-05-16 11:52] zuk3975 commented on #13741
Before #12928 was done, some lists were already migrated without filterId feature, so it might bring some issues in future... So basically, yes, `switch all existing grids to use filterId feature`.

[2019-05-16 11:54] Don-Leopardo commented on #13802
I'd like to fix it but I don't know anything about php, so I'll wait for you guys to solve it. I'm doing an integration with an open source ERP using python.
Thank you for the attention and I'll be waithing.

[2019-05-16 11:59] marionf commented on #9849
Can't reproduce on 1.7.6.0

[2019-05-16 11:59] #9849 closed, assigned to nobody

[2019-05-16 12:11] matks commented on #13815
Hi @escaware, no Redis is not necessary for PS 1.7.6.0.
Do you have "redis" php extension enabled ?

[2019-05-16 12:13] khouloudbelguith commented on #13815
@escaware, in my case, I successfully PrestaShop 1.7.6.0, without installing Redis - PHP
Thanks!

[2019-05-16 12:14] matks commented on #13815
I'm wondering if this the culprit...
https://github.com/doctrine/orm/blob/master/lib/Doctrine/ORM/Tools/Setup.php#L128

[2019-05-16 12:18] zuk3975 commented on #13799
@khouloudbelguith it might be the pagination/filtering behavior, not the tax list itself. I have checked currency list for example, and it behaves the same way.

[2019-05-16 12:19] espacious commented on #10316
Can i know if there is a way to correct this bug with some patch because i cant update the whole prestashop.

[2019-05-16 12:24] centoasa commented on #13355
https://nimb.ws/KXhnxp
and also: Delete all products before import--> delete all products in catalogue, or only products first of import process (so the product with the same reference that I'll import?)

[2019-05-16 12:24] khouloudbelguith commented on #13799
@zuk3975, thanks for your feedback.
In the product page, it is not the same behavior.

[2019-05-16 12:25] marionf commented on #12687
@PrestaShop/prestashop-core-developers @eternoendless What do you think about this one ? Is it major ? Easy or hard to fix ? We need more infos for prioritization

[2019-05-16 12:28] colinegin opened #13816 "[EPIC] Fix topwatchers issues"
All **Topwatchers** issues are listed here:

## Souhld be fixed during the migration of the product page in 1.7.8:
- [x] #9945 - The "add a product" page creates a ghost product the moment you open it
- [x] #9809 - Large number of product combinations block browser

## Priority 1 - To do

- [x] #9757 - Free gift is not displayed correctly on cart
- [ ] #14979 - Cart / checkout performance issue wh

[2019-05-16 12:29] khouloudbelguith commented on #13355
@centoasa, Skip thumbnails regeneration: Category and product import only. You can choose to have PrestaShop regenerate the thumbnails that are linked from your CSV file (in the "Image URL" or "Image URLs" fields).
Delete all ___ before import: This option will erase all previously existing entries of the type of data you are importing. Thus you will start with a clean slate.
Thanks!

[2019-05-16 12:31] jolelievre commented on #13815
@escaware by any chance do you have a longer stack trace for this error
I'm suspecting this call to be at the origin https://github.com/PrestaShop/PrestaShop/blob/3471afe722c4d7a335a991e8f76fe9fb07e79de2/src/Adapter/ContainerBuilder.php#L192

But I would like to be sure (even though in any cas we should change the call with an explicit cache)

[2019-05-16 12:36] centoasa commented on #13355
sorry me, but for sure: "Delete all ___ before import" feature will only delete the products that are included in my import file?
so: if I am importing 5 t-shirts A-B-C-D-E, this option will completely delete the sheet product only of these 5 t-shirts, or it will only delete the column data that I have selected from these 5 t-shirts of my prestashop, and not of my entire product catalog ? (you kno

[2019-05-16 12:37] khouloudbelguith commented on #13355
@centoasa, no, it will delete all your Products.
Thanks!

[2019-05-16 12:39] matks commented on #12687
There are 2 things that can be done to solve the issue:

1) Quite easy: remove the dedicated Schema.org informations in templates in order to avoid Google to flag it as not valid and trigger SEO penalties.

2) Longer, but better: examine each FO template with Schema.org markup and make sure it is valid according to Google

I dont think this is complex, but it requires an extensive search through t

[2019-05-16 12:42] zuk3975 commented on #13799
It should all be the same in new migrated pages. (Product page is kinda exception, because its not using the same grid system)

[2019-05-16 12:47] wikao2 opened #13817 "Is there a version of PSWebServiceLibrary.php compatible with Prestashop 1.7.5.1?"
Hello everybody,

I have an issue with a module that uses PSWebserviceLibrary.php

The previous Webmaster developed under Prestashop 1.6.1.5, various home-made modules including 2 that use PSWebServiceLibrary.php.
One of its modules queries, via the webservice, a remote site in order to retrieve the list of the commands passed on the 2 sites (those of the current site where one executes the module

[2019-05-16 12:53] khouloudbelguith commented on #13817
Hi @wikao2,

Yes, the file PSWebServiceLibrary.php is compatible with the version PS1.7.5.2.

[code]

[PSWebServiceLibrary.php.zip](https://github.com/PrestaShop/PrestaShop/files/3187108/PSWebServiceLibrary.php.zip)
The error 401, it is a problem of authorization, you should check the Auth key (Get it in your Back Office)
Thanks!

[2019-05-16 12:56] matks commented on #10316
Hi, basically the function `RequestSql::validateSql($tab, $in, $sql)` (see https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/classes/RequestSql.php#L159) checks some SQL queries and incorrectly flag them as invalid.

**If you are confident in your ability to check whether a SQL request is valid and harmless** you can disable the custom checks to make the function look like this:
[code]
(maybe

[2019-05-16 12:57] khouloudbelguith commented on #13810
@cr998, I tried var_dump with this line https://github.com/PrestaShop/PrestaShop/blob/c44c307f1923ddf941247c8d0fe60089dc460234/classes/controller/FrontController.php#L413
and I have `/projet/prestashop/classes/controller/FrontController.php:414:string '1' (length=1)`
Thanks!

[2019-05-16 13:00] colinegin commented on #9956
Hello @PierreRambaud , do you think your refacto of faceted search could fix this issue?

[2019-05-16 13:09] nirav-nanda commented on #9992
thank you @marionf for the great news.

[2019-05-16 13:10] colinegin commented on #9934
Hello all,

do you still have issues with search word weight ?
Thanks for your feedback !

[2019-05-16 13:14] marionf commented on #9890
@PrestaShop/prestashop-core-developers @eternoendless
Is it a nice to have or a must have ?

[2019-05-16 13:15] khouloudbelguith commented on #9934
Hi @colinegin,

Following these steps:

[code]

I manage to reproduce the issue with PS1.7.6.0beta1.

Thanks!

[2019-05-16 13:18] PierreRambaud commented on #9956
The refacto has already been merged, but we can take time to integrate this behavior :)

[2019-05-16 13:27] espacious commented on #10316
Very good explanation. Thanks. Will try to use the "patch" and upgrade as soon as possible.
Have a nice day.

[2019-05-16 13:37] colinegin commented on #13227
In my opinion, we should leave it the way it is now, meaning that if the product has no tax, but the store uses taxes, then the price should be tax included, in this case taxes = 0.

Do you agree @matks ?

[2019-05-16 13:42] colinegin opened #13819 "Taxes detail missing in order confirmation page"
When the option "display taxes" is enabled, the taxes detail is available in every step of the checkout but not in the order confirmation. It should be available below Total (tax incl.)