[2022-01-31 23:03] hibatallahAouadni commented on #27539
Hello @Seb33300

Do you mean that when your shop is on maintenance mode:

![image](https://user-images.githubusercontent.com/23308427/151886667-59c98c9b-4940-43e8-a97b-a3fd16a6e53d.png)

While upgrading/installing any module by command and you try to refresh the homepage many times:

![image](https://user-images.githubusercontent.com/23308427/151886679-77c2be48-b93d-4a7f-a68e-fc7683fb9da5.png)

Th

[2022-01-31 23:04] NeOMakinG commented on #27541
Material icon is not forced to be bundled, we've a feature to use a CDN in the UIKit :trollface:

[2022-01-31 23:13] NeOMakinG commented on #27541
AFAIK, CDN is mainly about loading time, for example, if your website is available worldwide, your end user will load the font from a closer server.

But it exposes some potentiel issues:
- If the CDN is down, but not your server, the font won't be loaded
- As @ttoine said, privacy

I wouldn't mind using local fonts everywhere, or make it configurable !

[2022-02-01 00:01] pcusteau opened #27549 "Inbound customer service emails - failing on 'empty messages' and creating open threads not visible in UI"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, I recently setup the inbound

[2022-02-01 00:01] Hlavtox commented on #27541
Ok, let's do it! 👍

[2022-02-01 00:11] hibatallahAouadni commented on #27520
Hello @karbivskij

May be but it's definitely not related to PS Core :wink:
So, closing the issue!

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com).

Thank you

[2022-02-01 00:11] #27520 closed, assigned to nobody

[2022-02-01 00:25] #27542 closed, assigned to nobody

[2022-02-01 00:25] hibatallahAouadni commented on #27542
Duplicate of #26575

[2022-02-01 00:37] hibatallahAouadni commented on #27540
Hello @okom3pom

I didn't manage to reproduce the issue with develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/151895703-e0163540-4201-4d40-aecc-8d388dcab702.mp4

Did you update your develop? or is there a missing step?
Please check and feedback.

Thanks!

[2022-02-01 03:03] fulem opened #27550 "When changing the currency, the checkout process goes back to address step."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the checkout page, if we are in

[2022-02-01 06:58] sitolab commented on #27523
even browsing in incognito mode the problem persists, I attach videos

https://drive.google.com/file/d/1f3rJPGn0W-piAm8hmbQuwaaWIfLJZmct/view?usp=sharing

[2022-02-01 07:15] okom3pom commented on #27540
Oups i forgot a step :

- Fork this branch : https://github.com/okom3pom/PrestaShop/tree/geolocalization-multi-store
- Install a shop
- Enable multistore and add an url
- Go to Localization -> Geolocation

[2022-02-01 07:38] #27336 closed, assigned to nobody

[2022-02-01 08:10] kpodemski commented on #27549
Hello @pcusteau

I've deleted the screenshot from your message. Please do not share credentials to your email account :-)

[2022-02-01 08:49] Bilalk56 commented on #9680
Hi, this problem still persists in 1.7.8.3 or reappears, with the same procedure to reproduce it as described in this ticket.

[2022-02-01 08:54] marwachelly commented on #27543
Hello,

Thank you for your report. Could you please provide a test module to reproduce the issue ?
Please check and feedback.

Thanks!

[2022-02-01 09:03] novashop commented on #27523
Hello,
below I paste two screenshots of the email received from the Italian
customer and the BO part that does not translate the CMS:
[image: image.png]
[image: image.png]

In addition to updating and disabling the English language, I tried to
clear the cache ... nothing to do, the problem remains.

I noticed a "strange" detail,
when in the BO I go to "Theme Email"> "Translate e-mails" and I perfo

[2022-02-01 09:11] evo-con commented on #26230
I have the same Problem, trying to upgrade from 1.7.7.8 to 1.7.8.3
The PHP Version is 7.3.8, and my defines.inc.php does contain the line
define('_PS_PROFILE_IMG_DIR_', _PS_IMG_DIR_.'pr/');

Is there anything else I can try?

[2022-02-01 09:14] Bilalk56 commented on #16306
Hi, this problem still persists in 1.7.8.3 or reappears, with the same procedure to reproduce it as described in this ticket.

[2022-02-01 09:16] Bilalk56 commented on #9680
Hi, this problem still persists in 1.7.8.3 or reappears, with the same procedure to reproduce it as described in this ticket, #16306  don't seem

[2022-02-01 09:18] novashop commented on #27523
![Screenshot traduzioni Prestashop-2](https://user-images.githubusercontent.com/98758775/151941767-1e3ac411-30a9-43dd-96f9-69c2980af895.jpg)
![Screenshot traduzioni Prestashop-1](https://user-images.githubusercontent.com/98758775/151941822-da2e244a-40bf-4eb8-9f5a-fe8825a7fa47.jpg)
![Screenshot traduzioni Prestashop-3](https://user-images.githubusercontent.com/98758775/151941846-6af9b0a7-c815-4c0d-

[2022-02-01 09:18] Bilalk56 commented on #16306
Hi, this problem still persists in 1.7.8.3 with the same procedure to reproduce it as described in this ticket.

[2022-02-01 09:23] marwachelly commented on #27547
Hello @PrestaEdit ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12552.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-02-01 09:24] PrestaEdit commented on #27547
Hi @marwachelly,

A duplicate of a closed issue, that will be not fixed. Ouch.

[2022-02-01 09:24] #27547 closed, assigned to nobody

[2022-02-01 09:43] okom3pom commented on #19312
Hello, Fixed by https://github.com/PrestaShop/PrestaShop/pull/25914

[2022-02-01 09:48] kpodemski opened #27551 "We could use "cancel previous workflows" for modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-01 09:51] #19200 closed, assigned to nobody

[2022-02-01 10:30] mcosta-dada commented on #16306
Looks like someone is fixing it.

https://github.com/PrestaShop/PrestaShop/pull/27097

If someone in the thread is able to help here is the repository:
https://github.com/atomiix/PrestaShop/commit/ff3adb374f6f7129802849d4f993ac981e930f6c

[2022-02-01 10:41] NeOMakinG commented on #27478
Need a backend maintainer to investigate on this

[2022-02-01 10:42] NeOMakinG commented on #26349
Ok I know, it's only due to the fact that @ghost didn't push assets in his PR

[2022-02-01 10:44] #16434 closed, assigned to kpodemski

[2022-02-01 10:45] Progi1984 commented on #26642
Fixed by @saulaski in #27502 and tested by @HanaRebaiQA.

[2022-02-01 10:58] NeOMakinG commented on #26349
It will be naturally fixed with others PR, no need to create a new PR for this, close it when you test another PR or the release

[2022-02-01 11:04] rsoulard-prolaser opened #27552 "Unable to update an attachment via the webservice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Unable to update an attachment via

[2022-02-01 11:04] Gaja-A opened #27553 "Price TTC is incorrect in product catalog"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the BO product page, for some pr

[2022-02-01 11:13] saulaski commented on #26642
@Progi1984 before closing the issue, should we include this other PR dedicated to layout refactoring in develop ?
https://github.com/PrestaShop/PrestaShop/pull/27548

[2022-02-01 11:18] NeOMakinG commented on #27488
Need a backend maintainer to investigate on this

[2022-02-01 11:44] NKoonen commented on #27543
I've attached an example module.

[example.zip](https://github.com/PrestaShop/PrestaShop/files/7978111/example.zip)

[2022-02-01 12:02] pcusteau commented on #27549
Thanks - these had been changed prior to posting but I still should have obfuscated them.

[2022-02-01 13:04] okom3pom commented on #16482
I have started working on: https://github.com/PrestaShop/PrestaShop/issues/19376

The form is not simplified, I think it is missing from this list.

Regards Thomas

[2022-02-01 13:29] #19374 closed, assigned to nobody

[2022-02-01 13:29] #19326 closed, assigned to nobody

[2022-02-01 13:31] sowbiba opened #27556 "Modules - Token is not within the TokenStorage when we are on Legacy page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Example module : [prestashopexample

[2022-02-01 13:49] ttoine commented on #27541
I would say that first step is to make them local.
then add possibilities to use CDN, like for any kind of static files.

if you have to chose a few font to be embedded in the software, please don't forget to ask me to check the license of the fonts.

[2022-02-01 13:57] ttoine opened #27557 "Commits should be signed and author emails checked by CI"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-01 14:00] marwachelly commented on #27550
Hello @fulem
I was able to reproduce the issue with PrestaShop version 1.7.7.8 and 1.7.8.1.
https://watch.screencastify.com/v/0CJc3YKqMTmdfe0NKxT6
 I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on th

[2022-02-01 14:36] HanaRebaiQA opened #27558 "BO - Checkboxes are not aligned on Merchandise returns page when multistore enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Checkboxes and labels are not align

[2022-02-01 15:01] marwachelly commented on #27549
hello @pcusteau

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #[25860](https://github.com/PrestaShop/PrestaShop/issues/25860).
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-02-01 15:02] marwachelly commented on #27549
Duplicate of #25860

[2022-02-01 15:02] #27549 closed, assigned to nobody

[2022-02-01 15:11] boubkerbribri commented on #27084
It's the same for followup module, there is a new folder added by this [PR](https://github.com/PrestaShop/PrestaShop/pull/25992) that should be deleted.

[2022-02-01 15:15] Progi1984 commented on #26943
@khouloudbelguith Could you check this on a `develop` branch with an empy `modules` directory ?

[2022-02-01 15:25] ghtoo commented on #26575
If someone is interested, the bug is caused by this commit: https://github.com/kpodemski/PrestaShop/commit/3d2f7ca9449658a5a3b4f2b8791bc97b1f1c3e69

[2022-02-01 15:25] pcusteau commented on #27549
@marwachelly I fail to see the relationship between this issue and #25869 as you can clearly see there is a date field in the sample email that was causing my issue (in the bug description). Can you please elaborate on your reasoning and help me understand the connection?

[2022-02-01 15:39] kpodemski commented on #26575
@ghtoo this commit is about blocking the button, issue seems to be related to the window.history, are you sure it's the reason? I haven't checked it yet

[2022-02-01 15:51] marwachelly commented on #27552
Hello,

Thank you for your report. Could you please provide the body request that you used to update the attachement?

Thanks,

[2022-02-01 16:00] mikirimiki opened #27559 "Shipping free appears on the Check out summary for virtual (service) product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

On the check out page appear

[2022-02-01 16:25] marwachelly commented on #27557
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature in

[2022-02-01 16:50] marwachelly commented on #27559
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20636
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks

[2022-02-01 16:50] #27559 closed, assigned to nobody

[2022-02-01 17:21] marwachelly commented on #27553
Hello,

I didn't manage to reproduce the issue with 1.7.7.3 as it is shown in the screen record bellow
https://watch.screencastify.com/v/M05h0qllrv4mWEu9G3Wq

Did I miss some thing? Could you please check and feedback?

Thanks,

[2022-02-01 17:25] Gaja-A commented on #27553
Hi,

Yes, in fact for some products, the TTC price displays correctly. Only for
few products, I'm facing this issue. I didn't know where it reproduce.
If you want, I can share you the access in private to look forward.

Regards,
Gaja

On Tue, 1 Feb, 2022, 10:51 PM marwachelly, ***@***.***> wrote:

[2022-02-01 17:40] mikirimiki commented on #27559
Hello,
I had seen this #20636, but I thought was different.

I subscribed at #20636. Thank you.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
01/02/22,
18:38:42

On Tue, 1 Feb 2022 at 17:50, marwachelly ***@

[2022-02-01 17:52] marwachelly commented on #27557
Hello,

Thank you for your suggestion. The @PrestaShop/prestashop-core-developers  will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing t

[2022-02-01 18:02] marwachelly commented on #27556
Hello,

I manage to reproduce the issue with PS 1.7.7.8.

![image](https://user-images.githubusercontent.com/89604350/152024784-d3c09e80-0944-4e20-bacb-5d4d22b44bdc.png)

Thanks @sowbiba for your report.

[2022-02-01 18:13] ghtoo commented on #26575
Working code: https://github.com/PrestaShop/PrestaShop/blob/7e68cf69e62637e8e76711c9d77213e6f554b862/themes/_core/js/product.js#L386

Bug here:
https://github.com/PrestaShop/PrestaShop/blob/176988802c7a5df6d32ed7b7a6a5e063b5140f96/themes/_core/js/product.js#L439

But why github does not reflect that change anywhere?

[2022-02-01 19:32] Progi1984 commented on #25893
Blocked until #26557 is closed.

[2022-02-01 19:36] Progi1984 commented on #27030
@NeOMakinG Could you check this issue ?

[2022-02-01 19:37] ghtoo commented on #26575
You can use /themes/core.js from https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.8 until bug is fixed.

[2022-02-01 20:04] ocio87 commented on #13210
Hello @khouloudbelguith and @hibatallahAouadni

Do you know if there is any sufferer in charge of this bug or who could help us, although I see that the physical units available for sale are not affected, it is important to determine how many physical units there are in the store.

Thank you very much for your attention.

[2022-02-01 20:46] Progi1984 commented on #26738
Blocked because "Waiting for UX & Wording"

[2022-02-01 21:00] Progi1984 commented on #27558
@PrestaShop/qa-functional  Sorry. But I think it's the expected behavior for legacy pages.

For example the Customer Thread Pages is identical :
![image](https://user-images.githubusercontent.com/1533248/152050459-5c6f4b76-2a68-4f65-876c-776d453704e5.png)

@NeOMakinG Are you agree or I miss a thing ?

[2022-02-02 05:55] SharmPRO commented on #15684
@HartLarsson any news?

I find same problem PS 1.7.8.3 PHP 7.4 ...

[2022-02-02 07:12] nexustotalsolutions opened #27561 "modules are deleted when 1-click upgrade is done"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I'm a contributor on the Pr

[2022-02-02 08:50] MatShir commented on #27427
@Hlavtox kinda ;) The feature is available from the Marketplace Module. But now, we want to make it native, so everyone can beneficiate from it

[2022-02-02 09:05] rsoulard-prolaser commented on #27552
Hello,

[code]

[2022-02-02 09:12] #24741 closed, assigned to eternoendless

[2022-02-02 09:39] kpodemski commented on #27557
I completely agree with the fact that it might be in some way valuable for the project, but if, for example, Symfony doesn't force it, then why would PrestaShop need to force it from the community contributors?

Maybe let's try to start from the maintainers, but honestly, I don't see it as a requirement for community contributions. I remember how problematic it was for the community contributors t

[2022-02-02 10:02] hibatallahAouadni commented on #13210
Hello @ocio87

Thanks for your contribution :rocket:
Well, you can ask help in the [public Slack channel](https://prestashop.slack.com) (you can ask on `community-help` chanel or `dev-core` chanel).

Thank you

[2022-02-02 10:06] d33x opened #27565 "Unlimited stock for some products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-02 10:34] hibatallahAouadni commented on #27565
Hello @d33x

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this featu

[2022-02-02 10:46] prestascott commented on #27427
Hello everyone,

Thank you @MatShir for your request!

We currently have 2 module status:
- Downloaded module
- Downloaded + installed module

A new module status will definitely be created:
- Visible module, but not downloaded or installed

The users will be able to access the module and download + install it all at the same time. They can't just download the uninstalled/deleted module from the m

[2022-02-02 11:08] NeOMakinG commented on #27030
Didn't we fix this on 1.7.8.x? Maybe it's not merged yet on develop?

[2022-02-02 11:36] HanaRebaiQA commented on #27030
As the merge of 178x into develop is done yesterday [27537](https://github.com/PrestaShop/PrestaShop/pull/27537)
The behavior is therefore fixed in develop.

So, i close the issue!

[2022-02-02 11:36] #27030 closed, assigned to nobody

[2022-02-02 11:38] Hlavtox commented on #27483
@MatShir Yes it's a duplicate, sorry, I didn't find it.

[2022-02-02 11:38] #27483 closed, assigned to nobody

[2022-02-02 11:41] jf-viguier commented on #21014
@florine2623

It's not a good advice, the devdoc recommand a recent version.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
"MySQL: 5.6 minimum, a recent version is recommended."

Please reopen the issue, it's a real one.

[2022-02-02 12:00] PrestaEdit commented on #20135
Just to say, I've seen this feature on somes shop and once a time, I was made a module about that.
Maybe I can check how to handle it into the core, maybe (Like making specs)

[2022-02-02 12:01] #27158 closed, assigned to jf-viguier

[2022-02-02 12:02] #26532 closed, assigned to Progi1984

[2022-02-02 12:25] PrestaEdit commented on #21705
Hi @PrestaShop/product-team,

It's something on which you want to work, have it onto the next version ?

[2022-02-02 12:27] PrestaEdit commented on #13663
I approve this ! :)

[2022-02-02 12:32] PrestaEdit commented on #22002
Hi,

This was neved used, I think. The aviary_active is set to false, there is no option about this.

[2022-02-02 12:56] matthieu-rolland commented on #25315
@Robin-Fischer-PS couldn't reproduce this issue on develop, I have the correct error message, maybe it has been fixed already

[2022-02-02 13:09] #27142 closed, assigned to nobody

[2022-02-02 13:20] Progi1984 commented on #27252
@NeOMakinG Needs a release of `productcomments` and a bump in the Core.

[2022-02-02 13:21] Progi1984 commented on #27030
:tada:

[2022-02-02 13:45] hibatallahAouadni commented on #27483
Duplicate of #19807

[2022-02-02 13:47] hibatallahAouadni commented on #27411
I'm closing this issue as it seems bi fixed on develop 8.0.0 :wink:

[2022-02-02 13:56] hibatallahAouadni commented on #27512
Hello @Aphrodizlove

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/

[2022-02-02 13:56] #27512 closed, assigned to nobody

[2022-02-02 14:05] PrestaEdit opened #27567 "Somes links are not well displayed in the Back Office sidebar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Somes links, as the "Marketing" tab

[2022-02-02 14:08] prestascott commented on #26642
@SharakPL "Proceed to checkout" button is placed on top of the "Continue shopping" button which is nice because it's the priority. But because of the wide size of the modal, both buttons are very large... Can you reduce the width of the modal please?

[2022-02-02 14:28] Robin-Fischer-PS commented on #25315
@matthieu-rolland I still have the exception : Did you try in debug mode ON, and on a virtual product ? (it works fine on standard product)

[2022-02-02 14:48] ttoine commented on #27557
having it for maintainers would be at least a good thing.

note that I continue my work on the intellectual property management of the PrestaShop project, so I list problems to solve and possible improvements. one of the problem we have currently is that we don't know authors.

btw, this is the kind of usual prerequisite to contribute to most projects managed by a foundation.

[2022-02-02 14:49] hibatallahAouadni commented on #27567
Hello @PrestaEdit

You just need to reset your Facebook module :sweat_smile:
Closing the issue as it's not even a bug, it's just cache of the module.

Thanks!

[2022-02-02 14:49] #27567 closed, assigned to nobody

[2022-02-02 14:51] PrestaEdit commented on #27567
Actually... the Facebook module is uninstall.

[2022-02-02 15:02] simobenso opened #27569 "Bug with the ps_facebook module on the account association"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

There's a problem while try

[2022-02-02 15:03] simobenso commented on #27569
@Quetzacoalt91 can you please take a look at this ?

[2022-02-02 15:35] MatShir opened #27570 "Merge email twig file into the core"
From the discussion https://github.com/PrestaShop/PrestaShop/issues/26177#issuecomment-1024055053
To allow developers and merchants to have the latest fixes from the modern theme, we need the twig files generated from https://github.com/PrestaShop/mjml-theme-converter into the core

[2022-02-02 15:42] hibatallahAouadni commented on #27569
Hello @simobenso

It seems that your issue is not a PrestaShop core bug.
If your module is Facebook Official, please contact support team on Addons.

We will close this issue.

Thanks!

[2022-02-02 15:42] #27569 closed, assigned to nobody

[2022-02-02 15:44] MatShir commented on #26177
https://github.com/PrestaShop/PrestaShop/issues/27570 ;) It should be available on the next patch, that will be released on the next month. From now on, don't hesitate to propose a PR to merge the improvements of the theme into the core, they will be accepted even in for patches

[2022-02-02 15:45] simobenso commented on #27569
I tried to report the bug on the ps_facebook repository but it's not possible. at least you can help get this reported to the dev team before closing it ?

[2022-02-02 15:46] hibatallahAouadni commented on #27567
So can you check `Marketing with Google` module?
Waiting for your feedback.

Thanks!

[2022-02-02 15:49] thomasalzonne commented on #27458
Hello,

Sorry for the delay, here are the screenshots.

<img width="688" alt="filters" src="https://user-images.githubusercontent.com/52033043/152188000-9117a6b1-045b-44c2-acac-e8fc6345c0f8.png">

<img width="960" alt="consolelogs" src="https://user-images.githubusercontent.com/52033043/152188004-5b0814a0-7b95-4e7d-ba2f-577e57cb4ec9.png">

I got those errors only when the price filter doesn't appe

[2022-02-02 16:31] estebanwoj opened #27571 "The FacetedSearch option has been removed from Schema of URLs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since the redesign of bo traffic /

[2022-02-02 16:41] Julievrz commented on #27427
The wording on Scott's design is the right one. ☺️ The translation domain to use is Admin.Modules.Feature

[2022-02-02 17:11] hibatallahAouadni commented on #27567
Hello @PrestaEdit

I didn't reproduce the issue with PS1783 after uninstall both modules `ps_facebook` and `Marketing with Google`, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/152202880-af5a9c4b-b133-450c-8bd5-902c587e92d4.mp4

Waiting for your feedback.
Thanks!

[2022-02-02 17:13] hibatallahAouadni commented on #27458
Hello @thomasalzonne

Thanks for your feedback!
Could you please switch your theme to Classic, cause it seems the issue is related to your custom theme.
Please check and feedback.

Thanks!

[2022-02-02 17:17] hibatallahAouadni commented on #27569
Done :wink: they will work on it ASAP.
Thanks for your understanding :pray:

[2022-02-02 17:30] jolelievre commented on #10653
Hi @DragoshNRV,

I like the idea to fix this, however instead of changing the configuration of the page we should instead handle a proper fallback system Currently as you explained `$page_name = $this->getPageName();` checks for page_name first and then php_self if not present, meaning that php_self is ignored as long as page_name is set

This would be better if instead we would try to get:
- meta

[2022-02-02 17:32] jolelievre commented on #10653
Or maybe add new data to match the `checkout` page and keep the order data in case they used by another page or module

[2022-02-02 17:44] yfbetancourth opened #27573 "Error en el Pago por default"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cada ves que se crea nuevo pedido,

[2022-02-02 18:08] hibatallahAouadni commented on #27571
Hello @estebanwoj

Please edit your request in English. English is the norm on GitHub.
Indeed, the FacetedSearch is missing in the Schema of URLs block:

- **PS1.7.7.8:**
![image](https://user-images.githubusercontent.com/23308427/152212181-33ab07af-edc8-4a1e-a92e-36a92554e948.png)

- **PS1.7.8.3:**
![image](https://user-images.githubusercontent.com/23308427/152212197-20cb16a4-a1df-45fb-94d3-b6b5a

[2022-02-02 18:14] hibatallahAouadni commented on #27573
Hello @yfbetancourth

Please send your request in English. English is the norm on GitHub.

Thank you

[2022-02-02 19:10] SharakPL commented on #26642
@prestascott you're referring to [my design](https://github.com/PrestaShop/PrestaShop/issues/26642#issuecomment-979366709) or @saulaski 's PR?

[2022-02-02 20:27] eternoendless commented on #27561
To the best of my understanding, non-compatible modules are meant to be _disabled_, not deleted.

[2022-02-02 23:37] sgr-fr opened #27574 "breadcrumb category name update in multistore config"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For an instance with 2 shops.
I hav

[2022-02-02 23:40] sgr-fr commented on #27574
Perhaps similar issue #20946

[2022-02-03 01:43] #27536 closed, assigned to nobody

[2022-02-03 04:35] josedusol commented on #26553
Hello,

I'm experiencing this issue in a project with PS 1.7.8.1 and Cash on Delivery (COD). In this case, the payment error occurs only with the currency UYU, and not with default currency USD. Both currencies are configured with 0 decimal.

Implementing pull request [#26824](https://github.com/PrestaShop/PrestaShop/pull/26824) solved the issue in this project.

Thanks @mpaolino.

[2022-02-03 05:08] nexustotalsolutions commented on #27561
Hello @hibatallahAouadni,

You mentioned that the issue is "when upgrading from PS 1.6 to 1.7" which is not I meant.
The issue is when 1-click upgrade is done on any version of PS 1.7.

PS: It's not related with PS 1.6.
Thank you.

[2022-02-03 06:46] kpodemski commented on #20498
@Hlavtox

for example: `actionObject<ObjectName>AddAfter`

but this topic is also related to a few other hooks like `actionProductUpdate`, `updateQuantity`, etc.

[2022-02-03 08:32] saulaski commented on #26642
@prestascott please take a look at the new design ready to merge in this PR : https://github.com/PrestaShop/PrestaShop/pull/27548#issuecomment-1026575671

[2022-02-03 08:35] MatShir commented on #27565
What about to allow orders for this product when out of stock? Does it not fit your needs?
![Capture d’écran 2022-02-03 à 09 34 09](https://user-images.githubusercontent.com/43613217/152307968-00e272e0-c5e1-4f2b-aa1d-d91766ab221e.png)

[2022-02-03 08:45] hibatallahAouadni commented on #27561
Hello @nexustotalsolutions

When you mentioned that your modules are considered as not compatible from Prestashop 1.7+, so I understand that you encounter this problem when you upgrade from 1.6 to 1.7.

So, could you please specify from which version did you upgrade and if your modules are not compatible to PS 1.7, then how/why do you think there will be no issues with with your modules?

Please p

[2022-02-03 08:48] d33x commented on #27565
Thank you for your quick feedback @MatShir. As I said, we can currently allow orders when the product is out of stock but this is actually a 'pre-order' and not an 'order'.

The use of "allow orders" is also based on the labels and terms entered in "Shop parameters -> Product Settings".
![allow-order](https://user-images.githubusercontent.com/76649472/152308967-85cd7a15-22d9-4bdd-829b-8f74bdefcce9

[2022-02-03 09:07] gennaris opened #27576 "Field "wholesale_price" is not being saved anymore in ps_product table"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When creating / saving a product ,

[2022-02-03 09:09] gennaris commented on #27576
I just noticed #24630 that explains deprecation of wholesale_price field - I am closing this.

[2022-02-03 09:09] #27576 closed, assigned to nobody

[2022-02-03 09:17] nexustotalsolutions commented on #27561
Hello @hibatallahAouadni,

It does happens in case when we do upgrades within PS 1.7.
I got many messages from my clients and Yesterday also one client reported that he gets this error after upgraded from 1.7.6 to 1.7.8.3.

Thank you.

[2022-02-03 10:22] madsoliver opened #27577 "Add hooks before and after FrontController country detection"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-03 10:37] sowbiba opened #27578 "Allow a module to add CTA in the toolbar for ALL the modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-03 11:09] musaffar-patel opened #27579 "Prestashop customization value truncated at 255 characters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When working with customized produc

[2022-02-03 11:28] mparvazi opened #27580 "Adding image fit option for ps_imageslider"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-03 11:40] hibatallahAouadni commented on #27580
Hello @mparvazi

Thank you for your suggestion and the design proposal:

![image](https://user-images.githubusercontent.com/23308427/152336033-3338fc5c-777a-4f45-8763-8cfe7a80c72f.png)

The Product Team & UX team will take it into consideration for future developments.
Waiting for your PR :rocket:

Thank you

[2022-02-03 11:42] hibatallahAouadni commented on #27578
Hello @sowbiba

Thank you for your suggestion and for your PR :rocket:
The Developer Team will take it into consideration for future developments.

Thank you

[2022-02-03 11:54] Prestaplugins opened #27581 "Missing product name in template "order_customer_comment""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In mail template "order_customer_co

[2022-02-03 12:20] hibatallahAouadni commented on #27577
Hello @onklmaps

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

So, we're waiting for your PR :rocket:

Thank you

[2022-02-03 12:59] pks891618 opened #27582 "Correct SMTP details not working. Test mails not sending using SMTP for 1.7.8.3"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

" **Set my own SMTP parameters (for

[2022-02-03 13:13] mpaolino commented on #26553
Arriba, me alegra que te haya resuelto.

[2022-02-03 13:13] khouloudbelguith commented on #26581
Duplicate of #9613

[2022-02-03 13:13] #26581 closed, assigned to nobody

[2022-02-03 14:11] #26937 closed, assigned to Progi1984

[2022-02-03 14:12] eternoendless commented on #11752
This needs to be prioritized

[2022-02-03 14:18] jatniel commented on #11115
PrestaShop 1.7.7.6
I have the same problem with the duplicate invoice number, all the files are correct (classes).
I have checked it, several times, and the same issue.

I have upgraded to 1.7.8.3, and I still have the same issue.

Does anyone have a solution? Thanks

[2022-02-03 14:21] Alexandre17220 commented on #11115
Nobody ? sorry for jatniel

[2022-02-03 14:27] kpodemski commented on #27577
I will give you my point of view. It's not the official statement of the team, etc. Overrides are ok for the cases where you need to do something specific. Having thousands of hooks is probably not the most performant way to handle software customizations. In your example, a use-case is very common. You want to change the language based on the language/location, so hooks make sense.

My only quest

[2022-02-03 14:35] msaustral commented on #11115
hi @Alexandre17220 the worse is that on the page there is not dev or technical support to buy, only basic support to setup a store, so we are a the same point!!!

@jatniel if you have same invoice number, it is a different issue, the invoice id is an auto increment value on the database and it is a key value that does not allow duplicated values.

if you have same numbers on an key field, someone

[2022-02-03 14:36] #27465 closed, assigned to Progi1984

[2022-02-03 14:56] jatniel commented on #11115
Thank you for your answer, @msaustral & @Alexandre17220

[2022-02-03 15:16] Alexandre17220 commented on #11115
@jatniel  maybe you can use my correction

[2022-02-03 15:17] Alexandre17220 commented on #11115
@jatniel this

[2022-02-03 15:31] tswfi commented on #15413
The password reset link does have validity.

It is defined by `PS_PASSWD_RESET_VALIDITY` and defaults to 1440 minutes (24h)

This setting is not easily changeable by the merchant atm.

https://github.com/PrestaShop/PrestaShop/search?q=PS_PASSWD_RESET_VALIDITY

[2022-02-03 16:13] hibatallahAouadni commented on #27582
Hello @pks891618

I didn't manage to reproduce your issue with PS1783, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/152381983-66a2f559-10e8-49b6-9795-192d4dfe9aa0.mp4

Please check and feedback.
Thanks!

[2022-02-03 16:18] hibatallahAouadni commented on #27581
Related to #21296

[2022-02-03 17:08] jf-viguier commented on #27413
Done.
You can [hire me](https://twitter.com/jfviguier) if you search a terrible specialist ;-)

[2022-02-03 17:31] hibatallahAouadni commented on #27574
Hello @sgr-fr

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of ##13468.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks for the tip :wink: by the way before opening a new issue, you should check if there's a similar one :slightly_smiling_face:

Thanks!

[2022-02-03 17:31] #27574 closed, assigned to nobody

[2022-02-03 17:31] hibatallahAouadni commented on #27574
Duplicate of #13468

[2022-02-03 17:46] akhelif opened #27585 "Issue after installing Litespeed cache (support indicates issue known to Prestashop team)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After successfully activating Lites

[2022-02-03 18:31] hibatallahAouadni commented on #27581
Hello @Prestaplugins

I reproduce both issues:
1. the mail say "Hello {firstname} {lastname}" using the customer first/last name, while it should be the first/last name of the admin
![image](https://user-images.githubusercontent.com/23308427/152405857-49879218-98ea-49de-982b-16fde62bb9ea.png)

2. the product name is not mentioned in the email, only the order reference. But I think this issue is an

[2022-02-03 18:54] hibatallahAouadni commented on #27579
Hello @musaffar-patel

That's the expected behavior cause if the message exceed 255 characters we will encounter some issue like this one #26374
Ping @PrestaShop/product-team correct me if I'm wrong :pray:

Thanks!

[2022-02-03 19:02] hibatallahAouadni commented on #26552
Ping @florine2623 & @SimonasB88 did you reproduce the issue with an older version or you only encounter this issue on 1.7.8.0?

[2022-02-03 19:21] musaffar-patel commented on #27579
Hi

Then should the formatting of longer values (perhaps with css) not be fixed instead of limiting the value altogether?

[2022-02-03 19:22] eternoendless commented on #11752
According to @PierreRambaud, this depends on the security page: #21120

[2022-02-03 19:34] Prestaplugins commented on #27581
Hello,

The 2nd point is more an issue than an improvement, because in the
front-end the customer has to choose a product which is never mentioned to
the admin, moreover the controller already set the product_name variable so
it can be used into the mail... but it's not.
The only thing to modify to fix this problem is the mail template

Yann

Le jeu. 3 févr. 2022 à 19:31, Hibatallah Aouadni ***@**

[2022-02-03 19:40] hibatallahAouadni commented on #27581
@Prestaplugins Thanks for your feedback!
Waiting for your PR :rocket:

[2022-02-03 19:44] marwachelly commented on #27549
Could you please check https://github.com/PrestaShop/PrestaShop/issues/25860 ans not #25869. Following the steps to reproduce the bug It seems that it is the same issue.

[2022-02-03 20:17] pcusteau commented on #27549
It is indeed #25860 I was referring to. The behavior is different as problematic emails do have a date in them and the error message is to the effect of empty email messages.

[2022-02-03 20:20] JanMiddelkoop commented on #26559
I ran into this issue today with webservices calls to a client's website being absolutely broken. This should probably be fixed with some urgency; it's a really quick fix and I've seen several issues that have this problem: #26568 #19305

If you run into this, replace in classes/webservice/WebserviceOutputBuilder.php:

[code]

Of course, unless someone at PrestaShop cares about this issue and actu

[2022-02-04 07:56] lephuongbg commented on #27567
@hibatallahAouadni Freshly installed Prestashop 1.7.8.3 still has that problem.

Uninstall Facebook and Google modules **the first time** does not make the "Marketing" menu go away, and it still looks broken.

But when I re-installed Facebook module, the menu became fixed and looked "correct" like in your video. Then I uninstalled Facebook module **for the second time**, only then the "Marketing"

[2022-02-04 09:58] mparvazi opened #27588 "[Idea] Add mobile options for image slides in ps_imageslider"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-04 10:28] HanaRebaiQA commented on #27585
Hello @akhelif

Could you please try to clear cache manually by deleting all the folder into var/cache and be ensure that the tmp folder is also deleted.
Please check and feedback!

Thanks!

[2022-02-04 10:33] HanaRebaiQA commented on #27588
Hello @mparvazi

Thanks for your suggestion and for your PR.
The Developer Team will take it into consideration for future developments.

[2022-02-04 10:34] SharakPL commented on #27588
Great suggestion! 👍

[2022-02-04 10:58] kpodemski commented on #27585
Hello,

It's not related to the core itself. Litecache and lite cache modules are third-party solutions.

[2022-02-04 11:06] dingedi commented on #26950
same issue, dont work with this fix [https://github.com/PrestaShop/PrestaShop/pull/26769](https://github.com/PrestaShop/PrestaShop/pull/26769)

[2022-02-04 11:11] #27237 closed, assigned to atomiix

[2022-02-04 11:11] #27303 closed, assigned to atomiix

[2022-02-04 11:12] Daaaaad commented on #26559
Hello Everyone, I ran into the same issue today... but only when debug mode disabled (_PS_MODE_DEV_ = false).

Could you test again? I think a fix is needed...

[2022-02-04 11:18] JanMiddelkoop commented on #26559
The underlying problem is that the webservice treats E_NOTICE errors generated by PHP the same as E_ERROR and E_WARNING errors; it outputs them via the API to the webservice client. This means that if any theme or module, or in this case the PrestaShop core itself, generates a notice error, the PrestaShop API is effectively broken. The API can work fine, but treats the notice as a serious error an

[2022-02-04 11:22] HanaRebaiQA commented on #27540
Hello @okom3pom

Thanks for your report!
I was able to reproduce the issue using the steps that mentioned above :

1. Install this [PR](https://github.com/PrestaShop/PrestaShop/pull/27538)
2. Install a Shop
3. Enable multistore
4. Add a new shop with an url
5. Go to BO > IMPROVE > International > Localization > Geolocalization
6. See error ==> An exception is thrown
![image](https://user-images.gi

[2022-02-04 11:30] HanaRebaiQA commented on #27585
Hello,

Thanks @kpodemski for the information!
The issue is closed, since it's not a Core issue.

Thank you!

[2022-02-04 11:30] #27585 closed, assigned to nobody

[2022-02-04 11:42] khouloudbelguith commented on #26943
Hi @Progi1984,

I tried again with the develop branch fresh install
I found that the folders `referralprogram` and `ps_reminder` are displayed.
![image](https://user-images.githubusercontent.com/16067358/152523363-4ba98a6a-9ab7-4e8c-bf3d-8686a8c50a71.png)

I attached a screen record

https://user-images.githubusercontent.com/16067358/152522919-2a82b764-013e-4152-bb82-50aba8dc9482.mp4

Thanks!

[2022-02-04 11:48] HanaRebaiQA commented on #27499
Hello @ShaimyWinda

I tried with PS1777, but i was not able to reproduce your issue with debug mode on and off !
Could ou please provide us more informations about your shop configuration ?

https://user-images.githubusercontent.com/92912932/152524030-83017f84-afda-44dd-a1f3-622aa2f5f3f6.mp4

Thank you!

[2022-02-04 12:48] HanaRebaiQA commented on #27523
Hello @sitolab

I was enable to reproduce your issue with PS1782 and PS1783 using theses cases :
-Install shops with the italian language ==> BO is OK

https://user-images.githubusercontent.com/92912932/152531365-b1380dc7-b690-499f-b585-d27ec25d035f.mp4

-Install shops with the english language and update to italian ==> BO is OK
![image](https://user-images.githubusercontent.com/92912932/152531706

[2022-02-04 12:48] #27523 closed, assigned to nobody

[2022-02-04 13:08] LollipopAdmin opened #27589 "Issue to display products with combination on mobile phone on the front-office using IOS 13 with Safari"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When browsing the site (front-offic

[2022-02-04 13:10] khouloudbelguith commented on #27202
Hi @Progi1984,

Yes, It is fixed with the dev branch (statsbestcustomers v2.0.4)

https://user-images.githubusercontent.com/16067358/152534590-646d5933-1661-47e5-b086-c9ce9bf88865.mp4

Thanks!

[2022-02-04 13:10] #27202 closed, assigned to nobody

[2022-02-04 13:14] khouloudbelguith commented on #27201
Hi @Progi1984,

Sorry for the delay.
Yes, it is fixed with the `dev` branch.

https://user-images.githubusercontent.com/16067358/152535137-c1760a5b-3233-41ef-8de1-8f1fe5a30d4c.mp4

Thanks!

[2022-02-04 13:14] #27201 closed, assigned to nobody

[2022-02-04 13:18] khouloudbelguith commented on #27200
Hi @Progi1984,

Sorry for the delay.
Yes, it is fixed with the `dev` branch. (statsbestmanufacturers v2.0.1)

https://user-images.githubusercontent.com/16067358/152535667-186887bd-33ec-4d92-9e7a-292cb87266cd.mp4

Thanks!

[2022-02-04 13:18] #27200 closed, assigned to nobody

[2022-02-04 13:22] khouloudbelguith commented on #27199
Hi @Progi1984,

Sorry for the delay.
Yes, it is fixed with the `dev` branch (statsstock v2.0.1)

https://user-images.githubusercontent.com/16067358/152536165-1b008391-14f9-4297-9d95-08f82c11085d.mp4

Thanks!

[2022-02-04 13:22] #27199 closed, assigned to nobody

[2022-02-04 13:39] novashop commented on #27523
Hi Hana,
in fact I don't have the same problem as sitolab, I have the problem of the translations of the emails that PS sends to the customer in English, they should be in the Italian language.

I tried to perform all the possible solutions described by the post, but nothing, it doesn't work.

What should I do?

Thank you
Adriano

[2022-02-04 13:53] matks commented on #26157
@Julievrz hello 😄

[2022-02-04 13:56] HanaRebaiQA commented on #27523
Hello @novashop

You should update the language in Italian in BO >Design>Email Theme
![image](https://user-images.githubusercontent.com/92912932/152540718-ad3b5974-61da-4950-a9b0-5e2e706412e6.png)

If you still have the same problem, do not hesitate to create an issue to can investigate more on that.

Thank you!

[2022-02-04 13:57] sgr-fr commented on #27574
Thanks I was not sure than the #13468 is exactly the same so I prefered to create a new one...
Next time I will add a comment on the similar issue.

[2022-02-04 14:09] davidglezz commented on #26157
I think this solution is better, less code to maintain
https://github.com/PrestaShop/PrestaShop/pull/27176

[2022-02-04 14:12] daresh commented on #26157
@davidglezz with this solution there is still inconsistency. Different bahavior in JS, different in PHP. It should not be like that. If we talk about how PrestaShop handles accented chars, it should be the same for JS and for PHP.

[2022-02-04 14:27] HanaRebaiQA commented on #27540
Hello @matthieu-rolland About this issue: I want to validate with you if it's related to his PR or if it's a bug that his PR makes appear but which is not related.
It will be corrected in the PR If it is directly linked to his PR
Else, it's a regression !

[2022-02-04 14:33] #19495 closed, assigned to Progi1984

[2022-02-04 14:33] #19496 closed, assigned to Progi1984

[2022-02-04 14:33] #19497 closed, assigned to Progi1984

[2022-02-04 14:59] marwachelly opened #27591 "BO - Customer cannot enter the email adress when the password is forgotten"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Customer cannot enter the email adr

[2022-02-04 15:17] hibatallahAouadni commented on #27591
FYI: it's only reproducible on Chrome with Ubuntu

[2022-02-04 15:43] #25586 closed, assigned to NeOMakinG

[2022-02-04 15:44] HanaRebaiQA commented on #27589
Hello @LollipopAdmin

Thanks for your report!
I was unable to reproduce your issue with `PS1778` and `PS1780` using` iPhone 13 `On `Safari` browser.
I checked with a Simple and with combinations products.
![image](https://user-images.githubusercontent.com/92912932/152557037-efa924de-9dbc-4bf0-b4ef-de94adc1878a.png)

https://user-images.githubusercontent.com/92912932/152558095-3b861b22-752f-476d-98

[2022-02-04 17:40] khouloudbelguith commented on #27591
Hello @marwachelly, @hibatallahAouadni,

I tried with 178x branch.
It is ok in my case
https://user-images.githubusercontent.com/16067358/152576441-7a84f720-cf25-442d-b93c-cb872740526a.mp4
**Information**
![image](https://user-images.githubusercontent.com/16067358/152576506-e2e4872a-5944-4f30-b221-8b7d4d5db7c2.png)

I used Version 94.0.4606.71

Thanks!

[2022-02-04 17:51] dlyr commented on #26100
I'm also interested in this feature, and I may make a proposal in upcoming weeks
But it will be easier for me to do so for gtag only (keeping both type of data would rather add alot of code, and I'm really new to module dev).
Might be a fork/other module ? or could you guide how to manage ga and gtag compatibility without performance issue and big ifs everywhere ?

[2022-02-04 18:11] eternoendless commented on #26570
@MatShir in what scenario you would want to activate the language in FO but not in BO?

IMO we should keep the master "enable" switch (which disables everywhere), and a "enable in FO" switch that can only be activated when the other one is active as well. Needless to say that if the language is fully disabled it shouldn't appear in the BO.

[2022-02-04 18:14] eternoendless commented on #25888
i18n.prestashop-project.org will be most likely a mirror of i18n.prestashop.com, at least initially.

[2022-02-04 20:49] eternoendless commented on #27172
Repo moved: https://github.com/PrestaShop/classic-theme/

[2022-02-04 22:52] Nonoland commented on #27487
Hi @PrestaEdit ,

This is the error I get when the hook runs :

[code]

![Capture d’écran 2022-02-04 à 23 43 03](https://user-images.githubusercontent.com/17767908/152613171-72e51bda-7352-4b2b-ae05-3110c16336cb.png)

And I noticed that in CategoryController, the hook was not configured to dispatch an array.

[2022-02-05 08:57] PrestaEdit opened #27594 "Associations are missing in the JSON output in webservice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once the JSON output is choosen to

[2022-02-05 09:07] antonchik777 commented on #26152
Hello, could you please clarify whether there is news on this problem, is there already some kind of fix?
Thank you
Regards

[2022-02-05 09:15] PrestaEdit opened #27595 "Bad display of mullti store checkboxes in webservice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once you are on the webservice page

[2022-02-05 11:36] Amazzing opened #27596 "Page number is not included in meta titles for new-products, best-sales, prices-drop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As the title says, page number is n

[2022-02-05 12:14] sickboards opened #27597 "[multicurrency] SubmitCurrency=1 does not force a currency"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We are running PS 1.7.5.2 on php 7.

[2022-02-05 13:22] matdu58 commented on #26570
@eternoendless Yes, that should be a good idea !
As far as I am concerned, I really need ASAP to use the languages in BO, but only 1 language (French) in FO

[2022-02-05 13:46] khouloudbelguith commented on #23537
Hi @Progi1984,

Done: https://github.com/PrestaShopCorp/gamification/issues/97

Thanks!

[2022-02-05 13:47] khouloudbelguith commented on #23754
Hi @Progi1984,

Done: https://github.com/PrestaShopCorp/gamification/issues/98

Thanks!

[2022-02-05 14:11] khouloudbelguith opened #27599 "[Multistore] BO - New product created in all shops is not displayed in the list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After configuring Multistore, creat

[2022-02-05 14:36] khouloudbelguith opened #27600 "BO - Product list V2 - Increase/Decrease arrows (Quantity + ID) are not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Product List

[2022-02-05 14:39] bibips opened #27601 "Products of a sub-category to which I do not have access are visible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On a category page, I can see produ

[2022-02-05 16:01] mparvazi opened #27602 "[BO] Bad display of Dashboard Activity config form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The `dashactivity` config form has

[2022-02-05 16:38] okom3pom commented on #27595
I can reproduce the bug, it's for all the new mullti shop checkboxes.

You can also test: Maintenance, Shipping Preferences.

Introduce by : https://github.com/PrestaShop/PrestaShop/pull/25879

[2022-02-05 17:36] tone87 opened #27603 "[BO]Cannot edit or insert a category product in 1.7.8.3"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

error 👍
Unexpected character "'" in

[2022-02-05 19:30] TimexPeachtree commented on #22260
I have been using IIS 10 with **PHP via FastCGI** had resolved the issue by increasing **Activity Timeout** to 180  and **Request Timeout** to 300

[2022-02-05 21:17] matks commented on #27596
Hi @Amazzing

Would it be possible to provide sources about this SEO best practice? Unfortunately SEO is not an exact science, so sometimes if you ask 4 people the same question about SEO you get ... 4 different answers 😅

[2022-02-05 21:31] matks commented on #27577
I agree with @kpodemski : hooks are not always the best solution.

Hooks are great if we expect
- multiple modules might want to plug themselves at a single point (payment flow for example)
- multiple usecases might benefit from a hook at a single place

If we added this hook I'm afraid it would only answer to a single need, the one presented.

So maybe a hook is not the best choice. But there is

[2022-02-06 01:48] AlexAlexE commented on #27561
/autoupgrade/classes/TaskRunner/Upgrade/UpgradeModules.php line 94

[code]
Why? It's a full compatible module: https://addons.prestashop.com/ru/payment-card-wallet/17856-stripe-payment-pro-sca-ready.html

Look at this: https://github.com/PrestaShop/autoupgrade/pull/44#issuecomment-290011291

[2022-02-06 09:49] Rizzen59 opened #27604 "[Multistore] - Product on category page display out of stock flag instead of availlable on order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Steps to reproduce the issue:
1. En

[2022-02-06 15:02] LollipopAdmin commented on #27589
Hey Hana,

Thanks for your message. Can you try on our site with an iPhone, with the 2 urls I gave and send me a screenshot if you can.
I would like to see what you see in that specific case.
On my end, I will try to test the functionality on a test vanilla site to see if I can reproduce.

Tks,

[2022-02-06 15:46] miszun commented on #19877
Hi,
the problem still exists in Prestashop 1.7.8.3.
If you haven't added a file via Catalog>Files only via button available on Product's Option tab, there is no way of removing it.  At least I can't find any way to remove it.  The file is not shown in Catalog>Files.  Button for adding file is still there, tempting to use for quick file attachment way.  What's worse, even though the file is uncheck

[2022-02-06 16:37] 121213tjfgalfjaf commented on #27522
The PHP version is v7.3.32  and the Link list module version is v5.0.4

[2022-02-06 18:28] Amazzing commented on #27596
Hi, @matks

Page number is already included in meta_title on **Category/Manufacturer** controllers.
For example, check meta_title [here](https://gruesome-substance.demo.prestashop.com/en/2-home?page=2 ) - it has page number **(2)**

This PR applies same behavior on **other product listing controllers**, that have multiple pages.

I didn't find a reputable source saying that you should add page num

[2022-02-06 22:21] Hlavtox commented on #27596
@matks No science here, he is right. :-)
Page 2 = different products = different content = different meta = different canoncial.

[2022-02-06 23:41] lelovitis commented on #19038
Prestashop version:  1.7.6.5
PHP version:  7.2.34.

In DEBUG mode we are experiencing the following:

-----------[ starts here ]-------------------------------------
**(1/1) ContextErrorExceptionNotice: Undefined index: unit_price_ratio**
--
**in Product.php line 4955**
**at ProductCore::getProductProperties**(1, array('id_product' => '395', 'id_product_attribute' => 0, 'link_rewrite' => 'darphin-

[2022-02-07 08:37] NeOMakinG commented on #27595
Looking at it atm

[2022-02-07 08:42] onklmaps commented on #25796
Looking forward to this fix 🙂 The order confirmation email is **the most **important** email sent by the system, since it`s sent to all end users placing orders.

Great work @AlexNovamac !

[2022-02-07 08:43] NeOMakinG commented on #27595
I did test on develop

You need to build asset and clear your cache

![image](https://user-images.githubusercontent.com/14963751/152753832-e20e0484-ef38-4cb5-bf10-3dc4c1637d20.png)

I think you don't have the `.form-wrapper` style, I've the same result if I remove it !

[2022-02-07 08:45] NeOMakinG commented on #27595
Feel free to open it again if you reproduce it with cache cleared and asset built!

[2022-02-07 08:45] #27595 closed, assigned to NeOMakinG

[2022-02-07 08:56] hibatallahAouadni commented on #27595
Hello @PrestaEdit

As @NeOMakinG mentioned above, all well displayed, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/152756126-270e4c07-347e-4c2e-b69b-fd8081032a7f.mp4

Thanks!

[2022-02-07 08:58] grafica3B opened #27607 "impossibile caricare nuovo modulo"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Cattura](https://user-images.gith

[2022-02-07 09:04] PrestaEdit commented on #27595
I can confirm ! Sorry for this false issue.

[2022-02-07 09:10] hibatallahAouadni commented on #27594
Hello @PrestaEdit

I didn't manage to reproduce the issue with develop, see the attached screen record below:

![image](https://user-images.githubusercontent.com/23308427/152758338-0d5a4e3a-6006-4696-95d2-f68ca5ae0ec1.png)

Closing the issue as there's no bug.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-07 09:10] #27594 closed, assigned to nobody

[2022-02-07 09:16] #27607 closed, assigned to nobody

[2022-02-07 09:40] grafica3B opened #27610 "I can't upload a new form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi, i would like to upload a new fo

[2022-02-07 09:53] NeOMakinG commented on #27541
I did verify every fonts

`Theme`
Manrope => OFL

`Core and UIKit`
Open sans => Apache 2.0
Material icon => Apache 2.0
Font Awesome => OFL
Vazir (font RTL) (CDN) => OFL

I did provide a PR where we use Vazir font without a CDN: #27611

@ttoine Everything is in your hands, waiting for your feedback

[2022-02-07 10:11] SimonasB88 commented on #26552
@hibatallahAouadni Seems like this bug is left in all the PS1.7.x versions, also in PS1.6.1.10 PHP 5.6 - Add new Image plus icon vanishes, but the mini Save icon doesn't appear.

[2022-02-07 10:37] NeOMakinG commented on #27541
I also added a `thirdPartyNotice.json` generator to webpack inside every folders, so we provide a list of every license on build

[2022-02-07 10:38] hibatallahAouadni commented on #27596
Hello @Amazzing

Your proposal seems an improvement more than a bug.
So, thank you for your suggestion and your PR :rocket:
The Product Team will take it into consideration for future developments.

Thank you

[2022-02-07 12:19] khouloudbelguith opened #27613 "FO - Checkout - When we order a pack product created with Product V2 , the Shipping method is not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We create a pack product from Produ

[2022-02-07 13:01] #19312 closed, assigned to nobody

[2022-02-07 13:35] #21802 closed, assigned to nobody

[2022-02-07 13:43] hibatallahAouadni commented on #27610
Hello @grafica3B

I didn't manage to reproduce the issue with PS1778 and PS1783, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/152799291-62ed59e3-da66-422a-9ba3-fb216a6c8769.png)

Could you please enable the debug mode and try again to upload a module :pray:
If there's an error displayed, please make a screenshot and share it with us :wink:
If not,

[2022-02-07 13:51] hibatallahAouadni commented on #27604
Hello @Rizzen59

I didn't manage to reproduce the issue with PS1783, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/152800584-5049e50b-9975-4acd-9ecd-627a8470c8ff.mp4

It seems this issue related to your overrides or some third-party modules.
Please check and feedback.

Thanks!

[2022-02-07 14:05] grafica3B commented on #27610
Hi! I try another time with debug mode but i can't do anything :( the button don't work.

[2022-02-07 14:16] grafica3B commented on #27610
![Cattura2](https://user-images.githubusercontent.com/99173363/152804592-9897a164-d98d-4e76-9f0a-d651c4f7d592.JPG)

I try to enable the debug mode on prestashop site, but it opened this page.

[2022-02-07 14:22] dimitrisgi commented on #17207
Hi, I don't know if I should open new ticket, as it concerns the issue on this one.

Why it is needed in the file to have the attributes if we only want to update prices/quantities? Only combination reference (or/and product) should be enough.

And as there is NO export option in prestashop (I m wondering why really..), we can't have a .csv with those fields.

[2022-02-07 15:17] Rizzen59 commented on #27604
It's seems you use a single shop not a multi shop with shared stock.

![image](https://user-images.githubusercontent.com/25029253/152815847-43895024-e353-4d4c-923e-c3d44c5d6583.png)

On your video, I don't see the multishop header
![image](https://user-images.githubusercontent.com/25029253/152816141-e194518e-dc83-4524-913e-8b5cbc2efebb.png)

[2022-02-07 15:22] Rizzen59 commented on #27604
The problem is in ProductAssemblerCore  that  is not an overided classe (ProductAssembler.php in classes foler)

There is a SQL request that seach information for product. This request seach stock information by product shop and don't take account that stock is configurated to share stock 👍

[code]

In database multi shop with shared stock use the "id_shop_group" column, not the "id_shop" column t

[2022-02-07 17:20] khouloudbelguith opened #27616 "BO - An error is displayed in some legacy pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is a regression in the b

[2022-02-07 17:21] matks commented on #27596
You would be surprised how deep such topics go 😄

The problem is exactly that there's no science here. SEO is reverse-engineering Google algorithm.

[2022-02-07 17:23] hibatallahAouadni commented on #27602
Hello @mparvazi

I was able to reproduce the issue with PrestaShop version 1778, 1783 and develop.
I’ll add this to the debug backlog so that it’s fixed.
Waiting for your PR :rocket:

Thank you

[2022-02-07 18:19] cdb88 opened #27617 "Multistore - wrong BO language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Fresh installation of prestashop.
2

[2022-02-07 19:02] alejoasotelo commented on #16521
It still persists en 1.7.6.3. The error should be displayed in the step 3 "Size, weight, and group access" to allow you to see the numbers and fix that.

[2022-02-07 19:03] jolelievre opened #27618 "Product page MultiShop Migration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-07 19:58] Progi1984 commented on #27218
Fixed by @okom3pom in #27516 & tested by @khouloudbelguith

[2022-02-07 19:58] #27218 closed, assigned to nobody

[2022-02-07 20:46] eternoendless commented on #26570
I have updated the issue description with the specifications

[2022-02-07 20:50] eternoendless commented on #26570
The Product Team will take it into consideration for future developments, but please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you or anyone else is willing to implement this feature into PrestaShop as a [P

[2022-02-07 22:33] hibatallahAouadni commented on #27603
Hello @tone87

I didn't manage to reproduce your issue with PS1783, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/152883401-66fd3741-0201-4543-8bbe-9f1daaead932.mp4

It seems that your issue is not a PrestaShop core bug.
We will close this issue.

Thanks!

[2022-02-07 22:33] #27603 closed, assigned to nobody

[2022-02-08 00:37] hibatallahAouadni commented on #27601
Hello @bibips

You're not allowed to leave this field empty, check the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/152890350-67beff8f-ebf6-4765-a323-de07d67b5d24.png)

But if you disable the category Men while you associated the product only with this category, then the product will be not displayed. See the attached screen record below:

https://user-im

[2022-02-08 00:41] hibatallahAouadni commented on #27618
@jolelievre will this PR #27584 fix/close this issue/feature?

[2022-02-08 00:57] hibatallahAouadni commented on #27597
Related to #26456

[2022-02-08 01:02] hibatallahAouadni commented on #27597
Hello @sickboards

Well, that's the wanted behavior :thinking:
Let's check the Product Team what they think about changing the value of `SubmitCurrency` :wink:

Ping @PrestaShop/product-team wdyt? should the `SubmitCurrency` changes everytime the `id_currency` gets changed?

Thanks!

[2022-02-08 01:09] hibatallahAouadni commented on #27540
Ping @PrestaShop/prestashop-core-developers friendly reminder :wink: Could someone answer @HanaRebaiQA question.
Thanks in advance :pray:

[2022-02-08 07:44] PrestaEdit commented on #27603
Hi,

To inform you, I can reproduce this issue but is with a third party module.
It could occurs with others, when you try to use Smarty template (legacy hooks) into a modern controller (Twig template) due to recent escaping made on the 1.7.8.3.

I was not yet able to resolve my own issues, I will let you know how it's need to be handled, if possible.

[2022-02-08 08:06] rickygzz commented on #27278
@prestascott  Sure, I made a small screen recording video

As I increased 1/12 of a column on the left side, we may need to reduce the `wishlist-button-product { margin-left: }` from `20px` to `10px` to avoid the ugly new line for the up and down control next to the quantity textbox (`Button.vue` file within blockwhishlist module)

Regards,

https://user-images.githubusercontent.com/36200981/15294

[2022-02-08 08:29] Julievrz commented on #26157
Sorry I completely missed the previous message. I'll contact some translators.

[2022-02-08 08:31] bibips commented on #27601
Hello @hibatallahAouadni,

Thanks for your response, I've updated the description of the issue like this :

I agree with you when you said

That's why I had precised :

I don't want to disable a category : I want to authorize to product "test" only to user from specific group.

As you can see in the bellow recording, the product **T-shirt imprimé colibr**i belongs only to category **Hommes** and c

[2022-02-08 08:43] mrports commented on #27603
hi
im also suffering from this bug, i first noticed it after i updated to 1.7.8.3 when i wanted to edit a cms page, then happened again when i wanted to edit a brand title and today the product's editing page fall apart ...seems its getting worst every passing day

any quick solution? please

[2022-02-08 08:50] matthieu-rolland commented on #27540
hello !

It looks like it is related to this PR and should be fixed in it 👍

[2022-02-08 09:01] davidglezz commented on #26157
@daresh I think we should get rid of the JS function and make a request to the back-office, this way the result is always the same.

[2022-02-08 09:04] HanaRebaiQA commented on #27540
Thank you @matthieu-rolland for your feedback !

Hello @okom3pom, according to @matthieu-rolland  response this issue should be fixed on you PR.
So, i close this issue.

Thanks!

[2022-02-08 09:06] roncarino commented on #27603
Yep,
we are having this problem too and I have the feeling that a few modules can be affected by this. It seems quite serious honestly.

[2022-02-08 09:14] icemansparks commented on #26157
The example is correct, if (in German) you can’t use „umlauts“, we will fall back to the following:

ö -> oe / Ö -> Oe
ä -> ae / Ä -> Ae
ü -> ue / Ü -> Ue
ẞ -> ss

[2022-02-08 09:16] Julievrz commented on #26157
Hi Dennis, thank you for answering!

[2022-02-08 09:31] HanaRebaiQA opened #27619 "BO - An exception is thrown when adding a Webp format image"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when adding

[2022-02-08 10:00] Rizzen59 commented on #27604
Hello @hibatallahAouadni

You can see the problem directly on the github code of prestashop  => ProductAssembler.php line 86 :
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ProductAssembler.php

And the difference when sharing stock is used for exemple on ProductQueryBuilder.php line 184 :
https://github.com/PrestaShop/PrestaShop/blob/116e6f596c79866aeb8bcc235a17020e2e5c2f21/src/Co

[2022-02-08 10:03] jf-viguier commented on #26100
@dlyr maybe a new module started from scratch should be good. Thnks for you future work.

[2022-02-08 10:04] rsoulard-prolaser commented on #26199
Hello,

This problem is quite critical and should be fixed on versions 1.7.8.x
What do you think @jf-viguier @matks ?

[2022-02-08 10:10] #22652 closed, assigned to nobody

[2022-02-08 10:18] Julievrz commented on #26157
FYI, a German proofreader told me he'll have a look in the evening.

[2022-02-08 10:19] jf-viguier commented on #26199
@rsoulard-prolaser I agree but it's an old bug and not a regression to 1.7.8.x version, so it's up to Prestashop maintainers to decide.

[2022-02-08 10:27] rsoulard-prolaser commented on #26199
On this issue #27411, it was tested as a regression.

[2022-02-08 11:08] marwachelly commented on #27617
Hello,
I was able to reproduce the issue with PrestaShop version 1.7.8.3 with PHP7.4 and 7.3
https://watch.screencastify.com/v/1ZPbRJoGFBsLFQaX2J9z

But the issue is not reproducible with 1.7.7.8
https://watch.screencastify.com/v/DCfTetqT2HBdLxXOmxHm

 I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very

[2022-02-08 11:09] jf-viguier commented on #26199
A regression from1.7.6, not from 1.7.8.
This issue is a major one and should be fixed before this summer, but I'm not a maintainer, just a contributor.

[2022-02-08 11:12] mparvazi opened #27621 "[BO] Improve UX design for date-picker form"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is some minor UX bugs in date

[2022-02-08 11:22] rsoulard-prolaser commented on #26199
On this comment https://github.com/PrestaShop/PrestaShop/issues/27411#issuecomment-1018014025, it works on 1.7.7.8 but not in 1.7.8.0

[2022-02-08 11:27] jf-viguier commented on #26199
Thanks, @hibatallahAouadni it's a regression and should be fixed in next 1.7.8.x ?

[2022-02-08 11:31] jf-viguier commented on #27411
@hibatallahAouadni I've fixed the bug in 8.0.0 here https://github.com/PrestaShop/PrestaShop/pull/24403 but it's a regression from 1.7.8 and should be fixed before this summer I guess.

[2022-02-08 11:44] cdb88 commented on #27617
Thanks a lot.

I don't have enough knowledge to propose a solution to the problem, but I have traced the error to the config/config.inc.php file

PS 1.7.7.8 on line 202
if (!isset($language) || !Validate::isLoadedObject($language)) {
     $language = new Language(Configuration::get('PS_LANG_DEFAULT'));
}

PS 1.7.8.3 on line 224
if (!isset($language) || !Validate::isLoadedObject($language) || !$lan

[2022-02-08 12:37] khouloudbelguith commented on #27578
Hello,

As commented here: https://github.com/PrestaShop/PrestaShop/pull/27461#pullrequestreview-862809575
This issue is ready.

Thanks!

[2022-02-08 12:40] marwachelly commented on #27621
Hello @mparvazi ,

Thank you for your report. I think that the behavior described is a bug not a new feature. So could you please add steps to reproduce.

Many thanks,

[2022-02-08 13:07] #14836 closed, assigned to nobody

[2022-02-08 13:08] Progi1984 commented on #27450
Fixed by @PierreRambaud in #27459 and tested by @khouloudbelguith

[2022-02-08 13:08] #27450 closed, assigned to PierreRambaud

[2022-02-08 13:08] #27578 closed, assigned to sowbiba

[2022-02-08 13:13] Daaaaad commented on #26559
@JanMiddelkoop Any idea on how to prevent such message to show without changing server configuration?

[2022-02-08 13:24] ttoine commented on #27541
Hello, I checked that using fonts distributed under OFL is ok with PrestaShop's OSL that we use to distribute the project.
We already know that Apache 2.0 is ok.

About licenses: Composer is usually doing that already in vendor folders for PHP packages. So, it's great that to add this feature to npm/webkit/js dependencies too.

I will add OFL in the devdocs.

[2022-02-08 13:47] #26800 closed, assigned to nobody

[2022-02-08 14:09] matthieu-rolland commented on #27540
I talked with @okom3pom and it seems like it's not related to his PR, but it still keeps his PR from getting merged...

So I re-open it and assign it to myself 👍

[2022-02-08 14:20] hibatallahAouadni commented on #27411
Hello @jf-viguier

Thanks for the note :rocket:
Yep, you're right as this issue is a regression on 178x, it should be fixed on 178x.
So, we're waiting for your PR :rocket:
As usual you're fascinating :clap:

Thanks in adavance :pray:

[2022-02-08 14:22] hibatallahAouadni commented on #26199
Hello everyone,

Thanks for your patience :pray:
Closing this issue as a duplicate of this one #27411
To be informed when it's fixed, please subscribe to the issue mentioned above.

@jf-viguier waiting for your PR :rocket:

Thanks!

[2022-02-08 14:22] #26199 closed, assigned to nobody

[2022-02-08 14:22] hibatallahAouadni commented on #26199
Duplicate of #27411

[2022-02-08 14:28] mparvazi opened #27623 "[BO] Improve UX for List of changed files"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-08 14:37] marwachelly commented on #27623
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature in

[2022-02-08 16:28] a-suez commented on #27603
Same problem here with critical module for us, plsease help

[2022-02-08 16:30] Hlavtox commented on #27623
@mparvazi What would be cool would be an "extract" button. You click it and it would copy the changed files into a zip. A) Backup, B) Easier transfer of mods to new version.

[2022-02-08 16:52] tone87 commented on #27603
if someone know the name of the related module can publish the name here ? thanks

[2022-02-08 16:53] PrestaEdit commented on #27603
It's not only a module, it could be one or another, depending your your modules catalog and the page where you try to edit something.

[2022-02-08 16:55] tone87 commented on #27603
for me the problem it's related to core and not to a module, anyway for now it's not solved

[2022-02-08 17:02] tone87 commented on #27603
Founded the module !!!! Jscomposer create a bug, when it's disables not reproduce the error

[2022-02-08 17:04] roncarino commented on #27603
Yes, sorry. I didn't mention the module involved. JScomposer it is but ...good luck with that.... It always been rubbish.

[2022-02-08 17:14] mrports commented on #27603
i dont have JScomposer installed but im still getting the same error when i try to edit a cms page, the error from the product editing page is gone despite that i did nothing

[2022-02-08 17:52] a-suez commented on #27603
In my case is this one: https://addons.prestashop.com/es/transportistas/26558-chilexpress.html desactivated the error disappears.

Regards

[2022-02-08 17:55] atomiix commented on #27619
@HanaRebaiQA do you have the php-gd extension installed?

[2022-02-08 18:17] vladikk007 opened #27624 "Mail templates could not be edited"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Email tamplates could not be edited

[2022-02-08 19:53] Maofree opened #27625 "Fix - for ps_emailalerts module v. 2.3.2 into is product.tpl file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
I've a website with this error,

[2022-02-08 23:02] saulaski opened #27627 "Stock movement without order reference is created by undelivered new order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

New order created from BO always ad

[2022-02-09 01:25] cmsmartj commented on #27603
HOLA BUENAS TENGO MISMO ERROR DESDE QUE SE ACTUALIZO PRESTASHOP 1.7.8.3
MI ERROR PASA CUANDO INTENTO CREAR O EDITAR CATEGORIAS
![Sin título-1-RecuperadoFF](https://user-images.githubusercontent.com/66569106/153103927-fe86c1b5-2657-4195-9105-911abee40ae6.jpg)
![Sin título-1-Recuperado](https://user-images.githubusercontent.com/66569106/153103929-39432b0f-b901-450b-a90f-1a58bd54751a.jpg)

[2022-02-09 08:32] Progi1984 commented on #27505
Fixed in #27586 by @vladikk007 and tested by @khouloudbelguith

[2022-02-09 08:32] #27505 closed, assigned to vladikk007

[2022-02-09 08:43] HanaRebaiQA opened #27628 "BO - No confirmation pop-up or product removal notification from Merchandise Returns (Wrong notification is displayed)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

No confirmation pop-up or product r

[2022-02-09 08:49] florine2623 commented on #27624
Hello @vladikk007 ,

I can't reproduce your issue with PS 1.7.8.2.
<img width="900" alt="Screenshot 2022-02-09 at 09 48 45" src="https://user-images.githubusercontent.com/16019289/153159090-99aaf7c5-4ed2-4a04-8167-1b1dbafc8900.png">

https://user-images.githubusercontent.com/16019289/153159101-9b44ccdb-6881-4cf0-9ae7-93c817661a47.mov

Could you send a screen record please ?
Thanks!

[2022-02-09 08:59] vladikk007 commented on #27624
Hello @florine2623,

the issue is related to email theme editor (not template). Sorry, my mistake...
![theme editor](https://user-images.githubusercontent.com/9325324/153160881-12f247ae-c5a8-4433-836d-dc88dde682d0.jpg)

[2022-02-09 09:02] Triloworld commented on #27582
By default you must enter correct email to send test message:
`"When sending test mail, mail should need to be sent to the mentioned email id."`

This need to be fixed to use user **currently logged user email address** and change to feature

That message is too generic and not provide hint on what stage user having problem - hundreds issues can be close or re-check if we get more detailed message

[2022-02-09 09:03] prestascott commented on #26642
I was referring to your design @SharakPL

Ok, I'll take a look @saulaski

[2022-02-09 09:18] prestascott commented on #27278
@rickygzz This is really awesome, great work!

Can you decrease the `wishlist-button-product { margin-left: }` from `20px` to `12px`, or `8px` instead please?

Also, are you able to make the Customer reassurance block sticky like the product description block too?

Thanks a lot!

[2022-02-09 09:45] HanaRebaiQA commented on #27619
@atomiix Yes! the php-gd extension is installed on my web server
![image](https://user-images.githubusercontent.com/92912932/153168958-1134436a-801a-4680-a055-a370539ec350.png)

https://user-images.githubusercontent.com/92912932/153170250-67cd10d4-6964-40b3-ab64-2c289de88ac1.mp4

[2022-02-09 09:55] khouloudbelguith commented on #27534
Hi @clotairer,

I manage to reproduce the issue with PS1783 using the `productComment` v5.0.0 & v4.2.2
![image](https://user-images.githubusercontent.com/16067358/153172141-3e8599c7-b210-41de-9695-aa1e6f861021.png)

I tried with PS1778 + `productComment` v5.0.0 & v4.2.2 => ok
I have this result
![image](https://user-images.githubusercontent.com/16067358/153172289-63c83714-5609-4a90-8839-7ef7d85775

[2022-02-09 10:19] khouloudbelguith commented on #27534
Hi,

Sorry, it was not a regression, it was missing a step.
you should be connected as a customer to reproduce the exception :smile:
It is not a regression, I reproduced the issue with PS1778 + comment module v5.0.0
![image](https://user-images.githubusercontent.com/16067358/153178133-995500cd-00ce-4d20-9918-81b4d2955e39.png)

Thanks!

[2022-02-09 10:19] florine2623 commented on #27627
Hello @saulaski ,

Thanks for the report, I manage to reproduce the issue in PS 1.7.7.x, PS 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug.

Thanks for your PR, it will be reviewed soon !

[2022-02-09 10:22] atomiix commented on #27619
@HanaRebaiQA it seems that you don't have the webp support in your php-gd extension. Here's what I have:
<img width="497" alt="Capture d’écran 2022-02-09 à 11 15 57" src="https://user-images.githubusercontent.com/2168836/153177855-2f543d29-1c5e-4db6-81c9-b48028f5d99e.png">

[2022-02-09 10:33] oliviermollier opened #27629 "Webservice to create article"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, I plan to use Prestashop as

[2022-02-09 10:34] Daaaaad commented on #26559
The webservice use the server configuration (when _PS_MODE_DEV_ is disabled) to decide to show or not those notices. So we can temporarily add ~E_NOTICE to the error_reporting variable in php.ini to hide them... but those notices should not exists and the code need a fix 😉

[2022-02-09 10:36] florine2623 commented on #27629
Hello @oliviermollier ,

Could you specify the Steps to reproduce please ? And fill in the Expected behavior ?
Thanks

[2022-02-09 10:38] clotairer commented on #27534
FYI the bug can be reproduce if the module accept anonymous comment and without user authenticated.

[2022-02-09 10:46] MatShir commented on #27581
It would be interesting to rearrange the content. The Hi "name" can be more generic, since many people can work on the admin side and put the name of the client next to the order ref. So the admin can see quickly the client name and the order ref. WDYT @Julievrz ?

[2022-02-09 10:51] oliviermollier commented on #27629
updated

[2022-02-09 10:52] florine2623 commented on #27610
Hello @grafica3B ,

I can't reproduce your issue either.

https://user-images.githubusercontent.com/16019289/153183617-6c2ce119-fab4-4384-ba00-cdc392c24282.mov

You need to make sure your PHP version is compatible with your PS version : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

As your issue can't be reproduced, I will close it.

[2022-02-09 10:52] #27610 closed, assigned to nobody

[2022-02-09 11:03] florine2623 commented on #27522
Hello @121213tjfgalfjaf ,

I can't reproduce your issue with PS 1.7.8.2, PHP 7.3 and ps_linklist v5.0.4.
Please check my screen record :

https://user-images.githubusercontent.com/16019289/153185537-c1a6c6e3-0b84-4e4c-a7a0-7ed201117037.mov

As your issue can't be reproduce, i will close it.
Thanks!

[2022-02-09 11:03] #27522 closed, assigned to nobody

[2022-02-09 11:07] MatShir commented on #27561
@AlexAlexE @nexustotalsolutions It seems you have identified the issue. I don't know why the upgrade module remove this module in particular.
If the issue affects your client and your business and if you have the technical knowledge, don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). PrestaShop is an ope

[2022-02-09 11:10] florine2623 commented on #27553
Hello @Gaja-A ,

You need to make sure the TAX in your product is the right one.
For example, I don't have a difference in tax incl and tax excl on this product :
<img width="1182" alt="Screenshot 2022-02-09 at 12 09 24" src="https://user-images.githubusercontent.com/16019289/153186639-ddec1180-c808-473c-8fdc-627ef6908a03.png">

Because there is no tax chosen :
<img width="299" alt="Screenshot 202

[2022-02-09 11:10] #27553 closed, assigned to nobody

[2022-02-09 11:14] vladikk007 commented on #27624
Debug mode should be active:
https://user-images.githubusercontent.com/9325324/153187469-1d4751f3-00ca-4802-888c-7cfd325d2ae9.mp4

[2022-02-09 11:20] florine2623 commented on #27624
I still can't reproduce the issue.

https://user-images.githubusercontent.com/16019289/153189521-70a631bb-721a-4ce9-ae3d-b6fa285bab17.mov

If you have any overrides in the file mentioned in the Exception, please delete them.
Also, if you have a fresh install, there might be something that did not go well during installation. So I suggest re-installing your shop.
You can also check that your system

[2022-02-09 11:20] #27624 closed, assigned to nobody

[2022-02-09 11:30] florine2623 commented on #27589
Hello @LollipopAdmin ,

I can't reproduce your issue as you can see here :

https://user-images.githubusercontent.com/16019289/153191337-bcb33137-ab72-4019-aa52-a19d03f51e63.mov

As your issue cannot be reproduce, I will close your issue.

You can update your Safari app, delete your browser cache. You can check your Ip address, maybe it is blacklisted from your Internet provider.

Thanks!

[2022-02-09 11:30] #27589 closed, assigned to nobody

[2022-02-09 12:24] mcasamayor commented on #27603
I am also having the same problem after upgrading to 1.7.8.3.

The message appears when I update some products, it does not happen in all cases. I can't find the reason for this error

![image](https://user-images.githubusercontent.com/35779730/153200476-0b105de8-f8f9-4d0c-9b8c-9074ef7c633a.png)

[2022-02-09 12:33] Grandnainconnu opened #27631 "ps_stock_available updated wrongly on order when products out of stocks"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

(This issue has already been shared

[2022-02-09 12:34] vladikk007 commented on #27624
do you have any orders in your shop?
![image](https://user-images.githubusercontent.com/9325324/153202082-33c4e578-7a8c-4ef6-9bde-1cfbacad37b8.png)

[2022-02-09 13:09] florine2623 commented on #27487
Hello @Nonoland ,

Thanks for the detail, did you have the time to check @hibatallahAouadni 's comment :

It would be helpful to have a module to reproduce the issue.
Thanks!

[2022-02-09 13:13] florine2623 commented on #27482
Hello @MarcorOnline ,

Without using your module I didn't encounter your issue. That means if you use this module and have the issue, the issue doesn't come from PS itself.

As @khouloudbelguith , you should contact the author of the module to get it fixed.

As the issue is not reproduce on our end, I will close it.
Thanks!

[2022-02-09 13:13] #27482 closed, assigned to nobody

[2022-02-09 13:24] Progi1984 commented on #27348
@marwachelly Could you test this issue on 1.7.8.3, please ?

[2022-02-09 13:38] pks891618 commented on #27582
@Triloworld  thanks for  reply, i found the issue. The problem was that in admin mail was set as @gmail.com . Now as my SMTP host blocking this because of the from email id . As my host dont allow me to send  mail from  other domain name.

e.g if my host name is abc.com then i am using SMTP host setting for abc.com and when i was sending mails from address was @gmail.com

[2022-02-09 13:38] #27582 closed, assigned to nobody

[2022-02-09 14:30] #27130 closed, assigned to Progi1984

[2022-02-09 14:32] Progi1984 commented on #25840
Needs a module release

[2022-02-09 14:50] khouloudbelguith commented on #27348
Hi @Progi1984,

In my case, I checked the branch 178x & I created this issue: https://github.com/PrestaShop/PrestaShop/issues/27616
The list of page with error smarty that I found in my case:
1. Bo > Advanced parameters > Click on multistore page => error
2. Add/Edit new shop group
3. Add/Edit a new shop
4. Add/Edit new URL
5. BO > Shop Parameters > Customer Settings > Add/Edit new Group
6. BO > S

[2022-02-09 15:27] PrestaEdit commented on #27603
There is a solution for all modules having this behavior: using `{strip}{/strip}` to encapsuled their template causing an issue with that.

[2022-02-09 15:29] Grandnainconnu commented on #27631
Hello @florine2623

Actually, yes it's precisely what I have, the bug is so on step 3 and 4:
When order "shipped" -> physical_quantity, quantity and reserved_quantity should probably be 0
When order "refunded" -> I don't know what would be best, but it seems strange to have such values, probably more something like -1 in quantity and 0 in reserved and physical, or just reset everything to 0

[2022-02-09 15:34] mrports commented on #27603
seems like you are the promised savior 🥇 :D

can you please explain to me how i can implement this solution?

[2022-02-09 15:38] florine2623 commented on #27625
Hello @maofree ,

I can't reproduce your issue on PS 1.7.6.5 nor 1.7.8.x and on develop.

Here are the steps I followed :
- Create shop
- Install ps_emailalerts v2.3.2
- Configure the module
- Change quantity of a product to 0 (tested with standard product & product with combinations)
- Receive email of out-of-stock product, no exception ✅
<img width="696" alt="Screenshot 2022-02-09 at 16 36 01" s

[2022-02-09 15:45] JanMiddelkoop commented on #26559
@Daaaaad Actually, the webserver is configured to not display any errors to users (display_errors = off) and report all errors to the PHP error log instead. One could argue that PrestaShop is actually overriding the server configuration with it's own bad behaviour.

The notice errors are avoidable and should probably be fixed - but the real problem is the webservice actually sending internal notic

[2022-02-09 15:50] enginteknoloji commented on #27219
1.7.8.3 kurulumundan sonra içine Farklı bir Tema Kurulumu Yapılıp Kurulan Tema sorunsuz Çalıştırdıktan Sonra..Kurulan Temadan sepete ürün Eklendiğinde. Ürün Eklemede Sepette Görünümünde Bir Sorun Yok Ancak Sepetteki Ürünü Kaldır Butonuna Bastıktan Sonra Sepette Ürün Duruyor..Sayfa refresh Yenilendikten Sonra Sepetteki ürün Siliniyor..Bütün Temalarda Büyle Bu Düzeltmeyide Yaparmısınız

[2022-02-09 16:05] maofree commented on #27625
ask to a developer to check at line 573 of ps_emailalerts.php
then to check the views/templates/hook/product.tpl at line 38

the variables are not correct

[2022-02-09 16:23] MatShir commented on #16482
Nice catch @okom3pom !

[2022-02-09 16:50] florine2623 commented on #27521
Hello @PrestaEdit ,

With contactform v4.1.1, the path is the following :
`your_shop/modules/contactform/views/templates/widget/contactform.tpl`

With contactform v4.3.0, it is like this :
`your_shop/modukes/contactform/views/templates/hook/contactform.tpl`

The folder has been changed.

I will ping dev team to see if that the wanted behavior.
Please stay tuned !

Thanks!

[2022-02-09 16:54] florine2623 commented on #27629
@oliviermollier ,

Let me know the outcome of your fix.
Waiting for your feedback !

[2022-02-09 17:12] mparvazi commented on #27621
Hello everyone!

I'm waiting for UX approval to create PR.
IMO it's not a bug, because there is no problem for accessibility.
I think this component needs a redesign.

Ping @prestascott

[2022-02-09 17:13] florine2623 commented on #27631
@Grandnainconnu ,

On Step 3, I don't see the issue. If you have sent a product that you don't have in your stock, you might need to replenish your stock, so `-1` seems logical.
But on Step 4, the `reserved_quantity` value seems a little off. As for the `quantity`, it depends on if a merchandise return has been done.

I will ping product team to have the point of view on that.
Please stay tuned !

[2022-02-09 17:15] florine2623 commented on #27631
ping @PrestaShop/product-team ,

What should be the behavior in table ps_stock_available when the Order Status has been changed to `Refunded` ?

Is what happening on Step 4 the correct behavior ?

In this case, reserved_quantity should be equal to 0 <img width="927" alt="Screenshot 2022-02-09 at 15 26 57" src="https://user-images.githubusercontent.com/16019289/153253912-3740b1ee-41e2-41b2-ac50-521

[2022-02-09 17:36] ibrahimfsasmaz commented on #18675
I have the same issue and could not fix,

1. step: When create a product with combinations for example S M L XL, 1 piece for each size for example, means that you will have 4 in stock in total

2. step: then if you delete these combinations  and go to the product list under "catalog>products", there are still 4 pieces seen under "Quantity" column

3. step: and after if you generate new combination

[2022-02-09 18:10] enginteknoloji commented on #27219
1.7.8.3 After installing a different Theme and running the Installed Theme. After adding a product to the cart from the Theme. There is no problem in the appearance of the cart, but the product in the cart remains in the cart after pressing the Remove button.. After the page is refreshed, the product in the cart is deleted.. Can you make this correction in all themes

[2022-02-09 18:44] comxd commented on #13462
Since the PR is abandoned, what is the best way without overriding a controller to inject Twig vars into an override twig template?

[2022-02-09 19:14] Daaaaad commented on #26559
@JanMiddelkoop If you look at the code, PrestaShop is overriding error_reporting behavior only if PS_MODE_DEV is enabled... which should not be the case in production 😉

[2022-02-09 20:02] #27534 closed, assigned to clotairer

[2022-02-09 20:13] Grandnainconnu commented on #27631
On step 3 then there should be an option to not decrease physical stocks, example :
- you have an external supplier, so you don’t have actual stocks
- a client make an order, you transmit it to the supplier
- you receive it
- you send it to the client straight without making +1 in stock and then -1 from the order fulfillment

[2022-02-09 20:16] JanMiddelkoop commented on #26559
@Daaaaad One can have error reporting set to E_ALL in production. I do, because I want to see notice errors. It helps me debug issues. I want to see them in the error logs though, I don't want them to end up in output. Basically, PrestaShop fails to respect the "display_errors" PHP directive for webservice clients.

[2022-02-09 20:42] grabelle opened #27633 "Order Cart Rule Name is empty"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
I'm using the 1.7.8.2 version.

[2022-02-09 20:44] grabelle commented on #27633
Here is the cart rule

![Capture d’écran du 2022-02-09 21-43-40](https://user-images.githubusercontent.com/5048627/153286681-111f1c6d-cca7-470b-ac1e-38e30884e270.png)
![Capture d’écran du 2022-02-09 21-43-29](https://user-images.githubusercontent.com/5048627/153286683-5e79f20d-4420-4c71-9ba5-74c072c36cc2.png)
![Capture d’écran du 2022-02-09 21-43-14](https://user-images.githubusercontent.com/50486

[2022-02-09 20:49] grabelle commented on #27633
For information I have 4 langages activated.

[2022-02-09 22:11] PrestaEdit opened #27634 "The HEAD request in webservice are handled as GET"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The GET and HEAD requests on the ap

[2022-02-10 07:18] nexustotalsolutions commented on #27561
@MatShir @hibatallahAouadni Yes Prestashop is an open source for merchants but they are taking 40% commission from each module sales.
At this commission rate if they can't provide a good support and still expecting from developers to fix their own issues then it's a very bad approach.
Individual developers do contribute in Prestashop at various levels. But their business model is suppressing us an

[2022-02-10 08:23] gennaris opened #27635 "When changing a theme , a "yaml" cache folder is created in wrong Prestashop folders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When using a child theme and launch

[2022-02-10 08:51] Julievrz commented on #27581
Here's my suggestion:

"Hello,

You have received a new message from **John Doe** (pub@prestashop.com) about the **AJHDYE** order."

[2022-02-10 08:53] Julievrz commented on #27581
Here are 2 suggestions. The second one might be easier to scan.

Hello,

You have received a new message from **John Doe** (pub@prestashop.com) about the **AJHDYE** order.

or

Hello,

You have received a new message.

Customer: John Doe
Order reference: AJHDYE

[2022-02-10 09:13] MatShir commented on #27581
What do you think @Prestaplugins ?  If it makes sense for you, could you include the wording into your PR ?

[2022-02-10 09:35] MatShir commented on #27561
Hello @nexustotalsolutions,
I totally understand your frustration. My point was not so much to say that the problem is your problem. If a bug harms PS and its community, of course we will fix it at some point. But the difference is that if you are users who are facing the issue, you know how to fix it, test it and check that everything works fine. You will go much faster and the bug will be solved

[2022-02-10 09:46] MatShir commented on #27219
Hi @enginteknoloji,
I have tested on my side, the default theme seems to work accordingly. We can't reproduce the issue on our side. The bug may come from your theme. I suggest consulting with your module developer. Have a good day :)

[2022-02-10 10:01] saulaski commented on #27627
Thank you @florine2623
Please note that this issue seems related to a bright new issue : https://github.com/PrestaShop/PrestaShop/issues/27631#issuecomment-1034152309

In any case, the current business rules look inconsistent with initial specifications: https://forge.prestashop.com/browse/FF-1
As currently discussed in my PR: https://github.com/PrestaShop/PrestaShop/pull/27626#discussion_r8030500

[2022-02-10 10:11] kodarco opened #27637 "Tax surcharge not calculated if the zip code has a space before the number"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If the zip code has a space before

[2022-02-10 10:26] rcoussy-16h33 opened #27638 "SEO issue: No self-referencing hreflang and Conflicting hreflang and rel=canonical because of product attributes"
Hello, I'm using Semrush to enhance the SEO of my client's website. However I have many issues regarding hreflang and canonical URL: "No self-referencing hreflang" and "Conflicting hreflang and rel=canonical".

This is due to the fact that many products on the shop have attributes but the hreflang does not contains the id product attribute! This is really annoying...

For example see the screensho

[2022-02-10 10:28] #27089 closed, assigned to kpodemski

[2022-02-10 10:28] #27300 closed, assigned to Progi1984

[2022-02-10 10:44] PrestaEdit opened #27639 "Autoload of modules are not charged in Legacy environment"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's seems that /vendor/autoload.ph

[2022-02-10 11:02] oliviermollier commented on #27629
Hello, i tested the second option proposed ( unset id_category_default AND position_in_category) and still have the same error

You cannot set 0 or a negative position, the minimum is 1.  I made a quick fix in Product.php but still the standard version seems to have  this bug

[2022-02-10 11:02] HanaRebaiQA commented on #27634
Hello @PrestaEdit

Could you please provide us the request body that you use ? and a screenshot/screen-record to can reproduce your issue clearly ?

Thanks!

[2022-02-10 11:04] PrestaEdit commented on #27634
The request body used is empty, there is no need.

You can try this with this kind of call:

- /api/carriers/1?ps_method=GET
- /api/carriers/1?ps_method=HEAD

[2022-02-10 11:08] atomiix commented on #27521
@florine2623 it seems that it's a wanted behavior: https://github.com/PrestaShop/contactform/pull/25/files#diff-a1a6b3954c542d2d1895d5bdcf83deb9175daac9e6e86434afc1d2660df72f0b

[2022-02-10 11:43] mparvazi commented on #27623
https://user-images.githubusercontent.com/85633460/153401985-eaca10d6-d0b9-480d-82ca-87cee6296f75.mp4

[2022-02-10 12:18] khouloudbelguith opened #27640 "Product V2 - Images are not well displayed when we have more than 7 imags"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Catalog > Products > Edit Pr

[2022-02-10 13:31] HanaRebaiQA commented on #27635
Hello @gennaris

Thanks for your report.
ping @PrestaShop/prestashop-core-developers : Could you confirm if it's the expected behavior for this issue ?

Thanks!

[2022-02-10 13:37] HanaRebaiQA commented on #27633
Hello @grabelle

I used the **PS1782** version with **php7.3** & **php7.4** and i was unable to reproduce your issue.
Here is my executed case :
![image](https://user-images.githubusercontent.com/92912932/153415957-88857fc3-2eba-4cb9-b56f-317113bf9ac7.png)

https://user-images.githubusercontent.com/92912932/153418922-78cbc78e-136a-486b-b7dd-7cfdc30b9f57.mp4

Did i missed a step ?

Please check and

[2022-02-10 13:50] HanaRebaiQA commented on #27637
Hello @kodarco

Could you please provide us more information and clarification about the steps that you mentionned to reproduce your issue ?

Thank you!

[2022-02-10 13:54] atomiix commented on #27613
I think this one is related to #27304.

[2022-02-10 14:11] Progi1984 commented on #20084
@PierreRambaud We close ?

[2022-02-10 14:14] #20084 closed, assigned to PierreRambaud

[2022-02-10 14:22] HanaRebaiQA commented on #27638
Hello @rcoussy-16h33

Thanks for your report!
It seems that your issue is related to this one [#26676](https://github.com/PrestaShop/PrestaShop/issues/26676) and as commented here https://github.com/PrestaShop/ps_rssfeed/issues/5#issuecomment-607298130

Is it the same issue ?

Please check and feedback

Thanks!

[2022-02-10 14:54] #25948 closed, assigned to nobody

[2022-02-10 14:56] gennaris commented on #27635
Hello, I have checked a little and it looks like the issue was introduced here:  0481da4
For some reason path of the cache file is not correctly set

[2022-02-10 15:36] #14948 closed, assigned to Progi1984

[2022-02-10 15:40] HanaRebaiQA commented on #27638
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/26676 !

[2022-02-10 15:40] #27638 closed, assigned to nobody

[2022-02-10 16:14] HanaRebaiQA commented on #27635
Thanks @atomiix  for your feedback!
I wa unable to reproduce your issue using PS1783 version with php7.4
The `yaml` folder is not placed in Prestashop root.

https://user-images.githubusercontent.com/92912932/153443714-8481e11d-4c85-4854-9f46-bf2106ca1c41.mp4

Please check again and feedback!

Thanks!

[2022-02-10 16:30] rcoussy-16h33 commented on #26676
Anything new about this?

A product with no attribute doesn't return any SEO issues because the hreflang and canonical are matching the product URL.

I think of two possible solutions:

1. Remove the id_product_attribute from the product URL when attributes are selected.
2. Add the id_product_attribute dynamically inside the hreflang and canonical tags to match the product URL.

[2022-02-10 16:31] gennaris commented on #27635
Hi @HanaRebaiQA,
just enabling the child theme will have no effect in reproducing the issue.

After that you'll have to visit the front office at least once and / or launch a script
that is bootstrapping Prestashop core as described in my test cases 2A / 2B.

[2022-02-10 18:22] kodarco commented on #27637
We have a tax rule for Florida at 6% - that's base tax, then we have rules for the tax surcharge for each zip code range, see attached.
The customer's zip code is 33014 which would trigger this rule and surcharge of 1% would be added to the 6% base tax. But the customer had a space before the number 33014 in his address so the tax rule for the surcharge didn't apply. System should not allow custom

[2022-02-10 23:05] jaime-0000 opened #27645 "Attach logo in emails only if needed by template"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-11 07:58] khouloudbelguith commented on #27645
Hi @jaime-0000,

Thank you for your suggestion.
Isn't your issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/19070?.

Thank you!

[2022-02-11 08:13] khouloudbelguith commented on #27521
Hi @atomiix,

Thanks for your feedback.
@PrestaEdit, At it is the wanted behavior.
The file `modules/contactform/views/templates/widget/contactform.tpl`is moved to `modules/contactform/views/templates/hook/contactform.tpl`

I will close the issue.
Thanks!

[2022-02-11 08:13] #27521 closed, assigned to nobody

[2022-02-11 08:19] PrestaEdit commented on #27521
@atomiix and @khouloudbelguith : the issue is that the file is never called, was moved but not the path where it's call.
If we merge my pull request, we have the validator not good ; if we change the path here, every theme based on this faulty path (widget instead of hook) will need a change... What we do, now ?

[2022-02-11 08:39] jaime-0000 commented on #27645
Hi, @khouloudbelguith thanks for picking this up so quickly.

It is indeed related, but I believe it not the same request. I agree with the other request in that plain text emails should not embed the logo image, but this feature request is much more generic. There are use cases where you really do not need the embedded logo, even in html emails, but it should be up to each implementation of the M

[2022-02-11 08:44] jaime-0000 commented on #27645
Also, implementing a method in the class to embed additional files, returning the cid, would also be very useful, as some mail templates would benefit from embedding additional images instead of linking them (such as product images). But that should probably be another feature request.

[2022-02-11 08:45] khouloudbelguith commented on #27634
Hi @PrestaEdit,

Thanks for your feedback.
I manage to reproduce the issue with PS1778 & PS1783.
![image](https://user-images.githubusercontent.com/16067358/153561238-d4bc5caf-3ebc-4618-818c-20ccb9b4074e.png)
The HEAD method is available in PrestaShop as described here: https://devdocs.prestashop.com/1.7/webservice/reference/#available-http-methods
So I can confirm that this behavior is indeed a b

[2022-02-11 08:49] #27327 closed, assigned to nobody

[2022-02-11 09:27] Hlavtox commented on #19070
Hello @6xthFNGR, I don't exactly understand your b) point.

Why don't you just enable to send both versions of email? This works perfectly on all current devices and email clients.

[2022-02-11 09:32] netzgestaltung commented on #12276
for now i ended up here after a long search i currently use
[code]

would be good to know the best method to calculate. Smarty Docs give the math method a few possibilities:
https://www.smarty.net/docsv2/en/language.function.math.tpl

anyway. there should be simply as that a variable prepared to give every value with and without tax.
removing variables by version upgrage and giving it back as paid

[2022-02-11 09:49] mparvazi commented on #27623
Hi @PululuK

I thought about it, but how we can show original file for current patch?

**A. GitHub:**
For example PS:1.7.8.3, we have 1.7.8.x repo for original files, but this files may update since 1.7.8.3 release.

**B. Release patch archives:**
[code]
But it will increase load time.

[2022-02-11 10:03] khouloudbelguith commented on #27468
Hello @sextoysunivers1964,

I tried again with PS1778, I did not reproduce the issue.
The Home category is selected as a default category in two shops with different groups.

https://user-images.githubusercontent.com/16067358/153572041-11b28b56-99ed-4367-9917-668e81145a03.mp4

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is n

[2022-02-11 10:03] #27468 closed

[2022-02-11 10:41] atomiix commented on #27532
@gusxavi I think the smarty variable gets overrode [here](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/classes/controller/FrontController.php#L524) when `parent::initContent()` is called.
I don't know what you're trying to do but you should probably use the hook `actionPresentCart` [that is called by the presenter](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/src/Adapter/Presente

[2022-02-11 11:07] Progi1984 commented on #17156
I check all points.  And i fix a last point in #27649.

[2022-02-11 11:08] khouloudbelguith commented on #27629
Hi @oliviermollier,

Thanks a lot for your feedback.
I manage to reproduce the issue with PS1783.

PS1778 => OK

https://user-images.githubusercontent.com/16067358/153580521-2bac5e0d-0c60-40e4-a5de-41c44111d6b7.mp4

1783 => NOK

https://user-images.githubusercontent.com/16067358/153580546-2ad736a8-34d9-4f32-bac5-1adfcc239c89.mp4

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/27622 t

[2022-02-11 11:08] #27629 closed, assigned to nobody

[2022-02-11 11:20] khouloudbelguith commented on #27629
Duplicate of #27411

[2022-02-11 11:39] khouloudbelguith commented on #27635
Hi @gennaris,

I tried with PS1778., the `yaml` folder is well created when changing the theme & going to FO, but the path of this folder is different.
It is in the same path of the folder PrestaShop
I attached a screen record

https://user-images.githubusercontent.com/16067358/153584827-ebbb45ac-2499-4160-9e13-83bf3922c9ed.mp4

With PS1783, the `yaml` folder is well created when changing the them

[2022-02-11 11:39] Hlavtox opened #27650 "Gift is not removed from cart when changing customer group"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When changing customer group and re

[2022-02-11 11:59] #27650 closed, assigned to nobody

[2022-02-11 11:59] khouloudbelguith commented on #27650
Duplicate of #19393

[2022-02-11 12:52] khouloudbelguith commented on #27552
Hi @rsoulard-prolaser,

Thanks for your feedback.
In fact, I used two methods with PS1783.
It is ok :heavy_check_mark:
I used postman => OK

https://user-images.githubusercontent.com/16067358/153593764-b97bd71e-4d55-4ad6-a5f4-19c9e9e6967c.mp4

I used this script:
[code]
It is ok also

https://user-images.githubusercontent.com/16067358/153594225-6f432ebd-1596-4ee1-8d16-35889c606103.mp4

Despite our

[2022-02-11 12:52] #27552 closed, assigned to nobody

[2022-02-11 13:21] rsoulard-prolaser commented on #27552
Hello @khouloudbelguith,

I made a mistake in the title and the description, the modification works but it is the deletion of the old file which is not done and causes a warning because of an error on the name of the variable PS_DOWNLOAD_DIR instead of _PS_DOWNLOAD_DIR_.
I'm sorry for the bad explanation.

[2022-02-11 13:33] florine2623 commented on #26553
Hello all,

Sorry for the long answer.

I followed the lastest steps provided by @mpaolino :

As mentioned in step 4 :
<img width="770" alt="Screenshot 2022-02-11 at 14 25 04" src="https://user-images.githubusercontent.com/16019289/153599538-32f2e5f5-b743-4d91-b8e0-7133c6ed9327.png">

I can reproduce your issue, as per my screen record :

https://user-images.githubusercontent.com/16019289/15360031

[2022-02-11 14:01] khouloudbelguith commented on #27604
Hi @Rizzen59,

Thanks for your feedback.
I manage to reproduce the issue with PS1783.
I attached a screen record

https://user-images.githubusercontent.com/16067358/153597750-2f9aaa0a-d54a-4ba1-b301-40a0f17f150c.mp4

The out of stock flag is a new behavior in PS1780
https://github.com/PrestaShop/PrestaShop/issues/21105

In the PS1778 => this flag is not displayed
so I can confirm that this behavio

[2022-02-11 15:12] saulaski commented on #27313
IMHO items #1 #2 #4 and #5 are no bugs, but functional inconsistencies.
Quantities are supposed to be integers:
- only numeric characters and any optional sign character at the right place (according to CLDR)
- max value = 2147483647 (physical limit, otherwise technical impacts are gigantic)
- no decimal separator is allowed
- no alphabetic character allowed, not even exponential sign `E`

It only

[2022-02-11 15:21] thebolet commented on #19281
Hi @roncarino,
I just have the same problem, what solution did you find for your project ?

[2022-02-11 15:21] SharakPL commented on #26642
Then my suggestion was this:
![image](https://user-images.githubusercontent.com/5007456/143482079-dcea250e-2809-43d3-8a03-4e46dcf2cbf1.png)

- compact size
- better layout
- clear view of modal actions

[2022-02-11 16:40] khouloudbelguith commented on #27637
@kodarco, thanks for your feedback.
I did not manage to reproduce the issue with PS1783.
I used the same address in your invoice attached

https://user-images.githubusercontent.com/16067358/153631268-6509b3b8-be86-4179-908e-173eb7341769.mp4

Did I miss something?

Thanks!

[2022-02-11 16:47] #27637 closed, assigned to nobody

[2022-02-11 16:50] netzgestaltung commented on #12743
is there a specific reason why not both values are available as variables for subtotals? including and excluding taxes?

would be a two-liner at https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Order/OrderSubtotalLazyArray.php#L140

to add these values
[code]

Then it would be possible to write in [order-confirmation-table.tpl](https://github.com/PrestaShop/PrestaShop/bl

[2022-02-11 19:27] netzgestaltung opened #27652 "Subtotal of Shipping and Products in order-confirmation-table.tpl with and without tax"
Hi there,

today i inspected the variables of the template file `order-confirmation-table.tpl` from classic theme.

The file is included twice:
1. From the payment step at the order page
2. From the order-confirmation page after purchase

it gets the variables added for totals, subtotals and products but the variables differ from inside out. The Products Object is completely differtent and the key

[2022-02-11 23:27] omar2886 opened #27654 "When Carrier has taxes, Order taxes disappear"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If we go to the admin and choose a

[2022-02-12 09:45] roncarino commented on #19281
I didn't find any solution really. They are completely re-working the product page for the new Prestashop 8 so I believe there won't be any hot-fix for previous versions. In my case, I just removed the search bar improving the speed loading a little bit but nothing more. They are fine to use a CMD + F through the browser.

[2022-02-12 14:39] Maofree opened #27655 "With default Prestashop's modules it is not possible to translate the text of override tpl files"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
with the translation system, lik

[2022-02-13 08:21] Rizzen59 commented on #27604
Thanks for taking account this bug.
If i have time, i will try to propose a solution.

[2022-02-13 10:26] jolelievre commented on #27618
Hi @hibatallahAouadni
the PR is only a part of this issue

[2022-02-13 12:07] bhocde opened #27656 "Manual upgrade - 1.7.8.2 -> 1.7.8.3 - action result="error" id="32""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am upgrading PrestaShop from `1.7

[2022-02-13 14:56] Gozylatech opened #27658 "No details in order confirmation email"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, I have an issue with the ord

[2022-02-13 18:26] jkalke opened #27659 "ISBN validator should allow X as a last char"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

PrestaShop do not allow ISBN to hav

[2022-02-14 03:17] RicRey1988 opened #27661 "unable to remove thumbnail from menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when one enters a category, and mod

[2022-02-14 05:14] smartdatasoft commented on #27603
we just release jscomposer new update with this fix. Please check if you found any issue related to composer open ticket our support https://support.classydevs.com
Thank you

[2022-02-14 08:06] hibatallahAouadni commented on #27658
Hello @Gozylatech

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep

[2022-02-14 08:06] #27658 closed, assigned to nobody

[2022-02-14 09:04] hibatallahAouadni commented on #27661
Hello @RicRey1988

It seems you're having an issue with the cache:

![image](https://user-images.githubusercontent.com/23308427/153832848-faae6b0d-2e30-4b12-b64d-3710deddd579.png)

So, could you please apply these modifications (in the attached screenshot below) to clear all smarty cache:

![image](https://user-images.githubusercontent.com/23308427/153832587-3851dda4-741b-461b-b6e6-b44b9cff9150.pn

[2022-02-14 09:32] #27348 closed, assigned to Progi1984

[2022-02-14 09:32] #17156 closed, assigned to nobody

[2022-02-14 09:47] Progi1984 commented on #27252
Fixed by me in #27647 and tested by @boubkerbribri

[2022-02-14 09:47] #27252 closed, assigned to Progi1984, NeOMakinG

[2022-02-14 10:06] #25921 closed, assigned to Progi1984

[2022-02-14 10:24] hibatallahAouadni commented on #27659
Hello @jkalke

That's the expected behvior cause in ISBN field only numbers are accepted as mentioned in the specs:

See the the [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/spec-templates/technical-characteristics-template.md#options-tab-).
Closing the issue as it's not a bug.

Thanks!

[2022-02-14 10:37] #15194 closed, assigned to nobody

[2022-02-14 10:38] #26066 closed, assigned to nobody

[2022-02-14 10:56] Progi1984 commented on #26935
@MatShir I put the issue in the backlog as (the work of @PierreRambaud) #20084 has been merged.

[2022-02-14 10:56] jkalke commented on #27659
@hibatallahAouadni should I then report bug to specs ? How to do so?
I've provided you an example that ISBN with X at the end is valid ISBN.
The issue is then with spec in first place and then with the implementation.

[2022-02-14 11:00] RicRey1988 commented on #27661
in your video you are deleting the cover image and you delete everything, I want to only delete the menu image...

But apparently clearing the cache as you told me solved this problem, thank you very much.

[2022-02-14 12:04] okom3pom commented on #27659
@hibatallahAouadni the specifications are not good

I am woking on a new REGEX to allow X only at the end

[code]

X it's for the number 10 so we need to allow X at the end  i think you can re open the issue.

Thomas

[2022-02-14 12:16] hibatallahAouadni commented on #27656
Hello @bhocde

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25977.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-02-14 12:16] #27656 closed, assigned to nobody

[2022-02-14 12:16] hibatallahAouadni commented on #27656
Duplicate of #25977

[2022-02-14 12:34] Progi1984 commented on #27411
Fixed by @jf-viguier in #27622 and tested by @khouloudbelguith

[2022-02-14 12:49] matteolavaggi commented on #27411
Hi to all, this fix can be applied to ps 1.7.6.9 directly without upgrading
all the code? It's quite impossible to upgrade a ps store without broking
almost all , so there is a way I can update and fix this bug only on
1.7.6.9? If someone can help me I will appreciate.

Il Lun 14 Feb 2022, 13:46 Progi1984 ***@***.***> ha scritto:

[2022-02-14 12:51] hibatallahAouadni commented on #27655
Hello @maofree

We are aware of this issue and unfortunately it will not be fixed. This issue is a duplicate of #17844.
Please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/17844#issuecomment-690957794), it may help you :pray:

Thanks for your understanding :pray:

[2022-02-14 12:51] #27655 closed, assigned to nobody

[2022-02-14 12:51] hibatallahAouadni commented on #27655
Duplicate of #17844

[2022-02-14 13:02] Progi1984 commented on #27384
@PrestaShop/qa-functional Could you check with `dev` branch of the module ?

[2022-02-14 13:10] hibatallahAouadni commented on #27659
Hello everyone,

Let's ping the Product Team to check with them if we could update the specs :wink:
Ping @PrestaShop/product-team wdyt of @okom3pom [comment](https://github.com/PrestaShop/PrestaShop/issues/27659#issuecomment-1039006932) above?

Thanks in advance :pray:

[2022-02-14 13:19] hibatallahAouadni commented on #27661
Hello @RicRey1988

Yep, you're right :sweat_smile: So, I tried to delete the menu thumbnail image and it was deleted successfully:

https://user-images.githubusercontent.com/23308427/153871532-c6b35801-c180-4b18-9f09-4dfdc59f6ed0.mp4

Please check and feedback.
Thanks!

[2022-02-14 13:28] hibatallahAouadni commented on #27652
Hello @netzgestaltung

Thanks for detailed report and your PR :rocket: but could you please edit your issue description **following the template to submit a complete bug report**. Cause there is some missing informations that I need to reproduce the issue and work on it (like PrestaShop version, PHP version, steps to reproduce, ...).

Read more about how we expect the issues to be handled [here](h

[2022-02-14 13:28] #27652 closed, assigned to nobody

[2022-02-14 13:36] #27573 closed, assigned to nobody

[2022-02-14 13:51] HanaRebaiQA commented on #27384
Hello @Progi1984

I checked again this issue on `develop` branch using this [PR](https://github.com/PrestaShop/ps_themecusto/pull/47) to test the module `ps_themecusto` of `dev branch`.
The issue is well fixed with the dev branch.

https://user-images.githubusercontent.com/92912932/153876465-bfa82cf4-9d2a-4040-a00b-33df698d47dd.mp4

So, i will close the issue.

Thank you!

[2022-02-14 13:51] gerdus commented on #27411
@matteolavaggi
You can just replace the existing file /webservice/dispatcher.php
with https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/webservice/dispatcher.php

[2022-02-14 13:51] #27384 closed, assigned to Progi1984

[2022-02-14 13:55] Progi1984 commented on #27640
Ping @NeOMakinG :wave:

[2022-02-14 14:14] Progi1984 commented on #27616
Fixed by me in #27648 and tested by @khouloudbelguith

[2022-02-14 14:14] #27616 closed, assigned to Progi1984

[2022-02-14 14:16] hibatallahAouadni commented on #27659
Hello everyone,

As discusses with @MatShir if the specs don't match the bug report, it could mean that it's a functional change, therefore a feature. So, the Product Team will take it into consideration for future developments.

Thank you

[2022-02-14 14:22] prestascott commented on #26642
@SharakPL The layout is good. I would remove the grey background on modal actions, and remove the check icon on the "Proceed to checkout" button.

[2022-02-14 14:39] HanaRebaiQA opened #27665 "BO - A bad display of the email template of the classic theme using RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A bad display of the email template

[2022-02-14 15:35] khouloudbelguith commented on #21270
Hi,

This issue is fixed in the migrated page
`/admin-dev/index.php/configure/shop/order-states`

Thanks!

https://user-images.githubusercontent.com/16067358/153894739-86c06aaa-a233-42c9-8dc3-d08629353ab8.mp4

[2022-02-14 15:39] Progi1984 commented on #27570
Fixed by me in #27614 and tested by @HanaRebaiQA

[2022-02-14 15:39] #27570 closed, assigned to Progi1984

[2022-02-14 15:44] sextoysunivers1964 commented on #27468
Thank you !!

[2022-02-14 15:48] jpgilberg opened #27666 "BO - Create an Order - display the company name while selecting a customer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-14 16:07] roncarino commented on #27603
Hi, we tried with version 4.4.27 and we still get the same identical error.

[2022-02-14 16:22] RicRey1988 commented on #27661
Thank you for your assistance, it was very useful, how can I close this case?

[2022-02-14 16:22] #27661 closed, assigned to nobody

[2022-02-14 17:00] hibatallahAouadni commented on #27666
Hello @jpgilberg

This issue is partially duplicate of #23116 (the Customer Group part is already implemented on develop).
So, I'm editing this feature description and title :wink:

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important

[2022-02-14 18:29] titodevera opened #27671 "Allows filtering products on manufacturer pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-14 18:33] hibatallahAouadni commented on #27661
You already did :tada: and thanks for your feedback.

[2022-02-14 18:44] #27654 closed, assigned to nobody

[2022-02-14 18:48] hibatallahAouadni commented on #27671
Hello @titodevera

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15137.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-02-14 18:48] #27671 closed, assigned to nobody

[2022-02-14 18:48] hibatallahAouadni commented on #27671
Duplicate of #15137

[2022-02-14 20:31] MatShir commented on #12440
Closed by https://github.com/PrestaShop/PrestaShop/pull/23865

[2022-02-14 20:31] #12440 closed, assigned to nobody

[2022-02-14 20:37] MatShir commented on #9939
Fixed by #23865

[2022-02-14 20:37] #9939 closed, assigned to marionf

[2022-02-14 21:55] MatShir commented on #16108
Fixed by #23727

[2022-02-14 21:55] #16108 closed, assigned to nobody

[2022-02-14 21:57] MatShir commented on #16101
Fixed by #23581

[2022-02-14 21:57] #16101 closed, assigned to nobody

[2022-02-14 22:01] #16103 closed, assigned to MatShir

[2022-02-14 22:21] onlinedigitaltrade opened #27672 "Add support for AMP pages in Ps 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-15 06:27] Hlavtox commented on #27672
Hi @onlinedigitaltrade, this was already discussed in https://github.com/PrestaShop/PrestaShop/issues/10093.

AMP is a technology of a past. :-)

[2022-02-15 07:18] Hlavtox commented on #27666
Hello, this was already implemented in https://github.com/PrestaShop/PrestaShop/pull/23889 by @Kaudaj.

@hibatallahAouadni You can close this. :-)

[2022-02-15 07:19] kpodemski commented on #27672
I agree with @Hlavtox

[2022-02-15 08:10] florine2623 commented on #27672
Hello @onlinedigitaltrade ,

Thanks for the suggestion. But it won't be implemented. You can see the comment from @NeOMakinG https://github.com/PrestaShop/PrestaShop/issues/10093#issuecomment-957220052

If you have other suggestion, feel free to open a new issue !

Thanks!

[2022-02-15 08:10] #27672 closed, assigned to nobody

[2022-02-15 09:03] hibatallahAouadni commented on #27666
Hello @Hlavtox

Thanks for the tip :wink:
I've been seraching for this issue #22643 and I remember that you created but I couldn't find, so thanks :sweat_smile:
@jpgilberg this issue is a duplicate of #22643 and it's already implemented in the next major version 8.0.0 :tada:

Thanks!

[2022-02-15 09:03] #27666 closed, assigned to nobody

[2022-02-15 09:03] hibatallahAouadni commented on #27666
Duplicate of #22643

[2022-02-15 09:38] RecoX commented on #26680
Thanks, it worked for me.

[2022-02-15 09:42] florine2623 commented on #20178
Hello @matks  & @fabienvallon ,

It happens only on demo orders.
https://user-images.githubusercontent.com/16019289/154022938-48599501-9ae9-4f45-bdce-e89de32550a9.mov

On Orders created later (with demo product or my own products), the issue is not present.
https://user-images.githubusercontent.com/16019289/154022948-ec33c370-6f53-4fdc-923d-79a134fed571.mov

I was able to reproduce the issue with

[2022-02-15 09:55] saulaski commented on #27627
PM approved, BO should behave like FO.
A new order should add a stock movement only if the product is physically "shipped", i.e. if the order status is "Shipped" or "Delivered".

[2022-02-15 10:08] florine2623 commented on #23222
Hello @MathiasReker ,

I can't reproduce your issue on PS 1.7.8.x and develop.

I tested with the module "Pages not found"
Here it is in Spanish - Argentina :
<img width="1197" alt="Screenshot 2022-02-15 at 11 02 01" src="https://user-images.githubusercontent.com/16019289/154039266-1c78a1a8-21ec-4fa6-af70-3b84ab2554f0.png">

In Arabic :
<img width="890" alt="Screenshot 2022-02-15 at 11 04 54" src=

[2022-02-15 10:21] alabaeye opened #27674 "When creating a new Customer Group, it has no access to all categories"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I wanted to create a group on

[2022-02-15 10:28] qualityangel opened #27675 "Random Type error: Argument 3 passed to HookCore::callHookOn()"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I get random Type error: Argument 3

[2022-02-15 10:29] Hlavtox commented on #27674
@alabaeye Hey, I also faced this, even made a script that will check that all categories have all groups checked. :-)

Do you think you could open a PR for this? However, I would add two new options to PS configuration - "Add group to all categories when creating it" or something like this.

[2022-02-15 10:49] alabaeye opened #27676 "Different accesses to modules regarding Customer Groups"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When creating a group, the group th

[2022-02-15 10:59] alabaeye opened #27677 "Customer import issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When importing a client into presta

[2022-02-15 11:06] alabaeye opened #27678 "Problem displaying prices on the shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When users visit the store and he h

[2022-02-15 11:10] florine2623 commented on #9973
Hello all,

I have multiple languages on my test shop (en, fr, sk, cs). I tested the following cases on PS 1.7.8.x and develop.

1. BACKOFFICE TRANSLATIONS ✅
<img width="331" alt="Screenshot 2022-02-15 at 11 57 23" src="https://user-images.githubusercontent.com/16019289/154048451-45f016f2-1707-49d5-b44e-6b513c53268e.png">
In my BO, the string is translated :
<img width="326" alt="Screenshot 2022-0

[2022-02-15 11:10] #9973 closed, assigned to nobody

[2022-02-15 11:26] florine2623 commented on #27675
Hello @qualityangel ,

I can't reproduce your issue on PS 1.7.8.3. The product page is displayed correctly.

Also your site can't be reached :
<img width="1149" alt="Screenshot 2022-02-15 at 12 25 31" src="https://user-images.githubusercontent.com/16019289/154052923-d6cf59c8-9d54-4324-8da9-ba93621663b0.png">

We use GitHub issues only to discuss about bugs and new features in the PrestaShop projec

[2022-02-15 11:26] #27675 closed, assigned to nobody

[2022-02-15 11:31] qualityangel commented on #27675
Yea it must me heylampie.nl ;)

[2022-02-15 12:07] florine2623 commented on #19547
Hello all,

I can reproduce the issue on PS 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug. :
<img width="754" alt="Screenshot 2022-02-15 at 13 06 28" src="https://user-images.githubusercontent.com/16019289/154059027-c6059738-459b-4243-81e0-3f5979e8aa7f.png">

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resol

[2022-02-15 12:28] florine2623 commented on #27677
Hello @alabaeye ,

Can you edit your issue and translate it in English ?

Also in the Customer import file, you can set a default group. And it works well. Tested on PS 1.7.6.9, PS 1.7.8.x and develop.
I tried with the example file from the BO ✅
[customers_import.csv](https://github.com/PrestaShop/PrestaShop/files/8069008/customers_import.csv)

Maybe the issue comes from the file you used.
Can you

[2022-02-15 12:50] alabaeye opened #27681 "Order details issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the details page of an order, th

[2022-02-15 12:59] florine2623 commented on #27678
Hello @alabaeye ,

I can't reproduce your issue in PS 1.7.6.9 nor later versions.

I have created a Specific price for the "Kids" group :
<img width="1184" alt="Screenshot 2022-02-15 at 13 56 17" src="https://user-images.githubusercontent.com/16019289/154066544-e6f809c7-4a06-4f5c-bc8e-76c6e7b94c02.png">

The customer account has "Kids" as default group :
<img width="861" alt="Screenshot 2022-02-15

[2022-02-15 12:59] #27678 closed, assigned to nobody

[2022-02-15 13:07] florine2623 commented on #27681
Hello @alabaeye ,

I can't reproduce your bug in PS 1.7.6.9 :
https://user-images.githubusercontent.com/16019289/154067934-d042198a-2bdc-4288-a894-026211062638.mov

It seems like your issue comes from an external module. So I suggest contacting directly the author of the module to get it fixed.

I will close your issue.
Thanks!

[2022-02-15 13:07] #27681 closed, assigned to nobody

[2022-02-15 13:07] alabaeye commented on #27677
Hello,

The problem must come from the files I handle, indeed the people who transmit the files to me do not know in advance the ID of the groups on prestashop, so it puts the name of the group directly from where the modification carried out above.

Thank you very much, indeed the problem comes from the files I import in prestashop, the report may be useful for people who would be in the same sit

[2022-02-15 13:14] #27413 closed, assigned to jf-viguier

[2022-02-15 13:14] Progi1984 commented on #27413
Fixed by @jf-viguier in #27467 & tested by @hibatallahAouadni

[2022-02-15 13:21] alabaeye commented on #27674
Hello @Hlavtox,

Yes I think I can open a PR about it, I can write the same as in this ticket, adding your idea, to add Prestashop configuration?

[2022-02-15 13:29] florine2623 commented on #27676
@alabaeye ,

A PR is a Pull Request, you can go there to create one : https://github.com/PrestaShop/PrestaShop/pulls
There is more info here : https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/pull-requests/
You can explain briefly the issue and mention the Issue in the PR !

Let me know if you have more question ^^

[2022-02-15 13:39] marwachelly opened #27684 "BO - Module manager- Exception is displayed when profiling is active"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Exception when going to the page mo

[2022-02-15 13:58] WS-NL opened #27686 "Show by position not working in category with child category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On frontoffice category page (examp

[2022-02-15 14:21] ocio87 commented on #27232
Is it okay to keep doing this solution manually in later versions while @atomiix gives us an answer?

Thanks!

[2022-02-15 14:29] Def2019 commented on #27686
Will make a video with all steps
should follow shortly

[2022-02-15 14:40] Progi1984 commented on #11388
@MatShir I think this issue should be sent to the MBO repository.

Ping @intraordinaire.

[2022-02-15 15:13] qualityangel commented on #27675
I got this with a fresh install also

[2022-02-15 15:15] Betafer commented on #21495
' in product name also cause url rewrite problem

[2022-02-15 16:12] jpgilberg commented on #27666
Hello,

After reading the information in link you sent, this featured was added (corrected) in PS 8.0. We look forward to its release.

Thank you,

Jack Gilberg

Cell: 419-234-3355

Email: ***@***.***

From: Hibatallah Aouadni ***@***.***>
Sent: Tuesday, February 15, 2022 4:04 AM
To: PrestaShop/PrestaShop ***@***.***>
Cc: jpgilberg ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/Presta

[2022-02-15 19:56] hibatallahAouadni commented on #22621
Hello everyone,

This issue has been fixed :tada:

![image](https://user-images.githubusercontent.com/23308427/154138959-a96d4695-1db2-4b85-81f1-9ca468ef0020.png)

Thanks!

[2022-02-15 19:56] #22621 closed, assigned to nobody

[2022-02-15 20:03] PrestaEdit commented on #27684
Good luck with this :)

It will be not simple to solve, imho.

[2022-02-15 20:22] maofree commented on #27625
Hi
I've another website with this error, at this time the hosting alert with an email about php errors in the log

![4](https://user-images.githubusercontent.com/653230/154142729-0a2265e6-b940-4561-af87-aec28265fdb4.png)
![11](https://user-images.githubusercontent.com/653230/154142741-ab51b1bd-f66f-4315-9570-4fd086724dab.png)

this problem is present on all website with mail alerts 2.4.2

can you

[2022-02-15 20:28] WS-NL commented on #27686
Please check url below

[https://drive.google.com/file/d/1tOq1IfWqBukYM6JX8Ywo0jL4rgVi3Bfx/view?usp=sharing](url)

[2022-02-16 06:23] Hlavtox opened #27688 "Unneeded checks in ps_checkpayment module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-16 06:23] Hlavtox opened #27689 "Unneeded checks in ps_wirepayment module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-16 07:55] rsoulard-prolaser commented on #27552
@khouloudbelguith, do i have to make a new issue?

[2022-02-16 07:58] khouloudbelguith commented on #27552
Hi @rsoulard-prolaser,

This issue is currently closed, can you open a new one with more information about your configuration & the exact steps to reproduce the issue.

Thanks!

[2022-02-16 08:48] hibatallahAouadni commented on #27688
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2022-02-16 08:51] hibatallahAouadni commented on #27689
Hello @Hlavtox

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2022-02-16 08:53] PrestaEdit commented on #27684
Ping @PierreRambaud

[2022-02-16 08:53] rsoulard-prolaser opened #27690 "Updating an attachment via the webservice does not delete the old file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Updating an attachment via the webs

[2022-02-16 08:54] rsoulard-prolaser commented on #27552
@khouloudbelguith, here the issue #27690

[2022-02-16 09:01] prestamodule commented on #27684
Same issue as https://github.com/PrestaShop/PrestaShop/issues/27603 since update to 1.7.8.3 (related to security patch) that we have on some module injecting content on the Product page in BO.
All customers updating to this 1.7.8.3 version have the issue

[2022-02-16 09:04] hibatallahAouadni commented on #11054
Hello @okom3pom

No ,it's not fixed yet cause I reproduce it on PS1783 and develop, check the attached screen record below:

https://user-images.githubusercontent.com/23308427/154231031-2ef823d7-d969-465f-aaa1-9731c3643e24.mp4

Thanks!

[2022-02-16 09:04] okom3pom commented on #27625
I can't reproduce with the default theme wich theme you use ?

[2022-02-16 09:48] maofree commented on #27625
Hi
I've checked better the code of product.tpl and ps_emailalerts.php around hookDisplayProductAdditionalInfo
I think you cannot see this error because you use the last version of prestashop and last version of classic theme, but the addons theme are not updated and not all website use the last version of prestashop.

`        <button
            data-product="{$product.id_product}"
            da

[2022-02-16 09:52] okom3pom commented on #27625
What you have in this file of your theme :

_/themes/MyTemplate/templates/catalog/_partials/product-additional-info.tpl_

[2022-02-16 09:55] maofree commented on #27625
`<div class="product-additional-info">
  {hook h='displayProductAdditionalInfo' product=$product}
</div>`

[2022-02-16 09:59] maofree commented on #27625
Iooking in 6 different themes, all of them, have the same code.
ok I can see the variable product, it is missing the class js-product-additional-info

[2022-02-16 10:03] okom3pom commented on #27625
You have a folder in `/themes/MyTemplate/modules/ps_emailalerts/templates/hook/` with `product.tpl `

Can you copy past the content ?

[2022-02-16 10:06] maofree commented on #27625
no there isn't any file product.tpl in all of these themes only
my-account.tpl
my-account-footer.tpl

so the code is get from the product.tpl of the module

I can give you the access to a website, the last one with this error that I fixed with my code

[2022-02-16 10:07] Hlavtox commented on #11144
I think the SEO expert was 20 years in jail or coma. 😄😄 More info - https://yoast.com/meta-keywords/.

In 2000, they were already nearly dead. Meta keywords were supported only by two small insignificant search engines.
In 2009, Google released an official statement where they say they never cared about keywords at all - https://www.youtube.com/watch?v=jK7IPbnmvVU.
Then you have a Bing statement f

[2022-02-16 10:15] okom3pom commented on #27625
I made a PR  : https://github.com/PrestaShop/ps_emailalerts/pull/107

[2022-02-16 10:18] maofree commented on #27625
ok thanks

[2022-02-16 10:31] okom3pom commented on #27625
Next time you can try to make a PR

https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/

Thank for report

[2022-02-16 10:49] rcoussy-16h33 opened #27692 "Product attribute not mentioned in hreflang"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The product page URL change when yo

[2022-02-16 11:28] icemansparks opened #27693 "Unable to send mails (status updates / test mail / ... ) after update from 1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The problems occured this morning a

[2022-02-16 12:40] #26503 closed, assigned to atomiix, jolelievre

[2022-02-16 12:40] Progi1984 commented on #26503
Fixed by @jolelievre & @atomiix and tested by @khouloudbelguith

[2022-02-16 13:29] matks commented on #27634
@khouloudbelguith I am not sure that this is a bug.

If, in the past, the developer who implemented the HEAD webservice management _wanted_ that HEAD requests would return no body, and it failed, then it would be a bug. Because it was wanted that no body would be returned, and this is not what's happening.

I believe actually the system was never designed to handle HEAD correctly.

So it's not a b

[2022-02-16 13:31] matks commented on #13462
@comxd Maybe it would be a good try to rely on Symfony built-in kernel events https://symfony.com/doc/current/reference/events.html

The `kernel.view` or `kernel.controller` should allow you to insert code "just before the view is built" and inject the vars you need.

Not sure it will work but that's how I would try

[2022-02-16 13:36] khouloudbelguith commented on #27634
Hi @matks,

Thanks for your feedback.
So, do we need to close this issue?

Thanks!

[2022-02-16 13:39] matks commented on #20677
Hello everyone, thank you for participating in this issue. That is very valuable information for everyone here, including people who just read and do not write.

Please just remember that SEO is very hard, even SEO experts frequently have to adjust their knowledge because of how Google changes. Every time a SEO question is asked to 6 people we get at least 3 or 4 different answers 😭 so I don't thi

[2022-02-16 13:48] matks commented on #27634
@khouloudbelguith no I think it's however something very valuable to implement. So I suggest to mark it as "Feature Request", "Developer feature"

[2022-02-16 14:10] glv-soledis opened #27695 "Bad log message"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A log message in FrontController.ph

[2022-02-16 14:16] pnshurba opened #27696 "Repeat order and gift"
![Снимок2](https://user-images.githubusercontent.com/39360984/154283059-7c359ed3-2b43-46df-af6d-1aafce9d34a5.JPG)
![Снимок](https://user-images.githubusercontent.com/39360984/154283068-444970d9-ca86-4512-8c5b-6f8518251417.JPG)
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have alrea

[2022-02-16 14:32] dennispw commented on #15869
Any steps in the right direction helps!

[2022-02-16 14:48] HanaRebaiQA commented on #27619
Thank You @atomiix for your response.
After configuring the `Webp Support `of the `php-gd extension` in the Dockerfile, the issue is fixed.
![image](https://user-images.githubusercontent.com/92912932/154287992-4787ef92-e86e-4586-90c0-9fd94e8b3cff.png)

https://user-images.githubusercontent.com/92912932/154288719-aed00f2d-5dba-4b9b-b2ea-b69b8368698f.mp4

So, i'll close the issue.

[2022-02-16 14:48] #27619 closed, assigned to atomiix

[2022-02-16 15:35] #27696 closed, assigned to nobody

[2022-02-16 15:37] Progi1984 commented on #23610
@PrestaShop/qa-functional  Could you check this issue ? I didn't reproduce it in `develop` branch.

[2022-02-16 15:38] pnshurba commented on #27696
No, I need
1 gift 1 order or 1 gift 1 cart

[2022-02-16 15:39] hibatallahAouadni commented on #27695
Hello @glv-soledis

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2022-02-16 15:39] #27695 closed, assigned to nobody

[2022-02-16 15:40] pnshurba opened #27699 "Hello @pnshurba"
Hello @pnshurba

I think you mean how to limit each gift by customer :wink: and here's how:

![image](https://user-images.githubusercontent.com/23308427/154298894-bb659aa2-115e-4772-bdfa-9966c2a25d06.png)

Then, if your customer try to reorder, he will not receive the gift again :wink:
Closing the issue as it's not a bug.

Thanks!

_Originally posted by @hibatallahAouadni in https://github.com/Pre

[2022-02-16 15:41] #27699 closed, assigned to nobody

[2022-02-16 15:44] pnshurba commented on #27696
No, I need
1 gift 1 order or 1 gift 1 cart

[2022-02-16 15:50] #21261 closed, assigned to Amoifr

[2022-02-16 15:55] MatShir commented on #16627
The behavior describe by @prestascott would be the ideal, but it is true that we can change a behavior for a specific field and not to apply to every field. The BO now is not consistent enough, and we don't want to add another layer of inconsistencies.

[2022-02-16 16:15] hibatallahAouadni commented on #27693
Hello @icemansparks

After upgrading my shop from 1.7.8.2 to 1.7.8.3, I tried to send a test mail and it works perfectly:

![image](https://user-images.githubusercontent.com/23308427/154307931-5f8ef82d-57b0-45aa-8b7c-b85320c0634b.png)

Well, you need to enable the debug mode to understand better the issue.
And it seems your issue is related to some overrides or a third-party module.
So, I'm closin

[2022-02-16 16:15] #27693 closed, assigned to nobody

[2022-02-16 17:01] papich06 opened #27701 "How to add or change Attribute type ?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-16 17:16] papich06 opened #27702 "Improvement Features"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

hello,
why is it complicated to add

[2022-02-16 20:00] fivegit opened #27704 "Multistore settings accessible by non-permissioned team members"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://youtu.be/UtOdXzM1Tnk

When

[2022-02-16 20:01] fivegit commented on #27704
jump to 1:10 to see permission error
https://www.youtube.com/watch?v=UtOdXzM1Tnk

[2022-02-16 20:13] fivegit opened #27705 "Multistore header leaks sensitive information between team members of different shops."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Employee with minimal permissions c

[2022-02-16 21:20] PrestaEdit opened #27706 "Webservice image management doesn't handle WebP"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Inside PrestaShop 8, webP format is

[2022-02-16 21:22] PrestaEdit opened #27707 "Webservice image management handle the favicon image"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-16 21:24] PrestaEdit opened #27708 "Webservice image management still expose the store_icon but this seems no more used"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The /api/images/general/store_icon

[2022-02-16 22:07] hibatallahAouadni commented on #27701
Hello @papich06

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2022-02-16 22:07] #27701 closed, assigned to nobody

[2022-02-16 22:10] hibatallahAouadni commented on #27707
Hello @PrestaEdit

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-02-16 22:15] hibatallahAouadni commented on #27706
Hello @PrestaEdit

I think it will be better if we treat this issue as a feature request rather than a bug report.
As you know we have recently integrated WebP :wink:

So thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Can't wait for your PR :muscle:

[2022-02-16 22:25] hibatallahAouadni commented on #27705
Hello @fivegit

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27377.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-02-16 22:25] #27705 closed, assigned to nobody

[2022-02-16 22:25] hibatallahAouadni commented on #27705
Duplicate of #27377

[2022-02-16 22:36] hibatallahAouadni commented on #27704
Hello @fivegit

I was able to reproduce the issue with PS1780, PS1783 and develop. It's a **regression**!

https://user-images.githubusercontent.com/23308427/154369095-0641955a-5969-4ff4-a603-6e5361cc8c4e.mp4

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is

[2022-02-16 22:37] hibatallahAouadni commented on #27704
Related to #27377

[2022-02-16 22:41] hibatallahAouadni commented on #27702
Hello @papich06

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-02-16 22:41] #27702 closed, assigned to nobody

[2022-02-16 23:01] hibatallahAouadni commented on #27692
Hello @rcoussy-16h33

Your issue seems a duplicate of this one #9508 which supposed to be fixed, but I can still reproduce the issue :scream:
And it's the opposite of this issue #26676 :exploding_head:

Ping @PrestaShop/product-team what we should do?

[2022-02-16 23:03] hibatallahAouadni commented on #26676
Opposite/Related to #27692

[2022-02-17 07:56] Progi1984 commented on #16466
@PrestaShop/qa-functional I think the bug doesn't exist anymore in `develop` branch.

[2022-02-17 07:56] khouloudbelguith commented on #23609
Hi @Progi1984,

I did not manage to reproduce the issue with develop branch

https://user-images.githubusercontent.com/16067358/154430574-b0804d57-dd0b-4bed-adbb-7210d0bd498e.mp4

Thanks!

[2022-02-17 07:56] #23609 closed, assigned to nobody

[2022-02-17 08:02] hibatallahAouadni commented on #27503
Hello @dreyser

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-17 08:02] #27503 closed, assigned to nobody

[2022-02-17 08:02] hibatallahAouadni commented on #27491
Hello @sefirosweb

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-17 08:02] #27491 closed, assigned to nobody

[2022-02-17 08:04] hibatallahAouadni commented on #27530
Hello @Hlavtox

Since we had no news from you for days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-17 08:04] #27530 closed, assigned to nobody

[2022-02-17 08:07] khouloudbelguith commented on #23609
Duplicate of #25674

[2022-02-17 08:22] khouloudbelguith commented on #23610
Hi @Progi1984,

I still have the same issue with develop branch
![image](https://user-images.githubusercontent.com/16067358/154434670-db60a75a-41a0-44ba-b88a-d80085e80ce7.png)

Thanks!

[2022-02-17 08:23] etsmes commented on #26843
I had a similar problem and it was solved with version 5.0.27 of the Correos module

[2022-02-17 08:36] webpresso-ch opened #27709 "Deactivated attributes create a hyphen after product name in the order confirmation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you have deactivated attributes

[2022-02-17 09:18] jf-viguier commented on #26676
@hibatallahAouadni it's not the oposite : hreflang should be with combination, product link in category : should not.

[2022-02-17 09:28] Hlavtox commented on #26676
We need to be extra careful when changing this.❗A lot of things we can break.

[2022-02-17 12:15] NeOMakinG commented on #27318
@MatShir

We're going to need this feature soon inside the new theme as it begins to be more mature, do you think a backend dev can think about it?

[2022-02-17 12:36] intraordinaire commented on #11388
We tried to reproduce on a 1.7.6.8 version with @sowbiba.
The module Chronopost installation does not work, but, we are not redirected, and the error is displayed correctly in the Carriers page.

[2022-02-17 12:55] #26985 closed, assigned to atomiix

[2022-02-17 12:55] #27311 closed, assigned to atomiix

[2022-02-17 12:56] Saimis777 opened #27713 "Import Theme from the web: entering a random bad URL display exception"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When entering a random bad URL to t

[2022-02-17 12:59] MatShir commented on #11388
@intraordinaire Maybe check on the 1.7.8.3 to be sure ?
In any case, I'm closing the issue. It is not related to the core. Feel free to copy it for the MBO repo :)

[2022-02-17 12:59] #11388 closed, assigned to nobody

[2022-02-17 13:04] hibatallahAouadni commented on #27690
Hello @rsoulard-prolaser

In my case, the update of file from WS didn't work and it always return an empty response, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/154483666-945817f3-ff8b-4d74-a558-22fd8d7aa0d0.png)

And when I check the `my_shop/download` I can't see the new updated file.
Ping @PrestaShop/qa-team can someone please try to reproduce

[2022-02-17 13:21] hibatallahAouadni commented on #27708
Hello @PrestaEdit

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must complete the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2022-02-17 13:21] #27708 closed, assigned to nobody

[2022-02-17 13:30] #27686 closed, assigned to nobody

[2022-02-17 13:31] PrestaEdit commented on #27708
Please, let see a dev about this. I've taken the form as needed. Thanks.

Or you ask me to change the description, but never close an issue as it, please.

[2022-02-17 13:46] matthieu-rolland commented on #27540
fixed #27700

[2022-02-17 13:55] hibatallahAouadni commented on #27713
Hello @Saimis777

I was able to reproduce the issue with PS1778 & PS1783. I’ll add this to the debug backlog so that it’s fixed.
As for the expected behavior, it should be like that:

![image](https://user-images.githubusercontent.com/23308427/154496045-7d35410a-a563-4c34-ae23-84fb4a4bf13a.png)

Please be aware that due to the high number of reported issues, some bugs might take a very long time t

[2022-02-17 15:37] Hlavtox commented on #26771
That PR is one of the best things that was added to Prestashop, please save it. ❤️

[2022-02-17 15:54] matks commented on #26771
@Hlavtox the final decision has yet to come but as I mentioned I plan to be in the "let's not merge this PR" group 😅 for the reasons I explained above

I am listening though 😊

[2022-02-17 16:01] Hlavtox opened #27715 "Backoffice category validation errors are generalized to single exception"
### Describe the bug and add screenshots

When editing a category in backoffice, all validation errors are merged into a single exception and the merchant does not have a single clue what went wrong.

When you add special characters into link rewrite, you get shown this:
![develop](https://user-images.githubusercontent.com/6097524/154520305-0f9d56be-df07-4fb1-be14-47810ea1bb57.png)

### Expected b

[2022-02-17 16:04] Hlavtox opened #27716 "Unable to set link rewrite to brands and suppliers."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-17 16:43] hibatallahAouadni commented on #27715
Hello @Hlavtox

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15490.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-02-17 16:43] #27715 closed, assigned to nobody

[2022-02-17 17:35] jf-viguier opened #27717 "BO - HelperList: notice if specificConfirmDelete is set to false"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In an HelperList with specificConfi

[2022-02-17 17:58] WS-NL commented on #27686
Your categorie do not have the parent categorie with sub categories inside like my video.
We tested this on a few different live environments and its all there.

[2022-02-17 18:25] hibatallahAouadni commented on #27709
Hello @webpresso-ch

Could you please provide a screen record or a screenshot :pray:
Waiting for your feedback.

Thanks!

[2022-02-17 18:50] hibatallahAouadni commented on #18838
Hello @okom3pom

Yep :tada: it's been fixed!
Closing the issue.

Thanks!

[2022-02-17 18:50] #18838 closed, assigned to nobody

[2022-02-17 18:54] hibatallahAouadni commented on #22809
Hello @barda

Since we had no news from you for over a year, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-17 18:54] #22809 closed, assigned to nobody

[2022-02-17 19:04] hibatallahAouadni commented on #27708
Hello @PrestaEdit

All right :sweat_smile: so could please provide steps to reproduce and describe the expected behavior :pray:
Ping me when you're done and I will reopen it :wink:

Thanks!

[2022-02-17 19:19] hibatallahAouadni commented on #16466
Hello everyone,

It seems those advertisement are not displayed any more :tada:
So we have no issue :wink:

![image](https://user-images.githubusercontent.com/23308427/154554578-7f9b67fe-b525-405f-a127-73514491fe5d.png)

Closing the issue!
Thanks.

[2022-02-17 19:19] #16466 closed, assigned to nobody

[2022-02-17 20:03] #27540 closed, assigned to matthieu-rolland

[2022-02-17 20:04] #16400 closed, assigned to Progi1984

[2022-02-17 21:02] duongductuan opened #27721 "Gsitemap PHP message: PHP Notice: Trying to access array offset on value"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When Generate Sitemap I get the fol

[2022-02-17 23:07] MatShir commented on #16306
It seems to be fixed in the new product page @hibatallahAouadni. Could you double-check ? ;)

[2022-02-18 00:56] mickaelandrieu commented on #26771
The idea may be one of the best things (thanks ! it was mine 😜) but the way I did it was crap !

 This is _exactly_ my point of view, I'm thinking about Parameters Bag in the Symfony Framework : this could be a "Additional Features" Bag in the PrestaShop Object Model.

I'm not the best person to do this implementation : I can, but you probably won't merge it 😁

One day, we will have to talk about

[2022-02-18 06:19] SD1982 commented on #27029
Hi @hibatallahAouadni @saulaski did a PR #27722 that can be linked with this issue.
Thanks @saulaski :+1:  !!

[2022-02-18 09:42] mark-app opened #27724 "head_hreflang and html lang fix"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As an example: If I install the lan

[2022-02-18 09:49] mark-app commented on #27724
It can by fixed in the Frontcontroler and the template files where <html lang= is set.

In classes/controller/FrontController.php function public function getTemplateVarShop()

After 'lat' => Configuration::get('PS_STORES_CENTER_LAT'), add :

'locale' => strtolower($this->context->language->iso_code).'-'.strtoupper(Configuration::get('PS_LOCALE_COUNTRY')),

In classes/controller/FrontController.ph

[2022-02-18 10:18] myB0B commented on #27477
Same problem here !

@hugofintecture how you do that ? > So instead of redefining the template we now use {extends "$layout"} and it works.

[2022-02-18 10:38] #23605 closed, assigned to Progi1984

[2022-02-18 10:50] matks commented on #25975
@NeOMakinG should we close this topic?

https://build.prestashop.com/news/new-theme-announce/

[2022-02-18 10:57] mark-app opened #27725 "SEO error ItemList position product list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Prestashop template file the

[2022-02-18 10:58] mark-app commented on #27725
The Problem can be fixed.

Go to the theme file themes/classic/templates/_partials/microdata/product-list-jsonld.tpl

Change this:

"position": {$position},

To:

"position": {$smarty.foreach.productsForJsonLd.iteration},

[2022-02-18 11:32] HanaRebaiQA commented on #27724
Hello @mark-app

Thanks for your report!
I tried to reproduce your issue using your mentionned steps. But i have a different result.

[code]
instead of what you have :

[code]
![image](https://user-images.githubusercontent.com/92912932/154674709-c196cb87-6058-4aab-9f45-05f1c7821152.png)

https://user-images.githubusercontent.com/92912932/154674384-32604875-c7e1-4f3e-8f0a-fe5922a6bea3.mp4

What do

[2022-02-18 11:50] HanaRebaiQA commented on #27725
Hello @mark-app

Thanks for your report!
Could your please provide us a screen-shot/screen-record to be able to find the exact element location `@type": "ItemList` ?

Thank you!

[2022-02-18 11:59] Patrick-Gugelsberger opened #27726 "Add possibility to prevent StockAvailable::updateQuantity on canceled order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-18 12:11] kpodemski commented on #27726
This is a very specific case. Overrides seem to be the best solution for you. That's just my opinion, of course.

[2022-02-18 12:20] mark-app commented on #27725
<img width="994" alt="Schermafbeelding 2022-02-18 om 13 19 13" src="https://user-images.githubusercontent.com/6554157/154681937-e14af239-123e-444b-8c27-fc0d7701fd28.png">

[2022-02-18 12:24] mark-app commented on #27724
@HanaRebaiQA

Your version should have:

[code]

[2022-02-18 12:37] MiguePapel opened #27727 "Ean-13 is not visible in the product details."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Specific product references are not

[2022-02-18 12:46] MiguePapel commented on #26638
This possibility existed in V 1.6. Why is it limited?
It is essential to work with clients who do not handle the web well.

[2022-02-18 13:20] BenTen commented on #27727
#15783 ?

[2022-02-18 13:23] matks commented on #27639
➡️  a demo module would be very great ;)

[2022-02-18 13:44] hugofintecture commented on #27477
Just like this:
[code]

[2022-02-18 13:52] klaurenson opened #27728 "Uncaught SyntaxError: Identifier 'moduleCardController' has already been declared - module_card.js?1.7.8.3"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO Product page is stuck because of

[2022-02-18 14:05] papich06 commented on #27701
Hello @hibatallahAouadni ,
this is a new feature for combinations
https://doc.prestashop.com/display/PS17/Managing+Product+Attributes

By default, Prestashop only provides 3 types of attributes. How to add new ones and format them?

[2022-02-18 14:08] papich06 commented on #27702
Hello @hibatallahAouadni ,

Here too it is a new functionality for do we have to buy a new module to group the characteristics and design the technical sheet of a product?

see this plugins
https://addons.prestashop.com/fr/declinaisons-personnalisation/48405-groupes-de-caracteristiques.html

[2022-02-18 14:16] kelta opened #27730 "Module ps_facetedsearch Prestashop 1.7.7.8"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The module has a bug in the search

[2022-02-18 14:17] HanaRebaiQA commented on #27727
Hello @MiguePapel

Thanks for your report!
Could you please provide us more information about the steps to reproduce and some screen-shots/screen-record ?

Thank you!

[2022-02-18 14:21] HanaRebaiQA commented on #27730
Hello @kelta

Thanks for your report!
Could you please provide us more information and some screen-shots/screen-record to can reproduce your issue?

Thank you!

[2022-02-18 14:37] HanaRebaiQA commented on #27728
Hello @klaurenson

Thanks for your report!
It's duplicate of https://github.com/PrestaShopCorp/ps_mbo/issues/109

So, i'll close the issue

[2022-02-18 14:37] #27728 closed, assigned to nobody

[2022-02-18 14:38] HanaRebaiQA commented on #27728
Duplicate of [#109](https://github.com/PrestaShopCorp/ps_mbo/issues/109 )

[2022-02-18 14:50] hibatallahAouadni commented on #27727
Hello @BenTen

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15783.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-02-18 14:50] #27727 closed, assigned to nobody

[2022-02-18 14:51] hibatallahAouadni commented on #27727
PS: @BenTen this issue has been fixed with the new next major version 8.0.0 :wink:

[2022-02-18 14:56] florine2623 commented on #27717
ping @PrestaShop/prestashop-core-developers ,

Could someone try to reproduce the issue ? It is too technical for me !
Thnaks!

[2022-02-18 15:20] BenTen commented on #27727
Not me, I just reply to the author of the ticket.

[2022-02-18 15:31] tups opened #27731 "Multishop Category Default"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the case of a Prestashop Multish

[2022-02-18 15:32] MiguePapel commented on #27727
Gracias

[2022-02-18 15:47] florine2623 commented on #27724
Hello @mark-app ,

I can't reproduce your issue. Here's what I have with PS 1.7.8.3 - PHP 7.4:
<img width="808" alt="Screenshot 2022-02-18 at 16 45 34" src="https://user-images.githubusercontent.com/16019289/154715036-6aaeec62-f1ba-458c-a423-0838fccf9925.png">
<img width="560" alt="Screenshot 2022-02-18 at 16 46 08" src="https://user-images.githubusercontent.com/16019289/154715058-0203058f-7ece-4c

[2022-02-18 15:58] florine2623 commented on #27731
Hello @tups ,

Is your issue similar to https://github.com/PrestaShop/PrestaShop/issues/22610 ?

Thanks!

[2022-02-18 16:10] florine2623 commented on #27725
Hello @mark-app ,

I have reproduced your issue in PS 1.7.8.3 and on develop branch, so I can confirm that this behavior is indeed a bug.

<img width="871" alt="Screenshot 2022-02-18 at 17 06 22" src="https://user-images.githubusercontent.com/16019289/154718755-9552e04d-1205-4921-b3c5-637c05e3cb04.png">

It should be like the `"@ type": "BreadcrumbList"` above.

Could you create a PR as you know h

[2022-02-18 16:13] matks commented on #27724
⚠️

[2022-02-18 16:16] matks commented on #27724
🔴

[2022-02-18 16:18] matks commented on #27724
🟠

[2022-02-18 17:11] NeOMakinG commented on #25975
Yeah close it, if someone wants to speak about something, we now have issues inside the theme repo

[2022-02-18 17:11] #25975 closed, assigned to nobody

[2022-02-18 17:11] NeOMakinG commented on #25975
Thanks everyone :)

[2022-02-18 17:34] khouloudbelguith opened #27733 "[Autoupgrade to develop] An exception is displayed in the Module Catalog page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from a previous ve

[2022-02-18 17:37] khouloudbelguith opened #27734 "[Autoupgrade to develop] An exception is displayed in the SEO & URLs page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from a previous ve

[2022-02-18 17:44] khouloudbelguith opened #27735 "[Autoupgrade to develop] The new menu security is not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from a previous ve