[2019-07-23 08:38] Thomas-lhuillier opened #14818 "Wrong 'create an account' link on sitemap page"
**Describe the bug**
When going on the sitemap, then clicking on "create new account" link, it's taking me to the authentication form instead of the registration form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sitemap page
2. Click on 'create new account'

**Additional information**
PrestaShop version: 1.7.6

[2019-07-23 08:53] khouloudbelguith commented on #14814
Hi @jlorquin,

The child theme used from the classic theme as a parent or the Warehouse theme?

Thanks!

[2019-07-23 09:10] khouloudbelguith commented on #14818
Hi @Thomas-lhuillier,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.6.0.
https://drive.google.com/file/d/1BmpsatpNTcH5hhIv-ASAC1MK3glgl0Bl/view
Great for the PR.

Thanks!

[2019-07-23 09:11] khouloudbelguith commented on #14814
@jlorquin, in my case, I use this child theme with PS1.7.6.0 & it is OK.
[mythem.zip](https://github.com/PrestaShop/PrestaShop/files/3421203/mythem.zip)
Thanks!

[2019-07-23 09:13] matks commented on #14785
We need to fix this bug _and_ add Behat tests to make sure it does not come back 😄

[2019-07-23 09:21] khouloudbelguith commented on #14811
Hi @vallka, @MKV-Rob,

We are aware of this issue, it is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/14620 which fixes those issues: https://github.com/PrestaShop/PrestaShop/issues/14617 similar to your problem @vallka & this issue https://github.com/PrestaShop/PrestaShop/issues/14591 similar to your problem @MKV-Rob.

Your ticket is a duplicate of #14617
So, I close it.
Than

[2019-07-23 09:21] #14811 closed, assigned to nobody

[2019-07-23 09:33] khouloudbelguith commented on #14816
Hi @banan44,

I did not manage to reproduce your issue with PS1.7.6.0. & the ps_mainmenu module v2.1.1.
Multishop is enabled & I used your themes for the first shop & the second shop.
I attached a screen record
https://drive.google.com/file/d/1K_ChPvA0QJKfFzsGxpatQg9L-AyB4YoH/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - ser

[2019-07-23 09:36] flyman30 commented on #14648
Pending the correction of the future 1.7.6.1 how do we sell?
Do you have any corrections that we could make on our shop that were in 1.7.5.2 update in 1.7.6.0? The corrections of the ps_currency table have solved a small part of the problem, when did the correction of the non-validation in prestashop of the bank's returns?

[2019-07-23 09:36] khouloudbelguith commented on #14648
@123monsite-regis, in your Database, table `ps_currency`, thanks to change the precision from `6` to `2`.
Thanks to check & feedback.

[2019-07-23 09:40] khouloudbelguith commented on #14792
@jasonchemama,

Your issue is not a PrestaShop's core bug but a customization problem (`override/controllers/front/ProductController.php`)
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-23 09:40] #14792 closed, assigned to nobody

[2019-07-23 09:42] bigbizyou opened #14820 "PLOrder->id_order est vide. at line 984 in file classes/ObjectModel.php"
**Describe the bug**
I have the next message when i try to consult or edit commands from back-office :

[PrestaShopException]
La propriété PLOrder->id_order est vide.
at line 984 in file classes/ObjectModel.php

979.             }
980.
981.             $message = $this->validateField($field, $this->$field);
982.             if ($message !== true) {
983.                 if ($die) {
984.

[2019-07-23 09:50] khouloudbelguith commented on #14722
@msautral, could you please try to follow these steps:
- Go to this link: http://shop.com/modules/ps_linklist/config.xml
- Check the exact version displayed in your module
[code]
![image](https://user-images.githubusercontent.com/16067358/61702218-560cd980-ad37-11e9-8532-05d1255d689e.png)
- Try to upgrade your module
- Go to this link: http://shop.com/modules/ps_linklist/config.xml again & check t

[2019-07-23 09:52] khouloudbelguith commented on #14820
Hi @bigbizyou,

You have an issue with the `packlink` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2019-07-23 09:52] #14820 closed, assigned to nobody

[2019-07-23 10:07] PierreRambaud commented on #14801
Not sure the faceted search module can be hooked on all modules :disappointed:
But this is why we add a Clear Cache button. But we can maybe improve the php code to catch some errors :+1:
Is it only occurred with pscleaner?

[2019-07-23 10:24] MathiasReker commented on #14801
@PierreRambaud I did only have the issue after using pscleaner. The clear cache button on the module does not solve the issue. I have to delete this item or reset the module.

![image](https://user-images.githubusercontent.com/26626066/61704760-b9513880-ad44-11e9-8aa3-e0a8bd0690a3.png)

[2019-07-23 10:28] vallka commented on #14811
Ok, you closed it, it's fine for you.

But what I am supposed to do? Migrate to X-cart I suppose..... How can I
upgrade my Prestashop to the latest version?

------ Original Message ------
From: "khouloudbelguith" <notifications@github.com>
To: "PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc: "Valentine" <vallka@vallka.com>; "Mention"
<mention@noreply.github.com>
Sent: 23/07/2019 10:22:

[2019-07-23 10:28] jlorquin commented on #14814
@khouloudbelguith

It was the warehouse child theme. I guess the problem comes from the developer's side! Thanks for checking.

[2019-07-23 10:28] #14814 closed, assigned to nobody

[2019-07-23 10:31] khouloudbelguith commented on #14811
@vallka, PS1.7.6.1 will be released soon, this issue is fixed in the PS1.7.6.1.
I just tested the upgrade from PS1.7.5.2 to PS1.7.6.1(where this PR is included) & it is OK.

Thanks!

[2019-07-23 10:31] khouloudbelguith commented on #14814
@jlorquin, thanks!
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-23 10:33] khouloudbelguith commented on #14806
@pkshetlie,

How did you disabled the Overrides & the non native modules?

Thanks!

[2019-07-23 10:45] khouloudbelguith commented on #14595
Hi @presciak,

Did you try to change the precision to `2` in your table `ps_currency`?

Thanks!

[2019-07-23 10:48] khouloudbelguith commented on #14643
@LocalHeroPro, what is the exact Language/Country did you used during the install of PrestaShop1.7.6?

Thanks!

[2019-07-23 10:54] pkshetlie commented on #14806
@khouloudbelguith via the backoffice (performance) for non native and override
and I uninstall  MY modules, then go to override folder and check that everything is removed

[2019-07-23 10:55] Bettelstab opened #14821 "Moving in browser history does not work with product pagination"
Going backward/forward in product overview (e.g. search results) should behave as expected (actually go back/forward to the respective page)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://brave-relation.demo-ms.production.prestashop.com/en/2-home
2. Click on 'Next' or '2'
3. Go backwards in browser (arrow or swipe)
4. We stay on page 2 :(

PrestaShop version: Not sure, I guess

[2019-07-23 10:59] khouloudbelguith commented on #14787
Hi @Arnaldo405,

I tried with PS1.7.5.2 after upgrade from PS1.7.4.4 using the 1-click upgrade v4.9.0. & it is OK.
I tried to translate the classic theme in a Deutch language & it is OK.
I attached a screen record
[AwesomeScreenshot-2019-07-23T10-56-30-324Z.zip](https://github.com/PrestaShop/PrestaShop/files/3421681/AwesomeScreenshot-2019-07-23T10-56-30-324Z.zip)
Thanks to check & feedback.

[2019-07-23 11:02] khouloudbelguith commented on #14806
@pkshetlie, the option "Disable non PrestaShop modules" doesn't work as reported in this issue: https://github.com/PrestaShop/PrestaShop/issues/9965 & the "Disable all overrides" doesn't work as reported here: https://github.com/PrestaShop/PrestaShop/issues/14596

Thanks to check & feedback

[2019-07-23 11:08] khouloudbelguith commented on #14821
Hi @Bettelstab,

You need to access to the FO from your BO, the exact URL for this is not generated in this case.
I attached a screen record
[AwesomeScreenshot-2019-07-23T11-06-58-526Z.zip](https://github.com/PrestaShop/PrestaShop/files/3421716/AwesomeScreenshot-2019-07-23T11-06-58-526Z.zip)

Thanks to check & feedback.

[2019-07-23 11:10] Bettelstab commented on #14821
What file format is that? I cannot read it...

[2019-07-23 11:13] khouloudbelguith commented on #14621
@cartomatica73, In your log file you have this error

In your php.ini file, Try to increase:
[code]

Did you the default theme Classic?

Thanks!

[2019-07-23 11:15] khouloudbelguith commented on #14821
@Bettelstab, here's the screen record
https://drive.google.com/a/prestashop.com/file/d/18ydgnwzluF0fAA0iXkuyZ4_3VkTLbGb6/view?usp=drivesdk

Thanks!

[2019-07-23 11:22] Bettelstab commented on #14821
See updated post :)

[2019-07-23 11:22] rudSarkar opened #14822 "Duplicate cookies set"
**Issue detail**
The application attempted to set the following cookie to multiple values:
[code]

`Host: http://127.0.0.1`
`Path:  /prestashop/login`

**To Reproduce**
Steps to reproduce the behavior:
- Go to Login page

[code]

- You will get response while you intercept the request
[code]
- As you can see in this response that there is multiple `PrestaShop-71ac61b434afc5fbf53e2316aae30bb2` cook

[2019-07-23 11:33] yoss55 opened #14823 "payment modules are in error with version 1.7.6.0"
Hi ,
i have an error when a customer pays a command, instead of having a state "accepted payement, i have two dashes.
and i also have this error in the file 'log' : [Tue Jul 23 11:29:15.790635 2019] [php7:error] [pid 11988] [client 160.92.133.135:36616] PHP Fatal error:  Uncaught Error: Call to a member function get() on null in /www/classes/Tools.php:801\nStack trace:\n#0 /www/classes/Tools.php(7

[2019-07-23 11:43] rednour commented on #14595
Hi,
Delete all rows with `id_currency` == 1 from  `ps_orders`

[2019-07-23 12:32] khouloudbelguith commented on #14823
Hi @yoss55,

You have an issue with your module `atos`.
Have you tried to contact the module author?

Thanks to check with them & feedback.

[2019-07-23 12:37] zulus opened #14826 "no_picture_image overwrite flag_image"
**Describe the bug**
It's not possible to upload no_picture_image

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Internation / Localization / Languages
2. Click on Edit Language
3. Select "No-picture" image
4. Save
5. Flag image will be overwriten

**Additional information**
PrestaShop version: 1.7.6
PHP version: Doesn't matter

**Solution** Edit PrestaShop\PrestaShop\Core\Form\Identi

[2019-07-23 12:37] khouloudbelguith commented on #14801
@MathiasReker, yes, after importing new products, the issue occurs again.
I need to delete the template to resolve the issue.

Thanks!

[2019-07-23 12:41] PierreRambaud commented on #14801
What the pscleaner or import are really doing? :scream: Are they changing features ids?

[2019-07-23 12:42] yoss55 commented on #14823
i contacted ATOS and they told me that everything is okay in their sides
they told me to contact prestashop but there's no way to be helped by them

[2019-07-23 12:44] colinegin commented on #14685
@eternoendless @PrestaShop/prestashop-core-developers do you know why this feature was removed ? Do you think it is useful to put it back ?

[2019-07-23 12:46] khouloudbelguith commented on #14821
@Bettelstab, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1.
https://drive.google.com/file/d/1Z94vKLUwfcAR6oVDfScImRnT9QaUxAqn/view
This issue occurs when a friendly URL is enabled & disabled.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
T

[2019-07-23 12:48] MathiasReker commented on #14801
Yes, the pscleaner does: https://github.com/PrestaShop/pscleaner/blob/master/pscleaner.php

[2019-07-23 12:49] khouloudbelguith commented on #14801
@PierreRambaud, the database is clean, first product created => id  == 1

[2019-07-23 12:50] khouloudbelguith commented on #14823
@yoss55, did you make an upgrade from a previous version PrestaShop?

Thanks!

[2019-07-23 12:54] MathiasReker commented on #14801
Actually I don't see the problem in that. Maybe there should just be a warning i pscleaner saying that some features might need a reset?

[2019-07-23 12:54] yoss55 commented on #14823
no , it's new prestashop , and i tested it with 3 anothers prestashop 1,7,6 (UPGRATED) and i have the same problem

[2019-07-23 12:55] reiner56 commented on #14733
I have the same Problem with two shops 1.7.6

[2019-07-23 12:57] khouloudbelguith commented on #14823
@yoss55, did you tried to check another payment method?

Thanks!

[2019-07-23 12:58] khouloudbelguith commented on #14826
Hi @zulus,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0.
It is Ok with PS1.7.5.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-23 12:59] digeek commented on #14823
same errors with another payment plugin (Worldline Sogenactif 2.0)

`
[Tue Jul 23 12:46:46.407490 2019] [:error] [pid 163123:tid 140027266819840] [client 160.92.133.135:19330] FastCGI: server "/home/clients/e4cb1ca1a4bb2cef9b6243f15067ebaeaz/.config/apache/www.domain.tld/.fpm/php5.external" stderr: PHP message: PHP Fatal error: Uncaught Error: Call to a member function get() on null in /home/clien

[2019-07-23 13:05] matks commented on #14826
Addendum for people like me that dont understand what "no picture image" is 😅 : it's the picture displayed when no other picture is available

[2019-07-23 13:08] yoss55 commented on #14823
yes i don't have problem with another payment method

[2019-07-23 13:10] khouloudbelguith commented on #14823
@yoss55, Could you please provide me the exact module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-23 13:12] JulianEberius commented on #14790
Hi everyone,

I have the same issue. The CategoryConstraintException 6 happens on every edit of every category, and also when creating new categories. I updated to 1.7.6.0 using the 1-click updater. I was on the the most recent 1.7.5 before and the categories did work. I use the most recent Apache and PHP 7 that come with Ubuntu 18.04 .

My Javascript console (Safari/MacOS) shows "Error: Syntax er

[2019-07-23 13:14] templatin opened #14827 "Issue with Product Comments module"
I have installed Product Comments module (v4.0.0) on fresh installation of PS 1.7.6.0.
The contents of product comments module are not displayed.
After enabling debug mode, it shows below  error:
`Class PrestaShop\Module\ProductComment\Repository\ProductCommentRepository does not exist.`

[2019-07-23 13:17] PierreRambaud commented on #14826
Fixed in https://github.com/PrestaShop/PrestaShop/pull/14828

[2019-07-23 13:19] khouloudbelguith commented on #14822
Hi @rudSarkar,

Thanks for your report.
I have the same issue with PS1.7.6.0 & PS1.7.5.2.
With PS1.7.6.0
[code]

With PS1.7.5.2, I have this:
[code]

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-23 13:29] khouloudbelguith commented on #14827
Hi @templatin,

 I did not manage to reproduce the issue with PS1.7.6.0 & the product comments module v4.0.0.
I attached a screen record
https://drive.google.com/file/d/1BhvG0ZUftJzm746t3znOHfmVlClK8Pqi/view
Did you installed this module from the BO => Module Catalog page?

Thanks!

[2019-07-23 13:38] fachies opened #14829 "Cannot enable Geolocation by IP address"
**Describe the bug**
I cannot enable Geolocation by IP address.

**To Reproduce**
Steps to reproduce the behavior:
When I go to Prefereces/Geolocation,
the page tells me download a file into my server:
![image](https://user-images.githubusercontent.com/496830/61716496-941df380-ad5f-11e9-9545-8edce071e71e.png)

When I click to the link to download the file, I see the link is broken:
![image](https:

[2019-07-23 13:44] templatin commented on #14827
@khouloudbelguith Thanks for prompt reply.
Yes, I did in the same way as yours. I'm working on localhost (wamp) and tested it twice with fresh PS and got same issue each time.

[2019-07-23 13:54] khouloudbelguith commented on #14829
@fachies, I did not manage to reproduce the issue with PS1.7.6.0.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and

[2019-07-23 13:54] #14829 closed, assigned to nobody

[2019-07-23 14:05] khouloudbelguith commented on #14827
@templatin, could you please try with this module
[productcomments.zip](https://github.com/PrestaShop/PrestaShop/files/3422442/productcomments.zip)
check & feedback.

Thanks!

[2019-07-23 14:10] khouloudbelguith commented on #14790
@JulianEberius, I did not manage to reproduce the issue with PS1.7.6.0 after upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-23 14:12] nielsverhoeven84 opened #14830 "Visitor gets free shipping displayed in shopping cart, although price is lower than the value set for free shipping"
For 1 of my multistore shops I always want to use a shipping cost, currently it shows free shipping, although it is filled at the shipping preferences.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.cardinalrouge.fr/chardonnerets/631-394-chardonneret-major-classique.html#/65-sexe-male
2. Order the product
3. `Frais de port : gratuit` is displayed (`Shipping cost: free`)

T

[2019-07-23 14:17] khouloudbelguith commented on #14830
Hi @nielsverhoeven84,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13517 to fix the issue.
It is added to the PS1.7.7.0 milestone.
Your ticket is a duplicate of #10739
So, I close it.
Thanks!

[2019-07-23 14:17] #14830 closed, assigned to nobody

[2019-07-23 14:17] khouloudbelguith commented on #14830
Duplicate of #10739

[2019-07-23 14:32] nielsverhoeven84 commented on #10739
How can I set the translation of this `not calculated` text it doesn't show up in my translations section

[2019-07-23 14:48] Progi1984 commented on #14157
@samuel-pires Finally, it's that ?

**Describe the solution you'd like**
1/ The list of invalid characters triggering the error message should be updated. New list:
0-9!<>,;?=+()@#"°{}_$%:/\`^*¤|[]
If a dot ( . ) is not followed by a space, it is considered invalid as well.

2/ The tips under the firstname and lastname fields should be replaced by:

3/ New error Message when using an invalid chara

[2019-07-23 15:00] agnesdennetiere opened #14831 "Image product quality in import"
Hello,

I am using the import tool to create products, and I just realized that images were of bad quality when created through import.
When I regenerate images in backoffice, quality is OK
When I create an image in backoffice product form, quality is OK.

I tried to changed the quality from 5 to 9 in AdminImportController and even in ImageManager (the default value in the resize function) but the

[2019-07-23 15:03] samuel-pires commented on #14157
Here it is:

[2019-07-23 15:13] msautral commented on #14722
HI there are no modules to upgrade, lets wait

[2019-07-23 15:19] MKV-Rob commented on #14811
@khouloudbelguith - that's good news - thanks for it. Any ETA for 1.7.6.1?

[2019-07-23 15:22] templatin commented on #14827
It works with your zip!!
It has "vendor" folder which I didn't get in downloaded zip from github.

[2019-07-23 15:25] samuel-pires commented on #14157
Hi @Progi1984, the modification on the Chinese dot (。) was only about the wording for the tips. It has to remain in the validation regex, we have to use the same regex in FO and BO.

**Describe the solution you'd like**

1/ The list of invalid characters triggering the error message should be updated. New list:
0-9!<>,;?=+()@#"°{}_$%:/`^*¤|[]
If a dot ( . or 。) is not followed by a space, it is co

[2019-07-23 15:26] customvalencia opened #14832 "Decimales en el carriro"
Tengo configurado mostrar dos decimales y en el carrito muestra 6 decimales

PrestaShop version: 1.7.6
PHP version: N/
Web: www.regaloslovel.es

[2019-07-23 15:29] Arnaldo405 commented on #14787
Hi @khouloudbelguith

Thanks for your reply.

Besides all the other things I tried, I had already updated the version of 1-Clickupgrade, as you can see in the screenshot.
Also I attached some screenshots of errors I received.
Can there be the solution of the problem?
Thanks in advance
![1_clickupgrade](https://user-images.githubusercontent.com/53099784/61725120-78224e00-ad6f-11e9-90e2-744255a8ad15

[2019-07-23 15:41] khouloudbelguith commented on #14827
@templatin, it is normal behavior, if you cloned it from GitHub, you need to run `composer install`
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-23 15:41] #14827 closed, assigned to nobody

[2019-07-23 15:43] khouloudbelguith commented on #14787
@Arnaldo405, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Also, you have permission denied on your server, you need to change the permission.

Thanks!

[2019-07-23 15:48] khouloudbelguith commented on #14832
Hi @customvalencia,

English is the norm on this bug tracker.
This issue related to this problem: #14608.
This issue should be fixed in the next release 1.7.6.1.
To solve your issue, you need to update your database => table `ps_currency` precision from `6` to `2`.

Thanks to check & feedback.

[2019-07-23 15:51] khouloudbelguith commented on #14831
Hi @agnesdennetiere,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-23 15:55] agnesdennetiere commented on #14831
For me, it is a bug.
If I configure "9" as a image quality and my images in the import are like a 5, it is not normal.

[2019-07-23 15:58] khouloudbelguith commented on #14831
@agnesdennetiere, This value is changed from the Prestashop BO => image settings page?

Thanks!

[2019-07-23 16:04] yoss55 commented on #14823
did you receive my mail ?

[2019-07-23 16:05] flyman30 commented on #14608
https://www.prestashop.com/forums/topic/997100-validation-commande-impossible-avec-e-transaction-paybox/

[2019-07-23 16:05] agnesdennetiere commented on #14831
Yes I have 90 for jpeg (I think this is the default value for prestashop)
![image](https://user-images.githubusercontent.com/4499399/61727761-2e883200-ad74-11e9-8fba-70225cb81581.png)
It is not overrided by a shop value
Plus, this is working when I upload my image in the product form in the backoffice, or if I regenerate images: the image is in thoses cases with a good quality (90)

[2019-07-23 16:08] khouloudbelguith commented on #14831
@agnesdennetiere, could you please provide me the exact image that you uploaded iit during the import to check the quality of this image.

THanks!

[2019-07-23 16:09] PierreRambaud commented on #14801
If this module is changing all ids, many other modules must have a similar problem :scream:

[2019-07-23 16:10] khouloudbelguith commented on #14823
@yoss55, I just installed the `atos` module.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-07-23 16:11] flyman30 opened #14834 "The validation of the bank is not taken into account by PrestaShop 1.7.6.0"
Hello everyone.

I am looking to install the Crédit Agricole E-transaction module (Paybox) on my Prestashop 1.7.6 site.

When I try to place an order to check the correct operation of my module. I receive by mail, a Paybox payment ticket telling me the transaction has taken place. But Prestashop does not validate the order. However, it is well created in the database and in BO but is simply not va

[2019-07-23 16:13] khouloudbelguith commented on #14834
Hi @flyman30,

Have you tried to contact the module author?
Thanks to check with them & feedback.

[2019-07-23 16:19] GiorgioCarttoni commented on #14832
Si, ya se está tratando en la incidencia que indican. Vaya pedazo de chapuza de actualización.

Yo he modificado en la tabla ps_currency la columna precision de 6 cambiado a 2(son los decimales) y el ISO de la moneda. Me funciono en un par de pedidos, pero ahora de nuevo nada. Error por todos lados, si puedes vuelve a la versión anterior.

[2019-07-23 16:19] agnesdennetiere commented on #14831
Here is a zip with the original image, the image created when the product is created via import, and the image created in a classic way in the product form in the backoffice
[prestashop-images.zip](https://github.com/PrestaShop/PrestaShop/files/3423085/prestashop-images.zip)

[2019-07-23 16:19] MathiasReker commented on #14801
@PierreRambaud not in practice, because you will run pscleaner to erase demo data and then start configuring modules.

[2019-07-23 16:22] flyman30 commented on #14834
297/5000
Yes of course, everything works except that Prestashop 1.7.6.0 does not able to receive validation data, so do not update the orders and do not send emails.
There are dozens (see more) of shop impacted by this bug, look at the forum fr PrestaShop it's edifying!

[2019-07-23 16:25] marionf commented on #14769
Hello @nielsverhoeven84

To be sure to well understand, you want brands to be displayed in front-office in faceted search (image below) by ascending name ?

![capture d'écran_1832](https://user-images.githubusercontent.com/13449658/61729311-35fd0a80-ad77-11e9-93e7-9d3ccf753a39.png)

[2019-07-23 16:25] rudSarkar commented on #14822
Hi @khouloudbelguith ,

I don't have any fix for this, can you please open a ticket on PrestaShop code debugger team to fix this.

Thanks,
@rudSarkar :electron:

[2019-07-23 16:28] yoss55 commented on #14823
ok

[2019-07-23 17:50] Bettelstab commented on #14821
Thank you! I might be able to do it, but not sure when I'll find the time.

[2019-07-23 17:55] idnovate commented on #14608
I think this is not related. Have you tried in a fresh PS 1.7.6.0 without the currency problem? Probably it will happen the same ;)

[2019-07-23 17:56] idnovate commented on #14608
I think this is not related. Have you tried in a fresh PS 1.7.6.0 without the currency problem? Probably it will happen the same ;)

[2019-07-23 18:25] ldarake commented on #14817
Hi, @khouloudbelguith ,

Thank you for yor quickly response.

I have enabled debug mode, but don't show any errors.

I don't find log files:
      -/var/log/apache/apache_error.log
      -/var/log/apache/php_error.log

In Console log don't show any message.

Yoy can try reproduce following steps I wrote above

In my opinion is how if button event click not triggering.

Thank you for your support

[2019-07-23 19:33] MathiasReker opened #14836 "robots.txt is wrong"
**Describe the bug**
Robots.txt file is generated for wrong dirs.

**To Reproduce**
Steps to reproduce the behavior:
0. Install Danish language on a clean install (no second language). Try to install PrestaShop in a folder instead of in the root (I did not test in the root).
1. Go to configure -> shop -> seo & url -> generate robots.txt
2. See robots.txt Should be similair to below:
**Please note

[2019-07-23 19:52] customvalencia commented on #14832
Gracias por la ayuda, la verdad es que esta dando muchos problemas, volveré a la versión anterior.

[2019-07-23 19:52] #14832 closed, assigned to nobody

[2019-07-23 20:37] jojocarofr commented on #14648
Bonjour
Le meme bug avec systempay , j'ai fait les modifs sur ps_currency et ca ne fonctionne pas j'ai une erreur lors de la validation de l'achat
Merci de vos aides

[2019-07-23 21:34] dfliess commented on #12241
+1

[2019-07-23 22:44] JulianEberius commented on #14790
Thanks for answering.

- As mentioned, the php error log (/var/log/apache2/error.log) shows no messages when opening the category edit form (new category or edit existing category).
- I have enabled debug mode and can see the Symfony profiler bar at the bottom. What output are you looking for?
- As mentioned, the main difference to a working Prestashop (e.g. the Demo shop), is that the category tr

[2019-07-24 03:26] go-sudo opened #14837 "authentification ko on backoffice"
*Describe the bug**
Hello
After the update to the last PS 1.7.6.0, I can't acces to my backoffice anymore and I get this error message

[code]

even when I try to reset my password I get an error msg :

**`Ce compte n'existe pas`**

I checked my SQL and there is no issue there, I see clearly my account on employee table

How can I resolve this issue
Regards,

**To Reproduce**
Steps to reproduce th

[2019-07-24 06:03] nielsverhoeven84 commented on #14769
@marionf

Yes indeed, in your example AAA should be above BBB instead of below it.

[2019-07-24 06:37] Hlavtox commented on #13870
That would be a nice feature to have. In 1.6, you just added a string anywhere and it instantly popped up in the translation catalog.

Regarding this, 1.7 is a huge step back...

[2019-07-24 07:08] flyman30 commented on #14648
We talk about it here
https://www.prestashop.com/forums/topic/997100-validation-commande-impossible-avec-e-transaction-paybox/

And here
https://www.prestashop.com/forums/topic/997001-suite-mise-%C3%A0-jour-1752-1760-les-retours-bancaire-ne-se-font-pas/?tab=comments#comment-3138331

[2019-07-24 07:10] khouloudbelguith commented on #14333
Hi @xtoffx,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-24 07:10] #14333 closed, assigned to nobody

[2019-07-24 07:13] khouloudbelguith commented on #14250
Hi @photinia73,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-24 07:13] #14250 closed, assigned to nobody

[2019-07-24 07:14] khouloudbelguith commented on #14330
Hi @keithorder,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-24 07:14] #14330 closed, assigned to nobody

[2019-07-24 07:15] khouloudbelguith commented on #14341
Hi @PauGNU,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-24 07:15] #14341 closed, assigned to nobody

[2019-07-24 07:15] khouloudbelguith commented on #14345
Hi @josejecas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-24 07:15] #14345 closed, assigned to nobody

[2019-07-24 07:20] khouloudbelguith commented on #14837
Hi @go-sudo,

I did not manage to reproduce the issue with PS1.7.6.0 after upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0.
Here's the solution to rest the password in your PrestaShop project manually.
So before doing any changes to your live database, I would highly recommend making a backup, or maybe even two!

First, you need to find out your COOKIE KEY which is in a new position since

[2019-07-24 07:22] centoasa opened #14839 "ps_feeder url"
There are many post on forum, but none very clear.
What are the URLs, or how are they built, to display the feed of the new products, best seller, pricesdrop. Thank you

[2019-07-24 07:37] khouloudbelguith commented on #14822
@rudSarkar, I just added this issue to our bug roadmap.

Thanks!

[2019-07-24 07:45] flyman30 commented on #14608
No I did not, my current concern is that our customers can order and pay for their purchases on the shop of prod ..

[2019-07-24 07:53] Arnaldo405 commented on #14787
Hi @khouloudbelguith
Thank you again.
I deleted the data in the cache (dev and prod). This does not solve the issue with the translations.

Attached you will find the file where I have to set permission. Can you please tell me where I need to change something and what it needs to become?
Thanks!
[premission denied.txt](https://github.com/PrestaShop/PrestaShop/files/3425610/premission.denied.txt)

[2019-07-24 07:55] jcpaybox commented on #14608
Hi,

We are currently investigating  an issue during order validation, which seems to be your problem (Prestashop's order validation is triggered by our plugins when Instant Payment Notification is received).

somehow i believe it is related to the currency issue, probably a bug in prestashop. for information, reverting to 1.7.5 seems to correct the problem.

regards,

Paybox by Verifone

[2019-07-24 07:58] idnovate commented on #14608
**Test it in a fresh PS 1.7.6.0 where the current currency bug is not present**. It should appear the same error.

[2019-07-24 08:13] khouloudbelguith commented on #14787
@Arnaldo405, you have some permissions denied as you can see in your screenshot.
![image](https://user-images.githubusercontent.com/16067358/61776583-3cc96300-adf3-11e9-8286-4b0717e5d455.png)

You need to check the permission issue with your host.

Thanks!

[2019-07-24 08:37] khouloudbelguith commented on #14648
Hi @flyman30, @jojocarofr,

Could you please try to check if you have the same issue with PS1.7.6.0 fresh install?

Thanks!

[2019-07-24 08:41] PierreRambaud commented on #14801
I try with pscleaner, the problem come from this module which is removing everything with sql queries instead of normal process. So many modules can have issues with it, like missing key in database, files still on disk, etc.

[2019-07-24 08:45] flyman30 commented on #14608
374/5000
So as you ask I made a new installation of Prestashop 1.7.6.0 download to do this and we have exactly the same problem validation by the bank is OK but the Prestashop page displays "waiting for validation" it turns about 10 loops and there is no payment validation in Prestashop 1.7.6.0 administration orders

[2019-07-24 08:53] tobiaseriksson opened #14840 "webservice does not handle XML properly, whitespaces are not ignored"
Using Prestashop version 1.7.5

**Describe the bug**
I use the webservices API, and trying to create a Product
it complains when validating id_supplier
The XML looks like this
        <product>

          <id_manufacturer/>
          <id_supplier>
            11
          </id_supplier>

The problem seems to be related to that the content of the tag <id_supplier>contains spaces and newlines. Bad p

[2019-07-24 08:58] khouloudbelguith commented on #14608
@flyman30, so after fresh installation PS.1.7.6.0, you create a new order => proceeded to checkout with the bank payment => in the BO => Order details page => there is no status displayed for these order?

Thanks!

[2019-07-24 09:00] idnovate commented on #14608
So as I said ;) This is a module bug not related with currency issue

[2019-07-24 09:01] khouloudbelguith commented on #14836
Hi @MathiasReker,

I have the same issue with PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/61777698-45bb3400-adf5-11e9-89c4-282a49de1db0.png)
I used a virtual host.
I have the same issue after installing PS1.7.6.0 with France language & also with PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/61780228-0e9b5180-adfa-11e9-9bfa-4e7371e9a42f.png)

I’ll

[2019-07-24 09:03] khouloudbelguith commented on #14790
@JulianEberius, during the upgrade, have you any errors displayed?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Thanks!

[2019-07-24 09:04] eternoendless opened #15186 "app/config.yml is reset after after upgrade"
As reported by @mickaelandrieu:

[2019-07-24 09:10] Arnaldo405 commented on #14787
Hi @khouloudbelguith

Thank you. I will do that!

Have you any other idea how to solve the translation issue? In the debug tool I also receive messages that the translations are not found.

Thanks!

[2019-07-24 09:13] khouloudbelguith commented on #14787
@Arnaldo405, try to copy the translations folder in your var/cache from your back up in your new Projet(after the upgrade) & check if you have the same issue.

Thanks!

[2019-07-24 09:14] flyman30 commented on #14608
Yes your right

[2019-07-24 09:17] #14826 closed, assigned to nobody

[2019-07-24 09:17] #14677 closed, assigned to nobody

[2019-07-24 09:18] #14591 closed, assigned to Quetzacoalt91, khouloudbelguith

[2019-07-24 09:18] #14617 closed, assigned to nobody

[2019-07-24 09:23] matks opened #14841 "[SF Migration] CQRS: how to handle multiple search queries"
Issue originated from https://github.com/PrestaShop/PrestaShop/pull/13903#discussion_r291503262

Some of our Queries are very specific: `GetCreditSlipIdsById`, `GetLanguageIdsByStatus`, `GetCustomerIdsBySubscriptionDateRange`

Should we aim for more generic Queries `Get[...]ByCriteria` ? Like `GetCreditSlipIdsByCriteria`

Ping @PrestaShop/prestashop-core-developers

[2019-07-24 09:25] Arnaldo405 commented on #14787
@khouloudbelguith
Do you mean the translation folder in the cache of my back up I made of my prestashop 1.7.4.4 or the back up of the var I just made?
Thanks!

[2019-07-24 09:29] Arnaldo405 commented on #14787
@khouloudbelguith
About the error you told me to contact my host. He checked and says that all permissions are on max. Do I need to ignore the message then?

[2019-07-24 09:34] khouloudbelguith commented on #14608
@flyman30, what is the exact payment module did you use?

Thanks!

[2019-07-24 09:35] tobiaseriksson commented on #14840
After some analysis my proposal is that you change the code inside
classes/webservice/WebserviceRequest.php
in function
 protected function saveEntityFromXml($successReturnCode)
such that the line that says
`if (isset($fieldProperties['setter'])) {
1510                         // if we have to use a specific setter
1511                         if (!$fieldProperties['setter']) {
1512

[2019-07-24 09:39] marionf commented on #12501
Related to #12241

[2019-07-24 09:39] khouloudbelguith commented on #14787
@Arnaldo405,

This red alert & it is displayed only if debug mode is enabled in your case.

About the translation folder in the cache.

Thanks!

[2019-07-24 09:40] #13962 closed, assigned to nobody

[2019-07-24 09:41] khouloudbelguith commented on #14840
Hi @tobiaseriksson,

I used this script with PS1.7.6.0 to create a new product via Webservice

[code]

But I have this response
[code]

Thanks to check & feedback.

[2019-07-24 09:41] flyman30 commented on #14608
E-transaction V3.0.12
but
cmcicpaiement
Sogenactif 2.0
clicandpay
Are impacted too

[2019-07-24 09:44] rudSarkar commented on #14822
Cool 😍😍

[2019-07-24 09:44] khouloudbelguith commented on #14608
@flyman30, did you tried to contact the module author about that issue?

Thanks!

[2019-07-24 09:48] flyman30 commented on #14608
Yes of course !
That's their answer:
We have just received the PHP logs from a client who is having the same problem.
There are actually loops at the time of validation of the payment.
One of the new parameters of Prestashop must act on the **validateorder**.

We invite you to get closer to Prestashop support.
We lack elements at our level to be able to bring you a solution.

Regards,

[2019-07-24 09:48] tobiaseriksson commented on #14840
Correct this is the error you would get back
and that would not be right ofcourse, XML tags should not care about whitespaces, as far as I understand anyway
-Tobias

[2019-07-24 09:50] Arnaldo405 commented on #14787
@khouloudbelguith
It didn't work.
Also hereby a screenshot of Debug. Does this help?
[Translations not found errors in Debug.docx](https://github.com/PrestaShop/PrestaShop/files/3426085/Translations.not.found.errors.in.Debug.docx)

[2019-07-24 09:51] nielsverhoeven84 commented on #14830
If I make the changes my shop doesn't load the homepage anymore. are there diffences for PS 1.7.5.2?

[2019-07-24 09:53] idnovate commented on #14608
@flyman30 are you using `E-transaction` module developed by PrestaShop?

[2019-07-24 09:54] marionf commented on #14608
I close this issue as the original subject "Different data in 'ps_currency' table when upgrading to PS 1.7.6" has been fixed by #14664
It seems there is an issue about payments modules here: #14648 Please follow & commment on this issue

[2019-07-24 09:54] #14608 closed, assigned to nobody

[2019-07-24 09:57] khouloudbelguith commented on #14830
@nielsverhoeven84, about this PR, it should be reviewed by our developers but it is not tested yet by our QA team.

Thanks!

[2019-07-24 09:58] #12475 closed, assigned to nobody

[2019-07-24 10:27] khouloudbelguith commented on #14840
@tobiaseriksson,  if we the classic way
`<id_supplier>1</id_supplier>` there is no issue.
ping @marionf, @colinegin what do you think? can we add this feature: whitespaces will be ignored?

Thanks!

[2019-07-24 10:32] tobiaseriksson commented on #14840
Here is a reference; https://www.oracle.com/technetwork/articles/wang-whitespace-092897.html

[2019-07-24 10:33] khouloudbelguith commented on #14817
@ldarake, in my case, I did not manage to reproduce the issue with PS1.7.6.0 & using this child theme.
[mythem.zip](https://github.com/PrestaShop/PrestaShop/files/3426269/mythem.zip)
We need PHP error logs. If you don't have it, you should ask your hosting provider.

Thanks!

[2019-07-24 10:34] thbl opened #14842 "Dosen't send email on state change using WS since 1.7.6"
After updating to 1.7.6...
When changing ordre "current_state" using webservice, emails is not sent tho ordre state changes.

[2019-07-24 10:42] flyman30 commented on #14648
J'utilise le module E-transaction 3.0.12 fournit par ma banque depuis que j'ai une boutique Prestashop (1.7.0.1) sans aucun soucis.
Ce n'est pas le module qui est en cause puisque TOUS les modules de paiement bancaire semble impactés !

- E-Transaction
- cmcicpaiement
- Sogenactif 2.0
- clicandpay
etc...

Il faut comprendre pourquoi cette version PrestaShop présente un bug majeur dans la réception

[2019-07-24 10:44] flyman30 commented on #14608
J'utilise le module E-transaction 3.0.12 fournit par ma banque depuis que j'ai une boutique Prestashop (1.7.0.1) sans aucun soucis.
Ce n'est pas le module qui est en cause puisque TOUS les modules de paiement bancaire semble impactés !

- E-Transaction
- cmcicpaiement
- Sogenactif 2.0
- clicandpay
etc...

Il faut comprendre pourquoi cette version PrestaShop présente un bug majeur dans la réception

[2019-07-24 10:55] guigplt opened #14843 "Specific prices appears without tax"
Specific prices are displayed without tax.
But the price and final price are good.
Example : https://www.beastybike.com/bagagerie/1351-11788-sac-a-dos-ortlieb-velocity-design-2019.html

Configuration of specific price :
![image](https://user-images.githubusercontent.com/44002621/61788284-06e7a700-ae12-11e9-9ba8-c454a0aa545e.png)

And tax applied is FR 20%.

PrestaShop version : 1.7.5.1
PHP version

[2019-07-24 10:55] flyman30 commented on #14648
Voila les log de PayBox pour un essai de transaction par E-transaction

Jul 22 11:00:01 pbxprwb24 PayboxIPN.cgi[63522]: (INF) - Contact de l'URL en POST : https://*****.com/modules/etransactions/index.php?t=s&a=i - Donnees : M=1710&R
=1190%20-%20patrick%20Planul&T=524982735&A=446555&B=0&C=Visa&D=2106&E=00000&F=Y&G=O&I=FRA&J=--&N=------&O=Y&P=3DSECURE&Q=10%3A59%3A17&S=114349215&W=22072019&Y=FRA&Z=0

[2019-07-24 10:58] flyman30 commented on #14834
Voilà ce qu'envoi E-transaction à Prestashop 1.7.6.0

Voici les logs du retour IPN de votre transaction :

Jul 22 11:00:01 pbxprwb24 PayboxIPN.cgi[63522]: (INF) - Contact de l'URL en POST : https://*****.com/modules/etransactions/index.php?t=s&a=i - Donnees : M=1710&R
=1190%20-%20patrick%20Planul&T=524982735&A=446555&B=0&C=Visa&D=2106&E=00000&F=Y&G=O&I=FRA&J=--&N=------&O=Y&P=3DSECURE&Q=10%3A59%3A

[2019-07-24 10:58] khouloudbelguith commented on #14648
Hi @flyman30,

In my case I tried with those modules:
- ps_wirepayment
- ps_checkpayment
- COD
- PayPal

They are ok, there is no issue reproduced.

Thanks!

[2019-07-24 11:05] thbl commented on #13802
+

[2019-07-24 11:12] flyman30 commented on #14648
cmcicpaiement
Sogenactif 2.0
E-Transaction
clicandpay

Send validation data but it is not validated by Prestashop 1.7.6.0 !

Here is the e-transaction module for test

[prestashop-1.5.x-1.6.x-1.7.x-etransactions-3.0.12.zip](https://github.com/PrestaShop/PrestaShop/files/3426536/prestashop-1.5.x-1.6.x-1.7.x-etransactions-3.0.12.zip)

[2019-07-24 11:29] khouloudbelguith commented on #14842
Hi @thbl,

Thanks for your report.

I manage to reproduce the issue with PS1.7.6.0.
I used this script
[code]

It is OK with PS1.7.5.2, Email is received.

[2019-07-24 11:47] khouloudbelguith commented on #14843
Hi @guigplt,

This issue should be fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/13684, it is fixed in the PS1.7.6.0.
Thanks to check & feedback.

[2019-07-24 11:53] khouloudbelguith commented on #14839
Hi @centoasa,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-24 11:53] #14839 closed, assigned to nobody

[2019-07-24 11:59] go-sudo commented on #14837
Hello @khouloudbelguith

I proceeded as you described but nothing works here a video shows you what I did.

https://drive.google.com/file/d/1sMEa8BrZiK_VJvAPBzOMqY2VhYcjrIR8/view

Regards

[2019-07-24 12:01] flyman30 commented on #14648
Je viens   un peu de check les log :    En   prestashop 1.7.5 les log d'un paiement réussi sont comme cela              *INFO*  v1.7.5.2      2019/06/27 - 20:31:39: Server call process starts for cart #74.*INFO*  v1.7.5.2      2019/06/27 - 20:31:39: Payment accepted for cart #74. New order state is 2.*INFO*  v1.7.5.2      2019/06/27 - 20:31:39: Create order for cart #74.*INFO*  v1.7.5.2     
2019/

[2019-07-24 12:08] khouloudbelguith commented on #14648
@flyman30, I tried with your module & PS1.7.6.0 & PS1.7.5.2, in the FO => OK
https://drive.google.com/file/d/16w2ocol3AiSujkhA7z42SnS2CfIIuLvt/view & the email is sent => but in the back office there is no order created

Thanks!

[2019-07-24 12:09] zuk3975 opened #14844 "Form rest errors styling differs and child form errors are not shown at all"
**Describe the bug**
We add form_rest() in each form on migrated pages to open the forms for module extensions, but those fields rendered by form_rest are displaying different style error messages. Also when form type has child, those errors aren't displayed at all. Worth mentioning that defining form_errors() has no impact, because errors are already rendered in form_rest. In addition, if the fie

[2019-07-24 12:12] khouloudbelguith commented on #14787
@Arnaldo405, no.
They are just warnings.

Thanks!

[2019-07-24 12:15] khouloudbelguith commented on #14844
FYI @matks

[2019-07-24 12:19] Arnaldo405 commented on #14787
@khouloudbelguith
Can you think of another solution?
Would it be an idea to upgrade to 1.7.6? Would that solve the problem?
Thank you!

[2019-07-24 12:25] khouloudbelguith commented on #14837
@go-sudo, I tried this solution & it is OK
I attached a screen record
https://drive.google.com/file/d/18NuYc4QFU0Bkebl0_mqr6cRIuVSE5DNp/view

Thanks!

[2019-07-24 12:27] khouloudbelguith commented on #14787
@Arnaldo405, did you use a custom theme or only the classic theme?

Thanks!

[2019-07-24 12:29] zuk3975 commented on #14844
Also I find this the right place to mention the issue with options forms. It is currently "hidden" because most options forms doesn't have any constraints.
So the issue is that if we add constraint to options form, it is ignored because errors are lost after redirect of processOptions -> index.
One suggestion to solve that is to forward controller instead of redirecting. (example in this commit 4f

[2019-07-24 12:33] Arnaldo405 commented on #14787
@khouloudbelguith
I only use the classic theme at the moment. After installing the clean install + upgrade to 1.7.5.2 I first started to import the products and combinations (of course before the product import I imported the languages, created the categories, brands, combinations).
Thank you.

[2019-07-24 12:39] khouloudbelguith commented on #14787
@Arnaldo405, thanks!
Because, with PS1.7.6.0, with other them, we have an issue with translation of the back office only.
Here's the exact issue: https://github.com/PrestaShop/PrestaShop/issues/14733, it should be fixed in a few days.

Thanks!

[2019-07-24 12:46] go-sudo commented on #14837
Hello @khouloudbelguith
I did exactly step by step what you did but still same issue, i made a test on 2 computers and different browsers
I want to add that one of colleagues is the only one who can log in, so we create a new employee and it works but the issue still the same for old user created before the update

Since I can log in now with a fresh user I notice that back office is very slow so

[2019-07-24 12:50] flyman30 commented on #14648
184/5000
I am glad that you have tested the e-transaction module, with prestashop 1.7.5.2 the order is validated in BO but not in 1.7.6.0.
What do you think, can you do something?

[2019-07-24 12:54] GreyMan00 commented on #14733
Same problem but just for confirmation emails translations (I am translating it manually until resolved).

[2019-07-24 12:54] marionf commented on #14791
Hello @freeman78ita

As you said, you can have a global reference for the product and a different reference for each combinations, so I am not sure it's a good idea to do that.
Furthermore, if you have the same reference as the product for all combinations, you can select all combinations and assign them the same reference thanks to the bulk action

![capture d'écran_1839](https://user-images.gith

[2019-07-24 13:15] flyman30 commented on #14648
I come a little check the log:

In prestashop 1.7.5 the log of a successful payment is like this

*INFO* 	v1.7.5.2	2019/06/27 - 20:31:39: Server call process starts for cart #74.
*INFO* 	v1.7.5.2	2019/06/27 - 20:31:39: Payment accepted for cart #74. New order state is 2.
*INFO* 	v1.7.5.2	2019/06/27 - 20:31:39: Create order for cart #74.
*INFO* 	v1.7.5.2	2019/06/27 - 20:31:42: Order #15 created suc

[2019-07-24 13:34] khouloudbelguith commented on #14837
@go-sudo, I tried the same steps with other employees & it is OK.
@go-sudo, have you tried to generate their passwords via email?

Thanks!

[2019-07-24 13:38] Arnaldo405 commented on #14787
@khouloudbelguith
Thank you. I shall follow issue #14733.

[2019-07-24 13:45] khouloudbelguith commented on #14831
@agnesdennetiere, I tried to compare the quality image between two product's images
1. Before import: create a new product from the BO => upload the image
2. After import => product created via import

They are similar
I checked them with those links:https://www.diffchecker.com/image-diff, https://www.pictorem.com/fr/checkprintsize.html

I attached a screen record
https://drive.google.com/file/d/1

[2019-07-24 13:46] khouloudbelguith commented on #14787
@Arnaldo405, thanks!
Can I close this issue?

Thanks!

[2019-07-24 13:49] #14818 closed, assigned to nobody

[2019-07-24 13:51] matks commented on #13943
ping @PrestaShop/prestashop-core-developers I'd like your feedback on https://github.com/friends-of-presta/demo-cqrs-hooks-usage-module/pull/4#issuecomment-514640644

[2019-07-24 13:56] Arnaldo405 commented on #14787
@khouloudbelguith
Yes please. I shall follow the other issue and hopefully the solution will solve my problem.
Thank you for your time and efforts.

[2019-07-24 13:59] khouloudbelguith commented on #14648
@flyman30, with PS1.7.5.2 & PS1.7.6.0, in my case, there is no order created in the BO.
In the error log for PS1.7.6., I only have those errors
[code]
Thanks!

[2019-07-24 14:02] davidglezz opened #17111 "Incorrect price due to cache"
In ps_featuredproducts, ps_specials, ...
The current cache strategy "getCacheId()" does not use all the variables that affect the price, proving that incorrect values are shown in the price to many customers.

For example, two escenarios:

- If the first customer (the one that triggers the regeneration of the cache) has a specific discount: Then the discounted price is saved and shown to all custo

[2019-07-24 14:05] freeman78ita commented on #14791
Hi @marionf , good point but this is a "next" step when creating the combinations.
-Step1 - Create combination
-Step2 - Bulk assign
The "risk" is to create empty reference for combinations, so maybe it would be best to keep at least it filled with the same instead of having the field empty.

[2019-07-24 14:08] marionf commented on #9969
@sarahdib Can you try to reproduce it on 1.7.6.0 ?
Can you tell what is the language / country selected during installation ?
Which default country / language / Currency is configured ?

[2019-07-24 14:13] #14492 closed, assigned to nobody

[2019-07-24 14:16] matks commented on #10586
After diving further, we have decided not to use vue.js for the Product Page, we will rely on good old jQuery in order to make the page as customizable as possible.

I think the answer is valid for this page too :/ jQuery it is !

[2019-07-24 14:17] marionf commented on #14791
It's a problem if you don't want the same reference for your combinations because until changing them you have a bad reference. I think having nothing is better than having a wrong reference

[2019-07-24 14:20] agnesdennetiere commented on #14831
Hi,

Could you please send me the two images?

[2019-07-24 14:21] khouloudbelguith commented on #14787
@Arnaldo405, thanks!

[2019-07-24 14:22] #14787 closed, assigned to nobody

[2019-07-24 14:25] khouloudbelguith commented on #14831
yes!
![before-import](https://user-images.githubusercontent.com/16067358/61801782-4bca0880-ae27-11e9-89df-7ab3dbf25713.jpg)
![after-import](https://user-images.githubusercontent.com/16067358/61801784-4bca0880-ae27-11e9-8fc5-f064e858793e.jpg)

Thanks!

[2019-07-24 14:29] freeman78ita commented on #14791
yes it can be, but usually a combination is part of a product itself, usually the reference is the same (al least in my experience) but BARCODES changes. So you have like :
Gren cup ref. 12345
Green Cup size LARGE - same ref - barcode 34234234234L
Green Cup size MEDIUM - same ref - barcode 34234234234M
But having no Reference is worst in my eye :)

[2019-07-24 14:32] guigplt commented on #14843
Thanks for your answer, but is it the same case ?
Because my customer groups use taxes :

![image](https://user-images.githubusercontent.com/44002621/61802173-5210b280-ae30-11e9-8812-882c11522f8e.png)

[2019-07-24 14:33] marionf commented on #14791
Yes, I understand but like explained some merchants have a different reference for each combination
So, we can't do that

[2019-07-24 14:33] #14791 closed, assigned to marionf

[2019-07-24 14:59] khouloudbelguith commented on #14843
@guigplt, seems that your issue is different.
In my case, with PS1.7.5.1, I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1WppccHe_nvoF5RuXiGZbAILdk_wMm9D2/view
Have you tried to contact the theme author about this issue?

Thanks!

[2019-07-24 15:04] jcpaybox commented on #14648
so far we still ahven't found why the validateorder process does not finish.
debug seems to show that Tools::displayPrice could be  the last function called, in the validateOrder method, when building the $product_var_tpl array.

[2019-07-24 15:13] eternoendless commented on #13876
Be aware that field order using CSS does not change the order for screen readers.

[2019-07-24 15:19] eternoendless commented on #11389
Related: #13876

[2019-07-24 15:20] agnesdennetiere commented on #13016
Hello,

any news on this point?

Thanks!

[2019-07-24 15:33] khouloudbelguith commented on #14648
Hi Adrien,

I just received the module `clicandpay`
https://drive.google.com/file/d/1VneFWdx6IsxeTX2IP97hDeDa9jQm9Yu3/view
I checked it with PS1.7.6.0 & PS1.7.5.2 => I have issues.

Thanks!

[2019-07-24 15:51] webmastercoolspot commented on #14648
Ok i think it's will be difficult to test without account in clicandpay because this issue told invalid key.

I don't know if it's possible to have demo key api test for this module. This is documentation module : https://clicandpay.groupecdn.fr/doc/fr-FR/

[2019-07-24 16:44] rdy4ever opened #14846 "#13440 creates a small BC break"
**Describe the bug**
One little BC problem introduced in #13440 : when using a theme that doesn't include the button added in [personal-information.tpl](https://github.com/PrestaShop/PrestaShop/pull/13440/files#diff-936ab2713e0bb9cd8ac42716e0d33a37)  (from add-ons or other custom theme, or even Classic whithout the 1.7.6 update), if the user clicks on step one from another step (after step 1 is co

[2019-07-24 16:54] rdy4ever commented on #14846
Ping @jolelievre

[2019-07-24 17:20] thbl commented on #14842
@khouloudbelguith  sadly i can't seam to find the bug yet

[2019-07-24 17:27] cesarfierro commented on #14733
Hello,

I have the same problem after upgrading fron 1.7.5.2 to 1.7.6.
I use warehouse theme and I can´t edit BO traslations
Error: Could not crawl for translation files: The "......var/cache/prod/themes/warehose/translations" directory does not exist.
If I load the classic theme, translations works again but if I return to warehose theme I get the same error.

[2019-07-24 18:58] Flower7C3 opened #14847 "Related product update after adding to card issue"
**Describe the bug**
Product page content is updated with first related product content.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any related product page
2. Add it to cart
3. Close modal
4. Page content (image, title, price) will be updated with first related product content

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2

[2019-07-24 20:51] presciak commented on #14595
I try activate/deactivate currency
I also completed the iso code
unfortunately did not help
I returned to 1.7.5.2
he will try again on the weekend

[2019-07-24 22:21] jimmybsilva commented on #14823
I am using NMI Payment Gateway I can't process cards

Module developer said is something to do with ajax changes

https://mydomain.com/module/nmipaymentgateway/index.php?r=0.31478002121557647&ajax=true

it was able to connect once updated to 1.7.60

https://whitecbd.com/module/nmipaymentgateway/index.php?r=0.31478002121557647&ajax=true ajax return 404 error

In prestashop did something change how

[2019-07-24 22:21] jimmybsilva commented on #14823
I am using NMI Payment Gateway I can't process cards

Module developer said is something to do with ajax changes

https://mydomain.com/module/nmipaymentgateway/index.php?r=0.31478002121557647&ajax=true

it was able to connect once updated to 1.7.60

https://mydomain.com/module/nmipaymentgateway/index.php?r=0.31478002121557647&ajax=true ajax return 404 error

In prestashop did something change how

[2019-07-24 22:22] jimmybsilva commented on #14823
I am using NMI Payment Gateway I can't process cards

Module developer said is something to do with ajax changes

https://mydomain.com/module/nmipaymentgateway/index.php?r=0.31478332121557647&ajax=true

it was able to connect once updated to 1.7.60

https://mydomain.com/module/nmipaymentgateway/index.php?r=0.31478332121557647&ajax=true ajax return 404 error

In prestashop did something change how

[2019-07-24 23:42] 97t opened #14848 "Only variables in mails {firstname} {lastname}"
Hi,

i installed PrestaShop multiple times, in version 1.7.5 and 1.7.6. german edition and every time I make an order, there is only a mail with variables like:

_________
Hallo {firstname} {lastname},
--
Thank you for shopping on {shop_name}!
_________

**To Reproduce**
Install prestashop, make an order.

**Screenshots**
https://share-your-photo.com/img/5d4a2fa547.png
https://share-your-photo.com

[2019-07-24 23:47] webmastercoolspot commented on #14648
Ok i proceed with test key in my shop simulate CB Payment with module clicandpay and activate debug mode.
I have this in my log for complete CB payment transaction. I replace personnal information in few input to xxxxxx for anonimyzing log

`*INFO* 	v1.7.6.0	2019/07/25 - 01:24:15: Form data generation for cart #111 with standard submodule.
*INFO* 	v1.7.6.0	2019/07/25 - 01:24:15: Data to be sent to

[2019-07-24 23:49] webmastercoolspot commented on #14648
In Back office there are a order create but there are no status and no email sent. I need to put manually change order statut in BO to pass in status "paid"

[2019-07-25 00:27] go-sudo commented on #14837
Hello @khouloudbelguith

I repeated again and it works, I can access again with my own mail

Thank you I appreciate, I will create an other issue as I said the back office is slow and generate an error every time I log on

here is 2 videos
https://drive.google.com/file/d/1LyuPn_icjh5emncLpLVRCgFk2G7G-OCu/view
https://drive.google.com/file/d/1jziMu7kIZKAzDdcfCPWWfXy0JwcF3iVf/view

Regards

[2019-07-25 01:48] go-sudo opened #14849 "SDK Facebook not update"
Hello
I'm trying to add chatbot to my website and I get this error message
[code]
So I check and I found that a lot of module still use the old SD link and facebook require the new one

Could you please take note this issue for a future update

I replaced the link and it works

regards
![sss](https://user-images.githubusercontent.com/11594433/61839762-1bb65000-ae8f-11e9-89af-00dd174d7fae.png)

[2019-07-25 05:45] flyman30 commented on #14648
This is exactly what happens with all bank payment modules ...

[2019-07-25 06:52] thbl commented on #14842
If new state has "send email to customer" enable, webservice will return with a error 500
(500 Internal Server Error)
Tho the order state has been changed, without sending a email.

[2019-07-25 07:10] thbl commented on #14806
@pkshetlie do you only get this error when new state has "send email to customer" enable ?
maby related to #14842

[2019-07-25 07:20] pkshetlie commented on #14806
@khouloudbelguith  I tried to uninstall all other module than prestashop's and no changes

@thbl nice catch, when I change state for 5 (one that doesn't send email in my conf) it works

[2019-07-25 07:44] ghost opened #14851 "Product price is zero 0 in listings when no default combination is set"
**Describe the bug**
Product price is zero 0 in listings (home, categories, search) when no default combination is set.
Price is available in product page.

**To Reproduce**
Imported product without default combination set happend - no radio button (also a separate bug?).
No matter how its it imported - default combination should be set.

**Additional information**
PrestaShop version: 1.7.5.2
PHP

[2019-07-25 08:29] matks commented on #14846
Hi @rdy4ever, thanks for the feedback ! @jolelievre is on vacations but we'll review this as BC breaks in the FO theme are a very important issue

[2019-07-25 08:53] matks commented on #13879
@sarjon We have finished the todo-list for this, now we can go through the check-list to make sure we forgot nothing 😄

[2019-07-25 09:05] Tynyndil commented on #14733
If I can gave a few more information : I have the same problem when I want to translate a module I created.
At first it worked well, I did a few translations in french which generated the good file in my translation folder. Then going back on it, same as everyone this error appears :

Seems strange since i don't want to translate my theme but a module...

I tried to create the missing folder, but

[2019-07-25 09:09] matks commented on #13462
An idea: introduce hook `actionBackOfficeControllerSetVariables()` ?

[2019-07-25 09:12] #11542 closed, assigned to nobody

[2019-07-25 09:13] matks commented on #10910
We need do document current available solution

[2019-07-25 09:31] matks commented on #13455
We need to go through the check-list to make sure everything is good

[2019-07-25 09:51] 123monsite-regis opened #14852 "Order message regitered on Checkout delivery step use to much php htmlentities and accents become not readable"
**Describe the bug**
When customers fill the "delivery_message" on the checcout process, accents are converted to Html entities ,
this message is after converted to a customer Message on back Office and merchants are not able to read it correctly.

**To Reproduce**
Steps to reproduce the behavior:
- beggin a checkout process by adding any product you want,
-  on the delivery step fill "delivery_me

[2019-07-25 09:53] rdy4ever commented on #14849
Hi @go-sudo
You're using a non-native module that's not developed by Prestashop. You need to contact the module's developer in order to fix this issue. This bug tracker is reserverd for core or native modules issues.

[2019-07-25 09:53] 123monsite-regis commented on #14852
for the dev's,

this line is concerned :
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/checkout/CheckoutSession.php#L89

[code]
but i does not know the right prestashop practice to be safe and keep accents.

regards

[2019-07-25 10:02] 0dp commented on #13143
@khouloudbelguith

What changes are you implying will fix the issue?

@Amulliez

How did you resolve the issue?

[2019-07-25 10:20] q555 opened #14853 "Bug - strange symbols in the name of items (block viewed products)"
strange symbols in the name of items http://prnt.sc/of5fkx

The issue comes directly from "block viewed products" module which is a default prestashop one.

**Additional information**
PrestaShop version: 1.6.1.12

[2019-07-25 10:40] flyman30 commented on #14648
And now ,
Are the developers going to look at this major bug that is preventing many shops from selling normally?
It's urgent for our image!
We need some help..

[2019-07-25 10:42] templatin commented on #14827
@khouloudbelguith I found another issue. The module displays reviews only on first instance of a product on homepage. Check screenshot.

To reproduce the issue, install Featured Products module and any other native module (New Products or Best sellers or Specials module) which will be hooked on home page.

Example: In Featured products module on homepage, reviews are displayed for product (Humming

[2019-07-25 12:33] stellatmy commented on #14733
I used the same theme as well. Also having the same problem.

[2019-07-25 12:56] matks opened #14854 "Be able to listen to hooks outside of main Module file"
Currently, modules which want to plug themselves on a PrestaShop hook must do so using `registerHook(...)` function and implement the right function in the main Module class file (= the one that extends `Module`)

This obliges developer to put all the hook behaviors in a single class, preventing them to split the code into multiple files, test them independently or use PSR4 autoloading with namesp

[2019-07-25 13:10] flyman30 commented on #14648
And now that the findings have been made about this major bug, how do we make it to be considered and corrected?
I do not know where to ask.

Flyman30

De : Adrien <notifications@github.com>
Envoyé : jeudi 25 juillet 2019 01:50
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : flyman30 <flyman30@live.fr>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Bank pa

[2019-07-25 13:21] PrestaSafe opened #14855 "Use command line to generate module files"
I everyone.

Since 2011 i create module for PrestaShop.

I've discovered Laravel, and artisan is very inspiring for PrestaShop.

I've imagined a lot of command who can help developpers to make module easier and faster
like
```php psbuilder module:enable myModule```
For enable one module

```php psbuilder module:install myModule```
For install one module if it's exist on addons and it's a free plug

[2019-07-25 13:57] marionf commented on #9600
Price with ecotax included : 100€
Real price without ecotax : 100€ - 10€ = 90€
Real price with 30% off : 90€ - 27€ = 63€
Real price after reduction + eco-tax = 63€ + 10€ = 73€

But Prestashop displays: 100€ (included 10€ d'eco-taxe) - 30% = 70€ and not 73€ !

[2019-07-25 14:33] mickaelandrieu commented on #14855
Hi! for modules and themes management, it's already possible using the PrestaShop console.

For code generation, I'm not aware of any work in progress but eh! I can be wrong 🙂

ping @matks for additionnal comments

[2019-07-25 14:35] marionf commented on #11241
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
So, I close the issue. Don't hesitate to open a new one if needed.

[2019-07-25 14:35] #11241 closed, assigned to nobody

[2019-07-25 14:44] TristanLDD commented on #14377
All filters should have the same behavior indeed, price and weight should be closed just like the other filters.

Example on Asos:
![Capture d’écran 2019-07-25 à 16 41 59](https://user-images.githubusercontent.com/27484094/61883845-6e2d5600-aefb-11e9-852c-d37c5cbd0193.png)

[2019-07-25 14:46] PierreRambaud commented on #13016
@agnesdennetiere Nothing planned yet. But full free to help us and contribute :pray:

[2019-07-25 15:00] jasonchemama opened #14856 "products with declensions"
Hello, Since a few days my products with declensions in size in price does not work anymore. I tried everything but I do not understand.  It worked properly before.  Even calling on other people to help me.  You would be very helpful if you could find the problem.

 Thank you in advance.
 Cordially.

[2019-07-25 15:02] jasonchemama commented on #14792
Yes it works, thank you very much

 Have a good day
 cordially

[2019-07-25 15:44] matks opened #14857 "[SF Migration] Be able to test proper hook behavior"
Type: tech-issue

Hooks are a core feature of PrestaShop. Yet, they are not being checked by automated tests which could check there is no failure in their behavior.

We need to check they are correctly triggered and provide the right behavior.

[2019-07-25 16:11] roja45 opened #14860 "Fatal error when saving new memcached server in PS 1.7.6.0"
**Describe the bug**
After adding a new server, and testing the connection, click save and get the below error.  Any idea what this error is telling me?

![image](https://user-images.githubusercontent.com/19314911/61890176-8c2f9200-aecc-11e9-9f37-7b3da4eaf6ef.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install memcached - Tested in stalled correctly and listening on ip:port
2. Add n

[2019-07-25 16:32] leecharles25 opened #14861 "Upgraded to 1.7.5.2 Cannot amend any product Quantities"
Hi have recently upgraded to 1.7.5.2 and now i cannot amend any product quantities in Back Office.
So edit product quantity from 1 to 10....says changes have been saved but then will still only say 1 item in stock.
In de-bug mode when i open a product this comes up;

![image](https://user-images.githubusercontent.com/53303590/61891690-22ca7600-af02-11e9-82e9-02f798578787.png)

[2019-07-25 16:32] leecharles25 commented on #14861
Forgot to say please help.
Lee

[2019-07-25 16:48] leecharles25 opened #14862 "prestashop 1.7.5.2 cannot amend product quantities"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-07-25 17:11] eternoendless commented on #13870
Core files shouldn't be modified in the first place, but if needed, here's a workaround that _should_ work.

1. Alter the code by adding the wording that you want.
2. If you chose an existing translation domain, add the wording to the corresponding .xlf file in `app/Resources/translations/default`, or create a new file following the [domain naming conventions](https://devdocs.prestashop.com/1.7/de

[2019-07-25 17:46] ldarake commented on #14817
Hi @khouloudbelguith,

I attach a image of register of my hosting provider. You can see a error 408.

I hope will be useful to you

Thanks

![image](https://user-images.githubusercontent.com/41681733/61896239-d50b3900-af14-11e9-805c-606763f70a19.png)

[2019-07-25 19:13] go-sudo commented on #14849
hi @rdy4ever

Thank  very much, I will do that

Regards

[2019-07-25 19:32] PierreRambaud commented on #14849
Thanks @rdy4ever 😉
I'm closing it!

[2019-07-25 19:32] #14849 closed, assigned to nobody

[2019-07-25 22:33] radzi00 commented on #14708
I have the same 404 issue with 1.7.6.0 on a product edit page:
/themes/new-theme/public/index.php?controller=AdminDashboard&token=XXX (404)

I can confirm that there is no index.php in that directory.

[2019-07-25 22:46] Hlavtox commented on #14851
Happens also in 1.6.1.23.

If a fallback mechanism is implemented for a product page, it should be like that also in the product list...

[2019-07-26 06:06] khouloudbelguith commented on #14365
Hi @slupostrupek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thank

[2019-07-26 06:06] #14365 closed, assigned to nobody

[2019-07-26 06:08] cartomatica73 commented on #14621
@khouloudbelguith

in my php.ini file I have the following settings
`max_execution_time=5000
max_input_time=5000
memory_limit=4000M`

[2019-07-26 06:08] khouloudbelguith commented on #14368
Hi @ogi99,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks

[2019-07-26 06:08] #14368 closed, assigned to nobody

[2019-07-26 06:29] khouloudbelguith commented on #14848
Hi @97t,
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your versio

[2019-07-26 06:40] khouloudbelguith commented on #14847
Hi @Flower7C3,

I did not manage to reproduce the issue with PS.7.6.0.
I attached a screen record
https://drive.google.com/file/d/11S5Oelz2ToZjjGwr2cH7FMfWg0lZ0EgT/view
Thanks to check and feedback.

[2019-07-26 06:47] khouloudbelguith commented on #14852
Hi @123monsite-regis,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9726
So, I close it.
Thanks!

[2019-07-26 06:47] #14852 closed, assigned to nobody

[2019-07-26 06:51] khouloudbelguith commented on #14854
Ping @PrestaShop/prestashop-core-developers

[2019-07-26 06:53] khouloudbelguith commented on #14856
Hi @jasonchemama,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-07-26 06:59] khouloudbelguith commented on #14862
Duplicate of #14861

[2019-07-26 06:59] #14862 closed, assigned to nobody

[2019-07-26 07:04] 97t commented on #14848
I downgrade to 7.2 and it's same problem

[2019-07-26 07:11] khouloudbelguith commented on #14861
Hi @leecharles25,
 It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.5.2 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql

Thanks to check & feedback

[2019-07-26 07:14] LinkOfLight commented on #14648
The redsys free module have this sigue too, have 2 clients whit this

[2019-07-26 07:40] khouloudbelguith commented on #14860
Hi @roja45,

You have an exception into the cache file.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-26 08:05] PierreRambaud commented on #14854
The code can currently be split as we do for facetedsearch (even if it's not the better way to do it).
As Doctrine do for Entity. Can we create `modules/my-module/src/Hooks/HookName.php` in addition?

[2019-07-26 08:09] #14657 closed, assigned to PierreRambaud

[2019-07-26 08:11] matks commented on #10550
Assigned to https://github.com/RaimondasSapola

[2019-07-26 08:18] khouloudbelguith commented on #14853
Hi @q555,

I did not manage to reproduce the issue with PS1.7.6.0 and ps_viewedproduct v1.2.1.
![viewed](https://user-images.githubusercontent.com/16067358/61937254-5353f380-af86-11e9-9b8c-1e79ff4d8cee.png)

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog

[2019-07-26 08:19] #14853 closed, assigned to nobody

[2019-07-26 08:27] khouloudbelguith commented on #14855
Hi @PrestaSafe,

Thanks for your report.
Also, we have this PR: https://github.com/PrestaShop/PrestaShop/pull/14578 to improve Theme command as reported in this issue: https://github.com/PrestaShop/PrestaShop/issues/14577

Thanks

[2019-07-26 08:28] matks opened #14865 "Check and fix categories count for CMS Pages"
@jolelievre has fixed a bug on Product categories in PR https://github.com/PrestaShop/PrestaShop/pull/13984

Considering the root cause of the bug, I think the same issue applies to CMS Page categories. We need to
- check whether the bug exists for CMS Page categories
- fix it if if exist

## To Do

Read PR https://github.com/PrestaShop/PrestaShop/pull/13984, read the related issue, check whether

[2019-07-26 08:33] PrestaSafe commented on #14855
Thanks for your answer but this is absolutely not the same request, i'm talking to generate file for modules and autodetect admincontrollers, this features are not in PR #14578 and not in issue #14577 too.

[2019-07-26 08:40] matks opened #14866 "[SF Migration] Handle ModuleErrorException everywhere ?"
Type: tech-issue

In https://github.com/PrestaShop/PrestaShop/pull/14206 we have introduced the usage of ModuleErrorException that can be used by modules which hook on add/edit forms to display user-oriented error messages.

Should we expand the use of these ModuleErrorException everywhere ?
This would mean: every Symfony Controller would catch these ModuleErrorException and display them nicely. T

[2019-07-26 08:49] alex4102 opened #14867 "voucher_new nos used in Prestashop ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cart Rules
2. Create a new cart rule for specific user
3. Not receive the email template voucher_new

**Additional information**
PrestaShop version: 1.7.6.0 and previous

Do you know why the template voucher_new is not used when we create a cart rule for specific use

[2019-07-26 08:51] MathiasReker commented on #14861
@khouloudbelguith It is really weird. I have the exactly the same problem on PrestaShop 1.6. I did not change or update anything in years. The issue started yesterday.

[2019-07-26 08:58] TristanLDD commented on #14376
Hi! Here are the design specs to fix the display on mobile:

![Capture d’écran 2019-07-26 à 10 56 26](https://user-images.githubusercontent.com/27484094/61939667-0ecf5480-af94-11e9-854e-86d50d02f922.png)

[2019-07-26 09:02] #11573 closed, assigned to nobody

[2019-07-26 09:18] nsorosac commented on #14616
Hi @khouloudbelguith

Thank you for creating this issue. I am not sure its severity should be this low (minor) because its not an isolated use-case: every merchant is concerned by this bug, and the reordering "feature" is very important for the merchants.

All our prestashop customers are impacted, and they are all hoping we can do something for them quickly :-(

@mickaelandrieu this is the produc

[2019-07-26 09:20] khouloudbelguith commented on #14867
Hi @alex4102,

No, there is no email sent.
As you can see in our documentation, this function doesn't exist.
http://doc.prestashop.com/display/PS17/Cart+Rules
You can see the voucher in the account of the user.
https://drive.google.com/file/d/1C5Tcs575fltOOFq0fM6kLRyYejFVShZu/view
But, if you use the ps_emailsubscription module, you can receive the email for the Welcome voucher code.
About the vou

[2019-07-26 09:20] #14867 closed, assigned to nobody

[2019-07-26 09:30] khouloudbelguith commented on #14861
@MathiasReker, I did not manage to reproduce the issue with PS1.6.1.24.
I attached a screen record
https://drive.google.com/file/d/1m2eFp93c-V72B3E9pD3OTM2jsi7w2zOh/view

[2019-07-26 09:46] MathiasReker commented on #14861
@khouloudbelguith I know. But what is weird is that I had the exactly the same issue as @leecharles25 yesterday on an other version and I did not upgrade. Today I can not reproduce the issue. I have never had that issue before.

[2019-07-26 09:47] MathiasReker commented on #14861
I don't need help on that, it was just FYI :-)

[2019-07-26 09:51] khouloudbelguith commented on #14861
@MathiasReker, it could be a cache issue.

[2019-07-26 09:52] #14640 closed, assigned to Quetzacoalt91

[2019-07-26 09:53] khouloudbelguith commented on #14851
Hi @PrestaShark,
I did not manage to reproduce the issue with PS 1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1sZtNYEsx7VxEqtv3nStx6Erg-UFyF1W_/view
Thanks to check and feedback.

[2019-07-26 09:53] MathiasReker commented on #14861
I did not clear cache for a year and suddenly I had the issue.

I repaired and cleared db and cleared cache. I don't face the issue anymore, but I am not sure it was related to the cache.

[2019-07-26 09:57] TristanLDD commented on #14039
Similar modals already exist for PrestaTrust :

![Capture d’écran 2019-07-26 à 11 56 30](https://user-images.githubusercontent.com/27484094/61943763-72f61680-af9c-11e9-90b8-d2b4b5f61888.png)

I just need the wording for this new modal, then i can give you the design.

[2019-07-26 10:11] md-brnursery commented on #14633
Any update on this, when I have installed the update 1.7.6, the shop name has been replaced with "My Shop"?

[2019-07-26 10:11] khouloudbelguith commented on #14621
@cartomatica73,
Did you the default theme Classic?

Thanks!

[2019-07-26 10:15] PrestaShark commented on #14851
Hi and thanks for Your time!
Unfortunately i have notticed that sometimes default combination is not set and then 0 price in listings may occour... (its not related with native csv import feature).

[2019-07-26 10:18] khouloudbelguith commented on #14851
@PrestaShark, could you please provide the file CSV file that you used to import combinations?

Thanks

[2019-07-26 10:24] khouloudbelguith commented on #14817
@ldarake, could you please try to reset the contactform module or try to re-installing it.
Check and feedback.

Thanks

[2019-07-26 10:26] khouloudbelguith commented on #14708
Hi @pcdata, @Stampa-Stampa, @radzi00,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-07-26 10:26] #14708 closed, assigned to nobody

[2019-07-26 10:39] khouloudbelguith commented on #14806
Hi @pkshetlie,

The issue is added to our debug roadmap.
Your ticket is a duplicate of #14842
So, I close it.
Thanks!

[2019-07-26 10:39] #14806 closed, assigned to nobody

[2019-07-26 10:39] khouloudbelguith commented on #14806
Duplicate of #14842

[2019-07-26 10:42] khouloudbelguith commented on #14595
@presciak, thanks

Waiting for your feedback.

[2019-07-26 10:46] khouloudbelguith commented on #14823
@jimmybsilva; Please follow this issue: #14648, it is similar to your problem.

Thanks!

[2019-07-26 10:49] khouloudbelguith commented on #14837
@go-sudo, thanks!
Since it is fixed; I close the issue.
Feel free to open a new one when needed.

Thanks!

[2019-07-26 10:49] #14837 closed, assigned to nobody

[2019-07-26 10:57] khouloudbelguith commented on #14827
Hi @templatin, because you only an approved review for this product.
 I attached a screen record
https://drive.google.com/file/d/1qQtNjKtLMSM2ZR00KMqTXix-ABUtAdeQ/view

Thanks!

[2019-07-26 10:57] pkshetlie commented on #14806
@khouloudbelguith I don't agree, #14842 is a duplicate of mine it comes after ;)

Thank you for all, waiting for the patch ;)

[2019-07-26 11:08] khouloudbelguith commented on #14848
@97t, could you please navigate to the BO > International > Translations > "Add / Update a language" section, Select your Deutch language & click on the on the "Add or update a language" button.

Thanks to check & feedback!

[2019-07-26 12:16] jasonchemama commented on #14856
hello, every month, I have this problem in my site 1.7.5 and 1.7.6.  here are the infos
![CA767C6A-E023-4771-8F22-50187A3AED0B](https://user-images.githubusercontent.com/43283123/61950956-7cbc5180-af7d-11e9-8a77-ee9e239bc91d.png)
[Safari - 26 juil. 2019 à 08:02.pdf](https://github.com/PrestaShop/PrestaShop/files/3435676/Safari.-.26.juil.2019.a.08.02.pdf)
![1397EA6D-B016-4191-B2E1-E8E1254A5C67](htt

[2019-07-26 12:45] cartomatica73 commented on #14621
@khouloudbelguith

no, we use the zOne theme

[2019-07-26 12:47] khouloudbelguith commented on #14621
@cartomatica73, have you tried to contact the theme author about this issue?

Thanks to check with them & feedback.

[2019-07-26 12:52] cartomatica73 commented on #14621
@khouloudbelguith
yes, telling me that I have to buy back the template because I no longer have the support, hateful as an answer

[2019-07-26 12:55] matks commented on #14748
@kpodemski 🆙 😄
If we wait too long, 1.7.6.1 will be shipped before we fix this bug 😅

[2019-07-26 13:00] khouloudbelguith commented on #14621
@cartomatica73, ok thanks!

have you tried to reproduce the issue with the classic theme; because this issue occurs only in the FO.
So, it is related to your theme.

Thanks!

[2019-07-26 13:02] matks commented on #14735
Not yet, but you are the 2nd contributor to mention this so it seems likely we'll address this need 😄(see https://github.com/PrestaShop/PrestaShop/issues/14855)

Also, [the module example](https://github.com/friends-of-presta/demo-cqrs-hooks-usage-module/blob/master/ps_democqrshooksusage.php) contains a lot of examples all in a single module so do not be afraid of all the files, you can quite easi

[2019-07-26 13:04] khouloudbelguith commented on #14856
@jasonchemama, you have an issue with the ps_categoryproducts module.
Could you please try to re-install it, clear cache, check & feedback.

[2019-07-26 13:05] matks commented on #14735
Also did you read the docs https://devdocs.prestashop.com/1.7/modules/sample_modules/grid-and-identifiable-object-form-hooks-usage/ ? If yes, can you tell us what is missing, what part is not clear enough so we can improve it ?

[2019-07-26 13:06] 97t commented on #14848
Nothing changed in mails

[2019-07-26 13:10] jasonchemama commented on #14856
how to do that?

[2019-07-26 13:12] leecharles25 commented on #14861
Hi Khouloudbelguith, looks like you know the answer, i have looked at the schema you have sent....excuse my ignorance but what do i do with it?
Can you talk me through how i add the missing collumn(s).
I am very grateful for the help.

Lee

[2019-07-26 13:13] PrestaShark commented on #14851
Its not related with csv file

![Bez-nazwy-1](https://user-images.githubusercontent.com/8243273/61953910-de011680-afb7-11e9-9f8f-86a3b2d96cd7.png)

[2019-07-26 13:14] khouloudbelguith commented on #14856
@jasonchemama; you need to navigate to your BO > Module Manager page > search for the ps_categoryproducts module, uninstall it with removing the folder, then navigate to the Module Catalog page > search for the module & install it.

Thanks!

[2019-07-26 13:16] matks commented on #14731
Linked to https://github.com/PrestaShop/PrestaShop/issues/12540

[2019-07-26 13:18] PrestaShark commented on #14861
@leecharles25 its missing location column in ps_stock_available table... Check email from me. Send You yesterday.

[2019-07-26 13:24] khouloudbelguith commented on #14861
@leecharles25, here's the exact structure of the ps_stockavailable table.
![ps_stockavailable](https://user-images.githubusercontent.com/16067358/61954584-0a656480-afb1-11e9-8290-45f600db4fdc.png)

Thanks!

[2019-07-26 13:25] jasonchemama commented on #14856
I can not access the Module Catalog page
![6CB470C5-1191-4A11-998E-4FB32224CB01](https://user-images.githubusercontent.com/43283123/61954655-4d124700-af87-11e9-870c-b214fda34109.png)

[2019-07-26 13:27] fafa0659 commented on #14733
hi,
someone have news about this problem ?

best regards

[2019-07-26 13:30] khouloudbelguith commented on #14856
@jasonchemama, when debug mode is enabled; is there any exception displayed?

Thanks!

[2019-07-26 13:32] khouloudbelguith commented on #14733
Hi @fafa0659,

it is in progress.

Thanks for your patience & your understanding!

[2019-07-26 13:35] jasonchemama commented on #14856
yes here are the errors
[Safari - 26 juil. 2019 à 09:33.pdf](https://github.com/PrestaShop/PrestaShop/files/3435954/Safari.-.26.juil.2019.a.09.33.pdf)

[2019-07-26 13:38] khouloudbelguith commented on #14856
@jasonchemama,

value: 14)

That means that the specific database user has already used up all the concurrent connections at that moment and more cannot be processed.
The only option to fix without doing any programming changes is to change the max_user_connections value in MySQL configuration

[2019-07-26 13:41] jasonchemama commented on #14856
how to do that?

[2019-07-26 13:50] PierreRambaud commented on #14376
I create https://github.com/PrestaShop/ps_facetedsearch/pull/118 for collapse and buttons' alignements. But I think therest need to be done in the classic theme.
Wdyt @PrestaShop/prestashop-core-developers?

[2019-07-26 13:52] khouloudbelguith commented on #14851
@PrestaShark, I tried to create a similar co,bination with webservice, I used this script
[code]
& it is OK

I attached a screen record
https://drive.google.com/file/d/1Q4TaOPcGIHrmI9h6tnUcAfNoHpvCPZ-6/view

Thanks!

[2019-07-26 13:59] khouloudbelguith commented on #14856
@jasonchemama, The only option to fix without doing any programming changes is to change the max_user_connections value in MySQL configuration

You need to check the issue with your host.

Thanks!

[2019-07-26 14:12] nrcjea001 opened #14874 "Add to cart button stuck on loading"
**Describe the bug**
Add to cart button is stuck on loading on site https://madein.mu/

Please see attached image of console (chrome).
![untitled](https://user-images.githubusercontent.com/26452178/61957462-5ecc0c80-afd0-11e9-8099-8c187ca821dc.png)

Not sure how to interpret error. Is this an issue with theme?

**Additional information**
PrestaShop version: 1.7.6

[2019-07-26 14:15] roja45 commented on #14860
Done, same result, /var/cache has full permissions.  This is a back office exception anyway, and the files indicated in the error just don't exist.

![image](https://user-images.githubusercontent.com/19314911/61957891-dde82300-af85-11e9-8376-eee604489bd3.png)

[2019-07-26 14:16] matks commented on #14378
@eternoendless 🆙 😄

[2019-07-26 14:16] Caro29 opened #14875 "How to migrate from version 1.4.6.2 to recent version"
Hello,
We have a old version of Prestashop 1.4.6.2 and we want to migrate to a recent version 1.6 for example.
First we have tried to import our project locally but we have some errors. We think it is a problem of compatibily of our Xampp which is recent.
After we have tried to import our database locally and to create a new prestashop project version 1.6.1.24 and to connect the old database with

[2019-07-26 14:18] roja45 commented on #14860
The file it wants:
`[26-Jul-2019 15:13:06 Europe/London] PHP Fatal error:  require(): Failed opening required '/var/www/var/cache/dev/ContainerX7jeuzj/getDebug_FileLinkFormatter_UrlFormatService.php' (include_path='/var/www/vendor/pear/pear_exception:/var/www/vendor/pear/console_getopt:/var/www/vendor/pear/pear-core-minimal/src:/var/www/vendor/pear/archive_tar:.:/usr/share/php') in /var/www/var/ca

[2019-07-26 14:18] khouloudbelguith commented on #14874
Hi @nrcjea001,

You have an error 500, could you please try to enable debug mode & check if there is an exception when you click "add to cart".

Thanks!

[2019-07-26 14:19] matks opened #14876 "Migrate "Design > Positions > Transplant a module" page"
Part of Symfony migration project

[2019-07-26 14:19] matks commented on #14876
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/10568

[2019-07-26 14:19] #14876 closed, assigned to nobody

[2019-07-26 14:20] jasonchemama commented on #14856
I come to contact my host;

[2019-07-26 14:22] khouloudbelguith commented on #14856
@jasonchemama, thanks!

Waiting for your feedback.

[2019-07-26 14:25] leecharles25 commented on #14861
Hi @khouloudbelguith, thanks for your reply, I don’t know how to put it right?

Do I upload something this is why I needed you to talk me through what it is I need to do step by step.

Sorry I don’t really know what you are showing me.

Kind Regards

Lee

From: khouloudbelguith
Sent: 26 July 2019 14:25
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: leecharles25 <ledgington@btinterne

[2019-07-26 14:26] nrcjea001 commented on #14874
Sorry. I am new to this. I go to debug mode and this what I see. Please advise where to look

![untitled](https://user-images.githubusercontent.com/26452178/61958667-ce42fb80-afd2-11e9-90fb-e3808fa66275.png)

[2019-07-26 14:29] khouloudbelguith commented on #14875
Hi @Caro29,

You can use the 1-click upgrade module v1.6.1.8 to make an upgrade from 1.4 to 1.6 as described here: https://addons.prestashop.com/en/data-migration-backup/5496-.html
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforeha

[2019-07-26 14:29] #14875 closed, assigned to nobody

[2019-07-26 14:32] leecharles25 commented on #14861
Hi Prestashark, sorry I have no email yesterday.

Thanks for telling me a bout the missing location column, what I need is to be told step by step how to fix this.

Are you in Poland?

My wife is Polish…

Lee

From: Prestashark.eu
Sent: 26 July 2019 14:18
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: leecharles25 <ledgington@btinternet.com>; Mention <mention@noreply.github.com>
Sub

[2019-07-26 14:38] PrestaShark commented on #14861
Yes im from Poland. Please check email twice i will help with this issue.

[2019-07-26 14:38] nrcjea001 commented on #14874
I may be wrong but it doesn't look like an exception is being thrown

![untitled](https://user-images.githubusercontent.com/26452178/61959481-88873280-afd4-11e9-87f5-3ce62e142810.png)

[2019-07-26 14:39] khouloudbelguith commented on #14861
@leecharles25, first, could you please navigate to the BO =>Advanced Parameters => Database => Create this SQL `Select * from ps_stockavailable` & Save.
Tru to view the result & provide me a screenshot.

Thanks!

[2019-07-26 14:39] PrestaShark commented on #14851
Ok. I will investigate it and let You know! Thanks for Your time! :)

[2019-07-26 14:39] nsorosac commented on #14616
Hi @marionf ! Here is a glimpse of customer feedback on this bug:
![bug-PS17-reorder](https://user-images.githubusercontent.com/54878/61959564-f8d98800-afc3-11e9-83ed-cd9c7b857d51.png)

[2019-07-26 14:42] Caro29 commented on #14875
Thank you for your response. But our problem is that we didn't manage to copy our files locally so we can't test the upgrade.

[2019-07-26 14:43] khouloudbelguith commented on #14874
@nrcjea001, thanks!
I found the exception in your shop
![cart](https://user-images.githubusercontent.com/16067358/61959740-f7a45d00-afbb-11e9-9ac4-076aa2d6c8b5.png)
It is related to the mailchimp module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it

[2019-07-26 14:43] #14874 closed, assigned to nobody

[2019-07-26 14:48] jasonchemama commented on #14856
Here is my host's response: Hello,

 I'm sorry, but on a pooled formula, it will not be possible to change the value of max_user_connections.

[2019-07-26 14:48] nrcjea001 commented on #14874
thank you very much for the help :)

[2019-07-26 14:49] leecharles25 commented on #14861
Hi, is this what you need?

From: khouloudbelguith
Sent: 26 July 2019 15:40
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: leecharles25 <ledgington@btinternet.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Upgraded to 1.7.5.2 Cannot amend any product Quantities (#14861)

@leecharles25 <https://github.com/leecharles25> , first, could you please naviga

[2019-07-26 14:55] khouloudbelguith commented on #14648
Hi all,

As discussed with @webmastercoolspot, I'm trying to reproduce the issue with `clicandpay `module.
So, I need to discuss with the support team: https://clicandpay.groupecdn.fr/doc/fr-FR/support/
to get an account test for me to reproduce the issue with a key test and account test.

Thanks for your understanding!

[2019-07-26 14:57] khouloudbelguith commented on #14851
@PrestaShark, thanks!
Waiting for your feedback

[2019-07-26 14:59] khouloudbelguith commented on #14875
@Caro29, for your safety!
You need to make a back up of your shop.

Thanks!

[2019-07-26 15:02] khouloudbelguith commented on #14856
@jasonchemama, but you have an exception because of this
![exception](https://user-images.githubusercontent.com/16067358/61961072-b6617c80-afbe-11e9-93ab-df6e52c037cc.png)
It is a server issue.

Thanks!

[2019-07-26 15:03] khouloudbelguith commented on #14861
@leecharles25, there is no screenshot attached here.
You need to login into GitHub & upload your picture.

Thanks!

[2019-07-26 15:14] centoasa opened #14877 "moduel feeder"
Prestashop 1.7.5.2
for module feeder https://github.com/PrestaShop/feeder
I would to add the date of add or update of products <pubdate>; I've add this code:
`$date=date('r', strtotime($product['date_add']);
echo '<pubdate>'.$date.'</pubdate>';`
but it doens't work with 500 error
instead this simple code:
`$pubDate= date('r', time());
echo "<pubDate>$pubDate</pubDate>";`
works, but withoud the add

[2019-07-26 15:16] leecharles25 commented on #14861
Ok try this....
![image](https://user-images.githubusercontent.com/53303590/61962082-ad71aa80-afc0-11e9-85a5-77b6fcdac696.png)

[2019-07-26 15:16] leecharles25 commented on #14861
I am missing collumn "location"

[2019-07-26 15:19] templatin commented on #14827
@khouloudbelguith You didn't understand the issue.
The reviews are not displayed for a product if it appears multiple times in another module on same page.
As I can see in your recording, you already have Popular products module on homepage. Now install another native module (Example: Specials block (ps_specials)) and notice that reviews are not displayed for product "Hummingbird printed sweater".

[2019-07-26 15:24] khouloudbelguith commented on #14861
@leecharles25, yes, this is the exact issue.
So you need to add this column in your table.
Try to connect to your PhpMyadmin, for example, => find your database & your table and try to add this missing column.

Thanks!

[2019-07-26 15:29] khouloudbelguith commented on #14877
Hi @centoasa,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).

[2019-07-26 15:29] #14877 closed, assigned to nobody

[2019-07-26 15:43] leecharles25 commented on #14861
Ok im in and ready to add collumn.

What do i put in Length/Value and varchar is available but not varchar(255)???

Please advise

[2019-07-26 15:43] flyman30 commented on #14648
I thought you understood that ALL payment modules have the same problems ie Prestashop 1.7.6.0 does not understand the return of acceptance of payments that the banks transmit.
It is urgent that the developers look for the cause as soon as possible!

[2019-07-26 15:45] khouloudbelguith commented on #14861
@leecharles25, you can follow my screenshot
![image](https://user-images.githubusercontent.com/16067358/61963955-b49ab780-afc4-11e9-9a5c-837363f32284.png)

Thanks!

[2019-07-26 15:57] leecharles25 commented on #14861
Ok so i press save and it says i have to enter a length/value
![image](https://user-images.githubusercontent.com/53303590/61964693-64bcf000-afc6-11e9-8fcb-8c926f38b22e.png)

[2019-07-26 15:58] webmastercoolspot commented on #14648
Yes it's not only me and clicandpay

I hope it will be fixed as soon as possible

Thx :)

[2019-07-26 16:11] khouloudbelguith commented on #14861
@leecharles25, try to use `0`.

Thanks!

[2019-07-26 16:19] khouloudbelguith commented on #14861
@leecharles25; here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10422 to add stock location.

Thanks!

[2019-07-26 16:30] leecharles25 commented on #14861
Hooray its worked xxxxxx

However now in BO products it no longer shows quantity in stock collumn...this has disapeared.

Any advise ???

We are making progress...

[2019-07-26 16:35] khouloudbelguith opened #14878 "Product Comments - Reviews are displayed only on the first instance of a product on the Homepage"
**Describe the bug**
Issue  reported here: https://github.com/PrestaShop/PrestaShop/issues/14827#issuecomment-514994659
The module displays reviews only on first instance of a product on homepage
**To Reproduce**
Steps to reproduce the behavior:
1. Install Product Comments module
2. Approve some reviews for some products
3. ps_featuredproducts is installed => reviews are well displayed
![image](ht

[2019-07-26 16:36] khouloudbelguith commented on #14878
ping @jolelievre

[2019-07-26 16:37] eternoendless commented on #14648
I think [this comment](https://github.com/PrestaShop/PrestaShop/issues/14648#issuecomment-514081244) points in the right direction.

I don't have access to the module's source code, but it looks like they are using custom endpoints and side-stepping PrestaShop's router. This is a bad practice and is **strongly discouraged** because when you do that, things like this happen.

Basically `Tools` now

[2019-07-26 16:37] khouloudbelguith commented on #14827
@templatin; thanks for these clarifications
Issue created here: #14878

Thanks!

[2019-07-26 16:52] khouloudbelguith commented on #14861
@leecharles25, could you please follow this PR's files: https://github.com/PrestaShop/PrestaShop/pull/10422/files & compare them to your files.

Thanks!

[2019-07-26 16:53] PierreRambaud commented on #14616
It's a POC but you can tell me if it's working for you too https://github.com/PrestaShop/PrestaShop/pull/14879

[2019-07-26 17:07] MockoB opened #14880 "Remaining quantities on the product page take into account product already in cart"
**Describe the bug**
I can't manage to display the quantities on the product page.

**To Reproduce**
Steps to reproduce the behavior:
1. Set in shop parameters/product settings/display remaining quantities when the quantity is lower than/

After setting the desired number there is just label telling customers there are **last items in stock** and no remaining quantities displayed.

Maybe there is

[2019-07-26 17:36] flyman30 commented on #14648
I think [this comment](https://github.com/PrestaShop/PrestaShop/issues/14648#issuecomment-514081244) points in the right direction.

I don't have access to the module's source code, but it looks like they are using custom endpoints and side-stepping PrestaShop's router. This is a bad practice and is **strongly discouraged** because when you do that, things like this happen.

Basically `Tools` now

[2019-07-26 17:48] webmastercoolspot commented on #14648
Ok you mean if i create in my module folder a /controllers/front/validation.php and structure like this :

And in code i put all code in validation.php in root of my payment module it will be work with prestashop 1.7.6 ?

How to call this new frontcontroller in payment process ?

[2019-07-26 17:50] lutek opened #14881 "OrderController for guest, unnecessary validating all suppliers,manufacturers,warehouses addresses"
**Describe the bug**
On checkout page prestashop unnecessary validating all suppliers,manufacturers,warehouses addresses record for not logged user.

this line:
https://github.com/PrestaShop/PrestaShop/blob/368fc858b8cbc1f40949412d28ac2d273bae6abc/classes/checkout/AddressValidator.php#L80

generates sql:
[code]

**To Reproduce**
Steps to reproduce the behavior:
enable _PS_DEBUG_PROFILING_
1. gener

[2019-07-26 18:22] jasonchemama commented on #14856
Here is my host's response
Hello,

 Indeed, the fact that this variable is blocked at 14 causes exceptions.  But it is not normal that you need more than 14 simultaneous connections for your shop.  We must work on the cause and not on the consequences.

 If you have a seal that collects water from a leak and that seal overflows.  Is it better to replace it with a bigger seal or repair the leak?

[2019-07-26 19:22] JavierEB commented on #12667
afd

[2019-07-26 19:23] JavierEB commented on #12667
![Sin título](https://user-images.githubusercontent.com/5004396/61976253-9300f680-afeb-11e9-83b5-1653f839f47f.jpg)
Debug active, prestashop 1.7.5.2
when trying to clear the cache, the message skips.

[2019-07-26 20:12] webmastercoolspot commented on #14648
Is it possible to prestashop to revert back for this to way like prestashop 1.7.5.2 even if it's a wrong method to do validation payment.
That permit to payment module dev to update their addon to new proper methode with FrontController ?

[2019-07-26 20:18] nsorosac commented on #14616
Thanks @PierreRambaud we will try this on several projects !

[2019-07-26 20:28] donadiov opened #14882 "Missing Controllers 1.7.6"
My issue is a little bit related to this one:
https://github.com/PrestaShop/PrestaShop/issues/13681

I understand that Prestashop is looking foward to deprecate overrides, which I think it could solve some issues, like two or more modules overriding same class; method or controllers' function.

Today I find myself working to upgrade my Store, first from 1.6 to 1.7.5.2 - Which wasn't so hard, and n

[2019-07-26 21:15] PierreRambaud commented on #14616
@nsorosac Just one to make sure it works 😅

[2019-07-27 00:08] webmastercoolspot commented on #14648
Ok i try to create a new controller and i name it validation.php in "mymodule/controllers/front"

I create class :

[code]
I put in "..........." code there are in my /mymodule/validation.php

After i modify my main class of my module to change this :

`$this->controllers = array('redirect', 'submit', 'rest', 'iframe');`

TO this :

`$this->controllers = array('redirect', 'submit', 'rest', 'iframe

[2019-07-27 01:29] webmastercoolspot commented on #14648
Furtheremore. For my payment module it's impossible to not used validation.php in root module.
Indeed, this file is needed in BO payment Module site for to check URL Notification when user put bank card information.

BO site module payment need access URL file php for construct notification URL. If you say that prestashop now need to have only frontcontroller, my payment module will be don't work

[2019-07-27 02:59] msautral commented on #14733
Hi everyone, after a half day trying I got this:
- I try to export the language but on the zip there are not translations
- I took the  sf-es-ES.zip that is on the translations folder on the root installation and unzip it on my theme folder/translations/es-ES, it show all translation but also shows a lot of errors.
- erase all translations file from theme folder/translations/es-ES less this 10 fil

[2019-07-27 03:31] 97t commented on #14848
I discovered the problem. It's when email address of client contain BIG and small letters.

1.) works: test@abc.de  -> Hello Mike Jones
2.) error: Test@Abc.de or test@Abc.de  -> Hello {firstname} {lastname}

I think its a PrestaShop error.
Best regards

[2019-07-27 08:16] khouloudbelguith commented on #14834
Duplicate of #14648

[2019-07-27 08:16] #14834 closed, assigned to nobody

[2019-07-27 09:49] banan44 commented on #14816
Hi @khouloudbelguith
I am sorry it took me so long to reply. I the link below you will find all information I could gather. I have checked the logs and I noticed one thing. When Main Menu module deactivated itself last time I was doing price indexing in Faceted Search. I got a PHP error - you will find it in lbshop.eu.error.log1 with date Sat Jul 27 00:00:52.970292 2019.

I forgot to activated it

[2019-07-27 10:54] dineshbadrukhiya commented on #11207
Hello @colinegin
I agree with the @PierreRambaud as there is also no need of it.
Sorry for the same.

[2019-07-27 11:37] Kilipukki opened #14884 "Admin Cart gives error 500 when trying to use it"
Hello folks.

im bit new to this Prestashop and i have a problem that i cant solve.

in admin panel side, when i try to access Cart (orders-cart) it gives me this error:

Exeption tab:

PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException

in src/Core/Localization/Locale.php (line 171)

    public function getPriceSpecification($currencyCode)

    {

        $currencyCode = (str

[2019-07-27 12:06] brk34 commented on #14796
Hi @ValerioFoddai, @khouloudbelguith
Go phpmyadmin
Find your Prestashop's database
find pr_configuration table
Choose "500" in number of rows
CTRL+F and copy paste there "PS_COOKIE_CHECKIP"
There will write "NULL" / "1" in column of value
double click there and write "0" and click to enter key

Your problem fixed

[2019-07-27 12:29] Kixell-NicolasJardillier opened #14885 "Drag & Drop to change position in grid with HelperList"
PrestaShop version: 1.7.6
PHP version: 7.2.14

HelperList : still a bug on drag and drop to change position of items in grid.

We have to specify manually the currentIndex:
Media::addJsDef(array(
            'currentIndex' => AdminController::$currentIndex.'&configure='.$this->name/*and whatever*/,
));

Best

[2019-07-27 20:06] banobazaar commented on #14642
thanks working now

[2019-07-27 20:06] #14642 closed, assigned to nobody

[2019-07-27 20:27] banobazaar opened #14886 "Mobile Template"
any mobile template available for PS 1.7.6.0?

[2019-07-28 01:32] BIGREECE opened #14887 "An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Theme\Exception\ThemeConstraintException code 2]"
I keep receiving this error everytime I try to upload my prestashop template. it is in a zip file and I have tried multiple templates, by link and zip upload. I also found that the free prestashop templates that are available online are not available in the catalog. how can I fix this error?

again its:
 An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Theme\Exception\ThemeConstrai

[2019-07-28 10:02] harm-smits opened #14888 "Can not choose from more than 40 product features in controller=AdminFeatures&addfeature_value"
**Describe the bug**
I have 60 product features, but can only select form the first 40 in the backend when adding a new feature value

**To Reproduce**
1. Create a number of product features
2. You can no longer add values to a features after a certain number using the add feature values option in the backend

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.2

[2019-07-28 10:06] harm-smits commented on #14888
It seems to be solve-able by reloading php-fpm, however, that seems to be a pretty weird fix...

[2019-07-28 11:03] thbl opened #14889 "Modernize PS API / webservice to support Json"
Could be usefull if prestashop supported modern json, instead of only having the difficult XML web service.

[2019-07-28 11:12] JulianEberius commented on #14790
The file contains 350K+ lines of "Copied file..." "Moved file..."  etc.
It concludes with:

``
[2019-07-13 21:28:44] Database upgrade OK
[2019-07-13 21:28:44] Warning detected during upgrade.
[2019-07-13 21:28:44] Database upgraded. Now upgrading your Addons modules...
[2019-07-13 21:28:45] Addons modules files have been upgraded.
[2019-07-13 21:28:45] The database has been cleaned.
[2019-07-13 21

[2019-07-28 12:34] mickaelandrieu commented on #14693
Fair enough !

Thanks @khouloudbelguith :)

[2019-07-28 17:27] leecharles25 commented on #14861
Hi the missing quatity column in Bo was due to stock management....all is working well many thanks for all help.
This can be closed now.

[2019-07-28 17:27] #14861 closed, assigned to nobody

[2019-07-28 18:25] Maofree opened #14890 "Error during upgrade the databse from 1.6.1.23 to 1.7.6.0"
Hi
I'm trying to upgrade a site from 1.6.1.23 to the 1.7.6.0
it is a big site with a big database, however I've tried many solutions also to 1.7.5.2 on the local archive. I get the same error.
I've upgraded to 1.7.x many sites but this one has problems with doctrine during the upgrade
upgrading to 1.6.1.24 all is ok

this is the error:

Updating database schema...
13:21:12 ERROR [console] Error th

[2019-07-28 20:54] yassine1812 opened #14891 "Hello I have big problem with the subject email"
Hello

I upgraded to 1.7.6 and since when the customers receive the email of confirmation, in the subject, I don't have the name of my shop but I have [PrestaShop] (please check the picture)
<img width="1440" alt="Capture d’écran 2019-07-28 à 22 38 59" src="https://user-images.githubusercontent.com/53042056/62012739-6b946000-b18a-11e9-9812-1c61bdbc885a.png">

I don't know how can I do

thanks

V

[2019-07-28 23:29] sirius82 opened #14892 "unit_price tax inc on product list even if tax excluded"
Hello, i've a problem with PS 1.7.5.2 : tax are enabled, prices are showed only for one customer group with tax excluded. On the product page, unit_price is correctly showed tax excluded. But not on product list. The price is correctly showed tax excluded but the unit_price is showed tax inc.
I found this page : https://github.com/PrestaShop/PrestaShop/pull/5930/files but the ProductController.php

[2019-07-29 03:54] arafatx commented on #10934
Sorry for disturbing a closed issue. This still happens in prestashop 1.7.6.

[2019-07-29 05:39] TemKaSD opened #14893 "php 7.3 ORM"
Hello. Pls update ORM version. https://github.com/doctrine/orm/releases

[2019-07-29 05:42] #14758 closed, assigned to nobody

[2019-07-29 06:27] khouloudbelguith commented on #14391
Hi @PrestaShark,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-29 06:27] #14391 closed, assigned to nobody

[2019-07-29 06:28] khouloudbelguith commented on #14277
Hi @josejecas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-29 06:28] #14277 closed, assigned to nobody

[2019-07-29 06:28] khouloudbelguith commented on #14407
Hi @MatthiasD0,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-29 06:28] #14407 closed, assigned to nobody

[2019-07-29 06:29] khouloudbelguith commented on #14408
Hi @marionpelouzet,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-29 06:29] #14408 closed, assigned to nobody

[2019-07-29 06:30] khouloudbelguith commented on #13844
Hi @roja45,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-29 06:30] #13844 closed, assigned to nobody

[2019-07-29 06:51] khouloudbelguith commented on #14886
Hi @banobazaar,

You can find in this link: https://addons.prestashop.com/en/3-templates-prestashop?compatibility[]=1.7.6&functionality[]=92& the list of templates which are compatibles with PS1.7.6.0 & responsives.
So, in our addons market place, you can find the mobile-optimized PrestaShop themes.

Thanks!

I close the issue, feel free to open a new one when needed.

[2019-07-29 06:51] #14886 closed, assigned to nobody

[2019-07-29 07:18] khouloudbelguith commented on #14889
Hi @thbl,

The API only supports XML on input but supports JSON output if you choose so:

Ping @PrestaShop/prestashop-core-developers what do you think about supporting Json?

Thanks!

[2019-07-29 07:46] khouloudbelguith commented on #14892
Hi @sirius82,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1mtpk9VfkoicUyaXkbN8SvDiwLufcJsp0/view
Thanks to check & feedback.

[2019-07-29 07:48] khouloudbelguith commented on #14880
Hi @MockoB,

You need to navigate to your BO => Shop Parameters => Product Settings => Enable the option "Display available quantities on the product page".
![image](https://user-images.githubusercontent.com/16067358/62010418-5acff400-b162-11e9-8fb7-4c086d5c65be.png)
Thanks to check & feedback.

[2019-07-29 07:49] khouloudbelguith commented on #14881
Hi @lutek,

This issue is fixed in the PS1.7.5.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/8904
Your ticket is a duplicate of #9690
Thanks to check & feedback.

[2019-07-29 07:50] khouloudbelguith commented on #14882
Hi @donadiov,

Those pages are migrated to symfony as described here: http://build.prestashop.com/news/prestashop-1-7-6-0-beta-release/
You can find the controller in this path: `Prestahop_Project/src/PrestaShopBundle/Controller/<path>/<Your>Controller`
- For example `AdminCategoriesController` exist here: `Prestahop_Project\src\PrestaShopBundle\Controller\Admin\Sell\Catalog`
- `AdminContactsContr

[2019-07-29 07:54] khouloudbelguith commented on #14884
Hi @Kilipukki,

The issue is related to #14608.
Could you please try to change the precision to `2` in your table `ps_currency` from your database.
Thanks to check & feedback.

[2019-07-29 07:55] khouloudbelguith commented on #14885
Hi @nicoja,

Thanks for your report.
In which pages this issue occurs, in pages migrated to Symfony?
Thanks!

[2019-07-29 07:58] nicoja commented on #14885
Hello, no.
simply create an helperlist in module to display a grid and implement a drag and drop of items to update their positions, that's it
Best,
Nicolas

[2019-07-29 08:00] marionf commented on #14848
@khouloudbelguith It seems to be a duplicate of #13386

[2019-07-29 08:02] marionf commented on #11207
Thank you for your answer @dineshbadrukhiya

I close this issue

[2019-07-29 08:02] #11207 closed, assigned to nobody

[2019-07-29 08:03] khouloudbelguith commented on #14848
@marionf, yes, it is the same issue.
Thanks!

[2019-07-29 08:03] olecorre commented on #14648
With 1.7.6.0 fresh and Payzen:
FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to a member function get() on null in /home/oboutique/www/classes/Tools.php on line 801" while reading response header from upstream, client: 194.50.38.134, server: oboutique.fr, request: "POST /modules/payzen/validation.php HTTP/1.1

In Tools :
$localeRepository = $container->get(self::SERVICE_LOCALE_REPOS

[2019-07-29 08:03] khouloudbelguith commented on #14848
Hi @97t,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13386
So, I close it.
Thanks!

[2019-07-29 08:03] #14848 closed, assigned to nobody

[2019-07-29 08:03] khouloudbelguith commented on #14848
Duplicate of #13386

[2019-07-29 08:07] khouloudbelguith commented on #14885
@nicoja, in fact, HelperList is indeed not used anymore in pages migrated to Symfony however other mechanisms are available (the Grid) as well as new hooks.
Could you please check & feedback.

[2019-07-29 08:15] marionf commented on #14693
@mickaelandrieu

Can you tell us what is selected in your BO > Design > Image > Image format ?

[2019-07-29 08:30] khouloudbelguith commented on #14893
Hi @TemKaSD,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3, you can follow this ticket

[2019-07-29 08:40] khouloudbelguith commented on #10934
Hi @arafatx,

This issue is fixed in the `psaddonsconnect `module v2.0.0.
In my case it is ok.

Thanks!

[2019-07-29 08:47] khouloudbelguith commented on #14891
Hi @yassine1812,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screenshot
![image](https://user-images.githubusercontent.com/16067358/62034203-78926d00-b1e5-11e9-99c1-8c20ffc304a2.png)
Could you please navigate to the BO => Shop Parameters => Contact => Stores Tab & edit your shop name.
![image](https://user-images.githubusercontent.com/16067358/62034387-d7f07d00-b1e5-11e9-

[2019-07-29 08:48] sirius82 commented on #14892
Hi @khouloudbelguith
Thanks for your reply. But on your test, unit_price is not displayed under product in product list (category, ...)
My problem is there, not in product page where unit_price is correctly displayed without tax.
Your display in product list
![image](https://user-images.githubusercontent.com/11886689/62034171-ce6b1300-b1ed-11e9-86f5-4b1d88fb20da.png)

The display on my website
![i

[2019-07-29 08:50] nicoja commented on #14885
ok, but how you make your module compatible with older Prestashop versions ?
It is a little bit confusing.
HelperList is still used in many Prestashop controllers : AdminPatterns, AdminSearch, AdminCarts, AdminTracking
So why I should migrate as Symfony (3) is still not fully implemented, as well as more than 95% of modules still used old system.
I really wonder how compatibility could be managed

[2019-07-29 08:59] khouloudbelguith commented on #14885
@nicoja, could you please provide me a demo module to test it.

Thanks!

[2019-07-29 09:03] nicoja commented on #14885
Sorry, but It is complicate for me to take this time. You have the information if you want to debug it.
Best regards

[2019-07-29 09:07] joansill commented on #14595
This worked. Thank you @rednour

[2019-07-29 09:16] khouloudbelguith commented on #14595
Hi @attractive,

Any news about your issue?

Thanks!

[2019-07-29 09:18] yassine1812 commented on #14891
Hello friend

thanks for your reply :)

The name shop is right, it's my name shop

[2019-07-29 09:22] khouloudbelguith commented on #14892
@sirius82, I tried to install the Ps_LegalCompliance module v3.0.2 to display the unit price in the list page.
It is OK
![image](https://user-images.githubusercontent.com/16067358/62035703-45051200-b1e8-11e9-83e2-a730a36bcb93.png)
But, in your shop, I found this exception
![image](https://user-images.githubusercontent.com/16067358/62036147-25221e00-b1e9-11e9-9a1e-2e8204eedbb0.png)
What is the exac

[2019-07-29 09:31] Daniel-Informax commented on #14646
Yes, but it happens not only with the shipping, but with the products

[2019-07-29 09:31] khouloudbelguith commented on #14891
@yassine1812, could you please try to navigate to the BO => Shop Parameters => General => Enable "Multistore".
Then go to the BO => Advanced Parameters => Multistore => Edit your shop => & edit the shop name & save => after that try to disable multistore.
![image](https://user-images.githubusercontent.com/16067358/62037610-02453900-b1ec-11e9-96a7-1764ab2dabcb.png)

Thanks to check & feedback

[2019-07-29 09:32] khouloudbelguith commented on #14885
@nicoja, thanks!
We'll try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-07-29 09:35] khouloudbelguith commented on #14861
@leecharles25, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-29 09:38] khouloudbelguith commented on #14790
@LimousinArcherie, yes, I need if there are errors in your file during the upgrade.

Thanks!

[2019-07-29 09:39] Daniel-Informax opened #14895 "isPrice validation error"
**Describe the bug**
The isPrice Validation method is unable to validate prices on exponential notation

**To Reproduce**
Steps to reproduce the behavior:
1. Set a product price as 0.000010
2. Try to save it
4. Prestashop answer with product price is not valid

The problem is where php choose to show the number on exponential notation. I know it happens with this price, but it can happen with anyo

[2019-07-29 09:40] khouloudbelguith commented on #14642
@banobazaar, thanks for your feedback.

Feel free to open a new one when needed.

Thanks!

[2019-07-29 10:01] eternoendless commented on #14648
No, just the ones that don't follow PrestaShop recommendations. Modules bypassing PrestaShop were working by chance and chance alone until now, it was just a matter of time.

Did you check that the URL of your controller is correct and reachable?

I'm not sure what you meant here but if the payment processor absolutely needs the endpoint to be named "validation.php" you could keep the file and iss

[2019-07-29 10:01] sirius82 commented on #14892
@khouloudbelguith
Thanks for your quick reply !
It's the version 3.0.2.
Please, try again. Because yesterday I tried to modify the code in ps_legalcompliance.php. I just get the right code.

On your screen, is it the same unit_price on the product list and on the product page ?

thanks !

[2019-07-29 10:02] khouloudbelguith commented on #14895
Hi @Daniel-Informax,

Thanks for your report.
I manage to reproduce the issue with, PS1.7.6.0 & 1.7.6.x branch & PS1.7.5.2 version.
![image](https://user-images.githubusercontent.com/16067358/62039733-2571e780-b1f0-11e9-8cd9-e8640c783c50.png)
But when I try with another price like `1.000010`, it is well saved.

Could you please provide an example?

Thanks!

[2019-07-29 10:02] yassine1812 commented on #14891
Hello

yes perfect it's working now :) but I don't know why I lost all my small category, isn't a problem I can create again, do you know why ?

[2019-07-29 10:06] eternoendless commented on #14648
Again to make things clear: **This is not a new recommendation**, you should have NEVER bypassed ModuleFrontControllers, which exist since 1.5.0. Your code was working by chance, and it's just now that it has become evident.

[2019-07-29 10:09] ttoine commented on #14648
With 1.7.6, there has been many Beta and RC releases, in order to test it, but, also, to test modules and report issues. That could have been solved before the release.

I can't see any issue opened on this problem before this one, including on the forum.

For reference on the best practice:
https://devdocs.prestashop.com/1.7/modules/concepts/controllers/front-controllers/#example-of-method-calls

[2019-07-29 10:11] khouloudbelguith commented on #14892
@sirius82, yes it is the same.
I attached a screen record
https://drive.google.com/file/d/157N0ClVXuaJS7565MfFQHIuvcpbYBi93/view
Thanks to check & feedback.

[2019-07-29 10:15] khouloudbelguith commented on #14891
@yassine1812, when trying to save your shop; you didn't select all your categories.
You just selected your subcategories.
![image](https://user-images.githubusercontent.com/16067358/62040762-18ee8e80-b1f2-11e9-88f0-3c26c94b564b.png)

Thanks!

[2019-07-29 10:15] marionf commented on #14416
It would be better to leave the choice to the merchant to display or not the email address in the footer and in the contact page.

Problem: Currently the ps_contactinfo module isn't configurable and retrieves the information filled in Shop parameters > Contact > Stores > Contact details.
If you don't want to display the address for example, you can remove it. But the email address is a mandatory f

[2019-07-29 10:24] khouloudbelguith commented on #14856
@jasonchemama, thanks for your feedback.
But, in my case, I did not manage to reproduce the issue.

Before this issue occurs, did you make any changes in your project, did you installed any custom module?

To solve this issue, you need to increase your max_user_connections (https://dev.mysql.com/doc/refman/8.0/en/user-resources.html)

Thanks!

[2019-07-29 10:36] sirius82 commented on #14892
@khouloudbelguith Thanks. Effectivly it's good on your demo. So I don't understand why it'snt on mine.
The code in themes/Zonetheme/modules/ps_legalcompliance/hookDisplayProductPriceBlock_unit_price.tpl contains :
`    {if isset($smartyVars)}

  {if isset($smartyVars.unit_price) && isset($smartyVars.unit_price.unit_price)}

    <span class="aeuc_unit_price_label">

      {$smartyVars.unit_price.un

[2019-07-29 10:42] khouloudbelguith commented on #14892
@sirius82,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions

[2019-07-29 10:42] #14892 closed, assigned to nobody

[2019-07-29 10:50] sirius82 commented on #14892
Ok, thanks. I already asked on prestashop forum, without reply. I'll ask to the theme dev.

Thanks a lot.

[2019-07-29 10:52] khouloudbelguith commented on #14816
In your error logs, you have this:

What is the exact version ps_facetedsearch module did you use?

In your php.ini file, Try to increase:

[code]

You need to check this error with your host => you have some permissions issue.

Thanks to check & feedback.

[2019-07-29 11:09] webmastercoolspot commented on #14648
Ok and how i put my controller reachable ?

Did you mean i need to put this to be reachable :
`Context::getContext()->link->getModuleLink('clicandpay', 'validation', array();` ?

Or just need to redirection 301 old validation.php to my controllers/front/validation.php ?

Sorry for my newbie question i just try to understand.

[2019-07-29 11:27] khouloudbelguith commented on #14887
Hi @BIGREECE,

I tried with two different themes & they are well uploaded.
I attached a screen record
https://drive.google.com/file/d/1933fl4VzoCezrP8XRUxXGsjHFx2blps_/view

Thanks to check & feedback.

[2019-07-29 12:00] tdf-mep commented on #14648
We have same problem with CM-CIC / Monetico Paiement module

-  ToolsCore::displayPrice => ToolsCore::getContextLocale(Object(Context)) => call stack : https://github.com/PrestaShop/PrestaShop/issues/14813#issue-471150418
- Module : https://addons.prestashop.com/fr/paiement-carte-wallet/296-cm-cic-monetico-paiement-en-une-fois.html?_ga=2.137044592.1749643801.1564387064-1529603739.1543336857
- unle

[2019-07-29 12:01] khouloudbelguith commented on #14888
Hi @harm-smits,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1FWZwpAlg9i_Ef_y_EKifCPBuuMdMvUlK/view
Thanks to check & feedback.

[2019-07-29 12:06] jasonchemama commented on #14856
here is a new debug mode
[Safari - 29 juil. 2019 à 08:03.pdf](https://github.com/PrestaShop/PrestaShop/files/3442111/Safari.-.29.juil.2019.a.08.03.pdf)

[2019-07-29 12:06] khouloudbelguith commented on #14890
Hi @maofree,

Isn't the same issue reported in these tickets: https://github.com/PrestaShop/autoupgrade/issues/147 & https://github.com/PrestaShop/autoupgrade/issues/87#issue-335433391

Thanks to check & feedback.

[2019-07-29 12:06] thbl commented on #14889
@khouloudbelguith yea i know about the JSON output parameter, but don't find it usefull as there is no input.
Also why is the API named webservice in prestashop ? (maby a rename would be a good ide)
Think new PS users will search / look for API not webservice, and even the endpoint is called api

[2019-07-29 12:11] yassine1812 commented on #14891
Ok no problem thanks for your help :)

[2019-07-29 12:13] khouloudbelguith commented on #14891
@yassine1812, you are welcome.
Since it is fixed.
 close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-29 12:13] #14891 closed, assigned to nobody

[2019-07-29 12:16] khouloudbelguith commented on #14856
@jasonchemama, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-29 12:23] banan44 commented on #14816
The latest one. All my modules are up to date.

I will discuss the isseas and php.ini with my host and let you know. In the meantime, can you edit your message and remove logs for security reasons?

[2019-07-29 12:25] maofree commented on #14890
Hi
yes it is the same error due from an extra module of Sequra that add a field in ps_product with bit(1)

![1](https://user-images.githubusercontent.com/653230/62048201-932c0c80-b20c-11e9-8315-fb38cb30eea3.png)

I've replaced it with TINYINT(1)

bye

[2019-07-29 12:26] khouloudbelguith commented on #14816
@banan44, Done.
Thanks!
Waiting for your feedback.

[2019-07-29 12:27] lutek commented on #14881
from profiler, i have over 90k addresses in database.

![queries](https://user-images.githubusercontent.com/846598/61970488-2a128200-afdd-11e9-8133-61299256d00d.png)

![doubles](https://user-images.githubusercontent.com/846598/61970491-2d0d7280-afdd-11e9-870b-9ffb59fa97d7.png)

after delete all unnecessary addresses with id_customer = 0 i notice that all other (ex supplier) are processed

[2019-07-29 12:27] khouloudbelguith commented on #14890
@maofree, thanks for your feedback.
 close the issue, feel free to open a new one when needed.
Thanks!

[2019-07-29 12:27] #14890 closed, assigned to nobody

[2019-07-29 12:27] ttoine commented on #14648
If this is reverted to the old behavior, be aware that it means that no module, and no dev will make the job to use best practices...
again, that's why beta and release candidate are released: to test and report issues.

[2019-07-29 12:28] khouloudbelguith commented on #14890
Duplicate of https://github.com/PrestaShop/autoupgrade/issues/87

[2019-07-29 12:28] samuel-pires commented on #13829
To cut in 4 parts:

- [ ] Core theme
- [ ] Classic Theme
- [ ] Default Theme BO
- [ ] UI kit

[2019-07-29 12:30] khouloudbelguith commented on #14881
ping @jocel1 what do you think?

Thanks!

[2019-07-29 13:01] sarjon commented on #10632
Regarding new product page, should we keep same language behavior as it is now:
![old_lang](https://user-images.githubusercontent.com/15143151/62050407-d9d43380-b219-11e9-8dc8-7de27858676c.png)

Or should we use we use language switch as in any other page:
![new_lang](https://user-images.githubusercontent.com/15143151/62050447-e8bae600-b219-11e9-8b37-833e7bddd68a.png)

ping @TristanLDD @eternoendl

[2019-07-29 13:01] jasonchemama commented on #14856
how to do that?

[2019-07-29 13:25] eternoendless commented on #14648
[As stated in the documentation](https://devdocs.prestashop.com/1.7/modules/concepts/controllers/front-controllers/#example-of-method-calls), your front controller is accessible in an URL like this:

[code]

Just keep in mind:

- If your module is called "clicandpay" and your controller is "Validation.php" then the classname should be named "ClicandpayValidationModuleFrontController" ([as explaine

[2019-07-29 13:30] eternoendless commented on #14648
Oh and also: this cannot and will not be reverted because the new currency system is based on multiple independent services which are managed through the Dependency Container. Separate systems are easier to develop, maintain and test.

I'm sorry that your modules stopped working but this is due to bad practices in the past that allowed some things to work in a way that they should never have been

[2019-07-29 13:43] wikao2 commented on #11652
On Prestashop 1.7, we can not modify / add an attribute of an existing combination by the B.O. We have to delete the combination in question, to recreate it with the desired attribute(s) (value).
PRB: combination ID Is Removed => Problem with modules that use combination IDs (or **_id_product_attribute_**)

To avoid this, to add / modify an attribute of an existing combination WITHOUT deleting the

[2019-07-29 14:19] alouimohamedhabib opened #14897 "Add FosUser API"
Include FosRest instead of the classic WS system that is not flexible.

[2019-07-29 14:26] khouloudbelguith commented on #14897
Hi @alouimohamedhabib,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-29 14:42] marionf opened #14900 "[EPIC] Ecotax"
## BO issues product page
- [x] #15044
- [ ] #22827
- [x] #9855

## BO issues taxes page

## BO issues order page
- [x] #24340
- [ ] #24373

## FO issues
- [x] #9600
- [x] #10030

## Fixed
- [x] #10026
- [x] #15059
- [x] #18835
- [x] #22029
- [x] #9967
- [x] #20600
- [x] #15038

[2019-07-29 14:49] coffeebean19 commented on #14617
I have simillar error when try to open Catalog->Brands in the Back Office.

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id_lang' in 'order clause'
<img width="1091" alt="Zrzut ekranu 2019-07-29 o 16 48 20" src="https://user-images.githubusercontent.com/53439246/62057884-beb8f200-b220-11e9-84d0-feaeadcd6a0b.png">

[2019-07-29 14:52] cboillat commented on #14537
@khouloudbelguith
is the Geolocalisation by IP enabled during your test ?

[2019-07-29 15:05] donadiov commented on #14882
@khouloudbelguith

Thanks for your wuick answer - I get the point, now how can I overrides or modify this controllers' behavoir as I would do with overrides?  My intention of course si not to modify Prestashop Core

[2019-07-29 15:16] khouloudbelguith commented on #14882
@donadiov, thanks to follow our documentation: https://devdocs.prestashop.com/1.7/modules/concepts/overrides/#overriding-a-controller

Thanks!

[2019-07-29 15:17] khouloudbelguith commented on #14617
Hi @coffeebean19,

It is fixed in the next version PS1.7.6.1.
You can follow this comment to solve your issue: https://github.com/PrestaShop/PrestaShop/issues/14617#issuecomment-511737940

Thanks!

[2019-07-29 15:20] donadiov commented on #14882
@khouloudbelguith I have read that link, and I know how to override standar controllers or clases.

No my question is HOW to override this controllers located in the folder you mentioned in your first comment:
Prestahop_Project/src/PrestaShopBundle/Controller/<path>/<Your>Controller

Should I just replicate that folder structure inside override folder?

[2019-07-29 15:26] tdf-mep commented on #14648
I have read your previous posts and i understand what you say.

My mistake is a lack of test before upgrading to this version : shame one me for that !!!

But you may understant : I (we ?) are a little bit lost / disappointed.
Unless I'm mistaken on test or anything else :
- CM-CIC / Monetico Paiement is still sell at 300€
	=> tag as compatible 1.7.6.0
	=> tag as develop by Prestashop (is it wrigh

[2019-07-29 15:26] khouloudbelguith commented on #14882
Ping @matks

[2019-07-29 15:35] ttoine commented on #14648
@tdf-mep thank you for your message.
this is great to read an answer like this one.

About your questions: you are right, and we are currently investigating in order to understand why it happened, and what can be done to solve the issue quickly.

BTW, it is quite amazing that only french banks modules have an issue.

[2019-07-29 15:38] hassanberjawi opened #14901 "Arabic Version Return Issue"
Hello,
Recently I found a small bug after I upgraded my prestashop to the final release.

In fact. If some one has an delivered order and wants to return it, while the language is English, there is no way of submitting the request with selecting at least one product and writing a reason.

But if you chose the Arabic language, then you go to any delivered order, once the order is opened. go straigh

[2019-07-29 15:49] khouloudbelguith commented on #14537
@cboillat, yes!
https://drive.google.com/file/d/1egtmpX71sSxLlqf8NLd3IguI69EWflAl/view
Thanks!

[2019-07-29 16:30] khouloudbelguith commented on #14901
Hi @hassanberjawi,

Thanks for your report
 I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
https://drive.google.com/file/d/1x-0fNBo-eD4A0b-QCsI7mhx7GBLkRwRU/view
Could you please try to enable the accentuated URL & check the issue again
![image](https://user-images.githubusercontent.com/16067358/62065183-5ff67700-b226-11e9-90ac-d0465876c2bd.png)

Thanks!

I’ll add this to the debug ro

[2019-07-29 17:02] hassanberjawi commented on #14901
Hi @khouloudbelguith
I tried it didn't work.

hopefully they com with a solution soon.

thanks.

[2019-07-29 17:03] lewis2413 opened #14903 "Cannot add a position_in_category using webservices"
###Describe the bug
I´m trying to change the position of a product into category using the prestashop api but don´t working for me since that webservice generates a ramdon position skiping that i have done.

To reproduce this error I use the postman tool and the xml product structure

### Expected behavior

If we have an empty category and we set position_in_category to 1, the product is added int

[2019-07-29 17:27] mirali-se commented on #10713
I have new fresh PS 1.7.6.0, but still, I have this problem

[2019-07-29 17:43] Maofree opened #14904 "Error on ThemeManager.php during upgrade from 1.6.1.23 to 1.7.6.0"
Hi
I get this error using 1-click upgrade module

[INTERNAL] /var/www/html/todoparatucoche/17/src/Core/Addon/Theme/ThemeManager.php line 301 - PrestaShop\PrestaShop\Core\Domain\Theme\Exception\FailedToEnableThemeModuleException: Unfortunately, the module did not return additional details. #0 /var/www/html/todoparatucoche/17/src/Core/Addon/Theme/ThemeManager.php(180): PrestaShop\PrestaShop\Core\Add

[2019-07-29 17:43] maofree commented on #14890
Hi
now I get this error, after solved this one

https://github.com/PrestaShop/PrestaShop/issues/14904

[2019-07-29 18:10] ldarake commented on #14817
Hi,
I have reinstallig the contactform module before to send issue,  but don´t fix the problem.

Version installed is 4.1.1.

Thanks  for all.

[2019-07-29 18:40] presciak commented on #14595
I try activate/deactivate currency
I also completed the iso code
unfortunately did not help
I returned to 1.7.5.2
he will try again on the weekend

If you'll do it then the currency will not remove the already existing orders?

[2019-07-29 18:44] coffeebean19 commented on #14617
Already did it, but not working for brands page.

[2019-07-29 18:58] JustasBelevicius commented on #14611
@khouloudbelguith what version of prestashop was it before the updated Symfony version was introduced? Using `putenv` is not secure, and since I cannot enable it due to the security of server and the restrictions of the provider I would better choose to use the older yet more secure and non-crashing version of prestashop.

Although this might not be the problem, I will try to recreate the issue an

[2019-07-29 19:15] coffeebean19 commented on #14617
Here is the missing data:
<img width="1056" alt="Zrzut ekranu 2019-07-29 o 21 12 56" src="https://user-images.githubusercontent.com/53439246/62075616-d5be0b00-b245-11e9-9c21-dad30866dbb9.png">

If i fill it and refresh the brand page it starts again and clean database.

<img width="1252" alt="Zrzut ekranu 2019-07-29 o 21 13 15" src="https://user-images.githubusercontent.com/53439246/62075679-fdad6

[2019-07-29 19:32] maofree commented on #14904
I solve it upgrading the modules
it is ok now

[2019-07-29 19:32] #14904 closed, assigned to nobody

[2019-07-29 19:57] t0mmywalker opened #14905 "Orderpage not available for admin"
When I try to see my orders I land on a page which says:

"Oops! An Error Occurred

The server returned a "500 Internal Server Error".

Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused."

[2019-07-30 00:05] webmastercoolspot commented on #14648
Ok With suggestion of ethernoendless i made my payment module work again . Thanks to you

My new log :

`*INFO* 	v1.7.6.0	2019/07/30 - 01:55:49: Form data generation for cart #127 with standard submodule.
*INFO* 	v1.7.6.0	2019/07/30 - 01:55:49: Data to be sent to payment gateway : Array
(
    ......
)

*INFO* 	v1.7.6.0	2019/07/30 - 01:55:59: Server call process starts for cart #127.
*INFO* 	v1.7.6

[2019-07-30 04:55] dheerajwebkul opened #14906 "Customer order message display wrong variable {firstrname} in mail"
**Describe the bug**
Typo in {firstname} variable when customer send order message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'FO: order history page -> open any order details page'
2. Click on 'Add a message and send'
3. See {firstrname} variable in mail goes to admin

**Screenshots**
![fdfasdfasdfasdfasd](https://user-images.githubusercontent.com/19220745/62182921-f38a8d80-b375-

[2019-07-30 05:42] cartomatica73 commented on #14621
@khouloudbelguith

ok, i'll check with the classic theme

[2019-07-30 06:00] nrcjea001 opened #14908 "Price Specification not found for currency: "" (Viewing suppliers)"
**To Reproduce**
Steps to reproduce the behavior:

1. Go to the BO => => Advanced Parameters => Import page => Import products using the csv file by default
1. Go to Catalog -> Brands & Suppliers
2. Click Suppliers -> click view supplier

**Screenshots**
![untitled](https://user-images.githubusercontent.com/26452178/62104475-c58f4580-b2b0-11e9-85d8-e04e243c297b.png)

**Additional information**
Pre

[2019-07-30 06:21] sarjon commented on #14882
Hi @donadiov,

if you are looking for how to extend new controller **using module**, you can check template overrides [here](https://devdocs.prestashop.com/1.7/modules/concepts/templating/admin-views/), Grid hooks  [here](https://devdocs.prestashop.com/1.7/development/components/grid/#hooks). You can check [here](https://github.com/friends-of-presta) for more examples of how to extend new controll

[2019-07-30 07:16] ramwebkul opened #14909 ""Minimum quantity for sale" issue"
This issue occurs in all PrestaShop versions (Checked in all versions above 1.7.4.x):

The user is able to order less quantity than "Minimum quantity for sale" setting.

To reproduce the issue:

1. Initially, the mimimum quantity is set 1

![image](https://user-images.githubusercontent.com/53465735/62108290-52dd9480-b2c7-11e9-849e-8d449facc183.png)

2. Added the product to cart with 1 quantity

![

[2019-07-30 07:20] R-Larsson opened #14910 "Error when save an existing product before it is fully loaded"
**Describe the bug**
I get an error message 'Unable to update settings' if i try to save an existing product before the product has been fully loaded. I would expect the 'Save' button to be disabled before the product is fully loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog / Products'
2. Click on an existing product with combinations
3. Click on 'Save' before the comb

[2019-07-30 07:58] coffeebean19 opened #14911 "SQLSTATE[42S22]: Column not found: 1054 Unknown column - Database ps_admin_filter error"
**Describe the bug**
Error when try to open Catalog->Brands in the Back Office.
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id_lang' in 'order clause'
For some reason it cleans database all the time - screenshoots. Used the solution from #14617 but not helped.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO->Catalog->Brands
2. Error 500

**Screenshots**
<img width="1091"

[2019-07-30 08:02] pukys opened #14912 "Wholesale price bug with variations"
When you have a product with variations the float number of the wholesale price of the product variation cuts off when you change the base price of the product.

1) Go to a combination, edit its wholesale price, save (Wholesale price set to 1.11)
2) Reopen the product page, change the product price (with tax), save
3) Reopen the product page, go to the combination detail, the price has lost its de

[2019-07-30 08:07] pukys opened #14913 "Variation product negative quantity bug"
#### Describe the bug

I have 2 variations at the same product
The language of the employee must be `Lietuvių kalba (Lithuanian)`

[code]

When I am changing B variation quantity from 45 to 50, prestashop reset A variation quantity from -10 to 0. A variation quantity should remain untouched.

#### Steps to Reproduce

1. Create new product
2. Add 2 new variations
    A variation with quantity -10

[2019-07-30 08:52] eternoendless commented on #14648
Hi @webmastercoolspot

I'm glad that my suggestion worked :)

Now that the problem and its solution have been identified, I'm closing this issue.

[2019-07-30 08:52] #14648 closed, assigned to nobody

[2019-07-30 09:27] banan44 commented on #14816
@khouloudbelguith my php.ini values has been increased to following numbers today:

php_value max_execution_time 300
php_value max_input_time 300
php_value memory_limit 800M

I will keep checking if the main manu deactivates today or not. I have spoken with the host admin about "AH01630: client denied by server configuration" orror that appeared for /vendor/phpunit. The said such file/folder like

[2019-07-30 09:48] jf-viguier commented on #14648
Please don't close this issue, others payment modules are involved

[2019-07-30 09:51] LinkOfLight commented on #14648
Redsys is broken

Angel Moreno Cubero - Administrador de Tech4Life - www.tech4life.es<http://www.tech4life.es>
Advertencia Legal: La información que contiene este correo electrónico y, en su caso, los ficheros adjuntos, está dirigida a la persona cuya dirección electrónica figura en la cabecera. Si usted recibe este correo electrónico y no es el destinatario, ruegolo borre de inmediato y comunique

[2019-07-30 10:13] khouloudbelguith commented on #14913
Hi @pukys,

Thanks for your report.
This behavior is reproduced from the BO or the FO?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue.

Thanks!

[2019-07-30 10:19] khouloudbelguith commented on #14912
Hi @pukys,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9972
So, I close it.
Thanks!

[2019-07-30 10:19] #14912 closed, assigned to nobody

[2019-07-30 10:19] khouloudbelguith commented on #14912
Duplicate of #9972

[2019-07-30 10:22] khouloudbelguith commented on #14911
Hi @coffeebean19,

Did you make an upgrade from a previous version PrestaShop? or it is a fresh installation?

Thanks!

[2019-07-30 10:29] khouloudbelguith commented on #14910
Hi @R-Larsson,

Thanks for your report.
I have the same behavior as PS1.7.6.0 & PS1.7.5.2.
https://drive.google.com/file/d/1PnKJ-Ckabg-uRCm0Kb4b7RdTI0Iew7S1/view
Ping @marionf, @colinegin, it could be a could improvement to disable the button until the combinations are fully loaded, what do you think?

Thanks!

[2019-07-30 10:29] coffeebean19 commented on #14911
It was upgrade from 1.7.4.2

[2019-07-30 10:32] khouloudbelguith commented on #14911
@coffeebean19, what is the exact version of the module 1-click upgrade did you used?
Are there any errors displayed during the upgrade?
Thanks!

[2019-07-30 10:34] thbl opened #14915 "Error msg when saving customer in PS 1.7.6"
When saving / updateing a customer in BO, this strange error comes.
(if there is an invalid symbol in name etc. "/")
Shouldn't there be an error saying invalid symbol ?
Also why is "/" not possible in name ?
![save-name](https://user-images.githubusercontent.com/19774996/62122446-fa59c780-b2c5-11e9-88b1-e97a25578a9d.PNG)

[2019-07-30 10:37] coffeebean19 commented on #14911
Yes 1-click upgrade. I had also errors from #14617

[2019-07-30 10:39] pukys commented on #14913
1. Create new product
2. Add 2 new variations
    A variation with quantity -10
    B variation with quantity 10
3. Save product and reload page
4. Edit product again
5. Change variation B quantity from 10 to 15 and click save
6. Reload page.

As a result variation A will be quantity 0 changed from -10, though I was editing B variation only.
I have made video how to reproduce it: https://file.io/R

[2019-07-30 10:42] khouloudbelguith commented on #14909
Hi @ramwebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
The new quantity is not applied
https://drive.google.com/file/d/1xLIMkJSSAVXnfuc7v5wLsO1ex7OKMzkj/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-30 10:45] khouloudbelguith commented on #14915
Hi @thbl,

We are aware of this issue.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14838 to fix the issue.
Your ticket is a duplicate of #14157
So, I close it.
Thanks!

[2019-07-30 10:45] #14915 closed, assigned to nobody

[2019-07-30 10:45] khouloudbelguith commented on #14915
Duplicate of #14157

[2019-07-30 10:50] khouloudbelguith commented on #14908
Hi @nrcjea001,

The issue seems to be related to this issue: https://github.com/PrestaShop/PrestaShop/issues/14608
Could you please try to change the `precision` from `6` to `2` in your table `ps_currency` in your database, check & feedback.

[2019-07-30 10:51] khouloudbelguith commented on #14905
Hi @t0mmywalker,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2019-07-30 11:23] khouloudbelguith commented on #14903
Hi @lewis2413,

I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
I attached a screen record
https://drive.google.com/file/d/1kTDiNC19Xk5kd0m-vhijwK9axB8laymI/view
I used this script to update the position of a product
<html><head><title>CRUD Tutorial - Create example</title></head><body>

[code]

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your

[2019-07-30 11:29] jolelievre commented on #14854
I started a quick proposal of code, I prefer to copy it here before I lose from my VSCode cache ^^
This was mainly designed with DataDomain hooks but I think the idea of a Hookable trait is more generic and very usefull as well. We could propose a specific domain entity trait based on the Hookable one.

[code]

[2019-07-30 11:30] khouloudbelguith commented on #14911
@coffeebean19, have tried with this solution?
https://github.com/PrestaShop/PrestaShop/issues/14617#issuecomment-511737940

ALTER TABLE `ps_admin_filter` ADD `filter_id` INT NOT NULL ;

Thanks!

[2019-07-30 11:31] jolelievre commented on #14854
As @PierreRambaud suggested we could also use a folder as convention to store these Hookables. But @Quetzacoalt91 also suggested to use services which would be very interesting, this would allow Hookable classes to have dependencies as well (Translator, Doctrine, ...)
And maybe introduce a new tag to identify and register these services automatically

[2019-07-30 11:38] khouloudbelguith commented on #14913
@pukys, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1L1NKMluHIa16e8sdS2Z9qwGOo_KGtl39/view

Could you please provide us with more info:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
Don't you

[2019-07-30 11:43] khouloudbelguith commented on #14906
Hi @dheerajwebkul,

Thanks for your report.
I tried with PS1.7.6.0 to send a message but there is no email sent.
Other mails are well displayed.
What do you think?

Thanks!

[2019-07-30 11:46] coffeebean19 commented on #14911
Yes it helped, but not for brands page.

[2019-07-30 11:46] khouloudbelguith commented on #14621
@cartomatica73, thanks!
Waiting for your feedback.

[2019-07-30 11:50] khouloudbelguith commented on #14611
@JustasBelevicius, PrestaShop 1.7 was moved To Symfony 3.4 And PHP 5.6.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

Thanks!

[2019-07-30 11:54] khouloudbelguith commented on #14817
@ldarake, did you tried to check the issue with the classic theme & not the child theme?

Thanks!

[2019-07-30 11:56] khouloudbelguith commented on #14856
@jasonchemama, in your `Project_Folder/var/cache` folder, you have some cache folder like `prod` & `dev`, you need to delete those folders manually.

Thanks!

[2019-07-30 11:56] lewis2413 commented on #14903
Hi,

It´s imposible to change the position of a product inside a category using
the originals methods from the prestashop api, when i launch a  request
internaly i dont what it does, but it changes the custom position and it
always add +1 to my position.
*--*

*Saludos Cordiales*

*Ing. Jose Luis Idrogo*
Movil: +34 678 878385
Email: joseluis.idrogo@edisa.com
Web Site: http://www.edisa.com/
* <http

[2019-07-30 11:57] khouloudbelguith commented on #14722
@msautral, thanks!
Waiting for your feedback.

[2019-07-30 12:09] nrcjea001 commented on #14908
![untitled](https://user-images.githubusercontent.com/26452178/62127940-60edde00-b2e4-11e9-9a31-965f878e5cd3.png)

This did not work for me

[2019-07-30 12:15] khouloudbelguith commented on #14908
@nrcjea001,
Thanks for your feedback.
Could you please follow this comment https://github.com/PrestaShop/PrestaShop/issues/14595#issuecomment-510884182, try with this solution and feedback.

[2019-07-30 12:22] nrcjea001 commented on #14908
Tried this solution but no change unfortunately

[2019-07-30 12:24] samuel-pires commented on #14840
@PrestaShop/prestashop-core-developers  What do you think guys?

[2019-07-30 12:29] eternoendless commented on #14748
I think he means to disable the autocomplete feature on that field via the `autocomplete="off"` HTML attribute

[2019-07-30 12:40] eternoendless commented on #14648
To my best understanding this is a module issue, and not an issue with PrestaShop itself that can be fixed in the Core. As such, there's nothing we can do, it has to be addressed by their respective developers using the solution explained above.

If more information is found that could point to a problem within PrestaShop, feel free to open a new issue.

Modules developed by PrestaShop that presen

[2019-07-30 12:43] centoasa commented on #14580
I tried once again to upgrade to 1.7.6 but I still have the same problem: `[INTERNAL] /var/www/vhosts/100asa.it/httpdocs/config/bootstrap.php line 87 - require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/prod/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/console_getopt

[2019-07-30 12:44] khouloudbelguith commented on #14595
@presciak, before deleting from the database, you need to make a backup.

Thanks!

[2019-07-30 12:46] khouloudbelguith commented on #14580
@centoasa, did you tried to clear cache manually as before or not?

Thanks!

[2019-07-30 12:48] centoasa commented on #14580
asa I write, I've deleted cache manually first of update, and after too

[2019-07-30 12:53] johanlantz opened #14916 "1.7.6.0 Translation only shows very few strings"
**Describe the bug**
Very few translations actually show.

**To Reproduce**
In my case on 1.7.6.0.
1. Open the translation tap, select for instance "Theme translation" and then classic and english.
2. Choose for instance
Shop->Theme->Checkout
Result: I get only 3 strings for translation. There should be plenty more, also no idea why these 3 work.
Expected result: I would like to be able to transla

[2019-07-30 12:57] marionf commented on #14548
Hello @siomosp

You can already do this through a product with combinations.
For a customized product it's really a specific need and a module already exists, so we don't plan to add this feature natively

[2019-07-30 12:57] #14548 closed, assigned to marionf

[2019-07-30 13:02] Progi1984 commented on #14840
@samuel-pires I think to a problem : if we ignore whitespaces, description with newline, spaces, and so on will be deleted.

[2019-07-30 13:03] zell9999 commented on #9652
I have the same problem in Prestashop 1.7.6.
**Only first item of ps_categoryproducts show the price when cache is enabled.**
1.0.4 version of the module. Re-installed many times with the same result.
Maybe the problem is in PHP version? (I use 7.0.33)
The cache system type: File system
With cache disabled works perfect...
In prestashop Spanish forum there are many people with the same issue.
[htt

[2019-07-30 13:04] khouloudbelguith commented on #14908
@nrcjea001, could you please try with this solution, be sure that you have a back up of your database.
Try to delete all rows with `id_currency == 1` from `ps_product_supplier`.
Thanks to check & feedback.

[2019-07-30 13:12] pukys commented on #14913
I have installed fresh copy of prestashop on the same hosting, and there everything works fine!
Looks like problem comes from installed modules or store settings. I will keep investigating.

[2019-07-30 13:13] jasonchemama commented on #14856
I did, I still have the same problem

[2019-07-30 13:26] khouloudbelguith commented on #14913
@pukys, thanks!
Waiting for your feedback.

[2019-07-30 13:41] Marcelozippo opened #14917 "Problems changing the store name (my Shop) prestashop 1.7.6"
Hello, after updating prestashop 1.7.5 to 1.7.6, the name of the store was changed to "My Shop"
I tried to change the name in the back office and it didn't change, I went to the database (pr_configuration - PS_SHOP_NAME) to change it from there and it didn't work. I have prestashop 1.7.6 (before with 1.7.5 and if it worked) The name "My Shop" is in the mail and in other sections.
I use the warehou

[2019-07-30 13:49] khouloudbelguith commented on #14917
Hi @Marcelozippo,

Could you please try to navigate to the BO => Shop Parameters => General => Enable "Multistore".
Then go to the BO => Advanced Parameters => Multistore => Edit your shop => & edit the shop name & save => after that try to disable multistore.
![image](https://user-images.githubusercontent.com/16067358/62037610-02453900-b1ec-11e9-96a7-1764ab2dabcb.png)
You need to check that all c

[2019-07-30 14:03] centoasa commented on #14580
I'm sorry, I forgot: this time I upgraded directly from 1click v4.9.0

[2019-07-30 14:15] Daniel-Informax commented on #14895
For example, any other pice below 0.0001

[2019-07-30 14:16] PierreRambaud commented on #14840
If you want to use xml properly with newlines and white-spaces use CDATA.
[code]

[2019-07-30 14:16] Marcelozippo commented on #14917
Hello, it worked, I did the steps as you told me and it worked very well. Thank you so much
It is the first time I publish here, what do I have to do? must be solved?

Thank you

[2019-07-30 14:16] khouloudbelguith commented on #14895
@Daniel-Informax, I think in this case, it is normal behavior.
Thanks!

[2019-07-30 14:17] mhd6 opened #14918 "Create a new client"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-07-30 14:18] khouloudbelguith commented on #14917
@Marcelozippo, since it is fixed.
I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-07-30 14:18] #14917 closed, assigned to nobody

[2019-07-30 14:19] khouloudbelguith commented on #14917
Duplicate of #14891

[2019-07-30 14:20] khouloudbelguith commented on #14918
Hi @mhd6,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-07-30 14:23] mhd6 commented on #14918
Create a new client ! version Ps 1.7.6 on the page Manage your customers it is impossible to add a customer if you do not click yes (Partner offers): Error: This field is mandatory: optin. ? Why imposed on the customer to receive advertising ?
![Capture](https://user-images.githubusercontent.com/22761869/62137516-60564700-b2e6-11e9-9e4e-3685f1ce6171.JPG)

[2019-07-30 14:24] khouloudbelguith commented on #14816
@banan44, in your new log file, you have fatal errors in the cache files.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to run those command lines also to remove the cache:
[code]
Thanks to check and feedback.

[2019-07-30 14:30] MockoB commented on #14880
@khouloudbelguith that's exactly what I did and the only message I get is "last items in stock" and no remaining items as set in the settings.

Another thing I noticed. If product has combinations, when I choose a combination with low quantities there is no warning message telling there are last quantities. The message is shown just for the default combination and not the others. The only way to s

[2019-07-30 14:31] Kharabet opened #17103 "Product images changes when in quickview indow quantity changed"
### Describe the bug
Product images changes when in quickview indow quantity changed

### Steps to reproduce:
1. Go to any product page.
![image](https://user-images.githubusercontent.com/14793248/62137538-cd6dda80-b2ee-11e9-9a1a-d63901dc37e6.png)
2. Open a quickview window on any projects listed in categoryproducts module widget
![image](https://user-images.githubusercontent.com/14793248/62137646

[2019-07-30 14:37] ranno525 commented on #14917
Thnx you so much , it workt for me :-)

[2019-07-30 14:38] khouloudbelguith commented on #14918
@mhd6, on the customer page, Click on the option "Set required fields for this section" and unselect the Partner offers option.
![image](https://user-images.githubusercontent.com/16067358/62138730-0a7ea080-b2e0-11e9-85cd-313a85a5704c.png)

Thanks to check & feedback.

[2019-07-30 14:39] khouloudbelguith commented on #14880
@MockoB, in the product page, Product details page => In stock field is not displayed?
![image](https://user-images.githubusercontent.com/16067358/62138854-4154b680-b2e0-11e9-9aef-de3a6db44ee1.png)

Thanks!

[2019-07-30 15:01] khouloudbelguith commented on #10713
Hi @mirali-se,

It is Ok in my case.
https://drive.google.com/file/d/1b8e1RwCxC2tf53ON95N5Q9zhFo-ZeKZ8/view
Thanks!

[2019-07-30 15:07] MockoB commented on #14880
@khouloudbelguith I would never suggest the available quantities will be hidden behind a closed tab! Never mind, there is still a bug.
Look at the screenshot I set 3 items remaining for the default combination.
When the default combination is chosen it shows the remaining quantities are: 1 piece.

https://imgur.com/jaV43MZ

https://imgur.com/stKrq53

[2019-07-30 15:11] MockoB commented on #14880
I just saw the remaining quantities are shown even when I set to be shown only if they are lower than 4.

[2019-07-30 15:36] biaggio12 opened #14919 "Can't udpate combinations in product"
**Describe the bug**
You can only create combinations for product once. When you try to generate more combinations after the attributes are not applied for product

**To Reproduce**
[https://youtu.be/J9lCDCNL-SY](url)
Steps to reproduce the behavior:
1. Add combinations
2. Save product
3. Check for product combinations in FRONT view
4. Add another combinations to same product
5. New combinations a

[2019-07-30 15:52] Progi1984 commented on #14757
I confirm that the plugin doesn't work for images referenced directly in code (img tag).

[2019-07-30 15:53] centoasa commented on #14580
Tryed again, aftare all, enabled debug and found:

(1/1) PrestaShopDatabaseExceptionTable 'prestashop_5.ps_currency_lang' doesn't exist<br /><br /><pre>SELECT *FROM `ps_currency_lang`WHERE `id_currency` = 1</pre>
--
in Db.php line 769
at DbCore->displayError('SELECT *	FROM `ps_currency_lang`	WHERE `id_currency` = 1')in Db.php line 385
at DbCore->query('SELECT *	FROM `ps_currency_lang`	WHERE `id_cu

[2019-07-30 15:53] sunnmagic opened #14921 "404 error on quick view and adding multiple products to cart"
Hello,

It is about this website under 1.7.5.2: https://www.lightpainting-shop.com/

. If you try to use the quick view button on a product, nothing happens and you got a 404 error in the console log
. On a product page, if you change quantities then add to cart, you got the message "An error occurred while processing your request", with a 404 in the console log too

Same problem with the dev webs

[2019-07-30 15:54] khouloudbelguith commented on #14880
@MockoB, I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1S_7EoTJgt28Rh0RoHSeU-b5kRxkcESNj/view
Thanks to check & feedback.

[2019-07-30 15:57] khouloudbelguith commented on #14580
@centoasa, this issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/14620
Your issue is duplicate of https://github.com/PrestaShop/PrestaShop/issues/14617

Thanks!

[2019-07-30 16:01] msautral commented on #14722
HI still no modules to update, sorry

[2019-07-30 16:03] khouloudbelguith commented on #14919
Hi @biaggio12,

Your combinations are not correctly generated in the second time.
Then, in the right column, you should select all your combinations (from your 1 group and click on "Generate" => like the first time
In the combination list, every combination needs to have the same attributes as the others. I mean you can't have, in the same product, combinations with colors & size and some others w

[2019-07-30 16:07] centoasa commented on #14580
Sorry, I'm confused! but debug say into my db is missing the table ps_currency_lang (I've cecked and it's missing). The #14620 talk about other files. I'm wrong?
where I can found the list of all table of db for 1.7.6, to compare mine?

[2019-07-30 16:07] khouloudbelguith commented on #14722
@msautral, I will close the issue.
Feel free to open a new one if this issue occurs again.

Thanks!

[2019-07-30 16:07] #14722 closed, assigned to nobody

[2019-07-30 16:09] khouloudbelguith commented on #14580
@centoasa, it is the same error log reported here: https://github.com/PrestaShop/PrestaShop/issues/14617#issuecomment-510884731
And this PR: https://github.com/PrestaShop/PrestaShop/pull/14620 fixes this issue.
Thanks!

[2019-07-30 16:11] khouloudbelguith commented on #14921
Hi @sunnmagic,

I did not manage to reproduce the issue with PS1.7.6.0.
https://drive.google.com/file/d/1ydXVeDw9V8kCJRydRShbcinBtyHxhW6p/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript

[2019-07-30 16:11] johanlantz commented on #14756
I think it is a bit worse than I initially thought. I filed another PR with the latest issue that is that only some of the translatable strings are shown.

As a follow up to this issue, I can just see that even the string that I initially found by navigating the translation tree is no longer showing up either. I could find translation files in the var/cache folder where this previously translated

[2019-07-30 16:15] msautral commented on #14722
Hi this is the second case that you close without a solution!!! Don't worry let's keep the issue on the platform!

[2019-07-30 16:15] khouloudbelguith commented on #14916
Hi @johanlantz,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1Kgl9qdp7splgSBDHCl2H1t_N3_Bn-Imp/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - ap

[2019-07-30 16:16] msautral commented on #14733
Hi @khouloudbelguith if you want you can close this case too!, have a good day

[2019-07-30 16:17] johanlantz commented on #14733
Same issues here. Only some translations show up, maybe it is the untranslated ones as someone else mentioned. Clean 1.7.6 installation.

The only thing I managed to do is to translate one of my own modules. If I select translate Theme, then the modules also show up but I can not translate anything in the new system.

If I however choose translate installed module on one of my own modules, I get t

[2019-07-30 16:19] khouloudbelguith commented on #14733
@msautral, this issue is still in progress, it should be fixed by our developers.

Thanks!

[2019-07-30 16:20] khouloudbelguith commented on #14722
@msautral, There was an issue with some of our modules, we fixed it.
Thanks for your understanding!

[2019-07-30 16:23] centoasa commented on #14580
:-) @khouloudbelguith I'm very sorry. The #14620 talk about chenges into install/upgrade/upgrade.php (it's right?). But now with my 1.7.5.2 ver. I've no install directory? So?

[2019-07-30 16:23] khouloudbelguith commented on #14911
@coffeebean19, could you please provide me the structure of your table `ps_manufacturer_shop`.
![image](https://user-images.githubusercontent.com/16067358/62147113-c0e98200-b2ee-11e9-99fa-36881b753443.png)

Thanks!

[2019-07-30 16:26] khouloudbelguith commented on #14580
@centoasa, those fixes are added in the next release 1.7.6.1: the Major version & not the previous version.

Thanks!

[2019-07-30 16:29] msautral commented on #14722
I do not see that on the conversation! you were waiting 10 min ago to send you more information with a procedure that you ask me to do!,

really this way does not make any sense to report something. have a good day.

[2019-07-30 16:30] centoasa commented on #14580
but first you tell me that # 14620 fixes my problem, then you tell me that these solutions will be included in the next release. So how can I upgrade to 1.7.6 now?

[2019-07-30 16:31] johanlantz commented on #14916
Hi @khouloudbelguith

Thanks for the quick test.

I have no idea why, but the translations just started to show,.

Literally the only thing that has happend is that I managed to translate one own my own modules using the old system. When I came back to theme translation, all the strings were visible. Something must have been reset or cleared or restarted. I will continue to test but right now, the

[2019-07-30 16:32] johanlantz commented on #14756
As indicated in another thread, lets close this one for now pending more investigation. The theme translation started to work for some magical reason.

[2019-07-30 16:32] #14756 closed, assigned to nobody

[2019-07-30 16:35] ghost opened #14922 "Product statuses are incorrect in the catalog export CSV file"
**Describe the bug**
When exporting the catalog form the Products page, the statuses are incorrect in the CSV file.
Some active products are set to 0 (inactive) and the other way around.
It seems to be randomly modified.

It is an important problem when users want to export their catalog to do a bulk modification and then import it back.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-07-30 16:52] ghost opened #14923 "Monitoring Block "List of products without images" disappears when applying a filter"
**Describe the bug**
In Catalog>Monitoring, in the block **"LIST OF PRODUCTS WITHOUT IMAGES"** when applying a filter on statuses to reorder the list of products an error appears and the block disappears.

Error:

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have existing products without images
2. Go to 'Catalog > Monitoring'
3. Go to the 'List of products without images'
4.

[2019-07-30 16:53] coffeebean19 commented on #14911
Take a look.
<img width="967" alt="Zrzut ekranu 2019-07-30 o 18 52 02" src="https://user-images.githubusercontent.com/53439246/62149106-4a06b600-b2fb-11e9-88a8-87cf70fffb00.png">

[2019-07-30 17:16] pukys commented on #14913
@khouloudbelguith OK, I have found explanation for this bug. It was fault of specific language I am using, switching to English in BO solved the problem.

I was using Lithuanian language, and minus symbol, in localisation files was added with wrong char code. Correct one is 42, in Lithuanian is 8722, and changing it to 42 fixes the problem.

If you would like to reproduce the bug, you should check

[2019-07-30 17:57] webmastercoolspot commented on #14648
If you are understand french. I've made a post of my modification. Maybe it help : https://www.prestashop.com/forums/topic/997001-suite-mise-%C3%A0-jour-1752-1760-les-retours-bancaire-ne-se-font-pas/?tab=comments#comment-3140082

Sorry not enought good in english for do same in english

[2019-07-30 18:30] centoasa commented on #14580
it's a loop.
Update upgrade.php file as described in #14620, zip again all the prestashop folder, put it into admin/autoupgrade/download
Tried also with unzipped folder into /latest, same error:
Analyzing the situation...Shop deactivated. Extracting files...
File extraction complete. Removing sample files...

Downloading step has been skipped, upgrade process will now unzip the local archive.
Star

[2019-07-30 18:34] go-sudo commented on #14750
Hello
i tried to change the currency title from MAD to DHS on PS 1.7.6.0

In order to change or edit the currency symbol, you need to use the FTP or cPanel File Manager of your hosting server.
Go to translations/cldr/mail-xx-XX-currencies file (where xx-XX is your language, en-EN, de-DE or ru-RU). Open this file with any code editor.
Find there the following code:
[code]

But still same issue

Reg

[2019-07-30 19:20] Flower7C3 commented on #14847
Hi @khouloudbelguith You did not understand my problem. I mean product with relations (package).

https://we.tl/t-pKOObQENnp

[2019-07-30 20:51] sunnmagic commented on #14921
Hi!

Thanks for your answer. What is the "debug mode report", where can I find a report?

[2019-07-30 22:40] PierreRambaud commented on #14376
@marionf More things need to be done in the Core now :/

[2019-07-30 22:48] geengome commented on #14595
Solución temporal: Se me presentaba el mismo problema descrito anteriormente, en mi caso la tienda solo usa la moneda COP y había eliminado todas las monedas. Después de validar encontré que en el carrito estaban los datos de demo que incluían carritos que habían sido llenados con la moneda USD: La solución temporal fue ir Internacional -> Localización -> Monedas y agregar la moneda que me generab

[2019-07-31 00:35] msautral commented on #14733
Hi everyone, temporary solution:

- Take from sf-es-ES.zip (or you language) that is on the translations folder on the root installation and unzip it on my theme_folder/translations/es-ES (or you language)
- Erase all file less those that start with ShopThemexxxxx, then open each file on sublime text or other editor, search for the word and modify it.
- Clean the cache and that's it

[2019-07-31 02:39] samcristoper opened #14924 "Error in basic product settings"
I have an error in the basic settings of the products
I have the same modules installed on LocalHost and on my server the same modules, the same template all ran well perfectly, since yesterday trying to change delete the images in the Module of basic product settings does not load the window that allows to put an image As product cover or delete, when I do the same in my localhost this is done wi

[2019-07-31 03:57] dheerajwebkul commented on #14906
Hello @khouloudbelguith

Mail is going, please make sure your mail is configured.

The issue is only in in mail when customer send message from order details page.
Check this screenshot:
![AwesomeScreenshot-dheeraj-d1-ps1760-en-index php-2019-07-31_9_26](https://user-images.githubusercontent.com/19220745/62182724-49126a80-b375-11e9-88b5-87af20065f2d.png)

This PR has fixed this issue I have tested

[2019-07-31 06:12] Daniel-Informax commented on #14895
I know this is the php normal behavior, but i dont think this is the normal prestashop validation rule behavior.
Are you telling me, i cannot have a product with any of this prices?
So if i have a product with a price of 0.00009€, what can i do?, except overriding the Validation class method isPrice to fix it?

[2019-07-31 06:27] nrcjea001 commented on #14908
I've tried this as well and it doesn't work. I tried removing all suppliers associated to product and reimporting everything, but still nothing.

 All id_currency == 0 now. But why 0? if my default currency ID = 1, how can it be 0 in ps_product_supplier?

[2019-07-31 06:30] stellatmy commented on #14733
I have tried your method. It's not working. Still showing the error message:

Error: Could not crawl for translation files: The "......var/cache/prod/themes/my_theme/translations" directory does not exist..

[2019-07-31 07:19] #13083 closed, assigned to matthieu-rolland

[2019-07-31 07:25] #14769 closed, assigned to nobody

[2019-07-31 07:26] #14694 closed, assigned to eternoendless

[2019-07-31 07:38] khouloudbelguith commented on #14924
Hi @samcristoper,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thank

[2019-07-31 07:44] arafatx commented on #10934
@khouloudbelguith I'm using v2.0.0. Strange behaviour is, when I put prestashop into sub domain with the same setup it works:

www.mywebsite.com - got error
dev.mywebsite.com - no error

Same setup files clone from github. Maybe this happen with specific domain ?

[2019-07-31 07:58] arafatx commented on #10934
Hi, sorry for making everybody panic. It was the cache issue! Problem solved! Thanks a lot.

[2019-07-31 07:58] khouloudbelguith commented on #10934
@arafatx, Try to access to this link: www.mywebsite.com/modules/psaddonsconnect/config.xml & check the version of this module.

Thanks!

[2019-07-31 07:59] khouloudbelguith commented on #10934
@arafatx, great!
Thanks!

[2019-07-31 08:03] nazimgel commented on #14910
I have the same issue but i think it is not about combinations. Because also i can't create product.
PrestaShop version: 1.7.6.0
PHP version: 7.1.30

https://drive.google.com/file/d/1pjAG93ybYhiQoFYJpNqdYPgXF0DVkdrL/view

[2019-07-31 08:05] sarjon commented on #14763
Question https://github.com/PrestaShop/PrestaShop/issues/10632#issuecomment-515981529

[2019-07-31 08:10] khouloudbelguith commented on #14910
Hi @nazimgel,

Your issue is different.
In my case it is OK
https://drive.google.com/file/d/1-gEvLQCNYSKczA60vmC8FIyUD5eYzP94/view
Can you open a new one with more information about your configuration?

Thanks

[2019-07-31 08:29] shawe opened #14927 "[QUESTION] Why lock files are pushed?"
Files like composer.lock or package-lock.json are generated locally when "composer install" and "npm install" are invoked based on their original definition and ower local dependencies.

Why you push this locked files than normally are/could be different between machines?

I'm asking about this, because my local composer.lock and package-lock.json are different than files you are uploading, and af

[2019-07-31 08:32] khouloudbelguith commented on #14908
@nrcjea001, could you please try to `Truncate` the `ps_product_supplier`, check it this issue occurs again.

PS: you should make a backup of your database.

Thanks!

[2019-07-31 08:32] #14706 closed, assigned to PierreRambaud

[2019-07-31 08:35] khouloudbelguith commented on #14927
Hi @shawe,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-31 08:35] #14927 closed, assigned to nobody

[2019-07-31 08:37] nazimgel opened #14928 "Can't create new or save exiting product"
**Describe the bug**
I can not create new or save exiting product anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog / Products'
2. Click on 'New Product' or 'Existing product'
3. Click on 'Save'
4. See error 'Unable to update settings'

**Screenshots**
https://drive.google.com/file/d/1pjAG93ybYhiQoFYJpNqdYPgXF0DVkdrL/view
![local-image-2019-07-31_11_28](https://user-ima

[2019-07-31 08:40] khouloudbelguith commented on #14928
Hi @nazimgel,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - debug mode report
 - PHP error logs
 - apache error log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-31 08:46] nrcjea001 commented on #14908
@khouloudbelguith , I deleted all records using the delete option provided by phpmyadmin. Is this different from "truncate" command?

[2019-07-31 08:47] khouloudbelguith commented on #14895
@Daniel-Informax, thanks for this clarifications.
I have the same behavior as PS1.7.6.0. & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/62197533-eb335200-b377-11e9-8263-1923a518b870.png)

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-31 08:49] khouloudbelguith commented on #14908
@nrcjea001, 'truncate' command is to empty all the table.

Thanks!

[2019-07-31 08:51] marionf commented on #14910
Yes, if you connection is bad (try to select 3G connection on Chrome debug toolbar) when you access the product page, you should see that the save/generate actions are disabled
Work was started here, but PR has been closed: https://github.com/PrestaShop/PrestaShop/pull/8439

[2019-07-31 08:59] khouloudbelguith commented on #14595
Hi @geengome,

Please, send your request in English.
English is the norm on this bug tracker.
Thank you!

[2019-07-31 09:16] khouloudbelguith commented on #14921
@sunnmagic, when debug mode is enabled, in the FO, when you click on the "Quick view" there is no exception displayed?

Thanks!

[2019-07-31 09:23] ghost opened #14929 "Upgrade to jQuery latest, use jQuery migrate for retro compatibility 1/4 - CORE THEME & CLASSIC THEME"
EPIC : #13829

**Please update the EPIC after completion**

We are currently using old or very old versions of jQuery. These versions have never been upgraded because of breaking changes introduced in later versions. Using jQuery Migrate we could upgrade them to the latest version without breaking backward compatibility.

[2019-07-31 09:24] ghost opened #14930 "Upgrade to jQuery latest, use jQuery migrate for retro compatibility 2/4 - DEFAULT THEME BO"
EPIC : #13829

**Please update the EPIC after completion**

We are currently using old or very old versions of jQuery. These versions have never been upgraded because of breaking changes introduced in later versions. Using jQuery Migrate we could upgrade them to the latest version without breaking backward compatibility.

[2019-07-31 09:26] ghost opened #14931 "Upgrade to jQuery latest, use jQuery migrate for retro compatibility 3/4 - UI KIT"
EPIC : #13829

**Please update the EPIC after completion**

We are currently using old or very old versions of jQuery. These versions have never been upgraded because of breaking changes introduced in later versions. Using jQuery Migrate we could upgrade them to the latest version without breaking backward compatibility.

[2019-07-31 09:27] sunnmagic commented on #14921
Nothing at all... actually https://www.lightpainting-shop.co.uk/fr/ is in debug mode.

So, I've collected all the necessary informations:

- host : syntis.net
- server setup and configuration : Linux CentOS 6.10 x64 / Apache 2.2 / PHP : 7.0.27 / MySQL/MariaDB : 5.5.55
- PrestaShop version : 1.7.6
- debug mode report : none
- PHP error logs : none
- apache error log : [apache.txt](https://github.co

[2019-07-31 09:32] khouloudbelguith commented on #14847
@Flower7C3, thanks for your feedback.
Related products part is this section
![image](https://user-images.githubusercontent.com/16067358/62200781-043f0180-b37e-11e9-9184-bc2d3a788ab0.png)
But a pack product is a type of product.
In my case, I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/11wKXcRBGpIkUS-kOlmMI1LmPR84NYFDu/view
Could

[2019-07-31 09:34] Kharabet opened #17104 "Server error when quickview product quantity changed"
### Describe the bug
Server error when quickview product quantity changed

### Expected behavior
No error message is displayed

### Steps to reproduce:

1. go to FO
2. click on any product to open the product page
3. scroll down open related product quick view modal
4. increase the product quantity
5. see "undefined" error message

---
1. Open any product page with additional parameters (ie. color

[2019-07-31 09:43] khouloudbelguith commented on #14580
@centoasa, in my case, I tested this PR: https://github.com/PrestaShop/PrestaShop/pull/14620 & it is OK.
The shop well upgraded from PS1.7.5.2 to the new version PS1.7.6.1 following these steps:

- PS1.7.5.2 installed
- Install the autoupgrade module
- Create a release from the PR
- Put it in the folder admin / autoupgrade / download
- in the configuration page of the module select "local archive"

[2019-07-31 09:46] centoasa commented on #14580
@khouloudbelguith
maybe my error was because I've specified the version to which I'm upgrading to 1.7.6.0?
p.s.: the autoupgrade module you mean the 1click module?

[2019-07-31 09:48] matthieu-rolland opened #14932 "Database translations not taken into account by modules"
**Description**
Modules translations stored in database are not taken into account. So users can't modify their module's translations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to international > translations > installed modules translations
2. choose a module, change its translations
3. go to the modified module's configuration and check that wording has changed

**Additional infor

[2019-07-31 09:51] khouloudbelguith commented on #14580
@centoasa, it could be or a problem in the zip file.
Yes, it is the 1-click upgrade module.

Thanks!

[2019-07-31 09:54] centoasa commented on #14580
@khouloudbelguith can you send me your zip release?

[2019-07-31 09:55] khouloudbelguith commented on #14921
@sunnmagic, Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks!

[2019-07-31 09:55] Gianlu12 opened #14933 "[Improvement] Coupon for minimum cart amount should be able to exclude some products / categories"
Hello, with reference to this topic >
https://www.prestashop.com/forums/topic/997577-issue-on-prestashop-coupons/

I would like to report a bug/lack of PrestaShop coupon system.

The issue is when I specify a minimum amount of the order and I exclude from the coupon some categories.

When I set up a coupon like this, PrestaShop considers reached the order's minimum amount even if that minimum amou

[2019-07-31 09:57] alumette37 opened #14934 "Mass update - image ALT text does not upload"
**Describe the bug**

Hello,

I am having trouble with several shops on Prestashop 1.7.2 and. 1.7.5; the **ALT tags of the images do not update for the English language when importing the CSV file.**
It keep the French ALT taf for all products.

My CSV file of type: (ID / alternative text of the images) is not taken into account during the import (no writing in base) for the English language.

It

[2019-07-31 09:59] matthieu-rolland commented on #14416
I think the most sensical approach would be to let the user choose to display or not the email address. So that would be option 1.

Is it ok for you?

[2019-07-31 10:07] sunnmagic commented on #14921
Done, but same problem :(

[2019-07-31 10:08] marionf commented on #14416
Yes it's ok, so let's add the following option in the ps_contactinfo & contactform module:
"Display email address": Yes / No

[2019-07-31 10:08] khouloudbelguith commented on #14911
@coffeebean19, sorry, I mean the `ps_manufacturer_lang` table.
Thanks!

[2019-07-31 10:11] khouloudbelguith commented on #14921
@sunnmagic, could you please try to restart your server & clear cache.

Thanks!

[2019-07-31 10:16] matthieu-rolland commented on #14416
Alright !

[2019-07-31 10:18] samuel-pires commented on #14923
FYI - The block is back when you upgrade from a "broken" 1.7.5.2 to 1.7.6 using the 1-Click Upgrade module

[2019-07-31 10:26] seo99ita commented on #14615
Same problem, this worked for me.
Thank you 👍🏽

[2019-07-31 10:30] khouloudbelguith commented on #14934
Hi @alumette37,

Thanks for your report.
What the exact employee language?
Before the import, what is the language used?
![image](https://user-images.githubusercontent.com/16067358/62205077-816e7480-b386-11e9-814f-cfd406660738.png)

Are you adding new products via import or updating old products via import?

Thanks!

[2019-07-31 10:30] marionf commented on #14762
If you create a supplier for all shops, then select only one shop in the context and delete the supplier it should be deleted only for the selected shop in the context.
If you select "all shops" in the context and delete the brand, it should be deleted for all shops.

It's working like this for brands.

[2019-07-31 10:53] khouloudbelguith commented on #14933
Hi @Gianlu12,

As posted in the forum
"The minimum amount required is for the total cart amount and you can't exclude products/categories".
Ping @marionf, @colinegin what do you think? can we add this feature?
Creating a cart rule with a minimum amount that applied only on some products?

Thanks!

[2019-07-31 11:08] khouloudbelguith commented on #14756
@johanlantz, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-31 11:10] khouloudbelguith commented on #14916
@johanlantz, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-31 11:10] #14916 closed, assigned to nobody

[2019-07-31 11:27] khouloudbelguith commented on #14913
@pukys, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-31 11:42] marionf commented on #14913
@khouloudbelguith Could you please add a video or describe all the steps to reproduce the issue ?

[2019-07-31 11:43] khouloudbelguith commented on #14860
@roja45, In my case, I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1KtvL14BtDOv-Nw4U5rxlqSoZ8rvtHvB3/view
Thanks to check & feedback.

[2019-07-31 11:54] Gianlu12 commented on #14933
Hi khouloudbelguith,
yes, I think that this feature should be added as soon as possible, because if I create a coupon valid only for some categories and I also specify a minimum order amount, I think that it is obvious that the minimum amount has to be reached only with eligible products.
Otherwise, it would be useless to exclude products...

Please, let me know if someone can make up for this lac

[2019-07-31 11:55] marionf commented on #13500
Hello @ChristianPredebon

As a workanround is available and there were only one vote for this, we don't plan to integrate this improvement for now

[2019-07-31 11:55] #13500 closed, assigned to nobody

[2019-07-31 11:58] khouloudbelguith commented on #14913
@marionf, https://drive.google.com/file/d/1Vu6ZKkMo5ijDdDASQ888Oy0F8KTGVJ4V/view

Thanks!

[2019-07-31 11:59] alumette37 commented on #14934
Hello,

My Employee languqage is French (default) and i am trying to upload the ALT TAB to English language (like picture enclosed).

I have tried for both adding new products and also updating old products via the import.

Thanks

![151](https://user-images.githubusercontent.com/53515899/62210037-740fb500-b39b-11e9-9fdb-aa80e0750a19.png)

[2019-07-31 12:21] sunnmagic commented on #14921
Server rebooted and Prestashop cache cleared, but same problem :(

[2019-07-31 12:25] khouloudbelguith commented on #14934
@alumette37, I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1fhx9m_ol0-PHMjQoqoTfZhAQSCh7OJ2c/view
![image](https://user-images.githubusercontent.com/16067358/62211536-abc82e00-b396-11e9-8ab7-8dfb506beb78.png)

Thanks to check & feedback.

[2019-07-31 12:26] khouloudbelguith commented on #14921
@sunnmagic, did make any changes in your project or did you installed any custom module before this issue occurs?

Thanks!

[2019-07-31 12:27] sunnmagic commented on #14921
Some modules are installed, but all came from Addons.

[2019-07-31 12:33] alumette37 commented on #14934
Hello,

I do the same manipulation, please check enclosed:

https://drive.google.com/file/d/1BPrKhbh_fsDUsxw4nbEHTUNzYYEFhREJ/view

Thanks

[2019-07-31 12:36] khouloudbelguith commented on #14921
@sunnmagic, did you installed them before having this issue?

Thanks!

[2019-07-31 12:41] kpodemski opened #14935 "CartRule::autoAddToCart extremely slow when a lot of cart rules already exist"
**Describe the bug**

I have store with over 10.000 rows in `prefix_cart_rule table`, the problem is that front-end is extremely slow on PrestaShop 1.7 compare to 1.6, those are results with this method being executed:

![image](https://user-images.githubusercontent.com/2137763/62212394-eb941300-b3a0-11e9-9070-4551de0c5652.png)

same store but with not executing this method:

![image](https://user

[2019-07-31 12:52] sunnmagic commented on #14921
Impossible to remember...

[2019-07-31 12:57] kpodemski commented on #14935
note: it seems that method `getCartRules` should cache result

[2019-07-31 13:06] khouloudbelguith commented on #14934
@alumette37, I manage to reproduce this issue with PS1.7.6.0 & PS1.7.5.1.
I attached a screen record
https://drive.google.com/file/d/1farQ82CRFXz8tM021zYgX7yALvKnEb_d/view
The alt for images are not updated after importing CSV to update products
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull re