[2021-12-28 17:01] khouloudbelguith opened #27119 "BO - An exception is displayed in the BO > Customer view page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Customers > Customer de

[2021-12-28 17:02] khouloudbelguith commented on #27119
Ping @boubkerbribri

[2021-12-28 17:04] khouloudbelguith opened #27120 "BO - An errors is displayed in the stats page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error `Unknown error on line 821

[2021-12-28 17:05] khouloudbelguith commented on #27120
Ping @boubkerbribri

[2021-12-28 17:16] PierreRambaud commented on #27119
FYI, the issue is already fixed,  we are waiting for a new release: https://github.com/PrestaShop/blockwishlist/pull/143

[2021-12-28 18:49] PrestaEdit commented on #27120
Due to this Pull request: https://github.com/PrestaShop/PrestaShop/pull/26267/files
This module need to be updated.

[2021-12-28 21:22] kpodemski opened #27121 "Last visit column is queried different than in a customer view"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Customer view, the last visi

[2021-12-29 06:41] TGD001 opened #27123 "Instagram sharing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-29 08:16] harman-jack opened #27124 "getimagesize(): SSL operation failed with code 1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A Warning is displayed when try to

[2021-12-29 08:39] hibatallahAouadni commented on #27123
Hello @TGD001

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to help

[2021-12-29 09:28] hibatallahAouadni commented on #27121
Hello @kpodemski

You mean this table?

![image](https://user-images.githubusercontent.com/23308427/147647041-6a20a06c-6eaa-49d6-8c43-9172088901d4.png)

Well, in this table it's only mentioned the date and one connection :thinking:
I didn't seem to understand the bug :sweat: could you please provide a screen record :pray:
Because, I didn't manage to reproduce the issue following your steps:

![ima

[2021-12-29 09:32] kpodemski commented on #27121
@hibatallahAouadni it's about the customer lists, and "Last visit" column, try to visit the store a few times. Eventually, you should see a different value in the "Last visit" in the customer view and the customer list

[2021-12-29 09:33] hibatallahAouadni commented on #27124
Hello @harman-jack

You need to downgrade your PHP version to 7.4 cause PrestaShop 1.7.8.2 is not compatible with PHP 8.0 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).

Besides, I didn't manage to reproduce the issue with PS1.7.8.2, see the attached screen record below:

https://www.awesomescreenshot.com/video/

[2021-12-29 09:39] kpodemski commented on #27121
@hibatallahAouadni weird, I cannot reproduce it now on the clean installation 🤷 even tho the query to get the last visit is different in these two places, maybe it's related to some DB cleaning I did on the installation when I had this error

[2021-12-29 09:39] #27121 closed, assigned to nobody

[2021-12-29 09:39] hibatallahAouadni commented on #27026
FYI @Julievrz

[2021-12-29 09:40] hibatallahAouadni commented on #27121
Well :sweat_smile: Glad to hear :grin:

[2021-12-29 09:44] #27120 closed, assigned to nobody

[2021-12-29 10:13] TGD001 commented on #27123
@hibatallahAouadni, thank for answering.
Yes, this is exactly what I' ve in mind. Enclosed you'll find my ps_sharedbuttons.php modified, but it's doesent works and I' ve not idea ho fix the issue.
Thanks again!

TGD
[PS_ShareB.zip](https://github.com/PrestaShop/PrestaShop/files/7788305/PS_ShareB.zip)

[2021-12-29 10:23] khouloudbelguith opened #27128 "BO - Wishlist - no green alert displayed when changing settings"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Blockwishlist module >

[2021-12-29 10:34] HanaRebaiQA opened #27129 "FO - Unable to add to cart of a product in FO when productcomments module installed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Add to cart button is blocked.
http

[2021-12-29 10:34] #25013 closed, assigned to Progi1984

[2021-12-29 10:49] HanaRebaiQA opened #27130 "FO - An error message is displayed when add a comment in FO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error message is displayed when

[2021-12-29 10:50] khouloudbelguith opened #27131 "Wishlist default title will be changed in all languges not only the language selected"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Blockwishlist module co

[2021-12-29 10:52] mparvazi opened #27132 "PS installer theme refacto"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-29 10:59] hibatallahAouadni commented on #27132
Hello @mparvazi

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Waiting for your PR :superhero:

Thank you

[2021-12-29 11:01] hibatallahAouadni commented on #26912
Hello @Hlavtox

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-29 11:01] #26912 closed, assigned to nobody

[2021-12-29 11:02] hibatallahAouadni commented on #26858
Hello @musaffar-patel

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-29 11:02] #26858 closed, assigned to nobody

[2021-12-29 11:03] hibatallahAouadni commented on #26925
Hello @Ryttis

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-29 11:03] #26925 closed, assigned to nobody

[2021-12-29 11:06] hibatallahAouadni commented on #27061
Hello,

Closing this issue because the user has deleted their account and cannot respond.

Thanks!

[2021-12-29 11:06] #27061 closed, assigned to nobody

[2021-12-29 11:06] PrestaEdit opened #27133 "Attempted to call an undefined method named "jsonEncode" of class "Tools" in modules/gridhtml/gridhtml.php (line 244)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Checking the best categories throw

[2021-12-29 11:08] hibatallahAouadni commented on #27050
Hello,

This issue is closed because the user has deleted their account and cannot respond.

[2021-12-29 11:08] #27050 closed, assigned to nobody

[2021-12-29 11:08] khouloudbelguith opened #27134 "BO -Wishlist module - The help modal is not well displayed in the statics Tab"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Blockwishlist module co

[2021-12-29 11:08] PrestaEdit commented on #27133
Oh. My bad. It's already solved with the 2.0.2 version of the module.

[2021-12-29 11:08] #27133 closed, assigned to nobody

[2021-12-29 11:11] mparvazi commented on #27132
Hello @hibatallahAouadni

It's not hard to make a PR for this issue, but the installer is the critical part of PS.

I think the PR should be started by maintainers.

This is a fact that requests made by contributors take a long time to be approved, compared to those made by maintainers.

Btw it's my pleasure to participate in PR.

[2021-12-29 11:11] hibatallahAouadni commented on #26922
Hello @CreatePublicidad

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-29 11:11] #26922 closed, assigned to nobody

[2021-12-29 11:40] khouloudbelguith opened #27135 "FO - Product page - Wishlist - the heart is not automatically filled after increasing the product's quantity"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > Product details page >

[2021-12-29 12:02] khouloudbelguith opened #27136 "An error "There was an error while adding the product attributes" is displayed in the Product list page when adding a single product to wishlist after adding a product with combination"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > Product list page > an

[2021-12-29 12:20] PierreRambaud commented on #27129
Be careful when you play with the develop branch, each modules you have in the modules directory will be installed, make it sure you properly clean this one before installing PrestaShop.
The productcomments module is not in our dependencies: https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json

[2021-12-29 14:26] luisway2net commented on #27104
I have the same problem in other site with prestashop 1.7.7.2 and different third-party modules.
I tried to deactivate it and nothing.

[2021-12-29 14:48] hibatallahAouadni commented on #27007
@PierreRambaud friendly reminder :relaxed:

[2021-12-29 14:54] hibatallahAouadni commented on #27104
Hello @luisway2net

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module or a server configuration problem.

We will close this issue.

PS: Please upgrade your Memory limit to 512M.

Thanks!

[2021-12-29 14:54] #27104 closed, assigned to nobody

[2021-12-29 15:01] hibatallahAouadni commented on #27132
Hello @mparvazi

That's not true :relaxed: Maintainer or Contributor are all the same front the QA-Team :smiling_imp: :grin:

Thank you :pray:

[2021-12-29 15:17] PierreRambaud commented on #27007
Why me? :thinking:

[2021-12-29 15:22] #27129 closed, assigned to nobody

[2021-12-29 16:09] khouloudbelguith opened #27140 "FO - Product page - an error is displayed "product.bundle.js:37 Error: GraphQL error:" when we try to remove a product with quantity > 1 from wishlist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

FO - Product page - an error is dis

[2021-12-29 16:32] khouloudbelguith opened #27142 "FO - Modal "Add to wishlist" - Incorrect scroll is displayed when we try to add a product to wishlist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > category page or produc

[2021-12-29 16:41] khouloudbelguith opened #27143 "BO - Customer View page - the block wishlist is always empty"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO - Customer View page - the block

[2021-12-29 16:55] khouloudbelguith opened #27144 "FO - Wishlist - Add to cart is not disabled when the product is out of stock"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > My account > Wishlist p

[2021-12-29 16:59] khouloudbelguith opened #27145 "FO - Wishlist page - an error is displayed in the console when we click on the sort by"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > Your account > Wishlist

[2021-12-29 17:17] khouloudbelguith opened #27146 "FO - New products page - Sort by Price is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > New products page > whe

[2021-12-29 17:19] adarac commented on #26843
Hi,

We had exactly the same issue described here.
It wasn't directly related to [#17647](https://github.com/PrestaShop/PrestaShop/issues/17647) but with a Spanish module called "Correos".

After a lot of debugging, we have verified that this bug is totally related to the "Correos" module (version 5.0.24) and they have fixed it in version 5.0.25.
Well, they have fixed it partially because the DNI

[2021-12-30 04:17] harman-jack commented on #27124
hello @hibatallahAouadni

I have degraded my PHP version but the issue still persists.
Please see the attached screen record below:

https://user-images.githubusercontent.com/55911839/147721299-96d71437-e4ee-4e40-bcc0-95377aa9ff35.mp4

[2021-12-30 09:41] groupecomplus opened #27147 "TinyMCE broken after upgrade to 1.7.8.2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In order to migrate a website to a

[2021-12-30 09:57] groupecomplus commented on #27147
Found a better workaround that restores the original functions. Replaced tinymce.min.js with the modified version found in a previous release: https://raw.githubusercontent.com/PrestaShop/PrestaShop/1.7.7.8/js/tiny_mce/tinymce.min.js
Won't close for now because the release is broken.

[2021-12-30 10:44] hadran9 opened #27148 "Duplicate a product in multistore context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I've encountered an issue du

[2021-12-30 10:45] hibatallahAouadni commented on #27147
Hello @groupecomplus

Please configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation, and clear the cache. Also, try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

I didn't manage to reproduce the issue after an upgrade from PS1778 to

[2021-12-30 10:45] #27147 closed, assigned to nobody

[2021-12-30 10:45] hibatallahAouadni commented on #27147
Duplicate of #26543

[2021-12-30 10:47] hibatallahAouadni commented on #26944
Hello @dev-innova

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-12-30 10:47] #26944 closed, assigned to nobody

[2021-12-30 10:58] hibatallahAouadni commented on #27007
@PierreRambaud Sorry :sweat_smile:
I meant @PrestaShop/prestashop-core-developers friendly reminder :grin:

[2021-12-30 12:43] mparvazi opened #27149 "Dark Mode on BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-30 14:08] MatShir commented on #27149
👀  @prestascott @prestascott

[2021-12-30 15:08] marwachelly opened #27153 "BO - dataprivacy module - Bad display of Customer data privacy block when changing the language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display of Customer data privac

[2021-12-30 15:11] MatShir commented on #25248
@web23421 Have you check the fix share by @matks on the 1.7.8.x branch, it might have fixed your issue. Could test it again on the 1.7.8.x branch?

[2021-12-30 15:35] marwachelly opened #27154 "BO - ps_dataprivacy- Cannot uninstall dataprivacy module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cannot uninstall dataprivacy module

[2021-12-30 16:06] web23421 commented on #25248
Hello, I checked in the 1.7.8.0 Minor version - everything was fine - thank you. The topic can be closed.

[2021-12-30 16:09] MatShir commented on #25248
Thanks @web23421

[2021-12-30 16:09] #25248 closed, assigned to nobody

[2021-12-30 16:30] hibatallahAouadni commented on #27149
Hello @mparvazi

Thanks for bringing this up :pray:
I think we've discussing about add a dark mode in BO with @NeOMakinG when @bulldesign sugguest to improve the BO design in this issue #23586

Can't wait for your PR :rocket:

Thank you

[2021-12-30 16:39] PrestaEdit commented on #27154
The PR you mention inside your issue is the solution, not the issue.
It's solve the error, due to misspelling on hooks name.

[2021-12-30 17:01] hibatallahAouadni commented on #27148
Hello @hadran9

Your issue seems related to this one #14958
Could you please check it and feedback.

Thanks!

[2021-12-31 07:59] hadran9 commented on #27148
Hello @hibatallahAouadni, Thank you for your reply,

Actually I'm aware of that issue, and I'm aware of the updates that you've made on the files.
But the problem is when you guys have fixed the issue, you have only fixed the price, and let everything else untouched.

You have only changed the method `duplicatePrices` in the class `Product`, and you've let all the other duplication method untouche

[2021-12-31 08:09] marwachelly opened #27155 "FO - ps_dataprivacy- Bad display of Customer data privacy message when the text contains a link"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display of Customer data privac

[2021-12-31 09:53] MatShir commented on #25888
Should use this opportunity to implement
- https://github.com/PrestaShop/PrestaShop/issues/10456

[2021-12-31 10:23] Smriti-webkul271 opened #27156 "BO - Unable to import 'United State' at localization."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When import 'United State' at local

[2021-12-31 10:38] ks129 opened #27157 "Product notes for employees"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-12-31 11:01] marwachelly commented on #27154
Hello @florine2623 ,

Could you please have a look ?

Many thanks,

[2021-12-31 11:31] jf-viguier opened #27158 "Wrong usage of `actionDeliveryPriceByPrice` and `actionDeliveryPriceByWeight` in Carrier class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Carrier class `checkDeliveryPric

[2021-12-31 13:27] hibatallahAouadni commented on #27157
Hello @ks129

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-12-31 13:42] ks129 commented on #27157
@hibatallahAouadni I would like to implement this myself, as I would like to see it as soon as possible. I implemented order notes and also custom module for product notes (private), so I it won't be too hard for me.

[2021-12-31 13:50] hibatallahAouadni commented on #27156
Hello @Smriti-webkul271

Thanks for reporting the issue!
It's not related to USA but even with Chile you can reproduce the issue.
I was able to reproduce the issue with PS1778, PS1782 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to

[2021-12-31 13:54] hibatallahAouadni commented on #27157
@ks129 So go go :rocket:
Can't wait for your PR :tada:

[2021-12-31 14:19] hibatallahAouadni commented on #27158
Hello @jf-viguier

I didn't manage to reproduce the issue with PS1778, see the attached screen record below:

https://watch.screencastify.com/v/8gkJVY9fksMFDsJB1G0y

It seems that I missed a step, could you please check and feedback.
Thanks!

[2021-12-31 14:24] kpodemski commented on #26878
Hello @hibatallahAouadni

You have the wrong hook name in your QA module. It's `actionAfterUpdateCustomerAddressFormHandler` not `actionAfterUpdateCustomerFormHandler` 👍 You forgot the `Address` part

[2021-12-31 14:51] Alexandro2000 commented on #27124
Hi, I had this problem with a my customer. he reason is that php were not able to verify the ssl certificate is related to file certificate authorities file.
For resolve this problem, I had re-recreate ssl certificate and this problem was is resolved.

If the prestashop is installed on a machine linux, advice of install the ssl certificate with certbot.
This is a link for install certbot and creat

[2021-12-31 15:03] jf-viguier commented on #27158
The module has to return zero to the hook call

[2021-12-31 15:12] hibatallahAouadni commented on #27124
Hello,

Thanks @Alexandro2000 for your tip :rocket:
@harman-jack please verify your ssl certificate and apply the solution proposed by @Alexandro2000 above.
I close this issue as it's not related to PS Core.

Thanks!

[2021-12-31 15:12] #27124 closed, assigned to nobody

[2021-12-31 15:15] hibatallahAouadni commented on #27158
@jf-viguier did you check the attached screen record above? cause `ps_qualityassurance` returns zero to the hook call and yet in FO>checkout page, I didn't encounter any issues.

[2021-12-31 15:30] hibatallahAouadni commented on #26878
Hello @kpodemski

Thanks for the tip :sweat_smile: (my bad).
I reproduce the issue with PS1778, PS1782 and develop, see the attached screen record below:

https://www.awesomescreenshot.com/video/6657368?key=d94ed1f1b93577a5af45866493aff279

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time t

[2021-12-31 15:54] seederp2p opened #27160 "BO - Brands & Suppliers take 2 minutes to open. 1.7.7.8"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

My PS is 1.7.7.8 version.

All the

[2021-12-31 16:28] hibatallahAouadni commented on #27160
Hello @seederp2p

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9947.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-12-31 16:28] #27160 closed, assigned to nobody

[2021-12-31 16:28] hibatallahAouadni commented on #27160
Duplicate of #9947

[2021-12-31 20:53] mparvazi commented on #27149
## Current theming in BO
**_variables.scss**
[code]

**_content.scss**
[code]

## Dark/Light theming
**1.1. Creating map for default colors**
[code]
**1.2. Creating map for dark colors**
[code]
**2.1. Converting default colors map to CSS variables**
[code]
**2.2. Converting dark colors map to CSS variables**
[code]
**3. Using CSS variables instead of SCSS variables**
[code]
## Dark/Light toggling

[2021-12-31 21:40] mparvazi commented on #27149
## Current theming in BO
**_variables.scss**
[code]

**_content.scss**
[code]

## Dark/Light theming
**1.1. Creating Sass map for default colors**

**_variables.scss**
[code]
**1.2. Creating Sass map for dark colors**

**_variables.scss**
[code]
**2.1. Converting default colors map to CSS variables**

**_light.scss**
[code]
**2.2. Converting dark colors map to CSS variables**

**_dark.scss**
[code

[2022-01-01 00:53] IranDec opened #27161 "modal of multishop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

hi
recently I upgraded my website t

[2022-01-01 01:05] #27161 closed, assigned to nobody

[2022-01-01 01:16] rickygzz commented on #27156
I guess I solved the issue.

Recently I updated us localization pack to add United States outlying areas or islands, including one which has 36 characters.

And inside `classes/State.php` they limit the state name to 32 characters, while the database name field allows 64.

Updated that line in PR #27162 which solves that problem. Hope it gets reviewed soon

Happy holidays!

[2022-01-01 13:37] fangdajiang opened #27164 "added a way to run the app instantly?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-02 00:58] pmartin-webimpacto commented on #27123
Hi @TGD001  I see that you put this URL for instagram_sharing :
'url' => 'https://www.instagram.com/share?url='.$sharing_url,

But, it seems that the link is not allowed for share content on Instagram.
I don't see this functionality on instagram or another website, so I don't know if that it's the correct way.

[2022-01-02 02:12] rickygzz opened #27165 "MX-Aguascalientes ISO 3166 code needs correction"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The current ISO 3166 code for Aguas

[2022-01-02 03:04] seederp2p opened #27167 "Re-Open issue #27160"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Issue https://github.com/PrestaShop

[2022-01-02 04:24] TGD001 commented on #27123
hi @pmartin-webimpacto thank for answering.
I I wrote that url following the Instagram documentation, but I don't think that's the main problem, that string can obviously be modified at will. The problem is that if I try to load the modified module according to the PS procedure, it freezes and says that it cannot be loaded. Honestly this issue is beyond my knowledge so I have reported the issue he

[2022-01-02 09:43] pmartin-webimpacto commented on #27123
@TGD001  I see in your code, you forgot a semicolon on line 68.
For me it's working (I put the background on another color, because the instagram image it's white)
![image](https://user-images.githubusercontent.com/16488733/147871954-0e5b3bf1-dbea-4795-bc10-56feb172af21.png)

But, as I said, that link don't work, and it go to the 'share' instagram account.

If you make it work,  you can do a [Pull

[2022-01-02 10:36] TGD001 commented on #27123
You are right @pmartin-webimpacto , I forgot a semicolon on line 68, thank you very much for reporting the bug. However, the instagram icon does not appear, can you suggest me how you did it? Furthermore, a consideration must be made on the use of instagram, I do not think it is possible to share products if you do not have an account. So we need to investigate the problem by trying to optimize sh

[2022-01-02 11:24] pmartin-webimpacto commented on #27123
@TGD001  the image is loading, but the Instagram.svg it's white , so you can't see it with background: white.

You must to implement and load the SVG gray, and SVG blue for hover, like pinterest or facebook do at footer.scss:
![image](https://user-images.githubusercontent.com/16488733/147874067-4a1daf9d-a92e-4f27-9f04-706244be6097.png)

Instagram don't work like Twitter or Facebook,   and I don't

[2022-01-02 13:16] TGD001 commented on #27123
@pmartin-webimpacto ,
surely you are right. Thank you for support

[2022-01-02 14:33] ersanjay5991 commented on #16077
@marionf   I get same error on **Prestashop   ​​​​​​​ 1.7.8.2**
here community questions

https://www.prestashop.com/forums/topic/1058715-invalid-postcode-should-look-like-nnn-nnn/

[2022-01-02 14:40] mparvazi opened #27168 "Improving sidebar menu UI"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-02 16:57] LocalHeroPro commented on #19290
Same error here on:
1. PS version: 1.7.69, PHP version: 7.2.34,
2. PS version: 1.7.8.2, PHP version: 7.4.25.

I have created access key, enabled it, and grant all privileges.
I can't access via https://example.com/api, https://<awesome-key>@example.com/api, via https://github.com/PrestaShop/PrestaShop-webservice-lib.
Alle the time I get `401` response status code.

[2022-01-02 21:48] matks commented on #27168
Test

[2022-01-02 21:48] matks commented on #27168
Woups, sorry for the test message. GitHub behavior was weird for some time

[2022-01-03 03:22] harman-jack commented on #27124
Hello,

Thanks @Alexandro2000 and @hibatallahAouadni for the reply

[2022-01-03 03:29] AimSai59 opened #27169 "New sentences in the email theme are not added to the translation system"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I create a new email theme, wi

[2022-01-03 07:30] NeOMakinG commented on #27149
Funny I began something like this months ago and it looked almost like your screens

I would love to have such a feature in the BO honestly, wdyt @prestascott ?

He's not working atm but we really need his validation before

Also we would need to introduce a small dark/light toggler component (I think we need to use PHP because overwise we risk to have some color flash on loading)

[2022-01-03 07:42] NeOMakinG commented on #27085
I don't know what's the needed behavior, @prestascott should respond on this

[2022-01-03 08:16] TGD001 commented on #27123
@pmartin-webimpacto  however, I was reflecting that it is not a bad idea to share the products of the catalog in the various Pinterest, Instagram etc. accounts. It would be enough to add a string field (as in the form follow us in social media) where to type the correct url of the account.

[2022-01-03 08:26] NeOMakinG commented on #27128
As it's not an ajax save, is the alert really showing on other similar pages?

[2022-01-03 08:30] jf-viguier commented on #27158
@hibatallahAouadni hello

My bad, the carrier has to be set like this :
Out-of-range behavior : Disable carrier
![image](https://user-images.githubusercontent.com/16720275/147910862-4f95d2d3-64b2-4bca-9a2a-d84a65d20138.png)

[2022-01-03 08:31] Sinpery99 commented on #27016
I have managed to fix the problem you mentioned. I do not know exactly why it is, since I have not had time to see it more calmly.  I hope it can help whoever happens the same.

Go to file blockwishlist > src > Search > WishListProductSearchProvider.php

Look for this function and in this code add the bold line:

**$querySearch->groupBy('p.id_product');**

public function getProductsOrCount {
.
.

[2022-01-03 08:32] mparvazi commented on #27149
Hello @NeOMakinG

I tested in dashboard page by dark/light toggle button (without script and just with CSS vars).
There is no problem for color flash.
An interesting point is that after changing the color of the template, the color transitions works and the color of the template will be changed with transition.

I think this project should be started form [prestashop-ui-kit](https://github.com/Pre

[2022-01-03 08:43] NeOMakinG commented on #27149
I think we don't care about IE, it will run out of support on June

We didn't plan to upgrade to Bootstrap 5 inside this major as there are big works on other subjects, but this could be in the next major

[2022-01-03 08:45] Julievrz commented on #27026
Hi there,

Sorry for the late answer, I was out of the office.

Indeed, all ps_emailalerts strings are translated and validated in Crowdin, so Spanish translations should appear in the BO. I don't know why it doesn't work. 🤔

[2022-01-03 09:08] hibatallahAouadni commented on #27168
Hello @mparvazi

Thanks for the suggestion!
@NeOMakinG I think we can work on this improvement in this issue #23586 cause we already have UX approval, wdyt?

Thanks!

[2022-01-03 09:15] NeOMakinG commented on #23586
@prestascott What means the UX ✅  on this issue? Because I think it's not validated yet

[2022-01-03 09:16] NeOMakinG commented on #27168
It's not UX approved, I think it's a misuse of the UX ✅  label

[2022-01-03 09:17] prestascott commented on #27149
Hello everyone,

Thank you @mparvazi for your request and I agree with all your points. Also, dark mode is more pleasant to use when you're using a product at night.

You did a great job here but I don't think that this topic is really prioritized. The Design Team must give you the correct colors in the dark theme after studying it because we need to give you colors that are accessible. This work

[2022-01-03 09:18] prestascott commented on #23586
@NeOMakinG It means that i replied, but I can remove it

[2022-01-03 09:19] NeOMakinG commented on #27149
@prestascott I think we shouldn't use the UX ✅  when you don't validate the subject but you responded, maybe we should just remove the `Waiting for UX`

[2022-01-03 09:19] mparvazi commented on #27168
Hello @hibatallahAouadni

I think this issue somehow can be considered as like as a bug for sidebar menu in legacy theme.
This issue is not a regression but it's really annoying!
So it can be fixed in next patch.

[2022-01-03 09:25] marionf commented on #14037
@hibatallahAouadni This issue may be fixed, could you re-test it ?

[2022-01-03 09:30] mparvazi commented on #27149
Hello @prestascott

I defiantly agree with you!

Theming for dark mode is very different as light mode, so the principals should be prepared first.
The color depth in dark mode is very important:

<img width="200" src="https://user-images.githubusercontent.com/85633460/147915591-4309909d-250c-496e-a172-92715fe52143.png"></img>

As you can see in screenshots, I had some mistakes in coloring because

[2022-01-03 09:34] prestascott commented on #27123
Hello everyone,

Thank you @TGD001 for your request.

@hibatallahAouadni Your work is perfect as always, I have nothing to say! Let's make it simple and consistent and keep social media icons in the same color. :)

[2022-01-03 09:35] NeOMakinG commented on #27168
Yeah, I think @prestascott is the only one which can validate the change or not :)

[2022-01-03 09:46] prestascott commented on #27085
Hello everyone,

Thank you @mparvazi for your suggestion.

@NeOMakinG The horizontal line should always be displayed, but without the shadow. This allows a better structure in the header.
Also, I noticed a lack of margin-bottom on the search input, can you fix it please? ^^

[2022-01-03 09:52] mparvazi commented on #27085
@prestascott @NeOMakinG

This line in these pages displayed because of wrong placement for header toolbar.
So first of all toolbar placement should be fixed for these pages and then can use CSS for adding border line for all pages.

[2022-01-03 09:56] prestascott commented on #27123
Although, I don't think Instagram allows you to share articles, photos, or videos from other websites. I know that you can do it via the features in the app, but not with a sharing button.

The only way to share an article on Instagram is by copy/pasting the link to your Instagram story or your post.

[2022-01-03 09:57] NeOMakinG commented on #27085
Yeah was pretty sure that it was the background 😆

Let's think about fixing it properly

[2022-01-03 09:58] hibatallahAouadni commented on #27168
Hello again,

Well then, the Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Waiting for your PR :rocket:

Thank you

[2022-01-03 10:01] fabienvallon commented on #20178
Coud reproduce this "bug" with a "non-demo" product ?

[2022-01-03 10:04] fabienvallon commented on #18229
@matks / @PierreRambaud  : Can we close this bug ?

[2022-01-03 10:06] eternoendless commented on #27156
The offending strings should be truncated to unblock older shops

[2022-01-03 10:14] matks commented on #22091
I think we might need to re-build the mail theme using https://github.com/PrestaShop/mjml-theme-converter/ ?

[2022-01-03 10:43] hibatallahAouadni commented on #27165
Hello @rickygzz

I was able to reproduce the issue with PS1767, PS1778 and PS1782. I’ll add this to the debug backlog so that it’s fixed.
Thanks for your PR :rocket:

PS: @Julievrz can you validate this issue :pray:

Thank you

[2022-01-03 11:19] #26177 closed, assigned to mparvazi

[2022-01-03 11:36] vincent-dp opened #27171 "Unite price can't be used as sorting method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-03 12:08] mparvazi commented on #27149
@NeOMakinG

Wdyt about this:

Creating a plugin script for converting colors in `theme.css`
As like as [cssjanus](https://github.com/cssjanus/cssjanus) that works for RTL.

1- The script imports a color map:
[code]

2- Converts `theme.css` colors with regex and generate the `theme-dark.css`

[code]

So there is no problem for color flash.

[2022-01-03 13:25] Julievrz commented on #27165
Yes,  I double-checked on iso.org and @rickygzz is right.

[2022-01-03 13:32] NeOMakinG commented on #27149
Mmmh, I would prefer to create a `theme-dark.scss` stylesheet with a dark version of the UIKit

It would be the cleaner solution without any third-party plugins

[2022-01-03 13:37] hibatallahAouadni commented on #27171
Hello @vincent-dp

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-01-03 13:41] hibatallahAouadni commented on #27167
Hello @seederp2p

You said that you didn't encounter the issue with PS1782, did you mean that on shop version 1.7.8.2 with arround 13800 products and 780 brands, the Brands page load in secondes?
Cause as you can see the original issue #9947 is still open.
Waiting for your feedback.

Thanks!

[2022-01-03 13:45] seederp2p commented on #27167
Yes. The exact same store (migrated). No problems with 1.7.8.2 and with problems with 1.7.7.8

The issue that you're referring to talks about 1.7.4 (!).

[2022-01-03 13:51] hibatallahAouadni commented on #27167
@seederp2p so the problem has been fixed with PS1782 :tada:  and why you open this issue?

[2022-01-03 13:54] hibatallahAouadni commented on #9947
Ping @PrestaShop/prestashop-maintainers & @Hlavtox @jf-viguier @lmeyer1 @tswfi
It seems this issue has been fixed with PS1782 (see this [comment](https://github.com/PrestaShop/PrestaShop/issues/27167#issuecomment-1004102889)).

So, it will be hard to me to reproduce the issue :sweat_smile: Can someone please try to check if the issue has been fixed on one of your shops 1.7.8.2? :pray:

Thanks in a

[2022-01-03 13:58] seederp2p commented on #27167
Well, IF it was fixed, where's the fix so we can adapt and apply to version 1.7.7.8? I don't see anything on the change logs.

As you understand not all the people can upgrade their stores every single time and every single version due to the need of assuring the existing modules compatibility.

So the goal here is simple:
1 - Is there an issue or not?
2 - If there's an issue, and it was fixed, wh

[2022-01-03 14:14] eternoendless opened #27172 "Move Classic theme to its own repository"
The classic theme is AFL and therefore must be placed outside the core

####

- [ ] How are we going to integrate it back to the project (composer, git submodule...)
- [x] Create a dedicated repo

[2022-01-03 14:17] ItchICen opened #27173 "Edit page console error. Uncaught TypeError: Cannot read properties of null (reading 'textContent')"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error "Uncaught TypeError: Cannot r

[2022-01-03 14:18] hibatallahAouadni commented on #27167
Hello @seederp2p

Yes, there is an issue #9947

AFAIK, this issue is not fixed yet and that's why I asked the maintainers to check if the issue has been fixed on their shops in this [comment](https://github.com/PrestaShop/PrestaShop/issues/9947#issuecomment-1004107623).

So, I'm closing this issue as duplicate to this one #9947
Please subscribe to the issue mentioned above.

Thanks!

[2022-01-03 14:18] #27167 closed, assigned to nobody

[2022-01-03 14:18] hibatallahAouadni commented on #27167
Duplicate of #9947

[2022-01-03 14:52] NeOMakinG commented on #26705
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/26998

[2022-01-03 15:37] hibatallahAouadni commented on #14037
Hello @marionf

Following these steps:

1. Go to 'IMPROVE > Design > Positions'
2. Click on 'Transplant' at the top right corner
3. In Modules input select Banner and choose **`displayAdminAfterHeader`** as **Transplant to**
4. You will get these results and that's normal:

![image](https://user-images.githubusercontent.com/23308427/147949308-f3f1aff8-a628-4bb6-ad8c-5b9c20df0feb.png)

![image](htt

[2022-01-03 15:42] hibatallahAouadni commented on #27173
Hello @ItchICen

I didn't manage to reproduce the issue with PS1782, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/147950116-d96b95af-ca1c-43ab-b3f8-c7c8ade90bef.png)

Did you override some files in the BO? Please check and feedback.
Thanks!

[2022-01-03 15:43] hibatallahAouadni commented on #26982
Hello @PrestaShark

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-03 15:43] #26982 closed, assigned to nobody

[2022-01-03 15:44] eternoendless commented on #24643
The PR #27036 is blocked until ps_googleanalytics is fixed

[2022-01-03 15:45] hibatallahAouadni commented on #27169
Hello @AimSai59

Your issue seems related to this one #22968
Please check and feedback.

Thanks!

[2022-01-03 16:01] AimSai59 commented on #27169
Hi @hibatallahAouadni !

It's not really that. My theme is perfectly taken into account from header to footer.

Only the sentences other than those already present in the provided themes (classic or modern) are not added to the translation system in **appearance > email theme > email translation**.

I have to generate my new emails, then go to **localization > translation > email translation** and

[2022-01-03 16:05] #24987 closed, assigned to sowbiba

[2022-01-03 16:30] ItchICen commented on #27173
No, I didn't it, as far as i know. The last thing I did was a theme update (posted by its author on past December 20th).

In the back office information page, I have seen that "[admin-folder]/themes/new-theme/public/cms_page_form.bundle.js" appears on updated files list, but I don't see this file in the theme's changelog.

Thanks.

[2022-01-03 16:46] matks commented on #26413
@atomiix did you start this topic?

[2022-01-03 16:58] atomiix commented on #26413
@matks I only investigated and see that it did seem like a regression

[2022-01-03 17:01] matks commented on #26413
@atomiix I take it then 👍  thank you

[2022-01-03 17:27] MatShir commented on #16077
@ersanjay5991 Here the issue is to change to default format of Slovenia postcode. I guess you would like to do the same with India, if it is the case I suggest you to create another feature request :)

[2022-01-03 17:36] Rosario98sr opened #27177 "Prestashop Backoffice problem "ERR_TOO_MANY_REDIRECTS""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi everyone, I migrated my site fro

[2022-01-03 18:08] MatShir commented on #27171
Now the unit price would be stored in the database with this PR https://github.com/PrestaShop/PrestaShop/pull/26762 for the next version. So after this PR is merged, we could rename this feature request 'can't sort with unit price' ;)

[2022-01-03 18:12] clotairer opened #27178 "GDPR improve slow sql request"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

[On this line of GDPRLog](https://g

[2022-01-03 18:14] ItchICen commented on #27173
I have downloaded and replaced these two files:
- "[admin-folder]/themes/new-theme/public/cms_page_form.bundle.js"
- "js/admin/tinymce.inc.js"

And it works normal again. I still don't know why those files were modified, as I say according to the theme's changelog they weren't included on it. Apparently the source of the problem was on these files.

Sorry for the inconveniences.

[2022-01-03 18:15] MatShir commented on #27026
@atomiix will the issue be fixed after the module will be included in the zip (see issue https://github.com/PrestaShop/PrestaShop/issues/24643)?

[2022-01-03 18:18] MatShir commented on #14037
LTGM ! thanks @hibatallahAouadni

[2022-01-03 18:18] #14037 closed, assigned to nobody

[2022-01-03 18:52] MatShir commented on #26935
no epic needed ;)

[2022-01-03 19:58] Progi1984 commented on #26992
Fixed by @NeOMakinG in #26998 & tested by @florine2623

[2022-01-03 19:58] #26992 closed, assigned to NeOMakinG

[2022-01-03 19:58] Progi1984 commented on #26705
Fixed by @NeOMakinG in #26998 & tested by @florine2623

[2022-01-03 19:58] #26705 closed, assigned to NeOMakinG

[2022-01-03 20:25] MatShir commented on #18606
@PrestaShop/prestashop-core-developers what do you think about this feature?

[2022-01-03 20:30] Hlavtox commented on #18606
It's not a feature, it's a bug. It worked correctly in 1.6. ;)

[2022-01-03 20:41] MatShir commented on #14753
It makes sense @kmorgen, if you have the technical knowledge or find someone that could don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to review your contribution to the PrestaShop core.

[2022-01-03 21:01] MatShir commented on #22974
related to https://github.com/PrestaShop/PrestaShop/issues/23745

[2022-01-03 21:10] MatShir commented on #22634
It could be a nice improvement for theme-refacto @NeOMakinG @prestascott

[2022-01-03 21:12] MatShir commented on #25887
Then let's hard deleted !

[2022-01-03 21:24] Guisardo opened #27180 "BO - Cannot edit specific combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When try to edit a combination usin

[2022-01-03 21:30] Guisardo commented on #27180
The issue seems to be related to the fact that a JS error is preventing the page to correctly load. The browser complains about  'rightSidebar' not being defined at this line:
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/admin-dev/themes/default/js/bundle/product/form.js#L44

I'd fixed locally by adding this code at beginning of the forms.js:
[code]

I didn't put that in a PR because the

[2022-01-03 21:54] MatShir commented on #9779
I guess yes, with all the steps described from the screen record then we could close this issue ;)

[2022-01-03 23:29] lthienard opened #27181 "setRoles() must be of the type array, null given"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi All,

Why my Prod.log file is fi

[2022-01-04 01:48] hibatallahAouadni commented on #27173
@ItchICen Glad to hear 🎉
Closing the issue!

[2022-01-04 01:48] #27173 closed, assigned to nobody

[2022-01-04 08:04] NeOMakinG commented on #22634
I think it's not directly linked to the theme but to the `AttachmentController`

[2022-01-04 08:11] mparvazi opened #27182 "Update PS logo in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-04 08:40] florine2623 commented on #27177
Hello @Rosario98sr ,

First, for security reasons, please modify your admin folder name.

Second, regarding your issue after migrating your site; have you changed these info in the database ?
- ps_shop_url
- ps_configuration -> PS_SHOP_DOMAIN_SSL & PS_SHOP_DOMAIN

Also, you need to modify the file `config/parameters.php` to match with your own database configuration.

Please check and let me know!

[2022-01-04 08:49] vincent-dp commented on #27171
Thank you, I have edited my request and the title

[2022-01-04 08:52] matks commented on #18606
It is a bit similar to https://github.com/PrestaShop/PrestaShop/issues/10091 @Hlavtox if I am not wrong?

[2022-01-04 09:05] matks commented on #26413
@florine2623 Sorry for disturb, could you please retest this bug with 1.7.7.7 ? 😄  we need to know if it's a regression and @atomiix thinks maybe it's not a regression

[2022-01-04 09:06] mparvazi commented on #27177
It's maybe related to SSL certification.
Try to change options in `Shop Parameters > General` for SSL.

[2022-01-04 09:16] mparvazi commented on #27172
AFL
What does it stands for?

[2022-01-04 09:18] matks commented on #27172
https://opensource.org/licenses/AFL-3.0

[2022-01-04 09:21] 01park opened #27183 "www - non www multistore redirect to main store - htaccess file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For multistore users it would be go

[2022-01-04 09:26] PierreRambaud commented on #18229
Yes, I'm closing it, we are not responsible for the wrong usage of hooks.

[2022-01-04 09:26] #18229 closed, assigned to nobody

[2022-01-04 09:32] Prestaworks opened #27184 "autoupgrade, warning during db upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

During the upgrade the following wa

[2022-01-04 09:32] NeOMakinG commented on #27172
@PierreRambaud let's do it soon? We will need to document the way to install the theme (with composer or any other solutions), it will be the exact same thing for the new theme

[2022-01-04 09:40] jolelievre commented on #27171
Hi @vincent-dp

as @MatShir told you we are introducing this unit price column in 8.0.0 However if you need it in your module for prior versions of PrestaShop you should be able to compute it in your SQL request. Similarly to what was done here for upgrade scripts https://github.com/PrestaShop/autoupgrade/pull/441

You should be able to request something like this:
[code]

That's just a simple exa

[2022-01-04 09:53] atomiix commented on #27026
@alfonsolr09 @Julievrz @MatShir plot twist: translations are there but in the module `ps_emailalert` we use the translation domain `Modules.Emailalerts.Admin` but the translations are in the `Modules.Mailalerts.Admin` domain 😅
It seems that it was a desired change from [this PR](https://github.com/PrestaShop/ps_emailalerts/pull/49) and [Pablo stated ](https://github.com/PrestaShop/ps_emailalerts/p

[2022-01-04 10:00] marionf opened #27185 "As a user, I want to be able to search and find instantly the tabs of the back office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-04 10:01] marionf commented on #26497
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/27185

[2022-01-04 10:01] #26497 closed, assigned to nobody

[2022-01-04 10:01] marwachelly commented on #27181
Hello,

Following the steps to reproduce the issue with a fresh install, the Prod.log is not generated.
https://watch.screencastify.com/v/IzoN0hX2xntvQicZJSp5

Could you please check and indicate the profile of the employee and check the permission granted?
Is there any error in the Back office?
Please add more info in the step to reproduce following this [link](https://build.prestashop.com/howtos

[2022-01-04 10:01] Hlavtox commented on #18606
@matks Yeah, but that issue was not about that in the beginning I think. Keep whatever issue, but don't make it forgotten. ;)

[2022-01-04 10:06] onklmaps commented on #11038
I was just about to add a feature request for this myself but found this little gem ;-)
It would be great to have this.

One could also consider to have a list of checkboxes for employees you would like to  enable debug for (and then check cookie if they are logged in or not), so that we are not even required to add our (dynamic) ip for every time we need to debug a client site.

[2022-01-04 10:08] Hlavtox commented on #26497
How is that a duplicate of issue you created 7 minutes ago?

[2022-01-04 10:10] vincent-dp commented on #27171
Thank you very much for answering.

Yes after reading the whole #26762 I was able to reproduce on an old release (1.7.5+) since it is pretty much straight forward.

About the sorting method,
the main problem of unite price (so far) is that it is not impacted by discounts (not directly as you made it into the db). For example, the price, when a discount is applied, get a value stored in `ps_specifi

[2022-01-04 10:11] prestascott commented on #26497
@Hlavtox Because she created a new one, which is updated. :)

[2022-01-04 10:14] marwachelly commented on #27182
Hello,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature in

[2022-01-04 10:17] Hlavtox opened #27186 "Jquery UI 1.10 is deprecated and throws Lighthouse warning."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-04 10:19] Hlavtox commented on #26497
Yeah but no way to tell @mparvazi was the original author of the idea. 👍

[2022-01-04 10:35] mparvazi commented on #26497
@Hlavtox
Ty.
It's OK. I prefer this current annoying search bar change ASAP.
We were in contact at Slack.

[2022-01-04 10:42] matks commented on #27182
Can you be more accurate?

Low quality -> indeed SVG can look better
Old -> what does this mean ? 😄

[2022-01-04 10:42] marwachelly commented on #27180
Hello,

Thank you for your report. With the provided information I didn't manage to reproduce the issue:
PS1.7.8.2 and PHP7.3
https://watch.screencastify.com/v/ALXkqHFLEjefvQKqV3AP
Did I miss some thing?
Could you please add more details in the step to reproduce (language used, debug mode state, is it multistore case...)

Thanks,

[2022-01-04 10:49] mparvazi commented on #27182
OK, I corrected:
"Current logos in BO and installer has low quality."

[2022-01-04 11:08] Rosario98sr commented on #27177
Hi, yes of course I have configured as you say

[2022-01-04 11:08] #27165 closed, assigned to rickygzz

[2022-01-04 11:09] Rosario98sr commented on #27177
I would like to do so but unfortunately I do not have the opportunity to enter because if I click on shop parameters, the error appears as a photo

[2022-01-04 11:20] mparvazi commented on #27177
Go to `phpMyAdmin` on server
Try to find `ps_configuration` table
Change the `PS_SSL_ENABLED` and `PS_SSL_ENABLED_EVERYWHERE` values to "0"
Clear browser cache

[2022-01-04 11:35] eternoendless commented on #27172
Composer already [provides support](https://github.com/composer/installers/blob/main/src/Composer/Installers/PrestashopInstaller.php) for PrestaShop themes. It's probably the best way to bundle the default theme IMO.

To avoid losing the theme's git history, I suggest we fork the PrestaShop repo, rename it to "classic", then delete & move files around as necessary.

On a side note, I have the feel

[2022-01-04 11:41] Rosario98sr commented on #27177
Nothing, in this case, by doing so, the front office does not work either

[2022-01-04 12:04] mparvazi commented on #27177
![Screenshot from 2022-01-04 12-03-42](https://user-images.githubusercontent.com/85633460/148056435-8254ef71-a967-4c4c-9e20-aa0eca9eda20.png)

[2022-01-04 12:06] Rosario98sr commented on #27177
yes because I put the configuration back on the database

[2022-01-04 12:06] Rosario98sr commented on #27177
yes because I put the configuration back on the database

[2022-01-04 12:08] mparvazi commented on #27177
So problem is for Back Office?

[2022-01-04 12:09] Rosario98sr commented on #27177
yes, I manage to enter the backoffice, but trying to interact on the various functions, it leads me to that error

[2022-01-04 12:32] mparvazi commented on #27177
Something is wrong for `token` in URL.
There is a redirection by `admin_security_compromised`

Normally you should see a page like this:

![Screenshot 2022-01-04 at 12-23-18 Invalid token](https://user-images.githubusercontent.com/85633460/148058742-9fbd80a4-f202-47df-acff-8aa66d80c0de.png)

What is the problem:
Your shop sets to `https://`, but this controller try to redirect in `http://`
Then a

[2022-01-04 12:35] Rosario98sr commented on #27177
yes, as far as I can see there is a problem right there, but I don't get that page. Do you know how I can solve?

[2022-01-04 12:46] mparvazi commented on #27177
Please login with this URL (without token parameter):

https://magriecostore.com/{your_admin_folder}/

[2022-01-04 13:02] Rosario98sr commented on #27177
This is what happens.

https://user-images.githubusercontent.com/97048444/148063016-33f6a798-abc3-4a34-a02c-40b4f263ce08.mp4

[2022-01-04 13:13] tom-combet opened #27188 "Allow modules to add their own bundles"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-04 13:13] prestascott commented on #27043
Since we can already identify if the customer is a guest or registered, we can close this issue.

[2022-01-04 13:13] prestascott commented on #27043
Since we can already identify if the customer is a guest or registered, we can close this issue.

[2022-01-04 13:14] #27043 closed, assigned to nobody

[2022-01-04 13:25] matks commented on #27188
For reference we started exploring the topic 3 years ago https://github.com/PrestaShop/PrestaShop/issues/14541 and even started https://github.com/PrestaShop/ADR/pull/7

Unfortunately while exploring I found out the amount of work needed to make this happen is massive, so I gave up.

Unless you have a working POC that does solve the issues identified in https://github.com/PrestaShop/PrestaShop/iss

[2022-01-04 13:31] pmartin-webimpacto commented on #27183
@01park ,  I think this have to be done on server (apache/nginx) configuration manually, and not on Prestashop.

For me it's not a bug,  and it's the expected behaviour.

'www.domain.com'  it's a subdomain in the same way that you can have the Prestashop under the subdomain: 'shop.domain.com'

[2022-01-04 13:50] mparvazi commented on #27177
As I see in this video there is different `token` parameters for Product page and Theme page, but it's wrong!

So try to sign-out and clear browser cache completely (Cookies) or even better to use another browser and sign-in again.

[2022-01-04 14:00] Prime110 commented on #22626
https://www.primetoons.com/?m=1

[2022-01-04 14:05] #27177 closed, assigned to nobody

[2022-01-04 14:05] Rosario98sr commented on #27177
nothing not work...

[2022-01-04 14:14] marwachelly commented on #27186
Hello,

Thank you for your suggestion. @PrestaShop/prestashop-core-developers Could you please have a look?
Is this https://github.com/PrestaShop/PrestaShop/issues/10463#issuecomment-425008014 still valid ?

Many thanks,

[2022-01-04 14:18] Hlavtox commented on #27186
@marwachelly jQuery has already been updated to 3.x.x in BO, core.js and classic theme. So I think we can use this oportunity to also update the UI plugin, when we have a next Major coming ;-)

[2022-01-04 14:22] PierreRambaud commented on #27172
Do we really care about that with our modules? I don't think, we should do exactly the same thing and only play with Theme version.

Same as for modules, we install a recent version by using Git & reinstall prestashop.

Functional tests are not related to the theme, but sometimes we improve the theme to make it work, we do the same thing for modules.

[2022-01-04 14:28] Julievrz opened #27189 "Create 2 repositories for the V8 user documentation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-04 14:35] mparvazi opened #27190 "[CORE] The redirect() function in Tools.php doesn't check PS_SSL_ENABLED"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The `redirect()` function in `Tools

[2022-01-04 14:39] marwachelly commented on #27184
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of (https://github.com/PrestaShop/PrestaShop/issues/27087)
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-01-04 14:40] marwachelly commented on #27184
Duplicated to https://github.com/PrestaShop/PrestaShop/issues/27087.

[2022-01-04 14:44] Prestaworks commented on #27184
Did you link the wrong issue? 27087 is about php version and not SQL commands?

[2022-01-04 14:52] boubkerbribri opened #27191 "First issue"

[2022-01-04 14:53] #27191 closed, assigned to nobody

[2022-01-04 14:57] khouloudbelguith opened #27192 "First issue"

[2022-01-04 14:58] khouloudbelguith commented on #27192
Sorry was a test

[2022-01-04 14:58] #27192 closed, assigned to nobody

[2022-01-04 15:21] Progi1984 commented on #25829
Fixed in #26514

[2022-01-04 15:21] #25829 closed, assigned to Progi1984

[2022-01-04 15:27] HanaRebaiQA opened #27194 "BO - An error is displayed in the Stats page - Best suppliers module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error is displayed in the `Sta

[2022-01-04 15:31] HanaRebaiQA opened #27195 "BO - An error is displayed in the Stats page - Best vouchers module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error is displayed in the `Sta

[2022-01-04 15:36] HanaRebaiQA opened #27196 "BO - An error is displayed in the Stats page - Best-selling products module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error is displayed in the `Sta

[2022-01-04 15:39] HanaRebaiQA opened #27197 "BO - An error is displayed in the Stats page - Carrier distribution module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error is displayed in the `Sta

[2022-01-04 15:41] marwachelly commented on #27190
Hello,

Thanks for your report. Could you please provide more details and clarify steps to reproduce ?

Many thanks,

[2022-01-04 15:47] HanaRebaiQA opened #27198 "BO - An error is displayed in the Stats page - Catalog evaluation module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error is displayed in the `Sta

[2022-01-04 16:04] marwachelly commented on #27188
Hello @matks,

What is the status of this ticket  #14541 ?

Thanks,

[2022-01-04 16:07] mparvazi commented on #27190
Hello @marwachelly

It's hard to reproduce this problem, because it's not a problem inside PS!

It happens for some third-party modules or sometimes like this [PR](https://github.com/PrestaShop/PrestaShop/issues/27177)

So I thought it would be fine if `Tools.php` controls wrong calls of link redirection.
Because most users thinks these problems (in some case) are related to PS, but it's not true:

[2022-01-04 16:07] matks commented on #27188
@marwachelly it was abandoned

[2022-01-04 16:10] marwachelly commented on #27183
Hello,

This issue is similar to this [ticket](https://github.com/PrestaShop/PrestaShop/issues/20134) It wasn't reproducible as mentioned in the [comment](https://github.com/PrestaShop/PrestaShop/issues/20134#issuecomment-755210594).
@PrestaShop/prestashop-core-developers Could you please check?

Many thanks,

[2022-01-04 16:53] mparvazi commented on #26624
@marionf

I think this issue should be closed, because probably it will be fixed by #27185

[2022-01-04 17:04] khouloudbelguith opened #27199 "BO - An error is displayed in the stats page - statsstock module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module stat

[2022-01-04 17:08] khouloudbelguith opened #27200 "BO - An error is displayed in the stats page - statsbestmanufacturers module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module stat

[2022-01-04 17:14] khouloudbelguith opened #27201 "BO - An error is displayed in the stats page - statsbestcategories module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats page, the module

[2022-01-04 17:17] khouloudbelguith opened #27202 "BO - An error is displayed in the stats page - statsbestcustomers module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > stats page, the module

[2022-01-04 17:17] hibatallahAouadni opened #27203 "BO - An error is displayed in the stats page - Newsletter module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module stat

[2022-01-04 17:24] khouloudbelguith opened #27204 "FO - Order confirmation page - ps_checkpayment is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The ps_checkpayment module is NOK w

[2022-01-04 17:30] jolelievre opened #27205 "Refacto CountryId and CustomerId VOs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-04 17:31] matks commented on #27007
- this issue is valid
- in my opinion all of the above solutions are valid

[2022-01-04 17:37] hibatallahAouadni opened #27206 "BO - An error is displayed in the stats page - `pagesnotfound` module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module `pag

[2022-01-04 17:37] hibatallahAouadni opened #27207 "BO - An error is displayed in the stats page - `statsproduct` module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module `sta

[2022-01-04 17:37] hibatallahAouadni opened #27208 "BO - An error is displayed in the stats page - `statspersonalinfos` module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module `sta

[2022-01-04 17:55] seederp2p commented on #9947
I would appreciate some confirmation on @hibatallahAouadni question.

Thank you all.

[2022-01-04 18:08] Hlavtox opened #27209 "Profiling cosmetic problems on develop - escaping and unknown spans in queries."
### Describe the bug and add screenshots
If you enable profiling in config/defines.inc.php.

**Queries contain escaped < > characters. They cannot be simply copied to SQL client to test.**
![Výstřižek](https://user-images.githubusercontent.com/6097524/148103869-8f0fbc28-4dcf-4048-a58a-f872081a7206.JPG)

**Queries contain some weird spans**
![image](https://user-images.githubusercontent.com/2330842

[2022-01-04 18:26] clotairer commented on #27178
Several years on a big PrestaShop... with a flood of spam on ps_emailsubscription module form.

[2022-01-04 19:10] mparvazi commented on #27190
<img src="https://user-images.githubusercontent.com/85633460/148111059-3f9326b4-5038-4f15-98ca-a795e32df6fb.png" width="550">

[2022-01-04 19:16] Kaudaj commented on #27188
Ah, didn't see this issue, sorry...
Indeed, I was feeling that adding a hook would be too easy 😅. I didn't consider the versions conflict issue.

This undeniably compromises the ability to add bundles from a module.
However, is it still a problem if modules are bundles? I don't think so because each module then has its own dependencies. The disabled/removed modules issue is non-blocking for me bec

[2022-01-04 20:11] ersanjay5991 commented on #16077
@MatShir   it not about feature, it was bug I thinks not validate the code

[2022-01-04 20:22] tswfi commented on #9947
I don't have a site on which to test this right now

[2022-01-04 21:30] Hlavtox commented on #27204
@MatShir Hi Mateus, what would you think about deprecating this module? We could loose some maintanace burden. I have never seen any store accepting this method of payment in my life... :-)

[2022-01-04 23:17] Guisardo commented on #27180
Hi @marwachelly, thanks for the support!

I just fount out that the problem was caused by the PageSpeed mod on the server. PageSpeed bundles the javascript for delivery optimization but that is not compatible with the new versions of file https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/default/js/bundle/default.js
The incompatibility arises because an incorrect scope of a ja

[2022-01-05 04:51] #27190 closed, assigned to nobody

[2022-01-05 04:51] #26624 closed, assigned to nobody

[2022-01-05 07:40] #27134 closed, assigned to NeOMakinG

[2022-01-05 07:59] marwachelly opened #27210 "BO - An error is displayed in the stats page - Catalog statistics module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module stat

[2022-01-05 08:04] marwachelly opened #27211 "BO - An error is displayed in the stats page - Customer accounts module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module Cust

[2022-01-05 08:12] marwachelly opened #27212 "BO - An error is displayed in the stats page - Sales and orders module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module stat

[2022-01-05 08:17] marwachelly opened #27213 "BO - An error is displayed in the stats page - Shop search module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Stats > the module shop

[2022-01-05 08:23] NeOMakinG commented on #27140
https://www.awesomescreenshot.com/video/6704847?key=7da2f27c8e3c45847e2540de52455a7b

Can't reproduce on the dev branch of the module

Closing the issue, if you reproduce in a way I don't know, don't hesitate to open

[2022-01-05 08:25] NeOMakinG commented on #27136
https://www.awesomescreenshot.com/video/6704875?key=1a7de790f217111f52ea17bd43b60222

Can't reproduce on the dev branch of the module

[2022-01-05 08:28] NeOMakinG commented on #27135
https://www.awesomescreenshot.com/video/6704917?key=656d226d65ca03b02c9719d5861af93f

Not reproduced

[2022-01-05 08:35] SimonasB88 commented on #26895
Hey, sorry, was a bit vacationing @hibatallahAouadni

Yes, the search field shouldn't be displayed, as it is set to be exception. Did you get a possibility to reproduce this?

Thanks.

[2022-01-05 08:38] NeOMakinG commented on #27131
Backend issue, the API return only one name, should return multiple languages names so the JS can adapt it

[2022-01-05 08:47] #27037 closed, assigned to atomiix

[2022-01-05 09:26] hibatallahAouadni commented on #27205
Hello @jolelievre

Is your issue related to this one #25946?
Please check and feedback.

Thanks!

[2022-01-05 09:27] hibatallahAouadni opened #27214 "[EPIC] - Refactoring"
All issues related to Refactoring:

### Ready
- [x] #10064
- [x] #10066
- [x] #10067
- [ ] #18545 - **`migration`**
- [x] #18861
- [x] #19341
- [x] #23393
- [ ] #23658
- [x] #31799

### Needs Specs
- [x] #10091
- [x] #10100
- [x] #18901
- [x] #21419
- [x] #24123
- [x] #29148
- [ ] #26612 - **`Waiting for Dev`**
- [ ] #27048 - **`migration`**

### WIP
- [ ] #19242 - **`Translation`**
- [ ] #23767 -

[2022-01-05 10:38] hibatallahAouadni commented on #27178
Hello @clotairer

Thanks for reporting this issue!
This issue is about improving GDPR performance, so I change it to a Feature :wink:

Thanks for your PR :rocket:
Ping @PrestaShop/prestashop-core-developers could you please check this issue :pray:

Thanks!

[2022-01-05 11:15] Lionel-dev commented on #27056
I confirm what daresh says... We have the problem on several blinds... It's quite annoying...

[2022-01-05 11:25] daresh commented on #27056
@marwachelly please reopen this issue, otherwise I will need to submit another bug request for it, but that's redundant.

[2022-01-05 12:04] #14518 closed, assigned to Hlavtox

[2022-01-05 12:59] kpodemski commented on #27056
@marwachelly

As discussed on Slack, this is a valid report, I was able to reproduce this issue.

[2022-01-05 13:30] hibatallahAouadni commented on #26624
@mparvazi why you closed the issue? did you fix it? if so, where's the PR?

[2022-01-05 13:33] mparvazi commented on #26624
Hello @hibatallahAouadni
It will be fixed here: #27185

[2022-01-05 13:34] hibatallahAouadni commented on #26624
Thanks for the tip :wink:

[2022-01-05 13:37] momo1240 opened #27218 "Some errors when debug mode enabled - invalid Entities Mapping"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
After updating prestashop to

[2022-01-05 13:46] Lionel-dev commented on #27056
@kpodemski personally, I just fixed it on the prestablog module and I think the bug is probably related to it...

I dumped a bit in the Hook.php class and I realized that "php_self" or "controller_name" was at "null". So I added this in the init function of my controller:

`Context::getContext()->controller->controller_name = 'blog';`

[2022-01-05 13:51] kpodemski commented on #27056
@Lionel-dev

Setting `php_self` in the controller might be tricky with some of the third-party SEO modules that generate some stuff based on the `php_self`, overall I remember this issue from years ago, but I forgot to go back to it.

[2022-01-05 13:53] mparvazi commented on #26624
No one trust me here about what I do 😭

[2022-01-05 13:58] Lionel-dev commented on #27056
@kpodemski yes I saw while doing my fix thanks :) So I just assigned a controller name and left the php_self as it was :) For the moment I have no side effects

[2022-01-05 14:16] atomiix commented on #27039
This should be solved when blockreassurance 5.1.0 will be released!

[2022-01-05 14:16] NeOMakinG commented on #26755
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/26853

[2022-01-05 14:16] #26755 closed, assigned to nobody

[2022-01-05 14:28] MatShir opened #27219 "Release 1.7.8.4"
This issue tracks the status of the PrestaShop 1.7.8.4 release

### Information

Q                                    | A
-----------------------|---------------
**Type**          | Patch version
**Est. Build date**  |  Februray 23, 2022
**Milestone** | [1.7.8.4](https://github.com/PrestaShop/PrestaShop/milestone/80)
**Kanban** | [1.7.8.4](https://github.com/PrestaShop/PrestaShop/projects/23)
**Es

[2022-01-05 14:31] Mhamed95 opened #27220 "Undefined index: media"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I need to solve this ASAP please te

[2022-01-05 14:42] hibatallahAouadni commented on #26624
@mparvazi That's not true, we trust you :muscle: and we're waiting for your PR to fix this issue #27185
It's just we create new issue to add more details to be easy for you or any other contributor to fix the problem.

[2022-01-05 14:45] SlaVIc31 commented on #15420
This issue still exists.

[2022-01-05 14:45] #26853 closed, assigned to NeOMakinG

[2022-01-05 15:04] khouloudbelguith commented on #27136
Hi,

As discussed with @NeOMakinG,

This issue is reproduced only when the first product added to the wishlist has combinations, but the second one has no combinations, it could be a simple product, a vector or a pack.
![image](https://user-images.githubusercontent.com/16067358/148239780-0176e835-620c-4a73-9bfe-e40876e39356.png)

Thanks!

[2022-01-05 15:13] jolelievre commented on #27205
Yes @hibatallahAouadni you're right, thanks.

Duplicate of #25946

[2022-01-05 15:13] #27205 closed, assigned to nobody

[2022-01-05 15:18] Progi1984 commented on #26969
Build sent in QA : The :soccer: is there for your team @Robin-Fischer-PS.

[2022-01-05 15:18] #24503 closed, assigned to nobody

[2022-01-05 15:19] NeOMakinG commented on #24467
Duplicate and fixed in another PR

[2022-01-05 15:19] #24467 closed, assigned to kpodemski

[2022-01-05 15:22] illtellyoulater commented on #25331
@matks sorry but could you be a little more detailed ? How did you fix this ? Who's this PSX team you mentioned and where is the "ps_eventbus" they would provide ?

If anyone else happens to know what he's talking about, please let me know asap! Thanks!

[2022-01-05 15:23] NeOMakinG commented on #24404
Can't you use the `displayTop` hook? Looks like it's what you need

[2022-01-05 15:25] NeOMakinG commented on #24399
@lmeyer1

![image](https://user-images.githubusercontent.com/14963751/148243067-7d598907-ddb4-40dc-a4c4-e71d4bb9c2b5.png)

Sort by is hardcoded inside ProductsListContainer.vue :trollface:

[2022-01-05 15:27] PululuK opened #27222 "[Hook] Allow modules to modify delivery option list result"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-05 15:42] hibatallahAouadni commented on #27143
FYI @kpodemski

[2022-01-05 15:44] NeOMakinG commented on #19060
Seen with @Quetzacoalt91 , its done

[2022-01-05 15:44] #19060 closed, assigned to nobody

[2022-01-05 15:45] hibatallahAouadni commented on #27205
Duplicate of #25946

[2022-01-05 15:46] eternoendless commented on #27172
I'm worried that we will be breaking the build more often. Currently, changes to the theme (at least some of them) are tested by CI when we send the pull request. After this, the changes will no longer be verified by CI until a new theme version has been released.

[2022-01-05 16:02] Hlavtox commented on #27222
OK I thought I didn't find it. This is a necessity! 🚀

[2022-01-05 16:02] #27094 closed, assigned to nobody

[2022-01-05 16:24] jf-viguier commented on #24111
issue #26134 "Update passwords in md5 to bcrypt" should be removed, already merged in 2016

[2022-01-05 16:27] hibatallahAouadni commented on #27209
Hello again,

Thanks for the provided details on Slack, I reproduce the issue on develop, see the attached screenhsot below:

![image](https://user-images.githubusercontent.com/23308427/148250647-f758055a-24bd-4c04-bb6d-3d703b6403eb.png)

Well on **`develop`**, we only see the `&gt` and `&lt`!
But on **`1.7.8`**, we have the `<span>`, `&gt` and `&lt` in the queries :confounded:

![image](https://u

[2022-01-05 16:36] hibatallahAouadni commented on #27218
Hello @momo1240

In which page did you enoucnter these errors?
Please check and feedback.

Thanks!

[2022-01-05 16:38] hibatallahAouadni commented on #27220
Hello @Mhamed95

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-01-05 16:38] #27220 closed, assigned to nobody

[2022-01-05 16:40] hibatallahAouadni commented on #24111
@jf-viguier Thanks for the tip :wink:

[2022-01-05 16:41] hibatallahAouadni commented on #25837
Hello @amerigeau

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-05 16:41] #25837 closed, assigned to nobody

[2022-01-05 16:43] hibatallahAouadni commented on #27000
Hello @psgpolska

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-05 16:43] #27000 closed, assigned to nobody

[2022-01-05 17:18] momo1240 commented on #27218
Hello Hibatallah
thank you for your reply

these errors are displayed when I have debug mode activated
Errors are listed in Doctrine->Entites Mapping

thank you

[2022-01-05 17:27] jolelievre opened #27226 "Invalid specific price displayed in a cart that matches multiple conditions on single quantity and total cart quantity"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This bug has been found during the

[2022-01-05 18:31] khouloudbelguith opened #27229 "FO - The way of specific price which applied in the cart is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-01-05 18:33] Robin-Fischer-PS commented on #26969
Thanks @Progi1984 ! Test campaign is now ready, we will start it tomorrow :)

[2022-01-05 18:36] khouloudbelguith opened #27230 "BO - Retail price & price per unit (tax included) are converted when applying the tax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-01-05 18:45] jolelievre commented on #27230
Hi @khouloudbelguith I already created an issue for this one https://github.com/PrestaShop/PrestaShop/issues/27226

I don't care which one is kept, if you think yours is better described then we can close mine

[2022-01-05 18:46] jolelievre commented on #27229
Hi @khouloudbelguith I already created an issue for this one https://github.com/PrestaShop/PrestaShop/issues/27226

I don't care which one is kept, if you think yours is better described then we can close mine

[2022-01-05 18:47] #19620 closed, assigned to nobody

[2022-01-05 18:47] #12078 closed, assigned to jolelievre

[2022-01-05 18:52] ersanjay5991 opened #27231 "why pin code formate show invalid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-05 19:10] ocio87 opened #27232 "Slowness in orders - orders when all stores are selected in Multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I have just configured the

[2022-01-05 19:50] #25587 closed, assigned to nobody

[2022-01-05 20:39] Hlavtox commented on #9693
This works as intended, the same as https://github.com/PrestaShop/PrestaShop/issues/10122 - it's by design since the beginning of times, and it's like that in all ecommerce systems that I know of.

- If you disable the guest account, it gets indeed disabled, but it has no effect because you cannot log in as a guest, unless you convert it as a customer.
- Customer can order again under same email,

[2022-01-05 22:25] Hlavtox commented on #27232
Can you try to enable debug profilling in cofing/defines.inc.php? It will display all statistics at the end of each page and you can see exactly the timings of each DB query. That could help debug it.

[2022-01-05 22:33] Hlavtox commented on #20564
Any update pls? If anyone fixes this, we will finally have gifts working after several years. Pleaseeeeee 🙏.
@matthieu-rolland @jolelievre

[2022-01-05 23:01] kpodemski commented on #27172
Can't we just change the license for the Classic? ;-) Work needed for the described situation has more cons than pros IMHO.

@PierreRambaud

how can functional tests not be related to the theme? 🤔  the theme is highly coupled to the PrestaShop core and its all core features, right? I think e2e campaigns tests adding to cart, etc. right? You even write:

[2022-01-06 07:21] hibatallahAouadni commented on #27232
Hello @ocio87

Could you please follow @Hlavtox instructions and make a screenshot.
Please check and feedback.

PS: thanks @Hlavtox for your quick reply 🚀

Thanks!

[2022-01-06 07:33] jf-viguier commented on #20564
I agree with you Hlavtox

[2022-01-06 09:06] eternoendless commented on #27172
Long story short: no.

We still need to move classic out regardless, because it's going to be replaced by another theme. The question perhaps should be more about whether it's practical to have the theme as an independent package just yet.

[2022-01-06 09:14] atomiix commented on #27040
Reopened, will be effectively done when the module will be released

[2022-01-06 09:20] hibatallahAouadni commented on #27231
Hello @ersanjay5991

You need to add space between 380 015, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/148359672-d529987b-5406-4f6c-b272-9bbfe6a10428.png)

Closing this issue as it's not a Core bug.

Thanks!

[2022-01-06 09:20] #27231 closed, assigned to nobody

[2022-01-06 09:28] hibatallahAouadni commented on #26895
Duplicate of #27056

[2022-01-06 09:32] hibatallahAouadni commented on #27016
Hello @Sinpery99

Glad to hear :tada: But it seems more related to some overrides.
Closing this issue :wink:

Thanks!

[2022-01-06 09:32] #27016 closed, assigned to nobody

[2022-01-06 09:39] Progi1984 commented on #26767
@eternoendless It's done :muscle:

Thanks @Kaudaj @jf-viguier & @nenes25

[2022-01-06 09:39] #26767 closed, assigned to Progi1984

[2022-01-06 09:44] hibatallahAouadni commented on #27158
Hello @jf-viguier

Even when I disable carrier out-of-range, still can't reproduce the issue:

https://watch.screencastify.com/v/7q0Gr0F2xIqjc6RrnkEX

Please check and feedback.
Thanks!

[2022-01-06 10:12] atomiix commented on #27130
@HanaRebaiQA this will be solved when the new version of productcomments & ps_shoppingcart will be released. In the meantime, if you disable the dev mode, this issue should not happen.

[2022-01-06 10:25] Progi1984 commented on #25831
@hibatallahAouadni Could you check if the issue is always present ?

[2022-01-06 10:34] marwachelly commented on #27154
Hello,

I didn't manage to reproduce the issue with 1.7.8.3. It seems that it was a permission issue.

Thanks,

[2022-01-06 10:34] #27154 closed, assigned to nobody

[2022-01-06 10:46] rsoulard-prolaser opened #27235 "BO - Customer view page - error when using `actionCustomerGridQueryBuilderModifier` hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error occurson Customer view pag

[2022-01-06 10:50] hibatallahAouadni commented on #27148
Hello @hadran9

Thanks for the clarification :pray:
I reproduce the issue with PS1778 and PS1782, see the attached screen record below:

https://watch.screencastify.com/v/JWz2Rzqfc632IT6Ug2tL

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you

[2022-01-06 11:04] atomiix opened #27237 "An exception is thrown when adding a Menu thumbnails image in Sell > Catalog > Categories > edit"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I edit a category and I try to

[2022-01-06 11:13] devphoenix2404 opened #27238 "Facing issue while deployment"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi Team,

I'm not able to deploy th

[2022-01-06 11:16] hibatallahAouadni commented on #27180
Hello @Guisardo

I see what you mean, but could you please answer these questions :pray:

- Did you use the multistore context? if so, check this issue #9664
- Did you override some files concern products or combinations?
- Did you use any third module that may have an impact on combinations?

Please check and feedback.

Thanks!

[2022-01-06 11:17] hibatallahAouadni commented on #27169
Hello @AimSai59

Could you please provide a screen record to understand better the issue :pray:
Waiting for your feedback.

Thanks!

[2022-01-06 11:26] hibatallahAouadni commented on #27229
Duplicate of #27226

[2022-01-06 11:26] #27229 closed, assigned to nobody

[2022-01-06 11:30] hibatallahAouadni commented on #27164
Hello @fangdajiang

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement t

[2022-01-06 11:36] hibatallahAouadni commented on #27226
@jolelievre is it a regression?

[2022-01-06 12:15] Hlavtox commented on #23533
@kpodemski @tswfi @lmeyer1 @jf-viguier

Guys, is it something you also went across? I would like to spec it up and implement. All big players like eBay do it like this. 👍

It's not gonna be difficult:
- One extra option in selectbox on product edit page.
- One option to PS settings to select default behavior - Do you want 404 or keep it displayed?
- Small ProductController modification and templat

[2022-01-06 12:55] TonySerpofski opened #27239 "No visits are being recorded in back-office main page (Online Visitors)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i click on the Online Visitors

[2022-01-06 12:58] #23116 closed, assigned to Hlavtox, TristanLDD

[2022-01-06 13:30] khouloudbelguith opened #27243 "BO - When the menu is resized, the header of migrated pages is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Migrated page > when th

[2022-01-06 13:52] saulaski opened #27244 "BO - Client details template is broken"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Any client details page throws an e

[2022-01-06 13:57] tegbessou opened #27245 "[EPIC] Horizontal migration"
### Description
We want to be able to migrate layers (Controller, rendering...) horizontally instead of having to migrate a page completely before going into production

### Article
If you follow this link, you can find an article to explain what is exactly [Horizontal migration](https://github.com/PrestaShop/prestashop.github.io/pull/1020)

### PR List
- [x]  [POC Horizontal migration](https://gi

[2022-01-06 14:06] saulaski commented on #27244
Duplicates of #27119

[2022-01-06 14:16] MatShir commented on #23533
It would be interesting to find a way when the product is unavailable to highlight the cross-selling/upselling/related product modules

[2022-01-06 14:22] Sybrenb opened #27248 "How can I send notification after order to different adresses."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-06 14:24] hibatallahAouadni commented on #27244
Duplicate of #27119

[2022-01-06 14:24] #27244 closed, assigned to nobody

[2022-01-06 14:25] jf-viguier commented on #27158
@hibatallahAouadni your carrier is set by weight and the hook by price : please hook to actionDeliveryPriceByWeight.
It seems that ranges has to be set to have the bug: it's ok in your test, I will had it in issue desc.

[2022-01-06 14:25] khouloudbelguith opened #27249 "BO - The color picker by default is black"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The color picker by default is blac

[2022-01-06 14:26] Hlavtox commented on #23533
Yes, but I think we could do it as a module, if people want. See my solution. :-) But for the base, I think the message could be enough.

![www dobracena cz_plynove-grily_930567-gril-campingaz-4-series-onyx-s-3138522119294 html_adtoken=3c4d2f05bc8887fcfad31a62bc30d767 ad=id_product id_employee=4 preview=1](https://user-images.githubusercontent.com/6097524/148397838-a11c155c-2091-40ab-bd8b-c0c03c34

[2022-01-06 14:30] hibatallahAouadni commented on #27239
Hello @BettyNutz

Could you please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/15937#issuecomment-541790143) :pray:
As you can see we didn't manage to reproduce the issue.

Thanks!

[2022-01-06 14:36] BettyNutz commented on #27239
Thanks for the reply - I reset it 'dashactivity' and it made no difference. can i reinstall a module to sort it?

[2022-01-06 14:40] MatShir commented on #23533
Thanks now, I want a BQQ ! Yes, you are right, then it would be the theme or module dev to bring customization.

[2022-01-06 14:44] ocio87 commented on #27232
Hello,

Query with all stores:

![image](https://user-images.githubusercontent.com/12537826/148399450-993d515c-29b7-4cf1-9b71-4bd9db6ff768.png)

  CONCAT(
    cu.`firstname`, ' ', cu.`lastname`
  ) AS `customer`,
  o.id_order,
  o.reference,
  o.total_paid_tax_incl,
  os.paid,
  osl.name AS osname,
  o.id_currency,
  cur.iso_code,
  o.current_state,
  o.id_customer,
  cu.`id_customer` IS NULL as `

[2022-01-06 14:56] Hlavtox commented on #27232
@ocio87 Do you think you can try this?
- Open: `\src\Core\Grid\Query\OrderQueryBuilder.php` and find `public function getSearchQueryBuilder(SearchCriteriaInterface $searchCriteria)`
- Comment out `$this->addNewCustomerField($qb);` and add this above to the select? `->addSelect('1 as new')`

[2022-01-06 14:57] PrestaEdit commented on #27213
Pr available and merged: https://github.com/PrestaShop/statssearch/pull/13

[2022-01-06 14:59] PrestaEdit commented on #27212
PR available and merged: https://github.com/PrestaShop/statssales/pull/26

[2022-01-06 15:00] hibatallahAouadni commented on #27248
Hello @Sybrenb

If you're asking to add new feature in PrestaShop, then your issue is duplicate of #23745
To be informed when it's fixed, please subscribe to the issue mentioned above.

Otherwise, ifyou have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you

[2022-01-06 15:00] #27248 closed, assigned to nobody

[2022-01-06 15:00] PrestaEdit commented on #27210
PR available and merged: https://github.com/PrestaShop/statscatalog/pull/22

[2022-01-06 15:01] PrestaEdit commented on #27208
PR available and merged: https://github.com/PrestaShop/statspersonalinfos/pull/16

[2022-01-06 15:02] PrestaEdit commented on #27207
PR available and merged: https://github.com/PrestaShop/statsproduct/pull/27

[2022-01-06 15:03] PrestaEdit commented on #27206
PR available and merged: https://github.com/PrestaShop/pagesnotfound/pull/18

[2022-01-06 15:04] PrestaEdit commented on #27203
PR available and merged: https://github.com/PrestaShop/statsnewsletter/pull/11

[2022-01-06 15:04] PrestaEdit commented on #27202
PR available: https://github.com/PrestaShop/statsbestcustomers/pull/23

[2022-01-06 15:04] PrestaEdit commented on #27201
PR available and merged: https://github.com/PrestaShop/statsbestcategories/pull/13

[2022-01-06 15:05] PrestaEdit commented on #27200
PR available and merged: https://github.com/PrestaShop/statsbestmanufacturers/pull/11

[2022-01-06 15:05] PrestaEdit commented on #27199
PR available: https://github.com/PrestaShop/statsstock/pull/18

[2022-01-06 15:06] Sybrenb commented on #23745
Is it possible to change the e-mail on which the notification arrives after the order when the user chooses to pick up or delivery?

I've downloaded the mail alerts plug-in but I can only add a line of e-mails to where the notifications will send after an order, but I want the system to send an email to (for example) test@test.com when the user chooses to pickup and example@example.com when he cho

[2022-01-06 15:06] PrestaEdit commented on #27198
PR available and merged: https://github.com/PrestaShop/statscheckup/pull/19

[2022-01-06 15:06] saulaski commented on #25237
Cannot reproduce the issue in hotfix branch 1.7.8.X.

FO -Vouchers list is OK
![image](https://user-images.githubusercontent.com/97030953/148403232-6f5babbc-6059-4780-bcc0-1aa5a7f7d282.png)

BO - Client vouchers are visible
![image](https://user-images.githubusercontent.com/97030953/148403791-c1a6d4ec-f15f-4623-9630-f6eb9389fefe.png)

BO - Vouchers list is OK
![image](https://user-images.githubuse

[2022-01-06 15:07] ocio87 commented on #27232
You are the best, with that change the consultation improved.

![image](https://user-images.githubusercontent.com/12537826/148403786-d48e31cb-018c-4977-9afd-45b087cfd0da.png)

[2022-01-06 15:07] PrestaEdit commented on #27197
PR available and merged: https://github.com/PrestaShop/statscarrier/pull/10

[2022-01-06 15:07] PrestaEdit commented on #27196
PR available and merged: https://github.com/PrestaShop/statsbestproducts/pull/12

[2022-01-06 15:08] PrestaEdit commented on #27195
PR available and merged; https://github.com/PrestaShop/statsbestvouchers/pull/12

[2022-01-06 15:08] PrestaEdit commented on #27194
PR available and merged: https://github.com/PrestaShop/statsbestsuppliers/pull/11

[2022-01-06 15:16] Hlavtox commented on #27232
So, now we must investigate, how to get the "new client" information faster :D

[2022-01-06 15:43] ocio87 commented on #27232
You're right, after the change the client column everything remained in Yes.

![image](https://user-images.githubusercontent.com/12537826/148409217-8750c45f-bcde-4b19-8cfa-6bb887984800.png)

[2022-01-06 15:43] Hlavtox commented on #27232
@ocio87 Try one more thing.

- Go back to `\src\Core\Grid\Query\OrderQueryBuilder.php` and put it back to what it was.
- Find `$qb->addSelect('(' . $this->getNewCustomerSubSelect() . ') AS new');` and change it to `$qb->addSelect('IF((SELECT so.id_order FROM ps_orders so WHERE (so.id_customer = o.id_customer) AND (so.id_order < o.id_order) LIMIT 1) IS NOT NULL, 0, 1) AS new');`

We will see if the

[2022-01-06 15:49] ocio87 commented on #27232
It Works very well.

![image](https://user-images.githubusercontent.com/12537826/148410145-92dbed4b-a590-4a45-bb23-3cad7f524b8a.png)

![image](https://user-images.githubusercontent.com/12537826/148410306-a780f708-95eb-4ca6-9dfa-6febc139ae16.png)

[2022-01-06 16:05] Progi1984 commented on #27026
Fixed by @jolelievre in #27193

[2022-01-06 16:05] #27026 closed, assigned to jolelievre

[2022-01-06 16:16] Progi1984 commented on #26618
@NeOMakinG : Could you check it ?

[2022-01-06 16:21] Progi1984 commented on #26642
@NeOMakinG Could you check this issue ?

[2022-01-06 16:29] Progi1984 commented on #26694
@marwachelly It seems it's not a bug anymore. As discussed with @NeOMakinG, it has been redesigned in version 1780 with the style of the UI Kit : https://build.prestashop.com/prestashop-ui-kit/?path=/story/forms--switch-story.

[2022-01-06 16:33] Progi1984 commented on #26779
@NeOMakinG Could you check this issue ?

[2022-01-06 16:35] Progi1984 commented on #26796
@NeOMakinG Could you check this issue ?

[2022-01-06 16:37] #27136 closed, assigned to NeOMakinG

[2022-01-06 16:38] saulaski commented on #25237
Cannot reproduce either in develop and 1.7.7.x

[2022-01-06 16:43] viktormalka opened #27251 "Stock Management in Multi-store shows copy of products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

We are facing some issues in t

[2022-01-06 16:56] hibatallahAouadni commented on #25237
Hello @saulaski

Thanks for your testing :pray:
It seems the issue has been fixed cause I didn't manage to reproduce on PS1778.
Closing the issue :tada:

Thanks!

[2022-01-06 16:56] #25237 closed, assigned to nobody

[2022-01-06 16:59] hibatallahAouadni commented on #27238
Hello @devphoenix2404

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-core-developers can someone please reproduce the issue :pray:

Thanks in advance!

[2022-01-06 17:00] khouloudbelguith opened #27252 "FO - Productcomments - Grade is not displayed in the Product list page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > Product list page > the

[2022-01-06 17:31] hibatallahAouadni commented on #27232
Thanks @Hlavtox for all you replies :muscle: waiting for your PR :rocket:
@ocio87 did you encounter this issue with older version?

[2022-01-06 17:35] hibatallahAouadni commented on #27203
@PrestaEdit thanks for the tip :wink: and the PR :rocket:

[2022-01-06 17:35] #27203 closed, assigned to nobody

[2022-01-06 17:37] hibatallahAouadni commented on #27206
@PrestaEdit thanks for the PR :muscle:

[2022-01-06 17:37] #27206 closed, assigned to nobody

[2022-01-06 17:38] hibatallahAouadni commented on #27207
@PrestaEdit Thanks for the PR :superhero:

[2022-01-06 17:38] #27207 closed, assigned to nobody

[2022-01-06 17:43] hibatallahAouadni commented on #27208
@PrestaEdit thanks for the tip :wink:
@PierreRambaud thanks for the PR :rocket:

[2022-01-06 17:43] #27208 closed, assigned to nobody

[2022-01-06 17:57] hibatallahAouadni commented on #27158
Hello @jf-viguier

Thanks for the tip :rocket:
I reproduce the issue with PS1782, see the attached screen record below:

https://watch.screencastify.com/v/rpvVAcB2ReYYFtB6ZmKl

I’ll add this to the debug backlog so that it’s fixed. Thanks for the PR :superhero:

Thank you

[2022-01-06 17:57] Guisardo commented on #27180
Hi @hibatallahAouadni
Sure, the answers for that are:
* No multistore is set on my store
* No overrides at the products nor at combinations files
* No modules installed that are related to the combinations (Although the PageSpeed is technically a Google module but for all that is under the Apache server https://developers.google.com/speed/pagespeed/module)

Thanks for the support!
Best

[2022-01-06 18:05] hibatallahAouadni commented on #25831
@Progi1984 @jolelievre Indeed it should be closed as Fixed, but it seems the issue-bot is off :sweat_smile:
No need to check on @khouloudbelguith QA, I trust her :grin:

[2022-01-06 18:14] hibatallahAouadni commented on #25831
@jolelievre the search doesn't work :disappointed: see the attached screen record below:

https://watch.screencastify.com/v/iknTds3Rko0epG0lxyPe

[2022-01-06 18:37] hibatallahAouadni commented on #27235
Hello @rsoulard-prolaser

Thanks for reporting the issue and creating the PR :rocket:
I reproduce the issue with PS1782, see the attached screen record below:

https://watch.screencastify.com/v/QaABbgbs3YzJ4tDrEua4

As you can see I didn't reproduce the issue with PS1778, so it's a regression!
I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-01-06 18:41] hibatallahAouadni commented on #23394
Ping @kpodemski is this issue duplicate of #27235 ?

[2022-01-06 18:55] jf-viguier commented on #27158
PR that added the hooks https://github.com/PrestaShop/PrestaShop/pull/2390

[2022-01-06 18:59] gs2k84 opened #27254 "Adding "getPriceStatic" download option to prestashop API"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-06 19:12] ersanjay5991 commented on #27231
@hibatallahAouadni   thanks for the answer.

I can't move to the next screen  see this error
![image](https://user-images.githubusercontent.com/39982842/148437721-38426e8c-c3da-4ddb-8661-50d14254cdde.png)

[2022-01-06 19:18] ersanjay5991 commented on #15347
@khouloudbelguith

[2022-01-06 19:22] ocio87 commented on #27232
Hello @hibatallahAouadni ,

I don't know, I'm just starting to enable multistore to the site that has been in place since version 1.5.x.

He hadn't had the need to enable.

[2022-01-06 21:09] matks commented on #21261
Assigned to @Amoifr

[2022-01-06 21:09] matks commented on #18008
Assigned to @Amoifr

[2022-01-07 08:07] HanaRebaiQA opened #27256 "BO - Bad display in Stats page when resizing screen and open Help menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display in `Stats` page when re

[2022-01-07 08:36] HanaRebaiQA opened #27258 "BO - Bad display in the list items of langages in Wording block of blockwishlist module with RTL enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display in the list items of la

[2022-01-07 09:01] prestascott commented on #27168
Hello everyone,

Thank you @mparvazi for your request. I know that the navigation drawer might seem a little bit old with its design, and it won't be bad if it gets a quick redesign haha.

What you've done is pretty nice and it saves space, but I think that we can do it more simply by removing the dividers.

Here is my design proposition:
![Navigation drawer](https://user-images.githubusercontent.

[2022-01-07 09:06] mparvazi commented on #27168
@prestascott Your design is much better and trendy!

I thought the divider line must be there.

[2022-01-07 09:39] HanaRebaiQA commented on #27254
Hello @gs2k84

Thanks for your suggestion.
Could you please provide us more infomations about this feature ? It's emplacement ? The impact ? screenshots ?

Thanks!

[2022-01-07 10:04] mparvazi commented on #27168
@prestascott

In RTL languages `text-transform: uppercase` doesn't make any effects for category titles, because there is not uppercase characters for RTL!

So if we remove divider lines, does it looks good to you?

<img src="https://user-images.githubusercontent.com/85633460/148527118-5b6d89a3-d4a7-4eb7-841d-ba1650fb0ec2.png" width="200">

[2022-01-07 10:29] HanaRebaiQA commented on #27251
Hello @viktormalka

I did not manage to reproduce your issue with PS1777 & PS1778

[2022-01-07 10:38] HanaRebaiQA commented on #27251
Hello @viktormalka

I did not manage to reproduce your issue with PS1777, PS1778
https://watch.screencastify.com/v/MsD62Mama4TYlBLa19Vu

Please check and feedback?

Thanks!

[2022-01-07 10:38] prestascott commented on #27168
Yep, it's fine to me :thumbsup:

[2022-01-07 10:49] Progi1984 commented on #10628
Assigned to me & Friends of Presta

[2022-01-07 11:05] babyewok commented on #26962
Hey, so I enabled the intl extension, reinstated the backed-up 1.7.7.3 database and now get this on running upgrade.php

This page contains the following errors:
error on line 215 at column 1: Extra content at the end of the document
Below is a rendering of the page up to the first error.

I can't copy and paste the rest so have attached a screenshot

😢 😢 😢 😢 losing the will....
![wolf-localhost-i

[2022-01-07 11:08] serracol commented on #9690
Dear community, any updates on this issue? This is really affecting our business and its forcing us to explore other eCommerce alternatives.
We have over 20.000 products and the checkout process takes about 25 seconds, and this is really not an option.

Please any ideas? Im worried that this has be arround since 2018...

[2022-01-07 11:11] serracol commented on #14703
Dear community, any updates on this issue? This is really affecting our business and its forcing us to explore other eCommerce alternatives.
We have over 20.000 products and the checkout process takes about 35 seconds, and this is really not an option.

Please any ideas? Im worried that this has be arround since 2018...

[2022-01-07 11:17] humanoidvani commented on #14703
Stupid quick OT question: Do you have Cache enabled? If yes, turn it of

![image](https://user-images.githubusercontent.com/1029684/148536269-9431f9fe-d2e4-4267-808d-a864da429c13.png)

[2022-01-07 11:24] khouloudbelguith opened #27261 "FO - RTL - Bad display after an upgrade from PS1778 to PS1.7.8.3build1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from PS1778 to PS1

[2022-01-07 11:27] serracol commented on #14703
Thanks for your reply. We have disable cache and the result is the same... 25 seconds to validate order...

[2022-01-07 11:38] humanoidvani commented on #14703
Did you tried what I previously posted? The SQL update? We’re going ok
after that.

pá 7. 1. 2022 v 19:27 odesílatel serracol ***@***.***> napsal:

[2022-01-07 11:42] serracol commented on #14703
Could you please point me in the right direction, where can I find that query?

[2022-01-07 11:43] serracol commented on #14703
Could you please point me in the right direction... where can I finde that query?
Thanks in advance,

[2022-01-07 11:53] humanoidvani commented on #14703
As I remember it was at StockManager.php

pá 7. 1. 2022 v 19:43 odesílatel serracol ***@***.***> napsal:

[2022-01-07 11:53] serracol commented on #14703
I did change the file StockManager.php like this:

        $updatePhysicalQuantityQuery = '
            UPDATE {table_prefix}stock_available sa
            SET sa.physical_quantity = sa.quantity + sa.reserved_quantity
            WHERE sa.id_shop = ' . (int) $shopId . ' && sa.reserved_quantity != 0

        ';

But the result is the same... am I missing something?

[2022-01-07 12:15] jolelievre opened #27262 "MultiShop: the values in product table are always the latest updated they do not match the ones from default shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm not sure if this is the expecte

[2022-01-07 12:38] madsoliver opened #27263 "Extend the search with categories, brands, availability etc."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-07 12:46] Hlavtox commented on #27263
![search](https://user-images.githubusercontent.com/6097524/148546089-4b551d1c-7907-4a05-be90-b899b9329c8e.png)

[2022-01-07 12:52] Hlavtox commented on #26796
@NeOMakinG @mparvazi Cannot we dump the aftermarket spinner and just use pure HTML number input? It will be better adapted to every device/OS and unified with the system.

[2022-01-07 12:55] matks commented on #27164
Thank you for the offer, but we don't promote any deployment solution and it does not meet the needs of this project.

Have a nice day.

[2022-01-07 12:55] #27164 closed, assigned to nobody

[2022-01-07 12:59] mparvazi commented on #26796
@Hlavtox
I didn't know about that trick, can you please make an example?

[2022-01-07 13:03] Hlavtox commented on #26796
It's no trick, but just do simple `<input type="number">`. Why add another arrows and try to hide the originals by CSS hacks?

https://codepen.io/hlavtox/pen/dyVjdLx

[2022-01-07 13:08] NeOMakinG commented on #27261
If it's only on upgrade, it's probably not about front-end but Autoupgrade module

[2022-01-07 13:10] NeOMakinG commented on #26796
@jolelievre What's the reason behind the number component?

[2022-01-07 13:11] NeOMakinG commented on #27168
@mparvazi do you want to take a look or should I take it right now? :)

[2022-01-07 13:23] Hlavtox opened #27264 "Add support for AVIF images"
New image format even better than webP is starting to break through.
Prestashop missed the train with previous one by 10 years, but that does not mean we can't catch up with the world. :-)

### Don't know what is it? - READ
- https://web.dev/compress-images-avif/
- https://www.finally.agency/blog/what-is-avif-image-format
- https://en.wikipedia.org/wiki/AVIF
- https://caniuse.com/avif

### How to

[2022-01-07 13:25] matks commented on #27264
https://caniuse.com/avif

[2022-01-07 13:33] NeOMakinG commented on #27264
Chromium support it, but the `picture` element will act as a callback for browsers not supporting it!

[2022-01-07 13:34] NeOMakinG commented on #27264
We waited for years to have the webp support, let's catch this one asap, picture element is here to deal with it, 100% agree here

[2022-01-07 13:36] mparvazi commented on #26796
@Hlavtox

IMO the purpose of using CSS to redesign elements is to have the same appearance across devices/OS.
As like as Checkbox, Button, ...

In Firefox spin buttons will be displayed always (Blur, Focus, Hover)
In Chrome just will be displayed in Focus and Hover.

[2022-01-07 13:38] NeOMakinG commented on #26796
Yeah but I think it would be more maintainable to have default component used on such fields, without bugs, but maybe there is another reason behind this component that we aren't aware of, this is why I asked to @jolelievre

[2022-01-07 13:43] matks commented on #25331
AFAIK ps_eventbus is a module built by PrestaShop extension (a.k.a modules) team

the module was being pushed during install process into new shops and was faulty, breaking shop installs

the team fixed the module so install issue disappeared

note: in next prestashop version no modules will be pushed during install, so such issues will never happen again

[2022-01-07 13:46] jolelievre commented on #25831
Hi @hibatallahAouadni

I think it's what we want it depends on what other files you may have, if you already selected the two files that match with "file" then there is no other possibility left. The files already selected are filtered from the response to avoid selecting them twice.

[2022-01-07 13:52] mparvazi commented on #26796
OK, as a tip:
Safari doesn't display spin buttons by default, forces the user to enter number manually.

[2022-01-07 14:00] jolelievre commented on #26796
I don't know it's on the stock page I didn't work on this one

That said we encountered a similar bug with the delta quantity input on the new product page (only the one in the list since it's the only one which has this submit button). All I did was adding an offset to the arrows so that they are not displayed behind the button.

https://github.com/PrestaShop/PrestaShop/blob/542a991f647372fb06119

[2022-01-07 14:03] khouloudbelguith opened #27265 "The Logo of PDFs are NOK with RTL lanaguage"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When downloading PDFs with RTL lang

[2022-01-07 14:19] hibatallahAouadni commented on #27168
@mparvazi I think it's not Great to have these Menu like that:

![image](https://user-images.githubusercontent.com/23308427/148556789-3a29b399-8458-4065-b35a-55d5f3bbbeea.png)

I think it will be better if we make it blod, wdyt? cause like you said in RTL, `text-transform: uppercase` doesn't make any effects.

[2022-01-07 14:23] matks commented on #27261
Let's see what's inside

[2022-01-07 14:26] hibatallahAouadni commented on #27232
Ping @PrestaShop/prestashop-core-developers could someone please verified this issue :pray:
Thanks in advance!

[2022-01-07 14:28] mparvazi commented on #27168
Hello @hibatallahAouadni
I agree with you 👍
But in current font-face for RTL there is a mistake in Bold variant definition.
So using `font-weight: bold` doesn't work here!
Wait until this [PR](https://github.com/PrestaShop/PrestaShop/pull/26700) has merged.
I'll fix it.
Don't worry 😉

[2022-01-07 14:29] Hlavtox commented on #27232
@atomiix You worked on the last PR. Do you think you could implement my solution properly?

[2022-01-07 14:31] HanaRebaiQA commented on #27264
Hello @Hlavtox

Thanks for your suggestion. The Product Team will take it into consideration for future developments.
Waiting for the linked PR.
@matks , @NeOMakinG : Can we change it as Ready ?

Thank You!

[2022-01-07 14:36] HanaRebaiQA commented on #27263
Hello @onklmaps

Thanks for your suggestion.
Can you please provide us more informations about this feature ? screenshots of the expected behavior ?

Thank you!

[2022-01-07 15:06] khouloudbelguith opened #27266 "BO - Bad display In some modals"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO, we have a bad display of

[2022-01-07 15:11] NeOMakinG commented on #27266
Probably due to the header calculation removed...

[2022-01-07 15:17] PululuK opened #27267 "Add product link in order preview"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-07 15:59] lthienard opened #27270 "Freeshipping Error 500 on certain products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

For a few days when I put a fr

[2022-01-07 16:04] onklmaps commented on #27263
@Hlavtoxs screenshot above is perfect 👌

[2022-01-07 16:11] Hlavtox commented on #27266
@NeOMakinG Easiest would be to not render these 4 divs at all. Aaaand I missed that useless row/col in my cleaning.
![Výstřižek](https://user-images.githubusercontent.com/6097524/148572189-c60ddcc1-1b13-4e25-b0a5-e88ffa5d078b.JPG)

[2022-01-07 16:20] LocalHeroPro opened #27272 "Fetching addresses, customers returning only fetched attribute ID"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Downloading customers by ID returni

[2022-01-07 16:24] hibatallahAouadni commented on #27263
Hello @onklmaps

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2022-01-07 16:28] hibatallahAouadni commented on #27267
Hello @PululuK

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2022-01-07 16:45] khouloudbelguith commented on #27218
Hi @momo1240,

I manage to reproduce the issue after an upgrade from PS1778 to PS1783build1
![image](https://user-images.githubusercontent.com/16067358/148576817-0d323720-563d-4bca-885e-077308f7f0e5.png)
It was fixed in the PS1780 with this issue: https://github.com/PrestaShop/PrestaShop/issues/21206
But not fixed after an upgrade

I'll add this to the debug backlog so that it's fixed.

Please be

[2022-01-07 17:14] PululuK opened #27274 "Add possibility to edit customers cart from BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-07 19:09] davidglezz commented on #27186
I would like that we stop using it in BO and FO

[2022-01-07 19:44] hibatallahAouadni opened #27277 "[BO - Responsive] - bad footer display on cart rule page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you try to edit a cart rule, y

[2022-01-07 19:57] rickygzz opened #27278 "Product description on large screens"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product description block, on large

[2022-01-07 20:39] matks commented on #27261
So ... it is possible a bigger issue is hiding behind this bug report.

I compare 2 shops:
- one 1.7.8.x, so homepage looks fine
- one 1.7.7.8 => 1.7.8.3 upgrade, indeed homepage looks wrong with RTL

But on my 1.7.8.x shop, no RTL css is loaded.

If I follow these steps:
- install a branch using 1.7.8.x branch
- download language pack that contains Arabic language
- go to FO, switch language to A

[2022-01-08 09:44] lthienard commented on #25701
To be able to add or edit products to an order, the order must not be considered as validated, therefore no order statuses with this status.

Table: ps_order_history and ps_order: valid = 0

[2022-01-08 11:42] lthienard commented on #27270
Fixed by EMPTY all table ps_cart_*

[2022-01-08 11:42] #27270 closed, assigned to nobody

[2022-01-08 11:45] #27181 closed, assigned to nobody

[2022-01-08 12:45] jak78 commented on #26599
My pull request won’t fix this issue properly.

[2022-01-08 16:15] Natalia919 opened #27280 "Category description issue for multilanguage shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is not possible to add catego

[2022-01-08 16:20] lthienard opened #27281 "Error 500 on POST delivery-settings with Cart Rule Category and FreeShipping Checked on order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

If I have a cart rule that

[2022-01-09 11:06] LollipopAdmin commented on #27016
Hey Guys,

I had exactly the same problem on PS 1.7.8.0 with wishlist module 2.0.1: Same product displayed 2 or 3 times in the wishlist page. Shouldn't this piece of code (as suggested by @Sinpery99 ) corrected in an upgraded version of the wishlist module?
By the way I also noticed that the Block ishlist module in the AddOns site is only supported until 1.7.6.0 so maybe that explains too...

Bloc

[2022-01-09 11:13] LollipopAdmin commented on #27016
It tried in my test environment and it indeed fixed the bug !!! Still what will happen at next upgrade of the environment or the module?
Tks for follow up...

[2022-01-09 12:12] NeOMakinG commented on #26599
Np, atleast you tried!

We investigated with @Hlavtox and we think that the best solution would be to use the `picture` element with `srcset` so every pictures will adapt depending on the browser and the viewport

[2022-01-09 14:17] BettyNutz commented on #27239
i have a new version of PS 1.7.8.2 loaded up on wamp. can anyone tell me what module is associated with login visits?

**statsdata** or **statscheckup** or **statspersonalinfos** - i'll compare the files. Maybe ones missing

[2022-01-09 15:06] 01park opened #27282 "PrestaShopBundle\Entity\ShopGroup - PrestaShopBundle\Entity\Shop entities mapping error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On debug mode I am getting two inva

[2022-01-09 16:48] dewced opened #27284 "Debug mode breaks frontend"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I enable debug mode, the front

[2022-01-09 17:33] kpodemski commented on #27284
This notice is not related to the PrestaShop core, but to the module/theme you use. You should contact the theme author.

[2022-01-09 17:53] dewced commented on #27284
Oh ok. I'm sorry, will close this issue. Thanks for reply!

[2022-01-09 17:53] #27284 closed, assigned to nobody

[2022-01-09 20:54] mparvazi commented on #27051
Problem:

`vendor/symfony/symfony/src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php`

![symfony](https://user-images.githubusercontent.com/85633460/148698756-150eccb0-021c-4f78-ba96-ac5bdc9b05a7.png)

When shop language is RTL, the numerical digits for currency are in the form of Unicode: `۱۲۳ `

‌And preg_match try to find ASCII digits (i.e. `123`)

`preg_match('/^([^\s\xc2\xa0]*)[\s\x

[2022-01-10 07:10] #26656 closed, assigned to nobody

[2022-01-10 08:40] hibatallahAouadni commented on #27274
Hello @PululuK

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-01-10 08:41] matks opened #27286 "Switch to RTL language on FO is broken"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Switch to RTL language on FO is bro

[2022-01-10 08:43] matks commented on #27261
Confirmed:

- Switch to RTL language on FO is broken - see #27286
- I think also the RTL CSS is broken which is why we have the bad display above, but this cannot be verified before #27286 has been fixed

[2022-01-10 09:51] #27282 closed, assigned to nobody

[2022-01-10 09:52] hibatallahAouadni commented on #27282
Duplicate of #27218

[2022-01-10 10:02] matks commented on #27286
Same with 1.7.8.3-build.1

1. Open 1.7.8.x installer, choose French language.
2. After install complete, go to back office and install language "United Arab Emirates" pack that contains arabic language اللغة العربية
3. Go to FO, it's in French.
4. Switch the FO language to arabic language اللغة العربية
5. See the issues
- some wordings are correctly translated to Arabic
- but it's not right-to-lef

[2022-01-10 10:06] hibatallahAouadni commented on #27272
Hello @LocalHeroPro

Could you please provide clear and concise steps to reproduce.
Waiting for your feedback.

Thanks!

[2022-01-10 10:09] hibatallahAouadni commented on #27278
Hello @rickygzz

This issue seems a feature and a good one more than a bug.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR 🚀

Thank you

[2022-01-10 10:18] matks commented on #27286
As found by @khouloudbelguith this is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/17247

[2022-01-10 10:18] #27286 closed, assigned to nobody

[2022-01-10 10:27] LocalHeroPro commented on #27272
# Steps to reproduce
1. Create API access, grant all privileges, enable API access, here: /admin/index.php/configure/advanced/webservice-keys/
2. Add in .htaccess that line
[code]
3. Try to fetch data associated with addresses or customers resource. Using display full parameter.
4. Get only ID of that resource, against full resource.

The same code working as expected in 1.7.8.2 v.

[2022-01-10 12:29] NeOMakinG opened #27289 "Add the possibility to disable the RTL generation for a specific theme"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-10 12:30] hibatallahAouadni commented on #27289
Hello @NeOMakinG

Thank you for your suggestion.
Waiting for your PR :wink:

Thank you

[2022-01-10 12:47] hibatallahAouadni opened #27290 "[FO - Responsive] - Bad display of "Forgot your password" in the checkout process"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The link **"Forgot your password"**

[2022-01-10 12:52] hibatallahAouadni commented on #26809
@PrestaShop/prestashop-core-developers I think this issue should be reopened again cause we have another PR to merge, wdyt?

[2022-01-10 12:54] mparvazi commented on #27051
This issue originally is not related to PS.

[2022-01-10 12:54] mparvazi commented on #27051
This issue originally is not related to PS.

[2022-01-10 12:54] #27051 closed, assigned to nobody

[2022-01-10 13:05] SharakPL commented on #11144
Are you kidding? 🤦‍♂️ If keywords no longer serve purpose for SEO then simply don't use it in meta tags. Removing it completely is **very bad idea**. I'd still want to set keywords for the product and load whole list of them on product page as a list of search links. How can I bring back keywords array on my shop?

[2022-01-10 13:05] hibatallahAouadni commented on #27051
Oh I see, hope it will be fixed soon :relaxed:

[2022-01-10 13:09] #27156 closed, assigned to rickygzz

[2022-01-10 13:33] hibatallahAouadni commented on #27280
Hello @Natalia919

I didn't understand the bug, cause in my case I can edit the description in many language:

https://user-images.githubusercontent.com/23308427/148774368-96bddbb7-71a9-4305-b8ee-216aec29c79f.mp4

Did you try to import some categories than you encounter this issue? If so, please provide the file that you try to import, maybe it contains some errors :wink:
Waiting for your feedback

[2022-01-10 14:21] #27128 closed, assigned to nobody

[2022-01-10 14:22] Progi1984 commented on #27243
@MatShir 1783 or 1784 ?

[2022-01-10 14:41] hibatallahAouadni opened #27293 "[EPIC] - RTL"
All issues related to RTL:

### Bugs
- [ ] #9817
- [x] #11571
- [x] #18824
- [ ] #26569
- [x] #27258
- [ ] #25785
- [x] #27807

### Features
- [x] #17247
- [x] #27289

## Fixed

### Bugs
- [x] #26017
- [x] #27261
- [x] #27325
- [x] #27265
- [x] #10258

### Features
- [x] #17862

[2022-01-10 14:48] khouloudbelguith opened #27294 "BO - pagesnotfound module - Bad display in Stats page when resizing screen"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

pagesnotfound - Bad display in Stat

[2022-01-10 14:53] khouloudbelguith commented on #27294
Related to https://github.com/PrestaShop/PrestaShop/issues/27256

[2022-01-10 14:57] khouloudbelguith opened #27295 "BO - pagesnotfound module - Special characters not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO - Stats page > pages not found T

[2022-01-10 15:30] Hlavtox commented on #16627
@alexandrebrubeyonds Man, of course it will not display. Like any other field in Prestashop. 👍

[2022-01-10 15:32] alexandrebrubeyonds commented on #16627
Yes of course. I talk about Prestascott´s proposition to add checkbox or switch

[2022-01-10 15:45] Hlavtox commented on #16627
@alexandrebrubeyonds Yeah, I disagree with Scott's proposition on that. There is no single field in Prestashop that would behave like that. It's clear that if the field is empty, it won't display... 😄

[2022-01-10 16:54] MatShir commented on #27243
1.7.8.3 should be included in the final release of the 1.7.8.3 patch :)

[2022-01-10 16:59] MatShir commented on #26599
@NeOMakinG I have updated the issue solution part, don't hesitate to complete it if needed.
Thanks guys for the investigation 👌

[2022-01-10 17:00] matks commented on #26969
Release blocked by https://github.com/PrestaShop/PrestaShop/issues/27261

[2022-01-10 17:14] #9693 closed, assigned to nobody

[2022-01-10 17:16] fuga00 commented on #9693
why?!

pon., 10 sty 2022, 18:15 użytkownik Mateus ***@***.***>
napisał:

[2022-01-10 17:27] MatShir commented on #27204
And some small B2B business still use check also,
but the module usually requires a low maintenance and helps to detect issue in the checkout process

[2022-01-10 17:30] #26017 closed, assigned to NeOMakinG

[2022-01-10 18:30] hibatallahAouadni commented on #27281
Hello @lthienard

I didn't manage to reproduce the issue with PS1782, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/148819532-e5369c25-b6fb-4bbe-8e2f-5fdf18dad6ed.mp4

Please check and feedback.
Thanks!

[2022-01-10 20:10] mparvazi commented on #17247
WIP 😉

[2022-01-10 20:13] mparvazi commented on #17247
WIP 😉
Will be fixed by theme-refacto for 8.0

[2022-01-10 20:23] mparvazi commented on #17247
WIP 😉

[2022-01-10 21:02] matks commented on #9693
@fuga00 Read the comment from Hlavtox

[2022-01-10 21:19] fuga00 commented on #9693
and? for me disabled account is the same like baning system

pon., 10 sty 2022, 22:02 użytkownik Mathieu Ferment <
***@***.***> napisał:

[2022-01-10 21:31] Hlavtox commented on #9693
@fuga00 It's not bro, but its not difficult if you want it.

First, how do you want to detect the same customer? By his email? By his address? 🤔 What if he just uses another mailbox? Think this through.

Then it's just a matter of hooking somewhere to the registration process and comparing, if some of the info matches your blacklist. I could help you with that. 👍

[2022-01-10 21:34] fuga00 commented on #9693
then what is the point of admin disabling an account?

pon., 10 sty 2022 o 22:31 Daniel Hlavacek ***@***.***>
napisał(a):

[2022-01-11 00:45] seederp2p opened #27298 "ps_stock_available.out_of_stock changes from 2 to 1 automatically"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

From times to times some of my prod

[2022-01-11 08:12] NeOMakinG commented on #26599
@MatShir We've the same issue with the new theme, we need to improve the image system in order to give every information themes needs (jpg, png, webp, avif and every sizes corresponding (normal, x2, different sizes in order to load different images on responsive and deskop))

https://github.com/PrestaShop/theme-refacto/issues/147

Can we plan a meet with you or someone from the product team? It's

[2022-01-11 09:02] florine2623 commented on #27298
Hello @seederp2p ,

I tried to reproduce your issue on PS 1.7.7.8, but I couldn't find a way to reproduce it.
Also, I couldn't find any issue similar to yours here : https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aopen+is%3Aissue+label%3AStocks

I suggest you try to find a way to reproduce it, so we can help.

Or if you need help with your shop, please consider one of our [support plans](ht

[2022-01-11 09:03] #27298 closed, assigned to nobody

[2022-01-11 10:56] #26749 closed, assigned to Hlavtox

[2022-01-11 11:03] mparvazi commented on #27289
`src/PrestaShopBundle/Controller/Admin/Improve/Design/ThemeController.php`

**Adding a new function (isThemeRTLAdapted)**

![function](https://user-images.githubusercontent.com/85633460/148930216-56680e1c-e450-4952-ab0e-e571a2d17dc0.png)

**Updating funtion (adaptToRTLLanguagesAction)**

![condition2](https://user-images.githubusercontent.com/85633460/148930263-93f1ee75-7f32-4eec-91b4-f65036876e87

[2022-01-11 11:08] MatShir commented on #27261
Let's fix the issue on the module ! :)

[2022-01-11 11:47] hibatallahAouadni commented on #23394
@kpodemski that's true :tada: the issue has been fixed with PS1782, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/148937142-5acfa563-d253-470e-9e3d-a002f45bea93.mp4

Closing the issue :wink:
Thanks you!

[2022-01-11 11:47] #23394 closed, assigned to nobody

[2022-01-11 12:37] ivaldes2786 commented on #25823
I have the same problem in PS 1.7.8.2, any solution?

[2022-01-11 13:04] jolelievre opened #27300 "Missing hook in the form process for data provider"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-11 13:05] jolelievre commented on #27300
Note: this issue could probably be handled along with https://github.com/PrestaShop/PrestaShop/issues/24106 in a single PR

[2022-01-11 13:20] mparvazi commented on #17862
## How to get rid of .rtlfix

**1) Delete theme.rtlfix**

**2) Create rtl.scss**
`admin-dev/themes/new-theme/scss/rtl.scss`
The content of rtl.scss is exactly same as theme.rtlfix (it's better to be redesigned for Sass)

**3) Use webpack to build rtl.css**
 `admin-dev/themes/new-theme/.webpack/common.js`

![webpack](https://user-images.githubusercontent.com/85633460/148946687-2374ffe1-c303-4523-96

[2022-01-11 13:30] florine2623 opened #27301 "statsnewsletter - line color for customers and visitors should match the description"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Line color in Stats > Newsletter sh

[2022-01-11 13:32] miramar-gareth-parker opened #27302 "Discount percentage shows incorrectly on product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If a product's discount percentage

[2022-01-11 13:35] HanaRebaiQA opened #27303 "BO - An exception is thrown when fill all the fields of a new category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when fill al

[2022-01-11 13:37] NeOMakinG commented on #25823
Unfortunately, it's intended behavior, see https://github.com/PrestaShop/PrestaShop/issues/11281

Ping @marionf or @MatShir, what do we want?

[2022-01-11 13:44] kpodemski commented on #25823
Maybe we should make this configurable. To be honest, I don't see a "better" version in these two. It makes sense to go back to the other variant of the product. On the other hand, "Back" in the browser is used to go back to the previous page, page, not a different state of the current page 🤔

[2022-01-11 13:44] florine2623 commented on #27302
Hello @miramar-gareth-parker ,

I can't reproduce your issue in PS 1.7.8.2 :
<img width="1134" alt="Screenshot 2022-01-11 at 14 42 55" src="https://user-images.githubusercontent.com/16019289/148953608-e51beb0f-62e7-42ce-82a0-c85b27d6e20a.png">
<img width="1172" alt="Screenshot 2022-01-11 at 14 43 00" src="https://user-images.githubusercontent.com/16019289/148953624-e5812f60-9f6a-49c9-ac87-e3aa427e

[2022-01-11 13:53] CyberCr33p commented on #13833
Had the same issue after upgrading MySQL from 5.7 to 8.0. Changing the query in classes/Product.php solved the issue. Thank you.

[2022-01-11 14:00] mparvazi commented on #11571
PS use this plugin for calendar: https://github.com/moment/moment/

There is a "Solar Hijri calendar" plugin for moment.js: https://github.com/jalaali/moment-jalaali

[2022-01-11 14:05] florine2623 opened #27305 "statscarrier - the name of the carrier ID 1 is not correct"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

At the installation, the name of th

[2022-01-11 14:09] marwachelly opened #27306 "BO - Error in the console when opening Newsletter page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error in the console when opening S

[2022-01-11 14:17] MatShir opened #27307 "Add an option to regenerate RTL file during the upgrade"
**Description**

When I upgrade a shop with a RTL language, the files are not regenerated, which can cause display errors on the Front Office after an upgrade

**Solution**
Add a toggle enabled by default in the Upgrade Options section, to regenerate RTL files

**Wording**
Regenerate RTL stylesheet - Yes/No
help text: If enabled, any RTL-specific files that you might have added to all your themes

[2022-01-11 14:22] mparvazi commented on #27261
All problems for RTL theming in FO and BO will be fixed by this issue: https://github.com/PrestaShop/PrestaShop/issues/27289

It's a pre-requirement for making themes to be Auto-RTL.

[2022-01-11 14:25] tegbessou commented on #27307
I take this!

[2022-01-11 14:35] mparvazi commented on #27307
Please don't add this option :pray:

It will be fixed soon with a smart way.

[2022-01-11 14:38] NeOMakinG commented on #27307
@mparvazi It won't be fixed with what we're doing, but this autoupgrade thing should verify that the theme enabled CSS with what we wants to add :)

[2022-01-11 14:44] mparvazi commented on #27307
PLEASE try to handle this issue first: https://github.com/PrestaShop/PrestaShop/issues/27289

Then problems will be solved easily!

[2022-01-11 14:44] matks commented on #27261
@mparvazi Auto-RTL is not directly related to the upgrade issue.

It is a nice feature but it’s a parallel feature not a replacement.

Today we have a lot of themes which rely on the use of rtlfix file and CSS generation to handle RTL, and these will not be replaced anytime soon by Auto-RTL. So "all problems for RTL will be fixed" => not accurate

[2022-01-11 14:49] matks commented on #27307
@mparvazi this issue is blocking the release 1.7.8.3 which is supposed to be released this week so it's our highest priority

We'll be happy to improve the future of PrestaShop of https://github.com/PrestaShop/PrestaShop/issues/27289 but we have to work on both the software of the future and the software of the present ;)

[2022-01-11 14:51] NeOMakinG commented on #27307
@mparvazi I won't fix the current problem, many themes rely on the RTL generation, it's a new feature, both should be available and RTL generation will adapt on the new configuration entry we wants to add 👍

[2022-01-11 14:51] mparvazi commented on #27261
@matks Trust me!

It is not supposed to delete CSS generation.
Third party developer can use it.

But with new project that @NeOMakinG is working, problems for PS themes will be fixed.

This is a smart solution, and third-party developers will try to use it.

[2022-01-11 14:54] matks commented on #27261
I am happy you are so optimistic 😄  but Auto-RTL will be truly efficient when the majority of themes do implement it. In PrestaShop we can allow themes to be Auto-RTL or to rely on a generated CSS for RTL, but we cant force theme developers to change their themes.

Launching a new feature is great but until majority of users adopt it, it's just a little nice-to-have option and we still need to mai

[2022-01-11 15:02] mparvazi commented on #27261
I already implemented in my local PS an it's works fine.

![148931063-1682d1a1-e55f-41cd-8214-8e5eebc94294](https://user-images.githubusercontent.com/85633460/148967003-deea2b2e-7d99-431a-9517-7c64c43f92da.png)

![148930983-1b2808a2-a5a9-4bab-9a87-81159fc60dff](https://user-images.githubusercontent.com/85633460/148967068-bb278b0d-bf69-4846-9179-8b7da4700bed.png)

[2022-01-11 15:04] mparvazi commented on #27261
I just say there is a smart way to handling this problem.

Adding too many options to installer would be scary for new users.

[2022-01-11 15:27] mparvazi commented on #27307
@MatShir

We have this option now in installer: Enable SSL
The "Maintenance mode" is going to be added.
An this new one.

So is it possible to consider these options as Advanced options, and gathering them inside a block?
Block can be collapsed by default.

I mean too many options in installer would be confusing for new users.

[2022-01-11 15:36] MatShir commented on #27307
This is for the autoupgrade module in the advanced setting

[2022-01-11 16:07] SharakPL opened #27309 "SyntaxError: redeclaration of let moduleCardController"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Browser's console generates an erro

[2022-01-11 16:29] florine2623 commented on #27309
Hello @SharakPL ,

I was able to reproduce the issue with PrestaShop version 1.7.8.2, although I can't reproduce it on develop branch.

This means that it will be fixed in later version of PS.
So I will close your issue.

Thank you

[2022-01-11 16:29] #27309 closed, assigned to nobody

[2022-01-11 16:32] SharakPL commented on #27309
Thanks @florine2623
Too bad all 1.7.8 releases so far are unusable 😞

[2022-01-11 16:41] mparvazi opened #27310 "Update SEO preview in the style currently used by search engines"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-11 16:46] marwachelly opened #27311 "BO - Categories - Category image cannot be deleted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Category image cannot be deleted on

[2022-01-11 17:05] seederp2p opened #27312 "{id_order_return} and {state_order_return} at order_return_state.html template not filled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

{id_order_return} and {state_order_

[2022-01-11 17:12] florine2623 commented on #27310
Hello @mparvazi ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2022-01-11 17:39] florine2623 commented on #27312
Hello @seederp2p ,

I can't reproduce your issue in PS 1.7.7.8 nor PS 1.7.8.x.

{id_order_return} and {state_order_return} are displayed correctly. Here's the result I have :
<img width="608" alt="Screenshot 2022-01-11 at 18 28 27" src="https://user-images.githubusercontent.com/16019289/148992003-af9b645d-3235-46c4-acf9-1a64783581df.png">

You can check if you have any override from an external mo

[2022-01-11 17:39] #27312 closed, assigned to nobody

[2022-01-11 17:42] florine2623 commented on #27309
What is unusable ?
Could you explain it more ?

I tried deleting a product with combinations, as you mentioned, it works well ^^
<img width="287" alt="Screenshot 2022-01-11 at 18 41 36" src="https://user-images.githubusercontent.com/16019289/148994006-ff1e5897-b71e-4428-bf25-28a7c1ea4e7a.png">

Thanks!

[2022-01-11 18:00] MatShir opened #27313 "Product combi delta bugs - Page V2"
Hi @zuk3975,

I have some issues:

**First issue**

1. Enable Experimental product page
2. Go to BO > Catalog > Products page > Edit a product with combinations V2
3. In the combinations Tab > try to set the quantity field with this value = `2000000000000` or `2E12`
4. See error: `An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Product\Stock\Exception\ProductStockConstraintExcepti

[2022-01-11 18:08] MatShir commented on #27310
Cool feature, the page V2 is being migrated. If you are willing to implement it, we will to be synchronized with @jolelievre

[2022-01-11 18:09] SharakPL opened #27314 "[Modules optimization] Do not install development dependencies on production and use main vendor folder"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

All new prestashop modules have the

[2022-01-11 19:12] babyewok commented on #26962
Well, with the shop set up on php 7.3 on my test server I decided to try the 1-click update again..... and it worked!  Yay!  Wish I had just tried that again first time round rather than assuming it was a lost cause.

[2022-01-11 19:57] Hlavtox commented on #27310
@mparvazi If you include this extra data in the preview, we should add a note to the field, something like:

_Displaying of breadcrumbs, price and stock in search results is dependent on proper implementation by your theme and the search engine.

There is no guarantee that the search result will look like this._

[2022-01-11 20:00] hibatallahAouadni commented on #26962
@babyewok Glad that your problem is solved :tada:

[2022-01-11 20:50] mparvazi commented on #27310
@Hlavtox

I got your point!

No extra data will be added.
Just a placement swap for url and title as like as Google:
[code]
And then some changes with CSS.

[2022-01-11 21:08] SharakPL commented on #27309
I meant deleting a combination from a product, not a product with combinations. Although I fixed it by deleting whole product as I couldn't find exact cause.

Anyway I feel like there's a lot more regressions with 1.7.8 than before and since all other bugs won't even be fixed within 1.7.8 branch, then there's really no point to install it. I'd rather have fairly stable 1.7.7 on new shops and start

[2022-01-11 21:16] LollipopAdmin commented on #12501
Any news on this suggestion from Maboz. I was looking at that feature too actually.
I know it is available is some external module but to me this shoudl be part of native faceted search module which is just great and would be even greater !!!
I completely agree with the sentence of Maboz above: "t's quite confusing for the consumer to filter on a color and be presented a list of products in other

[2022-01-11 21:37] hibatallahAouadni commented on #27266
@khouloudbelguith the first issue is duplicate of #27058

[2022-01-11 22:46] alfonsolr09 commented on #27274
@hibatallahAouadni But what if he performs this function?

[2022-01-11 22:57] hibatallahAouadni commented on #27274
Well then, the Product Team needs to study the feature in priority :wink:

[2022-01-12 08:26] okom3pom commented on #27305
Hello @florine2623

https://github.com/PrestaShop/PrestaShop/pull/26071

It's a duplicate i will open a new PR

[2022-01-12 08:39] HanaRebaiQA commented on #27311
Thank you @marwachelly for the issue.
It can be fixed in this PR [#27228](https://github.com/PrestaShop/PrestaShop/pull/27228)

[2022-01-12 09:19] khouloudbelguith opened #27316 "BO - Product V2 - Some features are NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the Product edit page V2, we hav

[2022-01-12 09:48] NeOMakinG opened #27318 "[EPIC] Improve the image system"
## EPIC's Goal

🎯 **As a merchant, I want to use the lightest and highest quality image, depending on the browser image compatibility and the viewport size.**
As a theme developer, I want my theme to be compatible with all the different image format easily to get the best possible output.

## Context
HighDPI images for every size is a thing of a past. We must do it by source sets. It is not optimi

[2022-01-12 09:49] NeOMakinG opened #27319 "Add new image sizes to be used on any viewport size"
Epic: https://github.com/PrestaShop/PrestaShop/issues/27318

# Change the current API without adding BC

Currently we've something like this:
[code]

We would need to find out new best sizes, for example
[code]

  and be able to select these sizes easily

[2022-01-12 09:52] NeOMakinG opened #27320 "Add webp format inside the image object in FO"
Epic: https://github.com/PrestaShop/PrestaShop/issues/27318

# Serve multiple format in the image element in FO

In order to be able to provide the best srcset/picture element, we would need to be able to select multiple sizes of every format available.

As we decided, considering this object:

[code]

We should be able to select the format of this size using `$image.small.sources.webp.url` and sa

[2022-01-12 09:56] NeOMakinG opened #27321 "Add avif format to the core"
Epic: https://github.com/PrestaShop/PrestaShop/issues/27318

# Add avif format to the core

We need to be able to generate the avif format from the core, because it's lighter with great quality than other format

Currently we can't because @Progi1984 said that it's incompatible with PHP <= 8, but maybe we could activate it only if the current PHP version is supporting it.

[2022-01-12 10:00] NeOMakinG opened #27322 "Be able to generate multiple image types instead of only one"
Epic: https://github.com/PrestaShop/PrestaShop/issues/27318

# Be able to generate multiple image types instead of only one

In the backoffice `(Design > Images Settings)`, you are able to select an image type you want to generate, but by using checkboxes instead of radio button, I want to be able to generate multiple formats at one time : webp, jpg, png, avif...

[2022-01-12 10:05] NeOMakinG opened #27323 "Add a system in order to generate picture element using every formats in FO"
Epic: https://github.com/PrestaShop/PrestaShop/issues/27318

# Components in the FO

We need to have a component in the FO in order to generate picture tag with srcset using every available formats, it will probably fix every issues regarding images in the FO

Prio:
- Avif
- Webp
- PNG
- JPG

## Implementation

When this component is available, we need to replace every image in the theme with this

[2022-01-12 10:07] Progi1984 commented on #27321
@NeOMakinG PHP 8.1 : https://php.watch/versions/8.1/gd-avif

[2022-01-12 10:09] NeOMakinG commented on #27321
Duplicate of #27264

[2022-01-12 10:09] #27321 closed, assigned to nobody

[2022-01-12 10:09] NeOMakinG commented on #27264
https://php.watch/versions/8.1/gd-avif

Thanks @Progi1984

[2022-01-12 10:09] NeOMakinG commented on #27321
Linked it to the main issue

[2022-01-12 10:11] NeOMakinG commented on #27318
Thanks @Hlavtox for the work done on redacting everything

[2022-01-12 10:33] #26847 closed, assigned to nobody

[2022-01-12 10:37] jolelievre opened #27324 "Create a js component to easily toggle other elements"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-12 10:38] mparvazi opened #27325 "Bad display of scrollbar for sidebar menu in RTL"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Scrollbar for sidebar menu in RTL i

[2022-01-12 10:45] #27243 closed, assigned to NeOMakinG

[2022-01-12 10:56] hibatallahAouadni commented on #27314
Hello @SharakPL

Thanks for reporting this issue!
It looks more like an improvement than a bug. So, I'm going to ping the dev team to check it :wink:

Ping @PrestaShop/prestashop-core-developers  do you think this is the expected behavior or not?
Thanks in advance :pray:

[2022-01-12 11:07] jf-viguier opened #27326 "gdpr checkbox activate add to cart button of out of stock product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Click on gdpr checkbox activate the

[2022-01-12 11:44] HanaRebaiQA opened #27327 "FO - The pop-up do not disappear when click on remove and cancel from the first time and an error message is displayed when click on remove from the second time - blockwishlist v2.1.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's a module regression!.
In Wishl

[2022-01-12 12:33] Multipage commented on #19605
Currently we are having difficulty mass deletion of products programmatically in 1.7.8.2, 6 products in 1 minute. This is WAY to slow since it has to delete 44.000 products.
The problem is in the  product->delete() function. Here it uses product->deleteCategories(true) and that triggers the function Product::cleanPositions which is VERY slow.
Currently we use a workaround by manually deleting the

[2022-01-12 12:53] Multipage commented on #19605
Seems to me the 'Module::setBatchMode(true)' could be integrated so we can avoid this behaviour like it's doing with tags/tagcount

[2022-01-12 13:25] khouloudbelguith commented on #27313
Hi @MatShir,

As discussed with @jolelievre.
I added two other issues to the first comment.

Thanks!

[2022-01-12 13:37] jolelievre commented on #27313
Also some of the bugs mentioned here are common to some present in stock page:
#26796
#26502

Maybe the same fixes can be applied on stock page as well even if it's not exactly the same code

[2022-01-12 14:29] hibatallahAouadni commented on #27305
@okom3pom I think it's related not a duplicate

[2022-01-12 14:32] mparvazi opened #27332 "Using Vue CLI for global import of Sass variables"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-12 15:04] #27038 closed, assigned to NeOMakinG

[2022-01-12 15:13] Natalia919 commented on #27280
Hello @hibatallahAouadni ,

Thank you for your reply.

I don't know what happened, I reinstalled today the same version of Prestashop and that seems to work.

Thank you for your feedback !

[2022-01-12 15:13] #27280 closed, assigned to nobody

[2022-01-12 15:22] SharakPL commented on #27314
You're right it's more a feature request than a bug. I've been sick lately so I blame not using correct issue type on that 😅

[2022-01-12 15:41] hibatallahAouadni commented on #27326
Hello @jf-viguier

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22880.
This issue is already fixed with the upcoming ps_mailalerts release 2.3.1 with this [PR](https://github.com/PrestaShop/ps_emailalerts/pull/86)

Thanks!

[2022-01-12 15:41] #27326 closed, assigned to nobody

[2022-01-12 15:42] hibatallahAouadni commented on #27326
Duplicate of #22880

[2022-01-12 15:43] kpodemski commented on #27326
@jf-viguier is this 2.3.1 of `ps_emailalerts`?

[2022-01-12 15:45] jf-viguier commented on #27326
No 2.3.0, I don't see 2.3.1 in releases https://github.com/PrestaShop/ps_emailalerts/releases

[2022-01-12 15:46] kpodemski commented on #27326
@jf-viguier ok then, it should be fixed in 2.3.1 but we haven't released it yet :D

[2022-01-12 15:46] jf-viguier commented on #27326
ok, thanks @kpodemski

[2022-01-12 15:51] #27007 closed, assigned to tswfi

[2022-01-12 15:54] hibatallahAouadni commented on #27325
Hello @mparvazi

Thanks for the issue!
I reproduce the issue with PS1780, PS1783 and develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/149174467-c77e59f0-ea64-48b3-9bf7-6d08587348e5.mp4

This issue is a **regression**! as I didn't reproduce it with PS1778.
I’ll add this to the debug backlog so that it’s fixed. Waiting for your PR :rocket:

Thank you

[2022-01-12 15:59] mparvazi commented on #27325
@hibatallahAouadni

Very good idea to upload screen-record with GitHub :ok_hand:

[2022-01-12 16:05] atomiix commented on #27222
Looks like a good idea!

[2022-01-12 16:54] hibatallahAouadni commented on #27314
Hope you get better soon :pray:

[2022-01-12 16:55] hibatallahAouadni commented on #27280
@Natalia919 Glad to hear :tada:

[2022-01-12 16:56] hibatallahAouadni commented on #27332
Hello @mparvazi

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Waiting for your PR :muscle:

Thank you

[2022-01-12 17:49] VdomaNet commented on #19471
Very strange... Nobody needs it?
I have products that are not available (of course I don't want to remove from the list).
I would like to show them at the end of the list.
It seems to make sense? That is everyone does it in another way? Very strange...

[2022-01-12 18:35] hibatallahAouadni commented on #27180
Hello @Guisardo

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server or configuration problem.

https://user-images.githubusercontent.com/23308427/149201130-f6fba9dd-01c5-49f8-b5f8-1fab9592f6c4.mp4

We will close this issue.

Thanks!

[2022-01-12 18:35] #27180 closed, assigned to nobody

[2022-01-12 18:37] hibatallahAouadni commented on #27239
Hello @BettyNutz

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2022-01-12 18:37] #27239 closed, assigned to nobody

[2022-01-13 02:16] csabakruppa opened #27334 "Design/Positions leads to 404 page after a fresh install of 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Design/Positions leads to 404 page

[2022-01-13 02:42] Guisardo commented on #27180
Thanks for the support @hibatallahAouadni , as I mention before, the problem is not visible within Prestashop itself, the problem arises by "the PageSpeed mod on the Apache server".
The problem is an invalid scope definition at a javascript variable. Modern browsers may ignore those imperfections but it causes issues when bundling Prestashop in more complex environments.

[2022-01-13 04:50] oliver139 commented on #27256
I think the simplest solution will be surrounding the tables with a `<div>` having `overflow: auto`, but I believe these are not the only tables to be revised? On the other hand, will there be any other answers having better UX?

btw, from the screenshot, 1.7.6.9 has same problem as well, which I believe older version as well.

![image](https://user-images.githubusercontent.com/45283723/149267405-

[2022-01-13 07:54] #27145 closed, assigned to NeOMakinG

[2022-01-13 07:58] MatShir opened #27336 "Disable Merchandise return, still displays the merchandises return in the Order page"
### As described in the spec:
` The merchandise return tab lists **the date, the type, the carrier (= return status), and the number (= return reference number)**. When the merchandise return is disabled the tab displayed: "no merchandise returned yet".`

The merchandise return tab is still displayed after disabling it.
### Steps to reproduce the issue:
1. Go to BO > Customer Service  > Merchandis

[2022-01-13 08:26] hibatallahAouadni commented on #27334
Hello @csabakruppa

I didn't manage to reproduce the issue with PS1782, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/149293153-5c3a7047-7d77-4355-a132-54c250ab7633.mp4

Please check and feedback.
Thanks!

[2022-01-13 08:58] csabakruppa commented on #27334
Hi @hibatallahAouadni,

My issue is that i always get the 404 page instead of your "Positions". Do you know a fix for it?

Thanks

[2022-01-13 09:08] hibatallahAouadni commented on #27334
Hello @csabakruppa

Could you please disable the cache and enable the debug mode, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/149299763-fa89815a-04d8-420d-a41a-bb1d8c0c9e37.png)

And retry to open the **Positions** page to see what's the bug's details.
Please check and feedback.

Thanks!

[2022-01-13 09:40] Juiliard opened #27338 "No icons in Safari"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

No Order Notifications on the Favic

[2022-01-13 09:42] csabakruppa commented on #27334
After the recommended settings when i click the "positions", i still have the 404 page and now when i click on "Perormance" I  will be on 404 page as well, so cannot even reset the settings there. On the Back Office I receive the following (it would be 100 times more, but the same lines):

/var/www/clients/client265/web535/web/arkadiastudio.hu/vendor/symfony/symfony/src/Symfony/Component/Debug/Deb

[2022-01-13 09:53] kpodemski commented on #27334
Your issues are not related directly to the PrestaShop but your server configuration. You can ask some developers for help on the forum, Slack, Stack Overflow, etc. 👍

[2022-01-13 10:05] PierreRambaud commented on #25922
Done with https://github.com/PrestaShop/docker/pull/278

[2022-01-13 10:05] #25922 closed, assigned to PierreRambaud

[2022-01-13 10:19] Hlavtox commented on #27338
@Juiliard You can talk to Apple about this 😄 - https://bugs.webkit.org/show_bug.cgi?id=95979#c18

We cannot do anything about it, unfortunately. 👍

[2022-01-13 10:24] Progi1984 commented on #26916
@matthieu-rolland Should be fixed in #27339

[2022-01-13 10:37] hibatallahAouadni commented on #27334
Hello @csabakruppa

As @kpodemski mentioned your issue is not related to PS Core, it seems more as a server configuration issue.
Sorry but I have to close the issue as we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [suppor

[2022-01-13 10:37] #27334 closed, assigned to nobody

[2022-01-13 10:39] jocel1 opened #27340 "Unable to assign a carrier on a cart with PS_FOLLOWING_CART & deleted address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-01-13 10:57] NeOMakinG commented on #27338
Hello, sorry but as @Hlavtox said, this is a Safari problem, they don't support dynamic favicon change...

[2022-01-13 10:57] #27338 closed, assigned to nobody

[2022-01-13 11:10] dcaciula opened #27342 "Error if an Order State is missing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you have orders with a deleted O

[2022-01-13 12:29] hibatallahAouadni commented on #27342
Hello @dcaciula

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19098.
And it's already fixed with this PS1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/149330201-dcd4859f-7e1e-4bf0-b67f-84fa86c21fa9.png)

PS: please downgrade your PHP version to 7.3 cause PS1771 is not compatible with PHP8.0 (see

[2022-01-13 12:29] #27342 closed, assigned to nobody

[2022-01-13 12:29] hibatallahAouadni commented on #27342
Duplicate of #19098

[2022-01-13 13:09] tswfi opened #27343 "Hard to notice search filter in BO (ux issue)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When using grid filters the state b

[2022-01-13 13:18] Progi1984 commented on #27077
@kpodemski Needs a module release and a bump in core.

[2022-01-13 13:26] Progi1984 commented on #25797
@marwachelly Could you check ? I didn't reproduce it.

[2022-01-13 13:39] hibatallahAouadni commented on #27343
Hello @tswfi

Thanks for reporting the issue!
Ping @PrestaShop/ux-team @prestascott wdyt? should we change the color of fields placeholder when the list is filtered?

Thanks!

[2022-01-13 14:28] Progi1984 commented on #25797
@marwachelly has tested :
- It's fixed in Product Page V1 (french polish and german language) : https://watch.screencastify.com/v/cM41k7tMBjTbDfwpUq6P
- No problem in Product Page V2 : https://watch.screencastify.com/v/XYcmzevak1kNZHZenxEV

Thanks to her for the test.

[2022-01-13 14:28] #25797 closed, assigned to Progi1984

[2022-01-13 15:01] devphoenix2404 opened #27345 "Fatal error when add product into cart in PS versions 1.7.8.0 and above."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi Team,

Recently, we've encounter