[2019-08-29 14:28] templatin commented on #15315
ping @jolelievre

[2019-08-29 14:30] khouloudbelguith commented on #15295
@karilobre, you need as described in this screenshot?
Subcategories should be displayed also in the filter?
![image](https://user-images.githubusercontent.com/16067358/63949164-dd094c00-ca71-11e9-9b4f-45dee67f1be4.png)

Thanks!

[2019-08-29 14:36] khouloudbelguith commented on #15315
Hi @templatin,

Thanks for your report.
Yes, I manage to reproduce the issue with PS1.7.6.1 & the product comment module v4.0.0.
In fact, this issue occurs only for a product with related products.
![image](https://user-images.githubusercontent.com/16067358/63949738-c1eb0c00-ca72-11e9-894d-4b5bf0ce5d81.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your

[2019-08-29 14:36] karilobre commented on #15295
![Captura2](https://user-images.githubusercontent.com/22664584/63949478-b4fcf700-ca37-11e9-8691-00bf0615a4b8.PNG)

Look at this screenshot, I am in the category level 1 named "Articulos para Higiene y Limpieza", look that in the filters there are categories level 2 like "Articulos Limpieza" and 3 like "Basureros", in this screen if I choose filter by  "Articulos Limpieza" the filter works fine, bu

[2019-08-29 14:39] khouloudbelguith commented on #15313
Hi @Lwackp,

Thanks for your report.
So, this issue occurs due to a PrestaShop core bug or only with your custom search?
Because without your search provider => OK.

Thanks!

[2019-08-29 14:42] Lwackp commented on #15313
Hi,
Only with my custom search.
However, according to the docs, a custom search module should not be responsible to retrieve product data.

https://devdocs.prestashop.com/1.7/development/components/faceted-search/

So it seems to me that it might be a core bug ?

[2019-08-29 14:42] gerlandog opened #15316 "Error 500 in orders page"
Hi, i am trying to get my eshop up and running and after configuring everything when I try to go to the orders page i get an error 500...
![Sin título1](https://user-images.githubusercontent.com/21976353/63950301-1b8f0e80-ca52-11e9-8dad-97d7d495055a.png)

could you please help me out?

Thanks!!!

[2019-08-29 14:44] jeffPro97 opened #15317 "Invisible Product in front added with WebService"
**Describe the bug**
When i adding product with WebService, they are visible in my category in backoffice, but invisible in front office when i go to this category.

When i go to the page of one product the footer can tell me that all other product are present in it. (in front)

when i see the /api/products/idmyproduct, all information are present.
My code to add product :
            $webService

[2019-08-29 14:44] khouloudbelguith commented on #15295
@karilobre, so in your case
The parent category of "Basureros"(level3) is "Articulos Limpieza"(level2) which have a parent category "Articulos para Higiene y Limpieza"(level1)?
![image](https://user-images.githubusercontent.com/16067358/63950467-f0b5b200-ca73-11e9-982e-848570155904.png)

Thanks!

[2019-08-29 14:50] karilobre commented on #15295
Yes, exactly like that

[2019-08-29 14:52] khouloudbelguith commented on #15317
Hi @jeffPro97,

For those products created with web service, could you please try to edit it => Tab Options => check the availability of this product if it is "Nowhere".
![image](https://user-images.githubusercontent.com/16067358/63950837-a254e300-ca74-11e9-83b2-9145e742cbee.png)
If yes, need to add the balise visibility to your script.

Thanks!

[2019-08-29 14:54] sarahdib opened #15318 "Notice when configure some modules"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to module
2. Click on configure ps_emailsubscription
3. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/3034677/63951747-979f4b80-ca7e-11e9-956b-05dbc77126d1.png)

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.1

[2019-08-29 14:54] khouloudbelguith commented on #15295
@karilobre, in your case, the faceted search module is overridden by the theme?
Because with native module subcategories are not displayed on the filter.
![image](https://user-images.githubusercontent.com/16067358/63951237-4c346f80-ca75-11e9-90cf-c86727e3d342.png)

Thanks!

[2019-08-29 14:57] khouloudbelguith commented on #15316
Hi @gerlandog,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15173 to fix the issue.
It is fixed in the PS1.7.6.1.
Your ticket is a duplicate of #14595
So, I close it.
Thanks!

[2019-08-29 14:57] #15316 closed, assigned to nobody

[2019-08-29 14:57] khouloudbelguith commented on #15316
Duplicate of #14595

[2019-08-29 14:58] jeffPro97 commented on #15317
i checked this and it's not nowhere. it's "partout in french".
i forget when i add product i set already the visibility with:
$product->visibility ='both';

[2019-08-29 14:59] gerlandog commented on #15316
Thanks!

[2019-08-29 15:03] jeffPro97 commented on #15317
My products appear when i click on save product in back office but i want it without this action

[2019-08-29 15:05] karilobre commented on #15295
The theme has a module named ps_facetedsearch but only has one .tpl file, how do I check if the theme override the module ??

[2019-08-29 15:08] khouloudbelguith commented on #15317
@jeffPro97, you need to go to the BO => Shop Parameters => Search page => Click on the "Add missing products to the index ".
![image](https://user-images.githubusercontent.com/16067358/63952299-39bb3580-ca77-11e9-9512-7092b617f6c0.png)

Thanks!

[2019-08-29 15:09] khouloudbelguith commented on #15295
@karilobre, you need to check the theme author.
Thanks to check with them & feedback.

[2019-08-29 15:13] jeffPro97 commented on #15317
Nothing append :(

![image](https://user-images.githubusercontent.com/54676075/63952659-41330c80-ca80-11e9-9793-ef885ce416f9.png)

[2019-08-29 15:17] marionf commented on #12832
@khouloudbelguith

Could you try to reproduce this issue with 1.7.6.1 ?

[2019-08-29 15:20] khouloudbelguith commented on #15317
@jeffPro97, product ae not displayed on the FO?
Thanks!

[2019-08-29 15:22] marionf commented on #10730
@khouloudbelguith Could you try to reproduce it with PrestaShop 1.7.6.1 ?

[2019-08-29 15:25] jeffPro97 commented on #15317
no as i said they are not display when i go to my category in front office, but i can prove that they are in my database because when i go on one product they are all here in a footer module.

![image](https://user-images.githubusercontent.com/54676075/63953507-bc48f280-ca81-11e9-8a2e-05ceabb4fcf9.png)

![image](https://user-images.githubusercontent.com/54676075/63953551-d5ea3a00-ca81-11e9-810b-ad

[2019-08-29 15:36] khouloudbelguith commented on #12832
Hi @glictevo,

With PS1.6, we have a different behavior
When multistore is enabled, we can select a shop for images
![image](https://user-images.githubusercontent.com/16067358/63954001-4f7e2a00-ca7a-11e9-8c34-78c08a43fb13.png)
With PS1.7 => this feature doesn't exist
![image](https://user-images.githubusercontent.com/16067358/63954069-69b80800-ca7a-11e9-8d16-8e317467869b.png)
But we can reproduce

[2019-08-29 15:39] jeffPro97 commented on #15317
this screen to show no product in my catégory but one in new product :

![image](https://user-images.githubusercontent.com/54676075/63954627-adfbd600-ca83-11e9-93b7-5d4a2bd028eb.png)

and this screen to show you that this new product is in my category :

![image](https://user-images.githubusercontent.com/54676075/63954761-eac7cd00-ca83-11e9-9eb9-b6966666bb1f.png)

[2019-08-29 15:42] khouloudbelguith commented on #12588
Same issue with PS1.7.6.1
![image](https://user-images.githubusercontent.com/16067358/63955010-f2837380-ca7b-11e9-9603-6b82df27024d.png)
Thanks!

[2019-08-29 15:56] khouloudbelguith commented on #10730
Hi @marionf,

It is OK with PS1.7.6.1.
https://drive.google.com/file/d/1Jk7DaVxMxnyPGJT0pnLb9-Y0oHGyjoej/view
Thanks!

[2019-08-29 16:14] khouloudbelguith commented on #15317
Hi @jeffPro97,

I did not manage to reproduce the issue with PS1.7.6.1 using this script
https://drive.google.com/file/d/12FCoE3-Q55ZVFeinAfs0KfNxbRLxrLOx/view
[code]

Thanks to check & feedback.

[2019-08-29 16:15] khouloudbelguith commented on #15298
Hi @nexustotalsolutions,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-08-29 16:23] nexustotalsolutions commented on #15298
Okay. Please let me know if you need me on anything else.

On Thu, 29 Aug 2019 at 9:46 PM, khouloudbelguith <notifications@github.com>
wrote:

--
Sent from my iPhone

[2019-08-29 16:32] TristanLDD commented on #10585
The helper card design is now ready for integration ;)

[2019-08-29 16:33] khouloudbelguith commented on #15313
@Lwackp, thanks for these clarifications.
Yes I tried with PS1.7.6.1, all data are displayed after searching
`PrestaShop\PrestaShop\Core\Product\Search\ProductSearchResult Object ( [products:PrestaShop\PrestaShop\Core\Product\Search\ProductSearchResult:private] => Array ( [0] => Array ( [id_product] => 28 [id_supplier] => 0 [id_manufacturer] => 0 [id_category_default] => 2 [id_shop_default] => 1 [

[2019-08-29 16:38] TristanLDD commented on #10540
The helper card design is now ready for integration ;)

[2019-08-29 16:39] TristanLDD commented on #10511
The helper card design is now ready for integration ;)

[2019-08-29 17:16] jf-viguier commented on #11172
I'm facing this issue in 1.7.6

[2019-08-29 17:42] arouiadib commented on #15172
The default translation string is missing a `%` at the end of the variable. I can see it from `International / Translation / Emails translations/ Subject`.

It is (probably) coming from the translation file `app/Resources/translations/en-US/EmailsSubject.en-US.xlf`. But how can I edit this file?  I don't find it in the repository.

Can someone please point me the right direction so that I try to c

[2019-08-29 18:58] Maofree opened #15319 "Dashboard issue"
Hi
my customer said me that the statistics on the start page of dashboard report sells only of the order with invoices. but the invoice is a document for finance, if you do not have to declare making the invoices or the client does not require an invoice you do not have to generate an invoice. I believe it depends on the states of order, they are activated only with a certain condition. But if you

[2019-08-29 19:51] toyser commented on #15185
Hi @khouloudbelguith,

Thanks for your reply.
I understand that, but what is the permission's file ? I searched for but i didn't find it...
Can you help me (more) ?

[2019-08-29 20:24] valkor commented on #14887
This is nice way to handle an issue, just move move ticket to duplicate!

[2019-08-29 21:23] karilobre opened #15320 "Show Subtotal without Taxes"
**Describe the bug**
I've installed Prestashop 1.7.5.2, the checkout summary shows Total of productos with taxes but I need to show without taxes in this line.
![Captura2](https://user-images.githubusercontent.com/22664584/63977326-c7dfed80-ca70-11e9-94d7-065f185c3cc5.PNG)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to store
2. Click on some product to add cart
3. Go to Checkout
4. Se

[2019-08-29 21:29] Vicdetailer commented on #15319
HI
I have discussed this problem with my Maofree programmer, I have seen that we cannot see the reality of the sales made as well as the orders that have been made or the profit margin of our sales because all the orders that have not generated an invoice do not count them and I think that should not be so since it is not always necessary to generate an invoice since that corresponds to the taxati

[2019-08-30 01:33] go-sudo commented on #15115
Hello

https://youtu.be/egrU8JEk2Gw

[2019-08-30 06:03] Prem-lmx opened #15321 "Not show the image captcha contact page in prestashop1.7"
Hi guys,
im useed on prestashop1.7 version
i have install the module captacha in security purpose..
but not display show in capcha..
plesase support ...

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
captcha module is:
![image](https://user-images.githubusercontent.com/52959027/63996781-404eb900-cb1a-11e9-8b57-fe9b8cdd396f.png)

but issue of captcha:

[2019-08-30 07:19] khouloudbelguith commented on #14928
Hi @nazimgel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-30 07:19] #14928 closed, assigned to nobody

[2019-08-30 07:20] khouloudbelguith commented on #14860
Hi @roja45.

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-30 07:20] #14860 closed, assigned to nobody

[2019-08-30 07:23] Prestaworks commented on #12588
I made a new pull request now for 1.7, basicly the same fix as was suggested 2018.
https://github.com/PrestaShop/PrestaShop/pull/15322

[2019-08-30 07:37] khouloudbelguith commented on #15319
Hi @maofree, @Vicdetailer,

About the `dashtrends` module (Dashboard widget), it is necessary to regenerate invoices so the statistics will be displayed, if you don't regenerate an invoice for an order, it will not be taken in consideration for the statistics.
here's a quick solution to generate invoices for all orders.
You need to:
1. Navigate to BO => Shop Parameters => Order Settings => Status

[2019-08-30 07:42] khouloudbelguith commented on #15320
Hi @karilobre,

You need to navigate to your BO => ShopParameters => Customer Settings => Groups Tab => Edit you Group & edit the "Price display method" to Tax excluded.
![image](https://user-images.githubusercontent.com/16067358/64002464-05d92200-cb02-11e9-9171-67d86cf66787.png)

Thanks to check & feedback.

[2019-08-30 07:53] khouloudbelguith commented on #15321
Hi @Prem-lmx,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-08-30 07:58] Prem-lmx commented on #15321
[advancedcaptcha.zip](https://github.com/PrestaShop/PrestaShop/files/3558887/advancedcaptcha.zip)
Hai khouloudbelguith i have sent module
plese support..
Thanks

[2019-08-30 08:01] maofree commented on #15319
hi
the problem is that if you create invoices then you have to register them

[2019-08-30 08:05] khouloudbelguith commented on #15321
@Prem-lmx, I did not manage to reproduce the issue with PS1.7.6.0 & your module.
![image](https://user-images.githubusercontent.com/16067358/64003887-29519c00-cb05-11e9-8eed-87a3f5bba243.png)
As I said before, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you w

[2019-08-30 08:05] #15321 closed, assigned to nobody

[2019-08-30 08:10] khouloudbelguith commented on #11172
@jf-viguier, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14381 to fix the issue, but it is still in progress.

Thanks!

[2019-08-30 08:16] khouloudbelguith commented on #15185
Hi @toyser,

Your exact issue is
[code]

You have a permission denied on your server.
It is not allowed to write on your disk & there is no space available on it.
If you don't have access, you can check with your host to give the right permission.
Thanks!

[2019-08-30 08:40] khouloudbelguith commented on #15115
@go-sudo, I checked your screen record.
The load time is the BO => Order page is very slow comparing the Products Page.
The time for the Order page is 1.5 min but in the product page is 2.11s
In your screen record, you displayed the profiling in the product page which is ok, but you need to trace all SQL queries in the order page to find what is slow for you on the order page.

Thanks!

[2019-08-30 08:41] khouloudbelguith commented on #15319
@maofree, it is the generating of an invoice for your order. isn't?
Thanks!

[2019-08-30 08:42] jeffPro97 commented on #15317
ini_set('display_errors','on');

$psXML = <<<XML
<prestashop>
<product>
  <id/>
  <name>
  <language id="1">testingproduct</language></name>
  <price>120</price>
  <link_rewrite>aaaa</link_rewrite>
  <advanced_stock_management>1</advanced_stock_management>
  <active>1</active>
  <id_category_default>17</id_category_default>
  <associations>
    <categories>
      <category><id>17</id></category>

[2019-08-30 08:43] pogo84 commented on #11517
Vote for it, its not only for automotive spare parts, now I have to change fields descriptions ;) vote yes

[2019-08-30 08:44] jeffPro97 commented on #15317
well when i tried to copy the code it bug so i have done exactly ur code

[2019-08-30 08:46] LouiseBonnard commented on #15172
Dear @arouiadib, I've looked a bit into en-US files and the mistake is on the translation part, not the source string. I've just corrected it on the Crowdin translation project [here](https://crowdin.com/project/prestashop-official/en#), it should be effective in a couple of days. ;-)

[2019-08-30 09:03] centoasa opened #15324 "php ./bin/console cache:clear --env=prod"
prestashop 1.7.6.1 on php 7.2.21 ubuntu
ssh and php ./bin/console cache:clear --env=prod
` // Clearing the cache for the prod environment with debug false

PHP Warning:  Use of undefined constant _DB_SERVER_ - assumed '_DB_SERVER_' (this will throw an Error in a future version of PHP) in /var/www/vhosts/100asa.it/httpdocs/classes/db/Db.php on line 219
PHP Warning:  Use of undefined constant _DB_US

[2019-08-30 09:14] jf-viguier commented on #11172
@khouloudbelguith the PR: #14381 only add some tests, I can't see any fix. Is the PR #12878 evaluated by the ore team ? It fix my bug too but I can't evaluate if this code has side effect.

[2019-08-30 09:14] olecorre commented on #11172
I am also facing this problem in 1.7.6

[2019-08-30 09:16] prestamodule commented on #11172
It should be tagged as Major and integrated into a patch release

[2019-08-30 09:20] khouloudbelguith commented on #15317
@jeffPro97, yes, I just checked on the FO, it is well displayed.
For the BO, you need to add the `state` balise & it is OK.

Using this script
[code]
https://drive.google.com/file/d/1cVrxdlqR_0uRYulZ5SVT4qmNQgpyHCB7/view

Thanks!

[2019-08-30 09:20] maofree commented on #15319
not for all orders it is necessary to generate an invoice, only if requested, in the other cases Victor will do a receipt to add in the pack before to send it. In this cases he doesn't use order status with that option active

[2019-08-30 09:22] samuel-pires commented on #15260
Be careful, this solution has an impact on "Web only" labels.

![Capture d’écran 2019-08-30 à 11 11 27](https://user-images.githubusercontent.com/47456895/64009522-4d6aa880-cb18-11e9-8274-2da27a9026f6.png)
![Capture d’écran 2019-08-30 à 11 11 46](https://user-images.githubusercontent.com/47456895/64009529-4e9bd580-cb18-11e9-86c7-bb8503ad4678.png)

[2019-08-30 09:22] khouloudbelguith commented on #11172
@jf-viguier, yes you are right.
This issue is targeted as the TopWatcher issue.

Thanks!

[2019-08-30 09:24] jeffPro97 commented on #15317
same thing it's not visible in my front office

![image](https://user-images.githubusercontent.com/54676075/64009758-ba7e3e00-cb18-11e9-89ee-e55f86569432.png)

![image](https://user-images.githubusercontent.com/54676075/64009780-c79b2d00-cb18-11e9-832a-4a737e7fd9f5.png)

[2019-08-30 09:26] khouloudbelguith commented on #15319
@maofree, thanks for this clarifications.
Ping @marionf, @colinegin what do you think?
Is it possible to have the `dashtrends` module with statistics independent of the generation of invoices?
It could be a good improvement for this module.
Thanks!

[2019-08-30 09:35] khouloudbelguith commented on #15324
Hi @centoasa,

Thanks for your report.
I have the same issue with PS1.7.6.1 & PS1.7.5.2.
I tried with PHP7.2.13 & PHP7.0.33 same error

[code]
![image](https://user-images.githubusercontent.com/16067358/64010413-a6830e00-cb11-11e9-80b7-985f623f53bf.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us

[2019-08-30 09:38] khouloudbelguith commented on #15317
@jeffPro97, have you any module installed in your shop to edit the visibility of products for example "Update Elements" module?

Thanks!

[2019-08-30 09:42] jeffPro97 commented on #15317
thx i've found the problem it was amazing filter.

thank you so much

[2019-08-30 09:42] #15317 closed, assigned to nobody

[2019-08-30 09:43] khouloudbelguith commented on #15317
@jeffPro97, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-08-30 10:06] marionf commented on #11172
@prestamodule

No, it shouldn't be included in a patch release as it's not a regression.
We fix in a patch release only regression of the last minor version

Furthermore this issue is realy hard to fix, any help is welcome :)

@ttoine

[2019-08-30 10:09] kpodemski commented on #11172
@marionf

i really don't understand this "it's not a regression"... guys, it's a bug which prevents people from completing an order - in e-commerce software... shouldn't be this **major issue**?

[2019-08-30 10:27] jf-viguier commented on #11172
@marionf it's a regression from Prestashop 1.6

[2019-08-30 10:30] kkasztann opened #15328 "ps_facetedsearch | Sorting in BO does not work for main categories in FO"
**Describe the bug**
Setting products order in BO do not work for major categories, but work correctly for subcategories. For the main categories, the order of products set in BO is displayed in the wrong order on FO, but when I disable module: "ps_facetedsearch" everything displaying correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO ->Catalog -> Products -> '
2. Click on

[2019-08-30 10:34] khouloudbelguith commented on #15328
Hi @kkasztann,

The problem is fixed if we use the icon in position column. The product is selected and we can change the position and saved and all changes is validated.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14879 to fix the issue.
It is fixed in the PS1.7.7.0.
Since this PR correct the problem it's OK a New issue was created for the second issue : #15291
Your ticket is a d

[2019-08-30 10:34] #15328 closed, assigned to nobody

[2019-08-30 10:35] khouloudbelguith commented on #15328
Duplicate of #14616

[2019-08-30 10:54] PrestaSafe opened #15329 "Product comments module, translation JS error."
Hello,
I've JavaScript translation error on productcomments module like this picture:
![Capture d’écran 2019-08-30 à 12 48 17](https://user-images.githubusercontent.com/4788787/64015603-2d8db180-cb25-11e9-8eec-030d1a7db569.png)

It's need a backslashes on error message.

PrestaShop 1.7.6.0
ProductComments v4.0.0 (no upgrade needed)

[2019-08-30 11:10] zuk3975 commented on #10511
Helper card implemented within #14040

[2019-08-30 11:15] Vicdetailer commented on #15319
Hi @khouloudbelguith
Exactly what @maofree says, the dastrends would have to give exact information of the sales made independently if invoices are generated or not, since the invoices in a document for finance but does not affect when giving the real sales data, Orders or profit margin.
We look forward

Greetings

[2019-08-30 11:19] BrunoJunior commented on #9599
Hi everyone …
I don't know if it's the right place, but I have an issue in the same place …
The problem is for module emails.
In my case, I can change the email subject :
![Capture](https://user-images.githubusercontent.com/4368255/64016680-ec4ad100-cb27-11e9-95e6-3bda0726ae01.JPG)
But after I saved it, it doesn't seem to be saved because it's not displayed …
After some investigations, it's saved

[2019-08-30 11:20] khouloudbelguith commented on #15329
Hi @PrestaSafe,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & the product comments module v4.0.0.
![image](https://user-images.githubusercontent.com/16067358/64016963-51022d80-cb20-11e9-9be7-d85562bf7f8d.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
In

[2019-08-30 11:21] khouloudbelguith commented on #15329
Ping @jolelievre

[2019-08-30 11:32] Hlavtox commented on #15315
Shows completely different product = minor :D :D

[2019-08-30 11:37] go-sudo commented on #15115
Hello

I appreciate your help, any help for recommendations please to trace the
sql queries

Regards

[2019-08-30 11:37] marionf commented on #11172
Yes, but it's not a regression of the last minor version (1.7.6.0), so it will not be fixed in a patch version even if it was defined as major

[2019-08-30 11:39] khouloudbelguith commented on #15115
@go-sudo, The profiling mode is enabled in your case.
You need to navigate to your BO => Orders page => scroll down to the buttom of the page to check what is slow for you on the order page.

[2019-08-30 11:46] marionf commented on #15315
@Hlavtox

Yes, please read the [bug severity classification article](http://build.prestashop.com/news/severity-classification/)

[2019-08-30 11:50] Hlavtox opened #15330 "Confusing display of VAT in product BO, when VAT disabled"
**Scenario**
Merchant is not a VAT payer, so disable VAT in International > VAT.

**What's wrong - product admin**
- It shows inputs for price without tax and with tax.
- It shows a tax selection dropdown.
- It allows you to select VAT, even if it's not applied to the price in the end.

**Solution**
A) Hide the fields that are not required and display only "Price"
B) Keep it, but add a message - V

[2019-08-30 11:53] kpodemski commented on #11172
@marionf @eternoendless

you guys really need to rething this strategy, because i completely understand angry people, if you can't complete checkout it's not something what you can just postpone to next version, especially that it's very common to just move **major issues** from version to version, first label 1.7.4, no time, second label 1.7.5, no time, third label 1.7.6 no time and this way we h

[2019-08-30 11:58] PrestaSafe commented on #15329
Great ! Thanks for your report ;)

[2019-08-30 12:01] khouloudbelguith commented on #15330
Hi @Hlavtox,

Thanks for your report.
Ping @marionf, @colinegin what do you think?
If we disable taxes in the BO => International => Taxes page
![image](https://user-images.githubusercontent.com/16067358/64018995-e18f3c80-cb25-11e9-8b66-4a53a434fe0c.png)
In the BO => Product details page => can we hide all fileds related to taxes
![image](https://user-images.githubusercontent.com/16067358/64019138

[2019-08-30 12:05] Anidatte commented on #11172
@kpodemski Indeed. I'm facing this issue for some time, still waiting for fix. Placing orders is mandatory functionality, if it's not working correctly, what is the purpose of using ecommerce software like this?

[2019-08-30 12:14] eternoendless commented on #11172
In our day-to-day terminology, a regression is a _new_ bug introduced in the last _minor_ release. Admittedly, it's "language abuse" that we use to tell new bugs from old bugs apart.

In patch releases, we only accept fixes for "regressions" created in the last minor version and security fixes. We do this in order to limit the number of releases we make. Other bugs are fixed in subsequent minor re

[2019-08-30 12:16] rezanr commented on #15293
I did but it come this error

(1/1)                                     ContextErrorException                                                                  Warning: count(): Parameter must be an array or an object that implements Countable
--
in posstaticblocks.php line 143
at posstaticblocks->hookDisplayTop(array('smarty' => object(SmartyCustomTemplate), 'cookie' => object(Cookie), 'cart' => o

[2019-08-30 12:34] ConvarDeutschland opened #15331 "Translations missing - error folder missing"
Hello, we have the following error when we try to make changes in the translations ot the "legal EU" module.

Could not crawl for translation files: The "/var/www/....." directory does not exist.

If I create the folder the error change to " no translations found".

But why is the system expecting the translation in this folder"/var/cache/prod/themes/AngarTheme/translations" Thranslations are norm

[2019-08-30 12:35] ttoine commented on #11172
This is the key, even if it might take time to find the right way to do it.
What you guys prefer: a quick and dirty fix like it has been done in the past too many times?

[2019-08-30 12:40] marionf commented on #15330
Thank you for your suggestion @Hlavtox

It seems a good idea to not display the following info when taxes are disabled in International > Taxes:

- Price tax included & Tax rules fields in basic settings tab

![capture d'écran_1932](https://user-images.githubusercontent.com/13449658/64020341-a561d900-cb31-11e9-9328-5df26f21d4f5.png)

- Price (tax incl.), Tax rule fields in pricing tab & Final reta

[2019-08-30 12:55] ftardio commented on #11172
The main problem here is that this bug is not evident, so anyone can be having this in his store and doesn't know until a client claims because it. And when this happens (if it happens), you can have lost a lot of sales and even clients, because they can't finish their orders at your store. So, in my opinion, any bug that prevents finishing an order should be important enough to priorize it.

The

[2019-08-30 12:57] flavius opened #15332 "Introduce foreign keys in database schema"
Dear PrestaTeam

Are there any plans or thoughts on referential integrity, at least for new installations?

[2019-08-30 12:59] kpodemski commented on #11172
@ttoine @eternoendless

to be honest i don't recall many situations (if any) where fixing something introduced more problems, path versions were very common and people trust them, because upgrade process was WAY easier than for example from 1.7.2 to 1.7.6, and i'm with PrestaShop for over 10 years, it's more likely that newly migrated pages will introduce new problems, and because of your strategy

[2019-08-30 13:02] kpodemski commented on #11172
This is exactly what i'm thinking... guys look at the labels, 1.7.4, 1.7.5, 1.7.6, now 1.7.7. People are going here, creating issues, and they're simply ignored, even tho @khouloudbelguith is doing her job great with reproducing these issues.

Like i said, this is because bugs are not that important for you, it's better for you to have 2 more pages migrated to SF instead of -2 major issues. That's

[2019-08-30 13:05] neerajwebkul opened #15333 "Getting issue on module admin controller's render list in Prestashop V1.7.6.1 with existing data"
Hello,

Currently I am getting issue on my module's admin controller render list page in Prestashop V1.7.6.1 while my controller's render list has some data.
After research, I found that I am getting this issue because I am not using $this->identifier name similar to $this->table name on module's admin controller page.
For example, my table name is 'product_review' and here I am using primary key

[2019-08-30 13:10] khouloudbelguith commented on #15332
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-08-30 13:19] khouloudbelguith commented on #15331
Hi @ConvarDeutschland,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots
 - what is the exact name of this module?
 - This module is provided by your theme "AngarTheme"?
Do

[2019-08-30 13:20] daresh opened #15334 "Disabled languages are not displayed in import page"
**Describe the bug**
When going to Advanced Parameters -> Import the language selection form shows only active languages. I think it should show all installed languages, cause one may need to prepare the offer before turning on the language.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off some of the languages installed on the shop
2. Go to Advanced Parameters -> Import
3. See error

[2019-08-30 13:33] khouloudbelguith commented on #15293
@rezanr, you have an issue with the posstaticblocks module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-30 13:34] ttoine commented on #11172
Like Henri Ford told, if he would have listen strictly to people needs, they would have asked for faster horses, not for cars. You have to fix customer problems, but also to think about the best way to do it and sometimes, it means new ways. Cars also introduced new problems: horses don't leak oil and cars don't start with hay.

Migrating pages on Symfony, or supporting PHP 7.3/7.4, improving the

[2019-08-30 13:38] matks commented on #11172
Hi, @kpodemski you are right: merchants do not care about PrestaShop being powered by legacy system or Symfony system. However, if we stop the migration, we simply kill PrestaShop.

Why ? Because this is 2019 (soon 2020), and in 2019 modern and robust software relies on either Symfony or Laravel (like the wonderful https://sylius.com/ for example, a e-commerce framework powered by Symfony).
In ord

[2019-08-30 13:56] colinegin opened #15335 "[EPIC] Upgrade batch 2"
# Scope for the rework of the Auto-upgrade module batch 2

## 0. Welcome step
### Check if the module is up to date
- [x] PrestaShop/PrestaShop#25641

## 1. Version choice
### Stepper

## 2. Pre-upgrade step
### Maintenance mode
### Back-up
### Theme
### Modules
- [x] PrestaShop/PrestaShop#14779
### Overrides
### Cache
### Permissions
### PHP options

### Upgrade options

## 3. Upgrade step
### Pr

[2019-08-30 14:07] jf-viguier commented on #11172
Thanks @matks for this explanation, but can you explain to me why, with a modern framework like symfony, so much bugs are added when legacy part are migrated by "modern developers" ? The symfony framework should make things simplier et easier to debug ?
The cart and cart rules proccess is very complexe : so much bugs with this. Maybe this part should be redesined and rewrited from scratch and brea

[2019-08-30 14:14] Jerir opened #15336 "Email template placeholders not being replaced"
**Describe the bug**
In versions 1.7.5 and 1.7.6 there is an issue where the placeholders specified in an email template are not always replaced with actual values.

In Mail.php, $toPlugin is set to $to.  However $to is then potentially modified by the toPunycode() function before being added as the email's 'To' address.  If the toPunycode() function modifies the 'To' address, it will no longer ma

[2019-08-30 14:15] #14157 closed, assigned to Progi1984

[2019-08-30 14:28] ttoine commented on #11172
@jf-viguier please read again @matks long comment, there are most of the answers already to your questions.

Using technologies like Composer, Symfony, and other top component is the way modern softwares are developed and the way good developers are working (there are equivalent in other languages). It is an investment in the future. And, of course, I bet that when it will be finished, new ways wi

[2019-08-30 14:30] khouloudbelguith commented on #15333
Hi @neeraj751,

Thanks for your report.
Yes, I manage to reproduce the issue with PS1.7.6.1 & the `blockblog` module which is a module admin controller's render list.
https://drive.google.com/file/d/13jpnwlaVXBEyDYdYfSSbmbhbtLz2HMNQ/view
![image](https://user-images.githubusercontent.com/16067358/64027656-11940b00-cb39-11e9-802e-5710c6a916be.png)
This exception is displayed when debug mode is enab

[2019-08-30 14:43] jf-viguier commented on #11172
Thanks @ttoine for your answer but merchants and agencies are in ecommerce course, not in technology course, that's the main divergence. The balance has to be found between bug fix and technology improvement, it's not an easy one and thanks to all prestashop core team to do they best for this.

[2019-08-30 14:51] khouloudbelguith commented on #15336
Hi @Jerir,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13386
So, I close it.
Thanks!

[2019-08-30 14:51] #15336 closed, assigned to nobody

[2019-08-30 14:51] khouloudbelguith commented on #15336
Duplicate of #13386

[2019-08-30 14:59] ConvarDeutschland commented on #15331
Hello khouloudbelguith,
Please find here the request informations

- PHP error logs are not activated on this server (live system)
- Javascript console no error reported on this page
- The module name is "Legal Compliance - v3.0.2 - by PrestaShop" it is not part of the theme it's a Prestashop module

[apache_error.zip](https://github.com/PrestaShop/PrestaShop/files/3560419/apache_error.zip)
![Erro

[2019-08-30 15:01] matks commented on #11172
Because we are developers, and every developer makes mistakes, especially when working on a complex codebase like PrestaShop with very few docs (neither technical nor functional), no tests.
But when we create bugs when migrating a page to Symfony, this **is** a regression: this means it gets fixed in a patch version. This is what we promise with the "no regression" rule, this is why we say it enha

[2019-08-30 15:02] khouloudbelguith commented on #15334
Hi @daresh,

Your Language is disabled, so it is normal behavior that cannot be displayed.
In fact, when you disable this language => when we try to add a product for example manually => this language is not displayed also.

 https://drive.google.com/file/d/1mrldHOj4-U84aLi8RurYuGmbzfEOiJ0O/view

Thanks!

[2019-08-30 15:07] karilobre commented on #15320
Hi, thank you I did that but the result is that the product price shows without taxes but when I go to checkout the item Product Totals shows with taxes and this is what I need to change.

[2019-08-30 15:11] daresh commented on #15334
Hi @khouloudbelguith,

but you still can edit features, attributes etc. in all the languages.

This language hiding seems to be a new concept of prestashop 1.7, it was not in 1.6 and I encourage you to reconsider it.

If someone wants to prepare his offer in some language he wants to introduce, he may not want to turn it on from the start, but after some time when all the descriptions etc. are rea

[2019-08-30 15:17] eternoendless commented on #11172
I think there's a misunderstanding here. We all want the same: a better, faster, _bugless_ PrestaShop. Thing is, we are paying un _years_ of unhandled technical debt while providing as much backwards compatibility as possible. It's like rebuilding a house having the inhabitants still living inside it. Keeping people safe from the falling walls is tricky, and doubles the workload.

The migration is

[2019-08-30 15:20] khouloudbelguith commented on #15331
@ConvarDeutschland, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15139 to fix the issue.
It is fixed in the PS1.7.6.1.
Your ticket is a duplicate of #15133
So, I close it.
Thanks!

[2019-08-30 15:20] #15331 closed, assigned to nobody

[2019-08-30 15:20] khouloudbelguith commented on #15331
Duplicate of #15133

[2019-08-30 15:23] karilobre commented on #15295
Hi, the author told me that I can delete the ps_facetedsearch folder from the theme folder to make sure our theme doesn't override the module, so I did that but the filter still show all categories.

[2019-08-30 15:27] khouloudbelguith commented on #15295
@karilobre, could you please try switch to the classic theme & check if all categories from all levels are displayed?

Thanks!

[2019-08-30 15:39] khouloudbelguith commented on #15320
@karilobre, you have a lot of issues related to the taxes & prices are fixed in the PS1.7.6.
You can check those tickets:
- https://github.com/PrestaShop/PrestaShop/issues/11360
- https://github.com/PrestaShop/PrestaShop/issues/10013
- https://github.com/PrestaShop/PrestaShop/issues/9698

Thanks to check & feedback.

[2019-08-30 15:51] kpodemski commented on #11172
It's not that i don't want a migration, i just dream about 1-2 month period of focusing to have major issues fixed, that's all.

[2019-08-30 15:52] FtigerARG opened #15338 "Translation manager searches return only first result"
![Screenshot_1](https://user-images.githubusercontent.com/54717602/64034142-6a0cdd80-cb24-11e9-9bb0-6e663f96ae99.png)

Even though the search returns 156 expressions, only the first one is listed.

Go to  International on left menu -> Translations -> click Modify button -> search for anything general to ensure many results are found

PrestaShop version: 1.7.6.0
PHP version: 7.3.4

[2019-08-30 15:58] khouloudbelguith commented on #15338
Hi @FtigerARG,

You need to click on the other links to display other expressions.
https://drive.google.com/file/d/1M8ppOfP0cUR9tHTulH_1ucXpaGTKlvJN/view
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/n

[2019-08-30 16:02] khouloudbelguith commented on #15334
@daresh, thanks for these clarifications.
Yes, in the Attributes page, the disabled language is displayed.
![image](https://user-images.githubusercontent.com/16067358/64035001-9d149880-cb47-11e9-923a-28f991e0af2a.png)
Ping @matks is this a desired behavior during the migration, the disabled language will not be displayed?
![image](https://user-images.githubusercontent.com/16067358/64035121-e6fd7e8

[2019-08-30 16:05] matks commented on #15334
@khouloudbelguith this is rather a question for Product 😉

[2019-08-30 16:21] FtigerARG commented on #15338
Wow thanks for that instant response. PHP version downgraded, thank you for the advice (hadn't noticed problems with v7.3 though).
Didn't realize the search worked that way, sorry for posting it as a bug... let's make this a suggestion instead of an issue then:
It would be nice if the links on the left would get filtered after a search, to avoid the need to click one by one to find out whether a r

[2019-08-30 16:56] pollat opened #15339 "Mail Alert plugin on Prestashop 1.7.6 have some php errors and cause some other plugin errors"
I updated prestashop to 1.7.6 version, but the "Mail alert" plug-in reports the following php errors:

#1 /home/tn382c5o/public_html/modules/ps_emailalerts/ps_emailalerts.php(330): ToolsCore::displayPrice(49.99, Object(Currency), false)

#2 /home/tn382c5o/public_html/classes/Hook.php(970): Ps_EmailAlerts-&gt;hookActionValidateOrder(Array)

#3 /home/tn382c5o/public_html/classes/Hook.php(355): HookC

[2019-08-30 17:17] #15338 closed, assigned to nobody

[2019-08-30 19:07] hacchus commented on #15319
@maofree @Vicdetailer Hi, a month ago I made this pull request #14215 that I think it might help you solve your problem.

[2019-08-30 19:46] pkirk commented on #11323
Lost a couple of hours to that. Using private navigation/incognito mode resolved. F**k PayPal.

[2019-08-30 22:15] mickaelandrieu commented on #15324
Hello @khouloudbelguith,

does https://github.com/PrestaShop/PrestaShop/pull/15081 fixes this error ?

[2019-08-31 08:07] neerajwebkul commented on #15333
Hello @khouloudbelguith ,

I have sent a pull request - #15341
Please check.

Thanks

[2019-08-31 08:16] Maofree opened #15342 "ps_facetedsearch selections and paginations doesn't scroll to the top"
Hi
in some cases I've seen that after a selection or after push on the pagination the customer is move to the top of page, and it is right. but in some cases this is not happen like in this site
https://www.samitech.it/3-elettrodomestici
instead in this site all is ok
https://www.lampadaribartalini.it/luce-illuminazione-vendita-online/6-lampadari-sospensione

this behavior is managed from the modu

[2019-08-31 09:52] nosoy76 opened #15343 "Type error: Argument 3 passed to LinkBlockRepository::__construct() must be an instance of PrestaShopBundle\Translation\TranslatorComponen"
Greetings to all!
I am working on a project in which we need to upgrade the core of Prestashop from version 1.7.2.0 to version 1.7.6.1.
Try using 1-Click Upgrade, but it didn't work. I just did nothing when I clicked on the "Upgrade Now" button.
Perform a manual update.
After the update, when trying to access the "Modules" section, the following error appears (I have activated the debug mode).

"F

[2019-08-31 10:32] nosoy76 commented on #15343
A detail that I missed. Nor can I see the Catalog of Modules.
![Catalogo Modulos](https://user-images.githubusercontent.com/54738837/64062762-fb428980-cbe2-11e9-9577-fc9ffadb9429.JPG)

[2019-08-31 14:01] 01park opened #15344 "1.7.6.1 Moving parent category to sub category not possible. Not expanding - Safari browser"
Im trying to move a category to a sub category but sub categorys are not expanding. Not able to move.

 We need to use Safari browser (Chrome => OK)

PrestaShop version: 1.7.6.1
PHP version: 7.2

[2019-08-31 14:55] TemKaSD opened #15345 "How do I disable vouchers?"
Hello. How do I disable vouchers in admin cp?

[2019-08-31 15:27] kpodemski commented on #15345
Catalog -> Discounts, disable all discounts from the list

[2019-08-31 15:34] TemKaSD commented on #15345
@kpodemski
![Screenshot_3](https://user-images.githubusercontent.com/6318282/64066037-b0fbef80-cc58-11e9-9f9a-8749dd7250f9.png)

[2019-08-31 15:49] kpodemski commented on #15345
Ok so... what exactly you want to disable? :D you don't have any vouchers

[2019-08-31 16:08] TemKaSD commented on #15345
Me need set PS_CART_RULE_FEATURE_ACTIVE 0 from admin cp.

[2019-08-31 17:07] gotthardsen commented on #15247
What was your solution? I got the same problem updating from 1.7.5 to 1.7.6 but can't find any docs for that table

[2019-08-31 18:28] Flower7C3 opened #15346 "Translations is not applied from valid theme"
**Describe the bug**
I have multishop. I have one master theme and child themes. Each shop has own child theme. In some fields has different values for each shop. But on front office only latest translation is applied to all shops. Presta does not check theme value.

When I clear cache and open shop 1 value from shop 1 appears also in shop 2.
When I clear cache again, but first open shop 2, this v

[2019-09-01 00:01] arouiadib commented on #15339
@pollat What is the exact error message?

[2019-09-01 07:51] PierreRambaud commented on #15342
Hi,

As far as I know, the scroll behavior is managed by the theme, not facetedsearch. 🤔

[2019-09-01 10:10] pks891618 opened #15347 "On checkout getting error: Your address is incomplete, please update it."
Here is  how we can generate this error

Please place order on the site  https://www.gsmstyle.fr/  on the checkout page after you successfuly add the address and try to do the checkout you see the error.

Here is error screenshot

http://i.imgur.com/VJwpqQF.png

[2019-09-01 10:31] maofree commented on #15342
Hi Pierre
I thought it was managed by the module, because with the last version of the module after a selection the preload logo is the same on all themes, are you sure that it ia managed by the theme?

![11](https://user-images.githubusercontent.com/653230/64075118-6dcf6a00-ccb4-11e9-9a21-39b4e422d68b.png)

[2019-09-01 10:54] PierreRambaud commented on #15342
yes we add the loader, but the scroll was already on the classic theme:
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/_dev/js/listing.js#L146

[2019-09-01 10:55] maofree commented on #15342
ok thanks for the info
bye

[2019-09-01 11:36] PierreRambaud commented on #15342
No problem, you're welcome!

[2019-09-01 11:36] #15342 closed, assigned to nobody

[2019-09-01 14:53] dtwfung opened #15348 "Order cannot offer FULL Refund in 1.7.5.1"
I am new to Prestashop 1.7.5 but has been using 1.6 for few years.
In PS 1.6, order can be FULLY refund or partial refund as soon as the order has not been delivered, But, in 1.7.5, NO FULL refund button is available. Partial refund is available.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an order with paypal payment
2. Order can be created successfully.
3. No FULL Refund fucntio

[2019-09-01 17:47] Padelhouse opened #15349 "error 500 after upadate to 1.7.6"
Hi! I've uptadated prestashop to 1.7.6.0 and I cannot display product pages on the frontoffice, appears error http 500. I've activaed bug report and i have this:

(1/1) ContextErrorException

Notice: Undefined index: request

in 43d584824ba8b6457704504890baeda36692db6b_2.file.socialsharing_header.tpl.cache.php line 27

at content_5d67e3e01e8338_68570556(object(SmartyCustomTemplate))in smarty_templ

[2019-09-01 18:16] toar86 opened #15350 ""ps_facetedsearch" Module dont check avaibility combination"
When user select product attributes (not features), then avaibility always display product, not selected combination.

Eg. I selling rugs, i have rug X which have product combinations (size and shape):
Circle - 120x120 cm - avaible: 2 items
Circle - 140x140 cm - not avaible
Rectangle - 120x180 cm - not avaible
Rectangle - 200x220 cm - not avaible.

when i select on filters size 140x140 cm, i alway

[2019-09-01 20:18] Hlavtox commented on #14658
@marionf You can close this issue. Fixed.

After 3.2.1, there is no posibility to reach this state I think, as it hides all "unsuable" values. :-)

[2019-09-01 20:22] Hlavtox commented on #14655
@marionf Fixed on 3.2.1. It hides all values, which do not match any product. You can close it.

@PierreRambaud Faceted search is great again!!! 🚀

PS: Add stock filtering by quantity and it will be even greater 💣;-)

[2019-09-01 20:33] msaustral opened #15351 "On click all products it show product from categories not assigned to visitor"
Hi, we create a new group of users and assign a special category to them, so only selected client can see this products.

![image](https://user-images.githubusercontent.com/46203943/64081939-af244180-ccd5-11e9-92ad-7a94784a1c33.png)

when you click on the category it say you are not authorized and do not show any product as should be.

![image](https://user-images.githubusercontent.com/46203943/64

[2019-09-01 21:30] JulianEberius commented on #9767
The issue is still present in 1.7.6.0 . I think a simpler fix then the one by @AdrienPlx  is possible: instead of adding to the whitelist in ProductListingFrontControllerCore, simply add to the whitelist in SearchResultProductFilter itself.

[2019-09-02 00:31] go-sudo commented on #15115
![image](https://user-images.githubusercontent.com/11594433/64084255-609c9480-cd21-11e9-9ecd-dd189ce2cd43.png)

[2019-09-02 04:20] TomHsiung commented on #13825
Hello, how about the progress? Still under investigation?

[2019-09-02 07:14] khouloudbelguith commented on #14940
Hi @clubedovapor,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-02 07:14] #14940 closed, assigned to nobody

[2019-09-02 07:16] khouloudbelguith commented on #14950
Hi @vincentsuperscale,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-02 07:16] #14950 closed, assigned to nobody

[2019-09-02 07:18] khouloudbelguith commented on #14944
Hi @psydomin,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-02 07:18] #14944 closed, assigned to nobody

[2019-09-02 07:29] khouloudbelguith commented on #15350
Hi @toar86,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15056
So, I close it.
Thanks!

[2019-09-02 07:29] #15350 closed, assigned to nobody

[2019-09-02 07:29] khouloudbelguith commented on #15350
Duplicate of #15056

[2019-09-02 07:30] #15305 closed, assigned to nobody

[2019-09-02 07:31] #14658 closed, assigned to nobody

[2019-09-02 07:34] marionf commented on #14655
Thank you for your feedback @Hlavtox it's nice to hear :)

[2019-09-02 07:34] #14655 closed, assigned to marionf, colinegin

[2019-09-02 07:35] khouloudbelguith commented on #15344
Hi @01park,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/19JaOVcAjhs99AUHPpwfBrM9LNcre6QGB/view
Thanks to check & feedback.

[2019-09-02 07:47] PrestaShark commented on #15056
Unfortunately 3.2.1 version did not fix this issue but... keep up a good work @PierreRambaud !

[2019-09-02 07:48] khouloudbelguith commented on #15339
Hi @pollat,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_emailalerts module v2.1.1 & PHP7.2.13
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to

[2019-09-02 07:51] 01park commented on #15344
@khouloudbelguith

Thank you for testing.

I have retested the issue myself and discovered that its browser related. The expand works in Chrome, but not in Safari. I did not check other browsers.

[2019-09-02 07:56] zell9999 commented on #15310
I have the same problem. Many people have this problem, especially those who have prestashop in Spanish.
This error is still not fixed but @khouloudbelguith can not reproduce it....

[2019-09-02 08:29] khouloudbelguith commented on #15347
Hi @pks891618,

Could you please navigate to your BO => Customers => Addresses => Check if you have any field set as required.
If yes, you need to navigate to BO => International => Locations => Countries Tab => Edit your country =>  check your Adrees format is complete (the required fiels is added to this format).
Thanks to check & feedback.

[2019-09-02 08:45] slomoo opened #15353 "Picture Address Display 404"
![image](https://user-images.githubusercontent.com/49021553/64101285-1f979500-cda0-11e9-8c86-78e6b10068be.png)

![image](https://user-images.githubusercontent.com/49021553/64101320-30480b00-cda0-11e9-92f3-9ae7ae1d2ca7.png)

![image](https://user-images.githubusercontent.com/49021553/64101704-00e5ce00-cda1-11e9-81a1-d9770b94dade.png)

PrestaShop Version : 1.7.6.0

What is this situation?

[2019-09-02 08:48] khouloudbelguith commented on #15349
Hi @Padelhouse,

You have an issue with the `socialsharing` module.
It could be not compatible with PS1.7.6.1.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them &feedback.

[2019-09-02 08:53] khouloudbelguith commented on #15353
Hi @slomoo,

Could you please try to regenerate thumbnails.
You need to navigate to your BO => Design => Image Settings => On the bottom of the page => Click on Regenerate thumbnails button.
![image](https://user-images.githubusercontent.com/16067358/64102247-7765da00-cd67-11e9-9640-7a3a403f8c19.png)

Also, you need to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disab

[2019-09-02 08:56] khouloudbelguith commented on #9832
Same issue with PS1.7.6.1

[2019-09-02 08:58] khouloudbelguith commented on #15351
Hi @msautral,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9832
So, I close it.
Thanks!

[2019-09-02 08:58] #15351 closed, assigned to nobody

[2019-09-02 08:58] khouloudbelguith commented on #15351
Duplicate of #9832

[2019-09-02 08:58] pks891618 commented on #15347
http://i.imgur.com/tcx2ReV.png
http://i.imgur.com/iFqQYi1.png

still not working

[2019-09-02 09:03] slomoo commented on #15353
hi，I followed the steps you said and the results remained the same.

| |
slomoo
|
|
slomoo@126.com
|
签名由网易邮箱大师定制
On 9/2/2019 16:53，khouloudbelguith<notifications@github.com> wrote：

Hi @slomoo,

Could you please try to regenerate thumbnails.
You need to navigate to your BO => Design => Image Settings => On the bottom of the page => Click on Regenerate thumbnails button.

Also, you need to regenera

[2019-09-02 09:04] khouloudbelguith commented on #15347
@pks891618, in your BO => Customers => Addresses => you need to Check if you have any field set as required.
See Screenshot
![image](https://user-images.githubusercontent.com/16067358/64103001-058e9000-cd69-11e9-9e55-e9451cb7aa6a.png)

Thanks!

[2019-09-02 09:07] khouloudbelguith commented on #15353
@slomoo, this issue occurs when the friendly URL is enabled or disabled?

Thanks!

[2019-09-02 09:13] slomoo commented on #15353
@khouloudbelguith
![image](https://user-images.githubusercontent.com/49021553/64103463-eb72a300-cda4-11e9-8f27-ab3accc39271.png)
How do I operate this?

[2019-09-02 09:14] khouloudbelguith commented on #15343
Hi @nosoy76,

Could you please try to re-install the ps_linklist module by deleting this module folder after uninstall.
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-09-02 09:18] khouloudbelguith commented on #15353
@slomoo, you need to navigate to your BO => Shop Parameters => Traffic & SEO => SEO & URLs page => Set up URLs section => you can enable & disable Friendly URL
![image](https://user-images.githubusercontent.com/16067358/64103842-f6104680-cd6a-11e9-91f3-d1dd09f10ec3.png)

Thanks!

[2019-09-02 09:21] ttoine commented on #11323
please stay polite.

[2019-09-02 09:26] slomoo commented on #15353
It's still what it used to be.

My address ： shop.slomoo.cn

[2019-09-02 09:28] khouloudbelguith commented on #15353
@slomoo, are you using Nginx?
Thanks!

[2019-09-02 09:29] slomoo commented on #15353
@khouloudbelguith  yes.

[2019-09-02 09:40] PierreRambaud commented on #15223
Hey @khouloudbelguith can you try again, I'm not able to reproduce:
![image](https://user-images.githubusercontent.com/1462701/64105365-62447780-cd76-11e9-8c05-41f9ff817dce.png)
![image](https://user-images.githubusercontent.com/1462701/64105396-712b2a00-cd76-11e9-9502-d2aa43462839.png)

[2019-09-02 09:43] PierreRambaud commented on #15278
Should have been fix with the latest release.

[2019-09-02 09:50] khouloudbelguith commented on #15346
Hi @Flower7C3,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I used those themes
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3565446/childtheme-example.zip)
[mythem.zip](https://github.com/PrestaShop/PrestaShop/files/3565447/mythem.zip)
The translation is updated in all shops
If I translation is always updated as the first shop aft

[2019-09-02 09:52] marionf commented on #15223
@Twabi2
Could you try to click on "Index all missing prices" and "Clear cache" in faceted search module ?

[2019-09-02 10:01] ttoine commented on #11172
this is your priority and devs would love that.
and on the other side, more people are waiting for other priorities...
difficult to handle all needs.

[2019-09-02 10:16] marionf commented on #11119
@PrestaShop/prestashop-core-developers Can we close this issue if no changes are required ?

[2019-09-02 10:24] marionf commented on #13166
I can't reproduce, I have only one "multistore" option in the dropdown

[2019-09-02 10:24] #13166 closed, assigned to nobody

[2019-09-02 10:29] khouloudbelguith commented on #14735
Hi,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-09-02 10:29] #14735 closed, assigned to nobody

[2019-09-02 10:37] khouloudbelguith commented on #15348
Hi @dtwfung,

In your BO => Customer Service => Marchandise Returns => thanks to enable this oprion "Enable returns"
![image](https://user-images.githubusercontent.com/16067358/64108916-1265b080-cd76-11e9-980b-a7d7d950e5db.png)

Also PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For

[2019-09-02 10:58] khouloudbelguith commented on #15223
Hi @PierreRambaud,

I tried with PS1.7.6.1 & ps_facetedsearch v3.2.1.
Cache is cleared & Price is indexed
https://drive.google.com/file/d/1wrURuqmTKH7BgSCZa6LnwMWaj_KsNRi3/view
In this second shop "Price High to Low" is incorrect.
- The product which is wrong: has a price 17.500000 Tax included
- In my second shop the Tax is disabled & Catalof rule with reduction 50%

![image](https://user-images.

[2019-09-02 11:01] khouloudbelguith commented on #15278
@lowfear, did you tried with ps_facetedsearch v3.2.1?
Thanks to check & feedback.

[2019-09-02 11:12] khouloudbelguith commented on #15353
@slomoo, it could be an issue related to the configuration of your server.
Thanks to follow this link
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
here's the the exact configuration for the images
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L83
Also, we have

[2019-09-02 11:19] dtwfung commented on #15348
Thx for prompt response. I used PHP 7.1 before but did not have Marchandise Returns enabled.
I have downgraded to PHP 7.1 and enabled the option. Now I see the refund button. Will do more testing on it.

[2019-09-02 11:32] khouloudbelguith commented on #15344
@01park, thanks for these clarifications.
I tried with OS => Windows& os_version=10 &browser=Safari & browser_version=5.1
https://drive.google.com/file/d/1BRv46wbZrwJ9rhyo45xRqAb8IrQwfEI2/view
With PS1.7.6.1/ PS1.7.6.0 => NOK

![image](https://user-images.githubusercontent.com/16067358/64111908-b7d05280-cd7d-11e9-80ec-8658c45a8530.png)
With PS1.7.5.2 => OK
![image](https://user-images.githubuserco

[2019-09-02 11:36] khouloudbelguith commented on #15348
@dtwfung, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-02 11:38] khouloudbelguith commented on #13825
Hi @TomHsiung,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-09-02 11:41] khouloudbelguith commented on #15115
@go-sudo, thanks for your feedback.
You have some modules installed, they could be causing this issue.
![image](https://user-images.githubusercontent.com/16067358/64112270-dc78fa00-cd7e-11e9-9cd5-a7116987067b.png)
As they are not provided by Prestashop, we can't do anything with this.
You should contact the module's authors via your addons.prestashop.com account, they are the only ones to help you

[2019-09-02 11:46] sanguine14 opened #15356 "[BUG] 1.6.1.11 File manager doesn't display my images on product descriptions"
Hi,
I'm having an issue with the 1.6.1.11 version of Prestashop on the website of my company.
To be clear, this is a huge issue because we can't add any picture on the "description" field on any product pages.
In fact, our pictures just don't show in the file manager, so we can't add it in the description.

https://gyazo.com/a5c28370fd164538263e838d447867de

As you can see on this gif ⬆, the file

[2019-09-02 11:47] khouloudbelguith commented on #15338
@FtigerARG, we have a new feature added to PS1.7.7.0.
Translations search : menu items active or not.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12997 to add this feature.
Thanks!
Feel free to open a new one when needed.

[2019-09-02 11:54] go-sudo commented on #15115
Hello

I appreciate your help and i will contact theme soon

Regards

[2019-09-02 11:55] khouloudbelguith commented on #15356
Hi @sanguine14,

I did not manage to reproduce the issue with PS1.6.1.24 & PS1.7.6.0
https://drive.google.com/file/d/1ivvfak2KB9th1HCFbzW0X2qG7ulem2Wp/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this

[2019-09-02 11:55] #15356 closed, assigned to nobody

[2019-09-02 11:56] khouloudbelguith commented on #15115
@go-sudo, thanks!
Waiting for your feedback.

[2019-09-02 12:12] FtigerARG commented on #15330
In this scenario, the product page on FO shows "Tax excluded" below the price... It would be nice to have an option to hide that

[2019-09-02 12:13] rvalery opened #15358 "Notice: Undefined offset 0 when generating PDF invoice for order with customized data"
**Describe the bug**
When you try to generate PDF invoices by date, a PHP notice is displayed if an order contains a product with a text customization field, but no file customization field. (I assume it will also fail if product contains a file customization field but no text customization field).

The PHP notice is "Notice: Undefined offset: 0" (see screenshot below)

**To Reproduce**
Steps to r

[2019-09-02 12:40] colinegin opened #15359 "[EPIC] Migrate data from PS 1.6 modules when installing 1.7 ones"
Upgrading to PS 1.7 requires to install new modules, especially modules which provide the same feature as in 1.6 but which have a different technical name, preventing them from being only upgraded.

During this process, we should migrate the data from the previous module (the similar one built for 1.6) before uninstalling it. Then, the new module will install itself and retrieve the details from t

[2019-09-02 12:54] #15248 closed, assigned to nobody

[2019-09-02 12:55] colinegin commented on #15248
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/13890

[2019-09-02 12:56] khouloudbelguith commented on #15358
Hi @rvalery,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 / PS1.7.6.0 & PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/64116129-5c0bc680-cd89-11e9-877c-3c083c5d1f4d.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-02 12:57] web-burn commented on #14878
Hello @khouloudbelguith,

In new version of PrestaShop 1.7.6.1 a new errors occur in settings of module "Product comments". You can see it with "Debug mode" only.
![Screenshot_1](https://user-images.githubusercontent.com/22581200/64116192-b5342400-cda2-11e9-99a6-ded58629c28c.jpg)

[2019-09-02 13:01] sitolab opened #15361 "Problem with Tax Round"
Hi Guys,
there are problems with tax round (the same error with PRESTASHOP 1.6/1.7)

file.1 - configuration
file.2 - error with total price (with tax)

Any Solution?
Best Regards,

Luigi.
![configurazione](https://user-images.githubusercontent.com/35496189/64116402-8c0b9780-cd92-11e9-86d1-dfe0967d5501.png)
![errore](https://user-images.githubusercontent.com/35496189/64116403-8c0b9780-cd92-11e9-887

[2019-09-02 13:09] khouloudbelguith commented on #15318
Same issue with Product comments module v4.0.0.
![image](https://user-images.githubusercontent.com/16067358/64116817-41d2e800-cd8b-11e9-9135-ad83391df0ac.png)

Thanks!

[2019-09-02 13:10] khouloudbelguith commented on #14878
Hi @web-burn,

Issue reported here: https://github.com/PrestaShop/PrestaShop/issues/15318

Thanks!

[2019-09-02 13:22] khouloudbelguith commented on #15361
Hi @sitolab,

We are aware of the Rounding issue.
Your ticket is a duplicate of #9779
You can also these issues: #9981 & #9815
So, I close it.
Thanks !

[2019-09-02 13:22] khouloudbelguith commented on #15361
Duplicate of #9779

[2019-09-02 13:23] zuk3975 opened #15362 "FO not working due to error in module"
**Describe the bug**
in develop branch Front Office is not working due to error coming from ps module. See screenshot below. Reinstalling the shop/composer/clearing cache doesn't seem to help.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to front office
2. See error

**Screenshots**
![Screenshot from 2019-09-02 16-20-35](https://user-images.githubusercontent.com/31609858/64117359-a7c86

[2019-09-02 13:28] khouloudbelguith commented on #15362
Hi @zuk3975,

What is the exact version of the ps_emailsubscription module did you use?
In my case ps_emailsubscription v2.5.0 => OK

Thanks!

[2019-09-02 13:40] zuk3975 commented on #15362
v2.3 it was.
After updating ps_emailsubscription to 2.5 and ps_contactinfo to 3.2 it starts works. I suppose those modules should be updated in composer.json, to be working from clean ps install.

[2019-09-02 13:47] khouloudbelguith commented on #15362
@zuk3975, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15354 to update composer.

Thanks!

[2019-09-02 13:47] #15362 closed, assigned to nobody

[2019-09-02 13:49] ninefingersodnd opened #15363 "Undefined index:name after fresh install 1.7.6.1 for Jamarketplace module"
**Describe the bug**
After installation of the new prestashop 1.7.6.1 i get a error when using the widget links of Jamarketplace on the left side in the menu. in 1.7.6.0 it isworking fine, but i can't see a major change in the 2 versions of prestashop.

Symfony\Component\Debug\Exception\ContextErrorException:
Notice: Undefined index: name

  at var/cache/dev/smarty/compile/f0/91/fa/f091fac4f79c95f

[2019-09-02 13:56] khouloudbelguith commented on #15324
Hi @mickaelandrieu,

I checked your PR but I have issues.
- `php -d memory_limit=-1 ./bin/console cache:clear`

[code]

- `php -d memory_limit=-1 ./bin/console cache:clear --env=prod`

[code]
Thanks!

[2019-09-02 14:01] khouloudbelguith commented on #15363
Hi @ninefingersodnd,

Did you tried to install this module: https://addons.prestashop.com/en/marketplace-creation/18656-ja-marketplace.html?

Thanks!

[2019-09-02 14:02] rvalery commented on #15358
Thanks for your reply.
Unfortunately I have not yet found a way to correct this. I don't know if the problem is from Smarty itself (changing the isset into "!==null" check), or if it comes from a Prestashop configuration, or something in the way Prestashop uses smarty to compile templates. I will try to dig further in the code if I can find the time this week.

[2019-09-02 14:13] TomHsiung commented on #13825
Hello, @khouloudbelguith
Thank you for the elucidation. Although the manual update of the currency exchange rate is annoying, I will wait your official fix.

Appreciating your hard working!

[2019-09-02 14:17] ninefingersodnd commented on #15363
Yes i dit, the 1.7.6.1 version

[2019-09-02 14:19] sitolab commented on #9779
solution ?

[2019-09-02 14:24] khouloudbelguith commented on #15363
@ninefingersodnd, have you tried to contact the module author?
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback

[2019-09-02 14:25] #15361 closed, assigned to nobody

[2019-09-02 14:27] ninefingersodnd commented on #15363
I have ask the question this morning. And knowing he is gonna solve it. The question for me is... I can't see mayor changes in the prestashop core that cause this problem. There is no change in handlers etc.

Thanks for your quick responses khouloudbelguith

[2019-09-02 14:30] MonkeyTime opened #15365 "webservice API fatal error The service doctrine.orm.default_entity_manager has a dependency on a non-existent service prestashop.database.naming_strategy"
**Describe the bug**

I try to access via Postman to my webservice (under development). The adress is https://K6B8Y3Q4DIEUYHC6G6NBE3ZQ1SF8DCCI@mydomain.localhost/shop/api/?output_format=JSON

**To Reproduce**
Steps to reproduce the behavior:
1. Activate Api
2. generate a key
3. Try in debug mode
4. Try in production mode
5. Nothing work (**services_dev.yml not generated**)
6. Try https://K6B8Y3Q4D

[2019-09-02 14:32] Klemart3D opened #15366 "No "manufacturer" variable in HookfilterManufacturerContent"
**Describe the bug**

In a custom module, I created functions from [native hooks](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)  to extends some PrestaShop entities by adding them some custom variables.

[code]
Why I can't acces to Manufacturer's variables with the hook **filterManufacturerContent** ? Does it expected behavior?

Thanks for help.

**Additional informatio

[2019-09-02 14:39] zuk3975 opened #15367 "Supplier logo doesn't change in grid between multiple shops"
**Describe the bug**
When sharing supplier in couple shops, changing the supplier logo in one shop, does not change the logo in another shop (grid only). In form, the logo is changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Have at least 2 shops with same supplier
2. Change supplier logo in shop 1
3. Go to shop 2 suppliers list -> supplier logo not changed.
4. Press Edit supplier ->

[2019-09-02 14:40] zuk3975 commented on #15367
Is being solved within Suppliers migration in #13485

[2019-09-02 14:50] khouloudbelguith commented on #15367
Reproduced with PS1.7.6.1.

[2019-09-02 14:52] PierreRambaud commented on #15223
Can you tell me if with my new PR everything is ok for you? https://github.com/PrestaShop/ps_facetedsearch/pull/130

I also add a hook when Catalog Price Rules is set.

[2019-09-02 14:59] lordchukz commented on #15270
Thanks a lot @khouloudbelguith and @sarahdib sarahdib for your assistance and intervention.
Just want to inform you that problem has been solved. Error due to server configuration. Changed host, and reinstalled all modules, all is working fine now. Regards.

[2019-09-02 15:07] #15308 closed, assigned to nobody

[2019-09-02 15:11] khouloudbelguith commented on #15365
Hi @MonkeyTime,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1w9Giiu32E3rT2NYHgJNb80msKBmSvrUG/view
Thanks to check & feedback.

[2019-09-02 15:20] khouloudbelguith commented on #14688
Same issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/64123913-88314280-cd9d-11e9-8ae1-9ead3b652d43.png)
The latest version is PS1.7.6.1

[2019-09-02 15:21] khouloudbelguith commented on #15345
Hi @TemKaSD,

When all cart rules are disabled or deleted => the `PS_CART_RULE_FEATURE_ACTIVE` is null.
I attached a screen record
https://drive.google.com/file/d/1IgZa6zedM7BXFmhYnfDwJg7kv0_DxtZB/view
Thanks to check & feedback

[2019-09-02 15:24] TemKaSD commented on #15345
@khouloudbelguith thx.

[2019-09-02 15:26] khouloudbelguith commented on #15366
Hi @Klemart3D,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-09-02 15:30] khouloudbelguith commented on #15363
@ninefingersodnd, have you an error something like this
![image](https://user-images.githubusercontent.com/16067358/64124466-fe827480-cd9e-11e9-8d7c-65bdfa857325.png)
As described in this ticket: https://github.com/PrestaShop/PrestaShop/issues/15318

Thanks!

[2019-09-02 15:32] khouloudbelguith commented on #15345
@TemKaSD, in your case, what is the exact value of `PS_CART_RULE_FEATURE_ACTIVE`?

Thanks!

[2019-09-02 15:32] ElderTugBoat786 opened #15369 "No all shipping methods show in multicarrier scenario"
### Describe the bug
If I add two products to the cart with two different shippers, only the last product is shown to me.

### Steps To Reproduce

1. Add two products to the cart with different shippers
2. Get to the checkout shipping side
3. Missing some shipping method.

### Screenshots

https://drive.google.com/file/d/1bSjD44ilLYlmBuem39gq16S169i2HfZP/view

![image](https://user-images.githubus

[2019-09-02 15:35] TemKaSD commented on #15345
@khouloudbelguith I install PrestaShop, PS_CART_RULE_FEATURE_ACTIVE = 1. Is that right?

[2019-09-02 15:39] khouloudbelguith commented on #15345
@TemKaSD, fresh install PrestaShop is 0 https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/install-dev/data/xml/configuration.xml#L422
Thanks!

[2019-09-02 15:50] khouloudbelguith commented on #15369
Hi @ElderTugBoat786,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/64125421-ccbedd00-cda1-11e9-892f-bb76f93e0523.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-02 15:52] khouloudbelguith commented on #15369
Related to https://github.com/PrestaShop/PrestaShop/issues/9594

[2019-09-02 15:59] TemKaSD commented on #15345
@khouloudbelguith Really. Sorry.

[2019-09-02 15:59] #15345 closed, assigned to nobody

[2019-09-02 16:03] khouloudbelguith commented on #15345
@TemKaSD, feel free to open a new one when needed.

Thanks!

[2019-09-02 16:09] khouloudbelguith commented on #15223
@PierreRambaud, yes, I checked your PR & it is OK for me
https://drive.google.com/file/d/1CTY3q4xQqxdc63mxd-UbHBJ86zauBx0J/view
Thanks!

[2019-09-02 16:10] khouloudbelguith commented on #15270
@lordchukz, Great!
Thanks for your feedback.

[2019-09-02 16:11] pks891618 commented on #15347
thanks its worked

[2019-09-02 16:11] #15347 closed, assigned to nobody

[2019-09-02 16:11] khouloudbelguith commented on #15283
@lordchukz, according to this comment: https://github.com/PrestaShop/PrestaShop/issues/15270#issuecomment-527176800
Your issue is solved?

Thanks!

[2019-09-02 16:12] lordchukz commented on #15283
Exactly,

Thanks.

[2019-09-02 16:13] khouloudbelguith commented on #15283
@lordchukz, it is OK?
Thanks!

[2019-09-02 16:14] khouloudbelguith commented on #15347
@pks891618, great!
Feel free to open a new one when needed.

[2019-09-02 16:14] lordchukz commented on #15283
@khouloudbelguith yes site is working perfectly fine now. Thanks.

[2019-09-02 16:15] khouloudbelguith commented on #15283
@lordchukz, Great!
I close the issue, feel free to open a new one when needed.

[2019-09-02 16:15] #15283 closed, assigned to nobody

[2019-09-02 16:52] MonkeyTime commented on #15365
Can you try via Postman to check if your API work ?

In debug mode when I try via Postman to chack the api with this kind of link https://K6B8Y3Q4DIEUYHC6G6NBE3ZQ1SF8DCCI@mydomain.localhost/shop/api/?output_format=JSON

The error is produced.

[2019-09-02 17:21] lilwayne470 commented on #15212
Thanks you @khouloudbelguith, i will update my version and see if it work

[2019-09-02 18:40] Cofur64 commented on #15363
Hello, I have exactly the same problem and I am waiting for a response from the developer! I enclose the link of the page.
 ninefingersodnd do you have the same problem as me (file attached)
![5d6cd17def0e3](https://user-images.githubusercontent.com/54817051/64130313-dfe1a500-cdc1-11e9-9e83-ca5c2c5d61b6.png)

[2019-09-02 18:52] banan44 commented on #14816
Hi @khouloudbelguith
Can you check the logs I have sent?

[2019-09-02 20:31] ghost opened #15370 "Upgrade 1.7.5.1 to 1.7.6.1"
[code]

`[INTERNAL] /home/xxxxx/domains/yyyyy.pl/public_html/backup/src/PrestaShopBundle/PrestaShopBundle.php line 64 - Error: Class 'PrestaShopBundle\DependencyInjection\Compiler\OverrideTwigServiceCompilerPass' not found #0 /home/xxxxx/domains/yyyyy.pl/public_html/backup/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php(797): PrestaShopBundle\PrestaShopBundle->build(Object(Symfo

[2019-09-02 21:49] presciak commented on #14595
the store is a multisite with 4 domains
I made updates from 1.7.5.2 to 1.7.6.1
Unfortunately, I still have a 500 error after logging in to the store panel
version php7.1
the update was successful
however, I found in the update logs:

[OK] SQL 1.7.6.1 SET NAMES 'utf8'<\/div>","
[OK] PHP 1.7.6.1 : \/* PHP:ps_1761_update_currencies(); *\/<\/div>"],"nextErrors":["[INTERNAL] \/usr\/home\/xxx\/domains\/

[2019-09-02 21:53] PrestaShark commented on #15370
Issue caused by the issue with cloning site. After reupload all process go flawless

[2019-09-02 21:53] #15370 closed, assigned to nobody

[2019-09-03 04:06] jshrek opened #15372 "Enable SSL on All Pages does not work on backend admin"
**Describe the bug**
When you set CONFIGURE > SHOP PARAMETER > GENERAL > ENABLE SSL ON ALL PAGES = YES it only works on Frontend pages but no on Backend Admin pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Set CONFIGURE > SHOP PARAMETER > GENERAL > ENABLE SSL ON ALL PAGES = YES
2. Go to Frontend page using non-ssl HTTP and it will automatically redirect to HTTPS (this works fine).
3.

[2019-09-03 04:10] jshrek opened #15373 "After new installation, Frontend access gives Page Not Redirecting error"
**Describe the bug**
The installation went well as far as unpacking and creating database and connecting to the database (pretty standard for any php installation), and was able to login to the admin backend. However when I tried to access the frontend store, I got a PAGE NOT REDIRECTING error. This took some googling and I figured out that it was because I was trying to access the frontend with H

[2019-09-03 04:17] jshrek opened #15374 "Launch Your Shop Welcome module gets in the way of accessing options"
**Describe the bug**
PROBLEM 1: The issue is the "Launch your shop" helper thing that popped up. I clicked on LATER, but the problem with this is that it puts a block down in the bottom left corner (with the percent you are at and a RESUME button) and this block covers the Shop Parameters and Advanced Parameters so you can can not access those settings while it is there.
PROBLEM 2: I then clicked

[2019-09-03 04:32] slomoo commented on #15353
@khouloudbelguith
Hello, my problem hasn't been solved yet. My configuration files have been configured according to the above connection.

[2019-09-03 05:43] dineshbadrukhiya commented on #15372
For me, it's redirecting me to https so there is no issue I think

If I'm not wrong, PrestaShop 1.7.6.1 is compatible up to php 7.2

[2019-09-03 06:47] matteolavaggi commented on #9767
Hi, anyone can point me in the right direction to safe remove this usefuless function that still not work on ps 1.7.6? Simply delete the ps_searchbar.js entry for the autocomplete result in error in FO consolle and render block (also css).
Thanks
`/* global $ */
$(document).ready(function () {
    var $searchWidget = $('#search_widget');
    var $searchBox    = $searchWidget.find('input[type=text]

[2019-09-03 07:17] ninefingersodnd commented on #15363
No this is not the error, it is exactly what Cofur64 has!
With debug on it gives, the stacktrace and the undifined index:name

[2019-09-03 07:19] khouloudbelguith commented on #15372
Hi @jshrek,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading you

[2019-09-03 07:23] khouloudbelguith commented on #15373
Hi @jshrek,

Did you try to install Prestashop directly through https?
As I said before: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Maj

[2019-09-03 07:48] khouloudbelguith commented on #15363
Hi @ninefingersodnd, @Cofur64,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
PS: here's the changelog for PS1.7.6.1: https://assets.prestashop2.com/en/system/files/ps_releases/changelog_1.7.6.1.txt
I close the issue, feel free to open a new one wh

[2019-09-03 07:48] #15363 closed, assigned to nobody

[2019-09-03 07:50] khouloudbelguith commented on #15374
Hi @jshrek,

Thanks for your report.
First, PrestaShop is not compatible with PHP7.3, you need to downgrade your PHP version.
Second, `PROBLEM 1` => You need to click on the "Stop OnBoarding" button to close this popup & your menu is flexible.
`PROBLEM 2` => It could be the PHP version (in my case, it is OK)
Thanks!

[2019-09-03 08:09] khouloudbelguith commented on #14595
Hi @presciak,

This issue is currently closed, can you open a new one with more information about your configuration.
This issue is fixed in the PS1.7.6.1, Please Create a new issue about your problem to understand how to reproduce the issue.
Thanks!

[2019-09-03 08:10] khouloudbelguith commented on #15212
@lilwayne470, thanks!
Waiting for your feedback.

[2019-09-03 08:25] Kis-shoes commented on #14595
Hi @Khouloudbelguith
I also upgraded to PS 1.7.6.1, unfortunately the problem was not corrected.
I was hoping this upgrade would solve the issue.
Thanks

On Tue, 3 Sep 2019 at 10:09, khouloudbelguith <notifications@github.com>
wrote:

--
Joel Nwafor
Procurement Manager
www.kisshoes.ch

[2019-09-03 08:27] khouloudbelguith commented on #15298
Hi @nexustotalsolutions,

Yes, after the upgrade, yopur module stripejs is deleted https://github.com/PrestaShop/autoupgrade/blob/973fa1ab91ee1b02736b08c1ad6cf3237b319e90/classes/TaskRunner/Upgrade/UpgradeModules.php#L94

Thanks!

[2019-09-03 08:31] nexustotalsolutions commented on #15298
Thanks for this diagnoses. Please suggest me on any further action to avoid it.
And also update me on the other issue of not displaying the module in Payment options.

Thank you.

[2019-09-03 08:35] khouloudbelguith opened #15376 "Error in BO order page after deleting a currency used in an order"
**Describe the bug**
Issue created from this comment: https://github.com/PrestaShop/PrestaShop/issues/14595#issuecomment-527248135 reported by @presciak & @Kis-shoes
![image](https://user-images.githubusercontent.com/16067358/64157148-17863680-ce2e-11e9-8211-cb9651b340ba.png)

Steps: reproduce the issue:

1. Fresh install PS1.7.6 with EN language & FR country
1. Import the United states=> Dollar c

[2019-09-03 08:37] khouloudbelguith commented on #15376
Hi @presciak & @Kis-shoes,

Can you please provide us the exact steps to reproduce the issue.
What is th exact version did you use of the 1-click upgrade module?
Thanks!

[2019-09-03 08:37] marionf opened #15377 "Available carriers for a product"
It doesn't make sense that all carriers are available if they are not selected.

![capture d'écran_1939](https://user-images.githubusercontent.com/13449658/64156615-6daaa800-ce35-11e9-9644-cae0b6101b0a.png)

By default all available carriers should be checked and displayed in Frontoffice.
If a carrier isn't checked, it's not displayed in front-office.

This way, we can remove the information messa

[2019-09-03 08:38] khouloudbelguith commented on #14595
@Kis-shoes, @presciak, Issue created here https://github.com/PrestaShop/PrestaShop/issues/15376
Please follow this ticket & provide me the exact information to understand how to reproduce the issue.

Thanks!

[2019-09-03 08:41] khouloudbelguith commented on #15298
@nexustotalsolutions, it's the API that puts the modules in the right categories so it is not a PrestaShop Core issue.

Thanks!

[2019-09-03 08:51] khouloudbelguith commented on #15365
@MonkeyTime, I tried also with Postman & it is OK
I tried with this link: `shop.com/api?output_format=JSON` & `shop.com/api/products?output_format=JSON`
![image](https://user-images.githubusercontent.com/16067358/64158384-43a2b700-ce30-11e9-831b-a7abd3c15fc3.png)
![image](https://user-images.githubusercontent.com/16067358/64158419-56b58700-ce30-11e9-9ce7-26b5ae137d35.png)
Thanks!

[2019-09-03 08:55] nexustotalsolutions commented on #15298
Ohh I see!! So is there anything that can be done on my end to resolve this please?

[2019-09-03 08:58] Kis-shoes commented on #15376
Hi, @Khouloudbelguith,

First of all I upgraded 1-click to v4.9.0 before  upgrading to PS 1.7.6.0,
as per the requirement. After upgrade to PS 1.7.6.0, everything was fine
except from "order" tab from order menu in BO. I contacted my Web host,
they checked and found out the issue was not from their server. So I
searched for a solution and found out other people are having similar
issue. PS 1.7.6.1

[2019-09-03 09:00] khouloudbelguith commented on #15298
@nexustotalsolutions, I will try to speak to the addons market place team to check the API problem.

Thanks!

[2019-09-03 09:01] sarahdib opened #15378 "Fix breadcrumb SEO"
**Describe the bug**
The PullRequest #14710 causes structured data to no longer be valid.

**To Reproduce**
Steps to reproduce the behavior:
Go to any page having a breadcrumb in front office (category, product, etc), and check that the last breadcrumb element is not clickable. In addition, Check structured data with the Google tool https://search.google.com/structured-data/testing-tool

**Screens

[2019-09-03 09:02] nexustotalsolutions commented on #15298
That'd be highly appreciated.

Thank you so much!!

[2019-09-03 09:02] sarahdib commented on #15378
fixed by #15368

[2019-09-03 09:03] khouloudbelguith commented on #15298
@nexustotalsolutions, you are welcome!

[2019-09-03 09:05] #15378 closed, assigned to nobody

[2019-09-03 09:13] marionf commented on #9898
@khouloudbelguith

I can't reproduce it with 1.7.6.0:
https://drive.google.com/file/d/1xlpp4KxAIaNg1-gbbxaBjodtZbisUKVT/view?usp=sharing

Could you try to reproduce it ?

[2019-09-03 09:26] MatShir commented on #10401
Hi @mortenhartvig,

What kind of product do you sell for this need?
Have you tried to make combination by suppliers and edit their EAN? it might be a fixe on the short term.

It seems a really specific need but the feedback is well received, we will evaluate the need around this feature.  I will put it on http://feedback.prestashop.com/ to let the community help us to prioritize all ideas from Git

[2019-09-03 09:33] marionf commented on #9894
@khouloudbelguith

Could you try to reproduce this issue with 1.7.6.1 and share a screenrecord with all steps if you suceed to reproduce it ?

[2019-09-03 09:35] khouloudbelguith commented on #9898
Hi @marionf,

About this problem

I did not manage to reproduce the issue with PS1.7.6.0 but we have another related issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/12061

About this issue => I cannot create combinations in the second shop
https://drive.google.com/file/d/1g0ld6oL3795w3zA8MDyEECIaZ6u4aJmI/view
Issue reported here: https://github.com/PrestaShop/PrestaS

[2019-09-03 09:35] #9898 closed, assigned to nobody

[2019-09-03 09:35] khouloudbelguith commented on #9664
Same issue with PS1.7.6.0
https://drive.google.com/file/d/1g0ld6oL3795w3zA8MDyEECIaZ6u4aJmI/view

Thanks!

[2019-09-03 09:38] Hlavtox opened #15379 "[IMPROVEMENT] New carrier features"
These are some mods I made to our store, I think it could be useful to other merchants. If you find interesting, maybe it could be implemented when migrating carriers wizard.

**Carrier message**
I added a new HTML field to a carrier definition for displaying a special message, for example in in_transit emails.

Sometimes, you need to tell people something before the package arrives, for example -

[2019-09-03 09:40] MatShir commented on #14388
@colinegin We consider adding the feature in the order page redesign. To check the status of the issue and the design results follow the issues #14745, it's currently in work in progress in @TristanLDD hand's.

[2019-09-03 09:44] khouloudbelguith commented on #15379
Hi @Hlavtox,

Thanks for your report.
PIng @colinegin, @marionf what do you think?
The Carrier page will be migrated to Symfony in the PS1.7.7.
https://github.com/PrestaShop/PrestaShop/issues/10586

Thanks!

[2019-09-03 09:46] Hlavtox commented on #15257
@khouloudbelguith I will try it with 1.7.6.1 and let you know :-)

[2019-09-03 09:49] khouloudbelguith commented on #15257
@Hlavtox, thanks!
Waiting for your feedback.

[2019-09-03 09:51] khouloudbelguith commented on #15353
@slomoo, could you please tru to disable the Friendly URL & check if those images are well displayed.

Thanks!

[2019-09-03 09:52] MatShir commented on #14754
@Hlavtox, it is missing and I saw in your order view design that you put a button on the general info, quite interesting. The feature is needed indeed, I will see it can be integrated into the redesign #14745.

[2019-09-03 10:00] MatShir commented on #14753
@Hlavtox,
This is something to be done! but for now, we will just put a clearer wording for the private message to be used as an internal order note. It will integrate into a 2nd part of the order project after the 177.

[2019-09-03 10:10] khouloudbelguith commented on #9894
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1fSELUyekySdjkcp8HsUdqxvWO-N1KCJh/view
I will close the issue.

Thanks!

[2019-09-03 10:10] #9894 closed, assigned to nobody

[2019-09-03 10:24] jeffPro97 opened #15380 "Web Service goes slow with more products"
**Describe the bug**
i've some speed problem when adding product with webservice
When I add only few products, the adding is relatively fast, but when I add more products to the shop, for example 1000 - 5000 products, the adding goes always slower and slower.

For example:
- adding 100 product to the empty shop (without pictures) takes about 40 seconds
- adding 1000 products takes about 12 minutes

[2019-09-03 10:27] BrunoJunior opened #15381 "Display of translated email subject"
**Describe the bug**
When I save the translation of an email subject (modules section). The translation is not dispayed ...

**To Reproduce**
1. Install (or make) a little module with email template. And call the Mail::Send method (by the way, a method should not be capitalized ...) like this : Mail::Send('my_template', Mail::l('My subject')...).
2. Go to International > Translations > Email trans

[2019-09-03 10:29] khouloudbelguith commented on #14816
@banan44, yes!

You have those errors:

You are not using a the default theme, it is a theme issue, you should check your theme author => similar ticket: https://github.com/PrestaShop/PrestaShop/issues/12409

I found other errors

Those errors are cache errors.

Thanks!

[2019-09-03 10:36] khouloudbelguith commented on #15381
Hi @BrunoJunior,

When I try to edit the templete email of a module, I have this error: `No Subject was found for new_order in the database.` as reported in this ticket:

https://github.com/PrestaShop/PrestaShop/issues/9599

![image](https://user-images.githubusercontent.com/16067358/64166438-0560c400-ce3f-11e9-85b3-b78a6aaf6d76.png)

Thanks to check & feedback.

[2019-09-03 10:51] MonkeyTime commented on #15365
Thanks,

Weird I continue to have the problem and no **services_dev.yml** generated...

![Sans titre-1](https://user-images.githubusercontent.com/7724650/64167424-9472d980-ce49-11e9-8b72-15ae72fafeea.png)

[2019-09-03 10:53] khouloudbelguith commented on #15376
Hi @Kis-shoes,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.1 fresh install & after upgrade from PS1.7.6.0 where I reproduced the issue.
I attached a screen record
https://drive.google.com/file/d/1NdV7ImvClzvpe4fe3h4puWg4jhs-9r-P/view
Thanks to check & feedback.

[2019-09-03 10:53] BrunoJunior commented on #15381
Hi @khouloudbelguith,
It's because this module does not use the Mail::l method.
Do you want a minimal module to reproduce the bug ?

[2019-09-03 10:54] khouloudbelguith commented on #15381
@BrunoJunior, thanks to provide me a demo module to reproduce the issue.
Thanks!

[2019-09-03 10:56] 01park commented on #14595
This problem is solved with the fix #15173
You can see the corrected files and upload them to your server. I did this before 1.7.6.1 was released and it worked perfect.

Also don't forget to clean browser history and cache files in prestashop.

[2019-09-03 11:02] khouloudbelguith commented on #15365
@MonkeyTime, when you try to access to this link with your browser => is it ok? or only with Postman, this issue occurs?

Thanks!

[2019-09-03 11:07] MonkeyTime commented on #15365
Next error when I try to access directly to https://GJSDWMCFSHLSJUYI2L85MYAATF9W6QFL@newvajra.localhost/shop/api

Fatal error: Uncaught Symfony\Component\Config\Exception\FileLocatorFileNotFoundException: The file "C:\Apache24\htdocs\vajra-new\shop/config/services/webservice/services_dev.yml" does not exist. in C:\Apache24\htdocs\vajra-new\shop\vendor\symfony\symfony\src\Symfony\Component\Config\F

[2019-09-03 11:09] BrunoJunior commented on #15381
The demo module (It does not do anything …) :
[bjmailsubject.zip](https://github.com/PrestaShop/PrestaShop/files/3569150/bjmailsubject.zip)
The translation page :
![Capture](https://user-images.githubusercontent.com/4368255/64168516-02200500-ce4c-11e9-9ffe-183d507e2813.JPG)

[2019-09-03 11:14] khouloudbelguith commented on #15365
@MonkeyTime, in your case, this is not fresh install PS1.7.6.1?

Thanks!

[2019-09-03 11:17] khouloudbelguith commented on #15344
Same issue with os=>OS+X & os_version=Mojave & browser=Safari & browser_version=12.1
https://drive.google.com/file/d/103DAg1ekgs9GyP_hLk31NeHi6dTzEOKx/view

Thanks!

[2019-09-03 11:17] MonkeyTime commented on #15365
This is an update with module "1 click-upgrade" from 1.7.6.0 to 1.7.6.1.v I 'dont say why but the files

services_dev
services_prod
services_test
*.yml

does not exist in my folder \config\services\webservice

Now the problem is solved I copied these files from the fresh install to my old folder and now all work great.

Thanks for your help

[2019-09-03 11:17] #15365 closed, assigned to nobody

[2019-09-03 11:18] khouloudbelguith commented on #15365
@MonkeyTime, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-03 11:26] khouloudbelguith commented on #15381
@BrunoJunior, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.6.1.
I’ll add this to the debug roadmap.
Thanks for the PR.
Thanks!

[2019-09-03 11:49] BrunoJunior commented on #15381
For information,
I proposed a bugfix with the PR #15337

[2019-09-03 12:04] Adekonl opened #15383 "Multistore Product feature saving bug"
### Describe the bug
In a multistore installation, all of the features are always loaded in the backoffice despite being disabled for a specific shop. The featurevalues will multiply on every save.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Turn on multistore
2. Create a feature, but only allow it for one shop.
3. Add the feature whilst selecting the shop it's allowed for
4. Chang

[2019-09-03 12:05] Hlavtox opened #15384 "[IMPROVEMENT] Add onsale-products listing page"
**Scenario**
I think that most of merchants use "ON SALE" flag:
- to get rid of products, that they will no longer sell
- the supplier stopped manufacturing it
- to get rid of slightly damaged item or an item with a missing packaging/manual etc.
- items that have been returned in no-reason period (by law, Czech Republic) and thus cannot be sold normally

People are used to this and when they want

[2019-09-03 12:08] TristanLDD commented on #14752
I think it would be easier for merchants to be able to hide / display some status directly from the status list:
- It will allow them to know at a glance which status are displayed or not
- The manipulation would be much easier

I'm thinking about something like that :
(please note that this isn't final design)

![Capture d’écran 2019-09-03 à 14 06 29](https://user-images.githubusercontent.com/2

[2019-09-03 12:26] khouloudbelguith commented on #15380
Hi @jeffPro97,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1.
I used this script
[code]
And I have this results:

- 1000 products => 22 minutes
- 2000 products => 42 minutes
- 3000 products => 1hour

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-03 12:44] ninefingersodnd opened #15385 "Webservice stop working from 30-08-19"
**Describe the bug**
Webservice does not work anymore from 30-08-2019, We do not have changed anything, we got the error on 2 differed servers.

**The error:** Please activate the 'mod_auth_basic' Apache module to allow authentication of PrestaShop's webservice.

Cant get it working anymore.

But the mod is activated and working. We use FPM served by apache.
We have plesk onyx installed.

**To Rep

[2019-09-03 12:49] khouloudbelguith commented on #15385
Hi @ninefingersodnd,

I did not manage to reproduce the issue with PS1.7.6.1.
It is OK
https://drive.google.com/file/d/18uIdif_JeOWJi4C4GpkbS1I21jcYcEUL/view
Could you please try to create a check_phpinfo.php file and Write this PHP Code:

[code]
Then Navigate to Url like `www.example.com/check_phpinfo.php` and It will show you PHP file in the server
A similar issue solved by the server: https://g

[2019-09-03 12:54] ninefingersodnd commented on #15385
Hi,
The solution you have mentioned is change host and reinstall all modules?
I cant see a clear solution for the problem in te issue tread there? Or i'm not checking it right?

Below the PHP output:
https://www.odnd.nl/phpinfo.php

[2019-09-03 12:56] lowfear commented on #15278
Yes, fixed in 3.2.1

[2019-09-03 12:57] khouloudbelguith commented on #15278
@lowfear, great!
I close the issue, feel free to open a new one when needed.

[2019-09-03 12:57] #15278 closed, assigned to nobody

[2019-09-03 13:02] khouloudbelguith commented on #15385
@ninefingersodnd, as you can see in your PHP info file the "mod_auth_basic" doesn't exist.
https://drive.google.com/file/d/1BjuU9us0e_cEje8fn5f66YWZ82J8x7Mn/view
Thanks to check the issue with your host & feedback.

[2019-09-03 13:07] ninefingersodnd commented on #15385
I have image from my plesk apache settings, i see that Auth_basic is enabled, or is this not the mod?
Thanks for your support!

www.imgur.com/a/81iqXvc

[2019-09-03 13:10] khouloudbelguith commented on #15385
@ninefingersodnd, it should be a module Apache
https://github.com/PrestaShop/PrestaShop/blob/aec97ddb1551fd7d6d56f75549a992d6937caf50/src/Core/Webservice/ServerRequirementsChecker.php#L42
Thanks!

[2019-09-03 13:19] Kis-shoes commented on #15376
Hi @khouloudbelguith,

Below link is what my BO produces when I click on order tab
![Bug Mode order issue_](https://user-images.githubusercontent.com/40031239/64176314-78793300-ce5d-11e9-85d9-e88882da43ab.JPG)
The issue is similar to the one replicate hier https://drive.google.com/file/d/1NdV7ImvClzvpe4fe3h4puWg4jhs-9r-P/view

However, my PS version is PS1.7.6.1

Thanks

[2019-09-03 13:20] khouloudbelguith commented on #15383
Hi @Adekonl,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.6.1.
The feature value is added to all shops.
In the Product details page => if we added a feature with Pre-defined value => when shop2 is selected we cannot save the product.
![image](https://user-images.githubusercontent.com/16067358/64176563-9a6eb780-ce55-11e9-9f1b-6951253bf593.png)
I’ll add this to the

[2019-09-03 13:25] khouloudbelguith commented on #15376
@Kis-shoes, could you please follow those files https://github.com/PrestaShop/PrestaShop/pull/15173/files & check on your PrestaShop Project are well updated.

Thanks!

[2019-09-03 13:26] ninefingersodnd commented on #15385
I realy don't know wha tis happening, it worked fine, it says enabled in the apache config, but it is not on the phpinfo.

I realy dont know how i get it to work.

[2019-09-03 13:31] khouloudbelguith commented on #15385
@ninefingersodnd, Could you please try to create this test.php script on your server to check if the `mod_auth_basic` is enabled

[code]

Thanks!

[2019-09-03 13:33] ninefingersodnd commented on #15385
With the php code given, i'll get a error 500

[2019-09-03 13:36] khouloudbelguith commented on #15385
@ninefingersodnd, have you tried to contact your host about this issue?
Thanks to check with them & feedback.

[2019-09-03 13:39] MatShir commented on #14269
Hi @tom75,
Could you describe a bit more of your use case? For what kind of product you want to apply a discount on the feature?
The feature is available for Catalog Price Rules so it makes sense to add it for Cart Rules as well. Your feedback is shared to the team, we will see in we can integrate it in the next version to come.

[2019-09-03 13:42] khouloudbelguith commented on #15384
Hi @Hlavtox,

Thanks for your report.
Ping @marionf @colinegin what do you think about hs improvement?
We can add the "On sale flag" on the Product details page => Pricing Tab"
![image](https://user-images.githubusercontent.com/16067358/64178243-04d52700-ce59-11e9-8e9f-2ac4d0fceb67.png)

Thanks!

[2019-09-03 13:52] matteolavaggi opened #15386 "Prestashop 1.7.6 module menù entry miss for manage"
**Describe the bug**
Left menù Module > Manage link point to updates url.

Updates module page has no entry on top menù for manage.

Result impossible to manage module without direct url access.

![image](https://user-images.githubusercontent.com/24798703/64178943-99905280-ce62-11e9-843e-8115151c53f5.png)

Result in this url called:
/index.php/improve/modules/updates

And this page load

![image](

[2019-09-03 13:59] khouloudbelguith commented on #15386
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/64179664-74e4ac80-ce5b-11e9-85dc-9067869de37f.png)

What is the exact version PS1.7.6 did you use?
Is it a fresh installation or an upgrade from a previous version?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2019-09-03 14:03] sszr22 opened #15387 "1-click upgrade after error please help"
hi guys I'm try to upgrade my prestashop 1.7.x.x to 1.7.5.1 but when upgrade complate after I took
Fatal error: Class 'Smarty_Internal_Undefined' not found in /var/www/vhosts/***/httpdocs/vendor/smarty/smarty/libs/sysplugins/smarty_internal_extension_handler.php on line 168
please help me to fix it, thanks

[2019-09-03 14:07] ninefingersodnd commented on #15385
It is a Unmanaged VPS

Just called the hosting company, It is a VPS, and it is a Apache module, not a PHP one, so this is not in phpinfo. It is enabled and should be working fine.

print_r(apache_get_modules()); just gives me a blanc page

[2019-09-03 14:07] matteolavaggi commented on #15386
PS 1.7.6 (the exact one i've write), its a fresh installation. There is no php error entry on log and the debug mode enabled show this page:

![image](https://user-images.githubusercontent.com/24798703/64180352-ed9c3680-ce64-11e9-918a-49b9fe343b82.png)

[2019-09-03 14:11] khouloudbelguith commented on #15387
Hi @sszr22,
In your `Project_Folder/config/config.inc.php` file, could you please comment this line `setlocale﻿(LC_TYPE)`.
Thanks to check & feedback.

[2019-09-03 14:13] khouloudbelguith commented on #15386
@matteolavaggi, is it PS1.7.6.1 or PS1.7.6.0?
What is the exact language/country did you used during the install?

Thanks!

[2019-09-03 14:16] sszr22 commented on #15387
this line
`setlocale(LC_CTYPE, $locale.'.UTF-8', $locale.'.utf8');
`
I'm using to website normally only 'Turkish'

[2019-09-03 14:20] khouloudbelguith commented on #15387
@sszr22, did you tried to comment it?
Did you use the 1-click upgrade v4.9.0.?
Did you use the local archive option to make the upgrade?

Thanks!

[2019-09-03 14:23] sszr22 commented on #15387
actually, I dont know but I remember upgrade to last version 1-click upgrade I think v4.9.0 and I dont know when I used for archive :/

[2019-09-03 14:29] MatShir commented on #14933
Hi @Gianlu12,
The feedback is well received, we will evaluate the feasibility and the need around this feature. It won't be the 1.7.7 version but the migration of cart rule page is planned for the next version so we may correct it at the same time.
Prestashop is an Open source software so if you have found or someone else reading this issue can contribute can make a pull request in the meantime :)

[2019-09-03 14:35] khouloudbelguith commented on #15387
@sszr22, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in admin_folder/autoupgrade/tmp/log.txt

Thanks!

[2019-09-03 14:43] sszr22 commented on #15387
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3570009/log.txt)

I hope its true folder, thanks

[2019-09-03 14:49] matteolavaggi commented on #15386
ita/ita

[2019-09-03 14:53] khouloudbelguith commented on #15386
@matteolavaggi, is it 1.7.6.1 or 1.7.6.0?, I will try to install a shop withis settings.
Thanks!

[2019-09-03 15:03] khouloudbelguith commented on #15387
@sszr22, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-09-03 15:10] matteolavaggi commented on #15386
1.7.6.0

[2019-09-03 15:10] khouloudbelguith commented on #15385
@ninefingersodnd, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-09-03 15:15] sszr22 commented on #15387
deleted into var/cache (prod&dev) but same error again
Fatal error: Class 'Smarty_Internal_Undefined' not found in /var/www/vhosts/bakliyatdiyari.com/httpdocs/vendor/smarty/smarty/libs/sysplugins/smarty_internal_extension_handler.php on line 168

[2019-09-03 15:21] Gianlu12 commented on #14933
Hi MatShir,
thank you for the help.
Please, keep me updated about the progress of the work.

[2019-09-03 15:27] khouloudbelguith commented on #15387
@sszr22, could you please try to comment this line `setlocale(LC_CTYPE, $locale.'.UTF-8', `$locale.'.utf8');, check & feedback.

[2019-09-03 15:33] ElderTugBoat786 commented on #15299
Hi @khouloudbelguith,

checking the apache log file I saw that it marks me this error

[code]

[2019-09-03 15:34] sszr22 commented on #15387
now all is change like this,

[PrestaShopDatabaseException]
Table 'bakliyat_data.ps_currency_lang' doesn't exist

SELECT *
FROM `ps_currency` a
LEFT JOIN `ps_currency_lang` `b` ON a.`id_currency` = b.`id_currency` AND b.`id_lang` = 1
LEFT JOIN `ps_currency_shop` `c` ON a.`id_currency` = c.`id_currency` AND c.`id_shop` = 1
WHERE (a.`id_currency` = 1) LIMIT 1

at line 769 in file classes/db/Db.php
7

[2019-09-03 15:36] racquetmarket opened #15390 "Notice: Undefined index: pages_array (error 500) when come back with browser from a proeduct, previously filtered with module advancedsearch4"
**Describe the bug**

When come back with browser from a product page, (previously filtered with module advancedsearch4)
 I get error: Notice: Undefined index: pages_array (error 500)

**To Reproduce**
Steps to reproduce the behavior:
www.ecoritas.com
1-Go to any category
2-filter and get some products
3- Go to product page
4-Come back with the browser (error 500)

**Screenshots**
(error page)

(1

[2019-09-03 15:36] khouloudbelguith commented on #15387
@sszr22, the table `ps_currency_lang` in your case is missing.
Did you make a backup of your database, you need to import this table.

Thanks!

[2019-09-03 15:38] sszr22 commented on #15387
how exactly can i do it, please help me thanks

[2019-09-03 15:39] khouloudbelguith commented on #15387
@sszr22, did you make a back up of your database?
Thanks!

[2019-09-03 15:41] sszr22 commented on #15387
I think its make automatically backup, I have one zip file name auto-backupfiles_V1.7.2.4_20190903-134242-4794c12c

[2019-09-03 15:44] khouloudbelguith commented on #15390
Hi @racquetmarket,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-09-03 15:46] racquetmarket commented on #15390
Sorry, this error comes from a core variable. I have already contact the developer and he told mee to contact you (both the theme developer and the moduel developer)

[2019-09-03 15:47] khouloudbelguith commented on #15299
@ElderTugBoat786,

This is just a warning, it is not an error.

Thanks!

[2019-09-03 15:48] khouloudbelguith commented on #15390
@racquetmarket, thanks for your feedback.
Could you please provide me your module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-09-03 15:49] racquetmarket commented on #15390
Yes

[2019-09-03 15:55] khouloudbelguith commented on #15390
@racquetmarket, I just received the email.
I will check & feedback.
Thanks!

[2019-09-03 15:55] khouloudbelguith commented on #15386
@matteolavaggi, in my case, it is OK
https://drive.google.com/file/d/1UBwrwMs4ZfhFd3c0szC5KOLegjcfUk9h/view
Did you installed specific module before this issue occurs?

Thanks!

[2019-09-03 15:58] sszr22 commented on #15387
please check www.bakliyatdiyari.com whats the error?

[2019-09-03 16:06] khouloudbelguith commented on #15387
@sszr22, as I said, the table `ps_currency_lang` is missing in your case.
You need to import this table to your Database.
Or, you can Install Fresh install PrestaShop 1.7.5.1 with your same configuration ( same language, same country)=> then copy the table ps_currency_lang from the new database to your old database.
An example of this table
[ps_currency_lang.sql.txt](https://github.com/PrestaShop/

[2019-09-03 16:10] msaustral opened #15391 "How to validate customer state (zone) before add to cart"
Hi we have a new project and we need to validate where the customer is as depending on de state there is a different inventory.

Example: `https://merqueo.com/v2/bogota?migrate=true`

Once we validate the state, we have to redirect the customer to the store (differents inventory by state) that can have service to his zone.

We have been looking for any way to do this without any luck, thank you fo

[2019-09-03 16:13] jshrek commented on #15373
Okay thanks for advising me about PHP version...

I am using PHP v7.3.8 and during the System Compatibility of the install, it says **PrestaShop compatibility with your system environment has been verified!**

So maybe the System Compatibility check should produce an error/warning if the PHP version is too high?

![system](https://user-images.githubusercontent.com/19673842/64190351-07208c80-ce2b-1

[2019-09-03 16:15] khouloudbelguith commented on #15391
Hi @msaustral,

Could you please provide more information about your issue.
Do you need to add a function to validate the state of your customer?
An example: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Validate.php#L326
Thanks!

[2019-09-03 16:16] JustasBelevicius opened #15392 "Add default state for orders"
**Is your feature request related to a problem?**
Many stores have different order status flow (for example, a store might want to check if products are actually in a certain location before approving the request).

**Describe the solution you'd like**
The simplest solution is to add an input field which allows to select a default order state when the order is placed. A more involved solution coul

[2019-09-03 16:16] khouloudbelguith commented on #15373
@jshrek, yes, it could be a great improvement.
Ping @PrestaShop/prestashop-product-team what do you think?

THanks!

[2019-09-03 16:18] JustasBelevicius commented on #15392
This would require payment module developers to use PS_DEFAULT_ORDER_STATE variable in their code.

[2019-09-03 16:20] jshrek commented on #15372
Per my other reports... I am using PHP v7.3.8 and during the System Compatibility of the install, it says PrestaShop compatibility with your system environment has been verified! So maybe the System Compatibility check should produce an error/warning if the PHP version is too high?
Thanks

[2019-09-03 16:20] jshrek commented on #15374
Per my other reports... I am using PHP v7.3.8 and during the System Compatibility of the install, it says PrestaShop compatibility with your system environment has been verified! So maybe the System Compatibility check should produce an error/warning if the PHP version is too high?
Thanks

[2019-09-03 16:21] khouloudbelguith commented on #15390
@racquetmarket, I tried to install those modules but it is OK in my side with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1nO1oh4u5644T2F_eR8ca-59BU54_zIHH/view
Thanks to check & feedback.

[2019-09-03 16:22] khouloudbelguith commented on #15374
@jshrek, thanks!
Done: https://github.com/PrestaShop/PrestaShop/issues/15373#issuecomment-527531017
Waiting for the PM team feedback.

[2019-09-03 16:22] khouloudbelguith commented on #15372
@jshrek,
Thanks!
Done: https://github.com/PrestaShop/PrestaShop/issues/15373#issuecomment-527531017

[2019-09-03 16:24] khouloudbelguith commented on #15392
Hi @JustasBelevicius,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?
Thanks!

[2019-09-03 16:25] sszr22 commented on #15387
now main page are open but when I open pruduct and take new error for date https://www.bakliyatdiyari.com/pilavlik-pirinc/20-1-kg-pilavlik-luna-pirinc.html like this

[2019-09-03 16:41] racquetmarket commented on #15390
Thank you. I will try to copy my site in a  test environment and do different test.

[2019-09-03 16:45] msaustral commented on #15391
Hi sorry, the project is an online supermarket, they only have service on one state of the country, let say Miami and soon the client will have service on another state let say Tampa, so we need to validate where the customer is before add any item to the cart and depending on where he is we need to redirect him to the specific state´s store Miami or Tampa.

[2019-09-03 18:18] pnshurba opened #15394 "error invoice currency"
after upgrading from 1.7.5.2 to 1.7.6.1, invoce does not display the currency instead of a question mark. More details on the screenshot. Please help solve the problem.
![Снимок экрана 2019-09-03 в 21 13 19](https://user-images.githubusercontent.com/39360984/64198164-64025e00-ce90-11e9-80be-92b37e684c8f.png)

[2019-09-03 21:50] MartinxStefan commented on #12042
Hi, I have the same problem. 1-Click Upgrade stuck, the site is now down. Error:

Please help

[2019-09-03 22:18] cprietom commented on #9650
That is not a solution on Prestashop 1.7.4.2:

The problem doesn't seem to be the mentioned condition. Even without adding the suggested condition, the built link has the "secure_key" param like this: "http://XXX/es/index.php?controller=pdf-invoice&id_order=44&amp;secure_key=913803b9429806735644dc82b0d522f0", but that URL takes the user to the "Log in to your account" page.

What should the URL be

[2019-09-03 22:20] Kis-shoes commented on #15376
Hi, @khouloudbelguith,
I took a look at all the files as discussed in this link https://github.com/PrestaShop/PrestaShop/pull/15173/files, all the codes are well updated. As you can see in the screen shots
![Classes_Currency_php](https://user-images.githubusercontent.com/40031239/64212386-71781200-cea9-11e9-855b-78c0efba4eb2.JPG)
![Src_Adapter_Currency_CommandHandler_EditCurrencyHandler_php](https

[2019-09-03 22:34] mickaelandrieu commented on #15324
Hello @khouloudbelguith,

I've updated my PR to retrieve data from 1.7.6.1 and I know have another error:

![error](https://user-images.githubusercontent.com/1247388/64212742-a5a00280-ceaa-11e9-8638-c7ec018f4150.png)

I'm not sure if it's trivial or not (it's not _for me_ at least).

Looks like yet another translation loader issue sadly /c @eternoendless

[2019-09-04 02:44] slomoo commented on #15353
Thanks!

![image](https://user-images.githubusercontent.com/49021553/64221800-9e0b4880-cf00-11e9-9615-b9b05ce21b71.png)
I turn them off and the page will be displayed properly.

But don't know how these configurations are applied?

[2019-09-04 05:43] fernandoherlo commented on #15143
Thanks

[2019-09-04 05:56] jennyfromipasspay commented on #12599
i just use prestashop today, i meet the same issue, my environment is :

·MAMP Pro use nginx

·PHP 7.2.7

·MYSQL 5.7

i try to set nginx fastcgi_read_timeout to 1000;

like this:

fastcgi_connect_timeout     75;
fastcgi_read_timeout           1000;
fastcgi_send_timeout         1000;

![image](https://user-images.githubusercontent.com/46195579/64229187-b3da3700-cf1b-11e9-92f1-bd022a2a4988.png)

the

[2019-09-04 06:17] MasterEmit commented on #10035
Its sad to read, that this problem still exists. I planed to upgrade to 1.7 from 1.6. For 1.6 I bought Attribute Wizard Pro, which solved this issue for me (combinations can be 64 x 64 x 64 x 5. So you can guess, that just creating entries for each possible combination in the database is killing the system. I understand, that for products I buy and just sell its often fine enough - but for manufac

[2019-09-04 07:12] khouloudbelguith commented on #14978
Hi @jhuanmy,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-04 07:12] #14978 closed, assigned to nobody

[2019-09-04 07:17] khouloudbelguith commented on #15394
Hi @pnshurba,

What is the exact language & currency did you used by the customer?
The invoice is generated from the BO or from the FO?
What is the exact language of your employee?

Thanks!

[2019-09-04 07:27] pnshurba commented on #15394
@khouloudbelguith

I and users use Russian language
Currency RUB ₽
BO
MY EMPLOYEE USE RUSSIAN language

[2019-09-04 07:31] khouloudbelguith commented on #15353
@slomoo, As I see in your picture, you have a message "`URL rewriting (mod_rewrite) is not active on your server, or it is not possible to check your server configuration.
The `mod_rewrite` exists only for the apache environment.
So you need to make sure that you enable the mod_rewrite on your server.

Thanks!

[2019-09-04 07:53] stamatisbreezer opened #15395 "adding translations to childTheme"
**Describe the bug**
There was some words that wasn't translated, so I try to add the translation to the childtheme so I can keep them, after a future update of the master-theme. Same problem when I try to translate the master-theme.

**To Reproduce**
Steps to reproduce the behavior:
Modify translations  >Themes Translations > Selecting transformerchild > Language Greek >
I get the fast showing-di

[2019-09-04 08:00] PrestaEdit commented on #15390
$pages_array is not a core var ; it's surely due to an override and/or a third party module.

[2019-09-04 08:04] khouloudbelguith commented on #15390
@PrestaEdit, thanks for your feedback.
@racquetmarket, thanks to check & feedback.

Thanks!

[2019-09-04 08:06] #15395 closed, assigned to nobody

[2019-09-04 08:15] inbaz commented on #10387
Hello, I'm still not able to upgrade the prestablog module with this error. We're using prestashop 1.7.6.0. Is there a real solution for this problem?

[2019-09-04 08:27] mehdi-ghezal opened #15396 "Use protected over private when it's possible"
**Is your feature request related to a problem? Please describe.**

I try to extends CartPresenter in a custom module but I cannot access property like $priceFormatter, $link, etc... because theses properties has been declare as private property.

What the purpose of private over protected in this use case ?

IMHO, it only make harder to extends Prestashop and less developer friendly.

**Describe

[2019-09-04 08:33] khouloudbelguith commented on #15394
@pnshurba, this issue occurs on the FO also?
What is the exact version of Internationalization support did you use?
![image](https://user-images.githubusercontent.com/16067358/64238508-757e5100-cef6-11e9-9b94-569e78ea9260.png)
Your issue is duplicate of https://github.com/PrestaShop/PrestaShop/issues/13814
You need to upgrade the intl version.

Thanks!

[2019-09-04 08:43] MatShir commented on #10547
#13823

[2019-09-04 08:45] khouloudbelguith commented on #15396
Hi @mehdi-ghezal,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?
Similar issue reported on Forge: http://forge.prestashop.com/browse/BOOM-2376

Thanks!

[2019-09-04 08:47] khouloudbelguith commented on #10387
Hi @inbaz,

Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/11450?

Thanks!

[2019-09-04 08:53] mehdi-ghezal commented on #15396
BTW, same suggestion for methods.

[2019-09-04 08:56] pnshurba commented on #15394
Problem only in pdf.
My version intl 52.1
Data 52.1
Tzdata 2013g
Unicode 6.3

[2019-09-04 09:05] Shoprunners opened #15398 "BO: Sort items/products for lists>300 not possible"
If you would like to sort i.e. products in a category and you have more than 300 products, it is currently not possible to bring the products from pos > 300 to a position <= 300.

**To Reproduce**
take a category with more than 300 products assigned. Show 300 products at once and go to page 2. Now try to move a product from that page to pos #1. Not possible

Possible (quick) solution: Maybe change

[2019-09-04 09:08] khouloudbelguith commented on #15376
@Kis-shoes, during the upgrade, have any errors displayed?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-09-04 09:10] ghost opened #15400 "New version of ps_themecusto module compatible for product page and category page"
## The ps_themecusto module allows users to configure the modules on the Homepage

![Capture d’écran 2019-09-04 à 11 05 52](https://user-images.githubusercontent.com/47456895/64241413-00197d00-cf04-11e9-81e1-5b4e9a8a5aa4.png)

## The goal of this improvement is to make it possible for the Product page and the Category page as well.
![themecusto_after](https://user-images.githubusercontent.com/47

[2019-09-04 09:19] khouloudbelguith commented on #15387
@sszr22, what is the exact error?
![image](https://user-images.githubusercontent.com/16067358/64242444-6f3fa300-cefd-11e9-8feb-de99c8161e46.png)

Thanks!

[2019-09-04 09:19] #15246 closed, assigned to nobody

[2019-09-04 09:22] khouloudbelguith commented on #15391
@msaustral, in your BO => International => Localization => Geolocation Tab => You can enable the Geolocation by IP address.
![image](https://user-images.githubusercontent.com/16067358/64242641-cfcee000-cefd-11e9-9874-83226097ec54.png)
Geolocation is "the identification of the real-world geographic location of an object, such as a radar, a mobile phone or an Internet-connected computer. In our case

[2019-09-04 09:30] pierreloicq commented on #15331
Hi,
The problem seems to be still present on 1.7.6.1 when I want to translate a child theme (child_classic). I can translate the classic theme. Is it important that I bring my modifications in the child theme rather than in the parent theme ?

`The "C:\Program Files (x86)\Ampps\www\presta17\var\cache\prod/themes\child_classic\translations\fr-FR" directory does not exist.`

[2019-09-04 09:34] sarahdib opened #15401 "Error message when we create a new employee"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to employee
2. Click on add an employee
3. Fill in the form and save
4. See error

**Screenshots**
https://drive.google.com/file/d/1IClTRwLh54258s-7Krses1n3Y8epKEu7/view

**Additional information**
PrestaShop version: 1.7.7
PHP version: N/A

[2019-09-04 09:39] khouloudbelguith commented on #15324
Hi @mickaelandrieu,

Yes, you are right.
Using the Tag 1.7.6.1 cloned from GitHub(not the release).
I have this error
[code]

With PS1.7.6.0 => OK
Checked with PHP7.0

About PS1.7.5.2 => OK, I have errors only when using Docker(PHP7.2), in the local => OK

This is a regression.

Thanks!

[2019-09-04 09:41] sszr22 commented on #15387
now is all fix but admin panel doenst work I'm deleted all folder and upload again in ftp, I hope its fix

[2019-09-04 09:44] khouloudbelguith commented on #15387
@sszr22, thanks!
Waiting for your feedback.

[2019-09-04 09:47] matks commented on #15396
Hi @mehdi-ghezal about the answer whether to use private or protected functions/properties, the answer is probably "yes and no"

When we add new code into PrestaShop codebase, we ask ourselves the question "How should I allow PrestaShop developers to extend/customize this behavior while avoiding complex side-effects (which leads to bugs) or corrupted data state ?"

For example consider this code:

[2019-09-04 10:08] khouloudbelguith commented on #15398
Hi @Shoprunners,

Thanks for your report.
Yes, I have the same behavior with PS1.7.5.2 & PS1.7.6.0
https://drive.google.com/file/d/1HMXkU2OlfzMYLcDTB5iTmIcvE8friSRN/view
Ping @PrestaShop/prestashop-product-team what do you think of his improvement?

Thanks!

[2019-09-04 10:20] LouiseBonnard commented on #14752
@TristanLDD, please make the wording note that it is linked to the Orders page, perhaps something like _Hide on Orders page_?

[2019-09-04 10:22] khouloudbelguith commented on #15331
Hi @pierreloicq,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1GPmWi8B_TLKJxEPfr_1MwqiZnA5l2ypP/view
Thanks!

[2019-09-04 10:31] khouloudbelguith commented on #15394
Hi @pnshurba,

Thanks for your feedback.
As checked with @marionf, this issue occurs with PS1.7.6
![image](https://user-images.githubusercontent.com/16067358/64247763-6eac0a00-cf07-11e9-9973-76de3f7cc20f.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
In the meantime, we will check

[2019-09-04 10:34] slomoo opened #15402 "Order page does not display navigation"
![image](https://user-images.githubusercontent.com/49021553/64247822-3aa20a80-cf42-11e9-99b4-570506e8cf22.png)

Didn't my order page show navigation

In addition, where are the carriers allocated?

Thanks!

[2019-09-04 10:36] khouloudbelguith commented on #15402
Hi @slomoo,

What to Check If PrestaShop Carriers Are Not Available At Checkout?

1.  Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
2. Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a created carrier does not show for a specific shopper. When configuring PrestaShop carrier you are supposed to assign it to zo

[2019-09-04 10:37] khouloudbelguith commented on #12042
Hi @MartinxStefan,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-09-04 10:51] khouloudbelguith commented on #14885
Hi @nicoja,

I checked the module Blog Pro & PS1.7.6.1 & it is OK.
I attached a screen record
https://drive.google.com/file/d/1wGURNWJBUmxrRoT6LWXodMhG6bxnEJQT/view
Thanks to check & feedback.

[2019-09-04 11:31] mehdi-ghezal commented on #15396
Hello,

I get it about the encapsulation principle and the idea about ensure that the object behave as excepted ; but let me give you an example : [CartPresenter.php](https://github.com/PrestaShop/PrestaShop/blob/101c7d21159f143b9ce68c4bb04849d50e7472cf/src/Adapter/Presenter/Cart/CartPresenter.php)

This class is used different place such as CartController. There is no possibilities to override it

[2019-09-04 11:42] Kis-shoes commented on #15376
Hi @Khouloudbelguith,

find find here the log
 log.txt
<https://drive.google.com/file/d/1_nyJlGI5aEqL792DTS-W0iFohVgDK82F/view?usp=drive_web>
Thanks

On Wed, 4 Sep 2019 at 11:08, khouloudbelguith <notifications@github.com>
wrote:

--
Joel Nwafor
Procurement Manager
www.kisshoes.ch

[2019-09-04 11:52] khouloudbelguith commented on #15376
@Kis-shoes, I couldn't find errors in your log file.
So:
- Do you use a shop with a multistore context enabled?
- Do you have multi-currencies?
- For each store, you have a different currency?
- Do you have some orders created in different stores?
- Have you any other information about your shop to help us to reproduce the issue?

Thanks!

[2019-09-04 12:04] nicoja commented on #14885
Hi, you did it on a module that probably manage this error, cf. my first post :
Media::addJsDef(array(
'currentIndex' => AdminController::$currentIndex.'&configure='.$this->name/and whatever/,
));

Several modules manage this errors as I mentioned (do not ask which one).
My problem is not with the module but the Prestashop core.
Thus, please check the code of the module you used, I am sure that th

[2019-09-04 12:15] khouloudbelguith commented on #15394
Hi @pnshurba,

Your ticket is a duplicate of #9817
So, I close it.
Thanks!

[2019-09-04 12:15] #15394 closed, assigned to nobody

[2019-09-04 12:15] khouloudbelguith commented on #15394
Duplicate of #9817

[2019-09-04 12:16] khouloudbelguith commented on #9817
Same issue with PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/64253920-3829bb80-cf16-11e9-81b0-f8e3e3934841.png)

[2019-09-04 12:39] khouloudbelguith commented on #14885
@nicoja, I tried with the same module with PS1.7.5.2 => OK.
Drag & drop is well working!
But I tried with PS1.7.6.1 & PS1.7.5.2 & the `ps_linklist` module v2.1.6(old version)
As reported here https://github.com/PrestaShop/PrestaShop/issues/9950, but it is fixed after refactoring the module.
=> I have the same issue
https://drive.google.com/file/d/16cJ4DevKrSD8fzmebhrIiFGIutXMDL0W/view
Ping @Presta

[2019-09-04 12:44] nicoja commented on #14885
Hi,

as I said this is a core issue.
From my side I know how to manage it, but I think that it should be send to core team as you mentioned.
Link to core team you provided is in 404.

Isn't the right place to report issue ?

[2019-09-04 12:48] khouloudbelguith commented on #14885
@nicoja, yes, it is the right place.
In your case, you have 404 not found => because you don't have the right access.
It is OK with the core team member.
f you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-04 12:49] Padelhouse commented on #15349
HI, @khouloudbelguith. Thanks for your help. I've uninstalled the module, and the bug persist. I don'tknow if unintalling may should the problem but I did it cause I not interested in this module yet. I dont have any module no provided by prestashop.

(1/1) ContextErrorExceptionNotice: Undefined index: request
--
in 43d584824ba8b6457704504890baeda36692db6b_2.file.socialsharing_header.tpl.cache.php

[2019-09-04 12:50] nicoja commented on #14885
I never change the core, but manage it in the module (sorry, but again, as mentioned in initial post)

[2019-09-04 12:57] Kis-shoes commented on #15376
Hi @khouloudbelguith,

Do you use a shop with a multistore context enabled? No
Do you have multi-currencies? Yes, Three currencies configured, two activated.
For each store, you have a different currency? No Multistore
Do you have some orders created in different stores? Obviously no.
Have you any other information about your shop to help us to reproduce the issue? I can't think of any other infor

[2019-09-04 12:58] khouloudbelguith commented on #15349
@Padelhouse, no the issue of the module is occurring again.
It is a module issue.
You need to clear the cache manually by deleting all the folder into var/cache (prod & dev) or removing the module folder.

Thanks!

[2019-09-04 13:00] gomonkey commented on #15247
Hello @gotthardsen
Upgrade the module Faceted search, it will be install layered_* tables.

[2019-09-04 13:02] khouloudbelguith commented on #15376
@Kis-shoes, in our case, this issue is reproduced with PS1.7.6.0 when multistore is enabled.
Could you please this SQL command on your Database?
`Select * from ps_shop`
![image](https://user-images.githubusercontent.com/16067358/64257045-9194e900-cf1c-11e9-8617-157d46967e99.png)

Thanks!

[2019-09-04 13:07] matks commented on #14037
@MatShir 🆙

[2019-09-04 13:27] MatShir commented on #14037
@zuk3975 It should be displayed on the position page list and then you can unhook it if am i right. But you need to know the module name or the hook name to find it.

@matks Can we differentiate Front office modules and Back Office modules?

[2019-09-04 13:34] Kis-shoes commented on #15376
Hi @khouloudbelguith,

![PS_shop](https://user-images.githubusercontent.com/40031239/64259437-577e1400-cf29-11e9-8286-f6f38fc34a66.JPG)

Thanks

[2019-09-04 13:38] sdwebdesign commented on #14580
This issue is still happening.

[2019-09-04 13:42] khouloudbelguith commented on #15376
@Kis-shoes, thanks!
Could be please ru this SQL command also
`Select * from ps_currency`

Thanks!

[2019-09-04 13:53] marionf commented on #15056
@PrestaShark @Hlavtox @JustasBelevicius

Could you please test this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/132 and tell us if it solve the issue for you ?

[2019-09-04 13:53] Kis-shoes commented on #15376
@khouloudbelguith,

this is what is in there
![ps_currency](https://user-images.githubusercontent.com/40031239/64261016-218e5f00-cf2c-11e9-957d-3d1f9e76bd1f.JPG)

Thanks

[2019-09-04 13:54] LW-Frost opened #15403 "Search attributes by Name, not Public Name"
My company website has a variety of products with almost each having different variations of attributes. We dont want to put them all under one category like "Size" becouse that would make a very long list with vague information about to which product its used in.

Instead of searching by public name, search by Name. It already shows its name when you add attribute from checkbox panel.

Alternativ

[2019-09-04 13:56] khouloudbelguith commented on #15376
@Kis-shoes, thanks!
could you please try with this also
	`select * from ps_currency_shop`

Thanks!

[2019-09-04 14:01] Kis-shoes commented on #15376
@khouloudbelguith ,

this is it
![image](https://user-images.githubusercontent.com/40031239/64261675-29023800-cf2d-11e9-98e4-a52e46eef6b7.png)

Thanks

[2019-09-04 14:03] khouloudbelguith commented on #15403
Hi @Fr0stwalker,

Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/12440?

Thanks!

[2019-09-04 14:05] PrestaShark commented on #15056
With pleasure guys! Give me a minute!

[2019-09-04 14:29] khouloudbelguith commented on #15376
@Kis-shoes, so you just deleted from the BO the currency with id_currecny =1 & id_currecny=2?
Thanks!

[2019-09-04 14:54] Fr0stwalker commented on #15403
Yes, sorry for duplicating.

[2019-09-04 14:54] #15403 closed, assigned to nobody

[2019-09-04 14:55] Hlavtox commented on #15056
@PrestaShark I don't use combinations on 1.7 yet, but this seems like a correct behavior.

What do you think is wrong?

- You select attribute Size 38,5.
- It shows you all products, that have a combination with 38,5 attribute created.
- If you select "In Stock" filter, it doesn't look at quantity at all it seems. It just check if BO is enabled or disabled for the product.

Am I right @PierreRamba

[2019-09-04 14:55] khouloudbelguith commented on #15403
Duplicate of #12440

[2019-09-04 14:58] PrestaShark commented on #15056
"In stock" filter should not even exist IMHO. That impact on UI/UX a lot...

By default In stock should be locked always as TRUE. Why customer might want to search by unavailable products?

[2019-09-04 15:02] Hlavtox commented on #15056
@PrestaShark In this condition, yes. But a filter by quantity is needed A LOT.

[2019-09-04 15:03] PrestaShark commented on #15056
@marionf @PierreRambaud additional feature.

When "In stock" filter is OFF (like in my shoe store) then module should always show available products.

[2019-09-04 15:12] marionf commented on #15056
@PrestaShark

_Available products_ = products in stock (quantity > 0) AND products out of stock (quantity <= 0) but available for order, right ?

[2019-09-04 15:16] Kis-shoes commented on #15376
@khouloudbelguith,

Do you mean I should delete them or are you asking a question, if I deleted
them?
It could be possible I deleted them as I following instructions in a thread
to fix the issue.

Thanks

On Wed, 4 Sep 2019, 16:30 khouloudbelguith, <notifications@github.com>
wrote:

[2019-09-04 15:24] PrestaShark commented on #15056
@marionf

Perfection ❤

[2019-09-04 15:27] marionf commented on #15056
Thank you for your feedback :)

So let's do it:
When "In stock" filter is OFF then show products in stock AND products out of stock but available for order

[2019-09-04 15:35] khouloudbelguith commented on #15376
Hi @Kis-shoes,

Steps: reproduce the issue:
1. Fresh install PS1.7.6 with EN language & FR country
2. Import the United states=> Dollar currency created / Import the Switzerland pack => CHF currency created
3. create some order with those currencies
4. Try to add a cart with amount reduction
5. Set the status of your orders to Delivered
6. Set the **CHF** currency by default
7. Delete the Euro & D

[2019-09-04 15:36] msaustral commented on #15391
Hi ok this is part of the issue, once I have the location, Prestashop redirects automatically the client to the store serving that location if I enable multistore?

[2019-09-04 15:37] Hlavtox commented on #15056
When will you show products that are nit available for order then? Nonsense

[2019-09-04 15:45] khouloudbelguith commented on #15391
@msaustral,

This is the behavior that you need to add it to your shop? is it?

Thanks!

[2019-09-04 15:52] msaustral commented on #15391
Hi yes, detect the visitor location -> send the visitor to store A or B depending on his location

[2019-09-04 15:56] khouloudbelguith commented on #15254
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15404 to fix the issue.

[2019-09-04 15:58] khouloudbelguith commented on #15391
@msaustral, and the "Enable Geolocalisation" option doesn't solve your issue?
Thanks!

[2019-09-04 16:06] PrestaShark commented on #15056
Then 🤔
1) Remove "In stock" condition in faceted template

2) Make global option
"Search also unavailable products" YES / NO with default set as NO

[2019-09-04 16:08] msaustral commented on #15391
Hi testing it, I realize that it does not solve the problem, because it filter by country not by state

[2019-09-04 16:14] khouloudbelguith commented on #15385
Hi @ninefingersodnd,

As you said, in your case, `Auth_basic` is enbled in your apache but the `mod_auth_basic` is not enabled on your apache_mod PHP.
You need to check again your host.

Thanks!

[2019-09-04 16:19] Maofree opened #15405 "In product combinations the "Final retail price (tax excl.)" doesn't change setting "Impact on price (tax incl.)""
Hi
try to go in Hummingbird printed t-shirt product then go in its combinations and select one of them. Then try to change the "Impact on price (tax incl.)", you can see that "Final retail price (tax excl.)" is not changed. This value changes only changing the value without tax
bye

**Screenshots**
![11](https://user-images.githubusercontent.com/653230/64272584-f44bac00-cf3f-11e9-9a32-dd1b69315673

[2019-09-04 16:50] Maofree opened #15406 "[Idea] The new checkout uses a wrong strategy, penalizes sales by adding uncertainty to the purchase phase"
Hi
with the new checkout there is a big problem, very often people stop at the first step, registering only username and password without continuing in the next steps. The main problem is that if the steps of the various purchase phases are hidden, it certainly does not encourage people to complete all the information, they often get stuck without continuing. Why not use a checkout with open steps

[2019-09-04 16:57] Maofree opened #15407 "New module errors with 1.7.6.1 with LegacyHelperLinkBuilder.php"
Hi
now with 1.7.6.1 there are some errors like this one, if the configuration page of a module has some tables like for the productcomments module
the same happens on other my modules

/src/Adapter/Routing/LegacyHelperLinkBuilder.php
[8] Undefined index: id_productcommentscriterion

bye

**Screenshots**
![11](https://user-images.githubusercontent.com/653230/64275269-7be7e980-cf45-11e9-8799-d70cd4b

[2019-09-04 17:02] racquetmarket commented on #15390
The error is an a piece of code, for seo pruposes, and for the canical links. I have commented the code right now, I think is a code for PS 1.6:
{*

{if $page.page_name == 'product' }

<link rel="canonical" href="{$link->getProductLink($product->id)}" />
{elseif $page.page_name == 'manufacturer' }
<link rel="canonical" href="{$link->getManufacturerLink($manufacturer->id)}{$pagination}" />
{elseif

[2019-09-04 17:04] Hlavtox commented on #15056
@marionf made the specification correct for all merchants.

All products
Availble products = only quantity > 0 or backorder on
In stock only = quantity > 0

[2019-09-04 17:09] maofree commented on #15407
the same problem with ps_emailsubscription module

![11](https://user-images.githubusercontent.com/653230/64276145-80ad9d00-cf47-11e9-9ba3-59558f77c0e1.png)

[2019-09-04 19:22] pierreloicq commented on #15331
It occurs also on a fresh install.
Maybe the way I import my child theme is not correct (I just pasted it in my theme folder)
Actually I cannot do the 3rd step of [this picture](http://doc.prestashop.com/download/attachments/51184280/Capture%20d%E2%80%99e%CC%81cran%202019-08-12%20a%CC%80%2014.59.28.png?version=1&modificationDate=1565614783000&api=v2) because it fails to load my zip (even if the zi

[2019-09-04 20:10] karilobre commented on #15295
Hi,I couldn't switch the classic theme but I think I know what is wrong. All the products in my store are associated to the 3 category levels, for example, following this structure
"The parent category of "Basureros"(level3) is "Articulos Limpieza"(level2) which have a parent category"
I have
"Articulos para Higiene y Limpieza"
              "Articulos Limpieza"
                                 "B

[2019-09-04 21:15] alexvalentin-chama opened #15408 "Import news products by CSV ignorate the 'active' field"
Hi!
When we tried to import new products by CSV in our Prestashop 1.7.4, we need to activate the products later because **the system not recognize the "activate" field** with the first import and it's a problem for us because we need to do 2 steps:

1. Import the standard csv for products.
2. Then, import a CSV with the ID/SKU and the column Activate again.

This is a new feature of Prestashop 1.7

[2019-09-04 21:28] presciak commented on #15376
I'm sorry that I did not answer your messages but fell into my spam. Included are packed update logs.I work on a copy of the main store, that's why it's such a weird domainOd: "khouloudbelguith" &lt;notifications@github.com&gt;Do: "PrestaShop/PrestaShop" &lt;PrestaShop@noreply.github.com&gt;; Wysłane: 11:08 Środa 2019-09-04Temat: Re: [PrestaShop/PrestaShop] Price specification not found for curren

[2019-09-05 02:45] lilwayne470 commented on #15212
Hi @khouloudbelguith i update my prestashot to 1.7.6 but i still have the same issue
see picture
![image](https://user-images.githubusercontent.com/7246518/64307857-523eba80-cf65-11e9-958e-69f420feaf6a.png)
I really dont know what s wrong

[2019-09-05 03:36] slomoo opened #15409 "Unable to send mail"
![image](https://user-images.githubusercontent.com/49021553/64310014-1b05f300-cfd1-11e9-9224-e56dbe0efdd4.png)

![image](https://user-images.githubusercontent.com/49021553/64310082-51dc0900-cfd1-11e9-9a39-067e8a133789.png)

[2019-09-05 03:46] slomoo commented on #15409
![image](https://user-images.githubusercontent.com/49021553/64310490-d3806680-cfd2-11e9-89a9-b0142d9c656a.png)

[2019-09-05 06:55] Kis-shoes commented on #15376
Hi @khouloudbelguith,

Please ca you send any documentation on how to make fresh install on
existing PS.
Or any information that could help me carry out the fresh install.

Thanks

On Wed, 4 Sep 2019, 17:35 khouloudbelguith, <notifications@github.com>
wrote:

[2019-09-05 07:06] Digitalfastmind opened #15410 "Quantity Discount Table --> More Readable"
**Is your feature request related to a problem? Please describe.**
No, it's a feature to request a more Clear display of the Multiple quantity discount table

**Describe the solution you'd like**
Customer need to know the single Discouted item cost and the total made of single product discounted x quantity - The actual way display instead the discount value and the total discount value, but it's n

[2019-09-05 07:12] PierreRambaud commented on #15056
It will be done in another pull request / issue. Better to don't mix issues in the same pull request :roll_eyes:

[2019-09-05 07:17] jkivelae commented on #15004
Regarding the issue where a zip file is rejected already on the client side. The issue in my case (Windows 10 / Chrome 76 / PrestaShop 1.7.6.1) was that the dropzone only accepts application/zip, but Chrome identified the file as application/x-zip-compressed. Modifying the appectedFiles variable (using debugged) to "application/zip,application/x-zip-compressed" made the dropzone to accept my zip a

[2019-09-05 07:18] khouloudbelguith commented on #14980
Hi @seederp2p,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-05 07:18] #14980 closed, assigned to nobody

[2019-09-05 07:21] khouloudbelguith commented on #15407
Hi @maofree,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15382 to fix the issue.
Your ticket is a duplicate of #15318
So, I close it.
Thanks!

[2019-09-05 07:21] #15407 closed, assigned to nobody

[2019-09-05 07:21] khouloudbelguith commented on #15407
Duplicate of #15318

[2019-09-05 07:24] khouloudbelguith commented on #15409
Hi @slomoo,

To configure PrestaShop to send emails to your customers, we strongly advise you that you consult your web host to determine which settings to use for this feature.
To set your own SMTP parameters => The information for these fields should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.

[2019-09-05 07:26] nielsverhoeven84 opened #15411 "Shipping costs not mentioned on invoice"
When a customer places an order and pays with KBC paypage, the correct price is displayed in the KBC interface, but on the invoice generated by Prestashop, the shipping cost is 0 / free.

**Screenshots**
![Schermafbeelding 2019-09-05 om 09 25 20](https://user-images.githubusercontent.com/52320806/64320568-20f2d880-cfbf-11e9-82aa-75320a807e1c.png)

The order is 240 EUR
The shipping is 32 EUR  (appl

[2019-09-05 07:36] khouloudbelguith commented on #15410
Hi @freeman78ita,

In your BO => Shop Parameters => Product Settings => you can enable the option "Display discounted price"
![image](https://user-images.githubusercontent.com/16067358/64321298-34e70c00-cfb8-11e9-9682-1ced27499eef.png)

Thanks to check & feedback.

[2019-09-05 07:43] freeman78ita commented on #15410
Thanks, in my language it was not translated quite correctly tho :P All good :)

[2019-09-05 07:43] #15410 closed, assigned to nobody

[2019-09-05 07:55] khouloudbelguith commented on #15405
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 / PS1.7.6.0 / PS1.7.6.1.
If we set the field "Impact on price (tax incl.)" =>"Final retail price (tax excl.)" is not changed. (NOK)
If we set the field "Impact on price (tax excl.)" => "Final retail price (tax excl.)" is changed. (Ok)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed

[2019-09-05 07:57] maofree commented on #15405
Hi
I've just reported this error without a fix

[2019-09-05 07:57] khouloudbelguith commented on #15410
@freeman78ita, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-05 07:58] marionf commented on #14518
Edit:
These 3 options should also be displayed when the filter by stock is disabled:

- Display in stock products: Yes / No
If the option is set to Yes, display in FO products with quantity > 0
Should be on Yes by default
- Display available products: Yes / No
If the option is set to Yes, display in FO products with quantity <= 0 but available for order
Should be on Yes by default
- Display out of

[2019-09-05 07:59] milovanbgd opened #15412 "Web Debug Toolbar missing on Addresses"
**Describe the bug**
When I turn on debugging, Symfony Web Debug Toolbar appears on the most of the pages. However, it never shows on the Address list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Customers'
2. Click on 'Addresses'
3. No Web Debug Toolbar on the bottom
4. Go to Customers for example, there is a Web Debug toolbar

**Screenshots**
![Screenshot_20190905_095420](https:

[2019-09-05 08:00] PrestaShark commented on #15056
@PierreRambaud can You extract my idea from here?
Thank You for your time and effort. I own You a good beer and pizza!

@Hlavtox Your right. Need a good spec's for that.

For now i can say that https://github.com/PrestaShop/ps_facetedsearch/pull/132 fix the mentioned issue

[2019-09-05 08:03] marionf commented on #15056
@PrestaShark please follow this issue: https://github.com/PrestaShop/PrestaShop/issues/14518#issuecomment-528247235

[2019-09-05 08:03] slomoo commented on #15409
@khouloudbelguith  I'm sure my have no problem with the mail server.

I tested e-mail push directly on the mail server and used the mail server in my blog, so I'm sure the mail service is normal.

Thanks！

[2019-09-05 08:05] khouloudbelguith commented on #15406
Hi @maofree,

This behavior is fixing some issues:
https://github.com/PrestaShop/PrestaShop/issues/12456
https://github.com/PrestaShop/PrestaShop/issues/13126
https://github.com/PrestaShop/PrestaShop/issues/14846
https://github.com/PrestaShop/PrestaShop/issues/11750

Thanks to check & feedback

[2019-09-05 08:06] matks commented on #15056
🎉

[2019-09-05 08:08] ninefingersodnd commented on #15385
Hi,

Plesk itself does not handle apache_mod PHP, as apache does not aloud multiple PHP configurations.
This only works on the Vendor_OS but this is PHP 1.5

well as i said, it is working on the 1.7.5 version of prestashop, as i can see in the configuration of apache the module is standard loaded /etc/httpd/conf.modules.d/00-base.conf.

#
# This file loads most of the modules included with the Apa

[2019-09-05 08:16] maofree commented on #15406
Hi
sorry but I speak about the strategy used in the new checkout not about a bug
I want all steps open without the continue button. All blocks should be visible not hide like now

[2019-09-05 08:17] ninefingersodnd commented on #15385
httpd -M SSH command gives the following

 auth_basic_module (shared) dit is de mod_auth_basic module and is loaded correctly

Loaded Modules:
 core_module (static)
 so_module (static)
 http_module (static)
 access_compat_module (shared)
 actions_module (shared)
 alias_module (shared)
 allowmethods_module (shared)
 auth_basic_module (shared)
 auth_digest_module (shared)
 authn_anon_module (shared)

[2019-09-05 08:22] khouloudbelguith commented on #15412
Hi @milovanbgd,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
About the Addr

[2019-09-05 08:22] #15412 closed, assigned to nobody

[2019-09-05 08:28] khouloudbelguith commented on #15409
@slomoo, in my case with the right access => it is OK.
https://drive.google.com/file/d/1Aa5AsdO39Uv9tPQBp98UUALzUCxj0O7_/view
Thanks!

[2019-09-05 08:33] khouloudbelguith commented on #15406
@maofree, thanks for your feedback.
Yes, this strategy is used to fix some issues on the check page as I said before.
But, I will ping our Product team to discuss about this new behaviour
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-09-05 08:33] ninefingersodnd commented on #15270
Can you tell me the problem of the server configuration? cause the same problem here, it does not work

[2019-09-05 08:42] maofree commented on #15406
thanks for listening to me

[2019-09-05 08:44] khouloudbelguith commented on #15376
Hi @Kis-shoes,

For a quick fix to your issue, in your BO => International => Localization => Currencies Tab => Add the first three currencies that you deleted before

![image](https://user-images.githubusercontent.com/16067358/64326326-ad05ff80-cfc1-11e9-9589-c41fc9bf9f7f.png)

Thanks!

[2019-09-05 08:53] lordchukz commented on #15270
Please see info.php attached.

They also deactivated all third party modules, and tested each on single activation.

Had to uninstall 2 modules and reinstalled them again to gain complete functionality.

The "Activate the Apache module 'mod_auth_basic' to allow authentication of the PrestaShop webservice. #15283" problem is still there, but the technical analyst had a workaround to be able to use

[2019-09-05 09:01] ninefingersodnd commented on #15270
Thank you, Do you know the technical workaround?
I did a clean installation of my VPS and a clean installation of prestshop and the problem is still there

[2019-09-05 09:03] SignalBip opened #15413 "Set an expiration time for the Password reset link"
Currently, if I'm not mistaken, the Password reset link doesn't expire.
For more security, I'd prefer that the link should expire 24 hours after reception of the email.
Thank you.

[2019-09-05 09:05] lordchukz commented on #15270
Sincerely I don't know the workaround.. :-(
I can recommend my new host, their team are incredibly good..
They've helped me solve different issues on my site and optimised properly (Still on it) loads in less than 2.5 mins for now.

[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/3578396/phpinfo.pdf)

[2019-09-05 09:11] jeffPro97 commented on #15380
Hello, do you have an idea of when this bug will be resolve ?
I tried every modification of performance i found, but actually when i have 3000 products, i can't go under 4s per product.
Thanks

[2019-09-05 09:16] khouloudbelguith commented on #15413
Hi @SignalBip,

Thanks for your improvement.
Yes, the reset link is sent without an expiration time for the password reset link for both customers & employees.
It could be a good improvement.
For the employees, you can add a new option in the BO => Advanced Parameters => Team => "the expiration time" as an employee options
![image](https://user-images.githubusercontent.com/16067358/64328897-2f90be

[2019-09-05 09:19] ninefingersodnd commented on #15270
Thank you for your quick response! I'm waiting on our hosting company right now. If it is a workaround, then it is a faulty thing of Prestashop, because it is not working with the high standards on this moment on the servers. Tried now 3 different servers on 2 different hosting companies, all with fresh installations.

Presta 1.7.5.x is working fine with webservice

[2019-09-05 09:21] lordchukz commented on #15270
Just let me know, I can always put you in contact with my new host.
It took me about 10 days to solve this.. :-( what a relieve.
Regards.

[2019-09-05 09:22] khouloudbelguith commented on #15380
@jeffPro97, it is added to our bug roadmap & we have a team working on the performance issues.
Thanks for your patience.

[2019-09-05 09:31] khouloudbelguith commented on #15411
Hi @nielsverhoeven84,

I did not manage to reproduce the issue with PS1.7.6.1 using the Paypal module.
https://drive.google.com/file/d/1tABUiMWTE8hj9TLnT2djZ2Z9FwL9A6pr/view
Have you tried to contact the module author about this issue?
Thanks to check with them & feedback.

[2019-09-05 09:33] LouiseBonnard commented on #15413
Hi @khouloudbelguith and @SignalBip, it is quite essential, I agree. It is already possible to set a delay between two password requests (in the Shop Parameters > Customer Settings section of the back office) but I don't think we mention the link at this point.

<img width="1113" alt="Capture d’écran 2019-09-05 à 11 30 37" src="https://user-images.githubusercontent.com/32565890/64330080-9f0bab00

[2019-09-05 09:36] maofree commented on #15405
the shopkeeper ask me if that final price can be set with tax included to see the customer price
is it possible to do like on the 1.6?

[2019-09-05 09:44] nielsverhoeven84 commented on #15411
Hello @khouloudbelguith,

The payment module calculates the correct total, but the pdf invoice doesn't.
Isn't the pdf a default module of PS?

[2019-09-05 09:46] khouloudbelguith commented on #15408
Hi @v-alexer,

Thanks for your report.
By default, if import products ignoring the "active" field => they will be enabled by default.
We will add an option to activate/disable products in bulk in the import process
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/12653
So, I close it.
Thanks!

[2019-09-05 09:46] #15408 closed, assigned to nobody

[2019-09-05 09:46] khouloudbelguith commented on #15408
Duplicate of #12653

[2019-09-05 09:48] Kis-shoes commented on #15376
Hi @khouloudbelguith,
Those deleted currencies are Euro and Dollar currencies, which I deleted and recreated again. The third one is Afghan currency, I just added it again as you can see in the red box.
![Currencies_BO_](https://user-images.githubusercontent.com/40031239/64330851-037b3a00-cfd2-11e9-95db-7f8cc5a063a8.jpg)
Thanks

[2019-09-05 09:49] khouloudbelguith commented on #15411
@nielsverhoeven84, yes the Pdf is generated by PrestaShop.
In my case it is OK.
Have you tried to use another payment module to check if the issue occurs again?

Thanks!

[2019-09-05 09:53] khouloudbelguith commented on #15376
@Kis-shoes, the issue isn't fixed?
https://drive.google.com/file/d/1s2E8mDsK9F_S7ATWbPeywvwFbzmyCEIH/view
Thanks!

[2019-09-05 09:55] ninefingersodnd commented on #15270
Update: It turns out that on the versions 1.7.6.0 and 1.7.6.1 the message is a false one! I have checked the api connection and the output for requests. This works fine.

[2019-09-05 09:58] khouloudbelguith commented on #15385
Hi @ninefingersodnd,

As reported in this comment https://github.com/PrestaShop/PrestaShop/issues/15270#issuecomment-528291069
The warning is not correct & the webservice is well working?

Thanks!

[2019-09-05 10:02] khouloudbelguith commented on #15295
@karilobre, and for the product, what is the exact default category is selected? is it "Articulos para Higiene y Limpieza" or "Articulos Limpieza" or "Basureros"?
![image](https://user-images.githubusercontent.com/16067358/64332550-ae88f500-cfcc-11e9-86d0-8d82b1141f8a.png)
Thanks!

[2019-09-05 10:05] khouloudbelguith commented on #15331
@pierreloicq, this issue occurs because when we try to upload a theme with a zip folder which includes the theme folder in the zip, an alert is displayed as reported in this ticket:
https://github.com/PrestaShop/PrestaShop/issues/15004

Thanks!

[2019-09-05 10:07] khouloudbelguith commented on #15390
@racquetmarket, but your are using PS1.7.5? is it?

Thanks!

[2019-09-05 10:24] ninefingersodnd commented on #15385
That is correct, the warning is a false warning of the prestashop system, and should be corrected in further versions of prestashop.

[2019-09-05 10:28] khouloudbelguith commented on #15385
@ninefingersodnd, could you please provide a screenshot about your server information (From your BO => Advanced Parameters => Information page)

Thanks!

[2019-09-05 10:41] khouloudbelguith commented on #15385
@ninefingersodnd, I checked again your shop & yo are using an Nginx server?
![image](https://user-images.githubusercontent.com/16067358/64335100-02e2a380-cfd2-11e9-8243-8222e0a2a252.png)

Thanks!

[2019-09-05 10:41] khouloudbelguith commented on #15405
@maofree, in the PS1.6, the final price is not displayed
![image](https://user-images.githubusercontent.com/16067358/64333114-cdd45200-cfcd-11e9-9a47-6f843ef3c43e.png)

Thanks!

[2019-09-05 10:49] maofree commented on #15405
on the 1.6 the final price is with tax, check better
![11](https://user-images.githubusercontent.com/653230/64335635-85239580-cfdb-11e9-849e-dcf426ec6781.png)
![22](https://user-images.githubusercontent.com/653230/64335636-85bc2c00-cfdb-11e9-9db4-ea1f1d12a437.png)

[2019-09-05 11:03] ninefingersodnd commented on #15385
Well i looks like it :) Maybe that is the problem. In checking its configuration

[2019-09-05 11:06] khouloudbelguith opened #15416 "The final product price for the combination sould be displayed also tax included"
**Is your feature request related to a problem? Please describe.**
In the BO => Product details page => combination Tab => Edit a combination => Final price is displayed with Tax excluded

**Describe the solution you'd like**
It could be a good improvement to display it also tax included as in pricing tab

**Please note, both final prices should be updated when you modify the impact on price tax e

[2019-09-05 11:07] khouloudbelguith commented on #15416
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-09-05 11:07] khouloudbelguith commented on #15405
@maofree, improvement created here: https://github.com/PrestaShop/PrestaShop/issues/15416

Thanks!

[2019-09-05 11:09] maofree commented on #15405
thanks

[2019-09-05 11:10] khouloudbelguith commented on #15385
@ninefingersodnd, thanks to provide me a screenshot about your server configuration from your BO => Advanced Parameters => Information page
In your first comment => you just said that

Thanks!

[2019-09-05 11:14] mrabsinthe opened #15418 "500 error after 1-Click Upgrade to 1.7.6.1"
**Describe the bug**
1.7.5.1 performed upgrade to 1.7.6.1 using 1-Click upgrade. The whole process completed within few minutes with no errors or warnings. See image:
![completed](https://user-images.githubusercontent.com/31688689/64336834-3dead400-cfde-11e9-9de0-f16352e20e3f.png)

However the FO - 500 error, with debug enabled, the following is displayed:
![PrestaShopException](https://user-image

[2019-09-05 11:15] nielsverhoeven84 commented on #15411
Hello @khouloudbelguith
I did not try another module, since the payment module itself handles the correct price, so it must me in the system, but not processed on the pdf invoice

[2019-09-05 11:16] ninefingersodnd commented on #15385
![informations](https://user-images.githubusercontent.com/23555131/64337284-54455f80-cfdf-11e9-8e03-1f24dc0d91db.png)

It says just apache, Yes it is FPM-Apache

[2019-09-05 11:16] khouloudbelguith commented on #15418
Hi @mrabsinthe,

You have an override of the class Tools.php
![image](https://user-images.githubusercontent.com/16067358/64337231-d9784680-cfd6-11e9-95e1-ed9dae042758.png)
It is not compatible with PS1.7.6.1, you should removed it & check with the module author about this if it is added by a custom module.

Thanks to check & feedback.

[2019-09-05 11:19] mrabsinthe commented on #15418
All overrides disabled as well as all non PrestaShop modules, cache cleared, same result.
![disabled](https://user-images.githubusercontent.com/31688689/64337480-c3bb4f00-cfdf-11e9-96dd-2f009462b87a.png)

[2019-09-05 11:21] khouloudbelguith commented on #15385
@ninefingersodnd, I checked your shop again & the response server is Nginx.
![image](https://user-images.githubusercontent.com/16067358/64337519-74712080-cfd7-11e9-83f6-9c95a54164d4.png)
It should Apache like in my case
![image](https://user-images.githubusercontent.com/16067358/64337611-a4202880-cfd7-11e9-9f15-765344e1d8a5.png)

Could you please check with your host & feedback.

[2019-09-05 11:22] khouloudbelguith commented on #15411
@nielsverhoeven84, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-05 11:23] khouloudbelguith commented on #15418
@mrabsinthe, this option is not working as reported in this ticket
https://github.com/PrestaShop/PrestaShop/issues/14596
Thanks!

[2019-09-05 11:30] mrabsinthe commented on #15418
1. it should have been fixed in 1.7.6.1
2. #14596 should have label 1.7.6.1
3. the error was caused indeed by Tools.php file

Thank you for your help.

[2019-09-05 11:30] #15418 closed, assigned to nobody

[2019-09-05 11:37] mrabsinthe commented on #14596
Still the same issue with PS 1.7.6.1

[2019-09-05 11:40] ghost opened #15419 "Related products - exclude possibility to add product that we already editing"
Hi team,
Just noticed that we are able to add the product that we already editing as related product.

That's regression since 1.6

![bug](https://user-images.githubusercontent.com/8243273/64338661-9de37980-cfe2-11e9-912c-ec846b7d9f7e.png)

Thanks! <3

[2019-09-05 11:57] matthieu-rolland commented on #9812
@marionf , @colinegin

The issue here is that we have mandatory fields in the address table (id_country, firstname, lastname, etc...) and if we remove one of those in the address format in back office, then the form will fail at submit or even at display.

[2019-09-05 12:02] khouloudbelguith commented on #15418
@mrabsinthe, thanks!
Feel free to open a new one when needed.

Thanks!

[2019-09-05 12:04] khouloudbelguith commented on #15419
Hi @PrestaShark,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9617
So, I close it.
Thanks!

[2019-09-05 12:04] #15419 closed, assigned to nobody

[2019-09-05 12:04] khouloudbelguith commented on #15419
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9617

[2019-09-05 12:26] psyray commented on #15398
I think it's not an improvement but a bug.
We could type a position to move an object on top, not only drag and drop.
So add a text input for the position number with a form to save position could solve the issue

[2019-09-05 12:34] mrabsinthe opened #15420 "Home category SEO preview is not working"
**Describe the bug**
The title says it all - SEO preview not working Home category.
It is working fine on categories but not on Root/Home category. Tested on two different installations.
![seo](https://user-images.githubusercontent.com/31688689/64342091-13067d00-cfea-11e9-9bae-a1e4515597c0.png)

It is missing the Title, the Description and the lLnk isn't correct.
It should look like this :
<img wi

[2019-09-05 12:41] Kis-shoes commented on #15376
Hi @khouloudbelguith,
I took the steps as described in this link https://drive.google.com/file/d/1s2E8mDsK9F_S7ATWbPeywvwFbzmyCEIH/view
I imported again this countries, US, Germany, France and Switzerland
unfortunately that didn't solve the issue.

![Debug mode error](https://user-images.githubusercontent.com/40031239/64342071-0c780580-cfea-11e9-8a37-e6698f2e6cd5.JPG)
In debug mode, this error mes

[2019-09-05 12:42] omar2886 commented on #14518
dear @marionf, I was said that this would be applied to the new version. I upgraded couple days ago to v3.2.1 but filter in FO offers only 2 options:
- Available for order products (no matter the stock level)
- Products not available for order.

[2019-09-05 12:42] khouloudbelguith commented on #15376
@Kis-shoes, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-09-05 12:48] khouloudbelguith commented on #15420
Hi @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0. & PS1.7.6.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-05 12:51] marionf commented on #14518
@omar2886 yes, this improvement has not been implemented yet

[2019-09-05 12:58] ninefingersodnd commented on #15385
Hi,

The nginx is a reverse proxy server, has no effect on the Apache module handlers,
As proof i have set the service for this handler on off.

I get a fault on the webservice js script see:

![informations](https://user-images.githubusercontent.com/23555131/64343902-aab99a80-cfed-11e9-936d-51d07fbf8d7f.png)

[2019-09-05 13:02] khouloudbelguith commented on #15385
@ninefingersodnd, Could you please try to follow these steps:

1. go to Network tab
2. Reload your page
3. wait for your error, you should see red request information in Network tab
4. click on it, you should see the error message in "Response" or "Preview" tab

Thanks!

[2019-09-05 13:07] pierreloicq commented on #15004
@jkivelae Thanks
Could your confirm that the file to modify is modules\ps_themecusto\views\js\controllers\advanced\back.js ? (line ~80)
According to checkfiletype.com, my file is application/x-zip, so I included that, but it does not work better.  I cleared the cache. Did you do something more ?

[2019-09-05 13:08] Kis-shoes commented on #15376
@khouloudbelguith
to delete folders prod and dev in Var/cache or to delete files and folders in prod and dev?
Thanks

[2019-09-05 13:10] khouloudbelguith commented on #15376
@Kis-shoes, delete prod and dev folders.

Thanks!

[2019-09-05 13:14] matthieu-rolland commented on #9812
Ok so I checked with @matks and I will fix it in the core, throwing an exception when we try to remove a mandatory field from the address format in back office.

Afterwards we'll have to improve the frontend to make it clear that some values can't be removed, wether it is in migration or post migration.

[2019-09-05 13:18] Kis-shoes commented on #15376
@khouloudbelguith ,
I deleted the two folders but nothing changed
Thanks

[2019-09-05 13:20] khouloudbelguith commented on #15376
@Kis-shoes, same warnings? no exception?

Thanks!

[2019-09-05 13:30] Kis-shoes commented on #15376
@khouloudbelguith,
Look pretty much similar
![Currency specification not found](https://user-images.githubusercontent.com/40031239/64346231-0ab24000-cff2-11e9-9f06-d7a741bfa70c.JPG)
![Debug mode2](https://user-images.githubusercontent.com/40031239/64346251-143ba800-cff2-11e9-9243-d94a2c1212c8.JPG)
Thanks

[2019-09-05 13:36] jansass opened #15423 "Unit prices wrong (Again)"
Take any variable product, add 0.001 as unit price (to make it work, else unit prices wont be calculated at all... well)

Base Price: 1,00 Euro, weight 0,5 kg
Unit Price: 2,00 Euro

Works on product pages: Price 1 Euro, 2 Euro/kg
But when adding the same product to cart > open cart (cart-detailed-product-line.tpl) the price in {$product.unit_price_full} is wrong: 1,00 Euro / kg.

Default install 1

[2019-09-05 13:52] khouloudbelguith commented on #15423
Hi @jansass,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1bZasGj5uIBL8_sJb_kFrEcmyO_1Zf1_R/view
Thanks to check & feedback

[2019-09-05 13:52] marionf commented on #15416
Yes, let's do that

[2019-09-05 13:54] ninefingersodnd commented on #15385
I do not know wat your mean,
you can reproduce, your login credentials are still valid.

just go to webservice in presta and hit inspect.

[2019-09-05 13:54] khouloudbelguith commented on #15376
@Kis-shoes, I think it is better to wait until this issue fixed by our developers.
It is a major regression, so it will be fixed in a few days.

Thanks!

[2019-09-05 13:55] jansass commented on #15423
@khouloudbelguith

As i said, as screenshot shows: VARIABLE product.

[2019-09-05 14:01] khouloudbelguith commented on #15423
@jansass, sorry do you mean a customized product?

Thanks!

[2019-09-05 14:03] vvvamik opened #15424 "Proforma invoice"
In Prestashop, the possibility of an proforma invoice is very missing. Is this feature planned? Thank you.

[2019-09-05 14:03] jansass commented on #15423
@khouloudbelguith

I mean a product with eg two sizes: L and XL, and two prices, and two unit prices (=variable product).
If its additionally customizable the bug still persists, so i thing its related to variable products..

[2019-09-05 14:10] khouloudbelguith commented on #15423
@jansass, thanks it is a product with combinations.
I checked it again & it is ok
https://drive.google.com/file/d/1nz_JvyH9mOOtziT7RbsTMcBlENMj5wfW/view
Thanks!

[2019-09-05 14:11] pierreloicq opened #15425 "ps_emailsubscription 2.5 does not register e-mail in its database"
With PS 1761, I upgraded the Newsletter subscription module from 2.3 to 2.5 as proposed in the Module manager/updates tab.
2.3 was working fine, but with 2.5, **e-mail is not saved in the db**, and there is no "well received" green message below the e-mail box. I am just sent to index.php#footer when I submit an e-mail.

I also have an error popping up when I go on the module config page :
[code]

[2019-09-05 14:12] jansass commented on #15423
Can you please send me screenshots of product > prices, variants > prices and frontend on product page and cart ?

[2019-09-05 14:14] jansass commented on #15423
@khouloudbelguith Im sorry, its a video you sent. I need the screenshot for variants only, like attached
<img width="1009" alt="Bildschirmfoto 2019-09-05 um 16 14 46" src="https://user-images.githubusercontent.com/4060287/64350044-494af900-cff8-11e9-9078-7d7039ba5290.png">

[2019-09-05 14:19] khouloudbelguith commented on #15423
@jansass,
![image](https://user-images.githubusercontent.com/16067358/64350442-932fe100-cff0-11e9-8a73-9d61b672f360.png)

Thanks!

[2019-09-05 14:21] jansass commented on #15423
@khouloudbelguith

Your impact on unit price is empty; thus it works. But that does not work in real life:

One product: two sizes, two prices, two weights:
A, Size L, 2 €, Weight: 0,5 kg == Unit Price: 4€/kg
B, Size XL, 3 €, Weight: 1 kg == Unit Price: 3€/kg

..so you NEED TO adjust "impact on price per unit" and then it fails..

[2019-09-05 14:22] jansass commented on #15423
fails in terms: works in product page, but not in cart; in cart base unit price is taken, not impacted price per variant)

[2019-09-05 14:27] karilobre commented on #15295
The default category is Basureros, the 3rd level

[2019-09-05 14:31] Stefanobosio commented on #14923
Hello, in Prestashop 1.7.4.3 i fixed this behaviour overriding the AdminControllerCore at line 131-133 in this way:

// override/classes/controller/admin/AdminController.php

`<?php
/**
 * 2007-2018 PrestaShop
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through

[2019-09-05 14:37] khouloudbelguith commented on #15295
@karilobre, with the default theme & the default module ps_facetedesarch => subcategories are not displayed.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-09-05 14:37] #15295 closed, assigned to nobody

[2019-09-05 14:37] marionf commented on #15398
@TristanLDD What do you think ?

[2019-09-05 14:40] Kis-shoes commented on #15376
Hi @khouloudbelguith,

Thanks so much for the support. How long is the update for fix going to take?

Don't you think trying the fresh install could help?

Thanks

[2019-09-05 14:47] matks opened #15427 "Stop using Tools::displayPrice as it is deprecated"
`Tools::displayPrice()` is deprecated from 1.7.6.0

We need to update all usages of this function in the project and use `Locale::formatPrice()` instead

[2019-09-05 14:54] khouloudbelguith commented on #15425
Hi @pierreloicq,

About the red alert.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15382 to fix the issue.
It is reported in this ticket:
https://github.com/PrestaShop/PrestaShop/issues/15318
About the seond issue, I manage to reproduce the issue with ps_emailsubscription v2.5.0 & PS1.7.6.1.
With ps_emailsubscription v2.3.0 => OK
With 1.7.6.0 & ps_emailsubscription v2.5.0 => NOK
W

[2019-09-05 15:00] khouloudbelguith commented on #15424
Hi @vvvamik,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-09-05 15:12] khouloudbelguith commented on #15423
@jansass, thanks for these clarifications
It is ok in the shopping cart but it is wrong calculated on the product page as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9901
https://drive.google.com/file/d/1PU-veva690YQ-176R9Q9WV3Vzgr18zgN/view
Thanks to check & feedback

[2019-09-05 15:13] jansass commented on #15423
@khouloudbelguith

So its a bug and will be fixed.. ?

[2019-09-05 15:22] jansass commented on #15423
I've delegated this to one of our teams, that BUG is SEVERE, and its in all versions (here and there) since 1.4. What is the problem with unit prices and Prestashop .. They are buggy all the time ??

[2019-09-05 15:23] khouloudbelguith commented on #15423
@jansass, yes it is a bug & it is added to our bug roadmap.
So your issue is similar to this ticket?
Thanks!

[2019-09-05 15:26] jansass commented on #15423
@khouloudbelguith

No, its not about wrong math in fractions of numbers. {$product.unit_price_full} in cart-detailed-product-line.tpl is the complete wrong numbers (i guess its base product unit price; not variants' ) - making it ILLEGAL to use it with EU

[2019-09-05 15:27] #15254 closed, assigned to nobody

[2019-09-05 15:28] khouloudbelguith commented on #15376
@Kis-shoes, it could be fixed in few days, it is a Major regression.
Also, PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

New installation could help you but you need to not delete currencies.

Thanks!

[2019-09-05 15:28] #14570 closed, assigned to nobody

[2019-09-05 15:35] khouloudbelguith commented on #15423
@jansass, in your case, in the shopping cart the unit_price is 0.
But in my case, it is OK as desqcribed in this screenrecord
https://drive.google.com/file/d/1PU-veva690YQ-176R9Q9WV3Vzgr18zgN/view
Combi1
![image](https://user-images.githubusercontent.com/16067358/64356354-a47deb00-cffa-11e9-9b4c-44a46a9f31f4.png)
Combi2
![image](https://user-images.githubusercontent.com/16067358/64356382-b19ada00-

[2019-09-05 15:35] Ortezjan opened #15430 "Products are not displayed when deselect "show products from subcategory"."
**Describe the bug**

Faceted search products are not displayed when I deselect "show products from subcategory".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'faceted search module'
2. Click on 'deselect "show products from subcategory".'
3. Products are not displayed.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional infor

[2019-09-05 15:42] khouloudbelguith commented on #15430
Hi @Ortezjan,

This a normal behavior.
Disabling this option => Products from in subcategories will not be displayed.
For example, we have categories:
1. Clothes (level1)
2. Men (level2)

In the Clothes category => there is no products displayed
In the Men category => products are displayed.
I attached a screen record
https://drive.google.com/file/d/1J_hzT99dL8PghXVVn7olasR3-NdNrFjX/view
Thanks to

[2019-09-05 15:45] jansass commented on #15423
@khouloudbelguith

I dont know the base prices, i cant see them in your video. Anyhow:

https://drive.google.com/file/d/1PU-veva690YQ-176R9Q9WV3Vzgr18zgN/view
sec 0:42, you add ProductA, Size M, 4€ at **11€/kg**
sec 0:48, in Cart ProductA, Size M, 4€ at **8€/kg**

This is why unit prices are messed up - you are not checking the results properly. Im sorry to be that harsh, but im fed up with doing

[2019-09-05 15:46] Ortezjan commented on #15430
But in my case in both category is no products displayed.

[2019-09-05 15:52] khouloudbelguith commented on #15423
@jansass, I'm trying to reproduce your exact issue with all information.

sec 0:48, in Cart ProductA, Size M, 4€ at 8€/kg
This is why unit prices are messed up - you are not checking the results properly.

As I said before it is wrong calculated on the product page as reported in this ticket: #9901, it is reported & added to our bug roadmap, that's why I have differnt prices.
Your issue about unit

[2019-09-05 15:55] khouloudbelguith commented on #15430
@Ortezjan, and have you products associated to those categories?
Thanks!

[2019-09-05 15:55] Ortezjan commented on #15430
Yes correct.

[2019-09-05 15:56] jansass commented on #15423
@khouloudbelguith

khouloudbelguith, its not: You are adding a product aat 11€/kg then go to cart where is shows 8€/kg. Were are the missing 3€/kg? ITS YOU OWN VIDEO!

And its wrong in eighter places: on product page you add base price, on checkout you dont. Since we are working with 0.001 base prices (to make adding it easier), our fault shows on cart; yours show on product page.

It still the sa

[2019-09-05 15:56] khouloudbelguith commented on #15430
Hi @Ortezjan,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-09-05 15:58] jansass commented on #15423
Im closing this issue since talking to you does not lead anywhere.

You are simply not interested in fixing this issue, instead more crap like overly complex foundation migration is breaking more and more modules (like Visual Composer from SmartData)

Presta is leading the way of OXID: off the cliff.

[2019-09-05 15:58] #15423 closed, assigned to nobody

[2019-09-05 16:04] khouloudbelguith commented on #15423
@jansass, your issue is duplicate of https://github.com/PrestaShop/PrestaShop/issues/9603
It is added to our bug roadmap.
Thanks!

[2019-09-05 16:04] khouloudbelguith commented on #15423
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9603

[2019-09-05 16:06] Ortezjan commented on #15430
![Screenshot_2](https://user-images.githubusercontent.com/49912771/64359053-dea1b980-d007-11e9-8924-02d3e34e80f1.png)
![Screenshot_3](https://user-images.githubusercontent.com/49912771/64359054-dea1b980-d007-11e9-8065-b7f109fb249d.png)
![Screenshot_4](https://user-images.githubusercontent.com/49912771/64359055-dea1b980-d007-11e9-8f62-9487f2a40d1d.png)
![Screenshot_5](https://user-images.githubuser

[2019-09-05 16:08] khouloudbelguith commented on #15212
Hi @lilwayne470,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-05 16:09] Ortezjan commented on #15430
Shared hosting, PHP version 1.7.6.1. Rest information I don't have an idea of how I can find.

[2019-09-05 16:12] khouloudbelguith commented on #15430
@Ortezjan, in your screenshot
![image](https://user-images.githubusercontent.com/16067358/64359387-1dcc0c80-d000-11e9-8134-bd6bbe06954d.png)
The category by default of those products is not "Baby Cotton".
In my case
![image](https://user-images.githubusercontent.com/16067358/64359466-48b66080-d000-11e9-8380-818a49b3b152.png)

Thanks!

[2019-09-05 16:12] #9767 closed, assigned to nobody

[2019-09-05 16:19] Ortezjan commented on #15430
So when I
![Screenshot_7](https://user-images.githubusercontent.com/49912771/64359920-a7340c80-d009-11e9-9ffa-64141d5762fa.png)
![Screenshot_8](https://user-images.githubusercontent.com/49912771/64359922-a7340c80-d009-11e9-9608-9cc063eadf4e.png)

 go to this category then those categories are empty. Or show only 1 or 2 product.
![Screenshot_6](https://user-images.githubusercontent.com/49912771/643

[2019-09-05 16:21] khouloudbelguith commented on #15385
@ninefingersodnd, I checked in my case the loaded module apache & it is similar to yours.
`auth_basic_module (shared)`
![image](https://user-images.githubusercontent.com/16067358/64359900-3c7ed300-d001-11e9-8628-02f4b9b795f7.png)

Thanks!

[2019-09-05 16:23] khouloudbelguith commented on #15430
@Ortezjan, so they are displayed when selecting the default category.
Thanks!

[2019-09-05 16:26] Ortezjan commented on #15430
But i have selected in the default category a lot of products but showing only 1?

![Screenshot_9](https://user-images.githubusercontent.com/49912771/64360355-9932bb80-d00a-11e9-874a-e81e0a372c51.png)

[2019-09-05 16:26] khouloudbelguith commented on #15391
@msaustral, Yes, you are right.
This option allows you, among other things, to restrict access to your shop for certain countries & not states.

Thanks!

[2019-09-05 16:32] khouloudbelguith commented on #15430
@Ortezjan, in our case, using the default theme Classic & the ps_facetedsearch v3.2.1. when "show products from subcategory" is disabled => the category filter is not displayed as a filter in the FO.
https://drive.google.com/file/d/1d1ulMbUu2YVmIC-NY2VBW6VtRDEjuL4F/view
Could you please check the issue with the theme author & feedback.
Thanks!

[2019-09-05 17:25] Maofree opened #15432 "White page on each translation pages"
Hi
i think there are some javascript errors in a site with prestashop 1.7.6.0, it happens for each type of translation

I can give you the access to this site

bye

**Screenshots**
![11](https://user-images.githubusercontent.com/653230/64364149-989e2300-d012-11e9-8479-ef2f9ec53d15.png)

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.0

[2019-09-05 17:52] maofree commented on #15432
now where are the translations?
not in the translations folders of theme and of webroot

[2019-09-05 18:01] maofree commented on #15432
on my local server I can translate that site
so I want to upload these translations on the real site, but I cannot find where are saved them on 1.7.x

[2019-09-05 18:53] MathiasReker commented on #14685
Atm. javascript are loaded in the bottom. But wouldn't it be smarter to place it in the head and load it async?

[2019-09-05 19:27] #15116 closed, assigned to nobody

[2019-09-05 19:35] vvvamik commented on #15424
Ho @khouloudbelguith
Page PrestaShop/prestashop-product-team not works.

[2019-09-05 19:49] PierreRambaud commented on #15056
Hey everyone, I updated the PrestaShop/ps_facetedsearch#132 pull request. Could you tell me if everything is ok for you?

[2019-09-05 20:44] sebastiano-riva commented on #15004
I didn't go deeply but the problem is the ZIP file.
I had same problem, I extracted and zip again all files of theme with 7-zip on Windows environment and operation ended successfully.
Note: I tried also on Mac environment (I zip again all files of theme with default option of Apple) but error persist.

[2019-09-05 21:38] go-sudo commented on #15115
Hello
since the modules dev doesnt reply I decided to uninstall all them but the issue is always here

https://www.youtube.com/watch?v=XgQGWsT7TZ0
https://ibb.co/fYFTWPY

[2019-09-06 07:12] jkivelae commented on #15004
@pierreloicq I actually modified the variable on-the-fly in the Chrome debugger.

I checked the file you mentioned (modules\ps_themecusto\views\js\controllers\advanced\back.js ~line 80) and I think it should work.

Adding ",application/x-zip-compressed" seemed to work for my zip.
`
....
Dropzone.options.importDropzone = {
  acceptedFiles: 'application/zip,application/x-zip-compressed',
  maxFiles:

[2019-09-06 07:24] khouloudbelguith commented on #14974
Hi @Mars228,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-06 07:24] #14974 closed, assigned to nobody

[2019-09-06 07:27] khouloudbelguith commented on #15432
Hi @maofree,

With PS1.7.6.0, we have some regressions related to the translation.
They are fixed in the last release PS1.7.6.1.
You can find those issues in this [link](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ATranslations+milestone%3A1.7.6.1+is%3Aclosed)

Thanks to check & feedback.

[2019-09-06 07:38] khouloudbelguith commented on #15424
Hi @vvvamik,

In your case, you don't have access to this link, but it is OK for the members of PrestaShop.

Thanks!

[2019-09-06 07:41] maofree commented on #15432
hi
can you say me where are stored the translations now?

[2019-09-06 08:12] Prestaworks opened #15433 "Can't translate emails"
**Describe the bug**
The new email theme system uses translations for the content of the emails, but there is no way to translate Emails.Body that the twig files refer to.

**To Reproduce**
Try to change the phrase "Hi" in the email theme and regenerate the templates.

**Screenshots**

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2.x

[2019-09-06 08:12] khouloudbelguith commented on #15432
@maofree, the zip files are downloaded in the `folder/translations`, and then they are extracted and the XLF files they contain are exported to`app / Resources / translations`.

Thanks!

[2019-09-06 08:21] maofree commented on #15432
thanks

[2019-09-06 08:26] khouloudbelguith commented on #15433
Hi @Prestaworks,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14719 to fix the issue.
It is fixed in the PS1.7.6.1.
Thanks to check & feedback

[2019-09-06 08:27] khouloudbelguith commented on #15432
@maofree, you are welcome!
Any news about your issue.
Did you check the fixes in the PS1.7.6.1?

Thanks!

[2019-09-06 08:28] Prestaworks commented on #15433
Hi Khouloud,

I can't find those transaltions in the admin on 1.7.6.1 either? can you tell me where they are located in the translations tab?

[2019-09-06 08:30] maofree commented on #15432
I think it is not due from prestashop version, because the clone of this site works well on my local server
I think it is due from other problems
the debug mode doesn't show anything, just a javascript error in the web tool of chrome, it happens only in this site

[2019-09-06 08:40] khouloudbelguith commented on #15432
@maofree, We need to retrieve the PHP error log and the debug mode report(doesn't show anything in your case) in order to find out what's wrong.

Thanks!

[2019-09-06 08:58] mrabsinthe opened #15434 "Carrier not updating after zone change - VAT related"
If you set in BO->International->VAT-> Based on “Invoice address” (which is correct setting in some cases), the list of carriers will not update if you change the country under “Shipping Address”.
If it is set to delivery address, it works fine:
![](https://user-images.githubusercontent.com/31688689/64414873-74832600-d094-11e9-970a-9c7c8a4c1861.png)

**To Reproduce**
Steps to reproduce the behavio

[2019-09-06 09:02] pierreloicq commented on #15004
ok, it didn't work because the cache was strong, now it's ok
Thank you :-)

[2019-09-06 09:06] khouloudbelguith commented on #15004
Hi @jkivelae,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_themecusto
Thank you!

[2019-09-06 09:07] LouiseBonnard opened #15435 "Add Malagasy, Uzbek, and Tagalog as new supported languages"
**Is your feature request related to a problem?**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
For the 1.7.7 version, following recent activity on Crowdin, it would be nice to add Malagasy, Uzbek, and Tagalog as supported languages in PrestaShop.

**Why?**
Some languages are available in Crowdin for translation but not available in PrestaShop because of

[2019-09-06 09:09] itisco commented on #15033
Hello
Here is the fix our developper did to solve the problem.

Si les images des produits ne s'affichent pas sur les factures, il faut
modifier le fichier public_html/classes/pdf/HTMLTemplateInvoice.php :

Ligne 210 :

Remplacer

$order_detail['image_tag'] = preg_replace(
    '/\.*' . preg_quote(__PS_BASE_URI__, '/') . '/',
    _PS_ROOT_DIR_ . DIRECTORY_SEPARATOR,
    ImageManager::thumbnail($pat

[2019-09-06 09:12] jolelievre opened #15436 "Add parameter on prestashop:module command to avoid clearing the cache"
**Is your feature request related to a problem? Please describe.**
At each module action (install/uninstall/enable/...) we clear the cache in the ModuleManager. This is required to update services or route definitions. The drawback is that the next request is quite long since the cache needs to be recreated.

In the back office to avoid too long delays we integrated a parameter to disable this cac

[2019-09-06 09:14] LouiseBonnard opened #15438 "Add Albanian and Korean to the installer"
**Is your feature request related to a problem?**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
For the 1.7.7 version, following recent activity on Crowdin, it would be nice to add Albanian and Korean to the PrestaShop installer.

**Why?**
Since the installer helps you installing PrestaShop, it must be accessible to as many people as possible. And this i

[2019-09-06 09:20] khouloudbelguith commented on #15435
Ping @PrestaShop/prestashop-product-team

[2019-09-06 09:32] Klemart3D opened #15440 "No breadcrumb on some important pages (like Stores, Sitemap, New Products, Best Sales, Suppliers, Cart...)"
**Describe the bug**
On fresh install of PS 1.7.6, in front-office, breadcrumb is visible on every pages but no stores pages, why?

**Screenshots**
![no-breadcrumb-on-stores](https://user-images.githubusercontent.com/7419525/64417639-c7aba780-d099-11e9-8bcc-077fd4a33fdf.png)

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2

[2019-09-06 09:32] pierreloicq commented on #15004
Here it is
https://github.com/PrestaShop/ps_themecusto/pull/16/commits/3113d016dd5ce003783c1a5c88b4e348fa51a2e4

[2019-09-06 09:34] khouloudbelguith commented on #15433
@Prestaworks, you need to navigate to your BO => International => Translations =>
1. Type of translation => Email translations
2. Select the type of email content => Body
3. Select your theme => Classic
4. Select your language => English
5. Click on Modify

I attached a screen record
https://drive.google.com/file/d/1aj-ahHMsXXjazn6wkRcsnA66ZUykrzle/view

Original Email Translated
![image](https://

[2019-09-06 09:48] Prestaworks commented on #15433
Hi Khouloud,

The problem is that when I go to design -> email themes and regenerate the template files, all changes to the html files are overwritten becuase the template generator uses transations for "Emails.Body" that can't be changed from admin, those values seems to be in the xlf files? but if the email template system should be possible to use, we need to be able to translate the templates

[2019-09-06 09:49] khouloudbelguith commented on #15440
Hi @Klemart3D,

Thanks for your report.
Not only for the "Our stores" page, but there is also
1. Sitemap page
![image](https://user-images.githubusercontent.com/16067358/64418460-f83c1300-d092-11e9-82aa-da11f1de065b.png)
2. New products page
![image](https://user-images.githubusercontent.com/16067358/64418550-1efa4980-d093-11e9-8678-cf14d8e52f9c.png)
3. Best sales page
![image](https://user-images

[2019-09-06 09:53] R0bb12 opened #15441 "Wrong sql query in gamification module"
**Describe the bug**
In Gamification module, no order badge are on. The SQL statement for these badges are different from others, PREFIX string is not in the statement.

Using gamification file:
https://gamification.prestashop.com/json/data_EN_IDR_ID.json

At condition id 53, 54, 55 and 56 (table ps_orders not exists):
`SELECT COUNT(*) FROM ps_orders`

Example with condition 52: (PREFIX is used, w