[2018-12-12 11:33] khouloudbelguith commented on #11746
Hi @florentingarnier,

Have you the same issue with this ticket: #11492?
Thanks!

[2018-12-12 11:56] web-fu commented on #11743
@khouloudbelguith just submitted the pull request, but is failed during pipeline check:

No more error is shown, what I have to debug?

[2018-12-12 12:49] khouloudbelguith commented on #11743
@web-fu, I restarted the build for you, Tanks for the fix.
Our dev should review your PR, to be tested.
THanks!

[2018-12-12 12:55] manburg6 commented on #11115
I'm checking module with Leotheme support...

I've upgraded recently from 1.7.4.3 to 1.7.3.4 without any problem. I hope this solve the issue.

I'm trying to replicate the error and send you some more log....

[2018-12-12 13:05] khouloudbelguith commented on #11115
@manburg6, thanks!
Waiting for your feedback.

[2018-12-12 13:11] pmono75 opened #11748 "Cart"
Hello,

Prestashop 1.7.3.0
localisation>defaut country > Allemagne
Order can be proceed withou account

When a new customer want to pay his order, he entered name and email adresse (step 1), then he entered his address :
If the country is allemagne : >no problem
If the country is changed to : France > at the end of this step (step2)
The customer is directed to login to his account

How I can fix t

[2018-12-12 13:17] manburg6 commented on #11115
I add a bit:

Befor to go live I removed the default demo customer from backoffice.
Now I've some record in ps_address table referring to that customer (id_customer=1) that don't exists any more...

I remove them.

[2018-12-12 13:19] FlorentinGarnier commented on #11746
Okay this is the same issue
Thanks !!

[2018-12-12 13:20] khouloudbelguith opened #11749 "Cancel button on the Design / Pages don't work"
**Describe the bug**
In the BO => Design => Pages => When I try to create a new page, I click on "save and preview button", after that, if I click on the "Cancel" button, I stay on the same page.
It should bring me on the Pages page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Pages
2. Click on "Add new page"
3. Click on save and preview button
4. Click on cancel
5.

[2018-12-12 13:24] khouloudbelguith commented on #11746
Hi @florentingarnier,

We are aware of this issue.
Your ticket is a duplicate of #11492
So, I close it.
Thanks!

[2018-12-12 13:24] #11746 closed, assigned to nobody

[2018-12-12 13:25] khouloudbelguith commented on #11746
Duplicate of #11492

[2018-12-12 13:28] manburg6 commented on #11115
No way.... I placed many order in the same time (1 second difference, as the two with same reference) but everything goes fine.

[2018-12-12 13:29] khouloudbelguith commented on #11115
@manburg6, because you just deleted the customer & not his addresses.
Thanks!

[2018-12-12 13:41] khouloudbelguith commented on #11748
Hi @pmono75,

Thanks for your report.
I did not manage to reproduce the issue with PS 1.7.5.0rc1.
I attached a video record.
https://drive.google.com/file/d/172uzSCR4qsvLLFSKLlP6EAlXw2UuaGI0/view
Thanks to check & feedback

[2018-12-12 13:46] pmono75 commented on #11748
Hi,

On your video, you have created an account (you have a password).
You change the country in a second time.
Could you please try it without password (no account) ?
You can also try it on our store : www.magasino.com
Best regards,
P

[2018-12-12 13:54] khouloudbelguith commented on #11748
@pmono75, in my case it is OK.
https://drive.google.com/file/d/1cPXAqiN9_GIv1Su276cPTHLNNhI92STB/view
Have you tried to contact the theme author about this issue?
Thanks!

[2018-12-12 14:04] psydomin commented on #11728
Did as you said. Still no result show but now in the table there is an indication os "No results" which wasnt there previously:
![image](https://user-images.githubusercontent.com/12779551/49874510-91950c00-fe16-11e8-98e4-4a4908ac9818.png)

I did some searches on my website and even after that it shows "No results"

[2018-12-12 14:09] sirion89 commented on #11115
Sadly this is not the only bad thing that happen when you delete something in PS. My customer manager to remove a category and nothing got cascaded to the attached product, a lot of missing reference caused the product to doesn't save anymore, but this is offtopic here.

@khouloudbelguith im still trying to get some useful logs out of this issue, still no luck

I tried this too and even @khouloudb

[2018-12-12 14:29] pmono75 commented on #11748
As i can see you are not using a 1.7.3.0 version of prestashop.
Why you can't change the country at first time (you entered your adress, then you go back to the adress) ?
Regards,
P

[2018-12-12 14:30] khouloudbelguith commented on #11115
@sirion89, ok thanks for your help.
I'm still waiting for your errors also.
Thanks!

[2018-12-12 14:34] khouloudbelguith commented on #11748
@pmono75, yes, in my previous comment, I specified that I did not manage to reproduce the issue with PS1.7.5.0rc1.
Yes, I can change my country for the first time, but I just create an address with Germany country, then I edited my address.
Thanks!

[2018-12-12 15:27] bm-services opened #11750 "Orders with relay carrier module but no relay selected"
**Describe the bug**
We have orders with relay carrier module but no relay selected.
This bug concerns relay point modules, it has been reproduced with Mondial Relay (mondialrelay) and SoColissimo (soflexibilite).

Thanks for your help.

**To Reproduce**
1. Make a cart
2. Go to the checkout
3. Go to step 3: carrier
4. Select home delivery
5. Go to step 4: payment
6. Return to step 3 and choose the

[2018-12-12 15:36] LouiseBonnard commented on #11742
Do you already have something else in mind? Do you think it is not clear enough?

[2018-12-12 16:11] khouloudbelguith commented on #11728
@psydomin, what is the exact version of the dashproducts module did you use?
Thanks!

[2018-12-12 16:15] khouloudbelguith commented on #11750
Hi @bm-services,

Thanks for your report.
What is the exact version of the mondial-relay module did you use?
Thanks!

[2018-12-12 16:22] PierreRambaud opened #11751 "Weak Token Implementation"
Thanks Jhon Ken.

1- Go to forgot-password in front office
2- Enter your email address and you will get one password reset token in your email. Call this token1.
3- No repeat step 1 and 2 and you will get another rest token. Call this token2
4- Now change password using token1 and you will be successfully log in from your new password.

All unused password reset token should be expired immediately

[2018-12-12 16:24] jolelievre commented on #11742
@MatShir so this additional setting is only available when the Catalog mode is on?

[2018-12-12 16:24] PierreRambaud opened #11752 "Weak password policy"
Thanks Jhon Ken

Some websites prevents the users to use password constructed of character combinations that otherwise meet company policy, but should no longer be used because they have been deemed insecure for one or more reasons, such as being easily guessed, following a common pattern, or public disclosure from previous data breaches.

Steps to reproduce:
- Go to signup page
- Create an accoun

[2018-12-12 16:27] MatShir commented on #11742
@jolelievre Yes exactly

[2018-12-12 16:27] psydomin commented on #11728
@khouloudbelguith v2.0.4

[2018-12-12 16:39] khouloudbelguith commented on #11751
Hi @PierreRambaud,

I manage to reproduce the issue with PS1.7.5.0rc1 also.
Thanks!

[2018-12-12 16:48] khouloudbelguith opened #11753 "Bug in the page Import"
**Describe the bug**
In the BO => Advanced Parameters => Import page, an exception is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO => Advanced Parameters => Import page

**Screenshots**
![capture d ecran de 2018-12-12 17-36-03](https://user-images.githubusercontent.com/16067358/49884794-f90e8400-fe35-11e8-87a4-a44ca5b2064e.png)

**Additionnal information**
PrestaSho

[2018-12-12 16:51] khouloudbelguith commented on #11728
@psydomin, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-12 16:59] khouloudbelguith opened #11755 "In the installation page, the step3 is skiped, it is not verified"
**Describe the bug**

In the installation page, the step3 is skipped and not verified.
I attached a video record.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install the branch develop

**Screenshots**
https://drive.google.com/file/d/1q3G3mC3B_nDYZNbXSBarP7EpgorZFA4i/view

**Additionnal information**
PrestaShop version: develop
PHP version: 7.1

[2018-12-12 17:05] jolelievre commented on #11742
I worry about the complexity this is gonna bring in the code.. We will have to implement many test and `if`s, like "ok we're in the catalog mode, BUT we display prices, so actually ignore this case.."
This notion of "sub-setting" seems complicated for little gain. Maybe it would be simpler to separate the catalog mode into two settings:

CATALOG_MODE = DISPLAY_PRICES_MODE + DISPLAY_CHECKOUT_MODE

[2018-12-12 17:23] marionf commented on #11755
I will try to reproduce when 1.7.5.x will be merged into develop

[2018-12-12 17:23] marionf commented on #11753
I will try to reproduce when 1.7.5.x will be merged into develop

[2018-12-12 18:40] psydomin commented on #11728
With debug mode on (or off, it still shows), the only error I get is this one:
![image](https://user-images.githubusercontent.com/12779551/49890447-fa42af80-fe3b-11e8-8449-b2c5a065951c.png)

I'm waiting for the host to send me the php error log because I dont have access to it.

error_log.log on root folder has nothing related, just a bunch of
`[12-Dec-2018 03:12:44 Europe/Lisbon] PHP Notice:  Und

[2018-12-12 19:33] psydomin commented on #11728
Problem solved. While reading the code I noticed a check for the "statsearch" module which wasnt instaled. After installing the module it works fine.

Perhaps there should be some kind of warning as this tab depends on another module (The Most viewed tab has this warning when the datamining module isnt installed)

[2018-12-12 20:09] V41F commented on #15203
Hi @Quetzacoalt91 ,
I'm still waiting for new information to upgrade my PS 1.7.3.0 to latest version.
thx a lot.

[2018-12-13 07:56] khouloudbelguith commented on #11728
Hi @psydomin,

Thanks for your feedback & for your fix.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-13 07:56] #11728 closed, assigned to nobody

[2018-12-13 08:05] khouloudbelguith commented on #11755
Hi @marionf,

It is not about this PR https://github.com/PrestaShop/PrestaShop/pull/11689?
Thanks!

[2018-12-13 08:07] bm-services commented on #11750
Hi,
With Mondial Relay 2.3.2 on PrestaShop 1.7.4.0
With So Flexibilité 3.1.15 on PrestaShop 1.7.2.0, we have exactly the same problem.

[2018-12-13 08:14] khouloudbelguith commented on #11750
Hi @bm-services,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.
We need to install Soap & cURL to use this module.
Thanks!

[2018-12-13 09:03] khouloudbelguith commented on #11755
Hi,

it's related to https://github.com/PrestaShop/PrestaShop/pull/9366, we are planning to do that.
Thanks!

[2018-12-13 09:03] #11755 closed, assigned to nobody

[2018-12-13 09:07] jcriadop opened #11758 "module statsvisits error when download csv on 1.7.4.3"
Error when try to download csv file from stats visits on Prestashop 1.7.1.3.

Go to Statistics Tab and try to export to csv files. Prestashop show error 500.

Problem:

var $query must contain querys on array, but is not defined like an array.

Solved:

Edit modules/statsvisits.php and add array definition on public function setOption :

![issue1](https://user-images.githubusercontent.com/7642235/

[2018-12-13 09:08] khouloudbelguith commented on #11753
Hi @marionf,

It is not about this PR #11689?
Thanks!

[2018-12-13 09:12] marionf commented on #11753
Right, I didn't see this one !

[2018-12-13 09:54] Quetzacoalt91 commented on #15203
Sorry about that @wewew85,

Thanks for the stack trace of the final error. But I guess this is a consequence from another issue which could be found in the log.txt file, hidden among the upgrade details. Can you please have a look at the whole file? Thanks

[2018-12-13 09:54] Trylam opened #11759 "1.7.4.4 Can't be install"
**Describe the bug**
There is an error during the installation. It occur during the system configuration step. it says the accessory table already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. download from the website https://www.prestashop.com/en/download
2. extract
3. go to the install adress
4. create database and user
[code]
5. start and follow installation step
6. At 12% it s

[2018-12-13 10:00] khouloudbelguith commented on #11759
Hi @Trylam,

1. Before the installation, could you please enable the mode dev.
You can enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:
`define('_PS_MODE_DEV_', false);`
… and change it to:
`define('_PS_MODE_DEV_', true);`
2. During the installation, thanks to untick the box "Drop existing

[2018-12-13 10:02] MatShir commented on #11742
Nevermind, changing the name will confuse the current user. @LouiseBonnard I edit the new wording directly in the issue

[2018-12-13 10:03] khouloudbelguith commented on #11759
@Trylam, P restaShop is not compatible with PHP7.3.
We recomanded that you run your PrestaShop install on the version of PHP7.1 / PHP7.2.
PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 is compatible with PHP 7.2.
For more details you can follow this link http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

[2018-12-13 10:04] #9872 closed, assigned to jolelievre

[2018-12-13 10:09] khouloudbelguith commented on #11758
Hi @jcriadop,

Thanks for your report.
Could you please provide me a screenshot from your BO before after the bug?
@jcriadop, what is the exact version of the module statsvisits did you use?
is it version 2.0.2?
Thanks!

[2018-12-13 10:21] TemKaSD opened #11760 "Fix ru lng СПСИОК"
**Describe the bug**
СПСИОК replace Список

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AdminTracking'
2. See error

**Screenshots**
![screenshot_3](https://user-images.githubusercontent.com/6318282/49932331-7a3c4880-ff14-11e8-8571-e7189a5ad98d.png)

**Additionnal information**
PrestaShop version: 1.7.4.4

[2018-12-13 10:23] Trylam commented on #11759
@khouloudbelguith

With the check box :

    Create file parameters
    Create database tables

An error occurred during installation...

edit :  i m sure for the database

You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.

    1: HTTP 0 - error -

-----
php 7.3 is stable ...
I have a 1.7.4.0 version install (before 7.3

[2018-12-13 10:24] TemKaSD commented on #11626
@khouloudbelguith hey. pls confirm me, no email.
![screenshot_4](https://user-images.githubusercontent.com/6318282/49932536-fd5d9e80-ff14-11e8-8387-041b6812cb7c.png)

[2018-12-13 10:24] #11626 closed, assigned to nobody

[2018-12-13 10:27] khouloudbelguith commented on #11758
Hi @jcriadop,

This issue is reproduced with PS 1.7.5.0rc1 / 1.7.4.0, only if the debug mode is enabled.
![image](https://user-images.githubusercontent.com/16067358/49932671-ecd40680-fec9-11e8-9470-220533110324.png)
![image](https://user-images.githubusercontent.com/16067358/49932633-d2019200-fec9-11e8-8f48-2c0df634d79c.png)
When Debug mode is disabled => OK.
![image](https://user-images.githubuse

[2018-12-13 10:29] matks commented on #11758
Might be fixed by https://github.com/PrestaShop/statsvisits/pull/3

[2018-12-13 10:32] khouloudbelguith commented on #11626
@TemKaSD, this is a different issue? & you just closed?

[2018-12-13 10:34] Trylam commented on #11759
I check database and the last one table order by name is  zone_shop .
I don't know if you create table and index at the same time so it may not help.

[2018-12-13 10:42] khouloudbelguith commented on #11759
@Trylam, could you please try with this link https://github.com/sstalle/php7cc to check php7 compatibility.
Thanks to follow this steps:

1. Login to your phpMyAdmin or wherever you can have a look at you database: delete all the tables, to make sure the database is empty.
2. Open the file prestashop > install > data > db_structure.sql in your editor (e.g. TextWrangler)
3. Replace all a.) with b.)

[2018-12-13 10:43] khouloudbelguith commented on #11760
Hi @TemKaSD,

Thanks for your report.
What is the exact language/country did you use?
Thanks!

[2018-12-13 10:53] Matt75 opened #11761 "Notice on module statscheckup due to missing translation array key"
**Describe the bug**
Notice of undefined index on translation array due to https://github.com/PrestaShop/statscheckup/commit/59eec4b40066e381427d509e3305b8380c6fad71#diff-f58ed5b03c11808ab9cde28a3b39a97bR159

**To Reproduce**
Steps to reproduce the behavior:
1. Enable debug mode
2. Go to backoffice
3. Click on Stats
4. Click on Catalog evaluation
5. See error

**Screenshots**
![issue-statscheckup]

[2018-12-13 10:56] khouloudbelguith commented on #11761
Hi @Matt75,

This issue is added to our bug roadmap.
Your ticket is a duplicate of #9643
So, I close it.
Thanks!

[2018-12-13 10:56] #11761 closed, assigned to nobody

[2018-12-13 10:56] khouloudbelguith commented on #11761
Duplicate of #9643

[2018-12-13 11:05] khouloudbelguith commented on #9643
Fixed by https://github.com/PrestaShop/statscheckup/pull/10

[2018-12-13 11:11] TemKaSD commented on #11760
@khouloudbelguith
![screenshot_1](https://user-images.githubusercontent.com/6318282/49935053-b32beb80-ff1b-11e8-9ee1-0b4e667c5696.png)

[2018-12-13 11:17] TemKaSD commented on #11626
@khouloudbelguith sorry, small English.

[2018-12-13 11:20] khouloudbelguith commented on #11626
@TemKaSD, you resolved your issue?
Thanks!

[2018-12-13 11:35] khouloudbelguith commented on #11760
Hi @TemKaSD,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0RC1 also.
![image](https://user-images.githubusercontent.com/16067358/49936196-9a97e300-fed3-11e8-87fa-3621ddb37499.png)
We will see how to fix it.

[2018-12-13 11:52] jcriadop commented on #11758
Fails even with debug disabled. Better change $query definition on top, not on method :)

[2018-12-13 12:10] sarjon commented on #10559
do you think it's okay to have button in the bottom of the list? for me it seems like a bad UX, you have to scroll all the way down to access this action. :/

do you think we can improve it? @TristanLDD

![required_fields](https://user-images.githubusercontent.com/15143151/49937847-bf468780-fee0-11e8-85cc-a141ebc3732b.png)

[2018-12-13 13:00] pmono75 commented on #11748
OK, I updated prestashop to 1.7.4.4 then the theme and now it seems to be working well.
Thanks for you help.

Best regards,
P.

[2018-12-13 13:00] #11748 closed, assigned to nobody

[2018-12-13 13:02] khouloudbelguith commented on #11748
@pmono75, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-12-13 13:25] matteolavaggi commented on #11721
Hi dear, prestashop doesn't work out of the box with nginx, also with the file example provided. Too many problems on rewrite, module page, backned and image.  For this reason we need to use apache like back end . Also caching system of ps is something horrible and usefull - less in 2018 ...

[2018-12-13 13:28] khouloudbelguith commented on #11721
@matteolavaggi, with Nginx you can't use htaccess files in Nginx context, you need to write your own rules.
this file is generated by prestashop but it's because Apache allows to use it. Unlike Nginx.
You can find example here: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist
Thanks!

[2018-12-13 13:31] matteolavaggi commented on #11721
Hi dear, i know how work nginx and what is an .htaccess. what I can not understand is the assence of a supported and mainteined configuration file for nginx by prestashop developers. In 2018 is one of the worst supported ecommerce platform on nginx ... ^^

[2018-12-13 13:45] #9652 closed, assigned to nobody

[2018-12-13 13:47] marionf commented on #11758
@jcriadop PrestaShop/statsvisits#3 doesn't fix the issue for you ?

[2018-12-13 13:52] F-Zeayon opened #11765 "Enregistrement d'un produit en cours d'édition non exécuté à cause du champ "récapitulatif""
Bonjour.

Par défaut, la limite du champ "récaputilatif" est de 800 caractères, je me baserai donc sur cette valeur pour la suite, bien que le problème soit sûrement le même quelque soit la limite.

Lorsque le texte saisi dans le champ "récapitulatif" d'un produit en cours d'édition est proche de la limite du nombre de caractères autorisés, l'appui sur le bouton "enregistrer" n'exécute pas l'enreg

[2018-12-13 14:45] slupostrupek commented on #11436
host ovh, dedicated server
debian + apache + mariadb + php7.1
prestashop 1.7.4.2

there is no log about it in php / apache. Only prestashop log is saying something and it is log level 1:

 `
23573 | -- | 1 | Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart | Cart | 8681 | 0x	0 | 2018-12-12 11:30:21
-- | -- | -- | -- | -- | -- | -- | --
23571 | -- |

[2018-12-13 14:48] jcriadop commented on #11758
Yes, only said that on my Prestashop new install fails with and without debug mode active.

[2018-12-13 14:58] khouloudbelguith commented on #11750
Hi @bm-services,

I manage to reproduce this issue with Mondial Relay v2.3.3 - by PrestaShop.
I attached a video record.
https://drive.google.com/file/d/1BWxf1LLnHLA_Nw6oEnJYXskH1sQ5r-_c/view
We will see how to fix it.
Thanks!

[2018-12-13 15:09] khouloudbelguith commented on #11436
@slupostrupek, isn't the same issue with this ticket: #9866?
Thanks!

[2018-12-13 15:19] khouloudbelguith commented on #11721
ping @PierreRambaud what do you think?
Thanks!

[2018-12-13 15:43] khouloudbelguith commented on #11765
Hi @F-Zeayon,

Thanks for your report.
This issue is fixed in the PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1AeS39akGFIsAy40dMKLg9vo4nEZYlOBB/view
Thanks to check & feedback.

[2018-12-13 15:56] khouloudbelguith opened #11771 ""An error occurred while processing your request", this issue is displayed on the Quick view for a product"
**Describe the bug**
In the Home page, after clicking "Continue shopping", we try to click on "quick view" on the same previous product added to the cart, an error is displayed on the modal product page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO
2. Click on "Quick view" on the product P1
3. Click on "Add to cart"
4. Click on "Continue shopping"
5. Click on "Quick view" on the

[2018-12-13 16:08] marionf commented on #11758
@jcriadop could you please open a new issue if it's not related to this one ?

[2018-12-13 16:21] slupostrupek commented on #11436
I think it's seperate because they are able to create order.

Same error occures in this issue but user can't place order which is much worser and user often resigns buying. Not all users reports issue.

[2018-12-13 16:26] khouloudbelguith commented on #11436
@slupostrupek, We need to retrieve the PHP error log in order to find out what's wrong.
Thanks!

[2018-12-13 17:35] matks commented on #11771
**Primary analysis**
Error message is displayed [here](https://github.com/PrestaShop/PrestaShop/blob/develop/themes/_core/js/product.js#L309) because of failed AJAX request triggered [here](https://github.com/PrestaShop/PrestaShop/blob/develop/themes/_core/js/product.js#L127)

AJAX request fails because
[code]

`formSerialized` and `preview` are empty. This data comes from [here](https://github.co

[2018-12-13 19:06] demperador commented on #11452
Hello. We are still dragging with this issue and for us is a vital feature. Is the fix for this issue in a nearby roadmap for prestashop?  Sorry for insisting so much but it is necessary for our shop that is in production.

Thanks.

[2018-12-13 22:29] musaffar-patel commented on #11548
If the overrides go into the modules own directory, then are these overrides preserved after the module is updated?

[2018-12-14 06:57] grabelle opened #11773 "Product url / id_product_attribute*"
Hi,
In term of SEO it is not a good idea to have the id_product_attribute in the url. The rule is simple : if you can avoid the use of the canonical ... then avoid ! Do you plan to fix that ?
The problem with the canonical is that you won't check it "every day" ... if one day there is a bug (for any reason) and the canonical is wrong >> you will kill your seo effort.

Thanks for your answer.

Best

[2018-12-14 07:43] consochris opened #11774 "Error when accessing dashboard with debug mode activated"
**Describe the bug**
When trying to access dashboard, i see the following error when debug mode is activated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![chrome_2018-12-14_08-39-36](https://user-images.githubusercontent.com/11958854/49989972-4bf25380-ff7c-11e8-8e1d-72f316ba1aea.png)

**Additionnal info

[2018-12-14 07:46] khouloudbelguith commented on #11773
Hi @grabelle,

Thanks for your report.
Recently we have made some modifications related to the SEO OPTIMIZATION in the product page.
Thanks to follow those links & feedback: #9463, #9456
About the bad URL when the product has combinations, we have also this issue #9784, it is added to our bug roadmap.
Thanks to check & feedback.

[2018-12-14 08:05] khouloudbelguith commented on #11774
HI @consochris,

You need to disable the option html_purifier on back-office of your shop. Seems that this library is not installed on your server.
How to diasble: BO -> Shop Parameters -> general -> Use HTML purifier library = NO
Thanks to check & feedback.

[2018-12-14 08:07] consochris commented on #11774
I cannot access BO anymore, even with debug mode. How can i deactivate it please?

[2018-12-14 08:09] khouloudbelguith commented on #11774
@consochris, If you can’t access your dashboard, you can still disable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', true);`

… and change it to:

`define('_PS_MODE_DEV_', false);`
Thanks!

[2018-12-14 08:12] consochris commented on #11774
Thanks for your answer. this isn't what i mean. I have activated the debug mode through FTP but even with this, i cannot log in to the BO to change the HTML purifier settings. Can i do this through FTP too?

[2018-12-14 08:19] khouloudbelguith commented on #11774
Hi @consochris,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-

[2018-12-14 08:21] consochris commented on #11774
ok i will work on providing those.
Can i change change HTML purifier settings using FTP?

[2018-12-14 08:28] khouloudbelguith commented on #11774
@consochris, you need to access to your Database => ps_configuration, you need to search the column where id_configuration = 259, and change value from 1 to 0.
![image](https://user-images.githubusercontent.com/16067358/49991822-8a8b0c80-ff82-11e8-9044-eb9a3ee87ac5.png)
Thanks!

[2018-12-14 08:33] khouloudbelguith commented on #11774
@consochris, thanks to disable the HTML purifier from your your Database as described in my last comment, check & feedback.
Also, you have problems with the revsliderprestashop module, thanks to rename this folder using an FTP client, you can find it into the path Project_Folder/modules/revsliderprestashop
Thanks!

[2018-12-14 08:36] jflaque opened #11775 "GDPR insert privacy information bottom email"
Hi.

How can I remove the policy text that is inserted at the bottom of the emails? Or put a link to the policy page?

I use a PrestaShop 1.7.4.3 and the RGDP 1.1.0 module

Thanks

[2018-12-14 08:36] jflaque opened #23316 "GDPR remove privacy information bottom email"
Hi.

How can I remove the policy text that is inserted at the bottom of the emails? Or put a link to the policy page?

I use a PrestaShop 1.7.4.3 and the RGDP 1.1.0 module

Thanks

[2018-12-14 08:49] consochris commented on #11774
thanks, i have applied the database change and renames the module folder. the error has changed to the following:
![chrome_2018-12-14_09-49-04](https://user-images.githubusercontent.com/11958854/49992893-97f5c600-ff85-11e8-9b75-11c61249458a.png)

[2018-12-14 09:00] consochris commented on #11774
I can access the BO again! though it only works with debug mode activated and not with debug mode off.
Do you know why?

[2018-12-14 09:06] khouloudbelguith commented on #11774
@consochris, as described in your last screenshot, I think it is a problem on your server configuration.
Have you tried to contact your host about this issue?
Thanks to check with him & feedback.

[2018-12-14 09:08] khouloudbelguith commented on #23316
Hi @jflaque,

Do you need to remove this link?
![image](https://user-images.githubusercontent.com/16067358/49993909-4dc21400-ff88-11e8-948c-f49b8f4e4229.png)
Thanks to check & feedback.

[2018-12-14 09:12] jflaque commented on #23316
Hi @khouloudbelguith ,

No. It is the legal text that inserts the RGPD module. I attach a screenshot.

![screenshot](https://user-images.githubusercontent.com/1636162/49994034-b1e4d800-ff88-11e8-9a3b-8f4615e8016f.jpg)

[2018-12-14 09:46] khouloudbelguith commented on #23316
Hi @jflaque,

Could you please try to navigate to your BO => International => Translations =>
1. Type of translation => Email translations
2. Select the type of email content => Body
3. Select your theme => Classic for example
4. Select your language => English for exemple
5. Click Modify
![image](https://user-images.githubusercontent.com/16067358/49995711-39cce100-ff8d-11e8-96b3-8dfa096cec62.png)

[2018-12-14 09:57] jflaque commented on #23316
Hi @khouloudbelguith.

No, nothing comes out of the policy text.

And I disable the GDPR module, then I no longer send the text in the emails.

Thanks.

![captura de pantalla 2018-12-14 a las 10 55 04](https://user-images.githubusercontent.com/1636162/49996339-09864200-ff8f-11e8-95bb-0525bc9a7cc7.jpg)

[2018-12-14 10:07] khouloudbelguith commented on #23316
@jflaque, thanks to navigate to your BO => Design => Positions page
Show => Select the Official GDPR compliance module
Select the "Display non-positionable hooks" option & provide me **all** the positions hook displayed.
![image](https://user-images.githubusercontent.com/16067358/49996876-6b937700-ff90-11e8-9dc0-00500d8493a6.png)

Thanks!

[2018-12-14 10:08] 2TEND opened #11778 "Problem module mail alert"
Je ne recois plus aucun mail d alerte de commande du jour au lendemain sans avoir rien toucher

[2018-12-14 10:13] jflaque commented on #23316
Hi @khouloudbelguith,

I attached my options.

![screencapture-lovabarcelona-admin161img679-index-php-2018-12-14-11_12_47](https://user-images.githubusercontent.com/1636162/49997226-4ce1b000-ff91-11e8-83ea-8680dd8974cf.png)

[2018-12-14 10:19] khouloudbelguith commented on #11778
Hi @2TEND,

Thanks for your report.
Could you please try to navigate to your BO => CONFIGURE => Advanced Parameters => E-mail => TEST YOUR EMAIL CONFIGURATION by sending a test email.
What is the exact version PrestaShop did you use & what the exact version of the mailalert did you installed?
Thanks to check and feedback.

[2018-12-14 10:28] rdy4ever commented on #11727
Hi @bijouxmexicains
Could you check the table `ps_shop_url` in your database to see if `domain` and `domain_ssl` match the new domain name?
You might still have the old domain enteries there, if you haven't already changed them. The few days that your login still worked could be related to DNS propagation and there is a possibility that you were actually accessing the old hosting account.

[2018-12-14 10:52] khouloudbelguith commented on #11452
@demperador, in your configuration Multistore, did you enabled "share quantities" in a group?
Thanks!

[2018-12-14 10:59] khouloudbelguith commented on #23316
@jflaque, our dev are looking on your issue.
We'll come back to you if we need more information.
Thanks for your patience & your understanding!

[2018-12-14 11:01] jflaque commented on #23316
@khouloudbelguith, Thanks. And I keep waiting...

[2018-12-14 11:03] demperador commented on #11452
Hello @khouloudbelguith, yes. It has been configured to share quantities and
![captura de pantalla 2018-12-14 a las 11 02 56](https://user-images.githubusercontent.com/31283004/49999914-ed36d500-ff8f-11e8-9210-c3cf99323cde.png)

[2018-12-14 11:15] khouloudbelguith commented on #11452
@demperador, we have a lot of issues when multistore enabled,
we are aware of your issue, here's a similar problem to yours: #9940
It is added to our bug roadmap, we have also this issue: #9664
We have another issue when share quantities is enabled, #10274
All these issues are not fixed yet.
Thanks to check & feedback.

[2018-12-14 11:24] desger99 opened #11779 "Error 500 only in advanced parameters prestashop 1.7"
Hello there,

I need your help please!

I have changed my prestashop site from one hosting to another, I did this before using the same guide and used to work correctly, but this time my web site is working fine but, in the back office, when trying to access "modules" or "advanced parameters" I receive a Error 500.

Is weird because when in debug mode I do can access this areas, but I do not want

[2018-12-14 11:29] khouloudbelguith commented on #11779
Hi @desger99,

You need to disable the ph_simpleblog module if you cannot access to the modules page, using the FTP client, try to rename the ph_simpleblog folder which exists into the path Project_Filder/modules/ph_simpleblog
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-12-14 11:59] 2TEND commented on #11778
I receipt The Mail Test when i do this. But not when a customers make an
order.

Le ven. 14 déc. 2018 à 11:19, khouloudbelguith <notifications@github.com> a
écrit :

[2018-12-14 13:08] augustu5 commented on #11172
I'm afraid it's not about configuration data, how I said before, the problem doesn't exist on my dev instance witch is working on a copy of production database. There are no difference in code outside ignored files from:
https://github.com/PrestaShop/PrestaShop/blob/develop/.gitignore

The problem first accured after shop upgrade.

I assumed that its some kind of problem with cache. But I cleared

[2018-12-14 13:45] khouloudbelguith commented on #11778
@2TEND, in your configuration page of the mailalert module, the "New order" option is enabled?
If yes, could you please try to unistall the mailalert module, remove the mailalert folder from your Project_Folder/modules/mailalert path, try to install it again, check & feedback.

[2018-12-14 13:49] 2TEND commented on #11778
Yes i already do mal this. Uninstall and install. Configuration or module
is good. I just disable for out of stock.

Le ven. 14 déc. 2018 à 14:45, khouloudbelguith <notifications@github.com> a
écrit :

[2018-12-14 13:57] khouloudbelguith commented on #11778
@2TEND, with Mail alerts v2.1.0 - by PrestaShop, I disabled "out of stock" option & I enabled the "New order" option, & it is ok, I receive an email when new order created.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 -

[2018-12-14 14:12] #9892 closed, assigned to jolelievre

[2018-12-14 14:13] #11771 closed, assigned to nobody

[2018-12-14 14:13] #11199 closed, assigned to nobody

[2018-12-14 14:21] pixmax opened #11782 "price per unit without tax – why?"
For the price per unit we have to paste in the current version the netto base price into the textfield in the article menue "price".
This makes the counting of the base price unnecassary complicated. It makes no sense to ask for the netto base price.
Much easier is to count including the tax.
Sorry for my bad English.

![price_per_unit_backend](https://user-images.githubusercontent.com/22912788/50

[2018-12-14 14:23] khouloudbelguith commented on #11548
@musaffar-patel, so do you need to make changes in modules/demo_module/views/templates/front/demo_module.tp ?
Thanks!

[2018-12-14 14:49] khouloudbelguith commented on #11782
Hi @pixmax,

Thanks for your report.
It could be an improvemnt issue.
In BO, we have only an option to set the "price per unit" with tax excluded, in the FO, this price will be displayed in Tax included.
@marionf, @colinegin what do you think can we add a new input to display the "price per unit" in tax included?
Thanks!

[2018-12-14 14:58] khouloudbelguith commented on #11172
@krystian-3c, in your case there are no errors in your log file, no exception.
The only issue that we can reproduce https://github.com/PrestaShop/PrestaShop/issues/10903 & it is added to our bug roamp.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customi

[2018-12-14 15:00] khouloudbelguith commented on #11727
@bijouxmexicains, any news about your issue?
Thanks!

[2018-12-14 15:04] krasnycz opened #11784 "Error 500"
PS 1.7.4.4 upgraded to 1.7.5.0 RC without any problem. But I am unable to access performance or products section in the BO. Error log indicates the following critial error:

[2018-12-14 15:54:28] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Type error: Argument 1 passed to PrestaShop\PrestaShop\Core\Search\SearchParameters::__construct() must be

[2018-12-14 15:08] khouloudbelguith commented on #11784
Hi @krasnycz,

What is the exact version of the module 1-click upgrade did you use?
Thanks!

[2018-12-14 15:20] khouloudbelguith commented on #11267
Hi @jcmy31,

Any news?
Thanks!

[2018-12-14 15:20] musaffar-patel commented on #11548
Hi

I'm slightly confused:
modules/demo_module/views/templates/front/demo_module.tpl

this is simply the path to the normal module template

However, module templates can be overridden at the theme level to and upto Prestashop 1.7.4.3, I could do the following:

/themes/classic/modules/demo_modules/views/templates/front/demo_module.tpl

to override module templates.  This was particularly useful b

[2018-12-14 15:21] krasnycz commented on #11784
v4.5.1

[2018-12-14 15:22] khouloudbelguith commented on #11276
Hi @sirion89,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:22] #11276 closed, assigned to nobody

[2018-12-14 15:23] khouloudbelguith commented on #11293
Hi @zaghouss,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:23] #11293 closed, assigned to nobody

[2018-12-14 15:24] khouloudbelguith commented on #11295
Hi @hubyhuby,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:24] #11295 closed, assigned to nobody

[2018-12-14 15:25] sarjon commented on #11038
@matks i would be willing to give it a shot, wdyt? however, i'd like to see some mockup how it should look like. :)

[2018-12-14 15:25] khouloudbelguith commented on #11310
Hi @TecnoHands,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:25] #11310 closed, assigned to nobody

[2018-12-14 15:26] pixmax commented on #11782
From my point of view, this would be very, very helpfull.
Thanks!

[2018-12-14 15:26] khouloudbelguith commented on #10873
Hi @itroom-agence,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:26] #10873 closed, assigned to nobody

[2018-12-14 15:27] khouloudbelguith commented on #11268
Hi @CrAzYk69,

Any news about your issue?
Thanks!

[2018-12-14 15:27] khouloudbelguith commented on #11349
Hi @novallis,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:27] #11349 closed, assigned to nobody

[2018-12-14 15:28] khouloudbelguith commented on #11325
Hi @RomanXT,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 15:28] #11325 closed, assigned to nobody

[2018-12-14 15:30] manburg6 commented on #11115
It was a warning due to PHP version.
Now I downgrade from 7.2 to 7.0 and warning disappear.

Thanks.
M.

[2018-12-14 15:41] PierreRambaud commented on #11721
As I said previously, **Nginx** does not work like **Apache** and does not understand **.htaccess** files (which store the configuration containing rewrite rules).
So we are not able to store the exact configuration needed for your server because you need to create a specific virtual host with **your** information
If you do not know what is **Nginx** and how it works, you need to call a profession

[2018-12-14 15:46] PierreRambaud commented on #11760
@LouiseBonnard Should it be on crowdin?

[2018-12-14 15:48] khouloudbelguith commented on #11115
@manburg6, thanks for your feedback.
@sirion89 any news about your issues?
Thanks!

[2018-12-14 15:50] khouloudbelguith commented on #11548
Hi @musaffar-patel,

Could you please provide me the custom module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2018-12-14 15:57] sirion89 commented on #11115
@khouloudbelguith not yet, we found another bug in the while with the paypal module but we can't still understand what is going wrong with this. I guess it will take quite a while. We can't really put too much effort into this because the customer refuse to pay for assistance. I'll remember this post as soon as i have new info

[2018-12-14 15:58] sirion89 commented on #11276
It's ok, we gave up trying to understand what's going wrong. We just disabled the cache and everything works fine

[2018-12-14 15:59] khouloudbelguith commented on #11115
@sirion89,

Thanks!
Waiting for your feedback.

[2018-12-14 16:00] LouiseBonnard commented on #11760
Perhaps, but I need the English word first. @TemKaSD, what is it in English? Can you confirm you're on the Catalog > Monitoring part of the back office? You can also have a look at the Russian translation project [here](https://crowdin.com/project/prestashop-official/ru#). ;-)

[2018-12-14 16:27] khouloudbelguith commented on #11784
Hi @krasnycz,

I did not manage to reproduce the issue with the 1-click upgrade v4.5.1.
I attached  a video record.
https://drive.google.com/file/d/1jBK5PkrR0ZIrEKkd7bBOf1m0Z2ezHzZV/view
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme be

[2018-12-14 17:19] khouloudbelguith commented on #10902
Hi @Falataya,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 17:19] #10902 closed, assigned to nobody

[2018-12-14 17:20] khouloudbelguith commented on #11369
Hi @Elsximplets,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-14 17:20] #11369 closed, assigned to nobody

[2018-12-14 21:00] F-Zeayon commented on #11765
Hello.

The videos shows some kind of solution but not clear for non programmer users.
That said, the "save" command is no more silently inhibited wich was the major issue here.

We can probably state that it is a fix but it could be more elegant.

[2018-12-14 21:00] #11765 closed, assigned to nobody

[2018-12-14 21:11] bijouxmexicains commented on #11727
ok, password is not changed, according your very detailed help guyz, thank you
i have this mail issue still but nothing to do with my back office access so THIS ISSUE IS FIXED
thanks a lot

[2018-12-14 21:11] #11727 closed, assigned to nobody

[2018-12-14 23:30] LucaMozzo commented on #11618
I'm running 1.7.3.3 and all of a sudden I started getting that error. I tried debugging in several ways, [here's my post](https://www.prestashop.com/forums/topic/945891-wrong-price-shown-on-the-front-store/)

I'm not using the module mentioned above

[2018-12-15 04:22] TemKaSD commented on #11760
@LouiseBonnard
![screenshot_7](https://user-images.githubusercontent.com/6318282/50038907-76bfd300-0074-11e9-8daa-2495e8234084.png)

English:
![screenshot_8](https://user-images.githubusercontent.com/6318282/50038957-7b38bb80-0075-11e9-8e0d-4e11ac5e50bb.png)

Fix:
СПСИОК (List)

Need to replace

Список (List)

[2018-12-15 09:23] phaan commented on #11655
Thx. Works for us to. The same problem on 1.7.4.4,Multistore
It was a big issue for us, because the customers could not put anything or only 1 product in de the shopping cart. After a long search, found this solution, the first thought we had was a cookie or cache problem.

[2018-12-15 10:21] krasnycz commented on #11784
Can you tell me correct MD5 checksum for

https://download.prestashop.com/download/releases/prestashop_1.7.5.0-rc.1.zip

I was unable to find it anywhere.

[2018-12-15 10:33] krasnycz commented on #11784
@khouloudbelguith Sorry but I do not understand what is the point of attaching video and these general statements on using staging. I think people here needs to fix issues not to watch how it works for you.

Unfortunately error log/reporting is so poor in the PS that it seems almost impossible to troubleshoot such issues without trying this and that :(

[2018-12-15 13:37] grabelle commented on #11773
Hi,
Sorry but I have to say that it is always strange to see some major error in term of SEO in a new project and a big project like prestashop (1.4 , 1.5 , 1.6 ... 1.7).
Do you have any idea of the release with the fix ? 1.7.5 ?

Thanks for your great support

Guillaume

[2018-12-15 14:48] Akashvastarpara commented on #11618
@khouloudbelguith I have disabled geolocation and it's working fine for now.

[2018-12-15 17:09] centoasa opened #11786 "Brands yes, supplier NO"
I believe that for any merchant, showing their brands is excellent and producers; but showing own suppliers is not good, it can be the object of competition!
So I think it is better to separate in the backoffice (general setup) the enabling of brands different from the enabling / disabling of suppliers.

[2018-12-15 21:07] rdy4ever commented on #11784
Hi @krasnycz
Using a rc version on a production site is kind of a bad ideea, as you will not be able to upgrade your shop from a rc version to a final release.
@khouloudbelguith attached a video recording to show you that your issue cannot be reproduced on a clean 1.7.4.4 to 1.7.5.0-rc1 upgrade, meaning that the issue may not be caused by Prestashop but by some server configuration or something el

[2018-12-15 21:24] rdy4ever commented on #11779
From what I can see, you have an undefinded index `page_name` in footer.tpl (probably in your theme), but this is a FO issue, not a BO issue. Anyway, you should check in your theme_name/templates/partials/footer.tpl if thre is a `$page_name` varaible. You should replace it with `$page.page_name`. Save, clear cache.
However, due to the fact that you migrated your shop, I suspect a file permission i

[2018-12-15 22:31] BenTen commented on #11786
Hello,
There is another ticket about this setting, you can read it #11332

[2018-12-15 22:34] mrabsinthe opened #11787 "Wrong voucher conversion between currencies"
**Describe the bug**
Voucher value is not converted correctly between currencies. Minus sign missing in front of discount value in basket.

**To Reproduce**
Steps to reproduce the behavior:
1. in BO create a voucher with value of 10 USD
2. in FO, currencies set to GBP insert that voucher in basket
3. voucher will be displayed showing -£10.00
4. change currencies to USD - correct voucher value is s

[2018-12-15 22:38] #11786 closed, assigned to nobody

[2018-12-16 10:33] bijouxmexicains opened #11788 "Many bugs on my products images"
Hi guyz

Since the moment I changed my domain name, I have errors and errors :(

Now on my site, image are not displayed on click.
And declination are not displayed on click neither

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
https://www.bijouxmexicains.fr/bracelet/88-110-bracelet-perles-et-plumeaux.html#/37-couleur-rose_saumon
2. Click on '....'
the color you want
3. Scroll down t

[2018-12-16 10:49] bijouxmexicains commented on #11788
Ok, it seems it works with Chrome.
What is the problem with Safari ? Can I fix this ?

[2018-12-16 17:10] bijouxmexicains commented on #11788
Ok so I was wrong Chrome is not better than Safari
When I clik on the small color square of the declination, the relative picture is not displayed
It sucks

[2018-12-16 17:11] loulou2852 opened #11789 "Official GDPR module and Invalid supply argument for foreach()"
**Describe the bug**
When I try to edit the profile, I've got this error:
Warning: Invalid argument supplied for foreach() in /home/kairos/public_html/oligo/classes/form/CustomerFormatter.php on line 266
This was solved on this threat but in PM : http://forge.prestashop.com/browse/NM-982

Could you give us the correction you made. THanks in advanced

**To Reproduce**
Steps to reproduce the behavio

[2018-12-16 17:11] loulou2852 opened #23317 "Official GDPR module and Invalid supply argument for foreach()"
**Describe the bug**
When I try to edit the profile, I've got this error:
Warning: Invalid argument supplied for foreach() in /home/kairos/public_html/oligo/classes/form/CustomerFormatter.php on line 266
This was solved on this threat but in PM : http://forge.prestashop.com/browse/NM-982

Could you give us the correction you made.

**To Reproduce**
Steps to reproduce the behavior:
1. When logged a

[2018-12-17 08:01] khouloudbelguith commented on #11787
Hi @mrabsinthe,

Thanks for your report.
Have you the same issue described in this ticket: #9914?
Thanks!

[2018-12-17 08:11] khouloudbelguith commented on #11786
Duplicate of #11332

[2018-12-17 08:22] mrabsinthe commented on #11787
I don't think it is the same, it's very similar plus the fact that I do mention there should be "minus sign" in cart if discount is displayed. This has nothing to do with loyalty points. Anyway, the bug is still present and as soon as 1.7.5 is in stable, I'll test it. Or will you?

[2018-12-17 08:32] khouloudbelguith commented on #11784
Hi @rdy4ever, thanks for your feedback.

@krasnycz, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Also, it could be that something went wrong with your update and don't have some of the database columns that were added for 1.7.5.
You can find the full schema for 1.7.5.0rc1 here:
https://github.com/PrestaS

[2018-12-17 08:39] khouloudbelguith commented on #11788
Hi @bijouxmexicains,

I tried with your shop, when I'm using Google Chrome Version 71.0, it is OK.
I tried with Safari v5.1, you have an error in your console `Can't find variable: GoogleAnalyticEnhancedECommerce`
Did you use the ps_googleanalytics module, if yes, what is the exact version did you use?
![image](https://user-images.githubusercontent.com/16067358/50075935-8fe59280-01e0-11e9-8c97-348

[2018-12-17 08:41] rdy4ever commented on #11788
Hi @bijouxmexicains
As far as I can see, there is something wrong with your website, as it doesn't load any kind of javascript on the product page. I would suggest to download a fresh copy of the [Classic theme](https://github.com/PrestaShop/PrestaShop/tree/1.7.4.x/themes/classic) and replace it. Also, could you attach your themes/calssic/config/theme.yml file to take a look on it?
First, you shou

[2018-12-17 08:45] BenTen commented on #11787
You can add 1.7.4.4, I have the same issue with this version.

BO: create a voucher TESTVOUCHER of 5000 jpy
FO: make an order of 5.71 EUR with this discount

1st error:
FO: in order detail, the discount line is wrong
https://tof.cx/image/H75fD
The amount is the total of the discount, not the partial discount

(BO: the new TESTVOUCHER is convert in euro (33.38 eur))

FO: Add an item in the cart, in

[2018-12-17 09:19] khouloudbelguith commented on #11787
Hi all,

The issue still exists in PS 1.7.5.0RC1, it is not fixed yet.
I manage to reproduce the issue with PS1.7.5.0rc1
![image](https://user-images.githubusercontent.com/16067358/50077602-1ac88c00-01e5-11e9-8ebf-60800c782a75.png)
As described in this #9914, a voucher with a value in secondary currency, in the FO, the voucher text is displaying the wrong amount.
It is described in the pdf file at

[2018-12-17 09:19] #11787 closed, assigned to nobody

[2018-12-17 09:19] khouloudbelguith commented on #11787
Duplicate of #9914

[2018-12-17 09:24] LouiseBonnard commented on #11760
@TemKaSD, thanks a lot, I've spotted the mistake in the Crowdin catalog and brought the correction to the wrong wording, it should be effective in the software in the next few days. ;-)

[2018-12-17 09:30] TemKaSD commented on #11760
@LouiseBonnard thx

[2018-12-17 09:39] khouloudbelguith commented on #11618
Hi all,

We have some issues with prices.
You can follow this ticket https://github.com/PrestaShop/PrestaShop/issues/9703
https://github.com/PrestaShop/PrestaShop/issues/9700 for more details, we have planned to fix those issues in PS1.7.6.
@LucaMozzo, in your BO => Shop Parameters => Customers => Groups Tab, you need to edit for
Visitor& Guests group, the "Price display method" to "tax included",

[2018-12-17 09:41] mrabsinthe commented on #9914
One year later and this serious cart voucher related issue still exists in latest PS 1.7.5.0RC1 as confirmed by @khouloudbelguith
![voucher](https://user-images.githubusercontent.com/31688689/50078706-f8843d80-01e7-11e9-9805-58c23a2a1059.png)

Please add relevant, 1.7.5 label.

Default currency: GBP
PrestaShop version: 1.7.4.2
PHP version: 5.6.30

[2018-12-17 09:44] khouloudbelguith commented on #11773
Hi @grabelle,

we have just published the Release Candidate of PrestaShop 1.7.5.0.
So, take a minute and read all about this release here: http://build.prestashop.com/news/prestashop-1.7.5-rc-release/
So the stable version will be released in a short time.
Thanks!

[2018-12-17 09:44] #11773 closed, assigned to nobody

[2018-12-17 09:47] khouloudbelguith commented on #11655
Hi @shacker2,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_viewedproduct/
Thank you!

[2018-12-17 09:53] khouloudbelguith commented on #11727
Hi @bijouxmexicains,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-12-17 09:54] khouloudbelguith commented on #11765
Hi @F-Zeayon,

we have just published the Release Candidate of PrestaShop 1.7.5.0.
So, take a minute and read all about this release here: http://build.prestashop.com/news/prestashop-1.7.5-rc-release/
So the stable version will be released in a short time.
Thanks!

[2018-12-17 10:16] khouloudbelguith commented on #23317
Hi @loulou2852,

In my case, I did not manage to reproduce the issue with PS1.7.5.0rc1 / PS1.7.1.2 & Official GDPR compliance v1.1.0.
@colinegin what do you think?
Thanks!

[2018-12-17 10:22] loulou2852 commented on #23317
I don(t know if it's related to the theme, but if I commenting the foreach section where the error occurs, everything is fine, but I can't have acces to the additionnal fields anymore.

I can give ou acces to the website in order to see what happend if you want.

Thanks

[2018-12-17 10:35] #11760 closed, assigned to nobody

[2018-12-17 10:37] #11758 closed, assigned to nobody

[2018-12-17 10:39] khouloudbelguith commented on #23317
@loulou2852, what is the exact section you just commented? in which file?
Thanks!

[2018-12-17 10:52] krasnycz commented on #11784
Well I face issue on different install and server. Same result. Maybe some of pluging I am using is incompatible. The main problem is poor error reporting system in the PS. Upgrade and db structure are fine. This is kida all the time repeating problem. I will rather choose to defer this issue at the moment.

[2018-12-17 10:58] centoasa commented on #11655
I don't understand why with the patch of @shacker2 I've an error500 when I see more than 1 product

[2018-12-17 11:07] khouloudbelguith commented on #11655
@centoasa, if you enable the debug mode, is there any exceptions displayed?
Thanks!

[2018-12-17 11:20] loulou2852 commented on #23317
/classes/form/CustomerFormatter.php line 266

`if (is_array($additionalCustomerFormFields)) {
            foreach ($additionalCustomerFormFields as $moduleName => $additionnalFormFields) {
              foreach ($additionnalFormFields as $formField) {
                    $formField->moduleName = $moduleName;
                    $format[$moduleName.'_'.$formField->getName()] = $formField;

[2018-12-17 11:21] loulou2852 commented on #23317
![screenshot 2018-12-17 at 12 16 39](https://user-images.githubusercontent.com/4818634/50084122-31c3aa00-01f6-11e9-8b26-06088a6f35d1.png)

[2018-12-17 11:31] khouloudbelguith commented on #23317
@loulou2852,

PS: this is not an 'error' but a 'warning'.  the PHP script continues to execute.
I will discuss with our devs to provide you the exact previous fix.
Thanks!

[2018-12-17 11:38] khouloudbelguith commented on #11784
Hi @krasnycz,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-17 12:02] consochris opened #11790 "Can't create new product"
**Describe the bug**
I cannot create a new product, i can duplicate products but when on Catalog > Products and clicking the button "+ New product" nothing happens.

![2018-12-17_13-01-40](https://user-images.githubusercontent.com/11958854/50085962-f0ce9400-01fb-11e9-92e1-0357c8b335f8.png)
**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal

[2018-12-17 12:51] khouloudbelguith commented on #11790
Hi @consochris,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2018-12-17 13:24] loulou2852 commented on #23317
Oki thanks, it's keeping a warning message on production version. Thanks in advance.

[2018-12-17 13:28] khouloudbelguith commented on #23317
@loulou2852, if you disable the debug mode on your production version, this warning will be displayed.
Thanks!

[2018-12-17 13:30] khouloudbelguith opened #11791 "The header_logo is not displayed in the BO - page not migrated"
**Describe the bug**
With the develop branch, In the BO, in any page not migrated, the header_logo is not displayed.
You can try with the Dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Dashboard page
2. The header_logo is not displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/50090265-47da6600-0208-11e9-965f-167ed946a319.png)

**Addit

[2018-12-17 13:35] DamienFel commented on #11574
Bonjour :)
Je me permets de vous relancer sur ces questions svp :)
--------
Hi
Do you have any update for my questions please ?

Thanks in advance,

Damien F.

[2018-12-17 14:21] khouloudbelguith commented on #11574
Hi @DamienFel,

Sorry for the delay.
In fact, this bug tracker GitHub is used to report issues and request new features only.
If you need help and support your request, you can ask on our Forum (https://www.prestashop.com/forums/)
Thanks for your understanding!

[2018-12-17 14:21] #11574 closed, assigned to nobody

[2018-12-17 15:51] grabelle opened #11794 "Warehouse"
Hi,
Do you plan (if yes ... when) to restore the warehouse stock management ?

Thx for your answer.
Guillaume

Version 1.7.5.0

[2018-12-17 15:53] khouloudbelguith commented on #11794
Hi @grabelle,

We plan to release and sell an embedded ERP module that will do just what you need, ie routing warehouses with carriers and customer addresses.
You can follow our work on our dev blog :
http://build.prestashop.com/news/stock-management-in-prestashop-1-7/ http://build.prestashop.com/news/stock-management-in-prestashop-1-7-part-2/
http://build.prestashop.com/news/stock-management-in-p

[2018-12-17 15:53] #11794 closed, assigned to nobody

[2018-12-17 16:55] consochris commented on #11790
OVH
Linux Php7.1

[2018-12-17 16:56] khouloudbelguith commented on #11790
@consochris, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2018-12-17 17:07] consochris commented on #11790
Host: OVH
Server: Linux
[prod.log](https://github.com/PrestaShop/PrestaShop/files/2687070/prod.log)

[2018-12-17 17:34] colinegin commented on #11497
Hello @LinkOfLight , just to be sure I understood what you told me, your provider sends you :
- the final price that is displayed to the customer (ex : 40€ tax included)
- the basis price without taxes and discount (ex : 50€)
Again, how do you know if in FO, there should be a label saying -10€ discount or -20% discount ?

I'm sorry i'm not sure I understand what you mean with "in offert".

[2018-12-17 18:24] tuhingr opened #11795 "Needs Numeric Field on Product Customization Field"
I checked there are only text and file can create only product page,
WE also need numeric field,
Some digital product has need Mobile Phone IMEI (15 digit IMEI).
if have numeric field so customer cannot put numeric with text.
Looking for numeric field look like Phone "IMEI" field 15 digit, and last digit auto created. i:e: https://www.drupal.org/project/imei_field

[2018-12-17 18:31] tuhingr opened #11796 "Customize product replay status"
Some digital product needs customize replay status.
i:e:
1. Gift Card redeem code, Delivered with custom field (redeem code)
2. Replay Delivered Status with Customize Apps activation code (serial Key)

[2018-12-17 20:55] borlum commented on #9928
So, I have made a hotfix for this issue.
Apparently `isAvailableForThisAddress($address)` of the `VATNumberTaxManager` class (vatnumber module) is called 6 times, when checking an address and calculating total.

- First it is called with all fields filled out (fully populated $address)
- Then it is called 2 times with an empty $address object as argument
- Then called again with all fields filled

[2018-12-17 21:32] centoasa commented on #10156
sorry @PierreRambaud : with your nginx configuration thare are some url that not rewrite:
/it/index.php?controller=pricesdrop
/it/index.php?controller=newproducts
/it/index.php?controller=bestsales

[2018-12-17 21:51] GreatestShowman commented on #11788
Hi ! I add the same problem ! Only dislable "products in same categorie" and it will works !

[2018-12-18 06:02] Akashvastarpara opened #11797 "Number of color variants count shows wrong on category page"
**Describe the bug**
There is wrong count shows (+92) and on product page there is only (49). There is also 49 combination saved on back-office also. When I check in inspect element there are +92 color variants links. Other products shows right count on category page. Is there any wrong configuration from my side? Can you help me to find the reason?

**Screenshots**
**On category page**
![1](https

[2018-12-18 06:07] bijouxmexicains commented on #11788
Thanks, I will try this as the final option, because Im not sure to know how to do this

[2018-12-18 06:29] bijouxmexicains commented on #11788
Hi indeed this module has issues too. I am not as lucky as you are, when I am disabling it, nothing improve.
However there are some products where it really displays the products of the same category and then believe it or not, the declination seem working.
When the products in the same category are not displayed (I don't know why because it should ALWAYS diplay this information), declination is n

[2018-12-18 06:34] bijouxmexicains opened #11798 "Product details is not displayed"
Hi
In many products the product details are not displayed when click on this section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
https://www.bijouxmexicains.fr/boucles-d-oreilles/95-136-boucles-d-oreilles-perles.html#product-details
2. Click on '....'
Details du produit

4. See error
Not working

**Additionnal information**
PrestaShop version: 1.7.1.2
PHP version: N/A

[2018-12-18 07:52] khouloudbelguith commented on #11798
Hi @bijouxmexicains,

Did you make any changes in the core of PrestaShop before this issue occurs?
If no, thanks to provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Pl

[2018-12-18 08:01] consochris commented on #11790
![2018-12-18_09-01-13](https://user-images.githubusercontent.com/11958854/50139982-8a9d4c00-02a3-11e9-9fab-71c34ab07dce.png)
it shows this error in the console

[2018-12-18 08:18] khouloudbelguith commented on #11795
Hi @tuhingr,

thanks for submitting your idea!
Just to be sure I understood your need: currently on PrestaShop, customers can personalize the product by entering some text or by providing custom image files.
In addition to this fields, you need to add a new field like a reference for this customization?
Let me know what you think!
Have a nice day,

[2018-12-18 08:29] khouloudbelguith commented on #11796
Hi @tuhingr,

In the product detail page, you can add a feature with redeem code & another feature with the serial key.
![image](https://user-images.githubusercontent.com/16067358/50141244-5035ae00-02a7-11e9-831c-fec7686939be.png)
![image](https://user-images.githubusercontent.com/16067358/50141291-6b082280-02a7-11e9-8ffd-1a00fcdff61b.png)
Thanks to check & feedback.

[2018-12-18 08:34] khouloudbelguith commented on #9928
HI @borlum,

Thank you for your fix suggestion.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/vatnumber
Thank you!

[2018-12-18 08:37] borlum commented on #9928
Yes, but the changes are to the *vatnumber*-module (https://github.com/PrestaShop/vatnumber) -- not to PrestaShop itself. So I am guessing a pull request here is more appropriate? :-)

[2018-12-18 08:39] Akashvastarpara commented on #11618
@khouloudbelguith Yes.

[2018-12-18 08:40] khouloudbelguith commented on #9928
@borlum, yes you are right. I am wrong
Thanks again!
Have a nice day!

[2018-12-18 08:42] khouloudbelguith commented on #11618
@Akashvastarpara, thanks!
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-18 08:42] #11618 closed, assigned to nobody

[2018-12-18 09:08] khouloudbelguith commented on #11797
Hi @Akashvastarpara,

I did not manage to reproduce the issue with the last version PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1Ykmf5scR0sJBWjh74Djx3Iq3eSv0rdw9/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2018-12-18 09:20] Akashvastarpara commented on #11797
@khouloudbelguith  Can I share you Back-office details?

[2018-12-18 09:23] khouloudbelguith commented on #11797
@Akashvastarpara,
This is a public space.
You can share me your Back-office details by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2018-12-18 09:30] matks commented on #11753
@rokaszygmantas Started on a fix, here's the beginning of my work: https://github.com/matks/PrestaShop/commit/19d6fe19dfc7a73fb9d3d8c2ac87b21aba0de1bf

Looks like merges between branches 1.7.5.x and develop have messed up the Import page. Some files which were updated / renamed were left both in the code (the old version and the new version).

[2018-12-18 09:42] Akashvastarpara commented on #11797
@khouloudbelguith Have you received mail with credential details?

[2018-12-18 09:43] TristanLDD commented on #10559
Hello @sarjon

Indeed, this button's position is not optimal, can you please post a screenshot of the whole migrated page so I can figure out a solution?

[2018-12-18 09:44] khouloudbelguith commented on #11797
@Akashvastarpara, I just received the email, I will check & feedback.
Thanks!

[2018-12-18 09:47] mark-ebs opened #11799 "Webservice Error - APi key issue"
Using clean install of Prestashop 1.7.4.4 installed on an 1&1 service - via 1&1 control Panel

trying to contact an inventory control program (www.selro.com) to prestashop via an API webservice.

upon trying to link - i get the following error
 We couldn't connect with prestashop. Please check the API keys and try again. Following error returned by prestashop
exception while getting prestashop ; n

[2018-12-18 09:47] khouloudbelguith commented on #11790
Hi @consochris,

For the errors in the console, it is a different issue, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10684 to fix the issue, it is fixed in the last version PS1.7.5.0.
In your file, prod.log I found that you are adding an attachment with a title more than 32 chars, could you please check & feedback, it could be a problem.
Could you please try to clear cache manuall

[2018-12-18 09:50] marionf commented on #23317
@Joukz
Can you take a look ?

[2018-12-18 09:52] colinegin commented on #11631
Hello,

We've checked with Nadia, our recommendation would be to have the same info and display as it is currently when the product is already out of stock. See the image
![capturenostock](https://user-images.githubusercontent.com/35263827/50145832-baa01b80-02b2-11e9-8e8e-d306b8d39c64.PNG)

The error message would be displayed when the client clicks on Add to cart (product page or quickview) inste

[2018-12-18 09:54] francoispeyret commented on #11631
thanks✌

[2018-12-18 10:01] khouloudbelguith commented on #11799
Hi @mark-ebs,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-r

[2018-12-18 10:01] matks commented on #11799
Hello @mark-ebs, the error message `java.lang.RuntimeException: Failed : HTTP error code : 401` clearly indicates that whatever answers to your Inventory Program requests, it is a Java program.

PrestaShop is a php program, it can never return this error message. I guess you Inventory Program is sending requests to the wrong target on your server, but this is related to your server configuration a

[2018-12-18 10:30] khouloudbelguith opened #11801 "An error is displayed "getimagesize(): php_network_getaddresses" when we try to change the status of the order to payment accepted"
**Describe the bug**
This issue occurs only when we use a docker environment.
Here's some information about the configuration
![image](https://user-images.githubusercontent.com/16067358/50147611-e32a1480-02b6-11e9-9cbb-72d759f24d62.png)
After creating an order from the FO, when we try to change the status of this order to payment accepted an error is displayed

[code]

**To Reproduce**
Steps to re

[2018-12-18 10:33] Akashvastarpara commented on #11797
Okay. Thanks in advance. @khouloudbelguith

[2018-12-18 10:37] khouloudbelguith commented on #11801
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11802 to fix the issue.
Thanks!

[2018-12-18 10:52] lily-anncurve opened #11803 "probleme tracking temps réel google analytics"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-12-18 10:54] lily-anncurve commented on #11803
Bonjour,

Nous travaillons avec la société Pumpup pour nos campagnes Google Ads et Google Shopping. Jusque-là, notre compte Ads était correctement relié à notre compte Google Analytics.

Depuis le 1er décembre environ, nous ne recevons plus de données sur notre compte Analytics et il est impossible de tracker les utilisateurs du site.

Voici le message que nous avons reçu de notre agence : Je revi

[2018-12-18 10:55] lily-anncurve commented on #11803
![capture d ecran 2018-12-17 a 09 41 28](https://user-images.githubusercontent.com/45966481/50149537-c3491f80-02bb-11e9-9932-af7fa95dbf7b.png)

[2018-12-18 10:56] rdy4ever commented on #11796
I do belive that what @tuhingr is looking for is the ability to send redeem and activation codes via e-mail, after an order is placed and the order status is changed to "Delivered".

[2018-12-18 10:57] shacker2 commented on #11655
done

[2018-12-18 10:58] khouloudbelguith commented on #11803
Hi @lily-anncurve,

Thanks for your report.
What is the exact version of the ps_googleanalytics module did you use?
We need to provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how

[2018-12-18 11:04] marionf commented on #11655
PR: https://github.com/PrestaShop/ps_viewedproduct/pull/12

[2018-12-18 11:07] sarjon commented on #10559
Here's more or less full page, you can see button on the bottom of the page. When opened in browser, in order to see it you must scroll down.

![customers](https://user-images.githubusercontent.com/15143151/50150168-d5c85680-02c5-11e9-84f9-c451bb937eb5.png)

[2018-12-18 11:08] khouloudbelguith commented on #11797
@Akashvastarpara, this issue occurs only with this product (10X20CM METRO "AMARANDA")?
Thanks!

[2018-12-18 11:12] Akashvastarpara commented on #11797
Not only one @khouloudbelguith , There is other products also.
13x13cm "spaanse" witjes, glans
10x10cm liso, gladde glanzende finish
10x10cm getrommeld glans
10x10cm liso, gladde mat finish

[2018-12-18 11:19] khouloudbelguith commented on #11797
@Akashvastarpara, I enabled debug mode in your shop but I don't get any information or any exception.
We need to retrieve the PHP error log in order to find out what's wrong.
Thanks!

[2018-12-18 11:20] Akashvastarpara commented on #11797
@khouloudbelguith  I don't know how to send it. But I can share FTP details via mail.

[2018-12-18 11:24] khouloudbelguith commented on #11797
@Akashvastarpara, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-18 11:27] hastaelgordo commented on #9727
There are some add-ons that solve this problem?

[2018-12-18 11:30] khouloudbelguith commented on #11788
Hi all,

We have recently released a new version ps_categoryproducts in few days, it is the v1.0.4.
@bijouxmexicains we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-18 11:40] Akashvastarpara commented on #11797
@khouloudbelguith I have shared error.log file via mail.

[2018-12-18 11:46] tuhingr commented on #11796
Yes, I wanted to mean that.

[2018-12-18 11:46] tuhingr commented on #11796
Yes, I wanted to mean that

[2018-12-18 11:56] aurelcomypunto opened #11805 "Problem with ps email alerts"
**Describe the bug**
Th ps email alerts modules doesn't works properly,
PLease help us to confuigure it from scratch
Maybe it would help to configure smtp

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information*

[2018-12-18 12:04] tuhingr commented on #11795
I have phone business, some digital product needs phone 15 digit IMEI for Unlock service,
So customer must put numeric code (IMEI No), if field is numeric so customer cannot put any text code.
Thats why need numeric field.

[2018-12-18 12:20] lily-anncurve commented on #11803
Prestashop 1.7.3.2
Module Analytics 3.1.3
No access to the log files.

[2018-12-18 12:50] khouloudbelguith commented on #11803
@lily-anncurve,  We need PHP error logs in order to find out what's wrong. If you don't have it, you should ask your hosting provider.
Thanks!

[2018-12-18 13:01] khouloudbelguith commented on #11795
@tuhingr, thanks for this clarifications.
@marionf, @colinegin what do you think?
Thanks!

[2018-12-18 13:04] khouloudbelguith commented on #11805
Hi @aurelcomypunto,

Thanks for your report.
Could you please try to navigate to your BO => CONFIGURE => Advanced Parameters => E-mail => TEST YOUR EMAIL CONFIGURATION by sending a test email.
What is the exact version PrestaShop did you use & what the exact version of the mailalert did you installed?
Thanks to check and feedback.

[2018-12-18 13:07] khouloudbelguith commented on #11796
@rdy4ever, thanks for this clarifications.
@colinegin, @marionf what do you think?
Thanks!

[2018-12-18 13:13] eternoendless commented on #11801
Looks like there's something wrong with the logo path, since it's tying to retrieve it using HTTP instead of using the local path:

[code]

[2018-12-18 13:14] khouloudbelguith commented on #11801
Related to #11791

[2018-12-18 13:20] aurelcomypunto commented on #11805
Hi there,We be already solved it. There was an error in SMTP parameters and we were fighting to discover where PrestaShop sotred ItMany thanks!Kind regards"Más vale una palabra potente que mil vacías de sentido." COMYPUNTO-------- Message original --------Objet : Re: [PrestaShop/PrestaShop] Problem with ps email alerts (#11805)De : khouloudbelguith À : PrestaShop/PrestaShop Cc : aurelcomypunto ,Me

[2018-12-18 13:34] khouloudbelguith commented on #11805
@aurelcomypunto, since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-12-18 13:34] #11805 closed, assigned to nobody

[2018-12-18 13:44] thalassa-web opened #11806 "StockAvailable - setQuantity - Duplicate data on key : product_sqlstock"
**Describe the bug**
Received product data from specific webservice, I tried to update product stock with the "StockAvailable::setQuantity" method, and I obtain SQL error :
Duplicata du champ '31-0-0-0' pour la clef 'product_sqlstock'. From DbCore->insert() Query was : INSERT INTO `ps_stock_available` (`id_product`, `id_product_attribute`, `id_shop`, `id_shop_group`, `quantity`, `depends_on_stock`

[2018-12-18 13:46] khouloudbelguith commented on #11797
@Akashvastarpara, in your log file, I found some issue with your theme "bizkickpro".
Also, you have some issues with your module "ht_promotionbar".
Thanks to check the issue with your theme author & feedback.
In my case with default theme & PS1.7.5.0, I did not manage to reproduce the issue.
Thanks!

[2018-12-18 13:51] dineshbadrukhiya commented on #11797
@khouloudbelguith do you think theme and module promotion bar causing this combination issue?

[2018-12-18 13:53] khouloudbelguith commented on #11797
@dineshbadrukhiya, in the error log file I found some issues with this theme & the module.
We need to check if they are really causing this issue.
Thanks!

[2018-12-18 13:54] thalassa-web opened #11807 "BO - Catalog - Stock weird generated URL"
**Describe the bug**
When I tried to open Catalog > Stock page, I see the dashboard page and the URL is quite weird :
http://myurlsite.com/adminfolder/index.php/stock/index.php?controller=AdminDashboard&token=...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Back-office
2. Click on Catalog > Stock
4. Look at the URL

**Additionnal information**
PrestaShop version: 1.7.4.4
PHP version

[2018-12-18 14:03] web-fu commented on #10475
I've found the same problem, and I fixed it modifying classes/form/CustomerForm.php adding at line 130:
[code]

I prefer server security against Front End security

[2018-12-18 14:06] khouloudbelguith commented on #11807
HI @tii-bruno,

Here's the URL for the product page:
http://shop_URL/admin-dev/index.php/sell/catalog/products?_token=KC4OEbmsTRPOTFweofoG_T1lmigfgKTekoFPOKb0Wm0

Here's the URL for the stocks page: http://shop_URL/admin-dev/index.php/sell/stocks/?_token=KC4OEbmsTRPOTFweofoG_T1lmigfgKTekoFPOKb0Wm0

What is the exact weird think?
PS: they are migrated pages.
Thanks!

[2018-12-18 14:16] thalassa-web commented on #11807
When I click on SELL >Catalog > Stock, I'm not redirected to the stock page.
But I'm stuck in the dashboard.
And if I click again, the URL become greater and greater :
http://shop_URL/admin-dev/index.php/stock/index.php/stock/index.php/stock/index.php?controller=AdminDashboard&token=
It's maybe a server problem, I don't manage it …
![capture](https://user-images.githubusercontent.com/29065423/5015

[2018-12-18 14:22] dineshbadrukhiya commented on #11797
@Akashvastarpara try to disable that module and your installed theme.

[2018-12-18 14:30] khouloudbelguith commented on #11807
@tii-bruno, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-18 14:30] webPonte opened #11808 "Wire Payment Module error on validation"
Good afternoon,

The problem that I have is that when I make a purchase on the web that I am fulfilling when I choose the payment method and I choose the bank transfer, it remains in the validation and error 500 jumps.
It does not send the mail or the order neither to the client nor to the administration.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
S

[2018-12-18 14:36] lily-anncurve commented on #11803
sorry i don't know where to find it !!!!!!

[2018-12-18 14:40] khouloudbelguith commented on #11803
@lily-anncurve,

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-18 14:40] khouloudbelguith commented on #11808
Hi @webPonte,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2018-12-18 14:49] webPonte commented on #11808
My version of prestashop is 1.7.4.2.

The PHP error log shows this:
Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart

And the web is [https://patineteswheels.com](https://patineteswheels.com)

I attached some screenshots
![fireshot capture 068 - patineteswheels - https___patineteswheels com_pedido](https://user-images.githubusercontent.com/45971995/

[2018-12-18 14:54] khouloudbelguith commented on #11808
@webPonte, if you enable the debug mode from the Advanced Parameters / Performance page, is there any exception displayed?
Thanks!

[2018-12-18 15:07] khouloudbelguith commented on #11808
@webPonte, you just closed the issue?

[2018-12-18 15:09] webPonte commented on #11808
Yes because I put the debug mode for make the screenshot and after I quit the debug mode the module works again perfect

[2018-12-18 15:10] khouloudbelguith commented on #11808
@webPonte, thanks!
Feel free to open a new one when needed.
Thanks!

[2018-12-18 15:32] BenTen opened #11811 "1.7.4.4 to 1.7.5.0 with autoupgrade"
Hello,

I just try to update from 1.7.4.4 to 1.7.5.0 with autoupgrade 4.5.1
In the end of the upgrade, I got a message.
https://tof.cx/image/HyrR4

You already have the 1.7.5.0 version.

Is there a tool to check if the db is really upgrade correctly?

**Additionnal information**
PrestaShop version: 1.7.4.4
PHP version: 7.2

[2018-12-18 15:35] thalassa-web commented on #11807
I have the same diagnostics of you … In my internal 1.7.4.4 test server, I have no particular problem with the stock.
I saw that my client installed PrestaShop on a NGINX server …
My local PrestaShop runs on Apache …
Is it possible that the rewrite rules or something is broken ?

[2018-12-18 15:38] webPonte commented on #11808
Good afternoon again,
After a few tests the error occurred again, the message that appears in the debug is the one I send in the screenshot.
Comment that in the administrator I also see an error screen I also send screenshot of it.
sorry for the inconvenience
![fireshot capture 070 - - https___patineteswheels com_module_ps_wirepayment_validation](https://user-images.githubusercontent.com/45971995/

[2018-12-18 15:48] khouloudbelguith commented on #11808
@webPonte, this issue is occurred due to php-intl extension.
Could you please try to install it, it is required.
Also, this issue is not fixed with ps_mailalert, here's a similar issue #9638, it is added to our bug roadamp.
Thanks!

[2018-12-18 15:48] #11808 closed, assigned to nobody

[2018-12-18 15:48] khouloudbelguith commented on #11808
Duplicate of #9638

[2018-12-18 15:50] khouloudbelguith commented on #11811
Hi @BenTen,

it could be that something went wrong with your update and don't have some of the database columns that were added for 1.7.5.
You can find the full schema for 1.7.5.0rc1 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0-rc.1/install-dev/data/db_structure.sql
You can find the schema changes from 1.7.4.4/1.7.5 by looking at this file:
https://github.com/PrestaShop/PrestaShop/b

[2018-12-18 15:53] khouloudbelguith commented on #11807
@tii-bruno, with nginx you can't use htaccess files in Nginx context, you need to write your own rules. The htaccess file is generated by PrestaShop but it's because Apache allows to use it. Unlike Nginx.
You can find an example here: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist
Thanks!

[2018-12-18 16:11] EV-soft opened #11812 "1.7.4.4 to 1.7.5.0 with 1-click upgrade"
The upgrade to the new version, finished with 3 warnings:

[**WARNING**] SQL 1.7.5.0 1060 in ALTER TABLE `psw_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '', CHANGE `employee_lastname` `employee_firstname` VARCHAR(255) DEFAULT '': **_Duplicate column name 'employee_firstname'_**
[OK] SQL 1.7.5.0 ALTER TABLE `psw_supplier_lang`...
[OK] SQL 1.7

[2018-12-18 16:29] marionf commented on #10193
Drag & Drop for categories listing should be like this:

![47282381-47926580-d5df-11e8-91a3-94e867fc0ec8](https://user-images.githubusercontent.com/13449658/50167916-80eb0700-02ea-11e9-968c-760326af5b56.png)

Mockup https://zpl.io/aMvjjj7

Currently it looks like this:

![capture d ecran_786](https://user-images.githubusercontent.com/13449658/50167872-67e25600-02ea-11e9-8911-d3191ee58c01.png)

[2018-12-18 16:33] thalassa-web commented on #11807
Thank you, I close the ticket because I don't use Nginx. I give the informations to the webmaster …

[2018-12-18 16:33] #11807 closed, assigned to nobody

[2018-12-18 16:35] khouloudbelguith commented on #11807
@tii-bruno, thanks!
Feel free to open a new one when needed.
Thanks!

[2018-12-18 16:42] khouloudbelguith commented on #11806
Hi @tii-bruno,

Thanks for your report.
How did you call "StockAvailable::setQuantity", with a custom script?
If yes, thanks to providing us this script to test it.
Thanks!

[2018-12-18 17:20] khouloudbelguith commented on #11812
Hi @EV-soft,

Thanks for your report.
I manage to reproduce the issue with the 1-click upgrade v4.5.1 from 1.7.4.4 to 1.7.5.0.
The upgrade is done succeessfully with 3 warnings as Described by @EV-soft.
ping @Quetzacoalt91 what do you think?
Thanks!

[2018-12-18 19:23] bijouxmexicains commented on #11798
Hi Khouloud

Please find here the information I was able to find :

*Serveur :* Linux #1 SMP Thu Aug 23 15:15:40 CEST 2018 x86_64

*Version du logiciel serveur :* Apache

*Version de PHP :* 7.0.32

*Version de MySQL :* 5.6.39-log

I am adding a log file i have found in my ftp, don't know if it will help

Thank you for your support and patience

Le mar. 18 déc. 2018 à 08:52, khouloudbelguith <notif

[2018-12-18 19:26] bijouxmexicains commented on #11788
I have indeed the v.1.0.4, i am going to enable debug mode and reply once i have more info

Thanks

[2018-12-18 19:38] bijouxmexicains commented on #11788
[DEBUG MESSAGE.pdf](https://github.com/PrestaShop/PrestaShop/files/2691986/DEBUG.MESSAGE.pdf)

I have this type of debug report on all the pages of my products

And this "Details du produit" is never working neither :

<img width="1284" alt="capture d ecran 2018-12-18 a 20 37 59" src="https://user-images.githubusercontent.com/45802556/50178479-e946e200-0304-11e9-85bb-e694e832267e.png">

[2018-12-18 20:14] Roodrock opened #11824 "Unable to update products and can not see combinations after 1-click upgrade into 1.7.5.0"
After 1-click upgrade where there was no issues i can not update my products and i can not see combinations anymore even tho they exist when i go to stock management.

![1](https://user-images.githubusercontent.com/45979333/50180289-201af900-0301-11e9-91ba-ccc08d2c5771.JPG)
![2](https://user-images.githubusercontent.com/45979333/50180290-201af900-0301-11e9-946e-c9a5cb95ea76.JPG)
![3](https://user-

[2018-12-18 20:18] jimmybsilva opened #11825 "1.7.4.4 to 1.7.5.0 with Product combinations not loading"
When I go to a product that I created on 1.7.4.4 in the admin area under products ->  combination tab it does not load the combinations products.  When I try to regenerate the combinations it says "error updating product"

PrestaShop version: 1.7.5.0
PHP version: 7.2

[2018-12-18 21:35] Roodrock commented on #11824
When run debugging found this issue:

GET Parameters
_token | "x0TUa0-A15QKrgFnK7XtRrgaMsr37aLdR4vStzxbKZo"
-- | --

Request Attributes

_controller | "PrestaShopBundle\Controller\Admin\AttributeController::getFormImagesAction"
-- | --
"security.firewall.map.context.main"
"json"
"admin_get_form_images_combination"
[▶]
"PrestaShopBundle\Controller\Admin\AttributeController"
2
"1"

Is it because i h

[2018-12-18 21:57] Roodrock commented on #11824
I rolled back to previous version and it works...

[2018-12-18 23:47] LucaMozzo commented on #11618
@khouloudbelguith  I have all the groups set to "display tax included" but the price I get on the front office is tax excluded with the label "tax included". I'm currently double-checking with my theme creator, if it's still an issue I'll open another issue. Thanks

[2018-12-19 04:29] Akashvastarpara commented on #11797
@khouloudbelguith I have disabled module and checked with classic theme but issue was still there.

![tc](https://user-images.githubusercontent.com/40850132/50199631-14b6e480-0378-11e9-9a9d-a9eea883bcfc.png)

[2018-12-19 05:18] BenTen commented on #11811
I'm updating manually.

One of the module of my project modified a table of PS. Maybe it's for that (think)

And I don't have the table _groupe_reduction_cache
Is this table is created when we active the cache?

Btw, I can see in the table **PREFIX_order_detail** of [1.7.4.x](https://github.com/PrestaShop/PrestaShop/blob/1.7.4.x/install-dev/data/db_structure.sql)
` `product_supplier_reference` var

[2018-12-19 06:31] Mreco83 opened #11836 "Tabs in BO after the update do not work 1.7.5.0"
Hello. After updating prestashop from version 1.7.4.4 to 1.7.5.0, the Back Office tab does not work for products, performance, administration invoice and e-mail. In dev mode, the tabs work﻿. In one tab in the Back Office named invoice in dev mode shows the error.
![48429336_2000978323311993_1260919887488876544_o jpg da0be00f36cdad26d45bcf220ec89231](https://user-images.githubusercontent.com/368834

[2018-12-19 07:57] khouloudbelguith commented on #11836
Hi @Mreco83,

Thanks for your report.
In my case, I did not manage to reproduce the issue after upgrade from PS1.7.4.4 to PS1.7.5.0 using the 1-click upgrade v4.5.1.
All page all displayed well when Debug mode is disabled or enabled.
But, as I see that your error occurred previously with a previous version.
If you already upgraded, please follow the message of Peter Visser: http://forge.prestashop

[2018-12-19 08:08] thalassa-web commented on #11806
I override the class StockAvailable to add a method :
[code]
I call it like this :
[code]

[2018-12-19 08:09] khouloudbelguith commented on #11618
@LucaMozzo, ok!
Thanks!

[2018-12-19 08:15] khouloudbelguith commented on #11824
Hi @Roodrock,

In my case, I did not manage to reproduce the issue with the 1-click upgrade v4.5.1 after upgrade from 1.7.4.4 to 1.7.5.0.
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate mach

[2018-12-19 08:16] BenTen opened #11837 "Error style BO PS 1.7.5.0"
Hi,
In BO on "Shop Parameters", there is a problem of style
https://tof.cx/image/HTQVa

Best Regards

[2018-12-19 08:19] khouloudbelguith commented on #11837
Hi @BenTen,

This is not a bug, it is a cache issue.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks!

[2018-12-19 08:19] #11837 closed, assigned to nobody

[2018-12-19 08:20] khouloudbelguith commented on #11824
Duplicate of #11825

[2018-12-19 08:20] #11824 closed, assigned to nobody

[2018-12-19 08:22] khouloudbelguith commented on #11825
Hi @jimmybsilva,

Thanks for your report.
I did not manage to reproduce the issue with the 1-click upgrade v4.5.1 from PS1.7.4.4 to PS1.7.5.0.
Did you have any errors during the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2018-12-19 08:26] khouloudbelguith commented on #11798
@bijouxmexicains,

Thanks for your feedback.
There is no log file attached.
You need to connect to GitHub & upload the file here.
Thanks!

[2018-12-19 08:32] khouloudbelguith commented on #11788
Hi @bijouxmexicains,

In fact, the ps_viewedproduct have an issue with PrestaShop which have version < 1.7.4.4.
Here's a fix for this module to solve your issue
https://github.com/PrestaShop/PrestaShop/issues/11655#issuecomment-445549934
Thanks to upload this fix & feedback.

About your second issue Product details, we currently have another issue with this #11798
Thanks!

[2018-12-19 08:33] khouloudbelguith commented on #11655
Here's the fix https://github.com/PrestaShop/ps_viewedproduct/pull/13
Thanks!

[2018-12-19 08:56] khouloudbelguith commented on #11797
@Akashvastarpara, to be sure of your issue if you create a new product with the same combinations or your duplicate this product.
The issue occurs again?
Thanks!

[2018-12-19 09:04] khouloudbelguith commented on #11811
Hi @BenTen,

I checked a new installation of version PS1.7.4.4, the table `PREFIX_product_group_reduction_cache` exists, you can follow this [link](https://github.com/PrestaShop/PrestaShop/blob/3b60885165ef9df00a7952339285ebf4a1217a81/install-dev/data/db_structure.sql#L873)
We manage to reproduce some during the upgrade from PS1.7.4.4 to 1.7.5.0
Here's a fix https://github.com/PrestaShop/PrestaSho

[2018-12-19 09:04] khouloudbelguith commented on #11811
Duplicate of #11812

[2018-12-19 09:28] centoasa opened #11838 "php 7.3"
Prestashop 1.7.4.4 or the latest 1.7.5 have compatibility with the latest php 7.3?
Thank you

[2018-12-19 09:33] BenTen commented on #11811
duplicate? where?

1/For my part the table was not upgrade and the message was:
"Error during database upgrade.
You already have the 1.7.5.0 version."
#11812 is totally different.

2/ I talk about the table order_detail, #11814 is not about that.

3/ about PREFIX_product_group_reduction_cache, my bad I didn't see it on my db (I forgot to update my ticket after found it)

It's not a request support

[2018-12-19 09:37] kpodemski commented on #11838
No, it's just released.

[2018-12-19 09:39] Dan-Orchard opened #11839 "1.7.4.4 multistore individually associated store categories showing on all stores"
**Describe the bug**
When creating a multistore eg. 2 store (two seperate groups or two stores in one group - both are bugged) categories appear on both stores.

**To Reproduce**
Enable multistore
Create another group and store / or new store in same group - leave sharing details as default
Add a category and associate with one store
Go to url of category in associated store - Category will show a

[2018-12-19 09:39] khouloudbelguith commented on #11838
Hi @centoasa,

Current situation of PrestaShop:
PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 / 1.7.5 is compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks!

[2018-12-19 09:39] #11838 closed, assigned to nobody

[2018-12-19 09:42] arisschl commented on #11125
This would definitely be a great improvement!

[2018-12-19 09:45] khouloudbelguith commented on #11811
@BenTen,

In your ticket, you mentioned about PREFIX_order_detail, which is the duplicate of this ticket #11812.
Now, about your issue, it could a permission issue during the upgrade, thanks to check & feedback.
Thanks!

[2018-12-19 09:53] khouloudbelguith commented on #11839
Hi @Dan-Orchard,

Thanks for your report.
Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9606
Thanks!

[2018-12-19 09:57] khouloudbelguith commented on #11806
Hi @tii-bruno,

Thanks for your feedback.
When I tried with your override, I have exceptions when I update the quantity.
![image](https://user-images.githubusercontent.com/16067358/50213071-dc65d500-037c-11e9-842c-cea3844b2c5f.png)
Thanks to check & feedback.

[2018-12-19 10:02] grabelle opened #11840 "API error with php 7.2 (1.7.5.0)"
Hi,
Using PHP7.2 and prestashop 1.7.5.0 : just call the API like "youwebsite/api" enter your key .... the response return a 500 code. Probably the case with prestashop 1.7.4.4 ...

Thanks
Sorry same as https://github.com/PrestaShop/PrestaShop/pull/11649

[2018-12-19 10:10] LinkOfLight commented on #11497
Sorry for my bad explication, My supplier gives me the previous price with taxes and the new price with taxes, the idea is that prestashop calculate with the new and the old the applied discount and can show the label of "on offer" with the label of the discount applied

[2018-12-19 10:12] TristanLDD commented on #10559
I suggest that we move the button to the top right of the table (on the same line as the bulk action button but on the right), on clic the button will open the same panel as legacy but above the table instead of below it

[2018-12-19 10:15] Dan-Orchard commented on #11839
Hi @khouloudbelguith

Yes, looks to be the same issue as #9606

Do we have any update on the status of this bug? (Initial report was ~6 months ago)

Thanks

[2018-12-19 10:17] khouloudbelguith commented on #11839
@Dan-Orchard,

Sorry, it is not fixed yet.
But it is added to our bug roadmap.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-12-19 10:17] #11839 closed, assigned to nobody

[2018-12-19 10:17] khouloudbelguith commented on #11839
Duplicate of #9606

[2018-12-19 10:24] khouloudbelguith commented on #11840
Hi @grabelle,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0 & PHPv7.2.
I attached a video record.
https://drive.google.com/file/d/1Wviq_BBueRS6mtFqoIBU70nnVeo4yoZ8/view
In your BO => Shop Parameters => Traffic & SEO page, did you enabled the Friendly URL option?
Thanks!

[2018-12-19 10:30] eternoendless commented on #11619
As discussed, we can't change the way we install community modules right now, it should be done in the next major version.

For 1.7, I suggest creating a composer extension so that dependencies of modules installed using composer are not merged with the core's.

[2018-12-19 10:33] thalassa-web commented on #11806
Yes of course you have …
I did not clean my code up …
Here you have the cleaned up class :
[code]

[2018-12-19 10:33] grabelle commented on #11840
Sorry, I was not clear.
Please call {{your-url}}/api/?output_format=JSON

[2018-12-19 10:47] khouloudbelguith commented on #11840
@grabelle,

No, it is OK.
https://drive.google.com/file/d/1o0Fo3AOZAH0UjWv8BQdCuJ4B4wixuAuj/view
Thanks!

[2018-12-19 10:59] grabelle commented on #11840
Version de PHP : 7.2.13-1+ubuntu16.04.1+deb.sury.org+1

Strange ...

code | 3
message | "[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (/home/.........../classes/webservice/WebserviceOutputJSON.php, line 155)"

So I guess you don't return the warning in your config ?

[2018-12-19 10:59] Trylam commented on #11759
Thanks for your answers. Finaly I install it in a VM (with php 7.0) and it's work.

[2018-12-19 11:03] mickaelandrieu opened #11841 "Complete the Translation system"
Hello fellows,

since 1.7.0, we haven't fully implemented the new Translation system for modules:

* native modules use Back Office translations;
* current modules use `l()` implementation and so on can't use Symfony;
* Twig templates can't use old translations (the ones without domains)

At this moment, there are 2 options to fix the current issues:

* sounds like easy to do and to implement: bac

[2018-12-19 11:03] khouloudbelguith commented on #11759
Hi @Trylam,

Thanks for your feedback.
Since it fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-12-19 11:03] #11759 closed, assigned to nobody

[2018-12-19 11:06] Trylam opened #11842 "the installation does not end"
**Describe the bug**
Prestashop is install in linux vm. We start creating a theme on another computer from the startertheme(with prestashop 1.7.4.0)  and we imported it from the prestashop which is on the vm. I have a sshfs mount in folder in my computer on the theme. I try to realise npm installation from my folder computer. npm has been reinstalled and the path to bin has been added. And when I

[2018-12-19 11:12] elmanu13 opened #11843 "ps_featuredproducts makes my 1.7.5 crash"
Just upgraded my 1.7.4.4 to 1.7.5 using 1-click upgrade : the module Featured product makes the shop crash (all ok when it's desactivated)

Error message in debug mode :
FatalThrowableError
Access to undeclared static property: Product::$producPropertiesCache
in Product.php line 352

at Product::getProductProperties(blabla) in Product.php line 4924

at ProductCore::getProductsProperties(blabla) in

[2018-12-19 11:22] khouloudbelguith commented on #11843
Hi @elmanu13,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0 after upgrade from 1.7.4.4 with the 1-click upgrade v4.5.1.
The FO is ok & the list of popular products are well displayed in the central column of my homepage.
Could you please try to uninstall this module, remove the ps_featuredproducts folder from your Project_Folder/modules/ps_featuredproducts, try to

[2018-12-19 11:27] khouloudbelguith commented on #11806
Hi @tii-bruno,

Thanks for your feedback.
Now the override works, but there is no exception `Duplicata du champ '31-0-0-0' pour la clef 'product_sqlstock` displayed.
I attached a video record.
https://drive.google.com/file/d/1tApgYVlpExb48QPHeJZJpe9PnRYCV5qB/view
Thanks to check & feedback.

[2018-12-19 11:29] khouloudbelguith commented on #11840
@grabelle, yes there are no warnings in my case.
With PHP 7.1 it is ok in your side?
Thanks!

[2018-12-19 11:29] elmanu13 commented on #11843
Hey, thanks for this fast answer.

I did all the operation you listed before sending my report. Did it again, and still have the problem with same error messages.

I will ask my dev if he did modify some core files that could cause the problem and get back to you soon.

Thanks again !

[2018-12-19 11:30] khouloudbelguith commented on #11843
@elmanu13, thanks!
Waiting for your feedback.

[2018-12-19 11:31] kpodemski opened #11844 "Setting show_price to off doesn't hide price in schema.org tags"
**Describe the bug**

If you don't want to show prices in products, for eg. by setting show_price to No or hide prices for Group, it does not hide prices in schema.org tags

**To Reproduce**
Steps to reproduce the behavior:
1. Go to whatever Product you want and edit it
2. Turn on catalog mode and turn off showing price
3. Now save changes, visit product page and check source code of the page, you

[2018-12-19 11:34] grabelle commented on #11840
Yes it is ok with 7.1

[2018-12-19 11:43] khouloudbelguith commented on #11844
Hi @kpodemski,

Thanks for your report.
I manage to reproduce the issue with the last version PrestaShop v1.7.5.0
I disabled show price in the customer Group page for all group.
When I check the source code of the product page, the price is visible.
![image](https://user-images.githubusercontent.com/16067358/50218262-95cba700-038b-11e9-852d-93a42634f373.png)
We will see how to fix it.
Thanks!

[2018-12-19 12:13] elmanu13 commented on #11843
Hi again,

Problem fixed, there was an overide on the products.php that caused the problem.

You can close the issue, thanks again for your reactivity !

Manuel

[2018-12-19 12:32] MathiasReker opened #11845 "Critical bug: Black screen when add to cart fast"
**Describe the bug**
Add a product to cart multiple times fast. Then the screen get black and the modal box can't be closed.

**To Reproduce**
Watch video.

[double click overlay issue.zip](https://github.com/PrestaShop/PrestaShop/files/2694827/double.click.overlay.issue.zip)
[black screen with muliitiple click cant close.zip](https://github.com/PrestaShop/PrestaShop/files/2694829/black.screen.wit

[2018-12-19 12:38] rGaillard opened #11846 "The Symfony debug bar hides the action buttons on the product page"
**Describe the bug**
The Symfony debug bar hides the action buttons on the product page.

**To Reproduce**
Steps to reproduce the behavior:
1.  Enable the debug mode
2. Edit or create a new product
3. Scroll down and search the action buttons

**Screenshots**
https://www.awesomescreenshot.com/image/3793613/088c75445bbdffd4296e9c35381812c2

**Additionnal information**
PrestaShop version: 1.7.4.4
PH

[2018-12-19 12:55] joelprestaworks opened #11847 "Combination negative price impact error"
**Describe the bug**
When submitting a negative price impact on combination and save the product, everything works as it should. When you reload the page and go back to edit the product again, it will cause an error because of the negative price-impact.

I think it has something to do with decimals or the "minus"-character stored in DB after save.

**To Reproduce**
Steps to reproduce the behavior:

[2018-12-19 12:57] matks commented on #11846
Hi @rGaillard,

The result will depend on your screen size, however if the debug bar is annoying for you when you use the Product page, you can toggle it using the "close toolbar" cross on the far right of the bar

[2018-12-19 13:16] khouloudbelguith commented on #11846
Hi,

When the window is lower than 1428px * 977px,
The Symfony debug bar hides the action buttons on the product page, it will be displayed like that
![image](https://user-images.githubusercontent.com/16067358/50222399-6cfdde80-0398-11e9-93b8-97fce90fa2d7.png)
When the window is between 1428px * 977px & 1450px * 977px,
The Symfony debug bar hides only a part of the action buttons on the product pa

[2018-12-19 13:25] eternoendless commented on #11812
The warnings are not a serious problem. A fix is available in #11814

[2018-12-19 13:26] Prestaworks commented on #11847
It will work if the javascript event change is fired for the input boxes of the price.
So if there is a negative value, the change event needs to fire for the product to be able to save.

[2018-12-19 13:27] khouloudbelguith commented on #11845
HI @MathiasReker,

Thanks for your report.
We are aware of this issue, it is added to our bug roadmap.
Your ticket is a duplicate of #9634
So, I close it.
Thanks!

[2018-12-19 13:27] #11845 closed, assigned to nobody

[2018-12-19 13:27] khouloudbelguith commented on #11845
Duplicate of #9634

[2018-12-19 13:31] khouloudbelguith commented on #11840
Hi @grabelle,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-12-19 13:42] khouloudbelguith commented on #11843
@elmanu13, you are welcome.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-19 13:42] #11843 closed, assigned to nobody

[2018-12-19 13:48] khouloudbelguith commented on #11842
Hi @Trylam,

Thanks for your report.
Could you please run this command `npm run --watch`, check & feedback.
Thanks!

[2018-12-19 13:59] marionf commented on #11846
As explained by @matks you can close the symfony toolbar, so no issue here

[2018-12-19 13:59] #11846 closed, assigned to nobody

[2018-12-19 14:09] rblaurin opened #11848 "Error editing products with a too long product summary for a disabled language."
If you limit the short description size and you have a disabled language with a short description that exceeds the specified size, products are not saved anymore and no message is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "International > Localization > Languages tab" and create a new language to the shop
2. Save a long Summary description for any product for the new langu

[2018-12-19 14:10] khouloudbelguith commented on #11847
Hi @joelprestaworks,

I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0. PHP7.2.13.
I attached a video record.
https://drive.google.com/file/d/1FEywEvb1Y3pzgQ9UpuOznW9EDU_bos0f/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apach

[2018-12-19 14:15] matks commented on #11840
@grabelle Looks like in DEV mode you have warnings that are being returned, and because of that the response you get is not a proper JSON document

Can you check in PRODUCTION mode to validate this hypothesis 🙏 ?

[2018-12-19 14:18] joelprestaworks commented on #11847
Hi Khouloud,

I think you did it wrong when watching your video, it's not necessary that you look in FO, the issue is only related in BO.

I forgot to mention that we're using Swedish as language in our environment, could it be something related to that?

You can see the error in this video:
https://www.useloom.com/share/05161efbbc1b4c8299cac8d1b19b2dc7

[2018-12-19 14:22] joelprestaworks commented on #11847
I can now confirm that this specific issue is related to languages!
I just changed the language for my employee-account to English and the error is gone!

Something is wrong with the Swedish language pack that is used in PS 1.7.x, it's the Swedish language who cause the issue!

[2018-12-19 14:23] Klemart3D opened #11849 "Column 'message' in field list is ambiguous"
**Describe the bug**
Into Clients > SAV page, I have the following warning (without debug mode):

And any message is displayed.

With debug mode enabled I've the following exception:

complete message on screenshot:

![exception](https://user-images.githubusercontent.com/7419525/50226147-b6ebc200-03a2-11e9-85dd-e8c7157c6e86.png)

A clear and concise description of what the bug is.

**To Reproduce*

[2018-12-19 14:27] Klemart3D commented on #11849
I fixed this exception by replacing into `controllers/admin/AdminCustomerThreadsController.php` file, line 242: `group_concat(message)` by "group_concat(cm.`message`)"

[2018-12-19 14:27] khouloudbelguith commented on #11848
Hi @rblaurin,

Thanks for your report.
I manage to reproduce the issue withPS1.7.4.4 but with PS1.7.5.0, it is fixed
I attached a video record.
https://drive.google.com/file/d/1ZvVxrgV5i2Pk8X1VBrBt0572EZ0zxfxp/view
Thanks!

[2018-12-19 14:27] #11848 closed, assigned to nobody

[2018-12-19 14:29] matks commented on #11849
@Klemart3D Nice 😄 ! Would you make a PR to submit this change ? I can do it but you would not get the credit you deserve for finding the solution

[2018-12-19 14:31] Trylam commented on #11842
It return to me :
[code]

[2018-12-19 14:33] grabelle commented on #11840
You mean DEV mode in the performance parameter of prestashop ? if so ... no it is not in dev mode.
To avoid the warning, I modifyed my php.ini (not sure it's a good idea but it on a local server)

[code]

[2018-12-19 14:34] MathiasReker commented on #9634
Isn't it critical?

[2018-12-19 14:37] rblaurin commented on #11848
Great! Thanks for the quick feedback

[2018-12-19 14:38] khouloudbelguith commented on #11849
HI @Klemart3D,

With a fresh installation PS1.6.1.23, I did not manage to reproduce the issue.
In the SAV page, did make any filter with which exact field?
Thanks!
Also, you can make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-12-19 14:43] joelprestaworks commented on #11847
More information;

We think that there is some issue in main--sv-SE--currencies generated under translations/cldr/ something is totally wrong and when looking in the compiled file above the chars does not get built the same as in e.g. main--en-US--numbers.

Probably the main issue is located under translations/datas/main/sv-SE/numbers.json

However we don't know exactly the issue, since this Swedi

[2018-12-19 14:45] khouloudbelguith commented on #11840
@grabelle,

To turn off the Debug mode on PrestaShop 1.7, follow these steps:
Got to Advanced Parameters > Performance
In the Debug Mode section, set “Debug Mode” to “No”.
Click the “Save” button.
You can still enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', true

[2018-12-19 15:04] khouloudbelguith commented on #11847
Hi @joelprestaworks,
Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0 / PS1.7.4.4 when I change the language of the employee to Swedish
https://drive.google.com/file/d/1rSPjxuWPIIgJiuifGum6f_NRlRoTTyxu/view
We will see how to fix it.
Thanks!

[2018-12-19 15:21] su8z3r0 commented on #9971
Hello,
any news about this bug ?

Thank you!
Ciro

[2018-12-19 15:28] khouloudbelguith commented on #9971
@su8z3r0, sorry not yet.
Thanks for your understanding!

[2018-12-19 15:30] DelecroixQuentin commented on #11840
Hello @grabelle,

This fix works fine:
In classes/webservice/WebserviceOutputJSON.php

Change line 41:
`protected $currentAssociatedEntity;`

To:
`protected $currentAssociatedEntity = array();`
Or
`protected $currentAssociatedEntity = [];`

[2018-12-19 15:35] khouloudbelguith commented on #11842
Hi @Trylam,

I manage to reproduce the issue follwing these steps:
1. cd themes
2. git clone https://github.com/PrestaShop/StarterTheme.git YOUR_THEME_NAME
3. create theme.yml into the config folder
4. cd _dev
5. npm install
6. npm run watch

the installation does not end
![image](https://user-images.githubusercontent.com/16067358/50230035-0aaed900-03ac-11e9-8620-5a75c52295bb.png)
Thanks!

[2018-12-19 15:37] khouloudbelguith commented on #11840
@DelecroixQuentin,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-12-19 15:40] sarjon commented on #11038
@colinegin wdyt?

[2018-12-19 17:00] #11791 closed, assigned to PierreRambaud

[2018-12-19 17:42] jolelievre commented on #11687
Hi, here is the doc where I wrote my feedback on the mail system/architecture:

https://docs.google.com/document/d/1Gp3vX4WjJwTLPXWZgaEC6rDFT0X7x2kvN-j4dzBS9Qc/edit?usp=sharing

Any feedback from @PrestaShop/prestashop-core-developers is welcome

[2018-12-19 18:08] MatShir commented on #11796
Hi @tuhingr,
There are some solutions available if you want really need the features now on the marketplace. Otherwise, we got your feedback and we have shared the idea at Prestashop Feedbacks (http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/36319489-creation-of-reedem-code-serial-key-for-digital-pr) to let the community help us to prioritizes all ideas from the community

[2018-12-19 18:19] D2Red opened #11855 "DeliverySlipPDF and InvoicePDF on Order Settings page"
**Describe the bug**
on the order settings page, in the column PDF the shop displays no Icon fpr Invoice and  DeliverySlip.
in the pic "orders.png" you can see that some orders have a invoice-icon
and some order have invoice-icon and deliveryslip-icon.
but the most have no icon.

**Additionnal information**
PrestaShop version: 1.7.4.4
PHP version: 7.1
![orders](https://user-images.githubuserconten

[2018-12-19 18:23] bijouxmexicains commented on #11788
Hi Khouloud, I don't have the module ps_viewedproduct in my database

The other issue is from me :/

[2018-12-19 18:34] bijouxmexicains commented on #11798
here is my error log :
[error log.pdf](https://github.com/PrestaShop/PrestaShop/files/2696112/error.log.pdf)

[2018-12-19 18:43] bijouxmexicains commented on #11788
pretty sure now it's about safari
but why ?

[2018-12-19 21:20] jimmybsilva commented on #11825
When you go a business profile and you click on the companies link it takes you to an error page

Example
https://420nurses.com/businesses/420nurses-las-vegas-highrollers-chapter/

![image](https://user-images.githubusercontent.com/35279981/50248693-ba764d80-0390-11e9-9789-b39a8026593e.png)

you click on
![image](https://user-images.githubusercontent.com/35279981/50248706-c95d0000-0390-11e9-8285-4

[2018-12-20 00:50] brucer44 opened #11870 "Unable to link with my PrestaShop store page from the internet."
**Describe the bug**
A clear and concise description of what the bug is.
Unable to link with my brucereaves.com PrestaShop store page from the internet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**

[2018-12-20 08:00] khouloudbelguith commented on #11870
Hi @brucer44,

Thanks for your report.
Could you please provide us with a clear description of what is your issue?
We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug

[2018-12-20 08:18] Akashvastarpara commented on #11797
@khouloudbelguith Same issue again.

[2018-12-20 08:20] khouloudbelguith commented on #11855
Hi @D2Red,

You can get many PDF documents out of the order page.

You can get an invoice for the order by clicking on the "Generate invoice" button from the "Documents" section. The invoice is also generated once you put the order in the "Payment accepted" status.
Once it is generated, the "View invoice" button below gets activated the top-bar. => so, the invoice-icon will be displayed.
![image](

[2018-12-20 08:23] khouloudbelguith commented on #11797
@Akashvastarpara, did you create a new product or just duplicate an old product?
Thanks!

[2018-12-20 08:25] khouloudbelguith commented on #11825
@jimmybsilva, did you delete your last comment?
Thanks!

[2018-12-20 08:26] amansrivastava8355 opened #11871 "Undefined offset error, In Post method of Web-services of Prestashop"
Undefined offset error, In Post method of Web-service of Prestashop, while using **output_format JSON**
[Error Screnshot](https://prnt.sc/lxc5nz)

[2018-12-20 08:29] khouloudbelguith commented on #11871
Hi @amansrivastava8355,

Thanks for your report.
Heres' a fix https://github.com/PrestaShop/PrestaShop/issues/11840#issuecomment-448635878 to solve your issue.
Your ticket is a duplicate of #11840
So, I close it.
Thanks!

[2018-12-20 08:29] #11871 closed, assigned to nobody

[2018-12-20 08:30] khouloudbelguith commented on #11871
Duplicate of #11840

[2018-12-20 08:30] dheerajwebkul commented on #11241
Hello @khouloudbelguith
We are still getting an issue in V1.7.4.4 if multiple modules register this hook.

Please check the attached screenshot.
![fatal_error](https://user-images.githubusercontent.com/19220745/50273071-946bae80-045f-11e9-86ba-36caa0f79a14.png)

[2018-12-20 08:32] khouloudbelguith commented on #11241
Hi @dheerajwebkul,

This issue is not fixed yet.
It is added to our bug roadmap.
Thanks!

[2018-12-20 09:03] khouloudbelguith commented on #11798
@bijouxmexicains, thanks for your feedback.
In your log file, you have this error
[code]
Could you please try to disable any type of caching extensions (like apc, opcache, memcache etc...)
And try to verify that there's enough RAM on your server
Thanks!

[2018-12-20 09:06] marionf commented on #11847
@khouloudbelguith
This seems random, I can reproduce it only once
https://drive.google.com/file/d/17UG9yIhnQ7ZnQ4XM6AoC3f-0rn0M2l0e/view?usp=sharing

[2018-12-20 09:10] joelprestaworks commented on #11847
Hi marionf,

You're not doing it correct. It will work as long as you do it the first time. After editing the product with negative price impact the first time, and then go back (reloading the page) to edit the product again, you will get error if you try to just save the product without doing any new changes to it.

We're pretty sure that there is errors in this file: translations/datas/main/sv-S

[2018-12-20 09:18] khouloudbelguith commented on #11788
@bijouxmexicains, you need to navigate to your BO => Modules => Modules & Services => Modules Tab => search for this ps_viewedproduct module, disbale it, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/50275797-8c504680-0440-11e9-8410-ae59f44a6959.png)
Thanks!

[2018-12-20 09:18] Quetzacoalt91 commented on #11842
This is an expected behavior of the `--watch` parameters. It keeps "watching" the changes you make on the project, and compile every time you save one of the files.

If you want to webpack to stop after it compiled all your assets, remove the `--watch` parameter.

[2018-12-20 09:19] #11842 closed, assigned to nobody

[2018-12-20 09:33] chiruVai opened #11872 "Image issue in Buy Button Lite in PS 1.7.5.0"
**Describe the bug**
I have newly install Prestashop 1.7.5.0 - stable version, and what I am found to day  that is , I have check out new feature of its.
In "Buy button lite " module (backend) , when i am searching  a product in there it comes with null or broken image of product. ( actually its shows wrong path of the product image) .
kindly find out this section.

**To Reproduce**
Steps to repro

[2018-12-20 09:33] chiruVai opened #29902 "Image issue in Buy Button Lite in PS 1.7.5.0"
**Describe the bug**
I have newly install Prestashop 1.7.5.0 - stable version, and what I am found to day  that is , I have check out new feature of its.
In "Buy button lite " module (backend) , when i am searching  a product in there it comes with null or broken image of product. ( actually its shows wrong path of the product image) .
kindly find out this section.

**To Reproduce**
Steps to repro

[2018-12-20 09:45] LouiseBonnard commented on #11631
@colinegin, can you confirm that the action will be impossible to do? For the wording, I suggest `There are not enough products in stock`, to be localized in _Shop.Notifications.Error_. @TristanLDD, okay for you?

[2018-12-20 09:50] colinegin commented on #11631
We need the confirmation of the dev team on this issue. What do you think @PrestaShop/prestashop-core-developers ?

[2018-12-20 09:55] khouloudbelguith commented on #11872
Hi @chiruVai,

I manage to reproduce the issue with Ps1750 and the ps_buybuttonlite v1.0.1
This issue occurs only with new products created, with demo products, it is OK.
We will see how to fix it.

Thanks!

[2018-12-20 09:55] khouloudbelguith commented on #29902
Hi @chiruVai,

I manage to reproduce the issue with Ps1750 and the ps_buybuttonlite v1.0.1
This issue occurs only with new products created, with demo products, it is OK.
We will see how to fix it.

Thanks!

[2018-12-20 10:01] marionf commented on #11631
When the product is out of stock and order of out of stock products is disabled, the message displayed on the product page is the one defined in Shop parameters > Products

![capture d ecran_802](https://user-images.githubusercontent.com/13449658/50278133-82c9dd00-0446-11e9-8eb1-3a64f34c87d5.png)

![capture d ecran_801](https://user-images.githubusercontent.com/13449658/50278138-86f5fa80-0446-11e9

[2018-12-20 10:06] mickaelandrieu commented on #11631
Hello,

the action won't be impossible but hard to be done: as it's a very minor issue I think the suggested workaround is ok.

Mickaël

[2018-12-20 10:08] dineshbadrukhiya commented on #11797
@Akashvastarpara Can you please share generated combination screenshot from back-office?

[2018-12-20 10:11] MatShir commented on #11742
Hi @jolelievre,
Check the new wording on the related section in the issue, the one from mock-up is not correct anymore :)

[2018-12-20 10:11] mickaelandrieu commented on #11630
Hello,
I'm more in favor of adding new hooks than make function public, allowing you to alter the current behavior make the upgrade difficult for everyone.

In 1.7.x, more and more we are closing our API (making classes final, properties and methods private by default) and expanding the ways you can alter the common behavior (hooks, events, templating customization).

If you have the need for a ne

[2018-12-20 10:12] marionf commented on #11872
@Joukz

[2018-12-20 10:12] marionf commented on #29902
@Joukz

[2018-12-20 10:16] mickaelandrieu commented on #11434
Hello,

this is indeed useful *but* I don't think we should do it but let the community provide a premium module for that.

Because we don't have this need and so on we are not the best to create and maintain this feature when an agency could sell and maintain its module. We need to search a little bit but there is probably already a module for that: https://addons.prestashop.com/fr/recherche?sear

[2018-12-20 10:22] Akashvastarpara commented on #11797
@khouloudbelguith I have tried both the way. But still same for the products.

@dineshbadrukhiya

![untitled](https://user-images.githubusercontent.com/40850132/50279277-41015c80-046f-11e9-8f4b-d5647ffe1034.png)

[2018-12-20 10:28] dineshbadrukhiya commented on #11797
@Akashvastarpara If I'm not wrong, you have 50 combination and in each combination it seems you have added two colors which looks same. So as +92 is count of variant links not a count of no of combination. As you have used two color for each combination, it means total count is 100 for variant links of your color attributes. I think that's why its showing +92 count.

[2018-12-20 10:29] dineshbadrukhiya commented on #11797
@khouloudbelguith wdyt?

[2018-12-20 10:36] psyray commented on #11596
Great !!!
Be able to use doctrine-migrations along with this could be also a good idea, no ?
In the current version (1.7.5.0) what's prevent to use Doctrine entities in module ?

[2018-12-20 10:38] #11743 closed, assigned to nobody

[2018-12-20 10:39] #11801 closed, assigned to PierreRambaud

[2018-12-20 10:40] #9743 closed, assigned to jolelievre

[2018-12-20 10:53] khouloudbelguith commented on #11797
@dineshbadrukhiya, no I don't think that it is the whole issue, I tried with PrestaShop 1.7.4.4 & I did not manage to reproduce the issue
https://drive.google.com/file/d/18pNiDkMejNmjD54JE2coUbEWbXh1g0rX/view
Thanks!

[2018-12-20 10:56] lily-anncurve commented on #11803
https://we.tl/t-3Gjf3dOzTG

[2018-12-20 11:02] marionpelouzet commented on #11611
Hi,

Thank you very much for your reply !

Best

http://them.fr <http://them.fr/>
https://www.facebook.com/themofficiel/ <https://www.facebook.com/themofficiel/>
https://www.instagram.com/themofficiel/ <https://www.instagram.com/themofficiel/>

[2018-12-20 11:05] khouloudbelguith commented on #11611
@marionpelouzet, you are welcome!
so can I close the issue?
Thanks!

[2018-12-20 11:06] marionpelouzet commented on #11611
yes

thank you very much

http://them.fr <http://them.fr/>
https://www.facebook.com/themofficiel/ <https://www.facebook.com/themofficiel/>
https://www.instagram.com/themofficiel/ <https://www.instagram.com/themofficiel/>

[2018-12-20 11:07] mickaelandrieu commented on #11342
Hello @linuxatico,

I think it's a good idea too, do you have worked on a solution from your side? Do you want to share your code?

Thanks

[2018-12-20 11:11] khouloudbelguith commented on #11611
@marionpelouzet, you are welcome!
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-20 11:11] #11611 closed, assigned to nobody

[2018-12-20 11:12] MatShir commented on #10875
Hi @Ybeske,

For now, the product references (also called SKU) is used to help the merchant to find the product in the Front Office or the Back Office. This homemade reference is composed of the abbreviation of the localization, type of product, size, so and so forth.
For example:
Summer 2012, Gecko Tee, Small, Red, Shop 1, Top shelf = S12-Gec-RS-1T
It might not be the most trivial product searchi

[2018-12-20 11:13] jolelievre commented on #11742
Okay, what is the correct wording then?

[2018-12-20 11:16] Maofree opened #11873 "Hook reset during theme upgrade (1.7.5 from 1.7.4.4)"
Hi
upgrading from 1.7.4.4 the previous hook are reseted to default
I've reported it on another bug report but I don't find it again
it should be fixed on the 1.7.5 but it is not so

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.0

[2018-12-20 11:16] dineshbadrukhiya commented on #11797
@khouloudbelguith he used both the  comple and Omschrijving attribute for color. Just make two atrribute  of color and make combination as he made. and see the count.

[2018-12-20 11:17] idnovate opened #11874 "Override removes old override if not in class_index"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Override class Product manually. Copy the following code at `/overrides/classes/Product.php`

2. Don't clear cache
3. Install attached module
4. Installation has removed getFieldsShop function from override

[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/

[2018-12-20 11:18] idnovate commented on #11874
If you clear caché after step 1 the problem is fixed. What I propose is to clear cache/regenerate class_index before module installation.

[2018-12-20 11:18] maofree opened #11875 "Problem to upgrade Official GDPR compliance v1.1.0 to v1.1.1"
Hi

I cannot upgrade the module "Official GDPR compliance" from v1.1.0 to v1.1.1
I've tried to login to addons but nothing, the same problem with other sites

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.0

[2018-12-20 11:18] Maofree opened #23318 "Problem to upgrade Official GDPR compliance v1.1.0 to v1.1.1"
Hi

I cannot upgrade the module "Official GDPR compliance" from v1.1.0 to v1.1.1
I've tried to login to addons but nothing, the same problem with other sites

![11](https://user-images.githubusercontent.com/653230/50282159-2076d980-0452-11e9-8b60-f65fb7e24c05.png)

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.0

[2018-12-20 11:23] Dan-Orchard commented on #9606
Hi everyone,

I've been looking into this and it seems to be a bug with the ObjectModel itself.

The _lang insertion is what's causing the issue - specifically below add() function in ObjectModel.php.

[code]

It's getting the shops with ```$shops = Shop::getCompleteListOfShopsID();``` rather than the shop id's passed through from the form.

On line 588, it's then looping through each of the shops

[2018-12-20 11:36] khouloudbelguith commented on #11803
@lily-anncurve, in my case, I did not manage to reproduce the issue with Google Analytics  v3.1.3 - by PrestaShop.
![image](https://user-images.githubusercontent.com/16067358/50282665-d42c9900-0453-11e9-9e4c-8ce4e64a1ecc.png)
Also, can you please provide a valid zipped file, I can not unzip your last file.
Thanks for your understanding!

[2018-12-20 11:38] khouloudbelguith commented on #23318
Hi @maofree,

Could you please try to re-install the Official GDPR compliance module, clear cache, check & feedback.
Thanks!

[2018-12-20 11:40] khouloudbelguith commented on #11873
Hi @maofree,

Is it this issue reported before http://forge.prestashop.com/browse/BOOM-3195?
Thanks!

[2018-12-20 11:43] Maofree commented on #11873
can you import it on github?
when will be fixed it?
at this moment each time I upgrade prestashop 1.7 I need to backup all hook tables, then remove them and import the previous tables

[2018-12-20 12:06] dineshbadrukhiya commented on #11797
@khouloudbelguith I managed to reproduce the issue on 1.7.5.0
Make two attributes (For example: attribute1 & atrribute2) for color and then add the same value of color (Red and Black)for both the attribute. Now generate the combination, delete the combination which have different color of pair. So Remaining 2 combination have pair of same color.
For example:
Combination A: attribute-1: Red, attrib

[2018-12-20 12:16] Maofree commented on #23318
it is necessary to unistall it and install it again, the reset not work

[2018-12-20 12:26] lily-anncurve commented on #11803
[lily-ann.fr-19-12-2018.log](https://github.com/PrestaShop/PrestaShop/files/2698833/lily-ann.fr-19-12-2018.log)

[2018-12-20 12:56] khouloudbelguith commented on #9606
Hi @Dan-Orchard,

Thanks for the fix!

[2018-12-20 13:07] khouloudbelguith commented on #11874
HI @idnovate,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0/ 1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1Mpafp1UyvnpZUEXbGAhBoATCXJw_nW_f/view
Thanks to check & feedback.

[2018-12-20 13:13] agnesdennetiere commented on #11724
hello,

no we did not... and we have this problem on several websites (and different versions).
Could you just tell me, if you know, where (in which file) it could be remove in js? I searched in the projects but could not find it...
Maybe I could patch it myself.

[2018-12-20 13:14] tomas862 commented on #10190
Hi @TristanLDD

where the status block should be located on the currency form page and how should it look like?
![status_form](https://user-images.githubusercontent.com/17051250/50286951-a81c1280-0469-11e9-9f3a-bb4e1499248b.png)

maybe it should look like something like this?
![off_on](https://user-images.githubusercontent.com/17051250/50287047-f4ffe900-0469-11e9-893c-f70d80487150.png)

Update:

N

[2018-12-20 13:16] jolelievre opened #11878 "Create EmailTemplateGenerator with classic theme"
**Is your feature request related to a problem? Please describe.**
PrestaShop Core needs to generate its email static templates independently. Today those templates are downloaded from i18n.prestashop.com

**Describe the solution you'd like**
Create new service `EmailTemplateGenerator`
- `generateTemplates($theme, $language, $type)` (returns the template as string)
- `generateTemplate($heme, $lang

[2018-12-20 13:19] khouloudbelguith commented on #11724
Hi @agnesdennetiere,

You need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-20 13:22] dreammeup commented on #9967
Hi,
It seems so crazy that it is not a priority...
So it is not corrected on PS 1.7.5.0 ? What is more important than having the right price display and to respect the law ?

[2018-12-20 13:23] jolelievre opened #11879 "Integrate new service EmailTemplateGenerator in install and language install process"
**Is your feature request related to a problem? Please describe.**
Today during install and language install process the code relies on the `Language` class which downloads the mail templates from a distant server. The core now needs to generate these templates itself thanks to the new `EmailTemplateGenerator`

**Describe the solution you'd like**
Remove any reference to:
- `Language::getFilesList

[2018-12-20 13:28] tomas862 commented on #10189
Hi @TristanLDD  -
in the comment you mentioned here https://github.com/PrestaShop/PrestaShop/issues/10189#issuecomment-427313482 you suggest by moving it below the list. But the currency list can have 50 values listed in single page.
And another question - should the "Exchange rates" block take whole page or the half page as it is in the https://github.com/PrestaShop/PrestaShop/issues/10189#issuec

[2018-12-20 13:29] jolelievre opened #11880 "Create EmailTemplateCatalog in AdminTranslationsController"
**Is your feature request related to a problem? Please describe.**
Today when you want to edit the mail templates `AdminTranslationsController` scans the mail folders itself to list them and generate its edition form. This mail listing needs to be extracted from the controller and manage by a new service `EmailTemplateCatalog`. It also uses `Languages::getFilesList` to copy the templates from a la

[2018-12-20 13:30] khouloudbelguith commented on #9967
@dreammeup, sorry for the delay.
We are planned to fix prices issues in the next release PS1.7.6.
You can follow this [link](https://github.com/PrestaShop/PrestaShop/projects/1), so you can find in the high list "Currently working on" => "Prices & Taxes optimization"
Thanks for your understanding!

[2018-12-20 13:37] jolelievre opened #11882 "[EPIC] Create a new page to manage new mail templates/themes"
**Is your feature request related to a problem? Please describe.**
Today we don't have much control on email templates, the only existing feature is a basic forming allowing you to edit the static mail templates directly. With the new template generation feature we can easily add a new page to manage these emplates.

**Describe the solution you'd like**
Add a new page in designs: Design -> Transac

[2018-12-20 13:40] jolelievre commented on #11687
Here are the related issues:

1st step :
- [x] Create EmailTemplateGenerator with classic theme https://github.com/PrestaShop/PrestaShop/issues/11878
- [x] Integrate new service EmailTemplateGenerator in install and language install process https://github.com/PrestaShop/PrestaShop/issues/11879
- [x] Integrate email template new design (in native emails + module emails) https://github.com/PrestaSho

[2018-12-20 13:53] BenTen commented on #11811
@khouloudbelguith yes but I said, in this table, "product_supplier_reference" need to be change to varchar(64).
It was a missing change.

It's now reviewed.

[2018-12-20 13:53] #11811 closed, assigned to nobody

[2018-12-20 13:53] khouloudbelguith commented on #23318
@maofree,

I manage to reproduce the issue.
I tried to upgrade the module "Official GDPR compliance" from v1.1.0 to v1.1.1, I have an error.
![image](https://user-images.githubusercontent.com/16067358/50288701-ef54d400-0466-11e9-8c6d-86445d33a2f5.png)
Thanks!

[2018-12-20 13:56] Maofree commented on #23318
in my case it say to me to login to addons, then there is an error
the debug mode was disable

[2018-12-20 13:58] MatShir commented on #11662
Hi @psydomin,
It's a specific case but with a bit of search, there is already a module for that: https://addons.prestashop.com/en/search?search_query=postal%20code. You could choose a specific carrier for a define postal code zone. Thank you for feedbacks but this kind of feature is well made and maintained by the contributors.
In any case, if you really want it to be implemented in PrestaShop fut

[2018-12-20 13:59] khouloudbelguith commented on #23318
@maofree, what is the exact error displayed in your case?
Thanks!

[2018-12-20 13:59] idnovate commented on #11874
Here's my screencast :)

https://drive.google.com/file/d/1zL4HQGcESTmIsWJqTAJ1sFeZrPRF8OPV/view

I tried with a fresh PS 1.7.5.0, but I also reproduced in PS 1.7.4.

There's another difference, and it's that the module has not been enabled in your installation, while in mine it was enabled automatically.

This is my Performance config:
![image](https://user-images.githubusercontent.com/15104724/50

[2018-12-20 14:00] Maofree commented on #23318
it was shown in the alert popup on the top right

[2018-12-20 14:05] idnovate opened #11883 "Token error not managed in module page"
**Describe the bug**
When token has expired and you do some action with modules, it doesn't appear any AJAX error.

**To Reproduce**
1. Go to Modules page
2. Open another tab
3. Logout employee session in the 2nd tab*
4. Try to disable a module
5. Check network. There's a 403 error. **Any error has been displayed in action 4**.

_* This is how I managed to reproduce the issue, but it also happens

[2018-12-20 14:09] khouloudbelguith commented on #23318
@maofree, I tried with PS1.7.4.4, but I have the same issue
https://drive.google.com/file/d/1wKHgcPwdEuD8v8e7cq4jfuosbxcBCDq5/view
THanks!

[2018-12-20 14:11] matks commented on #11596
@psyray Doctrine currently only looks in `PrestaShopBundle` directory for entities. It ignores `modules` directory.

This is the only blocking item I see 🤔 then we need also to check what it means: where can we declare repositories, how to deal with migrations ...

Also there is a debate whether we will enable Doctrine DBAL and/or Doctrine ORM (ping @mickaelandrieu ) as Doctrine can add complexity

[2018-12-20 14:13] khouloudbelguith commented on #11873
@maofree, I have the same issue with the 1-click upgrade v4.5.1.
Steps to reproduce the issue
1. Install PS1.7.4.4
2. Install the ps_bestsellers module & ps_newproducts module
3. check in the FO => They are well displayed
4. Upgrade to PS1.7.5.0 with the 1-click upgradev4.5.1 => OK
5. Enable shop
6. check FO => The two blocks are not displayed

@marionf, what do you think?
Thanks!

[2018-12-20 14:25] khouloudbelguith commented on #11883
Hi @idnovate,

Did you used a fresh installation PS1.7.5.0?
In my case, I did not manage to reproduce the with fresh installation PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1vQb_KBfafnPPiTifa5WzdYnOpAofrUle/view
Thanks to check & feedback.

[2018-12-20 14:43] bm-services commented on #11750
Hello,
Have you been able to advance on this bug?

[2018-12-20 14:44] khouloudbelguith commented on #11874
Hi @idnovate,

ni, after the installation of the dummymodule, I checked it, it enabled.
Here's a video record with PS1.7.4.4
https://drive.google.com/file/d/1da24sVdAQ0BzoMcsV9S02t60XdqfHJRL/view
Thanks!

[2018-12-20 14:57] psyray commented on #11596
OK thanks.
With namespace I can join the entity dir in my module, no ?

This module mainly interacts with the Product (which was already migrated to Symfony)
The only problem is that I have to access the good old ObjectModel.
Do you have a documentation to use the CQRS part in Prestashop ? (other than looking into the code)

I'm currently developing a module for a customer, and I'm using the moder

[2018-12-20 14:58] Maofree commented on #11873
hi
this error is present from many months
I understood that it was solved on 1.7.5, I don't know why, there is something in the upgrade module that reset all hooks except few modules

[2018-12-20 15:02] khouloudbelguith commented on #11873
@maofree, yes, I tried with some other modules but they are ok.
For example ps_checkpayment, ps_contactform, ps_banner,...

But with ps_bestsellers module & ps_newproducts module => NOK.
Thanks!

[2018-12-20 15:03] Maofree commented on #11873
it is due on the hooks, not from the modules
like diplayhome or displayleft and right

[2018-12-20 15:05] khouloudbelguith commented on #11797
Hi @Akashvastarpara

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/50292207-d05b3f80-0470-11e9-86ca-7cd46ebb3b03.png)
But, I think it is normal behavior because for this product we have 4 colors with two attributes.
That's why we have displayed the four colors.
@marionf what do you think? it is normal beh

[2018-12-20 15:07] mickaelandrieu commented on #10910
Hello, nope!

This is already possible using the templating system you have created @sarjon.

See the following screenshot:

![grid_templating_system](https://user-images.githubusercontent.com/1247388/50292436-65f6cf00-0471-11e9-9bde-94ca6fcdfd18.png)

Sorry ^^

[2018-12-20 15:08] Maofree commented on #11873
it happens the same on my modules but not all, just for that modules that they use these hooks. I don't know the complete hook list with this problem.

[2018-12-20 15:09] khouloudbelguith commented on #11873
@maofree, thanks for your feedback.

[2018-12-20 15:09] khouloudbelguith commented on #11750
ping @colinegin

[2018-12-20 15:21] sarjon commented on #10910
@mickaelandrieu yes, but it forces you to create a lot of different columns which does the same except template is different.

see https://github.com/PrestaShop/PrestaShop/issues/10910#issuecomment-428226708

in addition, it would make PS easier to understand for developers as it would be more explicit, dont you think?

[2018-12-20 15:24] MatShir commented on #10021
This issue should be fixed by the new edit currency with the CLDR implementation #11660. It's planned for the 1.7.6 roadmap.

[2018-12-20 15:37] khouloudbelguith commented on #11803
Hi @lily-anncurve,

In your file log, I find this error `H00687: Negotiation: discovered file(s) matching request`
Did you installed any module to edit the schema of URLs of your shop?
If no, did you enabled mod_negotiation and MultiViews on your server configuration?
Thanks!

[2018-12-20 15:40] #11662 closed, assigned to MatShir

[2018-12-20 16:02] colinegin commented on #11750
@PrestaShop/prestashop-core-developers what do you think of this issue ? Should it be fixed in the core or in the module itself ?

[2018-12-20 16:09] khouloudbelguith commented on #11750
Hi @bm-services,

Sorry, it not fixed yet.
This is is not a regression or security issue, so it will not be fixed before 1.7.6.0 as described here: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#target-branch
Thanks for your understanding!

[2018-12-20 16:23] marionf commented on #11797
@khouloudbelguith Yes, that's a normal behavior

[2018-12-20 16:24] #11797 closed, assigned to nobody

[2018-12-20 17:12] #10346 closed, assigned to nobody

[2018-12-20 17:43] lily-anncurve commented on #11803
merci beaucoup!!! pensez vous que ca a un rapport avec google site map?
je ne l'ai pas configurer

[2018-12-20 18:30] brucer44 commented on #11870
Thanks for your reply. The problem appears to be resolved at this time.
--------------------------------------------
On Thu, 12/20/18, khouloudbelguith <notifications@github.com> wrote:

 Subject: Re: [PrestaShop/PrestaShop] Unable to link with my PrestaShop store page from the internet. (#11870)
 To: "PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
 Cc: "brucer44" <breaves44@sbcglobal.net>

[2018-12-20 19:22] D2Red commented on #11855
hello,

the problem is that an invoice an Delivery Slip is available.
![order](https://user-images.githubusercontent.com/45538290/50305528-6011e580-0493-11e9-9d6a-b73278310bc5.png)
as seen in this order.
But the "view Invoice" and "view DeliverySlip" Icons are not shown.

In this order both icon schown in the overview and in the order.
![order1](https://user-images.githubusercontent.com/45538290/5

[2018-12-20 19:35] bijouxmexicains commented on #11788
Hi Khouloud,

I have desactivated it indeed. So obviously I have no more issue with this
module.

However my issue with declination is still the same on Safari :/

Thx

Le jeu. 20 déc. 2018 à 10:18, khouloudbelguith <notifications@github.com> a
écrit :

[2018-12-20 20:30] Maofree opened #11886 "On 1.7.5 is not possible to add icons to $helper->title of the"
hi
now on the 1.7.5 is not possible to add icons or html code in the $helper->title of $helper->generateList
instead with $helper->generateForm is ok using the legend

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/50309129-e16e7580-049d-11e9-9f59-8d1d3739b24d.png)
![2](https://user-images.githubusercontent.com/653230/50309132-e501fc80-049d-11e9-9886-363f543f9eab.png)

**Add

[2018-12-20 20:43] rblaurin opened #11887 "Error 500 - Disable product with a too long short description"
If you limit the short description size and you already have products that exceed the new limit, an Error 500 is thrown when trying to disable the product by clicking in the "tick" icon in product listing.

To Reproduce
Steps to reproduce the behavior:

1. Save a long Summary description for any product (e.g., a description with 200 characters)
2. Go to "Shop Paramaters > Product Settings" and set

[2018-12-20 21:52] Swedishstudio opened #11888 "Prices problem After Upgrade from 1.6 to 1.7.5."
**Describe the bug**
 We upgrade presta shop from 1.6.4 to 1..7.5., after this is happen all prices is zero 0, if i click in one products prices is ok, but general is all zero
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

**Additionnal information**
PrestaShop version:  1.7.5.0
PHP version: 7

[2018-12-21 01:06] futurehousestore commented on #11436
Hello guys,
I think both tickets are connected because in my shop both situations occur. For me, the problem started in ver 1.7.4.x but I don't really know when. I never had a problem to place an order and make a payment via any of the available payment methods in my shop, my friend who was testing it for me had no problem as well but I have noticed a lot of not ordered and abandoned carts. As I d

[2018-12-21 03:04] jfcordova commented on #9926
can someone please share the solution if possible? i am sure there are more people like me that cant update because of multiple customizations.

[2018-12-21 08:00] khouloudbelguith commented on #11887
Hi @rblaurin,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 / PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/50331401-c7b14a80-04fe-11e9-8e55-e18759a4ffcd.png)
We will see how to fix it.
Thanks!

[2018-12-21 08:07] idnovate commented on #11874
Hi!

Something's wrong with your second test. You have installed the module, the module is enabled but the override has not changed.

[2018-12-21 08:15] idnovate commented on #11874
I tried again with PS 1.7.5.0 and I always reproduce it:

- Uninstall and remove module "dummymodule".
- Clear cache
- Create manually /override/classes/Product.php with a function overrided.
- Install module "dummymodule"

Module is installed and enabled by default, and Product.php function has been removed with the override from the module.

[2018-12-21 08:18] idnovate commented on #11883
Hi!

The test is not correct.

Please check:

1. Go to Modules page
2. Open another tab <-- **Caution with this step. You need 2 tabs with the backoffice.**
3. Logout employee session in the **2nd tab**
4. Try to disable a module **in the 1st tab**
5. Check network. There's a 403 error. Any error has been displayed in action 4.

[2018-12-21 09:24] khouloudbelguith commented on #11886
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.5.0.
In the PS1.7.5.0, I tried with this code `$helper->title = '<i class="icon-time"></i>'.$this->l('Cron tasks');`
=> NOK
![image](https://user-images.githubusercontent.com/16067358/50335041-64c5b080-050a-11e9-8373-0f60f27eeda0.png)
In the PS1.7.4.4, I tried with the same code `$helper->title = '<i cl

[2018-12-21 09:42] khouloudbelguith commented on #11788
Hi @bijouxmexicains,

I tried again but I did not manage to reproduce the issue with Chrome browser Safari browser.
@marionf what do you think?
Thanks!

[2018-12-21 09:51] lily-anncurve commented on #11803
![image](https://user-images.githubusercontent.com/45966481/50336400-672a0980-050e-11e9-9b01-4b659214ec48.png)

[2018-12-21 09:52] idnovate opened #11889 "Wrong Product page title when multiple languages"
**Describe the bug**
The product page title is not retrieved correctly when there is more than 1 language

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh installation of **SPANISH** PS 1.7.5.0 (4 languages by default)
2. Open a product
3. Check title

**Screenshots**
![image](https://user-images.githubusercontent.com/15104724/50336405-6a24fa00-050e-11e9-9e71-f747ec84635c.png)

**Additi

[2018-12-21 10:02] khouloudbelguith commented on #11874
Hi @idnovate,

I tried again with a fresh installation PS1.7.5.0 & PS1.7.4.4, but I cannot manage to reproduce the issue.
@marionf, can you please try to reproduce the issue?
Thanks!

[2018-12-21 10:03] idnovate commented on #11889
Problem is that `id language` is not sent to all the functions:

Stacktrace:

1.  `ProductControllerCore` controller:
[code]
2. `FrontControllerCore` class:
[code]
3. `Meta` class:
[code]
4. `Meta` class:
[code]
5. `Meta` class:
[code]

6. Value for `$page['meta']['title']` at line 1262 **after calling** `$page = parent::getTemplateVarPage();` at function `getTemplateVarPage` from controller `Prod

[2018-12-21 10:05] khouloudbelguith commented on #11888
Hi @Swedishstudio,

I did not manage to reproduce the issue after upgrade from 1.6.1.23 to PS1.7.5.0 using the 1-click upgrade v4.5.1.
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2018-12-21 10:06] idnovate commented on #11874
Pleas note I installed Spanish localization although I think it should not affect.

I'm running PHP 7.1.16 with WAMP.

[2018-12-21 10:10] lily-anncurve commented on #11803
![image](https://user-images.githubusercontent.com/45966481/50337302-f89a7b00-0510-11e9-8a2b-a43849fe0262.png)

[2018-12-21 10:47] khouloudbelguith commented on #11870
Hi @brucer44,

Thanks for your report.
Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-12-21 10:47] #11870 closed, assigned to nobody

[2018-12-21 10:53] khouloudbelguith commented on #11803
HI @lily-anncurve,

I don't think so, I tried to uninstall the gsitemap module => OK, no errors
![image](https://user-images.githubusercontent.com/16067358/50339130-e1f72280-0516-11e9-9d2f-f523e69fbb27.png)
I tried also to install the gsitemap module => OK also.
Could you please try to re-install the Google Analytics module.
You need to clear cache manually by deleting all the folder into var/cach

[2018-12-21 10:55] khouloudbelguith commented on #11855
Hi @D2Red,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-21 11:00] pdkey opened #11890 "Issue with product combinations with and without in stock"
Unfortunately the BUG was not fixed with the update from 1. 7. 4. 4 to 1. 7. 5.
Known from #9667

A product with combinations with and without in stpck.
- Combination with stock 0 - cannot be ordered. The selection jumps to an available combination.

The issue is only with a upgraded shop - mine is 1.7.4.4 to 1.7.5.
A new clean installation PS 1.7.5 works without problems.

Please also solve this

[2018-12-21 11:05] pdkey commented on #11890
The BO for the product combinations you see the total number of combinations, but the complete list is missing.

[2018-12-21 11:13] khouloudbelguith commented on #11890
Hi @pdkey,

Thanks for your report.
The issue #9664 is not fixed yet, it added to our bug roadmap.
In your case what your exact issue?
Could you please add steps to reproduce it.
THanks!

[2018-12-21 11:19] khouloudbelguith commented on #11883
Hi @idnovate,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0 / PS1.7.4.4.
https://drive.google.com/file/d/1cXpGzyKOE3Mtk-4qUbdLHPHxl6aciIpt/view
We will see how to fix it.
Thanks!

[2018-12-21 11:36] khouloudbelguith commented on #11889
Hi @idnovate,

I tried a new fresh installation PS1.7.5.0 with `Español (Spanish)` language & Spain country, but I did not manage to reproduce the issue.
I attached a screenshot
![image](https://user-images.githubusercontent.com/16067358/50340827-cd1d8d80-051c-11e9-8f7a-a725f2100531.png)
Thanks to check & feedback.

[2018-12-21 11:42] pdkey commented on #11890
Hi @khouloudbelguith
i made a misake with the number its #9667
BOOM-6113 and #9390

the way of reproduce stills the same.

[2018-12-21 11:55] matteolavaggi commented on #11721
Dear developer can create the file, customer can include in the vhosts config. ;)

[2018-12-21 12:00] matteolavaggi opened #11893 "Manufacturer page query take extreme long time compared to other places queries"
Try to load the products list in FO accessing the manufacturer page take 5 times more time than access the same product using a category page .

Create a manufacturer.
Add 3'000 product (or 30'000 or any considerable amount).
Assign these products to a new category.

Try load on FO the categories page result in a normal waith time for db and prestashop script to load product.

Try to open the manu

[2018-12-21 12:08] khouloudbelguith commented on #11890
@pdkey,

thanks this clarification.
I tried a fresh installation 1.7.5.0 => OK.
I tried with PS1.7.5.0 after upgrade from 1.7.4.4 with the 1-click upgrade v4.5.1 => OK.
Did you occure any errors during the upgrade?
Thanks!

[2018-12-21 12:13] khouloudbelguith commented on #11874
@idnovate, thanks for this specification.
I fact, it had an effect.
With a fresh installation PS1.7.5.0  with Español (Spanish) language & Spain country, I manage to reproduce the issue.
But with fresh installation 1.7.4.4 with Español (Spanish) language & Spain country, the getFieldsShop function is not removed from the override.
Thanks!

[2018-12-21 12:29] lily-anncurve commented on #11803
encore merci mais finalement mon webmaster a régler le probléme en changeant la balise de place et manuellement.
merci a vous!!!!!

[2018-12-21 12:30] idnovate commented on #11874
Interesting :open_mouth:

[2018-12-21 12:39] khouloudbelguith commented on #11803
Hi @lily-anncurve,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-21 12:39] #11803 closed, assigned to nobody

[2018-12-21 12:52] khouloudbelguith commented on #11893
Hi @matteolavaggi,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
What is your exact PrestaShop version did you use?
Thanks!

[2018-12-21 13:01] sarjon commented on #10602
We have worked in Grid for a few pages already and here's what we could improve:

1. Allow defining Grid using YAML, something like:
[code]
So it could be translated into actual service.

2. Introduce some kind of middlewares to allow more flexible grid modifications. For example, you could hook in your middle so it can remove row actions for records that do not match some condition.
I image it so

[2018-12-21 13:02] matteolavaggi commented on #11893
PS 1.7.2

Maybe the problem is the LIMIT se tot 9999 for the query result? How we can change this on code to make some test? thanks

[2018-12-21 13:11] matks commented on #11886
Hi @maofree ,

We have improved the security of this template by escaping the title of a helper list (see https://github.com/PrestaShop/PrestaShop/commit/d7f4f87bed69fff4c3df2d96f3678545dcb585fe#diff-76d819935caecba2ee16f320a6aee630).

Although it can indeed be useful to insert html there, this was a security issue as it was vulnerable to XSS.

You can see in the template (see commit) that there a

[2018-12-21 13:29] khouloudbelguith commented on #11893
ping @jocel1 what do you think?
Thanks!

[2018-12-21 13:30] matteolavaggi commented on #11893
There is a way to past SQL code in a good way on GitHub?!

[code]
[code]

[2018-12-21 13:31] matteolavaggi commented on #11893
[code]

[2018-12-21 13:31] matteolavaggi commented on #11893
Query 1 # Exec time     25     40s      1s      3s
Query 2 # Exec time     62     99s      1s     10s

[2018-12-21 13:38] khouloudbelguith commented on #11436
@futurehousestore, thanks for your feedback.
This issue is hard to reproduce.
In my case, I did not manage to reproduce the issue with PS1.7.5.0 / PS1.7.4.4
We really need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-21 13:50] khouloudbelguith commented on #10178
Hi all,

PrestaShop 1.7.5.0 now is available.
In my case, after upgrade from PS1.7.4.4 to 1.7.5.0 with the 1-click upgrade v4.5.1, I did not manage to reproduce the issue.
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and *

[2018-12-21 13:53] khouloudbelguith commented on #11401
Hi @grabelle,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-21 13:53] #11401 closed, assigned to nobody

[2018-12-21 13:54] khouloudbelguith commented on #11274
Hi @wgsol2018,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-21 13:54] #11274 closed, assigned to nobody

[2018-12-21 13:55] khouloudbelguith commented on #11414
Hi @channeld,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-12-21 13:55] #11414 closed, assigned to nobody

[2018-12-21 13:59] TristanLDD commented on #10189
Hi @tomas862, I don't think it's a problem to have the exchange rates below the table because in the vast majority of cases this list won't contain more than 3 to 5 values
And it is ok to use half page for this bloc ;)

[2018-12-21 14:00] khouloudbelguith commented on #11423
Hi @mortenhartvig,

Any news about your issue?
Thanks!

[2018-12-21 14:01] khouloudbelguith commented on #11433
Hi @Gionny996,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-21 14:01] #11433 closed, assigned to nobody

[2018-12-21 14:02] khouloudbelguith commented on #11443
Hi @ma0dubois,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-21 14:02] #11443 closed, assigned to nobody

[2018-12-21 14:31] MatShir commented on #11742
On the issue, you can find the wording paragraph. It contains all English wording required.

[2018-12-21 15:47] matks commented on #11886
https://github.com/PrestaShop/PrestaShop/pull/11899 is one way to provide icon controlling capacities to HelperLists

[2018-12-21 15:59] #9606 closed, assigned to nobody

[2018-12-21 16:06] Swedishstudio commented on #11888
Dear

I hope this is what you want.

We didn't know about one click upgrade is that big problem if we go from
1.6 to 1.7, now we know for futures.

all think we did great, only we need to get this prices back and then we
make test order and open again page, because customer wit for as!

Thank you again

SS Team

---
Best regards

Swedish Snus Team

____________________

info@swedishsnusstudio.com

[2018-12-21 16:06] Swedishstudio commented on #11888
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2703405/log.txt)

Dear

I hope this is what you want.

We didn't know about one click upgrade is that big problem if we go from 1.6 to 1.7, now we know for futures.

all think we did great, only we need to get this prices back and then we make test order and open again page, because customer wit for as!

Thank you again

[2018-12-21 16:10] LouiseBonnard opened #11900 "Mobile phone field for customers can't display"
**Describe the bug**
I want the mobile phone field required for customers who registered. It does not appear in the front office, even if it seems okay from the back office.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO, in Customers > Addresses, select the _phone_mobile_ field to make it required.
2. In the FO, log in or sign up, go to the Address section to add one or comple

[2018-12-21 16:22] matks opened #11901 "Allow dynamic lazy arrays properties"
@123monsite-regis has the following usecase: he receives a`ProductLazyArray` from hook hookFilterSupplierContent and wishes to add a property to it, **making it lazy as well**

So this does not work:
[code]
Added data is not lazy

A solution would be to create a LazyArray able to use closures.

[code]
And when calling `$myLazyArray['get_my_url']` it would execute the closure then return the result

[2018-12-21 16:34] khouloudbelguith commented on #11900
Hi @LouiseBonnard,

I think this is not a bug, this is a configuration issue.
We need to navigate to BO => International => Locations => Countries => Edit the contry selected => add the phone_mobile to the address format.
@marionf, @colinegin what do you think?
Thanks!

[2018-12-21 16:46] pdkey commented on #11890
Hi @khouloudbelguith

Yes, during the upgrade we got 3 errors.
maybe helps. This error is very important for many companies to eliminate.

And during this time we wish you a Merry Christmas and a healthy slide into the new year 2019.

![screenshot_2018-12-21 1-click upgrade 1-click upgrade hoosa](https://user-images.githubusercontent.com/46047238/50353270-fd2e5600-0547-11e9-99d5-e64f5c333248.png)

[2018-12-21 16:46] khouloudbelguith commented on #11888
Hi @Swedishstudio,

In your log file, all files upgraded & your database upgraded with some warnings & there are no errors.
Could you please check the compatibility of your modules and theme and check if you have some overrides which they are not compatible.
Thanks!

[2018-12-21 16:48] #11812 closed, assigned to nobody

[2018-12-21 16:52] khouloudbelguith commented on #11890
Hi @pdkey,

Yes, we are aware of this issue, here's a fix https://github.com/PrestaShop/PrestaShop/pull/11814 for this warnings.
But all these warnings have no effect on your issue.
I have an upgrade from 1.7.4.4 to PS1.7.5.0 with those warnings but the issue is fixed.
Thanks!

Wish you a Merry Christmas and Happy new year 2019!

[2018-12-21 18:47] Swedishstudio commented on #11888
We used default theme, and Compatible modules!
Thank you

[2018-12-21 18:55] Maofree commented on #11886
Hi @matks
adding
$helper->icon = 'icon-cogs';

nothing happens

[2018-12-21 19:30] futurehousestore commented on #11436
Thank you for your reply @khouloudbelguith I never had that problem before and I'm using Prestashop since November 2017. For me, this problem has started around a month, maybe a month and a half ago. Please see the attached pictures and error log. Please note that the error log is one hour ahead (so if on a Prestashop screenshot you see 18:59 in a log the same issue is on 19:59)
[CMD_SHOW_LOG.txt]

[2018-12-21 20:11] matks commented on #11886
@maofree With the current HelperList function, yes. It needs to be modified 😉 see https://github.com/PrestaShop/PrestaShop/pull/11899 for example

[2018-12-21 20:17] Maofree commented on #11886
however no html code can be used in the title like to add style attribute, so it is not possible to change a part of title

[2018-12-21 22:08] #11840 closed, assigned to nobody

[2018-12-21 22:12] Swedishstudio commented on #11888
We used default theme, and Compatible modules!

can you log in and solve the problem, we really need be back on line
soon is possible.

we ask on forum and other networks, and No help for now.

SS Team

---
Best regards

Swedish Snus Team

____________________

info@swedishsnusstudio.com
www.swedishsnusstudio.com

On 2018-12-21 17:46, khouloudbelguith wrote:

[2018-12-22 00:13] slupostrupek commented on #11825
i had same issue. After few minutes its gone.

 In my prestashop logs there is information about clearing cache by command line.

[code]

[2018-12-22 00:13] Tossko92 opened #11904 "Error 500 in administrator modules"
**Describe the bug**
Good day,

The following error occurs when I try to enter the module manager, to the product administration or performance although I may have more sections of the administrator.

`Fatal error: Uncaught Twig_Error_Loader: The "/home/paiicom/public_html/final\app/../src/PrestaShopBundle/Resources/views/Admin/Product" directory does not exist ("/home/paiicom/public_html/final\ap

[2018-12-22 07:31] dheerajwebkul opened #11905 "Module tab name is still have 'Modules & Services' after upgrade to V1.7.5.0"
**Describe the bug**
After upgrade using the 1-click upgrade module, from V1.7.1.2 to V1.7.5.0 latest, Module tab name is still not updated see the screenshot.
I have cleared cache from the back-office, even deleted folder from the cache folder

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade using the 1-click upgrade module, from V1.7.1.2 to V1.7.5.0 latest
2. Check module tab name
3

[2018-12-22 10:08] Maofree commented on #11886
why do you not use |escape:'javascript' instead of |escape:'html':'UTF-8' ?

[2018-12-22 11:31] PeeyushAgrawal opened #11906 "Uncaught Error: Syntax error, unrecognized expression: #.total_paid"
**Describe the bug**
This issue occurs when we update the product details in order. It is a syntax error on orders.js
File link - https://github.com/PrestaShop/PrestaShop/blob/develop/js/admin/orders.js#L292

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Order detail page on backend'
2. Click on 'Edit and then update button on the product list of that order'
3. inspect the window and

[2018-12-22 13:35] Swedishstudio commented on #11888
Dear Team,

We fix this problem.

But now we have two more:
One is Step 4 payment didn't work?
and when you put products in basket , the page didn't refresh automatic?

Thank you

[2018-12-22 14:09] Ybeske commented on #10875
Thanks for the idea to create this alternative way of product search by location.
I can read on the screenshot the search engine only search the 3 shown fields (name, ref and supplier). The ref (or sku) is also the unique code to communicate with the customers. I really would like to keep these string cleaner and recognizable and use the propriate fields to search the products.
However I suggest t

[2018-12-22 17:55] geocfu opened #11908 "Gmail SMTP not working"
**Describe the bug**
While i am trying to use google's SMTP server for mails in my ps i cant get it to work. Note that i have tried and succeed in using pure PHPMailer gmail.phps function.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced Parameters -> Email'
2. Click on 'Set my own SMTP parameters (for advanced users ONLY)'
3. Scroll down to 'Adjust Email'
4. Configure smtp us

[2018-12-22 18:00] geocfu commented on #11908
I forgot to mention that insecure apps is enabled in the corresponding sender's account

[2018-12-22 18:15] geocfu commented on #11908
Proof of concept
![image](https://user-images.githubusercontent.com/9702033/50377454-4ce34f00-0626-11e9-9f82-a527e25b97db.png)

[2018-12-22 18:42] ghost opened #11909 "Expected argument of type "object, array or empty", "string" given"
**Describe the bug**
Error 500 when I click on the invoice item in the backend menu.

**To Reproduce**
Steps to reproduce the behavior:
1. in backend
2. Click on invoice item menu: /index.php/sell/orders/invoices/

**Screenshots**
[code]

![logs](https://user-images.githubusercontent.com/2458824/50377654-61711880-0621-11e9-85f0-846132510561.png)

![exception 01](https://user-images.githubuserconte

[2018-12-22 22:48] qadeeralvi commented on #9542
Hi,
       I installed the latest PrestaShop version 1.7.5 and still have faced this problem. I could not add the server.  see the attached file. Thanks in advance!

![prestashop 1 7 5_chache_error](https://user-images.githubusercontent.com/6593338/50379228-4f54a180-0644-11e9-9036-f1109ea68cc7.PNG)

[2018-12-22 23:18] centoasa commented on #9542
But you server have memcache or memcached installed? And server cache listen on 11210 port and not default 11211?

[2018-12-22 23:36] MindaugasVarkalys commented on #11838
Your atitude about supporting new PHP versions is unacceptable. Compatibility issues should be solved while a new PHP version is in alpha/beta/rc phase but not when it's released. All changes in PHP are expected because they are deprecated in the previous version, so please, the next time you're solving compatibility issues, fix not only errors, but also deprecation warnings. Thanks!

[2018-12-22 23:56] qadeeralvi commented on #9542
Hi Centoasa,

             Thanks for your reply.  I am testing with the default port 11211 and I have memcache for further details see the below page.

![memchache](https://user-images.githubusercontent.com/6593338/50379576-75cb0a80-064d-11e9-80a7-02ab619c71b3.PNG)

[2018-12-23 03:13] futurehousestore opened #11911 "SEO - meta description Uncaught Error: Syntax error, unrecognized main.bundle.js:275"
**Describe the bug**
There's a problem with accessing modules configuration in modules tab in BO product page. When you click to configure any of the installed modules (in my case e.g. AN Product Extra Tabs Premium) the product is being saved without accessing product module configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill in meta description in product SEO tab in Presta 1

[2018-12-23 03:28] daniloarayaz opened #11912 "French flag giving false positive to antivirus/malware"
**Describe the bug**
An antivirus/malware scan on my bluehost hosting account is giving positive because the french flag image.

**To Reproduce**
Steps to reproduce the behavior:

Hope the antivirus log can give you a clue on what tool are using on my hosting
but i saw an unsolved case here.
http://forge.prestashop.com/browse/PSCSX-8715

**Screenshots**
This is the standard outpot of the antivirus

[2018-12-23 11:01] ghost commented on #9542
Me too have the same problem.
PHP Version 7.1.24
![schermata 2018-12-23 alle 12 00 21](https://user-images.githubusercontent.com/2458824/50382941-6037fe00-06aa-11e9-8b63-d6b98b260fe2.png)

[2018-12-23 12:00] matks commented on #11838
Hi @MindaugasVarkalys,

This is a nice approach however you have to consider 3 points:
- PrestaShop codebase is quite large
- we are not many contributors to PrestaShop
- there is already a lot of in-progress work on the PrestaShop project (as I'm writing, we have 918 issues and 365 pull requests)

Because of that, I don't think your approach is doable for PrestaShop. But latest PrestaShop release

[2018-12-23 12:33] PierreRambaud commented on #11838
One more point:
Some dependencies are not compatible 5.6 and 7.3,
If we take the 7.3 compatibility, we break 5.6, which is not acceptable in a minor version :/

[2018-12-23 20:46] MSiliunas opened #11914 "Can't open module configure: 500 error after ps_linklist update to 3.0.2"
**Describe the bug**
After updating prestashop to 1.7.5 I also updated Link List module to 3.0.2. Now I'm getting 500 error when I try to configure it in back office.
I've tried:
- reinstalling the module
- clearing the cache manually (it is disabled atm)

**To Reproduce**
Steps to reproduce the behavior:
1. Update Link List from 2.*.* to 3.0.2
2. Go to Modules -> Configure "Link List"
3. See Erro

[2018-12-23 22:09] mrabsinthe opened #11915 "Non working SEO preview on product page"
**Describe the bug**
The new SEO preview feature on product page is not working correctly after upgrade from 1.7.4.2 using 1-click upgrade.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a previous PS version with a product SEO complete
2. Upgrade to 1.7.5
3. Go to product page SEO
4. See the problem as on screenshot

**Screenshots**
![bug seo product](https://user-images.githubusercon

[2018-12-24 00:38] nuevoenesto opened #11916 "PS 1.7 - Invoice access -Expected argument of type "object, array or empty", "string" given"
Error when try to Access to ORDERS/INVOICE
Ps. 1.7.5.0

Symfony\Component\Form\Exception\ UnexpectedTypeException
in vendor/symfony/symfony/src/Symfony/Component/Form/Extension/Core/DataMapper/PropertyPathMapper.php (line 41)
PropertyPathMapper->mapDataToForms('#IN', object(RecursiveIteratorIterator)) in vendor/symfony/symfony/src/Symfony/Component/Form/Form.php (line 379)
Form->setData('#IN') in

[2018-12-24 06:49] dheerajwebkul opened #11917 "Error while getting JSON output through API on any request"
**Describe the bug**
Error while getting JSON output through API on any request, See error screenshot attached

**To Reproduce**
Steps to reproduce the behavior:
1. Call this endpoint URL: /api/languages?output_format=JSON

**Screenshots**
![download 37](https://user-images.githubusercontent.com/19220745/50392628-056bd880-0776-11e9-8986-335b99fb5b59.png)

**Additionnal information**
PrestaShop ver

[2018-12-24 07:38] khouloudbelguith commented on #11917
Hi @dheerajwebkul,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11902 to fix the issue.
Your ticket is a duplicate of #11840
So, I close it.
Thanks!

[2018-12-24 07:38] #11917 closed, assigned to nobody

[2018-12-24 07:39] khouloudbelguith commented on #11917
Duplicate of #11840

[2018-12-24 07:48] khouloudbelguith commented on #11909
Hi @dritancami,

Could you please try to replace the `ps_configuration_lang` table in the Database with the one from clean PS1.7.5.0 installation.
Thanks to check & feedback.

[2018-12-24 07:51] khouloudbelguith commented on #11916
Hi @nuevoenesto,

Your ticket is a duplicate of #11909
So, I close it.
Thanks!

[2018-12-24 07:51] #11916 closed, assigned to nobody

[2018-12-24 07:51] khouloudbelguith commented on #11916
Duplicate of #11909

[2018-12-24 08:12] khouloudbelguith commented on #11914
Hi @MSiliunas,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
The upgrade of the ps_linklist from v2.1.5 to 3.0.2 is done successfully.
I attached a video record.
https://drive.google.com/file/d/1HLGbBuToAG4Qy1_ZbfGaTKgcK1Kn5cKq/view
Could you please try to uninstall this module, clear cache & install it again.
Thanks to check & feedback.

[2018-12-24 08:16] khouloudbelguith commented on #11904
Hi @Tossko92,

Did you installed any custom module before this issue occurs?
Could please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-12-24 08:53] popovoleksandr opened #11918 "Combinations are not loaded after upgrade to 1.7.5.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open product with combinations
2. Open combinations tab and cannot see combinations
3. Have 500 error in console:
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
/admin*****/index.php/sell/catalog/products/combinations/form/:numbe

[2018-12-24 08:57] khouloudbelguith commented on #11905
Hi @dheerajwebkul,

Thanks for your report.
I manage to reproduce the issue after upgrade from PS1.7.4.4 to PS1.7.5.0 using the 1-click upgrade 4.5.1.
After upgrade from 1.6.1.23 to PS1.7.5.0, I did not manage to reproduce the issue.
Here's the log file.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2706911/log.txt)
ping @Quetzacoalt91 what do you think?
Thanks!

[2018-12-24 09:16] khouloudbelguith commented on #11906
Hi @PeeyushAgrawalWebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/50395498-c719ed80-0764-11e9-962b-e857a3940b4d.png)
With PS1.7.4.4, there are different errors in the console
![image](https://user-images.githubusercontent.com/16067358/50395514-e87ad980-0764-11e9-87ae-8e4185a1eb29.png)

Thanks for the fix!

[2018-12-24 09:19] khouloudbelguith commented on #11918
Hi @anantaramdas,

Your ticket is a duplicate of #11825
So, I close it.
Thanks!

[2018-12-24 09:19] #11918 closed, assigned to nobody

[2018-12-24 09:19] khouloudbelguith commented on #11918
Duplicate of #11825

[2018-12-24 09:21] khouloudbelguith commented on #11825
Hi @slupostrupek,

Thanks for your comment.
So the issue is fixed in your case?
Did you clear cache from your shop & your browser?
Thanks!

[2018-12-24 09:58] ghost commented on #11909
I can try, in the meantime I tried to redo what is indicated here http://forge.prestashop.com/browse/BOOM-5982?focusedCommentId=171708&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-171708 but did not solve the problem.

[2018-12-24 10:16] khouloudbelguith commented on #11911
Hi @futurehousestore,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 after upgrade from 1.7.4.4 to 1.7.5.0.

If before the upgrade, we have a product SEO complete, after the upgrade we have two issues in this product.

1. The SEO preview on this product page is not working
![image](https://user-images.githubusercontent.com/16067358/50396823-9a69d400-076c-11e9-8c49-4608fd42

[2018-12-24 10:18] khouloudbelguith commented on #11915
Hi @mrabsinthe,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11911
So, I close it.
Thanks!

[2018-12-24 10:18] #11915 closed, assigned to nobody

[2018-12-24 10:18] khouloudbelguith commented on #11915
Duplicate of #11911

[2018-12-24 10:20] khouloudbelguith commented on #11909
@dritancami, yes because the exception is a different page.
That's why you need to replace all the ps_configuration_lang table.
Thanks!

[2018-12-24 10:33] khouloudbelguith commented on #11888
Hi @Swedishstudio,

Thanks for your feedback.
We need more details to understand what's wrong
 - host
 - server setup and configuration
 - debug mode **report**
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-12-24 10:39] ghost commented on #11909
No sorry, the problem has not been solved. On the same server (with the same features) I installed a clean version ps 1.7.5.0 and I tested with only one active language and then with two active languages, as is currently on the ps in production.
![schermata 2018-12-24 alle 11 38 36](https://user-images.githubusercontent.com/2458824/50397395-7b6d4100-0770-11e9-9db3-cbd6c443a763.png)

[2018-12-24 10:45] khouloudbelguith commented on #11909
@dritancami, Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, th

[2018-12-24 10:51] ghost commented on #11909
Here it is:

![schermata 2018-12-24 alle 11 50 19](https://user-images.githubusercontent.com/2458824/50397640-364a0e80-0772-11e9-9c54-13dc451167d5.png)
![schermata 2018-12-24 alle 11 50 38](https://user-images.githubusercontent.com/2458824/50397642-3c3fef80-0772-11e9-8449-1620ab0fa90a.png)
![schermata 2018-12-24 alle 11 50 48](https://user-images.githubusercontent.com/2458824/50397645-3fd37680-077

[2018-12-24 10:55] khouloudbelguith commented on #11909
@dritancami, thanks for your feedback.
In my case, I did not manage to reproduce the issue with PS1.7.5.0, English country / French language.
What is the exact Language/country di you used during the install?
Thanks!

[2018-12-24 10:57] mrabsinthe commented on #11911
Also tested on vanilla 1.7.5. - if you paste text into "Meta description", it is not updated in preview even if you save and refresh. It only works when you start typing into the description field.

[2018-12-24 11:22] nuevoenesto commented on #11909
Hi
I have the UnexpectedTypeException  when I click on the invoice item in the backend menú.
I replace the ps_configuration_lang table with one from a clean 1.7.5.0 new instalaltion, but the error continues.
Any help?
Thanks Enrique

[2018-12-24 11:24] ghost commented on #11909
In Italian. Now I did the reverse test, I imported the "ps_configuration_lang" table from the ps in production to the one just installed 1.7.5 and the problem does not exist.

[2018-12-24 11:26] nuevoenesto commented on #11909
I received this from my page:
UnexpectedTypeException
in vendor/symfony/symfony/src/Symfony/Component/Form/Extension/Core/DataMapper/PropertyPathMapper.php (line 41)
PropertyPathMapper->mapDataToForms('#IN', object(RecursiveIteratorIterator))
in vendor/symfony/symfony/src/Symfony/Component/Form/Form.php (line 379)
Form->setData('#IN')
in vendor/symfony/symfony/src/Symfony/Component/Form/Extension/

[2018-12-24 11:27] ahmedabdowp commented on #9540
Any solution??
Or still no

[2018-12-24 11:29] khouloudbelguith commented on #9540
@ahmedabdo1995, sorry not yet.
It is added to our bug roadmap.
Thanks!

[2018-12-24 11:30] khouloudbelguith commented on #11909
@dritancami, so your issue is fixed?
@nuevoenesto, could you please try to replace the ps_configuration_lang table in the Database with the one from clean PS1.7.5.0 installation.
Thanks!

[2018-12-24 11:36] nuevoenesto commented on #11909
Hi,
Just I replace the table ps_configuration_lang  from a nwe database, but the error continues.

[2018-12-24 11:37] khouloudbelguith commented on #9542
Hi all,

I did not manage to reproduce the issue with PS1.7.5.0 ( fresh installation or after upgrade from 1.7.4.4).
It is ok, I attached a video record
https://drive.google.com/file/d/1C2LwifuZ_O94DFt6inw69MGAUn1_t-qI/view
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2018-12-24 11:45] ahmedabdowp commented on #9540
Any assist to try solve it by myself ??
I need it to be done today
So any suggestions may help

[2018-12-24 11:47] matrixino commented on #9540
Forget it by today, no one is going to fix it for you.
Just stop using product price to calculate carrier price.
As a workaround, use your product price as weight, and use the weight.

[2018-12-24 11:48] rafaelcalero commented on #9540
You could also buy some of the modules that solves it.

[2018-12-24 11:50] ahmedabdowp commented on #9540
Ok then. Which modules can solve it
Ty for reply

[2018-12-24 11:50] matrixino commented on #9540
No point in buying a module if you can do it with the weight (and not for a dev who can't fix a simple bug). Just use the price as weight. You are not going to use it for anything else anyway.

[2018-12-24 11:57] rafaelcalero commented on #9540
@matrixino, It is just one more option, there may be cases in which the real weight is necessary.

@Thinkup recommended a plugin up. I have not confirmed that it works.

@ahmedabdo1995 Also, you can try to see if the weight method works what the partner proposes.

[2018-12-24 12:05] ahmedabdowp commented on #9540
@matrixino Weight is not a good solution for me

@rafaelcalero i will check that module

[2018-12-24 12:56] ghost commented on #11909
No, it has not been solved. Summary, if I import the table of the clean installation in the db of the ps in production - the problem continues. If i import the table of ps in production in the db of the clean installation, the problem does not occur.

[2018-12-24 14:04] khouloudbelguith opened #11921 "BO - Search Credit Slips by id_order"
**Describe the bug**
In the BO => Orders => Credit Slips page, when we try to filter with a wrong id order (for example "test") => an exception is displayed

**To Reproduce**
The debug mode is enabled.
Steps to reproduce the behavior:
1. Go to BO => Orders => Credit Slips
2. You need to have more than 2 credit slips
3. Try to filter with a wrong order id
4. See error

**Screenshots**
![image](http

[2018-12-24 14:11] khouloudbelguith commented on #11921
Here's the PR: #11922 to solve the issue.
Thanks!

[2018-12-24 14:21] ghost commented on #9542
I confirm that even with clean installation ps 1.7.5 it does not work. I will ask the hosting provider what it may be that is not good.. Thank you @khouloudbelguith.

[2018-12-24 14:22] Quetzacoalt91 commented on #11911
Fixed by https://github.com/PrestaShop/PrestaShop/pull/11923

[2018-12-24 14:30] khouloudbelguith commented on #11912
Hi @daniloarayaz,

I tried to scan this [link](https://download.prestashop.com/download/releases/prestashop_1.7.5.0.zip?_ga=2.113304647.1327997385.1545639303-455038412.1544784014), but there are no virus detected.
I attached the Scan report file
[Scan report for at UTC - VirusTotal.pdf](https://github.com/PrestaShop/PrestaShop/files/2707433/Scan.report.for.at.UTC.-.VirusTotal.pdf)
Thanks to check

[2018-12-24 14:51] khouloudbelguith commented on #11908
Hi @geocfu,

Thanks for your report.
About the technical configuration: to configure PrestaShop to send emails to your customers. We strongly advise you that you consult your web host to determine which settings to use for this feature.
Thanks to check with your host & feedback.
Thanks!

[2018-12-24 15:21] khouloudbelguith commented on #11909
@dritancami, could you please provide me the table ps_configuration_lang of your fresh installation (where the error occurs)
& provide me the ps_configuration_lang of your shop production (where there is no error).
Thanks!

[2018-12-24 15:30] hacchus opened #11924 "Traffic & SEO falls back to older UI in 1.7.5.0"
**Describe the bug**
While trying to edit the "Order" page in Traffic & SEO section. I get the error "Property Meta->url_rewrite is not valid". This is a known error from older versions. After the error though the UI seems to "fall back" on the older style, before 1.7.5.0 version. If I try to delete the page from there I get 405 error of method not found

**To Reproduce**
The shop has 2 languages

[2018-12-24 15:32] khouloudbelguith commented on #11436
Hi @futurehousestore,

Thanks for your feedback.
In your log file, you have errors in those modules:
1. gmerchantcenterpro module => `PHP Notice:  Undefined index: SCRIPT_URI`
2. stripejs => `PHP Notice:  Trying to get property of non-object`
3. cyberoffice=> `PHP Notice:  Undefined index: id_product_attribute`
4. fastbay1 => `PHP Notice:  Undefined index: epid`
5. mycyberoffice => `PHP Notice:  U

[2018-12-24 15:38] ghost commented on #11909
It's the opposite, new installation = without problems, production = problems.
[production.sql.zip](https://github.com/PrestaShop/PrestaShop/files/2707522/production.sql.zip)
[new installation.sql.zip](https://github.com/PrestaShop/PrestaShop/files/2707523/new.installation.sql.zip)

[2018-12-24 15:48] khouloudbelguith commented on #11924
Hi @hacchus,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1UsqjDGi8x56fSIv4C70xrFEWLmm4y8Hm/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript conso

[2018-12-24 15:50] qadeeralvi commented on #9542
@khouloudbelguith  Thanks for your reply.  I want to know is there any difference in Cachememcached and cachememcache.  I have cachememcache while in your video is cachememcached!

[2018-12-24 15:57] khouloudbelguith commented on #9542
Hi @qadeeralvi,

- Memcache module provides handy procedural and object oriented interface to memcached, highly effective caching daemon, which was especially designed to decrease database load in dynamic web applications.
The Memcache module also provides a session handler (memcache).

- memcached is a high-performance, distributed memory object caching system, generic in nature, but intended for

[2018-12-24 15:59] centoasa commented on #9542
There are two Memcached implementations for PHP: memcache and memcached. memcache supports PHP 4.3.11 to PHP 5.6, while memcached supports PHP 5.4 to PHP 7.x.

[2018-12-24 16:08] khouloudbelguith opened #11925 "Sorting by Price (tax included) is based on the sort by price tax excluded"
**Describe the bug**
In the product listing page, when we try to sort by price tax included, this sort is not correct, it is based on the price tax excluded => so we will have an incorrect sorting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Products
2. Sort by Price Tax included
3. See error => the sort is done by the price tax excluded

This PR: https://github.co

[2018-12-24 16:15] geocfu commented on #11908
Hello @khouloudbelguith, I use my own VPS configured by me. So is there any port i should allow for prestashop to access google's SMTP? As i already mentioned, the server is capable of sending an email using IMAP and TLS by using the PHPMailer framework. I will try to configure ps to use PHPMailer and i will come back with any helpfull instructions i may have.

[2018-12-24 16:19] khouloudbelguith commented on #11908
@geocfu,

Thanks!
Waiting for your feedback.

[2018-12-24 16:20] futurehousestore commented on #11436
Thank you very much @khouloudbelguith
Merry Christmas!

[2018-12-24 16:27] nuevoenesto commented on #11909
Hi
I attach table in the original Pd 1.7.5.0 format
 I import this to the new proyect and not work, previous original Tablet in final propyect was not save.

[2018-12-24 16:33] khouloudbelguith commented on #11436
@futurehousestore, you are welcome!
Merry Christmas & Happy NewYear 2019!

[2018-12-24 16:49] nuevoenesto commented on #11909
I attach the file
[ps_configuration_lang_new.zip](https://github.com/PrestaShop/PrestaShop/files/2707599/ps_configuration_lang_new.zip)

[2018-12-24 17:00] hacchus commented on #11924
It is a fresh installation of 1.7.5.0 on my local machine. I setup Cyprus as country during installation and English, Greek and Turkish languages are installed automatically.

In your screencast when you go to the "Order" page in Greek, the Rewritten URL value is "commande". In a fresh installation with Greek language the value is "παραγγελία".

The error "Property Meta->url_rewrite is not valid"

[2018-12-24 17:08] khouloudbelguith commented on #11924
@hacchus, I tried with another fresh installation PS1.7.5.0 & it is OK.
https://drive.google.com/file/d/1mPIIriA9yuezUjWHtWBJ65TRDcV1TRC6/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-12-24 17:11] khouloudbelguith commented on #11909
@dritancami, @nuevoenesto Did you made an upgrade from a previous version PrestaShop?
If yes, during the upgrade are there any errors displayed?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

[2018-12-24 17:16] ghost commented on #11909
Here it is:
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2707620/log.txt)

[2018-12-24 17:18] nuevoenesto commented on #11909
Yes this a upgrade form PD 1.6 to  1.7 without error in the process
Attach log file
Thanks!

[2018-12-24 17:20] nuevoenesto commented on #11909
The file
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2707629/log.txt)

[2018-12-24 17:27] hacchus commented on #11924
OK sorry I forgot to tell you that I always remove the Turkish language, from "International" -> "Localization" -> Languages.

I tried it again in a new installation without deleting Turkish language first and seems to work OK. If I remove Turkish language and try again, the problem appears.

[2018-12-24 19:11] askmurphy commented on #11634
I fully agree with julianmatz, this is really a BAD and UNSAFE feature !!!!
I have installed a lot of software, but never seen a software-package which is messing arround with file&folder permissions...  If you want to offer 777 and 666: make it optional: but best way is
not to change umask at all: the server/hostpackage installation setup has set the right setting already!
But the default must be

[2018-12-24 20:05] 2670207 opened #11926 "Starter module for 1.7.5"
Hello. I am beginner developer, I want to create a module for PS 1.7.5. Please, make module skeleton for PS 1.7.5. Thanks.

[2018-12-24 22:57] ahmedabdowp commented on #9540
@matrixino @rafaelcalero hey guys, i just solved this problem by myself :)

[2018-12-24 23:33] TemKaSD opened #11927 "Make it possible to remove the attribute name from the title."
![screenshot_4](https://user-images.githubusercontent.com/6318282/50407696-212fb700-0828-11e9-900b-a12d10370f33.png)

[2018-12-25 00:34] rafaelcalero commented on #9540
@ahmedabdo1995 tell us :)

[2018-12-25 07:47] khouloudbelguith commented on #11926
Hi @2670207,

Thanks for your report.
Here's our dev documentation to getting started:
https://devdocs.prestashop.com/1.7/modules/creation/
https://addons.prestashop.com/en/content/23-contributor-guide-module-product-page
I hope this helps you.
Please be aware that the GitHub should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitt

[2018-12-25 07:47] #11926 closed, assigned to nobody

[2018-12-25 07:51] khouloudbelguith commented on #9540
Hi @ahmedabdo1995,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!