[2019-12-30 16:00] colinegin commented on #16933
What is your recommendation @prestascott and @TristanLDD ?

[2019-12-30 16:10] LouiseBonnard commented on #14431
Already done, just wait a couple of days and check if the help box is back to normal. :-)

[2019-12-30 16:10] khouloudbelguith commented on #16935
@camillo777, you need to use the PrestaShop webservice and filter with email and password like below:
`http://domain.com/api/customers/?filter[email]=pub@prestashop.com&filter[passwd]=$2y$10$9DpcoWmtTs97ST4Ycgvh/eKb/gefnsghJ8FfzXr.kiLngktGFcKTu`

My solution:

check password with PHP:

1. Get customer by email:
http://domain.com/api/customers?filter[email]=customer@domain.com

2. verify "passwd":

[2019-12-30 16:14] colinegin commented on #10407
What do you think of this @TristanLDD @prestascott ? Should we add subcategory blocks like in 1.6 ?

[2019-12-30 16:28] camillo777 commented on #16935
Hello @khouloudbelguith ,
tried again and it seemed to work this time.
I will leave here my working solution as a reference for other users.
**BEWARE**: with this solution (working with PS1.7) password is sent in clear.

[code]

[2019-12-30 16:28] colinegin commented on #16841
Thanks @arouiadib for your work ! Unfortunately, as this issue was already here before 1.7.6, we won't be able to fix it in a patch version, but I hope in the 1.7.7 version ! Would you be able to make this PR on the develop branch ?

Have a nice evening :)

[2019-12-30 16:34] khouloudbelguith commented on #16935
@camillo777, thanks a lot for your feedback.
Since it is OK, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-30 16:34] #16935 closed, assigned to nobody

[2019-12-30 16:43] colinegin commented on #16836
Hello @Hlavtox, i've slightly modified your issue to take into account your PR.
You said that breadcrumbs on listings have already been added, do you know in which PR ?

Thanks !

[2019-12-30 16:50] Hlavtox commented on #16836
Hi @colinegin, it has been done by @SebBareyre 👍

For example, new products page here: https://github.com/PrestaShop/PrestaShop/commit/c922f6e753ded0df942119b6489b00cefb260562

[2019-12-30 16:50] colinegin commented on #14901
Hello @khouloudbelguith , do you know if this issue occurs with other languages than Arabic ?
Thanks !

[2019-12-30 17:04] colinegin commented on #14641
I've listed your issue as an improvement and not a bug. In my opinion, this is a good and secure practice to prevent people from changing critical information such as the email address. What do you think @marionf and @Hlavtox ?

[2019-12-30 17:05] Jojo-Kaly commented on #16889
I increased configuration to the recommended value but I still have the same error...

[Uploading log.txt…]()

<img width="1440" alt="Capture d’écran 2019-12-30 à 17 59 40" src="https://user-images.githubusercontent.com/59056657/71591997-c01f7b00-2b2e-11ea-8a70-7723b298b441.png">

[2019-12-30 17:08] colinegin commented on #12617
Any news @PrestaShop/prestashop-core-developers ?

[2019-12-30 17:16] colinegin commented on #11281
What do you think @NeOMakinG ?

[2019-12-30 17:20] colinegin commented on #10025
Hello @khouloudbelguith, what do you think of this issue ?
Do you know if this works on other themes than classic theme ?

Thanks !

[2019-12-30 17:24] colinegin commented on #14431
Greaaaat !

[2019-12-30 17:36] colinegin commented on #9725
Yes I also agree with you. What do you think of adding this configuration in the Design part > Imae settings > IMAGES GENERATION OPTIONS block ?

Just note that this page has not been migrated yet. I would recommend to migrate it first before adding this feature. @MatShir is working on the migration prioritization, he will soon be able to tell us if this page will be migrated in 1.7.8 or not.

[2019-12-30 18:54] weddingtextile commented on #16845
This is the same error: "Maximum execution time of 120 seconds exceeded".
See the log files from server:
[PHP_errors.log](https://github.com/PrestaShop/PrestaShop/files/4010695/PHP_errors.log)
[error_ul14_apache_aux1_19-12-30.log](https://github.com/PrestaShop/PrestaShop/files/4010699/error_ul14_apache_aux1_19-12-30.log)

[2019-12-30 19:01] weddingtextile commented on #16845
Delete image, please!

[2019-12-30 20:19] arouiadib commented on #16921
@matks Thank you for the time and for the invaluable information. Having a dedicated repository for specs is a great idea.

I hope to be part of this task.  PrestaShop is making life easier for us, so any contribution is a huge pleasure.

[2019-12-30 20:43] arouiadib commented on #16841
@colinegin , Thank you very much.

To be honest, I am confused :). I will re-open the [PR I made on develop](https://github.com/PrestaShop/PrestaShop/pull/16919).

In the meantime, I will try to understand how to target the appropriate branch in the future.

You too :)

[2019-12-30 21:18] matks commented on #16841
In patch versions, we only aim to fix bugs which have been introduced into the minor version.

So in 1.7.6.2 or 1.7.6.3 we aim to fix issues that have been introduced with 1.7.6 minor version.
If a bug was there for a longer time, we patch it in next minor version.

This is to ensure that the scope of a minor version stays focused and more maintainable.

So
- if the bug was introduced in 1.7.6 (=

[2019-12-30 21:34] arouiadib commented on #16841
:) . Thank you very much for the explanations. Priceless they are.

I see now why this PR has to be on the develop branch. I will close PR on 1.7.6.x.

[2019-12-30 23:53] fukawi2 commented on #16896
OK, well I guess we'll just close this then. If I find any new information then I'll update here.

[2019-12-30 23:53] #16896 closed, assigned to nobody

[2019-12-31 07:50] khouloudbelguith commented on #16544
Hi @Dupflo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-31 07:50] #16544 closed, assigned to nobody

[2019-12-31 07:52] khouloudbelguith commented on #16639
Hi @pnshurba,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-31 07:52] #16639 closed, assigned to nobody

[2019-12-31 07:53] khouloudbelguith commented on #16634
Hi @matks,

Since we had no news from the user for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-31 07:57] khouloudbelguith commented on #16896
@fukawi2, thanks!
Feel free to open a new one when needed.

[2019-12-31 08:11] khouloudbelguith commented on #16845
@weddingtextile, as you can see in the second log file, you have this error

[Mon Dec 30 16:16:26 2019] [error] [client ***.**.**.***] (20014)Internal error: proxy: error reading status line from remote server 195.234.4.56:20006, referer: https://weddingtextile.com/admin***/index.php?controller=AdminModules&configure=ps_facetedsearch&token=ac169b08c8a7af66c6629e140fde4165
[Mon Dec 30 16:16:26 2019

[2019-12-31 08:11] #16845 closed, assigned to nobody

[2019-12-31 08:59] khouloudbelguith commented on #16889
@Jojo-Kaly, have you an extra module that adds a table in the database?
Thanks to check & feedback.

[2019-12-31 09:03] shnslmz commented on #14662
@Stampa-Stampa and @blahapeta
You can remove vikea's module tables on phpMyadmin manually.

--
@khouloudbelguith

Why this module can be just/min. usable for +1.7.6.0?

//$this->ps_versions_compliancy = array('min' => '1.7.6', 'max' => _PS_VERSION_);

It needs which changes to be avaible for 1.7.4.4?

Thanks!

[2019-12-31 09:07] khouloudbelguith commented on #14662
Hi @shnslmz,

It is compatible with PrestaShop from PS1.7.6.0.
You can change this line
`$this->ps_versions_compliancy = array('min' => '1.7.6', 'max' => PS_VERSION);`
by this
`$this->ps_versions_compliancy = array('min' => '1.7.4', 'max' => PS_VERSION);`
But, it is not official this change, it can provide you issues because it is not compatible.

Thanks!

[2019-12-31 09:11] colinegin commented on #16841
Thanks @arouiadib, my mistake I should have explained better ! :-)

[2019-12-31 09:26] Jojo-Kaly commented on #16889
I know that the first two table of my database (db_prefix...) were added by Colissimo module. Do you this module is causing the upgrade error ?
<img width="1440" alt="Capture d’écran 2019-12-31 à 10 24 37" src="https://user-images.githubusercontent.com/59056657/71616709-f05f2c00-2bb7-11ea-8647-bcb9e39a4932.png">

[2019-12-31 09:33] NeOMakinG commented on #10653
Probably a backend issue, $page.meta.title should be right filled

[2019-12-31 09:37] khouloudbelguith commented on #10025
Hi @colinegin,

I have the same issue with PS1.7.6.2 & ps_shoppingcart v2.0.3 & the default theme Classic.

I tried with other themes:
1. minimal Version 3.0.4 => same issue.
2. luxury Version 1.0.0 => same issue.

https://drive.google.com/file/d/1pJYGSMbpgOu6TpG1VV7EC6CnUyxplpoe/view

Thanks!

[2019-12-31 09:40] Jojo-Kaly commented on #16958
I will try to contact the Paypal module author. But I don't think this module is at fault because the sign error is causing by Prestashop discount function. Moreover, the customer can't pay by credit cart either...

[2019-12-31 09:40] khouloudbelguith commented on #16889
@Jojo-Kaly, yes!

You can see the error

[2019-12-30 17:50:09] In SchemaException.php line 109:

The upgrade is stopped due to this module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-31 09:40] #16889 closed, assigned to nobody

[2019-12-31 09:47] Jojo-Kaly commented on #16889
Do you think set this option on "yes" can resolve the problem ?

Thank you

<img width="1440" alt="Capture d’écran 2019-12-31 à 10 45 04" src="https://user-images.githubusercontent.com/59056657/71617322-e12dad80-2bba-11ea-8338-296f27a46f98.png">

[2019-12-31 09:48] shnslmz commented on #14662
Hi @khouloudbelguith ,

Yes.
This is exactly what I want to ask:
"But, it is not official this change, it can provide you issues because it is not compatible."

Is there any big changes between this two versions, at this point, do you have any info?

Thanks!

[2019-12-31 09:54] khouloudbelguith commented on #16889
@Jojo-Kaly, this issue occurs during the upgrade of your database schema.
I think this is will not help you but you can check.

Thanks!

[2019-12-31 09:56] khouloudbelguith commented on #14662
@shnslmz, you can follow this [link](https://www.prestashop.com/en/previous-versions) & check the changelog between each version.

Thanks!

[2019-12-31 10:11] damianobertuna commented on #16944
Hi,

I recorded a video:
[https://drive.google.com/file/d/1WK7g1vuMa1wpNp6R_A5qdjG69HDd7Z88/view]

Regards.

[2019-12-31 10:24] NeOMakinG commented on #11281
That's a choice because all the changes are happening using AJAX (no reload), and we've no history of ajax calls, same in the BO

[2019-12-31 10:26] khouloudbelguith commented on #14901
Hi @colinegin,

I have the same issue with PS1.7.6.2 & the Arabic language => same issue.
I tried with other languages:

1. Persian => OK
2. Hebrew => OK
3. Japanese => OK
4. Greek => OK
5. Traditional Chinese => ok
6. English => ok
7. Russian => OK
8. Catalan => OK

Thanks!

[2019-12-31 10:44] khouloudbelguith commented on #16958
@Jojo-Kaly, I tried with PS1.7.6.2 & the PayPal module v5.1.0. & it is ok
https://drive.google.com/file/d/1s7TxupJxuAE7tAYIWO-zUy8tm7qSpUmD/view

Thanks!

[2019-12-31 11:03] NeOMakinG commented on #11588
It looks like it's a backend issue, by the way this also needs to be fixed asap don't you think @colinegin ? It's blocking many shops using cyrillic characters

[2019-12-31 11:12] NeOMakinG commented on #11595
Backend issue, one address is selected even if every delivery address has 'Use this address for invoice too' unchecked

/themes/classic/templates/checkout/_partials/address-selector-block.tpl var $selected should be empty and the backend should not consider that one of the address is selected for invoice, it should redirect back to the invoice form instead

[2019-12-31 11:20] colinegin commented on #11281
Do you think we should close it ?

[2019-12-31 11:22] NeOMakinG commented on #12237
/themes/classic/templates/checkout/_partials/cart-detailed-product-line.tpl

Line 71 : $attribute is empty, backend should return the attribute even if he has a ':' inside, fun fact is that product page is working with this

[2019-12-31 11:54] Mreco83 commented on #14321
Hello. How do I fix an error in prestashop 1.7.5.2? In prestashop 1.7.5.2 I don't see a file like themes / _core / js / product.js

[2019-12-31 12:06] Jojo-Kaly commented on #16958
OK, thank you. I will try after I update Prestashop to 1.7.6.2 version.

[2019-12-31 12:33] Jojo-Kaly commented on #16889
I disabled non-native modules and the update worked !
Thank you very much for your help, khouloudbelguith !

[2019-12-31 12:54] khouloudbelguith commented on #16958
@Jojo-Kaly, thanks!
Waiting for your feedback!
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

[2019-12-31 12:54] khouloudbelguith commented on #16889
@Jojo-Kaly, Great!

[2019-12-31 13:49] Klemart3D commented on #12237
...Or display a warning if admin is trying to insert an invalid character in attribute field
...Or auto-sanitize the field by removing invalid characters before to save it
...Or return to template the text field as is saved by user

Is there a lot of ways to fix this bug, but a lead dev must tell us first what must be the best practice to apply in this case...

[2019-12-31 14:39] khouloudbelguith commented on #16971
Hi @giwrgos88,

I did not manage to reproduce the issue with PS1.7.6.2 & ps_shoppingcart v2.0.3.
https://drive.google.com/file/d/1l98gC1zKx7dPuAt92444QbehbZAzrPUc/view
What is the exact version of the PrestaShop & ps_shoppingcart module did you use?

Thanks!

[2019-12-31 14:43] khouloudbelguith commented on #16970
Hi @Keeldome,

I did not manage to reproduce the issue with PS1.7.6.2 & ps_shoppingcart v2.0.3.
I attached a screen record
https://drive.google.com/file/d/1KgVqO4BoXgr53w_LplmTwJDuEbX8iTl4/view
What is the exact version of the PrestaShop & ps_shoppingcart module did you use?

Thanks!

[2019-12-31 14:59] khouloudbelguith commented on #16968
Hi @matks,

I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2 & ps_facetedsearch v3.4.0.
![image](https://user-images.githubusercontent.com/16067358/71625042-f8ce5b80-2be5-11ea-8790-920c1cce7134.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-12-31 15:15] Uff182 opened #16972 "Fatal error when importing an order"
Hello,
I'm developing a module to import orders from an external marketplace. When ps_emailalerts is installed on PS 1.7.6.0/1, I get a FatalError during the order validation procedure.
The problem does not occurr when an order is performed on the standard website, only when I try to import it from backoffice from the marketplace.
PHP: 7.2.25

<b>Fatal error</b>:  Uncaught Symfony\Component\Debug\

[2019-12-31 15:17] BlackKerio opened #16973 "Add ActionProductUpdate hook also to send email"
Unfortunately, when you update the product using the API webservice, no mail is sent. Actual hooks are only triggered by a change in BO. I suggest you add Hook ActionProductUpdate.

[2019-12-31 15:18] Vitron1778 opened #16974 "How to change id order"
Hi guys, could you please tell me, how to change from order reference (XFMDNGFU) to order id (7895111) in email?

[2019-12-31 15:19] davidglezz opened #16975 "Module not finished"
It was noted that there are unused parts of the module, inherited from old versions and copy-paste code from other modules.

https://github.com/PrestaShop/ps_emailalerts/search?q=favorite&unscoped_q=favorite

[2019-12-31 15:19] davidglezz opened #16976 "Invalid html: form inside form"
Hook displayProductAdditionalInfo renders [hook/product.tpl](https://github.com/PrestaShop/ps_emailalerts/blob/master/views/templates/hook/product.tpl) which contains the "form" tag in [classic/templates/catalog/product.tpl#L128](https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/product.tpl#L128) that is inside a form.

I propose to put the product_additional_i

[2019-12-31 15:20] ibeppo993 opened #16977 "translation does not work"
in prestashop 1.7.3 the translations do not work, and I still have the default English language.
it can be fixed?
thanks

[2019-12-31 15:38] Jojo-Kaly commented on #16958
I found that I have this problem only when I do not put a promo code (so that all customers automatically take advantage of the gift without having to enter a code). In your video, you put free delivery and not a gift.
I did update 1.7.6.2 and the problem is still there.

[2019-12-31 15:41] khouloudbelguith commented on #16981
Hi @marcuslind90,

Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9938?
If yes, it is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/13677
Thanks to check & feedback.

[2019-12-31 15:46] khouloudbelguith commented on #16969
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-31 15:54] khouloudbelguith commented on #16978
Hi @xpech,

Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9924?
If yes, it is fixed.

Thanks to check & feedback.

[2019-12-31 15:58] khouloudbelguith commented on #16979
Hi @qalastar,

Thanks for your report.
Do you still have the same issue?
Have you tried to contact the theme author about this issue?

Thanks!

[2019-12-31 16:03] khouloudbelguith commented on #16980
Hi @manfield,

You can create a new link with the label "Home" & Link= `http://shop.com/2-home` then try to add this new link to the Selected items.
https://drive.google.com/file/d/1oeB1gumY3GjPH-NgUm16QI9EtTdIuOin/view
Thanks to check & feedback.

[2019-12-31 16:16] khouloudbelguith commented on #16958
@Jojo-Kaly, I tried with a gift & it is OK with PS1.7.6.2 & the Paypal module.
I attached a screen record
https://drive.google.com/file/d/1ESadp24EdCvP3tmb7wkyz49_NGpVOrBV/view
Thanks to check & feedback.

[2019-12-31 16:37] Aadhavan commented on #11355
Network is the issue

[2019-12-31 16:37] Aadhavan commented on #11355
Error because of Slow network

[2020-01-01 11:05] mvorisek opened #16997 "Unit tests from FolderThemeCatalogTest class are failing"
**Describe the bug**
Unit tests from `Tests\Unit\Core\MailTemplate\FolderThemeCatalogTest` class (`tests/Unit/Core/MailTemplate/FolderThemeCatalogTest.php` file) are failing.

The issue seems to be related with the new `modern` theme because the tests are written to expect the `classic` theme by default.

For unknown reasons the tests are not failing on Travis CI, but are failing on other envirome

[2020-01-01 12:13] mvorisek commented on #16997
Issue identified, the issue was that current tests relied on some files order which was always the same on Travis CI enviroment, but on other systems the files can be listed in different order.

PR submitted, closed this issue once merged.

[2020-01-01 14:33] omar2886 opened #16999 "SQL modify table conditioned by another table"
I need to change the value out_of_stock on products that are in id_category_default 52. The problem is that the out_of_stock column in the BDD is on table ps_stock_available while the id_category_default is defined on tables ps_product_shop and ps_product I know how to do this when the change is to be made directly on the same table, but no clue when the condition is depending on a different table

[2020-01-01 14:57] matks commented on #16997
Very interesting 🤔

Makes me want to compare TravisCI, CircleCI and GitlabCI now 😁

[2020-01-01 15:09] omar2886 commented on #16999
This is what I've tried to formulate so far (I actually have no clue how to do an SQL query)
`SELECT    p.ProducId,
          s.ProductId
FROM      ps_produc p
JOIN      ps_stock_available s
ON        p.product_id = s.product_id
UPDATE    ps_stock_available
SET       available_for_order = 1
WHERE     id_category_default = 52;`

[2020-01-01 17:11] arouiadib commented on #16673
With the indicated configuration in current develop, the issues are not reproducible:

1st issue:
![Screenshot from 2020-01-01 17-41-56](https://user-images.githubusercontent.com/23559010/71643994-83d05400-2cc1-11ea-906e-d0767bd6a2a1.png)

2nd issue:
![Screenshot from 2020-01-01 18-01-25](https://user-images.githubusercontent.com/23559010/71644001-96e32400-2cc1-11ea-86aa-3cbe4a48e522.png)

Thanks

[2020-01-01 22:57] k0lv opened #17001 "Product Import does not clean Accessory and Attribute tables, if requested to clean Product data."
**Describe the bug**
I was importing Products with Accessories, and in the results, have seen, that Products are linked incorrectly(not 100% as I defined). Some part were as I described in my .xlsx, but there were also some random relations. I thought, that the error is is import functionality, or in the source data, but finally found out two reasons:
1) I was importing data to PS several times, a

[2020-01-02 07:57] khouloudbelguith commented on #16651
Hi @elviraprint,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-02 07:57] #16651 closed, assigned to nobody

[2020-01-02 07:58] khouloudbelguith commented on #16663
Hi @Hightmar,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-02 07:58] #16663 closed, assigned to nobody

[2020-01-02 07:59] khouloudbelguith commented on #16568
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-02 07:59] #16568 closed, assigned to nobody

[2020-01-02 08:09] khouloudbelguith commented on #16999
Hi @omar2886,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-01-02 08:09] #16999 closed, assigned to nobody

[2020-01-02 08:49] khouloudbelguith commented on #16997
Hi @mvorisek,

Thanks for your report.
I tried with develop branch, I have these errors:
[code]

With 1.7.6.x branch, I have similar error
[code]
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-02 09:07] khouloudbelguith commented on #16996
Hi @ludohenin,

Sorry for the late response.
I did not manage to reproduce the issue with PS1.7.6.2 & ps_imageslider v3.0.0.
https://drive.google.com/file/d/11_68Eo1ORY3N3WOJjcIEsynEj5VlnsX6/view
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-02 09:07] #16996 closed

[2020-01-02 09:13] marcuslind90 commented on #16981
@khouloudbelguith Closing since it is 2 years old.

[2020-01-02 09:13] #16981 closed

[2020-01-02 09:25] khouloudbelguith commented on #17001
Hi @k0lv,

I did not manage to reproduce the issue with PS1.7.6.2 & pscleaner v2.0.0.
I used this csv file
[product.csv.zip](https://github.com/PrestaShop/PrestaShop/files/4015387/product.csv.zip)
I attached a screen record
https://drive.google.com/file/d/1Cq1y1skIqeVt4T94T12u50htvC-ebgHv/view
Thanks to check & feedback.

[2020-01-02 09:29] colinegin commented on #16836
Hello @Hlavtox and happy new year !

If I sum what has been done and will be available in 1.7.7:
bestsales : OK
newproducts : OK
pricesdrop : OK
myaccount : OK
password : NOK
Login page + registration : NOK

Incomplete breadcrumbs in these controllers
history - last key is missing : NOK
identity - last key is missing : NOK
discount - last key is missing : NOK
addresses - last key is missing : NOK

[2020-01-02 09:29] khouloudbelguith commented on #16993
Hi @Lupi1986,

I did not manage to reproduce the issue with PS1.7.6.2 & gsitemap module v4.1.0.
https://drive.google.com/file/d/1ZtWl3VA7gtnBpCmpNc6Cdoi4vmTTr91c/view
Did you try to install this module from the BO => Modules => Module Catalog Page?

Thanks!

[2020-01-02 09:46] sarahdib opened #17004 "Bad display with RTL language in front office"
**Describe the bug**
There is a bad display of product list on the front when a language using RTL format is activate.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to international and add a localization pack using RTL (like United Arab Emirate)
2. Go to front office and choose Arabic language
3. See error

**Screenshots**
<img width="1265" alt="Capture d’écran 2020-01-02 à 10 38 47"

[2020-01-02 09:47] khouloudbelguith commented on #16992
Hi @lichesser,

Thanks for your report.
I have the same behavior as PS1.7.6.2 & PS1.7.5.2 & gsitemap v4.1.0.
The Inactive category is not included in the generated sitemap.
but "active" child-categories of the inactive parent category are still included.
Ping @PrestaShop/prestashop-product-team what do you think, is this a normal behavior?

Thanks!

[2020-01-02 09:49] k0lv commented on #17001
I think, that the main difference for yours and mine scenario is, that you are using Product ID, instead of Reference#. The trick is that ps_accessory table is working with ID's. So, if after cleaning, ps_attribute table has data for the old Product ID's (relationships), all the data will be corrupted, because in my case new portion of import will generate new ID's for the products (second import

[2020-01-02 09:49] Hlavtox commented on #16836
Hi @colinegin, I already made a PR #16837 for the my account pages, if you can merge it, there will be no missing breadcrumbs in 1.7.7.

Happy new year for you guys! 🎉 :-)

[2020-01-02 09:56] colinegin commented on #16836
Great, I thought it was only the general "my account" page ! I edit my comment then :)

[2020-01-02 09:59] khouloudbelguith commented on #16990
Hi @pandiheberge,

Thanks for your report.
I have the same issue with PS1.6.1.23 & Google sitemap v3.2.2.
![image](https://user-images.githubusercontent.com/16067358/71661515-b5433100-2d4e-11ea-8e49-4be460103ecc.png)
It is ok with PS1.7.6
Ping @colinegin, this module is not compatible yet with PS1.6 yet? this module can be supported?

Thanks!

[2020-01-02 10:27] NeOMakinG commented on #14361
Backend issue, related to https://github.com/PrestaShop/PrestaShop/issues/9644, the product name should be defined same as OrderDetail

[2020-01-02 10:30] matks opened #17007 "Is it necessary to update all license headers for 2020 ?"
So far, each year we have updated all of our license headers to match the current year. As today is the 2nd of January, I expect another huge PR similar to https://github.com/PrestaShop/PrestaShop/pull/11997 to pop up.

Each year, we wonder whether or not this has to be done 🤔as in the OSS community different opinions arise.

This year I suggest we explore this issue and settle it once for all, an

[2020-01-02 10:36] khouloudbelguith commented on #16982
Duplicate of #9648

[2020-01-02 10:36] #16982 closed, assigned to nobody

[2020-01-02 10:36] khouloudbelguith commented on #16982
Hi @reanim8ed,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_crossselling

Thank you!

[2020-01-02 10:39] k0lv commented on #17001
**Workaround:**
Found funny fact, that PS Cleaner "FUNCTIONAL INTEGRITY CONSTRAINTS" option, actually cleans the Accessory table. :) Wondering, why this is not done as a part of "CATALOG DELETION"...
![image](https://user-images.githubusercontent.com/59282576/71663191-d579ec80-2d5c-11ea-931a-b7b1fcbfd141.png)

[2020-01-02 10:41] khouloudbelguith commented on #16983
Hi @Casper-O,

Sorry for the late response.
Do you still have the same issue?

Thanks!

[2020-01-02 10:50] Casper-O commented on #16983
Its 4 years ago i reported this bug, i am not able to tell if the issue is still there...

[2020-01-02 10:52] khouloudbelguith commented on #16983
@Casper-O, thanks for your feedback.
This issue is old, so I close it.
If you still have it on the last version (PrestaShop 1.7.6.2), please open a new one.

Thanks!

[2020-01-02 10:52] #16983 closed

[2020-01-02 11:00] idnovate commented on #16673
Another issue.

Create 2 `Free shipping` rules. Total is correct but discount amount don't.

![image](https://user-images.githubusercontent.com/15104724/71663966-71085e80-2d57-11ea-8532-ca5b671ec65d.png)

[2020-01-02 11:04] khouloudbelguith commented on #16989
Hi @Pixep,

I have the same behavior as PS1.7.6.2 & PS1.7.5.2 & `gsitemap` module v4.1.0.
![image](https://user-images.githubusercontent.com/16067358/71664065-de1bf400-2d57-11ea-8ae1-23809c12cc38.png)
It is good improvement.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-01-02 11:21] prestascott commented on #16933
Thank you @marionf,
Here is my redesign proposition : https://invis.io/AVVEP1YS64M

Wdyt @marionf @colinegin @TristanLDD ?

[2020-01-02 11:25] khouloudbelguith commented on #16984
Hi @enriquetortola,

Thanks for your report.
I have the same behavior as PS1.7.6.2 & PS1.7.5.2 & gsitemap v4.1.0.
![image](https://user-images.githubusercontent.com/16067358/71664822-c98d2b00-2d5a-11ea-87a5-cca48992257b.png)
We have a PR introduced in PS1.7.6.2: https://github.com/PrestaShop/PrestaShop/pull/15964
Ping @PrestaShop/prestashop-product-team @jolelievre what do you think?

Thanks!

[2020-01-02 11:26] khouloudbelguith commented on #16985
Hi @BenTen,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-02 11:26] #16985 closed, assigned to nobody

[2020-01-02 11:27] khouloudbelguith commented on #16986
Duplicate of #16984

[2020-01-02 11:27] #16986 closed, assigned to nobody

[2020-01-02 11:29] k0lv opened #17008 "Product import does not take into account Watermark module settings."
**Describe the bug**
I have activated in Watermark module (v2.0.0) watermark **only for two sizes** [large_default (800 x 800) and medium_default (452 x 452)].
**Issue:** After Product import, I see watermark also on the [cart_default (125 x 125); home_default (250 x 250); small_default (98 x 98)]

**Workaround:**
After Product Import use Design / Image Settings / REGENERATE THUMBNAILS

**Screensh

[2020-01-02 11:30] khouloudbelguith commented on #16988
Duplicate of #16991

[2020-01-02 11:30] #16988 closed, assigned to nobody

[2020-01-02 11:35] colinegin commented on #16990
Hello @khouloudbelguith ,

it's weird, the version 3.2.2 of this module is supposed to be working on 1.6 versions only.
The version 4.0.0+ is for 1.7 versions.

[2020-01-02 11:37] khouloudbelguith commented on #16990
Hi @colinegin,

Yes, Google sitemap v4.1.0, is well installed with PS1.7.6.
But with PS1.6.1.24, Google sitemap v3.2.2 NOK.

Thanks!

[2020-01-02 12:19] Daniel-Informax opened #17010 "Unit price set to 0 on product->save"
**Describe the bug**
If you get a product with a unit_price and you save/update this product from code (not the backend), the unit_price is set to 0.

**To Reproduce**
Steps to reproduce the behavior:
From backend:
1- Create a product
2- Add a unit_price_ratio and unity from backend
3- Save the product
4- Create an script with the following code

$idProduct = 1; //the product id of the created pro

[2020-01-02 12:34] davidglezz commented on #17007
I would love to have the license date no longer updated.

Some projects use: 2007-Now PrestaShop SA and Contributors

In addition, reduce repeated information: "2007-2019 PrestaShop SA and Contributors" which is also in @copyright

[2020-01-02 12:46] muyncky opened #17011 "Translation not working when deploying with Deployer"
When deploying a PrestaShop 1.7.6.2 application with Deployer, the translations do not work. It seems that referring to translation files does not work and/or cache is filled correctly.

## Deployer

When deploying with [Deployer](https://deployer.org/) ([deployphp/deployer](https://github.com/deployphp/deployer/)) the code base is separated into `shared` files and `release` files. The shared file

[2020-01-02 12:49] arouiadib commented on #16673
I confirm the issue mentioned by @idnovate concerning multiple free shippings, but it is different than the current issue mentionned by @khouloudbelguith (multiple free gifts).

![image](https://user-images.githubusercontent.com/23559010/71667543-da8f6980-2d65-11ea-80f2-1b97248d2954.png)

Questions:

* Should the total discounts be `-10` in the scenario instead of `-20`?
* Do you have in develop `

[2020-01-02 13:09] demeldoo opened #17012 "paypal safari mac"
hello, can you test if paypal in context, have an issue also, paypal in genreal latest version on latest version of prestashop. I think multiple currencies are the problem...ajax reload or something, tested with safari mac

[2020-01-02 13:23] khouloudbelguith commented on #17010
Hi @Daniel-Informax,

Thanks for your report.
We have two issues related to the unit price.
First issue not fixed as reported here: https://github.com/PrestaShop/PrestaShop/issues/16353
Second issue fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16729 as reported here: https://github.com/PrestaShop/PrestaShop/issues/16353

Thanks to check & feedback.

[2020-01-02 13:39] khouloudbelguith commented on #17012
Hi @demeldoo,

I did not manage to reproduce the issue with PS1.7.6.2 & Paypal v5.0.3.
I attached a screen record
https://drive.google.com/file/d/1zA_1T9a14ZS_Dadsivvgm_zDJh3N23HT/view
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account:https://addons.prestashop.com/en/contact-us?id_product=1748, t

[2020-01-02 13:39] #17012 closed, assigned to nobody

[2020-01-02 13:42] idnovate commented on #16673
YES

The screenshot was not in last PS version which fixed this issue ;)

[2020-01-02 13:57] khouloudbelguith commented on #16673
Hi @arouiadib, @idnovate,

About this issue: https://github.com/PrestaShop/PrestaShop/issues/16673#issuecomment-570175986
With PS1.7.0.0(develop branch) => Issue is fixed:
![image](https://user-images.githubusercontent.com/16067358/71670415-04e62480-2d70-11ea-8cee-31891c774bab.png)
![image](https://user-images.githubusercontent.com/16067358/71670429-15969a80-2d70-11ea-92ee-11ea8d18357e.png)

Thank

[2020-01-02 13:57] Lupi1986 commented on #16993
Hi,

It was such a long time ago... I've had to find a solution by myself and
got rid of your module.

Lupi1986

On Thu, 2 Jan 2020, 10:29 khouloudbelguith, <notifications@github.com>
wrote:

[2020-01-02 13:59] khouloudbelguith commented on #16993
@Lupi1986, sorry for the late response!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-02 13:59] #16993 closed, assigned to nobody

[2020-01-02 14:39] sarahdib commented on #17004
Fixed By #17002

[2020-01-02 14:48] arouiadib commented on #16673
Ok @idnovate , makes sense. Thank you.

@khouloudbelguith , could you please make a test when there is no carrier with free shipping? Just make sure the carriers have the status "free shipping" disabled.

Because I feel me and @idnovate are performing tests when there are no free shipping carriers, or at least with products configured without free shipping.

Again thank you very much for your time

[2020-01-02 15:26] #13934 closed, assigned to NeOMakinG

[2020-01-02 15:44] khouloudbelguith commented on #16673
@arouiadib, thanks for these clarifications.
Yes, you are right to reproduce the issue we should have no carrier with free shipping.
https://drive.google.com/file/d/15_C65TxgG5dMlV9SCfbnn3gBoInbXXJT/view
Ping @atomiix, this issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16724?

Thanks!

[2020-01-02 16:07] MultiTech-MS commented on #16879
Hello, thank you for your return, I looked in the options and that did not solve the problem. I will see to investigate further, pending another response. I will also closely monitor post #9779.

[2020-01-02 16:13] marionf commented on #16933
Perfect, thank you @prestascott :+1:

[2020-01-02 16:15] khouloudbelguith commented on #17001
@k0lv, could you please provide me the two `xlsx` file used in your case to test it.
First, I used this file
[product.csv.zip](https://github.com/PrestaShop/PrestaShop/files/4016482/product.csv.zip)
using this configuration
![image](https://user-images.githubusercontent.com/16067358/71677445-256baa00-2d83-11ea-80a7-540ae3628030.png)
Second, I used this file
[product2.csv.zip](https://github.com/Pr

[2020-01-02 16:18] khouloudbelguith commented on #16879
@MultiTech-MS, thanks!
Waiting for your feedback.

[2020-01-02 16:20] khouloudbelguith commented on #16987
Hi @01park,

Sorry for the late response.
Do you still have the same issue?

Thanks!

[2020-01-02 17:07] lordchukz commented on #16810
Happy new year all, I'm sure you all had a great time these festive days.

Just to know if there has been an update to this issue.

Thanks.

[2020-01-02 19:15] k0lv commented on #17001
[Products_1.xlsx](https://github.com/PrestaShop/PrestaShop/files/4017042/Products_1.xlsx)
[Products_2.xlsx](https://github.com/PrestaShop/PrestaShop/files/4017043/Products_2.xlsx)
Adding both files, that I have used to replicate the issue.

[2020-01-02 19:19] froncare opened #17015 "[PrestaShopException] Link to database cannot be established:SQLSTATE[42000] [1044] Access denied for user 'froncare'@'localhost' to database 'froncare' at line 102 in file classes/db/DbPDO.php"
[PrestaShopException]
Link to database cannot be established:SQLSTATE[42000] [1044] Access denied for user 'froncare'@'localhost' to database 'froncare'
at line 102 in file classes/db/DbPDO.php

This message is keep showing up what should I do

[2020-01-02 19:57] arouiadib commented on #17015
Hi @froncare,

Is the user `froncare` granted privileges to access database `frontcare`?
You can grant him all privileges by executing the SQL command:

[code]

Do you have this user (and its password) in `app/config/parameters.php`?

What is your PrestaShop version? Even if I believe it is not a PrestaShop issue.

[2020-01-02 20:05] froncare commented on #17015
yes Froncare is the database name and
I have no idea how to check and do Is the user froncare granted privileges to access database frontcare?
You can grant him all privileges by executing the SQL command:

[2020-01-02 21:03] slupostrupek opened #17016 "Allow/disollow product out of stock - Revert Changes on product creation"
Prestashop upgraded from 1.7.5.2 to 1.7.6.2 went smooth without errors.

Like in title, when i try to change setting it goes back after edit/add new product. [Allow disallow order product of out stock]
see video:
https://drive.google.com/open?id=1iEYFWtwEVtWg9ODH-QHrF2q0FcqPHjiD
Already tried with turned off modules/overrieds and dev even with maintence mode.

When i made copy of shop with same da

[2020-01-02 21:20] #15498 closed, assigned to NeOMakinG

[2020-01-03 08:04] khouloudbelguith commented on #17015
Hi @froncare,

When this message appears, it means your database is down.
The problem comes from your web host.
Your issue is not related to PrestaShop => it is an error on your server.

Try to connect to your MySQL server in command line if you can, `mysql -u MYSQL_USER -p DATABASE_NAME -h DATABASE_HOST` try to connect by replacing values.

 Please contact your hosting provider, which is the only

[2020-01-03 08:04] #17015 closed, assigned to nobody

[2020-01-03 08:14] khouloudbelguith commented on #17016
Hi @slupostrupek,

Thanks for your report.

Did you enable those options in the BO => Advanced Paramteres => Performance page?
![image](https://user-images.githubusercontent.com/16067358/71713305-73c38c00-2e09-11ea-805b-356daf7684a8.png)

Thanks!

[2020-01-03 08:16] khouloudbelguith commented on #16683
Hi @sirius82,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-03 08:16] #16683 closed, assigned to nobody

[2020-01-03 09:25] NeOMakinG commented on #14878
@jolelievre should review Oksydan PR I think, that would be better since he worked on that subject too, looks like everything should be done there

[2020-01-03 09:36] #16859 closed, assigned to nobody

[2020-01-03 10:16] NeOMakinG commented on #15440
Breadcrumb is backend defined

[2020-01-03 10:20] khouloudbelguith commented on #17001
@k0lv, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2 following these steps:
1. install PS1.7.6.2
2. Go to the Import page => import products
[Products_1.xlsx](https://github.com/PrestaShop/PrestaShop/files/4018724/Products_1.xlsx)
2.1 Delete all products before import
2.2 Use product reference as a key
3. check the `ps_accessory` table => ok
![image](h

[2020-01-03 10:21] NeOMakinG commented on #15803
@matks that looks mergeable

[2020-01-03 10:44] slupostrupek commented on #17016
yes, i tried

[2020-01-03 10:47] khouloudbelguith commented on #17016
@slupostrupek, sorry, but those options do not work in PrestaShop as reported here:
1. https://github.com/PrestaShop/PrestaShop/issues/14596
2. https://github.com/PrestaShop/PrestaShop/issues/9965

Thanks to check & feedback.

[2020-01-03 11:11] sam-pires commented on #15440
For the basket, I would recommend to **not** add breadcrumbs, the goal at this step is to bring the customer to the next step, it is a best practice to have as few navigation options as possible in the "purchase funnel"
What do you think?

[2020-01-03 11:25] krystian-3c commented on #16529
I didn't come across any problem related with the fact that it is a virtualization.
The problem was that i tried to install PS on mounted drive.
/mnt/c/(...)
I guess the problem was related with windows file permissions rather then linuxes (file permissions looked good from linux perspective).
When I moved instance folder from /mnt to /var/www everything worked fine.

[2020-01-03 11:25] #16529 closed, assigned to nobody

[2020-01-03 11:29] khouloudbelguith commented on #16529
@krystian-3c, Thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-01-03 13:24] TristanLDD commented on #15440
I agree with @sam-pires, breadcrumbs doesn't have to appear on every page especially cart page when we want the user to stay focus on the payment process.

Exemple, Asos cart page doesn't have breadcrumb:
(Pages like 'About us', 'Help', 'Delivery' doesn't have breadcrumbs neither)
![Capture d’écran 2020-01-03 à 13 59 08](https://user-images.githubusercontent.com/27484094/71724759-c618a300-2e31-1

[2020-01-03 13:27] NeOMakinG commented on #15502
I agree that thing is not well made at first, but if we change the markup disposition it's a breaking change for most of themes, you should adapt the CSS of your themes as classic theme is, kick out the `dislay: none;` of the link. Make the `<a></a>` tag `font-size: 0; height: 100; width: 100; display: block;` and the `<li></li>` having a width and height as the classic theme does

[2020-01-03 13:54] sam-pires commented on #15440
related to #16836

[2020-01-03 14:03] awema-test commented on #16001
Ah super il était temps , c'est vrai que c'est plutôt galère à gerer pour la côte d'ivoire , merci @SylNicky for your request

[2020-01-03 14:20] NeOMakinG commented on #11281
To be honest we should keep the ajax refresh and so we can't do that easily, tell me if I'm wrong @PierreRambaud @eternoendless

[2020-01-03 14:23] zalexki commented on #17007
yeah just do like symfony and redirect licensing to a single LICENSE file at root of project

[2020-01-03 15:03] NeOMakinG commented on #16134
Order should be handled in backend, can't do something there... What do you think @jolelievre @matks ?

[2020-01-03 15:08] colinegin commented on #16555
Any news from this issue ? Is it a regression ?

[2020-01-03 15:20] TaccCZ commented on #16774
Dear @khouloudbelguith
php error log does not report an error.
Likewise, debug mode does not report a problem.

I must make custom code edit. All funcions as "{if isset($filter.properties.color) || isset($filter.properties.texture)}" deactivated...

[2020-01-03 15:36] khouloudbelguith commented on #16774
Hi @TaccCZ,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-01-03 15:36] #16774 closed, assigned to nobody

[2020-01-03 16:25] khouloudbelguith commented on #16991
Hi @lichesser,

I manage to reproduce the issue with PS1.7.6.2 & `gsitemap` v4.1.0.
https://drive.google.com/file/d/19cSxMqTYP8nm0SVIbRfv7utYhkx70Xg6/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-01-03 16:26] khouloudbelguith commented on #16995
Hi @Fixmetal, @sickboards,

Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/16991?

Thanks!

[2020-01-03 16:30] slupostrupek commented on #17016
ok, indeed it was somewhat module issue, but after uinstall it, prestashop still didn't work correctly i had change every product on default behavior:
`UPDATE ps_stock_available SET out_of_stock = 2
UPDATE it_ps_product SET out_of_stock = 2
`
instead of '0'

[2020-01-03 16:32] khouloudbelguith commented on #17016
@slupostrupek,

Did you check if you have an override? thanks to rename it & clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-01-03 16:37] khouloudbelguith commented on #16994
Hi @TeapotJames,

I tried with PS1.7.6.2 & `gsitemap` v4.1.0.
I don't have those links
Here's my sitemap generated
[1_en_0_sitemap.pdf](https://github.com/PrestaShop/PrestaShop/files/4019931/1_en_0_sitemap.pdf)
Thanks to check & feedback.

[2020-01-03 17:31] slupostrupek commented on #17016
yes, override disappear after uinstall.
**Also prestashop again, after 1hour stopped looking at config with Disallow out of stock.** :(

Cache cleared manually from var/cache

[2020-01-03 17:34] augustu5 opened #17021 "LayoutExtension cannot find the {$content} string in legacy layout template"
After manual upgrade (https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/) to 1.7.6.2 almost on every admin page I get an Error:
![image](https://user-images.githubusercontent.com/12048630/71738629-7056f180-2e57-11ea-8dab-295cd343e6c1.png)

There are some exceptions, for example I can view orders, but for the most pages there's this rendering exception.

I've tried to clean cache

[2020-01-03 19:05] cins06 commented on #15283
Bonjour,

J'ai essayé de réaliser la mise à jour mais j'ai un soucis :
J'ai créé mon dossier old j'ai mis tout dedans sauf
c:\wamp64\www\prestashop qui ne veut pas se mettre dedans ...
Comment cela se fait il ?

 Merci de votre aide

Le lun. 30 déc. 2019 à 14:43, khouloudbelguith <notifications@github.com> a
écrit :

[2020-01-03 21:02] #16921 closed, assigned to nobody

[2020-01-03 23:32] BryanFernandoOrtiz commented on #16926
Thanks for the info.

[2020-01-04 06:34] hhorst14 opened #17022 "Friendly URLs - External Links Issue (Social)"
**Describe the bug**
After turning on friendly URLs, social media links are attached to root site url. After turning off Friendly URLs the issue remains the same. ex. www.rootsite.com/rootsite.com/facebook.com

**To Reproduce**
Steps to reproduce the behavior:
Turn on Friendly Urls
Go to website and click social link.
See error

**Additional information**
PrestaShop version: 1.7
PHP version: 7.3

[2020-01-05 11:45] sickboards commented on #16995
I don't think so as it sometimes works and sometimes it just stops after creating 2 sub files

[2020-01-05 20:28] diyan1234 opened #17023 "Products with option set "Allow orders" not possible to buy 10pcs if in stock 9pcs or less"
If it is allowed to buy products that are not available but currently there are 9pcs available but the customer wants to buy 10pcs. or more he is not allowed.

How can this behavior be avoided and when this option is set, the customer can buy as many pieces as he wants

To reproduce:

1. In Back Office set 9pcs. in stock for any product
2. Set option "Allow orders" -- Back Office --> Catalog --> P

[2020-01-05 23:08] arouiadib commented on #16673
Hi @khouloudbelguith ,

After merging @atomiix  PR: [#16724](https://github.com/PrestaShop/PrestaShop/pull/16724) with `develop` in localhost, I found that it doesn't include the solution to the latter problem mentioned by @idnovate (which is maybe not the aim of that PR).

Anyways, what if we close this issue and create a separate one for multiple free shipping rules? I think it will make things

[2020-01-05 23:23] arouiadib commented on #9586
Hi,

The issue (as described in first comment) is not reproducible in `develop`. But there is an issue with the same scenario. So either the original issue was fixed in the past, or the title is misleading.

In fact, the shipping cost is always displayed in subtotals , in all @pentarou2 steps.  The problem is  in the calculation of `Total`.  It will hopefully be fixed by @atomiix PR ( @atomiix Ple

[2020-01-06 07:47] khouloudbelguith commented on #16676
Hi @storygram,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-06 07:47] #16676 closed, assigned to nobody

[2020-01-06 07:49] khouloudbelguith commented on #16701
Hi @sadlig,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-06 07:49] #16701 closed, assigned to nobody

[2020-01-06 07:49] khouloudbelguith commented on #16680
Hi @mg2812,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-06 07:49] #16680 closed, assigned to nobody

[2020-01-06 07:50] khouloudbelguith commented on #16707
Hi @mvorisek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-06 07:50] #16707 closed, assigned to nobody

[2020-01-06 08:19] sarahdib opened #17024 "Add a message when symbol and format are reseted in currencies"
In international -> localizations -> currencies
Add a message when we reset symbol and format. It's not very obvious that the symbol and format is reseted.

[2020-01-06 08:20] khouloudbelguith commented on #17022
Hi @hhorst14,

I did not manage to reproduce the issue with PS1.7.6.2 & ps_sharebuttons module v2.0.1.
https://drive.google.com/file/d/1gmI10eSOOQWeCYsi087lCmUNRo9YykEw/view
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://bu

[2020-01-06 08:35] khouloudbelguith commented on #16995
Hi @sickboards,

In my case, with PS1.7.6.2 & `gsitemap` v4.1.0, we are redirected to the "Module Catalog" page after clicking to regenerate sitemap.
I attached a screen record
https://drive.google.com/file/d/19cSxMqTYP8nm0SVIbRfv7utYhkx70Xg6/view
The error 504, it is a gateway timeout: The server was acting as a gateway or proxy and did not receive a timely response from the upstream server

Than

[2020-01-06 08:41] khouloudbelguith commented on #16926
@AbdulRehmanYounas, any news?

Thanks!

[2020-01-06 08:42] hhorst14 commented on #17022
Thank you. I appreciate the feedback :)

On Mon, Jan 6, 2020 at 9:20 AM khouloudbelguith <notifications@github.com>
wrote:

[2020-01-06 08:42] khouloudbelguith commented on #15283
Hi @cins06,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-01-06 08:46] khouloudbelguith commented on #17023
HI @diyan1234,

I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1U--nTBjUgt-OY8KTWZ_F4xdw3AFKf1Je/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript con

[2020-01-06 08:52] hhorst14 commented on #17022
I downgraded my PHP version to 7.2 and turned off friendly URL's. I then
deleted .htaccess and turned friendly URL's back on. No change.

After watching the video and rereading my post I think I should have been a
little clearer. It's the Social Media Follow Links module that's the issue.
(I'm currently not using the social media sharing module).

On Mon, Jan 6, 2020 at 9:41 AM Patrick Horst <patr

[2020-01-06 08:53] khouloudbelguith commented on #17023
@diyan1234, the issue is fixed with PS1.7.3.2 with this PR: https://github.com/PrestaShop/PrestaShop/pull/9005
Thanks to check & feedback.

Thanks!

[2020-01-06 09:05] khouloudbelguith commented on #17016
@slupostrupek, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-06 09:07] khouloudbelguith commented on #17022
@hhorst14, thanks for your feedback.
Is the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/16325?

Thanks!

[2020-01-06 09:14] sharkooon opened #17025 "Upgrade bootstrap"
Current version is Bootstrap v4.0.0-alpha.5 (release date: 19 Oct 2016)
Why there are alpha versions in stable prestashop releases?

Current version of bootstrap is v4.4.1, the release of stable v4.0 is one year ago..

[2020-01-06 09:29] khouloudbelguith commented on #17025
Hi @sharkooon,

Most of the themes on Addons are already based on the Classic theme, so updating bootstrap 4 to the latest (we all want to do that, believe me) will break **every theme** on the market place first, then will break every website once they will upgrade their shop.

You can rely on the community theme  *[classic-rocket](https://github.com/PrestaShop/classic-rocket)* which is mostly up

[2020-01-06 09:29] #17025 closed, assigned to nobody

[2020-01-06 09:30] khouloudbelguith commented on #17025
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/10463#issuecomment-425008014

[2020-01-06 09:31] NeOMakinG commented on #15178
@khouloudbelguith do you manage to reproduce this now ? It looks like someone fixed it without seeing the issue, can't reproduce it at all

[2020-01-06 09:33] hhorst14 commented on #17022
Yep, that's it. Is there anything I can do or do I have to wait for an
update to get this fixed?

On Mon, Jan 6, 2020 at 10:07 AM khouloudbelguith <notifications@github.com>
wrote:

[2020-01-06 09:36] colinegin commented on #16792
@eternoendless @PrestaShop/prestashop-core-developers what do you think ?

[2020-01-06 09:44] colinegin commented on #16984
Hello,

Indeed since 1.7.6.2, the canonical url (with only 1 product id) displays the content of the default attribute. Is it what you are looking for ?

Have a nice day,

Coline

[2020-01-06 09:51] khouloudbelguith commented on #15178
Hi @NeOMakinG,

Yes!
I did not manage to reproduce the issue with PS1.7.6.2 & Chrome browser version 76.0.3809.87 (Official Build) (64-bit)
https://drive.google.com/file/d/1MmPY3XusprksZGeUQl7P_uyGIu09YyjQ/view
@maofree, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-06 09:51] #15178 closed, assigned to NeOMakinG

[2020-01-06 09:53] colinegin commented on #16991
This issue is fixed by the following PR : https://github.com/PrestaShop/gsitemap/pull/127

Thanks @DavidBoone !

[2020-01-06 09:54] khouloudbelguith commented on #17022
@hhorst14, sorry it is not fixed yet.
It is added to our debug roadmap.
Your ticket is a duplicate of #16325
So, I close it.
Thanks!

[2020-01-06 09:54] #17022 closed, assigned to nobody

[2020-01-06 09:54] khouloudbelguith commented on #17022
Duplicate of #16325

[2020-01-06 10:04] khouloudbelguith commented on #17021
Hi @krystian-3c,

Seems to be similar to those tickets:

- https://github.com/PrestaShop/PrestaShop/issues/10853#issuecomment-439609080
- https://github.com/PrestaShop/PrestaShop/issues/10786#issuecomment-426221903

PS: You can find the full schema for 1.7.6.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.2/install-dev/data/db_structure.sql
Thanks to check the solution & feedback.

[2020-01-06 10:18] MatShir commented on #16953
It was more a confirmation pop in for the product selected through the pagination to be sure that the not visible chosen products are well selected. That's why we don't display the total of the refund.
But actually, it is not a bad idea to display to have a full summarizing of the button actions including the shipping cost.

This feature will be postponed for 1.7.8 or more, if we do a rework of th

[2020-01-06 10:21] sickboards commented on #16995
I am guessing you don't have 18k products?

[2020-01-06 10:22] #14750 closed, assigned to jolelievre

[2020-01-06 10:34] LouiseBonnard commented on #16001
Merci @awema-test ! Meanwhile, I'm afraid you will have to keep on entering this information by yourself. But PrestaShop 1.7.7 should be frozen soon, meaning the release will come in the next few months... with the Ivory Coast localization pack included. ;-)

[2020-01-06 10:46] khouloudbelguith commented on #16995
@Fixmetal, I have 42464 products.
![image](https://user-images.githubusercontent.com/16067358/71813530-213cd680-307a-11ea-86dd-14b71f895229.png)

Thanks!

[2020-01-06 10:54] awema-test commented on #16001
thanks a lot for take care of your clients :) !
_______________________________________________________________________________
________________________________________________
________________________

DIOP AÏDA
Responsable Communication à AWEMA ( Agence Web Marketing )
Contactez nous au 22 523 455 515  ou au 22 577 676 342

Le lun. 6 janv. 2020 à 10:34, LouiseBonnard <notifications@github.com> a

[2020-01-06 11:03] ttoine commented on #17007
It's like for a book: it must be somewhere, usually, you don't add it in the manuscrit/draft, but in the final version when you press the book to release it and distribute it in librairies. When you press again the book, you release it with the new release date. (This is an example to try to make it simple, let me know if it works)

I will not tell you that there are many ways to do that with soft

[2020-01-06 11:42] marionf commented on #9845
@sarahdib Can you check if it's fixed with the migrated page and close it if it's fixed ?

[2020-01-06 11:43] micka-fdz opened #17026 "Remove Google+ from social modules"
Google+ is no longer available since April 2019.
We need to remove it from both native social modules.

Pull requests are already created:
- https://github.com/PrestaShop/ps_socialfollow/pull/13
- https://github.com/PrestaShop/ps_sharebuttons/pull/29

[2020-01-06 11:48] jf-viguier commented on #17026
Please merge

[2020-01-06 11:52] khouloudbelguith commented on #17026
Hi @micka-fdz,

As written by the support team, `Google+ is only available for G Suite accounts through work or school. Consumer accounts (typically ending in @gmail.com) were shut down on April 2nd, 2019.`
https://support.google.com/plus/announcements/9195238
I’ll add this to the debug roadmap
Thanks!

[2020-01-06 11:52] khouloudbelguith commented on #17026
Related to: https://github.com/PrestaShop/PrestaShop/issues/16040

[2020-01-06 12:04] khouloudbelguith commented on #9586
Hi @arouiadib,

Thanks for your feedback.
Following these steps:
In the BO:
1. Add cart rule free shipping from € 35,-
2. Add cart rule free gift to the value of € 3,95,- with every order
3. Add cart rule free gift to the value of € 17,95,- for orders from € 75, -

In the FO:
1. Add a product to the shopping cart with a value of less than 35 euros to see the shipping costs.
2. Add a product to the

[2020-01-06 14:08] khouloudbelguith opened #17031 "An unexpected error occurred when creating a new address with unregistered customer email"
**Describe the bug**
A red alert is displayed "`An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Customer\Exception\CustomerByEmailNotFoundException code 0]`" when creating a new address with unregistered customer email

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Customers => Addresses page
2. Click Add a new Address
3. Set unregistered customer email for the

[2020-01-06 14:09] khouloudbelguith opened #17032 "Adresses page - Required Fields cannot be selected which occurs issues in the BO & the FO"
**Describe the bug**
In the BO => Customers => Addresses page => the required Fields cannot be selected which occurs issues in the BO & the FO

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Customers => Addresses page
2. Click on the button "Set required fields for this section"
3. Select all options
4. Save
5. A green alert is displayed
6. Click on the button "Set required fiel

[2020-01-06 14:14] NeOMakinG commented on #16933
Changing this behavior will introduce some breaking changes, if a child theme did some css changes on these fields, it will break, for example the select item will not be a select anymore but an action button with popup, or a dropdown, which is different and child themes can probably break on that, isnt there another way of refactoring it or can we implement it without caring of breaking changes ?

[2020-01-06 14:32] MatShir commented on #17024
@sarahdib do you think it is needed on the currency's form and the language list?

[2020-01-06 14:42] NeOMakinG commented on #15878
As with discussed with the team, it looks like it's not my job but maybe backend one

[2020-01-06 15:46] LouiseBonnard commented on #17024
@sarahdib, @MatShir, here are some wording suggestions to explicit behaviors:

- I think the CTA wording should be 'Restore default settings' or 'Reset to default settings' instead of 'Reset default settings' (which gives the impression that the default settings will be deleted permanently) - my preference goes to 'Restore default settings'

- When clicking both reset buttons (cf. screenshots belo

[2020-01-06 16:43] macavelli commented on #14373
Did you manage to solve this issue? I am currently trying to get rid of {categories:/}, but somehow I cannot because of old links. I have the same issue as you did. Do you know the solution for this?

[2020-01-06 16:43] LouiseBonnard opened #17034 "[EPIC] - Checkout"
When shopping online, one crucial user experience happens when the customer is experiencing the checkout phase. We have not planned to rework the PrestaShop checkout in the next few months but since it is a pretty big topic, let's start gathering issues about it:

## Cart summary
- [x] #9944
- [x] #9781
- [x] #12958
- [ ] #18801
- [x] #25841
- [x] #24838
- [ ] #31656

## Personal information step

[2020-01-06 16:49] MatShir opened #17035 "Add customizables fields on BO order page when adding a product"
**Is your feature request related to a problem? Please describe.**
When I add manually on order a customizable product, I can't fill the customization because the fields (tex or image) are not displayed

![capture d'écran_2900](https://user-images.githubusercontent.com/13449658/101797225-13a19380-3b0a-11eb-9d45-4ea7f226c49e.png)

**Describe the solution you'd like**
Displaye customizable fields wh

[2020-01-06 17:03] froncare opened #17037 "for 1click upgrade from prestashop 1.6.1.24 to 1.7.6.2 error"
I always get this error msg whenever i tried to upgrade my prestashop. what should i do...
"
[Ajax / Server Error for action backupFiles] textStatus: "error " errorThrown:"Service Unavailable " jqXHR: "
Service Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

Additionally, a 503 Service Unavailable error

[2020-01-06 21:27] hitinder commented on #15319
Hi @khouloudbelguith

Are you sure about the temp solution you provided above? I am asking this because the staus "**Payment received**" already has "**Allow a customer to download and view PDF versions of his/her invoices.**" checked and still the dashboard data is incorrect.

So I am thinking that regenerating the invoice won't help.

I am using v1.7.5.1 BTW.

Thank you.

[2020-01-06 22:07] msaustral opened #17038 "gamification PNG Error on NGINX"
Hi we are moving all clients to NGINX, we follow all post on how to config the prestashop but we are getting only one error:

2020/01/06 22:00:09 [error] 8644#8644: *1 open() "/usr/share/nginx/html/xxxxx/admin/index.php/configure/advanced/modules/gamification/views/img/badges/42_0.png" failed (20: Not a directory), client: xxxx, server: xxxxxx, request: "GET /admin/index.php/configure/advanced/mod

[2020-01-07 00:38] IranDec commented on #12858
Hi @khouloudbelguith
today, I upgrade my PrestaShop to 1.7.6.2 after the upgrade finished, I couldn't modify any product and I cant see none of my entire combination of product
Id like to solve this problem but when I turn on debug mode I got this error:

ContextErrorException
Warning: putenv() has been disabled for security reasons

I will download a fullback of my website and try to restore in o

[2020-01-07 07:31] khouloudbelguith commented on #12858
Hi @IranDec,

We have updated the Symfony version, this new version use the Putenv function.
Some server disables `putenv` because of security reasons.
Your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
We can't do anything with this.
You should contact your host provider, they are the only ones to help you with it.
Thanks!

[2020-01-07 07:47] khouloudbelguith commented on #17037
Hi @froncare,

I did not manage to reproduce the issue with PS1.6.1.24 & the 1-click upgrade v4.10.0.
I attached a screen record
https://drive.google.com/file/d/17qxbSssHHQYOPtYbUmbSqSPfbOOYTamm/view
What is the exact version of the 1-click upgrade did you use?

Thanks!

[2020-01-07 08:01] khouloudbelguith commented on #17038
Hi @msaustral,

the issue is related to your server configuration.
This is a config file by default
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
It is provided by PrestaShop & you should edit it to be compatible with your server.
For example, you should edit the root: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/do

[2020-01-07 08:13] khouloudbelguith commented on #15319
For each order created, there are different `order statuses` enables you to easily manage your orders and returns, and keep your customers informed of the evolution of their purchase.
The variously available statuses are visible and editable in the "Statuses" page, under the "Order settings" menu.
In the Statuses page, there are different options:
1. Consider the associated order as validated. If

[2020-01-07 08:16] khouloudbelguith commented on #17035
Hi @MatShir,

Is this an improvement or a bug reproduced on the develop branch?

Thanks!

[2020-01-07 08:28] sharkooon commented on #17025
Understand it, but why decided to use alpha versions. Alpha is not even beta.. Now it's shit because it "will break every theme on the market place first" when upgrading..

Would you suggest that all webshops run on a prestashop alpha version? No, is the answer. Community is depending on the core of prestashop, if the core is not good, community will find other solutions, which is leaving prestash

[2020-01-07 08:35] hitinder commented on #15319
@khouloudbelguith I understand how the order status works. What I am trying to tell you is that invoice generation is not working or it doesn't work for the `dashtrends ` in the BO the way you explained below.

Check this below screenshot from my BO. You can see below that I have both the below options checked. However, in the BO it is still showing the wrong data for me. It doesn't consider disco

[2020-01-07 08:37] CallejaMotos commented on #16796
Hello @khouloudbelguith,
I only see php error log. I don't know what you mean by "debub mode report". If that is debug mode to find errors when accessing (screen errors), there aren't.
Error.log repeted:
[Tue Jan 07 00:12:20.396938 2020] [core:alert] [pid 10212] [client 127.0.0.1:44538] /var/www/html/calleja-produccion/.htaccess: Invalid command 'Header', perhaps misspelled or defined by a module

[2020-01-07 08:51] khouloudbelguith commented on #17025
@sharkooon, for more details you can follow this link, it is added by our lead developer
https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-2-pain-points/
You can find in this section `Obsolete dependencies`

As Murphy’s Law dictates, this turned out to work out wrong. Not only Bootstrap 4 didn’t ship in time for 1.7.0 (which forced the Classic theme to be released based on Boost

[2020-01-07 08:55] tm-newslang opened #17039 "Changing number format or other settings in XML localizations specific to a region doesn't work"
**Describe the bug**
I needed to change the way price format was handled for Switzerland in Prestashop 1.7.6.2. I found the XML files into \localization\CLDR\core\common\main. I edited the file fr_CH.xml, adding this modified version of the `<number>` entity:

[code]

It didn't work. But when I changed these settings in the fr.xml file, it worked.

In my Localization settings in Prestashop, I do h

[2020-01-07 08:59] khouloudbelguith commented on #15319
@hitinder, in the BO => Orders => Invoices page The option "Enable invoices" is enabled?
![image](https://user-images.githubusercontent.com/16067358/71882274-6d4c5180-3134-11ea-9290-256e9676e688.png)

Thanks!

[2020-01-07 09:05] hitinder commented on #15319
@khouloudbelguith yes it is enabled in the BO for me.

![image](https://user-images.githubusercontent.com/9841229/71882598-d2f50980-3145-11ea-85b8-d7d8ef999681.png)

[2020-01-07 09:36] khouloudbelguith commented on #15319
@hitinder, it is ok in my case with PS1.7.6.2
https://drive.google.com/file/d/1yVfF4DGAe-LxgRHi-ISRBen3k2Jy0jLX/view
Thanks to check & feedback.

[2020-01-07 09:38] khouloudbelguith commented on #16796
@CallejaMotos, PrestaShop has a debug mode, which can be used to see the non-obvious errors on your shop.
To turn on the Debug mode on PrestaShop 1.7, follow these steps:

- Got to Advanced Parameters > Performance
- In the Debug Mode section, set “Debug Mode” to “Yes”.
- Click the “Save” button.

If you can’t access your dashboard, you can still enable the Debug Move using an FTP client (for inst

[2020-01-07 09:52] khouloudbelguith commented on #17039
Hi @tm-newslang,

The first part of feature #[10052](https://github.com/PrestaShop/PrestaShop/issues/10052) is almost done which the implementation of the CLDR (the data needed to manage a maximum of currencies), Check the PR #10455

 It's planned to remove the number of the decimal parameter in Shop parameters > General, as you can see here: #12223
And it's also planned to add this feature in CLD

[2020-01-07 09:55] MatShir commented on #17035
This is an improvement because it has not been specified since the beginning of the creation of the page.

[2020-01-07 09:55] hitinder commented on #15319
@khouloudbelguith I am not saying that `dashtrends` is not working. What is wrong with it is that it's not considering the discount amount.

Example: An item worth $20 and cost $5 in an order with 50% discount should show sales amount as $10 and the profit will be $5. Which is not the case at present.

If you don't mind, please make a new order, apply a 50% discount to it and show how does it come

[2020-01-07 10:00] khouloudbelguith commented on #15319
@hitinder, this is another issue.
It is added to our bug roadmap, you need to follow this issue: https://github.com/PrestaShop/PrestaShop/issues/15114

Thanks!

[2020-01-07 10:18] CallejaMotos commented on #16796
Sure, It is enable, sorry If I didn't explain well.
It is enable, and not throwing any kind of error.

[2020-01-07 10:36] khouloudbelguith opened #17040 "It is not possible to create an alternative currency"
**Describe the bug**
In the BO => International => Currencies page, it is not possible to create an alternative currency.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => International => Currencies page
2. Click on Add new currency "Create an alternative currency"
3. Set the Currency name field for example "test"
4. Set the ISO code field for example "en"
5. Save
6. See error =>

[2020-01-07 10:39] khouloudbelguith commented on #17040
Ping @jolelievre

[2020-01-07 10:49] khouloudbelguith commented on #16796
@CallejaMotos,

When working with the headers in Apache 2 directly, it’s possible to run into this error when you do not have mod_headers enabled. It’s a simple fix: you just need to make sure you enable mod_headers in your configuration.
You can check it with your host.

Thanks!

[2020-01-07 10:53] tm-newslang commented on #17039
Hi @khouloudbelguith, thanks for the answer!

I wasn't aware of all this. So right now with version 1.7.6.2 I still need to edit the fr.xml file in order to get the right decimal and group symbols for example? Editing fr_CH.xml won't work?

I'm currently writing a full blog post on the subject (that I'll update following the future evolutions of PS), and I wanted to explain the process PS 1.7.6.2

[2020-01-07 10:53] CallejaMotos commented on #16796
@khouloudbelguith do you think that's the bug issue or different one? Just to understand what is happening.

[2020-01-07 10:58] khouloudbelguith commented on #16796
@CallejaMotos, in your log, you have only this error.
You need to fix it & check.

Thanks!

[2020-01-07 11:30] Hlavtox opened #17042 "Payment module restrictions suddenly stop working due to ghost employee in FO context"
**Describe the bug**
Hi, I noticed that restricting payment methods stopped working all of our Prestashop 1.7.6.2 installs. **It always shows all payment modules.**

**The cause**
- I traced the issue to hook:getHookModuleExecList();
- It checks, if it's FO or BO by checking if `isset($context->employee)` and it only makes the payment restrictions, if it is on front end. (Employee is not set.)
- I

[2020-01-07 11:36] khouloudbelguith commented on #17039
@tm-newslang, so in this file, you just edited this line: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.2/localization/CLDR/core/common/main/fr_CH.xml#L211
& replaced it by this
[code]

Is it?

Thanks!

[2020-01-07 11:45] khouloudbelguith commented on #17042
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.2
I attached a screen record
https://drive.google.com/file/d/1HAlNXveWXJM5lfwvtOsg7b5XV3xtD3U1/view

Thanks to check & feedback.

[2020-01-07 12:30] tm-newslang commented on #17039
I also changed this line:
https://github.com/PrestaShop/PrestaShop/blob/4d2d6ae2e6a38e345f35ac09beb42817db331da5/localization/CLDR/core/common/main/fr_CH.xml#L223

To this :

`<pattern draft="contributed">¤ #,##0.00;¤ -#,##0.00</pattern>`

None of this worked.

But when I did the change in the following file: https://github.com/PrestaShop/PrestaShop/blob/4d2d6ae2e6a38e345f35ac09beb42817db331da5/lo

[2020-01-07 13:06] matks opened #17044 "Provide an automated build tool for github ZIP archives"
For some of the modules we store on github, we attach with releases a production-ready ZIP archive (example: https://github.com/PrestaShop/ps_facetedsearch/, https://github.com/PrestaShop/autoupgrade). However the process to create this ZIP archive is specific to each module and is written nowhere.

This build process involves for example:
- removing git and CI related files/folder : `.git`, `.git

[2020-01-07 13:11] CallejaMotos commented on #16796
@khouloudbelguith I was looking in wrong folder, sorry for that!
There is no error log registered.

I can see logs when I reproduce this issue/bug, do you need them?

[2020-01-07 13:11] khouloudbelguith commented on #17044
Ping @PrestaShop/prestashop-core-developers

[2020-01-07 13:12] khouloudbelguith commented on #16796
@CallejaMotos, yes!

Thanks!

[2020-01-07 13:17] CallejaMotos commented on #16796
here:

[code]

[2020-01-07 13:18] Quetzacoalt91 commented on #17044
We (the module team) are also interested in this step. Our first try is using Travis (https://github.com/PrestaShopCorp/ps_checkout/blob/5e1a134c98783d947958c9428b99fdb6d86dc081/.travis.yml#L37-L69) in which we run the js scripts compilation, run a composer install then clean all the unneeded files.

However all the builds try to upload the artifact and setting it is fastidious. Switching to a git

[2020-01-07 13:22] khouloudbelguith commented on #16796
@CallejaMotos, there are no errors in this log!
Is it?

Thanks!

[2020-01-07 13:24] CallejaMotos commented on #16796
error log => empty
logs => no errors

that is, thanks

[2020-01-07 13:25] khouloudbelguith commented on #16796
@CallejaMotos, in your Project_Folder/var/logs/ path, thanks to check if you have prod errors.

Thanks!

[2020-01-07 13:28] CallejaMotos commented on #16796
no, I don't have. That's what I am saying. There is no errors at all...

[2020-01-07 13:30] simobenso commented on #13939
Hello there, how is it possible to use the profiler on front-office ?

[2020-01-07 13:43] kpodemski commented on #13939
@simobenso you need to set DEBUG_PROFILING to "true" in config/defines.inc.php

[2020-01-07 13:45] msaustral commented on #17038
Hi thank you for your help, we did use that config file with all that modification, also we add some more, in fact everything works perfect the error is only with the Gamification module.

this is the config file:

server {
    listen 80;
    listen [::]:80;
    server_name xxxxxxxx.xxxxx;
    return 301 https://$server_name;
}

proxy_cache_path /tmp/cacheapi levels=1:2 keys_zone=microcacheapi:100

[2020-01-07 14:08] khouloudbelguith commented on #16796
@CallejaMotos, did you fixed this issue: https://github.com/PrestaShop/PrestaShop/issues/16796#issuecomment-571536141?

Thanks!

[2020-01-07 14:16] sarahdib opened #17045 "bad amount of tax with cart rule using percent"
**Describe the bug**
bad amount of tax with cart rule using percent  there is a 0,01 gap

**To Reproduce**
Steps to reproduce the behavior:
1. Go to catalog -> discount
2. Create a cart rule with percent discount (3% for example)
3. In international taxes -> enable taxes in cart
4. Go to the front and a product to the cart then the cart rule

The amount of tax is not correct

**Screenshots**
<img

[2020-01-07 14:32] #17004 closed, assigned to nobody

[2020-01-07 14:36] Hlavtox commented on #17042
@khouloudbelguith It works fine in clean install, but doesn't work in my case. It should work for everyone.

Do you want me to provide you with access rights to debug it?

[2020-01-07 14:45] khouloudbelguith commented on #17042
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-

[2020-01-07 14:57] froncare commented on #17037
this screen is showing for my BO
[image: image.png]

Yaenee Ryu
46-01 Bell Blvd.
Bayside, N.Y. USA 11361
www.froncare.com
Phone#: (929) 800-1016

CONFIDENTIALITY NOTICE:
This message is for the named person's use only. This e-mail may have
information that is CONFIDENTIAL or legally privileged.  No confidentiality
or privilege is waived or lost by any mistransmission. If you receive this
message i

[2020-01-07 15:00] CallejaMotos commented on #16796
@khouloudbelguith it was enable, I sent you a wrong log from another project.
So yes, mod_headers are OK.

[2020-01-07 15:02] khouloudbelguith commented on #16796
@CallejaMotos, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-01-07 15:02] #16796 closed, assigned to nobody

[2020-01-07 15:04] khouloudbelguith commented on #17037
@froncare, you need to sign in to GitHub & attach the screenshot here.
Thanks!

[2020-01-07 15:07] froncare commented on #17037
![image](https://user-images.githubusercontent.com/59448179/71905064-6245f100-3135-11ea-90cd-f9536eaeecc1.png)
I'm currently stuck on this page

[2020-01-07 15:10] CallejaMotos commented on #16796
@khouloudbelguith thank you for your aid.
But, It looks very weird. I have done same things (exactly and accurate same things) in both environments except the updated in production, and that's what is the issue.
Anyway, thanks a lot.

[2020-01-07 15:12] khouloudbelguith commented on #17037
@froncare, you need to enable the PHP's zip extension on your server & disable your shop.
![image](https://user-images.githubusercontent.com/16067358/71905419-65a6a000-3168-11ea-89d9-e234febbff62.png)

Thanks!

[2020-01-07 15:17] froncare commented on #17037
how can i enable the PHP's zip extension?

[2020-01-07 15:19] khouloudbelguith commented on #17039
@tm-newslang, but this line `<pattern draft="contributed">` does not exist in this file: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.2/localization/CLDR/core/common/main/fr.xml
Is it?

Thanks!

[2020-01-07 15:21] khouloudbelguith commented on #17037
@froncare, Zip. The [Zip extension](https://www.php.net/manual/en/book.zip.php) is used to expand compressed files such as modules and localization packages.

Thanks!

[2020-01-07 15:51] khouloudbelguith commented on #17038
@msaustral, thanks for these clarifications.
I have the same issue with PS1.7.6.2 & PS1.7.5.2 & the gamification module v2.3.2.
![image](https://user-images.githubusercontent.com/16067358/71908175-d13f3c00-316d-11ea-96bc-64d24f64002b.png)

Issue reproduced with the Nginx server.
here's my configuration

[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on y

[2020-01-07 16:09] tm-newslang commented on #17039
@khouloudbelguith Yes it exists: https://github.com/PrestaShop/PrestaShop/blob/4d2d6ae2e6a38e345f35ac09beb42817db331da5/localization/CLDR/core/common/main/fr.xml#L7302

But there's no `draft` attribute. I'm working with V 1.7.6.2 that may be why, when I copied it I retained this attribute. But even without this `draft` attribute fr_CH.xml settings aren't used by PS.

[2020-01-07 16:13] Hlavtox commented on #17042
@khouloudbelguith I traced the bug to the source. **Country restrictions does not work, currency restriction does not work, carrier restriction does not work.**

The problematic code is in Hook:getHookModuleExecList();

It badly detects front end:
[code]

Then all the checks don't get applied:
[code]

[2020-01-07 16:15] khouloudbelguith commented on #17042
@Hlavtox, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-07 16:34] Hlavtox commented on #17042
@khouloudbelguith

1. There are no errors.
2. There are no errors in PHP error log.
3. The code does what it's supposed to do.

It check's by looking to **$context->employee** if the hook is loaded from the front to make checks module access to carrier, currency and countries. But in my case there is some (ghost?) employee.

This is the dump of **$context->employee**:
[file.txt](https://github.com

[2020-01-07 16:37] khouloudbelguith commented on #17039
@tm-newslang, yes!
I have the same behavior with PS1.7.6.2
If I change `fr.xml`
From
[code]
to
[code]

And From
[code]
to
[code]
Changes applied => OK
But if I try to change the `fr_CH.xml` file
From
`			<currencyDecimal>.</currencyDecimal>`
to

[code]
And From
[code]
to
[code]
Changes not applied in the FO.

Ping @jolelievre what do you think, this is normal behavior or a bug?

Thanks!

[2020-01-07 16:39] tm-newslang commented on #17039
@khouloudbelguith Exactly! Hope we'll find a solution or at least an explanation.

Thanks a lot!

[2020-01-07 16:42] khouloudbelguith commented on #17042
@Hlavtox, this is a fresh install? or an upgrade from a previous PrestaShop version?
If yes, it is an upgrade? what is the exact version of the 1-click upgrade did you use? have you any errors during the upgrade?
Thanks to provide me errors in the P`roject_Folder/var/logs` & `log.txt` file, available in` <admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-01-07 16:52] Hlavtox commented on #17042
@khouloudbelguith

- This is an upgrade from 1.7.6.0. to 1.7.6.2
- 1-Click Upgrade v4.10.0
- Symfony log for last 2 months in the attachment, but there is nothing.

[prod.log](https://github.com/PrestaShop/PrestaShop/files/4031573/prod.log)

I added `&& !empty($context->employee->id` to check if it's a real user and not some empty ghost, but maybe it would be good to check, how this situation can

[2020-01-07 16:58] #14210 closed, assigned to NeOMakinG

[2020-01-07 17:00] #16337 closed, assigned to atomiix

[2020-01-07 17:36] arg73 opened #17051 "problem white page with prestashop 1.7.0.4 when upgrade php7.1 to php7.3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-01-07 17:53] Lucian06 opened #17053 "Can't create new customer"
When a new customer registers in my shop he/she gets ID = 0 and then can't log in. When I try to edit or delete the user from the back-end I get the User does not exist error.

**To Reproduce**
Steps to reproduce the behavior:
1.Install Prestashop 1.7.6.1 on a new server
2. Import some customers from the old shop(PrestaShop 1.7.5.2) via the import tool
3.Upgrade to PrestaShop 1.7.6.2
4. Create new

[2020-01-07 18:13] jf-viguier opened #17054 "Manage newsletter subscription in a modern ajax way in ps_emailsubscription module"
Newsletter subscription in ps_emailsubscription module uses an old fashion "post to home page" form with several issues :
- After subscribing, the user is redirected to the home page.
- If the module is hooked several time, a buggy message tel the user that his email has already been used (see https://github.com/PrestaShop/PrestaShop/issues/15629)

I suggest to manage newsletter subscription in aj

[2020-01-07 19:06] Maofree opened #17055 "Bug with CDN, css and js files are not downloaded from the cdn's servers just images"
Hi
I'm using a new cdn named bunnycdn, all is ok for the images, they are downloaded correctly from their servers, but the css and js compressed files are downloaded from the original server
you can test it from here
https://www.mondialshop.it/

I've tested it already on a demo site with default theme and I get the same issue

can you fix it?

thanks

**Screenshots**
![1](https://user-images.githu

[2020-01-07 21:27] Kis-shoes opened #17056 "upgrade from ps 1.7.6.1 to 1.7.6.2 cause 500 Server Error on front-end"
Hi everyone,

I just upgraded to PS 1.7.6.2 from PS 1.7.6.1. For the upgrade I used 1-click Upgrade the latest version - v4.0.0. The process went successfully and everything seemed good from the backend. But the frontend showed 500 Server Error. Then I turned on the debug-modus and the frontend started showing again, but then product page came up with error. At this point I discovered that some mo

[2020-01-07 21:59] hitinder commented on #15319
@khouloudbelguith okay got you! I mixed up the two issues.

[2020-01-07 22:13] kostya07 opened #17057 "Error update for 1click upgrade from prestashop 1.7.6.1 to 1.7.6.2"
I tried to update from prestashop 1.7.6.1 to 1.7.6.2 from 1click upgrade v4.10.1  from Menor channels.
and get an 500 error.

PHP 7.2,  MySQL 5.7

![Screenshot_59](https://user-images.githubusercontent.com/19917921/71923134-ff844200-3194-11ea-99fa-8831933a5503.jpg)

![Screenshot_44](https://user-images.githubusercontent.com/19917921/71918874-f80c6b00-318b-11ea-8802-6c938b4034c9.jpg)

Server log
[T

[2020-01-07 22:25] IranDec commented on #12858
Hi @khouloudbelguith
I restored my website in localhost and i enable-debug mode
but in product page, I get this error

An error occurred while loading the web debug toolbar. Open the web profiler.

what i must to do now?

[2020-01-07 23:37] IranDec commented on #12858
I solved this error
An error occurred while loading the web debug toolbar. Open the web profiler.

it's related to PHP ver and ioncube ver

but I couldn't find your way; is it possible to send a guide for me?

enable debug mode
go to the product page
open up developer tools
go to Network tab
save product
wait for an error, you should see red request information in Network tab
click on it, you shou

[2020-01-08 03:12] Henrik41 opened #17058 "Some admin functions are suddenly timing out - 504"
Everything was working great until some backend function start giving me an upstream timeout.
i.e: Changing the status of orders in bulk result in an upstream timeout. Same thing when I create an order from the backend I get a timeout (504).

Using
Prestashop 1.7.6.0
php 7.2
Nginx/php-fmp

I am pretty sure my php-fmp and Nginx are configure correctly and I never had an issue.

If I increase my fas

[2020-01-08 04:50] ghost opened #17059 "Questions about phpunit critical security vulnerability"
https://build.prestashop.com/news/critical-security-vulnerability-in-prestashop-modules/

Please clarify - you say root /vendor folder. Do you mean also the Symfony related folder /vendor/symfony/symfony/src/Symfony/Bridge/PhpUnit/ too?

[2020-01-08 07:38] CallejaMotos commented on #16796
hi @khouloudbelguith,
I saw some threads talking about a wrong brand filter behaviour, where it is working like a OR not like and AND:
if I select filter A, still shows filter B options (as It is my case).

Could be that this issue?
Did you handle problems like that before?
thanks

[2020-01-08 07:48] khouloudbelguith commented on #16743
Hi @mdacweb,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-08 07:48] #16743 closed, assigned to nobody

[2020-01-08 07:49] Hlavtox commented on #17042
@khouloudbelguith I updated the issue description. Thank you.

[2020-01-08 07:50] khouloudbelguith commented on #16744
Hi @Prestaworks,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-08 07:50] #16744 closed, assigned to nobody

[2020-01-08 07:56] CallejaMotos commented on #16796
@khouloudbelguith,
I realized that it was a new upgrade to faceted search to:

`v3.4.1`

Now, problem is solved.
No server misconfiguration, no prestashop's core bug.

**It was something with prestahsop `1.7.6.2` and faceted_search version `v3.4.0`.**
Actually, order from Brand filter is OK . Also correct behaviour when I select whatever filter options.

Just to let people knows about that, if som

[2020-01-08 07:58] khouloudbelguith commented on #16796
@CallejaMotos, Great!

Thanks for your feedback.

[2020-01-08 07:59] khouloudbelguith commented on #17059
Ping @PrestaShop/prestashop-core-developers

[2020-01-08 08:01] khouloudbelguith commented on #17051
Hi @arg73,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade your

[2020-01-08 08:01] #17051 closed, assigned to nobody

[2020-01-08 08:10] khouloudbelguith commented on #17054
Hi @jf-viguier,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-01-08 08:14] khouloudbelguith commented on #17055
Hi @maofree,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16180 to fix the issue.
It is fixed in the next version PS1.7.7.0.
Your ticket is a duplicate of #9890
So, I close it.
Thanks !

[2020-01-08 08:14] #17055 closed, assigned to nobody

[2020-01-08 08:14] khouloudbelguith commented on #17055
Duplicate of #9890

[2020-01-08 08:21] khouloudbelguith commented on #17053
Hi @Lucian06,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.7.6.1 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1Wvde3tp9wI_3mlugnvkf6Xd7xyaBLdSj/view
Thanks to check & feedback.

[2020-01-08 08:22] matks commented on #17059
Hi @rss9090, the folder /vendor/symfony/symfony/src/Symfony/Bridge/PhpUnit/ is safe.

The directories which contain the vulnerability are the original [PHPUnit](https://github.com/sebastianbergmann/phpunit) directories that can only be found in
- <prestashop_directory>/vendor
- <prestashop_directory>/modules/<module_name>/vendor

And, to be more accurate, the vulnerability in these vendors is in f

[2020-01-08 08:47] khouloudbelguith commented on #17056
Hi @Kis-shoes,

No, the last version of the 1-click upgrade is 4.10.1.

As they are not modules provided by Prestashop, we can't do anything with this.
You should contact the module's author via your addons.prestashop.com account, they are the only ones to help you with it.

Same with this module, You should contact the module's author.

The [ganalytics](https://github.com/PrestaShop/ganalytics) m

[2020-01-08 08:48] maofree commented on #17055
ok
thanks

[2020-01-08 08:51] khouloudbelguith commented on #17057
Hi @kostya07,

You need to add or update the line AllowOverride to include `Options=All,MultiViews` to your Apache virtual host, the vhost configuration file should then look like:

[code]
If you had other `AllowOverride` directives you only need to add the` Options=All,MultiViews` one. For more details, you need to check your host.

Thanks to check & feedback.

[2020-01-08 09:28] matks commented on #17007
Does this mean removing all license headers (= all this text on top of each file) from the project ? Or just remove the date from the license headers ?

[2020-01-08 09:45] ENsports opened #17062 "issue upgrade for 1.7.4 version"
Hello,

i have an issue to upgrade my prestashop. All arrow are in green, I start the upgrade and then I have a message error (see picture)

Thank you in advance.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![upgrade fail](https://user-images.githubusercontent.com/59645603/71967585-dc44ab80-3203-11ea-905c-fe60adeb5f93.png)

**Additional informatio

[2020-01-08 09:51] khouloudbelguith commented on #17058
Hi @Henrik41,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2.
Here's my Nginx conf
[code]
I attached a screen record
https://drive.google.com/file/d/1h8KSmGhbU5xtSIuSdlrNAFs0opg5oAeX/view
In your php.ini file, Try to increase:

[code]
Thanks to check & feedback

[2020-01-08 09:53] khouloudbelguith commented on #17062
Hi @ENsports,

It is not allowed to write on your disk & there is no space available on it.
If you don't have access, you can check with your host to give the right permission.
Give the write and read access.
`$ chown -hR www-data:www-data ./Project_Folder_name`
Some hosts might require you to use` CHMOD 777`, although it is not recommended for anything more than a one-time need.
If you have to us

[2020-01-08 09:55] ENsports commented on #17062
Hello thank you, but for what folders I need to change the CHMOD ?

[2020-01-08 09:56] khouloudbelguith commented on #17062
@ENsports, Your Project_Folder PrestaShop.

Thanks!

[2020-01-08 10:01] khouloudbelguith commented on #12858
Hi @IranDec,

Here's a screen record:
https://drive.google.com/file/d/1U_yAShWC0R2LsnEYqay5vbhUolGvZ9M2/view

tHANKS!

[2020-01-08 10:01] adriansuter commented on #17059
Would it make sense to check the server logs for requests to this `eval-stdin.php` script?

If so, maybe that could be added as additional information to the page https://build.prestashop.com/news/critical-security-vulnerability-in-prestashop-modules/

I have seen in the last week in my server logs (not even prestashop sites) a lot of requests against `/vendor/phpunit/phpunit/phpunit.xml`. Maybe t

[2020-01-08 10:02] arg73 opened #17063 "problem upgrade vers 1.7.0 to 1.7.6"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-01-08 10:06] khouloudbelguith commented on #17063
Hi @arg73,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - Autoupgrade version
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:

[2020-01-08 10:08] PierreRambaud commented on #17059
This kind of check must be done with your system administrator.
Logs are not managed all in the same way, and having a huge logs could increase the execution time of your code.
If you need more information about how you can manage your logs easily have a look at https://www.elastic.co/what-is/elk-stack

[2020-01-08 10:11] Lucian06 commented on #17053
Hi @khouloudbelguith

Have you tried to import some users via Advanced parameters > Import

Please tell me if I can help you with something else?

[2020-01-08 10:11] kostya07 commented on #17057
Thx.
how to perform an update on a server where the MultiViews parameter is not supported and there is no way to activate it?

[2020-01-08 10:11] PierreRambaud commented on #14071
Feel free to create a pull request, we will be happy to review and merge it :)

[2020-01-08 10:12] arg73 commented on #17063
i want to upgrade with the module my prestashop version 1.7.0 to 1.7.6
when i start i have this message :+1:
Erreurs
Could not close the Zip file properly. Check you are allowed to write on the disk and there is available space on it.

[2020-01-08 10:14] khouloudbelguith commented on #17057
@kostya07, you need to check your host about this issue.
Thanks!

[2020-01-08 10:15] colinegin commented on #17054
I like the idea ! Thanks @jf-viguier for this detailed explanation and PR.
@TristanLDD wdyt ?

[2020-01-08 10:16] arg73 commented on #17063
Version de PrestaShop : 1.7.0.4

URL de la boutique : http://www.gravure-verre.fr/

Thème actif : classic
![Capture](https://user-images.githubusercontent.com/46370249/71969862-d05ae880-3207-11ea-995f-789f4dbd9713.JPG)

[2020-01-08 10:18] khouloudbelguith commented on #17063
@arg73, Your ticket is a duplicate of #17062
Here's a solution: https://github.com/PrestaShop/PrestaShop/issues/17062#issuecomment-571973953
So, I close it.
Thanks!

[2020-01-08 10:18] #17063 closed, assigned to nobody

[2020-01-08 10:20] khouloudbelguith commented on #17053
@Lucian06, before the upgrade? or after the upgrade?
If before the upgrade yes, well tested as you can see in my screen record

Thanks!

[2020-01-08 10:36] PierreRambaud commented on #16912
Thanks @mvorisek
Unfortunately it's not an issue, the test is just malformed and download locale data from the PrestaShop API each time it's needed.
And because we try it on many locales, it takes a lot of time.

[2020-01-08 10:40] matks commented on #16912
This is the issue 😄

Maybe we could hardcopy some locale data files to be used for the tests instead of downloading the latest locale files from API ?

[2020-01-08 10:46] Kis-shoes commented on #17056
Hi @khouloudbelguith

Thank you for the kind information.
I renamed the ganalytics and that resolved the issue with product page, but still other issues to resolve. I will roll back the update, install the 1-click upgrade i download from Prestashop module Addon and make a fresh update and see what happen.

I will give a feedback afterwards, thank you.

regards

[2020-01-08 10:54] ttoine commented on #17007
just remove the date. it's mandatory to provide copyright information per file, for compliance.

maybe we should take the opportunity to become follow REUSE principles:
https://reuse.software/tutorial/

[2020-01-08 10:55] khouloudbelguith commented on #17056
@Kis-shoes, thanks!
Waiting for your feedback.

[2020-01-08 11:03] PierreRambaud commented on #11588
This issue should be fix with #13761

[2020-01-08 11:10] PierreRambaud commented on #16997
I did not manage to reproduce it on local branches :disappointed:

[2020-01-08 11:13] matks commented on #16997
Using gitlab CI ?

[2020-01-08 11:15] khouloudbelguith commented on #17042
@Hlavtox, yesterday, you have those errors.

[2020-01-07 12:26:40] security.DEBUG: Read existing security token from the session. {"key":"_security_main","token_class":"Symfony\\Component\\Security\\Core\\Authentication\\Token\\UsernamePasswordToken"} []
[2020-01-07 12:26:40] security.DEBUG: User was reloaded from a user provider. {"provider":"PrestaShopBundle\\Security\\Admin\\EmployeeProvider","

[2020-01-08 11:16] matks commented on #17007
This is the solution I prefer.

I dislike this solution because it could make some people believe we are just messy 😅it would look strange to have different dates in the same application license headers

@eternoendless Are you OK with:

[2020-01-08 11:25] mvorisek commented on #16997
The order without the sort depends on the OS/filesystem used. The PR #16998 fixes it, but to reproduce the issue you may shuffle the results from the Finder - see https://github.com/PrestaShop/PrestaShop/pull/16998/files#diff-e00a3bbd2f710822e0d2e2e652dd05c7L79 , the order is by default undefined (determined by the used OS/FS).

[2020-01-08 11:32] Hlavtox commented on #17042
@khouloudbelguith The employee in the context has no ID, no name, no email, no nothing.
https://github.com/PrestaShop/PrestaShop/files/4031515/file.txt

This is a question for the programming team, how something like this can happen.

[2020-01-08 11:35] Henrik41 commented on #17058
Hi Khouloudvelguith,
  Thank you for looking this up. I found that the cupid was actually that Prestashop was unable to send emails from my Postfix. After disabling the emails the 504 disappeared.

  Than you again for your patience and great feedback.

[2020-01-08 11:43] rss9090 commented on #17059
Hi @matks thank you for your answer.
I see in /modules/ps_facetedsearch/vendor/bin/phpunit file.
Should it been deleted also or considered as safe?

[2020-01-08 11:52] colinegin commented on #9975
Hello @khouloudbelguith do you still reproduce this issue with the last PS version ?
Thanks !

[2020-01-08 11:53] jf-viguier commented on #17054
Thanks @colinegin.
For the UX, I've sticked to actual behavior, I've just placed alert message above the form to match other ps behaviors (customer subscription, login).

[2020-01-08 12:29] Lucian06 commented on #17053
It was a problem with the customer's table. I drop and re-create the table and now it works.

Thank you

[2020-01-08 12:29] #17053 closed, assigned to nobody

[2020-01-08 12:33] matks commented on #17059
This file is safe but you can also delete it as it is useless for your shop. It is a file used to run tests, which is never going to happen on your shop.

I think you can delete it if you want 🤔but I cant guarantee 100% . These files are helper files used by Symfony to run tests powered by PHPUnit. As far as we know, they are harmless.

eval-stdin.php is the file responsible for the issue. As long

[2020-01-08 12:43] khouloudbelguith commented on #17053
@Lucian06, great!
Feel free to open a new one when needed.

Thanks!

[2020-01-08 12:52] khouloudbelguith commented on #17058
@Henrik41, thanks for your feedback.
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-08 12:52] #17058 closed, assigned to nobody

[2020-01-08 13:00] khouloudbelguith commented on #17042
@Hlavtox, this issue occurs only after the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`
It could be a problem with the employee table, could you please try to re-create it.
Creating a backup is necessary for your safety.
Thanks!

[2020-01-08 13:48] colinegin commented on #11588
Thanks @PierreRambaud , i remove this issue from the 178 kanban then.
We will test it when the PR #13761 will be merged !

[2020-01-08 13:49] arirangz opened #17064 "Backoffice Order: Product with custom field is added twice"
**Describe the bug**
When creating a backoffice order and adding a product that **has custom text fields not required**, the product is added twice.

**To Reproduce**
Steps to reproduce the behavior:
Requirement: Have a product that has a custom text field **NOT required**
1. Go to Orders settings
2. Click on add new order
3. Select your customer
4. Search for a product that has custom text field

[2020-01-08 13:53] arirangz commented on #9689
This bug is still on PS 1.7.6.2.

Thanks

[2020-01-08 13:57] khouloudbelguith commented on #17064
Hi @arirangz,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9689
So, I close it.
Thanks!

[2020-01-08 13:57] #17064 closed, assigned to nobody

[2020-01-08 13:57] khouloudbelguith commented on #17064
Duplicate of #9689

[2020-01-08 13:58] khouloudbelguith commented on #17064
PS: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Thanks!

[2020-01-08 14:01] PierreRambaud commented on #11281
We should play with the window.history object when we change the url. With this, we can keep the ajax behavior.

[2020-01-08 14:13] thbl commented on #14976
@khouloudbelguith @marionf @colinegin any news on this ?

[2020-01-08 14:13] thbl commented on #14889
@khouloudbelguith @marionf @colinegin any news on this ?

[2020-01-08 14:17] arirangz commented on #17064
Thanks! I changed my php version.

Do you know approx when this issue will be solved?

Thanks

[2020-01-08 14:18] PierreRambaud commented on #12617
@colinegin We should provide a upgrade script to find all deleted addresses, wdyt?

[2020-01-08 14:21] PierreRambaud commented on #16555
@khouloudbelguith COuld you tell us if it's a regression from 1.7.5.2 :thinking:
If translations are missing, it's a bug no? :thinking:

[2020-01-08 14:30] #16997 closed, assigned to nobody

[2020-01-08 15:02] parpotosis commented on #17059
Which versions of PHPUNIT are vulnerable?
According to this https://nvd.nist.gov/vuln/detail/CVE-2017-9841 versions starting 5.6.3 could be safe.
But in this article https://build.prestashop.com/news/critical-security-vulnerability-in-prestashop-modules/ you write that "the issue is fixed in PHPUnit 7.5.19 and 8.5.1" [...] and "all previous versions are vulnerable, at least for certain server conf

[2020-01-08 15:10] khouloudbelguith commented on #16555
Hi @PierreRambaud,

Yes, I tried with PS1.7.5.2=> we have a folder of files generated.
[classic.en-US.zip](https://github.com/PrestaShop/PrestaShop/files/4035843/classic.en-US.zip)
It is not the same behavior as PS1.7.6.2, we have only one file exported
[classic.en-US (1).zip](https://github.com/PrestaShop/PrestaShop/files/4035875/classic.en-US.1.zip)
If we change the translations of the theme =>

[2020-01-08 15:10] khouloudbelguith commented on #17064
@arirangz, in the next version PS1.7.7.0, the Order page will be migrated => so it could be fixed.

Thanks!

[2020-01-08 15:13] matks commented on #17059
We have unfortunately confirmed that phpunit versions > 5.6.3 are vulnerable as well.

There is indeed the vulnerability https://nvd.nist.gov/vuln/detail/CVE-2017-9841 and there is **another vulnerability** that is not reported yet which impacts phpunit up to 7.5.19 | 8.5.1 .

This 2nd vulnerability has been reported to phpunit maintainer and is currently being reported to CVE authority in order t

[2020-01-08 15:19] #16673 closed, assigned to atomiix

[2020-01-08 15:21] marionf commented on #14462
@matks
I missed that there is also a confirmation when a single line is deleted
Do you think it's possible to implement also a modal for a single line at the same time or do you need another issue ?

[2020-01-08 15:25] khouloudbelguith commented on #9975
Hi @colinegin,

As described in the first comment: "This issue is reproduced only when the MySql server connection settings are wrongly configured".
So, to reproduce this issue, we have to create an environment misconfigured, I will try to prepare it & feedback.

Thanks!

[2020-01-08 15:31] Progi1984 commented on #15128
Fixed in PrestaShop/dashactivity#16

[2020-01-08 15:31] khouloudbelguith commented on #16617
Hi @rss9090,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
https://drive.google.com/file/d/1LVL2kw3-AiPVN5-f9ucGI1QgXFQ6Bdf3/view
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you sol

[2020-01-08 15:31] #16617 closed, assigned to nobody

[2020-01-08 15:31] #15128 closed, assigned to nobody

[2020-01-08 15:36] Progi1984 commented on #14427
Fixed in PrestaShop/productcomments#47

[2020-01-08 15:36] #14427 closed, assigned to NeOMakinG

[2020-01-08 15:37] Progi1984 commented on #15803
Fixed in PrestaShop/ps_newproducts#2

[2020-01-08 15:37] #15803 closed, assigned to nobody

[2020-01-08 15:43] parpotosis commented on #17059
Thanks

Thanks!

[2020-01-08 15:43] Kis-shoes commented on #17056
Hi @khouloudbelguith,

I did again a fresh upgrade with 1-click v4.10.1. The process was successful, but again the front-shop had 500 Server Error. After switching to Debug-modus the front-shop showed again. Like previously I had issues with product page and some modules, but was resolved  after I renamed ganalytics and ps_relatedpost modules. But then when I proceeded to the cart I found other is

[2020-01-08 15:48] LSClaire opened #17068 "Impossible to upgrade modules"
**Describe the bug**
Hello,
On one of my prestashop sites, turning on 1.7.5.1, I am totally unable to upgrade modules, even native ones like "navigation à facettes". I have no idea where it can come from and don't know where to look. I don't have this issue on other sites. Can you help me to find out what is going on so I can fix it?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...

[2020-01-08 16:00] khouloudbelguith commented on #17056
@Kis-shoes, this issue occurs due to the supercheckout module.
As it is not a module provided by Prestashop, we can't do anything with this.
You should contact the module's author via your addons.prestashop.com account, they are the only ones to help you with it.

Thanks!

[2020-01-08 16:01] adriansuter commented on #17059
As a sidenote: PHPUnit should never be deployed to the web server. It is intended to be used for unit testing during development only.

[2020-01-08 16:02] khouloudbelguith commented on #17068
Hi @LSClaire,

Thanks for your report.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://buil

[2020-01-08 16:08] IranDec commented on #12858
Hi @khouloudbelguith
pls check this item
https://drive.google.com/file/d/1Vn5BDhfUYEMkpZKxiqaK5cfNmQk95VWv/view

[2020-01-08 16:09] #17057 closed, assigned to nobody

[2020-01-08 16:13] Kis-shoes commented on #17056
Hi @khouloudbelguith,
"this issue occurs due to the supercheckout module." I had this module for very long time, what is it with the update that is causing the issue. I have their latest update for Ps 1.7.6.2.

Here is also another issue I discovered
![Orders](https://user-images.githubusercontent.com/40031239/71994847-c0f49300-3239-11ea-8fa7-3211cd551b9b.JPG)

thank you

[2020-01-08 16:17] camillo777 opened #17070 "[Question] Is there a way to retrieve a page with rewrite OFF?"
**Is your feature request related to a problem? Please describe.**
I am trying to develop a mobile app for a PrestaShop shop.
Using the web service API will take a long time and needs lot of effort to make everything work like the web site (ie prices, taxes, carts, paying ...).
So my idea is to develop an hybrid app with some mobile components and a webview to display shop complex pages.
I know I

[2020-01-08 16:19] Progi1984 commented on #16328
Merged in #16742

[2020-01-08 16:19] #16328 closed, assigned to PierreRambaud

[2020-01-08 16:20] illusive-man commented on #9975
That's a great news! Despite it's more than a year since my original report. I'm ready to test as soon as fix is ready. :)

P.S. It's not misconfiguration, it's the way 99.9% of servers in Russia are configured (for both UTF8, 1251, and in some cases KOI8-R support). I'm on different engine now, but will return asap if you solve the problem.

[2020-01-08 16:20] Progi1984 commented on #13732
Fixed in PrestaShop/ps_searchbar#12

[2020-01-08 16:20] #13732 closed, assigned to atomiix

[2020-01-08 16:24] stephR commented on #16920
Duplicate of #13916

This issue was noticed on 1.7.6.0 and apparently the fixes in #13916 are not enough because I notice too that I have the exact same issue running on 1.7.6.1

I notice I also get an error with the module "Colissimo" on this page, the ajax request which should display a modal window to create a label fails with a notification message "test".

Even if this module is disabled, I s

[2020-01-08 16:24] khouloudbelguith commented on #17056
@Kis-shoes, in which page this exception is displayed? Is it in the Bo or Fo?
Those issues are partially fixed in PS1761 and completely fixed in the PS1762 as reported here:
https://github.com/PrestaShop/PrestaShop/issues/15376
https://github.com/PrestaShop/PrestaShop/issues/15486
https://github.com/PrestaShop/PrestaShop/issues/14595

Thanks to check and feedback.

[2020-01-08 16:39] Kis-shoes commented on #17056
Hi @khouloudbelguith,

It is in backend when I click on order tab, thanks

[2020-01-08 16:58] Anthotill commented on #16920
Yes you are right, the Colissimo module have a problem in their TPL files (problem with a link badly written), once corrected, it works :-)

[2020-01-08 17:07] Maofree opened #17072 "Proble to load 432 the product page admin side, of a product with 432 combinations"
hi
today a my custumer has created a product like normal but with many combinations for a total of 432, due from a mix of size and colors

it is necessary to wait more than 2-3 minutes to wait for the end of the loading of all the product data, only after this time all the combinations are displayed. I contacted the hosting to get more information to understand if it was a server or client side re

[2020-01-08 17:22] PierreRambaud commented on #16912
@matks Tests were built to be integration tests instead of Unit tests I think :sob:

[2020-01-08 17:26] matks commented on #16912
So you mean these tests actually download latest content on purpose ? Then we might move these tests into the nightly scope 🤔there is no point running them against each PR.

Checking the system integrates well into the ecosystem is good but this can be done once a day, wdyt ?

[2020-01-08 17:34] jolelievre commented on #14462
@marionf you mean when you click on the row action? in the column at the right?

If yes, the good news is that with the component that @NeOMakinG created the modal should be reusable for this kind of behaviour as well.

[2020-01-08 18:31] msaustral commented on #17038
Hi we think we have solve the issue doing this, please help us to confirm it:

find the file: modules\gamification\classes\Badge.php

line 51 and change

**const BAGDE_IMG_URL = '../modules/gamification/views/img/badges/';**

by

**const BAGDE_IMG_URL = '/modules/gamification/views/img/badges/';**

have a good day.

[2020-01-08 18:48] ftardio commented on #9809
I'm facing the same problem. In a shop using products with multiple attributes, you can get more than 2k combinations. I use a module to generate combinations, because the main interface is unable to manage it properly. But when a change in some main features is needed (change price for example), you have to wait several minutes to get all combinations loaded in background, sometimes the server go

[2020-01-08 19:54] stephR commented on #16920
@Anthotill  out of context but do you know which file and line regarding Colissimo ? thanks ! :)

[2020-01-09 08:42] LSClaire commented on #17068
Hello,
I don't have all the info asked yet but maybe these can give you some ideas to start?
PHP version is 5.6.
I attach the debug mode error message for each module that we try to upgrade. A lot of them report a 404. Where can that come from?
Thanks for your precious help.
[Orisques Modules Upgrade Error Messages.xlsx](https://github.com/PrestaShop/PrestaShop/files/4039431/Orisques.Modules.Upgra

[2020-01-09 08:43] marionf commented on #14462
Yes

Perfect :+1: I am going to create a new issue

[2020-01-09 09:35] #10558 closed, assigned to atomiix, RaimondasSapola

[2020-01-09 09:45] jf-viguier opened #17075 "Add an hook to ps_emailsubscription for newsletter registration/unregistration"
Actually, a module with external registration (like mailchimp, mailjet, sendinblue, ...) cannot plug to the ps_emailsubscription module.
Adding a hook to handle this should be great.

[2020-01-09 09:52] sarahdib commented on #17070
Hello @camillo777,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-01-09 09:52] #17070 closed, assigned to sarahdib

[2020-01-09 09:53] PrestaShark commented on #16505
Mine 5 cents...

There should be just:
`var customerName = comment.customer_name;`
To be GDPR compliant... Instead of customer full name by default.

[2020-01-09 09:59] colinegin opened #17078 "Product Meta description not filled by default in the SEO preview"
Hello,

I think i just found a small bug in the SEO tab in product pages.
When adding a title to the product, the SEO preview is automatically filled with the title in the meta title part.
But when adding a description of the product in the summary block, nothing is added to the meta description part, while it should.

What do you think @khouloudbelguith @marionf ?

[2020-01-09 10:03] sarahdib commented on #17075
Hi @jf-viguier,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team  what do you think of this improvement?

Thanks!

[2020-01-09 10:07] jf-viguier commented on #17075
It could be useful for adding an extra email address check : a captcha, spam filter, ...

[2020-01-09 10:19] jf-viguier commented on #17075
My PR https://github.com/PrestaShop/ps_emailsubscription/pull/49

[2020-01-09 10:20] marsaldev commented on #13698
I think that a solution could be this:
- "Load" only the associated categories
- Load only 1st level categories
- When I explode a category the CategoryDataProvider will load the subcategories (and so on), when is performed this task if the category is associated the checkbox is checked (obviously)

But, we should also display the product main category, at the moment I don't figured out how to sol

[2020-01-09 10:21] sarahdib commented on #17068
Hello @LSClaire,

The log indicate that your are not logged in addons :
"app.ERROR: Exception retournée par le module gmerchantcenter pour upgrade. Error sent by Addons. You may need to be logged. [] []"
Try to connect your back office to the addons marketplace and see if the error is still there.

Thank you

[2020-01-09 10:23] LSClaire commented on #17068
please check the excel document. This is the error related to ONE of the 12 modules. I understand that one this is not the one I need help with...

[2020-01-09 10:50] Kis-shoes commented on #17056
Hi @khouloudbelguith,
this was produced when I was deleting some inactive languages in the localization
![Language delete error](https://user-images.githubusercontent.com/40031239/72061423-21391280-32d6-11ea-9e4a-35f649e4cd3d.JPG)

Regards

[2020-01-09 10:54] #10550 closed, assigned to RaimondasSapola

[2020-01-09 10:58] PeNov commented on #16741
Update:
tested with this [fix - 17073](https://github.com/PrestaShop/PrestaShop/pull/17073/files)

First order from FO: - works (bankwire_owner, .... is correctly fillet)
but
from BO: resend email - waiting for bank wire payment - does not work (bankwire_owner, .... is only {bankwire_owner})

Thank you
Best regards
PN

[2020-01-09 11:05] PierreRambaud commented on #16555
@khouloudbelguith I don't think, do you have any idea @matks ?

[2020-01-09 11:09] PierreRambaud commented on #17059
@adriansuter PHPUnit could also be used for integration / production tests. Like Tempest do with Openstack (already done it with python / ruby tools).
Even if you don't have the phpunit directory in your public directory, the issue is still here and can be exploited with and Local file inclusion

[2020-01-09 11:14] PierreRambaud commented on #16912
@matks yes, this kind of tests can be done once a day :)

[2020-01-09 11:59] Progi1984 commented on #16991
Fixed in PrestaShop/gsitemap#127

[2020-01-09 11:59] #16991 closed, assigned to nobody

[2020-01-09 13:21] marionf commented on #17078
@colinegin

The thing is that we recommend a meta descirption of 160 characters maximum while it's set at 800 by default for the summary
We could take the 160 first characters of the summary and put them in the meta title, but I am not sure it's a good idea.
Or change the max size of the summary for 160 instead of 800 by default.
Wdyt ?

[2020-01-09 13:53] MatShir opened #17081 "Migrate "Customer Service > Merchandise Returns > View & Edit" page"
Part of Symfony migration project
Type: page

# Status

Todo:
- [ ] #19420 Migrate view

[2020-01-09 14:01] marionf opened #17082 "[EPIC] Add a modal to confirm or cancel delete action for one row"
**Describe the bug**

Add a modal like on product list to confirm or cancel deletion of a row instead of the browser one

⚠ Add this modal **with the following message** - edited by @LouiseBonnard following https://github.com/PrestaShop/PrestaShop/issues/14462#issuecomment-508394667:

`title` = _Delete selection_ in _Admin.Actions_
`confirm_message` = _Are you sure you want to delete the selected

[2020-01-09 14:02] marionf commented on #14462
Here it is: #17082

[2020-01-09 14:08] atomiix commented on #13732
I'm thinking that we probably delete the `<prestashop>/themes/classic/modules/ps_searchbar` folder and its content.

Wdyt @jolelievre?

[2020-01-09 14:33] novaclic commented on #17059
I understand the non disclosure at this stage. Could you please just let us know if the additional vulnerability affects the same file (`eval-stdin.php`) or not ?
(currently, asserting an intrusion is done by searching the Apache Log for a HTTP-POST on this file, it would be good to know if other files should be included).

Thanks !

[2020-01-09 14:45] PierreRambaud commented on #17059
@novaclic Only `eval-stdin.php` is compromised, the vulnerability is the same, it depends if you are running under CGI/FastCGI context which interpret `php://stdin` like `php://input`.

[2020-01-09 14:49] Leo-pold-02 opened #17083 "Cannot change activation state on many requested products"
**Describe the bug**
Cannot change activation state on many requested products / Error message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalogue
2. Click on Products
3. Try to Deactivate a Product(on the green hook)
or
Same isse when i go to the product page (settigs) and klick on deactivate and safe
4. See error

If i try deactivating a newly set up product it works.
My guess

[2020-01-09 14:57] Robin-Fischer-PS opened #17085 "Migration - Create order bugs"
## What's left

- #17179

## Done / cannot reproduce

**Describe the bug**
Following the merge of https://github.com/PrestaShop/PrestaShop/pull/16207, here is the list of the remaining bugs on this page :

1. Voucher with gift product does not work : The gift should appear in the cart, with price replaced by "Gift", but nothing happens. However, once the order is created, the gift is in the order.

[2020-01-09 15:00] KTN1990 commented on #17059
i found the bug on november 2019 and i founded that + 4k sites are vuln if prestashop had a bug bounty system its will be so helpful and too many people can report bugs

[2020-01-09 15:02] 01park commented on #16987
Hi,

I don't have this issue because I fixed it, but I noticed that when I update my PS to a new version I always gets overwrite with the broken version. Thats why I suggest to update the module version to the fixed one.

[2020-01-09 15:17] PierreRambaud commented on #17059
@KTN1990 This bug exists since many years, every websites having the phpunit on the server is currently vulnerable (not only PrestaShop instances).
We have a security@prestashop.com e-mail as mentioned [here](https://github.com/PrestaShop/PrestaShop/security/policy). The bug bounty program is something we are discussing, but it costs time and money :wink:
We received since years e-mails about secu

[2020-01-09 15:20] Robin-Fischer-PS commented on #16389
New bugs linked to product customization :

* When updating the quantity of a product with customization, the "Total Tax Included" is not updated after saving **=> Still KO** :negative_squared_cross_mark:
* Probably linked to this bug, when I change the quantity of the product with customization on migrated page, there is 4 product (2 + 2 on this case) :
![image (3)](https://user-images.githubuser

[2020-01-09 15:23] jtraulle commented on #12908
@khouloudbelguith Without reply from @prestaquality, I took the liberty to make the PR against develop branch.

I have the exact same issue and this "fix" works perfectly :slightly_smiling_face:

[2020-01-09 15:24] Robin-Fischer-PS opened #17089 "Migration - Product block on order page bugs"
**Describe the bug**
 Following the merge of https://github.com/PrestaShop/PrestaShop/pull/16150, here is the list of the remaining bugs on this page :

Adding several "small" discount with a total greater than the order total will raise another Symfony Exception, with a small difference : The last discount will still be added even if it raise an exception, but it will raise another exception when

[2020-01-09 15:36] Kis-shoes commented on #17056
Hi @khouloudbelguith,

As you may remember you closed the other issue without really a solution, hoping that proceeding updates will solve the issues.

This issue is becoming more complicated than I can handle. what would be your advice on how I can fix this issue efficiently, a fresh DB access or fresh installation? Thanks

Regards

[2020-01-09 15:40] sarahdib commented on #17072
Duplicate of #9809

[2020-01-09 15:40] #17072 closed, assigned to sarahdib

[2020-01-09 15:46] sarahdib commented on #17083
Hello @Leo-pold-02

Thank you for the report.

Can you send us a screenshot with the error ?

Sarah

[2020-01-09 15:49] maofree commented on #9809
Hi
can I know if it is present some fixes?

[2020-01-09 15:49] Leo-pold-02 commented on #17083
if i klick the green hook on the product list under status:
![Bildschirmfoto 2020-01-09 um 15 37 15](https://user-images.githubusercontent.com/57262480/72081961-b6043600-32ff-11ea-96f3-e64085615ff1.jpg)

If im in the product and want to deactivate it or channge visibility settings under Product options:
![Bildschirmfoto 2020-01-09 um 16 48 30](https://user-images.githubusercontent.com/57262480/720

[2020-01-09 16:19] KTN1990 commented on #17059
@PierreRambaud i know about the phpunit bug its about 3 years or 4 years ago,  i understand that bug bounty costs time and money... but too many people from the underground love to post bugs but they need money and support thats why bug bounty can help any way thanks for the discussion.

[2020-01-09 16:24] sarahdib commented on #17083
Hello @Leo-pold-02

Thank you for the screenshot.
I didn't reproduce the problem.
I install a shop using prestashop 1.6.1.24 then upgrade to 1.7.6.2 and try to enable/disable product.

[2020-01-09 16:28] Leo-pold-02 commented on #17083
Hey @sarahdib
Thanks for your help. Unfortunatly im allready in the middle of the final design process and i did the miggration to the 1.7. shop with the difficult database move of the new tables and such.
@khouloudbelguith helped me with it. So i dont have a chace of going back to the old prestaverison and do it all over again since it took me a good week to make it happen before :)
I was hoping

[2020-01-09 16:43] marionf commented on #9809
@maofree

To fix this issue it's planned to add a pagination system: #16103 during the re-migration of the product page

[2020-01-09 16:46] maofree commented on #9809
yes it is a good idea

[2020-01-09 16:54] colinegin commented on #17078
There's not limit on the title so I guess we should have the same behaviour for description and meta description ?

[2020-01-09 17:07] prestaquality commented on #12908
@jtraulle Thanks a lot and sorry, I forgot to reply here.
Thanks again!

[2020-01-09 17:31] MatShir commented on #15890
I get the impression that this is a problem on the whole list for searches for numbers on Legacy. On the order page, if I type 20 to search for an order with a value of 20.84, I would not find it.

But it seems after a migrated page such as Product Page works fine. The problem might be fixed after migration? Wdyt @matks @PrestaShop/Prestashop-core-developers

[2020-01-09 17:33] marionf commented on #17078
Yes, but I am wondering: it is a good practice to copy the summary in the meta_title if the summary is more than 160 characters as recommended ?

There is no problem for name and meta_title because both are `varchar(128)` type
While description_short (= summary) is `text` type and meta_description is `varchar(512)` type
Which means if the summary have more than 512 chars, the save of the product w

[2020-01-09 20:37] Pixep commented on #16989
FYI, after rebasing https://github.com/Pixep/gsitemap/commit/95f5ab24d3e19dc44350f496f83bc50fd5ea5c4f some times ago, I found that `$product_image['legend']` didn't hold the legend anymore. It could be me, or a breaking change, I didn't spend much time investigating. Does this ring a bell?

[2020-01-09 21:01] Progi1984 commented on #10583
Not finished : the check list is not checked ;)

[2020-01-10 08:38] Numalama opened #17093 "Overriding the same Back office views in multiples modules"
**Is your feature request related to a problem? Please describe.**
My feature is related to the concept of **Overriding Back office views** : [https://devdocs.prestashop.com/1.7/modules/concepts/templating/admin-views/](url)

**Describe the basic operation**
Like the documentation say, to override an admin template in a module, we need to :
- Found the right template (using debug toolbar)
- Create

[2020-01-10 08:42] matks commented on #17044
Project "ZIP Archive Module Builder"

## Expected outcome

We want to create a php binary able to build a ready-for-production ZIP archive of a module.

So we want this to happen:
[code]

## Technical specifications

I think ps-zip-module-builder should apply a standard prestashop modules building process that can be customized by the module to add extra steps.

Here are things we want ps-zip-modu

[2020-01-10 09:02] sarahdib commented on #17083
Hello @Leo-pold-02

Unfortunately, we can not reproduce the problem.
You can try to contact our support team they will help you with the upgrade.

I'll close this issue.

[2020-01-10 09:02] #17083 closed, assigned to sarahdib

[2020-01-10 09:04] Leo-pold-02 commented on #17083
Hi Sarah,
I found this error in the console maybe that helps.
The issue also occures if i want to change the assigned category of a product.

![Bildschirmfoto 2020-01-09 um 21 51 06](https://user-images.githubusercontent.com/57262480/72140190-7df90380-3390-11ea-80cc-8b35cf5d7885.png)

I can try to fine more bug reports if you tell me where i should look, thanks!

[2020-01-10 09:07] sarahdib commented on #17093
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-01-10 09:07] #17093 closed, assigned to sarahdib

[2020-01-10 09:41] Leo-pold-02 commented on #17083
Would be great if you could reopen this since i really need to try and solve the issue, thanks a lot sarah!

[2020-01-10 10:50] #16760 closed, assigned to atomiix

[2020-01-10 10:50] Progi1984 commented on #16760
Fixed in #17069

[2020-01-10 10:53] tippysrl commented on #15268
I have experienced the same issue with a fresh installation of PS 1.7.6.2.
After some research and tests, i have found that this error shows up when inside the child theme there is nothing to translate; after placing inside the child theme a template with some translatable string, for example {l s='test' d='Shop.Theme.Catalog'}, the translation page in backoffice started working regularly.

[2020-01-10 12:13] francct opened #17095 "Multiple redirects with https and different languages"
**Describe the bug**
Hi,
if I enable SSL and multiple languages on my shop, when I go to _domain.com_ two redirects are generated.

http://_domain.com/_
https://_domain.com/_
https://_domain.com/en/_

Is it possible to redirect directly to "https://_domain.com/en/_" (obviously by checking the language of the client's browser) from _domain.com_?

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-01-10 13:20] #10210 closed, assigned to nobody

[2020-01-10 13:22] #12514 closed, assigned to nobody

[2020-01-10 13:24] Progi1984 commented on #16540
Fixed in #16883

[2020-01-10 13:24] #16540 closed, assigned to nobody

[2020-01-10 13:29] Flower7C3 commented on #15268
@tippysrl that's why [I wrote script](https://gist.github.com/Flower7C3/c565a6b7467f455905041503d79214c0) which process all files in master theme, _app/Resources/translations/default/_ directory and _debug:translation_ command. Then I save output in child theme in same extra tpl file. Feel free to use and comment if there is some error.

[2020-01-10 13:31] eternoendless commented on #16739
Closed via #17065

[2020-01-10 13:31] #16739 closed, assigned to Progi1984

[2020-01-10 13:38] micka-fdz opened #17096 "New translation system for email subjects on ps_emailalerts"
We need to replace `Mail::l()` function with new translation system for email subjects on `ps_emailalerts` module. This module is the only one to use this old translation function.

Ex : replace `Mail::l('Product out of stock', $id_lang)`
with `$this->trans('Product out of stock', array(), 'Emails.Subject')`

[2020-01-10 13:44] tippysrl commented on #15268
Thank you, i will try it

[2020-01-10 13:59] #17026 closed, assigned to nobody

[2020-01-10 13:59] MarcoConv opened #17097 "Newsletter Verification Mail & Confirmation email when creating a new customer are not sent"
Prestashop is not sending any verification mail to the customer after the registration. He is automatic enabled for newsletters.

Steps to reproduce the issue:
1. Configure the ps_emailsubscription module
2. Enable the options: "Would you like to send a verification email after subscription?" & "Would you like to send a confirmation email after subscription?"
3. Save
4. Go to the FO => Create a ne

[2020-01-10 13:59] Progi1984 commented on #17026
Two PR have been merged.

[2020-01-10 14:02] Progi1984 commented on #16283
Fixed in #16574

[2020-01-10 14:02] #16283 closed, assigned to nobody

[2020-01-10 14:21] #10140 closed, assigned to NeOMakinG

[2020-01-10 14:26] Kis-shoes commented on #17056
Hi @khouloudbelguith ,

Have got the time to review my last message?
Looking forward to your response.

Regards

[2020-01-10 15:09] LouiseBonnard opened #17099 "Update the number of PrestaShop stores in the installer"
When installing PrestaShop, the number of PrestaShop stores mentioned is _250,000_ while it should be _300,000_ as officially communicated.

<img width="618" alt="Capture d’écran 2020-01-10 à 16 06 38" src="https://user-images.githubusercontent.com/32565890/72163034-52dbd780-33c3-11ea-9488-c4ddebdf00d1.png">

[2020-01-10 15:36] matks commented on #17085
For the record: "gift products" display is actually a totally different listing display
so this bug is actually a not-implemented feature that we did not know about 😛

So it'll take some time to do
<img width="1169" alt="Capture d’écran 2020-01-10 à 16 18 35" src="https://user-images.githubusercontent.com/3830050/72165220-61c48900-33c7-11ea-9df6-769ea6203b93.png">

[2020-01-10 15:37] BudrysLP commented on #14621
Hello.

@matrixino @cartomatica73 Could You reach me on budrys.ms@gmail.com? I have similar issue and need some help.

[2020-01-10 15:52] #16514 closed, assigned to Progi1984

[2020-01-10 15:53] Progi1984 commented on #16514
Fixed in #17087

[2020-01-10 16:00] maserman opened #17106 "No image in this version"
In Prestashop 1.6 the blockrss module which this replaces pulled in featured images with blog title and url.
In this replacement for 1.7 it only pulls in the url and link name. Can we please have the image function put back in. I've always thought upgrades were supposed to improve a product, not make it less functional!

[2020-01-10 16:08] micka-fdz commented on #17097
Hello @MarcoConv, you can activate email verification/confirmation in module configuration.

[2020-01-10 16:24] pantagru opened #17110 "Carriers Error - Technical error when changing range price"
Hi,
I work with prestashop 1.7.2.4
I have some big problems with carriers.
I need to configure many carrier into my shop.
Everytime a set a new carrier and his range prices I have no problem.
Example:
![immagine](https://user-images.githubusercontent.com/41157394/72166662-f203cd80-33c9-11ea-8b1f-ac3d5c4260f2.png)
If I close carrier, then reopen it, and I try to change range prices, for example fro

[2020-01-10 16:50] marionf commented on #16633
Fixed by #16852

[2020-01-10 16:50] #16633 closed, assigned to NeOMakinG

[2020-01-10 16:55] uruk-hai-21 opened #17112 "Contact form doesn't send email"
**Describe the bug**
Contact form doesn't send email and in back office (Advanced Parameters -> E-mail) is not saved.

I tried in 3 different clean installations with classic theme, both with PHP mail() and SMTP.

The module parameters are setted to:
- Send confirmation email to your customers: YES
- Receive customers' messages by email: YES

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-01-10 18:56] Rolige commented on #16944
You can solve this issue replacing the hook **displayBackOfficeHeader** for **actionAdminControllerSetMedia**, or if you want to keep compatibility with old PS versions you can keep the hook **displayBackOfficeHeader** and add the new one like this...

[code]

The hook *actionAdminControllerSetMedia* was added since PS 1.6.0.2, but just like you I always used the common **displayBackOfficeHeader**

[2020-01-10 21:53] matks commented on #11011
It's 2020 so I ask again 😄I think it would be nice to use TinyMCE 4.6 in migrated pages to solve this issue and move forward.
Ping @NeOMakinG @eternoendless

[2020-01-10 23:01] matks commented on #17011
Sorry I could not reply sooner, we've been quite busy with https://build.prestashop.com/news/critical-security-vulnerability-in-prestashop-modules/ 😓

[2020-01-10 23:26] Matt75 commented on #17110
I think this issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/12577
Fixed in 1.7.6

[2020-01-10 23:50] Matt75 commented on #17110
I think this issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/12577 and has been solved in 1.7.6

[2020-01-11 05:49] nrcjea001 commented on #15486
I am still facing issue in 1.7.6.2. I looked at #17056 but it doesn't look like its related.

To reproduce:

Import new products from the BO => Advanced Parameters => Import page using the CSV file by default.
Go to the supplier page => Click on the view button => OK
Go to the BO => International => Change the currency by default & delete your previous currency.
Go to the supplier page => Click on

[2020-01-11 07:08] mayoji commented on #16342
Hi @khouloudbelguith,
I've experienced the same issue today when trying to upgrade a store from 1.6.0.11 to 1.7.6.2, so if this is indeed the same issue as #14620 (the stack trace seems unrelated though), it looks like it is still there in 1.7.6.2.
@evamariamontero also reported having the same issue with 1.7.6.2 a few weeks ago.
I also noticed that your replied to @flavi1 saying the issue was sol

[2020-01-11 12:28] BudrysLP opened #17113 "Order continue button issue"
**Describe the bug**

When I try to make some order and press continue button I am logout.
Please take a look on picture and button link.

**To Reproduce**

Steps to reproduce the behavior:
1. Login
2. Add producy to cart
3. Go to checkout
4. Put address
5. Press continue button and You will be logout

**Additional information**

PrestaShop version: 1.7.6.1
PHP version: 7.2

![PS2 jpg f5917fb04df6

[2020-01-11 14:07] BenTen opened #17114 "Stock manager use wrong idshop to display title"
Hello,

I notice something strange in Stock manager.

I started my shop with multishop option.
So in the database, in product table, I have idshop = 0 and idshop = 1

A little bit after, I thought that I made a mistake and I finally decide to return in "one shop" option.

But I can see now, In Stock Manager, I have some product without title.
After deactivate multishop, it seems Stock Manager use

[2020-01-11 17:02] mvorisek opened #17117 "Security: geolocationManagement() must alway use real remote IP"
geolocationManagement() and other IP based restrictions must alway use real remote IP.

If "X-Forwarded-For" header is desired to be supported, it has to have own config option and must be turned by default off.

Current code for getting the remote IP:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Tools.php#L377

From @finlanderid

The bug that I want to report is IF evaluation in

[2020-01-11 17:58] muyncky commented on #17011
@matks no worries, our sites are secured from that bug! Thanks for alarming me in every possible channel ;-)

Good luck!

[2020-01-11 20:51] darylstone opened #17118 "Add to cart doesn't work if site hasn't finished loading or if loading was somehow interrupted"
**Describe the bug**

If you visit any prestashop store, switch directly to a product page and try to add directly a product to cart, the product won't be added to cart. Instead you will be redirected to an empty cart.

I was able to reproduce that issue on every 1.7 installations of mine and on any random demo from addons.prestashop.com.

An example from addons.prestashop.com, which has also the

[2020-01-11 21:55] jolelievre opened #17119 "Order view has errors once a product from it has been deleted"
**Describe the bug**
On new migrated page, When I remove a product from catalog I can't view an order that contained it

**To Reproduce**
On new order migrated page:
- Go to an order view
- Click on one of the order's product
- Remove the product from this page
- Go back to the order view
- An exception is thrown

**Important question**
Should we even authorize to remove a product from the catalog

[2020-01-12 01:37] CatchMeZZo commented on #16509
When will the fix be available? It takes to long time for this kind of bug...

[2020-01-12 01:38] CatchMeZZo commented on #16353
When will the fix be available? It takes to long time for this kind of bug...

[2020-01-12 09:46] stephR commented on #17118
I confirm.. same problem on 1.7.6.1...

[2020-01-12 10:24] mvorisek opened #17121 "Currency rate changes are not reflected in render"
Assign currency rate to all templates, otherwise when rate changes, prices with old rates may be displayed if the page is in the cache.

see:
https://github.com/PrestaShop/PrestaShop/blob/cfe92813cc51397f21b0fb4a2108bd410c54a3b0/classes/controller/FrontController.php#L491
https://github.com/PrestaShop/PrestaShop/blob/cfe92813cc51397f21b0fb4a2108bd410c54a3b0/classes/controller/FrontController.php#L

[2020-01-12 10:24] stephR commented on #17108
I confirm too.. I see that some strings in the ps_reminder.tpl file are written with different methods :
[code]
and others like this :
[code]

Do you know why ?

[2020-01-12 11:46] GuillaumeEqui-Clic opened #17122 "Missing pagination for hreflang"
When a page has pagination, the pagination in the hreflang does not appear.
No link to the current page itself is present.

Example :
https://equi-clic.com/gb/10-competition-and-performance?page=2

We have the alternate pages :
`<link rel="alternate" href="https://equi-clic.com/fr/10-performance" hreflang="fr-fr">`
`<link rel="alternate" href="https://equi-clic.com/gb/10-competition-and-performanc

[2020-01-12 13:27] davidglezz opened #17124 "Module catalog "read more" popup not displayed"
when I click on read more link on module catalog, popup is not shown.

Steps:
- git clone prestashop....
- docker-compose up
- go to module catalog
- click on read more link.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/194784/72219472-ceb25d00-3546-11ea-9fef-c79d89fa71e6.png)

**Additional informa

[2020-01-12 16:35] Maofree opened #17125 "adding a new language will be copied the text of default language"
Hi
I explain an example of site that need to add the french language
at the start there is only one language the "italian" with id = 3
if I go to add the frech language in the database all tables with "_lang" like ps_product_lang will have the french values with the same content of the default language
so if I go in the front-office and if I select the french language I'll get the same text of ita

[2020-01-12 21:35] psyray opened #17126 "Accented email in username part when user create account with old browser or JS disabled"
**Problem**
When a customer create an account, he can't validate an accented email.
But this validation is made only using client side HTML email form type.

If a customer use an old browser like IE 6 to 9 (check [caniuse capture below](https://caniuse.com/#search=email)), the validation will not take place and the accented email will be saved to db and the user account is created, which is very b

[2020-01-13 08:02] khouloudbelguith commented on #16762
Hi @Nexus6ITA,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-13 08:02] #16762 closed, assigned to nobody

[2020-01-13 08:04] khouloudbelguith commented on #16780
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-13 08:04] #16780 closed, assigned to nobody

[2020-01-13 08:05] khouloudbelguith commented on #16787
Hi @guirou62,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-13 08:05] #16787 closed, assigned to nobody

[2020-01-13 08:26] MarcoConv commented on #17097
It is activated, but it is not working. After the newsletter registration the value is directly set to 1 without any verification mail.

[2020-01-13 08:50] khouloudbelguith commented on #17096
Hi @micka-fdz,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-13 08:54] khouloudbelguith commented on #17110
Hi @pantagru,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12946 to fix the issue.
Your ticket is a duplicate of #12577
So, I close it.
Thanks !

[2020-01-13 08:54] #17110 closed, assigned to nobody

[2020-01-13 08:55] khouloudbelguith commented on #17110
Duplicate of #12577

[2020-01-13 09:07] khouloudbelguith commented on #17112
Hi @ajejebrazorf01,

I did not manage to reproduce the issue with PS1.7.6.2 & the contactform module v4.1.1.
I attached a screen record
https://drive.google.com/file/d/1qxz7vxC3Psd12WRA8_iRZv1Cyb9k8Ql9/view
The information for these fields, SMTP, should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.

[2020-01-13 09:07] marionf commented on #16353
Hello @CatchMeZZo
The bug is already fixed and will be available in PrestaShop 1.7.6.3

[2020-01-13 09:36] ShaimyWinda opened #17127 "No carriers available when it's an old customer account"
**Describe the bug**
Hello,

I saw there were several tickets already open for that.

I just wanted to see this problem with you in a different way.
A customer had already placed an order in 2017. Then we did a migration from 1.5 to 1.7.6.0 and the customer tried to recommend in 2020. But no carrier.
There were a lot of problems compared to the old customers.

Thanks to you

**Additional informati

[2020-01-13 09:38] khouloudbelguith commented on #17097
Hi @MarcoConv,

I did not manage to reproduce the issue with PS1.7.6.2 & the ps_emailsubscription module v2.5.1.
I attached a screen record
https://drive.google.com/file/d/1ExJdZwO9qoHfsKh6QxZV4g6_oeJYLhPi/view
Thanks to check & feedback.

[2020-01-13 09:41] jf-viguier commented on #9757
Any news here ?

[2020-01-13 09:57] Mduclain opened #17128 "pspixel error 500"
Hi,

presta 1.7.6.1
facebook pixel 1.1.6

When an user creates a new account on my website, he gets an error 500.
No error when an user logs in

![image](https://user-images.githubusercontent.com/58939347/72246512-29a18e00-35f3-11ea-998f-0f3431d025b7.png)

(1/1) FatalThrowableErrorCall to a member function format() on boolean
--
in pspixel.php line 491
at Pspixel->getUserInformations()in pspixel.p

[2020-01-13 09:59] khouloudbelguith commented on #17113
Hi @BudrysLP,

I did not manage to reproduce the issue with Ps1.7.6.2& PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1RIkZlu8zWk9m1pZYRCK0n0mLsKFqhfnE/view
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to che

[2020-01-13 10:03] khouloudbelguith commented on #17114
Hi @BenTen,

Thanks for your report.
What is the exact version of the PS did you use?
Can you please add steps to reporduce the issue in a new comment.

Thanks!

[2020-01-13 10:17] matks commented on #16725
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16906

[2020-01-13 10:17] #16725 closed, assigned to atomiix

[2020-01-13 10:21] khouloudbelguith commented on #17128
Hi @Mduclain,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
https://addons.prestashop.com/en/contact-us?id_product=27646
Thanks!

[2020-01-13 10:21] #17128 closed, assigned to nobody

[2020-01-13 10:25] Mduclain commented on #17128
Hi,

pspixel is Facebook pixel ?
![image](https://user-images.githubusercontent.com/58939347/72248382-50fa5a00-35f7-11ea-894f-4cb3cc7d0cba.png)

[2020-01-13 10:27] khouloudbelguith commented on #17056
Hi @Kis-shoes,

Sorry for the late answer.
As you can see in this screenshot
![image](https://user-images.githubusercontent.com/16067358/72248477-8bfc8d80-35f7-11ea-9f03-1305c9f548a1.png)
You have an issue in a table provided by your custom module supercheckout.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestas

[2020-01-13 10:36] khouloudbelguith commented on #16779
Hi @zapper,

As described in this comment: https://github.com/PrestaShop/PrestaShop/pull/16819#issuecomment-568438515
I did not manage to reproduce the issue with develop branch.
It is ok with PS1.7.6.2 also.
https://drive.google.com/file/d/1wUvQu-VJTSUgiBGNZOiWJBxf3I7uZiJk/view
Waiting for your feedback.

Thanks!

[2020-01-13 10:48] khouloudbelguith commented on #17127
Hi @ShaimyWinda,

If PrestaShop Carriers Are Not Available At Checkout, you need to check:

1. Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a created carrier does not show for a specific shopper. When configuring PrestaShop carrier you are supposed to assign it

[2020-01-13 10:52] sam-pires opened #17131 "[EPIC] - Standardize breadcrumbs in Front-office"
# Breadcrumbs in the Front-office

## Goal
The goal of this EPIC is to clarify the rule about breadcrumbs in PrestaShop Front-office and to adapt existing/add missing breadcrumbs according to it.

## Why
Several issues have been opened in the previous months about breadcrumbs.
Some PRs on this topic have been submitted as well.

As of today, there is no clear rule defined about breadcrumbs in the

[2020-01-13 11:17] sam-pires commented on #15440
Hello all,
Considering the lack of rule for the Breadcrumbs implementation in the Front-office of PrestaShop I created an EPIC (#17131) to centralize the work on this topic.

We'll launch a study on our side to define the best rule/behavior to have, and then specify it.
We'll take into account several aspects, including:
- SEO
- User Experience best practices
- Technical feasibility/logic

Do not

[2020-01-13 11:23] sam-pires commented on #16836
Hello all,
Considering the lack of rule for the Breadcrumbs implementation in the Front-office of PrestaShop I created an EPIC (#17131 17131) to centralize the work on this topic.

We'll launch a study on our side to define the best rule/behavior to have, and then specify it.
We'll take into account several aspects, including:
- SEO
- User Experience best practices
- Technical feasibility/logic

D

[2020-01-13 12:15] Leo-pold-02 commented on #17083
Hi @sarahdib
Woudl you have any other tip for me how to fix this?
Would really apreciate your help.
Does the new screenshot help at all?
Best
Leo

[2020-01-13 12:47] matthieu-rolland opened #17134 "Make it possible to add linkchecker"
**Describe the bug**
There are javascript errors in the BO page and in the webservice page. Those are the last errors before we can properly use the linkchecker.

**To Reproduce**
Go on BO's login page and webservice page: there are errors in the console.

[2020-01-13 12:47] NeOMakinG commented on #11281
I'ts fixed on https://github.com/PrestaShop/PrestaShop/pull/17133, thanks @PierreRambaud for most of the job/help

[2020-01-13 13:27] ShaimyWinda commented on #17127
Hi @khouloudbelguith
None of that. I fixed the code with the fixes you made and nothing works.
Thanks!

[2020-01-13 13:35] #17134 closed, assigned to matthieu-rolland

[2020-01-13 14:10] darylstone commented on #17118
True, been able to reproduce that also on 1.7.6.1. Perhaps the issue started with 1.7 - atleast I have not been able to reproduce that on 1.6.

[2020-01-13 14:19] ttoine commented on #17131
You should maybe share that with FoP, or a Build article, and maybe see if a tweet could be useful to gather feedback.

[2020-01-13 15:04] Hlavtox opened #17136 "[FO IMPROVEMENT] Add 'Best selling' sort order to all product lists"
I think Prestashop's product list is missing a very usable sort order - sorting by sales.

This sale order is available on 'Best Sellers' page, but not in categories. I think it would be good if it was everywhere.

[2020-01-13 15:09] Hlavtox opened #17137 "[BO IMPROVEMENT] Don't set UPGRADE as a main button in module list"
**Current situation**
UPGRADE action replaces CONFIGURE in module list, when the update is available.

I don't know about other merchants, but you usually go to module list to configure something. It's good to know that update is available, but maybe a better way would be to show a yellow label under module name and not replacing the button.

One accidental click can fuck up the module config or m

[2020-01-13 15:12] florianeb-meme commented on #9757
Hello @marionf,
As merchants, we encounter many problems because of this issue, this impacts our clients and our customer service team. I understand that you've got a lot on your plate but since the solution has already been identified, we would really appreciate if this could be fixed shortly since it has been affecting us for months already. Is there really nothing you can do for now? Do you hav

[2020-01-13 15:20] matks opened #17138 "[SF Migration] Build an example module for 1.7.7"
## Build an example module for 1.7.7

This modules must demonstrate:
- how to use the new hooks in "Edit an order" page
- how to insert a "upload image" input inside the Symfony form managing "Edit a Supplier" page

This module must promote the best practices.

**Update:**

We built 2 modules. See https://github.com/PrestaShop/PrestaShop/issues/17138#issuecomment-599570114

[2020-01-13 15:24] Progi1984 commented on #17099
Fixed in #17100

[2020-01-13 15:24] #17099 closed, assigned to nobody

[2020-01-13 16:04] micka-fdz commented on #17136
I already had this request from some merchants. I think it could be a good improvement!

[2020-01-13 16:04] 5koder commented on #9809
We should also be able to filter the combinations. Please also add a filter.

[2020-01-13 16:13] micka-fdz commented on #17137
Very good idea! Accidental update of modules by merchants is a nightmare for us (web agencies).

[2020-01-13 16:23] #14376 closed, assigned to NeOMakinG

[2020-01-13 16:36] NeOMakinG commented on #14431
Some new ? I did download the Poland package and the bug is there, is the translation up?

[2020-01-13 16:38] NeOMakinG commented on #9919
A backend dev needs to investigate on this

[2020-01-13 16:43] markopolo2002 opened #17148 "Customers cannot login or new customers register after upgrading 1.6.1.24 to 1.7.6.2"
After a lengthy battle to upgrade our store I currently have a test environment where I have managed to work through a lot of the problems yet face one last challenge.   Basically, customers cannot log in, just reverts back to the log in screen, although when browsing and adding anything to a cart, then going to checkout and THEN logging in it works but leaving the checkout then appears to log the

[2020-01-13 17:36] damianobertuna commented on #16944
Hi, I tried using actionAdminControllerSetMedia, but my custom js is not loaded when I'm in the product edit page.

Here is my code:
`public function hookActionAdminControllerSetMedia($params)
{
        $this->context->controller->addJS($this->_path.'views/js/back.js');
}`

[2020-01-13 17:38] jf-viguier commented on #17138
yes please

[2020-01-13 17:40] jf-viguier commented on #17137
Yes, this is definitively a major issue that has to be improved.
It should be nice to allow merchant to configure a module but to disallow upgrade it.

[2020-01-13 17:41] Rolige commented on #16944
And your module is hooked to **actionAdminControllerSetMedia** in **Design > Positions** ?

[2020-01-13 17:42] jf-viguier commented on #17136
Good idea, by the way, best Sellers page compute sales from the begining, it should be from X months only.

[2020-01-13 17:46] j0r1s opened #17153 "Redirection chain on Add to cart action"
**Background**
I've been preparing the migration from a Prestashop 1.6 to 1.7 for a customer of mine on an alternate staging host. Everything was working perfectly fine so we decided to transfer the website (files + database) to the main production host.

**Describe the bug**
On the new host, when a product is added to cart, I get a 302 redirection chain that ends with a TOO_MANY_REDIRECTS error i

[2020-01-13 17:46] jf-viguier commented on #17127
Hi @ShaimyWinda check that this customers have addresses. I had this bug too.

[2020-01-13 17:48] damianobertuna commented on #16944
YEAH!

You Win. I forgot to hook my module.... now it works perfectly!

Thank you very much.

[2020-01-13 17:48] jf-viguier commented on #17126
IE 6 to 9 is not supported by Prestashop, too old.
I think that accentuated email addresses are now allowed : the domain name can contains special characters. What's the issue ?

[2020-01-13 17:53] jf-viguier commented on #15396
@mehdi-ghezal is right about the Cart Presenter : we can't change it it's a main issue. Why closing it @khouloudbelguith ?

[2020-01-13 17:55] jf-viguier commented on #15396
Presenter should at list have hooks :
https://github.com/PrestaShop/PrestaShop/issues/11125

[2020-01-13 18:02] camillo777 commented on #16515
Hello! Any news from developers?

[2020-01-13 18:23] jf-viguier commented on #11125
Any news here @matks ?

[2020-01-13 18:40] psyray commented on #17126
Not supported does not mean that there is no email check on server side.
It's [a very bad practice](https://www.smashingmagazine.com/2009/07/web-form-validation-best-practices-and-tutorials/) to not verify input on server side.
Not supported does not mean that users will not use it.

From what I've found accented email are not allowed
https://www.eila.univ-paris-diderot.fr/sysadmin/mail/mail
https

[2020-01-13 18:59] okom3pom commented on #11125
Bump !

[2020-01-13 19:29] okom3pom commented on #15396
Bump !

[2020-01-13 22:01] matks commented on #17044
I started a POC on https://github.com/matks/ps-modules-builder

[2020-01-14 07:33] SebBareyre commented on #11125
Any news @matks?

[2020-01-14 08:30] matks commented on #11125
Haha 😅 I feel the pressure

To be honest, I like the idea but I think such an important feature requires a global agreement of Core Developers, especially from @eternoendless who is the Lead Developer

so ... ping @PrestaShop/prestashop-core-developers
ping @eternoendless

[2020-01-14 09:10] marionf commented on #9809
@5koder there is already an issue for that, please follow: #16108

[2020-01-14 09:39] MatShir opened #17156 "Migrate "Customers > Outstanding" page"
Part of Symfony migration project
Type: page

Enable B2B mode in Customer Setting then go to Customer to find the Oustanding page.

- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/20288
- [x] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2020-01-14 09:42] MatShir opened #17157 "Migrate "Shop parameters > Merchant Expertise" page"
Part of Symfony migration project
Type: page

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` an

[2020-01-14 09:44] jf-viguier opened #17158 "Localized extra product attributes can't be accessed in accessories"
**Describe the bug**
Localized extra product attributes can't be accessed in accessories

**To Reproduce**
Steps to reproduce the behavior:
1. Add a localized extra attribute to Product class : subtitle by example in a hook or an override
`self::$definition['fields']['subtitle'] = array('type' => self::TYPE_STRING, 'lang' => true, 'validate' => 'isString');`
2. The subtitle is not available in Pro

[2020-01-14 09:46] MatShir opened #17159 "Migrate "Design > Theme & Logo > Advanced customization" page"
Part of Symfony migration project
Type: page

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` an

[2020-01-14 09:49] MatShir opened #17160 "Migrate "Design > Theme & Logo > Homepage customization" page"
Part of Symfony migration project
Type: page

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

**Check if the non-native module can be plugged to the page, might work by checking the hooks**

## Check-List (copied from #13989)

### App layer
#### Cont

[2020-01-14 09:57] khouloudbelguith commented on #17126
Hi @psyray,

In fact, in the PS1.7.4.0, we fixed an issue with special chars in the domain mail address.
Here's the PR:
https://github.com/PrestaShop/PrestaShop/pull/9080
take a look at https://en.wikipedia.org/wiki/Punycode

In this situation we can't do anything about Chrome, it's normal behavior when you send anything in input type="email" everything store in hostname is converted in PunyCode.

[2020-01-14 09:59] jf-viguier commented on #11125
Please @eternoendless make PrestaShop great again & "as hookable as possible"

[2020-01-14 10:00] jf-viguier commented on #11125
By the way it's an 1.6 regression

[2020-01-14 10:01] khouloudbelguith commented on #16515
@PrestaShop/prestashop-core-developers friendly reminder :)

[2020-01-14 10:04] matks opened #17161 "Computing tax amount issue with rounding"
With we have identified a possibly complex topic with @atomiix . I will try to explain it but it's quite complex 😅 however it's important.

## The problem

In PrestaShop, we store prices with 6 digits in order to have computations as accurate as possible, especially when applying discounts or tax rates where it is necessary to have more digits than what is stored (= for EUR, 2 digits are used so f

[2020-01-14 10:04] MatShir opened #17162 "Migrate "Advanced Parameters > Multistore > Arbo (shop URLs) > Shop URL listing" page"
Part of Symfony migration project
Type: page

- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-be-displayed-only-in-all-shops-context)
- [ ] Multistore information message: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespe

[2020-01-14 10:05] LouiseBonnard commented on #14431
Yep, everything is fine on the translation side. If you've updated the Polish translation and noticed the typo is not here anymore but the display bug is, then it is not a translation issue. :-(

[2020-01-14 10:05] MatShir opened #17163 "Migrate "Advanced Parameters > Multistore > Arbo (shop URLs) > Shop URL listing > Add shop URL" page"
Part of Symfony migration project
Type: page

- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-be-displayed-only-in-all-shops-context)
- [ ] Multistore information message: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespe

[2020-01-14 10:07] khouloudbelguith commented on #17136
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-01-14 10:08] MatShir opened #17164 "Migrate "Advanced Parameters > Multistore > Arbo (shop URLs) > Shop URL listing > edit shop URL" page"
Part of Symfony migration project
Type: page

- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-be-displayed-only-in-all-shops-context)
- [ ] Multistore information message: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespe

[2020-01-14 10:19] khouloudbelguith commented on #17161
Related to https://github.com/PrestaShop/PrestaShop/issues/9779#issuecomment-415125166

[2020-01-14 10:24] matks commented on #16646
Unfortunately this is a known issue 😢 and it works with all inputs of the same kind. **All inputs using tinyMCE WYSIWYG editor have this issue** because the "translatable" capability for tinyMCE is quite hacky ...

[2020-01-14 10:44] Progi1984 commented on #16390
Fixed in #16150

[2020-01-14 10:44] #16390 closed, assigned to Progi1984

[2020-01-14 13:09] rmilecki opened #17165 "CMSCore::listCms doesn't read correct "meta_title" in MultiStore"
**Describe the bug**
When using MultiStore `listCms()` reads `meta_title` of the first entry which is usually empty.

**To Reproduce**
Enable MultiStore, create CMS pages, use some part shop or module that calls `listCms()`.

**Screenshots**
CMS pages view:
![cms-pages](https://user-images.githubusercontent.com/452972/72346721-cd179f00-36d6-11ea-9eb4-b14843823dcc.png)
[code]
![cms_lang](https://us

[2020-01-14 14:28] PrestaShark commented on #15285
Bump

[2020-01-14 14:39] ShaimyWinda commented on #17127
Hi @jf-viguier yes the customers have addresses.

The problem is since the migration from 1.5 to 1.7, all customers who ordered on our site in 1.5 now have this problem in 1.7, they have to redo an account @khouloudbelguith

Thanks

[2020-01-14 14:55] ghost opened #17166 "[FO IMPROVEMENT] Search within CMS pages"
Hi,
Search module does not searching information within CMS pages for useful informations.

Thanks!

[2020-01-14 15:27] khouloudbelguith commented on #17127
@ShaimyWinda, what is the exact tool did you use to upgrade your shop?
 It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.6.2.
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.2 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.2/install-dev/data/db_structure.sql

[2020-01-14 15:32] khouloudbelguith commented on #17166
Hi @PrestaShark,

Is it the ps_searchbar module?
https://github.com/PrestaShop/ps_searchbar
Thanks!

[2020-01-14 15:36] khouloudbelguith commented on #15285
Ping @PrestaShop/prestashop-product-team friendly reminder :)

[2020-01-14 15:44] ShaimyWinda commented on #17127
@khouloudbelguith they used 1-Click Upgrade
Which table i have to check ?

Thanks

[2020-01-14 15:47] khouloudbelguith commented on #17137
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think about this improvement.

Thanks!

[2020-01-14 15:48] #16512 closed, assigned to Progi1984

[2020-01-14 15:49] #15826 closed, assigned to Progi1984

[2020-01-14 16:20] khouloudbelguith commented on #16356
Hi,

A PR: https://github.com/PrestaShop/ps_socialfollow/pull/15 to add the linkedin.

Thanks!

[2020-01-14 16:26] khouloudbelguith commented on #17127
@ShaimyWinda, what is the exact version did you use of the 1-click upgrade did you use?
In fact, for the 1.5: you can use the 1-click upgrade v1.6.8, for PS1.6 => 1.7, you can use 1-click upgrade v4.10.1.
https://addons.prestashop.com/en/data-migration-backup/5496-.html

Thanks!

[2020-01-14 16:56] colinegin commented on #16356
Great, thanks !

[2020-01-14 17:08] colinegin commented on #14889
What do you think @eternoendless @PrestaShop/prestashop-core-developers ?

[2020-01-14 17:21] colinegin commented on #10025
Unfortunately these themes are based on the Classic theme so i'm not sure this is enough to decide to drop this feature. Do you have the possibility to test a theme which is not related to the Classic theme ?

[2020-01-14 17:37] ruifox opened #17170 "Password Recovery Front Office- Not Working several shops 1.7.5.2 and 1.7.6.1"
**Describe the bug**
When we are trying to recover password, the system sends the link to create the new password, but after setting the new password we submit, and gives an error notification
"We cannot regenerate your password with the data you've submitted"

**Extra info**
We can receive e-mails without issues
We can change the clients password on the back-office
Its default Theme and there are

[2020-01-14 17:39] khouloudbelguith commented on #17165
Hi @rmilecki,

Thanks for your report.
I have the same issue with PS1.7.6.2 & PS1.7.5.2 & 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/72367641-d451a380-36fc-11ea-990f-a317c9752f25.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-01-14 20:04] khouloudbelguith commented on #17170
Hi @ruifox,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
I did not manage to repro

[2020-01-14 21:22] k0lv opened #17171 "[QUESTION] robots.txt and /module/ search engine indexing by bots."
Hello. I have found, that Google is indexing modules, for example:
`"GET /en/module/psgdpr/FrontAjaxGdpr HTTP/1.1" 500` , related [issue #57](https://github.com/PrestaShop/psgdpr/issues/57)

I see, that robots.txt are blocking /module**s**/ folder, but does not block /module/ folder.
Can please somebody comment if that is working as expected, and /module/ should not be blocked for robots.

Thank y

[2020-01-14 23:29] Hlavtox commented on #17161
@matks Also take into account that every country can have different ways of computing VAT.

For example, in Czech republic, we have 21% VAT.

Until now, a correct way to compute tax FROM THE TOP was by using a coeficient:
**VAT 21 % = 0,1736 × 229,9 = 39,91 Kč**

But half year ago, the law changed:
**VAT 21 % = 229,90 − (229,9 ÷ 1,21) = 39,90 Kč**

[2020-01-15 03:21] Tomicapo commented on #16070
Also Argentinian Spanish in prestashop is related to the two letter ISO code: "AG" but that is incorrect. The real code is AR. But if I change it, I start seeing my site in arabic or who knows what hieroglyphics...
Spanish in argentina is es-AR (nothing to do with Algeria, Arab, or anything else).

[2020-01-15 08:28] khouloudbelguith commented on #17171
Hi @k0lv,

What is the exact version of PrestaShop did you use?
In my case, with PS1.7.6.2, when generating the robot.txt & the folder /module/ doesn't exist.
Here's the robot.txt generated
[robots1762.pdf](https://github.com/PrestaShop/PrestaShop/files/4063762/robots1762.pdf)
Thanks to check & feedback.

[2020-01-15 08:30] Leo-pold-02 opened #17172 "Cannot change / safe products after update to 1.7 from 1.6 for existing products"
Describe the bug
Cannot change activation state on many requested products / Error message

To Reproduce
Steps to reproduce the behavior:

    Go to Catalogue
    Click on Products
    Try to Deactivate a Product(on the green hook)
    or
    Same issue when i go to the product page (settings) and klick on deactivating and safe
    See error

If i try deactivating a newly set up product it works.

[2020-01-15 08:37] khouloudbelguith commented on #15396
Hi @jf-viguier,

About closing the issue after 30 days with no response, we just discussed in this subject & it will be an update of those rules described in this issue: https://github.com/PrestaShop/prestashop-retro/issues/54
In the meantime, I will re-open this issue.

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-15 08:40] khouloudbelguith commented on #17172
Hi @Leo-pold-02,

Thanks for your report.
What is the exact version of the 1-click upgrade did you use?
What is the exact version of the PrestaShop 1.6 did you use previously?
Have you any errors during the upgrade?

Thanks!

[2020-01-15 09:02] Leo-pold-02 commented on #17172
Hey @khouloudbelguith
thanks. i think it was After a Upgrade using 1 click update from 1.6.4 to 1.7.1.
You helped me with the database issues I had here:
https://github.com/PrestaShop/PrestaShop/issues/16282

I needed to import the missing tables from a clean database from a virgin Prestashop build.
But my guess is that on the product table there is something missing or wrong.
I am happy to provid

[2020-01-15 09:06] khouloudbelguith commented on #17172
@Leo-pold-02, You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. disable the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response

[2020-01-15 09:25] k0lv commented on #17171
@khouloudbelguith, I also use 1.7.6.2. The fact, that **/module/** is not `Disallowed` in the standard robots.txt is exactly my question.

Question: Should it be excluded from Google index (`Disallowed`), or it is ok for Google to index Prestashop **/module/** route?

I have a guess, that **/module/** is a technical folder and should not be indexed by bots, but I do not know if I am right or wrong

[2020-01-15 09:26] khouloudbelguith commented on #17118
Hi @darylstone, @stephR,

I tried with a very very slow connection & the products are well added to the cart.
I used PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/18bFaNwqicEHRSMQiBaUkmkwY-Ujg18tp/view
What is the exact version ps_shoppingcart did you use?
Maybe the issue related to this ticket: https://github.com/PrestaShop/PrestaShop/issues/11631.

Thanks to check & feedb

[2020-01-15 09:30] noione opened #17173 "Gsitemap prestashop module multilingual issue"
**Describe the bug**
Sitemap is generated only for the default language, the other languages are not generated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the module gsitemap
2. Click on generate sitemap

The sitemap is generated only for the default language not for the others

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.2.26

[2020-01-15 09:32] khouloudbelguith commented on #17171
@k0lv, is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/12032
It is fixed in the PS1.7.5.1.
Thanks to check & feedback.

[2020-01-15 09:33] LouiseBonnard commented on #16070
Hello @Tomicapo, it has been handled in issue #16029. :-)

[2020-01-15 09:33] Leo-pold-02 commented on #17172
Thanks for the quick reply,

I guess you mean developer tools in Firefox and under that the networt tab?
Or are you talking about the  Symfony Profiler in Prestashop?

i followed your instructions:
if I'm under catalogue / products and i click the green hook to deactivate i get the "Cannot change activation state on many requested products" message in the backend. under the network tab there is no

[2020-01-15 09:50] ghost opened #17174 "Geolocalization archive link is broken"
Cannot access to geolite.maxmind.com  , the link is broken or the server is down

![image](https://user-images.githubusercontent.com/52121301/72423479-a0ba5c00-3784-11ea-81d5-965373b75d05.png)
![a8a4b7c0-e314-11e6-92af-4bb66c12103c](https://user-images.githubusercontent.com/52121301/72423524-b760b300-3784-11ea-8fcd-b66223b09fec.png)

[2020-01-15 09:51] khouloudbelguith commented on #17173
Hi @noione,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2 & gsitemap module v4.1.0.
I attached a screen record
https://drive.google.com/file/d/1-0bX9-ORRCkOhW8sTvNJrEbdm8Dx8qTG/view
Thanks to check & feedback.

[2020-01-15 09:55] matks commented on #14889
Reworking the API is in the PrestaShop roadmap (see https://github.com/PrestaShop/PrestaShop/projects/1#card-13082456) but it's a massive rework.

Currently it is very hard to add improvements (including full JSON handling) to it because it has almost no documentation, there is no specs (neither functional nor technical) and zero tests ; so it's very hard to do any modifications to it without brea

[2020-01-15 09:58] khouloudbelguith commented on #17056
Hi @Kis-shoes,

It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact your module author.
I will close the issue, feel free to open a new one when needed.
Thanks!

[2020-01-15 09:58] #17056 closed, assigned to nobody

[2020-01-15 10:03] khouloudbelguith commented on #17128
Hi @Mduclain,

In your `Project_folder/modules/your_module/config.xml` file, you can find the `name` of the module, it the technical name & you can find the `displayName`, it the name displayed in the module manager page.
Thanks!

[2020-01-15 10:10] ShaimyWinda commented on #17127
Hi @khouloudbelguith !
It doesn't make sense, I made a copy of the prod and put it in preprod. everything works well in preprod, I log in as this customer and I can see the carriers.

Thanks!

[2020-01-15 10:11] khouloudbelguith commented on #17174
Hi @ambarabaciccicocco,

Thanks for your report.
I have the same issue with PS1.7.6.2.
https://drive.google.com/file/d/1xtv5YbLz2vyToH8gXuHHsxQZOB4S5tv3/view
I’ll add this to the debug roadmap so that it’s fixed.
Thanks!

[2020-01-15 10:15] khouloudbelguith commented on #17127
@ShaimyWinda, thanks for your feedback.
It could be a cache issue.
Since it is fixed, I will close the ticket, feel free to open a new one when needed.

Thanks!

[2020-01-15 10:17] matks commented on #17174
It seems the server is not down but maxmind has changed its policy and now requires you to register an account before being able to download the data.

See https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/

[2020-01-15 10:18] ShaimyWinda commented on #17127
But it's not working in prod ... @khouloudbelguith

[2020-01-15 10:19] khouloudbelguith commented on #17127
@ShaimyWinda, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2020-01-15 10:28] ShaimyWinda commented on #17127
@khouloudbelguith Nothing's changed  :/

[2020-01-15 10:31] selfcart opened #17176 "Facing [PrestaShopDatabaseException] Issue"
HI,

I am facing [PrestaShopDatabaseException] issue I dont know how to resolve it. Please help me out in this. I am attaching the screenshot too.

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2
Debug mode : ON
Shop URL : http://www.selfcart.co
![Opera Snapshot_2020-01-15_154200_www selfcart co](https://user-images.githubusercontent.com/59916083/72426726-4afba900-37b0-11ea

[2020-01-15 10:33] khouloudbelguith commented on #17124
Hi @davidglezz,

Thanks for your report.
I have the same issue with 1.7.7.x branch(PS1.7.7.0)
![image](https://user-images.githubusercontent.com/16067358/72426827-c3e80a00-378a-11ea-8d22-8e84ad0ae5cb.png)
It was ok with PS1.7.6.2.
![image](https://user-images.githubusercontent.com/16067358/72426865-d5c9ad00-378a-11ea-943d-5c416215f4ef.png)
I’ll add this to the debug roadmap so that it’s fixed. If

[2020-01-15 10:34] ShaimyWinda commented on #17127
I have other question. Prestashop sends auto mail with the php mail() function.  The problem is that some mails don't work properly. There are variables in the mail templates. A client has received the mail with the variables that have not changed. I tested with several emails (different domain name) and the variables are replaced by the value. Do you think it's related to the server or to Prestas

[2020-01-15 10:37] khouloudbelguith commented on #17124
Related to: #9722

[2020-01-15 10:37] prestascott opened #17177 "[UI Kit] Improvements corrections"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

List components that haven't been called on the back-office but have been integrated in the UI Kit.

# Alerts

- [x]  Delete "click me to delete"
- [x]  Icon must be aligned with the first text line
- [x]  "Read more" button stays in black
- [x] Sticky warning alert: background #FFFBD3, icon #FAB000
- [x] Verify the button t

[2020-01-15 10:44] khouloudbelguith commented on #17176
Hi @selfcart,

What is the exact version of the ps_facetedsearch module did you use?
Is it a fresh install PS1.7.6.2 or an upgrade from a previous version?

THanks!

[2020-01-15 10:48] khouloudbelguith commented on #17127
@ShaimyWinda,

It could be similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13386
When the email address in uppercase, emails are not well working.
It is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16550 in the PS1.7.7.0.
Thanks to check & feedback.

[2020-01-15 10:58] selfcart commented on #17176
It is a fresh install

[2020-01-15 11:03] khouloudbelguith commented on #17125
Hi @maofree,

I tried with PS1.7.6.2.
When creating a new product, only the `name` & the `link_rewrite` are copied in the second language because they are required fields.
![image](https://user-images.githubusercontent.com/16067358/72428856-d6644280-378e-11ea-96d5-111d76192dee.png)
Other fields, for example, the `summary` is not copied in the second language.

Thanks to check & feedback.

[2020-01-15 11:06] khouloudbelguith commented on #17176
@selfcart, what is the exact version of the `ps_facetedsearch` module did you use?

Thanks!

[2020-01-15 11:07] selfcart commented on #17176
I don't know which module is this and how to get details about it. I am not a developer.

[2020-01-15 11:10] selfcart commented on #17176
Faceted search Version 2.1.2

[2020-01-15 11:12] ShaimyWinda commented on #17127
@khouloudbelguith

That's got to be it, both clients have uppercase in their e-mail addresses.
Thanks so much !!!

[2020-01-15 11:19] matks commented on #17174
@LouiseBonnard We will need to update the content of this warning (see screenshot at the top).

I checked Maxmind new system. It requires you to:
1. create a user account, in the "create an account form" you must explain what you intend to use the maxmind geoip data for ; and you must agree to their terms of use which, in short, make sure you dont use maxmind geoip data to break privacy laws such

[2020-01-15 11:21] ShaimyWinda commented on #17127
But i check commit ,I see you haven't changed anything

[2020-01-15 11:21] matks commented on #17174
One way to avoid this complex setup would be for prestashop to host the geoip database ourselves (so merchants would download the data from prestashop rather than from maxmind) however I'm not sure maxmind allows us to do so

If we want to do it, we need to check their terms of use and what it means for us. For example their terms of use state that if we store (and distribute) maxmind data, then
-

[2020-01-15 11:24] fullhugo opened #17178 "Search results issues"
I type the full name exactly as in the store, but the results are a lot of products with no relation, and the good one even doesn't appear on the first results.

[2020-01-15 11:39] zuk3975 commented on #17085
Voucher gifts product fix #17179

[2020-01-15 11:44] maofree commented on #17125
sorry @khouloudbelguith but I've tested on a site I'm sure that all text are duplicated
however I'll test again on other sites with 1.7.6.2

[2020-01-15 11:50] selfcart commented on #17176
I have updated Faceted search Module and the issue is resolved but I got this message (below mentioned ) please check and tell me is it important to make cron job as I don't know how to make it

You can set a cron job that will rebuild price index using the following URL:
http://www.selfcart.co/modules/ps_facetedsearch/ps_facetedsearch-price-indexer.php?token=84e668c78e

You can set a cron job tha

[2020-01-15 12:20] k0lv commented on #17171
@khouloudbelguith, thank you for the pointing to the related defect. I have evaluated the comments, and think, that defect creator, similarly to me was pointing out different issue, other than that was finally resolved :)

**Issue:** `/module/` folder without "s" at the end is Allowed by the current default robots.txt structure.

**My Question:** Is it ok, that Prestashop allows bots to index `/mo

[2020-01-15 12:32] khouloudbelguith commented on #17127
@ShaimyWinda,

You need to make those changes
https://github.com/PrestaShop/PrestaShop/pull/16550/files

Thanks!

[2020-01-15 12:54] khouloudbelguith commented on #17178
Hi @CrAzYk69,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14350
So, I close it.
Thanks !

[2020-01-15 12:54] #17178 closed, assigned to nobody

[2020-01-15 12:54] khouloudbelguith commented on #17178
Duplicate of #14350

[2020-01-15 13:00] khouloudbelguith commented on #17148
Hi @markopolo2002,

I tried with PS1.7.6.2 fresh install.
When I try to create a customer with a password's length > 60 characters => well created.
I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.6.1.24 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1OLgALPeeqPcK6Ycenj8KHp94gh8yO6-7/view
What is the exact version of th

[2020-01-15 13:10] khouloudbelguith commented on #17125
@maofree, I attached a screen record
https://drive.google.com/file/d/1iA-SIZg8JH-bv3k5m1vfQf5JMFdEcMKR/view
Thanks to check & feedback.

[2020-01-15 13:16] khouloudbelguith commented on #17176
@selfcart, thanks for your feedback.
Yes, it is the faceted search module, it should be updated.
About this
![image](https://user-images.githubusercontent.com/16067358/72436720-69a67380-37a1-11ea-9ce7-547a7537176b.png)

It is just alert information if you want to use cron.
Since it is fixed, I will close the issue, feel free to open a new one when needed.

THanks!

[2020-01-15 13:16] #17176 closed, assigned to nobody

[2020-01-15 13:16] pdsolutions commented on #17059
Hello,

DO NOT DELETE phpunit  directory without a full backup. Today i found and delete the phpunit directory, as described here: https://www.prestashop.com/en/security-announcement-your-store-vulnerable-malware and it broken my shop.

[2020-01-15 13:23] khouloudbelguith commented on #17153
Hi @j0r1s,

Thanks for your report.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).

Is it a blockcart module or ps_shoppingcart module?
ps_shoppingcart module is compatible with PS1.7
The blockcart module is compatible with PS1.6 only, it is replaced by ps_shoppingcart.

No, I don't think, it is related=> if the parameter `&action=show` doesn't

[2020-01-15 13:29] khouloudbelguith commented on #17122
Hi @marketiweb85,

Thanks for your report.
Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/13737?

Thanks to check & feedback.

[2020-01-15 13:31] maofree commented on #17125
hi
the situation is completely different (it is necessary to add a new language)
how to reproduce the bug:

1) start from a site with only 1 language like english (I think the problem is also present for site with more than one language)
2) go in the "Localization - Languages"
3) add a new language like French
4) now go to see if it is presente the english on all texts of French fields

bye

[2020-01-15 13:31] khouloudbelguith commented on #17121
Hi @mvorisek,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2020-01-15 13:33] khouloudbelguith commented on #17117
Hi @mvorisek,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2020-01-15 13:39] 01park opened #17181 "Enable all shops from maintenance page - Multistore"
After updating Prestashop it would be nice if it would be possible to enable all stores at once from being in All shops.

Now this is not the case, yes you can select enable shop, but you still have to go in to every shop and manual set it to yes, enable shop.

[2020-01-15 13:45] rmilecki opened #17182 "Email subject incorrectly uses entities for a shop name"
**Describe the bug**
If `PS_SHOP_NAME` contains some special characters they get incorrectly (unnecessarily) encoded into entities in email subject.

**To Reproduce**
1. Set `PS_SHOP_NAME` to `My śhóp / Geschäft`
2. Send e-mail

**Screenshots**
![emails](https://user-images.githubusercontent.com/452972/72438545-539ab200-37a5-11ea-8db0-e4cf07704dcd.png)
![gmail](https://user-images.githubuserconten

[2020-01-15 13:46] rmilecki commented on #17182
I think that `send()` in `Mail.php` should use `strip_tags()` instead of `Tools::safeOutput`.

[2020-01-15 13:47] khouloudbelguith commented on #17125
@maofree, thanks for these clarifications.
I have the same behavior with PS1.7.6.2
https://drive.google.com/file/d/1zyg9S7LVSDJWN3lL3PafIGFcFDWtekCb/view
Ping @PrestaShop/prestashop-product-team what do you thin of this improvement?

Thanks!

[2020-01-15 13:52] darylstone commented on #17118
Hi khouloudbelguith, thanks for your reply! :)

I tried it using the current version 2.0.3 of ps_shoppingcart but also using the earlier one v 2.0.2.
I'm not sure if the issue is the same but I don't think it is. Because the issue from ticket #11631 seems to be fixed already in a current version like 1.7.6.2, isn't it? Anways, I will setup a fresh installation again and try it local instead of onl

[2020-01-15 13:53] khouloudbelguith commented on #17181
Hi @01park,

We are aware of this issue, it is a multistore issue in all symfony pages.
It should be specified by our product team.
Your ticket is a duplicate of #9548
So, I close it.
Thanks !

[2020-01-15 13:53] #17181 closed, assigned to nobody

[2020-01-15 13:53] khouloudbelguith commented on #17181
Duplicate of #9548

[2020-01-15 13:54] ruifox commented on #17170
Hi @khouloudbelguith

Thanks for the info.

Even so I changed the PHP, and I tried to update one of the shops to 1.7.6.2, after updating, it still didn't work, gave the same issue.

NOT WORKING | CLIENT 1 | CLIENT SERVER | 1.7.5.2  | 5.6.40 | 5.6.45
WORKING         | CLIENT 2 | SERVER 1           | 1.7.5.1  | 7.2.26 | 5.5.64
NOT WORKING | CLIENT 3 |SERVER 1            | 1.7.6.1  | 7.2.26 | 5.5.64

[2020-01-15 13:59] selfcart commented on #17176
Thanks

[2020-01-15 14:05] khouloudbelguith commented on #17182
Hi @rmilecki,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16847
So, I close it.
Thanks !

[2020-01-15 14:05] #17182 closed, assigned to nobody

[2020-01-15 14:05] khouloudbelguith commented on #17182
Duplicate of #16847

[2020-01-15 14:08] LouiseBonnard commented on #17174
Yep, the second solution is obviously better for users but it needs to be investigated because it looks quite constraining from a technical point of view. Let's change the warning notification at least for version 1.7.7 and check if this can come preconfigured in future versions!

My suggestion is to switch the current warning notification into _Since December 30, 2019, you need to register for a

[2020-01-15 14:09] khouloudbelguith commented on #17118
@darylstone,

No, it fixed in the next version PS1.7.7.0.

Thanks, waiting for your feedback.

[2020-01-15 14:09] krasnycz opened #17185 "Unknown column id_log in ps_currency"
During update from 1.7.5.0 to 1.7.6.2 in multiple enviroments I always end up with the following error when trying access BO > currencies.

Uncaught Exception: An exception occurred while executing 'SELECT c.`id_currency`, c.`iso_code`, cs.`conversion_rate`, c.`active`, cl.`name`, cl.`symbol` FROM ps_currency c INNER JOIN ps_currency_shop cs ON c.`id_currency` = cs.`id_currency` INNER JOIN ps_curr

[2020-01-15 14:11] khouloudbelguith commented on #17170
@ruifox, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos

[2020-01-15 14:11] maofree commented on #17125
the same happens from:
International -  Translations in the section "Add / Update a language"
and then add a new language like French

[2020-01-15 14:15] khouloudbelguith commented on #17185
Hi @krasnycz,

Thanks for your report.
What is the exact version of the 1-click upgrade did you use?
Have you any errors during the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-01-15 14:21] khouloudbelguith commented on #17108
Hi @xavivag, @Le-Bodyguard, @stephR,

Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9599?

Thanks!

[2020-01-15 14:22] PierreRambaud commented on #14889
Should be the best option, both API (SOAP & REST) can live together. It'll be easier to improve, document, and test the new one, when the old is untestable.

[2020-01-15 14:23] PierreRambaud commented on #17059
@pdsolutions Which phpunit directory do you delete?

[2020-01-15 14:34] khouloudbelguith commented on #17171
@k0lv, the problem is that the /`module/` folder doesn't exist by default in the Project_PrestaShop folder.
Is it added manually in your path?

Thanks!

[2020-01-15 14:39] mvorisek commented on #17117
@khouloudbelguith see the link in the code above, the header is read/allowed by default.

So to replicate, send a HTTP request to PS with the `X-Forwarded-For` headers and notice, that geolocation and other things (like logging) uses this IP which can be very easily spoofed.