[2021-07-20 10:28] abramofranchetti commented on #25382
Hi,
the problem is that typically the warehouse is managed in a management software (ERP) external to prestashop, and the stocks are synchronized daily (ex in a task during the nigth).What you need to do is check the actual availability in the external warehouse just before paying, i.e. by clicking on the card button credit in checkout.

But that's only an example. In general if you need to do som

[2021-07-20 10:35] florine2623 commented on #25368
Hello @Celeanmode ,

In your 2nd screen, you already accepted the terms & conditions.

You need to click Volgende to go to next step.
Please check my screen record :
https://drive.google.com/file/d/1Cxrj3iuF3DWMyEiASrmPfRVMw93BQifT/view

[2021-07-20 10:38] Celeanmode commented on #25368
Hello FLorine2623,
I know but that is the problem when I click on Volgende it just blanks the page it does not go to the next step. If i click on Volgende it gives me again the same page

[2021-07-20 10:39] florine2623 commented on #25369
Hello @Jeevachezhiyan ,

Can you check your PHP version ?
It need to be 7.1 to 7.3 for PS 1.7.7.1

More info on the system requirements here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2021-07-20 10:42] Oksydan commented on #25371
Hi @florine2623,
Yes, it is exactly what I reported.

[2021-07-20 10:47] Matt75 commented on #25382
If you want to add event onclick on payment button, you can do it with JavaScript, make an Ajax call to a module controller to check your stock then dispatch standard payment button action

Add a hook will be difficult because it need to be implemented on each PaymentModule because many of them don't use the standard payment button.

So it will be more reliable to add a custom event on your side w

[2021-07-20 11:03] KEDYPACK commented on #25358
Hello, @florine2623

I can not install the module, attached the photo, can you test?
I updated, then configure again, but the problem is still appearing, then I uninstalled to reinstall the .zip that you send it to the result, impossible to install.
![WeChat Image_20210720130016](https://user-images.githubusercontent.com/87474058/126313285-5edf60fa-a14b-4aeb-9ba2-64e8317d2fa2.png)

[2021-07-20 12:07] abramofranchetti commented on #25382
@Matt75 yeah, it is what i'm doing now, but i was hoping that there was a chance to get a standard way to do that in the future version of prestashop.

[2021-07-20 12:36] florine2623 commented on #25358
Hello @KEDYPACK ,

Are you using multi-language in your store ?
If, yes, what languages ?
Send a screenshot of your database for ps_lang please.

[2021-07-20 12:37] florine2623 commented on #25382
Hello @abramofranchetti ,
I'll ping Dev and Product Team to get the approval or not on your suggestion !

[2021-07-20 12:38] florine2623 commented on #25382
ping @PrestaShop/prestashop-core-developers and @PrestaShop/product-team

What do you think about @abramofranchetti 's suggestion ?

Thanks!

[2021-07-20 12:45] florine2623 commented on #25368
Can you add this [file](https://github.com/PrestaShop/php-ps-info/) to the root of your FTP and see if your server config is compatible.
More info on server system requirements here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Let me know the result.

[2021-07-20 12:56] KEDYPACK commented on #25358
Hello, @florine2623

we have created 2 languages, but only the fr is active, here is the screen capture of .tpl

![langue](https://user-images.githubusercontent.com/87474058/126327711-146018db-2caf-43ec-b751-e564d4c34275.png)

[2021-07-20 13:22] Celeanmode commented on #25368
Hi,

Just tried but it is still the same

[2021-07-20 13:29] farzadaaa opened #25385 "Changing the URL after selecting the combination for the PrestaShop product 1.7.5.5"
Hello, on my site, which is version 1.7.5.5, when I add a combination for the product, the product URL changes and the combination URL is added to it, for example:
https://iran-memory.ir/product/1613-internal-ssd-adata-su800-512gb.html
How can this problem be solved?
[خرید هارد اکسترنال](https://iran-memory.ir/category/16-external-hard-drive)
for example:
https://iran-memory.ir/brand/21-western-di

[2021-07-20 13:34] florine2623 commented on #25385
Hello @farzadaaa ,

Please edit your issue to follow the issue template.
<img width="602" alt="Screenshot 2021-07-20 at 15 33 36" src="https://user-images.githubusercontent.com/16019289/126333072-76504822-c5cb-49ca-ab5b-52559aeaaa59.png">

Do you mean 1.7.7.5 ?
Thanks!

[2021-07-20 14:34] prestascott commented on #23116
Hello everyone,

Thanks @Hlavtox for this improvement!

Instead of just putting the text as you did, I would change it into a tag component. It will allow users to identify easier which customer group(s) the customer is linked to.

Here are my design propositions:

![Frame 7 (1)](https://user-images.githubusercontent.com/54888056/126342379-04c1a689-f1ca-4058-ab82-bcc93b2707e2.png)

![Frame 6 (1)](

[2021-07-20 15:00] prestascott commented on #25377
Hello everyone,

Thanks @diksha-cedcoss for your request!

Yes, the expected behaviour is to have at least 2 products in a row on mobile devices.

Here was my design proposition:

![Category page - clothes (1)](https://user-images.githubusercontent.com/54888056/126347068-f256c919-a30f-47c1-a33a-a3fd37fafba5.png)

Wdyt?

[2021-07-20 15:13] matks commented on #25319
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25326

[2021-07-20 15:13] #25319 closed, assigned to PierreRambaud

[2021-07-20 15:59] Hlavtox commented on #23116
@prestascott Looks good, but if there are more groups than 1, the default group should be suffixed by **- default**.

And I think we can omit the labels. If a merchant does not know that **johndoe@gmail.com** is an email, he shouldn't be employed in ecommerce... 😄

[2021-07-20 19:14] ShaimyWinda commented on #25383
Hello @florine2623

I think I understand. In fact on our site, we have a feature that has been developed, so it's related to the products that we have developed.

[2021-07-21 04:56] ashshah199 opened #25389 "Issue with Fixed amount discount cart rule with taxable and non-taxable products"
#### Describe the bug

We are facing an issue with the Fixed Amount discount cart rule. We have both Taxable and Non Taxable products in the catalog.

if we are adding taxable and non-taxable products in the cart and apply then fixed amount discount then we are getting some difference in the final discount amount.

We have created a fixed amount discount with a "tax excluded" option. if we are cre

[2021-07-21 07:25] Progi1984 commented on #25362
Fixed by @Progi1984 in #25375

[2021-07-21 07:25] #25362 closed, assigned to Progi1984

[2021-07-21 07:36] danpetrean opened #25390 "Dashboard display issues after 1 click upgrade"
I made an update with 1 click upgrade from version 1732 to 1775 and when logging in it apears like this

![printscreen1](https://user-images.githubusercontent.com/87751543/126449719-962fe809-a986-4a47-9b33-
6e18e1521693.png)
![printscreen2](https://user-images.githubusercontent.com/87751543/126449859-836aec20-07b2-4bf8-bbef-405a99f961d1.png)

![printscreen1](https://user-images.githubusercontent.c

[2021-07-21 07:47] Progi1984 commented on #25360
Fixed in #25378 by @Progi1984

[2021-07-21 07:47] #25360 closed, assigned to Progi1984

[2021-07-21 08:07] florine2623 commented on #25390
Hello @danpetrean ,

What version of PHP are you using ?
Make sure your config is compatible with your newest version of PrestaShop. You will find more info here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2021-07-21 08:08] florine2623 commented on #25383
Ok, thanks for updating the issue.
I'll close it as it is regarding a specific development.
Thanks!

[2021-07-21 08:08] #25383 closed, assigned to nobody

[2021-07-21 08:16] florine2623 commented on #25389
Hello @ashshah199 ,

Can you share the exact steps to reproduce please ?
You need to specify how you configured the cart rule.

Thanks!

[2021-07-21 08:18] danpetrean commented on #25390
7.1.33

From: florine2623 ***@***.***>
Sent: Wednesday, July 21, 2021 11:08 AM
To: PrestaShop/PrestaShop ***@***.***>
Cc: danpetrean ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] dashboard (#25390)

Hello @danpetrean <https://github.com/danpetrean>  ,

What version of PHP are you using ?
Make sure your config is compatible with your newest version of PrestaShop. You will

[2021-07-21 08:28] danpetrean commented on #25390
Hello florine,

Dashboard dos not display correctcly, but the ordrer module work.

printing an order is not formatted correctly.

thanks

From: florine2623 ***@***.***>
Sent: Wednesday, July 21, 2021 11:08 AM
To: PrestaShop/PrestaShop ***@***.***>
Cc: danpetrean ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] dashboard (#25390)

Hello @danpetrean <https://github.com/danpetr

[2021-07-21 08:53] Progi1984 commented on #25134
Fixed in #25391

[2021-07-21 09:34] ashshah199 commented on #25389
Hello,

Here are the steps to reproduce.

Our Store GST Tax is 10%.

1) There is One Product with Tax. Price Price Excluding Tax is $79.84
2) There is Second Product without Tax. The price is $47.40

I have created the Discount Cart rule with a Fixed Amount of $10 with the Tax Excluded option. see screenshot below for discount code setup.

https://prnt.sc/1dvm5x0
https://prnt.sc/1dvmilm
https://pr

[2021-07-21 09:58] devgraal commented on #23827
I had the same issue, and I looked for a fix.
The "problem" is that on PS-1.6 and above, the "Notification.php" class had been rewritten, incluing the "SQL_CALC_FOUND_ROWS" part of the 3 SELECTs in the "getLastElementsIdsByType" function. (Note that this way of calculate all rows is very slower on indexes tables than a count(*) )

After my patch (below) the function renders its results in about 20

[2021-07-21 10:05] tim-pushak commented on #22260
I have the same thing, 67% and that's all. Interesting that I installed Prestashop web site, a few days ago, and now i try to install another. I have no idea, why it doesn't works. I doing exactly like previous installation.

[2021-07-21 10:19] Vitamixlife opened #25393 "Actions "free shipping" button in vouchers does not work"
Dears, I know it's not a bug properly so:

1. I've set some carrier rule: free shipping over >98€ amount of cart, and 7€ shipping cost < 98€. That's ok.
2. I create a voucher that has got 25% of discount on chart amount.
3. I need that this voucher makes Carrier cost to zero.
4. In the Vouchers section, under tab "Actions" there is a button "Free Shipping" yes/no, if I switch on it, I mean that cl

[2021-07-21 11:55] matks commented on #22260
It might be interesting to look at your PHP error logs and webserver error logs.

In some situations, modules installation can be slow, and the install process reaches the php timeout or the webserver timeout (usually it's 30 seconds or 60 seconds, depends on hosting environment). You would see it in the error logs

Example with apache - fastcgi
[code]

[2021-07-21 12:06] venditdevs opened #25394 "Search with semicolon gives no result. Search differs from earlier versions of find()(1.7.6.x vs 1.7.7.x)"
In Prestashop 1.7.6.X you could search for multiple products based on (e.g.) tags. You could split them with a semicolon.
So if i searched for  testproduct1; testproduct5; testproduct8 it would find all 3 products.

Now, we've found out on Prestashop 1.7.7.5 ( this is the version where we noticed the problems so it could be earlier , we upgraded from 1.7.6.8 to 1.7.7.5 ).
If we search for testprod

[2021-07-21 12:17] florine2623 commented on #25390
Hello @danpetrean ,

Please answer directly via GitHub. If not the messages are not clear.

I used the module 1-click upgrade from PS 1.7.3.2 to PS 1.7.7.5. **The menu is correct** :
Upgrade ongoing :
<img width="1230" alt="Screenshot 2021-07-21 at 14 07 40" src="https://user-images.githubusercontent.com/16019289/126486920-def66f9e-7a70-4ca8-9de6-ee494660a247.png">
Upgrade done :
<img width="1197"

[2021-07-21 12:37] Progi1984 commented on #25347
Fixed in #25364 by @jolelievre

[2021-07-21 12:37] #25347 closed, assigned to jolelievre

[2021-07-21 12:37] Progi1984 commented on #25140
Fixed in #25364 by @jolelievre

[2021-07-21 12:37] #25140 closed, assigned to nobody

[2021-07-21 13:54] florine2623 commented on #25394
Hello @venditdevs ,

I was able to reproduce the issue with PrestaShop version 1.7.7.5 and 1.7.8.x, so I can confirm that this behavior is indeed a bug.

Here are the screenshots :
In PS 1.7.7.5 -> NOK:
![Screenshot 2021-07-21 at 15 51 55](https://user-images.githubusercontent.com/16019289/126500257-20df953d-cb2c-4858-a16e-abde53dad49b.png)

In PS 1.7.6.9 -> OK:
![Screenshot 2021-07-21 at 15 51 13

[2021-07-21 14:00] florine2623 commented on #25368
Have you checked the config of your server ? is it compatible ?
can you send a screenshot of the result ?

[2021-07-21 14:04] florine2623 commented on #25172
Hello all,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-07-21 14:04] #25172 closed, assigned to nobody

[2021-07-21 14:05] florine2623 commented on #25358
Please send a screenshot of your table **ps_lang** please.

[2021-07-21 14:20] Progi1984 commented on #25221
Fixed in #25316 by @kpodemski

[2021-07-21 14:20] #25221 closed, assigned to kpodemski

[2021-07-21 14:37] KEDYPACK commented on #25358
Hello @florine2623
![WeChat Image_20210721163201](https://user-images.githubusercontent.com/87474058/126507031-46981423-3498-4873-9c14-fb1779a6f506.png)
![WeChat Image_20210721163626](https://user-images.githubusercontent.com/87474058/126507272-bbc15050-8762-4ecc-a0bd-8353b03a9992.png)

In the end, I deleted the second "Chinese" language, then I successfully installed, then I reconfigured, the que

[2021-07-21 14:53] florine2623 commented on #25389
Thanks for the details @ashshah199

I was able to reproduce the issue with PrestaShop version 1.7.5.2, 1.7.6.9, 1.7.7.x, 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug.

In FO, instead of 10.00 €, we have :
<img width="364" alt="Screenshot 2021-07-21 at 16 34 49" src="https://user-images.githubusercontent.com/16019289/126508873-5f7e08e0-391f-478b-a09a-52b1c59736fb.png">

[2021-07-21 15:19] florine2623 commented on #25358
Hello @KEDYPACK ,

Despite our efforts, we were not able to reproduce your issue with the provided information.
Please check my screen record : https://drive.google.com/file/d/1kaKcUb9Nm88WH3h2dXLvixPN3yMwCAbc/view
It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
You can contact the support [here](https://www.prestashop.com/en/s

[2021-07-21 15:19] #25358 closed, assigned to nobody

[2021-07-21 16:53] #25168 closed, assigned to jf-viguier

[2021-07-21 17:10] danpetrean commented on #25390
my dashboard its look like a string of words.
![printscreen1](https://user-images.githubusercontent.com/87751543/126530333-f34777d2-51a5-48ef-9dc8-6a07b87b733a.png)
![PRINTSCRREN2](https://user-images.githubusercontent.com/87751543/126530377-672105df-1dfa-41c5-80e4-cbedbbe566a9.png)
![printscreen3](https://user-images.githubusercontent.com/87751543/126530395-10318226-f8a7-4e0f-b9e8-a4222d877012.pn

[2021-07-21 17:21] danpetrean commented on #25390
this is what the listing of an order looks like
[Comanda #1920 LAVLIDYFR.pdf](https://github.com/PrestaShop/PrestaShop/files/6857672/Comanda.1920.LAVLIDYFR.pdf)
tell me what information to give you so I can solve the problem

[2021-07-21 17:52] danpetrean commented on #25390
before the update i had md5 error and i proceeded as in the tutorial

[2021-07-21 22:30] Hlavtox commented on #20388
@khouloudbelguith @matks Will be fixed in https://github.com/PrestaShop/PrestaShop/pull/25395

[2021-07-21 22:31] Hlavtox commented on #14414
@hibatallahAouadni @marionf @dangelion @Slews Will be fixed in https://github.com/PrestaShop/PrestaShop/pull/25395

[2021-07-21 22:33] hibatallahAouadni commented on #14414
@Hlavtox Thanks for your PR 🚀

[2021-07-21 23:12] diezsiete commented on #22260
the problem has to do with the ps_metrics module which on installation downloads the ps_accounts module. This download is done through the CsaGuzzleBundle whose default configuration has a 5 seconds timeout. Increasing this timeout solved the problem and the installation of PrestaShop finished successfully

`# app/config/config.yml
csa_guzzle:
    ...
    clients:
        addons_api:
            c

[2021-07-22 03:48] ashshah199 commented on #25389
Hello,

We are checking on our end to fix it. if we are not able to fix it then we are looking forward to a patch fix for this issue.

Thanks!

[2021-07-22 06:44] venditdevs commented on #25394
Hi,

I allready found the problem.
It's this line: $eligibleProducts2 = array_intersect($eligibleProducts2, $productIds);
This will rerurn the differences between the two arrays which is none when you use 2 or more search words and so the result is empty.

Looking into it for a solution

[2021-07-22 07:31] venditdevs commented on #25394
@florine2623 : It's fixed. I created PR.

[2021-07-22 07:34] florine2623 commented on #25145
Hello @Seb33300 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-07-22 07:34] #25145 closed, assigned to nobody

[2021-07-22 07:54] florine2623 commented on #25390
Hello @danpetrean ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.presta

[2021-07-22 08:22] danpetrean commented on #25390
in the admin123 directory the index.php file is generated properly which means that the css files are called properly, but there is a file that overwrites their access rules. This is manifested only at this level of director.
in the lower directories for example: admin123 \ sell \ orders \ .... works properly.
can you help me to identify the file that generates the error in the admin123 directory?

[2021-07-22 08:50] florine2623 commented on #25390
You need to contact the support team for that or check on the forum.
As I sent before, I couldn't reproduce the issue on my end.

[2021-07-22 08:50] #25390 closed, assigned to nobody

[2021-07-22 09:09] florine2623 commented on #25393
Hello @Vitamixlife ,

This bug has been fixed in PS 1.7.7.X.
Please check my screen record on my PS 1.7.7.5 :
https://drive.google.com/file/d/1hIc27Mxa_KYWv-KX2vLWRjE_EPSepXxw/view

104.40 * 25%100 + 8.40 = 34.50

I'll close the issue as it is fixed.
Thanks!

[2021-07-22 09:09] #25393 closed, assigned to nobody

[2021-07-22 09:21] evoprint opened #25397 "BO ORDERS - Purchased products are not displayed in the orders section"
#### Describe the bug

Problem in the BO - order part: the products purchased by the customer are not listed in the summary order, nor in the invoice, nor in the database.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. Click on one of your customer orders
3. Scroll down to 'Products purchased' / 'Produits achetés'
4. See error

**Screenshots**

<img width="599" al

[2021-07-22 09:35] abramofranchetti opened #25398 "Management of purchase multiples"
#### Problem:

Often it can happen that a product, in addition to having a minimum sales quantity, can only be sold in multiples of a certain quantity. ex a product may only be sold in multiples of 5, but with a minimum quantity of 10.
So at least 10 pieces, then 15, 20, 25 and so on.
At the moment Prestashop cannot handle this thing in Standard.
#### Describe the solution you'd like

It would be

[2021-07-22 09:47] lennertvhoy opened #25399 "Unable to delete combinations"
#### Describe the bug

Once combinations are entered they cannot be deleted.

#### Expected behavior

I would expect the combinations to be deleted when I press the little trash can icon.

#### Steps to Reproduce

Steps to reproduce the behavior:

Go to: Products -> New product -> Product with combinations -> Add some combinations -> Try to delete them with the trash can icon

[2021-07-22 10:00] florine2623 commented on #25399
Hello @lennertvhoy ,

I tested with PS 1.7.7.5 and I cannot reproduce your issue.
Please check my screen record :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

You will find [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/) the system requirements of PrestaShop, make sure your config is compatible with PrestaShop.

If you have questi

[2021-07-22 10:00] #25399 closed, assigned to nobody

[2021-07-22 10:06] florine2623 commented on #25397
Hello @evoprint ,

In PS 1.7.7.5, this option does not exist :
![Information-about-customer-J-DOE-•-ps1775](https://user-images.githubusercontent.com/16019289/126622782-94d0535f-9f33-4b83-96e1-9055fed76018.png)

It seems like this info comes from an external module.
Please check and feedback.
Thanks!

[2021-07-22 10:15] sergiobm3 opened #25400 "Languages webservice"
#### Describe the bug

If I add resources like product_option, product_option_values, product_features, product_feature_values sme adds the translation of the main language but when I update the Product resource the translations of the missing languages are not added, why? .

#### Expected behavior

In the products, the translations of the missing languages should also be added to the translation

[2021-07-22 10:25] florine2623 commented on #25400
Hello @sergiobm3 ,

Could you share the exact steps to reproduce the issue please ?

Thanks!

[2021-07-22 11:11] polrue opened #25401 "Product carrier limitation ignored if more products are added on the cart"
#### Describe the bug

Product A:
Has carrier limitations, the only carriers available are the ones that ship to country X

Product B: Has no limitations

Client registers from country Y.

If the product A is added to the cart the right message appears: "no carriers are available for this order"
If then, you add the product B, the order can be completed.

#### Expected behavior

The impossibility

[2021-07-22 11:28] sergiobm3 commented on #25400
1. Have two different languages on PrestaSHop.
2. Add an element to the product_feature resource with just one translation.
3. Check that the translation of the other language has been generated.
4. Add an element to the Product resource with just one translation.
5. Check that no translations have been generated.

[2021-07-22 11:55] matks commented on #18547
@atomiix

[2021-07-22 11:55] matks commented on #18547
Do we close this issue @atomiix ? Step "all native modules must be compatible with PHP 8.0 (CI must add check for PHP 8.0)" is not done yet. We can open another issue (or many issues) for the last step.

[2021-07-22 12:01] florine2623 commented on #25401
Hello @polrue ,

Yous issue is a duplicate of : https://github.com/PrestaShop/PrestaShop/issues/15304
Please check and feedback.

Thanks!

[2021-07-22 12:02] mickaelandrieu opened #25402 "Drop Guzzle in favor of Symfony HTTP client"
#### Is your feature request related to a problem?

Yup, since the introduction of Guzzle to manage the PrestaShop Addons API the core team is annoyed but this package.
Since the migration to Symfony 4 have been done, why not rely on the Symfony HTTP Client and remove Guzzle ?

#### Describe the solution you'd like

1. Add the dependency symfony/http-client (afaik the API don't change in v4/v5, ne

[2021-07-22 12:04] florine2623 commented on #25398
Hello @abramofranchetti ,

Modules that do this feature exist on the addons marketplace.
For example, this one : https://addons.prestashop.com/en/cross-selling-product-bundles/25969-sell-by-x-units.html#specifications

I'll ping PS Product team to have their point of view on that.
Thanks!

[2021-07-22 12:05] florine2623 commented on #25398
ping @PrestaShop/product-team

What do you think about this feature ?

Thanks!

[2021-07-22 12:09] evoprint commented on #25397
Hi @florine2623

Thanks for your answer !

As for me, I got a little confused in the different parts of Prestashop, however, the PHP version is the right one, 7.4, and the information of the products purchased by the customer are well present in the version 1.7.7.5 of Prestashop.

I attach other photos with more precision.

Thank you for your help !

![Capture d’écran 2021-07-22 à 13 58 36](http

[2021-07-22 12:17] florine2623 commented on #25402
Hello @mickaelandrieu ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implemen

[2021-07-22 12:22] atomiix commented on #18547
@matks I guess we can close it yes, actually, except for `productcomments` & `blockreassurance` that we don't know yet if they are compatible with php8, the other seems to be!

[2021-07-22 12:24] PierreRambaud commented on #18547
I'm not sure we can close this one until all our modules are compatible and integrate into the composer.json file

[2021-07-22 12:25] florine2623 commented on #25397
Hello @evoprint ,

You need to use PHP 7.3, not 7.4. 7.4 is not compatible with PS 1.7.7.5
<img width="741" alt="Screenshot 2021-07-22 at 14 24 59" src="https://user-images.githubusercontent.com/16019289/126638602-9ebd5c96-c83c-4cb3-8d02-48fc89474fe2.png">

In the order section, the products are well displayed :
<img width="1428" alt="Screenshot 2021-07-22 at 14 21 12" src="https://user-images.git

[2021-07-22 12:25] #25397 closed, assigned to nobody

[2021-07-22 12:32] polrue commented on #25401
Yes, it seems so.

I did search before but I couldn't find it.

Now I see there are lots of duplicates of it and it has been there for more than 2 years

[2021-07-22 12:32] #25401 closed, assigned to nobody

[2021-07-22 13:14] #21847 closed, assigned to Progi1984

[2021-07-22 13:20] florine2623 commented on #25401
Duplicate of #15304

[2021-07-22 13:26] #25134 closed, assigned to Progi1984

[2021-07-22 14:21] artinux commented on #12300
I've the same issue I translation of Override doesn't work

[2021-07-22 15:01] eternoendless commented on #24235
A performance regression is a **bug**, not an improvement. A request to improve the existing (not degraded) performance would be a feature request.

[2021-07-22 15:47] toyser opened #25404 "1.7.5 php7.3 no access to front office"
#### Describe the bug

The front office is all white page

#### Expected behavior

If i make a backup the FO works but when i clean the cache, the issue back again.
I clean the cache by prestashop and manually, the issue persists....

![bug1](https://user-images.githubusercontent.com/53787145/126668418-c956a04f-cf0f-4c09-96e3-87255271c14d.png)

My site is accessible here : https://vertchez-soi.com

[2021-07-22 15:53] florine2623 commented on #25404
Hello @toyser ,

Please use PHP 7.2.
Here's the compatibility chart of PrestaShop : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2021-07-22 15:53] #25404 closed, assigned to nobody

[2021-07-22 15:55] eternoendless commented on #12300
The translator interface does not analyze code outside modules and themes, this is the reason why you can't translate them using the BO interface. If you want to add a custom wording, you can do so in a module by opting in to the new translation system, creating a PHP file within your module (doesn't need to be used, just present), then adding `trans('New wording', 'Modules.Yourmodulename.Whatever

[2021-07-22 15:55] #12300 closed, assigned to nobody

[2021-07-22 15:58] Vitamixlife commented on #25393
Thank you very much @florine2623, but I can't upgrade to 1.7 for some reasons, is it possible to fix this by editing the code?

thks in advance

[2021-07-22 16:09] justeen35 opened #25405 "If 2 products are in the cart, and one of them cannot be ordered but the other can, you can pay."
#### Describe the bug

If 2 products are in the cart, and one of them cannot be ordered but the other can, you can pay.

#### Expected behavior

A message should tell customer that one of the item cannot be shipped, or no carriers should be displayed for customer when customer wants to checkout.

#### Steps to Reproduce

Steps to reproduce the behavior:

1.  Create two products
2. Associate one of

[2021-07-22 16:32] florine2623 commented on #25405
Hello @justeen35 ,

Your issue is a duplicate of : https://github.com/PrestaShop/PrestaShop/issues/15304
Please check and feedback.

Thanks!

[2021-07-22 20:24] justeen35 commented on #25405
Correct. I close my issue.

[2021-07-22 20:24] #25405 closed, assigned to nobody

[2021-07-22 20:32] justeen35 commented on #15304
Check my suggestion https://github.com/PrestaShop/PrestaShop/pull/25407

[2021-07-22 21:50] Xzave opened #25408 "if module in prestashop 1.7.5.* do not uninstall or reset in BO: solution server side"
#### Describe the bug

i meet always the same error in red in BO: the module do not to uninstall or reset.
In error.log file of the site i have some errors.

other idea is to install a module but it doesn't work unfortunatly or when you reinstall it anything help even with remove all trace of the module in the database.

#### Steps to Reproduce

1. install or uninstall module in >module manager wh

[2021-07-22 22:24] DrVallo commented on #25370
Hi @hibatallahAouadni  ,
sorry for posting again in this closed report, but unfortunately I still have not been able to solve my problem.
I would like to understand if I am doing something wrong, or if there is a bug in the latest developer version of PS.

[2021-07-22 22:25] DrVallo commented on #25370
Hi @hibatallahAouadni  ,
sorry for posting again in this closed report, but unfortunately I still have not been able to solve my problem.
I would like to understand if I am doing something wrong, or if there is a bug in the latest developer version of PS.

[2021-07-22 22:58] Nainterceptor commented on #10844
Hi, same error here with 1.7.7.5, trying to translate to arabic

[2021-07-23 00:24] djbuch opened #25409 "BO: Product form is slow when having a lot of categories (2000+)"
#### Describe the bug

When having a shop with a lot of categories, the loading of the product form is very slow (4-5sec).

#### Expected behavior

It should be much more quick, max 2 sec

#### Steps to Reproduce

Create a shop with 2000+ categories, and try to load product form in BO.

I investigated a bit, and it seems it is the twig rendering of the category form elements that slows the whole d

[2021-07-23 07:30] florine2623 commented on #25409
Hello @djbuch ,

Your issue seems to be a duplicate of : https://github.com/PrestaShop/PrestaShop/issues/19281
Can you check and confirm please ?

Thanks!

[2021-07-23 07:31] florine2623 commented on #25408
Hello @Xzave ,

Please follow the issue template :
<img width="622" alt="Screenshot 2021-07-23 at 09 31 34" src="https://user-images.githubusercontent.com/16019289/126750562-3faddfc7-f4dd-42ba-82f2-20ef6634d0ef.png">

Thanks!

[2021-07-23 07:52] djbuch commented on #25409
Hi,

yes I thinks these issues are linked. But it seems that it is not a javascript problem, but a TWIG rendering problem.

Regards

[2021-07-23 08:57] #23498 closed, assigned to Progi1984

[2021-07-23 10:43] Celeanmode commented on #25368
Hi,

I have a PHP 7.4 so that should be good.
It just seems to get stuck, I tried installing it again, tried on different browsers like Chrome, Avast security browser, Microsoft edge... But every time the same problem :(

[2021-07-23 11:25] Hsalehm opened #25412 "PS 1.7.4 The new functionality of change of carrier in the orders already made does not work"
#### Describe the bug

In an order already made, sometimes we have to change the delivery address, after changing the delivery address, the carrier does not change to the new address (which of course is covered by a carrier and the old carrier does not cover the new address), but that's okay, let's go to the section of "carrier" and we click "modify", this activates the drop-down of the carriers a

[2021-07-23 12:30] florine2623 commented on #25412
Hello @Hsalehm ,

I can't reproduce your issue in PS 1.7.7.3 nor PS 1.7.7.5 as you can see per my screenrecord :
https://drive.google.com/file/d/1u0HD6CoOTQrEx4eaS0Zvzdw-uYcsNV9g/view

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider on

[2021-07-23 12:30] #25412 closed, assigned to nobody

[2021-07-23 12:33] florine2623 commented on #25368
You need to use PHP 7.3 with PS 1.7.7.5 :
<img width="756" alt="Screenshot 2021-07-23 at 14 32 57" src="https://user-images.githubusercontent.com/16019289/126782130-c90cebd6-46b6-4c99-971e-78bf2e3c5aa6.png">

[2021-07-23 13:02] Celeanmode commented on #25368
Hi,

I adjusted the PHP to 7.3. But still face the same problem

[2021-07-23 13:54] centoasa opened #25414 "issue on total when change courier on admin"
prestashop 1.7.7.5 on litespeed webserver
I have set up a free shipping when an order is over € 50.
When I am on an order and I change the courier with another paid one, the total of the order (only the total) changes and the value of the shipment is still added even if this flag is off
https://nimb.ws/JrHXi4
Thank you

[2021-07-23 13:58] Gaja-A opened #25415 "Disable Empty Categories"
Hi,

I want to hide the empty categories (without products) in the category page. I tried some solutions in the forums but nothing helped me.
I use **ps_categorytree** module.

PS version: 1.7.6.1

Does anyone have a solution ?

Regards,
Gaja

[2021-07-23 14:01] florine2623 commented on #25414
Hello @centoasa ,

Please edit your request with the issue template provided :
<img width="921" alt="Screenshot 2021-07-23 at 16 00 46" src="https://user-images.githubusercontent.com/16019289/126793060-fac39338-421c-4237-8abc-3d3868a3fc16.png">

Thanks

[2021-07-23 14:04] florine2623 commented on #25415
Hello @Gaja-A ,

You need to uncheck the display option in your category :
<img width="1170" alt="Screenshot 2021-07-23 at 16 03 04" src="https://user-images.githubusercontent.com/16019289/126793546-0fefe712-9555-41a9-bc3d-e6d9d25f6db7.png">

Thanks!

[2021-07-23 14:04] #25415 closed, assigned to nobody

[2021-07-23 14:42] Gaja-A commented on #25415
Hi,

Thanks for your reply.
Is there any way to achieve this effect in code?
Because there are more than 100 categories that I want to hide so it will be better to do it in code.

Thanks in advance for your help.

Regards,
Gaja

[2021-07-23 15:43] eternoendless commented on #25402
I just saw a very interesting [intro by Nicolas Grekas from 2019](https://symfonycasts.com/screencast/london2019/http-client-what-else).

I understand the advantages of switching libraries, and I see that there's some interoperability built-in, meaning that you can transform an HttpClient into other clients' interface, which is nice... as long as the other libraries are are coded to depend on inte

[2021-07-23 20:04] matks opened #25416 "Analyze our Composer and NPM dependencies and drop irrelevant dependencies"
#### Is your feature request related to a problem?

As mentioned in https://github.com/PrestaShop/PrestaShop/pull/25296#pullrequestreview-703364865

#### Describe the solution you'd like

Analyze our Composer and NPM dependencies and drop irrelevant dependencies.

#### Additional context

This is a Backward Compatibility Break but we can do it for next major.

[2021-07-24 07:20] hibatallahAouadni commented on #25379
Hello @AdrievandeVreede

Could you please edit your proposed solution cause it's kind of confused 🤔 do you mean that you need to customize your BO css like the FO or something else?
Please check and feedback.

Thanks!

[2021-07-24 07:27] hibatallahAouadni commented on #25385
Hello @farzadaaa

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-07-24 07:27] #25385 closed

[2021-07-24 07:32] hibatallahAouadni commented on #25394
Hello @venditdevs

Thanks for your PR 🚀

[2021-07-24 07:42] hibatallahAouadni commented on #25414
Hello @centoasa

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-07-24 07:43] #25414 closed, assigned to nobody

[2021-07-24 07:50] hibatallahAouadni commented on #25370
Hello @DrVallo

There's no problem with latest version! Everyone can execute the `make install` command successfully.

Could you please post your issue in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2021-07-24 07:57] AdrievandeVreede commented on #25379
Thank you for letting me know. I have changed the description of the solution. I hope it's more clear now!

[2021-07-24 08:02] hibatallahAouadni commented on #25135
Hello @diksha-cedcoss

Could you please provide a screenshot of the expected behavior.

Thanks!

[2021-07-24 09:21] mmkm1010 opened #25417 "error sent by addons you may need to be logged prestashop"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-07-24 09:27] centoasa opened #25418 "issue on total when change courier on admin"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

when I change courier on active order, even if this flag is off (see this https://nimb.ws/JrHXi4 )  the total of the order (only the total) changes

![image](https://user-images.githubusercontent.com/1533248/126998100-70f7df63-8733-41c2-9551-0b78debf7925.png)

#### Steps to Reproduce

Steps to repro

[2021-07-24 18:03] SarunasKnabikas commented on #9662
This worked for me in 1.7.7.5 version.

[2021-07-25 08:59] vdigitalize opened #25420 "Invalid Stock Count on Admin Catalog List View"
![1](https://user-images.githubusercontent.com/87258693/126893353-5ffe3c4f-b251-4bd1-94ea-b56286cb857b.PNG)
In this above image, if you can see the Product ID number 1166 is having multiple combinations, and also check the Stock available count. Now check the below image where you can see only 4 combinations are actually present in the system.
![2](https://user-images.githubusercontent.com/8725869

[2021-07-25 09:07] vdigitalize commented on #25420
To reproduce the issue, i think you can create new product and save the product without combinations and set any stock say 10 or 20 in Quantity field under basic information tab.
And then after the product is created successfully, then set the combinations and add combination from the combinations tab.
I think then the stock quantity gets confused and show random number.

[2021-07-25 23:20] hibatallahAouadni commented on #25417
Hello @mmkm1010

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-07-25 23:20] #25417 closed, assigned to nobody

[2021-07-26 00:29] ManuelOscar commented on #22260
![Captura de pantalla 2021-07-25 192921](https://user-images.githubusercontent.com/87954288/126918576-69cc8a47-fd2d-42bc-b75d-f91bd084c8b9.png)

[2021-07-26 06:50] yannicka commented on #24117
Just to give an idea of the need for this application, I note here that this feature would be very handy for a client I have.

[2021-07-26 08:22] 3sal commented on #15785
Is there any update or anyone can direct me to fix available?

[2021-07-26 08:38] hibatallahAouadni commented on #25420
Hello @vdigitalize

I didn't manage to reproduce your issue with PS1775, see the attached screen record below:

https://drive.google.com/file/d/1GAgmuZC3iSHnXzrkxyMwC8PNgpfayyTK/view

Unfortunately, I have to close it, cause you didn't respect the provided template. So, when you open a new issue, **you must follow the template to submit a complete bug report**.

Read more about how we expect the i

[2021-07-26 08:38] #25420 closed, assigned to nobody

[2021-07-26 08:39] Hlavtox opened #25422 "BO responsivity - button text should not overflow"
#### Describe the bug
Longer buttons overflow their container on lower resolutions.

#### Expected behavior
They should wrap

#### Steps to reproduce

1. **BO** > **Edit your Profile**
2. Change your admin language to **Čeština (Czech)**
3. Save
4. Go to **Orders** > **Invoices**
5. On your browser, enable the **Toggle device toolbar**
6. Choose iPhone 5s view
7. See error

#### How to fix it
Remo

[2021-07-26 08:39] Hlavtox opened #25423 "BO responsivity - there should be more space on the bottom, if there is a floating button"
#### Describe the bug
You are unable to save or send a form that is on the bottom of the page, because the floating plus button is shown over it.

#### Expected behavior
Button should be usable.

#### How to fix it
Add additional padding to content-div, if there is this button. The user will be to scroll more and click the button just fine.

#### Screenshots
![mobile](https://user-images.githubuse

[2021-07-26 09:04] hibatallahAouadni commented on #25422
Hello @Hlavtox

Thanks for your issue! I reproduce the issue with develop and 178x. It's a regression! cause I didn't manage to reproduce it with PS1775, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/126963141-03bd3451-e551-4b3d-9a89-9f95a10983ac.png)

I think it's caused when we add the padding-right and padding-left to the content-div.
I’ll add t

[2021-07-26 09:28] Hlavtox commented on #25422
@hibatallahAouadni No it's caused by what I said :-) The button should be allowed to wrap. It should always fit no matter the outside container.

[2021-07-26 09:37] Hlavtox commented on #25422
@hibatallahAouadni This is standard behavior in Boostrap 4, so we need to override it. It's removed in Boostrap 5, I think they found out the same as we did. 👍

[2021-07-26 10:00] matks opened #25424 "1.7.7.x nightly campaign failing"
#### Describe the bug

The 1.7.7.x nightly campaign failing has been failing for several days now.

https://nightly.prestashop.com/

#### Expected behavior

The 1.7.7.x nightly campaign failing should be all green

#### Additional information

* PrestaShop version: 1.7.7.x

[2021-07-26 10:04] matks commented on #25424
On 16th of July, 40 issues on 1.7.7.x nightly campaign
Next day, 113
Next day, 1126
Next day, 108
Next day, 2196
Next day, 4058
Since then we remain around 4,000 failing tests

[2021-07-26 10:59] hibatallahAouadni commented on #25422
@Hlavtox yep I know :wink: I meant that the issue appears now cause we changed the paddings

[2021-07-26 11:04] ShaimyWinda opened #25426 "Bad image in relation to the declination"
#### Describe the bug

Hello,

I noticed that the cover image is always displayed first. When I have a variation of this product, the cover image should not appear. (see screen shot)

Can you help me ?

Thanks

![image](https://user-images.githubusercontent.com/25744417/126978893-bac59f7f-61db-432a-a0eb-e70abd21516d.png)

![image](https://user-images.githubusercontent.com/25744417/126978938-712ae7

[2021-07-26 11:44] mshassan96 commented on #18824
So no solution available yet ?
Facing same issue in 1.7.7.2

[2021-07-26 12:08] #24235 closed, assigned to nobody

[2021-07-26 12:08] marionf commented on #24235
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25413

[2021-07-26 12:11] Progi1984 commented on #23240
@PierreRambaud PrestaShop/autoupgrade#395 is merged.

[2021-07-26 12:19] matks commented on #25202
Following confirmation of bug https://github.com/PrestaShop/PrestaShop/issues/24235 we reopen this issue as a 1.7.7.6 release is now re-scheduled.

@matthieu-rolland will be release tech manager
@marionf  will be release product manager

[2021-07-26 12:32] kmorgen commented on #9591
Any change this could be prioritized soon?

The bug report is 3 years old now, and it affects all languages

[2021-07-26 12:38] #24872 closed, assigned to atomiix

[2021-07-26 13:17] hibatallahAouadni commented on #25418
Hello @centoasa

Thanks for your issue! I think you need to downgrade your PHP version to 7.3 cause it's not compatible with PS1775 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)).

I reproduce the issue with PS177, 178x and develop, see the attached screen record below:

https://drive.google.com/file/d/1Eg4XYl_GOGrA5oiT

[2021-07-26 13:58] hibatallahAouadni commented on #25423
Hello @Hlavtox

Even the **plus** button is displayed over the **Save** button, I can click on the **Save** button without any problem, see the attached screen record below:

https://drive.google.com/file/d/1u9tH7hsnU_vNry3WQ3LR0Zt5-RPx0hhK/view

Please check and feedback.
Thanks!

[2021-07-26 14:30] marionf commented on #9591
Hello,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contribute the

[2021-07-26 14:30] hibatallahAouadni commented on #25426
Hello @ShaimyWinda

Could you please specify in which version you encountred this issue. Cause I didn't manage to reproduce this issue with PS1775, see the attached screen record below:

https://drive.google.com/file/d/1DKq9tLLNgZDyGPq54KsPg2CK-zN0vAIU/view

Please check and feedback.
Thanks!

[2021-07-26 14:32] marionf commented on #18824
Hello,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contribute the

[2021-07-26 14:44] hibatallahAouadni commented on #25229
Hello @dzeek93

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-26 14:44] #25229 closed, assigned to nobody

[2021-07-26 14:46] hibatallahAouadni commented on #25234
Hello @dmartinez-softdil

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-26 14:46] #25234 closed, assigned to nobody

[2021-07-26 15:10] ShaimyWinda commented on #25426
Hello @hibatallahAouadni

My prestashop is 1.7.7.2

You can see my record
https://drive.google.com/file/d/1CSIXTjB1Tdfya7FQSnOj6hY2hkNv2BYl/view

Thanks

[2021-07-26 16:58] sowbiba commented on #25240
Cannot reproduce it

![Capture d’écran de 2021-07-26 16-57-04](https://user-images.githubusercontent.com/7426640/127028840-006f7451-a917-41af-833a-0ea9b3b01ce2.png)

can you try it again @khouloudbelguith ?
Maybe linked to the translation packs not up to date

[2021-07-26 17:51] kmorgen commented on #9662
Works here too with PS 1.7.7.5 and Dashgoals v2.0.2
Maybe someone could do a pull request for this, so it can be officially fixed?

[2021-07-26 18:21] chrisvanberg commented on #9662
@kmorgen I agree with you. I'll start a pull request next week to fix it.

[2021-07-27 04:25] num47 opened #25429 "Product Specific Description field for products with Combinations"
#### Is your feature request related to a problem?
Yes

I have products with two-three hundred combinations. It becomes impossible to give separate descriptions or add few extra large images in the description box for all those different combinations.

#### Describe the solution you'd like

If there were an option for a description field that can be added to a specific product combination that wil

[2021-07-27 05:58] Tezar opened #25430 "Unable to set fees for ps_cashondelivery module"
#### Describe the bug
Configuration form for dashboard shows only fees for payment methods from `payments_gateways` tab. `ps_cashondelivery` does not have the tab set, so it doesn't show. The values in the DB for this method are set however . There is no way to zero them except the direct database edit.

#### Expected behavior
Either do not set fees for `ps_cashondelivery` or (preferably) have the

[2021-07-27 07:18] matks commented on #25424
After a dive into our GCP machines configuration, @atomiix found the faulty settings and fixed it. Today 1.7.7.x nightly campaign is full green.

[2021-07-27 07:18] #25424 closed, assigned to atomiix

[2021-07-27 07:19] #21745 closed, assigned to Progi1984

[2021-07-27 07:35] lennertvhoy opened #25431 "Problem when trying to select pictures for specific combinations: "The CSRF token is invalid. Please try to resubmit the form.""
#### Describe the bug

I'm trying to create a product with 51 pictures and 54 possible combinations. Almost every combination needs to display a different picture except for 4 which have to display the same picture. Once I upload all of the pictures a warning appears: "The value of the PHP.ini setting "max_input_vars" must be increased to 2000 in order to be able to submit the product form." but t

[2021-07-27 07:38] florine2623 commented on #25430
Hello @Tezar ,

This is not a bug, more an improvement. So I'll ping the product team to have their point of view on that topic.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement

[2021-07-27 07:39] florine2623 commented on #25430
ping @PrestaShop/product-team ,

What do you think about @Tezar 's suggestion ?

Thanks!

[2021-07-27 07:49] florine2623 commented on #25429
Hello @num47 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this fe

[2021-07-27 07:50] florine2623 commented on #25429
ping @PrestaShop/product-team ,

What do you think about @num47 's idea of adding a "Description field" for each combination ?

Thanks!

[2021-07-27 07:54] florine2623 commented on #25431
Hello @lennertvhoy ,

It seems like your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9809
Please check and feedback.
Thanks!

[2021-07-27 07:59] florine2623 commented on #25368
Hello @Celeanmode ,

Please go [here](https://www.prestashop.com/en/versions), download a stable version and reinstall your store.
Make sure to delete all files and content of your databse before.

If you still can't do it, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/f

[2021-07-27 07:59] #25368 closed, assigned to nobody

[2021-07-27 08:01] jf-viguier opened #25432 "force_id not working with lang table in Object Model"
#### Describe the bug

In `objectModel`, `force_id` is useful if you wants to set your id, by example if you have a primary as `id_product` in an extra table.
When you call `add()` method, it works well for base table but not for `_lang` table.

#### Expected behavior
The provided id should be used correctly in `_lang` tables

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an

[2021-07-27 08:20] lmeyer1 commented on #24321
I can confirm this issue.

    foreach ($products as $k => $field) {
        $newStat = new Statistics();
        $newStat->id_product = $field['id_product'];
        $newStat->id_product_attribute = $field['id_product_attribute'];
        $newStat->id_shop = $this->context->shop->id;  <= exception here
        $newStat->save();
    }

There are two problems with this line:
- `$this` is used insid

[2021-07-27 08:29] florine2623 commented on #25379
ping @AdrievandeVreede and @hibatallahAouadni

From what I understood, it means being able to envision the changes directly in the BO.
For example able to see this :
<img width="1135" alt="Screenshot 2021-07-27 at 10 28 26" src="https://user-images.githubusercontent.com/16019289/127122391-8b4bcb71-11b5-49b7-bda0-52b241d76f2c.png">
Directly here :
<img width="778" alt="Screenshot 2021-07-27 at 10 2

[2021-07-27 08:31] florine2623 commented on #25409
Hello @djbuch ,

Thanks for confirming.
It is better if you could follow the thread directly #19281. If you have anything to add, please do so in the original issue.

I'll close this one as it is a duplicate.
Thanks !

[2021-07-27 08:31] #25409 closed, assigned to nobody

[2021-07-27 08:31] florine2623 commented on #25409
Duplicate of #19281

[2021-07-27 08:40] florine2623 commented on #25408
Hello @Xzave ,
Thanks for updating your issue.

The module you can't install is a native module from PrestaShop ?
Which one is it ?

I tested with a few native modules and didn't encounter the error "the module do not to uninstall or reset."

[2021-07-27 08:44] AdrievandeVreede commented on #25379
That's right

[2021-07-27 08:48] Tezar commented on #25430
Thanks for fast reply @florine2623

Would it be better if I rephrase bug description "profit margin calculations are off by substantial amount even when all fees all set to zero"? Because that's primarly what's broken. From enduser/merchant point of view, (s)he would expect profit calculation to be fairly accurate. The "improvement" I have described is fix to that issue (because I tried to find ro

[2021-07-27 09:08] lmeyer1 opened #25434 "Blockwishlist module adds modals into <head>"
#### Describe the bug

The html markup generated by blockwishlist is invalid. It adds the html code of the models using `hookDisplayHeader`, thus they are ending up inside the `<head>` tag instead of the `<body>`.

#### Expected behavior

The generated HTML code should be valid.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. With blockwishlist installed look at the source code. You

[2021-07-27 09:37] ubergenki opened #25436 "Can't add a carrier to the shipping details information"
#### Describe the bug

Hello,

I've upgraded my prestashop to version 1.7.7.5, and now when I try to enter the tracking information on the order details screen, I can't because no options appear in the Carrier field.

#### Expected behavior

I have several carriers enabled and I can enter the tracking number, but I can't choose a carrier and so can't share tracking information with customers. All

[2021-07-27 09:57] khouloudbelguith commented on #25240
Hi @sowbiba,

Yes, you are right.
I did not manage to reproduce the issue with branch 1.7.8.x
![image](https://user-images.githubusercontent.com/16067358/127135043-75dcd5f2-08d6-4afa-b0b8-06b43c94770b.png)

I will close the issue.

Thanks!

[2021-07-27 09:57] #25240 closed, assigned to sowbiba

[2021-07-27 10:09] Julievrz commented on #23116
I agree that the "email" label might not be necessary here, but maybe a label "Groups:" could be useful?

However, is the ID of the group really necessary? Isn't the name of the group sufficient? I find the # everywhere confusing, especially since there is already a # in the top right-hand corner that has a different purpose.

[2021-07-27 10:12] Hlavtox commented on #23116
@Julievrz @prestascott I would also ditch the ID, not needed IMHO, they should not have duplicate names... 👍

Yeah, but I would do only **Group: Customer** or **Groups: Customer, VIP customer**, we will save a bit of space.

[2021-07-27 10:14] hibatallahAouadni opened #25437 "[BO] Create Order - switch the address Delivery/Invoice, it display the wrong Invoice/Delivery address"
#### Describe the bug

When you change the Delivery address, the invoice changes not the Delivery (and vice-versa)

#### Expected behavior

When I change the Delivery address, the invoices doesn't change

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **SELL** > **Orders** > **Orders**
2. Click on **Add new order**
3. Choose a cusomer and add a product
4. Scroll down to **A

[2021-07-27 11:17] Alpescol opened #25438 "PHP Fatal error - Kernel Container is not available in /var/www/html/www/src/Adapter/ContainerFinder.php:77"
#### Describe the bug

I can't delete or create new client in BO
I can't create or change an order in BO

When we check the logs during going to customers or orders menu, there is this message :

PHP Fatal error:  Uncaught PrestaShop\PrestaShop\Core\Exception\ContainerNotFoundException: Kernel Container is not available in /var/www/html/www/src/Adapter/ContainerFinder.php:77
Stack trace:
#0 /var/w

[2021-07-27 12:28] florine2623 commented on #25438
Hello @Alpescol ,

I can't reproduce both of your issues in PS 1.7.7.5.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [

[2021-07-27 12:28] #25438 closed, assigned to nobody

[2021-07-27 12:57] florine2623 commented on #25436
Hello @ubergenki ,

I can't reproduce your issue in PS 1.7.7.5 :
<img width="648" alt="Screenshot 2021-07-27 at 14 56 14" src="https://user-images.githubusercontent.com/16019289/127157246-c7f29382-e822-469f-afce-919c0ca6d794.png">

You need to make sure this option is activated :
<img width="650" alt="Screenshot 2021-07-27 at 14 36 05" src="https://user-images.githubusercontent.com/16019289/127154

[2021-07-27 12:57] #25436 closed, assigned to nobody

[2021-07-27 13:07] hibatallahAouadni commented on #25423
Hello @Hlavtox

After discussing the issue on Slack, the **plus** button need to be displayed just below the **div**, so the user can click and read the **Save** button.

It's a **bug**! and as this button is a new feature on develop and 178x, so it's not a regression! I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs

[2021-07-27 13:23] Hlavtox commented on #15137
My notes on this:
- First we need to register that faceted search can provide search for additional controllers - so in Hook/ProductSearch.php removing of the condition on id category. Instead, we will check if the query comes from a supported controller.
- That made faceted search popup and work on other pages, with my filter I set on categories - currently exploring.

[2021-07-27 13:25] florine2623 commented on #25434
Hello @lmeyer1 ,

In the FO, my block wishlist is in the <body> :
<img width="1103" alt="Screenshot 2021-07-27 at 15 24 36" src="https://user-images.githubusercontent.com/16019289/127161278-52dad151-7072-4cad-878d-cf3ddf49823b.png">

Am I missing something ?
Thanks!

[2021-07-27 13:33] ubergenki commented on #25436
@florine2623 Thank you for the quick response!
I have the recalculate option set to on and the carriers all cover the customer’s address.
I’m not sure why no other carrier option is being shown, so please let me know if you have any other setting suggestions.

[2021-07-27 13:40] popo559 commented on #22215
Hello every one ,
I got same problem after new install 1.7.7.5 and use migration module to transfer the data.
I have try the method of @DelosTR,, but still no working, always same bug report..

pls help

[2021-07-27 13:51] lmeyer1 commented on #25434
@florine2623
In Chrome Dev Tools, when you look at `Inspect element (Ctrl-Shift-I)`, you will not see the same thing as when you look at `Show source code of page (Ctrl-U)`.
The issue shows using `Ctrl-U`, this is the real source code. When you look at `Ctrl-Shift-I`, you don't see the source code that was sent to the browser, but the code of the page in memory, as he was modified during page load

[2021-07-27 14:02] florine2623 commented on #25426
Hello @ShaimyWinda ,

Using PS 1.7.7.2 and classic theme, I can't reproduce your issue :
https://drive.google.com/file/d/1q2Usblbfj3iQh67ZRtQQeH3_Fv3_7sub/view

I suggest contacting the developer of the template to fix this issue.
I'll close this issue as I can't reproduce it.
Thanks!

[2021-07-27 14:02] #25426 closed, assigned to nobody

[2021-07-27 14:06] hibatallahAouadni commented on #25371
FYI: as this data is new feature, so it's a bug and not a regression!

[2021-07-27 14:16] #25197 closed, assigned to atomiix

[2021-07-27 15:41] Progi1984 commented on #9591
@marionf Hi, it seems that the list given by @LouiseBonnard needs to be up to date. I have begun some localizations in #25440 but a lot of items on this list are well localized. If you do a list, could you add some screenshots (for precising the good location of date to translate)

[2021-07-27 15:44] florine2623 commented on #25434
Thanks for the details @lmeyer1 ,

Indeed I have the same result as you in PS 1.7.7.5 and PS 1.7.8.x with blockwishlist module v2.0.1.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a spe

[2021-07-27 15:46] kpodemski opened #25441 "Cannot uninstall module from the Module Manager"
#### Describe the bug

Try to uninstall any module from the module manager, you'll see the error saying "Cannot perform the action on the undefined module"

#### Expected behavior

Successful uninstallation of the module

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open the Module manager
2. Try to uninstall a module
4. See error

#### Additional information

* PrestaShop version

[2021-07-27 15:53] florine2623 commented on #25432
ping @PrestaShop/prestashop-core-developers

Could you take a look at this issue in order to reproduce it ?

Thanks!

[2021-07-27 16:10] deepindersingh83 commented on #25441
Same Issue with the Prestashop version: 1.7.7.5
PHP version: 7.4

[2021-07-27 16:17] florine2623 commented on #25441
Hello @kpodemski ,

I can't reproduce your issue in PS 8.0.0.

I successfully uninstalled module Available Quantities :
<img width="434" alt="Screenshot 2021-07-27 at 18 16 26" src="https://user-images.githubusercontent.com/16019289/127190140-6596a76f-335a-4c0d-a17f-47d2ba6fe4ee.png">

Did you try with a specific module ?

Thanks!

[2021-07-27 16:18] kpodemski commented on #25441
@deepindersingh83 PrestaShop 1.7.7 is not compatible with 7.4, can you try with 7.3?

[2021-07-27 16:20] kpodemski commented on #25441
@florine2623

any module, it cannot work because `$(this)` is not in the right context if there's an arrow function syntax used

have you tried to run `make assets`? this error is coming from TypeScript version of the script

[2021-07-27 16:39] matks opened #25443 "Contextual Help issues on legacy pages"
#### Describe the bug

On legacy pages (example: Dashboard or Configure > Shop parameters > Search), contextual Help has 2 issues.

![Capture d’écran 2021-07-27 à 18 37 39](https://user-images.githubusercontent.com/3830050/127193425-4c77076d-277b-473d-b39c-c9ce072c8431.png)

1. If we click the "Home" button we see the Homepage, it prints "PrestaShop 1.6 User Guide" although this is PS 1.7

2. If

[2021-07-27 17:09] khouloudbelguith commented on #9967
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24991

[2021-07-27 19:42] shacker2 commented on #9599
any updates for this?

[2021-07-27 21:21] matks commented on #19265
A great work has been started by @TristanLDD and @MatShir to make it better :) I close the issue as it will be taken care of in new Product Page

[2021-07-27 21:21] #19265 closed, assigned to nobody

[2021-07-27 21:22] matks commented on #19264
A great work has been started by @jolelievre and @zuk3975  to make it better :) I close the issue as it will be taken care of in new Product Page

[2021-07-27 21:22] #19264 closed, assigned to nobody

[2021-07-27 21:24] matks commented on #19118
Hello again, no more answers from maintainers team. Even though we could try to walk this way with PHP, I don't think this is a good thing for PrestaShop. Hosting environments have tools a lot more efficient to achieve this. PrestaShop software must focus on its main features: be a e-commerce CMS, allow people to sell, be customizable

[2021-07-27 21:24] #19118 closed, assigned to nobody

[2021-07-27 21:25] matks commented on #18658
Unfortunately, there is a little or no documentation about each order detail database fields.

@jolelievre and @zuk3975 have explored deeply the Order page and might have some insights that they will write into our documentation, this might help.

[2021-07-27 21:27] matks commented on #16912
I removed the "waiting for dev" as we know what has to be done. I add the label "To Do".

[2021-07-27 21:28] matks commented on #16515
Sorry for late answer. We have no idea. The person that will work on this bug will have to find out.

[2021-07-27 21:30] matks commented on #15774
Question for @jolelievre : would it be OK to be able to use HTTP POST request on `/api/stock_movements/` to create new stock movements to modify warehouse stock? I know recently you fixed bugs related to this. Or would that put the database in an inconsistent state?

[2021-07-27 21:32] matks commented on #16386
@khouloudbelguith Sorry for late answer, I'm not sure why you pinged us

That being said, could it be possible to clean a bit this github issue, because right now it's hard to find the exact issue between all the discussions 😅  ?

[2021-07-27 21:34] matks commented on #13226
To Do.

Someone with good apache knowledge should review each change suggested by @amtriorix and add them inside the Core. To be done one day.

[2021-07-27 21:35] matks commented on #13087
To Do.

[2021-07-27 21:36] matks commented on #13024
Sorry for late answer, I confirm this is a bug.

[2021-07-27 21:40] matks commented on #13870
ping @jf-viguier I think you mentioned the need for this recently 😉 (but it was for modules I think)

[2021-07-27 21:42] matks commented on #13749
@sowbiba I think recently you encountered this issue: multiple cache clear can make the process slow. Do you have a workaround, or is it still something that needs to be solved?

[2021-07-28 06:31] hejmi opened #25444 "No carrier available when using voucher"
#### Describe the bug

Carrier is not available when using voucher on checkout.
Using 1 carrier and 1 voucher, if voucher is disabled in BO everything works as it supposed to, enabling it in BO the carrier is not available in checkout.
If steps to reproduce is followed and the voucher is inactivated in BO afterwards, the checkout process will work fine again.

#### Expected behavior

Checkout proc

[2021-07-28 07:04] matks commented on #25434
Nice bug report @lmeyer1 thanks 😉

[2021-07-28 07:36] #16695 closed, assigned to matks

[2021-07-28 07:48] Progi1984 commented on #24529
Fixed by @jolelievre in #24991

[2021-07-28 07:48] #24529 closed, assigned to jolelievre

[2021-07-28 07:48] Progi1984 commented on #9967
Fixed by @jolelievre in #24991

[2021-07-28 07:48] #9967 closed, assigned to jolelievre

[2021-07-28 07:53] matks commented on #25181
Fixed in ps_socialfollow 2.2.0

[2021-07-28 08:18] hibatallahAouadni opened #25446 "[Responsive] - Bad display of the Product list header"
#### Describe the bug

We have a problem with Product page (see the attached screenshot below)
This problem occurs cause the page doesn't have a card-header.

#### Expected behavior

- Removed redundant code like **row>col-md-12**, **container-fluid**
- Removed hackjobs like `.row + .row {` and margins removed from `.row`
- Used proper classes for automatic styling, like **card** and **card-body**

[2021-07-28 08:36] jf-viguier commented on #13870
@matks yes, it's a big issue. I use legacy trads in my modules.

[2021-07-28 09:00] zuk3975 commented on #18658
I've found the issue, however I'm not sure how to fix it correctly.
1. when specific price is being created, if $price is left as "initial product price" then -1 is set. (idk why not 0, but legacy code seems to depend on '-1' everywhere).
![Screenshot from 2021-07-28 11-51-14](https://user-images.githubusercontent.com/31609858/127294604-93a224ac-9924-4e87-ac57-143933ad797c.png)

2. When price is c

[2021-07-28 09:05] Whip commented on #25222
I'm also facing a similar issue. Its a module that shows discounted products on the home page, I tried to order them by position but it doesn't work. The theme developer says that the problem comes from file `classes/Product.php` Line 2868

[code]

[2021-07-28 09:09] jolelievre commented on #25208
The `Carrier:: id_tax_rules_group` field no longer exists in the entity, so the issue is legitimate indeed

[2021-07-28 09:19] hibatallahAouadni commented on #25441
Hello @kpodemski

Thanks for your report!
Yes, I reproduce the issue with develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/127296615-524054cb-bd28-44cc-ad93-881ed43c4564.png)

I didn't manage to reproduce it with 178x, so it's a **regression**! I’ll add this to the debug backlog so that it’s fixed.

If you manage to get the problem fixed, the

[2021-07-28 09:28] Hlavtox opened #25448 "When duplicating product, out of stock ordering behavior is not copied"
#### Describe the bug

When duplicating product, out of stock ordering behavior is not copied

#### Expected behavior

out of stock ordering behavior is copied too

#### Steps to Reproduce

1. Create a product, set quantity to zero, disable ordering when out of stock.
2. Duplicate product, open it.
3. See that ordering out of stock got reset to "Default".

#### Additional information

* PrestaShop

[2021-07-28 09:31] Progi1984 commented on #23240
@marionf I reopened because  scripts have not been removed in Core. They are just moved in autoupgrade.

[2021-07-28 09:34] hibatallahAouadni commented on #25444
Hello @hejmi

Thanks for the detailed issue :clap:
Your issue seems related to these issues #9688 & #15458, could you please check it and feedback.

Thanks!

[2021-07-28 09:43] hibatallahAouadni commented on #25208
@jolelievre thanks for your confirmation
Changing the issue status to **`To Do`**

[2021-07-28 09:50] hibatallahAouadni commented on #13087
@matks thanks :tada:

[2021-07-28 09:53] hejmi commented on #25444
Hi @hibatallahAouadni, thank you for your response!

I'm sorry but I can't find the similarity, maybe I'm missing something..?
I don't have the option to set Shipping Restriction as shown in #9688, maybe this option is removed in ps 1.7.7.5?

The behavior of the checkout is so weird, after the message for "no carrier available, please select another payment method" is shown in checkout, there is N

[2021-07-28 09:54] hibatallahAouadni commented on #13226
@matks thanks!

[2021-07-28 10:01] rafleboss47 commented on #12638
Prestashop 1.7.7

You can correct the problem by modifying the Combination.php file and the setImages function:

`
    public function setImages($idsImage)
    {
        $shops = Shop::getContextListShopID();
        foreach($shops as $shop) {
            if (Db::getInstance()->execute('
    			DELETE pai FROM ' . _DB_PREFIX_ . 'product_attribute_image pai
                LEFT JOIN ' . _DB_PREFIX_

[2021-07-28 10:31] hibatallahAouadni commented on #24727
Hello @nicoledesignstore

Sorry for the late reply :confused:

Glad to hear :tada:
Closing this issue.

Thanks!

[2021-07-28 10:31] #24727 closed, assigned to nobody

[2021-07-28 10:46] 01park commented on #20264
Hi,

I noticed that even after updates, this module is still not compatible with multistores.

I added a version that does work and the fix I received from I believe PS themselves. As 1.7.7.8 is being released soon and focussed on multi-store wouldnt it be nice if this would work for everyone?

[2021-07-28 10:48] 01park commented on #20134
Hi,

The issue I am referring to you is this:

https://www.prestashop.com/forums/topic/215667-no-www-on-shop-domain-and-htaccess-redirects/

The solution is offered here to.

This problem is still in 1.7.7

I don't think it's a real problem, but it is an issue for multi-store users

[2021-07-28 11:21] medjabir commented on #9767
The problem is Prestashop is no longer allowing to override files in folders other than classes, controllers & modules.
`SearchResultProductFilter` is in src/Core

[2021-07-28 11:27] Xzave commented on #25408
Hello @florine2623,

have you memcached active on you own server, since some week ago?

it is not a native module of Presttashop,

but i pay for it,

i meet this error twice time for module come from addons of PS.

i search many time on internet and found solutions that i try, but only this solution that explain work for me.

the module is https://addons.prestashop.com/fr/boutons-login-connect/410

[2021-07-28 11:31] Maciej-Wilkosz opened #25450 "Product Pack calculating stocks wrong"
#### Describe the bug

When Pack contains a combination of a product, and its quantity is lower than needed to buy a Pack , it is still possible to buy a Pack if rest of combinations of this product combined have requied quantity

#### Expected behavior

Pack shouldn't be able to purasche if that certain combination does not match the requied quantity in Pack

#### Steps to Reproduce

1. Create Pa

[2021-07-28 11:31] Progi1984 commented on #25418
Fixed in #25428 by @Progi1984

[2021-07-28 11:31] #25418 closed, assigned to Progi1984

[2021-07-28 12:25] eternoendless commented on #13749
I don't understand why do you want to remove the cache. Is there a scenario where it's not invalidated properly?

[2021-07-28 12:41] matks commented on #13749
I think author says that, in a situation where you do back-and-forths between your wordings and the translation BO interface, each change triggers a cache invalidation which can be slow. So if you have twenty back-and-forths between your wordings and the translation BO interface, and the cache clear requires 30 seconds, you wait for 10 minutes waiting for PrestaShop. Being able to disable the use

[2021-07-28 13:04] eternoendless commented on #13024
I found this bug a couple months ago while working on #24401. I can't find if I documented what I found but to me this looks like an unfixable bug: module translations are stored in a global variable `$_MODULES` and indexed by a key that is not locale sensitive (key is [documented here](https://devdocs.prestashop.com/1.7/modules/creation/module-translation/classic-system/#editing-a-dictionary-file

[2021-07-28 13:05] eternoendless commented on #13024
I'm going to go ahead and just close it as won't fix. Feel free to contribute to the discussion if you think this can be fixed in a backward compatible way.

[2021-07-28 13:05] #13024 closed, assigned to nobody

[2021-07-28 13:06] marionf commented on #19358
Ping @ecomiz

[2021-07-28 13:06] marionf commented on #19311
Ping @ecomiz

[2021-07-28 13:11] hibatallahAouadni commented on #25443
Hello @matks

Thanks for reporting this issue!
I reproduce the issue with 1767, 1775, 178x and develop. I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-07-28 13:41] Magnusvb commented on #22260
Anyone found a solution for this? I have tried with increasing the memory_limit (php.ini) and the timeout for csa_guzzle. But the installation always stops at 67%

I'm trying to install version 1.7.7.5

[2021-07-28 13:58] hibatallahAouadni commented on #25450
Hello @Maciej-Wilkosz

I didn't manage to reproduce your issue with PS1775, see the attached screenshots below:

**BO**
![image](https://user-images.githubusercontent.com/23308427/127335036-3d273f95-0954-47d6-8a50-3afd5dc9be93.png)

**FO**
![image](https://user-images.githubusercontent.com/23308427/127335065-68457d14-3780-440d-a1c6-0d006c9516d3.png)

I'm not able to buy it cause the button is disa

[2021-07-28 14:13] ubergenki commented on #22826
@sebastian-marinescu I'm having the exact same issue with my shop right now. Did you ever find a solution to this problem?

[2021-07-28 14:20] hibatallahAouadni commented on #22260
Hello @Magnusvb

I tried with @SD1982 to reproduce the issue but we couldn't, the install is done without any problem.
We install PS1775 with PHP7.3 and MariaDB, the **install Addons modules** step is completed successfully.
See the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/127338660-50de9478-d868-49e6-8576-7ea05c0e7de2.png)

Thanks!

[2021-07-28 14:32] KminekMatej opened #25452 "Set combination image via API"
#### Is your feature request related to a problem?

One simply cannot assign image to a combination

#### Describe the solution you'd like
So this XML structure for combination would create record in table `ps_product_attribute_image`
[code]

#### Alternatives you've considered

None, this is simply an unfinished business

[2021-07-28 15:02] jf-viguier opened #25453 "Bug with physical_uri in module mail template"
#### Describe the bug
The shop physical_uri is matched against file path for email template in module here :
https://github.com/PrestaShop/PrestaShop/blob/69787a8dbe4231be553310c5629f8ead22a149e2/classes/Mail.php#L411

The physical uri can be different (apache allas, symlink, ...) : in this case module can't have email template loaded at all.

#### Expected behavior

Load email template in module.

[2021-07-28 15:05] hibatallahAouadni commented on #25452
Hello @KminekMatej

Your feature request reminds of these two issues: #11342 & #23777
Could you please confirm if they're related :pray:
Please check and feedback.

Thanks!

[2021-07-28 15:12] #24604 closed, assigned to atomiix

[2021-07-28 15:33] matks commented on #22260
The issue is linked to a specific environment setting. Could be memory, timeout, disk space... until we find out what is the bottleneck this issue will not be solved.

[2021-07-28 15:39] KminekMatej commented on #25452
Hello @hibatallahAouadni - #11342 completely non-related, #23777 is about WS, but its not-related .

Feature details: Currently there is no way to upload an image to desired product combination. Product combination simply takes as its image the cover image of product. Correct way to create this leash is using the XML structure in POST / PUT request as I described previously (the structure is actua

[2021-07-28 16:01] khouloudbelguith commented on #25441
Hi @kpodemski, @hibatallahAouadni,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #25340
So, I close it.
Thanks!

[2021-07-28 16:01] #25441 closed, assigned to nobody

[2021-07-28 16:01] khouloudbelguith commented on #25441
Duplicate of #25340

[2021-07-28 16:06] kpodemski commented on #25441
This one wasn't related to none existing service, these issues are a bit different, but it's ok 👍 we can treat as one

[2021-07-28 18:01] onlinedigitaltrade opened #25454 "Unable to enable modules in BO"
Describe the bug

I am unable to re-enable a module after disabling it. Prestashop throws the error "Could not perform action enable for module undefined"

Expected behavior

Explain what you Prestashop should enable the module successfully.

Steps to Reproduce

1. Go to 'Modules' > 'Module Manager' in the BO.
2. Install a bunch of modules such as 'pscheckout', 'paypal', 'litespeedcache', 'gsitema

[2021-07-28 19:40] henri9813 opened #25455 "Translation problem on product create page"
#### Describe the bug

This term is not french
![image](https://user-images.githubusercontent.com/4645967/127385346-97cbac4b-bfbb-43c5-9a98-e45e0d2f906b.png)

#### Expected behavior

Explain what you expected to happen instead.
"Ce champs ne peut pas être vide"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to product list
2. Go to add new product
3. Create a product without tit

[2021-07-28 21:13] matks commented on #9761
Hello @hibatallahAouadni I suggest we close this issue, "module is obsolete, the JS code is not right" is not clear. Moreover we released today v4.1.0 of the Analytics Google module and @khouloudbelguith tested it successfully so... it works 😁  . It does not mean it is bug free, but "the module is obsolete" seems very far from the reality in my opinion.

[2021-07-29 03:17] thalesamaria opened #25456 "Webservice products request problem when desactive products in differences shops"
#### Describe the bug

I'm using a multistore and I'm having problems with the Webservice request when disable a product in one of these shops.

#### Expected behavior

When the product is deactivated in shop id 2 it should continue listing in products webservice requests using shop id 1

#### Steps to Reproduce

1. Go to BO > Advanced Parameters > Webservice page: enable web service and generate

[2021-07-29 05:37] Magnusvb commented on #22260
Thanks!
Installation is now successful. The problem was a timeout with fastCGI.
I'm using Mamp Pro 6, and to solve the timeout, one must Xdebug.

[2021-07-29 07:04] hibatallahAouadni commented on #25454
Hello @onlinedigitaltrade

I didn't manage to reproduce the issue with PS1775, see the attached screen record below:

https://drive.google.com/file/d/1pjZkyfJ_7xEedX4SkKx-kIytORFM-SuQ/view

I only encountred this issue on develop (see the original issue: #25340).
Please check and feedback.

Thanks!

[2021-07-29 07:23] matks opened #25457 "Remove marketplace widget in blockreassurance"
#### Is your feature request related to a problem?

We have to remove this elements for the open source project for https://github.com/PrestaShop/blockreassurance/

![Capture d’écran 2021-07-29 à 09 22 23](https://user-images.githubusercontent.com/3830050/127449442-d49fadd8-9eb1-4ad1-8a09-86d15e0da721.png)

#### Describe the solution you'd like

Remove marketplace widget in blockreassurance

[2021-07-29 07:23] Maciej-Wilkosz commented on #25450
Hi , thanks for answer :)

I still have the issue, i recorded a GIF showing the problem step by step:
https://i.imgur.com/NraNVT8.gif

Also that may be the issue i adding Pack using WebService, and maybe i inserting wrong values. But for now it looks like a bug for me

[2021-07-29 07:35] matks opened #25458 "SVG usage in blockreassurance is broken"
#### Describe the bug

Blockreassurance blocks crash on FO when using an SVG icon and `__PS_BASE_URI__` is a slash

#### Expected behavior

No crash, correct behavior and display of blockreassurrance blocks on FO

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You use blockreassurance v5.0.0 and `__PS_BASE_URI__` is a single slash `/` (default situation)
2. Click on 'configure' for

[2021-07-29 07:41] matks commented on #25458
PR available https://github.com/PrestaShop/blockreassurance/pull/210

[2021-07-29 08:30] hibatallahAouadni commented on #9761
Hello @matks

Well then, closing the issue!

Thanks!

[2021-07-29 08:30] #9761 closed, assigned to nobody

[2021-07-29 08:33] hibatallahAouadni commented on #25294
Hello @tromarek1

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-29 08:33] #25294 closed, assigned to nobody

[2021-07-29 08:34] hibatallahAouadni commented on #24942
Hello @01park

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-29 08:34] #24942 closed, assigned to nobody

[2021-07-29 08:46] hibatallahAouadni commented on #25135
Hello @diksha-cedcoss

These two columns are so tiny cause the ID column is too large, which reminder me of this issue #24915
I think your Chrome version is v91, is that so?
Please check and feedback.

Thanks!

[2021-07-29 08:54] Hlavtox commented on #25283
@hibatallahAouadni
**Search bar** - OK, didn't check current branch, if you say it's fixed, good.
**Product layout** - Reproduced, OK!
**Page layout** - You can see that it's happening only on pages with left column. If you check full width page (CMS or homepage), they are full width. **Boostrap columns without row are not valid code.**

[2021-07-29 08:55] hibatallahAouadni commented on #25408
Hello @Xzave

but i pay for it,

So, you need to contact the module developer to fix your issue. As @florine2623 mentioned we didn't encounter this issue, so it's not a Core bug, this bug is related to the module.
Please contact support team on Addons

We will close this issue.

Thanks!

[2021-07-29 08:55] #25408 closed, assigned to nobody

[2021-07-29 08:57] hibatallahAouadni commented on #25452
Hello @KminekMatej

Thanks for your feedbacks!
Well then, thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create

[2021-07-29 09:00] Hlavtox opened #25459 "Firefox - horizontal scrollbar on homepage under 991px"
#### Describe the bug
There is a horizontal scrollbar on homepage of 1.7.8 beta under 991px. Caused by styling of the carusel, which overflows the content.

Not an uncommon issue, it must be done in a different way - https://www.google.com/search?q=100vw+overflow

Does anybody even check it when coding it? This must be immediately reproduced on first opening of inspector. 🤔

#### Expected behavior

[2021-07-29 10:03] hibatallahAouadni commented on #25459
Hello @Hlavtox

I didn't manage to reproduce the issue with PS178x, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/127473085-a55d1c8a-7abb-4abe-bf34-528d9e500d81.png)

Please check and feedback.
Thanks!

[2021-07-29 10:19] atomiix commented on #23949
@florine2623 @KestasL there's indeed an issue as it's actually possible that the function returns a boolean but the phpdoc says it can only return an array. As @KestasL said, there is 2 possible solutions for this issue, either always return an array or update the phpdoc and the code that uses this function to handle it.

[2021-07-29 10:20] eternoendless commented on #13749
I see. The problem is that the cache _has_ to be invalidated when you save in order to make sure that when you get out of the page, the wordings are taken into account. The only alternative solution that I see is a separate "Save and stay" button that wouldn't clear the cache, then a system that would ask you before you quit the page so that you don't forget to clear the cache.

[2021-07-29 10:25] Hlavtox commented on #25459
@hibatallahAouadni Reproduced on latest Firefox
![firefox](https://user-images.githubusercontent.com/6097524/127476104-c8482e67-0709-4e23-92ec-8bee08d28b34.JPG)

[2021-07-29 10:27] Hlavtox commented on #25459
@hibatallahAouadni It's common issue - https://www.google.com/search?q=100vw+overflow

[2021-07-29 10:28] hibatallahAouadni commented on #25458
Hello @matks

This issue reminds of this one #15939 whose already fixed by this PR https://github.com/PrestaShop/blockreassurance/pull/35
Is it related?

Thanks!

[2021-07-29 10:53] eternoendless commented on #16482
For the docs, it should be a table like this:

Page | Uses simplified form | Since version
---|---|---
Advanced Parameters > Performance | Yes | 1.7.8.0
Customer Service > Merchandise Returns | No | --

[2021-07-29 11:38] ritafrancisco opened #25461 "Log in to BO 1.7.7.3 don't work in prestashop"
#### Describe the bug
As per title, when I try to login into my BO this not work. If I put a wrong password prestashop correctly tells me I'm wrong but if I use the correct data nothing happens.

My clients can't log in or access the private account. Can you help me?
The error that appears every time I try to log in or enter MY ACCOUNT is :
[code]

#### Expected behavior
Redirect to back office

#

[2021-07-29 11:39] ritafrancisco commented on #25461
Linux server information #1 SMP Wed Apr 28 21:49:45 UTC 2021 x86_64

Server software version: Apache

PHP version: 7.3.29

Memory limit: 4096M

Maximum execution time: 30

Maximum upload file size: 1024M

[2021-07-29 12:02] hibatallahAouadni commented on #25455
Hello @henri9813

I reproduce the issue with PS1767, PS1775, PS178x and develop, See the attached screenshot:

![image](https://user-images.githubusercontent.com/23308427/127487956-c4839208-1570-40c0-b41c-7baf985e6acc.png)

On develop, it's getting worst, the new error message is duplicate:

![image](https://user-images.githubusercontent.com/23308427/127488158-1f4c8ff1-9778-43a8-abb9-2c2139f56596.

[2021-07-29 12:04] matks commented on #25458
No, it is different. PR https://github.com/PrestaShop/blockreassurance/pull/35 enabled the use of SVG but contained a little mistake. This mistake introduced a bug, this is the bug being reported here. PR https://github.com/PrestaShop/blockreassurance/pull/210 fixes this bug, so you could say https://github.com/PrestaShop/blockreassurance/pull/210 is "part 2" of https://github.com/PrestaShop/block

[2021-07-29 12:13] hibatallahAouadni commented on #25458
Well then, thanks for reporting the issue :wink:

[2021-07-29 12:22] 01Kuzma commented on #15684
@HartLarsson have you found a workaround for this?

[2021-07-29 13:07] Mch0 commented on #22546
@matks i would like participate for resolve this issue, which behavior do you want, the 1 or 2 ?

[2021-07-29 13:39] matks commented on #25432
I confirm the reported faulty behavior.

[2021-07-29 13:44] #25432 closed, assigned to matks

[2021-07-29 13:53] florine2623 opened #25463 "After merged, welcome module doesn't work anymore"
#### Describe the bug

After the merge https://github.com/PrestaShop/welcome/pull/120, welcome module doesn't work anymore

#### Expected behavior

I should be able to see all the steps of the on boarding

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PR https://github.com/PrestaShop/welcome/pull/120 on PS 1.7.8.x
2. Install shop as usual
3. Go to BO - no onBoarding is avai

[2021-07-29 13:54] atomiix commented on #25051
@AlionaxAlionax have you done that on your module:
[code]
as described here: https://devdocs.prestashop.com/1.7/modules/creation/module-translation/new-system/#translating-your-module ?

[2021-07-29 14:44] matks commented on #22546
Solution 1 seems better IMO but is more work, and more unknown.

Behavior 1 means removing the validation logic that removes `<` character. But in order to do this safely, we need to ensure that _any place in the software where the field is being output escapes the content_. If we allow `<` characters and don't escape it on display, this could introduce an XSS.

So there is work to do "to find any

[2021-07-29 14:55] hibatallahAouadni commented on #25453
Hello @jf-viguier

I just edit your issue by adding the steps to reproduce as discussed on Slack.
Could you please confirm these steps :pray:

Thanks in advance.

[2021-07-29 15:42] matks commented on #19473
Demo module released https://github.com/PrestaShop/example-modules/tree/master/demojsrouting

[2021-07-29 15:47] tenenick commented on #18411
Hi guys, I am not sure where to post the issue I found, so I put it here, knowing that it is not the right place. I hope you don't mind.
But perhaps it has something in common .
The case is when searching in the searchbar an expression that has a blank space never will be found correctly. For example HP 17 won't be found but HP17 will.
A solution may be creating a kind of "literally tag" to link a

[2021-07-29 15:52] #24683 closed, assigned to kpodemski

[2021-07-29 16:08] hibatallahAouadni commented on #25456
Hello @thalesamaria

How did the id product changed from 54 to 56? :sweat_smile: I really didn't understand.

![image](https://user-images.githubusercontent.com/43384727/127425404-2c0868f8-e55b-4f00-8097-8101a1018581.png)

Please check and feedback.
Thanks!

[2021-07-29 16:13] hibatallahAouadni commented on #25461
Hello @ritafrancisco

I didn't manage to reproduce your issue with PS1773. Try to clear cache in BO and active the debug mode:

![image](https://user-images.githubusercontent.com/23308427/127527447-645f9d0c-d29f-43b9-8e2f-82df1bebbdee.png)

Please check and feedback.
Thanks!

[2021-07-29 16:19] khouloudbelguith commented on #25380
Hi @maofree,

I think this issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/22262#issuecomment-795599209

What do you think?

Thanks!

[2021-07-29 16:36] maofree commented on #25380
Hi
I think it is a different issue
however it is not a real bug, to fix it, it is necessary to remove from disabled functions of php.ini, it is not necessary to change other things

bye

[2021-07-29 16:45] tolomir commented on #22697
Hi,
I need some hlep. I'm wondering how to upgrade from 1. 6.24 to 1.7.0 in PHP 7.0. I've tried many times but with no result. Where could I get a Prestashop 1.7.0 version?

Thanks in advance,
Tolo

[2021-07-29 16:47] thalesamaria commented on #25456
Hello @hibatallahAouadni,

Thanks for you reply.

I desactived product id 54 only in my shop id 2.
In my request I utilize id_shop=1 with filter, and the correct is the product id=54 appear.

Do you understand?

[2021-07-29 16:51] ritafrancisco commented on #25461
https://www.loom.com/share/5c485e4a3347409ea508bb71c8c6d3f8

Please watch the video above.

User: ***@***.***
Password: uMQ)RDD{GyQJ
https://proforstore.pt/proforfolder

Hibatallah Aouadni ***@***.***> escreveu no dia quinta,
29/07/2021 à(s) 17:13:

--
Coloco-me à sua inteira disposição para quaisquer esclarecimentos,

Rita Francisco

Marketing Manager

<https://www.facebook.com/profor.pt>
<https:

[2021-07-29 22:43] onlinedigitaltrade commented on #25454
Maybe it's just a strange bug on my install... I'll wait to see what happens when ps 1.7.7.6 comes out. Hopefully it will be solved.

[2021-07-30 03:26] IsaiChristian commented on #24166
Thanks for the time you took answering.! is very much appreciated.

[2021-07-30 03:38] onlinedigitaltrade opened #25466 "Make rich text fields more screen reader friendly"
Is your feature request related to a problem?

Hi. I've been using Prestashop for over 7 months , and I've liked it so far. However I've found that rich text fields like the one for putting the product description and summary on the product page and the one where the content of cms pages go cannot be reached by screen readers. I have used JAWS for Windows and the Windows narrator but for some reas

[2021-07-30 07:08] #21183 closed, assigned to Progi1984

[2021-07-30 07:09] #18841 closed, assigned to Progi1984

[2021-07-30 07:55] hibatallahAouadni commented on #22697
@tolomir here's the link to [PS1.7.0.0](https://www.prestashop.com/fr/versions?version=1.7.0.0&status=&sort_by=field_version_number_value&sort_order=DESC#release-search-version)
Download the stable version :wink:

[2021-07-30 08:09] khouloudbelguith commented on #25466
Hi @onlinedigitaltrade,

Thanks for your issue.
We are awre of this issue.
Your ticket is a duplicate of #23085
So, I close it.

Thanks!

[2021-07-30 08:09] #25466 closed, assigned to nobody

[2021-07-30 08:09] khouloudbelguith commented on #25466
Duplicate of #23085

[2021-07-30 08:10] Hlavtox opened #25467 "1.7.8 - Content with left column is not aligned properly"
#### Describe the bug

Go to any category, see that content is not aligned with the container on both sides by 15px due to missing .row element that should be wrapping left-column and content-wrapper.

On pages without left column it's properly aligned.

PR to fix: https://github.com/PrestaShop/PrestaShop/pull/25460
ping @matthieu-rolland

#### Expected behavior

Boostrap column should by wrapped

[2021-07-30 08:22] Julievrz commented on #23116
Yes, I agree that we should not display the group IDs next to their names (too many #, it's confusing).

Only keep "Group:" or "Groups:" (That would be two strings, and the good one would display depending on the number of groups).

For the default group, we can display "(Default)" next to the group's name.

[2021-07-30 08:48] khouloudbelguith commented on #25454
Hi @onlinedigitaltrade,

Thanks for your feedback.
Me also, I did not manage to reproduce the issue with PS1775.
I attached a screen record
https://drive.google.com/file/d/1fMidYMrCKd1SeB9aYJ-A6zGDhL4Sh0Ke/view?usp=sharing
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server con

[2021-07-30 08:48] #25454 closed, assigned to nobody

[2021-07-30 08:57] hibatallahAouadni opened #25468 "[BO] - An exception thrown when you try to access "edit your profile""
#### Describe the bug

When you try to edit your profile as an admin, an exception will be thrown

#### Expected behavior

No exception

#### Steps to Reproduce

1. **BO** > **CONFIGURE** > **Advanced Parameters** > **Team**
2. Try to edit your profile (employee)
3. See error => an exception is thrown
4. Try to edit another admin profile or any employee profile => no error
5. Try to edit your prof

[2021-07-30 09:00] khouloudbelguith commented on #25467
Hi @Hlavtox,

I manage to reproduce the issue with PS1769, PS1775, and the branch 178x (1780)
**178x branch**
![image](https://user-images.githubusercontent.com/16067358/127628679-093bf328-8bea-4772-b6fb-0eacb6ffb352.png)
**PS1769**
![image](https://user-images.githubusercontent.com/16067358/127628982-bbd748ac-ea4a-403e-af19-45913b05e240.png)

I'll add this to the debug backlog so that it's fixed.

[2021-07-30 09:04] kpodemski commented on #25468
Yes, can confirm. It's coming from code related to Addons Marketplace, I think @PierreRambaud started working on this.

[2021-07-30 09:09] khouloudbelguith commented on #25461
Hi @ritafrancisco,

Thanks for your feedback.
Me also, I did not manage to reproduce the issue with PS1775.
![image](https://user-images.githubusercontent.com/16067358/127630146-c580c44e-7e1b-417a-bd3c-6e5ac6d69317.png)

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - debug mode report
 - PHP error logs
 - apache error log
 - java

[2021-07-30 09:09] hibatallahAouadni commented on #23116
@MatShir @prestascott @Julievrz @Hlavtox
Thanks guys for your hard working and your approvals :tada:
We have a GO :rocket:

[2021-07-30 09:25] khouloudbelguith commented on #25380
Hi @maofree,

Thanks for your feedback.
So it is a server issue?

Can I close this ticket?

Thanks!

[2021-07-30 09:35] khouloudbelguith commented on #25456
Hi @thalesamaria,

Thanks for your feedback.
I manage to reproduce the issue with PS1769 and PS1775 following these steps:
1. Go to BO > Advanced Parameters > Webservice page: enable web service and generate a Key
2. Go to https://YOUR-URL/api/products?display=[id,active]&filter[active]=1&id_shop=1 and check the last product
3. Enable multistore context and create a new shop
4. All shops selected

[2021-07-30 09:41] jimmydupre opened #25470 "Chrome - FO - Quantity increment +1 when to we change quantity to 0 in cart with press enter key"
#### Describe the bug

In the shopping cart, when we change the quantity to 0 with **press enter Key** using Chrome. We have the quantity changes to 1 then to 2.
And I remark that i put a quantity she's multiplied by 2.
Is possible bug to js ?
https://drive.google.com/file/d/1dNzXFy-HEoM3BxJGJ2-snIjId08ZYzbu/view?usp=sharing
#### Expected behavior

We have checked on the official demonstration web

[2021-07-30 09:42] khouloudbelguith commented on #25444
Hi @hejmi,

Thanks for your feedback.
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10903
So, I close it.
Thanks !

[2021-07-30 09:42] khouloudbelguith commented on #25444
Duplicate of #10903

[2021-07-30 09:49] maofree commented on #25380
Hi
yes it is a server issue when that function is disabled from php.ini
this tpic can be useful to know how to fix this issue, asking to own hosting to active it

you can close

bye

[2021-07-30 09:49] khouloudbelguith commented on #25372
Hi @fdonnet, @Oksydan,

This issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/22417
The issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/22416

Can you please confirm that? so I can close this ticket.

Thank you!

[2021-07-30 09:58] Hlavtox commented on #25372
@khouloudbelguith No it's something completely different, just read this issue... 😄

[2021-07-30 10:16] hejmi commented on #25444
Hi @khouloudbelguith!
Well not really a duplicate since my checkout is working as long as the voucher code is not given.

I think it's a really easy fix just if one knows in which controller to look.
There must be some code connected to voucher that clears or sets a faulty value for shipping, making the payment module think delivery is to a not activated country or something like that.

I'm using

[2021-07-30 10:17] khouloudbelguith commented on #25450
Hi @Maciej-Wilkosz,

Thanks for your feedback.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/23742 to fix the issue.
It is fixed in the PS1780.
Your ticket is a duplicate of #13769
So, I close it.
Thanks!

[2021-07-30 10:17] #25450 closed, assigned to nobody

[2021-07-30 10:17] khouloudbelguith commented on #25450
Duplicate of #13769

[2021-07-30 10:22] khouloudbelguith commented on #25470
Hi @jimmydupre,

Thanks for your report.

I did not manage to reproduce the issue with PS1775 and branch 1.7.8.x (1780).
I attached a screen record
https://drive.google.com/file/d/1r2vw2UJKKoKvFJ2oyqoqdW6HvFnpuWJk/view?usp=sharing

Thanks to check and feedback.

[2021-07-30 10:40] jimmydupre commented on #25470
Hi @khouloudbelguith

Thanks for your response.

I remade a video from the prestashop demo.
[https://demo.prestashop.com/#/en/front](https://demo.prestashop.com/#/en/front)
[https://drive.google.com/file/d/1dNzXFy-HEoM3BxJGJ2-snIjId08ZYzbu/view?usp=sharing](https://drive.google.com/file/d/1dNzXFy-HEoM3BxJGJ2-snIjId08ZYzbu/view?usp=sharing)

[2021-07-30 10:53] khouloudbelguith commented on #25470
@jimmydupre,

Thanks for your feedback.
I used the same link, but it is ok in my case.
https://drive.google.com/file/d/1QE3SE12u0zmZ_kd8st5LyxF91BwitUI-/view?usp=sharing

Did I miss a step?

Thanks!

[2021-07-30 11:02] jimmydupre commented on #25470
I remark that this bug is only available when i press enter key.

[2021-07-30 11:13] khouloudbelguith commented on #25470
@jimmydupre, I used the increase-decrease icon => ok
I used the press enter key => ok
https://drive.google.com/file/d/1MWWXKahPqpKfMYQHYHco5nZIXVivEldF/view?usp=sharing

Thanks!

[2021-07-30 11:14] khouloudbelguith commented on #25380
@maofree, thanks a lot.
I close the issue, feel free to open a new one when needed.

Thanks!

[2021-07-30 11:14] #25380 closed, assigned to nobody

[2021-07-30 11:19] jimmydupre commented on #25470
When we use the increase-decrease arrow, this functionality working so don't use arrow to make test.
I have use new instance on navigation private to make another test.

[2021-07-30 11:31] khouloudbelguith commented on #25444
@hejmi, thanks for your feedback.
I will re-open the issue.
I attached a screen record with PS1775.
https://drive.google.com/file/d/14IKQ5_kTVkSYklUS1bxZUSp0x_SlHyXu/view?usp=sharing

Thanks to check and feedback.

[2021-07-30 11:47] hejmi commented on #25444
@khouloudbelguith, thank you!
 I don't use a minimum amount in cart rules, don't know if that will make any difference though..
 I also have taxes enabled (25%) on carrier.
 I've spoken to the developer team of Klarna Checkout as well, answer from them:
_The Klarna Payments module simply adds Klarna payment methods to your checkout. We would recommend looking into your shipping options and voucher

[2021-07-30 11:55] khouloudbelguith commented on #25444
@hejmi, great news!
Thanks so it is not a core issue.
I'm closing the issue, feel free to create a new one when needed.

Thanks!

[2021-07-30 11:55] #25444 closed, assigned to nobody

[2021-07-30 11:57] hejmi opened #25472 "Customer's message to order at checkout"
#### Describe the bug

Don't know if it's a bug or if it's supposed to be like this.
When a customer leaves a message at checkout the message is added to the database with option "private = 1", which results in that the customer can't view this message afterwards.

#### Expected behavior

Private set to 0 in db, customer can view the message added to the order.

#### Steps to Reproduce

Steps to r

[2021-07-30 12:00] matks commented on #25202
## 🚧 🚥 STATUS UPDATE

`1.7.7.x` branch has been completed for release, and a 1st ZIP 1.7.7.6 archive has been built. It has been delivered to QA team who will be able to launch the standard patch release test campaign.

This test campaign aims to find whether this patch introduces new bugs.

If the campaign reports that no bugs are found, the new patch release will be validated by QA team and we w

[2021-07-30 12:03] khouloudbelguith commented on #25459
Hi @Hlavtox,

Thanks for these clarifications.
I manage to reproduce the issue with branch 1.7.8.x, PS1775 and the branch 1.7.7.x using Firefox v90 and V78.5.0esr (64 bits)
![image](https://user-images.githubusercontent.com/16067358/127650043-4dfb0f87-d358-4601-ab2e-e98ba37d255b.png)

It is ok with PS1769 => regression from PS177.
![image](https://user-images.githubusercontent.com/16067358/1276501

[2021-07-30 12:55] khouloudbelguith commented on #25470
@jimmydupre, Thanks for these clarifications.
I manage to reproduce the issue with PS1769, PS1775, and branch 1.7.8.x using Chrome Version 87.0.4280.141
Firefox v78.5.0esr (64 bits) => ok

I'll add this to the debug backlog so that it's fixed.
Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and

[2021-07-30 13:02] jimmydupre commented on #25470
Thanks @khouloudbelguith
I follow this issue.

[2021-07-30 13:02] khouloudbelguith commented on #25472
Hi @hejmi,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15614 to fix the issue.
It is fixed in the next release 1.7.8.0
Your ticket is a duplicate of #9769
So, I close it.
Thanks!

[2021-07-30 13:02] #25472 closed, assigned to nobody

[2021-07-30 13:02] khouloudbelguith commented on #25472
Duplicate of #9769

[2021-07-30 13:20] hejmi commented on #25472
@khouloudbelguith awesome! Thank you very much!

[2021-07-30 13:47] khouloudbelguith commented on #25372
@Hlavtox, thanks!

@Oksydan, I manage to reproduce the issue with PS1769, PS1775 & branch 1.7.8.x using the module productcomments v4.2.2
![image](https://user-images.githubusercontent.com/16067358/127660834-feed4849-89d2-46e3-a4a2-ef7979dd869a.png)

But I found a solution to fix the issue:
1. Go to BO > Design > Position page
2. Click on "Transplant a module"
3. Choose the product comments module

[2021-07-30 13:59] khouloudbelguith commented on #25283
Hi @Hlavtox,

About the last issue
`Go to any category, see that content is not aligned with the container on both sides by 15px due to missing .row element that should be wrapping left-column and content-wrapper.`

Isn't the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/25467?

Thanks to check and feedback.

[2021-07-30 15:02] Hlavtox commented on #25283
@khouloudbelguith Yes I made a separate issue, so we can properly merge the PR. :-)

Consider this a notebook to be deleted 😂

[2021-07-30 15:16] khouloudbelguith commented on #25283
Hi @Hlavtox,

I will update the first comment, I'll add this to the debug backlog so that it's fixed.
It is a regression PS177 as mentioned by @hibatallahAouadni in this [comment](https://github.com/PrestaShop/PrestaShop/issues/25283#issuecomment-878275396)
Thanks!

[2021-07-30 19:53] #25446 closed, assigned to nobody

[2021-07-30 20:13] #25040 closed, assigned to nobody

[2021-07-31 05:37] gioiellerianotini opened #25473 "ps_layered_price_index too big. Impossible to activate module faceted search v3.7.1"
#### Describe the bug

module faceted search v3.7.1
ps_layered_price_index for my shop is huge and I can't activate the module.

I have 7 languages and it generates a price reange for each product combined with each country and each language.
so for each product It generate 1715 rows in the table.
And I have 20000 products !!!

#### Expected behavior

it should generate a normal size table and not

[2021-07-31 08:11] mrabsinthe opened #25474 "ps_emailalerts - always sending alert alert-info"
#### Is your feature request related to a problem?

On a product page when a customer trying to register an email address to be notified when a product is back in stock, module always displays a message in alert-info box instead of using alert-info just for already registered message.

#### Describe the solution you'd like

The color of an alert box should correspond to the message, green for succ

[2021-07-31 08:20] tolomir commented on #22697
Thanks @hibatallahAouadni! Any recommended tutorial to upgrade from 1.6.1.24 to 1.7.0?

[2021-07-31 18:05] kpodemski commented on #25474
Hello @mrabsinthe

In progress :)

https://github.com/PrestaShop/ps_emailalerts/pull/86

[2021-08-01 08:25] hibatallahAouadni commented on #25473
Hello @gioiellerianotini

Could you please check this issue #17318 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-08-01 08:27] hibatallahAouadni commented on #25474
Hello @mrabsinthe

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-08-01 08:44] hibatallahAouadni commented on #25137
Hello @Rizzen59

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-01 08:44] #25137 closed, assigned to nobody

[2021-08-01 08:58] gioiellerianotini commented on #25473
thanks, but i think it's another problem.
I have problems generating the table due to the data generated from all countries combined with all currencies and price ranges.

In this situation it is impossible for me to activate the module because the table grows too much.

[2021-08-01 10:56] hibatallahAouadni commented on #25473
Hello @gioiellerianotini

Thanks for your feedback!
Did you try to disable/clear cache? If it doesn't help, could you please provide a screen record 🙏

Thanks!

[2021-08-01 11:42] AdriCruz commented on #12185
Hello, could you find the  solution?

Thanks

[2021-08-01 14:55] gioiellerianotini commented on #25473
thanks, I tried with cache but didn't solve ...
what about the screeen record?

[2021-08-01 15:52] Jeggiesaur opened #25475 "Chrome/Microsoft Edge - Disappearing Free Text Boxes, Unable to Edit Free Text"
#### Describe the bug

Free text boxes aren't showing up for editing text. Examples include: product page (summary/description), pages configuration (text block), Pages (page content)

#### Expected behavior

Free text box showing for editing free text.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Pages'
2. Click on 'Edit (on any page)'
3. Scroll down to 'Page Content'
4.

[2021-08-01 18:18] hibatallahAouadni commented on #25475
Hello @Jeggiesaur

I didn't manage to reproduce it with Chrome v91.
Please provide your Chrome & Edge version 🙏
Please check and feedback.

Thanks!

[2021-08-01 19:11] Jeggiesaur commented on #25475
hi @hibatallahAouadni i'm using Chrome Version 92.0.4515.107 (Official Build) (64-bit) and Edge Version 91.0.864.64 (Official build) (64-bit)

[2021-08-01 20:13] Jeggiesaur commented on #25475
hi @hibatallahAouadni the issue has now been resolved by upgrading to 1.7.7.5

[2021-08-01 20:13] #25475 closed, assigned to nobody

[2021-08-01 22:28] hibatallahAouadni commented on #25475
@Jeggiesaur Glad to hear 🎉

[2021-08-01 22:31] hibatallahAouadni commented on #25310
Hello @rzuf666

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-01 22:31] #25310 closed, assigned to nobody

[2021-08-02 08:06] hibatallahAouadni commented on #25473
Hello @gioiellerianotini

When you try to disable the module, there's an error message, could you please make a screenshot 🙏 to understand better the problem.
Please check and feedback.

Thanks!

[2021-08-02 08:16] gioiellerianotini commented on #25473
sorry I explained myself badly.
I am not getting errors enabling the module. I choose not to activate it because the table it generates becomes so large that it creates problems in the database and in the management of the entire site.

[2021-08-02 08:24] bastienu commented on #12185
No, so we are losing customers !
The solution is to change our server, which cost money and time. But seems that it does not matter for Prestashop teams...

[2021-08-02 08:57] khouloudbelguith opened #25477 "BO - Welcome - Th pop up onboarding is not displayed in the step4/6 "step2" because ps_checkout module is not instaled"
#### Describe the bug
After a fresh install, the popup onboarding is not displayed at step 4/6 "Get your shop ready for Payment" step2 ps_checkout module is not instaled
![image](https://user-images.githubusercontent.com/16067358/127833420-11d38df3-7f70-4a14-a057-e3a8185eba64.png)

If we install the ps_checkout module manually => ok
![image](https://user-images.githubusercontent.com/16067358/12783

[2021-08-02 09:11] lmeyer1 opened #25478 "Better handling of CMS pages in a multishop environment"
#### Is your feature request related to a problem?

There is a problem with CMS in multishop context. In the table `cms_lang` there is one version of the text for each shop. This is OK, but gives rise to following problems:
- When in *All shops* context, a change affects all versions. When in a *specific shop*, only the version of that shop is affected by modifications. This is a dangerous behavio

[2021-08-02 09:37] hibatallahAouadni commented on #25478
Hello @lmeyer1

Thank you for your suggestion and the well detailed report.
The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are

[2021-08-02 09:37] matks commented on #23010
## 02-08-2021 Status update - 1.7.8.0 RC1 build 2 being prepared

Second build of 1.7.8.0 RC1 still being prepared. Last week, last known blocking bugs [have been fixed](https://github.com/PrestaShop/PrestaShop/issues/25202#issuecomment-889844880) either on `1.7.7.x` branch or on `1.7.8.x` branch and changes from `1.7.7.x` branch [have been ported](https://github.com/PrestaShop/PrestaShop/pull/254

[2021-08-02 10:23] ShaimyWinda commented on #22508
Hello,

I have the same issue. Which module gave you this problem?

Thanks

[2021-08-02 10:54] michael2278 commented on #22508
Hi,
It was "Automatic related products" from Knowband https://www.knowband.com/index.php?route=product/product&product_id=153 . After disabling the module everything went back to normal.
Best regards,
Michael

[2021-08-02 11:21] khouloudbelguith opened #25479 "BO - Ordr View page - Product Block - when we try to add a product, the total displayed is tax exlcluded and not included"
#### Describe the bug

In the BO > Orders > Order details page > when we try to add a product, the total is displayed with tax excluded, but it should be tax included.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a new Order from BO/FO
2. Go to BO > Orders > View last Order created
3. Try to add a product
4. See error: in the addProductTableRow: the total is displayed with

[2021-08-02 11:41] vzlatev commented on #25166
Excuse me for reopening this but I also encountered the problem and can share some feedback in case someone else hit it. Error is slightly different but use case may be similar:

`Type error: Argument 2 passed to PrestaShop\PrestaShop\Core\Domain\Product\QueryResult\ProductCombination::__construct() must be of the type string, null given`

In product_attribute_combination table there were some ref

[2021-08-02 13:00] tswfi commented on #14913
I can replicate this with Finnish language on version 1.7.7.5 also.

@pukys any pointer on which localisation file the problem lies in?

[2021-08-02 13:26] pukys commented on #14913
Nope, I don't even remember what problem it was, too much time passed :) But as I can see problem was with Lithuanian localisation.

[2021-08-02 13:59] matks commented on #25227
Hello @d33x PR #21877 was closed due to inactivity. If this topic is important for you, you might want to continue the work started in PR #21877 .

[2021-08-02 14:06] musicpanda opened #25480 "Ability to disable sessions"
#### Is your feature request related to a problem?
When your session path is wrong it is now a showstopper when you are in debug mode. This despite the fact that it is only a notice.

This means that when changing this path is some trouble - as it often is with hosting providers - your shop is bricked as long as it is in debug mode.

#### Describe the solution you'd like

Either such errors are ig

[2021-08-02 14:15] hibatallahAouadni commented on #25480
Hello @musicpanda

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-08-02 14:52] tswfi commented on #14913
tested on current develop branch and this is a bit nasty.. `-5` converts to `5` when saving the product

[2021-08-02 15:11] matks commented on #14913
@PrestaShop/qa-team Hello, could you please verify the informations from @tswfi

This could mean a lot more users are impacted than we initially thought

[2021-08-02 15:44] khouloudbelguith opened #25481 "FO - Checkout page - the cart rule is not removed when creating new customer from the checkout page"
#### Describe the bug

This issue is related to this: https://github.com/PrestaShop/PrestaShop/issues/23757
We have a cart rule with customer group restrictions (Customer Group is unselected)
In the FO > Checkout page > when we create a new customer from the checkout page & we click continue => the cart rule is still displayed & not removed until we click continue again in the Shiping Step

#### S

[2021-08-02 15:53] matks commented on #14154
@zuk3975 I believe you implemented `a map that show which handlers catch which Query or Command` ?

[2021-08-02 15:54] matks commented on #13876
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/16482, will be solved when https://github.com/PrestaShop/PrestaShop/issues/16482 is complete

[2021-08-02 15:54] #13876 closed, assigned to tomas862

[2021-08-02 19:22] Jeggiesaur opened #25482 "1.7.7.4 & 1.7.7.5 Text edits in back office not showing on store front"
#### Describe the bug

Text updates in Back Office not showing on Store Front on browser (Chrome v92), happens with all editable text. No issues showing up on mobile.

#### Expected behavior

Text updates in Back Office to show on Store Front

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Custom Text Blocks' in Modules
2. Enter text in text box
3. Click 'Save'
4. Click 'View

[2021-08-02 21:32] Oksydan commented on #25372
Hi @khouloudbelguith,
yes it will work properly for prestashop version < 1.7.8.
In prestashop 1.7.8 structured data has been changed and actually right now productcomments module aggregateRating from product page block is outside of product structured data scope which right now is in json-ld inside page head.

[2021-08-02 21:37] Mindfield-Studio commented on #14703
I'll test this tonight, the idea is filtering initial request with only needed (not very clean, but I don't find anything else):

After:
[code]

Add this:
[code]

[2021-08-03 07:34] khouloudbelguith opened #25483 "FO - An exception is displayed when we click on sign out two times"
#### Describe the bug

In the FO > When a customer tries to logout with clicking multiple times on "Sign out" => an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/127974757-9b87f65b-7d16-4aae-8aef-795bfe72d56d.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1- Enable debug mode
2- Go to FO and sign in
3- Click on Sign out 2 times ( URL: shop.com

[2021-08-03 09:33] Progi1984 commented on #25467
@PrestaShop/product-team Hi, should this issue be fixed in `1.7.8.x` or `develop` ?

[2021-08-03 10:24] hibatallahAouadni commented on #25482
Hello @Jeggiesaur

I didn't reproduce your issue with PS1775 and Chrome v92, see the attached screen reocrd below:

https://drive.google.com/file/d/1s_e60GOokZ7T0o8BEPbLrohdfnuk7hI6/view

Please check and feedback.
Thanks!

[2021-08-03 10:33] hibatallahAouadni commented on #22697
@tolomir https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/ :wink: enjoy it

[2021-08-03 10:34] hibatallahAouadni commented on #22697
PS: you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

[2021-08-03 10:34] #22697 closed, assigned to nobody

[2021-08-03 11:24] rtvt opened #25487 "Add ProductExtraContent hook to Product Comments module to support tabs display"
Any plans to add ProductExtraContent hook widget interface to Product Comments module to call it as tab content on product page?
So we don't need to duplicate module to show it as tab and just use default one.

[2021-08-03 11:33] hibatallahAouadni commented on #14913
Hello @tswfi & @matks

edit: and it happens on english language also

I confirm that :disappointed: I only reproduce it on develop (178x => OK, 177x => OK).
So, this new behavior is a new regression on develop.

IMHO, it will be better if we open a new issue for this new regression, @matks wdyt?

PS: about the original issue, I still reproduce it on 1775 (with Lithuanian language).

[2021-08-03 11:40] tswfi commented on #14913
@hibatallahAouadni thanks! can you confirm the original issue also on Finnish language on 1775 (and perhaps on other languages too.. if this affects more than two languages there is a systematic error somewhere...)

[2021-08-03 11:41] hibatallahAouadni commented on #25487
Hello @rtvt

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2021-08-03 11:41] #25487 closed, assigned to nobody

[2021-08-03 12:00] rtvt opened #25488 "Allow Product Comments module to be displayed in product tabs"
#### Is your feature request related to a problem?

Default Prestashop 1.7 Product Comments module 4.0.0+ doesn't have widget interface to show it as product page tab. Widget shows only short grade stars.

Comment list uses displayFooterProduct hook, while Prestashop has a special hook and posibilities to show modules as product tabs.

Hundreds of customers are used to see product reviews as tab e

[2021-08-03 12:41] marionf commented on #25467
@Progi1984 As it's not a regression, on `develop` branch ;)

[2021-08-03 13:17] ytilotti opened #25490 "hook actionAdminOrdersTrackingNumberUpdate not working correctly"
#### Describe the bug

There is a problem with the hook actionAdminOrdersTrackingNumberUpdate.
In the following code, the hook is never called because I have an TransistEmailSendingException but the trackingNumber is updated. The hook should be before email exception.

[code]

#### Expected behavior

If there is an error on updating the tracking number should not be updated. But in our case it is

[2021-08-03 13:20] Jeggiesaur commented on #25482
Hi @hibatallahAouadni I'm still getting the issue even on Firefox v90 unfortunately. No issues with mobile version.

[2021-08-03 13:23] Jeggiesaur commented on #25482
If it helps it's not even updating the maintenance message.
![image](https://user-images.githubusercontent.com/88282657/128022677-3f1a520f-eb83-4030-9c5f-5b03ad0989cc.png)
![image](https://user-images.githubusercontent.com/88282657/128022705-b6182470-2b4f-4bd0-9fae-c22d72ce491f.png)

[2021-08-03 13:40] dadashali61 opened #25492 "New module errors with 1.7.7.5 with LegacyHelperLinkBuilder.php [70]"
Hi,
I have a module that seems does not to match with PS 1.7.7.5. While Debug is turned on I will face this error below:

in src\Adapter\Routing\LegacyHelperLinkBuilder.php (line 70)
     * @throws InvalidArgumentException
     */
    public function getEditLink($entity, array $parameters)
    {
        if (!isset($parameters['current_index'])) {
            throw new InvalidArgumentException('Mis

[2021-08-03 14:30] khouloudbelguith opened #25493 "Credit Slip - Ecotax is displayed in the Credit slip - Tax details"
#### Describe the bug

In the Credit slip, the Ecotax is displayed in the Tax details
![image](https://user-images.githubusercontent.com/16067358/128033075-af9b881c-c168-48e4-b139-ddc1146d1ad4.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Check that Ecotax is disabled in the BO > International > Taxes page
2. If it is enabled Create an order with any demo product that it hasn

[2021-08-03 14:42] hibatallahAouadni commented on #25482
Hello @Jeggiesaur

Could you please provide a screen record :pray:
And please set your performance like the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/128035351-5edf3046-0d65-42fb-a2b0-7b6d2a69d9ce.png)

Please check and feeback.
Thanks!

[2021-08-03 14:50] Progi1984 commented on #25477
@khouloudbelguith Could you test it again ? Because I just tried and I haven't got the problem.

[2021-08-03 15:12] adamus007p opened #25496 "Orders are not created when there is no confirmation from webhooks"
TL;DR When customer make a payment using non card method (Sofort, P24) and will not click back to shop there is no order on Prestashop side.

I had from time to time customers who paid me money.
I can see it on Stripe dashboard but there was no order on Prestashop side.
No order, no error, nothing.

Some customers are too fast and will not wait or click back to shop and there is problem that there

[2021-08-03 15:17] Progi1984 commented on #25483
@marionf I just discussed with @sarahdib : with the scope of this PR (just a check of variable), it can be embedded in 1.7.7.6.

[2021-08-03 15:19] marionf commented on #25483
if it does not delay the release of the version ok

[2021-08-03 15:38] kairnejeff opened #25498 "Cant redirect to Admin panel"
* PrestaShop version: 1.7.7.3
* PHP version: 7.2.34

when i log to my admin panel, it just cant redirect even all the username and password are correct. So i clear le cache in my navigator, and then it can redirect to my admin panel ! the problem is that I need to do it all the times when i connect.
it's really weird. I clear the cache in var/cache too, it's always the same thing.

[2021-08-03 15:56] Progi1984 commented on #25483
Fixed in #25495 by @Progi1984

[2021-08-03 15:56] #25483 closed, assigned to Progi1984

[2021-08-03 16:19] khouloudbelguith commented on #25477
Hi @Progi1984,

It is a temporary issue.
Ps_checkout is pushed after fresh install PS1776build1 and 177x branch.
I will close the issue.
https://drive.google.com/file/d/11S3t3NhnoofYNkPam91z6yf266f9DY68/view?usp=sharing

Thanks!

[2021-08-03 16:19] #25477 closed, assigned to Progi1984

[2021-08-03 17:31] ekomot opened #25499 "Error downgrading from Prestashop version 1.7.7.5 to 1.7.6.9"
I tried to upgrade from verion 1.7.6.9 to 1.7.7.5. After the upgrade the left Admin panel Menu disappeared. Rolled back to the  1.7.6.9 After finishing this is the error screen:
![image](https://user-images.githubusercontent.com/55546136/128060090-598bc142-5c7b-43c9-9abd-01ea80544a5f.png)

* PrestaShop version: 1.7.67.5 to 1.7.6.9
* PHP version: 7.3.28

[2021-08-03 17:32] hibatallahAouadni commented on #25490
Hello @ytilotti

When I try to use this hook **actionAdminOrdersTrackingNumberUpdate** with module **ps_qualityassurance**, I can't find it, see the attached screen record below:

https://drive.google.com/file/d/1M8vF2u1ycZJow9v58iakwX0X7XWn9ToX/view

Please check and feedback.
Thanks!

[2021-08-03 17:39] kpodemski commented on #25490
Hello @hibatallahAouadni

It's probably not registered on the installation process, can you type the hook manually to force the module to hook into it?

[2021-08-03 18:10] JakubSVK opened #25500 "Can´t translate custom or classic theme 1.7.6.8"
Hello !
On Prestashop 1.7.6.8 i can´t translate any words on classic or custom theme ( warehouse 4.3.8 )
I tried to export from admin area language for theme and upload manual to theme folder ( inside localisation ), but i have a same issue. I tried to update language, but same issue too.

I have a blank space :

![image](https://user-images.githubusercontent.com/49985582/128064691-de8e8d30-f62d-4

[2021-08-03 18:11] Progi1984 commented on #25479
Fixed by @Progi1984 in #25489

[2021-08-03 18:11] #25479 closed, assigned to Progi1984

[2021-08-03 18:32] tups opened #25502 "Smarty Modifier Classname - compatibility with CSS BEM method"
#### Describe the bug

I am facing an issue with using the CSS BEM method with the Smarty Classnames Modifier.

The function removes the double dashes, except it is the method to make "modify" classes in CSS BEM

#### Expected behavior

The original CSS classes

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a template with the following smarty tag: `{['block__elem' => true,

[2021-08-03 20:32] matks commented on #25499
@ekomot according to your screenshot, a database table pscb_shop_url is missing. This is not a table controlled by PrestaShop core so it is likely to come from a 3rd party module or some customized code.

[2021-08-03 20:48] ekomot commented on #25499
Thank you :) Actually more than half of my database was missing. Issue was solved by importing the back-up file, but primarily erasing a large part of the DB during a downgrade by 1 Click module is not normal.

[2021-08-03 20:53] ekomot commented on #25499
Thank you Mathieu, I solved the issue by importing the back-up file, but still not clear why this happened. Upgrading from 1.7.6.9 to 1.7.7.5 made the left menu disappear, downgrading again via the 1 Click module crashed my database…Has not happened before.

Thanks and regards,

mugur

From: Mathieu Ferment ***@***.***>
Sent: Tuesday, August 3, 2021 11:32 PM
To: PrestaShop/PrestaShop ***@***.***>

[2021-08-03 21:03] kpodemski commented on #25499
@ekomot as you can imagine module needs to delete the updated version of the database, to import the old one, unfortunately, rollback it's very problematic and it's something that PrestaShop Maintainers is already discussing 👍

Good that you did a backup! :D

[2021-08-04 00:39] hibatallahAouadni commented on #25488
Hello @rtvt

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- debug mode report
- PHP version
- screenshots
- ...
You don't know how to get this information? Please read the following article: [How to create a bug report]
(http://build.prestashop.com/howtos/misc/how-to-create-bug-report/).

Thanks!

[2021-08-04 00:41] hibatallahAouadni commented on #25492
Hello @dadashali61

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-08-04 00:41] #25492 closed, assigned to nobody

[2021-08-04 00:44] hibatallahAouadni commented on #25496
Hello @adamus007p

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-08-04 00:44] #25496 closed, assigned to nobody

[2021-08-04 00:45] hibatallahAouadni commented on #25498
Hello @kairnejeff

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-08-04 00:45] #25498 closed, assigned to nobody

[2021-08-04 01:01] hibatallahAouadni commented on #25499
Hello @ekomot

The issue of left menu in BO disappeared after upgrade #22250 has been fixed.
And as @matks mentioned in this [comment](https://github.com/PrestaShop/PrestaShop/issues/23166#issuecomment-783184675), your issue may be related to **APC Cache**.

Glad to hear :tada: that your problem has been solved.
Closing the issue :wink:

PS: @matks @kpodemski  thanks guys for your quick replies :r

[2021-08-04 01:01] #25499 closed, assigned to nobody

[2021-08-04 05:15] Guisardo opened #25503 "Attribute labels and supplier product values missmatch"
#### Describe the bug

Sometimes the Attribute labels does not match with the correct attribute-supplier values displayed at the Supplier section of the Product admin at the BO.

#### Expected behavior

The attribute labels should correspond to the values displayed at the same row at the Supplier section of the Product admin at the BO.

#### Steps to Reproduce

This happens from time to time. I co

[2021-08-04 05:38] Guisardo commented on #25503
I just confirm that this one is fixed at the develop branch.
Sorry for the spam 🙈

[2021-08-04 05:38] #25503 closed, assigned to nobody

[2021-08-04 07:35] Jeggiesaur commented on #25482
Hi @hibatallahAouadni

Please find below the link to the screen record
[https://drive.google.com/file/d/1YDbQ08TSuDuAQJ-wjH8tx7Osr4AZ_yFI/view?usp=sharing](url)

[2021-08-04 07:45] matks commented on #10510
PR started but not finished: https://github.com/PrestaShop/PrestaShop/pull/14476

[2021-08-04 07:47] matks commented on #10586
PR started but not finished https://github.com/PrestaShop/PrestaShop/pull/14551

[2021-08-04 07:50] matks commented on #10540
PR started but not finished https://github.com/PrestaShop/PrestaShop/pull/15045

[2021-08-04 07:52] JakubSVK commented on #25500
Hello @hibatallahAouadni

Same problem i have on classic theme ( default )
I am sending screen for first errors
![image](https://user-images.githubusercontent.com/49985582/128143142-23617bc1-4ef0-4564-9a28-2c0003abca8a.png)

![image](https://user-images.githubusercontent.com/49985582/128143239-a7ab9fe5-c54e-4a99-a23b-ed4cadc8bc5c.png)

[2021-08-04 07:53] matks commented on #10604
PR started but not finished https://github.com/PrestaShop/PrestaShop/pull/15096

[2021-08-04 07:54] matks commented on #10605
PR started but not finished https://github.com/PrestaShop/PrestaShop/pull/15180

[2021-08-04 07:57] matks commented on #13462
PR started but not finished https://github.com/PrestaShop/PrestaShop/pull/17498

[2021-08-04 07:58] Progi1984 commented on #25502
@eternoendless @PierreRambaud @NeOMakinG Are you ok that it's a bug and not a wanted behavior ?

[2021-08-04 08:03] futurehousestore commented on #25042
Hi,
Any update on this issue? I would like to change the HTML lang manually to the correct one but there's no point if on the next Prestashop update it will still be gb instead of en-GB as it will cause more issues.
Thanks

[2021-08-04 08:06] rtvt commented on #25488
Hello, @hibatallahAouadni

**steps to reproduce**

- Install Prestashop 1.7.7.5
- Check that default Product comments enabled
- Go to Front office - Product page
- You can see Product page tabs, and Prestashop have all necessary hooks to show any module there.
- You can see Product comments module as separate section in displayFooterProduct hook under tabs.
- Try to show Product comments module as

[2021-08-04 08:11] kpodemski commented on #25502
My 2 cents, BEM classes are correct ones, so it's a bug

[2021-08-04 09:05] hibatallahAouadni commented on #25042
Hello @futurehousestore

I tried with **powermapper** and it didn't display any error :confused:
Could you please provide the link of SEO online tool that you used :pray:

Thanks!

[2021-08-04 09:29] futurehousestore commented on #25042
Hi @hibatallahAouadni have you used for your test a website with the United Kingdom English language set up?
I have done tests on the below tools
https://ahrefs.com/site-audit
https://freetools.seobility.net/
https://try.powermapper.com/ (the error is displayed in Accessibility)
https://sitechecker.pro/
all these tools display the error "HTML lang attribute invalid" there is no lang as "gb" it sho

[2021-08-04 09:34] hibatallahAouadni commented on #25502
Hello @tups

Thanks for reporting this issue!
After discussing with @kpodemski on Slack, it's indeed a bug! I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly sugges

[2021-08-04 09:40] tups commented on #25502
Hello,

I have already done the PR: https://github.com/PrestaShop/PrestaShop/pull/25501

For my part no worries, I have already made the correction on my projects, if it may be present on the next update it's good for me. It was to share with you the correction of this bug.

[2021-08-04 10:07] hibatallahAouadni commented on #25346
Hello ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-04 10:07] #25346 closed, assigned to nobody

[2021-08-04 10:19] hibatallahAouadni commented on #25309
Hello @rzuf666

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-04 10:19] #25309 closed, assigned to nobody

[2021-08-04 10:22] hibatallahAouadni commented on #25502
@tups thanks for your PR :rocket: (my last answer, it was just automatic answer :sweat_smile: sorry about that)

[2021-08-04 10:38] hibatallahAouadni commented on #19552
Ping @202-ecommerce friendly reminder :wink:

[2021-08-04 12:01] lmeyer1 commented on #25346
@hibatallahAouadni
The reason why I didn't give news is because fixing https://github.com/PrestaShop/PrestaShop/blob/62206a604f2557d5e067d6b8d81f68528e254d47/classes/ObjectModel.php#L409 alone does not fix the wrong behavior. There are at least three related bugs, and I didn't have time either to investigate further or to create a module that pops the bug to the surface.

[2021-08-04 12:25] adamus007p commented on #25496
I am 12 years report bugs for Prestashop. First in the via forge.

It is joke what you are talking as you can easy reproduce it.

Have you tried do reproduce it? I am sure that NO.

But easier it to just clost the bug and have better stats ;)

All what you need has been written.

[2021-08-04 12:28] matks commented on #25496
@adamus007p the above comment is against our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/1e992bdfd57762fa83624314e57940a39d550690/CONTRIBUTING.md).

There is a process to report bugs, if you dont follow it, we will not analyze your usecase. This is our rules.

[2021-08-04 13:11] matks commented on #23848
Hi @Julievrz could you please confirm the above gentleman informations, so we can confirm this issue and move on the PR https://github.com/PrestaShop/PrestaShop/pull/23830 :) ?

[2021-08-04 13:36] Julievrz commented on #23848
After a quick search and confirmation from a Mexican on the team, I confirm that centimeters, meters and kilometers are more commonly used in Mexico :-)

[2021-08-04 14:43] WebXYAgency opened #25505 "PDF Invoices : incorrect URLs for product images"
#### Describe the bug

Product images can't be displayed in invoices because their URLs are incorrect.
The variable used to show products images uses files' physical paths instead of URIs (see screenshots).

#### Expected behavior

Product images shown in invoices when the "Enable product image" is enabled in "Orders" / "Invoices" menu.

#### Steps to Reproduce

Steps to reproduce the behavior:

1

[2021-08-04 15:40] spriale opened #25507 "Wrong client delivery address sent by Prestashop to Paypal API"
#### Describe the bug

There is an issue with the data that Prestashop is sending to the payment modules from the DB.

Prestashop is fetching the wrong address from the DB. The address sent by Prestashop to the Paypal API is already the wrong one. So the problem is not coming from Paypal API because Prestashop is sending already the wrong information.

#### Expected behavior

Prestashop should fet

[2021-08-04 16:04] musicpanda opened #25509 "Warning during upgrade is not clear"
#### Is your feature request related to a problem?
When I upgrade a Prestashop I often see the message at the bottom that "Warning detected during upgrade".
However, there is no way to detect what this warning is. A search for the keyword "warning" gives no relevant results.

#### Describe the solution you'd like
Every warning and error should be marked with a keyword on which it can be found. And

[2021-08-04 16:15] khouloudbelguith opened #25510 "BO - Order details page - an exception is displayed when status of the "merchandise return" is deleted"
#### Describe the bug

In the BO > Orders > Order details page, an exception is displayed when the status of the "merchandise return" is deleted
![image](https://user-images.githubusercontent.com/16067358/128215387-7f709bb6-5fb3-44c4-8860-9768fbddf605.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > Order Settings > Statuses page and create a new ord

[2021-08-04 16:49] liloubio opened #25511 "Restore Category Tree Link Module"
Hi, I would like to know where to get the Zip file for the **Category Tree Link module** as it doesn't appear on the Prestashop addons platform.

It was bugging so I uninstalled it thinking I could get it back from the **Prestashop Addons Platform**. Well, I was wrong. Since it's a native module, I would want to restore it.

Can anybody help?

[2021-08-04 17:46] hibatallahAouadni commented on #25505
Hello @WebXYAgency

I didn't manage to reproduce your issue with PS1775, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/128229265-29064ba8-3ec9-4160-a8b3-7275ab6cd736.png)

Please check and feedback.
Thanks!

[2021-08-04 17:52] hibatallahAouadni commented on #25507
Hello @spriale

I just edited your problem, could you please provide your PrestaShop version and your PHP version.
And if you could provide some screenshots as well, that would be helpful :wink:
Please check and feedback.

Thanks!

[2021-08-04 18:18] hibatallahAouadni commented on #25511
Hello @liloubio

Please follow my steps in the attached screen record below:

https://drive.google.com/file/d/1BQuizDjKTPRq4YmUQBH4SQ0UTD7U6L-X/view

As you can see after uninstalling the module, I search for the module on **Module Catalog**, then I installed.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop o

[2021-08-04 18:18] #25511 closed, assigned to nobody

[2021-08-04 19:02] spriale commented on #25507
- I updated the information that you required above.
- Also added this screenshots, where I had to change the names of the customers due to data protection reasons.
- You can see in the first screenshot that Paypal takes the correct user A name provided by Paypal. However it takes the address of the user B. In the invoice (seconde screenshot) it can be seen the user B name and address, which is wr

[2021-08-04 20:38] davidcylke opened #25512 "[1.7.7.5 and 1.7.6.1] [Multistore] Product is removed from search index when saved after edit"
When we edit the product in "All stores" (for example add some features) and save the product its removed from search index on one of the versions of our multistore. We had same issue in 1.7.6.1 and now in 1.7.7.5. Its very annoying, because preferences - search says all products are indexed. Adding only missing ones button doesn't do anything and only rebuilding whole index fixes it, while we hav

[2021-08-04 20:44] davidcylke opened #25513 "Discounts per client per brand (other than specific prices)"
Hi guys. It would be great if we could have an option to add percentage discount to use account and each brand. It would remove need of additional modules to do it. Many other ecommerce softwares have it. It would be very useful for B2B. There are specific prices, but those are not suitable if we have 200 b2b clients. We want to add additional discount off the specific price to client who makes bi

[2021-08-05 00:30] alvesjc commented on #24207
Helo,

I'm having the same issue.

I'm sure that the user and pass is correct, but it always results in authentication failure.

What info you need to try to reproduce it ?

Thanks

[2021-08-05 06:23] davidcylke commented on #25001
@bastienu did you find a solution for this?

[2021-08-05 07:32] lmeyer1 opened #25515 "The method Db::numRows() is unreliable"
#### Describe the bug

I used the method `Db::numRows()` instead of `Db:Affected_Rows()` (with `DBO` and Db Caching enabled) already since a long time. A just got bitten by a bug difficult to reproduce.
This is when I noticed, that `Db::numRows()` isn't used anymore in the whole codebase, and that in fact it cannot work reliably.
- It is meant to be used with `executeS` and `getRow`, but is not re

[2021-08-05 08:00] WebXYAgency commented on #25505
Can you add `&debug=1` to the invoice download URL and post the content of the `image_tag` variables ?

[2021-08-05 08:46] itnomic opened #25517 "Custom CSS-IDs and classes for categories and articles"
#### Is your feature request related to a problem?

In PrestaShop each page has its own ID or CSS class and can be designed individually, but it is not possible to combine several pages with one CSS or ID class.

#### Describe the solution you'd like

I think it would be helpful if you have the opportunity to add your own CSS classes and IDs to article and maybe also on category pages (Screenshot

[2021-08-05 08:58] lmeyer1 commented on #25299
@PrestaShop/product-team
This is very important in multi-shop context. In fact, different shops have a different domain, thus using URLs without domain is a must.

[2021-08-05 09:20] Hlavtox commented on #11115
@matks @MatShir I think that even in case of multishipping, the order references should be unique. The orders are split for them to be dealed as separate cases. If a customer calls or writes something about that order, you will immediately see which order he is talking about.

Duplicate reference will only create problems in ERP systems. Also, when tracking the order, you can only track one order.

[2021-08-05 09:31] Alexandre17220 commented on #11115
No, look the source code in my post.

[2021-08-05 09:32] Hlavtox opened #25518 "Split orders (multishipping) issues"
I just tested multishipping scenario and there are several issues with it.

## How to reproduce
A) Make two carriers.
B) Make two products, limit product 1 to carrier 1, limit product 2 to carrier 2
C) Go order it.

## Problems
**Order confirmation**
There is only one order displayed on the confirmation. If there are multiple orders for this cart, we should display a message: `We split your cart i

[2021-08-05 09:34] #25518 closed, assigned to nobody

[2021-08-05 09:35] hibatallahAouadni commented on #25513
Hello @davidcylke

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-08-05 09:35] #25513 closed

[2021-08-05 09:54] Hlavtox commented on #25517
@itnomic `page-category tax-display-enabled category-id-3 category-clothes category-id-parent-2 category-depth-level-2` You have all these classes on <body> tag, is it not enough? :-)

[2021-08-05 10:16] itnomic commented on #25517
Hey @Hlavtox, I give you an example:

I have one category with 100 products and would like to change the page-design of 30 products.

In css I have to write

[code]
Whenever I have a **new** product with the other design, I have to edit my stylesheet every time again, thats not effective and not the best way for editors.

If I have my own class i can write for all product-pages that have to be cha

[2021-08-05 10:23] Hlavtox commented on #15491
@Matt75 @marionf Two more issues on this topic:

**Cart detail in BO**
If you open the cart details in backoffice, there is only the first order displayed on the right.

**Duplicate reference**
Order references should be unique. The orders are split for them to be dealed as separate cases. If a customer calls or writes something about that order, you will immediately see which order he is talking

[2021-08-05 12:03] #22321 closed, assigned to zuk3975

[2021-08-05 12:11] hibatallahAouadni commented on #25490
Hello @ytilotti

After discussing on Slack, I didn't manage to reproduce the issue with PS1775, see the attached screen record below:

https://www.awesomescreenshot.com/video/4738273?key=08dd9c2438a5012921f2053f79e6c447

Even the emailing is disabled, the tracking number is updated.
Please check and feedback.

Thanks!

[2021-08-05 12:31] lmeyer1 opened #25521 "prestashop/ps_googleanalytics is no longer installable with composer"
#### Describe the bug

prestashop/ps_googleanalytics is not installable with composer. It is missing in the package catalog at packagist.org.

#### Expected behavior

I expect `prestashop/ps_googleanalytics` to be installable using composer.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Checkout Prestashop/Prestashop
2. Try to add the package `prestashop/ps_googleanalytics` using

[2021-08-05 12:36] matks commented on #25521
Indeed I cannot find it in https://packagist.org/?query=prestashop

You say "no longer", so it was on packagist before?

[2021-08-05 12:40] lmeyer1 commented on #25521
I thought it was, but I didn't go up the whole history of `composer.json`.
In fact I was wrong, I added it directly with the `repositories` entry.

[2021-08-05 12:48] hibatallahAouadni commented on #25490
Hello again!

Thanks @ytilotti for the clarification on Slack!
Yes, the tracking number has been updated but the hook is not called:

![image](https://user-images.githubusercontent.com/23308427/128349565-1cf69316-e485-4c18-b8f8-b35e2e8e98f6.png)

It should display a blank page with the word "test". So, I reproduce the issue with PS1775, PS1767 and develop.
I’ll add this to the debug backlog so tha

[2021-08-05 12:52] nshdigital opened #25522 "Hook actionAttributeCombinationSave is not triggered after editing a Product combination"
#### Describe the bug

I'm creating a module to add custom fields on combination and I'd like to avoid overriding AdminProductWrapper and Product by using a hook "actionAttributeCombinationSave".
I tried to register this hook but it's not called. In fact the only method that should trigger it (Combination::setAttributes) is not called.

#### Expected behavior
Trigger hook actionAttributeCombinatio

[2021-08-05 13:02] hibatallahAouadni commented on #25517
Hello @itnomic

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-08-05 13:06] hibatallahAouadni commented on #25521
Hello @lmeyer1

Thanks for reporting this issue!
So, @matks wdyt? shall we validate the issue?

[2021-08-05 13:10] hibatallahAouadni commented on #25515
Hello @lmeyer1

As you know I need clear and consice steps to reproduce the issue and then to valdiate it :sweat_smile:
Could you please provide steps to reproduce :pray: Unless you think it should be treated by developer :wink:
Please check and feedback.

Thanks!

[2021-08-05 13:21] nisteria commented on #25077
i have the sam Problem

[2021-08-05 14:11] Progi1984 commented on #25283
Ping @NeOMakinG

[2021-08-05 14:12] Progi1984 commented on #25423
Ping @NeOMakinG

[2021-08-05 14:18] lmeyer1 commented on #25515
@hibatallahAouadni
Sure, it should be treated by a developer.
@Progi1984 already approved my PR. There is still a little issue with it that I'll fix later today.

[2021-08-05 14:20] hibatallahAouadni commented on #25512
Hello @davidcylke

I think you have the same issue as this one #17778
I didn't manage to reprodcue the issue with PS1775 and PS1776, see the attached screen record below:

https://drive.google.com/file/d/1xV6FakJBISj5G0VAx4aCfuNVpbrxj2FK/view

And could you please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/17778#issuecomment-589726852) :pray:
Please check and feedback.

T

[2021-08-05 14:24] davidcylke commented on #25512
No, its not the same issue. Adding missing products to the index is not changing anything.

Also on you video you didn't work on "All shops".

[2021-08-05 14:27] davidcylke commented on #25512
Also, on the video you didn't use search on the front office. In my case search index says there are all products indexes but the edited products is not searchable

[2021-08-05 14:28] hibatallahAouadni commented on #25488
Hello @rtvt

Thanks for your suggestion, I edit your issue description following the feature template.

The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to hel

[2021-08-05 14:34] hibatallahAouadni commented on #25515
FYI: even when a developer or a QA analyst has approved your PR, the PR cannot be merged without validating the issue :wink:

Ping @PrestaShop/prestashop-core-developers could you please reproduce the issue, this is quite technical for me :sweat_smile:
Thanks in advance :pray:

[2021-08-05 14:45] hibatallahAouadni commented on #25001
Hello @bastienu

I think @PierreRambaud answered all your questions. Thanks @PierreRambaud :clap:

As you know, since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: @bastienu & @davidcylke you can always ask for help in the [community forums](https://www.

[2021-08-05 14:45] #25001 closed, assigned to nobody

[2021-08-05 14:49] hibatallahAouadni commented on #23848
Thanks guys for your hard working :clap:

[2021-08-05 15:19] j-rutkowski opened #25525 "Error when selecting „non existent” combination"
#### Describe the bug

Let's say a product has colours A and B, and colour A is available in sizes S, M, L, and colour B is available in sizes M, L. When combination in colour A and size S is selected on the product page, and then a customer tries to select colour B, Prestashop throws an error `An error occurred while processing your request`, because combination colour B size S doesn't exist.
###

[2021-08-05 15:42] marionf commented on #25478
In fact, it's not when you are in "All shops" context, it rather depends on the store(s) selected in the shop association block.
You can be in "all shops" context but then deselect shop(s) in the shop association block.

That's the goal of the all shops context: make a change that will affect all stores.

Unless if there is a bug that I am not aware of, this is not possible because if the page is

[2021-08-05 16:04] lmeyer1 commented on #25478
@marionf
Thanks for your detailed explanations.
I don't agree in every point though. Let me explain.

This is only the case when editing in *All shop* context. This is not true when editing in a specific shop. In that case, only the text in that specific shop is modified.

Let's suppose I have 2 shops: "Shop1" and "Shop2".
(...)

Yes this is how it worked in PS 1.6.0, and it is still possible to u

[2021-08-05 16:27] khouloudbelguith opened #25527 "BO - Welcome module - the text of the pop up is not well displayed"
#### Describe the bug

In the BO, in some steps, the text of the pop up is not well displayed

#### Expected behavior
Text should be well displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS1776
2. Follow the welcome module
3. See the error in the product details page (Pricing)
![image](https://user-images.githubusercontent.com/16067358/128386161-8bc356d2-7970-4820-9

[2021-08-05 16:34] khouloudbelguith opened #25528 "FO - An exception is displayed after an upgrade from PS16124 to PS1776 in the categories page (random)"
#### Describe the bug

After an upgrade from PS16124 to PS1776build2, an exception is displayed in the FO > categories page
![image](https://user-images.githubusercontent.com/16067358/128386997-1becc06f-a32a-4b2f-abda-6eb4bd03d46c.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS16124
2. Install the 1-click upgrade v4.12.0
3. Make an upgrade to PS1776
4. Go to FO > cat

[2021-08-05 16:36] khouloudbelguith commented on #25528
Hi @atomiix @Robin-Fischer-PS,

We have discussed about this issue before
 `This issue is related to the fact that the XML for 1772 is not generated (as usual, it is generated at the release). So depending on the configs, it is not always the right files that are used in FO`

Thanks!

[2021-08-05 17:38] ShaimyWinda opened #25529 "Bad image when filtering"
#### Describe the bug

Hello,

When I put a different image on the cover for a variation, you can see it on the product sheet when you change the size.

However, when I filter the size in the category, the image does not change

Can you please help me?

Thank you

**Screenshots**

https://drive.google.com/file/d/1O9b2NcHCNyomK-KuOM0kwEUU5205qptN/view

#### Additional information

* PrestaShop vers

[2021-08-05 19:53] adamus007p opened #25530 "Orders are not created when there is no confirmation from webhooks or correct redirect to shop"
#### Describe the bug

When customer make a payment using non card method (Sofort, P24) and will not click back to shop there is no order on Prestashop side.

I had from time to time customers who paid me money.
I can saw the money on Stripe dashboard but there was no order on Prestashop side.
No order, no error, nothing. Just money, somethimes emails from customers.

Some customers are too fast a

[2021-08-05 20:25] ProteanCode opened #25531 "Strange values in ps_address vat_number column"
#### Describe the bug

From time to time some of the users stores in database inappropriate vat number values
The reason why it happens is unknown to me, but maybe there are people aware of that behaviour.

Example values are like "Not US, nor Canada citizen", or "--- chose ---" or other province name which are not vat numbers at all.

#### Expected behavior

The vat number should not be (I guess?

[2021-08-06 07:02] khouloudbelguith commented on #25529
Hi @ShaimyWinda,

We are aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12501
So, I close it.
Thanks!

[2021-08-06 07:02] #25529 closed, assigned to nobody

[2021-08-06 07:02] khouloudbelguith commented on #25529
Duplicate of #12501

[2021-08-06 08:29] hibatallahAouadni commented on #25522
Hello @nshdigital

Thanks for respecting the template and for reporting the issue!

I reproduce the issue with PS1775, PS1767 and develop, see the attached screen record below:

https://www.awesomescreenshot.com/video/4749476?key=63018bd0a5a56feefb97bb3ff2f6d63c

’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might t

[2021-08-06 08:36] Progi1984 commented on #25527
Ping @NeOMakinG ;)

[2021-08-06 08:44] khouloudbelguith commented on #25530
Hi @adamus007p,

Thanks for your report.
I'm using the last stable version PS1.7.7.5 php7.2.
I tried to install stripe v2.3.5. => but I have an exception on the configuration page.
I attached a screen record
https://drive.google.com/file/d/1L9L00360lz8a6HTTJ4s0fWS2r1wtMqsH/view?usp=sharing
I have the same issue with PS1775 + php7.1

I tried with Paypal module v5.4.3 but I couldn't manage to reprod

[2021-08-06 08:53] khouloudbelguith commented on #25531
Hi @ProteanCode,

Thanks for your report.
Isn't the same issue displayed here?
![image](https://user-images.githubusercontent.com/16067358/128484600-64783c6f-fd82-4fbb-9080-4790cc2576ad.png)

Thanks!

[2021-08-06 09:02] hibatallahAouadni commented on #25525
Hello @JaqubR

I didn't manage to reproduce the issue with PS1767 and PS1775, see the attached screen record below:

https://drive.google.com/file/d/14JL-8saoNGnHwgmtGKlUEW8gPrQ4o8Xf/view

It seems the issue has been fixed :tada:  I close the issue.
Thanks!

[2021-08-06 09:02] #25525 closed, assigned to nobody

[2021-08-06 09:06] MattTreeman opened #25532 "The discount mode does not apply to all currencies (despite being set to do so)"
#### Describe the bug

I am trying to set a discount mode (-15%) for all the products and all the currencies (I have two - PLN and EUR). However, it only applies to PLN and not for EUR. I have also tried to set the discount to EUR currency specifically (omitting the PLN), but the result is the same - the discount for EUR simply does not apply.

#### Expected behavior

I would like to have the disc

[2021-08-06 09:20] khouloudbelguith commented on #25512
Hi @davidcylke,

I did not manage to reproduce the issue with PS1.7.7.5.
I attached a screen record
https://drive.google.com/file/d/1a7ZvPXPHs3KrTZTd4XYH8YdZyKboYvdk/view?usp=sharing

Also, could you please heck in the BO > Product details > Options Tab > Visibility = Everywhere.

Thanks!

[2021-08-06 09:30] hibatallahAouadni commented on #25532
Hello @MattTreeman

I didn't manage to reproduce the issue with PS1775, see the attached screen record below:

https://drive.google.com/file/d/1xSxTcHStabAkIjezdG-6q4N8mjGOWE_b/view

Please check and feedback.
Thanks!

[2021-08-06 09:40] khouloudbelguith commented on #25505
Hi @WebXYAgency,

I tried to navigate to this link: http://prestashop.com/1775stable/admin-dev/index.php?controller=AdminPdf&submitAction=generateInvoicePDF&id_order_invoice=5&token=6558c835df8ad9fbb392098bcae3e4ff&debug=1
I have no `image_tag`
![image](https://user-images.githubusercontent.com/16067358/128491146-5774f98f-8149-4f0b-b594-ca9ced4ab67a.png)

Thanks to check and feedback.

[2021-08-06 09:47] hibatallahAouadni commented on #25473
Hello @gioiellerianotini

So you're talking about improving the performance of faceted search, right?
If so, what you are suggesting is an improvement, not a bug.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strong

[2021-08-06 09:59] khouloudbelguith commented on #25507
Hi @spriale,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1775 and the Paypal module v5.4.3 - by 202 e-commerce.
I attached a screen record
https://drive.google.com/file/d/1sV6P7EAnbVe2D8KjHIJd29ofSYkJm3sW/view?usp=sharing

Have you tried to contact the module developer?
Thanks to check with them and feedback.

[2021-08-06 10:10] MattTreeman commented on #25532
Hi @hibatallahAouadni ,

Thanks for your time and effort. Actually it happened to me also on the older version of Prestashop, so I don't think it's the upgrade issue. I have also tried to set the amount, not percentage discount (like you did), but the effect was the same - no discounts for EUR.

Any idea what can be wrong here? Or where should I report it to be sure it will be dealt with?

Thanks,

[2021-08-06 10:28] khouloudbelguith commented on #25042
Hi @futurehousestore,

I did not manage to reproduce the issue with PS1775.
I attached a screen record
https://drive.google.com/file/d/1Tgqn90L4sHxmVYYyRr14pDNW5ekagrP_/view?usp=sharing

Thanks to check and feedback

[2021-08-06 10:48] khouloudbelguith commented on #25500
Hi @JakubSVK,

I did not manage to reproduce the issue with PS1.7.7.5.
I used Classic v1.0.0, luxury v1.0.0, and Minimal v3.0.4.
https://drive.google.com/file/d/18fn4kWZWA5P_wP778Lk6ulTUeWwBbikp/view?usp=sharing

Your last screenshot provided is just a warning, it is not an issue.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - se

[2021-08-06 10:48] davidcylke commented on #25512
Yeah, I have Everywhere set.

[2021-08-06 10:58] khouloudbelguith commented on #25482
Hi @Jeggiesaur,

In fact, your default language is English
BO selected
![image](https://user-images.githubusercontent.com/16067358/128500290-889d67ac-d5f0-4546-80d7-919e9e74322d.png)

In the FO, the language selected is Gb
![image](https://user-images.githubusercontent.com/16067358/128500402-e74b56b0-5a49-4d4e-875a-bb3b865a6882.png)

You need to change the language selected in the FO => It will be

[2021-08-06 10:58] #25482 closed, assigned to nobody

[2021-08-06 11:04] hibatallahAouadni commented on #25532
Hello @MattTreeman

I'm really sorry, but the issue seems not related to PS Core. If you want disable your custom/no-native modules and switch to the default theme, check if you still encounter the issue. Don't forget to disbale your overrides.

If you still encounter the issue, you can ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](http

[2021-08-06 11:04] #25532 closed, assigned to nobody

[2021-08-06 11:12] khouloudbelguith commented on #25512
@davidcylke, have you any custom modules related to the search? or it could be to your custom theme?
If no, what is the exact configuration of the Shop Group?

Thanks!

[2021-08-06 11:19] JakubSVK commented on #25500
Hi @khouloudbelguith

On Classic theme i see just this :
![image](https://user-images.githubusercontent.com/49985582/128502876-66b7a9bb-f35a-43dd-ab10-c7859ac71b70.png)

Here is details

![image](https://user-images.githubusercontent.com/49985582/128502112-54b2e978-ec8e-44a2-8490-931c46ed5bdf.png)

Some information from Dev log

[2021-08-06 12:56:53] translation.WARNING: Translation not found. {"i

[2021-08-06 11:52] khouloudbelguith commented on #25500
@JakubSVK, could you please check this [line](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Service/TranslationService.php#L119)
Try change here "classic" to "warehouse" (or another theme name) and all default translations and expressions are displayed.

Thanks to check and feedback.

[2021-08-06 11:58] JakubSVK commented on #25500
@khouloudbelguith
Just changed to warehouse.
When i will edit translation of warehouse theme, just i see
![image](https://user-images.githubusercontent.com/49985582/128507038-4d7c33db-1d11-4858-878c-ae4ca3d9cb65.png)

No new erros in dev.log

[2021-08-06 12:03] khouloudbelguith commented on #25500
@JakubSVK, is your PrestaShop version a fresh install or an upgrade from a previous version?
Have you had this issue before changing your current theme?
Did you try to contact the theme author about this issue?

Thanks!

[2021-08-06 12:15] adamus007p commented on #25530
Interesting, but my problem is little bit different.

When there is no full redirect from 3rd party website (some payment gateway) there is no click to back to Prestahshop there is no order created in Prestashop.

Please will create an order when customer will click back to shop or will wait for automatic redirect.
In real customers very often will not click to back or will not wait.

On Merchant

[2021-08-06 12:37] WebXYAgency commented on #25505
Hi @khouloudbelguith,

Can you open the page in your browser code inspector and post the HTML code of the `<img>` tag ?

It should look like this
![image_tag browser inspect without fix](https://user-images.githubusercontent.com/57484794/128511284-b21810d1-8492-48fa-97c2-1c121ac8aaf5.png)

[2021-08-06 12:50] RobertRaul commented on #22260
Yo tenia el mismo problema de instalación con la versión 1.7.7.5, actualice PHP a 7.4 y Mysql a MariaDB 10.2, reinstale todo y funciono correctamente.

I had the same installation problem with version 1.7.7.5, I had to update PHP to 7.4 and Mysql to MariaDB 10.2, reinstalled everything and it worked correctly.

[2021-08-06 12:57] hibatallahAouadni commented on #25372
Hello everyone,

Lets' summarize !
So, we have some issues when we check the FO product page with google rich data test tool:
- #22416 (Fixed)
- #22962
- #25372 (this one)

Is that so? Please check and feedback.
By the way @Oksydan I encounter the same issue with PS178x in product page (only when I submit a comment):

![image](https://user-images.githubusercontent.com/23308427/128513641-6dc19312-c

[2021-08-06 13:11] hibatallahAouadni commented on #16447
Ping @PrestaShop/prestashop-core-developers friendly reminder :wink:
Could someone please answer @khouloudbelguith question :pray:

Thanks in advance.

[2021-08-06 13:21] karelkryda opened #25535 "The "Options -MultiViews" option does not allow a smooth update"
#### Describe the bug

Leaving "Options -MultiViews"option active in Admin .htaccess file will cause an HTTP error 500 on shared hostings when attempting to upgrade using the "1-Click Upgrade" plugin.
Due to this fact, it is not possible to use the plugin for a seamless update. To perform the update correctly, the update archive must be downloaded and modified and the store updated from it.

####

[2021-08-06 13:22] hibatallahAouadni commented on #16386
Hello @matks

I just edit the original issue description :wink:
Ping @PrestaShop/product-team I make it simple to read :wink: enjoy it!

[2021-08-06 13:26] hibatallahAouadni commented on #16204
Ping @PrestaShop/product-team shall I change the issue status to **To Do**, does this issue still need some specifications?

[2021-08-06 13:27] marionf commented on #25478
You are right, it seems to be a bug. According to the [current specifications](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/multistoregeneralspecs.md#actions-in-the-listings-grids), the content should stay the same for every shop checked in the shop association block.

The second option to not create a new page but let the user customize the content by shop co

[2021-08-06 13:50] Progi1984 commented on #25332
Fixed by @matthieu-rolland in #25343

[2021-08-06 13:50] #25332 closed, assigned to matthieu-rolland

[2021-08-06 13:57] Oksydan commented on #25372
Hi @hibatallahAouadni
since 1.7.8.0 structured data has been removed form html tags in favor of json-ld.
`itemtype="https://schema.org/Product"` doesn't exits anymore in product page on main container.
`productcomments` microdata implementation was right until 1.7.8.0 version. Aggregate rating can't be implemented this way anymore. (we can keep it as backwards compatibility with `_PS_VERSION_` log

[2021-08-06 13:57] khouloudbelguith commented on #25505
Hi @WebXYAgency,

I have `<img src="\&quot;\/var\/www\/html\/1775stable\/img\/tmp\/product_mini_26_0.jpg\&quot;" alt="\&quot;\&quot;" class="\&quot;imgm" img-thumbnail\"="" \="">`

Thanks!

[2021-08-06 14:14] seederp2p opened #25536 "1.7.7.5 - Error checkout - The property Address->City is not valid at line 1045 in file classes/ObjectModel.php"
Hello,

From times to times I'm getting orders without any state. The customers tell me that on the front office they can't finish the order.

I couldn't reproduce any of these but asked customers.

So basically:

1 - They are logged in;
2 - They try to finish the order;
3 - When they click to finish nothing happens.
4 - This can happen with any payment method.
5 - This happened on iOS and Android

[2021-08-06 14:27] ProteanCode commented on #25531
No. The values I have looks like fetched from some dropdown list, but I do not understand how it is possible

[2021-08-06 14:28] PrekWood commented on #20385
Made it work with quite of a hack. If anyone wants to try it following the steps

[New Text Document (3).txt](https://github.com/PrestaShop/PrestaShop/files/6946133/New.Text.Document.3.txt)

[2021-08-06 14:32] PrekWood commented on #20385
Don't forget to add

`use PrestaShop\PrestaShop\Core\Product\Search\ProductSearchResult;`

at the start of modules/ps_featuredproducts/ps_featuredproducts.php

[2021-08-06 14:48] JakubSVK commented on #25500
@khouloudbelguith it was fresh installation of 1.7.6.1. I can´t remember if it worked from beginning.
No i do not contact autor of theme, but i cannot find any similar problem likes this with this theme.

[2021-08-06 15:04] khouloudbelguith commented on #25535
Hi @karelkryda,

I did not manage to reproduce the issue.
I made an upgrade from PS1772 to PS1775 using the 1-click upgrade v4.12.0.
I attached a screen record
https://drive.google.com/file/d/1B3yaRJzQUL_raRDguJEL2VHJNyb4m_Vr/view?usp=sharing

Thanks to check and feedback.

[2021-08-06 15:19] khouloudbelguith commented on #25536
Hi @seederp2p,

Thanks for your report.
In the FO >  Your account  Addresses  Update your address page
What is the exact data in the field **City** saved?
I think you have incorrect data
In my case, I did not manage to reproduce the issue
![image](https://user-images.githubusercontent.com/16067358/128533322-51c56e03-e461-4cdc-aa7f-267cabba3629.png)

Thanks to check and feedback.

[2021-08-06 15:27] khouloudbelguith commented on #25500
@JakubSVK,
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.

Thanks to check with them and feedback.

[2021-08-06 15:27] khouloudbelguith commented on #25531
@ProteanCode, could you please provide me a screenshot about your issue?

Thanks!

[2021-08-06 15:49] khouloudbelguith commented on #25530
@adamus007p,

I believe it would change how the Prestashop works.

so you suggest a new feature.

ping @PrestaShop/product-team what do you think?

Thanks!

[2021-08-06 16:02] seederp2p commented on #25536
Hi there!

Well, it has the city name. Which is correct and I don't see any specific issue on that.

As far as the fact that you can reproduce, It doesn't happen all the times. So I suggest that some engineer might give us some input on what might cause this.

Might be related to something very specific...

[2021-08-06 16:03] khouloudbelguith commented on #25372
Hi @Oksydan,

Yes, you are right.
I manage to reproduce the issue with 178x branch.
**FO**
![image](https://user-images.githubusercontent.com/16067358/128539003-bd0edbd2-eb67-4414-a1f9-f1750172a717.png)
I used https://search.google.com/test/rich-results
![image](https://user-images.githubusercontent.com/16067358/128539087-87c9b538-f5b3-4020-9965-5afda620ed44.png)

It is ok with PS1769, PS1775 when

[2021-08-06 16:08] JosueDuran08z opened #25537 "HomeSlider not showing"
When I updated the Prestashop version from 1.7.5.1 to 1.7.7.5, my HomeSlider is not showing. I checked the files between the two versions and they are the same. I am using AN Theme.

* PrestaShop version: 1.7.7.5
* PHP version:  7.1.33

[2021-08-06 16:16] khouloudbelguith opened #25538 "BO - Add new Order page - Cannot Add a product with required customization"
#### Describe the bug

In the BO > Orders > Add new Order page, it is not possible to add a product with required customization

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Add new order page
2. Choose a customer
3. Search the customized product (demo_14)
4. See error: "Type your text here" is not displayed
![image](https://user-images.githubusercontent.com/16

[2021-08-06 16:20] Vitamixlife commented on #25393
Dear,
I've test same situation on a new installation of p.s. 1.7.7.5 but the bug persist.

- Cart Rule: free shipping from 60€ otherwise you pay 7€ of shipping cost.
- Voucher: 15€ discount and "free shipping" switch is on.
- I've a cart with 38€ (2 items), whne I apply the voucher, the cart shows: -22€ discount, shipping free, that's ok!
- 38€ minus 22€ subtotal: 23€ ??? wait: 16€ of course, not

[2021-08-06 16:34] Vitamixlife commented on #25393
dear florine, in your video  that's an error:

https://drive.google.com/file/d/1hIc27Mxa_KYWv-KX2vLWRjE_EPSepXxw/view

104,4 - 34,50 makes 78.3??? its 69.9€  (78.3€ its with the shipping cost of 8.4€ calculate but i need free shipping )

[2021-08-06 16:36] khouloudbelguith commented on #25536
@seederp2p,

Could you please provide a screenshot from your database table ps_address to check the city field?

Thanks!

[2021-08-06 16:54] Vitamixlife commented on #25393
Only difference beetwen ver 1.7.6.9 and 1.7.7.5 its voucher mode shows: gratis/free shipping instead the value but the total count of cart its incorrect.

[2021-08-06 18:22] ProteanCode commented on #25531
![vat_number](https://user-images.githubusercontent.com/43477801/128554523-7c42262d-b61e-4228-8a87-cb3ef477e6c5.png)

These values are not valid vat numbers, these are provinces of Poland. The "Wybierz" value is just a translation for "Choose"

No idea why. This somehow happens also on my other shops, but its far less common

[2021-08-06 18:40] karelkryda commented on #25535
Hi @khouloudbelguith,

I tried to turn on "Disables the Apache MultiViews feature"
![image](https://user-images.githubusercontent.com/59953812/128556691-8ae862cc-8221-49c1-8e76-733b7b393a4e.png)
and then uncomment "Options -MultiViews"option in Admin .htaccess file and this happens.

![image](https://user-images.githubusercontent.com/59953812/128556616-cf52f9f7-26cc-4c17-abed-e8bd48fe1e43.png)

Th

[2021-08-06 19:57] matks commented on #21361
Hello @khouloudbelguith this topic is closed ? :) GitHub automatically closed the issue so I don't know if the status is really "solved" or not

[2021-08-06 20:09] goyetus opened #25539 "Update Product Image Folder structure ?"
#### Is your feature request related to a problem?

I see a product image  with ID 101  are located at:
images/p/1/0/1/101-image.jpg

If we are setting the image as unique with the "101" ID  attached to the image filename...... (101-image.jpg)
Why the hell we put the images under a folder structure like /1/0/1  for this image in particular ?

Im only seeing disadvantage  from getting  "1 folder fo

[2021-08-06 22:33] eveneme opened #25540 "New themes Twig Symfony"
new template compatible with the latest standards
Many templates are based on an outdated default template. The default template should be rewritten. in accordance with the latest standards.
HTML 5.1
CSS3 Grid / Flexbox
Twig
This would add a new dimension to prestashop. Because the current template is outdated.

[2021-08-06 22:34] eveneme commented on #25540
https://twig.symfony.com

[2021-08-06 22:38] eveneme commented on #25540
Many templates are based on an outdated default template. The default template should be rewritten. in accordance with the latest standards.

[2021-08-07 06:29] matks commented on #25540
Hi @eveneme thanks for your suggestion but unfortunately it's not that simple.

You can find the details in https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-2-pain-points

To make it short, we could not do this as any important change would break hundred of children themes being used.

Your suggestion is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14533 so I

[2021-08-07 06:29] #25540 closed, assigned to nobody

[2021-08-07 12:24] #25437 closed, assigned to matthieu-rolland

[2021-08-07 12:39] matks commented on #25539
Hi @goyetus unfortunately I'm not sure there is a trace of why the people who chose this storing convention decided to adopt this.

Storing all images in a single folder would be a bad idea. Shops can have thousand, sometimes even millions of products and images. I am not sure all systems work well with a directory that contain millions of files. This is probably why the use of subdirectories was

[2021-08-07 14:14] goyetus commented on #25539
Thanks for your answer!

I was thinking in download all images,   use an online zip tool  like TinyPng  or TinyJPG to decrease the size of images,  and re-upload them.

Having all of them in this estructure,  makes impossible to do this action without making some PHP  to move each image to his folder.

In Opencart I set my image data as one simply folder,   so was wondering why Prestashop was usin

[2021-08-07 18:22] hibatallahAouadni commented on #25540
Duplicate of #14533

[2021-08-07 18:25] hibatallahAouadni commented on #25537
Hello @JosueDuran08z

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, w

[2021-08-07 18:25] #25537 closed, assigned to nobody

[2021-08-07 19:02] musicpanda commented on #25539
Prestashop used to have such a flat structure. If I remember well it was deserted in version 1.04 for performance reasons.

[2021-08-07 19:33] musicpanda opened #25541 "Install only the requested languages"
#### Is your feature request related to a problem?
When I install a new Prestashop installation on my computer Prestashop detects that the default language of my browser is Dutch and always installs that language. So when I install an installation for a customer in the US, specify the language as English and the country as the US Prestashop installs two languages: English and Dutch.

#### Describe

[2021-08-07 19:38] musicpanda commented on #25541
This "feature" is getting worse and worse. It is becoming almost impossible to force Prestashop to ignore the browser settings. Even after I selected the US it installed the Netherlands.

[2021-08-08 00:05] goyetus commented on #25539
Thanks for the info,  I will search it !    Regards!

[2021-08-08 07:39] JakubSVK commented on #25500
@khouloudbelguith Please check screenshot - this is classic theme :

![image](https://user-images.githubusercontent.com/49985582/128624714-98f14e8e-2f68-46d5-8ff2-47401cefcf77.png)

[2021-08-08 07:43] musicpanda commented on #25539
For a long time Prestashop kept a flat structure as an option. I think that option was only removed in 1.7.

[2021-08-08 13:06] Rizzen59 opened #25542 "Product on category page display out of stock instead of availlable on order"
#### Describe the bug

On catagory page i have product display as out of stock even if the product is availlable for order. But if I access to the product page, status is ok and product can be added on cart. More, when I add the product to cart, the status on category page change for the good status until the product are removed from the cart.

Not all product are affected. I searched in code and

[2021-08-08 18:52] PululuK commented on #25539
FYI  [Deep directory structure vs. flat directory structure](https://medium.com/@hartator/benchmark-deep-directory-structure-vs-flat-directory-structure-to-store-millions-of-files-on-ext4-cac1000ca28)

[2021-08-08 21:52] goyetus commented on #25539
OHHH THANKS!!!!!

[2021-08-09 02:37] langziyang opened #25544 "why auto delete product?"
prestashop 1.7.6.3

in `src/PrestaShopBundle/Controller/Admin/ProductController.php`

function:  `public function listAction`

i find this code:
`
$this->get('prestashop.service.product')->cleanupOldTempProducts();
`

then in   file `src/PrestaShopBundle/Service/ProductService.php`

i find

`public function cleanupOldTempProducts()
    {
        $oldProducts = Product::getOldTempProducts();

[2021-08-09 07:20] hibatallahAouadni commented on #25541
Hello @musicpanda

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-08-09 07:23] hibatallahAouadni commented on #25544
Hello @langziyang

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about PrestaShop Core, you can ask in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Closing the issue :wink:

Thank you

[2021-08-09 07:23] #25544 closed, assigned to nobody

[2021-08-09 07:24] NeOMakinG commented on #25502
I think it's definitely a bug

[2021-08-09 07:24] hibatallahAouadni commented on #25373
Hello @ShaimyWinda

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-09 07:24] #25373 closed, assigned to nobody

[2021-08-09 07:25] langziyang commented on #25544
yes,i want say this is bug or not,why auto delete product

[2021-08-09 07:25] hibatallahAouadni commented on #25369
Hello @Jeevachezhiyan

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-09 07:25] #25369 closed, assigned to nobody

[2021-08-09 07:26] hibatallahAouadni commented on #25377
Hello @diksha-cedcoss

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-09 07:26] #25377 closed, assigned to nobody

[2021-08-09 07:27] hibatallahAouadni commented on #25135
Hello @diksha-cedcoss

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-09 07:27] #25135 closed, assigned to nobody

[2021-08-09 07:30] Progi1984 commented on #16447
I think it's a @PrestaShop/product-team to decide to improve process.

[2021-08-09 07:41] hibatallahAouadni commented on #16447
Well then, thanks @Progi1984 :relaxed:

[2021-08-09 07:44] hibatallahAouadni commented on #25544
@langziyang posts your question in Public Slack, in ** dev-core ** channel. The developers or maintainers will answer you :wink:

[2021-08-09 08:23] Progi1984 commented on #25063
@Hlavtox Is this issue completly fixed ?

[2021-08-09 08:36] hibatallahAouadni opened #25545 "[BO] Can't save a variation product with negative quantity"
#### Describe the bug

On the develop branch, when you save a product variant with a negative quantity (ex: -10) then reload the page, the quantity becomes positive (ex: 10).

#### Expected behavior

The variant quantity should be negative

#### Steps to Reproduce

1. Create new product
2. Add 2 new variations:
A variation with quantity -10
B variation with quantity 10
3. Save product and reload p

[2021-08-09 08:39] hibatallahAouadni commented on #14913
Hello @tswfi

I reproduce the original issue with **Finnish** and **Arabic** language on 1775, see the attached screen record below:

https://drive.google.com/file/d/1ehQEIRN7mshgiaQrvmVtH5Q7qNEzhb52/view

The issue doesn't occur only with the negative number it happen even with positive number, following these steps:

1. Add 2 new variations
2. A variation with quantity -5
3. B variation with qua

[2021-08-09 08:41] spriale commented on #25507
Thank you for trying to reproduce the issue. Since the wrong data is sent already by Prestashop, the PayPal module is doing the correct action. So there is no an issue with the PayPal module. From your experience, could it be that there is some issue on the format of the DB or something similar? Pretashop is basically taking the data but it’s not the correct cell from the DB.

[2021-08-09 08:46] matks commented on #25507
I don't understand how you are so sure that the data is wrongly fetched by PrestaShop Core, not the module, without providing the code.

[2021-08-09 09:18] matks commented on #25507
The PrestaShop Core (this repository https://github.com/prestashop/prestashop) does not send data to Paypal API. It has to be sent by the Paypal module, that is installed on the Core.

Nothing in this repository https://github.com/prestashop/prestashop sends data to any payment gateway. The middleware is a module that is installed inside PrestaShop and that is not in the scope of this project.

Ma

[2021-08-09 09:41] Progi1984 commented on #24535
@kmorgen Thank you for your feedback. Please open an issue if you think you have found a bug.

[2021-08-09 09:46] Progi1984 commented on #23787
Fixed in #24738 by @olecorre

[2021-08-09 09:46] #23787 closed, assigned to olecorre

[2021-08-09 10:20] jedzura opened #25546 "Show applied discount in cart widget"
I have a small problem with default prestashop cart widget - I just added some promo with automatic discount depends on count of items added to cart (more items = bigger percentage discount, customer doesn't have to type any code), but this discount is not showing in cart widget, only on cart page, so I have no option to show my customers that they will pay less for their order until they go to th

[2021-08-09 10:25] 01park opened #25547 "Stats Board: Average price wrong calculated"
#### Describe the bug

I just noticed that the average sales price in our store makes no sense. Until, I figured out it is calculated based on the forecast / amount of days in the period.

#### Expected behavior

What I would expect and what I used to have in previous PS versions, is that average sales is based on the total sales over a period / the days, months or years.

#### Steps to Reproduce

[2021-08-09 10:46] hibatallahAouadni commented on #25546
Hello @jedzura

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-08-09 10:46] #25546 closed, assigned to nobody

[2021-08-09 10:50] hibatallahAouadni commented on #25547
Hello @01park

Thanks for respecting the provided template :clap:
But I really need steps to reproduce the issue :pray: I need to find exactly the culprit that triggered the problem :wink:
Please check and feedback.

Thanks!

[2021-08-09 11:00] 01park commented on #25547
Go to Dasboard > stats board and see average sales

[2021-08-09 11:02] jedzura commented on #25546
What? I wrote step by step what is wrong and you don't understand? Can't you add automatic promotion and see it wouldn't show discount in cart widget? Is it too hard for you? Maybe you shouldn't close this ticket and leave it for someone how know anything about prestashop?

[2021-08-09 12:03] matks commented on #25202
## Status update 🚀

1.7.7.6 has been released by @matthieu-rolland
- on github ✅
- on prestashop.com ✅
- the release note is published https://build.prestashop.com/news/prestashop-1-7-7-6-maintenance-release/

Now we need
- docker images
- be able to upgrade

[2021-08-09 12:25] matks commented on #25546
@jedzura Please remember everybody must follow our Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/259222999174f34ada6125793cf26b84c8a4af0e/CODE_OF_CONDUCT.md

We have a template for issues. If you don't follow it, it will not explored. https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md

[2021-08-09 12:36] MatShir commented on #17496
@marionf @prestascott It is a use case that you should include in the module refacto.

[2021-08-09 12:44] PierreRambaud commented on #23242
The first step for this issue is to make all configurations variables generated in `parameters.php` usable with environment variables:

- database_host
- database_port
- database_name
- database_user
- database_password
- database_prefix
- database_engine
- mailer_transport
- mailer_host
- mailer_user
- mailer_password
- secret
- ps_caching
- ps_cache_enable
- ps_creation_date
- locale
- use_debug

[2021-08-09 12:45] MatShir commented on #23242
@Quetzacoalt91 Do you other variables in mind ?

[2021-08-09 12:51] eternoendless commented on #23606
To be assigned to @JevgenijVisockij

[2021-08-09 12:58] MatShir commented on #24637
To check during the freeze to see if all the docs and the build process are in order for the build of a new distribution

[2021-08-09 13:02] eveneme opened #25550 "Update bootstrap 4.6 & 5"
Upgrading the bootstrap to a newer version 4.6 & 5

[2021-08-09 13:22] matks commented on #25550
Hello @eveneme you need to write more 😄 . Please be more specific about what you talk about, and provide references.

[2021-08-09 13:24] kpodemski commented on #25550
Actually, I think there's no need for the additional discussion, we know about Bootstrap, but this requires us to create the new version of the theme, and that is a more complex task :)

[2021-08-09 13:30] hibatallahAouadni commented on #25550
Hello @eveneme

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-08-09 13:30] #25550 closed, assigned to nobody

[2021-08-09 13:33] eveneme commented on #25550
Rewriting the template in accordance with today's standards. or making a new one. If not in this version, then in the next.

[2021-08-09 13:44] MatShir commented on #24643
Check if all the module are native !

[2021-08-09 13:45] matks commented on #25550
Hi @eveneme I think this is already included in https://github.com/PrestaShop/PrestaShop/issues/14533 item. "Classic theme should promote code quality and best practices - upgrade and rework" implies to use, as much as possible, up-to-date dependencies.

But the answer is the same as for https://github.com/PrestaShop/PrestaShop/issues/25540

Such changes would break hundred of children themes bein

[2021-08-09 13:48] hibatallahAouadni commented on #25542
Hello @Rizzen59

I didn't manage to reproduce the issue with PS1775, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/128716787-9ff289f3-fecc-49f5-af9e-c10eeebed69e.png)

![image](https://user-images.githubusercontent.com/23308427/128716811-24eeb6e4-fade-4ed0-a311-6e86b183bc34.png)

Please check and feedback.
Thanks!

[2021-08-09 13:53] Vitamixlife opened #25552 "Bug summary cart with vouchers"
Dears,
I've test this situation on a old installation (ver 1.6.6.9.) without any solutions in p.s. 1.7.7.5: the bug persist.

- Cart Rule: free shipping from 60€ otherwise you pay 7€ of shipping cost.
- Voucher: 15€ discount and "free shipping" switch of "Actions" B.O. is on.
- I've a cart with 38€ (2 items), when I apply the voucher, the cart shows: -22€ discount, shipping free, that's ok!
- 38€

[2021-08-09 14:01] Hlavtox commented on #25063
@Progi1984 nearly, one small issue left, but I will open separate issue for this ;)

[2021-08-09 14:03] tswfi commented on #14913
now that the other problem in dev branch has a pr to fix the abs problem (https://github.com/PrestaShop/PrestaShop/pull/25549) I can replicate this language dependent problem in dev branch also.

use language Finnish (or arabic or some other language that has some other character like '−' as minusSign in cldr. Or at least that is my current hypothesis)
[code]

The combination listing shows the sto