[2021-06-13 21:53] milla-dev commented on #24779
Yes, exactly !! It worked after the cache clean :) Thx !!!

Le jeu. 3 juin 2021 à 11:17, Hibatallah Aouadni ***@***.***>
a écrit :

[2021-06-13 22:48] hibatallahAouadni commented on #24827
Hello @maofree

Could you please confirm if this bug is a regression or not? did you encounter this bug only with Faceted Search v3.7.1?
Please check and feedback.

Thanks!

[2021-06-14 06:41] hibatallahAouadni commented on #24942
Hello @01park

Thanks for your issue.
**You must follow the template to submit a complete bug report**.
So please edit your issue description providing all the infos (steps to reproduce, screenshots, ...) and then notify me.

Thanks!

[2021-06-14 06:45] hibatallahAouadni commented on #24938
Hello @Gipielle

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20185.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-14 06:45] #24938 closed, assigned to nobody

[2021-06-14 06:46] hibatallahAouadni commented on #24938
Duplicate of #20185

[2021-06-14 06:47] #23514 closed, assigned to PululuK

[2021-06-14 06:51] hibatallahAouadni commented on #24177
Hello @Betafer

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10258.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-14 06:51] #24177 closed, assigned to nobody

[2021-06-14 06:52] hibatallahAouadni commented on #24177
Duplicate of #10258

[2021-06-14 06:53] hibatallahAouadni commented on #24930
Hello @eveneme

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2021-06-14 06:53] #24930 closed, assigned to nobody

[2021-06-14 07:01] lmeyer1 opened #24943 "Error in upgrade queries PS 1.7.8.0 beta.1"
#### Describe the bug

The table definition of `PREFIX_feature_flag` does not fit the data inserted.

#### Expected behavior

I expect the queries to run without error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Following `https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/`run `http://<shop_domain>/install/upgrade/upgrade.php`. Run the script `install-dev/upg

[2021-06-14 07:07] hibatallahAouadni commented on #24931
Hello @eveneme

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem or a server problem.

Could you please post your issue in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack), so the developers help you with your problem.

We will cl

[2021-06-14 07:07] #24931 closed, assigned to nobody

[2021-06-14 07:10] hibatallahAouadni commented on #24934
Hello @eveneme

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2021-06-14 07:10] #24934 closed, assigned to nobody

[2021-06-14 07:11] hibatallahAouadni commented on #24935
Hello @maestrobo

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-06-14 07:12] #24935 closed, assigned to nobody

[2021-06-14 07:17] hibatallahAouadni commented on #24779
@milla-dev Perfect :tada:
Thanks for your feedback!

[2021-06-14 07:17] #24779 closed, assigned to nobody

[2021-06-14 07:18] hibatallahAouadni commented on #24302
Hello @Morerice

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-14 07:18] #24302 closed, assigned to nobody

[2021-06-14 07:23] TheMax98000 commented on #22324
@hibatallahAouadni Just to let you know that i just upgraded a website from 1.7.6 to 1.7.7 and have exactly the same problem, so how can you say this isn't related to Prestashop core ?

Like, a third party module works perfectly on 1.7.6 and crash the website with an out of memory on 1.7.7 ?

I really like Prestashop, but the support and help is really terrible in my point of view.

[2021-06-14 07:39] brouillon commented on #23656
@Hlavtox Thank you very much for the plugin tip and the code.
I just tried it on a 1.7.7.4 version and it doesn't work :( Part of the shopping cart display is tax free but the totals, the invoice and the database are tax included...
According to the numerous readings on the forums and the number of bugs concerning the taxes on the 1.7.7.x
I want to try with 1.7.6.x, but unfortunately after 5 tries

[2021-06-14 07:51] matks commented on #24342
Expected today :)

[2021-06-14 08:09] Julievrz commented on #24471
@jolelievre Couldn't we change the namespace of the original wording, so that this PR can use the right domain later even if the catalog is already pushed?

[2021-06-14 08:18] denys202 opened #24946 "Welcome module: cannot uninstall module from command line"
#### Describe the bug

I am trying to uninstall module from the command line, but there is an error during this process.

#### Expected behavior

No errors while uninstalling module.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to your root directory in console.
2. Run the next command `php bin/console prestashop:module uninstall welcome -e prod` (or without -e prod if your ar

[2021-06-14 08:25] Julievrz commented on #24853
To avoid having to handle plural, I think we could simply write:
'In stock: 100'
or '100 in stock'

But if we want to keep the word "items" it would be better to use the new way of handling plural like with transChoice(
instead of using **(s)**, like this:

{0} items|{1} item| {some} items

[2021-06-14 08:36] Julievrz commented on #24768
HI @marionf the mockups are not accessible. 🙆‍♀️

From what I understand, I would like to suggest the following wording to replace 'Availability: X last item(s) in stock':

What do you think of: 'Only x left in stock'

- Not using the word "item(s)" avoid having to handle plural (that is often difficult to translate)
- I think it's a bit more catchy :)

But if we want to keep using the word "items

[2021-06-14 08:39] hibatallahAouadni commented on #24499
Related to #10258

[2021-06-14 08:44] hibatallahAouadni commented on #24937
Hello @mrAKAR

It's seem your issue related to this one #12308
Could you please check if you have the same problem when you change the currency?
Please check and feedback.

Thanks!

[2021-06-14 08:54] hibatallahAouadni commented on #24939
Hello @i-pity-the-fool

What makes you sure about the issues are from PS side and not the module?
Did you try to disable the module and then reproduce the issue?
Did you contact the module developer?
Please check and feedback.

Thanks!

[2021-06-14 08:56] hibatallahAouadni commented on #24946
Hello @denys202

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12552.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-14 08:56] #24946 closed, assigned to nobody

[2021-06-14 08:58] hibatallahAouadni commented on #24946
Duplicate of #12552

[2021-06-14 08:58] NeOMakinG commented on #24915
I did reproduce even on develop, so I provided a PR

https://github.com/PrestaShop/PrestaShop/pull/24952

[2021-06-14 09:03] PietaH commented on #24923
Concerning the email preview not updating after making changes to the mails folder, it also makes designing email templates really hard. The changes you make should be visible in the preview.

[2021-06-14 09:09] marionf commented on #24768
Hey @Julievrz

It's a great idea to avoid handling the plural, let's go for 'Only x left in stock' !

[2021-06-14 09:14] hibatallahAouadni commented on #22324
Hello @TheMax98000

Did you try disabling modules one by one to figure out the culprit?

It could be, sometimes you need to upgrade your modules before upgrading your shop, so that you won't encounter this kind of issue.

Thank you :slightly_smiling_face:

[2021-06-14 09:16] hibatallahAouadni commented on #24884
It seems your issue related to this one #20185

[2021-06-14 09:21] Progi1984 commented on #24812
Fixed by @matthieu-rolland in #24811

[2021-06-14 09:21] #24812 closed, assigned to matthieu-rolland

[2021-06-14 09:24] marionf commented on #24853
Good idea @Julievrz, 100 in stock seems good :+1:

[2021-06-14 09:54] matks commented on #24342
## 1.7.7.5 is released by @atomiix

- [x] GitHub Release ✅  https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.5
- [x] prestashop.com Release ✅  https://www.prestashop.com/en/versions
- [x] Release note ✅  https://build.prestashop.com/news/prestashop-1-7-7-5-maintenance-release/
- [ ] docker images

[2021-06-14 09:58] prestascott commented on #24768
Hey you too,

@Julievrz if you can't access to the mockups, here is the mockup of the product page with the right wording:
![Product page - in stock (1)](https://user-images.githubusercontent.com/54888056/121874199-6d785580-cd07-11eb-9333-5f0751cdc1e4.png)

[2021-06-14 10:01] Julievrz commented on #24768
Thanks @prestascott!

[2021-06-14 10:14] weddingtextile commented on #24342
there is no 1.7.7.5 label in https://github.com/PrestaShop/PrestaShop/issues

[2021-06-14 10:14] Progi1984 commented on #24482
Fixed in #24773 by @Progi1984

[2021-06-14 10:14] #24482 closed, assigned to Progi1984

[2021-06-14 10:16] Progi1984 commented on #24692
Fixed by @olecorre in #24770

[2021-06-14 10:16] #24692 closed, assigned to olecorre

[2021-06-14 10:18] Progi1984 commented on #24691
Fixed by @atomiix in #24765

[2021-06-14 10:18] #24691 closed, assigned to atomiix

[2021-06-14 10:19] Progi1984 commented on #24753
Fixed in #24762 by @Progi1984

[2021-06-14 10:19] #24753 closed, assigned to Progi1984

[2021-06-14 10:20] nossanhendel commented on #24884
Thank you very much
Even if I do one of any category, when I open it again it will show home category, I have only Hebrew language on this site.. maybe it’s making  the problem?

[2021-06-14 10:32] Hlavtox commented on #24939
Could be related to missing data in 1.7.7. It will be fixed in 1.7.8 by this PR https://github.com/PrestaShop/PrestaShop/pull/22686, but modules must adapt.

[2021-06-14 10:49] hibatallahAouadni commented on #24939
Thanks @Hlavtox :wink:

[2021-06-14 10:53] hibatallahAouadni commented on #24943
Hello @lmeyer1

Thanks for your issue and your PR :rocket:
Ping @PrestaShop/prestashop-core-developers could someone please reproduce the issue :pray: (it's too technical for me :sweat_smile: )

Thanks in advance :pray:

[2021-06-14 11:17] Hlavtox opened #24954 "[SHARE YOUR THOUGHTS, SURVEY INSIDE] Rename "product combinations" to "product variants""
### Is your feature request related to a problem?

The term **product combination** is used only in Prestashop, nowhere else. Most of new merchants are very confused by this term and I have to explain that these are product variations. On all other ecommerce systems, different variants of product are called **product variants**.

**Websites using "variant terminology:**
- https://www.facebook.com/

[2021-06-14 11:41] tswfi opened #24955 "BO Order "print order" layout broken"
#### Describe the bug

In BO printing and order produces document that is basically unusable.

The layout should be styled to better suite printing.

#### Expected behavior

Nice readable order information from "print order" button

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO orders, open one order
2. Click on 'Print order'
3. Look at the print preview

![image](https://

[2021-06-14 11:42] tswfi commented on #24955
should probably be added to https://github.com/PrestaShop/PrestaShop/issues/13822

[2021-06-14 11:50] hibatallahAouadni commented on #24954
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-06-14 11:52] Progi1984 commented on #23878
Fixed by @sowbiba in #24899

[2021-06-14 11:52] #23878 closed, assigned to sowbiba

[2021-06-14 11:54] hibatallahAouadni commented on #24955
Hello @tswfi

The product table has been fixed on develop, see the attached pdf below:

[Order #8 DMCVQPZKZ.pdf](https://github.com/PrestaShop/PrestaShop/files/6648072/Order.8.DMCVQPZKZ.pdf)

If you have proposition how we can improve the layout, please share it :pray:
Please check the **print order** layout on develop branch and feedback.

Thanks!

[2021-06-14 11:56] #24464 closed, assigned to sowbiba

[2021-06-14 11:58] tswfi commented on #21197
Maybe one more for the list:
Currently if one pushes to a pr all the tests are queued but the old tests still left to complete (usually for nothing). Maybe add this to cancel old running tests when new push comes in: https://github.community/t/github-actions-cancel-redundant-builds-not-solved/16025

[2021-06-14 12:11] matks commented on #22324
Hello, this is because you are not in the right location. This repository is not a support channel. If you need support please follow https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-06-14 12:13] marionf commented on #24465
@hibatallahAouadni Could you please try to reproduce this issue ?

[2021-06-14 12:14] tswfi opened #24956 "HOOK_DISPLAY_PDF content cannot start from left side of the document"
#### Describe the bug

When implementing `displayPDFInvoice` and adding content to the invoice pdf document footer from a module the content always starts few cm from the left side of the page.

The reason is the colspan="2" here: https://github.com/PrestaShop/PrestaShop/blob/415667ce988738b91771bb6ec56e41369c3c0750/pdf/invoice.tpl#L135

#### Expected behavior

Let the extra content take up the fu

[2021-06-14 12:15] arouiadib commented on #24497
Hi @product-team,
There can be two possible ways here to solve this issue:
- either we show disabled carrier as greyed non clickable checkbox.
- or we do not show it at all.
Thanks

[2021-06-14 12:26] atomiix commented on #24342
## 1.7.7.5 is available through the autoupgrade module

[2021-06-14 12:27] Robin-Fischer-PS commented on #24465
Hi there,

I'm not able to reproduce the error at step 11. I can reproduce the one at step 12, but I can also reproduce it on 1.7.7, so it's not a 1.7.8 regression (I'm gonna check on 1.7.6 for this one).

[2021-06-14 12:44] Varindien opened #24959 "Email address not check at registration"
#### Is your feature request related to a problem?

When registering email address is badly check. eg email :  test@gmailcom (missing dot)
this will succeed as registration but every module of shipping will be crashed ( tested with Colissimo, Chronopost, DPD, mondial relay) because of that. This is real world for now :)

#### Describe the solution you'd like

Maybe it will be interested so to add

[2021-06-14 12:53] matks commented on #24959
Hello @Varindien there is no error here.

According to https://en.wikipedia.org/wiki/Email_address the email address test@gmailcom is valid. It should not be rejected by PrestaShop.

Emails can come in a lot of different shapes 😄  PrestaShop must accept them all

[2021-06-14 13:04] #23808 closed, assigned to nobody

[2021-06-14 13:05] Varindien commented on #24959
Hello @matks ,
I understand but in 99% of case, users will have an email with the dot. and in 100% of case it will break shipping module.
Maybe it will be interested so to add an option :  An option to enforced verification email and avoid every module of shipping crashing ( tested with Colissimo, Chronopost, DPD, mondial relay) because of that. This is real world for now :)

What do you think?
th

[2021-06-14 13:05] #24901 closed, assigned to nobody

[2021-06-14 13:07] atomiix commented on #24342
## 1.7.7.5 docker images available

[2021-06-14 13:11] #24342 closed, assigned to atomiix, marionf

[2021-06-14 13:33] khouloudbelguith commented on #24465
Hello :slightly_smiling_face:

Sorry for the delay.
In fact, the issue is fixed with another PR I think :tada:
178_11_mai was NOK: https://drive.google.com/file/d/1_QzL9zLTMFX0hMMnLOuQjmigouFep1nn/view?usp=sharing
178x => ok: https://drive.google.com/file/d/1vbuwl570sC0CSdNS1bWf9ktniuNPrusy/view?usp=sharing

I will close the issue.

Thank you!

[2021-06-14 13:33] #24465 closed, assigned to nobody

[2021-06-14 14:04] #24937 closed, assigned to mrAKAR

[2021-06-14 14:15] jatniel commented on #22386
Hi, I have the same problem, in Prestashop 1.7.7.4

![Capture d’écran de 2021-06-14 16-13-23](https://user-images.githubusercontent.com/1070744/121906682-a1fe0880-cd2b-11eb-9f04-ca80a400b579.png)

[2021-06-14 14:22] jatniel commented on #22386
I tested your idea, but it doesn't work!

[2021-06-14 14:25] mrochapt commented on #16329
Hi,
As I understand from the posts above, this issue has been solved in 1.7.7.3.
The problem is that I am experiencing the exact same behaviour in 1.7.7.4.
Is there any solution available or anything that has to be done to change this behaviour?
Greetings and thank for your time.

[2021-06-14 14:27] matks commented on #24342
Fixed https://github.com/PrestaShop/PrestaShop/labels/1.7.7.5 👍  thank you for notice

[2021-06-14 14:28] matks commented on #24342
Thank you @atomiix and @marionf

[2021-06-14 14:28] maofree commented on #24827
Hi
I tested it only on the version 3.7.1

[2021-06-14 15:23] kmorgen commented on #24535
Not sure if related to this bug, but noticed the pre-made Order Messages are no longer in the customer language anymore - but only in the shop default/admin language.

Noticed it in 1.7.7.4 (not sure if introduced in earlier version, but used to work fine in +1.7.7), and still not working in 1.7.7.5.

[2021-06-14 15:31] Progi1984 commented on #23876
Fixed by @sowbiba in #24882

[2021-06-14 15:31] #23876 closed, assigned to sowbiba

[2021-06-14 15:38] Progi1984 commented on #24914
Fixed by @NeOMakinG in #24918

[2021-06-14 15:38] #24914 closed, assigned to NeOMakinG

[2021-06-14 15:46] matks commented on #23996
FYI I am now able to deploy help.prestashop.com so I can carry on

[2021-06-14 16:15] matks commented on #16329
Hello @mrochapt can you try on a freshly installed 1.7.7.4 shop to make sure this behavior comes from the shop, not one of the installed modules?

If it's confirmed
- it's possible another issue (different from the one solved) produces same outcome, so it looks like same issue but it's 2 issues that trigger the same effects
- it's possible an error was introduced in 1.7.7.4 that reverted the fix (

[2021-06-14 16:29] #24686 closed, assigned to kpodemski

[2021-06-14 16:29] matks commented on #24686
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24897

[2021-06-14 16:34] c4v4r0n opened #24961 "I reported a security issue to your email "security@prestashop.com""
I reported a security issue to your email, I'm here just to documentation purposes, the subject of the email ends with "By c4v4r0n"

[2021-06-14 16:37] mrochapt commented on #16329
Hi,
I can confirm I am using a fresh 1.7.7.4 install.
On a previous server I had version 1.7.6.5 and I don't recall having this issue... but I could be wrong.

[2021-06-14 16:45] khouloudbelguith commented on #19417
Hi @marionf,

It is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/23441

![image](https://user-images.githubusercontent.com/16067358/121928672-af71bd80-cd40-11eb-9bf1-f43a5db67d5f.png)

Thank you!

[2021-06-14 17:07] MatShir commented on #23996
At the end of the week, I will provide a bit of content for the user doc page so we can test it :)

[2021-06-14 17:16] Julievrz commented on #23996
Thanks! Don't hesitate to ask me if you need help to review it. ☺️

[2021-06-14 17:33] tswfi commented on #24830
Is there even any reason for exporting the age into the report?
Isn't it enough to export the birthday as that is what is saved in the db?

[2021-06-14 17:40] #24922 closed, assigned to nobody

[2021-06-14 19:48] matks commented on #24842
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24866

[2021-06-14 19:48] #24842 closed, assigned to juraj1000

[2021-06-14 19:50] #24671 closed, assigned to Socrapop

[2021-06-14 19:50] matks commented on #24671
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24808

[2021-06-14 19:50] matks commented on #24671
@Hlavtox you might want to have a look at https://github.com/PrestaShop/PrestaShop/pull/24808 😉

[2021-06-14 21:05] 01park commented on #24942
I update the original

[2021-06-15 01:34] z72diego opened #24962 "Adding products in an order already created, to a customer of a group without taxes, applies taxes anyway."
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

#### Steps to Reproduce
Steps to reproduce the error:

1. Create a customer group.
2. Assign this group as the default for a customer.
3. In the tax rules settings. Add a new rule for the tax that is active, for example Standard rate (21%), and set "Taxes = No taxes", for the customer group created.

[2021-06-15 06:26] Laimonas-Mituzas commented on #16952
Bug still persist. 1.7.6.9 + module 3.7.1

[2021-06-15 06:47] lmeyer1 opened #24963 "Exporting translation, the selection of the modules is difficult"
#### Is your feature request related to a problem?

When exporting the translation of a module, the modules are presented without apparent order and there is no way to search for.

#### Describe the solution you'd like

The modules should either be presented in alphabetical order or there should be a possibility to search for a module.

#### Alternatives you've considered

The list of modules is t

[2021-06-15 07:07] Progi1984 commented on #10590
@matks Can we close or does it remain some actions to finish the migration ?

[2021-06-15 07:07] Progi1984 commented on #10589
@matks Can we close or does it remain some actions to finish the migration ?

[2021-06-15 07:27] matks commented on #24961
Hello @c4v4r0n and thank you for your private disclosure. @PierreRambaud answered the email yesterday 😉  .

[2021-06-15 07:27] #24961 closed, assigned to nobody

[2021-06-15 07:32] khouloudbelguith opened #24964 "BO - Categories - A new category created is not displayed in the list"
#### Describe the bug

In the BO > Catalog > Categories page, when we create a new category, it is not displayed in the list

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Categories page
2. Create a new category
3. Set required fields and save
4. See the error, the number of categories is NOK, and the new category created is not displayed in the list

This reg

[2021-06-15 07:49] khouloudbelguith commented on #23365
Hi @atomiix, @NeOMakinG,

So why do you think, the error is the console: it is a bug that can be fixed?

Thank you!

[2021-06-15 07:53] #24638 closed, assigned to PierreRambaud

[2021-06-15 08:00] hibatallahAouadni commented on #24959
Hello @Varindien

As @matks mentioned above `xxx@gmailcom` is a valid mail.

But, what you proposed is a good feature and if you would work on it (Pull Request), we will really appreciate it :tada:
I'll modify your issue description to be as a feature request.

Thanks!

[2021-06-15 08:07] hibatallahAouadni commented on #24959
Hello @Varindien

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-15 08:09] NeOMakinG commented on #23365
Pretty hard to fix tbh, and can introduce a lot of bugs (it's basically developing a browser basic functionality :( )

[2021-06-15 08:13] hibatallahAouadni commented on #24922
Reproduced with blockwishlist v2.0.0 and PS1.7.6.7

[2021-06-15 08:14] Varindien commented on #24959
Hello @hibatallahAouadni ,

i am aware of delay which could be apply for new feature.
 thanks you

[2021-06-15 08:17] lmeyer1 commented on #24891
This issue is only due to #24886. I'm closing it.

[2021-06-15 08:17] #24891 closed, assigned to nobody

[2021-06-15 08:18] hibatallahAouadni commented on #24641
Hello @manfield

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-15 08:18] #24641 closed, assigned to nobody

[2021-06-15 08:19] hibatallahAouadni commented on #24666
Hello @jonathangreco

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-15 08:19] #24666 closed, assigned to nobody

[2021-06-15 08:38] hibatallahAouadni commented on #24959
@Varindien if you submit a PR, the feature will be prioritized :wink:

[2021-06-15 08:39] hibatallahAouadni commented on #24891
@lmeyer1 Thanks!

[2021-06-15 09:14] milla-dev opened #24966 "www.myshop.fr/brands not working anymore after an update"
#### Describe the bug

After updating my PS from 1.7.6. to 1.7.7 the links www.millapoignees.fr/brands or www.millapoignees.fr/brand/id_brandname do not work any more and go to 404 error
I have cleaned the cache and var/cache.
I put my shop in the Debug Mode and I see this message :

`

(1/1)&nbsp;SmartyExceptionUnable to load template 'file:layouts/layout-full-column.tpl' in 'catalog/listing/prod

[2021-06-15 09:16] micka-fdz commented on #22790
Hi @PierreRambaud @LouiseBonnard @Progi1984,

I updated my PR to add Monaco localization pack. Can you have a look?

[2021-06-15 09:24] milla-dev commented on #24966
I have found the solution ! you need to reload the setting in the "Appearance => Theme & Logo" next "Choose the layout" and then I put the option Off/On near the Brand page and it worked !!!

[2021-06-15 09:24] #24966 closed, assigned to nobody

[2021-06-15 09:51] matks commented on #24617
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24924

[2021-06-15 09:51] #24617 closed, assigned to PierreRambaud

[2021-06-15 10:22] florine2623 commented on #24963
Hello @lmeyer1 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-15 10:32] florine2623 commented on #24956
Hello,

I was able to reproduce the issue with PrestaShop version _1.7.7.x_, _1.7.8.x_ and _develop_, so I can confirm that this behavior is indeed a bug.
<img width="749" alt="Screenshot 2021-06-15 at 12 31 27" src="https://user-images.githubusercontent.com/16019289/122038280-b8f93500-cdd5-11eb-9d9b-5a6fb91a65dc.png">

Please be aware that due to the high number of reported issues, some bugs migh

[2021-06-15 10:44] tswfi commented on #24956
@florine2623 did you notice that I already provided a pr also: https://github.com/PrestaShop/PrestaShop/pull/24958

[2021-06-15 11:25] #21361 closed, assigned to khouloudbelguith, PululuK

[2021-06-15 11:26] #22737 closed, assigned to kpodemski

[2021-06-15 11:27] threed-factory-store opened #24967 "Status messages can be confusing"
#### Describe the bug

Status messages use a "conf" parameter on the url.  Using inter-page communication in this way leads to confusing scenarios:

- If a user saves a new item and goes back to a list page, the list page will display a green "success" message because of the conf= parameter on the url.  If the user closes the message then refreshes the page, the message appears again.

- If a user

[2021-06-15 11:29] wosin7 commented on #23378
Same problem here
version 1.7.7.5
php 7.2 and 7.3
sever litespeed

cant login on back office on various browsers:
FireFox works,
Chrome mobile works,
Chrome destkop is not working, and it is no cache, i checked on 3 different computers.

[2021-06-15 11:38] threed-factory-store opened #24968 "Make HelperForm pass "accept" parameters through to inputs of type "file"."
#### Is your feature request related to a problem?

The file input shows all files.  I only want to see files of interest.

#### Describe the solution you'd like

When I add  an "'accept' => '.jpg,.png'" entry to a HelperForm's fields_form array, then the file input should only show me files with those extensions.  Same with mime types.

#### Alternatives you've considered

I can add this attribut

[2021-06-15 11:45] sowbiba commented on #24886
I made a fresh install of 1.7.7.4

Download of 1.7.8-beta1
Disable caching
Remove the vendor directory of my shop
copy all files of 1.7.8 into my shop folder
Execute `make`
And execute /install-dev/upgrade/upgrade.php in the browser

Here is the result
![Capture d’écran de 2021-06-15 11-40-38](https://user-images.githubusercontent.com/7426640/122047027-2b1a4b80-cdcf-11eb-9fef-35f653d2412f.png)

[2021-06-15 11:56] hibatallahAouadni commented on #23378
@wosin7 what's your Chrome version?

[2021-06-15 11:57] hibatallahAouadni commented on #24886
Thanks @sowbiba so it's a bug and a regression!

[2021-06-15 12:28] wosin7 commented on #23378
this could be it!
chrome desktop linux 91.0.4472 not working
chrome desktop windows 91.0.4472 not working
chrome desktop linux 91.0.4472 not working

but
old pc with chrome desktop linux 76 working great
i will try downgrade my chrome and check now

[2021-06-15 12:32] hibatallahAouadni commented on #24962
Hello @z72diego

Could you please check this issue #23957 it seems related to yours.
Please check and feedback.

Thanks!

[2021-06-15 12:52] matks commented on #24886
Thank you again @lmeyer1 for the report 😊

[2021-06-15 12:52] hibatallahAouadni commented on #23378
@wosin7 It works with Chrome 89.0.4389.82

[2021-06-15 12:53] Progi1984 commented on #13178
Fixed by @daresh in PrestaShop/statsproduct#21

[2021-06-15 12:53] #13178 closed, assigned to nobody

[2021-06-15 12:56] lmeyer1 commented on #24963
@florine2623 I always find this answer funny 🤣🤣.  Especially, when it is an obvious shortcoming like here.
Should I have filed it as a bug? It's not really a bug, because there is no error, but the user interface needs a minimum of usability.

[2021-06-15 13:02] matks commented on #19416
Hi @marionf the message has been added to "Traffic & SEO > SEO & URLs > Add new page" but not on "Traffic & SEO > SEO & URLs > Edit page"

Is this OK?

[2021-06-15 13:02] matks commented on #10590
One question for @marionf in https://github.com/PrestaShop/PrestaShop/issues/19416 to confirm 😉

[2021-06-15 13:04] #19416 closed, assigned to matthieu-rolland

[2021-06-15 13:06] matks commented on #19417
Hello @marionf the message has been added to the migrated "Shop parameters > Traffic & SEO > Search engines > Add new search engine" page

But it was added only on the "Add new" not the "Edit". Is it the expected behavior?

[2021-06-15 13:58] marionf commented on #19417
@matks, yes that's the expected behavior

[2021-06-15 13:59] marionf commented on #10590
Humm, I don't see any question in https://github.com/PrestaShop/PrestaShop/issues/19416 :thinking:

[2021-06-15 14:22] hibatallahAouadni commented on #24968
Hello @threed-factory-store

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to impl

[2021-06-15 14:23] matks commented on #10590
It was https://github.com/PrestaShop/PrestaShop/issues/19417 😅

[2021-06-15 14:23] matks commented on #10590
This page is fully migrated 👍

[2021-06-15 14:23] #10590 closed, assigned to nobody

[2021-06-15 14:23] #19417 closed, assigned to nobody

[2021-06-15 14:24] matks commented on #10589
@Progi1984 finished 🎉

[2021-06-15 14:24] #10589 closed, assigned to nobody

[2021-06-15 14:25] hibatallahAouadni commented on #24494
Ping @matks is this improvement duplicate of #21101? or it should be fixed when #21101 will be fixed?

[2021-06-15 14:25] hibatallahAouadni commented on #24968
Related to #24494

[2021-06-15 14:28] hibatallahAouadni commented on #24967
Hello @threed-factory-store

I didn't manage to reproduce the issue with PS1.7.7.4. Could you please provide a screen record and your PrestaShop version?
Please check and feedback.

Thanks!

[2021-06-15 14:29] matks commented on #24494
When #21101 is fixed, we will be able to implement this issue 😉  you can see #21101 as a mandatory item to be done before starting this one

[2021-06-15 14:34] hibatallahAouadni commented on #24928
Hello @nossanhendel

Could you please edit your issue following the provided template:

![image](https://user-images.githubusercontent.com/23308427/122071905-6c265600-cdf7-11eb-82e3-bd0f4ccd9810.png)

We provide this template and these blocks cause we need it to reproduce the issue.
So please edit your issue description and notify me :pray:

Thanks!

[2021-06-15 14:36] matks commented on #24963
As you can guess it's a generic message, that is being sent to anybody submitting a feature request 😄

[2021-06-15 14:51] atomiix commented on #24886
I think there are multiple issues here.

I've not been able to reproduce the [first one reported](https://github.com/PrestaShop/PrestaShop/issues/24886#issue-916132043) but that error is probably the reason why the database hadn't been upgraded.

I can reproduce [the error reported by @sowbiba](https://github.com/PrestaShop/PrestaShop/issues/24886#issuecomment-861428728) though, but I'm not sure t

[2021-06-15 14:58] rhariskumar3 opened #24973 "Shipping Price Zero - Random - Cart Product Address ID missing"
#### Bug

While Delivery address Selection, Address ID is not properly updating in _ps_cart_product_ table. Partial products only updated with the correct address ID. issue happening randomly. Due to that, the Shipping price displayed zero. Even if we try to change another carrier in admin, the Corresponding shipping price for weight is not showing. Only showing Zero. Happening more than 3 months.

[2021-06-15 15:08] Koudy1203 commented on #9945
when will it be fixed?

[2021-06-15 15:11] Jaimetonala commented on #22051
Hello Keosite
I have read your case and I have exactly the same problem as you. I have been trying for several months to find a solution without success.
Could you solve it?
If so, I would appreciate it if you could tell me how.

Thank you very much for your cooperation

Greetings Jaime

[2021-06-15 15:31] hibatallahAouadni commented on #24911
Ping @PrestaShop/prestashop-core-developers could someone please try to reproduce the issue :pray:
Sorry for the inconvenience and thanks in advance :relaxed:

[2021-06-15 15:34] hibatallahAouadni commented on #24881
Hello @Daaaaad

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24764.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks @Prestaworks for the tip :wink:

Thanks!

[2021-06-15 15:34] #24881 closed, assigned to nobody

[2021-06-15 15:34] hibatallahAouadni commented on #24881
Duplicate of #24764

[2021-06-15 15:42] hibatallahAouadni commented on #24494
Thanks @matks :slightly_smiling_face:

[2021-06-15 15:42] Jaimetonala opened #24974 "invalid date_to field DISCOUNT ERROR"
#### Describe the bug

I can't change a period for discounts in Cart Rules and Catalog Price Rules

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

Steps to reproduce the behavior:
1.	Go to BO > Catalog > Discounts
2.	Create or edit a Cart Rule or Catalog Price Rule
3.	Change the validity period of the rule by clickin

[2021-06-15 15:42] #24470 closed, assigned to Progi1984

[2021-06-15 15:48] threed-factory-store commented on #24967
Did you use a HelperForm?   Maybe this only applies to the example code I started from.

[2021-06-15 15:56] hibatallahAouadni commented on #24967
Hello @threed-factory-store

I really need clear and concise steps to reproduce, and your PrestaShop version to help reproducing the issue.
So, please provide all these infos :pray:

Thanks!

[2021-06-15 16:08] Gipielle commented on #24959
This is a problem that should be fixed before new features..

I think that will be great if merchants can upvote solutions, is i can see in this an also lots of post programmers don't care lot of merchants real problems

[2021-06-15 16:33] hibatallahAouadni commented on #24974
Hello @Jaimetonala

I have seen your comment in the other issue :wink:
Well the issue is caused by your browser calendar or some third module calendar, as you can see, the updated date has not the same pattern as the old date, and that caused the problem.
So, you need to find the module whose implement a different JS calendar than the default one and disable it.
Please check and feedback.

Thanks!

[2021-06-15 16:39] hibatallahAouadni commented on #24973
Hello @rhariskumar3

Well, you shouldn't change the delivery id from the database :wink: it's not recommended.

Sorry but I have to close the issue cause this bug is random and not reproducible.

_PS: if you have any questions, you can always ask for help in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack)._

Thanks for understanding :pray:

[2021-06-15 16:39] #24973 closed, assigned to nobody

[2021-06-15 16:46] mrochapt commented on #16329
Hello,
Just to be sure, I installed version 1.7.7.5 on a fresh VM with Ubuntu.
There is nothing else in there besides Prestashop.
I still get the same behaviour.

[2021-06-15 16:48] hibatallahAouadni commented on #24831
Hello @mrabsinthe

Could you please check https://github.com/PrestaShop/PrestaShop/issues/9757#issue-353047312 I just add the specs that @marionf has working on it and your issue is already mentioned it (to be fixed).
So, we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #9757.
To be informed when it's fixed, please subscribe to the issue mentioned abo

[2021-06-15 16:48] #24831 closed, assigned to nobody

[2021-06-15 16:49] hibatallahAouadni commented on #24831
Duplicate of #9757

[2021-06-15 16:52] hibatallahAouadni commented on #24956
@tswfi sorry but it's an automatic message :smile:

[2021-06-15 17:02] hibatallahAouadni commented on #24839
Hello @PeNov

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-06-15 18:30] nossanhendel commented on #24928
**#### Describe the bug**

when i make a discount of 2 different categories and save them it works well. But if I open the rule of the discount instead of the categories I chose the role change to the home category that this is the first one in the list, and when I save again it really makes a discount on the whole store that on home category.
by brand CONDITIONS is the same problem
#### Expected

[2021-06-15 18:32] prestaalba opened #24975 "BO - Stocks - product list content is not loading or delayed long time"
#### Describe the bug

In backoffice Stocks manager panel, product list content is not loading or delayed long time.

#### Expected behavior

Product list content on Stocks manager panel should load on a reasonable time.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to menu Catalog -> Stocks.
2. Page loads and product list content starting to load.
3. Content never loads or is

[2021-06-15 19:34] eveneme opened #24976 "support for the process manager"
support for the process manager PHP FPM.

[2021-06-15 19:39] matks commented on #24976
Hello @eveneme as far as we know PrestaShop works correctly whether you run it using PHP-FPM or mod_php (for Apache). Nginx is also supported.

If you want to submit a bug when using PrestaShop and PHP-FPM please use the template https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md and provide accurate reproducible steps

[2021-06-15 19:39] #24976 closed, assigned to nobody

[2021-06-15 19:52] #24967 closed, assigned to nobody

[2021-06-15 19:53] threed-factory-store commented on #24967
Chalk this one up to a PrestaShop noob using poor quality code from the Internet.

[2021-06-15 19:57] eveneme opened #24977 "not supported process manager PHP FPM"
**Describe the bug**

prestashop not supported  process manager PHP FPM.. crashes error 500. i need to refresh the page several times to make it work. This happens when installing the auto update plugin, cleaning the cache, etc.  Please take a look at this problem and fix it!

**Steps to reproduce**

1. Go to PA -> PERFORMANCE
2. Click on CLEAR CACHE
3. See error 505

Another bug:

1. Go to PA ->

[2021-06-15 20:00] eveneme commented on #24977
Screen https://zapodaj.net/images/49f06b5d09ad3.png

[2021-06-15 20:06] alx-web opened #24978 "Cache not working in getPriceStatic function. Poor performance when lot of products in cart."
#### Describe the bug
The bug, is prestashop is very slow when we have a lot of (>50) products on the cart. The website load in 4/5 sec

#### Expected behavior
Normally, even if we have a big cart prestashop should have good performance (load <= 1sec)

#### Steps to Reproduce

Steps to reproduce the behavior:

1/ Add 50 different products on the cart
2/ Navigate on the website

#### Where the prob

[2021-06-15 20:11] matks commented on #24977
Hello again @eveneme we really need you to provide a series of accurate reproducible steps like

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Without this, your bug report cannot be explored. PrestaShop works with PHP FPM. It does not work for your environment and shop, so we need the steps to reproduce your environment.

[2021-06-15 20:14] matks commented on #24967
Thread locked because it does not respect the Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/178f65ce831608ac929ffc5cb6edc699d748115a/CODE_OF_CONDUCT.md

[2021-06-15 22:20] eveneme commented on #24977
done

[2021-06-16 05:24] mdelgrange opened #24979 "New field in order for IOSS reference"
#### Is your feature request related to a problem?
Following new EU VAT rules and your blog article, it could be interesting to add a new IOSS field in Back Office order page, mainly in relation to marketplace sales.

Context
- New VAT rules impose marketplaces to collect VAT on specific orders.
- New VAT rules recommand merchant to add IOSS reference on parcel (stamp & electronic) to avoid double

[2021-06-16 07:31] NeOMakinG commented on #16329
@mrochapt would you mind create a new issue for this? I think it's a merge from another branch who removed the fix, we need to reproduce it ourself and fix it :)

[2021-06-16 08:16] #23645 closed, assigned to nobody

[2021-06-16 08:31] hibatallahAouadni commented on #24979
Hello @mdelgrange

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to help you by ensuring that it is appropriate and coherent with the rest of the project. If tha

[2021-06-16 08:34] kpodemski commented on #24964
Regression is coming from this PR: https://github.com/PrestaShop/PrestaShop/pull/23515

It's all right only when we have categories with products, not newly created.

I'll ping @PululuK - first thought is a wrong joining `category_product` to `category`

[2021-06-16 08:39] hibatallahAouadni commented on #24978
Hello @alx-web

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #14979.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-16 08:39] #24978 closed, assigned to nobody

[2021-06-16 08:39] hibatallahAouadni commented on #24978
Duplicate of #14979

[2021-06-16 08:53] Progi1984 commented on #24333
Fixed by @micka-fdz in #24713

[2021-06-16 08:53] #24333 closed, assigned to nobody

[2021-06-16 08:56] Hlavtox commented on #24977
Hi @eveneme, the error 500 does not explain anything. Open config/defines.inc.php and change define('_PS_MODE_DEV_', false); to define('_PS_MODE_DEV_', true);.

Then go to these pages in backoffice again and it will display more meaningful messages. Post them here.

[2021-06-16 08:59] kpodemski commented on #24977
No change required, I talked to @eveneme error is on 1.7.7, but it's not on 1.7.8, it was related to cache clearing from the Performance tab, it has been fixed in 1.7.8 👍

[2021-06-16 09:06] hibatallahAouadni commented on #24977
Hello @eveneme

You mean the autoupgrade module ?

![image](https://user-images.githubusercontent.com/23308427/122189037-ddfeae00-ce90-11eb-8112-53fb9f8ff823.png)

Well, I cleared my cache and there's no problem, see the attached screen record below:

https://drive.google.com/file/d/1HQytPMGRgaC1mFZzBpkUKde4bm-rVV9d/view

PS: Thanks guys for your quick replies :rocket:

So, I close the issue :wink

[2021-06-16 09:06] #24977 closed, assigned to nobody

[2021-06-16 09:14] lmeyer1 opened #24984 "In dev mode, an Exception in a hook must not be ignored silently"
#### Describe the bug

While developing a module, I noticed, that Exceptions thrown in certain hooks are completely ignored. In this cas the hook configuration just has no effect. `displayProductExtraContent` is one of the hooks that swallows exceptions.

#### Expected behavior

I expect in dev mode to be notified when Exceptions occur. Otherwise, debugging is very difficult.
In production mode, e

[2021-06-16 09:17] hibatallahAouadni commented on #16329
Hello @NeOMakinG

I didn't manage to reproduce the issue with 1.7.7.5, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/122192871-54e97600-ce94-11eb-8d0e-9c25997c8a8e.png)

![image](https://user-images.githubusercontent.com/23308427/122192888-57e46680-ce94-11eb-984e-4f4f521b55c2.png)

Thanks!

[2021-06-16 09:31] Jonatan949 commented on #16518
The problem of combinations product when someone add to cart continue?? I have the problem and i do not know how to solvent it

[2021-06-16 09:33] hibatallahAouadni commented on #24975
Hello @prestaalba

This issue has been reported before #24517 but I couldn't reproduce it.
Could you please check the issue and the proposed solution by @alejandrogarciahenao
Please check and feedback.

Thanks!

[2021-06-16 09:42] mrochapt commented on #16329
Hi,
Maybe I misunderstood the problem.
What was reproduced above is not showing any prices. What I am aiming for is not showing the prices of the products in the pack, but still show the price of the pack.
This should be achieved by disabling the "show price" in the sub-products, but not for the pack itself.
Does this make sense, or am I asking too much of the tool?

[2021-06-16 09:58] hibatallahAouadni commented on #24984
Hello @lmeyer1

Could you please check the attached screen record below:

https://drive.google.com/file/d/1A5xcLVWt9S0p43YlHTPZr5lUHcQTPYxo/view

Please check and feedback.
Thanks!

[2021-06-16 10:00] Jonatan949 commented on #18368
The problem of combinations product when someone add to cart continue?? I have the problem and i do not know how to solvent it

[2021-06-16 10:06] hibatallahAouadni commented on #16329
Hello @mrochapt

I think this option is not only for the products in the pack but also for the pack itself. This means that when we disbaled this option, all the prices should be hidden (the price of the pack and the prices of the products).

Ping @PrestaShop/product-team could you please confirm my point :pray: unless I misunderstand the functionality of this option.

[2021-06-16 10:20] lmeyer1 commented on #24984
@hibatallahAouadni
Thanks. I'm impressed by the means you employ to examine the issues 👍

I see that the Exception is echoed in your case. I suppose that the QA module you are using is responsible for displaying and that this is not the case when executing the code directly from the module.

Unfortunately I can only speculate on the difference between the two, since I have no access to your power

[2021-06-16 10:29] Jonatan949 commented on #19123
I have a problem related with this. When the customer adds a product with combinations to the cart, the combination of products that the customer chooses is not chosen, the Samsung S21 Plus always appears. This problem only occurs in the mobile version, in the computer version it works fine.

What can I do?

Regards,

[2021-06-16 10:32] Jonatan949 commented on #14773
I have a problem related with this. When the customer adds a product with combinations to the cart, the combination of products that the customer chooses is not chosen, the Samsung S21 Plus always appears. This problem only occurs in the mobile version, in the computer version it works fine.

What can I do?

Regards,

[2021-06-16 11:02] hibatallahAouadni commented on #24880
Hello @wzzly

That issue is fixed with PS1.7.8.0 and not with 1.7.7.4 :wink:

![image](https://user-images.githubusercontent.com/23308427/122207669-abf64780-cea2-11eb-83ce-874b84146fba.png)

You can use this PR #15100 fix till 1.7.8.0 stable version is released.
So, as we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #16163.
I close the issue.

Thanks

[2021-06-16 11:02] #24880 closed, assigned to nobody

[2021-06-16 11:02] hibatallahAouadni commented on #24880
Duplicate of #16163

[2021-06-16 11:12] NKoonen commented on #12577
Fresh PS 1.7.7.5 still has this issue when you have debug mode enabled.

[2021-06-16 11:37] Progi1984 commented on #18528
Fixed by @okom3pom in PrestaShop/ps_supplierlist#7

[2021-06-16 11:37] #18528 closed, assigned to nobody

[2021-06-16 12:12] mdelgrange commented on #24979
@hibatallahAouadni yes, we can do a PR, but i wait Product Team validation before coding.

[2021-06-16 12:31] hibatallahAouadni commented on #24979
Great :tada:

Ping @marionf wdyt?

[2021-06-16 12:32] hibatallahAouadni commented on #24984
@lmeyer1 here's the module https://github.com/PrestaShop/ps_qualityassurance
It's a native module to test the hooks, you can try it :wink:

[2021-06-16 12:37] muyncky commented on #19123
@Jonatan949 ask this kind of question in the PrestaShop forum. There; mention PS version and theme.

[2021-06-16 13:00] vskand commented on #18151
**BAD SOLUTION (but it works)**
A bad solution I found that works for my case is the following.

In /modules/ps_facetedsearch/src/Adapter/MySQL.php in function getFieldMapping() add before return $filterToTableMapping;

[code]

[2021-06-16 13:11] wosin7 commented on #23378
yes and its working with 90.0.4430.93 and bellow
I am confused
presta 1.7.7.5 installed on 2 different servers, one from install package. second from git, and on both i cant login to admin  on chrome 91.0.4472
funy thing presta 1.7.7.4 works on chrome 91.0.4472 and other version
I have no idea if this is a bug of presta or chrome...

anyway, if you encounter such an error, please change your brows

[2021-06-16 13:52] tswfi opened #24987 "Translations file scanning should not go to vendor folder"
#### Describe the bug

If a module has a vendor folder with bit more stuff the translation view is really slow and might either timeout or run out of memory.

The translation scanning in a module should not look into `vendor` folder (and probably `lib` and some others too).

#### Expected behavior

Vendor folder should not be scanned

#### Steps to Reproduce

Create minimal module with

[code]

Go

[2021-06-16 14:06] lmeyer1 commented on #24984
Thanks @hibatallahAouadni
As I suspected, the module is responsible to display the error message.

In `ps_qualityassurance/ps_qualityassurance.php` lines 114 to 124:

    try {
        $output = eval($payload['content']);
        $this->recordHookCall($hookName, $params, $output);

        return $output;
    } catch (Throwable $e) {
        $output = $e->getMessage();
        $this->recordHookCal

[2021-06-16 14:07] Progi1984 commented on #24818
Fixed by @PierreRambaud in #24851

[2021-06-16 14:07] #24818 closed, assigned to PierreRambaud

[2021-06-16 14:08] #24859 closed, assigned to NeOMakinG

[2021-06-16 14:14] tswfi commented on #24987
and a simple module from module generator for testing this
https://github.com/tswfi/translationtesting

[2021-06-16 14:42] Progi1984 commented on #24925
Ping @NeOMakinG

[2021-06-16 14:43] Progi1984 commented on #24926
Ping @NeOMakinG

[2021-06-16 15:03] hibatallahAouadni commented on #24987
Hello @tswfi

Thanks for the detailed issue and the test module, I reproduce the issue with develop, PS1.7.6.7 & PS1.7.7.5, see the attached screen record:

https://drive.google.com/file/d/1VP2GXOrajjllWTYiDgBBeQ7Dv4Qti572/view

Without running this command: `composer install --no-dev` the translation loaded quickly but after executing it it takes over 20 minutes to load. ’ll add this to the debug

[2021-06-16 15:49] hibatallahAouadni commented on #24984
Hello @lmeyer1

As discussed with you on Slack, let's wait for @jolelievre approval. In the mean time, if you could provide a test module, it will be perfect :pray:

Thanks for being so humble.

[2021-06-16 15:55] hibatallahAouadni commented on #24877
Hello @fall-en

Thanks for your patience :pray:
Your screenshots show a modal of your payment module, so I think the problem is with the payment module.
Have you checked with the developer of the module?
Please check and feedback.

Thanks!

[2021-06-16 15:56] atomiix commented on #24871
Fixed by #24908

[2021-06-16 15:56] #24871 closed, assigned to Progi1984

[2021-06-16 16:15] marionf commented on #16329
@hibatallahAouadni yes, as specified in the [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/catalog/products/add-edit.md):

[2021-06-16 16:20] hibatallahAouadni commented on #16329
@mrochapt I think it's quite clear now :wink:

[2021-06-16 16:20] #16329 closed, assigned to NeOMakinG

[2021-06-16 16:21] z72diego commented on #24962
Hi @hibatallahAouadni i don't think it's the same bug, but similar.

The user reports an error in the totals. The error that I report happens in the price of the specifically added product.

Please try to reproduce.

Thanks.

[2021-06-16 16:27] zuk3975 commented on #19123
@Jonatan949, your problem seems to be related more with **Front Office**, while we are discussing combinations generation (creation if you will) in **Back Office**. So it is indeed offtopic here. Try following `muyncky` suggestion, or search for any similar issue in github. Hope you get it fixed, good luck!

[2021-06-16 16:47] hibatallahAouadni commented on #24662
Hello @Flowster

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-16 16:47] #24662 closed, assigned to nobody

[2021-06-16 17:00] mrochapt commented on #16329
Thank you for your explanation.
I guess this feature does more than expected, and as such is of little use to me.
The point was to have the price of the pack shown, but not the price of the sub-products, witch I don't intend on selling directly.
Thanks anyway.

[2021-06-16 17:09] fall-en commented on #24877
Hello @hibatallahAouadni

Thank you for your reply. Yes, I thought the same first time I have encountered this issue. So i dediced to send bug report to Prestashop Checkout team (it was March/April). In this months they have not solved this issue.

At this point, 2 weeks ago, I decided to change payment module and try with Stripe Official module (https://addons.prestashop.com/it/pagamento-carta-cr

[2021-06-16 17:54] prestaalba commented on #24975
Hello @hibatallahAouadni

In fact, this is the same issue that https://github.com/PrestaShop/PrestaShop/issues/24517. To reproduce it you must have a shop with medium-high catalog and orders size (as described on this issue Additional information).

The solution proposed by @alejandrogarciahenao make that product list data loads fast, but only because the bulk update process on updateReservedProdu

[2021-06-16 23:35] i-pity-the-fool commented on #24939
No response from module developers. I have installed PS 1.7.6.9 with the same module and received the same behaviour. I am unable to say confidently whether this is a PS or a module issue as i have only recently started working with PS and cannot say whether this refund functionality ever worked.

I just realised i have a screen in advanced -> order Settings -> Status where i can disable emails to

[2021-06-17 00:55] lilianamc opened #24992 "PS 1.7.7.4 Suddenly the web site stopped working in the creation of clients and orders."
#### Describe the bug

I have my new store https://dulceencanto.com/ in PS 1.7.7.4, I received some orders without problems and suddenly the web site stopped working in the creation of clients and orders.

#### Steps to Reproduce

Please watch the following videos

https://www.awesomescreenshot.com/video/4156853?key=63d59274b32ca4695e2bc5cd22065789

https://www.awesomescreenshot.com/video/4157997?

[2021-06-17 01:09] lilianamc opened #24993 "Full name in the orders (admin)"
It would be nice to see the full name of the clients in the orders

#### Describe the solution you'd like

Display full name

#### Additional context

<img width="395" alt="Screen Shot 2021-06-16 at 8 02 22 PM" src="https://user-images.githubusercontent.com/34715988/122314536-ff39bb80-cedd-11eb-8607-929d536708a4.png">

[2021-06-17 01:15] lilianamc commented on #11302
Hi!

Don't forget this nice and helpful feature :)

[2021-06-17 07:35] Oksydan opened #24994 "ThemeExporter is creating ZIP files which ignores dot files"
#### Describe the bug

I am working on prestashop starter theme project. I am using ThemeExporter to create release packages for theme. Theme is for developers only and it is contains various files that are required for theme to work properly .stylelint, env-example, etc. When I am creating package I have to modify my ThemeExporter class and add `->ignoreDotFiles(false)` into Finder to make sure t

[2021-06-17 08:00] hibatallahAouadni commented on #24939
Hello @i-pity-the-fool

I didn't manage to reproduce your issue with PS1.7.7.4, see the attached screen record below:

https://drive.google.com/file/d/1z8fE5hhzp-g_2-qPHd8O5E197-299e9G/view

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem. We will close this issue.

P

[2021-06-17 08:00] #24939 closed, assigned to nobody

[2021-06-17 08:19] PululuK commented on #24993
I agree, and suggest to add email in listing too.

[2021-06-17 08:30] hibatallahAouadni commented on #24993
Hello @lilianamc

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-17 08:36] hibatallahAouadni commented on #24992
Hello @lilianamc

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2021-06-17 08:36] #24992 closed, assigned to nobody

[2021-06-17 08:53] Jonatan949 commented on #19123
And someone have an idea of what type of error can be?

[2021-06-17 09:07] Jonatan949 commented on #10400
@khouloudbelguith I have a problem related with this. When the customer adds a product with combinations to the cart, the combination of products that the customer chooses is not chosen, the Samsung S21 Plus always appears. This problem only occurs in the mobile version, in the computer version it works fine.

What can I do?

[2021-06-17 09:10] hibatallahAouadni commented on #24994
Hello @Oksydan

I didn't manage to reproduce the issue with PS1.7.7.5, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/122366934-4d8d9f80-cf5c-11eb-8730-da07f96fea4b.png)

I created a file `.stay` in `classic` theme, then I export it and extract it, and I didn't find the file `.stay`.
Please check and feedback.

Thanks!

[2021-06-17 09:18] kpodemski commented on #24994
@hibatallahAouadni I think @Oksydan wants `.stay` to... stay in package :)

[2021-06-17 09:28] Oksydan commented on #24994
@hibatallahAouadni yes, `.stay` file should stay.
You just manage to reproduce the issue 😄

[2021-06-17 09:35] marionf commented on #20332
Hello @hibatallahAouadni

I am currently working on the discovery of the auto-upgrade, could you please try to reproduce this issue soon ?

[2021-06-17 09:35] Progi1984 commented on #23868
Fixed by @samberrry in #24320

[2021-06-17 09:35] #23868 closed, assigned to samberrry

[2021-06-17 09:46] hibatallahAouadni commented on #24994
Hello,

Sorry guys :sweat_smile: and thanks @kpodemski :wink:
Well then, I was able to reproduce the issue with PS1.7.7.5, PS1.7.6.7 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the

[2021-06-17 09:56] khouloudbelguith commented on #10400
Hi @Jonatan949,

This issue is currently closed, can you open a new one with more information about your configuration.

Thank you!

[2021-06-17 10:07] Jonatan949 opened #24998 "Error when adding products with combinations to the cart Prestashop 1.7"
When the customer adds a product with combinations to the cart, the combination of products that the customer chooses is not chosen, only appear the default combination. This problem only occurs in the mobile version, in the computer version it works fine.

Regards,

URL of a product: https://bitbitinformatica.com/fundas-movil-shingeki-no-kyojin/funda-shingeki-no-kyojin-escudos.html

URL example i

[2021-06-17 10:08] Jonatan949 commented on #10400
Ok, this is the url of the new issue: https://github.com/PrestaShop/PrestaShop/issues/24998

[2021-06-17 10:08] Jonatan949 commented on #10400
@khouloudbelguith i need your help please 🙏🙏

[2021-06-17 10:56] uruk-hai-21 commented on #24764
Doesn't work for me
PS 1.7.7.5 - 1.7.7.3
Module version: 3.7.1

https://drive.google.com/file/d/14yHqFDWmfU6QL_TNCbbEJ1K-sVRUOgbv/view

[2021-06-17 11:21] hibatallahAouadni commented on #24916
Hello @kdegenkamp

Thanks for your patience :pray:
So your issue is that the Google Analytics interface is showing the wrong number of orders, is that so?
Did you encounter any other problems besides the wrong number of orders?
Please check and feedback.

Thanks!

[2021-06-17 11:50] Hlavtox opened #24999 "Improve my account links in footer"
### Is your feature request related to a problem?

Links are the same for logged in customer and a guest. The guest should could have a nice link to track his order, log in or register instead.

### Before

![current](https://user-images.githubusercontent.com/6097524/122390978-d31c4a00-cf72-11eb-8c85-0f31ee8b73d0.JPG)

### After, logged in

![after_logged](https://user-images.githubusercontent.com

[2021-06-17 12:01] Progi1984 commented on #24553
Fixed by @Progi1984 in #24657

[2021-06-17 12:01] #24553 closed, assigned to Progi1984

[2021-06-17 12:05] Hlavtox commented on #24993
@PululuK Hi, in real life, the email is not important at all. As a merchant you don't need to know it, unless anything happens...

[2021-06-17 12:08] matks commented on #24993
@PululuK @Hlavtox @lilianamc nobody's afraid that the column might become too large and distort the table 😅  ?

[2021-06-17 12:13] Hlavtox commented on #24993
It's too big already, the number information for effective order processing is much smaller. See our in house system:

![orders](https://user-images.githubusercontent.com/6097524/122394368-30fe6100-cf76-11eb-976c-0aa1920047c6.jpg)

[2021-06-17 12:17] jwojda opened #25000 "Product comments [ERROR 500]"
#### Describe the bug

I install Product Comments 4.0.0 on Prestashop 1.7.6.5 but when i tried to configure the module : Error 500.

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.3.19-1

[2021-06-17 12:21] bastienuh opened #25001 "Bad request on header and huge cookie size"
Hi,

(I open this discussions after a first issue (#24903) and a lot of investigations)

## Recap:
Sometimes, for some customers, we have a blank page on the homepage, with a Bad request. This is due to very very big cookie size. So I'm trying to find how we can have so big cookies on the browser and then sent in the header of each requests... causing bad request errors...

## Investigations:
On m

[2021-06-17 12:26] matks commented on #10400
@Jonatan949 If you need help with your shop, please have a look at  https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-06-17 12:47] lilianamc commented on #24993
@Hlavtox  What module are you using for orders ?

[2021-06-17 12:50] Hlavtox commented on #24993
@lilianamc I programmed this myself, we run 10 stores and manage all of them from here. (+ invoicing and stock management system)

[2021-06-17 13:05] lmeyer1 opened #25002 "Improper use of `defined` to check for a constant"
#### Describe the bug

`defined(_CONSTANT_)` is wrong. Quotes are not optional.

    var_dump(defined('_CONSTANT_'));  // false
    var_dump(defined(_CONSTANT_));  // false
    define('_CONSTANT_', true);
    var_dump(defined('_CONSTANT_'));  // true
    var_dump(defined(_CONSTANT_));  // false (INCORRECT)
    // Warning:  Use of undefined constant _CONSTANT_ - assumed '_CONSTANT_' (this will thro

[2021-06-17 13:13] matks commented on #24251
Follow up https://github.com/PrestaShop/PrestaShop/issues/25002 😊

[2021-06-17 13:30] #23632 closed, assigned to nobody

[2021-06-17 13:37] hibatallahAouadni commented on #20332
Hello @marionf

I couldn't install the PS1724 cause I always encounter this issue thought all my **allow_url_fopen** vars are **On**:

![image](https://user-images.githubusercontent.com/23308427/122406406-1c739600-cf81-11eb-8dfa-3aa5a3aff393.png)

So, I asked @SD1982 to test it and he encountered a blocking issue while installing:

![image](https://user-images.githubusercontent.com/23308427/122406

[2021-06-17 13:38] hibatallahAouadni commented on #25002
Hello @lmeyer1

I think you forget the steps to reproduce the issue :sweat_smile: or we need a developer to confirm the issue?
If so, @PrestaShop/prestashop-core-developers wdyt?

[2021-06-17 13:39] matks commented on #23996
help.prestashop.com has been deployed to provide the needed content although it is very minimal for now https://help.prestashop.com/en/doc/AdminFeatureFlag?version=1.7.8.0 and https://help.prestashop.com/fr/doc/AdminFeatureFlag?version=1.7.8.0

[2021-06-17 13:40] lmeyer1 commented on #25002
No, I didn't forget the steps. I intentionally left them out.
Yes, have @PrestaShop/prestashop-core-developers take a look.

[2021-06-17 13:41] hibatallahAouadni commented on #24764
Hello @uruk-hai-21

Of course it doesn't, cause this issue will be fixed with Faceted search v3.7.2 as you can see in the PR https://github.com/PrestaShop/ps_facetedsearch/pull/449 (check the milestone)

Thanks!

[2021-06-17 13:42] matks commented on #23996
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/25004

[2021-06-17 13:46] hibatallahAouadni commented on #25000
Hello @jwojda

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-06-17 13:46] #25000 closed, assigned to nobody

[2021-06-17 13:48] hibatallahAouadni commented on #24998
Hello @Jonatan949

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-06-17 13:48] #24998 closed, assigned to nobody

[2021-06-17 14:00] hibatallahAouadni commented on #24999
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to help you by ensuring that it is appropriate and coherent with the rest of the project. If that i

[2021-06-17 14:07] hibatallahAouadni commented on #20332
Ping @khouloudbelguith could you try it :pray:

[2021-06-17 14:23] hibatallahAouadni commented on #25001
Hello @bastienu

Thanks for the detailed report :clap:
Ping @PrestaShop/prestashop-core-developers could someone please answer @bastienu questions :pray:

Thanks in advance.

[2021-06-17 14:46] akscell opened #25005 "Prestashop Official Stripe Module - iphone payment error"
#### Describe the bug

I recently observed that a number of my customers who are using iphones and paying via stripe, are either getting error messages or blank screens. I've contacted Stripe whom told me to contact Prestashop instead as the module was programmed on Prestashop's end?

#### Expected behavior

I would like the Stripe module to function well without hiccups in future. I've customers

[2021-06-17 15:26] matthieu-rolland opened #25006 "How to deal with multistore header in modules"
#### Is your feature request related to a problem?

While developing the multistore module example I came upon this situation:

I have a create/edit form with a shop association block, so the element being edited can be associated to any shop or shop group: should we still display the multistore header in this situation? Even if the shop context doesn't impact the form in any way...?

#### Describ

[2021-06-17 15:28] Julievrz opened #25007 "Turn the helper text on the Experimental Feature page into a tooltip"
#### Is your feature request related to a problem?

As @prestascott pointed out to me, the helper text that appears on the Experimental Feature page should be a tooltip because it is too long for a helper text + it has an informative purpose.

#### Describe the solution you'd like

Turn the following helper text into a tooltip. 'This page benefits from increased performance and includes new featur

[2021-06-17 15:45] hibatallahAouadni commented on #25007
Hello @Julievrz

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Ping @PrestaShop/product-team wdyt?

Thank you

[2021-06-17 15:54] hibatallahAouadni commented on #25005
Hello @akscell

It seems everything right to me, I didn't have any blank screen nor error message, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/122431697-f952e180-cf94-11eb-9515-524704b3b9d6.png)

May be it's your theme, did you try to switch to classic theme?
Please check and feedback.

Thanks!

[2021-06-17 16:02] marionf commented on #25006
Hey @matthieu-rolland

This is the current behavior in the back-office (it works like this for categories for example):
When you add something, the shop(s) selected in the context are automatically checked in the shop association block.
But it's possible to select/unselect shops, no matter the context selected.

When you edit something, you can unselect the shop(s) previously selected and therefor

[2021-06-17 16:03] matks opened #25008 "Links to prestashop.com and addons.prestashop.com in BO profile window"
#### Is your feature request related to a problem?

If you click on top right user profile icon it opens a window. In this window are many links to www.prestashop.com and addons.prestashop.com that must be removed in the Open source Split project.

![Capture d’écran 2021-06-17 à 17 59 55](https://user-images.githubusercontent.com/3830050/122433034-1fc54c80-cf96-11eb-92d8-17c11798c24b.png)

####

[2021-06-17 16:05] eternoendless commented on #25008
@PierreRambaud we'll probably need to make sure that modules can add links there

[2021-06-17 16:10] matks opened #25009 "Login to Addons from Modules Manager BO page: cannot login if I signed on addons.prestashop.com using SSO"
#### Is your feature request related to a problem?

In Modules Manager BO page, there is a button to login using Addons account.

![Capture d’écran 2021-06-17 à 18 08 15](https://user-images.githubusercontent.com/3830050/122434038-0a045700-cf97-11eb-8c4f-ca0a3624f1fd.png)

If you click on it you can sign-in your Addons account if you input your login and password

![Capture d’écran 2021-06-17 a

[2021-06-17 16:18] #24956 closed, assigned to tswfi

[2021-06-17 16:18] matks commented on #24956
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24958

[2021-06-17 16:31] matthieu-rolland commented on #25006
thanks for your feedback @marionf !

Yes I saw it was the same in the category page, I just thought it was strange in edition mode, but if it's good for the users I guess we shouldn't change something they are used to  👍

About 3/, do you think it would be an interesting feature for module developers to be able to disable the multistore header on certain pages (of their module only)? For example i

[2021-06-17 16:31] Hlavtox commented on #24993
@lilianamc If you want to display the full customer name, you can do it by changing one line in the code.
- Open this file - `/src/Core/Grid/Query/OrderQueryBuilder.php`
- Find `private function getCustomerField()`
- Remove ``return 'CONCAT(LEFT(cu.`firstname`, 1), \'. \', cu.`lastname`)';``
- Add ``return 'CONCAT(cu.`firstname`, \' \', cu.`lastname`)';`` instead

[2021-06-17 16:36] marionf commented on #25006
Yes, it could be an interesting feature as some modules have no interest in being compatible with multistore, such as certain front-office modules like captchas for example

[2021-06-17 16:58] Progi1984 commented on #25008
@PierreRambaud  I can take it.

[2021-06-17 19:17] lilianamc commented on #24993
@Hlavtox  Thank you very much!

[2021-06-17 19:30] matks commented on #24003
Closing for now

[2021-06-17 19:30] #24003 closed, assigned to nobody

[2021-06-17 19:35] matks commented on #23235
Traditional feature flags are indeed not meant to be turned on or off from the interface, but here we have mixed the concept of feature flags with the concept of experimental features / beta features.

This allows us to get some feedback on this new page from non-technical users. In 1.7.8 back-office users can test the new Product page ('experimental product page') at any time when switching the F

[2021-06-17 23:42] shogo54 opened #25010 "DbQueryCore does not support subquery in from function"
#### Is your feature request related to a problem?

PHP version: 7.3.28
Server: Linux CentOS 8
Engine: Apache/2.4.37
Prestashop version: 1.7.7.3

When creating a query using DbQueryCore, it does not allow to have a subquery in from clauses. Of course, it is possible to write a complicated query without a query builder, but it is better to write with a builder for readability and reusability.

Or i

[2021-06-18 00:16] DevWL opened #25011 "SQL Manager SQL Form throws FatalThrowableError - Type Error on JOIN SQL query (but works with simple SELECT)"
#### Describe the bug

SQL Manager throws Fatal Error when trying to run complex query with JOIN.

[code]

#### Expected behavior

It should take the SQL query and save it so it can be run later on.
It works in PhpMyAdmin without any issue
![image](https://user-images.githubusercontent.com/4503417/122487265-2629e780-cfdb-11eb-88d3-94abec18a267.png)

#### Steps to Reproduce

Steps to reproduce the

[2021-06-18 00:23] unlocomqx opened #25013 "Same background for multiple colorpickers"
#### Describe the bug

Multiple color pickers will have the same background color even though they have different color values

#### Expected behavior

Each input must have a different background color
<img width="604" alt="2021-06-18 at 1 21 AM" src="https://user-images.githubusercontent.com/793712/122487563-7a30ce00-cfd3-11eb-93ca-c341e8945a90.png">

Actual

<img width="588" alt="2021-06-18 at 1

[2021-06-18 03:02] akscell commented on #25005
Hi Hibattah,

many thanks for your reply! Was this done on www.norskenskincare.com ? The issue I am facing is on this page itself unfortunately.

[2021-06-18 03:45] Brunettib78 opened #25014 "Non-regulatory prestashop Customer Notice productcomments module according to the DGCCRF and the prefecture services in France"
Hello, I am using the free productcomments v4.2.2 module on my prestashop 1.7.6.8 store.
The competition department in France audits all sites in the French well-being sector,
and mine went through this audit, which ends with an injunction.

 I am stuck on customer reviews, because according to them I am facing penalties because it is not legal. If I understand them correctly, I will remember to r

[2021-06-18 07:08] florine2623 commented on #25013
Hello @unlocomqx ,

As we're not able to reproduce this issue on the core of PrestaShop, it cannot be fixed.
The only area where there is this color picker is in Multistore mode :
<img width="554" alt="Screenshot 2021-06-18 at 09 05 32" src="https://user-images.githubusercontent.com/16019289/122520844-6e193080-d014-11eb-89c0-89fe6040313b.png">
But the color code is not mentioned.

I suggest you co

[2021-06-18 07:13] florine2623 commented on #25014
Hello @Brunettib78 ,

Avis vérifiés is an external module, not a native module from PrestaShop. We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.
If you have questions about a third-party modules, please do it directly from addons marketplace on the "Developer" page where you can contact them.
https://addons.prestashop.com/en/customer-reviews/17497-verifie

[2021-06-18 07:15] unlocomqx commented on #25013
It's not an external module, it's my module. And it used to work on the previous PrestaShop version.
On the PrestaShop backoffice, there are a lot of page where a color picker is displayed
For example, in the attribute page or the order statuses page.. but I couldn't find a page where two color pickers are displayed
Do you know any?

[2021-06-18 07:17] kpodemski commented on #25013
@unlocomqx I think it's a valid bug/feature rquest report, you should be able to use as many color pickers as you want on modern pages

@florian-202 I'd suggest to tag it as a `developer feature`, not a regular bugfix :)

[2021-06-18 07:21] unlocomqx commented on #25013
The same bug is present in the module "Order Notifications on the Favicon" in the main configuration page
<img width="765" alt="2021-06-18 at 8 20 AM" src="https://user-images.githubusercontent.com/793712/122522605-0f50b880-d00e-11eb-87a4-c2144916ae90.png">

[2021-06-18 07:25] unlocomqx commented on #25013
Here's the result after applying the fix
<img width="752" alt="2021-06-18 at 8 25 AM" src="https://user-images.githubusercontent.com/793712/122523271-c0575300-d00e-11eb-9df2-085647832c43.png">

[2021-06-18 07:37] Progi1984 commented on #23444
Fixed by @NeOMakinG in #23480

[2021-06-18 07:37] #23444 closed, assigned to NeOMakinG

[2021-06-18 07:38] florine2623 commented on #25011
Hello @DevWL ,

I was able to reproduce the issue with PrestaShop version 1.7.7.5, 1.7.8 and develop, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you co

[2021-06-18 07:38] atomiix opened #25015 "Use PrestaShop memcached servers configuration for doctrine"
#### Is your feature request related to a problem?

In the PrestaShop BO, you can choose a cache adapter to be used with legacy classes (like [DB](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/db/Db.php#L348) for instance). We're also using this choice to set up the doctrine cache, but the server configuration is not used in doctrine when we chose Memcached.

#### Describe the solu

[2021-06-18 07:45] florine2623 commented on #25010
ping @PrestaShop/prestashop-core-developers

Could you take a look at @shogo54 's question ?

Thanks!

[2021-06-18 08:00] florine2623 commented on #25009
Hello @matks ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this fe

[2021-06-18 08:16] matks opened #25016 "Technical debt: hardcoded list of controllers not multistore-compliant"
#### Is your feature request related to a problem?

In the code of class AdminLegacyLayoutController there is a list of controllers not multistore-compliant. This list is used to force the shop context to 'All Shops'.

[code]

https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/admin/AdminLegacyLayoutController.php#L80

This is naturally a [code smell](https://en.wikipedia.org/wiki/C

[2021-06-18 08:43] uruk-hai-21 commented on #24764
Hello @hibatallahAouadni
I meant the patch doesn't work for me

[2021-06-18 08:47] Brunettib78 commented on #25014
bonjour,

je ne parle pas d'un module externe comme celui-ci
je parle de ce module, Avis Clients v4.2.2 - par PrestaShop

vraiment sujet clos?

[2021-06-18 08:47] Prestaworks commented on #24764
You are going to many levels, the patch fixes the search for subcategories on the current category. If you filter from "all" or a top level where there are multiple names two or more levels down in the three, the issue will still show up since the system can't know what of those categories it wants to filter from.

[2021-06-18 08:53] PierreRambaud commented on #25008
Yes, hooks have to be added :+1:

[2021-06-18 08:53] matks commented on #25014
@Brunettib78 I think we are talking about https://github.com/PrestaShop/productcomments 😊

[2021-06-18 09:01] AlionaxAlionax opened #25018 "Translation bug"
#### Describe the bug

In prestashop 1.7.7.2, translation seems not working properly. When we put our text in translation fonction : l s='   ', he is not sended for translation in Backoffice.

#### Expected behavior

We would like to be able to translate the text from our new code from the backoffice, like in 1.6.

#### Additional information

* PrestaShop version: 1.7.7.2

Thanks

[2021-06-18 09:03] matks commented on #25018
@AlionaxAlionax hello, I think you will need to provide a lot more details 😉  because this is too broad. I have an example working right here with `l s=' '`

The best would be a sample module or PHP file.

[2021-06-18 09:03] Prestaworks commented on #24764
Maybe we can change this instead to
$categories = Category::searchByName($idLang, $queryFilter, false);
that will get all categories in the shop with a matching name.
Neither solution is perfect :)

[2021-06-18 09:25] Brunettib78 commented on #25014
oui c'est exactement cela, merci Mathieu.
j'imagine devoir reposer ma question sur ce lien ? Florine2623 a fermé la porte un peu vite ! :)

[2021-06-18 09:31] matks commented on #25014
@Brunettib78 we need to use English here 😉  as this is an international area

The Product Team will analyze your feature request for future work.

But please be aware that there is no guarantee that this feature will be developed anytime soon, as we have already plenty of work.

[2021-06-18 09:37] Brunettib78 opened #25019 "Non-regulatory prestashop Customer Notice module according to the DGCCRF and the prefecture services in France"
Hello, I am using the free productcomments v4.2.2 module on my prestashop 1.7.6.8 store.
The competition department in France audits all sites in the French well-being sector,
and mine went through this audit, which ends with an injunction.

 I am stuck on customer reviews, because according to them I am facing penalties because it is not legal. If I understand them correctly, I will remember to r

[2021-06-18 09:43] agnesdennetiere opened #25020 "Multistore : orders created on one store end up in the other one BO/FO"
Hello,

this bug appears on a prestashop 1.7.7.1 with 2 stores, in the same group, with "share customers" and "share orders" disabled. Only "share quantities" is enabled.

The merchant has had a problem for some weeks: when they create an order in one shop, sometimes the prices of products added to cart are prices of the other store. If they create the order anyway : the order is created in the wr

[2021-06-18 09:45] hibatallahAouadni commented on #23113
Hello @Hlavtox

Do you still reproduce the issue? Cause I can't.
Could you please check and feedback.

Thanks!

[2021-06-18 09:46] agnesdennetiere commented on #25020
I forgot to mention that this website is a migration from a prestashop 1.6, where there was only one store.
We migrated the customer data, and then for customers in 1.6 which were in a specific group, we changed the id of the shop in the database of the prestashop 1.7.

[2021-06-18 09:46] #25002 closed, assigned to lmeyer1

[2021-06-18 09:48] AlionaxAlionax commented on #25018
Hi,

We send you an attached file who discibes the problem more clearly.

Thank you for your help
[Here what we have in red.docx](https://github.com/PrestaShop/PrestaShop/files/6676199/Here.what.we.have.in.red.docx)

[2021-06-18 09:52] agnesdennetiere commented on #25020
We also changed the id_shop of the orders of theses customers, but not the id_shop of the carts of these customers... Maybe this is the problem.
I just did the request in the database, we will see if the problem happens again

[2021-06-18 09:55] derick930 opened #25022 "bogue in the section product"
#### Describe the bug

it is about a bug which mixes and superimposes the texts and displays all the selections in the drop-down menus. We also noticed a display bug.

#### Expected behavior

1. Go to category
2. Click on product
3. Scroll down and see error

![Capture d’écran 2021-06-18 135335](https://user-images.githubusercontent.com/86100614/122543293-ae8ca480-d03c-11eb-9853-f9b1e3df46d4.png)

[2021-06-18 10:01] #24915 closed, assigned to NeOMakinG

[2021-06-18 10:25] henri9813 opened #25023 "Translation problem for new products in french"
#### Describe the bug

[code]

The term New product is badly translated in french by "Neuf". It's wrong ! It should be "Nouveau" or "Nouveauté"

Some customers believe only theses products are "new" ( in term of usage state ), it's wrong !

#### Expected behavior

New -> Nouveau

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create french prestashop
2. Create a product
3. set in se

[2021-06-18 10:53] Hlavtox opened #25024 "Improvement of customer links in header"
#### Is your feature request related to a problem?

When the customer is logged in, we can improve the links in the header. Change a link to a dropdown (like in currency selector) and enable the user to go directly where he wants to. And save space due to moving logout link inside the dropdown.

![before](https://user-images.githubusercontent.com/6097524/122550456-f78c2b00-d033-11eb-8e57-84012d979

[2021-06-18 10:54] jolelievre opened #25025 "SubmittableInput component used in new product page has very poor feedback for user on error and even on success"
#### Describe the bug

SubmittableInput component used in new product page has very poor feedback for user on error and even on success.
- nearly no growl message
- no color identification
- no loading state

#### Expected behavior

Better UX:
- add colored border to see the errors
- display a loading state while the request is fired
- have a growl message on response wether it's ok or not

**Scre

[2021-06-18 10:54] jolelievre commented on #25025
I just created this issue to have better tracking of this PR https://github.com/PrestaShop/PrestaShop/pull/24025 that needs to be merged before the 178 RC

[2021-06-18 10:56] LuigiMdg commented on #19038
I also have the same problem at line 5130!

Version 1.7.7.2

[2021-06-18 12:03] florine2623 commented on #25018
Hello @AlionaxAlionax ,
Could you follow the bug template + share the steps to reproduce, so we can reproduce it on our end ?
Thanks!

[2021-06-18 12:06] florine2623 commented on #25022
Hello @derick930 ,

Can you make sure you are using the right version of PHP for your PrestaShop version ?
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

PHP 7.2 max for 1.7.6.8.

Thanks!

[2021-06-18 12:06] #25022 closed, assigned to nobody

[2021-06-18 12:09] florine2623 commented on #25024
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-18 12:10] Progi1984 commented on #24460
Fixed in #24774 by @matthieu-rolland

[2021-06-18 12:10] #24460 closed, assigned to matthieu-rolland

[2021-06-18 12:12] florine2623 commented on #25020
Hello @agnesdennetiere ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further

[2021-06-18 12:14] florine2623 commented on #25023
Hello @henri9813 ,

You issue a duplicate of https://github.com/PrestaShop/PrestaShop/issues/17455
It will be implemented in PS 1.7.8.0.

So I close your issue.
Thanks!

[2021-06-18 12:15] florine2623 commented on #25023
Duplicate of #17455

[2021-06-18 12:16] #25023 closed, assigned to nobody

[2021-06-18 12:20] Progi1984 commented on #22311
@ttoine In this case, you should contact @substack https://github.com/substack/json-stable-stringify to change their dependency.

[2021-06-18 12:33] wzzly opened #25027 "BO product combination list has different order of attributes"
#### Describe the bug

When visiting BO product page. Go to combinations tab. When you have different combinations with multiple attributes, the combination name contains the attributes in a different order. When working with multiple combinations with multiple attributes (but all combinations use the same attributes), this is very anoying for readability.

#### Expected behavior

Combination name

[2021-06-18 12:41] #25020 closed, assigned to nobody

[2021-06-18 13:01] PierreRambaud opened #25028 "Remove marketplace links and ads in the installer"
#### Is your feature request related to a problem?

We have to remove these elements for the open source project.

![image](https://user-images.githubusercontent.com/1462701/122564627-e0563900-d045-11eb-9b20-97a186aa1003.png)
![image](https://user-images.githubusercontent.com/1462701/122564733-fa901700-d045-11eb-9378-0a5b585ce07f.png)
![image](https://user-images.githubusercontent.com/1462701/1225

[2021-06-18 13:19] PierreRambaud opened #25030 "Move dashboard right column elements into MBO"
#### Is your feature request related to a problem?

These elements have to be moved outside the Core.

![image](https://user-images.githubusercontent.com/1462701/122567004-7be8a900-d048-11eb-8670-2d7fd8d4eeb0.png)
#### Describe the solution you'd like

#### Alternatives you've considered

Have to be move into the mbo module

[2021-06-18 13:30] matks opened #25031 "Sanity tests randomly failing because unable to download modules from addons"
#### Describe the bug

We have multiple CI 'sanity' runs failing because it is unable to download modules from Addons

[code]

![Capture d’écran 2021-06-18 à 15 26 27](https://user-images.githubusercontent.com/3830050/122568198-cd456800-d049-11eb-9c29-383db4064fb6.png)

#### Expected behavior

CI should be fixed so we don't hinder the pull request process. Also it's not acceptable that our CI fa

[2021-06-18 13:45] Max84 opened #25032 "Webservice offset limit doesn't work anymore"
#### Describe the bug

Webservice limit function doesn't work (offset is always 0)

#### Expected behavior

If i set limit=[10,5] I should have 5 results since line 10. Now I always have 5 results since line number 0.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable webservice
2. Try to get these stock_avalaible : api/stock_availables?display=[id,id_product,id_product_attribut

[2021-06-18 13:46] PierreRambaud opened #25033 "Remove code related to Gamification module"
#### Is your feature request related to a problem?

![image](https://user-images.githubusercontent.com/1462701/122570715-4e056380-d04c-11eb-9fb9-80a0b693469a.png)

#### Describe the solution you'd like

Just remove code related to it :sweat_smile:

[2021-06-18 13:47] matks commented on #25033
For context: https://github.com/PrestaShop/gamification

[2021-06-18 13:56] PierreRambaud commented on #25001
Hi,
The size limit for Cookies is 4096bytes (4097 for firefox), this is why there is a Bad Request.
Cookies can be created because of:
- ps_install => During the installation process
- username_addons and password_addons, just to save this information (should have been done in the admin cookie instead don't ask me why it's like that
- ps-s when switching Shop context
- ps-sg when switching Shop Gr

[2021-06-18 14:09] #23164 closed, assigned to kpodemski

[2021-06-18 14:38] Maofree opened #25036 "it is not possible to change the title of a pdf"
Hi

#### Describe the bug
It is not possible to change the text of "INVOICE" at the top of a invoice pdf
into pdf/header.tpl
it is presente
`{if isset($header)}{$header|escape:'html':'UTF-8'|upper}{/if}`

I need to replace "Invoice" with "Product list" because the pdf it is used just to show the product list and not like an invoice

I try to replace it with this code, to have the possibility to tr

[2021-06-18 14:53] PierreRambaud commented on #25010
You are right, it's not possible right now, but will be if #25037 is merged :)

[2021-06-18 15:17] florine2623 commented on #25019
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/25019

[2021-06-18 15:17] #25019 closed, assigned to nobody

[2021-06-18 15:28] #20739 closed, assigned to PierreRambaud

[2021-06-18 15:50] florine2623 commented on #25036
Hello @maofree ,

This is more an improvement - add the possibility to translate PDF title "INVOICE".
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.pre

[2021-06-18 15:52] maofree commented on #25036
Hi
I've seen that it is possible to do that from the classic theme into PDF section
https://www.prestashop.com/forums/topic/985429-solved-pdf-invoice-field-translation/

but the changes made on the Shop.Pdf text are not get from translation system

[2021-06-18 15:55] uruk-hai-21 commented on #24764
With this change the filter does not show any results.
I In my opinion it should filter by category ID and not by category name, is it possible?

[2021-06-18 16:03] maofree commented on #25036
to fix this last point, it is necessary to change the text from the english language

I close this ticket
thanks for the support

bye

[2021-06-18 16:03] #25036 closed, assigned to nobody

[2021-06-18 16:14] florine2623 commented on #25032
Hello @Max84 ,

I was able to reproduce the issue with PrestaShop version 1.7.6.x, 1.7.7.x 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug.
Tested with products :
<img width="612" alt="Screenshot 2021-06-18 at 18 13 42" src="https://user-images.githubusercontent.com/16019289/122589823-05a47080-d061-11eb-89cb-6d7b380ef02f.png">

Please be aware that due to the high number o

[2021-06-18 16:25] florine2623 commented on #25027
Hello @wzzly ,

That is already the case :
<img width="1410" alt="Screenshot 2021-06-18 at 18 23 24" src="https://user-images.githubusercontent.com/16019289/122590882-71d3a400-d062-11eb-8c70-3b553d766309.png">

I generated all the combination at one. Maybe you did it differently ?

Please check and feedback.
Thanks!

[2021-06-18 16:55] shogo54 commented on #25010
Fantastic! Thank you for such a quick response!

[2021-06-18 19:46] hibatallahAouadni opened #25040 "[BO - responsive] - Create an Order page"
#### Describe the bug

This page is not responsive

#### Expected behavior

The page should be responsive

#### Steps to Reproduce

Steps to reproduce the behavior:

1. On mobile
2. **BO** > **SELL** > **Orders** > **Orders**
3. Click on **Add new Order**
4. See errors => all columns are squized

**Screenshots**

![image](https://user-images.githubusercontent.com/23308427/122567805-5dcf7880-d049-1

[2021-06-18 20:05] matks commented on #16482
Screenshot of the roadmap 18/06/2021

### Full roadmap

Page                                                     |  UI tests (Path if exist / No otherwise)              | Need further check | Status | PR
---------------------------------------------------------|-------------------------------------------------------|---------------------|-----|------
Advanced Parameters > Performance

[2021-06-18 20:12] matks commented on #16482
@eternoendless is the table I wrote in the OP enough? should I copy it into https://github.com/PrestaShop/docs/pull/1041 ?

[2021-06-18 20:20] wzzly commented on #25027
@florine2623 that's a coincidence I think, because when I did it with my attributes, it didn't have the good order and the order changed after some combinations. Could you try to make some more combinations (not only with size S)

[2021-06-18 20:34] hibatallahAouadni commented on #25018
Hello @florine2623

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-06-18 20:34] #25018 closed, assigned to nobody

[2021-06-19 06:32] Progi1984 commented on #24732
Fixed in #24890 by @NeOMakinG

[2021-06-19 06:32] #24732 closed, assigned to NeOMakinG

[2021-06-19 17:35] Progi1984 commented on #23996
Fixed by @matks in #25004

[2021-06-19 17:35] #23996 closed, assigned to matks

[2021-06-19 17:40] jaguart opened #25041 "Translations - WirePayments module - missing entries"
#### Describe the bug

I need to override a translation in the WirePayments Module.

WirePayments includes the translatable phrase: 'Your order will be sent as soon as we receive payment.'

In Admin -> Translation, when I select ps_wirepayment module no phrases are listed for translation.

If I add a row into the ``translation`` table in the database, and clear the cache, the phrase is correctly t

[2021-06-19 19:17] matks commented on #23996
For your information this was false. 🟠

I was loading the wrong data using `load()` : I was loading the direct content of `https://help.prestashop.com/en/doc/AdminFeatureFlag?version=1.7.8.0` but what other BO pages actually do is that they load the content of the page `/admin-dev/index.php/common/sidebar/{encodedDocLink}` (`{encodedDocLink}` is `https://help.prestashop.com/en/doc/AdminFeatureFlag

[2021-06-19 20:25] futurehousestore opened #25042 "Incorrect html lang"
#### Describe the bug

The HTML lang for the United Kingdom is GB which gives an error in SEO checks. The HTML lang should be en-GB

#### Expected behavior

The HTML lang value is the language code of the page's language.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set English GB (English) as your website language (main or a second language)
2. In the front office open any of th

[2021-06-20 13:01] thbl opened #25043 "1.7.5 - Category tree links bug"
after updating to 1.7.5 {$currentCategory} always returns 2 in
modules/ps_categorytree/views/templates/hook/ps_categorytree.tpl

[2021-06-20 14:11] uruk-hai-21 commented on #14950
Same for me. This is my GD configuration:
![Schermata 2021-06-20 alle 16 09 59](https://user-images.githubusercontent.com/12673007/122677303-15978e00-d1e2-11eb-8db6-9f95808b82d5.png)

[2021-06-20 14:51] haveyougotanypets opened #25044 "ps_metrics Module causes Prestashop Install to fail without write permission above base directory"
**Describe the bug:**

The Prestashop install currently fails on the _Install Addons modules_ section with the following error (see image at end for more details):

`
An error occurred during installation...
You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.
    ps_metrics1: Cannot install module "ps_metrics"
`

Restarti

[2021-06-21 01:29] efranklin94 opened #25045 "Invalid property error occurs when adding a specific price in BO with an Arabic profile language"
#### Description

In Arabic(or any other languages using Arabic numeric format) **back office**, When adding a **specific price** to a product in the pricing tab, the specific price will not be added to that product and a red alert modal popup shows up saying **"Invalid quantity"**.

This is because the "**Starting at**" quantity in specific price, only accepts English format in even Arabic numeri

[2021-06-21 05:02] derick930 commented on #25022
Hello @florine2623,

Thank you for your answer , the version of my prestashop page is 1.7.6.8 but don’t know what is the PHP version but we have many bug in my back officce , i send you in attachment the screenshot for more details. Thank you for your attention.

De : florine2623 ***@***.***
Envoyé : vendredi 18 juin 2021 16:07
À : PrestaShop/PrestaShop ***@***.***>
Cc : derick930 ***@***.***>; Me

[2021-06-21 07:05] hibatallahAouadni commented on #25043
Hello @thbl

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2021-06-21 07:05] #25043 closed, assigned to nobody

[2021-06-21 07:15] Prestaworks commented on #24764
No there are more changes needed to get it to work with multiple matches on the next couple of rows.

[2021-06-21 07:54] matks commented on #25044
Very good bug report, thank you

Good news: on `develop` branch modules like ps_metrics are not pushed anymore https://github.com/PrestaShop/PrestaShop/pull/24676 but for 1.7.7.5 issue is still there I guess

I'll ping the people working on ps_metrics ASAP

[2021-06-21 08:28] prestascott commented on #25024
Hello @Hlavtox,

Thanks for your suggestion. This is a really interesting improvement, merchant's customers will be able to access quickly to their different account pages.

Wdyt @marionf ? 🤔

[2021-06-21 08:40] matks commented on #25024
(I like it)

[2021-06-21 08:45] PululuK opened #25049 "Missing deleteds attributes names in product stats module"
## Describe the bug

Missing deleteds attributes names in product stats module

![Capture d’écran de 2021-06-21 10-27-33](https://user-images.githubusercontent.com/16455155/122731488-a66e7800-d27b-11eb-895a-177e6ab13c98.png)

## Expected behavior

Attribute names should still be displayed in stats even when they have been deleted.

![Capture d’écran de 2021-06-21 10-31-28](https://user-images.gith

[2021-06-21 08:52] #24893 closed, assigned to nobody

[2021-06-21 09:09] hibatallahAouadni commented on #25042
Hello @futurehousestore

Could you please check this issue #22962 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-06-21 09:23] AlionaxAlionax opened #25051 "Translation bugs"
#### Describe the bug

We can not translate text in backoffice, after adding text in our code, using the fonction : l s' '. In this exemple we are adding the Customer/Client ID: in the file invoice.summary-tab.tpl. We will provide you, also, screenshot to help you with this bug.

#### Expected behavior

Being able to translate text in our code in BackOffice.

#### Steps to Reproduce

Steps to repr

[2021-06-21 09:31] hibatallahAouadni commented on #25044
Hello @haveyougotanypets

As @matks mentionned this issue has been fixed on develop.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24638.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-21 09:31] #25044 closed, assigned to nobody

[2021-06-21 09:31] hibatallahAouadni commented on #25044
Duplicate of #24638

[2021-06-21 09:42] futurehousestore commented on #25042
Thanks @hibatallahAouadni but issue #22962 is completely different and has nothing to do with my issue.

[2021-06-21 09:53] hibatallahAouadni commented on #25041
Hello @jaguart

If you want to change the translation of **ps_wirepayment** module, all you need to do is  to select **Bank transfer** as module:

![image](https://user-images.githubusercontent.com/23308427/122743260-21895b80-d287-11eb-920c-c3b736801e70.png)

Please check and feedback.
Thanks!

[2021-06-21 10:03] magsy3458 commented on #20465
Hello,
I have been pointed to this page by a module developer saying that it may relate to an issue our website has.
We are using PS 1.7.6.7 PHP 7.2
Has this been fixed or does it still continue?
If not fixed is there a workaround or code example to try to fix the issue.
Thankyou

[2021-06-21 10:35] Hlavtox commented on #25040
PR in progress

[2021-06-21 10:37] e-gaulue opened #25053 "Order feature by position then id_feature_value in productForm V2"
#### Describe the bug

In Prestashop we can order feature for displaying. But when we set those features on the product form, we don't get this order.

#### Expected behavior

Display and edit feature in the order define for the feature. When a feature is set several times, order in the same order they were created (ie. in the id_feature_value order).

#### Steps to Reproduce

Steps to reproduce t

[2021-06-21 11:44] laradev43 opened #25055 "An exception has been thrown during the rendering of a template (“Content template for column type ”custom_text“ was not found”)"
Hello,

I'm writing a custom plugin for Prestashop 1.7 for adding a new column in OrderList and I can't solve this issue.

In the local environment, it works but not on the production site.

Version Prestashop : 1.7.7.4 Php : 7.3.28

The difference between dev and production is the OS. Windows on dev machine and Debian on production.

I have tested my code with Prestashop 1.7.7.3 and 1.7.7.4.

My

[2021-06-21 12:32] marionf commented on #25024
Hello @Hlavtox

It's really good idea :+1:
We should just define the wording of each menu entry with @Julievrz
And do not forget to add an entry in the drop-dow for the options that are enabled in the back-office (ex: merchandise returns, credit slips, vouchers) and for the installed modules (ex: gdpr, wishlist, ps_emailalerts)

[2021-06-21 12:37] Julievrz commented on #25024
Hi @Hlavtox @marionf

For more consistency, maybe the best option is to keep the labels that appear in the BO? Wdyt?

- Information
- Addresses
- Order history and details
- Credit slips
- My wishlists
- GDPR - Personal data

[2021-06-21 12:39] Hlavtox commented on #25024
@marionf @Julievrz Good to hear :-) I kept the strings that are used in "My account" zone in FO. I think we should keep them the same, the customer does not see the BO... 😉

[2021-06-21 12:44] Julievrz commented on #25024
I meant the FO, sorry ! 😄

[2021-06-21 12:54] #19297 closed, assigned to nobody

[2021-06-21 12:55] marionf commented on #19297
Thank you @kpodemski for the great work on the module :clap:

[2021-06-21 12:56] tswfi commented on #12901
What about adding a new "Name for customers" field that can be translated and used in templates.

Templates could even do something like $carrier->getTranslatedNameOrName() that returns the translated version if it exists or the original "name" field.

This would keep backwards compatibility but allow doing the translations.

(this idea stolen from another system that I have worked on. Every objec

[2021-06-21 12:59] marionf opened #25058 "[EPIC] Multistore - Checkbox & drop-down"
For now, checkboxes and drop-down have been implemented only on the Maintenance page of the back office. It remains to implement them on the pages already migrated in Symfony listed below.

### Checkboxes
- [x] #19360 **WIP :construction: @matthieu-rolland**
  - #24393
- [ ] #19353 **WIP :construction: @Kaudaj**
- [ ] #19364 **WIP :construction: @micka-fdz**
  - #25239
- [x] #19358 **WIP :construc

[2021-06-21 13:25] ks129 opened #25060 "Implement different Symfony cache types"
#### Is your feature request related to a problem?

Currently, PrestaShop comes with Symfony filesystem cache configuration and there is no way to select another caching way. But Symfony cache component supports many other cache types too, like Redis and Memcached.

#### Describe the solution you'd like

Implement switching between cache types and add these options to the Performance page.

#### A

[2021-06-21 13:29] 8ternity opened #25061 "Canada Eco-Tax Need Improvements - Each Provinces have their own Eco-Tax Rates"
In Canada, each province have their own Eco-Tax amount. Like Provinces taxes "CA Standard Rate", eco-tax need to have their own amount for each provinces. Since the version 1.7, no solution has been discuss regarding that problem.

The eco-tax must be displayed has shop by default, but when a order is process, the amount of the eco-tax need to be updated for the one match the province (for Guess u

[2021-06-21 13:34] ks129 commented on #25016
I think this should be solved with PHPDoc decorators of the controller class (if everything has to be in all shops context) or action function (if this single route has to be in all shops context).

[2021-06-21 13:38] matks commented on #25016
I like the 2nd idea. Something that would look like

[code]

[2021-06-21 13:41] beyondsagency commented on #19297
Thanks @kpodemski

[2021-06-21 13:54] ks129 commented on #25016
3rd option would be route YAML parameters.

[2021-06-21 14:13] hibatallahAouadni commented on #25045
Hello @efranklin94

I was able to reproduce the issue with PrestaShop version 1.7.6.7 & 1.7.7.5 and 1.7.8.0. Even when you change the qty **Starting at**, you will have another issue with the date:

![image](https://user-images.githubusercontent.com/23308427/122776554-7f2f9f00-d2ab-11eb-9345-3586f8fc1480.png)

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the

[2021-06-21 14:17] Hlavtox opened #25063 "Prestashop forms are using incorrent syntax and overflow out of containers"
#### Describe the bug

Syntax of forms must be corrected. See provided screenshots.

- On mobile, forms are leaking from their containers due to extra css class.
- Two rows without column between them.
- Extra card-text producing extra level of render. If padding is to be set to forms, it should be done via card-block.
- Form labels have wrong class, and due to that, they are not aligned to center

[2021-06-21 14:51] PierM80 opened #25065 "No slug rewrite when category or CMS rename"
#### Is your feature request related to a problem?

In SEO, it is essential to never change URLs. On Prestashop, the category name or CMS page name is linked with the slug. This is a very big problem in SEO because many merchants can change the name of their categories/CMS, without knowing the impact on the URL. During my audits, in the history of the site, I regularly see URL changes, mostly on c

[2021-06-21 15:29] jf-viguier commented on #25065
I must have guys

[2021-06-21 15:34] jf-viguier commented on #25065
No need for workaround @matks : prestashop should't force change the slug on category name change, just like product page.
Il the marchant wants to change the slug, it still can manually.

[2021-06-21 15:38] matks commented on #25065
That, I agree.

One thing might be useful, when the slug changes, add a warning for merchant "Warning! you are modifying the category slug which means the URL will change and this has SEO impact. Are you sure?"

or would it be overkill ?

[2021-06-21 15:42] jf-viguier commented on #25065
IMO it's overkill for most merchant because it's actually a minor impact but @PierM80 could tell you more on this.

[2021-06-21 15:49] PierM80 commented on #25065
The message will be a first step/an improvement. The ideal would be to reproduce the behavior of the product page. When the category is created, the slug is created, then it does not change afterwards when the category name is changed. If we put a message, it should be under the category field. But this means that the merchant, when he wants to change the name of the category, must save the slug o

[2021-06-21 15:54] PierM80 commented on #25065
Also, many merchants use third party catalog management tools (Store Commander...). The message will not be present on these tools.

[2021-06-21 16:24] jf-viguier commented on #25065
@PierM80 the issue is also in CMS page, could you update your issue to include it ?

[2021-06-21 16:28] hibatallahAouadni commented on #25060
Hello @ks129

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-06-21 16:56] Hlavtox commented on #25024
I have it ready, but there is a small catch.

![Výstřižek](https://user-images.githubusercontent.com/6097524/122799188-b741dc80-d2c1-11eb-9eb2-772f8f6a9c00.JPG)

The bottom list uses
`<li><a href="#" title="My wishlists" rel="nofollow">Wishlist</a></li>`
But dropdown syntax needs
`<li><a href="#" title="My wishlists" rel="nofollow" class="dropdown-item">Wishlist</a</li>`

**Solutions:**
- Omit thi

[2021-06-21 17:12] henri9813 opened #25068 "Phone number should be clickable"
#### Is your feature request related to a problem?

I would like to have my phone app open when i click on the phone number on the top.

#### Describe the solution you'd like

Convert the number to a link.

#### Alternatives you've considered
No alternative.

#### Additional context

Add any other context or screenshots about the feature request here.

[2021-06-21 18:22] hibatallahAouadni commented on #25063
Hello @Hlavtox

I reproduced the issur with PS1767, PS1775 and PS178x but I think it's kind of an improvement.
Let's check with the developer Team :wink:

Ping @PrestaShop/prestashop-core-developers or @NeOMakinG should we treat this issue as an improvement or as a bug?

[2021-06-21 18:24] hibatallahAouadni commented on #25065
Hello @PierM80

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-06-21 18:58] hibatallahAouadni commented on #25055
Hello @laradev43

Could you please provide a test module to reproduce the issue.
Or you can just ask for help in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2021-06-21 20:04] hibatallahAouadni commented on #25032
Hello @Max84

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22760.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-21 20:04] #25032 closed, assigned to nobody

[2021-06-21 20:04] hibatallahAouadni commented on #25032
Duplicate of #22760

[2021-06-21 20:39] hibatallahAouadni commented on #25011
Hello @DevWL

Thanks for reporting this issue!
I didn't manage to reproduce the issue with PS1.7.6.7, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/122824617-3692d880-d2e1-11eb-9ed9-0060d74fd728.png)

I only reproduced with PS1.7.7.5 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/1228248

[2021-06-21 21:33] nancyfsdesign opened #25070 "Error when proceed to checkout"
#### About the problem

I have the version 1.7.7.0 of prestashop and I tried this in the last versions too. When I add one product to the basket and then I try to proceed to checkout it give's to me the next error:

`Uncaught Error: Call to undefined method Cart::checkAllProductsAreStillAvailableInThisState() in /public_html/classes/checkout/CheckoutPaymentStep.php:48`

#### Steps to Reproduce

1.

[2021-06-21 21:37] e-gaulue opened #25071 "BO: product form V2 : Show inactive category in the category tree"
#### Describe the bug

In product Form V2 you can only associate categories to active categories. It was not the case before and it's really needful to be able to associate product to inactive categories.

#### Expected behavior

See inactive categories in the category tree and be able to interact with them.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to product form and asso

[2021-06-21 23:45] jolelievre commented on #25025
Closed by #24025

[2021-06-21 23:45] #25025 closed, assigned to NeOMakinG

[2021-06-21 23:54] jolelievre commented on #24471
Closed by #25039

[2021-06-21 23:54] #24471 closed, assigned to matthieu-rolland

[2021-06-21 23:54] FolleRumba commented on #24877
Same problem with my installatation: PrestaShop version: 1.7.7.2

I tried to update prestashop to 1.7.7.5 but the issue still remains both in prestashop checkout and in stripe. PayPal works.

[2021-06-22 00:07] jolelievre commented on #24463
@atomiix this PR has been merged https://github.com/PrestaShop/PrestaShop/pull/24869 But it seems it's only a part of this issue so I guess we can't close it already
Is the missing part in the welcome module?

[2021-06-22 00:30] lfga98 commented on #24769
Hi everyone!
I would like to work on this issue!
Thank you!

[2021-06-22 06:37] hibatallahAouadni commented on #25013
https://drive.google.com/file/d/1dDTfBFZQmSazGPT2J-kj5rukWcssBAQR/view

[2021-06-22 06:42] atomiix commented on #24463
@jolelievre Yes we can, the module has been fixed as well: https://github.com/PrestaShop/welcome/pull/116

[2021-06-22 06:42] #24463 closed, assigned to atomiix

[2021-06-22 07:05] matks commented on #25024
@Hlavtox in current implementation, items of this list come from `getWidgetVariables()` of module Customers Signin ?

[2021-06-22 07:23] kpodemski commented on #24769
@lfga98 that's great! :) you can create a PR on `develop` branch :)

[2021-06-22 07:27] florine2623 commented on #25068
Hello @e-gaulue ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-22 07:29] Hlavtox commented on #25024
@matks Yes, I copied the functionality from ps_customeraccountlinks.

**See module PR:** https://github.com/PrestaShop/ps_customersignin/pull/38.
**My classic theme implementation currently looks like this:** [ps_customersignin.tpl.txt](https://github.com/PrestaShop/PrestaShop/files/6692209/ps_customersignin.tpl.txt)

[2021-06-22 07:36] florine2623 commented on #25061
Hello @8ternity ,

Could you follow the template for 'Feature Request' please ?
The product team will take a look at your suggestion.

Thanks!

[2021-06-22 07:41] henri9813 commented on #25068
@florine2623 I already make a PR

[2021-06-22 07:44] ballashop opened #25073 "Strange behavior of the combinations not all of them are displayed correctly"
Hello everybody,
I noticed that creating one combination at a time, merging more attributes for each combination, on the front end the combinations are not shown all as expected.
I perform the necessary steps to reproduce the problem:
1) I create a new product

<img width="635" alt="Schermata 2021-06-22 alle 08 45 47" src="https://user-images.githubusercontent.com/28685316/122876951-5f918880-d336-

[2021-06-22 07:51] florine2623 commented on #25070
Hello @nancyfsdesign ,

I can't reproduce your issue. It seems like it is a support request. please check my screen record :
https://drive.google.com/file/d/1CFkbC2hQAEfSQodpplJRp5ClbfnR3Em2/view

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please

[2021-06-22 07:51] #25070 closed, assigned to nobody

[2021-06-22 07:59] nancyfsdesign commented on #25070
Hello @florine2623 ,

thanks for your answer and video. The solution has been to comment certain lines of code that did some verification at cart.

In case it was useful to other users, I leave the solution below:
Classes > Checkout > CheckoutPaymentStep.php

[code]

Not sure why happens this to my install or prestashop project... But this solution it works.

[2021-06-22 08:01] matks commented on #25024
OK I finally found out that `displayMyAccountBlock` (current hook being used) aims to display a 'My Account' block (Classic Theme displays it in footer)

I see that `renderWidget($hookName, array $configuration)` accepts a `$hookName` argument so maybe we could reuse the hook `displayMyAccountBlock` BUT style it differently as you mention, so we have the needed class on items being rendered?

That

[2021-06-22 08:03] florine2623 commented on #25049
Hello @PululuK ,

I was able to reproduce the issue with PrestaShop version 1.7.7.x, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a

[2021-06-22 08:14] NeOMakinG commented on #25063
I think as it's working without any fix, we should consider it as an improvement

[2021-06-22 08:22] florine2623 commented on #25073
Hello @ballashop ,

Your issue is related to : https://github.com/PrestaShop/PrestaShop/issues/22661
Can you confirm it is a duplicate ?

Thanks.

[2021-06-22 08:32] florine2623 commented on #25071
Hello @e-gaulue

I was able to reproduce the issue with PrestaShop version 1.7.8.0, so I can confirm that this behavior is indeed a bug.
Normal Product Page :
![Screenshot 2021-06-22 at 10 30 09](https://user-images.githubusercontent.com/16019289/122891779-1268e300-d345-11eb-86a9-ffe070c12673.png)

Experimental page :
![Screenshot 2021-06-22 at 10 30 33](https://user-images.githubusercontent.com/1

[2021-06-22 08:43] florine2623 commented on #25053
Hello @e-gaulue ,

I think this is more an improvement than a bug. You want the features to change order in the product page when they're modified in Attributes pages, is that right ?

I changed the Paper Type Attributes in alphabetical order :
![Screenshot 2021-06-22 at 10 35 34](https://user-images.githubusercontent.com/16019289/122893025-38db4e00-d346-11eb-9e39-7980358120f5.png)

**I went back

[2021-06-22 08:44] BrunoJunior opened #25074 "Changing method signature breaks override"
#### Describe the bug
Since 1.7.5.5, the method «checkValidity» in «CartRule« has a new parameter.
In PHP, overrides HAS TO respect the parent signature.
If I have a module which override the method PHP, I get a ContextErrorException …
This problem is fully technical...

#### Expected behavior
I thought changing signatures is unauthorized between two minor version (1.7.7.4 -> 1.7.7.5)
It should be

[2021-06-22 08:58] florine2623 commented on #25074
Hello @BrunoJunior ,

Could you send a module example so we can reproduce the issue on our end ?
Thanks!

[2021-06-22 08:59] matks commented on #25074
Hi @BrunoJunior this is very interesting

This is not right. What is forbidden between 2 patch versions (and minor versions theoretically) is to introduce backward incompatible changes. In this topic, the new parameter has been added with a default value
[code]
So in 1.7.7.5 it's possible to run a php statement `$myRule->checkValidity($context, false, true, true);` without errors thanks to the `$u

[2021-06-22 09:03] florine2623 commented on #25051
Hello @AlionaxAlionax ,

This is not a bug. It is more an improvement.
If you manually add a piece of code, if you don't add it in the translation file, it's normal that you can't translate it from your BO.

You can find more info here : https://devdocs.prestashop.com/1.7/modules/creation/module-translation/new-system/

Thanks!

[2021-06-22 09:10] #25010 closed, assigned to PierreRambaud

[2021-06-22 09:31] ballashop commented on #25073
Hi @florine2623
thanks to replied to me.
I think is similarity, but I do not understand if the #22661 issue the attributes have been created, the images do not show well.
for completeness of information, we use a module that allows us to see in the table the variants with the buy button, in the table the visualization is ok:

<img width="1050" alt="Schermata 2021-06-22 alle 09 40 28" src="https://

[2021-06-22 09:36] hibatallahAouadni commented on #25063
Thanks @NeOMakinG

@Hlavtox could you please create a PR to fix the issue :pray:
Waiting for your PR :wink:

[2021-06-22 09:55] harryajc opened #25076 "Image Gallery"
#### Is your feature request related to a problem?

To save space allow pictures used within one item to be reused without having to reupload the same image multiple times.

#### Describe the solution you'd like

A media section within the admin dashboard that allows a admin to see all images uploaded to the platform.

These can then be selected within the product pages rather than reuploading to

[2021-06-22 10:13] florine2623 commented on #25076
Hello @Goldshop ,

Your improvement request is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/12773
Please check and feedback.

Thanks!

[2021-06-22 10:34] kpodemski commented on #25074
Unfortunately, this is one of many downsides when you use overrides, and I'm afraid versioning has nothing to do with it.

If you have modules using overrides I suggest creating a mechanism where you can create a specific override file, for a specific version of PrestaShop, I have something like this:

![image](https://user-images.githubusercontent.com/2137763/122909665-b65a8a80-d355-11eb-8ae2-9d8

[2021-06-22 11:25] Hlavtox commented on #25024
@matks OK I will try to clarify. 😄

In **ps_customeraccountlinks** module (hooked in the footer) there is a hook called **displayMyAccountBlock**. Other modules (Wishlist, Mailalerts, GDPR) can hook into it and display additional links in the list. They output code in following format `<li><a href="#" title="My wishlists" rel="nofollow">Wishlist</a></li>`.

Now, if I wanted to add the same hook to

[2021-06-22 11:32] bcsirt opened #25077 "Type error: Argument 1 passed to PrestaShop\PrestaShop\Adapter\PDF\PDFGenerator::__construct() must be an instance of Smarty"
#### Describe the bug

After manual upgrade from PS 1.6 to 1.7.6.4, when trying to view dashboard page "Orders" => "Invoices" an Error 500 is thrown.

Enabling debug mode provides the following:

[code]

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. Click on 'Invoices'
4. See error

#### Additio

[2021-06-22 11:33] Hlavtox commented on #16840
@jolelievre @hibatallahAouadni I am now re-reading this after some time, now I understand what you meant.

We need to save the real stock at the time of ordering, not the virtual stock. So, without subtracting the amount in cart. This is how it worked for years.

The aim of this PR was clearly to support pack items, not to change behavior of saving quantity data to database - https://github.com/Pr

[2021-06-22 11:40] florine2623 commented on #25077
Hello @bcsirt ,

Could you clear cache and check again ?

Thanks!

[2021-06-22 11:45] bcsirt commented on #25077
No effect.

[2021-06-22 11:45] Hlavtox opened #25078 "Migrated Order page does not contain order reference"
#### Describe the bug

When opening an order in backoffice, there was order reference in page title, and you could see which tab is which order. This disappeared after page migration

#### Expected behavior

Page title should contain order reference on order pages.
The same goes for product edit, I think it can contain product reference or ID.

#### Steps to Reproduce

1. Open any order in backoff

[2021-06-22 11:49] florine2623 commented on #25005
Hello @akscell ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2021-06-22 11:49] #25005 closed, assigned to nobody

[2021-06-22 11:59] florine2623 commented on #25078
Hello @Hlavtox ,

I was able to reproduce the issue with PrestaShop version 1.7.7.x, 1.7.8.x and develop so I can confirm that this behavior is indeed a bug.
![Screenshot 2021-06-22 at 13 54 57 (2)](https://user-images.githubusercontent.com/16019289/122920753-04758b00-d362-11eb-815e-d8f6c1b2c44c.png)

Please be aware that due to the high number of reported issues, some bugs might take a very long

[2021-06-22 12:19] PeNov opened #25079 "Partial refund – is not possible correcting wrong added amounts"
#### Is your feature request related to a problem?

"I'm always frustrated when I must change data directly in the database instead of in PS Admin page."

#### Describe the solution you'd like

Example:
I will return one product 0,79 EUR and part of the shipping **8**EUR but I make mistake and wrote **9** EUR.
There is not possibility for repair this type of mistake (re-edit product and shipping a

[2021-06-22 12:26] florine2623 commented on #25027
Hello @wzzly ,
Please check my screen record :
https://drive.google.com/file/d/1vE0TTANp3f5EkHmuLqE2Fn0FdlnwHckz/view

I couldn't reproduce your issue.
Thanks!

[2021-06-22 12:33] tomablan commented on #23652
@4ngeluxpunk Hi, do you have any updates on it ? I reproduced the problem on a shop but in a particular situation.

Thanks !

[2021-06-22 12:47] matks commented on #25024
Haha 😄  that is tricky because this template is then being rendered inside `renderWidget()` which is, if I am not wrong, hooked as a widget to `displayFooter` in Classic Theme
[code]

So it means we have a hook triggered in a hook

<img width=50% src="https://w7.pngwing.com/pngs/783/577/png-transparent-leonardo-dicaprio-inception-meme-shrek-film-series-cover-version-leonardo-dicaprio-celebrities-f

[2021-06-22 12:51] matks commented on #25024
Option 1 => we lost links to wishlist or GDPR 😭  let's avoid it if we can
Option 2 => if we can find some smart CSS that can do the job, it's great ! using JavaScript we could force to add the class but it sounds a bit tricky => code smell
Option 3 => good solution but when we release next version as it will be a new hook no module will use it, so impact limited (then we'll need to do a GDPR relea

[2021-06-22 12:55] jf-viguier commented on #25065
done here https://github.com/PrestaShop/PrestaShop/pull/25075

[2021-06-22 13:00] akscell commented on #25005
Hi there,

Thank you but I was referred to this page via Maissa from Prestashop support.

Is there no way to contact the developers of the Stripe payment module?

Thank you.

From: florine2623 ***@***.***>
Sent: Tuesday, 22 June 2021 7:50 pm
To: PrestaShop/PrestaShop ***@***.***>
Cc: akscell ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] Prestashop Official Stripe Module -

[2021-06-22 13:14] zuk3975 opened #25081 "Product page category creation fails"
#### Describe the bug

Strict types were declared in old code recently (probably mistaken, that command was introduced in experimental page) and now category creation fails in product page.

#### Expected behavior

Category should be created successfully

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Product page (old)
2. Add category
3. Nothing happens (see error in profiler

[2021-06-22 13:15] florine2623 commented on #24928
Hello @nossanhendel ,

I can't reproduce your issue in PS 1.7.7.X.
Please check my screen record :
https://drive.google.com/file/d/1UJtsrcrpvstzzbFgMPfOp8c5FoyJiQKM/view

Thanks!

[2021-06-22 13:18] matks commented on #25005
There might have been a little mistake in how this bug from PrestaShop company support 😅  .

When you use a payment module for PrestaShop, there are 3 entities involved:
- the company that provides the payment system - Stripe
- the entity that handles the open source project - us the PrestaShop project
- the company that builds the module which connects PrestaShop to Stripe: it can be a freelancer

[2021-06-22 13:19] hibatallahAouadni commented on #23652
Hello @tomablan

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you.

If you manage to get the problem fixed, then please contr

[2021-06-22 13:22] akscell commented on #25005
Thank you so much Mathieu!

From: Mathieu Ferment ***@***.***>
Sent: Tuesday, 22 June 2021 9:18 pm
To: PrestaShop/PrestaShop ***@***.***>
Cc: akscell ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] Prestashop Official Stripe Module - iphone payment error (#25005)

I recently observed that a number of my customers who are using iphones and paying via stripe, are either getti

[2021-06-22 13:22] hibatallahAouadni commented on #25081
Hello @zuk3975

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22144.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-22 13:22] #25081 closed, assigned to zuk3975

[2021-06-22 13:22] hibatallahAouadni commented on #25081
Duplicate of #22144

[2021-06-22 13:35] matks commented on #9752
Hi @MatShir could it be possible to explain a little more

So what you do is
1. You install shop with 2 languages enabled (say, EN and DE). EN (English) is default language.
2. You browse Product page
3. You create a category using the form in product page
4. You change default language to DE. What happens? Where do you see the "Undefined": in FO ? in BO ?

[2021-06-22 13:36] wzzly commented on #25027
@florine2623 I don't know how it is supposed to work, but please check my screen record:

https://user-images.githubusercontent.com/35727938/122934199-9d5ed300-d36f-11eb-9a59-8539f29e637d.mp4

[2021-06-22 13:39] florine2623 commented on #25073
Hello @ballashop ,

Thanks for confirming it is similar.
I suggest following directly the progress of the issue on  #22661

As you can see there's already a fix available through the PR.
So i close your issue.
Thanks!

[2021-06-22 13:39] #25073 closed, assigned to nobody

[2021-06-22 13:39] florine2623 commented on #25073
Duplicate of  #22661

[2021-06-22 13:46] wzzly commented on #25027
@florine2623 I still think it's coincidence because check my screen record:

https://user-images.githubusercontent.com/35727938/122935876-fbd88100-d370-11eb-98d9-1cbf3bdfae1f.mp4

[2021-06-22 14:03] florine2623 commented on #25042
Hello @futurehousestore ,

Is this what you are referring to ?
![Screenshot 2021-06-22 at 16 01 54](https://user-images.githubusercontent.com/16019289/122938649-3c38fe80-d373-11eb-8374-f4cc6df0233b.png)

I used Google Chrome > Right Click > Inspect > Lighthouse > Launch audit.
Thanks!

[2021-06-22 14:14] futurehousestore commented on #25042
Hi @florine2623
I did not use your method but I used SEO website audit tools but it looks it is the same error.
html lang="gb"
which gives an error
to sort it out the html lang should look like that
html lang="en-gb"

[2021-06-22 14:15] AlionaxAlionax commented on #25051
Thanks

Can you give us an exemple ? We checked what you sent to us and it's seems to be what we are doing for a .tpl file :
![image](https://user-images.githubusercontent.com/86102656/122940468-c6ce2d80-d374-11eb-9564-1307db00af78.png)

Thanks Alionax

[2021-06-22 14:46] florine2623 commented on #24877
Hello @fall-en & @FolleRumba

I tested with PrestaShop Checkout v2.15.3
I can't reproduce your issue.

There's a difference between the shop browser and the PS Checkout window :
![image](https://user-images.githubusercontent.com/16019289/122944638-48738a80-d378-11eb-9dd2-7df2ef8d7845.png)

But when you refresh your shop page, it will be updated with the correct cart :
![image (2)](https://user-ima

[2021-06-22 14:55] matks commented on #25081
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25082

[2021-06-22 14:55] matks commented on #22144
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25082

[2021-06-22 14:55] #22144 closed, assigned to nobody

[2021-06-22 15:25] miba65 opened #25086 "PDF invoice download in guest account not possible"
#### Describe the bug

If the customer orders a guest, they will receive a confirmation email. in this email it has a link to a guest account
The PDF invoice is available for download in this guest account.
when click for download it don't donload the PDF invoice. therefor there is a redirect to customer account login.

#### Expected behavior

when in the guest account click the link to download t

[2021-06-22 15:26] FolleRumba commented on #24877
Hi @florine2623, the issue is when you pay by credit card. PayPal works fine.

Try to pay with credit card instead of paypal and then cancel the payment when you are in the windows of 3d secure and after that edit the cart you will have the issue.

[2021-06-22 15:44] matks commented on #24368
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23948

[2021-06-22 15:44] #24368 closed, assigned to NeOMakinG

[2021-06-22 15:53] florine2623 commented on #25086
Hello,
In my guest tracking page, I don't have the same info as you :
![Screenshot 2021-06-22 at 17 53 25](https://user-images.githubusercontent.com/16019289/122958026-c6d52a00-d382-11eb-92d9-fb70fbe70d80.png)

Am I missing something ?
Please check and feedback.
Thanks!

[2021-06-22 16:09] miba65 commented on #25086
I can see the status of the order "awaiting bank wire payment" in your screenshot.
You have to enable "Allow the customer to download and view his PDF invoice" for this status
in the settings under settings / order / status.

[2021-06-22 16:18] matks commented on #24267
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24052

[2021-06-22 16:18] #24267 closed, assigned to matks

[2021-06-22 16:25] florine2623 commented on #24877
Hello @FolleRumba ,

You said "the issue still remains both in prestashop checkout and in stripe." so I tried with PS Checkout and it works well.
What module are you using for paying with credit card ?

Thanks

[2021-06-22 16:27] florine2623 commented on #25027
Hello @wzzly ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We will close this issue.

Thank you

[2021-06-22 16:27] #25027 closed, assigned to nobody

[2021-06-22 16:31] florine2623 commented on #25042
ping @PrestaShop/product-team ,

Can the _html lang_ be changed to get a correct SEO ?

Thanks!

[2021-06-22 16:49] FolleRumba commented on #24877
Hello @florine2623 correct both in stripe and prestashop checkout, but in the latter you have to pay with credit card to get the issue.

Please check the screenshot of @fall-en he explained it very well

[2021-06-22 18:34] amol-beast opened #25090 "Backoffice left side navigation Menu not getting displayed"
![image](https://user-images.githubusercontent.com/3284767/122980404-37496e80-d3b6-11eb-88bd-1ed50ca22c09.png)
Hi,
After upgrading to 1.7.7.5, the back office navigation menu is not showing.
I tried searching for this issue, couldn't found the solution to it.
Any pointers will be greatly appreciated

PHP version is php 7.3

[2021-06-22 19:22] efranklin94 commented on #25045
Hi @hibatallahAouadni

you are right, I will work on the date (from/to) issue in order to resolve it as I was not aware of this date issue at that moment, then I will make a pull request ASAP so that everyone could contribute.

thank you for your time.

[2021-06-22 19:58] Hlavtox commented on #23116
@hibatallahAouadni
Order view page - https://github.com/PrestaShop/PrestaShop/pull/25080
Order create page - https://github.com/PrestaShop/PrestaShop/pull/25091
Customer detail page - TODO

[2021-06-22 20:12] Hlavtox opened #25092 "Provide new voucher buttons to customer page"
#### What can we do
We can provide additional links for merchants to create voucher from customer detail page, and speed up their work a bit.
The plus icon is already used on address section on the page.

We can link to the page normally for the beginning, and possibly improve it in the future by preselecting the customer on voucher screen.

#### If the customer does not have any vouchers
![vouche

[2021-06-22 20:12] Hlavtox opened #25093 "Provide new order buttons to customer page"
#### What can we do
We can provide additional links for merchants to create manual order from customer detail page, and speed up their work a bit.
The plus icon is already used on address section on the page.

We can link to the page normally for the beginning, and possibly improve it in the future by preselecting the customer on order screen.

#### If the customer does not have any orders
![order

[2021-06-22 20:17] fall-en commented on #24877
Hello @florine2623

Please read full bug report in my first post. To be specific:

The bug will occur if your try to pay with credit card using Prestashop Checkout and Official Stripe modules. I have only tested this two modules.

[2021-06-22 20:28] FolleRumba commented on #24877
@fall-en I found a way to correct the bug directly in the Stripe module. But I don't know if this is the the right place to describe it, cause it involves a file of the module and not in the core of prestashop

[2021-06-22 20:40] Catharinaboer opened #25094 "Predefined messages in order not in correct language?"
Dear sirs,
I recently updated my prestashop to the 1.7.7.3 version. In my order page I always use the predefined order messages. Since the update, the correct language is not showing. See a screenshot of a Belgium customer. The predefined message language should be Dutch. I can only see english. See screenshot. I have fully configured all languages so this cannot be any issue. I hope you have a so

[2021-06-22 21:11] amol-beast commented on #25090
Workaround:- I was able to fix the issue by doing a code edit

I had to add code in file  classes/Tab.php
304 if (is_array($result)) {
305                 foreach ($result as &$row) {
306                     if (!isset(self::$_cache_tabs[$idLang][$row['id_parent']])) {
307                         self::$_cache_tabs[$idLang][$row['id_parent']] = [];
308                     }
309 ++

[2021-06-22 21:14] fall-en commented on #24877
@FolleRumba I have opened a bug report with 202 ecommerce (author of the Stripe module) few days ago. Please contact them and let them know.

Also if you can, please check if same workaround works with Prestashop Checkout too.

Anyway I think you can write it here maybe it involve PS indirectly. What do you think @hibatallahAouadni ?

[2021-06-23 07:02] florine2623 commented on #25092
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-23 07:05] florine2623 commented on #25093
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-23 07:07] florine2623 commented on #25094
Hello @Catharinaboer ,

Please check your BO language.
Click on the top right icon > Click on "Your Profile" > Scroll down to change your language to Dutch

Thanks!

[2021-06-23 07:07] #25094 closed, assigned to nobody

[2021-06-23 07:20] florine2623 commented on #25090
Hello @amol-beast ,

Please refer to this comment : https://github.com/PrestaShop/PrestaShop/issues/23166#issuecomment-783184675

Thanks!

[2021-06-23 07:20] #25090 closed, assigned to nobody

[2021-06-23 07:57] wzzly commented on #25027
@florine2623 @hibatallahAouadni

I know what the problem is and it is definitly a bug.

I checked the ID's of all the attributes on the attributes BO page.
The order of the attributes in the combination name are based on the ID's of the attributes.
For example in my case we added multiple attribute values to different attributes along the way. So the attributes values ID's are not in order.

Uitze

[2021-06-23 08:34] kmorgen commented on #22482
We are now experiencing the same lately both on PS 1.7.7.4 and 1.7.7.5. Not sure if there is a newer/open post for this?

The customer messages are no longer in the customer/order language, but in the shop default/admin language. It used to work in earlier versions (introduced around 1.7.7.2-1.7.7.4 i guess). Tested on both a Live and a Dev site.

(when checking the actual e-mails, the subject is

[2021-06-23 09:14] MatShir commented on #23116
It is a great idea ! The layout is need to challenged by the @PrestaShop/ux-team, but it looks promising :)
Customer can link to multiples user groups, so we need to anticipate the display for example for 3 user groups.

[2021-06-23 09:49] FolleRumba commented on #24877
@fall-en it's not an official fix but it appears to resolve this issue on Stripe Official 2.3.1.

File _modules\stripe_official\controllers\front\createIntent.php_

Just add:

[code]

after `$intent = \Stripe\PaymentIntent::retrieve($stripe_idempotency_key->id_payment_intent);` line 139

The final resolt should be:

[code]

[2021-06-23 11:01] BrunoJunior commented on #25074
I understand all technical answers.
Even if I'm the developper of the module, I can't know when my module will break except to test it for each new PrestaShop version. (and I don't have enough time for that, and I have not any automated tests. Because I do not know how to implement such tests when I develop PrestaShop module …)
Another question though, if I define, in my module, a compatibility wi

[2021-06-23 11:28] hibatallahAouadni opened #25097 "[FO -RTL] - the arrows direction are wrong (in the opposite way)"
#### Describe the bug

In FO with RTL, the arrows direction are wrong (in the opposite way)

#### Expected behavior

Should be in the right way like 1.7.7.5

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO
2. See error > the banner's arrows are in the opposite was => regression
3. Scroll down to **All products**
4. See error > the arrow in the opposite way => regression
5. t

[2021-06-23 12:30] leo1altamirano opened #25099 "Product type menu drop down doesn´t work"
#### Describe the bug

The problem persists in the back end when I´m trying to modify or update my products. The drop down doesn´t function anymore, it´s just text display on the page.

#### Expected behavior

Catalog > Products > Product drop down > select between: Pack, Virtual or Physical Product
Each click would take you to the relevant product

Explain what you expected to happen instead.

No

[2021-06-23 12:35] matthieubrunet commented on #18151
Try to check "display products in sub-categories" in the facetedsearch configuration to reproduce the bug. In my case, I had the same problem, and unchecking the option restored the correct sort.

[2021-06-23 12:40] leo1altamirano opened #25100 "UX-FE : Menu bar on dashboard covers text so fields become unreadable or uneditable"
#### Describe the bug
 On the main dashboard and product page, even when the dark grey menu bar is collapsed, the text in main grey space is unreadable on the left hand side and uneditable

#### Expected behavior
 When collapsing the grey menu bar, or having it open, you should be able to see all the text on the main page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Catalo

[2021-06-23 12:41] leo1altamirano commented on #25100
Prestashop version 1.7
1.7.6.4. PHP

[2021-06-23 13:16] florine2623 commented on #25099
Hello @leo1altamirano ,

Please make sure you are using the right version of PHP for your PrestaShop version :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I can't reproduce your issue :
<img width="929" alt="Screenshot 2021-06-23 at 15 15 35" src="https://user-images.githubusercontent.com/16019289/123103107-fbee8480-d435-11eb-9fa0-02d35e24a593.png">
Thanks!

[2021-06-23 13:16] #25099 closed, assigned to nobody

[2021-06-23 13:17] e-gaulue commented on #25053
It's about the same but concerning features.

You can order them on this screen:
![Capture d’écran 2021-06-23 à 15 15 27](https://user-images.githubusercontent.com/4291874/123103000-e1b4a680-d435-11eb-89a5-2acc5ba69e0b.png)

But this order is not respected if you go to the product form in the feature section.
![Capture d’écran 2021-06-23 à 15 13 43](https://user-images.githubusercontent.com/42

[2021-06-23 13:19] florine2623 commented on #25100
Hello @leo1altamirano ,

Please check your PHP version :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
<img width="721" alt="Screenshot 2021-06-23 at 15 17 57" src="https://user-images.githubusercontent.com/16019289/123103352-32c49a80-d436-11eb-8113-86cefe82d3eb.png">
You need to use PHP 7.2.

Thanks!

[2021-06-23 13:19] #25100 closed, assigned to nobody

[2021-06-23 13:27] NeOMakinG commented on #25097
second PR for blockwishlist problem

https://github.com/PrestaShop/blockwishlist/pull/124

[2021-06-23 13:33] fall-en commented on #24877
@FolleRumba thank you. I have just received a reply from Stripe author. They sent me a beta version of the new update that should solve the bug. I will update you as soon i will be able to try it.

[2021-06-23 13:54] BrunoJunior commented on #25074
I would like to add a complementary comment.
The role of my override is to add a hook before the validity checking …
To potentially avoid the activation of the cart rule in certain conditions.
A cool workaround will be to have a PrestaShop hook in the original method …

[2021-06-23 13:57] florine2623 commented on #25077
If you cleared cache from your files, the error should be a different one, can you send it back ?

[2021-06-23 14:05] florine2623 commented on #25051
ping @PrestaShop/prestashop-core-developers

Could you help @AlionaxAlionax on that topic please ?

Thanks!

[2021-06-23 14:11] florine2623 commented on #24942
Hello @01park ,

Thanks for updating the issue.
I do not have the same issue. Please check my .sql file of ps_stock_available table.
[ps_stock_available.sql.zip](https://github.com/PrestaShop/PrestaShop/files/6702457/ps_stock_available.sql.zip)

[2021-06-23 14:13] Hlavtox commented on #15224
@arouiadib Hi :-) Good. I think the voucher should not be displayed, if it has no effect.

[2021-06-23 14:13] florine2623 commented on #25053
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this feature into Prest

[2021-06-23 14:14] Progi1984 commented on #24926
Fixed by @NeOMakinG in #25035

[2021-06-23 14:14] #24926 closed, assigned to NeOMakinG

[2021-06-23 14:35] ghost opened #25103 "Error in comment limit for the description of a product"
#### Describe the bug

The limit comment for the description of a product is bad the charset is utf8mb4 not utf8 and type text

https://dev.mysql.com/doc/refman/8.0/en/storage-requirements.html

#### Expected behavior

Change the limit ? Remove / Change the comment ?

#### Steps to Reproduce

Generate a text with 64k characters increases the limit and try to update the description

See the line

h

[2021-06-23 14:38] florine2623 commented on #24962
Hello @z72diego ,

Please check my screenshots below :

**_My tax rule :_**
<img width="537" alt="Screenshot 2021-06-23 at 16 30 29" src="https://user-images.githubusercontent.com/16019289/123115452-686e8100-d440-11eb-9c8a-2a0430b1daa6.png">
**_Customer details :_**
<img width="862" alt="Screenshot 2021-06-23 at 16 37 47" src="https://user-images.githubusercontent.com/16019289/123116625-59d49980-d

[2021-06-23 14:43] florine2623 commented on #25103
Hello @okom3pom ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-23 14:43] marionf opened #25105 "Add placeholders in product settings page"
#### Is your feature request related to a problem?

To help the users better fill the stock labels and the delivery times fields, we should add a placeholder for each field of the product settings page

#### Describe the solution you'd like

Add the following placeholders:

- Label of in-stock products: "In stock" in Admin.Shopparameters.Help
- Label of out-of-stock products with allowed backorder

[2021-06-23 14:46] okom3pom commented on #25103
Hello @florine2623 when the Dev and the PM answer I will make a PR

[2021-06-23 15:07] florine2623 commented on #25086
Thank you !
It has been fixed for PrestaShop 1.7.8.0, as you can see from this issue : https://github.com/PrestaShop/PrestaShop/issues/9650

So I close your issue !
Thanks!

[2021-06-23 15:07] #25086 closed, assigned to nobody

[2021-06-23 15:40] miba65 commented on #25086
Hello and thanks
I have reinstalled version 1.7.7.5. Version 1.7.8.0 is not available. how can I fix this bug in my instalation which file do I have to change or replace.
and where can I get this file from?
best regards

[2021-06-23 16:24] florine2623 commented on #25086
Duplicate of #9650

[2021-06-23 16:25] florine2623 commented on #25086
@miba65
This is the file that has been changed : https://github.com/PrestaShop/PrestaShop/pull/20616/files

[2021-06-23 16:39] miba65 commented on #25086
@florine2623 Thank you very much for your help, I was able to fix it

[2021-06-23 17:03] arouiadib commented on #15224
@Hlavtox Thanks, me too I think it is more nice to have zero value vouchers not displayed.
I will submit a PR about it.

[2021-06-23 18:53] kpodemski commented on #25024
@matks

In my opinion, if it's an improvement, Option 3 seems like the best idea, other solutions are just dirty workarounds like you said.

[2021-06-23 18:56] Hlavtox commented on #25024
@matks @kpodemski What if we make a completely new hook called something like hookMyAccount.

This single hook would accept array with link, name and icon. We could use this hook in footer, header, my account section, jist everywhere.

[2021-06-23 19:05] kpodemski commented on #25024
@Hlavtox

yeah that makes a lot of sense because we then have all the control over the front-office part

[2021-06-23 19:54] matks commented on #25031
Issue happening a bit less but still regularly making CI fail for bad reason (1.7.8.x and 1.7.7.x like https://github.com/PrestaShop/PrestaShop/pull/25102)

[2021-06-23 21:32] Gauravkain commented on #25105
Hello, I want to contribute.

[2021-06-23 21:46] fall-en opened #25109 "Language switch keyboard shortcut in BO"
#### Is your feature request related to a problem?

Switching between languages in the BO Product Page (or in general in all BO areas where language switch is required) to write description, title, ecc of a single product take away few clicks. I am used to write each part of a product in each language before switching to the next part. Example first compile the title in all languages, after that t

[2021-06-23 23:47] hibatallahAouadni commented on #25103
Ping @PrestaShop/prestashop-core-developers wdyt? Should we remove the comment or change the limit?

[2021-06-24 00:01] hibatallahAouadni commented on #25071
Ping @marionf this bug occurs only with the new product page, so is it a regression or not?

[2021-06-24 00:07] hibatallahAouadni commented on #25068
Hello @henri9813

Thanks for your PR 🎉
Could you please check this issue #18928 it seems similar to yours.
If it's a duplicate then you should reference your PR to the issue #18928 and close this issue as a duplicate 😉

Please check and feedback.
Thanks!

[2021-06-24 00:13] hibatallahAouadni commented on #25049
Ping @florine2623 could you please check if it's a regression or not?

[2021-06-24 03:48] rhariskumar3 commented on #24973
My Customer getting this error rapidly. Minimum 2~3 orders without shipping cost are created. Any suggestions welcome

[2021-06-24 06:07] okom3pom commented on #25103
i say a mistake :)

[2021-06-24 07:22] kpodemski commented on #25074
@BrunoJunior feel free to submit PR with a hook you'd like to see in this method 👍

More details: https://devdocs.prestashop.com/1.7/contribute/

It's something for you to test, but I'm pretty sure it's not working this way, it's for an installation process

It all depends if your modules are paid ones, or free. If paid, our job as module developers is to make sure that our module is working prope

[2021-06-24 07:23] florine2623 commented on #25109
Hello @fall-en ,

Thank you for your suggestion. Please share what king of shortcut you would like to use. If they are any screenshots you can also share them.
The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a

[2021-06-24 07:33] matks commented on #25109
ping @MatShir 😉

[2021-06-24 07:55] marionf commented on #25071
@hibatallahAouadni let's ask to @MatShir

[2021-06-24 08:02] matks commented on #25078
Hi @MatShir would that be a good opportunity to improve this title?

The title was "Order ABCDEF from Mathieu Ferment" before. It contains order reference, and customer firstname and lastname. Maybe there are some informations more valuable to put in the page title? Order ID? Order status ?

[2021-06-24 08:04] Progi1984 commented on #25078
@matks Nope, it's not a good opportunity.

Why ? We fix a regression. So the wording can't be changed in patch versions.

If you want to change the wording, it will be in next version.

[2021-06-24 08:05] marionf commented on #25105
Hello @Gauravkain

That's great to hear :+1:
You can make your pull request on the develop branch: https://github.com/PrestaShop/PrestaShop/tree/develop
Let me know if you have any question :)

Thank you!

[2021-06-24 08:07] marionf commented on #24769
Hello @lfga98

That's great to hear :+1:
You can make your pull request [here](https://github.com/PrestaShop/PrestaShop/tree/develop)
Let me know if you have any question :)

Thank you!

[2021-06-24 08:11] Gauravkain commented on #25105
@marionf okay 👍

[2021-06-24 08:29] atomiix opened #25112 "Services in front container are not available once the container is cached"
#### Describe the bug

If you try to access one of the following service:
- `configuration`
- `context`
- `db`
- `shop`
- `employee`
from the front container when the cache is empty, the first time you try to access it, it will work, but not the second time when the cache is created.

#### Expected behavior

Services should be always available

#### Steps to Reproduce

1. Clear the cache `rm -rf v

[2021-06-24 08:33] Jeremy-FT opened #25113 "Module install fail if there is only 1 position available"
#### Describe the bug

Module install fail if there is only 1 position available

#### Expected behavior

Module install work even if there is only 1 position available

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make a clean install
2. Remove all modules
3. Install a new one
4. Module doesn't install

#### Additional information

* PrestaShop version: 1.7.7.4
* PHP version: 7.3

[2021-06-24 08:43] Julievrz commented on #24929
Hi @marionf, I edited your initial message.

Based on what we have decided after the user tests, the right wording is the following one:

"Other product variations available" in Shop.Theme.Catalog

[2021-06-24 08:47] matks opened #25114 "When using toggle in Customers listing, whole page is refreshed although only row could be refreshed"
#### Describe the bug

When using toggle in Customers listing (3 fields can be toggled: "enabled", "newsletter" and "partner offers"), whole page is refreshed. We could refresh only the row being updated, this makes the user experience better and saves computing resources.

#### Expected behavior

When using toggle in Customers listing (3 fields can be toggled: "enabled", "newsletter" and "partner

[2021-06-24 08:48] matks commented on #25078
Agreed 😉  let's keep it like it was for 1.7.7, but we can discuss in parallel with @MatShir for an improvement for next version

[2021-06-24 08:51] florine2623 commented on #25113
Hello @Jeremy-FT ,

I couldn't reproduce your issue using PS 1.7.7.5.

I installed a new shop in 1.7.7.5
went to _modules_ folder and deleted everything
went to BO and installed a module
Here's my result :
<img width="670" alt="Screenshot 2021-06-24 at 10 48 53" src="https://user-images.githubusercontent.com/16019289/123233013-ff3b4c00-d4d9-11eb-844d-568bcb673462.png">

Am I missing something ?
Th

[2021-06-24 08:54] Progi1984 commented on #25078
Totally agree :heart_eyes:

[2021-06-24 09:02] Progi1984 commented on #24925
Fixed by @NeOMakinG in #25034

[2021-06-24 09:02] #24925 closed, assigned to NeOMakinG

[2021-06-24 09:11] Jeremy-FT commented on #25113
Well, sorry, I thought it will make no difference but I didn't remove all module.
Here is the exact steps. I kept these modules :

contactform
graphnvd3
gridhtml
gsitemap
ps_banner
ps_checkpayment
ps_contactinfo
ps_crossselling
ps_currencyselector
ps_customeraccountlinks
ps_customersignin
ps_customtext
ps_dataprivacy
ps_emailsubscription
ps_imageslider
ps_languageselector
ps_linklist
ps_mainmenu
p

[2021-06-24 09:16] florine2623 commented on #25114
Hello @matks ,

I was able to reproduce the issue with PrestaShop develop, so I can confirm that this behaviour is indeed a bug.

Thank you

[2021-06-24 09:27] Hlavtox commented on #25078
@matks Order ID is not needed at all, as a merchant, you don't work with it... `Order XXXXXX from Firstname Lastname | Shop name` is perfectly fine, IMHO. :-)

[2021-06-24 09:31] florine2623 commented on #25113
Okay thanks for the details.

You used 1-click upgrade to upgrade from which PS version ?
The steps you shared need to be before or after the upgrade ?

[2021-06-24 09:31] Hlavtox commented on #25078
BTW @Progi1984 Can you remove the Orders > from the title? It's making the title kinda unusable :-D

![Výstřižek](https://user-images.githubusercontent.com/6097524/123239479-af5f8380-d4df-11eb-9dbe-4c96b83d6821.JPG)

[2021-06-24 09:33] Jeremy-FT commented on #25113
I didn't do an upgrade. It's a clean 1.7.7.4 install. I wanted to install 1-click upgrade to upgrade to 1.7.7.5 but the install of 1-click upgrade failed.

[2021-06-24 09:39] Progi1984 commented on #25078
@Hlavtox In `1776`, we fix the regression. But in `develop`, we could change it. Ping @MatShir

[2021-06-24 09:53] Hlavtox opened #25116 "Spinner element colors have reversed names"
#### Describe the bug
https://build.prestashop.com/prestashop-ui-kit/?path=/story/spinner--spinner

light spinner is dark
dark spinner is light

#### Expected behavior
light spinner is light
dark spinner is dark

#### Steps to Reproduce
1. Open any modern page in Prestashop backoffice.
2. Insert this code via dev tools - `<div class="spinner spinner-light"></div><div class="spinner spinner-dark"><

[2021-06-24 10:00] Hlavtox opened #25117 "Introduce few useful classes for use in BO"
It would be good to add few classes to use in BO, we could use on some places.

#### Alert without icon
Every alert has a default icon. It would be good to add class `alert-noicon`, so we can easily make loaders like this.
![Výstřižek](https://user-images.githubusercontent.com/6097524/123243213-16cb0280-d4e3-11eb-8f3c-b69063aab1d9.JPG)

#### Half gutters class

Boostrap already has `no-gutters` cl

[2021-06-24 10:10] florine2623 commented on #25117
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-06-24 10:14] Maofree opened #25118 "Europe 2021 OSS from July 1"
Hi

#### Describe the bug

on July 1 a new law will be released throughout the EU, where there is a change on the VAT rules between the various countries, I bring you some articles and a video where it suggests how to fix this problem, but I don't know if it is correct and I think it would better if there was a new module of yours that does it automatically. I was told that it is quite complicated

[2021-06-24 10:14] florine2623 commented on #25116
Hello @Hlavtox ,

I was able to reproduce the issue with PrestaShop version 1.7.7.x, 1.7.8.x and develop, so I can confirm that this behaviour is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest y

[2021-06-24 10:17] florine2623 commented on #25118
ping @matks ,

What do you think about this ?

Thanks!

[2021-06-24 10:22] maofree commented on #25118
in practice, if the site is in France and a private customer buys from Germany, he need to buy with German VAT, while a Greek customer will have to buy with Greek VAT. then the shopkeeper will have to pay VAT to each country each month by bank transfer. they call it simplification :)

[2021-06-24 10:54] LievreAI opened #25119 "Maintanance Option Missing"
cant find maintanace options on the admin panel

[2021-06-24 11:38] okom3pom commented on #25119
It's not here to ask question.

http://doc.prestashop.com/display/PS17/Maintenance

You can ask your questions on the forum https://www.prestashop.com/forums/

[2021-06-24 11:53] #25119 closed, assigned to nobody

[2021-06-24 11:59] matks commented on #25118
Hi everyone this is a question for @ldeprestashop @marionf @MatShir I think

[2021-06-24 12:21] Julievrz commented on #24954
Good afternoon @Hlavtox and thank you for your suggestion.

I personally agree that at first, "combination" can be unclear. However, this wording has been used in the back office for some time now and I wouldn't want users to be confused by this change in wording.

**In order to get users' thoughts on this topic, I created a quick survey that is available here: https://forms-prestashop.typeform.co

[2021-06-24 13:22] marionf commented on #25118
Hello @maofree

An [article](https://www.prestashop.com/en/blog/european-union-vat) was published some time ago.
You can read it, it explains the new rules and how to manage the VAT rates in PrestaShop following these new rules.

The sales to take into account for the threshold concerns the whole company. So, if you have many websites for the same company, you should take into account the sales of

[2021-06-24 13:55] maofree commented on #25118
Hi
by default prestashop should do something because it become a new standard in EU, like GDPR

[2021-06-24 14:10] ldeprestashop commented on #25118
Hello @maofree

Prestashop is an Open Source project.

Prestashop company is the major contributor to this project, but we don't have many humain ressources to do all need (complaints) features : that why we must chose our features.

Security feature (Symfony 4.4, PHP8) are priority because current version (of PHP & Symfony) won't provide support (bug & security) is they don't want  upgrade it.

B

[2021-06-24 14:14] maofree commented on #25118
I'm not saying to do it in the next few days but to put it on the roadmap for the next weeks

[2021-06-24 14:36] prestascott commented on #25116
Hello @Hlavtox,

Maybe it was reversed because of the purpose of the spinner.
For example, naming the light spinner as "dark spinner" because of the dark mode. But there is actually no dark mode.

Otherwise, it's good to me 👍

[2021-06-24 15:33] fall-en commented on #25109
Hello @florine2623
I have made a mockup of two cases:

1. If there are only two languages would be easy to have two buttons and a keyboard shortcut to switch between them. ALT+SHIFT+ARROW UP or ALT+SHIFT+ARROW DOWN to easily switch between both of them.
![language-selector-1](https://user-images.githubusercontent.com/48456655/123290614-b606ee80-d511-11eb-91b7-3ac77c2bdc84.png)
2. If there are more

[2021-06-24 15:52] marionf commented on #25118
The [roadmap](https://github.com/PrestaShop/PrestaShop/issues/24111) for the next weeks and next version is already full :sweat_smile:

[2021-06-25 06:28] rafafximenes commented on #17906
Thank you very much, I had this problem.
The problem is really in the table
"ps_translation" in the "translation" field. Some records with [/ (space)].
That it serves for others who are with the same problem.

[2021-06-25 07:31] matks commented on #25112
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25111 it seems

[2021-06-25 07:31] #25112 closed, assigned to atomiix

[2021-06-25 08:26] khouloudbelguith commented on #24514
Hi @TechhDan,

I tried with PS17774 and PS1775, I have an issue on the FO > Order confirmation page
![image](https://user-images.githubusercontent.com/16067358/123394322-4f301680-d59f-11eb-8fb0-02e33c94ce47.png)

When I change the order status => OK, no error displayed

I attached a screen record
https://drive.google.com/file/d/1v5bW5-Id-hZL9bW9XlyQg8XI-DTfHR8C/view?usp=sharing

Your issue is not

[2021-06-25 08:26] #24514 closed, assigned to nobody

[2021-06-25 08:32] khouloudbelguith commented on #24726
Hi @bastienu,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thank you, Khouloud

[2021-06-25 08:32] #24726 closed, assigned to nobody

[2021-06-25 09:06] hibatallahAouadni commented on #25116
So, @prestascott is it a bug or this is the expected behavior?

[2021-06-25 09:18] khouloudbelguith commented on #25113
Hi @Jeremy-FT,

Thank for these clarifications.
In my case, I followed these steps with PS1774
1. Install the module `ps_searchbarjqauto`
2. Install the [classic_rocket](https://github.com/prestarocket-agence/classic-rocket) theme and use it.
3. Remove the classic theme
4. I have the list of these modules
`autoupgrade
contactform
graphnvd3
gridhtml
gsitemap
index.php
ps_banner
ps_checkpayment
ps_c

[2021-06-25 09:37] khouloudbelguith commented on #24877
Hi @fall-en, @FolleRumba,

Thank you for the solution.
It seems that your issue is not a PrestaShop core bug.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.
If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively

[2021-06-25 09:37] #24877 closed, assigned to nobody

[2021-06-25 09:54] maniolias opened #25124 "Module without description in webservice ressource break ressources listing on /api/"
#### Describe the bug

If installed modules use the hook `hookAddWebserviceResources` without providing "description" the list on the root /api/ path fails with `Undefined index: description` errors.

For instance:
[code]

The error is raised [here](https://github.com/PrestaShop/PrestaShop/blob/57894f9e9acb1f75088ec4ae63aaf6c468eac4b5/classes/webservice/WebserviceOutputBuilder.php#L331)

#### Expe

[2021-06-25 09:54] khouloudbelguith commented on #24695
Hi @Robin-Fischer-PS,

In my case also, I did not manage to reproduce the issue with 178x branch
![image](https://user-images.githubusercontent.com/16067358/123407296-1a768c00-d5ac-11eb-80d1-8a3b4771a81a.png)

Thank you!

[2021-06-25 10:04] bcsirt commented on #25077
Hello, I tried to use autoupgrade to 1.7.6.9 version but I have the same issue with invoices tab.
When I cleared cache, I had the same error.  I installed my store locally, then I deleted all the orders, customers with the pscleaner module and I have the same problem with the invoices tab.

Has anyone encountered this bug before?

Regards,

[2021-06-25 10:10] bcsirt commented on #25077
![2021-06-25_12-08-22](https://user-images.githubusercontent.com/4466339/123409291-4e52b100-d5ae-11eb-96e1-7ba78b43de12.png)

[2021-06-25 10:28] khouloudbelguith commented on #25124
Hi @maniolias,

I did not manage to reproduce the issue with PS1769 and 177x branch (PS1776).
I attached a screen record
https://drive.google.com/file/d/1BmC-AF-FUor2b7UQhyopVCvg61mmK842/view?usp=sharing

Thanks to check and feedback.

[2021-06-25 11:04] khouloudbelguith commented on #25077
Hi @bcsirt,

Thanks for your feedback.
I have an exception with PS1769 only (not reproduced with PS1775) following these steps:
1. Create a product with text **customization** required
2. Create an order with this Product
3. Generate an invoice for this Order
4. Go to BO > Orders > Invoices > Generate invoice by date or by status
5. See exception
![image](https://user-images.githubusercontent.com/

[2021-06-25 11:25] bcsirt commented on #25077
Re, same issue with 1.7.7.5 version :(
![2021-06-25_13-24-12](https://user-images.githubusercontent.com/4466339/123418015-d2119b00-d5b8-11eb-81e1-b9b8bac1c109.png)

[2021-06-25 11:29] khouloudbelguith commented on #25077
@bcsirt, did you make an upgrade to PS1.7.7.5 or it is a fresh install PS1.7.7.5?
This issue occurs only when you delete orders and customers with the pscleaner module or you have this issue following my steps added in my previous comment?

Thank you!

[2021-06-25 11:31] prestascott commented on #25116
@hibatallahAouadni It's an improvement to me ^^

[2021-06-25 11:35] bcsirt commented on #25077
On a blank installation there are no problems on versions 1.7.6.4 , 1.7.6.9 and 1.7.7.5. But I want to fix the error on the store without having to reinstall everything.
During my tests I emptied the contents of the tables to be sure that there was no corrupted data. This said, the problem with the invoice tab is present in the tables orders, customers full

[2021-06-25 11:40] Progi1984 commented on #24635
Fixed by @Progi1984 in #24754

[2021-06-25 11:40] #24635 closed, assigned to Progi1984

[2021-06-25 11:50] bcsirt commented on #25077
Yes, I have the same issue with your process.

[2021-06-25 12:19] khouloudbelguith commented on #20332
Hi @hibatallahAouadni, @marionf,

Yes, I have problems when installing the PS1724
An issue created here: https://forge.prestashop.com/browse/ACCOUNT-770 about this issue.
For a quick solution, I commented those lines: https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/install-dev/controllers/http/process.php#L245-L252
1. I installed PS1724
2. I installed the 1-click upgrade v4.12.0.
3. I made a

[2021-06-25 12:27] atomiix commented on #20332
@khouloudbelguith I don't see any error in your log file 🤔
Also, from what I understand, this issue happens only when some `index.php` files are in the `src/` directory (and subdirectories).

[2021-06-25 12:32] matks commented on #20332
Looks like different errors
[code]

[2021-06-25 12:32] khouloudbelguith commented on #20332
Hi @atomiix,

In the autoupgrade configuration, I have this
![image](https://user-images.githubusercontent.com/16067358/123425135-0a69a700-d5c2-11eb-991b-68a7250345fe.png)

[code]

[2021-06-25 12:34] khouloudbelguith commented on #20332
Hi @matks,

Yes, It is a different issue than posted in my first comment.

Thank you!

[2021-06-25 12:46] khouloudbelguith commented on #17822
Hi @lukvai,

I manage to reproduce with PS1775.
**English** => ok
![image](https://user-images.githubusercontent.com/16067358/123426523-cf687300-d5c3-11eb-928d-65bb6567dac5.png)

**Frensh** => NOK
![image](https://user-images.githubusercontent.com/16067358/123426737-10608780-d5c4-11eb-98fc-c6e766d8c7ea.png)

The PR in progress is closed.
I'll add this to the debug backlog so that it's fixed.
Pleas

[2021-06-25 12:53] NeOMakinG commented on #25116
I think it's an improvement too, even it if it sounds like a bug :p

[2021-06-25 12:53] khouloudbelguith commented on #24695
Hi @Robin-Fischer-PS,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thank you!

[2021-06-25 12:53] #24695 closed, assigned to nobody

[2021-06-25 13:05] fall-en commented on #24877
@khouloudbelguith thank you, yes it seems not a core bug.
Today I have received a mail from Prestashop Checkout team and they confirmed they are aware of this bug and will solve it.

Thank you!

[2021-06-25 13:37] khouloudbelguith commented on #25077
Hi @bcsirt,

I made an upgrade from PS16124 to PS1775 using the 1-click upgrade v4.12.0.
https://drive.google.com/file/d/1RMXhKPOp7VbIHLLSP3Zy0rT5CRwCPvK3/view?usp=sharing

I made an upgrade from PS16124 to PS1769 using the 1-click upgrade v4.12.0.
https://drive.google.com/file/d/1WfUT7ltId8VbBcak2t4clZhBqWT9amUD/view?usp=sharing

After an upgrade, I tried to generate an invoice => But no invoice

[2021-06-25 13:44] khouloudbelguith commented on #24975
Hi @prestaalba,

Could you please enable profiling by editing the file `/PrestaShop/config/defines.inc.php`
[code]
To check

- Load Time
- Querying Time
- Queries

Thank you!

[2021-06-25 15:12] matthieu-rolland opened #25129 "Bootstrap color picker helper should be available from prestashop js component"
#### Is your feature request related to a problem?

Bootstrap color picker helper should be available from prestashop component.

#### Describe the solution you'd like

Make bootstrap colorpicker helper available from `window.prestashop.component`

#### How to test (to be tested by a developer)

- add a `ColorPickerType::class` field to a symfony form
- on the page of the form, in js, call the Col

[2021-06-25 15:22] prestaalba commented on #24975
Hi @khouloudbelguith :

This investigation was made with profiling enabled, however no clue could be found there, maybe because this issue is related to an update query with subqueries. Anyway, this is a known bug already reported previously. I recommend you to check the pull request to see the possible solution.

Regards.

[2021-06-25 15:43] matthieu-rolland commented on #25129
While making it work with a module, I realized this is way overkill, this color-picker component is just a helper for the bootstrap color-picker

[2021-06-26 10:17] diksha-cedcoss opened #25132 "Product Page Not Responsive -- Front Office"
#### Describe the bug

Once you'll check the responsiveness of the product page is does not work as expected. There is so much extra space, the product should be displayed 2 columns in a row but it is showing only one with lots of spaces, the category is not recognizable

#### Expected behavior

As in previous versions, it displays the category name along with its description & then products in 2

[2021-06-26 10:28] diksha-cedcoss opened #25133 "Header's Search Field -- Front Office"
#### Describe the bug

The search button at the header is not responsive on mobile view it's displaying in half area it should be spread completely at the header to cover the space

#### Expected behavior

The field should display in col-sm-12 to spread it completely at the top of the page (header)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the 'PS 1.7.8 shop/website'
2.

[2021-06-26 10:39] diksha-cedcoss opened #25134 "No Return Statement found in function -- Back Office"
#### Describe the bug

In the function description, it shows that 'true' should be returned if the CSS is successfully added but nothing is returned.

#### Expected behavior

The function should return something if it is given in description

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Prestashop Backoffice Files'
2. Open up 'classes > controller > controller.php'
3. Scrol

[2021-06-26 10:50] diksha-cedcoss opened #25135 "Product price & quantities search field -- Back Office"
#### Describe the bug

The length of the product's price & quantity's Min & Max button size is too clumsy that placeholder is not even visible

#### Expected behavior

Extend the lengths & make Min & max of price & quantity visible

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Prestashop Backoffice'
2. Click on 'Catalog > Product' Scetion
3. Look at 'Min & Max search fields

[2021-06-26 13:00] haveyougotanypets opened #25136 "Color attributes can be created without a swatch or a texture applied - causes Product:getAttributesColorList() to fail"
#### Describe the bug

Prestashop allows you to create product attributes of attribute type: _Color or texture_ without setting a colour hex code on them.

If this is done the function `getAttributesColorList(array $products, $have_stock = true)` located in `/classes/Product.php` will not return this attribute when set on a product combination.

This effects function `getMainVariants()` located in

[2021-06-26 14:15] Rizzen59 opened #25137 "Product on category page display out of stock instead of availlable on order"
Hello, i have a stenage behavior on category page.

Thanks for your help. And i have local dev environment, if test is needed

#### Describe the bug

On catagory page i have product display as out of stock even if availlable for order.
But if I go to the product page, status is ok and product can be added on cart.
More, when I add the product to cart, the status on category page change for the goo

[2021-06-27 00:12] LyoNick opened #25138 "FO - classic theme - stores.tpl - business hours name of the days are truncated in other languages"
#### Describe the bug

FO - classic theme - `our company => stores page` -  business hours name of the days are truncated in other languages
i.e: in HEBREW the name of the days contain two words (has a space)
the 1st part is the translation for the word day, 2nd part is the particular day name like so:

Sunday = `יום ראשון`
Monday = `יום שני`
...
Friday = `יום שלישי`

But in the `our company => st

[2021-06-27 20:50] federicoprimomo commented on #24685
The problem is real, I changed php to show real error, this is the message :
_**Creating Doctrine\ORM\Mapping\UnderscoreNamingStrategy without making it number aware is deprecated and will be removed in Doctrine ORM 3.0.**_

[2021-06-28 07:29] #25071 closed, assigned to nobody

[2021-06-28 07:34] Jeremy-FT commented on #25113
Well, I don't see anything to add to help you reproduce the bug.
The point is still that this condition should not return false. The module install should not fail if there is only 1 position available
[code]

[2021-06-28 07:52] NeOMakinG commented on #25138
Hey @LyoNick, thanks for the issue reporting.

I wonder why we truncated it, I think it's only because of design, wdyt of having full day name on this part @PrestaShop/ux-team?

[2021-06-28 07:59] #22760 closed, assigned to Kyaary

[2021-06-28 08:12] prestascott commented on #25138
Hello everyone,

Thank you for your suggestion @LyoNick!
If the word is truncated and can't be understood, then we need to write the full day name. It's good to me 👍

Wdyt @Julievrz @marionf? 🤔

[2021-06-28 08:32] Julievrz commented on #25138
If it's possible in terms of design, I agree that we should spell out the days of the week. 👍

[2021-06-28 08:39] pafoscan commented on #22141
It is still not working. I can`t upgrade to 1.7.7 and above. Using 1 click update can only upgrade from 1.7.6.3 to 1.7.6.9. When cen we expect to fix this issue?

[2021-06-28 08:55] jolelievre opened #25140 "Order prices block not correctly displayed in the BO"
#### Describe the bug

When you go to the Order view in the BO, the summary block that displays the order prices (products, shipping, total) is not correctly displayed.

In develop the block is aligned to the left and is out of its container:
![Capture d’écran 2021-06-28 à 10 44 18](https://user-images.githubusercontent.com/13801017/123608000-abdd3c80-d7fe-11eb-9bb2-ff22143ceb0e.png)

In 1.7.8.x

[2021-06-28 09:30] hibatallahAouadni commented on #25132
Hello @diksha-cedcoss

Are you talking about this part:

![image](https://user-images.githubusercontent.com/23308427/123612662-09738800-d803-11eb-83c8-e13417180716.png)

Cause it has been changed since PS1775:

![image](https://user-images.githubusercontent.com/23308427/123613089-6ec77900-d803-11eb-8125-702a0ce67e32.png)

Is that so? Please check and feedback.
Thanks!

[2021-06-28 09:30] cocolate13 commented on #22141
Hi,
Delete theses files before upgrade :

rm -rf src/PrestaShopBundle/Controller/Admin/Sell/Address/index.php

rm -rf src/PrestaShopBundle/Controller/Admin/Sell/CustomerService/index.php

rm -rf src/PrestaShopBundle/Controller/Admin/Sell/index.php

rm -rf src/PrestaShopBundle/Controller/index.php

Do upgrade. Enjoy.

Le lun. 28 juin 2021 à 10:39, pafoscan ***@***.***> a écrit :

[2021-06-28 10:08] didi-2018 commented on #24169
Hello @florine2623,

I beged you 2 month ago to check again, cause your Screenshot is not from one 1.7.7x version. Please check again. Thank you!

[2021-06-28 10:11] hibatallahAouadni commented on #25133
Hello @diksha-cedcoss

Thanks for testing the 1.7.8.0 beta :tada:

What do you mean by this?

You mean that every product should be with col-sm-12 or col-xs-12?
Please check and feedback.

Thanks!

[2021-06-28 10:38] ghost opened #25142 "ps_mainmenu Cannot access protected property HelperForm::$fields_form"
#### Describe the bug

Cannot access protected property HelperForm::$fields_form

#### Expected behavior

Remove lines

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Uninstall and Remove the module
2. Clone the repo use dev branch
3. Launch composer installl
4. Install in you BO
5. Click to configure

**Screenshots**

If applicable, add screenshots or screen recordings to help expl

[2021-06-28 11:40] hibatallahAouadni commented on #25142
Hello @okom3pom

You didn't reproduce the issue with the latest version of ps_mainmenu, is that so?
You only reproduce it with dev branch?

Thanks!

[2021-06-28 11:45] okom3pom commented on #25142
Yes it's only for the dev branch of the module

[2021-06-28 11:50] okom3pom commented on #25142
http://okom3pom.com/Pr!vaTe/helper_errors.webm

[2021-06-28 12:25] jolelievre commented on #25140
I installed a fresh version from `develop` branch The block is now correctly centered (I guess my former assets were not up to date) However I have the same bug as in 178 (the buttons are not correctly aligned)

[2021-06-28 12:32] hibatallahAouadni commented on #25140
Hello @jolelievre

Exactly, :sweat_smile: because I update my develop and I didn't see any error, I was confused.
Well, I close the issue :wink:

Thanks!

[2021-06-28 12:42] matks commented on #25133
@hibatallahAouadni I think @diksha-cedcoss would like the field to fill horizontally the screen. To almost touch the left and right borders of the screen.

You can use Google Chrome inspector to simulate how it renders on a Mobile phone. You can choose what phone to simulate.

[2021-06-28 12:42] lmeyer1 commented on #9710
@matks

As far as I can judge, this module is 'kinda' multistore, but this feature is not working. So I think it is a BUG, not a feature request.

This is what works like multistore:

1. When upgrading Prestshop from simple store to multistore, all existing slides are affected to all stores, and editing them modifies them in all stores.
2. When creating a slide while multistore is activated, each

[2021-06-28 13:02] hibatallahAouadni commented on #25135
Hello @diksha-cedcoss

I think what you're asking for is an improvement more than a bug :wink:
If you could propose a solution (screenshot) it will perfect.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly sug

[2021-06-28 13:18] william-dandrea opened #25144 "Installation => '1: Error sent by Addons. You may need to be logged.'"
I have this message error when I want to install prestashop on my localhost (with MAMP and I have the same probleme with docker) : '1: Error sent by Addons. You may need to be logged.'

I'm on MacOS last version. I found any response on internet and several peoples have the same problem.

(I try to install with the french version)
<img width="1004" alt="Capture d’écran 2021-06-28 à 15 18 16" src

[2021-06-28 13:20] Seb33300 opened #25145 "Tax calculation issue when using discount"
#### Describe the bug

The total tax amount can be incorrect on order with dicount.

![image](https://user-images.githubusercontent.com/915273/123640798-b96ce380-d84b-11eb-9951-f318b7aacc91.png)

#### Expected behavior

On the previous screenshot, total without taxes is `204,98 €` and tax total is `40,99 €`
Tax rate is `20%`

The tax total should be `204,98 * 0.2 = 40,996 = 41,00 €`

Or exact calc

[2021-06-28 13:58] pafoscan commented on #22141
But form current version or from new version (zip file)?
Thanks

[2021-06-28 14:03] cocolate13 commented on #22141
From current prod version, delete theses file. After, apply upgrade with
1-click upgrade module.
You can see that these files are empty...

Le lun. 28 juin 2021 à 15:58, pafoscan ***@***.***> a écrit :

[2021-06-28 14:09] hibatallahAouadni commented on #25134
Hello @diksha-cedcoss

That's true, there's no return sentence in the end of this method:

![image](https://user-images.githubusercontent.com/23308427/123650591-02607000-d82b-11eb-93dd-5a2722abff6b.png)

Ping @PrestaShop/prestashop-core-developers could someone please confirm if this is a bug or not?
Thanks in advance :pray:

[2021-06-28 14:17] Progi1984 commented on #25097
Fixed by @NeOMakinG in #25101

[2021-06-28 14:17] #25097 closed, assigned to NeOMakinG

[2021-06-28 14:38] hibatallahAouadni commented on #25145
Hello @Seb33300

Could you please check this issue #11492 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-06-28 14:44] hibatallahAouadni commented on #25144
Hello @william-dandrea

It seems your internet speed is very low. The issue is not related to PS Core.
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternative

[2021-06-28 14:44] #25144 closed, assigned to nobody

[2021-06-28 15:17] PululuK commented on #25049
Fixed by https://github.com/PrestaShop/statsproduct/pull/23

[2021-06-28 15:17] #25049 closed, assigned to nobody

[2021-06-28 15:57] hibatallahAouadni commented on #25142
Hello @okom3pom

That's weird :confused: I didn't manage to reproduce the issue on **178x** with **dev** branch on **ps_mainmenu**.
Everytime, I clone **ps_mainmenu** project under **modules**, then **checkout** to **dev** branch and launch `composer install`.
Without any error. Did you forget to mention a step?

Please check and feedback.
Thanks!

[2021-06-28 16:00] okom3pom commented on #25142
After composer install go to back office and try to install.

Don't forgot to uninstall and remove  the module before clone

[2021-06-28 16:01] hibatallahAouadni commented on #25136
Helo @haveyougotanypets

Could you please provide a screenshot or a screen record :pray:
Cause the seps to reproduce aren't very clear :sweat_smile:

Thanks!

[2021-06-28 16:13] khouloudbelguith commented on #24975
Hi @prestaalba,

I have a shop PS1775 with:
- 1368 products
- 81 orders
- 25 shops

The Stocks page => ok
I attached a screen record
https://drive.google.com/file/d/1zwlpKaj7v5MJE3IFsdUfzwL0g6lf96-Q/view?usp=sharing

Thanks to check and feedback

[2021-06-28 16:22] hibatallahAouadni commented on #25137
Hello @Rizzen59

I didn't manage to reproduce the issue with PS1.7.7.4, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/123670725-ce427a80-d83d-11eb-8d9a-349b7c2786fa.png)

![image](https://user-images.githubusercontent.com/23308427/123670747-d4d0f200-d83d-11eb-8d19-2f261217e0eb.png)

Did you try to clear the cache?
Please check and feedback.

Thank

[2021-06-28 16:24] jaguart commented on #25041
Yes - that worked, thank you, I can see the term I inserted in the database is there.

The Translation system makes it so difficult to find the module - I had spent several hours looking through all the options for all the modules. I never guessed that **ps_wirepayment** is called **Bank Transfer** in the Translation system, and then **ModulesWirepaymentShop** in the translation table.

It would b

[2021-06-28 16:24] #25041 closed, assigned to nobody

[2021-06-28 16:24] hibatallahAouadni commented on #25142
Don't forgot to uninstall and remove the module before clone otherwise it will be cloned in ps_mainmenu_1

Yes, I know I already did that :confused:

[2021-06-28 16:25] hibatallahAouadni commented on #25041
Glad to hear :tada:

[2021-06-28 17:07] prestaalba commented on #24975
Hi @khouloudbelguith,

As you can see on https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/StockManager.php#L134 the update query of this function is directly related to orders and order_detail tables. So, as you have more order records, the longer it will take to execute the query. 81 orders is a tiny amount of records to be able to see the problem. However 20k orders is a common

[2021-06-28 17:18] haveyougotanypets commented on #25136
HI @hibatallahAouadni

1. Login to Prestashop's back office.
2. In the menu: Catalouge > Attributes & Features > Add new attribute
3. Create the attribute making sure to select **Attribute Type**: **Color or texture**.
4. Create an attribute value that belongs to this attribute
5. For this attribute value do not set the **color** field, (the one with the colour picker) leave it blank.
6. The UI wi

[2021-06-28 20:42] robertosanval commented on #12915
Any news about this issue? Is it the fix in the roadmap?

[2021-06-29 01:53] Tomtomytom opened #25148 "BUG upgrade prestashop"
#### Describe the bug
When I want to upgrade prestashop to 1.7.7.2 to 1.7.7.5 I have an error...
They said **[INTERNAL] /****/****/www/modules/autoupgrade/classes/ZipAction.php line 111 - ZipArchive::close(): Write error: File too large**
I changed the folder's permission on 775 and file's permission on 664 but nothing...
How to fix it and do my upgrade...
Thanks a lot for helping me
#### Expected

[2021-06-29 02:37] Seb33300 commented on #25145
Hello @hibatallahAouadni

it looks to be a different issue.
The other issue is related to the display of discount amount.

My issue is related to the calculation of the tax when order has a discount.

Thank you