[2019-03-20 14:54] Alexandre17220 commented on #11115
is There news about the correction of this problem ?

[2019-03-20 15:15] Pentarou2 commented on #9586
Will this bug get solved? Many of the free shipping and free gift modules that are available on the market will not fix this, so we cannot upgrade to Prestashop 1.7.x.

Thanks!

[2019-03-20 15:28] jointsystems commented on #12944
I didn’t have any problem importing the two items both said they were completed successfully however when you searched in products for the first one after importing the second one the second one comes up rather than the first which disappeared.  Your video does not show the two products existing together.

Why don’t you try it with the original files attached.

From: khouloudbelguith <notification

[2019-03-20 15:59] marionf commented on #9788
Fixed by #12647

[2019-03-20 15:59] #9788 closed, assigned to nobody

[2019-03-20 16:25] matks commented on #10567
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12647

[2019-03-20 16:51] matks commented on #9586
Hi @Pentarou2,

This issue will be solved, however there's an immense amount of work to be done (1000 issues right now), and tasks take time. Oher issues have been considered, for whatever reason, more important, so they were (or are being) tackled first.

We understand that not having an issue fixed soon (or in a fixed timeframe) can be bothering, but it does not mean that it won't be fixed, or t

[2019-03-20 16:53] Darmona opened #12986 "Create new Hook Display on Checkout Process"
A lot of module and custom developments want to customize the checkout process to boost the conversion rate or add some marketing best practices, but some more Hooks are needed in the checkout process.

It would be great to add 5 new display hooks in PrestaShop 1.7, to add some good features as :
- On **the product page**, a display hook just below Add to Cart button
- On **the Checkout Cart Summa

[2019-03-20 16:53] morghy1992 commented on #12687
@khouloudbelguith how can I fix the problem on the search console? Any update about it?

Thank you ;)

[2019-03-20 17:10] marionf commented on #12589
@titamrtn As we have no news from you since more than 30 days, I close your issue.
Feel free to open a new one if it's necessary
Regards

[2019-03-20 17:10] #12589 closed, assigned to nobody

[2019-03-20 17:25] matks commented on #12983
Hi, I had a similar issue `Call to a member function trans() on null` when I could not download some translation data. I did https://github.com/PrestaShop/PrestaShop/pull/12959 in order to have a better error message. Would this help you ?

[2019-03-20 18:24] banan44 commented on #12896
Ok, I have watched your video and I noticed some things. First, I have checked the order statuses. I have notice that the order payment modules that counts orders correctly have theit own 'Payment accepted' status with marked option 'Allow a customer to download and view PDF versions of his/her invoices.' My original 'payment accepted' status that PayPal uses did not have this option marked. So I

[2019-03-20 18:25] dominictayloruk commented on #12905
I'm also suffering the same problem.

[2019-03-20 21:36] lpoczatek commented on #9924
Hi,
I edited my previous post with current version of code. Just one file only changed/added :).
I don't have time to make pull request (I don't have configured repo, etc.), please feel free to use my suggestion if you want :). I marked my changes by comments like this:
`// fix for: https://github.com/PrestaShop/PrestaShop/issues/9924`
So in pull request will be probably changed only 6-7 lines I t

[2019-03-21 00:29] imartin1983 opened #12988 "Dashboard forecast report"

[2019-03-21 00:36] imartin1983 commented on #12988
Hello,

I noticed a bug (?) in the DB of PS (1.7.5.1 / 1.7.4.2).
1) The forecast dashboard is not loading and not displaying any data. If you type data manually, it won't save them.

2) There are some weird values in the DB in ps_configuration_kpi. Defined as Traffic = 600, Conversions = 2 and Cart Value = 80. I don't know where, but there was a post from a member mentioning these exact values tha

[2019-03-21 00:38] Wykett opened #12989 "Connection to addon account - error 405"
On my Prestashop back office, if I try to connect on the addon marketplace, there is a loading icon which keep loading for life, but by opening chrome console, I see there is an error 405.
I am using http at the moment, no https yet.

Steps to reproduce the behavior:
1. Connect the your prestashop back-office
2. Click on the user icon on the top right corner then click "Your profile"
3. Location "

[2019-03-21 07:33] Wykett commented on #12989
Working from the Module manager page.

[2019-03-21 07:33] #12989 closed, assigned to nobody

[2019-03-21 07:49] khouloudbelguith commented on #11778
Hi @2TEND,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-21 07:49] #11778 closed, assigned to nobody

[2019-03-21 07:50] khouloudbelguith commented on #12512
Hi @Amulliez,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-21 07:50] #12512 closed, assigned to nobody

[2019-03-21 07:51] khouloudbelguith commented on #12611
Hi @elmanu13,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-21 07:52] khouloudbelguith commented on #12621
Hi @Avalon1617,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-21 07:52] #12621 closed, assigned to nobody

[2019-03-21 07:52] khouloudbelguith commented on #12623
Hi @sebastienhouzet,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-21 07:52] #12623 closed, assigned to nobody

[2019-03-21 07:56] khouloudbelguith commented on #12983
Hi @Tomskor,

Did you check your issue after applying the patch created by @matks?
Thanks!

[2019-03-21 08:09] khouloudbelguith commented on #12988
Hi @imartin1983,

We are aware of this issue, it is added to our bug roadmap.
Your ticket is a duplicate of #9662
So, I close it.
Thanks!

[2019-03-21 08:09] #12988 closed, assigned to nobody

[2019-03-21 08:09] khouloudbelguith commented on #12988
Duplicate of #9662

[2019-03-21 08:12] Tomskor commented on #12983
Yes but look exactly this same. Have same issue with invoices.

![screencapture-tomskor-pl-admin850kwyszj-index-php-sell-orders-invoices-2019-03-21-08_32_40](https://user-images.githubusercontent.com/42567245/54739722-6b230180-4bb9-11e9-9f4c-694f2b0c17c2.jpg)
![screencapture-tomskor-pl-admin850kwyszj-index-php-sell-orders-invoices-2019-03-21-08_32_46](https://user-images.githubusercontent.com/4256

[2019-03-21 08:13] khouloudbelguith commented on #12978
Hi @andreepi,

PrestaShop has a debug mode, which can be used to see the non-obvious errors in your shop. For instance.
To turn on the Debug mode on PrestaShop, follow these steps using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('PS_MODE_DEV', false);`

… and change it to:

`define('PS_MODE_DEV', true)

[2019-03-21 08:25] khouloudbelguith commented on #12983
Hi @Tomskor,

No, this is a different issue.
Thanks to follow this comment: https://github.com/PrestaShop/PrestaShop/issues/12314#issuecomment-462410864 to fix your issue.
We are aware of this issue, it occurs following the upgrade of the shop in some cases.
About your first issue, it is fixed?
Thanks!

[2019-03-21 08:37] andreepi commented on #12978
Bonjour,

J'ai vidé le cache, je le fais régulièrement mais cela n'a rien changé

Quant à la procédure du mode débogage, c'est trop compliqué pour moi et
j'aurais peur de faire des erreurs.

Cordialement

*Se Soigner NatureA. Pierdon*

Le jeu. 21 mars 2019 à 09:14, khouloudbelguith <notifications@github.com> a
écrit :

[2019-03-21 08:45] kermorgant commented on #11596
Hi @matks
There was [this discussion](https://github.com/PrestaShop/PrestaShop/pull/12564#discussion_r258112264) in the PR review, about yml/xml/annotations.

I've not followed things closely in the recent days, but I understood that entities in module could now be created by following conventions (zero configuration), and that is important to limit confusion.

I could still see myself proposing a

[2019-03-21 08:45] Tomskor commented on #12983
Ok, I fix that bug with invoices.

But saddly my issue with courier list its still there, debug message look this same with code changes. So propably its not it.

[2019-03-21 08:50] khouloudbelguith commented on #12978
@andreepi, just you need to edit the config/defines.inc.php file. Find the following line in the file:

define('PS_MODE_DEV', false);

… and change it to:

define('PS_MODE_DEV', true);

In the FO => checkout page, you need to check if there are some exceptions displayed.

Thanks!

[2019-03-21 09:03] khouloudbelguith commented on #12983
@Tomskor, have you tried to contact the module author about this issue?
Did you buy this module from our addons Market place?
Thanks!

[2019-03-21 09:13] khouloudbelguith commented on #12905
Hi @dominictayloruk,

Here's the https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf file you need to follow, you can customize this part by everything you want.
For my case, it is OK as described in this comment https://github.com/PrestaShop/PrestaShop/issues/12905#issuecomment-472744524
Thanks!

[2019-03-21 09:18] khouloudbelguith commented on #12687
Hi @morghy1992,

Sorry not yet, it is added to our bug roadmap.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-03-21 09:21] khouloudbelguith commented on #12944
Hi @jointsystems,

Sorry, but I did not have any attached files in this issue.
You need to login to GitHub & upload your files.
Thanks!

[2019-03-21 09:24] khouloudbelguith commented on #11115
Hi @Alexandre17220,

Sorry not yet.
It is added to our bug roadmap, so it will be fixed, but PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-03-21 09:27] khouloudbelguith commented on #10723
Hi @elmanu13,

Sorry not yet.
It is added to our bug roadmap, so it will be fixed.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-03-21 09:31] elmanu13 commented on #12611
Hi Belguith,
Sorry, I didn't answer because it was supposed to be fixed with #9450, but it's still not fixed in my 1.7.5.1 version.
I suppose I have to manually modify the Links.php file, like I did to fix the shop list link bug in the top right menu, but I don't understand what to modify, and why you didn't implement the modifictaions on the 1.7.5.1 version.
Thanks !

[2019-03-21 09:34] matks opened #12990 "[SF Migration] Enable 'back' GET parameter management"
It seems adding a `back` GET parameter to migrated SF page routes does not allow the "back redirect" feature that existed in legacy BO pages.

We should enable it back, and handle multiple input types. See [this discussion](https://github.com/PrestaShop/PrestaShop/pull/12971/files#r267079559).

[2019-03-21 09:36] khouloudbelguith commented on #9585
Hi @bm-services,

We are aware of this issue, it is added to our bug roadmap.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-03-21 09:47] Tomskor commented on #12983
@khouloudbelguith I contacted them, and waiting for response.

This is official integration module from this courier but it isn't from marketplace.

[2019-03-21 09:49] tanasi commented on #12687
Could you please provide the bug ID or a link to which we can track the progress of that? Or should we check this thread?

[2019-03-21 09:54] marionf commented on #12982
@PrestaShop/prestashop-core-developers WDYT ?

[2019-03-21 09:54] khouloudbelguith commented on #12983
@Tomskor, thanks!
Waiting for your feedback.

[2019-03-21 09:55] khouloudbelguith commented on #12687
@tanasi, you should check this ticket.
Thanks!

[2019-03-21 10:26] khouloudbelguith commented on #12896
Hi @banan44,

Thanks for these clarifications.
But it is Ok in my case.
When we created order with PayPal module => an invoice is generated => OK => there is no employee selected because the status is generated via the module.
And this command is considered in all statistics.
I attached a video record.
https://drive.google.com/file/d/1Ighojnp2O4SOa2v8QzXO3do6ddL-wJJ8/view
Thanks to check & feedbac

[2019-03-21 10:33] ghost opened #12991 "Image Slider slide expiration date"
With this little feature we can prevent to show expired slider banners on homepage.

https://github.com/PrestaShop/ps_imageslider/pull/39

![expiration](https://user-images.githubusercontent.com/8243273/54746722-30c35f80-4bcd-11e9-903b-45c8732449e8.png)

![expiration2](https://user-images.githubusercontent.com/8243273/54746771-49cc1080-4bcd-11e9-87c7-9f1d1f733ac2.png)

[2019-03-21 10:46] francisa2d opened #12992 "Can't debug with XDebug because of Integrity Check Exception"
We try to do some debugging on a fresh installation of Prestashop 1.7.5.1 (developper mode)  but when we launch XDebug Listening, if we load almost any page, we get an Exception from Defuse : "Integrity Check Failed". Stack trace is too complexe for figure out what's going on...

**Steps to reproduce the behavior:**

We use VScode,

1. Configure XDebug for VScode
2. Launch XDebug Listening
3. Load

[2019-03-21 11:25] francisa2d commented on #12992
Ok, fixed. Chrome cache was disabled.

[2019-03-21 11:26] khouloudbelguith commented on #12972
Hi @jorgevrgs,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1cVjHYzL05g1b8Fja2LnxPutwu5YrzXNQ/view
Thanks to check & feedback.

[2019-03-21 11:28] khouloudbelguith commented on #12992
Hi @francisa2d,

Thanks for your report.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-21 11:28] #12992 closed, assigned to nobody

[2019-03-21 11:32] khouloudbelguith commented on #12973
Hi @lukaszwojcik1990,

Thanks for your report.
Sorry, what do you mean by `attributes closed by default`?
About the expand action, this feature added in your custom theme
In the Classic theme, this feature doesn't exist.
![image](https://user-images.githubusercontent.com/16067358/54749584-4a68a500-4bd5-11e9-99d2-29b7bfb448da.png)
Thanks!

[2019-03-21 12:10] jointsystems commented on #12944
We just imported 19N132-0055-F1 and it overwrote 19J137-0007-F1.  As you can see from the screenshot below the name 19N132-0055-F1 now comes up in a search with the description of 19J137-0007-F1 and 19J127-0008-F1 because we could not separate  0007 and 0008. If you search for either 19J137-0007 or 0008-F1 neither comes up.

From: khouloudbelguith <notifications@github.com>
Sent: Monday, March 18,

[2019-03-21 13:25] khouloudbelguith commented on #12991
Hi @PrestaShark,

Thanks for your suggestion & for your PR fix.
@marionf, @colinegin what do you think?
Thanks!

[2019-03-21 13:32] eternoendless commented on #12982
I think it's too late to build this for 1.7.6 but it should definitely be done for 1.7.7

To avoid attacks, I think maybe the endpoint should be protected by some kind of barrier, like a token or something like that.

[2019-03-21 14:00] sector7digital opened #12993 "Option so specific prices and catalog price rules can be cumulative!"
Seriously, who wouldnt' want that!! I really need the catalog price rules to be cumulative to my specific prices. but I guess with PS 1.6.1.23 it's too late already anyway, very very bad that this isn't already implemented and makes no sense to me either

[2019-03-21 14:10] djodjo3 commented on #12982
Honestly, I don't really see why this page should be protected.
First, it should _not_ contain any sensitive data, it's just a health check.
Also, a standard shop being public, any other page _should_ be a better attack vector (either in terms of resources consumption or data access).
But maybe I'm missing something ?

[2019-03-21 14:10] khouloudbelguith commented on #12993
Hi @oliiix,

Thanks for your report.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be accep

[2019-03-21 14:39] andreepi commented on #12978
RE-

N'étant pas une spécialiste du langage informatique, j'ai refait la
procédure de désinstallation, j'ai vidé le cache, réinstallé le module.
Il refonctionne.

Merci

*Se Soigner NatureA. Pierdon*

Le jeu. 21 mars 2019 à 09:51, khouloudbelguith <notifications@github.com> a
écrit :

[2019-03-21 14:40] khouloudbelguith commented on #12970
Hi @molearnik,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-21 14:42] maserman opened #12994 "ps_rssfeed image bug"
On Prestashop 1.7.5 the ps_rssfeed module no longer displays images from feeds, making it pretty pointless.

The blockrss module from Prestashop1.6 that this replaces used to display images from feeds by default, is there going to be a fix for this anytime soon?

[2019-03-21 14:42] khouloudbelguith commented on #12978
Hi @andreepi,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
PS: As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Thanks!

[2019-03-21 14:42] #12978 closed, assigned to nobody

[2019-03-21 15:03] mickaelandrieu commented on #10491
Hi,

this should be fixed by https://github.com/PrestaShop/PrestaShop/pull/11321, but let's wait for the alpha release (with another one pull request about translation system I need to do) to check every translation issue again.

Long story short: we're aware that the support of translation of external modules is incomplete and we are working on it.

In 1.7.6, the support of legacy translations fi

[2019-03-21 15:06] khouloudbelguith commented on #12994
Hi @maserman,

What is the exact link did you used in the module?
I tried with `ps_rssfeed` module in PS1.7.5.1, I used this link http://news.google.com/?output=rss => in FO
![image](https://user-images.githubusercontent.com/16067358/54761740-f2409b80-4bf2-11e9-9a78-27e8634faecd.png)
I tried with `blockrss` module in PS1.6.1.23, I used the same link => in FO, I have
![image](https://user-images.gi

[2019-03-21 15:20] maserman commented on #12994
Hi Khouloud
Thanks for the reply. I tried the rss feed link you gave - it shows the topics, but no images.
The 1.6.1.23 blockrss module v1.3.2 displays an image with the feed - it doesn't in the new 1.7 ps_rssfeed module :(
in blockrss.php:
`
			$rss_links = array();
			if ($url && ($contents = Tools::file_get_contents($url)))
				try
				{
					if (@$src = new XML_Feed_Parser($contents))
						fo

[2019-03-21 15:23] maserman commented on #12994
To see the current live version of blockrss with images go here:
https://thermapen.co.uk

there appear under heading 'Latest posts from our Thermapen blog'

Best regards
Barry

[2019-03-21 15:27] khouloudbelguith commented on #12994
@maserman, what is the exact link did you used in the module?
![image](https://user-images.githubusercontent.com/16067358/54763268-f9b57400-4bf5-11e9-9d00-4f58c6e76cc8.png)
Thanks!

[2019-03-21 15:34] khouloudbelguith commented on #12777
Hi @ced--ced,

When debug mode is enabled, there are no exceptions displayed.
About your logs, I cannot read them
![image](https://user-images.githubusercontent.com/16067358/54763968-32098200-4bf7-11e9-9190-860441172ca7.png)
Thanks to check & feedback.

[2019-03-21 15:38] eternoendless commented on #12982
If it's a known endpoint it could be used to detect which (approximate) version of PS your shop is based on.

[2019-03-21 15:56] khouloudbelguith commented on #12977
Hi @pks891618,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1N6s0WM861xSmNp1UuD4UCmJ9PyJt9mT4/view
For the `Debug mode` section:
Select "All shop" & enable all the options.
When you select a shop you can enable/disable options.
For the `Caching` section, to be enabled, you must have Memcached installed on your server.
Thanks to

[2019-03-21 15:56] renatox57 opened #12998 "Category import produce error"
When we try to import categories, we obtain this error :
[2019-XX-XX 16:36:59] request.CRITICAL: Uncaught PHP Exception Twig_Error_Runtime: "An exception has been thrown during the rendering of a template ("Unable to load template 'file:layout-ajax.tpl'")." at /XXX/XXX/XXX/XXX/XXX/www/src/PrestaShopBundle/Resources/views/Admin/layout.html.twig line 34 {"exception":"[object] (Twig_Error_Runtime(cod

[2019-03-21 16:03] khouloudbelguith commented on #12998
Hi @renatox57,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1C4AMPfJGM-oWr5JHO8US-tnBcPU3hRTn/view
Could you please provide me the exact file did you used to import categories.
Thanks!

[2019-03-21 16:03] PierreRambaud commented on #12982
This is also something you can do with a custom module.
Also, as @eternoendless said, it needs to be secured!

[2019-03-21 16:12] francoispeyret commented on #12888
@khouloudbelguith #12997

[2019-03-21 16:21] dominictayloruk commented on #12905
I'm running this docker image `yobasystems/alpine-prestashop:latest`

I've got the following block in the conf;

[code]
 as can be seen here; [nginx conf](https://github.com/yobasystems/alpine-prestashop/blob/master/alpine-prestashop-amd64/files/nginx.conf#L83)

This directory gets renamed at container runtime to the environment variable to be the correct location e.g. /admin/ --> /adminXXXXXX/ ,

[2019-03-21 16:27] #12592 closed, assigned to nobody

[2019-03-21 16:28] khouloudbelguith commented on #12888
Hi @francoispeyret,

Thanks a lot for your fix.

[2019-03-21 16:30] khouloudbelguith commented on #12905
@dominictayloruk, if you enable debug mode, are there any exceptions displayed?
Thanks!

[2019-03-21 16:38] dominictayloruk commented on #12905
Yes i get the following exceptions
[code]

[code]

##### More info

[code]

[code]

![screencapture-jonssheds-direct-phppsinfo-php-2019-03-21-16_41_40](https://user-images.githubusercontent.com/23389697/54769059-60d42800-4bf8-11e9-8e8c-64db72f9b9a5.png)

[2019-03-21 16:42] khouloudbelguith commented on #12943
@pks891618, I tried to make a shop similar
https://drive.google.com/file/d/1fJ3MSweqwtPCRsCburc4YYp62wlP2Hl0/view
But it is OK.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

D

[2019-03-21 16:48] khouloudbelguith commented on #12905
@dominictayloruk, in your server the extension is enbled tokenizer?
![image](https://user-images.githubusercontent.com/16067358/54769331-45214f80-4c01-11e9-813f-fbbd0060d779.png)
If you run `php -m` on the command line, tokenizer is in the list?
Sorry, I just re-opened the issue.
Thanks to check & feedback.

[2019-03-21 17:00] dominictayloruk commented on #12905
No its not installed in the image, but there is a package available;
https://pkgs.alpinelinux.org/packages?name=php7*&branch=v3.9&arch=x86_64

[code]
And it is now working!!

![screencapture-jonssheds-direct-admin278kzmsz2-index-php-configure-advanced-performance-2019-03-21-16_54_25](https://user-images.githubusercontent.com/23389697/54770024-5a46b000-4bfa-11e9-88fa-08526c244d30.png)

I'll update

[2019-03-21 17:03] khouloudbelguith commented on #12944
Hi @jointsystems,

I just tried with another shop & it is OK with PS1.7.5.1.
https://drive.google.com/file/d/1FZWU6oc4wrPhtMHwdV2PWiCK6Qaxm690/view
Thanks!

[2019-03-21 17:05] khouloudbelguith commented on #12905
@dominictayloruk, the issue is not a PrestaShop's core bug but most likely a server configuration.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-21 17:05] #12905 closed, assigned to nobody

[2019-03-21 17:09] khouloudbelguith commented on #12611
Hi @elmanu13,

This behavior is fixed in this PR: #9450

Because if the URL is changed, for some community users, it is a bug as described in this [ticket](http://forge.prestashop.com/browse/BOOM-3607).

Thanks for your understanding!

[2019-03-21 18:50] Quetzacoalt91 commented on #12982
The health check could be on the back office side. This allows the entrypoint to be hidden behind an unknown folder.

[2019-03-21 21:43] PierreRambaud commented on #12982
Maybe better to add this in a native module but not installed by default. It's not common to use an health check  :/

[2019-03-21 21:51] fededim opened #13000 "In customer's service module a customer's reply is linked to a new thread instead of the correct one"
**Describe the bug**
As stated in title

**To Reproduce**
Steps to reproduce the behavior:
1. Customer selects an order and sends a message about it
![image](https://user-images.githubusercontent.com/8364158/54786858-42872000-4c2a-11e9-8209-ea7002248be8.png)

2. An answer is sent back through the customer service module
![image](https://user-images.githubusercontent.com/8364158/54786923-75c9af00-4

[2019-03-22 02:32] unreviewed commented on #9795
This is happening PS v1.7.5.1 - Problem seems to be only related to opening the front end shops using top right hand link.

[2019-03-22 04:51] BenTen commented on #9945
@khouloudbelguith @marionf
Here the problem is not create a product by purpose.

Look:
1/ Set option "Default activation status" to YES
2/ click "New Product"
3/ Touch nothing
4/ Quit the page

The product is created, displayed on FO as "new product" but you can't modify or deactivate it because you can't see it in the BO.

Is this issue can be fix in 1.7.6?

EDIT: If someone has the problem.
To d

[2019-03-22 07:11] Tomskor opened #13001 "Problem with new order email alerts Prestashop 1.7.5.1"
**Describe the bug**

We have problem with email alerts from presta 1.7.4.2 I think, we don't recive any of alerts so we configure SMTP and it worked fine for now. But now we have only some part of notification with new orders. How to fix it?

![maile](https://user-images.githubusercontent.com/42567245/54806243-b866a800-4c79-11e9-89c5-19cbf62d2edc.png)

PrestaShop version: 1.7.5.1
PHP version: 7.2

[2019-03-22 07:25] sector7digital commented on #12993
Thanks for coming back and I'm very sorry that I wrote this so harsh!! guess I was a little tired and couldn't set it up as I wanted, but still, I'm sorry for this! Still maybe you'd like to implement it in 1.7. We might change the version at some point in time but we programmed so much other tools relying on the 1.6 database structure so I'm not yet sure when this will be. THANK YOU!

[2019-03-22 07:41] khouloudbelguith commented on #12632
Hi @Akashvastarpara

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-22 07:41] #12632 closed, assigned to nobody

[2019-03-22 07:50] maserman commented on #12994
Hi Khouloud

Thanks for your responses - hope it will get fixed soon. There is one further issue. I just tried updating to use PHP 7.1.27 ( PHP 7.033 now outdated) on current version of Prestashop 1.6 - that 'loses' the images from blockrss too so had to revert to the older version of PHP to get the images displaying again :(

[2019-03-22 07:58] khouloudbelguith commented on #13001
Hi @Tomskor,

What is the exact version of the mailalert did you installed?

Thanks!

[2019-03-22 07:59] Hlavtox commented on #11059
Any updates on this? It's pretty important I think, if you can't manage the order.

[2019-03-22 08:03] Tomskor commented on #13001
@khouloudbelguith  Email alerts 2.1.1.

[2019-03-22 08:04] Hlavtox opened #13002 "Customer can see all vouchers"
EDIT: see reproductable scenario at https://github.com/PrestaShop/PrestaShop/issues/13002#issuecomment-476516323

EDIT2: this issue had too much history so we closed it and opened https://github.com/PrestaShop/PrestaShop/issues/15938 instead

**Description**
Customers can see all vouchers and cart rules you have created, even if they are generic.

You create a 'hidden' voucher with a 10% discount,

[2019-03-22 08:29] lukaszwojcik1990 commented on #12973
I am using the Alysum template.
My point is that the list of attributes, like here S, M, XL ... would not be visible, when you click the arrow that will expand it

[2019-03-22 08:31] lukaszwojcik1990 commented on #12973
![1](https://user-images.githubusercontent.com/48737281/54810020-3bd9c680-4c85-11e9-9b48-5e9dc21c2c37.jpg)

[2019-03-22 08:31] marionf opened #13005 "GDPR isn't working anymore with 1.7.6.0"
**Describe the bug**
GDPR isn't working anymore with 1.7.6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module catalog and install GDPR module
2. Click on configure
3. Click on a link
4. See error

**Screenshots**
![capture d'écran_1204](https://user-images.githubusercontent.com/13449658/54810031-45fbc500-4c85-11e9-90c5-2a39f5d6904e.png)

**Additionnal information**
PrestaShop ver

[2019-03-22 08:32] marionf commented on #13005
ping @Joukz & @colinegin

[2019-03-22 08:43] michjoh opened #13006 "Webservices: udpating stock available do not call Hook::exec('actionUpdateQuantity'"
**Describe the bug**
I experienced, that Prestashop does not call Hook::exec('actionUpdateQuantity',...)  when one puts (HTTP PUT)  new quantity of a product using webservice request to the resource <stock_availables>. In my opinion, it should.

Probably it affects only products without an attribute (id_attribute = 0).

I tested it in 1.6.1.7 Prestashop. However i see that in the development branc

[2019-03-22 09:23] khouloudbelguith commented on #13002
Hi @Hlavtox,

I manage to reproduce the issue with PS:1.7.5.1.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Ping @marionf what do you think?

Thanks!

[2019-03-22 09:37] khouloudbelguith commented on #13006
Hi @michjoh,

Thanks for your report.
@PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-03-22 09:52] PrestaEdit opened #13007 "Function setFieldsToUpdate() does not work for single database table"
**Describe the bug**
While you want to simply one field while update an ObjectModel, you could use the setFieldsToUpdate() method. But this one need to have a _shop table associated, to work.

Instead, the ObjectModel is whole saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Instanciate an ObjectModel (which have no _shop table associated !)
2. Change somes properties
3. Apply the setF

[2019-03-22 10:44] khouloudbelguith commented on #12973
Hi @lukaszwojcik1990,

With the classic theme of PrestaShop it's normal behavior (the navigation list is not closed).
You should contact the theme author, they are the only ones to help you on it.
Thanks!
I close the ticket, feel free to open a new one when needed.

[2019-03-22 10:44] #12973 closed, assigned to nobody

[2019-03-22 10:50] khouloudbelguith commented on #13000
Hi @fededim,

Thanks for your report.
- #ct3 is " #ct%thread_id% ".
- #tcB683GIMPRdkA is " #tc%thread_token% ".
- For id_customer_thread increases with sending a new message.

Thanks to check and feedback.

[2019-03-22 10:52] renatox57 commented on #12998
Hi @khouloudbelguith,
thank you for your quick answer.
Here is the exact fil : https://filetransfer.io/data-package/kMb9TLKj
Renato

[2019-03-22 10:54] khouloudbelguith commented on #11059
Hi @Hlavtox,

Sorry not yet.
Thanks for your understanding and your patience.

[2019-03-22 11:05] bm-services commented on #11105
We have the same problem on several 1.7 versions.
We don't have this problem if we empty cache folders in command line but we can't use it if we use CCC for CSS et JS because JS and CSS are not re-compiled.

[2019-03-22 12:19] jointsystems commented on #12944
Here is an image of the 19N132-0055-F1 import and the search results where it overwrites a previous import with both a different name and ID.

![19N132-0055-F1 overwrite](https://user-images.githubusercontent.com/41153050/54821619-1c3ca100-4c79-11e9-9d8e-bd3787e44671.PNG)

![19N132-0055-F1 csv](https://user-images.githubusercontent.com/41153050/54822009-3925a400-4c7a-11e9-8565-dc6bd96cb3cd.PNG)

[2019-03-22 12:24] unamuno opened #13010 "autofill field keywords"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can not use the autofill feature of one of the popular browsers Chrome, Firefox, Safari. It saves just clicking on fill in. No need to type my address and name over and over again

**Describe the solution you'd like**
HTML5 has a tag for autofill:
`Credit card number: <input type=text inputmode=numeric

[2019-03-22 12:45] matks commented on #13005
🔥 👀

[2019-03-22 13:37] khouloudbelguith commented on #13007
Hi @PrestaEdit,

Could you please send me your script to test it.

Thanks!

[2019-03-22 13:38] PrestaEdit commented on #13007
Hi @khouloudbelguith ,

No  ; the script was done inside a bigger module and I have remote it since it's not working.

[2019-03-22 13:41] khouloudbelguith commented on #13010
Hi @unamuno,

Thanks for your report.
@colinegin, @marionf, what do you think?

Thanks!

[2019-03-22 13:51] khouloudbelguith commented on #12998
Hi @renatox57,

Your file contains errors.
Thanks to cheek and feedback.

[2019-03-22 13:52] bm-services opened #13011 "Error 500 during 1.7.5.1 install"
**Describe the bug**
During 1.7.5.1 install, at the beginning, I have an error 500 without messages but with success = true.

**To Reproduce**
Steps to reproduce the behavior:
1. Download 1.7.5.1 zip here : https://www.prestashop.com/fr/telecharger
2. Unzip files
3. Configure install
4. Launch install

**Screenshots**
![chrome_2019-03-22_14-51-54](https://user-images.githubusercontent.com/4289331/

[2019-03-22 14:05] khouloudbelguith commented on #13011
Hi @bm-services,
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically,

[2019-03-22 14:18] khouloudbelguith commented on #13001
Hi @Tomskor,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-03-22 14:25] matks opened #13013 "[SF Migration] Handle Create an order page behavior linked to customer"
We need to fix https://github.com/PrestaShop/PrestaShop/pull/12971#issuecomment-475572000

Behavior:
1) "Add new customer" button opens a modal with the lite-display of Create a Customer page, it handles errors inside the modal and __on successfull submit__ it creates the customer, closes the modal and pre-fill customer input with the new customer created

2) "Search for a customer" button is a cu

[2019-03-22 14:39] bm-services commented on #13011
Thanks for this link !

I have only these 4 problems:

memory_limit | 64M | 256M | 128M
post_max_size | 16M | 128M | 16M
upload_max_filesize | 4M | 128M | 12M
Memcached | No | Yes | No

However, they are not blocking

[2019-03-22 14:45] khouloudbelguith commented on #12944
Hi @jointsystems,

Could you please send me your file CSV to test it.

Thanks!

[2019-03-22 15:05] khouloudbelguith commented on #13011
Hi @bm-services,

What is the exact Language/Country did you used during the installation?

Thanks!

[2019-03-22 15:11] bm-services commented on #13011
My language / country:
French/France

[2019-03-22 15:44] khouloudbelguith commented on #13011
Hi @bm-services,

I tried the installation with the file that is in " https://www.prestashop.com/fr/telecharger " with French language and France country =>OK.

Thanks to check & feedback.

[2019-03-22 15:53] cedricfontaine opened #13016 "[Idea] Set up different subdomain for backoffice"
For security reason, we would like to serve the back office on a different subdomain than the front office.
In Prestashop 1.6 and previous, it was possible to do it. It's not anymore the case.
We would like an option to be able to separate the front and back office subdomain url.

[2019-03-22 15:55] eternoendless commented on #13017
Fixed here: https://github.com/PrestaShop/gamification/pull/64

[2019-03-22 16:01] marionf commented on #13002
@khouloudbelguith

I can't reproduce the issue.

I created a voucher for every customers
I created a voucher for John Doe

![capture d'écran_1220](https://user-images.githubusercontent.com/13449658/54836242-1cae5980-4cc4-11e9-8906-acb144afdb80.png)

With John Doe account, I see only John Doe's voucher

![capture d'écran_1218](https://user-images.githubusercontent.com/13449658/54836260-26d05800-4cc

[2019-03-22 16:04] khouloudbelguith commented on #13002
@marionf

Thanks to check the Customer group selection.

[2019-03-22 16:06] marionf commented on #13002
@khouloudbelguith

You mean, I need to select a specific customer group for the voucher instead of a specific customer ?

[2019-03-22 16:15] khouloudbelguith commented on #13002
@marionf

Yes, for vouchers to be displayed.

[2019-03-22 16:22] khouloudbelguith commented on #13016
Hi @cedricfontaine,

Thanks for your report.
@PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-03-22 16:23] marionf commented on #13002
All right I edited steps to reproduce the issue in the description

[2019-03-22 16:24] matteolavaggi opened #13019 "DATABASE additional shipping cost reading"
This is (another) one crazy situation with prestashop 1.7.2.

Create a product. assign a 10€ value for extra shipping cost.

Open in database that product,
Set shipping cost to 0€ extra.

Reload cart > still get the extra 10€.

Open product in backoffice, still 10€ in extra shipping cost.

Reload product in DB, the shipping cost save in the ps_products tab is 0.

So WHERE prestashop get this data?

[2019-03-22 16:26] Matt75 commented on #13019
Check into ps_product_shop

[2019-03-22 16:27] matteolavaggi commented on #13019
Why?
There is no index for products in category but there is 2 table for the same setting , i would cry.

[2019-03-22 16:29] ebonit opened #13020 "change the backoffice theme to my own theme"
**Describe the bug**
when changing the backoffice theme from default to my own theme, it does not show.

I want to use my own theme because I don't like to use template overrides for the backoffice, for instance when adding my custom hooks

**To Reproduce**
Steps to reproduce the behavior:
1. in the source, go to admin-dev/themes
1. duplicate the backoffice default theme with the name 'mytheme'
2.

[2019-03-22 16:33] PierreRambaud commented on #13016
Can you tell us more about why it's impossible to separate front & back? I just remove my admin directory, change my shop domain and my front's still working well when my back is on another domain. My back's working well too.
Running the latest develop branch.

[2019-03-22 16:34] #13019 closed, assigned to nobody

[2019-03-22 16:35] matteolavaggi commented on #12750
i've uninstalled ps 1.7.5.1.

[2019-03-22 16:35] #12750 closed, assigned to nobody

[2019-03-22 16:37] khouloudbelguith commented on #13020
Hi @ebonit,

Thanks for your report.
@PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-03-22 16:42] Hlavtox commented on #13002
Customer group restriction works fine.

If you restrict voucher for a specific group, users from other groups wont see it.

If you restrict voucher for a specific customer, other users wont see it.

The problem is, the function adds to every voucher list all vouchers, which have SOME KIND of group restriction. Which is wrong.

[2019-03-22 16:49] cedricfontaine commented on #13016
In 1.6, it was possible to access back office from an url different from the shop_url, it's not the case anymore in 1.7, you're always redirected to the shop_url.
We would like to be able either to disable this redirect or specify an url for the back office.

[2019-03-22 16:53] CurciRoberto commented on #9662
Hi everyone,
I found a solution to make the module work,

the problem seems to be ConfigurationKPI class, so I tried to use the class "Configuration"

1. Open the file "/modules/dashgoals/dashgoals.php"
2. Search for "ConfigurationKPI" in the php file
3. Replace all matches with "Configuration" and save
5. Uninstall the module and reinstall with the modified file

Works for me on Prestashop 1.7.5

[2019-03-22 16:57] matteolavaggi opened #13021 "empty category on imported product"
PS 1.7.2

Import new product, the product are searchable in search result and in manufacturer page but there is no way to show under category page.

Attached the database screenshot of the product.
Is active, is in category, has stock,
![product not show in category](https://user-images.githubusercontent.com/24798703/54839842-03111000-4ccc-11e9-91a7-1bab86bd6c1f.png)

[2019-03-22 17:10] PierreRambaud commented on #13016
Hey thanks for teaching me something!

If you add in your config.inc.php (for example,)
[code]
Your website'll have a different url.

I'm able to run a front & a back from different domains / subdomains.
Also working with `_PS_BASE_URL_SSL_`

[2019-03-22 17:20] mauweb commented on #9662
roberto ... sei un grande ... prestashop 1.7.5.1

[2019-03-22 17:32] CurciRoberto commented on #9662
Si, anch'io Prestashop 1.7.5.1

Non ho approfondito più di tanto,
quindi questa è solo "una toppa" ad un problema probabilmente più grande,
Magari ora sapranno dove sbattere la testa, e qualche buon anima farà un Pull definitivo
Fammi sapere se ha funzionato anche per te

[2019-03-22 17:40] mauweb commented on #9662
ho dashgoal v2.0.2 modificato il file e installato senza disinstallare solo aggiornando il file.
inizialmente non cambia niente ma quando si configura e si inseriscono i dati tutto funziona alla grande ... anche negli anni indietro.

[2019-03-22 17:41] CurciRoberto commented on #9662
Perfetto!

[2019-03-22 19:21] Eolia commented on #12907
What ???
@khouloudbelguith  The queries from your browser console have nothing to do with SQL queries !!!

If you want to know how many and which queries have been executed you must cipher the SQL debug

@kpodemski Prestashop has always updated positions after deletion

[2019-03-22 19:25] jointsystems commented on #12944
When we put in 19N132-0035 it imports fine, and shows up in product search.  Then you import 19N132-0055-F1, which also works fine and shows up in a product search but the 0035 no longer does but some of the data and the pictures and full description (added after import) are for the 0035.

We don’t use 1.7 as last several times we attempted to upgrade numerous modules did not work the most import

[2019-03-22 20:24] cedricfontaine opened #13024 "`Translate::getModuleTranslation()` with locale returns string in wrong language if there is none in provided locale"
In a cron task, we need to generate a french and an english version. As we can't rely on context language, we use `Translate::getModuleTranslation()` and pass the `Locale` as a parameter.

We found that in `getModuleTranslation` it will populate `$_MODULES` array with the translation. Problem is that it doesn't care of the locale and the context and so it will mix french and english in `$_MODULES`

[2019-03-22 21:56] jointsystems commented on #12944
![15T212-0160-F8 over written by 15C112-3007-F8](https://user-images.githubusercontent.com/41153050/54854549-ac0a3b80-4cc9-11e9-8246-eb0a78fdde48.PNG)
After importing 15T212-0160-F8 it came up fine in the product search then we imported 15C112-3007 as it had been overwritten by 15T212-0160-F8.  In the attached image you will note that we searched by the ID for 15T212-0160-F8 what comes up is the n

[2019-03-23 05:21] TomHsiung commented on #12770
It happened again.

[2019-03-23 15:56] virani06 opened #13025 "Bug In Congigurable Product"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-03-23 16:00] virani06 commented on #13025
Describe the bug

After change the color popup display old images.

To Reproduce
Steps to reproduce the behavior:
go to product page of prestashop : https://swissoptik.ro/magazin/ochelari-de-soare/34-48-ochelari-de-soare-soglass-so1901.html#/27-culoare-bleu
2) click on pink color
3) now click on popup image so it was display base image in popup.

[2019-03-23 16:03] willymuigai opened #13026 "Prestashop 1.7.5.1 module tab not working"
**Describe the bug**
A clear and concise description of what the bug is.
When opening Modules catalog page the error is Internal Server Error try again
When opening the Module Manager page the error is

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible.

[2019-03-24 00:55] RicRey1988 opened #13028 "bug in "Positions" Prestashop 1.7.5.1 after updating"
**Describe the bug**
After updating prestashop from 1.7.3.0 to 1.7.5.1 I found a flaw in the "Positions" tab, the button for "Inserts Module" is totally misplaced and it looks terrible, I can not find a way to fix it.

**Screenshots**

![bug](https://user-images.githubusercontent.com/44790517/54873507-966a4400-4da5-11e9-8b5b-0515ee40ac29.jpg)

**Additionnal information**
PrestaShop version: 1.7.5.

[2019-03-24 09:14] Frankyet commented on #12241
In Prestashop 1.6, this is working correct, when set cover-image in combinations it will shown on product list and not the image of the default combination.
hoop you can fix this soon in Prestashop 1.7.5.2
Thanks

[2019-03-24 09:31] falanga1 opened #13029 "Multistore, URL subdirectory, cart problem, 404"
**Describe the bug**
Can't add product to cart (or access cart) because of 404 error in Multistore with virtual URLs set

**To Reproduce**
Steps to reproduce the behavior:

1. Fresh Install Prestashop (install language English and shop location Poland, so that after install shop has two languages: Polish and English)
2. Shop Parameters -> General -> Enable Multistore -> Yes
3. Advanced Parameters

[2019-03-24 14:41] jolelievre commented on #13006
Hi @michjoh,

indeed the hook should be called at all times. This attribute check seems weird to me as well.
I don't see any reason why products with combination should not call this hook. Please feel free to propose a pull request for this issue. The core team is currently quite busy with the coming freeze of the 1.7.6 version, but we will look at your PR to integrate it in the next version.

Bes

[2019-03-24 15:36] KHATERSAID commented on #12951
hello @khouloudbelguith
the problem is back
can you help me I'm going crazy with this problem
I checked everything without success

[2019-03-24 15:48] KHATERSAID opened #13030 "bug change state back-office commands prestashop 1.7.3"
hello
the problem is back
when I change the state of the command, the display becomes crazy
this problem is on the back office
I really try to solve the problem for weeks without success
in debug mode no error message
help to save me

**Additionnal information**
PrestaShop version: 1.7.3
PHP version: 7.1

![httpsherboristeenligne comadminlwsindex phpcontroller=AdminOrders id_order=10 vieworder tok

[2019-03-24 19:33] AltilloJoyeros opened #13031 "Problems with the friendly url in French in the cart"
Good afternoon,

We are having problems with the web-friendly url in the French language, when we click on the go to buy button, it does not reach the cart, the web falls, this happens only in the French language. Can you take a look and see what happens?
altillojoyeros.com/fr

Thank you.

Greetings,

[2019-03-24 19:43] Matt75 commented on #12994
It's not a bug, this feature is no longer available on module for 1.7 because of the removal of the [Pear XML_Parser](https://pear.php.net/package/XML_Parser/) dependency witch is deprecated. The module now use [SimpleXMLElement](https://php.net/manual/fr/class.simplexmlelement.php) in replacement but this solution is really too simple to parse RSS Feed correctly. That's why this module use only `

[2019-03-24 20:17] falanga1 opened #13032 "Fresh Prestashop 1.7.5.1 instance - Friendly URL not working when shop virtual URL set"
**Describe the bug**
When Friendly URL ON and Shop virtual URL set (for example to "/en") there are 404 errors
(this is fresh PrestaShop Instance)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pandeczusia.ga
2. Click on "Contact" in the footer, or try to add anything to cart
3. See error
4. Problems occurs only when Friendly URL on

**Additionnal information**
This is fresh pr

[2019-03-24 20:18] falanga1 commented on #13029
closing the issue - I narrowed it down to simpler symptoms
https://github.com/PrestaShop/PrestaShop/issues/13032

[2019-03-24 20:18] #13029 closed, assigned to nobody

[2019-03-24 21:36] matks commented on #13013
@sarjon Found the script responsible for this behavior: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/admin-dev/themes/default/template/controllers/customers/helpers/list/list_header.tpl#L28

[code]

In details:
- submit_form_ajax is a GET parameter provided by parent template, when opening the modal
- 1st script line fills the "search customer" input with the new customer email
- 2d scrip

[2019-03-25 07:32] falanga1 commented on #13032
It was problem with hosting all along - closing

[2019-03-25 07:32] #13032 closed, assigned to nobody

[2019-03-25 07:41] michjoh commented on #13006
Ok i will prepare PR in my spare time.
Best regards,

[2019-03-25 07:53] khouloudbelguith commented on #12631
Hi @polo195pl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-25 07:53] #12631 closed, assigned to nobody

[2019-03-25 07:54] khouloudbelguith commented on #12605
Hi @coriaweb,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-25 07:54] #12605 closed, assigned to nobody

[2019-03-25 07:54] khouloudbelguith commented on #12657
Hi @musaffar-patel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-25 07:54] #12657 closed, assigned to nobody

[2019-03-25 07:55] khouloudbelguith commented on #12654
Hi @pppplus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-25 07:55] #12654 closed, assigned to nobody

[2019-03-25 07:56] khouloudbelguith commented on #12663
Hi @infoviaplus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-25 07:56] #12663 closed, assigned to nobody

[2019-03-25 07:56] khouloudbelguith commented on #12581
Hi @Olmanuel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-25 07:56] #12581 closed, assigned to nobody

[2019-03-25 08:29] khouloudbelguith commented on #13030
Hi @said4440,

Thanks for your report.
In your last issue created https://github.com/PrestaShop/PrestaShop/issues/12951#issuecomment-473928146, you solved your problem by cleaning the PHP sessions in the php configuration of your host.
So, it could be the problem related to the cache.
Could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to che

[2019-03-25 08:38] khouloudbelguith commented on #13006
Hi @michjoh,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-03-25 08:41] marionf commented on #13002
@Hlavtox what is this option in BO when you create the voucher ?

If I restrict a voucher for a specific customer group, users from other groups can see it.
Take a look at the video:
https://drive.google.com/file/d/1WysTgHCARG1pzZrcRXHCAE3QLq_THURT/view?usp=sharing

[2019-03-25 08:52] KHATERSAID commented on #13030
Hello@khouloudbelguith,
I manually delete the cache of my prestashop I clear the cache of my browser I try several browser unsuccessful

[2019-03-25 08:57] khouloudbelguith commented on #13025
Hi @virani06,

I did not manage to reproduce the issue with the PS: 1.7.5.1
I attached a video record.
https://drive.google.com/file/d/1HRHil194x_rAfUrk8G9-6z2_p3gkS5qw/view
Did you use the template by default of PrestaShop ?
What is the exact version did you use?

Thanks!

[2019-03-25 09:14] khouloudbelguith commented on #13031
Hi @AltilloJoyeros,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.p

[2019-03-25 09:15] khouloudbelguith commented on #13031
@AltilloJoyeros, did you use PrestaShop 1.6.1?
Thanks!

[2019-03-25 09:18] khouloudbelguith commented on #13028
Hi @RicRey1988,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check and feedback.

[2019-03-25 09:19] khouloudbelguith commented on #13026
Hi @willymuigai,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-c

[2019-03-25 09:54] HECOSFAIR opened #13037 "Déclinaisons ne s’affichent pas sur site e-commerce"
Bonjour,
Les déclinaisons des produits ne s’affichent qu’en partie sur le site e-commerce alorsqu’elles s’affichent correctement dans le backoffice.
En effet, les attributs sont affichés mais les valeurs et le prix ne s’affichent pas.
Les clients ne peuvent ni sélectionner ni acheter les déclinaisons de ces produits. Ils peuvent uniquement acheter la déclinaison par défaut.
Cependant, ces déclinai

[2019-03-25 10:04] khouloudbelguith commented on #13037
Hi @HECOSFAIR,

Could you please provide me a screenshot from your BO => Product page => Combinations Tab.
It could be that combinations are not correctly generated.
Thanks!

[2019-03-25 10:16] khouloudbelguith commented on #13021
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/17otcxDg7Skefv5cwQcZUWuwG2Qwt-RyC/view
In the BO => Product page => Options Tab => thanks to check the visibility of the product imported.
![image](https://user-images.githubusercontent.com/16067358/54911722-5fa04500-4eef-11e9-9b09-8a43f2ea8ca9.png)
After the impor

[2019-03-25 10:21] khouloudbelguith commented on #13030
@said4440, this issue occurs only with this status?
When you change the status of your order to another one except "shipped" => it is OK?
Thanks!

[2019-03-25 10:22] matteolavaggi commented on #13021
We dont use PS 1.7.5.1 , we dont use internal search, you can see the option for visibility in the database table in the picture i've attached (set to both).

There is something wrong (!!) in some index / category query that has no sense and no information to debug ..

[2019-03-25 10:24] matks commented on #11620
Every SF page is mapped to a legacy controller so we rely on the legacy tabs access system.

If we create a new SF page, we need to create the related tabs.

[2019-03-25 10:24] #11620 closed, assigned to nobody

[2019-03-25 10:25] khouloudbelguith commented on #12994
Hi @Matt75,

Thanks for your feedback.
@maserman, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-25 10:25] #12994 closed, assigned to nobody

[2019-03-25 10:25] matks opened #13038 "Migrate "Advanced Parameters > Team > Employees > Profiles > Add new profile" page"
Type: page
Available by `/admin-dev/index.php/configure/advanced/profiles/1/edit`

Todo:
-  [x] Migrate CRUD form https://github.com/PrestaShop/PrestaShop/pull/13076

[2019-03-25 10:25] matks commented on #13038
We forgot to create the github issue for this page.

[2019-03-25 10:26] eternoendless opened #13039 "Calls to `trans` in Module context should fall back to the legacy translation system"
**Is your feature request related to a problem? Please describe.**
There are currently two problems:
1. As a module developer, I need to be aware that if my module is not native, I have to use the legacy translation system (`l()`) instead of the Symfony one (`trans()`).
2. As a module developer, if my module is symfony-based, I cannot use translation in twig, because `trans()` will use the new tra

[2019-03-25 10:27] KHATERSAID commented on #13030
last week just shipped status
now all the statues
this problem drives me crazy
![222](https://user-images.githubusercontent.com/39734318/54912449-f3bedc00-4ef0-11e9-9533-9098f8447dc8.png)

[2019-03-25 10:38] #10820 closed, assigned to sarjon

[2019-03-25 10:40] #11082 closed, assigned to nobody

[2019-03-25 10:52] khouloudbelguith commented on #13030
@said4440, We need to retrieve the PHP error logs in order to find out what's wrong. If you don't have it, you should ask to your hosting provider.

Thanks!

[2019-03-25 11:04] marionf opened #13040 "Problem with tooltips on migrated pages"
**Describe the bug**
The problem is that when the page is scrolled down and the input is hidden under the page header, the tooltip still appears next to the input.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin-dev/index.php/configure/advanced/employees/1/edit
2. Remove the name
3. Scroll down
4. Click on Save
5. See the tooltip

**Screenshots**
![54812254-fa4c1a00-4c8a-11e9-9ea

[2019-03-25 11:06] khouloudbelguith commented on #13021
@matteolavaggi, thanks for your feedback.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-03-25 11:08] khouloudbelguith commented on #12241
Hi @Frankyet,

This issue is added to our bug roadmap.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-03-25 11:09] khouloudbelguith commented on #12770
@TomHsiung, as I said before, this is a cache issue.
Try to delete the file `default_country_modules_list.xml`, it will be generated automatically again.
THanks!

[2019-03-25 11:13] eternoendless commented on #9732
Done here I think: https://github.com/PrestaShop/ps_facetedsearch/pull/52

[2019-03-25 11:13] eternoendless commented on #9978
Done here I think: https://github.com/PrestaShop/ps_facetedsearch/pull/52

[2019-03-25 11:15] khouloudbelguith commented on #13024
Hi @cedricfontaine,

Thanks for your report.
ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-25 11:20] khouloudbelguith commented on #12993
Hi @oliiix,

Thanks for your feedback.
You are welcome.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-25 11:20] #12993 closed, assigned to nobody

[2019-03-25 11:21] matks commented on #13040
Additionnal info on https://github.com/PrestaShop/PrestaShop/pull/12214#issuecomment-476120069 if needed

[2019-03-25 11:30] said4440 commented on #13030
hello I empty the cache of several folder to see if the problem comes from the
now I am no longer in the back office and at my site
I put all the files as before but it always gives me error
![444](https://user-images.githubusercontent.com/39734318/54916437-d0e4f580-4ef9-11e9-99c4-dd7461a4ef82.png)

[2019-03-25 11:44] KHATERSAID commented on #13030
here is the file thank you
![1111111](https://user-images.githubusercontent.com/39734318/54917355-f246e100-4efb-11e9-8746-75ea9a047b9d.png)

[error php.txt](https://github.com/PrestaShop/PrestaShop/files/3003058/error.php.txt)
![88](https://user-images.githubusercontent.com/39734318/54917215-9a0fdf00-4efb-11e9-97f1-24f7154ca6f5.png)
![99](https://user-images.githubusercontent.com/39734318/54917262

[2019-03-25 11:49] eternoendless commented on #10586
We should investigate this issue when we start working on this page: #10384

[2019-03-25 12:07] guigplt commented on #9992
Hi,
Do you know when will be released the 1.7.6 ?

[2019-03-25 12:25] Peter4661 opened #13041 "1.7.5.1 error shipping cost calculation"
For Product A, only shipping method X is available. When only product A is in the shopping card, shipping costs are shown correct,

For Product B shipping only methode Y is available.   When only product B is in the shopping card, shipping costs are shown correct,

With both, product A and product B are in the card, shipping cost is not calculated correct = €8,90, should be €4,95) . (see attacheme

[2019-03-25 12:35] Hlavtox commented on #13002
@marionf

Why do you guys change to ticket to something completely else!!! Customer restriction works fine. The problem was, that customers could see all voucher which were not restricted to a single customer.

And on your video, it works as it should. You selected 2 groups for that voucher and your customer belongs to that group, that's why he sees it.

In 1.7, it seems to work fine, because you

[2019-03-25 12:40] Hlavtox commented on #13002
I think this logic should be re-thinked through.

Because, let aside the group restrictions, why should a customer see a voucher with a code? You could as well apply it directly in the cart.

I think the customer should see only higlighted vouchers in his "My Vouchers" section.

[2019-03-25 12:44] pperezclavei opened #13042 "Force country price display not working"
I have a product with two specific prices:

The first for "All countries" (20€)
The second for "Germany" (40€)

If I activate the geolocation by IP, everything works correctly. If I access from Germany, it shows me € 40 and if we access from another place, it shows € 20. All right.

And now my question comes, if I deactivate the geolocation by IP, how can I force PHP to simulate being in Germany,

[2019-03-25 13:03] matteolavaggi commented on #13021
Debug mode dont show any error on that page, also php log has no error entry

[2019-03-25 13:09] khouloudbelguith commented on #13030
@said4440, the method name "getDeliveryNumberFormatted" doesn't exist in the OrderInvoice Class: https://github.com/PrestaShop/PrestaShop/blob/1.7.3.x/classes/order/OrderInvoice.php
I think you have an override of the `OrderInvoice` class, it is located into the path /Project_Folder/override/classes/order
Thanks to check & feedback.

[2019-03-25 13:10] khouloudbelguith commented on #13021
@matteolavaggi, could you please provide me the exact file `csv` you just imported.
Thanks!

[2019-03-25 13:13] eternoendless commented on #12848
Done in https://github.com/PrestaShop/gamification/pull/64

[2019-03-25 13:18] khouloudbelguith commented on #13041
Hi @Peter4661,

We are aware of this issue.
Your ticket is a duplicate of #9594
So, I close it.
Thanks!

[2019-03-25 13:18] #13041 closed, assigned to nobody

[2019-03-25 13:26] mickaelandrieu commented on #13039
Locked by https://github.com/PrestaShop/PrestaShop/pull/11321 for now.

Thanks for the issue, once https://github.com/PrestaShop/PrestaShop/pull/11321 merged I'll work on a first contribution with the tests.

[2019-03-25 13:29] khouloudbelguith commented on #13020
Hi @ebonit,

I manage to reproduce the issue with PS:1.7.5.1 & PS1.7.4.4.
I will add this issue to our bug roadmap so it will be fixed.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-03-25 13:29] matteolavaggi commented on #13021
Product is right imported, the problem is not on th eproduct itself. Prestashop has a database index of the category product? where? or it fetch on the fly?

[2019-03-25 13:40] Baroszek commented on #9625
I still find this problem in 1.7.5.1 anyone solved this problem?

[2019-03-25 13:42] KHATERSAID commented on #13030
I replace the two files orderinvoice
I empty all caches / cache (prod & dev).
I also empty the browser cache and the cache via the backoffice
it does'nt work
![0000](https://user-images.githubusercontent.com/39734318/54924183-1c080400-4f0c-11e9-9b42-c7bdb1cf9c08.png)
![00](https://user-images.githubusercontent.com/39734318/54924184-1c080400-4f0c-11e9-8f7d-f7a3f8ca0b28.png)

[2019-03-25 13:45] khouloudbelguith commented on #13030
@said4440, did you replace those files with what files exactly?
Those overrides are created by a custom module? or your custom development?
Thanks!

[2019-03-25 13:49] KHATERSAID commented on #13030
I replace with your link

https://github.com/PrestaShop/PrestaShop/blob/1.7.3.x/classes/order/OrderInvoice.php

[2019-03-25 13:51] Matt75 commented on #13030
You have a module named `ba_prestashop_invoice`, try to disable it
Contact this module developer to have assistance

[2019-03-25 13:54] HECOSFAIR commented on #13037
Hi
Thank you for you quick answer!
I provide you many screenshots from my BO.
I hope it’s helpfull.

Best regards

         BLAISE Herlyne
        CEO d'HECOSFAIR
       +33 7 69 14 43 65
        www.hecosfair.com

         BLAISE Herlyne
        CEO d'HECOSFAIR
       +33 7 69 14 43 65
        www.hecosfair.com

[2019-03-25 13:56] khouloudbelguith commented on #13030
@said4440, as it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-25 13:56] #13030 closed, assigned to nobody

[2019-03-25 13:58] khouloudbelguith commented on #13037
@HECOSFAIR, there are no screenshots uploaded.
You need to login on GitHub & upload those images here.
Thanks!

[2019-03-25 14:02] eternoendless commented on #10412
@matks can this be bumped to 1.7.7?

[2019-03-25 14:10] elmanu13 commented on #12611
Hello @khouloudbelguith ,

If I put the Link.php file from the PR #9450, I have an internal server error 500 (BO page only) with my 1.7.5.1 version.
In the [ticket](http://forge.prestashop.com/browse/BOOM-3607) you mention, I read the opposite than you do : if the URL is changed, it is a bug.

To resume :
-the Back-Office URL should ALWAYS be the same, whatever the selected shop
-This is now the c

[2019-03-25 14:13] khouloudbelguith commented on #13042
Hi @pperezclavei,

Thanks for your report.
In the FO, when I change the country of the customer, the specific price is well displayed.
I attached a video record.
https://drive.google.com/file/d/1DWvFpAqHF6pXGN0j8fkVdzLG9q8KmEha/view
Thanks to check & feedback.

[2019-03-25 14:14] matks commented on #10412
@eternoendless Yes, it's a minor issue.

[2019-03-25 14:17] KHATERSAID commented on #13030
thanks for your help last question
the module I deleted for weeks
but I see he's still in phpmyadmin in my database
if I delete, will there be consequences?
![66666](https://user-images.githubusercontent.com/39734318/54926661-12cd6600-4f11-11e9-9a68-12a4b8ddff33.png)

[2019-03-25 14:20] khouloudbelguith commented on #13030
@said4440, you should make a backup of your database before deleting these columns.
Thanks!

[2019-03-25 14:27] khouloudbelguith commented on #12944
Hi @jointsystems,

I did not manage to reproduce the issue with PS:1.6.1.23 and PS:1.7.5.1
I attached a video record.
https://drive.google.com/file/d/1krOPfDSxNKf96gMSBZlnVfHGSSsC9MC1/view

Thanks!

[2019-03-25 14:31] khouloudbelguith commented on #12944
@jointsystems, As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
Thanks for your understanding!

[2019-03-25 14:49] RicRey1988 commented on #13028
I have removed all folders and files from
/ var / cache / dev
/ var / cache / prod

delete the content of these folders and files will not affect something else?

now the menu looks good.

![normal](https://user-images.githubusercontent.com/44790517/54929175-28c43200-4ee3-11e9-81aa-3091adef8df0.jpg)

[2019-03-25 14:55] khouloudbelguith commented on #13028
@RicRey1988, thanks for your feedback.
I  close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-25 14:57] HECOSFAIR commented on #13037
Ok! Thank you so much!
Vous trouverez les images ci-dessous.

![0E14148D-C677-4AB1-BE62-EA5092E7C623](https://user-images.githubusercontent.com/48907418/54929865-832ab600-4f16-11e9-8348-8d9289a015d9.jpeg)
![7C58573C-6A10-4F74-A7CA-91B4B931D9F5](https://user-images.githubusercontent.com/48907418/54929866-83c34c80-4f16-11e9-9bce-86142c42afaa.jpeg)
![0AA5A44B-37E9-4C54-B2DB-C47EC36F041C](https://user

[2019-03-25 14:59] ghost opened #13044 "New links and texts on the "useful links" block on Dashboard"
Some links in the "useful links" block on the dashboard are not correct anymore.
We decided to modify them and to give this block a refresh.

## Current

![Capture d’écran 2019-03-25 à 15 50 35](https://user-images.githubusercontent.com/47456895/54931583-8f644280-4f19-11e9-9964-88b2f92093bc.png)

___

## New

![Capture d’écran 2019-03-25 à 17 49 27](https://user-images.githubusercontent.com/47

[2019-03-25 15:00] khouloudbelguith commented on #12611
Hi @elmanu13,

Thanks a lot for these clarifications.
Yes, in fact, this PR: #9450 fixes the change of the URL when we select the shop from the top of the page.
But your issue occurs with Quick access link.
https://drive.google.com/file/d/1Ulrs_6YaeleICh_amRSOf-8UMFrh2H5z/view
I manage to reproduce the issue with PS1.7.5.1.
With PS1.7.4.4, there is an issue, also, we are redirected to the dashboar

[2019-03-25 15:16] khouloudbelguith commented on #13037
@HECOSFAIR, thanks for your feedback.
Your combinations are not correctly generated.
Then, in the right column, you should select all your combinations (from your 1 group and click on "Generate" => for example in this product, you have some combination like `Mini: 20g`, `Mini: 100g`, `Mini: 150g`,...
I have to close this ticket because, in the combination list, every combination needs to have the

[2019-03-25 15:16] #13037 closed, assigned to nobody

[2019-03-25 15:17] guigplt opened #13045 "Prestashop issue after upgrade 1.7.5.0 -> 1.7.5.1"
I have upgraded Prestashop with 1-Click Upgrade module from 1.7.5.0 to 1.7.5.1 it seems it failed during database upgrade.

The Back office seems to work and 1-Click Upgrade module shows these messages :
Congratulations, you are already using the latest version available!
 6 file modifications have been detected, including 6 from core and native modules:
config/defines.inc.php
img/favicon.ico
vend

[2019-03-25 15:21] ronskyi opened #13046 "Doctrine Migration mechanism to use for updates"
I want to use GIT for the whole project, as we're going to use dev\staging\prod envs. So when I need to update PrestaShop core I need to update files and DB separately. Right now I can update one instance with 1-Click Upgrade module. It will upgrade both files and DB. Other instances will need DB only upgrade after git pull. I think the migration mechanism will work for this, as you're already mig

[2019-03-25 15:23] khouloudbelguith commented on #13046
Hi @ronskyi,

Thanks for your report.
ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-25 15:24] matks commented on #13046
Maybe a solution would be to extract the code dedicated to database migration from https://github.com/PrestaShop/autoupgrade into a stand-alone library and provides a CLI command to use this stand-alone library to run them onto the project.

But there's the issue of the install folder being deleted on PROD instance.

@Quetzacoalt91 The idea is to be able to either upgrade the database or the files

[2019-03-25 15:26] khouloudbelguith commented on #13045
Hi @guigplt,

Did you use the 1-click upgrade v4.6.0.?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-03-25 15:29] khouloudbelguith commented on #13021
@matteolavaggi, This issue occurs only when you import a product.
If you create it manually, it exists in the category page?
Thanks!

[2019-03-25 15:32] matteolavaggi commented on #13021
We cant create product by hand due to prestashop session bug in 1.7.2 .. it take 3 minutes to save (and even fail). BUt this problem does not occours in every import, some one work, other not, but in the search page or direct url the product is 100% usable...

[2019-03-25 15:43] Quetzacoalt91 commented on #13046
There is an entrypoint available in the core if you want to upgrade the database schema, as mentionned in the documentation: https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/#database-upgrade

When the file copy is completed, you should call the following script
`php install/upgrade/upgrade.php`. Do not forget to remove the installation folder once you're done, which should not

[2019-03-25 15:47] khouloudbelguith commented on #13021
@matteolavaggi, strange, so your issue is random?

What is the exact value of the `Products per page` in the product Settings page?
Also, in you configure the ps_factedsearch module, you can find the option `Show products from subcategories`, thanks to check if it is disabled or enabled.
![image](https://user-images.githubusercontent.com/16067358/54933805-9ee58a80-4f1d-11e9-8bfe-f8da91f02f85.png)

[2019-03-25 16:02] ronskyi commented on #13046
@Quetzacoalt91, thnx, missed this, and not got an answer in the gitter channel, this can work in my case
Install folder is still a question, I should leave it in git, but delete in prod, but not so important as DB.

[2019-03-25 16:16] colinegin commented on #12917
Are you talking specifically about the module's page or in all BO pages ?
Regarding the module configuration page, I agree, there should be a link in the breadcrumb to go back to Module Manager.

[2019-03-25 16:16] colinegin commented on #12743
#13047

[2019-03-25 16:18] colinegin commented on #12913
#13047

[2019-03-25 16:39] guigplt commented on #13045
Yes I used 1-click upgrade v4.6.0.

[log.txt](https://github.com/PrestaShop/PrestaShop/files/3004444/log.txt)

[2019-03-25 16:47] khouloudbelguith commented on #13045
@guigplt, in your log file, you don't have errors or warnings during the upgrade from PS1.7.5.0 to PS1.7.5.1.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-03-25 17:12] marionf commented on #13002
@Hlavtox

Yes, you are right, my bad.

I can't reproduce it, could you send a video or screenshot of your cart rule's configuration ?

What is your Prestashop's version ?

[2019-03-25 17:17] marionf commented on #13002
@khouloudbelguith How did you do to repoduce it on 1.7.5.1 ?

[2019-03-25 17:51] guigplt commented on #13045
I have deleted all folders in /var/cache and it works now, thanks !
Is it possible some parts have not been upgraded ?
And how can I see it ?

[2019-03-25 20:10] Eolia commented on #12907
The solution is there, you do what you want ^^
https://twitter.com/ttoine/status/1110203427706060801

[2019-03-25 20:21] seedsgallery commented on #10998
Hello jpyrat , i have same problem like you. Can you please describe exactly fix for:
Found the source of the problem : opcache config.
With .user.ini, I've put :

opcache.revalidate_freq = 0
opcache.validate_timestamps = 1
opcache.revalidate_freq = 0
opcache.fast_shutdown = 0

And it works ! (at last)

Kind Regards
Igor

[2019-03-25 20:36] #9724 closed, assigned to PierreRambaud

[2019-03-25 20:37] #12548 closed, assigned to jolelievre

[2019-03-25 20:37] #12193 closed, assigned to MatShir

[2019-03-25 20:58] seedsgallery opened #13050 "appParameters.php are always generated with chmod xxx permissions"
**Describe the bug**
var/cache/prod/appParameters.php or var/cache/dev/appParameters.php are always generated with chmod xxx permissions (instead of 644 or 666). Even if i change to 644 or 755 it generate again to xxx.

**To Reproduce**
Steps to reproduce the behavior:
Advanced Parameters>Performance press "clear cache"
Also this happening if I go to Modules and install or try to configure any of

[2019-03-25 21:12] seedsgallery commented on #13050
Here is same problem but without exactly manual how to fix ti
https://github.com/PrestaShop/PrestaShop/issues/10998

[2019-03-25 21:57] seedsgallery commented on #13050
Same problem comes by translation

[2019-03-25 23:46] guigplt commented on #13045
The error is here again.

[2019-03-26 02:56] TemKaSD commented on #12917
![Screenshot_2](https://user-images.githubusercontent.com/6318282/54968453-7d8ca900-4fc6-11e9-91df-c26e2a498ef8.jpg)

modules and stmegamenu

[2019-03-26 07:24] matteolavaggi commented on #13021
It's 24 product per page and we have disabled facets with no change in FO
problem. How we can debug this problem?

Il Lun 25 Mar 2019, 16:47 khouloudbelguith <notifications@github.com> ha
scritto:

[2019-03-26 08:08] khouloudbelguith commented on #13002
Hi @marionf,

steps to reproduce:

1. Create a new customer group GA
2. Create a new customer C1 with Group access only GA
3. Create a new customer C2 with Group access only Customer & visitor & Guest
4. Create a cart rule CR1
4.1 this cart rule is only limited to a single customer ( pub@prestashop.com)
4.2 this cart rule have a restriction: customer group selection
4.3 unselected groups: GA
4.4 s

[2019-03-26 08:17] khouloudbelguith commented on #13021
@matteolavaggi, in your case

Your error is very frustrating because it is such a vague error.
To reproduce the issue, could you please provide me the exact csv ( just the first product for example) to test it in my local.
Thanks!

[2019-03-26 08:21] khouloudbelguith commented on #13045
Hi @guigplt,

After removing the cache `rm -fR var/cache/*`
could you please try to run these commands:

[code]

Thanks to check & feedback.

[2019-03-26 09:11] matteolavaggi commented on #13021
Dear, we use prestashop import, and third part import, but the problem is
not in the csv ?! If the product is right imported and created, the problem
is in the category sql fetch query for shure!

And the problem is not random , still in the category here if there is some
tools to debug it we can apply

Il giorno mar 26 mar 2019 alle ore 09:17 khouloudbelguith <
notifications@github.com> ha scritt

[2019-03-26 09:17] guigplt commented on #13045
I removed the cache.
Here are the results of the commands :

**php -d memory_limit=-1 ./bin/console cache:clear**
PHP Parse error:  syntax error, unexpected 'finally' (T_STRING), expecting catch (T_CATCH) in /var/www/vhosts/.../vendor/symfony/symfony/src/Symfony/Component/Debug/ErrorHandler.php on line 524

Parse error: syntax error, unexpected 'finally' (T_STRING), expecting catch (T_CATCH) in /v

[2019-03-26 09:25] marionf commented on #13002
@khouloudbelguith

I did exactly the steps you described and when I am logged with customer C2 I don't see the cart rule.

https://drive.google.com/open?id=1S_PnrJvJO89zdxI5nr4M1_CvayNclAgQ

[2019-03-26 09:27] khouloudbelguith commented on #13050
Hi @seedsgallery,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/149dNhrvUdtyX50ZXEL8qbPydFbd_2MvR/view
after clearing the cache, the file var/cache/dev/appParameters.php is generated with 644 permissions.
In your case, did you use opcache?
Thanks!

[2019-03-26 09:34] marionf opened #13053 "Save and cancel buttons on migrated pages shouldn't have icons"
**Describe the bug**
Save and cancel buttons shouldn't have icons in migrated pages, only text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customers > Customers
2. Click on edit or add
3. See save & cancel buttons

**Screenshots**
![capture d'écran_1227](https://user-images.githubusercontent.com/13449658/54986329-b91d7800-4fb2-11e9-928b-97a04f9612e6.png)

**Additionnal information*

[2019-03-26 09:35] colinegin commented on #12917
Thanks for your feedback !
We will discuss it with the dev team to see if we can add this improvement.

[2019-03-26 09:35] marionf commented on #13053
@matks & @TristanLDD FYI

[2019-03-26 09:36] pperezclavei commented on #13042
Hi @khouloudbelguith !

Thank you very much for the reply.

Effectively, it works correctly when you login and create a shipping address to the country.

But my problem is that they access anonymous people and they can not create shipping addresses. I thought that the correct solution is to change the country in the context of Prestashop (capture of point 1), but it is not the correct result.

Tha

[2019-03-26 09:44] khouloudbelguith commented on #13002
Hi @marionf,

Thanks for your feedback.
There is a step is missing, we need to create another cart rule CR2 with group selection "Customers".
When we login in Fo with the customer C2, in the voucher list we found two cart rules (CR1 & CR2)
CR1 is incorrect.
I edited the steps in my previous comment.
Thanks!

[2019-03-26 09:47] khouloudbelguith commented on #13042
@pperezclavei, Thanks for your feedback.
There is no screenshot attached
You need to login to GitHub & upload the picture here.
Thanks!

[2019-03-26 09:54] Hlavtox commented on #13002
@khouloudbelguith So, on 1.7 there is even more stuff that doesn't work :D On 1.6, at least the group restrictions worked.

I think the order should be like this:
1. All vouchers which doesn't apply to the the customer's group should be crossed out. - This should work, at least on 1.6.
2. All vouchers that apply to a single customer and the customer is not the one logged in should be crossed out.

[2019-03-26 09:57] marionf commented on #13002
@khouloudbelguith

I think it's normal CR1 is displayed for C2 because you defined 2 conditions:
limited to pub@prestashop.com AND limited to Customer / visitor / Guest
Which means, your cart rule will be available for pub@prestashop.com customer AND for any customer in Customer / visitor / Guest group

[2019-03-26 10:00] khouloudbelguith commented on #13002
@marionf, with PS1.6, we have this PR: https://github.com/PrestaShop/PrestaShop/pull/8701 similar to the issue.
Thanks!

[2019-03-26 10:11] khouloudbelguith commented on #13045
@guigplt, what is the exact PHP version that you use?

[2019-03-26 10:16] pperezclavei commented on #13042
I was referring to point 1 of the main comment:
![Captura](https://user-images.githubusercontent.com/48911274/54989354-9beba800-4fb8-11e9-9eff-7d0bea0a0df4.JPG)

[2019-03-26 10:19] guigplt commented on #13045
PHP 7.0.21

[2019-03-26 10:26] marionf commented on #13002
There are some things to be specified here:

1) What happens when a cart rule is limited to a specific customer AND to a/some customer's group(s) ?
Who should see the voucher ? Only the specific customer ? Or also any customer in the group ?
Currently, the voucher is displayed only for the specific customer
Except if there is a 2nd cart rule, limited to the same customer groups as the first one (a

[2019-03-26 10:41] khouloudbelguith opened #13055 "Features page - search button id is changed"
**Describe the bug**
In the BO => Attributes & Features Page => Features tab, after editing any values, the id of the search button is changed from `submitFilterButtonfeature` to `id="submitFilterButtonfeature_value"`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  BO => Attributes & Features Page => Features tab
2. the id of the search button is  `submitFilterButtonfeature`
3. Click

[2019-03-26 10:47] seedsgallery commented on #13050
Please see also this error message

Warning: require_once(/var/www/web27852346/html/var/cache/dev/appParameters.php): failed to open stream: Permission denied in /var/www/web27852346/html/config/bootstrap.php on line 86

Fatal error: require_once(): Failed opening required '/var/www/web27852346/html/var/cache/dev/appParameters.php' (include_path='/var/www/web27852346/html/vendor/pear/pear_exceptio

[2019-03-26 10:51] khouloudbelguith commented on #13050
@seedsgallery,

This is a permission issue, you need to change the permission of your files.
Also, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-03-26 10:52] khouloudbelguith commented on #13042
@pperezclavei,

What is the exact problem do you have?

Thanks!

[2019-03-26 10:56] ced--ced commented on #12777
Hi @khouloudbelguith,

Would you have any news regarding my problem?

Thanks

[2019-03-26 11:01] khouloudbelguith commented on #13045
@guigplt, thanks to navigating to you BO => Advanced Parameters => information page => provide me the exact php version displayed.
Also, thanks to check with `php info` file, the exact version php displayed. Is there any difference?
Thanks!

[2019-03-26 11:06] guigplt commented on #13045
I confirm :
In BO information page : 7.0.21
In PHP info : 7.0.21

[2019-03-26 11:11] khouloudbelguith commented on #12777
@ced--ced, in my previous comment, I checked your files, but as you can see in my last screenshot, I can not read them.
thanks to provide me again those files.
Thanks!

[2019-03-26 11:17] ced--ced commented on #12777
@khouloudbelguith, I've changed their format. Is that better?

[nginx-app.status-log copy.txt](https://github.com/PrestaShop/PrestaShop/files/3007855/nginx-app.status-log.copy.txt)
[nginx_prestashop-170674-493492.cloudwaysapps.com.error-log copy.txt](https://github.com/PrestaShop/PrestaShop/files/3007856/nginx_prestashop-170674-493492.cloudwaysapps.com.error-log.copy.txt)
[nginx_prestashop-170674-

[2019-03-26 11:19] khouloudbelguith commented on #13045
@guigplt, thanks for your feedback.
On your side, thanks to remove the folder modules/autoupgrade, clear cache, check & feedback.

[2019-03-26 11:37] guigplt commented on #13045
I removed the folder and clear cache, but still not working...

[2019-03-26 11:59] guigplt commented on #13045
Do you know why it worked when I removed /var/cache the first time, and then it doesn't work anymore ?
As I asked you before, is it possible some parts have not been upgraded ?
And is it possible to reinstall last version of Prestashop ?

[2019-03-26 12:17] pperezclavei commented on #13042
The problem is that a product has been assigned to it.
When I access, on the CATEGORY page it is displayed correctly, however, you will not have to put the price of Germany. This is reproducible for example with a guest user.

[2019-03-26 12:20] seedsgallery commented on #13050
Hello, i know that this is a permission issue. Problem is that prestashop changes this permission all the time to xxx even if I change to 644, 666, 755 prestashop changes again to xxx, after i usem modules settings or clear cache. With 1.6.22 or 1.6.18 i do not have this problems. Can I provide you BO data so you can see allone what i am talking about?

[2019-03-26 12:20] seedsgallery commented on #13050
Sorry, and FTP data...

[2019-03-26 12:37] khouloudbelguith commented on #13045
@guigplt,
1. the first issue it could be related to the cache files permissions, to don't have write/read permission to the cache folder.
2. It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.1
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.1 here: https://github.com/P

[2019-03-26 12:44] matks commented on #12907
Hi @Eolia, thank you for the suggestion. So this is an improvement of https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L781 and https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L800, right ?

If we look closer at this `public static function cleanPositions` 1st it updates the category positions then it updates the products linked to these categorie

[2019-03-26 13:10] mickaelandrieu commented on #13039
warning on that: there is no way to figure out if a module is native or not because we don't tag native modules with a specific tag or parameter. This can't be addressed at the translation level, but maybe at "module" level?

What do you suggest to inform the developer? I guess documentation is the solution :/

Workaround suggested when we want to use the new translation system in the modules => h

[2019-03-26 13:26] KHATERSAID commented on #13030
Hello
I delete the module everywhere
I empty cache dev / prod + smarty + cache
recompile by force
I replace the file ordervoice php and tpl
I also delete everything that is in reference with this module in overide
I still have this error message
I saw on google many people we have the same problem as me but never a solution
I'm lost
![lost](https://user-images.githubusercontent.com/39734318/550005

[2019-03-26 13:40] khouloudbelguith commented on #13030
@said4440, always the same issue, it is related to the method name "getDeliveryNumberFormatted" which is provided by your custom module.
You need to contact the module author about this issue.
Thanks!

[2019-03-26 13:46] Eolia commented on #12907
Hi @matks
The first updates the position of the products IN the category passed in parameter. (The positions of the categories themselves are not in this table but in ps_category_shop)

The second is useless. What important element of these products has been updated? No.
The position is the same, it's just the index number that is changed.

Prestashop wrote this required function because the numbe

[2019-03-26 14:08] matks commented on #12907
I understand your point and it seems relevant but I've been able to trace this feature to http://forge.prestashop.com/browse/PSCSX-6664 so it's hard to remove it as it was a feature request validated and implemented way before me ^^ . If they did it, it probably is useful at least to some extent. The JIRA ticket mentioned hook not being executed, maybe the `date_upd` timestamp is updated on purpos

[2019-03-26 14:10] khouloudbelguith opened #13056 "Migrated page: ids are changed without justifications"
**Describe the bug**
After the migration of some pages to symfony, some ids are changed without justifications which broken the automatic test.

**Languages page**
1. The search button changed from `id="submitFilterButtonlang"` to **No id**
2. The table language changed from `id="table-lang"` to `id="language_grid_table"`
3. The add new language button changed from `id="page-header-desc-lang-new_l

[2019-03-26 14:22] #10543 closed, assigned to zuk3975

[2019-03-26 14:33] Peter4661 commented on #13041
Hi  khouloudbelguith ,

Thank you for your answer. I see this item is open since August 2018 with minor priority.

I would like to give my opinion about priority to get it moved up on the priority list.

No doubt you are aware of, customers don't like to see shipping cost.  In the Netherlands, large shops which are sending out hunderds of parcels every day have the advantage of negotiating for bet

[2019-03-26 14:43] khouloudbelguith commented on #13050
@seedsgallery, to be sure, in my case it is OK, I checked with PS1.7.5.1.
The var/cache/dev/appParameters.php file is generated with 644 permissions.
In your case you use the opcache, did you use this solution ?https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-431596422
Have you tried to edit the opcache config?
Thanks!

[2019-03-26 14:51] khouloudbelguith commented on #13056
Hi @matks, we should have justifications for these ids.
ping @mbadrani
Thanks!

[2019-03-26 14:56] Eolia commented on #12907
You are serious ?
The product is updated in the previous function updatePosition ($ way, $ position) => https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L741

Why modify ALL products?

Moreover, a hook never triggers on a direct update in database, only if you use a Model object or launch a Hook :: exec (...) as on the line https://github.com/PrestaShop/PrestaShop/blob/dev

[2019-03-26 15:04] Eolia commented on #12907
And in the case described above (product deletion) it is useless to update it because it no longer exists^^

[2019-03-26 15:08] maserman commented on #12994
Hi

I've managed to parse with a 'straight' php file using SimpleXML as below...

How can I use adapt this to use with Smarty Template??

`<?php
$html = "";
$url = "http://news.google.com/?output=rss";
$xml = simplexml_load_file($url);
for($i = 0; $i < 3; $i++){

    $image = $xml->channel->item[$i]->children('media', True)->content->attributes();
    $title = $xml->channel->item[$i]->title;
    $

[2019-03-26 15:18] khouloudbelguith commented on #13042
@pperezclavei,

What do you mean exactly? => You created a specific price for such country (Germany)?

This issue occurs after your update? "Within the hook "hookDisplayHeader" and "hookHeader" I have added the country Germany in a fixed way, if yes, this is not the correct solution.
Thanks to check & feedback.

[2019-03-26 15:21] guigplt commented on #13045
1. The permissions on /var/cache are 755 and subfolder 775.
2. Difficult to see if there are missing columns in database. Can I import this structure in my database to update it ?
3. Can I re-install last prestashop without starting from scratch (or downgrade to 1.7.5.0 with 1-click upgrade, and then upgrade again to 1.7.5.1) ?

[2019-03-26 15:26] khouloudbelguith commented on #13021
@matteolavaggi, in my case, I did not manage to reproduce the issue with PS1.7.5.1 as described in my previous screen record: https://drive.google.com/file/d/17otcxDg7Skefv5cwQcZUWuwG2Qwt-RyC/view & there is no php error log or exceptions to understand this problem.
@marionf, could you please try to reproduce this issue.
Thanks!

[2019-03-26 15:34] matteolavaggi commented on #13021
Why you try to reproduce to a different version that has different bug
...... its a mistery ^^

Il giorno mar 26 mar 2019 alle ore 16:26 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

www.pineappleitaly.com/p

[2019-03-26 15:41] khouloudbelguith commented on #13045
@guigplt, yes, you can make a downgrade to PS1.7.5.0 then upgrade to 1.7.5.1.
But make sure to have always backup to avoid problems.
Before that, did you use a custom theme? if no, thanks to check if you have overrides, because the method "initLogoAndFavicon" doesn't exist in the FrontController.php class
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/classes/controller/FrontController.php

[2019-03-26 15:47] #10596 closed, assigned to nobody

[2019-03-26 16:02] guigplt commented on #13045
Ok so I think the upgrade did not work correctly because I have this line on function displayMaintenancePage() in FrontController.php class :
$this->context->smarty->assign($this->initLogoAndFavicon());

I reinstalled 1-Click Upgrade module but I don't see how to downgrade.

[2019-03-26 16:03] khouloudbelguith commented on #13021
@matteolavaggi, the PS1.7.5.1 is the last version released, that's why we test with this version.
I tried with PS1.7.2.4 & also it is OK.
https://drive.google.com/file/d/1hCf0CEWiWZDkWTlV43lQn7LatOD83U1I/view
Thanks!

[2019-03-26 16:23] khouloudbelguith commented on #13045
@guigplt, in the upgrade configuration page, scroll down to the bottom of the page, you can find the ROLLBACK section, select your backup & Click on the "ROLLBACK" button.
Thanks!

[2019-03-26 16:24] khouloudbelguith commented on #13007
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-26 16:40] guigplt commented on #13045
I did not make backup because last time I did it, it was too long and it failed.
Isn't it possible to simply reinstall the upgrade ?

[2019-03-26 16:47] khouloudbelguith commented on #13045
@guigplt, no, your database is just upgraded to the last version PS1.7.5.1, so can not re-install the upgrade.
Thanks!

[2019-03-26 16:53] khouloudbelguith commented on #12777
@ced--ced, Yes now your files can be read, but there are no errors related to your issue.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help yo

[2019-03-26 16:53] #12777 closed, assigned to nobody

[2019-03-26 16:59] crishnakh commented on #11172
But I have the problem with carrier filters. It's like when you add filters on discount for carriers and for products, yo got empty delivery method.

[2019-03-26 17:14] MSG47 commented on #12915
Hi @khouloudbelguith

Thank you kindly and apology for my late response.

I have tested my shop on another PC to recheck and validate – but situation / lags are the same.

Having said that (considering also the tests you have made) it drives me the assumption the problem is related to the number of combinations per product: ~3500 combinations per product (4 attributes and multiple options) vs 260

[2019-03-26 17:51] IranDec commented on #12777
Hi @khouloudbelguith
my host disable putenv() and I can't access to debug place,  I send several messages to my host to enable that option but they don't accept to do it.
 is it any other solution to check the error log of the product page?

[2019-03-26 20:45] cr998 opened #13061 "The lines inside table > tbody payments in orders tab go out of their coantiner"
**Describe the bug**
The lines inside table > tbody payments in orders tab go out of their coantiner

**To Reproduce**
1-Create one order
2-Go to this order
3-Adjust resolution to 1423px of width

**Screenshots**
![bug prestashop](https://user-images.githubusercontent.com/6900835/55032123-7a1e0f80-5010-11e9-880d-fc1161d19d96.PNG)

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version

[2019-03-26 23:18] Flower7C3 commented on #9650
I also have this issue in version 1.7.5.0.

Not logged person is unable to download invoice, because URL does not have `secure_key` parameter. It should be added by `\PrestaShop\PrestaShop\Adapter\Presenter\Order\OrderDetailLazyArray::getInvoiceUrl` with `\HistoryControllerCore::getUrlToInvoice` but `$context->cookie->is_guest` is not exists. So on summary after order in theme file `templates/cust

[2019-03-26 23:34] Flower7C3 commented on #9650
**I found solution.**

There is no data in context cookie, but it occurs in context customer. So just modify if statement where **is_guest** is checked in `HistoryController` and save it as `override/controllers/front/HistoryController.php` file:

[code]

[2019-03-27 04:57] lyion92 opened #13062 "Unable to access certain tab of the back office"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'back office'
2. Click on 'shop parameters -> general'
3. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2

I have tried install differen

[2019-03-27 08:20] khouloudbelguith commented on #13061
Hi @cr998,

I did not manage to reproduce the issue with PS:1.7.5.1 and with a resolution to 1423px of width.
I attached a screenshot.
![Capture du 2019-03-27 09-17-06](https://user-images.githubusercontent.com/16067358/55060312-7bcbef80-5071-11e9-8af6-0e74c7bfcf4b.png)
Thanks to chech and feedback.

[2019-03-27 08:35] khouloudbelguith commented on #12777
Hi @IranDec,

To check the error log, it is necessary that the debug mode is enabled.

[2019-03-27 08:59] marionf opened #13064 "Update module statslive following migration of customer's page"
In statistiques > Customers on line, there is an old link

![capture d'écran_1203](https://user-images.githubusercontent.com/13449658/54769090-d3e19c80-4c00-11e9-85b5-c5f39af0254b.png)

_Originally posted by @marionf in https://github.com/PrestaShop/PrestaShop/pull/12971#issuecomment-475311022_

[2019-03-27 09:10] Codencode opened #13065 "Translation of the new form address field"
It's not possible to translate a new address form field because the CustomerAddressFormatterCore::getFieldLabel() method is private and therefore cannot be used by overriding the class.
Also in this method (CustomerAddressFormatterCore::getFieldLabel()) there are no hooks to use.
I added the new field updating the 'format' field of the AddressFormat class.
Thanks.

[2019-03-27 09:36] seedsgallery commented on #13050
Hello @khouloudbelguith i did not try https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-431596422 since i do not have manual and do not know where to edit opcache config file.
Regards

[2019-03-27 10:10] jolelievre commented on #12722
Yes actually we have a function `add_new_tab_17` which does it. I integrated this bug fix in another PR along with other upgrade scripts https://github.com/PrestaShop/PrestaShop/pull/13048

[2019-03-27 10:19] renatox57 commented on #12998
Hello khouloudbelguith,
thank you for your answers. I have rebuild completly the import file and now it work.

I have a new problem about tax rule group ID. When importing products I have this error :
"Some errors were detected. Please check the details:
id_tax_rules_group (ID 9) Unknown tax rule group ID. You need to create a group with this ID first."

Is there a way to import the taxes ?

Thank

[2019-03-27 10:32] PierreRambaud commented on #12040
Thanks @arnaudschaeffer for #12391

[2019-03-27 10:32] rokaszygmantas opened #13068 "Invalid mysql syntax during upgrade to 1.7.6"
**Describe the bug**
Database upgrade file contains invalid sql syntax, which will cause an error during prestashop upgrade to 1.7.6

**To Reproduce**
It would occur during prestashop upgrade from 1.7.5 to 1.7.6, but we cannot test that easily while 1.7.6 is not released.

**Screenshots**
Problematic code: https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.6.0.sql#L2

[2019-03-27 10:46] khouloudbelguith commented on #13050
Hi @seedsgallery,

You should check with your host.

Thanks!

[2019-03-27 10:50] khouloudbelguith commented on #13065
Hi @Codencode,

Do you mean the "Other" field?

Thanks!

[2019-03-27 10:58] khouloudbelguith commented on #12998
Hi @renatox57,

Is your new problem related to the old?

[2019-03-27 11:02] mickaelandrieu commented on #9732
it's still a WIP => "In progress"

[2019-03-27 11:19] lesept12 opened #23319 "Unchecked checkboxes leaving buttons active"
Hello,

I have activated the checkboxes in the account creation form, in the client account and in the contact form. However I have a problem with the checkboxes in the account creation form and in the client account, so I need your help.
I have indeed noted that theses checkboxes leave the "Register / Save" buttons active if they are not checked whereas it's not the case for the contact form wher

[2019-03-27 11:36] jcvoyeux opened #13070 "Webservices : modify categories"
When we modify categories by webservice. The displayed order is lost.

To solve the problem, the order should be given when we call the categories, (we should not modified it) then applyed.

[2019-03-27 11:41] keithg777 commented on #10377
thank you very much...save my time

[2019-03-27 11:52] jcvoyeux opened #13071 "Webservices : how to set the Availability preferences of a product"
I connect my ERP to Prestashop (by using CURL in command line).
My users are not friendly "webuser" so I try to make everything in the ERP.
I didn't see in product's API how to set the availability preference of a product.

Can you add it in PRODUCT webservices ?

[2019-03-27 11:53] seedsgallery commented on #13050
Hello @khouloudbelguith switching opcache to of, solved problem.

[2019-03-27 12:53] Codencode commented on #13065
Hi @khouloudbelguith,
No, I'm referring to new fields added to the form.

Thanks.

[2019-03-27 13:16] khouloudbelguith commented on #13050
Hi @seedsgallery

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-03-27 13:16] #13050 closed, assigned to nobody

[2019-03-27 13:49] pperezclavei commented on #13042
I added Germany in a fixed way to do the test.

The objective is to change the country from a popup and show its prices, regardless of the country where you are or have defined in the shipping address (in the case of registered customers).

What should I change so that the prices are from the selected country? Seeing that changing the "$this->context->country" does not work for me.

Thank you

[2019-03-27 13:55] khouloudbelguith commented on #13071
Hi @jcvoyeux,

I used this script.

[code]

Thanks to check & feedback.

[2019-03-27 14:04] matks commented on #12907
As you said for deletion usecase, `cleanPositions` can be called outside of `updatePosition`, sounfortunately we cannot rely on `updatePosition` for the `upd` update.

Why modify ALL products ? That's a good question indeed. I agree with you that most merchants probably do not need the timestamps to be updated following a product removal or position update. But this JIRA ticket was created by some

[2019-03-27 14:10] khouloudbelguith commented on #13042
Hi @pperezclavei,

This is not the correct solution.
There are 2 solutions: enable the geolocation to know which country is the customer or with the address step.

Thanks!
                                    -

[2019-03-27 14:10] eternoendless commented on #13039
I think you misunderstood what I meant:

This **actually is a problem that needs to be solved**. As a module developer, I shouldn't _need_ to be aware if my module is native or not, I should just be able to use `trans()` and live happily ever after.

[2019-03-27 14:15] eternoendless commented on #11841
Partially done in #11321, the rest will be done in #13039

[2019-03-27 14:16] #11841 closed, assigned to mickaelandrieu

[2019-03-27 14:17] khouloudbelguith commented on #13070
@PrestaShop/prestashop-core-developers, what do you think?

[2019-03-27 14:26] cr998 commented on #13061
Tryit again whit 900px x 500px

![fix css prestashop](https://user-images.githubusercontent.com/6900835/55083976-b733e180-50a4-11e9-8869-6a850a717c2c.PNG)

[2019-03-27 14:37] ryandanthony opened #13074 "X-Forwarded-For not supported properly"
**Describe the bug**
Given an installation of PrestaShop behind a reverse proxy / load balancer, I am seeing the following issues:

- When a user comes to the front office, the client IP is incorrectly evaluated as the IP address of the proxy/load balancer, and it ignores the X-Forwarded-For headers. This makes the "Visitors online" screen incorrect. (and likely other things)

- Maintenance Mode a

[2019-03-27 14:40] jcvoyeux commented on #13071
Hello,

Thank you for your answer.
Witch value set the Availability preferences ?

available_for_order set if it can be bought
active set the visibility
on_sale display "Promo"

[2019-03-27 14:41] Integraelec opened #13075 "Unable to access back office Prestashopexception"
I get a presatashop exception when trying to access the back office, (Error 500) appears when access web-site from the front. Here is the back office exception :

102.             throw new PrestaShopException('Link to database cannot be established:'.$e->getMessage());

What does this mean and how can it be fixed?

[2019-03-27 14:41] khouloudbelguith commented on #13065
@Codencode, you have to create a new class "CustomerAddressFormatter"  who inherits from "CustomerAddressFormatterCore",  then you can add the function "getFormat()" to create the wish field.
For the private method, you can redefine it again.

Thanks to check and feedback.

[2019-03-27 14:47] khouloudbelguith commented on #13075
Hi @Integraelec,

When this message appears, it means your database is down. Please contact your hosting provider, which is the only one that can do anything.
Thanks!
I close the ticket, feel free to open a new one when needed.

[2019-03-27 14:48] #13075 closed, assigned to nobody

[2019-03-27 14:48] Integraelec commented on #13075
OK Thank You

[2019-03-27 14:50] khouloudbelguith commented on #13071
@jcvoyeux, the available_for_order.

[2019-03-27 14:54] Eolia commented on #12907
Definitely, no.

I re-read the initial problem:
"Both hooks will not be executet when change the position via drag and drop."
and
"I think Prestashop should update the date_upd event when a user change the position."

The Hook :: exec() did not exist before in the upadePosition() function, it was added at this time.

When is called the functions cleanPosition ()? Only by
Product :: deleteCategory(

[2019-03-27 15:06] khouloudbelguith commented on #13061
@cr998, I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-03-27 15:09] jcvoyeux commented on #13071
@khouloudbelguith I think we don't speak about the same information.
available_for_order modify "Available for order" in the "options" of products.
Me I want to change "Availability preferences" in the "Quantities" of products.
Behavior when out of stock
( ) Deny orders
( ) Allow orders
( ) Use default behavior (Allow orders)

[2019-03-27 15:19] jcvoyeux commented on #13070
Here what I did :
I sent 10 categories with my ERP (and webservices). My customer asked me to change the order. I did it directly in prestashop. he changed the name of a category in the ERP. The change has been sent to prestashop. The order has been lost.
JC

[2019-03-27 15:27] Codencode commented on #13065
I created the CustomerAddressFormatter class in "override/classes/form/" with the getFieldLabel() public method but it doesn't work.
If I change the scope of the "getFieldLabel" method of the "CustomerAddressFormatterCore" class from "private" to "protected" it works.
Thanks.

[2019-03-27 15:28] PierreRambaud commented on #9992
In few weeks / days, code freeze is on Friday

[2019-03-27 15:29] khouloudbelguith commented on #13065
@Codencode, your problem is solved?

[2019-03-27 15:30] jcvoyeux commented on #13071
I need this option because some products stay available even if they are out of stock but other not and could not be bought any more. I must set this field in each item.

[2019-03-27 15:52] Codencode commented on #13065
No, because the "getFieldLabel" method of the CustomerAddressFormatterCore class is private and is called by the "getFormat" method of the same class and therefore the "getFieldLabel" method of the CustomerAddressFormatter class is not called.

class "CustomerAddressFormatter" (file override/classes/form/CustomerAddressFormatter.php):

`class CustomerAddressFormatter extends CustomerAddressFormatt

[2019-03-27 15:59] khouloudbelguith commented on #13074
Hi @ryandanthony,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

[2019-03-27 16:20] rblaurin commented on #12962
@Matt75, I made some changes to the SQL code. What do you think now?
[code]

[2019-03-27 16:27] #12591 closed, assigned to PierreRambaud, colinegin

[2019-03-27 16:28] #9691 closed, assigned to nobody

[2019-03-27 16:28] #12040 closed, assigned to PierreRambaud

[2019-03-27 16:30] khouloudbelguith commented on #13062
Hi @lyion92,

Is there any other script on your site/app that does any session manipulation outside of symfony's control?

Thanks!

[2019-03-27 16:35] simonecicognani commented on #12170
Reproduced in PS1.7.4.4
- Account with just shipping address (billing is same as the shipping)
- Remove check "Use this address also for the billing"
- Add the billing address
So now I have 3 shipping addresses and 3 billing addresses

[2019-03-27 16:42] marionf commented on #9937
Duplicate of #11742

[2019-03-27 16:42] #9937 closed, assigned to jolelievre, MatShir

[2019-03-27 16:52] Matt75 commented on #12962
@rblaurin Yes this should work, I guess

But this fix doen't go to `1.7.0.0.sql` because issues related to this errors comes from people who already use PrestaShop 1.7 and these people have to execute the fix
So https://github.com/PrestaShop/PrestaShop/pull/12666 should be reverted and another should be create in `1.7.6.0.sql` to fix all this configuration keys :

Configuration key | Used in
-----

[2019-03-27 16:54] khouloudbelguith commented on #13071
@jcvoyeux, these options do not exist.
@PrestaShop/prestashop-core-developers , what do you think?

[2019-03-27 16:57] Quetzacoalt91 commented on #12962
This makes sense and we can move forward.

However, regarding the deadlines about 1.7.6.0, I guess this is too late for having this improvement in it. We can revert this PR and take the time we need to make another one for 1.7.7.0.

[2019-03-27 17:50] Maofree opened #13080 "Problem when a carrier is selected for a specific product when other products are added to the cart"
Hi
if I have two carriers
regular carrier and a free shipping, but this is a simple example, you can use more than two carriers

now I set as default carrier the regular shipping and then for one product like "Hummingbird printed t-shirt" I set in its shipping tab the carrier "free shipping".
if I go to the front-office add I add this product to the cart all is ok the shipping cost is equal to zer

[2019-03-27 17:52] cr998 commented on #9673
I am working on it

[2019-03-27 17:57] cr998 commented on #9673
What dou you think about this @khouloudbelguith ?

[2019-03-27 18:11] ryandanthony commented on #13074
I finally had a few minutes to put together a git repo that replicates the environment using docker.
https://github.com/ryandanthony/prestashop-proxy-issue

[2019-03-27 18:32] rblaurin commented on #12962
Yes, that's right. I will adapt the code for all those configuration keys and make another PR then.

[2019-03-28 01:32] TemKaSD opened #13082 "FIx lang"
Hello. page: /index.php?controller=order-confirmation
Lang: RU

Fix:

Replace:

![Screenshot_1](https://user-images.githubusercontent.com/6318282/55123150-35e45980-514d-11e9-87ae-9f63f67d48f9.jpg)

[2019-03-28 01:34] TemKaSD commented on #13082
**order confirmation** in breadcrumb translate: Подтверждение заказа

[2019-03-28 05:48] morfin commented on #11721
This is how I fixed issues on Apache + php-fpm:

Edit php.ini and set
cgi.fix_pathinfo=1

Edit pool.d/www.conf and set
security.limit_extensions =

Notice that I set limit_extesions to blank, thus allowing all extensions, otherwise a path like "index.php/catalog" will throw an "Access denied" exception. BO uses different url's like that one, without a .php extension and without using mod_rewrite r

[2019-03-28 07:31] khouloudbelguith commented on #13074
Hi @ryandanthony,

Your link is not accessible, it provides me an error 404.
Thanks for checking it

[2019-03-28 07:36] khouloudbelguith commented on #13082
Hi @TemKaSD,

Thanks to adding a short description of your issue and add steps to reproduce it in a new comment.

[2019-03-28 07:58] lyion92 commented on #13062
No. This is fresh install

[2019-03-28 08:19] #12796 closed, assigned to marionf, colinegin

[2019-03-28 08:19] #11692 closed, assigned to nobody

[2019-03-28 08:31] TemKaSD opened #13083 "Remove the link in the last item in breadcrumb for SEO"
Hello. For SEO, it is useful when the page does not link to itself.

![Screenshot_1](https://user-images.githubusercontent.com/6318282/55142120-98f2e200-5187-11e9-8c8f-8e96cad9433d.jpg)

Need remove link from last item

[2019-03-28 09:42] khouloudbelguith commented on #13083
@colinegin, @marionf, what do you think?

[2019-03-28 09:54] marionf opened #13084 "Translations are not saved"
**Describe the bug**
Translations **BO** and **other** are not saved

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Translations
2. Select back office translations or other translations
3. Select your language
4. Click on edit
5. Change a translation
6. Click on Save
7. You have the successful green message
8. Refresh the page
9. It's not saved

**Additionnal informati

[2019-03-28 09:59] marionf opened #13085 "PrestaShop inception in new order page"
If I create a new order, click on add a new customer and click on Cancel, I still have the PrestaShop's inception

![capture d'écran_1232](https://user-images.githubusercontent.com/13449658/55016422-00c1f500-4fef-11e9-88cd-9a84e334099e.png)

_Originally posted by @marionf in https://github.com/PrestaShop/PrestaShop/pull/13043#issuecomment-476742903_

[2019-03-28 09:59] JessicaCr opened #13086 "Error 500 suite cache vidé"
**Describe the bug**
Bonjour,
après avoir vidé le cache de prestashop, la page error 500 est apparue. Et impossible d'acceder au back office, toujours cette page affiché
Après avoir discuté sur le forum de prestashop, apparemment c'est une "fausse" erreur d'après les fichiers ftp.log et error.log

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://latelierteinture.fr/admin7066
2. C

[2019-03-28 10:00] khouloudbelguith commented on #13065
@Codencode,

Did you add the function "getFormat()" in the class "CustomerAddressFormatter"?

Thanks!

[2019-03-28 10:13] blerimbunjaku commented on #9680
We now also have the same problem with the properties. They multiply every time we click Save. Even if no values have been entered. We use PrestaShop version 1.7.5.1. und PHP version 7.1.27

[2019-03-28 10:18] khouloudbelguith commented on #13080
Hi @maofree,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-03-28 10:23] Prestaworks commented on #11847
So while you wait for discussing the changes on the method, are you going to change the bad char in the file so it will atleast work in Sweden?

[2019-03-28 10:27] khouloudbelguith commented on #13086
Hi @JessicaCr,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cre

[2019-03-28 10:33] Eolia commented on #13086
More info here: https://www.prestashop.com/forums/topic/960396-impossible-de-se-connecter-au-backoffice-suite-cache-vidé

[2019-03-28 10:39] 123monsite-regis opened #13087 "BO : Symfony New forms : Harmonise function getLanguages()"
Hi,

there is several function getLanguages()
both on : `src/Adapter/LegacyContext.php`

[code]

and On : `classes/controller/AdminController.php`

[code]
the two functions does not return the same langague order, this leads to issues on using `TranslateType` when creating modules using Synfony's forms as `src/PrestaShopBundle/Form/Admin/Type/TranslateType.php` hide or show per default the first L

[2019-03-28 10:54] #13013 closed, assigned to nobody

[2019-03-28 11:16] imartin1983 opened #13089 "Beloved "An error occurred while processing your request""
**Describe the bug**
Hi,
I have this error message "An error occurred while processing your request" below the add to cart button, when trying to increase quantity on the product page, or when I add to cart and click "continue shopping" button. It's a simple product, no parameters.

PS 1.7.5.1, PHP 7.2.16, MySQL 5.6.39, Apache, PHP limit 90 Mb.

It's a fresh install with a template and URL rewrite

[2019-03-28 11:20] matks commented on #13085
@marionf I added a commit in order to fix this in https://github.com/PrestaShop/PrestaShop/pull/13043 🤔strange the PR should have fixed that

[2019-03-28 11:23] Codencode commented on #13065
@khouloudbelguith

If I add the "getFormat" function in the "CustomerAddressFormatter" class I get other errors related to the "country" property because its scope is private.

Thanks.

[2019-03-28 11:26] JessicaCr commented on #13086
host : OVH
server setup and configuration : Prestashop 1.7.5.1 ?
Informations sur votre serveur Linux #1 SMP Thu Aug 23 15:15:40 CEST 2018 x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.2.14
debug mode report :
PHP error logs
apache error log
javascript console log
screenshots

[2019-03-28 11:27] JessicaCr commented on #13086
![image](https://user-images.githubusercontent.com/49023767/55154350-df7b1900-5154-11e9-9f4a-f1aef44a3414.png)

[2019-03-28 11:28] JessicaCr commented on #13086
![image](https://user-images.githubusercontent.com/49023767/55154394-033e5f00-5155-11e9-93fc-37cac498ec7a.png)

[2019-03-28 11:30] JessicaCr commented on #13086
![image](https://user-images.githubusercontent.com/49023767/55154496-44cf0a00-5155-11e9-906d-54be2ab4103a.png)

[2019-03-28 11:32] JessicaCr commented on #13086
Quand je vide le cache en mode debug
![image](https://user-images.githubusercontent.com/49023767/55154603-81026a80-5155-11e9-98f4-daf6ddf710c2.png)

[2019-03-28 12:30] bapa92 opened #13090 "Problem with managing the quantity of a simple product"
Good morning,

I have been trying to run a prestashop for several weeks and there are still problems with the setting.

In the catalog, the product entered the quantity, delivery and all other settings as in other products and still shows that it is unavailable.

I am not interested in the solution that despite the lack of stock you can order because the message SOLD OUT appears.

I attach a link

[2019-03-28 13:10] marionf commented on #13085
Oh yes, my bad

[2019-03-28 13:10] #13085 closed, assigned to nobody

[2019-03-28 13:19] khouloudbelguith commented on #13090
Hi @bapa92,

What is the exact version of PS did you installed?

Thanks!

[2019-03-28 13:25] YosraAk opened #13091 "Customer page migration : ids are changed without justifications"
**Describe the bug**
Some ids are changed after the migration of "Customers" pages to Symfony. These changements broke some automatic tests.

**customers page**

- Add new customer button: changed from id="page-header-desc-customer-new_customer" to id="page-header-desc-configuration-add"
- Customer form: changed from id="form-customer" to id="customer_filter_form"

**Add new customer page**

-  So

[2019-03-28 13:27] khouloudbelguith commented on #13089
Hi @imartin1983,

Is it the same issue reported here: #10178?

Thanks!

[2019-03-28 13:30] YosraAk commented on #13091
ping @mbadrani.

Thanks!

[2019-03-28 13:31] khouloudbelguith commented on #13091
Hi @matks, we should have justifications for these ids.

[2019-03-28 13:41] khouloudbelguith commented on #13087
@PrestaShop/prestashop-core-developers, what do you think?

[2019-03-28 13:42] #11742 closed, assigned to jolelievre, LouiseBonnard, MatShir

[2019-03-28 13:42] #12539 closed, assigned to jolelievre, MatShir

[2019-03-28 13:49] khouloudbelguith commented on #13065
@Codencode, all that you use is the private type you have to redeclare it in your new class.

Thanks!

[2019-03-28 14:04] khouloudbelguith commented on #13086
@JessicaCr, is your problem solved? because when I go to your BackOffice I do not know 500 error.
![13086](https://user-images.githubusercontent.com/16067358/55163793-b9607380-516a-11e9-9e67-c5802b894a82.png)

Thanks!

[2019-03-28 14:52] ryandanthony commented on #13074
@khouloudbelguith
Sorry about that, I forgot to make it public.

[2019-03-28 14:55] khouloudbelguith commented on #13062
Hi @lyion92,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-03-28 14:55] #13062 closed, assigned to nobody

[2019-03-28 15:23] #9736 closed, assigned to PierreRambaud

[2019-03-28 15:57] Codencode commented on #13065
@khouloudbelguith

If I do this, I have other problems.

Thanks!

[2019-03-28 16:00] khouloudbelguith commented on #13065
@Codencode, send us your created class.

Thanks!

[2019-03-28 16:17] eternoendless commented on #13044
Fixed by #13095

[2019-03-28 16:18] morghy1992 opened #13096 "How to insert flag SOLD OUT on products"
Hello,
hope you can help me.
I would like to insert the flag "sold out" when is out of stock.

Do you know how to do it?

Kind regards

[2019-03-28 16:27] Codencode commented on #13065
@khouloudbelguith

I attached 4 examples
example 1: no errors but it don't work
example 2: an error occurs concerning country property
example 3: an error occurs (Trying to get property of non-object)
example 4: an error occurs (Catchable Fatal Error: Argument 2 passed to CustomerAddressFormatter::__construct() must be an instance of TranslatorInterface, instance of ...)

Thanks.

[classes.zip](ht

[2019-03-28 16:29] JessicaCr commented on #13086
Bonjour

J'étais en mode debug, c'est pour ça

[2019-03-28 16:32] bapa92 commented on #13090
1.7.5.1

[2019-03-28 16:41] #10503 closed, assigned to rokaszygmantas

[2019-03-28 16:41] #12460 closed, assigned to YeLnatSs, jolelievre, LouiseBonnard

[2019-03-28 16:56] colinegin commented on #10542
I close this issue, an issue for theme custo has been created on the dedicated repo : https://github.com/PrestaShop/ps_themecusto/issues/9

[2019-03-28 16:56] #10542 closed, assigned to zuk3975

[2019-03-28 17:23] jolelievre opened #13097 "CategoryController: replace legacy product association with proper CQRS command"
**Is your feature request related to a problem? Please describe.**
As seen in this PR https://github.com/PrestaShop/PrestaShop/pull/13014
https://github.com/PrestaShop/PrestaShop/pull/13014#pullrequestreview-220013370
The association between the product and the category is managed in the controller

**Describe the solution you'd like**
This should be managed via CQRS command either with an optiona

[2019-03-28 19:39] imartin1983 commented on #13089
Sorry but there is no clear explanation of the solution. Apart from guys posting ideas and some test configurations and code. It seems like a common issue. It happens on products without variation. Looks like some tables are missing or something...

[2019-03-28 20:45] skipy opened #13098 "Prestashop Category Tree Block not showing all categories"
Hi there!

So I run a prestahop 1.7 website and I have the category tree block in the left part of the website. I've set up to show the Home category with 0 maximum depth so all my categories will be shown.

But it displays only 7 categories even if in the Home category there are 18 all of them being activated. Also, only 4 subcategories are shown for each main category.

Does anyone encountered t

[2019-03-28 23:29] kpodemski commented on #13096
Hey,

from 1.7.6 you would be able to use custom hook for this:
https://github.com/PrestaShop/PrestaShop/pull/11614

[2019-03-29 01:25] #12458 closed, assigned to YeLnatSs, jolelievre

[2019-03-29 07:55] khouloudbelguith commented on #13089
Hi @imartin1983,

Have you tried to check this fix: #9390?

Thanks!

[2019-03-29 08:05] khouloudbelguith commented on #13098
Hi @skipy,

I did not manage to reproduce the issue with the PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1BO1c5HI1p-8qxfoBFVWENxlrZcKxS0dI/view
Are you using the template by default of Prestashop?

Thanks!

[2019-03-29 08:21] colinegin commented on #10581
This page includes listing + add new credit slip (different behaviour than other BO pages)

[2019-03-29 08:32] khouloudbelguith commented on #12510
Hi @maviteknoloji,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-29 08:32] #12510 closed, assigned to nobody

[2019-03-29 08:34] khouloudbelguith commented on #9917
Hi @mbmleone,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-29 08:34] #9917 closed, assigned to nobody

[2019-03-29 08:39] khouloudbelguith commented on #12684
Hi @Goretsv,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-29 08:39] #12684 closed, assigned to nobody

[2019-03-29 08:41] khouloudbelguith commented on #12671
Hi @iservng,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-29 08:41] #12671 closed, assigned to nobody

[2019-03-29 08:59] khouloudbelguith commented on #13090
Hi @bapa92,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestasho

[2019-03-29 09:03] matlopes opened #13099 "No formatted Invoice number before check or wire payment"
When an order is placed, no formatted invoice number appear on the invoice pdf sent by mail to customer.
Correct formatted number appears only once payment is validated (in the pdf sent by mail), or, after a while, through the order listing pages (both public and backend), with the "generate" or "download invoice pdf" link.
NB: the shop i'm talking about only has check or wire transfer payment.

S

[2019-03-29 09:06] HECOSFAIR opened #13100 "Le prix de la déclinaison par défaut s’affiche pour toutes les déclinaisons"
Bonjour,

Je fais suite à mon cas précédent et merci pour votre réponse rapide.
J’ai bien recréé les déclinaisons comme vous me l’avez indiqué. Dorénavant, les clients peuvent sélectionner les déclinaisons (qui s’affichent sur le site) et les ajouter à leur panier.
Cependant, c’est uniquement le prix de la déclinaison par défaut qui s’affiche pour toutes les déclinaisons. Mais quand on les ajoute

[2019-03-29 09:33] khouloudbelguith commented on #13065
Hi @Codencode,

In example 4 please add the script "use Symfony\Component\Translation\TranslatorInterface;" before the declaration of "class CustomerAddressFormatter extends CustomerAddressFormatterCore".

Thanks!

[2019-03-29 09:39] Cr2Agency commented on #13086
Bonjour, avez vous trouvé une solution ?
J'ai exactement le même problème suite à une migration (de local vers OVH)

[2019-03-29 09:45] marionf commented on #11547
On migrated page, there is still 500 error for Modules and modules catalog

![capture d'écran_1259](https://user-images.githubusercontent.com/13449658/55223967-b3709e00-520f-11e9-81b3-dbf33453e86d.png)

[2019-03-29 09:47] Quetzacoalt91 commented on #12986
You can already use the hook `displayExpressCheckout` for this case.

[2019-03-29 09:53] khouloudbelguith commented on #13099
Hi @matlopes,

Could you please add screenshots or a video record to reproduce the issue.

Thanks!

[2019-03-29 09:54] JessicaCr commented on #13086
Non...

[2019-03-29 09:59] matlopes commented on #13099
I found the culprit : the editorder addon (https://addons.prestashop.com/fr/gestion-commandes/23760-management-des-commandes-edition-des-commandes.html).

When deactivated, trouble disappears...

I move the issue to the addon developper.

[2019-03-29 09:59] #13099 closed, assigned to nobody

[2019-03-29 10:05] Quetzacoalt91 commented on #12986
You can use the `displayNav1`, after making sure you display your reassurance  elements on the checkout page. :)

[2019-03-29 10:19] #13044 closed, assigned to eternoendless

[2019-03-29 10:20] #11613 closed, assigned to marionf

[2019-03-29 10:22] Codencode commented on #13065
@khouloudbelguith,

It works, but we have to redefine all the methods of the class "CustomerAddressFormatterCore" in the new class "CustomerAddressFormatter"

Thanks!

[2019-03-29 10:24] marionf opened #13101 "Runtime error on edit customer page"
**Describe the bug**
Runtime error on edit customer page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customers > customers
2. Click on edit
3. See error

**Screenshots**
![capture d'écran_1261](https://user-images.githubusercontent.com/13449658/55226405-39dbae80-5215-11e9-9b86-35a7878f14c9.png)

**Additionnal information**
PrestaShop version: develop
PHP version: N/A

[2019-03-29 10:26] marionf commented on #13101
@matks FYI

[2019-03-29 10:29] khouloudbelguith commented on #13100
Hi @HECOSFAIR,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1cjys9BJjUAbJcqi1liMkqrfwqaQMJqHQ/view

Thanks to check and feedback.

[2019-03-29 10:29] JorgeNogueiraLFMPro opened #13102 "Problem with Automatic Emails"
Hi,

I deactivated all submissions in the settings as you can see in the attachment. However, when I change the status of the orders, it sends the same e-mail to the customers to tell me how to change the order. I do not want this to send out automatic emails.

![enc](https://user-images.githubusercontent.com/49063138/55226674-75727a80-520d-11e9-9bdf-b23a6d325ef6.PNG)

Someone can help me?

[2019-03-29 10:32] khouloudbelguith commented on #13065
@Codencode, I close the ticket, feel free to open a new one when needed.

[2019-03-29 10:32] #13065 closed, assigned to nobody

[2019-03-29 10:40] Quetzacoalt91 commented on #12986
Done with https://github.com/PrestaShop/PrestaShop/pull/13103

[2019-03-29 10:45] khouloudbelguith commented on #13102
Hi @JorgeNogueiraLFMPro,

I did not manage to reproduce the issue with PS:1.7.5.1.
What is the exact version of PS did you used?

Thanks!

[2019-03-29 10:53] JorgeNogueiraLFMPro commented on #13102
My version is 1.7.5.0

[2019-03-29 11:38] Cr2Agency commented on #13086
C'est bon, j'ai trouvé pour ma part, j'ai supprimer tous les fichiers qui se trouve dans le dossier /var/cache.
J'avais 2 dossiers : dev et prod
J'ai supprimer les 2 dossiers (en faisant quand même 1 sauvegarde avant) vider le cache de mon navigateur et ça fonctionne.

[2019-03-29 12:02] skipy commented on #13098
Hi there!

[https://drive.google.com/open?id=18eUu9qyXOABEBhP7stvYGsMs9joCak4k](https://drive.google.com/open?id=18eUu9qyXOABEBhP7stvYGsMs9joCak4k)

I am using a different theme than default, but it doesn't matter, the behaviour still persists. I made this recording with the default theme.
My version is 1.7.0.

[2019-03-29 12:57] TeapotJames commented on #12949
Also have had the same issue and can confirm that disabling the Visual Composer module sorts the issue.

Am speaking to the VC module developers about this now.

[2019-03-29 13:04] #13101 closed, assigned to nobody

[2019-03-29 13:10] jolelievre opened #13107 "Simplify TranslatableType when constrains are used on parent and options level"
**Is your feature request related to a problem? Please describe.**
This issue comes from this discussion
https://github.com/PrestaShop/PrestaShop/pull/12995#discussion_r270376371

When we use a `TranslatableType` with multiple constraints (from parent level and in options) we need to set `error_bubbling` to false for the errors to be displayed correctly.

**Describe the solution you'd like**
This

[2019-03-29 13:11] #12799 closed, assigned to nobody

[2019-03-29 13:17] khouloudbelguith commented on #13098
@skipy, what is the exact version of the module ps_categorytree?

[2019-03-29 13:38] skipy commented on #13098
@khouloudbelguith v2.0.0
Thanks!

[2019-03-29 13:46] tone87 commented on #12949
the files comprimised in jscomposer module are :

/modules/jscomposer/assets/lib/vc_carousel/js/transition.js

/modules/jscomposer/assets/lib/bootstrap_modals/css/bootstrap.modals.css

/modules/jscomposer/assets/css/select2.css

remove or leave blank it. the module work correctly with or without this files ;-)

[2019-03-29 13:50] tone87 commented on #12949
the assistance gave me the new version, but anyway it has the same problems both in the modal and in the css of the backoffice in general.
I solved by removing those files I listed you before.

[2019-03-29 14:03] khouloudbelguith commented on #13086
Hi @JessicaCr,

Could you please try to clear cache from your project and your navigator and feedback.

Thanks!

[2019-03-29 14:46] #9924 closed, assigned to nobody

[2019-03-29 14:53] jolelievre commented on #13038
Thank you @sarjon

[2019-03-29 14:53] #13038 closed, assigned to nobody

[2019-03-29 14:56] wikao2 opened #13109 "Is there a version of PSWebServiceLibrary.php that works with PHP v 7.0?"
Hello everybody,
(_I hope I'm at the right place to report my issue. In contrary case, please excuse me._)
I have site A that runs on Prestashop 1.6.1.5 and to retrieve data on another site (site B) which also runs under Prestashop 1.6.1.5, I use a module "homemade" (by my predecessor) which uses, among other things, PSWebServiceLibrary.php.
When I change version of PHP (from version 5.6 to versio

[2019-03-29 14:59] bapa92 commented on #13090
Hi.

Version 1.7.5.1.
No logs and 0 errors
PHP 7.2
This ja simply produkt without combinations.
Other configuration is ok.

https://ibb.co/gFwBwGx

[2019-03-29 15:00] marionf opened #13110 "Recommended modules button isn't working when MBO is uninstalled"
**Describe the bug**
Recommanded modules button isn't working when MBO is uninstalled

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall MBO module
2. Click on Orders > orders > recommanded modules
3. See error

**Screenshots**
![capture d'écran_1264](https://user-images.githubusercontent.com/13449658/55241632-c13c1880-523b-11e9-9413-6199ab56a991.png)

**Additionnal information**
Pres

[2019-03-29 15:03] Belyce32 commented on #12421
Hi khouloudbelguith,

This subject is closed but I need to delete  **my website name** in all posts where it appears. Because this post comes up on google page when searching my company. Or could you do it for me please if I can't do it ?
There is 9 occurrences to delete named om**fil***.com  (* have been replaced, I can't write it one more time.)
Thank you :)

[2019-03-29 15:14] khouloudbelguith commented on #13102
@JorgeNogueiraLFMPro, with PS1.7.4.4 and PS:1.7.50 => it's OK.
@marionf, could you please try to reproduce it.

[2019-03-29 15:23] khouloudbelguith commented on #13098
@skipy, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-

[2019-03-29 15:25] khouloudbelguith commented on #13090
@bapa92, did you use the template by default of Prestashop?

[2019-03-29 15:27] ghost opened #13111 "var/cache/prod/AppParameters.php with 000 premissions"
When pressing the "Clear Cache" button, You get a 500 error, upon investigation, var/cache/prod/AppParameters.php has 000 permission, I need to change permission manually, then reload the page to fix the issie. Everytime.

[2019-03-29 15:28] bapa92 commented on #13090
No. I use interio

[2019-03-29 15:30] bapa92 commented on #13090
But  on classic theme has the same bug

[2019-03-29 15:37] khouloudbelguith commented on #13109
Hi @wikao2,

Thanks for your report.
As you can see here: the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
Your bug isn’t critical or a security issue, that’s why I close it.

Thanks!

[2019-03-29 15:38] #13109 closed

[2019-03-29 15:41] JorgeNogueiraLFMPro commented on #13102
@khouloudbelguith
I need the store to stop sending automatic emails to my customers. Just this, nothing more.

[2019-03-29 15:41] khouloudbelguith commented on #13111
Hi @Legendarior,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2019-03-29 15:47] eternoendless commented on #12773
An attempt was made but it was [left unfinished](https://github.com/PrestaShop/PrestaShop/pull/7890). It could be picked up and finished -- but don't think its "quick/easy".

[2019-03-29 15:56] ghost commented on #12773
Thanks @eternoendless,
Do you think it is better to work on it before or after we migrate the product page?

[2019-03-29 15:58] JessicaCr commented on #13086
ça a marché ! Merci beaucoup!

[2019-03-29 16:03] khouloudbelguith commented on #13090
@bapa92, do you have the same problem in the Back Office that the product quantity is equal to 0?

[2019-03-29 16:04] khouloudbelguith commented on #13086
@JessicaCr, I close the ticket, feel free to open a new one when needed.

[2019-03-29 16:04] #13086 closed, assigned to nobody

[2019-03-29 16:20] skipy commented on #13098
Hey again, @khouloudbelguith! And thank you for your time and patience.
First of all I've been wrong with the PS version. It is 1.7.3.0 and I've saw that after I've enabled debug mode.
So, I have a VPS with Centos 7, Apache Webserver with PHP 7.0.10
Console: [http://i64.tinypic.com/27zxb8l.jpg](http://i64.tinypic.com/27zxb8l.jpg)
Error_log: empty. The site runs smoothly except this part with the c

[2019-03-29 16:46] khouloudbelguith commented on #13096
Hi @morghy1992,

If your PrestaShop version is less than 1.7.6,  you have to add this script
" Hook :: exec ('actionProductFlagsModifier', array (
            'flags' => & $ flags,
            'product' => $ this-> product,
        )); " in the file "src / Adapter / Presenter / Product / ProductLazyArray.php" as stated in this commit " https://github.com/PrestaShop/PrestaShop/pull/11614/commits/05

[2019-03-29 16:57] molearnik opened #13112 "PrestaShop AddOn Store could issue some signed "AddOn download/purchase receipt""
**Problem**
AddOns publishers might need a mechanism that could prove that installed AddOn was really purchased/downloaded from the official PrestaShop AddOn Store AND for the particular webstore or merchant.
The similar need was discussed in [PrestaShop forum](https://www.prestashop.com/forums/topic/447662-prestashop-addons-api):
_Is there a feature (or API) from Prestashop Addons where publisher

[2019-03-29 21:27] go-sudo commented on #12667
CPU | Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz (8 core(s))
-- | --
Version | Plesk Onyx v17.8.11_build1708180301.19 os_CentOS 7
OS | CentOS Linux 7.6.1810 (Core)

Informations sur votre serveur Linux #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.2.16

Limite de mémoire : 5140M

Temps maximal d'exécution : 3000

Taille max. pour envoi de fichie

[2019-03-29 22:22] morghy1992 commented on #13096
@khouloudbelguith thank you for the reply.

I added the script into the file but I got errors. here the images

<img width="1115" alt="Schermata 2019-03-29 alle 23 46 37" src="https://user-images.githubusercontent.com/47249256/55266382-eef58180-527c-11e9-95cc-70b7e8d18f42.png">
<img width="1420" alt="Schermata 2019-03-29 alle 23 46 58" src="https://user-images.githubusercontent.com/47249256/552663

[2019-03-29 22:47] go-sudo opened #13114 "Moteur de recherche"
Hello
I can't get the product in search bar
CPU | Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz (8 core(s))
-- | --
Version | Plesk Onyx v17.8.11_build1708180301.19 os_CentOS 7
OS | CentOS Linux 7.6.1810 (Core)

https://drive.google.com/file/d/1tW-bUunBs5vEq0VzZajVxVwXL_2IT0v3/view

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavi

[2019-03-30 00:44] kpodemski commented on #13096
@morghy1992 you need to contact some PrestaShop developer to help you out, ask on the forum or something, it's not a good place for this, sorry

[2019-03-30 02:32] cr998 commented on #13061
It looks like the same
https://drive.google.com/file/d/1Te95n-2COLCJmIS4dWXyLeZ11rRnoI8-/view

[2019-03-30 07:17] TemKaSD opened #13117 "[8] Undefined index: ru"
Prestashop 1.6.0 DEV clear install
![Screenshot_4](https://user-images.githubusercontent.com/6318282/55272894-a63ad880-530f-11e9-9c92-66b29f8f4ade.jpg)

[2019-03-30 13:45] morghy1992 opened #13118 "Problem Quantities with combination 1.7.5"
Hello, I use PS 1.7.5
I notice that when I go on my products that has combination and I change adding 0 quantities
everything is ok but on the homepage of products it displays wrong quantities. Why?

Here some picture:
<img width="1178" alt="Schermata 2019-03-30 alle 14 44 43" src="https://user-images.githubusercontent.com/47249256/55276940-9e246e00-52fa-11e9-9a0f-93fee7eae747.png">
<img width="90

[2019-03-30 16:10] morghy1992 commented on #13096
I added this code into product.tpl

{block name='product_flags'}
                <ul class="product-flags">
                  {foreach from=$product.flags item=flag}
                    <li class="product-flag {$flag.type}">{$flag.label}</li>
                  {/foreach}
                </ul>
                {if $product.show_quantities <= "0"}
                     <li class="product-flag {$flag.t

[2019-03-30 17:57] RicRey1988 commented on #13028
I commented that although I deleted that folder the next day I realized that the button was again the same.

[2019-03-30 18:04] kpodemski commented on #13028
@RicRey1988 this is in browser cache, make sure that you refresh your browser few times, ctrl + f5 / cmd + f5

[2019-03-30 18:06] RicRey1988 commented on #13028
I commented that I deleted the entire cache, I even tried it on a new computer that had never entered my store, and the same thing happens.

[2019-03-30 18:16] esterflore1 commented on #12760
Hello,
is there a solution for this problem?
Thanks a lot for your help

[2019-03-30 23:34] jslomana2 opened #13120 "Unable to load template 'file:catalog/_partials/miniatures/product.tpl'"
Hi friends !!!
I have a fatal error 500:

Unable to load template 'file:catalog/_partials/miniatures/product.tpl'
in smarty_template_compiled.php line 96
at Smarty_Template_Compiled->render(object(SmartyDevTemplate))
in smarty_internal_template.php line 383
at Smarty_Internal_Template->_subTemplateRender('file:catalog/_partials/miniatures/product.tpl', 'eg_specialproducts|1|1|1|1|6', null, 9999, 3

[2019-03-31 03:14] MarcHe124 opened #13121 "Cannot add products to cart"
**Describe the bug**
Cannot add products to cart, will get fetal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Homepage http://longboxiang.ca/supermarket
2. Click on some product
3. Open dev tool, click add to cart
4. See the errror in network for cart request

**Screenshots**
[code]
![2019-03-29_194150](https://user-images.githubusercontent.com/12852794/55284434-6d106180-532b

[2019-03-31 09:53] Quetzacoalt91 commented on #13117
Hi there, the issue will be fixed by #13122

[2019-03-31 13:36] bapa92 commented on #13090
in the Back Office the  quantity is equal 100

[2019-03-31 20:01] #13121 closed, assigned to nobody

[2019-03-31 20:01] MarcHe124 commented on #13121
Resolved, it is a database issue

[2019-04-01 00:57] skipy commented on #13098
Found out that another module that I use, a vertical menu module, displays in the backend the same categories that the category tree module displays on the frontend.

[2019-04-01 02:08] #13117 closed, assigned to nobody

[2019-04-01 06:29] mauweb commented on #9662
una domanda ... l'asse sinistro dei valori a voi li riporta corretti ? perchè a me no.
a question ... does the left axis of the values report to you correct? because I don't.

[2019-04-01 07:30] marionf opened #13126 "Change checkout behavior"
**Describe the bug**
#12456 was not done completely
Here is what remains to be done:

The main difference vs current behaviour is that the user will always have to click on "Continue" to go from Step X to Step X+1, no matter if :

- he/she goes in the different steps for the first time
- he/she went to the step X and decided to go back to X-1 or X-2 to check or modify the information stored.

This

[2019-04-01 07:33] marionf commented on #13126
The main issue is if you try to change your address without clicking on Continue button, it's not saved and y
and you're not delivered where you wanted

[2019-04-01 07:36] marionf commented on #13126
@colinegin FYI

[2019-04-01 07:57] khouloudbelguith commented on #13114
Hi @go-sudo,

You can try to re-build the entire index. Go to Back-office => Configure => Shop Parameters => Search and click on "Re-build the entire index".

Thanks to check and feedback.

[2019-04-01 08:08] khouloudbelguith commented on #13120
Hi @jslomana2,

What is the exact version of PS did you used?
Did you use the template by default of Prestashop?

Thanks!

[2019-04-01 08:19] khouloudbelguith commented on #13112
Hi @PrestaShop/prestashop-core-developers, what do you think?

[2019-04-01 08:25] khouloudbelguith commented on #12757
Hi @maviteknoloji,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-01 08:25] #12757 closed, assigned to nobody

[2019-04-01 08:26] khouloudbelguith commented on #12740
Hi @rGaillard,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-01 08:26] #12740 closed, assigned to nobody

[2019-04-01 08:28] MarsDevPL commented on #12760
I use the WAREHOUSE theme and i just built the category page with internal
PageBuilder, so I solved this problem in such way.

sob., 30 mar 2019 o 19:16 esterflore1 <notifications@github.com> napisał(a):

--

MarsDevelopment Sp. z o.o
ul. Brochowska 21/10
52-019 Wrocław
NIP 8992810774
REGON 366648341
KRS 0000665452

[2019-04-01 08:31] khouloudbelguith commented on #13118
Hi @morghy1992,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1UVTEeP0mWwgVKYl0DSBRQmAuDT5xoWx3/view
What is the exact version of Prestashop did you used?

Thanks!

[2019-04-01 08:48] khouloudbelguith commented on #13096
Hi @morghy1992,

I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-04-01 08:48] #13096 closed, assigned to nobody

[2019-04-01 08:49] #12456 closed, assigned to PierreRambaud

[2019-04-01 08:54] khouloudbelguith commented on #13098
Hi @skipy,

Could you please try to deactivate the smart cache and check.

Thanks!

[2019-04-01 08:58] #13084 closed, assigned to nobody

[2019-04-01 08:58] skipy commented on #13098
Hi @khouloudbelguith !
In the backoffice all cache is deactivated.

Thank you and have a wonderful week!

[2019-04-01 09:08] skipy commented on #13098
Strange thing though. I was searching in the forums for cache updating and searched with phpmyadmin for the term "cache" in the database and the only results were:

PS_SMARTY_CACHE (with value 0)
PS_SMARTY_CACHE
SC_SETTINGS

and all of these in the configuration table.

[2019-04-01 09:21] PierreRambaud opened #13128 "Legacy pages are not correctly redirected when updating categories"
**Describe the bug**
Legacy pages are not correctly redirected when updating categories.
Ping @matks

**To Reproduce**
Go to an old legacy update page
http://ps-develop.localhost/admin-dev/index.php?controller=AdminCategories&id_category=9&updatecategory

**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55316923-bf5a9b00-546f-11e9-8172-23b50ff8c838.png)

**Additionnal inf

[2019-04-01 09:27] #10045 closed, assigned to YeLnatSs

[2019-04-01 09:32] morghy1992 commented on #13118
@khouloudbelguith

thank you for the replay.
I use 1.7.5

I went into : Catalog - Stocks and I need to change from there the quantities because if I'll go to the product - combination and add 0 quantities give me for example still 30 quantities available so I have to go in stock and change with -15 and - 15 to have 0.

I also notice when I went into phpmyADM that I do not have the file ps_stock_av

[2019-04-01 09:41] madsoliver commented on #11330
Same for a lot of languages.
Clean install and same error.
Please open this issue again.
Issue is still here on 1.7.5.1

[2019-04-01 09:51] khouloudbelguith commented on #13098
@skipy, thanks to disable the following modules:novblocktags, novnivoslide, novmegamenu, novverticalmenu, smartblog and check with the default theme.

[2019-04-01 10:03] khouloudbelguith commented on #13118
@morghy1992, it is not normal.

[2019-04-01 10:14] skipy commented on #13098
@khouloudbelguith I've already did that last week and did it again and nothing changed.

[2019-04-01 10:16] oceanshaw commented on #10161
pay attention to your icu version in your system,this may be the problem

[2019-04-01 10:21] khouloudbelguith commented on #13090
Hi @bapa92,

Thanks to check with this PR: #12655 .

[2019-04-01 10:23] morghy1992 commented on #13118
@khouloudbelguith do you know why? :(

[2019-04-01 10:24] Domnina opened #13129 "Leo panel tool"
Hi,
I wish to delete the **leo panel tool** from my website and reallly i can't found where can I desactive this.

[2019-04-01 10:24] khouloudbelguith commented on #13098
@skipy,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

[2019-04-01 10:24] #13098 closed, assigned to nobody

[2019-04-01 10:40] khouloudbelguith commented on #13129
Hi @Domnina,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author, they are the only ones to help you with it.
Thanks!
I close the ticket, feel free to open a new one when needed.

[2019-04-01 10:40] #13129 closed, assigned to nobody

[2019-04-01 10:53] Quetzacoalt91 opened #13130 "Some endpoints aren't migrated and need to be moved in new Controller"
**Is your feature request related to a problem? Please describe.**
Following #12708, some endpoints could not be moved in a controller with the migration going at the same time. The first objective was to deprecate these endpoints for PS 1.7.6 and duplicate them later.

**Describe the solution you'd like**
For a next minor version, the objective is to have an action in a controller running with sy

[2019-04-01 10:57] khouloudbelguith commented on #13118
@morghy1992, did you do an upgrade?

[2019-04-01 11:10] matteolavaggi commented on #13021
Where PS set in DB the root and related category? For the root there is a specific field, the related ?

Because i need to verify what i've found. Thanks

[2019-04-01 11:16] morghy1992 commented on #13118
@khouloudbelguith last months I did from 1.7 to 1.7.5

[2019-04-01 11:50] colinegin commented on #12659
#12999

[2019-04-01 12:32] #10544 closed, assigned to zuk3975

[2019-04-01 13:10] madsoliver opened #13131 "Language codes incorrect, causing error with tiny_mce and other js in AdminProduct"
Describe the bug
If we change the employee language to Traditional Chinese (TW) in BO, there have some error and the calendar windows cannot show up.

To Reproduce
Steps to reproduce the behavior:

When we goto Products / Category in BO, it will show "Uncaught ReferenceError: file_not_found is not defined". And I checked in the server /js/tiny_mce/langs/tw.js, there is no tw.js file in there.

Whe

[2019-04-01 13:13] khouloudbelguith commented on #13118
@morghy1992, did you make a backup of the database?

[2019-04-01 13:19] morghy1992 commented on #13118
@khouloudbelguith  yes I did it from Sql

[2019-04-01 13:32] hottern opened #13133 "Prestashop 1.7.5 - Module error with namespace"
Hello, I use this article https://devdocs.prestashop.com/1.7/modules/concepts/controllers/admin-controllers/  to create controller in my module. I create composer.json file in my module folder but I can't access to my route.  As I understand I need to use this command in terminal `php composer.phar update ` but I've got error `Could not open input file: composer.phar
`

[2019-04-01 13:44] wordliner opened #13134 "Dropzone already attached in modules."
My client installed module in his Prestashop 1.7.5 on PHP 7.1, and something went wrong. Now we cant add any new module because dropzone is allredy attached. If it really has infinite timeout it didn't close first time we try to install module.

Here is consol log. Debug shows no error.
`Uncaught Error: Dropzone already attached.
    at new Dropzone (main.bundle.js:24413)
    at Function.Dropzone.

[2019-04-01 13:48] khouloudbelguith commented on #13131
Hi @onklmaps,

- For the first and third issues(Traditional Chinese and Norwegian Bokmål language): I did not manage to reproduce with PS:1.7.5.1.
- For the second issueTraditional Chinese and Norwegian Bokmål language: I manage to reproduce with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1K019m94Qu06RdEnVIoD6X_8g2S6y5QGg/view

If you have already fixed it on your end o

[2019-04-01 13:53] khouloudbelguith commented on #13118
@morghy1992, is the table exists?

[2019-04-01 13:58] morghy1992 commented on #13118
@khouloudbelguith yes I have it

[2019-04-01 14:08] Matt75 commented on #13133
You can find example here : https://github.com/friends-of-prestashop/masterclass

Try `composer -v` to check if composer is available in your terminal
If you have composer installed you can use `php composer update` directly

[2019-04-01 14:16] khouloudbelguith commented on #13118
@morghy1992, does your problem is solved?

[2019-04-01 14:21] morghy1992 commented on #13118
@khouloudbelguith still have the problem. I went into Catalog - stock and modified the quantities then
If I go on products give me wrong quantities. This is very strange

[2019-04-01 14:22] hottern commented on #13133
thanks. And when I install composer it's work. but now I can't add my controller to tab in admin panel. My route is `modules/product_manuf/index`. How can I add this to tab? I use
           `$tab = new Tab();
            $tab->class_name = $controller;`

[2019-04-01 14:37] khouloudbelguith commented on #13028
Hi @RicRey1988,

I did not manage to reproduce the issue after updating version 1.7.3.0 to 1.7.5.1.
@marionf, could you please try to reproduce the issue.

[2019-04-01 14:51] khouloudbelguith commented on #13134
Hi @wordliner,

What is the module he has installed?

Thanks!

[2019-04-01 14:56] wordliner commented on #13134
Etykiety produktów (Product Stickers. )
v1.5.0 - z SeoSA

[2019-04-01 14:59] khouloudbelguith commented on #13021
Hi @matteolavaggi,

- The table is ps_category.
- For the root: the field is id_parent=0.
I attached a screenshot.
![Capture du 2019 04 01 15 56 44](https://user-images.githubusercontent.com/16067358/55337722-20499980-5497-11e9-99a2-50a2771aaced.png)

Thanks!

[2019-04-01 15:00] javierVP opened #13136 "Asunto Correo ps_reminder ¿donde se modifica?"
Hola,
Necesito saber donde se puede modificar el asunto del mail del módulo ps_reminder follow_1 no lo encuentro en las traducciones, solo en el archivo php del módulo.

[2019-04-01 15:01] khouloudbelguith commented on #13136
@javierVP,

Thank you for giving your problem with the English language.

[2019-04-01 15:01] javierVP commented on #13136
ok.
Hello,
I need to know where you can modify the mail subject of the module ps_reminder follow_1 I can not find it in the translations, only in the php file of the module.

[2019-04-01 15:07] wordliner commented on #13134
I renamed all the modules in shop and the problem persists.

[2019-04-01 15:11] khouloudbelguith commented on #13134
@wordliner, the Etykiety produktów module is provided by Prestashop?

[2019-04-01 15:13] matteolavaggi commented on #13021
Hi, here we can see all the category, but where we can see wich product is in wich category?

[2019-04-01 15:14] wordliner commented on #13134
https://addons.prestashop.com/pl/odznaki-logo/17830-stickers-and-labels-on-products.html

[2019-04-01 15:19] khouloudbelguith commented on #13021
@matteolavaggi, in the table ps_category_product.

[2019-04-01 15:21] egm14 commented on #12207
Can you indicate  the commit where is the solution? @jolelievre

[2019-04-01 15:27] khouloudbelguith commented on #13134
@wordliner, as it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!
I close the ticket, feel free to open a new one when needed.

[2019-04-01 15:27] #13134 closed, assigned to nobody

[2019-04-01 15:33] #12952 closed, assigned to nobody

[2019-04-01 15:48] matteolavaggi commented on #13021
Ok, so i'm on the right way. If you only setup the root category , product are not shown until they are also linked to the ps_category_product
![image](https://user-images.githubusercontent.com/24798703/55341138-665a2980-54a6-11e9-898f-b154ff36b63f.png)

[2019-04-01 16:12] khouloudbelguith commented on #13136
Hi @javierVP,

You can add the desired language in your project folder => modules => ps_reminder => translations.

Thanks to check and feedback.

[2019-04-01 16:19] khouloudbelguith commented on #13021
@matteolavaggi, I did not understand.

[2019-04-01 16:22] Quetzacoalt91 commented on #12986
By the way @Darmona, about:

Do we agree there is no specific 1 page checkout on PrestaShop 1.7?

[2019-04-01 16:24] khouloudbelguith commented on #12667
Hi @go-sudo,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-04-01 16:24] #12667 closed, assigned to nobody

[2019-04-01 16:28] khouloudbelguith commented on #13118
@morghy1992, could you please clear cache, check your shop with another browser and feedback.

[2019-04-01 16:30] pppplus commented on #12667
Hi
That's not possible, it's a PHP error, with a Class not found.
It can't be a server configuration error.

The problem occurs on Plesk and directadmin in the different examples.

[2019-04-01 16:39] khouloudbelguith commented on #12667
@pppplus,
Could check with your host, if there are some functions for security are blocked?
Thanks!
Because, I said before, despite our several trials, we could not reproduce your issue with the provided information.
Thanks for your understanding!

[2019-04-01 16:50] khouloudbelguith commented on #13133
@Matt75, what do you think?

[2019-04-01 16:52] pppplus commented on #12667
It's my server, and my own protection, as on the other servers I use.
And I've not the problem on all my prestashops (I've a lot of versions installed to test modules).

The problem is only in 1.7.5+ for me.
On 1.7.4.2, with the same configuration (but another vps), no problem.

Tomorrow, or wednesday, I will try a new installation on the same VPS where 1.7.4.2 is ok.
I will post here if the probl

[2019-04-01 16:55] Matt75 commented on #13133
Everything is in the example : https://github.com/friends-of-prestashop/masterclass

https://github.com/friends-of-prestashop/masterclass/blob/4100a2c251b597a682895fa75723163f577792f3/masterclass.php#L60

https://github.com/friends-of-prestashop/masterclass/blob/master/config/routes.yml

[2019-04-01 16:56] #13133 closed, assigned to nobody

[2019-04-01 17:00] pppplus commented on #12667
Just for information :
PS 1.7.4.2 without error :
[code]
PS 1.7.5.+ with error :
[code]

[2019-04-01 17:26] jolelievre commented on #10567
Thanks everyone!

[2019-04-01 17:26] #10567 closed, assigned to tomas862

[2019-04-01 19:09] kpodemski commented on #13126
@marionf

this is so true, we have this feedback a lot of times with a new checkout page

[2019-04-01 19:24] matks commented on #10715
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12436

[2019-04-01 19:24] #10715 closed, assigned to nobody

[2019-04-02 07:37] khouloudbelguith commented on #12528
Hi @LinkOfLight,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-02 07:37] #12528 closed, assigned to nobody

[2019-04-02 07:38] khouloudbelguith commented on #12685
Hi @caisik,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-02 07:38] #12685 closed, assigned to nobody

[2019-04-02 07:39] khouloudbelguith commented on #12579
Hi @juslintek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-02 07:39] #12579 closed, assigned to nobody

[2019-04-02 07:40] khouloudbelguith commented on #12695
Hi @fif10,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-02 07:40] #12695 closed, assigned to nobody

[2019-04-02 08:28] Xarksass opened #13139 "Bad handling of product out of stock but available for order in facetedsearch quantity filter."
**Describe the bug**
When a product has a stock quantity set to 0 but is set as available for order when out of stock, the facetedsearch count it in the available products but when you want to display only the available products, it seems that the module only check the quantity and not the configuration and so the product will not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2019-04-02 08:42] ninefingersodnd opened #13140 "The Max size of short description field is invalid."
**Describe the bug**
Spontanious i get a fault in the Max size of short description.
I cant change it to anything and it stated Array. Products cannot be saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Shop parameters-product settings'

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![array](https://user-images.githubusercontent.co

[2019-04-02 09:24] khouloudbelguith commented on #13140
Hi @ninefingersodnd,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1ti07obNrpnvs417DDPJhQrc6Hw1EWSxa/view

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javasc

[2019-04-02 09:50] ghost commented on #13111
linux x86_64, MariaDB 10.2.23, Apache 2.4.38, PHP 7.2.16, Perl 5.16.3, kernel ver: 3.10.0-962.3.2.lve1.5.24.8.el7.x86_64
Error_log: PHP Fatal error:  require_once(): Failed opening required '/home/mmcom3h6/public_html/var/cache/prod/appParameters.php' (include_path='/home/mmcom3h6/public_html/vendor/pear/pear_exception:/home/mmcom3h6/public_html/vendor/pear/console_getopt:/home/mmcom3h6/public_htm

[2019-04-02 10:15] gsti commented on #10264
https://github.com/PrestaShop/PrestaShop/issues/10264#issuecomment-458485085

Thx Work in 1.7.5

[2019-04-02 10:31] ghost commented on #13118
I can say that also have similar problem with quantities... Store twice updated 1.7.3.4 1.7.4.5 to 1.7.5.1. Everything looks good at every upgrade process but suddenly i noticed weird things going with product quantities :(...

[2019-04-02 10:36] raharima opened #13142 "Payment filter by carrier"
Hello,

I have configure payment restriction by carrier but in front, the restriction is not good.

On the Hook classe, the method `getHookModuleExecList` from _**Hook**_ classe use `$context->cart->id_carrier`.
But on the front `$context->cart->id_carrier` is not set.
And the **_CheckoutPaymentStepCore_** use `$this->getCheckoutSession()->getSelectedDeliveryOption()` and not `$context->cart->id_c

[2019-04-02 10:58] khouloudbelguith commented on #13142
Hi @humansix,

Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2019-04-02 11:13] Pitt1823 commented on #11784
I had the exact same problem and I had the same error in the log as @krasnycz.
In my case I was upgrading from 1.7.4.4. to 1.7.5.1 and I am using Cloudways as well.
Simply clearing the folders in var/cache/ did not work. Inspired by this post https://stackoverflow.com/questions/54172371/prestashop-1-7-error-500-when-accessing-general-preference-or-administration/55473250#55473250 I finally found t

[2019-04-02 12:21] Amulliez opened #13143 "problem refreshing the reference"
Hi,

I am working on a Prestashop version 1.7.5.0. In a product sheet, I have several variations with several references.
In front office, the reference doesn't update when I choose another declination. For it to update, I have to reload the page.
I also checked the basket and the order validation, the reference doesn't update so it creates internal errors.

My old shop was on Prestashop 1.6.1.3 a

[2019-04-02 13:51] khouloudbelguith commented on #13143
Hi @Amulliez,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1nuhlvY-TjF9U1R39miDq_Y7d-cUTPirE/view
Are you using the template by default of Prestashop?

Thanks!

[2019-04-02 14:00] Amulliez commented on #13143
Hi @khouloudbelguith

I don't see your video.

Yes, I use the template by default of Prestashop.

Thanks.

[2019-04-02 14:02] khouloudbelguith commented on #13143
@Amulliez, sorry you can see it now.

[2019-04-02 14:40] khouloudbelguith commented on #13139
Hi @Xarksass,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-02 14:57] khouloudbelguith commented on #13111
Hi @Legendarior,

Could you please try to clear cache manually: go to your Prestashop installation directory and delete the content of the following folders: cache/smarty/compile, cache/smarty/cache.

[2019-04-02 15:00] khouloudbelguith commented on #13118
Hi @marionf,

What do you think? In my case, I did not manage to reproduce the issue.

[2019-04-02 15:12] Amulliez commented on #13143
Hi @khouloudbelguith

I modified the product.tpl file to add the following part of the product-details.tpl file:
{if isset ($ product.reference_to_display) && $ product.reference_to_display neq ''}
       <div class = "product-reference">
         <label class = "label"> {l s = 'Reference' from 'Shop.Theme.Catalog'} </ label>
         <span itemprop = "sku"> {$ product.reference_to_display} </ spa

[2019-04-02 15:13] Amulliez commented on #13143
I modified the product.tpl file to add the following part of the product-details.tpl file:
{if isset ($ product.reference_to_display) && $ product.reference_to_display neq ''}
       <div class = "product-reference">
         <label class = "label"> {l s = 'Reference' from 'Shop.Theme.Catalog'} </ label>
         <span itemprop = "sku"> {$ product.reference_to_display} </ span>
       </ Div>

[2019-04-02 15:55] khouloudbelguith commented on #13143
@Amulliez, try to change your file by [product.tpl.zip](https://github.com/PrestaShop/PrestaShop/files/3034844/product.tpl.zip) and check.

[2019-04-02 16:31] insane78 opened #13147 "Error in product location"
I inserted a value in field "location" inside table ps_products (using mysql workbench).
In BO, editing this product, i found the textbox "location" blank (maybe issue loading this field?), saving the product, the field "location" in table ps_products goes blank (so i think that save is working).

When i write the location in BO and save product, then the value were correctly saved in table and ne

[2019-04-02 19:48] elcuartito commented on #12085
1-Uninstall the module
2- Clears cahe smarty
3- Delete modules / ps_linklist
4 - Reinstall the module version v2.1.6
it works correctly
NO UPDATE THIS MODULE

[2019-04-02 19:49] elcuartito commented on #12085
And no update

[2019-04-02 20:24] Codencode opened #13148 "Problem sending email from module"
If you install Prestashop in a subfolder and try to send an email from a module (eg ps_emailsubscription), the system shows the error: "Error - The following e-mail template is missing: ...".
Ex:
If you subscribe to the newsletter the system tries to send the confirmation email (newsletter_verif) and shows the error.
I suppose the problem is in the function Mail::Send()
`            // get templat

[2019-04-02 21:10] chrisvanberg opened #13149 "brand assign instead of supplier on SupplierController"
Hello,
**Describe the bug**
While I was looking at the core, I saw that in `PrestaShop/controllers/front/listing/SupplierController.php`
near the line 175 there is a reference about brands.

[code]

Isn't supposed to be suppliers instead ?

I would love to make a PR if it is a bug

**To Reproduce**
N/A

**Screenshots**
N/A

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-04-03 05:06] WilfredChong opened #13151 "Wrong link_rewrite format but still can be POST via webserver"
I encountered an error the Friendly URL, as if link_rewrite input is "abc.com" , Prestashop allows to create the product instead of giving an error as "invalid field value" for friendly URL.

Below is the request's body for the same for which I use the post method to create the product:
Request:

`<?xml version='1.0' encoding='UTF-8'?>
<prestashop>
	<product>
		<id_supplier>3</id_supplier>
		<id_m

[2019-04-03 06:59] Amulliez commented on #13143
Hi @khouloudbelguith ,

I have already modified this file and the product-details.tpl file and the problem update reference is resolved. I hope to keep changing my theme.

Javascript doesn't work properly. Can you help me?

Thanks.

[2019-04-03 07:31] itisco opened #13153 "Total of Combinaison quantity isn't correct"
Hi
The issue is on a product with combinaison.
I set up prestashop to allow orders when out of stock.
I have a product with 4 sizes.
S : qty = -17
M : Qty = -7
L : qty = 13
Xl : qty = 10
This product is not sold out (L & XL are still availlable) but the product is displayed by prestashop as sold out when we uses the _quantity_ (current combination) and _quantity_all_versions_ (all combinaion) vari

[2019-04-03 07:35] khouloudbelguith commented on #13143
Hi @Amulliez,

No, sorry.
I close the ticket, feel free to open a new one when needed.

Thanks!

[2019-04-03 07:35] #13143 closed, assigned to nobody

[2019-04-03 07:53] Darmona commented on #12986
Yes totally, my bad.

[2019-04-03 08:11] khouloudbelguith commented on #13153
Hi @itisco,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/17fEThuksW1baR2-YetFoMLdj_8svGTns/view
What is the exact version of PS did you used?

Thanks!

[2019-04-03 08:16] marionf commented on #12950
Can't reproduce it

[2019-04-03 08:16] #12950 closed, assigned to nobody

[2019-04-03 08:23] marionf commented on #12980
Can't reproduce on develop

[2019-04-03 08:23] #12980 closed, assigned to nobody

[2019-04-03 08:26] marionf opened #13155 "Material icon on add brand page should be a star"
**Describe the bug**
Material icon on add brand page should be a star
https://github.com/PrestaShop/PrestaShop/pull/12735#issuecomment-475590654

**Screenshots**
![capture d'écran_1281](https://user-images.githubusercontent.com/13449658/55464217-e2fe1c80-55fa-11e9-81c3-1cc9241a4f60.png)

It should be like below instead

<img width="217" alt="54820768-8ae12500-4ca0-11e9-94d0-e1ac6ac9b203" src="http

[2019-04-03 08:42] khouloudbelguith commented on #13147
Hi @insane78,

I manage to reproduce the issue with PS:1.7.5.1
This issue is added to our bug roadmap.

Thanks!

[2019-04-03 09:17] #12986 closed, assigned to Quetzacoalt91

[2019-04-03 09:18] shaluwebkul opened #13156 "Error while uploading invalid image in Product : Missing Validation"
**Describe the bug**
Error received while uploading invalid image in Product at BO.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to BO -> 'Catalog' -> 'Products' tab
2. Click on 'Add Product' or 'Edit Product' button
3. Now, at 'Basic settings' tab -> 'Drop images here' section
   Upload any invalid image (with extensions like - .ico , .svg)
4. See error : in image upload section & al

[2019-04-03 09:51] khouloudbelguith commented on #13149
Hi @chrisvanberg,

It's not a BUG because of the basic model of suppliers.tpl is brands.tpl.
In .../themes/classic/templates/catalog/suppliers.tpl we find "extends file='catalog/brands.tpl'".

Thanks to check and feedback.

[2019-04-03 09:54] chrisvanberg commented on #13149
Ohh I see, thanks for the info !

Have a nice day

[2019-04-03 09:54] #13149 closed, assigned to nobody

[2019-04-03 09:55] marionf commented on #12661
When the page is refreshed, the button comes back to No anyway because it's not a parameter saved, it's one time if you want to regenerate RTL stylesheet

[2019-04-03 09:55] #12661 closed, assigned to nobody

[2019-04-03 10:08] khouloudbelguith commented on #13156
Hi @shaluwebkul,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-03 10:14] WilfredChong commented on #13151
Anyone? Please help

[2019-04-03 10:30] khouloudbelguith commented on #13148
Hi @Codencode,

Could you please add steps screenshots or video record to reproduce the issue in a new comment because the email hasn't  been sent

Thanks!

[2019-04-03 10:47] khouloudbelguith commented on #12771
Hi @TomHsiung,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-03 10:59] david-colombo opened #13160 "Broken Notification Box for German Shop"
My Prestashop system is in German and it seems like this broke one of the notification boxes.

It shows "Notice! Aktion Uninstall beim Modul psgdpr war ."
But it should show "Notice! Aktion Uninstall beim Modul psgdpr war erfolgreich."

(Also I'm not sure why it shows even  "Notice!" and "Uninstall" in this Notification or "disable mobile" on the module page if Prestashop is already translated 100

[2019-04-03 11:14] Codencode commented on #13148
Hi @khouloudbelguith ,

I attached 2 screenshots

![Screenshot_1](https://user-images.githubusercontent.com/2463965/55474682-113b2680-5612-11e9-9d90-bad3ea3110dc.png)
![Screenshot_2](https://user-images.githubusercontent.com/2463965/55474684-113b2680-5612-11e9-9b2b-bdd9481f8ea9.png)

Thanks.

[2019-04-03 12:08] matks commented on #13155
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13157

[2019-04-03 12:08] #13155 closed, assigned to nobody

[2019-04-03 12:16] marionf commented on #13102
Hello,

Despite our several trials, we could not reproduce your issue with the provided information, emails are well not send when they are disabled in Shop parameters > Orders > orders statuses

Best regards.

[2019-04-03 12:16] #13102 closed, assigned to nobody

[2019-04-03 12:42] slupostrupek commented on #13005
it already stopped working on 1.7.5 and propably on 1.7.4
![psgdpr](https://user-images.githubusercontent.com/9866119/55479613-c4118180-561e-11e9-9775-feeff0aab30b.jpg)

[2019-04-03 12:46] marionf commented on #13131
![capture d'écran_1283](https://user-images.githubusercontent.com/13449658/55479871-4bf78b80-561f-11e9-91f9-edd46d332087.png)

[2019-04-03 12:51] #11130 closed, assigned to nobody

[2019-04-03 12:58] marionf commented on #13005
@slupostrupek

It's ok for me on 1.7.5.1

![capture d'écran_1286](https://user-images.githubusercontent.com/13449658/55480559-e1dfe600-5620-11e9-989c-0bb7549d1af7.png)

I see you have psgdpr version 1.1.2, the last one is 1.1.3

[2019-04-03 13:06] marionf commented on #13028
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.

Best regards.

[2019-04-03 13:06] #13028 closed, assigned to nobody

[2019-04-03 13:11] marionf commented on #13021
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-04-03 13:11] #13021 closed, assigned to nobody

[2019-04-03 13:18] marionf commented on #13118
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.

Best regards.

[2019-04-03 13:18] #13118 closed, assigned to nobody

[2019-04-03 14:11] khouloudbelguith commented on #13148
Hi @Codencode,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1s4kBGnuD93SeqZfjIeZZsHcZiQUxqj3Q/view
What is the exact version of PS did you used?

Thanks!

[2019-04-03 14:20] khouloudbelguith commented on #13160
Hi @davidcolombogit,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-03 14:30] Codencode commented on #13148
Hi @khouloudbelguith

You have to set the "Would you like to send a verification email after subscription?" (Configuration NW_VERIFICATION_EMAIL)  field on "Yes" for the "ps_emailsubscription" module.

Thanks!

[2019-04-03 14:32] khouloudbelguith commented on #13151
Hi @WilfredChong,

Could you please try with the script to create the product.

[code]
Thanks to check & feedback.

[2019-04-03 14:37] khouloudbelguith commented on #13148
@Codencode, yes, I attached a video record.
https://drive.google.com/file/d/1dnr5jzH28fZHLt31A38r-zrdVLSLR_c_/view

[2019-04-03 14:58] javierVP commented on #13136
Can you tell me how to add the translation for the mail subject

[2019-04-03 15:04] Codencode commented on #13148
Hi @khouloudbelguith,

the problem also occurs when you create a new order and the system sends the notification to the merchant

I attached the error video.

Thanks!

[Video.zip](https://github.com/PrestaShop/PrestaShop/files/3039314/Video.zip)

[2019-04-03 15:09] WilfredChong commented on #13151
Hi, where should i put this script?

[2019-04-03 15:12] matks opened #13166 "Duplicate "Multistore" page in Employee dropdown"
**Describe the bug**
In the Employee form, you can choose the "default page" for an Employee and 2 of the options are displayed identical.

In fact it is 2 different pages:

- one allows to control Shop Groups for multistore management
- one allows to control Shop URLs for multistore management
We need to choose 2 different wordings to relate to them. I suggest "Multistore Groups" and "Multistore

[2019-04-03 15:13] matks commented on #10503
Created https://github.com/PrestaShop/PrestaShop/issues/13166 to handle this issue so we dont forget, as this issue is now closed

[2019-04-03 15:14] cdcvince commented on #10033
Hello,

I have the same problem, I cannot use {$smarty.block.parent}
Prestashop 1.7.5.1

Regards

[2019-04-03 15:18] matks commented on #10193
Created an issue for ps_themecusto https://github.com/PrestaShop/ps_themecusto/issues/10

[2019-04-03 15:21] Codencode commented on #13148
I attached the debugging video (after send newsletter form).

[Debugging.zip](https://github.com/PrestaShop/PrestaShop/files/3039394/Debugging.zip)

[2019-04-03 15:54] khouloudbelguith commented on #13136
Hi @javierVP,

In your project folder => modules => ps_reminder => mails, you have to create a folder with the name "name of the desired language" (for example fr if the language is French),  then under this folder create a file "lang .php"  with the following content
[code]

Thanks to check and feedback.

[2019-04-03 15:55] javierVP commented on #13136
thanks

[2019-04-03 15:57] khouloudbelguith commented on #13136
@javierVP, you are welcome.

[2019-04-03 15:59] itisco commented on #13153
Hi,
We have PS 1.7.5.1.
See the threat on the theme developper forurm :
https://www.sunnytoo.com/forums/topic/bug-with-the-sticker-module-and-tha-products-quantity

His theme has a module with stickers on the products. There is one sticker
for the out of stock products but it is shown when it should not because if
this issue.
The developper of the module uses the variable availlable in prestashop

[2019-04-03 16:01] khouloudbelguith commented on #13151
@WilfredChong, could you please followw this documentation:http://doc.prestashop.com/pages/viewpage.action?pageId=51184710
Thanks to check and feedback.

[2019-04-03 16:13] matks commented on #12846
@eternoendless I guess `tab_modules_list.xml` comes from the API, right ?

[2019-04-03 16:17] Matt75 commented on #12846
@matks Yes but not from AddonsApi : https://api.prestashop.com/xml/tab_modules_list.xml (Only static files here)

[2019-04-03 16:34] tomlev opened #13168 "CLDR Specification\Number should be immutable"
**Is your feature request related to a problem? Please describe.**
Current CLDR implementation uses Specification\Number::setMaxFractionDigits() to override cldr specification precision with customized currency one

**Describe the solution you'd like**
Specification\Number::setMaxFractionDigits() should be deleted (already marked as deprecated) in favor of class constructor to get maxFractionDigit

[2019-04-03 19:10] mschiele opened #16986 "product combinations are not listed in sitemap.xml"
we can only find the link to a main product in our sitemap.xml.
all product combinations/ variations, which have own urls in prestashop too, are not listed in sitemap.xml. not sure if this is an issue or should be a feature?

[2019-04-03 19:26] leungda commented on #11914
Me too. I got the same problem

I understand that khouloudbelguith says they cannot reproduce the problem. The issue is it looks like it is not only a few people are having the same issue. If you google "prestashop link list module 3.0.2", there are more people are having this issue on this like https://github.com/PrestaShop/PrestaShop/issues/12085

[2019-04-03 21:53] ryandanthony commented on #13074
Hi @khouloudbelguith were you able to get access to that link?

[2019-04-04 06:34] corsik opened #13169 "It is not possible to cancel sending an email (in_transit)"
It is not possible to cancel sending an email (in_transit) when updating a carriage track in an order

Additionnal information
PrestaShop version: 1.7.5.0
PHP version: 7.1.21
 MySQL: 5.7.21

[2019-04-04 06:47] madsoliver commented on #13131
Why was this tagged as a minor issue? It breaks alot of javascript-dependent things in the product page! Try to edit combinations for example. It does not open the modals correctly. I guess a lot of other things as well (like any module in the product modules tab).

**How to fix:**

1. - Change language-code from for example no-no to nb-no.
2. - Change name of /js/tinymce/langs/nb.js to /js/tinymc

[2019-04-04 06:59] centoasa opened #13170 "Minimum order fee"
Prestashop 1.7.5.1 on debian
I believe it is a great feature to add to the minimum order for amount, even a minimum order surcharge.
That is, set an amount below it the customer must pay a supplement. Example: orders below €50, fees: €5
I've search a lot on google but there's nothing about it.
Thank you

---

#### Is your feature request related to a problem?

More and more merchants want to add p

[2019-04-04 07:41] zuk3975 opened #13172 "Multishop behavior issue"
**Describe the bug**
Bug is reproducible only when multishop is on. No matter in which shop context you are, you can reach any other shop objects(brands, addresses, taxes, products and so on) for viewing, editig or deleting by hardcoding that object id to url.
For example while being in shop 1 you can delete/edit/view objects that belongs to shop 2.

**To Reproduce**
Example using products:
Make s

[2019-04-04 07:42] hiousi commented on #11125
+1

[2019-04-04 08:01] webstartconsulting commented on #11722
Hi!
Its an important bug, any solution?

[2019-04-04 08:05] matks opened #13173 "Fix broken HIGH_DEPS build"
Informative HIGH_DEPS build is currently failing. From https://travis-ci.org/PierreRambaud/PrestaShop/jobs/515580816:
[code]

[2019-04-04 08:05] manfield opened #13174 "FR | Order Settings | Disable order confirmation email"
**Is your feature request related to a problem? Please describe.**
In some circumstances, especially when PS is integrated with a BackOffice system, we're in the need to disable Order Confirmation email.
That's because the order confirmation is processed by the backoffice system and the user would receive more than one mail for his order.
I've seen that is hard coded without any check on any const

[2019-04-04 08:06] sarjon opened #13175 "Showcase cards are not responsive"
**Describe the bug**
When on small screen Showcase cards are not responsive. Maybe image should be hidden when on small screens.

**To Reproduce**
1. Access new Employees page or SEO & URLs page.

**Screenshots**
![showcase_cards](https://user-images.githubusercontent.com/15143151/55539515-8158b380-56c9-11e9-9365-2ded7f417cac.png)

**Additionnal information**
PrestaShop version: develop

PHP versi

[2019-04-04 08:08] khouloudbelguith commented on #13170
@marionf, @colinegin what do you think of his improvement?
Thanks!

[2019-04-04 08:15] khouloudbelguith commented on #13169
Hi @corsik,

Did you disable sending emails in Shop parameters> Orders> orders statuses?

Thanks!

[2019-04-04 08:25] WilfredChong commented on #13151
Here
`<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
<product>
	<id><![CDATA[1249]]></id>
	<id_manufacturer></id_manufacturer>
	<id_supplier></id_supplier>
	<id_category_default xlink:href="https://wako.com.my/api/categories/2"><![CDATA[2]]></id_category_default>
	<new></new>
	<cache_default_attribute></cache_default_attribute>
	<id_default_image not

[2019-04-04 08:27] matks commented on #13131
Hi, I think it has been tagged a minor issue because it only happens for a specific configuration, not every language (using Chinese here) and it does not impact critical features of an e-commerce like checkout. It does not mean we don't care 😉 this is just a labeling system we use to put issues in categories.

If tomorrow a thief steals 200 dollars from you, maybe a policeman will tell you it's a

[2019-04-04 08:39] khouloudbelguith commented on #13174
Hi @manfield,

It's possible to activate or deactivate the mails to send in Shop parameters> Orders> orders statuses.
Thanks for check and feedback.

[2019-04-04 08:42] manfield commented on #13174
Actually not for the new order.
For any order history change that happens after the new order that's true, but not for the first new order event.

[2019-04-04 08:47] corsik commented on #13169
Email is sent when track number is added, status does not change.
![ track number is added](http://prntscr.com/n7b7n9)

[2019-04-04 08:48] corsik commented on #13169
Email is sent when track number is added, status does not change.
https://prnt.sc/n7b7n9

[2019-04-04 08:49] khouloudbelguith commented on #13174
@marionf, @colinegin what do you think?
Thanks!

[2019-04-04 08:51] WilfredChong commented on #13151
I created the product using that script, it still can be created the link rewrite with invalid field value like "abc.com", "vevev@#$rvev.jok"

[2019-04-04 08:53] #10545 closed, assigned to tomas862

[2019-04-04 08:55] khouloudbelguith commented on #11722
Hi @webstartconsulting,

Sorry, not yet.

[2019-04-04 09:00] khouloudbelguith commented on #13074
Hi @ryandanthony,

Yes, we'll first try to reproduce it and we'll come back to you if we need more information.

[2019-04-04 09:01] khouloudbelguith commented on #13153
Hi @itisco,

Could you please try to reproduce the issue with the default theme provided by Prestashop and feedback.

[2019-04-04 09:06] elmanu13 opened #13178 "Statistics graphs doesn't work"
Hello,
On the BO page "statistics", I have numbers but all the graphs are flat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Statistics, then product detail (for example)
2. Select any product that have sales
3. See the result : numbers but flat graph

**Screenshots**

<img width="834" alt="Capture d’écran 2019-04-04 à 10 59 38" src="https://user-images.githubusercontent.com/32092

[2019-04-04 09:23] matks commented on #10577
Fixed by https://github.com/PrestaShop/PrestaShop/pull/11169

[2019-04-04 09:23] #10577 closed, assigned to tomas862

[2019-04-04 09:27] Partenopeo83 opened #13179 "Information about split orders"
Hi,
i don't think it's an issue. I would to know what are the occasions where PS split orders into parts with same reference and if it's possible to disable this feature because in my systems create many problems.

Thanks for help

PrestaShop version: 1.7.4.2
PHP version:7.1

[2019-04-04 09:28] khouloudbelguith commented on #13178
Hi @elmanu13,

We are aware of this issue.
Your ticket is a duplicate of #9983
So, I close it.
Thanks!

[2019-04-04 09:29] khouloudbelguith commented on #13178
Duplicate of #9983

[2019-04-04 09:43] PierreRambaud opened #13180 "Create a new "Address" /test/campaigns/full/01_orders/01_create_order_in_BO.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546098-dea33380-56ce-11e9-8395-cd3af94425e4.png)

[2019-04-04 09:44] PierreRambaud opened #13181 "Check the created order information in the Back Office /test/campaigns/full/01_orders/02_create_order_in_FO.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546193-0f836880-56cf-11e9-8018-d115dbe078bb.png)

[2019-04-04 09:46] PierreRambaud opened #13182 "Check all the information in the cart /test/campaigns/full/01_orders/05_create_order_without_account.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546288-448fbb00-56cf-11e9-9bc3-864d936332b4.png)

because the first is not available, everything fail.

[2019-04-04 09:47] PierreRambaud opened #13183 "Go back to the Back Office and check the created order details /test/campaigns/full/01_orders/05_create_order_without_account.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546356-64bf7a00-56cf-11e9-88d3-2fd2602ecd7b.png)

[2019-04-04 09:47] PierreRambaud opened #13184 "Check the stock for the "ProductA1553562869970" /test/campaigns/full/01_orders/05_create_order_without_account.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546390-7acd3a80-56cf-11e9-976b-fe4df202e588.png)

[2019-04-04 09:48] PierreRambaud opened #13185 "Change the status of the order /test/campaigns/full/01_orders/05_create_order_without_account.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546427-959faf00-56cf-11e9-9c27-de7b8fb55d48.png)

[2019-04-04 09:50] PierreRambaud opened #13186 "Check that the option name of the delivery slip is updated successfully /test/campaigns/full/01_orders/09_delivery_slips_pdf_and_options.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546552-e1525880-56cf-11e9-989b-37c2b7c5e839.png)

[2019-04-04 09:51] khouloudbelguith commented on #13179
Hi @Partenopeo83,

The split order is done if you have 2 different carriers for different products added to the cart.
I attached a video record
https://drive.google.com/file/d/1hX6jeyZmD8VyYVVezIJJvUIzMGloLghR/view
Thanks to check & feedback.

[2019-04-04 09:52] PierreRambaud opened #13187 "Change the status to "Payment Accepted" /test/campaigns/full/01_orders/14_print_the_invoice_order.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546706-2d9d9880-56d0-11e9-98e7-2b2c2ae84128.png)

[2019-04-04 09:55] PierreRambaud opened #13188 "Verify all the information on the deliveries slips /test/campaigns/full/01_orders/15_print_delivery_slip.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546851-65a4db80-56d0-11e9-906e-d8b3d9eedab2.png)

[2019-04-04 09:56] PierreRambaud opened #13190 "Enable the product list /test/campaigns/full/06_catalogbulkaction/catalogbulkaction.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55546979-9f75e200-56d0-11e9-9071-4841e87accf8.png)

[2019-04-04 09:57] PierreRambaud opened #13191 "Uninstall "abondoned cart pro" module /test/campaigns/full/10_module/1_Zip_module.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55547070-d2b87100-56d0-11e9-8be5-872ec33d2304.png)

[2019-04-04 09:57] grabelle commented on #11773
Hi, any chance to get this solved ? I can't believe that no one care about that ! ?

Please fix this asap.

[2019-04-04 09:59] PierreRambaud opened #13192 "Check sort module by "Name" /test/campaigns/full/10_module/4_sort_module.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55547182-0b584a80-56d1-11e9-805a-abe81ffbcbcd.png)

[2019-04-04 09:59] matks commented on #10544
@marionf The migration fixes these 2 issues. Can we close them or do you want to check it ?

[2019-04-04 10:01] PierreRambaud opened #13193 "Check notification module in the Back Office /test/campaigns/full/10_module/6_check_notifications.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55547253-33e04480-56d1-11e9-8909-0a0a3d8cd1af.png)

[2019-04-04 10:03] PierreRambaud opened #13194 "Update quantity of a product /test/campaigns/full/08_stocks/4_update_product_quantity.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55547377-773ab300-56d1-11e9-80a9-3fd18ff70d60.png)
![image](https://user-images.githubusercontent.com/1462701/55547390-7f92ee00-56d1-11e9-814d-43c16bdc057f.png)