[2020-04-29 09:06] MatShir commented on #18882
Nice catch !

[2020-04-29 09:14] Matt75 opened #18885 "BO - Notifications settings should be set by employee preferences"
**PS: Related to #24777**

#### Is your feature request related to a problem?

I'm always frustrated when I have back office notifications not concerns me but the settings is global for all employees so I cannot disable it only for an employee.

#### Describe the solution you'd like

Notifications settings should be on employee page

#### Alternatives you've considered

Notifications settings can

[2020-04-29 09:30] neich78 commented on #12814
Have a similar problem. Products with 4 combinations and different stock in each one. Stock does not match quantity shown in Catalog summary.
Please check product ID=3. Stock in combinations 103, but stock in summary = 335.

![Captura de pantalla 2020-04-29 a las 11 26 54](https://user-images.githubusercontent.com/11721870/80581018-cd7d4100-8a0c-11ea-9fa6-0c2e537efe16.png)
![Captura de pantalla 20

[2020-04-29 10:03] sarahdib opened #18887 "In modules catalog the filter by categroy is not working"
#### Describe the bug
In modules catalog the filter by categroy is not working.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> modules -> module catalog
2. Click on category and select administration
3. See that in the dropdown there is 11 modules but no one display.

It's the same for all categories.

[2020-04-29 10:18] shaffe-fr commented on #18740
Hi,
I just upgraded a PrestaShop from 1.7.5 to 1.7.6 and I was able to reproduce the bug on that branch.
@Progi1984, maybe the PR should be cherry-picked on the 1.7.6 branch?

[2020-04-29 10:49] kpodemski opened #18888 "BO - adding new voucher to an Order"
#### Describe the bug

It's regression, we can't add new voucher while creating new order from BO.

#### Expected behavior

After adding new voucher, it should be automatically applied to an order, this is how it worked in 1.7.6

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add new order, fill the data
2. Add new voucher, create new one
3. Save it
4. See that voucher is not applie

[2020-04-29 10:49] kpodemski opened #18889 "BO - adding voucher while creating new Order"
#### Describe the bug

It's regression, we can't add new voucher while creating new order from BO.

#### Expected behavior

After adding new voucher, it should be automatically applied to an order, this is how it worked in 1.7.6

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add new order, fill the data
2. Add new voucher, create new one
3. Save it
4. See that voucher is not applie

[2020-04-29 10:52] Klemart3D opened #18890 "Accented & special characters misinterpreted in customer service messages"
#### Describe the bug

Accented & special characters misinterpreted in customer service messages (SAV in french).

#### Expected behavior

A well interpretation of accented & special characters as customer wrote it in original message.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In FO, write a message with accented & special characters as customer
2. In BO, in SAV > SAV page (in

[2020-04-29 10:56] #18888 closed, assigned to nobody

[2020-04-29 11:04] PululuK commented on #18612
Hi @PierreRambaud  @Pierpaolo-Petros  @khouloudbelguith

This can happen when modules using the new translation system return unexpected values
Could related to : https://github.com/PrestaShop/PrestaShop/pull/15871
See here (how can reproduce ): https://github.com/PrestaShop/PrestaShop/pull/15871#issuecomment-540955173

Thanks

[2020-04-29 11:14] Spidlace commented on #18741
Hi @khouloudbelguith,

Thanks for your response ! :-)

Yes I use a custom theme, his name is "Agave"
I try to activate classic theme and everything works ! But with Agave theme, I have errors I display on first post...

The bug appear here (line 6) :
[code]

On this line : `$productCommentRepository = $this->context->controller->getContainer()->get('product_comment_repository');`

With Classic the

[2020-04-29 11:51] sarahdib commented on #18852
@thbl my bad it's the wrong screen record
https://drive.google.com/file/d/1lckErQ1vaw26VNejS2YQCKgSNNoKC-hq/view

[2020-04-29 11:51] #18857 closed, assigned to nobody

[2020-04-29 12:09] thbl commented on #18852
hmm strange dosent work in my ps, any ide on who to debug this ? @sarahdib

[2020-04-29 12:10] PetarFedorovsky commented on #11126
I can verify that this:
$this->context->controller->errors[] = $this->l('Some descriptions are not correct');
and
$this->context->controller->informations[] =$this->l('Some descriptions are not correct');(blue info box)
works on PS 1.7.6.2

[2020-04-29 12:17] RodrigoHornos opened #18891 "char(9) "TAB" beeing accepted in text input boxes (reference) using CTRL-ALT-TAB"
#18221 ## Describe the bug

TAB character char(9) is being accepted in simple text input boxes. Specifically in "Reference" product boxes and combination references. This cause the reference field in the ps_product and ps_product_attribute to be saved as part of the reference when a user press the CTRL-ALT-TAB button on the keyboard. This impact the reference, and when syncing with other systems /

[2020-04-29 12:24] 01park opened #18892 "Show last visible status order on order history page"
**EDIT**
On front office > customer order history page, show the last visible order status.
At some point of the order flow, it might get a specific order status that the merchant decides not to display to the customer (option available in the status configuration). When the order gets this status, nothing is displayed in the customer account, which can create confusion for the customer.
With this

[2020-04-29 12:27] marionf commented on #18813
@PierreRambaud Could you add the severity label please ? Is it still NMI ?

[2020-04-29 12:29] marionf commented on #18803
It seems to be an improvement, as it's about order page I ping @MatShir

[2020-04-29 12:41] MatShir commented on #18803
@alfonsolr09 , Have you try to create a manual order for your client and share the link of the checkout  ?

[2020-04-29 12:41] sarahdib opened #18893 "BO - Missing reset button in Theme & Logo"
#### Describe the bug

The reset button is missing in theme & logo

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Back office -> appearance -> theme & logo
2. Scroll down to the bottom
3. See the missing button

**Screenshots**
1.7.7.0
<img width="1276" alt="Capture d’écran 2020-04-29 à 14 31 48" src="htt

[2020-04-29 13:07] operator2010 opened #18894 "Maintenance Mode"
#### Describe the bug

When there is a space between the IP Adresse Maintenance Mode will not work

#### Expected behavior

Escape spaces after and before , (comma)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Settings' > 'Main' > 'Maintenance'
2. Click on ''> insert new IP with empty spacer
3. Scroll down to 'Save'
4. See error -> No error -> Test Frontend if visible

**S

[2020-04-29 13:44] RodrigoHornos commented on #18891
To find existing tab char on the db:
SELECT * FROM `ps_product_attribute` WHERE reference LIKE '%\t%'
SELECT * FROM `ps_product` WHERE reference LIKE '%\t%'
To replace the existing ones:
SELECT REPLACE (`ps_product_attribute`,'\t','')

[2020-04-29 14:22] matks commented on #18653
Note: in My Profile BO page there is a wording explaining current system:
<img width="699" alt="Capture d’écran 2020-04-29 à 16 20 52" src="https://user-images.githubusercontent.com/3830050/80607237-91120b00-8a35-11ea-8c2d-a6bf08cedc81.png">

So we should remove it when we remove current system

[2020-04-29 14:26] PululuK commented on #18894
Hi @operator2010,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgra

[2020-04-29 14:27] matks opened #18897 "Migrate "Catalog > Attributes & Features > View feature" page"
Part of Symfony migration project
Type: page

It seems this page is like a listing of "feature values".
<img width="1217" alt="Capture d’écran 2020-04-29 à 16 26 36" src="https://user-images.githubusercontent.com/3830050/80607868-4cd33a80-8a36-11ea-9eb0-f59ae20bc5fd.png">

## Status

Todo:
- [ ] Migrate page
- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e8

[2020-04-29 14:38] prestascott commented on #18894
Hi @operator2010 ,

You must downgrade your PHP version into 7.2.
Please check: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks :)

[2020-04-29 14:39] matks opened #18898 "Migrate "Catalog > Attributes & Features > View attribute" page"
Part of Symfony migration project
Type: page

Actually, the "Catalog > Attributes & Features > Attributes" page shows what PrestaShop internally calls "attribute groups". And when we click "view" on an attribute group, we see this page which contains attribute values.

Looks like a regular listing with drag-and-drop for position column.
Available through URL `admin-dev/sell/catalog/attribute-group

[2020-04-29 14:41] PululuK commented on #18894
@prestascott Even with a recommended version of PHP, you can reproduce this issue !
What do you think about allowing spaces in Maintenances IP ?

[2020-04-29 14:52] prestascott commented on #18894
Hello @operator2010 & @PululuK,

I managed to reproduce the issues.
Here are the screenshots with the space:
![image](https://user-images.githubusercontent.com/54888056/80610534-c4ef2f80-8a39-11ea-9bd2-cd49e2e1988e.png)
![image](https://user-images.githubusercontent.com/54888056/80610557-cae51080-8a39-11ea-8d72-abb944ad24a8.png)

Here are the screenshots without the space:
![image](https://user-im

[2020-04-29 15:13] SD1982 opened #18900 "FO - Detail discount is not good in multicurrency context"
#### Describe the bug

If discount a applied to a cart in EUR everything is good ( detail discount, total discount )  but if we switch to USD the detail discount is not good ( the total is still good ) maybe related with this issue #18810

#### Expected behavior

The detail discount should be good in every currencies

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => intern

[2020-04-29 15:16] prestascott commented on #18892
Hello @01park ,

Thank you for your report. I tried to reproduce the bug in 1.7.6.5 and 1.7.5.2 versions, here is the screenshot:
![image](https://user-images.githubusercontent.com/54888056/80612404-37f9a580-8a3c-11ea-94b9-02afb613b87c.png)
I can see both status.

Can you tell us which payment status are invisible and what PrestaShop version did you use?

Thank you :)

[2020-04-29 15:32] prestascott commented on #18890
Hi @Klemart3D,

Please update your PHP version to 7.2 and take a look a this documentation: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I tried to reproduce the bug and there is no issue on special characters. Here is the screenshot:
![image](https://user-images.githubusercontent.com/54888056/80614900-51502100-8a3f-11ea-9b4d-ac0e25684bdb.png)

Do you have an error

[2020-04-29 15:38] prestascott commented on #18891
Hi @RodrigoHornos,

Why did you mention issue #18221?
I try to reproduce this issue and there is no char(9)-TAB at the end.
Do we have to write "CTRL-ALT-TAB" or tap this combination?

Thank you :)

[2020-04-29 15:53] matks commented on #18898
@MatShir Might have already been done by @zuk3975 when he did https://github.com/PrestaShop/PrestaShop/pull/14040

[2020-04-29 16:07] cdcvince opened #18901 "Change visibility of function "tryToGetAvailableIdProductAttribute" in ProductController"
Hello,

I would like to override the behavior of the private function in **ProductController.php** :
[code]
Can you change the visibility to 'protected' ?

This function is used for :

[code]

The use case of this override is pretty straightforward, it returns the next available combination when the selected combination is not available. But maybe we don't want the default combination returned by

[2020-04-29 16:17] prestascott commented on #18867
Hi @zuk3975,

I try to reproduce and i have no error displayed on the FO. In fact, since i deleted the "home_default" in BO Design, images aren't showing up.

Here are the screenshots:
<img width="1204" alt="Capture d’écran 2020-04-29 à 18 13 10" src="https://user-images.githubusercontent.com/54888056/80619705-5a43f100-8a45-11ea-8061-ba57d4aab0f3.png">
<img width="1440" alt="Capture d’écran 202

[2020-04-29 16:24] prestascott commented on #18880
Hello @photinia73,

You can find the possibility to choose different variants of design here:
Design > Theme & Logo > Choose Layouts

Here is a screenshot where you can find this section:
![image](https://user-images.githubusercontent.com/54888056/80620768-b3605480-8a46-11ea-8acc-3f0f56daa422.png)

[2020-04-29 16:31] #18880 closed, assigned to nobody

[2020-04-29 16:46] Klemart3D commented on #18890
Hi @prestascott,

Thanks for your answer.
I can't update a PHP version just for an accent issue. As [explained in devdocs](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart), PrestaShop 1.7.6.x must supports PHP 7.1 (if don't, please change it to "Not supported").

Error is also in source code as pointed by developer tool (FF/Chrome):
![screen 1](h

[2020-04-29 16:53] Klemart3D commented on #18890
Perhaps similar to: #9726
Possibly PR (merged for 1.7.7.0): #15840

[2020-04-29 16:55] 01park commented on #18892
Hi,

After we ship, the order can be set to another status. We don't want the customer to see this.

<img width="1230" alt="Screenshot 2020-04-29 at 17 41 37" src="https://user-images.githubusercontent.com/46492443/80623617-60849e00-8a42-11ea-90f1-09439f7bc85d.png">

I have already select and deselect to set this order to pay or shipped, but this status or all other statuses that we created oursel

[2020-04-29 17:20] Klemart3D commented on #18823
Product "Creation date" or "Activation date" are semantically not a "New from date".
Best solution would be to do something like Magento, a dedicated range of dates for "New product status". And to keep the PS global product parameter "new_days_number", it can be added a checkbox "Keep global configuration, currently defined to: {20} days" that disabling the second date field if it checked (that w

[2020-04-29 17:24] 234146326 commented on #11355
![image](https://user-images.githubusercontent.com/17285770/80626204-a7918400-8a80-11ea-8f8a-df9431279ba4.png)
I successfully installed using the command line.

Summary: I installed it all day.Found that the language pack cannot be downloaded because of the network.

I ended up using SS proxy.finish installation.

Share as follows:

`php index_cli.php --db_server=127.0.0.1:8889 --db_name=prestasho

[2020-04-29 17:26] alfonsolr09 commented on #18803
Yes, but I have to buy a product. I would like to generate a link where I select how much the client should pay me and generate the link and send it to them

something like this
https://prnt.sc/s85chu

[2020-04-29 17:29] alfonsolr09 commented on #18803
<img src="https://image.prntscr.com/image/MqfsYptbSAmytFiUmwwkBQ.png" />

[2020-04-29 18:19] photinia73 commented on #18880
O thank you very much! I didn`t notice )) З повагоюКричмарівська Світлана От: PrestaScottОтправлено: среда, 29 апреля 2020 г. в 19:25Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] Design of content page (#18880) Hello @photinia73,You can find the possibility to choose different variants of design here:Design > Theme & Logo > Choose LayoutsHere is a screensho

[2020-04-29 18:33] RodrigoHornos commented on #18891
You have to tap this combination on the reference field of the product. You
will get a nice tabulation character after the text which is written to the
database.

El mié., 29 abr. 2020 a las 17:39, PrestaScott (<notifications@github.com>)
escribió:

--
*Rodrigo Hornos*
Mob: +34 609 065 630
Email: rhornos@gmail.com
Email: rhornos@me.com

[2020-04-29 19:04] romanzkromrize opened #18903 "Header issue PS 1.7.6.4"
Hello guys, on mobile version of my eshop www.erotic-house.cz, i have problem with logo and cart. Sometimes it loads fine, but after swaping up and down logo and cart button dissapear. Sometimes its hidden after page load, but after swaping up and down it appear.
It looks like this problem is only on home page of eshop.
I tried disable cache, clear cache. But iam total newbie so i probably need he

[2020-04-29 21:02] Macrisu opened #18905 "Pdf Invoice missing all product lines!"
#### Describe the bug

When I generate the PDF invoice, the generated file is missing the lines with product details!

Is not a template folder.
I've replaced for test the /pdf folder with the original one from 1.7.6.5 and 1.7.64.

There is no error in error.log and debug function is not helping.

I really do not want to reinstall Prestashop, I have a lot of customizations made and PDF should be l

[2020-04-29 21:31] kpodemski commented on #18898
@matks is it still planned for 1.7.7?

[2020-04-29 21:38] Macrisu commented on #18905
Same problem on Delivery slips!

[2020-04-29 23:17] EukaPS commented on #18765
Hello @khouloudbelguith,

You were correct, I had an issue with my nginx configuration file. It's now fixed but i'm still facing an issue with friendly url & nginx + updated product pattern route. I realize that the test you did doesn't cover my root issue.

Could you please give me a last try on it :
- Nginx / PHP-fpm (docker)
- Nginx conf file :

`server {
    listen   80; ## listen for ipv4; th

[2020-04-30 05:40] zuk3975 commented on #18867
Ok seems it doesn't break if images were already uploaded before.
But consider this scenario:
Delete home_default and then upload any product image. Refresh the product edit page and that image will not show up.
There could be more issues related, more places where images are missing, but the main idea what causes that is -> when we upload the image, different sizes are generated based on the type

[2020-04-30 05:48] zuk3975 commented on #18898
Its already in develop (and i think in 1.7.7) just hidden. You can test it by using `admin-dev/sell/catalog/attribute-groups`. Added couple screenshots bellow.

![Screenshot from 2020-04-30 08-43-40](https://user-images.githubusercontent.com/31609858/80676331-332a0580-8abf-11ea-8773-bb80e9579ace.png)
![Screenshot from 2020-04-30 08-43-58](https://user-images.githubusercontent.com/31609858/80676353

[2020-04-30 07:19] matks commented on #18898
It has been migrated in 1.7.7 but, as @zuk3975 said, it was hidden because the other "Catalog > Attributes & Features" pages were not finished for 1.7.7 and it does not look good to show a group of pages related with half migrated and half legacy.

So it will be made available for 1.7.8 😊

[2020-04-30 07:19] florine2623 commented on #18903
Hi @romanzkromrize ,
This is a theme issue. You should contact the developer of the theme directly.

Thanks!

[2020-04-30 07:20] bruno-rc opened #18906 "Prestashop: Seo product changes are not preserved"
Hello guys,

once the product is loaded and I make any changes in the form of the Seo product, it behaves as the saving was successful, but I update F5, the save is not stored and returns as before

Prestashop version 1.7.6.4!
Php 7.1 T

- i tried cleaning cache
- in debug mode "no error"
- tried to update to version 1.7.6.5
- disable seo friendly and activate

Is there a method to check if someth

[2020-04-30 07:25] florine2623 commented on #18869
Hi @crabbi33 ,
Did you import ps_product manually ?
If you want to do an update, please use a tool for that. You will avoid database issue.

Here is the database schema for PS 1.7.6.5 :
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.5/install-dev/data/db_structure.sql

You can compare it with 1.7.6.2 and ee what you are missing :
https://github.com/PrestaShop/PrestaShop/blob/1.7.2.x/install-d

[2020-04-30 07:30] matks commented on #18898
@zuk3975 It looks like the following items are missing:
- drag-and-drop rows
- in legacy page, when you navigate through multiple "view attribute" pages, search filters are reset (which makes sense, because it's different listing) ; in migrated page they are shared

I'll do them 😉 so you can focus on Product page

[2020-04-30 07:32] florine2623 commented on #18885
Hi @Matt75 and @PrestaShop/prestashop-product-team ✋

@Matt75 Thanks for your request !

@PrestaShop/prestashop-product-team
What do you thing of that improvement ?

Thanks !

[2020-04-30 07:42] neich78 commented on #13118
Hi, I have the same problem with version 1.7.6.4. In some products, the total quantity in Product_Catalog summary is not the same as sum of combinations stock. There's no way to change it or update it.
For example, product id=3 has 335 items in summary and the real stock in combinations is 103.
![Captura de pantalla 2020-04-30 a las 9 40 55](https://user-images.githubusercontent.com/11721870/80685

[2020-04-30 07:46] florine2623 commented on #18905
Hi @Macrisu ,

For the invoice :
Can you heck if you have the files /mails/your_language/order_conf_product_list.tpl ?
If not, could you add these files into the folder /mails/your_language/order_conf_product_list.tpl ?
[Archive.zip](https://github.com/PrestaShop/PrestaShop/files/4556783/Archive.zip)

Regarding the delivery slips :
Do you have the file pdf/delivery-slip.product-tab.tpl ?
If not, p

[2020-04-30 07:49] sam-pires commented on #18885
Good idea!
Nice improvement 👍

[2020-04-30 08:14] florine2623 commented on #18906
Hi @bruno-rc ,

Please upgrade to PHP 7.2 first and try again.

I couldn't manage to reproduce your issue. Here's a screen record :
https://drive.google.com/file/d/1s-fH0W9ooWFFmEPLclC0SBrc_f2E_K9y/view

Thanks!

[2020-04-30 08:34] florine2623 commented on #18879
Hi @rflorent ,

I can't reproduce your issue :
![Capture d’écran 2020-04-30 à 10 32 57](https://user-images.githubusercontent.com/16019289/80689728-07624c00-8ace-11ea-9aac-037cadaac020.png)

Please clear cache and check if you have errors on the console.
Make sure you don't have any module that might override that page.

Thanks!

[2020-04-30 08:39] florine2623 commented on #18901
Hi @cdcvince ,

You can override this file by recreating it if the` /override` folder and putting your method in the **ProductController.php** file.

If you need customized development, you can contact a PrestaShop Agency :
https://www.prestashop.com/en/experts?iso=&budgetMin=0&budgetMax=50000

Thanks!

[2020-04-30 08:45] rokaszygmantas commented on #18867
If you delete the home_default size AND regenerate thumbnails, the product page in FO crashes.

[2020-04-30 08:47] prestascott commented on #18890
Please go to: \themes\default\template\controllers\customer_threads\helpers\view\concerned_file

and replace these lines: {$message.message|escape:‘html’:’UTF-8’|nl2br}
by: {$message.message|unescape:‘html’:’UTF-8’|nl2br}

You can also remove these lines: |escape:‘html’:’UTF-8’|nl2br when there is $message.message.

[2020-04-30 08:58] florine2623 commented on #18874
Hi @idnovate and @Lathanao ,
I could not reproduce the issue on PS 1.7.6.5, here my result :
![Capture d’écran 2020-04-30 à 10 52 22](https://user-images.githubusercontent.com/16019289/80691604-c9b2f280-8ad0-11ea-9757-5679aa4e3e79.png)
I'm using language English and currency Baht.

@idnovate
Did you import the localization pack with country Thailand with all content ?
![Capture d’écran 2020-04-

[2020-04-30 09:04] marionf commented on #18612
Absolutely not, @PierreRambaud as you didn't reproduced the issue, I close it

[2020-04-30 09:04] #18612 closed, assigned to nobody

[2020-04-30 09:08] idnovate commented on #18874
I imported Thailand pack automatically.

[2020-04-30 09:09] rflorent commented on #18879
Hi @florine2623 ,

My multishop configuration is the following :
Two groups, with two shop on each group.

This multishop has been upgraded from 1.6 to 1.7.5.2 and 1.7.5.2 to 1.7.6.4.
The bug described is on the view of a customer thread and not on the list.

By the way, this bug is due to a missing conversion rate on currency, in some orders related to a thread, who can tell when this occurs ? wh

[2020-04-30 09:17] florine2623 commented on #18861
Hi @PrestaShop/prestashop-product-team,

Here's a new request from @matks on code refactoring !

Thanks!

[2020-04-30 09:19] bruno-rc commented on #18906
Hi thanks for the answer, I tried to increase the php to other versions without, no results!
In my case I respect your video, even when I change the description or the meta title of the SEO area, it gives me confirmation that it has saved the changes but as soon as I update the changes there are not!

[2020-04-30 09:26] marionf commented on #18861
@matks this should be done for 1.7.7 or it can be done later ?

[2020-04-30 09:39] prestascott commented on #18867
I managed to reproduce the behavior, once i added a new image on a product page after deleting the "home_default", the image becomes blank. But when i add a second image on this same product page, it seems that it has a normal display but the previous blank image remains.

![image](https://user-images.githubusercontent.com/54888056/80695969-041f8e00-8ad7-11ea-9926-bb532afa1b6d.png)

Also, I can't

[2020-04-30 09:47] matthieu-rolland commented on #18712
@khouloudbelguith @colinegin  @PrestaShop/prestashop-product-team

While attempting to fix this, I found where it comes from in the code, but it doesn't look like a bug, it seems like it was done on purpose, here is what is written as a comment in the code removing this block:

`We're not interested in displaying the shipping discount as it is already shown as "Free Shipping".`

So, should I cance

[2020-04-30 09:48] rokaszygmantas commented on #18867
To reproduce FO crash:
1. Enable debug mode.
2. Delete home_default image size.
3. Regenerate all product images.
4. Visit any product in FO.

You should see this error:
![image](https://user-images.githubusercontent.com/6286794/80696928-d6d7dd80-8ae0-11ea-845b-fd7237f58702.png)

[2020-04-30 10:10] Klemart3D commented on #18890
Thanks @prestascott, there what I do:

In`/admin***/themes/default/template/controllers/customer_threads/helpers/view/message.tpl`
I changed: `{$message.message|escape:‘html’:’UTF-8’|nl2br}`
By: `{$message.message|unescape:‘html’:’UTF-8’|nl2br}`

And in`/admin***/themes/default/template/controllers/customer_threads/helpers/view/timeline_item.tpl`
I changed: `{$timeline_item.content|nl2br}`
By: `{$

[2020-04-30 10:20] florine2623 commented on #18872
Hi @alfonsolr09 ,
When you deactivate the HTML purifier Option it works correctly.
Thanks!

[2020-04-30 10:24] zuk3975 commented on #18867
I think its shown just by javascript. If you refresh the page it should dissappear too

[2020-04-30 10:26] florine2623 commented on #18881
Hi @shelve71 ,
Can you try to increase the value of the PHP.ini setting `max_input_vars` to 2000 and try again ?
Thanks!

[2020-04-30 10:26] Lingshuirong opened #18908 "During the installation of prestashop, 503 appears"
![深度截图_选择区域_20200430182344](https://user-images.githubusercontent.com/35438727/80700300-0baf5900-8b10-11ea-86a5-4297ddfcbc1c.png)

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2020-04-30 10:31] florine2623 commented on #18908
Hi @Lingshuirong ,

Please make sure the version of PHP you're using is compatible with the version of PrestaShop you are trying to install.
Here's the link to the compatibility :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

503 error is a server error, you must check with your host directly.

Thanks!

[2020-04-30 10:39] saradmi opened #18909 "Module manager list unorganized when connected to the addon marketplace"
#### Describe the bug

the modules in the "module manager" page are sorted by categories when I'm not connected to the addons marketplace, the moment i connect they become unsorted and are grouped in the categories "theme modules" and "other" only, every other category becomes empty, 3rd party and native modules,

#### Expected behavior

the module sorting shouldn't change when connected to the ma

[2020-04-30 10:39] Klemart3D opened #18910 "Subcategories menu is anarchic in default classic theme"
#### Describe the bug

In a shop with default classic theme with a lot of subcategories, menu is unreadable because sub-categories are not aligned.

#### Expected behavior

A clear alignment of subcategories in menu.

#### Steps to Reproduce

1. Create a lot of subcategories for a category
2. Go to FO menu, subcategories are not aligned

**Screenshots**

![classic-theme-submenu](https://user-image

[2020-04-30 10:46] rmelchner commented on #14533
Maybe you guys should mention this stuff in the docs as it is very confusing for devs to get into it. Ive spend a couple of hours figuring out the reasons classic theme is still on bootstrap alpha, fixing the build  process to run with latest Mac OS node versions etc. Maybe just a link and small text to classic-rocket would help the devs new to this topic. Sometimes this is crucial as a dev recomm

[2020-04-30 11:00] Lingshuirong commented on #18908
There is no problem with the compatibility check. All the extensions are installed

[2020-04-30 11:02] alfonsolr09 commented on #18872
I know but, is it good to desactivate html purifier?

[2020-04-30 11:32] florine2623 commented on #18910
Hi @PrestaShop/prestashop-product-team,

Is that something we can implement ? 😃

Thanks !

[2020-04-30 11:47] dharmendravirasat opened #18912 "Webservices: udpating stock available do not call Hook::exec('actionUpdateQuantity'"
my project prestashop version 1.7
and I'm Webservices API
I experienced, that Prestashop does not call Hook::exec('actionUpdateQuantity',...) when one puts (HTTP PUT) new quantity of a product using webservice request to the resource <stock_availables>. In my opinion, it should.
plz reply
@khouloudbelguith

[2020-04-30 11:48] florine2623 commented on #18909
Hi @saradmi ,
I managed to reproduce your issue on both 1.7.6.5 ad 1.7.5.2.
Thanks for reporting the bug. I will let our team know !
Thanks !

[2020-04-30 11:50] florine2623 commented on #18912
Hi @dharmendravirasat ,

What exact version of PS are you using ?
What version of PHP are you using ?
Could you share the exact steps to reproduce the issue please ?

Thanks!

[2020-04-30 11:59] florine2623 commented on #18624
Hi @emilieatelier ,
Is this issue happening only on the Dashboard page ?  Of no data is shown in the Stats tab ?
Thanks!

[2020-04-30 12:03] florine2623 commented on #18729
Hi @crabbi33 ,
Are you sure debug mode is on ? Can you check on the file /config/defines.inc.php and send a screenshot?
Do you have any error when you open the console ? Right-click > inspect element
Thanks!

[2020-04-30 12:04] matks commented on #14533
Nice idea, I will do it 😄thanks !

[2020-04-30 12:05] matks commented on #18861
For later 😄it's refactoring, not bug fixing

[2020-04-30 12:07] florine2623 commented on #18741
Hi @Spidlace ,

Thanks for the details.
That is indeed an issue with the Agave theme.
To get that fixed, you will need to contact the developer of that theme. This is is not a core issue from PrestaShop.

Thank you for understanding !

[2020-04-30 12:07] #18741 closed, assigned to nobody

[2020-04-30 12:10] florine2623 commented on #18761
Hi @emilieatelier ,
Please do not open the Symfony toolbar. I just need to see the error on the said page.
But from your screenshot the HTTP Status in 200, meaning that there is no error.
Thanks!

[2020-04-30 12:13] florine2623 commented on #18772
Hi @01park
Good to hear that the speed has come back.
Please open a new issue regarding the JSON error. Do not forget to explain the exact steps to reproduce your error, as well as screenshots.
Thanks!

[2020-04-30 12:13] #18772 closed, assigned to nobody

[2020-04-30 12:15] florine2623 commented on #18793
Hi @Leous88 ,
Please answer via GitHub.
If you have sent an attachment I can't see it on GitHub. Please resend it.

[2020-04-30 12:24] florine2623 commented on #18837
Hi @nico159 ,
How do you get this error ? Is it when you try to download he invoice of the order from the BO ?
Do you use any modules that override the invoice ?
Thanks!

[2020-04-30 12:28] florine2623 commented on #18848
Hi @darioesposito ,

In you module **ps_facetedsearch**, you can choose the option no hide combinations that are out-of-stock :
![Capture d’écran 2020-04-30 à 14 26 22](https://user-images.githubusercontent.com/16019289/80710268-d8a89d80-8aee-11ea-84b7-a0ee12ec1515.png)

Thanks!

[2020-04-30 12:29] Robin-Fischer-PS opened #18913 "BO - Error when viewing an order with custom product made on secondary shop"
#### Describe the bug

In a "All shops" context, when trying to display an order made on a secondary shop (not the default one), with a customized product in the order, there is an error.

#### Expected behavior

Order should be displayed as usual

#### Steps to Reproduce

Steps to reproduce the behavior:

On BO, configure :
1. Multistore ON
2. A second shop
3. On the second shop context, configur

[2020-04-30 12:32] matks commented on #18908
@Lingshuirong This error comes from the server, not PrestaShop. See https://airbrake.io/blog/http-errors/503-service-unavailable

The server you are using seems either unfit for PrestaShop or not properly configured. Maybe try another host ?

[2020-04-30 12:35] matks commented on #18856
@Macrisu unfortunately mail providers spamming strategy will always be very obscure 😢indeed we cannot solve this with software

[2020-04-30 12:42] florine2623 commented on #18906
Do you have errors when you open the console ?
Is that a fresh install or have you migrated from a previous version ?

[2020-04-30 12:54] florine2623 commented on #18872
Hi again @alfonsolr09 ,

I think that if HTMLPurifier blocks the use of a YouTube option, it's because HTML Purifier considers this option to be unsafe and disables it.
Indeed embedding external content is very often considered unsecure. You allow an external source to do whatever it wants on your page (including injecting viruses into your customer's page !).

Here are your options :
- you can ch

[2020-04-30 12:56] sarahdib opened #18914 "BO - Can't upload a child theme"
#### Describe the bug

After creating a child theme I try to upload it in my back office

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Appearance -> Theme & logo -> Advanced customization
2. Click on upload a theme child
3. Select the child theme in the issue
[child_classic.zip](https://github.com/PrestaShop/PrestaShop/files/4558401/child_classic.zip)
4. See error

**Screens

[2020-04-30 12:59] marsaldev opened #18915 "Improve translations "navigation" after string search"
#### Is your feature request related to a problem?

When you search a string that you want to translate and there is more than one result, it's very annoying navigate through the results and find the real string to translate

#### Describe the solution you'd like

Maybe adding two "navigation" buttons, like "prev" and "next" (see SS)

Or
#### Alternatives you've considered

In the domains category

[2020-04-30 13:08] Pierpaolo-Petros commented on #18612
Hello guys, @PierreRambaud @PululuK @khouloudbelguith
I made the changes you recommended in the related to: # 15871, although I am not practical but with a little calm I did it, now it does the callback, this however has not solved the problem, now it tells me that all the modules they do not exist, I am not a programmer but it is as if we were missing a file that locates these modules and therefo

[2020-04-30 13:10] alfonsolr09 commented on #18872
How can I disable html purifier just for youtbe?

[2020-04-30 13:11] Klemart3D opened #18916 ""Product Details" tab must be hidden if there is no data to display"
#### Describe the bug

On product page in FO, "Product Details" tab is visible and empty even if there is no data to display.

#### Expected behavior

No "Product Details" tab if there is no data to display. And no white block if there is no Description too.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Remove brand, reference and features in a product (e.g. "Mug Today is a good d

[2020-04-30 13:17] darioesposito commented on #18848
Hi,

I activate it now that but nothing work, if you wanna try go to www.briglia.com/it/shop-2 and filter by size for 42 (example) at the moment i have only 48 size avialiable with combinations but if you can filter by other size you still see all the 8 products...

I don't understand how i can show only the product disponibility with specific filter

With this option seams nothing work

Thanks

[2020-04-30 13:26] florine2623 commented on #18916
Hi @Klemart3D ,
Thanks for the recommandation, I'm facing the same behaviour.
I will let our product team know about it !

[2020-04-30 13:27] florine2623 commented on #18916
Hi @PrestaShop/prestashop-product-team ,

What do you think of this improvement ?

Thanks !

[2020-04-30 13:38] ttoine opened #18917 "Support oEmbed protocol in PrestaShop contents"
#### Is your feature request related to a problem?

Adding external content (Youtube, Twitter, ...) in a PrestaShop content is not very easy.

#### Describe the solution you'd like

Supporting the oEmbed protocol is the solution:
https://en.wikipedia.org/wiki/OEmbed

#### Expected behavior

Just put the link from a Youtube video, and it will be automatically added to the content.

#### Additional

[2020-04-30 13:57] dharmendravirasat commented on #18912
I have checked the issue is id_product_attribute value not coming when I using Webservices API
In hook actionUpdateQuantity params in don't have a value of id_product_attribute
every time coming id_product_attribute=0;
kindly suggest the solution to resolve query
plz reply
thanks

[2020-04-30 14:06] Lathanao commented on #18874
By checking your invoice, you can see the interrogation mark is at the end to the value, it should be at the beginning. IMO, it's a wrong configuration.

IMO, what you could check could be :
 - Check if in thai language version, you have the right Thai character like there :
![image](https://user-images.githubusercontent.com/6756795/80719915-5cca4780-8b26-11ea-9323-891ca9dba849.png)
 - Delete all

[2020-04-30 14:13] marionf commented on #18916
Nice idea @Klemart3D feel free to [sumbit a PR](https://github.com/PrestaShop/PrestaShop/tree/develop) if you know how to do that

[2020-04-30 14:29] abdu355 commented on #18814
Facing the same issue right after updating to 1.7.6.5 on April 28,2020.

* site: https://www.800cakes.com
* aws ec2 t2-medium
* default setup Bitnami stack &  default theme - Single store
* 1.7.6.5 (stable)
* Debug log + reports:
[dev.log](https://github.com/PrestaShop/PrestaShop/files/4558842/dev.log)
[screencapture-800cakes-administration-index-php-profiler-b56d23-2020-04-30-18_16_12.pdf](https:

[2020-04-30 14:47] crabbi33 commented on #18729
Hi

I investigate in my module folder and i find the origin of the problem. It is the module jsonmodule. after commenting this folder all is fine.... i can acces to module and paiement.

I have only one eror in FO when debug mode on

ContextErrorException in ac776c302f1a89b1213a2493a23db4c5dd35aedd.file.product.tpl.php line 1105: Notice: Undefined index: seo_availability

    in ac776c302f1a89b121

[2020-04-30 14:52] MatShir commented on #18712
hi @khouloudbelguith and @matthieu-rolland ,

The 1.7.7 behaviour is the right one, we should not display a discount for free shipping and "free shipping" in the total at the same time. The customer won't understand where the discount is applied in the invoice's summary of the totals.

[2020-04-30 14:57] florine2623 commented on #18917
Hi @ttoine ,
Thanks for the recommandation !

Hey @PrestaShop/prestashop-product-team,
Could you take a look at that request ?

**Example** : When a user adds a YouTube video to a description of a product, not all YouTube options are available (fullscreen mode) when HTML Purifier is activated. HTLM Purifier considers this option to be unsafe and disables it.
Using OEmbed would avoid creating non s

[2020-04-30 14:57] #18712 closed, assigned to matthieu-rolland

[2020-04-30 15:15] Robin-Fischer-PS opened #18919 "Customization parameters lost on product with multistore"
#### Describe the bug

When creating a shop in multistore, if importing Product Data from another shop, the customizable products are not working well anymore :
- On the newly created shop, the customizable products are created, but without the customization parameters
- If editing the customization parameters on the newly created shop, it will erase these parameters from the "original" shop (and

[2020-04-30 15:27] LouiseBonnard commented on #18910
@Klemart3D, thanks, indeed it'd be great, especially for stores with large catalogs.

[2020-04-30 15:45] Robin-Fischer-PS opened #18920 "Create order : Voucher gift and gift not displayed"
#### Describe the bug

On create order, when adding a gift voucher, the voucher is not displayed in voucher list, and the gifted product is not displayed in product list.

#### Expected behavior

Behavior is described in specification :
https://github.com/PrestaShop/prestashop-specs/blob/MatShir-create-order/back-office/orders/orders/Create%20new%20order.md#iii-voucher

#### Steps to Reproduce

St

[2020-04-30 15:50] florine2623 commented on #18889
Hi @kpodemski ,

I could not manage to reproduce the error. Please check my screen record :
https://drive.google.com/file/d/1hD0UU3cfbl5Peb1WDOIG3WNK5fe04DZk/view

Please use PHP version 7.3 and try again.

Thanks!

[2020-04-30 15:51] didacrios opened #18921 "New front controller for overrided module throws Not Found page"
#### Describe the bug

In order to maintain an original module we decided to override, but arised the need for creating custom front controller to handle post requests.

The Prestashop Dispatcher does not found the controller due to the following lines:
https://github.com/PrestaShop/PrestaShop/blob/c7237f5ae32a0a7130bda19e9b45facda4850cc9/classes/Dispatcher.php#L389-L401

#### Expected behavior

T

[2020-04-30 16:12] #18742 closed, assigned to nobody

[2020-04-30 16:15] florine2623 commented on #18879
I've created 2 groups with 2 shops in each group.
I still can't reproduce your issue.

Regarding your upgrade, did you use a tool of did you do it manually ?

I've have succeeded in changing the currency rate.
I think those 2 issues might not be related.

[2020-04-30 16:18] #18903 closed, assigned to nobody

[2020-04-30 16:19] sam-pires commented on #18917
Hello,

What about iFrame, is there some compatibility/unc-compatibility between oEmbed and iFrame ?

[2020-04-30 16:20] florine2623 commented on #18872
It is not possible !

[2020-04-30 16:23] florine2623 commented on #18912
Hi again @dharmendravirasat ,
Could you provide the exact steps to reproduce your issue ? If that issue can be reproduced, we will be able to help you.
Thanks!

[2020-04-30 16:29] rflorent commented on #18879
![bug-prestashop-conversion-rate](https://user-images.githubusercontent.com/8590540/80734913-339ebc80-8b10-11ea-83cf-bbb68cc0470d.jpeg)
![bug-prestashop-devise](https://user-images.githubusercontent.com/8590540/80734921-36011680-8b10-11ea-99d1-f6a96b3f5f1f.jpeg)

I use a migrating tool purchased on the prestashop addons.

[2020-04-30 16:30] florine2623 commented on #18848
Thank you for the details.
Indeed I could reproduce your issue on both 1.7.5.2 and 1.7.6.5. This is a bug.
I will let our team of developer know about this issue !
Thanks!

[2020-04-30 16:31] florine2623 commented on #18729
Could you clear your cache and hard refresh your browser and test again ?

[2020-04-30 16:37] rflorent commented on #18879
For information, I update the conversion rate to 1 on orders instead of 0, directly in database which fix the admin crash when displaying a customer thread.
So I don't understand why if I can set a conversion rate to zero, this will crash ?
Try to make an order with a zero conversion rate. Create a customer thread on that order and try to view it in the admin.

[2020-04-30 16:38] crabbi33 commented on #18729
done ...but same message

[2020-04-30 16:43] ttoine commented on #18917
oEmbed is usually used to avoid the use of iframes.
Also, @florine2623 pointed the fact that iframes will certainly be removed by HTML Purifier.

[2020-04-30 16:52] idnovate commented on #18874
I installed a fresh PS 1.7.6.5 in English, import Thailand language pack and couldn't reproduce the issue. Not sure which is the problem with the other installation as I have imported package the same way and I have not edited any currency.

[2020-04-30 17:06] dharmendravirasat commented on #18912
It's simple
I'm not getting id_product_attribute value.
(I have custom module ) in have a hooks
actionUpdateQuantity  in params id_product_attribute  value is blank/0 when I update product stock quantity with Webservice API

[2020-04-30 17:49] shaffe-fr commented on #18742
Indeed, I was quick, I was only able to reproduce the bug on 1.7.5 and 1.7.6. Thanks for checking.

[2020-04-30 18:00] MohammedID commented on #14351
Hi;

I got question, im trying to get products by tag using prestashop api https://mywebsiteurl.com/api/products/?display=[id]&filter[associations[tags][tags][id]]=2
But it didnt work, could anybody please help.

Many thanks

[2020-04-30 18:25] marionf commented on #18848
Hello @darioesposito your issue is a duplicate of #16952
Please follow and comment on this issue if needed

[2020-04-30 18:25] marionf commented on #18848
Duplicate of #16952

[2020-04-30 18:25] #18848 closed, assigned to nobody

[2020-04-30 18:31] darioesposito commented on #18848
Thank you very much and thanks the developer team for all the work they do!  i hope they fix that very soon cause it's very frustrating for customer see, after filtering, products not avialable for purchase!  i just reading the other post #16952 and i agree with @Twabi2 user.

[2020-04-30 18:34] darioesposito commented on #18848
Hi all,

I now see the video attached to my thread question, the problem is i don't have the quantity field because i use combinations products, and if i set in combinations stock to 0 they still see after applying the filter the unavialable products on list page

Thanks

[2020-04-30 18:56] shelve71 commented on #18881
Hi Florina,
my value is already higher. It is 27.000 because i received allert system message from prestashop.
After this, i had system message  'Unable to update settings' when tried to update products with considerable combinations.

Thanks.

[2020-04-30 19:14] cdcvince commented on #18901
Thank you @florine2623 for your answer but we cannot override a **private** function. That's exactly for what private is made for.
We can only override function with **public** or **protected** visibility. Which is exactly what I asked.

[2020-04-30 19:22] Firefox86 commented on #15369
Hi, same bug. PS 1.7.5.1.
In fact, it's more than a bug it's just not possible to use PS for doing e-commerce without this feature.
Thanks

[2020-04-30 19:28] Firefox86 commented on #9998
Same bug.
No news after one year? It's a huge mess... I'm about to try woo...
PS 17.5.1

[2020-04-30 20:58] emilieatelier commented on #18761
@florine2623 where i can find the Symfony bar? I have still this problem so their is a problem.

[2020-04-30 21:01] emilieatelier commented on #18624
@florine2623 on the dashboard page i see any number from the statistics. When i enter to the statistic page I see only the number of visit on my page and regestration anything else.

![image](https://user-images.githubusercontent.com/63663739/80758761-6fe51380-8b36-11ea-85ff-6256c101f85f.png)

[2020-04-30 21:25] baskettcase opened #18924 "Can not create $0 products"
#### Describe the bug

When I edit a product that has no cost, I get an SQL error since price_min and price_max are then empty.

#### Expected behavior

It would save the product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product that costs $0
2. If that succeeded, then try editing that product.
3. If that worked, then try setting it to a combo and then save

**Screens

[2020-04-30 21:41] IranDec opened #18925 "some problems after enable Memcached"
Hi
after enabling Memcached for caching system my panel got a lot of problems such as
1) when I wanna clean cache from Advanced Parameters > Performance
I will get this error :
Invalid token: direct access to this link may lead to a potential security breach. ( this error will be shown in most of my actions that I wanna do or make a change.

2) On the product page when I wanna add a new product I

[2020-04-30 22:01] IranDec opened #18926 "Display unavailable product attributes on the product page"
Hi
in Shop Parameters> Product Settings
when this feature is on
Display unavailable product attributes on the product page

in front page if a product has 2 different type combination such as 1. size 2. color

the system automatically hiding that size are out of stock but can't do it that for the second combination then customers cant choose their own selection.

* PrestaShop version: 1.7.6.4 ( Pe

[2020-04-30 23:00] wfpaisa commented on #12437
sorry it doesn't work in 1.7.6.5.

[2020-05-01 07:00] Laimonas-Mituzas opened #18927 "Lithuanian translations from Crowdin are not updated to localization pack."
Lithuanian translations from Crowdin are not updated to localization LT-lt pack.
Can't see updated translations in Front as in BO.

PrestaShop version: since 1.7 first versions.

[2020-05-01 07:12] Laimonas-Mituzas opened #18928 "ps_contactinfo module improvements"
**New description**

I'd like to extend the original issue, the original issue title is flexible enough to make this seem possible.

**Is your feature request related to a problem?**
- The phone number provided to front page by module ps_contactinfo is not clickable. Using smartphone it is comfortable that phone number is active, the same as email address.
- The eMail Address should be encoded to

[2020-05-01 08:05] Laimonas-Mituzas opened #18929 "Wrong country names ps_country_lang"
After adding diffirent languages all Country names are in English.

In DB table ps_country_lang I see this
![image](https://user-images.githubusercontent.com/1533248/88665159-799ef880-d0de-11ea-9fb2-0cb83a5eef9e.png)

Steps to reproduce the behavior:
- Installed PS 1.7.6.4 English version with Russian localization
- later languages were added in this sequance as in picture.
![image](https://user-i

[2020-05-01 08:09] #18908 closed, assigned to nobody

[2020-05-01 08:44] Borgas opened #18930 "Admin Password recovery page - BO"
In BO page, if you forgot password and click recover password, the message after email sent shows in RTL

Steps to reproduce the behavior:

- Go to admin login page
- Click recover password
- Insert admin email and click sent
- See pop message of sucess

### PS 1.7.6.5
PHP 7.2

[2020-05-01 09:44] gadnis commented on #17725
I get the same error too..
I use steps described in devdocs: "How to become a Core Contributor using Docker".

Everytime:
- I clean the docker
`docker-compose down -v`
`docker system prune -a`

- reseting my fork to the latest upstream from Prestashop/Prestashop
`git fetch ps`
`git reset --hard ps/develop`
`git push origin develop`

- I remove PrestaShop directory from Mac OS 10.12 system (node ve

[2020-05-01 11:39] gabrielobleite commented on #18536
Hello, I have a question.

I found where, in the generate module, I have to change to remove Required info from URL. But I did not found where to change it, I noticed that the code in generated in some way, but I did not found where.

Have some clue where I can found that?

Thanks in advance and hope is all good with you during this pandemic situation.

[2020-05-01 12:23] Alcpaone commented on #12452
PS 1.7.6.5 / PHP 7.2 same error

[2020-05-01 12:24] jerome77oak opened #18931 "Panier avec produits n'existant plus"
Bonjour,

Je vous expose le soucis que je rencontre.

Une cliente ajoute des produits dans son panier mais ne finalise pas sa commande. Son panier et donc garder en l'état par le site.

La commerçante supprime (met hors ligne) un des produits de ce dit panier car elle ne le fabrique plus.

La cliente revient sur son panier quelques jours plus tard, finalise sa commande...le produit supprimé et qua

[2020-05-01 12:26] nighttimedev commented on #10717
@khouloudbelguith The issue is still existing, even though the issue is really old by now.
![image](https://user-images.githubusercontent.com/39534549/80805182-a7e06b00-8bb7-11ea-893c-99755ff5740d.png)

I get this error on all steps when trying to create a new shipping service.

Any help?

[2020-05-01 13:04] Hlavtox opened #18932 "Disable maintenance mode for BO-logged in users"
#### Is your feature request related to a problem?

It's annoying to add ip addresses to exceptions every day/hour my public ip changes.

#### Describe the solution you'd like

It would be good to automatically show FO to users, that are logged in BO.

Or add it as an option - “Enable store for logged in employees”.

#### Specifications

https://github.com/PrestaShop/prestashop-specs/pull/183/file

[2020-05-01 13:05] Matt75 commented on #10717
@nighttimedev What is your PrestaShop version ?
Please use your browser Devtools and Network inspection when this error appear to retrieve details about Ajax request fail. It appends when PrestaShop return HTML instead of json, in case of exception for example.

[2020-05-01 15:59] 01park opened #18933 "SyntaxError: Unexpected token < in JSON at position 0"
Before I upgrade to 1.7.6.5 I made a back up from my store incl. DB.

My store is ever since not performing well, so I decided to see if everything would work better on a other server.

When I want to restore the back-up in CPANEL, I get this error:

SyntaxError: Unexpected token < in JSON at position 0

I can see in MYPHPadmin that the database is partially recovered, but that the amount of rows

[2020-05-01 16:41] Gipielle commented on #18932
Right !

[2020-05-01 16:42] Gipielle commented on #18727
Hi @sarahdib have you check ?

[2020-05-01 16:43] Gipielle commented on #18732
Hello, the fix is for 1.7.8 only ?

[2020-05-01 16:57] matteolavaggi opened #18934 "can't enable cache using memcached"
#### Describe the bug

Try to enable cache (with memcached server) result in butto show "OFF" again after save
#### Expected behavior

Cache button need to show YES

#### Steps to Reproduce

Steps to reproduce the behavior:

Go to cache, > yes > select memcached > add server > save.

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
![image](https:/

[2020-05-01 18:38] alfonsolr09 commented on #18802
What do you think of the idea? do you think it is viable?

[2020-05-01 18:43] alfonsolr09 commented on #18645
how can i uprgrade it with 1 click upgrade?

[2020-05-01 19:17] alfonsolr09 opened #18935 "error displaying multiple images in one product"
#### Describe the bug

When a product has multiple images, a carousel is created with two arrows on the sides.
this carousel, in google chrome if you press the left arrow an error is created in which the images are passed infinitely

#### Expected behavior

same function as the right arrow

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a product
2. Click on left arrow
3. See

[2020-05-01 20:10] 6xthFNGR opened #18936 "Can't save when there are too many carriers and payment method"
Hey,

was using PS 1.7.6.4 with Bank Transfer Modul by PS, PayPal official Modul by PS/202, Stripe SCA Modul by 202 and blockonomics (bitcoin) Addon.

I am unable to check all boxes for the Menu - Payment - Preferences "restriction" (allowing) all Countrys and all Carriers with all payment Options.

At some point, when I put one more mark into a countrys checkbox and saved it, he deleted some Chec

[2020-05-01 20:49] PululuK commented on #18732
Hi @Gipielle

Sorry for the delay ... I proposed a solution here https://github.com/PrestaShop/PrestaShop/pull/18937

Thank you !

[2020-05-01 22:09] 6xthFNGR opened #18938 "Back Office Notification Icon includes Data of deactivated Settings"
Hello,

using PrestaShop 1.7.6.4,

everything works.

But in the Back Office, top right corner, where your notifications with Last Orders/Messages, my Icon does not resett and always claims there is something. When I click on it, no Messages, No Notifications, no Last Orders that are not marked.

I found the reason for it.

Menu - Configure  -> Advanced Parameters -> Administration

Ive set Notifi

[2020-05-01 22:13] 6xthFNGR opened #18939 "Module Section Category sorting "broken" after Updating Modules"
Hello,

using PrestaShop 1.7.6.4,

in the last couple of days there was an Upgrade Release of Link list (I had 3.0.4. if I remember correct) to 3.1.0 and some other PrestaShop Module, I think it was Contact Form from 4.XX to 4.1.1.

After upgrading, my Module Manager in the Backend is somehow broken:
No Module pre sorted into a Category anymore

All Modules now are sorted into 2 Categories:
Theme

[2020-05-01 22:13] 6xthFNGR opened #18940 "Translations - Copy Feature broken, wrong directory path to theme/classic/lang"
#### Describe the bug

The copy feature in International > Translation does not work.

#### Expected behavior

I should be able to copy one language to another

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Design > Theme & Logo > Advanced customization
2. Download current theme
3. Upload child theme
4. Go to 'International > Translation
5. Scroll down to 'Copy'
6. Copy from

[2020-05-02 00:40] BenTen commented on #18912
Is it the same case?
https://github.com/PrestaShop/PrestaShop/pull/13213

[2020-05-02 08:06] BERNARD-EMMANUELLE opened #18941 "Customer Reassurance"
Après avoir mis à jour le module Customer Reassurance, voici ce qui s'affiche:

![REASSURANCE 1](https://user-images.githubusercontent.com/64680799/80858834-5fc75400-8c5c-11ea-8dcd-d77e1f17b70d.JPG)

![REASSURANCE 2](https://user-images.githubusercontent.com/64680799/80858847-71106080-8c5c-11ea-9c11-71a4211bbd95.JPG)

Que dois-je faire?

[2020-05-02 08:58] fbsoft opened #18942 "Meta refurbished"
#### Describe the bug

I had inspected my product page, on classic theme, and i found that itemProp, itemCondition has the meta condition as refurbished.

#### Expected behavior

To show the real condition of the item

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create product
2. Assign condition
3. Add attributes with different prices
4. See error

**Screenshots**

![image](http

[2020-05-02 09:24] oksican opened #18943 "1.7.6.4 (1/1) ContextErrorException Warning: Declaration of Cart::getProducts"
(1/1) ContextErrorExceptionWarning: Declaration of Cart::getProducts($refresh = false, $id_product = false, $id_country = NULL) should be compatible with CartCore::getProducts($refresh = false, $id_product = false, $id_country = NULL, $fullInfos = true)
--
in Cart.php
at ErrorHandler->handleError(2, 'Declaration of Cart::getProducts($refresh = false, $id_product = false, $id_country = NULL) should

[2020-05-02 09:59] oksican commented on #18943
Thanks;

I'm waiting for help

[2020-05-02 11:22] foga92 commented on #18796
Same problem for me.
Also try with different nodejs versione but same issue.
And i confirm that only admin panel is visible

[2020-05-02 12:37] alfonsolr09 opened #18944 "backoffice image error"
#### Describe the bug

on the home screen of the backoffice, most viewed the images shown are linked together

I deleted the tmp folder, the cache and regenerate the images and it is not fixed

#### Expected behavior

should show well

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to starting screen
2. Click on most seen
3. Scroll down to see error on products

**Screenshots**

[2020-05-02 14:00] loetje88 commented on #14616
Running on PrestaShop-versie: 1.7.6.4 , problem still persists.

Almost every button in back office no product page does not work by clicking, only after refresh.
Sorting backoffice sorting does not works FO.

[2020-05-02 14:01] loetje88 commented on #9903
Running on PrestaShop-versie: 1.7.6.4 , problem still persists.

Almost every button in back office no product page does not work by clicking, only after refresh.
Sorting backoffice sorting does not works FO.

[2020-05-02 14:30] jouino16 commented on #13096
Pardon me if I'm posting on a closed issue, my question is related to the title of this issue which is: what is the effective way/check to determine a sold out item? I tired the check: product equals to zero, but it does not work effectively: actually when a first user adds an item in his cart, the second user in another session sees the item as sold out.

Could you please advise me with the effec

[2020-05-02 14:51] hamsn opened #18945 "Hook missing/misspelt in DB: (actionAuthenticationBefore)"
#### Describe the bug

**CustomerLoginForm.php** contains **actionAuthenticationBefore**
But the database hooks table does not contain **actionAuthenticationBefore**,
instead there is **actionbeforeauthentication** probably misspelled?

#### Expected behavior

Using **hookActionAuthenticationBefore** in code does not fire the hook.
Renaming it in the DB hooks table from actionbeforeauthentication

[2020-05-02 15:49] go-sudo opened #18946 "Duplicate Order"
Hi
When I received an order it's tagged with payment accepted, but when I change the status to being prepared, "en cours de preparation" I noticed in payment section that order is a duplicate message

Attention 900 MAD payé au lieu de 450 MAD

**Screenshots**
![image](https://user-images.githubusercontent.com/11594433/80868516-bd729500-8c8a-11ea-8dea-12e472b0a2f7.png)

![image](https://user-images

[2020-05-02 17:22] atsinfosystemhelp opened #18947 "Unable to override catalog product data using filterProductSearch hook in prestashop 1.7.6"
Notice: Indirect modification of overloaded element of PrestaShop\PrestaShop\Adapter\Presenter\Product\ProductListingLazyArray has no effect
error display in prestashop 1.7.6 where as working perfectly in prestashop 1.7.3

Here is the code:
public function hookFilterProductSearch($params) {
foreach ($params['searchVariables']['products'] as &$product) {
					if ($product['main_variants']) {

[2020-05-02 17:29] Matt75 commented on #18946
Can you check this issue : https://github.com/PrestaShop/docs/issues/508

[2020-05-02 22:23] Hlavtox opened #18948 "Module manager page bugs"
#### Error when clicking "Enable/Disable" too fast

- Have like 4 or more disabled modules.
- Click Enable on all of them. (Do not wait for the previous action to finish.)
- See red error message on the right, that the action could not be finished.

#### Display error after module uninstall

- Have enough modules in "Other" category, that the "show more" link is shown in the bottom.
- Uninstall a

[2020-05-03 08:27] PululuK opened #18949 "[BO][IMPROVEMENT] Allow check all in product combinations"
## Is your feature request related to a problem?

It is true that life expectancy has increased in recent years. But we still have to manage our time wisely.

#### Imagine the following situation :

![improve_combinaison](https://user-images.githubusercontent.com/16455155/80908797-2f96b880-8d23-11ea-8585-677cc30175ec.png)

The user wishes to generate all the possible combinations (**sizes**, **col

[2020-05-03 09:26] go-sudo commented on #16428
Hi
Same issue and resolved, post_max_size must be greater than max file upload

[2020-05-03 09:47] Allba commented on #18890
For my worked only when i deleted "|unescape:‘html’:’UTF-8’|nl2br".
Thanks to both of you.

[2020-05-03 09:55] atsinfosystemhelp commented on #18947
Solution:

if (isset($product['main_variants'])) {
							$variants = array();
							foreach ($product['main_variants'] as $variant) {
								if (isset($combinationImages[$variant['id_product_attribute']][0]['id_image'])) {
									$variant['html_color_code'] = '';
									$variant['texture'] = $this->context->link->getImageLink(
										$product['link_rewrite'],
										$combinationImages

[2020-05-03 09:55] #18947 closed, assigned to nobody

[2020-05-03 11:39] alfonsolr09 commented on #18949
@PululuK How do you have version 1.7.7?

[2020-05-03 11:43] PululuK commented on #18949
Hi @alfonsolr09

I'm using develop branch ... See https://devdocs.prestashop.com/1.7/basics/installation/

Thanks

[2020-05-03 12:27] 01park commented on #18945
Hi,

I was just reading this, where exactly can this be changed?

[2020-05-03 13:11] alfonsolr09 opened #18950 "Improvement on product creation page"
#### Is your feature request related to a problem?

I think the menu below to store the products is too big and covers too much product information

#### Describe the solution you'd like

it would be nice to move it around or make the dropdown menu.
I enclose some ideas

#### Additional context

this menu https://prnt.sc/sa4tpb
idea 1 https://prnt.sc/sa4wl6
idea 2 https://imgur.com/a/uhfYiw6    ht

[2020-05-03 13:24] alfonsolr09 commented on #18935
the error keeps happening in version 1.7.7

[2020-05-03 13:49] alfonsolr09 opened #18951 "wrong id when updating carriers"
#### Describe the bug

when you update the information of the carriers, the id is not overwritten, it seems that a new one is created

#### Expected behavior

that information on the same carrier should be updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to carriers
2. Look at the id and modify the information of one
3. See error

**Screenshots**

https://youtu.be/APPy39QD

[2020-05-03 14:19] SeriousKen opened #18952 "en_GB translation of 'Contact' is 'CMS page'"
When the admin is in en_US the menu for updating contacts is correctly labelled `Contact` but switching to en_GB it ends up labelled `CMS page`. I've tried changing this by editing the translation under `Admin > Navigation > Menu > Contact` but it doesn't change.

![Annotation 2020-05-03 151251](https://user-images.githubusercontent.com/29771532/80916564-5f5cb500-8d51-11ea-95e1-1dc785f5df50.png)

[2020-05-03 14:31] ionut-gheorghe commented on #18951
Same here, trying to modify an existent carrier and it creates a new one. This happend with ps 1.6 also.
![image](https://user-images.githubusercontent.com/54311614/80916804-5b359500-8d5b-11ea-9794-3eab290af199.png)
![image](https://user-images.githubusercontent.com/54311614/80916824-77393680-8d5b-11ea-943e-ec4f1f2cfb68.png)

[2020-05-03 17:50] hamsn commented on #18945
The references are found:
**in install folder:**
data/xml/hook_alias.xml
**after installation:**
in db: ps_hooks table

Also found this prefix in upgrade sqls

[2020-05-03 18:52] pks891618 opened #18953 "WS - Products - you can't get or set the product quantity (always zero)"
## WS - GET - Get a Product

#### Describe the bug
In WebServices, the quantity of the products are not returned.
When displaying `/products?display=full&output_format=JSON`, here's the result (see the first attached screenshot below)
When in the BO the quantity is not 0 (see the second attached screenshot below)

#### Steps to reproduce

1) `/products?display=full&output_format=JSON`
Prestashop A

[2020-05-03 21:24] Gipielle commented on #18951
This bug is still present since prestashop 1.4 ...

[2020-05-03 21:46] kpodemski commented on #18951
It's not a bug, it's proper behavior to prevent updating historical data in orders

[2020-05-03 21:52] alfonsolr09 commented on #18951
?????????

[2020-05-03 22:34] manudas commented on #18821
Hey @PierreRambaud
As per your request, I sent a Pull Request. This is my first PR to the Prestashop community. Sorry if for whatever reason I did something wrong.

I hope it will be of help for the community.
Regards

[2020-05-04 06:58] Progi1984 commented on #18953
Hi @pks891618

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:
http://build.prestashop

[2020-05-04 07:05] pks891618 commented on #18953
@Progi1984  i can't see any documentation for the REST API where we can get the total count from the API

Just need to know in Prestashop 1.7.1.6 API if we need to list all products, how can we get the total count of products to return in the results

[2020-05-04 07:07] Progi1984 commented on #18952
Hi @SeriousKen

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:
http://build.prestasho

[2020-05-04 07:13] Progi1984 commented on #18951
Hi @alfonsolr09,

[2020-05-04 07:14] #18951 closed, assigned to nobody

[2020-05-04 07:14] Progi1984 commented on #18951
Duplicate of #9592

[2020-05-04 07:29] SeriousKen commented on #18952
Prestashop 1.7.6.5 on Linux Ubuntu 18.04.4 LTS with PHP 7.3.17 on a dedicated virtual host installed from the downloaded from https://www.prestashop.com/en/download, there are no errors as the issue is an incorrect translation in the en_GB language file `sf_en_GB.zip` if you extract this file and look at `AdminNavigationMenu.en-GB.xlf` line 128 is

[code]

and line 10 in `AdminNavigationFooter.en-

[2020-05-04 07:46] PierreRambaud commented on #18839
Good to know :)

[2020-05-04 08:11] colinegin commented on #18802
Yes this could be a nice improvement ! We need to prioritize it with other improvements.
If you are able to make a Pull Request for this improvement, we'll review it as soon as possible.

Have a nice day

[2020-05-04 08:18] silicon755 opened #18955 "Watermark Module | HTTP 500 Internal Server Error"
I have installed https://github.com/PrestaShop/watermark module but upon configuration, I get the HTTP 500 Internal Server Error with the following Stack Trace, I have tried clearing cache and editing .htaccess as suggested on Prestashop Forums but I can't seem to get it working. Someone with a workaround?

 **Store Information**

PrestaShop version: 1.7.6.1

Server software version: Apache

MySQL

[2020-05-04 08:23] LouiseBonnard commented on #16428
HI @go-sudo, thanks for this information! If you have already fixed it on your end, feel free to share your solution here with a pull request. :-)

[2020-05-04 08:34] LouiseBonnard commented on #18536
Dear @gabrielobleite, thank you very much, I hope all is good for you as well!

It might be the `true` value on line 758 in the module file ([here](https://github.com/PrestaShop/ps_imageslider/blob/master/ps_imageslider.php)), I guess you need to turn it into `false`. @PrestaShop/prestashop-core-developers, can you confirm? are there other files to check?

[2020-05-04 08:42] eternoendless commented on #18901
You're right @cdcvince. There's a problem because you can't customize that part.

This is symptomatic of a design problem in that controller, because it does too much. However, I'm not a fan of making private methods protected, firstly because it violates the open/closed principle of SOLID design, and secondly (and most importantly) because it would promote that method as part of the API, renderin

[2020-05-04 08:52] eternoendless commented on #18536
@LouiseBonnard not enough. The url is validated by language [here](https://github.com/PrestaShop/ps_imageslider/blob/master/ps_imageslider.php#L327-L335) and [here](https://github.com/PrestaShop/ps_imageslider/blob/master/ps_imageslider.php#L346-L348)

The `url` value is also required at the ObjectModel entity level as well [here](https://github.com/PrestaShop/ps_imageslider/blob/master/Ps_HomeSli

[2020-05-04 08:54] Progi1984 commented on #18955
Hi @silicon755

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- how have you installed the module ?
 ...

You don't know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-r

[2020-05-04 09:09] Hlavtox commented on #18949
Yes! Just yesterday, I was making a product - a tshirt with an alphabet letter on it... + few colors, few sizes. Good 35 checkboxes to check. 😃

[2020-05-04 09:20] silicon755 commented on #18955
Hello @Progi1984

The module had issues with the normal Backoffice upload so I used FTP to upload it in /modules folder and after successful installation, I am getting HTTP 500 Internal Server Error when trying to configure it.

SERVER INFORMATION
==================
Server information Linux #1 SMP Wed Oct 2 07:53:12 EDT 2019 x86_64
Server software version: Apache
PHP version: 7.2.30
Memory limit:

[2020-05-04 09:29] Hlavtox commented on #18698
@rdy4ever Personally, I think you should investigate why you have problems with finalizing the order, and not trying to completely change the email mechanism...

[2020-05-04 09:37] Progi1984 commented on #18944
Steps to Reproduce :

1. In module `statsdata`, enable "Save page views for each customer" :
![image](https://user-images.githubusercontent.com/1533248/80953167-49a3ca00-8dfb-11ea-85b1-3f3468354e64.png)

[2020-05-04 09:40] seederp2p opened #18956 "Slow Order List Backoffice"
Go to Orders
The page isn't completly loaded until the PKI data isn't loaded.
For some strange reason it takes a lot of time.

What can I do to troubleshoot this?

PrestaShop version: 1.7.6.4

[2020-05-04 09:43] Hlavtox commented on #14754
@xmovu @onklmaps @kpodemski If you need this feature, here is my implementation. One link in admin order view and a function added to admin order controller. Adjust if needed. :-)

Insert this anywhere into `/www/admin527wi60rb/themes/default/template/controllers/orders/helpers/view/view.tpl`

[code]

Insert this into controllers/admin/AdminOrdersController.php, before `/* Update shipping number a

[2020-05-04 09:49] MatShir commented on #14754
@Hlavtox it seems a nice work, you could contribute to the project if you have time. We will be pleased to review it 😄

[2020-05-04 09:57] matks opened #18957 "Order preview broken on develop"
#### Describe the bug

Order preview broken on develop : it does not open. Errors in console

#### Expected behavior

Order preview works

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders listing
2. Click, next to the ID, on the small arrow (see screenshot) it should open an order preview, it does not

**Screenshots**
<img width="109" alt="Capture d’écran 2020-05-04 à 1

[2020-05-04 09:57] matks commented on #18957
Error in console:
[code]

[2020-05-04 09:58] Robin-Fischer-PS commented on #18900
Note : This bug appears with all currencies (except the default one).

[2020-05-04 09:59] jeanbaptiste-mte opened #18958 "Bug on update quantity in cart page"
#### Describe the bug

I notice that there is a problem when I have at least two products (P1 and P2) in the basket and I change the purchase quantities. For example :

P1 stock: 5, P2 stock: 5. I have 5 P1 products in my basket, and 3 P2 product.

When I increase the quantity of P1 in the basket (6 for example), I see a notification of quantity error and the order button is disabled, this is norm

[2020-05-04 10:04] rdy4ever commented on #18698
Hi @Hlavtox
It's not just about my shop here. I've been using prestashop for years now and have noticed this ranndom behaviour from time to time on some shops (both 1.6 and 1.7 - while using a relay to send email). If you ask why use a relay - the answer would be about email tracking and deliverability. Using user session recording software I have noticed that, from time to time, the request to fi

[2020-05-04 10:09] PierreRambaud commented on #18796
@foga92 As I said above, we need the exact log trace to understand what happened

[2020-05-04 10:11] rdy4ever commented on #18946
I think both statuses set the order as being paid. It's kindof a bug, but to mitigate, set just one of them do do this.

[2020-05-04 10:22] Robin-Fischer-PS opened #18959 "BO - View order pagination does not display right number of products"
#### Describe the bug

At the first access to an order (with minimum 9 products), the pagination is OK, with 8 products. If you change page (to page 2 for example), the last product on page 1 is present at the top of page 2.
If you return to page 1, only 7 products are displayed instead of 8.

#### Expected behavior

Pagination should always display 8 products per page.

#### Steps to Reproduce

S

[2020-05-04 10:37] Hlavtox commented on #14754
@MatShir No showcase of programming skills bro, just copied the functionality from emailalerts. :-D :-D

It could be done properly by creating "Order::sendConfirmationEmail" function, so we don't have duplicated code. Ping @matks for example?

[2020-05-04 10:46] Hlavtox commented on #18698
@rdy4ever Well, I am using PHP to send emails, so I never experience any delay, but I get your point.

You are right that email queue could be implemented, if using SMTP to send emails. Everywhere, not just order confirm.

Another thing - During order saving process, Prestashop could save the order data several times, before and after module hooks, so if an error occurs in some module, the order i

[2020-05-04 10:51] fmipsylone opened #18961 "Upgrade from 1.7.6.3 to 1.7.6.5 failed Following PrestaShop upgrade documentation"
#### Describe the bug

Everything is in the title.

[code]

#### Steps to Reproduce

Steps to reproduce the behavior following documentation https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/:

1. `wget -O prestashop-upgrade.zip https://www.prestashop.com/download/old/prestashop_1.7.6.5.zip`
2. `mkdir upgrade1.7.6.5`
3. `cd upgrade1.7.6.5`
4. `unzip ../prestashop-upgrade.zip &&

[2020-05-04 12:01] PierreRambaud commented on #18814
@abdu355 Are you sure you provide us all php and apache logs. I didn't see any errors in it :thinking:
Do you use custom modules?

[2020-05-04 12:31] colinegin commented on #18842
Rebase on 1.7.6.x needed, thanks !

[2020-05-04 12:37] colinegin commented on #18432
@Progi1984  could you describe the issue more in details please ?

[2020-05-04 12:58] Progi1984 commented on #18956
Hi @seederp2p

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:
http://build.prestashop

[2020-05-04 13:13] CyrilGabert commented on #18656
Hi @Klemart3D and @florine2623 ,

I currently have the same problem ... Have you solved the problem? Or an idea to get around it?

Regards,
Cyril

[2020-05-04 13:28] seederp2p commented on #18956
PHP 7.2.24-0ubuntu0.18.04.4
PrestaShop version: 1.7.6.4
No apache errors
Java script console:
jquery-1.11.0.min.js:4 XHR finished loading: POST "https://mywebsite.whatever/whatever/index.php?controller=AdminGformrequest&token=d2ef186…".
jquery-1.11.0.min.js:4 XHR finished loading: POST "https://mywebsite.whatever/whatever/index.php/common/notifications?_token=0MhNU91LJj0A1xDvRY_aPbw2yFat9hkpn7H4sV

[2020-05-04 13:29] Klemart3D commented on #18656
Hi @CyrilGabert, for massive import you must unfortunately use an external tool. (In my case, I used [StoreCommander](http://www.storecommander.com/?scaid=a9426e91dc)).

[2020-05-04 13:37] eternoendless commented on #18647
The build is still being verified by QA. Unless a critical bug is found, we expect to be able to deliver it early next week.

[2020-05-04 13:52] Progi1984 commented on #18939
@6xthFNGR It may be a problem with connection with Addons (which permits to fetch categories). If i remember, there is a cache (24h) before refreshing. Could you empty your cache or check it a new time ? Thanks

[2020-05-04 13:56] 6xthFNGR commented on #18939
Hello,

Caching was disabled and cleared several times. Sadly, no impact.
Have you seen my EDIT, explaining that new User Accounts/Groups do not suffer the same impact?

What - User specific - Settings could be the reason for the issue?

Thanks you

[2020-05-04 13:59] florine2623 commented on #18931
Hi @jerome77oak ,

Please, send your request in English.
English is the norm on GitHub
Thanks!

[2020-05-04 14:01] florine2623 commented on #18941
Hi @BERNARD-EMMANUELLE ,

Please, send your request in English.
English is the norm on GitHub.
Also, what is the version of PrestaShop you are using ?
What is the version of module Reinsurance available in your BO ?

Thanks!

[2020-05-04 14:07] florine2623 commented on #18928
Hi @Laimonas-Mituzas ,

Thanks for the suggestion, I will let our product team know about your request.

[2020-05-04 14:08] BERNARD-EMMANUELLE commented on #18941
Prestashop 1.7.1.2 , Customer Reassurance v4.1.1

[2020-05-04 14:11] florine2623 commented on #18928
Hi @PrestaShop/prestashop-product-team !

What do you think about this improvement on module ps_contactinfo ?
On v3.1.0, on mobile, phone number and email can't be clicked to shoot an action.

Thanks!

[2020-05-04 14:24] florine2623 commented on #18924
Hi @baskettcase ,

I followed your steps, but can't reproduce your issue on PS 1.7.6.5.

_I edited modules/ps_facetedsearch/ps_facetedsearch.php line 564 and 565 and set $minPriceValue and $maxPriceValue to (float) and now everything works just fine._
-> Do you mean your issue is fixed and can be closed ?

Thanks!

[2020-05-04 14:34] Progi1984 commented on #18935
Hi @alfonsolr09,

Despite our several trials, we could not reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thank you!

[2020-05-04 14:35] #18935 closed, assigned to nobody

[2020-05-04 14:40] Progi1984 commented on #18926
We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #9948.

To be informed when it’s fixed, please subscribe to the issue above.

Thank you!

[2020-05-04 14:40] florine2623 commented on #18926
Hi @IranDec ,

Is your issue similar to https://github.com/PrestaShop/PrestaShop/issues/16952 ?

Thanks!

[2020-05-04 14:40] Progi1984 commented on #18926
Duplicate of #9948.

[2020-05-04 14:41] Progi1984 commented on #18925
We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #9948.

To be informed when it’s fixed, please subscribe to the issue above.

Thank you!

[2020-05-04 14:48] Progi1984 commented on #18933
Hi, It seems that it's a hosting provider problem. Please contact your hosting provider for checking and repairing your database. Thanks

[2020-05-04 14:52] 01park commented on #18933
No its not a hosting problem. I have more PS site on this host, and they back up perfectly.

Database is not showing any repair issues.

Something in the db is causing the issue.

[2020-05-04 14:57] Progi1984 commented on #18930
Hi @Borgas

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
 ...

You don't know how to get this information? Please read the following article:
http://build.prestashop.co

[2020-05-04 15:01] florine2623 commented on #18943
Hi @oksican ,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2020-05-04 15:11] marionf opened #18965 "BO - Pages CMS - Position column should be displayed only in a specific store context when the multistore is enabled"
#### Is your feature request related to a problem?

We should have the same behavior on all BO grid in multistore when there is a position column

#### Describe the solution you'd like

In Design > Pages, the position column should be displayed only in a specific store context when the multistore is enabled (same behavior as on Categories page) and I should be able to move pages only in a specific

[2020-05-04 15:27] florine2623 commented on #18941
I can't reproduce your issue.
After I upgraded my module to v4.1.1, here's what I have :
![Capture d’écran 2020-05-04 à 17 24 52](https://user-images.githubusercontent.com/16019289/80982999-55f44b00-8e2c-11ea-9555-44c630fad69a.png)

Do you have any error on console ? What happens when debug mode in enabled ?

Thanks!

[2020-05-04 15:43] Leous88 commented on #18793
![Captura de pantalla 2020-04-26 22 53 53](https://user-images.githubusercontent.com/44386425/80984907-7ad0ca00-8dfc-11ea-934c-9e7abc71b527.png)

[2020-05-04 15:55] LouiseBonnard commented on #18928
Nice improvement, @Laimonas-Mituzas, thanks! Indeed, when on a desktop device, the email address is clickable, it makes sense to allow the same when on a mobile device (including the phone number).

[2020-05-04 16:08] matks opened #18966 "Forgotten block inside migrated Order page : Sources"
#### Describe the bug

When we migrated Order page, we forgot (because we did not it existed) the "Sources" block at the bottom of the page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make an order on FO
2. See how it looks on legacy Order page (for example on 1.7.6), see the "sources" block at the bottom (attached is screenshot)
3. Compare to migrated page

**Screenshots**

<im

[2020-05-04 16:08] matks commented on #18966
Reported by @Robin-Fischer-PS

[2020-05-04 16:11] matks opened #18967 "Forgotten block inside migrated Order page : Linked orders"
#### Describe the bug

When we migrated Order page, we forgot (because we did not it existed) the "Linked orders" block at the bottom of the page

I can see it in the code but I dont know how to make it appear. Maybe when orders are split ? Apparently in the code, orders are considered to be "brothers" a.k.a "linked" when they share the same reference.

See the code https://github.com/PrestaShop/P

[2020-05-04 16:11] matks commented on #18967
Reported by @Robin-Fischer-PS

[2020-05-04 16:21] eternoendless commented on #18565
It looks like this is a real issue. It's possible to _override_ a complete module template, but not to _extend_ it.

According to [the documentation](https://devdocs.prestashop.com/1.7/themes/reference/overriding-modules/), you can override any module template just by redefining it in the theme by convention. But you cannot _extend_ it, because in order to extend it you need to use `{extends  file

[2020-05-04 16:23] Robin-Fischer-PS commented on #18966
Thanks @matks !

For those who, like me, cannot reproduce this that simply, try these reproduction steps :

- Activate multistore
- Create a new shop group, which does not share nor customers, nor available quantities to sell
- Create a new shop in this group (importing datas from the main shop)
- Go to FO, make an order (without registering), there should be the "Sources" block on this order on B

[2020-05-04 17:40] alfonsolr09 commented on #18802
How can I send a request for extraction? I'm not a developer

[2020-05-04 17:42] alfonsolr09 commented on #18944
Is it possible that the error comes from when a product is modified?

[2020-05-04 17:43] alfonsolr09 commented on #18935
@Progi1984 try multiple images in google chrome

[2020-05-04 17:44] alfonsolr09 opened #18968 "error displaying multiple images in one product"
#### Describe the bug

When a product has multiple images, a carousel is created with two arrows on the sides.
this carousel, in google chrome if you press the left arrow an error is created in which the images are passed infinitely

#### Expected behavior

same function as the right arrow

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a product
2. Click on left arrow ON GOOG

[2020-05-04 17:45] alfonsolr09 commented on #18968
@Progi1984 closed the previous thread

[2020-05-04 17:46] alfonsolr09 commented on #18935
important this error only happens in google chrome

[2020-05-04 17:46] alfonsolr09 commented on #18968
important this error only happens in google chrome

[2020-05-04 18:16] SemoTech opened #18970 "[PHP Compatibility] Unable to Access Translations or add Team Members w/ PHP 7.4"
#### Describe the bug

Fresh install of PrestaShop 1.7.6.5 and unable to access "Translations" page/section or create any additional accounts if using PHP 7.4

#### Expected behavior

Ability to create Team member accounts in PHP 7.4 given it's current version.

#### Steps to Reproduce

Steps to reproduce the behavior (using Firefox on Mac):

1. Go to 'Advanced Parameters'
2. Click on 'Team'
3. Cl

[2020-05-04 18:22] alfonsolr09 commented on #18970
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2020-05-04 18:22] alfonsolr09 commented on #18970
(https://image.prntscr.com/image/oljXupBuTn2F753-zkBdSg.png)

[2020-05-04 18:27] SemoTech commented on #18970
Thank you @alfonsolr09 I downgraded to PHP 7.2 for now, and will wait to go to PHP 7.3 once v1.7.7 is out.  Great platform otherwise, well done everyone!

[2020-05-04 18:28] alfonsolr09 commented on #18970
i think 1.7.8 may be compatible with php 7.4

[2020-05-04 18:30] #18970 closed, assigned to nobody

[2020-05-04 18:38] xmovu commented on #12452
Same error here, PHP 7.2.30, Prestashop version 7.6.4

[2020-05-04 18:46] xmovu commented on #12452
Edit: upgeaded to 7.6.5, same issue.

[2020-05-04 19:10] pinkfabb commented on #18837
Hi,

I would like to save the customization fields when I click to add to cart button in prestashop.

Whenever customer saves his/her custom feild replies.I dont get to see that on my admin panel.

IT dissappears after adding it to the CART. CUstomisation field value doesnt get saved.

I tried many ways, but I can not manage to find the solution.

Any help ?

Thanks

[2020-05-04 19:42] Matt75 commented on #18837
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18186 my n develop branch
Lines in branch 1.7.6 are different

[2020-05-04 19:51] baskettcase commented on #18924
I edited core to fix it, but no if I removed my changes it wouldn't be fixed. Strange, Ill have to install a clean copy and see if it works there. it's definitely not working for me.

[2020-05-04 21:18] gabrielobleite commented on #18536
Thanks @LouiseBonnard and @eternoendless . I will check all the links and verify how to proceed with the changes.

[2020-05-04 23:34] BenTen opened #18971 "Order page, shipping fee become 0 if id carrier is deleted"
1/ make an order with a carrier (not free one)
2/ rename the carrier
3/ change the address of the customer

Shipping fee will be change to 0.00 {currency}

* PrestaShop version: 1.7.5.2
* PHP version: 7.2

[2020-05-05 06:53] Progi1984 commented on #18842
I do it ;)

[2020-05-05 08:03] sarahdib commented on #18961
Hello,

This issue is a duplicate of #18792

Thanks to follow the first issue, I will close this one.

[2020-05-05 08:04] sarahdib commented on #18961
Duplicate of #18792

[2020-05-05 08:04] #18961 closed, assigned to nobody

[2020-05-05 08:12] Progi1984 commented on #18432
@colinegin It's technical for avoiding duplicate code in our codebase.

[2020-05-05 08:40] przemko2000 opened #18973 "themes/core.js.map #12452"
Can you please reopen bug #12452?
It was closed due to "Can't reproduce" and after it was closed many people commented that the problem still exists - up to the most current version 1.7.6.5. More information in the original (closed) ticket:
https://github.com/PrestaShop/PrestaShop/issues/12452

[2020-05-05 09:06] erickjrp commented on #11126
Impossible to return any error from **hookActionProductSave**. The only way to do it is as @123monsite-regis said:

throw new PrestaShopException('Invalid field XX');

But this:

$this->context->controller->errors[] = $this->l('Some error')

Does not work.

PrestaShop 1.7.6.5

Is there something I'm missing or there is a bug in the implementation of this hook?

[2020-05-05 09:24] sarahdib commented on #18958
Hello @jiboune

This issue seems to be a duplicate of #11631 could you check and feedback ?

I just check in 1.7.6. and the problem is fixed.

Thank you

[2020-05-05 09:25] matthieu-rolland commented on #18674
I reproduced this bug on 1.7.6.x, but I didn't manage to reproduce it on 1.7.7.x

[2020-05-05 09:35] didi-2018 opened #18976 "donwload link for Geotargeting does not work - 1.7.6.3"
Hello,

I like to try the Geotargeting function but the download link for .zip package does not work in my case.

![image](https://user-images.githubusercontent.com/44971218/81052837-75d74d80-8ec4-11ea-8bc6-0f72c18ca757.png)

I there another link or way to get the package?

Thanks a lot for helping ♥

[2020-05-05 09:42] matks commented on #18976
@didi-2018 MaxMind has changed their access strategy, now you need to signup to their database. See https://github.com/PrestaShop/PrestaShop/issues/17193

[2020-05-05 09:42] #18976 closed, assigned to nobody

[2020-05-05 10:01] fmipsylone commented on #18961
Hello @sarahdib
I searched before publishing my issue. I did not find one concerning this one. And I do not find the related issue in #18792 from my duplicated. To be able to communicate, Can you tell me which one it is ?
Thank you

[2020-05-05 10:30] colinegin commented on #18674
Alright thanks @matthieu-rolland, then I think we can close this issue as we have no 1.7.6.6 expected.

[2020-05-05 10:35] GTriber opened #18978 "Cart and shipping costs"
Hello,

**1.** Is it possible to remove delivery costs in the cart? In the options I can choose as the default way, but customers think, after adding to the cart, that this is the only option.

I add one product to the cart and, for example, PLN 15 courier service. Whatever I set up, the client thinks that this is the only option and does not go to realization.

**2.** Can you, for example, switch

[2020-05-05 11:29] nighttimedev commented on #10717
Here you can see all XHR requests fired at the moment the error appears:
![image](https://user-images.githubusercontent.com/39534549/81061335-7546b300-8ed4-11ea-859b-e4c7f1353b5c.png)

My shop is running on 1.7.6.5

[2020-05-05 11:30] 01park commented on #12452
Also, we have this

Can this issue btw cause everything from loading slow?

[2020-05-05 12:07] sarahdib commented on #18341
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 12:07] #18341 closed, assigned to sarahdib

[2020-05-05 12:08] sarahdib commented on #18404
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 12:08] #18404 closed, assigned to nobody

[2020-05-05 12:12] sarahdib commented on #18406
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 12:12] #18406 closed, assigned to nobody

[2020-05-05 12:12] sarahdib commented on #18421
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 12:12] #18421 closed, assigned to nobody

[2020-05-05 12:14] sarahdib commented on #18455
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 12:14] #18455 closed, assigned to nobody

[2020-05-05 12:40] matks commented on #10548
# About catalog price rules conditions block

OK, I have a tough question for you guys 😬 @PrestaShop/prestashop-product-team

_So if you did not notice, the "condition groups" and "conditions" list below is not a real list._

If you add items in the list, they are not saved until you hit the "save" button.
You can delete any item, but cannot edit items.
You can delete items, but they are not reall

[2020-05-05 12:45] PululuK opened #18980 "[BO][CUSTOMER][ADDRESSES BLOCK] Add addresses ID and N° of items"
#### Is your feature request related to a problem?

Add addresses ID and N° of items (BO > Customers > Customer > Adresses block)

#### Describe the solution you'd like
Keep consistency with the other blocks (Group, Orders ... etc)

![adress_block (1)](https://user-images.githubusercontent.com/16455155/81067049-61a04a00-8ede-11ea-9b04-3ac5a4ec0f9b.png)

[2020-05-05 12:55] razarahil opened #18982 "Add to cart Ajax not working"
I've just successfully upgraded my site from Prestashop 1.6.1.7 to Prestashop 1.7.6.4

Everything is working fine except for the Add to cart module. Whenever I click on Add to cart button nothing happened, the cart button at the top also got disabled. When I refresh the page then I can see the products are added to cart.

There is no error in the console.

You can check the problem live here http:

[2020-05-05 12:57] pollat commented on #10420
I have the same problem with prestashop 1.7.6 and variants quantity updating:
if i cancel an order, the variant quantity are not right update and if I try to update the variant quantity manually (for example change 4 in 3), after saving I have green advice "Setting updated", but if I refresh a page the quantity are the same 4 like before.

If I deactive memecached all are ok.
Do you have solution

[2020-05-05 13:02] BERNARD-EMMANUELLE commented on #18941
Le lun. 4 mai 2020 à 17:27, florine2623 <notifications@github.com> a écrit :

[2020-05-05 13:05] Bugfunder commented on #9664
In my case (1.7.6.5) in Combinations it was showing attributes from shop 1 when editing a product from shop 2. I fixed it in

src/PrestaShopBundle/Controller/Admin/ProductController.php :

[code]

[2020-05-05 13:05] BERNARD-EMMANUELLE commented on #18941
Le mar. 5 mai 2020 à 15:01, sellerie Aaron J'West <
sellerieaaronjwest@gmail.com> a écrit :

[2020-05-05 13:08] Morpholetto opened #18983 "Wrong Image Link generated in Admin -> Product -> Pack of products"
#### Describe the bug

When adding products to a pack of product, the generated image link is wrong, so you can't see the image correctly. You can see it on the attached screenshot

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a Product Pack
2. Add a product
3. You can see that no images were loaded

**Screenshots**

[https://drive.google.com/file/d/1h_vTB60hYl5IqjP1Z-kg2cn

[2020-05-05 14:33] Robin-Fischer-PS opened #18987 "BO Create order - Cannot add a customized product"
#### Describe the bug

On BO Create an order, when trying to add a customized product, even if all the required fields are filled, there is an error : "Please fill in all the required fields."

#### Expected behavior

This message should only appears when a required field is not filled.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Configure a customizable product, with required f

[2020-05-05 14:47] Matt75 commented on #10717
Can you make a screenshot a video record to see the preview of request in Devtools and Network inspection ? Because we need to see the response to see what PrestaShop returned.

It can be an issue due to `max_input_vars` PHP configuration, because this request can send a lot of input data. Can you check the value of `max_input_vars` in your server configuration ?

Issue with mixed content is due t

[2020-05-05 15:02] florine2623 commented on #18798
Hi @Veiss ,
Sorry for taking so long to answer.
I've created the carriers as you said :
![Capture d’écran 2020-05-05 à 16 38 39](https://user-images.githubusercontent.com/16019289/81080584-2d825480-8ef1-11ea-9072-4206d6a5160a.png)
I've created a order with a Balears address and a cost superior 38€ :
![Capture d’écran 2020-05-05 à 16 57 27](https://user-images.githubusercontent.com/16019289/810

[2020-05-05 15:11] xmovu commented on #12452
I had to recover a backup basically, it was the only way to get it sorted.

[2020-05-05 15:11] Veiss commented on #18798
@florine2623 Hi!!

The carriers configuration that perfect.
To reproduce the bug you have to access to DDBB ps_cart_product, filter by rows for current cart id and one of the rows id_address_delivery set to 0 like in the image that previously attached.
I don't know how is posible to some of ps_cart_product rows id_address_delivery has 0 value, i don't set it manually. In my production store about

[2020-05-05 15:13] xmovu commented on #18973
Hello,

I'm sorry but I had to recover the store from a working backup as it wasn't functional and we really need the store working properly.

If this happens again, I'll certainly do it.
However, I can tell you that the same products, modules, template, PHP version, Prestashop version etc are now working fine, so it's not exactly easy to reproduce this issue indeed.

[2020-05-05 15:20] sarahdib commented on #18925
Hello @IranDec

Do you have those issue using php 7.3 and 7.2 or only with one of them ?

For your information PrestaShop 1.7.6 isn't compatible with php 7.3.

Thank you

[2020-05-05 15:23] Hlavtox commented on #10717
@Matt75 Why does it post so many variables? Couldn't it be sent in some serialized form and "extracted" on PHP's side?

The same goes for products - I was saving a product with 300 combinations and had to raise max_input_vars to 8000.

[2020-05-05 15:27] sarahdib commented on #18934
hello @matteolavaggi

Did you install memcache pecl in your server?

Thank you

[2020-05-05 15:30] LouiseBonnard commented on #18927
Hi @Laimonas-Mituzas, thanks for the feedback. Can you give me more information about this issue: which PrestaShop version are you using? do you have screenshots to display as examples? does it regard Crowdin only or it happens when translating in the International > Translations section of the back office?

[2020-05-05 15:36] Matt75 commented on #10717
@Hlavtox These pages will be refactored in future versions, I don't know when.

[2020-05-05 15:39] sarahdib commented on #18497
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 15:39] #18497 closed, assigned to nobody

[2020-05-05 15:40] sarahdib commented on #18502
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 15:40] #18502 closed, assigned to nobody

[2020-05-05 15:40] sarahdib commented on #18537
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 15:40] #18537 closed, assigned to nobody

[2020-05-05 15:41] IranDec commented on #18925
Hi @sarahdib
my default PHP ver is 7.2 when I saw I have a problem in PHP 7.2 just for a test I change PHP ver to 7.3

[2020-05-05 15:41] sarahdib commented on #18556
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 15:41] #18556 closed, assigned to nobody

[2020-05-05 15:48] Hlavtox commented on #10717
@Matt75 Nice. 🍺

@nighttimedev It seems not to get anything from Prestashop core due to mixed content blocking. Try to access the BO without HTTPS and maybe it will work fine.

[2020-05-05 15:48] 01park commented on #12452
Can you describe your problem. In my case it's just become very slow and won't load. I wanted to back up, now my DB is corrupted also JSON problem.

Do you know what files need to be restored ( manually) for this?

[2020-05-05 15:53] xmovu commented on #12452
I restored the whole thing.

core.js.map was missing.

[2020-05-05 16:02] sarahdib commented on #18557
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 16:02] #18557 closed, assigned to nobody

[2020-05-05 16:03] sarahdib commented on #18560
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-05 16:03] #18560 closed, assigned to nobody

[2020-05-05 16:04] #18581 closed, assigned to sarahdib

[2020-05-05 16:07] sarahdib commented on #18600
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-05-05 16:07] #18600 closed, assigned to nobody

[2020-05-05 16:07] zulus opened #18991 "Register hooks as symfony services"
#### Is your feature request related to a problem?

I would like to use all symfony features on hook level. Especially twig rendering, or form handler processing.

#### Describe the solution you'd like

Use symfony tags to register hook executors

[code]

In this way explicit "registerHook" could be avoided I hope

#### Alternatives you've considered

Hooks could be replaced by event dispatcher/ev

[2020-05-05 16:11] 01park commented on #12452
Hi,

Sorry, but from where did you get the missing file and in what folder exactly to I need to place it.

[2020-05-05 16:12] matks commented on #18991
Interesting !

So what you want to happen is that, when hook 'actionAfterCreateCategoryFormHandler' is fired, `$myModule->handlerMethod()` is called with hook parameters ?

This is the long-term goal 😄right now it's a mix between them, but in the end, hooks will disappear as Symfony events provide all wanted capabilities.

[2020-05-05 16:23] zulus commented on #18991
Exactly, but because this will be service, I'll be able to use for example twig, doctrine entity manager or whatever I need. Together with SF autowiring extending might become pleasure ;)

[2020-05-05 16:25] colinegin commented on #10548
I won't talk for the tech part, but for the interface and functional part, the legacy page is really not satisfying as it is currently. So I'm clearly in favor of introducing a breaking change if he can improve the global UX on this page.

My only worry is about the first save needed after completing the generic catalog price rule form. We need to make it quite clear that it's not a definitive sav

[2020-05-05 16:58] sarahdib commented on #18624
Hello @emilieatelier ,

Could you try to reset the module : Data mining for statistics ?

Thank you

[2020-05-05 17:16] xmovu commented on #12452
Hello,

The file still doesn't exist but it doesn't complain about it and works fine.

[2020-05-05 17:51] 6xthFNGR commented on #18939
Hello,

well, I upgraded to 1.7.6.5, cleared the cache a dozens of times, deactivated caching entirely and what not.
I could not fix it.
Today I log into the Shop: Every module is sorted again.
Cant say why, as this is no predictable behavior.

Hope you can fix it futurewise.

[2020-05-05 17:53] #18730 closed, assigned to nobody

[2020-05-05 17:54] Matt75 commented on #18939
It's fixed in 1.7.7, see https://github.com/PrestaShop/PrestaShop/pull/16658

[2020-05-05 17:55] #18750 closed, assigned to nobody

[2020-05-06 07:00] nielsverhoeven84 opened #18994 "When using bulk import, old combinations are still accesible, even if it no longer exists"
The import script is set to drop reset all id's, but when it first had a product on https://www.newvanherck.be/ceinturen/2567-6779-floris-van-bommel-75216-01.html#/17-kleur-blauw/3-materiaal-leer
now it is on https://www.newvanherck.be/ceinturen/2567-7841-floris-van-bommel-75216-01.html

The url used in the breadcrumb is https://www.newvanherck.be/ceinturen/2567-floris-van-bommel-75216-01.html, wh

[2020-05-06 07:15] jerome77oak opened #18995 "Basket with products no longer existing"
Hello,

I expose you the concern which I meet.

A customer adds products to her basket but does not finalize her order. His basket and therefore keep as is by the site.

The trader removes (puts offline) one of the products in this said basket because she no longer manufactures it.

The customer returns to her basket a few days later, finalizes her order ... the product removed and still ordered !

[2020-05-06 07:17] #18931 closed, assigned to nobody

[2020-05-06 08:57] TristanLDD commented on #18995
Hi @jerome77oak, thanks for your report.

Unfortunately we could not reproduce your bug, on both 1.6 and 1.7 versions the passage from the basket to the order shows an error message when one or several products are set offline in between, and the "Proceed to checkout" button is disabled.

Here on 1.7:
<img width="1180" alt="Capture d’écran 2020-05-06 à 10 54 32" src="https://user-images.githubus

[2020-05-06 08:57] #18995 closed, assigned to nobody

[2020-05-06 09:08] TristanLDD commented on #18994
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article: http://build.prestashop.com/howtos/misc/

[2020-05-06 09:11] razarahil commented on #18982
I solved the problem by removing the following syntax from the Nginx config file.

[code]

[2020-05-06 09:11] #18982 closed, assigned to nobody

[2020-05-06 09:14] TristanLDD commented on #18956
@PrestaShop/prestashop-core-developers  WDYT? Do you manage to reproduce with the provided informations?

[2020-05-06 09:17] matks commented on #10548
You are right, this is the pain point.

It's exactly the same issue with Product page and combinations. In current Product page, it was tried to avoid this by creating "ghost products" (so you can start adding combinations without hitting "save") but it created the "ghosts products" issue.

[2020-05-06 09:19] matks commented on #10548
I can keep the current behavior which avoids this problem. On technical side, it's more complicated but not much. The real tech issue is that the logic used to implement this behavior is very unusual so it's hard to understand, both for us and module developers, and it's very hard to customize (for module developers). So writing the code is fine, making it easy to understand, use and maintain is t

[2020-05-06 09:22] TristanLDD commented on #18955
@PrestaShop/prestashop-core-developers WDYT? Do you manage to reproduce with the provided informations?

[2020-05-06 09:28] matks commented on #18861
I need to merge `1.7.7.x` in `develop` to do this

[2020-05-06 09:33] #17138 closed, assigned to nobody

[2020-05-06 09:36] jf-viguier commented on #18565
We definitively need this, thanks. We have infinite loops too.

[2020-05-06 09:45] nielsverhoeven84 commented on #18994
Tristan, did you check both links?

[2020-05-06 09:48] micka-fdz commented on #18565
Currently, the only way to avoid infinite loop is to use `{extends file='modules/MODULE_NAME/...'}` in your theme. I agree with @eternoendless, it would be better to have special namespace like `parent:` for child themes.

[2020-05-06 09:53] TristanLDD commented on #18936
Hi @6xthFNGR, thanks for the report.

Would it be possible for you to join a screenshot of your problem?
Thank you.

[2020-05-06 09:55] LouiseBonnard commented on #18932
Hi @Hlavtox, thanks for this nice improvement idea! It is because you have dynamic IP addresses, right?

@PrestaShop/prestashop-core-developers, would it be possible to enable the same profile's different IP addresses to access the front office when a store is in maintenance?

[2020-05-06 09:55] TristanLDD commented on #18940
Hi @6xthFNGR, thanks for your report

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article: ht

[2020-05-06 10:02] madsoliver opened #18999 "Delivery slip locks order, invoice, payment, status does not"
Orders become un-editable “generate delivery slip”.
Invoice, payment, status, "consider valid", or anything else affects if an order is editable.

Why is this a problem? When a merchant wants to pick and ship an order, he needs a delivery slip. When generating this the order gets locked. When then the merchant discovers that one of the items in the order is out of stock, he wants to change the ord

[2020-05-06 10:03] fruitfreak opened #19000 "Login loop - some customers cannot continue with checkout."
#### Describe the bug

Some customers cannot create an order as guest or with account.
We're using stock checkout system.
Nor can they login as an existing customer.
It loops at customer login or at a given level in the checkout process - usually after typing name / email -> continue, meaning you can keep filling your information and press continue, it will not continue.

I experienced this myself

[2020-05-06 10:20] boubkerbribri opened #19001 "[BO] - Error displayed on new address page"
#### Describe the bug

When trying to go new address page or edit address page, an error is displayed

#### Expected behavior

Page displayed correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

**For new address page :**
1. Go to 'BO > Customers > Addresses page'
2. Click on 'Add new address'
3. See error
![image](https://user-images.githubusercontent.com/48441421/81166283-c5387f

[2020-05-06 10:44] TristanLDD commented on #18971
Hi @evsport,

I did not manage to reproduce the issue with the last version PS 1.7.6.5
I attached a video record:
https://drive.google.com/file/d/16BhNb0Umfdzg0Wcr6CjLWBaZAoprwSqW/view?usp=sharing

Thanks for check and feedback

[2020-05-06 10:50] TristanLDD commented on #18968
Hi @alfonsolr09

I did not manage to reproduce this issue with the last version PS 1.7.6.5 and last version Chrome 81.0.4044.129.

Can you precise the version of Chrome you're using?
Thanks!

[2020-05-06 11:13] fruitfreak commented on #19000
Forgot the URL:
https://plante-protein.dk/

[2020-05-06 11:22] tahsin352 commented on #10894
there is no method named `autoExecute ` on DB class now. I have updated with `execute` method. now it works.

[2020-05-06 11:43] testakis opened #19002 "Deny orders of out of stock items OR Inactive Products not working"
#### Describe the bug

The shopping cart allows checkout with inactive product or product whose quantity is upper than available stock.

#### Expected behavior

If I add a product to cart and don't checkout, then if I go to BO > Catalog > Products and set the product inactive or set its quantity to 0, and then if I go to shopping cart, I will see the product is still in the cart. Then when I click

[2020-05-06 11:46] matteolavaggi opened #19003 "Meta_description unicode / emoji not allowed"
#### Is your feature request related to a problem?

Try to include some unicode emoji to meta title and meta description of your page (see the attached screenshot below)

meta_title after save and check front office -> ok
meta_description unicode are replaced with ????
database field are set same utf8 so this is a prestashop formatting filter, how to fix it? any idea?

**Screenshots**

![image](ht

[2020-05-06 11:48] Hlavtox commented on #18932
@LouiseBonnard Yes, it's using IPv6 and changing all the time...

1. We could add a checkbox to Maintenance settings:

"Enable store for logged in employees" / "This setting will automatically display the store to logged in employees, even if the shop is in maintenance mode".
This checkbox would change a config value of, for example, **PS_MAINTENANCE_ALLOW_EMPLOYEES**

2.  We could do something li

[2020-05-06 12:04] nielsverhoeven84 commented on #18994
It even seems to be that if you modify the second number in the url to something that contains at least 1 letter, it redirects as it should. Only with numbers it shows wrong.

https://www.newvanherck.be/ceinturen/2567-6779-floris-van-bommel-75216-01.html#/17-kleur-blauw/3-materiaal-leer

6779 can be any number, e.g.

https://www.newvanherck.be/ceinturen/2567-4544656456464564655465445665-floris-van

[2020-05-06 12:12] zuk3975 commented on #10511
Attribute page (technically called `attribute-group`) is stoll missing create,edit,export actions. (check AttributeGroupController)
Attribute values page (techically called `attribute`) is missing drag and drop positioning. (check AttributeController)

[2020-05-06 12:18] SD1982 opened #19005 "BO - Save button design change if an error message is displayed"
#### Describe the bug

In cart rule page if an error message is displayed the "save" button design change (see screenshot)

#### Expected behavior

The design should never change

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => catalog => discount => cart rules
2. Click on "add new cart rule"
3. Check the design off the "save" button
4. Don't fill any field and click on "

[2020-05-06 12:27] amaurigabriel commented on #18209
Hi..

Sorry but what additional details do you need from me? I don't know if this is the same error reported in #14744... I just found this unexpected behavior.

[2020-05-06 12:52] TristanLDD commented on #18999
Hi @onklmaps, thanks for your report

As this is an improvement, could you please fill the feature request form?
Here https://github.com/PrestaShop/PrestaShop/issues/new?template=feature_request.md
Thanks!

[2020-05-06 13:34] idnovate opened #19007 "Custom languages translating error"
#### Steps to Reproduce

1. Create a new language
![image](https://user-images.githubusercontent.com/15104724/81182883-aeebec80-8fae-11ea-9b6c-557c1b8d1250.png)

2. Try to translate anything
![image](https://user-images.githubusercontent.com/15104724/81182979-d80c7d00-8fae-11ea-8864-dcb6d2efedb1.png)

3. Error
![image](https://user-images.githubusercontent.com/15104724/81183024-e6f32f80-8fae-11ea-

[2020-05-06 13:36] TristanLDD commented on #19000
Hi @fruitfreak

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thank you!

[2020-05-06 13:45] matks opened #19008 "In Symfony listings, drag-and-drop require "sorting" to be ASC"
#### Describe the bug

Drag-and-drop on Symfony listings needs the listing to be sorted by ascending positions. Else it is not displayed and not usable (see steps to reproduce).

#### Expected behavior

Drag-and-drop should:
- require position column to be sorted (indeed, if rows are unsorted, "moving a row with drag-and-drop" does not inform the software of the desired ordering) => this should be

[2020-05-06 13:46] matks commented on #19008
The logic which hides the handle column is in GridPresenter
[code]

[2020-05-06 13:47] TristanLDD commented on #18952
Hi @SeriousKen, thanks for the informations.

We'll have a look in the translations and see if we can correct that label.
@LouiseBonnard WDYT?

[2020-05-06 13:50] matks opened #19009 "What is the difference and relationship between PositionColumn and DraggableColumn ?"
It seems we have 2 columns that serve somehow the same purpose.
- `PrestaShop\PrestaShop\Core\Grid\Column\Type\Common\PositionColumn`
- `PrestaShop\PrestaShop\Core\Grid\Column\Type\Common\DraggableColumn`

On CMS pages listing, PositionColumn is used alone and provides the desired behavior (= have a drag-and-droppable "position" column).
On Category listing, DraggableColumn is used with CategoryPo

[2020-05-06 14:27] jolelievre commented on #19009
This is related to this issue as well https://github.com/PrestaShop/PrestaShop/issues/12368
Category grid has a different way of handling its position, mainly because the algorithm is different and uses nested tree This would need to be homogenized, so that PositionColumn is used everywhere, and it doesn't need this extra column because the GridPresenter automatically adds it when necessary (the i

[2020-05-06 14:28] jolelievre commented on #19008
This will also probably require some update in the `PositionUpdater` to handle repositioning in both sides, and update the javascript extension so that it informs on the way the grid was ordered (unless it can be detected based on the sent data)

[2020-05-06 14:29] #18994 closed, assigned to nobody

[2020-05-06 14:35] jolelievre commented on #19008
In product listing, when you filter by category there is this additional Position column as well, when the grid is not order by position the header contains a `Reorder` button:

![Capture d’écran 2020-05-06 à 16 30 35](https://user-images.githubusercontent.com/13801017/81189639-17d76280-8fb7-11ea-96b5-9fc73b581148.png)

Clicking on the button resorts the grid in the expected position, this might

[2020-05-06 15:08] #18466 closed, assigned to nobody

[2020-05-06 15:09] zulus opened #19011 "Inconsitency in module symfony services access"
### Describe the bug

Registered symfony services are available in backend via simple `$this->get()`, but in frontend I have only access to doctrine via `$this->context->controller->getContainer()->get()`

#### Expected behavior

I would like to have stable way to access my services in frontend and backend.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Register symfony service as

[2020-05-06 15:10] alfonsolr09 commented on #18968
Versión 81.0.4044.129 (Build oficial) (64-bits)

but i have tried on a newly purchased computer and installed google chrome and cannot reproduce the error on that computer.
but I have tested on 5 computers that have installed google Chrome for more than 8 months and if this error occurs.
I have the latest version of Google Chrome on all computers

[2020-05-06 15:19] sam-pires opened #19012 "Impossible to delete feature added in the product page if they are not linked to an existing feature"
#### Describe the bug

If you create a feature in a product page "Add a new feature" and give it a custom value, **but without selecting an existing feature** then it is impossible to delete it after

In addition to no being able to delete it, it seems to impact existing and fine features by applying the custom value of the created feature to all the features' values.

#### Expected behavior

On t

[2020-05-06 15:23] sam-pires commented on #19012
@TristanLDD and @marionf maybe it is something you've already identified on the product page. Let me know 🙂

[2020-05-06 15:25] Matt75 commented on #19011
Since PrestaShop 1.7.3 there are in fact 3 containers :
- legacy front container available on front office of the shop.
- legacy admin container available on administration of the shop.
- Symfony container available on administration of the shop **but only for migrated controllers**.

So if you want to share services between theses 3 containers, you can create a common-services.yml and import it.

[2020-05-06 15:27] zulus commented on #19011
Oh thanks, so would be nice to have this in documentation ;)

[2020-05-06 15:27] jeremLF commented on #14957
Hello,
I'm having this problem too...
I'm on Ps 1.7.6.1

When i'm creating an order directly on the BO and if i choose to set the free shipping option on, i'll get the critical error "Call to a member function addOrderPayment() on null"

Is there any new on how to fix this ? I guess this ticket shoudnt be "closed"...

Thanks !

[2020-05-06 15:35] TristanLDD commented on #18983
Hi @Morpholetto, thanks for the report

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Pictures are correctly displayed when creating a product pack on version PS 1.7.6.5:
<img width="1412" alt="Capture d’écran 2020-05-06 à 17 29

[2020-05-06 15:36] marionf commented on #19012
@sam-pires Yes, I created an issue about that some times ago: https://github.com/PrestaShop/PrestaShop/issues/16306

[2020-05-06 15:38] oliversiegel commented on #15744
Thanks for everyone's comments.

I fixed it by navigating to admin/index.php?controller=AdminModules
(I had to "accept the risk" of an invalid token, but at least I can access back office)

Then uninstall the module psaddonsconnect

Now it works like a charm 👌

I can back up and restore the old fashioned way however many times i want.

IMO this is a glitch with the module psaddonsconnect that shou

[2020-05-06 15:42] TristanLDD commented on #18466
Hi @rawan321,
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can provide more details.
Thank you!

[2020-05-06 15:49] TristanLDD commented on #19003
Hi @matteolavaggi, thanks for the report

I managed to reproduce the issue on latest version PS 1.7.6.5:
<img width="1019" alt="Capture d’écran 2020-05-06 à 14 38 17" src="https://user-images.githubusercontent.com/27484094/81177739-74328600-8fa7-11ea-8928-fd37d4bfe3a5.png">
<img width="788" alt="Capture d’écran 2020-05-06 à 14 38 39" src="https://user-images.githubusercontent.com/27484094/8117

[2020-05-06 16:06] SD1982 opened #19013 "BO - Catalog price rules - Possibility to create catalog price rule with a % value greater than 100%"
#### Describe the bug

In BO => catalog => discount => catalog price rules it is possible to create a catalog price rule with a value in % greater than 100%

#### Expected behavior

it shouldn't be possible

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => catalog => discount => catalog price rule
2. Click on add a new catalog price rule with the following parameters:

[2020-05-06 16:14] LouiseBonnard commented on #18952
Hello @SeriousKen, have you checked the translation on [Crowdin](https://crowdin.com/project/prestashop-official/en-GB)?

[2020-05-06 16:21] SD1982 opened #19014 "BO - Catalog price rule - Currency sort and filter not working as expected"
#### Describe the bug

In BO => catalog => discount => catalog price rule the currency column filter always return null
And the sort fonctionnality doesn't sort correctly

#### Expected behavior
Filtering and sorting should work correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

BEFORE reproduce => create some catalog price rule with different currency ( eur and dollards )

1. G

[2020-05-06 16:49] jolelievre opened #19015 "Doctrine Entities from Core are inaccessible in front office"
#### Describe the bug

When trying to access the core Doctrine entities (like `PrestaShopBundle\Entity\Lang`) in front office an error is thrown:

![Capture d’écran 2020-05-06 à 18 36 48](https://user-images.githubusercontent.com/13801017/81203732-938ddb00-8fc8-11ea-8201-466a75b4d1ea.png)

#### Expected behavior

The core entities should be usable in Front office, this would help (amongts other

[2020-05-06 16:49] colinegin commented on #18810
So as discussed I've tested on 1.6, and I actually realized that the behaviour was different.
In 1.6, if you add two vouchers with 50% discount, then your order will have actually have a value of 0.
While in 176, if you add two vouchers with 50% discount, your order will be discounted by 75%.

Does anyone know what this behaviour change has been introduced between 1.6 and 1.7 ? @PrestaShop/prestas

[2020-05-06 17:41] 6xthFNGR commented on #18940
Hello,

I would be happy to provide you such info, but thats too much of a work!
Please try to reproduce the behaviour like I explained - use ~5*All Countris + 10*Carriers and you should expierience the same.
As I use standard Theme and a completly unmodified PS, this should be easy.

Debug Mode Report may be something I can try to create the next time I maintance the shop.

Screenshots are not ne

[2020-05-06 17:44] 6xthFNGR commented on #18936
Hello,

I would be happy to provide you such info, but thats too much of a work!
Please try to reproduce the behaviour like I explained - use ~5xAll Countris + 10xCarriers and you should expierience the same.
As I use standard Theme and a completly unmodified PS, this should be easy.

Debug Mode Report may be something I can try to create the next time I maintance the shop.

Screenshots are not ne

[2020-05-06 17:57] 6xthFNGR opened #19017 "1.7.6.x Known Google SEO Search Console Bug #12687 "Either 'offers', 'review' or 'aggregateRating' should be specified" asking for 1.7.6.5 fix instead of waiting for 1.7.7"
Hello,

the Bug is already know with a few topics.
Issue is, the #12687 Ticket is closed referring to upgrade to PS 1.7.7

May I ask if it is possible to pull and replace just the necessary template.tpl files from 1.7.7 to 1.7.6.x, so all people with this version can fix this crucial bug instantly?
Google SEO is really banning everything out and is not listing anything at the moment! which is a ma

[2020-05-06 18:20] balazsgellert commented on #14571
Same here, on PS 1.7.6.4, php 7.2.
If product comments are enabled, pages load about 4 seconds slower. Even pages where no comments are displayed.
For example on the front page, where no comments or ratings are displayed, a total of 24 CommentGrade XHR-s are made. One for each product displayed.
They're all around 640 B and they take 3.5 to 4.3 seconds to load.

Any ideas?

[2020-05-06 18:50] Flower7C3 commented on #15346
For PrestaShop 1.7.7.0 it should be only one change in [config/defines.inc.php:92-94](/PrestaShop/PrestaShop/blob/3ea44032003/config/defines.inc.php#L92-L94):

[code]

[2020-05-06 19:20] Flightys commented on #18955
I have the same problem? Why did you not remove this addon if it give bugs? I just do it 15 minutes ago. I have installed https://github.com/PrestaShop/watermark module but upon configuration, I get the HTTP 500 Internal Server Error with the following Stack Trace, I have tried clearing cache and editing .htaccess as suggested on Prestashop Forums but I can't seem to get it working. Someone with a

[2020-05-06 19:32] Flightys opened #19019 "Watermark Module | HTTP 500 Internal Server Error"
After installation of the Watermark Module i can not open my prestashop anymore and it go offline with an internal server error. I see this happen 2 days ago also but nobody take the action to take the addon out. Thanks for that because of a know issue i can not use my webshop corona19.be anymore.
Only thing i can explaine about this is that i get a white screen with black letters that say 500 int

[2020-05-06 19:51] Flightys commented on #18955
I have same problem. I install it but i think it not download, not sure. Because i could no find the file i press "Configure" and i get the Error.

[2020-05-06 22:49] HartLarsson opened #19022 "Image Alt & Title text not processed with htmlspecialchars()"
#### Describe the bug

By inspecting the image alt, if the alt text is containing a double quote will broke the alt parameter.

#### Expected behavior

every alt text must be processed with htmlspecialchars() before write into HTML

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open a new product
2. Ad an image and write in Caption field something like: text "textinside" text final

[2020-05-06 22:54] jul-m commented on #18955
I have the same problem with Prestashop 1.7.6.4, with the last release of the module, and the dev version.
I commented all content of the renderAddonsSuggestion() function, the module works correctly (on the dev version of the module, I have not tested on "stable" version).

[2020-05-06 23:31] frikiluser commented on #18983
I've seen that before.
I think it can be reproduced when adding an **article with combinations**.

Hope it helps!

[2020-05-07 01:27] Hlavtox commented on #19017
@6xthFNGR Replace your microdata with this.

[code]

[2020-05-07 01:34] Hlavtox commented on #18973
@przemko2000 Nothing like this is happening on a classic/classic-rocket theme. MAP file errors are there, because in the minified CSS file, there are references to them, but they do not exist.

In #12452, all the errors on the screenshot are caused by buggy leo modules and "apppagebuilder". The developer himself needs to fix it.

[2020-05-07 01:53] superskyman100 opened #19023 "Faceted Search doesn't filter unavailable combinations"
#### Describe the bug

Products P1, .... Pn   have size variants XS, S, M, L, XL
Product P4 : variant XL out of stock

When use filter on catalog page to see products size XL, the product P4 appears whereas it shouldn't show up cause XL variation is out of stock

#### Expected behavior

The product P4 which is out of stock for size XL shouldn't appear on filter results if i search for XL products

[2020-05-07 02:29] superskyman100 opened #19024 "PDF mailing invoice in BO language instead of customer language"
#### Describe the bug

Shop is multi-language with BO in english
In FO, if customer uses another language than English and is registered, as, for example, Portuguese, the invoice is sent in English language instead of Portuguese

#### Expected behavior

The PDF invoice should be e-mailed in the CUSTOMER LANGUAGE. Not in the BO language.

#### Steps to Reproduce

Steps to reproduce the behavior:

1

[2020-05-07 02:45] silicon755 commented on #18955
@jul-m your workaround did the trick on Prestashop 1.7.6.1 and Watermark-2.0.0 stable versions.
I commented out the following lines of code
341 ```` // $html .= $this->renderAddonsSuggestion();````
[code]

[2020-05-07 06:24] #19019 closed, assigned to nobody

[2020-05-07 06:24] Flightys commented on #18955
It is back online now, i don't know who did it, but i could not do this myself because i could not get back into my admin of prestashop.

[2020-05-07 06:30] Progi1984 commented on #18955
@silicon755 Which version of the module do you use ?

[2020-05-07 06:33] Matt75 commented on #19024
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18352

[2020-05-07 07:10] Progi1984 commented on #18968
It may be a cache problem. Could you clean your browser cache on these computers ? Thanks

[2020-05-07 07:22] florine2623 commented on #18489
Hi @glegarand ,
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-05-07 07:22] #18489 closed, assigned to nobody

[2020-05-07 07:24] Progi1984 commented on #18956
On 1.7.7.x, the page Orders has been completly rebuild and I didn't reproduce your error.

[2020-05-07 07:24] florine2623 commented on #19023
Hi @superskyman100 ,
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16952.
So, I close it.
Thanks!

[2020-05-07 07:24] #19023 closed, assigned to nobody

[2020-05-07 07:25] florine2623 commented on #19023
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/16952

[2020-05-07 07:31] Progi1984 commented on #18935
@alfonsolr09 We try to reproduce in local. But don't succeed. Which version of Google Chrome do you have ? Have you tried on an another computer ?

[2020-05-07 07:32] Progi1984 commented on #18944
May be. Have you a test scenario for reproducing the error ?

[2020-05-07 07:37] Progi1984 commented on #18933
I have bad understood your problem. Sorry. Have you checked the import file and see where the problem was ?

[2020-05-07 07:43] florine2623 commented on #18978
Hi @GTriber ,
1. Natively, it is not possible to remote the delivery cost in the cart. But you could hide it with CSS if you wish, the issue with that is that the customer might think that the delivery cost is free altogether.
The delivery cost shown in the cart is the least expensive one for the customer, where he gets to the 3rd step "delivery method", he'll be able to choose whatever carrier he

[2020-05-07 07:52] florine2623 commented on #19022
Hi @HartLarsson ,
Thanks for the recommandation. I'll let our product team know about it!
Thanks!

[2020-05-07 07:54] florine2623 commented on #19022
Hi @PrestaShop/prestashop-product-team ,
Do you think using `htmlspecialchars()` is relevant in alt image of product ?
Thanks !

[2020-05-07 08:08] florine2623 commented on #19007
Hi @idnovate ,

I did manage to reproduce your error in both **PS1.7.6.5** and **PS1.7.7**.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-05-07 08:11] matks commented on #19011
This is true, thanks for the tip 👍

[2020-05-07 08:12] matks commented on #19011
EDIT: it's already there 😄but maybe not obvious

https://devdocs.prestashop.com/1.7/modules/concepts/services/#services-in-legacy-environment

@zulus Could you tell us if this is clear ?

[2020-05-07 08:14] alfonsolr09 commented on #18935
Yes

[2020-05-07 08:16] silicon755 commented on #18955
Watermark-2.0.0

[2020-05-07 08:18] alfonsolr09 commented on #18935
https://github.com/PrestaShop/PrestaShop/issues/18968#issuecomment-624707940

[2020-05-07 08:19] alfonsolr09 commented on #18968
yes I tried it but it didn't work

[2020-05-07 08:30] Progi1984 commented on #18955
@silicon755 Where did you download the module from addons ? or from the repository ?

[2020-05-07 08:31] florine2623 commented on #19002
Hi @testakis ,

I can't reproduce your issue on PS 1.7.6.5.
Having the same configuration as you :
![Capture d’écran 2020-05-07 à 10 29 08](https://user-images.githubusercontent.com/16019289/81272392-b910f800-904d-11ea-96e9-439ba7aea287.png)

Here's the result :
![Capture d’écran 2020-05-07 à 10 28 25](https://user-images.githubusercontent.com/16019289/81272361-adbdcc80-904d-11ea-8393-a8f3adf2

[2020-05-07 08:32] #19002 closed, assigned to nobody

[2020-05-07 08:39] florine2623 commented on #18991
Hi @zulus ,
Thanks for the recommandation !
@matks thanks for your answer !

I'll let the product team know about this :)

[2020-05-07 08:40] florine2623 commented on #18991
Hi @PrestaShop/prestashop-product-team ,

Do you think that this can be implemented ?

Thanks!

[2020-05-07 08:43] zulus commented on #19011
@matks there is no information about "common-services.yml". Only about 3 different contexts. How to register for each one and how to use it in concrete controller.

I've read from module code that I have `Module::get()` method and it internally calls `Module::isSymfonyContext` and decide what to do.

From my point of view is a nightmare. Only way to make sure that hook will always work in same way

[2020-05-07 08:50] florine2623 commented on #18761
@emilieatelier
- just enable debug mode in Preferences
- go to the page that has error 500
- see the error
- screenshot

Thanks!

[2020-05-07 08:51] matks opened #19028 "Working with npm is eating computer resources - improve resources usage"
When we work on Javascript files for PrestaShop, we usually use `npm run watch` to recompile JS files automatically however it seems to consume huge computer resources. If we work too long, we sometimes have to kill it and restart it.

@NeOMakinG I dont know if we can do something about it. Is there something we can optimize to make npm lighter ? In webpack configuration ?

[2020-05-07 08:52] prestamodule opened #19029 "Regression - Product thumbnails always uses cover and doesn’t allow customization anymore"
#### Describe the bug

Introduced into https://github.com/PrestaShop/PrestaShop/commit/79753f45c60ee641763c476ef34d5d61d61ae8a6 in branch 1.7.7.x and develop

#### Expected behavior

We expect to be able to change the `id_image` on a product array after defining a specific id_product_attribute (covered by `ImageRetriever::getProductImages`).

For an unknown reason, this behaviour has been changed

[2020-05-07 08:54] florine2623 commented on #18793
Hi @Leous88 ,
Thank you for answering !
So what exactly is the issue here ? You don't want the email config to be shown in the Customer Service page ? Where would you see that page ?

[2020-05-07 08:59] ArturCritec opened #19030 "Duplicate product empty thumbnail"
When i duplicate a product fail the thumbnail image

![Screenshot_1](https://user-images.githubusercontent.com/56640981/81275297-603f6080-9049-11ea-90cc-b8f49de00a69.png)

[2020-05-07 09:01] PierreRambaud commented on #19028
I was more for computing all js files in one instead of having 65 compiled files.

[2020-05-07 09:11] florine2623 commented on #18863
Hi @viosan ,
It seems like your are missing a table in your database.
I suggest you to get in touch with your host and restore a back-up of your site from January (when your website was still up and running)
Please check with your host et le met know the outcome!

[2020-05-07 09:13] mrusmanali opened #19031 "Core/Module js files are directly accessing theme classes"
#### Html classes being accessed by core and module .js files

I have recently started working on Prestashop to develop a solution for my client and I have realized that core/module .js files are referencing HTML classes and modifying the DOM. What if someone doesn't want to use those classes, also this clearly breaks the abstraction rules, and the developer has to look into core code to figure ou

[2020-05-07 09:15] florine2623 commented on #18872
Hi @alfonsolr09 ,
A request has been made to avoid your issue.
You can follow this issue https://github.com/PrestaShop/PrestaShop/issues/18917.
In the following versions of PS, you might be able to add iframes and disable htlmPurifier.
Thanks!

[2020-05-07 09:15] #18872 closed, assigned to nobody

[2020-05-07 09:19] testakis commented on #19002
Hi  florine2623,

thank you for your response.
If I upgrade to the latest version, except from the above message that appears in this case, is the system allow to customer to checkout order of out of stock items OR Inactive Products?

Thanks!

[2020-05-07 09:24] eternoendless commented on #19028
Having one giant uber file is bad practice, it's slower to download and the browser needs to load a whole lot of code that won't be used.

[2020-05-07 09:24] florine2623 commented on #18879
Hi @rflorent ,
This is not crashing. The error just means that your are using euro as default currency in your shop and can't change default currency rate.
If you want to change the currency rate of default currency:
- go to International > Localization
![Capture d’écran 2020-05-07 à 11 23 12](https://user-images.githubusercontent.com/16019289/81277832-3d1aae00-9055-11ea-9da1-a8286a1d48e2.png)

[2020-05-07 09:26] florine2623 commented on #18729
You could try a fe other things :
- clear cache manually following the path of error `presta/app/cache/dev/`
- clear browser cache
- unable all overrides
- unable modules one by one to see which one might cause an issue

Please check and let me know

[2020-05-07 09:28] florine2623 commented on #18890
Hi @Klemart3D ,
There's no PR for that issue. If you have one, do not hesitate to create one.
Thanks !

[2020-05-07 09:28] #18890 closed, assigned to nobody

[2020-05-07 09:30] PierreRambaud commented on #19028
So, as I already said, the more files we compiled, the more time it will take like in any other languages. :)

[2020-05-07 09:35] florine2623 commented on #18924
Ok if it fixed for you, I'll close this issue!
Thanks!

[2020-05-07 09:35] #18924 closed, assigned to nobody

[2020-05-07 09:41] florine2623 commented on #18852
Hi @thbl ,
Do you have any error on the console when you try to save the miniature of a category ?
If you enable debug mode, does it work ?

Thanks!

[2020-05-07 09:42] Matt75 commented on #19011
Yes, I am frustrated too with this for [ps_mbo](https://github.com/PrestaShopCorp/ps_mbo/pull/89) and [ps_checkout](https://github.com/PrestaShopCorp/ps_checkout/pull/349) but I have to support old versions for PrestaShop so I have to do with that...

So I add [a custom function who test if `Module::get()` exist to retrieve my services](https://github.com/PrestaShopCorp/ps_checkout/blob/ca5c348f1b

[2020-05-07 09:44] rflorent commented on #18879
Hi @florine2623
Then the error message is not explicit.
I'm editing the rate not changing the currency.
Anyway it don't explain why I get zero rate after upgrade or migrate.
Sorry but like often, when I open an issue on prestashop, it's always working on prestashop team's side or more details is needed and finally, there is no solutions.

Thanks for your time

[2020-05-07 09:44] thbl commented on #18852
@florine2623  @sarahdib  i found the issue.

If you for some reason in Design -> images -> small default
Set "Categories" to no

Prestashop dont save the miniature, and there is no error / hint to the issue.
Maby there should be added an error code for this ?

[2020-05-07 09:44] superskyman100 commented on #18848
Hello, we have exactly the same problem, the option ''do not show unavailable products'' isn't working.  We have unavailable variants, they always show up with the filter. Very bad for customers experience.
PS 1.7.6.4
Faceted Search 3.5.0

[2020-05-07 09:45] florine2623 commented on #18912
Hi @BenTen ,
Yes, it seems like your issue is similar to https://github.com/PrestaShop/PrestaShop/issues/13006.
This issue is getting fixed. Please follow the PR https://github.com/PrestaShop/PrestaShop/pull/13213 to know where it's at.
This is a duplicate, so I will close your issue.
Thanks!

[2020-05-07 09:45] #18912 closed, assigned to nobody

[2020-05-07 09:45] rflorent commented on #18879
Do you try this ?

Try to make an order with a zero conversion rate. Create a customer thread on that order and try to view it in the admin.

[2020-05-07 09:45] florine2623 commented on #18912
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/13006

[2020-05-07 09:46] superskyman100 commented on #16952
Big persists 1.7.6.4 + module 3.5.0

[2020-05-07 09:48] darioesposito commented on #18848
Hi,

Yep, i think i a kind of a bug or somenthing like that. I hope they fix soon cause in my shop miss only this thing and it's ready and perfect! so big up for developers to fix this as soon as possible.

If it's not a problem we keep up this thread under the "big eye" of the support and developers admin, because i think a lot of people facing this problem too.

Thanks,

[2020-05-07 09:49] florine2623 commented on #18941
Hi @BERNARD-EMMANUELLE ,
Please answer via GitHub, if you answer by email, I can't see what you wrote.
Thanks

[2020-05-07 09:49] Klemart3D commented on #18890
Hi @florine2623 ,
So if no PR, issues are closed? Problem isn't here?
I asked if I have to work on a PR, but if you close issue that means is there no problem.
Have you try to reproduced it? On which versions? Is it fixed on v1.7.7?
A better support is required.

[2020-05-07 09:50] #18939 closed, assigned to nobody

[2020-05-07 09:53] florine2623 commented on #18874
Hi @idnovate ,
Could you update your language and try again ?
Please check and let me know !

[2020-05-07 10:07] florine2623 commented on #18953
Hi @pks891618 ,
Here's the link to the doc on API : https://devdocs.prestashop.com/1.7/development/webservice/

To see a list of product, you need to :
- go to Advanced Parameters > Webservices
- add new webservice key
- give permissions to the products :
![Capture d’écran 2020-05-07 à 12 05 07](https://user-images.githubusercontent.com/16019289/81282130-0ba4e100-905b-11ea-8280-58f9dffe6aa4.png)

[2020-05-07 10:12] BenTen commented on #18912
@dharmendravirasat

[2020-05-07 10:17] florine2623 commented on #18891
Hi @RodrigoHornos ,
I can't reproduce your issue.
Could you provide a screen record so I can have an exact idea of what it should act like ?
Thanks!

[2020-05-07 10:17] Hlavtox commented on #10393
@matks If a map will still be present in 1.7.7, what about OpenStreetMap? https://wiki.openstreetmap.org/wiki/API_v0.6

BTW: Is anybody actually using this? 😄 At least in our case, nobody gives a 💩 where the customers lives. Just invoice, change status, export shipping label, finished.

[2020-05-07 10:22] Betafer commented on #10393
Right, and if you really want to put the function, it must work properly, otherwise remove it.

[2020-05-07 10:25] #18956 closed, assigned to nobody

[2020-05-07 10:41] eternoendless commented on #18942
Hi @fbsoft where did you find that piece of code? Because I can't find it anywhere in  the project: https://github.com/PrestaShop/PrestaShop/search?q=itemCondition&unscoped_q=itemCondition

[2020-05-07 10:49] Robin-Fischer-PS opened #19033 "Pagination issue on Stock and Movement pages"
#### Describe the bug

On Catalog > Stocks and Catalog > Stocks > Movements pages, there are some functionalities missing on Pagination :
- We cannot change the number of lines displayed
- There is no "Go to Previous/next/first/last page" buttons

Also, when sorting the list (for example by available product on Stocks page), when changing page, the sorting is lost, it should not.

Finally, the "Pr

[2020-05-07 10:55] BERNARD-EMMANUELLE commented on #18941
![debug 1](https://user-images.githubusercontent.com/64680799/81286849-04350600-9062-11ea-9119-c223631fd5dd.JPG)

[2020-05-07 11:01] eternoendless commented on #12452
Source maps (`.map` files) are only useful for development/debugging. They help map compressed files to their original source code. They are only used by the development toolbar so their presence or not should have no impact on your shop's performance.

[2020-05-07 11:03] eternoendless commented on #12452
This issue has been closed because we haven't been able to reproduce it on a clean shop. If you find a way to reproduce it on a clean shop, please open a new issue.

[2020-05-07 11:07] fbsoft commented on #18942
Hey, yes indeed, i've dl the files from git and it's not there.I found it in my Install in themes/classic/templates/catalog/_partials/miniatures/product.tplBut this is not a fresh Install... I did an upgrade using 1-click upgrade plugin, from 1.7.4... 3 I think, to 1.7.6.4. After a few days I've noticed this error, and I think that the files from the classic theme were left intact, and not upgrade

[2020-05-07 11:16] pks891618 commented on #18953
Common @florine2623 , have you checked my question ?

Please i know how to enable API

please again check my message
/products?display=full&output_format=JSON
Prestashop API not returning the total count of resources available

/products?display=[id,name,price,quantity]&output_format=JSON
not returning the quantity

1) how to get the quantity in single request
2) How to get the count of request.
e

[2020-05-07 11:20] florine2623 commented on #18936
Hi @6xthFNGR ,
I manage to reproduce your issue on 1.7.6.5.
What I want to save :
![before](https://user-images.githubusercontent.com/16019289/81288679-69d6c180-9065-11ea-9a17-935b8cee3162.png)
What I see after saving :
![after](https://user-images.githubusercontent.com/16019289/81288699-70653900-9065-11ea-8073-f24b1568c17c.png)

This is a bug, I will report it.
Thanks!

[2020-05-07 11:25] florine2623 commented on #18940
Hi @6xthFNGR ,
Sorry if that's too much work for you !
Could you at least give the exact steps to reproduce your issue ?
Thanks!

[2020-05-07 11:37] florine2623 commented on #18968
Hi @alfonsolr09 ,
I tried adding the same amount of image (11) as you did in your screen record. I still can't reproduce your issue. Please check if you have any module that might be overriding this feature.
Thanks!

[2020-05-07 11:41] florine2623 commented on #19024
Hi @superskyman100 ,
As @Matt75  said, your issue is fixed by #18352, please keep an eye on PS future versions.
I will close your issue !

@Matt75 thank you !

[2020-05-07 11:41] #19024 closed, assigned to nobody

[2020-05-07 11:46] 01park opened #19034 "Order ID number frame to small - Back office"
The order id number frame is too small, it only shows 4 digits. in my option this should be at least minimum of 5 or 6. It would improve the vision better.

<img width="621" alt="Screenshot 2020-05-07 at 12 41 55" src="https://user-images.githubusercontent.com/46492443/81290679-6b51bb00-9060-11ea-92f8-5f71dec5a8c2.png">

[2020-05-07 11:48] florine2623 commented on #19030
Hi @ArturCritec ,

I didn't manage to reproduce your issue on PS1.7.6.5 :
![Capture d’écran 2020-05-07 à 13 46 06](https://user-images.githubusercontent.com/16019289/81290954-372ec800-9069-11ea-81b9-8cea0a9f538f.png)
What version of PS are you using ?
Did you duplicate from the products list page ? Or from the product page itself ?
Thanks!

[2020-05-07 11:49] BenTen commented on #18971
For some reason shipping fee is set to 0 on my shop and database.

Maybe I forgot a step to reproduce, I need to check it again.

[2020-05-07 11:50] florine2623 commented on #19034
Hi @PrestaShop/prestashop-product-team ,

Is this issue relevant ?

Thanks !

[2020-05-07 11:53] ArturCritec commented on #19030
Is an old website and is using the version 1.6.0.6.
I duplicated the product in the product list, when I edit the product the images are there and the images are all right on the website, the only problem is even in the product list.

[2020-05-07 11:54] 01park commented on #19034
Yes, because in my example you see id 2074, but in fact I was looking for 20741.

Yes, you can input more than 4 digits, but it would be nice to also see what you entered after search. The with of the table is to small

[2020-05-07 11:58] colinegin commented on #19034
From what i can see you can put at least 5 digits in 177, so I guess this is an improvement we have made when redesigning the order listing.
Can you confirm @MatShir and @TristanLDD ?

If yes, we can consider this issue fixed.

[2020-05-07 12:04] florine2623 commented on #18798
Hi @Veiss ,
When a cart is being created, with **no** customer logged in and **no** carrier chosen, is it normal that the id_address_delivery in ps_cart_product is empty.

Example :
My cart with no customer logged in and no address chosen yet :
![Capture d’écran 2020-05-07 à 14 02 14](https://user-images.githubusercontent.com/16019289/81292185-6e05dd80-906b-11ea-85be-f847d67a8009.png)

What I ha

[2020-05-07 12:06] seederp2p commented on #18956
Just for the record: "Amazing" answer. You reply stating that you didn't find this problem on a DIFFERENT version that it is NOT yet available.

"Top notch" support. I know that this is a "free" product but I've using your platform for many years now and invested a lot on paid modules from your module store.

I don't really think that this is a quality answer. You could have at least provide a wor

[2020-05-07 12:09] matks commented on #10393
A long time ago I tried to find a replacement for Google Geocoding API, which would be "good enough" and - most importantly - could be used without a API Key. I could not find one at that time. I don't remember if I looked at OpenStreetMap.

For being a suitable replacement we need something:
- that works with accuracy in all countries (for example I could find a service that was good for US adres

[2020-05-07 12:13] 01park commented on #19034
Maybe I am not clear, its not about how many you can input, but the amount that is visible after input. It only shows 4 digits, but what if you have lets say an order id of 100532. Me, I would like to see the full number instead of only 1005

[2020-05-07 12:15] Veiss commented on #18798
Hi @florine2623 .
Yes i know, in my online shop id_address_delivery still set to 0 after the order was completed.
At the image previously uploaded all of product are from a cart/order that was completed, the user had logged, with address and with carrier selected. I know that in the major of cases id_address_delivery set to selected address id after user logged, but in some very small cases, i don

[2020-05-07 12:17] florine2623 commented on #18892
Hi @01park ,
I'm not sure I understand what your issue is here.

On PS1.7.6.5, here's what i have with this configuration :
I hide this status from customer :
![Capture d’écran 2020-05-07 à 14 15 29](https://user-images.githubusercontent.com/16019289/81293284-56c7ef80-906d-11ea-9466-f7fbacfe7f6d.png)
I don't see the status as a customer :
![Capture d’écran 2020-05-07 à 14 14 34](https://user-i

[2020-05-07 12:19] florine2623 commented on #19031
Hi @mrusmanali ,
Thanks for the recommandation!
Please stay tuned, I will ping our developer team.

[2020-05-07 12:20] florine2623 commented on #19031
Hi @PrestaShop/prestashop-core-developers ,

What do you thing about @mrusmanali 's idea ?

Thanks!

[2020-05-07 12:22] 01park commented on #18892
Hi

The issue is that the customer sees no status. My request was, that instead of seeing nothing, the customer can see that last visible status, just like the see once the click on details .

[2020-05-07 12:33] PierreRambaud commented on #19031
Good idea, I approve but need more feedback from the team

[2020-05-07 12:46] florine2623 commented on #18930
Hi @Borgas ,
I can't reproduce your issue on PS1.7.6.5.
Here's what I received in Left To Right:
![Capture d’écran 2020-05-07 à 14 40 39](https://user-images.githubusercontent.com/16019289/81295881-63e6dd80-9071-11ea-891b-2aa066d64488.png)
And the message after entering my email address :
![Capture d’écran 2020-05-07 à 14 44 00](https://user-images.githubusercontent.com/16019289/81295785-40bc2

[2020-05-07 12:47] zulus commented on #19011
Backward compatibility is always problem. But I'm talking about fresh modules that I want only for nevest prestashop. Scope of this ticket is clarification where should I put my service to make this will always work in same way in all context.

For now `common-services.yaml` should be documented.

Would be nice to have a list of common services that are available on all contexts / concrete context

[2020-05-07 13:07] HartLarsson commented on #19022
absolutely yes, if you not fix the alt and title field from special chars you get problem on validation.

for example could be used a code like that:

`{if !empty($product.cover.legend)}
alt="{$product.cover.legend|escape:'htmlall'}" title="{$product.cover.legend|escape:'htmlall'}"
{else}
alt="{$product.name|escape:'htmlall'}"
{/if}`

[2020-05-07 13:16] florine2623 commented on #18941
Could you Reinitialize your module ?

[2020-05-07 13:19] florine2623 commented on #19030
PrestaShop 1.6 [isn't maintained anymore](http://build.prestashop.com/news/1.6.1.x-what-s-next/). The maintenance for this version is now being performed exclusively by volunteers to fix critical issues.
You can open an issue on the [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues). Please keep in mind that only critical issues will be acknowledged.
Thanks!

[2020-05-07 13:19] #19030 closed, assigned to nobody

[2020-05-07 13:24] baldemir opened #19035 "Cart synchronization"
#### Describe the bug

When user signs in different devices, cart contents are not synchronized between each other. It causes problems in payment modules.

#### Expected behavior

When user signs in and adds products to cart in one browser, if they go sign in another browser they should see the existing products in cart.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Sign in to you

[2020-05-07 13:24] omar2886 opened #19036 "fix the modal popup used to select the categories or products in the conditions of cart rules"
Hi!
Please I think it's time to fix the modal popup used to select the categories or products in the conditions of cart rules:
Catalog -> Réductions -> Règles de Panier -> Conditions -> Restrictions

When you have thousands of products or hundreds of categories, it's impossible to navigate in this popup system to choose anything, and even impossible when you have to select not 1 very specific, but

[2020-05-07 13:26] florine2623 commented on #18879
@rflorent ,
If the message is not explicit enough, feel free to add an improvement issue stating exactly what message you'd like to see.
So did you try what I said earlier ? It will allow you to change the currency rate of euro.

It is not possible :
![Capture d’écran 2020-05-07 à 15 26 04](https://user-images.githubusercontent.com/16019289/81299811-1a998c80-9077-11ea-9af3-dac0928708ea.png)
Plea

[2020-05-07 13:29] 6xthFNGR commented on #19017
Hello,

thank you for your quick reply!
I was thinking it is about PrestaShop /themes/classic/templates/catalog/_partials/product-prices.tpl aswell as /themes/classic/templates/catalog/_partials/miniatures/product.tpl

But I can not determe clearly that its about them. The miniatures/product.tpl defintly is something "infected", as Google Search Console puts errors for these minuatures listed f.e.

[2020-05-07 13:29] BERNARD-EMMANUELLE commented on #18941
Yes, but no change.

[2020-05-07 13:33] florine2623 commented on #18925
Hi @IranDec ,

1. Do you have SSL enabled ?
2. "they delete" -> do you mean the product does not exist on the BO ? Or the info in that product is empty ? Could you attach a screen record please ?
3. For PS1.7.6.4, keep PHP version 7.2.

Thanks!

[2020-05-07 14:05] rflorent commented on #18879
@florine2623

thanks, your answer is focused on this part of the issue and not why my currency have a zero rate after upgrade / migration, which lead to different issues as mentionned. I understand that it's hard to find and this issue probably rely on a pretashop version with a buggy multishop feature, or a bug from migrating tools (purchased on addons...).
So, I will close as I think there is no

[2020-05-07 14:05] #18879 closed, assigned to nobody

[2020-05-07 14:10] florine2623 commented on #19017
Hi @6xthFNGR ,
I would advise you to wait for PS1.7.7 if your issue is non-blocking.

In PS1.7.7, you will have a lot more features on hand. Please take a look at :
https://github.com/PrestaShop/PrestaShop/projects/7
Thanks!

[2020-05-07 14:10] #19017 closed, assigned to nobody

[2020-05-07 14:12] florine2623 commented on #19036
Hi @omar2886 ,
Thanks for the recommandation, I will let our Product Team know !
Please stay tuned.

[2020-05-07 14:13] florine2623 commented on #19036
Hi @PrestaShop/prestashop-product-team !

Can this be implemented ?

Thanks!

[2020-05-07 14:13] 6xthFNGR commented on #19017
Hello florine2623,

well you did not read the first post:
This inquery is due to the 2 dozen people who are asking for a solution,
and the issue is "blocking" as No PrestaShop Customer using <1.7.6.5 is enlisted with his products at Google!
This topic can be closed as soon as it is stated where to put the code mentioned by Hlavtox.

Have a look into the PSForum where right in this moment people ar

[2020-05-07 14:52] florine2623 commented on #18890
Hi @Klemart3D ,
No, because that issue can't be reproduced in neither PS1.7.6.5 and PS1.7.7.

Please see the screenshots below :
**PS1.7.6.5**
![Capture d’écran 2020-05-07 à 16 49 35](https://user-images.githubusercontent.com/16019289/81309068-d1e7d080-9082-11ea-95ce-70c06b9977ea.png)
![Capture d’écran 2020-05-07 à 16 47 49](https://user-images.githubusercontent.com/16019289/81309113-ddd39280-

[2020-05-07 14:53] florine2623 commented on #19002
Hi @testakis ,
No the button is not clickable in the cart as you can see in the screenshot above :)

Thanks!

[2020-05-07 15:00] florine2623 commented on #18892
Thanks for the recommandation ! This will be sent to the product-team, they will decide if the issue is relevant !

[2020-05-07 15:01] colinegin commented on #19034
Yes I understood clearly what you were asking, but if you look at the screenshot florine posted, there are actually 5 visible digits on the new order listing.

[2020-05-07 15:03] florine2623 commented on #18892
Hi @PrestaShop/prestashop-product-team !

In order status setting, it is possible to hide an order status to a customer in his account :
![Capture d’écran 2020-05-07 à 14 15 29](https://user-images.githubusercontent.com/16019289/81310500-6ef73900-9084-11ea-89c9-48c57bac2dda.png)
 @01park would like to hide that status, but show another previous status to the customer.

Is this something relevant

[2020-05-07 15:07] florine2623 commented on #18798
Hi @Veiss ,
Thanks for clearing that up !
Indeed I did not manage to reproduce exactly your case.
Every time a cart is created and affiliate to a customer and carrier, the data in database is correct for me in a PS1.7.6.5.
Is this issue occurring a lot ?

[2020-05-07 15:09] florine2623 commented on #18941
Do you have any data in your database in table ps_psreassurance ?

[2020-05-07 15:10] 01park commented on #19034
Oh, sorry I missed the part that he is on 1.7.7 I'm on 1.7.6.5

[2020-05-07 15:13] colinegin commented on #19034
Yes it will be available in 177, which should be released soon ! ;)

[2020-05-07 15:15] florine2623 commented on #18852
Hi @thbl ,
Thanks for the details, indeed I did manage to reproduce this issue, following your steps.
That might be interesting for our product-team to take a look at. I'll let them know, please stay tuned.

[2020-05-07 15:15] #19034 closed, assigned to nobody

[2020-05-07 15:17] thbl commented on #18852
@florine2623 sure, its not a big issue but think some users can spent a lot of hours solving it as there is no error not even in debug mode :D

[2020-05-07 15:19] Veiss commented on #18798
@florine2623
Hi, not too much, i only discovered in one shop with PS 1.7.1.2 in 17 orders more or less.
When i has more time i will check in other shops executing that mysql query:

Thanks a lot

[2020-05-07 15:25] florine2623 commented on #18852
Hi @PrestaShop/prestashop-product-team ,

Do you think this can be added as an improvement ?
The user would like to see an error message when something is not being saved in the back-office. (category thumbnail image)

Thanks!

[2020-05-07 15:32] florine2623 commented on #18798
I think the issue might have been solved in PS1.7.6.5 because I can't reproduce it.
Have you thought about doing an upgrade ?

[2020-05-07 15:35] Veiss commented on #18798
Hi @florine2623 . For that shop not actually, but does'nt matter, in new projects we are using the last version, so, dont worry about it.
Thanks a lot!!

[2020-05-07 15:36] 01park commented on #18933
The backup file is the full database. I use Cpanel to make a backup and use Cpanel to restore this on the second server. During the restore process the error appears.

To make sure it was not the server. I build a new prestashop and migrated all information from Store A to Store B. I don't like this process because it does not actual transfer all data 100% correctly, for that I prefer to make a ba

[2020-05-07 15:45] colinegin commented on #10393
Is it something that is actually useful for you ? In which situations do you need this feature ?

[2020-05-07 15:48] 01park commented on #18772
Unfortunately the problem did not stay away for good and returned.
I have been doing some testing and problem shooting.

At first, I though it might be the server. I build a new PS on a new server and migrated the data from the poor performance store to the new one. Once the data was transferred. Everything look fine and I though great problem solved.

As I'm using multistore, I put all stores in

[2020-05-07 15:53] matks commented on #18861
So I started looking at this. I see that in a great number of places in PrestaShop code there is 2 standard values used for precision/decimals: 2 and 6.

Example:
[code]

I suggest creating 2 constants in `ObjectModel` (it seems the "less worse" place) and use them everywhere.

Examples:
[code]

[code]

@PrestaShop/prestashop-core-developers wdyt ?

[2020-05-07 15:53] florine2623 commented on #18881
It seems like this kind of error is a memory limit one.
I'd advise you to check with your host if you could allow even more memory than now.
Also, if that's possible, could you try to set your combinations in several times ?
Thanks

[2020-05-07 15:56] Veiss opened #19038 "PHP Notice Product Class"
#### PHP Notice on Product class

Hi! I check in new PS versions since 1.7.5 that in line 4889 there is a sentence that allways report me a PHP Notice:
NOTICE: PHP message: PHP Notice:  Undefined index: unit_price_ratio in /shared/httpd/novaut/classes/Product.php on line 4889

$row['unit_price'] = ($row['unit_price_ratio'] != 0 ? $row['price'] / $row['unit_price_ratio'] : 0);

#### Expected behavi

[2020-05-07 15:58] silicon755 commented on #18955
@Progi1984 I downloaded from the repository, here's the [link](https://github.com/PrestaShop/watermark)

[2020-05-07 16:03] florine2623 commented on #18798
Ok @Veiss ,
Do you need more info or can I close the issue ?

[2020-05-07 16:04] Veiss commented on #18798
Hi @florine2623
Close the issue.
Thanks for the support.
Bye!!

[2020-05-07 16:07] #18798 closed, assigned to nobody

[2020-05-07 16:09] Leous88 commented on #18793
in configuration for example. since the logical thing is that in the group
of donfiguracion are all the configurations. furthermore, the restrictions
can be used in a better way.
At the current location, ANY employee can change or view the information,
creating conflicts for the store owner.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signatureviral

[2020-05-07 16:16] BERNARD-EMMANUELLE commented on #18941
![module](https://user-images.githubusercontent.com/64680799/81318632-d914db80-908e-11ea-8de2-14a1fede4d31.JPG)

[2020-05-07 16:34] GTriber commented on #18978
@florine2623

'But you could hide it with CSS if you wish'

I so wish i could do that. Where i can find it? What to change, delete.

Thank you.

[2020-05-07 16:42] Lucekvip commented on #17083
Hi, I had the same problem with mass changes after upgrade from 1.6... to 1.7.6.5  the reason was that description in resume/option tab on products was to long I guess that in older versions of Presta limit was different. In 1.7 I couldn't also save any changes after edit product because of character limit, that's how I discovered the solution, after changing descriptions in resume tabs on few pro

[2020-05-07 17:34] 6xthFNGR commented on #19017
I dont want to spam and open another issue - but florine2623 would be great if you receive a notification by this msg and just reopen it again so Hlavtox may say the proper locations, or you simply add it!

[2020-05-07 17:57] LouiseBonnard commented on #19022
Dear @HartLarsson, thanks for this issue! @PrestaShop/prestashop-core-developers, what do you think?

[2020-05-07 18:03] surffari commented on #13386
Yes, can confirm it's an issue in 1.7.6.4

[2020-05-07 18:34] Natthew99 opened #19040 "SHOW PRODUCTS UNDER SUBCATEGORIES ON CATEGORY PAGE"
By default, category page displays list of subcategories and then the whole list of products, belonging to parent category.

Subcat1
Subcat2
Subcat3

List of products belonging to parent category...

How can I display products, belonging to subcategories, under subcategory name??

What I need is:

Subcat1

prod-1-1
prod-2-1
prod-3-1
prod-4-1

Subcat2

prod-1-2
prod-2-2
prod-3-2
prod-4-2

Subcat3

[2020-05-07 19:59] carlead opened #19041 "Bug on register textareaLang type in HelperOption"
#### Describe the bug

When you make an ModuleAdminController using HelperOptions with textareaLang required and you submit the form, an error displayed like the filed is empty and is required.

#### Expected behavior

I expect when i submit my form HelperOptions, the value of my textareaLang was saved.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make an ModuleAdminController us

[2020-05-07 20:23] shelve71 commented on #18881
Hi, thanks for the reply, what do you mean for "try to set your combinations in several times" ?
For each product, prestashop generate combinations of all options, all at once. If i want add new combinations, i before have to delete all old combinations and after generate the new combinations, all at once.

Thanks.
Antonio

[2020-05-07 22:43] 6xthFNGR commented on #18940
@florine2623
I would rather ask you to not close some other threads that are urgent claiming to wait for 1.7.7 and now not replying now anymore, rather than asking for the reproducing steps ;o)

Usual procedure without any special flavor that is why I didnt felt a need to provide them.
Here you go:

Install stock PS 1.7.6.4 or 1.7.6.5,
Go to your Theme Menu, download the Theme, do not add anything

[2020-05-07 22:48] 6xthFNGR opened #19042 "An unexpected error occurred when adding Meta Tags to Pages"
**Describe the bug**
An unexpected error occurred when adding a lot of Meta Tags to Pages

**Steps to reproduce**
1. Go for your Pages,
2. Add 24 Meta Tags, Save - works
3. Add No. 25, Save, prompts:

Didnt tested if it is about word length/amounts of total characters too, or if it is just to amount of tags. Checked the Tags for Character that are not allowed, but didnt contained them.

Checked th

[2020-05-08 06:32] madsoliver opened #19043 "Delivery slip locks order, invoice, payment, status does not"
Orders become un-editable “generate delivery slip”.
Invoice, payment, status, "consider valid", or anything else affects if an order is editable.

Why is this a problem? When a merchant wants to pick and ship an order, he needs a delivery slip. When generating this the order gets locked. When then the merchant discovers that one of the items in the order is out of stock, he wants to change the ord

[2020-05-08 07:35] RodrigoHornos commented on #18891
Just include a TAB character using CTRL-ALT-TAB on windows in the Reference
Field.
The code doesn't check is there is something different than
Alfanumeric chars as part of the data.
that also happen when searching a product, if you include a space char in
the field, then the code pass it as part of the string to be searched
inside the fields. Then a "SELECT * FROM whatever_table WHERE field is lik

[2020-05-08 08:19] prestamodule opened #19044 "The js params inside a template translation associated to the domain param is not used"
#### Describe the bug

Inside a template, you can add the js=1 to the {l s=''} call in order to get the string escaped.
While using mod='modulename', it's working great.
While using the new method, with d='Modules.Modulename.Shop', it's not take in consideration and string is not escaped.

#### Expected behavior

Expected that string are escaped with js=1

#### Steps to Reproduce

Steps to reprodu

[2020-05-08 08:55] cprats opened #19045 "All carriers disabled"
#### Describe the error

I have a very rare problem in the frontoffice when choosing a carrier. And it doesn't always happen and it only happens for some clients. There are clients that do not get any selected carrier. But, they are customers, who have already made regular purchases in the purchase. What I do, when I find out that the client tells me about this error, is to make a new order for th

[2020-05-08 09:40] zuk3975 commented on #19028
Im checking some older branch (started on Aug 9, 2019) and npm watches works fine there. So I guess we introduced this stuff somewhere around splitting 1.7.7 and develop which is when we stopped pushing assets (not sure what was done there exactly, but i hope its optimizable)

[2020-05-08 10:00] aunhappy opened #19046 "An http 502 error occurred during installation..."
#### Describe the bug

An error occurred during installation...
You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.

1: HTTP 502 - error -
502 Bad Gateway

#### Expected behavior

install successfully

#### Steps to Reproduce

Steps to reproduce the behavior:

just install normally

**Screenshots**

![Snipaste_2020-05-08_

[2020-05-08 11:31] zuk3975 commented on #14405
For the **image dropzone**.
 * I've tried to create dropzone component using vue #18689 (It also contains image crud endpoints which still needs some tweaking but are almost done).
* Checked @tomas862 pr that uses Dropzone component #15227.

So far, I think its better to stay with @tomas862 example instead of Vue, because
1. its easier to follow our javascript "conventions" for migrated pages
2. i

[2020-05-08 12:41] simplelife2020 opened #19047 "error with a new customer"
Hi!
When i create a new customer en Prestashop 1.7, I have this error:

(1/1) UndefinedFunctionExceptionAttempted to call function "idn_to_ascii" from the global namespace.
--
in Mail.php line 901
at MailCore::toPunycode('ziwziw@gmail.com')in Mail.php line 323
at MailCore::send(3, 'account', '¡Bienvenido!', array('{firstname}' => 'redfg', '{lastname}' => 'retsdf', '{email}' => 'ziwziw@gmail.com'),

[2020-05-08 13:42] simplelife2020 commented on #19047
Hi,
The solution is her:
https://asdqwe.net/blog/enablinginstalling-intl-extension-php-from-cpanel/

[2020-05-08 13:43] #19047 closed, assigned to nobody

[2020-05-08 14:57] mrabsinthe commented on #10122
So bad it is not going to be sorted in the 1.7.7 version, this issue has been going on for years now and it is not minor!

[2020-05-08 18:54] mostofa62 commented on #15894
How to override this according to this tutorial concent
http://prestacraft.com/adding-new-fields-to-the-registration-form-in-prestashop-1-7/#

[2020-05-08 20:16] Arancio1929 opened #19049 "error 500 BO customer"
i am not sure if the error is come when i have make upgrade with un click the prestashop.
when i click customer-customer i receive
 The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.
i have put in debug mode and in the first time i have recei

[2020-05-08 20:30] Arancio1929 commented on #19049
o think i have resolve there is not table ps_guest

[2020-05-08 20:30] #19049 closed, assigned to nobody

[2020-05-08 21:35] 6xthFNGR commented on #19017
Hey,

@florine2623 @Hlavtox dont you get a notification if I tag you :/ ?
a quick reply solves all the issue! Cmon ;)

Greets

[2020-05-08 21:42] Hlavtox commented on #19017
@6xthFNGR Send me a link to the website that throws you this error.

PS: I am not a member of PS dev team, just trying to help you. :-)

[2020-05-09 16:25] arvanus opened #19051 "Walkthrough bypass "hack" HTTPs Reverse proxy + docker with "Blocked loading mixed active content" error"
#### Describe the bug
Tons of "Blocked loading mixed active content" with reverse proxy and default docker-compose file

#### Expected behavior
No http access when using reverse proxy with HTTPS

#### Steps to Reproduce
Hi everybody
Im at my first Prestashop setup using github source + default docker-compose.yml file running behind a reverse proxy running apache with Let's Encrypt for certificates

[2020-05-09 17:32] GuillaumeLazar opened #26105 "The "coupon" field is not set for the GA event"
Hello,
I guess that the "coupon" field of GA purchase event is not set.
I think that for a Prestashop v1.7.x, we should get the code string from "$order->getCartRules()[0].code".

[2020-05-09 22:25] gabrielobleite commented on #18536
Pull Request created. I did change the URL required property, but did not changed the others URL restrictions such as Size or Format.

[2020-05-10 00:36] juan-jose2000 commented on #17539
Could you solve the problem ?, I have the exact same error

[2020-05-10 07:53] danieljarrett74 opened #19052 "Problem running Docker"
When running a clean clone of the latest version of prestashop using `docker-compose up` I get the following error when i load it in my browser for the first time:

(1/1) ContextErrorExceptionNotice: Undefined offset: 0
--
in ImageRetriever.php line 271
at ImageRetriever->getNoPictureImage(object(Language))in FrontController.php line 1515
at FrontControllerCore->getTemplateVarUrls()in FrontControl

[2020-05-10 09:07] imagicuus opened #19053 "Duplicate product result in 500 error page (product is still duplicated)"
#### Describe the bug

When duplicating a product in some situations a 500 error page is shown. This happens in a multistore installation and only with products that have features and/or combinations. When I duplicate a simple product without features/combinations no error is shown.

When the error is shown the product is still created, but there are no features and images in the created product.

[2020-05-10 12:39] johwech opened #19054 "Cancelling order of pack with "Decrement both" option does not restock individual items"
#### Describe the bug

When a pack is ordered with the "Pack quantities" option "decrement both" and the order gets cancelled, the pack amount gets restocked, the item stock not.
So after a cancelled order the "before order" stock state is not the same as before the cancelled order.

Example:
[code]
#### Expected behavior

The stock of the items and the packs to be the same as before the cancelled

[2020-05-10 12:46] burakgit opened #19055 "Exchange Rate and Cronjobs Module Under 1.7.6.4"
#### Describe the bug

There is no cronjobs  module under 1.7.6.4

#### Expected behavior
But will you please look at localization -> currency exchange rates ?

#### Steps to Reproduce

it says that you need to enable cronjobs for live exchange rates.. where is cronjobs ? i couldnt find. So i dont know what it is ? Bug or not.

#### Additional information

* PrestaShop version: : 1.7.6.4

[2020-05-10 14:51] thequickmick opened #19056 "Multishop - Catalog price rules - The employee should only see the stores for which he is authorized in the context"
Hi There, dont know it's a Bug or maybe a Feature Request!

We have a Multishop with over 10 Shop.. So the Owner(Admin) of shop1 can see all Catalog Price Rules, also these from the Other shops...
But we wont that he can see, maybe the Rules for shop2 and so on....
Thats not a good thing...

Also there is no diffence between these seperate shops (Only"all Shops")

![shop](https://user-images.githu

[2020-05-10 16:01] 6xthFNGR commented on #19017
@Hlavtox I just asked for the path for the file to replace these source code. No need for personal support. Its not "my website" that needs it, its a standard PS 1.7.6.5 that many in the community got, which needs it :)

Appreciate your help. Thanks!

[2020-05-10 16:12] 6xthFNGR opened #19057 "isHTMLclean Feature - create user settings to allow more html features within Content Pages/other Textboxes"
Hey,

I wanted to add to some of my Content Pages some HTML with CSS.
Whenever the code is pasted into it, PS removes the CSS part when saving.
Turning off HTMLPurfiier in the settings does not solve it.

In the PS Forum I saw some thread, talking about the HTMLCleaning that is done - and that it can be altered by changing PS core files.
See https://www.prestashop.com/forums/topic/267834-how-to-in

[2020-05-10 16:45] FrancescCommerce21 commented on #12519
Hi @khouloudbelguith , i have a problem putting the legend/caption of an image and, as i'm seeing here, you add on postman a "legend" parameter but when i do it like you,  it don't works and the legend of the image added in prestashop is not setted.
So do you know how to set a legend to the image that i'm posting?
Thanks in advance!

[2020-05-11 00:41] carlosul commented on #15041
Hi! @Hydrog3n

I have the same problem with Prestashop 1.7.6.4
The same error appears when:
1. A gift product is added to cart
2. Another voucher in discount price is added to cart

What I've checked is that this happens when:
1. The gift product has a Tax
2. The total price of the gift product (tax inc) is a integer

So for example it triggers with a gift that costs 3.0 but it doesn't trigger wit

[2020-05-11 01:30] Hydrog3n commented on #15041
Hi @carlosul !

We are under 1.7.6.0 and I fix like this.
in the CartRuleCalculator.php Line 234

it's this block in master : https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Cart/CartRuleCalculator.php#L243-L249

I don't remember why we don't PR this fix, but it's maybe it's not perfect for all cases.

[code]

[2020-05-11 06:32] Progi1984 commented on #18536
PR : https://github.com/PrestaShop/ps_imageslider/pull/49

[2020-05-11 06:51] Progi1984 commented on #18955
In this case, have you done a `composer install` in the module ?

[2020-05-11 07:28] NeOMakinG commented on #19028
@PierreRambaud correct me if I'm wrong but webpack itself says that the more chunks you've, faster the build will be (related to treeshaking probably and other things).

![image](https://user-images.githubusercontent.com/14963751/81535034-59765d80-9369-11ea-8f35-998cf14630af.png)

"Only compile the code that you're currently working on". Maybe we can do something there ? But you'r issue looks stra

[2020-05-11 07:30] NeOMakinG commented on #19028
Stop pushing assets means that every swapping branch, you rebuild every assets, that's of course a strong job for a computer, but having a watcher running shouldn't burn too much resources AFTER the initial build :/

[2020-05-11 07:46] NeOMakinG commented on #14405
- its easier to follow our javascript "conventions" for migrated pages
Choosing the easy way is not always the best way, if it requires to change a bit of conventions maybe this is the good moove (Do we wants to introduce some vue anywhere or do we wants to stick with our ugly jQuery stack on new pages?) wdyt @PrestaShop/prestashop-core-developers

- its easier to reuse existing html components (b

[2020-05-11 08:00] madsoliver opened #19059 "False positive "Settings updated" in AdminProducts"
If merchant has a browser window open in AdminProducts, inside a product.
Then he gets logged out (either by clearing cookies, or by login is outdated).
Then logs back into another window, leaving the old product-window open.
Then makes changes and clicks "save" - he gets a positive feedback "Settings updated", when actually in the background the ajax call is redirected to the `security/compromize

[2020-05-11 08:02] PierreRambaud commented on #19028
@NeOMakinG You're right.
The recommandation about `smaller = faster` is legit, the less code you have, the less execution time you get :sweat_smile:
The problem here is: we are not using smaller libraries. As example, we recompile each time the grid component. extensions They are not manage as a library.
The whole backend "front" part is badly manage :/

@eternoendless We are only doing it for js

[2020-05-11 08:05] zuk3975 commented on #14405
Can be easily done as I did on the POC I provided, just kick off the part from .vue files and include them in a .twig that you include in the #vueapp markup using twig. But everyone should validate that it's a good workflow and not a pain point. (Maybe it increase workflow complexity, but it's a first step about migrating the front to Vue)

If its as easy as you say, then this point might make it

[2020-05-11 08:09] NeOMakinG commented on #14405
Which component will use jQuery if we use vue ? the dropdown ? Maybe we can find a good maintained lib to introduce in order to delegate this work

[2020-05-11 08:21] lolath-presta opened #19060 "[Wishlist 1.7] Technical story : data migration from wishlist module 1.6 to module 1.7"
As a merchant, I can, during the migration of Prestashop from 1.6 to 1.7, recover all the data from the Wishlist module present on 1.6.

[2020-05-11 08:51] NeOMakinG commented on #19031
Are you talking about BO or FO or both ? (since FO has a core bundle)

This looks a good idea to be honest, for selectors it would be an array of selectors not bundled in the core lib, but passed as an argument to the core init function, so you can override these selectors easily. I also seen that a lot of things were not really respecting good practices regarding DOM changes events, there are a l

[2020-05-11 08:54] atomiix commented on #19035
Hi @baldemir,

Thanks for your contribution.

@PrestaShop/prestashop-product-team what do you think?

[2020-05-11 09:03] atomiix commented on #19038
Hi @Veiss

Thanks for your feedbacks, could give us more information on how to reproduce you issue and some screenshots of you error? Thanks

[2020-05-11 09:26] atomiix commented on #19042
Hi @6xthFNGR

Thanks for your contribution. I was unable to reproduce it though even with more than 25 meta tags. Could you give us more information on how to reproduce it? Maybe recording your screen using screencastify?
Thanks

[2020-05-11 09:30] EukaPS commented on #18765
@khouloudbelguith any chance you could have a look on this please ? The test you did doesn't cover the issue i'm reporting. Thanks for your help.

[2020-05-11 09:31] atomiix commented on #19043
Hi @onklmaps

Thanks for your feedback, I'll let the @PrestaShop/prestashop-product-team know about it.

[2020-05-11 09:33] jocel1 commented on #18835
@matks do you plan to change the computed value in the ProductLazyArray or introduce a new variable (like value_with_tax ?) in the getEcotax() function ? (+ change the product-prices.tpl to use it)

[2020-05-11 09:36] LouiseBonnard commented on #19036
Dear @omar2886, thanks a lot for your issue! You're right, it should be improved for large catalogs. I've just added this improvement idea to the cart rules EPIC so that it could be studied during the rework of this page.

[2020-05-11 09:46] atomiix commented on #19044
Hi @prestamodule

I was able to reproduce the issue with PrestaShop version 1.7.6.5

I’ll add this to the backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you!

[2020-05-11 09:48] LouiseBonnard commented on #19035
I can reproduce this issue, thanks @baldemir! I agree with you, it'd be great that at least signed in customers could keep their cart when switching devices.

[2020-05-11 09:53] marionf commented on #19035
Guys, there is already an option to do that

![capture d'écran_2596](https://user-images.githubusercontent.com/13449658/81548601-d1e71980-937d-11ea-9648-250890cbf4d9.png)

[2020-05-11 09:53] #19035 closed, assigned to nobody

[2020-05-11 09:59] atomiix commented on #19046
Hi @aunhappy

Despite our several trials, we could not reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thank you!

[2020-05-11 09:59] #19046 closed, assigned to nobody

[2020-05-11 10:09] atomiix commented on #19052
Hi @danbot

We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #17725.

To be informed when it’s fixed, please subscribe to the issue above.

Thank you!

[2020-05-11 10:10] atomiix commented on #19052
Duplicate of #17725

[2020-05-11 10:10] #19052 closed, assigned to nobody

[2020-05-11 10:12] mrusmanali commented on #19031
@NeOMakinG I didn't get a chance to look at BO javascript code, but the same practices should be followed. I guess there are many technical challenges to achieve such functionality since people can install 3rd party modules that can bring their own styles and scripts.

Anyways since Prestashop provides theme designers to override template files, so it should do the same with javascript and styles

[2020-05-11 10:13] Max84 opened #19061 "Allow validation errors translation"
#### Is your feature request related to a problem?

When you send data to Prestashop, for example throw webservice, all data are validated. If data arn't valid, you'll get an error, for example:
Property Product->description_short length (889) must be between 0 and 800

#### Describe the solution you'd like

Allow these texts to be translated too. It'll be better for UX.

Thanks :)

[2020-05-11 11:14] atomiix commented on #19053
Hi @imagicuus

[2020-05-11 11:15] #19053 closed, assigned to nobody

[2020-05-11 11:26] atomiix commented on #19054
Hi @johwech

Despite our several trials, we could not reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thank you!

[2020-05-11 11:26] #19054 closed, assigned to nobody

[2020-05-11 11:31] atomiix commented on #19055
Hi @burakgit

Thanks for your feedbacks. Cronjobs are usually configurable on your server either by manually configuring them through CLI on a dedicated server or through your hosting provider interface (cpanel for instance).

I'll close this issue as it's not a bug.

[2020-05-11 11:31] #19055 closed, assigned to nobody

[2020-05-11 11:35] atomiix commented on #19056
Hi @thequickmick

Thanks for your feedback. @PrestaShop/prestashop-product-team What do you think?

[2020-05-11 11:39] atomiix commented on #19057
Hi @6xthFNGR

Thanks for your feedback. @PrestaShop/prestashop-product-team  what do you think?

[2020-05-11 11:54] NeOMakinG commented on #19031
@mrusmanali

Do you mind writing a complete ADR about this ? I think a customer is absolutely aimed by this practice and maybe that would be way more complete if a customer is at the base, that would be so lovely!

https://github.com/PrestaShop/ADR

I can still work with you on it without any problems!

[2020-05-11 11:55] atomiix commented on #19059
Hi @onklmaps

Thanks for your feedbacks. @PrestaShop/prestashop-product-team, what do you think?

[2020-05-11 12:05] atomiix commented on #19029
Hi @prestamodule

Thanks for your feedbacks. @PrestaShop/prestashop-core-developers What do you think?

[2020-05-11 12:09] atomiix commented on #19041
Hi @carlead

Thanks for your feedback, could you provide us a simple module to reproduce this bug?

[2020-05-11 12:18] imagicuus commented on #19053
My installation is quite standard I would say. I've tried the same thing with debug mode on and it resulted in the following eror:

Duplicate entry '200-434-3' for key 'id_product'<br /><br /><pre>INSERT INTO `ps_product_supplier` (`id_product`, `id_product_attribute`, `id_supplier`, `product_supplier_reference`, `product_supplier_price_te`, `id_currency`) VALUES ('200', '434', '3', '', '0.000000'

[2020-05-11 12:18] Sandeep-singh97 opened #19062 "Rebuild search index cron job"
Open rebuild search index URL that appears at Shop parameters - Search in a private tab (without login) or in a cron
Error. It requires BO login. Index is not rebuilt.
Prestashop version 1.7.6

* PHP version: 7.1.33

[2020-05-11 12:18] sam-pires commented on #18752
Hi @Klemart3D, FYI the bug has been fixed by the Addons team

[2020-05-11 12:26] Klemart3D commented on #18752
Thanks @sam-pires, I confirm, now favicon file is well formed:

![favicon](https://user-images.githubusercontent.com/7419525/81561298-48dadd00-9393-11ea-9fb1-92c563dab671.jpg)

[2020-05-11 12:27] imagicuus commented on #19053
Error looks similar to this old issue: https://web.archive.org/web/20180318141337/http://forge.prestashop.com/browse/PSCSX-9828

[2020-05-11 12:29] LouiseBonnard commented on #18852
Hi there! But it is saved, right? It's just that there is no notification mentioning the fact that the image has been disabled in Design > Image Settings and will therefore not be displayed in the front office.

If you concur, then I could write an error message stating that the user should configure his image settings to enable it on his/her store. :-)

[2020-05-11 12:42] PierreRambaud commented on #19029
It's more a question for @PrestaShop/prestashop-product-team :)
As you said, the problem doesn't appears in clasic-rocket because it's a decision that has been taken for the classic theme only, feel free to improve your theme to reuse the wanted behavior :thinking:

[2020-05-11 12:45] PrestaEdit commented on #19029
Of course not, the problem is not the used theme. If you do something in the Classic, you will have all the theme follow them. And somes behavior (used in somes modules) are now broken with the Classic one.

[2020-05-11 12:57] doeselschnecke opened #19064 "Delivery and billing address displayed twice"
### Describe the bug

When using a different language (in my case de-DE), the addresses in the oder confirmation mail were shown twice, because HTML Tag `<span data-text-only=1>` seems to not work in other languages.

#### Expected behavior

Show the addresses once, not twice.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set front end language to German
2. Make an order
3. Read t

[2020-05-11 13:15] atomiix commented on #19040
Hi @Natthew99

Thanks for your feedback. What do you think @PrestaShop/prestashop-product-team?

[2020-05-11 13:18] marionf commented on #19012
Duplicate of #16306

[2020-05-11 13:18] #19012 closed, assigned to nobody

[2020-05-11 13:20] atomiix commented on #19045
Hi @cprats

Despite our several trials, we could not reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thank you!

[2020-05-11 13:20] #19045 closed, assigned to nobody

[2020-05-11 13:26] valentin-anamorphik commented on #13872
Got the same problem.

use : https://devdocs.prestashop.com/1.7/themes/getting-started/asset-management/#without-a-front-controller-module

[2020-05-11 13:34] SD1982 opened #19068 "BO - SQL manager settings doesn't have any effect"
#### Describe the bug

Export file is always in utf - 8 even if set in iso-8859-1

#### Expected behavior

If set in iso-8859-1 the export file should be in iso-8859-1

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Advenced parameters => database => Sql Manager => settings
2. Set in utf-8
3. export sql request
4. The csv file is encoded in utf-8
5. Set in iso-8859-1 the

[2020-05-11 13:45] matthieu-rolland commented on #18920
This PR is blocked because we can't reproduce it on the 1.7.7.x branch

[2020-05-11 14:00] colinegin commented on #19059
I think this is more a question to @PrestaShop/prestashop-core-developers

[2020-05-11 14:13] 6xthFNGR opened #19070 "Emails Send as Text causing email MIME attachments, MIME causing issues with certain devices (iOS iPhone), no option to deactivate or fix it within PS BO"
Hello,

my PS 1.7.6.5 is set at Menu - Configure - Advanced Parameters - Emails to
"send Emails in text format".
I have multiple issues with this:

a)
Even when choosing to only send Text emails, he still attaches the Mail Logo. There is no option to disable it, and when the Mail Logo is deleted he picks the Shop Logo instead.
I think this is the reason for my main issue:

b)
iPhones: They receive

[2020-05-11 14:24] matthieu-rolland commented on #18987
The bug is not there anymore in 1.7.7.x

[2020-05-11 14:25] 6xthFNGR opened #19072 "BO Menu - Sell - Orders Bulk Action Change Order Status Cancelled does not get applied"
Like sayed,

go for your
BO Menu - Sell - Orders
scroll down and select bulk action dropwdown menu - Change order Status

!!! - Feature Request, it would be great to not first need to scroll down and choose bulk action, it would be great to DIRECTLY incorparate the select all/deselect all and Change Order Status feature into the top of the page - or for minimum, put the Bulk Action Button to the t