[2020-03-16 13:07] khouloudbelguith commented on #18141
@Betafer,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-03-16 13:07] #18141 closed, assigned to nobody

[2020-03-16 13:09] Betafer commented on #18141
Ok thanks

[2020-03-16 13:30] marionf commented on #17717
Weird, I still have this issue after a `git pull` & I don't have cache
@NeOMakinG

![capture d'écran_2448](https://user-images.githubusercontent.com/13449658/76762923-7db32500-6792-11ea-8133-5f2448dd5038.png)

[2020-03-16 13:32] Betafer commented on #18139
OK, thanks

[2020-03-16 13:56] matks commented on #17893
Ping @PrestaShop/prestashop-core-developers can we confirm the following behavior is good:

The idea is to help developers debug their modules while protecting merchants in production environment for breaking their shops.

Example:
[code]
⬇️
[code]

[2020-03-16 14:01] jolelievre commented on #18106
But if we use a generic message like `Please add a product quantity.` Then the message won't be understanding when the user inputs 0 or less

[2020-03-16 14:06] Arman-Hosseini commented on #17958
Assign this to me.

[2020-03-16 14:07] khouloudbelguith commented on #18134
Hi @PeNov,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2.
In the BO => nok
![image](https://user-images.githubusercontent.com/16067358/76766174-dfc25900-6797-11ea-9b5e-b938b4e06d33.png)
In the FO => OK
![image](https://user-images.githubusercontent.com/16067358/76766120-cb7e5c00-6797-11ea-95a1-3589770b22dc.png)
I’ll add this to the debug roadmap so that it’s

[2020-03-16 14:12] khouloudbelguith commented on #18139
@Betafer, thanks!
Waiting for your feedback.

[2020-03-16 14:22] LouiseBonnard commented on #18028
Indeed, these two options should be related to each other. In short: if you disable the 'best sales' page, it should automatically uncheck this option in the Design > Link Widget section of the back office or in the Link List module.

[2020-03-16 14:28] matks commented on #17275
Repository created https://github.com/PrestaShop/example-modules

[2020-03-16 14:28] #17275 closed, assigned to nobody

[2020-03-16 14:33] matks commented on #17138
@jf-viguier @olecorre 2 example modules for 1.7.7.x have been delivered in repository https://github.com/PrestaShop/example-modules
- Order Page hooks module
- Extend a Symfony Form module 2

Documentation has been written for Order Page hooks module => https://devdocs.prestashop.com/1.7/modules/sample_modules/order_view_page_new_hooks/
Documentation for Extend a Symfony Form module 2 is WIP

Feel

[2020-03-16 14:43] khouloudbelguith commented on #18152
Hi @PululuK,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13382 to fix the issue.
It is fixed in the PS1.7.7.0.
Your ticket is a duplicate of #13382
So, I close it.
Thanks !

[2020-03-16 14:43] #18152 closed, assigned to nobody

[2020-03-16 14:43] khouloudbelguith commented on #18152
Duplicate of #13382

[2020-03-16 14:52] PululuK commented on #18152
Hi @khouloudbelguith
Thank you !
Yes I agree! But it's not the same proposition, the two PRs are totally different !
He proposes to delete the icon field while I propose to leave it and update it according to the type of reduction chosen.
WDYF ?

[2020-03-16 14:55] khouloudbelguith commented on #18152
@PululuK, but the issue is fixed with PS1.7.7.0.
https://drive.google.com/file/d/12pwnBdJ32I_v6DdNvWpZWsiY_rvqozM5/view

Thanks!

[2020-03-16 14:59] LouiseBonnard commented on #18106
Why would the user type 0 or less if he/she has to indicate the quantity refunded?

It might be a little naive but we have a lot of error notifications stating that negative amounts are not allowed, or that users must type a positive value, etc. wouldn't it be better to have fields that simply block negative signs in case a user types one? Like inputs are allowed only if it matches the required fo

[2020-03-16 14:59] PululuK commented on #18152
Thank you @khouloudbelguith  ! In this case, we can effectively close my PR. Sorry!

[2020-03-16 15:14] khouloudbelguith commented on #18159
Hi @maofree,

This issue is fixed in the next release PS1.7.7.0.
https://drive.google.com/file/d/1Iz18CXEzj_gGwc0b0cKAe3-HGVZEIFyo/view
Your ticket is a duplicate of #17506
So, I close it.
Thanks !

[2020-03-16 15:14] #18159 closed, assigned to nobody

[2020-03-16 15:14] khouloudbelguith commented on #18159
Duplicate of #17506

[2020-03-16 15:40] jf-viguier commented on #17138
Thanks

[2020-03-16 15:42] Houmeid commented on #17277
Hey! I've got the same problem when i try to create a new product

[2020-03-16 15:55] matks commented on #18003
Could not see the issue 😐after testing PS Checkout ...
Maybe a specific environment or php version ?

[2020-03-16 15:57] khouloudbelguith commented on #17277
Hi @Houmeid,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-03-16 15:58] eternoendless commented on #17827
Avoid using a folder called `vendor` in the root of your module unless you're managing it through composer. This particular folder is intended to be managed by composer and used exclusively for PHP libraries.

Please open a new issue describing that specific problem in detail.

I'm closing this one as the originally described behavior regarding htaccess is intentional, not a bug.

[2020-03-16 15:58] #17827 closed, assigned to eternoendless

[2020-03-16 16:02] Houmeid commented on #17277
No problem @khouloudbelguith thanks !

[2020-03-16 16:14] Houmeid opened #18165 "I can't create a new product (The CSRF token is invalid. Please try to resubmit the form.)"
hey everyone i'm a begginer in prestashop

I've installed prestashop 1.7.6
When i go on the administration page, and i try to create a new product it doesn't works and it shows me an error The CSRF token is invalid. Please try to resubmit the form.
It seem like something went wrong cause even the administration page is not displayed correctly
And as @khouloudbelguith said, i've modify my php.ini f

[2020-03-16 17:10] Houmeid commented on #17277
Hey @khouloudbelguith it's done, i've create a new issue thanks for the help

[2020-03-16 17:55] martaymarcela commented on #18165
Me pasa exactamente igual y ya he modificado el php.ini y el  .htaccess y nada funciona, lo tengo instalado en local, he cambiado de versión de Pretashop pero sigue sin funcionar

[2020-03-16 21:01] pmysiak opened #18169 "Category's "Menu thumbnails" missing after images are regenerated"
When images are regenerated in menu Design -> Image settings -> REGENERATE THUMBNAILS, category's property "Menu thumbnails" is empty.

#### Expected behavior

I expected that images would exist.

#### Steps to Reproduce

1. Add images for a category (set field "Menu thumbnails")
2. Go to Design -> Image settings -> REGENERATE THUMBNAILS
3. Regenerate categories for all formats
4. Edit the categor

[2020-03-17 04:25] ets-soft opened #18170 "Media server is not working for CSS and Javascript"
#### Describe the bug

Media server option is not to be fully working on Prestashop 1.7. I entered CDN domain  but it only works for images not CSS or Javasscript. The URL of css and javascript files remain original domain (not replaced by CND domain) even when I have turned on CSS (minification)

#### Expected behavior

CND domain should replace original domain when the CDN domain is entered (via

[2020-03-17 04:38] ets-soft opened #18171 "Link widget - Blocks cannot be updated when memcached is enabled Prestashop 1.7"
#### Describe the bug

I enabled caching with CacheMemcached, my memcached server has been correctly configured and working well. But since the caching is enabled, sometimes when I save products, disable/enable module... it doesn't take effect! There is no change on the FO when I update product information (sometimes), I disable a module and reload the BO the module keep enabled...
I have checked

[2020-03-17 05:08] karopka opened #18172 "[Improvement] ps_facetedsearch: filtering Product Packs by attributes"
prestashop does not show product packs when filtering products by attributes with facetedsearch.

What i'm expecting?
I want to get filter result with product pack of choosen size or another product attribute wich included in product pack.

Steps to reproduce the behavior:

1. Go to Products and create new product pack.
2. Go to ps_facetedsearch settings and reindex prices and attributes.
3. Go to

[2020-03-17 06:29] JoshaMunnik opened #18173 "Tabs of product page have different widths in back end with view only permission."
#### Describe the bug

When changing the permission of a profile for products to View only (Add, Edit and Delete are all unchecked) the tabs of the product page have different widths and are shown differently compared to an employee that does have a profile that allows for editing of a product.

#### Expected behavior

The layout/styling should be the same; just with buttons disabled.

#### Steps

[2020-03-17 07:32] Progi1984 commented on #17223
Bug 2 is fixed by #18146

[2020-03-17 07:37] khouloudbelguith commented on #17570
Hi @khalidzuhd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-17 07:37] #17570 closed, assigned to nobody

[2020-03-17 07:50] LGx0 commented on #18059
the problem could not be resolved.
I installed a new prestashop on a new server.

[2020-03-17 07:53] khouloudbelguith commented on #18173
Hi @JoshaMunnik,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.4.4.
In the BO => Catalog => Product details page, the tabs of the product page have different widths and are shown differently.

1. Basic Settings Tab
2. Shipping Tab
3. Pricing Tab
=>
![image](https://user-images.githubusercontent.com/16067358/76833940-8d7f4780-682c-11ea-9345-9d9c403635e6.png)

1.

[2020-03-17 08:13] khouloudbelguith commented on #18172
Hi @karopka,

Thanks for your report.
I have the same behavior as PS1.7.6.4 and ps_facetedsearch v3.4.1.
When you filter by attributes product pack that include products with those attributes are hiding from the result.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-03-17 08:19] khouloudbelguith commented on #18170
Hi @ets-soft,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16180 to fix the issue.
It is fixed in the next version PS1.7.7.0.
Your ticket is a duplicate of #9890
So, I close it.
Thanks!

[2020-03-17 08:19] #18170 closed, assigned to nobody

[2020-03-17 08:20] khouloudbelguith commented on #18170
Duplicate of #9890

[2020-03-17 08:22] faaak2 commented on #16774
I have the exact same problem.
@khouloudbelguith if you can't reproduce, you probably didn't understand the problem.

[2020-03-17 08:39] khouloudbelguith commented on #18169
Hi @pmysiak,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2.
https://drive.google.com/file/d/1_vcZ4BjSCr5oNqd8NZuxbukPCYbMIMjG/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Just for information, the thumbnail is not used in the classic templ

[2020-03-17 09:14] davidglezz commented on #18169
I can't view https://drive.google.com/file/d/1_vcZ4BjSCr5oNqd8NZuxbukPCYbMIMjG/view
I don't have permissions

[2020-03-17 09:22] khouloudbelguith commented on #18169
@davidglezz, I updated permissions :slightly_smiling_face:

[2020-03-17 09:37] khouloudbelguith commented on #18165
Hi @Houmeid,

Thanks for your report.
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

[2020-03-17 09:47] khouloudbelguith commented on #18171
Hi @ets-soft,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
[Untitled_ Mar 17, 2020 10_44 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4342662/Untitled_.Mar.17.2020.10_44.AM.webm.zip)
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and

[2020-03-17 09:51] khouloudbelguith commented on #18140
Hi @daresh,

Thanks for your report.
Your ticket is a duplicate of #14305
So, I close it.
Thanks!

[2020-03-17 09:51] #18140 closed, assigned to nobody

[2020-03-17 09:51] khouloudbelguith commented on #18140
Duplicate of #14305

[2020-03-17 09:55] jasinskipr opened #18175 "ps_facetedsearch - texture and color - empty"
presta 1.7.6.4
ps_facetedsearch v3.4.1

I used the command {$displayedFacets|@print_r} in the file "facets.tpl".
I have empty array like in picture.

![presta](https://user-images.githubusercontent.com/62284805/76844245-4f3e5400-683d-11ea-9f60-0741875a815c.png)

I want to get a color or texture.

[2020-03-17 10:03] khouloudbelguith commented on #18142
Hi @Betafer,

Thanks for your report.
This issue is related to the Google Maps issue.
Your ticket is a duplicate of #10393
So, I close it.
Thanks !

[2020-03-17 10:03] #18142 closed, assigned to nobody

[2020-03-17 10:03] khouloudbelguith commented on #18142
Duplicate of #10393

[2020-03-17 10:20] khouloudbelguith commented on #18129
Hi @ebaubau,

Thanks for your report.

As @arouiadib said, It depends on the merchant.

The Gift product, it is in fact a simple product active with X quantity, if you search this product in your shop, you can see it and add it to cart independent of the cart rule created.
https://drive.google.com/file/d/13A6L618uy22rGxX37y8RuP0w1HGKux3t/view?usp=sharing

999 free products.

The customer can get X

[2020-03-17 10:27] Progi1984 commented on #18104
I have added this in the new order page. May be that have been removed with merge (Poke @jolelievre or @matthieu-rolland )

[2020-03-17 10:39] khouloudbelguith commented on #18151
Hi @ftardio,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4 and the ps_facetedsearch module v3.4.1.
I attached a screen record
As you can see [here](https://github.com/PrestaShop/PrestaShop/issues/9956#issuecomment-493442905), this issue is fixed.
What is the exact version PS and ps_facetedsearch module did you use?

Thanks!

[2020-03-17 10:50] khouloudbelguith commented on #18128
Hi @mazentouati,

I did not manage to reproduce the issue with PS1.7.6.4 and ps_facetedsearch module v3.4.1.
I attached a screen record
[Untitled_ Mar 17, 2020 11_48 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4343012/Untitled_.Mar.17.2020.11_48.AM.webm.zip)
Category filter depth => 1 is the category by default.
![image](https://user-images.githubusercontent.com/16067358/76849293-6

[2020-03-17 10:53] khouloudbelguith commented on #18059
@LGx0, so the issue is not reproduced again? is it?
Can we close the issue?

Thanks!

[2020-03-17 10:54] khouloudbelguith commented on #18117
@alvijo, any news?

Thanks!

[2020-03-17 11:13] khouloudbelguith commented on #18175
Hi @jasinskipr,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2 using the ps_facetedsearch module v3.4.1.
I have an empty `array` for properties
![image](https://user-images.githubusercontent.com/16067358/76850867-8b2ae680-6848-11ea-8238-6671ad3811db.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you

[2020-03-17 11:14] khouloudbelguith commented on #16774
Hi @faaak2,

Do you think, it is related to this issue: https://github.com/PrestaShop/PrestaShop/issues/18175?

Thanks!

[2020-03-17 11:27] khouloudbelguith commented on #18150
Hi @ftardio,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9641
So, I close it.
Thanks!

[2020-03-17 11:27] #18150 closed, assigned to nobody

[2020-03-17 11:27] khouloudbelguith commented on #18150
Duplicate of #9641

[2020-03-17 11:32] mazentouati commented on #18128
Hi @khouloudbelguith, Yes what's described in that issue is exactly the problem. I've tried 0 depth at the beginning then tried with 4 depth. I've downgraded the module version to `2.2.1` and it's working as expected with 0 depth.

[2020-03-17 11:32] #18128 closed, assigned to nobody

[2020-03-17 11:35] khouloudbelguith commented on #18128
@mazentouati, thanks for your feedback.
Your ticket is a duplicate of #16067
Thanks!

[2020-03-17 11:35] khouloudbelguith commented on #18128
Duplicate of #16067

[2020-03-17 11:37] khouloudbelguith commented on #9866
Same issue with PS1.7.6.4.
![image](https://user-images.githubusercontent.com/16067358/76852603-fde99100-684b-11ea-8544-b16acfd42930.png)

Thanks!

[2020-03-17 11:56] sanctusmob commented on #9866
Version 1.7.5.1

The log is written by classes/controller/FrontController.php line 368
[code]

![image](https://user-images.githubusercontent.com/13434486/76853960-ec59b680-6856-11ea-8042-6e0f43a78b91.png)

[2020-03-17 11:57] ftardio commented on #18151
I'm using PS v1.7.6.2 and Faceted Search v3.4.1.

The order is correct in categories without subcategories, but at categories containing subcategories, the order is wrong.

I have configured order by: position at Prestashop options, when I go to products, filter by category and order by position, I get this at backend:
![image](https://user-images.githubusercontent.com/12235140/76853872-620d5480-6

[2020-03-17 11:58] faaak2 commented on #16774
No, unfortunately not. For our issue, we would love getting an empty properties Array like in #18175. Instead, if you once set a colour to a filter it is displayed, not taking in to account if the facet is even a color/texture type. Worse: if you ever applied a texture file to it, even if the file do not exists, it is applied to the style tag.
![facet_screenshot](https://user-images.githubusercont

[2020-03-17 12:18] khouloudbelguith commented on #18151
@ftardio, thanks for your feedback.
I tried with PS1.7.6.2 and it is OK also.
In the BO => Catalog => Products page, I tried to filter by the `Accessories` category which has `stationery` and `Home Accessories` sub-categories and I sorted by position in the ascending order.
![image](https://user-images.githubusercontent.com/16067358/76855325-2e7ff980-6851-11ea-8d4f-e7b836895f2c.png)

In the BO =>

[2020-03-17 12:23] ftardio commented on #18151
In my case, it's not working fine.

Try to order inside subcategories in a different order as parent category (I think this can be the key), and then look at parent category order at front-end...

[2020-03-17 13:15] khouloudbelguith commented on #18151
@ftardio, I attached a screen record
[Untitled_ Mar 17, 2020 2_13 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4343586/Untitled_.Mar.17.2020.2_13.PM.webm.zip)
Thanks to check and feedback.

[2020-03-17 13:18] PrestaShark commented on #16952
Bug still persist. 1.7.6.4 + module 3.4.1.

[2020-03-17 13:23] matthieu-rolland commented on #17875
Looks like this issue is fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/17611

[2020-03-17 13:25] khouloudbelguith commented on #16774
@faaak2, I tried with PS1.7.6.4 and ps_facetedsearch v 3.4.1
I have this case
![image](https://user-images.githubusercontent.com/16067358/76860356-2c229d00-685b-11ea-877f-db53dcb4fc0f.png)

Thanks!

[2020-03-17 14:36] khouloudbelguith commented on #18155
Hi @gwyneblaidd,

I tried to replace this [line](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/classes/ProductAssembler.php#L68) by  your solution
[code]
Then I followed these steps:

1. Enable Multistore context
2. Create a second shop
3. Create a product P1 in all shops
4. Create some combinations for P1 in the first shop
5. Create other combinations for P1 in the second shop
6. Put some

[2020-03-17 14:50] ArnasL opened #18181 "My website is down after migration"
[code]

I have changed my server to new one and I get this error when I try to open website front office or BO. I can't understand what's going on. My cache is disabled but I can see app/cache/prod folder. I don't even have app/cache/dev folder and I can't understand why system are looking for it (I deciding it by this error) Does anyone have idead how to fix it? Thanks in advance

#### Additional

[2020-03-17 14:57] arouiadib commented on #17968
Hello @MatShir ,
Thank you very much.
While working on this, I have a question. Don't we need to extend this behaviour to minimal allowed quantity for product/combintation and not only check against quantity = 0?
Wdyt?

[2020-03-17 14:59] khouloudbelguith commented on #18181
Hi @ArnasL,

To move a Project to a new domain without errors, please follow these steps:

1. made a backup for my files & my database
2. upload my store's files to your new server
3. import the old store's database to the new server
4. In file /app/config/parameters.php, configure my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3. DB_USER:

[2020-03-17 15:03] julio899 commented on #18075
I'm but what do you need?.

right now i resolved this, and coming soon I go to share the solution.
thanks.

On Wed, Mar 11, 2020, 4:12 AM khouloudbelguith <notifications@github.com>
wrote:

[2020-03-17 15:12] PululuK commented on #18181
Hi @khouloudbelguith

looking here:

I think this is clearly a cache problem:

_Fatal error: require_once(): Failed opening required '/var/www/MYDOMAIN.COM/public_html/app/cache/dev/appParameters.php' (include_path='/var/www/MYDOMAIN.COM/public_html/vendor/pear/pear_exception:/var/www/MYDOMAIN.COM/public_html/vendor/pear/console_getopt:/var/www/MYDOMAIN.COM/public_html/vendor/pear/pear-core-minima

[2020-03-17 15:15] khouloudbelguith commented on #18181
@PululuK, yes!
It is the last step: `clear the cache manually by deleting all the folder into app/cache (prod & dev).`

Thanks!

[2020-03-17 15:15] khouloudbelguith commented on #18075
@julio899, thanks!
Waiting for your feedback.

[2020-03-17 16:03] Progi1984 commented on #13880
In my PR :
- :ok_hand: for "The block discount is not displayed"

[2020-03-17 16:05] Gaja-A opened #18183 "Rounding problem with the product prices"
Hi,

I have a rounding issue with product prices. I have changed the rules in the back office but whatever rule I set, there is always an error.
For example: the price of a product is 149 € and when the customer ordered 2, it should be 298 (149+149), but it shows 297.99 with the rule (**Round up to infinity when halfway value (recommended)**). When we change the rule to **Rounding up to the neares

[2020-03-17 16:12] marlon8511 commented on #18151
Hello I have the same issue
Prestashop Version 1.7.6.4
Faceted Search 3.4.1

### Product Settings in shop parameters
Default order by  **position inside category**
Default order method **Descending**

### Faceted Search  settings
Show products from subcategories **Yes**

In the Front-end
The order products in **subcategories** is according to the parameters
The order products in **the main categor

[2020-03-17 16:13] khouloudbelguith commented on #18183
Hi @Gaja-A,

We have a different rounding problem, it is an issue that should be specified & fixed by our developers.
We are aware of this issue.
Your ticket is a duplicate of #9779
Please follow: https://github.com/PrestaShop/PrestaShop/issues/9779
So, I close it.
Thanks!

[2020-03-17 16:13] #18183 closed, assigned to nobody

[2020-03-17 16:13] khouloudbelguith commented on #18183
Duplicate of #9779

[2020-03-17 16:19] ArnasL commented on #18181
The domain is the same, just a new server. I have deleted prod cache (dev doesn't even exist). I think this problem is related to permissions. Because I can't see cache/dev folder. Also missing /var/ folder. Does anyone can guide me how can I fix it?

[2020-03-17 16:20] ArnasL commented on #18181
I get this response when I run this code:
`Could not open input file: ./bin/console`

[2020-03-17 16:24] PululuK commented on #18181
Hi @AAymeric
Sorry man !
For your Pretashop version use _:_
_php -d memory_limit=-1 ./app/console cache:clear_

[2020-03-17 16:27] TristanLDD commented on #18104
@matks I get your point, but for the merchants who doesn't use this feature, having the column hidden would result in a more confortable reading of the table on a daily basis, and contribute to make the design less heavy. These tables are potentially the ones which will be used the most often in the BO. To me, improving the user experience with details like this is enough to justify handling that

[2020-03-17 16:31] khouloudbelguith commented on #18181
@ArnasL,

For your PrestaShop version, the var folder doesn't exist
https://github.com/PrestaShop/PrestaShop/tree/1.7.3.0

Thanks!

[2020-03-17 16:32] ArnasL commented on #18181
Getting this error now:

  [Symfony\Component\DependencyInjection\Exception\RuntimeException]
  Cannot dump definition because of invalid class name (NULL)

[2020-03-17 16:34] ArnasL commented on #18181
Ok, but I still think prestashop can't create new files and folders after migration, how to recheck these privileges?

Ok, but I still think prestashop can't create new files and folders after migration, how to recheck these privileges? When I delete prod folder in app/cache I think dev folder should be created but in my case it's not.

[2020-03-17 16:36] ArnasL commented on #18181
@PululuK anyway something happend after that line of code. Now I can see in FO maintenance mode On and in BO I see new error:

[code]

[2020-03-17 16:37] khouloudbelguith commented on #18181
@ArnasL,

If you don't have access, you can check with your host to give the right permission.
Give the write and read access.
`$ chown -hR www-data:www-data ./Project_Folder_name`
Some hosts might require you to use` CHMOD 777`, although it is not recommended for anything more than a one-time need.
If you have to use CHMOD 777, make sure to switch to a safer setting (for instance, 775 for folders

[2020-03-17 17:00] khouloudbelguith commented on #18151
Hi @marlon8511,

I tried to follow all the steps provided.
But it is ok with PS1.7.6.4 and ps_facetedsearch module v3.4.1.
I attached a new screen record
[Untitled_ Mar 17, 2020 5_57 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4344711/Untitled_.Mar.17.2020.5_57.PM.webm.zip)
Thanks!

[2020-03-17 17:07] khouloudbelguith commented on #18111
@ioweb-gr, I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
[Store • 1764.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4344746/Store.1764.webm.zip)
Thanks to check and feedback.

[2020-03-17 17:50] marlon8511 commented on #18151
Hello, this is weird it looks like the module changes the behavior of the position of the products.
I also noticed that when the module is activated the box with the word relevance disappears.

[2020-03-17 18:02] Houmeid commented on #18165
Indeed, i've downgrade my php version to 7.2 and everything is fine now. Thanks @khouloudbelguith

[2020-03-17 18:04] Houmeid commented on #18165
@martaymarcela Bajé mi version de Php y todo està bien ahora

[2020-03-17 18:16] ftardio commented on #18151
Right! As marlon8511 says, when module is active, you get this options at "order by" select at front-end:
![image](https://user-images.githubusercontent.com/12235140/76887963-58eaaa80-6883-11ea-95ff-7be80794e37c.png)
But if you deactivate it, you "lost" first order select option:
![image](https://user-images.githubusercontent.com/12235140/76888183-c565a980-6883-11ea-8c34-07a7c869f4de.png)

[2020-03-17 19:29] ArnasL commented on #18181
Almost everything is fixed now. Thanks for everyone for help! Last thing which is not working, friendly SEO urls. Trying now debug this
I also changed my PHP version to 7.0 from 7.2 because of a lot of incompatibility.

[2020-03-17 19:35] Matt75 commented on #9817
Problem is due to usage a wrong font in PDF caused by wrong iso code

Some language need a special font to print characters: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/pdf/PDFGenerator.php#L40

Depending on Language iso code : https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/pdf/PDFGenerator.php#L138

Root cause is we always send language based on Context : https://

[2020-03-17 19:54] sergicp opened #18187 "Error in select input backend"
In backend of prestashop, when you click (for example in translations) on the select input merge the word "select" with "id = ..." (selectid="idofclass...") and the selects do not display well.

Version 1.7.6.4 stable.

Any solution? Thank you.

[2020-03-17 20:15] ArnasL commented on #18181
mod_rewrite is enabled I don't have any idea why it's not working
Here is my presta info
https://www.dropbox.com/s/welm6m1qya9erjo/Screenshot%202020-03-17%2022.14.46.png?dl=0

[2020-03-17 21:43] marlon8511 commented on #16130
Hello I have the same issue, could you fix it??

[2020-03-17 21:44] marlon8511 commented on #16130
Hello @agalussio, I have the same issue. Could you fix it?

[2020-03-17 22:27] mickaelandrieu commented on #16477
Hi @eternoendless , as 1.7.7 is still "not released" what is the cost to add an extra step on travis to test against PHP 7.4 ?

I mean, we can allow this build to fail but at least people will know what they need to fix.

Would you consider this contribution ?

[2020-03-18 07:37] agalussio commented on #16130
Hi, I haven't been able to fix it and they've already tried 3 developers.
Prestashop is very disappointing.

[2020-03-18 07:38] Progi1984 commented on #16851
Fixed by #17881

[2020-03-18 07:38] #16851 closed, assigned to nobody

[2020-03-18 07:53] khouloudbelguith commented on #17692
Hi @storygram,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-18 07:53] #17692 closed, assigned to nobody

[2020-03-18 08:23] khouloudbelguith commented on #18187
Hi @sergicp,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2020-03-18 08:35] khouloudbelguith commented on #18165
@Houmeid, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-18 08:35] #18165 closed, assigned to nobody

[2020-03-18 08:41] Pasc00l opened #18193 "1-click upgrade module: Upgrade button not working"
Hello,

I have installed the 1-click upgrade module to upgrade my prestashop 1.7.1.2 to 1.7.6
The module installation was ok but when I click on the upgrade button, nothing happens.

All verified points are ok excepted a warning on the max-execution-time that is on 300 seconds at the moment. But as I have a mutualized hosting at ovh, I cannot change this value.

Please could you help ?

Thank you

[2020-03-18 08:50] khouloudbelguith commented on #18193
Hi @Pasc00l,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - 1-click upgrade version
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.c

[2020-03-18 09:03] sergicp commented on #18187
server setup and configuration:

Linux #1 SMP Thu Oct 27 07:16:29 CEST 2016 x86_64

Versión del software del servidor: Apache

Versión PHP: 7.4.3

Memory limit: 1024M

T. Max Execution: 600

Max filesize upload: 1024M

PrestaShop version (source): 1.7.6.4

debug mode report: No errors

PHP error logs: No errors

apache error log: No errors

javascript console log: No errors

screenshots:

![Imagen

[2020-03-18 09:06] khouloudbelguith commented on #18187
@sergicp, PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgra

[2020-03-18 09:08] faaak2 commented on #16774
Yeah, looks good, works as intended. Now if you set your filter "texture" to something else than Color/Texture (like drop-down) it still displays the texture. Which it really shouldn't. Because if the texture file (/img/co/26.jpg in your case) is gone (you may rename or delete it for testing), it tries to load it anyway and you get 404 errors

[2020-03-18 09:14] faaak2 commented on #16774
Now in the Product class (Product.php) you have this check:
L:3895

`foreach ($res as $row) {
            $row['texture'] = '';

            if (Tools::isEmpty($row['color']) && !@filemtime(_PS_COL_IMG_DIR_ . $row['id_attribute'] . '.jpg')) {
                continue;
            } elseif (Tools::isEmpty($row['color']) && @filemtime(_PS_COL_IMG_DIR_ . $row['id_attribute'] . '.jpg')) {

[2020-03-18 09:22] khouloudbelguith commented on #18181
@ArnasL, `mod_rewrite` is a useful Apache module that can be used effectively to ensure human-readable URLs.
First, we need to activate `mod_rewrite`. It’s available but not enabled with a clean Apache 2 installation.
`sudo a2enmod rewrite`
You need to change the default Apache configuration file
[code]

For more details, thanks to check with your host and feedback.

[2020-03-18 09:31] khouloudbelguith commented on #18151
@ftardio, @marlon8511,

We have two issues:
- Product sorting (by position) is reversed when `ps_facetedsearch` module is disabled => this issue is fixed in the PS1.7.8.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/17402 as reported here: https://github.com/PrestaShop/PrestaShop/issues/17400
- An empty box for the sort options when selected not default one => this issue is fixed in

[2020-03-18 09:42] ArnasL commented on #18181
Yes, now all good, problem solved. Thanks

[2020-03-18 09:44] charlybrown44 commented on #18037
Hi,

It seems that it is a problem with a field that i created in the database.
I fix it by adding "unnasigned" on this int field.

I am still looking to understand why it makes this error.

Sincerely.

[2020-03-18 09:45] ArnasL opened #18194 "Importing / Exporting products website stuck on keep loading it"
Hello, I am trying to export/import products and I get stuck on 0/7000 products to be exported. My website is keep loading and I have to restart apache to make it accessible again. What can cause this issue? I think it's something related to PHP, but I'm not sure, because all my PHP settings are increased.

#### Additional information

* PrestaShop version: 1.7.6.1
* PHP version: 5.6

# | Required

[2020-03-18 10:00] jolelievre commented on #17958
Sorry @Arman-Hosseini I didn't see your message, I assigned you to this issue ;)

[2020-03-18 10:00] khouloudbelguith commented on #16774
@faaak2,

1. First case: the filter "texture" is et to `Color/Texture` Attributes type
![image](https://user-images.githubusercontent.com/16067358/76947174-84ae7480-6905-11ea-8a97-5cce94830399.png)
2. In the FO => well displayed
![image](https://user-images.githubusercontent.com/16067358/76947240-9d1e8f00-6905-11ea-9cbf-5e3136f75ef5.png)
3. Second case: the filter "texture" is et to `Drop-down lis

[2020-03-18 10:02] khouloudbelguith commented on #18181
@ArnasL, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-18 10:02] #18181 closed, assigned to nobody

[2020-03-18 10:03] khouloudbelguith commented on #18037
@charlybrown44,

This field is created manually in the database?

Thanks!

[2020-03-18 10:12] jolelievre commented on #18030
Hi @colinegin,
I tried to reproduce this bug but it seems impossible to add more than 600 characters, the input blocks adding more characters, so how did you manage to add more than 600?

![Capture d’écran 2020-03-18 à 11 06 19](https://user-images.githubusercontent.com/13801017/76949232-862d6c00-6908-11ea-8df8-7a4f8e579c4f.png)

Also do you have a screenshot of the bug? Thank you

[2020-03-18 10:18] Pasc00l commented on #18193
Hello,

I have a mutualized hosting so I don't have access to all logs...
The module version is 4.10.1

Anyway here are some information...

My configuration:

INFORMATIONS SUR VOTRE SERVEUR
Informations du serveur : Linux #1 SMP Wed Nov 13 11:24:26 CET 2019 x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.1.32

Limite de mémoire : 512M

Temps maximal d'exécution : 300

Taille max.

[2020-03-18 10:22] jolelievre commented on #18031
I don't understand this one, what is this "stock field" you mention? If it's the "quantity" field then what is the difference with issue #17968 ?

[2020-03-18 10:26] Webgaict opened #18195 "Problem with Combination on Prestashop 1.7.6.3"
Hello, I have a problem in the frontend on the combinations of a product, in practice when I change the attribute in the frontend the url is changed but the size is not visually changed.
![bug-on-combination](https://user-images.githubusercontent.com/56969939/76951030-4916a900-690b-11ea-856c-684daf41d1a8.png)

[2020-03-18 10:36] khouloudbelguith commented on #18195
Hi @Webgaict,

In the PS 1.7.6.3, we have two regressions fixed in the PS1.7.6.4.
https://github.com/PrestaShop/PrestaShop/issues/17437
https://github.com/PrestaShop/PrestaShop/issues/17345

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17457 to fix issues.

I think, it is similar to your issue, is it?

Thanks to check and feedback.

[2020-03-18 10:41] khouloudbelguith commented on #18193
@Pasc00l,

In order to avoid problems during the upgrade, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

You have this error

The browser displays a 500 Internal Server Error.
![image](https://user-images.githubusercontent.com/16067358/76952291-2a191680-690d-11ea-85ba-cc2e6b87e5d4.pn

[2020-03-18 10:48] Webgaict commented on #18195
It is similar to that problem, so do I need to update the product.js, core.js and core.map.js files?
 Tahnks for help

[2020-03-18 10:48] julio899 commented on #18075
well for me, I don't know by what happened this,  but work in my case.

I need remove this file in you folder the prestashop in my case his name is *PrestaShop*
`/var/www/html/PrestaShop/config/xml`
![imagen](https://user-images.githubusercontent.com/2575745/76952947-45236080-68e4-11ea-9fb2-0bd34d72cac8.png)

you can remove the forder `xml` that exist into forder `config`

and then await till gene

[2020-03-18 10:50] khouloudbelguith commented on #18195
@Webgaict, you need to make all these changes: https://github.com/PrestaShop/PrestaShop/pull/17457/files
Or you can make an upgrade to PS1.7.6.4.
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separ

[2020-03-18 10:53] Webgaict commented on #18195
I will change the files, but where can I find the _core folder?

Thanks!

[2020-03-18 10:58] colinegin commented on #18030
I can try to reproduce it, but what you can try is use a predefined message and then copy paste it a few times, and it this case you should be able to add more than 600 characters. Otherwise, by just writing text, indeed you are blocked when reaching the max limit.

[2020-03-18 11:14] MatShir commented on #17968
To be confirmed, but there is already a minimum check, you can add negative
values. It just makes weird behavior on the list when the quantity is equal
to 0.

[2020-03-18 11:16] sergicp commented on #18187
Change to PHP 7.2 and solved

Thank¡¡

[2020-03-18 11:16] #18187 closed, assigned to nobody

[2020-03-18 11:18] khouloudbelguith commented on #18187
@sergicp, Great!
Feel free to open a new one when needed.

Thanks!

[2020-03-18 11:23] khouloudbelguith commented on #18075
@julio899, this is a cache issue.
Since it is fixed, I will close the issue the ticket, feel free to open a new one when needed.

Thanks!

[2020-03-18 11:23] #18075 closed, assigned to nobody

[2020-03-18 11:25] ernest98k commented on #16788
Did you fix it?
I have the same issue..

[2020-03-18 11:37] khouloudbelguith commented on #16788
@globox91,

Sorry not yet.
Thanks!

[2020-03-18 11:41] sowbiba commented on #18195
Hi @Webgaict the `_core/js` content are the source files. They are compiled into /themes/core.js and /themes/core.js.map

You need to modify these 2 files.

Search for `.quickview .product-variants .page-product:not(.modal-open) .row .product-variants` and replace it with `.quickview .product-variants, .page-product:not(.modal-open) .row .product-variants` (with the comma)

Don't hesitate if you h

[2020-03-18 11:43] khouloudbelguith commented on #18195
@sowbiba, thanks for your feedback.
@Webgaict,
Your ticket is a duplicate of #17437
So, I close it.
Thanks!

[2020-03-18 11:43] #18195 closed, assigned to nobody

[2020-03-18 11:43] khouloudbelguith commented on #18195
Duplicate of #17437

[2020-03-18 11:44] thbl commented on #16555
+1 @khouloudbelguith any new on this ?

[2020-03-18 11:47] khouloudbelguith commented on #16555
@PrestaShop/prestashop-core-developers friendly reminder :)

[2020-03-18 11:47] thbl commented on #14968
Is it possible to export ALL the traslation keys ? @eternoendless @khouloudbelguith

[2020-03-18 12:32] zuk3975 commented on #18020
being fixed in https://github.com/PrestaShop/PrestaShop/pull/17348

[2020-03-18 12:39] marlon8511 commented on #18151
Hello @khouloudbelguith
The first point is not the same.
What happens is:  Product sorting (by position)  is not the same than in the **main category** when ps_facetedsearch module is **enable**

[2020-03-18 12:42] Pasc00l commented on #18193
Hello,

The debug mode is already activated and I have access to the dashboard.

[2020-03-18 12:58] khouloudbelguith commented on #18151
@marlon8511, as discussed previously, I cannot reproduce the issue.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-18 13:00] khouloudbelguith commented on #18193
@Pasc00l, could you please try to re-install the `autoupgrade` module with removing the folder, clear cache manually by deleting all the folder into var/cache (prod & dev), check and feedback.

Thanks!

[2020-03-18 13:11] khouloudbelguith commented on #18194
Hi @ArnasL,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
[Untitled_ Mar 18, 2020 2_07 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4349089/Untitled_.Mar.18.2020.2_07.PM.webm.zip)
It is a server issue, it could be that your server is not powerful enough.

Thanks to check with your host and feedback.

[2020-03-18 13:25] khouloudbelguith opened #18199 "BO - New order page - an exception is displayed when we double click on the "Add to cart" button"
#### Describe the bug

In the BO => New order page (migrated), an exception is displayed when we double click on the "Add to cart" button.
![image](https://user-images.githubusercontent.com/16067358/76964515-26908a00-6923-11ea-8dcb-99bce0769a95.png)

#### Expected behavior

The quantity of the product must be increased and no exception displayed.
We can click on the "Add to cart" button multiple t

[2020-03-18 13:58] arouiadib commented on #18031
@jolelievre , yes you are right. it is the quantity field (didn't read your comment before pushing PR :) )

[2020-03-18 14:03] arouiadib commented on #18030
I agree with the fact that it is not always reproducible and that you need copy-paste to see the error
![image](https://user-images.githubusercontent.com/23559010/76968714-a3befd80-6929-11ea-9379-f3802ec9f77a.png)

[2020-03-18 14:05] colinegin commented on #18030
Thanks for the screenshot @arouiadib ;)

[2020-03-18 14:09] LouiseBonnard commented on #9816
@eternoendless, can you confirm that this should be solved in 1.7.8 with PR #18082?

[2020-03-18 14:16] Progi1984 commented on #18058
Fixed by #18091

[2020-03-18 14:16] #18058 closed, assigned to matks

[2020-03-18 14:22] jolelievre commented on #18031
OK, I wait for a confirmation rom @colinegin But if the problem comes from quantity, then this issue is a duplicate And a PR has already been proposed that fixes the validation server side rather than on front which is more robust regarding our domain rules

[2020-03-18 14:39] Progi1984 commented on #17970
Fixed by #17959

[2020-03-18 14:39] #17970 closed, assigned to matks

[2020-03-18 14:43] arouiadib commented on #18031
I totally agree with you that we should never rely on front-end validation alone. Server-side first. Really thank you for your PR because I was struggling to do find a the way to do it server side and now I am learning from your code).

[2020-03-18 14:45] colinegin commented on #18031
Indeed, my bad I used the wrong word. I did mean "quantity".
This is related to #17968 but this is a new issue to be added to this EPIC, as the problem is not that you try to edit the quantity with 0, but try to edit the quantity field with letters or symbols.

[2020-03-18 14:50] marionf commented on #17717
@SD1982 Could you recheck on your side because I still have the issue
Thanks :)

[2020-03-18 14:52] khouloudbelguith commented on #18014
Hi,

I cannot reproduce the issue with 1.7.7.x branch and the Product Comments v4.0.1 anymore.
[Untitled_ Mar 18, 2020 3_51 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4349604/Untitled_.Mar.18.2020.3_51.PM.webm.zip)
I will close the issue.

Thanks!

[2020-03-18 15:09] TristanLDD commented on #18105
For more consistency I say we replace the current page on every link of the order details page (and leave the choice to the user to use the right click)
But for the customer link in the order listing, I'd like to open it in a new tab so the merchant doesn't loose the pagination / position of the line he clicked on.

[2020-03-18 15:10] khouloudbelguith commented on #18014
Hi,

I just re-opened the issue.
As discussed with @atomiix.
The count is not updated because the date is not updated (we have an old date for example)
![image](https://user-images.githubusercontent.com/16067358/76975321-ae31c500-6932-11ea-843c-c7168ddc3ed2.png)
To see the correct number => we should update the date.

Comparing the "Notifications" section => is not related to the date => it always

[2020-03-18 15:21] marlon8511 commented on #18151
@khouloudbelguith
I saw this video that you sent  before in this case `[#16130](https://github.com/PrestaShop/PrestaShop/issues/16130)`
https://drive.google.com/file/d/1cQjMHMS7gb1E1JOLQDBJb_3i68kAEOCk/view

You can try to change the position of 1 product (could be "mountain fox notebook") of the subcategory (stationary) to see what happens

I think that way you could reproduce the issue.
Thanks f

[2020-03-18 15:22] ArnasL commented on #18194
Strange thing now it working and I don't even know what has been changed :D ..

[2020-03-18 15:27] khouloudbelguith commented on #18194
@ArnasL, Great!
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-18 15:27] #18194 closed, assigned to nobody

[2020-03-18 15:52] MatShir opened #18203 "Add a warning when registering a product activated at €0"
#### Is your feature request related to a problem?

I can publish an enabled product at 0€ in the Front Office. I can be annoying to handle.

#### Describe the solution you'd like

Add a notification to warn the merchant that he will publish a product at 0€.

[2020-03-18 16:15] khouloudbelguith commented on #18151
@marlon8511, thanks for your feedback.
Following steps that you described, but seems ok also.
I attached a screen record
[Untitled_ Mar 18 2020 5_13 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4350040/Untitled_.Mar.18.2020.5_13.PM.webm.zip)
Thanks to check and feedback.

[2020-03-18 16:45] ShaimyWinda opened #18206 "Steal address"
Hello,

I'd like to know how we can cause this bug : https://github.com/PrestaShop/PrestaShop/security/advisories/GHSA-mhfc-6rhg-fxp3

My site is on version 1.7.6.0

Thanks!

[2020-03-18 16:52] khouloudbelguith commented on #18206
Hi @ShaimyWinda,

You can follow this [commit](https://github.com/PrestaShop/PrestaShop/commit/a4a609b5064661f0b47ab5bc538e1a9cd3dd1069) which fixes the issue.
Find below detailed information about the security fix provided in the version PS1.7.6.4:

- CVE reference: [CVE-2020-5250](https://nvd.nist.gov/vuln/detail/CVE-2020-5250)
- GitHub Security Advisory: [GHSA-mhfc-6rhg-fxp3](https://github.com

[2020-03-18 16:56] ShaimyWinda commented on #18206
Hi @khouloudbelguith ,

Thanks for the answer

I can't make the bug again.
How can I reproduce it?

Thanks !

[2020-03-18 17:08] LouiseBonnard commented on #17430
Hi @PrestaShark, it could be a nice idea to allow color management in the core email templates but we should study where precisely. Can you please confirm that, in 1.5, this feature allowed to color the customer's name and the mention of the store in the email text?

[2020-03-18 17:26] SD1982 commented on #17717
Hello @marionf  checked a second time on my side and as you can see on the screenrecord i don't have the same behaviour than you :
https://drive.google.com/file/d/1_WcRi7NniZfvIcthKycyKvtJtAY02i7t/view?usp=sharing

[2020-03-18 17:30] khouloudbelguith commented on #18206
@ShaimyWinda, sorry but for security reason we will never provide steps to reproduce.

Thanks for your understanding!

[2020-03-18 17:30] #18206 closed, assigned to nobody

[2020-03-18 17:45] marionf commented on #17717
@SD1982
It seems you are not looking the good drop-down, the problem is when you click on the status for a specific order

[2020-03-18 20:37] marlon8511 commented on #18151
Hi thanks
I can see that works well.

I also made a ticket to the developer theme and this was the answer **"It is not theme issue, same happen with classic template, simply becue you set order of products separately for each category, and then you show them all combined in one category so the order is not valid anymore in parent category"**

But in your video works.

I made this video.
[Untitled1

[2020-03-18 22:06] amaurigabriel opened #18209 "Inconsistency in the exibition of products with combinations having minimal quantities"
Hi,

I have a product with two combinations, one of them with minimal_quantity of 25 and the other with minimal_quantity of 1 (check the product [here](https://php72.paradadigital.com.br/acessorios-para-casa/10-25-brown-bear-cushion.html)).

If I set the combination **Cor: Branco**, the quantity input is set to 25, as expected. If I change back to combinaton **Cor: Preto** the input is set to 1. I

[2020-03-19 07:31] Pasc00l commented on #18193
Hello
I did it but as I told I have a mutualized hosting, and thus I have no access to the var folder of the server
The same error occurs

[2020-03-19 07:31] khouloudbelguith commented on #17683
Hi @khalidzuhd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-19 07:31] #17683 closed, assigned to nobody

[2020-03-19 07:48] khouloudbelguith commented on #18193
@Pasc00l,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4353237/phppsinfo.php.zip)

1. Upload the file to the

[2020-03-19 08:00] Progi1984 commented on #13448
#18130 is merged. Remain #18136

[2020-03-19 08:08] Betafer opened #18210 "Ability to manually generate a delivery slip"
In the BO => Order View page => Documents Tab, can we add a button to generate a Delivery slip?
![image](https://user-images.githubusercontent.com/16067358/77408836-9cc83d00-6db8-11ea-99a0-d59b7b045bd4.png)

------------

Add the possibility to create the invoice and the transport document manually regardless of the status of the order.

It often happens that the necessity of the document is neces

[2020-03-19 08:10] SD1982 commented on #17717
@marionf even with the other drop-down as you can see he is displayed on top of the header even when scrolling the page
https://drive.google.com/file/d/1m48wfazvq6Oz-pW8cZ7ydXOxoUMz_ArS/view

[2020-03-19 08:16] khouloudbelguith commented on #18151
@marlon8511, thanks for your feedback.
I tried to create a similar situation
1.
![image](https://user-images.githubusercontent.com/16067358/77045647-ee8c5400-69c1-11ea-8328-055984ac2239.png)
2.
![image](https://user-images.githubusercontent.com/16067358/77045721-12e83080-69c2-11ea-8935-a910a5f7e5ef.png)
3. In the FO => ok
![image](https://user-images.githubusercontent.com/16067358/77045786-2e533b8

[2020-03-19 08:16] #18151 closed, assigned to nobody

[2020-03-19 08:33] khouloudbelguith commented on #18210
Hi @Betafer,

In the BO => Order details page => Click on the Documents Tab => so you can generate an invoice manually
![image](https://user-images.githubusercontent.com/16067358/77047113-825f1f80-69c4-11ea-9446-373e6dfca6ab.png)

Thanks to check and feedback.

[2020-03-19 08:41] Betafer commented on #18210
Hello, only invoice and not always. delivery slip instead it can never be created, if the order status does not provide for it.
<img width="1010" alt="Schermata 2020-03-19 alle 09 39 15" src="https://user-images.githubusercontent.com/5024055/77047745-922b3380-69c5-11ea-9e7e-3d5168e69761.png">

[2020-03-19 08:41] Betafer commented on #18210
as you can see In the image i cannot generate invoice

[2020-03-19 08:47] marionf commented on #17717
@SD1982 it's not with all orders, please see the video below

https://drive.google.com/file/d/1-LYxdLLRAXxzXastAloSbxVEHqWxWFqP/view?usp=sharing

[2020-03-19 09:12] ghost opened #18211 "Excluding products from categories in the discount code does not work"
Hi,
PS 1.7.6.4
PHP 7.2

1) Make discount code SALE
2) Exclude Category One from disctount
3) Add **Product One** from **Category One** to the cart
4) Add Product Two from Category Two to the cart
5) Apply SALE code
6) Code is applied to both products but should not be applied to the Product One from Category One that was excluded from the discount exception.

Thanks!

[2020-03-19 09:20] colinegin commented on #18072
I reopen this issue as we have to fix it for 1765.

[2020-03-19 09:26] Tim74330 opened #18212 "Error while update from 1.7.5.1 to 1.7.6.4 with 1-Click module"
Hello,

I tried to update a shop running version 1.7.5.1 with the 1-Click module.
Files are updated correctly, but when it comes to the db update an error occurs

[INTERNAL] /homepages/20/d650581117/htdocs/boutique/admin817horzu1/autoupgrade/latest/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php line 55 - Error: Call to a member function get() on null #0 [internal function

[2020-03-19 09:28] khouloudbelguith commented on #18212
Hi @Tim74330,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade y

[2020-03-19 09:31] Maofree opened #18213 "Missing languages selector over each textarea when there are only one language active"
hi
today I've found a new bug
The languages selector over each textarea, present in items like manufacturers or categories or cms is missing when there are installed more than one languages but there is only one language enable.
instead for the selection of the text input fields are present
bye

**Screenshots**

![1](https://user-images.githubusercontent.com/653230/77051680-fd780400-69cb-11ea-944f

[2020-03-19 09:31] SD1982 commented on #17717
@marionf  Indeed it seems that when I carried out my tests I did not have enough orders in my table. And so indeed with more orders in the table the problem is clearly still visible.
https://drive.google.com/file/d/1lJdcuWh4aNatD7aGRsmKhjFGjmKqv3OF/view

[2020-03-19 09:40] marionf commented on #17717
Thank you @SD1982 :+1:
As it's not completely fixed, I put it back in to do @NeOMakinG

[2020-03-19 09:41] Tim74330 commented on #18212
Hi @khouloudbelguith ,

I have downgrade the php version on 7.2, But i have the same error.

Do you have an idea please ?

[2020-03-19 09:42] khouloudbelguith commented on #18210
@Betafer,

What is the exact status of this order?
Could you please provide me a screenshot from the BO => Order Settings => Statuses Tab => Your exact status
![image](https://user-images.githubusercontent.com/16067358/77053240-5779c900-69ce-11ea-8a48-222e972215b7.png)

Thanks!

[2020-03-19 09:58] khouloudbelguith commented on #18213
Hi @maofree,

Your ticket is a duplicate of #16626
So, I close it.
Thanks!

[2020-03-19 09:58] #18213 closed, assigned to nobody

[2020-03-19 09:58] khouloudbelguith commented on #18213
Duplicate of #16626

[2020-03-19 10:02] khouloudbelguith commented on #18212
@Tim74330, after downgrading the PHP version, Did you make a rollback for your backup and check the upgrade again?

Thanks!

[2020-03-19 10:06] Tim74330 commented on #18212
Yes, i have restore all files and database, and i use the 1clicupgrade again.
The result is the same..

[2020-03-19 10:12] khouloudbelguith commented on #18212
@Tim74330, what is the exact version of the 1-click upgrade did you use?

Thanks!

[2020-03-19 10:16] khouloudbelguith commented on #18211
Hi @PrestaShark,

Thanks for your report.
You should apply a discount to Selected product(s).
![image](https://user-images.githubusercontent.com/16067358/77056651-015b5480-69d3-11ea-9639-13e4b4a264d2.png)

Thanks to check & feedback.

[2020-03-19 10:18] Betafer commented on #18211
<img width="1003" alt="Schermata 2020-03-19 alle 11 18 39" src="https://user-images.githubusercontent.com/5024055/77056899-6b73f980-69d3-11ea-8d3e-c383e7ac9048.png">

[2020-03-19 10:19] Betafer commented on #18210
<img width="1003" alt="Schermata 2020-03-19 alle 11 18 39" src="https://user-images.githubusercontent.com/5024055/77056951-7e86c980-69d3-11ea-9c85-9d22071e7b33.png">

[2020-03-19 10:20] Betafer commented on #18210
<img width="1652" alt="Schermata 2020-03-19 alle 11 20 08" src="https://user-images.githubusercontent.com/5024055/77057025-9c542e80-69d3-11ea-83d9-d9e616b8a8c9.png">

[2020-03-19 10:21] jolelievre commented on #18031
Ok, but it's actually the same problem of validation of data, so it's already been managed in this PR https://github.com/PrestaShop/PrestaShop/pull/18168

[2020-03-19 10:27] PrestaShark commented on #18211
:O wow sorry for my ignorance!

[2020-03-19 10:28] Pasc00l commented on #18193
I have installed the file: http://www.novomeo.fr/shop/phppsinfo.php

![image](https://user-images.githubusercontent.com/8983725/77057787-c6f2b700-69d4-11ea-824d-87a2c99ed1f7.png)

[2020-03-19 10:29] khouloudbelguith commented on #18211
@PrestaShark, feel free to open a new one when needed.

Thanks!

[2020-03-19 10:30] SD1982 opened #18215 "Shipping method choice is displayed when a cart contains a pack of virtuals products"
#### Describe the bug

If we add only virtual product to the cart and checkout the "shipping method choice" is not displayed that's the good behaviour . But if the virtuals products are in a pack the "shipping method choice" is displayed

#### Expected behavior

As the pack contains only virtual products therefore the cart contains only virtual products and the choice of delivery method should not

[2020-03-19 10:31] PrestaShark commented on #18211
But... when Product One is also in Category One and Category Three (not in exception) then discount apply.

[2020-03-19 10:31] khouloudbelguith commented on #18210
@Betafer, so in this case (payment accepted), your invoice is created automatically? is it?

Thanks!

[2020-03-19 10:32] Tim74330 commented on #18212
It's the V4.6.0
On the backoffice, it is indicated that it is up to date, but I see that the last version on the prestashop site is the v4.10.1 !

I imagine that it should be updated?

Thanks.

[2020-03-19 10:32] Betafer commented on #18210
No

[2020-03-19 10:33] Betafer commented on #18210
i have to set shipped to see the invoice

[2020-03-19 10:37] khouloudbelguith commented on #18212
@Tim74330, yes!
It is an old version => you should update your version to 4.10.1.
Issue reported here:https://github.com/PrestaShop/PrestaShop/issues/15194

Thanks!

[2020-03-19 10:39] khouloudbelguith commented on #18210
@Betafer, you need to select this option "Attach invoice PDF to email."
![image](https://user-images.githubusercontent.com/16067358/77058747-23a2a180-69d6-11ea-970c-aa5ed8ae6f03.png)

Thanks!

[2020-03-19 10:40] Betafer commented on #18210
I don't want pdf attached to emails ...

[2020-03-19 10:44] matks commented on #17935
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18202

[2020-03-19 10:44] #17935 closed, assigned to atomiix

[2020-03-19 10:56] khouloudbelguith opened #18218 "BO - Filter doesn't work in the Categories page and the Employees - an exception displayed"
#### Describe the bug

In the BO => Catalog => Categories page & the BO => Team => Employees page,
when we try to search by any filter => an exception is displayed

1. In the BO => Catalog => Categories page
![image](https://user-images.githubusercontent.com/16067358/77060157-6c5b5a00-69d8-11ea-9a48-0b7ead70ec0c.png)
2. In the BO => Team => Employees page
![image](https://user-images.githubusercon

[2020-03-19 10:57] khouloudbelguith commented on #18218
Ping @nesrineabdmouleh

[2020-03-19 10:59] Tim74330 commented on #18212
It is working now !!

I'm sorry for the inconvenience, I should have checked this before !

Thanks you so much.

[2020-03-19 10:59] #18212 closed, assigned to nobody

[2020-03-19 11:00] SimonGrn commented on #18218
Might be related to https://github.com/PrestaShop/PrestaShop/pull/18130 ?

[2020-03-19 11:01] matks commented on #11125
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17203

[2020-03-19 11:01] #11125 closed, assigned to matks

[2020-03-19 11:05] khouloudbelguith commented on #18212
@Tim74330, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2020-03-19 11:09] khouloudbelguith commented on #18193
@Pasc00l, the `mod_rewrite` is not enabled in your case?
It is required.
![image](https://user-images.githubusercontent.com/16067358/77061401-75e5c180-69da-11ea-8cd6-fe336fb598d1.png)

Thanks to check and feedback.

[2020-03-19 11:18] khouloudbelguith commented on #18209
Hi @amaurigabriel,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
[Untitled_ Mar 19, 2020 12_17 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4354131/Untitled_.Mar.19.2020.12_17.PM.webm.zip)
But I think, it is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/14744

Thanks to check & feedback.

[2020-03-19 11:29] khouloudbelguith commented on #18215
Hi @SD1982,

I have the same issue with PS1.7.5.2 and PS1.7.6.4.
Thanks!

[2020-03-19 11:49] khouloudbelguith commented on #18210
@Betafer, I tried with the same settings in your case and all the documents are well generated.
[Untitled_ Mar 19, 2020 12_48 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4354248/Untitled_.Mar.19.2020.12_48.PM.webm.zip)

Thanks!

[2020-03-19 12:19] zuk3975 commented on #18030
Couldn't reproduce it nor by writing manually nor by pasting, however I noticed the following inconsistency:
Predefined message (when editing in sell/customer-service/order-messages) allows to fill up to 1200 characters, but here in order message its limited to 600. We must equalize these numbers IMO., someone just needs to decide to leave 600 or 1200

[2020-03-19 12:34] clotaire202 commented on #18122
Thank you @Hlavtox !

[2020-03-19 13:19] khouloudbelguith commented on #18211
@PrestaShark, it is normal behavior, the product belongs to a selected category of product's restriction => so the cart rule is applied.
But we have a related issue added to our bug roadmap.
https://github.com/PrestaShop/PrestaShop/issues/15525

Thanks!!

[2020-03-19 13:41] khouloudbelguith commented on #18211
@PrestaShark, can we close the issue?

Thanks!

[2020-03-19 13:44] Pasc00l commented on #18193
I have checked with OVH and the mod_rewrite is activated in Apache for my shared hosting
https://apache.cloudweb-infos.hosting.ovh.net/

Maybe is it a question of htaccess file ?
For info my prestashop is installed into /www/novomeo/shop

[2020-03-19 13:57] alexweissweiss opened #18222 "I need to print the shopping cart through the front office as a "budget""
#### Describe the bug

I need your help to get a way for the customer to be able to print his cart as it was a budget,

#### Expected behavior

I would just like a "print" button and then the customer could save it on their computer, in our store we work a lot with it, and ecommerce would help a lot.

#### Steps to Reproduce

Steps to reproduce the behavior:

Enter the store,
Choose some products

[2020-03-19 13:57] khouloudbelguith commented on #18193
@Pasc00l, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-03-19 14:03] alexweissweiss commented on #18222
https://www.shoppingdoestudante.com/

[2020-03-19 14:03] Pasc00l commented on #18193
this file is present but empty

[2020-03-19 14:03] khouloudbelguith commented on #18222
Hi @alexweissweiss,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-03-19 14:03] #18222 closed, assigned to nobody

[2020-03-19 14:06] khouloudbelguith commented on #18193
@Pasc00l, thanks to provide me file logs into the folder `/Project_Folder/var/logs/`.

Thanks!

[2020-03-19 14:17] Maofree opened #18223 "Increase the maximum number of characters for predefined messages"
hi
at this momento it is not possible to write predefined messages over 1200 characters
in the ps_order_message_lang the "message"  field is a text type, so it is possible to increase that valure

is it possible to increase to 5000 characters?

thanks

**Screenshots**

![1](https://user-images.githubusercontent.com/653230/77076623-5bb8dd00-69f4-11ea-9b13-08e8a825caa2.png)

#### Additional informat

[2020-03-19 14:23] #18211 closed, assigned to nobody

[2020-03-19 14:37] colinegin commented on #18215
Thanks for your report @SD1982 ! Yes you're right @khouloudbelguith we should remove it from 177 kanban. Thanks !

[2020-03-19 14:41] khouloudbelguith commented on #18223
Hi @maofree,

You need to increase this value in this line: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/order/OrderMessage.php#L49
Thanks to check & feedback.

[2020-03-19 14:49] jonasburneika opened #18225 "ApplyProductCalculation and ProductlazyArray variable mismatch"
If you want to display product availability in the cart, and show availability_message, it returns the wrong text. Like it always has the in-stock product, it doesn't show the message for available_later text. My client had products where the stock was 0. But in the cart, it displays an "in stock" label.

I tried it in PS 1.7.6.2 version.
Long story short :D
src/Adapter/Presenter/Product/ProductLa

[2020-03-19 14:51] colinegin commented on #18030
After more investigation, let me be more precise about how to reproduce this bug :
- copy paste a few times a preset message - indeed the block seems to be blocking the number of characters
- save
- check in the header, you have the error message as on @arouiadib's screenshot.

About your 2nd comment, you're right @zuk3975, let's be more consistent. I would recommend to accept 600 characters every

[2020-03-19 14:53] Pasc00l commented on #18193
[log-errors-18-03-2020.log.gz.txt](https://github.com/PrestaShop/PrestaShop/files/4355190/log-errors-18-03-2020.log.gz.txt)
[spacedogsoftware.com-18-03-2020.log.gz.txt](https://github.com/PrestaShop/PrestaShop/files/4355192/spacedogsoftware.com-18-03-2020.log.gz.txt)

[2020-03-19 14:54] jonasburneika commented on #18225
My pull request: https://github.com/PrestaShop/PrestaShop/pull/18226

[2020-03-19 15:08] colinegin commented on #18031
Amazing 💃

[2020-03-19 15:08] khouloudbelguith commented on #18225
Hi @jonasburneika,

I think your issue is related to this improvement: https://github.com/PrestaShop/PrestaShop/issues/14572
Is it?

I have an exception in the FO
![image](https://user-images.githubusercontent.com/16067358/77082034-d3d6d100-69fb-11ea-8664-44bafd055331.png)

Thanks to check and feedback.

[2020-03-19 15:19] maofree commented on #18223
hi
thanks for the suggestion
is it possible to increase that value by default? or add a field in the admin panel to edit it?

[2020-03-19 15:21] khouloudbelguith commented on #18193
@Pasc00l, are there any PHP caching modules enabled in your case?
You have those errors:
`[Wed Mar 18 22:59:18 2020] [error] [client 207.46.13.128] [host novomeo.be] AH01630: client denied by server configuration: /homez.742/spacedog/www/novomeo/.htaccess`
=>This is a permission issue on your server.

`[Wed Mar 18 13:47:20 2020] [error] [client 95.182.150.166] [host www.novomeo.fr] End of script o

[2020-03-19 15:24] khouloudbelguith commented on #18223
@maofree, thanks for the suggestion.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
In the BO => Order Settings page => can we add an option `Max size of Order Message`?
It could be similar to the `Max size of short description` in the BO => Product Settings page.
![image](https://user-images.githubusercontent.com/16067358/77083622-1a2d2f80-69fe-11ea-9600-8d7d74b1a

[2020-03-19 15:29] jonasburneika commented on #18225
@khouloudbelguith yes this is relevent to your sugested issue. And sorry I mean to add this code:

`{block name='product_availability'}
                    {if $product.show_availability && $product.availability_message}
                        <span id="product-availability"
                              class="badge {if $product.availability == 'available'} {if $product.quantity <= 0  && $produc

[2020-03-19 15:30] pthoelken commented on #9599
It's not seems to be solved? I've use 1.7.6.4 and the problem is still there. So when I'm change the template, the changes are not saved. After a refresh of this page, the english text is already in the body.

![image](https://user-images.githubusercontent.com/12643853/77084161-dedf3080-69fe-11ea-9614-eb9f8d6ac692.png)

Any informations in this case available?

[2020-03-19 16:13] PululuK opened #18229 "[Checkout][FO] Fatal error when module hookDisplayPaymentEU returns another thing instead of array"
#### Describe the bug

Fatal error when module `hookDisplayPaymentEU` returns another thing instead of array

#### Expected behavior

Avoid fatal error when module `hookDisplayPaymentEU` returns another thing instead of array

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to checkout page in FO
2. See this is Ok !
3. Now ... install this module  : [pululuk.zip](https://drive.goo

[2020-03-19 16:19] Pasc00l commented on #18193
I don't know if it's a time out, the error 500 appears directly after the click.
Here is the htaccess file of the shop folder ,do you need the htaccess of the upper folders ?

# ~~start~~ Do not remove this comment, Prestashop will keep automatically the code outside this comment when .htaccess will be generated again
# .htaccess automaticaly generated by PrestaShop e-commerce open-source solution

[2020-03-19 16:21] khouloudbelguith commented on #18225
@jonasburneika, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2
In the BO => The product is out stock with Allow orders
![image](https://user-images.githubusercontent.com/16067358/77087876-efde7080-6a03-11ea-9c54-385d5077bc87.png)

In the FO => Product details page => OK
![image](https://user-images.githubusercontent.com/16067358/77088987-85c6cb00-6a05

[2020-03-19 16:25] khouloudbelguith commented on #18193
@Pasc00l, you are using Apache, so the `.htaccess` file is generated automatically by PrestaShop.
You can regenerate the file `.htaccess` following these steps:

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks!

[2020-03-19 16:26] khouloudbelguith commented on #18193
@Pasc00l,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Thanks!

[2020-03-19 16:37] ilyasovivan commented on #11588
So, how many providers support this format? Very few. In the future there will be more. But at the moment this is not very common.
But I don’t mind that developers add support for this format to use it in the future.

[2020-03-19 16:51] khouloudbelguith commented on #18229
Hi @PululuK,

I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/77092484-26b78500-6a0a-11ea-91d2-86de71c60b1f.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-03-19 16:59] jolelievre commented on #17963
Closed by https://github.com/PrestaShop/PrestaShop/pull/18168

[2020-03-19 16:59] #17963 closed, assigned to jolelievre

[2020-03-19 17:00] jolelievre commented on #17967
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18168

[2020-03-19 17:00] #17967 closed, assigned to jolelievre

[2020-03-19 17:00] #17968 closed, assigned to nobody

[2020-03-19 17:01] jolelievre commented on #12174
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18023

[2020-03-19 17:01] #12174 closed, assigned to jolelievre

[2020-03-19 18:11] monix12 commented on #17896
I have the same problem. How to solve it?

[2020-03-19 18:27] monix12 opened #18232 "1 click uprgrade - PHP's max_execution_time setting error"
I would like to update my prestashop 1.7.6.3 store to the latest version 1.7.6.4. However, an error occurs (PHP's max_execution_time setting has a high value or is disabled entirely (current value: 300 seconds) )

How can I change it? Where should it be done?

* PrestaShop version: 1.7.6.3
* PHP version:  7.1.33

[2020-03-19 19:57] gwyneblaidd commented on #18155
@khouloudbelguith
installing clean  PS to show how to reproduce properly, will note in next days

[2020-03-19 20:08] thbl opened #18233 "Import of .XLF translation"
I see there is a option to export translation as .xlf in BO
But there is no way to import an translation ?

[2020-03-20 07:45] Pasc00l commented on #18193
Hello, I did it the htaccess has been regenerated but it does not solve the issue

[2020-03-20 08:07] Betafer commented on #17908
Hello, is this a workaround for fix this ?

[2020-03-20 08:17] Progi1984 commented on #17908
@Betafer A PR #17920 has been created but need to be tested by our QA Team.

[2020-03-20 10:08] colinegin commented on #17032
Hello @khouloudbelguith the bug is on develop or on the 1.7.7.x branch ?

[2020-03-20 10:09] matks commented on #11588
The numbers might be low but one of the core values of PrestaShop is to be usable worldwide. This is why we put so much energy into features such as Right-To-Left display, localization packs, large currencies management. The PrestaShop company was created with the following idea : "Allowing anybody in the world to open its shop online".

So if we can find a nice way* to support these formats, we'l

[2020-03-20 10:22] MatShir opened #18236 "[ORDER PAGE] Display correction - 2"
New front-end enhancements to improve the order page
## Part 2

- [x] In the mobile view, the product block is on the bottom of the page, below the message block.

To prevent merchants from scrolling down the page to check their order, we should move up the product block below the customer block.

- [x] The currency selector in the payment block takes up the entire width of the column which reduce

[2020-03-20 10:28] ets-soft commented on #18171
hi @khouloudbelguith
Thanks for checking, I just review the problem, seem it's ok when updating product info but the cache issue is happening on other area such as module link list this: https://prnt.sc/rjjfs3
Can you follow:
1. enable your memcached
2. Design > Link widget
3. Try to edit some  link (title, URL...) then save
4. Go to Front office and review the links. You will notice there is no c

[2020-03-20 10:31] ets-soft commented on #18170
That's ok. you can closed this.
thanks

[2020-03-20 10:44] SD1982 opened #18237 "Possibility to add multiple time the same product in an order view page"
#### Describe the bug

On a order view it is possible to add multiple time the same product and it's not cumulated to the first added a new (same) product is added

#### Expected behavior

When adding again a product in a order the only the quantity should be updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => sell => orders
2. Select any order and click on view
3. O

[2020-03-20 11:00] SD1982 opened #18238 "Possibility to add a quantity greater than the quantity in stock"
#### Describe the bug

In an order view when adding another product to the order it is possible to set a quantity greater than the quantity in stock for this product

#### Expected behavior

it should not be possible to add more than the quantity in stock

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => orders => orders
2. Select an order an click on view
3. On the order

[2020-03-20 11:17] michaelKaefer opened #18240 "Docs do not mention since which version modules can use modern routing"
Docs do not mention since which PrestaShop version modules can use modern routing like this:

[code]

[2020-03-20 11:22] PululuK commented on #18240
Hi @michaelKaefer

![image](https://user-images.githubusercontent.com/16455155/77159300-5f586c80-6aa5-11ea-8844-77d163fb8de3.png)

[2020-03-20 11:47] TomanDesign commented on #17753
At this moment I have added 315 line:
`'order_returns' => array('description' => 'The Order returns', 'class' => 'OrderReturn'),`
after:
`'order_payments' => array('description' => 'The Order payments', 'class' => 'OrderPayment'),`
in \classes\webservice\WebserviceRequest.php

Now I can get list of returns, but I can't get product list.

[2020-03-20 13:18] Hlavtox opened #18241 "[IMPROVEMENT] Possibility to give gift with every product, that fits the voucher"
#### Is your feature request related to a problem?
We came across this situation last week at our store. We wanted to make a promotion and give some gifts to every product of some type bought. For example, a free soundbar to every TV.

So, I made a cart rule, I limited it to specific products.
You add it to cart, you get the gift.

**BUT, you add a second TV, you don't get another piece of the gif

[2020-03-20 13:27] NeOMakinG commented on #17717
Hey @marionf on my screen, the dropdown stay under his parent item, but you can scroll to the parent item to see it entirely, is that behavior wrong ? It looks like its the normal behavior (getting it sticky to the screen makes it impossible to be shown entirly in some cases)

![image](https://user-images.githubusercontent.com/14963751/77167741-e3ffb680-6ab6-11ea-963d-afb4e3dff6df.png)

[2020-03-20 13:51] marionf commented on #17717
Hey @NeOMakinG

Yes, it seems the good behavior, but did you see the screenrecord ? https://drive.google.com/file/d/1lJdcuWh4aNatD7aGRsmKhjFGjmKqv3OF/view

The problem is when there are a lot of orders, if you scroll down and then click on the status for an order in the middle of the list

[2020-03-20 14:09] MatShir commented on #18241
Hi @Hlavtox,
One workaround you could apply:
- Create a non-displayed category called TV for example
- Go in cart rule, select in Condition, the category TV in product selection
- Then apply free gifts in action.
- Add the product you want to have a gift with to the category TV

Try it out, tell what you think :)

Thanks for your report anyway. The workaroud is not the best solution. Your feature

[2020-03-20 14:19] Hlavtox commented on #18241
@MatShir Oh, maybe on the second read, I expressed myself badly. It adds the gift to the cart just fine. But it always applies the cart rule just once, understand?

Only workaround would be to have one cart rule for each product. And even then, it wouldn't add a second piece if you added 2 pieces of the same product to cart.

[2020-03-20 14:45] jolelievre commented on #18238
@SD1982 so actually the behavor you described is normal Because the product you selected is allowed to be ordered out of stock
I you try the same action with a Mug or example you'll see that the add button is disabled

[2020-03-20 14:45] jolelievre commented on #18238
I still created a PR to improve the check server side and use a more appropriate exception, but this issue can be closed anyway

[2020-03-20 14:48] MatShir commented on #18241
Hi @Hlavtox,
Actually, I'm the one who read too fast, my apologies. Except for pack products, indeed you can't add a gift for each product, it is only one per cart.

[2020-03-20 14:52] Hlavtox commented on #18241
@MatShir Like, you just write it to the short description, but it's necessary to have the gift in the order. For organizational purposes, reducing stock, invoicing etc.

Our temporary solution:
NOT **Free soundbar to every TV** BUT **Order any TV and get a soundbar for free** 😄

[2020-03-20 15:05] matks commented on #15582
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18214/files

[2020-03-20 15:05] #15582 closed, assigned to nobody

[2020-03-20 15:06] matks commented on #14497
Fixed by the wonderful QA team in 1.7.7

Congratulations @boubkerbribri @nesrineabdmouleh @SimonGrn

[2020-03-20 15:06] #14497 closed, assigned to nobody

[2020-03-20 15:06] presteus opened #18247 "Unable to clone git repository"
#### Describe the bug

Unable to clone prestashop repository.

#### Expected behavior

Cloning repository.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. git clone -b develop --depth 1 https://github.com/PrestaShop/PrestaShop.git

**Results**

[code]

#### Additional information

* Debian buster
* PHP version: 7.3-fpm
* PrestaShop version: git develop version

[2020-03-20 15:19] JjPrus commented on #12334
Hi man!
Can you manage to achive working version?
I have exacly the same problem and looking for some help  :)

[2020-03-20 15:23] #18238 closed, assigned to jolelievre

[2020-03-20 15:37] presteus commented on #18247
I solved the problem by setting git config **ignorecase** property to **true**
`git config --global core.ignorecase true`

I think the documentation should reflect this for case-sensitive systems.

[2020-03-20 15:47] matks commented on #18247
Thanks for telling us. The documentation is an open source repository, do you feel like adding your statement into it ? (see https://github.com/PrestaShop/docs)

Else I'll do it, but this is an opportunity to become a contributor 😉

[2020-03-20 16:08] presteus commented on #18247
PR send :)
https://github.com/PrestaShop/docs/pull/491

[2020-03-20 16:27] boubkerbribri opened #18248 "[Orders Page] - Wrong number of orders displayed with filter 'New Client'"
#### Describe the bug

When filtering by column 'New Client' in orders page, the number of orders displayed in `h3.card-header-title` is wrong (it displays the total number of orders)

#### Expected behavior

The correct number of orders displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO > Orders' page
2. Filter by column 'New client' Value 'Yes'
4. See error
Expect

[2020-03-20 16:27] boubkerbribri commented on #18248
ping @khouloudbelguith

[2020-03-20 16:58] MatShir commented on #18030
Hi @zuk3975 after discussion with @colinegin:

[2020-03-20 17:38] thbl opened #18249 "Doc for theme translation 1.7"
Missing doc on how to translate theme using the xlf files.
How do you add a theme translation with xlf ?
How do you import / update theme translation with xlf ?

[2020-03-20 17:41] thbl commented on #14968
+1

[2020-03-20 17:47] rmasq opened #18251 "Error updating Prestashop 1.7.5.2 to 1.7.6.4"
Hello,
I'm trying to update prestashop but when I update, at the end of the proccess with 1-Click Upgrade it show this error:

[INTERNAL] /var/www/vhosts/comercialpeluquerias.com/httpdocs/src/PrestaShopBundle/PrestaShopBundle.php line 64 - Error: Class 'PrestaShopBundle\DependencyInjection\Compiler\OverrideTwigServiceCompilerPass' not found #0 /var/www/vhosts/comercialpeluquerias.com/httpdocs/vend

[2020-03-20 17:58] rmasq commented on #18251
Hello,
I'm trying to update prestashop but when I update, at the end of the proccess with 1-Click Upgrade it show this error:

[INTERNAL] /var/www/vhosts/comercialpeluquerias.com/httpdocs/src/PrestaShopBundle/PrestaShopBundle.php line 64 - Error: Class 'PrestaShopBundle\DependencyInjection\Compiler\OverrideTwigServiceCompilerPass' not found #0 /var/www/vhosts/comercialpeluquerias.com/httpdocs/vend

[2020-03-20 18:43] marcelmiguel commented on #15503
@jcarloscid Please can you detail the fix done?
I have a web page with PS 1.7.6.4 and redsysoficial 3.0.6 and fails not generating the order on Prestashop.

[2020-03-20 20:27] Hlavtox commented on #18251
`Table 'comercial-pelu-new.ps_currency_lang' doesn't exist. `

Does it exist?

[2020-03-21 09:35] OBSEVILLA opened #18252 "PrestaShop 1.7.6.2 - PHP 7.2 - Payment module not displayed on Front office"
#### Describe the bug
Payment module not displayed in the checkout page. PrestaShop 1.7.6.2
They are actived in the bacck office, but impossible to display on the Fo
Migration from 1.6 to 1.7.6.2 without 1-Click upgrade
Everything work fine except this
In the back office, it's impossible to change the Carrier restrictions

#### Expected behavior
It's better with payment module :)

#### Steps to Re

[2020-03-21 17:14] matteolavaggi opened #18255 "Uncaught ReferenceError: jQuery is not defined at jquery.jgrowl.js:4"
#### Describe the bug

On back office when try to save a product the button save become gray after some second. Consolle log:
Uncaught ReferenceError: jQuery is not defined
    at jquery.jgrowl.js:4

When this happen need to restart php or from the same browser is impossible to reach any back office page (some related to php inifinite loop or session).

#### Expected behavior

Explain what you exp

[2020-03-21 17:30] chemocycling commented on #16140
hi
i was consider the same think . when you set ''out of stock'' products to be visible , products with attributes  that are out of stock will be great if have different color in the drop down ,so they can check them and then customers cann put their email for alert when back in stock

thanks

[2020-03-21 19:10] MahefaAbel commented on #10935
@khouloudbelguith , i appreciate that you try give this solution. but i have change the two modifs within http://bit.ly/2zIVejJ, then clear /var/cache/*, but i still have this error
Error found : CData section not finished Use this native module to:Establish a trust relati in country_module_list.xml file.

[2020-03-21 21:26] matks commented on #10935
Did this error happen today ? This XML file is provided by Addons API. There might be a mistake in it, but we need to know the timeslot.

[2020-03-21 23:06] simeon9446 opened #18256 "PrestaShop CMS page dropdown weird display"
Hello,

I installed PrestaShop on localhost. I followed instructions from YouTube tutorial.
Everything seems to be alright except the one thing.
Some of  PrestaShop (1.7.6) CMS dropdowns is bugged and not responsive.
How to fix this?

Image of issue:
![cms-dropdown-bug](https://user-images.githubusercontent.com/27215653/77238481-038f0000-6bd9-11ea-8971-702d50c2598d.png)

[2020-03-22 11:56] Hlavtox opened #18257 "Regenerate "not found" images automatically"
#### What I found

If there is no thumbnail generated for an image in PrestaShop, it will generate the thumbnail automatically on the fly. But, it doesn't do so for "not found images", so there was no image shown in my case.

And second thing, if you go to Appearance > Image settings, go to Thumbnail Regeneration, select image category you want to regenerate, it will not regenerate "not found" ima

[2020-03-22 12:08] PaulLayout commented on #18256
Yes, I have the same problem.
![sin_nombre](https://user-images.githubusercontent.com/62504091/77248985-36b7aa80-6c3e-11ea-8853-ff553aa3aacc.png)
![sin_nombre2](https://user-images.githubusercontent.com/62504091/77248986-37e8d780-6c3e-11ea-84cf-b8f24842c90f.png)

[2020-03-22 13:43] Hlavtox opened #18258 "You cannot translate a string, if there are two simmilar strings with different capital letters"
#### Describe the bug

If there are two strings, with simmilar text, but different cases, you cannot translate them.

If there is
_{l s='more information' d='Shop.Theme.Catalog'}
{l s='More information' d='Shop.Theme.Catalog'}_
in the template, it cannot be translated.

It get's shown in Translations, it seems to translate OK, but after page refresh, the original untranslated string remains.

**Sc

[2020-03-22 17:21] ventybug opened #18260 "The server returned a "500 Internal Server Error"... in v 1.7.6.4..."
Hi,

when in the back office in v 1.7.6.4 I choose     CONFIGURE / settings Shop Parameters / General ... ,  I get the following:

"Oops! An Error Occurred

The server returned a "500 Internal Server Error".

Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused."

Occasionally with other menu it

[2020-03-22 22:50] RSC-SC commented on #10894
Olá, estou com o mesmo erro

[2020-03-23 04:49] ikocunha93 opened #18261 "web Desain"
<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
    </head>
    <body>
    <marquee>By IKO<br>Web Desain</marquee>
    <div class="sonika">
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Username">
        <p>Password</p>
        <input type="Password" name="" placeholder="Enter password">
         <br>
        <br>
         <button onclick="

[2020-03-23 04:52] iko93 commented on #18261
body {
margin:0px;
padding:0px;
font-family:Sans-serif;
background-color:black;
}
.sonika{
    position:absolute;
    top:50px;
    left:55px;
    width:250px;
    height:420px;
    padding:80px 40px;
    box-sizing:border-box;
    background-color:aqua;
    transform:translate{-50%,-50%};
    border:5px solid red;
}
marquee{
    color:red;
}

[2020-03-23 07:09] BudrysLP opened #18262 "Brands issue"
#### Describe the bug

After disabling brand it is removed from products.

So when it will be enabled again products doesn't have it anymore.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

1. Disable brand
2. Brand disapears from products
3. Edit that product and Save changes
5. Enable brand
6. Edited product doesn't have any brand

#### Additional

[2020-03-23 07:38] JBWModules commented on #18260
Please see my answer in the forum, you have an override active causing the issue
https://www.prestashop.com/forums/topic/1017892-the-server-returned-a-500-internal-server-error-in-v-1764/?tab=comments#comment-3210935

[2020-03-23 07:39] JBWModules commented on #18256
Wrong PHP Version - Prestashop 1.7.6 is only compatible to PHP 7.2

[2020-03-23 07:40] khouloudbelguith commented on #17751
Hi @stevearmen,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-23 07:40] #17751 closed, assigned to nobody

[2020-03-23 07:40] JBWModules commented on #18251
Prestashop 1.7.5 is only compatible to PHP 7.2 (thats not causing your issue but will probaly cause others)

[2020-03-23 07:41] khouloudbelguith commented on #17574
Hi @jajarom,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-23 07:41] #17574 closed, assigned to nobody

[2020-03-23 07:42] khouloudbelguith commented on #17768
Hi @ecoguido,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-23 07:42] #17768 closed, assigned to nobody

[2020-03-23 07:42] khouloudbelguith commented on #17770
Hi @caos30,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-23 07:42] #17770 closed, assigned to nobody

[2020-03-23 08:06] khouloudbelguith commented on #18261
Hi @iko93,

Thanks for your report.
What is the exact issue in your case?
Thanks to provide us a clear description of your issue.

Thanks!

[2020-03-23 08:13] khouloudbelguith commented on #18260
Hi @ventybug,

When debug mode is enabled, you have this exception as explained in the [forum](https://www.prestashop.com/forums/topic/1017892-the-server-returned-a-500-internal-server-error-in-v-1764/?tab=comments#comment-3210935).
![image](https://user-images.githubusercontent.com/16067358/77295408-3377f980-6ce6-11ea-916b-9c91bac6dc09.png)
Your issue is not a PrestaShop's core bug but most likel

[2020-03-23 08:13] #18260 closed, assigned to nobody

[2020-03-23 08:19] Theprim0 commented on #12905
This worked for me

[2020-03-23 08:28] rmasq commented on #18251
@Hlavtox Hello,
I have checked it and it doesn't exist in the database. But without this table it works fine in the indicated version.

[2020-03-23 08:31] rmasq commented on #18251
Hello @JBWModules,

Thanks for the warning.   I have already changed it and if I do not receive any more suggestions to my problem I will try to update with this version of php again to see if it works.

[2020-03-23 08:38] Progi1984 commented on #17978
Fixed by #18124

[2020-03-23 08:38] #17978 closed, assigned to jolelievre

[2020-03-23 08:44] khouloudbelguith opened #18263 "BO - Order page - an exception is displayed after filter with a customer"
#### Describe the bug

In the BO => Order page => (migrated), an exception is displayed when we filter by a customer

#### Expected behavior

It should be ok

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders page
2. Filter by a customer
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/77297229-42ac7680-6ce9-11ea-81e6-f86fe69e

[2020-03-23 08:45] khouloudbelguith commented on #18263
ping @boubkerbribri

[2020-03-23 08:53] khouloudbelguith commented on #18248
Hi!

Same issue with the branch 1.7.7.x.
It is a regression.

Thanks!

[2020-03-23 08:54] adi5497 opened #18264 "1-Click Upgrade error to update database because of max_execution_time"
Hi, I have beed trying to update PrestaShop to 1.7.6.4 but in the end of proccess it said error to upgrade DB because of max_execution_time. I see that PS has been upgraded but DB not (i have looked into ps__configuration table and there is an old ver 1.7.6.1). There is any way to force update again to upgrade DB too?

[2020-03-23 09:00] Matt75 commented on #18086
@Arman-Hosseini
You should add field `is_deleted`  to SELECT https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/Product.php#L4569

You have to exclude results with `is_deleted = 1` here https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/Product.php#L4624
[code]
Find the best way as you like ;)

[2020-03-23 09:03] khouloudbelguith commented on #18262
Hi @BudrysLP,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.3 and PS1.7.6.4.
I attached a screen record
[Product • 1763en.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4368177/Product.1763en.webm.zip)
Thanks to check and feedback.

[2020-03-23 09:12] khouloudbelguith commented on #18264
Hi @adi5497,

It is a size problem.
Thanks to check your configuration in the `php.ini` file & try to increase them

[code]
And enable `set_time_limit`

Thanks!

[2020-03-23 09:15] khouloudbelguith commented on #18258
Hi @Hlavtox,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15511 to fix the issue.
It is fixed in the PS1.7.7.0.
Your ticket is a duplicate of #10701
So, I close it.
Thanks!

[2020-03-23 09:15] #18258 closed, assigned to nobody

[2020-03-23 09:15] khouloudbelguith commented on #18258
Duplicate of #10701

[2020-03-23 09:16] Hlavtox commented on #18258
@khouloudbelguith Nice!

[2020-03-23 09:21] adi5497 commented on #18264
Hi @khouloudbelguith,
Actually I have changed this after this error but I'm not able to upgrade PS and DB again. PS have been updated, it may be the reason, but DB is still old version.

[2020-03-23 09:21] adi5497 commented on #18264
Hi @khouloudbelguith,
Actually I have changed this after this error but I'm not able to upgrade PS and DB again. PS have been updated, it may be the reason, but DB is still old version.

[2020-03-23 09:26] khouloudbelguith commented on #18252
Hi @OBSEVILLA,

Thanks for your report.
As you can see in your screenshot
![image](https://user-images.githubusercontent.com/16067358/77301656-5a3b2d80-6cf0-11ea-9029-f9ab4bbe573f.png)
All your payment modules are not selected.
So, this is the whole issue.

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information?

[2020-03-23 09:32] khouloudbelguith commented on #18257
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-03-23 09:32] khouloudbelguith commented on #18257
related to: https://github.com/PrestaShop/PrestaShop/issues/9926

[2020-03-23 09:37] khouloudbelguith commented on #18256
HI @simeon9446, @PaulLayout,

PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

[2020-03-23 09:37] #18256 closed, assigned to nobody

[2020-03-23 09:46] khouloudbelguith commented on #18255
Hi @matteolavaggi,

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response"

[2020-03-23 10:10] micka-fdz commented on #15751
Hello, any news about this issue?

[2020-03-23 10:12] khouloudbelguith commented on #18249
Hi @thbl,

Thanks for your report.
Thanks to check those links:
1. https://build.prestashop.com/howtos/translation/how-to-translate-your-theme/
2. https://build.prestashop.com/news/new-translation-system-prestashop-17/
3. https://build.prestashop.com/news/translation-news-171/

Thanks to check and feedback.

[2020-03-23 10:17] thbl commented on #18249
@khouloudbelguith  in 1.7.6.4
https://build.prestashop.com/howtos/translation/how-to-translate-your-theme/
"2. Export the language from the translation page"
**This doesn't work properly, it only exportssome strings not all.**
"3. Copy the file into the translation file of your theme"
**If i try install an translation by adding the xlf this way, it dosent load / register the translations in PS**

[2020-03-23 10:19] thbl commented on #18249
@khouloudbelguith also this article is 3 years old and for 1.7.1.1...

[2020-03-23 10:19] khouloudbelguith commented on #18233
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/18249

[2020-03-23 10:19] #18233 closed, assigned to nobody

[2020-03-23 10:22] khouloudbelguith commented on #18251
Hi @rmasq,

What is the exact version of the 1-click upgrade did you use?
Thanks!

[2020-03-23 10:26] khouloudbelguith commented on #15751
@micka-fdz, sorry not yet.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-03-23 10:29] khouloudbelguith commented on #18264
@adi5497, If you have a backup of your 1.7.6.1 shop, I'd strongly suggest to roll back and try to make a new upgrade.

Thanks to check and feedback.

[2020-03-23 10:32] khouloudbelguith commented on #10894
Hi @RSC-SC,

English is the norm on the GitHub
Thank you!

[2020-03-23 10:37] adi5497 commented on #18264
Hi @khouloudbelguith,
Can i wait to new ver and upgrade this then? It should be ok?

[2020-03-23 10:46] thbl commented on #18249
@khouloudbelguith  do you know if its a bug in 1.7.6.4 or cause the doc dosen't match ?

[2020-03-23 10:47] khouloudbelguith commented on #18264
@adi5497, the `max_excustion_time`, it is a server issue, not a PrestaShop core issue.
You need to increase it, then make a new upgrade?

Thanks!

[2020-03-23 10:50] Progi1984 commented on #17990
Fixed by PrestaShop/ps_emailsubscription#51

[2020-03-23 10:50] #17990 closed, assigned to matthieu-rolland, sarahdib

[2020-03-23 11:00] khouloudbelguith commented on #18249
@thbl,

Issue reported here: https://github.com/PrestaShop/PrestaShop/issues/16555

It is ok in my case, I used PS1.7.6.4 and this [theme](https://github.com/PrestaShop/childtheme-example).
I attached a screen record
[Untitled_ Mar 23, 2020 11_57 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4368801/Untitled_.Mar.23.2020.11_57.AM.webm.zip)

Thanks to check and feedback.

[2020-03-23 11:02] adi5497 commented on #18264
@khouloudbelguith, i know :) But if I will wait for another update and if next update will be successfully installed, DB will be upgraded correctlly?

[2020-03-23 11:05] BudrysLP commented on #18262
You forgot about save product when You edit it.

[2020-03-23 11:05] khouloudbelguith commented on #18193
@Pasc00l, did you check the issue with your host? as described [here](https://github.com/PrestaShop/PrestaShop/issues/18193#issuecomment-601239728)?

Thanks to check with your host and feedback.

[2020-03-23 11:06] khouloudbelguith commented on #18155
@gwyneblaidd, thanks!
Waiting for your feedback.

[2020-03-23 11:06] thbl commented on #18249
@khouloudbelguith i see, so for now there is just no export option ? (that works)

[2020-03-23 11:08] khouloudbelguith commented on #18264
@adi5497, if something went wrong with your update and don't have some of the database columns that were added for 1.7.6.4
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2020-03-23 11:10] khouloudbelguith commented on #18249
@thbl, as commented [here](https://github.com/PrestaShop/PrestaShop/issues/16555#issuecomment-572112630)
If we change the translations of the theme => the file is well generated the next time.
So all files are generated after translating the theme (translations are missing: it is not the case).

Thanks!

[2020-03-23 11:12] adi5497 commented on #18264
@khouloudbelguith, so I need just to simply set PREFIX and run this SQL?

[2020-03-23 11:15] Pasc00l commented on #18193
Hello,
If did the regeneration of the htaccess but still the same.
What do I have to check now ?

[2020-03-23 11:15] khouloudbelguith commented on #18264
@adi5497, you need to check if there are missing columns in your database schema before.
If something is missing, you can run the SQL that fixes your problem.

Thanks!

[2020-03-23 11:17] khouloudbelguith commented on #18262
@BudrysLP,

Thanks for these clarifications.
Yes, in this case, you just save changes and then there is no brand attached to this product, so the previous value is deleted.
I think it is normal behavior.
What do you think?

Thanks!

[2020-03-23 11:19] khouloudbelguith commented on #18193
@Pasc00l,

=> I think it will come from timeout.

it is a server issue not related to .htaccess file.

Thanks to check with your host about this error and feedback.

[2020-03-23 13:01] rmasq commented on #18251
Hi @khouloudbelguith,
I'm using the version v4.9.0 of 1-click upgrade.

Thanks for your interest.

[2020-03-23 13:06] khouloudbelguith commented on #18251
@rmasq, this is an old version.
The last release is 1-click upgrade v4.10.1.
https://addons.prestashop.com/en/data-migration-backup/5496-1-click-upgrade.html

Thanks to upgrade your module, check, and feedback.

[2020-03-23 13:18] khouloudbelguith commented on #18171
@ets-soft, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.4.
[Untitled_ Mar 23 2020 2_17 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4369586/Untitled_.Mar.23.2020.2_17.PM.webm.zip)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull reque

[2020-03-23 13:29] khouloudbelguith commented on #17032
Hi @colinegin,

Same issue with branch 1.7.7.x.

Thanks!

[2020-03-23 13:34] khouloudbelguith commented on #12334
Hi @JjPrus,

This issue not fixed yet.

Thanks!

[2020-03-23 13:39] khouloudbelguith commented on #18237
Hi @SD1982,

Same issue with PS1.7.6.4, PS1.7.5.2, and the branch 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/77322301-d09d5700-6d13-11ea-85bd-3dd0717db5a2.png)

PS: the Available quantity is not updated immediately => if we refresh the page => it will be OK.

![image](https://user-images.githubusercontent.com/16067358/77322394-f296d980-6d13-11ea-8c1a-513b44f336df.png)

[2020-03-23 13:46] matteolavaggi commented on #18255
CATEGORY PAGE 500 ERROR

https://www.sixrace.it/admin638mhuhr8/themes/new-theme/scss/img?controller=AdminDashboard&token=85f64f73d9a7d486490478a0e64a0717
https://www.sixrace.it/admin638mhuhr8/themes/default/img?controller=AdminDashboard&token=85f64f73d9a7d486490478a0e64a0717
https://www.sixrace.it/admin638mhuhr8/themes/default/img/bundle?controller=AdminDashboard&token=85f64f73d9a7d486490478a0e64a

[2020-03-23 13:58] khouloudbelguith commented on #18255
@matteolavaggi, The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Pl

[2020-03-23 14:04] khouloudbelguith commented on #18232
Hi @monix12,

Your ticket is a duplicate of #18264
Please follow: #18264.
So, I close it.
Thanks !

[2020-03-23 14:04] #18232 closed, assigned to nobody

[2020-03-23 14:04] khouloudbelguith commented on #18232
Duplicate of #18264

[2020-03-23 14:28] Arman-Hosseini commented on #18086
Hi @Matt75 ,
Honestly, I'm involved in the discussion here: https://github.com/PrestaShop/PrestaShop/commit/661583e73516cc3118abb27e5e12a296a68658a0#commitcomment-37837650
But thanks for your suggestions :)

[2020-03-23 15:07] Betafer opened #18270 "Problem with additions!"
How is it possible that in 2020 there are problems related to simple arithmetic calculations?
What about an ecommerce program, by the way?

Here are the pictures of the problem, you can see the email which has another problem (Shipping with vat price although the site is set to show the price without VAT)
and the total in backoffice

* PrestaShop version: 1.7.6.3
* PHP version: 7.2
<img width="176

[2020-03-23 15:10] khouloudbelguith commented on #18270
Hi @Betafer,

Thanks for your report.
There is no pictures attached.
Thanks to sign in to GitHub and upload your pictures [here](https://github.com/PrestaShop/PrestaShop/issues/18270).

Thanks!

[2020-03-23 15:16] Betafer commented on #18270
This is in PayPal also wrong !
77,08 € +
18,30 €
--------
95,38 € + VAT (22%)
95,38 * 1,22 = 116,36 €

The problem is that shipping cost is send to paypal with vat and not without. Total is correct

<img width="315" alt="Schermata 2020-03-23 alle 16 10 19" src="https://user-images.githubusercontent.com/5024055/77331337-dd747780-6d20-11ea-9f6f-7b0be75aab89.png">

[2020-03-23 15:18] khouloudbelguith opened #18271 "BO - Files page - Filter doesn't work, it just refresh the page"
#### Describe the bug

In the BO => Catalog => Files page, when we try to search by any filter => nothing happens, the page is just refreshed.

#### Steps to Reproduce

Steps to reproduce the behavior:
BO - Files page - Filter doesn't work, it just refresh the page
1. Go to BO => Catalog => Files page
2. Search by any filter
3. See error

**Screenshots**
[Files • 177x.webm.zip](https://github.com/

[2020-03-23 15:19] Betafer commented on #18270
<img width="825" alt="Schermata 2020-03-23 alle 16 18 41" src="https://user-images.githubusercontent.com/5024055/77332197-06493c80-6d22-11ea-87c7-3457cb06871c.png">
This is the DB

[2020-03-23 15:20] khouloudbelguith commented on #18271
Could be related to this issue: https://github.com/PrestaShop/PrestaShop/issues/18218

[2020-03-23 15:27] Betafer commented on #18270
The correct amount is:
(77,08+15)*1,22= 112,3376 € Rounded 112,74 €
The customer paid: 112,26€

[2020-03-23 15:35] eternoendless opened #18273 "Add support for Addons API stability channels"
### Description

The Addons API now has a `channel` parameter which allows you to choose amongst the three stability channels: `alpha`, `beta` and `stable`.

There should be a master setting, managed via environment variable and install parameter to let you switch from `stable` (default) to the other API channels. Of course, changing channel means invalidating local cache for API requests.

Furthe

[2020-03-23 15:38] Betafer commented on #18270
In this case there are more problems:

The first is the calculation error
The second is logical, as prices are shown with or without VAT instead of keeping the shop rule.
The third is that by showing different prices, customers ask questions rightly.
So instead of taking care of the sales job we merchants have to do assistance on problems like this, then go to modify the database by hand with the

[2020-03-23 15:52] khouloudbelguith commented on #18270
@Betafer, thanks for these clarifications.

The third is that by showing different prices, customers ask questions rightly.

We are awre of this issue, it is added to our bug roadmap.
Please follow: https://github.com/PrestaShop/PrestaShop/issues/17764

We are awre of this issue, we have two issues reported about this problem:

- https://github.com/PrestaShop/PrestaShop/issues/17161
- https://gith

[2020-03-23 16:02] Betafer commented on #18270
Ok, thanks.
We solved the problem more than 5 years ago, if you tell me which files were involved in version 1.5 I can share them so maybe it helps you speed up the fix and include it in the official version. And we don't have to redo the change in future updates.

[2020-03-23 16:07] khouloudbelguith commented on #18270
@Betafer, sorry we don't support any more PS1.5 and [PS1.6](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
If you think you can do it, please do send us a pull request!
I will close the issue.

Thanks!

[2020-03-23 16:07] #18270 closed, assigned to nobody

[2020-03-23 16:07] khouloudbelguith commented on #18270
Duplicate of #17764

[2020-03-23 16:09] TristanPapillon opened #18274 "Wrong discount on total cart"
#### Describe the bug

The subtraction of the discount is incorrect on the total of the cart.
There is a difference of 1 centime on total if amount discount is more than 2 decimals and end by '5' (and maybe other cases).

I think it's *just* a rounded problem.

#### Expected behavior

18,90 - 2,84 = 16,06

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO: Create a new product :
Qua

[2020-03-23 16:11] Betafer commented on #18270
I meant, if I share the 1.5 files that are interested in this problem, you can use them to speed up the resolution in 1.7.

[2020-03-23 16:12] Matt75 commented on #18270
You can compare file of previous PrestaShop version thanks to repositories
PrestaShop 1.4 https://github.com/PrestaShop/PrestaShop-1.4
PrestaShop 1.5 https://github.com/PrestaShop/PrestaShop-1.5/
PrestaShop 1.6 https://github.com/PrestaShop/PrestaShop-1.6
PrestaShop 1.7 https://github.com/PrestaShop/PrestaShop

You can target a specific version thanks to tag
![github-tags](https://user-images.gith

[2020-03-23 16:13] Betafer commented on #17161
Please fix this !

[2020-03-23 16:16] Hlavtox commented on #17045
@colinegin @sam-pires Do I understand correctly that new 1.7.7 will introduce important bug that you know about, and you guys just say, it needs to wait another year?

Maybe you should realise that this could lead to serious fines and problems for the merchants, if the taxes and amounts are not calculated correctly. 🙄

[2020-03-23 16:17] Betafer commented on #18270
We have edited many core files in 1.5 to fix lots of bugs,
can you tell me which files are related to this problem in 1.7 if they are partially the same as in 1.5, we can share our solution.

[2020-03-23 16:18] khouloudbelguith commented on #18274
Hi @TristanPapillon,

We are aware of the Rounding issue.
Your ticket is a duplicate of #9779
You can also follow these issues: #9981 & #9815 & #17045 & https://github.com/PrestaShop/PrestaShop/issues/17161
So, I close it.
Thanks!

[2020-03-23 16:18] #18274 closed, assigned to nobody

[2020-03-23 16:18] khouloudbelguith commented on #18274
Duplicate of #9779

[2020-03-23 16:28] Gipielle commented on #17161
Problem also present in Prestashop 1.7.6.3

[2020-03-23 16:36] Matt75 commented on #18270
What is exact PrestaShop version of your files ?
@khouloudbelguith Do you know how to receive modified files from @Betafer ? Maybe by email ?
It can be useful to get clues.

[2020-03-23 16:41] khouloudbelguith commented on #18270
@Matt75,

It can be useful to get clues.

What do you think about this solution if it possible
1. `$git clone https://github.com/PrestaShop/PrestaShop-1.5.git`
2. create a new branch - `$git checkout -b [name_of_the_branch]`
3. Make the changes
4. Create a PR

Or, yes, sending files by email.

Thanks!

[2020-03-23 16:43] Betafer commented on #18270
1.5.6.3

[2020-03-23 16:49] matteolavaggi commented on #18255
BTW the 500 error is related to image, dont worry about that. I need to fix
the javascript error

Il giorno lun 23 mar 2020 alle ore 14:58 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

[image: PrestaShop]
ww

[2020-03-23 16:52] SD1982 opened #18275 "Date is not correctly displayed on orders page"
## Describe the bug
In orders page , the order date is not correctly displayed when side menu is displayed

#### Expected behavior

The date should be correctly displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Sell => Orders => Orders
2. See error

**Screenshots**
**Side menu displayed**
![capture d'écran_4](https://user-images.githubusercontent.com/40635814/773

[2020-03-23 16:53] Matt75 commented on #18270
@Betafer Thanks, if you're not confident to know make a diff of your files with git you can send files in zip to khouloud.belguith@prestashop.com thanks

[2020-03-23 17:02] khouloudbelguith commented on #18275
Ping @PrestaShop/prestashop-product-team this issue should be fixed in the 1.7.7.0, is it?

Thanks!

[2020-03-23 17:09] khouloudbelguith commented on #18255
@matteolavaggi, We need more details to reproduce your issue.

- What language did you choose when you installed Prestashop?
- What country did you choose when you installed Prestashop?
- What is your back-office language?
- What is your default language? (in international > localization)
- What is your default country? (in international > localization)
- Is it a fresh install PS1.7.6.0?
- Have yo

[2020-03-23 17:22] thbl commented on #18249
@khouloudbelguith is there any work around to export all missing translations ?

[2020-03-23 17:24] thbl commented on #16555
@pierreavizou  @matks did you look at this ?

[2020-03-23 17:55] presteus commented on #18247
Hello,

Today I have launch my docker with the workaround with a system prune but the workaround stop to work.

[code]

It is possible to explain me why the directory **tests-legacy/Unit** have 2 directory **classes** and **Classes** before I analyze this problem ?

Thanks by advance.

[2020-03-23 17:59] marionf commented on #18275
As it's a regression of the 1.7.7, yes

[2020-03-23 18:15] pdsolutions opened #18276 "Impossible to update from 1.7.5.2 to 1.7.6.4"
#### Describe the bug

Can't update from brand new installation of PS 1.7.5.2  to 1.7.6.4

#### Expected behavior

A normal update

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Installed the a brand new Prestashop 1.7.5.2 in Spanish with php 7.2.2.8
2. Installed the 1 click update from Prestashop modules using the website backend
3. Updated all modules from "Updates tab"
4. Unchec

[2020-03-23 18:33] luisfbmelo commented on #16822
Is this already fixed? I'm having this issue on version 3.4.1.

[2020-03-23 18:38] Betafer commented on #18270
The problem isn't make a diff of the files, but know which files controls these functions

[2020-03-23 18:45] jcvoyeux opened #18277 "Id_Reference In the Carrier list."
#### Is your feature request related to a problem? Yes

I added in the webservice the possibility to set specific carriers for products.
The table product_carrier need Id_Refence of the carrier but this id is not show in the carrier list (in backoffice).
Id_Reference is the true id of the carrier and Id_carrier is most like the "version" !
If you make any change in a carrier, a new carrier is reco

[2020-03-23 18:51] #18276 closed, assigned to nobody

[2020-03-23 18:58] pdsolutions commented on #18276
I just managed to update after 1 day of hard work disabling modules, templates, htaccess rules, so the problem was the DB password.

Looking closer to this line: connect(Array, 'tienda', 'Dmr26%%%%y20S9s...', i saw that **Dmr26%%%%y20S9s** **does not match the password from /app/config/parameters.php -> Dmr26%%y20S9snt9?**

This a a very weird bug, somehow, on update everything mess up if you use

[2020-03-23 19:44] matteolavaggi commented on #18255
Italian to all the question, and last no, is not a fresh installation, is a
1.7.6 and i'me not sure from when the js error happen. Is related to? This
js file is a core file? or third parts module call it?

Il giorno lun 23 mar 2020 alle ore 18:09 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiam

[2020-03-23 22:12] matks commented on #18247
I'm afraid the people who created these 2 directories and the obvious confusion between them are long gone. So we'll never know if there was a valid reason.

However I see tests-legacy/Unit/classes contains only 1 unit tests. So we could move it into tests-legacy/Unit/Classes and get rid of the confusion quite easily.

[2020-03-23 23:38] Betafer opened #18278 "Seo preview only change with first language"
Go in product, seo tab
change language to a different form the default
change meta title o meta description.
Nothing change in seo preview

Primary language is ok - (Maybe backoffice lang)

* PrestaShop version: 1.7.6.3
* PHP version: 7.2
<img width="1191" alt="Schermata 2020-03-24 alle 00 36 35" src="https://user-images.githubusercontent.com/5024055/77373131-a9707500-6d67-11ea-8eb6-cc1c43682fcd.p

[2020-03-24 01:46] ets-soft commented on #18171
hi @khouloudbelguith
I think the problem may not only happen in the link widget title, it's only 1 example case. Please tell the dev team to check the whole caching process deeply to make sure it works correctly everywhere.
Actually, I tried to look into the code of Prestashop but could not figure out how to fix the issue so I'm looking forward to a fix from Prestashop as this is really important

[2020-03-24 07:16] Progi1984 commented on #16226
Fixed by #18063

[2020-03-24 07:21] #16226 closed, assigned to matks

[2020-03-24 07:22] Progi1984 commented on #16968
Fixed by PrestaShop/ps_shoppingcart#55

[2020-03-24 07:22] #16968 closed, assigned to sowbiba

[2020-03-24 07:44] khouloudbelguith commented on #17783
Hi @FaustoBoscaro,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-24 07:44] #17783 closed, assigned to nobody

[2020-03-24 07:45] khouloudbelguith commented on #17782
Hi @MSZXYZDEV,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-24 07:45] #17782 closed, assigned to nobody

[2020-03-24 07:58] khouloudbelguith commented on #18277
Hi @jcvoyeux,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Here's the structure of the table `ps_carrier`
![image](https://user-images.githubusercontent.com/16067358/77401603-810b6980-6dad-11ea-9047-7c6234fa5748.png)
Here's the structure of the table `ps_product_carrier`
![image](https://user-images.githubusercontent.com/16067358/77401655-997b8400-6dad-11ea

[2020-03-24 08:02] khouloudbelguith commented on #18278
Hi @Betafer,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17688
So, I close it.
Thanks!

[2020-03-24 08:02] #18278 closed, assigned to nobody

[2020-03-24 08:02] khouloudbelguith commented on #18278
Duplicate of #17688

[2020-03-24 08:03] khouloudbelguith commented on #18171
@ets-soft, thanks for these clarifications.

[2020-03-24 08:05] Betafer commented on #18278
Ok thanks !

[2020-03-24 08:08] khouloudbelguith commented on #18276
Hi @pdsolutions,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9564
Thanks!

[2020-03-24 08:08] khouloudbelguith commented on #18276
Duplicate of #9564

[2020-03-24 08:10] khouloudbelguith commented on #16822
Hi @luisfbmelo,

Sorry not yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-03-24 08:13] khouloudbelguith commented on #18249
@thbl, please follow this issue: https://github.com/PrestaShop/PrestaShop/issues/16555.
We are still waiting for the developers' response.

I will close this issue.
Thanks!

[2020-03-24 08:13] #18249 closed, assigned to nobody

[2020-03-24 08:15] thbl commented on #18249
@khouloudbelguith  okay will do, tho #16555 is 5 month old without reply from dev team

[2020-03-24 08:34] Betafer commented on #18210
Ok, this solution doesn't work correctly for me, because setting in order status generates invoices or deliver slips when order is created (paypal) o order i paid (bank wire) but for many reason, the order was not shipped in same day.
It happens that you don't have the right date sequence in documents.

For me the best solution is create also a button for create Delivery slip like the one for the

[2020-03-24 08:36] khouloudbelguith commented on #18255
@matteolavaggi,

Yes, it could be a module issue, you can check this [issue](https://github.com/PrestaShop/PrestaShop/issues/18141#issuecomment-599525737) for example.

Also, thanks to check in your Project folder, if your file is similar to [this](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.0/js/jquery/plugins/jgrowl/jquery.jgrowl.js).

Thanks!

[2020-03-24 08:45] nsorosac commented on #12412
I know 1.6 is deprecated, but we had to fix this for a project in production:

In file **webservice/dispatcher.php**, add the "define" before requiring **config/config.inc.php**:

[code]

Modify **initialize()** method in **classes/shop/Shop.php** at line 371:

Replace :

[code]

with :

[code]

[2020-03-24 08:50] Progi1984 commented on #17717
Fixed by #18245

[2020-03-24 08:50] #17717 closed, assigned to NeOMakinG

[2020-03-24 08:51] Progi1984 commented on #17912
Fixed by #18102

[2020-03-24 08:51] #17912 closed, assigned to NeOMakinG

[2020-03-24 08:53] Progi1984 commented on #9648
Fixed by PrestaShop/ps_crossselling#7

[2020-03-24 08:53] #9648 closed, assigned to nobody

[2020-03-24 08:57] boubkerbribri opened #18279 "[View Order] - Help Card is not displayed in sidebar"
#### Describe the bug

When we click on button 'help', the sidebar is not opened in the same page, it redirect us to `http://shopUrlBO/index.php/common/sidebar/https%253A%252F%252Fhelp.prestashop.com%252Fen%252Fdoc%252FAdminOrders%253Fversion%253D1.7.7.0%2526country%253Den/Help?_token=UPht_KhRc6klvl4uiSIxiDHFRXsy4HwKZrsGxn1fLz4`

#### Expected behavior

SideBar opened in the same page

#### Steps

[2020-03-24 09:18] khouloudbelguith commented on #18210
@Betafer, thanks for your feedback.
Ping @PrestaShop/prestashop-product-team what do you think? can we add a button to generate a Delivery slip?
![image](https://user-images.githubusercontent.com/16067358/77408836-9cc83d00-6db8-11ea-99a0-d59b7b045bd4.png)

Thanks!

[2020-03-24 09:37] matks commented on #18122
May be fixed by https://github.com/PrestaShop/PrestaShop/pull/18221 for `1.7.7.x` and https://github.com/PrestaShop/PrestaShop/pull/16837 for `develop`

[2020-03-24 09:42] mircobabini opened #18281 "Fix on statsbestvouchers native module"
#### Describe the bug

When invoices are not generated for all order or not generated at all, the stats are incomplete.

#### Expected behavior

I want to see the used vouchers in stats for every complete order, not just for orders with an invoice.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Prestashop admin panel
2. Disable the invoice generation
3. Create an order with a

[2020-03-24 09:42] jcvoyeux commented on #18277
Hello,

Here the code to add to the product class for reveicing product_carrier in the WS :

Add at the end of the section 'associations' of protected $webserviceParameters
            'carriers' => array(
                'resource' => 'carrier',
                'getter' => 'getWsCarriers',
                'setter' => 'setWsCarriers',
                'fields' => array(
                    'id' =>

[2020-03-24 09:44] ArnasL opened #18282 "Orders -> Any order opens as first order always with id_order=1"
#### Describe the bug

I have upgraded my PrestaShop from 1.6 to 1.7 with fresh installation and data export, import.

In BO -> Orders whenever I try to edit any order it opens me first order. So every edit order button has same link with same ID = 1. If I change ID manually by it's order ID I can view and edit order. How can I fix this issue?

Also noticed that total orders shows: 3473 (as it was

[2020-03-24 09:50] khouloudbelguith commented on #18277
@jcvoyeux,

If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-24 10:00] SD1982 opened #18283 ""update address" page title is changed when an error is triggered"
#### Describe the bug

The main title of the "edit address" page is changed when a error is triggered in the form

#### Expected behavior

The title must remain the same

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO => account => addresses
2. If you don't have address => create one
3. Click on update address
4. In first name field try to set a number and save
5. An error

[2020-03-24 10:02] khouloudbelguith commented on #18281
Hi @mircobabini,

I did not manage to reproduce the issue with PS1.7.6.4 and the `Best vouchers` module v2.0.0.
I attached a screen record
[Stats • ps1764.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4374529/Stats.ps1764.webm.zip)
Thanks to check and feedback.

[2020-03-24 10:07] matks commented on #17993
I move this PR back to "In progress" as I see discussions are still going on in https://github.com/PrestaShop/PrestaShop/pull/18201

[2020-03-24 10:07] khouloudbelguith commented on #18283
Hi @SD1982,

I think this PR: https://github.com/PrestaShop/PrestaShop/pull/18103 should fix the problem, is it?

Thanks!

[2020-03-24 10:08] Progi1984 commented on #18100
Fixed by #18103

[2020-03-24 10:08] #18100 closed, assigned to PierreRambaud

[2020-03-24 10:13] khouloudbelguith commented on #18283
Hi,

I have the same issue with PS1.7.5.2, PS1.7.6.4, PS1.7.6.3, and the branch 1.7.6.x.

Thanks!

[2020-03-24 10:16] khouloudbelguith commented on #18282
Hi @ArnasL,

Thanks for your report.

So, did you make an upgrade manually, you didn't use the 1-click upgrade module?

Thanks!

[2020-03-24 10:19] SD1982 opened #18284 "No validation on create/edit addresses forms"
#### Describe the bug

Some fields in the edit or the create address form need more validations

**Fields where more validations is needed:**
- city: its possible to add only numbers (a lot of numbers )
- same for company, address and phone ( see screenshots )

#### Expected behavior

Some validation should be applyed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO => Accou

[2020-03-24 10:28] jcvoyeux commented on #18277
I just have done it.

[cid:ae1c5f02-d1fa-4372-a2b4-7fd1f13c2e09]

Thank you to help us 😉

JC

________________________________
De : khouloudbelguith <notifications@github.com>
Envoyé : mardi 24 mars 2020 10:50
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : jcvoyeux <jcvoyeux@hotmail.com>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Id_Reference In the C

[2020-03-24 10:38] ArnasL commented on #18282
I have been using MigrationPro and I always use this module and never had any issues, so I thinks it's not module related issue.

[2020-03-24 10:39] khouloudbelguith commented on #18284
Hi @SD1982,

I have the same issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
In the BO => Addresses page => OK
Legacy page
![image](https://user-images.githubusercontent.com/16067358/77416195-e2d6ce00-6dc3-11ea-9ad5-64ba6d177ee1.png)
Migrated page
![image](https://user-images.githubusercontent.com/16067358/77416284-000b9c80-6dc4-11ea-8ddc-891cd14fb70d.png)

Thanks!

[2020-03-24 10:43] ArnasL commented on #18282
If it's not possible to fix it I'm okey with all order history deletion and starting new orders ID numbering from 4000 and 04000 reference. How is that possible?

[2020-03-24 10:48] matks opened #18286 "Handle the max allowed refund for partially paid orders"
Follow-up of this [topic](https://github.com/PrestaShop/PrestaShop/pull/18164#issuecomment-601341828)

@MatShir @colinegin we need your help on this
@jolelievre can explain further the issue if needed

[2020-03-24 11:00] mvorisek opened #18287 "TravisCI results are not reported"
When I open `https://travis-ci.org/github/PrestaShop/PrestaShop` the following is shows:
![image](https://user-images.githubusercontent.com/2228672/77418110-bb353500-6dc6-11ea-99f2-e916c3cee08e.png)

Is this the reason why TravisCI results are not reported?

![image](https://user-images.githubusercontent.com/2228672/77418562-57f7d280-6dc7-11ea-8021-d39c3d5e25d5.png)

If yes, please change TravisCI

[2020-03-24 11:04] jolelievre commented on #18286
More details about this issue:

Previously the refund feature was enabled only when the order had a status `paid` which is based only on order status not actual payments.

Now, the refund is possible when:
- order has status paid
- at least one payment exist on the Order

Which raises a new questions:

- when the order is partially paid and I want to refund an order what is the max authorized? and

[2020-03-24 11:16] khouloudbelguith commented on #18287
Ping @matks @PrestaShop/prestashop-core-developers

[2020-03-24 11:25] khouloudbelguith commented on #18282
@ArnasL,

I did not manage to reproduce the issue after an upgrade from PS1.6.1.24 to PS1.7.6.4 using the 1-click upgrade v4.10.1.
I attached a screen record
[Modules • PrestaShop.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4374898/Modules.PrestaShop.webm.zip)

In the `ps_orders` table `Operations` Tab, you need to set the "AUTO_INCREMENT"= 4000 and save, then the id of the next cart

[2020-03-24 11:25] #18282 closed, assigned to nobody

[2020-03-24 11:44] eternoendless commented on #16555
I have verified the problem.

[2020-03-24 12:55] matks commented on #18287
We migrated from Travis.org (https://travis-ci.org/github/PrestaShop/PrestaShop) to Travis.com (https://travis-ci.com/github/PrestaShop/PrestaShop) recently, I dont remember exactly why 🤔maybe to benefit from new features and new plans

We had issues between the .org and the .com both trying to validate PRs for a while but it seems it only affected PRs created before the switch. New PRs are only b

[2020-03-24 12:57] matks commented on #18287
Also
- not sure about it, but it seems to me we are usually the free plan of Travis (as this is an open source project) so we cannot raise the max number of builds allowed, and we cannot move from "free open source plan" to "paying plan" because it's a public repository
- we already checked whether the number of builds we have is relevant (we compared with other open source projects) and found we

[2020-03-24 13:25] toutantic commented on #15671
PrestaShop the open source project should reduce the number of dependencies on prestashop.com (managed by PrestaShop the company).
I recommend, by default, to remove the call to profile.prestashop.com.
But make sure there is a hook if anyone wants to add a custom profile management module.

[2020-03-24 13:54] SD1982 opened #18289 "BO - New order page - The stock counter is not updated until a page refresh when a product is added to order"
**Describe the bug**

In BO => Orders => Orders => Add an Order when a product is added the quantity is not updated until we refresh the page

#### Expected behavior

The quantity should be updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders => Add an Orders
2. Select a customer
3. Select a product and click on "add to cart"
4. See error the quantity is not up

[2020-03-24 13:59] faaak2 commented on #16774
ok indeed, it seems to work for you. Leaves me puzzled.
Need to check if it's a theme related issue...
If it's not, I'll record the error to show you, the same way you did.

[2020-03-24 14:13] khouloudbelguith commented on #18289
Hi @SD1982,

Same issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
Related to https://github.com/PrestaShop/PrestaShop/issues/18199
Thanks!

[2020-03-24 14:21] Progi1984 commented on #17916
Fixed by #18289 17975

[2020-03-24 14:21] #17916 closed, assigned to atomiix

[2020-03-24 14:22] Progi1984 commented on #18199
Fixed by #18208

[2020-03-24 14:22] #18199 closed, assigned to atomiix

[2020-03-24 14:26] mvorisek commented on #18287
@matks After an hour the TravisCI statuses updated. Closing now.

[2020-03-24 14:26] #18287 closed, assigned to nobody

[2020-03-24 15:57] khouloudbelguith opened #18291 "BO - Order page - Filter doesn't work, it does not show any result"
#### Describe the bug

In the BO => Order page, the filter doesn't work, it does not show any result.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Bo => Order page
2. Search by any filter except "Customer" reported here: https://github.com/PrestaShop/PrestaShop/issues/18263
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/77447794-5

[2020-03-24 15:58] khouloudbelguith commented on #18291
Ping @nesrineabdmouleh @boubkerbribri
Detected by https://github.com/PrestaShop/PrestaShop/pull/18290/checks?check_run_id=530891105

[2020-03-24 16:15] mircobabini commented on #18281
How is this possible? The query checks the o.invoice_date column in mysql, how can it be compiled in your case with invoices deactivated? What value fills into that field in your database?

[2020-03-24 16:26] francescangemi opened #18292 "Impossibile cancellare l'indirizzo."
Impossibile eliminare uno o più indirizzi di un account cliente.
![FireShot Capture 014 - Indirizzo - shop pastadicanossa it](https://user-images.githubusercontent.com/48442917/77450152-301e6400-6df3-11ea-9c4f-055b6c886747.png)

[2020-03-24 16:27] khouloudbelguith commented on #18292
Hi @francescangemi,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-03-24 16:33] #18292 closed, assigned to nobody

[2020-03-24 16:35] khouloudbelguith commented on #18292
@francescangemi, you just closed your issue.
Is it fixed?

Thanks!

[2020-03-24 16:42] khouloudbelguith commented on #18281
@mircobabini, you can try with this shop: https://panicky-property.machine-shuffle.prestashop.net/admin-dev
`Email address`: demo@prestashop.com
`Password`: prestashop_demo

Thanks!

[2020-03-24 16:46] QuentinMaypic commented on #17954
Hello,

I have the same problem as you.
No error log, the page is available in debug mode, and blank page otherwise.
I tried to desactivate everything (overrides, modules, features and combinations...).
How did you resolved this issue?

[2020-03-24 16:49] alex4102 commented on #17954
@QuentinMaypic

I fix my problem by removing vendors, composer.json and composer.lock.

Download the 2 composer files from the release of your prestashop version : https://github.com/PrestaShop/PrestaShop/tree/1.7.6.4 for the 1.7.6.4 version

And execute composer install to get the right vendors

[2020-03-24 17:08] PaulLayout commented on #18256
Thanks @khouloudbelguith . I could fix it! Thank you so much!

[2020-03-24 18:28] gaelson commented on #17318
Please tell me what's the real solution? My database grow 1Gb per day. please help

[2020-03-24 18:39] weddingtextile commented on #17318
Use this solution

[2020-03-24 20:08] gaelson commented on #17318
Please could you show me how to set the clear-cache script?

[2020-03-24 23:47] Hlavtox opened #18295 "Make order reference configurable"
#### Background

The first time I do for my every customer is changing order reference to be generated as numeric. Usually we also add a year prefix before the order number.

#### Proposed solution

Make order reference configurable in an easy way, by a field in Prestashop settings. In the same way, as you configure URLs for example.
![urls](https://user-images.githubusercontent.com/6097524/774868

[2020-03-25 00:47] ashtonlance opened #18296 "Javascript error (parseJSON) detected for action "backupFiles""
#### Describe the bug

Trying to use the autoupgrade. The backup process fails at the same time everytime I try.

#### Expected behavior

Autoupgrade backs my files up and completes the process

**Screenshots**

<img width="1433" alt="Screen Shot 2020-03-24 at 8 39 37 PM" src="https://user-images.githubusercontent.com/13652692/77490194-9e255400-6e10-11ea-90bf-4ed0c7de91fc.png">

#### Additional in

[2020-03-25 07:13] khouloudbelguith commented on #17793
Hi @rahulprbh,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-25 07:13] #17793 closed, assigned to nobody

[2020-03-25 07:13] khouloudbelguith commented on #17789
Hi @photinia73,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-25 07:13] #17789 closed, assigned to nobody

[2020-03-25 07:14] khouloudbelguith commented on #17803
Hi @glukash,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-25 07:14] #17803 closed, assigned to nobody

[2020-03-25 07:24] khouloudbelguith commented on #10317
Hi,

I have the same issue with the branch 1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/77511731-00627100-6e72-11ea-82bc-b41e3c910fa6.png)

Thanks!

[2020-03-25 07:26] OBSEVILLA commented on #18252
Hi,
thanks for contact me

I succeed in repair the error

- I fix the next problem: updating the carrier restriction, it was a
problem with the php input_var_max value
- next I have reinitialized the modules, it was good because the shipment
restriction were goods, and I had the module in the 2 hooks

but it was strange

Best Regards

Olivier Bertoncello
0034 955 180 438
0034 699 557 553
obdc@data

[2020-03-25 07:29] khouloudbelguith commented on #18295
Hi @Hlavtox,

Thanks for your report.
I think the issue of "Improving the order reference" is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13212
Ping @MatShir @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-03-25 07:32] khouloudbelguith commented on #18252
@OBSEVILLA, thanks for your feedback.
Since it is fixed, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-03-25 07:32] #18252 closed, assigned to nobody

[2020-03-25 07:41] matks commented on #17397
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17923

[2020-03-25 07:41] #17397 closed, assigned to NeOMakinG

[2020-03-25 07:42] matks commented on #17024
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17385/

[2020-03-25 07:42] #17024 closed, assigned to sowbiba

[2020-03-25 08:37] matteolavaggi opened #18297 "The prestashop order statistics sectionhas lot of issues, it shouldn't be in production"
There are some prestashop bugs that have no reason to exist, they shouldn't exist in a version other than an alpha or beta release. Instead they are in production after dozens of major releases. This is absurd.

The order statistics section is absolutely a piece of unripe code that should not be included in prestashop if the developers are unable to make it work!

1) Why does the order statistics

[2020-03-25 08:38] QuentinMaypic commented on #17954
@alex4102
Thanks for your help.
So I upgraded my prestashop version from 1.7.6.0 to 1.7.6.4. It worked well, but I am still having this problem...
The only logs I have in debug mode are Warnings about "Translation not found" and one warning about classes/Media.php "Warning: filemtime(): stat failed" but I add a temporary correction to this file and It doesn't change anything...
I also have a depre

[2020-03-25 08:44] dangelion opened #18298 "Creating a custom theme"
Hi

we're approaching to build a custom theme, from scratch, for the first time in Prestashop (while we come from advanced experience in Wordpress custom themes, like using Sage 9).

So we're asking for advices from developer that have experience in Prestashop.

We've seen there is a Starter theme
https://github.com/PrestaShop/StarterTheme
but it's deprecated and not maintained.Then, what starter

[2020-03-25 08:50] khouloudbelguith commented on #18298
Hi @dangelion,

Thanks for your report.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-03-25 08:50] #18298 closed, assigned to nobody

[2020-03-25 08:56] Prestaworks opened #18299 "Canonical redirects for product pages do not work, gives duplicate content"
#### Describe the bug

Canonical urls do not work on product pages. You can change the link rewrite text to anything. If you use multishop, it will not redirect to www subdomain properly. This will give duplicate content in search engines.

#### Expected behavior

If a link is entered without www, it should redirect to www.
If a product link is entered with the wrong link rewrite text, it should r

[2020-03-25 09:03] Progi1984 commented on #18291
Fixed by #18294

[2020-03-25 09:03] #18291 closed, assigned to atomiix

[2020-03-25 09:11] jolelievre commented on #18122
Is it useful to merge the one targeting develop? Since it will be merged from 177x to develop later anyway?

[2020-03-25 09:26] QuentinMaypic opened #18300 "Prestashop 1.7.6.4 Blank Page on add Product Back Office"
#### Describe the bug

Hello,

Whenever i want to create / edit product, i got a blank page on PROD (no errors in prestashop logs, php logs and apache logs) , if i switch to debug mode, the product page shows without just a few warnings and deprecated errors :
- Warnings about "Translation not found"
- Warning about "Warning: filemtime(): stat failed" in classes/Medai.php (I made a temporary patch

[2020-03-25 09:29] khouloudbelguith commented on #18297
Hi @matteolavaggi,

Thanks for your report.
Yes, you are right, the data is based on invoice if there is no invoice there are no stats.
We are awre of this issue, it is added to our debug roadmap.
Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/14215
Your ticket is a duplicate of #15319
So, I close it.
Thanks!

[2020-03-25 09:29] #18297 closed, assigned to nobody

[2020-03-25 09:29] khouloudbelguith commented on #18297
Duplicate of #15319

[2020-03-25 09:33] matks commented on #18298
I'd suggest using https://github.com/PrestaShop/classic-rocket 😉

[2020-03-25 09:44] Progi1984 commented on #18248
Fixed by #18288

[2020-03-25 09:44] #18248 closed, assigned to atomiix

[2020-03-25 09:48] simontingkamlee opened #18301 "Cannot save or update customer in BO"
I am using Prestashop 1.7.6.4. When I edited and tried to save data of an existing customer, I get the following error:

An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Customer\Exception\CustomerException code 0]

I searched in the database. Someone has reported something liked this but I cannot find the solution in those post. Can someone let me know the solution to this? Many m

[2020-03-25 09:48] khouloudbelguith commented on #18300
Hi @QuentinMaypic,

I did not manage to reproduce the issue with PS1.7.6.4 using Nginx v1.14.0.
I attached a screen record
https://drive.google.com/file/d/19qtwUhHmlJ7odS-0_s2nhAmhOEIqolVN/view?usp=sharing
Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks to check and feedback.

[2020-03-25 09:51] QuentinMaypic commented on #18300
Hello @khouloudbelguith

Thanks for your help.
I ran your comamnds, and I still have the problem...

[2020-03-25 09:52] shnslmz opened #18302 "Prestashop 1.7.6.4 New Installation Password Chanhing Problem"
After Prestashop 1.7.6.4 new installation on server I got this error:
[code]

Before installation is started I check DB, it was okay, then setup was finished as successful.

**Somehow PS changed/set (as wrong) DB password** for  /app/config/parameters.php
After this error, I checked parameters.php then, I discovered that the password was diffrent my current DB password.

Excl. alphanumeric chars,

[2020-03-25 09:52] Progi1984 commented on #18065
Fixed by #18144

[2020-03-25 09:52] #18065 closed, assigned to Progi1984

[2020-03-25 09:55] khouloudbelguith commented on #18300
@QuentinMaypic, did you tried with an incognito browser?
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2020-03-25 10:00] khouloudbelguith commented on #18302
Hi @shnslmz,

We are awre of this issue, it is added to our debug roadmap.
The problem is the Database password, it contains a % symbol => it will be doubled.
Your ticket is a duplicate of #12556
So, I close it.
Thanks!

[2020-03-25 10:00] #18302 closed, assigned to nobody

[2020-03-25 10:00] khouloudbelguith commented on #18302
Duplicate of #12556

[2020-03-25 10:03] khouloudbelguith commented on #18044
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-03-25 10:04] QuentinMaypic commented on #18300
@khouloudbelguith I tried, and also tried in incognito. No success...

[2020-03-25 10:05] khouloudbelguith commented on #18301
Hi @simontingkamlee,

Thanks for your report.
Did you use a fresh install PS1.7.6.4 or an upgrade from an old version?
In my case, I did not manage to reproduce the issue with PS1.7.6.4.
We have an issue already fixed: https://github.com/PrestaShop/PrestaShop/issues/17809

Thanks to check and feedback.

[2020-03-25 10:10] colinegin commented on #9850
Test behat will be fixed in another PR which will be done during beta.

[2020-03-25 10:10] simontingkamlee commented on #18301
An upgrade from P.S 1.7.6.3 to 1.7.6.4

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Wednesday, March 25, 2020 6:06 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Cannot save or update customer in BO (#18301)

Hi @simontingkamlee <https://github.c

[2020-03-25 10:14] dangelion commented on #18298
Hi @khouloudbelguith,
[here](https://www.prestashop.com/forums/topic/1017950-create-a-custom-theme/) we already asked on the forum but no one answers. It seems a bit dead 😞

[2020-03-25 10:15] simontingkamlee commented on #18301
I’m sorry. How can I fix this? Which part of the codes/files should I replace? Can you send me the changes and steps to make the change please. Thanks.

Regards,

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Wednesday, March 25, 2020 6:06 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com

[2020-03-25 10:21] colinegin commented on #18072
Fixed by: #18103

[2020-03-25 10:25] colinegin opened #18303 "[Create order] Issue when clicking on Customer details"
New issue to fix the last bug related to the issue #17223.
when clicking "Details" for a customer, a cart or a previous order, it takes me out of the window, when it should rather open the details with minimal view inside a modal or similar?

[2020-03-25 10:33] khouloudbelguith commented on #17759
Hi @LouiseBonnard,

This issue is reproduced with PS1.7.5 and PS1.7.6.
Can we remove the label `regression`?

Thanks!

[2020-03-25 10:37] SD1982 opened #18304 "BO - Orders - Undefined when search for customers"
#### Describe the bug

In BO when add a new order => search a customer return undefined

#### Expected behavior

The customer should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Sell => Orders => Add new
2. In "search customer" field search for "doe"
3. See error

**Screenshots**

![capture d'écran_11](https://user-images.githubusercontent.com/40635814/77

[2020-03-25 10:38] #17223 closed, assigned to tdavidsonas88

[2020-03-25 10:40] dangelion commented on #18298
Hi @matks
this classic-rocket theme is specifically for developers? Frankly it seems identical to the default classic, except for the "performance, accessibility and SEO" part that is not particularly interesting in "developing a theme".

Compare them:
classic: https://github.com/PrestaShop/PrestaShop/tree/develop/themes/classic
classic-rocket: https://github.com/PrestaShop/classic-rocket

Further

[2020-03-25 10:55] matks commented on #18298
Yes, it's intended for developers. As it says in description, it's a rework of Classic made with more modern practices and dependencies but it serves the same purpose which is to be a base on top of which you can build your own theme.

It's updated less often as it's maintained by community and not PrestaShop company, but with every new release they update it too.
Classic Theme is good too but we

[2020-03-25 10:55] khouloudbelguith commented on #18301
@simontingkamlee,
the problem was almost certainly due to a failure to update the `ps_customer` table.
Thanks to provide me a screenshot of your the `ps_customer's` structure
![image](https://user-images.githubusercontent.com/16067358/77529244-880aa880-6e8f-11ea-8118-3a04da4f50d3.png)

Thanks!

[2020-03-25 11:11] khouloudbelguith commented on #18304
Hi @SD1982,

I have the same issue with develop branch.
When we click "`Details`" => Redirection to the Dashboard page => NOK
When we click "`Choose`" => The details of the `anonymous@psgdpr.com` are displayed => NOK.

Thanks!

[2020-03-25 11:19] khouloudbelguith commented on #18300
@QuentinMaypic,

Those options do not work.
![image](https://user-images.githubusercontent.com/16067358/72447578-e3485c80-37b5-11ea-90b5-37fe4a22a963.png)
as reported here:
https://github.com/PrestaShop/PrestaShop/issues/14596
https://github.com/PrestaShop/PrestaShop/issues/9965

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how t

[2020-03-25 11:29] khouloudbelguith commented on #18299
Hi @Prestaworks,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1yWYKGNHtwdMXOTbZJlMbkAQqsuo-8pOZ/view?usp=sharing

Thanks to check and feedback.

[2020-03-25 11:39] DianaButkute opened #18307 "BO - Orders - Create new order - Payment select - not all payments are showing"
#### Describe the bug

We noticed that there are more than a few payment aggregators modules in Prestashop. By aggregator, I mean, it’s one module but it provide a lot of options for merchant e.g. iPay, paypal, Visa and so on. However this behavior is not reflected in PrestaShop implementation In BO when want to choose Payment not all payments are displaying. As I can see from the code and from th

[2020-03-25 11:41] matteolavaggi commented on #18297
This is not exact. Invoice can be disabled, but the flag in order state
must be enabled.

Why insert a function that not work in a stable release? this is not a
"bug" is a piece of coding miss. or an alpha function released in a stable
channel ...

Il giorno mer 25 mar 2020 alle ore 10:29 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il n

[2020-03-25 11:42] Prestaworks commented on #18299
Your movie show the issue. It should not keep ddddd in the url but instead do a redirect to the correct url that you get if you click on the link in the category page.

[2020-03-25 12:03] khouloudbelguith commented on #18299
@Prestaworks, thanks for these clarifications.
I think the issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/17095#issuecomment-577130574

Thanks to check and feedback.

[2020-03-25 12:04] khouloudbelguith commented on #10247
Related to https://github.com/PrestaShop/PrestaShop/issues/17095

[2020-03-25 12:07] Prestaworks commented on #18299
No.
My ticket is only for the product page and it is due to changes made to the canonicalRedirect function on that controller.
This change is what broke it I think
https://github.com/PrestaShop/PrestaShop/commit/ed02f13d5511a45d9568b0556bdab7dd73dbc66c#diff-514c245ae9a59a3ffd37a1e35d97f00c

[2020-03-25 12:24] pitangaweb commented on #16869
Hi,

We make a lot of partial refunds on our store, and because of this bug, our inventory is wrong. And this is a vicious circle : because of this bug, lots of customers order products that are actually out of stock, so we have to make more partial refunds, and our inventory becomes even more messed up.

One more thing: when doing the partial refund, even if we do not check the "put back in stock

[2020-03-25 12:29] simontingkamlee commented on #18301
Here's my ps_customer table's structure.

Simon

----- Original Message -----
From: "PrestaShop/PrestaShop"
<reply@reply.github.com>
To:"PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc:"simontingkamlee" <simonlee@hago-group.com>, "Mention"
<mention@noreply.github.com>
Sent:Wed, 25 Mar 2020 03:55:54 -0700
Subject:Re: [PrestaShop/PrestaShop] Cannot save or update customer in
BO (#18301)

[2020-03-25 13:20] atomiix commented on #18275
@SD1982 @khouloudbelguith  @marionf I'm not sure we can do something about that. It's not really when the side menu is displayed, it's related to the screen size. On a big screen you can have the side menu open and the date being display on only 1 line :

![Capture d’écran 2020-03-25 à 14 18 38](https://user-images.githubusercontent.com/2168836/77540614-aed2da00-6ea3-11ea-8c86-a4ba5b5afa3b.png)

[2020-03-25 13:26] florine2623 commented on #18307
Hi @DianaButkute ,
I manage to reproduce the issue with PrestaShop versions 1.7.5.2, 1.7.6.4 and 1.7.7.X.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-25 13:28] florine2623 commented on #18307
Hi @MatShir ,
Can we fix this issue in 1.7.7.X ?

Thanks!

[2020-03-25 13:37] Progi1984 commented on #17773
Fixed by #17853

[2020-03-25 13:37] #17773 closed, assigned to matthieu-rolland

[2020-03-25 13:38] florine2623 commented on #18296
Hi @ashtonlance ,
Despite our several trials, we could not reproduce your issue with the provided information.
Here's my result :
![Capture d’écran 2020-03-25 à 14 35 40](https://user-images.githubusercontent.com/16019289/77542160-096d3580-6ea6-11ea-8280-92addca81e36.png)

What is the version of the 1-click upgrade are you using ? I am using v1.10.1

Thanks!

[2020-03-25 13:39] Progi1984 commented on #18122
Fixed in 1.7.7.x branch

[2020-03-25 13:43] florine2623 commented on #18301
Hi @simontingkamlee ,

Please send the screenshot of ```ps_customer``` structure once again, i did not receive it.
Could you upload it on GitHub directly and not by email please ?

Thanks!

[2020-03-25 13:48] ashtonlance commented on #18296
@florine2623 Thanks for checking into this!
I'm using 1-click upgrade v4.10.1
![Screen Shot 2020-03-25 at 9 47 07 AM](https://user-images.githubusercontent.com/13652692/77543190-b2ec0100-6e7d-11ea-976b-82573f7da88e.png)

[2020-03-25 14:02] khouloudbelguith commented on #18299
@Prestaworks, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.4, PS1.7.6.3, PS1.7.6.2, PS1.7.6.1, PS1.7.6.0.
In the PS1.7.5.2, it is OK => https://drive.google.com/file/d/1zsVc5Bif-ib32RBLROB7vQlUsFF7C5Vb/view?usp=sharing
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a p

[2020-03-25 14:04] simontingkamlee commented on #18301
Sorry, here's the screenshot:

![customer](https://user-images.githubusercontent.com/54059552/77544802-7ef7f680-6ee4-11ea-8e04-b2ab8b426230.jpg)

[2020-03-25 14:17] Betafer opened #18310 "File Not Found on order page"
File not found going to order page if url rewrite missing in SEO & URL

maybe this problem is caused by prestashop update, i don0t know

adding url rewrite all works fine.
<img width="1255" alt="Schermata 2020-03-25 alle 15 10 39" src="https://user-images.githubusercontent.com/5024055/77546171-c44c0200-6eab-11ea-908e-ea03270bfc20.png">
<img width="716" alt="Schermata 2020-03-25 alle 15 10 22" src=

[2020-03-25 14:18] Progi1984 commented on #18062
Fixed by #18064

[2020-03-25 14:18] #18062 closed, assigned to eternoendless

[2020-03-25 14:27] evgenij-sobolev commented on #14954
The same problem on Presatasip 1.7.6.4 and Firefox 74

[2020-03-25 14:29] florine2623 commented on #18310
Hi @Betafer ,
Despite our several trials, I could not reproduce your issue with the provided information.
Even when I deleted the order page from SEO & URL, the page still shows on front-office.
Did you do an upgrade ? If yes, what is your old PrestaShop version ?
Thanks to check !

[2020-03-25 14:31] Betafer commented on #18310
Yes, from 1.5.6.3

[2020-03-25 14:32] florine2623 commented on #18310
Did you use 1-click upgrade module ? or another tool ?

[2020-03-25 14:36] florine2623 commented on #18301
Hi @simontingkamlee ,

Could you send me the data that your want to save in the customer page ?

[2020-03-25 14:38] Betafer commented on #18310
Yes 1 click upgrade to 1.6 the to 1.7

i also notice the same error with search pages, but error did't solve by enter the page url like with order page ..

[2020-03-25 14:42] florine2623 commented on #18310
Thanks for the details,

Maybe the error comes from your .htaccess.
Could you try to :
- Rename .htacess to .htaccess_old
- In SEO & URL, disable friendly URL and save
- Enable friendly URL and save again
- Check your order page

Thanks

[2020-03-25 14:46] QuentinMaypic commented on #18300
Hello,

So here are my logs :

`[2020-03-25 15:42:28] php.INFO: User Deprecated: AdminMarketing is a deprecated tab since version 1.7.0 and "Default" will be removed in 1.7.1.. Upgrade module using the docs: http://build.prestashop.com/news/how-we-reorganized-main-menu-prestashop-1.7/. {"exception":"[object] (ErrorException(code: 0): User Deprecated: AdminMarketing is a deprecated tab since versio

[2020-03-25 14:50] matks commented on #17085
As discussed [here](https://github.com/PrestaShop/PrestaShop/pull/17179#issuecomment-601608649) we await for the specs for the behavior of the "free gift" cart rule in order to avoid additionnal back-and-forths with QA

[2020-03-25 14:52] Betafer commented on #18310
But should it work if the url is empty?

[2020-03-25 14:56] florine2623 commented on #18296
Hi @ashtonlance ,
You could check these few things :
- allow_url_fopen is activated on your host
- activate debug mode in PrestaShop
- send us error log in /var/logs

Thanks to check and update!

[2020-03-25 15:00] Betafer commented on #18310
The url field is empty, I don't think your procedure works.
Regards

[2020-03-25 15:00] florine2623 commented on #18310
No the field is required (*), when you try to save it without filling the field, you get an error :
![Capture d’écran 2020-03-25 à 15 59 23](https://user-images.githubusercontent.com/16019289/77550663-ad101300-6eb1-11ea-96c5-870dc72c10e2.png)

[2020-03-25 15:02] simontingkamlee commented on #18301
![customer 2](https://user-images.githubusercontent.com/54059552/77550927-9dfa8680-6eec-11ea-8852-d5cd059cb26c.jpg)

[2020-03-25 15:03] Betafer commented on #18310
Ok, the update made this error, no way

[2020-03-25 15:06] colinegin commented on #17085
I thought this issue was meant to fix the last bug that was supposed to be fixed by Tadas.
IMO, the "free gift cart rule" behaviours are to be managed in this issue : https://github.com/PrestaShop/PrestaShop/issues/18119.
I'm currently updating the issue with the specs.

[2020-03-25 15:06] florine2623 commented on #18300
Hi @QuentinMaypic ,
Are you using a module that has a feature on the product page in BO ?
Thanks!

[2020-03-25 15:10] florine2623 commented on #18310
So, it could be that something went wrong with your update and don't have some of the database columns that were added for 1.7.6.3
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.3 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2020-03-25 15:20] QuentinMaypic commented on #18300
Hi @florine2623 ,
I deactivate all plugins (still installed), but I still have the problem...

[2020-03-25 15:21] florine2623 commented on #18301
So, it could be something went wrong with your update and don't have some of the database columns that were added for 1.7.6.4
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2020-03-25 15:22] #18122 closed, assigned to matks

[2020-03-25 15:26] QuentinMaypic commented on #18300
Ok so I focused on the chrome console, and I see the is 2 urls called when I click on add product.
First :
https://dev2.negoce-chr.com/admin968gwp3ac/index.php/sell/catalog/products/new?_token=thetoken
Then :
https://dev2.negoce-chr.com/admin968gwp3ac/index.php/sell/catalog/products/24?_token=thetoken

The first one response is a 302, so maybe here is my problem (nginx conf probably).

[2020-03-25 15:27] florine2623 commented on #18300
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
If you want, you can take a support plan so the team can dig into your issue more : https://addons.prestashop.com/en/support/16298-prestashop-support-plan.html

[2020-03-25 15:27] #18300 closed, assigned to nobody

[2020-03-25 15:27] Progi1984 commented on #16836
Fixed by #18221

[2020-03-25 15:27] #16836 closed, assigned to sam-pires

[2020-03-25 15:34] QuentinMaypic commented on #18300
Actually it works the same way with debug mode, and it is working...
Where can I find the last nginx configuration for prestashop ?

[2020-03-25 15:39] florine2623 commented on #18300
Here's the last nginx config : https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf

[2020-03-25 15:42] Betafer commented on #18310
Ok Thanks

[2020-03-25 15:43] florine2623 commented on #18310
Can we now close the issue ?

[2020-03-25 15:46] Betafer commented on #18310
Yes

[2020-03-25 15:49] #18310 closed, assigned to nobody

[2020-03-25 15:55] matks commented on #18297
Hi @matteolavaggi please be careful, you might did not want to, but the tone of your message sounds very aggressive. I guess it comes from the frustration, and we understand this frustration, but using harsh words will not make things go forward.

The statistics modules of PrestaShop were release a lot of time ago. We now know, from multiple user feedbacks, that they are not robust as they only pr

[2020-03-25 16:00] matks commented on #18284
@khouloudbelguith It seems @SD1982 is talking about the FO page, not the BO page 🤔 ?

[2020-03-25 16:10] khouloudbelguith commented on #18284
Hi @matks,

Yes, it is an FO issue.
I just compared with the BO and that it is ok in the BO.

Thanks!

[2020-03-25 16:27] colinegin commented on #18210
Hello @Betafer, thanks for your feedback.
What about creating a fake order status just to be able to download the delivery slip ?
Could you give us more details of when you need to download an invoice or a delivery slip even though the order has not been paid or processed yet ?

[2020-03-25 16:28] simontingkamlee commented on #18301
Can you be more specific and advise which tables I should look for. There are 2800+ lines in the schema and it's kind of difficult to compare.

Here's the schema of my database.
[schema.sql.zip](https://github.com/PrestaShop/PrestaShop/files/4382120/schema.sql.zip)

I am using php 7.3 instead of 7.1. Could this be the problem?

[2020-03-25 16:37] Betafer commented on #18210
Hello, @colinegin

having the button seems to me the simplest solution, also because if I change the order status the customer will not see the order in the correct state.
I may need an invoice before payment, because the customer needs an invoice in order to pay.

I need the transport document to prepare the shipment, but now I have to set the order as shipped and then create the transport docume

[2020-03-25 16:47] ashtonlance commented on #18296
Thanks @florine2623

allow_url_fopen is activated

Here's a screenshot of the network tab right after the error happens:
![Screen Shot 2020-03-25 at 12 44 13 PM](https://user-images.githubusercontent.com/13652692/77562673-b2139900-6e96-11ea-8039-58334823b59b.png)

And here's the log file:
[dev.log](https://github.com/PrestaShop/PrestaShop/files/4382247/dev.log)

[2020-03-25 16:58] khouloudbelguith commented on #18301
@simontingkamlee,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgra

[2020-03-25 17:07] colinegin commented on #17085
After discussing with @matks, we've decided we can close this issue as most of the work has been done. There are 2 bugs left related to this issue, issues have been added to the 1.7.7 kanban:
- bug on the shipping price which is deducted two times (both on FO & BO) --> follow issue #17875
- bug on gift products added to manually created orders --> follow issue #18119

FYI @Robin-Fischer-PS

[2020-03-25 17:07] #17085 closed, assigned to zuk3975

[2020-03-25 17:20] QuentinMaypic commented on #18300
Ok so I finally found the problem.
Everything works find except from the twig part in product.html.twig.
I remove part of the file and found that the method "renderHooksArray" from HookExtension class provoke my error.
**I change in the method  "ob_clean()" with "ob_end_clean()" and it is woking well now.**
I tried to debug a little and found that the "dispatchRenderingWithParameters" method retur

[2020-03-25 17:46] colinegin opened #18312 "[Create order] Product images are wrong in cart details"
In Create order page, when clicking on Details of a previously created cart, product images displayed are not correct. See screenshot below : the products in the cart use the combination "White", but associated images show black products.

![image](https://user-images.githubusercontent.com/35263827/77568364-cf615b00-6ec8-11ea-8219-baf9de981f4d.png)

It is correct once you use the cart in the new c

[2020-03-25 18:15] Kimcitaw commented on #10958
Hi, I'm having the same issue. I'm using Prestashop 1.7.6.4 and I can see the changes in the BO but not in the site. Not even changin just the description text, picture order or link.
I've tried cleaning cache both of my explorer and prestashop, uninstalling and reinstalling the module, and nothing is helping me fix this issue.

[2020-03-25 18:19] jolelievre commented on #18307
The scope needs to be defined for this bug indeed, however I have a question:
It's indeed very likely that the way the select box is generated is incorrect, it only gets payment modules which implement the `paymentOptions` hook, but it doesn't fetch the array of payment options

So here's my question regarding your module, do you use the `PaymentOption` array?

[2020-03-25 18:25] jolelievre commented on #18307
Here is some technical information to fix this problem in 1.7.7:

#### technical solution

In the `InstalledPaymentModulesChoiceProvider` we only fetch the list of modules that implements the `paymentOptions` hook through the `PaymentModule::getInstalledPaymentModules()`, but we need the return of the hook instead which returns an array of `PaymentOption`

Instead we should use `PaymentOptionsFind

[2020-03-25 20:03] rmasq commented on #18251
Hi @khouloudbelguith

I had upgrade this module and the rest and I have the same error: This is the log:

[INTERNAL] /var/www/vhosts/comercialpeluquerias.com/httpdocs/src/PrestaShopBundle/PrestaShopBundle.php line 64 - Error: Class 'PrestaShopBundle\DependencyInjection\Compiler\OverrideTwigServiceCompilerPass' not found #0 /var/www/vhosts/comercialpeluquerias.com/httpdocs/vendor/symfony/symfony/sr

[2020-03-25 20:06] marlon8511 commented on #18151
@ftardio @khouloudbelguith
Hello I fixed the problem using this:

 "src/Adapter/MySQL.php"

in "getFieldMapping" method:
...
'position' => [
                'tableName' => 'category_product',
                'tableAlias' => 'cp',
                **'fieldName' => 'position',  // <- ADD THIS**
                'joinCondition' => '(p.id_product = cp.id_product)',
                'joinType' => self::IN

[2020-03-25 20:10] marlon8511 commented on #16130
@agalussio
Hello I fixed the problem using this:

 "/modules/ps_facetedsearch/src/Adapter/MySQL.php"

in "getFieldMapping" method:
...
'position' => [
                'tableName' => 'category_product',
                'tableAlias' => 'cp',
                **'fieldName' => 'position',  // <- ADD THIS**
                'joinCondition' => '(p.id_product = cp.id_product)',
                'joinType' =

[2020-03-25 22:39] weddingtextile commented on #17318
![ClearCache](https://user-images.githubusercontent.com/44600313/77591887-a907e380-6ef9-11ea-82cb-3e96ad76de67.png)
Copy URL on "Clear Cache" button.
Add it to cron jobs on hosting.

[2020-03-25 23:44] arouiadib commented on #18289
Hello guys,
I can't reproduce this issue in 1.7.7.x. Quantities in product row are updated after adding a certain quantity of that product.
Thank you very much

[2020-03-26 04:16] danish234 commented on #14653
Hello Mariem-abid

i also have the same issue and removing cache manually is not working

[2020-03-26 04:26] danish234 commented on #14653
i have created folder "dev" inside var/cache/ and put appParameters.php

and now it's giving this error

Fatal error: Uncaught Error: Class 'Db' not found in /var/www/html2/config/alias.php:48 Stack trace: #0 /var/www/html2/config/alias.php(53): pSQL('configuration') #1 /var/www/html2/classes/Configuration.php(155): bqSQL('configuration') #2 /var/www/html2/classes/Configuration.php(209): Configura

[2020-03-26 06:26] seifygsm commented on #14547
Employee who adds manually a payment is very important. please add this.

[2020-03-26 07:48] ftardio commented on #18151
@marlon8511
Yes! Your solution works! Thank you very much, it solves the problem.... so it's evident there is a problem (or a bug) with module....

[2020-03-26 07:54] DianaButkute commented on #18307
Yes we are using `PaymentOption` array.

[2020-03-26 08:03] matteolavaggi commented on #18297
You read right, my tone is so aggressive you explain better in your answer:
"The statistics modules of PrestaShop were release a lot of time ago"

Like a long time prestashop users I'm feel joked by the way ps team handle
this software. We spent lot of money in the ps universe every years and
still have bug from years and years reported in new release. Lot of
function that complete not work and no

[2020-03-26 08:10] khouloudbelguith commented on #17814
Hi @dinospla,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-26 08:10] #17814 closed, assigned to nobody

[2020-03-26 08:12] khouloudbelguith commented on #17519
Hi @Cedricdelcroix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-26 08:12] #17519 closed, assigned to nobody

[2020-03-26 08:13] khouloudbelguith commented on #17820
Hi @NeoTrafy,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-26 08:13] #17820 closed, assigned to nobody

[2020-03-26 08:15] zuk3975 commented on #18312
just a note - technically its more like Order->Shipping Carts page bug (as the `details` redirects to cart view page), which is not yet enabled. Anyway, its only accessible from order create page in 1.7.7.x so I guess its not wrong to call it order bug. Ill take a look.

[2020-03-26 08:20] khouloudbelguith commented on #18251
Hi @rmasq,

I did not manage to reproduce the issue with PS1.7.6.4 after an upgrade from PS1.7.5.2 using the 1-click upgrade v4.10.1.
Could you please check the exact version of the autoupgrade module in the file [/Project_Folder/modules/autoupgrade/config.xml](https://github.com/PrestaShop/autoupgrade/blob/master/config.xml#L5)
Can you please provide us the log of your upgrade? It can be found in

[2020-03-26 08:32] Progi1984 commented on #17549
Fixed by #17526

[2020-03-26 08:32] Progi1984 commented on #17032
Fixed by #17526

[2020-03-26 08:32] #17032 closed, assigned to zuk3975, MatShir, Robin-Fischer-PS

[2020-03-26 08:34] khouloudbelguith commented on #18151
Hi @marlon8511,

If you have already fixed it on your end, please do send us a pull request so our developers can review it.
https://github.com/PrestaShop/ps_facetedsearch
Thanks!

[2020-03-26 08:41] Progi1984 commented on #18105
Fixed by #18266

[2020-03-26 08:41] #18105 closed, assigned to NeOMakinG

[2020-03-26 08:52] zuk3975 commented on #17549
Just to note, the issue is not 100% solved as in description. To avoid issues in FO, I still had to leave some fields required by the country( which is checked dynamically through javascript) as it was made before. Anyway, as planned, everything else with addresses should be fixed in next versions.

[2020-03-26 08:54] khouloudbelguith commented on #18307
Hi @jolelievre,

You can check with the `Skrill` module.
In the FO
![image](https://user-images.githubusercontent.com/16067358/77627661-843a5d00-6f47-11ea-89e8-69a31c2b31a0.png)
In the BO
![image](https://user-images.githubusercontent.com/16067358/77627787-b481fb80-6f47-11ea-96d1-7242baad7ea3.png)

Thanks!

[2020-03-26 08:54] zuk3975 commented on #18312
blocked by https://github.com/PrestaShop/PrestaShop/pull/17179

[2020-03-26 09:05] colinegin commented on #18312
@zuk3975 it does show gift products. You don't see it on the screenshot but in this cart I had added 2 cart rules with the t-shirt as a gift product.

[2020-03-26 09:12] zuk3975 commented on #18312
Oh right, gift products show up, but they supposed to be marked as GIFT I guess instead of having prices. Same as in create order page.

[2020-03-26 09:25] khouloudbelguith commented on #18300
Hi @QuentinMaypic,

You can navigate to your BO => Design => Position page => Search for the hook to show which module is transplanting to this hook.
For example
![image](https://user-images.githubusercontent.com/16067358/77630870-075db200-6f4c-11ea-819e-3786c78b6b4c.png)

Thanks!

[2020-03-26 09:29] khouloudbelguith commented on #10958
Hi @Kimcitaw,

I did not manage to reproduce the issue with PS1.7.6.4 and `ps_imageslider` v3.0.0.
https://drive.google.com/file/d/1CkORu9hfvOXUBgn7PSCkMW8YgbpDGutO/view?usp=sharing
This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-03-26 09:29] marionf commented on #18275
Maybe @NeOMakinG has an idea to fix that ?
Or do you confirm that we can't fix that ?

[2020-03-26 09:38] QuentinMaypic commented on #18300
Hi @khouloudbelguith ,

I did it, and removed all my plugins (it is a copy of my current developping website).
I also checked the database for the hook id 489 (adminProductExtra), and I have no module associate... I stop my investigation here, but I could have ride up the bug to find the data which cause the error.
Strange, but my fix solved the problem ;)

[2020-03-26 09:42] Progi1984 commented on #18157
Fixed by #18164

[2020-03-26 09:42] #18157 closed, assigned to jolelievre

[2020-03-26 09:57] khouloudbelguith commented on #14653
Hi @danish234,

If you use `opcache`, I think you have an issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/10998
you need to follow these steps: https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-476361695
[code]
Fixed with this PR: https://github.com/PrestaShop/docker/pull/193

Thanks!

[2020-03-26 10:15] Progi1984 commented on #17908
Fixed by #17920

[2020-03-26 10:15] #17908 closed, assigned to nobody

[2020-03-26 10:17] sam-pires commented on #18286
As discussed today with @jolelievre,

In legacy, there is no limit on the refund amount on a product on a partial refund.
The maximum is the product price.

-> In order to not disturb/impact current processes used by merchants, we decided it is better to **not change this behavior.**
We don't want to limit the merchants, they will be free to choose how much they want to refund, even if the refund

[2020-03-26 10:21] Robin-GH commented on #16826
Hi!
Any news on this issue?

Thanks!

[2020-03-26 10:33] Betafer opened #18316 "Prestashop 1.7.6.3 Template change problem"
By changing from a non default template to default and back all layout is messed up

* PrestaShop version: 1.7.6.3
* PHP version: 7.2

[2020-03-26 10:40] Progi1984 commented on #17655
Fixed by #17801

[2020-03-26 10:40] #17655 closed, assigned to atomiix, NeOMakinG

[2020-03-26 10:40] Progi1984 commented on #17656
Fixed by #17801

[2020-03-26 10:40] #17656 closed, assigned to TristanLDD, MatShir

[2020-03-26 10:40] Progi1984 commented on #17867
Fixed by #17801

[2020-03-26 10:40] #17867 closed, assigned to NeOMakinG

[2020-03-26 11:05] colinegin commented on #18312
About your last comment, we need to discuss with @MatShir to see what's the expected behaviour on this page. Thanks !

[2020-03-26 11:08] khouloudbelguith commented on #18316
Hi @Betafer,

Your ticket is a duplicate of #16838
So, I close it.
Thanks !

[2020-03-26 11:08] #18316 closed, assigned to nobody

[2020-03-26 11:08] khouloudbelguith commented on #18316
Duplicate of #16838

[2020-03-26 11:10] Robin-GH opened #18319 "Credit slip generated when refunding a discounted cart have incorrect amount"
Hello,

there is an issue only if you have more than one product in your cart.

2 products :
- 150 €
- 60 €
**SUBTOTAL : 210 € (150 + 60 €)**
20% discount : -42 €
**TOTAL : 168 € (120 + 48 €)**

The first article is returned. It should ensure a 120 € refund (150 - 20% = 150 - 30 = 120).
Once the return process is completed, I can chose to make a "partial refund" on the order and select the one pro

[2020-03-26 11:11] go-sudo opened #18320 "Add datatables rowreorder"
#### Is your feature request related to a problem?
YES

The tables on Prestashop are not responsive

#### Describe the solution you'd like
integrate the
https://datatables.net/extensions/rowreorder/examples/initialisation/responsive
A clear and concise description of what you'd want to happen.

[2020-03-26 11:11] Betafer commented on #16838
Thanks, for me this is bug not a feature request

[2020-03-26 11:18] khouloudbelguith commented on #18320
Hi @go-sudo,

Thanks for your report.
Can you please provide us some screenshots about your problem.

Thanks!

[2020-03-26 11:23] khouloudbelguith commented on #18319
Hi @Robin-GHn

Thanks for your report.
Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/16826, is it?

Thanks!

[2020-03-26 11:24] presteus commented on #18247
Hi,

You can find the docker image at https://github.com/presteus/.prestashop-18247. The image is based on **7.3-fpm-buster** but i have test with **7.3-frm-stretch* and the error happens too.

N.B: On Windows, the problem do not appears.

[2020-03-26 11:33] khouloudbelguith commented on #18247
Hi @presteus,

I have an error in the Step 7/12
[code]
![image](https://user-images.githubusercontent.com/16067358/77642410-e4d49480-6f5d-11ea-86cc-1d111feb9a46.png)

Thanks!

[2020-03-26 11:36] khouloudbelguith commented on #18289
Hi @arouiadib,

I attached a screen record
https://drive.google.com/file/d/1EVGNuHhMwnnvEgKm7h5-mNqhUijNywnQ/view?usp=sharing

Thanks!

[2020-03-26 11:41] Robin-GH commented on #18319
@khouloudbelguith To be honest I am not sure: #16826 also involves vounchers which is not really our concern here.

[2020-03-26 11:43] presteus commented on #18247
That's weird, I running this actually.
Do you run on Windows or Linux ?

[2020-03-26 11:44] khouloudbelguith commented on #18319
@Robin-GH, a voucher is a discount.
You have a discounted cart which is a discount, is it?

Thanks!

[2020-03-26 11:45] khouloudbelguith commented on #18247
@presteus, Debian GNU/Linux 8 (jessie) 64 bits

Thanks!

[2020-03-26 11:48] Robin-GH commented on #18319
@khouloudbelguith #16826 mentions "_a voucher which is created through a credit slip and used on another order_", this is not the case here. the vouncher was created as an "cart rule" in "/index.php?controller=AdminCartRules"

[2020-03-26 11:48] presteus commented on #18247
I see several _Unable to locate_, he seems to be a network issue between your host and docker.
Can you check this ?

[2020-03-26 12:08] simontingkamlee commented on #18301
I will try to downgrade from php7.3 to 7.2 and see if that would help.

I found something peculiar though. The problematic customer records were imported.

I tried to create a new customer from the front end and saved it. Then go into the back end, opened the new customer record, edited and saved it. There’s no problem.

I compared the new customer and the imported customer record in phpMyAdmin, I

[2020-03-26 12:30] jolelievre commented on #17549
Ok, thank you @zuk3975
As explained further improvement will be done in next versions, this epic covers all the expected improvement: https://github.com/PrestaShop/PrestaShop/issues/17550

[2020-03-26 12:30] #17549 closed, assigned to zuk3975

[2020-03-26 13:34] arouiadib commented on #18289
Hii @khouloudbelguith , how are you?
Thank you very much for the screen record, I see the problem now. let me try to fix.

[2020-03-26 13:36] florine2623 commented on #18301
Hi @simontingkamlee ,
Did you use PrestaShop import tool to import your customers ? Or another one ?
Thanks!

[2020-03-26 13:37] go-sudo commented on #18320
Hi @khouloudbelguith

I installed the htmlbox module and I added the code

`<script language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script language="javascript" src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
<script

[2020-03-26 13:42] florine2623 commented on #18319
Hi @Robin-GH ,
Here's the result I have following your steps :
![Capture d’écran 2020-03-26 à 14 25 22](https://user-images.githubusercontent.com/16019289/77651862-ae9f1100-6f6d-11ea-886b-c8d35c68fa1f.png)
I have the right amount in credit slip : 50€

Here's the screen recording :
https://drive.google.com/file/d/1F1jmMjRd3iqBDN7w-q5294axaeQOd_Xb/view

Thanks to check and feedback!

[2020-03-26 13:47] florine2623 commented on #18296
Hi @ashtonlance ,
Could you send me the following file :
```your_shop/admin/autoupgrade/tmp/log.txt```
Thanks!

[2020-03-26 13:51] florine2623 commented on #18320
Hi @go-sudo ,
Is it a PrestaShop module ? Could you send us the link ?

Thanks!

[2020-03-26 13:52] ashtonlance commented on #18296
@florine2623 Sure!

[log.txt](https://github.com/PrestaShop/PrestaShop/files/4387517/log.txt)

[2020-03-26 14:05] florine2623 commented on #18296
After checking your file, we have noticed that the copy of the files suddenly stops during the upgrade. You should check with your host if you have enough storage space.
Thanks!

[2020-03-26 14:24] simontingkamlee commented on #18301
Yes, I used prestashop import to import the list generated by your
export module.

Simon

----- Original Message -----
From: "PrestaShop/PrestaShop"
<reply@reply.github.com>
To:"PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc:"simontingkamlee" <simonlee@hago-group.com>, "Mention"
<mention@noreply.github.com>
Sent:Thu, 26 Mar 2020 06:36:56 -0700
Subject:Re: [PrestaShop/PrestaShop] Cannot

[2020-03-26 14:24] ashtonlance commented on #18296
Hi, I'm not sure that's true. We're currently using approx 2% of our available disk space.

[2020-03-26 14:27] florine2623 commented on #18296
Could you check with your host directly ?

[2020-03-26 14:28] florine2623 commented on #18301
Can you send me the exact name of the module or the link of the module you are using ?

[2020-03-26 14:31] charles-lebrun opened #18328 "blockreassurance - ajax save request failed with 404 page"
### Describe the bug

when I edit some option in the module or i try to save when a save button exist
an ajax request is send to this URL
https://MY_URL/adminxxxxxxx/index.php?controller=AdminBlockListing&token=TOKEN

the page respond with a 200 code and page not found content
So it's not possible to edit some configuration of the module

#### Expected behavior

can edit and save modification

###

[2020-03-26 14:32] khouloudbelguith commented on #18247
@presteus,

How can I check this?
I'm using other Virtual Environments using Docker and they are OK.

Thanks!

[2020-03-26 14:35] florine2623 commented on #18328
Hi @charles-lebrun ,
The version of PHP you are using is not compatible with your version of PrestaShop.
For PS 1.7.6.4, you should be using PHP 7.2
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-03-26 14:38] charles-lebrun commented on #18328
Hello
Hi just switch to PHP 7.2.28 and i got exactly the same error

[2020-03-26 14:49] florine2623 commented on #18328
What version of he module are you using ?
I tried both versions v3.0.1 and v4.1.1, it worked fine.

[2020-03-26 14:52] charles-lebrun commented on #18328
I'm using version 4.1.1
i can uninstall and reinstall if you think it can help

[2020-03-26 14:54] florine2623 commented on #18328
Yes please

[2020-03-26 14:59] charles-lebrun commented on #18328
ok I reinstall completely the module and i reset config
now it seems to work :)

[2020-03-26 15:00] florine2623 commented on #18328
Ok perfect :)
Thanks for the feedback.

[2020-03-26 15:00] #18328 closed, assigned to nobody

[2020-03-26 15:11] TomasVotruba commented on #15545
You can use it since 2018/04: https://www.tomasvotruba.com/blog/2018/04/09/try-psr-12-on-your-code-today/

[2020-03-26 15:23] Robin-Fischer-PS opened #18330 "Wrong currency sign in new order list"
#### Describe the bug

In order listing, when an order is made in a currency different from the default one, the currency sign is wrong : It's the sign from the default currency instead of the one from the order.

#### Expected behavior

Order's currency sign should be displayed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In BO : Add a second currency to shop
2. In FO : Make an

[2020-03-26 15:27] Robin-GH commented on #18319
Hi @florine2623 and thank you for your feedback.
I am very sorry, my report was missing a huge part: there is an issue only if you have more than one product in your cart.

2 products :
- 150 €
- 60 €
**SUBTOTAL : 210 € (150 + 60 €)**
20% discount : -42 €
**TOTAL : 168 € (120 + 48 €)**

The first article is returned. It should ensure a 120 € refund (150 - 20% = 150 - 30 = 120).
Once the return pro

[2020-03-26 16:01] florine2623 commented on #18319
I manage to reproduce the issue with PrestaShop version 1.7.6.4 and 1.7.5.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-26 16:06] Progi1984 commented on #9850
Fixed by #17938

[2020-03-26 16:06] #9850 closed, assigned to sowbiba

[2020-03-26 16:19] gaelson commented on #17318
Hello, Thank you for all.
Please when I click on Clear cache I get en error "Indexation failed".
Please how to ?

Le mer. 25 mars 2020 à 22:40, Ivan <notifications@github.com> a écrit :

--
*Gaël ADELA*

*"**La logique vous conduira d'un point A à un point B. L'imagination et
l'audace vous conduiront où vous le désirez*.*" *
*Albert Einstein*

[2020-03-26 16:21] khouloudbelguith opened #18333 "BO - Order page - The option "Amount of your choice:" is not displayed when we try to return a discounted product"
#### Describe the bug

In the BO => Order => Order details page, the option "Amount of your choice:" is not displayed when we try to return a discounted product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Customer Service => Merchandise Returns page
2. Enable returns and Save
3. Create a cart rule with a discount 20% for example without code or with code
3. Go to the

[2020-03-26 16:24] khouloudbelguith commented on #18333
Ping @colinegin @PrestaShop/prestashop-product-team, there is an option is missing in the Order page.

Thanks!

[2020-03-26 16:28] khouloudbelguith commented on #18333
Related to #18319

[2020-03-26 16:36] weddingtextile commented on #17318
[Add a new issue](https://github.com/PrestaShop/PrestaShop/issues/new/choose)

[2020-03-26 16:59] matks commented on #15545
Ooooh nice ! Thanks !

[2020-03-26 17:00] LouiseBonnard commented on #18277
Hello @jcvoyeux, thank you and congratulations on your first pull request! As far as I can see, you've done it on your fork [here](https://github.com/jcvoyeux/PrestaShop/pull/1) so it has not reached the PrestaShop project so far and it is normal. A few more steps and it will:

- merge your pull request so that your code modification integrates your fork
- go back to your fork [right here](https:/

[2020-03-26 18:19] jolelievre commented on #17958
Hi @Arman-Hosseini just to know, did you have time or this issue?
If not, no worries I can take your place

[2020-03-26 18:37] presteus commented on #18247
@khouloudbelguith You can use docker utilities like _docker network_ to inspect the network between your container and your host.

I closed this issue due to commit https://github.com/PrestaShop/PrestaShop/pull/18285

Thanks all for your interest.

[2020-03-26 18:37] #18247 closed, assigned to nobody

[2020-03-26 18:59] Arman-Hosseini commented on #17958
Hi @jolelievre, I'm involved in family problems and unfortunately my grandfather was infected with the COVID-19 virus.
Can you also send your email? I want to talk about working in PrestaShop.
Thank you for taking my place.

[2020-03-26 20:35] jcvoyeux commented on #18277
I think it's done now.
😉

________________________________
De : LouiseBonnard <notifications@github.com>
Envoyé : jeudi 26 mars 2020 18:00
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : jcvoyeux <jcvoyeux@hotmail.com>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Id_Reference In the Carrier list. (#18277)

Hello @jcvoyeux<https://github.com/jcvoyeux>, th

[2020-03-26 22:04] go-sudo commented on #17668
Hi @khouloudbelguith

on a fresh prestashopinstallation i get this error

``mod_fcgid: stderr: PHP Fatal error: require(): Failed opening required '/var/www/vhosts//httpdocs/var/cache/prod/Container6uvjijv/getPrestashop_AccessDenied_ListenerService.php' (include_path='/var/www/vhosts//httpdocs/vendor/pear/pear_exception:/var/www/vhosts/httpdocs/vendor/pear/console_getopt:/var/www/vhosts//httpdocs/

[2020-03-26 23:29] V4LVE opened #18335 "Back office bug"
#### Describe the bug

Im trying to edit my store. I can access the store, but everytime i try to change something it crashes back to the login screen to the back office

#### Expected behavior

Being able to actually edit my store.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Log on
2. Click on Design
3. Click on Theme and logo
4. Change the image
5. Press save
6. Crashes me bac

[2020-03-27 01:10] ets-soft opened #18336 "Could not download remote file (installation and localization pack file) when upgrade or install new fresh Prestashop"
#### Describe the bug

Cannot upgrade to new version because not able to download Prestashop installation file.
Function **public function copy($originFile, $targetFile, $overwriteNewerFiles = false)** is not working!
The problem started to happens (not always but very often) when the 1.7.6.4 was released, looks like there is a problem with remote server, it's not stable, sometimes it happens (man

[2020-03-27 03:16] simontingkamlee commented on #18301
![export customer module](https://user-images.githubusercontent.com/54059552/77717833-612dad00-701c-11ea-942b-d9a00aac5854.png)

[2020-03-27 08:28] Gipielle opened #18337 "Product gruop"
Hello,

I would like to be able to group the products but not as combinations, but as a group of articles that have a common description of images but with different codes and prices.
The problem with the combinations lies in the fact that I have to calculate all the prices according to the base price and I cannot set the price of each single product.

We allow the sale of screws of different size

[2020-03-27 08:31] JBWModules commented on #18335
Wrong PHP Version, Prestashop 1.7.6. is only compatible to PHP 7.2

[2020-03-27 08:35] sarahdib commented on #18335
Hello @V4LVE

Thank you for the report
PrestaShop 1.7.6 isn't compatible withe php 7.3.

You need to contact your hosting provider and ask him to switch to php 7.2 lik @JBWModules said.

Have a  nice day.

[2020-03-27 08:35] #18335 closed, assigned to sarahdib

[2020-03-27 08:46] sarahdib commented on #18337
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-03-27 08:46] #18337 closed, assigned to sarahdib

[2020-03-27 08:48] Gipielle commented on #18337
Sorry a choose issue instead of feature request

[2020-03-27 09:11] Progi1984 commented on #16163
Fixed by #16576 15100

[2020-03-27 09:11] #16163 closed, assigned to nobody

[2020-03-27 09:21] LouiseBonnard commented on #18277
@jcvoyeux, you need to follow [this link ](https://github.com/PrestaShop/PrestaShop/compare/develop...jcvoyeux:jcvoyeux-patch-2)(thanks @matks) and click on the green button and fill out the form to create the pull request on the PrestaShop project.

![Capture d’écran 2020-03-27 à 10 18 24](https://user-images.githubusercontent.com/32565890/77741100-9d5d0f80-7014-11ea-8199-1f173936e9ec.png)

[2020-03-27 09:52] alex4102 commented on #9795
Up

[2020-03-27 09:59] Dupflo opened #18338 "Module Permission are not updated"
Hello,

I cannot add permissions to Detail Admin Menu which is the parent which hook 1 click module
My goal is to set admin permissions to the Prestablog menu.

See video here : https://drive.google.com/open?id=1VqBEw6CupEBMK1Z-7hIvbtaqPhO5aXOk

Here is the configuration of my Prestashop

Prestashop Version: 1.7.6.4
Server: nginx/1.16.1
PHP : 7.1.33-13+0~20200224.34+debian9~1.gbp2471e1

How to rep

[2020-03-27 09:59] Dupflo opened #41011 "Module permissions are not updated for restriction group"
### Describe the bug

I cannot add permissions to Detail Admin Menu which is the parent which hook 1 click module
My goal is to set admin permissions to the Prestablog menu.

See video here : https://drive.google.com/open?id=1VqBEw6CupEBMK1Z-7hIvbtaqPhO5aXOk

### Steps to reproduce
1- Download the 1click module maybe or any module that are using Details Admin Tab
2- Create a new user group
3- Try

[2020-03-27 10:50] matks commented on #17838
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17965/

[2020-03-27 10:50] #17838 closed, assigned to matks