[2020-12-15 19:38] kpodemski commented on #22430
I can confirm this issue on PrestaShop 1.7.6.x and Chrome 87.0.4280.88

[2020-12-15 20:00] sotirisa opened #22439 "Upgrade from 1.7.6.9 to 1.7.7.0 orders problem"
Hi, after the upgrade in the orders section I see the orders like that and this is not right I think.
![orders](https://user-images.githubusercontent.com/54579601/102266272-e21d3380-3f20-11eb-9b62-930bc9a2e037.png)

[2020-12-15 20:02] joaolago1113 commented on #22393
@hibatallahAouadni No, doesn't look like the same problem. The fact is the product doesn't show at all when I search for its full reference.
I've seen a bug issue of this new fuzzy search function before it was released for the 1.7.7.0 version, which reported a problem with using characters like "-", and it could be related but I'm having trouble finding that issue now somehow.

[2020-12-15 20:14] joaolago1113 commented on #22393
@hibatallahAouadni
I just fixed it!
I just recreated the entire index from the BO and it's alright now.
The index didn't miss any product, but recreating it fixed this issue somehow... maybe it's a good idea for people to recreate the index after updating to the new 1.7.7.0 version and using fuzzy search.

[2020-12-15 20:15] #22393 closed, assigned to nobody

[2020-12-15 20:16] radioeventos commented on #22414
I suppose it's the behavior that has to be expected, but I don't understand several things:
First, why if it's a state that doesn't have to go back, as specified in Prestashop docs, it's necessary for returns to work if the service is already activated elsewhere and there's already the circumstance that the status has to be delivered for them to workand for as long as it is determined. By the way,

[2020-12-15 20:32] SimonGrn commented on #22439
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-15 20:32] #22439 closed, assigned to nobody

[2020-12-15 21:12] matks commented on #22439
@sotirisa looks like a CSS issue.
I would suggest
- clear browser cache
- check there is no module plugged on Order page that would not be compatible with PS 1.7.7
- are you using php7.4 or php8 ? if yes, PrestaShop is not compatible with them (not yet)

[2020-12-16 00:38] ProteanCode opened #22440 "ps_newproducts is missing in 1.7.7.0, and stopped to work after upgrade from 1.7.6.4"
#### Describe the bug

After upgrading to 1.7.7.0 from 1.7.6.4 the newest products dissapeared from the main page.

During digging I have noticed that ps_newproducts is nor present in a new prestashop installation, nor I can install it from the marketplace.

#### Expected behavior

Well, we want to have the newest products on main page...

#### Steps to Reproduce

Upgrade from 1.7.6 to 1.7.7?

###

[2020-12-16 07:55] zell9999 opened #22441 "Pagination in backoffice products after filtering by category PS1.7.6.1"
### Describe the bug
When you remove the filter category in Catalog>Products, the number of products showed are 300 (instead 20).

Maybe the problem was solved in lastest versions of Prestashop. I can not update my Prestashop version, we need to know how to fix that in PS1.7.6.1.

### Steps to reproduce
1. Go to Catalog>Products
2. Set "Show 20 products per page"
3. Filter by any category
4. Chang

[2020-12-16 07:59] lucmichalski commented on #22259
Hi guys,

Hope you are all well !

Any updates on this one ? It would be really convenient to monitor all the logs from Prestashop with ELK.

And honestly, it is quite important for being compliant with the **RGPD rules** for insuring the framework sanctity from PHP errors and warnings.

So, please, guys, provide a beginning of implementation for this overriding hook writing logs for the frontend

[2020-12-16 08:07] matks commented on #22430
It seems it is not 100% clear how Chrome displays its warning (some people have the scary info message, some have not) but nonetheless the root issue us clear: following a successfull customer creation, user is redirected to homepage without https even if the shop is full https.

So I suggest the following bug scenario instead:

1. Install the last version of Google Chrome, install PrestaShop 1.7.

[2020-12-16 08:11] matks commented on #22415
Hi @madkot yes, when pages are migrated from the legacy framework of PrestaShop to Symfony, it might impact the modules hooked on the page. The system has changed.

Moreover if you had modified the code of AdminCmsController.php, this file was _removed_ from PS 1.7.6 and replaced with a Symfony Controller.

When a BO page is switched from legacy framework of PrestaShop to Symfony, the customizatio

[2020-12-16 08:11] #22415 closed, assigned to nobody

[2020-12-16 08:14] matks commented on #22425
@idnovate indeed the cache strategy of this function is flawed

Maybe one solution would be to have 2 cache keys:
- `$this->_products`
- `$this->_products_full_info`

[2020-12-16 08:27] hibatallahAouadni commented on #22437
Hello @tom75

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1nr0yOwUFZAHrMdBTFDX3-P_JTFIedjkU/view

Please check and feedback.

Thanks!

[2020-12-16 08:32] tom75 commented on #22437
Hello Hibatallah,

Your video shows exactly the same problem in your installation – as it is just not ok to just have the shipping costs in the line of the delivery note.

Best Regards
Thomas

From: Hibatallah Aouadni [mailto:notifications@github.com]
Sent: Mittwoch, 16. Dezember 2020 09:27
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] delivery note amount not c

[2020-12-16 08:37] hibatallahAouadni commented on #22437
Hello @tom75

The amount of Delivery is new feature added to PS1.7.7.0, as you can see the amount is equal to shipping cost.
Ping @MatShir I believe the amount of Delivery is supposed to be equal to shipping cost, is that so?

![image](https://user-images.githubusercontent.com/23308427/102324481-360c3480-3f82-11eb-932b-eb96dd3f497c.png)

Thanks!

[2020-12-16 08:41] tom75 commented on #22437
Well, that would be strange, as the line is about the delivery slip, which is also linked there and also showing then (when you open it) not just the shipping costs - therefore (and also i think in older versions it was not like this) at least for me it would be just not logically

[2020-12-16 08:56] okom3pom commented on #22236
Hi @florine2623

Sorry for ansewer time, i am very busy.

I will do new tests today

[2020-12-16 09:00] LouiseBonnard commented on #22414
Hi @radioeventos, @hibatallahAouadni, it's the expected behavior. Merchandise can be returned if the following conditions are met:

1. Merchandise returns are enabled.
2. It is still time to return a product.
3. Both 'Set the order as paid' and 'Set the order as shipped' settings must be enabled, either by one status (the two parameters are checked) or two statuses (each one having one of the two

[2020-12-16 09:19] JeffreyDracoon commented on #22262
Hi everyone,

Can anyone help me with the sollution? It still dont work for me :(

[2020-12-16 09:20] hibatallahAouadni commented on #22441
Hello @zell9999

I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.1, PS1.7.6.9, PS1.7.7.0. But, I didn't reproduce it with PS1.7.4.1, so it's a regression. It's kind of related to this issue #11152.

@marionf do you have any idea about this issue? Cause it seems familiar to me :sweat_smile:

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or i

[2020-12-16 09:23] khaledmedra commented on #14372
I'm facing the same issue, is there any workaround or solution?

[2020-12-16 09:28] hibatallahAouadni commented on #22440
Hello @ProteanCode

I upgraded from 1.7.6.4 to PS1.7.7.0, go to **BO** > **IMPROVE** > **Module Catalog**, make a search by **ps_newproducts** and the module will be displayed, then install it:

![image](https://user-images.githubusercontent.com/23308427/102329611-e4b37380-3f88-11eb-94ea-245a07b4376e.png)

Please check and feedback.

Thanks!

[2020-12-16 09:29] matks commented on #22262
Hi, we tested multiple times the SMTP settings and it seems they are working as expected. SMTP would by my recommandation as it does not depend on your PHP server settings.

[2020-12-16 09:31] okom3pom commented on #22236
It's not the same issue i test again and i have error.

To test : download the demo file don't change it and try to import.

When i have the time i open a PR with good file.

[2020-12-16 09:37] PeNov opened #22442 "Offer only active or valid vouchers - bug/improvement"
#### Describe the bug

In the case of many inactive coupons or coupons with the same name for example free shipping is very difficult chose correct discount in the list of deactivated vouchers.

#### Expected behavior

Show only active or valid vouchers. Eventually show label (inactive, outdated, voucher code...).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Catalog, Cart

[2020-12-16 09:38] PierreRambaud commented on #22429
Yes we want to add an admin section to improve the password policy for the front office.
But didn't have the time to finish it :(
I'm closing it since it's a duplicate

[2020-12-16 09:40] okom3pom commented on #22232
Bump :) this is not fixed

[2020-12-16 09:41] PierreRambaud commented on #18674
FYI, this issue is not major, it's purely trivial, it doesn't break anything or prevents people from buying something in your shop.
If you think **you** really need this, please take time to find a solution and create a pull request

[2020-12-16 09:42] okom3pom commented on #22232
[Uploading screencapture-ee-wtf-1770-admin647ebehxb-index-php-improve-modules-updates-2020-12-16-10_41_30.pdf…]()

[2020-12-16 09:42] okom3pom commented on #22232
[screencapture-ee-wtf-1770-admin647ebehxb-index-php-improve-modules-updates-2020-12-16-10_41_30.pdf](https://github.com/PrestaShop/PrestaShop/files/5701702/screencapture-ee-wtf-1770-admin647ebehxb-index-php-improve-modules-updates-2020-12-16-10_41_30.pdf)

[2020-12-16 09:48] marionf commented on #18674
Hello guys,

Before fixing an issue we need to reproduce it, if we can't reproduce it, then we can't fix it
Maybe some steps are missing if @hibatallahAouadni can't reproduce it
We need more informations to be able to reproduce it

[2020-12-16 09:50] zell9999 commented on #22441
Hello @hibatallahAouadni

When category filter is enabled, the change in the order of the products is correctly saved in 1.7.6.1, so ticket #11152 would be unrelated.
The problem is the pagination when you remove the filter.

Thanks!

[2020-12-16 09:51] Julievrz commented on #22429
HI @PierreRambaud

But what about the issue 2) and 3)? Are they duplicate too? 🤔

2. When entering a password containing invalid characters or a password that is less than 8 characters, nothing happens when we click on "Save".

3. When the content of the fields "New password" and "Confirm password", nothing happens when we click on "Save".

[2020-12-16 09:51] Corazun opened #22443 "Improve the given nginx .conf on the Prestashop documentation"
#### Is your feature request related to a problem?

Hello since I've been trying to make Prestashop working on a Nginx configuration on my Ubuntu server I finally found that the given nginx .conf file in documentation missed an important part about rewriting the front office part. The current configuration works well on back office at the point I've tested but the front office isn't properly displ

[2020-12-16 09:52] #21152 closed, assigned to micka-fdz

[2020-12-16 09:53] PierreRambaud commented on #22392
Both can be done :+1:

[2020-12-16 10:01] hibatallahAouadni opened #22444 "[FO] Make a search with Alias composed with two words doesn't show any results"
#### Describe the bug

After creating a new alias composed with two words (**tee shirt => sweater**), I tried to make a search in **FO** by the newly created alias (**tee shirt**), but there's no product displayed.

With **PS1.7.6.9**, it works perfectly (see the attached screen record below)

#### Expected behavior

Display the product contain the search term (**sweater**)

#### Steps to Reproduc

[2020-12-16 10:05] PierreRambaud commented on #22416
It's up to the @PrestaShop/product-team to define it :)

[2020-12-16 10:07] PierreRambaud commented on #22418
Yes it's a good idea

[2020-12-16 10:07] hibatallahAouadni commented on #22393
@joaolago1113 Thanks for your tip and glad to hear that your issue is fixed :tada:

[2020-12-16 10:07] tom75 commented on #22416
Well, as this is happening just with the update of 1.7.7 and with old versions it was no problem, i would consider it as a bug ;-)

[2020-12-16 10:09] tom75 commented on #22416
@PierreRambaud did you check it with a multistore and multilanguage installation?

[2020-12-16 10:13] mmangione-dev opened #22445 "purge cache - error 500 (memcache)"
#### Describe the bug

#smarty: #
template compilation: force
cache: yes
cache type: filesytem
purge cache: clear cache everytime something has been modified

# cache #
cache type: CacheMemcache
Server: i added a memcache server that reside on the same web server.

When I go to click on "clear cache"
I get a 500 error back and the cache does NOT clear. To do this I have to manually restart memcach

[2020-12-16 10:14] peskajan commented on #22381
It seems related, although in my case the combinations are generated (I see them correctly in the shop), but I can't see/load them in the admin.

Reading the related issue, it seems to update to 1.7.3.2 should help?

[2020-12-16 10:16] matteolavaggi commented on #22412
So we have a record, the first ecommerce without a simple working contact form in 2021 ^^!

[2020-12-16 10:19] hibatallahAouadni commented on #22425
So @matks do you sugguest to add **`ToDo`** label?

[2020-12-16 10:20] matks commented on #22412
@matteolavaggi Hello, the last message is passive-aggressive and is against our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)

"Using welcoming and inclusive language
Being respectful of differing viewpoints and experiences
Gracefully accepting constructive criticism
Focusing on what is best for the community
Showing empathy towards other community mem

[2020-12-16 10:21] PululuK commented on #22412
It's nice 🎉 !  But we are still in 2020 😉

@matteolavaggi can you show me your mail params please ?

![image](https://user-images.githubusercontent.com/16455155/102335888-c487b280-3f90-11eb-8592-91156778c383.png)

[2020-12-16 10:21] PierreRambaud commented on #22425
Yep

[2020-12-16 10:21] NeOMakinG commented on #22026
I can't find a way of fixing this, it's a default component of the browser and it looks like we can't change focus on the fly... I don't know what to do on this one :/

[2020-12-16 10:23] JeffreyDracoon commented on #22262
![Naamloos](https://user-images.githubusercontent.com/75450376/102336146-1597a680-3f91-11eb-972b-5fd35b9872b8.png)

[2020-12-16 10:24] JeffreyDracoon commented on #22262
![Naamloos](https://user-images.githubusercontent.com/75450376/102336318-4e378000-3f91-11eb-9db1-ed53c2efeea5.png)

[2020-12-16 10:25] JeffreyDracoon commented on #22262
I get this error

[2020-12-16 10:25] hibatallahAouadni commented on #22437
Hello @tom75

With the oldest version, there's no amount displayed just "--", see the attached screenshot below (PS1.7.6.9):

![image](https://user-images.githubusercontent.com/23308427/102336378-627b7d00-3f91-11eb-81dd-9614e7cc7585.png)

Thanks!

[2020-12-16 10:29] hibatallahAouadni commented on #22414
Hello @radioeventos

Thanks @LouiseBonnard for the confirmation and the explication!

As @LouiseBonnard mentionned above, this is the expected behvior.
So, I close the issue.

Thanks!

[2020-12-16 10:29] #22414 closed, assigned to nobody

[2020-12-16 10:37] tswfi commented on #22418
@PierreRambaud should the label be "pr available" (or whatever it was) as #22419 fixes this.

Actually is the labeling documented somewhere? might help new people (I know it would help me) to know what all of these labels mean to you :)

[2020-12-16 11:11] SimonGrn commented on #22443
Hello,

the devdocs is actually a repository, and you can directly submit your modification as a Pull Request to the correct page so that it can be merged and displayed 😄
You just need to click on the "Improve this page" link at the top right, that leads you to [this page](https://github.com/PrestaShop/docs/edit/master/src/content/1.7/basics/installation/nginx.md) where you can submit your modific

[2020-12-16 11:36] Hlavtox commented on #18674
@marionf Your colleague reproduced it here - https://github.com/PrestaShop/PrestaShop/issues/19810#issuecomment-700576564. I reproduced it on two completely different servers and LAMP combinations.

@PierreRambaud I have it fixed for my clients, and on my PR, but I don't want to imagine how many people are losing sales.

[2020-12-16 11:37] hibatallahAouadni commented on #22392
@PierreRambaud so you see it's good to accept @web-plus improvement and add the **`ToDo`** label ?

[2020-12-16 11:44] hibatallahAouadni commented on #22381
Hello @peskajan

It's the same, cause the problem is about loading these combinations in BO :wink:

This issue is already in our debug backlog and it is a duplicate of #11471.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-16 11:44] #22381 closed, assigned to nobody

[2020-12-16 11:44] hibatallahAouadni commented on #22381
Duplicate of #11471

[2020-12-16 11:46] okom3pom commented on #22444
Héhé if you don't re index files it's normal :rofl:  but in the ajax result problem persiste

[2020-12-16 11:47] okom3pom commented on #22444
![Uploading Capture d’écran de 2020-12-16 12-47-01.png…]()

[2020-12-16 11:52] okom3pom commented on #22444
![Uploading Capture d’écran de 2020-12-16 12-47-01.png…]()

[2020-12-16 11:53] peskajan commented on #22381
@hibatallahAouadni but the duplicate issue you mentioned is already closed so is it fixed or not? Will upgrade to a 1.7.3.2. wont fix the issue?

Thanks,
Jan

[2020-12-16 11:55] okom3pom commented on #22444
![Capture d’écran de 2020-12-16 12-47-01](https://user-images.githubusercontent.com/5064590/102345562-e0de1c00-3f9d-11eb-96c2-b4cbfeea982f.png)

[2020-12-16 11:58] Hlavtox commented on #22392
@web-plus @hibatallahAouadni Done 👍
https://github.com/PrestaShop/PrestaShop/pull/22447

[2020-12-16 12:02] web-plus commented on #22392
Thank you! @Hlavtox

[2020-12-16 12:03] okom3pom commented on #22444
An other test with **okom3pom**

[2020-12-16 12:05] MatShir commented on #22444
It's weird to have different behavior on the 2 versions 🤔

[2020-12-16 12:09] okom3pom commented on #22444
I think on prestashop 176 when you add an alias the shop reindex but is not a good way

On 177 the shop dont reindex u need to do manualy

Why not add a warning after adding ?

[2020-12-16 12:16] #22426 closed, assigned to nobody

[2020-12-16 12:17] SimonGrn commented on #22426
Hello,

please reopen an issue and follow the template, providing as much information as you can, and a 100% reproducible scenario.

Thank you.

[2020-12-16 12:21] Prestaplugins opened #22448 "Sort of the mails in the translation page"
#### Describe the bug

Since version 1.7.5.0, the mails are no more ordered by ASCENDING NAME in the translation page.
A "SCANDIR_SORT_NONE" parameter has been added to the scandir function in getMailFiles() from AdminTranslationsController.php.
Is there any good reason ?

I'm offering a module compatible with all version since 1.5 to 1.7, so I have to include the mails in all version because the

[2020-12-16 12:38] matteolavaggi opened #22449 "Menu not work on PS 1.7.6.9 multistore frontend (only work on default store)"
#### Describe the bug

Menu not work on PS 1.7.6.9 multistore frontend (only work on default store

#### Expected behavior

Menù must be shown on all multistore frontend

#### Steps to Reproduce

Configure a ne
PS 1.7.6.9 fresh install with these exactly configuration:

Create a Mulstistore setup
![image](https://user-images.githubusercontent.com/24798703/102349338-7c25c000-3fa3-11eb-9d9f-4e9020ef

[2020-12-16 12:44] ghost opened #22450 "error installl Prestashop 1.7.7.0 on xampp"
Hello i installing prestashop on Xampp and i have this error when i enter button named test your db...
![obrazek](https://user-images.githubusercontent.com/47187978/102350198-d4a98d00-3fa4-11eb-9238-7e1e90028a13.png)

[2020-12-16 12:45] michalmichalcz commented on #22450
I have Apache and MySQL ON

[2020-12-16 12:45] radioeventos commented on #22414
Hello again,
As I am checking in real cases, do not test, if the Set order as paid parameter is not enabled in all cases after the Accepted Payment status, it doubles the payment, so it is something that should be noticed in Prestashop Docs, since it is only said that after setting this paramertro there is no going back:  "once an order is set as "paid", it cannot be set back to the previous statu

[2020-12-16 12:56] hibatallahAouadni commented on #22381
Hello @peskajan

If you don't use multishop, so you problem can be solved by the solution proposed in this [comment](https://github.com/PrestaShop/PrestaShop/issues/11471#issuecomment-442403800).

If you use multishop context, so your issue is a duplicate of this issue #9664

Thanks!

[2020-12-16 13:00] matks commented on #22450
@michalmichalcz Hi, it seems there is an error with your XAMPP setup. "An error occurred": is not something very accurate 😅  it's not possible to look for a bug with this.

You might find help here https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2020-12-16 13:00] #22450 closed, assigned to nobody

[2020-12-16 13:02] marionf commented on #18674
@Hlavtox yes, with PS1.7.6.8 and PS1770beta2 & ps_facetesearch v3.6.0
Now there is PS 1.7.7.0 and ps_facetesearch v3.7.0 and we need to reproduce issues on the last version(s)

[2020-12-16 13:10] SimonGrn commented on #22449
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-16 13:10] #22449 closed, assigned to nobody

[2020-12-16 13:12] hibatallahAouadni commented on #22442
Hello @PeNov

Are you sugguesting to disable the voucher when it is expired automatically?
If so, it's not a bug but it's an improvement!
Please confirm and feedback.

Thanks!

[2020-12-16 13:15] CLC1234 opened #22451 "form_field template without cache"
#### The bug

It exists a problem when you use the "form_field" template like this

![image](https://user-images.githubusercontent.com/76108448/102351693-28b57100-3fa7-11eb-9684-83ddf2e7dfce.png)

+ put settings :
PS_SMARTY_FORCE_COMPILE = 0 OR 1 (=Never recompile OR Recompile templates if the files have been updated)
PS_SMARTY_CACHE = NULL (NULL = disable, 1 = enable)

On front you see this (Cust

[2020-12-16 13:18] hibatallahAouadni commented on #22443
Hello @Corazun

Thanks for the suggestion, the Developers Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers , do you approve the solution proposed by @Corazun ?

[2020-12-16 13:22] hibatallahAouadni commented on #22445
Hello @mmangione-dev

you should downgrade your PHP version to 7.2 cause PS1.7.6.5 is not compatible with PHP7.3 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
Please check and feedback.

Thanks!

[2020-12-16 13:25] hibatallahAouadni commented on #22448
Hello @Prestaplugins

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22043.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-16 13:25] #22448 closed, assigned to nobody

[2020-12-16 13:25] hibatallahAouadni commented on #22448
Duplicate of #22043

[2020-12-16 13:27] SimonGrn commented on #22443
I'm closing this issue.

[2020-12-16 13:27] #22443 closed, assigned to nobody

[2020-12-16 13:31] radioeventos commented on #22414
And now not knowing why, all payments are doubled:
![image](https://user-images.githubusercontent.com/5453650/102354778-53092d80-3fab-11eb-9b57-0ebde7c227d5.png)

![image](https://user-images.githubusercontent.com/5453650/102354822-5e5c5900-3fab-11eb-9276-e467dd79a2ac.png)
Seriously, this is starting to bore me.

[2020-12-16 13:38] hibatallahAouadni commented on #20359
Hello @SimonGrn @boubkerbribri

I just noticed that the PR is merged! So shall we close the issue?

[2020-12-16 13:46] NeOMakinG opened #22452 "KPIs pan does not have the same border radius as other KPI pans"
#### Describe the bug

The pan does not have a radius at all

![image](https://user-images.githubusercontent.com/14963751/102356366-674e2a00-3fad-11eb-8d09-4eb9d3716601.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/14963751/102356296-543b5a00-3fad-11eb-95bb-ed4665f4fbe2.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders page

#### Ad

[2020-12-16 13:48] hibatallahAouadni commented on #22414
Hello @radioeventos

Take it easy :sweat_smile: just list the steps to repoduce, so I can check the problem.
If I found it as a new bug, so you need to open a new issue :wink:

Thanks!

[2020-12-16 14:02] matks commented on #22232
@okom3pom I install fresh 1.7.8, I install GDPR module v1.2.0 and I have the following display
![Capture d’écran 2020-12-16 à 15 01 49](https://user-images.githubusercontent.com/3830050/102358408-c2811c00-3faf-11eb-9f8c-47d21242db58.png)

[2020-12-16 14:05] hibatallahAouadni commented on #22451
Hello @CLC1234

Are you trying to override some files?
Ping @PrestaShop/prestashop-core-developers need some help :sweat_smile: I couldn't see where is the problem :sweat:

[2020-12-16 14:06] okom3pom commented on #22232
It's very strange.

No update in 177X?

[2020-12-16 14:17] Progi1984 commented on #21817
Fixed by #22020

[2020-12-16 14:17] #21817 closed, assigned to matthieu-rolland

[2020-12-16 14:19] Develoo commented on #16562
Bonjour,
J'ai le méme erreur, c'est quoi la solution.
Merci pour votre réponse
Cordialement

[2020-12-16 14:19] boubkerbribri commented on #20359
If you are talking about this PR #20368 , there still some work to be done on Unit tests (metionned in comments) and the UI tests.

[2020-12-16 14:25] plwatrin commented on #17760
Bonjour,

je pense qu'il y a un vrai problème de fond concernant les cartes cadeaux de prestashop.

Tous les modules utilisent les cart_rules or je pense que c'est une grosse erreur.
Je m'explique.

Une carte cadeau n'est et ne doit absolument pas être considérée comme une réduction, mais comme un **moyen de paiement** !

Les cartes cadeaux ne sont pas soumise à la TVA lors de leur achat, ce qui e

[2020-12-16 14:38] PierreRambaud commented on #22418
I don't know if the label is needed since GitHhub provides a way to find related PR:
![image](https://user-images.githubusercontent.com/1462701/102362504-c06d8c00-3fb4-11eb-85b7-433b9fdbe324.png)

[2020-12-16 14:38] PierreRambaud commented on #22418
But for labels, you should see with @PrestaShop/product-team :sweat_smile:

[2020-12-16 14:43] hibatallahAouadni commented on #22394
Hello @psydomin

Thanks for the clarification :smile: I manage to reproduce the issue with PS1.7.6.9 and PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1h42H2g0fpJ359jD05JMW3hR_qat2H24H/view

I've tested all and unfrotanally the same issue occurs with new Order and new Message :sweat:
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixe

[2020-12-16 14:47] hibatallahAouadni commented on #22394
Duplicate of #10723

[2020-12-16 14:47] #22394 closed, assigned to nobody

[2020-12-16 14:51] PierreRambaud commented on #22451
I didn't manage to reproduce the issue
![image](https://user-images.githubusercontent.com/1462701/102364220-81403a80-3fb6-11eb-98ed-d63102d54aa2.png)

[2020-12-16 14:53] LouiseBonnard commented on #22418
Hi @tswfi, thanks for your contribution! As far as I know, there is no public documentation to introduce to the different labels used on this repository but what we could do is at least add and/or improve their descriptions [here](https://github.com/PrestaShop/PrestaShop/labels). :-)

[2020-12-16 14:58] PierreRambaud commented on #22259
The only thing I know is:
Errors are handled if you're in dev mode and are sent to a custom error handler :sweat_smile:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/controller/Controller.php#L179

Otherwise, it's maybe in your apache configuration logs :thinking:

[2020-12-16 14:58] hibatallahAouadni commented on #22097
Hello @willgo34 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 14:58] #22097 closed, assigned to nobody

[2020-12-16 14:59] hibatallahAouadni commented on #21938
Hello @Nakira ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 14:59] #21938 closed, assigned to nobody

[2020-12-16 15:00] MassimoGS3 opened #22456 "Invoice address reset when in carrier step click on personal information."
#### Describe the bug

Stepping on checkout process prestashop reset the invoice address.

#### Expected behavior

I'm expected was the invoice addresses previous inserted

#### Steps to Reproduce

Steps to reproduce the behavior:

The issue is in checkout.
1. Fill personal information.
2. Fill delivery addresses information ( you must uncheck "use same addresses for invoice)
3. Fill invoice addre

[2020-12-16 15:01] hibatallahAouadni commented on #21008
Hello @jchazalon ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:01] #21008 closed, assigned to nobody

[2020-12-16 15:01] SimonGrn commented on #22450
I second @matks, please follow the template when reporting an issue. It's kinda rude to delete everything.

[2020-12-16 15:03] hibatallahAouadni commented on #13070
Hello @jcvoyeux ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:03] #13070 closed, assigned to nobody

[2020-12-16 15:04] hibatallahAouadni commented on #13071
Hello @jcvoyeux ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:04] #13071 closed, assigned to nobody

[2020-12-16 15:05] hibatallahAouadni commented on #19011
Hello @zulus ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:05] #19011 closed, assigned to nobody

[2020-12-16 15:06] #22418 closed, assigned to tswfi

[2020-12-16 15:10] okom3pom commented on #22232
@matks

I install fresh 1.7.8, an i have the 1.2.1  already installed

![Capture d’écran de 2020-12-16 15-51-23](https://user-images.githubusercontent.com/5064590/102366051-7be3ef80-3fb8-11eb-84bd-b18cdc832bf8.png)

I  install a new fresh 1.7.7.0  and i have the 1.2.1  already installed

![Capture d’écran de 2020-12-16 15-59-08](https://user-images.githubusercontent.com/5064590/102366081-830afd80-

[2020-12-16 15:13] hibatallahAouadni commented on #16949
Hello @mvorisek ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:13] #16949 closed, assigned to nobody

[2020-12-16 15:17] hibatallahAouadni commented on #19182
Hello @elboletaire ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:17] #19182 closed, assigned to nobody

[2020-12-16 15:23] sotirisa commented on #13509
Hi in version 1.7.6.9 isbn is not there also. Is there something I can do to find it?

[2020-12-16 15:25] juraj1000 opened #22457 "Update notification for Prestashop Checkout"
#### Describe the bug
I use the module PrestaShop Checkout and notification doesn't work notification in BO if there is published a new version of this module. It means that a merchant doesn't see anything about new version in BO.
I've already reported this issue to the support of the module PrestaShop Checkout and here is their answer:

"This is indeed a behavior of the PrestaShop software. ... T

[2020-12-16 15:26] mvorisek commented on #16949
At least this:

is a bug, so @hibatallahAouadni please relabel and reopen.

Code should be probably merged with https://github.com/nikic/PHP-Parser instead of regular expressions.

[2020-12-16 15:29] atomiix commented on #22237
Fixed by #22274

[2020-12-16 15:29] #22237 closed, assigned to atomiix

[2020-12-16 15:29] atomiix commented on #22294
Fixed by #22274

[2020-12-16 15:29] #22294 closed, assigned to nobody

[2020-12-16 15:33] hibatallahAouadni commented on #18520
Hello @elburgl69 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:34] NeOMakinG opened #22458 "[RESPONSIVE - BO] Menu needs a bit of rework on mobile"
#### Describe the bug

Legacy menu is not the same than migrated one, and both needs some adjustments

Here is the new design made by @prestascott

![image](https://user-images.githubusercontent.com/14963751/102369358-21e52900-3fbc-11eb-8e7a-23574714da83.png)

While here is the current legacy menu :

![image](https://user-images.githubusercontent.com/14963751/102369422-332e3580-3fbc-11eb-9f2d-def0

[2020-12-16 15:34] hibatallahAouadni commented on #18703
Hello @Theodode ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:34] #18703 closed, assigned to nobody

[2020-12-16 15:35] 0dp opened #22459 "Link::getProductLink() support for currency"
#### Is your feature request related to a problem?

I'm trying to generate feeds for Google Merchant and we are currently running one shop with two languages and three currencies. Therefor we need to generate different feeds for combinations of languages and currencies. Right now we can use the `$id_lang` with `getProductLink` to get the correct language for feed url's. But it does not look like `

[2020-12-16 15:35] hibatallahAouadni commented on #15535
Hello @shawe ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:35] #15535 closed, assigned to nobody

[2020-12-16 15:40] hibatallahAouadni commented on #16702
Hello @PierreRambaud

If you reproduce it, I believe we need to add the **`To Do`** label, is that so?

Thanks!

[2020-12-16 15:42] hibatallahAouadni commented on #19031
Hello @mrusmanali ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:42] #19031 closed, assigned to nobody

[2020-12-16 15:44] hibatallahAouadni commented on #12702
Hello @tlhuillier ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 15:44] #12702 closed, assigned to nobody

[2020-12-16 15:47] hibatallahAouadni commented on #13945
Hello @matks

We had no news from you for more than 20 days, Shall we close the issue ? :stuck_out_tongue:

Thanks!

[2020-12-16 15:50] hibatallahAouadni commented on #12368
Hello @Quetzacoalt91

Well @PierreRambaud said it's not needed any more and we had no news from you for more than 20 days. So, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create **reopen** the issue if further information pops up :wink:

Thanks!

[2020-12-16 15:50] #12368 closed, assigned to nobody

[2020-12-16 15:56] PierreRambaud commented on #16702
I don't know if it's the desired behaviour or not. It always depend on the @PrestaShop/product-team :)

[2020-12-16 15:59] hibatallahAouadni commented on #14571
Hello @jolelievre

Shall we close this issue? Cause it seems the author is beyond our reach :sweat_smile:

Thanks!

[2020-12-16 15:59] elboletaire commented on #19182
Good thing I warned about availability 🙄

It's really disappointing to see you closing an issue which has been confirmed by other users because you "don't have the time to test it by yourself", having the issue perfectly described and a solution already coded in it.

[2020-12-16 16:04] hibatallahAouadni commented on #12991
Hello @PrestaShark ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-16 16:16] prestascott commented on #22422
Hello everyone,

How about horizontal scrolling through cards like this?

![categories 4 (1)](https://user-images.githubusercontent.com/54888056/102375021-4c39e500-3fc2-11eb-804d-9faad1803f0f.png)

[2020-12-16 16:19] prestascott commented on #22370
Hey,

I thought about putting all the toggles on the right side of the screen like this so it's easier to read and manage:

![tooltips 14px](https://user-images.githubusercontent.com/54888056/102375403-c5d1d300-3fc2-11eb-83d6-03f241d1c965.png)

Also, we need to make sure that the tooltips can be closed by retaping on the icon:
![tooltips touch 14px](https://user-images.githubusercontent.com/548880

[2020-12-16 16:20] hibatallahAouadni commented on #20359
@boubkerbribri So the status of this issue is **`To Do`** ?

[2020-12-16 16:23] hibatallahAouadni commented on #22444
Hello @okom3pom

Even after reindex manualy, I still manage to reproduce the issue :confused:

[2020-12-16 16:27] hibatallahAouadni commented on #18674
Hello @Hlavtox

I ask @SD1982 to reprodude it with MariaDB, and he managed to reproduce it only once and then he couldn't, even with fresh install :confused:

As discussed with @marionf if we managed to reproduce at least one time, so we should add the label **`To Do`** :tada:
Waiting for your PR :stuck_out_tongue:

Thanks!

[2020-12-16 16:49] okom3pom commented on #22444
I use PHP 7.3

https://cloud.ee.wtf/index.php/s/AdnYNWAD6Aa2r5j

[2020-12-16 16:51] hibatallahAouadni commented on #16949
So why you didn't answer @PierreRambaud ?

@PierreRambaud Do you see that we should reopen this issue?

[2020-12-16 16:52] khouloudbelguith opened #22460 "Multistore - BO - Add new Order page - Cannot search a product when a shop from different Group is selected"
#### Describe the bug

In the BO > Orders > Add new order page > when a shop from a different group is selected, the search for Product is blocked

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multistore context
2. Create a new Group `Group2` (all options are enabled)
3. Create a new shop `shop2` associated with this Group
4. Go to BO > Orders > Add new Order page (shop2 is

[2020-12-16 16:55] khouloudbelguith commented on #22460
Ping @MatShir what do you think of the severity of this issue?

Thank you!

[2020-12-16 16:57] #21181 closed, assigned to nobody

[2020-12-16 16:58] hibatallahAouadni commented on #19182
Hello @elboletaire

As @PierreRambaud mentionned above, we need your help to reproduce the issue, so we can fix it :wink:

It will be nice if you can create a PR, but we need to reproduce the issue before :wink:
So, we need your help.

Thanks!

[2020-12-16 17:13] atomiix commented on #22275
@Jojo-Kaly I looked in your `log.txt` a bit deeper and there is 2 things that look weird to me.

First, the backup process seems to had stopped before the end, without notice:
<pre>
[2020-12-05 11:21:13] img/p/3/9/9/399-small_default2x.jpg added to archive. 41033 files left.
[2020-12-05 11:21:13] img/p/3/9/9/399-small_default.jpg added to archive. <b>41032 files left</b>.
[2020-12-07 12:27:57] <b>

[2020-12-16 17:25] CLC1234 commented on #22451
No PHP override but we use this template throught a child theme (so like an override but in a theme).

[2020-12-16 19:05] ludoc commented on #22430
Some hosting company use reverse proxy and it could explain why some websites are not affected by this issue

I installed nginx in front of my web server and with this parameter :
`proxy_redirect http:// $scheme://;`
alert is not displayed because the Location header of the backend response is rewrited to https

[2020-12-16 19:40] radioeventos commented on #22414
Unique step its to make an order. The only difference is that in the Accepted Payment step it is marked that the delivery note is generated so that the invoice dates and the number are consequential, since it takes that date from that of the generation of the packing slip, not that of the time of invoice creation, which I consider an error, and I am sick of the accountant telling me that the numbe

[2020-12-16 20:17] ludoc commented on #22430
and :

https://bugs.chromium.org/p/chromium/issues/detail?id=1158169

and indeed, the alert is no longer displayed on my computer.
Off topic but anyone know how they push new config without upgrading binaries ? (no change of version number / 87.0.4280.88)

[2020-12-16 21:51] PululuK opened #22461 "[CO & BO][IMPROVEMENT] Improve multiple choice table"
# Is your feature request related to a problem?

When we have very large tables, we have to scroll to see the last options, except that the headers are no longer visible, so it becomes difficult to know how to choose an option.

### Concrete case

- Go to :  _BO > Payment > Preferences_
- Go to : _Country restrictions_

| Before scroll      | After scroll |
| :----------- | :----------- |
| _You h

[2020-12-16 22:32] eossa commented on #11355
I solved with `setsebool -P httpd_can_network_connect on`

[2020-12-16 22:46] nateBitworks opened #22463 "Cannot log into BO after upgrade from 1.7.6.7 to 1.7.7.0"
#### Describe the bug

After upgrade to 1.7.7 cannot log in as customer or on backend

Expected to log in.

Front office:
Steps to reproduce the behavior:

1. Go to https://dev.centrevilletrailer.com
2. Try to sign in or create an account

**Screenshots**
This is a screen shot of the error that is given on the admin, and then the error on the front end is the same.
![image](https://user-images.git

[2020-12-16 23:24] kpodemski commented on #13945
I hate using `Mail::send`, too many $args, for my solutions I'm using my `MailWrapper` class where I'm sending emails in a way proposed by @PierreRambaud

So, my suggestion for now would be to have wrapper around `Mail` with proper interface to have a contract about required args, if we want to move in direction proposed by others I could suggest one thing but don't bash me later 😅  _https://larav

[2020-12-17 00:10] doekia commented on #22300
Problem is here
`[PrestaShopDatabaseException]

Table 'c2_andeo17.ps_employee_session' doesn't exist<br /><br /><pre>INSERT INTO `ps_employee_session` (`id_employee`, `token`) VALUES ('7', 'a9fde65149c017544c61c1ccd801d5175045f00b')</pre>
at line 769 in file classes/db/Db.php

764.         if ($webservice_call && $errno) {
765.             $dbg = debug_backtrace();
766.             WebserviceReque

[2020-12-17 00:19] kpodemski commented on #22459
Hey @0dp

You can add something like:
`&SubmitCurrency=1&id_currency=' . $this->currency->id;`

at the end of your URL, but you might be right that it might a quite handy to have it in `getProductLink`, however this method has a lot of arguments already so I suggest to use my solution from above or `$extraParams`

[2020-12-17 07:51] okom3pom commented on #22236
@PululuK have starting the job in 178 i ask him

https://github.com/PrestaShop/PrestaShop/commit/f0d1afd166c4fb041a1ad6e13cf1b8b32f1f4b06

[2020-12-17 08:22] SimonGrn commented on #22463
Hello @nateBitworks,

I see this error
![image](https://user-images.githubusercontent.com/49909275/102461882-5eab3180-4049-11eb-82f2-e27d54154750.png)

which seems to indicate a wrong PHP version. Are you sure you're using PHP 7.3 ?

[2020-12-17 08:26] florine2623 commented on #22456
Hello @MassimoGS3 ,

I was able to reproduce the issue with PrestaShop version 1.7.5.2 and 1.7.7.0. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2020-12-17 08:30] florine2623 commented on #22456
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/11595

[2020-12-17 08:30] #22456 closed, assigned to nobody

[2020-12-17 08:38] Dan-Orchard opened #22464 "BO > Create Order > Process payment link in email & process payment sends to step 1 of checkout"
#### Describe the bug

When creating a manual order processing payment in house, the page opened is step one of the cart process. When emailing the cart to the customer, the link sent also opens the same page (step 1 of checkout).

#### Expected behavior

I would expect the process to be the same as 1.6 - When emailing or processing payment, the page opened should be "signed in" as the client @ st

[2020-12-17 08:40] florine2623 commented on #22459
Hi @0dp & @kpodemski ,

Thanks for the suggestion.
Please stay tuned as I ping the dev team !

[2020-12-17 08:41] florine2623 commented on #22459
Ping @PrestaShop/prestashop-core-developers ,

Do you think `$id_currency` could be added to the parameters of `Link::getProductLink()` ?

Thanks!

[2020-12-17 09:00] florine2623 commented on #22464
Hello @Dan-Orchard ,

Thanks for the report.
I was able to reproduce the issue with PrestaShop version 1.7.7.0. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

It is a regression.

Result in PS 1.6.1.24 (step 5 - payment)
![Capture d’écran 2020-12-17 à 09 53 32](https://user-images.g

[2020-12-17 09:04] SimonGrn commented on #22464
Hello,

It should be confirmed that this is a regression, as giving a link to auto-connect a customer via email seems kinda insecure to me.
@PrestaShop/product-team do you think autoconnecting a customer from an email link is a good practice or not ?
@PierreRambaud it seems more secure to force the customer to reconnect, right ?

[2020-12-17 09:06] Dan-Orchard commented on #22464
Maybe getting them to sign in when sent an email is correct, but processing payment from back office needs to be "signed in" as customer automatically - example: Don't want to ask a client for a password

[2020-12-17 09:16] Progi1984 commented on #22110
Fixed by #22175

[2020-12-17 09:16] #22110 closed, assigned to Progi1984

[2020-12-17 09:36] sotirisa commented on #22439
Hi and thank you for your answer

I clear the browser cache
I didn't have any module on order
I had php 7.2

The post was wrong I try to make the upgrade from 1.7.6.7 to 1.7.7.0.

[2020-12-17 09:53] marionf commented on #22065
As the "default page" drop-down content is updated according to the profile (and its permissions) selected, I think it makes more sense to put the "default page" drop-down under the "permission profile" drop-down

[2020-12-17 10:01] 0dp commented on #22459
@kpodemski I think this is what I will do for now, thanks for the proposal.

@florine2623 looking forward for reply from dev team

[2020-12-17 10:15] Progi1984 commented on #21506
Fixed by #21795

[2020-12-17 10:15] #21506 closed, assigned to matthieu-rolland

[2020-12-17 10:19] florine2623 commented on #22457
Hi @juraj1000 ,

In PS 1.7.6.9, the update for PS Checkout is available in Module Manager > Checkout :
Before upgrade v2.2.0 :
![Capture d’écran 2020-12-17 à 11 14 53](https://user-images.githubusercontent.com/16019289/102474642-2ca1cb80-4059-11eb-85d5-6ce181c85ca1.png)
After upgrading -> v2.3.0 :
![Capture d’écran 2020-12-17 à 11 17 31](https://user-images.githubusercontent.com/16019289/10247

[2020-12-17 10:19] #22457 closed, assigned to nobody

[2020-12-17 10:20] atomiix commented on #21630
@marionf exactly. You can change translations through *Improve* > *Design* > *Email Theme* > *Translate emails* though, but not the html structure.

[2020-12-17 10:26] BaraqdaPL commented on #22300
Hmm. I have in my database id_employee 7 with token... different but still...
also classes/db/Db.php looks the same as you wrote.
What shall I do with it?

[2020-12-17 10:33] matteolavaggi commented on #22449
Hi, the only part i've missed is the "template" division ... btw if this is really important i'will update the post. -_-

[2020-12-17 10:36] matteolavaggi opened #22466 "Menu not work on PS 1.7.6.9 multistore frontend (only work on default store)"
#### Describe the bug

Menu not work on PS 1.7.6.9 multistore frontend (only work on default store

#### Expected behavior

Menù must be shown on all multistore frontend

#### Steps to Reproduce

Configure a ne
PS 1.7.6.9 fresh install with these exactly configuration:

Create a Mulstistore setup
![image](https://user-images.githubusercontent.com/24798703/102349338-7c25c000-3fa3-11eb-9d9f-4e9020ef

[2020-12-17 10:41] matteolavaggi commented on #22412
This is funny ^^ btw you ask to me what i've just confirmed to @hibatallahAouadni  (and what i've just write in the opening bug report) , email WORK on back office:

![image](https://user-images.githubusercontent.com/24798703/102477253-688a6000-405c-11eb-8125-d1dc25b91af8.png)

Here the configuration (that works on BO)
![image](https://user-images.githubusercontent.com/24798703/102477376-8fe12d00-

[2020-12-17 10:49] florine2623 commented on #22466
Hi @matteolavaggi ,

I can't reproduce your issue in my test shop PS 1.7.6.9 multistore context.

Top menus are different in both shops :
![Capture d’écran 2020-12-17 à 11 46 57](https://user-images.githubusercontent.com/16019289/102478221-a471f500-405d-11eb-9a79-cfce23f91ccc.png)
![Capture d’écran 2020-12-17 à 11 47 04](https://user-images.githubusercontent.com/16019289/102478228-a63bb880-405

[2020-12-17 10:49] #22466 closed, assigned to nobody

[2020-12-17 10:51] #22452 closed, assigned to NeOMakinG

[2020-12-17 10:58] matteolavaggi commented on #22466
Hi, read carefoully my bug report, this is a fresh new installation of ps 1.7.6.9 installed on php 7.2 and apache, created 3 days ago.
And the bug is here, so why you close this issue? This store setup is a test env and is 100% new, default theme, default configuration ^^

[2020-12-17 11:03] marionf commented on #21630
As this is not a regression of the 1.7.7.0 (this issue is existing since 1.7.6.0 where we introduced the new email system with modern templates), I remove it from the 1.7.7.x kanban and add it to the 1.7.8 one.

We can remove the WYSIWYG editor for HTML template in _International > Translations_ as the content of the email can still be edited through _Improve > Design > Email Theme > Translate ema

[2020-12-17 11:11] elboletaire commented on #19182
Sincerely? I'm not gonna do shit, apart from unsubscribe of this issue.

It's a complete non-sense to close this issue, which is properly explained (and with a fix), when you have issues that have not been updated in more than 2 years.

But hey, this one is "cluttering up your backlog"...

[2020-12-17 11:22] juraj1000 commented on #22457
Hello @florine2623,
I know there is the new version PS Checkout 2.3.0. But the issue is that there is no information about this new version in BO. As I wrote there is no notification about updated version in Module Manager > Checkout. This notification works correctly for all other modules but it doesn't work for PS Checkout.

![image](https://user-images.githubusercontent.com/33311857/102481776-7

[2020-12-17 11:40] matteolavaggi commented on #22466
I took some time to open this bug report, it's not nice to close them without even checking the conditions correctly. Bad behavior.

[2020-12-17 11:41] deepdishchase opened #22467 "As a visitor: When you make a selection of new products, no products will appear"
Basic prestashop theme.
When you click on a catagory (as a visitor)
You get a lot of selection boxes to make a selection of products.

Also: new / used etc. "Used" works fine, but "new" don't work, there will be no products shown.
Is this a common and known problem of Prestashop? Can this bug be fixed?

I'm just a Prestashop user.

[2020-12-17 11:43] matteolavaggi opened #22468 "Menu not work on PS 1.7.6.9 multistore frontend (only work on default store) - just check before close thanks"
Hi, this is the third time i open these bug report. Please dont close it BEFORE have tested in the exact condition explained above, or close it if you prefer ^^ , iw ill not open another time and bug will stay there !

#### Describe the bug

Menu not work on PS 1.7.6.9 multistore frontend (only work on default store

#### Expected behavior

Menù must be shown on all multistore frontend

#### Steps

[2020-12-17 11:54] #22333 closed, assigned to PierreRambaud

[2020-12-17 12:24] Dan-Orchard commented on #22464
I have done some testing, and it looks to be working on 1.7.6.0 up to 1.7.6.5 - 1.7.6.6 it is not working

[2020-12-17 12:30] florine2623 commented on #22467
Hi @deepdishchase ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2020-12-17 12:30] #22467 closed, assigned to nobody

[2020-12-17 13:30] DelosTR commented on #22215
Hi **andrewcroberts**, yes you are right!
I have this issue too, on customers, orders etc..
I would not explain my issue as I use a module to migrate the datas from an old oscommerce to prestashop.
It worked nice on 1.7.6.3, and no more on 1.7.7, I spent days to find the issue, searching for the data missing.
But in fact you are right, no datas are missing, NULL has been changed to "nothing".
On a

[2020-12-17 13:31] #22392 closed, assigned to Hlavtox

[2020-12-17 13:35] Dan-Orchard commented on #22464
Looks like
`&& Context::getContext()->cookie->isSessionAlive()`
line 1195 in classes/Customer.php

Looks to be this commit that broke it https://github.com/PrestaShop/PrestaShop/commit/3ef3b64d27b7d248bbd2f92289f11369b3dbbafa

[2020-12-17 14:02] Roomsmaniia opened #22470 "Customization of description for categories is not responsive"
#### Describe the bug

The display for changing color / adding a link / adding an image / adding a video in the description of a category is not responsive

#### Expected behavior

They are suitable for responsive display

#### Steps to Reproduce

Steps to reproduce the behavior:

1. On mobile go to BO > SELL > Catalog > Categories
2. Edit a categorie > Description
3. Change text color / add a lin

[2020-12-17 14:14] #22420 closed, assigned to NeOMakinG

[2020-12-17 14:41] #22069 closed, assigned to gennaris

[2020-12-17 14:55] PierreRambaud commented on #22459
Hi @0dp,
@kpodemski is right, it's the best way to specify a currency :+1:

[2020-12-17 14:57] nateBitworks commented on #22463
I am using 7.3, I also tried on 7.1 as well. Both had the same results. My apologies as to the maintenance mode, that slipped my mind. I will check the Xhr requests.

[2020-12-17 14:59] shwetabhatia05 commented on #9592
Hi, I'm on 1.7.6.5.
After editing a carrier the carrier is copied to a new ID, the old one is not set to deleted in the database. so, it's showing me both carrier, the new and the old, Every now and then the ranges are not copied to new ID and also changes are not saved in the old new, it's not editable anymore.

[2020-12-17 15:02] #21560 closed, assigned to atomiix

[2020-12-17 15:04] 0dp commented on #22459
I agree and it does work as expected.

Though it seems imo only natural that it belongs as a parameter in `getProductLink()` together with id_lang

[2020-12-17 15:07] nateBitworks commented on #22463
This is what is under xhr:
![image](https://user-images.githubusercontent.com/56446569/102505114-3c181900-4047-11eb-8578-27b60694d678.png)

[2020-12-17 15:08] deepdishchase commented on #22467
Hi Florine,

Thanks for the information. First of all, English is not my native language so I can only explain myself in a simple way and it’s difficult to understand things on Github etc. The Prestashop website is also in Dutch, buth the other sites are not. Second of all, I don’t know anything about programming and stuff.
What I know, is that I have discovered a bug in a Prestashop template (the

[2020-12-17 15:14] nateBitworks commented on #22463
Hello, I have a new error:
Type error: idn_to_utf8() expects parameter 3 to be int, string given
![image](https://user-images.githubusercontent.com/56446569/102506009-4a1a6980-4048-11eb-8464-a534606eac95.png)

[2020-12-17 15:17] deepdishchase opened #22475 "Filter options goes wrong. When choose new products menu disappear and no products show up"
#### Describe the bug

I use some Dutch words because I don't know the exact translation. It's also in Dutch on the website.
When a visitor of the site choose a category of products, a page will open and the visitor can use "filteren op".
When you choose "gebruikt/used" under "staat" it will filter and show alle the used products. But when the visitor choose "nieuw/new" a part of the menu disappea

[2020-12-17 15:19] matks commented on #22463
Hi then you have the same issue as https://github.com/PrestaShop/PrestaShop/issues/22300

Solution is to upgrade your ICU version (see details in issue)

[2020-12-17 15:24] nateBitworks commented on #22463
If I return to 7.1 PHP will that work?

[2020-12-17 15:28] #22138 closed, assigned to Progi1984

[2020-12-17 15:29] #22192 closed, assigned to jolelievre

[2020-12-17 15:29] #22263 closed, assigned to jolelievre

[2020-12-17 15:31] marionf commented on #22096
@khouloudbelguith Could you please verify if this issue is fixed by #22299 ?

[2020-12-17 15:34] ANSB commented on #9592
See my previous comment. The "carrier" is linked to what the client purchase.
Let's imaging "carrier 1" as phone number 1111111111. In January John purchase good on your shop, and "carrier 1"
 is used.
 In February, "carrier 1" change phone number which became 2222222. Problem: if you have a look at John's purchase (done in January) as it's still linked to "carrier 1" you'll see phone number as 22

[2020-12-17 15:37] #22357 closed, assigned to NeOMakinG, prestascott

[2020-12-17 15:38] jf-viguier commented on #16339
@MathildeJoli I've found a bug with anonymisation : if comments come from product_comment module before version 4.0, customer_name values are not empty with registered customers, so anonymisation is not done.

[2020-12-17 15:52] PeNov commented on #22442
Hello Hibatallah,
No.

Main problem is that prestashop showing all discounts (expired, un-activate, …) in the list of **Compatibility with other cart rules**.

Second problem is in case of same discount name. Here is missing any description, ID, state.

**Steps:**
1)	Create discount with name FREE SHIPPING for order total more than 50EUR.
2)	Add additional discount in BO for realized order number

[2020-12-17 16:09] daniel-lineaymedia opened #22478 "Prestashop registers more orders just having 1 unit in stock and not allowing sales out of stock"
#### Describe the bug

Hello

I have a problem with the orders.

In the store with ps 1.7.6 if we don't have stock prestashop registers orders.

It happens to me that I have the last unit in stock but people buy it at the same time or have it in the cart and they can buy.

In the attached image you can see how 3 orders entered in the same minute for a product that only had one unit in stock. Prest

[2020-12-17 16:22] abramofranchetti opened #22480 "Cannot save an old address after making the DNI mandatory for that country"
PRESTASHOP VERSION 1.7.6.7

If you try to update (adding the DNI) or delete an address that has been previously used in an order and at the time of creation of the addess the dni was not required but now the dni is required for that country there will be an error and the address cant be updated or deleted and even worse a new address copy of the original will be created every time you attempt to u

[2020-12-17 16:35] khouloudbelguith commented on #22096
Hi @marionf,

Yes, it is ok :heavy_check_mark:
https://drive.google.com/file/d/11RBsVF9PrsHO2H04Wjfs1XxWRoS5CMHB/view?usp=sharing

Thanks!

[2020-12-17 16:35] #22096 closed, assigned to sowbiba

[2020-12-17 16:41] #18079 closed, assigned to Progi1984, khouloudbelguith

[2020-12-17 17:00] Stampa-Stampa commented on #22262
I am not sure it will help but on one of my customer's email smtp setup i also had difficulty setting up and in the end the problem was the port. Despite the fast that my customer's host provider has a card with all the info, the port was not working and in the end he (the customer) was given an alternate one that finally worked..

[2020-12-17 17:09] jf-viguier opened #22481 "productcomments module : Customer anonymisation doesn't work with reviews coming from version 3"
#### Describe the bug

I've found a bug with customer anonymisation : if comments come from productcomments module before version 4.0,

It's because customer_name values are not empty with registered customers, so last name anonymisation is not done.
In 4.x version, customer_name are not filled by registered customers, only by anonymous visitors.

#### Expected behavior

Last name should be anonym

[2020-12-17 17:21] MassimoGS3 commented on #22456
@florine2623 i've see other reporting error.
I think was different issue.
i've found the section code where it's reset.
My issue is explicit only on "Personal Information" Step.

![image](https://user-images.githubusercontent.com/76114491/102520900-8378c680-4094-11eb-8918-9f7c9c3b5649.png)

[2020-12-17 17:23] DPStudioGR opened #22482 "Wrong language in order messages."
#### What i noticed is the following... When the prestashop installation is multilingual and once in a customers order and sending a message, the language the message is shown is the one the admin backoffice is and not the one the customer used to place the order.

#### Expected behavior

In my case in the previous version the backoffice was English and the customer had placed an order from Greece

[2020-12-17 19:12] SimonGrn commented on #22478
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-17 19:12] #22478 closed, assigned to nobody

[2020-12-17 19:13] SimonGrn commented on #22480
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-17 19:13] #22480 closed, assigned to nobody

[2020-12-17 19:15] tenenick commented on #22266
Hi @Fer5320:
Please check if  you have the following folder in your install:
/your root folder/Backoffice/themes/new-theme//template/helpers.
If not copy it fromhere and btw all the other eventually missing folders and files:
/your root folder/Backoffice/themes/default//template/helpers
Hope it does it.
Regards

[2020-12-17 19:38] abramofranchetti commented on #22480
But what information was missing?

[2020-12-17 19:53] ghost opened #22484 "Error install"
Hello, i type to browser localhost and the webpage say:
We can't start installation :(

    PrestaShop installation needs to write critical files in the folder var/cache. Please review the permissions on your server.

You can contact your web host provider to fix theses requirements.

[2020-12-17 20:03] andrewcroberts commented on #22215
In my case I only did it for the tables I said, and that’s fixed my issues. However, make yourself a backup and apply it to all the tables, and let us know if it fixes the issue and doesn’t have any additional side effects elsewhere.
If applying that to all tables works, then it’s a quick and simple query to issue for people having this issue.
It appears that Prestashop has stopped issuing ‘null’

[2020-12-17 20:05] SimonGrn commented on #22480
Please follow the template, do not delete everything. This is a lot of work to handle issues for an Open Source project, please respect us.

Thank you for your understanding.

[2020-12-17 20:45] msaustral opened #22485 "Can't disable or uninstall modules in Module Manager after upgrade PS from 1.7.6.9 to 1.7.7.0"
After upgrade from PS 1.7.6.9 with one clik upgrade, the update module panel and module installation stop working.

Error:

->modules -> update any module pending to be updated or try to install a new module (it does not work)

This PS is not a fresh installation, we upgrade from 1.7.6.4 -> 1.7.6.5 -> 1.7.6.7 -> 1.7.6.9 -> 1.7.7.0

There is no error on PHP logs

There is this error on PS logs:
{"e

[2020-12-17 21:00] SimonGrn commented on #22484
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-12-17 21:00] #22484 closed, assigned to nobody

[2020-12-17 22:25] PululuK commented on #22485
Hi @msaustral

Fixed here I think : https://github.com/PrestaShop/PrestaShop/pull/21975

Can you check please ?

[2020-12-17 22:37] msaustral commented on #22485
Hi @PululuK that fix is already done on the 1.7.7.0 stable .zip can you confirm if it is the same .zip that uses 1 click update module?

[2020-12-18 04:02] dineshbadrukhiya opened #22486 "Starnge behaviour when adding new cart rule and deleting, it's appears again"
1. Unable to edit existing codes. Can't delete codes either. If you do, they will come back.
2. Also problems to post new codes.

See the attached video recording: https://youtu.be/bRe-EaAIeeU

PrestaShop version:  1.7.6.8
PHP version: 7.3.25

[2020-12-18 04:33] greenwebtester commented on #19967
Hi,
I have the same problem when upgrade from ps 1.6 to ps 1.7. and I find a solution to my problem.
![Screenshot_4](https://user-images.githubusercontent.com/76195041/102575042-d732f080-4124-11eb-8dfc-711a3db36449.png)

![Screenshot_3](https://user-images.githubusercontent.com/76195041/102574937-976c0900-4124-11eb-96d3-f00e24d6dce7.png)

Hope that helps someone already have upgraded

[2020-12-18 05:46] shwetabhatia05 commented on #9592
yes but as you say, I will get "carrier 2" with updated changed, but in my case, carrier 2 does not have any ranges, changes for range are not saved in the carrier 2.

[2020-12-18 06:25] shwetabhatia05 commented on #9592
yes but as you say, I will get "carrier 2" with updated changed, but in my case, carrier 2 does not have any ranges, changes for range are not saved in the carrier 2. even some values from old entry are also not carried out to new carrier.
Please check following screenshots.

![Carrier1](https://user-images.githubusercontent.com/42729664/102581740-372a9680-4127-11eb-8672-459ff8d71989.PNG)
![NewCar

[2020-12-18 08:20] florine2623 commented on #22486
Hi @dineshbadrukhiya ,

I can't reproduce the issue you're having.

PrestaShop 1.7.6.8 is not compatible with PHP 7.3, you need to downgrade to 7.2 : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Also, *you must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug

[2020-12-18 08:20] #22486 closed, assigned to nobody

[2020-12-18 08:38] Amulliez opened #22487 "Bug main menu"
Hi,

I have had a problem for some time with the creation of CMS pages and the ps-main-menu module. Indeed, I manage to create CMS pages with my first store but when I try to do it with my second store, I cannot access the page (ERR_TOO_MANY_REDIRECTS).

When I work around the error by creating my page through the first store and equating it to the second, the CMS page category and CMS page do not

[2020-12-18 08:43] florine2623 commented on #22482
Hi @Stampa-Stampa ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

My BO is in French, my customer used English, I'm checking his messages but there's no issue :
![Capture d’écran 2020-12-18 à 09 42 54](https://user-images.githubus

[2020-12-18 08:43] #22482 closed, assigned to nobody

[2020-12-18 08:46] sowebdev opened #22488 "Faceted Search - Facet filters disappear and won’t come back after filter reset"
#### Describe the bug

During faceted search, when filtering on a feature with one value and no other filters can be shown, facet filters disappear and don't come back even after current filter reset.

#### Expected behavior

I expect the filters block to show up again when I reset my filter. Right now I have to refresh the page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to

[2020-12-18 08:50] florine2623 commented on #22475
Hello @deepdishchase ,

I can't reproduce your issue on your shop (maintenance mode) or a test shop using PS 1.7.6.9. It seems like your issue comes from a configuration setting. Please make sure your faceted search module is well configured.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help i

[2020-12-18 08:50] #22475 closed, assigned to nobody

[2020-12-18 08:54] SimonGrn commented on #22487
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-18 08:54] #22487 closed, assigned to nobody

[2020-12-18 08:56] jajarom commented on #22264
I try now with a module and i have some new info, maybe someone can fix this update issue:

**Results:** - appear several times
[SKIP] directory "/app/cache/" does not exist and cannot be emptied.
[CLEANING CACHE] File prod removed
Migrating old setting file...
parameters file already exists!
Finished...
[SKIP] directory "/app/cache/" does not exist and cannot be emptied.
[CLEANING CACHE] File pro

[2020-12-18 09:06] Amulliez commented on #22487
Hello @SimonGrn ,

You cannot reproduce the bug so you close the ticket? You don't go further?
I understand better why some Pretashop bugs have been going on for years now!

Despite my explanations and my screenshots, it seems that you do not understand all the steps:
1- Create a CMS page on the store 1
2- Create another CMS page on store 2 (I cannot access this tab on my side)
3- Install the ps_m

[2020-12-18 09:07] deman42 opened #22489 "error "Cannot download language pack" during prestashop 1.7.7.0 installation"
When installing, I choose a Turkish language and the language pack cannot be downloaded. this error only occurred in the latest version. I had no such problem in previous prestashop versions.

![image](https://user-images.githubusercontent.com/76203825/102595966-896cb700-4129-11eb-96af-f8724458927a.png)

[2020-12-18 09:17] SimonGrn commented on #22487
We didn't try to reproduce it because you didn't bother following the template. We are not robots, we are humans, we don't have a lot of time to work FOR FREE to fix this Open Source project, so we ask one thing: that people who come here to get their problems diagnosed follow the template. That's it. That's the only thing we ask.
If you don't have any respect for us, how do you expect we solve yo

[2020-12-18 09:19] muyncky commented on #18044
If there is any vague issue create here on PrestaShop, you can say run `psdatacheck` module and send the report here.

**There have been issues, like:**
- Modules adding columns to tables PrestaShop's native tables, which despite all the advice, still happens
- Payment modules that fail and create an corrupt `ps_ordere_history, see #16657 and #19098
- autoupgrade
- Overrides that manipulate the da

[2020-12-18 09:19] florine2623 commented on #22488
Hi @sowebdev ,

I reproduced your issue using PS 1.7.7.0 and faceted_search module v3.6.0 and v3.7.0.
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2020-12-18 09:24] florine2623 commented on #22489
Hello @deman42 ,

What language pack are your trying to download ?

Thanks

[2020-12-18 09:33] Amulliez opened #22492 "ps_mainmenu problem"
Hello,

I have had a problem for some time with the creation of CMS pages and the ps_mainmenu module. Indeed, I manage to create CMS pages with my first store but when I try to do it with my second store, I cannot access the page (ERR_TOO_MANY_REDIRECTS).
I have the lastest version of the module.

When I work around the error by creating my page through the first store and equating it to the secon

[2020-12-18 10:11] florine2623 commented on #22492
Hi @Amulliez ,

I can't reproduce your issue.
After creating a CMS page for each shop (shop 1 and shop 2) and adding their link to the main menu, it shows correctly on the front office :
**Shop 1 menu :**
![Capture d’écran 2020-12-18 à 11 10 29](https://user-images.githubusercontent.com/16019289/102602372-bb7a1b00-4121-11eb-8609-0c9fb8b528bd.png)

**Shop 2 menu :**
![Capture d’écran 2020-12-18

[2020-12-18 10:11] #22492 closed, assigned to nobody

[2020-12-18 10:23] ColbellHHS opened #22493 "Fatal error in module file - unable to access modules"
Good Morning,

I am unable to access modules from the Prestashop dashboard. When I click on the modules tab I am given a screen with the following error;

**[PrestaShop] Fatal error in module file :/var/www/vhosts/hhands.co.uk/httpdocs/modules/autoupgrade/upgrade/install-4.9.0.php:
Call to private method Autoupgrade::registerHookAndSetToTop() from context ''**

At this point I have to reload the D

[2020-12-18 10:33] florine2623 commented on #22493
Hello @ColbellHHS ,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2020-12-18 10:33] #22493 closed, assigned to nobody

[2020-12-18 10:39] #22193 closed, assigned to NeOMakinG

[2020-12-18 10:41] marionf commented on #22340
I reopen the issue as the PR has been merged in develop instead of 1.7.7.x

[2020-12-18 10:42] Amulliez commented on #22492
Hi @florine2623 ,

Thanks for your help.
Is it possible to have the tables file concerning the CMS pages in multistore mode? Maybe it's due to the update I made.

Thanks.

[2020-12-18 10:57] #22355 closed, assigned to NeOMakinG, prestascott

[2020-12-18 11:01] ColbellHHS opened #22494 "Fatal error in module file"
#### Describe the bug

From Dashboard Screen, I access the modules tab which brings out the options tab.
I click on Modules and a web page loads with the following error;

[PrestaShop] Fatal error in module file :/var/www/vhosts/hhands.co.uk/httpdocs/modules/autoupgrade/upgrade/install-4.9.0.php:
Call to private method Autoupgrade::registerHookAndSetToTop() from context ''

#### Expected behavior

[2020-12-18 11:09] deman42 commented on #22489
Hello @florine2623 ,
Turkish language pack. but even if i choose english it gives the same error

[2020-12-18 11:19] PierreRambaud commented on #22494
Thank for your report.

It's a duplicate of #22399

[2020-12-18 11:19] #22494 closed, assigned to nobody

[2020-12-18 11:32] ghost opened #22496 "Problem with product_mini_ images"
Hi,
After successfull upgrade from 1.7.5.2 to 1.7.6.9 and right after to 1.7.7.0 (direct 1.7.5.2 to 1.7.7.0 has failed) customer notticed missing BO product images from the list view.

It's funny because products have images on place but product_mini_ images are missing randomly and showing randomly...
Heck?

1) Product (ID 120) have image on place
![1](https://user-images.githubusercontent.com/82

[2020-12-18 11:43] ANSB commented on #9592
So this means all data are not correctly duplicated (on va dire ça comme ça) in the new one. That's a different problem. Maybe have a look in the code. But really, the code is ugly....

[2020-12-18 12:16] #19844 closed, assigned to Progi1984

[2020-12-18 12:39] florine2623 commented on #22496
Hi @PrestaShark ,

After regenerating the images, did you encounter errors ?

In the folder /img/tmp, are the images present ?

Can you also regenerate .htaccess by oing to SEO&URL and save configuration without making any change ?

Thanks

[2020-12-18 12:53] florine2623 commented on #22485
Hello @msaustral ,
The zip used by 1-click upgrade is the zip of 1.7.7.0 stable version.
Thanks

[2020-12-18 12:55] deepdishchase commented on #22475
Hi Florine,

Thanks for the reply. I’m quiet sure that it isn’t a configuration problem. I didn’t change anything and also the menu disappears.
I can add your IP to the maintenance IP, then you can experience the problem in an easy way, is that an option?

Met vriendelijke groet,

Jean-Pierre Timmermans

Mobiel | 06 504 72 221
E-mail | jean-pierre@palletvoorthuis.nl

Internet | www.palletvoorthuis

[2020-12-18 12:59] #22065 closed, assigned to Arman-Hosseini

[2020-12-18 13:15] sowebdev commented on #22488
@florine2623 I submitted a fix.

[2020-12-18 13:29] deman42 commented on #22489
it says like this on error. I think there is a problem with ssl or certificate

file_get_contents_curl failed to download https://i18n.prestashop.com/translations/1.7.7.0/tr-TR/tr-TR.zip : (error code 77) error setting certificate verify locations:
CAfile: /home/babussif/public_html/var/cache/dev/cacert.pem
CApath: none

[2020-12-18 13:41] jf-viguier commented on #16339
I've posted a pr to fix this https://github.com/PrestaShop/productcomments/pull/92

[2020-12-18 13:51] florine2623 commented on #22489
You should be able to create your shop even without a SSL certificate.

I successfully created a new shop in English and in Turkish with PS 1.7.7.0.
![Capture d’écran 2020-12-18 à 14 48 30](https://user-images.githubusercontent.com/16019289/102621651-2b979980-4140-11eb-8fb0-18edc305e111.png)
![Capture d’écran 2020-12-18 à 14 51 16](https://user-images.githubusercontent.com/16019289/102621858-8

[2020-12-18 13:51] #22489 closed, assigned to nobody

[2020-12-18 14:00] florine2623 commented on #22368
Ping @PrestaShop/product-team ,

Do you think it would be possible to add a custom format in the currency ?

Thanks!

[2020-12-18 14:02] msaustral commented on #22485
Hi Florine, thank you, please help, we do have a issue https://github.com/PrestaShop/PrestaShop/issues/9932 with a customer, the address duplicate as costumer click more than one time on continue and a no carrier message appear.

This is solve on the 1.7.7.0 but we can not upgrade!, any idea?

[2020-12-18 14:13] florine2623 commented on #22468
Hello @matteolavaggi ,

I can't reproduce your issue using PS 1.7.6.9 and module main menu v2.2.0
![Capture d’écran 2020-12-18 à 15 12 03](https://user-images.githubusercontent.com/16019289/102623842-69e28800-4143-11eb-8f1d-de0d1027d8ac.png)

Make sure this option is checked :
![Capture d’écran 2020-12-18 à 15 07 34](https://user-images.githubusercontent.com/16019289/102623870-7666e080-4143-11

[2020-12-18 14:13] #22468 closed, assigned to nobody

[2020-12-18 14:16] matteolavaggi commented on #22468
Hi, why you write "i'm not using classic theme"? Template is classi theme by prestashop with only minor css adjustement. Have you check the bug in multidomain enviroment? You dont share with me any information in your reply, only the wrong assumption of "not using classi theme".

[2020-12-18 14:17] matteolavaggi commented on #22466
@florine2623 anyone there?

[2020-12-18 14:19] matteolavaggi opened #22498 "Menu not work on PS 1.7.6.9 multistore frontend (only work on default store)"
#### Describe the bug

This bug was closed 3 times with all the 3 times wrong conclusion / supposition , so if youi need more information, ask, before close. Theme is classic theme. I've ask 3 times to check the bug in multidomain env, but for now no luck ^^ i've only obtained a bug close without the test i've ask.  So let's see if for the last time in a polite way someone handles this request wit

[2020-12-18 14:41] deman42 commented on #22489
When I try to install other versions on the same server, it does not give any error. it only gives error in 1.7.7.0 version. why could it be?

[2020-12-18 14:57] florine2623 commented on #22481
Hello @jf-viguier ,
Thanks for the report and the PR !

Could you specify if you used module productcomments v3 on PS 1.7 or PS 1.6 ?

I can't seem to install and make productcomments v3 work on PS 1.7.7.0.

I managed to install productcomments v3.5.1 on PS 1.6.1.24, but anonymization was automatic :
![Capture d’écran 2020-12-18 à 15 56 40](https://user-images.githubusercontent.com/16019289/1026

[2020-12-18 15:11] NeOMakinG commented on #22470
Sadly it looks like it's a TinyMCE issue itself, it's really minor as you can move the window as you want tu use it, and if we want to change it ourself, that would be in a really unmaintainable way :/

[2020-12-18 15:17] JevgenijVisockij opened #22500 "Adding invalid parameter to Language form and "No picture" image causes a crash."
#### Describe the bug

When you enter invalid parameters to language(whether add or edit) and add a new "No Picture" image you get a crash, but "No Picture" image saves anyway.

#### Expected behavior

When adding an invalid parameter to language proper error should be shown and not an exception. Also, it shouldn't save "No Picture" image if form is invalid.

#### Steps to Reproduce

Steps to repr

[2020-12-18 15:19] florine2623 commented on #22500
Hello @JevgenijVisockij ,
Can you specify which PS version you are using ?
Thanks!

[2020-12-18 15:21] JevgenijVisockij commented on #22500
Oh sorry forgot it. Updated the bug report.

[2020-12-18 15:34] Progi1984 commented on #21767
Fixed by #22082

[2020-12-18 15:34] #21767 closed, assigned to jolelievre

[2020-12-18 15:34] #22422 closed, assigned to NeOMakinG

[2020-12-18 15:55] tswfi opened #22501 "Merchant defined fields in contactform"
#### Is your feature request related to a problem?

As a merchant I want to define which fields are asked when filling the contact form. Some fields should be kept as "mandatory" (email?) but most of the fields should be defined by the merchant.

At the moment the fields are predefined and cannot be easily changed by the merchant.

#### Describe the solution you'd like

Each recipient should have

[2020-12-18 16:28] DelosTR commented on #22215
Hi, no it will not work, just for one "order_invoice" in phpmyadmin it wont make the change.
So I searched a little more.
In fact my old datas have some columns to "null", it was not an issue in prestashop 1.7.6.3.
2 ways: I search why no it doesn't accept anymore this null data.
or like you I update one by one to ''.
and in my case I will try to change the migration module, and set '' instead of

[2020-12-18 16:42] florine2623 commented on #22500
Thanks !

I managed to reproduce the bug :
![Capture d’écran 2020-12-18 à 17 38 33](https://user-images.githubusercontent.com/16019289/102638707-39591900-4158-11eb-90a1-b88eb9b6c74f.png)

After encountering the bug, no-image image still shows :
![Capture d’écran 2020-12-18 à 17 41 27](https://user-images.githubusercontent.com/16019289/102638765-50980680-4158-11eb-89a6-474cf844e1a5.png)

So I w

[2020-12-18 17:03] abramofranchetti opened #22503 "Cannot save an old address after making the DNI mandatory for that country"
#### Cannot save an old address after making the DNI mandatory for that country and the address duplicate

If you try to update (adding the DNI) or delete an address that has been previously used in an order and at the time of creation of the addess the dni was not required but now the dni is required for that country there will be an error and the address cant be updated or deleted and even worse

[2020-12-18 17:10] florine2623 commented on #22501
Hi @tswfi ,

Thanks for the suggestion.
I will ping our product team so they can decide.

Please stay tuned.

[2020-12-18 17:11] florine2623 commented on #22501
Ping @PrestaShop/product-team ,

@tswfi suggests adding a new feature to the contact form, what do you think ?

Thanks!

[2020-12-18 17:16] jf-viguier commented on #22481
@florine2623
Yes my version 3 of the module come from a 1.6 version of prestashop.
anonymization works on v3.5 but if you migrate to 4.0 version, you will see the issue.

[2020-12-18 17:36] florine2623 commented on #22503
Hi @abramofranchetti ,
Thanks for the report.

I've tried on PS 1.7.7.0 and I can't reproduce your issue following your steps.

- After creating a customer account and placing an order on the FO
- I enabled tax identification number on the order's country
![Capture d’écran 2020-12-18 à 18 31 09](https://user-images.githubusercontent.com/16019289/102643449-960c0200-415f-11eb-921b-fb78df8eff06.png

[2020-12-18 17:52] estenolotienenadie opened #22504 "Error sending email in prestahop 1.7.7.0"
Hello everyone, I am trying to configure the office365 email of my Godaddy hosting and it is impossible, apparently it is because it is not to select the STARTTLS encryption tip.
I have tried TLS encryption and SSL encryption and it doesn't work, STARTTLS encryption is not on the list. Please can you tell me what the problem is?
Thank you.
Alberto.
![ERROR](https://user-images.githubusercontent.co

[2020-12-18 18:02] estenolotienenadie opened #22505 "Prestashop logo"
Hello, good afternoon, I have installed prestahop 1.7.7.0 and the emails that are received, the position of the logo is no longer centered on the page, it is on one side. Could you inform me if it will be like this in this version? I attach a photo.
Regards,
Alberto.
![logooo](https://user-images.githubusercontent.com/64229330/102645956-91e1e380-4163-11eb-82f8-6a058876c68f.jpg)

#### Describe the

[2020-12-18 18:57] SimonGrn commented on #22504
Hello,

Please use the template, do not delete everything, instead fill the sections. We cannot accept issues where the template was deleted.

Moreover, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https:/

[2020-12-18 18:57] #22504 closed, assigned to nobody

[2020-12-18 22:52] SimonGrn commented on #22494
Duplicate of #22399

[2020-12-19 01:22] PululuK commented on #22442
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19393

[2020-12-19 13:11] 01park opened #22507 "Can not access backoffice: Error found : CData section not finished"
#### Describe the bug

Getting error, see screenshot

#### Expected behaviour

to be able to access backoffice

#### Steps to Reproduce

Steps to reproduce the behavior:

<img width="855" alt="Screenshot 2020-12-19 at 12 46 50" src="https://user-images.githubusercontent.com/46492443/102690191-a2459d00-41fb-11eb-9deb-17f684165cce.png">

#### Additional information

I have tried to delete the files

[2020-12-19 13:57] deman42 commented on #22489
help me?

[2020-12-19 15:59] SimonGrn commented on #22507
Hello @01park

I'm sorry but we need more context here. Did you do something special ? When does it started happening ? When you say "I have tried to delete the files in config folder" are you talking about the `must_have_module_list.xml` file ?
A fresh install of 1.7.6.5 doesn't have any trouble so we need to rule out a problem in your own environment.

Thank you.

[2020-12-19 16:52] 01park commented on #22507
Hi,

No, this just happend out of the blue.

After Googling I found some solutions on Github from PS support where they advised to remove some files. So I removed the one in the config xlm folder. Once removed I noticed after refreshing the files got downloaded again.

What I did now is this:

in classes tools change this

protected static $is_addons_up = false;

I also removed default_country_mod

[2020-12-19 17:40] stefanieelling commented on #22507
What do you do to get started with PrestaShop? As in what steps did you take to debug and find issues in the code?

[2020-12-19 17:43] 01park commented on #22507
Hi @stefanieelling

Are you having the same issues?

[2020-12-19 18:18] SimonGrn commented on #22507
@01park,
these files are downloaded automatically from Addons, but they seem to be corrupt for you for some reason. They are used to get the last version of modules.
Can you give us the file `must_have_module_list.xml` that seems to be problematic ?
Also could you try to disconnect from Addons then reconnect in your backoffice ?

@stefanieelling,
hello, this repository is aimed at bugs and feature

[2020-12-19 18:50] 01park commented on #22507
[xml.zip](https://github.com/PrestaShop/PrestaShop/files/5719993/xml.zip)

I have attache the  file

[2020-12-19 21:01] mekamak commented on #22489
The same problem happens with me.

[2020-12-19 21:16] matks commented on #22489
@deman42 Hi, I just completed successfully an install of PS 1.7.7.0 with Turkish language pack.

I am sorry but the issue is on your setup 😞 .

You try to install PS 1.7.7.0 with Turkish language pack, it fails.
I try to install PS 1.7.7.0 with Turkish language pack, it works. It's the same code.

We cannot help you as the issue only happen on your side if we cannot observe it, we cannot explore i

[2020-12-19 22:09] WartoWiedziec commented on #22108
me too,
so, it's any solution for this bug?
PrestaShop version: 1.7.7.0 runing
PHP version: 7.3

[2020-12-19 23:37] emanborg commented on #22460
Same issue here

[2020-12-20 09:27] deman42 commented on #22489
When I install it on localhost, I have no problem either. but when i install on hosting it fails. where are you installing?

[2020-12-20 11:11] madkot commented on #22415
Which hook should I use? @matks

[2020-12-20 13:43] michael2278 opened #22508 "Rounding to full numbers and not 2 decimals"
**Bug: Product cards have prices rounded to full numbers and not 2 decimals.**

Issue is for all products in webshop.
First occurrence: after update from 1.7.6.9 using 1-click update
1. Product price with TAX in database: 616.55
2. Product price visible at product card: 617.00
3. International>Localization>Curencies> "Decimals" = 2
4. Products added to cart have a correct price 616.55
5. /src/Core

[2020-12-20 14:12] BENZINEBK opened #22509 "screen remains white with warning message"
Hello,  I have been having the a problem for a week now, my front and back office page page displays
messages :

Warning: rename (/tmp/class_index.phplJtY1y,/var/www/html/var/cache/dev/class_index.php): No file or directory of this type in /var/www/html/classes/PrestaShopAutoload.php in route 264

Warning: rename (/tmp/class_stub.phpziTlg3,/var/www/html/var/cache/dev/class_stub.php): No file or di

[2020-12-20 15:19] Hlavtox commented on #22508
@michael2278 The numbers are rounded to number of displayed decimals (precision in the currency setting currency).

I think your problem is, that the price on product page is 617.00, but it should be 616.55, as it is in the cart.

[2020-12-20 15:22] abramofranchetti commented on #22503
Hi @florine2623 and thank you for investigating the issue.
Try this one:
replicate steps from 1 to 6. **But instead of edit the address from the "address" section of the customer account, try to place another order** and then, in the checkout where you have to select your invoice and shipping address, try to edit the address adding the DNI. **OR try to delete the address**.
![image](https://user-i

[2020-12-20 15:27] Hlavtox commented on #22508
@michael2278 Hi Michael, the MINIMAL_VALUE value is correct. It works fine in clean 1.7.7 install, something went wrong in the upgrade process, or there is something influencing the way the price on your product page displays.

See here:
![1](https://user-images.githubusercontent.com/6097524/102717075-3ab54d80-42e0-11eb-858d-053b5c082f82.jpg)
![2](https://user-images.githubusercontent.com/6097524/

[2020-12-20 15:40] michael2278 commented on #22508
Thanks for a quick reply.
Any hints what to look for?
For me this is a major issue because Google Merchant Center is rejecting my products. The reason is that one of my modules creates a feed for GMC and uses real prices while in webshop Google sees a different price (rounded). My ads are not showing...
I would really appreciate any hints/directions/ideas what could be done to fix this :)

[2020-12-20 15:43] SimonGrn commented on #22509
Hello,

You probably need to empty your cache manually: try emptying the folder /var/www/html/var/cache/.

However your problem seems to be linked to your environment, so I close this issue: we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consi

[2020-12-20 15:43] #22509 closed, assigned to nobody

[2020-12-20 16:25] Fixmetal commented on #22108
As for me, it was due to a missing **complete** upgrade from 1.7.6.9 - I discovered it timed out whilst upgrading the database. I manually updated it by altering the specific seed SQL to match my database name/prefix table names.
On another note, I had problems whilst changing PHP version from 7.2 to 7.3 into Cpanel due to the default extensions/name changing 7.3 brings with it. Please note that s

[2020-12-20 16:48] btronquo commented on #17455
any news?

[2020-12-20 19:26] HartLarsson commented on #22496
product_mini_xxx.jpg are under /img/tmp
You can try to delete one from the folder and see if is recreated right.

[2020-12-20 20:50] ryan-wo-3t opened #22510 "Order by customer with account before upgarde throws address error sometimes."
Please let me know what further information to include.

PS Version 1.7.7.0

[2020-12-20 20:53] ryan-wo-3t commented on #22510
Here's the stack trace:

[2020-12-20 21:51] SimonGrn commented on #22510
Hello,

try to follow the template you get when you click on "New Issue", and don't delete everything. There is not enough information provided to reproduce your issue and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a n

[2020-12-20 21:51] #22510 closed, assigned to nobody

[2020-12-20 22:39] FabioFormenti opened #22511 "npm run build in Classic theme themes/classic/_dev/ not correct in windows"
#### Describe the bug

In windows 10 i have an error using:
npm run build
in Classic theme themes/classic/_dev/

In C:\wamp64\www\PrestaShop\themes\classic\_dev\package.json
 "scripts": {
    "build": "NODE_ENV=production webpack --progress --colors --debug --display-chunks",
is not correct for windows.
#### Expected behavior

This is correct
    "build": "set NODE_ENV=production & webpack --progr

[2020-12-20 22:41] ryan-wo-3t commented on #22386
I also have this issue.  Upgrade from PS 1.7.6.5 to 1.7.7.0.  Some addresses for some customers produce an error like this where a string is expected but null is given.

I have had some success by printing the invoice, then deleting the customer's address and re creating it.

This issue seems to only affect customers who created accounts that are several years old that were created in much earlier

[2020-12-20 22:54] SimonGrn commented on #22511
Hello,

As far as I know we don't officially support windows as a development platform.

Can you confirm this @matks or @PierreRambaud?

[2020-12-20 23:22] Hlavtox commented on #22508
@michael2278

Go to your PS install, controllers/front, open any controller, for example Product Controller, put this right to beginning of initContent:
[code]
Then go to product page and there should be two numbers on the top of the page, are they 22?

[2020-12-21 07:09] shwetabhatia05 commented on #9592
Yes, all data are not duplicated in the new one.

[2020-12-21 08:07] michael2278 commented on #22508
Hi - yes, 22 is there at the top left corner.

[2020-12-21 08:09] matks commented on #17455
@btronquo this bug is fixed in next PS minor version 1.7.8.0

[2020-12-21 08:20] ShaimyWinda opened #22512 "Can't translate with tags in BO"
#### Describe the bug

Hello,

I have a problem with translation

I used that in tpl file :
`<p>{l s=" Un rideau [1]Thermique[/1] dans les pièces mal isolées pour une protection contre le froid en hiver et la chaleur en été." tags=['<span>'] d='Shop.Theme.Catalog'}</p>`

But when I go to the back office to translate this, it doesn't take into account the tag I put.  Moreover, in the display I see

[2020-12-21 08:36] marionf commented on #22500
@florine2623 Is it a regression compared to 1.7.7.x ?

[2020-12-21 08:37] hibatallahAouadni commented on #22498
Hello @matteolavaggi

I didn't manage to reproduce the issue with PS1.7.6.9, MainMenu v2.1.1 and PHP v7.2, see the attached screen record below:

https://drive.google.com/file/d/17WDyQeKMZIRVt5pui-ZPgCD36CWnUny6/view

In your default shop, I noticed that your search bar is customized, do you use another module for the seatch bar?
![image](https://user-images.githubusercontent.com/23308427/10275634

[2020-12-21 08:39] marionf commented on #22461
Nice idea @PululuK :)

[2020-12-21 09:04] hibatallahAouadni commented on #22505
Hello @estenolotienenadie

Do you mean you already had a shop and you upgraded to 1.7.7.0 or just fresh install? And could you please edit your issue and fill these blocks (Steps to Reproduce, Additional information, ...).

_PS:_ **You must follow the template to submit a complete bug report**. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-

[2020-12-21 09:27] matteolavaggi commented on #22498
I only use extra css to customize theme. Search was done (in production)
with external javascript layer so is complete independent from theme.

Il giorno lun 21 dic 2020 alle ore 09:38 Hibatallah Aouadni <
notifications@github.com> ha scritto:

[2020-12-21 10:08] #21834 closed, assigned to NeOMakinG

[2020-12-21 10:09] hibatallahAouadni commented on #22507
Hello @01park

Could you please confirm these steps to reproduce the issue, cause I didn't manage to reproduce it even when I put your files into my shop>config>xml:

1. BO>IMPROVE>Modules>Module Manager, connect to Addons at least once
2. Then disconnect
3. From nowhere, while trying to access to your BO, this error occurred

Is that so? **We need the steps to reproduce the issue**.

Thanks!

[2020-12-21 10:11] AdrienLps opened #22513 "Problem with emails"
Hello,

I encountered a rather annoying problem on Prestashop 1.7.7.1! I no longer receive any email when there is an order on my site. When I change the order status, my customers no longer receive the email and also when I reply to a service message.

[2020-12-21 10:14] matks commented on #22511
I think we support Windows as development platform, but not as production platform 🤔  .

Ping @NeOMakinG can you please help us?

[2020-12-21 10:14] 01park commented on #22507
Hi,

I connected to add-ons. Disconnected and edit the tools file.

I now am able to log in again without any errors.

Thank you!

[2020-12-21 10:16] matks commented on #22513
Sounds similar to https://github.com/PrestaShop/PrestaShop/issues/22262

[2020-12-21 10:19] DelosTR commented on #22215
I did not check all the tables, but I compared where the new system use null or not.
So this is not the full list, but you just have to copy/paste this to sql phpmyadmin, and then no more issue about null given:

UPDATE `ps_address` SET `phone` = '' WHERE `phone` IS NULL;
UPDATE `ps_address` SET `phone_mobile` = '' WHERE `phone_mobile` IS NULL;

UPDATE `ps_order_detail` SET `id_order_invoice` = '0

[2020-12-21 10:20] matks commented on #22415
@madkot there are generic hooks for this purpose, that must be something like `actionCMSFormBuilderModifier` or `actionCMSPageFormBuilderModifier`

See the documentation https://devdocs.prestashop.com/1.7/modules/sample-modules/grid-and-identifiable-object-form-hooks-usage/#adding-new-form-field-to-customer-form

[2020-12-21 10:25] AdrienLps commented on #22513
Problem solved thanks anyway

[2020-12-21 10:25] #22513 closed, assigned to nobody

[2020-12-21 10:28] PierreRambaud commented on #22511
You can use [Git for Windows](https://gitforwindows.org/) and everything will working well.

We can't change the build command because it's how Unix/Linux systems are working, but with Git Bash, you can use the same syntax in Windows :)

[2020-12-21 10:31] NeOMakinG commented on #22511
I would recommend to use Git Bash too

[2020-12-21 10:41] estenolotienenadie commented on #22505
Good morning, thanks for your replay, for instance in my domain fabricantedelsofa.com with prestashop 1.7.5.2 when I place an order or send a message from the contact form, i receive a confirmation message and the logo of the store is in the center of the screen as you can see in the first photo
![1](https://user-images.githubusercontent.com/64229330/102768091-e01ffe00-4380-11eb-8a31-e94a02b1f714.

[2020-12-21 10:41] hibatallahAouadni commented on #22500
Hello @marionf

No, it's a not regression cause I reproduced it with PS1.7.6.7, PS1.7.6.9 and PS1.7.7.0.
But, this issue is only occured while creating a new language with name: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

I didn't reproduce it while editing my default lang

[2020-12-21 10:42] PierreRambaud commented on #22459
We can close this issue since we have nothing to change in the Core right now. Feel free to reopen or create a new issue if you think an improvement must be done :)

[2020-12-21 10:42] #22459 closed, assigned to nobody

[2020-12-21 10:45] NeOMakinG opened #22514 "[RESPONSIVE - BO] Notification window modal can't be closed on migrated pages"
#### Describe the bug

When you open notification modal, you see this :

![image](https://user-images.githubusercontent.com/14963751/102768648-c9c67200-4381-11eb-9f1c-b4f6df070f6a.png)

#### Expected behavior

I would suggest as a quickwin to just add a small margin like this :

![image](https://user-images.githubusercontent.com/14963751/102768791-fda19780-4381-11eb-8590-9a5fde3e0208.png)

#### St

[2020-12-21 10:48] hibatallahAouadni commented on #21112
Hello @PierreRambaud

I believe @fedetibaldo is still busy, so what we should do? close it? or change the label to TBR?

[2020-12-21 10:48] hibatallahAouadni commented on #22160
Hello @peppoweb,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-21 10:48] #22160 closed, assigned to nobody

[2020-12-21 10:51] Seb33300 opened #22515 "Run cron script with PHP CLI"
Prestashop provide several cron script to run every day for instance:

- Reindex search:
`https://www.domain.com/admin/index.php?controller=AdminSearch&action=searchCron&ajax=1&full=1&token=xxx`

- Reindex prices (facet search):
`https://www.domain.com/modules/ps_facetedsearch/ps_facetedsearch-price-indexer.php?token=xxx`

- Reindex attributes (facet search):
`https://www.domain.com/modules/ps_fac

[2020-12-21 10:54] hibatallahAouadni commented on #21316
Hello @onklmaps

It's been more than **26 days** and you didn't answer @PierreRambaud :confused:
Usually, I close the issue with no response more than **20 days**. So, **please answer ASAP**.
@okom3pom and @PierreRambaud if you think we should to add the label **`To Do`** even without the author confirmation, please go ahead :wink:

Thanks!

[2020-12-21 10:55] hibatallahAouadni commented on #21088
Hello @ivanfelicite ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-21 10:55] #21088 closed, assigned to nobody

[2020-12-21 10:56] PierreRambaud commented on #22515
Hi,

There is no easy way to do it because files are using GET parameters instead of `$argv`
Using `wget` or `curl` is currently the best way to call these files.

Kind regards

[2020-12-21 11:00] PierreRambaud commented on #21316
It's still in To Be Specified, we don't have the right way to do it, so it can't be in To Do :thinking:

[2020-12-21 11:16] hibatallahAouadni commented on #22508
Hello @michael2278

I didn't manage to reproduce your issue with my shop PS1.7.6.9 upgraded to PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1vtat2tP0iIcfWII2rVNwg3I5WmBTPaCN/view

Please check and feedback.
Thanks!

[2020-12-21 11:21] prestascott commented on #22514
Hey @NeOMakinG,

Nice improvement, i will add a 16px margin left and right on mobile to keep it consistent with the BO.
Also, the notification icon needs to be put on focus state to show that it's selected. It's confusing to see that the view my shop's icon is blue, it needs to be grey otherwise it's confusing for users to identify if it's selected or not.

Here is my design proposition:
![notific

[2020-12-21 11:34] tvorgul opened #22516 "Automatic actions in modules triggering by hooks and issue with employe accounts without access to the module"
An employe is using a BackOffice account with limited permissions (ex : "Logistician" profile) and its profile does not have access to the modules. Anyway he can update the order status or do some changes in the product sheet (e.g. update the number of products in stock).
As this employe does not have access to the modules, all actions done with this account do not trigger any actions in the modul

[2020-12-21 11:34] hibatallahAouadni commented on #22511
Hello @FabioFormenti

I agree with @PierreRambaud & @NeOMakinG, you should use Git Bash and you will not face any problem.
After download [Git](https://gitforwindows.org/), click on Git icon with the (mouse) right button and choose open **Git Bash** and then execute the command:

`npm run build`

_**PS:** Don't forget to check if the npm is installed_ :wink:

So, I close the issue cause it's not r

[2020-12-21 11:34] #22511 closed, assigned to nobody

[2020-12-21 11:36] btronquo commented on #17455
thanks
Do we have an ETA to the release of 1.7.8.0 ?

[2020-12-21 11:41] hibatallahAouadni commented on #22044
Hello @HartLarsson

Do you still encounter this issue?

Thanks!

[2020-12-21 11:43] hibatallahAouadni commented on #22235
Hello @passio777x

It seems your problem is fixed :slightly_smiling_face:
So, I close the issue.
If you encounter any other problems, feel free to open a new issue, we will gladly investigate it.

Thanks!

[2020-12-21 11:43] #22235 closed, assigned to nobody

[2020-12-21 11:46] JevgenijVisockij commented on #22500
I am able to reproduce this fully on fresh PS1.7.6.9. I wonder what could we do diffrently.

Product without image(but uses default "No picture" image.
![image](https://user-images.githubusercontent.com/47781757/102773691-5711c280-4392-11eb-89ef-b49493be40c6.png)

Attempting to save primary Language. Changed name to aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2020-12-21 11:55] michael2278 commented on #22508
Hi @hibatallahAouadni
OK. But we did not do anything else with the shop...
1. We made an 1-click upgrade
2. We switched from PHP 7.2 to 7.3 (I tried switching back and it does not change anything)
No new modules were installed and no other upgrades were made.
I jut have no idea where to look for a solution.....

[2020-12-21 11:56] hibatallahAouadni commented on #22507
Hello @01park

Thanks for your confirmation! Unfortunately, I didn't manage to reproduce it but glad to hear that your issue is resolved :tada:
So, I close this issue. Feel free to open a new one if you encounter any other problem.

Thanks!

[2020-12-21 11:56] #22507 closed, assigned to nobody

[2020-12-21 11:58] SimonGrn commented on #22508
You can try to disable all your non-PrestaShop modules and reactivate them one by one to check if you can reproduce the problem.
Also, are you using the Classic Theme in FO ? It could be from the theme if it's a third-party. Try with Classic to check if the issue is still there.

Thank you

[2020-12-21 11:59] hibatallahAouadni commented on #22498
Hello @matteolavaggi

I'm really sorry but I didn't manage to reproduce it :confused:
If you're sure that the problem is not from the theme, so could you please provide more details to reproduce your issue.

Thanks!

[2020-12-21 12:05] michael2278 commented on #22508
Checked with classic theme and problem is still there. I will continue with the modules this evening because of traffic.
Thanks everyone. All replies and ideas are really appreciated 👍

[2020-12-21 12:10] hibatallahAouadni commented on #22386
Hello @mvanas & @ryan-wo-3t

I didn't manage to reproduce your issue with my shop PS1.7.6.5 upgraded to PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1-llvr7SrkC0mqNnIHLpA0A5qR5HdrMi9/view

I even edit the customer address and I didn't encounter any problem.
Please check and feedback.

Thanks!

[2020-12-21 12:19] estenolotienenadie opened #22517 "Error sending emails - STARTTLS not supported"
#### Describe the bug

Is imposible to send emails from office 365 account, in encryption only apear TLS and SSL, and not apear STARTTLS and apear this error.

![33](https://user-images.githubusercontent.com/64229330/102777126-48c2a700-4390-11eb-8b91-f995f2b4ceda.png)

#### Expected behavior

It should say message sent and receive it correctly

If prestashop is not working with STARTTLS encryption

[2020-12-21 12:21] SimonGrn commented on #22517
Hello,

Please change your screenshots, they show everything including your admin URL which is a huge security risk.

[2020-12-21 12:29] estenolotienenadie commented on #22517
Hello, sorry, I have already deleted the information.
Regards,
Alberto.

[2020-12-21 13:08] PrestaShark commented on #22496
Yes they are recreated but unfotrunately unseen by the script on BO. File is on place but not shown on the BO. Take a look at two last attached images... :/

[2020-12-21 13:09] matks commented on #22517
Hello @estenolotienenadie so if I try to summarize your post, it is "PrestaShop allows the use of SMTP with SSL, TSL but STARTTLS is not available"?

[2020-12-21 13:09] hibatallahAouadni commented on #22108
Hello @zuk3975

Do you still encounter this issue?
@Fixmetal Thanks for the details provided :wink:
@matks do you have any idea what is causing this issue?

Thanks!

[2020-12-21 13:10] HartLarsson commented on #22044
hi @hibatallahAouadni
i've finally solved the problem was related to a theme module tpl not compatible with the new version of the official module.
I close the thread ;)
Ty for the support

[2020-12-21 13:10] #22044 closed, assigned to nobody

[2020-12-21 13:12] HartLarsson commented on #22496
if you take the image url and paste in another browser tab, you see the pic? if yes probably is a browser cache problem

[2020-12-21 13:19] Prestaworks commented on #9941
This issue still exists.
If you install a theme in shop 1
then create shop 2 and a new child theme for shop 2.
All custom hooks gets new ids and all modules hook to the custom hooks are unhooked in shop 1 when you activate the theme for shop 2.
So something in the creation of the custom hooks is not looking if the hook already exists when the theme.yml file is executed.

[2020-12-21 13:23] matteolavaggi commented on #22498
Have you try with multidomain multiple store instead subfolder one? Can
this be related?

Il giorno lun 21 dic 2020 alle ore 12:59 Hibatallah Aouadni <
notifications@github.com> ha scritto:

[2020-12-21 13:32] hibatallahAouadni commented on #22442
Hello @PeNov

Thanks for the clarification. I managed to reproduce it with PS1.7.7.0. But, I believe like I mentionned above, it's not a bug but it's a PrestaShop limitation.

Ping @PrestaShop/product-team @PeNov suggests we need to add the cart rules id at this stage (see screenshot below):

![image](https://user-images.githubusercontent.com/23308427/102781899-b4a90d80-4398-11eb-98e2-5c1a79c94f7c

[2020-12-21 13:38] Prestaworks commented on #9941
this may be the cause?

public function createHook($hook_name, $title = '', $description = '', $position = 1)
    {
        $this->db->insert('hook', [
            'name' => $this->db->escape($hook_name),
            'title' => $this->db->escape($title),
            'description' => $this->db->escape($description),
            'position' => $this->db->escape($position),
        ], false, true, **D

[2020-12-21 13:44] onklmaps commented on #21316
Sorry for the delay.
Yes, I think this is a good solution 🙂

[2020-12-21 13:47] hibatallahAouadni commented on #22515
Hello @Seb33300

I close this issue cause it's not a bug or an improvement of PrestaShop Core.
Keep in mind that you can always ask @PierreRambaud any other question related to this topic even when the issue is closed :wink:

Please feel free to open a new one if you have any issue with PrestaShop Core, we will gladly investigate it.
@PierreRambaud Thanks for your quick reply :1st_place_medal:

Th

[2020-12-21 13:47] #22515 closed, assigned to nobody

[2020-12-21 13:53] matks commented on #22430
Sorry, I can't tell you about Google secret backdoors on your computer 👀

[2020-12-21 13:57] prestascott commented on #22442
Hello everyone,

Thanks @PeNov for your report. :)

This is an interesting feature but why merchant would use exactly the same cart rules name when he can simply be more specific on the name of the cart rule and use a different one? 🤔

I don't think just adding the ID of the discount will help in this case, because you will still have to check on the discounts list page if you selected the right d

[2020-12-21 14:21] #22222 closed, assigned to nobody

[2020-12-21 14:32] Teenoo commented on #9998
Je rajoute, que si on met pour les produits 1, 2 et 3 le transporteur A, seulement celui-ci est disponible en ayant dans le panier :
- Produit 1 et 2
- Produit 1 et 3
- Produit 2 et 3

A quand une solution ? Merci

[2020-12-21 14:46] matks commented on #17455
It's expected to be delivered in 1st half of 2021, like May/June. But as this date is far ahead, it can change.

[2020-12-21 14:57] hibatallahAouadni commented on #22512
Hello @ShaimyWinda

I managed to reproduce your issue with **PS1.7.6.1** and **PS1.7.6.4**, see the attached screen record below:

https://drive.google.com/file/d/1dZmOykTMiHakUCXr6e1zEWeFKfWU-LlW/view

But, with **PS1.7.6.7**, **PS1.7.6.9** and **PS1.7.7.0**, I got this error:

![image](https://user-images.githubusercontent.com/23308427/102789850-f770e280-43a4-11eb-848d-9f5ba128f30c.png)

It seem

[2020-12-21 14:58] Ouro17 commented on #22262
I don't understand what do you mean. I also tried to override the settings in the parameters.php file as the file containted this:
`    'mailer_host' => '127.0.0.1',
    'mailer_user' => NULL,
    'mailer_password' => NULL,`

But is not working.
As @Stampa-Stampa did,  I contacted my host provider but they still don't know why is not working.

[2020-12-21 15:03] tswfi commented on #14917
Issue for the category assignment https://github.com/PrestaShop/PrestaShop/issues/22402

[2020-12-21 15:08] hibatallahAouadni commented on #22517
Hello @estenolotienenadie

Could you please confirm that your issue is that **STARTTLS is not available** as @matks mentionned?
Waiting for your confirmation.

Thanks!

[2020-12-21 15:18] madkot commented on #22415
@matks thank you.
[code]
These hooks do the trick.

[2020-12-21 15:23] SimonGrn commented on #22513
Duplicate of #22262

[2020-12-21 15:32] javadalmasi opened #22522 "RTL language currency name problem"
In rtl stores, the currency symbol is on the right, but this is if the currency symbol should be on the left
Note the image below
https://s17.picofile.com/file/8418381342/Screenshot_2020_12_21_%D9%BE%D9%88%D8%B3%D8%AA%D8%B1_%D9%87%D9%85%D8%B1%D8%A7%D9%87_%D8%A8%D8%A7_%D9%82%D8%A7%D8%A8_%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86_%D9%87%D8%A7_%D8%AF%D8%B1_%D8%B1%D8%A7%D9%87%D9%86%D8%AF_%D8%A7%D8%A8%D8%B9%

[2020-12-21 15:39] SimonGrn commented on #22522
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-21 15:39] #22522 closed, assigned to nobody

[2020-12-21 16:06] fsoabsix opened #22524 "Upgrade 1.6 to 1.7 : PrestaShopDatabaseException ps_module_access"
#### Describe the bug

Hi, i tried to upgrade my website from PS 1.6.1.19 (I also tried form 1.6.1.24) to PS 1.7.6.4 (I tried the newest version, but I had PHP errors...)
I tried automatic and manual upgrade.
After a manual upgrade with no errors on the upgrade script, i can't do anything on the PS admin. I always have the error :

[code]

I compare the ps_module_access between my 1.6 and 1.7 PS D

[2020-12-21 16:10] estenolotienenadie commented on #22517
Hello, sorry for delay, yes, my hosting Goddady give me one office365 email and in the configuration apear encryption STARTTLS and i think this is the problem thats why apear this error:
Connection could not be established with host smtp.office365.com :stream_socket_client(): unable to connect to smtp.office365.com:587 (Network is unreachable)
Could you suggest me where I can buy an email service

[2020-12-21 16:14] NeOMakinG opened #22525 "[BO] View my shop button is blue while it shouldn't"
#### Describe the bug

Icon of View my shop on header is blue, it's looking like it's active while it shouldn't

#### Expected behavior

Should be gray, and blue on hover

![image](https://user-images.githubusercontent.com/14963751/102797397-eed1d980-43af-11eb-9f87-318a572b55e3.png)
![image](https://user-images.githubusercontent.com/14963751/102797418-f4c7ba80-43af-11eb-9819-9f96a8615f13.png)
![im

[2020-12-21 16:33] PierreRambaud commented on #18674
I manage to reproduce the issue, it happens when you disable the query cache in MySQL.
Here's a possible fix https://github.com/PrestaShop/ps_facetedsearch/pull/295

[2020-12-21 16:39] mklimkiew commented on #15783
@marionf how about adding this issue to 1.7.7.1 ?
Lack of specific codes are affecting SEO.
And @rblaurin did a nice PR with mpn and now it seems to be useless :-(

[2020-12-21 16:47] web-plus commented on #22262
I installed 1.7.7 on two websites so far and I have to agree with Hlavtox - I already have issues too. I'm also in Czech Republic and it's true that proc_open is disabled everywhere. On one hosting I could setup SMTP without problems, but I wasn't able to make it work on the second one, I tried all options / porst that hosting recommends...
Order cannot be finished because after saving the user de

[2020-12-21 16:53] jolelievre commented on #22250
Closed by #22293 Thanks @atomiix

[2020-12-21 16:53] #22250 closed, assigned to atomiix

[2020-12-21 17:05] hibatallahAouadni commented on #22524
Hello @fsoabsix

The issue of upgrading from PS1.6.1.24 to PS1.7.7.0, it will be fixed in the next patch PS1.7.7.1 (see issue #22237).
Also, I advise you to not upgrade your store manually as it will throw lots of errors.
So, please roll back to PS1.6.1.19 and when the next patch is released, upgrade your shop with the module **1-click upgrade** (this is the safest way to upgrade your store).

Pin

[2020-12-21 17:07] marionf commented on #15783
Hello @mklimkiew

This issue can't be part of the 1.7.7.1 as it's not a regression of the 1.7.7.0
You can read in our article about [patch release lifecycle](https://build.prestashop.com/news/ps17-patch-release-lifecycle/), we integrate in the patch versions only regressions from the last minor version or security fixes.

If you know how to fix this issue, you can submit a PR on develop branch to

[2020-12-21 17:10] idnovate opened #22527 "Module is not registered in "aliases" hooks"
#### Describe the bug

Due to this modification:
https://github.com/PrestaShop/PrestaShop/commit/e59ebbddde684d7236b72aabbc2ce5bcb06d3364#diff-d5d273eeef7469e6cf4038eb2ee139ee12927a7709ea47f97d66e8b39da60178R587
https://github.com/PrestaShop/PrestaShop/blob/9a18f064ad50fd359485ec2b84313c9f393660f4/classes/Hook.php#L594

Since PS 1.7.7.0, if you try to register a module in a hook, it's not register

[2020-12-21 17:22] hibatallahAouadni commented on #22516
Hello @tvorgul

Alright, let's keep it easy :sweat_smile:
What do you want is that the employee with **Logisticien** profile doesn't even have the right to change the order status cause it triggers the payment module, is that so?

Thanks!

[2020-12-21 17:37] tvorgul commented on #22516
Hello,

Thank you for your message.
No. The issue is that any actions done my an employe without permissions to access to some module does not trigger the automatic actions in modules via hooks.
And this is an important issue for different kind of modules, as explained in my examples.
The hooks are not executed if some changes are done by this kind of employees and this is wrong. The system should

[2020-12-21 17:46] estenolotienenadie commented on #22517
I have already solved the problem.
Thank you.

[2020-12-21 17:46] #22517 closed, assigned to nobody

[2020-12-21 20:05] juraj1000 opened #22530 "Missing favicon in iPhone Safari browser"
#### Describe the bug
There is missing the eshop favicon in iPhone Safari browser if we use own PS theme. We created own theme as a child theme for default PS theme and also we changed the favicon in own theme. Own favicon was correctly created with the app "Favicon generator on PrestaShop Marketplace".
In Win 10 there is not any issue, the favicon is correctly displayed in Mozilla Firefox and Goo

[2020-12-21 20:55] mzfk opened #22531 "Translations import in BO do not works"
#### Describe the bug

Fresh LT translations are not importing in version 1.7.7 via BO

#### Expected behavior

Make translation on crowdin. Wait till project is build. Goto BO and import newly translated strings.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make translation on crowdin
2. Wait till project is built on crowdin
3. Go to PrestaShop BO International > Translations ..

[2020-12-21 21:10] PierreRambaud commented on #22527
I manage to reproduce the issue with I had to change part of your module to make sure I understood what happened.

Here's a fix #22532

@PrestaShop/product-team I don't know if it's major or critical but it has to be merged for the 1.7.7.1 because some modules are maybe not working anymore if they use legacy names.

[2020-12-21 21:12] PierreRambaud commented on #22527
I update the module you uploaded with the fix to properly see the difference.
[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/5726567/dummymodule.zip)

[2020-12-21 23:19] stamatisbreezer opened #22533 "New combination"
Adding a new color-size combination in a product. From the product page, when I select color-size and click Generate. The isn't any checkbox with the available product pictures. So the new color-size combination has a random picture and not the picture I have uploaded and there isn't any way to select it.

#### Additional information

* PrestaShop version: 1.7.7
* PHP version: 7.1

[2020-12-22 00:38] go-sudo opened #22534 "JS errors on product edit page"
Hello

After upgrade to 1.7.7.0  js libraries in ...

form.js?1.7.7.0:1440 Uncaught TypeError: formZoneElem.magnificPopup is not a function
    at form.js?1.7.7.0:1440
    at form.js?1.7.7.0:1536
jquery-3.4.1.min.js:2 Uncaught TypeError: $(...).modal is not a function
    at HTMLDocument.<anonymous> (132?_token=9oXbZS2VuUZPYyTZFm5kielOQydj2Q0IjSQ5crcZElA:4857)
    at e (jquery-3.4.1.min.js:2)

[2020-12-22 08:08] fsoabsix commented on #22524
Hi @hibatallahAouadni,
Thanks for your answer, I will wait the next patch and try the automatic upgrade 👍
Thanks !

[2020-12-22 08:10] matks commented on #22534
Hi @go-sudo this is something that has been reported before, see https://github.com/PrestaShop/PrestaShop/issues/22258

We found that each time someone reported this bug ; it was a 3rd party module that introduced the issue. We upgraded jQuery to version 3 in PrestaShop 1.7.7.0 and some modules do not support this (or load jQuery 1 which creates conflicts).

[2020-12-22 08:31] hibatallahAouadni commented on #22414
Hello @radioeventos ,

I believe that your problem is third-party modules and you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2020-12-22 08:49] SimonGrn commented on #22534
Hello,
Thanks for your issue. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you are able to follow a simple template, we will be glad to investigate it.

Thank you

[2020-12-22 08:49] #22534 closed, assigned to nobody

[2020-12-22 09:00] hibatallahAouadni commented on #22500
Hello @JevgenijVisockij

Could you please confirm if this PR #21878 could fix this issue or no?

Thanks!

[2020-12-22 09:02] JevgenijVisockij commented on #22500
Yes it would

[2020-12-22 09:02] hibatallahAouadni commented on #22500
ok thx :slightly_smiling_face:

[2020-12-22 09:02] JevgenijVisockij commented on #22500
Hey!

Yes it would.

[2020-12-22 09:24] hibatallahAouadni commented on #22530
Hello @juraj1000

I didn't manage to reproduce your issue with PS1.7.6.9 and PS1.7.7.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/102871244-7a924700-443e-11eb-905b-24e2cb13ad2a.png)

While adding this URL to favorites you can see the favicon:

![image](https://user-images.githubusercontent.com/23308427/102871901-4a977380-443f-11eb-9da1-03d8eee1

[2020-12-22 09:26] go-sudo commented on #22534
@matks how to restore prestashop to older version please, not all modules are upgraded yet to use jQuery version 3

[2020-12-22 09:28] marionf commented on #22527
@PierreRambaud Is it a regression compared to 1.7.6.9 ?

[2020-12-22 09:30] go-sudo commented on #22534
@SimonGrn le bug est claire est connu en plus j'ai bien mentionné la version de PS et la page ou le souci persiste dans le titre.
aucun des développeurs a pu résoudre le souci du coup je reste sur la version 1.7.6.5 , le temps qu'ils mettent leur module à jour

[2020-12-22 09:36] SimonGrn commented on #22534
@go-sudo
You need to use the backup you made before upgrading, like the autoupgrade module highly suggested you. You should always make a full backup before upgrading.

Regarding your second comment:
* please use English here
* is this is a known problem, why would you create another issue ? We already know the problem, as @matks pointed you.
* you need to follow the template. this is not a compli

[2020-12-22 10:26] hibatallahAouadni commented on #22533
Hello @stamatisbreezer

Please next time **follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Now, follow my steps to change the picture for every combinations that you create:

1. BO>SELL>Catalog>Products>edit product
2. In the Basic settings upload all photos of com

[2020-12-22 10:26] #22533 closed, assigned to nobody

[2020-12-22 10:27] hibatallahAouadni commented on #22531
Hello @mzfk

Thanks for your issue. We are trying to reproduce it right now.
Please be patient.

Thanks!

[2020-12-22 10:28] MatShir opened #22536 "Increase the key description of the webservice account"
#### Is your feature request related to a problem?

A current limitation of the key description is 32 characters on the webservice page.

#### Describe the solution you'd like

I suggest to increase it to 256 characters.

[2020-12-22 10:29] WartoWiedziec commented on #22253
@Kerami82 @hibatallahAouadni
I did this and the message disappears from the "Information" tab. These files are on the so-called "supply".

[2020-12-22 10:43] PierreRambaud commented on #22527
Yes it is, and afaik there is no workaround to bypass the problem. It's maybe a critical issue!

[2020-12-22 10:44] #22430 closed, assigned to nobody

[2020-12-22 10:55] hibatallahAouadni commented on #22496
Hello @PrestaShark

That's weird!!! even your console doesn't show any error about broken URL.

Could you please try to clear cache like @HartLarsson mentionned above and check.

Thanks!

[2020-12-22 11:01] hibatallahAouadni commented on #22508
Hello @michael2278

By the way, have you changed any Core code? or override it?
If so, please redo what you changed and check if the problem persists.

Thanks!

[2020-12-22 11:55] Jose-Agoralys commented on #9866
Hi There,
we have also the same issues with several customers. Some of them are getting split orders (x2) with payment gateways issues due to the split generated by Prestashop in 1.6.1.24.

[2020-12-22 12:45] Ouro17 commented on #22262
Hello, I was able to solve my problem thanks to this thread: https://github.com/PrestaShop/PrestaShop/issues/22298

I went to the database I saw that in ps_configuration, the entry PS_MAIL_PASSWD was invalid.

My password has a `<` on it and it made my passwor to be cut from that point.

For example, `my_pass<word` became `my_pass` only and that was the whole problem.

I tested with > and it's wor

[2020-12-22 13:25] PrestaShark commented on #22496
Nothing changed even in other browser.

Any dependencies could broke that images and function?

[2020-12-22 13:34] matks opened #22538 "Return a useful message when "page not found" happens for AJAX calls"
#### Is your feature request related to a problem?

When user tries to use a route that does not exist like `/aka?a=aididpsop` he is displayed the "Not Found" FO page.
But if he tries to reach a _ajax route of a module that does not exist_ the user only gets a blank page. Example `/aka?a=aididpsop&fc=module&module=blockreassurance&controller=d&action=RecordJSHookExecution&ajax=true`

#### Describe

[2020-12-22 13:40] matks commented on #22262
@Ouro17 You are right! indeed some "cleaning" happens when you submit the password.

Could you please open another github issue so we can treat this? Or I can open it if you prefer

[2020-12-22 13:43] Progi1984 commented on #22340
Fixed by #22535

[2020-12-22 13:43] #22340 closed, assigned to PierreRambaud

[2020-12-22 13:45] #22364 closed, assigned to NeOMakinG, prestascott

[2020-12-22 14:04] matks opened #22540 "Saving a password with special characters for SMTP settings saves it wrongly"
Reported by @Ouro17 in https://github.com/PrestaShop/PrestaShop/issues/22262#issuecomment-749522794

#### Describe the bug

In "Advanced Parameters > Email" BO Page you can choose to use SMTP email settings.
One of the settings to be provided is the password.

But if you submit a password with special characters in it, like `<`, it _saves successfully_ but actually the password is wrongly stored i

[2020-12-22 14:05] matks commented on #22262
@Ouro17 I reported it https://github.com/PrestaShop/PrestaShop/issues/22540 so we can start dealing with it ASAP 😊

[2020-12-22 14:08] SimonGrn commented on #22540
What is the official rule for SMTP password ? Why should we refuse to save a password if it contains a `<` ? This character can't be a part of a SMTP password, regardless of the provider ?

[2020-12-22 14:12] matks commented on #22540
ping @PierreRambaud

(IMO we should refuse nothing a password is just plain text)

[2020-12-22 14:13] PierreRambaud commented on #22540
Of course :+1:

[2020-12-22 14:15] javadalmasi opened #22541 "currency symbol in rtl"
In Arabic, Persian and Hebrew, which are RTL, in the current version of PrestaShop (1.7.7) the currency symbol is placed to the right of the product price, and this is if the currency symbol should be shown to the left of the price. . This only applies to RTL languages.
Consider the following examples:
- The currency symbol is currently like this
ريال 35000
- The currency symbol in RTL languages s

[2020-12-22 14:36] Progi1984 commented on #22527
Fixed by #22532

[2020-12-22 14:36] #22527 closed, assigned to PierreRambaud

[2020-12-22 14:54] hibatallahAouadni commented on #22540
Hello @matks

Thanks for your issue I managed to reproduce with PS1.7.6.9 and PS1.7.7.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/102901410-de803400-446d-11eb-8af0-59cbc340a6e4.png)

- If I use **`abcd>efgh`** as password, the system accept it.
- If I use **`abcd<efgh`** as password, the system save **`abcd`** instead of **`abcd<efgh`**

Thank

[2020-12-22 15:42] hibatallahAouadni commented on #22541
Hello @javadalmasi

**Please next time respect and follow the template to submit a complete bug report.**

To change the currency position, please follow my steps:

1. **BO**>**IMPROVE**>**International**>**Localization**
2. Go to **Currencies** tab
3. Click on edit button to edit your currency
4. Scroll down to the **Language** table
5. Click on **Edit symbol** button of **Arabic** language
6. **

[2020-12-22 15:42] #22541 closed, assigned to nobody

[2020-12-22 15:43] Progi1984 commented on #21500
Fixes #21692

[2020-12-22 15:43] #21500 closed, assigned to sowbiba

[2020-12-22 15:45] hibatallahAouadni commented on #22538
Hello @matks

Thanks for your issue and your PR.

[2020-12-22 15:49] aytekinazmi12 opened #22544 "Prestashop 1.7.7 admin panel unable to login"
#### Describe the bug

Cannot login to the management panel. 500 error returns.

#### Expected behavior

I cannot login and I want to be able to login.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

https://prnt.sc/w7x9k5

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version:

[2020-12-22 15:51] hibatallahAouadni commented on #22536
Hello @MatShir

Do we need the **Product Team** or **Core Developers** approval for this one? or should I add the label **`To Do`**?

[2020-12-22 15:53] matks commented on #22544
Hi this is probably the bug reported on https://github.com/PrestaShop/PrestaShop/issues/22300

Please check your ICU version and upgrade if it's below 4.6 😉

[2020-12-22 15:54] atomiix opened #22545 "Cannot add an official currency when an non-CLDR compatible language exists"
#### Describe the bug

When a non-CLDR compatible language exists (for instance, a manually added language with iso_code = aa & language = en-TS) and you try to add an Official currency, an error is displayed.

#### Expected behavior

You should be able to add a currency even with a non-official language.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add a non-existing language in

[2020-12-22 15:58] matks opened #22546 "Saving "Delivery time of in-stock products " with < char saves it wrongly"
#### Describe the bug

In "Shop Parameters > Product Settings" BO Page you can configure 'Delivery time of in-stock products'.
However similarly to https://github.com/PrestaShop/PrestaShop/issues/22540 you cannot use `<` in it.

If you submit a value with `<`, it _saves successfully_ but actually the data is badly stored.
If you enter '1<2' it saves '1'

The logic in the code that is faulty is the

[2020-12-22 16:06] hibatallahAouadni commented on #22546
Hello @matks

I managed to reproduce it with PS1.7.4.1, PS1.7.5.2, PS1.7.6.9 and PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1Z6JgHiK519e7GFaYltjptsTKcdwF3Zrq/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request :sweat_smile:

Thanks!

[2020-12-22 16:23] hibatallahAouadni commented on #22485
Hello @msaustral

To fix that problem without upgrading your shop, use the fix in this PR #15399
Hope it helps.

Thanks!

[2020-12-22 16:25] aytekinazmi12 commented on #22544
Hello, thank you. the problem is fixed.

[2020-12-22 16:25] #22544 closed, assigned to nobody

[2020-12-22 16:25] hibatallahAouadni commented on #22485
Hello @msaustral

Do you confirm that your issue is a duplicate of #21948?

[2020-12-22 16:29] hibatallahAouadni commented on #22461
Hello @marionf

Should we remove the **`Waiting for Dev`** label and add the label **`To Do`**? or we need @PrestaShop/prestashop-core-developers approval?

Thanks!

[2020-12-22 16:54] hibatallahAouadni commented on #22545
Hello @atomiix

I managed to reproduce the issue with develop, but I didn't reproduce it with 1.7.7.x
So, it's a regression :wink:

Thanks for your issue!

[2020-12-22 16:59] msaustral commented on #22485
Hi @hibatallahAouadni
- this fix https://github.com/PrestaShop/PrestaShop/issues/9932 does not solve the issue
- on this link #15399 only say that will be fix on the 1.7.7.0 with no details on how to fix it
- the #21948 case refers to an issue during installation with alter table, when we try to install we got an error of ps_pagenotfound not exist, but it does not have to affect any manager module

[2020-12-22 17:23] javadalmasi commented on #22541
There is no Edit symbol section in PrestaShop 1.7.7
Not even in the official demo of Prestashop site
[](https://imgur.com/a/CxSSX5f)

[2020-12-22 19:07] Kerami82 commented on #22253
@WartoWiedziec can you tell me where I should looking for this files? I copy this files from vendor/composer/installers/src/Composer/Installers/ form Prestashop 1.7.7.0 folder and it dosnt help.

[2020-12-22 20:01] Hlavtox commented on #22530
@juraj1000 Maybe safari is primarily looking for it's own iconset. Try to help it.

Open this page - https://realfavicongenerator.net/, upload your favicon in high resolution and it will automatically generate all the icons for all platforms. Then you just put them to your PS folder and add the piece of code to header.tpl.

[2020-12-22 21:33] WartoWiedziec commented on #22253
I found them in the installation file after unpacking. Then I copied them to the production folder.

From: Kerami82 <notifications@github.com>
Sent: Tuesday, December 22, 2020 8:08 PM

 <https://github.com/WartoWiedziec> @WartoWiedziec can you tell me where I should looking for this files? I copy this files from vendor/composer/installers/src/Composer/Installers/ form Prestashop 1.7.7.0 folder and

[2020-12-23 06:27] dineshbadrukhiya commented on #22486
I have downgrade PHP version: 7.2.34 but still same issue. I had attached video and I can also share the access details in private mail if you want to check.

[2020-12-23 07:03] Kerami82 commented on #22253
Now it is ok. Previous when I copy files Total Commander change names to lowercase.

[2020-12-23 08:26] #22536 closed, assigned to nobody

[2020-12-23 09:08] pakka63 opened #22551 "Error in Product::setWsProductBundle"
https://github.com/PrestaShop/PrestaShop/blob/153d72457a1f37eb9acd04542876dde5063a7059/classes/Product.php#L7946
The label id of product_attribute is "**id_product_attribute**" and not "**product_attribute_id**" as the "schema=synopsis" said in the api XML of product resource (line 632)

[2020-12-23 09:10] matks commented on #22551
Hi @pakka63 it's a little bit short 😅  if you want to report a bug, can you please use the template? https://github.com/PrestaShop/PrestaShop/issues/new?template=1_bug_report.md

It's very important for us 😉

[2020-12-23 09:11] hibatallahAouadni opened #22552 "[BO - Products] while adding two specific prices in row the user is selected"
#### Describe the bug

Try to add a specific price to a product, then add another one, you will see that the selected user for the previous specific price is already selected

#### Expected behavior

When creating a new specific price for a product all the form should be reset.

#### Steps to Reproduce

1. **BO**>**SELL**>**Catalog**>**Products**>edit product
2. Go to **Pricing** tab
3. Click on *

[2020-12-23 09:14] hibatallahAouadni commented on #9897
Hello @marionf

I just created the new issue #22552 :wink:

[2020-12-23 09:19] khouloudbelguith opened #22553 "BO - Emails Translations - The TXT version of the email is not updated"
#### Describe the bug

In the BO > International > Translations > Core emails, the Txt version is not updated.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Translations page
2. Select Type of translation > Email translations
3. Select the type of email content "Body"
4. Select your theme Classic
5. Select your language French
6. Click on Modify
7. In th

[2020-12-23 09:19] hibatallahAouadni commented on #22551
Hello @pakka63

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-12-23 09:19] #22551 closed, assigned to nobody

[2020-12-23 09:59] michael2278 commented on #22508
Hello everyone.
I found the problem. It was one of the modules which was working fine with previous version of PS and now it does not. The module was showing related products at product pages,categories & cart.
Anyway thanks @Hlavtox @hibatallahAouadni @SimonGrn for the guide and support!
Without you I would be looking in the wrong place!
I wish you all the best, happy, great and excellent Christm

[2020-12-23 10:08] marionf commented on #22553
@khouloudbelguith

This is the wanted behavior as html and txt are differents files and templates, you need to do your modifications in both of them
Modifications done in one are not supposed to be automatically done in the other

[2020-12-23 10:10] abramofranchetti opened #22558 "Tax Total is wrong in "Order Conf" mail when a Voucher is used."
#### Describe the bug

In order confirmation email (template '`order_conf`') the field Total Tax (in the template `{total_tax_paid}`) report the wrong value in case a voucher applicable on order total (ex: 10% on order total) is used. In particular the total tax is calculated on the order total without the discount.

#### Expected behavior
Total tax is calculate on the discounted order total

####

[2020-12-23 10:12] hibatallahAouadni commented on #22531
Hello @mzfk

We managed to reproduce your issue with @Julievrz help :wink:
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2020-12-23 10:17] pxblx opened #22560 "validateOrder() not saving cart carrier in the order"
#### Describe the bug

I'm trying to create orders with a script. Everything goes fine until I validate the order with **validateOrder()**. The carrier I assigned in the Cart object is not saving in the resultant order. I have verified that the carrier ID exists and also that it's saved correctly in the Cart object. When I validate the order, the **default carrier** is always assigned instead of t

[2020-12-23 10:18] pakka63 opened #22561 "[WS] Duplicate entry error generated when creating a pack"
#### Describe the bug
When I insert a product with the web service API, sometimes it happens that the operation reports an error like:
_This call to PrestaShop Web Services failed and returned an HTTP status of 500. That means: Internal Server Error
 code=97 message=[SQL Error] Duplicate entry '14198-10140-17460' for key 'PRIMARY'. From DbCore->insert() Query was : INSERT INTO
 `ps_pack` (`id_prod

[2020-12-23 10:22] #19309 closed, assigned to nobody

[2020-12-23 10:27] hibatallahAouadni commented on #22508
@michael2278 Glad that you found the problem :tada:
Merry Christmas and happy new year :slightly_smiling_face:

[2020-12-23 10:27] #22508 closed, assigned to nobody

[2020-12-23 10:43] hibatallahAouadni commented on #22253
Hello @Stephane1874

Do you still encounter this issue?
@Kerami82 & @WartoWiedziec  can you confirm that copying files resolve the issue?

Thanks!

[2020-12-23 10:45] khouloudbelguith commented on #22315
Hi @NeOMakinG,

Yes, you are right!
![image](https://user-images.githubusercontent.com/16067358/102988579-63be2400-4514-11eb-9567-42b545624dca.png)

Thank you :slightly_smiling_face:

[2020-12-23 11:02] hibatallahAouadni commented on #22485
Hello @msaustral

In this issue, you post two problems:

- upgrade issue
- address issue

This is not acceptable, you shouldn't conflict us with multiple issues.

First, you need to update your issue description **following our template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

[2020-12-23 11:21] kpodemski commented on #22306
Build ready, QA validation time.

[2020-12-23 11:24] ghost opened #22563 "Module statsbestcategories total sales is bad"
#### Describe the bug

The row product_price is the price without reduction so the stats are bad

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make on order with a discounted product
2. Check the total on a category

**Screenshots**

![Capture d’écran de 2020-12-23 12-22-26](https://user-images.githubusercontent.com/5064590/102991539-ae8e6a80-4519-11eb-9ac3

[2020-12-23 12:03] abdullacm commented on #22215
@DelosTR

adding below queries to the list

update lw_address set dni = '' where dni is null;
update lw_address set other = '' where other is null;
update lw_address set address2 = '' where address2 is null;
update lw_address set company = '' where company is null;
update lw_address set vat_number = '' where vat_number is null;

[2020-12-23 12:09] DelosTR commented on #22215
@abdullacm

Alright, thanks for the add ;)

[2020-12-23 12:32] chrisvanberg commented on #15152
Hit there,
Several merchants we work with have received complaints from their customers about the lack of clarity.

They have added the last product in stock to their cart and do not realize that it is still available for them. So they think the product is out of stock when they could order it.

The most striking example is a customer who had the last product in her shopping cart and searched all

[2020-12-23 12:35] WartoWiedziec commented on #22253
@Stephane1874
I can confirm that it helped in my case.

[2020-12-23 12:43] Alexandr-Vall commented on #15152
I look forward to solving this problem for a long time.
I have almost all products in one copy.
After adding the last product, the buyer thinks that he did not have time to buy it and leaves.
The developers promised to fix it, but did not do it.

[2020-12-23 13:00] mubz23 commented on #15152
i Also find it strange that there is still no fix for this, it is a major bug.
i have over 10K products and most are 1 in stock, i have had numerous complaints from customers, not to mention
the lost sales that i have had because of this.

hope we can come up with a solution for this problem

[2020-12-23 13:23] marionf commented on #15152
Hello there,

The behaviors are [specified](https://github.com/PrestaShop/PrestaShop/issues/15152#issue-482224057)

@chrisvanberg yes of course, the best thing you can do is to submit a pull request:
https://github.com/PrestaShop/PrestaShop/tree/develop

@mubz23 it's not a bug but an improvement, of course you can submit a pull request to see this topic solved :)

[2020-12-23 13:44] hibatallahAouadni commented on #22558
Hello @abramofranchetti

We are aware of this issue, it is already fixed with our new release PS1.7.7.0.
This issue is a duplicate of #16227.

Thanks!

[2020-12-23 13:44] #22558 closed, assigned to nobody

[2020-12-23 13:45] hibatallahAouadni commented on #22558
Duplicate of #16227

[2020-12-23 13:47] okom3pom commented on #21316
Oh I said something stupid, it's the products rewrite rules who are stuck not category

[2020-12-23 14:14] hibatallahAouadni commented on #22560
Hello @pxblx

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19906.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-23 14:14] #22560 closed, assigned to nobody

[2020-12-23 14:15] hibatallahAouadni commented on #22560
Duplicate of #19906

[2020-12-23 14:29] #22105 closed, assigned to sowbiba

[2020-12-23 14:47] khouloudbelguith opened #22565 "BO - Webservice - Webservice key is empty"
#### Describe the bug

In the BO > Advanced Parameters > Webservice page, when we try to add a web service key with special characters, it will be empty

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Webservice page
2. Create a webservice key with this `<LDEXRUXFJHJI69FZWBXHNRKQ3W

[2020-12-23 15:07] itsoftgroup01 opened #22566 "Cache problem prestashop 1.7"
Hello,

So I don't know what site to write on.
I'll explain the problem first.
I have an online store and integrated in it I have a feed that updates my prices every day. After the price update, the change is not seen in chrome, only on incognito. If I enter chrome normally and delete the cache, it shows the good prices after the first refresh, but if I give it another refresh, it shows me the old

[2020-12-23 15:28] Hlavtox commented on #22508
@michael2278 Awesome! :-) Merry christmas for you too!

Maybe the module is not hard to fix, search the code for some rounding and investigate why there is 0 for decimal places, or just hardcode 2 there... 🤐😄

[2020-12-23 15:32] hibatallahAouadni commented on #22563
Hello @okom3pom

Thanks for your issue and your PR :slightly_smiling_face:
I managed to reproduce it with PS1.7.6.9 and PS1.7.7.0.

Thanks!

[2020-12-23 15:34] Hlavtox commented on #22566
@itsoftgroup01 There must be some kind of module or external proxy cache enabled. I see you are using Cloudflare, maybe that's the issue.

If the prices change when opening the page from different browser, the issue is not in Prestashop itself.

______________

PS: If you are changing prices by external script, it would be good to implement a logic, that flushes faceted search cache, if the price

[2020-12-23 15:58] hibatallahAouadni commented on #22566
Hello @itsoftgroup01

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

@Hlavtox Thanks for your quick reply :wink:

Thanks!

[2020-12-23 16:13] Hlavtox opened #22569 "Not enough data provided in hookActionProductCancel"
#### Describe the bug

I wanted to fix https://github.com/PrestaShop/ps_googleanalytics/issues/84, but I cannot get enough information from the hook in 1.7.7. There is only **id_order_detail**.

#### Expected behavior

The hook should provide information about:
- What product is getting cancelled. ✔️
- How many pieces are cancelled ❌
- What amount of money is refunded ❌

#### Steps to Reproduce

S

[2020-12-23 16:16] hibatallahAouadni commented on #22561
Hello @pakka63

I didn't manage to reproduce your issue with PS1.7.6.3, PS1.7.6.9 and PS1.7.7.0, see the attached screenshot below:

### PS1.7.6.3:

![image](https://user-images.githubusercontent.com/23308427/103016539-7c453300-4542-11eb-8bb7-e7fd2de98621.png)

### PS1.7.7.0:

![image](https://user-images.githubusercontent.com/23308427/103015668-2328cf80-4541-11eb-92ce-b0384f720bab.png)

Please ch

[2020-12-23 16:24] pakka63 commented on #22561
The problem is not in the GET method but in the POST (insert) of a new product.
The GET is display correclty

[2020-12-23 16:41] hibatallahAouadni commented on #22561
Hello @pakka63

Could you please provide the xml structure that you use to create a Pack.

Thanks in advance!

[2020-12-23 16:41] idnovate opened #22571 "Different priority with translation files"
#### Describe the bug

If there's the same locale translation file in `root` module folder and `translations` folder, root folder is more priority. But if you try to translate this string, translations folder is more priority, **so you can't translate the string that appears in the front unless you remove one of the files**.

![image](https://user-images.githubusercontent.com/15104724/103018546-bc

[2020-12-23 17:13] hibatallahAouadni commented on #22569
Hello @Hlavtox

Following your steps, that's what I got:

![image](https://user-images.githubusercontent.com/23308427/103020671-1dcf8300-4549-11eb-9973-89488c89a8e4.png)

I believe what you're asking for is an improvement, cause it's not a bug, it's just PrestaShop limitation :wink:
So, ping @PrestaShop/prestashop-core-developers would you like the idea of adding more infos than **id_order_detail*

[2020-12-23 17:15] Hlavtox commented on #22569
@hibatallahAouadni I don't know, I also could not make it work... :-D

[2020-12-23 17:23] pakka63 commented on #22561
Try this XML payload in POST:
[payload.txt](https://github.com/PrestaShop/PrestaShop/files/5736358/payload.txt)
Before performing the POST operation make sure that the product product_id = 5 has 2 attributes: 19 and 20

[2020-12-23 17:32] MarkALeonard opened #22572 "BO pages using new theme have wrong jQuery version and no jQuery migrate"
**Describe the bug**

When using BO pages that use the new theme and load bundle.js the jQuery version is 3.3.1, jQuery Migrate is also unavailable.

BO pages that load js files individually have jQuery 3.4.1 and jQuery Migrate 3.1.0

In my particular case a module relying on jQuery UI does not function because of missing jQuery Migrate.

**Expected behavior**

jQuery version and jQuery Migrate sh

[2020-12-23 18:51] beyondsagency commented on #22015
Hello, we had the same issue, when we refund an order (with shipping cost) with discount.

We fixed by changing this code in OrderSlip.php class :

`
        if ((float) $amount && !$amount_choosen) {
            $order_slip->order_slip_type = 1;
        }
        if (((float) $amount && $amount_choosen) || $order_slip->shipping_cost_amount > 0) {
            $order_slip->order_slip_type = 2;

[2020-12-23 18:54] beyondsagency commented on #18319
Hello, we had the same issue, when we refund an order (with shipping cost) with discount.

We fixed by changing this code in OrderSlip.php class :

[code]
by
[code]

Because if we reduce the price of products with discount we must be in order_slip_type 1, but actualy if we refund shipping_cost too we go to order_slip_type 2 and the amount in PDF is incorrect.

What do you think about this fix ?

[2020-12-23 18:59] msaustral commented on #22485
Hi @hibatallahAouadni please forget about the alter table error, please help us to solve the module manager issue.

It stop working after upgrade.

[2020-12-23 19:23] hibatallahAouadni commented on #22485
Hello @msaustral

Could you please provide some screenshots or screen record about the issue.

When you said the module manager issue, do you mean that whole page doesn't work or just the 1-click upgrade module doesn't work?

Thanks!

[2020-12-23 19:26] msaustral commented on #22485
hi @hibatallahAouadni as we describe on the description, the whole module manager does not work:

->modules -> update any module pending to be updated or try to install a new module (it does not work)

you can not install or update any module.

There is no error on PHP logs

There is this error on PS logs:
{"exception":"[object] (Symfony\Component\Debug\Exception\FatalErrorException(code: 0): Comp

[2020-12-23 19:51] kevin0x90 commented on #22057
Hi,

i was investigating this issue and found the problem in CartRule.php method checkValidity.
There is a loop that already skips the error message when there is another product in the cart where the reduction does not apply.

` if ($this->reduction_exclude_special) {
            $products = $cart->getProducts();
            $is_ok = false;
            $has_already_reduced_product = false;

[2020-12-23 21:35] matks commented on #22572
Hi @MarkALeonard,

On BO Orders page (and other migrated pages), jQuery Migrate is not loaded because these pages have always been running jQuery3. We have upgraded jQuery version in BO pages using old theme and in FO, and we wanted to provide a layer of compatibility which is why we used jQuery Migrate. On pages where jQuery has always been running version 3, I don't understand the need for jQuer

[2020-12-23 21:37] matks commented on #22572
For details
- https://github.com/PrestaShop/PrestaShop/pull/15245
- https://github.com/PrestaShop/PrestaShop/pull/15750

[2020-12-24 00:14] NicolaModugno commented on #18571
I have rewritten/semplified your great workaround @MaximusBaton :)

[code]

Nicola :)

[2020-12-24 04:58] Swethan73 commented on #19994
[+] checking dependencies... traceback (most recent call last): file "./seeker.py" line 32 in import requests modulenotfounderror: no module named 'requests

[2020-12-24 05:06] Swethan73 commented on #19994
[+] checking dependencies... traceback (most recent call last): file "./seeker.py" line 32 in import requests modulenotfounderror: no module named 'requests

[2020-12-24 05:59] ghost opened #22574 "Module statsbestproduct total sales is bad"
#### Describe the bug

The row product_price is the price without reduction so the stats are bad

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make on order with a discounted product
2. Check the total on a best product sales

**Screenshots**

![Capture d’écran de 2020-12-24 07-01-35](https://user-images.githubusercontent.com/5064590/103065091-ff53a100-45b5

[2020-12-24 06:16] ghost opened #22575 "Module statsbestsupplier total sales is bad"
#### Describe the bug

The row product_price is the price without reduction so the stats are bad

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make on order with a discounted product
2. Check the total on a best supplier

**Screenshots**

![Capture d’écran de 2020-12-24 07-15-43](https://user-images.githubusercontent.com/5064590/103065868-eea42a80-45b7-11eb

[2020-12-24 06:36] ghost opened #22576 "Module statsbestmanufacturer total sales is bad"
#### Describe the bug

The row product_price is the price without reduction so the stats are bad

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the module because is not present
1. Make on order with a discounted product
2. Check the total on a best manufacturer

**Screenshots**

![Capture d’écran de 2020-12-24 07-38-04](https://user-images.githubuse

[2020-12-24 06:59] ghost opened #22577 "Module statssales turnover must be without tax"
#### Describe the bug

Turnover must be without taxe

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Check the total on statssales

**Screenshots**

![Capture d’écran de 2020-12-24 07-57-58](https://user-images.githubusercontent.com/5064590/103068644-da632c00-45bd-11eb-9140-c65449ef55a6.png)

#### Additional information

* PrestaShop version: 1770
* PHP versi

[2020-12-24 08:21] stamatisbreezer commented on #22533
You are mistaken if you think that is not a bug to create 20 combinations false and then need to go to each blue-red-yellow-black combinations, and change picture, finalizing editing each 20 one by one. Is how prestashop you think needs to work ? Making a product false and then start editing?

[2020-12-24 08:42] marionf commented on #18319
Thanks for diving into this @beyondsagency

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2020-12-24 09:04] ShaimyWinda commented on #22512
Hi, do you have a solution ?

Thanks

[2020-12-24 09:27] hibatallahAouadni commented on #22571
Hello @idnovate

I didn't manage to reproduce the issue cause there's something not working with your attached module, see the screen record below to understand:

https://drive.google.com/file/d/1Vwq8vH0TI_F9mlhKs4hyxuE9X4Qntgbp/view

Please check and feedback.
Thanks!

[2020-12-24 09:39] hibatallahAouadni commented on #22572
Hello @MarkALeonard

Thanks for your issue! I believe what you're asking for is an improvement :wink:

Ping @NeOMakinG do you think that jQuery Migrate should be consistent across the BO?

Thanks!

[2020-12-24 09:50] hibatallahAouadni commented on #22574
Hello @okom3pom

Thanks for your issue and your PR. I managed to reproduce the issue with PS1.7.6.9 and PS1.7.7.0.
I’ll add this to the debug backlog :wink:

Thanks!

[2020-12-24 09:56] MarkALeonard commented on #22572
Hi @matks,

Thank you for your prompt response.

I agree, adding jQuery migrate does not make much sense but adding it stopped the errors I was receiving. The module in question is using jQuery UI and an error appears when it is used. It seems jQuery UI and 1.10.3 and jQuery 3 have some compatibility issues.

However as you mention new theme BO pages have always used jQuery 3 so this shouldn't be

[2020-12-24 10:01] atomiix commented on #22424
Hi @khouloudbelguith, It seems that this issue has been fixed by #21692. Can you confirm that you don't have the error anymore?

[2020-12-24 10:01] NeOMakinG commented on #22572
@matks the problem is that on 1.7.0.0, it was jQuery 2.2, when the upgrade to 3.0 has been done, it would require to add jquery-migrate to for module compatibility!

Having a small differences like 3.4.1 on default and 3.5 on new-theme is not that critical, but not having jQuery migrate seems to be an error to me when the team update to 3.5 on new-theme.

@MarkALeonard I think on 1.7.6, the order

[2020-12-24 10:10] khouloudbelguith opened #22580 "BO - Order page - Add a product - Specific price is not applied when From quantity > 1"
#### Describe the bug

In the BO > Orders > Order view page > when we try to add a product with a specific price from quantity > 1) => the specific price is not applied

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products page > Add a new product with Price (tax included) =12 / Tax rule = 20%
2. Add new specific price Starting at 5 unites / with a discount 5

[2020-12-24 10:19] hibatallahAouadni commented on #22575
Hello @okom3pom

Thanks for your issue and your PR, I manage to reproduce your issue with PS1.7.7.0.
I’ll add this to the debug backlog :slightly_smiling_face:

Thanks!

[2020-12-24 10:21] Ouro17 commented on #22540
Thank you @matks for opening this issue.
Also I noticed that the password is saved in plain text (thanks god in this case!) but maybe we want to encrypt it in the future?

[2020-12-24 10:27] hibatallahAouadni commented on #22576
Hello @okom3pom

Thanks for your issue and your PR, I manage to reproduce your issue with PS1.7.7.0.
I’ll add this to the debug backlog :slightly_smiling_face:

Thanks!

[2020-12-24 10:48] hibatallahAouadni commented on #22577
Hello @okom3pom

Thanks for your issue and your PR, I manage to reproduce your issue with PS1.7.7.0.
I’ll add this to the debug backlog :slightly_smiling_face:

Thanks!

[2020-12-24 10:53] SD1982 opened #22581 "INVOICE - MAIL / No shop logo on the invoice when you change the port (Docker)"
#### Describe the bug

There is no shop logo on the invoice received by mail when you change the port (for exemple to 8071)

#### Expected behavior

The URL pointing to the shop logo generated in the mail template should include the port (when it's different from 80)

#### Steps to Reproduce

Steps to reproduce the behavior:

emails must be configured and the port must be changed (**do not use the

[2020-12-24 10:54] SD1982 commented on #22581
ping @hibatallahAouadni

[2020-12-24 10:56] ghost opened #22582 "Module statsforecast total sales by category is wrong: should use unit_price_tax_excl instead of product_price"
#### Describe the bug

The row product_price is the price without reduction so the stats are bad

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make on order with a discounted product
2. Click on stats
3. Check the stats

**Screenshots**

![Capture d’écran de 2020-12-24 11-55-49](https://user-images.githubusercontent.com/5064590/103084361-178be600-45df-11eb-

[2020-12-24 10:58] MarkALeonard commented on #22572
@NeOMakinG After some investigation, yes the order pages have been migrated between versions 1.7.6 and 1.7.7 so that is the root of my problem. Thanks for suggesting that.

If adding jQuery migrate to the UIKit will include it in the migrated pages then that seems like a sensible option to me.

[2020-12-24 11:06] JeromeFarin commented on #15369
It's dirty code but he can help many people, please fix them better I don't have more time #22583

[2020-12-24 11:31] hibatallahAouadni commented on #22582
Hello @okom3pom

Thanks for your issue and your PR. I managed to reproduce the issue with PS1.7.7.0.
I’ll add this to the debug backlog :wink:

Thanks!

[2020-12-24 11:34] okom3pom commented on #22582
@hibatallahAouadni

It's the last ! Thank you and Merry Christmas

[2020-12-24 11:52] khouloudbelguith commented on #22424
Hi @atomiix,

Yes!
I did not manage to reproduce the issue with 1771.
https://drive.google.com/file/d/1oLOTisGp1Jm-aBMJG9LDIMSBe22zrR4n/view?usp=sharing

I close the issue :smile:
Thank you!

[2020-12-24 11:52] #22424 closed, assigned to nobody

[2020-12-24 13:35] marionf commented on #16770
@Progi1984

Yes, refunds should be taken into account in both modules

[2020-12-24 13:41] hibatallahAouadni commented on #22485
Hello @msaustral

I managed to reproduce your issue, I upgrade my shop from 1.7.6.9 to 1.7.7.0 without problems. But, everytime I try to disable or to uninstall any module, an error is displayed :confounded:

1. Fresh install PS1.7.6.9
2. Upgrade the shop to PS1.7.7.0 with 1-click upgrade module
3. BO>IMPROVE>Module Manager
4. Try to disable or unistall any module in the list => **An error is disp

[2020-12-24 13:53] msaustral commented on #22485
Hi @hibatallahAouadni nice, in our installation does not display any error, we try to install a new module, the window to upload the file pop up but it does not work.

[2020-12-24 14:04] hibatallahAouadni commented on #22485
Hello @msaustral

In my case, I can install and configure, see the attached screen record below:

https://drive.google.com/file/d/14fXiuatvYPlvn7TtB7sf1G38DTjwV7Rl/view

Thanks!

[2020-12-24 14:05] idnovate commented on #22571
Could you please check if module is registered correctly in displayTop hook?

[2020-12-24 14:09] LukasK13 commented on #18171
I can confirm this issue on PS 1.7.7

[2020-12-24 14:11] msaustral commented on #22485
Hi @hibatallahAouadni is there a private way to give you access to our customer test ev so you can see the issue?

[2020-12-24 14:15] hibatallahAouadni commented on #22485
Hello @msaustral

Sorry but I'm not allowed to offer Support.
If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Thank you

[2020-12-24 14:16] khouloudbelguith opened #22587 "BO - Order page - Unclear alert when adding a payment with invalid payment method"
#### Describe the bug

In the BO > Orders > Order view page > when we add a payment with invalid payment => an Unclear error is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Old order page
2. Add payment with "Payment method" `Paym>>ents by check`
3. Add
4. See an error

![image](https://user-images.githubusercontent.com/16067358/103093496-c0940a00-45

[2020-12-24 14:31] msaustral commented on #22485
Hi @hibatallahAouadni we do not ask for support, we just want to show you the issue so you can fix it in next ver

[2020-12-24 14:53] Progi1984 commented on #21200
Merry Christmas @eternoendless : https://github.com/PrestaShop/PrestaShop/pull/22588

[2020-12-24 15:02] hibatallahAouadni commented on #22561
Hello @pakka63

Thanks for your XML.
Well, here's the body of my POST Request:
[code]
Here's the result:

![image](https://user-images.githubusercontent.com/23308427/103095431-da385000-4600-11eb-88ac-0e6bd858612d.png)

In BO:

![image](https://user-images.githubusercontent.com/23308427/103095539-313e2500-4601-11eb-9f83-816bd9af2233.png)

Please check and feedback.
Thanks!

[2020-12-24 15:09] hibatallahAouadni commented on #22485
Hello @msaustral

Just make a screen record and share it here :wink:

Thanks!

[2020-12-24 16:03] hibatallahAouadni commented on #22215
Hello @abdullacm & @DelosTR

Could you please confirm that you both encounter the same problem as @IranDec

Thanks!

[2020-12-24 16:05] hibatallahAouadni commented on #22253
Hello @WartoWiedziec

Thanks for your confirmation!

[2020-12-24 16:05] hibatallahAouadni commented on #22253
Hello @Stephane1874

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-24 16:05] #22253 closed, assigned to nobody

[2020-12-24 16:16] hibatallahAouadni commented on #22463
Hello @nateBitworks

Your issue is a duplicate of #22300
Please upgrade your ICU version as @matks mentionned above.
So, I close the issue.
Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2020-12-24 16:16] #22463 closed, assigned to nobody

[2020-12-24 16:16] hibatallahAouadni commented on #22463
Duplicate of #22300

[2020-12-24 16:23] hibatallahAouadni commented on #22412
Hello @matteolavaggi

We have been asking you again and again about these details cause we didn't manage to reproduce your issue :confused:
That's weird that in BO the test mail works but in FO it doesn't.
Could you please provide some details to reproduce your issue.

Thanks!

[2020-12-24 18:05] DelosTR commented on #22215
@hibatallahAouadni Hi, I can't confirm that because I don't know which pages didn't work for him.
BUT, the error is the same, "null given" when upgrading to 1.7.7

And we could solve that by give to it a "real" value instead of null.
I don't think we are alone with this issue, it's strange.

[2020-12-24 20:38] Stephane1874 commented on #22253
Hello,

Hello, thank you @hibatallahAouadni @WartoWiedziec, I added the files manually and everything is fixed.

Thanks

[2020-12-25 09:03] hibatallahAouadni commented on #22533
Hello @stamatisbreezer

What you suggest is an improvement and it's a good idea :wink:
Could you please open a new issue **following the template to submit a complete feature report**.
And we will be glad to study your suggestion and approve it.

Thanks!

[2020-12-25 09:34] hibatallahAouadni commented on #22581
Hello @SD1982

I didn't manage to reproduce your issue with PS1.7.7.0 (fresh install from [prestashop.com](https://www.prestashop.com/fr/versions-precedentes)). See the attached screen record below:

https://drive.google.com/file/d/1I0YQXI4pQoFZaF4LJpIb5imXKn2kbc-L/view

Please check and feedback.
Thanks!

[2020-12-25 09:39] hibatallahAouadni commented on #22215
Hello @DelosTR

Thanks for your feedback!
Could you please open a new issue **following the template to submit a complete bug report**.
And please fill all the blocks cause we need every detail to reproduce the issue.

@IranDec
Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further

[2020-12-25 09:39] #22215 closed, assigned to nobody

[2020-12-25 09:47] hibatallahAouadni commented on #22571
Hello @idnovate

Yes it's well registred in displayTop hook and I changed its position, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/103130810-87ad7100-469e-11eb-9b49-ac698b58e96e.png)

Please check and feedback.
Thanks!

[2020-12-25 09:57] hibatallahAouadni commented on #22057
Hello @kevin0x90

If you have already fixed it on your end, please do send us a pull request!

Thank you

[2020-12-25 09:58] fire2 commented on #22215
It's ridiculous that you close this ticket when so many people are having the same issue. Obviously there is an issue. Says a lot about the support from Prestashop.

[2020-12-25 10:00] hibatallahAouadni commented on #22215
Hello @fire2

Cause I can't reach @IranDec for more than 20 days that's why I close it.
And we need more details to reproduce the issue.
So, please open a new issue **following the template to submit a complete bug report**.
And please fill all the blocks cause we need every detail to reproduce the issue.

Thanks!

[2020-12-25 10:03] khouloudbelguith opened #22590 "An error is displayed in the console when adding a voucher on the order page"
#### Describe the bug

In the BO > Orders > Add new Order page > an error is displayed in the console when we try to add a voucher
![image](https://user-images.githubusercontent.com/16067358/103131234-3a320380-46a0-11eb-9175-63d46241d0e2.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Add new Order page
2. Choose a customer
3. Add some products
4. Click on a

[2020-12-25 10:03] fire2 commented on #22215
And you don't think creating a new issue for the same problem is cluttering more the backlog?? really...

[2020-12-25 10:35] hibatallahAouadni commented on #22496
Hello @PrestaShark

When I tried to upgrade a shop PS1.7.5.2 to PS1.7.7.0, I get no error but everytime I try to open Order page or Products page, I got this exception (error 500):

![image](https://user-images.githubusercontent.com/23308427/103131608-b5e08000-46a1-11eb-8389-28ac1cf062c0.png)

Then I execute this command line like @jolelievre suggest in this issue #14617

`ALTER TABLE PREFIX_admin

[2020-12-25 10:37] hibatallahAouadni commented on #22215
Sir, I clearly said that we need more details to reproduce the issue.
If the contributor doesn't help us reproduce the issue, we close it.

[2020-12-25 10:47] kevin0x90 commented on #22057
@hibatallahAouadni i didn’t fixed it yet, first I wanted to make sure I identified the correct location a fix would be appropriate at. For example one could argue this is not the right place and it should be fixed way earlier in the location reduction_applies is set. I would prefer this approach but I’m not that familiar with the architecture of the codebase yet. How about your opinion / view on t

[2020-12-25 11:16] idnovate commented on #22571
Not sure what's happening.

I have installed a new PS 1.7.7.0 selecting Spain, I have installed the attached module in the first message, and it's displayed without taking any other action:
![image](https://user-images.githubusercontent.com/15104724/103133484-fdb7d500-46aa-11eb-8aa9-78ed535436af.png)

[2020-12-25 11:32] hibatallahAouadni commented on #22571
Hello again,

It was a cache problem :sweat_smile: When i open FO with private navigation, the translation is displayed.
I managed to reproduce your issue with PS1.7.7.0, see the attached screenshots below:
### BO:

![image](https://user-images.githubusercontent.com/23308427/103133552-68691080-46ab-11eb-90b4-12543ee49a5b.png)

### FO:

![image](https://user-images.githubusercontent.com/23308427/10

[2020-12-25 11:33] arpanjain100 opened #22591 "Prestashop 1.7.5.1 Symphony Error: Missing translations while editing product in back office causing slow editing of products in back office"
Screenshot: [https://i.stack.imgur.com/OI5mp.png](https://i.stack.imgur.com/OI5mp.png)
This screenshot has been taken in debug mode. I have only 1 language en-US, yet I get errors of missing translations for all my categories, features, etc when trying to edit a product. The delay was 23 seconds, so I turned on debug mode to see the errors and found **all related to missing transaltions only.**

S

[2020-12-25 11:43] idnovate commented on #22571
The problem is not only "which one is more priority".

A different priority is used when you try to translate strings from backoffice than the translation displayed in the frontoffice, instead of using the same file/priority.

[2020-12-25 11:49] hibatallahAouadni commented on #22516
Hello @tvorgul

What you're saying is toally correct but the problem is that I didn't manage to reproduce your issue :sweat_smile:

1. FO, I made an order
2. I login to BO as an employee with the "Logisticien" profile
3. Change the order status to Delivered and edit the tracking number
4. All saved without any error

See the attached screen record below:

https://drive.google.com/file/d/16cFrCNbbD

[2020-12-25 11:51] hibatallahAouadni commented on #22571
@idnovate you're right, but let's see what the developers think :wink:

[2020-12-25 11:55] hibatallahAouadni commented on #22057
Hello @kevin0x90

Well this issue is in the Backlog, so let's wait for the developers to try to fix it.
Cause I'm not an expert :wink: and I don't want to give you a false statement :slightly_smiling_face:

Thanks!

[2020-12-25 12:04] hibatallahAouadni commented on #22451
Hello @CLC1234

@PierreRambaud didn't reproduce the issue.
So, could you please provide more details that help us to reproduce the issue.

Thanks!

[2020-12-25 12:07] hibatallahAouadni commented on #13945
All right @matks we need your opinion
Do you agree with @PierreRambaud and @kpodemski ?

[2020-12-25 12:11] hibatallahAouadni commented on #22266
Hello @tenenick

Thanks for your contribution and your reply :wink:
We hope your quick fix helps @Fer5320

Thanks!

[2020-12-25 12:23] hibatallahAouadni commented on #22248
Hello @Art3c

Sorry for the delay, but I didn't manage to reproduce your issue :confused:
I upgrade my shop PS1.7.6.9 to PS1.7.7.0 with no error, see the attached screen record below:

https://drive.google.com/file/d/16ii_UDe3R7amfP2AnGnM0dQyki3M-c0Z/view

Just to make you sure, see my configuration in the screenshot below:

![image](https://user-images.githubusercontent.com/23308427/103134799-14a

[2020-12-25 12:34] hibatallahAouadni commented on #22264
Hello @CJH297

I just edit your issue description, could please confirm all the details and infos :wink:
Please next time **follow the template that we offer to submit a complete bug report**. We need these details to reproduce your issue.

@jajarom do you still have the same issue like @CJH297 ?

Thanks!

[2020-12-25 12:47] hibatallahAouadni commented on #22260
Hello @mrabsinthe

I just edit your issue description. Cloud please confirm all details and infos are correct?
**Please next time follow our template to report a complete bug report.**

Thanks!

[2020-12-25 12:54] hibatallahAouadni commented on #22239
Hello @VidarPc

Sorry Sir for the late response. But this issue is already in our debug backlog #22485
This issue is not just about the Faceted Search module, it's about all modules :confused:
Sorry again for the inconvenience, but your issue is a duplicate to  #22485
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-25 12:54] #22239 closed, assigned to nobody

[2020-12-25 12:55] hibatallahAouadni commented on #22239
Duplicate of #22485

[2020-12-25 13:14] Art3c commented on #22248
@hibatallahAouadni  I tried again but it the same situation :( The file upgrade goes ok but the when it should start the DB upgrade it throws the error. The FO is working with a few glitches but in the BO the left side menu is not displayed. Is there a way to manually upgrade the DB?

I can record the upgrade process if it will help :(

Thanks!

[2020-12-25 14:27] hibatallahAouadni commented on #22591
Hello @arpanjain100

Usually those translation warning or translation errors do not affect the shop performance, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/103136959-087f6380-46c5-11eb-9cc6-dbe960077b25.png)

So, first of all, try to increase your **Upload Max File size** to 512M.
Then, please try to run those command lines to remove the cache:

[2020-12-25 14:31] kexuejia commented on #20027
hi, my temporary solution is  in product class do change  the function :
[code]

[2020-12-25 14:34] khouloudbelguith opened #22592 "Fwd: Customer message - the thread link is incorrect"
#### Describe the bug

In the Email Fwd: Customer message, when we click on this link: `View this thread`, we are redirected to an incorrect URL.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You must send a message to customer service from FO using the order.
2. Go to BO > Customer Service Page > Open the message
3. forward this discussion to another address email/employee
4.Chec

[2020-12-25 14:47] hibatallahAouadni commented on #22248
Hello @Art3c

Your issue is a duplicate of #22250. To fix manually this problem, just execute these command on your database:

`select * from ps_tab;`

You will see that there's a column missing "enabled", so we need to add it:

`alter table ps_tab add enabled TINYINT(1) NOT NULL;`

And to make the menu displayed, execute this line:

`update ps_tab set enabled=1;`

You may encounter some issues wi

[2020-12-25 14:48] mrabsinthe commented on #22260
It is correct, I hope that someone will figure it out.

[2020-12-25 14:59] hibatallahAouadni commented on #22260
Hello @mrabsinthe

Well, I didn't manage to reproduce your issue.
But, could you please increase your **upload_max_filesize** to **512M**
And, check your connection, cause this issue only occurs when the connection is slow.

Thanks!

[2020-12-25 15:05] hibatallahAouadni commented on #22498
Hello @matteolavaggi

Yes, I have tried and still failed to reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1622JiXSG0jRo0NgmWRsbhSceTymsbGTE/view

Please check and feedback.
Thanks!

[2020-12-25 15:13] hibatallahAouadni commented on #22302
Hello @nachaliuga

Well, as you know, you're not allowed to change Core files unless by overriding it.
Do you have any new details about this issue?
@beve could you please provide more details to reproduce the issue.
We need your help :wink: cause I couldn't reproduce the issue.
Please give me clear and consistent steps to reproduce the issue.

thanks!

[2020-12-25 15:29] jrckmcsb opened #22593 "CSS is not rendering"
#### Describe the bug

I try to install the latest version and according to my installer I used the ``1.7.8.0``

After installing I encounter the same [issue](https://github.com/PrestaShop/PrestaShop/issues/17539) but I solved it base on the comments. However after installation the site doesn't rendered the CSS properly but visiting the source code of CSS file, the CSS file is already included but

[2020-12-25 16:00] hibatallahAouadni commented on #22593
Hello @jrckmcsb

Thanks for your first issue :tada:
Well, on the develop branch you need to install the assets by executing this line on console:

`make install`

Please check and feedback.
Thanks!

[2020-12-25 16:30] hibatallahAouadni commented on #22336
Hello @LauSoup

Thanks to your screen record I managed to reproduce the issue. This issue is related to #12092
Let's list more simple steps to reproduce the issue:

1. **BO**>**SELL**>**Category**> cretae a new product
2. Check some categories as **associated categories** and check one as the **main category**
3. **Save**
4. In the product list, copy the newly created product **id**
5. Download th

[2020-12-25 16:48] hibatallahAouadni commented on #22505
Hello @estenolotienenadie

Sorry for the late response, it's not a bug it's the modern email theme :wink:
You just need to set your email configuration. So, please follow these steps:

1. **BO**>**IMPROVE**>**Design**>**Email Theme**
2. **Configuration**> Select **Classic** as **your default email theme**, then **Save**
3. **Generate emails**> Select **Classic** as **your email theme** and your la

[2020-12-25 16:49] arpanjain100 commented on #22591
@hibatallahAouadni
I have tried the same and yet the product page for back office takes 23 seconds to load. I have 343 categories. I will be having 1200 categories soon. Please advise what could be the possible reason for the product editing to take so long to load?
There is no other error except this one in debug.

[2020-12-25 16:57] DPStudioGR opened #22594 "Products with combination not showing correct image when selecting.."
#### Describe the bug
After the last update i noticed when i uploaded a new product that all products with combinations are not showing the image linked to each combination.

#### Expected behavior
Usually when i create a product that has combinations i upload individual images for each combination that i link to.
And when the customer in the front office chooses a combination the appropriate/link

[2020-12-25 16:58] Art3c commented on #22248
@hibatallahAouadni thanks, so if i am correct it is better to wait for the 1.7.7.1 patch?

[2020-12-25 17:01] hibatallahAouadni commented on #22481
Hello @jf-viguier

Sorry for the late response. If I installl the **Product Comment** module v4.2.0

![image](https://user-images.githubusercontent.com/23308427/103139268-c5c88600-46da-11eb-8403-ad730942b747.png)

And I enbled the **Anonymize the user's last name** option:

![image](https://user-images.githubusercontent.com/23308427/103139285-d973ec80-46da-11eb-908c-a21d094dbe52.png)

I got no iss

[2020-12-25 17:02] hibatallahAouadni commented on #22248
@Art3c Yeeeesss :wink:

[2020-12-25 17:14] hibatallahAouadni commented on #22594
Hello @Stampa-Stampa

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1suflkjQ-cRIQUt0zk9ORCJ_yEJuEp3Uq/view

Please check and feedback.
Thanks!

[2020-12-25 17:27] Stampa-Stampa commented on #22594
Hi there..
You did a new product at a new prestashop installation... form what i see..
Have you looked into my installation? Have you checked the error report i have added above?

Please check and feedback.
Thanks!

[2020-12-25 17:32] Art3c commented on #22248
@hibatallahAouadni Thanks! :)

[2020-12-25 20:29] loetje88 commented on #10198
Tried the .ht acces solution on fresh install of ps 1.7.7 and - even after all these updates - this still does not work.

Good old thirtybees and ps 1.6 for me it is  :)
Its a shame they refuse to fix this.

[2020-12-26 02:09] jrckmcsb commented on #22593
![image](https://user-images.githubusercontent.com/62977259/103144318-6ca43500-4762-11eb-8336-34004ef092ad.png)

Now it returns a new error

[2020-12-26 02:40] PululuK commented on #21092
Hi @prestascott
Can you check this proposition please (WIP) : https://drive.google.com/file/d/1losDcjZgmqJZmR2Qvg3gb9UCB8ReLfsI/view

[2020-12-26 08:39] jf-viguier commented on #22481
Yes

[2020-12-26 09:49] estenolotienenadie commented on #22505
Hello, thanks for your replay, now is working.
Regards,
Alberto.

[2020-12-26 09:49] #22505 closed, assigned to nobody

[2020-12-26 09:57] hibatallahAouadni commented on #22248
Hello @Art3c

Well, I have to close this issue cause it is a duplicate of #22250
And the problem already fixed with the next new release 1.7.7.1
Please stay tuned for our new release :wink:

Thanks!

[2020-12-26 09:57] #22248 closed, assigned to nobody

[2020-12-26 09:57] hibatallahAouadni commented on #22248
Duplicate of #22250

[2020-12-26 10:09] Art3c commented on #22248
@hibatallahAouadni thanks i will wait for the update. I am just not sure that the problem is the same. #22250 the DB update was made but not complete. In my case the first line of DB upgrade has throwen a error. I reopen if the 1.7.7.1 does not solve the problem.

Thanks for the help!

[2020-12-26 11:19] hibatallahAouadni commented on #22503
Hello @abramofranchetti

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen records below:

**1. Following your steps from the issue description:**
https://drive.google.com/file/d/1vnXuhWPvryI5wdbrcZI8ybl-ZNacv1ZT/view
**2. Following your steps from your comment:**
https://drive.google.com/file/d/1mpo_RaKu7S1w5ibjFDW3O2-zZexPcYxv/view

Please check and feedback.
Thanks

[2020-12-26 11:47] hibatallahAouadni commented on #22388
Hello @tom75

Sorry for the late response, I just edit your issue description :wink:
Unfortunally I didn't manage to reproduce your issue with PS1.7.7.0, please see the screen record below:

https://drive.google.com/file/d/1gY3-6175ZOb6L-7xu6H69FexdohGcfz2/view

Could please check your Email configuration, see the attached screenshot below:

1. **BO**>**CONFIGURE**>**Advanced Paramters**>**E-mail*

[2020-12-26 12:24] go-sudo opened #22596 "Address Format not found in tools"
Hello

we are facing this issue
`Fatal error: Uncaught Error: Class 'AddressFormat' not found in /var/www/vhosts/playstore.ma/httpdocs/classes/Tools.php:3376 Stack trace: #0 /var/www/vhosts/playstore.ma/httpdocs/classes/db/Db.php(794): ToolsCore::nl2br('configuration') #1 /var/www/vhosts/playstore.ma/httpdocs/config/alias.php(47): DbCore->escape('configuration', false) #2 /var/www/vhosts/playstore

[2020-12-26 12:31] hibatallahAouadni commented on #22338
Hello @BaraqdaPL

The only issue that I encountred while upgrading my shop from PS1.7.6.5 to PS1.7.7.0 is #22250
From your screenshot I can see you got an errror about Entity tab which is similar to this #22248
Even whith the left menu disappeared, I can add a photo/brand to any product without any error, see the attached screen record below:

https://drive.google.com/file/d/1aomzrwJHclL4lM1Utcj-o

[2020-12-26 13:20] hibatallahAouadni commented on #22236
Hello @okom3pom

#### Import Categories / Products
 => **OK**
https://drive.google.com/file/d/1WOk2i4p1Yd6_ZnU8Jl4CdNEYVElC-5mE/view

#### Import Customers
=> **NOK**, I didn't check the **Delete all customers before import** option and yet after the import I couldn't find my old customers :confused:
https://drive.google.com/file/d/1xc5gouhxhzcPJwIDRT6XFgz2DVNR817j/view

#### Import Brands
=> **NO

[2020-12-26 13:28] hibatallahAouadni commented on #21945
Hello @DevSTG

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-26 13:28] #21945 closed, assigned to nobody

[2020-12-26 13:39] jrckmcsb commented on #22593
I was able to run the ``make install`` however the result is still the same.

[2020-12-26 13:46] hibatallahAouadni commented on #20009
Hello @TDC-Cyrille

Thanks for your issue, sorry for the late response.
I couldn't manage to reproduce your issue with PS1.7.7.0, the only issue is that I can reproduce is:

1. FO, add products to cart and apply a voucher
2. BO, edit the voucher date (valid to) to be expired
3. FO, refresh the page the voucher still applied => NOK
4. Delete the voucher, then you will see you can't apply it again =

[2020-12-26 14:26] hibatallahAouadni commented on #22156
Hello @pollat

I can't confirm that the issue is with PS1.7.3.3 but I can confirm that if there was an issue with PS1.7.3.3, it's already fixed with PS1.7.4.0
So, you should upgrade your version to PS1.7.6.9 :wink:
Sorry for the late response :confused:
But I have to close this issue cause it seems fixed.

Thanks!

[2020-12-26 14:26] #22156 closed, assigned to nobody

[2020-12-26 15:06] xkadirx39 opened #22597 "After 1.7.7.0 upgrade"
Prestashop gives this error after updating to the latest version

**Screenshots**

![esa](https://user-images.githubusercontent.com/49781434/103153859-cc233480-47a4-11eb-8194-527ba6285dc4.PNG)

* PrestaShop version: 1.7.7.0
* PHP version: N/A

[2020-12-26 15:48] amaurigabriel commented on #22215
Hi,
For me it was happening because the "id_lang" of a order no longer exists in my shop, so I had to change:

Line 299 of PrestaShop\PrestaShop\Adapter\Order\QueryHandlerGetOrderForViewingHandler to
`isset($country->name[$order->id_lang]) ? $country->name[$order->id] : $country->name[\Configuration::get('PS_LANG_DEFAULT')],`

Line 266 of PrestaShop\PrestaShop\Adapter\Order\QueryHandlerGetOrderFor

[2020-12-26 16:07] amaurigabriel commented on #22215
The same error is happening when I click in this arrow and the fix is very similar.  @hibatallahAouadni  Do you want me to create another issue and submit a PR with these fixes?

![image](https://user-images.githubusercontent.com/1836086/103155103-4b037780-477b-11eb-8bd3-0371545a8e60.png)

[2020-12-26 16:45] hibatallahAouadni commented on #22215
Hello @amaurigabriel

Yes please and thanks in advance.

[2020-12-26 19:31] SimonGrn commented on #22596
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-26 19:31] #22596 closed, assigned to nobody

[2020-12-26 19:32] SimonGrn commented on #22597
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-26 19:32] #22597 closed, assigned to nobody

[2020-12-26 23:04] emanborg opened #22598 "Cart Controller and MultiStore issue when dealing with combinations"
#### Describe the bug

When a product is on multiple stores and has the same combination groups are present on id_shop 1 and id_shop 2 for example, CartController.php does not identify which id_shop its currently doing the request for and does not join the tables properly because it omits the id_shop in its queries.

#### Expected behavior

Errors such as:
Quantitiy not available, not able to swit

[2020-12-26 23:08] emanborg commented on #22598
Note: Deleting the combinations matching the same group from the table ps_product_attribute and ps_product_attribute_shop makes it work

[2020-12-26 23:11] emanborg commented on #22594
Hello Stampa! I think I have a similar issue and I think I found whats causing it. Can you check the following:

run this query: select * from ps_product_attribute_shop where id_product=<Your Product ID here>

See if the product is showing in any other id_shop apart from id_shop 1

I encountered a similar issue when a product attributes are also available on multiple shops. please let me know your

[2020-12-27 00:14] emanborg commented on #22598
I used the below SQL statement to delete all product attributes on other shops as a test and everything works well on id_shop 1
delete from ps_product_attribute where id_product_attribute in (select id_product_attribute from ps_product_attribute_shop where id_shop<>1);
---

Further to my findings issue may be releated also to the template not passing the correct parameters to the shopping cart con

[2020-12-27 07:02] jajarom commented on #22264
Hi,

Yes

[2020-12-27 08:21] pakka63 commented on #22561
Hello @hibatallahAouadni.
You have encounter the bug.
The id_product_attributes are not considered in the post operation. They are always evaluated to "unset".
The first id_product_attribute evaluated to "unset" leads to insert the value of the default attribute which in your case is 40.
The second id_product_attribute evaluated to "unset" leades to a "Duplicated entry error" because the default a

[2020-12-27 09:38] shana0780 commented on #22390
I have the same problem.  I replace the folder Module with a fresh but still the same.
![image](https://user-images.githubusercontent.com/59194234/103167879-44363c80-482f-11eb-86cd-1251e6129df0.png)

Prestashop 1.7.7
English to French

[2020-12-27 09:43] kalukramer commented on #22390
Can you show the date picker? What is format of date on employes? Lang?

[2020-12-27 09:46] shana0780 commented on #22390
employee :

![image](https://user-images.githubusercontent.com/59194234/103168092-a80d3500-4830-11eb-86d4-34581c198900.png)

Language :

![image](https://user-images.githubusercontent.com/59194234/103168099-b9eed800-4830-11eb-94a9-1ef9ad7e5c64.png)

[2020-12-27 09:48] shana0780 commented on #22390
Parameters

![image](https://user-images.githubusercontent.com/59194234/103168155-0e925300-4831-11eb-8a23-7baac872daef.png)