[2018-10-09 09:19] #10895 closed, assigned to nobody

[2018-10-09 09:23] colinegin commented on #10502
@matks Has the helper card been implemented on this page ?

Thanks

[2018-10-09 09:23] Stan82085 opened #10932 "Problème de paramétrage module PayGreen avec 1&1 Internet"
Bonjour,

Je vous contact car j'ai un hébergement chez 1&1 avec prestashop et j'ai un souci avec un module PayGreen.
Le module ne veut pas se configurer et me dis toujours qu'il est a configurer.

J'ai essayer avec un autre hébergeur web et le module fonctionne correctement.

J'ai aussi désinstallée et réinstaller le site prestashop et le module PayGreen et c'est toujours pareil.

J'ai déjà contac

[2018-10-09 09:28] colinegin commented on #10565
@CaptainYouz are you going to finish the helper card for this page or can @tomas862 get the work you have already done ?

[2018-10-09 09:28] sarjon commented on #10502
@colinegin no, not yet.

[2018-10-09 09:29] fruitfreak commented on #10931
Yes and thanks! .-)
the comment above is probably the reason for the 1-click-upgrade not to show anything.
Its working now and then. :-)

[2018-10-09 09:29] #10931 closed, assigned to nobody

[2018-10-09 09:29] khouloudbelguith commented on #10932
Hi @Stan82085,

This is a public space.
You need to remove the credentials of your shop
Let's be safe!

Thanks & best regards, Khouloud

[2018-10-09 09:31] Stan82085 commented on #10932
Bonjour,

Modification effectuer

[2018-10-09 09:32] Marwazeinoo88 opened #10934 "Error notice on psaddonsconnect - BO"
**Hi,  I have php issues display when i connect to my backoffice. Here are the error messages:**

Notice à la ligne 227 du fichier /home/www/modules/psaddonsconnect/psaddonsconnect.php
[8] Undefined variable: advice

Notice à la ligne 228 du fichier /home/www/modules/psaddonsconnect/psaddonsconnect.php
[8] Undefined variable: link_advice

Can you help to fix that please?
**This is the lines on the

[2018-10-09 09:33] CaptainYouz commented on #10565
Hi @colinegin.
The work I started to do on this page (https://github.com/CaptainYouz/PrestaShop/commit/85e0bccc8319784c3e0bec587144a153b667aa73) served as a starter for the implementation of the helper card in https://github.com/PrestaShop/PrestaShop/pull/10529.
@tomas862 can use https://github.com/PrestaShop/PrestaShop/pull/10529 to continue to work on this page.

[2018-10-09 09:34] khouloudbelguith commented on #10932
@Stan82085,

The PayGreen module is provided by Watt Is It.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2018-10-09 09:34] #10932 closed, assigned to nobody

[2018-10-09 09:47] politith opened #10935 "Errors on backoffice in country_module_list.xml file"
Hello,

Suddenly, I get these errors on backoffice:

Error found : CData section not finished https://addons.prestashop.com/product.php?id_produ in country_module_list.xml file.
Error found : Premature end of data in tag url line 1 in country_module_list.xml file.
Error found : Premature end of data in tag module line 1 in country_module_list.xml file.
Error found : Premature end of data in tag mo

[2018-10-09 09:51] khouloudbelguith commented on #10935
Hi @politith,

You need to clear cache from your shop & your browser.
Thanks to check & feedback.

[2018-10-09 09:52] dgtn-va commented on #10869
- Prestashop v1.7.4.2 upgraded one time from previous minor version with official autoupgrade module (https://github.com/PrestaShop/autoupgrade/releases)
- PHP 7.0, in 7.1 nothing works... php.ini file attached and http://php7-0.yulpa.io/
- No JS or Apache error in category products list page.
- Debug exception log of category products list page is attached.
- Theme ID: 32675 (child-theme applied)

[2018-10-09 10:06] MaxL commented on #10935
this does not help for me at all - you already closed another issue, please don't close this one without actually resolving anything.
like i said in the previously closed issue, i strongly suspect this is related to requests to prestashop.com loading extremley slowly

[2018-10-09 10:10] khouloudbelguith commented on #10935
@MaxL, the other issue is closed by the user since it is fixed.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-10-09 10:10] politith commented on #10935
Clearing Cache made the errors disappear but it's still loading extremely slowly as @MaxL said.

[2018-10-09 10:20] khouloudbelguith commented on #10934
Hi @Marwazeinoo88,

I manage to reproduce this issue.
When I access the BO, the red alert is displayed.
This issue is randomly.
![image](https://user-images.githubusercontent.com/16067358/52471584-87cb2300-2b91-11e9-9580-2c53183303c0.png)
Reported here: http://forge.prestashop.com/browse/BOOM-5781
Thanks!

[2018-10-09 10:22] MaxL commented on #10935
right, can confirm @politith : the error disappears but loading times are unbearably slow. removing the prod and dev folders manually doesn't help either

[2018-10-09 10:24] MathiasReker commented on #10935
The problem is by Prestashop API. You can do this as a hotfix, while the issues is getting solved: https://github.com/PrestaShop/PrestaShop/commit/804272c2ec7ba2e5fc0dd836cad252fc1c396df3

To remove the errors you have to clear the cache.

[2018-10-09 10:26] khouloudbelguith commented on #10935
Hi,

We suggest you use this workaround to temporary disable API calls: http://bit.ly/2zIVejJ
The Addons API is currently having performance issues, and we are working to find a solution asap
Thanks!

[2018-10-09 10:26] #10935 closed, assigned to nobody

[2018-10-09 10:39] MathiasReker commented on #10871
PR: https://github.com/PrestaShop/PrestaShop/pull/10930

[2018-10-09 10:47] khouloudbelguith commented on #10869
@fujitsuDev, Thanks to navigate to your BO => IMPROVE => Design => Image Settings you can configure the IMAGE SETTINGS.
After that click on the button Regenerate thumbnails.
Thanks to check & feedback.

[2018-10-09 11:01] khouloudbelguith commented on #10474
Here's a PR: #10936

[2018-10-09 11:02] Fabuloops opened #10937 "Bug Persist Entity AttributeGroupLang : Bad Association Annotation"
**Describe the bug**
When i tried to persist `PrestaShopBundle\Entity\AttributeGroupLang` entity, i had this exception
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Resolve this issue**
I resolved this issue by remove one line on the $lang attribute annotation in the AttributeGroupLang Entity

Before
[code]
After
[code]

**Additionnal information**
PrestaShop version: 1.7.5.x

[2018-10-09 11:05] khouloudbelguith commented on #10937
Hi @Fabuloops,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-10-09 11:19] Sisow commented on #10445
[sisow 5.1.0.zip](https://github.com/PrestaShop/PrestaShop/files/2460142/sisow.5.1.0.zip)

Dear Khouloud,

here is the missing attachment.

[2018-10-09 11:20] Marwazeinoo88 commented on #10934
So for now,  i should just rename the folder "psaddonsconnect" (in www/modules/)?

[2018-10-09 11:23] khouloudbelguith commented on #10934
@Marwazeinoo88, you can navigate to your BO => IMPROVE => Modules => Modules & Services => search for this module & disable it.
Thanks!

[2018-10-09 11:35] khouloudbelguith commented on #10445
@Sisow, same issue here: https://drive.google.com/file/d/16ONsnvP6lQRt90BioyTFGwi8SxdBkN6h/view

[2018-10-09 11:39] matks commented on #10929
[Upgrade from guzzle 5 to 6](https://github.com/guzzle/guzzle/blob/master/UPGRADING.md#50-to-60)

[2018-10-09 11:42] Marwazeinoo88 commented on #10934
okey, Thank you for your reply and help

[2018-10-09 11:47] matks commented on #10929
This should be done along an upgrade of [csa/guzzle-bundle](https://packagist.org/packages/csa/guzzle-bundle) however:
- v2.2.2 is compatible php5.6-php7.1
- v3.1.0 is compatible >php7.1

[2018-10-09 12:03] Sisow commented on #10445
Dear @khouloudbelguith,

the sisow account is only active for test transactions.
You have to enable the testmode in the settings.

[2018-10-09 12:04] matks commented on #10502
@colinegin I started using github Tasks Lists to be sure we do not forget to do things on a page
as we now make multiple PRs for 1 Issue

See https://github.com/PrestaShop/PrestaShop/issues/10502#issue-361802629 as an example 😉

[2018-10-09 12:08] Fabuloops commented on #10937
Hi @khouloudbelguith,

Sorry, i'm too much busy for the moment. Maybe later

I have to follow this tutorial right ?
https://devdocs.prestashop.com/1.7/contribute/contribute_using_docker/

[2018-10-09 12:15] dineshbadrukhiya commented on #10937
Hello @Fabuloops
 You can follow the steps as mentioned here, [https://github.com/PrestaShop/PrestaShop/blob/develop/CONTRIBUTING.md](url)

[2018-10-09 12:40] Ibrabaka opened #10938 "Dropdown list glitches"
Hello!!

we have an issue concerning dropdown lists:

[](http://www.hexasafe.com/coffre-fort-haute-securite/19-coffre-fort-eco.html)

The customer can swith lock type (type de serrure) or size (taille du coffre), the price changes accordingly. But when customer tries to go back to a previous size or previous lock, the prices begin to glitch.

![image](https://user-images.githubusercontent.com/4399

[2018-10-09 12:41] khouloudbelguith commented on #10445
@Sisow, https://drive.google.com/file/d/1c_sp0K73SOMvKNcAHeYAsk8XUvuadcKZ/view
Thanks to check & feedback.

[2018-10-09 12:52] matks commented on #10622
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10777

[2018-10-09 12:58] remagalot commented on #10923
info_outline Server information

Server information Linux #160-Ubuntu SMP Wed Aug 15 14:58:00 UTC 2018 x86_64

Server software version: Apache

PHP version: 7.0.32-0ubuntu0.16.04.1

Memory limit: 386M

Max execution time: 300

Upload Max File size: 25M

 info_outline Store information

Prestashop version: 1.7.4.2

[2018-10-09 13:06] khouloudbelguith commented on #10923
@remagalot, I did not manage to reproduce the issue with PS1.7.4.2
I attached a video record.
https://drive.google.com/file/d/1lBvsmV7Zt8SPkgAsKB6Hve2oBGUlW63D/view
Thanks to check & feedback.

[2018-10-09 13:17] Sisow commented on #10445
That's because there are no PayPal API data in the account.
If it's alright you receive a new password for your Sisow account, can you send it to support@sisow.nl?
Then I can set the API data.

[2018-10-09 13:23] remagalot commented on #10923
I have items with combinations and low stock alerts set to 0.  I did validate I have 1 item in stock prior to ordering it for testing

1. Customer places order
2. I receive email:
Shoe Size - 11, Shoe Width - EE is nearly out of stock.
The remaining stock is now less than the specified minimum of 0.
Remaining stock: 0
3.  Customer receives email "Order Confirmation"
3. Order is changed from "deliv

[2018-10-09 13:26] khouloudbelguith commented on #10923
@remagalot, could you please check the fix: https://github.com/PrestaShop/PrestaShop/pull/8985/files in your project.

[2018-10-09 13:29] remagalot commented on #10923
@khouloudbelguith I can confirm I see this fix in PaymentModule.php

![image](https://user-images.githubusercontent.com/4564055/46672630-8f57cc80-cb9d-11e8-9b45-de721d078999.png)

[2018-10-09 13:30] Sisow commented on #10445
i added the data, you should be able to start an test payment with paypal

[2018-10-09 13:34] khouloudbelguith commented on #10445
@Sisow thanks!

[2018-10-09 13:41] khouloudbelguith commented on #10445
HI @twazerty,

I attached video record.
https://drive.google.com/file/d/1kjxz7dutjzBbgrJV7YRtpMv4D1qndkTn/view
Thanks to check & feedback.

[2018-10-09 13:46] khouloudbelguith commented on #10923
@remagalot, What is the exact payment method module did you use?
What is the type of products did you ordered?

[2018-10-09 13:52] Sisow commented on #10445
Hi @khouloudbelguith,

and what happens when you select a different shipping option?
Maybe it's cached on our server's ip?

[2018-10-09 14:03] remagalot commented on #10923
@khouloudbelguith I use Authorize.Net AIM module to process credit card transactions.  I don't believe I have any "payment methords" installed though

[2018-10-09 14:07] khouloudbelguith commented on #10445
Hi @Sisow,

I checked different carriers, The right Carrier is set on the Cart => OK.
Thanks!

[2018-10-09 14:39] LSClaire commented on #10833
We still haven't been able to upgrade the site. Does someone have an idea? We are keen to try things but we have no idea what to try anymore!

[2018-10-09 14:41] LSClaire commented on #10833
This is the list of modified files given by 1 click upgrade module. From what I understand it's a comparaison between our site and 1.7.2.4 original.
[COMPARAISON DES VERSIONS.docx](https://github.com/PrestaShop/PrestaShop/files/2460869/COMPARAISON.DES.VERSIONS.docx)

[2018-10-09 14:47] khouloudbelguith commented on #10923
@remagalot, if you use another payment method module (for example pay by check) the issue occurs?

[2018-10-09 14:59] sarjon commented on #10910
As you can see here https://gist.github.com/sarjon/50a2e79435e0902e6b1eb74a4d620538 , there are a couple of reasons to add configurable templates for columns.

First, you can use `DataColumn` (or any other) column, but if you want your data to be centered. Do you have to create `CenterAlignedColumn`? Or if you want to make something like this:

![colorful_column](https://user-images.githubusercont

[2018-10-09 15:01] remagalot commented on #10923
I dont have any payment module's installed / configured.  I use RockPOS for handling instore transactions.

This only started happening after upgrading to 1.7.4

[2018-10-09 15:03] khouloudbelguith commented on #10923
@remagalot, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-10-09 15:05] remagalot commented on #10923
What about files inside cache/dev cache/prod?

[2018-10-09 15:08] Quetzacoalt91 commented on #10833
It seems the SQL upgrade is properly done.

Your issue could be caused by something else. Once you upgraded your shop, you should have a look at the PHP logs. You may find some HTTP 500 errors, PHP notices, warning or errors... You can already see that the module `posslideshow` triggers errors on your shop.

[2018-10-09 15:12] khouloudbelguith commented on #10923
@remagalot, you need to delete the folders dev/ & prod/

[2018-10-09 15:21] remagalot commented on #10923
@khouloudbelguith
OK.  Deleted both folders.  Reloaded browser
Same result
![image](https://user-images.githubusercontent.com/4564055/46679601-f9c43900-cbac-11e8-8bf9-75c2489b9042.png)
![image](https://user-images.githubusercontent.com/4564055/46679621-05176480-cbad-11e8-9372-572af55c48b1.png)
![image](https://user-images.githubusercontent.com/4564055/46679640-0c3e7280-cbad-11e8-9ba8-96e57e3c1c4c.

[2018-10-09 15:23] remagalot commented on #10923
I will try to process from FO instead of using RockPOS Module

[2018-10-09 15:34] remagalot commented on #10923
![image](https://user-images.githubusercontent.com/4564055/46680490-d7cbb600-cbae-11e8-95da-692ab11f78a6.png)

[2018-10-09 15:36] khouloudbelguith commented on #10923
@remagalot,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-09 15:56] khouloudbelguith commented on #10938
Hi @Ibrabaka,

I did not manage to reproduce the issue with PS 1.6.1.20 / 1.6.1.21
Have you tried to contact the theme author?

[2018-10-09 16:14] marionf commented on #10377
Duplicate of #9627

[2018-10-09 16:14] #10377 closed, assigned to nobody

[2018-10-09 16:48] yardstudio opened #10940 "Many filemtime(): stat failed warnings in errors log"
**Describe the bug**
I have PrestaShop on https://autoair.sk site. I have enabled error.csv log creation according this:
https://zemez.io/prestashop/support/how-to/prestashop-1-5-x-1-6-x-how-to-enable-error-reporting-debug-mode/
In this file I have too many warnings of "filemtime(): stat failed"... for example:

`"09 Oct 2018 14:44:04","/***/*****/domain_sk/classes/Media.php:
289","(Warning) filem

[2018-10-09 16:55] khouloudbelguith commented on #10940
Hi @yardstudio,

Did you installed any custom module before this issue occurs?
Could you please try to disable the notarobot module, check & feedback.
Thanks!

[2018-10-09 17:02] yardstudio commented on #10940
Hello @khouloudbelguith

I have no idea, because error logging I have enabled only yet.

What do you mean as

 ?

[2018-10-09 17:26] Jodelautomat opened #10941 "Backoffice fails to fetch data from prestashop.com resulting in timeouts"
**Describe the bug**
Issue  reproduceable on 1.7.4.2, backoffice-page fails to load or takes several minutes to load. already happend 2-3 weeks ago.

1. Go to Backoffice/index.php
2. enter credentials and hit login
3. Backoffice-Page ist trying to fetch data from gamification.prestashop.com but fails or takes minutes
4. Backoffice Dashboard-Page runs into timeout or loads after several minutes
5.

[2018-10-09 17:41] remagalot commented on #10923
@khouloudbelguith firstly thank you for the support.

I have the logs requested with exception to "debug mode report"

What exactly is this?

[2018-10-09 20:17] amtriorix opened #10942 "Multistore, root categories, categories and their parent categories"
A category can not be assigned to multiple parent categories and this is a flaw in design analysis
especially when there are shared categories in a multistore environment.

Categories and Products can be assigned to multiple stores.
A product can be assigned to multiple categories.

Categories can be assigned to multiple stores.
However a category can only be assigned to one parent category.

In a

[2018-10-09 20:27] Falataya commented on #10902
For now I switched to Firefox and it appears that there is no problem there.
I will try to get the additional information that you require once I have more time so that you can take a look at what's going on.

Thank you!

[2018-10-09 20:29] amtriorix commented on #10526
Additionally the backend should never be cached.

proposed changes:

* classes/controller/AdminController.php

old:
[code]
new:
[code]

[2018-10-09 20:42] amtriorix opened #10943 "Creating a new store in a multistore environment, duplicating a lot of data"
In a multistore envornment, creating a new store with the option 'IMPORT DATA FROM ANOTHER SHOP' creates a spining wheel and when that data is large, there is risk of timeout (in PHP-FPM environments) and when using a large timeout frame, the wheel on the left side (bad location, put this right or do use a progress bar) spins. Then it is to hope for the best.

Having seen some modules written by P

[2018-10-09 22:01] lozaria commented on #10922
Hi @khouloudbelguith,
I'm trying new clean installation and the var/cache folder is empty.
I did enable the ps_mode_dev but I didn't see any errors on the installation screen.
Here is what I found in error_log inside /install folder:

[10-Oct-2018 00:48:43 Europe/Sofia] PHP Warning:  file_put_contents(/home/perdetat/profili/var/cache/dev/cacert.pem): failed to open stream: No such file or director

[2018-10-10 06:50] web-centre commented on #10882
![debug1](https://user-images.githubusercontent.com/43772147/46717811-77e61580-cc69-11e8-8149-8953b27c1b02.JPG)

[2018-10-10 07:25] dgtn-va commented on #10869
It was useless, no texture thumbnail seems to have been regenerated...

[2018-10-10 07:51] ADC1234 opened #10944 "Problem Loading Modules"
I have this error code in my models section and can't access many modules.
Anyone have any ideas of how to fix this?
I don't use Ayden. Have tried uninstalling Ayden and re-installing with no luck.

4 errors
[adyen] Error found in config file: CData section not finished NS8 Protect uses industry-leading techniques in be
[adyen] Error found in config file: Premature end of data in tag additional_de

[2018-10-10 07:58] khouloudbelguith commented on #10941
Hi @Jodelautomat,

We are aware of this issue.
gamification.prestashop.com took too long to respond.
For a quick fix, you need to break gamification by renaming module and speed will be back, rename module to gamification_off.
That is really bad, but you need to apply it.
We will fix it as soon as possible.
Thanks!

[2018-10-10 08:01] khouloudbelguith commented on #10944
Hi @ADC1234,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2018-10-10 08:06] khouloudbelguith commented on #10869
@fujitsuDev, Have you tried to contact the theme author?
Thanks to check the issue with them & feedback.

[2018-10-10 08:07] khouloudbelguith commented on #10882
@web-centre, thanks to disable the ganalytics module, clear cache, check & feedback.

[2018-10-10 08:12] khouloudbelguith commented on #10922
Hi @lozaria,

It is a permission issue.
Thanks to follow these steps:

1. Set up your database
2. Download Prestashop and extract
3. Upload Prestashop to your server using FTP
4. Change file permissions of all directories to 777 using your FTP software. In Filezilla, this is done by:
5. File permissions >777>tick box to do it for all subdirectories> choose directories only
6. Go to the website in

[2018-10-10 08:15] khouloudbelguith commented on #10902
@Falataya, Thanks!
Waiting for your feedback.

[2018-10-10 08:17] khouloudbelguith commented on #10923
@remagalot, you need to enable the debug mode and paste the error that you get.
Thanks!

[2018-10-10 08:34] khouloudbelguith commented on #10940
@yardstudio, in the log that you attached.
You have this error
![image](https://user-images.githubusercontent.com/16067358/46723054-352b3a00-cc77-11e8-92dd-72c181ea2d63.png)
There are some issues with some modules, you need to disable one by one to catch the cause error.
Thanks!

[2018-10-10 08:58] khouloudbelguith commented on #10943
Hi @amtriorix,

Thanks for your report.
How much data did you import from the source shop?
We have many issues with multistore: #9723
PS: PS1.7.3 is not compatible with PHP 7.2, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

[2018-10-10 09:20] Falataya opened #10945 "Problem setting up Google Analytics API"
I have the Google Analytics module and I'm trying to establish a connection with Google Analytics API v1.3. It requires I enter Email, password and my Google Analytics Profile ID. I am very sure I entered all the required information correctly but authentication always fails. What can I do?

Prestashop 1.6.1.1
Tried with Chrome and Firefox.

[2018-10-10 09:21] amtriorix commented on #10943
It is time to leave php 5.x branch mainly due to the fact php 7.x is a multitude faster because opcode can be cached in memory and additionally, important, it should be possible to replace memcache with buildin object cache in php 7.x so in the performance tab, caching, you can add an additional option (if PHP 7.x, PHP build-in) and we hope one day, also a stable REDIS  caching.
Well, we noticed o

[2018-10-10 09:41] raphgithub commented on #9641
Hi Khouloud,
I have the same problem, did you solve it?
Thankyou
Raph

[2018-10-10 09:41] #10756 closed, assigned to nobody

[2018-10-10 09:42] khouloudbelguith commented on #9641
Hi @raphgithub,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-10-10 09:45] taffe-elec opened #10947 "Api Prestashop"
Hello,

since 2 weeks, we have issues with our prestashop website : https://www.taffe-elec.com
Periodically, our website stop loading properly. The website tries to load, dosoen't succeed and we have 500 page error. The backoffice is also unreachable during this problem.
According to our developper, it's an issue coming from the api of prestashop. It's a big problem for us and a lack of profit.
Co

[2018-10-10 09:51] raphgithub commented on #9641
Hi Khouloud,
Actually I think my problem is a little bit different but similar:  I al in 1.7.3.2 each time I modify the text of a product that has 10 combinations out of stock, I receive 10 notifications out of stock emails
Thank you for your kind help
Raphael

[2018-10-10 09:51] khouloudbelguith commented on #10945
Hi @Falataya,

Please be aware the Google Analytics API module will only work if you either:

- have installed and configured the “Google Analytics” module
- or have already embedded the Google Analytics script into your shop."

Thanks to check & feedback.

[2018-10-10 09:52] MathiasReker commented on #9782
I still can't reproduce it. What do I do wrong in my record?

[2018-10-10 09:55] khouloudbelguith commented on #10947
Hi @taffe-elec,

We are aware of this issue.
we are working to find a solution asap, thanks to follow this link: https://twitter.com/PrestaShop
We suggest you use this workaround to temporary disable API calls: http://bit.ly/2zIVejJ
Thanks!

[2018-10-10 09:55] #10947 closed, assigned to nobody

[2018-10-10 09:59] khouloudbelguith commented on #9782
@Mreker, there are some problems with your record, you need to provide e another one.

[2018-10-10 10:09] MathiasReker commented on #9782
weird I can open it with VLC. It is zipped because of the size limit from Github

[2018-10-10 10:15] khouloudbelguith commented on #10942
Hi @amtriorix,

Thanks for your report.
Categories can be assigned to multiple stores.
However, a category can only be assigned to one parent category.
![image](https://user-images.githubusercontent.com/16067358/46729554-f781dd80-cc85-11e8-92f9-7a67ac2ba32d.png)
So we need to create multiple categories with the same name.
@marionf what do you think about his suggestion?
Thanks!

[2018-10-10 10:22] damianobertuna opened #10948 "Products with combination"
**Describe the bug**
The problem happen when there is a product with combinations and every combination has a minimun quantity order quantity.
When you are in the frontend product page, for instance if you choose a combination with minimun order quantity 200 the quantity input field is updated to 200 correctly (see image attached minimum_quantity_200.PNG), after this if you choose again a combinat

[2018-10-10 10:27] khouloudbelguith commented on #10943
@amtriorix, Thanks!

@eternoendless @PrestaShop/prestashop-core-developers what do you think about his suggestion?

[2018-10-10 10:36] amtriorix commented on #10942
This should not be done based on the categoy name but on the category ID

[code]

So a category with an ID can have multiple lines with the same category ID
but with a different parent ID. As we see in the SQL TABLE also a MUL INDEX.

_Key is MUL, the column is the first column of a nonunique index in which multiple occurrences of a given value are permitted within the column._

And there is a Pri

[2018-10-10 10:40] khouloudbelguith commented on #10948
Hi @damianobertuna,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.5.x / 1.7.4.3.
We will see how to fix it.
Thanks!

[2018-10-10 10:40] Quetzacoalt91 commented on #10881
Fixed by #10949

[2018-10-10 10:42] khouloudbelguith commented on #9782
@Mreker, thanks to share me a link for this record on drive, it could be a solution.

[2018-10-10 10:52] #9627 closed, assigned to nobody

[2018-10-10 11:09] khouloudbelguith commented on #10312
Hi @KristianI,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-10 11:09] #10312 closed, assigned to nobody

[2018-10-10 11:10] khouloudbelguith commented on #10332
Hi @skipy ,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-10 11:10] #10332 closed, assigned to nobody

[2018-10-10 11:11] khouloudbelguith commented on #10359
Hi @CristianCrispini,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-10 11:11] #10359 closed, assigned to nobody

[2018-10-10 11:12] khouloudbelguith commented on #10357
Hi @Sergio-Fourwinds,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-10 11:12] #10357 closed, assigned to nobody

[2018-10-10 11:13] khouloudbelguith commented on #10364
Hi @shokhashaykh,

You need to delete cache from your shop & your browser.
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-10 11:13] #10364 closed, assigned to nobody

[2018-10-10 11:17] sarjon commented on #10412
@matks i tried to find a simple fix for it, but without any luck. :cry: it seems to me that new hook system is too complicated and here's why:
1. there are 2 hook dispatchers:
    * `PrestaShop\PrestaShop\Adapter\Hook\HookDispatcher` - its in `Adapter` namespace but does not have any legacy or adapter dependencies. It extends Symfony's event dispathcer to modify `doDispatch` implementation. Also,

[2018-10-10 11:19] Falataya commented on #10945
Hi!
I'm sorry I missed that. However, I have now installed and successfully configured Google Analytics module but authentication still fails.
What else have I missed?

[2018-10-10 11:20] mrabsinthe opened #10951 "[PrestaShopDatabaseException] Unknown column 'id_shop' in 'where clause'"
With debug mode enabled, front office displays an error:
[PrestaShopDatabaseException]
Unknown column 'id_shop' in 'where clause'

![prestashopdatabaseexception](https://user-images.githubusercontent.com/31688689/46732874-fd2ff100-cc8e-11e8-8d12-c56062c6f552.jpg)

non PrestaShop modules disabled
All overrides disabled
Debug mode enabled
Cache cleared
All CCC disabled

**To Reproduce**
Steps to rep

[2018-10-10 11:23] khouloudbelguith commented on #10951
Hi @mrabsinthe,

Thanks to disable the ps_customtext module, clear cache, check & feedback.
Thanks!

[2018-10-10 11:25] sarjon commented on #10285
i have few concerns regarding that:
1. is `IdentifiableObjectFormFactoryInterface` really responsible for saving data?
2. where hooks are dispatched? for example `saveDataHook` and `modifyFormHook`?

[2018-10-10 11:28] khouloudbelguith commented on #10945
Hi @Falataya,

Thanks for your feedback.
I manage to reproduce the issue with the last version 1.6.1.21 & the gapi module v1.2.2
![image](https://user-images.githubusercontent.com/16067358/46733329-446ab180-cc90-11e8-8a23-3cbc7b678f2b.png)
@marionf what do you think?
Thanks!

[2018-10-10 11:28] Falataya commented on #10945
I have also checked the google analytichs platform and now I can see data in real time - so that part is working.

[2018-10-10 11:32] mrabsinthe commented on #10951
I can confirm that the error is gone with ps_customtext module disabled and also with the latest version of ps_customtext module enabled. Thank you!

[2018-10-10 11:32] #10951 closed, assigned to nobody

[2018-10-10 12:11] Falataya opened #10952 "HTML editor shown in foreign characters"
My HTML editor in Prestashop always shows in foreign characters that I am not able to read. Where can I change that?

![image](https://user-images.githubusercontent.com/10939572/46735381-60715180-cc96-11e8-89d0-bfb0110a230f.png)

PrestaShop version: 1.6.1.1.

[2018-10-10 12:22] CArlvJ1N0N8 opened #10953 "Voucher are not applied "You can not use this voucher""
**Describe the bug**
A promotion code is created for every customer to get a 10 % discount when using code "first10".
Although when applying this code it says "You can not use this voucher".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to front store
2. Click on product to add to cart
3. Create your new account
4. Proceed to checkout
5. At checkout page, apply code in coupon box "first

[2018-10-10 12:42] CArlvJ1N0N8 opened #10954 "Free shipping for orders above 75 CAD is not working"
**Describe the bug**
We have defined in the preferences for the transport that orders are free of shipping costs when over 75
 CAD, but it doesn't seem to be taken into account as you can see in the attached screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cart with products to get a cart value of over 75 CAD.
2. It will tell you the shipping is for free as long as you ha

[2018-10-10 12:52] marionf commented on #10948
The quantity should change when I select another combination

![faded short sleeves t shirt 1](https://user-images.githubusercontent.com/13449658/46737711-83066900-cc9c-11e8-8b4a-dd93c5ccbad5.png)

https://drive.google.com/open?id=1BPCXH-fyhQzkCMq8UE0QBPy3xrRQfAhQ

[2018-10-10 12:56] marionf commented on #9754
Duplicates #10948

[2018-10-10 12:56] #9754 closed, assigned to nobody

[2018-10-10 13:14] khouloudbelguith commented on #10952
Hi @Falataya,

Unfortunately, we can't reproduce this. Is it on all pages or just this one? Which page this it?
Can you please try to update your translations?
Localization > Translations > Add / Update a language, select your language and click on "Add / Update a language".
Thanks to check & feedback.

[2018-10-10 13:21] khouloudbelguith commented on #10953
Hi @CArlvJ1N0N8,

Thanks to check the "Total available" & "Total available for each user" of this cart rule & feedback.

[2018-10-10 13:30] CArlvJ1N0N8 commented on #10953
Yes sure, i forgot to paste this picture!

![available](https://user-images.githubusercontent.com/42921237/46739693-23de2f80-cc6f-11e8-9f07-20dbf3bc1079.JPG)

[2018-10-10 13:35] Falataya commented on #10952
Hi!
This is a product description page but it happens on all backoffice pages that include a HTML editor.

I updated my language but it didn't help.

Any other ideas what I can do?

[2018-10-10 13:39] khouloudbelguith commented on #10954
Hi @CArlvJ1N0N8,

Could you please navigate to the Localization / Currencies page & check the exchange rate.
Thanks to provide us with a screenshot.
Thanks!

[2018-10-10 13:52] khouloudbelguith commented on #10952
@Falataya, There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-10057
It wasn't necessary to create a new one.
So, this one can be closed
Thanks!

[2018-10-10 13:52] #10952 closed, assigned to nobody

[2018-10-10 14:01] #10918 closed, assigned to nobody

[2018-10-10 14:01] khouloudbelguith commented on #10953
@CArlvJ1N0N8, I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record
https://drive.google.com/file/d/1hLIP56XvDTqCX-mIB7boW3iFnbr8ypT_/view
Thanks to check & feedback.

[2018-10-10 14:16] Marwazeinoo88 opened #10955 "Add structured data to my source code"
Hi,
My question is : In wich file can i add structured data to my source code? knowing that i'm on multistore mode, please can you tell me what's the name of the file for each store!

**Additionnal information**
PrestaShop version: 1.7.3.0

[2018-10-10 14:22] khouloudbelguith commented on #10955
Hi @Marwazeinoo88,

Please be aware that this space should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2018-10-10 14:22] #10955 closed, assigned to nobody

[2018-10-10 14:53] matks commented on #10576
We have specifications for this page :) ask me when you start it

[2018-10-10 15:01] BilalDr commented on #10383
Hi, @jf-viguier after checking your issue i found that on some pages of the BO when multistore is activated, you can't select a context and it's forced on All shops because on those pages there is a
 "Multistore" section  where you can select store to configure for example a delivery price for a specific shop .

![image](https://user-images.githubusercontent.com/40759259/46745797-12684800-ccae-11e

[2018-10-10 15:09] sarjon commented on #10910
one more thing, if we decide to introduce configurable templates, it would also be nice to do it for actions as well.

For example, see grid actions:
![icons](https://user-images.githubusercontent.com/15143151/46745816-7abb2780-ccb6-11e8-9553-f404739d566f.png)

Those icons are configured in the code, like `$action->setIcon('edit')`, i think it would be much better to allow template configuration,

[2018-10-10 15:09] Quetzacoalt91 commented on #10712
Hi all,

Do we really deal with a regression here? The redirection to the dashboard is not a new side-effect, Symfony controller always behaved like this when the permission are not granted.

As we deal with a new page to implement, I would rather this that task for PS 1.7.6 instead of 1.7.5.

[2018-10-10 15:10] khouloudbelguith commented on #10383
Hi,

Thanks, @BilalDr!
We need to specify this issue.
For example in the category page, there is a "Multistore" section where you can select store, but we can select a context and it's not forced on All shops
![image](https://user-images.githubusercontent.com/16067358/46746455-66276100-ccaf-11e8-959c-3e4334b9fd83.png)
@BilalDr what do you think?
Thanks!

[2018-10-10 15:16] Quetzacoalt91 commented on #10430
It seems the issues are going to be fixed by @rokaszygmantas with #10120. Unfortunately, this will be for 1.7.6.x.

[2018-10-10 15:18] vladootz commented on #10400
@mathieuhen, not sure if this helps, but do you use Pretty URLS or another module or is there an override on the ProductController.php?
I had the exact same issue and I installed a fresh Prestashop, activated the module again, grabbed the ProductController.php from the fresh install and added it to the live site, and now combinations work.

[2018-10-10 15:22] marionf commented on #9903
This issue seems to be fixed in 1.7.4.3 and with faceted search v2.2.0

![capture d ecran_432](https://user-images.githubusercontent.com/13449658/46747188-f1552680-ccb0-11e8-8fa9-e2025f53fd74.png)

![capture d ecran_433](https://user-images.githubusercontent.com/13449658/46747197-f4e8ad80-ccb0-11e8-82b4-cf14b3536d71.png)

![capture d ecran_434](https://user-images.githubusercontent.com/13449658/46

[2018-10-10 15:24] #9903 closed, assigned to nobody

[2018-10-10 15:27] amtriorix opened #10957 "Long running processes should not be run in webinterface"
All those processes:
1) upgrade of prestashop, including 1 click upgrade
2) import data
3) export data
4) sitemap generation
5) seo keyword generation
6) creating/clone store from another store (with data copy)

Should NOT run in full using the webinterface. It should be programmed it runs with symphony console commands and using php-cli that signals the state of the process, (idle, run, error, pa

[2018-10-10 15:30] jf-viguier commented on #10383
The "Multistore" section is usefull to setup if the carrier is available for a specific shop but my concern is to define per shop the carrier prices or ranges.

[2018-10-10 16:00] matks commented on #10430
We can make it a mandatory requirement for 1.7.5 if necessary and speed up the review process of the related PR

[2018-10-10 16:03] BilalDr commented on #10383
@khouloudbelguith Indeed, sometimes, there is context available and Shop Association section.
On this case, Shop association is used to define where you want to show your element (here the category "Art") and you have to be on the context All shops to have an overview.

@jf-viguier , If you want to have specific price for your carrier on your shop, you just have to select your shop on step 2 "Mult

[2018-10-10 16:06] khouloudbelguith commented on #10957
Hi @amtriorix,

Thanks for your report!
@eternoendless @PrestaShop/prestashop-core-developers what do you think about his suggestion?

Thanks!

[2018-10-10 16:24] web-centre commented on #10882
Resolved,
thank you

[2018-10-10 16:27] matks commented on #10285
@sarjon for 1) no, the form factory does not save data, it must be a small mistake indeed 😄

[2018-10-10 16:28] khouloudbelguith commented on #10882
@web-centre, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

[2018-10-10 16:28] #10882 closed, assigned to nobody

[2018-10-10 16:48] iprok commented on #9583
@khouloudbelguith
Hello! I fully confirm the issue! If php-mbstring is not installed then prestashop gives 500 on Orders-Orders after upgrade. You need to switch mbstring module completely.

The other problem is that whole logs are clear. Nothing in php server logs. I was able to get some error logs only by setting PS_MODE_DEV to true. Tell me please how can I get such errors in logs not on pages

[2018-10-10 17:03] jf-viguier commented on #10383
No. I want to define for THE SAME carrier a specific delivery price par shop without creating a new carrier for each shop.

[2018-10-10 17:04] khouloudbelguith commented on #9583
Hi @iprok,

Thanks!
@marionf, I did not manage to reproduce the issue.
Could you please try to reproduce it?
Thanks!

[2018-10-10 17:31] iprok commented on #9583
@khouloudbelguith it's 100% reproducable if mbstring is compiled as a module in your php (most of popular distros). Just remove "extension=mbstring.so" from your php.ini.

[2018-10-10 17:49] LuiMai5 commented on #10884
Hi khouloudbelguith,
thanks for reply!
The Search exact and match option is already disabled, and the serach don't work!
have you any other idea?
Thanks

[2018-10-10 17:59] LuiMai5 commented on #10884
I think that the problem is caused by my theme:
is a free theme downloaded from templatemonsters.com and it have 4/5 language preset.
I delete it after i've added some product.
Now there is only italian language.
I've searched in Database the table ps_search_index and ps_search_word and i see that some product have an id_lang different from 6 (6 is the ID of italian language).
Can be this the prob

[2018-10-10 20:02] oldipp opened #10958 "The PrestaShop Image Slider is not updating image and text"
**Describe the bug**
If i go to Modules >> Modules & Services >> Image Slider >> Configure... I can't add/edit my slides or new slides. If i add it I click on save, my store will not update. What's happening or what should I do?

[2018-10-10 20:17] sarjon commented on #10285
i think you should have kept this and removed `save(array $data, $id = null)` instead for form factory. :smile:

[2018-10-10 20:20] Trsta89 opened #10959 "Presta shop 1.6.9 back office does not load"
Hi, I can not log in into my Prestashop 1.6.9. back office..it's just loading and loading but never opens the site..
But I can log in back office at dev.mode...
Please help me. Is there also any other way to put my shop into maintenance mode..because i dont want to have my shop open for people to buy products when i can not acces my back office to handle the orders.

[2018-10-10 20:20] #10959 closed, assigned to nobody

[2018-10-10 20:22] Trsta89 opened #10960 "Hi, I can not log in into my Prestashop 1.6.9. back office."
Hi, I can not log in into my Prestashop 1.6.9. back office..it's just loading and loading but never opens the site..
But I can log in back office at dev.mode...
Please help me. Is there also any other way to put my shop into maintenance mode..because i dont want to have my shop open for people to buy products when i can not acces my back office to handle the orders.

[2018-10-10 20:45] CArlvJ1N0N8 commented on #10954
Canadian dollar is the default currency

![echange](https://user-images.githubusercontent.com/42921237/46764976-e4820400-ccab-11e8-9e30-fd1f81bb7e88.JPG)

[2018-10-10 20:49] CArlvJ1N0N8 commented on #10953
Ok, but it is the same issue on our Dev site.

So would it be a conflict between different modules if we don't get the vouchers have the same behaviours as yours?

You can do the same test on https://dev.easy-pharma.ca

[2018-10-10 22:18] lozaria commented on #10922
Hello,

I'm using Prestashop since version 1.3. I'm supporting dozen of stores for my customers. I know how to install it. 777 permission did not work when applied both to all PS files and folders. Also it is not good idea to use 777 permission at all.
I don't think that I need to rename install folder if the installation is failing. Did you see the screenshot attached to my first post? The instal

[2018-10-11 01:18] vizo commented on #9716
When will this be fixed? In 1.7.4.3 bug stil exists. It affects also SEO for urls, there is SI instead of SL.

For Slovenian language:
Language ISO code = SL
Country ISO code = SI

Best regards, Miha

[2018-10-11 04:31] TuKo commented on #10960
Have you checked Issue #10941 ?

[2018-10-11 06:12] Trsta89 commented on #10960
I did and it works!
Thx a lot

[2018-10-11 06:38] Marg88 opened #10961 "Error back office and front office"
Prestashop version 1.7

Since this morning I can't access to my back office and my front office.
On the first one this error appear like you can see in attachment : PrestaShopException
On the second one that you can see in attachement too the message is : 500 Server Error
I don't understand because I didn't change anything this morning on my website, I just added some products.
Can you help me ?

[2018-10-11 07:02] MathiasReker commented on #10961
This looks like an error from your hosting. Try to send the same message to your hosting.

[2018-10-11 07:29] mathieuhen commented on #10400
Hi,

I don't use any module or override because I had issue on clean install of Prestashop.

[2018-10-11 08:02] BilalDr commented on #10383
@jf-viguier then if you want that it isn't currently possible.

[2018-10-11 08:04] khouloudbelguith commented on #10960
Duplicate of #10941

[2018-10-11 08:04] #10960 closed, assigned to nobody

[2018-10-11 08:09] khouloudbelguith commented on #10961
Hi @Marg88,

The problem comes from your web host. You must check your `PrivateSql` instance and everything around.
Try to connect to your mysql server in command line if you can :)
Thanks!

[2018-10-11 08:16] matks commented on #10285
@sarjon Argh 😅 yes indeed

[2018-10-11 08:24] #10817 closed, assigned to nobody

[2018-10-11 08:24] #10804 closed, assigned to nobody

[2018-10-11 08:24] #10811 closed, assigned to nobody

[2018-10-11 08:25] khouloudbelguith commented on #10958
Hi @oldipp,

I did not manage to reproduce the issue with PS 1.7.4.3 & the ps_imageslider v3.0.0 - by PrestaShop.
I attached a video record.
https://drive.google.com/file/d/18Zkl-4Ih-SJ3aYBm1lnigXirtwmlO0SW/view
Thanks to check & feedback.

[2018-10-11 08:28] marionf commented on #10712
Yes, you are right, let's do it for 1.7.6

[2018-10-11 08:32] matks opened #10962 "Replace deprecated library PhpExcel by PhpSpreadsheet"
**Is your feature request related to a problem? Please describe.**

Library `phpoffice/phpexcel` is used in PrestaShop Core: https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json#L38

According to its [github repository README](https://github.com/PHPOffice/PHPExcel/blob/1.8/README.md) the library is deprecated since 2015. Using it now in 2018 is not efficient and could even introduce

[2018-10-11 08:34] khouloudbelguith commented on #10400
Hi @mathieuhen, The Shema of URLs seems like that by default:
![image](https://user-images.githubusercontent.com/16067358/46791304-214c0a80-cd41-11e8-85d0-022227f95c24.png)
You can check it on the BO => Shop Parameters => Traffic & SEO.
Thanks!

[2018-10-11 08:36] khouloudbelguith commented on #9716
Hi @vizo,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2018-10-11 08:44] marionf commented on #9583
@khouloudbelguith
I can't reproduce

[2018-10-11 08:48] belpixel opened #10963 "[PrestaShopException]"
**Describe the bug**
Hi dears, I'm a new one in Prestashop and yesterday evening I  tried to upgrade my prestashop 1.6.1.20 to 1.7.4.3 after upgrade my prestashop wasn't visible and  I tried to  Rollback 1.6.1.20 but I recived these error and I haven't access to BO!
--

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://printpress.be/1/admin674w9kicy'
2. Cli
![screenshot001](https:

[2018-10-11 08:54] khouloudbelguith commented on #9583
@marionf thanks!
@iprok I followed this link: https://www.drupal.org/project/drupal/issues/87138 to disable mbstring.
![image](https://user-images.githubusercontent.com/16067358/46792570-f7e0ae00-cd43-11e8-9ce6-bb9f109ede24.png)
In fact,  I don't have "extension=mbstring.so" on my php.ini file.

[2018-10-11 09:00] marionf commented on #10941
Hello @Jodelautomat
It's fixed now, thank for your report

[2018-10-11 09:00] #10941 closed, assigned to nobody

[2018-10-11 09:05] khouloudbelguith commented on #10963
Hi @belpixel,

Thanks for your report.
Could you please check your Database `ps_module` table, search for the module with `id_module= 103`.
![image](https://user-images.githubusercontent.com/16067358/46793235-8144b000-cd45-11e8-80d2-8668d5adb11d.png)
After that, you need to break this module by renaming it, clear cache, check & feedback.
Thanks!

[2018-10-11 09:08] khouloudbelguith commented on #10884
Hi @RaspTLC,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2018-10-11 09:10] damianobertuna commented on #10948
Hi, I found a solution for the problem; it can be solved by editing the file /themes/core.js.

I made a pull request to solve the bug definitely.

https://github.com/PrestaShop/PrestaShop/pull/10964/commits/007d5c57a7979c9ecdfc5f3e2e6719aa64758d0b

[2018-10-11 09:12] khouloudbelguith commented on #10948
Fixed by: #10964
Thanks @damianobertuna!

[2018-10-11 09:17] belpixel commented on #10963
![screenshot001](https://user-images.githubusercontent.com/35133541/46793838-e5b43f00-cd46-11e8-8315-8eb6c04010d1.jpg)
Hi,
Intro ps_module I've these list! which one is?

[2018-10-11 09:23] khouloudbelguith commented on #10963
@belpixel, this only the first page, you need to show all & search for this module.
![image](https://user-images.githubusercontent.com/16067358/46794425-0cbf4080-cd48-11e8-82d1-868d3d066922.png)
Thanks!

[2018-10-11 09:32] khouloudbelguith commented on #10953
Hi @CArlvJ1N0N8,

Could you please try to re-create another voucher, thanks to provide a screen record about it, check & feedback.
Thanks!

[2018-10-11 09:35] belpixel commented on #10963
![screenshot001](https://user-images.githubusercontent.com/35133541/46795163-c4088700-cd49-11e8-8f94-8b95dda049c9.jpg)
I found it. Now what can I do?

[2018-10-11 09:45] khouloudbelguith commented on #10954
Hi @CArlvJ1N0N8,

I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1fZTHAluBaQH2c0Five4l2SXmWCOBVMRt/view
Have you tried to contact the theme author? thanks to check with them this issue & feedback.
Thanks!

[2018-10-11 09:47] khouloudbelguith commented on #10963
Hi @belpixel,

You need to rename this module to `upgrade_off`, you can find the `upgrade` folder in your ProjectFolder/modules/
Thanks to check & feedback

[2018-10-11 09:52] khouloudbelguith commented on #10922
Hi @lozaria,

The PHP error means either the permissions are wrong on your PHP file or the user and/or group ownerships are wrong on the file.
Thanks to check the issue with your host & feedback

[2018-10-11 10:06] jameswill opened #10965 "User image not visble in Prestashop 1.6.1.22"
I have installed Prestashop 1.6.1.22 on my linux server with PHP 5.4, Mysql 5.5, and Apache 2.2. When I login into admin panel, On top right corner I didn't get user image and also just below that in "tips of the day" section another image is not loading.

Steps to reproduce the behavior:
1. Login into admin panel
2. Check top right corner for user image
3. Also just below user image, another imag

[2018-10-11 10:11] CArlvJ1N0N8 commented on #10954
OK connecting to the theme author.
But lacking reactivity on that side.

[2018-10-11 10:15] khouloudbelguith commented on #10954
@CArlvJ1N0N8, As it's not the default theme, provided by Prestashop, we can't do anything with this before their feedback.
Thanks!

[2018-10-11 10:17] CArlvJ1N0N8 commented on #10953
Hello,

I recreated the 2nd10 as a new voucher,
but same result.

![2nd10 doesn t work](https://user-images.githubusercontent.com/42921237/46797482-49c20d80-cd1d-11e8-9463-4d4505094b01.JPG)
![2nd10 scr1](https://user-images.githubusercontent.com/42921237/46797483-49c20d80-cd1d-11e8-9846-a24fc5fd48df.JPG)
![2nd10 scr2](https://user-images.githubusercontent.com/42921237/46797484-4a5aa400-cd1d-11e8-9

[2018-10-11 10:17] khouloudbelguith commented on #10965
Hi @jameswill,

- Could you please navigate to BO => Preferences => Images page in the section "REGENERATE THUMBNAILS" click on the button "Regenerate thumbnails".
- Regenerate your file .htaccess ( the BO => Preferences => SEO & URLs => thanks to disable "Friendly URL" and enable it" to regenerate .htaccess)

Thanks to check & feedback.

[2018-10-11 10:18] CArlvJ1N0N8 commented on #10954
I will do the test in my DEV site with the default theme provided by Prestashop, if result is the same, we can say it is not theme related.

[2018-10-11 10:21] khouloudbelguith commented on #10954
@CArlvJ1N0N8, OK thanks!
Waiting for your feedback.

[2018-10-11 10:26] 123monsite-regis opened #10966 "Multishop : wrong tax applied to OrderSlip when Employee is not currently on the same context as the order"
**Describe the bug**
With a multistore instanceof prestashop,
When you want to generate an order slip using partial or standard refund (on One order page view), and you are on the context where the order was done, no tax is applied to the Order Slip if the product is not shared.
This seems due to the absence of passing the context from the order instead of the current context;
to the differents ca

[2018-10-11 10:29] jameswill commented on #10965
Thank you for the quick reply.

I tried Regenerating thumbnails however I did not find "BO => Shop Parameters =>Traffic & SEO=> SEO & URLs => thanks to disable "Friendly URL" and enable it" to regenerate .htaccess.

Can you please guide where it is ?

[2018-10-11 10:32] khouloudbelguith commented on #10965
@jameswill, sorry.
You need to navigate to the BO => Preferences => SEO & URLs => thanks to disable "Friendly URL" and enable it" to regenerate .htaccess.

[2018-10-11 10:33] khouloudbelguith commented on #10953
Hi @CArlvJ1N0N8,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Than

[2018-10-11 10:35] #10937 closed, assigned to nobody

[2018-10-11 10:38] 123monsite-regis commented on #10966
Maybe restrincting the order BO page to the Context the order was billied will be quicker than trying  to  solve such points ?

[2018-10-11 10:38] jameswill commented on #10965
There is no option for "thanks to disable "Friendly URL" and enable it" to regenerate .htaccess" in my BO => Preferences => SEO & URLs
There is an option to "Generate robots.txt" file and my friendly url is disables by default

[2018-10-11 10:42] khouloudbelguith commented on #10966
Hi @123monsite-regis,

Thanks for your report.
Isn't the same issue described above: https://github.com/PrestaShop/PrestaShop/issues/9609#issuecomment-415048712 ?
Thanks to check & feedback.

[2018-10-11 10:44] khouloudbelguith commented on #10965
@jameswill,

I attached screenshots:
![image](https://user-images.githubusercontent.com/16067358/46798903-8a3c7e00-cd53-11e8-8909-dfd8d4cf3cab.png)
![image](https://user-images.githubusercontent.com/16067358/46798867-6ed17300-cd53-11e8-80f7-f7af05abce48.png)

[2018-10-11 10:45] 123monsite-regis commented on #10966
not exactly the same, but linked
 this is an other consequence of Employee who edit Orders on Multistore context or not at exactly the order Shop context.

best regards

[2018-10-11 10:47] jameswill commented on #10965
Mine is disabled

![screenshot-127 0 0 1-2018 10 11-16-17-10](https://user-images.githubusercontent.com/6368036/46798973-232dc200-cd71-11e8-9e09-de1a10bd3bb8.png)

[2018-10-11 10:51] khouloudbelguith commented on #10965
@jameswill, OK thanks.
after Regenerating thumbnails, the issue still exists?

[2018-10-11 10:51] lozaria commented on #10922
Hi @khouloudbelguith,

The same error occurs on two different providers. And all the permissions are set to 777. How it may be still a permissions issue? Permission of files, folders or what?

[2018-10-11 10:52] jameswill commented on #10965
Yes. Post regenerating thumbnails. user image still not loading

[2018-10-11 10:57] khouloudbelguith commented on #10922
Hi @lozaria,

It is a permission issue related to your server, it could be permission of your PHP file.
Thanks!

[2018-10-11 11:04] khouloudbelguith commented on #10966
@123monsite-regis could you please provide a screenshot about your issue.
Thanks!

[2018-10-11 11:14] khouloudbelguith commented on #10965
@jameswill, Thanks for your feedback.
@marionf, checked with 1.6.1.22 / 1.7.4.3 => When I'm trying to change my profile picture.
Clicking on this [link](http://www.prestashop.com/forums/index.php?app=core&module=usercp), I'm redirected to page not found
![image](https://user-images.githubusercontent.com/16067358/46800306-8f033100-cd57-11e8-96d6-671ff83106e7.png)
What do you think?

[2018-10-11 11:19] CArlvJ1N0N8 commented on #10954
Seems to be exactly the same issue, investigating further, but having same reactions...

[2018-10-11 11:21] iprok commented on #9583
@marionf @khouloudbelguith

It's not the way disabling mbstring completely. Just turning it off, but all its functions still are defined so it's normal that you can't reproduce the bug.

I can help you to disable the module, but please give me the information for it:
1) What OS do you run php on? (I can help only with linux so I need exact distro version)
2) Give me this sections of phpinfo output

[2018-10-11 11:31] khouloudbelguith commented on #9583
Hi @iprok,
I attached the phpinfo file
[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/2468691/phpinfo.pdf)

Thanks!

[2018-10-11 11:33] khouloudbelguith commented on #10954
Hi @CArlvJ1N0N8,

Could you please provide me the credentials of your shop (admin) to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2018-10-11 11:33] CArlvJ1N0N8 commented on #10953
![first10 with default theme in dev site not working](https://user-images.githubusercontent.com/42921237/46801188-f2756a80-cd27-11e8-90bb-1a515b3bea4f.JPG)

[2018-10-11 11:36] jameswill commented on #10965
Hi,

Should I wait for the next release ?

[2018-10-11 11:45] TonystarAGB opened #10971 "I do not access the BO (504 error)"
A couple of days the back office of my site has slowed down a lot, but today when I try to log in I do not have access right after so many minutes that I load, I'm left with the error 504.
I'm reading that many have this problem. Can you help me? I urgently need to access my dashboard

PrestaShop version: 1.6.1.17

[2018-10-11 11:46] iprok commented on #9583
@khouloudbelguith
You use php in docker with mbstring compiled in (not module). We can see it in "Configure command" in your phpinfo (--enable-mbstring). And it's the problem cause in Debian (for example) php-mbstring is compiled as module and the module isn't installed by default.

To reproduce the bug you have to use php where mbstring is compiled as module. Seems that docker version goes only w

[2018-10-11 11:50] #10745 closed, assigned to jolelievre

[2018-10-11 11:57] CArlvJ1N0N8 commented on #10953
"server setup and configuration"  Debian9 Ngixn + php-fpm Php7
#PHP error logs# nothing
#nginx  error log# 2018/10/11 06:36:34 [error] 19383#19383: *30460 open() "/home/live/web/easy-pharma.ca/public_html/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js" failed (2: No such file or directory), client: 142.44.160.129, server: www.easy-pharma.ca, request: "GET /cdn-cgi/scripts/d07b1474/

[2018-10-11 12:02] jf-viguier commented on #10383
It's possible with my pr #10384 but this has to be tested.

[2018-10-11 12:04] cgascard opened #10972 "AdminPaymentPreferences"
Describe the bug
A clear and concise description of what the bug is.

To Reproduce
Steps to reproduce the behavior:

Go to 'my back-office'
Click on 'Payment and "preferences " '

See error:
Symfony\Component\Debug\Exception\ContextErrorException:
Warning: PDO::query(): MySQL server has gone away

  at classes/db/DbPDO.php:148
  at DbPDOCore->_query('SELECT c.id_currencyFROM `ps_currency` cWHERE (

[2018-10-11 12:13] a-led commented on #10971
I confirm I'm experiencing same problem on 3 different installations of 1.6.1.20 on 3 different servers. At first time admin panel became very slow, after I receive an error with file xml and at list I can't no more access admin panel. Enter button round in infinite loop.

[2018-10-11 12:30] khouloudbelguith commented on #10971
Hi @TonystarAGB,

Could you please rename the `gamification` folder to `gamification_off`, you can find it into the path Project_Folder/modules/
Thanks to check & feedback.

[2018-10-11 12:53] TonystarAGB commented on #10971
Thanks, it works properly now

[2018-10-11 13:17] khouloudbelguith commented on #10971
@TonystarAGB, I close the issue, feel free to open a new one when needed.

[2018-10-11 13:17] #10971 closed, assigned to nobody

[2018-10-11 13:48] khouloudbelguith commented on #10953
Hi @CArlvJ1N0N8,

Your issue is related to the theme or custom module, when I enabled the mode debug, I found 3 bugs
1-
![image](https://user-images.githubusercontent.com/16067358/46808481-bca6a500-cd6c-11e8-9119-8abae01a1dbd.png)
2-
![image](https://user-images.githubusercontent.com/16067358/46808499-cb8d5780-cd6c-11e8-8d70-39e88ba7b08e.png)
3- I tried to disable the SmartBlog Home Latest News  m

[2018-10-11 14:22] marionf commented on #10430
Yes, it would be good to fix it as it's a regression :)

[2018-10-11 14:28] khouloudbelguith commented on #10972
Hi @cgascard,

Did you import any package from the International /Localization page?
Or did you created any Currency?
Thanks!

[2018-10-11 15:02] cgascard commented on #10972
Hi,

No, no import or currency creation, but these data comes from version 1.4 with the migration module.

1 Currency : EUR
2 Language : FR and EN

[2018-10-11 15:12] khouloudbelguith commented on #10972
@cgascard, Did make an upgrade of your shop from PS 1.4 to 1.7?
What is the exact tool did you use to do this upgrade?

[2018-10-11 15:21] cgascard commented on #10972
Tool : I used https://addons.prestashop.com/fr/migration-donnees-sauvegarde/8934-migrationpro-de-migration-prestashop-vers-prestashop.html

PS 1.4 to clean install 1.7.3
then 1.7.4 with 1C click upgrade

I just added a new currency USD (no active) in the 2 shops and I access to payment preferences, but the loading is very long.

[2018-10-11 15:21] khouloudbelguith commented on #10394
Hi @Jacky75,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-11 15:21] #10394 closed, assigned to nobody

[2018-10-11 15:23] khouloudbelguith commented on #10395
Hi @Jacky75,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-11 15:23] #10395 closed, assigned to nobody

[2018-10-11 15:24] khouloudbelguith commented on #10404
Hi @Patriot720,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-11 15:24] #10404 closed, assigned to nobody

[2018-10-11 15:25] khouloudbelguith commented on #10303
Hi @GeoTimber,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-11 15:25] #10303 closed, assigned to nobody

[2018-10-11 15:39] khouloudbelguith commented on #9583
Hi @iprok,

We'll first try to reproduce it and we'll come back to you if we need more information.
Thanks!

[2018-10-11 16:09] khouloudbelguith commented on #10972
Hi @cgascard,

Could you please try to re-import the France package & the united state's package in the International /Localization page, check & feedback.
Thanks!

[2018-10-11 17:15] RRENOU opened #10976 "Attachments duplicated on all products"
**Describe the bug**
When a file is attached to a product through Webservice or Admin page, the attached file appears also on other products.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog > products'
2. Open first product page
2. Click on 'Option'
3. Scroll down to 'Attachments'
4. Add a file as attachment
6. Go to next product page then Options tab
7. Scroll down to Attache

[2018-10-11 19:32] Maofree opened #10977 "Missing badge classes in the bootstrap css code"
Hi
if you add this code in the classic theme nothing will be happen
<span class="badge badge-pill badge-primary">Primary</span>

this part is missing
https://getbootstrap.com/docs/4.1/components/badge/

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version: 7.0

bye

[2018-10-11 19:53] JuanHidalgoM opened #10978 "Bug error in sizes and color selection"
**Describe the bug**
Hello, I have a serious problem, I have installed Prestashop 1.7.4.3 I'm making a new store and everything was fine until the product was selected, and select between the sizes, second sizes and colors and appear an error when are updated the size options as the case,

For example, the product in blue has sizes X, XX and XXX and the orange color has sizes X and XX.

If you sel

[2018-10-12 06:55] Marg88 commented on #10961
Hi,

Thanks for answers. I joined my web host but he said me that is a Prestashop problem because everything is okay on my hosting and my problem isn't solve.
Can you help me please ?

Thanks,

Marg88

[2018-10-12 07:23] PrestaEdit commented on #10965
Theses part are loaded with the PrestaShop API.
As you know, there is some issues with it from now.

I think it's not an issue, it's a tempory problem due to this incident.

[2018-10-12 07:42] khouloudbelguith commented on #10978
Hi @JuanHidalgoM,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9390 to solve the issue.
It is fixed in the next release 1.7.5.0.
Thanks!

[2018-10-12 07:42] khouloudbelguith commented on #10978
Duplicate of #9390

[2018-10-12 07:42] #10978 closed, assigned to nobody

[2018-10-12 07:47] Marg88 commented on #10961
My problem is solve.

Thanks

[2018-10-12 07:47] #10961 closed, assigned to nobody

[2018-10-12 07:49] PrestaEdit commented on #10819
A big thing, yes.

It's not the ZIP file you need to have on the /modules folder, as you can read into the doc (the part you mention). It's the content of this ZIP files.

[2018-10-12 07:59] cmroanirgo opened #10979 "Cart::addExtraCarriers is dead code"
**Describe the bug**
Some code ` public static function addExtraCarriers` in classes/Cart.php is not called from anywhere that I can see and appears to be DEAD CODE. This means that the hook 'displayCarrierList' is also defunct, which was previously called 'extraCarrier' hook.

As a triple check, the return values from this function (an array of HOOK_EXTRACARRIER) is not to be found in the code.

[2018-10-12 08:01] Akashvastarpara opened #10980 "Only part of the images have been regenerated. The server timed out before finishing."
**Describe the bug**
Only part of the images have been regenerated. The server timed out before finishing. How to solve?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Design > Image setting'
2. Click on 'Regenerate thumbnails'
3. See error : Only part of the images have been regenerated. The server timed out before finishing.

**Screenshots**
![timeout](https://user-images.githubuse

[2018-10-12 08:03] marionf commented on #10965
I think it's more a page that doesn't exist anymore on prestashop.com

[2018-10-12 08:13] khouloudbelguith commented on #10976
Hi @RRENOU,

Thanks for your report.
This is a normal behavior.
Each product can have files, which can be individually set in the "Options" tab, under "Attached files". That page gives you access t`o all the attached files of the shop`: if you need to apply the associated one file with this products, you need to check it.
When you go to next product page then Options tab => you scroll down to Atta

[2018-10-12 08:13] #10976 closed, assigned to nobody

[2018-10-12 08:14] Ludofloria opened #10982 "Change URL when changing store in multistore"
**Describe the bug**
With the Multistore feature enabled, we often change the shop context (to jump from the B2B store to the B2C store, or the other way around).
The two stores have differents URL. But when we go from B2B to B2C store, we are still on the B2B URL while on the B2C store. Thus, half of the URL redirect us on the B2C URLs, but not all. So, when we are in this configuration (B2B cont

[2018-10-12 08:25] khouloudbelguith commented on #10979
HI @cmroanirgo,

Thanks for your report.
Yes, As you can see in the [deprecated hooks](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Hook.php#L93) list the extraCarrier / displayCarrierList hook won't be used anymore starting from 1.7.0.0.
If we search Search the entire codebase for addExtraCarriers we will only find it referenced in the one place: https://github.com/PrestaShop/Pre

[2018-10-12 08:30] khouloudbelguith commented on #10961
HI @Marg88,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-10-12 08:38] khouloudbelguith commented on #10980
Hi @Akashvastarpara,

I did not manage to reproduce the issue with 1.7.4.3
I attached video record.
https://drive.google.com/file/d/1VcmK02Q7kscEUdSlaT5ihkWosqW_go8K/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache err

[2018-10-12 08:38] marionf commented on #10979
No idea, we will rather ask to a developer: @eternoendless ?

[2018-10-12 08:52] Quetzacoalt91 commented on #10819
Thank you @PrestaEdit, I forgot to mention that.

[2018-10-12 08:53] marionf opened #10983 "Bad display on BO product page"
**Describe the bug**
Bad display on BO product page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Edit a product
3. Click on an image

**Screenshots**

![capture d ecran_400](https://user-images.githubusercontent.com/13449658/46859055-ffb85500-ce0c-11e8-8616-0d769c9d1126.png)

Before

![capture d ecran_401](https://user-images.githubusercontent.com/13449658/4685

[2018-10-12 08:58] khouloudbelguith commented on #10982
Hi @Ludofloria,

Here's the PR: #9450 to solve the issue.
It is fixed in the new release: 1.7.5.0.
Thanks!

[2018-10-12 08:58] #10982 closed, assigned to nobody

[2018-10-12 08:59] khouloudbelguith commented on #10982
Duplicate of #9450

[2018-10-12 09:01] kpodemski commented on #10819
I remember that the main issue with that solution was the fact that it was needed to scan entire /modules folder for new modules which was time consuming

[2018-10-12 09:04] Ludofloria commented on #10982
Ow, i didn't find it while using the search bar. My terms weren't the good one apparently.
Thank's for pointing this out !

[2018-10-12 09:16] k2165 commented on #10895
Hi
I'm back again .
Today 500 Internal Server Error appear again.
This is the once error text in my exception.log:
*ERROR* 	2018/10/12 - 17:07:17: Unknown column 'everywhere' in 'where clause'<br /><br /><pre>SELECT * FROM `ps_ppbp_block` WHERE block_position=1 AND active=1 AND (product ="210" OR global_cat=1 OR global_man=1 OR global_prod=1 OR global_features=1 OR everywhere=1) AND shop="1" ORDER

[2018-10-12 09:20] marionf opened #10984 "Minimal quantity in quick view"
**Describe the bug**
I shouldn't be able to decrease the quantity under minimal quantity in quick view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog product & edit a product
2. Click on Quantity and enter a minimal quantity > 1
3. Go to FO and click on quick view for this product
4. You can decrease the quantity under the minimal quantity defined

**Screenshots**

![capture d

[2018-10-12 09:43] cmroanirgo commented on #10819
@kpodemski According to https://stackoverflow.com/a/41521863 then using `DirectoryIterator` shouldn't be too bad, especially if you have a cached value of the previous time you've scanned and use that as comparison. The tricky bit in that case would be determining what's new if you have no previously cached value, for which you must assume all are candidates, and then use other metrics to decide w

[2018-10-12 09:46] cmroanirgo commented on #10979
Just a heads up... The reason I went looking at it in the first place was that I used the module generator and added a few hooks in: https://validator.prestashop.com/generator

Edit: @khouloudbelguith Yes, I discovered that it was all deprecated...after the fact. Which begs the question why the code's in there at all?

[2018-10-12 10:04] lucagiai opened #10985 "Error as I insert password for one customer."
Hello,

when I login with data of a client it gives error. PS: 1.6.1.18

To check error please go on www.amrita-edizioni.com,
user: eugeen72@gmail.com
psw: amrita

Here's the error I get:
[PrestaShopDatabaseException]

You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') ) ORDER BY `level_depth` ASC, cs.`position`

[2018-10-12 10:06] idnovate commented on #10895
This is a problem with a module and you should not report it here. It seems it's a problem with Related Products Pro module, could be?

[2018-10-12 10:10] khouloudbelguith commented on #10985
Hi @lucagiai,

Could you please try to disable the blocksearch_mod module, clear cache, check & feedback.
Thanks!

[2018-10-12 10:19] khouloudbelguith commented on #10977
Hi @maofree,

Thanks for your report.
@eternoendless @PrestaShop/prestashop-core-developers what do you think of his suggestion?
Thanks!

[2018-10-12 10:21] Klemart3D commented on #10393
Reproduced on fresh install of last v1.7.5.0

![gmap-error](https://user-images.githubusercontent.com/7419525/46863885-ef0ddc00-ce18-11e8-89c2-abafecf5164d.png)

[2018-10-12 10:23] khouloudbelguith commented on #10393
Hi @Klemart3D,

Sorry, but the issue is not fixed yet.
Thanks for your understanding!

[2018-10-12 10:28] lucagiai commented on #10985
Hello khouloudbelguith, thanks for answering so quickly! :-)

I just tried to disable blocksearch_mod as suggested, I still get an error, but different. Here it is:

[PrestaShopDatabaseException]

You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') GROUP BY c.`id_category` ORDER BY c.`level_depth` ASC , category'

[2018-10-12 10:31] khouloudbelguith commented on #10985
@lucagiai, you need to disable the iqitmegamenu module.
Thanks to check & feedback.

[2018-10-12 10:40] lucagiai commented on #10985
Nothing... here's the error:

[PrestaShopDatabaseException]

You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') ) ORDER BY `level_depth` ASC, cs.`position` ASC' at line 11

			SELECT c.id_parent, c.id_category, cl.name
			FROM `ps_category` c
			INNER JOIN `ps_category_lang` cl ON (c.`id_category` = cl.`id_catego

[2018-10-12 10:41] khouloudbelguith commented on #10985
Hi @lucagiai,

You need to disable the blocksearch_mod module.
Thanks to check & feedback.

[2018-10-12 10:42] lucagiai commented on #10985
You mean both together, both disabled and check? Because I already tried to disable blocksearch_mod and it gave the error I reported previously. Thank you!

[2018-10-12 10:46] khouloudbelguith commented on #10985
@lucagiai, yes, you need to disable both, check & feedback.

[2018-10-12 11:05] matteolavaggi commented on #9652
This bug was from 1.7. the big problem with prestashop is this, minor bug still not be resolved after month or year. somewhere you dont take account of id_lang when get cache content , we will wait for a bug fix, maybe when a new release is out with other bug so we are at the begin

[2018-10-12 11:08] V41F commented on #15203
Hello @Quetzacoalt91 ,
I tried to upgrade again but with the same result:-( Could you pls help me?
thx

[2018-10-12 11:19] mortenhartvig commented on #10815
@khouloudbelguith - Im not sure, although they look similar.

My focus was on, that when rounding the items (the every item setting), the total should be left untouched in terms of rounding. Using a basic calculator, you should be able to check/verify the numbers in the totals (because the main purpose of accounting software, is checking the numbers)

(even when rounding items to zero decimals ie.

[2018-10-12 11:23] lucagiai commented on #10985
@khouloudbelguith Thank you, it worked! If I disable both modules, the error is no longer there. So we know where's the issue, what can I do to solve it?

[2018-10-12 11:41] khouloudbelguith commented on #10985
Hi @lucagiai,

As they are not modules provided by Prestashop, we can't do anything with this.
You should contact the module's author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2018-10-12 11:41] #10985 closed, assigned to nobody

[2018-10-12 11:42] khouloudbelguith commented on #10895
@k2165, you need to disable the Products Pro module.
Thanks!

[2018-10-12 12:11] Lndaw opened #10988 "Prix unitaire et devise"
**Describe the bug**
 Lors de la création d'une commande depuis le BO, si l'on modifie le prix unitaire du produit ajouté au panier dans une autre devise que l'euro, la devise de ce prix unitaire n'est pas conservée, et une nouvelle conversion (euro vers devise) est faite.

**To Reproduce**
1. the Euro the currency by default
2. add new currency Dollar
3. Go to BO > Order > Add new Order page
4. C

[2018-10-12 13:02] matteolavaggi commented on #9652
i'm not a programmer, 15 minutes on search on google, first try i'm wrong in template because FO use the "featured-products" that make me wrong (and i've never found an option to debug front office template like magento has). Next found the right file to change:

/modules/ps_categoryproducts/ps_categoryproducts.php

FIND

`if (!empty($id_product) && !empty($id_category)) {

            $cache_id =

[2018-10-12 13:05] khouloudbelguith commented on #10988
Hi @Lndaw,

I manage to reproduce the issue with the last version 1.7.4.3.
https://drive.google.com/file/d/1R4ahXMnsAzq0KjnaBnySFqA4uPkQYztH/view
We will see how to fix it.
Thanks!

[2018-10-12 13:09] khouloudbelguith commented on #9652
Hi @matteolavaggi,

Thanks for your fix.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_categoryproducts
you can follow this link: https://github.com/PrestaShop/PrestaShop#contributing
Thank you!

[2018-10-12 13:12] Matt75 commented on #9652
@matteolavaggi The real fix will be to replace
`$cache_id = 'ps_categoryproducts|'.$id_product.'|'.$id_category;`
By
`$cache_id = $this->getCacheId('ps_categoryproducts|'.$id_product.'|'.$id_category);`

Because Module::getCacheId() add language id and other important keys to the $cache_id

[2018-10-12 13:13] matteolavaggi commented on #9652
i've made a pull request, but i dont know if its right, can you check please? i'm not a github user.
https://github.com/PrestaShop/PrestaShop/pull/10989
@Matt75 i'm not a developer, if you find a better solution i'm happy to integrate ^^ thanks

[2018-10-12 13:16] khouloudbelguith commented on #9652
@Matt75

Would you be willing to make a pull request on GitHub with your code suggestion?
Thanks!

[2018-10-12 13:19] Matt75 commented on #9652
@matteolavaggi @khouloudbelguith I will check my fix and make a pull request on ps_categoryproducts repository ;)

[2018-10-12 13:26] matks commented on #10910
I like the idea. I am a bit concerned about the fact that this creates coupling between the form definition and Twig (or Smarty or any other template engines in the future) but I think this is a good trade-off which offers very good flexibility for PS developers and PS module developers.

@mickaelandrieu @eternoendless wdyt ?

[2018-10-12 13:27] khouloudbelguith commented on #10815
Hi @mortenhartvig,

Thanks for your feedback.
In fact, we have a different rounding problem, it is an issue should be specified & fixed by our developers.
We are aware of this issue.
Your ticket is a duplicate of #9779
So, I close it.
Thanks!

[2018-10-12 13:27] #10815 closed, assigned to nobody

[2018-10-12 13:27] khouloudbelguith commented on #10815
Duplicate of #9779

[2018-10-12 13:49] khouloudbelguith commented on #9652
@Matt75, Done: https://github.com/PrestaShop/ps_categoryproducts/pull/6
Thanks!

[2018-10-12 14:14] khouloudbelguith opened #10990 "SQL Manager - Sorting by SQL query causes an exception"
**Describe the bug**

In the BO => Database / SQL Manager page, when we try to filter by SQL query => an exception occured

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Database / SQL Manager page
2. Create at least 2 SQL Query
3. After that, try to apply a sort on SQL Query with icon
![image](https://user-images.githubusercontent.com/16067358/46876788-86862580-ce3f-11e8-94fe-1

[2018-10-12 14:26] khouloudbelguith commented on #10990
Here's the PR: #10991 to fix the issue.

[2018-10-12 14:38] #10686 closed, assigned to sarjon

[2018-10-12 14:50] marionf commented on #10990
@khouloudbelguith

I can't reproduce the issue

![capture d ecran_436](https://user-images.githubusercontent.com/13449658/46876524-dca69900-ce3e-11e8-84e8-33e38081f706.png)

[2018-10-12 14:53] khouloudbelguith commented on #10990
@marion, this issue occurs when we use the icon to sort
![image](https://user-images.githubusercontent.com/16067358/46876692-458e1100-ce3f-11e8-941f-2de06c0307fe.png)

[2018-10-12 14:59] dennispw opened #10993 "Changing filters shouldn't force the user to the top"
**Is your feature request related to a problem? Please describe.**
When using the pagination or changing filters (using the ps_facetedsearch module as an example), the user is scrolled to the top of the document. This is considered bad practice since you are taking the control out of the users hands. It _could be_ useful when using the pagination as long as the pagination is located at the bottom

[2018-10-12 15:22] LSClaire opened #10994 "Declination creation issues"
**Describe the bug**
Trying to create a new products and its declinations with 2 attributes: colour and size. I have hundreds of products successfully created with these same attributes.
The declinations are not all sorted the same way, which create conflicts in front office. Some consider the colour first, other the size first.
Create declination colour A size 1 / colour A size 2 / colour B size

[2018-10-12 15:26] khouloudbelguith commented on #10994
Hi @LSClaire,

The exactly main issue is that all the attributes are ordered by id.
Sorting by positions doesn't work.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9836
So, I close it.
Thanks!
PS: For a quick fix, you need to recreate in order all these attributes.

[2018-10-12 15:26] khouloudbelguith commented on #10994
Duplicate of #9836

[2018-10-12 15:26] #10994 closed, assigned to nobody

[2018-10-12 15:26] cgascard commented on #10972
It's ok now !
Thanks for you help.

[2018-10-12 15:28] khouloudbelguith commented on #10972
Hi @cgascard,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-12 15:28] #10972 closed, assigned to nobody

[2018-10-12 15:34] LSClaire commented on #10994
How can I recreate an attribute when hundreds of existing products are using it? This is not possible... I hope it's fixed soon because this is a real problem.

[2018-10-12 15:49] LSClaire commented on #10994
I checked the initial post and it's not the same issue. Have you checked my screenshot? My issue is in product creation, not in attribute creation.

[2018-10-12 15:52] khouloudbelguith commented on #10994
@LSClaire, yes, there is a weird creation order for combinations.
In the product page / combination tab, all the attribute are ordered by id.

[2018-10-12 16:03] khouloudbelguith commented on #10993
Hi @dennispw,

Thanks for your report.
This feature it is added in the PS 1.7.2.2.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/8082
Thanks to check & feedback.

[2018-10-12 17:08] cgascard opened #10995 "Countries & Carriers Restrictions - Payment preferences"
**Describe the bug**
Countries and carriers restrictions in payment preferences doesn't work.

**To Reproduce**
Side back-office
Click on 'Payment and "preferences "
Check 2 payment modes (bank transfer and bank check) in currencies restrictions
Select group customers for these payment modes
Check bank transfer and uncheck bank check for France for example

Side Front-office, create account with F

[2018-10-12 17:09] drpark opened #10996 "Recover cart when no customer data"
hi,

concerning an old issue (on your previous issue system) BOOM-6147

"If you manually produce a recover cart URL, the link only works if the customer object is set. I can't see why it has to be set for cart recovery to work."

I did this via webservice to try, but it's the same direct in code

Context::getContext()->link->getPageLink('order', false, (int)$cart->id_lang, 'step=3&recover_cart='.(

[2018-10-12 17:47] LuiMai5 commented on #10884
Unfortunately is a free theme, and for this, templatemonster.com not support me!

[2018-10-13 07:47] Prestashopnewbie opened #10997 "searchbar is not working (anymore)"
**Describe the bug**
After a instal of the community module "prosearch" link to topic: https://www.prestashop.com/forums/topic/381135-free-module-ajax-live-search-for-prestashop/

Our search is not working at all ... In backoffice the search tool tells there are no products indexed, when I check dbase, I see all the products are indexed, but not corretly (wrong link to product). I would love to kn

[2018-10-13 10:31] jpyrat opened #10998 "var/cache/prod/appParameters.php recreated with 000 permissions"
**Describe the bug**
var/cache/prod/appParameters.php or var/cache/dev/appParameters.php are always generated with chmod 000 permissions (instead of 644 or 666)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Paramètres avancés'/'Performances'
2. Click on 'Mode Debug' and save
3. See error

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version: 7.0 on Debian 9

[2018-10-13 10:36] trollot opened #10999 "Stats live "visitors online" don't work"
Hi all,
After an upgrade of 1.6 to 1.7.4.3 stats live don't work : (visitors online)

![image](https://user-images.githubusercontent.com/44113554/46904398-bdae1280-cee3-11e8-84b3-2656afbca5dc.png)

Module for this are activated on backoffice :

![image](https://user-images.githubusercontent.com/44113554/46904416-f77f1900-cee3-11e8-8422-70493009997e.png)

Module statsdata is activated :

![image](h

[2018-10-13 11:48] jpyrat commented on #10998
The reason of this behavior is explained here : https://symfony.com/doc/3.4/setup/file_permissions.html

[2018-10-13 11:51] ChineseNorris opened #11000 "Database connection fail(uses old parameters instead of new ones)"
**Describe the bug**
After migrating to another servers, the following error occurs:
PHP Fatal error:  Uncaught PDOException: SQLSTATE[HY000] [1045] Access denied for user 'olduser'@'localhost' (using password: YES) in /domain.com/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php:43
Stack trace:
#0 /domain/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php(43): PDO->__co

[2018-10-13 11:54] ChineseNorris commented on #11000
And yes, i've checked the cache and it's empty.
The strange thing is that the front office works perfectly but BO can't connect to the database, which is super strange.

[2018-10-13 12:49] mygitaccount2 opened #11001 "PS 1.7.4.3 voucher used disapeared from customer order detail (AdminOrders)"
Hi everyone.

since update 1.7.4.3  when a customer use a voucher/cart rule , we cant see anymore in the customer order detail if a voucher has been used.
i tested with free gift voucher

1.7.4.2  we can see like here ![2018-10-13_0846](https://user-images.githubusercontent.com/38796611/46905639-b4fa1400-cec4-11e8-9b5e-9f6e06aa2722.png)

1.7.4.3 well nothing to see  so no screenshot

also the quer

[2018-10-13 13:06] jpyrat commented on #10998
If I add this line to config/bootstrap.php :
`$filesystem->chmod($cachedParameters, 0660);`
Here :
[code]

It's ok for me (except I have to refresh the page until it's not blanck)

[2018-10-13 13:41] trollot commented on #10999
for information, after reset the module statsdata is ok

[2018-10-13 13:41] #10999 closed, assigned to nobody

[2018-10-13 14:50] mygitaccount2 commented on #11001
OK i found the issue,

i was offering a FREE GIFT valued at 0$ in my catalog that will trigger the "bug"

[2018-10-13 15:39] technovijay opened #11002 "Unable to upload image file on Product (PrestaShop 1.7.4.3)"
Unable to upload image file on Product

[2018-10-13 20:34:35] request.INFO: Matched route "admin_product_image_upload". {"route":"admin_product_image_upload","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\ProductImageController::uploadImageAction","idProduct":"1","_route":"admin_product_image_upload"},"request_uri":"http://onykart.in/admin07081990/index.php/product/product

[2018-10-13 20:26] djonez opened #11003 "Combination issue while trying to change different attributes on a product page"
**Describe the bug**
When choosing a product with more attributes, you get the error, "An error occurred while processing your request" when changing value from one attribute that don't have same attribute in secondary attribute. I made an video to describe it better.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Catelog" => "Attributes & Features". Choose secondary Attribute (for c

[2018-10-14 10:12] Prestashopnewbie commented on #10997
Closed ... Issue is the same as:
[BOOM-4600] Can not search product combinations with Availability date #9775

[2018-10-14 10:12] #10997 closed, assigned to nobody

[2018-10-14 12:08] ChineseNorris commented on #11000
After debugging a lot in my server this is what solved for me:

at prestashop/var/cache remove all files and now the BO cache is cleared, i think this should be cleaned too when you click on "clear cache" in the BO.

Closed

[2018-10-14 17:12] LinkOfLight opened #11005 "Error in module selecction"
**Describe the bug**
The module read more get a error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Modules'
2. Click on 'Selection and more info.'
3. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/9163980/46919800-000b4880-cfe5-11e8-8830-b1eda7fdca1e.png)

**Additionnal inf

[2018-10-14 18:13] kpodemski commented on #9818
Still an issue in 1.7.5 @eternoendless

[2018-10-14 18:16] kpodemski commented on #9697
Still an issue in 1.7.5, it's a critical one, i think that this should have higher priority

[2018-10-14 18:51] maartenaalbers opened #11006 "500 error on db connection, always resolved within 60 seconds"
Hi,

my prestashop (www.ma-kaartjes.nl) throws me the 500 page very often. If you refresh after +/- 60 seconds, the site works again. If you login to the backoffice during the error ti shows:

[PrestaShopException]
Link to database cannot be established: SQLSTATE[HY000] [2002] Connection refused
at line 120 in file classes/db/DbPDO.php

Backoffice:
<img width="994" alt="screenshot 2018-10-14 at 20

[2018-10-15 02:17] k2165 commented on #10895
How can I disable the Products Pro module?

[2018-10-15 07:08] dennispw commented on #10993
Yes I know that it's added but it's not good practice. The only time it would actually be useful is if the user is at the bottom of the page. It shouldn't force a scroll to the top when changing sort orter, changing filters and more. It's a very disruptive pattern. Every time the user makes a choise he/she is forced to scroll no matter what.

At the very least we as theme makers (and possible even

[2018-10-15 08:06] khouloudbelguith commented on #11006
Hi @maartenaalbers,

If the issue is this exact exception [Link to database cannot be established: SQLSTATE[HY000] [2002]] => your issue is not related to PrestaShop => it is an error on your server.
The problem comes from your web host. You must check your PrivateSql instance and everything around. It's not even a max_execution_time problem.
Try to connect to your mysql server in command line if

[2018-10-15 08:13] khouloudbelguith commented on #11005
Hi @LinkOfLight,

The issue is added to our debug roadmap.
Your ticket is a duplicate of #9722
So, I close it.
Thanks!

[2018-10-15 08:13] khouloudbelguith commented on #11005
Duplicate of #9722

[2018-10-15 08:13] #11005 closed, assigned to nobody

[2018-10-15 08:20] khouloudbelguith commented on #10993
@marionf what do you think about this issue?
After clicking the next page with few / more products in the FO, will be scrolled top to the list, this issue exists from 1.7.2.2.
Thanks!

[2018-10-15 08:26] khouloudbelguith commented on #11003
Hi @djonez,

Thanks for your report.
When applying the fix patch, did you follow the instruction described by ttoine: https://github.com/PrestaShop/PrestaShop/pull/9390#issuecomment-416876095 ?
If yes, your server setup and configuration is nginx?
Thanks!

[2018-10-15 08:27] ur-ishoxs opened #11007 "Error 500 while changing the status in an order"
**Describe the bug**
I get an error 500 when I change the status of an order to "order canceled" for example. This issue comes since update to 1.7.4.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'orders' and chosse one
2. Click on 'update status'
3. Scroll down to 'order canceled'
![screen](https://user-images.githubusercontent.com/44157898/46938500-42c03580-d064-11e8-999c-42cafa1

[2018-10-15 08:32] khouloudbelguith commented on #11002
Hi @technovijay,

Could you please try to know if fileinfo is enabled in your PHP info.
You can follow this link http://kb.mediatemple.net/questions/764/How+can+I+create+a+phpinfo.php+page%3F#gs
Thanks to check & feedback.

[2018-10-15 08:32] marionf commented on #10945
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:32] #10945 closed, assigned to nobody

[2018-10-15 08:34] marionf commented on #10884
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:34] #10884 closed, assigned to nobody

[2018-10-15 08:39] marionf commented on #10476
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:39] #10476 closed, assigned to nobody

[2018-10-15 08:39] marionf commented on #10481
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:39] #10481 closed, assigned to nobody

[2018-10-15 08:40] marionf commented on #10940
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:40] #10940 closed, assigned to nobody

[2018-10-15 08:40] marionf commented on #10900
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:40] #10900 closed, assigned to nobody

[2018-10-15 08:42] marionf commented on #10037
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:42] #10037 closed, assigned to nobody

[2018-10-15 08:45] #10154 closed, assigned to nobody

[2018-10-15 08:45] marionf commented on #10531
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2018-10-15 08:45] #10531 closed, assigned to nobody

[2018-10-15 09:00] web-plus commented on #9697
Yes, I agree, people will not use 1.7 version if they have to fix translations manually. This is basic feature that should work.

[2018-10-15 09:02] khouloudbelguith commented on #11007
Hi @ur-ishoxs,

I did not manage to reproduce the issue with PS 1.7.4.3 after upgrade from 1.7.4.2.
I used the last version of the 1-click upgrade module.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - scr

[2018-10-15 09:22] khouloudbelguith commented on #11001
Hi @mygitaccount2,

Thanks for your report & your feedback.
I close the issue, feel free to open a new one when needed.

[2018-10-15 09:22] #11001 closed, assigned to nobody

[2018-10-15 09:24] ghost commented on #10255
Bump? Any news? My customers are real pissed!

[2018-10-15 09:38] khouloudbelguith commented on #10998
Hi @jpyrat,

Thanks for your report.
After enabling dev mode, the var/cache/prod/appParameters.php is generated with chmod 666 permissions.
I attached a screenshot.
![image](https://user-images.githubusercontent.com/16067358/46942981-d860c280-d06e-11e8-8114-3cf8b1354725.png)
Thanks to check & feedback.

[2018-10-15 09:50] khouloudbelguith commented on #10996
Hi @drpark,

So, If you manually produce a recover cart URL where if the customer object is not set, you are redirected to an empty shopping cart page without error notification?
Thanks!

[2018-10-15 09:51] ghost commented on #10018
Sorry for bother but "Shop::addSqlAssociation('product_attribute', 'pa') . ' JOIN `'._DB_PREFIX_.'stock_available` sa ON (sa.`id_product_attribute`=pac.`id_product_attribute` AND sa.`quantity`>0)" dont fixed anything in 2.2.0 ps_facetedsearch module paired with PS 1.7.4.3 versions. Still shows unavailable combinations as available (as it shouldn't).

[2018-10-15 09:56] drpark commented on #10996
@khouloudbelguith exactly if no customer object , the redirection produce an empty cart without any error notification (it works perfectly if customer object is set)
regards

[2018-10-15 10:01] khouloudbelguith commented on #10996
@drpark, ok thanks!
@marionf what do you think of this improvement?
I manage to reproduce the issue.
When I manually produce a recover cart URL where if the customer object is not set, I'm redirected to an empty shopping cart page without error notification.
![sc](https://user-images.githubusercontent.com/16067358/46944287-f11ea780-d071-11e8-895c-179385388a27.png)
Thanks!

[2018-10-15 10:12] khouloudbelguith commented on #10895
@k2165, you need to navigate to BO => Modules and Services => search for this module in the list module & disable it.
Thanks!

[2018-10-15 10:13] khouloudbelguith commented on #10997
Duplicate of #9775

[2018-10-15 10:20] drpark commented on #10996
@khouloudbelguith i don't think it's an improvement, it works in previous versions according to my customer.
regards

[2018-10-15 10:22] khouloudbelguith commented on #10996
@drpark, what is the exact previous version?

[2018-10-15 10:31] drpark commented on #10996
i would say 1.6.1.4 but i don't believe it was working...can't test...

[2018-10-15 10:32] k2165 commented on #10895
I just can't enter Modules and Services .
So, is there any other way?

thanks

[2018-10-15 10:42] khouloudbelguith commented on #10895
Hi @k2165,

So, in your project folder, in the PROJECT_FOLDER/modules/, you need to rename the folder of this product pro module, it should be displayed with teck name.

[2018-10-15 10:44] khouloudbelguith commented on #10996
@drpark same issue with 1.6.1.22.
![image](https://user-images.githubusercontent.com/16067358/46946461-14e4ec00-d078-11e8-8527-4ffc1a017610.png)

[2018-10-15 11:02] khouloudbelguith commented on #10995
Hi @cgascard,

I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/16N3DMHP79jO6UxM7S-PUWZD9AOS4z23v/view
Thanks to check & feedback.

[2018-10-15 11:04] #11000 closed, assigned to nobody

[2018-10-15 11:05] khouloudbelguith commented on #11000
Hi @ChineseNorris,

Since it fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-15 11:08] khouloudbelguith commented on #10255
@PrestaShark, the issue is still in our bug roadmap, it is added to the **TO DO** list bug.

[2018-10-15 11:22] goncalosribeiro opened #23313 "Add feature in ps_gdpr module for PS 1.7"
**Is your feature request related to a problem? Please describe.**
The Official GDPR Compliance by PrestaShop module for PS 1.7. allows for a registered client to download the saved personal information (PDF or CSV), in their personal information page. How about for not registered clients?

**Describe the solution you'd like**
In the module configuration page, in the second item "Manage personal d

[2018-10-15 11:31] khouloudbelguith commented on #23313
Hi @gonalo123,

What do you mean by unregistered customer?
Is it a Guest customer?

[2018-10-15 11:32] MathiasReker commented on #9891
Please test this PR: https://github.com/PrestaShop/PrestaShop/pull/11009 Does it solve your issue?

[2018-10-15 11:42] goncalosribeiro commented on #23313
Yes. Precisely.

[2018-10-15 11:51] matks opened #11010 "Migrate "Customers > Customers > View customer" page"
type: page

Part of Symfony migration project
Todo:
- [x] Migrate display https://github.com/PrestaShop/PrestaShop/pull/10992
- [x] Migrate actions #11527
- [x] Un-hide page and delete old controller

Hidden, can be accessed through `admin-dev/index.php/sell/customers/1/view`

[2018-10-15 12:14] cgascard commented on #10995
Hi @khouloudbelguith
I don't understand why my shop's reacting same that. I going to check if the problem isn't in the theme.
Have you other search suggestions after my currencies problem  in the same page?
Carine

[2018-10-15 12:28] drpark commented on #10996
ok! customer dream ;-) but really need this feature.  thank you.

[2018-10-15 12:33] marionf opened #11011 "JavaScript error in console when editing an image in TinyMCE - BO CMS Page"
**Describe the bug**
issue JS when editing a CMS page with an image in the wysiwyg

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Design > Pages
1. Edit a CMS page
1. Add an image in the wysiwyg editor & save
1. Edit the CMS page and click on the image in the wysiwyg editor
1. See error, you can't edit the image

**Screenshots**
![capture d ecran!UNITO-UNDERSCORE!437](https://user-im

[2018-10-15 12:48] khouloudbelguith commented on #23313
@gonalo123, so your suggestion is to add the possibility for "Guest" customer to download their saved personal information from the Front-end.

[2018-10-15 13:02] goncalosribeiro commented on #23313
No.
What I suggest is to have a data download button on the backoffice, in the module configuration page, where the guest client information is presented, in case that client wants the data. In these cases the client must ask for the information via email or contact form.
The only buttons available, when searching for a client, is to delete data or download invoices, on each client found in the se

[2018-10-15 13:02] khouloudbelguith commented on #9891
Hi @Mreker,

Thanks for your fix.
This PR should be reviewed by our developers & approved by our QA.
Thanks!

[2018-10-15 13:04] khouloudbelguith commented on #10995
@cgascard, if you enable the debug mode, is there any exception displayed?
You can check also the file error log.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-15 13:12] ADC1234 commented on #10944
Hi,

Thanks for getting back to me.
Amazingly after 4 vey frustrating days it just fixed it self.

All work ok now.

[2018-10-15 13:15] RomSunZ opened #11012 "PaymentModule->validateOrder creates new objects in global context"
Calling $this->module->validateOrder sets customer flag is_logged to false if it was true befor calling this function.

**To Reproduce**
1. Call $this->context->customer->isLogged(true) befor and after $this->module->validateOrder inside paymet_module/controllers/front/validation.php
2. Check results. Before you will get true and also some guest id value, after you will get false and id_guest=0, b

[2018-10-15 13:16] khouloudbelguith commented on #23313
Hi @gonalo123, thanks for this clarifications.
@colinegin what do you think of his suggestion?

[2018-10-15 13:19] matks commented on #10430
@rokaszygmantas Do you believe it doable ? Do you think we can finish the Import page for 1.7.5 (so we would need to re-open the "Import page (2/2)" for branch `1.7.5.x`), so it would fix these bugs ?

[2018-10-15 13:20] Quetzacoalt91 commented on #15203
Hi @wewew85 ,

This topic on the forum could help you: https://www.prestashop.com/forums/topic/567307-option-multiviews-not-allowed-here-on-prestashop-17/

[2018-10-15 13:21] khouloudbelguith commented on #10944
Hi @ADC1234,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-15 13:21] #10944 closed, assigned to nobody

[2018-10-15 13:31] mnahygiene opened #11013 "BUG ON MY ADMINISTRATOR PLATFORM PRESTASHOP"
Hello,
There are many bugs on my Prestashop administrator platform. I have to wait for long minutes to go from one section to another.
Can you help me and fix my problem please?
![capture d ecran 2018-10-15 a 15 31 08](https://user-images.githubusercontent.com/44167151/46953890-6056c480-d08f-11e8-8fc9-cb447a45aa5e.png)

[2018-10-15 13:34] rokaszygmantas commented on #10430
hi @matks, I'm not sure about the first issue - is it the incorrect language of file input translation? I think it's coming from the browser's language, isn't it?
The other two issues (prefilling of separator fields) are already fixed with https://github.com/PrestaShop/PrestaShop/pull/10120 so it's up to you if you want to merge it into `1.7.5.x` - I can open a PR for that. :slightly_smiling_face:

[2018-10-15 13:37] khouloudbelguith commented on #11013
Hi @mnahygiene,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2018-10-15 13:59] khouloudbelguith commented on #11012
Hi @RomSunZ,

What are the exact results displayed after calling: `$this->context->customer->isLogged(true)`
did you add this line code in the /project_folder/modules/paymet_module/controllers/front/validation.php before and after `$this->module->validateOrder` ?
Thanks!

[2018-10-15 14:31] RomSunZ commented on #11012
Yes, add $this->context->customer->isLogged(true) before and after $this->module->validateOrder inside validation.php. Before you will get true and also some guest id, after you will get false and id_guest=0, but the same customer->id. I cannot check values after standart redirect to order-confirmation.php?key=... as I have not figured out where to look yet, but I think values there are OK again a

[2018-10-15 14:47] khouloudbelguith commented on #11012
@RomSunZ, could you please add screenshot about your issue.
It will help us if you can attach a screen record.
Thanks!

[2018-10-15 15:12] RomSunZ commented on #11012
Screenshot will give you nothing. Please add this to your bankwire or cash on delivery or to what ever else payment module validate.php postProcess function and try to pay under logged customer:

Please check mentioned in my first post called function validateOrder. There you create new instance of Customer. There is nothing conserning customer login  state after creating new customer instance. So

[2018-10-15 15:29] kodarco opened #11014 "Error with importing products Error code: error"
I'm constantly getting Error code: error when importing products. It always manages to import exactly 5 products no matter what I set in php.ini
Tried xlsx and csv format, tried to import without image urls, tried to change from FCGId to CGI wrapper. Server is running PHP 7.0.27
Prestashop ver. 1.7.4.2
Prestashop log is not showing much info.
Chrome is showing error in this:
https://www.poppersbym

[2018-10-15 15:36] khouloudbelguith commented on #11014
Hi @kodarco,

Have you the same issue with this ticket: #10329?
Thanks to check & feedback.

[2018-10-15 15:38] khouloudbelguith commented on #11012
Hi @RomSunZ,

Thanks for this clarifications.
I manage to reproduce this issue with 1.7.4.3.
after adding the line code into `validate.php`
1- Before calling: `$this->context->customer->isLogged(true)`:
I have this:
[code]
2- After calling: `$this->context->customer->isLogged(true)`:
I have this:
[code]
Thanks!

[2018-10-15 15:38] kodarco commented on #11014
No I don't have problem with the reference field, mine is very short.

[2018-10-15 15:47] khouloudbelguith commented on #11014
@kodarco, could you please provide the file.csv to test it.

[2018-10-15 15:53] kodarco commented on #11014
Can't attach csv file here, it's the same as xlsx

[2018-10-15 15:57] khouloudbelguith commented on #11014
@kodarco, you can provide me with the field by email.
My address mail: khouloud.belguith@prestashop.com

Thanks!

[2018-10-15 16:49] djonez commented on #11003
Hi khouloudbelguith,

Yes i did follow the instructions, but it didn't help.
No, it's on Apache.

---
Med venlig hilsen / Best regards

Joen Seider
Tlf. 51800600

man. 15. okt. 2018 10.27 skrev khouloudbelguith <notifications@github.com>:

[2018-10-15 16:52] khouloudbelguith commented on #11003
@djonez, after applying the patch, could you please try to clear cache from the shop & the browser.
You need to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-10-15 17:05] khouloudbelguith commented on #11014
Hi @kodarco,

I just received your file test.csv.
for each line, I added the id(the first column is empty in the file that you provided me.
After that, I imported the file & it is ok for me.
I attached a video record.
https://drive.google.com/file/d/1HpQtQkD8-ozlF20CS_CimqqH9w0ndu9B/view
Thanks to check & feedback.

[2018-10-15 17:18] kodarco commented on #11014
No, when I add product IDs I still have the error. I imports 5 products and then shows the error.
In Chrome inpect, I see this link is showing error 500

https://www.poppersbymail.com/admin292mqbbbp/index.php?ajax=1&action=import&tab=AdminImport&offset=0&limit=5&token=06334aa839fc81942492269e57a49260

Isn't it strange that in this link, it says limit=5 and it always imports 5 products, could this

[2018-10-15 17:43] colinegin commented on #23313
Hello,

Thanks for your suggestion @gonalo123 ! It's a great idea, but I need to discuss it with the module developer. I've just changed the title of this issue as it is related to the GDPR module and not legal compliance module.

I will keep you updated ! In the meantime, if you are able to code this feature, feel free to do a PR !

[2018-10-15 18:43] goncalosribeiro commented on #23313
Yes, that is correct, not the ps_legalcompliance. I suggest you remove the FO, tag also because this is a backoffice feature.

As for coding, I don´t think I could do it. My capabilities wouldn't allow me to do it in less than a year. :)

[2018-10-15 19:02] arsonists opened #11016 "[1.7] ReferenceError: autorefresh_notifications is not defined"
Enabling SSL on all pages gives me the following JQuery error and I can barely configure the backoffice.

ReferenceError: autorefresh_notifications is not defined

![photo_2018-10-15_18-16-15](https://user-images.githubusercontent.com/22270830/46971833-62377c80-d0bd-11e8-956f-37f222e4c635.jpg)

It only skips me when I activate SSL on all pages.

It is a clean installation of Prestashop 1.7.4.3.

G

[2018-10-15 19:39] djonez commented on #11003
Hi

No, sorry. My mistake. I have applied some other fix in the thread but not
seen the response from ttoine.
Looks like it worked. Sorry to bother you with an issue which was already
solved.

Thank you very much for you help. I'm glad to know that there is suck
competent people working on Prestashop.

Again thank you all.

Med venlig hilsen/Best Regards

Joen Seider
Tlf. 51800600

Den man. 15. ok

[2018-10-15 20:27] JirkaDeLucina opened #11017 "When Data format change, in BO orders details fail"
I use only one language: czech (cs-CZ).

When is changed short "Data format" in BO: International - Localization - Languages from default format "Y-m-d" to another, eg.: d.m.Y, than in BO in Orders in detail in any Order appears:

[PrestaShopException]
Invalid date
at line 883 in file classes/Tools.php

878.         if ($date == '0000-00-00 00:00:00' || $date == '0000-00-00') {
879.             re

[2018-10-15 20:41] JirkaDeLucina opened #11018 "If set only one non EUR currency, still EUR appears on some places in BO"
I have only one currency in BO: International - Localization - Currency
CZK / 203

On same places in BO is shown EUR:
Orders - detail of any Order - in Payment section
Catalog - Products - detail of any Product - tab Price - in Special prices - add Special price - in selector are % and also EUR

**Screenshots**
![image](https://user-images.githubusercontent.com/43830505/46976501-f1e32800-d0c9-11e8

[2018-10-15 23:17] cmroanirgo opened #11019 "Australian Currency shows 'A$x.xx' AND can't change it in UI."
**Describe the bug**
When you select Australian currency (and locale en-AU) the currency is always shown with a preceeding 'A'. This is incorrect.

I have tracked the source of the problem down to the configuration files:

1. `/translations/cldr/datas/main/en-US/currencies.json` (line 130), `"symbol": "A$"` should be `"symbol": "$"`

This trickles down into the other locales/regions, as far as I c

[2018-10-16 01:18] k2165 commented on #10895
I don't have product pro folder.
But there are many folders that about the product.
![image](https://user-images.githubusercontent.com/43941963/46986919-6cd92c80-d124-11e8-9b62-72fbc3e15d01.png)
thanks

[2018-10-16 07:09] nobodyelse84 opened #11020 "Login Admin BO - error 500"
**Describe the bug**
I'm trying to sign into the backend, with administration id and password, but I get a 500 error.
All the other users are logged in, but not the admin.

**Screenshots**
https://drive.google.com/open?id=1Jd7i5c2Ad4mwbn_QI4MgXHUggeATFO0L

**Additionnal information**
PrestaShop version: 1.7.3
PHP version: 5.5.38

Thank you in advance.
Giorgia

[2018-10-16 07:31] PierreRambaud commented on #11016
Hi and thanks for your feedback.
I could not find anything about `autorefresh_notifications` in the project. Did you install a custom module?
Kind regards

[2018-10-16 07:33] PierreRambaud commented on #11011
It's a TinyMce bug. @eternoendless What we can do for that?

[2018-10-16 07:34] GaetanNaulin commented on #11020
Same here with prestashop 1.6 or 1.7.2.. error 504 all the time..

[2018-10-16 08:02] khouloudbelguith commented on #11020
Hi @nobodyelse84,

Could you please try to rename the `gamification` module to `gamification_off`.
You can find it, in your Project_Folder/modules/
Thanks to check & feedback.

[2018-10-16 08:13] khouloudbelguith commented on #11018
Hi @JirkaDeLucina,

We aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9876
So, I close it.
Thanks!

[2018-10-16 08:13] khouloudbelguith commented on #11018
Duplicate of #9876

[2018-10-16 08:13] #11018 closed, assigned to nobody

[2018-10-16 08:17] matks opened #11021 "[SF Migration] Harmonize already migrated controllers with latest migration practices"
As we migrate the PrestaShop backoffice ; we improve our code, the tools we use, the concepts and pattern we apply, the rules we follow. So the 1st controllers that were merged might not comply with the latest improvements we have adopted.

This is why we must have a look at these controllers and check that:
- the CRUD pages comply with [Form Entity Management](https://github.com/PrestaShop/Presta

[2018-10-16 08:20] Suisso opened #11022 "Problem/Bug: Prestashop 1.7.4.2 and discount code without VAT"
Hello,

I have a problem with Prestashop 1.7.4.2 and discount code.

Our store is destined to B2B, meaning the prices are all without VAT.

Our store is mainly for people who live in Switzerland (non-European).

When we apply the promotion code he applies the discount with rates, and we want the discount always be without taxes, ie without VAT.

How do you do this?

I've tried debugging, but I can

[2018-10-16 08:21] khouloudbelguith commented on #9876
Hi,

Same issue in the product page, pricing tab
Steps to reproduce the issue:
1- add the United states package
2- Change the Default currency to the US Dollar
3- Delete the Euro in the Currencies page
4- Navigate to the BO => Product page => try to add a specific price, the Euro currency is displayed
![image](https://user-images.githubusercontent.com/16067358/47002447-4cfa3680-d12d-11e8-9a1a-c774

[2018-10-16 08:22] GaetanNaulin commented on #11020
This solution works for me, thanks !

[2018-10-16 08:32] nobodyelse84 commented on #11020
Sorry, but I have no "gamification" folder... :(

[2018-10-16 08:33] khouloudbelguith commented on #11016
Hi @arsonists, @PierreRambaud, it could be caused by a cached version of /js/admin/notifications.js in the browser (the 1.6 version was being loaded).
@arsonists, Did you made an upgrade from 1.6 to 1.7?
Could you please try to clear cache from your browser & your shop, check & feedback.
Thanks!

[2018-10-16 08:34] GeoTimber opened #11023 "Quick edit product position or product order not working in catalog."
#### Is your feature request related to a problem?
We are trying to quick edit the product order but there is only a drag and drop function and no quick way to directly edit the product order.

The client thinks this function was there before the last update, ( thats why it is a bug report, I can also see a mass_edit_order action in the code ) ?

#### Describe the solution you'd like
Can we have a

[2018-10-16 08:43] khouloudbelguith commented on #11022
Hi @Suisso,

We are aware of the issue( Discount problems for customers without VAT), it is added to our debug roadmap.
Your ticket is a duplicate of #9856
So, I close it.
Thanks!

[2018-10-16 08:43] khouloudbelguith commented on #11022
Duplicate of #9856

[2018-10-16 08:43] #11022 closed, assigned to nobody

[2018-10-16 08:43] febestore commented on #10739
Hi,
Yes I did. They replied:
"Sorry, I don't know this issue.
I think you should contact to PrestaShop for this issue."

So none knows how to fix this?

[2018-10-16 08:52] khouloudbelguith commented on #11020
@nobodyelse84, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-crea

[2018-10-16 09:10] khouloudbelguith commented on #11003
Hi @djonez,

Thanks for your feedback.
You are welcome.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-16 09:10] #11003 closed, assigned to nobody

[2018-10-16 09:10] khouloudbelguith commented on #11003
Duplicate of #9390

[2018-10-16 09:21] nobodyelse84 commented on #11020
- atribute folder: 755 / atribute files: 755
- debug error report

<img width="1680" alt="schermata 2018-10-16 alle 11 18 37" src="https://user-images.githubusercontent.com/44086265/47006096-71f2a780-d135-11e8-9c8c-c19acdc46281.png">
<img width="1680" alt="schermata 2018-10-16 alle 11 18 30" src="https://user-images.githubusercontent.com/44086265/47006097-71f2a780-d135-11e8-93d4-a0e326863247.png">

[2018-10-16 09:40] khouloudbelguith commented on #11019
Hi @cmroanirgo,

Thanks for your report.
A$: it is not a wrong currency as you can read here: https://en.wikipedia.org/wiki/Australian_dollar
But the issue is that in the BO the Australian Dollar Symbol is $, but in FO, it is displayed in A$.
![image](https://user-images.githubusercontent.com/16067358/47007147-dd3d7900-d137-11e8-80d5-2535d384b7b8.png)
![image](https://user-images.githubusercontent

[2018-10-16 09:51] khouloudbelguith commented on #11023
Hi @GeoTimber,

What the exact previous version?
I checked in the PS 1.7 / PS 1.6, we need to drag & drop to edit the position of the product.
So, it is an improvement request.
Thanks!

[2018-10-16 09:51] tartubasti opened #11025 "The problem of counting the full set."
**Describe the bug**
I have three products, one with combinations, the second simple and the third set of products. The first has two combinations in the presence of 5 and 10 pieces. The second in the presence of 80 pieces. The third consists of the first combination of the first commodity and the second commodity. The site shows in stock 15 pieces. Must show 5 complete sets, as it consists of two

[2018-10-16 09:56] khouloudbelguith commented on #11025
Hi @tartubasti,

Could you please try to navigate to the BO => Shop Parameters => Product Settings => check the `Default pack stock management` option & try to select the "Decrement both" option, check & feedback.
Thanks!

[2018-10-16 10:00] khouloudbelguith commented on #11020
@nobodyelse84, Thanks for your feedback.
Could you please try to disable the ttcmsservices module in the Modules & Services pages.
You don't have access to the BO => You need to rename the ttcmsservices folder to ttcmsservices_off in the path Project_Folder/modules.
Could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

[2018-10-16 10:03] GeoTimber commented on #11023
Thanks @khouloudbelguith

We were on 1.7.2.4 before, but my customer maybe be mistaken about the input box, but she did say the arrow buttons worked better and where clickable, you can't click them at the moment.

The edit box to type in a number on the product catalog list to update the positions or some other way to quickly update the position would be a plus though, yes this would be an improve

[2018-10-16 10:04] tartubasti commented on #11025
Reduce the goods in the set will not work?

[2018-10-16 10:05] khouloudbelguith commented on #11023
@GeoTimber, thanks for your feedback.
@marion what do you think of his suggestion?

[2018-10-16 10:07] khouloudbelguith commented on #11025
@tartubasti, No, it will work.
But you need to check if "Decrement both" option solves your issue.
THanks!

[2018-10-16 10:12] V41F commented on #15203
Hi @Quetzacoalt91 ,
thx for your response, but I have no idea what to do. Could you pls explain me how to do it?
thank you so much.

[2018-10-16 10:13] tartubasti commented on #11025
If the customer buys the product included in the kit separately, not the pack itself, will have to manually change the quantity of the pack?

[2018-10-16 10:16] Quetzacoalt91 commented on #15203
Do not hesitate to be helped by somebody you know able to modify Apache hosts.

Basically, you have to modify the Apache configuration on your server.
This line is missing in the configuration:
[code]

and prevents the BO to work properly with the autoupgrade.

[2018-10-16 10:21] khouloudbelguith commented on #11025
@tartubasti,

If "Decrement both" option is selected.
1- you have the Product A
2- you have a pack with this product A
3- if customer buys the product included in the kit separately, the quantity of the pack will be automatically reduced.
Thanks!

[2018-10-16 10:24] khouloudbelguith commented on #11017
Hi @JirkaDeLucina,

I did not manage to reproduce the issue with the last version 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1fkz1CgJPbFzubD1KG_Bn0dJpf1le-sG0/view
Thanks to check & feedback.

[2018-10-16 10:25] cmroanirgo commented on #11019
Whatever you may think to be the correct answer, I can absolutely guarantee you that as an Australian, this is NOT correct. This is NOT how we show prices. To an Australian, our prices are shown as "$123.23" without an 'A' in front of it. When we view prices on a website that has multiple currencies, we expect AUD or 'Australian Dollar' to be displayed... and NOT "A$"

The website I'm setting up u

[2018-10-16 10:25] tartubasti commented on #11025
Thank you so much for helping and taking your time.

[2018-10-16 10:29] khouloudbelguith commented on #11025
@tartubasti, so your issue is solved?

[2018-10-16 10:33] tartubasti commented on #11025
Not completely.

[2018-10-16 10:40] khouloudbelguith commented on #11025
@tartubasti, could you please describe in a new comment steps to reproduce your issue, one by one.

[2018-10-16 10:41] khouloudbelguith commented on #11014
Hi @kodarco,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-16 10:43] tartubasti commented on #11025
The problem is that when creating pack does not automatically count the number of complete pack.

[2018-10-16 10:49] khouloudbelguith commented on #10739
@febestore, it could be a multistore issue.
Could you please try to disable the multistore context, check & feedback.
Thanks!

[2018-10-16 10:49] kodarco commented on #11014
Already gave you all this, see above...

[2018-10-16 10:52] Quetzacoalt91 commented on #10339
Fixed by #10436

[2018-10-16 10:52] #10339 closed, assigned to CaptainYouz

[2018-10-16 10:52] khouloudbelguith commented on #11014
@kodarco, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
If you enable the mode debug, is there any exception displayed?

[2018-10-16 10:53] #10881 closed, assigned to nobody

[2018-10-16 10:56] khouloudbelguith commented on #11025
@tartubasti, thanks for this clarifications.
We are aware of this issue, it added to our bug roadmap.
Your ticket is a duplicate of #9728
So, I close it.
Thanks!

[2018-10-16 10:57] khouloudbelguith commented on #11025
Duplicate of #9728

[2018-10-16 10:57] #11025 closed, assigned to nobody

[2018-10-16 11:00] khouloudbelguith commented on #10895
@k2165, you need to rename one by one, clear cache & check.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.

[2018-10-16 11:05] centoasa opened #11026 "Enable email notification"
Enable "email notification" when stock return available also for default accept order when out of stock.
It's very useful to have email nofication always.
http://nimb.ws/jrxtHv

[2018-10-16 11:08] kodarco commented on #11014
This is all I can collect, except for the above images. When I turn on debug mode, I got error 500 in Chrome console on https://www.poppersbymail.com/admin292mqbbbp/index.php?ajax=1&action=import&tab=AdminImport&offset=0&limit=5&token=06334aa839fc81942492269e57a49260

and these are the images of the response

![1](https://user-images.githubusercontent.com/43558067/47012446-8d18e380-d144-11e8-8c6f-

[2018-10-16 11:10] idnovate commented on #10895
Maybe the folder is called "relatedproductpro"

[2018-10-16 11:23] MathiasReker commented on #9891
Maybe change milestone back to 1.7.5, since this is a 'topwatchers'?

[2018-10-16 11:36] khouloudbelguith commented on #11026
Hi @centoasa,

Did you installed the mail alert module?
![image](https://user-images.githubusercontent.com/16067358/47013923-0d414800-d149-11e8-9a43-72028c8ca08f.png)
Thanks!

[2018-10-16 11:38] dineshbadrukhiya commented on #10980
Hello @Akashvastarpara

As you have mentioned **Max execution time: 0**, I think you have set it to run script for unlimited time but it will give return value timeout "controllers/admin/AdminImagesController.php" at line 625.

Solution: Find the line
`$this->max_execution_time = (int)ini_get('max_execution_time');`
(approx line 637) and comment it.

Now save the file and again try to regenerate t

[2018-10-16 12:18] GuimDotCom opened #11029 "Problème avec déclinaisons, aucune par défaut parfois"
**Describe the bug**
Parfois côté boutique lorsque j'arrive sur une fiche produit qui a des déclinaisons cela m'affiche un prix à 0€, "Rupture de stock" et aucune déclinaison de sélectionnée (alors qu'il y a en une par défaut).

À ce moment là :
- Si j'actualise simplement la page (Ctrl + R), cela règle le souci et propose la déclinaison par défaut.
- Si je clique sur une déclinaison cela change e

[2018-10-16 12:35] nobodyelse84 commented on #11020
I was trying to erase the prod into the cache folder, but it replace all the files.
I've tried to log in and it doesn't work :(

[2018-10-16 12:36] Akashvastarpara commented on #10980
I have commented line as you have suggested and It's worked.
Thank you @dbadrukhiya .

[2018-10-16 12:48] centoasa commented on #11026
Yes, it's working! but it show only if product have qty=0 and (Availability preferences)= Deny orders
Instead, also with a preference flag on setting, email alert box available also for qty=0, independently from Availability preferences into product.

[2018-10-16 12:48] khouloudbelguith commented on #10980
Hi @Akashvastarpara,

Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-16 12:48] #10980 closed, assigned to nobody

[2018-10-16 12:49] Quetzacoalt91 commented on #10470
Closed by #10447

[2018-10-16 12:49] #10470 closed, assigned to nobody

[2018-10-16 12:55] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

[2018-10-16 12:56] khouloudbelguith commented on #11020
@nobodyelse84 did you manage to rename the ttcmsservices folder?

[2018-10-16 13:01] nobodyelse84 commented on #11020
Yes, I did! I've rename adding _off
<img width="703" alt="schermata 2018-10-16 alle 15 00 42" src="https://user-images.githubusercontent.com/44086265/47018104-4fbc5200-d154-11e8-9203-f47074f733a0.png">

[2018-10-16 13:03] khouloudbelguith commented on #11020
@nobodyelse84, Is there any other exceptions displayed?

[2018-10-16 13:04] MathiasReker commented on #16983
Hi @Casper-O, can you check if the issue is solved with this PR? https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:10] khouloudbelguith commented on #11026
@centoasa, if the "Allow orders" option is selected, there is no indication for the user that it is out of stock.
If "email notification" is enabled, when stock return available also for default accept the order, when out of stock, it will be a contradiction for the users in the product page, because he is allowed to add the product to the cart, & he is out of stock.
I don't think, that will be a

[2018-10-16 13:17] centoasa commented on #11026
but I can also have this scenario:
1: http://nimb.ws/AaxWkS
2: http://nimb.ws/dOP45r
3: https://www.100asa.it/it/ricambi-stampanti-e-fotocopiatori/35307-20g-grease-di-resina-for-fixing-film-universale.html
4:; customers can't add this product to cart, and can't receive notifications when back in stock

[2018-10-16 13:18] nobodyelse84 commented on #11020
Are getting replaced always these folders and files:
<img width="712" alt="schermata 2018-10-16 alle 15 17 23" src="https://user-images.githubusercontent.com/44086265/47019154-ac207100-d156-11e8-9998-28754aad3cdc.png">

I was trying to replace the atribut to 777/755, but are getting replaced in this way.

[2018-10-16 13:28] khouloudbelguith commented on #11014
@kodarco, during the import of the products, the tags column is empty in your case?
![image](https://user-images.githubusercontent.com/16067358/47019747-12f25a00-d158-11e8-9872-59e6ba69c14a.png)
Thanks!

[2018-10-16 13:29] khouloudbelguith commented on #11020
@nobodyelse84, it could be a server restriction, you need to check your host about this issue.

[2018-10-16 13:42] GuimDotCom commented on #11029
Hi @khouloudbelguith,
I've just done what you said and the bug always appears... :(
Is it possible that the problem is linked to a pretty url module (URLs utils by FMM Modules)? Which maybe don't reed url parameters like /#/116-couleur-rouge

[2018-10-16 13:44] khouloudbelguith commented on #11026
@centoasa, yes for this case, we cannot add the product to cart ( Available for order is unchecked in the Options Tab).
But the "email notification" is not displayed ( because "allow orders" is selected.)
@marionf what do you think?
Thanks!

[2018-10-16 13:46] khouloudbelguith commented on #11029
@GuimDotCom, to be sure that it is not the problem, you need to disable that module, clear cache, check & feedback.
Thanks!

[2018-10-16 13:50] andredt1980 opened #11031 "Error 404 Page not found"
Dear install the latest version of prestashop with version 7.29 of php in windows.
The web is displayed correctly for the user that accesses but I can not access from the localhost to admin.
Other applications work even the frontend of the application.
I have not found anything specific about this.
Could you guide me?

[2018-10-16 13:56] andredt1980 commented on #11031
Ok, I'm solved, install it again, a mystery.
Thanks

[2018-10-16 13:57] khouloudbelguith commented on #11031
Hi @andredt1980,

Since it is fixed I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-16 13:57] #11031 closed, assigned to nobody

[2018-10-16 14:09] JuanHidalgoM commented on #10978
Do you have date for update 1.7.5 ?

And this version correct the problem?

Thank you and good day

[2018-10-16 14:09] Quetzacoalt91 commented on #10983
Fixed by #11032

[2018-10-16 14:13] khouloudbelguith commented on #10978
@JuanHidalgoM, code freeze should be in this month, and then, beta will be released for debugging.

[2018-10-16 14:16] nobodyelse84 commented on #11020
Thanks a lot!

Distinti saluti

Giorgia Bortesi
Cell. 366.1284643

[2018-10-16 14:17] khouloudbelguith commented on #11020
@nobodyelse84, issue solved?

[2018-10-16 14:21] nobodyelse84 commented on #11020
No, I’m going to contact the host owner.
I’ll let you know.

Thanks again

Distinti saluti

Giorgia Bortesi
Cell. 366.1284643

[2018-10-16 14:24] khouloudbelguith commented on #11020
@nobodyelse84, thanks!
Waiting for your feedback.

[2018-10-16 14:39] matks opened #11033 "[SF Migration] Improve hook.xml management ?"
File `install-dev/data/xml/hook.xml` contains hooks dispatched in Symfony page in order to input them into database.
This file is currently updated manually by developers who migrate pages from legacy to Symfony. I'm wondering if we can automate this.

@mickaelandrieu @Quetzacoalt91 I need your knowledge here 😉
Can you confirm this hook.xml file kindof replaces `$this->regsiterHook()` in modules ?

[2018-10-16 14:44] Quetzacoalt91 commented on #11033
Absolutely not.

Hook.xml contains a non-exhaustive list of hooks installed at PrestaShop installation. But modules will always be required to call `$this->registerHook()` to make their module called by the core.

[2018-10-16 14:46] khouloudbelguith opened #11034 "Add a new discount with invalid reduction_percent => there is no alert - Order Back office"
**Describe the bug**

In the BO => Orders => Order details => we try to add a new discount with invalid reduction_percent 300% => a green alert "Successful update." is displayed => but there is no discount added.
The green alert is wrong, we should have a red alert
![image](https://user-images.githubusercontent.com/16067358/47024655-6bc6f000-d162-11e8-96f3-675db9c53144.png)

**To Reproduce**
Steps

[2018-10-16 14:47] matks commented on #11033
@Quetzacoalt91 thank your for the answer :)

Then why do we need this hook.xml file for Symfony hooks ? what is the difference between legacy hooks and SF hooks ? I am sorry I do not get it

[2018-10-16 14:48] sarjon commented on #11033
i dont think there is, at least there shouldnt be.

[2018-10-16 14:49] ur-ishoxs commented on #11007
Hi,

here are the informations you need:

host
it is a hosting contingent at 1&1

Server Setup and Configuration
See attached phpinfo.html

Debug mode report
See attached Screenshots

Apache error log
I don’t know how I get this

Javascript console log
I don’t know how I get this

Hope this helps

Thanks

Best Regards
Uwe

Von: khouloudbelguith [mailto:notifications@github.com]
Gesendet: Montag, 1

[2018-10-16 14:53] khouloudbelguith commented on #11007
@ur-ishoxs, there is no screenshot attached, you need to connect to the GitHub & upload the screenshot.
Thanks!

[2018-10-16 15:06] kodarco commented on #11014
Just tried with populated tags, I get the exact same error.

[2018-10-16 15:07] khouloudbelguith commented on #11014
@kodarco, What are those exact tags?
Thanks!

[2018-10-16 15:11] kodarco commented on #11014
just one word for all rows: adult

[2018-10-16 15:12] khouloudbelguith commented on #11014
@kodarco, if you ignore this column during the import, is there any exception?

[2018-10-16 15:15] kodarco commented on #11014
Tried to ignore tag column, got exactly the same exception: updateTagCount

[2018-10-16 15:16] ur-ishoxs commented on #11007
![screen_debug-mode_backend_open-order-1](https://user-images.githubusercontent.com/44157898/47027175-3f61a280-d167-11e8-965f-af7d4dcc8cb6.jpg)
![screen_debug-mode_backend_open-order-2](https://user-images.githubusercontent.com/44157898/47027176-3ffa3900-d167-11e8-95c7-0f08c6d6ac8b.jpg)
![screen_debug-mode_backend_open-order-3](https://user-images.githubusercontent.com/44157898/47027178-3ffa3900-d

[2018-10-16 15:26] technovijay commented on #11002
I have tried this both "extension=php_fileinfo.dll" and "extension=php_fileinfo.so" on php.ini .
fileinfo  had enabled already., But no luck

[2018-10-16 15:29] khouloudbelguith commented on #11007
@ur-ishoxs, you have an error in the Override of the class `Cart.php`.
Did you create this file by a developer/ yourself?
![image](https://user-images.githubusercontent.com/16067358/47028105-f3aff880-d168-11e8-9d24-f6b821f6a488.png)
Thanks!

[2018-10-16 15:30] khouloudbelguith commented on #11002
@technovijay, could you please provide me your PHP info file to check it.

[2018-10-16 15:55] khouloudbelguith commented on #11014
@kodarco, it could be Block tags module causes this issue.
Could you please try to disable it, clear cache, check & feedback.
Thanks!

[2018-10-16 16:01] itroom-agence opened #11036 "Bug d'ajout au panier"
| Questions     | Answers
| ------------- | -------------------------------------------------------
| Branch?       | develop / 1.7.x
| Description?  | Sur une page produit, lorsque l'on clique sur le bouton d'ajout au panier (avant que la page soit complètement chargée et que le javascript de la génération du pop-up panier soit chargé) nous sommes redirigé vers le panier dans lequel notre produit

[2018-10-16 16:01] kodarco commented on #11014
No luck, got the same exception

[2018-10-16 16:09] khouloudbelguith commented on #11036
Hi @itroom-agence,

Is it the same issue reported here: #10873?
Thanks!

[2018-10-16 16:11] khouloudbelguith commented on #11014
@kodarco, have you any others module related to the Tag?
Because in my local I did not manage to reproduce any issue with the file that provided to me.

[2018-10-16 16:58] khouloudbelguith commented on #10319
Hi @marionf,

The issue persists again in the Branch 1.7.5.x.
https://drive.google.com/file/d/1ThPzOmCU5k2TrQikRA1_b_9NYzCyn0KF/view
Thanks!

[2018-10-16 17:06] CArlvJ1N0N8 commented on #10953
Hello,

It seems we have the same issue with the default prestashop theme.
Can you test it on your side?

Thanks,

Carl

[2018-10-16 17:16] CArlvJ1N0N8 commented on #10954
In order to have the free shipping option for orders above 75 $ i have used following instructions

For free shipping, I recommend doing the following (taken from the module documentation, you can ignore "Canada" zone parts if you don't need to restrict it to just Canada):

1. Create a new zone called "Canada" (International > Locations > Zones menu).
2. Edit the country "Canada" and change its zo

[2018-10-16 17:16] kodarco commented on #11014
Ok, I've cloned the website to a subdirectory so I can disable stuff. First I changed theme to default, then I disabled all modules - all modules manually one by one, I also disabled all overrides. And no luck, I'm getting exactly the same error.
I can give you credentials to this test site so you can see for yourself.

We also have problem with secure key I don't know if it's related, I'm working

[2018-10-16 17:17] CArlvJ1N0N8 commented on #10258
Hello,

Do we have any progress in this discussion?

I am still wondering if i would do the corrections on my side and walk away from the standard prestashop version...

Thanks,

Carl

[2018-10-16 17:18] sarjon opened #11038 "Configurable debug mode"
**Is your feature request related to a problem? Please describe.**
Its a common need to debug issue in production shop. Since a lot of merchant dont have multiple environments (and if they do, sometimes you still have to debug on live shop), developers providing support (and not only) have to be really careful when debugging problems on live shop.

It would be a nice feature to be able to enable D

[2018-10-16 17:19] CArlvJ1N0N8 commented on #10243
Sorry for the delay here is the requested information

server setup and configuration:  Debian9 Ngixn + php-fpm Php7
PHP error logs :
nothing
nginx  error log :
2018/10/11 06:36:34 [error] 19383#19383: *30460 open() "/home/live/web/easy-pharma.ca/public_html/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js" failed (2: No such file or directory), client: 142.44.160.129, server: www.ea

[2018-10-16 17:26] Bartos-Pol opened #11039 "ERROR /translations/cldr/datas/ "403 Forbidden ""
Hi,
Someone help with this problem?
At the store, all vat rates have been reduced from 23% to "no tax"

Log:
"GET /translations/cldr/datas/main/pl-PL/numbers.json HTTP/1.1" 403 "
"GET /translations/cldr/datas/supplemental/currencyData.json HTTP/1.1" 403
"GET /translations/cldr/datas/supplemental/plurals.json HTTP/1.1" 403
"GET /translations/cldr/datas/main/pl-PL/currencies.json HTTP/1.1" 403"
"GET

[2018-10-16 17:31] JirkaDeLucina commented on #11017
Hi,
please look here on my video screen capture, there is the bug:
https://www.useloom.com/share/0ec3a56828964f72a927a16f4ae9d8a9

Thank you very much.

[2018-10-16 22:39] SharakPL commented on #10962
Actually it was updated last time in 2015. It's been depreciated since December 2017 (release of first stable version of PhpSpreadsheet). Nevertheless it should replaced asap.

[2018-10-17 06:51] ur-ishoxs commented on #11007
Yes, you are right. This is an override from a third party module.
I’ve deactivated this module and now the debug mode works correct.
I'll send you screenshots of the problem I have, if I want to change the status of an order.

Thanks.
Uwe

Von: khouloudbelguith [mailto:notifications@github.com]
Gesendet: Dienstag, 16. Oktober 2018 17:30
An: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc

[2018-10-17 06:51] ur-ishoxs commented on #11007
![screen_debug-mode_backend_change-order-status-1](https://user-images.githubusercontent.com/44157898/47067496-dc651f80-d1e9-11e8-91be-8353ff146037.jpg)
![screen_debug-mode_backend_change-order-status-2](https://user-images.githubusercontent.com/44157898/47067497-dc651f80-d1e9-11e8-81c0-8ddd68833fa5.jpg)
![screen_debug-mode_backend_change-order-status-3](https://user-images.githubusercontent.com/4

[2018-10-17 07:17] febestore commented on #10739
Hey,
I can't do this. I have too many external connections with all shops. I need to keep multistore on.
Anyway if it's a multistore issue it should be fixed anyway, doesn't it?

[2018-10-17 07:19] marionf commented on #10319
@khouloudbelguith
I can't reproduce it, what is your browser ?

[2018-10-17 07:30] khouloudbelguith commented on #10319
Hi @marionf,

It is Google Chrome Version 69.0.3497.81.
Thanks!

[2018-10-17 07:32] itroom-agence commented on #11036
Hi @khouloudbelguith,

No it's not the same issue.

[2018-10-17 07:34] khouloudbelguith commented on #11039
Hi @Bartos-Pol,

Thanks for your report.
Could you please try to re-import the Poland package.
You need to navigate to the BO => International => Localization => Import a Poland localization pack, clear cache, check & feedback.
Thanks!

[2018-10-17 07:39] khouloudbelguith commented on #10739
Hi @febestore,

I'm not sure that the problem is a multistore issue.
Because in my local, I did not manage to reproduce the issue with multistore context enabled / multistore context disabled.
Could you please provide me the credentials of your shop Backend to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2018-10-17 07:42] GuimDotCom commented on #11029
Hi @khouloudbelguith,
I've disabled this module, clear cache, and problem always here...

[2018-10-17 07:42] febestore commented on #10739
That's great. I'm sending You mail :)

[2018-10-17 07:52] Bartos-Pol commented on #11039
Hi,
I am re-importing the package and adding only VAT EU for virtual products, I do not use the cache in the store but I cleaned it anyway.
Unfortunately, this did not solve the problem, you still can not change the VAT rate.

I checked on a different store PS 1.7.4.3 and there are the same mistakes but a tax change is possible.

Store hosted on VPS OVH / PHP 7.0/ Apache 2.4

[2018-10-17 08:03] #10474 closed, assigned to nobody

[2018-10-17 08:06] jolelievre opened #11040 "The _legacy_link feature is really long to load and needs optimization"
**Is your feature request related to a problem? Please describe.**
Since the merge of the _legacy_link feature the load takes 1 additional second because of the loading of all yaml routing files

**Describe the solution you'd like**
Add a cache to this feature to avoid the call of `Router::getRouteCollection` at each call at least in prod environment

**Describe alternatives you've considered**
A

[2018-10-17 08:06] jolelievre commented on #11040
Fixed by https://github.com/PrestaShop/PrestaShop/pull/11035

[2018-10-17 08:07] Prestaworks commented on #9667
This issue is also present in 1.7.4.2
When the option to hide unavailable combinations is active, the unavailable options are not removed from the dropdown.

[2018-10-17 08:08] khouloudbelguith commented on #11007
Hi @ur-ishoxs,
Thanks for your feedback.
Could you please disable the PayPal module, clear cache, check & feedback.
Thanks!

[2018-10-17 08:15] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Could you please Navigate to the BO => Shop Parameters => Traffic & SEO and provide a screenshot of the SCHEMA OF URLS.
![image](https://user-images.githubusercontent.com/16067358/47072066-8c8c5580-d1f5-11e8-88ec-7a81af16c08e.png)
Thanks!

[2018-10-17 08:21] GuimDotCom commented on #11029
![routes](https://user-images.githubusercontent.com/40210120/47072470-5d2a1880-d1f6-11e8-9352-af1f7078d3b1.png)

[2018-10-17 08:23] tlhuillier opened #11041 "Add ability to remove anchor from product link when using URL smarty helper function"
When creating a product link (with product attribute) from the Smarty helper function `url`, it is not possible to define wether or not to add the anchor at the end or the URL.
`https://your-website.com/cat/1-1-product.html#/product-attribute`

It is possible to do so when using directly  the instance of `Link` object, but it's deprecated.

We should add the anchor parameter to the `url` Smarty he

[2018-10-17 08:27] marionf commented on #11026
If you disable "available for order" in options tab, it's because you don't want your product to be purchased not because it is out of stock.
If the product is out of stock and you want it to be purchased, you allow orders when out of stock.
If the product is out of stock and you don't want it to be purchased, you disallow order when out of stock and your customer can be alerted when the product i

[2018-10-17 08:27] #11026 closed, assigned to nobody

[2018-10-17 08:30] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Can you change the SCHEMA OF URLS to the default Shema provided by PrestaShop?
Like described in this screenshot:
![image](https://user-images.githubusercontent.com/16067358/47073013-9911ad80-d1f7-11e8-98ce-f1325816b16b.png)
Thanks!

[2018-10-17 08:31] ur-ishoxs commented on #11007
Hi,

wow – this solve the problem.
I have done manual update for the Paypal module, hope it works now correctly.

Thank you very much.
Ticket can be closed.

Best regards,
Uwe

Von: khouloudbelguith [mailto:notifications@github.com]
Gesendet: Mittwoch, 17. Oktober 2018 10:09
An: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Rinkens, Uwe <uwe.rinkens@ishoxs.com>; Mention <mention@norepl

[2018-10-17 08:35] matks commented on #11038
Makes sense 👍

[2018-10-17 08:35] centoasa commented on #11026
If I don't want my product will be purchased, in option I disable "available for order" (email alert is a little useful).
But, as in my case, my company produce labels and wax ribbon for label printer, maybe useful allow order (backorder) by customers or they have email alert when product back in stock, and they can complete order.

[2018-10-17 08:36] khouloudbelguith commented on #10739
Hi @febestore,

I attached a video record.
https://drive.google.com/file/d/1SzeSJVLInkARlr08WGjU44f2P16hakAH/view
Thanks to check & feedback.

[2018-10-17 08:44] khouloudbelguith commented on #11007
Hi @ur-ishoxs,

You are welcome!
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-17 08:44] #11007 closed, assigned to nobody

[2018-10-17 08:45] marionf opened #11042 "Bad display with modal"
**Describe the bug**
Modal are hidden under the header in differents pages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules catalog or Catalog > Product
2. Click on Install a module or select many products and click on bulk action > duplicate
3. See the modal

**Screenshots**

![capture d ecran_443](https://user-images.githubusercontent.com/13449658/47073938-a7f95f80-d

[2018-10-17 08:50] marionf commented on #10319
I have the same version and can't reproduce

[2018-10-17 09:06] #10983 closed, assigned to nobody

[2018-10-17 09:10] khouloudbelguith commented on #10319
@marionf, I have this issue only if I select a category in product page list.
![image](https://user-images.githubusercontent.com/16067358/47075636-3f13e680-d1fd-11e8-9e73-f66f9fbdf305.png)
Thanks!

[2018-10-17 09:12] khouloudbelguith commented on #11041
Hi @tlhuillier,

Thanks for your report.
@eternoendless, @colinegin  @PrestaShop/prestashop-core-developers what do you think of his suggestion.
Thanks!

[2018-10-17 09:13] marionf commented on #10319
Yes, that's what I tried

[2018-10-17 09:21] febestore commented on #10739
Yes, default carrier is set, but adding when You add a product to the shopping cart there is information about free shipping - that's what I want to get rid off.
Is there a solution?

[2018-10-17 09:29] khouloudbelguith commented on #10319
Hi @marionf,

You need to click on the reorder button, before selecting a product.
![image](https://user-images.githubusercontent.com/16067358/47076811-e5f98200-d1ff-11e8-871d-c492685e5f9f.png)
This button is displayed just for the first time.
Thanks!

[2018-10-17 09:36] khouloudbelguith commented on #11017
Hi @JirkaDeLucina,

Thanks to disable the `dpcz` module, clear cache, check & feedback.
Thanks!

[2018-10-17 09:38] LinkOfLight opened #11046 "HTTPS ERROR"
**Describe the bug**
when i go to actívate https in a fresh instalation of prestashop 1.7.3 get this

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'configuration'
2. Click on 'check ssl'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/9163980/47077396-2279ad80-d201-11e8-86f1

[2018-10-17 09:38] khouloudbelguith commented on #10243
Hi @CArlvJ1N0N8,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-10-17 09:44] khouloudbelguith commented on #11014
Hi @kodarco,

It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2018-10-17 09:54] khouloudbelguith commented on #11046
Hi @LinkOfLight,

If you own an SSL certificate for your shop's domain name, you can activate SSL encryption (https://) for customer account identification and order processing.
you need to check your host about this issue.
Thanks to check with them & feedback.

[2018-10-17 09:58] LinkOfLight commented on #11046
if u can see i have the certificates and i have activates, have 2 more shops in this hosting and i dont have any problema
![image](https://user-images.githubusercontent.com/9163980/47078595-f01d7f80-d203-11e8-97af-31c7601d821d.png)

[2018-10-17 10:10] marionf commented on #10319
Oh yes, thank you I can reproduce :)

[2018-10-17 10:11] khouloudbelguith commented on #11046
@LinkOfLight,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/

[2018-10-17 10:11] #10683 closed, assigned to CaptainYouz

[2018-10-17 10:23] akorsonsky opened #11047 "can't add product on prestashop 1.7.4.1"
I'm anable to add product from yesterday. i don't do something on my prestashop. i can't find the problem

When i add the product in the back office i save it, he say me ok in green then i can't see the product in the product list.

I check the index and reindex and he say me ok 72/72

but in my table i have 73 lines.

The product i added is in the database, the reference is not stored as i give i

[2018-10-17 10:29] khouloudbelguith commented on #11047
Hi @akorsonsky,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2018-10-17 10:42] khouloudbelguith commented on #11036
Hi @itroom-agence,

Thanks for the video record.
I manage to reproduce the issue, we are redirected to an empty shopping cart.
It is difficult to reproduce the issue, The "Add to cart" button is not fully loaded => clicking on it => error => like in the video record.
@marionf, what do you think?
Thanks!

[2018-10-17 10:50] Bartos-Pol commented on #11039
Hi,
I have solve the case :)
I solved the tax problem, the error came from the store sync with MsSql and 23% is now work on shop.
The errors in php and apache still there!

[2018-10-17 10:58] Quetzacoalt91 commented on #11042
This is caused by this freshly merged PR https://github.com/PrestaShop/PrestaShop/pull/10436

[2018-10-17 11:04] khouloudbelguith commented on #11042
Hi @marionf,

The same issue happens in the symfony pages.
If we click on the "Setting" icon => Sow SQL query => the modal is behind the header.
Product page:
![image](https://user-images.githubusercontent.com/16067358/47082161-0bd95380-d20d-11e8-960c-dbe18375775f.png)
SEO & URLs page
![image](https://user-images.githubusercontent.com/16067358/47082189-1dbaf680-d20d-11e8-9f4e-555553a20644.png)
Tha

[2018-10-17 11:07] LinkOfLight commented on #11046
Fixed, i reinstall prestashop and actívate ssl before change the admin directory name

[2018-10-17 11:10] nobodyelse84 commented on #11020
Found the problem and risolve it: in the modules folder, I found two app that annoyed the structure:
<img width="410" alt="schermata 2018-10-17 alle 13 03 26" src="https://user-images.githubusercontent.com/44086265/47082486-fb75a880-d20d-11e8-8e35-0a5113b6432e.png">

Just disabled it and now everything it works perfectly.
Thanks!

[2018-10-17 11:14] khouloudbelguith commented on #11039
Hi @Bartos-Pol,

In Shop Parameters -> SEO &URL, if you switch "Disable apache mod security" to "Yes", the errors in PHP and apache still there?
Thanks!

[2018-10-17 11:15] khouloudbelguith commented on #11020
Hi @nobodyelse84,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-17 11:15] #11020 closed, assigned to nobody

[2018-10-17 11:19] khouloudbelguith commented on #11046
Hi @LinkOfLight,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-17 11:19] #11046 closed, assigned to nobody

[2018-10-17 11:23] unicomprocom opened #11048 "Cannot delete product combinations with prestashop 1.7.4.2"
I Cannot delete product combinations with version 1.7.4.2

When I debug the javascript the server returns the following:
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>403 Forbidden</title>
</head><body>
<h1>Forbidden</h1>
<p>You don't have permission to access /adminxxxxxxxx/index.php/attribute/110
on this server.<br />
</p>
</body></html>

VM6683:1 Uncaught SyntaxError: U

[2018-10-17 11:29] khouloudbelguith commented on #10953
Hi @CArlvJ1N0N8,

I attached a video record.
https://drive.google.com/file/d/1sdgJHDBQp8a_sgKPloT8hUBGlfJMsonZ/view
Thanks to check & feedback.

[2018-10-17 11:31] khouloudbelguith commented on #11048
Hi @wajingdev,

It is a server issue permission.
You need to check your host about this issue.
Thanks to check with them & feedback.

[2018-10-17 11:36] Bartos-Pol commented on #11039
Hi @khouloudbelguith,
I have the switch "Disable Apache mod_security" set  to "No" and the errors have disappeared 👍 funny :)
I had to turn this option off before as I was looking for a solution.
I will watch for a few days whether these errors will appear.

Thanks!

[2018-10-17 11:53] #10825 closed, assigned to nobody

[2018-10-17 12:01] damiweb opened #11050 "Default value should be set to 0 for arithmetic operation"
https://github.com/PrestaShop/PrestaShop/blob/5bb2a6c21c5384f1d738bd433c69068a29247b6d/themes/default-bootstrap/product.tpl#L730-L731

Default value should be set to 0 for arithmetic operation:

<pre><code class="language-smarty">
{addJsDef productPriceTaxExcluded=($product->getPriceWithoutReduct(true)|default:0 - $product->ecotax)|floatval}
{addJsDef productPriceTaxIncluded=($product->getPriceWit

[2018-10-17 12:07] marionf opened #11051 "Exception on migrated emails page"
**Describe the bug**
Exception on migrated emails page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Email
2. Click on Select all
3. Click on bulk action > delete all
4. See error

**Screenshots**
![capture d ecran_446](https://user-images.githubusercontent.com/13449658/47085149-fe749700-d215-11e8-9a41-3ffa0e9322e0.png)

**Additionnal information**
PrestaShop ve

[2018-10-17 12:15] marionf opened #11052 "Geolocation isn't working as before"
**Describe the bug**
Following this PR #9441 geolocation isn't working as before

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization > Geolocation
2. Enable Geolocation by ip address
3. Select "visitors cannot see your catalog" for "Geolocation behavior for restricted countries" and "Geolocation behavior for other countires"
4. Select only Afghanistan
5. You ca

[2018-10-17 12:55] LSClaire commented on #10833
Still no luck with that upgrade! :( :(

[2018-10-17 13:15] marionf commented on #11052
It works with a remote server issue is just in localhost, so I close it

[2018-10-17 13:15] #11052 closed, assigned to nobody

[2018-10-17 13:15] khouloudbelguith commented on #11039
Hi @Bartos-Pol,

Since it fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-10-17 13:15] #11039 closed, assigned to nobody

[2018-10-17 13:19] khouloudbelguith commented on #11050
Hi @damiweb,
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6): the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.
Thanks!

[2018-10-17 13:21] #11050 closed, assigned to nobody

[2018-10-17 13:39] khouloudbelguith commented on #10739
Hi @febestore,

Thanks for this clarifications.
I manage to reproduce the issue with the last version 1.7.4.3.
Steps to reproduce the issue:
1- there are no carriers in the shop
![image](https://user-images.githubusercontent.com/16067358/47090058-5dd8a400-d222-11e8-8875-aff40d7c8f91.png)
2- Navigate to FO
3- Add some products to the cart => process to checkout
4- In the third step: an alert is dis

[2018-10-17 14:21] marionf commented on #10762
@rGaillard explained me this :
In any case, there will always be a step where you will not be able to check the stock, for example on the payment provider's page
Adding an ajax check at the click of the button may slow down the process for the merchant's customer

[2018-10-17 14:30] unicomprocom commented on #11048
Thank you for response but i have this problem after prestashop migration , if we pick this url  /adminpresta/index.php/attribute/110 "with another prestashop website that does not contain this problem , we have also this error "The server returned a "405 Method Not Allowed"." I think that the problem is why after delete combinaison it try to go to this url.

[2018-10-17 14:35] khouloudbelguith commented on #10954
Hi @CArlvJ1N0N8,

Yes, you are right, Price Ranges takes into account the taxes.
![image](https://user-images.githubusercontent.com/16067358/47093698-063e3680-d22a-11e8-9d2a-39314079b515.png)
![image](https://user-images.githubusercontent.com/16067358/47093987-98ded580-d22a-11e8-8e3f-92499f7d9de8.png)
@marion what do you think.
It could be an improvement issue.
Thanks!

[2018-10-17 14:43] matks commented on #10910
@eternoendless @mickaelandrieu I ping you again
If you dont deliver feedback, I'll consider it an approval 😄

[2018-10-17 14:44] matks commented on #10910
If we accept this feature, we'll be able to handle nicely [this issue](https://github.com/PrestaShop/PrestaShop/pull/10916#pullrequestreview-164751953).

[2018-10-17 15:04] khouloudbelguith commented on #11048
Hi @wajingdev,

What is the exact previous version Prestashop did you use before the upgrade?
What is the exact version of the 1-click upgrade?
Thanks!

[2018-10-17 15:18] CArlvJ1N0N8 commented on #10954
Please be aware that the second screenshot with Free shipping starts at 75  is not working on our side.

That's the reason why we have added the ranges as shown in the first screenshot.

There is a work around for the amount being tax included
"I've encountered this before, please try the following (I've only tested this on previous versions of PS, so make backups of the two files before modifying

[2018-10-17 15:32] Bonobomagno opened #11053 "Use customer token instead of global token for webservice auth"
**Is your feature request related to a problem? Please describe.**
Actually an user cant make any stateless action. In fact webservice  token is an backoffice token, that simulate an admin. So every request will include the "admin" token when using webservice.
But if you have an app, you must insert this token inside the app, making it not more secure.

**Describe the solution you'd like**
The tok

[2018-10-17 15:47] khouloudbelguith opened #11054 "Filter by Size - Files Page"
**Describe the bug**
In the files page, when we try to filter by size, the filter is NOK.
=> No records found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Files
2. In files page, add at least two files
3. Try to filter by size=> No records found

**Screenshots**
https://drive.google.com/file/d/1aFPudNh5W0ZqMUJy5h_1oBvnIkUlkRzH/view

**Additionnal information**
Prest

[2018-10-17 15:50] marionf commented on #11054
@khouloudbelguith

It works for me

![capture d ecran_459](https://user-images.githubusercontent.com/13449658/47099202-16a7de80-d235-11e8-9f3d-8e5f76681ce8.png)

![capture d ecran_460](https://user-images.githubusercontent.com/13449658/47099207-19a2cf00-d235-11e8-817b-8ae3be57c97a.png)

[2018-10-17 15:50] khouloudbelguith commented on #11053
Hi @Bonobomagno,

Thanks for your improvement.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think of his suggestion?
Thanks!

[2018-10-17 15:52] khouloudbelguith commented on #11054
Hi @marion, it is not the sort action, it is the filter action.
![image](https://user-images.githubusercontent.com/16067358/47099367-6dadb380-d235-11e8-945c-d9121ab30706.png)
Thanks!

[2018-10-17 15:56] dgtn-va commented on #10869
The theme's author can't help. I checked: issue comes from PrestaShop, since there is always the problem on the "classic" theme.
Upgrade 1.7.4.2 to 1.7.4.3 has solved faceted search GUI issue from back-office, but nothing more.
I give up, I've too many bugs to try to fixe and I had to make choices... Sincerly, I've never "play" with such a buggy CMS.

Thanks again to have tried to solve the proble

[2018-10-17 15:56] marionf commented on #11054
It works if you enter an integer but not a decimal number or the exact value with the "k"

![capture d ecran_461](https://user-images.githubusercontent.com/13449658/47099612-f4629080-d235-11e8-82de-2757585902bb.png)

[2018-10-17 15:59] #10871 closed, assigned to nobody

[2018-10-17 16:09] khouloudbelguith commented on #10869
Hi @fujitsuDev,

Despite our several trials, we could not reproduce your issue with the provided information.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-17 16:09] #10869 closed, assigned to nobody

[2018-10-17 16:15] matks commented on #10559
PAUSE: Waiting for Product input 😄

[2018-10-17 16:19] matks commented on #10430
@rokaszygmantas we need to to the 2nd PR for https://github.com/PrestaShop/PrestaShop/pull/10120 as there are feedbacks to handle
and then we have to pass QA validation that we skipped for PR 1 first 😉

[2018-10-17 16:32] khouloudbelguith commented on #10954
Hi @CArlvJ1N0N8,

Below are different ways to help us to add this improvement:
- If you found a module that solves the issue, please add a comment with a link to it so it is possible to share this knowledge with other impacted users
- If this is critical for your business but you don't have developer skills, please consider hiring a freelancer or an agency
- If you are a developer, you can open a

[2018-10-17 16:59] Lakhan79 commented on #11047
Hello There,

I also have the same issue, please resolve it.

here are the error details

(1/1) ContextErrorExceptionNotice: Undefined index: category
--
in c9007e0447135bf7dfaa041510852672170c35d6_2.file.product.tpl.php line 635
at Block_21441199925bc769578cdaf4_25128392->callBlock(object(SmartyDevTemplate))in smarty_internal_runtime_inheritance.php line 247
at Smarty_Internal_Runtime_Inheritance

[2018-10-17 17:26] khouloudbelguith commented on #11047
Hi @Lakhan79,

What is the exact version PrestaShop did you use?
Did you use the default theme provided by Prestashop?
Thanks!

[2018-10-17 19:16] Casper-O commented on #16983
Since new min version is 1.7.1.0 I can not help you. Also i do not see what have changed since i reported this over 2 years ago and i have no recall of what I found out about this..

[2018-10-17 19:47] Thinkup commented on #9540
Any news??

[2018-10-18 03:25] k2165 commented on #10895
Hi @khouloudbelguith :
I want to ask the cache is in browser or website?
But,I have tried both of them.
And  it's no change in results.

thanks!

[2018-10-18 03:37] k2165 commented on #10895
Hi @idnovate :
I find a folder name relatedproduct and rename it.
I can successfully click on the Modules & Services test for the first time.
But the second time is fail.

thanks !

[2018-10-18 04:00] k2165 commented on #10895
It's the log in error log.

[15-Oct-2018 10:44:02 Asia/Taipei] PHP Warning:  call_user_func() expects parameter 1 to be a valid callback, class 'smush' not found in /projectname/modules/prestaspeed/smushit.inc.php on line 72
[18-Oct-2018 09:22:40 Asia/Taipei] PHP Notice:  ob_flush(): failed to flush buffer. No buffer to flush in /project/modules/cronjobs/cronjobs.php on line 287

And it's the mess

[2018-10-18 05:30] pratikjivani commented on #10264
Thanks @Xaconi it worked!!

[2018-10-18 07:37] khouloudbelguith commented on #10895
Hi @k2165,

You need to disable also the ppb module.
You can rename the ppb folder into the folder Project_folder/modules/
Thanks!

[2018-10-18 07:38] khouloudbelguith commented on #9540
Hi @Thinkup,

Sorry not yet.
Thanks for your understanding!

[2018-10-18 07:58] sedll7809 opened #11057 "Error : please install composer. Then run "php composer.phar install""
when I first  visited my server "http://192.168.0.202:6080/PrestaShop/install-dev/index.php" to install,
but prompt please install composer. Then run "php composer.phar install". I have already install composer. I use  command "composer -V" can see  version.

[2018-10-18 08:08] khouloudbelguith commented on #11057
Hi @sedll7809,

Did you clone the Project Prestashop from the [official repository](https://github.com/PrestaShop/PrestaShop)?
To download composer, you can follow this link:
https://getcomposer.org/download/
You need to run the 4 commands:
[code]
 before running `php composer.phar install`
Thanks to check & feedbck.
PS: this is not the stable version, it is the dev version.
For the stable version

[2018-10-18 08:18] marionf commented on #10264
Would someone be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2018-10-18 08:21] febestore commented on #10739
Hi, all carriers are set. The thing is - its available after You write address and zip-code.
Is it possible to make default carrier to be displayed all the time?

I'm sending You new email with recording

[2018-10-18 08:36] Hlavtox opened #11059 "Invalid order->total_discounts after deleteting voucher from backoffice"
Sometimes, when you delete a voucher from an order in back office, you will get an exception and the order gets messed up.

**How to reproduce:**
- Rouding setup: (mathematically up (default), each line rounding, zero decimal places.
- Make a product with price for example 5800
- Make a cart rule: 5% discount with tax for all orders
- Go to admin, delete the voucher, exception

**Cause:**
Total di

[2018-10-18 09:13] khouloudbelguith commented on #11059
Hi @Hlavtox,

I did not manage to reproduce the issue with the last version 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1mXcGwzr_2z5ft9RroLKm_9zvTUO_be3P/view
Thanks to check & feedback.

[2018-10-18 09:21] khouloudbelguith commented on #10739
Hi @febestore,

This issue should be fixed in this ticket: #9688
Thanks!

[2018-10-18 09:24] khouloudbelguith commented on #10432
Hi @mortenhartvig,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-10-18 09:24] #10432 closed, assigned to nobody

[2018-10-18 09:25] khouloudbelguith commented on #10439
Hi @willy2m,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-10-18 09:25] #10439 closed, assigned to nobody

[2018-10-18 09:27] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-10-18 09:27] #10389 closed, assigned to nobody

[2018-10-18 09:27] khouloudbelguith commented on #10442
Hi @jasonchemama,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-10-18 09:27] #10442 closed, assigned to nobody

[2018-10-18 09:29] khouloudbelguith commented on #10178
Hi @Tominjsh, this is the solution https://github.com/PrestaShop/PrestaShop/pull/9390 applied in the next release 1.7.5.0.
Thanks!

[2018-10-18 09:31] centoasa opened #11060 "On backorder (paid) --> lost"
Prestashop 1.7.4.3
I've upgrade my prestashop from 1.6.x release, and I've on order status 2 similar "On backorder" so I've delete 1 of 2 (id=13)
Now I've working id=9 of "On backorder (paid) "
Sometimes, when customer place an order and product is out of stock, prestashop doesn't add automatically the status "On backorder (paid) ": why?
How can I restore "On backorder (paid) " when a new order ha

[2018-10-18 09:35] khouloudbelguith commented on #11060
Hi @centoasa,

How did you delete the order? manually from the database?
Thanks!

[2018-10-18 09:38] #10809 closed, assigned to nobody

[2018-10-18 09:43] BilalDr commented on #10576
You can check specifications : [here ](https://docs.google.com/document/d/1krTRDT40MOpAxePGNap89hpAXFTdR2dIe2t3CQ0e1Uc/edit)

[2018-10-18 09:54] marionf commented on #10343
It's fixed on 1.7.5.x

[2018-10-18 09:54] #10343 closed, assigned to PierreRambaud

[2018-10-18 09:54] marionf commented on #10168
It's fixed on 1.7.5.x

[2018-10-18 09:54] #10168 closed, assigned to PierreRambaud

[2018-10-18 09:56] khouloudbelguith opened #11061 "[BOOM-3243] - Default units are overwritten by a location pack import"
**Describe the bug**
When I import a location pack, it continues to overwrite the units of measure defined by the merchant

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Bo => International
2. shop in French with Units of the International Metric System
3. adding the Japan Pack => all the unites became in Japan

**Screenshots**
If applicable, add screenshots or screenrecords to help e

[2018-10-18 10:02] marionf commented on #11061
@khouloudbelguith

This is a normal behavior if you choose to import units

![capture d ecran_462](https://user-images.githubusercontent.com/13449658/47147051-a5683a00-d2cd-11e8-8e54-4d77cc674401.png)

But the behavior can be improved as suggested by Alexandra in the [original ticket](http://forge.prestashop.com/browse/BOOM-335)

[2018-10-18 10:06] k2165 commented on #10895
Hi @khouloudbelguith :
I rename it and it appear this error:
*ERROR* 	2018/10/18 - 18:04:23: Table 'kaohomsm_ps4.ps_extratabsproextracontents' doesn't exist<br /><br /><pre>SELECT id_extracontents FROM `ps_extratabsproextracontents` AS tab WHERE (tab.`id_product` = 2364 AND tab.`id_tab` = 1)</pre> at line 791 in file classes/db/Db.php

[2018-10-18 10:08] #10990 closed, assigned to nobody

[2018-10-18 10:14] khouloudbelguith commented on #10895
@k2165, it is a problem from a custom module "extratabsproextracontents".
You need to disable it.
Thanks!

[2018-10-18 10:26] k2165 commented on #10895
Hi @khouloudbelguith :
I just have extratabspro module ,and I disable.
But that makes me unable to use debug mode..
thanks!

[2018-10-18 10:30] centoasa commented on #11060
manually from database (because was a duplicate)

[2018-10-18 10:42] khouloudbelguith commented on #10895
Hi @k2165,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2018-10-18 10:48] k2165 commented on #10895
Hi @khouloudbelguith :
Ok! I will try it.
thank you for your response.

[2018-10-18 10:48] khouloudbelguith commented on #11060
Hi @centoasa,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2018-10-18 10:52] centoasa commented on #11060
This is quite impossible, because this happens only for some orders!
My question is: it's possible restore/apply default behaviour when customer place an order and product is out of stock, so the order have the status "On backorder" ?

[2018-10-18 10:56] khouloudbelguith commented on #11060
Hi @centoasa,

I upgrade from 1.6.1.22 to 1.7.4.3 with 1-click upgrade v4.2.0, but I did not manage to reproduce the issue.
It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.4.3 here: https://github.com/PrestaShop/PrestaSh

[2018-10-18 11:03] centoasa commented on #11060
ok, but I think there's a call from some script that teach prestashop to change status to id=??? when order have some product out of stock

[2018-10-18 11:08] khouloudbelguith commented on #11060
Hi @centoasa,

You can follow this link: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.3/classes/PaymentModule.php#L741
Thanks!

[2018-10-18 11:10] Hlavtox commented on #11059
Hi @khouloudbelguith :)

I just managed to reproduce it on 1.7.3.2.

Can you check your database values for the order and the voucher?

**Order:**
![order](https://user-images.githubusercontent.com/6097524/47150518-195b1000-d2d7-11e8-9133-6e589de3e450.JPG)

**Voucher:**
![voucher](https://user-images.githubusercontent.com/6097524/47150522-1c560080-d2d7-11e8-9893-44cc7d40f376.JPG)

**Exception:**
!

[2018-10-18 11:33] khouloudbelguith commented on #11059
Hi @Hlavtox,

Thanks for this clarification ( The product should have a tax rule)
Steps to reproduce the issue:
1- Create a product
1.1 Price (tax incl.) = 435.95 €
1.2 Tax rule = 50% => Price (tax excl.) = 290.633333 €
2. Create a cart rule 5%
3. Add the last prduct to the cart => process checkout
4. Edit the order created
5. Delete the discount
6. see the error
![image](https://user-images.githu

[2018-10-18 12:15] Hlavtox opened #11062 "1.7 zero decimals still not solved!"
Since 1.7, decimal places stopped working.

Even if you set decimal places to zero, Prestashop still uses 2 decimals everywhere. The only solution is to manually edit the CLDR file.

**To Reproduce**
- Go to Preferences > General
- Set Number of decimals to 0
- Go to front and still see 2 decimal places

**Additionnal information**
PrestaShop version: 1.7 and upper
PHP version: 7.2

[2018-10-18 12:42] centoasa commented on #11060
@khouloudbelguith thank you so much for your very useful suggestions and faster reply!
restored on db id=12 on order_state table and made right translation in italian to "In attesa di rifornimento (non pagato)"

[2018-10-18 12:45] dennispw commented on #10017
Any update on this?

[2018-10-18 12:59] MathiasReker commented on #10984
Fixed here: https://github.com/PrestaShop/PrestaShop/pull/11055

[2018-10-18 13:00] khouloudbelguith commented on #11060
@centoasa, so the issue is fixed?

[2018-10-18 13:03] khouloudbelguith commented on #11062
Hi @Hlavtox,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10017
So, I close it.
Thanks!

[2018-10-18 13:03] #11062 closed, assigned to nobody

[2018-10-18 13:06] centoasa commented on #11060
@khouloudbelguith yes, fixed! You can close this.

[2018-10-18 13:08] khouloudbelguith commented on #11060
@centoasa, thanks for your feedback.
I close the issue, feel free to open, a new one when needed.
Thanks!

[2018-10-18 13:08] #11060 closed, assigned to nobody

[2018-10-18 13:26] ghost commented on #11038
Brilliant @sarjon ! So simple!

[2018-10-18 14:19] Peter4661 opened #11064 "sending order message returns 500 error"
Prestashop 1.7.4.3.
PHP 7.2

Sending order message returns 500 error.

See attached screen print debug on

![2018-10-18_16h10_42](https://user-images.githubusercontent.com/11147327/47160882-2a187f80-d2f1-11e8-91ba-6ceb791bc9c4.png)

[2018-10-18 14:22] khouloudbelguith commented on #11064
Hi @Peter4661,

This issue is occurred due to php-intl extension.
Could you please try to install it, it is required.
Thanks to check and feedback.

[2018-10-18 14:32] Peter4661 opened #11065 "1.7.4.3 Error with shopping cart"
Prestashop 1.7.4.3.
PHP 7.2

1/1) ContextErrorExceptionWarning: count(): Parameter must be an array or an object that implements Countable
--
in Cart.php line 61
at Cart->getPackageShippingCost(279, true, object(Country), null, 9)in Carrier.php line 748
at CarrierCore::getCarriersForOrder(9, array('3'), object(Cart), array())in Carrier.php line 1540
at CarrierCore::getAvailableCarrierList(object(P

[2018-10-18 14:34] khouloudbelguith commented on #11065
Hi @Peter4661,

Could you please add steps to reproduce the issue in a new comment.
Thanks!

[2018-10-18 14:40] Peter4661 opened #11067 "1.7.4.3. Frontoffice after selecting combination, returns to standard combination"
Prestashop 1.7.4.3.
PHP 7.2

Frontoffice: When selecting combination, within second system returns to standard combination.
Disabled all modules. No cache.

This behaviour cannot be reproduced on our DEV server

[2018-10-18 14:43] khouloudbelguith commented on #11067
Hi @Peter4661,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9667
So, I close it.
Thanks!

[2018-10-18 14:43] #11067 closed, assigned to nobody

[2018-10-18 14:50] Peter4661 commented on #11065
Customer complaint he did not recieve order confirmation.

We tried to reproduce it by placing order ourselves.

In last payment step, selecting payment method "bank transfer", 500 error when confirming order.

With debug, on putting product in shopping cart, did get result as shown above.

Order has been processed in backoffice. No order confirmation revieved.

[2018-10-18 15:02] Peter4661 commented on #11064
After installing php-intl, no issues

Thank you for you help.

In Prestashop  1.7.4 documentation, I could not find php-intl extension is requirement.

[2018-10-18 15:07] khouloudbelguith commented on #11064
Hi @Peter4661,

Since it is fixed.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-18 15:07] #11064 closed, assigned to nobody

[2018-10-18 15:07] Peter4661 commented on #11065
Issue solved after installing  php-intl extension!

[2018-10-18 15:08] Peter4661 commented on #11065
Backoffice alos now sends order messages correct!

[2018-10-18 15:08] khouloudbelguith commented on #11065
Hi @Peter4661,

Thanks for your feedback.
Since it is fixed.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-18 15:08] #11065 closed, assigned to nobody

[2018-10-18 15:40] #9909 closed, assigned to CaptainYouz

[2018-10-18 15:42] akorsonsky commented on #11047
it's a fresh installation i use and all was ok and yesterday all block here is the video of the problem i explain

https://www.youtube.com/watch?v=VP-BytvRfTc

[2018-10-18 15:59] khouloudbelguith commented on #11047
Hi @akorsonsky,

For the second issue, [I check the index and reindex and he says me ok 72/72 => but in my table, i have 73 lines.]: your product is disabled that's why is not indexed => you need to enable it to be indexed.
For the first issue, in the product details page, if you select the Home category, in the category list, the issue will be solved? the product will be displayed in the list pag

[2018-10-18 16:36] velmDK commented on #9902
Hi,
I'm also waiting for a fix for this bug. This is very important feature.

greetings

[2018-10-18 16:53] peranderssjostrom commented on #10389
It seems that the table **PS_stock_available** and the field **reserved_quantity** is what I see in the listing but when I edit this field the original values are copied back when I do a refresh of the listing. I wonder where to edit? It's somewhere else I'll suppose.

[2018-10-18 16:56] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

You need to update the "product_quatity" column in the "ps_order_detail" table.
Thanks!

[2018-10-18 17:39] JavierEB commented on #10467
I have the same problem but I can not identify which third-party module is causing the problem, some trick or how to do it ... Thanks

[2018-10-18 18:44] peranderssjostrom commented on #10389
This was not the right place to edit I'm afraid. Something more is involved here.

[2018-10-18 18:50] CArlvJ1N0N8 commented on #10953
Hello,

Please close this issue since it is now working again.

But i don't what has been changed....

Thanks,

[2018-10-18 19:50] PierreRambaud commented on #10953
Thanks @CArlvJ1N0N8 for your feedbacks. Feel free to open a new issue if you need :)

[2018-10-18 19:50] #10953 closed, assigned to nobody

[2018-10-18 22:17] kpodemski commented on #10762
@marionf

i agree, but... maybe it would be a good idea to give merchants a choice, at this moment it is considered as bug by many people and unfortunately causing a lot of issues

[2018-10-19 01:31] sedll7809 commented on #11057
hi khouloudbelguith :
thanks, I have already download  stable version.thanks

[2018-10-19 01:31] #11057 closed, assigned to nobody

[2018-10-19 03:27] sedll7809 opened #11073 "install completed,but not open admin page"
**Describe the bug**
when I install PrestaShop  1.7.2.2  complete, but I  not open admin page ,  error:HTTP ERROR 500.
my admin page url : http://192.168.0.202:6080/PrestaShop/prestashop/admin/
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain you

[2018-10-19 05:24] sedll7809 commented on #11073
add error :
I add "admin/index.php " page php error.

Fatal error: Declaration of AdminDashboardControllerCore::setMedia() must be compatible with AdminControllerCore::setMedia($isNewTheme = false) in D:\xampp\htdocs\PrestaShop\prestashop\controllers\admin\AdminDashboardController.php on line 539

Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalErrorException: Compile Error: Declarati

[2018-10-19 06:15] stefanrvc opened #11074 "Large number of combinations error in product edit page"
#Hi,

we are running presta 7.4.3 (but bug was also in 7.4.2). We run it on IIS windows 2016 and PHP 7.2
The system ran fine until we imported about 80 product. We import products and combinations via the import tool. Each product has 110 productcombinations. When displayed on the frontend this works fine. However when we visit in the backend the productpage and click on the Combinations tab the s

[2018-10-19 07:40] khouloudbelguith commented on #11073
Hi @sedll7809,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically,

[2018-10-19 07:56] GuimDotCom commented on #11029
Hi @khouloudbelguith
I've tested this night with default route and problem is always the same, furthermore I've just got the same problem on a product without combination... Price at 0€ and no product available, and after browser refresh, all is good. This is a real problem for our customers.

[2018-10-19 07:58] khouloudbelguith commented on #11074
Hi @stefanrvc,

We are aware of this issue and we are working on it.
No, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2018-10-19 07:58] #11074 closed, assigned to nobody

[2018-10-19 08:01] khouloudbelguith commented on #11029
Hi @GuimDotCom,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-19 08:14] khouloudbelguith commented on #11057
Hi @sedll7809,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-10-19 08:22] khouloudbelguith commented on #10467
Hi @JavierEB,

You need to disable one by one, clear cache & check.
Thanks!

[2018-10-19 09:56] marionf opened #11077 "Change icon of drop down action for all migrated pages"
**Describe the bug**
Icon of drop down action should be like this on all migrated pages

![capture d ecran_473](https://user-images.githubusercontent.com/13449658/47211107-f727c780-d394-11e8-8ddb-820ce18470e6.png)

Instead of this:

![capture d ecran_471](https://user-images.githubusercontent.com/13449658/47211129-04dd4d00-d395-11e8-81ae-196527fd6cea.png)

We need to change it on pages already mig

[2018-10-19 10:15] Suisso opened #11079 "Problem/Bug with Ajax + Prestashop 1.7.4.2 + "Enter" key + Cart"
Hello,

I have big bug / problem with Ajax + Prestashop 1.7.4.2 + "Enter" key when updating the quantity in the Cart (see video attached)!

PS: I already control the "core.js", disable ajax in the shopping cart module, and even check the module "ps_shoppingcart" and I also tried to block the action with the "Enter" button while doing a custom.js but still same problem!

 
[presta_final_cart.zip](h

[2018-10-19 10:23] marionf opened #11080 "Move wheel button on migrated pages"
**Describe the bug**

On some migrated pages, the wheel button should be placed here:

![capture d ecran_472](https://user-images.githubusercontent.com/13449658/47212643-0a3c9680-d399-11e8-8050-405a933450f0.png)

We need to change it on pages already migrated :

SQL manager
Contact
SEO & URLs
Webservice
Logs
Email

@TristanLDD & @matks FYI

[2018-10-19 10:25] khouloudbelguith commented on #11079
Hi @Suisso,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9405 to solve the issue.
It is fixed in the next release 1.7.5.0.
Your ticket is a duplicate of #9841
So, I close it.
Thanks!

[2018-10-19 10:25] #11079 closed, assigned to nobody

[2018-10-19 10:25] khouloudbelguith commented on #11079
Duplicate of #9841

[2018-10-19 10:30] khouloudbelguith opened #11081 "Name of shop is wrong in the subjet of the email "Product out of stock" - Multishop -"
**Describe the bug**
Hi,

The problem is the name of the shop in the subject of the email "Product out of stock" when multishop is enabled.
=> Check the subject of this email => the name of the shop is incorrect => it is the name of the shop by default => NOK
**To Reproduce**
Steps to reproduce the behavior:
1- Install the module ps_emailalert
2- Enable the option out of stock
3- Enable multishop

[2018-10-19 10:55] khouloudbelguith opened #11082 "BO - Sort Addresses Brand => NOK"
**Describe the bug**
In the BO => Catalog => Brands page, when we try to sort the Addresses => it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:

1/ On back-office, go to Catalog > Brands & Suppliers
2/ Add a new a brand address
3/ Sort the list of addresses by any field (ID, Brand, First name, Last Name, City, ...)
=> the sort doesn't work => the page is refreshed.

**Screenshot

[2018-10-19 11:00] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

Do you need to edit the `reserved` quantity of some products?
Thanks!

[2018-10-19 11:05] matteolavaggi commented on #9956
^^ the 1.7.4 version of an eccomerce still COMPLETLY missing a sort setup :P this is a minor issue ! damn me and when i've started 2 project over prestashop ^^ its incredible

[2018-10-19 13:31] darkf3d3 opened #11083 "Add Emoji Support"
Actually with last version of PS1.7 it's still not possible to add emojis to products and categories, apart from the few supported by UTF-8 encoding.
I think in 2018 it's important having the possibility to add emoticon, in particular on meta descriptions and meta titles, because Google it's showing them also on SERP.

To do this it's needed to change utf8 encoding to utf8mb4:
https://mathiasbynen

[2018-10-19 13:36] khouloudbelguith commented on #11083
HI @darfk3d3,

Thanks for your suggestion.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think of his suggestion?
Thanks!

[2018-10-19 13:57] eternoendless commented on #11083
Hi @darfk3d3

We are aware of this issue. The problem is that utf8mb4 was added in [MySql 5.5.3](https://dev.mysql.com/doc/relnotes/mysql/5.5/en/news-5-5-3.html), while PrestaShop 1.7 must ensure compatibility with MySql 5.0 (see [System requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/)).

Unfortunately we cannot change this until the next major version of

[2018-10-19 14:14] khouloudbelguith commented on #9825
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11085 to fix the issue.

[2018-10-19 15:12] #9505 closed, assigned to tomlev

[2018-10-19 15:22] #9619 closed, assigned to nobody

[2018-10-19 15:23] #9950 closed, assigned to nobody

[2018-10-19 15:23] aziule opened #11086 "Canceled order + deleted shipping address assigned to a new, wrong customer"
**Describe the bug**
After canceling an order and deleting the client information, a new order was passed by a new customer, but the previously canceled order was assigned to the new customer, and the new customer sees a new shipping address being assigned to him and corresponding to the previously deleted customer's shipping address.

The steps described below are what happened on my live website

[2018-10-19 15:41] khouloudbelguith commented on #11086
Hi @Aziule,

Thanks for your report.
I did not manage to reproduce the issue with the last version 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1GUww7Ooeb9yHM9Aw0aiMQUHAXhooWLq0/view
Thanks to check & feedback.

[2018-10-19 15:46] khouloudbelguith opened #11088 "The button "Use the last registered format" doesn't work - Countries page"
**Describe the bug**
When we try to create a new country ( BO => International => Locations => Countries Tab), in the Address format the button "Use the last registered format" doesn't work, the Address format use the default format
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => International => Locations => Countries Tab
2. Create a new country C1 with Adress Format
2.1. firstna

[2018-10-19 16:14] mrsof commented on #15199
For me this problem come from [Expressmailing](https://github.com/PrestaShop/expressmailing/blob/master/expressmailing.php#L154)

[2018-10-19 17:03] peranderssjostrom commented on #10389
Yes, since all orders are delivered or canceled but I have still reserved parts. This happened at the migration. Something went wrong. It's not critical, only a bit irritating.

[2018-10-19 17:43] JavierEB commented on #15199
good thank you very much for your help, but that module I do not have it installed and I have never installed it ... I can not find the module that created that bit table "groupdiscount"

[2018-10-19 19:51] ghost opened #11090 "State/counties missing from UK"
**Describe the bug**
I try to import states/counties from UK like Yorkshire and others, but it's not working.

Are there any states available for UK?

I want to mention that I tried to import them having "english-gb" language active.

**Additionnal information**
PrestaShop version: 1.7.3.2
PHP version: 7.0.30

[2018-10-20 05:06] mrsof commented on #15199
Maybe you can try to find the plugin by running a recursive search comand in you modules directory...

https://stackoverflow.com/a/16957078/1458189

[2018-10-20 09:14] JirkaDeLucina commented on #11017
Hi,
thank you, you are right, proplem is in the module dpcz. Thank you very much.
JB

[2018-10-20 09:14] #11017 closed, assigned to nobody

[2018-10-20 09:38] fre2004 opened #11091 "'InvalidArgumentException' with message 'Invalid type - expected string, but got (double) "0.4"' in....."
Hello everyone,
when a user in a customer group with price reduction (eg. - 40%),
browse the shop online, he gets a blank page.

In erro_log i see:

PHP Fatal error:  Uncaught exception 'InvalidArgumentException' with message 'Invalid type - expected string, but got (double) "0.4"' in /home/.........

The file involved is: /vendor/prestashop/decimal/src/Number.php at line 66.
Here some server info