[2021-01-11 14:17] hibatallahAouadni commented on #22710
Hello @Argez

I tried with PS1.7.7.0 to create a product while "all shops" selected and generate combinations, all went successfully.
Then, when I try to edit the combinations quantity I got an exception thrown :sweat_smile:
So, I went to every shop and I added the combinations quantity and when I selected "all shops" all the combinations are well displayed, see the attached screen record below:

[2021-01-11 14:23] hibatallahAouadni commented on #22748
@jf-viguier Well then, I managed to reproduce your issue but let's ping the product team to see if it's a bug or an improvement :wink:

Ping @PrestaShop/product-team do you think what @jf-viguier suggest is a bug or an improvement? cause I see there's no error or exception thrown, so IMHO I think it's an improvement (to add the lang prefix) :sweat_smile:

[2021-01-11 14:33] hibatallahAouadni commented on #18606
Ping @PrestaShop/product-team friendly reminder :wink:

[2021-01-11 14:35] Ctek59 commented on #22767
Thank you for answer.

Limite de mémoire : 4096M
Temps maximal d'exécution : 360
Taille max. pour envoi de fichiers : 512M

[2021-01-11 14:53] Dar-us-Salam commented on #22758
Thank you for the response. Yes, I had uninstalled the module as it wasn't being used. I just reinstalled it and the errors went away and it says successfully updated but I still get stuck at the login screen: https://prnt.sc/wjxs3w . I couldn't figure it out even with the debug on, it doesn't give any errors nor could I find anything in the error_log. Any particular place I should look to resolve

[2021-01-11 14:58] #22344 closed, assigned to NeOMakinG, prestascott

[2021-01-11 15:36] atomiix commented on #22668
Hi, after more investigation, here is what I found:

When performing an upgrade using the 1-click upgrade module, to try to update to a 1.7.7.1 build, you should select the "Archive" channel. When doing so, the upgrade process complete but then, the Front Office doesn't work anymore. This is because some old native modules are still installed & enabled even though their 1.7.x version are installed

[2021-01-11 15:36] boxledev commented on #22754
I'm terribly sorry, in trying to reproduce the issue I noticed I had enabled the wrong setting in the Apply discount to settting under the actions tab. It was set to order instead of selected products. It now uses the correct discount rules. A bit counterintuitive to select products for a voucher and to have to go to the other tab to actually take that into account, but the mistake was mine.
Apolo

[2021-01-11 15:36] #22754 closed, assigned to nobody

[2021-01-11 15:38] idiamin777 opened #22769 "Can not access old orders after upgrade presta to 1.7.7."
Hello
I updated my Prestashop from 1.7.6 to 1.7.7.0 some 2 month ago and everything works fine.
now I cant see details of old orders and I will get the below error :

[code]

PrestaShop version: 1.7.7.0 (DK)
PHP version: 7.3

Seen other having problems and I added the hack unto copy/testshop and everything worked again - but on lifeshop I get this error when I try to access the BO Order.

Thanks -

[2021-01-11 15:47] hibatallahAouadni commented on #22769
Hello @idiamin777

Could you please edit your issue **following the provided template to submit a complete bug report**.
And your issue seems similar to this one #22386
Please check and feedback.

Thanks!

[2021-01-11 16:12] hibatallahAouadni commented on #22636
Hello @maofree

Could you please check this issue #22416
I think it's similar to yours :sweat_smile:

Thanks!

[2021-01-11 16:17] #22759 closed, assigned to nobody

[2021-01-11 16:25] raphael-jolimoi commented on #9998
We want to open our e-shop to several countries, this is going to be a real problem us.

[2021-01-11 16:43] hibatallahAouadni commented on #22416
Hello everyone,

Finally I reproduced it with PS1.7.7.0 and develop, see the attached screenshot below:

https://drive.google.com/file/d/1kerCmPxQkaJ-wuP6Hs-pMnLFTwVfYH9T/view

I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-01-11 16:44] maofree commented on #22636
Hi
I think it is a different thing

[2021-01-11 16:48] hibatallahAouadni commented on #18692
Hello @alfonsolr09

I'm really sorry but I have to close your issue :wink: cause it's a duplicate of #22416
As you can see while reproducing the issue mentionned above, I manage to reproduce your issue, see the attached screen record below:

https://drive.google.com/file/d/1kerCmPxQkaJ-wuP6Hs-pMnLFTwVfYH9T/view

So please subscribe to the issue mentionned above to get notification when the problem

[2021-01-11 16:48] #18692 closed, assigned to nobody

[2021-01-11 16:48] hibatallahAouadni commented on #18692
Duplicate of #22416

[2021-01-11 16:55] hibatallahAouadni commented on #22636
@maofree well I see no difference when I test my shop:

https://search.google.com/structured-data/testing-tool

![image](https://user-images.githubusercontent.com/23308427/104212816-e95b3280-5435-11eb-9d17-9cff647b9b97.png)

https://search.google.com/test/rich-results

![image](https://user-images.githubusercontent.com/23308427/104212856-f37d3100-5435-11eb-967e-5cdd002364bd.png)

Both links displa

[2021-01-11 17:00] hibatallahAouadni commented on #22754
@boxledev it's OK :sweat_smile:  everyone could be mistaken :wink:

[2021-01-11 17:03] hibatallahAouadni commented on #22758
Hello @Dar-us-Salam

Unfortunally I didn't manage to reproduce it, so I can't help anymore :confused:
If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/m

[2021-01-11 17:03] #22758 closed, assigned to nobody

[2021-01-11 17:06] hibatallahAouadni commented on #22767
Hello @Ctek59

Unfortunally I didn't manage to reproduce your issue with fresh install 1.7.7.0
Did you upgrade you shop lately? if so, could you please provide your previous version.

Thanks!

[2021-01-11 17:30] stamatisbreezer commented on #14595
1.7.7 version, I have the same problem in various locations in backoffice: "Price specification not found for currency: """

I am trying to set a new currency as default (AUD). When I make it active, and change tab to set as default, I shows "success" but it still uses the dummy-AUD as default. Then I am disabling the dummy and my default currency is EUR. Problem still persist.
The only way to ent

[2021-01-11 17:36] marionf commented on #22416
@hibatallahAouadni Is it a regression of the 1.7.7 ?

[2021-01-11 17:42] idiamin777 opened #22770 "Can not access old orders after upgrading from 1.7.6 yo 1.7.7."
#### Describe the bug

Upgrading to 1.7.7.0 went well some 2 month ago - now when I want to access old orders I get a fatal error

#### Expected behavior

The order should be seen for download or print

#### Steps to Reproduce

1. Go to order
2. Click on open order
3. See error page

**Screenshots**
![image](https://user-images.githubusercontent.com/69144740/104218062-7ef9c080-543c-11eb-82f2-f6b5f

[2021-01-11 17:44] idiamin777 commented on #22769
Thanks, I am a first time user, and just gave it a shot – it´s done now and looking good!

The issue   <https://github.com/PrestaShop/PrestaShop/issues/22386> #22386 did help on our testshop which has not all the newest orders.

Have a great day.

Fra: Hibatallah Aouadni <notifications@github.com>
Sendt: 11. januar 2021 16:48
Til: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: idiamin77

[2021-01-11 17:55] maofree commented on #22636
look at the first image at the top, you can see that ItemList is not that of breadcrumlist but that of product category module

[2021-01-11 18:07] maofree commented on #22636
the #22416 is present in the homepage just for breadcrumlist
the other errors are present in many pages: homepage, categories, manufacturers, product pages if presente some carousels
the problem is present in classic/templates/catalog/_partials/product.tpl
this file is used from modules from tpl of category, manufacturer .... tpl file
and the problem of ItemList is that it must be only one for eac

[2021-01-11 18:33] banan44 opened #22773 "Cart Rules section has a broken view - all tabs are on one page instead of divided into 3 sections"
**Describe the bug**

Hello,
I wanted to create a discount code for a customer and I have noticed that Discounts -> New Cart Rules section is not working properly. All 3 sections (Information, Conditions, Actions) are appearing on one page (take a look on the attached screenshot) instead of being divided into 3 separate sections. Some of the buttons are not working anymore (like Generate button or

[2021-01-11 19:45] Ctek59 commented on #22767
My previous version is 1.7.6.9, i have retrograded, very bad idea, I had a lot of mistakes, I had to delete or overwrite files.
With the version 1.7.6.9, i haven't problem
Now, I have upgraded with 1.7.7.1, i have again the problem ...

[2021-01-11 19:46] iDrums opened #22774 "Newsletter confirmation & voucher emails when subscribing from customer account are not sent"
#### Describe the bug
When I create a customer account without checking the newsletter subscription box, then try to subscribe to the newsletter from customer account settings form, I don't receive any confirmation email / voucher.

I do receive those emails when subscribing while signing up / through the email address form on the home page.

#### Expected behavior

Receive an email confirming sub

[2021-01-11 19:47] Art3c opened #22775 "Upgrade problem to Prestashop 1.7.7.1 Cannot declare class PrestaShopBundle\Entity\Tab"
Hi,

#### Describe the bug
i did a updateto the new 1.7.7.1 from 1.7.6.9. I did a full backup of the DB and files on the server. When 1-click upgrade started to updaet it shows me this error. Please help! The problem is the same as in #22248. The problem #22248 was closed because the bug should not be on PS 1.7.7.1

These time also the rollback was not ok and i had to do a manual restore.

`
[INTE

[2021-01-11 19:52] Art3c commented on #22775
@hibatallahAouadni same problem with 1.7.71 :(

[2021-01-11 20:04] 01park commented on #20134
Hi,

I am using the standaard htaccess file. This " issue " is already around since PS 1.6

[2021-01-11 20:11] 01park opened #22776 "Google Maps backoffice order page"
#### Is your feature request related to a problem?

After updating from 1.7.6 to 1.7.7 I no longer have Google Maps in my back office order page. I find this handy.

I know Google Maps is not standaard showing in 1.7.6 or lower, but by adding your API key manually in AdminOrdersController

:  $this->addJS('https://maps.googleapis.com/maps/api/js?v=3.exp'); it worked.

I tried the same fix in 1.7.7

[2021-01-11 21:43] Dar-us-Salam commented on #22758
I upgraded to the latest Upgrade Module v4.11 and tried to update to the new 1.7.7.1 but still I cannot login to the admin: https://prnt.sc/wlaxt2

Overall website is working after I turned off maintenance mode from MySQL. The issue is similar to people posting on this thread: https://www.prestashop.com/forums/topic/1027039-update-1766-problem-backoffice/

[2021-01-11 23:00] MatShir commented on #22748
IMO it is an improvement and relevant one. Thanks, @jf-viguier for the feedback

[2021-01-11 23:03] alfonsolr09 commented on #18692
#22416 is duplicate of my issue
@hibatallahAouadni

[2021-01-11 23:14] MatShir commented on #22744
The feature seems legit to me. Don't we have already a field for the phone number on the address step on the checkout where the value could be saved and retrieve?

[2021-01-11 23:18] Hlavtox commented on #22644
@Julievrz @LouiseBonnard I think the first one is very confusing too. :-/

“Send an email to the customer with the link to process the payment.”

What do you think this button will do? What I would think - “Create the order and send a link to the customer that will get him to a payment gate, and he will only enter his payment details.

But no, it logs him in, shows him the prepared cart and he nee

[2021-01-11 23:19] Hlavtox commented on #22569
Fixed by https://github.com/PrestaShop/PrestaShop/pull/22686

[2021-01-11 23:19] #22569 closed, assigned to nobody

[2021-01-11 23:37] Hlavtox commented on #15118
https://test177.trendo.cz/gb/hdhshaha

@Julievrz Put any nonsense to the url. 😄

What about something like: “Unfortunately, there are no products here at this time.”?

[2021-01-11 23:43] Hlavtox commented on #22773
@banan44 If you open your browser console (F12 maybe), there should be some errors, copy them here.

[2021-01-12 01:20] Dar-us-Salam commented on #22758
I installed a fresh copy of PS 1.7.7.1 and it is doing the same thing. It looks like there is a compatibility issue with my server or something. I contacted tech support but they weren't able to help.

[2021-01-12 05:10] SisCompufax opened #22778 "I cant update product's characteristics"
I add products by means of a script which adds the products without any problem.
Then I run a module that I bought (Icecat) which after adding their characteristics and information to the products and not let me update them I get this error in the logs of prestashop and this error in the panel of products of the backend I leave the images
I am using prestashop 1.7.7.0 which is a clean installation

[2021-01-12 05:10] SisCompufax opened #22779 "i cant update products"
I add products by means of a script which adds the products without any problem.
Then I run a module that I bought (Icecat) which after adding their characteristics and information to the products and not let me update them I get this error in the logs of prestashop and this error in the panel of products of the backend I leave the images
I am using prestashop 1.7.7.0 which is a clean installation

[2021-01-12 06:07] kpodemski commented on #22778
Hello @SisCompufax

Please follow the template to submit a complete bug report and fill the blocks that we provided in the template (describe the bug, expected behavior, steps to reproduce, ..).

[2021-01-12 06:07] #22778 closed, assigned to nobody

[2021-01-12 06:08] kpodemski commented on #22779
Hello

Please follow the template to submit a complete bug report and fill the blocks that we provided in the template (describe the bug, expected behavior, steps to reproduce, ..).

Thank you 👍

[2021-01-12 06:08] #22779 closed, assigned to nobody

[2021-01-12 06:16] kpodemski commented on #22744
I think it's not really needed, for years modules implemented this in a way where they get last used address and retrieve phone number from it.

[2021-01-12 06:31] kpodemski commented on #22767
It's probably related to some third party modules you have in your store, hooked into those actions like saving the product etc. Maybe you have some advanced search module or something like that?

[2021-01-12 08:07] Ctek59 commented on #22767
That's right, when I deactivate the module "Advanced Search 4", i haven't problem.
I contact the support of module.

Thank you.

[2021-01-12 08:16] hibatallahAouadni commented on #22767
@Ctek59 glad that your issue is solved :tada:
@kpodemski thanks for helping :wink:

I close this issue cause it's not related to the PrestaShop Core.
Thanks!

[2021-01-12 08:16] #22767 closed, assigned to nobody

[2021-01-12 08:23] hibatallahAouadni commented on #21404
@PululuK done :wink:

[2021-01-12 09:05] hibatallahAouadni commented on #22755
Hello @kpodemski

I reproduced the issue with PS1.7.7.1 and ps_linklist v3.2.0. I’ll add this to the debug backlog so that it’s fixed.
Waiting for your PR :wink: :rocket:

Thanks!

[2021-01-12 09:05] valentintur commented on #18100
Have this problem in PrestaShop 1.7.6.9

[2021-01-12 09:06] Progi1984 commented on #21267
Fixed by #22367

[2021-01-12 09:06] #21267 closed, assigned to sowbiba

[2021-01-12 09:07] valentintur opened #22781 "Duplicate address after editing an address (Prestashop 1.7.6.9)"
Bug like https://github.com/PrestaShop/PrestaShop/issues/18100

Not fixed

[2021-01-12 09:09] SimonGrn commented on #22781
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-01-12 09:09] #22781 closed, assigned to nobody

[2021-01-12 09:14] matks commented on #22779
@SisCompufax Also if the issue comes while using a module `Icecat` then the issue must be solved in the module, not on PrestaShop. Unless there is indeed a bug, highlighted by this usecase ; but this has yet to be proven.

The best solution is to contact the Icecat module developer, ask him. He will be able to check whether issue comes from his module or the PrestaShop software.

[2021-01-12 09:27] hibatallahAouadni commented on #22769
Duplicate of #22770

[2021-01-12 09:27] #22769 closed, assigned to nobody

[2021-01-12 09:31] Progi1984 commented on #22397
Fixed by #22518

[2021-01-12 09:31] #22397 closed, assigned to atomiix

[2021-01-12 09:34] hibatallahAouadni commented on #22770
Hello @idiamin777

I'm sorry but I couldn't manage to reproduce your issue, could you please check these issues #22611 & #22215
Please check and feedback.

Thanks!

[2021-01-12 09:39] #22748 closed, assigned to jf-viguier

[2021-01-12 09:43] Julievrz commented on #15118
I understand what you mean. For empty categories, no new products, etc... We could use a more generic message that could apply to many situations. Let me know what you think.

"No products available yet"
"Stay tuned! More products will be shown here as they are added."
"Try another search"

![image](https://user-images.githubusercontent.com/70583503/104297215-e2c6cc80-54c2-11eb-81f4-7790c960c453.p

[2021-01-12 09:49] hibatallahAouadni commented on #22416
@marionf I didn't manage to reproduce it with PS1.7.6.5 the Breadcrump List issue but I did manage to reproduce this one #18692 , see the attached screen record below:

https://drive.google.com/file/d/16aBG8tfPRGuo6XpHqh-C7k3E62p6sLLY/view

IMHO, I think I should edit this issue to regroup these two issues in this one, wdyt?

[2021-01-12 09:55] hibatallahAouadni commented on #22773
Hello @banan44

Thanks for your issue but could you please edit your issue **following the provided template to submit a complete bug report**.
We provide these blocks (describe the bug, expected behavior, steps to reproduce, ...) cause we need it to help you resolve your issue :wink:

Thanks!

[2021-01-12 10:05] Betafer commented on #22750
Hello,

I don't think there is much to explain,

also on the product page and not only on the pricing page there is the problem: the price without taxes uses the comma as a separator, while the price including taxes uses the period.

Come da immagine di seguito

<img width="385" alt="Schermata 2021-01-12 alle 11 03 26" src="https://user-images.githubusercontent.com/5024055/104299934-1b1bda00-54c6-

[2021-01-12 10:07] baskettcase commented on #20268
Any followup on this?

[2021-01-12 10:08] Progi1984 commented on #22460
Fixed by #22542

[2021-01-12 10:08] #22460 closed, assigned to atomiix

[2021-01-12 10:11] #22681 closed, assigned to NeOMakinG

[2021-01-12 10:21] #22306 closed, assigned to Progi1984

[2021-01-12 10:24] Prestaworks opened #22782 "Suppliers error when adding new combination - PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException kod 0"
#### Describe the bug

Error [PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException kod 0] is shown when clicking on the magnifier for a supplier.

#### Expected behavior

List of products connected to the supplier.

#### Steps to Reproduce

1. Go to suppliers
2. create a supplier
3. Go to a product id 2 in the default data (Hummingbird printed sweater), connect this to the suppl

[2021-01-12 10:25] matks opened #22783 "Release 1.7.7.2"
This issue tracks the status of the PrestaShop 1.7.7.2 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated release**  | 2021-02-22
**Milestone** | [1.7.7.2](https://github.com/PrestaShop/PrestaShop/milestone/70)
**Kanban** | [1.7.7.x](https://github.com/PrestaShop/PrestaShop/projects/

[2021-01-12 10:31] matks commented on #22776
Hi, GoogleMaps changed is free plan pricing and usage so it could not be used like before, see details in https://github.com/PrestaShop/PrestaShop/issues/10393

We could not find a suitable free and opensource replacement for GoogleMaps so we removed it. It was better than leaving a broken feature.

If you like it, you can develop a module that embed a GoogleMap widget inside Order page. There are

[2021-01-12 10:31] #22776 closed, assigned to nobody

[2021-01-12 10:33] WartoWiedziec opened #22784 "Type error: Return value of CartCore::getCartPriceFromCatalog() must be of the type float, null returned"
After the last update from 1.7.7.0 to 1.7.7.1, I cannot open and view what is happening in the shopping carts. You will get the error as shown in the attached screenshots.
Does anyone know what to enter and where this error would disappear?
![2021-01-12](https://user-images.githubusercontent.com/6594124/104303117-f45fa280-54c9-11eb-9cbc-e809b422bc36.png)
![2021-01-12 (1)](https://user-images.githu

[2021-01-12 10:37] Progi1984 commented on #22657
Fixed by #22735.

[2021-01-12 10:37] #22657 closed, assigned to AliShareei

[2021-01-12 10:41] SimonGrn commented on #22750
We need you to follow the template. Please open a new issue and fill the corresponding sections.
Thank you.

[2021-01-12 10:45] hibatallahAouadni commented on #22774
Hello @iDrums

Could you please check this issue #17097 I think is similar to yours
Please check and feedback.

Thanks!

[2021-01-12 10:46] TomanDesign commented on #21860
An unsubscribe email notification also would be useful.

Currently, customer can subscribe to the newsletter before registration, after that during registration, he does not check subscribe to the newsletter option, which is automatically unsubscribed without being aware of this. If he additionally received a discount code for the first purchases, it stops working and therefore he attacks customer

[2021-01-12 10:52] LouiseBonnard commented on #17412
@MatShir, friendly reminder for the products' listing! @Julievrz, for information.

[2021-01-12 10:53] arirangz opened #22786 "Stock management : The attribute name is splitted if contains a dash"
#### Describe the bug

On the stock management page, the product attribute value is splitted when there is a dash in the attribute.
For example, it will display 82 instead of 82-95mm. It is probably because there is a split with the dash -
The issue is applying on both Attribute name and attribute value.

#### Expected behavior
Display the full attribute value

#### Steps to Reproduce

Steps to re

[2021-01-12 11:08] banan44 commented on #22773
@hibatallahAouadni hi, I have updated my first post.

@Hlavtox thank you for information. I have opened console. Here are the faults I have

`This page uses the custom property "zoom". Consider using calc() in appropriate property values or using "transform" together with "transform-origin: 0 0". index.php
Uncaught DOMException: String contains an invalid character rocket-loader.min.js:1
    g htt

[2021-01-12 11:23] idiamin777 commented on #22770
Thanks Hibatallah,

Like I wrote I had the fault on test and live shop after upgrading – but I first found the fault 1 month later as a customers asked for an old invioice.

After working with the hack proposed in issue #22611 the testshop works fine but the live shop gives this new / similar error.

Hope somebody find a solution - Ar

Fra: Hibatallah Aouadni <notifications@github.com>
Sendt: 12.

[2021-01-12 11:32] Hlavtox commented on #22773
@banan44 These errors are caused by cloudflare. However, I use it too in free edition and everything is fine.

Try to clear cache in CF dashboard and if it does not help, try to disable CF caching and speedup options one by one and see if it fixes the issue. 👍

[2021-01-12 11:56] aded commented on #22608
Similar problem here, after clearing cache via-backoffice:

[code]

As suggested elsewhere (for example [here](https://www.prestashop.com/forums/topic/956372-white-page-in-prestashop/)), I had to rename ```var/cache``` folder.

[2021-01-12 12:37] aruneaskan opened #22787 "How to add a customer phone number in admin order grid - Prestashop 1.7.7.1"
I tried a custom module to add a column in the admin order grid.

Unfortunately, hookActionOrderGridDefinitionModifier is not working. I'm not able to add a column.

Please let me know how to do that. I need a detailed explanation.

* PrestaShop version: 1.7.7.1
* PHP version: 7.3

[2021-01-12 13:01] SimonGrn commented on #22787
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2021-01-12 13:01] #22787 closed, assigned to nobody

[2021-01-12 13:27] Renrhaf opened #22788 "Add custom module fields in ProductCombination form"
#### Describe the bug

For a client, I wanted to display additional fields into the Product and ProductCombination forms.
For the product one, no problem using the `displayAdminProductsExtra` and `actionProductUpdate` hooks.
For the combination one, I encountered issues dealing with form submission after using `displayAdminProductsCombinationBottom` hook. Symfony complained about extra fields subm

[2021-01-12 13:36] Progi1984 commented on #22590
Fixed by #22673

[2021-01-12 13:36] #22590 closed, assigned to PierreRambaud

[2021-01-12 13:44] AliShareei commented on #22744
Hi @kpodemski and @MatShir,

I know some modules use this method. But is it logical and correct?
They use this method because they have no other choice. They want to find out a phone number from the customer!
This is not the part I missed because one of my friends implemented the same module.

When he was involved, I really felt that this was an unprincipled approach.
A mobile number is a personal

[2021-01-12 14:28] Progi1984 commented on #22231
Fixed by #22688

[2021-01-12 14:28] #22231 closed, assigned to atomiix

[2021-01-12 14:28] #14039 closed, assigned to NeOMakinG

[2021-01-12 14:32] HartLarsson opened #22789 "PS 1.7.6.7 + GDPR 1.2.1 = No more translations"
#### Describe the bug

I've updated to 1.2.1 version but i notice now that in My Account page customers see all the GDPR part in english only,

#### Expected behavior

Usually when customer change languafge also the gdpr menu language change.
All translations are present and correct, but the module psgdpr continue to show only the english languageeven if we have 2 language installed.

#### Steps t

[2021-01-12 14:34] Nukium commented on #10274
Hi, we have the same issue on 1.7.6.9.

Error when saving a product after changing the quantity in context "all shops" but the quantity is still modified.

Thank you

[2021-01-12 14:50] hibatallahAouadni commented on #22775
Hello @Art3c

I just upgraded my shop 1.7.6.9 to 1.7.7.1 and I didn't encounter this problem, the upgrade process finsihed with success. The only bug that I encountred is in BO>Orders page :sweat: see the attached screen record below:

https://drive.google.com/file/d/1mCwxRT6QGjzULrLWAw8zUR35I1NhGe5a/view

Please check and feedback.
Thanks!

[2021-01-12 14:55] Art3c commented on #22775
What means this error?

[INTERNAL] /home/shopmo97/public_html/src/PrestaShopBundle/Entity/Tab.php line 37 - Cannot declare class PrestaShopBundle\Entity\Tab, because the name is already in use.

[2021-01-12 14:55] micka-fdz opened #22790 "Missing localization pack for Monaco"
#### Describe the bug

Orders placed to Monaco do not contain any tax.

#### Expected behavior

Orders placed to Monaco must respect the French VAT.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Place an order with delivery in Monaco
2. Prices are exclusive of VAT

I'll make a PR soon.

[2021-01-12 15:13] #11041 closed, assigned to PierreRambaud

[2021-01-12 15:32] hibatallahAouadni opened #22794 "[EPIC] - Link List Module"
All issues related to ps_linklist module (Link Widget):

### Bugs
- [ ] PrestaShop/PrestaShop#16134
- [ ] PrestaShop/PrestaShop#28435
- [ ] PrestaShop/PrestaShop#29661

### Improvements
- [ ] PrestaShop/PrestaShop#24227
- [x] PrestaShop/PrestaShop#25299
- [ ] PrestaShop/PrestaShop#27496

## Fixed

### Bugs
- [x] PrestaShop/PrestaShop#16434
- [x] PrestaShop/PrestaShop#18028
- [x] PrestaShop/PrestaS

[2021-01-12 15:55] LouiseBonnard commented on #9603
Hi there, what's the status of this issue? I can see changes are still requested on the related PR...  I remove it from the kanban (since handled by the community) and milestone it for 1.7.8. If no news pops up by the end of February, PR #15259 will be closed and the status of this issue will be set back as _to do_.

[2021-01-12 15:58] hibatallahAouadni commented on #22790
Hello @micka-fdz

Could you please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/22339#issuecomment-742627545) cause it seems your issue is a duplicate to this one #22339

Please check and feedback.
Thanks!

[2021-01-12 16:13] hibatallahAouadni commented on #22789
Hello @HartLarsson

It's not a bug, it's just missing translations as you can see the attached screen record below:

https://drive.google.com/file/d/1_pvwAKnEPYhY8LDmIk4TSCL8evHAbJxa/view

I close this issue :wink:
Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2021-01-12 16:13] #22789 closed, assigned to nobody

[2021-01-12 16:22] hibatallahAouadni commented on #22788
Hello @Renrhaf

Thanks for your issue and your PR :rocket:
But I think this is not a bug, it's an improvement (cause it looks more like a PrestaShop limitation)

So, lets ping the Developers Team to approve your suggestion :wink:
Ping @PrestaShop/prestashop-core-developers  do you think what @Renrhaf suggests is a bug or an improvement?

[2021-01-12 16:30] HartLarsson commented on #22789
please reopen because all translation are present!

![image](https://user-images.githubusercontent.com/16102074/104343094-d317aa00-54fb-11eb-9437-94bc4040faec.png)

i've already check!

[2021-01-12 16:37] HartLarsson opened #22796 "PS 1.7.6.7 + GDPR 1.2.1 = No more translations (redone)"
#### Describe the bug

I've updated to 1.2.1 version but i notice now that in My Account page customers see all the GDPR part in english only,

#### Expected behavior

Usually when customer change languafge also the gdpr menu language change.
All translations are present and correct, but the module psgdpr continue to show only the english languageeven if we have 2 language installed.

#### Steps t

[2021-01-12 17:00] hibatallahAouadni commented on #22786
Hello @arirangz

Thanks for your issue. I managed to repdoruce your issue with PS1.7.6.9, PS1.7.7.0 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1pBpCmBI0n-3CWeB-oyhP_FOf77_FqYz8/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-01-12 17:18] hibatallahAouadni commented on #22796
Hello @HartLarsson

Why you didn't watch carefully the screen record that I attached in your closed issue :confused:
I will redo the screen record more clearly and I will list step by step how you insert your traductions, so please pay attention :wink:

1. **BO**>**IMPROVE**>**International**>**Translations**
2. In **Modify translations** block, select **Installed modules translations** as **Type

[2021-01-12 17:21] hibatallahAouadni commented on #22784
Hello @WartoWiedziec

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, w

[2021-01-12 17:21] #22784 closed, assigned to nobody

[2021-01-12 17:32] HartLarsson commented on #22796
hi @hibatallahAouadni
i've done exactly the same of yours:

step 1
**
![image](https://user-images.githubusercontent.com/16102074/104350110-14ac5300-5504-11eb-917c-bdb49c29b39f.png)
**

click the button and this is what i get all traslated:

![image](https://user-images.githubusercontent.com/16102074/104350506-82f11580-5504-11eb-8e14-45f44ca2639e.png)

[2021-01-12 17:35] HartLarsson commented on #22796
I did a secont test changing my default profile language from Italian to english and now i see a different translation page.. why???
I choose exactly same parameters on the first step but with english backoffice language translations are now missing!
there is a bug somewhere.

[2021-01-12 17:38] hibatallahAouadni commented on #22782
Hello @Prestaworks

I encounter another issue in the fourth step:

In the product page, I add 5 euro for Size S:

![image](https://user-images.githubusercontent.com/23308427/104351040-26422a80-5505-11eb-86da-e25028a51a88.png)

In the Supplier page, I get this:

![image](https://user-images.githubusercontent.com/23308427/104351079-335f1980-5505-11eb-9739-f59ad8724df9.png)

Did you encounter this is

[2021-01-12 17:40] hibatallahAouadni commented on #22566
Hello @itsoftgroup01 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-12 17:40] #22566 closed, assigned to nobody

[2021-01-12 18:06] iDrums commented on #22774
Hello @hibatallahAouadni

I took a look at the issue #17097 but it's not similar to mine.
Newsletter confirmation and voucher emails are correctly sent when I create a new customer account and I check "Subscribe to our newsletter" from the FO.

Thank you

[2021-01-12 18:34] MatShir commented on #18065
Hi @hibatallahAouadni or @khouloudbelguith, could you reproduce @VeeK727's issue, please 😄

[2021-01-12 19:04] #22692 closed, assigned to NeOMakinG

[2021-01-12 19:33] dhanpreet452 opened #22799 "PS 1.7.7.0 Address coming automatically"
Using prestashop 1.7.7.0 PHP version 7.3.25

Steps to reproduce the behavior:

1. Add product to cart
2. Click on checkout
3. Checkout as guest
4. Put personal details and click next . Address coming automatically

store url : ondafloral.com
Tried with classic theme , same error persist[
![Untitled](https://user-images.githubusercontent.com/62125896/104363348-0a2d9180-54e3-11eb-9208-5a43da2b2205.p

[2021-01-12 20:29] MatShir commented on #22646
You are right!
The merchant shouldn't enter the password for their customer, even though it seems easy way to create a account for the customer.
The password field should be change to a warning message saying that an email with the link is sent to the registered email.

[2021-01-12 20:46] MatShir commented on #22645
Indeed, the Guest group is a special group that should not be at the same table as the other customer group. The guest group is more like a state. The Guest becomes a Customer when they create an account with a password.

One solution will be a toggle to create the customer has a guest customer that will hide the Customer group in the customer group association.

Could you share us a case where yo

[2021-01-12 21:16] Hlavtox commented on #22645
@MatShir Hi Mateus! We would do it in almost every order we make from the BO.

In B2C enviroment, you use backoffice to create customers and orders:
- When you have the customer on the phone - an old lady calls “Please young man, would you create order for me?” So the employee goes through the order process with the customer. These are 90% one time orders, when the user does not need and does not

[2021-01-12 21:25] Hlavtox commented on #15118
@Julievrz Yesssss!

Last suggestion - I would remove “Try another search”, because 99% of cases, did not come from a search. (Search page will have it's own error.)

I would change it to this:
"No products available yet"
"Stay tuned! More products will be shown here as they are added. Also, try to use the search to find what you are looking for."
"Search..."

[2021-01-12 21:41] kpodemski commented on #22744
@AliShareei

thanks for your feedback

the thing is that in PrestaShop you can order product for someone to pickup, software has possibility to manage multiple addresses and this is one of the reason,

but why would someone left you a phone number without placing an order?

Ok, that makes sense, but registration form is extremely easy to extend so I think the best for you would be to create such a

[2021-01-12 21:46] hibatallahAouadni commented on #22645
@MatShir so this issue still needs specs? otherwise we have to remove the **`TBS`** label and add the **`To Do`** label :wink:

[2021-01-12 21:46] kpodemski commented on #22645
Good idea 👍

[2021-01-12 22:03] alfonsolr09 commented on #22729
@ florine2623
@kpodemski
ping

[2021-01-12 22:08] hibatallahAouadni commented on #18065
Hello @VeeK727

We are aware of that issue #19090, it is already in our debug backlog.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-12 22:23] hibatallahAouadni commented on #10122
@MatShir what is the status of this issue? is it **`To Do`** or needs specs **`TBS`**?

[2021-01-12 22:26] MatShir commented on #22645
Sounds good!

**Specs:**
Bellow the enable field on the customer form, a toggle "Registered as a Guest" is displayed.
- if Yes, the password input is replaced with an information text. (to be defined)
- If No, the form remains the same.

I suggest the default value to be to No.
I still wondering if a Guest customer can still be part of another group customer. For ex: at an exhibition/Show, differe

[2021-01-12 22:26] hibatallahAouadni commented on #12852
@PierreRambaud shall we put remove the **`TBS`** label and add the **`To Do`** label? or this issue needs more specs?

[2021-01-12 22:31] MatShir commented on #15954
This Epic actually has to be slipt into different issues. There is a lot of good ideas

[2021-01-12 22:35] hibatallahAouadni commented on #9693
@marionf this issue is a duplicate of #10122 or just related? :confused: cause I think if we solve #10122 issue, this issue will be solved too, wdyt?

[2021-01-12 22:36] Hlavtox commented on #22645
@MatShir His default group must be 2, thats for sure.

He must allowed be in a group 2, to simulate front-office behaviour. Technically, he can have an access to other groups, but I am worried if it would not confuse some modules, that expect the guests to “come in some way”, so to say. 🤣

I think a way that would introduce no BC breaks is to hide customer group inputs (along with the pass), to co

[2021-01-12 22:38] MatShir commented on #15954
The first part could be done with this one https://github.com/PrestaShop/PrestaShop/issues/22643.
Some many @Hlavtox feedbacks, a little cleaning will be necessary as soon as I have some time in front of me.

[2021-01-12 22:39] kpodemski commented on #9674
Hey @hibatallahAouadni

I don't think it's related to linklist module, it's something to do on theme level

[2021-01-12 22:40] Hlavtox commented on #15954
@MatShir Soooooorry, I will help and make PRs! 😂😂

[2021-01-12 22:48] MatShir commented on #9693
They are strongly related but when one is fixed we need to be sure the other is fixed as well. So we still need this issue to be open. Well spotted!

[2021-01-12 22:53] hibatallahAouadni commented on #9674
Hello @kpodemski

Well it's a little bit confusing :confused: cause if this issue theme level related we should change the bug label to improvement label. Lets' ping @marionf :wink:

Ping @marionf is your issue related to the module LinkList or not?

[2021-01-12 23:04] MatShir commented on #20978
@PierreRambaud WDYT to add a hook resilient solution than overriding/add custom code?

[2021-01-12 23:19] MatShir commented on #14547
Sorry to tell you @omar2886, for now, your issue wasn't yet implemented by the PrestaShop team. PrestaShop is open-source software so if another contributor finds your feature relevant, they might implement it. Keep in mind that all implementation will be for the latest PrestaShop version.

But if it is major feature for your business, you could hire a developer to implement it for you and share y

[2021-01-12 23:29] MatShir opened #22800 "Custom right click like in Gmail"
To allow actions possibility on the listing page is to implement a solution like the right-click interface has on Gmail for example.

_Originally posted by @MatShir in https://github.com/PrestaShop/PrestaShop/issues/14736#issuecomment-599466417_

[2021-01-12 23:31] MatShir commented on #14736
I close this issue. I create a new ticket #22800. This improvement is a big improvement that won't be planned for now will stay  TBS until it is prioritize

[2021-01-12 23:31] #14736 closed, assigned to nobody

[2021-01-12 23:36] MatShir commented on #14743
The redesign of the bulk action on the listing page is part of the table project. @prestascott Do you have an epic with all the feedback gather by your interviews?

[2021-01-12 23:42] MatShir commented on #22645
I see what you mean, It could be confusing. Maybe there is some more we could do on the design to avoid this confusion.

[2021-01-12 23:55] kpodemski commented on #22729
It seems like there are some cache issues on your server, have you tried to delete img/tmp folder?

[2021-01-12 23:57] alfonsolr09 commented on #22729
Yes, i tried... The other error disappeared. But this not

[2021-01-12 23:58] alfonsolr09 commented on #22729
Now its with the product tittle... I dont know

[2021-01-12 23:59] kpodemski commented on #22729
When you open this wrong image in new tab, and add at the end of URL for example ?v=777, do you still see wrong image?

[2021-01-13 00:05] alfonsolr09 commented on #22729
Look the las video. Now its not with pictures. Now its with product tittle.

[2021-01-13 00:29] MatShir commented on #21104
It is weird, could @PrestaShop/prestashop-core-developers have a look ? 😄
It should be directly visible, WDYT ?

[2021-01-13 00:44] Hlavtox commented on #22645
@MatShir I think it's absolutely fine! ;)

[2021-01-13 00:49] AliShareei commented on #22744
@kpodemski Thanks for the full answer.
 And I apologize if I give additional explanations before reviewing other maintainers.

This is not the will of customers, this is the goal of all business managers.
 In addition, a store may have different sections and even free products that encourage customers to register without ordering.

Maybe I did not explain correctly.
I do not expect such a feature

[2021-01-13 00:55] MatShir commented on #21824
We could add an option to let the merchant choice. @PrestaShop/ux-team what do you think ?

[2021-01-13 01:00] MatShir commented on #21820
It looks like a greater feature, I don't see any blocking element. Sorry for the very late response 😓 . But if you still have the motivation, we will be happy to review your work

[2021-01-13 01:21] MatShir commented on #21937
I suggest do not import and display the error. Since a customer could have different dependencies and may bring more problems to the merchant. It will easier to display the error, clean the spreadsheet then reimport again.

[2021-01-13 01:27] MatShir commented on #21284
All clear, nice suggestion!

[2021-01-13 02:22] MatShir commented on #20817
related to:
- [ ] #20821 - Order create - Confusing display of amounts, taxes and currencies
- [ ]  #15954 - Clearify user groups and tax included/excluded display
Maybe work can be done for all this issues

[2021-01-13 02:37] MatShir commented on #10631
Issues tag with migration label are usually big epic. We don't flag them as Epic not to pollute the others epic. They don't have the same purpose. Here it is more a to-do list for not forgetting any element during the migration of the page but the other epic are collected of issue our a similar problem.

[2021-01-13 02:52] MatShir commented on #22218
@timactive Should we have a hook before and after actually. I can see many use cases to have the need to have before and after. And I'm afraid that it could be considered as BC since this hook has here for a long time, isn't it?
WDYT?

[2021-01-13 03:21] MatShir commented on #22368
For now, it is not possible. There is a couple of tuto you could find on the internet to edit yourself the CDLR file where are store all the currency format.
If more user finds the need to change the decimal format, we could integrate into the next version to come.

[2021-01-13 06:28] langziyang commented on #12742
so,if i want modify prouct page form,for example i want get part of category or feature or attribute.which way is best

[2021-01-13 08:22] SimonGrn commented on #22800
Isn't it considered bad practice to hijack the right click menu ?

[2021-01-13 08:24] matks commented on #22800
ping @NeOMakinG I guess he'll know better than us

[2021-01-13 08:33] GSafar30 commented on #22262
Hello,
I got mine working on a **ionos hosted** doing the following.

**Mail domain name:**

**SMTP server:         auth.smtp.1and1.fr**

**SMTP Username:      ____@yourdomain.com  "You have to have an email address created through ionos hosting"**

**SMTP password:         "your ionos hosted email password"**

**Encryption:         SSL**

**Port:             465**

If it can help someone....

[2021-01-13 08:37] Julievrz commented on #15118
Hi @Hlavtox, Thanks for your suggestion! I feel like your second sentence is quite long but we could definitely remove the "Try another search" and replace it with "Search our catalog" like in the previous template.

So to summarize:

Search:
"No matches were found for your search" in Shop.Theme.Global
"Check for misspellings or use other keywords to describe what you are searching for." Shop.Them

[2021-01-13 08:48] #21518 closed, assigned to IAmWebSA

[2021-01-13 08:48] NeOMakinG commented on #22800
It's not necessary a bad practice, it depends on the app we're working on

If needed and used features which are inside the right click default menu are also present inside the custom menu, that could be ok

[2021-01-13 09:21] hibatallahAouadni commented on #22799
Hello @dhanpreet452

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/10C4doBwORSslFj86uPsp7LQR1WkeR-Ji/view

I think your issue is related to a cache issue or some module issue.
Please check and feedback.

Thanks!

[2021-01-13 09:23] hibatallahAouadni commented on #22412
Hello @matteolavaggi ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-13 09:23] #22412 closed, assigned to nobody

[2021-01-13 09:30] hibatallahAouadni commented on #22496
Hello @PrestaShark ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-13 09:30] #22496 closed, assigned to nobody

[2021-01-13 09:42] Progi1984 commented on #22728
Not at the moment

[2021-01-13 09:48] khouloudbelguith commented on #22788
Hi @hibatallahAouadni,

I manage to reproduce the issue with PS1771.
![image](https://user-images.githubusercontent.com/16067358/104435326-8b8d2e80-558c-11eb-8586-3504f06ef9c5.png)

I think, it is a bug, as detailed here: https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/
[code]

Thank you!

[2021-01-13 10:00] LouiseBonnard commented on #15118
Hi @Julievrz, sounds great, thanks! Misspellings might be taken into account depending on the search parameters set by the user so I'll just shorten the wording into _Please try other keywords to describe what you are searching for._ in _Shop.Theme.Global_. :-)

[2021-01-13 10:08] hibatallahAouadni commented on #22788
Thanks @khouloudbelguith :wink:

[2021-01-13 10:09] prestascott commented on #21824
Hello everyone,

Thank you for your request @ballashop.

"Please choose variant" shouldn't be a valid combination option to continue the process and shouldn't let the customer add the product in his cart.

I see 2 solutions here:
1. Make "Please choose variant" as a default placeholder so it's just informative. Imo, removing this is a bad idea because it guides customers to choose a combination in

[2021-01-13 10:11] prestascott commented on #14743
Hey everyone,

@LouiseBonnard created an epic with all the tables improvements. You can find it here https://github.com/PrestaShop/PrestaShop/issues/20763

[2021-01-13 10:18] SimonGrn commented on #22729
Hello,

looks like your problem is specific to your own environment and is not tied to PrestaShop itself.
You may have some problems with your cache folders, maybe permissions problem blocking the process from emptying them.

Anyway, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if

[2021-01-13 10:36] marionf commented on #9674
That's well an improvement and not a bug

The idea here is to add a new block "Configuration of the footer" in Design > Linkwidget
With a toggle "Display "Ecommerce software by PrestaShop" in the footer" Yes/no, set on Yes by default.

If the toggle is set on No, then the following sentence will not be displayed:
![capture d'écran_2924](https://user-images.githubusercontent.com/13449658/104441028-

[2021-01-13 10:39] marionf commented on #9674
@Julievrz I let you check the wording ;)

[2021-01-13 10:46] kpodemski commented on #9674
@marionf

Copyrights are not linked to `ps_linklist` module, this text is coming directly from `classic`, see:
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/_partials/footer.tpl#L47

We have few options:
- remove it from `classic` and put into `ps_linklist` with additional option - breaking change
- move it to extra module - a bit overkill
- find a place for a new

[2021-01-13 10:56] hibatallahAouadni commented on #14743
Thanks guys :wink:
Well I will add this issue to the Epic mentioned above (even though it is **`TBS`**) :sweat_smile:

[2021-01-13 12:34] banan44 commented on #22773
@Hlavtox thank you so much for your help. I did what you wrote. It turns out the Rocket Loader function was causing the problem. Once I turned it off the Discount page works correctly :)

[2021-01-13 12:34] #22773 closed, assigned to nobody

[2021-01-13 12:40] Julievrz commented on #15118
Great, thanks, I will modify my comment!

[2021-01-13 12:48] Hlavtox commented on #22646
@MatShir @hibatallahAouadni In 1.6 times, when you created a customer, he got the password sent in _account_ email.

Then, it got removed for security purposes, because it is not good if passwords are just revealed as plain text. But, now he does not know the password, unless he goes through a password recovery.

I think that the customer should receive a link to create a new password in the accou

[2021-01-13 13:24] marionf commented on #9674
In PS 1.6 the option allowing to enable or disable this was integrated in the blockcms module, which becomes ps_linklist in 1.7
As it's a link, that's why I think it's appropriate to put this option in ps_linklist module
But if it's a breaking change, we should avoid it in a minor version
So, the best place to put this toggle seems to be the Shop parameters > General page, under "Display best sell

[2021-01-13 13:28] NeOMakinG opened #22801 "Payment mode needs some adjusts on mobile view"
Epic: https://github.com/PrestaShop/PrestaShop/issues/22358

[Link to Figma prototype](https://www.figma.com/proto/b2sVogt6tyvB5EIkVmTAdP/PrestaShop-Responsive?node-id=608%3A0&scaling=scale-down)

#### Describe the bug

The page a bit broken on mobile

![image](https://user-images.githubusercontent.com/14963751/104458240-60660780-55ab-11eb-8fd6-a93d5fe075a2.png)

#### Steps to Reproduce

Steps to

[2021-01-13 13:29] sabansen commented on #22652
Hi @Hlavtox

I have also another issue somehow related with this bug, I guess. Won't able to search customers when we're on the new order page.

Not sure but the issue: about routing you may able to see in the screenshot, URL not placing properly and "token" parameter won't set correctly.

![ss](https://user-images.githubusercontent.com/8502105/104458491-c18ddb00-55ab-11eb-9c7a-bdde16500a17.jpg)

[2021-01-13 13:30] kpodemski commented on #9674
Ok, I'll do it 👍

[2021-01-13 13:49] Renrhaf commented on #22788
Hi @khouloudbelguith,

Thank you for reproducing the bug.
I'll put the whole code I used below to demonstrate the validator issue.

In `modulename.php` :

[code]

In `modulename/views/admin-combination-custom-tab.twig` :

[code]

I do not know from where the Error 500 you got came otherwise.
Have a nice day

[2021-01-13 14:22] khouloudbelguith commented on #22788
Hi @Renrhaf,

Thanks for your feedback.
I manage to reproduce the issue using this module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/5809064/mymodule.zip)

Thank you!

[2021-01-13 14:25] mrl22 opened #22802 "Customers can order products which do not have an available carrier"
#### Describe the bug

We have an issue where we have select products that can not be shipped internationally. If a customer located outside of the UK purchases one of these items which has no international carrier along with a product which does, Prestashop will allow the order to go through with no notification to the customer. This also results in the order being split into two orders inside th

[2021-01-13 14:25] KminekMatej opened #22803 "WebService: Adding product image fails, when another image is set as cover"
#### Describe the bug

I have a product on PS. This product has already some images attached to it. One of these images is marked with cover=1 in DB, table ps_image.

![image](https://user-images.githubusercontent.com/16462921/104464305-12550200-55b3-11eb-9872-410a5607eaa3.png)

The I try to load another image. Using webservice request POST: /api/images/products/1326 , data:

[code]
That returns e

[2021-01-13 14:26] mrl22 opened #22804 "Customers can order products which do not have an available carrier for their country"
#### Describe the bug

We have an issue where we have select products that can not be shipped internationally. If a customer located outside of the UK purchases one of these items which has no international carrier along with a product which does, Prestashop will allow the order to go through with no notification to the customer. This also results in the order being split into two orders inside th

[2021-01-13 14:32] Dar-us-Salam commented on #22758
I just got a comment on [my post](https://www.prestashop.com/forums/topic/1040099-cant-login-to-backoffice-in-ps-1771/) in the forums in which JBW told me about [this post ](https://github.com/PrestaShop/PrestaShop/issues/22300) which explains that an old ICU version is causing this issue. I will upgrade my ICU 4.2 to finally fix this issue.

[2021-01-13 14:32] micka-fdz commented on #22790
Hi @hibatallahAouadni, my issue is not a duplicate of #22339.

My issue is about default tax rules inside french localization package.

[2021-01-13 14:32] KminekMatej commented on #22803
What is the actual problem? WebService is using `Image::getCover($productId)` function to check if there is any cover set, but based on different table (**ps_image_shop**) than table to which it actually inserts data (**ps_image**). So, in **ps_image_shop** it finds out, there is no cover image. Cover property gets set to 1. And then it tries to add new record to **ps_image** table with cover = 1.

[2021-01-13 14:35] hibatallahAouadni commented on #22646
That's a good question and needs specs :wink:
Ping @PrestaShop/product-team can someone please answer @Hlavtox question, thanks in advance :slightly_smiling_face:

[2021-01-13 14:36] #22802 closed, assigned to nobody

[2021-01-13 14:40] hibatallahAouadni commented on #22790
Hello @micka-fdz

In reality I manage to reproduce your issue, but it seems for me it's not a bug as Monaco and France are different countries :sweat_smile: I thought that the normal behavior.

Ping @PrestaShop/product-team any idea about this topic? :confused:

[2021-01-13 14:41] hibatallahAouadni commented on #22758
@Dar-us-Salam glad to hear :tada:

[2021-01-13 14:49] prestascott opened #22806 "Shadows harmonizations"
#### Is your feature request related to a problem?

The new design of the Theme Classic isn't applied on some components, especially on shadows. It needs to be consistent.

#### Describe the solution you'd like

Remove shadows so our components use the new design like the checkout in flat design style.

Related PR: https://github.com/PrestaShop/PrestaShop/pull/20775

[2021-01-13 14:51] Prestaworks commented on #22782
Hi @hibatallahAouadni
I tried to recreate your issue with the price, but it worked as it should for me. I even tried adding extra currencies and changing the price and currency, but it was always working correctly for me.

[2021-01-13 15:14] barda opened #22809 "Cannot install on Oracle MySQL 5.6"
#### Describe the bug

Cannot install on Oracle MySQL 5.6
Prestashop version: 1.7.7.1 (also development branch is affected)

Installation blocks at the create table step with:

#### Expected behavior

Installation goes forward creating MySQL tables.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Start installation
2. Configure connection to an Oracle MySQL 5.6
3. See error

#### Ad

[2021-01-13 15:16] LouiseBonnard commented on #22646
... and I'm afraid it is not yet specified, aha! But thanks for the reminder, @hibatallahAouadni. ;-)

@Hlavtox, I've suggested a solution in https://github.com/PrestaShop/PrestaShop/issues/21887, I think your issue is a duplicate. If you confirm, I'll specify it right away and close this issue as a duplicate of https://github.com/PrestaShop/PrestaShop/issues/21887, thank you very much!

[2021-01-13 15:18] Hlavtox commented on #22646
Yes @LouiseBonnard, it's the same, you can close this. :-)

[2021-01-13 15:18] hibatallahAouadni commented on #15118
@Julievrz @LouiseBonnard Great work girls :muscle:
@Hlavtox you too :rocket: :superhero:
Well I think it's time to change the lable to **`To Do`** :wink:

[2021-01-13 15:19] #22646 closed, assigned to nobody

[2021-01-13 15:26] forkyboy opened #22810 "Issue when sending email TO customer FROM the order details page. link to reply link not included in footer"
I am not sure if the issue was describe before, i will do a proper report if it is new:

Issue:

when sending email TO customer **FROM the order details page**.
the email received by the customer do not contain the link to reply, nor the text

it should be like this in the footer :

Please do not reply directly to this email, we will not receive it. In order to reply, click on the following link:

[2021-01-13 15:27] micka-fdz commented on #22790
PR available here : #22811

[2021-01-13 15:37] hibatallahAouadni commented on #22646
Duplicate of #21887

[2021-01-13 15:48] devonto opened #22812 "1.7.7.1 Back office Shopping Cart browsing causes "Type error: Return value of CartCore::getCartPriceFromCatalog()""
#### Describe the bug

Searching and viewing shopping carts in the back office produces an "unexpected error" screen.
As previously reported yesterday on the closed report #22784

#### Expected behavior

Should be able to search and open shopping carts

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Within back office, click on Orders -> Shopping Carts
2. Search by name for some cus

[2021-01-13 16:03] hibatallahAouadni commented on #22790
Thanks for your quick fix :clap:
But we need the Product team approval :wink:

[2021-01-13 16:05] hibatallahAouadni commented on #22782
That's weird :confused:
Ping @khouloudbelguith could please reproduce my issue :wink: Thanks in advance :slightly_smiling_face:

[2021-01-13 16:06] PierreRambaud commented on #20978
Not sure it has been designed for. I will add complexity :thinking:

[2021-01-13 16:17] pruault opened #22814 "Change Address Price equal 0"
#### Describe the bug

When we change the delivery or billing address, all the prices of the products in the order go to zero

#### Expected behavior

When we change the shipping or billing address, all product prices must not change

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.2

[2021-01-13 16:17] pruault opened #22815 "Bug when we are changing address in backend"
#### Describe the bug

When we change the delivery or billing address, all the prices of the products in the order go to zero

#### Expected behavior

When we change the shipping or billing address, all product prices must not change

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.2

[2021-01-13 16:18] hibatallahAouadni commented on #22773
@banan44 glad to hear that @Hlavtox helps you resolving your issue :tada:
Thanks @Hlavtox :wink:

[2021-01-13 16:18] pruault opened #22816 "Bug when changing addres in back office"
When we change the delivery or billing address, all the prices of the products in the order go to zero

#### Expected behavior

When we change the shipping or billing address, all product prices must not change

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.2

[2021-01-13 16:25] hibatallahAouadni commented on #10631
@MatShir thanks for clarification :wink:

[2021-01-13 16:41] musicpanda opened #22817 "Autoupgrade is unusable"
In Addons 1-click upgrade is not available. The page is there nut you cannot download anything.

Using PS 1.7.6.1 I have version 3.0.3 of 1-click upgrade. When I click on the Upgrade button I get an error message and nothing is upgraded.

So I went to Github and downloaded the latest version (4.11.0) there. But when I try to install it I get an error. See the attached image.
![upgrade](https://use

[2021-01-13 16:42] musicpanda opened #22818 "autoupgrade is unusable"
In Addons 1-click upgrade is not available. The page is there nut you cannot download anything.

Using PS 1.7.6.1 I have version 3.0.3 of 1-click upgrade. When I click on the Upgrade button I get an error message and nothing is upgraded.

So I went to Github and downloaded the latest version (4.11.0) there. But when I try to install it I get an error. See the attached image.
![upgrade](https://use

[2021-01-13 16:43] musicpanda opened #22819 "Autoupgrade not available or gives error"
In Addons 1-click upgrade is not available. The page is there nut you cannot download anything.

Using PS 1.7.6.1 I have version 3.0.3 of 1-click upgrade. When I click on the Upgrade button I get an error message and nothing is upgraded.

So I went to Github and downloaded the latest version (4.11.0) there. But when I try to install it I get an error. See the attached image.
![upgrade](https://use

[2021-01-13 16:44] matks commented on #22817
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/22819

[2021-01-13 16:44] #22817 closed, assigned to nobody

[2021-01-13 16:44] matks commented on #22818
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/22819

[2021-01-13 16:44] #22818 closed, assigned to nobody

[2021-01-13 16:56] mrl22 commented on #22804
I have set up a complete fresh install on PS 1.7.7.1 which highlights this issue. [http://presta.devfwd.com/](http://presta.devfwd.com/)

1. Add product "UK ONLY SHIPPING PRODUCT (NO INTERNATIONAL CARRIERS)" to your cart.
2. Add product "INTERNATIONAL PRODUCT (CAN BE SHIPPED ANYWHERE)" to your cart.
3. Check out and use the delivery country "Ireland"

[Screenshot 1](https://cdn.discordapp.com/atta

[2021-01-13 16:58] #22788 closed, assigned to Renrhaf

[2021-01-13 17:02] hibatallahAouadni commented on #22816
Hello @pruault

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1o9EcEx26UyxnpsKZEBD4PeF_oSgv57qw/view

Please check and feedback.
Please provide clear and concise seps to reproduce your issue :wink:

Thanks!

[2021-01-13 17:03] khouloudbelguith commented on #22782
Hi @Prestaworks, @hibatallahAouadni,

Yes, I manage to reproduce the issue with PS1771.
I attached a screen record
https://drive.google.com/file/d/1kjwWPT2nZmqNed6shVdFFoU3Cu14zE89/view?usp=sharing

Thank you!

[2021-01-13 17:04] hibatallahAouadni commented on #22817
Thanks @matks :wink:

[2021-01-13 17:12] LouiseBonnard commented on #22790
You're right, @hibatallahAouadni, it's not a bug but a feature request: there are no VAT rates available for Monaco since there is no localization pack. You can either add them manually in the BO or create the Monaco localization pack. :-)

Regarding the PR, thanks @micka-fdz, I'm not sure about adding the reference to the tax rates without stocking it in a dedicated localization file, it might co

[2021-01-13 17:22] mrl22 commented on #22816
I was able to replicate this on a completely fresh 1.7.7.0 with test data.

I opened the test data order "FFATNOMMJ" edited the Invoice address and changed the country from United States to United Kingdom. On save, all totals went to zero.

See [screenshot here](https://cdn.discordapp.com/attachments/572912019221774362/798965014190358578/3.JPG)

[2021-01-13 17:22] hibatallahAouadni commented on #22819
Hello @musicpanda

All right, first of all you need to execute these commands:

[code]

When the composer finish its work, compress the autoupgrade file and then you can install it :wink:
Hope it helps and please next time **follow the template to submit a complete bug report**.

I'm closing this issue cause it's not related to PrestaShop Core.
Keep in mind that I'm always available to answer all

[2021-01-13 17:22] #22819 closed, assigned to nobody

[2021-01-13 17:23] hibatallahAouadni commented on #22815
Duplicate of #22816

[2021-01-13 17:23] #22815 closed, assigned to nobody

[2021-01-13 17:24] hibatallahAouadni commented on #22814
Duplicate of #22816

[2021-01-13 17:24] #22814 closed, assigned to nobody

[2021-01-13 17:40] Hlavtox commented on #22773
@banan44 Goood!!!
@hibatallahAouadni No prob 😎

@matks Hey, what about adding a section to Prestashop documentation aboud Cloudflare? Write there, that you need to disable IP adress checking in backoffice, that rocket loader does problems and stuff like this. It can be found on the internet forums, but if the first result was official documentation, even better. Wdyt? :-)

[2021-01-13 17:48] hibatallahAouadni commented on #22812
Hello @devonto

I reproduced your issue with PS1.7.4.1 upgraded to 1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/12yb3NNec-sTPrRr4fxSID-9FOYpo_ldT/view

And it's a regression cause I didn't managed to reproduce with PS1.7.4.1 upgraded to 1.7.7.1, see the attached screen record:

https://drive.google.com/file/d/1JLebQKa9Qqq2H7eIKK6ci2I2MMr2ht8h/view

While with fre

[2021-01-13 17:55] MatShir commented on #22442
The description looks like the best solution. @prestascott Could you update the design for the cart rule page? 😄 I will try to punch the feature request with the migration of the page

[2021-01-13 17:56] hibatallahAouadni commented on #22810
Hello @forkyboy

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-01-13 17:56] #22810 closed, assigned to nobody

[2021-01-13 18:00] hibatallahAouadni commented on #22809
Hello @barda

Could you please provide your PHP version and check our system requirements [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/).
Please check and feedback.

Thanks!

[2021-01-13 18:01] MatShir commented on #22442
We could show the state of the discount. For me, the incompatible cart rules should show all the cart rules because if you activate an older cart rule, how the new cart rules will interact with it?

[2021-01-13 18:11] musicpanda commented on #22819
This is ridiculous:
 - there is no Issues tab with the autoupgrade module
 - If you miss anything tell it. This reference to the template looks childish.
 - I refuse to use Composer. Things should work on my Windows pc.
 - The forum is full of people having problems upgrading to 1.7.7. This isn't a problem that can be isolated from the Core.

[2021-01-13 18:37] hibatallahAouadni commented on #22803
Hello @KminekMatej

You need to downgrade your PHP version cause PS1.7.6.8 is not compatible with PHP 7.4 see our system requirements [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements).

Please check and feedback.
Thanks!

[2021-01-13 18:41] hibatallahAouadni commented on #22804
Hello @mrl22

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15159.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-13 18:41] #22804 closed, assigned to nobody

[2021-01-13 18:42] hibatallahAouadni commented on #22804
Duplicate of #15159

[2021-01-13 18:55] hibatallahAouadni commented on #22819
This tone is not acceptable.

You should respect the provided template, we made it to help you resolving your issue ASAP.

We already aware of this issues and we are working on it.

About your issue, the problem is when I open my shop 1.7.6.1 and go to Module Catalog, I found the 1-Click Upgrade v4.11.0
So, I can not reproduce your issue, see the attached screenshot below:

![image](https://user-i

[2021-01-13 18:59] hibatallahAouadni commented on #22782
Thanks for help @khouloudbelguith :wink:
So, I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-01-13 20:58] KminekMatej commented on #22803
Youre absolutely right. Sorry , I didnt realize that Im using PHP-FPM with different PHP versions - everything runs on PHP7.4, but prestashop runs on php 7.2. Without that, almost nothing would work :)

[2021-01-13 20:58] musicpanda commented on #22819
If I click that button in your image while version 3.0.3 is installed I get an error - just like when I upgrade the module in Modules.
![upg3](https://user-images.githubusercontent.com/13930107/104509062-6da1e700-55e9-11eb-8988-1036031714c0.jpg)

Mostly I use another path - the button on the side. It brings me to the 1-click upgrade page in Addons
![upg2](https://user-images.githubusercontent.com/

[2021-01-13 21:03] matks commented on #22819
Hi @musicpanda, we do have a Code of Conduct in this area : https://github.com/PrestaShop/PrestaShop/blob/63ab23f170875f63e2fa8b3149db4fb00c81ae0d/CODE_OF_CONDUCT.md

Your current tone is not compliant with the Code of Conduct, see:

Being respectful of differing viewpoints and experiences
Gracefully accepting constructive criticism
Focusing on what is best for the community
Showing empathy toward

[2021-01-13 21:05] matks commented on #22773
@Hlavtox it could be great indeed to mention it in the docs. I dont know if there is a good location for this, but we can always add it to "Frequently Asked Questions" https://devdocs.prestashop.com/1.7/faq/

[2021-01-13 21:09] KminekMatej commented on #22803
But during another tests, I realized another thing. When I uploaded another image, column cover got checked i both tables - **ps_image** and **ps_image_shop**. So probably, some error happened before this attempt, leading to current issue.

Which is not surprising as I am trying everything with api.

So far Im closing this issue as the problem probably lies elsewhere.

[2021-01-13 21:09] #22803 closed, assigned to nobody

[2021-01-13 21:25] Marcelozippo opened #22822 "I try to update prestashop 1.7.6.9 to 1.7.7.1"
Hello, I try to update prestashop 1.7.6.9 to 1.7.7.1 and when the update finishes I get the following error.
---
[INTERNAL] /www/wwwroot/cotillonunpocoloco.com/classes/db/DbPDO.php line 136 - PrestaShopException: Link to database cannot be established: SQLSTATE[HY000] [2002] Connection refused #0 /www/wwwroot/cotillonunpocoloco.com/classes/db/Db.php(379): DbPDOCore->connect() #1 /www/wwwroot/cotil

[2021-01-13 21:27] musicpanda commented on #22819
Hello Matks,

I admit. I am guilty. I only make an exception for the Composer issue. I think you are wrong there. When working with Composer becomes a requirement for using Prestashop 95-99% of the users will stop using it.

But I hope you will also look at the other side of the picture:
 - I submit a serious issue that concerns many people. It is closed unsolved.
 - I get feedback about the Upgra

[2021-01-13 22:47] ruchus opened #22824 "Custom store url by each language"
I can't custom different storeurl by each store language on PS in differents domain. Is common for large websites need to install each language of the store in a country specific domain TLD .... es .... fr .... co.uk.

I find that it is a basic functionality MUST HAVE, that it should have a serious multi-store ecommerce and not too complicated to implement. Other ecommerce software does and we nee

[2021-01-13 22:57] SimonGrn commented on #22824
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report or a feature request**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further informati

[2021-01-13 22:57] #22824 closed, assigned to nobody

[2021-01-14 00:10] dhanpreet452 commented on #22799
HELLO @hibatallahAouadni  , there is not even single module installed outside of what is created by prestashop . Cache is deleted many times. Tried in multiple computers at multiple location and same issue persist.

[2021-01-14 04:52] dborovsky commented on #22565
@LouiseBonnard  yea I reproduced this issue too. I would like to help fixing it.

[2021-01-14 07:55] Prestaworks commented on #20978
i was thinking something simple like

instead of
`return [
            $sortSalesDesc->setLabel(
                $translator->trans('Best sellers', [], 'Modules.Facetedsearch.Shop')
            ),
            $sortPosAsc->setLabel(
                $translator->trans('Relevance', [], 'Modules.Facetedsearch.Shop')
            ),
            $sortNameAsc->setLabel(
                $translator->trans(

[2021-01-14 07:57] barda commented on #22809
PHP 7.3.24.
I think the relevant requirements are meet:
![phppsinfo](https://user-images.githubusercontent.com/440593/104560575-5ba26180-5646-11eb-81e4-ddb123d4bd54.png)

[2021-01-14 08:33] LouiseBonnard commented on #22565
Hi @dborovsky, thanks for your help on this! You can read the [CONTRIBUTING.md](https://github.com/PrestaShop/PrestaShop/blob/develop/CONTRIBUTING.md) to get a few information about the PrestaShop contribution. :-)

[2021-01-14 08:48] PierreRambaud commented on #20978
You're talking about the faceted search module, not how the Core is working. Yes, we can add hooks inside the faceted search module. But it will not fix the "issue" for people not using it :sweat_smile:

[2021-01-14 08:52] Prestaworks commented on #20978
not really sure how the faceted search module got involved in all this :) My ticket for improvement regards the core really. but it would be nice if the faceted search had the same feature as many merchants use it.

[2021-01-14 09:12] Julievrz commented on #22644
Hi @Hlavtox, thanks for your feedback! I'm not sure "prepared order" is a very common expression. Also, but it might be just me, I feel like it is too close to "prepaid", which I think could lead to some confusion. But I see what you mean.
I thought of 2 expressions:
a draft order or a pre-filled order.
@matks has worked a lot on the Orders page, so I think his opinion will be helpful.☺️

[2021-01-14 09:25] Seb33300 opened #22825 "Gift-wrapping line is displayed in order confirmation emails even if the gift option is disabled"
### Describe the bug

I disabled the gift option from our shop settings because we don't provide this service, but emails still displays the `Gift-wrapping` line in the summary which is confusing.

### The expected behavior
Emails template should be updated to hide this line if the option is disabled (or if the value of this line is 0):
https://github.com/PrestaShop/PrestaShop/search?l=Twig&q=Gift

[2021-01-14 09:30] davidglezz commented on #20914
- [ ] https://github.com/PrestaShop/PrestaShop/issues/20857 Add a button to be able to remove supplier & brand logos

[2021-01-14 09:31] sebastian-marinescu opened #22826 "Adding Tracking-Number/-Code doesn't work & only one shipping-method shown"
#### Describe the bug

We have an irregular bug, which consists of following behaviors.

A) On some orders, when editing the shipping / wanting to add an tracking-code, it only shows 1 shipping-method.

In the order-overview it shows the correctly chosen shipping-method of the client:

![image](https://user-images.githubusercontent.com/3798871/104570804-a9bd6200-5652-11eb-8e65-6ecd886fdcf3.png)

B

[2021-01-14 09:33] Hlavtox commented on #22644
@Julievrz Pre-filled sounds good!

[2021-01-14 09:53] Progi1984 commented on #22728
A new rule :
* Constant in class must have a defined scope.

[2021-01-14 09:57] Progi1984 commented on #22728
A new rule :
* `declare(strict_types=1);` must not be defined in interfaces

[2021-01-14 10:01] jf-viguier commented on #17111
@PierreRambaud how did you solve this in faceted search ?

[2021-01-14 10:02] Progi1984 commented on #22728
A new rule :
* When using `sprintf`, if variables are `int`, `%d` must be used (and so on for another types).

[2021-01-14 10:04] Progi1984 commented on #22728
Two new rules :
* New methods should be typed in return
* New parameters (in new methods or existing methods) should be typed

[2021-01-14 10:08] marionf opened #22827 "Move the ecotax VAT selection"
#### Is your feature request related to a problem?

The ecotax can be toggled in the "Tax Options" section from the _International > Taxes_ page.
Once enabled, a new drop-down is displayed containing all the tax rules, allowing the merchant to choose the VAT rate that will be applied on the ecotax.

The ecotax is subject to VAT at the same rate applicable to the product.

So, it's a no sense to ha

[2021-01-14 10:14] hibatallahAouadni commented on #22819
Hello @musicpanda

Did you try to uninstall the 1-click upgrade from the Module Manager page and then install it again from the Module Catalog page?

Please check and feedback.
Thanks!

[2021-01-14 10:21] jf-viguier commented on #17111
The cache should be customer dependant instead of group dependant but what's the best way to do that ?

[2021-01-14 10:52] florine2623 commented on #22822
Hello @Marcelozippo ,
Your issue is a duplicate of #22250.
Please follow the instructions there.
Thanks !

[2021-01-14 10:53] florine2623 commented on #22822
Duplicate of #22250

[2021-01-14 10:53] #22822 closed, assigned to nobody

[2021-01-14 11:03] florine2623 commented on #22825
Hi @Seb33300 ,
Thanks for the suggestion.
Please stay tuned !

[2021-01-14 11:04] florine2623 commented on #22825
Hi @PrestaShop/product-team ,

What do you think about @Seb33300 's idea on the order email templates ? (order_conf & new_order)

Thanks!

[2021-01-14 11:22] florine2623 commented on #22826
Hi @sebastian-marinescu ,

I can't reproduce your issue on PS 1.7.7.0.
I can choose the carrier on editing mode :
![Capture d’écran 2021-01-14 à 12 16 35](https://user-images.githubusercontent.com/16019289/104584246-92867080-5662-11eb-88dc-2c0c6592d9cf.png)
You need to make sure the carrier is available for the address of the order and that the carrier is enabled.

I can also add the tracking nu

[2021-01-14 11:22] #22826 closed, assigned to nobody

[2021-01-14 11:48] iwi86 opened #22829 "Problem z panelem admina"
![blad-presta](https://user-images.githubusercontent.com/77441283/104586854-58b76900-5666-11eb-99ec-39a3d707ed63.png)

Dzień dobry,

Mam duży problem z działaniem mojej presty. Po aktualizacji z 1.7.6.9 do 1.7.7.0 wyskoczył mi błąd i od tego momentu nie działa mi panel admina. Sklep działa (wersja testowa). Przywracanie systemu, kopii zapasowej, bazy danych, nie pomaga. Każda próba zrobienia czego

[2021-01-14 11:50] hibatallahAouadni commented on #22516
Hello @tvorgul ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-14 11:50] #22516 closed, assigned to nobody

[2021-01-14 11:52] hibatallahAouadni commented on #22451
Hello @CLC1234 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-14 11:52] #22451 closed, assigned to nobody

[2021-01-14 11:53] hibatallahAouadni commented on #22260
Hello @mrabsinthe ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-14 11:53] #22260 closed, assigned to nobody

[2021-01-14 11:53] hibatallahAouadni commented on #22498
Hello @matteolavaggi ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-14 11:53] #22498 closed, assigned to nobody

[2021-01-14 11:53] kpodemski commented on #22829
Hello,

I suggest you to create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg)

[PL]

To nie jest miejsce, w którym udzielamy pomocy przy specyficznych błędach, prawdopodobnie coś poszło nie tak podcz

[2021-01-14 11:54] hibatallahAouadni commented on #22302
Hello @nachaliuga ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-14 11:54] #22302 closed, assigned to nobody

[2021-01-14 12:01] hibatallahAouadni commented on #22803
@KminekMatej Glad to hear :tada:

[2021-01-14 12:25] davidglezz commented on #17111
we have to collect all the parameters that affect the price of the products and override the getCacheId() method.

I can do a pull request, but first let's discuss what the parameters / variables are.

- Original vars (https://github.com/PrestaShop/PrestaShop/blob/develop/classes/module/Module.php#L2437-L2460) plus:
- Country
- Cart or user
- ??

[2021-01-14 12:28] sebastian-marinescu commented on #22826
Like I said in the beginning, this bug is irregular.
Meaning, that there are some orders where editing/adding shipping works flawlessly, but others where I have this issue.

I made sure the carriers are available for the country. Actually only one country allowed.

Any tips on how one would debug this are appreciated.
Setting the shop into dev_mode doesn't give me a stacktrace of that error.

[2021-01-14 12:34] mateusz-szafraniec opened #22830 "Missing VAT number in Order view"
#### Describe the bug

In new version - 1.7.7.1 VAT number in OrderPreview is not dispalyed.

#### Expected behavior

There should be a VAT number in Invoicing Address

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. Click on 'Order detail (loupe with + sign)'
3. See  VAT number is missing

**Screenshots**

If applicable, add screenshots or screen recordings to help

[2021-01-14 12:35] mateusz-szafraniec opened #22831 "VAT number in OrderPreview is missing"
#### Describe the bug

In new version - 1.7.7.1 VAT number in OrderPreview is not dispalyed.

#### Expected behavior

There should be a VAT number in Invoicing Address

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. Click on 'Order detail (loupe with + sign)'
3. See  VAT number is missing

**Screenshots**

If applicable, add screenshots or screen recordings to help

[2021-01-14 12:50] #22829 closed, assigned to nobody

[2021-01-14 12:51] florine2623 commented on #22831
Duplicate of 22830

[2021-01-14 12:51] #22831 closed, assigned to nobody

[2021-01-14 12:56] KrisDV-GH opened #22832 "Missing field 'price' in google search Prestashop 1.7.7.x"
Since the upgrade to prestashop version 1.7.7.x using default theme Google search reported missing field 'price'

This code in product-prices.tpl returns an empty value for the content on the product page;

      <div class="current-price">
          <span itemprop="price" content="{$product.rounded_display_price}">{$product.price}</span>

  =>

      <div class="current-price">
          <span it

[2021-01-14 13:10] florine2623 commented on #22830
Hello @mateusz-szafraniec ,

DO you have a screenshot of the VAT not displaying ?
Thanks!

[2021-01-14 13:12] #22739 closed, assigned to NeOMakinG

[2021-01-14 13:14] florine2623 commented on #22832
Hello @KrisDV-GH ,
Could you send a screenshot of the issue on the shop ?
In my case, prices are displayed in product page.
Thanks

[2021-01-14 13:20] mateusz-szafraniec commented on #22830
Sure,
In this example VAT no is 12345678
![Zrzut ekranu 2021-01-14 141710](https://user-images.githubusercontent.com/6404022/104595970-9cfd3600-5673-11eb-92b9-27fec92848b3.png)
![Zrzut ekranu 2021-01-14 141736](https://user-images.githubusercontent.com/6404022/104595973-9d95cc80-5673-11eb-95d4-d3781c691171.png)

[2021-01-14 13:22] kpodemski commented on #22830
It seems like VAT is missing on order view page, not in order preview?

[2021-01-14 13:22] mateusz-szafraniec commented on #22830
Yes, correct

[2021-01-14 13:26] KrisDV-GH commented on #22832
Correct, prices are properly displayed in the shop but in the page source the value for content is empty => ("")

[2021-01-14 13:28] florine2623 commented on #22832
OK, do you have the steps so I can reproduce the issue ?

[2021-01-14 13:34] kpodemski commented on #22830
Ok, you're right. I'll take on this.

cc @florine2623 @khouloudbelguith @hibatallahAouadni

I suggest to add this to 1.7.7.2 as it's quite important and it's regression from 1.7.6

[2021-01-14 13:39] LMCreation opened #22833 "hookDisplayBeforeCarrier bad $param."
**The function hookDisplayBeforeCarrier($param) give a bad $param**

#### Expected behavior

Normally the $param should return an array :
`array: [ "carrier" => [] 'verified' => (int) indicated the selected carriers,
delivery_option_list '=> [],
'delivery_option' => []
]
`

when i dump the $param unfortunately I have this: :
array:  ["cart" => Panier {}
  "cookie" => Cookie {}
  "altern" => 1
]
##

[2021-01-14 13:43] Progi1984 commented on #21200
Need check before closing

[2021-01-14 13:57] kpodemski commented on #21294
@Progi1984

I think we can use this one:
https://github.com/z3by/block-merge-commits-action

?

[2021-01-14 13:58] KrisDV-GH commented on #22832
Steps to reproduce the issue are, open any prestashop demo using 1.7.7.x and open a product page, right click on blank space on the page and via page source. The source will contain below code;

<div class="current-price">
      <span itemprop="price" content="">€ 14,95</span>

              </div>

Note that content="" has no value inside, the corrct value would be content="14.95"

[2021-01-14 14:02] florine2623 commented on #22830
Thanks @kpodemski , I'll add this to the debug roadmap !

[2021-01-14 14:04] Progi1984 commented on #21294
Great idea @kpodemski

[2021-01-14 14:46] papich06 commented on #22719
Hello @florine2623
thank you but the condition of the "new" product is different from its "reconditioned" condition

how to change the label and / or assign and display the good status?

[2021-01-14 14:58] dhanpreet452 commented on #22799
I truncated ps_address table and issue went away

[2021-01-14 15:13] florine2623 commented on #22833
Hello @mopi007 ,

Do you have the zip of the example module to test this issue ?
Thanks

[2021-01-14 15:14] PierreRambaud commented on #21104
I agree, if we disable the Cache, we should have no cache, it's a bug, not an improvement :thinking:

[2021-01-14 15:15] mopi007 commented on #22833
yes ;)
[testmodule.zip](https://github.com/PrestaShop/PrestaShop/files/5815234/testmodule.zip)

[2021-01-14 15:18] mopi007 commented on #22833
sorry, I did many test , this one is better :
[testmodule.zip](https://github.com/PrestaShop/PrestaShop/files/5815245/testmodule.zip)

[2021-01-14 15:21] PierreRambaud commented on #22790
AFAIK, Monaco has nothing related to France, even if the VAT is the same :thinking:
If yes, it has to be managed like any other country zone.

[2021-01-14 15:21] mopi007 commented on #22833
To be sure, I had make it with this : https://validator.prestashop.com/generator
and i changed some code to test the 'bug" .
But in first i had see the "bug" with another module.

[2021-01-14 15:25] LouiseBonnard commented on #22790
@PierreRambaud, thank you, it confirms my doubt. @micka-fdz, do you feel like creating the Monaco localization pack?

[2021-01-14 16:09] prestascott commented on #22442
I just updated the design for the Cart Rules page and added the Description column right next to the Name column.
You can find the mockups [here](https://www.figma.com/proto/vFA252C7vHmMKc3gcnMkKw/Scott-Cart-Rules-migration?node-id=0%3A2&scaling=min-zoom).

[2021-01-14 16:15] yannicka opened #22834 "Contact form: hide subject/contact if there is only one"
#### Is your feature request related to a problem?

On the contact form, I only have one contact, the field brings no added value.

#### Describe the solution you'd like

Hide the field is there is only one contact.

#### Alternatives you've considered

Have an option to show / hide the field.

#### Additional context

PrestaShop 1.7.7.0

[2021-01-14 16:21] florine2623 commented on #22834
Hello @yannicka ,
Please stay tuned as the product team will decide on that matter.
Thanks!

[2021-01-14 16:23] florine2623 commented on #22834
Ping @PrestaShop/product-team ,

@yannicka would like to have this field hidden on the contact form when only one contact exists :
![Capture d’écran 2021-01-14 à 17 21 25](https://user-images.githubusercontent.com/16019289/104618507-16ede900-568d-11eb-9f03-6c613be8fb0e.png)
What do you think ?

[2021-01-14 16:46] Maofree opened #22835 "A solution to solved the problems with microdati on product pages - to show: stars rate, price and availability on organic searches"
Hi
you know me and you how I'm fixed with these microdata. My customer ask me how to show stars rate, price and availability on organic searches like other websites. I've tested with his website. After some tests I've found that the problem is due from the microdata presente in the other product blocks like those of product category module or crossing.
they add confusion in the product pages, beca

[2021-01-14 16:49] PeeyushAgrawal opened #22836 "Multiple orders can't be tracked properly when using different carriers"
#### Describe the bug

There are two product which has different shipping methods now if a guest place the order with these two products then guest is not able to follow both orders (orderreference#1  and orderreference#2) through the guest tracking page always getting open orderreference#1

#### Expected behavior

If the guest enter orderreference#1 then this order (# 1) details should visible an

[2021-01-14 16:54] florine2623 commented on #22833
Did you add the function to the zip of the module you sent ?
Could you add it so I can see exactly what is on your screenshot ?

[2021-01-14 17:20] sarahdib opened #22837 "Error on module when check update"
#### Describe the bug

Error on module when check update

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to module manager
2. Click on 'configure (any module with this button
3. Click on "check update"
4. See error

**Screenshots**

https://drive.google.com/file/d/1bYf-HhtZcl-shaSh67LtOHJkegEBJk5p/view

#### Additional information

* PrestaShop version: develop
* PHP version: 7.1

[2021-01-14 17:29] florine2623 commented on #22836
Hello @PeeyushAgrawalWebkul ,

Thanks for the detailed issue.
I was able to reproduce the issue with PrestaShop version 1.7.7.1 and PS 1.7.6.5. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-01-14 17:30] matks commented on #22819
No worries, it happens 😄  we know sometimes the frustration is too high and we are all humans here.

We are making it more and more mandatory to use Composer because in 2021 it becomes hard to be able to stay relevant with PHP ecosystem without using it. If you want to contribute to the Core or to some modules like ps_facetedsearch it is really mandatory. But I don't think it's so complex? 😊  For

[2021-01-14 17:35] matks commented on #22819
Now I think I remember something similar. https://github.com/PrestaShop/PrestaShop/issues/22399 mentions the same error message I believe `Call to private method Autoupgrade::registerHookAndSetToTop() from context`

OK so I check https://github.com/PrestaShop/PrestaShop/issues/22399 deeper and it might mean that the **autoupgrade module is unable to upgrade itself because of this issue**. So what

[2021-01-14 17:36] matks commented on #22399
@PrestaShop/product-team As mentioned in https://github.com/PrestaShop/PrestaShop/issues/22819 now that people are upgrading to PS 1.7.7 it might be urgent to process this issue because (to be confirmed by QA) I believe "everybody that has installed module autoupgrade before and now tries to update it will see the upgrade process fail" (see details in https://github.com/PrestaShop/PrestaShop/issue

[2021-01-14 17:58] Marcelozippo commented on #22822
784 / 5000
Resultados de traducción
Hello, I think it is not duplicated, because # 22250 talks about updating to version 1.7.7.0 and I am trying to update to 1.7.7.1 and prestashop on this website says that that was already solved
https://build.prestashop.com/news/prestashop-1-7-7-1-maintenance-release/
---
Core

* Behat tests: Reset static cache of all object models between feature tests
* Upgrad

[2021-01-14 18:11] micka-fdz commented on #22790
Yes @LouiseBonnard I can try to create Monaco localization pack but I don’t understand why.

In my PR, I just added Monaco country inside tax rules of all European countries. In this way, if we import French localization pack (or install PS in French) orders to Monaco will have the VAT applied.

[2021-01-14 18:11] ProteanCode opened #22839 "Upgrading from 1.7.7.0 to 1.7.7.1, require(/var/www/html/vendor/composer/platform_check.php) failed to open stream: No such file or directory"
During update of stock prestashop 1.7.7.0 to 1.7.7.1 i have lot of these warnings.
Dunno if I should bother, but these warning exists so I post this as an issue.

Built with PHP 7.4 alpine 3.12 docker image (not prestashop one)

[2021-01-14 18:14] ProteanCode commented on #22839
Aaaaaaaaaaaaaaaaaaand I do have PHP_WARNING after the update

Warning: require(/var/www/html/vendor/composer/platform_check.php): failed to open stream: No such file or directory in /var/www/html/vendor/composer/autoload_real.php on line 25
Call Stack
#	Time	Memory	Function	Location
1	0.0001	413032	{main}( )	.../index.php:0
2	0.0001	415944	require( '/var/www/html/config/config.inc.php' )	.../index

[2021-01-14 18:17] ProteanCode commented on #22839
Ok. Thanks to my git repository I can see that these files were updated:
* LICENSE
* composer.lock
* vendor/autoload.php

Why on the earth upgrading prestashop (even the stock version) never goes fluent

[2021-01-14 18:21] ProteanCode commented on #22839
https://php.watch/articles/composer-platform-check

I have Composer version 2.0.8 2020-12-03 17:20:38 installed on my server in my /usr/local/bin

I guess this is a problem for prestashop. Does it use a some composer phar library in v1?

[2021-01-14 19:22] mvorisek opened #22840 "Tests must not rely on hardcoded "test_" database prefix"
#### Describe the bug

Tests must not rely on hardcoded "test_" database prefix. In some enviroments, even locally/for testing, database name can not be choosen by developer and thus any modification like adding a prefix is not possible.

#### Expected behavior

Configured database name is used 1:1.

#### Steps to reproduce
Dockerfile to replicate:
[code]
#### Screenshots
I am getting the followin

[2021-01-14 23:51] iliankirov opened #22844 "Product page on BO - missing area with Save button and other missing or not working areas"
#### Describe the bug

When try to update product information on BO > Catalog > Product:
- the images area doesn't work, and it don't look as usual (there is a text above the images previews), notting happened when click in add image button, can't rearange images, can't remove images, can't change cover image.
- the "Combinations" tab is missing in tab area;
- the "Delete" buttons in Features ares

[2021-01-15 00:05] MatShir commented on #22825
I was able to reproduce the issue with PrestaShop version 1.7.7.
I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please don't hesitate to propose a Pull Request. We will happy to review your contribution.
Thank you!

[2021-01-15 03:56] PeeyushAgrawalWebkul commented on #22836
@florine2623 Yes, i have fixed it on my end and will send a pull request soon.

[2021-01-15 07:30] yannicka commented on #22844
This is a common problem: you only allow 128 MB of RAM (in "Memory limit").

PrestaShop recommends a minimum of 256 MB: <https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/>.

[2021-01-15 08:14] florine2623 commented on #22844
Hi @iliankirov ,

Please make sure your server config meets all PrestaShop's requirement by following @yannicka 's link.
Thanks!

[2021-01-15 08:14] #22844 closed, assigned to nobody

[2021-01-15 08:16] florine2623 commented on #22840
Hello @mvorisek ,
What are the steps to reproduce your issue ?
Thanks!

[2021-01-15 08:22] mvorisek commented on #22840
Create a user and grant permissions to one specific database name. Currently, PrestaShop prefix this database name which leads to permission issue (as the new database name is not allowed to be accessed by that user).

[2021-01-15 08:46] mopi007 commented on #22833
Many thanks for taking care of this ; ). I really think there is a problem.
Here is an ultra simplified version, that I re-made, of the test module. I re-tested it before sending it to you. You will see the same as in the screenshot.
[testmodule.zip](https://github.com/PrestaShop/PrestaShop/files/5819347/testmodule.zip)

[2021-01-15 09:03] florine2623 commented on #22839
Hello @ProteanCode ,

PHP 7.4 is not compatible with PrestaShop 1.7.7.1.
Please check the server config requirements here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please revert changes and do it again with PHP 7.3.

Thanks

[2021-01-15 09:03] #22839 closed, assigned to nobody

[2021-01-15 09:04] mopi007 commented on #22833
Just test It whith php 3.20 = same bug.

[2021-01-15 09:13] kpodemski commented on #22833
I can confirm that this is indeed a bug and change when you compare 1.6 and 1.7, documentation is also outdated:
https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/

![image](https://user-images.githubusercontent.com/2137763/104705539-4e56a700-571a-11eb-9e8a-f5a439622f16.png)

[2021-01-15 09:14] florine2623 commented on #22835
Hello @maofree ,

Just to be sure, what you're saying is to remove all microdata from :
_classic/templates/catalog/_partials/miniatures/product.tpl
also from some tpl files of productcomment module_
in order to get Google to show the rate, price and availability on the organic search ?

Thanks!

[2021-01-15 10:19] maofree commented on #22835
Hi
It depends on your theme and its version, however it is necessary to use this tool to understand what is necessary to remove
https://search.google.com/structured-data/testing-tool
if the product page has many Product itemtype the theme you need to remove all microdata tags from product.tpl, normally in the extra themes there are some type of product.tpl like for carousels but it should be simil

[2021-01-15 10:21] maofree commented on #22835
if you remove the micro tags inside product.tpl you will get errors because the productcomment the aggregator tags

[2021-01-15 10:38] Robin-Fischer-PS commented on #22399
Hi,

I tried with a 1.7.2.4 fresh install, with 4.8.0 autoupgrade module (downloaded here https://github.com/PrestaShop/autoupgrade/releases/tag/v4.8.0).
The upgrade of the module from 4.8.0 to 4.11.0 went fine, BUT the displayed version in the BO is not modified, and the upgrade buttons is still displayed after upgrade to 4.11.0.
The upgrade process via autoupgrade from 1.7.2.4 to 1.7.7.1 is OK (

[2021-01-15 11:19] Marta99 opened #22846 "Problem with faceted search module, no appear the second image product"
#### Describe the bug

I've implemented an overmouse to see a second product image. In the main menu works correctly, but in the categories there is a problem when the faceted search is active, so with the overmouse the second image is not shown.
When I disable the module, it works correctly.

#### Expected behavior

With the faceted search module active i want to see the second image when the mou

[2021-01-15 11:19] kpodemski opened #22847 "I want to have class or data-attribute with identifier value in Grid table row"
#### Is your feature request related to a problem?

It's addition for module developers.

#### Describe the solution you'd like

`data-identifier="foo"` or `class="identifier_foo"`

![image](https://user-images.githubusercontent.com/2137763/104718570-5ec34d80-572b-11eb-8e06-4ea8fc97f491.png)

#### Alternatives you've considered

n/a

#### Additional context

I'd like to trigger some JS actions on

[2021-01-15 11:33] florine2623 commented on #22846
Hello @Marta99 ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2021-01-15 11:33] #22846 closed, assigned to nobody

[2021-01-15 11:44] kpodemski opened #22848 "Hooks before and after Grid table"
#### Is your feature request related to a problem?

Avoid overrides.

#### Describe the solution you'd like

For developers. I want to be able to add dynamic content in selected places.

![image](https://user-images.githubusercontent.com/2137763/104723239-42291480-572f-11eb-9557-f5461314263d.png)

#### Alternatives you've considered

- overrides, but you need to maintain it from version to version

[2021-01-15 11:55] maofree commented on #22835
the fact is that to make stars, availability and price appear, there is only one Product per page, so either you remove all the Products of secondary products or that they have a different type of microdata, the important thing is that it does not add errors as ItemList because microdata are now considered

[2021-01-15 12:27] pytelCZ opened #22850 "1.7.7.0 redisplay cart at login - lastNoneOrderedCart function"
After enable redisplay cart at login, it doesn't work for me.

I was digging at it and i think, it can't work, because in function lastNoneOrderedCart  in SQL there is condition c.`id_guest` != 0

How can be the id_guest != 0 if customer exists and id_customer is filled? Don't have any one record in ps_cart table, where id_customer !=0 and id_guest !=0

It doesn't make sense, or am I missing somet

[2021-01-15 12:35] HartLarsson opened #22851 "Add a new field "Email Confirmation" on "Create Account" page"
#### Is your feature request related to a problem?

There aer many times customers add an account using a wrong email. This will make all the following order process very complicated forcing the Administrator to modify manually the email in user account profile.

#### Describe the solution you'd like

Adding a second Email confirmation field in the create account form will solve this problem, or a

[2021-01-15 13:00] abdessalem-woopa commented on #14184
I think there is a regression on prestashop 1.7.7.0
I am experiencing the same issue

[2021-01-15 13:01] Progi1984 commented on #21832
Remain an unchecked label  ;)

[2021-01-15 13:03] SimonGrn commented on #22850
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-01-15 13:03] #22850 closed, assigned to nobody

[2021-01-15 13:05] florine2623 commented on #22851
Hi @HartLarsson ,

Thanks for the suggestion, please stay tuned as I ping our product team.

[2021-01-15 13:06] florine2623 commented on #22851
Ping @PrestaShop/product-team ,

 Do you think this could be implemented on the customer registration page ?
 Thanks!

[2021-01-15 13:22] Progi1984 opened #22852 "Add a check for microdata"
#### Is your feature request related to a problem?

We have regularly problem with structured data on front (#22835)

#### Describe the solution you'd like

We should add a check (Github Action) which check that microdatas are valid on front office.

Tool : https://www.npmjs.com/package/structured-data-testing-tool

[2021-01-15 13:39] florine2623 commented on #22848
Ping @PrestaShop/prestashop-core-developers & @PrestaShop/product-team

@kpodemski is suggesting adding new hooks, what do you think ?

[2021-01-15 13:45] Kerami82 opened #22853 "Products in orders are shown in reverse order (from last to first product)"
When I update my shop to 1.7.7.1 products in orders are shown in reverse order. This is problem becouse when I download them to an external inventory management, the order is different.

How to check this:
As client add to cart product 1, then product 2. Make order. Go to this order in BO. Product 2 is on first place, and product 1 on second place. In order confirmation email order of products is

[2021-01-15 13:54] Kerami82 opened #22854 "Reference number of product is incorrect in Shopping Carts"
When I check Shopping Carts (NOT orders) the reference of products in all shopping carts are wrong (there is product name instead reference). This problem is also in official demo of prestashop 1.7.7.1.
In orders this problem don`t exists. Only shopping carts are affected.

To check this go to https://demo.prestashop.com/#/en/back, then Orders > Shopping Carts. Check cart and list off products in

[2021-01-15 13:59] florine2623 commented on #22847
Ping @PrestaShop/product-team & @PrestaShop/prestashop-core-developers ,

What do you think about @kpodemski 's idea ?
Thanks!

[2021-01-15 14:00] Kerami82 commented on #22853
<img width="957" alt="shoping cart" src="https://user-images.githubusercontent.com/37613614/104735808-588c9b80-5742-11eb-8074-421c29662a4b.png">
<img width="948" alt="order" src="https://user-images.githubusercontent.com/37613614/104735811-59bdc880-5742-11eb-94a9-afb794c00764.png">

[2021-01-15 14:01] PululuK commented on #22848
Nice idea 💡
Thanks @kpodemski
Maybe add controller name in hook params ?

[2021-01-15 14:03] Kerami82 commented on #22854
<img width="956" alt="reference" src="https://user-images.githubusercontent.com/37613614/104736172-de104b80-5742-11eb-95c7-0f9d835e8613.png">

[2021-01-15 14:04] florine2623 commented on #22853
Hello @Kerami82 ,

I was able to reproduce the issue with PrestaShop version 1.7.7.1. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

In shopping cart, the product reference is the name of the product instead of the product reference.

![Capture d’écran 2021-01-15 à 15 02 24](https:/

[2021-01-15 14:06] florine2623 commented on #22854
Hello @Kerami82 ,

I was able to reproduce the issue with PrestaShop version 1.7.7.1. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

In shopping cart, the product reference is the name of the product instead of the product reference.

![Capture d’écran 2021-01-15 à 15 02 24](https:/

[2021-01-15 14:16] florine2623 commented on #22853
Hello @Kerami82 ,

I was able to reproduce the issue with PrestaShop version 1.7.7.1. It's a regression, 1.7.7.0 didn't have this issue.
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-01-15 14:18] fsoabsix commented on #22668
Hi, i upgrade my shop in a test server from 1.6.1.24 to 1.7.7.1, i have the same problem...

[2021-01-15 14:40] #21294 closed, assigned to kpodemski

[2021-01-15 16:05] jean-io opened #22857 "Checkout not worcking after upgrade (Uncaught TypeError)"
Hi

After upgrading from 1.7.6 to 1.7.7 I got a HTTP 500 error on checkout. In logs I get the following error:

[code]

The strange thing is that even if the server return a 500 error, it still sends the whole page but there is no space for payment information so clients cannot proceed to checkout:
![image](https://user-images.githubusercontent.com/4070933/104749854-95ad5980-5753-11eb-87b9-0d4f1a4

[2021-01-15 16:31] boubkerbribri opened #22858 "[ps_legalcompliance] - Link 'Add new page' does not work"
#### Describe the bug

Error displayed when clicking on 'Add new page' link

#### Expected behavior

Redirection to CMS page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install ps_legalcompliance module
2. Go to configuration page
3. Click on 'Add new page' link on legal content manager form
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/4844142

[2021-01-15 18:24] hibatallahAouadni commented on #22852
Hello @Progi1984

A brilliant idea 🙌👏 if we apply this solution, all @maofree issues related to SEO will be fixed.

Ping @PrestaShop/prestashop-core-developers can we add this feature to GitHub?

[2021-01-15 18:25] Progi1984 commented on #22852
If @PrestaShop/prestashop-core-developers are ok, I will do it.

[2021-01-15 18:39] hibatallahAouadni commented on #22857
Hello @jean-io

Could you please specify which version you updated to, 1.7.7.0 or 1.7.7.1?

Did you encounter any warnings or errors while upgrading? And which 1-click upgrade module version did you use?

Please check and feedback.
Thanks!

[2021-01-15 18:41] idiamin777 commented on #22770
In the meantime the error was solved. The problem came through an upgrade of a design modul same time with upgrading to 1.7.7. The modul designer/programmer went all the way and more to find and change the fault i code.

Thanks a lot

[2021-01-15 18:49] hibatallahAouadni commented on #22442
@MatShir @prestascott Thanks guys for your hard working 🚀

So I changed the issue status to **`To Do`** if you think that it still need specs just change it to **`TBS`** 😉

Thanks!

[2021-01-15 18:52] hibatallahAouadni commented on #22799
Hello @dhanpreet452

Glad that you solved your issue but it's weird behavior 😕
Did you upgrade your shop lately?

Please check and feedback.
Thanks!

[2021-01-15 18:55] maofree commented on #22852
Hi @Progi1984
if you want I can give you some suggestions about these product microdata

to add new micordata in product-prices.tpl you can add these lines

`        <link itemprop="availability" href="{$product.seo_availability}"/>
        <link itemprop="itemCondition" href="http://schema.org/NewCondition"/>
        <meta itemprop="priceCurrency" content="{$currency.iso_code}">
        <meta ite

[2021-01-15 19:01] hibatallahAouadni commented on #22809
Hello @barda

To be honest they're not exactly "meet" 😅 you need to maximize your PHP configuration to meet the recommended values and to give fully access to the Directories mentioned above (var/cache, var/logs, ...).

Could you please check and feedback.
Thanks!

[2021-01-15 20:47] jean-io commented on #22857
Hi @hibatallahAouadni

I upgraded to 1.7.7.1. I did it manually, to do so I used this documentation: https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/

They were some warnings when I upgraded the database but nothing looked critical, I did not keep these messages.

Thank for the help 🍺

[2021-01-15 20:52] rb101010 opened #22860 "i set price show only for user registred group but show on google images"
#### Describe the bug

hi, i have set customer group in way that only registred user can view price, and this works fine on site, but i noted that when i search product on google images it show also price...

how i can fix this ?

i have ps  1.6  (at this moment i cant update to 1.7)

thanks for all support
#### Expected behavior

hide price in google images search

#### Steps to Reproduce

**Scre

[2021-01-15 22:02] SimonGrn commented on #22860
Hello,

PrestaShop 1.6 is no longer supported.

Thank you for your understanding.

[2021-01-15 22:02] #22860 closed, assigned to nobody

[2021-01-15 22:24] iliankirov commented on #22844
Thank you for all your advices! I tryed the things that you adviced me. I tested with the changes of memory_limit directive, setting it on : 256M, 512M, 1024M, but there was no changes. Now it's set on 512M, the cashe is cleared a lot of times, but the page works in the same way.

Here is all the directives, that I changed:
memory_limit = 512M      ;
max_execution_time = 700     ;
max_input_time =

[2021-01-15 22:59] hibatallahAouadni commented on #22857
Hello @jean-io

Could you please check **BO>IMPROVE>Modules>Module Manager** all your payment modules if they need to be upgraded, and check if the issue still persist.
If so, please disable all your payment modules but the default ones (Payment by Bank Wire, Payment on Delivery, ...) and then check if the problem still persist.

Please check and feedback.
Thanks!

[2021-01-16 05:04] LeLeCS opened #22862 "After upgrade to 1.7.7 clicking on some orders in BO result in a symfony error - OrderMessageForViewing construct must be of the type string, null given"
#### Describe the bug

**All old** orders (details) can be opened without problem from BO, while **some** new orders opened with this error, while their invoices opened fine. Some new orders can be opened normally, no error.
Have a net installation of PS 1.7.7.0 firstly, then manually one by one import webfiles and sql data from PS 1.6.1.24, all work fine but this error appeared. Clicking some ord

[2021-01-16 09:24] rb101010 commented on #22860
ok, thanks for your reply!
there is a section for ps 1.6 with old problem where i can search if there are some similar to my problem?

[2021-01-16 14:37] kpodemski commented on #21294
@Progi1984 is there any reason to assign me after something is merged? 🤔

[2021-01-16 17:53] dali-rajab opened #22864 "displayBanner is not in the DB anymore"
#### Describe the bug

I can't find the "displayBanner" hook in this list, and thats for all modules (& widgets)

![modulespos](https://user-images.githubusercontent.com/39015823/104818964-0d01ec80-582b-11eb-85bd-fab754cc3ab8.jpg)

#### Hints

this function (which fetch the ${_PREFIX_}hook table) dont get the "displayBanner" hook :
[code]
Its because the DB table  **${_PREFIX_}hook** dont contain

[2021-01-16 18:25] WS-NL opened #22865 "please delete"
sorry please delete

[2021-01-16 21:57] dhanpreet452 commented on #22799
@hibatallahAouadni no i am developing new shop :/ . I am not able to reproduce as well so i am closing it .

[2021-01-16 21:57] #22799 closed, assigned to nobody

[2021-01-16 22:11] ibrahimfsasmaz commented on #22756
there nothing like "Consider order finished"

[2021-01-16 22:12] ibrahimfsasmaz commented on #22756
where can I create the bug report pls

[2021-01-17 00:34] ruchus opened #22866 "Different domain for different languages"
#### Is your feature request related to a problem?

We're planning to migrate to Prestashop from Magento because magento is so complicate and a lot of features we don't need. In addition, in spain is easyer find PS experts than no for magento and we think it can be useful and good because we need to customize a lot.

But, is mandatory for us to use different URLs for different languajes. It's good

[2021-01-17 11:06] hibatallahAouadni commented on #22756
hello @ibrahimfsasmaz

Just right here :wink:
Edit your issue description and add these blocks:

- describe the bug
- expected behavior
- steps to reproduce
- php version

Then submit :tada:

Thanks!

[2021-01-17 11:07] hibatallahAouadni commented on #22799
Hello @dhanpreet452

Glad to know :tada:
If you encounter any other issue with your PS shop please feel free to open a new one :wink:

Thanks!

[2021-01-17 11:14] hibatallahAouadni commented on #22770
Hello @idiamin777

Glad to hear that problem is not from PS Core :tada:
I close this issue. If you encounter any other problem with your shop, feeel free to open a new issue.
We will be glad to investigate it.

Thanks!

[2021-01-17 11:14] #22770 closed, assigned to nobody

[2021-01-17 12:46] hibatallahAouadni commented on #22816
Hello @mrl22

I followed your steps and yet I didn't manage to reproduce the issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1sVO35YT7rp1WbMgKniHmJppuE7pjZXWO/view

Please check and feedback.
Thanks!

[2021-01-17 13:06] hibatallahAouadni commented on #22775
Hello @Art3c

It's weird :confused: you encountered the same issue while upgrading your shop to 1.7.7.0 (#22248)
This issue has been fixed with 1.7.7.1, and even I didn't encounter it :confounded:

Well, could you please check my comment in your old issue [here](https://github.com/PrestaShop/PrestaShop/issues/22248#issuecomment-751258880) and follow my steps to resolve the problem manually.
Sorry

[2021-01-17 13:08] hibatallahAouadni commented on #22388
Hello @tom75 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-17 13:08] #22388 closed, assigned to nobody

[2021-01-17 13:08] Hlavtox commented on #22851
@HartLarsson We used it for 2 years and went back to single email field...
The concept is good, but if people have autofill enabled, it fills the same bad email again.
If you disable autocomplete for the confirm field, people are angry that they need to type the email twice. 😞

[2021-01-17 13:09] hibatallahAouadni commented on #22598
Hello @emanborg ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-17 13:09] #22598 closed, assigned to nobody

[2021-01-17 13:10] hibatallahAouadni commented on #22603
Hello @pearpl ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-17 13:10] #22603 closed, assigned to nobody

[2021-01-17 13:14] Hlavtox opened #22867 "Move structured data to a separate file"
#### Is your feature request related to a problem?

Currently, all microdatas are managed in their respective templates of the markup they aim to enrich, this leads to several things :
- It's harder to maintain, because there are a lot of files to inspect in order to change these
- It's harder to override from a template, because the template needs to override tons of tpl files, and it leads to ma

[2021-01-17 13:41] #22865 closed, assigned to nobody

[2021-01-17 15:24] hibatallahAouadni commented on #10096
Ping @PrestaShop/product-team what's the status of this feature? is it **`To Do`**?

[2021-01-17 15:27] idiamin777 commented on #22770
Thanks 😊

Fra: Hibatallah Aouadni <notifications@github.com>
Sendt: 17. januar 2021 12:14
Til: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: idiamin777 <arr@scandivision.com>; Mention <mention@noreply.github.com>
Emne: Re: [PrestaShop/PrestaShop] Can not access old orders after upgrading from 1.7.6 yo 1.7.7. (#22770)

Hello @idiamin777 <https://github.com/idiamin777>

Glad to hear that

[2021-01-17 15:31] hibatallahAouadni commented on #14405
Ping @PrestaShop/prestashop-core-developers I put **`TBS`** as status but if it's **`To Do`**, please change it :sweat_smile:

[2021-01-17 15:35] elburgl69 opened #22868 "Ordering Catalog Price Rules"
#### Is your feature request related to a problem?

The first qualifying Catalog Price Rule is applied to products. I really get frustrated recreating rules to reorder them.

#### Describe the solution you'd like

An 'order' column must be added to specific_price_rule, that allows ordering of the rules. And add the order column to AdminSpecificPriceRuleControllerCore list (in Constructor).

Make s

[2021-01-17 15:57] hibatallahAouadni commented on #19620
Related to this issue #12078

[2021-01-17 15:58] HartLarsson commented on #22851
well you can have many features enabled (also auto fill passowrd tools) but this is not a valid reason to avoid the double email.
The accoutn registration don't have any process to confirm or not the validity of the email like:

1) email sent with a link to confirm the account
2) double email field
3) other kind of validation.

If the user type the wrong email they will not be able to recover the

[2021-01-17 16:11] hibatallahAouadni commented on #19281
@matks could you please check this issue #13698
I think it's similar to yours :wink:

[2021-01-17 17:01] Hlavtox commented on #22851
@HartLarsson It's not rare, there are several cases a week when we change the email...

But, in my opinion, the obstruction for other customers is bigger. The checkout process must be as comfortable as possible. Does anybody even use the default prestashop checkout? 😁

[2021-01-17 17:04] hibatallahAouadni commented on #18806
Ping @PrestaShop/product-team @prestascott friendly reminder :wink:

[2021-01-17 17:04] Seb33300 opened #22869 "Search by ISBN"
#### Describe the bug

It looks like the search form is not able to find product when searching by ISBN.

We are creating an online shop to sell books and entering an existing ISBN number in the search form return no result.

#### Expected behavior

When searching for products, if you know the ISBN and enter it in the search bar, you can find the product.

#### Steps to Reproduce

Steps to reprodu

[2021-01-17 17:56] hibatallahAouadni commented on #19527
Ping @PrestaShop/prestashop-core-developers friendly reminder :wink:
I think we have the Product Team approval and we need yours.

[2021-01-17 18:08] hibatallahAouadni commented on #14018
Hello @prestascott

I definitely like your proposition :clap: It's a brilliant idea to combine these two components and delete that space:

![image](https://user-images.githubusercontent.com/23308427/104851749-2bcdb500-58f7-11eb-9ffe-91ffc3dd53e2.png)

Ping @PrestaShop/product-team  @sarjon @Hlavtox do you agree with me?

[2021-01-17 18:16] Hlavtox commented on #14018
Hi everyone!

@prestascott Sorry for not answering. On second thought, I agree to keep bulk actions on the top also, because when you want to do something with all items, you don't have to scroll down... I would try to find a place for it for top and bottom.

[2021-01-17 18:22] hibatallahAouadni commented on #19009
Ping @PrestaShop/prestashop-core-developers what's the status of this issue?

[2021-01-17 18:43] hibatallahAouadni commented on #14018
Hello @Hlavtox

Didn't you like the idea to combine the **select all** with the **bulk actions** button suggested by @prestascott

![image](https://user-images.githubusercontent.com/23308427/104852567-07c0a280-58fc-11eb-8b1d-2f84b8afc02a.png)

Please check and feedback.
Thanks!

[2021-01-17 19:23] Hlavtox commented on #14018
@hibatallahAouadni @prestascott It's goood, but I think that unless you really know about it, you would never find it. And I can't think of a better solution, but there must be some... 😄

- I would keep the whole big bulk actions button on the bottom.
- To the top, we must think of some solution like @prestascott did, but can we make it somehow more readable? Space wise, its perfect!

[2021-01-17 19:34] hibatallahAouadni commented on #20185
Ping @PrestaShop/product-team friendly reminder :wink:
What's the status of this issue?

[2021-01-17 19:51] hibatallahAouadni commented on #14018
@Hlavtox you're right :confused: how about this, check the screen record below:

https://drive.google.com/file/d/1J0L9LECpcr0e30uFJ4hSy3o6y8ChfmsJ/view

Well, it's my humble proposition :sweat_smile:
@prestascott I wish you like it :relaxed: (we may change the icon into somthing else if you would like :wink: )

[2021-01-17 20:15] hibatallahAouadni commented on #22608
Hello @mangi-1 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: @aded glad to know that you solved your pb :tada: but you should check your access rights on the Cache folder too :wink:

Thanks!

[2021-01-17 20:15] #22608 closed, assigned to nobody

[2021-01-17 20:22] hibatallahAouadni commented on #22869
Hello @Seb33300

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-01-17 20:24] musicpanda commented on #22399
@Robin-Fischer-PS

When you upgrade the way you do - by choosing the "install module" option, then it indeed overwrites the module - except for the version number.  You do get the error message but it looks like the files are overwritten and so the problem goes away.

However, this doesn't apply when for example you go the Modules page in the backoffice and you click on "Upgrade" at the end of the

[2021-01-18 08:06] matks commented on #22809
Hi @hibatallahAouadni from the bug report I believe it might be interesting to check whether @barda buggy behavior can be reproduced 😉

maximum length of 767 bytes because in example customer_login index on
ps_customer table is on columns (email, passwd) which are utf8mb4 (=max 4
bytes) and varchar(255) (=max 255 characters) so the index prefix reaches
255*2*4=2040 bytes.

default and also the inn

[2021-01-18 08:12] Progi1984 commented on #21200
Closed with #22861 (a PR is created if the file is different, and the CI doesn't create a PR if a PR exists).

[2021-01-18 08:12] #21200 closed, assigned to Progi1984

[2021-01-18 08:31] hibatallahAouadni commented on #22809
Thanks @matks already done :heavy_check_mark:
Ping @PrestaShop/prestashop-core-developers could you please reproduce @barda issue :wink:
Thanks in advance.

[2021-01-18 08:36] hibatallahAouadni commented on #22867
Hello @Hlavtox

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , like the idea to have clearer code that's easy to edit and debug, but if we apply what @Hlavtox suggest will there be a BC?

[2021-01-18 09:00] Hlavtox commented on #14018
Yo @prestascott you got some competition right here 😄
@hibatallahAouadni That's better! What if you put a pencil or "three dot android menu" icon?

[2021-01-18 09:10] gennaris opened #22870 "Having two order states with the same name makes status name disappear in order list after order validation"
#### Describe the bug

Having two order states with the same name makes order status disappear in order list after order validation.

#### Steps to Reproduce

1 - Use the same name for two order statuses for the same id_lang

(this is already happening in some existsings translations like IT where "On backorder (paid)" and "On backorder (unpaid)" are both translated in "In attesa di rifornimento".

[2021-01-18 09:30] marionf commented on #10096
@hibatallahAouadni Don't know if it's still relevant
Wdyt @PrestaShop/prestashop-contributors ?

[2021-01-18 09:37] marionf commented on #22854
@florine2623 It seems to be a regression of the 1.7.7

[2021-01-18 09:46] PL4STER opened #22871 "new-theme office - mobile"
Hello, I have modified (added) custom entries to the office templates to improve responsiveness on mobile devices

[code]

A layman's fixes so there may be some mistake.

[2021-01-18 09:49] NeOMakinG commented on #22871
Hey

https://github.com/PrestaShop/PrestaShop/issues/22358

We're working on the responsive these days, it looks like we've worked on a lot of things you've modified there, maybe this won't be needed anymore :)

[2021-01-18 09:49] sarahdib opened #22872 "[UI-KIT] - Bug on dropdown in translation on click"
#### Describe the bug

Bug on dropdown in translation, all language are selected if  we click on a language in the dropdown

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Back office -> international -> translations
2. Click on the dropdown to choose a language to download or update
3. Scroll down to a language and click on it
4. See error

**Screenshots**

https://drive.goog

[2021-01-18 10:02] sarahdib opened #22873 "[UI-KIT] - bad display on switch button"
#### Describe the bug

There is a " * " before label of every switch button and sometimes there is a bad alignment

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Click on preferences (or another page with switch)
3. See error

**Screenshots**

<img width="1440" alt="Capture d’écran 2021-01-15 à 10 36 51" src="https://user-images.githubusercontent.com/3034677/104900431

[2021-01-18 10:06] hibatallahAouadni commented on #22868
Hello @elburgl69

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers  , it's a bit frustrating to figure out which one you want, it will be better to add an "order" column to cart rules. It will be easy to organise it :wink: do you agree with me?

[2021-01-18 10:10] MatShir commented on #14018
Initially, the bulk action was moved up because it was not a practical position under the list. Mainly for having to scroll down to do the actions and it was never noticed by the beginners. I will rather not to move down again after the feedback we gather. So I guess @prestascott and @hibatallahAouadni have to fight for the first solution and have a nice integration on the top of the list.

[2021-01-18 10:11] prestascott commented on #14018
Hey everyone,

@hibatallahAouadni That's a really nice proposition!
I understand that the arrow next to the checkbox in my proposition can look like a filter/sort but I don't think merchants will be confused by it because it will only appear when boxes are checked. So it's pretty much understandable that it's about editing rows they've selected. I can redesign my proposition and try to make the ch

[2021-01-18 10:17] Hlavtox commented on #14018
@MatShir @prestascott What do you think about my idea of putting it both top and bottom? Because when you leave it only on the top, it would drive the other group crazy 😄.

Maybe you are right about the arrow, if Google does it. Just sometimes you design stuff like it's for blind people, and this is like a PRO level interface 😄

[2021-01-18 10:25] hibatallahAouadni commented on #22866
Hello @ruchus

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , do you think it's a doable to add the domain management in PS? I think you can manage all your domains only server side :confused:

[2021-01-18 10:35] marionf commented on #22866
Hello @ruchus

You can use the multistore to do that and create a shop by language :)

Furthermore there are some modules allowing to do that: https://addons.prestashop.com/fr/recherche?search_query=language%20par%20domaine

Regards

[2021-01-18 10:35] #22866 closed, assigned to nobody

[2021-01-18 10:40] marionf commented on #20185
@hibatallahAouadni This issue needs to be specified

[2021-01-18 11:00] hibatallahAouadni commented on #22864
Hello @dali-rajab

Thanks for your issue. Yes, this hook hasn't been registered yet, it's missing in the hook.xml
But, it's already fixed for 1.7.8.x

This issue is a duplicate of #17606.
To be informed when it's released, please subscribe to the issue mentioned above.

Thanks!

[2021-01-18 11:00] #22864 closed, assigned to nobody

[2021-01-18 11:01] hibatallahAouadni commented on #22864
Duplicate of #17606

[2021-01-18 11:02] hibatallahAouadni commented on #22871
Hello @PL4STER

Thanks for your hard working :rocket:
But as @NeOMakinG mentioned we are already working on it :wink:

This issue is a duplicate of #22660.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-18 11:02] #22871 closed, assigned to nobody

[2021-01-18 11:03] hibatallahAouadni commented on #22871
Duplicate of #22660

[2021-01-18 11:05] ruchus commented on #22866
Hello @marionf

A feature like that would be have in PS core. Not as extension.
Pay for everything..... too much. On Magento is in the core.

Regards,

[2021-01-18 11:07] hibatallahAouadni commented on #22862
Hello @LeLeCS

Could you please check these issues, it seems similar to your #22386 & #22611
Please check and feedback.

Thanks!

[2021-01-18 11:13] hibatallahAouadni commented on #18806
@prestascott great proposition :rocket:
Ping @PrestaShop/product-team wdyt? shall we add **`To Do`** label?

[2021-01-18 11:18] LouiseBonnard commented on #22806
Hi @prestascott, @NeOMakinG, what's the status of this issue? Is it already a work in progress?

[2021-01-18 11:33] antoniocici commented on #10018
The issue is still present in the version 3.6.0 of the Faceted search module.

I've managed to solve the issue by modifing the file:

/modules/ps_facetedsearch/src/Product/Search.php

at line 147, modifing the source code from this:

[code]

to this:

[code]

and now it works well.

[2021-01-18 11:40] antoniocici commented on #12143
The issue is still present in the version 3.6.0 of the Faceted search module.

I've managed to solve the issue by modifying the file:

modules/ps_facetedsearch/src/Product/Search.php

at line 147, modifying the source code from this:

[code]

to this:

[code]

and now it works!

[2021-01-18 12:48] hibatallahAouadni commented on #17666
Duplicate of #17665

[2021-01-18 12:51] hibatallahAouadni commented on #11053
Duplicate of #19291

[2021-01-18 12:52] hibatallahAouadni commented on #19878
Duplicate of #20135

[2021-01-18 12:59] hibatallahAouadni commented on #22870
Hello @gennaris

I didn't manage to reproduce your issue with PS1.7.7.1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/104918618-4fdfd380-5995-11eb-842e-47770d27dd37.png)

Please check and feedback.
Thanks!

[2021-01-18 13:01] hibatallahAouadni commented on #22591
Hello @arpanjain100 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-18 13:01] #22591 closed, assigned to nobody

[2021-01-18 13:02] hibatallahAouadni commented on #22265
Hello @straitskapitan ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-18 13:02] #22265 closed, assigned to nobody

[2021-01-18 13:06] prestascott commented on #22806
@LouiseBonnard Hey, @NeOMakinG did a PR and it seems good to me 👍

[2021-01-18 13:11] prestascott commented on #14018
@Hlavtox It's a good idea to put both top and bottom but I don't think it's the best solution if we use my last design proposition. We can make the table header sticky so the bulk actions is accessible at any moment for merchants. Or, we can also add a button that bring merchants to the top of the table, not a fan but it's an alternative. :)

[2021-01-18 13:18] ttoine commented on #22866
Hello, well, I wish you success for your migration to PrestaShop. Welcome in the ecosystem.

PrestaShop is open source, so, your contribution of this feature to the core is very welcome and will be a nice addition for many merchants.

That said, PrestaShop and Magento are both open source ecommerce solutions. But they also are very different software, so of course, features are different. If Prest

[2021-01-18 13:21] MatShir commented on #22109
Be careful, logic verification of stock is not the same with pack, simple product and combination.

[2021-01-18 13:32] MatShir commented on #10600
Block reassurance check upload SVG !

[2021-01-18 13:36] ruchus commented on #22866
Hello @ttoine ,

A module that performs the complete rewriting of the URL in all the requests of all the store urls can generate security and performance doubts when acquiring it. I repeat, I think it is a very core functionality, not a module.

I think including this in the PS core can make it more attractive and attract more users who need multi-domain per language.

[2021-01-18 13:41] gennaris commented on #22870
@hibatallahAouadni  I can't see your order list in the attached screenshot.

Anyway , in order to surely reproduce follow my instructions :  installing native Italian Language Pack and follow my instructions by using the "Out of stock" order state in italian language. That's how I discovered the issue.

[2021-01-18 13:41] marionf commented on #22866
@ruchus

It's already possible without module by using the multistore feature

[2021-01-18 14:01] matks commented on #19281
@hibatallahAouadni Yes it's probably the same root issue. Can we keep this one open and close https://github.com/PrestaShop/PrestaShop/issues/13698 as duplicate? Because https://github.com/PrestaShop/PrestaShop/issues/13698 is about the consequences while this ticket is about the cause.

[2021-01-18 14:01] marionf commented on #12143
@hibatallahAouadni Could you try to reproduce this issue with the last version of ps_facetedsearch and reopen it if you can reproduce it ?

[2021-01-18 14:02] matks commented on #13945
Hi I agree with @kpodemski and @PierreRambaud

[2021-01-18 14:03] marionf commented on #10018
@hibatallahAouadni Could you try to reproduce this issue with the last version of ps_facetedsearch please ?

[2021-01-18 14:03] ttoine commented on #22866
@ruchus note that if the default feature to do that is not enough for you, then, please, your contribution is welcome. We are waiting for your pull request.

the roadmap of the project is created after interviews with merchants and their techs. and this need you have is a custom need for you, or other companies migrating from Magento. That's why this is available in a module.

Now, as @marionf tol

[2021-01-18 14:48] hibatallahAouadni commented on #19281
@matks Ok I will do it :wink: But could you tell me what's the status of this issue? is it **`To Do`**?

[2021-01-18 15:19] gh-hichem commented on #11652
i tried this, and it only works for one of the "IDs of the attribute value".
for example:
if i'm trying to add three "ID of the attribute value" to the "id combination attribute" it only show the first one and not the others. and when i do it from the backoffice it works fine

[2021-01-18 15:20] Prestaworks opened #22877 "Carrier limit do not work"
#### Describe the bug

When using the depth, height and width limits on the carriers they do not work as expected.
If any value is "ok" the carrier will show up.

#### Expected behavior

If one of the values is exceeding the carrier limit, the carrier should not show up in the checkout.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to product, set values height, depth and width

[2021-01-18 15:20] hibatallahAouadni commented on #22870
Hello @gennaris

Thanks for clarification :wink:
I managed to reproduce the issue with the default language "English", see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/104930889-fd5ae300-59a5-11eb-978d-bf2be1205197.png)

And it's a regression. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you thi

[2021-01-18 15:29] hibatallahAouadni commented on #22870
Ping @PululuK any idea about this issue's source?

[2021-01-18 15:33] hibatallahAouadni commented on #14018
@Hlavtox I agree with @prestascott making the header sticky is the best solution :clap:

[2021-01-18 15:36] Prestaworks commented on #22877
The cause seems to be

rsort($carrier_sizes, SORT_NUMERIC);
rsort($product_sizes, SORT_NUMERIC);

on lines 1599 and 1600 i carrier class.

I think maybe that entire check should be rewritten to not use an array? but rather the product and carrier values? it would make the code easier to read?

[2021-01-18 15:39] hibatallahAouadni commented on #22581
Hello @khouloudbelguith & @SD1982

Neither me nor @Robin-Fischer-PS could reproduce the issue :confused:

Ping @PrestaShop/prestashop-core-developers we need your help :sweat_smile: is there anyone could reproduce the issue and  tell us why some people can reproduce the issue some couldn't, is it about email configuration?

[2021-01-18 16:39] Maofree opened #22878 "Manage impacts on: width, Height and Depth for combinations and shippings"
Hi
#### Is your feature request related to a problem?
is it possible to manage the impacts on: width, Height and Depth for combinations and shippings

there are some companies that needs this feature, because their carrier use the volume to calculate the shipping costs
the problems become with some products when they have combinations with different size and weight

#### Describe the solution you'

[2021-01-18 17:01] hibatallahAouadni commented on #22877
Hello @Prestaworks

I managed to reproduce your issue with PS1.7.6.7 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1K3_bkTTC7c8IPPO-RP0Uqry5uZf9jtSO/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-01-18 17:07] idnovate opened #22880 "Form problem with PSDGDPR module"
#### Describe the bug

This bug is related with modules `psgdpr` and `ps_emailalerts`, but I think that the solution should be taken in PS template, that's why I open the issue here.

#### Steps to Reproduce

1. Install `psgdpr` module

2. Install `ps_emailalerts` and enable `Product availability` option:
![image](https://user-images.githubusercontent.com/15104724/104941820-d9060300-59b3-11eb-9d9a

[2021-01-18 17:09] hibatallahAouadni commented on #22878
Hello @maofree

Thanks for the suggestion, it seems a good improvement but we may encounter some BC if we apply this :confused:
Well, the Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , is it a good idea to add 3 fields (width, Height and Depth) for each combination?

[2021-01-18 17:37] hibatallahAouadni commented on #16713
Ping @PrestaShop/product-team friendly reminder :wink: what's the status of this issue?

[2021-01-18 17:56] hibatallahAouadni commented on #10762
Ping @PrestaShop/prestashop-core-developers friendly reminder :wink:

[2021-01-18 18:36] hibatallahAouadni commented on #12901
Ping @PrestaShop/product-team what's the status of this issue?

[2021-01-18 18:38] HartLarsson commented on #22851
I use the default checkout ;)

Could be an option to enable or not the email double chck at last.

I understand that the registration must be easy but the email is an important field and if you wrongly type it you cannot recover the account anymore.

[2021-01-18 18:44] indaco opened #22881 "1.7.6.9 -> 1.7.7.1: Some DB Columns are missed"
Upgrading to 1.7.7.1 I got the following error:

**Autoupgrade Logs**

[code]

### ISSUES

#### 1. The left menu in BO disappeared

Fixed as per #22250

[code]

#### 2. SHOP HOMEPAGE: Unknown column 'ocr.deleted'

For the query:
[code]

Fixed with:

[code]

####  3. SHOP HOMEPAGE: Unknown column ‘pa.mpn’ in ‘field list’

For the query below:

[code]

Fixed with:

[code]

#### Additional informatio

[2021-01-18 18:57] banan44 opened #22882 "Problems with exceeded max_user_connections and timeout 300"
**Describe the bug**
Hello,
I have upgraded my shop from 1.7.6.9 to 1.7.7.0 a couple of days ago. Recently, my customers started to report problems with connection timeouts. I have CloudFlare service connected with my shop so the customers receive "Error 524 The origin web server timed out responding to this request". I have looked on logs and I noticed a few errors "Error on sending request Recei

[2021-01-18 20:04] ibrahimfsasmaz commented on #22756
But I already explained above

[2021-01-18 21:38] Hlavtox commented on #22851
@HartLarsson I think it would be good if PS team implemented it, and the user could choose if to use it or not. 🚀

I completely agree with you... it's a neverending story. Some people even try to blame you, we had a woman that basically told us "So why didn't you correct it if the email is wrong?" 😄

[2021-01-18 22:04] kpodemski commented on #10096
Not sure if it's something what we can do in scope of current classic theme.

[2021-01-19 01:05] nthwyatt opened #22883 "Smarty: Unable to load template using helper generateForm from cron url"
#### Describe the bug
Fuctioning backoffice module. When invoked from special URL to simulate activation by cron the helper function generateForm fails with:
[code]
#### Expected behavior

Expected to have generated HTML returned to caller.

#### Steps to Reproduce
1. Install module and go to Configure.
2. copy&paste 'Secure CRON URL' into browser and fetch.

#### Screenshots

If applicable, add s

[2021-01-19 05:14] JBWModules commented on #22796
I can confirm this bug and think the root cause is some renaming of tranlations/template files - now the keys for this translations are not valid anymore and are not loaded.
![grafik](https://user-images.githubusercontent.com/47666330/104990744-89f4b800-5a1d-11eb-803c-ec2eafcb07b3.png)

[2021-01-19 05:15] JBWModules commented on #22796
![grafik](https://user-images.githubusercontent.com/47666330/104990867-c88a7280-5a1d-11eb-8f75-1ac1867b3f71.png)

[2021-01-19 08:10] NeOMakinG opened #22885 "[BO] Default theme has no specific SCSS rules"
#### Is your feature request related to a problem?

Everything folders on the project has Stylelint enabled, while default theme is chaotic!

#### Describe the solution you'd like

Having default theme with stylelint, with at least important rules enabled

[2021-01-19 08:13] Prestaworks commented on #22877
@hibatallahAouadni I added a PR to fix the issue

[2021-01-19 08:23] hibatallahAouadni commented on #22885
Hello @NeOMakinG

Thanks for your issue and your PR :rocket:

[2021-01-19 08:29] PierreRambaud commented on #19009
IMHO, Draggable should provide the `Draggable` feature only without checking if it's a name, position, category, number, etc.
The `Position` should be also a `Draggable` but consider only the position field.

[2021-01-19 08:54] hibatallahAouadni commented on #22877
@Prestaworks Thanks :rocket:

[2021-01-19 08:56] hibatallahAouadni commented on #22796
@HartLarsson @JBWModules Thanks guys for the clarifications :wink:
I need to reproduce the issue, I will work on it :slightly_smiling_face:

[2021-01-19 08:58] hibatallahAouadni commented on #10096
@kpodemski @marionf so shall we close it?

[2021-01-19 09:00] NeOMakinG commented on #22873
Can't reproduce on develop after `rm -rf node_module && npm i && npm run build` inside new-theme folder of the BO

![image](https://user-images.githubusercontent.com/14963751/105011358-27131900-5a3d-11eb-99ca-20b4f76afd12.png)

[2021-01-19 09:05] kpodemski commented on #19009
I noticed this while working on sorting feature on CMS pages, I'm going to rework my PR to CQRS so I'll back to y'all with some feedback about using those two classes soon 😅

[2021-01-19 09:09] Hlavtox commented on #22756
@ibrahimfsasmaz

StockManager says this:
Put order product to reservations if order **is not shipped** AND **(is valid OR (not error AND not cancelled))**.

When you go to your order state settings and you open some order state, the third checkbox from bottom should say _something like_ "Consider this order shipped". Make sure this checkbox is set for all the states you use as the FINAL states. (D

[2021-01-19 09:13] #22630 closed, assigned to nobody

[2021-01-19 09:31] NeOMakinG commented on #22644
https://github.com/PrestaShop/PrestaShop/pull/22888

Here is the PR, feel free to ping me when you validate the wording (used the wording of hlavtox for the momet)

[2021-01-19 09:38] hibatallahAouadni commented on #19009
Thanks @kpodemski
Waiting fo your feedback :wink:

[2021-01-19 09:43] marionf commented on #10096
Maybe we should ask @NeOMakinG to be sure :)

[2021-01-19 09:44] hibatallahAouadni commented on #22756
Thanks @Hlavtox for help :superhero:

@ibrahimfsasmaz I need clear and neat steps to reproduce the issue :wink:
So, could you please check your issue description cause I just edit it and complete the steps to reproduce.

Thanks in advance.

[2021-01-19 09:49] hibatallahAouadni commented on #22881
Hello @indaco

Thanks for your well detailed report.
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers I think it's says all :clap: he didn't miss any detail about the Autoupgrade issues.

Thanks!

[2021-01-19 10:00] hibatallahAouadni commented on #22882
Hello @banan44

We are aware of this issue, it is already fixed with our new patch realease 1.7.7.1.
This issue is a duplicate of #22485.
Please subscribe to the issue mentioned above.

Thanks!

[2021-01-19 10:00] #22882 closed, assigned to nobody

[2021-01-19 10:00] hibatallahAouadni commented on #22882
Duplicate of #22485

[2021-01-19 10:48] hibatallahAouadni commented on #22880
Hello @idnovate

Thanks for the detailed issue :wink:  I managed to reproduce the issue with
`PS`: 1.7.7.1
`ps_emailalerts`: 2.2.1
`psgdpr`: 1.2.1
See the attached screen record below:

https://drive.google.com/file/d/1wVoXWA-Q97EfQeKQqrevlrbbVVdwV8nw/view

Fortunally, if we try add the product to the cart an error is displayed. So, the issue is that when we checked the `psgdpr` option, the button

[2021-01-19 10:59] hibatallahAouadni commented on #22883
Hello @nthwyatt

How did you install the module **Cron tasks manager**? Did you donwload it from the Github repository ([link](https://github.com/prestashopcorp/cronjobs))?
Please check and feedback.

Thanks!

[2021-01-19 11:00] matks opened #22891 "Order informations at top of View an Order BO page are not aligned correctly"
#### Describe the bug

Order informations at top of View an Order BO page are not aligned correctly (see screenshot) in `develop`. On 1.7.7.1 they are aligned correctly.

#### Expected behavior

Order informations at top of View an Order BO page should be aligned like in 1.7.7

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.8
2. Open an Order in BO
3. See order informati

[2021-01-19 11:00] Julievrz commented on #22644
Hi @NeOMakinG, here is the wording that I validated with @MatShir:

"Send pre-filled order to the customer by email" in Admin.OrdersCustomers.Feature
"Proceed to check out in the front office" in Admin.OrdersCustomers.Feature
"Create the order" in Admin.OrdersCustomers.Feature

@Hlavtox Thank you for your suggestion and your help on this one! ☺️

[2021-01-19 11:01] idnovate commented on #22880
`Fortunally, if we try add the product to the cart an error is displayed. So, the issue is that when we checked the psgdpr option, the button Add to cart become enbled sweat`

Although in this case PS doesn't allow you to add the product to the cart even if the button is enabled, this is just an example to reproduce the issue.
The main problem is with custom modules.
For example if you display a b

[2021-01-19 11:15] hibatallahAouadni commented on #22891
Thanks @matks for the issue :slightly_smiling_face:
Ping @NeOMakinG could you please check it :wink:

[2021-01-19 11:21] sarahdib opened #22892 "Bad display on blockreassurance configuration page"
#### Describe the bug

Bad display on blockreassurance configuration page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin -> modules
2. Search blockreassurance
3. Click on configure
4. See error

**Screenshots**

<img width="1440" alt="Capture d’écran 2021-01-18 à 12 25 47" src="https://user-images.githubusercontent.com/3034677/105027862-93e3de80-5a50-11eb-9dd5-3b8b113

[2021-01-19 11:29] prestamodule opened #22893 "Cart rules are not removed from cart if they are disabled"
#### Describe the bug

While you add a cart rule on your shop and add it into the cart, if you disable the cart rule (active column), the cart rule will remain available into the cart having added it previously.

#### Expected behavior

Cart rules validity need to check the state of the cart rule, I'm suppose.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Cart Rules manageme

[2021-01-19 11:31] hibatallahAouadni commented on #22880
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers could someone please help him to choose the best solution and create his PR :wink:

Thanks in advance!

[2021-01-19 11:32] PrestaEdit commented on #22893
I know that inside the CartRule validity method, we bypass this for somes reasons: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/CartRule.php#L682

But I'm not sure it's the right method, if you disable a cart rule, I think you are simply disable for all of furthers orders, isn't it ?

[2021-01-19 11:56] hibatallahAouadni commented on #15194
Hello,

This issue is still persist, the newest version is 4.11.0:

![image](https://user-images.githubusercontent.com/23308427/105031498-ab719600-5a55-11eb-9717-9d71bb788504.png)

Thanks!

[2021-01-19 12:15] hibatallahAouadni commented on #9800
Ping @PrestaShop/prestashop-core-developers I think it's already done, isn't it?

[2021-01-19 13:03] #12168 closed, assigned to Progi1984

[2021-01-19 13:03] #18929 closed, assigned to Progi1984

[2021-01-19 13:04] #9800 closed, assigned to nobody

[2021-01-19 13:31] hibatallahAouadni commented on #9800
Thanks @PierreRambaud :rocket:

[2021-01-19 13:31] hibatallahAouadni commented on #9800
Duplicate of #17606

[2021-01-19 14:02] NeOMakinG commented on #22644
![image](https://user-images.githubusercontent.com/14963751/105044636-3f982900-5a67-11eb-9fb5-82c807dd6cd5.png)
Now the text is way too big

@PrestaShop/ux-team what should I do ?

[2021-01-19 14:07] dtagkalos93 opened #22894 "Price Ordering in Category Page"
#### Describe the bug

When i am trying to order the products list carousel category page by price and the price of producets is in sale then the ordering from "lowest to highest" is based on sale price but when i am put from "highest to lowest" then the ordering is based on initial price

#### Expected behavior

The ordering in products list carousel category by price from "highest to lowest" pri

[2021-01-19 14:18] NeOMakinG commented on #10096
That could be doable, but do we have enough sizes on every images ? Or at-least importants images like products ?

wdyt @kpodemski ?

[2021-01-19 14:18] #13448 closed, assigned to Progi1984

[2021-01-19 14:44] prestascott commented on #22644
Hey everyone,

Thanks @Hlavtox for your request!

By changing the wording it's easier to understand the possible actions. 👍

@NeOMakinG Text is too big and it might be too big for other languages when we translate the wording.
I suggest to use a dropdown button instead. It will fix the long text issue but there will be an additional click for our merchants.

Here is my design proposition:
![#22644

[2021-01-19 14:58] hibatallahAouadni commented on #22893
Hello @prestamodule

Could you please check this issue #19393 I think it's similar to yours.
Please check and feedback.

Thanks!

[2021-01-19 15:03] hibatallahAouadni commented on #22644
@prestascott :clap: brilliant idea :star2:

[2021-01-19 15:22] prestascott opened #22896 "[RESPONSIVE - BO] - Advertising page needs to be redesigned"
Epic: https://github.com/PrestaShop/PrestaShop/issues/22358

[Link to Figma prototype](https://www.figma.com/proto/b2sVogt6tyvB5EIkVmTAdP/PrestaShop-Responsive?node-id=466%3A2370&scaling=min-zoom)

#### Describe the bug

This page has spacing issues and needs to be redesigned to be responsive.

#### Expected behavior

Advertising page being responsive.

**Screenshots**

Before
![Capture d’écran 2

[2021-01-19 15:23] matks commented on #22896
@prestascott "PrestaShop Ads" is a module being installed by the API. It is not handled by us.

[2021-01-19 15:25] hibatallahAouadni commented on #22894
Hello @dtagkalos93

Could you please check this issue #22621 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-01-19 15:32] prestascott commented on #22514
I changed the design of the notification window modal to give the best UX.
It will now be in full width of the screen, and when the notification icon is clicked/selected there is an indicator in primary color to emphasize the fact that it's selected.
Also, everything behind is darker because I want our merchants to be focused on the modal so they won't be disturbed by what's behind.

Here is my la

[2021-01-19 15:39] prestascott opened #22897 "[RESPONSIVE - BO] Redesign of My account"
Epic: https://github.com/PrestaShop/PrestaShop/issues/22358

[Link to Figma prototype](https://www.figma.com/proto/b2sVogt6tyvB5EIkVmTAdP/PrestaShop-Responsive?node-id=412%3A2205&scaling=min-zoom)

#### Is your feature request related to a problem?

Consistency between header actions (notifications and my account)

#### Describe the solution you'd like

Consistent responsive design between pages.

[2021-01-19 15:45] prestascott opened #22898 "[RESPONSIVE - BO] Add Quick Access"
Epic: https://github.com/PrestaShop/PrestaShop/issues/22358

[Link to Figma prototype](https://www.figma.com/proto/b2sVogt6tyvB5EIkVmTAdP/PrestaShop-Responsive?node-id=412%3A947&scaling=min-zoom)

#### Is your feature request related to a problem?

There is no quick access in the BO on mobile view.

#### Describe the solution you'd like

Add a quick access design.

#### Screenshots
![quick access]

[2021-01-19 15:49] hibatallahAouadni commented on #9918
Duplicate of  #10012

[2021-01-19 15:49] #9918 closed, assigned to nobody

[2021-01-19 16:02] nisteria opened #22899 "Can not Copy Products Variant Mutlistore Store A to Store B"
#### Describe the bug

it is not possible to copy product variants from store A to store B.  It is only possible to create the same variants in both stores.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

Store A
1) open Articles with variants
2) change the Store B
   now i have copied the article to store B, but wit

[2021-01-19 16:09] hibatallahAouadni commented on #9886
Ping @marionf those stats still missing in BO>Catalog>Products with PS1.7.7.1 :confused:
So what's the status of this issue?

[2021-01-19 16:12] hibatallahAouadni commented on #9885
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers could someone please answer @LouiseBonnard question :slightly_smiling_face:

[2021-01-19 16:13] Progi1984 commented on #22026
Ping @NeOMakinG

[2021-01-19 16:17] #22896 closed, assigned to nobody

[2021-01-19 16:22] nthwyatt commented on #22883
I am not using the Cron tasks manager. The URL provided by the module is used in Plesk's Schedule Tasks or in cPanel to periodically invoke the module. It can also be used in a browser to test the module.

[2021-01-19 16:45] hibatallahAouadni commented on #22883
Hello @nthwyatt

Well it's not our native module, I'm really sorry I can't help you :confused:
Please contact your module's support team.

Or if you have questions about using third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestash

[2021-01-19 16:48] matks commented on #22625
Fixed by https://github.com/PrestaShop/PrestaShop/pull/22805

[2021-01-19 16:48] #22625 closed, assigned to Progi1984

[2021-01-19 16:52] nthwyatt commented on #22883
The Helper functions are not Core modules?

This is not a problem with some cron task manager. This is a BackOffice module that works from the backoffice but cannot be invoked from a URL if using a Helper function like renderForm() or renderList().
I've searched the forum for solutions. No one has as worked on this.
There are plenty of modules in Addons to are invoked via URLs. Like Amazzing Filte

[2021-01-19 17:02] hibatallahAouadni commented on #22883
@nthwyatt culd you please provide the module name?

[2021-01-19 17:26] md2158 opened #22901 "PhpEncryptionEngine class mcrypt error"
#### Describe the bug

I updated prestashop to 1.7.7.0 version and php to 7.2 version where mcrypt function deprecated. PhpEncryptionEngine class uses mcrypt for encryption and decryption and some modules using this class stoped working, In my case iqit wishlist module not working and don't know other conséquences yet

#### Expected behavior

Class have to edited to use openssl

**Screenshots**

!

[2021-01-19 17:27] iDrums commented on #22774
Hello,

I haven't heard from you in a week.
Would it be possible to get more information about how to solve my problem?

Thank you !

[2021-01-19 17:31] matks commented on #22901
Hi @merick2158 as you have said, mcrypt is deprecated in PHP. Modules must be updated to stop using it and rely on safe solutions instead. This is an update that need to be done by module developer of IQIT Wishlist module, not PrestaShop.

So I don't understand why you submit a bug report? 😅

[2021-01-19 17:33] matks commented on #22901
This is the bug tracker of the PrestaShop project, 3rd party modules are not in our scope (and we actually cannot modify 3rd party modules). You must contact the module developer

[2021-01-19 17:46] merick2158 commented on #22901
Well problem is not with modules. Module uses prestashop core php class PhpEncryptionEngine. And this class uses deprecated php function. I think this is a bug or not?

[2021-01-19 17:49] nthwyatt commented on #22883
$this->name = 'showbug';
$this->displayName = $this->l('Demostrate Helpers bug');

It is the module in the .zip file attached when this issue reported:
https://github.com/PrestaShop/PrestaShop/files/5832974/v1.0.0-showbug.zip

[2021-01-19 18:06] HartLarsson commented on #22901
seem the Warehouse wishlist module.
There is a new version of warehouse 4.4.1 for PS 1.7.7.x, you can contact the theme designer for a feedback ad @matks already told.

[2021-01-19 18:12] Jose-Agoralys commented on #9866
Hi There,
Someone has been posting this workaround in the Prestashop forum.
https://www.prestashop.com/forums/topic/597807-bug-on-frontcontrollerinit/

Can one of Prestashop gurus comment on this?

Best Regards

[2021-01-19 18:30] hibatallahAouadni commented on #22774
Hello @iDrums

Sorry for the late response, but I encountred an issue with email configuration :confused:
@PrestaShop/qa-functional could someone please try to reproduce the issue.

Thanks in advance.

[2021-01-19 18:54] hibatallahAouadni commented on #22883
Hello @nthwyatt

All right, I followed your steps and that's what I got:

https://drive.google.com/file/d/12HZzDjThD2Pd0iRWWQD_xxSJowC4VNiy/view

Please check and feedback.
Thanks!

[2021-01-19 19:08] nthwyatt commented on #22883
Yes, you got an HTTP 500 error. In the server log will be an error like the one mentioned above:
AH01071: Got error 'PHP message: PHP Fatal error:
Uncaught  --> Smarty: Unable to load template 'file:helpers/form/form.tpl' <-- \n  thrown in /var/www/vhosts/prestahumans.com/daryl-vault-test.prestahumans.com/vendor/smarty/smarty/libs/sysplugins/smarty_internal_template.php on line 195\n'

Thjis is th

[2021-01-19 19:15] hibatallahAouadni commented on #22883
@nthwyatt ok I will reopen it and ping the Developers team to take a deep look on it :wink:
Thanks!

Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers could you please check this issue?
Thanks in advance :relaxed:

[2021-01-19 19:35] hibatallahAouadni commented on #15334
Ping @PrestaShop/product-team friendly reminder :wink:

Could someone please answer @khouloudbelguith question, thanks in advance.

[2021-01-19 19:59] hibatallahAouadni commented on #16268
Hello @matthieu-rolland

Do we still use the fuzzy search? :confused:
Ping @PrestaShop/product-team any idea about this topic?

Thanks!

[2021-01-19 20:01] hibatallahAouadni commented on #16290
Ping @PrestaShop/product-team friendly reminder :wink:

[2021-01-19 20:11] fest73 opened #22903 "Bug fix with creating order slip"
#### Describe the bug

I created an order with tax rule 1 that had 19% tax. After that I changed the percentage of this rule by 10%. And made a return. The refund has already been made not in 19% percent, but in 10%

#### Steps to Reproduce

1. Set tax rule about product , shipping. Rule tax = 19%
2. Create order with this product, set this shipping with tax rule 19%
3. Change in Rule tax 19%, tax

[2021-01-19 22:49] ruchus opened #22906 "Mass action -> Stock availability preferences"
#### Is your feature request related to a problem?

From catalog admin page i can't change the availability product stock status for several products at same time.
It is very annoying to have to change one by one when you need to do it for an example, 50 items, or 100 items, or an entire brand.
![imagen](https://user-images.githubusercontent.com/6729380/105103055-2ebfd580-5ab0-11eb-9e69-49160ce88e

[2021-01-20 01:50] FreelanceComputing opened #22907 "Emails sent from contact form module to office365 accounts do not get delivered"
**Using contact form v4.3 with prestashop v1.7**.
The module has been configured as follows

![image](https://user-images.githubusercontent.com/20488497/105114548-fc69a480-5abe-11eb-82af-b7ea7db39dad.png)

When the form is submitted, a copy of the email is successfully received by the Customer service and Webmaster email addresses.
If the sender's email is not from an office365 domain, the sender

[2021-01-20 07:06] kpodemski commented on #16290
Give it green light and I can handle this 👍

[2021-01-20 07:21] NeOMakinG commented on #22026
@PrestaShop/prestashop-maintainers if someone wants to check it, I can't find a way of doing this without reworking the feature

[2021-01-20 08:03] NeOMakinG commented on #22715
@khouloudbelguith I can't manage to reproduce like you did

and @sarahdib I can't manage to see the block at all on my shop, is there a specific thing to do to install the crossselling module ? I'm using the dev branch of the module :/

[2021-01-20 08:43] NeOMakinG commented on #15118
https://github.com/PrestaShop/PrestaShop/pull/22908

I opened this, so you can set different string inside the 404 template directly from where your using this file using variable inside `include` tag or even smarty blocks

Btw, I can't manage to change the input placeholder as it comes from the backend, which probably never know the context he's in, maybe you can help for this @Hlavtox ? Otherwis

[2021-01-20 08:45] hibatallahAouadni commented on #22906
Hello @ruchus

Thanks for the suggestion, it seems very useful for the merchants.
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , well I think it's very useful to add the **Availability preferences** in the **Bulk actions** for the products list page, do you agree with me?

[2021-01-20 09:09] matks commented on #22907
@FreelanceComputing thanks for the detailed feedback 😉

If only office365 domain do not work we can guess office365 has an extra need compared to other mail providers :/ but I am not sure this can be solved on prestashop side.

For example I noticed that, with gmail, to use SMTP I had to enable a "password for applications only". Maybe there is a similar setting needed by Office365?

[2021-01-20 09:21] MatShir commented on #22906
Nice feature request, we can also imagine adding more product property for bulk actions 🤔

[2021-01-20 09:43] matowuut opened #22910 "hook DisplayAdminListBefore stopped working in update 1.7.7.0"
After updating my prestashop local instalation on xampp from 1.7.6.3 to 1.7.7.0, the hook for displaying admin buttons before admin orders list is not being called anymore. The hook in question is called "DisplayAdminListBefore". I checked hook documentation and no changes are reported in this hook in 1.7.7.0 version.

I tried to add logger in hook to test if hook is reached and the logger doesnt

[2021-01-20 09:44] prestascott opened #22911 "[RESPONSIVE - BO] Fix spacing, padding and bugs"
Epic: https://github.com/PrestaShop/PrestaShop/issues/22358

#### Describe the bug

Theses pages have spacing and padding issues and need to be fixed.

#### Expected behavior

Fix spacing and padding in order to keep consistency between BO pages.

SELL - Catalog > Products:
- [x] Add a 12px spacing between _"Filter by category button"_ and _"Bulk actions"_
![product](https://user-images.githubuser

[2021-01-20 10:01] hibatallahAouadni commented on #22899
Hello @nisteria

I'm a little bit confused :confused: could you please explain to me how did you copied a product from store to another?
And I believe you meant by variants => combinations, is that so?

Thanks!

[2021-01-20 10:04] hibatallahAouadni commented on #22906
@MatShir so shall we ping UX Team?

[2021-01-20 10:18] Hlavtox commented on #15118
@NeOMakinG @Julievrz @LouiseBonnard What if we ditch the idea of changing the search input placeholder? It's included from another file and it would make things more difficult...

![Výstřižek](https://user-images.githubusercontent.com/6097524/105161004-2d72c500-5b11-11eb-954e-2f722fb68a90.JPG)

[2021-01-20 10:20] boubkerbribri commented on #22304
Since I don't have the exact scenario to reproduce this issue, and @Progi1984 was not able to reproduce it, I'm closing it

[2021-01-20 10:20] #22304 closed, assigned to Progi1984, boubkerbribri

[2021-01-20 10:25] PierreRambaud commented on #22883
First you're using:
[code]
which require to have a customer connected, I've got an error on it.

About the form.tpl error you have two possible problems.

* Your theme doesn't have this file (only present in the default theme)
* You want to use the back office theme, but your script does set the `_PS_ADMIN_DIR_` const

[2021-01-20 10:27] Progi1984 commented on #22854
Fixed by #22863

[2021-01-20 10:27] #22854 closed, assigned to nobody

[2021-01-20 10:30] Hlavtox commented on #15118
@NeOMakinG See my PR, I think it will be enough like this, and we don't need to modify the core https://github.com/PrestaShop/PrestaShop/pull/22913

[2021-01-20 10:36] #22891 closed, assigned to NeOMakinG

[2021-01-20 10:39] Hlavtox commented on #22907
@FreelanceComputing @matks Microsoft has a very strict rule regarding delivery quota of all new servers. If you have delivery problems to their mailboxes, you need to contact them. They will check it manually and raise the quota.

And yes, the just ditch the email completely, no spam folder, no message, the email is just lost. :-)

Also check your SPF, DKIM and DMARC records.

[2021-01-20 10:40] PierreRambaud commented on #22852
I'm not against adding more tests on the front :)

[2021-01-20 10:43] hibatallahAouadni commented on #22852
@PierreRambaud so shall we change the label to **`To Do`**?

[2021-01-20 10:43] Hlavtox commented on #22907
@FreelanceComputing Make a support request here - https://support.microsoft.com/en-us/supportrequestform/8ad563e3-288e-2a61-8122-3ba03d6b8d75

They will contact you

[2021-01-20 10:50] NeOMakinG commented on #15118
@Julievrz can we forget the input placeholder ? We can't modify it without some maybe big reworks

[2021-01-20 10:52] prestascott commented on #22906
Hello everyone,

Thanks for you request @ruchus!

What do you exactly want to manage about the availability product stock status? Refuse and accept orders?

[2021-01-20 10:52] matks commented on #22901
Hi, are you mentioning `mcrypt_create_iv()` used in `randomCompat()` ?
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PhpEncryptionEngine.php#L135

I think it is not executed unless `openssl_random_pseudo_bytes()` fails 🤔  .

Do you have a reproductible usecase we can apply to see the issue? It can be a demo module 😊  .

[2021-01-20 10:59] Julievrz commented on #15118
"Search our catalog" is the input placeholder?

[2021-01-20 11:07] sowbiba commented on #19242
Since the review of the big PR is difficult because so many things have been modified, the PR is divided by multiple dependant parts to ease the review

The parts will be :<br>
- [x] - https://github.com/PrestaShop/PrestaShop/pull/22905 : Replace Translations providers pass by signle service and get rid of AbstractProvider - Unit tested - No QA
- [ ] Make a single provider for Core translations wh

[2021-01-20 11:08] aded commented on #22608
@hibatallahAouadni thanks for your reply. Dir permissions/rights are ok on all PS folder/subfolders. :wink:

[2021-01-20 11:49] hibatallahAouadni commented on #22901
Hello @merick2158

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2021-01-20 11:49] #22901 closed, assigned to nobody

[2021-01-20 11:55] hibatallahAouadni commented on #22907
Hello @FreelanceComputing

It seems your issue related to Microsoft mailbox as @matks and @Hlavtox mentioned above, and we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.
So, please contact their support :wink:

I'm closing this issue.

Thanks!

[2021-01-20 11:55] #22907 closed, assigned to nobody

[2021-01-20 12:11] hibatallahAouadni commented on #22903
Hello @dariusakafest

I didn't managed to reproduce the issue with PS1.7.4.1 and PS1.7.7.0, see the attached screen record below:

**PS1.7.7.0:**

https://drive.google.com/file/d/15Tf7D7FX9F-gnRGk5rwn-EtlmfWi_b90/view

**PS1.7.4.1:**

![image](https://user-images.githubusercontent.com/23308427/105173177-f1dff700-5b20-11eb-9f5e-e7ef289e1bb1.png)

![image](https://user-images.githubusercontent.com/2

[2021-01-20 12:14] merick2158 commented on #22901
Hi @matks
Here is used mcrypt:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PhpEncryptionLegacyEngine.php

[2021-01-20 12:20] merick2158 commented on #22901
Hi @hibatallahAouadni
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Here in documentation it's written new version of prestashop 1.7.7 is fully compatible with php version 7.3. And in core classes used deprecated php function that removed in php version 7.2. It's nothing to do with third-party modules.

[2021-01-20 12:26] didi-2018 opened #22914 "No entries in database table ps_order_slip_detail_tax PS 1.7.x.x"
Hello,

I am now using Prestashop 1.7.x.x since 2017 and I have generated a lot of orderslips during the years but I have no entries in the database table ps_order_slip_detail_tax. Is this just me or do you know about that?

![image](https://user-images.githubusercontent.com/44971218/105174529-fb6a5e80-5b22-11eb-8fa7-27754623142a.png)

Thank you very much in advance for your answer.

PS 1.7.x.x
cu

[2021-01-20 12:27] Progi1984 commented on #22243
Fixed by #22909

[2021-01-20 12:27] #22243 closed, assigned to Progi1984, MatShir

[2021-01-20 12:30] hibatallahAouadni commented on #22901
what do you think @matks :confused:

[2021-01-20 12:40] hibatallahAouadni commented on #22906
Hello @prestascott

I believe something like this :sweat_smile: (I'm not an expert but tried my best :stuck_out_tongue: ):

![image](https://user-images.githubusercontent.com/23308427/105175819-b810ef80-5b24-11eb-8dd0-d0146648441d.png)

is that so @ruchus ?

Thanks!

[2021-01-20 12:52] hibatallahAouadni commented on #22914
Hello @didi-2018

Well that's a good question :wink:

![image](https://user-images.githubusercontent.com/23308427/105176816-0d99cc00-5b26-11eb-89c2-592e3bcb62af.png)

But it's not a bug and you shouldn't post it right here, next time please ask in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack)

[2021-01-20 13:05] didi-2018 commented on #22914
@hibatallahAouadni  Hi! How should I know if it is a bug or not before getting an anwser here? If a existing database table is not filled, for me that´s a bug. 🤷‍♀️

This table should be filled for orderslips as the table ps_order_invoice_tax. None of the orderslip tables include any tax amounts.

[2021-01-20 13:10] NeOMakinG commented on #15118
Yes

[2021-01-20 13:18] mrl22 opened #22915 "Reordering products in category only works a specific way"
#### Describe the bug

When reordering products in a category, it will not save if you drag the row. If you drag the up/down icon it works perfectly.

At first, when our client reported the issue, we thought that it was specific to them as I could not reproduce (I was dragging the up/down arrow icon).

#### Expected behaviour

It should save the category order as it was dragged regardless of where

[2021-01-20 13:21] matks commented on #22901
@merick2158 Look at

[code]
Class PhpEncryptionLegacyEngine is only used when aes-256-ctr cipher algorithm is not available.

It seems to be a fallback mechanism. Maybe we can improve the documentation to make clear that `Your OpenSSL version must provide aes-256-ctr cipher algorithm`.

Notice: PS 1.7.7 is compatible with php7.1 to php7.3 so having code that is compatible only with php7.1 is not a

[2021-01-20 13:35] hibatallahAouadni commented on #22636
Hello @maofree

I see what do you mean :wink:
But unfortunally, I get an error only with Breadcrumps, for the products I only had some warnings as I mentionned above.

Thanks!

[2021-01-20 13:38] maofree commented on #22636
give me the url of your demo site, so I can help to understand the motive

[2021-01-20 13:55] JLSPORT opened #22916 "Duplication of article features by saving, until the article is rendered useless"
#### Description:

When we want to add manual feature information to a product, let's say, a Shirt is 90% cotton and 10% Elasthan, so you enter it in the manual value box on that article to the far right. If you don't select a feature and proceed to save, the value will still be saved and additionally recreate a second feature with the same description (90% cotton and 10% Elasthan)

#### Expected

[2021-01-20 13:57] hibatallahAouadni commented on #22774
Hello @iDrums

I asked @SD1982 to reproduce the issue, and he tried to subscribe in Newsletter with two ways, and both of them works:

Subscribe to newsletter from homepage:
https://drive.google.com/file/d/1bpWGQI8T9N0r5qKNhFn3GwGUj22t01xE/view

Subscribe to newsletter from My Account:
https://drive.google.com/file/d/1EDd56RzwpcCuDMSvNFjGQjWjxaYndUzk/view

Please check and feedback.
Thanks!

[2021-01-20 13:59] PierreRambaud commented on #22848
@MatShir adds the To Do label, so maintaners have nothing to do :sweat_smile:

[2021-01-20 14:07] Julievrz commented on #15118
Ok thanks, I was not sure. As soon as the search bar stays, I don't think it is a big deal if we remove the input placeholder... However, I don't understand why we need the placeholder input to "know the context he's in" as it is always the same wording, in all cases (whether it is an empty category, or if there are no matching products). But it is probably more complicated than that.

[2021-01-20 14:07] Julievrz commented on #15118
However I'm not sure I'm the one who should approve this, so I'll let @LouiseBonnard have the final word. :)

[2021-01-20 14:08] LouiseBonnard commented on #16268
Fuzzy search is one of the great 1.7.7 features, available in the Shop Parameters > Search page to all merchants. As for this improvement, I'll let @matthieu-rolland tell us if it is still relevant. Sounds like it can be set as _to do_. :-)

[2021-01-20 14:15] PierreRambaud commented on #22881
These sql requests are already in the 1.7.7.0.sql file. And other are related to doctrine update.
You should check your errors logs in case something failed during the database upgrade.

[2021-01-20 14:15] NeOMakinG commented on #15118
Mmmh, you got a point, as the wording doesn't change, maybe we can do it, I need to find where the search bar input is, do you've an idea @Hlavtox ?

[2021-01-20 14:15] khouloudbelguith opened #22917 "BO - Order page - An error is displayed when changing the addresses for the second time"
#### Describe the bug

During testing this PR: https://github.com/PrestaShop/PrestaShop/pull/22909
An exception is displayed when changing the Shipping address the second time.
`Could not find the product in cart, meaning Order and Cart are out of sync`

#### Expected behavior

Remove all the gifts (and the cart rules) that do not match the shipping country and the cart rule country restriction.

[2021-01-20 14:16] hibatallahAouadni commented on #22910
Hello @matowuut

Could you please downgrade your PHP version to 7.3 cause PS1.7.7.0 is not compatible with PHP 7.4 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)).
Please check and feedback.

Thanks!

[2021-01-20 14:16] khouloudbelguith commented on #22917
Maybe related to this: https://github.com/PrestaShop/PrestaShop/issues/22004

[2021-01-20 14:19] nsanelab commented on #22881
Thanks for your response. That one was the only error I got during the upgrade process and the only one within the log file for the autoupgrade module.

I run it on a different PS instance and it worked well without any errors.

Do not know why it happened on the initial instance where I run the upgrade.

[2021-01-20 14:24] Hlavtox commented on #15118
@NeOMakinG It's generated by ps_searchbar module. If I was the boss, I would do it like this. 🚀

**Search - nothing found**
{l s='No matches were found for your search' d='Shop.Theme.Global'}
{l s='Please try other keywords to describe what you are searching for.' d='Shop.Theme.Global'}
+ Search bar

**Empty product list**
{l s='No products available yet' d='Shop.Theme.Global'}
{l s='Stay tuned! M

[2021-01-20 14:29] indaco commented on #22881
Thanks for your proper response.
That error was the only one I got during the upgrade process and the only one present within the log file for the autoupgrade module.

FYI, I run it again on a different PS instance and worked with no errors.
Do not know what happened on the initial instance and why I had to do some stuff manually.

If you like, you can close this.
Thanks

[2021-01-20 14:30] PierreRambaud commented on #22881
The magic of the PHP world :sweat_smile:

[2021-01-20 14:38] matks commented on #22881
@PierreRambaud You have been detected by @matks's PHP defender troops. We do not forgive. We do not forget. Expect us.

[2021-01-20 14:40] hibatallahAouadni commented on #22636
Hello @maofree

Yep! you're right, I just tried again and I manage to reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/11NiMrUQssrWv8WOei6KJb7xzR3TQ8Bsb/view

Thanks for your patience and clarifications :rocket: I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us

[2021-01-20 14:44] PierreRambaud commented on #22914
I don't know what is the aim of this table, I see nothing related to it in the source, it has been added in 1.6.0.10, this is all I know :sweat_smile:

[2021-01-20 14:51] PierreRambaud commented on #22881
Please @hibatallahAouadni be sure you're able to reproduce the issue :)

[2021-01-20 14:53] PierreRambaud commented on #22847
If you want to retrieve the `tr` element based on an identifier you can use js to get the closest parent :thinking:

[2021-01-20 15:10] hibatallahAouadni commented on #22881
Hello @PierreRambaud

When I upgraded from 1.7.6.9 to 1.7.7.0, the only issue I encountred is #22250
From 1.7.6.9 to 1.7.7.1, I didn't encounter any issue :tada: everything works perfectly (I attached my log file)
[log.txt](https://github.com/PrestaShop/PrestaShop/files/5843358/log.txt)

Thanks!

[2021-01-20 15:19] PierreRambaud commented on #22809
It's more like a bug because `email`, and `passwd` fields should be in `191` because of utf8mb4, this is what we do for indexes. But weird that nothing occurred on `KEY`

[2021-01-20 15:26] hibatallahAouadni commented on #22914
@kpodemski any idea ??

@PierreRambaud @kpodemski

- If it should be filled for orderslips as the table ps_order_invoice_tax (as @didi-2018 mentioned above) so it's a bug. (IMHO it's more logic)
- If it should be deleted and there's no use of it, it's an improvement.

So , what do you saying?

[2021-01-20 15:26] valentin-anamorphik commented on #20385
@khouloudbelguith

Did you find a solution?

[2021-01-20 15:27] hibatallahAouadni commented on #22809
@PierreRambaud did you reproduce the issue?

[2021-01-20 15:29] MatteoCout opened #22918 "Category update problem in the API"
#### Describe the bug
We have in place a prestashop using the multistore.
We want to change the assignment of stores to the category in our prestashop using the API on /categories with the PUT method, we add in the url  : '?id_shop=example of id shop wish'.
Even if we do not put the parameter we still have the problem.
In body we have this :
[code]
the category we want to modify is assigned to 1 s

[2021-01-20 15:39] NeOMakinG commented on #22911
Some things can't be done by myself, did my best for the moment

[2021-01-20 15:40] PierreRambaud commented on #22775
This error means the class has already been loaded, it's maybe because of a module, or opcache :thinking:
If we are not able to reproduce we can't do anything :sweat:

[2021-01-20 15:41] PierreRambaud commented on #22760
I confirm it's a bug, we have to be consistent between returns.

[2021-01-20 15:41] NeOMakinG commented on #15118
I agree with @Hlavtox on this, the last wording you told me to change is the 404 page, and the generic wording looks not appropriate, wdyt @Julievrz

[2021-01-20 15:43] nisteria commented on #22899
![shop1](https://user-images.githubusercontent.com/1664247/105199055-9b81b100-5b3e-11eb-848f-fadaffc78ebc.jpg)
![shop2](https://user-images.githubusercontent.com/1664247/105199086-a50b1900-5b3e-11eb-8900-503dbc5e421e.jpg)
![shop3](https://user-images.githubusercontent.com/1664247/105199099-a76d7300-5b3e-11eb-936d-620cdd452366.jpg)

[2021-01-20 15:55] marionf commented on #15334
That's a regression of the migrated page
On legacy page, disabled languages were displayed as you can see below

![capture d'écran_2928](https://user-images.githubusercontent.com/13449658/105200501-3038de80-5b40-11eb-8988-b0bfb0262e9f.png)

![capture d'écran_2929](https://user-images.githubusercontent.com/13449658/105200514-3333cf00-5b40-11eb-8dfc-37ebff34104b.png)

[2021-01-20 15:59] PierreRambaud commented on #22581
I think it refers to the link in the PDF which must be a valid URL :thinking:

[2021-01-20 15:59] hibatallahAouadni commented on #22915
Hello @mrl22

Could you please check this issue #15291 cause it seems similar to yours.
Please check and feddback.

Thanks!

[2021-01-20 16:02] #22877 closed, assigned to Prestaworks

[2021-01-20 16:02] PierreRambaud commented on #22512
@hibatallahAouadni As you said, `tags` is not used anymore and `sprintf` has to be used. So you need to use `sprintf`

[2021-01-20 16:02] mrl22 commented on #22915
Yes, this seems to be the same issue, I did try to find people with the same issue before posting.

[2021-01-20 16:04] DeFault-1 commented on #20057
There should be a new column in the product weight ranges to enter manually the total packaging weight (wrapping plus box weight) for every weight range. I always estimate the wrapping materials weight as 10% of the product weight. As far as the box weight is concerned, in my case the carrier is selling a range of standard postal boxes, we can decide which particular box will be used for a certain

[2021-01-20 16:05] NeOMakinG commented on #22572
Assigned to me, to add migrate on the UIKit

[2021-01-20 16:06] mrl22 commented on #22915
Duplicate of #15291

[2021-01-20 16:07] hibatallahAouadni commented on #22915
Hello @mrl22

It's OK :sweat_smile: Thanks for your feedback :wink:

As you can see we are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15291.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-20 16:07] #22915 closed, assigned to nobody

[2021-01-20 16:07] hibatallahAouadni commented on #22915
Duplicate of #15291

[2021-01-20 16:09] Julievrz commented on #15118
What I don't understand is that when we have 404 pages, this wording does not appear. At least when I tried to reproduce it, by modifying the URL it didn't redirect me to a 404 page with this wording. If nothing was found, isn't it because the page is empty? Why does the generic wording does not apply in your opinion?

I agree with adding another wording, I just want to understand. 😄

[2021-01-20 16:16] Art3c commented on #22775
@PierreRambaud How can i help you to reproduce the error? I have tried to disable all modules and loaded the default theme. No luck :( My huntch is that it is a problem in the DB. Do you have a tool to test the DB. I dont want to lose all the data :(

[2021-01-20 16:18] Hlavtox commented on #15118
@Julievrz I changed the wording in my post, maybe we can include it in @NeOMakinG 's PR if you approve 😄

[2021-01-20 16:48] Art3c commented on #22775
No luck on manually upgrading. How to solve? :(

[2021-01-20 17:01] hibatallahAouadni commented on #22775
@Art3c could you please provide your log file, you can find it under your source project admin>autoupgrade>tmp>log.txt

[2021-01-20 17:21] Art3c commented on #22775
[log.txt](https://github.com/PrestaShop/PrestaShop/files/5844106/log.txt)
This is the last log. If you want the log from 1.7.7.1 i need to upgrade again. It has been lost on restoring from backup.

[2021-01-20 17:30] nthwyatt commented on #22883
`$helper->token = Tools::getAdminTokenLite('AdminModules');` only gives an error when Debug is turned on in config/defines.inc.php I'll see if I can connect to a customer to get rid of that.

I'm not using any thing but a the default them. I'm testing this on a fresh install of PrestaShop 1.7.7.0 with no other changes.
I'll try setting _PS_ADMIN_DIR in showbug-cron.php and see if things improve. T

[2021-01-20 17:57] maofree commented on #22636
ok good

[2021-01-20 19:00] kpodemski commented on #22914
It must've been some kind of mistake, like, we have `order_detail`, `order_detail_tax` and probably because of it we have `_tax` for `order_slip_detail` 🤔

Either it's mistake or it never been implemented, I don't see any code related to this table

[2021-01-20 19:06] kpodemski commented on #22847
@PierreRambaud we would need to get all rows where `td` **content** is equal to what we're looking for, not sure if that's a best solution, also it's quite easy change so maybe I'll just create PR? 😅

[2021-01-20 20:38] musicpanda commented on #22819
Thank you for reactivating #22399

I understand that you get a lot of error reports where the reporter made some mistake. However, my feeling is that you have gone a bit too far in rejecting everything that doesn't immediately click.

Take the fact that both people who investigated my report did it by compiling a module with composer and then installing it as a new module. It shows them far out of

[2021-01-20 21:16] ruchus commented on #22906
Hello @hibatallahAouadni,

The prototype you has made is perfect!

But, what @MatShir suggest is exactly what other ecommerce software does and really is very useful. We use a lot. Change the Product status, Availability preferences, Delivery time, etc...

But, at least i suggest that Availability preferences would be mandatory.

Thank you very much PS team for hear me!

Best,

[2021-01-20 22:04] javierrojas10 commented on #22215
This Solve the problem for me.
This File:
/public_html/src/Adapter/Order/QueryHandler/GetOrderForViewingHandler.php

Doen`st have any validation if the value exists or not. Modify this in order to fix the file:

Change this function at line 292 app
`return new OrderInvoiceAddressForViewing(
            $address->id ? $address->id : "",
            $address->firstname ? $address->firstname : "",

[2021-01-21 06:49] kpodemski commented on #22883
@nthwyatt

why you want to use `HelperForm` outside back-office context? what's the point?

[2021-01-21 07:46] hibatallahAouadni commented on #22633
Hello @raulstrappa ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-21 07:46] #22633 closed, assigned to nobody

[2021-01-21 07:47] hibatallahAouadni commented on #22628
Hello @Massi-X ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-21 07:47] #22628 closed, assigned to nobody

[2021-01-21 07:49] hibatallahAouadni commented on #22481
Hello ,

I'm really sorry :confused: but since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-21 07:53] hibatallahAouadni commented on #22918
Hello @MatteoCout

Thanks for your detailed issue :clap:
It seems your issue is similar to this one #13987 could you please check :wink:

Please check and feedback.
Thanks!

[2021-01-21 08:07] hibatallahAouadni commented on #22916
Hello @JLSPORT

Thanks for your detailed report :clap:
It seems your issue is similar to this one #16306 could you please check :wink:

Please check and feedback.
Thanks!

[2021-01-21 08:11] hibatallahAouadni commented on #17890
Duplicate of #18062

[2021-01-21 08:19] hibatallahAouadni commented on #9773
Duplicate of #13240

[2021-01-21 08:27] JLSPORT commented on #22916
Hello,

the issue seems to be the same.

Also the added info, that the so created feature lines can't be deleted.

Since it existed before and was neither fixed in 1.7.7.0 nor 1.7.7.1 it
might take more time i presume.

Thanks for sorting it to the appropriate theme.

best regards,
Benjamin Smarsly.

Am 21.01.2021 um 09:07 schrieb Hibatallah Aouadni:

[2021-01-21 08:44] matks opened #22924 "Symfony Security Checker will end on January 2021"
We use [Symfony Security Checker](https://github.com/sensiolabs/security-checker) to search for vulnerable dependencies when building a release
[code]

However as stated on their [github repository](https://github.com/sensiolabs/security-checker), this tool will not be usable in February 2021 as "the underlying web service will stop working at the end of January 2021."

Some alternatives are menti

[2021-01-21 08:56] hibatallahAouadni commented on #22916
Hello @JLSPORT

Thanks for your feedback :slightly_smiling_face:
As you can see we are aware of this issue, and it is already in our debug backlog. This issue is a duplicate of #16306.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-21 08:56] #22916 closed, assigned to nobody

[2021-01-21 08:56] hibatallahAouadni commented on #22916
Duplicate of #16306

[2021-01-21 09:10] hibatallahAouadni commented on #22914
So, it's your call @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers

[2021-01-21 09:12] hibatallahAouadni commented on #22775
@Art3c ok thanks :wink: (don't upgrade again :stuck_out_tongue: )

Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers could please someone check the log file :pray:

Thanks in advance :wink:

[2021-01-21 09:21] prestascott commented on #22906
Your prototype is perfect @hibatallahAouadni!! I was thinking about doing the same design as you did. :)
It's a go for me concerning this issue 👍

Now, it will be very interesting to study the main actions to add in this bulk actions. The list can be long so we must keep the most important. Also, we can't think about adapting the bulk actions according to new actions.

[2021-01-21 09:36] merick2158 commented on #22901
Hi @matks
My server OpenSSL version already provide aes-256-ctr cipher algorithm but still not running.

[2021-01-21 09:41] PierreRambaud commented on #22881
IF we are not able to reproduce, I'm not sure we can do something.
@indaco if you can provide us more information or a way to fix it, please create a pull request :)

[2021-01-21 09:42] PierreRambaud commented on #22809
No, I'm not able to install Oracle MySQL 5.6 on my machine. Too old for my computer

[2021-01-21 09:44] PierreRambaud commented on #22847
Why not if this is something you really need :sweat_smile: