[2022-10-19 12:21] paulnoelcholot commented on #30063
Hi @PrestaPierre,

I reproduce the issue with PrestaShop version 8.0.0 as we can see here :

https://watch.screencastify.com/v/3ihC9x6ZcrWs6AyYb9FB

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Thanks

[2022-10-19 12:33] ts2666 commented on #30002
Please note the attached video for details

https://user-images.githubusercontent.com/83036593/196691390-a5222120-a811-4228-8f4f-b8903f1013df.mp4

[2022-10-19 12:59] nitronco commented on #29814
Hi @AureRita
You can check this page:
[https://mashinesoft.com/antifreeze-tester/1303-%D8%AA%D8%B3%D8%AA%D8%B1-%D8%B6%D8%AF%DB%8C%D8%AE-%D8%AE%D9%88%D8%AF%D8%B1%D9%88-lk-tools.html](https://mashinesoft.com/antifreeze-tester/1303-%D8%AA%D8%B3%D8%AA%D8%B1-%D8%B6%D8%AF%DB%8C%D8%AE-%D8%AE%D9%88%D8%AF%D8%B1%D9%88-lk-tools.html)
This product has images with Persian name. you can find broken image links

[2022-10-19 13:39] paulnoelcholot opened #30067 "The modification of the name of a product is not taken into account on the FO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://watch.screencastify.com/v/b

[2022-10-19 14:11] paulnoelcholot commented on #30042
Hi @mauricecec,

Greats news, I reproduice the issue :)

Step to reproduice :
1. Catalog > Products > edit a product
2. Add a feature
3. Choose a feature
4. Don't choice a value
5. Choose a customized value
6. Save
7. Refresh the page
8. Now you can't modify the value
9. Modify the feature to a other
10. Modify the feature to the previous
11. Choose a value
12. Choose a customized value
13. Save
1

[2022-10-19 14:18] #30067 closed, assigned to nobody

[2022-10-19 14:44] mauricecec commented on #30042
Dear Paulino

Seems Incredible , but you can't imagine how i m now happy that You I reproduice the Issue , believe me i was starting to think i was crazy

I would Thank you so much for gerat support tahnks to you and Rita

i really hope that we can find a solution
Triple Thanks
Maurizio

[2022-10-19 14:52] sLorenzini opened #30070 "FO / Blockwishlist / Mobile - Filter select on small screens are too long"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I am on very small screen (bel

[2022-10-19 15:14] sLorenzini opened #30071 "FO - Button of file field in customization product has a smaller height rather than its field"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In my customizable product, I have

[2022-10-19 16:24] jomaeva opened #30072 "problem total price on front office order ps 1.787"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi there

m using ps 1.787, and i g

[2022-10-19 16:26] #30056 closed, assigned to nobody

[2022-10-19 17:12] Arpit-Gulgulia commented on #22057
@hibatallahAouadni, Thanks for confirming!
PR is on the way.

[2022-10-19 19:14] kellian84 commented on #23773
Do you have solution?

[2022-10-19 20:07] Hlavtox commented on #28336
I think we don't need any id_guest thing at all. If the customer is registered, even when he is not, he will ALWAYS have proper unique id_customer, tied to the cart. I will have a look on it.

[2022-10-19 21:25] Hlavtox opened #30074 "Cart recovery issues and silently consuming errors"
## Describe the bug and add screenshots

Prestashop has a functionality that allows to send a prepared cart to customer via a special link. When he visits this link in front office, it will automatically assign proper customer, log him in if needed and load this cart. This link is used for example in **backoffice order** or custom **abandoned cart reminder** modules.

**This link looks something l

[2022-10-20 06:45] PrestaEdit opened #30076 "Legacy translations system is not usable on Front Office with modules having _ in their name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Due to this change (https://github.

[2022-10-20 06:51] jf-viguier commented on #30076
Thanks @PrestaEdit, U rocks

[2022-10-20 06:58] Hlavtox commented on #30032
@nicosomb @AureRita This spelling error is everywhere in the core.

This feature is obsolete and will be removed in the near future, I wouldn't loose time on it. ✌️

[2022-10-20 08:16] teemumantynen opened #30077 "Copy of an email is not sent to Bcc address in PS 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Copy of an email is not sent to Bcc

[2022-10-20 08:23] idnovate commented on #29710
I can't reproduce this issue in PS 8 but I can not see any commit for it in the related issue https://github.com/PrestaShop/PrestaShop/issues/19393.

Do you know if it has been fixed by any other PR?

Thanks.

[2022-10-20 08:31] nicosomb commented on #30032
@Hlavtox oh you're right, it's planned on https://github.com/PrestaShop/PrestaShop/issues/27318. Sorry for the noise.

So should we close this issue?

[2022-10-20 08:41] HanaRebaiQA commented on #30074
Hello @Hlavtox

It looks similar to this issue https://github.com/PrestaShop/PrestaShop/issues/10996
What do you think?

Thanks!

[2022-10-20 08:47] Hlavtox commented on #30074
Hi @HanaRebaiQA, I am not sure, that issue is not very well explained and it's using not very good English. However, I think that the issue you mention will be also fixed by my PR.

In this issue, you have perfect explanation, deep information, test module. :-)

[2022-10-20 09:17] HanaRebaiQA commented on #30072
Hello @jomaeva

Thanks for your report.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/10912
To be informed when it's fixed, please subscribe to the issue mentioned above.

[2022-10-20 09:18] HanaRebaiQA commented on #30072
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/10912

[2022-10-20 09:18] #30072 closed, assigned to nobody

[2022-10-20 09:42] HanaRebaiQA commented on #30074
Hello

Thanks @Hlavtox for your feedback!
I tried to reproduce your issue on develop using the your module [tox_cartrecoverytest (1).zip](https://github.com/PrestaShop/PrestaShop/files/9828344/tox_cartrecoverytest.1.zip) in order to generate the different URLs for the different cart ID generation.
I have always this error.

![image](https://user-images.githubusercontent.com/92912932/196910260-b568

[2022-10-20 09:54] Hlavtox commented on #30074
@HanaRebaiQA You are reproducing it completely wrong. It's not about **CART RULES** but **CARTS**. `Prestashop has a functionality that allows to send a prepared cart to customer via a special link. This link is used for example in backoffice order or custom abandoned cart reminder modules.`

I even wrote in my test module, that you can find cart IDs on "Shopping cart" page.

**I provided exact st

[2022-10-20 10:39] HanaRebaiQA commented on #30076
Hello @PrestaEdit

Thanks for your report.
I was able to reproduce your issue on **PS178x** and **PS8.0 RC build1**.

**PS1787 : OK** :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/196926952-47f98595-e69c-41da-afb2-1c619d891457.mp4

**PS178x  : NOK** :x:

https://user-images.githubusercontent.com/92912932/196926896-e1ee6229-5b22-45d2-b60b-fe7699ce0728.mp4

**PS8.0RC build1

[2022-10-20 10:41] PrestaEdit commented on #30076
Minor ?

[2022-10-20 10:44] HanaRebaiQA commented on #30076
Minor because : Results in some unexpected or undesired behavior, but not enough to disrupt system function

[2022-10-20 10:47] promokit commented on #30011
I have the same Fatal Error trying to install my own theme.
<img width="1086" alt="scr_20221020_124414" src="https://user-images.githubusercontent.com/8327296/196928530-8699dd9c-6c1b-472d-955c-4e29d9b64e3b.png">

[2022-10-20 10:48] HanaRebaiQA commented on #30077
Hello @teemumantynen

Thanks for your report.
Could you please specify concise and clear steps to reproduce with a kind screenshot a screen-record to can reproduce your issue ?

Thanks!

[2022-10-20 11:04] GytisZum commented on #30011
I manage to recreate it with debug mode enabled. Without debug mode theme enabling flow works as it should.

[2022-10-20 11:05] jf-viguier commented on #30076
@HanaRebaiQA is not minor IMO because most of modules have _ in they names.

[2022-10-20 12:08] sebaj opened #30078 "Checkout - PHP Error in Shipping step"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I have no shipping methods, th

[2022-10-20 12:19] sebaj opened #30079 "Shipping methods backoffice - cannot save changes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am trying to modify or create a n

[2022-10-20 12:45] #29849 closed, assigned to nobody

[2022-10-20 12:46] #29211 closed, assigned to marsaldev

[2022-10-20 13:31] HanaRebaiQA commented on #30074
Hello @Hlavtox

Yes! you are right! But i also tried to reproduce with Carts in Shopping carts page on develop and php 8.0 and i was unable to reproduce it. I have always the same message.

Did I miss something?

https://user-images.githubusercontent.com/92912932/196958906-8ed8828f-f6a5-4e80-9958-0de954afb61b.mp4

Thank You!

[2022-10-20 13:49] szavadskiy opened #30081 "Child theme. When you have a theme with children, cache of yaml config file of the theme is created in the root path of PrestaShop instead of var/cache/yaml directory."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Child theme using:

![scrnli_10_20_

[2022-10-20 13:56] Prestaworks commented on #30076
yes, but devs are not supposed to do that.
https://devdocs.prestashop-project.org/1.7/modules/creation/module-file-structure/

I guess the legacy translation system will be dropped in the future and then those modules will still not work properly. So best thing is to rename the modules for Prestashop8 and use the new translation system.

[2022-10-20 14:23] Hlavtox commented on #30074
@HanaRebaiQA Yes, that is the error, that it should show an error message instead of an empty cart. Also, you cannot just change the id in the URL, the token is unique. That's why I provided the test module to easily generate the URLs.

Let's try a different approach.

### Scenario 1
0. Clear cookies.
1. Go to FO, add something to cart, finish step 1 in checkout. See that in BO, a cart was created

[2022-10-20 14:33] jf-viguier commented on #30076
@Prestaworks you cannot change years of development habits in a finger snap, By the way, think about specific code in place for years.
Upgrade to PrestaShop 8 should be smooth, it's the strategy explained by @matks and @eternoendless, we should fit to it.

[2022-10-20 14:43] PrestaEdit commented on #30076
It's only a suggestion, and for your information the newest system is only available since 1.7.6 and usable with XLF files on 1.7.8.

You can't change the way of third party module are working without depreciation and nothing as this as you want, for sure.

[2022-10-20 14:47] Prestaworks commented on #30076
I don't say it's a bad thing to fix this, but eventually the legacy system will have to be dropped. We can't have two systems for translations forever.

[2022-10-20 14:57] PrestaEdit commented on #30076
Also, FIY, there is something wrong : this mention was only added one year ago, in this page. On the end of July 2021 :)

[2022-10-20 15:25] HanaRebaiQA commented on #30078
Hello @sebaj

Thanks for your report.
I was able to reproduce your issue with **8.0RC** with only **php 8.1**

**8.0.0RC with php 8.0 : OK** :heavy_check_mark:

![image](https://user-images.githubusercontent.com/92912932/196991212-228b61e8-1c2d-4573-a719-cbf5c2763b53.png)

https://user-images.githubusercontent.com/92912932/196991249-e18bc4b0-073f-4876-9794-476a96174db4.mp4

**8.0.0RC with php 8.1

[2022-10-20 15:32] sebaj commented on #30078
Hi! Thank you for your reply

Be aware that I have used prestashop 8 rc1 which is published in docker hub
Maybe you should use another php version for that image.

El El jue, 20 de oct. de 2022 a la(s) 12:25, Hana REBAI <
***@***.***> escribió:

--
Sebastián Jaimovich
***@***.***

[2022-10-20 15:49] HanaRebaiQA commented on #30078
Hello  @sebaj

Yes! I was able to reproduce your issue with php 8.1.

[2022-10-20 15:53] HanaRebaiQA commented on #30079
Hello @sebaj

I tried to reproduce your issue. But, I was unable to reproduce it.
I used **8.0.0RC** with both **php 8.0** and **php 8.1**

**8.0.0RC with php 8.0 : OK** :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/196996200-af49e276-dfd7-4780-b8e6-0e049b8a6f9e.mp4

**8.0.0RC with php 8.1 : OK** :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/196996

[2022-10-20 15:54] sebaj commented on #30078
Yes, I got your explanation in the previous email.:)
I just wonder if Docker image must have PHP 8.0 instead of 8.1 or if
Prestashop 8 must be compatible with 8.1 ?

Best regards!
 Sebastian

El jue, 20 oct 2022 a la(s) 12:49, Hana REBAI ***@***.***)
escribió:

--
Sebastián Jaimovich
***@***.***

[2022-10-20 15:57] sebaj commented on #30079
Could you try using docker-compose with this YML I attached to you?
I installed Prestashop 8 based on Docker image, maybe the bug is related to
Docker connection?

Regards!
 Sebastian

El jue, 20 oct 2022 a la(s) 12:53, Hana REBAI ***@***.***)
escribió:

--
Sebastián Jaimovich
***@***.***

[2022-10-20 16:09] HanaRebaiQA commented on #30071
Hello @sLorenzini

Thanks for your report.
I was able to reproduce your issue with PS1787.

![image](https://user-images.githubusercontent.com/92912932/197001548-d201055a-d246-4533-be70-0ab0ba394df6.png)

I'll add this to the debug backlog so that it's fixed.

Thank You!

[2022-10-20 16:31] HanaRebaiQA commented on #30081
Hello @szavadskiy

Thanks for your report.
I was able to reproduce your issue with PS1787 and PS178x but i was unable to reproduce it on PS8.0.0RC and PS1778.
It's a regression on PS178x.

**PS1778 : OK** :heavy_check_mark:

https://user-images.githubusercontent.com/92912932/197005707-792053eb-e90e-4207-85f4-cac23fa9b86e.mp4

**PS8.0.0RC : OK** :heavy_check_mark:

https://user-images.githubusercon

[2022-10-20 16:33] HanaRebaiQA commented on #30081
It's related to this one https://github.com/PrestaShop/PrestaShop/issues/27635

[2022-10-20 16:36] ChineseNorris commented on #14979
3 years since pull was opened and no one is assigned yet to solve this issue... is this for real? This is a true real world scenario issue, with top priority (user can't finish order) and no one is assigned to solve this task yet.

I would really like to help but I don't know how to develop on Presta, where could I begin to learn to debug and develop?

PD: Would also like to pay if someone can fix

[2022-10-20 16:38] HanaRebaiQA commented on #30070
Hello @sLorenzini

I was able to reproduce your issue with 8.0.0RC.

![image](https://user-images.githubusercontent.com/92912932/197007548-4a816f88-7e3b-4e8c-b463-23e2f39bce3b.png)

[2022-10-20 17:13] kandiaga commented on #14979
Hi,
Please    conatct  me  from  my  website: https://prestatuts.com/en/contact-us
I  can help  .

[2022-10-21 03:21] caromatias opened #30083 "All exports are not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have several installations of Pre

[2022-10-21 04:38] teemumantynen commented on #30077
Hi @HanaRebaiQA

Steps to reproduce:

1. Open BO / Advanced Parameters / E-mail. Make sure config "Log Emails" is set to "Yes".

2. Install an addon module which implements hook ActionEmailSendBefore and in which one or more email addresses are set as values of the bcc-field in hook's parameters.

3. Perform any task that sends an email utilizing PrestaShop's Mail::send()-method. E.g. place an ord

[2022-10-21 09:46] margud opened #30085 "Module translations with different languages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If module has few different languag

[2022-10-21 12:05] hibatallahAouadni commented on #30083
Hello @caromatias

I didn't reproduce the issue with the provided info, it seems your issue is not related to your server configuration.

So closing the issue as we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Al

[2022-10-21 12:06] #30083 closed, assigned to nobody

[2022-10-21 13:09] dennispw opened #30088 "New password policy fix causes core.js to be gigantic"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With the new password policy (which

[2022-10-21 13:45] Mirko-Tebaldi commented on #27888
so... the actual  (21 of October of 2022) version of Prestashop is compatible up to which php version?

I cannot find this info in no where

[2022-10-21 13:54] realtebo opened #30089 "Make prestashop compatible with php 8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-21 14:02] Hlavtox commented on #30089
Hi, new version of Prestashop (v8) is getting released in following days. It supports both PHP 8 and PHP 8.1

[2022-10-21 14:04] Hlavtox commented on #30088
It's 940 kB in the final version. 🤯
In 1.7.6, it's 110 kB...

[2022-10-21 14:07] HanaRebaiQA commented on #30076
Hello everybody,

As seen with @khouloudbelguith, we checked this issue with a native module (eg. `ps_emailsubscription`) with **8.0.0RC build1 without PR** having an underscore  in it's name.
We did not reproduce the issue using this native module. The translation is well updated with French language.

This is a screen-record :

https://user-images.githubusercontent.com/92912932/197214219-4a0750c

[2022-10-21 14:09] PrestaEdit commented on #30076
Because it's a native module, with ps_ as name. There is an exception. It's why there is a module as example, too.

[2022-10-21 14:09] Prestaworks commented on #30076
I think there is a exception specificly for ps_ modules. I remember som discussion about this on slack.

[2022-10-21 14:16] realtebo commented on #30089
WOW Thanks.

Are there any documentation about migration for developers, because we have ... ehm ... a TON of plugin to make compatible with new version?

[2022-10-21 14:21] skyliners4 opened #30090 "Invoice change when product deleted and address changed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we change the invoice address

[2022-10-21 14:50] #30089 closed, assigned to nobody

[2022-10-21 15:25] khouloudbelguith opened #30091 "BO - An exception is displayed in all migrated page after deleting the employee language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > All migrated pages, An

[2022-10-21 15:30] HanaRebaiQA opened #30092 "FO - Images are not well displayed on responsive mode after a bad scroll"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When images > 5 : Images are not we

[2022-10-21 15:30] HanaRebaiQA opened #30760 "FO - Images are not well displayed on responsive mode after a bad scroll"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When images > 5 : Images are not we

[2022-10-21 16:36] adamus007p commented on #29868
I see that this second cookie comes from
Ps_categorytree.php > setLastVisitiedCategory

[2022-10-21 16:40] adamus007p opened #30094 "cache problem -not valideted orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I have noticed that when I w

[2022-10-21 17:18] jeckyl opened #30095 "An uninstalled module with deleted folder remains displayed with an Install button available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

On version 8.0.0 rc1
If you de

[2022-10-21 18:40] NeOMakinG commented on #30088
This is a real issue

@Hlavtox wdyt of improving it by async loading zxcvbn only on specific pages using it? `zxcvbn` doesn't provide any way to load the pw catalog on use by querying it or whatever

[2022-10-21 18:48] Hlavtox commented on #30088
We should just pass it to the core by ajax, to a single password validator. One source of truth. No need to pass any config to FO, no need to load this library.

[2022-10-21 19:17] matks commented on #30088
About this issue here is this thread https://github.com/dropbox/zxcvbn/issues/169 that contains multiple solutions

[2022-10-21 19:30] Hlavtox commented on #30088
Even if it was 100 kB, it's too much.

[2022-10-22 06:35] hibatallahAouadni commented on #30094
Hello @adamus007p

It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-10-22 06:35] #30094 closed, assigned to nobody

[2022-10-22 10:38] adamus007p commented on #30094
@hibatallahAouadni as I was checking caching it is related to Prestashop.

Two different payment modules can not be wrong ;)

[2022-10-22 13:48] Hlavtox commented on #30088
https://github.com/dropbox/zxcvbn readme:
[code]

[2022-10-22 17:12] slupostrupek commented on #30041
Module should extends ImageManagerCore.  What is incorrect? Precise or upload working module

[2022-10-22 19:42] matks commented on #30041
Hello @hibatallahAouadni I think @rsoulard-prolaser is right : the given example module does not follow the official documentation about how override work.

@slupostrupek Inside the module is a PHP class ImageManager.php and it should extend ImageManagerCore, like this:
[code]

See documentation https://devdocs.prestashop-project.org/1.7/modules/concepts/overrides/

@hibatallahAouadni As the examp

[2022-10-23 12:11] sefirosweb opened #30098 "Fresh install branch 1.7.8.x is not working (with docker)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you clone the branch 1.7.8.x a

[2022-10-23 12:48] PrestaEdit commented on #30098
Hi,

You missed the make assets part (https://devdocs.prestashop-project.org/1.7/basics/installation/localhost/#javascript-and-css-dependencies).

[2022-10-23 13:26] sefirosweb commented on #30098
Hi,

This step must be done it alone (that's the idea for using docker),
Seem this branch have a multiple bugs,

![image](https://user-images.githubusercontent.com/20754836/197394656-e7ac2d77-1fec-4edd-9824-aa98ffb7176f.png)

I see that uses a deprecated version of node,
I try to update and let you know if it works well

![image](https://user-images.githubusercontent.com/20754836/197394855-8a9a7a3

[2022-10-23 13:39] Oksydan commented on #30088
@NeOMakinG @matks assign me to this task.
What branch should we target?
That core.js size ATM for me is unacceptable.
I am not going to run store on prestashop 8.0 w/o modifying core.js 😕

[2022-10-23 14:27] kpodemski commented on #30088
@Oksydan I've just assigned you

no one discussed severity of it yet, If you can come up with something I think you could target RC branch, so the project could have it in the final version

[2022-10-23 14:28] sefirosweb commented on #30098
Solved updating node version to 14 works fine,

The docker automatically build the assets,

I will make a PR to update this branch, to fix these issues

[2022-10-23 17:14] Hlavtox opened #30100 "Fatal error after upgrade to 8.0 RC"
After upgrading to 8.0 from 1.7.6 or 1.7.7, fatal error is shown when accessing backoffice.

### Steps to reproduce

1. Install latest 1.7.6 or 1.7.7 release.
2. Get latest autoupgrade code from https://github.com/PrestaShop/autoupgrade, run composer install. Install the module. Or use this: [autoupgrade.zip](https://github.com/PrestaShop/PrestaShop/files/9850726/autoupgrade.zip)
3. Download https

[2022-10-23 17:18] Hlavtox opened #30101 "Modules page default button changed on 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If module is not configurable, the

[2022-10-23 17:32] Hlavtox opened #30102 "Database structure difference between clean and upgrade to 8.0 RC"
## Describe the bug and add screenshots

Database structure is different between clean install of 8.0 RC and upgrade from 1.7.6.9 to 8.0 RC.

### Extra tables
On upgraded install, there are extra unused tables `ps_order_slip_detail_tax` and `ps_attribute_impact`.

### Different column types, charsets, default values etc.
On upgraded install, there are many differences between the two databases.
![

[2022-10-23 18:17] tajriba opened #30103 "Can't install beta prestashop 8.0 RC1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Can't install on apache, php 8.0 fr

[2022-10-24 01:35] MGDev-FR commented on #27888
For what I see... it's not compatible with 8.0 or 8.1 but with 7.4... sadly.

I was so happy to use Prestashop (for the first time)... now I am disappointed to have to downgrade my PHP version when I am currently working on the last PHP version for clients...

[2022-10-24 05:03] kpodemski commented on #27888
@MGDev-FR the upcoming PrestaShop 8.0 is compatible with PHP 8.1

[2022-10-24 07:43] NeOMakinG commented on #30088
@kpodemski about the severity, remember that that file will be loaded inside `every` theme as it's a forced dependency, it would cause the whole ecosystem to load a file almost 1mb larger than the previous one, this is pretty huge and could block users to adopt the 8.0

[2022-10-24 07:44] #27866 closed, assigned to Progi1984

[2022-10-24 07:59] kpodemski commented on #30088
@NeOMakinG, you don't need to convince me, believe me, 👍 I know it's a major issue

[2022-10-24 08:39] kpodemski commented on #30103
Hello @tajriba

There's no error screenshot in your issue.

[2022-10-24 11:21] AlexandreBEUDET opened #30109 "Form contact + AdminCustomerThreads With and Without order reference"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

From the contact form,

- If an ord

[2022-10-24 12:10] #27322 closed, assigned to nobody

[2022-10-24 12:10] #27320 closed, assigned to nobody

[2022-10-24 12:31] #27323 closed, assigned to nobody

[2022-10-24 13:33] eshraw commented on #30051
To investigate w/ dev @PrestaShop/product-team

[2022-10-24 13:42] khouloudbelguith commented on #30011
Hi all,

I tried with a specific theme.
I have this exception
![image](https://user-images.githubusercontent.com/16067358/197539067-5c958bbc-4f1e-4d37-946b-611ee2dc46bc.png)
It is not the same as reported by @zuk3975
@kpodemski @zuk3975 what do you think?

I tried when the debug mode disabled => I have an error 500
I tried to remove the cache manually by deleting all the folders into var/cache (pr

[2022-10-24 13:43] kpodemski commented on #30011
@khouloudbelguith it's related (Unable to generate URL), it's about the cache not being cleared properly when you switch the theme

[2022-10-24 13:45] HanaRebaiQA commented on #30011
Hello,

I think that your issue is related to this one https://github.com/PrestaShop/PrestaShop/issues/28304 and reproduce also [here](https://github.com/PrestaShop/PrestaShop/issues/28304#issuecomment-1164564807) which is related to `blockwishlist` module.
What do you think?

Thank You!

[2022-10-24 13:46] kpodemski commented on #30011
@HanaRebaiQA it kinda is related, but the scope of this PR is strictly around themes. The impact tho may be broader.

[2022-10-24 14:20] promokit commented on #30011
@kpodemski I would say it's not strictly around themes itself, but around themes which has as a dependency a module with Symfony routes, even native ones like Links List or Wishlist

[2022-10-24 15:03] NeOMakinG commented on #30074
I reproduced the behavior, but we need to verify with the @PrestaShop/product-team if the error message is the behavior we want

@MatShir would you have some time to discuss it?

[2022-10-24 16:10] PrestaEdit commented on #29945
It's merged, but never closed.

[2022-10-24 16:10] #29945 closed, assigned to nobody

[2022-10-24 17:02] #29077 closed, assigned to nobody

[2022-10-24 17:11] #29513 closed, assigned to nobody

[2022-10-24 17:42] promokit commented on #30011
I drop a link to a theme that you can use to reproduce the issue https://www.dropbox.com/s/o22mimiue3cjwa5/alysum-8.zip?dl=0

[2022-10-24 17:56] tajriba commented on #30103
@kpodemski error attachment added now

[2022-10-25 07:08] kpodemski commented on #30103
@tajriba could you check if you have any installations logs inside `/var/logs/`?

[2022-10-25 07:14] loetje88 opened #30111 "Ps 1.7.7.8 does not create valid invoices"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Invoices which are generated, are n

[2022-10-25 07:24] tajriba commented on #30103
No there are no logs.

[2022-10-25 07:35] Fourmarketing360 commented on #22784
same here

[2022-10-25 07:43] sallemiines commented on #30092
Hello @HanaRebaiQA

Thanks for reporting the issue.
I reproduce the issue with PS1778 , PS1787 OK , develop / ps80x !

Thank you !

[2022-10-25 08:25] kpodemski commented on #30011
It seems that cache clearing _onEnable_ and _onDisable_ module is required for modules that work with SF Tabs. We need to regenerate the UrlGenerator.php from the cache once we disable or enable module.

In `/src/Core/Module/EventSubscriber.php`, I'd suggest clearing the entire cache on:

[code]

and module cache on:

[code]

Unfortunately, this won't solve the problem with themes, as there's no r

[2022-10-25 08:33] hibatallahAouadni commented on #30058
Duplicate of #27757

[2022-10-25 09:24] promokit commented on #30011
So as I understand potential solution could be a clearing cache after module installation using the hook "actionModuleInstallAfter"?

[2022-10-25 09:25] waveywaves commented on #30029
Hi @hibatallahAouadni, I will create a PR which you can review and we can go ahead from there :)

[2022-10-25 10:18] jolelievre commented on #30011
My guess is that the action of enabling a them is performed in an action that then renders the BO, so the Tabs have been added but the cache has not been cleared yet (because it's only done on the process shutdown see `SymfonyCacheClearer` class).

So when it tries to display the new tab based on SF route right after it's been inserted it can't because the cache hasn't been cleared yet. I guess we

[2022-10-25 10:21] kpodemski commented on #30011
@jolelievre actually, we do have this issue if we go with the:

1. install the module
2. disable module
3. clear cache
4. enable module -> fail

[2022-10-25 10:32] khouloudbelguith commented on #30088
Hello,

I checked the core.js with PS1787
![image](https://user-images.githubusercontent.com/16067358/197750582-33661dcf-4cf6-4e6b-ad57-68f09f1be3de.png)
I checked the core.js file with 8.0.0RC1
![image](https://user-images.githubusercontent.com/16067358/197750771-29f7b709-f399-4655-b7e0-b84806585ce4.png)

Thanks!

[2022-10-25 10:32] hibatallahAouadni commented on #30089
Thanks @Hlavtox for your quick replies :superhero: :pray:

[2022-10-25 10:41] #30088 closed, assigned to Oksydan

[2022-10-25 10:42] hibatallahAouadni commented on #29880
Hello @lmeyer1

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: It's seems you're busy, so when you can provide a screen record, please ping me to reopen the issue :pray:

Thanks!

[2022-10-25 10:45] hibatallahAouadni commented on #29779
Hello @haveyougotanypets

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-10-25 10:45] #29779 closed, assigned to nobody

[2022-10-25 10:54] HanaRebaiQA commented on #30076
Fixed by https://github.com/PrestaShop/PrestaShop/pull/30080

[2022-10-25 10:54] #30076 closed, assigned to atomiix

[2022-10-25 12:32] matks commented on #29594
I put this ticket back in "In progress" as there is issues on the PR for the module release https://github.com/PrestaShop/ps_distributionapiclient/pull/12

[2022-10-25 13:46] NordineA opened #30112 "Namespaces on overrode classes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- Namespaces stays inside the overr

[2022-10-25 14:38] aghaeian commented on #12452
you are a true hero

you are a true hero @Bess112 .

issue is fixed.

[2022-10-25 17:06] Mecanik opened #30117 "Email delivery / PS_SHOP_EMAIL / Not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is the first time I installed

[2022-10-25 17:24] khouloudbelguith commented on #30098
Hi @PrestaEdit,

I manage to reproduce the issue with 1.7.8.x branch
![image](https://user-images.githubusercontent.com/16067358/197841014-7458f18f-461f-4f09-a925-a253a7619c62.png)
![image](https://user-images.githubusercontent.com/16067358/197841047-10a47727-b6d5-43a2-ba07-bd4c76a47649.png)
I'll add this to the backlog.

Thanks for the PR.

[2022-10-25 17:24] hibatallahAouadni commented on #30028
Hello @Anthony-Tran

About the first bug is a duplicate of this one #29185 and it was fixed by this PR #29635
The second bug, I reproduce the issue only with PS1787 and PS800. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot w

[2022-10-25 17:37] hibatallahAouadni commented on #30002
Hello @ts2666

Thanks for your patience and the detailled screen record :clap: :pray:
Ping @PrestaShop/prestashop-core-developers Could you please check this issue :pray:

Thanks!

[2022-10-25 17:40] hibatallahAouadni commented on #29814
Hello @nitronco

Thanks for your patience :pray:
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2022-10-25 17:40] #29814 closed, assigned to nobody

[2022-10-25 17:43] hibatallahAouadni commented on #30079
Hello @sebaj

I installed Prestashop 8 based on Docker image, maybe the bug is related to Docker connection?

Could you please reply on Github thread :pray: cause when you replied by mail, there's no attachment file visible on Github.
Waiting for your feedback.

Thanks!

[2022-10-25 18:38] sebaj commented on #30079
Hello @hibatallahAouadni , sorry for that. Here is the attachment:

[docker-compose.zip](https://github.com/PrestaShop/PrestaShop/files/9863042/docker-compose.zip)

Thank you! :)

[2022-10-25 19:40] jolelievre commented on #29709
This issue as reproduced by @khouloudbelguith (see this comment https://github.com/PrestaShop/PrestaShop/pull/29039#pullrequestreview-1155166168)

So I don't think the issue should be closed yet, especially since we didn't start working on the product list in multishop (a PR is WIP) so this feature isn't handled yet and the specs need to be redefined anyway because the UX has changed.

[2022-10-26 04:36] hibatallahAouadni commented on #30111
Hello @loetje88

I didn't manage to reproduce the issue with the provided infos.
Did you upgrade your shop from 1.6 to 1.7.7.8? If so, which method you used to upgrade your shop? And did you encounter any issue while upgrading your shop?
Please check and feedback.

Thanks!

[2022-10-26 04:42] hibatallahAouadni commented on #30103
Hello @tajriba

I didn't manage to reproduce the issue with the provided info.
Did you check your connection? Cause sometimes it happens when your connection is slow.
Please check and feedback.

Thanks!

[2022-10-26 04:48] hibatallahAouadni commented on #30101
Hello @Hlavtox

I think it's related to this issue #28331
Could you please check it 🙏
Waiting for your feedback.

Thanks!

[2022-10-26 05:05] hibatallahAouadni commented on #30100
Hello @Hlavtox

Before upgrading, did you enable the option `Disable non-native modules`?
I think your issue is related to this one #29469
Please check and feedback.

Thanks!

[2022-10-26 05:19] hibatallahAouadni commented on #30095
Hello @jeckyl

Indeed Sir, after uninstalling and deleting a module, you still find the module well displayed in the modules list with install button.
Cause in the new release 8.0.0, as you notice, we remove the *Module Catalog* page and we create a new native module that update all installed modules (if there's a new released version, an upgrade button will be displayed) and list all uninstalled

[2022-10-26 05:19] #30095 closed, assigned to nobody

[2022-10-26 06:42] Hlavtox commented on #30101
@hibatallahAouadni Yes, but it was not fixed by this PR - https://github.com/PrestaShop/PrestaShop/pull/28332.

Primary action for Non-configurable, installed module was `Disable`, now it is `Disable on mobile`.

[2022-10-26 06:45] Hlavtox commented on #30100
@hibatallahAouadni Not sure it's related. ps_mbo is just broken.

- When you upgrade with `Disable non-native modules` `On`, you get this fatal error.
- When you upgrade with `Disable non-native modules` `Off`, you don't have module catalog, so you want to have it back. So you enable `ps_mbo` - you get this fatal error anyway.

[2022-10-26 07:14] loetje88 commented on #30111
No, It was a fresh and new install with prestashop 1.7.7 and from there upgraded as provided.
To reproduce, see attached screenshot.
![QzpcVXNlcnNcdXNlclxBcHBEYXRhXFJvYW1pbmdcRGluZ1RhbGtcNDQyNTc3MzczX3YyXEltYWdlRmlsZXNcMTU4MDQ3MzQ3ODc4-3OTZGMkY3QS0xMTlFLTQzMjMtQjM0Qy1GMUZERDRBNURGN0IucG5n thumb png 0c6514923dd660e2cf745e7](https://user-images.githubusercontent.com/31586907/197959197-e645f163-33c8-

[2022-10-26 09:39] MatShir opened #30119 "Handle categories data for multishop"
**US**:
As a merchant, I want to edit the product's categories in multistore while editing the product page

**Specs**:
- When the MultiShop is deactivated:

When pressing on 'add new categories'
The modal displays the categories' tree without The 'root' category

- When the MultiShop is activated:

One shop can be linked to multiple root categories.

When pressing on 'add new categories'
The moda

[2022-10-26 09:39] MatShir opened #30120 "Handle specific price data for multishop"
**US**:
As a merchant, I want to manage the specific price in multistore while editing the product page

**Specs**:
- When the MultiShop is deactivated:

When pressing on 'add new/edit specific price'
The drop list 'shop' is hidden in the modal

- When the MultiShop is activated:

When pressing on 'add new/edit specific price'
The drop list 'shop' has current store context preselected in the drop

[2022-10-26 09:39] MatShir opened #30121 "Carriers new ui in the product page v2"
**US:**
As a merchant, I want to manage my carriers easily
The old ui was not intuitive, none of the carrier has to be selected if you want all your carriers to be used for this product

**Specs:**

By default, 'all carriers' is selected.
When a carrier is selected in the drop list then the carriers are displayed below the drop list as a label.
Only the carriers selected can use to deliver the pro

[2022-10-26 10:59] chattago2002 commented on #14979
Really, I'm using PS from many years but sometimes seems to be abandoned to itself. I know PS is an open source project but to be credible and palatable it's difficult to accept more than 3 years with no a true answer nor a solution.

I have this problem with less then 20 products on the cart. For "cart update action" waiting time is about 2,50s and then "/ps_shoppingcart/ajax add-to-cart action"

[2022-10-26 11:11] marsaldev commented on #14979
Hi @chattago2002, I understand your frustration, and maybe of others developers.
But during this years developers (paid or from community) have worked on a lot of other stuff, for sure this is not an abandoned to itself project 😊

A lot of things have changed, and in the coming months there will be a person who will spend the 100% of time solving, or try to solve, performance issue(s). Again, paid

[2022-10-26 11:35] mnowakpcgs commented on #14979
It's most likely a module causing the slow load for you. The default
install doesn't have this issue.

On Wed, Oct 26, 2022, 4:59 AM chattago2002 ***@***.***> wrote:

[2022-10-26 12:00] excitedbox commented on #29166
If you install phpunit bridge once the symfony 4.4 based version of prestashop is released you can see exactly what needs to be done to upgrade to 5. So far I haven't had many breaking changes going from my Symfony 5 -> 6 projects.

At this point I am even considering if it may be easier to build a shopping cart based on Symfony 6 from scratch than waiting on any of the other Open Source projects.

[2022-10-26 12:36] MatShir opened #30123 "Handle pack data for multishop"

[2022-10-26 12:36] MatShir opened #30124 "Handle suppliers data for multishop"
Suppliers
**User story**

As a merchant, I want to be able to edit my supplier depending on my shop's contexts.

**Specs**

https://build.prestashop-project.org/prestashop-specs/1.7/back-office/catalog/products/add-edit-v2.html#supplier

#### Multistore specificities

- List of checkboxes - The list of supplier only associated the shop context

When selecting/removing supplier with a product in si

[2022-10-26 13:24] #29730 closed, assigned to nobody

[2022-10-26 13:28] #29873 closed, assigned to nobody

[2022-10-26 13:53] #28484 closed, assigned to lartist

[2022-10-26 14:49] loetje88 commented on #30111
Only the regular store information, not vatnumber, COC number and bank number.Also, not in the header section - which is required by law to be valid invoices. At this moment, the invoice does not show which company and with what registrered information is providing the invoice.

[2022-10-26 14:50] kpodemski commented on #30011
I'm afraid it's a global issue. The workaround is for you to stop using sf route in Tab, and maybe redirect legacy Tab to the new one...

Unfortunately, we need to wait for it to be fixed with 8.0.1

[2022-10-26 14:53] promokit commented on #30011
Yes, that's an idea to disable tabs temporary

[2022-10-26 14:53] #30123 closed, assigned to nobody

[2022-10-26 15:23] eternoendless commented on #30100
`ps_mbo` needs to be upgraded to v4 to work with PrestaShop 8. You can find the newer version [here](https://github.com/PrestaShopCorp/ps_mbo/releases). However, to the best of my knowledge v4 is not compatible with 1.7.8 so it might be kind of tricky to upgrade it.

@intraordinaire @sowbiba perhaps you can provide some insights here?

[2022-10-26 15:31] matks commented on #26427
[PrestaShop 8.0.0 is released](https://github.com/PrestaShop/PrestaShop/releases/tag/8.0.0) on GitHub

Docker images incoming, as well as release notes

[2022-10-26 15:32] matks opened #30128 "Release 8.0.1"
This issue tracks the status of the PrestaShop 8.0.1 release

### Information

Q                                                     | A
--------------------------------|---------------
**Type**                                        | Patch version
**Build date**                        |  2022-12-27
**Milestone**                                | [8.0.1](https://github.com/PrestaShop/PrestaShop/mi

[2022-10-26 15:47] BenTen commented on #30102
Pour `ps_order_slip_detail_tax`
https://github.com/PrestaShop/PrestaShop/pull/24118

[2022-10-26 16:03] sowbiba commented on #30100
Hello. With PS v8.0 you can only have ps_mbo v4.0+

[2022-10-26 16:06] sowbiba commented on #30100
You're absolutely right @eternoendless ps_mbo v4 is compatible with PS 8.0
You'll have to manually download the release and upgrade it through the module manager page

[2022-10-26 19:41] tajriba commented on #30103
@eternoendless @hibatallahAouadni I enabled dev mode, and this is the information:
<img width="691" alt="Schermafbeelding 2022-10-26 om 21 32 14" src="https://user-images.githubusercontent.com/68469531/198121121-b733d09f-e34f-42c3-a062-283164a7aee4.png">
<img width="1030" alt="Schermafbeelding 2022-10-26 om 21 40 45" src="https://user-images.githubusercontent.com/68469531/198121132-42e2165d-99ff-4

[2022-10-26 20:23] ChineseNorris commented on #14979
would you mind to share those fixs to the community?

[2022-10-26 20:26] davidcylke commented on #14979
I would, but its not jest a simple file edit. I think he created cart cache or something to improve it. I can give you contact to him. I don't want to make any fake advertising here, but honestly I didn't find better independent devs through last 10 years.

[2022-10-26 20:37] matks commented on #24111
PrestaShop 8.0.0 has been published

https://build.prestashop-project.org/news/prestashop-8-0-0-available/

[2022-10-26 20:37] #24111 closed, assigned to nobody

[2022-10-27 00:36] letwang commented on #24111
Good Job~

[2022-10-27 06:18] dheerajwebkul opened #30131 "Hook with the name registerGDPRConsent has been registered but has not been defined in the Module class."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Registered this 'registerGDPRConsen

[2022-10-27 07:05] PrestaEdit commented on #30131
Hi,

Your issue is coming from the third party module **wkonepagecheckout**.

PrestaShop 8, with debug mode enabled, will throw the error to allow developpers to remove unused hooks registeration.

It's not a bug of Prestashop, you need to contact the author of this module in order to make it compliant.

[2022-10-27 07:45] dheerajwebkul commented on #30131
@PrestaEdit it's not related to only wkonepagecheckout its just an example, it's in any module that registered this registerGDPRConsent hook.
It's not a Prestashop bug, it's a PrestaShop official psgdpr module bug now which is conflicting with Prestashop 8.

To make compatible any module with the PrestaShop psgdpr module we need to only register this hook
See official doc:
https://build.prestashop

[2022-10-27 08:15] #29380 closed, assigned to atomiix

[2022-10-27 10:44] hibatallahAouadni commented on #30090
Hello @skyliners4

Thanks for your patience :pray:
Did you generate the invoice while the order's status is `Awaiting check payment` or `Payment accepted` or `Shipped`?
Waiting for your feedback.

Thanks!

[2022-10-27 10:59] hibatallahAouadni commented on #30085
Hello @margud

It seems your issue is related to this one #29316
Could you please check it and feedback.

Thanks!

[2022-10-27 11:43] khouloudbelguith opened #30134 "BO - Cannot download the child_classic theme from the Advanced customization page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error is displayed when download

[2022-10-27 11:58] madsoliver commented on #21101
What is missing to finalize this?
Seems like it's  almost finished?

[2022-10-27 12:12] bc-devle commented on #15291
Hi,
Still get this issue

[2022-10-27 12:43] ghost opened #30136 "Fax number phone and mail. But no VAT number or KvK number seen one shop info. !!"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-27 12:47] hibatallahAouadni commented on #30077
Hello @teemumantynen

We didn't manage to reproduce your issue without a module and it seems that your issue is not a PrestaShop core bug.
If your module is Official, please contact support team on Addons.

We will close this issue.

Thanks!

[2022-10-27 12:47] #30077 closed, assigned to nobody

[2022-10-27 12:55] #30109 closed, assigned to nobody

[2022-10-27 13:08] Esh-network opened #30137 "Calculated tax error on product 1.7.8.x test"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, I have a problem with the ca

[2022-10-27 13:23] HanaRebaiQA commented on #29613
Hello everyone,

I have checked again this issue with @atomiix (Thanks !) We did not ma,nage to reproduce it again.
So, i'll close it.

It's related to this issue https://github.com/PrestaShop/PrestaShop/issues/28924

https://user-images.githubusercontent.com/92912932/198296203-ab8ce9c8-8ca1-40ce-8479-6b3d65b91501.mp4

Thank you!

[2022-10-27 13:23] #29613 closed, assigned to florine2623

[2022-10-27 13:52] jf-viguier commented on #26676
Any news here ?

[2022-10-27 14:45] Gruttershop commented on #26427
<div id="contact-link">
	<a href="{$urls.pages.contact}">{l s='Contact us' d='Modules.Contactinfo.Shop'}</a>
    {if $contact_infos.phone}
      {* First tag [1][/1] is for a HTML tag. *}
      {l
        s='Call us: [1]%phone%[/1]'
        sprintf=[
          '[1]' => '<span>',
          '[/1]' => '</span>',
          '%phone%' => $contact_infos.phone
        ]
        d='Modules.Contactinfo.Shop

[2022-10-27 14:52] nicosomb commented on #30103
Hello @tajriba.

Maybe you have permissions issue on your folders. Could you have a look in the documentation https://devdocs.prestashop-project.org/8/basics/installation/localhost/#setting-up-file-rights ?

[2022-10-27 15:08] #28499 closed, assigned to Progi1984

[2022-10-27 15:12] #9662 closed, assigned to nobody

[2022-10-27 15:12] #14411 closed, assigned to Progi1984

[2022-10-27 15:13] #29422 closed, assigned to nobody

[2022-10-27 15:19] jolelievre commented on #29666
Fixed by #29756

[2022-10-27 15:19] #29666 closed, assigned to mflasquin

[2022-10-27 16:06] Arpit-Gulgulia commented on #30071
Setting padding-bottom to the button `padding-bottom: 0.8rem;`  OR  `height: inherit;` will solve the issue.
Below is the snapshot.
![image](https://user-images.githubusercontent.com/48010798/198341505-a75e9cb1-b54f-4352-a728-7ca0afab773c.png)

Please let me know if I can push the changes.
Thanks!

[2022-10-27 16:42] hibatallahAouadni commented on #30102
Hello @Hlavtox

Thanks for reporting the issue :pray:
Ping @PrestaShop/prestashop-core-developers someone please try to reproduce the issue, it's too technical!

PS: @BenTen thanks for your quick reply :rocket:

Thanks!

[2022-10-27 16:43] hibatallahAouadni commented on #30112
Hello @NordineA

Could you please provide a test module to help me reproducing the issue :pray:
Waiting for your feedback.

Thanks!

[2022-10-27 16:46] hibatallahAouadni commented on #30117
Hello @Mecanik

I didn't manage to reproduce the issue with the provided infos. Could you please provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-10-27 16:52] Hlavtox commented on #30102
@BenTen Yes, of course, but the table should be removed on upgrade I think, no? Module developers can't count on it being there anway, because some installs would have it, some not.

[2022-10-27 18:56] jaroslavstreit commented on #12667
Same problem here, but:
Uncaught Error: Class 'Tools' not found in /var/www/html/config/config.inc.php:94\nStack trace:\n#0 /var/www/html/index.php(27): require()\n#1 {main}\n  thrown in /var/www/html/config/config.inc.php on line 94

Was looking for a problem with autoload, permisions or smth like this. I am using Dockerfile with docker-compose, on two Presta projects its working, on this one not

[2022-10-27 19:39] matks opened #30138 "Should the project have its own demo?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the issue
demo.prestashop.com is a service provided by PrestaSho

[2022-10-27 20:20] Gruttershop commented on #26427
We will try to make it or self. now one is here 2 help.

[2022-10-28 00:42] BenTen commented on #30102
No because this table exist so maybe someone use this table.
That's why the table is not remove from upgrade.

[2022-10-28 06:58] PaoloDalVecchio opened #30139 "Prestashop - Url after change product status"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Good morning
when i deactivate a pr

[2022-10-28 07:31] MatShir commented on #26427
Hi @Gruttershop,
If you have found a bug, I suggest you to report it [here](https://github.com/PrestaShop/PrestaShop/issues/new/choose). We will try to reproduce it in our end.
Otherwise, if you need help check out this [page](https://devdocs.prestashop-project.org/1.7/faq/i-need-help/).

[2022-10-28 08:49] ghost opened #30140 "store info edit"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-28 09:18] PrestaPierre opened #30141 "BO - Responsive - Cross to close the menu on tablets/mobile screen is not well placed (legacy pages only)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I want to see on tablet/mobile

[2022-10-28 09:30] SD1982 opened #30142 "Bankwire account details can be filled and saved with "blank""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When editing the account details, i

[2022-10-28 09:42] Hlavtox commented on #30142
Well, for example in our country, we only need to provide the account number, nothing else, so it's good that I can leave it blank I think. 🤷 Too bad the fields are displayed anyway, as empty, in frontoffice.

[2022-10-28 10:10] markoopapa opened #30144 "Prestashop 8 (Backoffice error 500 accessing Category in Monitoring tab)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop 8 (Backoffice error 500

[2022-10-28 10:50] borjagarciab opened #30145 "Bug saving Ecotax from combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you save a product without edi

[2022-10-28 11:00] HanaRebaiQA commented on #14411
Fixed by https://github.com/PrestaShop/autoupgrade/pull/507 & https://github.com/PrestaShop/PrestaShop/pull/29664

[2022-10-28 11:04] idnovate commented on #29436
It does not happen if there are other overrides in the folder. It only happens when the folder is empty.

[2022-10-28 11:17] HanaRebaiQA commented on #28924
Hello everybody,

@khouloudbelguith , @AureRita and me have checked again this issue. We did not reproduced it in our cases.

1. Create a .zip for **`blockwishlist v2.1.1`**
2. In PS 8.0.x > module manager > upload the module
3. Check that the module is well uploaded with **v2.1.1**
4. Create a .zip for **`blockwishlist v2.1.2`**
5. In BO > Module manager > Upload the module v2.1.2
6. Check that t

[2022-10-28 11:17] #28924 closed, assigned to MeKeyCool

[2022-10-28 11:30] idnovate commented on #29436
It seems related with this issue:

https://www.php.net/manual/en/splfileinfo.getpathname.php#102987
`In Windows, getPathname might return a path with a mix of backslashes and forward slashes ('C:/some/path/to\a\file.txt'). Observed in PHP 5.2.9. By contrast, getRealPath will return a consistent result (all backslashes).`

And the problem is with slashes:

`$directoryOverride` is `\override` while

[2022-10-28 11:43] Prestaworks opened #30147 "PHP Deprecated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Some php code used triggers depreca

[2022-10-28 12:10] tajriba commented on #30103
Folder Rights for var folder are: 775.

The errors with the installation, is about dev folder inside: var/cache/dev
Creates during install wizard this files without permissions at all:
dev/class_index.php
dev/class_stub.php

In 1.7.X we never had this?

Afterall, after the /install wizard creates this files without permissions, i changed permissions and the install is working.

[2022-10-28 12:12] hibatallahAouadni commented on #30136
Hello @Gruttershop

Thanks for your issue. Unfortunately, there is not enough information provided to understand it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2022-10-28 12:12] #30136 closed, assigned to nobody

[2022-10-28 12:13] hibatallahAouadni commented on #30140
Hello @Gruttershop

Thanks for your issue. Unfortunately, there is not enough information provided to understand it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2022-10-28 12:13] #30140 closed, assigned to nobody

[2022-10-28 12:35] florine2623 opened #30149 "Product page V2 - Modal has a card inside, it should not"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A card is present in the modal:

<i

[2022-10-28 12:42] idnovate commented on #18547
Could you please update this table?

https://devdocs.prestashop-project.org/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2022-10-28 13:21] nesrineabdmouleh opened #30155 "The dateTime of new customer last visit is not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The dateTime of new customer  last

[2022-10-28 13:41] nicosomb commented on #30144
I can reproduce the issue on the monitoring screen, not on Category one.

[2022-10-28 14:12] hibatallahAouadni commented on #30131
Hello @dheerajwebkul

Could you please provide a module that registre registerGDPRConsent hook to help reproducing the issue :pray:
Waiting for your feedback.

Thanks!

[2022-10-28 14:14] #29159 closed, assigned to MeKeyCool

[2022-10-28 14:15] #29460 closed, assigned to lartist

[2022-10-28 16:01] hibatallahAouadni commented on #30079
Ping @PrestaShop/qa-functional can someone please help reproducing the issue :pray:
Thanks in advance!

[2022-10-28 16:17] #30046 closed, assigned to nobody

[2022-10-28 16:19] jolelievre commented on #27054
Closed by https://github.com/PrestaShop/PrestaShop/pull/29084

[2022-10-28 16:19] #27054 closed, assigned to jolelievre

[2022-10-28 16:20] jolelievre commented on #29331
Closed by https://github.com/PrestaShop/PrestaShop/pull/29715

[2022-10-28 16:20] #29331 closed, assigned to mflasquin

[2022-10-28 16:22] #28351 closed, assigned to Progi1984

[2022-10-28 16:25] #29836 closed, assigned to nobody

[2022-10-28 16:25] hibatallahAouadni commented on #30141
Ping @PrestaShop/ux-team @NeOMakinG is the location of cross right or wrong?
Thanks in advance!

[2022-10-28 16:26] #28157 closed, assigned to nobody

[2022-10-28 16:28] #29889 closed, assigned to lartist

[2022-10-28 16:33] hibatallahAouadni commented on #30142
Hello @SD1982

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28351.
The issue has been fixed with this PR https://github.com/PrestaShop/ps_wirepayment/pull/77 (it will be released in v2.1.4).

Thanks!

[2022-10-28 16:33] #30142 closed, assigned to nobody

[2022-10-28 16:34] hibatallahAouadni commented on #30142
Duplicate of #28351

[2022-10-28 16:48] hibatallahAouadni commented on #30149
Hello @florine2623

It seems your issue has been fixed with this PR https://github.com/PrestaShop/prestashop-ui-kit/pull/195, it's just the v1.2.6 hasn't been released yet.
Closing the issue as a duplicate fo this one #28162

Thanks!

[2022-10-28 16:48] #30149 closed, assigned to nobody

[2022-10-28 16:49] hibatallahAouadni commented on #30149
Duplicate of #28162

[2022-10-28 18:20] hibatallahAouadni commented on #30147
Hello @Prestaworks

I didn't manage to reproduce the issue with the provided infos, it seems that there's something missing.
Could you please provide a screen record or some screenshots :pray:
Waiting for your feedback.

Thanks!

[2022-10-28 18:23] hibatallahAouadni commented on #30144
Hello @markoopapa

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2022-10-28 18:23] #30144 closed, assigned to nobody

[2022-10-28 18:27] hibatallahAouadni commented on #30139
Hello @PaoloDalVecchio

I didn't manage to reproduce the issue with the provided infos, could you please provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-10-28 18:44] hibatallahAouadni commented on #30155
Regression on develop! Nice catch :clap:

[2022-10-28 18:53] markoopapa commented on #30144
What more you need about itt? 3xplain plz

[2022-10-28 22:04] kpodemski commented on #28154
I'm changing the label as it was previously approved by PM

[2022-10-28 22:35] kpodemski commented on #28675
@MatShir any reason why you removed the Regression label?

[2022-10-28 22:56] kpodemski commented on #25579
@MatShir removed Regression again. Isn't it a mistake or something? If so, I'm afraid we've just lost track of many issues that are regressions to fix for 1.7.8 :/

[2022-10-28 22:58] kpodemski commented on #30103
I believe this part is worth checking.

[2022-10-28 23:05] kpodemski commented on #30011
@PrestaShop/product-team @PrestaShop/qa-team

Just a reminder to treat this issue with a proper priority for 8.0.1 🙏

[2022-10-29 06:27] promokit commented on #30011
@kpodemski Thanks for the reminder

[2022-10-29 10:25] Caleydon opened #30159 "PSGDPR module JS issue (PS 8.0.0)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

PS GDPR module 1.4.2 doesn't workin

[2022-10-29 10:26] kpodemski commented on #30144
@markoopapa

I couldn't reproduce your issue. Could you tell us if you did something after the installation? Did you delete any products, or categories? There's no error right after the installation.

If you didn't do anything, let us know about your environment in detail. Is it apache? Nginx? MySQL 5, 8? MariaDB?, etc.

[2022-10-29 10:37] markoopapa commented on #30144
Database server
Server: Localhost via UNIX socket
Server type: MariaDB
Server connection: SSL is not being used Documentation
Server version: 10.3.36-MariaDB-cll-lve - MariaDB Server
Protocol version: 10
User: minmagro@localhost
Server charset: cp1252 West European (latin1)

After fresh instal, i import from excel main category, after i import alt category, brands and at last produscts.

After fir

[2022-10-29 11:50] #20838 closed, assigned to nobody

[2022-10-29 11:53] kpodemski commented on #30144
@markoopapa

In that case, I think the problem is coming from the import. As I expected, something went wrong during this process, and there are some integrity failures inside your database.

To reproduce this issue, we would need some examples of your CSV file.

[2022-10-29 12:06] fdbckmedia commented on #27777
Adds a check before executing getimagesize()
`		if(file_exists($_FILES['image_' . $language['id_lang']]['tmp_name']))
               	 	$imagesize = @getimagesize($_FILES['image_' . $language['id_lang']]['tmp_name']);
`

[2022-10-29 12:44] #28879 closed, assigned to nobody

[2022-10-29 12:51] Caleydon commented on #18547
@idnovate : PrestaShop 8.x PHP compatibility chart is here
https://devdocs.prestashop-project.org/8/basics/installation/system-requirements/#php-compatibility-chart

[2022-10-29 15:46] Hlavtox commented on #30159
Ping @NeOMakinG

[2022-10-29 16:50] markoopapa commented on #30144
Nice...
I this case i atach all imported file in a zip and a photo where you can see the exact order of imports. all this data is from website admin folder.
Products was imported last but not with import from prestashop (was with module)

[imported.zip](https://github.com/PrestaShop/PrestaShop/files/9894175/imported.zip)
![Screenshot 2022-10-29 194653](https://user-images.githubusercontent.com/209

[2022-10-29 16:52] markoopapa commented on #30144
for you is important only the 27.10.22

[2022-10-30 09:54] unlocomqx opened #30161 "When maintenance mode is enabled, don't require adding IP for logged in admins"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-31 03:42] tecmikro commented on #27998
The solution consists of 2 steps:
1. Improve the accuracy of calculations by working with 4 decimal places or more if necessary. To do this, go to **International / Localization / Currencies.** Edit the currency and set the number of decimals to 4.

2. Format prices for display to 2 decimal places. For this, the **/src/Core/Localization/Number/Formatter.php** file must be edited as follows:

On li

[2022-10-31 07:39] slupostrupek commented on #30041
sorry, you have right extended was missing. Issue can be closed

[2022-10-31 07:59] #30041 closed, assigned to nobody

[2022-10-31 08:06] florine2623 commented on #29961
Hello @lmeyer1 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-10-31 08:06] #29961 closed, assigned to nobody

[2022-10-31 08:36] lmeyer1 commented on #29815
After more testing, I found out, that the URL `/module/blockwishlist/view?id_wishlist=<id>` is not accessible publicly, but that it remains only accessible on browser where the owner of the wishlist was logged before.
The problem is not so much with the wishlist URL anymore, but with the fact, that after logging out, one still has access to some resources owned by the logged out user, that should

[2022-10-31 08:36] #29815 closed, assigned to nobody

[2022-10-31 08:52] Max84 opened #30165 "Webservice is broken with PS 8.0 and PHP 8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The webservice provides invalid XML

[2022-10-31 09:08] florine2623 commented on #30137
Hello @Esh-network ,

It's normal that the calculation is incorrect.
Because you are using 2 different types of variables.
<img width="104" alt="Screenshot 2022-10-31 at 10 01 36" src="https://user-images.githubusercontent.com/16019289/198971467-ab06910d-ae18-41b5-8e49-e3e204cc9ab2.png">

You need to be using this: `{$product.rounded_display_price-$product.price_tax_exc}` to get you tax value.
Or

[2022-10-31 09:08] #30137 closed, assigned to nobody

[2022-10-31 09:20] florine2623 commented on #30161
Hello @unlocomqx ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else

[2022-10-31 09:34] florine2623 commented on #30145
Hello @borjagarciab ,

I can't reproduce your issue. Is there something else I'm missing ?

https://user-images.githubusercontent.com/16019289/198976920-6fe49cc9-6aae-4a2d-a4e9-439ecd272903.mov

The ecotax is always saved correctly.

Waiting for your feedback, thanks!

[2022-10-31 09:43] nicosomb commented on #24650
I read "all is done" on JIRA side
@Julievrz could you confirm that this issue can be close?

[2022-10-31 09:44] Progi1984 commented on #24650
(Ping @atomiix on the dev side)

[2022-10-31 10:00] florine2623 commented on #30159
Hello @Caleydon ,

I can't reproduce your issue 🤔

https://user-images.githubusercontent.com/16019289/198982184-1c7cbda5-cf49-4a76-89bf-0fecee94b7fc.mov

@PrestaShop/qa-functional
 Could one of you try this on your end ? ^^

[2022-10-31 10:08] Anthony-Tran commented on #30028
After several hours of understanding how compilation works, etc... I managed to fix the bug by dissecting the various tickets.
So I'll write the solution in case someone "newbie" like me can rectify this problem.
In ticket [#29635](https://github.com/PrestaShop/PrestaShop/pull/29635) the issue is resolved. [3 files](https://github.com/PrestaShop/PrestaShop/pull/29635/files) are to be modified. Pro

[2022-10-31 10:16] lmeyer1 commented on #29717
@hibatallahAouadni
I still have this problem on my installation. I'm investigating.
@atomiix Thank you for your screen record. I watched it with attention, and conclude that you followed well the setup, but you do not reproduce the issue.

[2022-10-31 10:17] unlocomqx commented on #30161
Hello @florine2623 ,

I can submit a PR for this feature

Best regards

[2022-10-31 10:22] Progi1984 commented on #27866
@MatShir It seems that the bug has been fixed in 8.1.0, not in 1.7.8.x. (I see your kanban change).

[2022-10-31 10:23] Julievrz commented on #24650
Seems good to me :)

[2022-10-31 10:31] kpodemski commented on #30161
@unlocomqx I've just assigned you to this issue! :) I think it's a great idea, but it should probably be an additional setting inside the Maintenance tab. What do you think?

[2022-10-31 10:57] unlocomqx commented on #30161
@kpodemski Thank you

Yes, it's a good idea to add a switch to determine if admins get automatic access to the front-end or not

Example

![screenshot-001366](https://user-images.githubusercontent.com/793712/198990899-d0dec9a0-7c9a-40fd-8e89-ababe4a27c31.png)

The maintenance mode icon could indicate if the option is enabled
<img width="370" alt="image" src="https://user-images.githubusercontent.c

[2022-10-31 10:58] florine2623 commented on #30101
Hello @Hlavtox ,

I think you are right.

I would like to get approval from PM before puttin the label Verified ^^

It seems like the order has been defined here:
https://github.com/PrestaShop/PrestaShop/pull/28332#issuecomment-1113089728

@PrestaShop/product-team , could you confirm the wanted order of the dropdown button ?

Thanks

[2022-10-31 11:23] Caleydon commented on #30159
Whole installation process
https://vimeo.com/765660153/d33e387543

[2022-10-31 11:35] florine2623 commented on #30061
Hello @PrestaEdit ,

Indeed, I reproduced your issue on PS 8.0.0 with Product Page V2 activated, I'll add this to the backlog so it can be fixed.

In Product Page V1, when you disable the Feature Options, you don't have access to:
- BO, Feature config in Product page
- BO, Attributes and Features page
- FO, Product details

In product V2, you still have access to:
- BO, Feature config in Product p

[2022-10-31 13:01] lmeyer1 opened #30170 "Multistore - BO login screen inconsistencies"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is a minor issue, but worth me

[2022-10-31 13:18] Arpit-Gulgulia commented on #30071
@sLorenzini, @HanaRebaiQA is the issue open to working on? If yes, can I make a PR for the fix?

[2022-10-31 13:18] florine2623 commented on #30060
Hello @PrestaEdit ,

Could you check @paulnoelcholot 's video and confirm that this is your issue ?

I checked on PS 1.7.8.7, it is the same behavior as it is in 8.0.0 and 8.0.0 rc1.

[2022-10-31 13:27] HanaRebaiQA commented on #30071
Hello @Arpit-Gulgulia

Yes! Of course.
We are waiting for your PR. Good luck!

Thanks!

[2022-10-31 13:30] florine2623 commented on #30059
Hello @PrestaEdit ,

This is more a new feature than a bug ^^

Your idea is to have the Gift message displayed on all tabs, is that right ?

https://user-images.githubusercontent.com/16019289/199019203-87a70ca2-852c-4113-8fbd-379548236a73.mov

[2022-10-31 13:31] florine2623 commented on #30059
@PrestaShop/product-team ,

Would it be possible to add the gift message on all tabs (Status, Documents, Carriers, Merchandise returns) in the order view section ?

Thanks!

[2022-10-31 13:33] lmeyer1 opened #30171 "Multistore - It is possible to select a default language for a shop that does not belong to the shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1. It is possible to select a defau

[2022-10-31 13:45] #30134 closed, assigned to nobody

[2022-10-31 13:47] si-ccl commented on #30090
Hello @hibatallahAouadni

Thanks for your response.
I had check with almost all the order's status and there are the problem for all of them.

Regards

[2022-10-31 14:22] florine2623 commented on #30170
Hello @lmeyer1 ,

Thanks for the report ^^
I reproduced the issue with PrestaShop versions 1.7.8.7 and 8.0.0, I'll add this to the backlog so it can be fixed.
It is not a regression, as the BO didn't look like this in 1.7.7.8.

https://user-images.githubusercontent.com/16019289/199026830-24d70b6d-4fd3-47d2-9cb8-89da5d5857df.mov

Please be aware that some issues might take a very long time to be re

[2022-10-31 14:26] nicosomb opened #30173 "When AdminStats is not enabled, an exception is displayed on backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On backoffice, if AdminStats module

[2022-10-31 14:42] florine2623 commented on #30171
Hello @lmeyer1

**For the bug 1)**, I have reproduced the issue only in BO
In my case, the language for my second shop should be FR instead of EN, is that right ?

https://user-images.githubusercontent.com/16019289/199033390-ff403003-4d81-4e9e-bba9-67528ba78a32.mov

In FO, the languages are the correct one for each shop.
ShopA: English
<img width="1200" alt="Screenshot 2022-10-31 at 15 36 23" src=

[2022-10-31 14:59] nicosomb commented on #30173
Could you try on a fresh install without installing demo product? I had this bug on a blank installation.

[2022-10-31 15:07] nicosomb commented on #30173
And no modules checked in the list from the installer.

[2022-10-31 15:52] nicosomb commented on #30011
On a fresh install (develop branch, php 7.4), I can reproduce the bug only once.
After having the error, when I try to change the theme, it works. (I tried by switching between classic theme and alysum one).

[2022-10-31 16:03] florine2623 commented on #30173
Thanks @nicosomb ,

I have reproduced your issue on 8.0.x, I'll add this to the backlog so it can be fixed. ^^

<img width="1438" alt="Screenshot 2022-10-31 at 17 01 29" src="https://user-images.githubusercontent.com/16019289/199053593-2b02d34c-a0ed-4335-b8e2-1a4a1a9d0dff.png">

Thank you

[2022-10-31 16:06] florine2623 commented on #30171
@PrestaShop/qa-functional ,

Could someone with Docker env try to reproduce this issue ? 🙏
Thanks!

[2022-10-31 16:14] lmeyer1 commented on #30171
Hello @florine2623
1. I now updated the bug report above with a step by step guide starting at zero (i.e. clean installation).
2. I replaced all A and B with French and German to be very explicit

I know why you got the error
<img width="1220" alt="199034949-23a2aeee-235b-4ce8-981a-d0bafa5c25d0" src="https://user-images.githubusercontent.com/7520695/199055505-b15ee272-15f0-4d32-a4a5-a5513b181a25.p

[2022-10-31 16:55] florine2623 commented on #29316
Hello @roja45 ,

Sorry for the delay, I didn't see your answer.

My installation Language is English, my Country is France (language French is installed), I added Spanish as a third language.

With an installation in Spanish, here's what I have :
<img width="1424" alt="Screenshot 2022-10-31 at 17 55 09" src="https://user-images.githubusercontent.com/16019289/199064654-8c21e867-4fb0-4d05-a2f9-c57fd

[2022-10-31 17:09] lmeyer1 commented on #29717
I updated the steps to reproduce, more concise, clearer and from scratch on a clean install.

[2022-10-31 18:46] borjagarciab commented on #30145
Hi @florine2623
I seen that you are testing in last 1.7 prestashop version.
I've test in both versions (1.7.8.3 and 1.7.8.7)
For new versions it works correctly, but for older the bug exists.

Can you help me to find what code was updated about this to fix it? (if is possible)
Use one click upgrade for this website will be crazy...
Thanks.

[2022-10-31 20:10] Arpit-Gulgulia commented on #30071
HI @HanaRebaiQA, @jolelievre the issue is with the classic theme, so I created the PR for [PrestaShop/classic-theme](https://github.com/PrestaShop/classic-theme) repo.
Below is the PR link:-
[Fix:30071 Button of file field in customization product has a smaller height rather than its field](https://github.com/PrestaShop/classic-theme/pull/70)

Please review the changes and let me know if I missed

[2022-10-31 20:16] roja45 commented on #29316
Hello,

I wouldn't say that this is the expected behaviour, but it is the behaviour I see as well.
The original issue was opened because those 'Test String' values you see have translations available in the translation file, and I am requesting them using the function that Prestashop provides, however the translated texts have not been loaded by Prestashop at this point during the installation.  T

[2022-10-31 20:43] nicosomb commented on #29495
I think that we can close this issue 😊

[2022-11-01 10:01] lmeyer1 opened #30177 "Payment Preferences page: only show active payment modules, have "check all" checkbox"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-01 12:28] templatin opened #30179 "BO - Unable to update settings for products with combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![error-1](https://user-images.gith

[2022-11-01 13:38] sallemiines commented on #30177
Hello @lmeyer1  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone els

[2022-11-01 13:38] hibatallahAouadni commented on #20880
Hello @jeckyl

Thanks @matik4 & @leemyongpakvn @micka-fdz for the notice :rocket:
Indeed the issue has been fixed with this PR #28290 as I didn't reproduce the issue with PS8.0.0 & ps_facetedsearch v3.8.0.
Closing the issue :tada:

Thanks!

[2022-11-01 13:38] #20880 closed, assigned to nobody

[2022-11-01 13:41] HanaRebaiQA commented on #29436
Hello @jherry & @idnovate

I tried to reproduce the issue before testing the PR. But, i could not reproduce it using the final **8.0.0 version** and the same provided module : [modulewithoverride.zip](https://github.com/PrestaShop/PrestaShop/files/9910352/modulewithoverride.zip)

I noticed that only the `index.php` file which is present under `/override` folder and it's always preserved.

Here the

[2022-11-01 13:41] hibatallahAouadni commented on #29088
Hello @RicRey1988

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-11-01 13:41] #29088 closed, assigned to nobody

[2022-11-01 14:11] 8ternity commented on #16004
Updates: I've been waiting more than 3 years for getting fixes and waiting for a proper Prestashop Version that will fixed our issues and we've been taken the decision to abandonned Prestashop e-Commerce CMS plateform. We invest tousands $ in modules and get custom developement for pricing modules, time and efforts and we've taken the decision to shut down our e-commerce this morning. I understand

[2022-11-01 14:11] #16004 closed, assigned to nobody

[2022-11-01 14:40] sallemiines commented on #30179
Hello @templatin

Thanks for reporting the issue .
I tried to reproduce your issue with Ps1787 & PS800

Following your steps , i didn't reproduce the issue,  see the attached screen-record

https://user-images.githubusercontent.com/31663369/199252709-5229dc9e-9002-489f-b29e-7788d38f0e8b.mp4

Could you please provides us a screen record shows all the steps

Thank you !

[2022-11-01 15:03] sallemiines commented on #30090
Hello @skyliners4

Thanks for reporting the issue .
Following your steps , I tried to reproduce your issue with Ps1787,  but I didn't reproduce it !

Could you please provides us a screen record shows all the steps

Thank you !

[2022-11-01 15:29] sallemiines commented on #30159
Hello @Caleydon

Thanks for reporting the issue .
I tried to reproduce your issue with Ps1787 & PS800

Following your steps , i didn't reproduce the issue, see the attached screen-record

https://user-images.githubusercontent.com/31663369/199271550-615b1df3-4396-4dc4-86e9-ced1ff9f4cb3.mp4

Please check & feedback !

Thank you !

[2022-11-01 15:47] sallemiines commented on #29316
Hello @roja45 ,

Thanks for reporting the issue .

Following your steps , I've got this behavior , see the attached screenshot

![image](https://user-images.githubusercontent.com/31663369/199275711-4b79e514-53dc-40bf-8852-62235cc60057.png)

Please check and feedback !

[2022-11-01 16:28] sallemiines commented on #30011
Hello @zuk3975

Following your steps, I didn't manage to reproduce the issue with PS80x, see the attached screen record below:

https://user-images.githubusercontent.com/31663369/199285399-189ac2d5-084b-40d6-8530-9ace9b89166f.mp4

Please check and feedback.

Thanks!

[2022-11-01 17:40] sefirosweb commented on #30098
Fixed bug with PR,

Closed topic

 Thanks all!

[2022-11-01 17:40] #30098 closed, assigned to nobody

[2022-11-01 17:56] Caleydon commented on #30159
Here is output from browser console.

![psgdpr-issue](https://user-images.githubusercontent.com/2806752/199303261-5a09b473-3ed7-4476-967e-1be37f907881.jpg)

[2022-11-01 18:18] hibatallahAouadni opened #30180 "[BO] Can't view shopping carts if customer has no address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Create a new customer without an ad

[2022-11-01 19:57] #23570 closed, assigned to nobody

[2022-11-01 20:56] idnovate commented on #29436
I have been able to reproduce the issue with PS version 8.0.0.

I attach you the module that I used.

You just need to install (OK) and then uninstall (/override folder is removed).

[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/9913942/dummymodule.zip)

[2022-11-02 01:13] Hlavtox commented on #30161
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/18932

[2022-11-02 04:14] templatin commented on #30179
Please read step-1 in "Steps to reproduce". The error is shown only when Stock management is disabled. In your screen record, it seems that option is still enabled.

[2022-11-02 06:59] touchweb-vincent commented on #29676
@clotairer For this evolution and according to our recent discovers, it's critical to think about the necessity to check that the token is really existing AND is not empty if a module need it expressly - even if the module is not installed (ykwim).

It would be smart to constrain module's developpers to declared theirs "sensitive/critical tokens" (which protect SU actions or similar) which MUST ex

[2022-11-02 07:35] sallemiines commented on #30179
Hello,

Thanks for your feedback :pray:

I can reproduce the issue, see the attached screenshot

![Capture d’écran de 2022-11-02 08-30-00](https://user-images.githubusercontent.com/31663369/199426816-0948f060-2bc8-4132-86f3-57701ddacb47.png)

Thank you !

[2022-11-02 08:06] HanaRebaiQA commented on #29939
Hello @Bosco91-rn

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank You!

[2022-11-02 08:06] #29939 closed, assigned to nobody

[2022-11-02 08:45] si-ccl commented on #30090
Hello @sallemiines

Here is the process to follow for reproduce the issue :

**1 - Create a new order**

![capture_commande](https://user-images.githubusercontent.com/85882194/199440550-13da273d-902c-4068-a700-8af8f0279ff8.PNG)

**2 - Generate the invoice (Change the status)**

![capture_paiement_accepte](https://user-images.githubusercontent.com/85882194/199440720-531c7e8f-95ab-42ab-9f20-55ea507b

[2022-11-02 08:50] HanaRebaiQA commented on #30171
Hello @lmeyer1

Thanks for your report.
It seems that your issue is similar to this one https://github.com/PrestaShop/PrestaShop/issues/27617 which is fixed in this [PR](https://github.com/PrestaShop/PrestaShop/pull/28392) on the next **PS1788** release.

Could you please confirm it?

Thank You!

[2022-11-02 08:59] lmeyer1 commented on #30171
@HanaRebaiQA

No https://github.com/PrestaShop/PrestaShop/issues/27617 is not related with this issue. #27617 is about employee language and display in the BO.
This issue here is about the configuration of the language displayed in the Front Office.

[2022-11-02 09:20] hibatallahAouadni commented on #30079
Hello @sebaj

I checked your file docker-composer.yml and there's no issue with it, I tried multiple times to reproduce the issue but I didn't encounter any problem following your steps, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/199451403-200b8851-a35d-4e67-bb43-1b6066bc3ea2.png)
![image](https://user-images.githubusercontent.com/23308427/1994

[2022-11-02 09:32] dheerajwebkul opened #30182 "Fatal error on backoffice Module Manager page, Return value CircuitBreaker"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Sometimes getting fatal error on th

[2022-11-02 09:36] NeOMakinG commented on #30141
If I remember right, the cross was always intended to be displayed outside of the menu, and it's just a visual tip for the user because he can click anywhere outside of the menu to close it

[2022-11-02 09:37] atomiix commented on #24650
Seems all good to me too! Thanks a lot @djodjo3

[2022-11-02 09:37] #24650 closed, assigned to atomiix

[2022-11-02 09:42] HanaRebaiQA commented on #29717
Hello @lmeyer1

Yes! as discussed, your issue is indeed a duplicate of https://github.com/PrestaShop/PrestaShop/issues/27617

[2022-11-02 09:42] HanaRebaiQA commented on #29717
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/27617

[2022-11-02 09:42] #29717 closed, assigned to nobody

[2022-11-02 09:56] HanaRebaiQA commented on #30171
Hello @lmeyer1

Thanks for your feedback.
I tried to reproduce you issue on PS1787, but I did not reproduce step 6 in Reproduce bug 1. But, when I checked in FO with french shop, which is associated to French language, the FO is in English

https://user-images.githubusercontent.com/92912932/199459833-07afc8a6-5fca-412b-b5cc-f7721907b3d8.mp4

What do you think?

Thank You!

[2022-11-02 10:02] #20834 closed, assigned to nobody

[2022-11-02 10:18] Hlavtox commented on #30182
Hi @dheerajwebkul, there is a problem with SSL on your server, check it and fix it, then it will work. 👍

In `php.ini`, `openssl` extension must be enabled and `openssl.cafile` must be set properly.

[2022-11-02 10:44] HanaRebaiQA commented on #30145
Hello @borjagarciab

Thanks for your feedback.
Since the issue is already fixed on the last PrestaShop version 1787, so, this issue should be closed.
I found this issue https://github.com/PrestaShop/PrestaShop/issues/25897 which is similar to yours and was fixed. It maybe can help you.

So, i'll close this issue.

[2022-11-02 10:44] #30145 closed, assigned to nobody

[2022-11-02 10:46] lmeyer1 commented on #30171
Hello Hana,
It was difficult for me to follow your screen cast. So I'm not sure where things went wrong.
You say:

IMHO, This is enough to show that there is a bug. The `French shop` must display French only.

[2022-11-02 12:34] sebaj commented on #30079
Hi @hibatallahAouadni !
Did you use the same YML without any update? It is weird because this install different PHP version to me than yours. Also the Shipping admin stills broken.
Everything goes well if I download Prestashop 8 from github and use my own docker image (with PHP 7.4).

![image](https://user-images.githubusercontent.com/3721155/199490761-772c698c-d2fe-4afe-8b56-d2a8ff243ec4.png)

[2022-11-02 12:35] SoftdilGabriel opened #30183 "Error 500 on Product Controller 404 at Breadcrumb"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When disabling the option "display

[2022-11-02 12:50] Hlavtox commented on #30183
Hi @SoftdilGabriel, I recently cleaned up and refactored some things in ProductController, can you please check if the issue also happens on develop? Maybe I fixed it accidentaly. If not, let's have a look on it and fix it. 👍

https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/front/ProductController.php

[2022-11-02 13:01] SoftdilGabriel commented on #30183
Hi @Hlavtox , reading the changes from ProductController, and checking also FrontController, it seems unaffected to me.

In ProductController::init , if the product is not loaded it returns afeter setting the headers to 404, but the execution continues.
In FrontController::initContent, the first thing to call is assignGeneralPurposeVariables, wich leads to getBreadcrumb latter on, but not checking

[2022-11-02 13:11] aespasa opened #30185 "Assets fallback: CDN to Local"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-02 13:20] lmeyer1 opened #30186 "ps_emailalerts does not save creation time of request for notification"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-02 13:47] hibatallahAouadni commented on #30141
Thanks @NeOMakinG for your feedback :pray:
Closing the issue as the cross should be displayed there :wink:

[2022-11-02 13:47] #30141 closed, assigned to nobody

[2022-11-02 13:49] lmeyer1 opened #30187 "ps_emailalerts alters $context->shop and $context->language, as a consequence, mails may be sent out in an arbitrary language and shop context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This bug can happen only in a multi

[2022-11-02 15:28] HanaRebaiQA commented on #30171
Hello @lmeyer1

Thanks for your feedback.
I have checked the same issue that I have communicated with PS1778 and i was able to reproduce it.
But, i was unable to reproduce the issue with 8.0.0 version.

It may be fixed on 8.0.0.

**PS1778 : NOK** :x:

https://user-images.githubusercontent.com/92912932/199529862-ea10a6ec-e515-4588-8333-03baf2a16acb.mp4

**PS1787 : NOK** :x:

https://user-images.git

[2022-11-02 15:58] lmeyer1 opened #30189 "Subject of messages sent be contact form contain the words [no_sync]"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Subject of messages sent be contact

[2022-11-02 16:04] HanaRebaiQA commented on #30165
Hello @Max84

I have encountered an issue when adding new webservice key on PS8.0.0 with php 8.0 and php 8.1

https://user-images.githubusercontent.com/92912932/199540444-0a633353-44dd-44ed-947a-b9d9f2b0188f.mp4

I should more investigate on it and will give your my feedback!

Thank You!

[2022-11-02 16:20] HanaRebaiQA commented on #30165
Hello again,

I tried with 8.0.x and php 8.0, i was able to add a new key for the webservice but when i used the same provied url `https://yoururl/api/combinations/3`, i found this problem :

https://user-images.githubusercontent.com/92912932/199544027-4a2be551-f32c-48ec-9306-c9f8f1de09a7.mp4

Could you please check again ?

Thanks !

[2022-11-02 16:29] darfk3d3 commented on #26235
How it is possible that a major issue like this one hasn't yet been fixed after so much time?

[2022-11-02 16:41] lmeyer1 commented on #29880
@sallemiines Could you please explain at which step it you were not able reproduce? Of course, to reproduce, there must be emails sent out from all three shops. I don't know how to create this prerequisite on a test server.

@hibatallahAouadni Could you please reopen this issue. I necessary give me instructions on how to proceed. Unless you tell me why, I believe that the steps to reproduce the is

[2022-11-02 19:20] 007good commented on #25473
Exact same problem here.

The module create 1 line per :

- Id product (we have 300K)
_ Id shop - Even if the product is not associated to the shop (we have 10)
_ id_currency (we have 5)
_id_country - Even if the country has no taxes associated (we have 245)

Resulting in a 300K * 10 * 5 * 245 = 3.5 Billions lines .... Which is as you can imagine .... A big table to deal with ...

Thank you for yo

[2022-11-03 07:09] leemyongpakvn opened #30193 "Most of native modules use `trans` while 5 others use `getTranslator()->trans`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-03 07:57] Max84 commented on #30165
Hello Hana,

Well, i don't reproduce the problem on generation key. I used Firefox without Prestashop debug enable. Maybe due to this?
About your second video, you've reproduced my reported bug.
You don't see exactly the same because your browser try to use XML.
Please, just display source code of the last page, then, you'll see full XML and this reported bug.

Do you get it ?

Thanks.

[2022-11-03 08:09] Gardella-Web commented on #27880
hi here, little up. Nobody ?

[2022-11-03 08:17] davidcylke commented on #14979
Yup, there is too much calculation and database queries each time you add something to cart. My programist solution is working fine, but I would rather like to use native implementation, instead of custom one which complicates updates and customization in the future.

[2022-11-03 08:43] jon88seven commented on #14979
Hi @davidcylke im frustrated because i migrated from 1.6 . Waited some years before i moved to 1.7 thinking that after so many releases the 1.7 is more stable and reliable. I think is my bad :) who would have thought.

I'm not a programmer but man this issue is huge. Why you let this issue to live so many years ??

The second most important thing is adding product to cart, the first is to checkout

[2022-11-03 08:46] davidcylke commented on #14979
reach me by email djakdesign [at] gmail.com
Im not sure if the progamist would like me to put his info here and probably its against the rules to advertise here.

[2022-11-03 08:47] jon88seven commented on #14979
@davidcylke thanks!

[2022-11-03 08:53] kpodemski commented on #14979
@davidcylke it's an open source software. If you had your developer improve the performance, you could ask him to submit his solution to the core so project members can review it, improve it, and implement it natively

[2022-11-03 08:55] davidcylke commented on #14979
@kpodemski I will ask him, but I think it was quite specific solution with some pricing caching and multiple workarounds, so it might not fit into presta's methods. But will talk to him.

[2022-11-03 08:59] tonypartridge commented on #14979
If he can work around it, it’s likely it can be incorporated into the core. In one way or another, a pull request into the project will allow plenty of others to see how it’s been done and different ways of improving it to be included into the core.

[2022-11-03 09:01] kpodemski commented on #14979
@tonypartridge exactly that :) this could be the first step to improving the current state of the performance inside the Cart

[2022-11-03 09:03] davidcylke commented on #14979
I know guys, but Im not able to demand from him to publish it.

[2022-11-03 09:39] jon88seven commented on #14979
@kpodemski yes, prestashop is free but everything else costs money.
If something is open source its not a motive to think that is free, it has strings attached.
You need server, modules, customizations, because nobody use it as it is (and they know it).
They do business with it. They need money to do business.
The basic product its free but for everything else you pay.
I get it, its ok!

We are a

[2022-11-03 10:04] hibatallahAouadni commented on #29880
Hello @lmeyer1

Thanks for your feedback!
But could you please provide a screen record of the issue :pray:

Thanks!

[2022-11-03 10:26] arcofins opened #30198 "Order Quantity - The website allows you to purchase products when they are out of stock"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In my back-office, I often receive

[2022-11-03 10:37] Hlavtox commented on #30198
Hi @arcofins, this issue is fixed in Prestashop 8 that was released last week. 🚀 With many other fixes. https://github.com/PrestaShop/PrestaShop/releases/tag/8.0.0

Autoupgrade module will be ready soon, I suggest upgrading when it's ready. :-)

[2022-11-03 10:52] AureRita commented on #30165
Hello @Max84

I also use Firefox and I've got this result when I tried to reproduce your issue :

[Untitled_ Nov 3, 2022 11_49 AM.webm](https://user-images.githubusercontent.com/100699445/199702503-d0e26e32-9de9-4ffb-9e30-0bb958786a72.webm)

Is it the same than your issue ?

Waiting for your feedback

[2022-11-03 10:56] camilleganzin commented on #27880
Hi @Gardella-Web,
Calculation is working as described [here](https://github.com/PrestaShop/PrestaShop/issues/27880#issuecomment-1095266964) :

Let me get back to your example (https://github.com/PrestaShop/PrestaShop/issues/27880#issuecomment-1097743485)

You are taking **4.38 excl.VAT** as reference.

Then, you are applying the 15% discount related to the UserGroup : 4.38 x 0.85 (-15%) = 3.723

H

[2022-11-03 10:58] hibatallahAouadni commented on #28025
Hello @kpodemski

I see what you're saying but this kind of issue content is not acceptable:

So, the author need to edit the issue content, then I will reopen it and add these labels: `NeedsSpecs` + `Waiting for Dev` :wink:

Thanks!

[2022-11-03 11:04] pluscom-kevin opened #30199 "Module vatnumber 2.1.0 not working anymore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi everyone !

The module vatnumber

[2022-11-03 11:06] AureRita commented on #30159
Hi @Caleydon,

Despite our efforts, we were not able to reproduce your issue with the provided information as you can see with this video :

[Untitled_ Nov 3, 2022 12_00 PM.webm](https://user-images.githubusercontent.com/100699445/199705182-f40274ca-234b-43c4-8e39-b725515d7b0d.webm)

I also tried to reproduce it by putting my shop region in slovakia.

It seems that your issue is not a PrestaShop c

[2022-11-03 11:06] #30159 closed, assigned to nobody

[2022-11-03 11:09] Max84 commented on #30165
Hello @AureRita
Your video file is corrupted. I can watch it.

[2022-11-03 12:13] khouloudbelguith opened #30200 "BO - "Add new product" V2 with quick access is always opened in the same page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reported here https://github.com/Pr

[2022-11-03 12:21] khouloudbelguith opened #30201 "Multistore - We cannot scroll in the modal "Add new product" to disable multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reported previously here
https://gi

[2022-11-03 12:30] #10374 closed, assigned to nobody

[2022-11-03 12:30] #29796 closed, assigned to nobody

[2022-11-03 12:30] khouloudbelguith opened #30202 "BO - No clear alert is displayed when no permission to create/edit a product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- In the BO, No clear alert is disp

[2022-11-03 12:40] khouloudbelguith opened #30203 "[PHP8.1] - An error is displayed in the BO > Shopping carts page when debug mode enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Orders > Shopping carts

[2022-11-03 12:43] #28543 closed, assigned to nobody

[2022-11-03 12:43] #28673 closed, assigned to margud

[2022-11-03 12:46] #29903 closed, assigned to nobody

[2022-11-03 12:47] #27757 closed, assigned to nobody

[2022-11-03 13:15] AureRita commented on #30090
Hi @si-ccl ,

Thank you for all your details
I reproduce the issue with PrestaShop version 1.7.7.8, as you can see on this screen :
![image](https://user-images.githubusercontent.com/100699445/199730439-7e896fa1-078c-449d-9082-951bea85f447.png)

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to

[2022-11-03 13:42] Hlavtox commented on #30058
@Timoenhilda09 Fixed on develop ;-)

[2022-11-03 13:48] AureRita commented on #29709
Because this issue isn't present currently and will come when the PR will be released, I put it in blocked until we validate the issue

[2022-11-03 14:25] florine2623 opened #30204 "BO - Error on Logs when logging in & out of the shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Advanced Parameters > Logs, I ha

[2022-11-03 14:33] #29495 closed, assigned to nicosomb

[2022-11-03 14:35] AureRita commented on #29316
Hi @roja45 ,

Thank you for your last details, I reproduce the issue with PrestaShop version 1.7.8.7, as you can see in this video :

[Untitled_ Nov 3, 2022 3_28 PM (1).webm](https://user-images.githubusercontent.com/100699445/199749222-dc68497c-38f9-4e4b-a524-eea4d06f9fdf.webm)

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be re

[2022-11-03 14:40] hibatallahAouadni commented on #27998
Hello @tecmikro

Why you clsoed the issue? Did you create a PR to fix the issue?
Waiting for your feedback.

Thanks!

[2022-11-03 14:43] AureRita commented on #30165
It seems that you maybe have some trouble with your connection, but no problem, there is a screen that show the errors that I get :

![image](https://user-images.githubusercontent.com/100699445/199751801-733256c6-e37b-4ce7-a9a5-5d5ac5a26fab.png)

This error message only appears when i'm on php 8.0 or 8.1
Is it the same than your issue ?

Waiting for your feedback

[2022-11-03 14:49] AureRita commented on #30193
Hi @leemyongpakvn  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Thank you for your PR :rocket:

Thank you

[2022-11-03 14:55] AureRita commented on #30186
Hi @lmeyer1 ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Waiting for your PR :rocket:

Thank you

[2022-11-03 15:00] AureRita commented on #30185
Hi @acecconato  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you or anyone else is willing to [contribute this feature](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/) to the PrestaShop Project, the teams will b

[2022-11-03 15:42] AureRita commented on #30199
HI @pluscom-kevin  ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please ke

[2022-11-03 15:42] #30199 closed, assigned to nobody

[2022-11-03 15:56] Max84 commented on #30165
Right, it's the issue. You've reproduced it. 💪

[2022-11-03 15:58] AureRita commented on #30198
Duplicate of #28097

[2022-11-03 15:59] #30198 closed, assigned to nobody

[2022-11-03 16:09] MatShir commented on #25545
We did not manage to finish the product page for version 8.0. We will reopen the issue, I am sorry for the inconvenience generated

[2022-11-03 16:27] AureRita commented on #30180
Hi @hibatallahAouadni  ,

Despite my efforts, I'm not able to reproduce your issue with the provided information.As you can see in this video :

[Untitled_ Nov 3, 2022 5_25 PM.webm](https://user-images.githubusercontent.com/100699445/199777601-7c83e431-e6d9-4e93-ada3-bd9f9fd4c8ea.webm)

someone of the @PrestaShop/qa-team can reproduce this issue ?

Thank you

[2022-11-03 16:31] AureRita commented on #30165
Thank you for all your details and your patience.

thank to all of your details, I reproduce the issue with PrestaShop version 8.0.0, I'll add this to the backlog so it can be fixed.

Because it can't be tested on 1.7.8.7, it's not considered like a regression.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it t

[2022-11-03 16:45] ddv1976 opened #30205 "ps_languageselector disappeared, not shown"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The language selector show 404 link

[2022-11-03 16:50] tecmikro commented on #27998
Hello @hibatallahAouadni, I am new to this forum and I don't know what the exact procedure is, I assumed that since I opened this issue and since I am considering the problem solved, then I should close it.
This is the solution i found

[2022-11-03 16:54] AureRita commented on #30183
Hi @SoftdilGabriel ,

Despite my efforts, I'm not able to reproduce your issue with the provided information. As you can see in this video :

[Untitled_ Nov 3, 2022 5_52 PM.webm](https://user-images.githubusercontent.com/100699445/199784969-423a6440-4418-4722-bad5-1bc1eddeeffc.webm)

Did I miss something or anything else ?

Thank you

[2022-11-03 16:58] AureRita commented on #30182
Thank you @Hlavtox for your quick answer,

Hi @dheerajwebkul,

Did you still get it after clearing the cache ?

If not, can you give us more details because currently we can't reproduce your issue with this few details on your steps to reproduce

Waiting for your feedback

[2022-11-03 18:03] hiniestic opened #30206 "Very slow SQL query for orders list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating to version 1.7.8.7 t

[2022-11-03 21:53] arcofins opened #30207 "Bug after 1clik Upgrade - Impossible to use catalog"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After a 1click upgrade, I have this

[2022-11-03 22:31] Hlavtox commented on #30207
Open F12 and copy everything in the console. Also, did you hard flush your cache with CTRL+F5?

[2022-11-03 22:35] arcofins commented on #30207
Hi Hlavtox,

Thanks for your answer, I just tried to refresh the cache and nothing changes.

Here is my console :
[Error] Failed to load resource: the server responded with a status of 503 () (index.php, line 0)
[Error] Failed to load resource: the server responded with a status of 503 () (index.php, line 0)
[Error] Failed to load resource: the server responded with a status of 503 () (index.php,

[2022-11-03 22:36] arcofins commented on #30207
On the dashboard, I also have this on my console

[Error] ReferenceError: Can't find variable: show_new_orders
	(fonction anonyme) (notifications.js:47)
	j (jquery-1.11.0.min.js:2:27142)
	fireWith (jquery-1.11.0.min.js:2:27951)
	ready (jquery-1.11.0.min.js:2:29795)
	K (jquery-1.11.0.min.js:2:30134)
[Error] Failed to load resource: the server responded with a status of 503 () (index.php, line 0)
[E

[2022-11-03 23:35] arcofins commented on #30207
Found a way to rollback to an older version

[2022-11-03 23:35] #30207 closed, assigned to nobody

[2022-11-03 23:42] Hlavtox commented on #30207
@arcofins What PHP version are you using? What version of Prestashop did you upgrade from and to? We need to know this information to investigate. 👍

[2022-11-03 23:49] Hlavtox commented on #30205
Hi @ddv1976

- Do you have more than 1 active language?
- Is the module enabled?
- In Module Positions, is the module hooked to proper hooks?

[2022-11-03 23:58] arcofins commented on #30207
@Hlavtox

I'm using Php 7.1 and I tried to upgrade from 1.7.0.2 to 1.7.8

[2022-11-04 06:35] lmeyer1 opened #30208 "Missing translations in ps_emailalertsv2.4.0 from dev branch"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There are several missing translati

[2022-11-04 08:34] lmeyer1 commented on #30187
@jolelievre
Looking at the code, I notice at https://github.com/PrestaShop/ps_emailalerts/blob/87a5e4847ce19456f42b797f773c27d525c2484f/MailAlert.php#L173:
[code]
Therefore I am astonished, how it was possible that the context switched to another shop in the function `MailAlert::sendCustomerAlert()`.

About `clone` used in `cloneContext()`, the PHP doc says:

Is it possible that this is the reason

[2022-11-04 08:37] #29265 closed, assigned to nobody

[2022-11-04 08:37] #29266 closed, assigned to nobody

[2022-11-04 08:58] ElodieOS commented on #13784
Hi @khouloudbelguith !

I propose this solution for the issue.
The drop down menu works better if a merchant has multiple languages and it improves the overall harmonization.
![image](https://user-images.githubusercontent.com/113457393/199932672-bc9e90f7-fdbf-4e28-975d-330ef69f9766.png)

Wdyt?

Feel free to tag me if you have any questions or remarks :)

[2022-11-04 08:59] Hlavtox commented on #30183
@SoftdilGabriel Can you try adding

[code]
after
[code]
in
[code]
and tell me if it fixed your issue?

[2022-11-04 09:18] Hlavtox commented on #30206
Hi @hiniestic, what version of Prestashop did you upgrade from? So we can compare the queries if needed.
How much data approximately you have in your shop? Orders, customers?

[2022-11-04 09:19] ElodieOS commented on #27343
Hi @mparvazi!

Thanks for your proposal, it's really cool. I like this feature and I think it's a good idea in general, but I see two problems to integrate it in Prestashop BO:
- We have a lot of data tables and sometimes we already have an icon here
- There are some data tables that have a lot of columns (up to 14 columns) and I think this functionality doesn't work in those cases because we don'

[2022-11-04 09:25] SoftdilGabriel commented on #30183
@Hlavtox @AureRita Excuse me, i found where the error came from and why you cannot reproduce it.
We're using (in a lot of webs) modules to remove the ID from the url. With it, the $id_product is never set if the product is not found, thus

[code]

is tot executing, leading to the error. Sorry for the inconvenience, you can close the issue.

[2022-11-04 09:41] ElodieOS commented on #11038
Hello everyone!

Thanks for spotting this issue, it seems to be very important for the user!

I think both ideas can be worked in terms of UX, it's not a problem.

With @colinegin's proposal, we keep consistency with other features (like maintenance), but it's true that it might be annoying to search and put the IP address.
![image](https://user-images.githubusercontent.com/113457393/199941836-f9e

[2022-11-04 09:42] hiniestic commented on #30206
Sorry, previous version was 1.7.7.5.
Orders: 35K -  30.1 MiB
Customers: 15K -  8.8 MiB

[2022-11-04 09:51] hibatallahAouadni commented on #30007
Hello @nemesistech

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-11-04 09:51] #30007 closed, assigned to nobody

[2022-11-04 09:52] leemyongpakvn opened #30210 "Stop using jqueryuiSortable and jquerySortable in native modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-04 10:06] mparvazi commented on #27343
Hi @ElodieOS

LGTM 👍

[2022-11-04 10:17] Hlavtox commented on #30206
Hi @hiniestic
There is a small difference between the queries in 1.7.7.5 and 1.7.8.7:
![query difference](https://user-images.githubusercontent.com/6097524/199948826-33ba9e17-8222-4e40-bdb3-8ea333fc8919.jpg)

Can you run the older query and see if the timing is the same? Adjust if needed.
[code]

[2022-11-04 10:30] hiniestic commented on #30206
Woh!!! The performance is totally different. With your query: Query took 1.0640 seconds. With the query of version 1.7.8.7 Query took 73.1452 seconds

[2022-11-04 10:44] Hlavtox commented on #30206
Related to https://github.com/PrestaShop/PrestaShop/issues/27232

This PR is the cause:
https://github.com/PrestaShop/PrestaShop/pull/26221

[2022-11-04 10:48] zuk3975 opened #30212 "Product page v2 list not showing product if its not in category "Home""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product page v2 list not showing pr

[2022-11-04 10:54] nicosomb opened #30213 "Replace the license block in each file to avoid yearly pull request"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-04 10:55] lmeyer1 commented on #29961
Issue https://github.com/PrestaShop/PrestaShop/issues/9857 is not related to mine. I will detail and clarify the steps to reproduce.

[2022-11-04 10:57] Hlavtox commented on #30212
It should be solved by https://github.com/PrestaShop/PrestaShop/pull/29039

[2022-11-04 11:10] AureRita commented on #30183
Thanks @SoftdilGabriel for looking about the reason of your bug,

do not hesitate to contact us if you meet another one

Have a great day

[2022-11-04 11:10] #30183 closed, assigned to nobody

[2022-11-04 11:11] PrestaConnect opened #30215 "[BO] File Manager Config start with session_start(); but config.inc.php has already Session Handler"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

PrestaShop/admin-dev/filema

[2022-11-04 11:13] zuk3975 commented on #30212
right, by this side bug fix https://github.com/PrestaShop/PrestaShop/pull/29039#issuecomment-1252563077
:+1:
Then I guess we will be able to close this Issue after that one is merged.

[2022-11-04 12:01] madsoliver commented on #11038
Hi @ElodieOS  and thanks for following up on this!

I think both proposals are a huge improvement.

A third proposal to have both - but you might find it bulky 😉
So the logic is: `if(_PS_DEV_MODE_ OR in_array($request_ip, $allowed_ips_array) OR (adminIsLoggedIn() && in_array($id_profile, $allowed_profile_ids))`

This way you can let some module or theme developer see your front-office with all the

[2022-11-04 12:03] kpodemski commented on #11038
Very often, as someone who maintains a store, I have the same profile as the merchant. Maybe we should be more explicit and select accounts instead of profiles.

[2022-11-04 12:05] nicosomb commented on #30011
I reproduce this bug.

After a fresh install, go to `Theme & design page -> new theme -> Import from your computer`. Import a new one. Enable it and then, you have the error.

The error appears only once.
After that (and after the cache is cleared), you can't reproduce the issue.

[2022-11-04 12:09] eternoendless commented on #30213
We need to check this with our legal counsel because Symfony is MIT which lets you do pretty much whatever you want with the sources, while our code is OSL-3.0 which forces attribution and redistribution under the same license.

[2022-11-04 12:45] MatShir commented on #30011
I reproduce the issue as well with @promokit theme

[2022-11-04 12:54] madsoliver commented on #11038
@kpodemski  Hmmm.. I think it's better to be explicit either via IP or adding a separate profile for the merchant.

I would typically allways enable debug for superadmins, then add the merchant in a "Store owner"-profile with every access they need. Then I would NOT add the "Store owner" profile to the debug profiles, unless they want to spend their days freaking out about some undefined variable,

[2022-11-04 13:04] idnovate commented on #28648
😇😇

[2022-11-04 13:14] ddv1976 commented on #30205
1. Yes, 4 active language
2. Module is active
3. Yes, hooks to display
4. Today the module show, but the links products category is to 404!
/index.php?controller=category
/it/index.php?controller=category
/fr/index.php?controller=category
/de/index.php?controller=category

[2022-11-04 13:20] Hlavtox commented on #30205
Friendly URLs enabled?

[2022-11-04 13:28] MatShir commented on #28609
Thanks guy for the testing and the issue ! It's a definitely a bug 👍

[2022-11-04 13:32] kpodemski commented on #21766
Updating the label as it was accepted inside the related Pull Request too.

[2022-11-04 13:47] ElodieOS commented on #18915
Hi everyone!

Thank you @marsaldev for your issue! it was a very good idea, but I had a hard time to solve it ^^'
But, I finally arrived at a result that satisfies me

So, to improve the navigation in the translation category, I propose to put a minimal version of the pagination component. By taking it out of the block and aligning it with this one, we have a good signifier. The goal would be to p

[2022-11-04 13:59] #23246 closed, assigned to nobody

[2022-11-04 14:12] Hlavtox opened #30217 "Friendly URLs don't work after enabling them"
### Describe the bug and add screenshots

Friendly URLs don't work after enabling disabling and enabling them. You need to open some rewrite and save it to make it work.

### Expected behavior

Friendly URLs should work fine after enabling friendly URLs, without doing additional action.

### Steps to reproduce - module

1. Have 2 languages active. Not sure if this is needed, but to be safe.
2. Go

[2022-11-04 14:24] ciekals11 opened #30218 "Could not crawl for translation files when translating template"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

[code]
error message when trying to

[2022-11-04 14:29] thomasDelaporte commented on #29458
Hello,

I don't know if this is really a bug? Is there any evidence that it worked like this in previous versions? It looks more like an evolution.

If we take the request, we should check at the same time that the e-mail address exists in the context of the associated stores. It may seem strange for administrator to create employee ?

[2022-11-04 14:58] zuk3975 opened #30219 "Default category should always be enforced on a product, even after category is deleted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

comes from PR https://github.com/Pr

[2022-11-04 15:06] TGD001 opened #30220 "PS_Wire Transfer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

the module (rel. 2.1.3)  raised a 5

[2022-11-04 15:15] thomasDelaporte commented on #29959
Hey,

It seems to me to be related to the modification of @yanmakouf (#29584) . If I understand a little the differences between 1.7.8 and 8.0.x, before the function "htmlspecialchars" was applied only on the text so in our case "[1]%percentage%[/1]% validated" while now the whole translation with the tags is passed in this function what makes that it is displayed as text.

I can't go further in s

[2022-11-04 15:34] Progi1984 commented on #28726
@AureRita & @tom-combet Images & DNI errors are fixed in `prestashop-shop-creator`

[2022-11-04 15:55] adamus007p opened #31644 "Idea to allow cache as much it possible and use CDNs"
Hello,

I read about projects to cache Wordpress https://blog.centminmod.com/2020/09/06/203/wordpress-cache-enabler-advanced-full-page-caching-guide/ as static pages to allow to serve it from CDNs vary fast. But I did not find such solution from Prestashop.

Of course in the blog there are two kind of cache, server cache and CloudFlare cache.

"2 different full page HTML caches mentioned

1. Wordp

[2022-11-04 16:07] barciland opened #30221 "Google sitemap Cron job is not generated and throws Exception"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The modules create the 1_index_site

[2022-11-04 16:51] hibatallahAouadni commented on #30079
Hello @sebaj

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug.

If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/

[2022-11-04 16:51] #30079 closed, assigned to nobody

[2022-11-04 17:15] hibatallahAouadni commented on #30210
Hello @leemyongpakvn

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for yoru PR :rocket:

Thank you

[2022-11-04 17:37] hibatallahAouadni commented on #30220
Hello @TGD001

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise steps to reprodcue**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad

[2022-11-04 17:37] #30220 closed, assigned to nobody

[2022-11-04 17:38] panacy opened #30223 "Payment module does not appear in Australia"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

My client from Australia rep

[2022-11-04 17:40] hibatallahAouadni commented on #30221
Hello @barciland

I didn't manage to reproduce the issue with the provided infos. Could you please provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-11-04 17:45] barciland commented on #30221
hi
![Screenshot_20221104_184116](https://user-images.githubusercontent.com/94231193/200041632-8084755c-c6d1-4e00-a531-16654dbdea98.png)
![Screenshot_20221104_184227](https://user-images.githubusercontent.com/94231193/200041667-d64053c8-6dcb-46a5-a518-62522a82f878.png)
![Screenshot_20221104_184306](https://user-images.githubusercontent.com/94231193/200041696-818985c1-399f-4ad3-9606-60cc16f6c2cb.png

[2022-11-04 18:25] hibatallahAouadni commented on #30218
Hello @ciekals11

Once in a while some tabs loads correctly but most of the time I get error.

It's caused by your network connection or your server, so you need to check it :wink:
Unfortunately, I have to close the issue cause we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help

[2022-11-04 18:25] #30218 closed, assigned to nobody

[2022-11-04 18:30] hibatallahAouadni commented on #30187
Hello @lmeyer1

Thanks for reporting the issue and for the PR :rocket:
Ping @PrestaShop/prestashop-core-developers can someone please try to reproduce the issue :pray: it's too technical for me!

Thanks in advance!

[2022-11-04 18:43] hibatallahAouadni commented on #30206
Hello @hiniestic

Thanks for reporting the issue :pray: The Maintainers Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
@Hlavtox thanks for your quick replies :rocket: and we're waiting for your PR :wink:

_PS: I changed the issue to a feature cause it's related to Performance, but it doesn't

[2022-11-04 18:47] hibatallahAouadni commented on #30223
Hello @panacy

I didn't manage to reproduce the issue with PS1787.
Did you try to disable the overrides and switch to the default theme CLASSIC? and check if the issue still persists.
Please check and feedback.

Thanks!

[2022-11-04 20:51] #28617 closed, assigned to PululuK

[2022-11-04 21:06] kpodemski commented on #20874
I'm reopening this issue as performance optimization is still an ongoing project for this module.

[2022-11-04 21:45] MatShir commented on #30028
Hi @Anthony-Tran,
You could try to make a PR, we will be happy to review your work ;)

[2022-11-04 23:28] misieq12 commented on #12684
Hello,

I have same problem on ps 1.7.8.7. I get this error:

Error: please check configuration

Expected response code 250 but got code "550", with message "550 Bad HELO - Host impersonating domain name [DOMAIN.COM]".

However, when I switch the settings to / usr / sbin I get an error:

Error: please check configuration

Expected response code 220 but got an empty response

Solution:

Unfortunate

[2022-11-05 11:16] panacy commented on #30223
HelloWe were able to check and find out that some conflict with USD currency appears. When client chooses EUR, payment module works fine.Can you suggest how can we fix this issue?PaulWiadomość napisana przez Hibatallah Aouadni ***@***.***> w dniu 04.11.2022, o godz. 19:48:﻿
Hello @panacy
I didn't manage to reproduce the issue with PS1787.
Did you try to disable the overrides and switch to the defa

[2022-11-05 11:47] molsondry commented on #28522
It's been for 10 months now since I discovered a major core error which was reported 6 months ago ([#28688](https://github.com/PrestaShop/PrestaShop/issues/28688)), which seems to be fit now, but the release isn't available even now. Really a mess. My shop doesn't work and I have got a lot of worries with my customers since variation handling in combination with individualization produces lots of

[2022-11-05 11:49] panacy commented on #30223
Hello

We were able to check and find out that some conflict with USD currency appears. When client chooses EUR, payment module works fine.

Can you suggest how can we fix this issue?

Paul

[2022-11-05 11:51] kpodemski commented on #28522
Hello @molsondry

PrestaShop is an open source, community project. If you find that any issue is critical for you, and it's important to have it fixed ASAP, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request -- th

[2022-11-05 14:55] nemesistech commented on #30007
Hello, it's working well with classic theme.
But with the theme I bought, I do have the issue, that's strange.
Any ideas?

Regards,

[2022-11-06 10:35] Spayn commented on #27888
Is there any information on when PrestaShop 8 will be added to the https://www.prestashop.com/en/versions section?

[2022-11-06 11:03] Hlavtox commented on #30219
[code]

[2022-11-06 17:23] ihulsbus opened #30226 "DB exception when switching theme."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When switching theme, I get a php e

[2022-11-06 19:09] dorkster100 commented on #24975
I believe the `StockRepository::getData` method should not be updating whole store every time. This is not sustainable, what about moving that logic to the point at which orders are made and manipulated with, maybe Observer pattern?

[2022-11-07 08:40] lartist opened #30227 "Upgrading Cancel previous steps in the CI"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-07 08:41] letwang commented on #28522
I'm a developer and you can pay me to solve problems in the future.

[2022-11-07 08:46] florine2623 commented on #30221
Hello @barciland ,

I have reproduced your issue with PS `1.7.8.7`, Google Sitemap module version 4.2.0. I'll add this to the backlog so it can be fixed.
<img width="991" alt="Screenshot 2022-11-07 at 09 31 13" src="https://user-images.githubusercontent.com/16019289/200262499-c47271c3-0903-40ec-b448-513232d16ae9.png">

https://user-images.githubusercontent.com/16019289/200265434-1eccb870-608d-4c36

[2022-11-07 08:57] #30223 closed, assigned to nobody

[2022-11-07 09:07] panacy commented on #30223
Please read my first post precisely. Module developer checked it out - all ok. Your solution to check propper currencies is wrong because it was done. Module doesn’t work with USD currency module does not appear. Now we deleted USD so the client could only choose EUR (module works). But why it doesn’t appear with USD?PawełWiadomość napisana przez florine2623 ***@***.***> w dniu 07.11.2022, o godz.

[2022-11-07 09:41] florine2623 commented on #30202
Hello @khouloudbelguith ,

I reproduce the issue with PrestaShop version **8.0.0** and **develop**, I'll add this to the backlog so it can be fixed.
I don't have the exact same behavior.

**Case1**:
Sometimes the alert is displayed, sometimes not.

https://user-images.githubusercontent.com/16019289/200277907-995be643-3fe5-41c4-b8d9-00636f6f7e69.mov

**Case2**:
<img width="1439" alt="Screenshot 202

[2022-11-07 10:07] Gardella-Web commented on #27880
Hello,
I made it clear that it had something to do with the bill!
Do you test before giving an answer?

Test carried out on a blank prestashop, 1.7.8.7
This calculation error is on the basis of Prestashop, and therefore, on all users who use B2B, HT invoices and group reduction.

ROUND ITEM
[20221107101506880.pdf](https://github.com/PrestaShop/PrestaShop/files/9950154/20221107101506880.pdf)

ROUND

[2022-11-07 10:13] florine2623 commented on #30226
Hello @ihulsbus ,

I can't reproduce your issue on PS 1.7.8.7.

https://user-images.githubusercontent.com/16019289/200284596-49e88d72-6177-4cd1-b6ff-ac985517f876.mov

Here's my ps_hook table:
<img width="773" alt="Screenshot 2022-11-07 at 11 11 55" src="https://user-images.githubusercontent.com/16019289/200284629-f2ce6e0b-a13a-40bd-875c-c769ab062130.png">

Have you tried with another template?
Is

[2022-11-07 10:37] micka-fdz opened #30229 "Add TikTok to `ps_socialfollow` module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-07 10:42] florine2623 commented on #30215
Hello @PrestaConnect ,

Thanks for reporting this issue!
Ping @PrestaShop/prestashop-core-developers : Could someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-11-07 11:18] florine2623 commented on #30217
Hello @Hlavtox ,

I reproduce the issue with PrestaShop version `8.0.x` and `develop`, I'll add this to the backlog so it can be fixed.

Not reproduced on `1.7.8.7`. So this is a regression.

This is the wanted behavior:

https://user-images.githubusercontent.com/16019289/200297400-9b2ad197-ab4a-493b-999b-ca3a962881e1.mov

Please be aware that some issues might take a very long time to be resolved

[2022-11-07 12:11] ciekals11 commented on #30218
Well. I doubt that it is my connection or server problem.
Renaming template from `dekora` to `classic` resolved this problem but this is more of a hack than solution.

It seems to be a problem with cache

[2022-11-07 12:57] eternoendless commented on #27888
To the best of my understanding newer versions will only be available through Github

[2022-11-07 12:58] MatShir commented on #30138
I have converted the bug as a feature request.
The demo.prestashop.com is a service provided by PS SA. We should not maintain it here, the question now is rather should we have our own one or not. 🤷

[2022-11-07 13:36] florine2623 commented on #30208
Hello @lmeyer1 ,

I can't reproduce your issue. Tested in French, English and German with the same config as you. PS 1.7.8.7, PHP 7.4 and ps_emailalerts 2.3.3.

https://user-images.githubusercontent.com/16019289/200323666-af8403c3-5cc0-4bc0-be6d-b9060bbb0f85.mov

Is there something I am missing ?
Waiting for your feedback.

[2022-11-07 13:37] idnovate commented on #29710
@hibatallahAouadni Do you remember any PR that fixed this in PS 8?

[2022-11-07 13:53] florine2623 commented on #30219
Hello @zuk3975 ,

I reproduced your issue on `1.7.8.7`, I have an exception:
<img width="1117" alt="Screenshot 2022-11-07 at 14 48 13" src="https://user-images.githubusercontent.com/16019289/200326143-1298a81b-9a22-45eb-84ca-433fa0b08c7f.png">

On `8.0.x` and `develop`, I have a warning :
<img width="1318" alt="Screenshot 2022-11-07 at 14 50 18" src="https://user-images.githubusercontent.com/16019

[2022-11-07 14:16] palmequipment commented on #24117
It is odd that attribute values are repositionable but feature values are not in Prestashop 1.7.2
Controlling the order of feature values would help greatly with presenting product features in a logical order.

[2022-11-07 14:18] eshraw commented on #29959
Is it related to #29940 ?

[2022-11-07 14:26] mflasquin commented on #29037
Hi @boubkerbribri, I think this issue is now resolved with the PR of @sefirosweb https://github.com/PrestaShop/PrestaShop/pull/30099

[2022-11-07 14:34] lmeyer1 commented on #30208
Hello @florine2623,
Oh I forgot, this is my PR's fault.
`v2.3.3` does not have this problem.
`dev` branch has this problem since here https://github.com/PrestaShop/ps_emailalerts/commit/e9446921bf462071d7a5fb4d4e85ae39d75efd33
I fixed on thing and broke another.

[2022-11-07 14:35] mflasquin commented on #29565
Hi @MatShir I think it's ok now ?
So we can cascade close https://github.com/PrestaShop/PrestaShop/issues/29533 and https://github.com/PrestaShop/PrestaShop/issues/29017 ?

[2022-11-07 14:41] florine2623 commented on #30111
Hello @loetje88 ,

Are you talking about the following part at the bottom of the invoice:
<img width="335" alt="Screenshot 2022-11-07 at 15 40 54" src="https://user-images.githubusercontent.com/16019289/200337694-740c40ca-fc7b-4b49-a27c-3ee2fa429b34.png">

Waiting for your feedback ?

[2022-11-07 14:50] ElodieOS commented on #11038
@PrestaShop/product-team wdyt?

[2022-11-07 14:50] florine2623 commented on #30212
Hello @zuk3975 ,

I reproduce the issue with PrestaShop version `8.0.x`, `develop`, I'll add this to the backlog so it can be fixed.
It is regression, on `1.7.8.7` with Experimental Page, the issue was nos present.

https://user-images.githubusercontent.com/16019289/200339394-880e7258-44ff-4464-b3e0-fa1394e6d0ec.mov

Please be aware that some issues might take a very long time to be resolved. If t

[2022-11-07 14:54] Sotoamino opened #30235 "PrestaShop Product combinations: Unable to update settings"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello. When I try to put combinatio

[2022-11-07 14:56] florine2623 commented on #30200
Hello @khouloudbelguith ,

I reproduce the issue with PrestaShop on `develop`, I'll add this to the backlog so it can be fixed.
On `1.7.8.7` and `8.0.x`, it was fine.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a profession

[2022-11-07 15:02] lmeyer1 commented on #30187
@hibatallahAouadni
Now the steps to reproduce are complete. I reproduced the bug on a clean install of PS 1.7.8.7 with ps_emailalerts v2.3.3.

[2022-11-07 15:11] florine2623 commented on #30235
Hello @Sotoamino ,

I can't reproduce your issue with the info you provided about your configuration.

https://user-images.githubusercontent.com/16019289/200344911-ffb6c381-e16c-425f-9054-2cbfbb04ee3a.mov

Make sure you are up to date with the system requirements : https://devdocs.prestashop-project.org/8/basics/installation/system-requirements/

[2022-11-07 15:12] florine2623 commented on #30235
Ping @PrestaShop/prestashop-core-developers

Maybe one of you can tell where these errors come from ?

[2022-11-07 15:23] nicosomb commented on #30235
@florine2623 no error here, just some notice. I don't think (but maybe I'm wrong) that these messages can't explain the issue.

[2022-11-07 16:03] Sotoamino commented on #30235
I give you the maximum information i have
![image](https://user-images.githubusercontent.com/59519426/200355174-ebb7d5f8-a822-4b4b-a6c0-5ff9d2dcb7c8.png)

Modules
![image](https://user-images.githubusercontent.com/59519426/200355348-fb9689b6-4307-445c-adc5-0db06de84f75.png)
![image](https://user-images.githubusercontent.com/59519426/200355426-d8305537-2c2a-4f1a-a4a0-f7514785476e.png)
![image](http

[2022-11-07 16:21] florine2623 commented on #30208
Alright ^^
I tested with branch `dev` of the module ps_emailalerts, but I still can't reproduce the issue 🤔

So can I close this issue ?
Or do you want to create a PR to fix the issue since https://github.com/PrestaShop/ps_emailalerts/commit/e9446921bf462071d7a5fb4d4e85ae39d75efd33 ?
If that's the case, I will need the help from my fellow @PrestaShop/qa-functional. If one of youc an reproduce the

[2022-11-07 16:26] florine2623 commented on #30201
Hello @khouloudbelguith ,

I tested on PS 8.0.x and PHP 7.4, I can't reproduce your issue:

https://user-images.githubusercontent.com/16019289/200362316-3836b39e-cd6b-4440-9503-0520e08f0bb5.mov

Is the issue only present when using PHP 8.1?

Thanks! ^^

[2022-11-07 16:31] #29642 closed, assigned to nobody

[2022-11-07 16:32] #29166 closed, assigned to nobody

[2022-11-07 16:33] #29148 closed, assigned to nobody

[2022-11-07 16:33] #30061 closed, assigned to nobody

[2022-11-07 16:34] #30062 closed, assigned to nobody

[2022-11-07 16:34] #30060 closed, assigned to nobody

[2022-11-07 16:34] #30043 closed, assigned to nobody

[2022-11-07 16:34] #29487 closed, assigned to nobody

[2022-11-07 16:34] #29915 closed, assigned to nobody

[2022-11-07 16:36] #30059 closed, assigned to nobody

[2022-11-07 16:37] #29368 closed, assigned to nobody

[2022-11-07 16:39] #26510 closed, assigned to nobody

[2022-11-07 16:39] #27528 closed, assigned to nobody

[2022-11-07 16:39] #27529 closed, assigned to nobody

[2022-11-07 16:40] #27634 closed, assigned to nobody

[2022-11-07 16:40] #27707 closed, assigned to nobody

[2022-11-07 16:40] #27780 closed, assigned to nobody

[2022-11-07 16:40] #28417 closed, assigned to nobody

[2022-11-07 16:40] #29061 closed, assigned to nobody

[2022-11-07 16:41] #29321 closed, assigned to nobody

[2022-11-07 16:41] #29123 closed, assigned to nobody

[2022-11-07 16:53] Daaaaad opened #30238 "Bug if PS_SHIPPING_FREE_PRICE has changed when editing a customer delivery address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I found a very annoying iss

[2022-11-07 17:33] adamus007p commented on #30094
@hibatallahAouadni I did not mentioned the problem is with free order too. So it is not related to only paymement modules.
When cache from memcached is off everything is ok.

I see that there is a spagetti code regards cache and payments.

[2022-11-07 17:35] Thymotep opened #30239 "[BO] Module titles and descriptions remain cached when language is changed"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

Since 8.0.0, when changing

[2022-11-07 18:28] thomasDelaporte commented on #29959
It seems related, I have the same problem where in the method `replaceSpecialCharsWithLegacyFunctions`", the variable `$message` includes the whole sentence:

For example `<b>Visiteur</b> - Toutes les personnes n'ayant pas de compte client ou n'étant pas identifiées.` and that if I do a `htmlspecialchars` it makes it display as text and more as an HTML element.

![code](https://user-images.githubu

[2022-11-07 20:29] MatShir commented on #29565
You're right ! For the bug, I will still double-check with the QA, but I seem to be fixed :)

[2022-11-07 20:29] #29565 closed, assigned to nobody

[2022-11-07 20:29] MatShir commented on #29533
Nice work everyone ! :)
Epic done !!!

[2022-11-07 20:29] #29533 closed, assigned to nobody

[2022-11-07 20:31] MatShir commented on #29017
Could @PrestaShop/qa-team check if the bug is still presents ? I couldn't reproduce the bug, since the translation part has been fixed.

[2022-11-07 21:06] ihulsbus commented on #30226
Hi, I've tried with various themes all claiming 1.7 compatibility, but I keep running into the same error. The error also does not make sense as ID 0 does not seem to be possible in the ps_hook table due to the auto increment...

[2022-11-07 23:22] nemesistech commented on #30007
Hello, issue solved.

When the table ps_customer is truncate, we also checked the table ps_addresses (wasn't empty). So, when creating a new customer, was using the id_customer of old one in ps_addresses.

Regards,

[2022-11-08 06:59] kpodemski commented on #30007
@nemesistech it seems like an issue on your side, these two tables are related, and if you want to delete customer data, you should delete related record from the address table 👍

[2022-11-08 07:50] Progi1984 commented on #27706
@PrestaEdit I reopen it. My PR is on QA ;)

[2022-11-08 08:12] lmeyer1 commented on #30208
Hello @florine2623
I am not able to reproduce with https://github.com/PrestaShop/ps_emailalerts/releases/tag/v2.3.3
But I'm able to reproduce with https://github.com/PrestaShop/ps_emailalerts/archive/refs/heads/dev.zip

[2022-11-08 09:31] sallemiines commented on #30239
Hello @Thymotep

I have reproduced your issue with PS 1787 , PS 800

On 1.7.8.7 OK
On 8.0.0 NOK , you can see the attached screen record

[Untitled_ Nov 8 2022 9_54 AM.webm](https://user-images.githubusercontent.com/31663369/200520614-a56e01b1-320b-4556-8bab-870f33f28316.webm)

Thank you !

[2022-11-08 10:36] SNor42 opened #30240 "Call to a member function formatPrice() on null"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a custom module, under backoffic

[2022-11-08 11:11] AureRita commented on #24389
Fixed by #29066

[2022-11-08 11:11] #24389 closed, assigned to TristanLDD, margud

[2022-11-08 11:54] sallemiines commented on #30238
Hello @Daaaaad

I have reproduced your issue with `PS 1787` , `PS 800` , you can see the attached screenshot

![Orders-Order-TAGZXQZIC-from-John-DOE-•-1787](https://user-images.githubusercontent.com/31663369/200541458-76bc1b98-a697-4fa6-a58f-b4c5c7030fd8.png)

Thank you !

[2022-11-08 11:58] Daaaaad commented on #30238
Thank you @sallemiines 👍

[2022-11-08 12:23] templatin commented on #30235
I have already reported this issue #30179

[2022-11-08 13:19] sowbiba opened #30241 "Unable to translate module's tabs using XLF"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

To translate module's added menus (

[2022-11-08 14:05] sallemiines commented on #29017
Hello @MatShir

I tested the issue with` PS800 `, and I can't manage to reproduce it , I think it's fixed
you can see the attached screen record

[Untitled_ Nov 8, 2022 2_57 PM.webm](https://user-images.githubusercontent.com/31663369/200584280-6c487b71-1568-4318-b4b9-9dcb75bff9c7.webm)

Thank you !

[2022-11-08 14:31] sallemiines commented on #30240
Hello @SNor42 ,

Unfortunately your steps  are not clear enough to reproduce the issue ! Could you please provide us the module to test it ,   clear and concise steps to reproduce the issue .

Thank you !

[2022-11-08 14:39] codeway opened #30244 "Can't delete texture image for an attribute with multistores"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Have an admin with many stores.
Go

[2022-11-08 14:41] l-delin opened #30245 "Add tooltip to Product page Summary and Description"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-08 14:43] l-delin commented on #30245
Ping @PrestaShop/ux-team

[2022-11-08 14:56] sallemiines commented on #30226
Hello @ihulsbus

Despite our efforts, we were not able to reproduce your issue with the provided information.

We will close this issue.

Thank you

[2022-11-08 14:56] #30226 closed, assigned to nobody

[2022-11-08 15:27] sallemiines commented on #30245
Hello,
Hello @l-delin
Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone

[2022-11-08 15:35] arirangz opened #30246 "Logo not showing on invoice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In prestashop 1.7.8.7, the logo is

[2022-11-08 15:42] ElodieOS commented on #30245
@l-delin it's perfect good feature !

[2022-11-08 15:53] sallemiines commented on #30208
Hello @lmeyer1

I try to reproduce the issue with [[ps_emailalerts-dev.zip](https://github.com/PrestaShop/ps_emailalerts/archive/refs/heads/dev.zip)], as  you said , but unfortunately I can't  install the module, see the attached screenshot

![image](https://user-images.githubusercontent.com/31663369/200611825-43b5df83-2057-49f3-92c3-339756a67821.png)

Please check & feedback !
Thank you

[2022-11-08 15:56] lmeyer1 commented on #30208
Hello @sallemiines,
To install a module downloaded from git in that way, you have to:
- unzip it
- move the files in a folder named with the module name (here `/ps_emailalerts/`)
- zip this folder (instead of the contents), and it will install.

[2022-11-08 16:01] #30246 closed, assigned to nobody

[2022-11-08 16:13] sallemiines commented on #30235
Hello @Sotoamino

Thanks for your feedback!
Ping @PrestaShop/prestashop-core-developers could someone please try to reproduce the issue and check the author configuration :pray:

Thanks in advance!

[2022-11-08 16:18] sallemiines commented on #30244
Hello @codeway !

Thanks for the issue!
Following your steps, I can't manage to reproduce the issue (they are not clear enough)
Could you please provide us with clear and concise steps to reproduce!

Please check and feedback !
Thank you !

[2022-11-08 16:22] nicosomb commented on #30235
@sallemiines it seems you already reproduced this bug here https://github.com/PrestaShop/PrestaShop/issues/30179

[2022-11-08 16:25] sallemiines commented on #30241
Hello @sowbiba !

I try to reproduce your issue, I install the module example that you set => but I get this error when I click on configure button, see the attached screen shot

![image](https://user-images.githubusercontent.com/31663369/200620199-f3c6c564-962a-49a4-998b-94066787fc21.png)

Please check and feedback !

Thank you

[2022-11-08 16:29] sowbiba commented on #30241
Hello.

This is not blocking; it's just the hook name which is deprecated and it has no impact with the issue

I can fix this if you want

[2022-11-08 16:33] sowbiba commented on #30241
[prestashopexamplemodule.zip](https://github.com/PrestaShop/PrestaShop/files/9963234/prestashopexamplemodule.zip)

I changed it in the description too

[2022-11-08 17:01] sallemiines commented on #30208
@lmeyer1 , thank you for your feedback !
Well after following your steps and installing the module , in the FO , I can't find the box that allows to subscribe , see the attached screen record

[Untitled_ Nov 8, 2022 5_55 PM.webm](https://user-images.githubusercontent.com/31663369/200628151-daeb51f1-f76d-40b9-b4f2-13585091b3cc.webm)

Did I miss something?
PLease check & feedback !

Thank you

[2022-11-08 17:51] misieq12 opened #30247 "Problem with sending mails PS. 1.7.8.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I have a problem with my PS

[2022-11-08 17:54] gennaris commented on #30238
Not a bug...

There's already this setting in place to avoid recalculation :

![jYDU2zvvmJ](https://user-images.githubusercontent.com/43071148/200639486-b583ef6b-3d91-4636-bb16-f3f7562400f1.png)

[2022-11-08 17:58] hibatallahAouadni commented on #29017
Glad to hear :tada: So closing the issue!

[2022-11-08 17:58] #29017 closed, assigned to nobody

[2022-11-08 18:11] hibatallahAouadni commented on #28648
@PrestaShop/product-team friendly reminder :pray:

[2022-11-08 18:14] hibatallahAouadni commented on #27998
Well let's check with the Developer Team, if your solution is valid :wink:
Ping @PrestaShop/prestashop-core-developers wdyt about @tecmikro solution :pray:

[2022-11-08 20:20] ErhardScampi commented on #19290
I have the exact same problem. Since two month the support says to go to the provider or to order desk (I want to have an orderdeskintegration). Is there a chance that the problem is solved ? I want to integrate in orderdesk . The told me that they get a 401. Using curl I get a 401 Using the browser I get a 401 too.  So what to do ?

I added tis RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Author

[2022-11-08 21:47] ErhardScampi commented on #19290
Found the solution :
Found the solution : Delete htaccess in root and in Webservice directory.   Regenerate it.
Then add the following two lines under rewriteEngine on

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule . - [E=HTTP_AUTHORIZATION:%1]

Works for prestashop 1.7.8.7

Thanks to

https://wordcodepress.com/prestashop-1-7-webservice-api-401-unauthorized/

[2022-11-08 21:51] Daaaaad commented on #30238
Thank you @gennaris ! I didn't know this option 😀

[2022-11-09 03:41] MGDev-FR commented on #27888
Thank you but I finally switched to do my own e-commerce website with Symfony 6 so I am totally free to do all what I want and it's fully compatible with PHP 8. And finally, with a nice e-commerce template for the frontend didn't take me so much time to do that e-commerce website.

Sorry... first experience with Prestashop, it results that I won't use it never I think.

Good luck with Prestashop.

[2022-11-09 08:09] lmeyer1 commented on #30208
@sallemiines
Sorry, I don't know what is wrong in your installation. The box that allows to subscribe SHOULD display here.
Look with @florine2623, she was able to get the module working, see https://github.com/PrestaShop/PrestaShop/issues/30208#issuecomment-1305628593.

[2022-11-09 08:34] l-delin commented on #25894
Hi @ElodieOS, could you please change the wording to "More recent versions are available **here**." ? (and include the link on "here"). Otherwise great work, thanks :)

[2022-11-09 08:39] HanaRebaiQA commented on #30247
Hello @misieq12

Thanks for your report.

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/28014
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank You!

[2022-11-09 08:39] #30247 closed, assigned to nobody

[2022-11-09 08:41] HanaRebaiQA commented on #30247
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/28014

[2022-11-09 08:45] l-delin commented on #30245
Hello, this is a feature requested internally by the UX team :)

[2022-11-09 08:50] ElodieOS commented on #25894
Hello @l-delin!
Tank you for your feedback :)

You can find the new version (with the same specs as above)

![image](https://user-images.githubusercontent.com/113457393/200783559-fd71eb24-8882-4124-a52d-2126e8809402.png)

[2022-11-09 08:59] AndersSSNielsen opened #30249 "Overall Shop problems - Internal server error..."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

No confirmation email to customer a

[2022-11-09 09:00] AndersSSNielsen commented on #30249
Or do I have a general problem with the installation?

[2022-11-09 09:27] Prestaworks commented on #29259
This is not minor, customers personal information is shared openly with strangers.

[2022-11-09 09:38] AndersSSNielsen commented on #30249
When I try to resend over confirmation I get the following error.

POST https://www.webshop.com/adminxyz/index.php/sell/orders/4/history/12/statuses/2/resend-email?_token=x1232132123123123 500

Is something wrong with the mailing system?

[2022-11-09 09:43] HanaRebaiQA commented on #30208
Hello @lmeyer1

I tried to reproduce your issue with **PS1787** using **php 7.3** and **php 7.4** and check with :

- ps_emailalerts v2.3.3 : OK (The issue is not reproduced) :heavy_check_mark:
- ps_emailalerts v2.4.0 from dev branch : NOK (The issue is reproduced) :x:

**emailalerts v2.3.3 : OK**

![image](https://user-images.githubusercontent.com/92912932/200794642-5b81978a-6706-4824-8b62-6ed465

[2022-11-09 09:44] NWNex commented on #29133
Hi,

I didn’t have any reply from you.

Could you confirm that this issue is fixed?

Thank you

De : ***@***.*** ***@***.***>
Envoyé : lundi 26 septembre 2022 16:41
À : 'PrestaShop/PrestaShop' ***@***.***>; 'PrestaShop/PrestaShop' ***@***.***>
Cc : 'NWNex' ***@***.***>; 'Mention' ***@***.***>
Objet : RE: [PrestaShop/PrestaShop] Product list sort order in Command different XML API (Issue #29133)

H

[2022-11-09 09:50] HanaRebaiQA commented on #30208
I've updated the issue description

[2022-11-09 10:06] #26293 closed, assigned to nobody

[2022-11-09 10:06] #19348 closed, assigned to nobody

[2022-11-09 10:32] matks commented on #29018
@mflasquin continued the great work started in PR https://github.com/PrestaShop/classic-theme/pull/44 the new PR is https://github.com/PrestaShop/classic-theme/pull/73

[2022-11-09 10:41] #29164 closed, assigned to atomiix

[2022-11-09 10:42] atomiix commented on #30241
@sowbiba I confirm there's an issue here, module's translations are only loaded when the module is installed and active. As we're trying to install it, it's not already active thus translations are not loaded

[2022-11-09 11:01] lmeyer1 commented on #30187
@matks And what a simple fix !!! https://github.com/PrestaShop/ps_emailalerts/pull/121/commits/d2037b338f6596cff8b64bfad28d8c6d343c8228

Never the less I needed the whole steps to reproduce to prove to myself that the fix didn't break anything else. 😅

[2022-11-09 11:11] HanaRebaiQA commented on #30187
Hello @lmeyer1

I tried to reproduce your issue with **PS1787** and **php 7.4** with **ps_emailalerts v2.4.0 from dev branch**.
I used the same steps to reproduce.

In the email of **New order**, i think i have only the text is wrong which is in English.
But all information about the :

- The sender is Shop B : OK
- The recipient is merchant of shop A: OK
- The email subject is in French: OK
- The

[2022-11-09 13:16] misieq12 opened #30253 "Error on display details of order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

After update to PS. 1.7.8.7

[2022-11-09 13:18] HanaRebaiQA commented on #30249
Hello,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Also, could you please send your request, your s

[2022-11-09 13:18] #30249 closed, assigned to nobody

[2022-11-09 13:19] lmeyer1 commented on #30187
@HanaRebaiQA
👏 To be able to reproduce ! I'm amazed !

But, you didn't interpret the result correctly:

The recipient is merchant of shop A: OK
The email subject is in French: OK
The logo is the one of Shop B (also the link in the footer): OK
The language is English: NOK

The sender is Shop B : ~~OK~~ This should be the shop A. If a customer shops in shop A all related emails must be sent from sho

[2022-11-09 13:38] HanaRebaiQA commented on #30253
Hello @misieq12

Thanks for your report.
I was unable to reproduce your issue with PS1787 using the same steps to reproduce.

![image](https://user-images.githubusercontent.com/92912932/200844101-896ad0b2-fcc1-4826-b7e1-ea033e8186f7.png)

![image](https://user-images.githubusercontent.com/92912932/200844116-fd47adbc-b4c6-4702-bdb7-b928d734ee1e.png)

So, i'll close the issue.

Thanks!

[2022-11-09 13:38] #30253 closed, assigned to nobody

[2022-11-09 13:50] HanaRebaiQA commented on #30187
Thank You @lmeyer1

So, it was something missed ? Or, this is the reporter bug ?

[2022-11-09 13:55] lmeyer1 commented on #30187
@HanaRebaiQA
You reproduced the bug I reported. You only missed the words **wrong** in the report

The recipient is merchant of shop A: ok
The email subject is in French: ok
The logo is the one of Shop B (also the link in the footer): **wrong**
The language is English: wrong

[2022-11-09 15:35] ACPKOR opened #30254 "ps_categoryproducts installation fails"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

we have the problem that I

[2022-11-09 15:43] hibatallahAouadni commented on #29133
Hello @NWNex

Thanks for your patience :pray:
Unfortunately, this issue is not fixed yet!

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/expert

[2022-11-09 15:48] hibatallahAouadni commented on #30094
Hello @adamus007p

Could you please provide clear and concise steps to reproduce the issue and a screen record :pray:
If I reproduce it I will reopen the issue :wink:
Waiting for your feedback.

Thanks!

[2022-11-09 16:08] HanaRebaiQA commented on #30187
Hello,

I tried to reproduce the bug also on PS8.0.x, but i was blocked on step 3 in `Reproduce the bug `section. I did the same steps of the `Set up the installation` section like i have reproduced with **PS1787**

The issue is that i was unable to Add the product to cart after inserting these queries of the product related to both of shops.
 `(INSERT INTO hana_stock_available (id_product, id_pro

[2022-11-09 16:16] HanaRebaiQA commented on #30254
Hello @ACPKOR

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can

[2022-11-09 16:16] #30254 closed, assigned to nobody

[2022-11-09 16:43] tswfi commented on #29303
Also tripped on this today.
1) 8.0 zip package does not contain autoupgrade module => so the docs point to a file that does not exist as it was moved into autoupgrade module
2) autoupgrade module paths are wrong

I did a quick test to fix the paths but didn't get them all and had to return to backup and didn't have time to retest today.

[2022-11-09 17:50] Liewebs commented on #29436
I am using Windows to test module sin Wammp server and same issue. I know mates using Linux and no issue. Maybe it is only happening in windows.

[2022-11-09 19:23] augustomurri opened #30259 "FileNotFoundException The file "/tmp/php4WJ2D7" does not exist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have an external php script which

[2022-11-10 07:06] ravi2448 commented on #10003
Hi,
Is there any Update ?
Any thing change in code to resolve this problem ?

[2022-11-10 08:34] kpodemski opened #30260 "Remove empty category blocks in module manager"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-10 08:37] florine2623 commented on #29719
ping @Hlavtox @kpodemski @zuk3975

Do you think this issue should be re-opened ?

[2022-11-10 08:38] CarlysG commented on #25786
Hola @nsakiotis pudiste encontrar una solución??

[2022-11-10 08:39] CarlysG commented on #25786
Hola @nsakiotis  pudiste encontrar una solución?

[2022-11-10 08:41] kpodemski commented on #29719
Yes. Not sure why @PrestaEdit decided to close everything, even if it is relevant.

[2022-11-10 08:45] zuk3975 commented on #29719
I think we need a concrete scenario where it fails (some demo module or so) to continue on this issue.

[2022-11-10 08:45] kpodemski commented on #29436
@HanaRebaiQA I'm not sure if testing this way is testing on Windows 🤔

I think we can trust @Hlavtox and others, then we could have QA by a developer with the help of @Hlavtox

What do you think @HanaRebaiQA ?

[2022-11-10 08:48] augustomurri commented on #30259
Upload works, only few times i get this strange error.
PHP vars, chown chgroup of /tmp directory seems ok (same user and group of php process)

![image](https://user-images.githubusercontent.com/16515870/201043750-f127a2de-13f2-493a-bc2d-91b6b39b38c5.png)

[2022-11-10 08:51] crishnakh commented on #10003
Hi, we had this problem, this table was about 180GB and we needed to take action because it was taking our server.

My advice now is:
1. Clean that table if you don't care about combination of cart roules (discounts)
2. If you have a lot discounts coupons (our number was 70.000) this table increase with the option cart_rule_combination activated (our rows in that table was about 2.800 Millions). D

[2022-11-10 09:36] florine2623 commented on #30259
Thanks for the system info.

Have you try to clear your cache ? Do you still have the error after clearing the cache ?

[2022-11-10 09:37] CarlysG commented on #24193
Hola  @elodie66000  encontraste solucion??

[2022-11-10 09:58] #29198 closed, assigned to NeOMakinG

[2022-11-10 10:04] hibatallahAouadni commented on #29436
Hello @kpodemski

Trusting developers is quite risky :sweat_smile: but yeak I like your proposed solution.
May the odds be ever in our favor :crossed_fingers: :grin:

Thanks!

[2022-11-10 10:20] augustomurri commented on #30259
Yes absolutely, the strange thing is it happens only on file upload
Using a static file already uploaded the process works well
very strange

[2022-11-10 10:55] #29436 closed, assigned to nobody

[2022-11-10 10:55] florine2623 commented on #30259
Could you send me the exact steps to reproduce ?
The file you are using and where you are uploading it ?

If you can send a screen record of it that would be great.

[2022-11-10 13:27] florine2623 commented on #30180
Hello @hibatallahAouadni ,

I couldn't reproduce the issue on `develop` either.
On my end, I'm using PHP 7.4. Installation done with country France and Default language English.

Is there something more about config that I can try ?
Thanks!

[2022-11-10 13:50] hibatallahAouadni commented on #30180
So, we need to close the issue :wink:
Thanks everyone for your tests :pray:

Closing the issue as invalid!

[2022-11-10 13:50] #30180 closed, assigned to nobody

[2022-11-10 14:12] hibatallahAouadni opened #30262 "Disabling a module in one shop will disable it in all shops"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I find this regression while testin

[2022-11-10 14:27] hibatallahAouadni commented on #30262
Related to #24354

[2022-11-10 14:50] Progi1984 opened #30263 "UI Tests : Migration to TypeScript"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Descriptiion

Mi

[2022-11-10 14:58] florine2623 commented on #30262
Hello @hibatallahAouadni ,

I reproduce the issue with PrestaShop version 8.0.0, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.or

[2022-11-10 15:25] #29018 closed, assigned to nobody

[2022-11-10 15:26] #30173 closed, assigned to nicosomb

[2022-11-10 15:28] #30193 closed, assigned to nobody

[2022-11-10 15:32] leemyongpakvn commented on #30193
@jolelievre In fact, this issue is only partially complete because it still has 3 related PRs open.

[2022-11-10 15:36] nsakiotis opened #30264 "Incorrect discount voucher value at Cart backoffice page, when cart has more than one products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The bug is reproducable on Shopping

[2022-11-10 16:03] florine2623 commented on #30264
Hello @nsakiotis ,

Your issue is similar to https://github.com/PrestaShop/PrestaShop/issues/22948 and has been fixed in https://github.com/PrestaShop/PrestaShop/pull/24088.

You can upgrade your issue to get the fix or apply the fix direct on your shop.

Also, your PHP version is to high for your PS version, you need to downgrade it : https://devdocs.prestashop-project.org/1.7/basics/installation

[2022-11-10 16:03] #30264 closed, assigned to nobody

[2022-11-10 17:00] totti240282 commented on #19344
Same problem.

[2022-11-10 18:46] cdue commented on #30112
Hi there,

I think I have the same issue (or something similar) on PS 1.7.7.2.

I have created a module that needs to override `PasswordController.php`, and that override contains a few `use` statements.
When first creating that override, everything worked fine.
But then I had to add one more `use` statement, so I created an upgrade script containing the following line to force a refresh of the ex

[2022-11-10 21:37] pniaps commented on #12192
This error is still present nearly 4 years later. Can I make a pull request?

[2022-11-10 21:59] kpodemski commented on #12192
Hello @pniaps

You are more than welcome to open a PR on the develop branch to fix this issue, if you think it is still relevant 👍🏻🙂

[2022-11-11 08:34] #29998 closed, assigned to FabienPapet

[2022-11-11 09:49] zuk3975 opened #30267 "Add a button to delete category thumbnail"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Similar as in issue https://github.

[2022-11-11 09:52] kpodemski commented on #30112
@cdue I think that instead of `unlink` you can do `$module->removeOverride('PasswordController')` :)

[2022-11-11 09:58] HanaRebaiQA commented on #30201
Hello @khouloudbelguith

Thanks for your report.
I was able to reproduce your issue on **PS8.0.0** with **php 8.1**.

I'll add this to the debug backlog so that it's fixed.

![image](https://user-images.githubusercontent.com/92912932/201315811-8e3cec9e-15d3-4f4a-be88-95c38c93ef6c.png)

https://user-images.githubusercontent.com/92912932/201315633-e74dcce1-4769-4f56-9d67-0f92ca96a0ef.mp4

Thank You!

[2022-11-11 11:26] kpodemski commented on #29326
@hibatallahAouadni you only need to create this file that @PululuK mentioned if I understand correctly :)

[2022-11-11 13:40] hibatallahAouadni commented on #30085
Hello @margud

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-11-11 14:31] xmovu commented on #26223
Hey guys,

Was there any decision making?

Cheers

[2022-11-11 19:04] PrestaConnect commented on #30215
Hello @florine2623,
This issue interest should be tagged for #1.7.x and #1.6.x branches, not just the #8.0.x branch. Beacuse old versions are covered this issue.

[2022-11-11 21:33] web-plus opened #30272 "Error in cart - removing products in debug mode and specific language doesn't work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue occurs since Prestashop

[2022-11-11 21:52] Hlavtox commented on #30272
Hi @web-plus, can you please show the ajax response after clicking the button? (F12 in chrome, network tab, filter only XHR, click button and click the request.)

Also, make sure to clear cache in both debug and normal mode, they have their own cache in /var/cache.

[2022-11-11 22:00] web-plus commented on #30272
ok, I was to quick before, there is this warning, see attachment. Happens only with CZ, FR language, not EN.
![Screenshot 2022-11-11 22 58 08](https://user-images.githubusercontent.com/3237634/201436713-2fef2320-be94-4fd7-ab00-b2b9eb9ec252.png)

Yes I know about the cache  (happens only in dev)

[2022-11-11 22:21] Hlavtox commented on #30272
@web-plus
Caused by this PR: https://github.com/PrestaShop/PrestaShop/pull/28290/files
Fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/30194/files, but only on develop.

We must backport it to v8 branch so it get's into 8.0.1 patch, it's a regression. :(

[2022-11-11 22:26] web-plus commented on #30272
ok @Hlavtox, thank you for information and checking so fast!

[2022-11-11 22:29] Hlavtox commented on #30272
@web-plus Made a PR that will fix it 👍 Dobrou noc :-))

[2022-11-12 21:22] Tomi1444 opened #30275 "No alt attributes for SVG from blockreassurance"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

When I run PageSpeed Inights

[2022-11-13 10:35] Laimonas-Mituzas commented on #23773
In my opinion, solution is too use another module for this function, when a catalog has many products, attributes or combinations.

[2022-11-13 15:42] rmilecki commented on #24492
This bothers me too and I realized there were a lot of people looking for removal of that `[Foo]` prefix. Please see how many forum threads I found about that exact issue:

- [How to remove [Shop Name] in email subject [PS 1.7.6.1]](https://www.prestashop.com/forums/topic/1000442-how-to-remove-shop-name-in-email-subject-ps-1761/)
- [How to remove shop name in email subject](https://www.prestashop.

[2022-11-14 07:03] MatShir opened #30278 "[EPIC] Delete image linked to the image settings"
### EPIC - User Story

As a merchant, when I don't use a theme anymore I want to delete all the image formats and image related to the theme.

### US

- [x] #30568

- [x] #30569

- [x] #30570

[2022-11-14 07:29] MatShir opened #30279 "Generate image setting from theme yaml"
### User Story

As a merchant, I want to import the default images type of my themes.

### Specs

When the user press import image settings from themes
Then a modal is displayed

Title 'Import images setting of all your themes'
Description 'It will import all the images settings of your theme'
Button 'Cancel' / 'Import'

When the button import is clicked
Then all the images settings of all themes

[2022-11-14 07:42] MatShir commented on #12773
Checkout the product V2 in the experimental feature, the feature has been implemented :) 🚀

[2022-11-14 07:42] #12773 closed, assigned to marionf

[2022-11-14 09:04] #30229 closed, assigned to nobody

[2022-11-14 09:28] hibatallahAouadni commented on #26223
Ping @PrestaShop/prestashop-maintainers friendly reminder 🙏

[2022-11-14 09:54] fabienvallon opened #30280 "Create hook(s) to modules manager to enable/disable "upgrade/remove/disable modules" and add submenu item"
## US

### Description

As a PS edition integrator I want be able to get have some "essential" modules, that the user can not remove easily so I make sure my Edition is consistent

As a developer I want an easy way to modify  (enable/disable) the UX/UI ( "upgrade/uninstall/disable modules"   and add submenu items) of the module manager to modify the behavior

Currently the OS module manager allows

[2022-11-14 10:01] nicosomb commented on #30011
I worked on this issue. Here is a POC https://github.com/PrestaShop/PrestaShop/pull/30176
I'm available to discuss 👋  with you if you want to continue to work on it.

[2022-11-14 10:10] fabienvallon opened #30281 "Create an example of module (with documentation) with a whitelist of "essentials" modules"
## US

### Description

As a developer I want an exemple of how to use hook of the module manager to easily develop a module for the module manager

### Business rules

- The module should use [this hook](https://github.com/PrestaShop/PrestaShop/issues/30280)
- The module should maintain a list of "essentials" modules
- For 2 modules into the list and already installed , the modules must disable t

[2022-11-14 10:30] markoopapa commented on #30144
@kpodemski If you can now reproduce and know any solution to solve the actual arror plz share with me.

Thanks

[2022-11-14 10:55] Quetzacoalt91 opened #30285 "Generation of nightlies is broken on `develop` branch"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Docker image `prestashop/prestashop

[2022-11-14 11:25] Hlavtox commented on #30206
@atomiix Can you look into this please and find a way to revert it so we gain original performance? Thanks. :-)

[2022-11-14 11:25] Hlavtox opened #30286 "Product listing performance"
### Required fields
Following product data is required by default themes on every listing. We should fetch them all in one query if possible. All others should be lazyloaded.

[code]

### How it works currently.
- In `ProductListingFrontController`, there is a list of product IDs.
- They are sent to `ProductAssembler` which fetches all data from `product` and `product_shop` tables.
- Then, for eac