[2020-08-26 21:27] davidglezz commented on #20726
I was thinking that I would love to develop a reusable widget that can also be used in the modules, since I have 2 modules that I cannot use because it was not thought of medium-sized stores, much less large ones.

One, you have to select a customer. The developer's solution was a html select. In my case, a select with 50,000 options breaks the browser forcing you to restart it.

Another module th

[2020-08-26 21:51] Robin-Fischer-PS opened #20744 "Recalculate shipping costs option not working when set to No"
#### Describe the bug

When setting the "Recalculate shipping costs after editing the order" option to No, the shipping cost are still recalculated when editing the order in BO when the price of the order exceeds the carrier's "limit".

#### Expected behavior

The shipping cost should not be updated if option is set to No.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Have a carri

[2020-08-26 22:25] davidglezz commented on #19605
probably related to https://github.com/PrestaShop/PrestaShop/issues/12907

[2020-08-26 23:29] JulianoSGomes opened #20745 "hook action order grid not work"
Hi, on my custom module i followed [this documentation steps](https://devdocs.prestashop.com/1.7/modules/sample-modules/grid-and-identifiable-object-form-hooks-usage/) for add columns on customer grid, it works, so i tried to replicate for the order grid but nothing happens.
Prestashop version: 1.7.6.7

[code]

[2020-08-27 02:56] smithikakart opened #20746 "Internal PHP error"
Using Prestashop version 1.7.6.4 and php version is 7.2 getting internal php error

[2020-08-27 07:00] jungwirbtgut commented on #16143
I got same issue and don't know how to handle or fix.

Someone an idea? Still exsists in 1.7.6.7

[2020-08-27 07:32] sarahdib commented on #20746
Hello @smithikakart,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [[here].](https://build.prestashop.com/news/how-bug-reports-are-handled/) Feel free to create a new issue if you can provide further information, we w

[2020-08-27 07:32] #20746 closed, assigned to nobody

[2020-08-27 07:57] khouloudbelguith commented on #20731
Hi @marionf,

I manage to reproduce the issue with PS1.7.6.7.
I tried with this script
[code]

In the Table `ps_product` => ok
![image](https://user-images.githubusercontent.com/16067358/91413224-17efbc80-e84b-11ea-9304-fca622f41d25.png)
The table `ps_product_supplier` is empty
![image](https://user-images.githubusercontent.com/16067358/91413300-33f35e00-e84b-11ea-8a1b-e9fa950eca55.png)

In the BO

[2020-08-27 08:00] smithikakart commented on #20746
sorry to reopen this dont have the option to reproduce this error its internal php error log, am using the prestashop version 1.7.6.4 and the php version is 7.2 here i have attached the screenshot too daily its load the php error
<img width="1294" alt="Screenshot 2020-08-27 at 1 29 59 PM" src="https://user-images.githubusercontent.com/67721911/91413960-7b88e280-e869-11ea-89ca-adcdc06ca910.png">
lo

[2020-08-27 08:06] sarahdib commented on #20740
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer : https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understand

[2020-08-27 08:06] #20740 closed, assigned to nobody

[2020-08-27 08:08] #20715 closed, assigned to nobody

[2020-08-27 08:14] matks commented on #20715
@onklmaps PR merged 😉

[2020-08-27 08:21] marionf commented on #20731
Thank you @khouloudbelguith, could you apply the severity label ?

[2020-08-27 08:22] matks commented on #20746
@smithikakart the error says you are sending value `asc/` instead of `ASC` to the search. Error triggers when you search product name by ascending.

Do you use a a custom theme ? Try with Classic Theme, issue might come from there.

[2020-08-27 08:49] atomiix commented on #18893
@khouloudbelguith I think it's the normal behavior when not in debugMode, you can see the specification of this page in [this file](https://docs.google.com/document/d/1krTRDT40MOpAxePGNap89hpAXFTdR2dIe2t3CQ0e1Uc/).

[2020-08-27 09:04] khouloudbelguith opened #20747 "FO - ps_categorytree Module - This module is not displayed in the mobile version"
#### Describe the bug

In the BO > Module Manager page > When we enable Mobile for the ps_categorytree mobile, it is still not displayed
![image](https://user-images.githubusercontent.com/16067358/91420190-9735be00-e854-11ea-97b2-c4be7d5992a7.png)

In the FO => It is not displayed
![image](https://user-images.githubusercontent.com/16067358/91420315-d106c480-e854-11ea-8f71-07bec1c198d7.png)

#### S

[2020-08-27 09:05] khouloudbelguith commented on #20747
Ping @PrestaShop/prestashop-product-team is this the normal behavior or a bug?

Thanks!

[2020-08-27 09:14] marionf commented on #20747
It seems to be a bug if you enabled the module for mobile and if it's not displayed in FO
Did you check if the module is well hooked ?

[2020-08-27 09:28] sarahdib commented on #20745
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer : https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understand

[2020-08-27 09:28] #20745 closed, assigned to nobody

[2020-08-27 09:38] khouloudbelguith opened #20748 "FO - ps_customersignin / ps_maimenu / ps_imageslider/ ps_featuredproducts/ ps_banner / ps_customtext / blockreassurance modules - On reset, modules are hooked in the wrong place"
#### Describe the bug

If you reset the module or if you uninstall the module, clone the module from GitHub and install it, then on FO, the slider is hooked on the wrong display.

Checked with `ps_imageslider` module, `ps_featuredproducts` module, `ps_customtext` module, `Banner` module, `ps_emailsubscription` module, `ps_socialfollow` module, `ps_categorytree` Module, `productcomments` Module, `p

[2020-08-27 09:40] khouloudbelguith commented on #20748
Related to https://github.com/PrestaShop/PrestaShop/issues/16968

[2020-08-27 09:54] smithikakart commented on #20746
Anyway to find where it comes from asc/ or desc/ ?

[2020-08-27 09:57] matks commented on #9721
This bug was found again by @sarahdib this morning. We explored it a bit to better understand what's going on.

Basically there is no processing of the response returned by Addons when merchant provides his login and password. Whatever Addons answers ("yes you're connected !" or "no it's bad login/password") the code does not care.

However later in the code there is an issue if the answer from Ad

[2020-08-27 09:58] LouiseBonnard commented on #20691
I agree with @Hlavtox, all groups should be ticked by default. I've made a brief search and it seems to be the only page where it is forgotten along with the customer creation form in the Customers section of the back office but the use case is not the same so here is my recommendation:

1. tick by default **all customers groups in the Catalog > Categories > Add new category page**
2. tick by defa

[2020-08-27 10:12] Alexanderlaiho commented on #17468
Estimado, podrias darme tu correo ? @AlexisFAR

Yo tengo 1.7.--

[2020-08-27 12:03] bertoferrero opened #20750 "SQLManagement - It cannot be added any sql with joins"
#### Describe the bug

If you try to add any query with joins into the SQLManagement (AdminRequestSql), it is always rejected. The error is detected at the RequestSql::returnNameTable function, it is not properly using the $table['alias']['no_quotes'] content

#### Expected behavior

If the query is secure, it must be added

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Backe

[2020-08-27 12:24] NeOMakinG commented on #20354
Wouldn't be doing an svg sprite way better ?

Having a folder in your theme with every svgs, processing it using webpack or gulp in order to sort a smarty file which include the sprite, included at the top of you'r body, and then use a file with a parameter in order to do something like :

[code]

You would benefit the use of multiple svgs rendered only one time by the browser, and you could do mu

[2020-08-27 12:25] drc0 commented on #12669
@Nutripure we are facing asimilar issue, we are using braintree module https://addons.prestashop.com/it/pagamento-carta-credito-wallet/46833-ufficiale-di-braintree.html and mailchimp module, in the error logs I see an error " PaymentModule::validateOrder - Secure key does not match " but on braintree the transaction has been settlet, on prestashop the order was never market as completed, also I on

[2020-08-27 12:30] ngodefroy opened #20752 "[ADVANCED PARAM][MULTISTORE] Add new shop same name disables "add a new shop group" & "add a new shop" buttons"
#### Describe the bug

In Multistore, under shop group, I created a new shop group that has the same name as another one.
When I try to save, I get an error message=> OK
After I get the error message, the buttons "Add a new shop group" & "Add a new shop" from disappears - I still have the only the old "have a shop group" one.
After refreshing, the buttons comes back.

#### Expected behavior

The t

[2020-08-27 12:31] ngodefroy commented on #20752
@marionf  pourrais-tu rajouter cette issue à l EPIC? https://github.com/PrestaShop/PrestaShop/issues/19304

[2020-08-27 12:39] tomablan commented on #20354
@NeOMakinG I completly get your idea here, but if, for a unknown reason, a theme developer just want to insert 1 svg file, he must run some tools to do it, instead of having 1 php / smarty variable to do the inclusion and run 1 php function.

Sorry Valentin, I think you're not solving the problem here, just proposing another way to work with svg files (which is good for some cases! Even if I don't

[2020-08-27 12:45] ngodefroy opened #20753 "[MULTISTORE] Pagination for shop disappears if you switch to page 2"
#### Describe the bug

After adding numerous shops in order to get pagination, Go into your list of shops lists and go to page 2.
The pagination disappears, you cant go back to page one.

#### Expected behavior

pagination should remain when switching pages

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create numerous shops (to get pagination) then Go to your shops lists
2. Click

[2020-08-27 12:46] marionf commented on #20752
@ngodefroy
As this page isn't in the scope of the 1.7.8 multistore revamp, I rather added it to the migration issue
I don't think we need a dev point of you on it, I removed the label

[2020-08-27 12:47] ngodefroy commented on #20753
@marionf could you add this to the epic?
https://github.com/PrestaShop/PrestaShop/issues/19304
Thank you :)

[2020-08-27 12:50] marionf commented on #20753
@ngodefroy
As this page isn't in the scope of the 1.7.8 multistore revamp, I rather added it to the migration issue

[2020-08-27 13:14] matks commented on #19293
Hi @jonasburneika it seems this issue is going nowhere so I close it. Feel free to tell us if you got some new items and we might reopen it 😉

[2020-08-27 13:14] #19293 closed, assigned to nobody

[2020-08-27 13:17] khouloudbelguith opened #20754 "BO - Theme & Logo page - Pages Configuration - the Upgrade button is not displayed"
#### Describe the bug

In the BO > Design > Theme & Logo page - Pages Configuration page, the Upgrade button is not displayed
![image](https://user-images.githubusercontent.com/16067358/91446656-02dd5280-e878-11ea-9a56-966b1e4a878b.png)

![image](https://user-images.githubusercontent.com/16067358/91446693-1092d800-e878-11ea-8fa8-eb2dab501df2.png)

#### Steps to Reproduce

Steps to reproduce the be

[2020-08-27 13:17] khouloudbelguith commented on #20754
Ping @PrestaShop/prestashop-product-team

[2020-08-27 13:28] khouloudbelguith commented on #18893
Thanks a lot, @atomiix :wink:

[2020-08-27 13:28] #18893 closed, assigned to atomiix

[2020-08-27 13:33] marionf commented on #20754
@Darmona Do you know if it's the wanted behavior or if it was forgotten ?

[2020-08-27 13:42] ngodefroy opened #20756 "[MULTISTORE][FILTER] filtering shops on URL not working on first try"
#### Describe the bug

In the list of shops, I add a url on a shop name.
Then, I filter on the shop main in the url box ex "/nameoftheurl/"

#### Expected behavior

Being able to filter by URL

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to multistore
2. go to your list of shops
2. Edit a shop URL under "Physical URL"
3. Search for this shop url using the name you added in the

[2020-08-27 13:50] consule commented on #17594
Works Fine!!!!

[2020-08-27 14:11] matks opened #26103 "In French, the Module Configuration page has bad text overlap with icon"
#### Describe the bug

GoogleAnalytics configuration page has bad text overlap with icon (in French or any other language when the text is too long)

#### Expected behavior

No overlapping

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO > Modules > Module Manager
2. Click on **Configure** button of Google Analytics
3. See error => if the text is long, it will overlap the photo

*

[2020-08-27 14:45] khouloudbelguith commented on #20747
Hi @marionf,

It is enabled for mobile, it is well displayed with the desktop but with a mobile No.
I attached a screen record
https://drive.google.com/file/d/1hzKROZBUSXARJyizMdFw11ez_o3ZIkyg/view?usp=sharing
![image](https://user-images.githubusercontent.com/16067358/91457474-acc2dc00-e884-11ea-874e-1a2cc61df3d9.png)

Thanks!

[2020-08-27 15:17] marionf commented on #20747
Well, so it's a bug !

[2020-08-27 15:30] #19302 closed, assigned to matthieu-rolland

[2020-08-27 15:56] fkomaralp opened #20761 "Prestashop 1.7.6.x cannot remove override classes on module uninstall"
#### Describe the bug

Overrides not removing on module uninstall.

#### Expected behavior

I don't understand.

#### Steps to Reproduce
Hi,
I want to create a new Prestashop State,District,Neighborhood module. And I did it finally. But i have a problem on module uninstall.
I'm overriding some classes and controllers. Like AddressCore, AddressFormatCore, CustomerCore and StateCore. Plugin works pe

[2020-08-27 16:13] guigplt opened #20762 "wget command on back office"
#### Describe the bug

I try to connect to Prestashop backoffice with wget command :
wget --save-cookies /var/www/xxxxxxxx/cookies.txt --keep-session-cookies --post-data 'email=xxxxxxxx&passwd=xxxxxxxx' https://xxxxxxxx.com/admin/ -O /dev/null

In order to export csv file of sql request in back office with this command :
wget --load-cookies /var/www/xxxxxxxx/cookies.txt 'https://xxxxxxxx.com/admin

[2020-08-27 16:16] fkomaralp commented on #20761
I have experienced this now: If I remove between the **curly braces** codes in my override/classes/Address.php and override/classes/State.php; module uninstalled successfully.

[2020-08-27 16:20] LouiseBonnard commented on #19527
As discussed with @prestascott, let's keep the two options proposition in the settings panel, cf. the screenshot below:

![Capture d’écran 2020-08-27 à 18 17 32](https://user-images.githubusercontent.com/32565890/91468096-c74f8200-e891-11ea-9584-cc973f77e6e0.png)

1. Export this page = export only the items displayed on the page
2. Export all pages = export all the items the listing contains

No

[2020-08-27 16:30] LouiseBonnard opened #20763 "[EPIC] - Tables improvements"
User interviews lead by the end of last year pointed out the tables management in PrestaShop and one of the insights raised was that a lot of users wanted to better configure their columns: hiding some, adding others, etc. Improving the handling of tables will definitely be a good thing for PrestaShop so let's list here all bugs or improvements issues:

## OPTIONS

## DISPLAY
- [ ] #14018 - Improv

[2020-08-27 20:28] matks opened #26102 "Documentation: provide a documentation about how this module work and what data is sent to GA"
#### Is your feature request related to a problem?
In order to be able to provide accurate and extended configuration capabilities / data synchronization between PS and GA, it would be useful to provide a documentation about how this module work and what data is sent to GA.

#### Describe the solution you'd like
The doc should explain the inner working of the module.
The doc should explain what da

[2020-08-27 23:10] fkomaralp commented on #20761
After some hours later...
Ok, after some fun. I discovered something. Looks like PrestaShop's Module.php `removeOverride()` function doesn't supports static, protected etc. variables with the given value. If I setup the static variables and protected variables on the class `__construct()` what gonna happend?
I'm installed fresh PrestaShop 1.7.6.5 on my localhost and generated a demo module from ht

[2020-08-28 01:55] fahdbadan commented on #19994
[+] checking dependencies... traceback (most recent call last): file "./seeker.py" line 32 in import requests modulenotfounderror: no module named 'requests'🥴🥴🙄

[2020-08-28 06:18] Max84 commented on #20731
@PierreRambaud made a feedback onto my PR.
Maybe the issue isn't "product_supplier aren't filled", but the issue is "id_supplier and supplier_reference should be removed from product's object".
Maybe Pierre can give his point of view.
If Prestashop's team goal is to fully manage suppliers, maybe id_supplier and supplier reference into product's object are depreceated.
If not, i think my PR is OK.

[2020-08-28 07:45] iidaloiki opened #20764 "Weird hook behavior "hookActionProductAdd", need improvements"
See @jolelievre amazing summary below https://github.com/PrestaShop/PrestaShop/issues/20764#issuecomment-682521026

<hr>

#### Describe the bug

I'm trying to register hook actionProductAdd. In BO it shows that my module is transplanted in hook, but when I create a product, it does not trigger.

#### Expected behavior

When I create a product, I should get a log that says 'hookActionProductAdd()'

[2020-08-28 07:46] Pitt1823 commented on #19935
I think superskyman100 hasn’t made his point very clearly.
I too find this to be a bug of PrestShop.

The problem is that when someone creates a new cart rule, by default, without ticking the compatibility check box, all the cart rules you have previously created are compatible with this new cart rule you are setting up.
So every time you create a new cart rule you have to manually check the compa

[2020-08-28 07:49] iibs commented on #20443
Note - pull request mentioned before does not fix this issue, since products are searched in AdminProductsController.php, method displayAjaxProductsList(). I altered the queries for my own needs, but it needs more testing.

[2020-08-28 07:58] khouloudbelguith commented on #20761
Hi @fkomaralp,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13352
So, I close it.
Thanks!

[2020-08-28 07:58] #20761 closed, assigned to nobody

[2020-08-28 07:58] khouloudbelguith commented on #20761
Duplicate of #13352

[2020-08-28 08:11] khouloudbelguith commented on #20762
Hi @guigplt,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-08-28 08:16] mrsuchy commented on #10356
What is the situation with WebP?

[2020-08-28 08:18] jordiweblidera commented on #20728
Hello,

You have not clicked on the "view invoice" button, but directly on the link to the invoice number. If you click on the "view invoice" button, it will generate two invoices.

If you look at the pdf you have generated, the payment method does not appear, as the bug assigns it to invoice number 0.

Regards,
Jordi

[2020-08-28 08:19] jordiweblidera commented on #20728
Hello @sarahdib,

You have not clicked on the "view invoice" button, but directly on the link to the invoice number. If you click on the "view invoice" button, it will generate two invoices.

If you look at the pdf you have generated, the payment method does not appear, as the bug assigns it to invoice number 0.

Regards,
Jordi

[2020-08-28 08:30] ngodefroy commented on #20667
TEST OK https://drive.google.com/file/d/1fFdnDpeePboZloh2ghTyzvzMYhydqkfV/view

[2020-08-28 08:46] ngodefroy commented on #20640
TEST OK https://drive.google.com/file/d/1tZcsfNvcxtNebRH76ssMiNn9AH8hdZAi/view

[2020-08-28 09:20] khouloudbelguith commented on #20764
Hi @iibs,

I tried with [ps_featuredproduct](https://github.com/PrestaShop/ps_featuredproducts) module
![image](https://user-images.githubusercontent.com/16067358/91544437-0b896380-e920-11ea-8153-e2b588e3a4db.png)
I tried to edit this [line](https://github.com/PrestaShop/ps_featuredproducts/blob/master/ps_featuredproducts.php#L95)
**From**
`$this->_clearCache('*');`
**To**
`$this->_clearCache('*')

[2020-08-28 09:22] khouloudbelguith commented on #20730
Hi @mark-alexandre,

Thanks!
Waiting for your feedback.

[2020-08-28 09:23] Matt75 commented on #14039
Bump, we still receive issues about cache issue due to merchant not aware about doing module upgrade in production should be done in maintenance mode to avoid concomitant cache access...

@PrestaShop/prestashop-product-team Please ensure this will be handled in 1.7.8
This cause issue with many modules ! Not only ps_mbo but modules from Addons too.

[2020-08-28 09:31] iibs commented on #20764
I managed to get same error. I also tried to remove ; from my log, and then create product page crashed even before it rendered. However, I can't still get my log to show.

I also tried renaming my hook to hookAddProduct(), like in ps_featuredproduct, and replanting the module into hook, but it still does not log.

[2020-08-28 09:32] matks commented on #20640
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20729

[2020-08-28 09:32] #20640 closed, assigned to NeOMakinG

[2020-08-28 09:34] #20722 closed, assigned to nobody

[2020-08-28 09:47] khouloudbelguith commented on #20764
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-08-28 09:55] khouloudbelguith commented on #20750
Hi @prestaquality,

I did not manage to reproduce the issue with PS1.7.6.7.
I tried with this SQL query
`select  ps_orders. id_order,  ps_customer. firstname from ps_orders INNER JOIN ps_customer  ON ps_orders.id_customer=ps_customer. id_customer`
It is OK
I attached a screen record
https://drive.google.com/file/d/1VvnoR-UlG56qI5WtgPV9hPFMUl9RBzXU/view?usp=sharing
Thanks to check and feedback.

[2020-08-28 09:57] khouloudbelguith commented on #20746
Hi @smithikakart,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-08-28 09:58] khouloudbelguith commented on #16143
Hi @jungwirbtgut,

This issue is currently closed, can you open a new one with more information about your configuration.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you!

[2020-08-28 10:00] khouloudbelguith commented on #12231
Hi @LocalHeroPro,

Try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Try to use an incognito browser.
It is a cache issue.

Thanks!

[2020-08-28 10:05] prestascott commented on #20631
Hi everyone,

Thank you @khouloudbelguith for your report!

It looks good to me but like @NeOMakinG said, users won't see columns until they scroll.
Maybe we can set a max-width for each column so users won't have to scroll too much to see columns?

Wdyt?

[2020-08-28 10:13] #20667 closed, assigned to atomiix

[2020-08-28 10:25] madsoliver opened #20765 "Stock Movement type - custom"
When working with integrations, I often get product quantity from the external systems, then set the quantity in PS accordingly with `StockAvailable::setQuantity($id_product, $id_product_attribute, $quantity, $id_shop = null, $add_movement = true);`

Such a movement would be marked with movement type "Employee".

I suggest that there should be another parameter in the method: `$movement_type`, and

[2020-08-28 11:05] alissimo opened #20766 "Register a customer through webservice: login authentication fails (password problem) 1.7.6.5"
Hi,
I have prestashop 1.7.6.5 (ubuntu 20.04 with php 7.2.33)
I activated webservice and I can create correctly a customer with a php script following the example in the 1.7 docs
The problem is that the login for this created user doesnt work: 'authentication failed' is the message.
If i reset the password through the apposite web procedure login works.
If i create a customer directly from the webs

[2020-08-28 11:07] khouloudbelguith commented on #20765
Hi @onklmaps,

Thanks for your report.
Pinh @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-08-28 11:35] khouloudbelguith commented on #20766
Hi @alissimo,

Thanks to check with this [solution](https://github.com/PrestaShop/PrestaShop/issues/16935#issuecomment-569725322), check and feedback.

Thanks!

[2020-08-28 11:54] alissimo commented on #20766
Hi, this link is for make external login with webservice... My problem instead is that traditional login (from the standard login form of my prestashop website) for the users created with the webservice doesnt work....

[2020-08-28 12:16] Alcpaone opened #20767 "Module Dashproducts PHP 7.Warning"
<!--

Error message in Server Log:
[php7:warn] PHP Warning:  Invalid argument supplied for foreach() in /XXXXXX/prestashop/modules/dashproducts/dashproducts.php on line 219

#### Describe the bug

PHP Warnings in Server Logfile

#### Expected behavior

No Warnings in PHP Log.

#### Steps to Reproduce

PS 1.7.6.5
no special action needed

#### Additional information

* PrestaShop version: 1.7.6.5
*

[2020-08-28 12:17] Alcpaone opened #20768 "Module Dashproducts PHP 7.2 Warning in Server Log"
<!--

Error message in Server Log:
[php7:warn] PHP Warning:  Invalid argument supplied for foreach() in /XXXXXX/prestashop/modules/dashproducts/dashproducts.php on line 219

#### Describe the bug

PHP Warnings in Server Logfile

#### Expected behavior

No Warnings in PHP Log.

#### Steps to Reproduce

PS 1.7.6.5
no special action needed

#### Additional information

* PrestaShop version: 1.7.6.5
*

[2020-08-28 12:36] khouloudbelguith commented on #20768
Hi @Alcpaone,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gl

[2020-08-28 12:36] #20768 closed, assigned to nobody

[2020-08-28 12:37] khouloudbelguith commented on #20767
Hi @Alcpaone,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gl

[2020-08-28 12:37] #20767 closed, assigned to nobody

[2020-08-28 12:38] ngodefroy opened #20769 "[BO] [ORDERS] Trying to add 2x out of stock with allow order gets error message"
#### Describe the bug

In the BO => Orders page => New Order page =>  when we try to add an out of stock product 2x, we get an error message "failed to update quantity in cart"

#### Expected behavior

When out of stock allow orders is set, we should always be able to put orders.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Products page
2. Add a product wi

[2020-08-28 12:53] jolelievre commented on #20764
Hi @iibs

I tried this hook with the https://github.com/PrestaShop/ps_qualityassurance module, and indeed I don't see the `actionProductAdd` triggered, it does work with `actionProductUpdate` however.

I made some digging into this turns out `actionProductAdd` is not a generic hook used by all ObjectModels, it's a custom one and the only places I was able to find it were when we duplicate a produc

[2020-08-28 12:54] jolelievre commented on #20764
By the way I forgot to mention when you duplicate the product (there's a button in the product page), you do see the log :)

[2020-08-28 12:59] LouiseBonnard commented on #14692
Hi @khouloudbelguith, you wrote in your last comment that there was no error, should I close this issue?

[2020-08-28 13:03] LouiseBonnard commented on #14536
Hi @PrestaShark, has the migration of the page fixed the issue?

[2020-08-28 13:10] matks commented on #19935
The tone if this issue is quite heated,

[2020-08-28 13:11] matks commented on #19935
The tone of the comments on this issue is quite heated, please remember we have a Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md that says
- Using welcoming and inclusive language
- Being respectful of differing viewpoints and experiences
- Gracefully accepting constructive criticism
- Focusing on what is best for the community
- Showing empathy towards ot

[2020-08-28 13:11] Alcpaone commented on #20768
Sorry, I don't know why it was empty after saving...

Here again:

Warning Message in Server Log:

[php7:warn] PHP Warning:  Invalid argument supplied for foreach() in /XXXXXX/prestashop/modules/dashproducts/dashproducts.php on line 219

We use PHP 7.2
PS 1.7.6.5

[2020-08-28 13:12] Alcpaone commented on #20768
Modul Dashproducts

[2020-08-28 13:18] Alcpaone opened #20770 "Module Dashproducts PHP 7.2 Warning in Server Log"
[php7:warn] PHP Warning:  Invalid argument supplied for foreach() in /XXXXXX/prestashop/modules/dashproducts/dashproducts.php on line 219

#### Describe the bug

Warning in Serverlog.

#### Expected behavior
No Warning in the Serverlog.

#### Steps to Reproduce

Nothing special known.

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.2

[2020-08-28 13:40] andredotsilva opened #20771 "Payment Module with 2 payment options"
I'm developing a payment module that will provide in one module , two payment options.
Can anyone guide me to develop that feature.

one of them as been implemented , but i need to implement the second one, and put all the functions in a include file, and in hookPaymentOptions() method, call it and make work.

Thanks fot the help

[2020-08-28 13:41] #16477 closed, assigned to PierreRambaud

[2020-08-28 13:46] marionf commented on #20769
@ngodefroy is it a regression compared to 1.7.6.7 ?

[2020-08-28 13:59] ngodefroy commented on #20687
TEST OK
I didn't get any error in console while clicking on "send an email to the customer'
![Capture d’écran 2020-08-28 à 15 58 02](https://user-images.githubusercontent.com/69145330/91573985-55397480-e947-11ea-9d2e-7f47476db0dd.png)

[2020-08-28 14:01] khouloudbelguith commented on #20770
Hi @Alcpaone,

I did not manage to reproduce the issue with PS1.7.6.7.
I used PHP 7.2.22
I attached a screen record
https://drive.google.com/file/d/1qIgtg8z7rt8iPD9A0nYVLmuV4syvYw2y/view?usp=sharing
In the Prestashop_folder/var/logs/ there is no error about  `dashproducts` module.
Thanks to check and feedback.

[2020-08-28 14:02] guirou62 opened #20772 "Chronology problem with actionOrderStatusPostUpdate"
#### Describe the bug

I created a module to automatically change some order states to others. I used actionOrderStatusPostUpdate to apply a new State after the initial change but when I look the order status history, the chronologic change is not the good one.

#### Expected behavior

The chronologic change is not the good one : I want the ID 1 became ID 17 but I have 17 became ID 1

#### Steps t

[2020-08-28 14:04] matks commented on #20771
I think everything is explained here https://devdocs.prestashop.com/1.7/modules/payment/

and with this example https://github.com/PrestaShop/paymentexample => https://github.com/PrestaShop/paymentexample/pull/14

[2020-08-28 14:04] #20771 closed, assigned to nobody

[2020-08-28 14:09] andredotsilva commented on #20771
@matks thanks
I'm using this exemple, but my issue is, i need to put all the payment process in other file, in a include folder... and i'm having touble with the call method

[2020-08-28 14:11] khouloudbelguith commented on #20769
Hi @marionf, @ngodefroy,

I manage to reproduce the issue with PS1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/91577448-fc6adb80-e948-11ea-9ad5-4d34df5927a0.png)
It is ok with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/91577485-0db3e800-e949-11ea-9f30-4146ba681cfb.png)

Related to: https://github.com/PrestaShop/PrestaShop/pull/18208

Thanks!

[2020-08-28 14:19] khouloudbelguith commented on #20772
Hi @guirou62,

Thanks for your report.
When I tried with PS1767, I have the same issue
![image](https://user-images.githubusercontent.com/16067358/91578237-2ffa3580-e94a-11ea-9a2c-a4ae4b8d297b.png)
When I tried with 177x branch, I have this error
![image](https://user-images.githubusercontent.com/16067358/91578316-44d6c900-e94a-11ea-9826-8ebb003f0a98.png)

Thanks to check and feedback.

[2020-08-28 14:23] khouloudbelguith commented on #20752
I manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/91578651-c29ad480-e94a-11ea-88a3-e37aa9839966.png)

Thanks!

[2020-08-28 14:24] guirou62 commented on #20772
Hi @khouloudbelguith ,

You're welcome :)

Oh really, I tried on Prestashop 1.7.7.0 and I didn't have this issue but I can understand from where comes this problem only.
For the initial issue, I'll be really interested if you find a way to solve that :)

[2020-08-28 14:26] khouloudbelguith commented on #20772
@guirou62,

Is it a module issue?

Thanks!

[2020-08-28 14:30] khouloudbelguith commented on #20726
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-08-28 14:42] ajejebrazorf01 commented on #20252
😴💤

[2020-08-28 14:47] khouloudbelguith commented on #14692
Hi @LouiseBonnard, In this [comment](https://github.com/PrestaShop/PrestaShop/issues/14692#issuecomment-512385530), I managed to reproduce the issue **only** `from PS1.6 to PS1.7.5.2.`
I tried again with the 1-click upgrade v4.10.1 from PS1.6 to PS1.7.6.7 => ok.

Thanks!

[2020-08-28 14:49] matks commented on #20252
@ajejebrazorf01 Hi, this github repository has a Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md which mentions
- Using welcoming and inclusive language
- Being respectful of differing viewpoints and experiences
- Gracefully accepting constructive criticism
- Focusing on what is best for the community
- Showing empathy towards other community members

Pleas

[2020-08-28 14:51] matks commented on #20671
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20684

[2020-08-28 14:51] #20671 closed, assigned to atomiix

[2020-08-28 14:55] khouloudbelguith commented on #20753
Hi @ngodefroy,

I did not manage to reproduce the issue with 1767 and 177x branch.
It is ok on my side.
![image](https://user-images.githubusercontent.com/16067358/91581847-4ce53780-e94f-11ea-9495-3de5feb06267.png)

I attached a screen record
https://drive.google.com/file/d/1aUkLbMPgbACBGt9IdqqJCz5KmRubLOga/view?usp=sharing
Thanks to check and feedback.

[2020-08-28 15:02] khouloudbelguith opened #20777 "BO - Features page - an exception is displayed"
#### Describe the bug

In the BO > Catalog > Features page, an exception is displayed after some specific steps.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Features page
2. Create a feature
3. View feature
4. Create values
5. Update feature
6. View updated feature
7. Update 1 value
8. Filter Feature by name => NOK

Other steps to reproduce the issue

1. Cre

[2020-08-28 15:03] khouloudbelguith commented on #20777
Ping @PrestaShop/qa-automation

[2020-08-28 15:08] khouloudbelguith opened #20778 "BO - Orders page - Multi-invoice issue - Discount is applied in all invoices"
#### Describe the bug

In the BO > Order details page, when we have a multi-invoices, adding a discount to a selected invoice, it will be applied in all invoices.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You have already an order with multi-invoices (Product1 => IN0007) and (Product2 => IN0008)
2. Add a discount 100% for IN0007 =100%
3. The discount is applied in all invoices

[2020-08-28 15:08] khouloudbelguith commented on #20778
Ping @jolelievre should be fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/20776 is it?

Thanks!

[2020-08-28 15:12] guirou62 commented on #20772
I thought it should be a compatibility problem but I saw no changes ... so strange ...

[2020-08-28 15:13] ngodefroy commented on #20753
Just tested it again, it now works fine for me !
See: https://drive.google.com/file/d/1FFrl07kp36wLEOvUgxFMvfJjNMKKkL4h/view
Thus, I close the issue.
Thank you :)

[2020-08-28 15:13] #20753 closed, assigned to nobody

[2020-08-28 15:14] PierreRambaud commented on #20762
Could you give us more information? What errors do you get?

[2020-08-28 15:16] jolelievre commented on #20778
@khouloudbelguith yep exactly :)

[2020-08-28 15:20] mtheinmix opened #20779 "Add pagination of subcategories, on the category page"
If there are many subcategories on the category page (1000+), this loads the page heavily

Suggestion adding pagination of subcategories as done with products

For example, make it possible to select the number of displayed subcategories on the category page.
For example: 50 subcategories on 1 page, 50 more on the second page, etc. (Pagination of subcategories as with products, only with subcatego

[2020-08-28 15:24] khouloudbelguith commented on #20756
Hi @ngodefroy,

I did not manage to reproduce the issue with PS1.7.6.7 and 177x branch.
I attached a screen record
https://drive.google.com/file/d/1NPL9Owv82qIa26aDl-AkgOwLIbVIPfMj/view?usp=sharing
Thanks to check and feedback.

[2020-08-28 15:43] khouloudbelguith commented on #20779
Hi @Sinepel,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-08-28 15:47] khouloudbelguith commented on #20772
@guirou62, thanks for your feedback.
As written in the [doc](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)
[code]

But in this case, the status is wrong
![image](https://user-images.githubusercontent.com/16067358/91586953-65a51b80-e956-11ea-95ce-f66d5f4f4753.png)

Ping @PrestaShop/prestashop-core-developers thanks to correct me if I'm wrong, Thanks!

[2020-08-28 15:52] #20010 closed, assigned to matthieu-rolland, jolelievre

[2020-08-28 15:52] #19490 closed, assigned to matthieu-rolland, sowbiba, jolelievre

[2020-08-28 15:52] #18237 closed, assigned to nobody

[2020-08-28 15:52] #20161 closed, assigned to matthieu-rolland

[2020-08-28 15:52] #20533 closed, assigned to nobody

[2020-08-28 15:52] #20542 closed, assigned to matthieu-rolland

[2020-08-28 16:03] khouloudbelguith commented on #20766
@alissimo, I did not manage to reproduce the issue with PS1.7.6.7.
I used this script
[code]
Thanks to check if your customer is enabled
If not, you need to add the `<active>1</active>`

Thanks to check and feedback.

[2020-08-28 16:34] guigplt commented on #20762
Hi,
I don't have error, just 302 response when executing the first wget command : redirected to /admin/index.php?controller=AdminLogin&token=bc481a3ebe97be186d8430c227465fe5

And when executing the second wget commande : redirected to /admin/index.php/security/compromised?uri=https%253A%252F%252Fxxxxxxxxxx.com%252Fadmin0%252Findex.php%252Fconfigure%252Fadvanced%252Fsql-requests%252F1%252Fexport&_t

[2020-08-28 16:43] SimonGrn commented on #20766
hello @alissimo,
please think about using the template and not deleting everything when you submit an issue.

Thanks in advance.

[2020-08-28 17:22] mlemanczyk opened #20780 "Wrong product special prices in multistore setup"
## Describe the bug
In multistore setup, it's very tricky for me to get the final price for a product in a given store. Product->getFinalPrice() doesn't respect the shop ID the product was loaded with. It provides a value calculated based on special price defined for another shop.

When executed in a context of the website, Product::getPriceStatic() always requires cart ID, yet still provides wron

[2020-08-28 17:27] mlemanczyk commented on #20779
This is very much needed in the admin. In our store it takes anywhere up to **30 minutes(!) or more** to load the product page. As you can imagine, it's a real challenge to work with the products using PrestaShop admin.

You may also want to check loading of product feature values. One of our features has as many entries as many products we have.

[2020-08-28 17:59] mlemanczyk commented on #20726
Hello,

We have similar issue in our multistore setup. Some of our features have 40k values. It takes forever to load the product page, making it very hard to manage. I was looking for opening an improvement item and started measuring. The stoper already passed 20 mins and the product page is still loading.

Will update the response after it's over.

[2020-08-28 18:57] alissimo commented on #20766
sorry... you're right

[2020-08-28 18:58] alissimo commented on #20766
yes, tried... even if i add active ... is the same...
The problem is how webservice stores the password... seems different from how normal registration stores it...

[2020-08-28 21:11] prestaforum commented on #18647
Hi, is there any progress on this test phase ? I am waiting to test it for a customer. Please provide some updates ;)

[2020-08-29 07:29] rahul2cool82 opened #20781 "Not installing"
Hello, rahul this side and I am getting an error while installing this module , can you please instruct me how to install this module on prestashop 1.7.6.3.
Thank you

[2020-08-29 10:44] alissimo commented on #20766
Found the issue!
The documentation here is wrong: the correct field is not 'password' but 'passwd'
https://devdocs.prestashop.com/1.7/webservice/tutorials/prestashop-webservice-lib/create-resource/

[2020-08-29 11:27] mmursalov opened #20782 "413 Request Entity Too large - when editing e-mail templates"
#### Describe the bug

Every time I  try to modify E-Mail templates and still getting the following error message every time I try to save it: 413 Request Entity Too large

I have reached out to the hosting and they have increased all the limits in php.ini and .htaccess but the issue is still there. They are telling me to raise it with Prestashop support team. What else needs to be done, as I am c

[2020-08-29 12:05] theodiablo opened #20783 "Docker-Compose error on Windows"
#### Describe the bug
I just made a clone of this current repository develop branch and run `docker-compose up` command on Windows 10 Pro (x64)

When I run the command, it fails very quickly returning this log:

[code]

#### Expected behavior

It should build and install Prestashop properly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Git clone the current repository on Windows

[2020-08-29 12:07] theodiablo commented on #20783
I have just seen that it seems to be a duplicate of this: https://github.com/PrestaShop/PrestaShop/issues/17479

I am having the exact same error than the original post.

[2020-08-29 15:34] theodiablo commented on #17479
@Dayniight did you find  a way to overcome this in the end? How did you do?

Thanks :-)

[2020-08-29 18:05] fkomaralp opened #20784 "A little suggestion for some overridable classes"
#### Is your feature request related to a problem?

I was creating a module. My module needs some overrides. So I want to override some classes.
Let's talk about `classes/form/CustomerAddressFormatter.php` class. This class members are declared private. Thats my problem.

[code]

#### Describe the solution you'd like

If I want to override to a function or variable, I need to copy all of members f

[2020-08-29 19:01] #20766 closed, assigned to nobody

[2020-08-29 22:23] klinki-m opened #20785 "product combinations do not work"
Hi All,

recently I wanted to make some changes in the details of product combinations.
1. The details side does not show up.
2. I realiszed that multiple radio buttons can be choosen for the default view
3. when I try to delete a product combination it ends up in a http 405 error
4. it is still possible to generate a new product combination though (positive)
5. when I create a new product and cli

[2020-08-30 05:47] bogdanbeniaminb commented on #10360
#9525 has been fixed in 1.7.5, but this issue hasn't (as of 1.7.6.7). I don't think it's a duplicate of #9525 - it isn't similar. The issue is pretty big for people who use code formatters.

[2020-08-30 10:50] loetje88 commented on #10198
Still same problem on 1.7.5.

No error or anything, combinations simply will not disappear when deleting them.

[2020-08-30 10:51] SimonGrn commented on #20781
Dear @rahul2cool82
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-08-30 10:51] #20781 closed, assigned to nobody

[2020-08-30 10:52] SimonGrn commented on #20783
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17479.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2020-08-30 10:52] #20783 closed, assigned to nobody

[2020-08-30 10:52] SimonGrn commented on #20783
Duplicate of #17479

[2020-08-30 10:56] loetje88 opened #20786 "Problem not solved - Deleting product combinations"
Hi @SebastienLi,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

_Originally posted by @khouloudbelguith in https://github.com/PrestaShop/PrestaShop/issues/10198#issuecomment-417227503_

[2020-08-30 10:56] loetje88 commented on #20786
Still same problem on 1.7.5.

No error or anything, combinations simply will not disappear when deleting them.

Force compilation is on, cache is off, cleared cache manually many times, edit the code to .htacces file - nothing works.

Save buttons becomes grey as well while processing until i do a refresh of the page (does not finish processing as well) but eventually wont delete any combinations.

[2020-08-30 12:02] loetje88 opened #20787 "Price rounding does not work"
After all updates, and many, many topics, problem for price rounding is still not solved.

So far, googled a lot of forums on PS, but no solution.

—— > Tried this fix :

Change the file “classes/Tools.php” and find the “public static function ps_round($value, $precision = 0, $round_mode = null)”

Add the following line:

if($precision == 0){ $precision = 2; } //Or any other number you want

<——–

[2020-08-30 12:25] SimonGrn commented on #20766
Thank you @alissimo.
Ping @PrestaShop/prestashop-core-developers we may need to update the documentation ?

[2020-08-30 14:22] SimonGrn commented on #20787
@loetje88
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad

[2020-08-30 14:22] #20787 closed, assigned to nobody

[2020-08-30 14:25] SimonGrn commented on #20786
This is a new issue you created when answering an old issue.
Please use the correct template.

I close this one.

PS: if your issue is not reproduced on newer versions of PrestaShop, we will not be able to do anything for you except encouraging you to update your installation. Remember that you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Sl

[2020-08-30 14:25] #20786 closed, assigned to nobody

[2020-08-30 14:47] HartLarsson commented on #14967
PS 1.7.6.7
php 7.2
module 1.0.4

Works only on Classic Theme, for example with a very popular Warehouse i have the same problem both in Product of same Category then Viewed products.

[2020-08-30 15:16] HartLarsson commented on #15684
for me no debug errors, with PS 1.7.6.7 php 7.2 and latest modules.
But With Warehouse theme only the first product have the description an dthe price the other are blank:

![image](https://user-images.githubusercontent.com/16102074/91662716-87cca400-eae4-11ea-8eda-32e11bc656be.png)

[2020-08-30 15:29] loetje88 commented on #20786
And what template should that be?

Instead of closing actual tickets due to customer not using any "templates" , the team maybe should just focus on solving the problems?
This is a long excisting problem that is not solved.

[2020-08-30 16:23] SimonGrn commented on #20786
The "new issue" one.

Pleas remember you're talking to actual people and not robots dedicated to answer 24/7. I understand you're encountering an issue but this is not a valid reason to be rude.
When we ask people to follow the template it's not to be annoying, it's because it helps us work faster on your problems. We're a small team. You can learn more about why we're enforcing our own rules [her

[2020-08-30 16:23] SimonGrn commented on #20786
The "new issue" one.

Pleas remember you're talking to actual people and not robots dedicated to answer 24/7. I understand you're encountering an issue but this is not a valid reason to be rude.
When we ask people to follow the template it's not to be annoying, it's because it helps us work faster on your problems. We're a small team. You can learn more about why we're enforcing our own rules [her

[2020-08-30 16:26] SimonGrn commented on #20785
Hello @klinki-m,

I was not able to reproduce your issue in the latest version (1.7.6.7). I however found something very similar in [this ticket](https://github.com/PrestaShop/PrestaShop/issues/10198#issuecomment-459264788), that I encourage you to check.

Thank you for your understanding.

[2020-08-30 16:26] SimonGrn commented on #20785
Duplicate of #10198

[2020-08-30 16:26] #20785 closed, assigned to nobody

[2020-08-30 16:30] HartLarsson commented on #15310
I think is related to a non Classic default theme.
With Warehouse theme (also the latest 4.3.4 and latest modules ps_categoryproducts v 1.0.4 & ps_viewedproduct v1.2.1) the problem is the same if the Cache is enabled

[2020-08-30 21:17] fenzy15 opened #20788 "Error in spelling of Category .How do i change the spelling found in the vertical megamenu module or?"
We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

If you need help with your shop or third-party modules, please consider the PrestaShop Company support

[2020-08-30 21:34] fenzy15 commented on #20788
nevermind. i just saw the fix. thank you

[2020-08-30 22:47] domaingood commented on #20677
HI @ttoine
I disagree your statement.Important e-commerce websites like Amazon Apple Ebay has Invest billions of $ for marketing.They don't need SEO.I can show some Website they dont have any SEO tag But no 1 Because for their Marketing by PPC.
I also Tested both site like OpenCart and Prestashop Opencart will for SEO. But as a Performance  Prestashop win.

I can say try anyone and let me know.Eve

[2020-08-31 00:17] totoro0205 commented on #15369
Is This fixed?

[2020-08-31 07:37] runningz commented on #20447
Hi! PS 1.7.6.7 same problem. Any fix to apply?

[2020-08-31 07:38] runningz commented on #9599
Hi! PS 1.7.6.7 same problem. Any fix to apply?

[2020-08-31 07:39] #20674 closed, assigned to atomiix

[2020-08-31 07:48] PierreRambaud commented on #10356
It's still in todo, feel free to create a pull request to support it :)

[2020-08-31 08:18] #20784 closed, assigned to nobody

[2020-08-31 08:18] khouloudbelguith commented on #20784
Duplicate of #15396

[2020-08-31 08:21] SimonGrn commented on #20788
No problem, glad you found what you were looking for.

[2020-08-31 08:21] #20788 closed, assigned to nobody

[2020-08-31 08:26] khouloudbelguith commented on #20782
Hi @mmursalov,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record

[Translations • 1767.mp4.zip](https://github.com/PrestaShop/PrestaShop/files/5149177/Translations.1767.mp4.zip)

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more detai

[2020-08-31 08:30] khouloudbelguith commented on #20512
Hi @Macrisu,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-31 08:30] #20512 closed, assigned to nobody

[2020-08-31 08:39] PierreRambaud commented on #20762
This is because of the `_token` in the URL, which is not valid when you try to log in to your application.
You should create a first request to retrieve this data in order to create the request to be connected.

[2020-08-31 08:40] matks commented on #20612
The PR implementing this is doing a lot more than improving an error message.

[2020-08-31 08:56] iibs commented on #20764
Hi @jolelievre

This is what I want to achieve:
1. Create product pack
2. Add items into pack, additional info etc.
3. Save product
4. Trigger hook to count product pack quantity based on products included in pack

I have already hooked into `actionProductUpdate`, but that does not trigger when product is saved for the first time. That's why I tried to explore different add hooks.

When I try to t

[2020-08-31 09:20] Progi1984 commented on #15943
Fixed by #20738

[2020-08-31 09:21] khouloudbelguith commented on #9599
Hi @runningz,

Sorry, not fixed yet.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-08-31 09:21] #15943 closed, assigned to nobody

[2020-08-31 09:24] #20670 closed, assigned to NeOMakinG

[2020-08-31 09:24] Progi1984 commented on #20670
Fixed by #20714

[2020-08-31 09:51] khouloudbelguith commented on #20780
Hi @mlemanczyk,

Thanks for your report.

Could you please provide us the exact modification that you made in the `product.tpl` file.
A copy-paste of the file could help us to reproduce the issue.

Thanks!

[2020-08-31 09:59] matks commented on #18647
## Status update

The 1.7.7.0 Beta 2 build has been validated by QA team. The test campaign contained 414 manual tests, and
- 90% are successfull (373)
- 3% cannot be run in current context (blocked) (12)
- 7% are failing (29)

Since the 7% failing tests are blocking issues, we will be able to deliver the build publicly and open the second public beta period for 1.7.7.0.

[2020-08-31 10:07] Firefox86 commented on #15369
@totoro0205: As far as I know this "bug" is now in the top fix list (priority 3 ; see https://github.com/PrestaShop/PrestaShop/issues/13816). So we would have this "must have" feature in the next release...

[2020-08-31 10:09] khouloudbelguith commented on #15684
Hi @HartLarsson,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-08-31 10:13] SharmPRO opened #20790 "PHP Deprecated: strpos()"
#### Describe the bug
[31-Aug-2020 12:02:47 Europe/Rome] PHP Deprecated:  strpos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in /home/public_html/modules/sekeywords/sekeywords.php on line 92
#### Expected behavior

#### Steps to Reproduce

#### Additional information

* PrestaShop version: 1.7.5.0
* PHP version: 7.

[2020-08-31 10:38] Mreco83 commented on #18109
Hello. Has anyone found a solution to this error?

[2020-08-31 10:57] totoro0205 commented on #15369
@Firefox86: do you know any temporary fixes available ?

[2020-08-31 10:58] guigplt commented on #20762
Yes I already tried this but it doesn't work neither :

[code]

I think the problem is before that because it should not redirect to /admin/index.php?controller=AdminLogin&token=bc481a3ebe97be186d8430c227465fe5.
That's why I tried to do the same thing with the first wget command and the `token`.
And I also tried to pass `stay_logged_in=1` and `redirect=AdminProducts` in `--post-data`.
But same pro

[2020-08-31 11:56] mmursalov commented on #20782
Hi,

Thank you for your swift response. Unfortunately, my earlier statement on the PHP version was incorrect. The one the web site is running on is 7.2.33 and one compatible with PrestaShop 1.7.6, but I keep getting this error message and I do not know what to do.

Below is the info from PrestaShop Admin page for PHP

PHP version: 7.2.33

Memory limit: 2048M

Max execution time: 6000

Upload Max F

[2020-08-31 12:17] khouloudbelguith commented on #20782
@mmursalov,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-

[2020-08-31 12:46] ilyassw commented on #13262
Hi i actually have the same issue as above but when replaced the .htaccess with the one here all the pictures disappear on my site .
This is the only issue so far i am facing , is there away to remedy it ? thanks

[2020-08-31 13:36] matks commented on #17370
ChangeLog tool has been updated. Future changelogs will highlight BC breaks :)

[2020-08-31 13:36] #17370 closed, assigned to matks

[2020-08-31 13:52] atomiix commented on #20557
I think this one has been fixed by #20755. Can you confirm @khouloudbelguith?

[2020-08-31 14:17] HartLarsson commented on #15684
I did and this is the answer

![image](https://user-images.githubusercontent.com/16102074/91729820-654e8f80-eba5-11ea-8b47-5e8b75ac2075.png)

There is probably a bad cache management but i dont' know if is in the modules or how the theme use them

[2020-08-31 14:26] LouiseBonnard commented on #12901
Hi @marionf, you are mentioned in conversations related to this issue, cf. PR https://github.com/PrestaShop/PrestaShop/pull/14551 & https://github.com/PrestaShop/PrestaShop/pull/15360. It looks like the decision has been made not to make carrier names translatable for PrestaShop 1.7.7, what about version 1.7.8? I guess the pros and cons are still the same.

[2020-08-31 14:32] LouiseBonnard commented on #13828
Hi @matks, what is the state of this issue? Has it been added to #10586? Or should we wait for #12901 before?

[2020-08-31 14:34] khouloudbelguith commented on #20557
Hi @atomiix,

I tried with 177x, It is OK
https://www.awesomescreenshot.com/video/798777?key=70f47468d663fc9e7d4c11b64688b430

Thanks!

[2020-08-31 14:34] #20557 closed, assigned to matthieu-rolland

[2020-08-31 14:37] LouiseBonnard commented on #14854
Hi @PrestaShop/prestashop-core-developers, can this issue be moved to the backlog?

[2020-08-31 14:46] marionf commented on #12901
Yes, the advantage is if we do it soon (at the start of version 1.7.8), we will be able to inform the module developers that all modules that change the names of carriers must upgrade their logic because a text field and a translatable text field can't be handed in the same way.

[2020-08-31 14:49] Progi1984 commented on #20712
Fixed by #20693

[2020-08-31 14:49] #20712 closed, assigned to nobody

[2020-08-31 15:01] khouloudbelguith opened #20793 "BO - Orders page - Delivery option is NOK"
#### Describe the bug

When we change the default carrier, in the BO > Orders => Add new order page => the Delivery option is not correct

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shipping > Preferences
2. Change the default carrier to "My carrier"
![image](https://user-images.githubusercontent.co

[2020-08-31 15:14] matks commented on #15684
@HartLarsson Unfortunately "modules dont use cache properly" is way too vague to allow any bugfixing to happen

I dont think it's your job to report this issue. PrestaShop is an open source project. If there is an issue for some themes, it must be reported by ... theme developers 😄  we cant find it all. Everybody must put some energy into the project to push it forward. We will be happy to help if

[2020-08-31 15:17] LouiseBonnard commented on #20011
Wait for PR #19487 to be merged.

[2020-08-31 15:18] Progi1984 commented on #20595
Fixed by #20603

[2020-08-31 15:18] #20595 closed, assigned to nobody

[2020-08-31 15:21] matthieu-rolland opened #20795 "Add 'action' parameter to actionProductCancel hook"
#### Is your feature request related to a problem?

Some partners complain that Inside the `actionProductCancel` hook it's not easy to know which action triggered the hook, it could be **cancel product**, **standard refund**, **partial refund** or a **return product**, while it can be guessed based on the order history, there is a lot room for errors.

#### Describe the solution you'd like
Add an

[2020-08-31 15:24] matks commented on #12901
@marionf Are you sure you want to do this ?

If we implement this **in the current way it's aiming**, we will switch from a single-field name to a multi-field name (one field per language). This is a huge BC break which means "it is unlikely that a module that does not modify its code does not break".

Let's imagine that there are 1000 PrestaShop shipping modules in the world.
If they do nothing,

[2020-08-31 15:25] Progi1984 commented on #20687
Fixed by #20704 20704

[2020-08-31 15:25] #20687 closed, assigned to atomiix

[2020-08-31 15:28] LouiseBonnard commented on #20779
Hi @mtheinmix, thanks for the feedback! Here are some interesting figures about how PrestaShop reacts to different numbers of categories: https://github.com/PrestaShop/PrestaShop/issues/19281#issuecomment-633550499.

Performance issues might unfortunately happen when there is a lot of items to load or requests to send. Have you experienced the pagination of subcategories on your end yet? If yes, h

[2020-08-31 15:39] atomiix commented on #20560
This one should be fixed by #20755. @Robin-Fischer-PS can you have a look?

[2020-08-31 15:50] mtheinmix commented on #20779
Hello, no, I have not tested it, I just suggested an idea)
I myself tried to implement this functionality based on the pagination guides in other sections, but, unfortunately, nothing came of it, I do not have enough knowledge in programming..

[2020-08-31 16:06] HartLarsson commented on #15684
i agree with you, and i don't realy know how to solve the problem except make both modules not use cache system at all

[2020-08-31 16:36] mmursalov commented on #20782
Hi,

Would it help if I give access to the FTP and the backend admin?

Things such as PHP, apache and javascript logs I cannot share, as I it is hosted on godaddy and I do not have access to that level.

Debug mode was on, but the link that you shared does not tell where it stores the debug report. Could you please advise?

The version of Prestashop is 1.7.6.7

Server information Linux  x86_64 -->

[2020-08-31 16:40] fkomaralp opened #20797 "Module manager UI availability"
#### Is your feature request related to a problem?

I'm creating some modules on PrestaShop 1.7.6.5. I need to reinstall/uninstall(Without deleting module folder)/disable/enable my module sometimes. If I have a lot of modules in the Other section; non-installed modules cannot showing up. And "Other" sticky (like dragable) box area not showing up on the Other list's bottom. Therefore I need to go t

[2020-08-31 19:43] matks commented on #20779
Err ... 😅 we are talking about categories listing here, not product page

[2020-08-31 23:46] msaustral commented on #14957
Hi, we did have the same issue, this happen when you create a coupon with only free shipping without any amount to discount.

[2020-08-31 23:46] ionut-gheorghe opened #20800 "Combinations errors in fresh install ps 1.7.6.7"
delete me

[2020-09-01 00:21] #20800 closed, assigned to nobody

[2020-09-01 07:48] fenzy15 commented on #20788
Hello Simon,
trust you are well.
Please, I need assistance on this issue.
On my localhost website development i have this currency showing
[image: image.png]
but on my server website its not showing
[image: image.png]
at backend of my local host. the currency symbol shows
[image: image.png]
but on my server hosting nothing like tha of the symbol for currency shows
[image: image.png]
kindly assist

[2020-09-01 07:52] khouloudbelguith commented on #20782
@mmursalov,

On this github repository there is no software support. This is an open source project.

You need to check it with your host.

When Debug mode is enabled, you should do the same steps and check if there is any exception displayed.

Thanks!

[2020-09-01 07:54] khouloudbelguith commented on #20788
Hi @fenzy15,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-09-01 07:56] ijzershop opened #23323 "Details link in customer management module config is not valid"
The url generated in psgdrp at 415:            ` 'customer_link' => $this->context->link->getAdminLink('AdminCustomers', true) . '&viewcustomer&id_customer=',`
Does not redirect to the customer information page but the customers overview page because the url is not valid.
The generated url is for example: `index.php/sell/customers/?_token=439mm6A-AWILQB2sSXczCo6REgDlbrHfAGdq0XpBpO4&viewcustomer&id

[2020-09-01 07:56] fenzy15 commented on #20788
Thank you for your response
Will do that immediately

On Tue, Sep 1, 2020 at 8:55 AM khouloudbelguith <notifications@github.com>
wrote:

[2020-09-01 08:08] khouloudbelguith commented on #20797
Hi @fkomaralp,

In the BO > Module Manager page > when we try to uninstall a module, you have two options
1. Remove a module from folder
2. do not remove a module from folder

![image](https://user-images.githubusercontent.com/16067358/91823871-30d8e300-ec3a-11ea-904b-7fca2c740ce4.png)

Yes, Uninstalled modules are not displayed in the `Module Manager` page but they are installed in` Module Catalo

[2020-09-01 08:18] fenzy15 commented on #20788
i have managed to resolve the issue on my own.
Thank you so much

On Tue, Sep 1, 2020 at 8:55 AM khouloudbelguith <notifications@github.com>
wrote:

[2020-09-01 08:26] fkomaralp commented on #20797
I'm realy sorry about that. I didn't discover the `Module Catalog` link. You are totally true. I was searching my uninstalled module in the `Module Manager` page.

[2020-09-01 08:30] khouloudbelguith commented on #20797
@fkomaralp, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-09-01 08:30] #20797 closed, assigned to nobody

[2020-09-01 08:37] marionf commented on #12901
I didn't know all modules were concerned, I thought it was only a few

It's the same problem if we do that for (1).8.0, we can prevent them but we can't be sure they will update their code.

You're right, it's a little feature with not much benefit, so if it impact 100% of the modules, I am ok to postpone it for (1).8.0

[2020-09-01 08:38] Progi1984 commented on #20666
Fixed by #20734

[2020-09-01 08:38] #20666 closed, assigned to matks

[2020-09-01 08:46] Firefox86 commented on #15369
The best solution of the whole PS universe: to buy an addon of course :-(
Seriously, no. I work as I can with my current release (1.7.5.1) and I wait for the next release including this feature.

[2020-09-01 09:02] Progi1984 commented on #20686
Fixed by #20757

[2020-09-01 09:02] #20686 closed, assigned to sowbiba

[2020-09-01 09:33] ngodefroy commented on #20743
TEST OK:
Add a return status
Delete by bulk action
The status is well deleted @sarahdib  confirmed.
https://drive.google.com/file/d/1nq3AFUfWmVUX6XegmmJUWqZ1UaI2qCXQ/view

Note: I had the following issue on my case but it's apparently a problem on my side:
![Capture d’écran 2020-09-01 à 11 32 46](https://user-images.githubusercontent.com/69145330/91833337-ddb95d00-ec46-11ea-8c75-657ca2a185c5.png

[2020-09-01 10:05] khouloudbelguith opened #20801 "FO - Create a customer account - Property Customer->optin is empty."
#### Describe the bug

In the FO > Create an account page > an exception is displayed
`Property Customer->optin is empty.` if BO admin has created a impossible configuration

#### Expected behavior

Please see the messages below this post. We should add a warning message in the back-office to inform Back-office admins to NOT modify settings into a impossible configuration.

Nice-to-have: Additiona

[2020-09-01 10:06] khouloudbelguith commented on #20801
Hi,

To fix this issue, just go BO > Shop parameters > customer settings > enable "partner offers".
![image](https://user-images.githubusercontent.com/16067358/91836833-9c777c00-ec4b-11ea-9283-05260d2846cc.png)

[2020-09-01 10:10] khouloudbelguith commented on #20480
HI @agentile2020,

Duplicate of https://github.com/PrestaShop/PrestaShop/issues/20801

[2020-09-01 10:10] khouloudbelguith commented on #13396
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/20801

[2020-09-01 10:22] SimonGrn commented on #20480
Duplicate of #20801

[2020-09-01 10:33] khouloudbelguith commented on #19198
Hi @prestascott,

About

It is reported here:
https://github.com/PrestaShop/PrestaShop/issues/15420

Thanks!

[2020-09-01 10:50] khouloudbelguith commented on #9836
Hi all,

This issue is fixed in the Attributes migrated page done in the next release 178.
[Attributes • pr-20225.mp4.zip](https://github.com/PrestaShop/PrestaShop/files/5155700/Attributes.pr-20225.mp4.zip)

Since it is fixed, I will close the issue.

Thanks!

[2020-09-01 10:50] #9836 closed, assigned to nobody

[2020-09-01 11:01] khouloudbelguith commented on #16086
Hi!

Same issue for supplier_refrence as reported here: https://github.com/PrestaShop/PrestaShop/issues/20731

Thanks!

[2020-09-01 11:03] khouloudbelguith commented on #16086
Should be fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/20736
Thanks @Max84

[2020-09-01 11:04] khouloudbelguith commented on #20731
Hi @Max84,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16086
So, I close it.
Thanks!

[2020-09-01 11:04] #20731 closed, assigned to nobody

[2020-09-01 11:04] khouloudbelguith commented on #20731
Duplicate of #16086

[2020-09-01 11:17] Daaaaad opened #26101 "Missing product related data (price, etc) in GA if customer leaves before the end of order confirmation page"
Hello,

I noticed something annoying : If the customer place an order but don't wait until the end of the loading of the confirmation page (this process can take up to 10-20 seconds if it waits for the async request of a payment processor) product data will be missing in GA.

In this case, that's the HookDisplayBackOfficeHeader that will in charge of sending information to GA but only the transact

[2020-09-01 11:31] matks commented on #18647
## Status update: release of beta 2 🚀

=> Read the [Release note](https://build.prestashop.com/news/prestashop-1-7-7-0-beta2-release/) on Build 📖

You can download 💾  this beta version:
- On [prestashop.com website](https://www.prestashop.com/en/file/prestashop_1-7-7-0-beta-2-zip/download?token=UbT5nmNu)
- On [Github](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.0-beta.2)

[2020-09-01 13:20] khouloudbelguith commented on #20709
Hi @mvorisek,

I manage to reproduce the issue with PS1.7.7.x, 1767 and 1752
**177x**
![image](https://user-images.githubusercontent.com/16067358/91856169-79a69100-ec66-11ea-9e58-f8f90b6bdae9.png)
**1767**
![image](https://user-images.githubusercontent.com/16067358/91856188-80cd9f00-ec66-11ea-9cd0-a474ed23b92f.png)
**1752**
![image](https://user-images.githubusercontent.com/16067358/91856218-8b883

[2020-09-01 13:23] jonpontet commented on #19846
Any chance some progress can be made on this ? We are awaiting these fixes with anticipation !

[2020-09-01 13:28] mvorisek commented on #20709
Thanks - I have no fix, waiting for it :)

As this prevents install to complete on Windows when open basedir is set, it affects a lot of users, I belive, it should be fixed asap and labeled with higher priority than "Minor".

[2020-09-01 13:31] khouloudbelguith commented on #20709
@PrestaShop/prestashop-product-team what do you think of the severity of this issue?

Thanks!

[2020-09-01 13:44] PierreRambaud commented on #20709
It must be Trivial since Windows is only supported for development and the open_basedir configuration is rarely used.

[2020-09-01 13:48] khouloudbelguith commented on #20709
@PierreRambaud,

As report [here](https://build.prestashop.com/news/severity-classification/)
_Trivial_

I think `Minor` is the best one.

Thanks!

[2020-09-01 14:09] andredotsilva opened #20803 "Add two payment options to module -> one of them is in a include folder, in class"
Hi

I'm trying to implement in one module, two different payment options. One of them is in an include folder, payment.php file.

How can i call that file, and class, in tha second new PaymentOption(); ?

Hope that someone could help me :)

Best regards

[2020-09-01 14:09] marionf commented on #19846
You can make it progress by submitting a pull request:
https://github.com/PrestaShop/PrestaShop/tree/develop

[2020-09-01 14:12] PierreRambaud commented on #20762
It redirects to login because the cookie is not valid.
I don't see your request to login, could you give us all the information to reproduce please?

[2020-09-01 14:17] khouloudbelguith commented on #20803
Hi @andredotsilva,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support
Thanks!

[2020-09-01 14:17] #20803 closed, assigned to nobody

[2020-09-01 14:23] PierreRambaud opened #20804 "Release 1.7.6.8 🚀"
This issue tracks the status of the PrestaShop 1.7.6.8 release

The 1.7.6.8 version will be a security fixes release only.

### Information

Q | A
--|--
**Type** | Patch version
**Estimated release** | 2020-09-**
**Delivery date** | 2020-09-24

### Current status

- [x] Development
- [x] Build
- [x] QA validation
- [x] [Release](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.6.8)
- [x]

[2020-09-01 14:42] guigplt commented on #20762
The request to login is the first wget command :
`wget --save-cookies /var/www/xxxxxxxx/cookies.txt --keep-session-cookies --post-data 'email=xxxxxxxx&passwd=xxxxxxxx' https://xxxxxxxx.com/admin/ -O /dev/null`

I don't understand why the cookie is not valid : I checked multiple times the email / passwd values...
Is there something else I have to pass in the --post-data, like the `token` ?

[2020-09-01 15:16] romain-le-mercier commented on #15503
I don't like how you (prestashop devs) dismiss this bug saying it's related to a third party module.
YOU provide a method Tools::displayPrice(). Yes it's deprecated but as long as it's in the code IT HAS TO WORK.
This is a **static method** (so by definition can be used in any contexte) and in some case it triggers an error, so the bug is prestashop related, not module related.

[2020-09-01 15:28] jonpontet commented on #19846
Very true - if only I knew how to fix it ! (which I guess is the trouble you are having?)

[2020-09-01 15:55] PierreRambaud commented on #20762
You must check your connection request. Some pieces of information are missing.
![image](https://user-images.githubusercontent.com/1462701/91875259-8da8bd80-ec7b-11ea-855f-12dea90c174a.png)

[code]

But after that, I'm not able to reuse the cookie :thinking:

[2020-09-01 16:46] guigplt commented on #20762
I tried to pass `ajax`, `token`, `controller`, `submitLogin`, `redirect` in --post-data and I'm still redirected to login.
I can't see Form Data in Google inspector :
![image](https://user-images.githubusercontent.com/44002621/91882484-5211f180-ec83-11ea-9124-e562f59280ce.png)
Where do you find it ?

[2020-09-01 23:57] totoro0205 commented on #15369
@Firefox86  seems like the issue is open since mar 2017, may  [#9998](https://github.com/PrestaShop/PrestaShop/issues/9998).
@khouloudbelguith any chance having a ressource affected to that ?

[2020-09-02 05:43] matks commented on #20743
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20796

[2020-09-02 05:43] #20743 closed, assigned to atomiix

[2020-09-02 07:10] Progi1984 commented on #20690
Fixed by #20741

[2020-09-02 07:10] #20690 closed, assigned to atomiix

[2020-09-02 07:55] Progi1984 commented on #20769
Fixed by #20792

[2020-09-02 07:55] #20769 closed, assigned to atomiix

[2020-09-02 07:56] Progi1984 commented on #20744
Fixed by #20798

[2020-09-02 07:56] #20744 closed, assigned to atomiix

[2020-09-02 07:57] Progi1984 commented on #20795
Fixed by #20794

[2020-09-02 07:57] #20795 closed, assigned to matthieu-rolland

[2020-09-02 08:06] dgonzalez360 opened #20807 "Error with the context->language in multistore context"
#### Describe the bug

There is an error in selecting the correct language when using a multishop and different languages for each store.

 For example, let's assume that we have two shops (multistore) in the same domain with a virtual URL for each one:

SHOPA is using www.teststore.com/shopa with only English as a main and default language.
SHOPB is using www.teststore.com/shopb with only Spanish

[2020-09-02 08:10] elburgl69 opened #20808 "Upgrade Bootstrap in admin template"
#### Current bootstrap version in admin template is 4.0.0. Most recent version is 4.5.x

The admin template uses a rather old version of Bootstrap. This is frustrating since documentation examples from bootstrap can not always be applied to f.e. prestatshop modules. Only to discover, after long trial and error that the feature was not supported in 4.0.0.

When using third-party js scripts (f.e. vu

[2020-09-02 08:49] zuk3975 commented on #15977
According to this, I've been following YML 2 spaces for a while, but recently it was updated to 4 here https://github.com/PrestaShop/PrestaShop/pull/20324, so I guess thats what we follow now :smile:

[2020-09-02 09:04] Progi1984 commented on #20766
@SimonGrn & @PierreRambaud Docs PR : PrestaShop/docs#700

[2020-09-02 09:05] Hlavtox opened #20814 "[1.7.7 beta 2] Create order from backoffice still not working"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.7 beta 2 release.
2. Go to Orders. Click create new order.
3. Select customer.
4. Page is dead.

#### Screenshot
![beta2](https://user-images.githubusercontent.com/6097524/91961965-33a40880-ed0c-11ea-99e2-1a0d61858cbe.PNG)

#### Additional information

* PrestaShop version: 1.7.7 beta 2
* PHP version: 7.2

[2020-09-02 09:08] jolelievre commented on #19935
I'm not sure we should change the behaviour that much, because although in your case you consider that the default behaviour is for Cart rules to be incompatible, some other merchants might think the opposite..

As from the technical point of view I guess if no restriction is set on a cart rule then it's considered to be appliable with others, which kind of makes sense.

However I do understand yo

[2020-09-02 09:14] Banhack opened #20816 "Question about add block ps_bestsellers to other file.tpl or CMS page."
We want to add the block of best sellers inside a .tpl file. How could we do?

Thx

[2020-09-02 09:15] Hlavtox commented on #19954
@khouloudbelguith @florine2623 Just happened to me with beta 2, the same test scenario as the first one. Can you reopen this?

[2020-09-02 09:16] Firefox86 commented on #9998
Hi @khouloudbelguith,
any news?
For me (and I'm not alone...) it's not just a bug it's a MUST HAVE feature for a e-commerce solution.
Thanks

[2020-09-02 09:17] PierreRambaud commented on #20563
Tags `beta-7.3-apache` and `beta-7.3-fpm` are available on docker hub, but I will create a specific tag for the 1.7.7.0-beta-2.

[2020-09-02 09:24] #9721 closed, assigned to PierreRambaud

[2020-09-02 09:26] Hlavtox opened #20817 "Detailed display of taxes on the order view"
#### Describe the bug

On BO order edit, the merchant is unable to determine the amount of tax applied to product and the whole order.
It's important information.

#### Desired solution

Total tax should be displayed on the screen.
Subtotals should be with and without tax.
Total should be with and without tax.

Something like this maybe?
![amounts](https://user-images.githubusercontent.com/6097524

[2020-09-02 09:29] Hlavtox opened #20818 "[1.7.7 beta 2] Order view - Product ID is invalid error message"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.7 beta 2.
2. Delete all products.
3. Go edit KHWLILZLL.
4. Change price of the product.
5. Price will change, but error message will be displayed that the product ID is invalid.

#### Additional information

* PrestaShop version: 1.7.7 beta 2
* PHP version: 7.2

[2020-09-02 09:30] Hlavtox opened #20819 "Cannot edit a product that has been deleted"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.7 beta 2.
2. Delete all products from the product list.
3. Go edit (demo) Order with refrence **KHWLILZLL**.
4. Change price of the product.
5. You cannot enter price with and without tax. The rate is fixed to 0.

### Specs

When a product is deleted and related to an order, the product base price and the tax price can be ed

[2020-09-02 09:44] Hlavtox opened #20820 "[1.7.7 beta 2] Error when changing currency decimals"
#### Steps to Reproduce

1. Install 1.7.7 beta 2 in czech language.
2. Go to currencies.
3. Open CZK.
4. Change decimal places from 2 to 0.
5. See error screen.

The root cause of this issue is clearing the cache after changing the currency. https://github.com/PrestaShop/PrestaShop/issues/11105

**Log**

[code]

#### Additional information

* PrestaShop version: 1.7.7 beta 2
* PHP version: 7.2

[2020-09-02 09:53] SimonGrn commented on #20816
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-09-02 09:53] #20816 closed, assigned to nobody

[2020-09-02 09:54] khouloudbelguith commented on #9998
Hi!

Sorry not yet.
It is added to the TopWatcher Epic.

Thanks!

[2020-09-02 10:01] jf-viguier commented on #20677
I agree with @domaingood, it should be a good feature to remove ids in url with an option in seo & url page.
I mean, not by default but it make sense in specific cases :
- to avoid 301 redirects il you migrate from another cms that don't have ids in url
- Ids are changing : by example if products are sync in a weird erp

For the record, I've succeed in removing ids in url by overriding the dispatc

[2020-09-02 10:04] khouloudbelguith commented on #20814
Hi @Hlavtox,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20644 to fix the issue.
Your ticket is a duplicate of #20643
So, I close it.
Thanks !

[2020-09-02 10:04] #20814 closed, assigned to nobody

[2020-09-02 10:04] khouloudbelguith commented on #20814
Duplicate of #20643

[2020-09-02 10:06] Hlavtox commented on #20820
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/20689

[2020-09-02 10:12] PierreRambaud commented on #20563
The `prestashop/prestashop:1.7.7.0-beta.2` is also available :)

[2020-09-02 10:12] Hlavtox commented on #20677
@domaingood How will you check for duplicate URLs, will you write a script for that?

[2020-09-02 10:45] Hlavtox opened #20821 "Order create - Confusing display of amounts, taxes and currencies"
#### Describe the bug

When you go to create order in BO, display of amounts, taxes and currencies is confusing.

- In the product selector and the table, the prices are displayed without tax. Why? The whole frontend and backend prices are including tax.
- The merchant cannot enter price with tax the same as when editing order. Why he does need to recalculate the price and remove the tax manually?

[2020-09-02 10:47] eternoendless commented on #11105
@PierreRambaud Ideally there should be more than one way to clear the cache, which is more or less destructive depending on what is needed. Clearing all cache (including Smarty & Twig) might be a little overkill in some cases because it's very slow to rebuild.

[2020-09-02 11:25] sarahdib commented on #20818
In 1.7.6.7 this error was already display but differently
<img width="1280" alt="Capture d’écran 2020-09-02 à 13 18 59" src="https://user-images.githubusercontent.com/3034677/91974961-f006ca00-ed1e-11ea-806a-4719ac081d2e.png">

In 1.7.7.0 beta
<img width="1280" alt="Capture d’écran 2020-09-02 à 13 19 15" src="https://user-images.githubusercontent.com/3034677/91974970-f301ba80-ed1e-11ea-8909-77

[2020-09-02 11:27] Hlavtox commented on #20818
@sarahdib What does that error even mean for the merchant, when he cannot do anything about it? :-)

And, I think we should display: "This product no longer exists in catalog" under it's name in the list. What do you think?

[2020-09-02 11:40] sarahdib commented on #20817
@PrestaShop/prestashop-product-team what do you think about this improvement ?

[2020-09-02 11:51] sarahdib commented on #20818
@Hlavtox I agree, the wording is not clear for the merchant. I ask the product team to check the wording ;)

[2020-09-02 11:53] sarahdib commented on #20819
@Hlavtox I think this is related to the error displayed in this issue #20818

https://drive.google.com/file/d/1I_d-b40uPkKFOCmsPpJ64puVlyJs7ffj/view
Maybe the field can only display prices with no possibility to change it ?  what do you think @PrestaShop/prestashop-core-developers

[2020-09-02 11:54] #20545 closed, assigned to NeOMakinG

[2020-09-02 11:54] #20613 closed, assigned to nobody

[2020-09-02 12:14] HartLarsson opened #23324 "ps_emailalerts with GDPR acrive checkbox behaviour"
When the ps_emailalert module is active and the GDPR is active on the modulo too, when the user insert its email and chck the privacy checkbox both ADD TO CART and "notivy me when available" buttons will be acttivated.

https://gyazo.com/00b7632ebfdfd8bcdc920c9b5c7d2082

PS 1.7.6.7
ps_emailalerts v2.2.1
psgdpr v1.2.0

[2020-09-02 12:24] PierreRambaud commented on #11105
It must be in another pull request/issue with more details and specifications to improve the original behavior.

[2020-09-02 12:26] sarahdib commented on #20820
@Hlavtox
I try to reproduce but I couldn't : https://drive.google.com/file/d/1sUyd9q8xBcx2ohWVZ5QzYGMPWhB1tUh7/view
I can't find this error in dev.log

There is any other step to reproduce ?

Thank you

[2020-09-02 12:43] sarahdib commented on #20808
@NeOMakinG Could you check this ?

[2020-09-02 12:44] #20348 closed, assigned to nobody

[2020-09-02 12:49] Pitt1823 commented on #19935
Thanks for pointing that out clearly @jolelievre

Since I follow the stores of 7 merchants in different industries, with different needs about discounts and coupon codes, I found the scenarios in which we need to create cart rules that are compatible with each other are extremely rare if not non-existent. Hence the reason why I naively thought about this as a ‘bug’. I couldn't picture a logical re

[2020-09-02 13:08] mamortola1 opened #20823 "SAVE BUTTON NOT WORKING"
#### Describe the bug

the save button, whenever I want to save a change I have made, keeps loading and does not let me save successfully. Also whenever I am trying to import a csv file to upload products, after I click on import, the page does not charge.

#### Expected behavior

I expected to make the change to the specific product, click save and that it saved successfully. Same for the import

[2020-09-02 13:18] LouiseBonnard commented on #20818
You're right, there is a confusion here between the action and the notification displayed as a consequence. If I understand well, the user **can** edit the price of a recently deleted product inside the order page but there is an unrelated/unclear error displayed.

@marionf, @MatShir, this behavior does not look specified [here](https://github.com/PrestaShop/prestashop-specs/blob/master/back-offic

[2020-09-02 13:20] sarahdib commented on #20823
Hello

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope.

You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mind tha

[2020-09-02 13:20] #20823 closed, assigned to nobody

[2020-09-02 13:21] khouloudbelguith opened #20824 "FO - Product with comb - An error occurred while processing your request"
#### Describe the bug

In the FO > Product page, when we try to change combinations => an error is displayed
![image](https://user-images.githubusercontent.com/16067358/91988619-c1ddb600-ed2f-11ea-9020-ce01f6a0eae2.png)

#### Expected behavior

It should be ok

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO > Product page > `HUMMINGBIRD PRINTED SWEATER`
2. Change combinatio

[2020-09-02 13:21] khouloudbelguith commented on #20824
Related to https://github.com/PrestaShop/PrestaShop/pull/20556

[2020-09-02 13:31] mcmolto opened #20826 "Problem with ps_mainmenu"
Good afternoon,

I have this problem for quite some time, see if someone can help me to fix it.

I use the classic Prestashop menu (I have version 1.7.5.2) with several items and one of them has a drop-down submenu. Everything works fine until I place the mouse over another of the elements and return to the drop-down menu that does not appear again until I reload the page. If I move the mouse acro

[2020-09-02 13:32] LouiseBonnard commented on #20817
Or add an option to let the user determines if he/she wants to have this information or not? @MatShir, I let you have a look at those suggestions. ;-)

[2020-09-02 13:33] Progi1984 commented on #20766
@alissimo Documentation fixed ;)

[2020-09-02 13:35] #20659 closed, assigned to nobody

[2020-09-02 13:37] Hlavtox commented on #20818
@LouiseBonnard @MatShir

Personally, I would keep the functionality. All the data is in _order_detail_ table. There is no problem for merchant to change price or quantity of the product. We also know the tax group from DB.

[2020-09-02 13:51] Robin-Fischer-PS commented on #20560
Yep @atomiix , it's fixed by #20755 ! Thanks :)

[2020-09-02 13:51] jonpontet opened #20827 "Customers cannot reorder previous orders (order history, order again)"
#### Describe the bug

We have found on our store that it is not always possible for customers to order previous orders again.
I.e. the order again feature of a customers order history does not always work.

#### Expected behavior

I expect customers to be able to successfully re-order previous orders

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Login to customer account who has

[2020-09-02 13:52] #20560 closed, assigned to nobody

[2020-09-02 14:13] matthieu-rolland commented on #20573
@matks matks After spending time toying with the frontend precision in the BO Order Detail page, I think there's not much we can do about this issue, at least in 1.7.7

You're right @jolelievre, in the `UpdateProductInOrderHandler` the value is rounded before being stored... but the thing is, its rounded to its computing precision, which is the right thing to do, the issue is that now our computin

[2020-09-02 14:21] alissimo commented on #20766
yes, thx :)

[2020-09-02 14:31] #20623 closed, assigned to nobody

[2020-09-02 14:45] PierreRambaud commented on #20762
Just after clicking on the submit button (in the login form)

[2020-09-02 14:56] marionf commented on #20818
If I'm not mistaken, the price is related to the cart / order ? @jolelievre
A merchant might want to change it for a particular order even though the product has been deleted of the catalog
So, yes there shouldn't be any error notification here

[2020-09-02 15:16] Progi1984 commented on #19177
@PierreRambaud Done in #20581

[2020-09-02 15:19] PierreRambaud commented on #19177
The nginx configuration has moved to the devdoc, feel free to upgrade the doc if needed:
https://devdocs.prestashop.com/1.7/basics/installation/nginx/

[2020-09-02 15:20] #19177 closed, assigned to nobody

[2020-09-02 15:20] jolelievre commented on #20818
I'm not 100% sure about allowing the modification for several reasons:

- there is no more way to check the stock for this product since it's not in the catalog any more, so changing the quantity would become quite unreliable
- changing the price in OrderDetail should be possible, but we need to check what influence it can have on cart computation for totals (which is used to update the order)
- t

[2020-09-02 15:32] Hlavtox commented on #20820
@sarahdib The issue is hard to reproduce, happens for some part of users. The issue will be fixed when #11105 is fixed, but keep it open please...

[2020-09-02 15:40] superskyman100 commented on #19935
In my humble opinion the issue is quite simple. And this is nor a technical or statistical issue, but a functional one... Of course we can find logic behind the actual Prestashop discounts behavior, but this logic is NOT functional in real life.

Why ? Basically, because there is no choice in between default behaviors.

Unchecking compatibility box **should** make discounts rules incompatibles by

[2020-09-02 15:43] PierreRambaud commented on #15503
Unfortunately, this is the problem when there are a lot of static methods in the code.
A second problem is this kind of method is really sensitive, it touches about prices, date, etc.
And in order to keep the same result everywhere, they decided to implement the `formatPrice` in the `displayPrice` method.
As you say, even if the method is tagged as deprecated, it must work as before, you're right

[2020-09-02 15:57] guigplt commented on #20762
That's what I do but I don't have form data...

Don't you have any idea why the cookie is not valid ?

[2020-09-02 16:29] PierreRambaud commented on #20762
If you fix the security token it should be ok with this script, it's working for me, I'm properly connected :)
[code]

[2020-09-02 16:49] thequickmick opened #20832 "Multishop, Add Product, Edit Product, Symfony Exception Prestashop 1.7.6.3"
#### Describe the bug

After we use 10 Sub shops, we had a Critical Error. Is There A Maximum amount of Subshops?
I Create a new one, like every Time before.

I try to add a New Product and got a Symfony Error.

**Screenshots**

![error_presta](https://user-images.githubusercontent.com/60973509/92012607-f1e78200-ed4c-11ea-86c1-02775fa08236.PNG)

#### Additional information

* PrestaShop version: 1

[2020-09-02 18:49] davidglezz opened #20833 "Hardcoded color values on theme core switchEditAddressButtonColor"
#### Describe the bug

https://github.com/PrestaShop/PrestaShop/blob/f3ea0384869e849e58a5663e4c8446733f27a0b3/themes/_core/js/checkout-address.js#L94-L103

#### Expected behavior
These values must be defined in theme. For example on data-color attribute or adding class.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Enable custom theme with diferent colors
1. Create invalid address

[2020-09-02 20:14] kpodemski commented on #20833
That's a good idea, and i think it's not BC if we decide to fetch `data-color` only if it exists and not have it by default

btw. i haven't noticed this piece of code for years, this is nasty solution 😱

[2020-09-02 22:35] guigplt commented on #20762
It works perfect now !
I think it was because of `controller=AdminLogin` missing in `--post-data`
Thanks a lot @PierreRambaud 👍

[2020-09-03 01:51] letwang opened #20834 "Suppliers import missing [short_description] field issues"
Advanced Parameters -> Import

When you select Suppliers for import, the right side prompts for available fields:

ID
Active (0/1)
Name
Description
Short description
Meta title
Meta keywords
Meta description
Image URL
ID / Name of group shop
However, ps_supplier_lang does not contain short_description field.

Request the PrestaShop official to add the short_description field.

[2020-09-03 02:08] letwang opened #20835 "Secure calls to addons.prestashop.com behind Circuit Breaker"
There are too many prestashop remote Api calls in the website, which causes the website to be slow. In the case of the guest's poor internet speed, the speed is slower, and the slowness is unbearable.
## 1.hosts:
[code]
## 2.increase the cache validity period:
[code]
https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/classes/controller/AdminController.php#L4276

## 3.DNS
In addition, the callin

[2020-09-03 02:11] letwang opened #20836 "Performance optimization: Avoid a large number of duplicate SQL."
To solve a large number of duplicate SQL solutions, it is recommended to use PHP static caching solutions, for example, can refer to:https://github.com/drupal/drupal/blob/9.1.x/core/includes/bootstrap.inc#L582
[code]

[2020-09-03 02:21] xMarlin opened #20837 "Updates doesn't appear instantly"
while i update or add new menu items or products or edit anything that related to be appear on frontend it doesn't show up instantly  , i have to wait for almost 2 hours to the updates shows up on the frontend ,
1 - i have tried a new installed browser
2 - i have cleared the cache and cookies
3 - i have also tried it on new different machine
4 - i have also tried it on new server host
and nothing

[2020-09-03 06:49] Eva-F opened #20838 "Be able to set a value on submit buttons"
#### Is your feature request related to a problem?

I am using helperForm and multiple_fieldsets. I would like to distinguish for which fieldset was the submit button pressed.

#### Describe the solution you'd like

the simpliest solution would be if I would be able to set value for submit button

like as:
[code]

and write this value (if is set) into template admin../themes/default/template/helpe

[2020-09-03 07:08] #20837 closed, assigned to nobody

[2020-09-03 07:13] #11105 closed, assigned to PierreRambaud

[2020-09-03 07:23] BrunoJunior commented on #15381
Fixed with #19288

[2020-09-03 07:23] #15381 closed, assigned to nobody

[2020-09-03 07:29] PierreRambaud commented on #20762
You're welcome.

Don't hesitate to create a little tutorial on the devdocs, if you think it's relevant :wink:

[2020-09-03 07:29] #20762 closed, assigned to nobody

[2020-09-03 07:36] BrunoJunior commented on #9599
@matteolavaggi I totally agree … But it seems a PR fixes the bug but will be available with PrestaShop 1.7.8.0 …

[2020-09-03 07:51] sowbiba commented on #14083
I think the 2nd hook only should be trigger : after the 1st one, $sqlWhere is modified

[2020-09-03 07:58] xoex commented on #9866
I have the same issue, nobody can solve it?

[2020-09-03 08:00] sowbiba commented on #14126
Agree: the code in the elseif will never be executed

[2020-09-03 08:20] sowbiba commented on #14312
Regarding the system requirements of Prestashop https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements php7.3 is not compatible with PS 1.7.5.2
Please consider updating to 1.7.7 or use php 7.2 to run your PS version

Can we close this issue ?

[2020-09-03 08:30] florine2623 commented on #20836
Hi @letwang ,

Is your issue related to https://github.com/PrestaShop/PrestaShop/issues/20034 ?

Thanks!

[2020-09-03 08:34] florine2623 commented on #20834
Hello @letwang ,

could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a b

[2020-09-03 08:36] florine2623 commented on #20826
Hi @mcdado ,

Could you explain the steps to reproduce as well as add some screenshot for more clarity ?

Thanks!

[2020-09-03 08:43] khouloudbelguith commented on #12078
Hi,

Same issue for the unit price
https://drive.google.com/file/d/1rKCdRmuj6VTErZzYlpJZLc5SP6pabz-s/view?usp=sharing

Thanks!

[2020-09-03 08:50] #10792 closed, assigned to nobody

[2020-09-03 08:50] mcdado commented on #20826
wrong tag

[2020-09-03 08:53] mcmolto commented on #20826
Hi @florine2623, thanks for answering

1. The submenu is seen if I put the mouse over the item.
2. I put the mouse on another menu item.
3. I go back to the first one and it no longer appears being the element as display: none.

![Step 1](https://user-images.githubusercontent.com/69503519/92093421-a0cea100-edd3-11ea-92c3-3a7e3c8c578a.png)
![Step 3 1](https://user-images.githubusercontent.com/69503

[2020-09-03 09:05] florine2623 commented on #20835
Hi @letwang ,
Thanks for the suggestion.

Could you give the steps to reproduce in order to see the exact issue regarding the API calls ?

Thank you!

[2020-09-03 09:15] florine2623 commented on #20827
Hi @jonpontet ,

I've successfully reproduced your issue in PS 1.7.6.5.
However, this issue has been fixed in PS 1.7.8.0. Please check my screen record below :
https://drive.google.com/file/d/10aDZk9l2BD7gcTqVkrW-204Nb-vWLxwN/view

Thank you for looking into it.
I'll close your issue, feel free to open a new one if you find anything else !

[2020-09-03 09:15] #20827 closed, assigned to nobody

[2020-09-03 09:21] ngodefroy opened #20839 "[FO][HOMEPAGE] Error with productcomment module"
#### Describe the bug

On FO, go to "mystore" with inspector open, you will see an error 500

#### Expected behavior

Productcomment module working fine

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Click on "mystore" with your inspector open
2. See error

**Screenshots**

<img width="1421" alt="Capture d’écran 2020-09-03 à 11 20 21" src="https://user-images.githubusercontent.co

[2020-09-03 09:26] khouloudbelguith commented on #20839
Same issue in the develop branch
![image](https://user-images.githubusercontent.com/16067358/92097423-5865b200-edd8-11ea-84f5-3129ad2c7d3e.png)

[2020-09-03 09:49] Codencode opened #20840 "Error customized product quantity"
#### Describe the bug
Customizable item quantity available 1.

If you add a customized product to cart , the system still allows you to add the product to the cart without customization.

#### Steps to Reproduce
Steps to reproduce the behavior:
1. Create a customizable product  with 1 quantity in BO
2. In FO add product with customization to cart
3. In FO add product without customization to cart

[2020-09-03 10:08] ngodefroy opened #20841 "[FO] [Filtering] error in console when filtering with price & size"
#### Describe the bug

If I filter a product by gender, size, price range then increase or decrease the price range, I get an error: "Ignored attempt to cancel a touchmove event with cancelable=false, for example because scrolling is in progress and cannot be interrupted."

#### Expected behavior

no errors in console

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Filter your cloth

[2020-09-03 10:22] eternoendless opened #20842 "Maximum PHP compatible version is confusing"
#### Describe the bug

When you try to install PrestaShop using PHP 8, you will get an error message saying that your version is not supported, like this:

![Screencap](https://user-images.githubusercontent.com/16067358/86795974-6617e900-c06e-11ea-8fd6-9f077eb40197.png)

The message has been updated since to account for compatibility with PHP 7.4 and it now reads:

There are a couple problems with

[2020-09-03 11:17] florine2623 commented on #20832
Hi @thequickmick ,
There is no limit to the number of multishop you wish to have in your BO.
I've successfully managed to add 12 shops into my BO.
Here's my screenshot :
![Capture d’écran 2020-09-03 à 13 16 13](https://user-images.githubusercontent.com/16019289/92108445-b352d580-ede7-11ea-808e-66e272c857fe.png)

Could you clear your cache and try again ?
From BO > Advanced Parameters > Performan

[2020-09-03 11:17] #20832 closed, assigned to nobody

[2020-09-03 11:26] florine2623 commented on #20840
Hi @Codencode ,
I can't reproduce your issue in PS 1.7.6.5.

I added the last customizable product to my cart :
![Capture d’écran 2020-09-03 à 13 25 06](https://user-images.githubusercontent.com/16019289/92109208-e6499900-ede8-11ea-8794-a7ba0c53eed8.png)
When there's no more stock available I can't add to cart the product :
![Capture d’écran 2020-09-03 à 13 22 31](https://user-images.githubuse

[2020-09-03 11:26] #20840 closed, assigned to nobody

[2020-09-03 11:26] khouloudbelguith commented on #20824
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20773

[2020-09-03 11:26] #20824 closed, assigned to nobody

[2020-09-03 12:00] ShaimyWinda opened #20844 "Can't translate the Contact Form Module"
#### Describe the bug

Hello,

I can't translate the contact form module. I made a patch of this commit but it didn't work for me.

https://github.com/PrestaShop/PrestaShop/pull/15139

Thanks

**Screenshots**
**
![image](https://user-images.githubusercontent.com/25744417/92106573-e6479a00-ede4-11ea-80f3-fc66276aa9ff.png)
**

#### Additional information

* PrestaShop version: 1.7.6.0
* PHP version:

[2020-09-03 12:06] #20682 closed, assigned to nobody

[2020-09-03 12:49] ghost opened #20845 "Wrong search result"
Searching a product in customer site we found too many results, and in the wrong order. Even changing the settings the results remain the same.

If I search for "Kyrie 6", only products that have that string in their name should appear.

Steps to reproduce the behavior:

1. Go to searchbar
2. Search Kyrie 6
3. Relevant results are in page 3 (screenshot 2) but should be in page 1 (screenshot 1)

![

[2020-09-03 12:49] matks opened #20846 "Help merchants to deal with over-populated SQL tables"
#### Is your feature request related to a problem?

A shop that has been running for years might accumulate a huge quantity of outdated datas: logs in `ps_log` table, emails of users who have not shopped for a long time, abandoned carts, cart rules with single usage that have been used a long time ago ...

All of these SQL rows will stay there and make SQL queries being run against the database sl

[2020-09-03 12:55] #20844 closed, assigned to nobody

[2020-09-03 13:03] florine2623 commented on #20838
Hi @PrestaShop/prestashop-core-developers ,

@Eva-F has a suggestion regarding the setting of a value on submit buttons.
What is your opinion on it ?

Thanks!

[2020-09-03 13:06] florine2623 commented on #20833
Hi @davidglezz ,
Thanks for the suggestion !
I'll ping our dev team to get their point of view on it.
Please stay tuned.

[2020-09-03 13:22] florine2623 commented on #20845
Hi @oimmaginazione ,
First downgrade your PHP version to 7.2 :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I can't reproduce your issue on PS 1.7.6.7 using Classic theme and these versions of search modules :
![Capture d’écran 2020-09-03 à 15 20 37](https://user-images.githubusercontent.com/16019289/92120269-1ef16e80-edf9-11ea-8c65-fe8cc551fe24.png)

![Capture d’

[2020-09-03 13:22] #20845 closed, assigned to nobody

[2020-09-03 13:27] florine2623 commented on #20826
Hi @mcmolto ,

It seems like your are not using Classic theme and are using an external theme. In that regard, I suggest you to contact directly the developer of that theme.
You can also request support from our support team here : https://addons.prestashop.com/en/388-support

Thank you for your understanding, I'll close this issue.

[2020-09-03 13:27] #20826 closed, assigned to nobody

[2020-09-03 13:29] ShaimyWinda commented on #20844
Hi @florine2623
It's very strange, So why i have this issue?

thanks

[2020-09-03 13:56] #20169 closed, assigned to khouloudbelguith

[2020-09-03 14:14] matks commented on #19224
I think we did all we could on this topic

[2020-09-03 14:14] #19224 closed, assigned to nobody

[2020-09-03 14:44] florine2623 commented on #20807
HI @dgonzalez360 ,

I managed to reproduce your issue in PS 1.7.5.1 (related to https://github.com/PrestaShop/PrestaShop/issues/13928) and on PS 1.7.6.1.
However this has been fixed in PS 1.7.7.0.
You can see my screen record below :
In my case shop2 is in English and shop3 in French.
https://drive.google.com/file/d/1Oql7RyhaVBPZO-fKJXka5rM5BwRUBKvA/view

I'll close this issue, as it is fixed, tha

[2020-09-03 14:44] #20807 closed, assigned to nobody

[2020-09-03 15:00] dgonzalez360 commented on #20807
Hi @florine2623 ,

I have read all the comments on issue #13298 and it seems it's not fixed.

One user reported an admin language context error (Not related to my issue) and other reported the same I did and it appeared to be fixed in ps_facetedsearch change but it's not related at all.

The issue I'm describing is caused by a bug in the config.inc.php file, and as long as it's not fixed there it

[2020-09-03 15:21] florine2623 commented on #20821
Ping @PrestaShop/prestashop-product-team ,
@Hlavtox would like to have some answers on the order creation section in the BO. There are screenshots below :

![Capture d’écran 2020-09-03 à 17 11 04](https://user-images.githubusercontent.com/16019289/92133283-7c40ec00-ee08-11ea-86ce-7fcf41431dfb.png)

![Capture d’écran 2020-09-03 à 17 16 27](https://user-images.githubusercontent.com/16019289/9213

[2020-09-03 23:30] PululuK opened #20848 "[IMPROVEMENT][HOOKS] Ability to enable and disable Hooks"
## Is your feature request related to a problem?

Users must be able to activate or deactivate hooks very quickly :

- In some cases, we want to investigate the cause of unexpected behavior, this will allow you to quickly activate and deactivate certain hooks without impacting the modules.
- With the current system if you have 20 modules hooked in a hook, if you unhook them all to investigate a pr

[2020-09-04 07:26] jonpontet commented on #20827
@florine2623 thank you for your response. Are you able to highlight the commit that fixes this issue?

[2020-09-04 07:37] juancamunoz opened #20851 "Bad price calculation when adding specific price with taxes"
#### Describe the bug

When we add a discount with specific prices to a product that has a tax rule, the price shown on the website goes wrong.

#### Expected behavior

We have a product that costs 24.98€ with taxes (21%)
I add a specific price, impact 14,99€ taxes inc.

The final price should be 9,99€. The result I have in the webpage is: 6.85€

#### Steps to Reproduce

Steps to reproduce the beh

[2020-09-04 07:45] matks commented on #20848
Very nice idea and design !

I am only wondering whether it'll be obvious what this switch is for users 🤔  maybe we might add a label next to it to make it unambiguous ?

[2020-09-04 08:04] florine2623 commented on #20848
Hi @PululuK ,
Thanks for the suggestion !

Ping @PrestaShop/prestashop-product-team
What do you think about this improvement ? :)

Thanks !

[2020-09-04 08:07] PululuK commented on #20848
I think we'll need your help @prestascott @NeOMakinG   🙂

[2020-09-04 08:39] SD1982 opened #20852 "BO - Module / Error when trying to install module"
#### Describe the bug

An error message is displayed when trying to install a module from the "module catalog" section and when trying to install a modul from the "upload module" button the install process seems to be stuck in a loop

#### Expected behavior

The module installation should work correctly

#### Steps to Reproduce

**Error from module catalog**
1. Go to BO/Improve/Modules/modules cat

[2020-09-04 09:03] PierreRambaud commented on #20838
It's a good idea, we should be able to use a custom value for the submit button :+1:

[2020-09-04 09:05] PierreRambaud commented on #20833
Everything is possible, and of course, if we receive a pull request proposing to add a `data-color` in order to make this color configurable by the theme, we will be glad to review it and merge it :+1:

[2020-09-04 09:17] #18835 closed, assigned to matks

[2020-09-04 09:18] matks commented on #18835
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20499

[2020-09-04 09:28] ghost opened #20853 "Can not see Products comment made by customers"
#### Describe the bug
After purchasing my product,  clients had submitted some product feedbacks that are not displayed. Why?

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to

[2020-09-04 09:34] florine2623 commented on #20853
Hi @wipprotection ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2020-09-04 09:34] #20853 closed, assigned to nobody

[2020-09-04 09:39] gbartosz83 opened #20855 "The association PrestaShopBundle\Entity\Tab#tabLangs refers to the owning side field PrestaShopBundle\Entity\TabLang#tab which does not exist."
#### Describe the bug

Backoffice works only in dev mode true - otherwise there is an error 500

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

I have turned on SSL on backend, and added www. to the domain name

**Screenshots**

PrestaShopBundle\Entity\Tab | The association PrestaShopBundle\Entity\Tab#tabLangs refers

[2020-09-04 09:51] florine2623 commented on #20851
Hi @juancamunoz ,
I can't reproduce your issue on PS 1.7.6.7.
See below the screenshots :
![Capture d’écran 2020-09-04 à 11 48 20](https://user-images.githubusercontent.com/16019289/92226197-a647ec00-eea4-11ea-856f-f125ef427324.png)
![Capture d’écran 2020-09-04 à 11 48 25](https://user-images.githubusercontent.com/16019289/92226203-a811af80-eea4-11ea-9af1-b65e982faf82.png)
![Capture d’écran 2

[2020-09-04 09:51] #20851 closed, assigned to nobody

[2020-09-04 10:00] eternoendless commented on #20852
We might take this chance to improve the error reporting?

[2020-09-04 10:01] florine2623 commented on #20855
Hi @gbartosz83 ,

There are multiple things you can do to see where the error comes from :
- check error log in /var/log
- delete cache manually from FTP in /var/cache/dev & /var/cache/prod and from BO
- disable all overrides
- disable external modules
Or contact the support team here : https://addons.prestashop.com/en/388-support

As i can't reproduce the issue on my test shop PS 1.7.6.7, I'll cl

[2020-09-04 10:01] #20855 closed, assigned to nobody

[2020-09-04 10:10] gbartosz83 commented on #20855
why did you close the issue?
I have cleared cache few times it did not help.

[2020-09-04 10:54] sowbiba commented on #20034
Hello @Hlavtox Thanks for the issue report

I tested with PS1.7.6.2
I have the first given query only 2 times when displaying a category. DO I miss something ?

![Capture d’écran de 2020-09-04 10-52-38](https://user-images.githubusercontent.com/7426640/92231890-0e92cf80-ee9d-11ea-8128-7a6aabd71f21.png)

[2020-09-04 10:55] Eva-F opened #20856 "BO - Loading order statuses is too slow (PS 1.7.6.3) - caused by PrestashopLogger - a proposal on acceleration"
#### Is your feature request related to a problem?
I needed to check OrderStatuses in BO
I had to wait a long time to the list loading (almost **2minutes**!!!!!!!)

See picture bellow

**the loading time: 1.9 minutes**

![ps20](https://user-images.githubusercontent.com/3242659/92220802-cb386100-ee9c-11ea-948f-da80b7558fc9.png)

after bellow suggested changes

**the loading time: 9.4 secs**
![ps22]

[2020-09-04 10:57] Hlavtox commented on #20034
@sowbiba I have 30 features and most of them are used in faceted search.
- Make some products
- Make 20-30 features and assign them to some products.
- Enable them in faceted search.

Then you should have the same amount.

[2020-09-04 11:41] sowbiba commented on #20043
[code]

If you use `$opt['putXml']` and not `$opt['postXml']` it works well for me

[2020-09-04 11:51] sowbiba commented on #20084
What would be cool is to automatize the cleaning but we cannot control that. However, we can make a script/route to do it and advice the admins to put it in a cron job

[2020-09-04 12:18] SimonGrn commented on #20856
Hello,
thanks for your research and your proposal.
I see you used PrestaShop 1.7.6.3. In the next version to come (1.7.7.0) we entirely remade the whole Orders page, so it would be interesting to see if you could try with the same data (beta 2 was launched [a few days ago](https://build.prestashop.com/news/prestashop-1-7-7-0-beta2-release/)) to at least verify all these problems are still here.
Wh

[2020-09-04 12:22] davidglezz opened #20857 "Add a button to be able to remove supplier & brand logos"
#### Is your feature request related to a problem?
I would like to remove the supplier logos but I can't.
----------------

This is currently not possible to delete the logo of a brand when uploaded by mistake.
You can either add a new logo or delete the brand. as reported [here](https://github.com/PrestaShop/PrestaShop/issues/14106)

#### Describe the solution you'd like
Remove button to unset lo

[2020-09-04 12:29] PierreRambaud commented on #20121
Why not only using `Allow: GET, POST` the browser should not trigger the `OPTIONS` :thinking:

[2020-09-04 12:44] Eva-F commented on #20856
I met this problem (isPresent() function in PrestashopLogger) when I tried to load Orderstates.
but not only this controller(AdminStatuses)  uses thumbnail function and not only thumbnail() function uses PrestashopLogger->addLog().
I have tried to describe the big delaying caused by PrestashopLogger::isPresent() function

[2020-09-04 12:55] florine2623 commented on #20857
Hi @davidglezz ,
Thanks for the suggestion ! I'll ping our product team in the next message.

[2020-09-04 12:57] florine2623 commented on #20857
Ping @PrestaShop/prestashop-product-team
What do you think about that new feature ?
The product page will have to change too if the logo isn't displayed anymore :
![Capture d’écran 2020-09-04 à 14 54 58](https://user-images.githubusercontent.com/16019289/92241665-e4eaa000-eebe-11ea-8639-fb5819076765.png)

Thanks!

[2020-09-04 13:09] Anncvl opened #20858 "Faceted search Slider Ranges with Price and Weight"
Hi!I'm using the last version of faceted search. I'm having troubles with the price and weight slider ranges.
Right now, in prices they can slide in ranges of 1 ex: 1€, 2€, 3€ etc. Is there a way to change this ranges from 5 to 5? 0-5€, 5-10€ and so on . Same with the weight, in ranges of 100 grams per example.

Thank you in advance

[2020-09-04 13:13] LouiseBonnard commented on #20857
Hi @davidglezz, thanks for the suggestion, I agree, the user should be able to remove the logo if need be when editing the supplier as well as the brand information.

[2020-09-04 13:14] florine2623 commented on #20858
Hi @Anncvl ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You **must** follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2020-09-04 13:14] #20858 closed, assigned to nobody

[2020-09-04 14:11] davidglezz commented on #20857
True, the button to remove the brands logo is also missing.
@florine2623 The product page already supports brands without a logo, so no changes would be necessary.

[2020-09-04 14:37] khouloudbelguith opened #20861 "Dashboard - dashtrend module - incorrect behavior when selecting or unselecting a Tab"
#### Describe the bug

In the BO > Dashboard > Dashtrend  section > when we select/unselect any tab => see incorrect behavior

#### Expected behavior

Before
![image](https://user-images.githubusercontent.com/16067358/92251161-b673c180-eecc-11ea-8e88-ecd3411bc100.png)

After
![image](https://user-images.githubusercontent.com/16067358/92251141-ae1b8680-eecc-11ea-861e-2f6336faf38a.png)

#### Steps t

[2020-09-04 15:14] matks opened #20862 "Big red warning message into PrestaShop when not using the right PHP version"
#### Is your feature request related to a problem?

I just saw 2 bug reports about very, very weird behaviors ... the people reporting them said "I upgraded to 1.7.6.7 and now this page does [weird behavior]". Obviously I could not reproduce the bugs.

Finally the main reason behind this very weird bug was they were not using the right PHP version.

#### Describe the solution you'd like

In order

[2020-09-04 15:14] 8ternity commented on #16004
@LouiseBonnard Can we have an answer please? Could you please try to reproduce with the step explain in reply (here)[https://github.com/PrestaShop/PrestaShop/issues/16004#issuecomment-663502280]

[2020-09-04 15:23] florine2623 commented on #20862
Ping @PrestaShop/prestashop-product-team
Here's a great improvement suggested by @matks.
Do you think it could be implemented ?

Thanks!

[2020-09-04 15:26] PierreRambaud commented on #20084
Symfony console command is the solution to this problem :+1:

[2020-09-04 15:26] florine2623 commented on #20825
Hi @msaustral ,
Are all of the employees mentioned on the email list on the module here ?
![Capture d’écran 2020-09-04 à 17 25 59](https://user-images.githubusercontent.com/16019289/92256251-c93dc480-eed3-11ea-991c-0d06e817de0d.png)
Thanks!

[2020-09-04 15:37] khouloudbelguith commented on #20852
Hi!

I found that we develop other actions do not work

- Reset
- Uninstall
- Disable

![image](https://user-images.githubusercontent.com/16067358/92257262-3736bb80-eed5-11ea-91d7-5658a9b9efc5.png)

Thanks!

[2020-09-04 15:38] msaustral commented on #20825
Hi they are no on the list, that is the issue.

[2020-09-04 15:58] khouloudbelguith opened #20863 "BO - SEO & URL - when multistore is enabled, an exception is displayed"
#### Describe the bug

When multistore is enabled, the SEO URL page => NOK
![image](https://user-images.githubusercontent.com/16067358/92260242-e379a180-eed7-11ea-97cf-c4527aa075bd.png)

When multishop feature is on, trying to enter `admin-dev/configure/shop/seo-urls` ends up with error (screenshot1). This is caused because (technically) form has inputs only when following if statement is true `if

[2020-09-04 16:34] eternoendless commented on #14950
PrestaShop uses the [GD library](https://www.php.net/manual/en/book.image.php) for image manipulation. If the quality is effectively 100/100, then it might be a problem with the library itself and/or how it was compiled. To  my best understanding this part of PrestaShop hasn't been changed since 2012/2015.

I don't see what we can do to help it, especially if we can't reproduce.

[2020-09-04 17:33] SimonGrn commented on #20851
It means your problem is fixed in PrestaShop version 1.7.6.7. You need to upgrade your PrestaShop version to get the fix.

[2020-09-04 18:17] davidglezz commented on #18518
Support SVG for shop logo

[2020-09-04 21:29] SimonGrn commented on #20856
I understand that, but we make modifications on the code everyday and version 1.7.6.3 is more than one year old and it's really possible we fixed this in the last version, so it could be beneficial to check in 1.7.7.0. That's why it would be a very good idea it's not already been fixed.
If the problem is still here, we won't make any new patch version for 1.7.6.x anyway and it'll be fixed in 1.7.8

[2020-09-05 00:09] letwang commented on #20835
All the interfaces in the background, the more typical ones are:
http://127.0.0.1/prestashop1767/admin/index.php/improve/modules/manage?_token=

- PHP 7.1
- PrestaShop 1.7.6.7

[2020-09-05 00:13] letwang commented on #20834
Server information Darwin Darwin Kernel Version 18.6.0: Sun Apr 28 18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64

Server software version: Apache/2.4.34 (Unix) PHP/7.1.23 mod_perl/2.0.9 Perl/v5.18.4

PHP version: 7.1.23

Memory limit: 1G

Max execution time: 0

Upload Max File size: 1024M

PrestaShop version: 1.7.6.7

Shop URL: http://127.0.0.1/prestashop/

Shop path: /Users/works

[2020-09-05 00:16] letwang commented on #20834
<img width="1203" alt="2" src="https://user-images.githubusercontent.com/3644168/92292510-1bbcc680-ef50-11ea-8671-dcb39b77368d.png">
<img width="557" alt="1" src="https://user-images.githubusercontent.com/3644168/92292512-1e1f2080-ef50-11ea-8224-c6794dec450f.png">

[2020-09-05 00:19] letwang commented on #20836
Yes,you are right!
`drupal_static` is really excellent. It can manage the in-process cache as a whole. `drupal_static_reset` can release the in-process cache anytime and anywhere, and will not lead to the export of so many static variables in the function as in prestashop1.7.

[2020-09-05 00:22] letwang commented on #20034
Hi friends
Your findings are correct. I also found this performance bottleneck and provided a solution to the prestashop official. I hope they will adopt it.

https://github.com/PrestaShop/PrestaShop/issues/20836

[2020-09-05 00:25] letwang commented on #20836
The wording of `SELECT *` is everywhere. In fact, some only need certain field values, but there may be 40-50 fields in `*,` and the performance is worrying
Although there is a cache to speed up, but this extra field fetching increases the cache volume.

[2020-09-05 08:16] jbenezech opened #20865 "Allow customization of ps_faceted_search"
#### Is your feature request related to a problem?

A module can easily provide a custom search provider but often what the ps_faceted_search module does is 90% what is needed.
At the moment, this module is difficult to reuse and customizing the search requires a completely new implementation.

In my current project for instance, I need to be able to search products which are in 2 unrelated catego

[2020-09-05 10:00] tonyinuma commented on #15744
you have some solutions:

**If you choose any of these options, it does not affect the store, unless you link your store with your prestashop account, almost nobody does, so with these options it is solved that simple.**
1. Delete the psaddonsconnect module folder on: `nameeEcommerce/modules/psaddonsconnect`
2. Rename the psaddonsconnect module folder on: `nameeEcommerce/modules/psaddonsconnect` -

[2020-09-05 21:16] rafapastor commented on #20848
Great idea!

[2020-09-05 22:09] Serialc0de opened #20867 "Uncaught TypeError: Cannot read property 'split' of undefined"
[https://imgur.com/a/PsgInJM](url)

[2020-09-06 00:46] letwang commented on #20498
`fields_updated` is a great optimization idea. In fact, we can think more broadly. Currently, Hooks are executed without any conditions. We need to preset some `conditions` for each Hook for users to configure and then decide whether to trigger a certain Some Hooks can greatly improve the performance of Hooks, and all PrestaShop users will cheer for this.

Note that not only `fields_updated`, the

[2020-09-06 07:17] yoseqiu opened #20868 "The administrator cannot log in at the background"
why？？？

有多个错误。

发现错误：StartTag: invalid element name 在国家_模块_列表.xml file.
发现错误：Premature end of data in tag author line 1 在国家_模块_列表.xml file.
发现错误：Premature end of data in tag module line 1 在国家_模块_列表.xml file.
发现错误：Premature end of data in tag modules line 1 在国家_模块_列表.xml file.
发现错误：AttValue: ' expected 在必须_有_模块.xml file.
发现错误：attributes construct error 在必须_有_模块.xml file.
发现错误：Couldn't find end of S

[2020-09-06 15:35] SimonGrn commented on #20868
Dear @yoseqiu
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-09-06 15:35] #20868 closed, assigned to nobody

[2020-09-06 15:36] SimonGrn commented on #20867
Dear @Serialc0de
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2020-09-06 15:36] #20867 closed, assigned to nobody

[2020-09-06 18:53] PululuK commented on #20498
Impossible ?! Oh 😮 ! It's weird to read this in an "Open Source" project ... So you don't believe in your community?
Believe in us ... We can do it 😉!

[2020-09-06 23:41] Angar90 opened #20869 "[PrestaShop 1.7]Product images don't work if the shop uses Japanese or Chinese language"
#### Describe the bug

Product images don't work if the shop uses Japanese or Chinese language.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add to your shop Japanese or Chinese language.

2. Create a new product with a Japanese name for example:
洽洽原味瓜子
and click the save button.

3. Add images to your product and save again.

4. For the English language the image is displayed co

[2020-09-07 04:40] JosephWong0610 opened #20870 "Data integrity / begintransaction / commit / rollback"
For Prestashop 1.7.6.7,

Just want to know Prestashop handled data integrity by using database transaction.

For example, when confirming order, this involves more than 1 tables, e.g. order and order details, if there is error occur during confirming order, will all data not saved?

[2020-09-07 06:43] madsoliver opened #20871 "Deleted modules cause undefined index in AdminAccess"
**Bug:**
In debug mode you will get undefined index `id_module`, `name` etc.
Also, there will be some blank lines in the module list of AdminAccess

**How to reproduce**
Delete some modules (possibly I did outside of PrestaShop by just deleting the files (no uninstall), but I'm not sure. Both uninstall+delete and _hard delete without uninstalling_ first should be tested.
Turn on debug mode and ope

[2020-09-07 07:13] madsoliver opened #20872 "Placing a module controller under 'parent_class_name' => 'AdminProducts' causes issues in AdminAccess"
One of my modules had a AdminModuleController registered as a child of `AdminProducts` like this:

[code]

This made AdminProducts inaccessible for non-superadmin profiles in my shop.
Also in AdminAccess the checkboxes for AdminProducts are unchecked, and when checking them I get a false positive (yet another issue): "Settings Updated".
Although when refreshing, the change did not take effect.

Ch

[2020-09-07 08:06] khouloudbelguith commented on #20865
Hi @jbenezech,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-09-07 08:16] #20043 closed, assigned to nobody

[2020-09-07 08:16] khouloudbelguith commented on #20869
Hi @Angar90,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1C1xB_sOhZmmtUFTTAvEiknXi3APgzOwR/view?usp=sharing
What is the exact language by default in your case?
What is the language of the employee did you use?

Thanks!

[2020-09-07 08:18] khouloudbelguith commented on #20870
Hi @JosephWong0610,

Thanks for the report.
On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-09-07 08:18] #20870 closed, assigned to nobody

[2020-09-07 08:26] khouloudbelguith commented on #20585
Hi @angerangel,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-07 08:26] #20585 closed, assigned to nobody

[2020-09-07 08:27] khouloudbelguith commented on #19810
Hi @Hlavtox,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-07 08:29] khouloudbelguith commented on #20596
Hi @ced--ced,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-07 08:29] #20596 closed, assigned to nobody

[2020-09-07 08:29] khouloudbelguith commented on #20609
Hi @shikotakcom,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-07 08:29] #20609 closed, assigned to nobody

[2020-09-07 08:33] khouloudbelguith commented on #20109
Fixed by https://github.com/PrestaShop/ps_facetedsearch/pull/190

[2020-09-07 08:33] #20109 closed, assigned to nobody

[2020-09-07 08:37] khouloudbelguith commented on #20034
Hi @sowbiba, @PrestaShop/prestashop-core-developers

@letwang find a solution as described here:

[code]
Thanks!

[2020-09-07 08:38] khouloudbelguith commented on #20836
Hi @letwang,

Your ticket is a duplicate of #20034
Please follow #20034
So, I close it.
Thanks!

[2020-09-07 08:38] #20836 closed, assigned to nobody

[2020-09-07 08:38] khouloudbelguith commented on #20836
Duplicate of #20034

[2020-09-07 08:53] khouloudbelguith commented on #20834
Hi @letwang,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.7 and 1.7.7.x branch.
In the Import page, the `Short description` field exists
![image](https://user-images.githubusercontent.com/16067358/92368377-efdc4500-f0f7-11ea-9e2b-11318cd3f497.png)
![image](https://user-images.githubusercontent.com/16067358/92368416-fe2a6100-f0f7-11ea-8418-9a7f5a1cb142.png)
In the BO > Su

[2020-09-07 08:58] #9650 closed, assigned to nobody

[2020-09-07 08:58] sdwebdesign commented on #9650
NL:

Beste lezer,
Dit e-mail adres is niet meer in gebruik.
Je kan ons bereiken via info@tajriba.nl.

EN:

Dear reader,

This e-mail address is not used anymore.

You can reach us via info@tajriba.nl.

[2020-09-07 09:07] khouloudbelguith commented on #20825
Hi @msaustral,

I did not manage to reproduce the issue with `ps_emailalerts` module v2.2.1.
I received those mails
![image](https://user-images.githubusercontent.com/16067358/92369895-ddfba180-f0f9-11ea-891b-7e1e162ce0f5.png)
Here's my configuration
![image](https://user-images.githubusercontent.com/16067358/92369968-f2d83500-f0f9-11ea-8d12-2f345661d83f.png)
Here's the list of employee's
![image]

[2020-09-07 09:20] khouloudbelguith commented on #20871
Hi @onklmaps,

I did not manage to reproduce the issue with PS1.7.6.7.
I checked two options:
1. delete a module from the folder manually => ok
2. uninstall a module & then delete it from the module folder manually => ok

I attached a screen record
https://www.awesomescreenshot.com/video/876372?key=343a0f079b5c03470d9fc89825e167fd
Thanks to check and feedback.

[2020-09-07 09:26] PierreRambaud commented on #20034
There is already a cache system in the Db class to improve performance when a request has already been executed.

[2020-09-07 09:29] khouloudbelguith commented on #20872
Hi @onklmaps,

Thanks for your report.
I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/10164, isn't?

Thanks to check and feedback.

[2020-09-07 09:48] khouloudbelguith commented on #20820
Hi @Hlavtox,

I tried with 1770beta2, PHP7.2, but I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1s2EUMe8gLXo2PpgJHBiiAO97lGJDtE37/view?usp=sharing
In the file /var/logs/dev.log, I couldn't find any error similar to this
[code]

Thanks to check and feedback.

[2020-09-07 09:50] #12556 closed, assigned to Progi1984, khouloudbelguith

[2020-09-07 09:59] khouloudbelguith commented on #20835
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-09-07 10:02] ttoine commented on #16004
Hello @8ternity if this is a critical issue for your business, you could have proposed a pull request, or, if your company devs can't do it, you could have hired someone to fix it in a pull request. There are freelancers that can solve this kind of issue.

Please note that PrestaShop is an open source project. Anyone is welcome to improve it. It's not just the job of the PrestaShop company team.

[2020-09-07 10:34] LouiseBonnard commented on #20862
Nice idea, thanks @matks! I suggest displaying it every time a user goes to his store, so at each connection, on the first page displayed. A popup like a modal might be more effective since it requires an action from the user to either _Upgrade_ (redirecting to https://www.php.net/downloads?) or _Close_ the window. @TristanLDD, @prestascott, what do you recommend?

For the warning message, I propo

[2020-09-07 12:09] djbuch opened #20874 "Performance problem with the ps_crossselling"
#### Describe the bug

When a shop has thousands of orders, the cross selling query can be very slow

#### Expected behavior

Speed up the query

#### Steps to Reproduce

Have a shop with a lot of orders and try to add to the cart with the cross selling module enabled.

#### Additional information

* PrestaShop version: N/A
* PHP version: N/A

[2020-09-07 12:26] ghost opened #20875 "Enable SSL and SLL on all page if url to install is SSL"
#### Is your feature request related to a problem?

Enable SSL and SLL on all page if url to install is SSL

#### Describe the solution you'd like

I test the last 1.7.7.0.beta2, if i install the shop from an https url when i go on the back office il have some mixed contents blocked and i can't close tutorial ... and other options.

If your screen resolution is low you can't acces to the option to

[2020-09-07 12:29] Angar90 commented on #20869
Hello @khouloudbelguith

I use English as the default shop language and employee language.
I recorded a screen to show how to repeat this problem:
https://www.loom.com/share/2b4162fa16804cf48de647b9205aa899

If you want to check this in my test shop, use these login data:
http://presta.usermd.net/demo/P1767/admin123
khouloudbelguith@prestashop.com
12345678

At first, one of my customers reported t

[2020-09-07 12:39] LouiseBonnard commented on #20834
Hi there! You're absolutely right, there is no 'Short Description' section for the suppliers while there is one for the brands. Hard to tell if it has been removed on purpose or if it is missing... Most of the time, brands and suppliers share the same behavior but we can guess that the needs regarding their display might not be exactly the same.

@letwang, is it a feature you would need for your s

[2020-09-07 12:51] PierreRambaud commented on #20862
You're considering they are using only and outdated version. What about recent versions of PHP that are not already supported?

[2020-09-07 12:56] LouiseBonnard commented on #20862
We could think about a wording that would apply to both cases then.

[2020-09-07 12:56] PierreRambaud commented on #20835
All these calls are only in the backend, so people using the website are not affected. But the current cache is one week, it's enough I think, and shouldn't be improved. The real problem is, If addons.prestashop.com is slow, we should handle the request with a circuit breaker.

[2020-09-07 12:58] #20865 closed, assigned to nobody

[2020-09-07 12:58] ngodefroy opened #20877 "[BO] [HELP BOXES] on reduced screen size & while opening helpbox in another tab we get a blank page"
#### Describe the bug

Working on a reduced screen size (starting at 1199 x1556), when I click on the help boxes on some pages, it opens a tab with a blank page/
Also, on normal screen size, when I click on the button to open the help box in another tab, I get same blank page.

#### Expected behavior

Everywhere on the BO, I should be able to see the helpbox in a smaller screen size / opening the

[2020-09-07 12:59] PierreRambaud commented on #20865
It's ok, and already merged :D

[2020-09-07 12:59] guirou62 commented on #20772
Hi,

If someone has an idea about how to change the order status after an order change, I'm really interested because I'm working on a new website which will public in a couple of weeks.

Thanks

[2020-09-07 13:02] ghost opened #20878 "Don't use {$base_url} gamification module"
#### Describe the bug

{$base_url} is not https

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'AdminGamification'
2. Open console

[2020-09-07 13:13] khouloudbelguith commented on #20875
Hi @okom3pom,

Hi @okom3pom,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/19791 to fix the issue
Your ticket is a duplicate of #10482
So, I close it.
Thanks!

[2020-09-07 13:13] #20875 closed, assigned to nobody

[2020-09-07 13:13] khouloudbelguith commented on #20875
Duplicate of #10482

[2020-09-07 13:21] ghost opened #20879 "PrestaShop Addons returns an iframe in http instead of https"
#### Describe the bug

addons.prestashop.com return an iframe not https

#### Steps to Reproduce

Open console go to theme catalogue

I use ps_mbo 2.0.1

Same issue closed : https://github.com/PrestaShop/PrestaShop/issues/18500

![Capture d’écran de 2020-09-07 15-18-01](https://user-images.githubusercontent.com/5064590/92391647-59227f00-f11d-11ea-8bb0-77ee5d30c147.png)

![Capture d’écran de 2020-0

[2020-09-07 13:22] okom3pom commented on #18500
@Matt75 @sarahdib  not fixed

https://github.com/PrestaShop/PrestaShop/issues/20879

[2020-09-07 13:23] khouloudbelguith commented on #20878
Hi @okom3pom,

Thanks for your report.
- What is the exact error in the console?
- The SSL option is enabled in your case?
- Did you `Https://?`

Thanks!

[2020-09-07 13:27] PierreRambaud commented on #14083
I disagree, `$sqlSelect` is used in the foreach statement, it can be used with custom params :thinking:
The second one can also be used in order to play with what has been created before :sweat_smile:
In fact, we have simple choices here:
- Change hooks name with `After` and `Before`, but it's a BC
- Add a params to define which hook is called (it's ugly)
- Add a property on your class to define i

[2020-09-07 13:32] okom3pom commented on #20875
1.7.8.0 oh :)

Sorry for duplicate.

[2020-09-07 13:35] okom3pom commented on #20879
Same for this url

/adminXXXXX/index.php/modules/addons/modules/catalog/selection

[2020-09-07 13:40] khouloudbelguith commented on #20879
Hi @okom3pom,

I did not manage to reproduce the issue with PrestaShop 1770beta2 and ps_mbo module v2.0.1.
I attached a screen record
https://drive.google.com/file/d/1VUiugNcQx6vHzMuk8CsssojEjd1JCJW3/view?usp=sharing

Thanks to check and feedback.

[2020-09-07 13:41] okom3pom commented on #20878
Hi @khouloudbelguith

I actualy test the 1.7.7.0-beta2

Screenshot :

![Capture d’écran de 2020-09-07 15-39-32](https://user-images.githubusercontent.com/5064590/92393604-6ee57380-f120-11ea-966b-f976b81a0d50.png)
![Capture d’écran de 2020-09-07 15-39-22](https://user-images.githubusercontent.com/5064590/92393614-70af3700-f120-11ea-91ea-510d7a864d72.png)

[2020-09-07 13:43] okom3pom commented on #20879
:D

Please use https, if you don't use https, it is normal

[2020-09-07 13:44] #19111 closed, assigned to nobody

[2020-09-07 13:47] khouloudbelguith commented on #20878
@okom3pom, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.7 and 1770beta2
![image](https://user-images.githubusercontent.com/16067358/92394216-66da0380-f121-11ea-919f-7bd39b4e6ca3.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-09-07 13:47] khouloudbelguith commented on #20878
Related to https://github.com/PrestaShop/PrestaShop/issues/9807, https://github.com/PrestaShop/PrestaShop/issues/12253

[2020-09-07 13:54] jeckyl opened #20880 "The name of the manufacturer does not go up any more in ps_facetedsearch"
#### Describe the bug

The name of the manufacturer does not go up any more in ps_facetedsearch

#### Expected behavior

It would be necessary that the name of the manufacturer goes back as on the previous versions to be used in the product listing as before with {$product.manufacturer_name}

#### Steps to Reproduce

use version 3.5.0

#### Additional information

* PrestaShop version: 1.7.6.7
* P

[2020-09-07 13:56] Julievrz commented on #20862
What do you think of this sentence: " You are using a PHP version that is not supported and this can affect your store. Please check [PHP requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements) and change your PHP version."

[2020-09-07 13:56] khouloudbelguith commented on #20879
@okom3pom, yes you are right.
Still not fixed with ps_mbo v2.0.1.
I manage to reproduce the issue with PS1.7.6.7 and 1770beta2 using ps_mbo module v2.0.1.
I attached a screen record
https://drive.google.com/file/d/1OU1PTJ-pUtsS0Ep-3QPTmmI_4uwBAwYD/view?usp=sharing
![image](https://user-images.githubusercontent.com/16067358/92394732-59714900-f122-11ea-8082-131b9e283886.png)

Ping @Matt75

Thanks!

[2020-09-07 14:06] khouloudbelguith commented on #20877
Hi @ngodefroy,

I manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/92395726-187a3400-f124-11ea-9bfc-75321422addc.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-09-07 14:07] jolelievre commented on #20818
Hi everyone,

I raise this topic again to decide what we can do for this issue. I think introducing the `deleted` field on Product would be the best solution. So product would be soft deleted when they are associated to an order (maybe a cart as well).

However this implies quite some changes in various part of the code, especially on the FO where deleted products will have to be filtered. This is

[2020-09-07 14:18] Matt75 commented on #20879
Issue is not in ps_mbo, we load external content from Addons, see https://github.com/PrestaShopCorp/ps_mbo/blob/master/src/AddonsSelectionLinkProvider.php#L78

Problem is on https://addons.prestashop.com/iframe/search-1.7.php page

[2020-09-07 14:22] khouloudbelguith commented on #20879
@Matt75, thanks for these clarifications.
As it is not a PrestaShop core issue.

I will close the ticket.

Thanks!

[2020-09-07 14:22] #20879 closed, assigned to nobody

[2020-09-07 14:26] Matt75 commented on #20879
@okom3pom I reported this issue to Addons team to fix source code of https://addons.prestashop.com/iframe/search-1.7.php

[2020-09-07 14:32] khouloudbelguith commented on #20880
Hi @jeckyl,

I did not manage to reproduce the issue with PS1.7.6.7 and ps_facetedsearch v3.5.0.
I attached a screen record
https://drive.google.com/file/d/1GmBnAxfRqHbDEvr_yqa6dmpTAPShfZzc/view?usp=sharing
Thanks to check and feedback.

[2020-09-07 14:36] khouloudbelguith commented on #20869
@Angar90, you are using Nginx.
It is a problem in your Nginx configuration, thanks to check this [link](https://github.com/PrestaShop/PrestaShop/blob/e51d7eaa0164118b88d8cdcddbbe60e64aff7c64/docs/server_config/nginx.conf.dist)
Recently, this file is updated to show how to use multishop and multilanguage as fixed [here](https://github.com/PrestaShop/PrestaShop/pull/12082/files).
Thanks to check and

[2020-09-07 14:52] jeckyl commented on #20880
category with module activated
![category-with-ps_facetedsearch](https://user-images.githubusercontent.com/595633/92399207-3480d400-f12a-11ea-8c9e-81f99900231e.png)

category without module
![category-without-ps_facetedsearch](https://user-images.githubusercontent.com/595633/92399234-419dc300-f12a-11ea-9e47-57bc0f314380.png)

Home with or without module
![home-with-brand-on-product](https://user-i

[2020-09-07 14:58] NoZTurn commented on #20869
I sometime also come accoss with this problem before, I check this myself, and find if your link-rewrite is empty, there problem will exist, and I guess, maybe because the link rewrite form's uses product name as default value(ignore ' ' will repleace to '-'), but when product name is chinese or japanese, we konw that chinese and japanese charactor can't be used in url, so the link write form is e

[2020-09-07 15:11] khouloudbelguith commented on #20869
@NoZTurn,

You need to enable `Accented URL`
![image](https://user-images.githubusercontent.com/16067358/92400260-f4225580-f12b-11ea-8bc6-2275091215db.png)

Thanks to check and feedback.

[2020-09-07 15:27] msaustral commented on #20825
Hi, thank you for your answer, we will check and get back to you, thank you

[2020-09-07 15:32] khouloudbelguith commented on #20880
@jeckyl, but in this case you are using a theme not provided by PrestaShop Core.
With the theme Classic, the Brand is not displayed
![image](https://user-images.githubusercontent.com/16067358/92402498-f1c1fa80-f12f-11ea-9586-dd7c0f29e1ab.png)
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com acc

[2020-09-07 15:32] khouloudbelguith commented on #20825
@msaustral, thanks!
Waiting for your feedback.

[2020-09-07 15:35] Angar90 commented on #20869
@khouloudbelguith @NoZTurn Thanks for the help, I enabled "Accented URL" and now everything is ok.

Regards

[2020-09-07 15:37] khouloudbelguith commented on #20869
@Angar90,

Great!
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-09-07 15:39] jeckyl commented on #20880
The concern does not come from the template but from the basic variables proposed by PrestaShop and absent when activating this module, no link with the template it is indeed the module that causes this as shown very clearly in the screenshots provided since without this module and on the home page where it is not active it is displayed without the slightest concern.

Donc pourquoi nce module modi

[2020-09-07 15:39] #20869 closed, assigned to nobody

[2020-09-07 15:45] khouloudbelguith commented on #20880
Ping @PierreRambaud what do you think?

Thanks!

[2020-09-07 15:49] khouloudbelguith commented on #20874
Hi @djbuch,

I have more than 70 orders, the `ps_crossselling` is enabled
But in the FO, Adding a product to the cart => ok
I attached a screen record
https://drive.google.com/file/d/10ETi6DxwuH5SUGWoMrc1MZ8SmGY_3udR/view?usp=sharing
Thanks to check and feedback.

[2020-09-07 15:58] Matt75 commented on #20879
@okom3pom Addons team has fixed this issue, thanks for reporting

[2020-09-07 16:06] NoZTurn commented on #20869
@khouloudbelguith Thanks for your infomation, and I will give a try. and also @Angar90 thanks for your report, I just know and remenber to to fill link rewrite form for chinese and japanese language, and after your issue and khouloudbelguith's tips, I have learned a trick.

[2020-09-07 16:09] LouiseBonnard commented on #20818
It suits me fine, thanks @jolelievre! I've just updated your comment with a wording that better matches the software's terminology and with the proper domain.

[2020-09-07 16:28] djbuch commented on #20874
Hello 70 orders is just nothing, I'm talking about real world shops with 100K orders.

[2020-09-07 16:34] sowbiba commented on #19906
I tested it. There is a bug with total_shipping not saved. But id_carrier is saved

I did a simple test with a non free carrier

[code]

[2020-09-07 17:04] sowbiba commented on #19906
Duplicates https://github.com/PrestaShop/PrestaShop/issues/11945

[2020-09-07 17:05] sowbiba commented on #11945
I close this one. Please see https://github.com/PrestaShop/PrestaShop/issues/19906

[2020-09-07 17:05] #11945 closed, assigned to nobody

[2020-09-07 17:24] domaingood commented on #20677
@Hlavtox Just Add
hello-world
hello-world-2
hello-world-3
Admin can change Their URL Later like WordPress.

[2020-09-07 17:33] stepel commented on #19906
Hi,

if you want to create order by web api you need to do it in a specific order.
First you need to create addresses , then cart etc. Actually order is created basen on a cart.

[2020-09-08 04:56] okom3pom commented on #20879
Thank's

[2020-09-08 06:11] ghost opened #20884 "Uncaught TypeError: e.indexOf is not a function psgdpr"
#### Describe the bug

Uncaught TypeError: e.indexOf is not a function

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Use prestashop 1.7.7.0-beta2
1. Go to 'order'
2. Open console
3. See error

**Screenshots**

![Capture d’écran de 2020-09-08 08-07-08](https://user-images.githubusercontent.com/5064590/92439196-a567d080-f1aa-11ea-9729-0580ce2e3404.png)

#### Additional information

[2020-09-08 06:48] ghost opened #20885 "Notifications not working"
#### Describe the bug

Notifications not working, They stay at 7

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'admin'
2. Click on 'Notifications'

#### Additional information

* PrestaShop version: 1.7.0.0-beta2
* PHP version: N/A

[2020-09-08 07:22] bgolemba opened #20886 "Contact form - unable to reply via link"
#### Describe the bug
When user tries to reply to message via link the contact form throws ContextErrorException: Undefined offset: 0.
Bugs occurs only when customer previously didn't write any message via contact form (for ex. by adding message to order).
Problem lies in zeroed id_contact field in ps_customer_thread table.

#### Expected behavior
Load of contact form even if any contact isn't ass

[2020-09-08 07:24] dngraphisme commented on #17856
Hello,

Same issue with this error : PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <-- \n  thrown in /var/www/html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177

PS 1.7.6.1 > Theme custom with child

Serveur Linux #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64
Apache/2.4.38 (Debian)
PHP : 7.2.32-1+0~20200710.46+debian10~1.gbp625e

[2020-09-08 07:24] Hlavtox commented on #20818
@LouiseBonnard @jolelievre @eternoendless

Guys, what about taking it from the other end?

I wanted to introduce you an idea, when merchant can add a non existent product to an order. He woud click add custom line, enter name, price, tax, quantity, done. Without having to creating this product in catalog section. This is for custom scenarios when customer wants some spare parts or product out of y

[2020-09-08 07:50] Olivier-Henry commented on #20835
hi,
i have a suggest for a little improvement of  current behavior.
when i take a look on code, it appear than all api call are made at the same time when cache time has expired. So, if the one week cache expire on sunday, the first user to connect monday morning, will get all api call in first query. If each query take 30 seconds, you can calculate...

A simple way is divide to better reign, mayb

[2020-09-08 07:51] khouloudbelguith commented on #20884
Hi @okom3pom,

You can find here PRs to fix the issue:
https://github.com/PrestaShopCorp/psgdpr/pull/96
https://github.com/PrestaShop/PrestaShop/pull/20628
Your ticket is a duplicate of #18776
So, I close it.
Thanks!

[2020-09-08 07:51] #20884 closed, assigned to nobody

[2020-09-08 07:51] khouloudbelguith commented on #20884
Duplicate of #18776

[2020-09-08 07:54] khouloudbelguith commented on #20885
Hi @okom3pom,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20188 to fix the issue.
Your ticket is a duplicate of #20169
So, I close it.
Thanks!

[2020-09-08 07:54] #20885 closed, assigned to nobody

[2020-09-08 07:54] khouloudbelguith commented on #20885
Duplicate of #20169

[2020-09-08 07:54] fest73 opened #20887 "Tax and tax name are not recorded"
#### Describe the bug

Tax and tax name are not recorded

#### Expected behavior

The product needs to record the tax and its name

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create new order
2. Open table order_detail
3. Look columns tax_rate and tax_name

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional informa

[2020-09-08 07:57] khouloudbelguith commented on #20886
Hi @bgolemba,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #20041
So, I close it.
Thanks!

[2020-09-08 07:57] #20886 closed, assigned to nobody

[2020-09-08 07:57] khouloudbelguith commented on #20886
Duplicate of #20041

[2020-09-08 07:58] PierreRambaud commented on #20835
The problem with cron is that some people are not able to trigger them because of server configuration.

[2020-09-08 08:05] okom3pom commented on #20885
Ok good;

You can explain to me how you find the duplications.

I looked in the issues before posting them but no result :)

[2020-09-08 08:11] HartLarsson opened #20889 "Total cart calculation error with vouchers"
#### Describe the bug

I've noticed a clear error in total cart calculation.

Prices are inserted Tax included (22% in italy) and the custoemr is from Canada, so all prices are Tax free, and seems Prestashop works good.
Decimal are 2 (setup in backoffice)

![image](https://user-images.githubusercontent.com/16102074/92451105-94c05600-f1bc-11ea-8001-067cde91d635.png)

In the customer order there is

[2020-09-08 08:17] bgolemba commented on #20886
It's not exactly the same issue because in that case proposed solution in #20041 doesn't work.
I managed to fix that problem just by modifying that line
from this: `if (isset($this->customer_thread['id_contact']){`
to that: `if (isset($this->customer_thread['id_contact']) && $this->customer_thread['id_contact'] != 0) {`

[2020-09-08 08:19] khouloudbelguith commented on #20886
@bgolemba, no there is no PR related to this issue: #20041.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-09-08 08:20] SimonGrn commented on #20496
Hello @dariusakafest
we cannot validate your PR until you help us reproduce your issue here.
Please provide us the file you used to find this issue.

Thanks in advance.

[2020-09-08 08:22] khouloudbelguith commented on #20887
Hi @dariusakafest,

Thanks for your report.
I manage to reproduce the issue with PS1767 and PS1700beta2.
![image](https://user-images.githubusercontent.com/16067358/92451576-33e54d80-f1bd-11ea-9384-da667763af4a.png)
I’ll add this to the debug roadmap so that it’s fixed.
Thanks!

[2020-09-08 08:29] khouloudbelguith commented on #20885
@okom3pom, you can search for issues with Labels:slightly_smiling_face:
![image](https://user-images.githubusercontent.com/16067358/92452285-27152980-f1be-11ea-8f9e-2887d41d4376.png)

Thanks!!

[2020-09-08 08:36] bgolemba commented on #20886
My solution to problem is just a workaround. contactform.php should be reworked as mentioned in #20041 .

[2020-09-08 08:37] khouloudbelguith commented on #20889
Hi @HartLarsson,

Thanks for your report.
This is a rounding issue.
We are awre of this issue, it is added to our debug roadmap.
Your issue will be fixed in this Epic: https://github.com/PrestaShop/PrestaShop/issues/19445
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9779
So, I close it.
Thanks!

[2020-09-08 08:37] #20889 closed, assigned to nobody

[2020-09-08 08:37] khouloudbelguith commented on #20889
Duplicate of #9779

[2020-09-08 08:46] Olivier-Henry commented on #20835
Oh i see, and the minimum system requirements don't leave many possibilities... after thinking, my first suggest is not efficient, it has same behavior if the user login after one week.

[2020-09-08 08:49] HartLarsson commented on #20889
the fix will be applied to 1.7.6.x branch too?

thanks

[2020-09-08 08:49] PierreRambaud commented on #20835
The circuit breaker is the solution here I think

[2020-09-08 08:58] ngodefroy opened #20890 "[BO] [Left Menu] scroll down not locked after sign out page"
#### Describe the bug

Click on orders>orders then click back on left menu scroll down and see that the menu can be scrolled down way after the last "sign out" page

#### Expected behavior

When you open for the first time the menu and you scroll down, it doesn't go belong the sign out, this behavior should be applied everywhere on the menu.

#### Steps to Reproduce

Steps to reproduce the behavio

[2020-09-08 09:05] sowbiba commented on #19906
Hi, all the elements was created before the WS request. The IDs in the request are existing ones

[2020-09-08 09:09] matthieu-rolland commented on #20818
I prefer @jolelievre 's idea since we already have a generic soft delete mechanism on prestashop model objects, let's be consistent, your scenario is interesting but complexifies the code imho :/

[2020-09-08 09:25] khouloudbelguith commented on #20889
In the 176x branch, we add security patches and the fix for regressions.

Thanks!

[2020-09-08 09:42] khouloudbelguith commented on #20890
Hi @ngodefroy,

I manage to reproduce the issue with PS1770beta2.
It is a regression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-09-08 09:43] khouloudbelguith commented on #20890
Ping @NeOMakinG

[2020-09-08 09:45] HartLarsson commented on #14640
Italian Store with Euro only
![image](https://user-images.githubusercontent.com/16102074/92460755-9f80e800-f1c8-11ea-8fe4-3fc8bd3ae085.png)

But when i write the Tax included field with 19,00 euro and save the product when i edit back i see this:

![image](https://user-images.githubusercontent.com/16102074/92460821-b6273f00-f1c8-11ea-8287-758e596da71f.png)

PS 1.7.6.7

[2020-09-08 10:10] ngodefroy opened #20892 "[BO] [Gamification][NOTIFICATIONS] IHM is broken under certain circumstances"
#### Describe the bug

When I connect on PS, I click on the crown in the top right corner to see the different badges, its ok they are correctly displayed.
If I switch to orders>orders for instance, then click back on the crown, the png badges are broken.

Same problem occurs when clicking on the notifications icon, the CSS is broken.

#### Expected behavior

WAD

#### Steps to Reproduce

Steps to

[2020-09-08 10:16] khouloudbelguith commented on #20892
Hi @ngodefroy,

I manage to reproduce the issue with PS1767 and the gamification module v2.3.2.
![image](https://user-images.githubusercontent.com/16067358/92464170-128c5d80-f1cd-11ea-8916-42e9ec78dfb0.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-09-08 10:57] Hlavtox commented on #20848
@matks I can imagine a situation where you need to debug a speed/problem in some hook. You need to know if it is caused by PS itself or some module. Insteand of unhooking 8 modules, you just flick a switch.

_active_ flag could be added to _ps_hook_ and checked when executing the hook. No backward incompatibility.

[2020-09-08 11:01] okom3pom commented on #20892
https://github.com/PrestaShop/gamification/pull/72

Dépend if you are on legacy or controller

[2020-09-08 11:09] khouloudbelguith commented on #11945
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19906

[2020-09-08 11:23] khouloudbelguith commented on #20642
Hi @grzegorzgit,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-09-08 11:23] #20642 closed, assigned to nobody

[2020-09-08 11:23] HartLarsson commented on #20889
i did a little test modify on ps_currency table the precision to 3 decimals and keep in BO the 2 decimals view.

calculating on excel:
![image](https://user-images.githubusercontent.com/16102074/92470163-52a40e00-f1d6-11ea-9eb2-960561cf2181.png)

the result on PS
![image](https://user-images.githubusercontent.com/16102074/92470201-651e4780-f1d6-11ea-80c9-72bd54b532cd.png)

seems matching.

I don't

[2020-09-08 11:24] khouloudbelguith commented on #20874
@djbuch, I will try to create a lot of orders, check, and feedback.
Thanks!

[2020-09-08 11:33] khouloudbelguith commented on #20889
@HartLarsson, the currency precision will be fixed in the next 1700 version
BO
![image](https://user-images.githubusercontent.com/16067358/92470967-77e54c00-f1d7-11ea-9d70-ffeb1eb17832.png)

FO
![image](https://user-images.githubusercontent.com/16067358/92471156-c0046e80-f1d7-11ea-868e-6dd8443ef513.png)

Also, you can follow this PR: https://github.com/PrestaShop/PrestaShop/pull/20378

Thanks!

[2020-09-08 11:42] HartLarsson commented on #20889
i re edited the post, i forgot i've made percision 2 and name= Euro that was black and now works.
That is very strange because with a Blank name variable the calculation was wrong?

[2020-09-08 11:47] HartLarsson commented on #20889
so the computing precision variable will be taken in next patch from ps_currency.precision field?

i see in the pr: #20378 the use of: Context::getContext()->getComputingPrecision());

[2020-09-08 12:15] ghost opened #20894 "glyph.png is missing"
#### Describe the bug

Active debug mode on prestashop 1.7.7.0-beta2 open console and see error

We found the directory and the png in prestashop 1.7.6.x  release

But i don't find where the directory **scss** is ignore for the release.

I can  move the file in /admin-dev/themes/new-theme/img/glyph.png

and edit /src/PrestaShopBundle/Resources/views/Admin/WebProfiler/config.html.twig with the good

[2020-09-08 12:53] khouloudbelguith commented on #20894
Hi @okom3pom,

I manage to reproduce the issue with PS17.7.x
![image](https://user-images.githubusercontent.com/16067358/92478746-e8de3100-f1e2-11ea-90bc-791bbfc4bdf3.png)
It is ok with PS1.7.6.7
![image](https://user-images.githubusercontent.com/16067358/92478788-fbf10100-f1e2-11ea-8981-a9afeebc0aef.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your e

[2020-09-08 12:54] ngodefroy opened #20895 "[BO] [Orders] Adding order with new customer impossible - error"
#### Describe the bug

In the BO, I add a new order with a new customer, after I created the customer, I choose the new customer to initiate new order but I get an error

#### Expected behavior

Being able to initiate order in the BO with new customer

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders
2. Click on new order and create a new customer
3. After creating the cu

[2020-09-08 12:57] bm-services commented on #18599
Hello,
We encounter often this problem.
Ideally, it must a command line to regenerate thumbnails.

[2020-09-08 13:09] Progi1984 commented on #20835
@PierreRambaud I agree with you.

[2020-09-08 13:16] LouiseBonnard commented on #18599
@PrestaShop/prestashop-core-developers, could you have a look at this suggestion? What do you think?

[2020-09-08 13:22] khouloudbelguith commented on #20894
Hi @okom3pom,

The issue fixed with 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/92481689-00b7b400-f1e7-11ea-9eb4-5061ca01bcc7.png)
I close this issue since it is fixed.

Thanks!

[2020-09-08 13:27] khouloudbelguith commented on #20895
Hi @ngodefroy,

This issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/20643
I think it will be fixed when 177x is merged into develop.
Ping @atomiix what do you think?

Thanks!

[2020-09-08 13:38] okom3pom commented on #20894
@khouloudbelguith

I download the Nightly releases of PrestaShop

https://console.cloud.google.com/storage/browser/_details/prestashop-core-nightly/2020-09-07-1.7.7.x-prestashop_1.7.7.0.zip

The scss folder is not present i think is  When a version is made the scss folder are ignored now ?

[2020-09-08 13:49] jonpontet opened #20897 "No Email Theme page in PrestaShop v1.7.6.5"
#### Describe the bug

Despite being launched for v1.7.6 (http://doc.prestashop.com/display/PS17/Email+Theme), I do not find the Email Theme page (under Design in the backoffice) in v1.7.6.5. Did it regress?

#### Expected behavior

I can see that it is working again in v1.7.6.7, but I need it in v1.7.6.5

**Can anyone help me have this working in v1.7.6.5?**

#### Steps to Reproduce

Steps to rep

[2020-09-08 13:51] onklmaps commented on #20872
Hi, thanks for the response, but no - this is another issue.

[2020-09-08 14:10] khouloudbelguith commented on #20872
@onklmaps, can you provide us a demo module to reproduce the issue.
Thanks!

[2020-09-08 14:21] khouloudbelguith commented on #20874
@djbuch, I tried with 2K orders, and the adding to cart is slow comparing other shop.
I manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1cyXDWWq7dOnEXiMwBQIOk1RL1X-ZtUWY/view?usp=sharing

I will add the issue to the debug roadmap.
Thanks!

[2020-09-08 14:24] khouloudbelguith commented on #20897
Hi @jonpontet,

I did not manage to reproduce the issue with PS1.7.6.5.
The Email Theme is well displayed
I attached a screen record
https://drive.google.com/file/d/1TUv1IlZRdxM1FJJvMrm1o0fuuMhR3Y08/view?usp=sharing
Did you use a superadmin employee?

Thanks!

[2020-09-08 14:29] #20887 closed, assigned to nobody

[2020-09-08 14:41] khouloudbelguith commented on #20894
@okom3pom, I tried to install this version, but I don't have an error in the console about `glyph.png`.
https://drive.google.com/file/d/1S0Od04asv2xD6AAKmO8-NQTrgBBYcsGO/view?usp=sharing

Thanks!

[2020-09-08 14:54] Hlavtox opened #20900 "Grey lines on generated images with white background"
#### Describe the bug

GD library that Prestashop is using to generate it's thumbnails is making strange artifacts and grey lines on images. It's very irritating on images with white background.

#### Steps to Reproduce
1. Set your Prestashop image settings to standard - JPG and 85-90% quality.
2. Make a product. Upload any image with white background.
3. Go to FO and view it's thumbnail in produc

[2020-09-08 14:59] JoryHogeveen commented on #20808
+1

[2020-09-08 15:01] okom3pom commented on #20894
Active débug :)

[2020-09-08 15:03] JoryHogeveen opened #20901 "Classic theme uses alpha version of Bootstrap"
Currently the classic Prestashop theme uses Bootstrap v4.0.0-alpha.5
Even though I don't get why an alpha release was distributed in the first place, I believe it's best to update this to the latest version a.s.a.p.

Related issue (admin): #20808

* PrestaShop version: latest
* PHP version: N/A

[2020-09-08 15:07] matks commented on #20901
Hi, unfortunately we cannot do that because it would introduce a very massive Breaking Change 😞 .

You will find all details about this sad topic here:
- https://github.com/PrestaShop/PrestaShop/issues/14533#issuecomment-511464778
- https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-3-the-future-architecture/

We wish we could but ... it cannot be done now. We must wait next majo

[2020-09-08 15:07] #20901 closed, assigned to nobody

[2020-09-08 15:08] matks commented on #20808
Hi, unfortunately we cannot do that because it would introduce a very massive Breaking Change 😞 .

You will find all details about this sad topic here:
- https://github.com/PrestaShop/PrestaShop/issues/14533#issuecomment-511464778
- https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-3-the-future-architecture/

We wish we could but ... it cannot be done now. We must wait next majo

[2020-09-08 15:08] #20808 closed, assigned to nobody

[2020-09-08 15:17] khouloudbelguith commented on #20900
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/92495343-1634da00-f1f7-11ea-8cb7-6621e337d548.png)
I used iPhone11.
Could you please try with this image if you have some issues?
![image](https://user-images.githubusercontent.com/16067358/92495447-32d11200-f1f7-11ea-9f7a-6ac091bab2a3.png)

Thanks!

[2020-09-08 15:21] khouloudbelguith commented on #20894
@okom3pom, you are right.
Thanks for the clarification.
![image](https://user-images.githubusercontent.com/16067358/92495732-8f343180-f1f7-11ea-859c-6539dfd65078.png)
Ping @PrestaShop/prestashop-core-developers what do you think?
This issue is reproduced with releases 1770beta2, Nightly release.
With 177x branch => ok
PS: with PS1767 => ok

@okom3pom, I will re-open the issue.

Thanks!

[2020-09-08 15:23] cowherdboy commented on #14754
@Hlavtox I am trying to implement this but it is failing with error code 500 on this line:
'{delivery_block_txt}' => $this->_getFormatedAddress($delivery, "\n"),

What is the correct syntax for "$this->_getFormatedAddress" for PS 1.7.6.4?

[2020-09-08 15:26] Hlavtox commented on #20900
@khouloudbelguith I see it on your screenshot. 😄

![92495343-1634da00-f1f7-11ea-8cb7-6621e337d548](https://user-images.githubusercontent.com/6097524/92496321-48930700-f1f8-11ea-812e-39d126d37490.png)

[2020-09-08 15:27] PierreRambaud commented on #20900
Nice catch @Hlavtox

[2020-09-08 15:39] ngodefroy commented on #20900
Hello @Hlavtox !
I am using a macbook with LG display, I wasn't able to reproduce it :s
<img width="1379" alt="Capture d’écran 2020-09-08 à 17 37 45" src="https://user-images.githubusercontent.com/69145330/92497720-023ea780-f1fa-11ea-8518-bcebe441d604.png">

[2020-09-08 15:39] Hlavtox commented on #14754
@cowherdboy Ooops, add this under the original code, sorry. Let me know if it works ;-)

[code]

[2020-09-08 15:43] Hlavtox commented on #20900
@ngodefroy Not looking close enough.

If you don't see it, open Photoshop or gimp and replace #fefefe with red and you get this.

<img width="1379" alt="replaced" src="https://user-images.githubusercontent.com/6097524/92498217-a6c0e980-f1fa-11ea-8931-1b5057467fb5.png">

[2020-09-08 15:56] PululuK commented on #20862
Hi @matks
We also need to add an alert on system information, something like this :
![image](https://user-images.githubusercontent.com/16455155/92499630-6498a780-f1fc-11ea-875c-20fd8f0c8b98.png)

[2020-09-08 16:17] matthieu-rolland opened #20904 "jquery-migrate is loaded two times in FO"
#### Describe the bug

It seems like jquery-migrate is being loaded two times in FO.

#### Expected behavior

Jquery-migrate should be loaded only once.

#### Steps to Reproduce

1/ Go to FO's home page
2 Check the console

**Screenshots**
<img width="719" alt="Capture d’écran 2020-09-08 à 18 14 28" src="https://user-images.githubusercontent.com/1784781/92501772-48e2d080-f1ff-11ea-8ea8-0c3cfda5d

[2020-09-08 16:38] guille889 commented on #14978
Somebody have the solution? Ty!!!

[2020-09-08 16:57] LouiseBonnard commented on #20469
@Julievrz, for your information. ;-)

@matks, thanks for your reply, would that be possible to at least have the three buttons to enrich the preview of the documentation page?

Just forget about the feedback option, it might be very complicated for nothing, we have no clue on how it currently works anyway, and the data team does not seem to know either. 😢

[2020-09-08 20:43] Hlavtox commented on #20900
@khouloudbelguith @ngodefroy The lines are perfectly visible on iPhone XS or 11 Pro with max brigtness.

[2020-09-08 20:58] matks commented on #20469
Items 2 and 3 are easy.

Item 1 might be hard because the "tree view" must come from where the documentation is stored: the application behind help.prestashop.com. It must either return the "ready to be viewed" tree, or return the data necessary for us to build the tree (and them display it). But something must be done on help.prestashop.com API endpoint in charge of migrated pages.

Looks like so

[2020-09-08 23:18] ProteanCode opened #20907 "Many POST request to /index.php?controller=statistics that returns 499 http code?"
Prestashop: 1.7.6.4
PHP: 7.2

I am having a trouble with diagnosing this thing since I dont know if this is a bug or misconfiguration at my side.

By using traefik I got some of the logs about requests and there is a lot of

[code]

I lack a required knowledge to understand where the problem is so my main question is if these requests are made by prestashop core modules?

Any clue would be helpful

[2020-09-09 00:14] kpodemski opened #20908 "Nestes tabs in BO issue"
#### Describe the bug

We can't (or i'm doing it wrong) create nested tabs properly using new tab registration method. My menu:

![image](https://user-images.githubusercontent.com/2137763/92539313-6173da80-f241-11ea-983c-8837800a94bc.png)

In my opinion, there are two issues:

- we should be able to use something like `skip_validation`, to omit validation here:
https://github.com/PrestaShop/Presta

[2020-09-09 00:24] kpodemski commented on #20908
Proposed syntax:

https://github.com/kpodemski/kpnestedtabs/blob/proposed-changes/kpnestedtabs.php#L11

#notifyme

[2020-09-09 00:52] kpodemski commented on #20904
@matthieu-rolland yes it is :)

https://github.com/PrestaShop/PrestaShop/commit/69d0ad6d9852c9fb851527a8e8e6696aea4c364f#diff-fc18ac94749cfd02190dea0a6901c491

IMO we could remove it from theme, it's loaded from core, earlier

[2020-09-09 01:46] letwang commented on #20835
I agree with you.

[2020-09-09 01:48] letwang commented on #20834
The current behavior is inconsistent. There are places to import, but the database does not. Can they be consistent?

[2020-09-09 01:50] letwang commented on #20034
What if it is not based on caching?
Even if there is a cache, the cache repeats the same operation multiple times. . .

[2020-09-09 06:15] chrisV92 opened #20910 "Problem with the order of Subcategories filters"
Hello, I have a problem with the order of subcategories. It suppose to show subcategories filters by position but instead it shows random order. Also, When i Change language a category for example were 2nd in En it is 1st in the other language. At least tell me how to make order By    name ASC or DESC or how to make working by the positioning of categories.

Thanks!

EDIT: ps_facetsearch modules I

[2020-09-09 06:48] okom3pom commented on #20894
https://github.com/PrestaShop/PrestaShop/blob/develop/tools/build/Library/ReleaseCreator.php#L128

[2020-09-09 07:39] gifraorologi opened #20912 "Total Price 0 in the cart"
#### Describe the bug

When I add a product to the cart, total price remains zero

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'https://gifraorologi.com/'
2. Click on 'add to cart for any product'
3. Go to 'cart'
4. See error

**Screenshots**

https://i.ibb.co/ZmkNyVS/error.png

#### Additional information

* PrestaShop version: 1.7.6.1
* PHP version: 7.3.20

[2020-09-09 07:45] LouiseBonnard commented on #20469
Great to hear, thanks a lot for your reply, @matks! I let you (or another developer who feels like it) explore this, just ask if we can help you guys. ;-)

[2020-09-09 07:48] khouloudbelguith commented on #20907
Hi @ProteanCode,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-09-09 07:48] #20907 closed, assigned to nobody

[2020-09-09 07:52] khouloudbelguith commented on #20912
Hi @gifraorologi,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgra

[2020-09-09 07:56] gifraorologi commented on #20912
I've already tried downgrading to 7.2.32 but there are no changes

[2020-09-09 07:57] khouloudbelguith commented on #20912
@gifraorologi,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-09-09 08:20] gifraorologi commented on #20912
This?:

2020-09-09 08:01:23 UTC [apache][authz_core:error] [pid 18853] [client 93.48.252.255:45116] AH01630: client denied by server configuration: /home/u718-zptdmgneyasf/www/gifraorologi.com/public_html/var/log
‮
2020-09-09 08:01:20 UTC [apache][authz_core:error] [pid 6533] [client 93.48.252.255:44800] AH01630: client denied by server configuration: /home/u718-zptdmgneyasf/www/gifraorologi.com/p

[2020-09-09 08:23] atomiix commented on #20895
@khouloudbelguith I you're right, this should be fixed after 177x is merged into develop.

[2020-09-09 08:29] PierreRambaud commented on #20034
I agree the cache operation is duplicated, unfortunately the whole part needs to be refactored to make something relevant and performant :disappointed:

[2020-09-09 08:36] khouloudbelguith commented on #20908
Hi @kpodemski,

I tried with another module, for example, this [module](https://addons.prestashop.com/fr/blog-forum-actualites/41015-blog-pro-programme-de-fidelite.html) and it is ok
![image](https://user-images.githubusercontent.com/16067358/92575167-4d070080-f288-11ea-9f64-362c446e30ff.png)
On this github repository there is no software support. This is an open source project.

You can find help

[2020-09-09 08:36] LouiseBonnard commented on #20834
Indeed the current behavior is inconsistent but before making any decision to make it consistent (either adding it to the supplier page or deleting it from the import), I wanted to ask you about the usage. Do you need the short description to handle your suppliers or not?

[2020-09-09 08:42] khouloudbelguith commented on #20910
Hi @chrisV92,

The problem is fixed if we use the icon in the position column. The product is selected and we can change the position and saved and all changes is validated.
Here's the PR: #14879 to fix the issue.
It is fixed in the PS1.7.7.0.
Since this PR correct the problem it's OK a New issue was created for the second issue: #15291
Your ticket is a duplicate of #14616
So, I close it.
Thanks!

[2020-09-09 08:42] #20910 closed, assigned to nobody

[2020-09-09 08:42] khouloudbelguith commented on #20910
Duplicate of #14616

[2020-09-09 08:45] SimonGrn commented on #20910
Hello,

please think about using the template @chrisV92 , you deleted everything. For example, we don't know your PS version, your PHP version, or even the faceted search module version.
This does not help us **at all**.

Thank you.

[2020-09-09 08:45] khouloudbelguith commented on #20912
@gifraorologi, the errors provided are just warnings not related to the issue.
The Debug is just a warning
You are using a theme not provided by PrestaShop.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedba

[2020-09-09 08:49] khouloudbelguith commented on #20895
Duplicate of #20643

[2020-09-09 08:49] #20895 closed, assigned to nobody

[2020-09-09 08:55] gifraorologi commented on #20912
the problem arises for every theme I choose, not just this one

[2020-09-09 08:59] LouiseBonnard commented on #17131
Hey guys, @prestascott, what's the status of this EPIC?

[2020-09-09 09:01] matks commented on #20894
Hi @okom3pom thanks for trying the beta 2 and the nightly !

Indeed SCSS files should be removed from ZIP archives built for shops.

[2020-09-09 09:03] LouiseBonnard commented on #14881
Hi @lutek, can you confirm that PR https://github.com/PrestaShop/PrestaShop/pull/16620 fixes this issue?

[2020-09-09 09:05] chrisV92 commented on #20910
It is Something specific I Am saying I din't say in genera @khouloudbelguith . I said it doesnt work only on Filters. on Menu shows order correctly.

My version is  1.7.6.5. I didn't delete everything @SimonGrn. Because I Tested without the override of ps_facetsearch and looks the same . ps_facetsearch is the latest 3.6.0 but it was 3.5.0 and because not worked i upgrade it to see if fix the probl

[2020-09-09 09:06] LouiseBonnard opened #20914 "[EPIC] - Brands & Suppliers"
I have noticed that a few tickets in the backlog regard the suppliers' management. So here is a list to gather them all and get a better overview of what could be studied and done for the next PrestaShop versions.

## SUPPLIER
### Features
- [x] #18458

### Bugs
- [x] #15640
- [x] #22782
- [ ] #9987
- [x] #9947

## BRANDS

### Bugs
- [x] #25222
- [x] #26577
- [ ] #27782
- [x] #31352

## Fixed

###

[2020-09-09 09:08] khouloudbelguith commented on #20910
@chrisV92,

You deleted the template of creating an issue on GitHub.
You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you!

[2020-09-09 09:10] khouloudbelguith commented on #20912
@gifraorologi, I did not manage to reproduce the issue with PS1.7.6.7.
Please follow these steps:

1. Got to Advanced Parameters > Performance
2. In the Debug Mode section, set “Debug Mode” to “Yes”.
3. Click the “Save” button.
4. Go to FO => Add a product to cart
5. see if any exception is displayed

Thanks!

[2020-09-09 09:11] chrisV92 commented on #20910
Aaah Sorry I didn't understand it ok thank you

[2020-09-09 09:15] albertoamuedo opened #20915 "I can't save the modified categories"
![Categorías • Barroso hostelería 2020-09-07 11-46-04](https://user-images.githubusercontent.com/71008052/92579647-bdfce700-f28d-11ea-88d5-2de7eed6c758.png)

After changing the order of the categories I can't save them, the save button is missing.

Thank you

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen inst

[2020-09-09 09:16] gifraorologi commented on #20912
no errors, I still have debug mode active, if you want to try it too

[2020-09-09 09:29] khouloudbelguith commented on #20915
Hi @albertoamuedo,

The template is missing some information.
In the next time, you need to follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
Is it your issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/14504?
When you try to drag & drop betw

[2020-09-09 09:34] khouloudbelguith commented on #20912
@gifraorologi, thanks to provide me logs into the file `/Prestashop_folder/var/logs/`
Thanks!

[2020-09-09 09:35] khouloudbelguith commented on #20900
@Hlavtox, could you please provide me a screenshot about your `Images generation options` settings.

Thanks!

[2020-09-09 09:36] albertoamuedo commented on #20915
thanks for your answer, as i update to 1770?

[2020-09-09 09:38] LouiseBonnard commented on #20877
Hi there, it is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20469. @ngodefroy, @khouloudbelguith, I let you confirm and close this issue?

[2020-09-09 09:42] gifraorologi commented on #20912
could these be the errors? I'm sorry, but I've never done these things:

[2020-09-08 13:09:46] ps_checkout.ERROR: route /payments/order/create [] []
[2020-09-08 13:09:46] ps_checkout.ERROR: options array (   'json' => '{"intent":"CAPTURE","custom_id":"212","invoice_id":"","description":"Checking out with your cart from GIFRA S.R.L.","soft_descriptor":"GIFRA S.R.L.","amount":{"currency_code":"EUR",

[2020-09-09 09:42] khouloudbelguith commented on #20915
@albertoamuedo, the 1770 stable version is not released yet.
You can follow this ticket: https://github.com/PrestaShop/PrestaShop/issues/18647 to get news about the PS1770 release.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14529 to fix the issue.
Your ticket is a duplicate of #14504
So, I close it.
Thanks!

[2020-09-09 09:42] #20915 closed, assigned to nobody

[2020-09-09 09:42] khouloudbelguith commented on #20915
Duplicate of #14504

[2020-09-09 09:44] LouiseBonnard commented on #20801
Hi @khouloudbelguith, thanks for this issue. Do you need a better exception wording here?

[2020-09-09 09:45] ngodefroy commented on #20877
@LouiseBonnard IMO it's not a duplicate but it's closely linked to #20469 / It will be important to check that opening a new tab generate the help page and not a blank page - as it isn't mentioned in the issue..
Keeping that in mind, should I close the issue? What do you think @khouloudbelguith

[2020-09-09 09:46] khouloudbelguith commented on #20877
Hi @LouiseBonnard,

I think they are just related.
In this issue, a blank page is displayed when we click on the help box.

Ping @ngodefroy what do you think?

Thanks!

[2020-09-09 09:53] kpodemski commented on #20908
@khouloudbelguith

oh, wow :) that was fast, hold on a second, your module doesn't have same structure as mine, I don't want to have new tab added line this, check screenshot please

[2020-09-09 09:54] khouloudbelguith commented on #20801
Hi @LouiseBonnard,

Yes :+1:
For example an alert
![image](https://user-images.githubusercontent.com/16067358/92583796-2601fc00-f293-11ea-94b3-e862865933d2.png)

Thanks!

[2020-09-09 09:54] LouiseBonnard commented on #20877
Yep, you're right, it is not explicitly mentioned but it is specified that the third button is expected to redirect to the documentation page in another window via _help.prestashop.com_: https://github.com/PrestaShop/PrestaShop/issues/20469#issuecomment-689132729. How about adding it to the previous issue so that it can reunite the two in one single issue?

[2020-09-09 09:58] cowherdboy commented on #14754
@Hlavtox That did the trick. Thank you very much. My e-mail server went down for a few hours and I was getting payment notifications from my payment gateway but not the orders. Was needing this badly to send to customers.

[2020-09-09 10:07] jeckyl opened #20917 "Size filter in difficulty on ps_facetedsearch"
#### Describe the bug

If we define sizes only with 0 (zeros) such as:
Size 0
Size 00
Size 000
Size 0000

So, when you want to check the box for only one Size, all Sizes defined with only 0's are automatically selected.

#### Expected behavior

https://www.loom.com/share/f508d7c740444f1e901eb0315467e5cb

#### Additional information

* PrestaShop version: 1.7.x
* PHP version: N/A
* Module version :

[2020-09-09 10:27] eternoendless commented on #20900
IMO it looks like an issue in the GD library. I found [other people having similar problems](https://stackoverflow.com/questions/43455282/php-gd-resizing-causes-artifacts) and [this open bug in libgd](https://github.com/libgd/libgd/issues/99). I don't think we can do anything about it.

[2020-09-09 10:28] khouloudbelguith commented on #20917
Hi @jeckyl,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7 using ps_facetedsearch v3.6.0 & v3.5.0.
![image](https://user-images.githubusercontent.com/16067358/92587298-bfcba800-f297-11ea-8519-f658399edcf9.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Than

[2020-09-09 10:44] khouloudbelguith commented on #20912
@gifraorologi,

If your module is PrestaShop Checkout please, contact the support team on the module configuration page > Subtab Help > there is an [email address](support-checkout-download@prestashop.com).
You should contact the module author, they are the only ones to help you with it.
Thanks!

[2020-09-09 10:44] #20912 closed, assigned to nobody

[2020-09-09 10:50] Hlavtox commented on #20900
@eternoendless What if we move to Imagick? It is avaialble on 9/10 (if not all) PHP installs.

[2020-09-09 10:58] pro8181 opened #20918 "The server returned a "500 Internal Server Error""
Describe the bug
I can't edit / change / delete installed modules on my site and can't change them positions.

Expected behavior
I want to edit / delete / change my installed modules on my site.

Steps to Reproduce
Steps to reproduce the behavior:

Go to menu 'Ulepszenia'
Click on 'Moduły' (img presta1 attached)
Click on 'Wybrane'
See error:
Oops! An Error Occurred
The server returned a "500 Inter

[2020-09-09 11:00] pro8181 commented on #20918
If it will be helpful I send the debugged error when I try to go to installed modules i menu.

Compile Error: Arrays are not allowed in class constants
500 Internal Server Error - FatalErrorException

Stack Trace
1.	in modules/blockreassurance/blockreassurance.php at line 42
39.	    const ALLOWED_CONTROLLERS_CHECKOUT = array(
40.	        'cart',
41.	        'order',
42.	    );
43.	    const ALLOWE

[2020-09-09 11:06] khouloudbelguith commented on #20918
Hi @pro8181,

Thanks for your report.
What is the exact version of the `blockreassurance` module did you use?
If you cannot access to BO > Module manager page.
You can check the version's module in this file [/PrestaShop_folder/modules/blockreassurance/config.xml](https://github.com/PrestaShop/blockreassurance/blob/master/config.xml#L5).
Thanks to check and feedback.

[2020-09-09 11:12] khouloudbelguith commented on #20908
@kpodemski, thanks for your feedback.
I tried with another module: https://github.com/PrestaShop/ps_qualityassurance using same structure.
I manage to reproduce the issue with PS1.7.6.7 and 177x branch.
![image](https://user-images.githubusercontent.com/16067358/92591278-e5f44680-f29d-11ea-9821-b38ba4c378dd.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on

[2020-09-09 11:15] pro8181 commented on #20918
<version><!CDATA[4.1.1]]></version>

[2020-09-09 11:24] pro8181 commented on #20918
version of blockreassurance is 4.1.1

[2020-09-09 11:28] khouloudbelguith commented on #20918
@pro8181, could you please try to re-install the blockreassurance module?
If you can't access to the BO > Module manager page
1. You can replace the module's name from `blockreassurance` to `blockreassurance_old` into the path  /PrestaShop_folder/modules/
to check if the issues are not displayed anymore

Thanks to check and feedback.

[2020-09-09 11:32] pro8181 commented on #20918
It was so easy. I changed name from blockreassurance to blockreassurance_old and it is working now. Thanks a lot.

[2020-09-09 11:41] ngodefroy commented on #20877
@LouiseBonnard Ok, so I just copy paste my issue into the comments section of #20469 ?

[2020-09-09 11:42] khouloudbelguith commented on #20918
@pro8181,

In my case, I did not reproduce the issue with PS1.7.6.7 and `blockreassurance` v4.1.1.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2020-09-09 11:42] #20918 closed, assigned to nobody

[2020-09-09 12:07] PierreRambaud commented on #20900
@Hlavtox We are also able to manage both. If Imagick is available use it, otherwise use the gd library

[2020-09-09 13:04] jolelievre commented on #20908
Hi @kpodemski

I'd like to know how you build your tab structure? Do you rely on the `$tabs` property in your module?
I also have a couple questions, just to make sure I got your problem right:

`I don't want to have controller for parent tab`: I think this is done on purpose, from what I see in the BO menu all parents tabs could actually be independent Tabs (they all have related link and can be

[2020-09-09 13:06] kpodemski commented on #20908
@jolelievre you can take a look at my example module to see $tabs structure :)

[2020-09-09 13:10] jolelievre commented on #20908
Yep I just was it, I think the `skip_duplication` param would make more sense on the parent tab though (also we might find a better naming)

And I wouldn't recommend `skip_validation`, skipping validation is always the beginning of unexpected issues 😛  Updating the validation rules to match the new expected behaviour is a safer and more stable approach

[2020-09-09 13:14] kpodemski commented on #20908
@jolelievre

yes, i think that we can just redirect in this parent controller to the one we want, thanks to "skip_duplication" we could create desired structure.

It's worth mentioning that registering tabs manually with `new Tab` works fine and won't create any duplicates, that's why i'm proposing this change.

We should have it in parent  and it's more intuitive but it's tricky due to the fact t

[2020-09-09 13:19] matthieu-rolland commented on #20904
yep, that's what I did 👍  Pr coming soon

[2020-09-09 14:05] ProteanCode opened #20921 "Prestashop incorrectly collects data about user activity (window unload event is unreliable)"
#### Describe the bug

Prestashop module named statsdata uses an unload event to send a POST request with data about user activity. This does not work for me since I get a 99% of 499s because web browser cannot handle the request fully.

A shop is hosted on dedicated machine with good hardware and network, it depends more on a client network speed, but the unload event may not be reliable for this

[2020-09-09 14:06] jolelievre commented on #20908
The way I saw it if we integrate this `skip_duplication` or `avoid_duplication` field it needs to be persisted in the Tab entity/table on creation So that you still have access to the information when you add a child later.

The drawback for this is that if you didn't previously set your parent Tab to avoid duplication then it's already too late, you can't define it when you add a child. But it ki

[2020-09-09 14:30] khouloudbelguith commented on #20921
Hi @ProteanCode,

Thanks for your report.

At this step, you are requesting a page not found, isn't? this event is not saved in your case? is it?
In my case, with PS1.7.6.7, I don't have any 499 errors in the var/logs/log file.

Thanks!