[2020-02-24 13:33] julienrobin28 commented on #17791
Your guess is right! it's related to friendly URL : when it's enabled, the problem with picture appears. When it disabled, the problem with the picture disappears.

Is there something that would cause this issue with friendly URL?

At PrestaShop installation and even now from the back office, it says
Check your configuration :
Required parameters: OK
Optional parameters: OK

[2020-02-24 13:36] Hlavtox opened #17798 "Google analytics does not work in BO"
**Describe the bug**
Default ps_googleanalytics module does not track anything in Prestashop backoffice. It is important to track cancelled and refunded orders.

Error is detected by Tag Assistant as well as manual check, even after 48 hours, nothing changed.

There are 2 year old bug reports in the module repo, but they are closed without a solution. (???)

**To Reproduce**
Steps to reproduce the

[2020-02-24 13:37] matks commented on #17744
@mnapoli I'm sorry to put pressure, but if at the end of the day, PrettyCI keeps sending us false results I'll have to disable it because right now it is hindering multiple developments and consuming developer time (see https://github.com/PrestaShop/PrestaShop/pull/17526 last comments for example). I'll replace it with a Github Action temporarily until PrettyCI comes back faultless. Right now we h

[2020-02-24 13:38] PierreRambaud commented on #17351
@mvorisek I'm agree with both of you.
As @eternoendless said, it's a huge BC and it can break many modules but the Guzzlv5 is EOL and using the latest version (or a least a recent one) will allow developers to use library like `microsoft/microsoft-graph`

[2020-02-24 13:38] khouloudbelguith commented on #17789
@photinia73,

Yes!
This is the new feature in the PS1.7.7.0.

In the PS1.7.6. does not exist, but it working in the PS1.7.6.3 from International => Translations page, as recorded in the video.

Thanks!

[2020-02-24 13:43] photinia73 commented on #17788
I used his one ALTER TABLE `PREFIX_admin_filter`         ADD `filter_id` VARCHAR (255) DEFAULT '' NOT NULL AFTER `shop`,  DROP INDEX IF EXISTS `admin_filter_search_idx`,  DROP INDEX IF EXISTS `search_idx`,         ADD UNIQUE INDEX `admin_filter_search_id_idx` (`employee`, `shop`, `controller`, `action`, `filter_id`);``` Because short variant resolve the access to Product division but leave the acc

[2020-02-24 13:44] colinegin commented on #16610
@prestascott what's the status of this issue ?

[2020-02-24 13:44] colinegin commented on #16594
@prestascott what's the status of this issue ?

[2020-02-24 13:44] colinegin commented on #16589
@prestascott what's the status of this issue ?

[2020-02-24 13:47] khouloudbelguith commented on #17788
@photinia73, could you please try to delete the table ps_admin_filter & re-upload it again from a fresh install PS1.7.6.3.

Please make sure you have a backup of your database & your files.

Thanks!

[2020-02-24 13:47] photinia73 commented on #17789
I do this from the International => TranslationsAnd the BO show me that changes are applied. But in the Design->e-mail Theme after generation or without it (I tried all variants) the preview show the text without translation. And the real letter too (( З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: понедельник, 24 февраля 2020 г. в 15:38Кому: PrestaShop/PrestaShopКопия: photinia73

[2020-02-24 13:55] colinegin commented on #16482
@matks is this the same issue as #16891 ?
ping @eternoendless

[2020-02-24 13:58] colinegin commented on #16482
We need to list all form pages which have already been migrated and add them to the to do list.
ping @PrestaShop/prestashop-product-team

[2020-02-24 13:58] photinia73 commented on #17788
I updated my PS from 1.7.5.2 to 1.7.6.3 just 2 days ago, so it fresh enough )) … And I was shocked from such strange bug – impossible access my Catalog in BO. The BO work now correctly and I scare to delete something because I’m not a cool programmer, just a little bit web master )) Upgraded from here The 1-click upgrade module is up-to-date (your current version is v4.10.1)      З повагоюКричмарі

[2020-02-24 14:11] khouloudbelguith commented on #17788
@photinia73, your comments are not clear, there are extra texts.

A new install PS1.7.6.3 and not an upgrade from a previous version.
I think that the structure of your table ps_admin_filter is not correct.

So, the issue is fixed? can we close the ticket?

Thanks!

[2020-02-24 14:11] matthieu-rolland commented on #17648
This will be tested by QA during the test of the 1.7.7 release.

[2020-02-24 14:22] photinia73 commented on #17788
Yes, this ticket you can close. I just wanted draw your attention that after upgrade to 1.7.6.3 I had a problem with BO and it was resolved with SQL query.It mean that the error  still had a place in the fresh version 1.7.6.3 ! З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: понедельник, 24 февраля 2020 г. в 16:11Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [Prest

[2020-02-24 14:23] khouloudbelguith commented on #17788
@photinia73, thanks for your feedback.
Since it is fixed, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-02-24 14:24] #17788 closed, assigned to nobody

[2020-02-24 14:25] photinia73 commented on #17788
And I have a new question.I read that in the PS 1.7.6 must be realized  the product review with a stars ))) But didn`t found it. Will it appear in the future release?  З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: понедельник, 24 февраля 2020 г. в 16:11Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] After upade to 1.7.6.3 in the BO The serve

[2020-02-24 14:28] tdavidsonas88 commented on #17138
Yup, that would be helpful for SEO purposes and backlinking when writing documentation

[2020-02-24 14:30] eternoendless commented on #17351
Unless something happens that forces us to upgrade it, then that would be in the next major version. Probably about 1,5 years away at least :\

[2020-02-24 14:32] jf-viguier commented on #17138
@matks any news for uploading stuff ? We need this

[2020-02-24 14:34] khouloudbelguith commented on #17788
@photinia73, you need to install the ps_productcomment module.
![image](https://user-images.githubusercontent.com/16067358/75160352-22a18b80-571a-11ea-830f-b079908b2e05.png)

Thanks!

[2020-02-24 14:36] glukash opened #17803 "Unable to call getOrderShippingCostExternal($params) method"
Im trying to force Prestashop to call a getOrderShippingCostExternal($params) method from my carrier module.

To make it happen I need to set need_range to false.
Because in Cart::getPackageShippingCostFromModule() we have a code:

`if (!$carrier->need_range) {
    return $module->getOrderShippingCostExternal();
}`

The problem is that little earlier in Carrier::getCarriersForOrder()

we have a co

[2020-02-24 14:40] khouloudbelguith commented on #17789
@photinia73, this issue will be fixed in the next major version PS1.7.7.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14809 to fix the issue.

Thanks!

[2020-02-24 14:50] matks commented on #17138
WIP, but dont worry it will be delivered, at max, the same day we deliver 1.7.7.0 😊

[2020-02-24 14:53] khouloudbelguith commented on #17803
Hi @glukash,

Could you please add steps to reproduce the issue in a new comment.
It will help us if you can attach your module.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-24 15:07] agalussio commented on #16130
@khouloudbelguith
I already updated the files with the ones on the server now

https://dev.tiendahippie.es/catalogo/dev.log
https://dev.tiendahippie.es/catalogo/error_log.txt

[2020-02-24 15:19] khouloudbelguith commented on #17798
Hi @Hlavtox,

I have the same behavior as PS1.7.6.3 and PS1.7.5.2 and ps_googlenalytics v3.2.0.
![image](https://user-images.githubusercontent.com/16067358/75164456-2389eb80-5721-11ea-8633-c14e311e4cb7.png)
But, I think, it could a good improvement for the module.
@Hlavtox, what do you think, can we update this issue from bug to improvement?

Thanks!

[2020-02-24 15:22] khouloudbelguith commented on #16130
@agalussio,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-02-24 15:22] #16130 closed, assigned to nobody

[2020-02-24 15:35] Hlavtox commented on #17798
@khouloudbelguith

I discovered this, because I went to add another functionality for the BO (https://github.com/PrestaShop/ps_googleanalytics/pull/43). And 2 days later, I was wondering why the transaction still does not appear, and I discovered that it does not work at all in BO. 😄

I think it's definitely a bug, because there is functionality for refund in the code. It is indended for it to wor

[2020-02-24 15:38] PierreRambaud commented on #17318
The more products and categories you have, the more combinaison are saved in the database, this is why this table is growing. Feel free to add the clear-cache in a cron  :wink:

[2020-02-24 15:41] khouloudbelguith commented on #17798
@Hlavtox, thanks for your feedback.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-02-24 15:46] mnapoli commented on #17744
👍  I definitely understand

[2020-02-24 15:52] weddingtextile commented on #17318
Why was the table growing 10-12 days, and then, without external actions, it decreased?
Is this a standard algorithm?
What condition does a table cleanup?

[2020-02-24 15:56] weddingtextile commented on #17318
The problem has happened after updating PrestaShop from 1.7.4.3 to 1.7.6.2.

[2020-02-24 16:05] ShaimyWinda commented on #10258
Hi @khouloudbelguith,

I have the same issus. Were you able to correct this problem?

Thanks !

[2020-02-24 16:16] khouloudbelguith commented on #10258
Hi @ShaimyWinda,

Sorry, this issue is not fixed yet.
It is added to our bug roadmap.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-02-24 16:34] vhessam commented on #17787
Thank you very very much. So, this simple explanation is valuable I recommend to add it to documentation somewhere in migration section for example.

[2020-02-24 16:34] #17787 closed, assigned to nobody

[2020-02-24 16:41] PierreRambaud commented on #17318
This table is truncated when you change an attribute, attribute group, category, feature, product, etc.
Or by running the ps_facetedsearch-clear-cache.php script, and using the "Clear cache" button.
it's not related to the PrestaShop version, the module is independent

[2020-02-24 17:00] clotaire202 commented on #10258
@marionf Do you have some inputs about interfaces looks like to develop this improvement ?

[2020-02-24 17:03] eternoendless commented on #11847
@monas You can work around this problem by finding [this file](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/localization/CLDR/core/common/main/et.xml#L5058), then change the minus sign to this character: `-`

The product page is going to be reworked in 1.7.8, and among other things it will avoid formatting in form fields to prevent this kind of problems.

[2020-02-24 17:26] aecarlosae opened #17806 "Module constants are not allowed at install / activate / deactivate"
**Describe the bug**
Modules that have class constants in its main class definition, fails at install or activation / deactivation process.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a module with its elemental definition (Module::__construct(), Module::install(), Module::uninstall().
2. Add in the module class definition a constant ( const MY_CONSTANT)
3. Generate the .zip modul

[2020-02-24 17:38] pantagru opened #17807 "Faceted search - when one ore more filters are applied add to basket not work properly"
**Describe the bug**
I have activeted faceted search filters per price, brand, region.
When I apply one or more filter, in all products filtered, the action add to basket open a pop-up with quantity 0 and no product is added to the cart, althought the message say "Product successfully added to your shopping cart".
The only way is refresh the page or, in case of pagination, go the another page.

**

[2020-02-24 19:03] sharkooon opened #17808 "impossible to translate Pdf contents"
Impossible to translate pdf contents like: {l s='Billing Address' d='Shop.Pdf' pdf='true'} in admin environment.

prestashop version: 1.7.6.1

[2020-02-24 19:05] IsaacVe commented on #17632
I'm using 1.7.6.2 & ps_facetedsearch v3.4.1. to reproduce it you must import the Perú location package.

with the sign "PEN" it works but with the new sign "S/" after downloading the Peru location package, the price filter no longer works.
![image](https://user-images.githubusercontent.com/17584143/75182109-ad2fbe00-570d-11ea-9ab2-8837d3c1fcc5.png)

[2020-02-24 19:51] kpodemski opened #17809 "Bad validation of customer emails in BO"
**Describe the bug**

When we have wrong object value in back-office, in some controllers, we can't tell exactly what's wrong, FormBuilder doesn't give us anything even tho we have `try` `catch`

**Steps to reproduce the issue:**
1. Go to the FO => Create a new account with an email: `test@test.com.777` => OK
2. Go to the BO => Customers page => Edit the last customer-created
3. See error

It is o

[2020-02-24 19:54] didi-2018 opened #17810 "Missing translation in BO for ps_emailalerts "Modules > Mailalerts > Shop""
**Steps to reproduce the issue**
1. Add a new language in addition to the English language
2. Install the ps_emailalert module
3. Go to the FO => Your account => My alerts
4. Select the second language added previously
5. "No mail alerts yet." expression is not translated
6. Go to the BO => International => Translations page
6.1. Type of translation => Themes translations
6.2. Select your theme
6.

[2020-02-24 20:32] patrickmyh opened #17812 "Checkout: Payment Step: Missing error message when terms not accepted"
Using a sligtly modified classic theme.

**To Reproduce**
Steps to reproduce the behavior:
Put some article in the cart.
Proceed to checkout, finish all steps (persoanl info, adress, shipping) however you want.
Choose a payment method.
Click "Order" Button which is disabled since the "I agree to the terms..:" Checkbox wasn't clicked.

-> There should be a tooltip / error message, informing that th

[2020-02-24 22:02] photinia73 commented on #17788
  З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: понедельник, 24 февраля 2020 г. в 16:34Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] After upade to 1.7.6.3 in the BO The server returned a "500 Internal Server Error". (#17788) @photinia73, you need to install the ps_productcomment module.Thanks!—You are receiving this because you were menti

[2020-02-24 22:08] photinia73 commented on #17788
I will be apresiate if you will explain how install code from GitHub.I find such release https://github.com/PrestaShop/productcomments/releases/tag/v4.0.1But when try install it my PS wrire that this The file is not a module’s archive I don’t know what’s wrong (( З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: понедельник, 24 февраля 2020 г. в 16:34Кому: PrestaShop/PrestaShopКопия:

[2020-02-24 23:03] Cedricdelcroix commented on #17519
Hello I've something can help.

dev.log:
[dev.log](https://github.com/PrestaShop/PrestaShop/files/4247268/dev.log)

[2020-02-24 23:11] dinospla opened #17814 "Property Product->id_tax_rules_group is not valid"
**Describe the bug**
i try to import products with csv file and i take error  Property Product->id_tax_rules_group is not valid

**Screenshots**
![idtax](https://user-images.githubusercontent.com/61296901/75199137-f19d7700-576a-11ea-9485-87d1a30b1841.jpg)

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.0.33

[2020-02-25 01:01] Jaravivi commented on #9781
Hello, currently in version 1.7.6.3 the same problem remains, the option does not appear at checkout.

Is there any solution currently?

Thank you.

[2020-02-25 02:42] arouiadib commented on #17769
I totally agree with you.

I managed to reproduce #13809 and #11059, and they are caused by the rounded values. In fact, subtracting a rounded up value from an non-rounded value give negative result, which is invalid from Object point of view.
But I think this problem of rounding has already a ticket somewhere here in Github, I just don't find it.

Wdyt?

* We use a workaround `round()` for the tw

[2020-02-25 03:34] arouiadib commented on #17812
This is a good idea and will offer a better user experience, especially for people who are new to internet shopping. But IMHO, for Prestashop team, it is a feature creep. Such features are better kept for merchants/theme developers to make their themes perfect as they like.

Let's say Prestashop adds this feature to classic theme, and you are using a slightly modified version of classic theme, wha

[2020-02-25 03:58] arouiadib commented on #17814
Could you please show a sample line from your csv? (at least elements with information about taxes).

[2020-02-25 06:49] simontingkamlee opened #17815 "Cannot upgrade to Prestashop 1.7.6.3"
Hi,
I am using PrestaShop 1.7.6.2 and try to upgrade to Prestashop 1.7.6.3 using 1-click-upgrade v4.10.1. All the requirements checklist are ok. But when it is at upgrading the Addons modules, it stopped and started rolling backing.
Here's what was displayed in the Activity Log:
...
All files upgraded. Now upgrading database...
Database upgraded. Now upgrading your Addons modules...

And in the bo

[2020-02-25 07:20] dinospla commented on #17814
![Στιγμιότυπο στο 2020-02-25 09-12-17](https://user-images.githubusercontent.com/61296901/75223905-1bc55800-57b0-11ea-8a4f-4be06b0bda1d.png)

[2020-02-25 08:05] hekep commented on #17792
Hi,

Thanks for your effort. We suspect the problem is in server. You can close the issue.

[2020-02-25 08:19] khouloudbelguith commented on #17810
Hi @didi-2018,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2 and the Mailalerts module v2.1.1.
![image](https://user-images.githubusercontent.com/16067358/75227700-fbe16480-57ae-11ea-9a4d-1fa086f6a820.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull requ

[2020-02-25 08:19] khouloudbelguith commented on #17810
Related to: https://github.com/PrestaShop/PrestaShop/issues/9697

[2020-02-25 08:27] micka-fdz commented on #17812
I think it's a good idea too. This UX improvement can help to increase the transformation rate of order page, which is essential for merchants.

[2020-02-25 08:30] khouloudbelguith commented on #17814
Hi @dinospla,

In your case, the `Tax rules ID` is not valid.
![image](https://user-images.githubusercontent.com/16067358/75228821-0ef53400-57b1-11ea-9432-9b813a3e0525.png)
In the BO => Advanced Parameters => Import page => you can download a sample Products csv file.
You can check the column `Tax rules ID` as an example.
You can find the `Tax rules ID` in the BO => International => Taxes => Tax R

[2020-02-25 08:31] jf-viguier commented on #17812
Good idea @patrickmyh have you planned to make a pull request ?

[2020-02-25 08:33] marionf opened #17816 "Add a modal to confirm or cancel delete in bulk actions [1/2]"
Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action and remove the other one

Already migrated pages for which it must be added:
- [x] Catalog > Files
- [x] Catalog > Brands > Brands
- [x] Catalog > Brands > Addresses
- [x] Catalog > Suppliers
- [x] International > Localization > Languages
- [x] International > Taxes > Taxes
- [x] Design > Pages
- [x] D

[2020-02-25 08:34] #17816 closed, assigned to nobody

[2020-02-25 08:36] khouloudbelguith commented on #17815
Hi @simontingkamlee,

Thanks for your report.
In the 1-Click Upgrade configuration page, the `Disable non-native modules` is enabled or not.
Try to enable it, save and try to make a new upgrade.
![image](https://user-images.githubusercontent.com/16067358/75229499-4d3f2300-57b2-11ea-9099-f122724288c8.png)

Thanks to check & feedback.

[2020-02-25 08:44] khouloudbelguith commented on #17812
Hi @patrickmyh,

Thanks for your report.
I think it will be a good improvement.
In fact, we have two cases:
1. Payment method is selected but the the "I agree to the terms..:" Checkbox wasn't clicked
![image](https://user-images.githubusercontent.com/16067358/75229920-29301180-57b3-11ea-91c9-67a3a45fe75d.png)
2. The "I agree to the terms..:" Checkbox is clicked but the payment method is not select

[2020-02-25 09:17] khouloudbelguith commented on #17809
Hi @kpodemski,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 and PS1.7.6.3.
Steps to reproduce the issue:
1. Go to the FO => Create a new account with an email: `test@test.com.777` => OK
2. Go to the BO => Customers page => EDit the last customer-created
3. See error
![image](https://user-images.githubusercontent.com/16067358/75232312-4bc42980-57b7-11ea-947f-4c10a0873489.

[2020-02-25 09:30] colinegin commented on #17769
Second option is what we aim for but as you can imagine this is very complex. We have already started gathering all issues about rounding, you can find the Price & taxes epic here : https://github.com/PrestaShop/PrestaShop/issues/9703

Of course, this needs a deep functional and technical study before we can really start working on it.
This is a priority topic for 178.

[2020-02-25 09:45] khouloudbelguith commented on #17792
@hekep, thanks for your feedback.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-25 09:45] #17792 closed, assigned to nobody

[2020-02-25 09:53] Hlavtox commented on #17769
@arouiadib @colinegin

Personally, I wouldn't rush it and settle for some “hackjobs”. Even if we temporarily fix it by `(value < 0, then value = 0)`, it still does not solve the issue of rounding...

Better to think it through. It waited a few years, it can wait for some more time.

Proper tax and discount calculations in FO are more important. We (merchants) can always tell a customer: “Make a ne

[2020-02-25 09:59] khouloudbelguith commented on #17808
Hi @sharkooon,

I did not manage to reproduce the issue with PS1.7.6.1 and PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1w_boInPwH5d-WJshvaXUIAJpCrph3fvc/view
Thanks to check & feedback.

[2020-02-25 10:28] khouloudbelguith opened #17817 "BO - We can create a new customer successfully without setting required field "Partner offers""
**Describe the bug**
We can create from the BO a new customer successfully without setting required field "Partner offers"
![image](https://user-images.githubusercontent.com/16067358/75238651-a82c4680-57c1-11ea-8180-88faf3dd824f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Customers => Click on  Set required fields for this section
2. Check the "Partner offers" option
3.

[2020-02-25 10:29] simontingkamlee commented on #17815
I tried as you suggest. Still no luck. Please see screen shot before rollback.

From: khouloudbelguith <notifications@github.com>
Sent: Tuesday, February 25, 2020 4:37 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Cannot upgrade to Prestashop 1.7.6.3 (#17815)

Hi

[2020-02-25 10:31] khouloudbelguith commented on #17817
This issue is fixed previously in the PS1.7.6.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/13887

[2020-02-25 10:33] khouloudbelguith commented on #17817
Ping @nesrineabdmouleh

[2020-02-25 10:36] khouloudbelguith commented on #17815
@simontingkamlee, there is no screenshot attached.
You should log in to GitHub and upload your picture here.
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-02-25 10:42] marionf commented on #14003
Ok @gadnis I get it, your option make sens but we have to make the 2 options work together
@PierreRambaud will have a look to adapt your PR

[2020-02-25 10:58] khouloudbelguith commented on #17519
@Cedricdelcroix, tanks for your feedback.
Unfortunately, in your dev log, there is no error displayed.
Only some PHP info or some warnings related to the translations.

What is the exact payment method did you use during the checkout?
The debug mode is enabled in your case? there is no exception displayed?

Thanks!

[2020-02-25 11:04] simontingkamlee commented on #17815
Thank you for following up. Here’s the log file.

https://www.dropbox.com/s/prfu6qwkn1lud5k/log.txt?dl=0

Regards,

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Tuesday, February 25, 2020 6:37 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Cannot

[2020-02-25 11:19] khouloudbelguith commented on #17632
@IsaacVe, I imported the Peru pack, But the currency added is `PEN` automatically.
It is not "S/".
So, in the FO, search with a price is well working in the second currency `PEN`.

I attached a screen record
https://drive.google.com/file/d/1Qyk4Uoo_vPQcuPdpPgQ-v6ZYo3W1MFKq/view
Thanks to check & feedback.

[2020-02-25 11:27] khouloudbelguith commented on #17807
Hi @pantagru,

I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.2.4 and the ps_facetedsearch v3.4.1.
I attached a screen record
https://drive.google.com/file/d/1VUghwZ5HKnbhKbBCJDdIp1O3wAQ3esBG/view

Thanks to check & feedback.

[2020-02-25 11:34] khouloudbelguith commented on #17791
@julienrobin28,

No, it is well working with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/17ijMEjseZ3yLTQGgHmMKFx00j0ywgU2c/view

It seems that it is a server issue.
You need to check with your host.
It could be that the rewrite mod is not enabled
You need to run this command `RUN a2enmod rewrite`.

Thanks to check & feedback.

[2020-02-25 11:35] simontingkamlee commented on #17815
Here's the screen shot before the roll back.
[https://www.dropbox.com/s/zz6ypqzex2unxx1/ps_error.jpg?dl=0](url)
Regards,
Simon

[2020-02-25 11:49] khouloudbelguith commented on #17815
@simontingkamlee, could you please provide the list of modules installed in your case
![image](https://user-images.githubusercontent.com/16067358/75244990-1e827600-57cd-11ea-9feb-f327bd91058c.png)

I think it is related to module which brokes the upgrade.

THanks!

[2020-02-25 11:50] khouloudbelguith commented on #9781
Hi @Jaravivi,

Sorry, not fixed yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2020-02-25 11:54] khouloudbelguith commented on #17788
@photinia73, you can find this module in the BO => Module => Module Catalog page.
From GitHub, you need to install dependencies of this module after cloning it from GitHub.
[productcomments.zip](https://github.com/PrestaShop/PrestaShop/files/4249825/productcomments.zip)

Thanks!

[2020-02-25 12:02] LouiseBonnard commented on #17812
@prestascott, @TristanLDD, do you think it is relevant to add the same notification as in the 'Personal Information' step when the 'I agree to the terms and conditions and the privacy policy' checkbox is not ticked?

<img width="713" alt="Capture d’écran 2020-02-25 à 13 01 56" src="https://user-images.githubusercontent.com/32565890/75245915-06135b00-57cf-11ea-994c-3f4940570171.png">

[2020-02-25 12:02] NeoTrafy opened #17820 "Faceted search nos showing filter options"
**Describe the bug**
I have the attributes correctly configured as visible. The faceted search module configured to show all the filters and every category. But I only see the filter titles, nothing else. I checked with clean installation of PS 1.7.5.2 and it works correctly, but once the PS is 1.7.6 it fails. I checked too with the classic theme and still remains the error.

**To Reproduce**
Step

[2020-02-25 12:12] khouloudbelguith commented on #17820
Hi @NeoTrafy,

I did not manage to reproduce the issue with PS1.7.6.3 and the ps_facetedsearch v3.4.1.
I attached a screen record
https://drive.google.com/file/d/1tDC9EauO8wcMSl7Yzx-VP6nQlCnaxQwU/view
What is the exact version of the ps_facetedsearch module did you use?

Thanks!

[2020-02-25 12:15] photinia73 commented on #17788
If it will be in the Module catalog it will be grate.Unfortunately in my BO only few others modules are proposed З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: вторник, 25 февраля 2020 г. в 13:54Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] After upade to 1.7.6.3 in the BO The server returned a "500 Internal Server Error". (#17788) @photini

[2020-02-25 12:25] patrickmyh commented on #11435
@futurowebpl if you fire a click event on the input field it'll work, that's what I ended up doing.

[2020-02-25 12:29] patrickmyh commented on #17812
I might work on a pr if wished. Guess this killed one and another conversion.

[2020-02-25 12:38] photinia73 commented on #17788
  If I try to nstall this module the answer is ERROR З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: вторник, 25 февраля 2020 г. в 13:54Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] After upade to 1.7.6.3 in the BO The server returned a "500 Internal Server Error". (#17788) @photinia73, you can find this module in the BO => Module => Module

[2020-02-25 12:49] Gaja-A commented on #17669
@khouloudbelguith , I hereby attach the screen record
https://drive.google.com/file/d/1k8z6TUWhAHyaMfOGQKktPPKJ37nSguaP/view

Thanks !

[2020-02-25 12:53] photinia73 commented on #14662
The same situation )) Thanks for SQL query )

[2020-02-25 12:58] LouiseBonnard commented on #17812
But what do you think about this idea, @patrickmyh? At least it will harmonize all steps of the checkout while showing precisely the missing element to complete the purchase.

[2020-02-25 12:59] julienrobin28 commented on #17791
Hi,

$_SERVER['HTTP_MOD_REWRITE']  is On on both server :
phpinfo output attached [phpinfo.pdf](https://github.com/PrestaShop/PrestaShop/files/4250052/phpinfo.pdf)

And for the second test on Debian 10, everything to know about the host, is the commands I played yesterday to install it, which includes a2enmod rewrite :

`apt update && apt upgrade -y && apt install apache2 libapache2-mod-php php-zi

[2020-02-25 13:00] micka-fdz commented on #17812
@LouiseBonnard I agree with your proposal, form validation should be similar on every forms.

[2020-02-25 13:02] lukvai opened #17822 "[Multi-language] BO related products bug"
**Describe the bug**
When adding related product in BO to the product it is show only in that language that prestashop is installed. For example if customer has installed prestashop in English and he is using France language related products names in BO product settings will be show in English.

**To Reproduce**
Steps to reproduce the behavior:
You need to have multi language shop and product whic

[2020-02-25 13:12] simontingkamlee commented on #17815
Please use the following FTP to log on and access the files.

FTP Host: 45.32.14.214
User Name: temp_user
Password: A247799sd
Port: 21

Thanks.

Simon

----- Original Message -----
From: "PrestaShop/PrestaShop"
<reply@reply.github.com>
To:"PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc:"simontingkamlee" <simonlee@hago-group.com>, "Mention"
<mention@noreply.github.com>
Sent:Tue, 25 Feb 2

[2020-02-25 13:20] matks commented on #17138
@olecorre @jf-viguier I remember you asked for this "upload image" example 😊

Could you tell us more specifically what you had in mind ?
To me, a "upload image" input
- allows preview of already registered image (and you can replace it)
- maybe resize the image ?

So "image upload" inputs of Product Categories page are eligible, then ?

[2020-02-25 13:21] khouloudbelguith commented on #17815
@simontingkamlee,

This is a public space.
I removed the credentials
Let's be safe!

Thanks!

[2020-02-25 13:42] khouloudbelguith commented on #17815
@simontingkamlee, I tried with the credentials sent by I have an error
`Error: Unable to establish a connection to the server`.

Thanks!

[2020-02-25 13:55] khouloudbelguith commented on #17791
@julienrobin28, you have some information on the Traffic & SEO page.
"Enable this option only if your server allows URL rewriting (recommended)."
![image](https://user-images.githubusercontent.com/16067358/75253331-960cd100-57de-11ea-81e2-373e10125146.png)
If it is not enabled, you should have this message
![image](https://user-images.githubusercontent.com/16067358/75253425-cfddd780-57de-11ea-8792

[2020-02-25 13:58] pantagru commented on #17807
Hi,
looking at your video, the behaviour is a little bit different, you click on quick view to open a pop-up with information, then you click on add to basket.
In my case I add to basket directly in the catalog list.
You can see what I mean by this develop link:
http://ciboreat.gammadev.it/
The front-end is protected by password.
Use:
user : gammadev_ciboreat
pwd  : ciboreat2018

[2020-02-25 14:02] khouloudbelguith commented on #17807
@pantagru, I removed the credentials.
This is a public space.
Let's be safe!

Thanks!

[2020-02-25 14:03] khouloudbelguith commented on #17807
@pantagru, you are using a custom theme.
Have you tried to contact the theme author about this issue?
Thanks to check with them and feedback.

[2020-02-25 14:25] simontingkamlee commented on #17815
What is a good way to send you the files to see?

Do you have a personal email?

Regards,
Simon

----- Original Message -----
From: "PrestaShop/PrestaShop"
<reply@reply.github.com>
To:"PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc:"simontingkamlee" <simonlee@hago-group.com>, "Mention"
<mention@noreply.github.com>
Sent:Tue, 25 Feb 2020 05:42:57 -0800
Subject:Re: [PrestaShop/PrestaShop]

[2020-02-25 14:30] khouloudbelguith commented on #17822
Hi @lukvai,

I manage to reproduce the issue with PS1.7.6.3 and PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/75256417-bab77780-57e3-11ea-8cc2-6082f9a332e6.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-25 14:33] pantagru commented on #17807
I changed the name of the template, from classic to cibor, but it's a classic theme version 1.0.0
Ideated by PrestaShop Team

[2020-02-25 14:37] khouloudbelguith commented on #17807
@pantagru, but using the classic theme, we can't add to basket directly in the catalog list.
We need to click on the Quick view
![image](https://user-images.githubusercontent.com/16067358/75257027-aa53cc80-57e4-11ea-98ae-1f29ed1797a6.png)

Thanks!

[2020-02-25 15:05] mnapoli commented on #17744
Hi @matks, I'm really sorry about your experience.

I am a developer, I understand that PrettyCI isn't living up to the job here. I am looking into things, but I want to find an immediate solution here. Let's try a different strategy: migrating to GitHub Action would be something to try I think. It seems you may have considered/tried that above.

Here is an example of a template that I tried:

[co

[2020-02-25 15:17] khouloudbelguith commented on #17669
@ShaimyWinda, those shops are in the same default Group? is it?
What is the exact configuration of your shop Group?
![image](https://user-images.githubusercontent.com/16067358/75260673-4207e980-57ea-11ea-90d9-dca4278a0b80.png)

Thanks!

[2020-02-25 15:24] Gaja-A commented on #17669
@khouloudbelguith, Yes they are in the same default group. Here is our configuration :

![Shop_group](https://user-images.githubusercontent.com/51961329/75261319-1f2a0500-57eb-11ea-8c86-d658ff961204.JPG)

Thanks !

[2020-02-25 15:27] julienrobin28 commented on #17791
I looked again just in case, but I don't have this warning : seems that mod_rewrite is definitely enabled, and the problem is caused by something else (but difficult to know what exactly)

I'll try to look at the .htaccess file this evening, with Friendly URL enabled, to see if everything is generated fine inside of it

[2020-02-25 15:28] khouloudbelguith commented on #17791
@julienrobin28, thanks!
Waiting for your feedback.

[2020-02-25 15:28] khouloudbelguith commented on #17806
Hi @aecarlosae,

Thanks for your report.
Could you please provide me a demo module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-25 15:30] jf-viguier commented on #17138
I don't need the resize stuff but uploading, deleting, replacing and preview.
Thanks @matks

[2020-02-25 15:33] sharkooon commented on #17808
Alright i see, but i'm using prestashop "classic-rocket" as main theme with a child theme.
When i select "classic-rocket" theme for translation, i cant make translation for pdf.
<img width="661" alt="Schermafbeelding 2020-02-25 om 16 30 59" src="https://user-images.githubusercontent.com/533123/75262167-6a90e300-57ec-11ea-833c-1312f6438df8.png">

When i use classic theme for theme translation, i se

[2020-02-25 15:42] khouloudbelguith commented on #17669
@ShaimyWinda, I tried with this configuration and it is OK
https://drive.google.com/file/d/1U4-qxtOCxKVFi5BZg0AIiAXK03jYVHfQ/view
Could you provide me the log file into `/Project_Folder/var/logs/`.

Thanks!

[2020-02-25 15:42] khouloudbelguith commented on #17808
@sharkooon, have you tried to contact the theme author about this issue?

Thanks to check with them and feedback.

[2020-02-25 15:50] roja45 opened #17827 "1.7.6.3 adding a .htaccess file to the vendor directory in module which prevents loading of libraries"
**Describe the bug**
When you install a module that contains a vendor directory, for third-party libraries, Prestashop is adding a .htaccess file that blocks access to the directory.  This is breaking the module for all customers.

**To Reproduce**
Steps to reproduce the behavior:
1. Check in attached module archive, only the index.php in the vendor directory
2. Install the module in 1.7.6.3
3. Ch

[2020-02-25 15:51] roja45 commented on #17827
[testtranslation-master-1.0.0.zip](https://github.com/PrestaShop/PrestaShop/files/4250875/testtranslation-master-1.0.0.zip)

[2020-02-25 15:52] roja45 commented on #17827
Also, it adds this htaccess file when you upgrade the module as well.  I am getting a lot of support requests from customers upgrading the 1.7.6.3, and finding the module can no longer load the files it needs.

[2020-02-25 16:19] khouloudbelguith commented on #17827
Hi @roja45,

Thanks for your report.
I have the same issue with PS1.7.6.3.
![image](https://user-images.githubusercontent.com/16067358/75266439-a29b2480-57f2-11ea-9316-c526ba86bef4.png)

It is Ok with PS1.7.5.2, PS1.7.6.0, PS1.7.6.1, and PS1.7.6.2.
Ping @PrestaShop/prestashop-core-developers what do you think?
I think it is a regression.

Thanks!

[2020-02-25 16:19] patrickmyh commented on #17812
@LouiseBonnard +1 for similairty of form validation.

[2020-02-25 16:20] khouloudbelguith commented on #17827
Maybe related to this issue: https://github.com/PrestaShop/PrestaShop/issues/17496

[2020-02-25 16:21] khouloudbelguith commented on #17807
@pantagru, great!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-25 16:21] #17807 closed, assigned to nobody

[2020-02-25 17:06] eternoendless commented on #17827
@roja45 Why do you need the vendor directory to be accessible? Usually all requests should go though a module controller.

[2020-02-25 17:12] Rmagic96 opened #17830 "ps_emailalerts doesn't check minimal quantity"
**Describe the bug**
I have detected in ps 1.7.6.2 that the module ps_emailalerts doesn't check minimal quantity of products when sends an email to the customers.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a product with negative stock and minimal quantity more than 1
2. Suscribe to that product stock as a customer
3. Change stock to 1 (less than minimal quantity)
4. Customer wi

[2020-02-25 17:15] roja45 commented on #17827
`public function hookActionAdminControllerSetMedia($params)
    {
        if ($this->context->controller->controller_name == 'AdminModules' &&
            Tools::getValue('configure') == $this->name
        ) {
            $this->context->controller->addJS($this->_path . 'views/js/roja45moduleadmin.js');
            $this->context->controller->addJS($this->_path . 'vendor/riotjs/riot+compiler.min.

[2020-02-25 17:21] eternoendless commented on #17827
You shouldn't use composer to distribute javascript files, try NPM instead. The vendor directory is usually not supposed to be user accessible because it can represent a security threat.

[2020-02-25 17:23] roja45 commented on #17827
Not using composer.  Following Prestashop guidelines and using a vendor folder for required external libraries: https://devdocs.prestashop.com/1.7/modules/creation/module-file-structure/

[2020-02-25 17:28] matks commented on #17744
We disabled PrettyCI and replaced it with a GA in https://github.com/PrestaShop/PrestaShop/pull/17746

Indeed we know we can use GA instead, but we were happy supporting French PHP community through the use of PrettyCI 😉 .

[2020-02-25 17:35] LouiseBonnard commented on #17810
Indeed, I've checked Crowdin and this string (_No mail alerts yet._) disappeared after the 1.7.3 catalog. I guess it has been lost when exporting the 1.7.4 and further catalogs, we need to be reintegrate it.

[2020-02-25 17:42] BudrysLP commented on #17778
So what to do now?

[2020-02-25 18:07] roja45 commented on #17827
A question on this then, as I assume this means that it was intentional, is it specifically the 'vendor' folder?  If I call this something else will I be free of this file?
Since this is breaking a lot of Prestashop user installations, it will probably be quicker to update the module, rather then wait for a fix.

[2020-02-25 18:10] omar2886 opened #17831 ""Set order as shipped" not to close payments"
PS 1.7.6
How is it possible to make PS not to close payments when an order est set to a status that has the option "Set order as shipped" ticked (like  Shipped status) no to close payments on the order.
Sometimes you'll ship an order which payment has nos been done or completed, so you don't want PS to automatically add the payment for various reasons:
- Once the payment is added, it will be recor

[2020-02-25 18:22] Nerque commented on #17781
I have installed Prestashop in two websites, both in English (USA), because the installation from Plesk in other languages does not work in all cases.
So, in one of the shops I have English disabled and I have installed the Spanish package.
With the other one, I have disabled the English (USA), and I have installed the Spanish, German, Italian, French, Portuguese, and English (GB) package.
In both

[2020-02-25 20:41] samberrry opened #17833 "Redirected to controller=AdminDashboard"
When I click the Design > Pages , the page is redirected to this url:
[https://mydomain.com/xxx/index.php/improve/design/cms-pages/index.php?controller=AdminDashboard&token=dbd75324ee2de9a115ee83ec8797709d](url)

Also I attempted to solve the issue with these steps:

- clearing cache in BO
- deleting var/cache/prod and dev
- regenerated the .htaccess file through toggling the friendly URL config
-

[2020-02-25 20:44] vhessam commented on #17833
also I changed the php version from 5.6 to 7.2

[2020-02-25 21:01] sharkooon commented on #17808
Theme author is Prestashop
https://github.com/PrestaShop/classic-rocket

[2020-02-25 21:09] lozal2244 commented on #9576
Hello, any news about this bug? it's a functionality that is used everyday by us

[2020-02-25 21:43] arouiadib commented on #17822
Could you please help me reproduce it? Here is what I do:
 1. Fresh install.
 2. International > Localization >  Languages > Add new Language (language code and iso code for french language).
 3. Advanced parameters > Team > Employees > Me > set language to french.
4. Catalag > Edit product with reference `demo_1` > set title to "french title" for french language, and "english title" for english l

[2020-02-26 00:00] arouiadib commented on #17769
Perfect :), thank you very much @colinegin @Hlavtox

I suggest closing this issue and continuing  discussion there in #9703. wdy?

[2020-02-26 00:35] julienrobin28 commented on #17791
So I looked a little bit, for product pictures being in img/p/2/5 (zipped here : [img-p-2-5.zip](https://github.com/PrestaShop/PrestaShop/files/4252795/img-p-2-5.zip)

With Friendly URL off, first page is getting "https://www.luoss.fr/img/p/2/5/25-home_default.jpg" which is fine
With Friendly URL On, first page is getting "https://www.luoss.fr/25-home_default/usb-c-multifunction-adapter.jpg" which

[2020-02-26 01:37] aecarlosae commented on #17806
Hi @khouloudbelguith, I sent you the demo module by mail.

[2020-02-26 03:08] arouiadib commented on #17822
Ah bon!  @lukvai you have already created a PR about it?! didn't know before commenting here so I am having a red face right now.
Could you please edit the PR  so that it links to this issue?
Thanks in advance.

[2020-02-26 06:09] BenTen commented on #13006
We tried the modification of @michjoh but:
- if product has attribut, hooks are not run.
- if the product has not attribut, hooks are run.

It's opposite than before the modification...

[2020-02-26 07:37] khouloudbelguith commented on #16795
Hi @ibrahimfsasmaz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-26 07:37] #16795 closed, assigned to nobody

[2020-02-26 07:37] khouloudbelguith commented on #16795
8

[2020-02-26 07:38] khouloudbelguith commented on #17210
Hi @go-sudo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-26 07:38] #17210 closed, assigned to nobody

[2020-02-26 07:39] khouloudbelguith commented on #17353
Hi @demeldoo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-26 07:39] #17353 closed, assigned to nobody

[2020-02-26 07:55] khouloudbelguith commented on #9576
Hi @lozal2244,

Sorry not yet.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-02-26 07:57] khouloudbelguith commented on #17808
@sharkooon, no, it is `Prestarocket`
https://github.com/PrestaShop/classic-rocket/blob/master/config/theme.yml#L4

Thanks!

[2020-02-26 08:25] simontingkamlee commented on #17815
Please let me know your private email so that I can share a way to get the files on my server to you. Thanks.

Regards,

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Tuesday, February 25, 2020 9:43 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Ca

[2020-02-26 08:35] khouloudbelguith commented on #17815
@simontingkamlee,
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-26 09:01] colinegin commented on #17648
ping @Robin-Fischer-PS i close this issue as we have a scenario related to this feature in our order tests. Is this ok for you ?

[2020-02-26 09:01] #17648 closed, assigned to tdavidsonas88

[2020-02-26 09:08] khouloudbelguith commented on #17355
Hi @rmilecki,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-26 09:08] #17355 closed, assigned to nobody

[2020-02-26 09:27] colinegin commented on #17747
The behaviour should be the same as in the cart rule page. When adding a discount value (in %) containing a "-", this error message is displayed :
![image](https://user-images.githubusercontent.com/35263827/75331055-5dbece80-5882-11ea-9907-ba790ebb60a9.png)

And when adding a discount value (in amount) containing a "-", this error message is displayed : :
![image](https://user-images.githubusercon

[2020-02-26 09:32] didi-2018 commented on #17831
@omar2886 please remove hook here:

![image](https://user-images.githubusercontent.com/44971218/75331522-2997dd80-5883-11ea-9912-01f0bd4d69bd.png)

unhook "set order as paid" will solve your problem ;-)

[2020-02-26 09:39] florine2623 commented on #17358
Hello @demeldoo
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-02-26 09:39] #17358 closed, assigned to nobody

[2020-02-26 09:42] Katlo123 opened #17834 "Back office - Promotional tab"
While clicking on the "promotional tab", "blog" etc. in the Back office, prestashop gives a following error (attached).  It has been for 3 days now, no updates or fixing.  And meanwhile I cannot update these parts of shop..

<img width="1172" alt="Screenshot 2020-02-26 at 09 33 13" src="https://user-images.githubusercontent.com/61497393/75332359-277e5080-587c-11ea-8d81-e233580b9780.png">

PrestaSh

[2020-02-26 09:46] Robin-Fischer-PS commented on #17648
@colinegin Yes, OK for me. I'm going to add this to our QA scenario :)

[2020-02-26 09:47] LouiseBonnard commented on #17747
@colinegin, as long as we stay consistent and display the same error message when the same mistake is done, it suits me fine! :-)

[2020-02-26 10:00] couillaler opened #17835 "Suppression of several pictures of a product in one action."
I would like to ask for a useful function in PS.
The idea is to have the possibility to suppress several (or all) pictures in one action on the product page.

Actually, on my PS 1.7.5.1, to suppress photos of a product I have to select one picture, wait for its loading, click on the link _Suppression_, wait for the suppression. Then, I select the next picture, wait for its loading, click on the li

[2020-02-26 10:04] florine2623 commented on #17830
Hello @Rmagic96
I manage to reproduce the issue with PrestaShop version 1.7.5.2 and 1.7.6.3.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-26 10:10] lozal2244 commented on #9576
Hello, in Prestashop 1.6 it was easier to fix bugs, but now I can not even start to debug. Yesterday I checked the /controllers/admin/AdminProductsController.php and it is not called, So I checked the core and nothing, where is the process of creation of a product in this case. It's a product already created so there must be some place where the product is copied from a store to another.

[2020-02-26 10:10] colinegin commented on #17817
We need to check what happened in 1763 which introduced this bug again.

[2020-02-26 10:14] florine2623 commented on #17831
Hello @omar2886,
You need to unselect 2 options in the Shipped order status :
Shop Parameters > Order Settings > Statuses
![Capture d’écran 2020-02-26 à 11 12 52](https://user-images.githubusercontent.com/16019289/75334961-02440f00-5889-11ea-8700-6e478fe8a529.png)

Please check and feedback to us your results.

[2020-02-26 10:14] Gaja-A commented on #17669
@khouloudbelguith , Here is our log file :
[prod.log](https://github.com/PrestaShop/PrestaShop/files/4254906/prod.log)

Thanks !

[2020-02-26 10:17] florine2623 commented on #17833
Hello @vhessam ,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.com

[2020-02-26 10:21] matks commented on #17817
It seems this is because of PR https://github.com/PrestaShop/PrestaShop/pull/16648 which fixed issue https://github.com/PrestaShop/PrestaShop/issues/16509 (milestone 1.7.6.3)

[2020-02-26 10:22] florine2623 commented on #17834
Hello @Katlo123 ,
Could you specify what "promotional tab" you are talking about. Is it the Discounts tab in PrestaShop (Catalog > Discounts) or is it a tab from a module ?
![Capture d’écran 2020-02-26 à 11 21 56](https://user-images.githubusercontent.com/16019289/75335749-484da280-588a-11ea-91f3-6ad8b87502f0.png)

Thanks, please check and feedback.

[2020-02-26 10:25] Katlo123 commented on #17834
Hi Florine,

These 2 blocks are affected:

<img width="207" alt="Screenshot 2020-02-26 at 10 23 24" src="https://user-images.githubusercontent.com/61497393/75335979-47187780-5882-11ea-8be6-9bb78c1c35ff.png">
<img width="206" alt="Screenshot 2020-02-26 at 10 23 33" src="https://user-images.githubusercontent.com/61497393/75335982-4849a480-5882-11ea-81bb-be132628838e.png">

[2020-02-26 10:31] florine2623 commented on #17835
Hello @couillaler ,
It is added to our roadmap.
Your ticket is a duplicate of #12773
So, I close it.

[2020-02-26 10:31] #17835 closed, assigned to nobody

[2020-02-26 10:32] florine2623 commented on #17835
Duplicate of #12773

[2020-02-26 10:34] florine2623 commented on #17834
Hello @Katlo123 ,
Thanks for your feedback. This is a theme issue, you should contact the developer of your theme to fix the 500 error.
I will close this ticket as this is not a PrestaShp issue.
Thanks

[2020-02-26 10:34] #17834 closed, assigned to nobody

[2020-02-26 10:35] omar2886 commented on #17831
OMG, I feel so stupid, after many years using PS I still struggle configuring orders statuses, which has caused me thousands of serious problems with my installation that I'm still suffering nowadays.
Thanks @didi-2018 , that was it. @florine2623 there is no need to uncheck the first option.
Thanks!

[2020-02-26 10:35] #17831 closed, assigned to nobody

[2020-02-26 10:38] blaz-blazer commented on #9809
Hi, what's the status on this issue? At the moment Prestashop doesn't seem to be suitable for online shops with products that have more than 60 combinations as the saving time is incredibly long (+120 seconds) and managers can't work like this. Having +60 combinations is not that rare; 10 colors and 6 sizes is all it takes. In which version are you planning to fix this?

Regards,
Blaz

[2020-02-26 10:50] florine2623 commented on #17669
Hello @ShaimyWinda ,
You have a critical error :
``
[2020-02-24 15:44:30] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\ClassNotFoundException: "Attempted to load class "AdminRedirectControllerCore" from the global namespace. Did you forget a "use" statement?" at /var/www/preprod.moondreamwebstore.fr/override/modules/magicredirect/controllers/admin/AdminRedirectControl

[2020-02-26 10:57] photinia73 opened #17837 "Prestashop Productcomments - Receive a notification when a new review is received"
Hello!

If it possible to email to webmaster new comment for moderation from the module Productcomments?

it is not possible to receive any notification when a new review is added.
But, it could be a good improvement.
The improvement could add an option similar to this
![image](https://user-images.githubusercontent.com/16067358/75442482-e0698b80-595f-11ea-9691-68f70b57cb0f.png)

[2020-02-26 10:58] marionf commented on #9809
Hi @blaz-blazer
It's planned to be fixed in the 1.7.8 with the symfony migration of the product page

[2020-02-26 11:04] vhessam commented on #17833
Info is as follows:

- Using Cpanel
- Psv 1.7.6.3
- with debug mode turned on nothing shown, no warning no exception
- this is the screenshot from my chrome console when I click **_pages_**
![Screen Shot 2020-02-26 at 2 30 48 PM](https://user-images.githubusercontent.com/20775532/75338835-a2f3f800-58a4-11ea-9f93-fc5bbd82c35f.png)

I also tried to debug the code... with just echo.. to track the pro

[2020-02-26 11:05] nesrineabdmouleh opened #17838 "Add IDs in the page Information about customer"
**Is your feature request related to a problem? Please describe.**
When developing the automated tests, it's hard to check the page content( tables, forms).

**Describe the solution you'd like**
Add IDs for all tables and forms
1 - **Ids** for all blocks
2 - **Classes** or **IDs** for the customer information( Social title, Age...)
3 - Classes **column-name** for all tables to identify all columns

[2020-02-26 11:06] Gaja-A commented on #17669
@khouloudbelguith , Ok we will take a look into it but in fact, we bought this module yesterday and tested it in our preprod but the problem of the impact price exists before and also in our prod.
PS : In prod, we haven't even installed that module yet.

Thanks !

[2020-02-26 11:11] khouloudbelguith commented on #17838
Ping @PrestaShop/prestashop-product-team

[2020-02-26 11:18] khouloudbelguith commented on #17806
@aecarlosae, thanks for your feedback.
I tried with PS1.7.6.3 and it well working.
I attached a screen record
https://drive.google.com/file/d/1euGNEOJZMHyYvhl2hLHDJ0J18azr26nj/view
Thanks to check and feedback.

[2020-02-26 11:23] florine2623 commented on #17833
Hello @vhessam ,
I see that there is an error with dh42.js, it seems to be a js from a module. Could you check with the developers of that module please ?
Thanks, please give us a feedback.

[2020-02-26 11:25] florine2623 commented on #17669
Hello @Gaja-A
Is it a fresh install or has it been upgraded (from which version) ?
Thanks !

[2020-02-26 11:25] LouiseBonnard commented on #17747
@atomiix, as @colinegin said, and especially if the error notification is displayed on the top of the page and not in the modal, I prefer to keep the wording consistent and use the same error notifications as in the cart rule page.

[2020-02-26 11:26] Gaja-A commented on #17669
Hi @florine2623 , It is a fresh install (v1.3.9). Thanks !

[2020-02-26 11:34] vhessam commented on #17833
Hello @florine2623,
I just removed the module, but problem persists

[2020-02-26 11:50] kandiaga commented on #12773
Hi,
We   have   developed   a module  that   allows   to  delete multiple  images  at  a  time  for a  given  product.
You can   now   bulk   delete  product   images  with  no issue.
Please   find   the  module from  the  forum :  https://www.prestashop.com/forums/topic/1015827-module-bulk-delete-product-images-for-17-and-16/

[2020-02-26 11:55] kandiaga commented on #12949
Hi,
If  you  wish   to   delete multiple  images  at  a time  you can use  this  module:
https://www.prestashop.com/forums/topic/1015827-module-bulk-delete-product-images-for-17-and-16/

[2020-02-26 12:00] Hlavtox commented on #17747
@LouiseBonnard @colinegin

Wouldn't it be better to go upfront the employee and just remove the minus from the input, so he can enter the discount with minus or not? Maybe it would be even easier to do and more comfortable for employees.

[2020-02-26 12:09] Gaja-A commented on #17669
Hi @florine2623 , in fact I'm talking about the module which is a fresh install. But in case of our prestashop, it is upgraded from version 1.7.4 to 1.7.6.

Thanks !

[2020-02-26 12:09] Rmagic96 commented on #17830
Hello @florine2623 ,

I just created a new PR with my fix here https://github.com/PrestaShop/ps_emailalerts/pull/45

Thanks!

[2020-02-26 12:35] blaz-blazer commented on #9809
Thanks for info @marionf. Do you have an ETA for version 1.7.8? I know it's hard to predict but just an estimate.

Blaz

[2020-02-26 13:05] florine2623 commented on #17833
Hello @vhessam ,
Noted. Now, could you send me these :
- PHP error logs
- apache error log

Thanks for the feedback.

[2020-02-26 13:07] florine2623 commented on #17669
Hello @ShaimyWinda ,
What is the exact version of PrestaShop you were using ? 1.7.4.X ?
And if you used one-click upgrade, what is the exact version you used ?
Thanks!

[2020-02-26 13:10] florine2623 commented on #17837
Hello @photinia73 ,
What is your issue exactly ?

Thanks ! Please give us feedback.

[2020-02-26 13:23] florine2623 commented on #17791
Hello @julienrobin28 ,
Could you please send a screenshot of your informations page ?
Back-office > Advanced Parameters > Information
Thanks!

[2020-02-26 13:33] marionf commented on #9809
The 1.7.8 is planned for the end of the year

[2020-02-26 13:41] vhessam commented on #17833
I've uploaded the error logs on google drive.
This is for apache errors:
[https://drive.google.com/open?id=13D3wThE-kwBOCqK5i9RecrEhCEYhihkf](url)
And this is for symfony in : **/var/logs/prod.log**
[https://drive.google.com/open?id=1QsSa-YkRNB_T3lg92ocLzzOayqEQd3E4](url)

[2020-02-26 13:45] vhessam commented on #17833
I noticed a log:
[2020-02-26 09:18:41] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\ClassNotFoundException: "Attempted to load class "CmsPageController" from the global namespace. Did you forget a "use" statement for "PrestaShopBundle\Controller\Admin\Improve\Design\CmsPageController"?" at /home/ctmdeshop/public_html/classes/controller/Controller.php line 219 {"except

[2020-02-26 13:54] matks commented on #17838
Needed to do tests 😉

[2020-02-26 13:56] Gaja-A commented on #17669
Hi @florine2623 , The exact version of our prestashop we are using is **1.7.6.2** and the version we used before were 1.7.4.2.
Thanks !

[2020-02-26 13:59] florine2623 commented on #17781
Hello @Nerque ,
Despite our several trials, we could not reproduce your issue with the provided information.
Please check my video and give us feedback.
[video.mp4.zip](https://github.com/PrestaShop/PrestaShop/files/4256093/video.mp4.zip)

Thanks!

[2020-02-26 14:09] florine2623 commented on #17833
Hi @vhessam
After checking your log errors, I encountered this error :
[code]
Could you check if that module might be linked with you redirection issue ?

Please check and give us feedback.
Thanks!

[2020-02-26 14:21] lozal2244 commented on #9576
I added in a script this code that helps in this case:

$(document).ready(function() {
if($("#form_step2_ecotax").val() == "")
$("#form_step2_ecotax").val(0);
if($("#form_step3_minimal_quantity").val() == "")
$("#form_step3_minimal_quantity").val(1);
if($("#form_step4_additional_shipping_cost").val() == "")
$("#form_step4_additional_shipping_cost").val(0);
});

[2020-02-26 14:23] micka-fdz commented on #16862
Following a discussion with @ttoine, this issue isn't yet resolved.

When we need to add new module translations on an override file (in `themes/modules/modulename` folder), these translations appear on BO but don't work on FO. We need to replace `mod='modulename'` domains with new `d='Themes.Modules.Modulename'` domains.

@khouloudbelguith can you reopen this issue please? Thanks.

[2020-02-26 14:28] florine2623 commented on #17778
Hello @BudrysLP ,

Is the product not indexed when you deactivate the product or when it is created ?
Could you please attach a screen record of your case ?

And could you check these 3 issues to see if they are related your your issue :
1. #15640 not fixed yet.
2. #10530 fixed in the PS1.7.6.0.
3. #9663 fixed in the next version PS1.7.7.0.

Thanks to check & feedback.

[2020-02-26 14:30] colinegin commented on #14736
ping @MatShir

[2020-02-26 14:40] micka-fdz opened #17844 "Can't use translations on module overrides"
**Describe the bug**
We can't use translations on override files of modules.
According to [this documentation](https://devdocs.prestashop.com/1.7/modules/creation/module-translation/classic-system/#other-classes), we tried with `Module::getInstanceByName('mymodulename')->l()`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an override file in a module (inside `override` folder)
2. Ad

[2020-02-26 14:43] Perfecticus commented on #16862
If it's of any help; what worked for me was a domain tag following this pattern:

{l s='Looking for answers? Our FAQ is the quickest way of finding it.' d='**Modules.Faqs.Search_block**'}

[2020-02-26 14:46] colinegin commented on #17838
Does it have any impact on the user ?

[2020-02-26 14:46] vhessam commented on #17833
I uninstalled this module.. nothing happened.
As you see in the log, I don know why the **CmsPageController** class could not be loaded.

[2020-02-26 14:46] marionf opened #17845 "Add a modal to confirm or cancel delete in bulk actions [2/2]"
Add a modal to confirm or cancel delete in bulk action instead of the browser one

Already migrated pages for which it must be added:
- [x] Catalog > Monitoring
- [x] Advanced parameters > Email
- [x] Advanced parameters > Team > Employees
- [x] Advanced parameters > Team > Profiles
- [x] Advanced parameters > Database > SQL Manager
- [x] Advanced parameters > Database > DB Backup
- [x] Advanced p

[2020-02-26 14:46] florine2623 commented on #17844
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13392
So, I close it.

[2020-02-26 14:47] florine2623 commented on #17844
Duplicate of #13392

[2020-02-26 14:50] marionf commented on #14462
First part done in 1.7.7: https://github.com/PrestaShop/PrestaShop/issues/17816
Second part to do in 1.7.8: https://github.com/PrestaShop/PrestaShop/issues/17845

[2020-02-26 14:54] colinegin commented on #9676
@TristanLDD @MatShir can you confirm this has not been added to the new order page ?

[2020-02-26 14:59] julienrobin28 commented on #17791
Hi @florine2623

Here it is

![bo-informations](https://user-images.githubusercontent.com/33288584/75356766-ad1bf380-58b0-11ea-853c-739ef972dce3.png)

Thanks again for your time on this issue, hoping this will help at the end

[2020-02-26 15:03] marionf opened #17847 "Add a modal to confirm or cancel delete action for one row [1/1]"
Add a modal like on product list to confirm or cancel delete for one row

⚠ Add this modal **with the following message** - edited by @LouiseBonnard following #17082:

`title` = _Delete selection_ in _Admin.Actions_
`confirm_message` = _Are you sure you want to delete the selected item(s)?_ in _Admin.Global_

`confirm_button_label` = _Delete_ in _Admin.Actions_
`close_button_label` = _Cancel_ in _

[2020-02-26 15:06] marionf commented on #17082
@sowbiba

I created a specific issue for the 1.7.8: https://github.com/PrestaShop/PrestaShop/issues/17847

[2020-02-26 15:07] khouloudbelguith opened #17848 "The button add to cart is enabled when minimal quantity > quantity of the product - it shouldn't"
**Describe the bug**
In the FO => Product details page, the button add to cart is enabled when minimal quantity > quantity of the product but it shouldn't
Same issue with a product that has combinations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Bo => Catalog => Product details page
2. Create a new product
3. Set minimal quantity =5 and quantity =2
4. Click on the preview button

[2020-02-26 15:16] eternoendless commented on #10250
Translations packages have been updated for 1.7.7 (copied over from 1.7.6). This should fix the problem if it's fixed by the translation itself.

[2020-02-26 15:20] florine2623 commented on #17669
Hello @Gaja-A ,

I have not managed to reproduce your issue.
**I migrated from 1.7.4.2 to 1.7.6.3 using 1-click upgrade v4.10.1.**
Here are the results :
I'm changing the first combination :
![Capture d’écran 2020-02-26 à 16 14 29](https://user-images.githubusercontent.com/16019289/75358442-2ddbef00-58b3-11ea-8cd3-751b0ee6c5d1.png)
I put 20€ impact on price :
![Capture d’écran 2020-02-26 à 16

[2020-02-26 15:20] jf-viguier commented on #17844
@florine2623 it's not the same, we're talking about class override, not about tpl.

[2020-02-26 15:22] florine2623 commented on #17833
Hello @vhessam ,

Is it a PS fresh install 1.7.6.3 ? Or is it an upgrade (with 1-click upgrade or not) ?

Thanks to check & feedback.

[2020-02-26 15:24] micka-fdz commented on #17844
@florine2623 my issue is about php files (in `override` folder), not template files override in theme... Can you reopen it please?

[2020-02-26 15:26] florine2623 commented on #17791
Hello @julienrobin28 ,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration.
You can contact your webhost or [Support Team PrestaShop](https://addons.prestashop.com/en/388-support) for more info.

Thanks!

[2020-02-26 15:26] #17791 closed, assigned to nobody

[2020-02-26 15:29] Gaja-A commented on #17669
Hi @florine2623 , Have you tried it from 1.7.4.2 to **1.7.6.2** ?
And we have no errors in our_admin/autoupgrade/tmp/log.txt.

Thanks !

[2020-02-26 15:29] florine2623 commented on #17844
Hello @jf-viguier & @micka-fdz ,

I just reopened the issue.

[2020-02-26 15:29] vhessam commented on #17833
Yes we upgraded. But from a minor version. something like 1.7.6.2 to 1.7.6.3

[2020-02-26 15:30] jf-viguier commented on #17844
A file in override folder is definitely a class override, not a tpl extend. Thanks for reopening.

[2020-02-26 15:31] florine2623 commented on #17844
Hi @jf-viguier ,

It is similar to this issue : https://github.com/PrestaShop/PrestaShop/issues/12300 ?

Thanks to check & feedback!

[2020-02-26 15:38] jf-viguier commented on #17844
@florine2623 not at all, : #12300 uses the new translation system $this->trans()
We're talking about the classic one $this->l()

[2020-02-26 15:39] weddingtextile commented on #17318
Thanks for the answer!
Something has changed in the algorithm Faceted search after the update. There were no problems with the table before.

[2020-02-26 15:45] BudrysLP commented on #17778
I have that issue when I save product

[2020-02-26 15:45] zuk3975 commented on #17282
**In BO Theme JS:**
* [x]  js/pages/order/create/customer- [ ]manager.js - #17325
* [x]  js/pages/order/message/order- [ ]view- [ ]page- [ ]messages- [ ]handler.js - #17531

**In Adapter namespace:**
* [x] src/Core/Domain/Address/Command/SetRequiredFieldsForAddressCommand - #17526
* [x]  src/Adapter/Order/CommandHandler/AddCartRuleToOrderHandler.php - #17348
* [ ]  src/Adapter/Order/CommandHandler

[2020-02-26 15:52] micka-fdz commented on #16862
Yes @Perfecticus, I do that on all my projects but it's just a workaround.
I think it's a core bug that needs to be fixed, please reopen this issue.

[2020-02-26 15:52] khouloudbelguith commented on #17808
Hi @sharkooon,

We are awre of this issue, it is added to our bug roadmap.
Your ticket is a duplicate of #9804
So, I close it.
Thanks!

[2020-02-26 15:52] #17808 closed, assigned to nobody

[2020-02-26 15:52] khouloudbelguith commented on #17808
Duplicate of #9804

[2020-02-26 15:53] florine2623 commented on #17844
Hello @jf-viguier ,

Could you send me the demo module you have created, I will test this on my shop ?

Thanks!

[2020-02-26 15:54] florine2623 commented on #17778
Hello @BudrysLP ,

Could you please attach a screen record of your case ?

Thanks!

[2020-02-26 15:57] florine2623 commented on #17833
Hello @vhessam ,

Please check if you have any error on the upgrade. And send me the log file so I can see if there are errors.
admin/autoupgrade/tmp/log.txt

Thanks to check & feedback.

[2020-02-26 16:06] florine2623 commented on #17669
Hi @Gaja-A ,

I have tried with PS version 1.7.6.0. Please check the following videos :
Upgrade from 1.7.4.2 to 1.7.6.0 :
https://drive.google.com/file/d/1f9hQYh3UMsUG-2jT0z7025ko_It0QrYK/view
Price impact on product with multishop :
https://drive.google.com/file/d/1LYf00aQ1N2YTabiugYOcHIk48NfBEgM8/view

Despite our several trials, we could not reproduce your issue with the provided information.
I

[2020-02-26 16:06] #17669 closed, assigned to nobody

[2020-02-26 16:07] vhessam commented on #17833
I uploaded on google drive. here is the link:
https://drive.google.com/open?id=1D3VI-AF8HqPCtMNk1gyZ74tWBMnhkf_9

Thanks @florine2623

[2020-02-26 16:09] aecarlosae commented on #17806
Excellent, well it's only an issue related with PS1.7.5.1 then.

Thank you @khouloudbelguith.

[2020-02-26 16:22] khouloudbelguith commented on #17806
@aecarlosae, thanks for your feedback.
Since it is fixed with PS1.7.6, can we close this issue?

Thanks!

[2020-02-26 16:24] ttoine commented on #16862
@eternoendless knows a lot about the translation problems, maybe we could have his opinion?
also, @micka-fdz is there a link with #17844, and if yes, can you please explain why?

[2020-02-26 16:24] matks commented on #17817
@colinegin There is a misunderstanding here.

**When I look into the code**, I can see that, when we create a customer, **we check whether or not in the form the "required field"s have been given to the BO admin** and indeed it works.

**Setting a field to "required" means "we require the BO admin to fill this field".**

There is a misunderstanding on "what is a required field".
- 1st version: "A

[2020-02-26 16:36] aecarlosae commented on #17806
Yes @khouloudbelguith, I'm closing it. Greetings!

[2020-02-26 16:36] #17806 closed, assigned to nobody

[2020-02-26 16:51] micka-fdz commented on #16862
No @ttoine, I think it's two separate issues.

[2020-02-26 16:58] jolelievre opened #17851 "Add displayAdditionalCustomerAddressFields hook during update"
**Describe the bug**
A new hook was introduced by this PR https://github.com/PrestaShop/PrestaShop/pull/17677
The hook is added during fresh install thanks to the XML hook list but it needs to be added in the upgrade sql script `install-dev/upgrade/sql/1.7.7.0.sql`

**Additional information**
PrestaShop version: 1.7.7
PHP version: N/A

[2020-02-26 17:07] florine2623 commented on #17833
@vhessam
Despite our several trials, we could not reproduce your issue with the provided information.

Here's the screen record to the upgrade and issue :
https://drive.google.com/file/d/1OwBWOZlOBXV2atmEO8kwlFpeMltYnb4E/view
https://drive.google.com/file/d/1GuTRamnYjqsmi_prvrri5E61AwyOBzw1/view

Plus, you can check if you CmsPageController.php is the same as this one : https://github.com/PrestaSh

[2020-02-26 17:16] jf-viguier commented on #17844
@florine2623 I don't have any demo module for that, but you can use our module generator in fop_console.

[2020-02-26 17:23] matks commented on #17282
@zuk3975 copied into issue description

[2020-02-26 17:30] marionf commented on #14003
Hello @tjorgensborg @venditdevs @Multipage @chrisvanberg @deadbloger @AndreaC71 @francct
Could you test the PR https://github.com/PrestaShop/ps_facetedsearch/pull/158 of @gadnis and tell us if it meets your needs ?
Thank you

[2020-02-26 17:30] vhessam commented on #17833
Thanks. But files are identical. Based on the log, it notes that it can not find the class CmsPageController.php and will be redirected..
![Screen Shot 2020-02-26 at 8 58 10 PM](https://user-images.githubusercontent.com/20775532/75370842-ff720a00-58da-11ea-9c53-8aaa830ac8e1.png)

anyway, I'm trying to fix this issue. Thanks so much @florine2623

[2020-02-26 17:48] yenbrand opened #17854 "Translation problem, does not translate"
Hello, how many months can not fix, me there are several problems with the translation there are a few words that do not appear in the admin panel, there are a few words that I will write the translation, and I save. when I refresh the page, the translation will disappear

I turned off English , my site default language is Armenian, other language Russian all languages ​​have the same problem

Sho

[2020-02-26 17:59] micka-fdz commented on #17844
Or just create a simple override file in any native module.

[2020-02-26 18:19] jolelievre opened #17855 "Fix TinyMCEEditor that shouldn't handle language switching"
**Describe the bug**
To fix this initial issue https://github.com/PrestaShop/PrestaShop/issues/16646
A feature was added into TinyMCEEditor in this PR https://github.com/PrestaShop/PrestaShop/pull/17444
So it is now able to dispatch an event `selectedLangauge` when its parent navigation switches tab
However this feature is already managed by the `TranslatableField` component
https://github.com/Pre

[2020-02-26 19:47] thejoshualewis commented on #12408
I'm getting this same issue, using the default theme
`$file_attachement = null;
                   Mail::Send(
                    (int)$email_order->id_lang,
                    'voucher',
                    Mail::l('Order confirmation', (int)$email_order->id_lang),
                    null,
                    $email_customer->email,
                    $email_customer->firstname.' '.$email_cus

[2020-02-26 19:49] thejoshualewis opened #17856 "Missing '$template' parameter on emails"
Using the following to send an email (and all parameters are valid)

`$file_attachement = null;
                   Mail::Send(
                    (int)$email_order->id_lang,
                    'order_conf',
                    Mail::l('Order confirmation', (int)$email_order->id_lang),
                    null,
                    $email_customer->email,
                    $email_customer->first

[2020-02-26 22:23] ctmdeshop commented on #17833
PS 1.7.6.3 Back Office bug
By clicking on MENU DESIGN> Pages, prestashop takes you to the Home Panel.

There is no technical support material in the forums.
I am accompanying Hesam in treating this type of problem.

[2020-02-26 22:49] photinia73 commented on #17837
I installed the PS module Productcomments.
In the configuration I choosed "All reviews must be verified by a moderator" is ON
But how I will know, that someone left comment, if any notification or letter I didn`t received. I tested this module and left the review....
So is it any possibility to send the notification that new comment is waiting to be verified?
Thanks!

[2020-02-26 23:00] QueeNFrisk opened #17857 "Trying to update stock via webservice"
Im trying to update stock via webservice

and im using PSWebServiceLib ...This is my code:

[code]

when i start the "script" on terminal only show this:

Don't know if is a bug or my stupidity can you help me?

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.3

[2020-02-27 04:52] skull-squadron opened #17859 "Past guest orders don't get migrated to a new customer with the same email"
**Describe the bug**
Past guest orders are not migrated to a new customer.

**To Reproduce**
1. Complete a guest order with a unique email address.
2. "Ship" the order.
3. Sign-up for a customer account with previous email address.
4. Sign-in as the customer.
5. Review order histories.
6. Orders should be blank.

And, the logged-out guest order lookup tool gives an error for an email with an assoc

[2020-02-27 05:05] steakknife commented on #17859
Duplicate of #15605, #10122 and #9650.

[2020-02-27 05:05] #17859 closed, assigned to nobody

[2020-02-27 05:17] steakknife commented on #10122
**There are at least two obvious options:**
a) Migrate guest orders -> customer orders during sign-up AND then anytime during guest checkout in the future (that way, it doesn't produce an annoying login nag at checkout that will lose conversions)
b) Simply concatenate the list of all customer orders and all guest orders for a given email address, probably as a helper, for the order history and oth

[2020-02-27 07:56] khouloudbelguith commented on #17371
Hi @sotirisa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-27 07:56] #17371 closed, assigned to nobody

[2020-02-27 07:58] khouloudbelguith commented on #17361
Hi @rzuf666,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-27 07:58] #17361 closed, assigned to nobody

[2020-02-27 07:58] khouloudbelguith commented on #17378
Hi @CatchMeZZo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-27 07:58] #17378 closed, assigned to nobody

[2020-02-27 07:59] khouloudbelguith commented on #17380
Hi @ibrahimfsasmaz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-27 07:59] #17380 closed, assigned to nobody

[2020-02-27 08:08] khouloudbelguith commented on #17383
Hi @jf-viguier,

Any news?

Thanks!

[2020-02-27 08:08] khouloudbelguith commented on #17409
Hi @estebanwoj,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-27 08:08] #17409 closed, assigned to nobody

[2020-02-27 08:10] khouloudbelguith commented on #17854
Hi @yenbrand,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade y

[2020-02-27 08:14] khouloudbelguith commented on #17856
Hi @thejoshualewis,

Thanks for your report.
Can you please provide us the exact steps to reproduce the issue in a new comment.
What is the exact version PrestaShop did you use?

Thanks!

[2020-02-27 08:16] khouloudbelguith commented on #17857
Hi @P41N3ST,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downg

[2020-02-27 08:16] #17857 closed, assigned to nobody

[2020-02-27 08:16] khouloudbelguith commented on #17857
Duplicate of #15976

[2020-02-27 08:43] khouloudbelguith commented on #17833
Hi @vhessam,

Thanks to try with these steps:
1. Make of backup of your files and your database to be safe
2. Rename the `vendor` folder to `vendor_old` into your `Project_folder`/
3. Create a file `composer.json` & copy-paste from here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/composer.json
4. Run `composer install` => all dependencies will be regenerated
5. Try to clear the cache ma

[2020-02-27 09:07] Hlavtox commented on #17798
@khouloudbelguith False alarm, it shows the error because there is no pageview action sent.

My refund PR works fine!!! 🍺

Shouldn't we write this somewhere, that is it not a bug? I am like the third person to open this... 😄

[2020-02-27 09:11] Hlavtox commented on #17042
@khouloudbelguith Let's get feedback from the developer team and then you can close it. Thank you for your time. 🌹

[2020-02-27 09:12] khouloudbelguith commented on #17837
Hi @photinia73,

When a customer adds a new review, this review will not automatically added to the FO, the employee should approve this review first.
So, a new line is added in the section: "Reviews waiting for approval"
![image](https://user-images.githubusercontent.com/16067358/75428945-472f7a80-5949-11ea-88d8-c2dc0a1f1d08.png)

In this time, the employee should approve or delete this review.

[2020-02-27 09:14] khouloudbelguith commented on #17798
@Hlavtox,

this PR: https://github.com/PrestaShop/ps_googleanalytics/pull/43?

Thanks!

[2020-02-27 09:34] khouloudbelguith commented on #12408
@thejoshualewis, an issue created here: https://github.com/PrestaShop/PrestaShop/issues/17856

[2020-02-27 09:54] Hlavtox commented on #17798
@khouloudbelguith Yes :-)

[2020-02-27 09:58] khouloudbelguith commented on #17798
@Hlavtox,

What do you think about updating the [Readme.md](https://github.com/PrestaShop/ps_googleanalytics/blob/master/Readme.md)?

I will close this issue as it is not a bug.

Thanks!

[2020-02-27 09:58] #17798 closed, assigned to nobody

[2020-02-27 10:39] NeOMakinG opened #17862 ".rtlfix files should not be in public folders of BO themes"
**Is your feature request related to a problem? Please describe.**
As we decided to avoid pushing the assets on the repo, we need to keep .rtlfix files as they are used to fix some bugs while on RTL languages.

But they should'nt be in the asset's folder, we should extract it somewhere and a backend change has to be done

**Describe the solution you'd like**
Change the path of the rtlfix to anothe

[2020-02-27 10:44] thantadis commented on #12660
Its not the same issues. Because #11115 talk about duplicate order reference and this issue was open for duplicate invoice number

Do you have a fix ?

[2020-02-27 10:44] vhessam commented on #17833
Hi @khouloudbelguith
Already I created composer.json and run `composer dump-reload`. But now I do what you said to reinstall dependencies.
Thanks

[2020-02-27 10:53] Alexandre17220 commented on #12660
yes, override class Order, and function setLastInvoiceNumber...

[2020-02-27 11:04] Tarraga commented on #9594
Hello, I'm using the latest stable version of PrestaShop and it still has the order confirmation bug when split order is applied. Only 1 product shows. Does it exist any solution for this?

[2020-02-27 11:11] khouloudbelguith commented on #17833
@vhessam,

The best difference between `composer update` and `composer install`
1. `composer install`
To add dependencies you need to add it manually to the `composer.json` file.
2. `composer update`
To add or remove dependencies you need to add it manually to the `composer.json` file

Waiting for your feedback.

[2020-02-27 11:13] vhessam commented on #17833
OK thanks @khouloudbelguith I'm following.. ;)

[2020-02-27 11:13] khouloudbelguith commented on #17862
Ping @PrestaShop/prestashop-product-team

[2020-02-27 11:14] khouloudbelguith commented on #17833
@vhessam, waiting for the feedback:slightly_smiling_face:

[2020-02-27 11:33] photinia73 commented on #17837
I understand this. But how will I know, that this new review wait? Any
notification not come. I need to check every time this menu in BO to verify
if the new review appear and wait, this is not comfortably (( may be in a
future PS will add such notification function (like about new order)
Thanks!

чт, 27 лют. 2020, 11:12 користувач khouloudbelguith <
notifications@github.com> пише:

[2020-02-27 11:41] khouloudbelguith commented on #17844
Hi @micka-fdz, @jf-viguier,

I am trying to override `/ps_facetedsearch/src/Product/SearchProvider.php`
I created an override of the module ps_facetesearch in this path `/Project_folder/override/modules/ps_facetedsearch/src/Product/SearchProvider.php`

[code]
I deleted the cache manually
In the BO => Translation pf the module => I couldn't find this translation

Can you confirm this?

PS: If I edi

[2020-02-27 11:49] francct commented on #14003
Hi @marionf,
Unfortunately I'm new to git/github.

I've cloned locally prestashop dev, and i've already run composer.
Please, can you explain me how to "merge" the branch of this PR, and how to compile assets (i have node.js)?

Thank you.

[2020-02-27 11:52] khouloudbelguith commented on #17837
@photinia73, no, it is not possible to receive any notification when a new review is added.
But, it could be a good improvement.
The improvement could add an option similar to this
![image](https://user-images.githubusercontent.com/16067358/75442482-e0698b80-595f-11ea-9691-68f70b57cb0f.png)

Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-27 11:52] vhessam commented on #17833
![Screen Shot 2020-02-27 at 3 16 48 PM](https://user-images.githubusercontent.com/20775532/75442309-6f809e80-5974-11ea-92a9-01929f580380.png)

@khouloudbelguith  I ran the `composer install` successfully. And cleaned the cache dir var/cache(dev&prod). Problem persists.
I think after upgrade our presta app can not autoload CmsPageController.

Many thanks

[2020-02-27 11:56] khouloudbelguith commented on #17833
@vhessam, so, it could be something went wrong with your update and don't have some of the database columns that were added for 1.7.6.3
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.3 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2020-02-27 11:57] photinia73 commented on #17837
It will be great! Will wait )) Thanks

чт, 27 лют. 2020, 13:52 користувач khouloudbelguith <
notifications@github.com> пише:

[2020-02-27 11:59] vhessam commented on #17833
Ok I gonna compare the schemas. Thanks @khouloudbelguith

[2020-02-27 12:00] khouloudbelguith commented on #17833
@vhessam, waiting for the feedback:slightly_smiling_face:

[2020-02-27 12:18] Webgaict opened #17865 "Problem with save prestashop button 1.6.1.20"
Good morning everyone when i try to save a new product or any changes i get from this error (screen attached) If i activate the devug mode it signals these errors to me.
what can I do?
![Immagine](https://user-images.githubusercontent.com/56969939/75444356-92ef1d80-5963-11ea-8756-f0575ec7423d.png)
![Immagine2](https://user-images.githubusercontent.com/56969939/75444358-9387b400-5963-11ea-8c87-59ab

[2020-02-27 12:25] didi-2018 opened #17866 ""Data from PrestaShop Addons is invalid, and cannot fallback on cache." - 1.7.6.3"
Hi,

I just checked my logs under advanced settings -> Log-Data and I saw this log:

Data from PrestaShop Addons is invalid, and cannot fallback on cache.

![image](https://user-images.githubusercontent.com/44971218/75444784-5ec82c80-5964-11ea-8ec9-f2ba5e0a3698.png)

Sorry, I can not provide more infos.

PS 1.7.6.3
PHP 7.2.1
nginx/1.14.0

[2020-02-27 12:47] zuk3975 opened #17867 "Order view all products becomes refunded"
**Describe the bug**
If I open order in migrated page and use partial refund of one product, then trying to add new products results in all of them being `refunded`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `admin-dev/orders/orders/[orderId]/view` to reach migrated order view page
2. Make sure status is payment accepted.
3. Click partial refund -> fill quantity -> refund.
4. See

[2020-02-27 12:58] micka-fdz commented on #17844
Yes @khouloudbelguith, the issue is about override in module folder.

[2020-02-27 13:05] Robin-Fischer-PS opened #17868 "Pagination KO on orders list migrated"
**Describe the bug**
On migrated orders list, change the pagination parameters (set item per page to 10 for example) : The pagination block (with pages and parameters) disappear. Refresh does not resolve the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to orders list (/index.php/sell/orders/orders/), with at least 11 items in list
2. Change item per page to 10
3. See error : Pag

[2020-02-27 13:26] khouloudbelguith commented on #17867
Hi @zuk3975,

Same issue with 1.7.7.x branch.
Thanks!

[2020-02-27 13:31] khouloudbelguith commented on #17866
Hi @didi-2018,

It might be a temporary Addons issue or a timeout issue.
Now it's fixed.

Thanks!

[2020-02-27 13:31] #17866 closed, assigned to nobody

[2020-02-27 13:32] 01park opened #17870 "Custom delivery time text does not show on multi language product pages"
Please ignore.

[2020-02-27 13:35] khouloudbelguith commented on #17865
Hi @Webgaict,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close i

[2020-02-27 13:35] #17865 closed, assigned to nobody

[2020-02-27 13:35] vhessam commented on #17833
@khouloudbelguith I used a fresh PrestaShop installation and a clone of our database to see the schema difference.
There is really no difference from the fresh presta installation just some indexes. I uploaded my screen record on the google drive you can see it:
https://drive.google.com/open?id=11O5oHc0wAMSwntmRh20wNbHpAlEg3SQx

As an explanation, the left side is our database schema and the right

[2020-02-27 13:35] #17870 closed, assigned to nobody

[2020-02-27 13:43] sam-pires opened #17871 "The list of modules to update only display 6 modules max"
**Describe the bug**
In Modules > Module Manager > Updates tab, the list only displays 6 modules maximum.

In the example below you can see there are 10 modules to updates, but only 6 displayed

See screenshot:
![Capture d’écran 2020-02-27 à 14 25 56](https://user-images.githubusercontent.com/25405887/75450468-2bd76600-596f-11ea-9d74-f19a333915f8.png)

When the page is loading you can briefly se

[2020-02-27 13:46] khouloudbelguith commented on #17844
@micka-fdz, thanks for your feedback.
I manage to reproduce the issue,
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-27 13:53] khouloudbelguith commented on #13863
https://github.com/PrestaShop/PrestaShop/issues/17844: Can't use translations on module overrides

[2020-02-27 13:56] khouloudbelguith commented on #13202
Related to: https://github.com/PrestaShop/PrestaShop/issues/11166

[2020-02-27 13:56] sam-pires commented on #17871
Hello @TristanLDD & @prestascott,
Do you validate the expected behavior?

I guess when you have 100 modules to upgrade it can become messy without search, but as you can search and update modules from the first "Modules" tab, the users won't be stuck.

[2020-02-27 13:58] didi-2018 commented on #17668
@khouloudbelguith  My host checked all permissions and everything is okay. I get the following error message:

2020/02/27 14:34:55 [error] 8209#8209: *23006 FastCGI sent in stderr: "PHP
message: PHP Fatal error:  Uncaught Error: Class 'Tools' not found in
/var/www/clients/client3844/web7857/web/prestafolder/classes/db/Db.php:794
Stack trace:
#0
/var/www/clients/client3844/web7857/web/prestafolder/

[2020-02-27 14:24] LouiseBonnard commented on #15829
Everything has been done so I close this EPIC. Many thanks to everyone involved here, see you in 1.7.7!
☀️

[2020-02-27 14:24] #15829 closed, assigned to nobody

[2020-02-27 14:35] thejoshualewis commented on #17856
Hi @khouloudbelguith

We have a custom payment method to integrate BitPay, and have a module for Prestashop, and everything works.

Our IPN updates the shops when the status has changed on the blockchain to properly update the order status, add notes, etc and we're wanting to be able to send a notification when it reaches **confirmed**

In this block of code
[https://github.com/bitpay/prestashop-v

[2020-02-27 14:56] khouloudbelguith commented on #17856
@thejoshualewis, so, after some modifications in your PrestaShop core added manually, you have this error?
So, it is not a PrestaShop core issue?

Thanks!

[2020-02-27 14:57] thejoshualewis commented on #17856
@khouloudbelguith The core hasnt been modified, this is all from a module.  Calling the Mail functionality is what is causing the $template missing issue.

[2020-02-27 15:02] khouloudbelguith commented on #17856
@thejoshualewis,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-27 15:07] thejoshualewis commented on #17856
@khouloudbelguith

We are the module author, the issue is interacting with the core Prestashop using the mail functionality.  Does that block of code look correct, or is there somewhere that shows how to call this directly with explanations?

[2020-02-27 15:07] thejoshualewis opened #17873 "Missing Template when sending mail"
@khouloudbelguith

We are the module author, the issue is interacting with the core Prestashop using the mail functionality.  Does that block of code look correct, or is there somewhere that shows how to call this directly with explanations?
https://github.com/PrestaShop/PrestaShop/issues/17856

[2020-02-27 15:10] jf-viguier commented on #17383
@khouloudbelguith I've answered to review on my pr, are you waiting for something else ?

[2020-02-27 15:20] khouloudbelguith commented on #17856
@thejoshualewis, sorry for closing the issue.
I will re-open the issue.
Thanks!

[2020-02-27 15:21] khouloudbelguith commented on #17873
Duplicate of #17856

[2020-02-27 15:21] #17873 closed, assigned to nobody

[2020-02-27 15:23] khouloudbelguith commented on #17856
@thejoshualewis, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
If the issue occurs due to the module, we need to close the issue.

Thanks for your understanding!

[2020-02-27 15:24] khouloudbelguith commented on #17856
@thejoshualewis, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
If the issue occurs due to the module, we need to close the issue.

Thanks for your understanding!

[2020-02-27 15:48] khouloudbelguith commented on #17833
@vhessam,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I tried to make an upgrade from PS1.7.5.2 to PS1.7.6.3 using the 1-click upgrade v4.10.1 => OK
https://drive.google.com/file/d/1zrf-TXD3qIjrGZYH7V3LE3xP4easK90y/view
I invite

[2020-02-27 15:48] #17833 closed, assigned to nobody

[2020-02-27 16:09] Robin-Fischer-PS opened #17875 "Free shipping vouchers in FO and BO should not be cumulative"
**Describe the bug**
When adding two (or more) cart rules in FO and BO which include Free Shipping, they are both added, only on should be added.

**To Reproduce on FO**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Discounts, create two cart rules with free shipping
2. Go to FO, create an order with paid shipping
3. Add the two cart rules
4. Shipping price is deducted twice

**Screen

[2020-02-27 16:22] ctmdeshop commented on #17833
No customization was done in our PrestaShop, at the Back Office level. Nothing has been changed.

Our server is a Cent OS 7, with Apache, Cpanel / WHM, a standard VPS cloud model.

In that case, if there are problems with something, it is some native incompatibility of PrestaShop.

I remember that version 1.7.6 is being very poorly evaluated by the developers in my country. Exit version, enter ver

[2020-02-27 16:24] P41N3ST commented on #17857
Ok, thanks, sorry for the disturbances

[2020-02-27 16:33] khouloudbelguith commented on #17383
Fixed by https://github.com/PrestaShop/statsbestcustomers/pull/8

[2020-02-27 16:43] khouloudbelguith commented on #17815
@simontingkamlee, your upgrade was stopped after the upgrade of the `graphnvd3` module.
So, it could be related to the `gridhtml` module or it is a space issue on your server, you don't have a large space, so the upgrade was stopped.

Thanks to check & feedback.

[2020-02-27 16:45] ttoine commented on #12773
Hello, advertisement is not welcome here: this is a platform to contribute to the PrestaShop open source project, not a place to promote your modules and services.
Your post has been reported to GitHub.
Please follow the code of conduct and do not try again.

[2020-02-27 16:46] khouloudbelguith commented on #17668
@didi-2018, is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/11105#issuecomment-585609734?

Thanks!

[2020-02-27 16:57] khouloudbelguith commented on #17856
@thejoshualewis, can we close this issue?

Thanks!

[2020-02-27 16:57] thejoshualewis commented on #17856
Yes, thank you

[2020-02-27 17:01] khouloudbelguith commented on #17856
@thejoshualewis, feel free to open a new one when needed.

Thanks!

[2020-02-27 17:01] #17856 closed, assigned to nobody

[2020-02-27 17:04] Maofree opened #17876 "Replace http with https in socials' urls in the ps_sharebuttons module"
Hi
I've seen that in ps_sharebuttons.php in the function getWidgetVariables it is necessary to replace http with https for socials' urls for facebook and pinterest
`http://www.facebook.com`
into
`https://www.facebook.com`

and

`http://www.pinterest.com`
into
`https://www.pinterest.com`

bye

**Screenshots**
![22](https://user-images.githubusercontent.com/653230/75466981-520aff00-598b-11ea-8425-52

[2020-02-27 17:46] yenbrand commented on #17854
i change php version to 7.2 but problems remain   in default theme ShopFormsHelp  other places did not check

![Screenshot_1](https://user-images.githubusercontent.com/61514250/75470508-39f6a800-59aa-11ea-8b05-7d81a237de25.png)

[2020-02-27 17:59] Maofree opened #17878 "in catalog/listing/product-list.tpl it is necessary to remplace the h2 with the h1"
Hi
in the pages: new products, best sales and price drops it is missing the H1 tag like for other pages as product or category or brand

so to solve this problem it is necessary to edit catalog/listing/product-list.tpl and remplace the h2 with the h1

bye

**Screenshots**
![4](https://user-images.githubusercontent.com/653230/75471839-03616300-5993-11ea-86ee-9281f66dcfa7.png)
![5](https://user-imag

[2020-02-27 19:26] GTriber opened #17879 "How to remove id_product_attribute from product links?"
Hello there.

Is there a way to remove id_product_attribute from {category:/}{id}-{rewrite}{id_product_attribute}{-:ean13}.html

So links doesnt look a bit strange.

I.e instead of https://mywebsite.pl/strona-glowna/1407-legginsy-adidas-essentials-3-stripes-fm6991.html#/195-rozmiar-164

I would love to see it like https://mywebsite.pl/strona-glowna/1407-legginsy-adidas-essentials-3-stripes-fm6991.

[2020-02-27 19:56] Maofree opened #17880 "CmsPageException codice 0, to create new cms page"
Hi
I manage a new website, very big, it is has a strange error

`Si è verificato un errore inaspettato. [PrestaShop\PrestaShop\Core\Domain\CmsPage\Exception\CmsPageException codice 0]`

it happens only in this website, I've tried to remove all cms pages, then create a new one but I get the same error when I try to push on the save button.

What does this type of error refer to? on the internet I f

[2020-02-27 21:33] francct commented on #14003
Hi @marionf @gadnis,
I was able to do the test (I merged the PR with branch 1.7.7.x), and it works correctly.
There is just an issue, because I can easily force both the "show from subcategory" and "only from default category" status to YES, and of course it's a wrong condition.

![Screenshot (8)_LI](https://user-images.githubusercontent.com/59253436/75488650-09663c80-59b1-11ea-8480-1f5b465ce93b.j

[2020-02-27 21:38] gadnis commented on #14003
@francct you probably forgot to run terminal command: `npm run build` ? There is changes in js files made but you have to build assets manually

[2020-02-27 22:05] francct commented on #14003
I'm sorry, I didn't know I had to compile assets. I've never used Webpack.
Please, can you explane me how to do? I've node.js installed. Which commands should I run and in which directory?

[2020-02-27 22:42] Gipielle commented on #17854
Same problem with prestashop  1.7.6.2 and PHP 7.2

[2020-02-27 22:44] Gipielle commented on #17879
This problem is present since 2014 :-)
Wait ...

[2020-02-27 23:24] francct commented on #14003
Hi @gadnis
I'm sorry, I initially forgot to run `npm run build`.
Now I have run `npm install` and `npm run build` inside `ps_facetedsearch` directory, but i can still set YES on both buttons.

Maybe I'm doing something wrong.

[2020-02-28 01:19] arouiadib commented on #17875
Thank you @Robin-Fischer-PS for this important subject.

If cart rules named `Ship 1` and `Ship 2` have conditions ( like restriction on product selection and/or restriction on carrier selection).
And there are different carriers active.
And, the cart contains many products (with or without specific carriers available)...
And, cart rules named `Ship 1` and `Ship 2` have other actions (like percent

[2020-02-28 02:02] arouiadib commented on #11472
This is no longer an issue in 1.7.7.x

[2020-02-28 02:12] arouiadib commented on #12899
I suggest closing this. Current filtering is done by id in 1.7.7.x
![image](https://user-images.githubusercontent.com/23559010/75504194-18acb080-59d8-11ea-9d68-59be6a391be8.png)

[2020-02-28 02:43] arouiadib opened #17882 "Specs for cart rules"
Whenever you have time guys, it will be invaluable if you give me help.

If we take the possible actions during the creation of cart rule from `Catalog/Cart Rules / Create new cart rule`, there are 16 cases:
![image](https://user-images.githubusercontent.com/23559010/75504863-eb610200-59d9-11ea-9568-42ed0bd37656.png)

Please to take a case(only 1 to 15) and give a comment . It may include:
* Shoul

[2020-02-28 02:57] simontingkamlee commented on #17815
Thank you for the follow up. May I ask

1.	When you mean not enough space, do you mean RAM or hard disk space? Currently the server has 2048 MB RAM and 55GB Hard Disk? How much space would you recommend?
2.	Can you let me know where I should look to troubleshoot issue like this? How do you locate the problem like in this case? Just want to know more about the internal working of Prestashop. Thanks

[2020-02-28 03:04] #17882 closed, assigned to nobody

[2020-02-28 05:07] yenbrand commented on #17854
What should I do? how to fix these problems

[2020-02-28 06:32] gadnis commented on #14003
@francct you need to clear cache in performance section and clear browser cache. Maybe that’s the case

[2020-02-28 07:00] houckontape commented on #15380
Hello ,
would it be possible to have information on the problem of slowness during important import of product?
  I meet the same problem, is there a job to start on this subject?
maybe a priority track ?

thanks !
ps: my first job today  looking mysql log , and more coffee .

[2020-02-28 08:18] marionf commented on #11472
@khouloudbelguith Could you close the issue if fixed in 1.7.7 ?

[2020-02-28 08:30] khouloudbelguith commented on #16413
Hi @yannicka,

Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/11041
So, I close it.
Thanks!

[2020-02-28 08:30] #16413 closed, assigned to nobody

[2020-02-28 08:30] khouloudbelguith commented on #16413
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/11041

[2020-02-28 08:32] khouloudbelguith commented on #11041
Hi,

As suggested by @yannicka in this issue: https://github.com/PrestaShop/PrestaShop/issues/16413

https://github.com/PrestaShop/PrestaShop/blob/e136975bf809f89f35fdd59a785806e3e0bf8eab/classes/Link.php#L233

I've replaced this line by:

[code]

And everything seems to be working fine.

This anchor generates a URL that seems longer than necessary. Perhaps this anchor should be removed or an opti

[2020-02-28 08:39] didi-2018 commented on #17668
@khouloudbelguith should this comment be the fix?

I never click twice. Why should I? I only click once. But I am using a touchpad not a pc-mouse. If that  info may help.

[2020-02-28 08:46] #13074 closed, assigned to nobody

[2020-02-28 09:08] marionf commented on #9548
Duplicate of #14804

[2020-02-28 09:08] #9548 closed, assigned to nobody

[2020-02-28 09:19] zuk3975 opened #17885 "Monitoring page empty categories list view action differs from legacy"
**Describe the bug**
**Sell->Catalog->Monitoring** page is already migrated, but its `Empty categories` grid `view action` is not yet implemented according to legacy behavior. Currently it redirects to the category page, but `it should redirect to products page filtered by that category`. That **requires first to migrate product page**. This issue is a reminder to check that behavior.

**To Reprod

[2020-02-28 09:20] prestascott commented on #17871
Hi @sam-pires,

Thank you for your report. I agree with you, this page should show the exact amount of modules that need to be updated.

Search bar will be nice to use when either the users already know the module to update or simply search if a specific module requires one. As you said, it will be really helpful for the users if they are overloaded by a long modules list to update.

I validate th

[2020-02-28 09:25] francct commented on #14003
@gadnis I cleared the cache from the performance section and cleared the browser cache.
I attach the video [https://youtu.be/hStKB2blFZw](https://youtu.be/hStKB2blFZw)

[2020-02-28 09:35] matks commented on #17809
Hi @kpodemski !

I can give you some context about why we wrapped all form building statements in the code with a very generic try/catch statement.

So, as you know on modern pages which allow to modify identifiable objects such a customer, we provide hooking capabilities for module developers at 2 steps
- when building the form => this allow module developers to add custom fields to the form
- wh

[2020-02-28 09:38] khouloudbelguith commented on #17876
Hi @maofree,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?
I created a PR: https://github.com/PrestaShop/ps_sharebuttons/pull/33 for @maofree suggestion :slightly_smiling_face:

Thanks!

[2020-02-28 09:43] TristanLDD commented on #17871
Hi, I agree with @prestascott, I'm not sure the list of modules to upgrade would justify its own search bar, or at least it's not a priority in my opinion.

[2020-02-28 09:47] eternoendless commented on #17525
Fixed by #17711

[2020-02-28 09:47] #17525 closed, assigned to NeOMakinG

[2020-02-28 09:58] khouloudbelguith commented on #17880
Hi @maofree,

I did not manage to reproduce the issue with PS1.7.6.3.
I tried all these situations
- Renaming the Home category page to "information" from the database manually => OK
- Using Multi-languages => OK
- Disable the employee language => OK
- Using One language => OK

Have you any field required not except the title and Friendly URL?

Thanks!

[2020-02-28 10:01] khouloudbelguith commented on #17880
Could be related to this: https://github.com/PrestaShop/PrestaShop/issues/16725 & https://github.com/PrestaShop/PrestaShop/issues/16514

[2020-02-28 10:11] PierreRambaud commented on #17318
@weddingtextile What version do you used before the update? There were no cache in the 2.*, and nothing change since the first 3.0.0.
It's not a problem to have a huge amount of data in a cache table, this is why this table exists :)

[2020-02-28 10:14] colinegin commented on #17817
As I can see, there is a different meaning in what "required fields" means between the address page and the customer page. When looking at the [user documentation](http://doc.prestashop.com/display/PS17/your+customers)(1.6 and 1.7), it seems that putting an optin as required means that it has to be checked to be able to create a customer account.

[2020-02-28 10:20] Betafer commented on #9866
Same problem prestashop with 1.7.6.2

[2020-02-28 10:22] Betafer commented on #9866
<img width="1727" alt="Schermata 2020-02-28 alle 11 21 31" src="https://user-images.githubusercontent.com/5024055/75540532-82e74480-5a1c-11ea-96dc-7f2aea143964.png">

For every order

[2020-02-28 10:22] sam-pires opened #17886 "Add share buttons for VK and OK.ru in the ps_sharebuttons module"
**Describe the solution you'd like**
Add the possibility to add social share buttons for:
- VKontakte
- Odnoklassniki.

in the module ps_sharebuttons

**Expected behavior**
The behavior should be the same as for the existing buttons.
In the BO, a toggle for each of these 2 social networks should enable/disable the display of the buttons.
When enabled, a button should appear in the product page in

[2020-02-28 10:28] sam-pires commented on #17871
Perfect!
We're good to go then.

Thanks

[2020-02-28 10:42] khouloudbelguith commented on #17879
Hi @GTriber,

Recently we have made some modifications related to the SEO OPTIMIZATION in the product page.
You can follow those links: #9463, #9456
About the bad URL when the product has combinations, we have also this issue #9784, it is added to our bug roadmap, so that will be fixed.
Your ticket is a duplicate of #9784
So, I close it.
Thanks!

[2020-02-28 10:42] #17879 closed, assigned to nobody

[2020-02-28 10:42] khouloudbelguith commented on #17879
Duplicate of #9784

[2020-02-28 10:48] simontingkamlee commented on #17815
Hi,

I cleared some of the space on the server and retry. This time there’s an error message. Please see enclosed. Is it still a space issue?

The Chinese text on the error means “The language pack cannot be used”.

Thanks.

Regards,

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Friday, February 28, 2020 12:43 AM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simon

[2020-02-28 10:51] khouloudbelguith commented on #17885
Hi @zuk3975,

I have the same behavior with PS1.7.7.x branch.
=> redirection to the Categories list page
With PS1.7.6 => redirection Products list page without filtering Categories.

Ping @matks we should add this to the project Symfony or PS1.7.8?

Thanks!

[2020-02-28 10:59] khouloudbelguith commented on #17878
Hi @maofree,

Thanks for your report.
I have the same behavior with PS1.7.6.3 and PS1.7.5.2
`new-products`
`best-sales`
`prices-drop`

Ping @PrestaShop/prestashop-product-team what do you think?

Related to this: https://github.com/PrestaShop/PrestaShop/issues/10470, https://github.com/PrestaShop/PrestaShop/issues/10444

Thanks!

[2020-02-28 11:08] vhessam commented on #17833
@khouloudbelguith with too much debugging problem solved. I figured out that the problem was permission denied! So I replaced the ps_access and ps_authorization with a fresh one.. so issue gone..
Thanks for your support

[2020-02-28 11:16] khouloudbelguith commented on #17815
@simontingkamlee,

In your log file, I found this
1. All files upgraded. Now upgrading database => upgrade of your files was done successfully
2. Database upgrade OK => upgrade of your database was done successfully
3. Database upgraded. Now upgrading your Addons modules...
4. The files of module graphnvd3 have been upgraded. => the last module upgraded was graphnvd3
5. 62 modules left to upgrade.

[2020-02-28 11:21] khouloudbelguith commented on #17668
@didi-2018, in your case the `var/cache/prod/appParameters.php` file is recreated with 000 permissions?

Thanks!

[2020-02-28 11:38] khouloudbelguith commented on #17854
@yenbrand,

![image](https://user-images.githubusercontent.com/16067358/75545296-356fd500-5a26-11ea-9b01-0e1df4e84017.png)
Shop > Theme > Actions > "Back to login" ,

![image](https://user-images.githubusercontent.com/16067358/75545320-47517800-5a26-11ea-8a2e-4c05aef10637.png)

=> the issue is "Translation BO doesn't handle properly same translation with different cases" => fixed by this PR: https

[2020-02-28 11:50] khouloudbelguith commented on #11472
@marionf, it is fixed with 1.7.7.0.
![image](https://user-images.githubusercontent.com/16067358/75546482-e8d9c900-5a28-11ea-9fa6-f846816b2bad.png)

Thanks!

[2020-02-28 11:50] #11472 closed, assigned to nobody

[2020-02-28 11:50] didi-2018 commented on #17668
@khouloudbelguith it is generated with 644 permissions

[2020-02-28 11:59] khouloudbelguith commented on #17668
@didi-2018, I did not manage to reproduce the issue with PS1.7.6.3.
But, you can follow this comment: https://github.com/PrestaShop/PrestaShop/issues/12667#issuecomment-544963403 as a solution.

Thanks!

[2020-02-28 12:23] didi-2018 commented on #17668
this seams to be working. Hope it causes not new errors. Thank you ♥ @khouloudbelguith 😘

[2020-02-28 12:39] yenbrand commented on #17854
please  watch the video.  if necessary I can give access to my site so you can see the mistakes yourself
https://files.fm/u/cr94rgsb#/view/bandicam+2020-02-28+16-29-25-808.mp4;play

[2020-02-28 13:01] PierreRambaud commented on #14003
@francct You maybe need to read the notice under the Switch button :roll_eyes:

[2020-02-28 13:24] weddingtextile commented on #17318
Faceted Search version was 2.2.0
Ok, I'll close the issue.
Thanks All for help!

[2020-02-28 13:24] #17318 closed, assigned to nobody

[2020-02-28 13:24] khouloudbelguith commented on #17668
@go-sudo, any news?

Thanks!

[2020-02-28 13:35] colinegin commented on #17817
Hello @khouloudbelguith ,

After investigation, it seems that it is actually the expected behaviour that we decided on 1763 as you can see in my comment here : https://github.com/PrestaShop/PrestaShop/issues/16509#issuecomment-561768934.

Although the field is required we want to give the possibility to the merchant to create or edit an account and leave the optin unchecked.

So we won't fix this

[2020-02-28 13:35] #17817 closed, assigned to matks

[2020-02-28 13:41] margud opened #17888 "actionCartUpdateQuantityBefore"
**Describe the bug**
Using 1.7.6.3 PS i found out one issue with actionCartUpdateQuantityBefore hook.
In ps_hook_alias we can see that alias is actionBeforeCartUpdateQty and name is actionCartUpdateQuantityBefore. Looks all good but in ps_hook instead of using name and title as actionCartUpdateQuantityBefore there is only actionbeforecartupdateqty.
Because of this only actionbeforecartupdateqty ho

[2020-02-28 13:56] khouloudbelguith commented on #17854
Hi @yenbrand,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16168
So, I close it.
Thanks!

[2020-02-28 13:56] #17854 closed, assigned to nobody

[2020-02-28 13:56] khouloudbelguith commented on #17854
Duplicate of #16168

[2020-02-28 13:58] khouloudbelguith commented on #17888
Hi @margud,

Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/13518?

Thanks!

[2020-02-28 14:08] prestascott commented on #15534
Hi @matks,

Thank you for your reply. In order to avoid bad display in general, i was thinking of implementing display rules and some features:
- Each column has a minimum width and you can't go smaller so you don't break components inside
- An horizontal scrollbar appears on the bottom of the table when the page gets shrinked so the users can access to the rest of the table which is convenient fo

[2020-02-28 14:34] margud commented on #17888
Yes it is.

On Fri, 28 Feb 2020, 15:58 khouloudbelguith, <notifications@github.com>
wrote:

[2020-02-28 15:05] NeOMakinG commented on #15534
I think that's cool and that should be doable !

[2020-02-28 15:05] Uff182 commented on #14354
Hello @khouloudbelguith was there any development on this subject? I'm being impacted by this problem too and this leads to stale informations, especially when you have to export data to other systems.

Thank you

[2020-02-28 15:18] TristanLDD commented on #9676
@colinegin Yes it's confirmed, this was not included in the 1.7.7.

[2020-02-28 15:27] didi-2018 commented on #13169
@khouloudbelguith  I tried this in PS 1.7.6.3 and this makes 500 Error in BO in orders. Is there any other solution to disable the "in_transit" Mail?

[2020-02-28 15:33] khouloudbelguith commented on #14354
HI @Uff182,

Sorry not yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-02-28 15:36] khouloudbelguith commented on #17888
@margud,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12578 to fix the issue.
Your ticket is a duplicate of #13518
So, I close it.
Thanks !

[2020-02-28 15:36] #17888 closed, assigned to nobody

[2020-02-28 15:36] khouloudbelguith commented on #17888
Duplicate of #13518

[2020-02-28 15:39] khouloudbelguith commented on #13169
Hi @didi-2018,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-02-28 15:40] NeOMakinG commented on #9798
Can't reproduce it on develop right now ? Can you confirm @colinegin ?

[2020-02-28 15:43] didi-2018 commented on #13169
@khouloudbelguith I am sorry! I just tried your code and it makes 500 Error and I thought that is a bug. But I have found out how to modify the code cause it is a bit different as in 1.7.5. versions.

SORRY AGAIN !

[2020-02-28 15:43] LouiseBonnard opened #17890 "Fix Serbian locale in PrestaShop"
#### Describe the bug

In PrestaShop 1.7.6, some code is changed and now is not possible to translate to Serbian language from BO. I found that the have added some code that says locale should be a combination of country code and language code. In Serbian case, it would be Sr-RS. That is why old Sr-CS is not working anymore. It works actually everywhere but not on BO when you want to translate any

[2020-02-28 15:59] colinegin commented on #9798
It is supposed to be displayed on the top left of the page and it no longer appears on migrated pages. I just reproduced it on the product page on the develop branch.

[2020-02-28 16:16] NeOMakinG commented on #9798
Oh, it's on the bottom right right now, do you have a design to show me ? So I can reproduce the exact same as it was before

[2020-02-28 16:17] LouiseBonnard commented on #17890
@PrestaShop/prestashop-core-developers, are you aware of this issue?

[2020-02-28 16:20] ProteanCode opened #17892 "Method getClientIp() returns proxy IP instead of the forwarded IP"
As the title says.

I host the shop using docker and jwilder's nginx proxy.

The $_SERVER has my real IP address, but getClientIp() returns the REMOTE_ADDR which is a proxy IP.

You can see this behavious in Maintenance controller where you return the 'currentIp' variable to template

* PrestaShop version: 1.7.6.1
* PHP version: 7.2

Solution proposal: use the remote IP method from Tools class

[2020-02-28 16:25] khouloudbelguith commented on #17892
Hi @ProteanCode,

Thanks for your report.
Is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13074?

Thanks!

[2020-02-28 16:31] ProteanCode commented on #17892
I noticed this while investigating why payment gateways are not opening (got 504 while waiting for payment processor). It looks like external content could not load on the web page so I am going to use network_mode host in docker since using Prestashop behind web proxy is a dreadful experience.

[2020-02-28 16:34] khouloudbelguith commented on #17892
@ProteanCode, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17785 to fix the issue: https://github.com/PrestaShop/PrestaShop/issues/13074
Maybe related https://github.com/PrestaShop/PrestaShop/issues/17117

Thanks to check & feedback

[2020-02-28 16:34] ProteanCode commented on #17892
Also sorry for wrong prestashop version, this buf occurs on 1.7.6.1, not 1.7.6.3

[2020-02-28 16:35] khouloudbelguith commented on #17892
@ProteanCode, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17785 to fix the issue: https://github.com/PrestaShop/PrestaShop/issues/13074
Maybe related https://github.com/PrestaShop/PrestaShop/issues/17117

Thanks to check & feedback

[2020-02-28 16:49] simontingkamlee commented on #17815
Hi,

I tried upgrade my server to double the space (80G) and RAM (4G) but
still the same error. Please see the error log as enclosed. Any
suggestion? Thanks.

Regards,
Simon

----- Original Message -----
From: "PrestaShop/PrestaShop"
<reply@reply.github.com>
To:"PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc:"simontingkamlee" <simonlee@hago-group.com>, "Mention"
<mention@noreply.github.

[2020-02-28 18:15] dtamajon commented on #11914
I had the same problem and it was due to nginx configuration. Following directive solves the problems (the "modules" allowed path):

location ~ /(international|_profiler|module|modules|common|product|feature|attribute|improve|sell|supplier|combination|specific-price|configure|api|stock|security|translations|_wdt)/(.*)$ {
  try_files $uri $uri/ /index.php?q=$uri&$args /admin-ecofestes/index.php$is_

[2020-02-28 18:28] Nerque commented on #17781
Hello @florine2623

I found the problem.

In my case, English(English) is off, because I am using English(GB). But English(English) is the first language installed in the shop, id_language=1. I haven't deleted it, just disabled it.

As I don't have English(English) activated, I don't have the possibility to edit the name and descriptions in this language, only in the languages I have activated. As

[2020-02-28 18:31] yenbrand commented on #17854
How to solve this problem? in  ShopPdf also not saved as on video can you tell me how can I fix this

Total (Tax excl.)
Order date

[2020-02-28 19:23] Nerque commented on #10998
First, Prestashop says that using opcache is a good performance improvement, but then it uses values for parameters that limit the technology's possibilities, until it seems that it is almost not being used.
When, and where, are clear, when the Prestashop cache is cleared, and when a module is removed
There may be other scenarios, but this is better than nothing.
I would try to make the changes my

[2020-02-28 19:46] francct commented on #14003
@PierreRambaud I underlined it in [this comment].(https://github.com/PrestaShop/PrestaShop/issues/14003#issuecomment-5921876160)
Anyway, the functionality is perfect! Thank you so much @gadnis!

[2020-02-28 20:40] corsik commented on #13169
@khouloudbelguith Sorry, I completely forgot to answer. Commenting the code is not a solution because the next update the code will be updated. And with the help of a hook, you can only change the track, and not cancel it.
Therefore, I think this is a bug.

[2020-02-28 21:14] didi-2018 commented on #13169
@corsik

I changed code from:

`// Update order_carrier
                    $order_carrier->tracking_number = pSQL($tracking_number);
                    if ($order_carrier->update()) {
                        //send mail only if tracking number is different AND not empty
                        if (!empty($tracking_number) && $old_tracking_number != $tracking_number) {

[2020-02-28 21:43] matks commented on #17876
I think no need for Product confirmation, it makes perfect sense.
Fixed by https://github.com/PrestaShop/ps_sharebuttons/pull/34, will be delivered with next release of ps_sharebuttons

[2020-02-28 21:43] #17876 closed, assigned to nobody

[2020-02-28 21:59] matks opened #17893 "Improve the way unexpected errors in migrated pages are handled"
_This is a copy of issue https://github.com/PrestaShop/PrestaShop/issues/17809 because there was 2 things to fix in original issue, and the 2 fixes will probably be separated in time._

# WARNING: following statements are to give context only

**Describe the bug**

When we have wrong object value in back-office, in some controllers, we can't tell exactly what's wrong, FormBuilder doesn't give us a

[2020-02-28 22:00] matks commented on #17893
Hi @kpodemski !

I can give you some context about why we wrapped all form building statements in the code with a very generic try/catch statement.

So, as you know on modern pages which allow to modify identifiable objects such a customer, we provide hooking capabilities for module developers at 2 steps
- when building the form => this allow module developers to add custom fields to the form
- wh

[2020-02-28 22:01] matks commented on #17809
PR https://github.com/PrestaShop/PrestaShop/pull/17846 was merged and fixed the error

[2020-02-28 22:01] #17809 closed, assigned to atomiix

[2020-02-28 22:01] matks commented on #17809
Hi @kpodemski !

I split this issue in 2 parts as there were 2 items to fix here: the error, and how to handle the error message. Let's continue exploring the 2nd part together in https://github.com/PrestaShop/PrestaShop/issues/17893 !

[2020-02-28 22:06] matks commented on #17885
@khouloudbelguith we should add this to Product page bug list indeed

[2020-02-28 23:55] samberrry opened #17894 "Add new CMS page issue"
Hi,
I have this issue in my edit or new cms page:

![Screen Shot 2020-02-29 at 3 22 48 AM](https://user-images.githubusercontent.com/20775532/75595791-ffbd0180-5aa2-11ea-8151-ec800e3270d0.png)

the JS error is: TypeError: tinyMCE.activeEditor.getBody(...) is null
cms_page_form.bundle.js:25:6336

I've also cleaned the var/cache/prod. Also, we have upgraded the presta from 1.7.5.2 to 1.7.6.3.
thanks

[2020-02-29 02:04] ProteanCode opened #17895 "Order validation takes more than 2 minutes regardless of server its running on"
#### Describe the bug

If I click on buy in the shopping cart so one of the validation method becomes called and it takes more than 2 minutes to finish.

The payment method is irrevelant, its the execution time of `validateOrder` in `PaymentModule.php`

Its also not important if the app is behind nginx proxy like traefik or nginx itself, I ran it without proxying anything and problem still persist

[2020-02-29 08:01] YanisseZ opened #17896 "I can't upgrade my prestashop store"
#### Describe the bug

I can't upgrade prestashop i have a warning on the line
`PHP's max_execution_time setting has a high value or is disabled entirely (current value: 300 seconds)`

**Screenshots**

[Screen](https://image.noelshack.com/fichiers/2020/09/6/1582963260-capture.png)

#### Additional information

* PrestaShop version: 1.7.6.0
* PHP version: 7.2.19

[2020-02-29 08:06] #17896 closed, assigned to nobody

[2020-02-29 08:31] YanisseZ opened #17897 "Error after update 1.7.6.3"
#### Describe the bug

After the update to 1.7.6.3 When i go on my site or bo i have this
`ERR_TOO_MANY_REDIRECTS`

When i go on files var/logs/dev.log i have this
`[2020-02-29 11:29:46] request.INFO: Matched route "admin_performance". {"route":"admin_performance","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\Configure\\AdvancedParameters\\PerformanceController::indexActi

[2020-02-29 08:36] YanisseZ commented on #17897
I juste have acces with mode dev

[2020-02-29 10:47] EnricoGentiletti opened #17898 "Displaying the second product image as backgroud-image in text customization area on Prestashop 1.7.6 product page"
On product page:
I need to display the second product image in the text customization `textarea` as `background-image`.

Should be changed the the php class or created an other one? And for CSS?

Prestashop 1.7.6

[2020-02-29 11:02] maofree commented on #17880
Hi
this case is similar to #16514 but on cms pages
in this site there are 11 languages, the error is present with and without accent url option
the strange thing is that removing all cms page already present and creating a new example cms page with just aaaaaa for each titles, the error continue to be present. I'll continue to do some tests in the next days

![1](https://user-images.githubusercont

[2020-02-29 11:53] Riddik96 commented on #9945
Can be fixed adding an check on the name of product in the templates

[2020-02-29 12:19] maofree commented on #9809
hi
this is a big problem, at this moment that page cannot manage many data
![1](https://user-images.githubusercontent.com/653230/75607273-a8944c80-5af5-11ea-95c1-b5a36a4d05c7.png)
![3](https://user-images.githubusercontent.com/653230/75607277-ac27d380-5af5-11ea-98b6-792a179543af.png)

I've seen if there are many combinations and many images I need to associate only a part of images for each combin

[2020-02-29 12:23] #17894 closed, assigned to nobody

[2020-02-29 12:30] vhessam commented on #17894
solved

[2020-02-29 12:35] maofree commented on #9809
that error happens with 1 language, to solve it I need to remove all combinations are restart again setting less images (or removing other things).
removed all combinations the page returns to work.
Now I've added a new language, so the error returns also without combinations.
it is not possible to work in this mode for site with many data for some products

[2020-02-29 13:01] #17897 closed, assigned to nobody

[2020-02-29 15:13] alexweissweiss opened #17899 "prestashop communication problem with email, and store via contact us also does not communicate with prestashop"
#### Describe the bug

when i open the page talk to us, and i need to send a message to the support or webmaster, this process is not finalized due to an error.
The message is not sent. It does not appear in the back office. On the other hand, through the back office, I can't send a message or email to my client either. It doesn’t reach him on the website under my account tab, much less in his ema

[2020-02-29 15:19] alexweissweiss commented on #17899
site:  https://www.shoppingdoestudante.com

[2020-02-29 16:00] 01park opened #17900 "Price slider faceted not working correct with Multistore"
Im having an issue with sorting price from low to high - high to low with multiple - multishops. I noticed, the shops that have the issue, do not have the price slider from faceted.

I uninstalled Faceted and installed it with the same version ( latest one ). Rebuild attributes, cleared cache etc. No matter what I do, the price slider will not appear on most shops. I dont know why it shows on some

[2020-02-29 23:22] kpodemski commented on #17893
I agree.

of course, my example was related to mismatch between front-office and back-office e-mail validation, i think that some PR have this removed (email validation in BO) which is "ok" as long as this validation would work when the form is submitted

[2020-03-01 02:48] arouiadib commented on #17848
Thank you @khouloudbelguith for mentioning precisely the exact version (1.7.2.4)  after which the behaviour was broken. That helps a lot :+1:

[2020-03-01 07:53] qwebdevel opened #17902 "When the depth of category sublevels > 3, ps_categoryproducts will not display only products in the current category"
**Steps to reproduce the issue:**
1. I created categories like in the screenshot
![image](https://user-images.githubusercontent.com/16067358/75761392-4c216f00-5d39-11ea-9487-7b5808cd9e26.png)
2. I created a product "g-shock" associated with the list of these categories
![image](https://user-images.githubusercontent.com/16067358/75761459-678c7a00-5d39-11ea-99c4-8231d8214bc3.png)
3. I created a prod

[2020-03-01 13:40] matks commented on #9945
That would work, but it would only hide the real issue 😄. The real issue comes from a bad implementation of the "add a product" page which creates a ghost product the moment you open it (waiting for you to add more informations to link them to this ghost product and make it a real product), and this is what we should rather fix 😉

Also it creates useless SQL rows.

[2020-03-01 15:41] Gipielle opened #17903 "Sort product table (in email, invoices and order view) by reference id"
Hello,

for working better and faster is it would be advisable that both in the orders in the emails and in the pdf the products were ordered by reference

so as to speed up the pickup from the warehouse, as well as avoid errors.

_EDIT:_

**Specs:**
Sort the table of products in alphabetical order of references:
- the invoice file,
- the credit slip file,
- the delivery slip file,
- the order pre

[2020-03-01 15:57] Gipielle commented on #17895
I'm also interested in this

[2020-03-01 16:26] didi-2018 commented on #17895
me too with 1.7.6.3

[2020-03-01 17:59] cubuspl42 commented on #16342
I'm having the same issue

[2020-03-01 18:45] Gipielle opened #17904 "Link Error in search category BO"
#### Describe the bug

Saerching a category in the BO by use the top search. Them click to the category to edit/view, you will always sent to root category and not in the right sub category, all child subcategory link send to root category

#### Expected behavior

Go in the right category edit/view page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3

[2020-03-01 19:15] khalidzuhd opened #17905 "Back office product statistics"
Hello
I have problem with back office main page
In statistics the images didnt load correct...
![Screenshot_2020-03-01-21-10-33-272_com android chrome](https://user-images.githubusercontent.com/1392266/75632096-80920f80-5c01-11ea-86a6-0e55fea08127.jpg)
![Screenshot_2020-03-01-21-10-57-041_com android chrome](https://user-images.githubusercontent.com/1392266/75632100-84be2d00-5c01-11ea-8249-b8ac0b8

[2020-03-01 19:26] Calinoulou commented on #12687
Hello there,

What is the version of PrestaShop to install in order to fix this Google ""Either 'ratingCount' or 'reviewCount' should be specified"" things ?

Thanks,

[2020-03-01 23:52] ProteanCode commented on #17895
This had something to do with email configuration in my case. Check if you can send test email in your admin panel.

Now its working but I am not really sure if this was the real reason. @Gipielle  @didi-2018  could you check if you can send the test email without getting a Timeout?

[2020-03-02 02:08] ZioCan opened #17906 "Wrong display in checkout page for registered customers without address"
In the checkout page there is a link for the logout (`<a href="https://www.mydomain.com/?mylogout=">`) that cover the entire area of the address form, so a clicking on the address form area (a field or even a empty space) cause the logout of the customer.
I have a multishop with two different domains, each shop has a different theme but the problem is present on both shops, the theme's author says

[2020-03-02 03:25] mayoji commented on #16342
@cubuspl42 I found out when I had issue is that the database structure was corrupted, so I suspect the code that migrates the database schema between versions doesn't work for older versions. I ended up upgrading to 1.7.5.2 instead of 1.7.6.2 and that worked fine.
Although I didn't try, you could then probably upgrade from 1.7.5.2 to 1.7.6.3.

[2020-03-02 08:15] khouloudbelguith commented on #17427
Hi @zapper,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-02 08:15] #17427 closed, assigned to nobody

[2020-03-02 08:16] khouloudbelguith commented on #17153
Hi @j0r1s,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-02 08:16] #17153 closed, assigned to nobody

[2020-03-02 08:16] khouloudbelguith commented on #17460
Hi @Sathish-i2i,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-02 08:16] #17460 closed, assigned to nobody

[2020-03-02 08:21] khouloudbelguith commented on #17898
Hi @EnricoGentiletti,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-03-02 08:21] #17898 closed, assigned to nobody

[2020-03-02 08:24] khouloudbelguith commented on #17899
Hi @alexweissweiss,

Your ticket is a duplicate of #9566
So, I close it.
Thanks!

[2020-03-02 08:24] #17899 closed, assigned to nobody

[2020-03-02 08:24] khouloudbelguith commented on #17899
Duplicate of #9566

[2020-03-02 08:39] khouloudbelguith commented on #13891
Hi @marionf,

We should add this issue: https://github.com/PrestaShop/PrestaShop/issues/17885 to the Product page bug list as commented here: https://github.com/PrestaShop/PrestaShop/issues/17885#issuecomment-592750718

Thanks!

[2020-03-02 09:12] khouloudbelguith commented on #17902
Hi @qwebdevel,

I did not manage to reproduce the issue with PS1.7.6.3 and ps_categoryproducts module v1.0.4.
I attached a screen record
https://drive.google.com/file/d/1kg9o4RX61cUgZjWlUKx3zyHGwwruzzwp/view
Thanks to check & feedback.

[2020-03-02 09:35] #17345 closed, assigned to sowbiba

[2020-03-02 09:35] #17437 closed, assigned to sowbiba

[2020-03-02 09:36] khouloudbelguith commented on #17893
Hi @matks,

Related issues about unclear message were fixed in the PS1.7.6.3

1. https://github.com/PrestaShop/PrestaShop/issues/16725 fixed by https://github.com/PrestaShop/PrestaShop/pull/16906
2. https://github.com/PrestaShop/PrestaShop/issues/16514 fixed by https://github.com/PrestaShop/PrestaShop/pull/17087

Thanks!

[2020-03-02 09:37] #17308 closed, assigned to matthieu-rolland

[2020-03-02 09:49] khouloudbelguith commented on #17903
Hi @Gipielle,

Thanks for your report.
I think it could be a good improvement.
In the Order details page & in the email, products are not sorted.
![image](https://user-images.githubusercontent.com/16067358/75664589-fb474300-5c72-11ea-942f-ac42fee3dbe3.png)
![image](https://user-images.githubusercontent.com/16067358/75664620-07cb9b80-5c73-11ea-9a97-97e4ea04058f.png)

In the PDF, products are sorted

[2020-03-02 09:57] khouloudbelguith commented on #17906
Hi @ZioCan,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Thanks to check & feedba

[2020-03-02 10:01] marionf commented on #14003
Thank you for your feedback @francct, it should be ok now
When "Show products only from default category" is on Yes then "Display products from subcategories" goes on No and becomes disabled

[2020-03-02 10:27] khouloudbelguith opened #17908 "BO - Quick search - redirect to the Categories list page"
#### Describe the bug

In the BO, When we search a category with the quick search, we are always redirected to the Categories list page instead of the Edit category page

#### Expected behavior
Redirection to the Categories list page
**Explain what you expected to happen instead.**
Redirection to the Edit category page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Sear

[2020-03-02 10:29] khouloudbelguith commented on #17908
Related to https://github.com/PrestaShop/PrestaShop/issues/14672

[2020-03-02 10:36] khouloudbelguith commented on #17904
Hi @Gipielle,

Thanks for your report.
Is it the same issue with this issue: https://github.com/PrestaShop/PrestaShop/issues/17908?
Is it the quick search?
![image](https://user-images.githubusercontent.com/16067358/75668402-93482b00-5c79-11ea-8b33-919ade0bc836.png)

Or similar to this issue?
https://github.com/PrestaShop/PrestaShop/issues/15588
![image](https://user-images.githubusercontent.com/1

[2020-03-02 10:37] ZioCan commented on #17906
Switched to PHP 7.2.28, nothing changed, the problem remains

[2020-03-02 10:40] didi-2018 opened #17909 "html_entity_decode() expects parameter 1 to be string - 1.7.6.3"
Hello,

my error log file is full of this errors:

2020/03/02 11:07:48 [error] 25568#25568: *6286557 FastCGI sent in stderr: "PHP message: PHP Warning:  html_entity_decode() expects parameter 1 to be string, object given in /var/www/clients/client3844/web7777/web/prestafolder/classes/Tools.php on line 1795" while reading response header from upstream, client: 12.345.67.890, server: mydomain.com, r

[2020-03-02 10:40] matks commented on #17890
Related to https://github.com/jquery-validation/jquery-validation/issues/2244

[2020-03-02 10:49] teapotdale commented on #9833
@JanHavlicek you can edit the admin product controller in the symfony src folder `/src/PrestaShopBundle/Controller/Admin/ProductController.php`.

In the `formAction` method you can unset the $_POST['combinations'] superglobal depending on the shop context. Around line 540

[code]

You will also need to include the `Shop` class at the top of the file:
`use Shop;`

Obviously I would advise against d

[2020-03-02 10:54] khouloudbelguith commented on #17909
Hi @didi-2018,

Could you please add steps to reproduce the issue in a new comment?
You have an error related to this line: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/classes/Tools.php#L1795
Replacing by
`$str = html_entity_decode((string)$str, ENT_COMPAT, 'UTF-8');` could be a solution.

Thanks to check & feedback.

[2020-03-02 10:57] khouloudbelguith commented on #17906
@ZioCan, I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1lefFka3egQXMax7BUeBT1kRC3kOLmiH4/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log

[2020-03-02 10:59] thalassa-web opened #17911 "Multistore - Tax rules - Product price - Wrong calculation price"
#### Describe the bug

I have a PrestaShop 1.7.5.0 with 16 shops. 1 of them is configured to have the default country set with "La Réunion". The 15 others are configured with "France".
Shop ![Shop](https://user-images.githubusercontent.com/29065423/75668373-89bec300-5c79-11ea-992b-fae4c7da2bcc.png)
![Config](https://user-images.githubusercontent.com/29065423/75668315-71e73f00-5c79-11ea-85ec-d275f7

[2020-03-02 11:02] matks commented on #17744
Following https://prettyci.com/goodbye we now know we need to fully replace PrettyCI with GA

[2020-03-02 11:04] matks commented on #17085
It seems latest issue has been moved to https://github.com/PrestaShop/PrestaShop/issues/17875

@Robin-Fischer-PS @MatShir can I close this issue now ?

[2020-03-02 11:04] thalassa-web commented on #17911
Other informations, I put some logs and during the execution of the script when the product is displayed, the context shop id changes.
At the beginning, the shop id is the one of the shop of La Réunion.
But after it changes with the shop of France.
I could'nt find where this behaviour is coded in source ...

[2020-03-02 11:07] MatShir commented on #17903
Hi @Gipielle,
That is a great idea, it makes sense to sort it by references. As a merchant, do you have a nomenclature for all your products to distinguish them from each other?

But do you think sorting by reference is the main working method for a merchant? Do you think It might interest to sort/regroup by alphabetical, by suppliers or even categories?

[2020-03-02 11:15] didi-2018 commented on #17909
@khouloudbelguith seems to be related to translations in BO

changing to: $str = html_entity_decode((string)$str, ENT_COMPAT, 'UTF-8'); breaks the layout of translations site in BO

[2020-03-02 11:20] khouloudbelguith commented on #17909
@didi-2018, sorry, you need just to remove this suggestion.
Could you please add steps to reproduce the issue in a new comment?

Thanks!

[2020-03-02 11:21] LouiseBonnard commented on #17890
So this issue comes from jQuery plugin for translation which does not handle properly Serbian language. If you really want this issue to be fixed you have to consider other solutions:

1. Stop using jQuery Validation in PrestaShop (drop this piece of software) and use a replacement that handles Serbia language correctly.

2. Modify how PrestaShop maps languages Serbia ISO code: according to the jQ

[2020-03-02 11:29] khouloudbelguith commented on #17905
Hi @khalidzuhd,

Thanks for your report.
What is the exact problem of the product's image?
They are not well displayed?
The images displayed are incorrect?
Could you please try to navigate to the BO=> Design => Image Settings page => Try to "Regenerate thumbnails".

Thanks to check & feedback.

[2020-03-02 11:32] photinia73 commented on #17837
Some else!
After Google check there is next problem in the Productcomments module
![image](https://user-images.githubusercontent.com/50954519/75672844-46b91b80-5c8a-11ea-97d5-533711e25a1f.png)

[2020-03-02 11:35] didi-2018 commented on #17909
@khouloudbelguith I do not really know how to reproduce. I just have to find out.

There are problems to open images with specialchars in the name like Ö

[2020-03-02 11:37] Gipielle commented on #17904
No, this: https://github.com/PrestaShop/PrestaShop/issues/17908

found now ...

[2020-03-02 11:39] khouloudbelguith commented on #17904
Hi @Gipielle,

Thanks for your feedback.
It is added to our debug roadmap.
Your ticket is a duplicate of #17908
So, I close it.
Thanks!

Best regards, Khouloud

[2020-03-02 11:39] #17904 closed, assigned to nobody

[2020-03-02 11:39] khouloudbelguith commented on #17904
Duplicate of #17908

[2020-03-02 11:46] Gipielle commented on #17903
Hello,

in my case I have all the coded articles,
working with only one supplier, ordering by supplier is not a problem for me.

We had made the change in prestashop 1.5 which was then lost in the update to 1.7.

I noticed that it works much better with the ordered codes, for a variety of reasons.

I asked that it be included in prestashop in order not to lose the changes with each update and beca

[2020-03-02 11:56] khouloudbelguith commented on #17911
Hi @thalassa-web,

I did not manage to reproduce the issue with PS1.7.6.3
I attached a screen record
https://drive.google.com/file/d/1h3BLwV3a0HJ76_2aUxYfsLgxgqggIk0u/view
We have maybe a similar issue fixed in the previous version.
https://github.com/PrestaShop/PrestaShop/issues/12853

Thanks to check & feedback.

[2020-03-02 12:06] khouloudbelguith commented on #17909
@didi-2018, I did not manage to reproduce the issue with PS1.7.6.3.
I uploaded an image with the name "ÖÖÖÖ.jpg"
I edited the caption ÖÖ
![image](https://user-images.githubusercontent.com/16067358/75675003-8d0c7b80-5c86-11ea-92e3-a0015da45295.png)

No similar errors in log file.

What is the exact image uploaded in your case?

Thanks!

[2020-03-02 12:19] Robin-Fischer-PS opened #17912 "Reduced left menu is not working"
#### Describe the bug

Reduced left menu is not working in 1.7.7 : When there is sub-items in an item, it should open a sub-menu, but nothing happens.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Reduce left menu
3. Try to open an item with sub-items inside (order for example) : Nothing happens.

**

[2020-03-02 12:59] didi-2018 commented on #17909
@khouloudbelguith  my image is 'Belsira-Vintage-Größentabelle.jpg'
and trying to get is 'Belsira-Vintage-Gr%C3%B6%C3%9Fentabelle.jpg'

Problems with ö and ß

[2020-03-02 13:13] ZioCan commented on #17906
Solved! Not a Prestashop problem, but a wrong translation in theme, these two:
`Connected as [1]%firstname% %lastname%[/1].`
`Not you? [1]Log out[/1]`
in the translation there was a blank spaces between / and 1

[2020-03-02 13:28] khouloudbelguith commented on #17906
@ZioCan, thanks for your feedback.

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-03-02 13:28] #17906 closed, assigned to nobody

[2020-03-02 13:38] khouloudbelguith commented on #17880
@maofree, thanks!
Waiting for your feedback.

[2020-03-02 13:39] marionf opened #17916 "Can't add a payment in migrated view order page when using an RTL language"
#### Describe the bug

Can't add a pyament in new order page when using an RTL language because of the date

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install Arabic
2. Open an order with the migrated page
3. Try to add a payment
4. See error

**Screenshots**
![capture d'écran_2410](https://user-images.githubusercontent.com/13449658/75681292-96e8ab80-5c93-11ea-828d-89e95dac2ce5

[2020-03-02 13:40] khouloudbelguith commented on #17707
@caos30, there is no PR to fix this issue yet.
I will re-open.

Thanks!

[2020-03-02 13:44] khouloudbelguith commented on #17854
@yenbrand, sorry this issue not fixed yet.
Please follow: https://github.com/PrestaShop/PrestaShop/issues/16168

[2020-03-02 13:50] khouloudbelguith commented on #17815
I tried with the credentials sent by I have an error
`Error: Unable to establish a connection to the server`.
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-03-02 13:54] khouloudbelguith commented on #17909
@didi-2018, I tried with the same name, but no errors in the dev.log file.
https://drive.google.com/file/d/1Gr_eNKrt2emWK__h41fElu131bQ_O86U/view

Thanks!

[2020-03-02 14:05] didi-2018 commented on #17909
@khouloudbelguith  error is in error log file from my host. Presta log files is nothing. Could you please check you host log files? That would be great ☺

[2020-03-02 14:17] #17851 closed, assigned to matthieu-rolland

[2020-03-02 14:18] marionf opened #17918 "If there are many invoices, you can't add a note for the second invoice"
#### Describe the bug

If there are many invoices, you can't add a note for the second invoice

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders > orders
2. Click on View for an order in "payment accepted" status
3. Add a product to the order and select "Create a new invoice"
4. Click on "Documents" tab and on "Add a note" for the second invoice
5. The field isn't display

[2020-03-02 14:19] khouloudbelguith commented on #17909
@didi-2018, no errors found by the server.
https://drive.google.com/file/d/1ZQzu2KT8RXemek9JBIOFCjwzrfkUfMEm/view

Thanks!

[2020-03-02 14:26] didi-2018 commented on #17909
@khouloudbelguith  you are using apache not nginx?

[2020-03-02 14:31] khouloudbelguith commented on #17909
@didi-2018, yes!

[2020-03-02 14:52] khouloudbelguith commented on #17781
@Nerque, I did not manage to reproduce the issue with PS1.7.6.3.
https://drive.google.com/file/d/1LT_eFWEmL3-T4cZVcpEeCbuDnrDBmegH/view
The language related products names in BO product settings will be shown in English as reported here: https://github.com/PrestaShop/PrestaShop/issues/17822

Thanks!

[2020-03-02 14:53] yourizuring opened #17922 "Referrer doesn't recognize the data mining for statistics module"
#### Describe the bug

A clear and concise description of what went wrong.
When looking in the referrers section, one of the boxes say 'The module 'Data mining for statistics' must be activated and configurated in order to have all the statistics', while the Data mining for statistics module is already configured.
#### Expected behavior

Explain what you expected to happen instead.
The text in the

[2020-03-02 15:01] Nukium commented on #9648
Hi,

We made a pull request for that : https://github.com/PrestaShop/ps_crossselling/pull/7

Best regards,

[2020-03-02 15:03] marionf opened #17924 "In RTL I have to click 3 times on the checkbox to select the product"
#### Describe the bug

In RTL I have to click 3 times on the checkbox to select the product to cancel, to refund or to return

#### Expected behavior

It should work when I check the box the first time as in legacy

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install Arabic or another RTL language
2. Choose arabic as language in your employee profile
1. Go to orders > orders (mig

[2020-03-02 15:03] khouloudbelguith commented on #17922
Hi @yourizuring,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-02 15:04] qwebdevel commented on #17902
Hi @khouloudbelguith just check url in product and url category is not the same and when you add product in category in ps_category module show all products not only the products in current category so i think this is not a module bug sorry for misunderstanding i don't explain the problem very well

[2020-03-02 15:06] khouloudbelguith commented on #10617
Hi,

We should fix this issue: https://github.com/PrestaShop/PrestaShop/issues/17922 during the migration.

Thanks!

[2020-03-02 15:44] didi-2018 commented on #17909
@khouloudbelguith  this error comes by using some modules. I am using nginx/1.14.0 not apache.

[2020-03-02 15:47] khouloudbelguith commented on #17909
@didi-2018,

Modules provided by PrestaShop?

Thanks!

[2020-03-02 15:52] didi-2018 commented on #17909
@khouloudbelguith  it is really hard to find out. I try my best. Now I have this error in cart when customer wants to checkout. In 'cart-summary-product-line.tpl'

[2020-03-02 15:55] didi-2018 commented on #17909
@khouloudbelguith  only when smart cache is enabled.

[2020-03-02 16:03] khouloudbelguith commented on #17900
Hi @01park,

I did not manage to reproduce the issue with
1. PS1.7.5.2 and ps_facetedsearch v2.2.0.
2. PS1.7.5.2 and ps_facetedsearch v3.4.1.
3. Ps1.7.6.0 and ps_facetedsearch v3.4.0.
4. PS1.7.6.0 and ps_facetedsearch v3.4.1.
5. PS1.7.6.3 and ps_facetedsearch v3.4.1.

I attached a screen record
https://drive.google.com/file/d/1EdSCVIIW9Z1qQIK4NPJs3Ml7MlB6ZcMy/view

Thanks to check & feedback.

[2020-03-02 16:06] thalassa-web commented on #17911
I found the option which changes the country ... It is the geolocation.
I did not see it was activated ...

[2020-03-02 16:06] #17911 closed, assigned to nobody

[2020-03-02 16:10] yannicka opened #17926 "Add a unique key to features"
#### Is your feature request related to a problem?

No.

#### Describe the solution you'd like

Currently, when we create a feature, we assign a name to it. Once the feature is saved, an identifier is assigned to it.

Sometimes, for example to generate a PDF file, you may want to retrieve only few features. Currently, we are obliged to use identifiers for this, which is not practical because they

[2020-03-02 16:14] khouloudbelguith commented on #17926
Hi @yannicka,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-03-02 16:40] khouloudbelguith commented on #17902
@qwebdevel, it is an option in the ps_facetesearch module.
"Show products from subcategories" is enabled in your case, you need to disable it.
![image](https://user-images.githubusercontent.com/16067358/75697127-f0a99f80-5cac-11ea-9702-686e5b6a02ef.png)

Thanks to check & feedback.

[2020-03-02 16:54] khouloudbelguith commented on #17895
Hi @ProteanCode,

About the "Frontcontroller::init" error, it is a different issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/9866

In my case, When the email is not well configured, it is well working also
https://drive.google.com/file/d/1UZBNIJ232LqTPAJzIQ6UYdJ-JIgzNmwN/view

The information for these fields, SMTP, should be provided by your web host: mail domain name, SMT

[2020-03-02 16:57] khouloudbelguith commented on #17909
@didi-2018, did you use a custom theme?

Thanks!

[2020-03-02 17:22] NeOMakinG commented on #14001
Still unfixable without a bootstrap update of UIKit and BO Themes

[2020-03-02 17:27] matks commented on #12687
This is controlled by your theme. If you are using the Classic Theme or a theme based on it, the bugfix is available for PS 1.7.7.0 which is not released yet (should be available in April/May 2020). However you can see the needed changes for Classic Theme in PR https://github.com/PrestaShop/PrestaShop/pull/14558.

If your theme is done by a 3rd party developer you must ask the developer or do it y

[2020-03-02 17:29] matks commented on #17085
So it seems the last bug in this issue is the counterpart of https://github.com/PrestaShop/PrestaShop/issues/17875 but in BO 😄

[2020-03-02 17:34] didi-2018 commented on #17909
@khouloudbelguith  I use a custom theme. Do you think this theme causes the problems? Then I can try to contact the theme´s developer.

[2020-03-02 18:01] Gipielle commented on #16168
Any news ?

[2020-03-02 22:09] Betafer opened #17929 "/modules/ps_advertising/img/advertising-s1.jpg net::ERR_BLOCKED_BY_CLIENT"
Get error: /modules/ps_advertising/img/advertising-s1.jpg net::ERR_BLOCKED_BY_CLIENT

and image of block advertising not shown with firefox

I think the image name is the problem but not sure

* PrestaShop version: 1.7.6.3
* PHP version: 7.2

[2020-03-02 23:41] Armanho commented on #17924
It works on Persian language.

[2020-03-03 03:11] simontingkamlee commented on #17815
Sorry, I changed something on the FTP access but now I changed it back. It should work now with the credentials. Thanks!

Regards,

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Monday, March 2, 2020 9:51 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaSh

[2020-03-03 04:43] qwebdevel commented on #17902
@khouloudbelguith just make new product add in /category/sub-category/sub-category and look url in domain is domainname.com/category/product_url after this with menu go to last sub category and go to product see url is domainname.com/category/sub-category/sub-category/product_url  so urls don't match i think this is not module problem.

[2020-03-03 04:58] qwebdevel commented on #17902
I will give you example i have watches site for my case is for casio so i make category and sub category /men/g-shock i add g-shock watch in /men/g-shock after this i make second category  and called /men/edifice i add edifice watch when i go to edifice watch or g-shock watch i see both in ps_category module which is in the end of product so i think there is problem related with product urls

[2020-03-03 06:34] langziyang opened #17930 "getProductIdByDate function sql only get form_quantity is 1 products"
* PrestaShop version: 1.7+
* PHP version: N/A

[code]

why the where must be from_quantity=1. is bug or not?

[2020-03-03 07:37] khouloudbelguith commented on #17474
Hi @MarcelRoos,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-03 07:37] #17474 closed, assigned to nobody

[2020-03-03 07:55] khouloudbelguith commented on #17929
Hi @Betafer,

I did not manage to reproduce the issue with PS1.7.6.3 and the ps_advertising module v1.0.2 using Firefox v45.6.0.
I attached a screen record
https://drive.google.com/file/d/1sO61zzW7j-XJiWwPq_X3Cyx3gvbvOAfy/view
What is the exact version of Firefox did you use?

Thanks!

[2020-03-03 07:57] Betafer commented on #17929
Hello, i have firefox 73

[2020-03-03 08:15] khouloudbelguith commented on #17929
@Betafer, it is ok using Firefox v73
https://drive.google.com/file/d/1f9niCKzCpPka25P0B9TGFl0Lmzo3N5wl/view
The cause could be in the network transport layer, a proxy server or a router between you and the server. It might also be something in the browser.

Thanks to check with your host and feedback.

[2020-03-03 08:16] Betafer commented on #17929
I Think Adblock plus, but i also have the problem without it

[2020-03-03 08:22] khouloudbelguith commented on #17929
@Betafer,

**How to solve net::err_blocked_by_client?**
There are some essential ways following which you can solve the net::err_blocked_by_client problem and use the browser at its full potential once again.

1. Disable the extension – one of the easiest ways to prevent this error from happening is by disabling the extension from Chrome. Just disable the Adblocker or the browser safety extension

[2020-03-03 08:22] #17929 closed, assigned to nobody

[2020-03-03 08:25] marionf commented on #17924
I have the same issue in Persian with 1.7.7.x branch

[2020-03-03 08:39] khouloudbelguith commented on #17930
Hi @langziyang,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?
This line https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/classes/SpecificPrice.php#L677 is normal behavior or a bug?

Thanks!

[2020-03-03 08:39] Betafer commented on #17929
Hello, the problem is not for me (shop owner) but for clients.
The customer must be able to see the block, even if he uses an adblocker, I think it is enough to be able to change the name of the image or perhaps the module

[2020-03-03 09:06] ashish76 opened #17932 "Not able to upgrade from Prestashop 1.5.6.2 to 1.7.6.3 using 1-Click Upgrade"
Hi,
I am trying to upgrade my shop from Prestashop 1.5.6.2 to the latest version 1.7.6.3 using 1-Click upgrade module developed by Prestashop.

My database size almost 6.5 GB. and its taking hell lots of time to upgrade. After taking backup of the database it gives an error that Prestashop directory does not exist in the path /adminpanel/autoupgrade/download.

I have checked the path and found tha

[2020-03-03 09:15] JoshaMunnik opened #17933 "Save after adding an attachment in product page gives an error"
#### Describe the bug

After adding an attachment in the product page, Save (or any of the other buttons that will do a save) will give an error.

#### Expected behavior

After Save the green "Settings Updated." should popup.

#### Reason

This happens when one or more file attachments have been deleted.

After adding a new attachment, the id of that attachment is used as the value for the checkbo

[2020-03-03 09:15] khouloudbelguith commented on #17932
Hi @ashish76,

You can use the 1-click upgrade module v1.6.1.8 to make an upgrade from 1.5 to 1.6 as described here: https://addons.prestashop.com/en/data-migration-backup/5496-.html
You can use the 1-click upgrade module v4.10.1 to make an upgrade from 1.6 to 1.7 as described here: https://addons.prestashop.com/en/data-migration-backup/5496-.html
As always, you can use the 1-click update to upgra

[2020-03-03 09:22] khouloudbelguith commented on #17933
Hi @JoshaMunnik,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1rVUUgxnBXd205se3OVENQ1o0pjBuA107/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - a

[2020-03-03 09:32] khouloudbelguith commented on #17902
@qwebdevel,

1. I created categories like in the screenshot
![image](https://user-images.githubusercontent.com/16067358/75761392-4c216f00-5d39-11ea-9487-7b5808cd9e26.png)
2. I created a product "g-shock" associated with the list of these categories
![image](https://user-images.githubusercontent.com/16067358/75761459-678c7a00-5d39-11ea-99c4-8231d8214bc3.png)
3. I created a product "edifice" associa

[2020-03-03 09:36] ashish76 commented on #17932
Hi
I am using the 1-click upgrade module v1.6.1.8. That is correct

Is it a 2-way process? Means first I have to upgrade the shop into 1.6 and then 1.7

Do you have any tutorials or videos for the same?

But why I am getting this error?

Please advise

[2020-03-03 09:37] Betafer commented on #17929
Problem solved by re-installing the module

[2020-03-03 09:47] khouloudbelguith commented on #17932
@ashish76,

There are two ways to upgrade PrestaShop:

1. Automatic: for the 1.5: you can use the 1-click upgrade v1.6.8(you can follow this [link](http://doc.prestashop.com/display/PS15/Automatic+update)), for PS1.6 => 1.7, you can use 1-click upgrade v4.10.1
https://addons.prestashop.com/en/data-migration-backup/5496-.html
2. Manual: for PS1.5, you can follow this link: http://doc.prestashop.com

[2020-03-03 09:52] khouloudbelguith commented on #17815
@simontingkamlee, could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
Or simply download this file
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4280558/phppsinfo

[2020-03-03 09:53] khouloudbelguith commented on #16168
Hi @Gipielle,

Sorry, not yet.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-03-03 09:54] marionf opened #17934 "Button "tranform a guest into a customer" missing on view order page"
### Describe the bug

Button "tranform a guest into a customer" missing on order page

### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the FO and make an order as a guest (don't fill password field)
2. Go to the BO and display the order
3. The button "Tranform a guest into a customer" that was on legacy page is missing

**Screenshots**
![capture d'écran_2419](https://user-images

[2020-03-03 09:55] marionf commented on #17934
Ping @MatShir for specs

[2020-03-03 09:55] khouloudbelguith commented on #17909
@didi-2018,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedback.

[2020-03-03 10:04] marionf opened #17935 "Shipping address shouldn't be filled for an order with only virtual products"
#### Describe the bug

Virtual products are not delivered, so shipping address shouldn't be filled for an order with **only** virtual products

#### Expected behavior

Don't display shipping address

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the FO and order a virtual product (ex: Illustration vectorielle Renard)
2. Go to the BO and view the order
3. See the shipping addr

[2020-03-03 10:09] Gipielle commented on #17903
Is there a quick method of solving this problem?

[2020-03-03 10:28] MatShir commented on #10122
@khouloudbelguith it looks like the issue is solved with the migration of the customer page
. Could you do a deeper check?

[2020-03-03 10:34] hekep opened #17936 "install/upgrade/upgrade.php: Call to a member function trans()"
Tue Mar 03 12:09:24 2020 warn pid 1998 [fcgid_bucket.c(153):] "client xxx.xxx.xxx.xxx:54352" mod_fcgid: stderr: "PHP" Fatal error:  Uncaught Symfony\\Component\\Debug\\Exception\\FatalThrowableError: Call to a member function trans() on null in /publice_html/src/PrestaShopBundle/Install/XmlLoader.php:469
Tue Mar 03 12:09:24 2020 warn pid 1998 [fcgid_bucket.c(153):] "client xxx.xxx.xxx.xxx:54352" m

[2020-03-03 10:38] khouloudbelguith commented on #10122
Hi @MatShir,

No, the problem not solved yet.
![image](https://user-images.githubusercontent.com/16067358/75767618-66f8e100-5d43-11ea-8be5-5b446cb56c0a.png)
The problem is that the guest account is not transformed into a customer account, it creates a second account => there is no alert => visitors can do multiple orders with the same mail address.

Thanks!

[2020-03-03 10:40] khouloudbelguith commented on #17936
Hi @hekep,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source) before the upgrade
 - PrestaShop version after the upgrade
 - 1-click upgrade module version
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you

[2020-03-03 10:41] MatShir commented on #10122
And in 1.7.7 ?

On Tue, Mar 3, 2020 at 11:38 AM khouloudbelguith <notifications@github.com>
wrote:

--

[image: PrestaShop]
<https://www.prestashop.com/?utm_source=signature&utm_medium=e-mail&utm_campaign=emails-signatures>

Mateus Shirlaw

Product Owner/Analyst

t: +33 (0)6 59 27 87 72

mateus.shirlaw@prestashop.com

PrestaShop Online:
[image: Facebook] <https://www.facebook.com/prestashop> [imag

[2020-03-03 10:43] hekep commented on #17936
I "have solved" the issue like this:

/publice_html/src/PrestaShopBundle/Install/XmlLoader.php on line 469

	/*
                $this->setError($this->translator->trans('An SQL error occurred for entity <i>%entity%</i>: <i>%message%</i>', array('%entity%' => $entity, '%message%' => Db::getInstance()->getMsgError()), 'Install'));
				*/

				  $this->setError('An SQL error occurred for entity <i>'.

[2020-03-03 10:45] khouloudbelguith commented on #17936
@hekep, since it is fixed, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-03-03 10:45] #17936 closed, assigned to nobody

[2020-03-03 10:45] hekep commented on #17936
To reproduce the issue you should have  incomplete  Prestashop database, which is unlikely to have.   But the bug or error is still there.  It stops entire process to Apache 500.

[2020-03-03 10:46] hekep commented on #17936
You are not really foolproofing , the software.

[2020-03-03 10:52] hekep commented on #17936
I did try this one:
https://www.prestashop.com/forums/topic/607468-call-to-a-member-function-trans-on-a-non-object/

To change
this->translator->trans()
to
Context::getContext()->getTranslator()->trans()

And got errormessage:
mod_fcgid: stderr: "PHP" Fatal error:  Uncaught Symfony\\Component\\Debug\\Exception\\ClassNotFoundException: Attempted to load class "Context" from namespace "PrestaShopBun

[2020-03-03 10:53] LouiseBonnard commented on #17753
@MatShir, is it planned in the rework of the order page? or for a second chapter? ;-)

[2020-03-03 10:55] khouloudbelguith commented on #17936
@hekep, to reproduce, I need more details

1. PrestaShop version (source) before the upgrade
2. PrestaShop version after the upgrade
3. 1-click upgrade module version

Thanks!

[2020-03-03 10:56] matks opened #17937 "Strenghten the CI by checking mandatory modules can be installed"
Our CI just failed because GDPR module cannot be installed on latest versions. Instead of having Puppeeter finds out because GDPR checkbox does not exist, we should check after automatic PS install that mandatory modules are correctly installed.

A 1st basic implementation would be to check `modules/X` folder exists.

@SimonGrn @boubkerbribri can you please tell me what are the mandatory modules t

[2020-03-03 11:02] khouloudbelguith commented on #17848
The same issue with a product which has combinations

Thanks!

[2020-03-03 11:06] t3nd0 commented on #13931
Hello @khouloudbelguith @vincent-dp
I have currently the same trouble for `themes\classic\templates\checkout_partial\cart-detailed-product-line.tpl`
My customer is on PS1.7.5.1 and can't update to next version. I need to fix the bug manually. I checked the changlog but didn't see anything. Do you have any suggestion? Thank's a lot.

[2020-03-03 11:12] LouiseBonnard commented on #10540
Improvement #17926 to study when starting the migration.

[2020-03-03 11:13] hekep commented on #17936
Basicly you need to have incomplete database dump which triggers error message code
in /publice_html/src/PrestaShopBundle/Install/XmlLoader.php on line 469

Prestashop 1.7.6.3.

[2020-03-03 11:18] khouloudbelguith commented on #10122
@MatShir, yes!
![image](https://user-images.githubusercontent.com/16067358/75770852-16848200-5d49-11ea-8a6b-1474fec7a0c5.png)

Thanks!

[2020-03-03 11:20] khouloudbelguith commented on #17936
@hekep,

How can I have an incomplete database?
Are there any exact steps?

Thanks!

[2020-03-03 11:23] davidglezz opened #17939 "Specific prices do not allow select time"
#### Describe the bug

In previous versions of prestashop (before migrating product page) allow a specific price to start at a certain time.
Now you can only select date, not time.

It is not clear if it is included or excluded day (start of the day or end of the day).

Why not use the native selector or input type = date ?.

#### Expected behavior
Allow product specific prices to have date with t

[2020-03-03 11:24] hekep commented on #17936
perhaps drop modules table from database. or some other tables.

[2020-03-03 11:24] LouiseBonnard commented on #17713
Hi @MauroKali, @khouloudbelguith, good news: we already have a wording for that! See below:

_The route %routeRule% is not valid_ in _Admin.Shopparameters.Feature_

[2020-03-03 11:26] didi-2018 opened #17940 "can not enable "Memcached via PHP::Memcache PECL" - 1.7.6.3"
Hello,

I can not enable Memcached via PHP with PECL on 1.7.6.3. PECL Memcached is installed on server. But I can not choose it in BO:

![image](https://user-images.githubusercontent.com/44971218/75771192-c2c66880-5d49-11ea-9934-3cd9156811a3.png)

![image](https://user-images.githubusercontent.com/44971218/75771247-e4bfeb00-5d49-11ea-98b0-dfa7b06a1d83.png)

PS 1.7.6.3
PHP 7.2.1
nginx/1.14.0

[2020-03-03 11:26] khouloudbelguith commented on #17936
@hekep,

manually?
This is will be an incorrect behavior.

Thanks!

[2020-03-03 11:28] khouloudbelguith commented on #17939
Hi @davidglezz,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11329
So, I close it.
Thanks!

[2020-03-03 11:28] #17939 closed, assigned to nobody

[2020-03-03 11:29] khouloudbelguith commented on #17939
Duplicate of #11329

[2020-03-03 11:29] hekep commented on #17936
Idea is to foolproof the code and tell correct error message to user, and not just die on displaying error message.

[2020-03-03 11:36] 01park commented on #12687
@matks Any chance you can release this fix in the up coming 1.7.6.4?

[2020-03-03 11:39] JoshaMunnik commented on #17933
I'll see if I have time to create a new empty shop. As last test you could try to delete an attachment via the Catalog -> Files section and then try to add another attachment.

[2020-03-03 11:39] khouloudbelguith commented on #17936
@hekep, if you drop the ps_module tab from Database, all the BO will be broken.
![image](https://user-images.githubusercontent.com/16067358/75772323-01f5b900-5d4c-11ea-800d-fe384bc17b8d.png)

Thanks!

[2020-03-03 11:42] khouloudbelguith commented on #17933
@JoshaMunnik, it is OK
https://drive.google.com/file/d/1dOpBFoaM2W-741RIPBp3NnSts0U42HRk/view
Waiting for your feedback.

[2020-03-03 11:56] hekep commented on #17936
I do not know what problem exactly trigger code  in /publice_html/src/PrestaShopBundle/Install/XmlLoader.php on line 469

However "$this->translator->trans()" is not available in this"install/upgrade/upgrade.php"  context.

  $this->setError($this->translator->trans('An SQL error occurred for entity <i>%entity%</i>: <i>%message%</i>', array('%entity%' => $entity, '%message%' => Db::getInstance()->

[2020-03-03 12:00] khouloudbelguith commented on #17936
@hekep, so having an incomplete database is not a solution to reproduce the issue.

Thanks!

[2020-03-03 12:05] khouloudbelguith commented on #17940
Hi @didi-2018,

I followed those links to install Memcached
https://www.itzgeek.com/how-tos/linux/debian/how-to-install-memcached-on-debian-9.html
https://serversforhackers.com/c/installing-php-7-with-memcached

Thanks!

[2020-03-03 12:18] SamiXSous opened #17941 "No data sent to localhost after installation"
#### Describe the bug

After installation I receive a 500 error from localhost when trying to visit any page

#### Expected behavior

![image](https://user-images.githubusercontent.com/10419603/75773154-9dd3f480-5d4d-11ea-8755-ac75b979f378.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Donwload PrestaShop V.1.7.6.3
2. Extract zip and place in htdocs from MAMP
3. Open browser t

[2020-03-03 12:22] roja45 commented on #17827
I think this also affects the /img directory, and compatibility with the tiny_mce rich text editor.  I load a mail template into the text editor, which includes a link to the shop logo, and I get a denied error for the logo.

[2020-03-03 12:27] #17941 closed, assigned to nobody

[2020-03-03 12:28] SamiXSous commented on #17941
Seemed to be a problem with my Apache server

[2020-03-03 12:30] didi-2018 commented on #17940
@khouloudbelguith  please look here at you post: https://github.com/PrestaShop/PrestaShop/issues/15681

it is the same after install "memcache**d**" with 'd'

[2020-03-03 12:33] JoshaMunnik commented on #17933
I tried with a new shop and it is indeed working. The checkbox values are the ids of the attachments.

With my shop the checkbox values are indexed numbers from 0 to number of attachments - 1. My shop has about a 1000 attachments, but that shouldn't matter?

Thank you for looking into it; i'll try to figure out why my shop is behaving differently.

[2020-03-03 12:33] #17933 closed, assigned to nobody

[2020-03-03 12:52] khouloudbelguith commented on #17940
@didi-2018, In my post, I m selecting the second option, in your screenshot, you need to select the first option is it?

Thanks!

[2020-03-03 13:01] cins06 commented on #15645
Hello, I have a problem connecting to my prestashop back office here are the errors.
Can you help me?

(1/1) ContextErrorExceptionWarning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?
--
in UnitOfWork.php line 2636
at ErrorHandler->handleError(2, '"continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?', '/home/sushiforym/w

[2020-03-03 13:04] davidglezz opened #17942 "Can't cancel 'Reorder' in the products listing"
#### Describe the bug
Once you press reorder, you cannot cancel the action unless you move a product.
Not even updating the page.
If you change something and you don't want to save, you can't.

#### Expected behavior
Possibility of cancel / not rearrange list if you unintentionally press the button or do not want modifications.

#### Steps to Reproduce
1. Select a category in the product list
2. P

[2020-03-03 13:04] boubkerbribri commented on #17937
I checked, and for now, we need `GDPR` and `ps_legalcompliance`.
Thanks @matks

[2020-03-03 13:12] khouloudbelguith commented on #17942
Hi @davidglezz,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-03-03 13:14] khouloudbelguith commented on #17933
@JoshaMunnik, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-03-03 13:16] khouloudbelguith commented on #15645
Hi @cins06,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade you

[2020-03-03 14:02] yourizuring opened #17944 "Backoffice unavailable"
Is this only happening for me or am I the only one who can not access the back office to Prestashop (the 2nd one I made, not the first one)?

![image](https://user-images.githubusercontent.com/47860706/75782921-eeece400-5d5f-11ea-9593-bb19492fa607.png)

[2020-03-03 14:02] antonincizek25 opened #17945 "Stock bug in Prestashop 1.7.6.0"
I have Prestashop 1.7.6.0 multistore and has a problem with stocks.

The problem is following - I have one item out of stock

This item should't buy anybody, but after some time this item without any increasing stock quantity has automatickly rising number in stock from 0 to 1.
So my customers buy a products which I do not have for sale.
Please help me to solve this issue. I do not use any softwar

[2020-03-03 14:05] khouloudbelguith commented on #17944
Hi @yourizuring,

After a fresh install, when you click on the "backoffice" link, you will be redirected to the not found page, is it the first click?
Because if you just clicked before, the folder will be automatically renamed to `adminxxx`.
So when you clicked the second time, you will be redirected to a not found page because the admin folder doesn't exist.
Thanks to check and feedback.

[2020-03-03 14:09] khouloudbelguith commented on #17945
Hi @antonincizek25,

In your Shop group configuration, the `Share available quantities to sell` is enabled or not?
Did you cancel any order recently?

Thanks!

[2020-03-03 14:10] MatShir commented on #10122
Could you provide us the steps?
Because if you do it from the order, it does duplicate the account just transform it.

[2020-03-03 14:16] yourizuring commented on #17944
Can you please fix it, because I am actually at work right now while typing
this email, and I have to work on it sooner than later.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virusvrij.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A

[2020-03-03 14:19] khouloudbelguith commented on #10122
@MatShir, no sorry, it is not a Back office issue.
Steps to reproduce the issue:
1. Go the BO => Shop Parameters => Order Settings page
2. Enable guest checkout
3. Go to the FO => add some product to cart => process checkout with a guest account "test@test.com" => complete the order
4. Check the Back office => Customers page => new line is added
5. Go to the FO => add some product to cart => proce

[2020-03-03 14:22] khouloudbelguith commented on #17944
@yourizuring, could you please check in your Project_Folder, the exact name of your `admin-folder`.
For example, in this case it is `admin-dev`

Thanks!

[2020-03-03 14:30] LouiseBonnard commented on #17837
I agree with @khouloudbelguith, it would be nice to have this option in the **Advanced Parameters > Administration** page of the back office. Another idea to complete the idea would be to add this option to the **Favicon Notifications BO** module.

[2020-03-03 14:35] yourizuring commented on #17944
I can't connect to the server in FileZilla for some oddly reason

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virusvrij.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Op di 3 mrt. 2020 om 15:22 schreef khouloudbelgu

[2020-03-03 14:38] khouloudbelguith commented on #17944
@yourizuring, after solving issues on your server, you need to check the admin folder and feedback.

Thanks!

[2020-03-03 14:42] yourizuring commented on #17944
What exactly do you mean by that?

Op di 3 mrt. 2020 om 15:38 schreef khouloudbelguith <
notifications@github.com>:

[2020-03-03 14:45] MatShir commented on #10122
Oh i see, I was on another problem. It was when you transform a guest
trough the customer or order page to a customer.

[2020-03-03 14:50] marionf opened #17949 "On the last/first order, the next/previous button should be disabled"
#### Describe the bug

View the last order, the "next" button isn't disabled
View the first order, the "previous" button isn't disabled

#### Expected behavior

On the last/first order, the next/previous button should be disabled as in legacy

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > orders and view the first & last orders
2. Click on "previous" for the first order

[2020-03-03 14:51] khouloudbelguith commented on #17944
@yourizuring, you need to check the `admin` folder name of your Project.
It is not `admin,` it is renamed automatically after fresh install to `adminxxxx`.

Thanks!

[2020-03-03 14:54] antonincizek25 commented on #17945
No, to share available quantities has been disabled. I haven't canceled any order, because I knew it transfer the stock quantity from the order to stock.

[2020-03-03 14:58] khouloudbelguith commented on #17945
@antonincizek25,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-03 15:05] morghy1992 opened #17950 "Problem With Geolocation"
Hello everyone,

I use PS 1.7.5 and I would like to block some countries because I think they are bot.
I went into Geolocation to active Geolocation via IP but it give me error : Geolocation database not available.
I tried also to download the file and it does't open with this link : https://geolite.maxmind.com/download/geoip/database/GeoLite2-City.mmdb.gz

Could you please help me?

[2020-03-03 15:13] khouloudbelguith commented on #17950
Hi @morghy1992,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17413 to fix the issue.
Your ticket is a duplicate of #17174
So, I close it.
Thanks!

[2020-03-03 15:13] #17950 closed, assigned to nobody

[2020-03-03 15:13] khouloudbelguith commented on #17950
Duplicate of #17174

[2020-03-03 15:13] khouloudbelguith commented on #17950
Here's an improvement about modifying the way users access MaxMind GeoIP service
https://github.com/PrestaShop/PrestaShop/issues/17193

Thanks!

[2020-03-03 15:17] morghy1992 commented on #17950
@khouloudbelguith  Thank you for your reply. I don't understand how to fix the problem. Sorry I am not very use to it . Could you please help me?

[2020-03-03 15:17] matks commented on #17937
I created a bash script that does the job but I cannot add it in your tests 😢
[code]

@boubkerbribri As you guys install PS using the graphical interface, in order for this to be run it would need
1. install PS using puppeter to click on buttons in installer
2. check the modules
3. continue other sanity tests

[2020-03-03 15:21] LouiseBonnard commented on #17942
I think we should be able to cancel the feature, thanks @davidglezz and @khouloudbelguith. Indeed, there is no button nor action to undo it. Except for the radio button 'Unselect' in the filters dropdown and it does not really allow the users to disable the feature...

[2020-03-03 15:25] cins06 commented on #15645
Thank you soo much

Le mar. 3 mars 2020 à 14:16, khouloudbelguith <notifications@github.com> a
écrit :

[2020-03-03 15:29] Angar90 opened #17953 "PrestaShop 1.7.6.x - Impossible the edit "Themes translations" for custom themes + missing expressions"
#### Describe the bug

Issue 1. It is impossible to edit translations for custom themes (PrestaShop 1.7.6.x)
Issue 2. Missing expressions (all PrestaShop 1.7 versions)

#### Expected behavior

If I use the default "classic" theme I can see all translations and edit all 1065 expressions in the tab International->Translations:
https://prnt.sc/rayi7r
https://prnt.sc/rayj24

If I use the custom theme,

[2020-03-03 15:39] kevinflou opened #17954 "Prestashop 1.7.6.2 Blank Page on edit Product Back Office"
#### Describe the bug

Hi Everyone,

I have a serious problem, whenever i want to create / edit product, i got a blank page on PROD (no errors in prestashop logs, php logs and apache logs) , if i switch to debug mode, the product page shows without no errors.

I've already :

- Clear cache (/var/cache/dev & /var/cache/prod)
- Rebuild .htaccess

It happen somewhere around the formAction in ProductC

[2020-03-03 15:44] khouloudbelguith commented on #17950
@morghy1992, Since December 30, 2019, you need to register for a MaxMind account to get a license key to be able to download the geolocation data. Once downloaded, extract the data using Winrar or Gzip into the /app/Resources/geoip/ directory.
https://dev.maxmind.com/geoip/geoip2/geolite2

Thanks!

[2020-03-03 15:50] MatShir opened #17955 "Can't access FO admin after account was transfered guest to customer by the merchant"
### Describe the bug

After transforming the Guest account to a Customer through the back office, the customer's merchant can't access his account since the password is randomly generated and never transferred to him.

### Expected behavior

After transforming the Guest account to a Customer through the back office, the customer's merchant should be able to access his account.

### Steps to Reprod

[2020-03-03 15:58] khouloudbelguith commented on #17955
Related to https://github.com/PrestaShop/PrestaShop/issues/14414 & https://github.com/PrestaShop/PrestaShop/issues/9650

[2020-03-03 16:04] MatShir commented on #17753
It is concerning the API, so it is not part of the order reword. We have a few issues with the WS categories. We could create an Epic.

[2020-03-03 16:04] khouloudbelguith commented on #17954
Hi @kevinflou,

You need to enable debug mode in your store and debug request which is sent for product edition in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. edit the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Respon

[2020-03-03 16:08] arouiadib commented on #17848
En Principe, the PR I created should also fix this issue.

But theoretically, other things may not work. Like switching back and forth combinations from FO. As you know, such operations require AJAX and maybe the disabled button will have unwanted behaviour. I have strong belief that a processing is done differently  between the two things: initial page loading vs AJAX.  So thank you  @khouloudbel

[2020-03-03 16:13] kevinflou commented on #17954
Nothing relevant unfortunately
![image](https://user-images.githubusercontent.com/38719171/75795213-47c57800-5d72-11ea-8f31-2f942adbcab3.png)
![image](https://user-images.githubusercontent.com/38719171/75795222-4a27d200-5d72-11ea-9cbc-da55b4b9dbf7.png)

[2020-03-03 16:16] jf-viguier opened #17957 "Declinaison reference is not displayed on pack composition"
#### Describe the bug

On backoffice product page for a pack, the declinaison reference is not displayed, product reference is displayed instead

#### Steps to Reproduce
1. Go to a declinaison detail 'T-shirt imprimé colibri Taille - S, Couleur - Blanc
2. Add a reference : demo_1_S_BLANC
3. Create a pack product
4. Add the declinaison to the pack : the declinaison reference is displayed. i.e. demo

[2020-03-03 16:36] kevinflou commented on #17954
And with Debug Mode Off send this in HTML :
`<html><head></head><body></body></html>`

And Network (Debug mode off) :
<img width="961" alt="Capture d’écran 2020-03-03 à 17 35 09" src="https://user-images.githubusercontent.com/38719171/75797406-67aa6b00-5d75-11ea-81ee-a382c86745a3.png">

[2020-03-03 16:37] marionf opened #17958 "The product name in the cart isn't changed according to the selected language"
#### Describe the bug

The product name in the cart isn't changed according to the selected language

#### Expected behavior

The product name in the cart changes accordingly to the selected language

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to international > localization > add a second language (ex: EN)
2. Go to catalog > products > edit a product (ex: mug the best is yet

[2020-03-03 16:50] MatShir commented on #17903
Your feature request is a good start for sorting the product in the product table on the order pages related. On a further step, we might need to think for a more complete feature if more merchant has a different way of working.

@Gipielle, I'm sorry for the moment there is no fix for you right now.
PrestaShop is an open-source project, so anyone can contribute to propose a fix at any time.
If you

[2020-03-03 18:51] Arman-Hosseini commented on #17924
Sorry, I checked it in **1.7.6.x** Branch.

[2020-03-03 19:50] didi-2018 commented on #17940
@khouloudbelguith  you are right! My hosting provider undertoud false. You can close it.

[2020-03-03 19:57] didi-2018 commented on #17944
@yourizuring and please check if you have deleted the folder 'install' after install prestashop. Otherwise you can not access your backoffice ;-)

[2020-03-03 21:27] davidglezz commented on #9668
Still happening in 1.7.6.1 & 1.7.6.2

It would be solved with https://github.com/PrestaShop/PrestaShop/issues/14985

[2020-03-04 02:16] qwebdevel commented on #17902
khouloudbelguith, i check this option just hide products in sub categories i don't need to hide products

[2020-03-04 07:02] JoshaMunnik commented on #17933
I found the error, it turned out I had two entries in ps_attachment with no related entries in ps_attachment_lang.

This somehow caused the use of indexed numbers instead of using the id_attachment as value for the checkboxes. After removing those two entries from ps_attachment, everything was working correctly.

[2020-03-04 07:14] simontingkamlee commented on #17815
Done. You can access by http://45.32.14.214/phppsinfo.php

Regards,

Simon

From: khouloudbelguith <notifications@github.com>
Sent: Tuesday, March 3, 2020 5:53 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: simontingkamlee <simonlee@hago-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Cannot upgrade to Prestashop 1.7.6.3 (#17815)

@simontingk

[2020-03-04 07:26] davidglezz commented on #12561
My wishes
- I wish It had a good HTML editor (Monaco)
- Possibility of applying predefined classes to elements from a menu (.alert, .table, .btn, ...)
- Html cleaning

 TinyMCE already does last 2.

TinyMCE is a little bugged sometimes

![tmce](https://user-images.githubusercontent.com/194784/75854961-8f3f1900-5df1-11ea-9735-68324b4aa947.gif)

[2020-03-04 07:54] khouloudbelguith commented on #17481
Hi @MoiRouhs,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-04 07:54] #17481 closed, assigned to nobody

[2020-03-04 08:09] khouloudbelguith commented on #17953
Hi @Angar90,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9818
So, I close it.
Thanks!

[2020-03-04 08:09] #17953 closed, assigned to nobody

[2020-03-04 08:09] khouloudbelguith commented on #17953
Duplicate of #9818

[2020-03-04 08:14] khouloudbelguith commented on #9818
Hi,

Same issue with PS1.7.5.2 and PS1.7.6.3.

Thanks!

[2020-03-04 08:29] khouloudbelguith commented on #17957
Hi @jf-viguier,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.3.
A new pack product
![image](https://user-images.githubusercontent.com/16067358/75859622-9f0f2b00-5dfa-11ea-8c89-fc1ed2b3a108.png)
After reloading the page
![image](https://user-images.githubusercontent.com/16067358/75859665-b3532800-5dfa-11ea-85bc-99fc79783ef0.png)

I’ll add this to the debug roa

[2020-03-04 08:41] khouloudbelguith commented on #17815
@simontingkamlee, you are using PHP7.3.
![image](https://user-images.githubusercontent.com/16067358/75860530-43de3800-5dfc-11ea-9869-ad79b05027e4.png)
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news

[2020-03-04 08:43] khouloudbelguith commented on #17902
@qwebdevel,

Yes!, This is another issue.

Can you confirm these steps: https://github.com/PrestaShop/PrestaShop/issues/17902#issuecomment-593853467 please?
Is this the real issue in your case?

Thanks!

[2020-03-04 08:44] khouloudbelguith commented on #17940
@didi-2018, thanks for your feedback.
Fell free to open a new one when needed.

Thanks!