[2019-01-17 10:12] Maofree commented on #12186
yes ok but 3 themes have the same problem
in the next months I'll develop a my own template :)

[2019-01-17 10:15] khouloudbelguith commented on #12151
Hi @michaesc,

I tried to set `date.timezone = Nonsense` in my php.ini.
![image](https://user-images.githubusercontent.com/16067358/51310967-214a5d80-1a48-11e9-85e4-dbe5b583dca8.png)
When Trying to install, I have errors
![image](https://user-images.githubusercontent.com/16067358/51310905-f7913680-1a47-11e9-8836-a69f0dabadbc.png)
checked with 1.7.5.0 & develop branch.
When I apply these changes ht

[2019-01-17 10:26] LinkOfLight commented on #11497
i think the 20€ is better but if we can chose the label in % or € is better

[2019-01-17 10:28] fredalva commented on #12085
Hello, same issu for me ps_linklist 3.0.2 dont work and give  me error:

Class "PrestaShop\Module\LinkList\Controller\Admin\Improve\Design\LinkBlockController" does not exist.

[2019-01-17 10:38] weddingtextile commented on #12187
Hi,

On my hosting it is forbidden to use the request DELETE to the server.
Usually on a shared hosting server request DELETE denied (for security purposes).
Ask the developers about this issue.
Perhaps this problem can be transferred to section "Feature request" (with high priority).

Thanks

[2019-01-17 10:38] khouloudbelguith commented on #12167
Hi @Alex-2019,

You need to contact your host provider about this issue because it could be that sending emails is not allowed or something else.
In my case, I tried with PS1.7.5.0 & it is working, there is no problem.
I attached a video record.
https://drive.google.com/file/d/1yQF5BojMOznswyBb7JAeNEKeNv3UXCPB/view
Thanks!

[2019-01-17 10:48] caotico25 commented on #12185
Hi @khouloudbelguith

Of course, this solves the problem, temporarily. Before coming here to "bother" I have investigated all the possible solutions, which are the same ones that you are offering me (which I thank you very much, since you are investing your time in my problem).

But ... if I do this, I will be causing all my customers to lose their carts (I know that this in principle is inevitabl

[2019-01-17 10:49] khouloudbelguith commented on #12187
@weddingtextile, thanks for your feedback.
Could please describe with more information your feature request & describe a solution you'd like.
Thanks!

[2019-01-17 10:51] khouloudbelguith commented on #12085
Hi,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks for your understanding!

[2019-01-17 10:51] #12085 closed, assigned to nobody

[2019-01-17 10:58] Jabades opened #12191 "Product Meta description gives javascript error with certain characters"
In product editing formulary in backoffice, for Prestashop #1.7.5.0 when you edit the field "Meta description" and insert certain characters like <.,"'¡!¿?`´[]{}@=/%&#$| gives an javascript error. This occurs when you edit a product with these charactes saved previusly also first edition.

Steps to reproduce the behavior:
1. Go to "Catalog > Products"
2. Edit a product
3. Click on tab "SEO"
4. Ope

[2019-01-17 11:00] khouloudbelguith commented on #12186
Hi @maofree,

I imported a new theme "minimal" version 3.0.4 Designed by PrestaShop & in the FO, the translations are displayed.
![image](https://user-images.githubusercontent.com/16067358/51314126-8190cd80-1a4f-11e9-817f-0d4b8318332e.png)
![image](https://user-images.githubusercontent.com/16067358/51314128-83f32780-1a4f-11e9-9279-13f2698ef28e.png)
![image](https://user-images.githubusercontent.co

[2019-01-17 11:12] saad-elalfy commented on #12107
hi khouloudbelguith
ill do  now  ,  thank you very much :)

[2019-01-17 11:13] khouloudbelguith commented on #12184
Hi @caotico25,

In your log you have warnings about some modules: `autosupplierorders`, `gmerchantcenter`, they could be the problem.
Thanks to disable those modules, clear cache, check & feedback.
Thanks!

[2019-01-17 11:14] khouloudbelguith commented on #12107
@saad-elalfy, thanks!
Waiting for your feedback.

[2019-01-17 11:16] eternoendless commented on #10356
It could improve load time because it's more efficient in compressing images. As far as I know, this improvement would be most noticeable when compared to animated GIFs.

While it's a nice to have, it's probable that impact would be marginal at best.

[2019-01-17 11:24] colinegin commented on #10356
Ok thanks for the clarification @eternoendless !

[2019-01-17 11:26] khouloudbelguith commented on #12191
Hi @Jabades,

In the PS1.7.4, there was a problem with a meta description which contains invalid characters => a green alert is displayed => which is wrong => any modification in this product will be not saved.
So, this issue is saved in the PS1.7.5.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/10946
with PS 1.7.5.0 when we insert in field "Meta description" one of the following ch

[2019-01-17 11:29] mrabsinthe commented on #11914
Same issue as @MSiliunas , clean installation, no issues with older version 2.1.5. Installed via manager, modules/ps_linklist/vendor is not empty, composer folder is there as well as autoload.php
Uncaught Exception: Class "PrestaShop\Module\LinkList\Controller\Admin\Improve\Design\LinkBlockController" does not exist.
as well as:
Uncaught PHP Exception InvalidArgumentException: "Class "PrestaShop\M

[2019-01-17 11:29] saad-elalfy commented on #12107
sorry from where i can do that

[2019-01-17 11:30] Maofree commented on #11773
Hi @khouloudbelguith
I've seen that on the 1.7.5.0 there is the same problem
all combinations redirect to the canonical url (that without id_product_attribute) but this page if not exists and there is another redirect to the default combination but it has also the canonical url
so all these product pages will not be indexed

[2019-01-17 11:32] khouloudbelguith commented on #12107
@saad-elalfy, sorry do you need to know how to do?
Thanks!

[2019-01-17 11:33] khouloudbelguith commented on #11773
Hi @maofree,

Is it the same issue reported here #9784?
Thanks!

[2019-01-17 11:33] saad-elalfy commented on #12107
sure ,  but i found it :)

[2019-01-17 11:34] khouloudbelguith commented on #12185
@caotico25, This issue can be caused by corrupted cookies.
Thanks!

[2019-01-17 11:34] khouloudbelguith commented on #12107
@saad-elalfy, the issue is fixed?

[2019-01-17 11:35] Maofree commented on #11773
yes
the problem is the same, there is reported the rss problem but it is for combination problem
I thought in the 1.7.5 it was fixed instead it is still present

[2019-01-17 11:38] mrabsinthe commented on #11914
![linklist](https://user-images.githubusercontent.com/31688689/51316144-185f8900-1a54-11e9-816d-1aeb8189c8d6.png)
![module linklist controller](https://user-images.githubusercontent.com/31688689/51316312-9885ee80-1a54-11e9-80f6-7383cad201a7.png)

[2019-01-17 11:39] weddingtextile commented on #12187
Use POST request with function call on server.
For example, when deleting a product, we see the following query in debug mode:
POST	xhr	200	/admin***/ajax.php?rand=15476***

[2019-01-17 11:40] dabidi opened #12192 "Prestashop ignore error_reporting level defined in defines.inc.php"
Hi,

In defines.inc.php we have a declaration of error_reporting:
`
error_reporting(E_ALL & ~E_NOTICE);
`
But symfony Debug class overrides this setting. Why? Because in FrontController we have this function:

[code]
My suggestion is add to Debug enable $errorReportingLevel parameter.
`
Debug::enable(error_reporting());
`
Or make initDebugguer() as public function. Then it can be overridden.

[2019-01-17 11:44] rGaillard commented on #9664
@jocel1 i have the same issue, it seems related to 4c121d138259db7b8fe9edef420f15a1b106eb57. Do you think that i can rollback the commit without side effects?

[2019-01-17 11:46] saad-elalfy commented on #12107
thanks the feedback done
about issue
i don`t know :D it sometimes appear and disappear ,it will showing after hard work

[2019-01-17 12:02] Alex-2019 commented on #12167
Ok. Thanks.
I think you are right. I wrote to my host.

*------------------------*
[image: motorstate] Aleksey Seminozhenko [image: YouTube]
<https://www.youtube.com/user/Motorstatecomua?sub_confirmation=1> [image:
https://t.me/MotorstateUA] <https://t.me/MotorstateUA>
<https://www.instagram.com/motorstate_com_ua/> [image: Facebook]
<https://www.facebook.com/Motorstate.cis> [image: Vk]
<https://vk

[2019-01-17 12:09] ajayak opened #12193 "REST API - Impossible to find right product when combination product is added in a pack"
Steps to Reproduce:
1. Create a standard product with different combinations.
![image](https://user-images.githubusercontent.com/5102208/51317716-5671a280-1a7e-11e9-908f-4f39aad1a4e0.png)

2. Create a pack of products and include any 1 product from the combinations
![image](https://user-images.githubusercontent.com/5102208/51317812-92a50300-1a7e-11e9-9bbc-050b8e0c24b2.png)

3. Use PrestaShop REST

[2019-01-17 12:12] saad-elalfy commented on #12107
hi khouloudbelguith
please i have another issue  the in the search result the image its so big  !
[20190117_140755.zip](https://github.com/PrestaShop/PrestaShop/files/2768553/20190117_140755.zip)

[2019-01-17 13:02] Jabades commented on #12191
Hello,

In think is not the same issue. In my case in a clean 1.7.5.0 install (and some clients shops). I get a javascript error:
Syntax error, unrecognized expression: <.,"'¡!¿?`´[]{}@=/%&#$|

No alert alert box is displayed, only the javascript error in file "main.bundle.js"

![ps_capture](https://user-images.githubusercontent.com/35447309/51320456-27e4cf00-1a60-11e9-9f68-9faa593ee6d9.PNG)

Rega

[2019-01-17 13:12] khouloudbelguith commented on #12191
@Jabades, yes I have the same issue in the console but after adding this expression: `<.,"'¡!¿?`´[]{}@=/%&#$|` & you try to click save => have you any a red alert?
Thanks!

[2019-01-17 13:17] khouloudbelguith commented on #11773
@maofree, the issue #9784 is still open, it is added to our bug roadmap.
Thanks!

[2019-01-17 13:18] khouloudbelguith commented on #12187
ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-17 13:20] khouloudbelguith commented on #12167
@Alex-2019, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-17 13:20] #12167 closed, assigned to nobody

[2019-01-17 13:30] Alex-2019 commented on #12167
Ok

*------------------------*
[image: motorstate] Aleksey Seminozhenko [image: YouTube]
<https://www.youtube.com/user/Motorstatecomua?sub_confirmation=1> [image:
https://t.me/MotorstateUA] <https://t.me/MotorstateUA>
<https://www.instagram.com/motorstate_com_ua/> [image: Facebook]
<https://www.facebook.com/Motorstate.cis> [image: Vk]
<https://vk.com/motorstate>
 CEO of motorstate
 mob:   +38050 9

[2019-01-17 13:40] khouloudbelguith commented on #12193
Hi @ajayak,

Thanks for your report.
I have the same issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/51322382-91b3a780-1a65-11e9-9d3c-78b3119e9522.png)
But it could be an improvement issue, to specify the exact combination for each product associated to the pack.
@colinegin, @marionf what do you think?
Thanks!

[2019-01-17 13:44] yalefresne commented on #10118
Hi,
i have find the "Error 500 Internal Server Error" in the admin section too.
After exploring logs, i clean cache folder --> prestashop\var\cache\ and that solve my problem.

PS: Sorry for my english

[2019-01-17 13:45] Ingematic commented on #10118
Il suo messaggio è stato correttamente recapitato al Supporto OnLine.
Risponderemo al più presto.

Grazie per averci contattato
Staff - INGEMATIC Web Management

[2019-01-17 13:54] khouloudbelguith commented on #12192
Hi @dabidi,

Thanks for your report.
Ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-17 13:56] DiegoCiccarelli commented on #12073
Hi @Partenopeo83,
I have the same error, you could
find the solution?
thanks

[2019-01-17 13:57] khouloudbelguith commented on #12107
Hi @saad-elalfy,

This a different issue, can you open a new one with more information about your configuration.
About your first issue, since it is fixed, I close it.
Thanks!

[2019-01-17 13:57] #12107 closed, assigned to nobody

[2019-01-17 13:59] Jabades commented on #12191
Hello,

No, i don't get a alert as your first capture, simply the javascript error.

But the main problem is that when edit a product with these characters in "Meta description" previusly stored, this error is triggered too. And other many javascript functions stop working for product edition. For example if you have any additional modules configuration in [Modules] tab, you can't configure it.

R

[2019-01-17 14:04] khouloudbelguith commented on #12191
@Jabades, did you made an upgrade to PS1.7.5.0?
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11923 to fix the issue.
It is added to the PrestaShop 1.7.5.1.
Thanks to check & feedback.

[2019-01-17 14:11] jocel1 commented on #9664
@rGaillard you'll have nasty side effects if you rollback this commit. It should be safer to move back the UNIQUE KEY on PREFIX_product_attribute to a standard KEY as in multishop you'll use the product_attribute_shop anyway

[2019-01-17 14:13] agnesdennetiere opened #12195 "Cannot go to payment step after delivery step"
I have a multistore prestashop. On one shop, no problem. On the other, on the carrier step, when I choose a carrier and then want to go to the payment step, the page is reloaded but I stay on the carrier page. I have no error, on the templates or in the logs. I have looked everywhere, do you have any idea what could cause this behaviour?

Thank you very much,

**Additionnal information**
PrestaSho

[2019-01-17 14:34] colinegin commented on #10560
Option 2 seems more suitable to me, customer groups don't always mean "privileges", rather a categorization or segmentation IMO.

[2019-01-17 15:04] rGaillard commented on #9664
@jocel1 thank you.

[2019-01-17 15:04] khouloudbelguith commented on #12195
Hi @agnesdennetiere,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1PazNBi1ZDn90uQ_Y7kPIpV4FomXUXk33/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 -

[2019-01-17 15:20] agnesdennetiere commented on #12195
Hi,

I realized what was wrong: I overrided some file to not choose the address (on this shop, the clients have one address and that's it) but one test customer did not have any address. I have added some code to display an error in this case.

Thanks

[2019-01-17 15:22] Maofree commented on #11773
this problem is present from a long time

[2019-01-17 15:23] caotico25 commented on #12184
Hi @khouloudbelguith,
I checked this modules and they are working correctly despite those warnings.
In the module autoupplierorders are produced by an included library whose purpose is to treat excel files. It is third-party and works correctly even if it causes these warnings (constants that already exist).
The gmerchantcenter module has not been modified by us and those warnings come from the fa

[2019-01-17 15:36] khouloudbelguith commented on #12195
@agnesdennetiere, thanks for your feedback.
I will close the issue since it is a custom problem.
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-01-17 15:46] kubjak opened #12197 "bad URL on Ajax combination change"
With multiple languages enabled, when changing combination, the default url to load the given controller is not only the root URL with /index.php, though /lang/index.php , rendering the request a 404 result.

Actually: /en/index.php?controller...
Should be: /index.php?controller...

Steps to reproduce the behavior:
1. Go to a product with combination
2. Click on any attribute and modify it.
3. The

[2019-01-17 15:49] khouloudbelguith commented on #12197
Hi @kubjak,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9390 to fix the issue.
It is fixed in the PS1.7.5.0.
Your ticket is a duplicate of #9390
So, I close it.
Thanks!

[2019-01-17 15:49] #12197 closed, assigned to nobody

[2019-01-17 15:49] khouloudbelguith commented on #12197
Duplicate of #9390

[2019-01-17 15:56] khouloudbelguith commented on #12184
@caotico25, the error says that you are missing a file, it could be some third party module missing a file.
I did not manage to reproduce the issue after upgrade from PS1.7.4.4 to PS1.7.5.0 using the 1-click upgrade v4.5.1.
I tried also with PS1.7.5.0.0 after upgrade from 1.7.0.0 & from PS1.7.4.2, and they are all OK.
The translation page is well displayed.
Thanks!

[2019-01-17 16:05] #12047 closed, assigned to eternoendless

[2019-01-17 16:06] fadupla commented on #12145
Hello @khouloudbelguith

Yes, we tried with other versions it works. Only this combo of versions doesn't work...

[2019-01-17 16:13] khouloudbelguith commented on #12145
@fadupla, thanks for your feedback.
We'll first try to reproduce it and we'll come back to you if we need more information.
Thanks!

[2019-01-17 16:15] fadupla commented on #12145
Thank you :)

[2019-01-17 16:18] eternoendless commented on #12187
Using DELETE doesn't pose a security risk whatsoever, at least not as far as I know. In any case, DELETE is part of the HTTP/1.1 standard and a fundamental feature of [RESTful web services](https://en.wikipedia.org/wiki/Representational_state_transfer#Relationship_between_URI_and_HTTP_methods). I don't see this changing in the foreseeable future.

I'd be interested to learn the reasoning behind th

[2019-01-17 16:31] Darmona opened #12198 "Re-Display Cart at Login setting in YES by default"
#### Is your feature request related to a problem?
If a connected customer creates a cart, disconnect (or the browser disconnects him) and come back an hour later to finalize his purchase or weeks later to make another purchase, he should find his abandoned cart the same.

If the customer wants to finalize his purchase he would have to create it again.

#### Describe the solution you'd like
That c

[2019-01-17 16:38] kubjak commented on #12197
Could reproduce it as well with 1.7.5.0, but found the problem was with PHP-FPM 7.0 as proxy,
switched to php7.2 direct, its working.

[2019-01-17 16:38] #12195 closed, assigned to nobody

[2019-01-17 16:44] alexstop82 commented on #9998
Hi,
have you got any news on this @khouloudbelguith ?

This is a very big problem

Thanks

[2019-01-17 16:46] khouloudbelguith commented on #9998
Hi @alexstop82,

Sorry not yet.
This issue is assigned to our developers.
Thanks for your patience & your understanding!

[2019-01-17 16:52] alexstop82 commented on #9998
Ok,

can you send me an email to this address when you have any news?

Thanks

Alessandro Stoppiello

Jusan Network S.r.l.

Via Principi D'Acaja 44 - 10138 Torino

Via Trento, 48, 12038 Savigliano (CN)

Via Copernico, 38, 20125 Milano

telefono:  + 39 011 75 75 578

8° edizione ecommerceDAY - prenota ORA il tuo posto  <https://goo.gl/pqnc3Z> https://goo.gl/pqnc3Z

WE ARE HIRING -  <https://www.jus

[2019-01-17 17:22] Maofree opened #12199 "Wrong prices for groups without tax"
Hi
I've found an important error when a customer group is set without taxes
if a product has a discount like of 10€ tax excluded
in the product page in the front-office the save price will include the tax and it become 12,20€ with 22% of tax

in the cart summary there are 2 errors:
- the save prices because they sow prices with tax included
- the original prices will also include the taxes

this p

[2019-01-17 17:46] DavidEschmeyer opened #12200 "1.7.4.4 in multistore, the browser tab does not show the store chose name, shows main store name and favicon"
**Describe the bug**
1.7.4.4 in multistore, the browser tab does not show the store chose name, shows main store name and favicon

**To Reproduce**
Steps to reproduce the behavior:
1. switch to a sub store in multistore
2. notice that the store tab

**Screenshots**
![image](https://user-images.githubusercontent.com/1899221/51337726-e2bb9f80-1a55-11e9-8099-0876131331e9.png)

**Additionnal informati

[2019-01-17 19:39] DavidEschmeyer commented on #12200
whoops this is a mistake it is fine, meta wasn't changed for index page

[2019-01-17 19:39] #12200 closed, assigned to nobody

[2019-01-17 19:46] By-oussef opened #12202 "Update of the theme by default"
I was told that there was an update planned for the default theme but this is still not published.

Link : https://github.com/PrestaShop/classic-rocket/issues/24

[2019-01-17 21:37] didi-2018 opened #12203 "1.7.5 Modules under Catalog > Articles > Moduls does not work anymore cause of js Error file: ../admin/themes/new-theme/public/main.bundle.js"
**Describe the bug**
Under 'Catalog > Articles' in tab 'Modules' I have two modules which I need to use. But after update from PS 1.7.4.4 to 1.7.5 I can not use this modules anymore cause of an js ERROR in file: ../admin/themes/new-theme/public/main.bundle.js  in line 275.

I now try to use file main.bundle.js from an older PS Version (1.7.4.4) and I can use my modules again. But now I have the pr

[2019-01-17 23:41] paparga opened #12204 "docker-compose up: No such file or directory"
**GUI error message**

![screenshot from 2019-01-17 20-39-50](https://user-images.githubusercontent.com/2799637/51356094-19b2a500-1a98-11e9-8feb-1bc9985381b3.png)

**Terminal error message**

prestashop-git | cp: cannot stat '/tmp/data-ps/prestashop/*': No such file or directory
prestashop-git | \n* Renaming install folder as install-dev ...
prestashop-git | mv: cannot stat '/var/www/html/install'

[2019-01-18 07:14] khouloudbelguith commented on #12199
Hi @maofree,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9856
So, I close it.
In the PS1.7.6, we are planned to fix prices issue.

Thanks!

[2019-01-18 07:14] #12199 closed, assigned to nobody

[2019-01-18 07:14] khouloudbelguith commented on #12199
Duplicate of #9856

[2019-01-18 07:20] khouloudbelguith commented on #12202
Hi @By-oussef,

About the default theme provided by PrestaShop "Classic".
Unfortunately, we cannot upgrade Bootstrap and jQuery on the classic theme until the next major version.
In fact, bootstrap changed their layout system since alpha 6, which is a backward compatibility break that would affect all of the classic's child themes.

If you are concerned about these vulnerabilities, take a look at

[2019-01-18 07:20] #12202 closed, assigned to nobody

[2019-01-18 07:32] khouloudbelguith commented on #12203
Hi @didi-2018,

We manage to reproduce the issue.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11923 to fix the issue.
It is fixed in the next release
Your ticket is a duplicate of #11911
So, I close it.
Thanks!

[2019-01-18 07:32] #12203 closed, assigned to nobody

[2019-01-18 07:32] khouloudbelguith commented on #12203
Duplicate of #11911

[2019-01-18 07:40] all-sd commented on #11825
Ok, true. An other mac don't have this problem. Sorry.

[2019-01-18 07:42] khouloudbelguith commented on #11825
Hi @ossd,

Ok, thanks for your feedback!

[2019-01-18 07:47] khouloudbelguith commented on #12204
Hi @paparga,

Thanks for your report.
It is a permission issue.
Could you please try to change file permissions of all directories to 777, check & feedback.
Thanks!

[2019-01-18 08:20] Jabades commented on #12191
Hello,

No, i don't made an upgrade. Is a clean install.
I've try the fix and work ok.

Many thanks!!

[2019-01-18 08:20] #12191 closed, assigned to nobody

[2019-01-18 08:45] PierreRambaud commented on #12204
The best way to have write and read access is to use the same user the container image.

[code]
And everything will work fine.

[2019-01-18 09:01] khouloudbelguith commented on #12191
Hi @Jabades,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-18 09:02] khouloudbelguith commented on #12191
Duplicate of #11911

[2019-01-18 09:07] eternoendless commented on #12151
Hi @michaesc

FYI, you can upload images by [dropping them in the text area](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/).

[2019-01-18 09:19] caotico25 commented on #12184
Good morning @khouloudbelguith
Yesterday I made a new clean installation of prestashop 1.7.5 and after searching and comparing files I discovered the error.
It was an override the cause ... (I'm a bit embarrassed ...) The thing is that I tried to disable all overrides and non-native modules and clean the caches and the error persisted, so I focused on the error that was still showing the debug mod

[2019-01-18 09:21] grigorevlad opened #12207 "Changing combinations on product page on PS 1.7.5 - very slow compared to previous versions"
Compared to PS 1.6 and first versions of PS 1.7, the new PS 1.7.5 loads combinations really slow (after fresh install and only default modules)
PS 1.7.5 works really fast on every page, except this thing which is not actually a bug but needs a fix.

Another thing:
I have 2 combinations: 'product size' and 'product colors'.  I recently installed a module from mypresta which adds product pictures to

[2019-01-18 09:26] khouloudbelguith commented on #12184
@caotico25, thanks for your feedback.
Since it is not a core PrestaShop issue, I will close the ticket, feel free to open a new one when needed.
Thanks!

[2019-01-18 09:26] #12184 closed, assigned to nobody

[2019-01-18 09:43] khouloudbelguith commented on #12207
Hi @grigorevlad,

Thanks for your report.
It's great to hear you have been using PrestaShop for long.
About your issue, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-18 10:00] mickaelandrieu commented on #11619
Hi,

after discussions with @eternoendless, this is what we have decided.

We won't use anymore Composer to manage native modules _directly_, this means we will remove all ```prestashop/ps_whatever``` from the `require` section, **because** it's not possible to avoid installation of **modules requirements** into the ``vendor`` folder of PrestaShop.

But we still want to use Composer to manage all

[2019-01-18 10:09] jolelievre commented on #11619
nice priorities!

[2019-01-18 10:14] mickaelandrieu commented on #11619
I've updated/completed again my comment, if you have any questions: feel free to ask!

[2019-01-18 10:18] jolelievre commented on #11619
I know it's not definitive I think `composer install-module` would be more appropriate
And I was wondering what exactly will this command do?
- download the module from addons with vendors embedded? then weed ids for the platform?
- clone the project from github and perform `composer install` inside its folder?

[2019-01-18 10:25] Quetzacoalt91 commented on #11619
They could be downloaded from `packagist`, as they already exist on this platform (https://packagist.org/?query=prestashop).

[2019-01-18 10:27] mickaelandrieu commented on #11619
What do you expect this script to do?

:D you can't suggest to use a command and at the same time ask what should do this command ahahah!

clone the project from github and perform composer install inside its folder?

We will rely on packagist like before, the command "composer create-project" means ~= "git clone + composer install", there is no plan to rely on Addons API to retrieve the ZIP files

[2019-01-18 10:28] jolelievre commented on #11619
Is there an easy way to target a package at a specific version?
And what kind of version matching should we manage? only strict version like `2.1.4`? or like in composer `~2.1`?
what about compatibility with prestashop version?

[2019-01-18 10:33] jolelievre commented on #11619
@mickaelandrieu my bad I didn't know this composer action (I should have searched for it)
should we integrate prestashop compatible versions in the modules' composer.json then? or is it our responsibility to assure we set the appropriate versions in the core composer.json (in the extra section)?

[2019-01-18 10:35] mickaelandrieu commented on #11619
Yes, we don't change anything: we just move the information from `require` to `extra -> 'to-be-announced'` section.

[2019-01-18 10:42] khouloudbelguith commented on #12145
Hi @fadupla,

I did not manage to reproduce the issue with Mac OS High Sierra v10.13.5 & with the browser Safari v12.0.2, I attached a video record.
https://drive.google.com/file/d/1a1HKVE3s0Y2CafeoCbsLK0h5qlhj7dlm/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server config

[2019-01-18 10:42] #12145 closed, assigned to nobody

[2019-01-18 10:54] fadupla commented on #12145
```It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.```

http://demo.prestashop.com/fr/?view=front is hosted on your server ^^

[2019-01-18 10:55] Klemart3D opened #12209 "Error 403 on "translations/cldr/datas" files with nginx"
**Describe the bug**

On fresh install of PS 1.7.4.3 on nginx [with this config](https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist) when I'm going to a product page I have some 403 errors into Symfony debugger (cf screenshot), and into my server logs:

Similar issue was reported on forge but not resolved: [#BOOM-5489](http://forge.prestashop.com/browse/BOOM-5

[2019-01-18 11:00] khouloudbelguith commented on #12145
@fadupla, in my last video record, I tried also with http://demo.prestashop.com/fr/?view=front also, but I did not manage to reproduce the issue with Safari v12.0.2.
It could be a custom issue, you said also that you have the same issue with PS 1.7.4.0 and 1.7.5.0 with or without a classic theme).
Thanks!

[2019-01-18 11:01] mrabsinthe commented on #11914
Perhaps PHP related...? I have managed to test two identical 1.7.5 clean installations on two different servers. Only one of them is working fine after ps_linklist update to v3.0.2., have a look:
This one has 500 error:
![error](https://user-images.githubusercontent.com/31688689/51382993-82416680-1b18-11e9-93a1-c609348098b5.png)

And this one is working just fine:
![ok](https://user-images.githubu

[2019-01-18 11:04] grigorevlad commented on #12207
Hi,

There is no error, just some process that takes longer that it used to.
I find it wierd that a purchased module manages to change combinations and refresh the page a lot quicker than the combinations from default template.

In the GIF uploaded as example you can see that clicking the image combinations from the purchased module refreshes the page almost instantly, while clicking the color com

[2019-01-18 11:19] khouloudbelguith commented on #12209
Hi @Klemart3D,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1QNJFUh_cqvRzUHMCXnMe4tBCXpOn_M5b/view
here's my nginx configuration
[code]
Thanks!

[2019-01-18 11:25] khouloudbelguith commented on #11914
Hi @mrabsinthe, Thanks for your feedback.

Could you please follow this link: https://github.com/PrestaShop/php-ps-info & check with your first server information.
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You shoul

[2019-01-18 11:37] mrabsinthe commented on #11914
Sure, here it is for the server with 500 error:
![prestashop info](https://user-images.githubusercontent.com/31688689/51384829-d13dca80-1b1d-11e9-8ee3-3b1370e301c5.png)

[2019-01-18 12:02] jolelievre commented on #11914
I'm gonna try with PHP 5.6 to see if it's related

[2019-01-18 12:37] jolelievre commented on #11914
I tried a fresh install of PS 1744 on an environment with PHP 5.6
After upgrade I had a 500 on prod env when accessing `Link Widget` (on debug mode it works fine)
After removal of cache `rm -fR var/cache/*` and `cache:clear` commands it works fine:
[code]
I'm sorry I'm still unable to reproduce your problem.

[2019-01-18 13:05] Klemart3D commented on #12209
Hi @khouloudbelguith,
It seems you don't have the same [nginx config used in official repo for 1.7.5.x](https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/docs/server_config/nginx.conf.dist)
Can you add the part from line 137 to 140?
[code]
In my case, if I remove "translations" directory from this previous rule, it works fine (no more 403 errors).

[2019-01-18 13:27] Trylam opened #12212 "Phone number not clickable"
**Describe the bug**
In category, in description on source code, I try to insert number phone clickable (with href="tel:") and the number appear but it nor clickable. When i return in source code  href="tel:" was disappeared.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'catalog'
2. Click on 'category'
3. Click on 'add category'
4. On 'description' i write a number phone.
5. Click o

[2019-01-18 13:30] khouloudbelguith commented on #12209
@Klemart3D, thanks for your feedback.
After adding those code line.
No errors are displayed.
https://drive.google.com/file/d/1mKpQpyPOBCydg9XFSgbKUtK_ShqPIIBU/view
Thanks!

[2019-01-18 13:43] khouloudbelguith commented on #12212
Hi @Trylam,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10376 to fix the issue.
It is fixed in the last release 1.7.5.0.
Your ticket is a duplicate of #9685
So, I close it.
Thanks!

[2019-01-18 13:43] khouloudbelguith commented on #12212
Duplicate of #9685

[2019-01-18 13:43] #12212 closed, assigned to nobody

[2019-01-18 14:07] Klemart3D commented on #12056
This error occurs only when debug mode is set to "false", with debug mode enabled webservice is working and NULL fields are displayed like this:

[code]

When debug mode is disabled and I request a customer info through API, PHP logs are:

[code]
My Pull Request is not really a Prestashop bug fix but a better practise to develop by testing every variable before using it in case of bad insertion in

[2019-01-18 14:12] khouloudbelguith commented on #12207
Hi @grigorevlad,

Thanks for this clarifications.
I tried with a product which has two color combinations, such combination has 15 different images.
PS1.7.4.4 => When I switch between combinations => it takes 240ms <Time <260ms
PS1.7.5.0 => When I switch between combinations => it takes 359ms <Time <1.98 s
Ping @jocel1, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-18 14:19] khouloudbelguith commented on #12056
@Klemart3D, thanks for your feedback.
I created a new customer when debug mode is disabled, I checked my database there's no Null expression, also there is no error with `api/customers/`
https://drive.google.com/file/d/1Yfn84wFNfuklZQzWjcQFin0mmYIgyoK6/view
Thanks!

[2019-01-18 14:19] netdrag commented on #9672
We are hitting this once or twice a day now on 1.7.5. Don't want to know how many customers we loose because of this. We just know of the ones that contact us. I don't think thats a MINOR Issue.

[2019-01-18 14:27] grigorevlad commented on #12207
Hi @khouloudbelguith , I'm not a dev but when i install a market module that runs combinations better than default PS it's easy for me to guess that there must be a solution that works a lot faster.

Keep up the good work, I'm here if you need any more feedback.

[2019-01-18 14:31] matks opened #12216 "File upload input buggy in the UI Kit"
The 1.7 UI-Kit file select input is bugged:

Once you choose a file, the input does not change, which is very confusing for the user because it seems that file was not selected for upload.

You can try it on your own here https://cdn.rawgit.com/PrestaShop/prestashop-ui-kit/master/index.html#forms

[2019-01-18 14:32] matks commented on #12216
When this issue is fixed, can you please apply this feedback from UX ?
https://github.com/PrestaShop/PrestaShop/pull/11885#issuecomment-454713942

[2019-01-18 14:42] dgtn-va opened #12218 "Photo gallery scroll down broken after change attribute"
For product with more than 5-6 pictures, the scroll down of photo gallery doesn't work after change an attribute.

How to reproduce?

Create or edit an product and:

1. Add 6 pictures or more
2. Generate some combinaisons/declinaisons

Go to the product page:

1. Display photo gallery
2. Scroll down with bottom arrow
3. Change an or many product attributes
4. Display photo gallery again
5. Try to

[2019-01-18 14:46] khouloudbelguith commented on #12218
Hi @fujitsuDev,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12064
So, I close it.
Thanks !

[2019-01-18 14:46] #12218 closed, assigned to nobody

[2019-01-18 14:46] khouloudbelguith commented on #12218
Duplicate of #12064

[2019-01-18 14:59] jolelievre commented on #12172
yep, same problem when to generate mail templates https://github.com/jolelievre/PrestaShop/blob/412482df497bc5537c65cab9e6850a07d42126f5/src/PrestaShopBundle/Command/GenerateMailTemplatesCommand.php#L92

It's even worse than that, I had issues such as:
- hook listeners don't work if you haven't `shop` and `employee` set in the legacy context
- many services depend on the legacy `Configuration` inc

[2019-01-18 15:00] khouloudbelguith commented on #11914
Hi,

It is OK for me also.
PHP version: 5.6.32.
I tried a fresh installation 1.7.5.0, after upgrade of the module ps_linklist from 2.1.5 to 3.0.2, when accessing Link Widget => it is OK (debug mode in my case is disabled => working)
https://drive.google.com/file/d/1Cb25IlYYO6ol3R4fhIHUIp7KY0eCadQI/view
Thanks!

[2019-01-18 15:04] khouloudbelguith commented on #9672
Hi @netdrag,

Sorry, it is not fixed yet.
I manage to reproduce the issue with PS1.7.5.0 also.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your understanding!

[2019-01-18 15:38] espacious commented on #9937
It can be done (workaround) by going: CONFIGURE -> Shop Parameters -> Customer Settings and disable prices for all customer groups.

[2019-01-18 15:41] MatShir commented on #9937
Thanks for the tip @espacious

[2019-01-18 15:44] paparga commented on #12204
Thank you @PierreRambaud, everything works fine

This should be documented in README.md

[2019-01-18 15:44] #12204 closed, assigned to nobody

[2019-01-18 15:51] colinegin commented on #11264
Hello @eternoendless,

Yes you are absolutely right, this happens on MBO and on every module which has a tab in the menu.
For this reason, I've updated the issue so that we can have a general decision on this topic.

There are 2 options :
1- Create a dedicated custom error page with some information like : "Page cannot be found because a module has just been uninstalled. Please refresh the page, e

[2019-01-18 16:01] colinegin commented on #10051
Related to this issue : https://github.com/PrestaShop/PrestaShop/issues/10576

I close this one.

[2019-01-18 16:01] #10051 closed, assigned to nobody

[2019-01-18 16:40] PierreRambaud commented on #12204
@paparga I do it in this PR (https://github.com/PrestaShop/PrestaShop/pull/12222) Thanks for the advice.

[2019-01-18 17:07] MatShir opened #12223 "[CLDR] Remove Number of decimals in Shop Parameter > General"
**SPECIFICATION**

In Shop Parameter > General, we need to remove Number of decimals input.

**WHY**

Since the CDLR handle every currency decimal, a general decimal parameter doesn't make sense.

**FAILING CASE**

Need to study if there will be a technical impact.

[2019-01-18 17:09] MatShir commented on #12223
Next step after the PR #10455

[2019-01-18 18:24] ghost commented on #11172
I can reproduce this 100% of cases through this:

Create a basket rule with code, and set rules as follows:
![image](https://user-images.githubusercontent.com/6306100/51405400-24c80c80-1b4e-11e9-9cff-8c80d35d4d69.png)

Then apply your code at checkout.

[2019-01-18 19:23] wileeVB commented on #9924
Hello, I'm using ver 1.7.4.2.
I need to hide category on the menu until users logged in.
I made changes to ps_mainmenu and CategoryController as above instructed.
Its good before logging on, but after login it gave me a "Array to string conversion" error.

Please see attached screen shot.
![errormsg](https://user-images.githubusercontent.com/46695504/51408377-5a033900-1b13-11e9-8680-0160bb9b2403.P

[2019-01-19 06:28] cyjo5 opened #12224 "Integrated Import do not import"
Hi
after reinstalling the shop (and changing from 1.7.2.2 to 1.7.5) the last step was to import my product data into the new shop. i go to installation an made the settings: import article, choose file, set seperators, and made the field combinations. Everything looks good. But after pressing import, nothing else happened.

PS 1.7.5
PHP 7.2
MySQL 5.5

Kind regards
Frank

[2019-01-19 17:34] officeatheliplanetde opened #12226 "Prestashop 1.7.5 /module/ps_wirepayment/validation - blank page after click on payment confirmation button"
Prestashop 1.7.5.0 -> checkout process -> bank wire payment -> blank page with a 500 server error
in "/module/ps_wirepayment/validation"

Steps to reproduce the behavior:
1. Go to checkout (Kasse)
2. choose Bank Wire Payment (Banküberweisung)
3. final click on Button "payment confirmation"
4. the blank page will appear

**Screenshots from error reporting**
![image](https://user-images.githubuserco

[2019-01-19 18:05] weddingtextile commented on #12187
Hello Pablo Borowicz,

Thanks for the answer.
The hosting has made the necessary settings, now it works.

Have a nice day!

[2019-01-20 09:54] samberrry commented on #12142
I had the same issue with accented URL.

[2019-01-20 10:43] sarjon commented on #10560
@matks regarding @marionf comment, it seems like "fun". :smile: Customers form (_lite_ version of it, this is how its called) from legacy controller is rendred inside `iframe` in Orders legacy page... do you have suggestions how we deal with it? i dont feel like rendering iframe in new page is good idea.

[2019-01-20 11:26] coreykck opened #12228 "Last login is not traced"
**Describe the bug**
I've installed Prestashop 1.7.4.4 and ported old modules to the fresh new installation.
When customer login to the shop no login time is recorded into DB so, last visit is not shown in Admin Customer table.

**Screenshots**
![nolastvisit](https://user-images.githubusercontent.com/6223578/51438743-5822ac80-1cb0-11e9-886f-e71aed416629.png)

**Additionnal information**
PrestaShop

[2019-01-20 12:40] sickboards opened #12229 "Multi Shop upgrade to 1.7.4.2 =>1.7.5.0 full of errors"
I have a multi store / multi domain shop

First I upgraded 1 click upgrade to 4.5.1 on both sides.

Then I did an upgrade on store 2 first (in production mode), went fine, no errors.
Then I tried to do an upgrade on store 1 (also in production mode), it went fine up to the database update, I got a response: database already up to date, do you want to downgrade to 1.7.4.2 (??? why would I want that

[2019-01-20 15:18] Peterits commented on #11911
Hi,
I have done some tests on version 1.7.5.1, there is a small bug on SEO product, if the field meta description is empty, the preview SEO shows code!

![image-seo](https://user-images.githubusercontent.com/44966543/51441163-fe7daa80-1cce-11e9-892c-ae0013e15a75.jpg)

[2019-01-20 15:33] matks commented on #11911
Hi @Peterits, do you think the bug you found is related to this issue ?

If not, could you please open another issue 😉 it makes issues easier to track (and fix 😛 )

[2019-01-20 18:37] imike57 opened #12230 "PS 1.7.5.0 - Mails issues, seem related to php intl and swiftmailer"
**Describe the bug**
Fresh install 1.7.5.0, yet the shop is unable to send a mail.
Tests made on the login admin panel, form "forget password".

(I have some other PS 1.5 on the same server which work correctly).

If I add the correct email to retrieve the password in the form, I got as error :

if I comment the test at the line 345 in MailboxHeader.php... I still got an error "An error occurred w

[2019-01-20 19:07] rdy4ever commented on #12230
Hi. Your ICU version is outdated, causing this error in 1.7.5.0 (in prevoius versions INTL_IDNA_VARIANT_UTS46 was not strictly required).
Apply this PR to fix your issue: #11995
From 1.7.5.1 this fix will be included in core.

[2019-01-20 19:39] matks commented on #12230
Hi @imike57, RFC 2822 is a rule that defines what is a correct email and what is not.

So your 1st error `Fatal error: Uncaught exception 'Swift_RfcComplianceException' with message 'Address in mailbox given [contact@] does not comply with RFC 2822, 3.6.2.'` seems to indicate you are using an email that is not valid (according to RFC 2822), and this prevents the further processing.

Did you copy t

[2019-01-20 20:12] marchspa commented on #11558
Hi, will this be solved for all currencies? The same thing is happening with ARS.

[2019-01-20 20:46] imike57 commented on #12230
Thank's guys for your help.

@matks  , I confirm, the function got the email value truncated. I fill well "contact@myshop.com" and not "contact@" and it seem got only this...

@rdy4ever has right. Seem related to ICU issue. But I can't update it on the server for now.
Finally I take a copy of the last Mail.php here [https://raw.githubusercontent.com/PrestaShop/PrestaShop/develop/classes/Mail.php](

[2019-01-20 20:46] #12230 closed, assigned to nobody

[2019-01-20 21:07] officeatheliplanetde commented on #12226
As to see in the attached picture, the reason for the blank page was to find in the prestafroud.php. It was not a system bug. A wrong setting in the Prestashop Security module was causing this problem.

[2019-01-20 21:07] #12226 closed, assigned to nobody

[2019-01-20 21:09] LocalHeroPro opened #12231 "Files and folders included in repo are ignored in .gitignore"
**Describe the bug**
Files and folders included in repository are gitignored in .gitignore file. That files and folders are required to install process.
When downloading fresh repository from official github, command composer install works as expected.
After some work I push everything to my repo. After that I clone my repo to server and then composer install doesn't work as expected and web insta

[2019-01-20 21:21] matks commented on #12231
Hi @LocalHeroPro I dont think the issue comes from the gitignored files. From your terminal output, I'd rather say your prestashop failed to download CLDR data which are required to provide translation capabilities to prestashop. Since the CLDR data download has been performed through a Composer command, it makes Composer fail.

[2019-01-20 21:22] LocalHeroPro commented on #12231
I checked it in five machines and on Windows and on Linux, so I don't think so.

[2019-01-20 21:47] matks commented on #12231
Oh, I think I got it 😄it's a tricky one.

Since `img` folder contains your images, we gitignore the `img` folder (see https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/.gitignore#L9) because, well, this is your shop's content, it's not supposed to be shared between all prestashop users (you are not interested in the `img` files I have).

But if you clone PrestaShop repository, you get the `img

[2019-01-20 21:57] LocalHeroPro commented on #12231
For img, upload, download folders aren't better to add that folder to .gitignore file and after that create .gitkeep file in that folders and exclude that files in .gitignore file for keeping only that folder with that file inside? This resolve manually work for all developers.

Missing folders (img, upload, download) aren't main issue reason. This in my opinion are only small unimprovement from P

[2019-01-21 07:31] Peterits commented on #11911
Yes you are right ! 😉

[2019-01-21 07:38] Peterits opened #12233 "bug on SEO product, if the field meta description is empty"
Hi the team,
I have done some tests on version 1.7.5.1, there is a small bug on SEO product, if the field meta description is empty, the preview SEO shows code!

**Screenshots**
![image-seo](https://user-images.githubusercontent.com/44966543/51459052-87d8bf80-1d57-11e9-9efe-d637385a0005.jpg)

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2

[2019-01-21 07:53] khouloudbelguith commented on #12224
Hi @cyjo5,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1OLDWC7VpRsuxOBywe7CUU00GjFuc0AXj/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error l

[2019-01-21 08:12] jherry commented on #11939
I'm the developper of Page Cache Ultimate, sorry for this issue, it has been fixed in module version 4.53.

[2019-01-21 08:30] khouloudbelguith commented on #12233
Hi @Peterits,

Thanks for your report.
I manage to reproduce the issue with the branch 1.7.5.x ( PrestaShop v 1.7.5.1)
![image](https://user-images.githubusercontent.com/16067358/51461707-14d34700-1d5f-11e9-8788-ab7909f4026f.png)
In the last version 1.7.5.0, it is OK.
We will see how to fix it.
Thanks!

[2019-01-21 08:42] khouloudbelguith commented on #12230
Duplicate of #11949

[2019-01-21 08:48] khouloudbelguith commented on #12228
Hi @coreykck,

I did not manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/51462690-8ca27100-1d61-11e9-96e6-920f08c21937.png)
Your issue could be related to a custom module or an override.
Thanks to check & feedback.

[2019-01-21 09:33] khouloudbelguith commented on #12142
Hi @vhessam,

The issue is added to our bug roadmap.
It will be fixed in the next release 1.7.5.1.
Thanks!

[2019-01-21 09:36] MatShir commented on #11558
Hi @marchspa,

It will be solved for every currency, but could you explicit the currency symbol you were expecting and the one shown in your shop?
It will help us in our testing phase?

Thank you

[2019-01-21 09:38] matks commented on #12231
So your idea is:
- keep folders in .gitignore
- create .gitkeep in each ignored folder
- exclude these .gitkeep from .gitignore by using `!` .gitignore annotation

Is that right ?

[2019-01-21 10:06] matks opened #12235 "[SF Migration] Rework access denied error messages"
Currently, we have the following error messages usecases for migrated pages:

- when someone attempts to display a page forbidden to him: "Access denied." or "You do not have permission to view this."
- when someone attempts to create a new item but he was not granted the right to create: "You do not have permission to add this." or "You do not have permission to create this."
- when someone attem

[2019-01-21 10:06] khouloudbelguith commented on #12229
Hi @sickboards,

The autoupgrade is done in all stores.
With this module, you can upgrade your shop to the latest version of PrestaShop but not your stores separately.
![image](https://user-images.githubusercontent.com/16067358/51466984-b82a5900-1d6b-11e9-82c2-921f785ebb5a.png)
You can run those command lines to remove the cache:
 `rm -fR /Projet_PrestaShop/var/cache/*`
[code]
Thanks to check & fe

[2019-01-21 10:07] matks commented on #12235
We are discussing the possibility of adding a new message "You need permission to perform this action."

[2019-01-21 10:14] khouloudbelguith commented on #12187
Hi @weddingtextile,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-21 10:14] #12187 closed, assigned to nobody

[2019-01-21 10:15] LouiseBonnard commented on #12235
w/ @TristanLDD

[2019-01-21 10:16] khouloudbelguith commented on #9924
Hi @wileeVB,

Please be aware that the forge should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-01-21 10:31] coreykck commented on #12228
Got it, my fault.
The hook displayBeforeBodyClosingTag was not enabled in Display Positions
Tnx a lot

[2019-01-21 10:31] #12228 closed, assigned to nobody

[2019-01-21 10:32] khouloudbelguith commented on #11629
HI @JavierEB,

Any news about your issues?
Thanks!

[2019-01-21 10:33] khouloudbelguith commented on #11774
Hi @consochris,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-21 10:33] #11774 closed, assigned to nobody

[2019-01-21 10:34] khouloudbelguith commented on #11452
Hi @demperador,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-21 10:34] #11452 closed, assigned to nobody

[2019-01-21 10:34] khouloudbelguith commented on #11778
Hi @2TEND,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-21 10:35] khouloudbelguith commented on #11267
Hi @jcmy31,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-21 10:35] #11267 closed, assigned to nobody

[2019-01-21 10:35] 2TEND commented on #11778
Never working...

Le 21 janv. 2019 11:35 AM, "khouloudbelguith" <notifications@github.com> a
écrit :

Closed #11778 <https://github.com/PrestaShop/PrestaShop/issues/11778>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/PrestaShop/PrestaShop/issues/11778#event-2086023074>,
or mute the thread
<https://github.com/notification

[2019-01-21 10:36] khouloudbelguith commented on #12228
@coreykck, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-21 10:38] demperador commented on #11452
Hi @khouloudbelguith I have not posted anything else because of the last reply in this thread. For our company is necessary to have this bug fixed. We have noticed though that if all combinations are deleted and generated again. Then there is no problem but it is a hassle to have to link pictures to every combination, even more when there are products that can have more than 100 combinations (just

[2019-01-21 10:38] khouloudbelguith commented on #11778
Hi @2TEND,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-01-21 10:50] khouloudbelguith commented on #11172
Hi @sulwen,

Sorry, but I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4 when applying the same configuration described by you.
Thanks!

[2019-01-21 10:54] khouloudbelguith commented on #11779
Hi @desger99,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-21 10:54] #11779 closed, assigned to nobody

[2019-01-21 11:04] Klemart3D opened #12237 "Attribute name missing on Cart (order detail) page"
**Describe the bug**
If attribute public name have a colon character (" : ") it disappeared from the product detailed list of the cart (order detail) page.

**To Reproduce**
1. Go to : Back-office > Catalog > Attributes & Features > Attributes > Edit "Color"
2. Add authorized character ":" at the end of public name
3. Into FO add a product with color attribute to cart
4. Into cart see the attribut

[2019-01-21 11:22] sickboards commented on #12229
Even if the stores are in 2 separate folders/drives on the server?

On Mon, 21 Jan 2019 at 11:07, khouloudbelguith <notifications@github.com>
wrote:

[2019-01-21 11:24] khouloudbelguith commented on #12237
Hi @Klemart3D,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.
When I add `:` in the public name of an attribute, the attribute name will be not displayed in the cart page
NOK => ![image](https://user-images.githubusercontent.com/16067358/51471377-d34e9600-1d76-11e9-89ec-60b69f09e0db.png)
OK =>
![image](https://user-images.githubusercontent.com/16067358/51471448-

[2019-01-21 11:27] khouloudbelguith commented on #12229
@sickboards, so you have a different `Physical URL` for each store?
![image](https://user-images.githubusercontent.com/16067358/51471764-e44bd700-1d77-11e9-81a9-8e5ab90a5172.png)
Thanks!

[2019-01-21 12:12] Peterits opened #12239 "In page Traffic & SEO"
Hi the team,
Tests on version 1.7.5.1,
in page Traffic & SEO

Oops! An Error Occurred
The server returned a "500 Internal Server Error".

![seo-error](https://user-images.githubusercontent.com/44966543/51473814-ace02900-1d7d-11e9-93bb-81e86329411c.jpg)

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2

[2019-01-21 12:17] sickboards commented on #12229
Yes exactly
thanks

On Mon, 21 Jan 2019 at 12:27, khouloudbelguith <notifications@github.com>
wrote:

[2019-01-21 12:52] tomas862 commented on #12239
On **1.7.5.1** it works , this happens only on develop branch

[2019-01-21 13:30] khouloudbelguith commented on #12239
Hi @Peterits,

I did not manage to reproduce the issue with the branch 1.7.5.x ( PS1.7.5.1).
But, I have the same issue with develop branch.
We will see how to fix it.
Thanks!

[2019-01-21 13:41] Peterits commented on #12239
Hi @ khouloudbelguith ,
The error is on 1.7.5.x too, I will check on another installation !!
Thanks!

[2019-01-21 13:43] Peterits commented on #12233
Hi,
The modification seems to work properly !!
Thanks !

[2019-01-21 13:59] khouloudbelguith commented on #12229
@sickboards, these two stores, they have different databases?
Thanks!

[2019-01-21 14:15] LocalHeroPro commented on #12231
Yes, but this is small issue with missing translations/cldr and override (inside that folder classes and controllers) folders and other missing files and folders that are in official repo but ignored by .gitignore file and required to proper working composer install command.

When I add new origin, and add all files with --force, this can add vendor or other unnecessary folders/files. So after tha

[2019-01-21 14:24] Akashvastarpara opened #12241 "Product with combination"
Let me explain the concern:
If I have One product A and Which I want to show with image 1.jpg (this one is set as cover image for refence of product)
Product A has 2 combination a and b with image 2.jpg and 3.jpg respectively.
Now when I see the product on the front-office. It should be shown with 1.jpg image (Cover Image) but in prestashop first combination (combination a with image 2.jpg) get se

[2019-01-21 14:42] sickboards commented on #12229
no same database

On Mon, 21 Jan 2019 at 14:59, khouloudbelguith <notifications@github.com>
wrote:

[2019-01-21 14:51] matks commented on #10560
@sarjon But this is a true feature, and it makes sense: it provides a quick way to input a new order for a new customer.

Well I guess it's either a modal or a hidden form that pops when button is clicked, isn't it ? But the modal here seems to be used properly: you want to disable the "create order" page while the backoffice user is creating the customer. I have seen a lot of modals badly used bu

[2019-01-21 15:00] sts098 opened #12242 "Prestashop 1.7.5.0 Product entry issues"
**Describe the bug**
When I select a product to edit in BO.  The spinner continues to spin indefinitely.  I can edit the product and save the edits.  However the product is made inactive.  When enabled, the edits appear correctly

**To Reproduce**
Enter BO.  Go to catalog, products, select a product, click edit

**Screenshots**

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version:

[2019-01-21 15:02] khouloudbelguith commented on #12229
Hi @sickboards,

Have you the same issue with this after upgrading the second store?
![image](https://user-images.githubusercontent.com/16067358/51482152-f50b4580-1d95-11e9-9366-bceb428384bf.png)
Thanks!

[2019-01-21 15:04] khouloudbelguith commented on #12242
Hi @sts098,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - Description of your issue
 - Steps to reproduce the issue
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this informati

[2019-01-21 15:09] khouloudbelguith commented on #12241
Hi @Akashvastarpara,

Thanks for your report.
@marionf, @colinegin what do you think of his suggestion?
Thanks!

[2019-01-21 15:11] sarjon commented on #10560
so you're saying we should implement it using `iframe`?

[2019-01-21 15:11] PierreRambaud commented on #12231
Hey @LocalHeroPro after discuss with @matks we do this PR, but it targets develop branch; https://github.com/PrestaShop/PrestaShop/pull/12243
You can take the .gitignore file, it should work. Can you have a try?

[2019-01-21 15:12] sickboards commented on #12229
yes that was what I had to and then I said no i don't want to restore and
then i got a 500 error because the /var/cache/prod folder did not exist.

On Mon, 21 Jan 2019 at 16:02, khouloudbelguith <notifications@github.com>
wrote:

[2019-01-21 15:14] giuliopowa opened #12244 "Multishop Default combinations not reassigned if you delete it"
Multishop Default combinations not reassigned if you delete it

Preparation:

- Fresh installation of prestashop (for example version 1.7.5.0) ( the problem persists from version 1.6.x.x)
- MultiShop with minimum 2 shops (example "Hello1" and "Hello2)

Execution:

- Go to the Back Office, select a product (for example the product with reference "demo_5")
- In the Back Office select one of the shop

[2019-01-21 15:27] khouloudbelguith commented on #12229
@sickboards, thanks for your feedback.
Yes, I manage to reproduce the issue with the 1-click upgrade v4.5.1.
Steps to reproduce the issue:
1- fresh install PS1.7.4.4 => Folder name **1744**
2- fresh install PS1.7.4.4 => folder name **ps1744**
3- replace the database of **ps1744** by the database **1744**, in the file **ps1744**/app/config/parameters.php
4- Clear cache manually from **ps1744**
5- E

[2019-01-21 15:56] centoasa opened #12246 "1 visitor-multiple session"
prestashop 1.7.5.0
Debian 4.9.110-3+deb9u2  x86_64
php 7.2.14
MySQL: 10.1.37-MariaDB-0+deb9u1
as you can see on this document https://1drv.ms/t/s!AnkbspQIR_C66z8seujS3BVYK89d for every visitor (IP) prestashop have a greta number of session with the same IP
It's normal? or it's an issue?

[2019-01-21 16:00] matks commented on #10560
I see nothing against it. But you seem reluctant 😉please tell what are your reasons against iframes and modals.

[2019-01-21 16:06] sarjon commented on #10560
no no, im not against modals or iframes. i just was wondering whther using `iframe` instead of simple form inside modal has advantages/disadvantages? :thinking:

[2019-01-21 16:10] khouloudbelguith commented on #12244
Hi @giuliopowa,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
https://drive.google.com/file/d/1nkNF5z4PLm_CyzPAaHs-OM6Z5JcYaplD/view
We will see how to fix it.
Thanks!

[2019-01-21 16:11] matks commented on #10560
I guess the modal form (without iframe) requires more work as you have to handle the validation / submit / display error or success messages with ajax calls while iframe kindof provides you this of the shelf.

[2019-01-21 16:16] khouloudbelguith commented on #12246
Hi @centoasa,

Could you please add steps to reproduce the issue in a new comment.
Thanks!

[2019-01-21 16:17] centoasa commented on #12246
backoffice-->https://www.100asa.it/admin/index.php?controller=AdminStats&token=ee73eaa2d82bb861c97af7fb56332ddf&module=statslive and then see all visitors in the attached file first

[2019-01-21 16:32] LouiseBonnard commented on #12235
Actually, the idea is a bit broader, but I don't know if this can be done at this point. If we want the software to be consistent, it would be nice to have no negative turns of phrase but positive ones instead. Like _You need permission to perform this action_ instead of _You do not have permission to perform this action_.

[2019-01-21 16:47] matks commented on #10502
@sarjon I get the idea 😃however we have to be cautious here. Some processings defined in the template are indeed unnecessary. But some other processings might be *templating choices* that might be implemented differently by a developer building his own Backoffice on top of our backend.

It's the same issue with frontend theme: we have to make a lot of variables available in the Presenter because w

[2019-01-21 16:50] matks commented on #12235
@LouiseBonnard A wording is a wording to us, it does not require more time to use `You need permission to perform this action` .

I think we can even provide which permission is required. Example: "You need CREATE or READ permission to perform this action"

[2019-01-21 16:54] matks commented on #12235
Do you think you can make a clear rule for us to follow such as

| Triggering condition | Error message |
----- | -----
| When someone attempts to display a page forbidden to him | "Access denied." |
| When someone attempts to create a new item but he was not granted the right to create | ... |
| When someone attempts to modify an item but he was not granted the right to edit | ... |
| ... | ... |

[2019-01-21 16:57] LouiseBonnard commented on #12235
Absolutely! But in case we decide to turn the negative form into a positive one, I guess that all these kind of occurrence will have to be replaced by positive forms. I can fill this table with better wording suggestions corresponding to each triggering condition. ;-)

[2019-01-21 17:07] khouloudbelguith commented on #12246
@centoasa,

I have the same issue but in other cases.
The address IP for a different guests:
![image](https://user-images.githubusercontent.com/16067358/51488871-0577ec00-1da7-11e9-8e4d-2990865bdfcf.png)
I use the same computer but I use different browsers for the same shop(Chrome, navigate browser chrome, FireFox, Safari,..)
That's why, I have the same IP address.
I think it is a normal behavior.

[2019-01-21 17:08] khouloudbelguith commented on #12246
@centoasa, have you the same conditions described by me?
Thanks!

[2019-01-21 17:11] centoasa commented on #12246
@khouloudbelguith no, it's not my case. By tawk chat, I monitor visitors, and in the same time, same customer have 1 only session but a large amount of ip session on presta-backoffice

[2019-01-21 17:14] centoasa commented on #12246
do you think this as a little strange? https://nimb.ws/8TsHEm

[2019-01-21 17:21] khouloudbelguith commented on #12246
@centoasa, , they are robots? did you generate the robots.txt file?

Generating the robots.txt file: A robots.txt file allows you to block robots and other automated software that browse the Web to find more pages to add to their company's server. You will want to give full access to some robots, like those of Google or Yahoo !, while others will have to find closed doors, such as spam robots, con

[2019-01-21 17:24] centoasa commented on #12246
yes, I already have the robot file

[2019-01-21 18:34] centoasa commented on #12246
now are 333... please see https://1drv.ms/t/s!AnkbspQIR_C660R5cBuLqhvqkFQ0

[2019-01-21 18:52] jolelievre commented on #11927
Hello @pdkey and @TemKaSD

I understand your problem, indeed this feature should be an option. Although I hesitate between two ways of managing this:
- either be able to enable/disable each attribute group (as you suggested @TemKaSD) which offers more precise control, but if you need to disable them all you need to do it one by one
- use a global option like "Show product attributes in title" whic

[2019-01-21 20:41] matks commented on #12110
Some useful insights from the forum 😉 https://www.prestashop.com/forums/topic/663108-free-module-revws-product-reviews-ps16ps17/?do=findComment&comment=3048549

[code]

[2019-01-21 22:46] BenTen commented on #12246
I'm not an expert, but the number 333 seems a bit ridiculous for a Ddos attack.

[2019-01-21 23:25] BenTen opened #12252 "Japan States in double with different iso"
### Describe the bug

I just notice that the State of Japan are in double in the BO (Locations/States) but with a different iso code.

![image](https://github.com/PrestaShop/PrestaShop/assets/23308427/94ba8c88-9187-4fea-9aa3-db79d6d52c10)

### Expected behavior
....

### Steps to reproduce

1. BO>IMPROVE>International>Locations
2. Go to States
3. Filter by country "Japan"
4. See the error>there's

[2019-01-22 00:39] kpodemski commented on #12110
it's not it as we're taking about cache issue here, and it is not working 1.7.2 and above

[2019-01-22 00:53] ghost commented on #12170
Hello,
I think it's crazy to can change an invoice address
The best way is to deleted this button when a invoice is set to an order.

https://www.prestashop.com/fr/blog/module-de-certification-article88

[2019-01-22 03:43] mickaelandrieu commented on #12207
Hi,

we need a Blackfire report to figure out what happens...

The module you're using, is it available on PrestaShop Addons?

Mickaël

[2019-01-22 04:27] Akashvastarpara opened #12253 "https warning on backoffice"
I have enabled SSL certificate and every pages on front-office are secured. But in the back-office I'm getting warning with http. I have opened "view page source" and found that link of  "View my shop" is not secured it comes with http instead of https.

PrestaShop version: 1.7.5.0

---
#### Describe the bug

I have enabled SSL certificate and every pages on front-office are secured. But in the ba

[2019-01-22 07:01] grigorevlad commented on #12207
@mickaelandrieu it's not avaliable on Addons, i think it's developed by Vekia which is a valuable contributor for PS for a long time.
I can grant you FTP and Backend access while you gather what you need to test.
It's ok this way?

Vlad

[2019-01-22 07:15] bartes1987 commented on #11825
I'm not sure if I understand correctly. What steps do I have to take to solve the problem?

[2019-01-22 07:19] jolelievre commented on #12142
Hello @khouloudbelguith
I am trying to reproduce the bug without success, could you please copy me the text that causes the bug? With persian numbers?
Thank you

[2019-01-22 07:51] khouloudbelguith commented on #12142
Hi @jolelievre,

I used this expression `آیفون ٨`  & this one `آیفون ٧` to reproduce the issue.
Thanks!

[2019-01-22 07:59] khouloudbelguith commented on #11825
Hi @bartes1987,

As described by @anantaramdas, you need to update your database
1- table `PREFIX_product`, change the `reference` & supplier_reference from `varchar(32)` to `varchar(62) `
2- table `PREFIX_supply_order_receipt_history`, chnage the `employee_firstname` & `employee_lastname` from varchar(32) to varchar(255).
PS: PREFIX is the prefix of your tables, it could be for example ps.
For mo

[2019-01-22 08:06] khouloudbelguith commented on #12252
Hi @BenTen,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/51520789-f0da3900-1e24-11e9-9d93-d0ff25178719.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-01-22 08:16] khouloudbelguith commented on #12246
@centoasa, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
It could be due to a proxy server.
You can use PrestaShop Geo Location Feature. It is really very good to block the IP.
Thanks!

[2019-01-22 08:19] centoasa commented on #12246
@khouloudbelguith maybe nginx proxy?
sorry: what's "PrestaShop Geo Location Feature" ?

[2019-01-22 08:35] khouloudbelguith commented on #12246
@centoasa, you are welcome!
Thanks!

[2019-01-22 08:38] sanctusmob opened #12254 "Webservice Product Image Size Limit"
When i try to upload product over 3Mb i got this reply from webservice.

`<code><![CDATA[72]]></code>
<message><![CDATA[The image size is too large (maximum allowed is 3000 KB)]]></message>`

Php settings are 32Mb. Also in Image Settings --> Maximum file size of product customization pictures --> is 8Mb (8388608 bytes).

Where can i change this limit?

Prestashop 1.7.5
Php fpm 7.2

[2019-01-22 08:47] pks891618 opened #12255 "Multistore mode issues"
I have created 5 different shops . Now if i trying to disable all website by selecting the "All shops " the website still enable.

For disabling all shops i need to select each shops and disable the shop(put the website in maintance mode).

Please let me know what exactly issue is this

[2019-01-22 09:06] khouloudbelguith commented on #12255
Hi @pks891618,

We manage to reproduce the issue.
Your ticket is a duplicate of #9548
So, I close it.
Thanks!

[2019-01-22 09:06] #12255 closed, assigned to nobody

[2019-01-22 09:06] khouloudbelguith commented on #12255
Duplicate of #9548

[2019-01-22 09:13] pks891618 commented on #12255
Sorry but i cant the fixes for this issue on the url https://github.com/PrestaShop/PrestaShop/issues/9548

[2019-01-22 09:22] khouloudbelguith commented on #12254
Hi @sanctusmob,

Can you please edit the file `WebserviceSpecificManagementImages` into the path ProjectPrestaShop/classes/webservice/WebserviceSpecificManagementImages.php, replace this code line `protected $imgMaxUploadSize = 3000000;`
by this
`protected $imgMaxUploadSize = 10000000;`
Thanks to check & feedback.

[2019-01-22 09:26] khouloudbelguith commented on #12255
@pks891618, sorry it is not fixed yet.
Thanks!

[2019-01-22 09:28] pks891618 commented on #12255
@khouloudbelguith  so this issue is not fixed in 1.7.4.2 , we can use the latest version for prestashop 1.7.5

[2019-01-22 09:39] khouloudbelguith commented on #12255
@pks891618, sorry it is not fixed from 1.7.4.0 to PS1.7.5.0

[2019-01-22 09:50] colinegin commented on #11927
First, we had thought of putting an option in the SEO section of each product page.
But now that I think of it, I think a global option is a better option, as it is a simpler solution.
I'm just not exactly sure where this option should be located : product settings ? traffic & seo ?

[2019-01-22 09:56] matks commented on #12110
@kpodemski You're right, sorry for the mistake. So that makes 2 bugs instead of 1

[2019-01-22 10:04] khouloudbelguith commented on #12253
Hi @Akashvastarpara,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/51527471-d0b27600-1e34-11e9-9905-83517be27fbb.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-01-22 10:04] bartes1987 commented on #11825
I made all these updates and I'm afraid that the problem still occurs in my case.

[2019-01-22 10:05] khouloudbelguith commented on #12253
Related to #9807

[2019-01-22 10:09] khouloudbelguith commented on #11825
@bartes1987, did follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/12062#issuecomment-452269373)?, did you made changes in all those tables:

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_lastname` `employee_lastname` VARCHAR(255) DEF

[2019-01-22 10:21] publi365 commented on #10264
Hi!

I've have the same problem with the cart rules with virtual products in **Prestashop 1.7.5.0**.

The **Cart.php** at the line **1884** has this:

This seems ok because it has the line **Cart::BOTH_WITHOUT_SHIPPING,**.

At the line **1932**:

I've tried 2 different things:

1. Move the line **case Cart::BOTH_WITHOUT_SHIPPING:** before **case Cart::BOTH:**
2. Copy the content of **case Cart::BO

[2019-01-22 10:26] bartes1987 commented on #11825
Yes, I made these changes. I'm attaching the screenshots from my current databse.
![database](https://user-images.githubusercontent.com/31964938/51529215-9c40b900-1e38-11e9-9119-58940efc73bf.png)
![database1](https://user-images.githubusercontent.com/31964938/51529216-9c40b900-1e38-11e9-9725-7525c5f0f1ef.png)
![database2](https://user-images.githubusercontent.com/31964938/51529217-9c40b900-1e38-11

[2019-01-22 10:38] khouloudbelguith commented on #11825
@bartes1987, it seems that your issue is different, this issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-01-22 10:38] Quetzacoalt91 commented on #12229
As far as I understand, both shops are running on the same database and in your example `ps1744` is not used anymore.
Database is already running the version you try to upgrade on, the script is supposed to return an error code as written [in the doc](https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/#error-codes).

What do you expect from me here? This seems to be a expected co

[2019-01-22 10:53] bartes1987 opened #12257 "Prestashop 1.7.4.3 - Product combinations not loading"
Sometimes when I enter any product with combinations in back office the combinations aren't loading. When it happens in console I got error 500 (below is the screenshot). If the combinations won't load I can't save the product (screen 2). Sometimes the combinations load all right, the problem is not happening every time.

![screen1](https://user-images.githubusercontent.com/31964938/51530899-4706a

[2019-01-22 10:54] bartes1987 commented on #11825
@khouloudbelguith  Ok, I did it: #12257

[2019-01-22 10:56] khouloudbelguith commented on #12257
Hi @bartes1987,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-r

[2019-01-22 11:10] bartes1987 commented on #12257
![screen3](https://user-images.githubusercontent.com/31964938/51531584-263f5080-1e3e-11e9-84bd-b973f3754719.png)

[CMD_SHOW_LOG.txt](https://github.com/PrestaShop/PrestaShop/files/2782470/CMD_SHOW_LOG.txt)

[2019-01-22 11:17] khouloudbelguith commented on #12257
@bartes1987, I think that the file attached, it a server log, you have some issue permissions  `[ACL] Access to context [/] is denied!`.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong. If you don't have it, you should ask your hosting provider.
THanks!

[2019-01-22 11:53] bartes1987 commented on #12257
In debug mode in some cases I have two kind of error pages when entering product edit but it seems like it doesn't depend on the fact if the combinations loaded or not. Sometimes combinations aren't loaded but there are no error in debug mode.
[debug.pdf](https://github.com/PrestaShop/PrestaShop/files/2782621/debug.pdf)
[debug1.pdf](https://github.com/PrestaShop/PrestaShop/files/2782622/debug1.pdf

[2019-01-22 12:06] sanctusmob commented on #12254
Issue solved. In the next update this value will be lost.
This value must be read from the configuration in DB (or somewhere else)

Thank very much khouloudbelguith.

[2019-01-22 12:06] #12254 closed, assigned to nobody

[2019-01-22 12:40] Bonobomagno opened #12258 "Attempted to call function "renderWidget" from the global namespace."
I tried to use the same pattern used on module/ps_shoppingcart/ajax
but this don't work.
So, how does this still work on ps_shoppingcart?

what i did?
used something like that in an ajax controller

`        header('Content-Type: application/json');
        die(json_encode([
            'preview' => $this->module->renderWidget(null, ['cart' => $this->context->cart]),
            'modal'   => $moda

[2019-01-22 13:03] khouloudbelguith commented on #12258
Hi @Bonobomagno,

Thanks to follow this documentation: https://devdocs.prestashop.com/1.7/modules/concepts/widgets/ check & feedback.
Thanks!

[2019-01-22 13:11] colinegin commented on #9566
So according to you @eternoendless what would be the new token lifetime ?

Thanks

[2019-01-22 13:16] khouloudbelguith commented on #12257
@bartes1987, probably the problem is that you have only a handful connection allowed and when your class tries to get a new connection you have this error.

This is not a programming problem, just the quantity of resources available. And any other script that uses this class is subject to have the error.

You have to configure more connections on MySQL config file on the server. If you don't have

[2019-01-22 13:28] sickboards opened #12259 "Search for hook leads to invalid token warning"
Search for hook leads to an invalid token warning:
Invalid token: direct access to this link may lead to a potential security breach.

how to reproduce:
- go to design -> positions
- type in 'home' in search for a hook field and press enter.

[2019-01-22 13:48] jf-viguier commented on #9928
The commit in vatnumber dev branch save by day, thanks @borlum
It fix this huge bug in Prestashop with vatnumber module and Europe shipping.
For me, it occurs when a cart rule action is set to 'product selection'

[2019-01-22 13:58] khouloudbelguith commented on #12229
Hi @sickboards,

Could you please confirm us the steps to reproduce the issue?
Is it the [right way](https://github.com/PrestaShop/PrestaShop/issues/12229#issuecomment-456111377) to reproduce the issue?
If yes, as discussed with @Quetzacoalt91, it is normal behavior, because, in the second shop, the upgrade is stopped in the middle, so the cache is not cleared automatically because this action (cl

[2019-01-22 14:00] khouloudbelguith commented on #12259
Hi @sickboards,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
With PS1.7.5.0, In the Positions page, the "enter" action with the keyboard is **allowed**.
https://drive.google.com/file/d/14b6NE7BQHgyU0cEp3PknZMdCBLT2-uiA/view
In the PS1.7.4.4,  In the Positions page, the "enter" action with the keyboard is **not allowed**.
https://drive.google.com/file/d/11wKr2uhzBGcQEl0F

[2019-01-22 14:00] #11751 closed, assigned to nobody

[2019-01-22 14:01] Bonobomagno commented on #12258
I'm not talking about that
I just wanna make an ajax controller and found simpler to return the renderWidget function, as you use on ps_shoppingcart module.
This is fine on ps_shoppingcart controller but not on custom one.
Docs dont say nothing about calling $this->module->renderWidget(etc) from controllers

[2019-01-22 14:09] khouloudbelguith commented on #12258
ping @eternoendless @PrestaShop/prestashop-core-developers
Thanks!

[2019-01-22 14:12] Matt75 commented on #12258
You can't use `$this->module` if you are not in a `ps_shoppingcart` controller.
You have to get the `ps_shoppingcart` module instance then call renderWidget on it.
So you can do that :
[code]

[2019-01-22 14:28] Bonobomagno commented on #12258
This is not what i want to use. I'm not searching to call module A function from module B controller,
Just want to call a module A function (renderWidget) from module A controller.
I saw this pattern used on ps_shoppingcart , but there are no way to reproduce this.

why i want this? Because it is a simple way to return a rendered template (the widget render a tpl with variables) as a json.

p.s.
b

[2019-01-22 14:43] Matt75 commented on #12258
Did you have this on your module class ?
[code]

[2019-01-22 14:49] Bonobomagno commented on #12258
sure ofc. the widgetRendering is working , so i can call it from the template.
but if i try to call it from the controller, i got this `Attempted to call function "renderWidget" from the global namespace.` error

[2019-01-22 14:54] Bonobomagno commented on #12258
The strange thing is that this module is the only  official prestashop module that is using this way to render. So  i dunno if ps_shoppingcart works thanks to an hack, or i did something bad

[2019-01-22 14:58] centoasa commented on #12246
@khouloudbelguith  Geo Location Feature-->not solve the issue
as you can see here  https://nimb.ws/w9sR7Q this ip is normal customer, that open open page (pigment compa epson), but prestashop record it as multiple istance https://nimb.ws/o8HymT on the same time!

[2019-01-22 14:59] Matt75 commented on #12258
Did you defined a namespace in your Module class or in your controller ?
I can't reproduce your problem so maybe you did something bad.

For example with ps_banner
[code]
index.php?controller=ajax&module=ps_banner&fc=module
```{"preview":"<a class=\"banner\" href=\"http:\/\/localhost\/\" title=\"\">\n      <img src=\"http:\/\/localhost\/modules\/ps_banner\/img\/sale70.png\" alt=\"\" title=\"\" cla

[2019-01-22 15:10] khouloudbelguith commented on #12246
@centoasa, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.0 & ps1.7.4.4.
When I'm trying to navigate(as a guest) on the FO(different pages: home page, product page,..)
In the BO, PrestaShop records it as multiple instances at the same time.
![image](https://user-images.githubusercontent.com/16067358/51544368-09b41000-1e60-11e9-80e5-ab214e9dd6df.png)
https://drive.google.com

[2019-01-22 15:14] jolelievre commented on #11927
I also think it's simpler, and I think people who don't want the feature will likely want to disable it everywhere. But I asked myself the same question as you:

- SEO & Urls would seem logical but there is no section with settings about the pages markups, content or display
- so product settings seems like a good alternative (maybe in the "Product page" section), but there is no settings about SE

[2019-01-22 15:14] centoasa commented on #12246
wow! great! I'm not lonely! 👍

[2019-01-22 15:20] TemKaSD commented on #11927
In the settings of the product - the best option.
- If I need to disable it for one product, I can do it.
- If I need to disable for all products - I can disable all products.

It will not be possible to disable a certain parameter - this is bad.

[2019-01-22 15:27] sampsonzak opened #12260 "504 Timeout when trying to view SHIPPING Module??"
**Describe the bug**
When trying to view the default PS SHIPPING module / SHIPPING-Carriers, the page does not load and gives a 504 gateway timeout error.

I have NO other problems with any other modules. ONLY issue is with this Shipping module?? I have not modified it at all - and it is the default carrier!

What is wrong with this?? Please help!! It's urgent I change this, and I really do not wa

[2019-01-22 15:31] khouloudbelguith commented on #12260
Hi @sampsonzak,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-22 15:36] Bonobomagno commented on #12258
now it is just working.
cache issue? I'm using developer version on debug mode without cache and with recompile forced
Pretty strange way to act..
Thanks for the help btw.

[2019-01-22 15:37] #12258 closed, assigned to nobody

[2019-01-22 15:39] krasnycz commented on #11784
@khouloudbelguith Well it did not resolve the issue. I did multiple tests on different servers. The server configurations set to match requirements from Pierre script. I also removed all 3rd party modules. Same results. Bellow is overview of the sympthomps.

- autoupgrade seems to be completed fine, however part with upgrading modules is completely omitted. Chrome inspector log shows the ajax requ

[2019-01-22 15:40] mbadrani opened #12261 "Catalog Product: Switching between "SEO" tab and "basic settings" display visual issues"
**Describe the bug**
On his BO when a user click on basic settings description, SEO tab and return back to settings description tab, he can see something ugly (informations completely messed up)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog>Products' and click on 'description' subtab
2. Click on 'SEO' tab
3. Click on 'Basic settings' tab
4. See error

**Screenshots**
![image

[2019-01-22 15:49] khouloudbelguith commented on #12261
Duplicate of #9668

[2019-01-22 15:49] #12261 closed, assigned to nobody

[2019-01-22 15:55] hh-com opened #12262 "Hook actionEmailAddAfterContent adds Content AFTER closing </body></html> Tag"
If you add a cms page to the mails with ps_legalcompliance, the content will be insert after the closing </body></html> Tag.

Steps to reproduce the behavior:
1. Install ps_legalcompliance.
2. Add a cms page to a mail in the configuration.
3. Send a mail by register a new content or take an order.
4. Check the e-mail cource code.

PrestaShop version: 1.7.4

[2019-01-22 16:04] #12231 closed, assigned to nobody

[2019-01-22 16:14] sampsonzak commented on #12260
Hi, I have had the following information back from my WebHost who looked into the issue:

I am hoping you know what is wrong with this possibly? And how I can fix this issue?

fcntl(7, F_SETFL, O_RDWR|O_NONBLOCK) = 0
connect(7, {sa_family=AF_FILE, path="/var/run/nscd/socket"}, 110) = 0
sendto(7, "\2\0\0\0\16\0\0\0\32\0\0\0api.addons.prestashop.com\0", 38, MSG_NOSIGNAL, NULL, 0) = 38
poll([{fd=7, e

[2019-01-22 16:15] sampsonzak commented on #12260
This is what happens when I try to click the 'SHIPPING' module, or SHIPPING->Carriers.

SHIPPING->Preferences works fine.

[2019-01-22 16:29] khouloudbelguith commented on #12260
@sampsonzak, did you installed any custom carrier module?
Thanks!

[2019-01-22 16:32] sampsonzak commented on #12260
@khouloudbelguith No I can't see any. There is a possibility I may of tried one months ago, but I have checked in my modules and there is nothing to do with shipping, so if I did I would have deleted it already!

[2019-01-22 16:38] khouloudbelguith commented on #12260
@sampsonzak, could you please use this workaround to temporary disable API calls: http://bit.ly/2zIVejJ
Thanks to check & feedback.

[2019-01-22 16:50] unlocomqx opened #12264 "Clean up the customization system"
Hi,

As the customization system was changed in PrestaShop 1.7 (#5341), a lot of "backward compatibility" code is still out there and it's causing some price display bugs (screenshot)
![2019-01-22_12-36](https://user-images.githubusercontent.com/793712/51533159-57218480-1e42-11e9-9994-1c1ecc1a94c4.png)
For example, this is caused by the line https://github.com/PrestaShop/PrestaShop/blob/7ebb37fa15

[2019-01-22 16:51] sampsonzak commented on #12260
Hi, that's worked. Thank you!!

With the API requests disabled am I still able to upload new modules, and upgrade existing ones?

I would rather keep this API thing disabled. As I have had downtime due to PrestaShop's API being down before!

What are the negatives of the changes I have made? What can I not do now? I will consider if it's worth enabling them again after I have set up my shipping ru

[2019-01-22 16:54] khouloudbelguith commented on #12262
Hi @hh-com,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4 and the ps_legalcompliance v3.0.1 - by PrestaShop.
![image](https://user-images.githubusercontent.com/16067358/51551416-b7c6b680-1e6e-11e9-8dfd-0872db74723a.png)
We will see how to fix it.
Thanks!

[2019-01-22 16:59] x29a opened #12265 "Caching in Modules does not work"
**Describe the bug**
As a module developer i wanted to use variable based Cache (instead of the page wide Smarty cache) by using Cache::getInstance(). Unfortunately, either the value is never set or the check if there is a cached value fails, it always returns false.

**To Reproduce**
1. Develop own module against 1.7.5 prestashop
2. Use snippet as proposed [here](https://stackoverflow.com/a/40387

[2019-01-22 17:03] khouloudbelguith commented on #12264
Hi @unlocomqx,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10912
So, I close it.
Thanks!
about your fix, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Our developers will help you getting it right
Thank you!

[2019-01-22 17:03] khouloudbelguith commented on #12264
Duplicate of #10912

[2019-01-22 17:03] #12264 closed, assigned to nobody

[2019-01-22 17:06] khouloudbelguith commented on #12265
Hi @x29a,

Could you please provide me with your custom module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-01-22 17:08] unlocomqx commented on #12264
@khouloudbelguith Thank you, I will submit a PR soon

[2019-01-22 17:19] khouloudbelguith commented on #12260
@sampsonzak, will not be allowed to connect to Addons marketplace from your BO, upgrade module => you are not allowed, install a module from the BO provided by addons, but you can upload a module manually with a zip folder.
Thanks!,

[2019-01-22 17:23] khouloudbelguith commented on #11784
@krasnycz, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt again.

[2019-01-22 17:57] bartes1987 commented on #12257
Is it possible that the problem with loading combinations was caused by the gamification module? I noticed that sometimes some of the errors in console referred to that module (like on the screenshots below). I turned that module off and I haven't encountered the problem till now.
![gamification](https://user-images.githubusercontent.com/31964938/51555257-86061d80-1e77-11e9-930b-4cf5d85e8d11.jpg)

[2019-01-22 18:25] fredec commented on #10739
Open the file /themes/xxx/modules/blockcart/blockcart.tpl
and remove this block of code (or comment):

[code]

[2019-01-22 18:53] krasnycz commented on #11784
@khouloudbelguith
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2784185/log.txt)

[2019-01-22 19:12] slupostrupek opened #12267 "No carriers available"
Carriers are not always available for customers. Issue is in cart - but i don't know how to reproduce it. **When customer will remove all items from cart and add them again** they will be able to choose carrier without issue of "no carriers available". I had this error when i was creating new module and needed orders in backoffice.

I am creating this issue for others, who don't know how to help c

[2019-01-22 19:14] x29a commented on #12265
@khouloudbelguith thanks for the quick response, i created a [mcve](https://stackoverflow.com/help/mcve) i attached [here](https://github.com/PrestaShop/PrestaShop/files/2784235/testcache.zip).

When loading the module, it should show in displayHome or displayRightColumn:

Message from Cache system: cache updated with: 'yo this is loaded from cache' !

After a page reload, i would expect:

Message

[2019-01-22 19:53] x29a commented on #12265
Updated the [sample module](https://github.com/PrestaShop/PrestaShop/files/2784361/testcache.zip) to use `Cache::store()` and related static functions, same result :/

[2019-01-22 20:19] djmassive opened #12268 "Fresh install cannot access admin panel"
**Describe the bug**
Fresh install prestashop 1.7.5, frontend works, but when I try to access admin I see (after enabling debug) this:

(1/1) FatalErrorExceptionCompile Error: Cannot declare class AppKernel, because the name is already in use
--
in AppKernel.php line 244

I've try to composer update - but doesn't help.

I'm using MAMP with PHP 7.1.20 (also check 7.2.8).

**Screenshots**
![zrzut ek

[2019-01-22 20:44] espacious commented on #12189
I can confirm i had the same error.

[2019-01-23 00:11] RUMBuilder commented on #12135
@khouloudbelguith
I've enabled debug, and then attempted to insert a YT iframe to generate the same error... I'm not familiar with PS debug mode, can you direct me as to what I need to provide you for review? Thanks a ton for any help you've given/will give.

[2019-01-23 00:23] slupostrupek commented on #12242
i think i have similar issues. When i did upgrade from 1.7.4.X after saving product it goes inactive. Also display of buttons is wrong. But i didn't have this issue on production server where i have debian. Issue happend on windows xampp + 7.1 php

but on production i have diffrent issue, which is more complicated. When i am **creating product and adding combinations** i can't choose images for th

[2019-01-23 00:34] LocalHeroPro commented on #12231
So I retry steps from first post and after `composer install` I get:
![image](https://user-images.githubusercontent.com/42643563/51574274-61c53380-1ead-11e9-8961-29f7bf867021.png)
So I create missing folders `translations/cldr` and after that remove `vendor` folder and rerun `composer install` and this time I don't get errors from terminal but on browser I still have missing folders
![screencaptur

[2019-01-23 07:05] matix931 opened #12269 "Template evaluation reset state of some components"
Description
Template evaluation reset state of some components. If you change value of spinner a then quicky open combobox, combobox will be closed instantly. It also occurs almost everywhere if you are clicking, scrolling or browsing page fast enough.

Steps to reproduce the behavior:
1. Use default template - classic (You can even go to demo page of PrestaShop)
2. Open some product
3. Change ite

[2019-01-23 07:55] khouloudbelguith commented on #12268
Hi @djmassive,

Did you installed a stable version PS1.7.5.0 downloaded from our official link or did you cloned this project from GitHub?

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for impr

[2019-01-23 08:00] khouloudbelguith commented on #12269
Hi @matix931,

Have you the same issue reported in this ticket: #9634?
Thanks!

[2019-01-23 08:11] PeeyushAgrawal commented on #9797
This issue also exists in Prestashop 1.7.5.0

[2019-01-23 08:45] khouloudbelguith commented on #12189
@espacious, you need to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-01-23 08:51] matix931 commented on #12269
Yes, i have also the same issue.
Page freezes after double click on "add to cart".

[2019-01-23 08:52] khouloudbelguith commented on #9797
Hi @PeeyushAgrawalWebkul,

Sorry, this feature is not added yet in the PS1.7.5.
This issue is added to the debug roadmap so that it will be fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-01-23 08:57] khouloudbelguith commented on #12242
Hi @slupostrupek,

Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]
You need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check & feedback.

[2019-01-23 08:58] khouloudbelguith commented on #12269
Hi @matix931,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9634
So, I close it.
Thanks!

[2019-01-23 08:58] #12269 closed, assigned to nobody

[2019-01-23 08:58] khouloudbelguith commented on #12269
Duplicate of #9634

[2019-01-23 09:17] matks opened #12270 "[SF Migration] Make all controllers follow new access rules"
Symfony controllers must follow these rules:

- index can be accessed if you have READ permission and only this one
- if the page allows to create an item, this action requires CREATE permission
- if the page allows to edit an item, this action requires UPDATE permission
- if the page allows to delete an item, this action requires DELETE permission
- if the page allows to modify prestashop setting

[2019-01-23 09:19] khouloudbelguith commented on #12267
Hi @slupostrupek,

Sorry, I did not manage to reproduce the issue following your steps
https://drive.google.com/file/d/1mtTiIf_DuwX7zxuvDCBRPM5kupaStHy1/view
If PrestaShop Carriers Are Not Available At Checkout, you need to check:

1. Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
Incorrect Zone Assign or Country Disabled: Zone association is among the first

[2019-01-23 09:26] khouloudbelguith commented on #12257
Hi @bartes1987,

What is the exact version of the gamification module did you use?
Thanks!

[2019-01-23 09:37] khouloudbelguith commented on #11784
Hi @krasnycz,

In your log file, you have an error with your `PrestaAdapter` module.
`[INTERNAL] /home/123.cloudwaysapps.com/ABC/public_html/modules/PrestaAdapter/PrestaAdapter.php line 966 - Trying to get property of non-object`
Thanks to check & feedback.

[2019-01-23 09:45] khouloudbelguith commented on #12135
@RUMBuilder, could you please check the permission of your Project, it could be a problem, also thanks to checking the exact value of memory_limit on your server, the minimum required value is **64MB**.
Thanks to check & feedback.

[2019-01-23 10:05] khouloudbelguith commented on #12265
Hi @x29a,

Thanks for your feedback.
After installing your module, I checked the positions of this module & it is OK.
![image](https://user-images.githubusercontent.com/16067358/51598834-a62cef80-1efe-11e9-8387-0a8c15cf71af.png)
In the FO, also, I have this text displayed
`TestCache Template!
Message from Cache system: cache updated with: 'yo this is loaded from cache' !`
![image](https://user-ima

[2019-01-23 10:10] djmassive commented on #12268
I downloaded zip file from presta website so it should be stable. When I notice that doesn't work, I downloaded composer.json from git and make composer update to check if this repairs namespaces - without result.

![fireshot capture 043 - php prestashop info - http___presta local_phppsinfo php](https://user-images.githubusercontent.com/1252451/51599240-6adef080-1eff-11e9-9429-b198f39d02f0.png)

[2019-01-23 10:19] khouloudbelguith commented on #12268
@djmassive, thanks for your feedback.
Could you please provide me the exact link downloaded from PrestaShop?
What is the exact Language/Country did you used during the installation?
Thanks!

[2019-01-23 10:24] TomHsiung opened #12271 "Uploaded images don't show if turn on friendly URL"
Hello,

Original link at PrestaShop official forum, [https://www.prestashop.com/forums/topic/952933-uploaded-images-dont-show-if-turn-on-friendly-url/](url)

The images are well displayed without friendly URL enabled.

After I enabled friendly URL, they don't display at all.

Witho﻿ut friendly URL enabled, the URL to the uploaded images﻿ is:﻿
`https://x.x.x/x/x/img/p/4/5/45-large_default.jpg`

Aft

[2019-01-23 10:44] khouloudbelguith commented on #12271
Hi @TomHsiung,

I did not manage to reproduce the issue with PS1.7.5.0 fresh install.
I attached a video record.
https://drive.google.com/file/d/18ySGXfl6I1vGhVwnwfshrJCVzBi2q-q1/view
Could you please follow these steps after enabling Friendly URL, check and feedback.

1. Go to BO => Design => Images Settings page
2. Scroll down to Regenerate thumbnails

Thanks!

[2019-01-23 10:44] sickboards commented on #12229
Hi, yes that is correct, would it not be better if the cache was deleted automatically to avoid the 500 error?

On this topic is there a better way of running a multi-store environment with 2 distinct domain names?

[2019-01-23 10:56] rafaviana commented on #12029
Hi @khouloudbelguith
There's no manufacture on that page… I can't figure out what's wrong with this PS installation :/

[2019-01-23 10:58] khouloudbelguith commented on #12229
Hi @sickboards,

Thanks for your feedback.
As I said before, it is normal behavior to have 500 error because the cache is not cleared so, in the second shop, the upgrade is stopped in the middle, that's why the cache is not cleared automatically because this action (clearing the cache) is done in the last step of the upgrade.
For more details about `Managing Multiple Shops`, you can follow this [l

[2019-01-23 10:58] #12229 closed, assigned to nobody

[2019-01-23 11:03] Ybeske commented on #11911
I discovered something (maybe) strange. Maybe it can be helpful to find a stable solution.

I installed a module (in my case Additional Product Attributes / Custom Product Fields) to be configured in the product "Module" tab. As described above, (sometimes) nothing happens (or opens) and I get immediately the typical green "Setup updated" message.

This problem only appears from the moment I write

[2019-01-23 11:09] unlocomqx commented on #10912
debug info mentioned in #12264

[2019-01-23 11:20] rafaviana commented on #12029
So, let's keep things organized. I'm sorry for all the messages.

The problem is: I have some products to delete and I can't do it. When I click to delete the product prestashop freezes, I'm forced to refresh the page.
I have the following error in the browser console:
[code]
This error is only visible in the pages I can't delete

[2019-01-23 11:23] khouloudbelguith commented on #12029
@rafaviana, those products which you can not delete them, are they created manually or imported by csv file?
Have you tried to do the same action when debug mode is enabled? is there any exception displayed?
Thanks!

[2019-01-23 11:32] #12233 closed, assigned to nobody

[2019-01-23 11:32] rafaviana commented on #12029
@khouloudbelguith I created the products manually
When I tried to enable debug mode I can't open any page, I got this error:
![screen shot 2019-01-23 at 11 30 44 am](https://user-images.githubusercontent.com/5817213/51603671-5cde9f00-1f02-11e9-910b-665a8e844e47.png)

I need to solve that issue first, I think…

Thanks!

[2019-01-23 11:35] TomHsiung commented on #12271
I had tried thumbnail regeneration for several time but no luck. I use https with a port of 50443.

You can browse my PrestaShop site at: https://www.toms-therapeutics.site:50443/prestashop/

Tom

[2019-01-23 11:42] rafaviana commented on #12029
Error log from admin folder:
[code]

[2019-01-23 11:50] khouloudbelguith commented on #12029
@rafaviana, as I expected before you have an override which not compatible, it is not a PrestaShop core.
You need to navigate to your Project_Folder/override/classes/ => you will find an override of the Dispatcher.php class.
![image](https://user-images.githubusercontent.com/16067358/51604537-5c97d100-1f0d-11e9-89fc-95438bd6ca90.png)

By default, doesn't exist https://github.com/PrestaShop/PrestaS

[2019-01-23 11:50] #12029 closed, assigned to nobody

[2019-01-23 12:02] krasnycz commented on #11784
@khouloudbelguith The log includes history of upgrades. You are reffering to old issue from old upgrade. Check the log from 2019-01-22 only as other records are not related to the 1.7.5.0 upgrade!

[2019-01-23 12:30] khouloudbelguith commented on #12271
Hi @TomHsiung,

I tried in my case with https:// but it is OK.
I attached a video record.
https://drive.google.com/file/d/128-GUr0vzUcxlJMeyEMORuUPJqvS-ZAH/view
Your shop is not accessible,
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-01-23 12:31] wtbi opened #12273 "If customer has no postcode a 500 error is thrown in the checkout"
500 error thrown when customer has no postcode
As a customer, if I have an address that doesn't need a postcode (for example: Ireland) and I go to the checkout I get a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a customer to Prestashop with their country as Ireland
2. In the Location, set Ireland to not require a postcode
2. Set the postcode field as none mandatory
3. Go

[2019-01-23 12:38] grigorevlad commented on #12207
Hi,

I previously reported a bug which was confirmed (https://github.com/PrestaShop/PrestaShop/issues/12064).
This bug doesn't happen when changing the combinations via the module described in this issue.
Basically changing combinations using PS default combination container generates a thumbnail scrolling bug, and if i change the combinations using the module i purchased the bug isn't happening a

[2019-01-23 12:38] Ybeske commented on #11911
To fix the problem (for all modules with the configuration in the product Module tab) in 1.7.5.0, you will have to do a find/replace in the adminXXX/themes/new-theme/public/main.bundle.js:

find
u(t.watchedDescription.val()).text()
replace by
t.watchedDescription.val().innerText

I could see the coming version 1.7.5.1 has this bug fixed already!

[2019-01-23 12:39] ChineseNorris opened #12274 "Duplicated submit add to cart Button"
**Describe the bug**
Bug is tested on clean Prestashop 1.7.4 and 1.7.5. When you click twice or more than once the "Add to cart" button and the popup "Product successfully added to your shopping cart" appears, the button "Continue Shopping" stops to work and "Proceed to checkout" still works. If button is clicked 2 times, the cart will add the product 2 qty.
**To Reproduce**
Steps to reproduce the

[2019-01-23 12:46] BenTen opened #12275 "specific price reduction not display in BO"
Hello,

When I add a specific price reduction, the value is display in FO but not in BO.

Steps to reproduce the behavior:
1. Create a product
2. Set price (5000)
3. Add specific price reduction (1000)
4. Click "Apply"

We can't see the specific price.
If we try to put an other reduction, an error is display on the tob right of the screen "A specific price already exists for these parameters."

Be

[2019-01-23 12:56] djmassive commented on #12268
I downloaded from this link:
https://www.prestashop.com/en/download.

I choose polish language and polish country.

Attached downloaded file (uploaded to my cloud because file is too big):
http://cloud.avatec.pl/index.php/s/D9VsmjEnYqQK6vK

[2019-01-23 13:00] TomHsiung commented on #12271
Please accept the public key to access my site. I cannot access Google because of great firewall of China.

[2019-01-23 13:16] TomHsiung commented on #12271
I enabled debug mode just a moment ago and I checked my php error log. Here is a log record.

`[Wed Jan 23 13:02:02.569035 2019] [php7:warn] [pid 16602] [client x.x.x.x:62298] PHP Warning:  U$

[Wed Jan 23 13:02:02.569035 2019] [php7:warn] [pid 16602] [client 10.0.0.254:62298] PHP Warning:  Use of undefined constant ADMIN_LEGACY_CONTEXT - assumed 'ADMIN_LEGACY_CONTEXT' (this will throw an Error in

[2019-01-23 13:32] TomHsiung commented on #12271
The database table of log did not record any related error information.

[2019-01-23 13:34] khouloudbelguith commented on #12274
Hi @ChineseNorris,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9634
So, I close it.
Thanks!

[2019-01-23 13:34] #12274 closed, assigned to nobody

[2019-01-23 13:34] khouloudbelguith commented on #12274
Duplicate of #9634

[2019-01-23 13:36] khouloudbelguith commented on #11911
@Ybeske, this ticket is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/11923, It is fixed in the next release 1.7.5.1.
Thanks!

[2019-01-23 13:41] masiorama commented on #10742
I just opened an issue on the dedicated repo, since I'm having difficulties with this module.
https://github.com/PrestaShop/ps_googleanalytics/issues/29
Did anybody noticed a similar problem updating on PS 1.7.5 with Analytics module 3.1.3?

[2019-01-23 13:44] khouloudbelguith commented on #12271
@TomHsiung, to be sure that ps_mbo is not the problem, could you please try to disable the `PrestaShop Marketplace in your Back Office` module, clear cache & feedback.

[2019-01-23 13:49] khouloudbelguith commented on #12275
Hi @BenTen,

I did not manage to reproduce the issue with fresh install 1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1wo_noEWlzryUZDTO8NbLcprAZcpwOVBC/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error lo

[2019-01-23 13:53] ChineseNorris commented on #9634
Well, this is actually kinda critical since the user's experience is affected negatively.
I've tried to disable the button onClick but won't send the correct parameters when submitting.
@rdy4ever can you please share the code you used to deactivate the button when processing the request?

Best regards

[2019-01-23 13:53] LouiseBonnard commented on #12235
So, here is what I suggest :

| Triggering condition | Error message - to localize in Admin.Notifications.Error |
----- | -----
| When s.o. attempts to display a page forbidden to him | cf. #10780? |
| When s.o. attempts to create a new item but he was not granted the right to create | You need permission to create this. |
| When s.o. attempts to modify an item but he was not granted the right to

[2019-01-23 13:56] TomHsiung commented on #12271
I found the issue:

- I use 50443 as my ssl web service port

- I keep the default 80 port as my http web service port.

This issue happened because of:

After fresh installation, the domain is xxx.xxx.xxx:50443/prestashop, and the domain_ssl is also xxx.xxx.xxx:50443/prestashop, right? Because by default Prestashop does not enable SSL, so after this fresh installation, I have trouble to access th

[2019-01-23 13:59] khouloudbelguith commented on #12273
Hi @wtbi,

What is the exact PrestaShop version did you use?
I did not manage to reproduce the issue with fresh install PS1.7.5.0
https://drive.google.com/file/d/1UpAW9cp_H9XlgMrv8Ut2pJl-sZU2qZ35/view
This issue is fixed previously with this PR: https://github.com/PrestaShop/PrestaShop/pull/8435
Thanks to check & feedback.

[2019-01-23 14:03] wtbi commented on #12273
Hi @khouloudbelguith

I had the issue with PS 1.7.3.2 but the issue remained after I updated to 1.7.5.0

Thanks,

[2019-01-23 14:07] khouloudbelguith commented on #12271
@TomHsiung, thanks for your feedback.
I'm glad that your issue is solved.
I will close the issue, feel free to open a new one when needed.

Just an issue related to PrestaShop installation with https:// https://github.com/PrestaShop/PrestaShop/issues/10482, it is added to our bug roadmap.
Thanks!

[2019-01-23 14:07] #12271 closed, assigned to nobody

[2019-01-23 14:22] TomHsiung commented on #12271
The root reason for this issue is that your script does not support SSL by default.

Tom

[2019-01-23 14:37] TomHsiung commented on #12271
Also, there is a config file xxx/prestashop/config/config.inc.php, where a line:
`/* SSL configuration */
define('_PS_SSL_PORT_', 443);`
Should keep it as 443, or should I changed it to be consistent with my SSL port (50443)?

[2019-01-23 14:38] khouloudbelguith commented on #12273
@wtbi, I tried also with fresh installation PS1.7.3.2 & it is fixed.
https://drive.google.com/file/d/1bxgOKVSlyUnuXMLgQyFaZL1-1ObuU2mZ/view
This issue is fixed in the PrestaShop 1.7.3.0.
THanks!

[2019-01-23 14:39] khouloudbelguith commented on #12271
@TomHsiung,  you should change it to be consistent with your SSL port.
Thanks!

[2019-01-23 14:48] khouloudbelguith commented on #12268
@djmassive, I tried the file attached with Polish language / Poland country => OK.
https://drive.google.com/file/d/1gby828Rj9AhkRHt1Av93WklzKZhFqips/view
Thanks to check & feedback.

[2019-01-23 14:57] x29a commented on #12265
Thank you for trying the module.

Installing, loading and positioning of the module works great. What does not work is using the `Cache` class as described in my original post. When looking at my second example modules code, there are two different approaches (`moduleDisplay2()` and `moduleDisplay2()`) tried and both dont work.

The result is, when you refresh your shops site, the same text will b

[2019-01-23 15:15] sts098 commented on #12242
My issues also started on upgrade from 1.7.4 to 1.7.5

[2019-01-23 15:17] khouloudbelguith commented on #12242
@sts098 did you have any errors during the upgrade?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!!

[2019-01-23 15:25] djmassive commented on #12268
@khouloudbelguith Thank You for check. I also check this on my friends iMac - with MAMP (same problem). Later I will try to get latest pull from git.

This is video for whole process:
[http://cloud.avatec.pl/index.php/s/NxJXlRvVKd6uT1e](url)

edit:
I also try to rename admin folder to admin-dev - same error.

edit2:
I clone git repository, and make composer install - and ... it is working I can ac

[2019-01-23 15:52] sts098 commented on #12242
Thanks for the help.  I will attempt the fixes you suggest over the weekend.  This is a live site and I do not wish to take it down during the week.  I do not believe there were any errors during the upgrade.  I will put it in debug mode over the weekend and see what happens.  Thanks for the help so far.

[2019-01-23 15:54] khouloudbelguith commented on #12242
@sts098, thanks!
Waiting for your feedback.

[2019-01-23 15:57] tomablan opened #12276 "For a cart product line show both total with and without taxes"
Hi everyone!

I used to work with PS1.6 and now I'm using the 1.7.5 one. I'm currently theming the shopping cart page and I want to show each product line total with **both** tax and without tax. The unit price is OK, the total is not.

My configuration for customers group is to display price **with** taxes (and if I change this, the problem happens on product page then). I've managed to show it b

[2019-01-23 15:58] khouloudbelguith commented on #12265
@x29a, thanks for the clarifications.
Yes, whan I reload the page,

is not displayed.

ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-23 16:39] tczaude opened #13015 "Function create_function() is deprecated in php7.2"
PHP message: PHP Deprecated:  Function create_function() is deprecated in ..../modules/gamification/classes/GamificationTools.php on line 42" while reading response header from upstream, client: xx. xx xx xx, server: ....., request: "POST

[2019-01-23 17:11] khouloudbelguith commented on #12276
Hi @tomablan,

In your product page, you can display the prices with taxes by editing the /Project_Folder/themes/classic/templates/catalog/_partials/product-prices.tpl
Replace this

[code]

by this

[code]

Thanks to check & feedback.

[2019-01-23 17:38] realcee commented on #9992
Hi,
+1

[2019-01-23 18:26] diegomariani opened #12278 "Import che related products"
I can not import product related...

![prestashop import combination ask](https://user-images.githubusercontent.com/32632725/51627944-fbd7bb00-1f43-11e9-9799-1d128b50e87d.png)

[2019-01-23 18:36] adatso commented on #10747
![2019-01-23_19-40-02](https://user-images.githubusercontent.com/11773382/51629460-ef556180-1f47-11e9-9d8f-df2f72ccb050.png)
![2019-01-23_19-45-16](https://user-images.githubusercontent.com/11773382/51629464-f2505200-1f47-11e9-84a8-6433bdce749b.png)

This dreadful bug exists since version 1.6.1.2 and perhaps in earlier versions too. Did only 2 people notice this? Also, I should note that paginatio

[2019-01-23 19:41] sarjon commented on #12083
maybe extend existing instead? something like `@AdminSecurity(ajax=true)`

[2019-01-23 19:44] devonto commented on #11939
@jherry Can you advise how to obtain 4.53? 4.49 is all that is showing at https://addons.prestashop.com/en/website-performance/7939-page-cache-ultimate.html

[2019-01-23 19:50] evsport commented on #12107
Hello
I can't update the quantity in products combination list.
How can I fix this?
Can you please help me

Here my configuration:
Prestashop 1.7.4.2
Server information Linux #1 SMP Tue Oct 9 17:27:49 UTC 2018 x86_64

Server software version: Apache/2.4.37 (cPanel) OpenSSL/1.0.2q mod_bwlimited/1.4

PHP version: 7.0.33

Memory limit: 1024M

Max execution time: 600

Upload Max File size: 256M

Thank

[2019-01-23 20:18] tzak902 opened #12279 "PS 1.7.4.2 Error on Checkout: ContextErrorException in smarty_internal_templatebase.php"
On Checkout, I get this error:

ContextErrorException in smarty_internal_templatebase.php(157) : eval()'d code line 64:
Notice: Undefined offset: 221

I put item in cart.
I checkout
I fill in the Payment information and submit it.

**Screenshots**

![smarty_internal_templatebase_issue](https://user-images.githubusercontent.com/39320435/51634347-084b1c00-1f22-11e9-8483-03aa3bd974a2.JPG)

**Addition

[2019-01-23 21:30] adatso commented on #10747
Problem is hidden in the redirection: **Tools::redirectAdmin($url)**.

When searching for subcategories, redirection is performed with status code 302. As I know, when redirecting after POST request, all data previously sent via POST (specifically -> **id_category**) will lost. So for this reason the claimed functionality does not work.

When comment out `    public static function redirectAdmin($

[2019-01-23 21:47] simondaigre commented on #12267
I have the same issues. Some customers have "no carriers available". The only solution is to delete cart in backoffice and re-add same products.
I think this issue is related to editing carriers prices, who change cart's carrier ID.. but I can't confirm it.

[2019-01-23 22:04] feyll commented on #10183
hi I have the same error with 1.7.4.2 I can not update my site to later versions but I have to keep this version. please can you tell me how I can solve?

[2019-01-23 23:57] BenTen commented on #12275
I fount the problem. It seems to be a bug with a [3rd part module](https://addons.prestashop.com/en/price-management/27821-change-or-remove-the-decimals-and-format-currency.html) on PS 1.7.5.0

I will contact the dev.

[2019-01-23 23:57] #12275 closed, assigned to nobody

[2019-01-24 01:45] RUMBuilder commented on #12135
@khouloudbelguith thank you for the reply!

currently memory is set to 512M. does it need to set exactly to 64M? or is that minimums?
(UPDATE - tried it at 64M, still didn't work)

as for permissions, i've played with those, in some cases even trying 777 for root(temporarily), but other than possibly needing to set some specific file permission, i'm not sure. do you know of a specific file/permiss

[2019-01-24 01:52] BenTen commented on #11251
done

33530 (Addresses): from 住所情報の管理 to アドレス帳
33527 (Update your address): from 住所を更新します。to 住所を変更します。
33516 (Address): 住所
33526 (My address): from 住所 to 自分の住所

sorry for the delay m(_ _)m

[2019-01-24 07:14] jherry commented on #11939
@devonto The version is on validation in Addons, should be available soon. If you need it now contact me with form at https://addons.prestashop.com/en/contact-us?id_product=7939

[2019-01-24 07:37] sarjon commented on #10502
@matks could you provide some example?

in addition, i think it a good time to address some issues/limitations we have faced when creating grids for 1.7.6, wdyt?

[2019-01-24 07:45] khouloudbelguith commented on #12279
Hi @tzak902,

What is the exact payment method did you use?
Thanks!

[2019-01-24 08:01] khouloudbelguith commented on #12278
Hi @diegomariani,

You can import related product by filling the field `Accessories (x,y,z...)`
![image](https://user-images.githubusercontent.com/16067358/51663201-6a556100-1fb6-11e9-8656-4c920b836931.png)
I tried with this file,
[product.csv.zip](https://github.com/PrestaShop/PrestaShop/files/2790684/product.csv.zip)
& it is OK.
![image](https://user-images.githubusercontent.com/16067358/5166329

[2019-01-24 08:12] tomablan commented on #12276
Hi @khouloudbelguith and thanks for taking care !

The product page is completely OK for me as I've been able to display both prices with and without taxes.

The worry here is on Shopping Cart page, on a cart product line to have the total amount of the product with and without taxes. I could do this manually by doing $product.quantity * $product.price_with_reduction_without_tax but that's not goo

[2019-01-24 08:18] TBurtin commented on #10183
Hi, you can replace the content of the translations/cldr/.htaccess file with that;
[code]

It's the content of the file in 1.7.5 where the bugs is solved.

[2019-01-24 08:27] diegomariani commented on #12278
woowww, tank's!!!

Il giorno gio 24 gen 2019 alle ore 09:01 khouloudbelguith <
notifications@github.com> ha scritto:

[2019-01-24 08:28] khouloudbelguith commented on #12278
@diegomariani, so can I close the issue?
Thanks!

[2019-01-24 08:29] khouloudbelguith commented on #10183
Hi @feyll,

Here's the change made in the PS1.7.5.0 https://github.com/PrestaShop/PrestaShop/pull/9474/files to fix the issue.
Thanks!

[2019-01-24 08:33] khouloudbelguith commented on #12135
Hi @RUMBuilder,

Usually, directories have: 755 files: 644
You can check this: http://doc.prestashop.com/display/PS17/Installing+PrestaShop
There is a part with information about recursive write permissions for directories.
About your issue,  despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most

[2019-01-24 08:33] #12135 closed, assigned to nobody

[2019-01-24 08:34] khouloudbelguith commented on #12275
Hi @BenTen,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-24 08:48] Akashvastarpara commented on #12241
@khouloudbelguith  Any update?

[2019-01-24 09:05] khouloudbelguith commented on #12241
@Akashvastarpara, sorry not yet.
Thanks for your understanding & for your patience!

[2019-01-24 09:15] devonto commented on #11939
@jherry Thanks - that has done the trick.

[2019-01-24 09:16] colinegin commented on #11251
I close this issue, thank you @BenTen for your help !

[2019-01-24 09:16] #11251 closed, assigned to colinegin

[2019-01-24 09:28] khouloudbelguith commented on #12107
Hi @evsport,

This a different issue, can you open a new one with more information about your configuration.
Thanks!

[2019-01-24 09:34] khouloudbelguith commented on #10747
Hi @adatso,

Sorry the issue is not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-01-24 09:36] matks commented on #12083
Good idea 😄

[2019-01-24 09:46] PierreRambaud commented on #12142
Google tells me there is a space which is not allowed in link_rewrite. :thinking:

[2019-01-24 09:51] khouloudbelguith commented on #9992
Hi,

This issue should be fixed in the next release PS1.7.6.
Thanks!

[2019-01-24 09:51] masiorama opened #12282 "Strange Payment (Paypal) behaviour on modified order"
Hello there, I'm experiencing a bug with PS 1.7.4.2/1.7.5 (PHP 7.1) with Paypal Payment module.

Here the details: a client asked for a change in his order (in the image, 63,75), adding a couple other products.
We modified manually the order (adding a payment for 19,22).
The total is correct, the client paid the total 82,97.

Here the strange thing: on its own, a day after (you can see it from the

[2019-01-24 09:54] khouloudbelguith commented on #12282
Hi @masiorama,

PayPal module is provided by our partners.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it: https://addons.prestashop.com/en/contact-us?id_product=1748
Thanks!

[2019-01-24 09:54] #12282 closed, assigned to nobody

[2019-01-24 10:11] skipper-henrik commented on #10264
Got no clue, but I wonder why the Case

Cart::ONLY__VIRTUAL_PRODUCTS,

is missing.

[2019-01-24 10:13] Littlemonkey56 opened #12283 "Configuration module Live Chat Pro"
Hello,

We would like a proactive chat.
For instance, we would like that a pop-up window opens after a certain period of time asking customers if they have any questions or offering a special offer.
Can we do that using "Triggers" (in the module) and how do we proceed ?

Thank you in advance for your help.

Best regards,

[2019-01-24 10:51] colinegin commented on #11927
Hello @TemKaSD ,

Thanks for your feedback ! However, don't you think it is much simpler to do it globally ?
If you have to change this option for every product of your catalog, this will be time consuming.
What's your opinion ?

[2019-01-24 10:56] JohnMidity opened #12285 "Remove timeout from product image upload"
**Is your feature request related to a problem? Please describe.**
When uploading product images using the dropzone.js, the upload stops after 30 seconds

**Describe the solution you'd like**
The timeout of 30s was introduced by dropzone.js as a default and can be easily removed by adding a `timeout:0` in `\admin-dev\themes\default\js\bundle\product\form.js` .

**Describe alternatives you've consi

[2019-01-24 10:58] khouloudbelguith commented on #12283
Hi @Littlemonkey56,

Have you tried to contact the module author about your issue?
You should contact them via your addons.prestashop.com account: https://addons.prestashop.com/en/contact-us?id_product=17437
Thanks to check with them & feedback.

[2019-01-24 10:59] khouloudbelguith commented on #12142
Hi @PierreRambaud,

If I try with this expression `٧آفون` without space, I have the same issue.
![image](https://user-images.githubusercontent.com/16067358/51671131-8661fe00-1fc8-11e9-975f-30bf812667ca.png)
Thanks!

[2019-01-24 11:06] khouloudbelguith commented on #12285
Hi @JohnMidity,

Thanks for your report.
ping @eternoendless @PrestaShop/prestashop-core-developers what do you think?
THanks!

[2019-01-24 11:15] khouloudbelguith commented on #12267
Hi @simondaigre,

About the strange behavior, while editing the carrier, we have a previous ticket https://github.com/PrestaShop/PrestaShop/issues/9592, it is added to our bug roadmap.
Thanks!

[2019-01-24 11:25] pdkey commented on #11927
@jolelievre Unfortunately, I can't confirm that. After changing the combination, the URL is correct, but even after refresh the page we see the default title with standard variation addition.

@colinegin position in "Traffic & SEO" is easy to find and understand.

Best option is the global one. for each product ist a crazy work and prone to mistakes.
Find the problem after seo lost positions in a

[2019-01-24 11:31] PierreRambaud commented on #12285
Yes it is a good idea to let php define what is the best timeout to have :)

[2019-01-24 11:40] tzak902 commented on #12279
Salam Khouloud,
It was Mangopay Gateway

[2019-01-24 11:41] khouloudbelguith commented on #12268
Hi @djmassive,

After the install is finished, could you please not only rename the admin folder also the install folder, check & feedback.
In the meantime, could you please provide us with the exact information about your Operating system, your browser (version),...
Thanks!

[2019-01-24 11:42] khouloudbelguith commented on #12279
@tzak902, if you try with another payment method, have you the same issue?
Thanks!

[2019-01-24 11:45] tzak902 opened #12286 "PS 1.7.4.2 No Api Geocoding Service Key in Backend"
Hello,
From the backend, when I inspect the orders page, I'm seeing an error:

Geocoding Service: You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account For more information on authentication and Google Maps JavaScript API services please see: https://developers.google.com/maps/documentation/jav

[2019-01-24 11:48] tzak902 commented on #12279
I can't use any other payment gateway other than Mangopay, as we have a contract with them, can you explain me what is that error related to?

[2019-01-24 11:50] dgtn-va opened #12287 "Product can't be updated / bad request from stock"
Products items and stocks no longer updatable since migration to OVH.
After Save, just can't update product (any value), or "bad request" when try to change a value from Stocks.

![From Products](https://i.imgur.com/r5PbjhP.jpg)
![From Stocks](https://i.imgur.com/U3pYzAs.jpg)

In debug mode: nothing
In dev log: nothing
In prod log: nothing
In Symfony profiler: nothing, except this (but provide no

[2019-01-24 11:53] khouloudbelguith commented on #12279
@tzak902, have you tried to contact them?
You should contact the module author via your addons.prestashop.com account: https://addons.prestashop.com/en/contact-us?id_product=17675
Thanks to check the issue with them & feedback

[2019-01-24 11:57] khouloudbelguith commented on #10393
Hi, we have an error in the console
![image](https://user-images.githubusercontent.com/16067358/51676654-96350e80-1fd7-11e9-840a-31cb82500323.png)
Thanks!

[2019-01-24 11:58] khouloudbelguith commented on #12286
Hi @tzak902,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10393
So, I close it.
Thanks!

[2019-01-24 11:58] #12286 closed, assigned to nobody

[2019-01-24 11:58] khouloudbelguith commented on #12286
Duplicate of #10393

[2019-01-24 11:59] khouloudbelguith commented on #12287
Hi @fujitsuDev,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howto

[2019-01-24 12:06] adatso commented on #10747
Hi,

My client cannot wait, so I fixed this issue as follows...

**classes/controller/AdminController.php** (line 959)

replace
`$this->setRedirectAfter(self::$currentIndex.'&token='.$this->token.(Tools::isSubmit('submitFilter'.$this->list_id) ? '&submitFilter'.$this->list_id.'='.(int)Tools::getValue('submitFilter'.$this->list_id) : ''));`
by
`$this->setRedirectAfter(self::$currentIndex . (Tools::

[2019-01-24 12:12] tzak902 commented on #12279
How can you assume that it is a mangopay issue? I never had issue like this. I'm closing this issue as it is useless to seek help from people with no knowledge, it is just a waste of time.

[2019-01-24 12:16] tzak902 commented on #10393
No body showed how to add a key, which file?

[2019-01-24 12:55] feyll commented on #10183
Thank you very much for your answers, now I have solved thanks to you. I wish you a good job and a good day.

[2019-01-24 12:59] PierreRambaud commented on #12142
I manage to reproduce with the number only :)

[2019-01-24 13:00] khouloudbelguith commented on #10747
@adatso,

Thanks for your fix suggestion.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-01-24 13:10] khouloudbelguith commented on #12279
Hi @tzak902,

With fresh install PS1.7.4.4 & PS1.7.5.0, I did not manage to reproduce the issue, I used a payment method provided by PrestaShop.
I attached a video record.
https://drive.google.com/file/d/1RLjZVjFkfgBcu8KKYVH4ftBkexS-MJm2/view
Thanks to check & feedback.

[2019-01-24 13:17] khouloudbelguith commented on #12279
@tzak902, could you please provide me your module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-01-24 13:23] khouloudbelguith commented on #11784
@krasnycz, thanks for this clarifications.
ping @Quetzacoalt91 what do you think of this issue?
Thanks!

[2019-01-24 13:26] TristanLDD commented on #12235
Yep it's ok for me ! :)

[2019-01-24 13:28] colinegin commented on #11927
This fix is going to be done for the 1.7.5.1 version, which shouls be released in the next weeks.

After discussion with @jolelievre, we agree with your recommendation, the option is to be added in the Traffic & SEO tab, in a dedicated section for SEO options.

What is your recommendation on wording @LouiseBonnard ?

[2019-01-24 13:43] adatso commented on #10747
Done https://github.com/PrestaShop/PrestaShop/pull/12288

[2019-01-24 14:00] Quetzacoalt91 commented on #11784
From my point of view, the notice regarding the module PrestaAdapter is not related to the original issue.

I would rather say sere is a misunderstanding between the class signature and the provided parameters. Can you please try to empty your cache by deleting the folders `app/cache/dev` & `/app/cache/prod`?

[2019-01-24 14:09] krasnycz commented on #11784
@Quetzacoalt91 It is not about PrestaAdapter. As I stated before @khouloudbelguith is reffering to wrong old part of the update log. Previously I cleared the cache folders and it did not resolve the issue.

The problem is - modules are not upgraded during the autoupgrade procedure. Upgrade part is completely skipped and no record in the log. Previous updates were working fine and we tried uninstal

[2019-01-24 14:33] Bakker66 opened #12290 "HTTPS error"
Hi all,
In the chrome console I get next message.
Apperently the pictures are loaded in http instead of https

**was loaded over HTTPS, but requested an insecure image**
Can anyone tell me what to do about it ?

Thanks,
René

[2019-01-24 15:05] khouloudbelguith commented on #12290
Hi @Bakker66,

We have similar issues reported in this ticket: #9807 & this #12253.
Thanks to check & feedback.

[2019-01-24 15:14] LouiseBonnard commented on #11927
**NAME OF THE SECTION:** SEO options/parameters/settings/setup/configuration

**WORDING:** Display attributes in the product meta title (YES/NO)

[2019-01-24 16:28] khouloudbelguith commented on #12276
Hi @tomablan,

I found some solutions for you:
![image](https://user-images.githubusercontent.com/16067358/51690933-0f455d80-1ffa-11e9-8b33-03f2286a585f.png)
![image](https://user-images.githubusercontent.com/16067358/51692176-add2be00-1ffc-11e9-9b07-9c1a42aed5ed.png)

In the Project_PrestaShop/src/Adapter/Presenter/Cart/CartPresenter.php, you need to replace this:

[code]
**by this:**

[code]
In

[2019-01-24 16:33] ghost opened #12294 "Web Service POST dont works."
I have a lot of shops in multiple versions. But in one of them (v 1.6.1.23) when I send product POST request PRESTASHOP response me "ok" and didnt create new product. ( PUT,DELETE,GET works fine).

It only happens to me in this store, could it be a module? (comes from an update of version 1.6.1.7)

[2019-01-24 16:38] tomablan commented on #12276
Hi @khouloudbelguith and thanks for having searched that. This part is ok too :)

I'm talking about this part : product total (quantity * price) detail without tax. By default, it's the tpl : /checkout/_partials/cart-detailed-product-line.tpl

See my attachement :
![image](https://user-images.githubusercontent.com/2605576/51693074-7ebd4c00-1ffe-11e9-8950-d90bfb8e62cd.png)

[2019-01-24 16:43] ma0dubois opened #12295 "Unable to load theme's translation form in Back Office"
**Describe the bug**

Unable to load theme's translation form in Back Office

We do not encounter the problem with the classic theme, but we do encouter it with child themes and themes built upon StarterTheme

---

**To Reproduce**

1. Try to translate a theme <details><summary>URL</summary>`BaseUrl/myadmindir/index.php/international/translations?lang=fr&type=themes&selected=mytheme&locale=fr-FR&_

[2019-01-24 16:47] evsport opened #12296 "Unable to update setting in product combination"
Hello
I have a problem when I'm trying to update the number of products in the combination section.
If I try a multiple update I receive the red error message on the top right.

1) I clicked on the product to update
2) edit, then "Combinations" tab
3) clicked on the checkbox to select all combinations
4) add 10 in quantity field
5) after "Apply"

but I got the error in the attached image.

Here al

[2019-01-24 16:58] khouloudbelguith commented on #12296
Hi @evsport,

Thanks for your report.
I did not manage to reproduce the issue with fresh install PS1.7.4.4 & PS1.7.5.0.
https://drive.google.com/file/d/1qTJfkwXR1M3juLX2BETh4q0iMnYcwLZJ/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/ho

[2019-01-24 17:02] ghost commented on #12294
I solve it. the requests were forced by https. apologize

[2019-01-24 17:02] khouloudbelguith commented on #12294
Hi @OscarBanos,

Thanks!
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-24 17:02] #12294 closed, assigned to nobody

[2019-01-24 17:17] khouloudbelguith commented on #12295
Hi @ma0dubois,

Have you the same issue with this issue?
![image](https://user-images.githubusercontent.com/16067358/51695789-330da100-2004-11e9-83c5-0d53510dcf29.png)
If yes, we need to Export the language from the translation page, Copy the file the file generated into the translation file of your theme according to this documentation: http://build.prestashop.com/howtos/translation/how-to-transl

[2019-01-24 17:26] feyll opened #12297 "Customer details not reachable. Customer ID 0"
Hello, for some time when a customer is registered on my site this is not assigned any ID number and when I click on the customer this gives me an error page saying that the customer's details are not available.
I went into the ps_customer table, I downloaded and modified the values 0 and set the correct values after which I loaded the new modified table, I returned to the FO and now the customer

[2019-01-24 17:33] evsport commented on #12296
hello
if I enable the debug the website will go down.
here the screenshot
I have Prestashop 1.7.4.2 but I don't know if I will update to the latest version if something will crash.
What do you think about this
Thank you
![debug-probl](https://user-images.githubusercontent.com/46975245/51696706-16f20b80-1fd4-11e9-9672-cd73633b2651.png)

[2019-01-24 18:43] git0matt opened #12299 "CANCEL button doesn't work in Safari"
Hi

In the past I remember pressing the CANCEL button and it returns to the previous screen - as expected.

However it is no longer working.  Other javascript actions are working, like the AJAX loading spinner in the top-left corner, AJAX form save, and others.

Perhaps it because I'm using Safari, since Chrome and Firefox perform as expected.  Here is the code Prestashop uses:

I have another web

[2019-01-24 19:20] HeineFr commented on #11773
Hello,

I'm new in prestashop still september, i'm preparing to migrate my eshop and i saw the problem on 1.7.4.2.
After searches i saw that the issue was in the bug road map.
I saw only today and upgrade to the release of 1.7.5 that i was waiting for to produce finaly my website on prestashop without the canonical problem.

I paid some module to optimize SEO but i'm affraid to see that a real pro

[2019-01-24 19:40] #12278 closed, assigned to nobody

[2019-01-24 20:06] RUMBuilder commented on #12135
$279, $399, $699..... i bet you do!

I'm not claiming it's a PS core bug, but given that I've tried all the suggested settings from various resources, I still don't understand why it doesn't work. I've reviewed the installation guide for PS, and I did in fact USE the auto installer and it showed NO compatibility issues with my server settings. So is there some other more detailed "required server

[2019-01-24 20:31] bmagneCesi opened #12300 "Translations in override controllers or classes doesn't work"
Hi,

I'm facing an issue with an override that i made on the frontController.php, i'm using the $this->trans() method but i can't find the translation in the BO.

I tried to pass many different domains like these ones:

Shop.Theme.Global
Shop.Theme.Action
Shop.Theme...

i even created a domain for my theme like it's explained on this page http://build.prestashop.com/howtos/translation/how-to-trans

[2019-01-24 20:47] clemrdh commented on #10026
Still not resolved in 1.7.5 ... here is a quick fix :

in   src/PrestaShopBundle/Model/Product/AdminModelAdapter.php

Line 530 :
Replace` 'ecotax' => $product->ecotax,`
by `'ecotax' => round($product->ecotax * (1 + $this->taxRuleDataProvider->getProductEcotaxRate() / 100), 2),`

now works ok for me.

[2019-01-24 21:14] x29a opened #12301 "ModuleFrontController can not be found"
**Describe the bug**
Implementing a ModuleFrontController in ones own module does not work. Either it produces a 404 error or shows the controllers sourcecode.

According to [the docs](https://devdocs.prestashop.com/1.7/modules/concepts/controllers/front-controllers/) and [also](https://stackoverflow.com/q/51897020/875020) some [other modules](https://github.com/PrestaShop/ps_checkpayment/blob/732

[2019-01-24 21:39] qalastar opened #16979 "Personalized links"
Hello,

I have an issue with this module but I'm not sure if the issue come from the module or theme.

Here is the issue : when I create a new personalized link and add it to my menu, on my website, when I click on this new personalized links from my menu, the background to show that I'm really on this page doesn't appear.

For example, if I click on the "bon" page, the background is ok.
<img widt

[2019-01-24 22:39] marchspa opened #12302 "saving employee options Will cause add new employee Button to dissapear"
Ps 1.7.5

[2019-01-24 22:40] marchspa commented on #12302
![download_20190124_193438](https://user-images.githubusercontent.com/33666598/51713188-f0ea5c80-200f-11e9-8813-9498c5200047.jpg)

[2019-01-25 03:41] dineshbadrukhiya commented on #11207
@khouloudbelguith What's the status?

[2019-01-25 07:49] khouloudbelguith commented on #11207
Hi @dineshbadrukhiya, your PR should be reviewed by our developers.
Thanks!

[2019-01-25 07:57] khouloudbelguith commented on #12300
Hi @bmagneCesi,

Thanks for your report.
Have you the same issue reported in this ticket: #10491?
Thanks!

[2019-01-25 08:13] thbl commented on #11172
I got the samme problem

[2019-01-25 08:23] khouloudbelguith commented on #12299
Hi @git0matt,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 and Safari browser v10.1 also Safari v12.0.2.
Steps to reproduce the behavior:

Design page
1. Go to BO => Design => Pages
2. Click on "Add new page"
3. Click on "Cancel" button, it is not working
![image](https://user-images.githubusercontent.com/16067358/51733184-d8665a80-2080-11e9-9287-35c7192bc393.png)

Categ

[2019-01-25 08:38] thbl commented on #9932
+1 i got this issue on 1.7.5

[2019-01-25 08:40] feyll opened #12303 "Undefined index: iso_code"
Hello everyone, I set up the multilingual site and currently I have only two languages. It seems that this has created conflicts or problems in my product pages. It seems it is a problem of missing ﻿code of ISO code for the countries.
From the debugging I get this result, please anyone have any suggestions on how to solve this?
I think there is also a problem with the smarty recompilation of templ

[2019-01-25 08:56] khouloudbelguith commented on #12303
Hi @feyll,

How did you create the language? did you created from BO => Localization => Languages Tab?
If yes, what is the exact language created?
Thanks!

[2019-01-25 09:06] feyll commented on #12303
Hi @khouloudbelguith yes i create the language from BO
The language is English (ENGLISH) iso code en-us

[2019-01-25 09:13] khouloudbelguith commented on #12297
Hi @feyll,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2019-01-25 09:18] ma0dubois commented on #12295
Thanks for the links,

If we understoof we are in case #2, #3 and #4.

Here is what we tried :

Exporting 'classic' theme translation :

- Didn't work, got this error

![exportclassictranslation](https://user-images.githubusercontent.com/17147012/51736509-8fb39f00-208a-11e9-8121-27beb81c0516.PNG)

In our theme/modules :

- Changed all {l s='...' mod ='...'} to {l s='...' d='Shop.Theme'}
    - Didn

[2019-01-25 09:21] bmagneCesi commented on #12300
Hi khouloudbelguith,

In fact my problem is related to controllers or classes overrides, not to modules.
i just want to add new fields, for exemple in the overrides/classes/controller/FrontController.php, like this :

` $this->trans('Sentence to translate', array(), 'Shop.Theme.Global')` or
` $this->trans('Sentence to translate', array(), 'Shop.MyTheme')`

but i can't see it in the BO then.

Regar

[2019-01-25 09:22] Matt75 commented on #12301
Try with this
[code]
The classname of your controller must be TestFrontCtrl**Testdisplay**ModuleFrontController
[code]

[2019-01-25 09:24] khouloudbelguith commented on #12301
Hi @x29a,

I tried also with your module, I have an error
https://drive.google.com/file/d/1Q7mxvjG0hNfcZ0NLlsQTCpKO9GiprZ2i/view
Thanks!

[2019-01-25 09:25] Matt75 commented on #12301
@khouloudbelguith Error due to use of php short tags, bad practice by the way

[2019-01-25 10:06] khouloudbelguith commented on #12300
Hi @bmagneCesi,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
I used this file /Project_Folder/override/classes/Product.php

[code]

& I could not find those expressions to translate them.

Thanks!

[2019-01-25 10:22] khouloudbelguith commented on #12295
Hi @ma0dubois,

I tried to export a 'classic' theme translation with PS1.7.4.4 & PS1.7.5.0 & I did not manage to reproduce the issue.
I attached a video record
https://drive.google.com/file/d/1VN5Ke1sYKzT5INCFxP9cxUY_9dPrpQVj/view
Thanks to check & feedback.

[2019-01-25 10:28] khouloudbelguith commented on #12302
Hi @marchspa,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0
I attached a video record.
https://drive.google.com/file/d/1CrIqjIbcBDPErOHEPVeV_DbXS_-Ue3Cy/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 -

[2019-01-25 10:30] khouloudbelguith commented on #10026
Hi @clemrdh,

Thanks for your fix.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-01-25 10:33] khouloudbelguith commented on #12135
@RUMBuilder, you can follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this will be

[2019-01-25 10:34] khouloudbelguith commented on #12278
@diegomariani, feel free to open a new one when needed.
Thanks!

[2019-01-25 10:41] khouloudbelguith commented on #12296
Hi @evsport,

Have you made some changes in the module ps_featuredproducts?
If no, what the exact version did you use?
Is it is `Featured products` v2.0.0?
Thanks!

[2019-01-25 10:50] Peterits commented on #12239
Hi the team,
Tests on version 1.7.5.x,
Always the same error with updates for 1.7.5.1
The tomas862 corectif did not solve the problem.
The problem is in version 1.7.5.1
cordially

![page-traffic- -seo](https://user-images.githubusercontent.com/44966543/51741370-ff2f8b80-2096-11e9-9789-9f1f3824dac0.jpg)

[2019-01-25 10:59] khouloudbelguith commented on #12303
@feyll, could you please navigate to your BO => International => Translations => "Add / Update a language" part, Select the "English" language and click on the button "Add or update a language" .
Thanks to check & feedback.

[2019-01-25 11:09] #11934 closed, assigned to nobody

[2019-01-25 11:09] #11905 closed, assigned to nobody

[2019-01-25 11:12] feyll commented on #12303
@khouloudbelguith , i had already done this step, in any case now I tried again to update the language and the problem continues to be present. Debug mode responds with the same error

[2019-01-25 11:13] MatShir commented on #12241
Hi @Akashvastarpara,

If I understand, you rather want to display a generic image of your product instead of the one selected by default in product combination. I would make sense to have as well a cover image, currently, the cover image is disabled in product combination.
Your feedback is taken into account with the team, a rework on the product page is planned in one of the next released.

Thank

[2019-01-25 11:17] khouloudbelguith commented on #12303
@feyll, about the iso code in your case, you have set it `en-us` but in our case, the maxlength is "2"
![image](https://user-images.githubusercontent.com/16067358/51742871-3a33be00-209b-11e9-835d-211b0222cadf.png)
Thanks to edit the iso code in your case & feedback.
(Sorry for the close, I just reopened it.)

[2019-01-25 11:28] khouloudbelguith commented on #12239
Hi @Peterits,

Sorry, I just tried a fresh install from the branch 1.7.5.x (which is 1.7.5.1 version) & it is OK.
https://drive.google.com/file/d/1PXAb1tzH51ImeaQMiPBAqD5EmKD1zbhR/view
Thanks!

[2019-01-25 11:28] adamongithub opened #12305 "Combinations page uses Language ID 1"
The combinations page displays attributes for langid 1, despite my default language being langid2.

**To Reproduce**
Steps to reproduce the behavior:
1. Change your default language to one other than language id 1.
2. Delete language id 1 (this may be a contributing factor)
3. Goto the attributes page and add a new size attribute, or rename one.
4. Goto the combinations page for a product and note

[2019-01-25 11:33] khouloudbelguith commented on #12305
Hi @adamongithub,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10924 to fix the issue.
It is fixed in the next release PS1.7.6.
Your ticket is a duplicate of #9627
So, I close it.
Thanks!

[2019-01-25 11:33] #12305 closed, assigned to nobody

[2019-01-25 11:33] khouloudbelguith commented on #12305
Duplicate of #9627

[2019-01-25 11:42] feyll commented on #12303
it's already like that
![screenshot 15](https://user-images.githubusercontent.com/27018255/51743971-a82db480-209e-11e9-992b-a8100fd06557.png)

[2019-01-25 11:54] feyll commented on #12297
@khouloudbelguith  Hi

![screenshot 11](https://user-images.githubusercontent.com/27018255/51744078-fba00280-209e-11e9-862c-ec44851e9baa.png)
![screenshot 13](https://user-images.githubusercontent.com/27018255/51744080-fba00280-209e-11e9-83c1-b860cba56615.png)
![screenshot 14](https://user-images.githubusercontent.com/27018255/51744083-fba00280-209e-11e9-9136-4d3ed052c60c.png)

From debug mode on

[2019-01-25 11:57] grabelle commented on #11773
Hi,
I fully agree and especially since this basic SEO problem did not exist in version 1.6. Version 1.7 is not ready for a production site that cares about the SEO. Very disappointing.

[2019-01-25 12:15] Peterits commented on #12239
Hi @ khouloudbelguith ,
There must be an error in my file, I'm sorry!
I will check or wait for the final version 1.7.5.1
I must be a donkey, lol! hi hi
cordially

[2019-01-25 12:20] thsantac opened #12307 "Product save fails when some categories have an apostrophe in the name"
**Describe the bug**
When some category's name have a simple quote in the name (apostrophe), like "Groomer's Edge", the admin product function (Catalog -> Products) fails. The ajax response of http://localhost:93/admin13/index.php/product/form/4113?_token=6hFyAu7qhrKcNgD4owW_57kcDctnhmB1zjHampxnFZI shows {"step1_categories_tree":["This value is not valid."]}.

**To Reproduce**
Steps to reproduce t

[2019-01-25 12:25] sarjon commented on #10193
@matks blocking issues for this is (as i see):
1. Implementation of Drag & Drop, needs good CSS skills, i can give it a shot
2. Bulk action column needs updating (not sure if that would affect grid itself)

[2019-01-25 12:26] PeeyushAgrawal opened #12308 "In invoice, '?' display instead of currency symbol when we choose different language and currency"
**Describe the bug**
When we select different language and currency (Like, select French as a language and INR as currency.) and do an order with bankwire module and we have enabled the invoice on bankwire then the invoice will be generated on awaiting bank buyer with '?' instead of symbols.

**To Reproduce**
Steps to reproduce the behavior:
1. On awaiting bank wire order status enable invoice.
2.

[2019-01-25 12:27] sarjon commented on #10194
Blocking issues (as i see):
1. Make TinyMCE input compatible with multilanguage fields

It also needs small design tweaks and small changes, but that's not a blocking issue.

[2019-01-25 12:33] khouloudbelguith commented on #12307
Hi @thsantac,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1LPDCoaWaBbffj6tEz5ssFfwVXSPHMwBm/view
Thanks to check & feedback.

[2019-01-25 12:40] clemrdh commented on #10026
Hi @khouloudbelguith
Just tried on a fresh clean PS1.7.5 install and can't reproduce ...
So must come from somewhere else .... Don't think it's needed to do a pull request for that ...
Thanks,

[2019-01-25 12:47] COM1BOUTIK opened #12309 "Dashboard forecast not working"
**Description**
The configuration data set is not displayed into the graphic, moreover the configuration data is lost after reloading dashboard page.

**To Reproduce**
1. fresh install of PrestaShop 1.7.4.4
2. open dashboard page
3. click "configure" icon of the forecast section,
4. fill the field for January (for exemple : 10000 visits, 3% for conversion and 50 as cart average)
5. click save butt

[2019-01-25 12:51] sarjon opened #12310 "Legacy translator in modern module controllers"
We were developing module in PrestaShop 1.7.5 using Symfony controllers, however, one issue we faced is that `$translator->trans()` does not work for modules (translations key's doesn't show up in Back Office Translations).

What we did is created `LegacyTranslator` service that has `l()` (for compatibility with legacy translation system) method:

[code]
This is basically a wrapper around legacy t

[2019-01-25 13:13] khouloudbelguith commented on #12308
Hi @PeeyushAgrawalWebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/51747969-47f13f80-20ab-11e9-8307-37fb350ef216.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Related to: #9817

[2019-01-25 13:13] thsantac commented on #12307
Yes after new testing, the diagnostic is wrong.
Each time I try to add a new product I have {"step1_categories_tree":["This value is not valid."]} in the ajax response and I don't know why... In PrestaShopBundle/Controller/Admin/ProductController.php, line 570, the "$form->isValid() fails.

[2019-01-25 13:26] thsantac commented on #12307
Another confusion, this is not a bug in PS 1.7.5 but in 1.7.4.4 :-)

[2019-01-25 13:36] pnshurba opened #12312 "406 Not Acceptable"
Steps to reproduce the behavior:

When working in the backoffice sometimes an error occurs.
What could be the problem?

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.2
Theme: Warehouse 4.2.1
![screen](https://user-images.githubusercontent.com/39360984/51749047-50537580-20bf-11e9-9a21-0b4f5a301205.png)

[2019-01-25 13:37] khouloudbelguith commented on #12309
Hi @COM1BOUTIK,

We manage to reproduce the issue with the "Dashboard Goals" module v2.0.2, it is added to our debug roadmap.
Your ticket is a duplicate of #9662
So, I close it.
Thanks!

[2019-01-25 13:37] #12309 closed, assigned to nobody

[2019-01-25 13:37] khouloudbelguith commented on #12309
Duplicate of #9662

[2019-01-25 13:43] nicoladze opened #12313 "Error during PS upgrade from 1.7.2.4 to 1.7.5.0"
PHP 7.0.32

I just used 1-Click Upgrade v.4.5.1 to upgrade Prestashop from 1.7.2.4 to 1.7.5.0

And at the end of the upgrade, some errors appeared :

**[WARNING] SQL 1.7.5.0 1060 in ALTER TABLE `xjz095supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '', CHANGE `employee_lastname` `employee_firstname` VARCHAR(255) DEFAULT '': Duplicate column name

[2019-01-25 13:53] fabienfaff opened #12314 "Admin Invoices - Expected argument of type "object, array or empty", "string" given"
Hello,
After upgrading using OneClick module 1.6.20 -> 1.7.1 -> 1.7.5 I'm having trouble accessing the Invoices tab in admin.
I was having the same problem for other tabs, and replacing ps_access from clean install solved that, but not for the invoices tab.
The error is the same encountered on issue #11909 and despite doing as @rdy4ever mentioned, the problem is still not resolved.

Could you plea

[2019-01-25 14:04] matks commented on #12310
I like it ❤️ however I'm waiting for @eternoendless and @mickaelandrieu feedback because maybe they have something else in mind

[2019-01-25 14:09] khouloudbelguith commented on #12314
Hi @fabienfaff,

We did not manage to reproduce the issue with PS1.7.5.0 after upgrade from 1.6.1.23 with the 1-click upgrade v4.5.1.
But, have you tried to replace the ps_configuration_lang table in the Database with the one from clean PS1.7.5.0 installation?
Thanks!

[2019-01-25 14:15] khouloudbelguith commented on #12307
Hi @thsantac,

I tried also with PS1.7.4.4 & I did not manage to reproduce the issue.
https://drive.google.com/file/d/1bnlPlEgwljdBn0qb58WqUmWioJnDJliM/view
Have you a double name category?
Thanks!

[2019-01-25 14:16] fabienfaff commented on #12314
Hello,
Thank you for your quick reply. Yes I have tried that as well. I should mention that this is a french shop with 3 languages.

SQL returned the following after dropping ps_configuration_lang and importing a clean one :
![screenshot_2019-01-25 srv ffdigital fr 8443 localhost presta17_ syf973configuration_lang phpmyadmin 4 8 4](https://user-images.githubusercontent.com/31473076/51751066-28aae0

[2019-01-25 14:17] khouloudbelguith commented on #12313
Hi @nicoladze,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11814 to fix the issue.
It is fixed in the next release 1.7.5.1.
Your ticket is a duplicate of #11812
So, I close it.
Thanks!

[2019-01-25 14:17] khouloudbelguith commented on #12313
Duplicate of #11812

[2019-01-25 14:20] khouloudbelguith commented on #12312
Hi @pnshurba,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to delete all cookies, it could be a cookie related problem. In Chrome, for example, to delete all cookies you right-click->Inspect element->Application->Cookies->Delete all cookies.
Also, check the developer console in your browser, see if you have some errors t

[2019-01-25 14:29] khouloudbelguith commented on #12303
@feyll, could you please try to delete this language created manually, then you need to navigate to your BO => International => Translations => "Add / Update a language" part, Select the "English" language and click on the button "Add or update a language"., if it is NOK, can you import the "United States", check & feedback.

[2019-01-25 14:30] 123monsite-regis commented on #12310
I like it :heart_decoration: too,

the best for us, well be whith a fallbak on "Admin domain" traduction for key,
( in order not to have to translate again and again, "Save, "add", etc),

but this is in fact the new translation system.

regards

[2019-01-25 14:34] khouloudbelguith commented on #12297
Hi @feyll,

Did you a module named "socialmetadata" in your shop?
Thanks!

[2019-01-25 14:36] marchspa commented on #12302
Hi @khouloudbelguith the video is not what i said, after **saving employee options**, not after adding a new employee. Maybe it's because the screenshot isn't clear, below the employee list there is a bunch of options and a save button. If you hit save you'll be able to reproduce it.
thanks!

[2019-01-25 14:44] djmassive commented on #12268
Hi @khouloudbelguith I've try to remove install and change admin folder name - nothing happens.

Mac OS Sierra 10.14.3
Safari 12.0.3 (14606.4.5) (also check latest Chrome and Firefox - but this error is 99% in php somewhere in namespaces I think).

MAMP: Version 5.1 (350)
PHP 7.1.20 also 7.2.8
Cache disabled
Using Apache
Mysql 5.7.23

[2019-01-25 14:54] feyll commented on #12303
@khouloudbelguith , i deleted the language from BO and I downloaded the English language (GB) iso code en-gb.
I confirm that the problem is identical, the debug responds with the same error

[2019-01-25 15:01] nicoladze commented on #12313
I am a newbie, I have seen the code lines to fix it, but where do I have to
copy/paste these lines?

Le ven. 25 janv. 2019 à 15:17, khouloudbelguith <notifications@github.com>
a écrit :

[2019-01-25 15:03] feyll commented on #12297
@khouloudbelguith Yes, I have this module installed, but inside another store.
My shop1 is canapath.it and inside its root I created a folder named wholesale-hemp-light and here I have a new installation of prestashop to have a second store for companies. My theme does not support the business, so I had to opt for a new installation in the subfolder.
That said, the social module is installed only

[2019-01-25 15:07] khouloudbelguith commented on #12302
Hi @marchspa,

Thanks for this clarifications.
Yes, you are right.
I manage to reproduce the issue with PS1.7.4.4 & ps1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/51753917-492a6880-20bb-11e9-9327-a37670a0b799.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
T

[2019-01-25 15:20] khouloudbelguith commented on #12313
@nicoladze, in fact, you need to make some changes in your Database.
You need to run those requests SQL on your Database

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_lastname` `employee_lastname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_order_deta

[2019-01-25 15:33] khouloudbelguith commented on #12297
@feyll, sorry I need to check this errors "error.log.20190120.gz"?
Thanks!

[2019-01-25 15:39] khouloudbelguith commented on #12268
@djmassive, Thank you for your report.
We'll first try to reproduce it with Mac OS and we'll come back to you if we need more information.
Thanks!

[2019-01-25 15:46] khouloudbelguith commented on #10026
Hi @clemrdh,

I manage to reproduce the issue with PS1.7.5.0 also.
![image](https://user-images.githubusercontent.com/16067358/51756178-b68cc800-20c0-11e9-987f-6bd3dd55f1c6.png)
Thanks!

[2019-01-25 15:52] thsantac commented on #12307
You can seen the issue here : [Edited by @khouloudbelguith ]
Have to say the database has been migrated from 1.5 with Migration Pro module.
Thanks in advance

[2019-01-25 15:55] rafaviana commented on #11911
Hi. I'm getting the same issue here, what do I need to do to solve it? I'm using 1.7.5.0
Thanks!

EDIT:
I followed @Ybeske instructions and it works. Is it ok to change PS files?

[2019-01-25 16:00] evsport commented on #12296
Hello
I have the version 2.0.0.
I didn't do any changes in that module.
Thank you

[2019-01-25 16:04] feyll commented on #12297
@khouloudbelguith I checked, I can not interpret the log file, can you please share with me a link where I show you how to correctly interpret the log file?

I do not understand why these files are missing and I do not understand where the call comes from for these files.
Excuse me but I still have a few debugging skills :(

[2019-01-25 16:05] khouloudbelguith commented on #12296
@evsport, could you please try to disable this module temporarily, clear cache, check & feedback.
Thanks!

[2019-01-25 16:08] khouloudbelguith commented on #12297
Hi @feyll,

There are several different log data that you can add as a file to your ticket:

1. Server log:
1.1 Apache: /var/log/apache/apache_error.log
1.2 Nginx: /var/log/nginx/nginx_error.log
1.3 IIS: %SystemDrive%\inetpub\logs\LogFiles
2. PHP error log:
2.1 Apache: /var/log/apache/php_error.log
2.2 Nginx: /var/log/php-fpm/default/error.log
2.3 IIS: %SystemDrive%\inetpub\logs\LogFiles
3. Consol

[2019-01-25 16:12] khouloudbelguith commented on #12307
@thsantac,
This is a public space.
I removed your credentials from the comment.
Let's be safe!

Thanks!

[2019-01-25 16:13] thsantac commented on #12307
It’s a test website, credentials will be changed anyway.

Thanks

Cordialement.

Bonne journée.

Thierry Santacana - 0630927608
thierry.santacana@gmail.com

[2019-01-25 16:24] matks commented on #11911
@rafaviana It is OK to change PS files if you need the fix now. However keep in mind that this will create problems when you upgrade to 1.7.5.1 .

In order to avoid problems when you upgrade, keep the old file (with the bug in it) somewhere. Just before performing the upgrade, put back the old file 😉 . The idea is that in order for the upgrade to work correctly, you need the files unmodified.

[2019-01-25 16:34] matks commented on #12268
Hi,

I have a MacBookPro bu I cannot reproduce the issue with:
- MAMP 5.2
- PHP 7.2.10

I dont think this is related to MacOS though. Indeed this is a PHP error but it's very strange it happens.

@djmassive When I first installed PrestaShop, I did the following mistake: I had a vhost file with target `Prestashop` although my folder name was `PrestaShop` (the S capital). This caused class loading i

[2019-01-25 16:42] djmassive commented on #12268
my httpd-vhosts.conf looks ok - everything is like on filesystem:

# presta.local
<VirtualHost *:80>
	ServerAdmin webmaster@presta.local
	DocumentRoot "/Users/greg/sites/presta/"
	ServerName presta.local
	ServerAlias www.presta.local
	ErrorLog "logs/www_error_log"
	CustomLog "logs/www_access_log" common
</VirtualHost>

127.0.0.1     presta.local (in hosts file)

I use this schema and this is the f

[2019-01-25 16:47] khouloudbelguith commented on #12307
@thsantac, did you have any override which is not compatible?
In your Project folder, could you please search for this expression "step1_categories_tree", it is provided by any `override`?
Thanks!

[2019-01-25 16:58] clemrdh commented on #10026
@khouloudbelguith,
This is another issue. Mine was in the BackEnd. Yours in Front.
I cannot reproduce yours with a fresh local install of PS1.7.5.0.
However on my current production install I still have this problem... and its the same version PS1.7.5.0

[2019-01-25 17:02] khouloudbelguith commented on #12314
@fabienfaff, if you try to replace also the table ps_configuration by a clean PS1.7.5.0 installation, have you the same issue also.
because you need to check in the ps_configuration table the id_configuration where name =  "PS_INVOICE_LEGAL_FREE_TEXT" and you should insert it in the table ps_configuration_lang as described here: https://github.com/PrestaShop/PrestaShop/issues/11909#issuecomment-45

[2019-01-25 17:03] MatShir commented on #12193
hi @ajayak,

The information is indeed missing, is just a miss. The data is well stored on select * from ps_pack  ;
[code]
Thank you for your feedback. Don't hesitate to contribute by making a Pull Request if you have the technical skills. Otherwise, it will be done by our team in the next versions.

[2019-01-25 17:11] khouloudbelguith commented on #12303
@feyll, did you made any changes in ps_languageselector module?
if no, could you please try to disable it temporarily, check & feedback.
Thanks!

[2019-01-25 17:14] x29a commented on #12301
@Matt75 thanks a lot, with using `<?php` (the example modules do it exactly like this and the docu omits this part), the module name as camelcased like the class, only the first letter of the controller in upper case and registering the controller in the module it worked. I think all of this should be part of the official documentation!

[2019-01-25 17:15] evsport commented on #12296
Did you check the error?

[2019-01-25 17:18] khouloudbelguith commented on #11799
Hi @mark-ebs,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-25 17:18] #11799 closed, assigned to nobody

[2019-01-25 17:20] khouloudbelguith commented on #11798
Hi @bijouxmexicains,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-25 17:20] #11798 closed, assigned to nobody

[2019-01-25 17:21] khouloudbelguith commented on #11724
Hi @agnesdennetiere,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-25 17:21] #11724 closed, assigned to nobody

[2019-01-25 17:22] khouloudbelguith commented on #11855
Hi @D2Red,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-25 17:22] #11855 closed, assigned to nobody

[2019-01-25 17:27] nicoladze commented on #12313
When I copy/paste it in Gestionnaire SQL to create a SQL request; I save
and it says "SELECT" n'existe pas.

Le ven. 25 janv. 2019 à 16:20, khouloudbelguith <notifications@github.com>
a écrit :

[2019-01-25 17:31] khouloudbelguith commented on #12313
@nicoladze, could you please provide me with a screenshot.
Thanks!

[2019-01-25 17:41] nicoladze commented on #12313
![image](https://user-images.githubusercontent.com/47031957/51762735-cf9d7500-20d0-11e9-93f9-28c3355a3bd5.png)

[2019-01-25 17:45] khouloudbelguith commented on #12313
@nicoladze, that's ok.
With this page, you are allowed to use only the request SQL "SELECT" & not the "Insert", you need to apply those request SQL on your Database via phpmyadmin for example.
Thanks!

[2019-01-25 17:48] djmassive commented on #12268
I think this is problem with component of MAMP - I've installed latest version of mamp and this problem doesn't exists. So I think this thread can be closed.

[2019-01-25 17:51] khouloudbelguith commented on #12268
Hi @djmassive,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-25 17:51] #12268 closed, assigned to nobody

[2019-01-25 18:12] feyll commented on #12303
@khouloudbelguith Yes, now with the module deactivated and active debugging I no longer receive an error message.
I had made a change, I had added an English flag jpg image

[2019-01-25 18:43] khouloudbelguith commented on #12303
@feyll, those changes make errors, you need to remove those changes, so you can enable this module and you will not have errors.
Your issue is not a PrestaShop's core bug but a customization problem
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-25 18:43] #12303 closed, assigned to nobody

[2019-01-25 20:05] LocalHeroPro commented on #12231
I have to wait for response or create new Issue?

[2019-01-25 21:19] matks commented on #12142
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12292

[2019-01-25 21:20] #12142 closed, assigned to PierreRambaud, jolelievre

[2019-01-26 00:08] nicoladze opened #12318 "Commandes -> Factures : Error 500"
I just updated from 1.7.2.4 to 1.7.5.0 and now when I click on Commandes -> Factures, I got this page :*

![image](https://user-images.githubusercontent.com/47031957/51779309-c4fdd280-2106-11e9-88ed-20bbaff86731.png)

[2019-01-26 06:07] thsantac commented on #12307
Hi,

There is no override in this project.

I have already searched for « step1_categories_tree » and found nothing.

I am lost...

Thierry Santacana
thierry.santacana@gmail.com

[2019-01-26 09:55] fabienfaff commented on #12314
Hello,
Problem solved by copying fresh ps_configuration in addition to  ps_configuration_lang.
Thank you for your help.

[2019-01-26 09:55] #12314 closed, assigned to nobody

[2019-01-26 10:08] anael687 commented on #10475
Thank you for sharing. Much appreciated.

On 2018-12-18 08:03, web-fu wrote:

[2019-01-26 12:30] ajayak commented on #12193
Hi @MatShir,

Is it possible to get this information from any other REST API?

[2019-01-26 12:39] dineshbadrukhiya commented on #12241
@MatShir
I think expected behavior should be like : If product have combination then there should be option to allow or set generic image or main image for that product on list page and product page as well and once customer click on shopping cart button then customer must have to select the attribute (there should not be default selection) and then after only call for add to cart button should be

[2019-01-26 13:01] odan opened #12319 "Typo in german translation"
**Describe the bug**

Typo in german translation: "Aretikel"

https://github.com/PrestaShop/TranslationFiles/search?q=Aretikel&unscoped_q=Aretikel

Expected translation: "Artikel"

**To Reproduce**
Steps to reproduce the behavior: Select a category and then "Delete"

**Screenshots**

![image](https://user-images.githubusercontent.com/781074/51787442-5fdfc680-2172-11e9-94af-54f345022af8.png)

**Add

[2019-01-26 14:10] Peterits commented on #12239
Hi,
I uninstalled the "Keep showcase cards closed # 12111" corectif and everything is back in order, now the 1.7.5.x SEO page is working again!
cordially

[2019-01-26 19:11] feyll commented on #12297
@khouloudbelguith Hi :)
I'm waiting for an answer from my provider, maybe I have to add some directives to the .htaccess file to record php errors.

In the meantime I'm waiting for this, I wanted to ask if you have any links to share where it shows how to set up smarty directives for the compilation of customer ID.
I assume there is some error or conflict in the smarty directive for filling out th

[2019-01-26 19:14] Maofree opened #12320 "How to move the product reference in a difference position from product details when there are combinations"
Hi
how is possible to move
<span class="product-reference">{$product.reference_to_display}</span>
in product-add-to-cart.tpl
and take the valure updated when a combination is changed?
only some part of page are updated not all
many shopkeepers want to show it near the quantity button instead of leaving it hidden in such a low position

in product-variants.tpl works but it is duplicated at each att

[2019-01-26 19:18] RUMBuilder commented on #12135
Ok, done that... see below. Everything checks out it seems. Still have the same issue. Suggestion? Thanks!

![php prestashop info 1](https://user-images.githubusercontent.com/46640217/51791725-aa5e4480-216c-11e9-9c75-40a1bf95a7d8.png)

[2019-01-26 19:29] Maofree commented on #12320
solved
it is necessary to add
{if isset($product.reference_to_display)}
<div class="tvproduct-details-product-reference">
<span class="control-label">{l s='Reference' d='Shop.Theme.Catalog'}</span>
<span class="product-reference">{$product.reference_to_display}</span>
</div>
{/if}
inside

<div class="product-variants">

[2019-01-26 19:29] #12320 closed, assigned to nobody

[2019-01-26 22:33] MathiasReker opened #12321 "importing combinations with the same reference does not work"
**Describe the bug**
Import combinations (attributes) does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'controller=AdminImport'
2. Upload attrachted csv file and click import.
3. No errors, everything went fine.
4. Now check product. Expected 40 combinations, find only 1. There should be 20 colors and a select box with 2 options.

**Screenshots**
If applicable, add screen

[2019-01-27 01:43] MathiasReker commented on #12318
Enable debug mode and show us a new screenshot.

[2019-01-27 07:42] naps1saps opened #12322 "WYSIWYG text editor changing code after save"
v1.7.4.0
In Design>Pages customization
If I add a YouTube video iframe in the format given by YouTube which includes customization options, the options get stripped from the code after saving.  As such it is impossible to get the YouTube video to go full screen because the option gets stripped from the code.

Maintenance mode editor
If I try adding a link, the link code gets stripped and the visib

[2019-01-27 21:14] kershin commented on #10316
I confirm: it's not fixed on 1.7.5
The only way to modify your old queries is to update entries in, for example, phpmyadmin.
Updated queries can next be used.

[2019-01-28 06:51] thsantac commented on #12307
Hi,
Found the reason of the bug: products which are linked to "root" ("Home") category. If I remove the link between a product and the root category I am able to update a product.
Any idea?
Thanks

[2019-01-28 07:48] khouloudbelguith commented on #12314
Hi @fabienfaff,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-28 07:48] khouloudbelguith commented on #12314
Duplicate of #11909

[2019-01-28 07:50] idimash opened #12325 "An error occurred while processing your request 1.7.5.0"
Hi!
1. Go to product page in prestashop demo: .../men/1-1-hummingbird-printed-t-shirt.html#/1-razmer-s/8-cvet-belyj
2. Click on other color
3. See error "An error occurred while processing your request"
![presta bug](https://user-images.githubusercontent.com/12410518/51821149-d7336880-22e0-11e9-9adb-2dc2b6e94718.png)

prestashop 1.7.5.0, nginx 1.15.8, php 7.2.14

[nginx config](https://github.com/

[2019-01-28 07:54] khouloudbelguith commented on #12318
Hi @nicoladze,

We need to retrieve the debug mode report in order to find out what's wrong.
Also, it could be the same issue reported [here](https://github.com/PrestaShop/PrestaShop/issues/11909), so could you please try to replace the **ps_configuration_lang** table and the **ps_configuration** table in the Database with the one from clean PS1.7.5.0 installation.
Thanks!

[2019-01-28 08:15] khouloudbelguith commented on #12319
Hi @odan,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/51822573-119b0680-22dd-11e9-9777-175a40beccd6.png)
@LouiseBonnard what do you think? it could be fixed in Crowdin
Thanks!

[2019-01-28 08:33] juslintek opened #12326 "Very slow dev environment any suggestions?"
Any Ideas why new install is so slow php 4G memory limit, apache, mysql, php 7.2 windows laragon AMP stack, fails to connect using memcache dll from pecl, but still pretty slow? http://prntscr.com/md0whc as well my mysql specs: https://paste.ofcode.org/34xSHUa9uq54363c49y6gFW and my php https://paste.ofcode.org/qzuksumxzUCFqx6zZWWiaE

I've cloned master of this repository, from load time stack I c

[2019-01-28 09:23] khouloudbelguith commented on #12321
Hi @MathiasReker,

I did not manage to reproduce the issue with PS1.7.5.0.
I imported this file
[combinations_import.csv.tar.gz](https://github.com/PrestaShop/PrestaShop/files/2802159/combinations_import.csv.tar.gz)
In the product page, I have this
![image](https://user-images.githubusercontent.com/16067358/51825082-4eb6c700-22e4-11e9-92d3-e0141d089c39.png)
I also tried with your import file & it

[2019-01-28 09:26] MatShir commented on #12193
Hi @ajayak,

I am afraid not.
@PrestaShop/prestashop-core-developers Is that correct?

[2019-01-28 09:30] khouloudbelguith commented on #12325
Hi @idimash,

I did not manage to reproduce the issue with PS1.7.5.0 & nginx/1.14.0.
I attached a video record.
https://drive.google.com/file/d/1_NYYV9CF8R73Bryyqb2xI6FgLx6ujxQG/view
here's my nginx configuration
[code]
Your ticket is a duplicate of #10178
So, I close it.
Thanks!

[2019-01-28 09:30] #12325 closed, assigned to nobody

[2019-01-28 09:30] khouloudbelguith commented on #12325
Duplicate of #10178

[2019-01-28 09:43] idimash commented on #12325
This bug is reproduced when enabled URL rewriting.
But in my case, prestashop reports that the server does not support  URL rewriting.
![presta bug 2](https://user-images.githubusercontent.com/12410518/51827242-95f78480-22f1-11e9-90ae-1c8556ee89fa.png)
Thanks!

[2019-01-28 09:45] damiafrau commented on #11825
Hi,

same error here, using Mac and Chrome upgrading from 1.7.2 to 1.7.5

[2019-01-28 09:46] matks commented on #10475
@khouloudbelguith I think this is an issue we should consider, we indeed cannot rely on front-end validation that can be easily bypassed by using a cURL client.

@web-fu do you feel like making a PR with your contribution ? I can do it, but I would "steal" the credit you deserve 😉

[2019-01-28 09:47] jolelievre commented on #12207
Hello @grigorevlad,

I would need more info to figure out the issue. What is the name of the module you are using?

Are you sure it changes the combination or just the images? Which is not the same thing, when
you change combination with the PrestaShop elements (like size, color, ...) It requests various
information to the server (combination description, prices, title, discounts, minimum quantiti

[2019-01-28 09:53] idimash commented on #10178
This bug is reproduced in 1.7.5.0 when enabled URL rewriting.
But in my case, prestashop reports that the server does not support  URL rewriting.
![presta bug 2](https://user-images.githubusercontent.com/12410518/51827242-95f78480-22f1-11e9-90ae-1c8556ee89fa.png)
prestashop 1.7.5.0, nginx 1.15.8, php 7.2.14
[nginx config](https://github.com/PrestaShop/PrestaShop/files/2801919/vhost.txt)
Thanks!

[2019-01-28 10:00] MathiasReker commented on #12321
Thats weird. I have a fresh install and the product import works.

[2019-01-28 10:02] khouloudbelguith commented on #12321
@MathiasReker, if you enable the debug mode, is there any exception displayed?
Are there errors in your PHP log file?
Thanks!

[2019-01-28 10:09] LouiseBonnard commented on #12319
@odan, @khouloudbelguith, hello! It must be a typo, then I guess you can correct it on Crowdin: just go in the right directory ([here](https://crowdin.com/project/prestashop-official/de#/1.7.5)) and search the wording to modify it. ;-)

[2019-01-28 10:16] MathiasReker commented on #12321
No errors in debug or in php error log

[2019-01-28 10:21] febestore opened #12328 "Carrier error after saving. "TECHNICAL ERROR""
**Describe the bug**
Hello,
A few days ago I've noticed bug after modifying one of the carriers. Until then everything worked just fine. This carrier is active and is still in use. The error has shown when I've created a new carrier with COD.
I wanted to edit the name of my old carrier, but now I can't do anything.
Another strange thing is that I can't delete/edit or do anything to my active carri

[2019-01-28 10:21] #12239 closed, assigned to nobody

[2019-01-28 10:32] idnovate commented on #11889
I couldn't reproduce the issue again with a new PS 1.7.5.0 installation.

[2019-01-28 10:32] #11889 closed, assigned to nobody

[2019-01-28 10:34] khouloudbelguith commented on #11889
Hi @idnovate,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-28 10:46] khouloudbelguith commented on #12322
Hi @naps1saps,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1j1pzIDqKWiCiVHBuqy_3yarvzfKWMMAp/view
Thanks to check & feedback.

[2019-01-28 10:48] khouloudbelguith commented on #12321
@MathiasReker, I tried with a new installation 1.7.5.0 & it is OK.
![image](https://user-images.githubusercontent.com/16067358/51831535-9e03f400-22f2-11e9-8668-72187a994203.png)
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-01-28 10:51] khouloudbelguith commented on #12326
Hi @juslintek,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically,

[2019-01-28 10:55] grigorevlad commented on #12207
Hi @jolelievre ,

The module is here: https://mypresta.eu/modules/front-office-features/product-pictures-on-product-listings.html
Yes, the module changes the product combination, not just pictures.

I'm sending you the URL of my store via email.

Vlad

[2019-01-28 10:57] Quetzacoalt91 commented on #12193
Unfortunately @ajayak, the core does not provide another API entrypoint for Pack details. If you absolutely need this information, you might need to implement your own entrypoint.

In the meanwhile, I created a PR for the next minor version which covers your needs: https://github.com/PrestaShop/PrestaShop/pull/12329

[2019-01-28 11:24] enriquetortola opened #16984 "Sitemap does not add 2 id in url"
Good,

I'm having a little problem with the sitemap, which is not adding the 2 ids that the product has in the sitemap and this is causing the products not to be indexed correctly.

What possible solution can this drawback have?

[2019-01-28 11:29] khouloudbelguith commented on #10178
Hi,

I tried with PS1.7.5.0.
As @idimash said, I tried to enable the "Friendly URL", it is enabled but I have a message "`URL rewriting (mod_rewrite) is not active on your server, or it is not possible to check your server configuration. If you want to use Friendly URLs, you must activate this mod`." => so this option should be disabled.
In the FO, URL rewriting is enabled, when I try to switch be

[2019-01-28 11:55] nrcjea001 opened #12330 "Paypal Translation changes not showing in FO"
**Describe the bug**
I'm tryin﻿g to change an English translation in the PayPal module from "Currency is not supported" to "Please switch to EUR, USD or GBP". I changed and saved in BO. In my Cpanel I see in the Paypal module/translations folder en.php is updated. However, the change is not appearing in FO.

I only have one language, English. Looking at php configuration: http://loopshops.mu/test.

[2019-01-28 12:52] Ybeske commented on #11911
<img width="1552" alt="schermafbeelding 2019-01-28 om 13 45 26" src="https://user-images.githubusercontent.com/43880279/51837563-0909f680-2304-11e9-8f97-972484e65197.png">

Having 1.7.5.0, even with a fresh install to avoid the possible other conflicts with many modules.
From the moment I install a module (in my case: Product Fields manager) that creates a Module product tab, I also have issues wi

[2019-01-28 13:06] khouloudbelguith commented on #12307
Hi @thsantac,

I did not manage to reproduce the issue with PS1.7.4.4 also, but I checked your Database, I found in the table `ps_category_shop`, the root category(id_category=1) doesn't exist)
In your Databse, I run this command SQL `Select * from  ps_category_shop where  id_category<3`
I found this
![image](https://user-images.githubusercontent.com/16067358/51837744-ad8c3880-2304-11e9-8354-30c2f

[2019-01-28 13:09] khouloudbelguith commented on #12330
Hi @nrcjea001,

This issue reported previously but as described [here](http://forge.prestashop.com/browse/BOOM-5601?focusedCommentId=168493&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-168493): The Paypal module isn't provided by PrestaShop.
You can contact the developer of this module here: https://www.202-ecommerce.com/en/partners-modules/technical-support/
Tha

[2019-01-28 13:17] MathiasReker commented on #12321
Thanks, I will look further into this.

[2019-01-28 13:26] khouloudbelguith commented on #11911
Hi @Ybeske,

This is a different issue, can you open a new one with more information about your configuration.
Thanks!

[2019-01-28 13:41] khouloudbelguith commented on #12328
Hi @febestore,

About the strange behavior, it is added to our debug roadmap.
Your ticket is a duplicate of #9592
In fact, when I edit a carrier, it does not edit, it actually clones the carrier with updated informations. The original is not deleted in the database but does not appear in the listing.
But, in your case, all the carriers are listed in the BO after editing them.
I tried also to delet

[2019-01-28 13:43] tomas862 commented on #10576
Hi @TristanLDD - I can't find any images on zeplin where I can download them. For instance,
![assets](https://user-images.githubusercontent.com/17051250/51839984-75402680-2313-11e9-8cfb-85b61ea365c0.png)

[2019-01-28 13:50] khouloudbelguith commented on #12297
Hi @feyll,

Ok, Thanks!
In the meantime, could you please check your database schema & compare it with the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql
Thanks!

[2019-01-28 13:52] nrcjea001 commented on #12330
I'm not sure your link refers to the same issue. The currency works, its just the translation that is the problem.

I spoke to the module developer and they say its an issue with Prestashop

[2019-01-28 13:54] krasnycz commented on #11784
Configuration, permissions and extensions are set to recommended based on the PierreRambaud script. Also cloudways technical support provided lot of help with troubleshooting this issue. The application permissions are set correctly and apper to be not causing any issue with the application or cache. They do state that it appears as application level issue.

As I stated before - in the comments on

[2019-01-28 14:03] febestore commented on #12328
Hello,
I've tried to paste default tracking link. Still not working.
Look at my recording:
https://drive.google.com/file/d/1-LtK3oGEzaxPTKStvVaoN1S7QeOOAgai/view
Last carrier ID is '90'. After saving my default carrier, modifications are not applied and the carrier has been copied to ID '91'. Every change does the same. It making big mess.
Any other ideas what can I do?

[2019-01-28 14:05] eternoendless commented on #11625
@colinegin this needs to be specified

[2019-01-28 14:11] khouloudbelguith commented on #12328
@febestore, is this carrier created manually, or provided by module?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-28 14:15] febestore commented on #12328
Was created manually. It worked for 6 months without a problem. The error appeared two days ago when I tried to change the name of the carrier. Now I can't change anything or delete this copies.
I will try to provide PHP error log

[2019-01-28 14:30] FabioReims opened #12332 "1 click update from 1.7.4.4 to 1.7.5.0 results in white page of BO and FO. [error500]"
PrestaShop version: 1.7.4.4 (I updated all the way up from 1.7.3.4)
PHP version: 7.1
1-Click update version: 4.5.1

Once I update to 1.7.5.0 via the 1 click update, the update goes through. The only warnings I receive are as follows:

[WARNING] SQL 1.7.5.0 1060 in ALTER TABLE `ps_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '', CHANGE `employe

[2019-01-28 14:31] khouloudbelguith commented on #12332
Hi @Apury,

About those warnings, here's the PR: #11814 to fix the issue.
It is fixed in the next release 1.7.5.1.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-01-28 14:33] khouloudbelguith commented on #12328
@febestore, when you try to edit the carrier, it is duplicated or just a new id is affected to this carrier?
Thanks!

[2019-01-28 14:48] FabioReims commented on #12332
Deleting the cache didn't change anything.

Which files are those PR's commited to? I can't find any install-dev/upgrade/ file path on my server.

Furthermore, does that mean, once 1.7.5.1 is released, I skip updating from 1.7.4.4 to 1.7.5.0 and immediately upgrade to 1.7.5.1?

[2019-01-28 14:52] khouloudbelguith commented on #12330
@nrcjea001, thanks for this clarifications.
Sorry, you are right, they are related [link](http://forge.prestashop.com/browse/BOOM-5601) But, when I use a not supported currency, I cannot continue with payment of PayPal, it is not the issue when I use Euro for example.
I attached a video record.
https://drive.google.com/file/d/1O-StOYAX3qyxJkAlTmh-DiAhYGYYeXvR/view
Reported here: https://github.com

[2019-01-28 14:58] khouloudbelguith commented on #12332
@Apury, in fact, you need to make some changes in your Database.
You need to run those requests SQL on your Database

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_lastname` `employee_lastname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_order_detail`

[2019-01-28 15:05] khouloudbelguith commented on #12135
Hi @RUMBuilder,

Yes, it seems to be OK.
But as I said before, we could not reproduce your issue with the provided information.
With fresh install 1.7.5.0 & PS1.7.4.4. => OK.
Thanks!

[2019-01-28 15:06] khouloudbelguith commented on #12330
@nrcjea001, what is the exact version Paypal did you use?
Thanks!

[2019-01-28 15:22] khouloudbelguith commented on #12330
Hi @nrcjea001,

Could you please try with this demo module to check if the translation is saved & updated in the FO
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2803647/mymodule.zip)
I tried it with PS1.7.5.0 & it is OK.
Thanks to check & feedback.

[2019-01-28 15:38] FabioReims commented on #12332
Well, that seems to surpass my competencies. If I enter `ALTER TABLE PREFIX_supply_order_receipt_history CHANGE employee_firstname employee_firstname VARCHAR(255) DEFAULT '';` into the SQL query field as an update It gets transformed into `UPDATE `ps_supply_order_receipt_history` SET `id_supply_order_receipt_history`=[value-1],`id_supply_order_detail`=[value-2],`id_employee`=[value-3],`employee_la

[2019-01-28 15:42] matks opened #12333 "Fix minor display issues introduced by webpack update"
https://github.com/PrestaShop/PrestaShop/pull/10911 has been merged but some issues were reported by QA team:
- https://github.com/PrestaShop/PrestaShop/pull/10911#issuecomment-458168741
- https://github.com/PrestaShop/PrestaShop/pull/10911#issuecomment-458169848
- https://github.com/PrestaShop/PrestaShop/pull/10911#issuecomment-458179568

It needs to be fixed and validated by QA again 😄

[2019-01-28 15:43] khouloudbelguith commented on #12332
Duplicate of #11812

[2019-01-28 15:43] #12332 closed, assigned to nobody

[2019-01-28 15:56] ma0dubois commented on #12295
Hi @khouloudbelguith,

We upgraded to 1.7.5.0 and tried what you did.

I believe we have a lang pack problem, we tried what you did in the video and here is the error we got :

![errorexport](https://user-images.githubusercontent.com/17147012/51848322-a9b8e000-231d-11e9-943f-1a0b3e68aa01.PNG)