[2019-10-21 09:51] khouloudbelguith commented on #16002
Hi @WooXu,

I did not manage to reproduce the issue with PS1.7.6.1.
I used three different themes & they are all ok.
I attached a screen record
https://drive.google.com/file/d/1Hb2D6zOH7TmUY9-xPstUPETrHYioBE3_/view
We have some issues with translations, you can follow this link: https://github.com/PrestaShop/PrestaShop/issues/13863 for more details.

Thanks to check & feedback.

[2019-10-21 09:53] khouloudbelguith commented on #16038
Hi @Fixmetal,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1fWTOyFswDv7TOJkfma7DaszwI-jRCInk/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error

[2019-10-21 09:57] sarjon opened #16039 "Improvements for Order view"
Improvements needed for Order view page:

1. Material icon ‘account_box’ is missing
2. Edit should be done through material icon ‘more_vert ‘ —>  Edit
3. Price background is missing
4. Add icons in tabs
5. Increase spacing between buttons to 15px
6. Text color in buttons should be #576C72

![order_feedback](https://user-images.githubusercontent.com/15143151/67195671-07d4a880-f402-11e9-898b-80b28b7

[2019-10-21 10:02] khouloudbelguith commented on #15199
Hi @Sasni,

This module is not provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-21 10:03] khouloudbelguith commented on #15885
Hi @Allbutfancy,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-21 10:03] #15885 closed, assigned to nobody

[2019-10-21 10:04] mohamedaitbella opened #16040 "login template google plus (is dead ) but link is steel in login page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login template you gonna see google plus link (google plus is dead)'

**Additional information**
PrestaShop version: 1.7.6.x

[2019-10-21 10:05] beniwal commented on #15430
Hi @khouloudbelguith

Issue is in front end.

To replace issue disable "display product from subcategory". Add product A and B both in category "first one" as default category.

Than assign both products or one product to category "second one".

Now in front end you will see category "second one" empty.

If you select product B with default category "second one" than product B will disapear from c

[2019-10-21 10:08] khouloudbelguith commented on #14978
Hi,

The `spfooterlinks` and the `psblog` modules are not developed by PrestaShop, we can't do anything with this.
You should contact the module's author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-21 10:18] khouloudbelguith commented on #16040
Hi @mohamedaitbella,

Thanks for your report.
As written by the support team, `Google+ is only available for G Suite accounts through work or school. Consumer accounts (typically ending in @gmail.com) were shut down on April 2nd, 2019.`
https://support.google.com/plus/announcements/9195238
I’ll add this to the debug roadmap
Thanks!

[2019-10-21 10:27] mohamedaitbella commented on #16040
this is the My PR
https://github.com/PrestaShop/PrestaShop/pull/16041#issuecomment-544447029

[2019-10-21 10:35] khouloudbelguith commented on #15430
@beniwal, yes, I have the same behavior described by you.
This normal behavior.
First: you just disabled the option:
![image](https://user-images.githubusercontent.com/16067358/67198301-fe960c80-f3fe-11e9-9779-348b13a5fb9d.png)
That's why, the products, in the FO, will be displayed only in the default category.
Ping @marionf @PrestaShop/prestashop-product-team what do you think if we change this e

[2019-10-21 10:44] simulbeni opened #16042 "Shipping price changing to 0 auto"
I am getting a very strange issue that shipping price setting to 0 after placing order. Its so random that i am not able to replicate it.

If somebody has info about this please let me know.

PrestaShop version: 1.7.5.1
PHP version: 7.2

Thanks

[2019-10-21 10:45] marionf opened #16043 "Customers created in another shop are not displayed in the list if the shop group share customers"
**Describe the bug**
Customers created in another shop are not displayed in the list if the shop group share customers

**To Reproduce**
Steps to reproduce the behavior:
1. Enable multistore in Shop parameters > General
2. Go in advanced parameters > Multistore
3. Add a new shop group "group2" and share customers, share available quantity to sell and share orders
4. Add a new shop "shop1" in "grou

[2019-10-21 10:48] khouloudbelguith commented on #16042
Hi @beniwal,

In fact, there are three options to have a free shipping
1. Shipping > Configuration
![image](https://user-images.githubusercontent.com/16067358/66816821-022b1e80-ef3b-11e9-94b0-671ea0a172a3.png)

2. Carrier ranges
![image](https://user-images.githubusercontent.com/16067358/66816914-30106300-ef3b-11e9-9f17-0de35880018e.png)
3. A voucher free shipping
3.1 ![image](https://user-images.

[2019-10-21 11:18] beniwal commented on #16042
I am Working with prestashop from years.

Worked on websites more than 200.

Issue coming to me when order finished.

Its ok in first time but after sometime it change to shipping price to 0.

On Mon, Oct 21, 2019, 16:18 khouloudbelguith <notifications@github.com>
wrote:

[2019-10-21 11:58] paulydev commented on #9795
I have this same issue in 1.7.6.1. Is there still no fix for it?

[2019-10-21 12:05] khouloudbelguith commented on #16042
@beniwal, have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/15411?
Did you use any custom payment module?

Thanks!

[2019-10-21 12:05] Allbutfancy opened #16044 "Enabling Debug Mode gives 404 Error on every page in front office"
Whenever we try to activate debug mode in backoffice, our whole site response with a 404 error.
What should we take a look into?

Best regards,
Allbutfancy

PrestaShop version: 1.7.6.1
PHP version: 7.1.30

[2019-10-21 12:08] khouloudbelguith commented on #16044
Hi @Allbutfancy,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2019-10-21 12:17] samuel-pires commented on #13476
@LouiseBonnard You will be able to do the work? Or you need help from a developer?

[2019-10-21 12:19] #16040 closed, assigned to nobody

[2019-10-21 12:19] samuel-pires commented on #15940
@LouiseBonnard Still waiting for wording?

[2019-10-21 12:20] LouiseBonnard commented on #13476
I'm currently doing it. Half of the work has been done so far, pull requested and merged for some parts. ;-)

[2019-10-21 12:34] samuel-pires commented on #13964
@jolelievre, Is it still on waiting for dev?

[2019-10-21 13:00] samuel-pires commented on #14923
Hello @PrestaShop/prestashop-core-developers, someone available to have a look at this issue?

[2019-10-21 13:05] marionf commented on #10915
Seems not fixed

![capture d'écran_2089](https://user-images.githubusercontent.com/13449658/67207581-3491bb80-f414-11e9-8f9c-02ef9e2adff1.png)

[2019-10-21 13:19] marionf commented on #10915
My bad, I wasn't on the good store
It's ok

[2019-10-21 13:19] #10915 closed, assigned to atomiix

[2019-10-21 13:30] beniwal commented on #16042
@khouloudbelguith yes i am using paynl as payment service. Earlier it was Ingenico.

But issue is same in both payment system.

More or less issue is same as #15411 but in my case its not coming always. Its so random that i cannot even get any root cause of issue.

Thanks

[2019-10-21 13:32] khouloudbelguith commented on #16042
@beniwal, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-21 13:41] beniwal commented on #16042
I will create a complete report for this. I am looking for some solution if exists.

Please look at the screenshot attached.
![shipping](https://user-images.githubusercontent.com/437314/67210346-8fd4a580-f436-11e9-87d6-4a372b8705ac.PNG)

[2019-10-21 13:45] khouloudbelguith commented on #16042
@beniwal, in my case, I did not manage to reproduce the issue with the Native payment module.
Waiting for your feedback.

Thanks!

[2019-10-21 14:15] MatShir commented on #14754
That seems a good idea. The hooks mapping is currently in the study.
Just to let you know, we want to ship the feature but with the amount of time that design work and new feature of the page take us might reschedule for the next version. For now, we do our best and we let you know for any updates.

[2019-10-21 14:15] marionf commented on #16043
@Robin-Fischer-PS & @sarahdib
You can take note of this scenario for the migration of order list & order view pages
As we also have the option to "share orders"
Which means if it's enabled, I should be able to see in shop2 an order created in shop1 and vice versa

[2019-10-21 14:24] romainguillo opened #16048 "Prestashop DEMO (https://demo.prestashop.com) isn't working on https"
When searching "prestashop demo" on Google, the result is with https :
https://demo.prestashop.com

But the DEMO isn't working on this URL because of "https" :
_(Blocked mixed active content) « http://vast-collar.demo-ms.production.prestashop.com/error500.html_

[2019-10-21 14:30] 8ternity commented on #16004
@khouloudbelguith According to the store, the Canada is already set. But i import again and get an error (see video)

https://www.screenpresso.com/=cK3gd

Error :
Notice: SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/lib/php/session) failed: Permission denied (13)

[2019-10-21 14:40] khouloudbelguith commented on #16004
@8ternity, this is an issue with PHP and sessions folder, you need to check the error with your host
Thanks to check with them & feedback

[2019-10-21 15:03] davidglezz opened #16050 "Very strict selector div.delivery-option"
The selector ["div.delivery-option"](https://github.com/PrestaShop/PrestaShop/blob/33684a3828f66e3a0e91ed53a8239813dcef41dd/themes/_core/js/checkout-delivery.js#L40) has 2 deficiencies:
1. Limit only div elements
2. The selector should start with "js-" to differentiate it from the style.

Point 1 is easy, change `div.delivery-option` to `.delivery-option`.
Point 2 is backwards incompatible. I thin

[2019-10-21 15:07] khouloudbelguith commented on #16050
Hi @davidglezz,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?
It is introduced with this PR: https://github.com/PrestaShop/PrestaShop/pull/6261

Thanks!

[2019-10-21 15:10] jolelievre commented on #13964
@samuel-pires Nothin has been made so far It should be prioritized (I think it's an `S` complexity)

[2019-10-21 15:10] marionf commented on #15430
@khouloudbelguith

I think wording is pretty clear here
If the option is set to no, products that belongs to a subcategory (as **main** one) are not displayed in the parent category.
Furthermore, "default" isn't suitable as we use it nowhere, we talk about **main category**

[2019-10-21 15:10] #15430 closed, assigned to marionf

[2019-10-21 15:16] legazpi23 commented on #15881
Excuse me for being late in answering.
So, in conclusion, for the version of prestashop 1.7.6.1 the only possible structure of the category url would be, as you indicate:
{rewrite} - {id}

Thank you

[2019-10-21 15:18] khouloudbelguith commented on #15881
@TomHsiung, it is the same with PS1.7.5, if you use the inverse structure, it doesn't work correctly.

Thanks!

[2019-10-21 15:21] matks commented on #14732
https://github.com/PrestaShop/PrestaShop/pull/14682 has been merged in order to avoid git conflicts and endless rebases however I'll be waiting for validation before closing this issue 😉

[2019-10-21 15:34] legazpi23 commented on #15881
Okay, we conclude the issue.

Thank you

Greetings

[2019-10-21 15:35] khouloudbelguith commented on #15881
@TomHsiung, you are welcome!
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-21 15:35] #15881 closed, assigned to nobody

[2019-10-21 15:40] LouiseBonnard commented on #13476
Okay, one last thing is: should I do the same for both GDPR and Theme Custo modules? I know that they are working differently since they come with their own translations... it is only ten strings to localize so I can handle it quickly but I just wanted to know before. ;-)

[2019-10-21 15:56] colinegin commented on #15935
Indeed, it seems this option was not in the mock ups and initial specs.
We need to add it in the available options for each "reassurance label".
The behaviour is the same as on migrated listings on back office :

- remove the edit icon
- add 3 dots icon
- by clicking on this icon, edit and remove options need to be displayed.

[2019-10-21 15:59] colinegin commented on #15932
Hello @jf-viguier,

thanks for your kind words and feedback !
I agree your idea would be a great feature improvement.
We need to define it a bit more in terms of specs and design, and will add it in a future version.

Thanks again !

[2019-10-21 15:59] dreamtheme opened #16054 "PS admin panel - Theme & Logo - does not display theme name properly"
PS 1.7.4.0 - 1.7.6.1
In the config/theme.yml there is two options, theme name (folder) and display theme name
Example:
name: pcstore
display_name: PC Store
version: 1.0.0

In the PS admin panel - Theme & Logo - under themes options, should display the "Display name", instead is the "name" displayed.
Those are descried in the PS dev documentation - https://devdocs.prestashop.com/1.7/themes/getting-

[2019-10-21 15:59] 8ternity commented on #16004
@khouloudbelguith problem submited to my hosting provider. Will update post upon status.

[2019-10-21 16:01] khouloudbelguith commented on #16004
@8ternity, thanks!
Waiting for your feedback.

[2019-10-21 16:05] khouloudbelguith commented on #16054
Hi @dreamtheme,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
The name displayed is the first name & not the real display name.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-10-21 16:07] khouloudbelguith commented on #16048
Hi @romainguillo,

Thanks for your report.
I just forwarded your issue to our Team.

Thanks!

[2019-10-21 16:18] nateBitworks commented on #15920
I'm sorry for the delay. I created a manual carrier and it adds the additional shipping. Is there a way to add to 3rd party shipping modules?

[2019-10-21 17:35] banan44 commented on #15966
@khouloudbelguith I have uploaded the log to my Google Drive: https://drive.google.com/open?id=1dkLxUM1WN14ahDGJY2YaW0AhmIA5F3_A

Hope it will be helpful. It's only from the last update. There are no log files from previous upgrades.

PS. Can you remove error.pdf for security reasons?

[2019-10-21 17:39] Maofree opened #16056 "Error on ps_emailalerts with php 7.3.10-1"
Hi
try to go in the configuration page of ps_emailalerts module and push on the save button. With php 7.3 I get this error
try to set the line like this one to solve the problem:
`} elseif (!empty($email) && $email) {`

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/67228752-39696600-f43a-11e9-8c7e-972855fcf9cb.png)
![3](https://user-images.githubusercontent.com/653230/

[2019-10-21 18:37] xiaoyuan1998 opened #16057 "coupon code bug for newsletter / create an account"
**Describe the bug**
when a client subscribe newsletter in homepage newsletter block, he can get coupon code,
![image](https://user-images.githubusercontent.com/7703076/67232490-c5cb5700-f441-11e9-9d44-420d4d01671d.png)
but if one clinet creat his account and choose susbcription newsletter at the same time, he can not get the coupon code (PS any send welcome mail but not the coupon code mail)
![im

[2019-10-21 19:05] Upartech opened #16058 "When proceeding to checkout, no shipping method appears, no purchase can be made for customers, but for visitors, yes."
Hi. I'm new here. I want to report a failure. I appreciate helping me to solve it.

System Specifications:
PrestaShop version: 1.7.6.0
PHP version: 7.2.22
MySQL Version: 10.2.27-MariaDB
MySQL Engine: InnoDB

Steps to reproduce the error:
1) Go to "Transportation"
2) to "Conveyors"
3) To the first transport operator that appears in the list go to "Edit"
4) Add an "@" in the URL link
5) In "Location

[2019-10-21 22:03] Fixmetal commented on #16038
Ok fine, I've got all the infos you asked.
May I share them privately with you?

[2019-10-22 05:07] jajarom opened #16059 "BO orders history error 500"
Error 500 appear when try to acces orders history in admin. Have some errors with modules maintenance mode on.
This is related to #15173 ?

Price specification not found for currency: ""

    Exception Logs 2 Stack Trace

PrestaShop\PrestaShop\Core\Localization\Exception\ LocalizationException
in src/Core/Localization/Locale.php (line 171)

        public function getPriceSpecification($currencyCo

[2019-10-22 07:51] khouloudbelguith commented on #16056
Hi @maofree,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your version PHP.
Also, Here's the PR: https://github.com/PrestaShop/ps_e

[2019-10-22 07:51] #16056 closed, assigned to nobody

[2019-10-22 07:52] khouloudbelguith commented on #16056
Duplicate of https://github.com/PrestaShop/ps_emailalerts/issues/16

[2019-10-22 08:22] devonto opened #16061 "Notifications - "Kernel Container is not available""
**Describe the bug**
Loading any page in the back office produces a PHP error

**Error**
[code]

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2.23

This is different from #15503, but is mentioned within it as a comment by @madcorp206

[2019-10-22 08:36] khouloudbelguith commented on #16057
Hi @xiaoyuan1998,

I did not manage to reproduce the issue with PS1.7.6.1 & the ps_emailsubscription module v2.5.1.
![image](https://user-images.githubusercontent.com/16067358/67269847-bf77c200-f4b7-11e9-9fcd-81eec848daba.png)
What is the exact version of the ps_emailsubscription module did you use?

Thanks!

[2019-10-22 08:48] khouloudbelguith commented on #16058
Hi @ovallepa,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screenrecord
https://drive.google.com/file/d/1sN_eDgTegzmWeTsM-G2G8RM2o5_BWvVq/view
The carrier is available to all the groups?
![image](https://user-images.githubusercontent.com/16067358/67270708-7cb6e980-f4b9-11e9-9d9e-99783761f45d.png)

Thanks!

[2019-10-22 08:50] beforcom commented on #14834
Bonjour,

J'ai également ce soucis avec un temps de retour à ma boutique très long après le paiement. Et dans les logs j'ai moi aussi des message du style :

Customer is back from E-Transactions payment page. Waiting order validation (loop 2).

Je suis aussi sur etransactions du Crédit Agricole.

En creusant un peu j'ai trouvé ceci :

​​​​​​​Lorsque j'active le mode débug sur mon Presta 1.7.4 et q

[2019-10-22 08:53] khouloudbelguith commented on #16059
Hi @jajarom,

This bug was already identified in https://github.com/PrestaShop/PrestaShop/issues/15376
And here's the PR fixing this issue: https://github.com/PrestaShop/PrestaShop/pull/15643
It is fixed in the next patch PS1.7.6.2
Your ticket is a duplicate of #15376
So, I close it.
Thanks!

[2019-10-22 08:53] #16059 closed, assigned to nobody

[2019-10-22 08:53] khouloudbelguith commented on #16059
Duplicate of #15376

[2019-10-22 08:56] Navus1 opened #16062 "Data in All shops can't be saved"
Hi,

we have a store with 3 different shops. We want to create one product at All Shops, and then to make changes and customization to other shops.

But when we create product on All shops, part of the data is not saved. We have custom fealds in product describtion.

What might be the problem?

Screens:

![image](https://user-images.githubusercontent.com/56867869/67271306-eedffc00-f4c2-11e9-973a-c

[2019-10-22 09:01] elrosi commented on #15612
The update to Prestashop  1.7.6 helped. In the version PS1.7.5.2 in .tpl files the translations work correctly, in PHP files not.
Thank you for your help and response.

[2019-10-22 09:06] khouloudbelguith commented on #16061
Hi @devonto,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-10-22 09:09] rdy4ever commented on #16044
Hi @Allbutfancy
I'd recommend to try these two things:

1. Manually delete the contents of `var/cache/` folder (dev and prod folders)
2. If this doesn't help, try to regenerate .htaccess, by disabling and enabling pretty urs in Configuration->Traffic and SEO.

[2019-10-22 09:13] Allbutfancy commented on #16044
Hey @khouloudbelguith

I will create the bug report and reach back with the information.

Hi @rdy4ever
Thanks for the response, will try it and let you know how it went.

Cheers!

[2019-10-22 09:17] khouloudbelguith commented on #16062
Hi @Navus1,

Thanks for your report.

What is the exact data? is it a price or description?

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see red request information in N

[2019-10-22 09:19] khouloudbelguith commented on #16044
Hi @Allbutfancy,

Thanks!

Waiting for your feedback.

[2019-10-22 09:20] khouloudbelguith commented on #16038
@Fixmetal,
This is a public space.
You can provide me the Infos by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-22 09:22] khouloudbelguith commented on #15920
@nateBitworks, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-10-22 09:25] flyman30 commented on #14834
Quel est la version du module e-transaction que tu utilise ?

Parcequ'avec PrestShop **1.7.4.*** il faut la version **3.0.12** il n'y a qu'a partir des versions Prestashop **1.7.6.*** qu'il faut le module version **3.013** d'e-transaction...

[2019-10-22 09:32] khouloudbelguith commented on #15966
@banan44, thanks for your feedback.
As I can see in your log

[2019-10-13 11:41:57] [CLEANING CACHE] File dev removed
[2019-10-13 11:42:01] [CLEANING CACHE] File prod removed
[2019-10-13 11:42:02] Migrating old setting file...
[2019-10-13 11:42:02] parameters file already exists!
[2019-10-13 11:42:02] Finished...
[2019-10-13 11:42:30] <div class="upgradeDbOk">[OK] SQL 1.7.6.1 SET SESSION sql_mode

[2019-10-22 09:33] Navus1 commented on #16062
It is custom describtion fealds.

[2019-10-22 09:37] #15981 closed, assigned to jolelievre

[2019-10-22 09:37] colinegin commented on #10057
Hello @MatShir , this issue seems to be a duplicate of #14750 , can we close it ?

[2019-10-22 09:38] colinegin commented on #10053
Hello @MatShir , this issue seems to be a duplicate of #14750 , can we close it ?

[2019-10-22 09:39] khouloudbelguith commented on #16062
@Navus1, this `custom description fields` is introduced by a custom module?

Thanks!

[2019-10-22 09:40] Navus1 commented on #16062
Unfortunately we do not get any error.

[2019-10-22 09:41] #10060 closed, assigned to nobody

[2019-10-22 09:41] Navus1 commented on #16062
Yes, it is custom module

[2019-10-22 10:02] #10057 closed, assigned to nobody

[2019-10-22 10:04] MatShir commented on #16039
@Robin-Fischer-PS
FYI: All the improvements are going to be tagged on this issues to fix them after all the order page component is done :)

[2019-10-22 10:06] #10053 closed, assigned to nobody

[2019-10-22 10:14] khouloudbelguith commented on #16062
@Navus1, you need to handle the Multistore feature https://devdocs.prestashop.com/1.7/modules/creation/#handling-the-multistore-feature
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-22 10:14] #16062 closed, assigned to nobody

[2019-10-22 10:15] LouiseBonnard opened #23320 "Add note to avoid duplicate content with Data Privacy module"
**Is your feature request related to a problem? Please describe:**
When both installed and enabled on a store, Data Privacy and GDPR modules can display the same content in the front office.

**Describe the solution you'd like:**
Add a note on the configuration page of the GDPR module to make the merchant aware that using this module can replace in a way the use of the Data Privacy module.

[2019-10-22 11:01] Jacky75 opened #16064 "trait AssetUrlGeneratorTrait is not handling Server Media"
**Describe the bug**
Compressed JS and CSS are not using the configured Server Media

**To Reproduce**
Steps to reproduce the behavior:
1. In the platform backoffice setup a Server Media
2. Enable CSS compressione and Javascript Compression
3. Open the website homepage.
4. Look at the static content urls. All images are using the Server Media, the compressed JS and CSS aren't using the Server Medi

[2019-10-22 11:09] khouloudbelguith commented on #16064
Hi @Jacky75,

We are aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9890
So, I close it.
Thanks!

[2019-10-22 11:09] #16064 closed, assigned to nobody

[2019-10-22 11:09] khouloudbelguith commented on #16064
Duplicate of #9890

[2019-10-22 11:41] colinegin commented on #10597
Hello @matks , do you know if there is anything left here to do ?

[2019-10-22 11:42] colinegin commented on #10602
Can we close this issue then ? :)

[2019-10-22 11:43] #10576 closed, assigned to sarjon, tomas862

[2019-10-22 11:44] #10565 closed, assigned to tomas862

[2019-10-22 11:45] #10559 closed, assigned to sarjon

[2019-10-22 11:48] colinegin commented on #10399
Hello @khouloudbelguith do you reproduce this bug with the latest version ?

[2019-10-22 11:49] #15427 closed, assigned to Progi1984

[2019-10-22 11:53] colinegin commented on #10293
Hello @khouloudbelguith, do you know if this issue still occurs in the latest version ?

[2019-10-22 12:00] colinegin commented on #13555
Hello @LouiseBonnard , what do you think of this issue ?

[2019-10-22 12:03] colinegin commented on #10475
Hello @PierreRambaud , is this issue still valid since a PR improving the password policy has already been merged ?

[2019-10-22 12:11] LouiseBonnard commented on #13555
As said @marionf, you can add Bosnian in the International > Translations page of the back office, this language is available. As for the currency, you won't be able to find it natively since Bosnian is available in the back office only as a language and not as part of a localization pack. It means that there is no localization content (currencies, taxes, units, etc.) to download with it. But if y

[2019-10-22 12:20] ovallepa commented on #16058
If all groups are enabled and I have verified it in the database.  I really don't know what happens.  I have verified each condition for carriers to appear but they still do not appear.  The information that I have taken from reference has been:

https://www.prestashopmanager.com/useful-articles/tips-tricks/what-to-check-if-prestashop-carriers-are-not-available-at-checkout/

[2019-10-22 12:22] pmartin-webimpacto commented on #13389
Still with problems with Memcached on backoffice and API/webservice,  returns old values in some cases.

We need cache only on FrontOffice, how can we do that?

[2019-10-22 12:22] atomiix commented on #13228
After looking to this issue, it seems that it's okay for me.

The key `tax` is being computed only when `PS_TAX_DISPLAY ` is true and that makes sense to me as every `$subtotals` keys will be displayed on the cart summary and if `PS_TAX_DISPLAY` is false we don't want it to be displayed.

`$taxAmount ` is calculated from the 2 variables `$total_including_tax` and `$total_excluding_tax` that are al

[2019-10-22 12:23] ovallepa commented on #16058
If you like, I can provide you with the credentials to verify the fault.

[2019-10-22 12:26] khouloudbelguith commented on #10293
Hi @colinegin,

I manage to reproduce the issue with PS1.7.6.1 & the branch 1.7.6.x.
It was ok with PS1.7.5.2
So, it is a regression
https://drive.google.com/file/d/1WWfprXUyLRFre2GTpsgagdw5Subu9caP/view
I’ll add this to the debug roadmap.
Thanks!

[2019-10-22 12:38] khouloudbelguith commented on #10399
Hi @colinegin,

I manage to reproduce the issue with PS1.7.6.1.
Steps to reproduce the issue:
1. Create a new page category
2. Click on the view to see pages for this category
3. Create more than two pages
4. Filter pages by Title
5. Edit the page
6. Click on the cancel button, you are redirected to the main page (Design => Pages)
7. the filter is still active

https://drive.google.com/file/d/1KXw

[2019-10-22 12:46] khouloudbelguith commented on #16058
@ovallepa, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-22 12:49] PierreRambaud commented on #10475
The PR about the password policy has not been merged https://github.com/PrestaShop/PrestaShop/pull/12824 still waiting for a decision to know what we want.
Still thinking it should be merged.

[2019-10-22 12:50] PierreRambaud commented on #13389
@pmartin-webimpacto Not implemented yet, as far as I know. Ping @khouloudbelguith if you know how to implement Memcached only for frontend?

[2019-10-22 12:57] toutantic opened #16066 "Displayed module version is not updated after a module upgrade"
#### Describe the bug
Displayed module version is not updated after a module upgrade

#### Expected behavior
After the module update is finished the page is reloaded to display the correct version number.

#### Steps to Reproduce

1. Go to the module manager page on a shop where there is at least a module to update
2. Click on the update module button
3. After the green notification says Update Fi

[2019-10-22 13:22] khouloudbelguith commented on #16066
Hi @toutantic,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & the branch 1.7.6.x.
https://drive.google.com/file/d/1bNtp4qdBW37OSC1_2ZNMNt63rrNHnN0d/view
I’ll add this to the debug roadmap.
Thanks!

[2019-10-22 13:32] r1si commented on #12667
fix with change this line:
line 797 file classes/db/DB.php
change line 796:
$string = strip_tags(Tools::nl2br($string));
with this:
$string = str_replace(array("\r\n", "\r", "\n", AddressFormat::FORMAT_NEW_LINE, PHP_EOL), '<br />', $string);

[2019-10-22 13:37] khouloudbelguith commented on #10293
Same issue on the customers page

[2019-10-22 13:49] yannicka commented on #9967
Has this been resolved?

On PrestaShop 1.7.6.1, I've a similar issue:

![2019-10-22-15-45-43](https://user-images.githubusercontent.com/22885898/67292507-58700280-f4e3-11e9-8147-2cf555501dc1.gif)

The ecotax is not updated even if each combination have a different ecotax amount.

[2019-10-22 13:52] khouloudbelguith commented on #9967
Hi @yannicka,

The issue is not fixed yet.
It is added to our bug roadmap.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-10-22 14:07] iw0der commented on #15019
Hi,
To understand: can we skip the check made during installation? What happens, for example, if the index increase with 1, 3, 5, 7, 9 and, later, with 10,12,14,16? In short, if they are always "increased" sometimes even and sometimes odd; does the software survive?

73s,
Arturo.

[2019-10-22 14:09] xiaoyuan1998 commented on #16057
Hi, @khouloudbelguith
I chek the file in //web/modules/ps_emailsubscription
![image](https://user-images.githubusercontent.com/7703076/67294303-f238af00-f4e5-11e9-8973-55c56db58026.png)

the version is 2.3.1
![image](https://user-images.githubusercontent.com/7703076/67294353-01b7f800-f4e6-11e9-9aa8-9927a5d6ee4a.png)

i chek in the path:

![image](https://user-images.githubusercontent.com/7703076/6

[2019-10-22 14:20] khouloudbelguith commented on #16057
@xiaoyuan1998, The config.xml file is automatically generated by PrestaShop when the module is installed
https://devdocs.prestashop.com/1.7/modules/creation/module-file-structure/#cache-file-config-xml
You need to upgrade your module, the latest version is v2.5.1, as reported here: https://github.com/PrestaShop/PrestaShop/issues/9810

Thanks!

[2019-10-22 14:32] colinegin commented on #13934
@MatShir wdyt of this issue ?

[2019-10-22 14:45] pmartin-webimpacto commented on #14935
Hi @PrestaShop/prestashop-core-developers .
We have same issue with autoAddToCart with cart_rules without code.
Our database is in remote server (RDS Amazon),  and this method is too slow in queries and load time.

[2019-10-22 15:15] globox91 opened #16067 "Faceted Search Module 3.4.0, unlimited filter depth, cannot filter deep subcategories in a category"
**Describe the bug**

If I set unlimited category filter depth (0), I cannot filter displayed subcategories on category page if these subcategories aren't direct children of a category I'm currently in.
When I click on an option, ajax request executes without changing anything.

The module searches for selected categories with current category as a parent.
But with unlimited depth I can have all p

[2019-10-22 15:27] khouloudbelguith commented on #16067
Hi @globox91,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_facetedsearch v3.4.0.
When Category filter depth = 1.
I have Only the subcategories
![image](https://user-images.githubusercontent.com/16067358/67302422-282f6080-f4f1-11e9-9a44-62839fd32516.png)
Category filter depth = 0, I have unlimited categories
![image](https://user-images.githubusercontent.com/16067358/67302509-44cb98

[2019-10-22 15:28] #10701 closed, assigned to nobody

[2019-10-22 15:28] matks commented on #10701
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15511

[2019-10-22 15:41] matks commented on #10602
Yes 👍 remaining issues have a dedicated issue

[2019-10-22 15:41] #10602 closed, assigned to matks

[2019-10-22 15:43] devonto commented on #16061
Sure, here you go:

**- host**
Private server
**- server setup and configuration**
Server information Linux #1 SMP Wed Feb 13 16:19:36 EST 2019 x86_64
Server software version: Apache
PHP version: 7.2.23
Memory limit: 256M
Max execution time: 1200
Upload Max File size: 16M
**- PrestaShop version (source)**
As above - 1.7.6.1
**- debug mode report**
Debugger does not appear when exception is thrown

[2019-10-22 15:44] marionf commented on #14732
Stock location is empty when product has combinations

![capture d'écran_2093](https://user-images.githubusercontent.com/13449658/67304012-86f5d980-f4f3-11e9-9522-e777e783735b.png)

![capture d'écran_2094](https://user-images.githubusercontent.com/13449658/67304036-8e1ce780-f4f3-11e9-90e9-bd6563abbd01.png)

And I have the error below when I click on "Open details"

![capture d'écran_2095](https://

[2019-10-22 15:44] Robin-Fischer-PS opened #16068 "BO Customer Edit : Fatal Error"
**Describe the bug**
When trying to edit a customer, there is a fatal error.

This is probably caused by this PR https://github.com/PrestaShop/PrestaShop/pull/15448

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > Customer
2. Try to edit a Customer > Crash

**Screenshots**
![customer edit crash](https://user-images.githubusercontent.com/55688534/67303874-56ae3b00-f4f3-11e9-81bc-537

[2019-10-22 15:48] devonto commented on #16061
On this transaction, it was the Prestashop "Payments by check" module

[2019-10-22 15:49] colinegin commented on #11893
@matks do you think this issue will be solved with manufacturer page migration ?

[2019-10-22 15:52] matks commented on #16048
I confirm that Google is forcing https in results, so people coming from google arrive on the https and see a scary screen 😱
![Capture d’écran 2019-10-22 à 17 47 59](https://user-images.githubusercontent.com/3830050/67304711-89a4fe80-f4f4-11e9-9d23-6e119f925a98.png)
![Capture d’écran 2019-10-22 à 17 51 47](https://user-images.githubusercontent.com/3830050/67304770-a4777300-f4f4-11e9-8a06-fa292

[2019-10-22 15:52] colinegin commented on #15893
We can close this issue as the fix has been done. See this issue for more info : https://github.com/PrestaShop/PrestaShop/issues/15827

[2019-10-22 15:52] #15893 closed, assigned to nobody

[2019-10-22 15:57] LouiseBonnard opened #16070 "ISO codes are mixed up"
**Is your feature request related to a problem? Please describe:**
It appears some languages are in PrestaShop but with the wrong ISO codes. Actually there are two issues:

- for dependent languages such as Peruvian Spanish or Brazilian Portuguese, the language ISO code is the country code

- other countries just have the wrong language code, it is the case for Slovenia and Vietnam

We need to fin

[2019-10-22 15:58] SignalBip commented on #15914
Hello @khouloudbelguith
I have run the commands in the Project_folder path and deleted the folders dev nd prod in var/cache, then I had tried to disable debug mode from the backoffice, and it still isn't working

Can you please help
Thank you for your support

[2019-10-22 16:02] khouloudbelguith commented on #15914
@SignalBip,
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-10-22 16:03] khouloudbelguith commented on #16061
@devonto, this is a fresh install PS1.7.6.1 or an upgrade from an old version?

Thanks!

[2019-10-22 16:05] devonto commented on #16061
@khouloudbelguith An upgrade from 1.7.5.2

[2019-10-22 16:10] matks commented on #11893
@colinegin No, because the issue is on front-office, not back-office

[2019-10-22 16:13] khouloudbelguith commented on #16061
@devonto, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-10-22 16:17] devonto commented on #16061
@khouloudbelguith Sure - anonymized and attached
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3757062/log.txt)

[2019-10-22 16:27] devonto opened #16073 "Email Theme - Outlook Footer Alignment"
**Describe the bug**
Footer email content is not center-aligned in new email templates when viewing email in Outlook

**Screenshot**
![Annotation 2019-10-22 172634](https://user-images.githubusercontent.com/6807236/67307893-206fbc00-f4f1-11e9-8a6a-2820264ab735.jpg)

**Additional information**
PrestaShop version: 1.7.6.1
Outlook version: Office 365 Subscription, version 1909

[2019-10-22 16:28] khouloudbelguith commented on #16061
@devonto, thanks for your feedback.

@devonto, could you please check that your `composer.lock` file is similar to this https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.lock

Thanks!

[2019-10-22 16:30] colinegin commented on #13228
To be honest i'm not sure of this issue, @matks will better know what we are supposed to do with this issue and if this is still needed.

[2019-10-22 16:31] devonto commented on #16061
@khouloudbelguith I have ran the master through a diff checker with the one locally and they are identical

[2019-10-22 16:32] khouloudbelguith commented on #16073
Hi @devonto,

Thanks to navigate to your BO => Design => Email Theme => Email themes section => click on View action for the modern template & check the HTTP of any email.
https://drive.google.com/file/d/1g7pXiNKu-DGQ72pRNtDXa1ZAuXQknWWi/view

Thanks to check & feedback..

[2019-10-22 16:34] devonto commented on #16073
Thanks, yes - in all "modern" browsers and email clients it works correctly, however Outlook uses a very old rendering engine.

There are additional lines of code in the templates targeted specifically at Outlook.

Please send yourself a test message and view it within Outlook, only then will you see the misalignment.

[2019-10-22 16:39] khouloudbelguith commented on #16061
@devonto, what are the exact steps that you did previously before this issue occurs?

Thanks!

[2019-10-22 16:40] devonto commented on #16061
@khouloudbelguith Nothing specific... just browse the back office.

As mentioned above, it went away for a while, but then when a new order came in, it reappeared.

[2019-10-22 16:44] khouloudbelguith commented on #16073
@devonto, I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1wpTWb4KX2HN_nyzLbNBF48wi4MqiBWaA/view
Thanks to check & feedback.

[2019-10-22 16:45] khouloudbelguith commented on #16061
@devonto, what are the exact Active payment in your shop?
![image](https://user-images.githubusercontent.com/16067358/67309372-0c7d8780-f4fc-11e9-8eb6-1851f4defaf8.png)

Thanks!

[2019-10-22 16:46] devonto commented on #16073
Sorrky @khouloudbelguith, the Outlook I am referring to is the desktop software package; not the web-based interface

[2019-10-22 16:48] devonto commented on #16061
PayPal v5.0.2
Bank transfer v2.0.4
Payments by check v2.0.4

I do also have "Stripe Payment Pro" v 3.9.3 installed, but it does not appear in that list.

[2019-10-22 16:59] banan44 commented on #15966
@khouloudbelguith so what should I do now? You have seen yourself there is a problem with the module. Unfortunately, there is no log when I updated PS from 1.7.5.2 to 1.7.6.0. From that moment the problem with Faceted Search started.

[2019-10-23 00:00] luke-park commented on #10354
This is clearly a bug and the recommended solution is to modify the internal code of Prestashop...  Seriously?  Why not just _fix_ the bug?

[2019-10-23 07:43] PierreRambaud commented on #10354
@luke-park We are waiting for your pull request :smiley_cat:

[2019-10-23 07:47] sarjon commented on #14732
If you open order view (legacy), does it show "Tax included" or "Tax excluded"?

[2019-10-23 07:48] khouloudbelguith commented on #15645
Hi @deivida19,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-23 07:48] #15645 closed, assigned to nobody

[2019-10-23 07:49] khouloudbelguith commented on #15637
Hi @gorkavidal,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-23 07:49] #15637 closed, assigned to nobody

[2019-10-23 08:03] colinegin commented on #11893
My bad @matks, i did not know it was on FO !

[2019-10-23 08:09] marionf commented on #14732
@sarjon

It shows also tax included instead of tax excluded

[2019-10-23 08:16] sarjon commented on #14732
@marionf I think it's not related to the setting you have changed.

[2019-10-23 08:18] khouloudbelguith commented on #16029
@gabrielfin, thanks for your feedback.
So for the Argentina Pack:
iso code => ar
Flag: ![23px-Flag_of_Argentina svg](https://user-images.githubusercontent.com/787075/67129408-f8244c80-f1d4-11e9-882d-628508d89f63.png)
 Wikipedia: https://en.wikipedia.org/wiki/Argentina
For the Antigua and Barbuda
The iso code for Antigua and Barbuda is `ag`
And the flag for the Antigua and Barbuda is ![lang_mini_2_

[2019-10-23 08:23] Jan-andlv commented on #14822
Any news on that point as we face sam issue with 1.7.5.2 PS version - October 23th

[2019-10-23 08:28] IlPizza79 commented on #11435
+1, I think this "default method selection" should have been in PS core since long time ago :-)

[2019-10-23 08:56] LouiseBonnard commented on #16029
Hello there! Argentina has several ISO codes in PrestaShop:

- the country code (ISO 3166-1 alpha 2) is `ar`
- the language code (ISO 639-1) is `es` for Spanish and another one that has a customized language code `ag` for Argentinian Spanish

We must pay attention not to mix up country and language codes: `ar` matches the Argentina country code and the Arabic language code while `ag` does not matc

[2019-10-23 08:57] #16068 closed, assigned to Progi1984

[2019-10-23 09:01] matks commented on #13228
@atomiix analysis is good 👍 my worries were not met by reality so we can close this issue safely 😊

[2019-10-23 09:01] #13228 closed, assigned to atomiix

[2019-10-23 09:01] #15986 closed, assigned to nobody

[2019-10-23 09:17] WorldSellers opened #16076 "PS 1.7.6 - Error on auto cart rule when free shipping is active"
**Describe the bug**

When you have 2 cart rules without code (automatic add on the cart) but with different priority and one of them have a free shipping a message with no carrier available for this address is displayed on the checkout on the carrier section yet there are carrier available.
This case is also reproducing when the cart rule with free shipping has a code.

**To Reproduce**
Steps to

[2019-10-23 09:18] globox91 commented on #16067
I managed to reproduce this behaviour on fresh install (1.7.6.1 + 3.4.0)

1. You need to create the following category structure (create a child for a "men" category, in this case)

![изображение](https://user-images.githubusercontent.com/56883311/67377979-2e741a00-f58f-11e9-93f9-0a37bbc88883.png)

2. Go to "Men" category ("/3-clothes")

![изображение](https://user-images.githubusercontent.com/568

[2019-10-23 09:25] 01park opened #16077 "Postcode format Slovenia - format invalid - Prestashop 1.7"
I had a customer complaining about not being able to enter the postcode for Slovenia.
Format should be NNNN, but as default PS has for Slovenia SL-NNNN

Its easy to fix in BO, but maybe with a future update of PS this format can be corrected.

PrestaShop version: 1.7.6.1
PHP version: 7.2

[2019-10-23 09:52] zuk3975 commented on #15977
About the JSON API snake_case.
Currently we mostly use it for inside ajax requests. For this reason I suggest using camelCase.
1. Symfony has native serializer which can be used directly in controller for php DTO's with `$this->json`. We wouldn't need to have custom serializer configuration so it would save couple code lines in each response.
2. We get camelCased objects in js, which is what we wa

[2019-10-23 09:54] khouloudbelguith commented on #16073
Hi @devonto,

I manage to reproduce the issue with PS1.7.6.1.
![1761](https://user-images.githubusercontent.com/16067358/67380631-eeab3380-f58a-11e9-8198-69d1e7ecc534.PNG)
It is reproduced only on the desktop, it is Ok on the web
![image](https://user-images.githubusercontent.com/16067358/67380752-18645a80-f58b-11e9-8b64-3e966e7139b2.png)

With PS1.7.5.2, by default, we have the same position
Outl

[2019-10-23 09:56] devonto commented on #16073
@khouloudbelguith Thanks - I suppose the 1.7.5.2 version isn't as noticeable as the new design, so may have gone unnoticed.

Sorry, I do not have a fix for it; busy working on getting the upgraded site in question live.

[2019-10-23 10:02] Fixmetal commented on #16038
Thanks @khouloudbelguith , that's what I meant.
You should have a Dropbox invitation in your mailbox.
Thanks

[2019-10-23 10:03] khouloudbelguith commented on #16077
Hi @01park,

Thanks for your report.
I have the same behavior as PS1.7.5.2 & PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/67381977-084d7a80-f58d-11e9-809a-e039eeac4601.png)
We should change it.
Ping @LouiseBonnard @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-23 10:10] Azeus1980 commented on #9757
Hi

The fix don't work on my version 1.7.5.2 and i d'ont have any solution to patch this bug.
Have you an Idea ?

Thanks

[2019-10-23 10:12] sarjon opened #16080 "Price formatting error in order history"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO and login
2. Make sure you have at least one order placed
3. Go to your account and open "Order history"
4. Click "Details" on any order and see error at the bottom of the page.

**Screenshots**
https://prnt.sc/pmztbx

**Additional information**
PrestaShop version

[2019-10-23 10:13] jouino16 opened #16081 "Customer reassurance module (version: 4.1.1): some bugs"
Once the module configuration page is open:

1. I get a warning about the permissions of the folder "img_perso" even if it has 755:
[code]
2. So I cannot upload a custom image: when I try to upload one, I get successful message but it is not updated.
3. I cannot add a fourth block (based on the fact that there are three by default): when I try to add one, I get successful message but it is not add

[2019-10-23 10:15] matks commented on #16080
Probably because of https://github.com/PrestaShop/PrestaShop/pull/15448

[2019-10-23 10:18] ced--ced opened #16082 "Prestashop 1.7.6.1 - [PrestaShopDatabaseException code 0] in Admin > Categories"
If the debug mode is activated and I edit a category in the admin, I get this error upon saving:

Une erreur inattendue s'est produite. [PrestaShopDatabaseException code 0]
in English: An error has happened. [PrestaShopDatabaseException code 0]

There's no other indication than this.

![Screen Shot 2019-10-23 at 11 16 10 (2)](https://user-images.githubusercontent.com/71735/67383272-d1746600-f586-1

[2019-10-23 10:22] khouloudbelguith commented on #16080
Hi @sarjon, @matks,

I have the same issue with develop branch
![image](https://user-images.githubusercontent.com/16067358/67383612-c40fa980-f58f-11e9-8dd4-9f6c2075906f.png)

I’ll add this to the debug roadmap.

Thanks!

[2019-10-23 10:23] lk22 commented on #9542
I know this issue is closed by now. though im wondering,
after refactored the files from https://github.com/PrestaShop/PrestaShop/pull/10201/files

i still have speed issues while have Memcached server added,
if i deactivate the use of cache storing i actually cut about 1 - 2 seconds of my load time how is that?

im using Prestashop 1.7.4.2

[2019-10-23 10:30] khouloudbelguith commented on #16076
Hi @WorldSellers,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2
We are aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/11172
So, I close it.
Thanks!

[2019-10-23 10:30] #16076 closed, assigned to nobody

[2019-10-23 10:31] khouloudbelguith commented on #16076
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/11172

[2019-10-23 10:36] khouloudbelguith commented on #16082
Hi @ced--ced,

Thanks for your report.
You are using multilanguage, what is the exact other language are you using?
The friendly URL is set in all languages?

Thanks!

[2019-10-23 10:45] Lupi1986 opened #16993 "Fatal error code"
Hi there,

I've tried to install gsitemap, but I got an error message… Now my module area shows this error code :

[PrestaShop] Fatal error in module file :/home/xxxxxxxx/public_html/modules/gsitemap/gsitemap.php:
Uncaught Error: Call to undefined method Gsitemap::trans() in /home/xxxxxxxx/public_html/modules/gsitemap/gsitemap.php:47 Stack trace: #0 [internal function]: Gsitemap->__construct() Pre

[2019-10-23 10:47] tonspeed commented on #9757
Hi, I updated it presta to 1.7.6.1 and then the patch worked...

TS

[2019-10-23 10:57] edensh89 opened #16083 "Change language on category page - ContextErrorException in ProductAssembler.php line 87:"
**Describe the bug**
I have two languages in my prestashop, default language works good.
Select second language of some categories occur this error -
ContextErrorException in ProductAssembler.php line 87:
Notice: Undefined offset: 0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.multi-i.at/de/
2. Click on PAPERS UND FILTER

**Screenshots**
If applicable, add screenshots or

[2019-10-23 10:59] khouloudbelguith commented on #16081
Hi @jouino16,

Thanks for your report.

I did not manage to reproduce the issue with PS1.7.6.1 & the `blockreassurance` module v4.1.1.

This is an SVG issue, we are aware of the issue, it is reported here: https://github.com/PrestaShop/PrestaShop/issues/15939

Yes, I manage to reproduce the issue with blockreassurance v4.1.1.

Thanks!

[2019-10-23 11:06] khouloudbelguith commented on #16083
Hi @edensh89,

Thanks for your report.
I have an error 500
![image](https://user-images.githubusercontent.com/16067358/67386762-dc82c280-f595-11e9-8e2c-87bdd6b57b03.png)
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apa

[2019-10-23 11:23] edensh89 commented on #16083
Debug mode is active now, here is the report:
Whoops, looks like something went wrong.
1/1
ContextErrorException in ProductAssembler.php line 87:
Notice: Undefined offset: 0
in ProductAssembler.php line 87
at ErrorHandler->handleError('8', 'Undefined offset: 0', '/home/o84ipywxapn1/public_html/classes/ProductAssembler.php', '87', array('rawProduct' => array('id_product' => null, 'id_supplier' => n

[2019-10-23 11:27] khouloudbelguith commented on #16067
@globox91, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & the ps_facetedsearch v3.4.0.
https://drive.google.com/file/d/1T7uKzMd8J9fjjozQ65g8lvPJk_JpmjE1/view
It was ok with the ps_facetedsearch v2.2.0.
It is a regression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, plea

[2019-10-23 11:28] jouino16 commented on #16081
@khouloudbelguith
Thank you for your quick reply.

Just in case it can help, I upload a couple of images for the folder permission issue. And for the record, I work on Windows:
![warning](https://user-images.githubusercontent.com/12447492/67388435-eb1ea900-f598-11e9-83af-5c3d935a6654.png)
![permissions](https://user-images.githubusercontent.com/12447492/67388449-f4a81100-f598-11e9-9fd2-c66d1870b3c

[2019-10-23 11:28] ced--ced commented on #16082
Hi @khouloudbelguith,

I'm using English (English) - en-us.

The friendly url is set but I don't what you mean by "in all languages", since the option is only on or off globally.

Thanks
![Screen Shot 2019-10-23 at 12 25 10 (2)](https://user-images.githubusercontent.com/71735/67388432-86f7e700-f590-11e9-8c6a-66bc0785ab1a.png)

![Screen Shot 2019-10-23 at 12 25 26 (2)](https://user-images.githubuse

[2019-10-23 11:28] edensh89 commented on #16083
I don't know the other information, can you please help me?

[2019-10-23 11:29] rudSarkar commented on #14822
Thanks for the update 😁

On Wednesday, October 23, 2019, Jan-andlv <notifications@github.com> wrote:

--
Rudra Sarkar

[2019-10-23 11:31] rudSarkar commented on #14822
I think not fixed yet! @khouloudbelguith Can you please give a update about it?

[2019-10-23 11:35] khouloudbelguith commented on #16081
@jouino16, thanks for your feedback.

I did not manage to reproduce the issue with the `blockreassurance` module v4.1.1.
I attached a screen record
https://drive.google.com/file/d/1mPckUca8LjYZhZcrQjh_S1yg83FP_Jln/view

Thanks to check & feedback.

[2019-10-23 11:36] khouloudbelguith commented on #14822
Hi @rudSarkar,

Sorry no, it is not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-10-23 11:41] rudSarkar commented on #14822
I can understand i am trying to find out the point, Once i got the point i will PR.

Thanks for response @khouloudbelguith 😁

[2019-10-23 11:41] khouloudbelguith commented on #16083
@edensh89, did you use the module ps_viewedproduct? what is the exact version?
I think, it is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/11367
which is fixed on the ps_viewedproduct v1.2.0 with this PR: https://github.com/PrestaShop/ps_viewedproduct/pull/10
Thanks to check &feedback.

[2019-10-23 11:43] khouloudbelguith commented on #16082
@ced--ced,

I attached a screen record
https://drive.google.com/file/d/1_aZ4-GRBWCdWbHW4_YntAGj5q5Ga1wlT/view

Thanks to check & feedback.

[2019-10-23 11:51] edensh89 commented on #16083
No this is not the same issue.
You can see that other categories works, I can't understand why.

[2019-10-23 12:09] marionf commented on #14732
Yes, but maybe it should @MatShir wdyt ?

[2019-10-23 12:16] ced--ced commented on #16082
Thanks for the screencast. Yes I can confirm the friendly url is set for all the languages.

[2019-10-23 12:43] mickaelandrieu commented on #14173
As #15081 is not merged, I don't think so. The problem is not only about requiring the right file.

But if you think so, feel free to close the related PR so I don't have to maintain it anymore if you don't plan to accept it.

[2019-10-23 12:43] khouloudbelguith commented on #16083
@edensh89, did you use the module ps_viewedproduct module? what is the exact version?

Thanks!

[2019-10-23 12:48] khouloudbelguith commented on #16082
@ced--ced, if you enable the `Accented URL` on your shop, this issue occurs again?
![image](https://user-images.githubusercontent.com/16067358/67394237-21adf100-f5a4-11e9-987d-0c2f6248ae99.png)

Thanks!

[2019-10-23 12:54] khouloudbelguith commented on #16038
@Fixmetal, I couldn't find errors in your file `access.log`.

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. Update the cost price
5. save the product
6. wait for an error, you should see red request information in Net

[2019-10-23 12:59] ced--ced commented on #16082
Yes

[2019-10-23 13:01] khouloudbelguith commented on #16082
@ced--ced,

You need to enable debug mode in your store and debug request which is sent for category save in your browser, using DevTools, so:

1. enable debug mode
2. go to the category page
3. open up developer tools
4. go to Network tab
5. save the category
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response"

[2019-10-23 13:06] 8ternity opened #16086 "Sending Supplier ID - Supplier_refrence with Webservice not record while success results"
**Describe the bug**
I have an integration with a product datas import and dropship and they have an issue with sending via Webservices the Supplier ID (already created in the store) and the webservice sent succesfully the post, but in Prestashop the Supplier are not present.

All the other informations pushed worked (Product Title, summary, description, features, size, weight, etc). Only Supplier

[2019-10-23 13:15] ced--ced commented on #16082
There is no error in Network.

[2019-10-23 13:18] khouloudbelguith commented on #16082
@ced--ced, could you please provide me the error log file, you can find it in the path `Projet_folder/var/logs`.
Thanks!

[2019-10-23 13:41] khouloudbelguith commented on #16086
Hi @8ternity,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1.
I used this script.
[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-10-23 13:57] 8ternity commented on #16086
Did it will be fixed also on PS 1.7.5.1 ?

Because i will need it also. We have multiples supplier on Web Services Suppliers.

[2019-10-23 14:28] anthony3794 commented on #15057
Hello guys,
I have the same problem, but I do not have a solution.
Do you have a solution ?
I am in multiboutique with a version 1.7.6.1
Thanks

[2019-10-23 14:31] jouino16 commented on #16081
@khouloudbelguith
Thank you for the video and your effort. Unfortunately, it does not work for me, even if the folder has the right permissions. I used Git Bash (on windows) to perform the check and it has 755 as I showed in my previous post. I cannot figure out why it does not work for me.

[2019-10-23 14:50] LouiseBonnard commented on #13476
Work has been done, please find below the list of the pull requests to review:

- [ ] [Cron Tasks Manager](https://github.com/PrestaShop/cronjobs/pull/49)
- [ ] [Date Of Delivery](https://github.com/PrestaShop/dateofdelivery/pull/18)
- [ ] [Merchant Expertise](https://github.com/PrestaShop/gamification/pull/70)
- [ ] [PrestaShop Security](https://github.com/PrestaShop/prestafraud/pull/12)
- [ ] [E

[2019-10-23 14:53] edensh89 commented on #16083
No, I don't use this module.

[2019-10-23 14:59] khouloudbelguith commented on #16061
@devonto, could you please try to disable each module one by one, check if the issue occurs again & feedback.
Thanks!

[2019-10-23 15:02] edensh89 commented on #16083
Sorry but I don't know what are those fields, where do you see them?

Thanks for your help

[2019-10-23 15:02] khouloudbelguith commented on #15966
@banan44, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this w

[2019-10-23 15:07] khouloudbelguith commented on #16083
@edensh89, it is displayed on your exception
![image](https://user-images.githubusercontent.com/16067358/67407214-7c047d00-f5b7-11e9-91bf-558bdb43dea4.png)

Did you delete any language from the database or from the BO?

Thanks!

[2019-10-23 15:07] edensh89 commented on #16083
Ahh I know, these fields are from Pyme system that we sync with.

[2019-10-23 15:08] beniwal commented on #15430
Its not clear. You not understanding my point. Please check attached screenshot.

Product is in category clothes, you can see in screenshot. But in front end its not showing. It display only when we enable "Show products from subcategories".

This issue specially comes when faceted search module enabled.

![cat2](https://user-images.githubusercontent.com/437314/67406918-5f2a7280-f5d4-11e9-9090-ea2

[2019-10-23 15:08] edensh89 commented on #16083
I didn't delete anything, but we did a sync with Pyme that might cause issues..

[2019-10-23 15:10] khouloudbelguith commented on #16083
@edensh89, could you please check if the sync with Pyme causes this issue or not & feedback.

Thanks!

[2019-10-23 15:11] ced--ced commented on #16082
Do you need the dev.log as well? The file is too big

[2019-10-23 15:12] Ortezjan commented on #15430
Faceted search is broken now. They mean in this main category.
![Screenshot_3](https://user-images.githubusercontent.com/49912771/67407768-4dd36d00-f5b8-11e9-99ec-10c35ad4269c.png)

[2019-10-23 15:18] khouloudbelguith opened #16091 "Minor issue: duplicate icon in the predefined selection"
**Describe the bug**
In the `blockreassurance`'s configuration page, we have a duplicate icon in the predefined selection, so we have a missing carrier icon.
As reported in this ticket: #16081 by @jouino16
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Module Manger page
2. Search for the blockreassurance module v4.1.1
3. Click on Configure button
4. Add a new block
5. Click on M

[2019-10-23 15:18] ced--ced commented on #16082
@khouloudbelguith, I have reloaded the dev.log file
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3763110/dev.log)

[2019-10-23 15:18] khouloudbelguith commented on #16091
Ping @Progi1984

[2019-10-23 15:20] khouloudbelguith commented on #16081
@jouino16, about your last issue, I created a new issue https://github.com/PrestaShop/PrestaShop/issues/16091
It is added to our bug roadmap.

Could you please try to re-install the module & clear the cache.

Thanks to check & feedback.

[2019-10-23 15:24] LouiseBonnard commented on #16077
Hi, we definitely should change it if the default value is wrong. ;-)

[2019-10-23 15:29] khouloudbelguith commented on #16082
@ced--ced, did you use the `megamenu` module?
I found this exception

[code]

Thanks to check & feedback.

[2019-10-23 15:32] ced--ced commented on #16082
This is an error that has been corrected already.

[2019-10-23 15:35] khouloudbelguith commented on #16082
@ced--ced,

Could you please provide me the access link to your shop.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-23 15:43] xiaoyuan1998 opened #16092 "Out of stock bug"
when the product out of sotck, ps display well:

![image](https://user-images.githubusercontent.com/7703076/67410379-4f9f2f80-f5bc-11e9-90f2-6e445122f1dc.png)

https://maison-des-meches.fr/perruque-lisse/front-lace-wig-remy-100-cheveux-naturels-coupe-bob

when there is the last article,   ps display well:
![image](https://user-images.githubusercontent.com/7703076/67409924-8f194c00-f5bb-11e9-9b13-c

[2019-10-23 15:44] ced--ced commented on #16082
Ok thanks

[2019-10-23 15:48] beniwal commented on #15430
Why it works differently in faceted search and without faceted search. I added the reason behind it also but nobody is looking at it.

Here is the reason, ps_facetedsearch\src\Adapter\MySQL.php line number 139 its comparing all with AND condition.

FACETED SEARCH MODULE IS LOOKING FOR id_category_default ONLY not other categories.

I replaced this code

if (!empty($whereConditions)) {

[2019-10-23 15:51] khouloudbelguith commented on #16092
Hi @xiaoyuan1998,

I did not manage to reproduce the issue with PS1.7.6.1.

The button "Add to cart" will be displayed & the message "There are not enough products in stock" should be displayed.
I attached a screen record
https://drive.google.com/file/d/1rRlxeh7GEYqVUiH8KxnL5x6esfqeK9v8/view

PS: in the BO => Shop Parameters => Product Settings => "Display remaining quantities when the quantity is

[2019-10-23 16:01] marionf commented on #15430
@beniwal

Yes, this is exactly the wanted behavior if "Show products from subcategories" is disabled.
You just have to enable it if you want to display the products in clothes category

[2019-10-23 16:02] djodjo3 commented on #15891
Hello @eriknuds, we've just performed some updates on our side that resolved the key exchange issue. Could you let us know if it's also resolved on your end?
Thanks in advance!

[2019-10-23 16:19] gabrielfin commented on #16029
@khouloudbelguith yes, exactly.

@LouiseBonnard I'm very new to Prestashop, so I don't want to meddle, but you should probably have 3 codes: ISO 3166 (country), ISO 639 (language) and the locale (IETF BCP 47, or whatever you are currently using in the "Language code" column). ISO 3166 would be used for the flag and any other country related stuff, ISO 639 for any "general" language related stuff,

[2019-10-23 16:31] banan44 commented on #15966
I have put that file to the main folder. This is what I have:

![fireshot](https://user-images.githubusercontent.com/48493952/67414388-48c7eb00-f5c3-11e9-852d-3bed642a6266.png)

[2019-10-23 16:32] LouiseBonnard commented on #16029
@gabrielfin, right [here](https://github.com/PrestaShop/PrestaShop/tree/develop/localization). ;-)

[2019-10-23 16:35] centoasa commented on #15961
@khouloudbelguith sorry, very sorry: I was add this `<script async type="text/javascript" src="{$js.uri}" {$js.attribute}></script>` into /themes/leo_emarket/templates/_partials/javascript.tpl
Deleted it, now all works well and fine!

[2019-10-23 16:35] #15961 closed, assigned to nobody

[2019-10-23 17:21] beniwal commented on #15430
But when i enable that sorting of products not working based on category. To use that we need to disable this option.

[2019-10-23 17:30] beniwal commented on #15430
I know filter module from last 10 years. We were thinking that prestashop will improve it to some better solution like add it to all product listing pages eg, search, manufacturer, price drops etc.

But what i can see is that its just reducing functions on the name of improvements. I see why people getting fadeup day by day from prestashop.

Please keep in mind that what happened to OSCOMMERCE.

[2019-10-23 18:11] 8ternity commented on #16086
@khouloudbelguith i will wait upon resolution, i have no experience on Smarty.

[2019-10-23 19:40] 8ternity commented on #16004
@khouloudbelguith Resolved. But French Canada not available, but i was able to import "French" again and with writing authorsation it's resolved.

[2019-10-23 19:48] jouino16 opened #16094 "Payment preferences (Back Office): lost carrier restriction data"
**Describe the bug**
Lost carrier restriction data when having 2 carriers withe the same name.

**To Reproduce**
Let's say we ship for both France and Europe with 2 different carriers due to the delivery time difference:

1. for France we use "UPS Express Saver" (the name of the carrier) with a description: Home delivery within 24h.
2. for Europe we use "UPS Express Saver" (the name of the carrier

[2019-10-24 04:31] mklimkiew commented on #12461
@eriknuds
So you want a newest OS but still quite old ecommerce platform.
I started my PS stores in 2015 with 1.6. Now just waiting for 1.7.7 to be released in 2020 and I move to this version. And even more - I am aware that my next update will be in 2 years. Hopefully to PS 2.0
Just think that every time you move to a new version you may implement new ideas and make your shop more competitive.

[2019-10-24 04:45] eriknuds commented on #15891
I can't expirement on that server at the moment, maybe @PierreRambaud can verify?

[2019-10-24 04:53] eriknuds commented on #12461
You seem to misunderstand. I obviously want to upgrade PS. And that is much easier and less risky if both PS 1.6 and 1.7 run on the same PHP version or at least on two PHP versions properly supported on the same OS version.

[2019-10-24 06:12] Jackpera commented on #15949
I didn't find the module causing this yet, but this is not definitely a Prestashop error.
Thanks for the support

Jacopo

[2019-10-24 06:12] #15949 closed, assigned to nobody

[2019-10-24 06:15] espacious commented on #15769
Hi khouloudbelguith, finaly i found the problem. Seems the module Custom order reference (v1.2.0 - by PrestaCraft) wa causing the problem. After disabling it everything is ok. So i removed this module from all sites and i implemented this override instead of the module:
https://www.prestashop.com/forums/topic/518497-change-the-order-reference-to-number-reference/?tab=comments#comment-3020921

Than

[2019-10-24 06:15] #15769 closed, assigned to nobody

[2019-10-24 06:31] Jackpera opened #16095 "Cart: wrong text when going out of bound for shipping text"
When adding a product to the cart that goes out of bound for shipping costs, the system shows in the Cart shipping costs as FREE. This is not the behaviour we need, as we want to write "Please contact the store".

Steps to reproduce the behavior:
1. Set a Shipping method with weight ranges and an out of bound behaviour "Deactivate shipping method"
2. Add to the cart a product that goes out of weig

[2019-10-24 06:42] mike3334 opened #16096 "Module excluding products from free shipping."
**Is your feature request related to a problem? Please describe.**
Free shipping is currently valid if the order exceeds the set value or price.

**Describe the solution you'd like**
I would like to exclude several products from free shipping.
For their delivery to be counted separately or to omit the option of free delivery from the weight and price and will charge the shipping cost according to

[2019-10-24 07:33] khouloudbelguith commented on #15668
Hi @lichesser,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-24 07:34] khouloudbelguith commented on #15670
Hi @juliendombret,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-24 07:34] #15670 closed, assigned to nobody

[2019-10-24 07:34] khouloudbelguith commented on #15674
Hi @PrestaShark,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-24 07:34] #15674 closed, assigned to nobody

[2019-10-24 07:41] marionf commented on #15430
Not everyone want this behavior, that's why there is the option Show products from subcategories
If you enable it, the product will be displayed like you want

I don't understand what you mean here, could you explain how to reproduce the problem ?

[2019-10-24 07:53] beniwal commented on #15430
I have complaint that relation between products and category is working different with and without module ps_faceted_search.

After enabling module faceted search there is no product in this category but when i disable it there is two products.

http://techarise.co.in/prestashop1761/3-clothes

I can give you access to this admin also on your email. Lot of information already added in previous comm

[2019-10-24 07:56] khouloudbelguith commented on #16094
Hi @jouino16,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
In the carriers Page, I have two carriers
![image](https://user-images.githubusercontent.com/16067358/67464917-7d2fbb80-f644-11e9-9947-4270546cbbbb.png)
In the Payment preferences, I have only one carrier displayed
![image](https://user-images.githubusercontent.com/16067358/67464960-8f115e80-f644-11e9-9acd-dadad95f3f6a.png)

[2019-10-24 07:59] khouloudbelguith commented on #16094
Related to https://github.com/PrestaShop/PrestaShop/issues/11379

[2019-10-24 08:02] #16096 closed, assigned to nobody

[2019-10-24 08:04] samuel-pires commented on #15671
Wow @Matt75, that's the kind of feature request I like, clean, complete, lots of context, and some alternatives 👍

We talked about it yesterday within the team, this avatar is also the only way to identify who answered to a customer in the customer service block in the new Orders page.

I totally agree with you, this is a great idea!

Thanks!

[2019-10-24 08:09] marionf commented on #15430
Yes, it's working different if Show products from subcategory is disabled. But it's the same if Show products from subcategory is enabled.

Yes, there is no product because Show products from subcategory is disabled. If you enable it you will see your products.

I already see it, and you tell it yourself: "It display only when we enable "Show products from subcategories"."

Why you don't enable th

[2019-10-24 08:14] beniwal commented on #15430
With enabling this "Show products from subcategories" i cannot do product position inside category.

[2019-10-24 08:16] marionf commented on #15430
Could you explain how to reproduce the problem ?

[2019-10-24 08:23] ttoine commented on #15671
could be interesting to support gravatar, too, like many other cms and web applications.
Thanks @Matt75, +1

[2019-10-24 08:25] PierreRambaud commented on #15891
@eriknuds We checked together with @djodjo3 and everything was ok on my machine. But we must be sure it's ok for you :)

[2019-10-24 08:45] khouloudbelguith opened #16098 "Cannot create a page after deleting categories page"
**Describe the bug**
After deleting the categories page, we cannot create a page associated with a subcategory of Home anymore
We have an error: The object cannot be loaded (or found)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Page
2. Create three categories page with the same name "cat1"
3. Delete all these categories with the bulk actions
4. Create a new category

[2019-10-24 08:48] khouloudbelguith commented on #16098
Ping @nesrineabdmouleh

[2019-10-24 08:56] khouloudbelguith commented on #16095
Hi @Jackpera,

So you need to not include the shipping price into your order?
`The total price = the total products + shipping cost.`
If you have the condition "Please contact the store"
![image](https://user-images.githubusercontent.com/16067358/67469606-bd933780-f64c-11e9-9018-41a0804e3c44.png)

Then, the shipping cost, in this case, = 0?

Thanks!

[2019-10-24 09:15] colinegin commented on #15298
There are 2 options :

1) we do as you recommend @Quetzacoalt91 :  If the marketplace has no information to provide to a module, we could use its tab property instead of the "Others" category by default.

2) we make it more strict : we only rely on the category available in "tab", to remove any dependency with the Addons API. This implies that every module developer adds the correct category in th

[2019-10-24 09:17] khouloudbelguith commented on #16004
@8ternity, thanks for your feedback.
So, now after importing the Canada Package, all seems ok => no exception displayed?
![image](https://user-images.githubusercontent.com/16067358/67471546-de10c100-f64f-11e9-8ae7-d0f3fb982aa9.png)

Thanks!

[2019-10-24 09:27] khouloudbelguith commented on #16095
@Jackpera, when I make this: I translate the string "Free" in backoffice, Translation > Theme > Classic > Shop > Checkout

It is well displayed in the FO  shipping cost =0.
I attached a screen record
https://drive.google.com/file/d/1Zt-uQFVdapmXsbyv55Vurq3nUcwPTLZk/view
Thanks to check & feedback.

[2019-10-24 09:28] Quetzacoalt91 commented on #15298
I'd go to the second option. It's seems only relying on the modules content is safer.

We can still use on the marketplace categories when looking for new modules (with MBO), but having them in the manager seems time-consuming for maintainers, and finally brings confusions for the merchants & module developers.

[2019-10-24 09:31] marionf opened #16100 "Collapse right column if combinations have already been generated"
When no combinations have been generated yet, attributes should be all opened and values displayed (currently they are not all opened)

![capture d'écran_2103](https://user-images.githubusercontent.com/13449658/67472629-af93e580-f651-11e9-8bb9-efdc799d9891.png)

If combinations are already generated, attributes should be collapsed and values shouldn't be displayed.

![capture d'écran_2104](https:/

[2019-10-24 09:32] Jackpera commented on #16095
Ok that's it.

What about if you have just some products (as in my case) with shipping costs, FREE for real?

[2019-10-24 09:36] khouloudbelguith commented on #15769
@espacious, Great!
Feel free to open a new one when needed.

Thanks!

[2019-10-24 09:37] khouloudbelguith commented on #15949
@Jackpera, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-24 09:44] marionf opened #16101 "As a merchant I want to edit my combination reference without editing it"
As a merchant I want to edit my combination reference without editing it to save time

Add a "Reference" column before "Impact on price" with inputs for each combination to be able to change it quickly
This column should be displayed only with large screens

![capture d'écran_2105](https://user-images.githubusercontent.com/13449658/67473763-9429da00-f653-11e9-9edf-9c14619789e8.png)

[2019-10-24 09:46] PierreRambaud commented on #15298
Agreed with @Quetzacoalt91 :)

[2019-10-24 09:58] xiaoyuan1998 commented on #16092
@khouloudbelguith     hi, could you reshare the  screen record?  cause i cant open https://drive.google.com/file/d/1rRlxeh7GEYqVUiH8KxnL5x6esfqeK9v8/view

[2019-10-24 10:04] marionf opened #16102 "As a merchant when I change a value for a combination, I want it to be automatically saved without clicking on Save"
As a merchant when I change a value for a combination in the list, I want it to be automatically saved without clicking on Save to save time and avoid performances issues

If I change the impact on price, reference, quantity or default combination it should be saved automatically
If the save is done successfully, display a success message: "**Settings successfully saved**" in _Admin.Notifications.

[2019-10-24 10:13] marionf opened #16103 "Add pagination for combinations listing"
Add pagination for combinations listing to avoid performances issues
By default display 10 combinations and a pagination system if there is more than 10 combinations

![capture d'écran_2110](https://user-images.githubusercontent.com/13449658/67483181-88471380-f665-11e9-98b3-5e44f0cedd55.png)

Don't allow to choose the number of elements by page to avoid performances issues if the user choose to mu

[2019-10-24 10:16] #16095 closed, assigned to nobody

[2019-10-24 10:24] khouloudbelguith commented on #16092
@xiaoyuan1998,
[product B.webm.zip](https://github.com/PrestaShop/PrestaShop/files/3767009/product.B.webm.zip)

Thanks!

[2019-10-24 10:37] xiaoyuan1998 commented on #16092
@khouloudbelguith   i see it,  merci :)
my pb is with this configuration, the message will not display
could you test it?
![image](https://user-images.githubusercontent.com/7703076/67477630-cbe85000-f65a-11e9-84a9-24c9d8cc4b66.png)

[2019-10-24 10:49] khouloudbelguith commented on #16092
@xiaoyuan1998, I did not manage to reproduce the issue with ps1.7.6.1.
I attached a screen record
[Untitled_ Oct 24, 2019 12_47 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/3767090/Untitled_.Oct.24.2019.12_47.PM.webm.zip)
Thanks to check & feedback.

[2019-10-24 10:51] khouloudbelguith commented on #16082
@ced--ced, in your BO => Categories page => you have an extra field
![image](https://user-images.githubusercontent.com/16067358/67478766-0226cf00-f65d-11e9-886c-daddb5be69bf.png)
Is it introduced by a custom module?

Thanks!

[2019-10-24 10:56] ced--ced commented on #16082
Hi,

Yes it is but that’s not the problem. I have tried by deactivating it and the problem remains.

Thanks,

Cedric

[2019-10-24 10:57] khouloudbelguith commented on #16082
@ced--ced, what is the exact name of this module?

Thanks!

[2019-10-24 11:09] 01park opened #16105 "Invoice: By order status : add the option select by date."
I would be good if you can select invoice status by date range. Now, when you select for example refunds and generate invoices it generates a file with all refunds. It would be better if you can select for a selected date range

PrestaShop version: 1.7.6.1
PHP version: N/A

[2019-10-24 11:19] khouloudbelguith commented on #16105
Hi @01park,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-24 11:38] marionf opened #16106 "Display regression on BO product page with the filter by categories"
Display regression (develop) on BO product page with the filter by categories

Develop:

![capture d'écran_2108](https://user-images.githubusercontent.com/13449658/67482156-91cf7c00-f663-11e9-83a6-192e518f7cf4.png)

1.7.6.1:

![capture d'écran_2109](https://user-images.githubusercontent.com/13449658/67482105-84b28d00-f663-11e9-9672-d1d83ea8bb4f.png)

[2019-10-24 11:45] PatH007 commented on #15369
Same problem for me...

[2019-10-24 12:06] 01park commented on #15721
Hi,

I tried this again and read on the forum that more people are having this issue with the multistore. The main store is filtering good, but the others don't. Can you please check this from your side.

[2019-10-24 12:17] khouloudbelguith commented on #16106
Hi @marionf,

The same issue with the develop branch.
![image](https://user-images.githubusercontent.com/16067358/67484690-e9241b00-f668-11e9-9c5f-b7a25abe2d3d.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-10-24 12:24] nicoja commented on #16048
ok I complete @matks now https is ok on main domain but load http url, thus it stil do not work
![image](https://user-images.githubusercontent.com/4049969/67485225-e7a72280-f669-11e9-98bc-3ad2201a25da.png)

[2019-10-24 12:28] xiaoyuan1998 commented on #16092
@khouloudbelguith   your disney produt is so cute :)
you did not do the right test that i mean, could you pls set the product as quantity 1,
and then try to choose 3 product,  in this condition, the message do not display.

[2019-10-24 13:19] Robin-Fischer-PS opened #16107 "Migrated order page : Invalid Number Parameter Error"
**Describe the bug**
On migrated order page, it's no longer possible to open a virtual product order.
Probably caused by : https://github.com/PrestaShop/PrestaShop/pull/15448

**To Reproduce**
Steps to reproduce the behavior:
1. Rebuild assets
2. In FO : Make an order with only a virtual product
3. In BO : Go to admin-dev/index.php/sell/orders/orders/
4. Open the order with virtual product =>  Bug

[2019-10-24 13:24] marionf opened #16108 "As a merchant I want to be able to search and sort my combinations"
As a merchant I want to be able to search and sort my combinations to make action in bulk easily
I can search and sort by (asc and desc) :
- attribute value (Ex: S, M, L, white, red ...)
- by reference
- by impact on price (tax excl)
- by final price (tax excl)
- by quantity

[2019-10-24 13:43] marionf opened #16109 "Add tax excl for impact on price and final price in product combinations tabs"
The impact on price and the final price is always tax excl no matter the tax configuration, so it could be could to display it
Change "impact on price" by "impact on price tax excl."
Change "final price" by "final price tax excl."

![capture d'écran_2111](https://user-images.githubusercontent.com/13449658/67491294-fcd57e80-f674-11e9-9c11-d237bf32ff69.png)

[2019-10-24 13:58] khouloudbelguith commented on #16092
@xiaoyuan1998, it is OK in my side
https://drive.google.com/file/d/172kP2vTMe56kuPp3b_mP3pSKsjz3woAE/view
Thanks!

[2019-10-24 14:08] labibyanes92 opened #16110 "Fatal Error: Call to undefined function idn_to_ascii()"
I am in the process of creating a new store
I get the following error whenever I try to register a customer

![intl](https://user-images.githubusercontent.com/56633569/67493292-f399e100-f677-11e9-9415-efd15328ddb0.PNG)

--------------------------------------
server Linux #1 SMP Debian 3.16.59-1 (2018-10-03) x86_64

version: Apache

PHP : 5.6.40-0+deb8u1

Limite de mémoire : 128M

Temps maximal d'e

[2019-10-24 14:12] lichesser commented on #15668
I'm quite surprised that this issue was closed. What further info did you want?

I thought it is sufficiently clear that the PrestaShop installation process and later on the update process for Prestashop and it's modules creates many files which are meant only for development environments. Many of those files are undesirable for a production environment.

Only people developing PrestaShop or Prest

[2019-10-24 14:14] khouloudbelguith commented on #16110
Hi @labibyanes92,

You should install & enable the intl extension on your server.
![image](https://user-images.githubusercontent.com/16067358/67494320-4de77180-f679-11e9-8f6b-9c5900ba7978.png)

Thanks to install it & feedback.

[2019-10-24 14:16] labibyanes92 commented on #16110
thank you @khouloudbelguith

[2019-10-24 14:18] khouloudbelguith commented on #16110
@labibyanes92, it is OK?

[2019-10-24 14:19] Klemart3D commented on #16021
This module is developed by DM Concept. May be it's not very well compatible with last PS version.
I contacted the developer team, I will let you inform about their response...

[2019-10-24 14:22] labibyanes92 commented on #16110
@khouloudbelguith  not yet I'm going to check how to install it

[2019-10-24 14:25] khouloudbelguith commented on #16021
@Klemart3D, thanks!
Waiting for your feedback.

[2019-10-24 14:27] khouloudbelguith commented on #15668
@lichesser, I 'm waiting for your feedback about my last comment for more than 30 days & I haven't a response from you.
You have different points in this issue.

Thanks!

[2019-10-24 14:36] khouloudbelguith commented on #15721
@01park, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.1 & ps_facetedsearch v3.4.0.
https://drive.google.com/file/d/1tD2kJXRy3W-pxfvkohTQk4yL9nIbHY4Q/view

Thanks to check the screen record & feedback.

[2019-10-24 14:38] khouloudbelguith commented on #15495
Hi @dennispw,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-24 14:38] #15495 closed, assigned to nobody

[2019-10-24 14:43] khouloudbelguith commented on #16110
@labibyanes92, you can follow this link: https://www.php.net/manual/en/book.intl.php
I hope this helps you.
Please be aware that the bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your

[2019-10-24 14:45] centoasa opened #16112 "customer password reset link error"
Prestashop 1.7.6.1 with debian 9 php 7.2.23
When customer try to reset own password, email sent well with link, but this link jump to same request reset page, and not on the page where customer can change own password.
As with friendly url as not.

[2019-10-24 14:46] LouiseBonnard commented on #16001
Hi @SylNicky, I hope you're fine! Would you feel like creating a pull request to add Ivory Coast as a localization pack? It means that all information like units, tax rates, language(s), currency, etc. will be available natively. Here is how it is supposed to be: https://github.com/PrestaShop/PrestaShop/blob/develop/localization/az.xml

Let me know, thank you very much in advance!

[2019-10-24 14:56] labibyanes92 commented on #16110
thank you i will check and feedback

[2019-10-24 14:59] khouloudbelguith commented on #16110
@labibyanes92, thanks!
Waiting for your feedback.

[2019-10-24 15:00] Prestaworks opened #16113 "regenerating High definition images"
**Describe the bug**
If you decide to change the use of high definition images in the shop, there is no way to regenerate these without first deleting all other images and regenerate everything. If there is any issues during the highdefinition generating process there is also no way to re-generate just these images.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings images
2. act

[2019-10-24 15:03] khouloudbelguith commented on #16112
Hi @centoasa,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/15JnkSiTojEwkNH4mc-fIi8bgLdLjpfPe/view
Here's my server configuration
![image](https://user-images.githubusercontent.com/16067358/67498671-221bba00-f680-11e9-9f3a-8426526108f9.png)
Thanks to check & feedback.

[2019-10-24 15:06] khouloudbelguith commented on #16113
Hi @Prestaworks,

We are aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13957
So, I close it.
Thanks!

[2019-10-24 15:06] #16113 closed, assigned to nobody

[2019-10-24 15:06] khouloudbelguith commented on #16113
Duplicate of #13957

[2019-10-24 15:07] khouloudbelguith commented on #13957
PR: https://github.com/PrestaShop/PrestaShop/pull/16097

[2019-10-24 15:09] Prestaworks commented on #16113
yes I just wrote it because I made a PR to solve it. And they wanted an issue.

[2019-10-24 15:10] khouloudbelguith commented on #16113
@Prestaworks, yes, now it is required to create an issue for all PRs.
Thanks!

[2019-10-24 15:13] lichesser commented on #15668
@khouloudbelguith

Ok.

Your last comment was a confirmation that you managed to reproduce the issues I reported.
You confirmed that the `composer` files are created for you also and confirmed the issue with the `config.xml` file.

Thus I had nothing to add to the ticket as you confirmed my report.

Instead I was waiting on information if this behavior is indeed expected. Maybe I did not make suff

[2019-10-24 15:13] #16080 closed, assigned to Progi1984

[2019-10-24 15:17] centoasa commented on #16112
@khouloudbelguith what do you think about this my issue?
The landing page is without box for new password
![Schermata del 2019-10-24 17-15-55](https://user-images.githubusercontent.com/5500935/67499925-221cb980-f682-11e9-8994-32cace25b6ee.png)

[2019-10-24 15:20] Webgaict opened #16115 "Bug combination 1.7.5.1"
Good evening to all,
there is a bug in deleting combinations in 1.7.5.1 If I delete a combination, then I go to the front end of the product in question and choose the combination that is no longer present, it gives me a completely random combination. How can I handle this change of combinations? Is there an ordinarily particular?

[2019-10-24 15:38] khouloudbelguith commented on #15668
@lichesser, I checked with our developer @PierreRambaud

This is normal behavior because new versions of modules have new dependencies.
So, all the new versions it's normal to have a vendor file.
When you go through a fresh install that comes from git or download, it is already packaged with Composer but in that of the core.

Thanks for your understanding!

[2019-10-24 15:38] #15668 closed, assigned to nobody

[2019-10-24 15:42] khouloudbelguith commented on #15668
@lichesser,

I tried to make an upgrade of the module ps_emailsubscription & ps_facetedsearch, there is no `.git `file created.

Thanks!

[2019-10-24 15:47] khouloudbelguith commented on #16115
Hi @Webgaict,

Thanks for your report.
Yes, I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.1.
I attached a screen record
https://drive.google.com/file/d/1RVRp7ilmDbQlZyXlfPVXSOhdoUju8nbj/view
Thanks to check & feedback.

[2019-10-24 15:47] centoasa commented on #16112
just tried on backoffice, all works well!

[2019-10-24 15:48] khouloudbelguith commented on #16112
@centoasa, have you tried to contact your theme about this issue?
Thanks to check with them & feedback.

[2019-10-24 15:52] khouloudbelguith commented on #16110
@labibyanes92,
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration.3
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-24 15:52] #16110 closed, assigned to nobody

[2019-10-24 16:02] TristanLDD commented on #15444
Let's add a pagination system from the UI Kit and limit the number of items to 20.

[2019-10-24 16:03] #16107 closed, assigned to nobody

[2019-10-24 16:08] levyn opened #16116 "Newly created addresses are saved with the wrong `id_customer`"
**Describe the bug**
Newly created addresses are saved with the wrong `id_customer`

**To Reproduce**
Steps to reproduce the behavior:
1. The system must have at least one guest account and one non-guest account (the guest account must be created earlier)
2. Go to BackOffice -> Orders -> Add new order
3. Type the customer name or email we created earlyer (two accounts with the same email)
4. Selec

[2019-10-24 16:17] guigplt commented on #9594
I configured as recommanded (Round up away from zero, when it is half way there (recommended) and Round on each item), but the issue is still here.
It happened two times since I changed the settings.
Regards.

[2019-10-24 16:41] atomiix commented on #14762
I think this issue has been fixed because I can't reproduce it but know, following the exact same steps I got

when trying to edit a supplier.

@sarahdib, do you confirm?

[2019-10-24 16:44] samuel-pires commented on #16048
Hi @matks, should we put this one in "In Progress" ?

[2019-10-24 16:49] Quetzacoalt91 commented on #16048
Yes that's a work in progress:

* https://github.com/PrestaShop/docker-internal-images/pull/30
* https://github.com/PrestaShop/live-demo-devices/pull/10

Plus one private repository impacted

[2019-10-24 16:58] banan44 commented on #15966
@khouloudbelguith still the same problem. Please take a look at the video I have made: https://drive.google.com/file/d/1P3RTfkzV3XaQI1bamn0KT1BRVqa2zbUn/view

After refresh the module is on the installed modules list but still I cannot update Indexes.

[2019-10-24 17:47] alexdn90 commented on #15380
Hello,

We have the same problem here.
In wich file did you make this: position_in_category to null ?

Thanks,
Alexandre

[2019-10-25 07:36] khouloudbelguith commented on #15678
Hi @Jtrev94,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-25 07:36] #15678 closed, assigned to nobody

[2019-10-25 07:41] #15676 closed, assigned to nobody

[2019-10-25 07:44] khouloudbelguith commented on #15669
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-25 07:44] #15669 closed, assigned to nobody

[2019-10-25 07:45] khouloudbelguith commented on #15683
Hi @josef-var,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-25 07:45] #15683 closed, assigned to nobody

[2019-10-25 07:46] khouloudbelguith commented on #15696
Hi @Miestre,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-25 07:46] #15696 closed, assigned to nobody

[2019-10-25 08:04] khouloudbelguith commented on #15380
We have an issue reported previously about position_in_category https://github.com/PrestaShop/PrestaShop/issues/14903

Thanks!

[2019-10-25 08:05] Webgaict commented on #16115
Hi,
I manage 1400 combinations for a product and I deleted as many. In practice, if I try to change an attribute in the front end and the combination with another attribute no longer exists, the other attributes also change. In the attached video you should only change the "Lanterna led" attribute not even the "Ruote Gommate" and "Mensola Reclinabile"
https://drive.google.com/open?id=1umJhAi32u7dh

[2019-10-25 08:15] sarahdib commented on #16116
Hello @levyn

Thank you for your bug report. I reproduce the problem In 1.7.5 and 1.7.6
1.7.5.2 : https://drive.google.com/file/d/1xhJiqKG0RYMRxgRhqZN9BW_eJ0TeG2GI/view
1.7.6.1: https://drive.google.com/file/d/1TodEQm3g46VVxeZknEHg1em3YKxvVKnG/view

Step to reproduce :
1. Create two orders with the same address mail guest
2. Go to back office
3. Create an order using the guest account with the hig

[2019-10-25 08:29] devonto commented on #16061
@khouloudbelguith Sorry - disabling all payment modules (And other third party modules) had no effect.

If it helps, the error is being produced on an AJAX call to `/admin/ajax.php` with the form data of `getNoficiations=1`

It does not fail on page load and curiously, it only appears to fail on the following BO pages.
It's easy to spot the failure in the BO when there is no notification count nex

[2019-10-25 08:40] sarahdib commented on #14762
@atomiix I got the same error message : The address for this supplier have been deleted.

@colinegin  What is the wanted behavior :
1. Create two shops
2. Go to Brands & Supplier
3. Create a supplier for all shops
4. Then delete this supplier for shop A
5. Edit the supplier in shop B
6. Error message who indicated that the supplier is deleted

![Capture d’écran 2019-10-25 à 10 37 45](https://use

[2019-10-25 08:52] khouloudbelguith commented on #16115
@Webgaict, so in your case, the "Ruote Gommate" and "Mensola Reclinabile" do not exist anymore?
Could you please explain to me how many combinations do you have for the "Lanterna led" & "Ruote Gommate" and "Mensola Reclinabile" at first before the deletion.
After that, did you delete the "No" combination for the "Lanterna led" attribute?
Thanks to provide me all the steps to reproduce the issue.

[2019-10-25 09:02] khouloudbelguith commented on #15966
@banan44, it is not well installed so, you have issues during the update of indexes.
Have you a lot of data in your shop? Suppliers, features, attributes, brands, categories?
The install is too slow in your case.

[2019-10-25 09:03] m4dh opened #16117 "Non cumulative rebate codes problem"
I have a rebate code that should not accumulate with other discounts
when I put in one item that already has a discount and use the code - the system blocks it
when I put in 2 items that have no discount - the system also grants me a discount for discounted items ...
<img width="1127" alt="Zrzut ekranu 2019-10-25 o 11 02 13" src="https://user-images.githubusercontent.com/7033391/67558262-f13a9400-

[2019-10-25 09:08] khouloudbelguith commented on #16061
@devonto, no, this option is not working as reported here: https://github.com/PrestaShop/PrestaShop/issues/9965
Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-25 09:10] #15061 closed, assigned to nobody

[2019-10-25 09:12] m4dh opened #16118 "Statistics of doesn't work from 1 oct 2019"
Sales statistics have stopped working since October 1 this year, it did not coincide with any update.
I see visits but, sale amount and orders doesn't work

<img width="674" alt="Zrzut ekranu 2019-10-25 o 11 10 43" src="https://user-images.githubusercontent.com/7033391/67558880-21366700-f718-11e9-9722-d24f0d05051c.png">
<img width="1147" alt="Zrzut ekranu 2019-10-25 o 11 10 28" src="https://user-i

[2019-10-25 09:13] #16117 closed, assigned to nobody

[2019-10-25 09:16] PierreRambaud commented on #15977
@zuk3975 FYI, Symfony is also able to return snake case for response with `$this->json` it's configurable. But we can get inspired from what google do and take camelcase as you suggest: https://google.github.io/styleguide/jsoncstyleguide.xml?showone=Property_Name_Format#Property_Name_Format

[2019-10-25 09:17] Webgaict commented on #16115
Hi,
the combinations that have been canceled are "Impianto illuminazione: con spina 220 and Lanterna led no" the rest of the attributes remain unchanged and possible as a combination.

[2019-10-25 09:18] Webgaict commented on #16115
Is there an order in which the system takes the available combinations? If they have been canceled

Thanks for help!

[2019-10-25 09:19] devonto commented on #16061
@khouloudbelguith Thanks - email sent

[2019-10-25 09:25] sarahdib commented on #16118
Hello @m4dh

Thank you for your bug report.

Did you disable the option Enable invoices  in BO => Orders => Invoices ?

![Capture d’écran 2019-10-25 à 11 24 25](https://user-images.githubusercontent.com/3034677/67559898-1aa8ef00-f71a-11e9-9285-9956c200b184.png)

[2019-10-25 09:29] khouloudbelguith commented on #16061
@devonto, I just sent an email, can you check it & feedback.
Thanks!

[2019-10-25 09:29] m4dh commented on #16118
Yes, Invoices are enabled.

[2019-10-25 09:44] sarahdib commented on #16118
@m4dh
Could you try to generate invoices  in BO => Orders => Invoices by date
![Capture d’écran 2019-10-25 à 11 43 31](https://user-images.githubusercontent.com/3034677/67561229-b9cee600-f71c-11e9-96a1-2c276024d60a.png)
And see if there is invoices.

[2019-10-25 09:49] marionf commented on #16116
It's a bug, so I guess it should be fixed and the address associated to the good customer

[2019-10-25 09:52] khouloudbelguith commented on #16115
@Webgaict, so did you delete the combination: `con spina 220` for the attribute `Impianto illuminazione` & the combination `No` for the attributes `Lanterna`?

But, if it is deleted, why it is displayed in the FO, it should not be available the `No`   when the `con spina220` is selected? is it? this is your problem?

[2019-10-25 09:53] m4dh commented on #16118
No pro forma invoices found for this period

<img width="1175" alt="Zrzut ekranu 2019-10-25 o 11 51 15" src="https://user-images.githubusercontent.com/7033391/67561813-cbfd5400-f71d-11e9-9c6c-913247d12a65.png">

i set generation of invoices from 01.10.2019 to 25.10.2019

[2019-10-25 09:54] m4dh commented on #16118
i can generate invoice in person before 01.10.2019

[2019-10-25 09:55] Webgaict commented on #16115
No it is something that is good for us, the fact is that other attributes change that should not be changed if I put "spina 220V"

[2019-10-25 09:59] marionf opened #16119 "When I want to check a category, it's like I clicked on it instead of just select it"
**Describe the bug**
When I want to check a category, it's like I clicked on it instead of just select it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Categories
2. Try to check a checkbox
3. You are redirected like you have clicked on it

**Screenshots**
https://drive.google.com/open?id=1p89GeJ8XKjNZPewkjeUhZ_YLW_rOEJqK

**Additional information**
PrestaShop version: deve

[2019-10-25 10:05] sarahdib commented on #16118
Do you have invoices generated or the alert ?

[2019-10-25 10:10] khouloudbelguith commented on #16115
@Webgaict,

But it is not the behavior by default in PrestaShop.
For example:
I have those combinations by default
![image](https://user-images.githubusercontent.com/16067358/67562617-5c886400-f71f-11e9-9821-392f36a23757.png)
In the FO, when I select Size M, the Dimension - 60x90cm s displayed
![image](https://user-images.githubusercontent.com/16067358/67563014-27304600-f720-11e9-93b8-0bdc774c06b6

[2019-10-25 10:10] m4dh commented on #16118
in a mont before i have generated invoices

[2019-10-25 10:13] sarahdib commented on #16118
Could you try to make a screen record when you try to generate invoices from 1-10-2019 to 25-10-2019 ?

[2019-10-25 10:15] Webgaict commented on #16115
In fact it is not displayed, Lanterna led no change in Lanterna led yes when I put the "spina 220v" attribute, but some attributes are changed that should not be changed.
I attach the product link so you can do tests
Try to see directly on the product what happens when you put the"spina 220v" attribute.
https://www.egvisualshop.it/it/carretti/699-134901-carretto-in-legno-per-eventi-shabby-chic.htm

[2019-10-25 10:17] m4dh commented on #16118
this screen was sent before
<img width="1175" alt="Zrzut ekranu 2019-10-25 o 11 51 15" src="https://user-images.githubusercontent.com/7033391/67563626-5b583680-f721-11e9-8d28-a33fd8bab19f.png">

[2019-10-25 10:20] Webgaict commented on #16115
Can you tell me why the other attributes are also changed and the combination does not change only for the "led lantern from no to yes"?

[2019-10-25 10:20] sarahdib commented on #16118
in the screenshot you generated invoices only for today. I need a screen record from 1-10-2019 to 25-10-2019

[2019-10-25 10:21] marionf commented on #14762
If you create a supplier for all shops, then select only one shop in the context and delete the supplier it should be deleted only for the selected shop in the context.
If you select "all shops" in the context and delete the brand, it should be deleted for all shops.

Go to Brands & Supplier
Create a supplier for all shops
Then delete this supplier for shop A
Edit the supplier in shop B
Error mess

[2019-10-25 10:27] m4dh commented on #16118
i generate invoices from 01-10-2019 i 25-10-2019
after clicking button <generate> system change dates ... i write this 23 minutes ago  :-)

[2019-10-25 10:27] m4dh commented on #16118
only alert

[2019-10-25 10:43] khouloudbelguith commented on #16115
@Webgaict, so before changing, I have this
![image](https://user-images.githubusercontent.com/16067358/67564684-cdca1600-f723-11e9-8919-fa7986c76c0d.png)
When I select the `con spina 220`
I have this
![image](https://user-images.githubusercontent.com/16067358/67564732-e4706d00-f723-11e9-8d88-39cabbe3ceb8.png)
All the attributes are well displayed.
In fact, for the attribute "Ruote gommate" => ther

[2019-10-25 10:52] Webgaict commented on #16115
@khouloudbelguith Ho modificato l'ordinamento degli attributi ma non è cambiato niente.
![mensola](https://user-images.githubusercontent.com/56969939/67565659-403bf580-f726-11e9-9d1e-37c318c9dacd.png)
![ruote](https://user-images.githubusercontent.com/56969939/67565660-40d48c00-f726-11e9-8763-bddc0f866524.png)

[2019-10-25 10:52] Webgaict commented on #16115
I changed the sorting of the attributes but nothing changed. *

[2019-10-25 11:03] khouloudbelguith commented on #16115
@Webgaict, yes, because the change of position doesn't work, we are aware of the issue, it is added to our bug roadmap
It is reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9836
As you can see, the id of "Si" is 213 & id of "No" is 214, so that's why Si is displayed at first.
Thanks!

[2019-10-25 11:19] Webgaict commented on #16115
However I need an imminent solution how can I do?

[2019-10-25 11:25] Webgaict commented on #16115
However the display in the FO has changed the value no comes out as the first but if I put the attribute with "spina 220v" the attributes "ruote gommate" and "mensola reclinabile" are changed to yes

[2019-10-25 11:37] Webgaict commented on #16115
Can I change ids from the database?

[2019-10-25 11:45] copyact opened #16120 "Prestashop 1.7.6.1 can't see ean"
Hello, I have imported some products to prestashop 1.7.5.1 and then upgraded it to 1.7.6.1.

Now, when I go to product page in back office I see 0 in ean13 field in every product.
I checked in database that in table ps_products ean13 field is filled.

When I enter some number  in ean13 in backoffice and update product I see that this field changes in databese but when I refresh that product page I

[2019-10-25 11:50] sarahdib commented on #16118
@m4dh The data is based on invoice if there is no invoice there is no stats.

There is an issue already created for this bug #15319

[2019-10-25 11:50] #16118 closed, assigned to nobody

[2019-10-25 12:03] atomiix commented on #14762
Actually, the error message is not that the supplier has been deleted but that the **address** of the supplier we are trying to edit has been deleted.

But I guess this should not happen either.

[2019-10-25 12:22] centoasa commented on #16112
was this module https://www.leotheme.com/module/prestashop-modules/828-boom-captcha-google-recaptcha.html create me issue! Deleted it, now all works well!

[2019-10-25 12:22] #16112 closed, assigned to nobody

[2019-10-25 12:27] khouloudbelguith commented on #16115
@Webgaict, no you cannot change it from the database, you need to switch between ids which is an action very risky.
The combination by default in your case is
`Ruote gommate => No` & `Mensola Reclinabile => No`, that's why in first it is well displayed.
But if you change the `spina 220v` & you try to change it to No again, `Ruote gommate => Yes` & `Mensola Reclinabile => Yes`.
It is normal behavio

[2019-10-25 12:27] #16115 closed, assigned to nobody

[2019-10-25 12:29] khouloudbelguith commented on #16112
@centoasa, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-25 12:35] marionf commented on #14762
Yes :+1:

[2019-10-25 12:36] sarahdib commented on #16120
Hello @copyact

Thank you for your bug report.

I install a shop in 1.7.5. add an ean13 to a product then upgrade the shop. After upgrading I go to catalog > Product edit the product and the ean13 wasn't 0 but the one I set up before.

https://drive.google.com/file/d/1BaXzTbThWRVV1sjB6JFj417dk5lAd2Ss/view

[2019-10-25 12:46] khouloudbelguith opened #16121 "Unable to create new Brand Address when VAT identification number is mandatory"
**Describe the bug**
If we have the VAT identification number required in countries, we cannot create a new Brand Address.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International -> Locations -> Countries
2. Edit Spain (España) or your country
3. Switch "Do you need a VAT identification number?" to yes.
4. Go to Catalog -> Brands & Suppliers -> Brands page
5. Create a new Brand A

[2019-10-25 12:47] khouloudbelguith commented on #16121
Related to https://github.com/PrestaShop/PrestaShop/issues/15622
Maybe caused by this PR: https://github.com/PrestaShop/PrestaShop/pull/11726

[2019-10-25 12:48] khouloudbelguith commented on #16121
Ping @boubkerbribri

[2019-10-25 12:51] LouiseBonnard opened #16122 "Update tax rates"
As part of the localization packs rework, tax rates must be updated. Here is the list of the packs to update:

- [x] #16078 Update Argentinian conversion and tax rates
- [x] #16291 Update Austrian tax rates

20% Standard Rate
13% Reduced Rate
10% Reduced Rate
0% Zero Rate

- [x] #16079 Update Azerbaijani tax rates
- [x] #16291 Update Belarusian tax rates

20% Standard Rate

- [x] #16244 Update Bra

[2019-10-25 12:52] jolelievre commented on #16043
Closed by #16047

[2019-10-25 12:52] #16043 closed, assigned to matks

[2019-10-25 12:57] zuk3975 commented on #15977
okay, what about request params for POST for example. Should we post in in camelCase too? for example, submitting formData posts in snake_case (because of form names being snake_cased)

[2019-10-25 12:58] danvaly commented on #15946
I believe i found the bug. I have the same problem on a shop.
I have English and Norvegian languages installed on the shop but set active only norvegian.
I keep english only for admin setup.
When i set my user language to display English i have the same situation reported by @supravirtual and when i switch my user language to NO is working correctly.

PS Version is 1.7.6.1

[2019-10-25 13:01] khouloudbelguith commented on #16118
Duplicate of #15319

[2019-10-25 13:37] #16024 closed, assigned to atomiix

[2019-10-25 13:49] dreamtheme opened #16124 "Customer Reassurance module v.4.1.1 - Absolute URL's problem"
In PS 1.7.6.1 with the upgraded version of Customer Reassurance module v.4.1.1 - there are two bugs:
Bug 1:
The submitted images are stored as absolute URL in the Database - example in the ps_psreassurance database under custom_icon field, we find absolute URL like this
"ps_dev/ps_clean/ps1761/modules/blockreassurance/views/img/img_perso/ic_verified_user_black_36dp_1x.png"

Old version database im

[2019-10-25 14:12] khouloudbelguith commented on #16124
Hi @dreamtheme,

Thanks for your report.
1. About the first bug, I have the same behavior
I attached a screen record
https://drive.google.com/file/d/1tAgdrM7beaagQAQiRN18q1JskaUqcrpL/view
Ping @Progi1984, @@PrestaShop/prestashop-product-team what do you think of his suggestion?
This behavior is changed after upgrade to 4.1.1.

2. @dreamtheme, about the second bug, I did not manage to reproduce the

[2019-10-25 14:14] colinegin commented on #16073
What do you guys think ? I think this is a very small issue, I don't think this is necessary to fix it for 1762.

[2019-10-25 14:37] khouloudbelguith commented on #16061
Hi @devonto,

As discussed in the email.
It is a module issue.
I will close the ticket, feel free to open a new one when needed.
Thanks!

[2019-10-25 14:37] #16061 closed, assigned to nobody

[2019-10-25 14:41] devonto commented on #16061
Just for the benefit of others, the specific module in question is "`[Stripe Payment Pro (SCA-ready)](https://addons.prestashop.com/en/payment-card-wallet/17856-stripe-payment-pro-sca-ready.html?ab=1)`".

A request has been sent to the developer to resolve it.

[2019-10-25 15:00] khouloudbelguith commented on #15946
Hi @danvaly,

It is Ok in my side
https://drive.google.com/file/d/1EAh3_kgRYKK0tacx8-FeyAwCpF3eHIBI/view

Thanks!

[2019-10-25 15:14] heithemmoumni opened #16128 "Remove smarty from engine template for PrestaShop and use twig"
**Is your feature request related to a problem? Please describe.**
please remove smarty from engine template for Prestashop and use twig

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add

[2019-10-25 15:16] MatShir opened #16129 "[Create Order] Reduce client view in Create Order Page 2/2"
**Is your feature request related to a problem? Please describe.**
Yes, it is. When I look to the page create an order, which is a very old and very good customer, my page is really high !!
If we have this important list + some modules, this page become very very slow.
=> I have many customers in this case

**Describe the solution you'd like**
If it's possible to reduce all these informations such

[2019-10-25 15:17] MatShir commented on #15444
#16129 issue for the case in the order creation.
Thanks @guirou62 for your feedbacks

[2019-10-25 15:28] agalussio opened #16130 "Faceted Search Module 3.4.0 Lose Order of Categories"
**Describe the bug**
When I activate the ps_facetedsearch module the order of the products within the categories fails. If I disable it, it is sorted correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. When I activate the ps_facetedsearch Module
2. I lose the order of the categories you had

I've got it set up:
Product Setting - Default Order by = "Position Inside Category"

https://w

[2019-10-25 15:30] khouloudbelguith commented on #16128
Hi @heithemmoumni,

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-25 15:48] MatShir opened #16131 "[Create Order] Hooks extra carrier inside manual order"
**Is your feature request related to a problem? Please describe.**
It would be great to have a hook extra carrier in BO (the same as the one in the checkout process) in the manual order form to handle pickup points for example.
There's also the hook actionCarrierProcess that could be triggered to have the same behaviour in BO.

[2019-10-25 15:52] agalussio commented on #9956
I have this problem with the new configuration:

Prestashop 1.7.6.1
ps_facetedsearch 3.4.0

Filter by position inside category: FAIL

[2019-10-25 16:02] khouloudbelguith commented on #16130
Hi @agalussio,

This issue is fixed in the develop branch.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14879 to fix the issue.
I attached a screen record
https://drive.google.com/file/d/1jmR8364Ew4uiPs6v_lTpkCNV2NyKadyM/view
It is fixed in the next version PS1.7.7.0.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-25 16:03] khouloudbelguith commented on #16130
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/14616

[2019-10-25 16:03] khouloudbelguith commented on #9956
Hi @agalussio,

This issue is fixed in the develop branch.
Here's the PR: #14879 to fix the issue.
I attached a screen record
https://drive.google.com/file/d/1jmR8364Ew4uiPs6v_lTpkCNV2NyKadyM/view
It is fixed in the next version PS1.7.7.0.

Thanks!

[2019-10-25 17:00] Hlavtox opened #16132 "Translation copying between themes is not working"
**Describe the bug**
Copying translation between templates is not working. It throws an error message.

Reproduced with 8.0.x branch
![image](https://user-images.githubusercontent.com/16067358/177371526-33c7c8ad-a50c-472b-bce1-05e2e10ddb85.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Translations
2. Scroll down to 'Copy'
3. Select from: Czech, classic theme
4. S

[2019-10-25 17:10] zuk3975 commented on #16131
#15982

[2019-10-25 17:11] zuk3975 commented on #16129
#15982

[2019-10-25 18:43] ced--ced commented on #16082
@khouloudbelguith, it's "Advanced Custom Fields".

[2019-10-25 20:41] Peterr-K opened #16133 "No set Stores should hide "Our stores" from sitemap -> pages list."
No set stores in Backend - preferences - contact - stores, should hide "Our stores" from sitemap - pages list.

The "index.php?controller=stores" should also not work then.

[2019-10-25 20:58] banan44 commented on #15966
@khouloudbelguith yes, I have a lot of data and still growing. The database weighs over 1 GB now.

Suppliers: 0
Brands: 34
Attributes: 0
Categories: over 500
Features: over 600
Articles: almost 1000

What should I do to install the module faster?

[2019-10-25 21:06] julio899 commented on #10161
Excellent Thanks @agunk31 to  * 25 Oct 2019 * I can solvent with it. Is Awesome that it fail
It is surprising that at this date a follow this failure.
It has given me in different environments. and I have been able to solve it by commenting. This facment as illustrated by the images.

[2019-10-25 21:51] Peterr-K opened #16134 "Changing order of Pages is not reflesting in the footer"
When I change order of the pages in Backend -> Design -> Pages, it is not changed on front end - footer via Link Widget module.

Numbers in "Position" column in the backend is changed, but again not reflesting in Link Widget. Maybe by mistake Link Widget is sorting modules by "ID of the page" and not by "Position ID" ?

**Steps to reproduce the issue:**

You need to check that all pages are checke

[2019-10-25 23:13] go-sudo opened #16135 "can't load image for module"
HEllo

we can't upload image and when we click on upload button there is an erreur on the f12 dev mode of chrome

also when i select a category when i want to manage my vertical menu so i refresh the page the category is not any more selected and i should do it again

issue with vertical menu
https://drive.google.com/file/d/1skDhps9IcV1ttNL3wfR_HBrdWAPwqCSN/view

https://drive.google.com/file/d/1v

[2019-10-26 09:56] matks commented on #16128
This is already happening in the back-office 😉, we are migrating BO pages one by one from legacy prestashop framework to Symfony, and each new page uses Twig instead of Smarty.

However we cannot remove Smarty from front-office now as it would be a major BC break that would make all current FO themes totally useless. This would be a very harsh move for the community and a violation of SemVer :/ .

[2019-10-26 10:16] mmarquez opened #16136 "Error in classes/ProductAssembler.php"
PrestaShop version: 1.7.5.1
PHP version: 7.3

I've get this error:

PHP message: PHP Warning:  array_merge(): Expected parameter 1 to be an array, null given in /**/classes/ProductAssembler.php on line 95

I've changed this line:

`if ($rows === false) {`

for this one:

`if (($rows === false) || (count($rows) === 0) || $rows[0] === null) {`

[2019-10-26 15:00] imaging04 commented on #9866
Hi,

I have the same issue on prestashop 1.7.6.1
<img width="2237" alt="Capture d’écran 2019-10-26 à 15 53 31" src="https://user-images.githubusercontent.com/20110197/67621611-cdf01180-f808-11e9-84ee-8103b1f8bdbc.png">

[2019-10-26 15:49] eCommerceWhiteKnight opened #16137 "In COD eMails missing informtion"
**Describe the bug**
In COD eMails,  only the placeholders are shown and the actual values are not being substituted.
Also no eMail is sent to the Store owner.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main shop
2. Click on a product then place order
3. Select Cash On Delivery
4. click place order.
5. eMail will be sent to Buyer but not to seller, and the eMail will show the foll

[2019-10-26 17:39] levyn commented on #15866
The current problem has been solved here - #16138

[2019-10-26 17:39] levyn commented on #15835
The current problem has been solved here - #16138

[2019-10-27 09:27] centoasa opened #16139 "variable for google reviews badge"
On this script google request:
` "order_id": "ORDER_ID",
          "email": "CUSTOMER_EMAIL",
          "delivery_country": "COUNTRY_CODE",
          "estimated_delivery_date": "YYYY-MM-DD",`
what are these variables in prestashop? with which values of prestashop should be replaced?
Thank you

[2019-10-27 09:59] Mamar25 opened #16140 "gray attributes out of stock on prestashop 1.7.6"
Hello,

Would it be possible to set up an additional option on prestashop 1.7.6: gray out the attributes where the stocks are at 0, so that customers can see that they have been in stock but can not order them.
Thank you

[2019-10-27 14:03] go-sudo commented on #16135
Hi @khouloudbelguith any help please

[2019-10-27 15:45] kwaun opened #16142 "HTTP 500 Error on Installation Assistant"
**Describe the bug**
I got this error while installing PS 1.7.6.1 in a prestashop/prestashop:1.7 docker container.

**To Reproduce**
1. Install PS container
docker-compose.yml
[code]
[code]
2. Open http://MYDOMAIN/
3. Follow the installation steps.
4. The last step fails and shows this information.
[code]
The PS log shows theese lines:
[code]

Notice the "zend_mm_heap corrupted" line.

Inside the

[2019-10-27 18:06] johanlantz opened #16143 "Order with zero cost can not be completed"
**Describe the bug**
We had a shipping problem so the client had to create a new order and we gave him a voucher for the entire amount (since he had already paid). So, the total to pay was 0€.

Prestashop correctly said no payment is needed for this order but the Pay button is inactive.

**To Reproduce**
Steps to reproduce the behavior:
- Put a product in the cart.
- Create a voucher for the same

[2019-10-28 07:52] khouloudbelguith commented on #15663
Hi @Nykolium,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-28 07:52] #15663 closed, assigned to nobody

[2019-10-28 07:52] sarahdib commented on #16143
Hello @johanlantz

Thank you for your bug report.

I didn't reproduce : https://drive.google.com/file/d/1Hh4_XRskitlIBoK0F29z9YeRO70ZY4oJ/view

The button was active.

Can you give us more information or a screen record.

Thank you

[2019-10-28 07:53] khouloudbelguith commented on #15684
Hi @DRFrank89,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-28 07:53] #15684 closed, assigned to nobody

[2019-10-28 07:58] sarahdib commented on #16140
Hello @Mamar25

Thanks for your report.
We are re-working on the product page
Ping @PrestaShop/prestashop-product-team what do you think of those improvements?
Can we add those improvements during the migration?

Thank you

[2019-10-28 08:37] khouloudbelguith commented on #16133
Hi @jannyba,

Thanks for your report.
I have the same behavior as PS1.7.6.1.
In fact, in the BO => ShopParameters => Contact => Stores Tab => The Parameters section doesn't exit.
It was available in PS1.6
![image](https://user-images.githubusercontent.com/16067358/67663600-31438600-f966-11e9-8847-3258fee63e9e.png)
So, Previously, we can Enable the "Display in the footer" option & "Display in the s

[2019-10-28 09:16] khouloudbelguith commented on #16142
Hi @kwaun,

Thanks for your report.
After running `docker-compose up`
I have errors: `prestashop exited with code 1`
It is an issue reported previously in this ticket: https://github.com/PrestaShop/PrestaShop/issues/15941 and fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/15942

Thanks to check  & feedback.

[2019-10-28 09:22] lichesser commented on #15380
Hy Alexandre,

we do this in our exporter script (that part of our C# application where addProduct or updateProduct happens)

Regards, L

[2019-10-28 09:22] khouloudbelguith commented on #16135
Hi @go-sudo,

As I said before: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks

[2019-10-28 09:26] khouloudbelguith commented on #16136
Hi @mmarquez,
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your

[2019-10-28 09:51] sarahdib commented on #16139
Hello @centoasa

Please be aware that this bug tracker should be used to report issues ONLY.
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).

Thanks for your understanding

[2019-10-28 09:51] khouloudbelguith commented on #16142
@kwaun,

I used this script

[code]

After running `docker-compose up`, The PrestaShop is well installed & not need to install it again.
Thanks!

[2019-10-28 09:52] #16139 closed, assigned to nobody

[2019-10-28 09:52] Klemart3D commented on #9497
Fixed by adding in `#custom-text` tag in [themes/classic/_dev/css/components/custom-text.scss](https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/_dev/css/components/custom-text.scss) file, following lines:

[code]
And recompile theme assets with `npm run build`

![before-after](https://user-images.githubusercontent.com/7419525/67668801-ef6c0d00-f970-11e9-85cf-3eb3b557cb29.jpg)

[2019-10-28 09:53] khouloudbelguith commented on #9497
Hi @Klemart3D,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-10-28 09:55] marionf commented on #16140
@sarahdib No, as it concerns the front-office

@Mamar25

If you disallow the possibility to order of out of stock products, you will see that combinations out of stock can't be ordered

![capture d'écran_2117](https://user-images.githubusercontent.com/13449658/67668597-88e6ef00-f970-11e9-93df-dfcec3c27cd8.png)

![capture d'écran_2118](https://user-images.githubusercontent.com/13449658/67668601-8c7

[2019-10-28 09:56] #16140 closed, assigned to nobody

[2019-10-28 09:56] Amulliez opened #16146 "Loading image on Prestashop 1.7.6"
Hi,

Loading images takes a lot of time (several seconds or even minutes) when an article sheet has multiple images and declinations.
5 images, 5 declinations and 5 sizes are enough to create the problem.

I am on the version Prestashop 1.7.6.0.

I looked at the logs file and he tells me this:
[2019-10-28 09:47:08] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-10-28 09:47

[2019-10-28 10:04] Klemart3D commented on #9497
Done: #16147

[2019-10-28 10:14] khouloudbelguith commented on #16134
Hi @jannyba,

In your case, this issue occurs in the FO?
I tried with PS1.7.6.1. & the Link Widget module v3.0.4.
In the BO => After changing the page's position, in the link widget configuration, pages are well displayed.
I attached a screen record
https://drive.google.com/file/d/1W-bwecKZroteXa-9fsdU7Qvj9nS9oMQp/view
Thanks to check & feedback.

[2019-10-28 10:20] sarahdib commented on #16137
Hello @eCommerceWhiteKnight

This is a duplicate of #13386

For information, PrestaShop is not compatible with php 7.3 yet you can use php 5.6 to php 7.2

Thank you

[2019-10-28 10:20] #16137 closed, assigned to nobody

[2019-10-28 10:20] #15854 closed, assigned to nobody

[2019-10-28 10:21] matks commented on #15818
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16022

[2019-10-28 10:21] #15818 closed, assigned to nobody

[2019-10-28 10:22] sarahdib commented on #16137
Duplicate of #13386

[2019-10-28 10:24] matks commented on #14663
@fraria76 your suggestion has been merged into the codebase thanks to @Gamesh in https://github.com/PrestaShop/PrestaShop/pull/15906

[2019-10-28 10:27] khouloudbelguith commented on #16146
Hi @Amulliez,

Does this issue occur in the FO or BO?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following artic

[2019-10-28 10:39] khouloudbelguith commented on #9866
Hi @imaging04,

I have the same issue with PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/67672122-876cf500-f977-11e9-9db1-384b96236a0b.png)
It is not fixed yet.
Sorry not yet.
There are some major issues to solve before this one.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-10-28 10:42] khouloudbelguith commented on #16128
Hi @heithemmoumni,

So, can we close this ticket?

Thanks!

[2019-10-28 10:45] Amulliez commented on #16146
Hi @khouloudbelguith,

This issue occur in the FO when I loading an article sheet.

The article URL doesn't exist, there is an error.

Thanks !
![Screenshot](https://user-images.githubusercontent.com/47451841/67672255-da46ac80-f977-11e9-89f9-d162fbe72c99.jpg)

[dev.log](https://github.com/PrestaShop/PrestaShop/files/3778295/dev.log)

[2019-10-28 10:56] #14762 closed, assigned to atomiix

[2019-10-28 11:06] khouloudbelguith commented on #16146
@Amulliez, did you use a custom module to reduce the loading time of your shop?

Thanks!

[2019-10-28 11:10] Amulliez commented on #16146
@khouloudbelguith, No I don't have any module to reduce the loading time.

I had a module to associate images with declinations but I already uninstall this.

Thanks.

[2019-10-28 11:15] khouloudbelguith commented on #16146
@Amulliez, after uninstalling this module, did you tried to clear cache?
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Also, thanks to navigate to your BO => Design => Images page => Try to Regenerate thumbnails.

Thanks!

[2019-10-28 11:39] Amulliez commented on #16146
@khouloudbelguith
I just try to clear cache by deleting all the folder into var/cache then I try to regenerate thumbnails.
After deleting the cache and refresh the page, the issue is still present ...

Thanks for your help.

[2019-10-28 11:46] khouloudbelguith commented on #16146
@Amulliez,

Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queries.

Thanks!

[2019-10-28 12:16] Webgaict opened #16151 "Combination"
Hi,
I can't manage 6000 combinations for a single product, what are the parameters I should increase?
Best regards

[2019-10-28 12:40] khouloudbelguith commented on #16151
Hi @Webgaict,

In the BO => Catalog => Products page => when you try to edit a product with 6000 combinations => blank page is displayed?

THanks!

[2019-10-28 12:52] Webgaict commented on #16151
Yes

[2019-10-28 12:57] khouloudbelguith commented on #16151
@Webgaict,

We are working on the product page to fix all issues.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2019-10-28 12:57] #16151 closed, assigned to nobody

[2019-10-28 12:57] khouloudbelguith commented on #16151
Duplicate of #9809

[2019-10-28 13:11] 8ternity commented on #16004
@khouloudbelguith It seems that the error is still happened in Products section while editing a product.

So it has resolve in Logs, but in Editing a Product, still present :

![2019-10-28_09h08_46](https://user-images.githubusercontent.com/16780421/67681026-e3794e80-f962-11e9-87e4-7c94f6ae618a.png)

[2019-10-28 13:20] Amulliez commented on #16146
@khouloudbelguith

I just enable profiling mode. I have the time needed to run queries on the other pages but not on problem pages with too much loading.

Thanks.

[2019-10-28 13:22] khouloudbelguith commented on #16146
@Amulliez, when profiling mode is enabled, did you check what is the exact problem of the much time loading?

Thanks!

[2019-10-28 13:23] eCommerceWhiteKnight opened #16152 "Cannot save field title when editing a block in blockreassurance with Safari"
**Describe the bug**
You are unable to change or add a title since the module update. Will not save when new block is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules  blockreassurance   Configure
2. Click on Edit or (+ new)
3. (new reassurance block) add image, save -
or (default blocks) unable to change title - no text field
4. (new reassurance block) See error - Cann

[2019-10-28 13:27] Amulliez commented on #16146
@khouloudbelguith

For example, a screenshot when i loading the folowing page : http://shop.mulliez-flory.fr/vestes/92-veste-de-cuisine-mixte-trizi-chef-noir.html

The profiling mode is enabled, you can check also on your side.

![Screenshot1](https://user-images.githubusercontent.com/47451841/67682120-f6a21380-f98e-11e9-953a-69fc91b4cdda.jpg)

[2019-10-28 13:29] khouloudbelguith commented on #16152
Hi @eCommerceWhiteKnight,

The title field in your case is empty, which is required.
You should set the title
![image](https://user-images.githubusercontent.com/16067358/67682233-2cdf9300-f98f-11e9-9083-b4b2be83f7a9.png)
Thanks to check & feedback.
PS: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are

[2019-10-28 13:34] khouloudbelguith commented on #16146
@Amulliez, I tried with your shop with incognito browser, it is OK, just few seconds.
I attached a screen record
https://drive.google.com/file/d/1znTLbsoke4S5nYEc_fdAy8fnflK45gwE/view
Thanks to check & feedback.

[2019-10-28 13:41] Amulliez commented on #16146
@khouloudbelguith

Here are two url that do not work:
http://shop.mulliez-flory.fr/tuniques/148-tunique-medicale-femme-traxa-tencel.html
http://shop.mulliez-flory.fr/tuniques/31-tunique-medicale-femme-timme-couleur.html

Thanks.

[2019-10-28 13:48] 8ternity opened #16154 "jquery.ui.sortable.min.js Called has HTTP and blocked over HTTPS by Chrome"
**Describe the bug**
While editing a product, i discover that Chrome is blocked a Jquery UI sortable that been loaded in HTTP instead of HTTPs while the store is set to HTTPS.

**To Reproduce**
1. Go to Admin Panel;
2. Edit an already existing product;
3. View the Browser developping tool and see the error;

**Screenshots**
![2019-10-28_09h17_37](https://user-images.githubusercontent.com/16780421/

[2019-10-28 13:48] khouloudbelguith commented on #16146
@Amulliez, no, they are ok too.
https://drive.google.com/file/d/1y8mea-eM0vPT3BMvSJkoc2Y3-4dIFnvp/view

Thanks!

[2019-10-28 13:52] 8ternity commented on #16154
Is {$base_url} can resolve the issue for all of them?

ex.:
<script src= "{{ asset('{$base_url}js/jquery/ui/jquery.ui.sortable.min.js') }}

Should it be like this for all called scripts?

[2019-10-28 14:09] Amulliez commented on #16146
@khouloudbelguith

Thanks for your help. After multiple checks, a firewall blocked these pages.
The issue is resolved.

Thank you very much !!

[2019-10-28 14:09] #16146 closed, assigned to nobody

[2019-10-28 14:14] khouloudbelguith commented on #16132
Hi @Hlavtox,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & develop branch.
![image](https://user-images.githubusercontent.com/16067358/67685391-48e63300-f995-11e9-971b-ea4790207a43.png)
But after creating a new folder lang into Classic theme with an empty file `en.php` or ca.php => it is OK
[lang.zip](https://github.com/PrestaShop/PrestaShop/files/3779057/la

[2019-10-28 14:17] khouloudbelguith commented on #16146
@Amulliez, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-28 14:24] khouloudbelguith commented on #16154
Hi @8ternity,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1w54hoh94TaADIurXWfJv5Xi1uVof8eEU/view
Thanks to check & feedback.

[2019-10-28 14:44] khouloudbelguith commented on #16082
@ced--ced, I found the problem
https://drive.google.com/file/d/1Gfy9i2siBCrWy8O8FaZCxOZBOKeInCmu/view
It is the Apollo page Builder issue.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-28 14:44] #16082 closed, assigned to nobody

[2019-10-28 14:56] Hydrog3n commented on #15041
Hello ! This bug is fix on 1.7.6 ?

[2019-10-28 14:58] khouloudbelguith commented on #15041
Hi @Hydrog3n,

Sorry, it is not fixed yet.

Thanks!

[2019-10-28 15:13] Hydrog3n commented on #15041
Ok thank for the info. Do you have a PR or a fix to fix this until you fix ?

[2019-10-28 15:17] khouloudbelguith commented on #15041
@Hydrog3n,

Sorry no.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-10-28 15:46] mayka83 opened #16155 "Problem in shipping costs when changing address"
**Describe the bug**
We have a store with different shipping costs by location and weight.

Our problem is that if we have to change the customer's address once the order is placed, automatically also changes the shipping costs, respecting by location, but not by weight. Do you know anyone how we could solve it?

**Steps to reproduce the issue**
1. Create a product with 0.2 Kg as a Weight.
![image

[2019-10-28 16:02] khouloudbelguith commented on #16004
Hi @8ternity,

Thanks for your feedback.
I found an error with PS1.7.5.1 & PS1.7.6.1 in the BO => Catalog => Product details page
![image](https://user-images.githubusercontent.com/16067358/67694967-928a4a00-f9a4-11e9-9afe-34f606c08185.png)
[code]
This issue occurs when `Français CA (French)` is the language selected by the employee.
I’ll add this to the debug roadmap so that it’s fixed. If you ha

[2019-10-28 16:07] cryptolikely opened #16157 "ps_legalcompliance 1.7.6"
I need one way to make Shipping costs + Taxes on the product page...
At the moment we have only the product price without taxes. and taxes are added after the customer is clicking add to cart.

We want to have product price, taxes and shipping price on same page (product page).
Someone suggested to me to use ps_legalcompliance  but without any success. I'm not able neither to install it.
Looking f

[2019-10-28 16:14] #13957 closed, assigned to nobody

[2019-10-28 16:15] matks commented on #13957
Big thanks to @Prestaworks for handling this issue

@dennispw 😉merry christmas ?

[2019-10-28 16:15] matks commented on #13957
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16097

[2019-10-28 16:21] khouloudbelguith commented on #16155
Hi @mayka83,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/14JxH5VUm6MvfNmnq_Wp_TBS2ybw1pZYk/view
Thanks to check & feedback

[2019-10-28 16:31] eCommerceWhiteKnight commented on #16137
Hi Sarah,

Thanks for the update, As far as i can tell PHP 7.3 works fine with 1.7.6.1, i am running on two sites with no issues so far.

Thank you

Mat

WHITE KNIGHT IT SOLUTIONS LTD
Registered in England and Wales
Company Number:11509608

[2019-10-28 16:37] ManuBZL commented on #15385
I have more or less the same issue. I have installed PS 1.7.6.1 and the webservice does not work.
I try to test the webservice going to: https://mydomain.xyz/api  . The web prompts the classic login asking for the webservice key, when I put the key in the "user" input does nothing. It asks me again and again like an infinite loop.

I have PHP 7.1.32 and Apache/2.4.6  runing on nginx  as reverse pr

[2019-10-28 16:41] khouloudbelguith commented on #16137
Hi @eCommerceWhiteKnight,
I'm happy to hear that there is no issue with php7.3 on your staging server but as Sarah said, currently PrestaShop is not compatible with php7.3.
So some parts of the application might work, but there is no guarantee it works globally. Explications about why can be read here: http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

Thanks!

[2019-10-28 16:42] eCommerceWhiteKnight commented on #16152
Thanks for the Update. As far as i can tell so far there are no issues with running PHP7.3 with my current version of Prestashop. If any issues occur I will reduce the PHP version to 7.2 but so far all seems good.

I have attached two screen shots, one from the latest Version of Firefox, and one from the latest version of Safari which was upgraded during the installation of Catalina (OSx 10.15) 74

[2019-10-28 16:44] khouloudbelguith commented on #16157
Hi @zsocialmedia,

You can use this module to show shipping cost in the Product Page
https://addons.prestashop.com/fr/frais-de-port/20628-shipping-cost-on-product-s-page.html
In your product page, you can display the prices with taxes by editing the /Project_Folder/themes/classic/templates/catalog/_partials/product-prices.tpl
Replace this

[code]

by this

[code]

So, in your Products pages, you h

[2019-10-28 16:44] mayka83 commented on #16155
Hello @khouloudbelguith ,
The problem occurs when I change the address to another that is in the same area. Applies the shipping costs of a lower weight.

For example, if you have shipping costs for three weight ranges, and you are at the highest. If we change the street, the shipping costs change to those of the lowest weight range.

Thanks for the quick reply.

[2019-10-28 16:51] khouloudbelguith commented on #16155
@mayka83, did you use any custom module?

Changing the street => in our case by default, we can set different location by zone

The weight range should be changed if the product weight is changed
![image](https://user-images.githubusercontent.com/16067358/67698938-8e155f80-f9ab-11e9-8649-8149b331e5f1.png)

Thanks!

[2019-10-28 16:54] khouloudbelguith commented on #16152
@eCommerceWhiteKnight, in your case, the title is missing.
I did not manage to reproduce the issue with PS1.7.6.1 using Safari browser v12.1.1
![image](https://user-images.githubusercontent.com/16067358/67699113-e0ef1700-f9ab-11e9-8c65-a52dc1487e66.png)
What is the exact version of your browser did you use?

Thanks!

[2019-10-28 16:57] eCommerceWhiteKnight commented on #16152
Version 13.0.2 (15608.2.30.1.1) It is with the Catalina update (10.15) and there has also been a security update since the osX version update.

Mat

[2019-10-28 17:56] jf-viguier commented on #9757
Hi, any news here for this bug ?
We've found a bug if shouldSeparateGifts is set to true : the gifted product quantity is wrong.

[2019-10-28 18:46] 8ternity commented on #16004
Great, i will wait for the fix. Thanks.

[2019-10-28 18:54] 8ternity opened #16162 "Request > Getting replace "Free Shipping" rules by a register or complete transaction request"
**Is your feature request related to a problem? Please describe.**
We're having a Prive and Availability module which calculate the shipping cost for customer when they do enter their delivery adress.

In default, Prestashop offert Free Shipping has standard configurations. When we do have a Price and availability module which calculate the cost, Prestashop should have a configuration that ask the

[2019-10-28 19:14] levyn opened #16163 "If a discount from one unit is created, discounts on subsequent quantities will always include a discount of the first one unit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. create multiple specific prices rules (percentage)
2. one of them should be from a quantity equal to one product
3. Product settings -> Display discounted price must be enabled
4. As a result, we will get an incorrect calculation in the table (see the screenshot)

**Screen

[2019-10-28 19:28] darylstone opened #16164 "If trying to edit a product, it keeps loading a lot because of categories"
**Describe the bug**
If you have many categories added to store and try to edit a product, it will be loading for a long time and after it is loaded, the categories on the right are all visible, which almost meanst endless scroll and a lot of time to wait.

**To Reproduce**
1. Add Many categories in my example 6547 Categories
2. Go to edit a product, it will unfold all categories on the right
---

[2019-10-28 19:51] PierreRambaud commented on #15385
The backoffice doesn't display an error. It's a warning, this isn't the same thing.
More, warnings messages on back office are not triggered while running webservices features.
You need to wait for 1.7.6.2 to don't have these warnings :)

[2019-10-28 21:05] Colgeo13 opened #16166 "Not access admin"
After install failed of module, I'm not access to the back office
I have this error message (when I wan't to connect to my admin

(1/1) UndefinedMethodException  Attempted to call an undefined method named "parseFile" of class "Symfony\Component\Yaml\Parser".
--
in YamlFileLoader.php line 667
at YamlFileLoader->loadFile('/home/enviesse/decors/app/config/config_dev.yml')in YamlFileLoader.php line 1

[2019-10-28 21:16] PierreRambaud commented on #16166
Did you try toi use compsoer install?

[2019-10-28 21:33] prestarocket commented on #9574
you can test it with with those characters : [<>{}]; in 1.7.5 and 1.7.6

[2019-10-29 01:52] felipesml opened #16167 "Error when we add customer (with B2B enabled) if there is a specific character in field SIRET"
Hi there all!
I have an issue that make me crazy. I need to know how prestashop 1.7.6 do validation of SIRET field into BackOffice (RUT in chilean).
In 1.7.5 version is Ok, but in the new version prestashop show me "content field is invalid", anyone knows where is the line to change the validation in 1.7.6 version?, I need complete this data with a "-" like "12345678-K"
<img width="468" alt="error

[2019-10-29 02:34] go-sudo commented on #16135
HI @khouloudbelguith

I did downgrade the pho to 7.2 and 7.1 but the issue persist

[code]

https://drive.google.com/file/d/11j6j2bPRiv_MdB28hhKsHbQMgeab-1Pl/view

[2019-10-29 06:01] langziyang opened #16168 "You must specify as many arguments (%d, %s ...) as the original string."
#### Describe the bug

when i translation some with %string%,can not save and log this error:

translation:
`The password must be at least %length% characters long.`
to:
`密码长度不能少于%length%个字符`

#### Steps to Reproduce

1. Add the Japan language
2. Edit the language of the employee to Japan
3. Try to create a new employee with an invalid password for example 1234
4. an error is displayed `This field

[2019-10-29 07:28] khouloudbelguith commented on #15966
Hi @banan44,

I tried to create a huge shop with a lot of categories ( <800) & lot of features & a lot of products (<800) & I tried to install the ps_facetedsearch module v4.4.0 & it is well installed, it takes time because we have a lot of data but it is ok.
In your case, your server unable to service your request, so it is a problem of your server.
https://drive.google.com/file/d/1VkQwN3D-KnH8Bj

[2019-10-29 07:28] #15966 closed, assigned to nobody

[2019-10-29 07:32] khouloudbelguith commented on #15679
Hi @BombrCZE,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-29 07:32] #15679 closed, assigned to nobody

[2019-10-29 07:34] sarahdib commented on #16167
Hello @felipesml

Thank you for the bug report.

I reproduce the issue in 1.7.6.1 : https://drive.google.com/file/d/1dVodQURZFCOAA39F2j3jnhBRJl-IXvJR/view

In 1.7.5.2 it's OK : https://drive.google.com/file/d/1zSlDQyLxQY_Ckha2HcSpZ1INvQve4puI/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull

[2019-10-29 07:36] khouloudbelguith commented on #15396
Hi @mehdi-ghezal,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-29 07:43] ewonta opened #16169 "An error occurs when trying to register a hook whose name is longer than 64 characters"
**Describe the bug**
Error!
Exception thrown by module on reset. Error when resetting module. The length of property Hook->name is currently 65 chars. It must be between 0 and 64 chars.

**To Reproduce**
Hook registration in the module.
$this->registerHook('actionBeforeAjaxDieOrderControllerdisplayAjaxselectDeliveryOption')

**Screenshots**
![image](https://user-images.githubusercontent.com/139407

[2019-10-29 07:50] khouloudbelguith commented on #16169
Hi @dmitrij1988,

Thanks for your report.
What is the exact name of the module do you need to reset it? it is provided by PrestaShop?

Thanks!

[2019-10-29 07:55] dmitrij1988 commented on #16169
This is in the documentation.
https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/

![image](https://user-images.githubusercontent.com/13940741/67747797-94065180-fa3a-11e9-9c8a-d5ab09efcbed.png)

[2019-10-29 07:56] dennispw commented on #13957
@matks Kind of, my coworkers. ;)

[2019-10-29 08:18] mayka83 commented on #16155
Hi @khouloudbelguith

We aren't ussing any custom module.

In some cases, we have to change the address to customers. And even being the same area, there is a change in shipping costs.

For example, we have these shipping costs. And the order is 4kg. The second of 6€ would apply.
0kg - 2kg -> 3€
2kg - 5kg -> 6€

And if we change the address, even if it's just the street, it automatically changes t

[2019-10-29 08:20] kwaun commented on #16142
Hi @khouloudbelguith. It works finally. Seems the issue was to use a named volume for /var/www/html/. Prestashop didn't like Docker handling his html tree.
I am closing this. Thanks!

[2019-10-29 08:20] #16142 closed, assigned to nobody

[2019-10-29 08:25] khouloudbelguith commented on #16163
Hi @levyn,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
1. the product price tax excluded => 11.900000
2. the VAT for the product => 20%
3. The specific price is a percent
4. Prices are displayed tax excluded
5. Product settings -> Display discounted price must be enabled
![image](https://user-images.githubusercontent.com/16067358/67749402-67980880-fa2d-11e9

[2019-10-29 08:28] khouloudbelguith commented on #16142
@kwaun, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-29 08:45] marionf commented on #16163
@khouloudbelguith Fixes have been made on develop branch, could you try to reproduce it on develop ?

[2019-10-29 08:51] DelecroixQuentin commented on #9574
Not working on 1.7.6.1 with this specific characters. An exception is throw instead of displaying an simple error to the customer.

![image](https://user-images.githubusercontent.com/8830801/67750179-fd806300-fa2e-11e9-90aa-00e9dd50a070.png)

![image](https://user-images.githubusercontent.com/8830801/67750199-096c2500-fa2f-11e9-9341-779695231429.png)

![image](https://user-images.githubusercontent

[2019-10-29 08:55] heithemmoumni commented on #16128
@khouloudbelguith, @matks for you response.

[2019-10-29 09:01] marionf commented on #9574
@khouloudbelguith Could you try to reproduce it ?

[2019-10-29 09:06] Progi1984 opened #16170 "Password Change : Permit browsers to suggest securely-generated passwords"
**Is your feature request related to a problem? Please describe.**
New versions of browsers can now suggest securely-generated passwords.
Support : https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete#Browser_compatibility

![image](https://user-images.githubusercontent.com/1533248/67752680-adf06600-fa33-11e9-9516-be54950b345c.png)

**Describe the solution you'd like**
If an i

[2019-10-29 09:07] khouloudbelguith commented on #9574
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0 & PS1.7.6.1.
https://drive.google.com/file/d/1nzlo_Gj5fnJtdiem8jdKhV8_oFZsJN9C/view
I tried with this `[<>{}]`
@DelecroixQuentin, I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-10-29 09:35] khouloudbelguith commented on #16169
@dmitrij1988, as you can see in this documentation, it is deprecated since 1.6.1.1.
So, it is not used yet & you are using PS1.7.6.0, is it?

Thanks!

[2019-10-29 09:37] ManuBZL commented on #15385
I know is a warning, but the webservice is not working. That's what i'm trying to say

[2019-10-29 09:38] khouloudbelguith commented on #16170
Hi @Progi1984,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-29 09:41] dmitrij1988 commented on #16169
I need to register a hook in the delivery module, no matter what old or new, they all register with an error!

[2019-10-29 09:45] khouloudbelguith commented on #16166
Hi @Colgeo13,

Also, what is the exact module did you try to install it?
Thanks!

[2019-10-29 09:47] matks commented on #16170
Great idea ! And I think there was a similar idea about allowing browsers to autocomplete fields when given the hint (address, postal code, name ...)

[2019-10-29 09:51] Colgeo13 commented on #16166
I think itw as Baintry

De : khouloudbelguith <notifications@github.com>
Envoyé : mardi 29 octobre 2019 10:46
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : Colgeo13 <marc.so@bbox.fr>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Not access admin (#16166)

Hi @Colgeo13 <https://github.com/Colgeo13> ,

Also, what is the exact module did you try to install

[2019-10-29 09:54] marionf commented on #15522
@MatShir Do you think we can fit it during the migration ?

[2019-10-29 09:58] khouloudbelguith commented on #16164
Hi @darylstone,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13698
So, I close it.
Thanks!

[2019-10-29 09:58] #16164 closed, assigned to nobody

[2019-10-29 09:58] khouloudbelguith commented on #16164
Duplicate of #13698

[2019-10-29 10:06] amroeldewiny opened #16171 "An error occurred during installation... With MAMP"
Before i post this installation issue i tried everything to enable all extension in php.ini file , but no use i'm still in the same point.
1- iam using MAMP
2- php 7.2.21 i can upgrade to 7.3.8 but still no use
3- MacOS 10.13
![Screen Shot 2019-10-29 at 11 03 36 AM](https://user-images.githubusercontent.com/25608813/67757361-f449c300-fa3b-11e9-865d-4610d7539e89.png)

[2019-10-29 10:21] khouloudbelguith commented on #16168
Hi @langziyang,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 in the back.
In the FO, it is OK.
Steps to reproduce the issue
1. Add the Japan language
2. Edit the language of the employee to Japan
3. Try to create a new employee with an invalid password for example 1234
4. an error is displayed `This field cannot be shorter than 8 characters`
![image](https://

[2019-10-29 10:24] Allbutfancy commented on #16044
Hey @khouloudbelguith @rdy4ever

Sorry for the late response, we tried to remove the cache manually but nothing happened.
Afterwards we tried to update from PHP 7.1.4 to 7.3.9 and this resolved the 404 error.

Thanks for the suggestions and fast response!
Best regards,
Allbutfancy

[2019-10-29 10:25] khouloudbelguith commented on #16171
Hi @amroeldewiny,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Could you please f

[2019-10-29 10:27] khouloudbelguith commented on #16044
@Allbutfancy, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your

[2019-10-29 10:31] khouloudbelguith commented on #16166
@Colgeo13, this module: https://addons.prestashop.com/en/payment-card-wallet/8658-braintree.html?
Did you use `compsoer install` as said by @PierreRambaud previously?

Thanks!

[2019-10-29 10:41] khouloudbelguith commented on #16163
Hi @marionf,

Yes, the same issue with the develop branch
![image](https://user-images.githubusercontent.com/16067358/67760136-09752080-fa41-11e9-82a8-3d121ba0a972.png)

Thanks!

[2019-10-29 11:04] SylNicky commented on #16001
Hello @LouiseBonnard
here's a lik of the pull request
https://github.com/PrestaShop/PrestaShop/pull/16173

[2019-10-29 11:06] khouloudbelguith commented on #16135
@go-sudo, thanks for your feedback.
The modules `vertical menu` & `banner` are not provided by PrestaShop.
As they are not provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-29 11:06] #16135 closed, assigned to nobody

[2019-10-29 11:10] khouloudbelguith commented on #16169
@dmitrij1988, I tried with this module https://addons.prestashop.com/en/collection-points-in-store-pick-up/1752-mondial-relay-official.html
It registers this hooks
[code]
And it i well installed.
Thanks to check & feedback.

[2019-10-29 11:15] dmitrij1988 commented on #16169
Try this one
'actionBeforeAjaxDieOrderControllerdisplayAjaxselectDeliveryOption'

This hook works when you change the carrier

[2019-10-29 11:18] khouloudbelguith commented on #16155
@mayka83, thanks for your feedback.
What is the weight of the product ordered?
![image](https://user-images.githubusercontent.com/16067358/67762578-11838f00-fa46-11e9-8a88-6d8f3c9a6a7d.png)
Is it 4Kg?
Does the order have only one product or multiple products?
Thanks to provide me a screen record during the address change?

Thanks!

[2019-10-29 11:44] Webgaict commented on #9809
Hi,
 are there  a solution?
Thanks!

[2019-10-29 12:12] Colgeo13 commented on #16166
Yes, I think it is This one.

I did not use composer install

De : khouloudbelguith <notifications@github.com>
Envoyé : mardi 29 octobre 2019 11:31
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : Colgeo13 <marc.so@bbox.fr>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Not access admin (#16166)

@Colgeo13 <https://github.com/Colgeo13> , this module: https:

[2019-10-29 12:36] khouloudbelguith commented on #16166
@Colgeo13, have you tried to contact the module author about this issue?
Thanks to check with them & feedback.

[2019-10-29 12:39] 8ternity commented on #16154
Can i resolve the issue with {base url} into the file catalog.html.twig ? I don't want to affect the store.

[2019-10-29 12:44] khouloudbelguith commented on #16154
@8ternity, Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-10-29 12:46] LouiseBonnard commented on #16001
@SylNicky, thanks a million, that's great! Your pull request will now be reviewed. Once approved, it will be merged so that Ivory Coast can be available in PrestaShop's next version. ;-)

[2019-10-29 12:47] khouloudbelguith commented on #16162
Hi @8ternity,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-29 12:54] dptelemetry opened #16174 "No funciona la pestaña Modulo Manager"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-10-29 13:05] khouloudbelguith commented on #16174
Hi @dptelemetry,

Please, send your request in English.
English is the norm on the GitHub
Could you please provide us with more info? We need more details to understand how we can reproduce your issue
Thank you!

[2019-10-29 13:42] Stolaweb commented on #15153
The same problem

Can anyone solve this for me? I have the same problem. Pictures in product settings cannot be deleted and img options are not displayed. How to fix it? I have Prestashop 1.7.6.1. I can't make changes to product images. All I can do is remove the product and add it again.

screen product https://prnt.sc/ppnrk3

debug token: https://www.butiktest.hekko24.pl//fyxmmlllslsjlkivm/index

[2019-10-29 13:45] khouloudbelguith commented on #16169
@dmitrij1988, thanks for these clarifications.
 have the same issue with PS1.7.5.2 & the develop branch.
The problem must happen on the register, we should probably increase this limit.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-10-29 13:47] khouloudbelguith commented on #15153
@Stolaweb, it is a module issue.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-29 14:10] amroeldewiny commented on #16171
Hi khouloudbelguith,

Thank you for your answer. I'm using PrestaShop 1.7.6.1 - PHP 7.3.8
Everytime i try to make fresh installation i get error one time 2OO - one time 500
![Screen Shot 2019-10-29 at 2 57 41 PM](https://user-images.githubusercontent.com/25608813/67774303-654da280-fa5d-11e9-9448-69ed2838994c.png)
I know wordpress something else than PrestaShop but to test my MAMP i installed wordp

[2019-10-29 14:12] khouloudbelguith commented on #16171
@amroeldewiny, Please downgrade your PHP version to PHP7.2, PrestaShop is not compatible with PHP7.3.

Thanks!

[2019-10-29 14:23] #16167 closed, assigned to matthieu-rolland

[2019-10-29 14:38] Stolaweb commented on #15153
Thank You but, how to check which module cause the problem? It could be the module delivered with the theme?

[2019-10-29 14:42] khouloudbelguith commented on #15153
@Stolaweb, you can follow these steps:

You need to enable debug mode in your store and debug request which is sent for product edition in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. edit product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the erro

[2019-10-29 14:50] Stolaweb commented on #15153
I have theese: Is this a problem with theme module or prestashop module? I turned off all modules and change for classic theme and the problem still exist:

Symfony\Component\Form\Exception\
InvalidArgumentException
in vendor/symfony/symfony/src/Symfony/Component/Form/FormRegistry.php (line 86)
            }            if (!$type) {                // Support fully-qualified class names

[2019-10-29 14:51] Stolaweb commented on #15153
sorry *replace some directories or files?

[2019-10-29 14:53] khouloudbelguith commented on #15153
@Stolaweb, your issue is different.
This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-10-29 14:56] khouloudbelguith commented on #16152
@eCommerceWhiteKnight, with Safari v12 => it is OK.
I will try to check with v13 & feedback.

[2019-10-29 14:57] Stolaweb opened #16177 "Images options in the product edit not appeared Prestashop 1.7.6.1"
Can anyone solve this for me? I have the same problem. Pictures in product settings cannot be deleted and img options are not displayed. How to fix it? I have Prestashop 1.7.6.1. I can't make changes to product images. All I can do is remove the product and add it again.

screen product https://prnt.sc/ppnrk3

debug token: https://www.butiktest.hekko24.pl//fyxmmlllslsjlkivm/index.php/_profiler/31e

[2019-10-29 15:01] khouloudbelguith commented on #16177
Hi @Stolaweb,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade y

[2019-10-29 15:02] ckubitza opened #16178 "Order total wrong from AdminOrder when VAT number used"
**Describe the bug**
Wrong tax is applied to order totals when order is created from admin page with a foreign address which has a VAT-number. Product taxes are correct but not the totals. Frontend orders are not affected.

**To Reproduce**
Steps to reproduce the behavior:
1. Have products with taxes and VAT-number module is active
2. Place an order from admin orders page with an invoice address i

[2019-10-29 15:14] Stolaweb commented on #16177
I am sorry, I have PHP 7.2

[2019-10-29 15:24] Stolaweb commented on #16177
I replace /src/PrestaShopBundle folder and it works.

I wil test and make a response

I hope that other things will also work without errors

[2019-10-29 15:37] khouloudbelguith commented on #16178
Hi @ckubitza,

I did not manage to reproduce the issue with PS1.7.6.1 & the module VAT v2.1.0.
I attached a screen record
https://drive.google.com/file/d/12IMIdYjdCSRzUALvq6x3gkwJT4AABptO/view
Thanks to check & feedback.

[2019-10-29 15:40] khouloudbelguith commented on #16177
@Stolaweb, thanks!
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-29 15:40] #16177 closed, assigned to nobody

[2019-10-29 15:52] #10293 closed, assigned to matthieu-rolland

[2019-10-29 16:08] bet0x opened #16184 "Fallback to curl if allow_url_fopen is not present"
**Is your feature request related to a problem?**

Fallback to curl if allow_url_fopen is not present.

**Describe the solution you'd like**
Well, yall moving to latest versions of Symfony so this is quite a good solution:
[code]
If Native HTTP is not present, you get the content with Curl. Will solve a lot of issues for web hostings without allow_url_fopen enabled.

[2019-10-29 16:14] khouloudbelguith commented on #16184
Hi @bet0x,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-29 16:22] khouloudbelguith commented on #16178
@ckubitza, so the issue is fixed after upgrading the module?

Thanks!

[2019-10-29 16:54] TristanLDD commented on #11427
From a UX point of vue, displaying the date of delivery in the checkout process is a strong
reinsurance element, so in my opinion this module has a real value in terms of conversion.

I can make new mockups for classic theme but first we should take the decision whether or not we want to fix the module for 1.7.4.3+
@Coline is it a go or no go ? :)

[2019-10-29 16:54] sextoysunivers opened #16191 "1 Clic upgrade bug"
**Describe the bug**
A clear and concise description of what the bug is.
Hi,

After trying to upgrade with the 1 clic upgade module from 1.6.1.24  to 1.7.1.6 I get the follwong error :

Fatal error: Uncaught Symfony\Component\Config\Exception\FileLoaderLoadException: Cannot load resource "/var/www/src/PrestaShopBundle/Resources/config/services/bundle/form/form_type/desktop.ini". in /var/www/vendor

[2019-10-29 17:02] matks commented on #16191
Hi @sextoysunivers the file /var/www/src/PrestaShopBundle/Resources/config/services/bundle/form/form_type/desktop.ini should not exist, I think it was created by Windows when you opened the project files.

This is a windows-oriented file and is the reason why it crashes 😢

[2019-10-29 17:03] andidomingo opened #16192 "1 click module on Prestashop 1.4.6.2 not working"
We have our site running on Prestashop 1.4.6.2 and would like to migrate it to the latest version. We downloaded 1-click add on and added it to Modules but it seems that the whole module section is not working anymore, we need to revert the process so we can migrate it (as at the moment we cannot access 1-click addon).
![Screen Shot 2019-10-29 at 17 05 09](https://user-images.githubusercontent.com

[2019-10-29 17:17] IlPizza79 commented on #15385
Try to add following code in your htaccess:
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

Follow this tutorial, it may help you as it helped me :-)
https://www.emanuelefantin.it/blog/view/correggere-l-errore-bad-auth-key-per-le-api-di-prestashop-1753

[2019-10-29 17:36] sextoysunivers commented on #16191
Hi Matks,
Thank you very much indeed. I'm going to try again this friday. After have seen that I went back to my previews version.

Fantastic thank you very much again.  I'm going to close this and reopen if need it
All the best

[2019-10-29 17:37] #16191 closed

[2019-10-29 17:38] amroeldewiny commented on #16171
I tried to install PrestaShop on my MacOs many many many times .
WITH
PHP 7.1.31
PHP 7.2.21
PHP 7.3.8
NO php version working at all.

[2019-10-29 18:45] raunokris opened #16196 "Can not continue as a guest or a new user to checkout when setting partners offers as required field"
Hi

If we try to checkout in the store, then as a guest or a new user, it receives this error:
**Steps to reproduce the issue:**
1. Go to the BO => Shop Parameters => Customer Settings
2. Disable "Enable partner offers" option
3. Go to the BO => Customers => Customers page => Set Partner offers as a required field
4. Go to the FO => try to create a new customer from the New account page or try to

[2019-10-29 18:45] Colgeo13 opened #16197 "Connect Admin impossible"
After deleted and re install by FTP module Producstatistic, I have a white page and can't connect to my back office.
My website is on mode Debug

PrestaShop version: 1.7.6.1 (the last version)
PHP version: 7.1

[2019-10-29 18:54] jannyba commented on #16134
@khouloudbelguith Thanks for your time,
what you showed is ok, re-ordered pages are re-ordered in the Link Widget module. But you have disabled all these pages in themodule. If you will enable them, in the FO they are not respecting the changed order.
Please check these screenshots and try if you have the same behaviour:
https://www.prestashop.com/forums/topic/1005446-pages-reordering-is-not-refle

[2019-10-29 20:33] Colgeo13 opened #16198 "AH01630: client denied by server configuration: /homez.599"
I can not access to my back office.

The Log lessage is : AH01630: client denied by server configuration: /homez.599

PrestaShop version: 1.7.6
PHP version: 7.1
Apache: 2.2

Can you help me please ?

[2019-10-29 21:01] go-sudo commented on #16135
Hi @khouloudbelguith

Trust me it's not the theme and the issue is elsewhere no i switched to the default theme and i tried the banner module by prestashop and I'm facing the same issue , when I click on browse button there's nothing happened and I can't even upgrade the prestashop as you see on the video

https://drive.google.com/file/d/13gXxZwjV-EWaOH_oIPxG_n9lp96VQUNF/view

Uncaught ReferenceEr

[2019-10-29 22:15] pand-app opened #16199 "Price formatter is not based on precision"
Hello,

If I've KWD as a primary currency, prices will use currencyFormat which can be found in localization/CLDR/core/common/main/<lang>.xml

But, currency format != format number, and it's clearly not functional with KWD.

| price in BO | expected | what I get |
|------------|-----------|-----------|
| KWD 1.234 | KWD 1.234 | KWD 1.234 |
| KWD 1.23 | KWD 1.230 | KWD 1.23 |

When I have a product

[2019-10-29 23:58] watou opened #16200 "Possible regression causes invalid complaint on add to cart regarding customization fields"
The code change here: https://github.com/PrestaShop/PrestaShop/commit/b552eaa904d631f7e069660658fffe2414262eba#diff-0dac05a6abe4d202319dd093b8ab2b37L352 changed the condition tested to learn if the product had uncompleted customization fields and shows a popup with the warning

However the product has no customizations, and so the `if` condition is incorrect.

[code]

When I reverted the `if` cond

[2019-10-30 06:00] aavinseth opened #16201 "Webservice 500 Internal Server Error on update order"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. In Webservice hit orders/ORDER_ID API
2. Copy XML response and change **current_state** parameter and submit as a put request
3. Response: 500 Internal Server Error
4. See error: PHP Fatal error:  Uncaught PrestaShopException: Property Order->id_address_delivery is not val

[2019-10-30 07:52] khouloudbelguith commented on #15749
Hi @Vitron1778,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-30 07:52] #15749 closed, assigned to nobody

[2019-10-30 08:03] khouloudbelguith commented on #16192
Hi @andidomingo,

You can use the 1-click upgrade module v1.6.1.8 to make an upgrade from 1.4 to 1.6 as described here: https://addons.prestashop.com/en/data-migration-backup/5496-.html
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme bef

[2019-10-30 08:03] #16192 closed, assigned to nobody

[2019-10-30 08:21] khouloudbelguith commented on #16196
Hi @raunokris,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
Steps to reproduce the issue:
1. Go to the BO => Shop Parameters => Customer Settings
2. Disable "Enable partner offers" option
3. Go to the BO => Customers => Customers page => Set Partner offers as a required field
4. Go to the FO => try to create a new customer from the New account page or try to create a customer or gu

[2019-10-30 08:27] khouloudbelguith commented on #16197
Hi @Colgeo13,

Thanks for your report.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-30 08:27] #16197 closed, assigned to nobody

[2019-10-30 08:28] khouloudbelguith commented on #16198
Hi @Colgeo13,

Is it the same issue created here: https://github.com/PrestaShop/PrestaShop/issues/16197?

Thanks!

[2019-10-30 08:35] mayka83 commented on #16155
Hi @khouloudbelguith

Hello,

This is a link to the video where the problem is. When the customer's address is changed, the shipping costs change. In the example, the address to which it changes belongs to the same shipping area.

Thank you very much in advance

https://drive.google.com/file/d/1quD-L0EhF7wMEydXWQ4KQAtMoKrOkFRF/view

[2019-10-30 08:36] khouloudbelguith commented on #16199
Hi @Nainterceptor,

First of all, thanks for your report.
Second, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will

[2019-10-30 08:40] Colgeo13 commented on #16197
Thanks !

I tryed to do it but he didn’t reply.

I don’t know which  solution I can try.

De : khouloudbelguith <notifications@github.com>
Envoyé : mercredi 30 octobre 2019 09:28
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : Colgeo13 <marc.so@bbox.fr>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Connect Admin impossible (#16197)

Hi @Colgeo13 <https://

[2019-10-30 08:42] Colgeo13 commented on #16198
The module is know deconnected.

But Admin Prestashop is always impossible.

Need help please

De : khouloudbelguith <notifications@github.com>
Envoyé : mercredi 30 octobre 2019 09:29
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : Colgeo13 <marc.so@bbox.fr>; Mention <mention@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] AH01630: client denied by server configuration: /hom

[2019-10-30 08:53] khouloudbelguith commented on #16201
Hi @aavinseth,

First of all, thanks for your report.
Second, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be

[2019-10-30 09:01] ManuBZL commented on #15385
OK. thank you. Seems to work. Is something related to the htaccess file generated by prestashop.

[2019-10-30 09:05] colinegin commented on #11427
Yes this is a great idea, i'm all for it ! Do you think there's a lot of rework in terms of design ?
In terms of features, I would recommend to stay iso as today, I can write down some specs based on the current documentation.
About compatibility, depending on what technical changes are done in the module, it might be 1.7.6+, but we'll discuss this with a dev.

Thanks !

[2019-10-30 09:08] khouloudbelguith commented on #16198
@Colgeo13, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-

[2019-10-30 09:11] ManuBZL commented on #15385
Yeah, maybe. But with presta 1.6 same server, I do not have that problem.

[2019-10-30 09:18] khouloudbelguith commented on #16200
Hi @watou,

Thanks for your bug report.
Could you please provide me the exact steps to reproduce the issue?

Thanks!

[2019-10-30 09:21] khouloudbelguith commented on #16135
@go-sudo, did you use the `SP Listing Tabs` module?
The error is related to this module:
[code]
Thanks!

[2019-10-30 09:26] Colgeo13 commented on #16198
Thanks,

*	server setup and configuration : OVH PHP 7.2 moteur PHP
*	PrestaShop version (source) : Prestashop version 1.7.6.1 (the last one)
*	debug mode report : TRUE (but I have a blank (white) page withour error message
*	PHP error logs : /var/log/apache/apache_error.log : I have /var/log but not apache or apache/apache_error.log
*	Apache error log : Apache: /var/log/apache/php_error.log : I ha

[2019-10-30 09:29] matteolavaggi opened #16202 "Price not shown on FE after a creation of combined product and removed combinations"
Create a product. save
Open product, create combinations, apply variations price. save
Open product, choose "single product", confirm on variations deletions.
Check product price is shown on 0.00€ on FE.

No way to have it back again.

Chache deleted.

ABSURD. PS 1.7.6.1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

https://www.sixrace.it/it/sospensioni-anteriori/93225-kit-for

[2019-10-30 09:29] khouloudbelguith commented on #16171
@amroeldewiny,

There is no information displayed on your server?

Thanks to follow this link: https://mediatemple.net/community/products/dv/204643880/how-can-i-create-a-phpinfo.php-page to create a PHP info file on your server.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - debug mode report
 -

[2019-10-30 09:33] matteolavaggi commented on #16202
Duplicate the product duplicate the problem..

[2019-10-30 09:37] #16121 closed, assigned to jolelievre

[2019-10-30 09:44] Colgeo13 commented on #16198
Thanks,

* server setup and configuration : OVH PHP 7.2 moteur PHP
* PrestaShop version (source) : Prestashop version 1.7.6.1 (the last one)
* debug mode report : TRUE (but I have a blank (white) page withour error message
* PHP error logs : /var/log/apache/apache_error.log : I have /var/log but not apache or apache/apache_error.log
* Apache error log : Apache: /var/log/apache/php_error.log : I ha

[2019-10-30 09:44] TristanLDD commented on #11427
@colinegin Ok !
Not much work needed on design, the module adds a little bit of text in the delivery part of the checkout. Looks like this in 1.6 :
![capture d'écran_2115](https://user-images.githubusercontent.com/27484094/67846603-ca5ad400-fb01-11e9-8d95-1da32e1675ef.png)

I'll update the mockup for classic theme here soon.

[2019-10-30 09:47] colinegin commented on #15298
Alright, let's do it then !
Just an idea, don't you think we could use old categorization (1.6 categorization) that is still often available in "tab" and associate it to a new category ?
Let me give you an example : let's imagine a module where the contributor has never updated the tab as it is no longer used in 1.7. So the module's tab still displays "Analytics and Stats", which is today the equi

[2019-10-30 10:00] khouloudbelguith commented on #16202
Hi @matteolavaggi,

Thanks for your bug report.
Can you confirm these steps:
1. Create a standard product
2. The Price = 0
![image](https://user-images.githubusercontent.com/16067358/67847898-f0817380-fb03-11e9-9b59-128c19c16d80.png)
3. Click on Product with Combinations
![image](https://user-images.githubusercontent.com/16067358/67847945-068f3400-fb04-11e9-9152-5f0eeab5c249.png)
4. Generate a lot

[2019-10-30 10:01] colinegin commented on #16124
Hello,

thanks for your feedback !

About the first issue, as this is a bug (this is not the expected behaviour), I think we should fix it but i let @Progi1984 define the level of complexity to resolve the issue.

About the second issue, as @khouloudbelguith cannot reproduce it, i will remove it from the description, so we clearly know what is expected in this issue. @dreamtheme do not hesitate to

[2019-10-30 10:03] ckubitza commented on #16178
Well, yes. But I tend to think that the update in the module is just obfuscating the real bug.

[2019-10-30 10:07] khouloudbelguith commented on #16178
@ckubitza,

With the new version there are no taxes applied => so can you explain to me how the module is just obfuscating the real bug & not fixing the issue?

Thanks!

[2019-10-30 10:20] dreamtheme commented on #16124
@colinegin Yeah, forget the second bug, i could not reproduce it on another server, only on one specific so i don't know, if i ever find what it is, i will post another bug.

[2019-10-30 10:35] khouloudbelguith commented on #16155
@mayka83, thanks for these clarifications.
I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1REiPOcvOVW7Er5UfL2Ve5-CFkd6LDXT0/view
Thanks to check & feedback.

[2019-10-30 10:46] marionf commented on #10081
@eternoendless Is it still relevant ?

[2019-10-30 10:51] ghost opened #16204 "List products with redirections in the Monitoring page"
**Is your feature request related to a problem? Please describe.**
Today you can redirect a product URL to another URL (product or category).
To do so you have to do it in the tab "SEO" in the product page.

The problem is that there is no list of all the products that have a redirection, which means that to know which product is still redirected you have to go into each product individually **->

[2019-10-30 10:51] marionf commented on #10558
@matks Do you think we can fix this issue during the migration: https://github.com/PrestaShop/PrestaShop/issues/9845 ?

[2019-10-30 10:58] ckubitza commented on #16178
In my observations I have found out, that the total price calculation is not given an address, so it tries to get it from the cart in the context, which is not set at this time when the adminorder is used.
The module update does not change this behaviour, it only "filters out" invalid calls through a cache, and I can only guess how this leads to a solution for this problem.
Also, the detailed comm

[2019-10-30 11:18] khouloudbelguith commented on #16134
@jannyba, I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & the ps_linklist v3.0.4.
Steps to reproduce the issue:

You need to check that all pages are checked in the link block
![image](https://user-images.githubusercontent.com/16067358/67852258-625dbb00-fb0c-11e9-87dc-d0da74944eb8.png)
1. Go to the BO => Design => Pages => change position of some pages.
2. Check the position of these

[2019-10-30 11:19] khouloudbelguith commented on #16134
Ping @jolelievre

[2019-10-30 11:23] khouloudbelguith commented on #15411
Hi @nielsverhoeven84,

As discussed in the email, the issue is solved.
In fact, there are some issues with the carrier & multistore.
When we enable the carrier in all shops => the issue doesn't exist anymore.
In my case, I did not manage to reproduce the issue with PS1.7.6.1.
Since it is fixed, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2019-10-30 11:23] #15411 closed, assigned to nobody

[2019-10-30 11:31] colinegin commented on #11427
You are my hero !

[2019-10-30 11:32] khouloudbelguith commented on #16178
@ckubitza, thanks for your feedback.
I think this issue is fixed with this PR: https://github.com/PrestaShop/vatnumber/pull/8
Ping @Quetzacoalt91 @PrestaShop/prestashop-core-developers what do you think?
The issue is not reproduced with the new version but @ckubitza thinks that does not really fix that.

Thanks!

[2019-10-30 11:36] khouloudbelguith commented on #16198
@Colgeo13,

You can find some files logs in your `Project_Folder/var/logs/` path

Firefox and Chrome: press Ctrl+Shit+J or Cmd+Shift+J.
Internet Explorer and Edge: press F12 then go to the Console tab.

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Thanks!

[2019-10-30 11:44] Mosquito65 opened #16205 "Modules Tab 500 Internal Server Error - FatalErrorException"
Ificlic on Modules tab appear  500 Internal Server Error - FatalErrorException
![Screenshot_2019-10-30 Compile Error Arrays are not allowed in class constants (500 Internal Server Error)](https://user-images.githubusercontent.com/57178906/67855595-021e4780-fb13-11e9-9540-a26af3db7aff.png)

[2019-10-30 11:45] watou commented on #16200
Hi @khouloudbelguith,

The exact steps were to run a production multisite shop under 1.7.5.0 on Ubuntu 14.04 and PHP 7.0 for several months, move it to Ubuntu 18.04 and PHP 7.2, and when attempting to add certain products to the cart, receive instead a popup reporting:

However, that product, and no other products in the shop have customisations defined.

When reverting the `if` condition in PR #8

[2019-10-30 12:29] aavinseth commented on #16201
Hey @khouloudbelguith

I have tried it on PHP 7.2, but still getting the same error.

Uncaught PrestaShopException: Property Order->id_address_delivery is not valid in E:\\xampp1\\htdocs\\prestashop\\classes\\ObjectModel.php:1004\nStack trace:\n#0 E:\\xampp1\\htdocs\\prestashop\\classes\\ObjectModel.php(292): ObjectModelCore->validateFields()\n#1 E:\\xampp1\\htdocs\\prestashop\\classes\\order\\Ord

[2019-10-30 12:30] mayka83 commented on #16155
@khouloudbelguith , thanks for the video.

We have done more tests with your instructions. We have seen that what does not consider is the weight of the simple product. That is, if what I have bought is a product without combinations, when the address changes, the shipping costs are 0. If the product has combinations, the shipping cost is equivalent to the weight of the combination, but not the pr

[2019-10-30 12:36] Kixell-NicolasJardillier opened #16206 "No way to use other category thumbnail image than small_default"
Hi,

Prestashop Version : All, included github.

Code illustrated in the image attached illustrate that it is impossible to use other image format for categories thumbnail than small_default.

::getFormattedName start to implement the use of format like small_<theme_name> but the method ::getByNameNType return always false because type and order are not provided.

It is an old problem that clearly

[2019-10-30 12:39] matteolavaggi commented on #16202
Price is 0. But if you try to set a different price its impossible to have it working.

So after your step if i try to set "10" on single product price, on front end are shown 0.

Product database price is set right in the ps_product

[2019-10-30 12:47] Nainterceptor commented on #16199
Hello @khouloudbelguith,
I know about PHP version, I've 7.2 in production, but 7.3 locally in dev environment.
I've few errors but it's working ;)

Any workaround for the current version ? I've dirty one (change format according to iso currency) but in src directory, so not overridable.

Thanks

[2019-10-30 12:53] khouloudbelguith commented on #16205
Hi @Mosquito65,

What is the exact version PrestaShop did you use? & what is the exact version of the module `blockreassurance` you are using?

Thanks!

[2019-10-30 12:57] bet0x opened #16208 "Proper way to detect incompatible modules and themes"
**Is your feature request related to a problem?**
When browsing for modules and themes i encounter several problems as a new Prestashop user:

* Themes can be for old or new versions of PS.
* Modules can be for old or new versions of PS.

**Describe the solution you'd like**
Add a file (like composer.json) with a tested version on it (branch), example:
[code]

This idea can be also applied to modu

[2019-10-30 13:00] khouloudbelguith commented on #16208
Hi @bet0x,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-30 13:00] #15474 closed, assigned to jolelievre

[2019-10-30 13:05] bet0x commented on #16198
@khouloudbelguith Far as i saw might be an issue with Symfony.

@Colgeo13 Did you run a composer update or something?

Refs:
* https://github.com/symfony/symfony/pull/21635
* https://github.com/symfony/symfony/pull/22621
* https://github.com/symfony/symfony/issues/22938

[2019-10-30 13:06] Mosquito65 commented on #16205
The version of Prestashop is 1.7.2.4
I don't know the version of the module blockreassurance
How can I verify?

[2019-10-30 13:10] colinegin commented on #16208
@PrestaShop/prestashop-contributors what do you guys think ?

[2019-10-30 13:12] jf-viguier commented on #16206
Should be a good improvement.

[2019-10-30 13:21] khouloudbelguith commented on #16206
Hi @nicoja,

Thanks for your report.
Just for information, the thumbnail is not used in the classic template.
The small_default is used for categories also
![image](https://user-images.githubusercontent.com/16067358/67861446-888d5600-fb20-11e9-89f2-301219c02eaa.png)
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-30 13:23] khouloudbelguith commented on #16205
@Mosquito65, you can check it in the `Project_Folder/modules/blockreassurance/config.xml` file
https://github.com/PrestaShop/blockreassurance/blob/master/config.xml#L5

Thanks!

[2019-10-30 13:24] eternoendless commented on #10028
I'm closing this issue due to non-activity. Please feel free to open another one if necessary.

[2019-10-30 13:24] #10028 closed, assigned to nobody

[2019-10-30 13:24] nicoja commented on #16206
I know @khouloudbelguith

[2019-10-30 13:26] Progi1984 commented on #16208
The concept of a metadata file for each module/theme exists in anothers CMS :
* [blueprints.yaml for Grav](https://learn.getgrav.org/16/forms/blueprints#themes-and-plugins)
* [composer.json for CraftCMS](https://docs.craftcms.com/v3/extend/plugin-guide.html#composer-json)
* [module.xml for Magento](https://devdocs.magento.com/videos/fundamentals/create-a-new-module/#make-sure-you-have-permission-t

[2019-10-30 13:29] jolelievre commented on #16208
We already use `composer.json` for native modules, and composer manages a special dependency type `"type": "prestashop-module"` to automatically install them in the modules directory
However I don't think it's possible to manage the required PrestaShop version in the module's composer.json file It is managed in the module class

[2019-10-30 13:31] khouloudbelguith commented on #16202
@matteolavaggi, so after the step6, you are changing the product price to 0, but, it is still displayed 0 in the FO.
In my case, I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/12swjwjQ0p8rWOJxuWnqv9SlLIKMoL2pq/view
You need to enable debug mode in your store and debug request which is sent for product save (last steps: change price to 10 & save) in your bro

[2019-10-30 13:32] matteolavaggi commented on #16202
ps_product
![image](https://user-images.githubusercontent.com/24798703/67862049-b3c47500-fb21-11e9-872a-ba9dcccfe691.png)
ps_product_shop
![image](https://user-images.githubusercontent.com/24798703/67862075-c474eb00-fb21-11e9-92d2-5797f4d84641.png)

[2019-10-30 13:34] matteolavaggi commented on #16202
Price is write right on database so i dont think the problem occour during save, is something related on how prestashop identify single product from product with combination i think. its like ps try to read a combination specific price

[2019-10-30 13:35] khouloudbelguith commented on #16202
@matteolavaggi, we need to debug the issue to understand the problem.
In my case, it is ok => there is no problem.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please re

[2019-10-30 13:38] Mosquito65 commented on #16205
I've updated this module yesterday
version 4.1.1

[2019-10-30 13:39] bet0x commented on #16208
@jolelievre That's why i made a special example.

[2019-10-30 13:41] khouloudbelguith commented on #16201
@aavinseth, in your script, you have invalid Property `id_address_delivery`.
`Property Order->id_address_delivery is not valid in`
So please check the `id_address_delivery` in your script.
It is causing this issue.

Thanks!

[2019-10-30 13:44] matteolavaggi commented on #16202
PHP 7.2
Apache + fpm

Consolle log empy
Network tab right (200 response)
Dev log tail:
`[2019-10-30 14:38:24] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-10-30 14:38:24] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-10-30 14:38:29] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-10-30 14:38:29] php.INFO: User Deprecated:

[2019-10-30 13:46] LOUTAG opened #16210 "ps_facetedsearch display issue"
### **Description of my issue:**
I bought a template which should display the color filter (ps_facetedsearch) like the picture just below:
![color](https://user-images.githubusercontent.com/57157316/67861507-a3f86100-fb20-11e9-99be-9538a9414579.png)

However in my case it was displayed like that (just below) with ps_facetedsearch version 3.4.0 :
![colo_bug_display](https://user-images.githubuserco

[2019-10-30 13:51] khouloudbelguith commented on #16210
Hi @LOUTAG,

Sorry, but in this case,

ps_facetedsearch is overridden by your theme.

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.