[2019-08-21 09:28] khouloudbelguith commented on #15153
@kkasztann, I just received the email.
I will check & feedback.

[2019-08-21 09:37] khouloudbelguith commented on #15043
@Romain-Del, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-08-21 09:37] #15043 closed, assigned to nobody

[2019-08-21 09:38] maofree commented on #15178
Hi
now on the classic theme all seems ok (it is so strange, probably it was due from internet)
but I've found an error :)
https://drive.google.com/file/d/1eMqLk09Vf7MXTFQyy1kzzHAwuGpN-yXH

if you change something like the quantity, some content will be changed, then go fast to push on the main image, then the modal will be shown but the product image will be removed, look at the image

[2019-08-21 09:39] PrestaShark commented on #15152
How about Add products for XXX $ to get free shipping?

[2019-08-21 09:43] maofree commented on #15178
the problem that I have with the other theme is the same
https://www.todoparatucoche.com/lubricantes-online/aceite-ester/11252-509-aceite-de-ester-xenum-x1-5w50.html

after to have changed the attribute, I need to wait some seconds to get the possibility to push on the main image and see the modal popup. So the problem is this latency that can be present when the internet connection is not good or

[2019-08-21 09:48] maofree commented on #15178
in fact now I'm uploading a 10GB file so the connection is slow in upload and it shows me these critical issues

[2019-08-21 09:49] khouloudbelguith opened #15181 "Product pages is freezed"
**Describe the bug**
If you change something like the quantity, some content will be changed, then go fast to push on the main image, then the modal will be shown but the product image will be removed,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO => Product Page
2. Click on the main image
3. Change the quantity
4. Click on the main image
5. see error

**Screenshots**
https://driv

[2019-08-21 09:49] khouloudbelguith commented on #15181
related to this https://github.com/PrestaShop/PrestaShop/issues/9634

[2019-08-21 09:50] khouloudbelguith commented on #15178
@maofree,

About this issue, I manage to reproduce it with PS1.7.6.0 & PS1.7.5.2.
https://drive.google.com/file/d/1XhTRhhQOc_Q_-XX-iBk8NLtSihHwCmQZ/view
Issue created here: https://github.com/PrestaShop/PrestaShop/issues/15181
It seems to be related to this https://github.com/PrestaShop/PrestaShop/issues/9634

[2019-08-21 09:56] marionf opened #15182 "How about Add products for XXX $ to get free shipping?"
How about Add products for XXX $ to get free shipping?

_Originally posted by @PrestaShark in https://github.com/PrestaShop/PrestaShop/issues/15152#issuecomment-523381283_

[2019-08-21 09:56] maofree commented on #15178
hi
I think it is different because it is due from a latency necessary between the current image and the next image of the different combination

a part of problem can be solved removing the change of the image when the quantity are changed, it should change only the prices. But if you change the combination the current image is joined on the previuos combination, it is necessary only to change the

[2019-08-21 09:56] marionf commented on #15152
@PrestaShark this is another subject, so I created another issue: https://github.com/PrestaShop/PrestaShop/issues/15182

[2019-08-21 09:57] MatShir commented on #15054
Indeed, it is a good point. For the invoice and order details in the checkout, it seems a necessary needs, especially for B2B.

Is the CLDR file complete enough for the accounting part for all currencies?
Can we rely on it if we don't offer customization in the BO?

I imagine a good start will be if there are any missing values, we could start with two decimals.

@onklmaps Aren't you afraid of cus

[2019-08-21 10:00] marionf commented on #15182
@PrestaShark

You can already use a reassurance module to display this kind of information: "Free shipping from 50€"

[2019-08-21 10:01] khouloudbelguith commented on #15178
@maofree, I tried in y case to click on the main image before other images are loaded & it is OK, the page is not freezed.
https://drive.google.com/file/d/1DBp3PQc1m99pS4z7jvvtw3XQfCrjqrvW/view
Thanks!

[2019-08-21 10:06] immergente commented on #14733
@Flower7C3 @khouloudbelguith can anybody give me a clue on how to apply the patch? I'm not able to locate files nor folder :/

Thanks for your kind help.

[2019-08-21 10:07] PrestaShark commented on #15182
Thanks @marionf . For clarification.

When free shipping is set to 100$ and products value in Your cart is 80$ then store tell customer something like "Add products for another 20$ and get free shipping" :)

[2019-08-21 10:09] maofree commented on #15178
chane the quantity give also these problem on the productcomments vers. 4.0
![1](https://user-images.githubusercontent.com/653230/63423374-726e6580-c40c-11e9-915f-5a7b1d443569.png)
![2](https://user-images.githubusercontent.com/653230/63423376-7306fc00-c40c-11e9-9e97-c2fe3e9ec8f1.png)

[2019-08-21 10:12] MatShir commented on #13212
Hi @matks,
Would it bring breaking changes and difficulties on an upgrade?

It seems it features requested many times by merchants on agency project. It will be interesting to add to the order page migration.

[2019-08-21 10:15] khouloudbelguith commented on #15124
Hi @fafa0659,

I did not manage to reproduce the issue with PS1.7.6.0.
https://drive.google.com/file/d/1BGh88X8PMlIXoWvORCqK7IDwZtXwctr_/view
- Route to products: `{category:/}{id}{+:id_product_attribute}+{rewrite}{-:ean13}.html`
- When a product has not a combination => `http://projet/QA/1760ch/en/home/25+test.html`
- When a product with combinations => `http://projet/QA/1760ch/en/home/25+43+test

[2019-08-21 10:23] itisco commented on #15033
Hello
I have the same issue with another site with a clean install on a different
server.
The logo is well displayed but all the propducts images are not.

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le lun. 19 août 2019 à 17:27, khouloudbelguith <notificat

[2019-08-21 10:31] khouloudbelguith commented on #15178
@maofree, seems to be ok in y side
https://drive.google.com/file/d/1BuJqlo6PI-h8Ksh4BKwlnru_5FBrUdfj/view
Thanks!

[2019-08-21 10:36] khouloudbelguith commented on #15178
@maofree, thanks for your feedback.
I have the same issue with PS1.7.6.0 & productcomments v4.0.0.
https://drive.google.com/file/d/1IcvdCrilAxegvFNL4SSNeA7_qv0M0nRE/view
But it seems different from your first issue.

Thanks!

[2019-08-21 10:41] silviu25 opened #15183 "image too large, max allowed 8192 kB"
In the BO => Advanced Parameters => Administration we have an option "Maximum size for a product's image" but has no effect.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
`Maximum size for a product's image` has no effect on the `PS_PRODUCT_PICTURE_MAX_SIZE` on the database.
We have weird behavior
In the FO / BO, when we try to upload a large image => NOK
When we try to add the same

[2019-08-21 10:41] khouloudbelguith opened #15184 "Reviews are not displayed after changing the quantity"
**Describe the bug**
If we change the quantity on the product page, the reviews are not displayed any more.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product with some reviews approved
![image](https://user-images.githubusercontent.com/16067358/63425451-77311a80-c408-11e9-9d2e-2e2992567464.png)

2. Change the quantity
3. See error

![image](https://user-images.githubusercontent

[2019-08-21 10:42] khouloudbelguith commented on #15184
Ping @jolelievre

[2019-08-21 10:46] khouloudbelguith commented on #15183
Hi @silviu25,

"1G" is not a valid maximum size
![image](https://user-images.githubusercontent.com/16067358/63425776-3d144880-c409-11e9-9ea2-14a03ad3b826.png)
Thanks to change it to `1000M` for example.
unfortunately, we are aware of this issue and it does not come from Prestashop, see https://github.com/PrestaShop/PrestaShop/pull/10892#issuecomment-439097520

Thanks!

[2019-08-21 10:46] khouloudbelguith commented on #15183
Duplicate of #15162

[2019-08-21 10:47] silviu25 commented on #15183
that is memory limit not maximum size

[2019-08-21 10:50] maofree commented on #15178
I think it is due from some hook, in some part of the product page the data is refreshed when something is changed like quantity in other parts this not happen

[2019-08-21 10:53] khouloudbelguith commented on #12474
@elcolibri, It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.5.2 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql

It could be that the field location is missing in the table

[2019-08-21 10:58] Prem-lmx commented on #12474
which column?

On Wed, Aug 21, 2019 at 4:24 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 11:00] Prem-lmx commented on #12474
Thank you for your mail
im already add the location field..
[image: image.png]
Thanks

On Wed, Aug 21, 2019 at 4:28 PM Prem <premnath@vikashinfosolutions.com>
wrote:

[2019-08-21 11:01] khouloudbelguith commented on #15183
@silviu25, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-08-21 11:03] khouloudbelguith commented on #15178
@maofree, thanks for these clarifications.
The Productscomment issue is different fro your first issue (main image issue), That's why I created a new ticket.

Thanks!

[2019-08-21 11:05] khouloudbelguith commented on #15168
@Prem-lmx, have you the same issue as @PrestaShark ?

The default combination is not set in the Back office?

Thanks!

[2019-08-21 11:07] Prem-lmx commented on #15168
That issue solve or non?
plese reply
Thanks

On Wed, Aug 21, 2019 at 4:35 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 11:09] silviu25 commented on #15183
<a href="https://ibb.co/CP70zTv"><img src="https://i.ibb.co/sWw32MQ/x.png" alt="x" border="0"></a>

[2019-08-21 11:10] jolelievre commented on #15184
Oh interesting bug ^^ this needs to be fixed in the module

[2019-08-21 11:11] khouloudbelguith commented on #9710
@SajRus, thanks for your feedback.
No, this issue cannot be closed.
Because the "Edit" action & the "Delete" action do not support the multistore option.

Thanks!

[2019-08-21 11:16] khouloudbelguith commented on #15183
@silviu25, have you tried to change the memory limit & check if the issue occurs again?
![image](https://user-images.githubusercontent.com/16067358/63427637-81094c80-c40d-11e9-8cda-8aaa64f5c712.png)
Thanks!

[2019-08-21 11:17] khouloudbelguith commented on #15168
@Prem-lmx, the issue reported by @PrestaShark, is not reproduced, we rae waiting for his feedback, for more details you can follow this issue: #14851
About your issue, The default combination is not set in the Back office => product details page => Combination Tab?
![image](https://user-images.githubusercontent.com/16067358/63427684-9e3e1b00-c40d-11e9-9454-94658edb83bb.png)

Thanks!

[2019-08-21 11:21] khouloudbelguith commented on #15140
@Flower7C3, in the BO => Shop Parameters => Traffic & SEO page => Accented URL is enabled?

![image](https://user-images.githubusercontent.com/16067358/63427884-1c022680-c40e-11e9-81b0-54d77b8f0b55.png)
If not, thanks to enable it, check & feedback.

[2019-08-21 11:22] Prem-lmx commented on #15168
[image: image.png]
Thanks

On Wed, Aug 21, 2019 at 4:47 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 11:25] PrestaShark commented on #15168
Come on man stop using Github like that!
Click here https://github.com/PrestaShop/PrestaShop/issues/15168 and respond correctly!

[2019-08-21 11:25] silviu25 commented on #15183
I changed to 769M but still no luck

<a href="https://ibb.co/VYpyTT1"><img src="https://i.ibb.co/F4qvzzr/xx.png" alt="xx" border="0"></a>

[2019-08-21 11:28] Prem-lmx commented on #15168
But iisue not clear

thanks

On Wed, Aug 21, 2019 at 4:55 PM Prestashark.eu <notifications@github.com>
wrote:

[2019-08-21 11:29] khouloudbelguith commented on #15168
@Prem-lmx, did you check this in your case?

[2019-08-21 11:31] khouloudbelguith commented on #14646
@Daniel-Informax, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-21 11:33] PrestaShark commented on #15168
@Prem-lmx is Your products have combinations like Size? Color?

[2019-08-21 11:35] Prem-lmx commented on #15168
No only display the price..
Thanks

On Wed, Aug 21, 2019 at 5:03 PM Prestashark.eu <notifications@github.com>
wrote:

[2019-08-21 11:44] khouloudbelguith commented on #15107
Hi @antoniopineapple,

Thanks for your email.
Yes, I checked your log file.
When debug mode enabled there is no exception displayed?
What is the exact version of the 1-click upgrade did you use?
In your log file, this error `ERROR v1.7.5.0	2019/08/13 - 00:09:59: Invalid category vars at line 384 in file classes/Link.php` is not displayed.

Thanks!

[2019-08-21 11:44] TheElixZammuto commented on #9557
@matteolavaggi You can find (and edit) the pagination variables in `getTemplateVarPagination` method in `ProductPresentingFrontControllerCore`

[2019-08-21 11:47] Prem-lmx commented on #15168
debug mode..
[image: image.png]

Thanks

On Wed, Aug 21, 2019 at 5:04 PM Prem <premnath@vikashinfosolutions.com>
wrote:

[2019-08-21 11:48] silviu25 commented on #15183
any idea?

[2019-08-21 11:49] PrestaShark commented on #15168
xDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD

[2019-08-21 11:50] Prem-lmx commented on #15168
What?

On Wed, Aug 21, 2019 at 5:19 PM Prestashark.eu <notifications@github.com>
wrote:

[2019-08-21 11:51] khouloudbelguith commented on #15168
@Prem-lmx, sorry, but there is no image attached here.
You need to sign in on Github & upload this image on this ticket.
https://github.com/PrestaShop/PrestaShop/issues/15168
![image](https://user-images.githubusercontent.com/16067358/63429561-4d7cf100-c412-11e9-8a0f-3cf1b0597256.png)

Thanks!

[2019-08-21 11:55] Prem-lmx commented on #15168
![image](https://user-images.githubusercontent.com/52959027/63429768-9a73be00-c438-11e9-952f-3b2d290886d9.png)
![unnamed](https://user-images.githubusercontent.com/52959027/63429793-b11a1500-c438-11e9-8895-1c43e94c96b7.png)

[2019-08-21 11:56] khouloudbelguith commented on #15183
@silviu25, could you please navigate to your BO => Catalog => Files => Add new file => upload your image, check & feedback.

Thanks!

[2019-08-21 12:05] silviu25 commented on #15183
It is working in BO

<a href="https://ibb.co/ggpy94g"><img src="https://i.ibb.co/WKwn5VK/8.jpg" alt="8" border="0"></a>

[2019-08-21 12:17] LouiseBonnard commented on #15172
On Crowdin, I have this string, available for all catalogs (from 1.7.2 to 1.7.6):

<img width="600" alt="Capture d’écran 2019-08-21 à 14 15 18" src="https://user-images.githubusercontent.com/32565890/63431017-35ab6a00-c41e-11e9-8900-776d63fdfdcb.png">

Here, it seems that the variables are not properly displayed... @jolelievre, any idea? If it is a bug, let's add it to the debug roadmap, thanks

[2019-08-21 12:21] marionf commented on #15182
@PrestaShark

I see, however we already have several addons modules to do that:

https://addons.prestashop.com/fr/frais-de-port/21627-free-shipping-info.html
https://addons.prestashop.com/fr/frais-de-port/8895-gestion-avancee-frais-de-port-offerts.html
https://addons.prestashop.com/fr/frais-de-port/7490-freelivery-frais-de-port-gratuits.html
https://addons.prestashop.com/fr/frais-de-port/20769-amo

[2019-08-21 12:21] #15182 closed, assigned to nobody

[2019-08-21 12:24] matks commented on #13212
Yes it would bring breaking changes if we modify the behavior but we can avoid this by allowing people to choose whether they want to use this behavior or the old behavior.

No difficulties for upgrade I think 🤔 we will not modify old order IDs, only the new order IDs would be generated using this strategy.

However this is quite a lot of job. It's not the same size as the mail theme refacto or th

[2019-08-21 12:26] marionf commented on #14102
@ProBackup-nl

There was no vote for this suggestion, so I do not think we're going to implement it

[2019-08-21 12:26] #14102 closed, assigned to nobody

[2019-08-21 12:27] khouloudbelguith commented on #15168
@Prem-lmx, Could you please navigate to your BO => Advanced Parameters => Information page & provide me a screenshot about your server configuration & the  MySQL version.

Thanks!

[2019-08-21 12:28] maofree commented on #15178
Hi
found the error in the classic theme give me some minutes to make the video

[2019-08-21 12:29] khouloudbelguith commented on #15178
@maofree, waiting for your feedback.

Thanks!

[2019-08-21 12:30] khouloudbelguith commented on #15183
@silviu25, if it is an FO issue only, could you please upload this file in the "contact form" page & check if you have the same error?
![image](https://user-images.githubusercontent.com/16067358/63431909-e06c5a00-c417-11e9-8b8d-8983eacc8231.png)

Thanks!

[2019-08-21 12:42] maofree commented on #15178
on the select like for size the problem is not present like you report on some videos,
now after many tests I've seen that it is due on the color selection

https://drive.google.com/file/d/1lQLh1MejRGnK1MlWi7gLGGHdR9EDmD_s/view

select the second color and you will see that the big immage will not opened (I think because the box of the image is reloaded in ajax mode and the javascript of the modal

[2019-08-21 12:43] silviu25 commented on #15183
I receive this duplicated message: "There was an error sending the message."
<a href="https://ibb.co/7rfbTDB"><img src="https://i.ibb.co/VM13hGb/90.jpg" alt="90" border="0"></a>

[2019-08-21 12:44] silviu25 commented on #15183
but without attached file is working ok

[2019-08-21 12:46] khouloudbelguith commented on #13002
Hi @colinegin,

The steps to reproduce the issue (other customers can see vouchers) are different.
In fact, this issue: https://github.com/PrestaShop/PrestaShop/issues/13002 we are talking about Cart rule limited to just a customer & group restriction
In this ticket: https://github.com/PrestaShop/PrestaShop/issues/10766, we have another condition (Total available = 0 < Total available for each use

[2019-08-21 12:48] silviu25 commented on #15183
even so I received the message with attachment in BO > Customer support

[2019-08-21 12:51] maofree commented on #15178
in another theme with products with many colors the behavior is even stranger, if I push on the second color the modal doesn't work, if I push again on the first color and then return on the second the modal will work, but not always, the same for the rest of colors

[2019-08-21 12:52] khouloudbelguith commented on #15183
@silviu25, no this a different issue.
What is the exact type of this product? is it a standard product?

Thanks!

[2019-08-21 12:52] Prem-lmx commented on #15168
[image: image.png]

Thanks

On Wed, Aug 21, 2019 at 5:58 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 12:55] khouloudbelguith commented on #15168
@Prem-lmx, there is no image attached here.
You need to sign in on Github & upload this image on this ticket.
Thanks!

[2019-08-21 12:59] silviu25 commented on #15183
Is a product with combinations
I'm selling canvas prints and the customer choose the size and material then upload his picture. the price for this product is updated according to material and size.
Here you can test: https://tablouriok.ro/tablouri-canvas/tablou-canvas-personalizat.html

[2019-08-21 13:00] Prem-lmx commented on #15168
![unnamed (1)](https://user-images.githubusercontent.com/52959027/63433939-b596fb80-c441-11e9-8036-501b2ac6ff1b.png)
Thanks
![unnamed (1)](https://user-images.githubusercontent.com/52959027/63433952-bcbe0980-c441-11e9-9202-54ed716d34b3.png)

[2019-08-21 13:03] khouloudbelguith commented on #15183
@silviu25, I tried with this image in your shop
![legumes-clairemedium](https://user-images.githubusercontent.com/16067358/63434114-5b377400-c41c-11e9-9c07-e47e7392e43b.jpg)
& it is well uploaded.
![image](https://user-images.githubusercontent.com/16067358/63434148-6c808080-c41c-11e9-80f9-bc42dddef72e.png)

Thanks!

[2019-08-21 13:05] khouloudbelguith commented on #15168
@Prem-lmx,

You have memory limit =1G incorrect.
Thanks to change it to `1000M` for example.
unfortunately, we are aware of this issue and it does not come from Prestashop, see https://github.com/PrestaShop/PrestaShop/pull/10892#issuecomment-439097520

Thanks!

[2019-08-21 13:06] matks commented on #14994
Here are some candidates for the list:
- in the BO, migrated pages use a Smarty layout template that is different from the Smarty layout template used in legacy pages (https://github.com/PrestaShop/PrestaShop/issues/12925)
- modules which load the same dependency but different versions through Composer can crash the shop
- prices computation on both backend (php) and frontend (javascript) are perf

[2019-08-21 13:06] matks commented on #14193
@v4lux you might be interested in this strategy being applied everywhere ?

[2019-08-21 13:07] silviu25 commented on #15183
is ok because is small 445 KB, is under 8192 kB
what I am trying to do is to increase this limit of 8192 kB
clients need to upload 45,000 KB files or even larger

[2019-08-21 13:10] khouloudbelguith commented on #15178
@maofree, I tried with PS1.7.6.0 & the theme classic & it is OK
https://drive.google.com/file/d/1rUxvGCZEyBVoEg1RQ45sWIEODi0ZKHni/view

Thanks!

[2019-08-21 13:12] maofree commented on #15178
I'll try from other pc and S.O.
I get this problem from linux with chrome, I'll check better

[2019-08-21 13:13] matteolavaggi commented on #14500
![image](https://user-images.githubusercontent.com/24798703/63434604-b6ba2f80-c425-11e9-84d2-51638c56ad34.png)
Try to checkout with a customer account imprted in database from 1.7.4.4 to 1.7.6 result in error 500.

On checkout step prestashop ask to add missing fields in address , and we can see that it ask to fill the DNI field.
Fill in the address and hit save result in the error above.

In back

[2019-08-21 13:13] Prem-lmx commented on #15168
[image: image.png]
NO issue solve..
Thanks

On Wed, Aug 21, 2019 at 6:35 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 13:13] Prem-lmx commented on #15168
![2a4adc36-05e6-4510-84ba-81c899fc9e1e](https://user-images.githubusercontent.com/52959027/63434884-884b4d00-c443-11e9-8425-9f61a9cb8f6b.png)
No issue solve..
Thanks

[2019-08-21 13:15] khouloudbelguith commented on #15178
@maofree, thanks!

Waiting for your feedback.

[2019-08-21 13:18] khouloudbelguith commented on #14500
@matteolavaggi, you have an override of the class Dispatcher.php.
![image](https://user-images.githubusercontent.com/16067358/63435217-6e4b4380-c41e-11e9-9345-057dc4c3a6af.png)

It could be the problem.

Thanks!

[2019-08-21 13:19] matteolavaggi commented on #11065
PHP 7.2

ContextErrorExceptionWarning: count(): Parameter must be an array or an object that implements Countable
--
in Cart.php line 61
at Cart->getPackageShippingCost(62, true, object(Country), null, 9)in Carrier.php line 758

Still this bug on PS 1.7.6.0

[2019-08-21 13:19] khouloudbelguith commented on #15183
@silviu25, thanks!
So, can I close the issue?

Thanks!

[2019-08-21 13:22] khouloudbelguith commented on #11065
@matteolavaggi, `php-intl` extension is installed on your server?

Thanks!

[2019-08-21 13:32] khouloudbelguith commented on #15168
@Prem-lmx, in your BO => Product details page => Price Tab
You have a lot of fields
![image](https://user-images.githubusercontent.com/16067358/63436339-6c827f80-c420-11e9-81f4-be08cdf67872.png)
@Prem-lmx, those fields are added from a custom module?

Thanks!

[2019-08-21 13:32] matteolavaggi commented on #11065
Yes, i've found the problem, is related to the count() function modification on php7.2 that now retunr an e warning.

THe problem is related to this module , developer has not yet fixed it (crazy)

Free Delivery Pro

BTW because prestashop is full of third parts module , why there isn't a check against php compatibility of them? OR better there is no way to implement a better handling of the error

[2019-08-21 13:34] Prem-lmx commented on #15168
Yes custom module,
Thanks

On Wed, Aug 21, 2019 at 7:02 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 13:35] khouloudbelguith commented on #11065
@matteolavaggi, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-21 13:36] khouloudbelguith commented on #15168
@Prem-lmx, Have you tried to contact the module author?
Thanks to check with them the issue & feedback.

[2019-08-21 13:40] Prem-lmx commented on #15168
sry ...not cusom module add,
Thanks

On Wed, Aug 21, 2019 at 7:06 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-21 13:41] khouloudbelguith commented on #15082
@mrabsinthe, I tried with PS1.7.5.1 & it is OK
https://drive.google.com/file/d/1Ji1i-tPSD_NU-slpKBNF4kj3nyoB4FhR/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-08-21 13:41] #15082 closed, assigned to nobody

[2019-08-21 13:43] khouloudbelguith commented on #15168
@Prem-lmx, so those fields how they are added, did you edit the core PrestaShop & do you have any overrides?

Thanks!

[2019-08-21 13:45] Prem-lmx commented on #15168
Thanks for your Kind responce,,
i have solve the problem,
Thanks
khouloudbelguith

On Wed, Aug 21, 2019 at 7:10 PM Prem <premnath@vikashinfosolutions.com>
wrote:

[2019-08-21 13:45] khouloudbelguith commented on #15037
@papich06,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
I search it in the BO => Modules => Module Catalog Page
Thanks to check and feedback.

[2019-08-21 13:51] khouloudbelguith commented on #14733
Hi @immergente,

Unless you know what you're doing, I suggest waiting until 1.7.6.1 is out, then update.
In fact, you need to edit your files in your PrestaShop project folder as these files https://github.com/PrestaShop/PrestaShop/pull/14962/files

Thanks!

[2019-08-21 13:52] khouloudbelguith commented on #15168
@Prem-lmx, thanks!
Since it is fixed, I close the issue.

Feel free to open a new one when needed.

[2019-08-21 13:52] #15168 closed, assigned to nobody

[2019-08-21 13:55] v4lux commented on #14193
Indeed! :) It would be nice to have this behavior as mush possible on every hook. For example, the hook actionOrderSlipAdd -> This hook is executed when the merchant process to a refund on an order. Payment modules may eventually call a payment API to also make the refund on the platform payment side. If the API returns an error it could be nice to rollback all actions made by the hook.

[2019-08-21 13:57] PrestaShark commented on #15168
@Prem-lmx You should help community and tell how did You manage your issue... Maybe someone else will have similar problem?

[2019-08-21 14:04] khouloudbelguith commented on #14936
@racfalit, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2019-08-21 14:08] khouloudbelguith commented on #14999
Hi all,

Your ticket is a duplicate of #15103
It is added to our bug roadmap.
So, I close it.
Thanks!

[2019-08-21 14:08] #14999 closed, assigned to nobody

[2019-08-21 14:08] khouloudbelguith commented on #14999
Duplicate of #15103

[2019-08-21 14:10] PrestaShark commented on #15182
As World of Tanks player i have notticed that many of unofficial mods was incorporated into game core features - just for mention ;)

[2019-08-21 14:11] khouloudbelguith commented on #15106
Hi @silviu25,

Thanks for your report.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-21 14:28] silviu25 commented on #15183
no, we still can not upload large images because for some reason prestashop have a 8192 kB upload limit

[2019-08-21 14:35] silviu25 commented on #15183
I found this: https://www.prestashop.com/forums/topic/355339-maximum-size-allowed/?tab=comments#comment-1896136 but but it does not appear to be applicable to PS 1.7.6.0

[2019-08-21 14:47] silviu25 commented on #15106
I activated debug mode and deactivated cache but is not generating any PHP error log

[2019-08-21 14:50] matteolavaggi commented on #9557
ProductPresentingFrontControllerCore is a file, a function, a helper, a class ? Thanks

[2019-08-21 14:55] khouloudbelguith commented on #15205
Hi @claustrier, @dennis-nielsen

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-21 14:55] #15205 closed, assigned to nobody

[2019-08-21 14:59] matks commented on #15133
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15139

[2019-08-21 14:59] #15133 closed, assigned to eternoendless

[2019-08-21 15:01] khouloudbelguith commented on #15203
@wewew85, any news about your issue?

Thanks!

[2019-08-21 15:05] Thomas-lhuillier commented on #9824
Is there anything new regarding this issue?

[2019-08-21 15:11] khouloudbelguith commented on #15201
Ping @colinegin @marionf what do you think?

Thanks!

[2019-08-21 15:12] matks commented on #11065
Unfortunately there are no reliable ways to be able to say "this module is php7.2 compatible". There are lot of tools that can find php7.2 errors in a php code, but no tool can confirm there is absolutely zero issues in it. This is the responsibility of the module developer to handle different php versions, or to warn users what versions are not compatible.

BTW this module is really late 😄 [php 7

[2019-08-21 15:12] khouloudbelguith commented on #15202
Hi @tjengbudi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 15:12] #15202 closed, assigned to nobody

[2019-08-21 15:14] khouloudbelguith commented on #9824
Hi @Thomas-lhuillier,

Sorry, not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-08-21 15:16] khouloudbelguith commented on #15199
Hi @JavierEB,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 15:16] #15199 closed, assigned to nobody

[2019-08-21 15:17] khouloudbelguith commented on #15200
Hi @bellamolipaolo,

Do you still have the same issue?

Thanks!

[2019-08-21 15:18] arkenzos commented on #14733
So we are waiting for the update 1.7.6.1

[2019-08-21 15:19] khouloudbelguith commented on #15197
Ping @colinegin @marionf

[2019-08-21 15:21] khouloudbelguith commented on #15196
Hi @drchad2008,

Sorry for the late answer.
Do you still have the same issue?
We release a new version of the 1-click upgrade module v4.9.0.

Thanks!

[2019-08-21 15:28] khouloudbelguith commented on #15194
Hi,

This issue still occurs
![image](https://user-images.githubusercontent.com/16067358/63445639-a6f41880-c430-11e9-9247-f6398f12aa17.png)

I’ll add this to the debug roadmap.
Thanks!

[2019-08-21 15:35] khouloudbelguith commented on #15191
Hi @powergraf06,

Do you still have the same issue?
We released a new version of the 1-click upgrade v4.9.0.

Thanks!

[2019-08-21 15:36] khouloudbelguith commented on #15190
Ping @colinegin, @marionf

[2019-08-21 15:38] khouloudbelguith commented on #15189
Hi @rachpat,

Sorry for the late answer.
Do you still have the same issue?

We release a new version of the 1-click upgrade v4.9.0 to make an upgrade from PS1.6 => PS1.7

Thanks!

[2019-08-21 15:43] khouloudbelguith commented on #15185
Hi @toyser,

This is a permission issue.
Thanks to edit the permission's file & feedback.

[2019-08-21 15:46] maofree commented on #15178
from windows all is ok
instead from linux I continue to have this problem even in incognito mode of chrome
from firefox on linux all is ok

so the problem is only on linux with chrome

[2019-08-21 15:56] matks commented on #14146
I tried https://github.com/allocine/twigcs/

- v2 requires Twig v2
- v1 is usable for our project but does not allow custom rules (this is a v2 feature)

[2019-08-21 16:02] khouloudbelguith commented on #15195
Hi @gray-b,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 16:02] #15195 closed, assigned to nobody

[2019-08-21 16:02] khouloudbelguith commented on #15198
Ping @colinegin, @marionf

[2019-08-21 16:05] khouloudbelguith commented on #15193
Ping @PrestaShop/prestashop-core-developers what do you think?

[2019-08-21 16:07] khouloudbelguith commented on #15188
Hi @carras,

Do you need to make an upgrade from PS1.6 to PS1.7.2?
The last version PrestaShop released is PS1.7.6.0.
Did you use the local Archive?

Thanks!

[2019-08-21 16:08] wewew85 commented on #15203
Hi @khouloudbelguith
I did it but with the same result:( same error

[2019-08-21 16:13] khouloudbelguith commented on #15203
@wewew85; we released a new version of the 1-click upgrade v4.9.0.
Did you check your issue with this version?

Thanks!

[2019-08-21 16:21] khouloudbelguith commented on #15178
@maofree, my server information is Server information Linux #1 SMP Debian 3.16.51-3 (2017-12-13) x86_64 => OK
https://drive.google.com/file/d/1rt75W5CGTls1wafA0J5y7qluPwRpPEBF/view

Thanks!

[2019-08-21 16:23] wewew85 commented on #15203
Hi @khouloudbelguith,
No I didn’t. You know it is always 2 hours of work because of error. I have to copy all files via FTP because prestashop is not working. Rollback in presta is not working...

[2019-08-21 16:24] maofree commented on #15178
I use arch linux on my pc

[2019-08-21 16:24] khouloudbelguith commented on #15106
@silviu25, in my case, I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1rVoBM1lNg3XATIlnDD6mIIvd_JxCDvoQ/view
Thanks to check & feedback.

[2019-08-21 16:25] khouloudbelguith commented on #15203
@wewew85, what is the exact version of the 1-click did you use?

Thanks!

[2019-08-21 16:28] silviu25 commented on #15106
I know it's annoying since it worked in the subfolder and now it has stopped.
I tried everything but I don't know what else to do

[2019-08-21 16:33] Lathanao commented on #14350
Hi @hitinder,

Does changing the setting of your search parameter like here could resolve your problem ?

Poids du nom du produit: 8
Poids de la référence: 2
Poids de la description courte: 0
Poids de la description longue: 0
Poids de la catégorie: 5
Poids de la marque: 10
Poids des mot-clés: 0
Poids des attributs: 0
Poids des caractéristiques: 0

Regards,
Lathanao

[2019-08-21 16:47] wewew85 commented on #15203
@khouloudbelguith
My version of 1-click is 4.5.1.

[2019-08-21 17:11] ArtiomkaPL opened #15207 "Added images to product do not appear on page"
**Describe the bug**
Added images to product do not appear on page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog-Products
2. Click on Edit product - Basic settings
3. Add more images

**Additional information**
If it matters, auto added from prinftul
![notappearing](https://user-images.githubusercontent.com/40856128/63451205-57234a80-c44c-11e9-9487-76cc8d02a88e.PNG)
![notappe

[2019-08-21 18:02] TheElixZammuto commented on #9557
`ProductPresentingFrontControllerCore` is a class in prestashop that manages product lists. You can find it inside `/classes/controller/ProductPresentingFrontController.php`. I suggest you to use the [Prestashop override system](https://devdocs.prestashop.com/1.7/modules/concepts/overrides/) to change the method I wrote earlier and achieve the result you’re hoping for.

[2019-08-21 18:24] CaseOnline commented on #12241
Hi @marionf,

About attribute nr
Ref nr 12345-1 (black) 12345-2 (blue) 12345-3 (red) etc... to see thoose attribute nr 1,2,3 in 1.7.6 they not listed in combination view. In 1.6 they are all listed perfect.

Delete pictures : If you duplicate a product and it has lets say 7 pictures. You need to remove 1 by 1 and confirm popup window. In ps 1.6 as you picture above you just press delete and press

[2019-08-21 18:31] CaseOnline opened #15208 "Ps 1.7.6.0 not saving category position"
Problem with drag and shop category position. Ps says save but not changing category order...

Don't know if this is a bug or some settings but it's impossible to change.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable,

[2019-08-21 18:43] fafa0659 commented on #15124
hi @khouloudbelguith
the problem is it on encoding for google .
i have tried to take some pictures to help you to find origin problems
on this example i have create a page cms

domain.com/23-xxx+xxxx+xxxx+xxx
you can see it on pictures attached, google remplace all "+" by 2b now in search co,sole or google result the page became domain.com/23-xxx2%xxxx2%xxxx2%xxx

when you clic on the google resul

[2019-08-21 19:15] Flower7C3 commented on #15140
@khouloudbelguith I have enabled this option, but it does not make any change. Now when I edit category it gives me error code 6.

[2019-08-21 20:40] photinia73 opened #15209 "viber url is not inserted"

[2019-08-21 20:45] photinia73 commented on #15209
Hello!
I try insert in the page content my Viber comunity to invite my clients to chat. But the back office delete the part of code with " href="viber://pa......" How can I insert such url? I don`t use the url for inviting with https from the Viber command decision to stop the verification of public accounts. What can I do in this case?

[2019-08-21 21:38] icemansparks opened #15210 "Product Availability not displayed in detail page anymore"
**Describe the bug**
In on of the current Versions of the module, the fields for editing the product availaility were removed. After this change the fields are no longer editable in the backoffice and the availability wich is set in the product details does not show on the details page in frontoffice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to product details
2. edit settings for

[2019-08-21 23:28] JUANEF1986 opened #15211 "Hello, I have created tax rules and and The products do not appear with VAT"
**Describe the bug**
I have created new tax rules for the VAT in Spain's provinces and this has caused that disappear the VAT have disappear in all articles. All tax rates are activate (like visitor, guest and customer. Also in tax options) and I don`t know  wich is the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2019-08-22 01:34] lilwayne470 opened #15212 "Wrong total cost in the Back Office in Total spent since registration"
**Wrong total cost in the Back Office in Total spent since registration**
In the Back Office on Prestashop 1.7.5.2.

**To Reproduce**
After a customer order as a guest:
1. Go to Orders
2. Click on the customer order to view order details
3. On the right Card titled Customer, click on the button 'Transform a guest into a customer'
4. You will see the Total amount listed isn't the same you have on P

[2019-08-22 01:56] AntiGravitySports opened #15213 "Create new order but the button of "Create the order" is grey"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-08-22 07:01] Daaaaad commented on #14685
Re-allow 😛 Because that was possible in previous versions... but okay 😉

[2019-08-22 07:31] khouloudbelguith commented on #15207
Hi @ArtiomkaPL,

Could you please navigate to the BO => Product details page => Combinations Tab
Edit any combination and check if those images are selected in the buttom of the page.

Thanks!

[2019-08-22 07:50] khouloudbelguith commented on #15208
Hi @CaseOnline,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14529 to fix the issue.
It is fixed in the PS1.7.7.
Your ticket is a duplicate of #14504
So, I close it.
Thanks!

[2019-08-22 07:50] #15208 closed, assigned to nobody

[2019-08-22 07:50] khouloudbelguith commented on #15208
Duplicate of #14504

[2019-08-22 07:53] khouloudbelguith commented on #15209
Hi @photinia73,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-08-22 08:07] marionf commented on #12241
@CaseOnline

Thank you for your feedbacks

About the duplication of a product & images there are already an issue here: https://github.com/PrestaShop/PrestaShop/issues/13397
We also plan to add the possibility to add many images in once and delete images in bulk, as you can see here: https://github.com/PrestaShop/PrestaShop/issues/12773

About adding the reference and the location in combinations

[2019-08-22 08:11] marionf commented on #12773
Specs for this improvement:

You can press CTRL+Select many images. After selecting more than one image, the frame on the right is displayed with:
- caption field: You can enter a caption which will be applied to all images. If some selected images already had captions, they are replaced when clicking on Save.
- A “delete all” button to delete all the product images. When you click on “delete all”

[2019-08-22 08:19] #14416 closed, assigned to matthieu-rolland

[2019-08-22 08:29] khouloudbelguith commented on #15211
Hi @JUANEF1986,

If you need to display Products with price tax excluded
=> in the BO => Customers => Groups page => "Edit" your Group & change the "Price display method" to "Tax excluded"
![image](https://user-images.githubusercontent.com/16067358/63499179-3c3dee00-c4bf-11e9-9e9b-36dbb8aa578d.png)

Also, in the BO => Localization => Taxes => You can enable tax & "Display tax in the shopping cart"

[2019-08-22 08:29] #15211 closed, assigned to nobody

[2019-08-22 08:39] khouloudbelguith commented on #15210
Hi @icemansparks,

I did not manage to reproduce the issue with PS1.7.6.0 & the ps_legalcompilance v3.0.2.
The "Delivery time" is well displayed.
I attached a screen record
https://drive.google.com/file/d/1L4nLrJ58RE2-JPCHuJzch9cuQw5tC9Io/view
Thanks to check & feedback.

[2019-08-22 08:43] khouloudbelguith commented on #15213
Hi @AntiGravitySports,

Do you have an issue with this button?
![image](https://user-images.githubusercontent.com/16067358/63500157-4103a180-c4c1-11e9-82d5-bc7a472f3b51.png)

Thanks!

[2019-08-22 08:59] AntiGravitySports commented on #15213
Hi Prestashop team,

Clicking these two bottons, it will show the page of creating new order, but the buttons of "Create the order" are still disable.

tina@eyezone.cn

From: khouloudbelguith
Date: 2019-08-22 16:43
To: PrestaShop/PrestaShop
CC: AntiGravitySports; Mention
Subject: Re: [PrestaShop/PrestaShop] Create new order but the button of "Create the order" is grey (#15213)
Hi @AntiGravitySport

[2019-08-22 09:15] eternoendless commented on #15192
For the record the offending line has been removed since 1.7.0: https://github.com/PrestaShop/PrestaShop/commit/ea5dcd9a19f55ed2d72d7c6fabe5f8051d30e171

Does the configuration problem exist as well when upgrading all the way to 1.7?

[2019-08-22 09:19] photinia73 commented on #15209
I thought that this is a bug. I write the text in the back office, but it disapear.... Why I can`t insert the url to the Viber public account?

[2019-08-22 09:22] khouloudbelguith opened #15214 "After Enabling "Free shipping" in the carriers page => the ranges shouldn't be emptied"
**Is your feature request related to a problem? Please describe.**
In the BO => Shipping => Carriers page => after adding some Ranges to a specific carrier => when we enable the Free Shipping option, Ranges shouldn't be emptied
1.
![carrier1](https://user-images.githubusercontent.com/16067358/63503014-97bfaa00-c4c6-11e9-8753-7cf1d53d72e6.jpg)
2. Enable Free shipping
![image021](https://user-images

[2019-08-22 09:23] khouloudbelguith commented on #15214
Ping @colinegin, @marionf what do you think?

[2019-08-22 09:25] matthieu-rolland commented on #14930
Here is the official migration guide:

https://jquery.com/upgrade-guide/3.0/#overview

We already use a jquery-migrate (version 1.2.1) in the back office, it can't be used simultaneously with jquery-migrate 3.x, so we have to update our jquery first.

[2019-08-22 09:29] khouloudbelguith commented on #15212
Hi @lilwayne470,

I did not manage to reproduce the issue with PS1.7.6.0 & the branch 1.7.6.x (next version PS1.7.6.1.)
I attached a screen record
https://drive.google.com/file/d/1O5Mz4hT1xf0axqEdyueC30A-1IFo22VO/view
Thanks to check & feedback.

[2019-08-22 09:31] khouloudbelguith commented on #15209
@photinia73, on which page did you add this URL?
Could you please provide some screenshots?

Thanks!

[2019-08-22 09:33] Hlavtox commented on #14611
[code]

[code]

[code]

@marionf @khouloudbelguith Here you go girls.

Our stores are hosted on a server configured specifically for Prestashop, so believe me if I say the bug is there.

[2019-08-22 09:36] khouloudbelguith commented on #15187
Hi @Klemart3D,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

Thanks to check & feedback.

[2019-08-22 09:44] khouloudbelguith commented on #15107
@antoniopineapple, did you use a Memcached?

Thanks!

[2019-08-22 09:45] photinia73 commented on #15209
On these pages
In any of them I insert the url <a href=”viber://…”> and after saving “<a “ is  still in the code but “href=”viber://…”” disappear
((

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: четверг, 22 августа 2019 г. в 12:32
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] viber url is not inserted (#15209)

@photinia73, on which

[2019-08-22 09:45] khouloudbelguith commented on #15140
@Flower7C3, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-22 09:53] khouloudbelguith commented on #15213
@AntiGravitySports, thanks for these clarifications.
The order page will be migrated to Symfony so this button will be changed.https://github.com/PrestaShop/PrestaShop/issues/13878
As an example
The customer page
Before migration
![image](https://user-images.githubusercontent.com/16067358/63505201-043ca800-c4cb-11e9-9cb9-ce3fc60fa3d5.png)
After migration
![image](https://user-images.githubusercont

[2019-08-22 10:06] khouloudbelguith commented on #15209
@photinia73, a cms page created from the BO=> Design => Pages page?

Thanks!

[2019-08-22 10:07] xiropot opened #15215 "% symbol should be prohibited from db settings"
**Describe the bug**
% symbol creates an error asking for a parameter that does not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Make fresh install with two % symbols in the db password and a few characters between.
2. Open config/defines.inc.php.
3. Turn errors on and save.
4. Browses to either BO or FO and see the error.

**Additional information**
PrestaShop version: 1.7.6
PHP v

[2019-08-22 10:13] eternoendless commented on #15075
Hi @Hlavtox

If the wording you're trying to translate is NOT present in a template within that theme, then it may not show up in the translation interface.

Theme translation currently works by analyzing the theme's code and pulling out the translations it uses. So only the wordings that appear somewhere in the theme's templates show up on the interface. This means that if the theme inherits temp

[2019-08-22 10:16] antoniopineapple commented on #15107
What is it?

⁣Ottieni BlueMail per Android ​

Il giorno 22 Ago 2019, 11:45 AM, alle ore 11:45 AM, khouloudbelguith <notifications@github.com> ha scritto:

[2019-08-22 10:34] antoniopineapple commented on #15107
Do you mean
If i have active the cache? Like smart cache and the others kind? If so yes but i tried to reapeat the process turning off all the cache but the problem still remain

⁣Ottieni BlueMail per Android ​

Il giorno 22 Ago 2019, 11:45 AM, alle ore 11:45 AM, khouloudbelguith <notifications@github.com> ha scritto:

[2019-08-22 10:43] khouloudbelguith commented on #15215
Hi @tapandagr,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12556
So, I close it.
Thanks !

[2019-08-22 10:43] #15215 closed, assigned to nobody

[2019-08-22 10:44] khouloudbelguith commented on #15215
Duplicate of #12556

[2019-08-22 10:44] photinia73 commented on #15209
And there is one else bug. In the back office used tag <strong> it does not work. I have to change it on <b>

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: четверг, 22 августа 2019 г. в 12:32
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] viber url is not inserted (#15209)

Reopened #15209.
—
You are receiving this because you were men

[2019-08-22 10:45] Shoprunners commented on #14733
Thanks for this bugfix, works good for me.

[2019-08-22 10:55] Klemart3D commented on #15187
Hi @khouloudbelguith ,
I didn't changed core files. If I remember right, it was an issue with Composer. Certainly specific to my dev environment. Now it solved.
Thanks.

[2019-08-22 10:55] #15187 closed, assigned to nobody

[2019-08-22 10:55] khouloudbelguith commented on #15107
@antoniopineapple,
![memcached](https://user-images.githubusercontent.com/16067358/63509310-c1330280-c4d3-11e9-9457-783000ba4c47.png)
Thanks!

[2019-08-22 11:08] khouloudbelguith commented on #15124
@fafa0659;

How did you replaced "-" by "+".
I tried with cms pages & it is OK
They are well displayed in th Google analytic report.
![pages_url](https://user-images.githubusercontent.com/16067358/63510073-9053cd00-c4d5-11e9-9065-6e233bfe3b33.png)

Thanks!

[2019-08-22 11:10] khouloudbelguith commented on #15187
@Klemart3D, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-08-22 11:22] khouloudbelguith commented on #15209
@photinia73,

I used this description & it is OK
`<p><a href="https://www.viber.com/">Visit Viber</a></p>
<h2>Strong expression</h2>
<p>test</p>`
I just replaced <strong> with <h2>
I attached a screen record
https://drive.google.com/file/d/1rlph56teAyDh48bn7SCk1eSOL98JsFFY/view
Thanks to check & feedback.

[2019-08-22 11:25] antoniopineapple commented on #15107
Use cache is setted to no right now

⁣Ottieni BlueMail per Android ​

Il giorno 22 Ago 2019, 1:10 PM, alle ore 1:10 PM, khouloudbelguith <notifications@github.com> ha scritto:

[2019-08-22 11:30] photinia73 commented on #15209
Because you used https://, and I want to use Deep Links
Viber:// not possible insert in the page content same as href=”JavaScript…. But the deep viber link is not a danger script!
I wrote that https://viber is absolutely unusefull link ((

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: четверг, 22 августа 2019 г. в 14:22
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Те

[2019-08-22 11:31] khouloudbelguith commented on #15106
@silviu25, you can install the Google Analytics module, it is very simple for the statics.
![ga](https://user-images.githubusercontent.com/16067358/63511294-b75fce00-c4d8-11e9-89c5-24105a806425.png)
Thanks to check & feedback

[2019-08-22 11:33] khouloudbelguith commented on #15107
@antoniopineapple, after disabling the cache, do you still have the same issue?

Thanks!

[2019-08-22 11:44] photinia73 commented on #15209
Where the pages that I create (not shop) are stored? I can’t found the content of them….

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: четверг, 22 августа 2019 г. в 14:22
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] viber url is not inserted (#15209)

@photinia73,
I used this description & it is OK
`
Visit Viber
Strong expression
te

[2019-08-22 11:54] matteolavaggi opened #15217 "Unknown column 'a0.id_order' in ps_paypal_processlogger table"
**Describe the bug**

Unable to open order datails payed by paypal.

`[PrestaShopDatabaseException]
Unknown column 'a0.id_order' in 'where clause'

SELECT *
FROM `ps_paypal_processlogger` a0
WHERE (a0.`id_order` = 1064)

at line 769 in file classes/db/Db.php
764.         if ($webservice_call && $errno) {
765.             $dbg = debug_backtrace();
766.             WebserviceRequest::getInstance()->

[2019-08-22 12:11] matthieu-rolland commented on #13829
Here is the official migration guide:

https://jquery.com/upgrade-guide/3.0/#overview

We already use a jquery-migrate (version 1.2.1) in the back office, and it can't be used simultaneously with jquery-migrate 3.x.

So in a nutshell, the process should be as follow:

1/ Change jquery version from 1.11 to 1.12

2/ Check that nothing is broken, fix when it's broken

3/ Once bugs have been fixed, ch

[2019-08-22 12:12] antoniopineapple commented on #15107
Yes

⁣Ottieni BlueMail per Android ​

Il giorno 22 Ago 2019, 1:34 PM, alle ore 1:34 PM, khouloudbelguith <notifications@github.com> ha scritto:

[2019-08-22 12:20] khouloudbelguith commented on #15217
Hi @matteolavaggi,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
https://addons.prestashop.com/en/contact-us?id_product=1748
Thanks to check with them & feedback

Best regards, Khouloud

[2019-08-22 12:26] khouloudbelguith commented on #15107
@antoniopineapple, did you use the module Megamenu?

Thanks!

[2019-08-22 12:29] khouloudbelguith commented on #15209
@photinia73, do you need to find the pages on the FO?
You can click on the Sitemap to find the list of Pages
https://drive.google.com/file/d/1dV6e8X90ivv2upFPo60D4VAT8ljuENot/view
Thanks!

[2019-08-22 12:32] khouloudbelguith commented on #15183
@silviu25, Could you please provide me the exact image with the large size to test it.
This is a public space.
You can provide me the picture by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-22 12:33] matteolavaggi commented on #15217
Hi, myabe you or other dev team has better contact with paypal dev team than me.

Its a module used by 100% of prestashop store, so i think is in your interest to contact paypal dev team and ask for a fix.

Feeel free to close this issue thanks

[2019-08-22 12:36] khouloudbelguith commented on #15058
@8ternity, did you create a release from the PR? then did  you make an upgrade?

Thanks!

[2019-08-22 12:38] khouloudbelguith commented on #15217
@matteolavaggi, sorry but as I said before, it is not provided by PrestaShop Core, you need to contact them by your specific account on our MarketPlace Addons.

Thanks for your understanding!

[2019-08-22 12:54] colinegin commented on #13002
Oh sorry I misunderstood the other issue.
They may be related to each other, but they are not duplicated so we should leave both of them :)
Thanks !

[2019-08-22 12:57] #15217 closed, assigned to nobody

[2019-08-22 13:17] photinia73 commented on #15209
No, I want to find the pages from back office/design/pages in the mySQL or
FTP, to see the code

чт, 22 серп. 2019, 15:29 користувач khouloudbelguith <
notifications@github.com> пише:

[2019-08-22 13:18] silviu25 commented on #15183
Here are some free large images you can test https://www.effigis.com/en/solutions/satellite-images/satellite-image-samples/
and by email you have the picture in question
Thanks

[2019-08-22 13:19] alshira opened #15218 "Prestashop 1.7.6.0 translation MX description disabled"
Version: Prestashop 1.7.6.0
Translation: MX
Module: Products
How reproduce the issue:
1) create a new product
2) try to add short description or long description, both fields disabled by css
3) atteched screenshot with evidence (css applied wrongly)
![Captura de pantalla de 2019-08-22 08-14-50](https://user-images.githubusercontent.com/21247436/63517883-7609f700-c4b5-11e9-99c8-24e495e51f4f.png)

[2019-08-22 13:20] silviu25 commented on #15106
I;m already using Google Analytics module but it is just annoying to know there is a function which is not working
Thanks

[2019-08-22 13:21] go-sudo commented on #15115
Hello

I was able to reproduce the issue. Page Catalogue > Produits required about 1.4 minutes to be opened after logging in. Please find the screenshots attached.

This delay of TTFB (Time to first byte) the most probably caused by the PHP script which processes the request:
https://playstore.ma/admin239cphwgn/index.php/sell/catalog/products?_token=Hi25rIPupWNEdQMVTiQfyeVRgKTxshF9IDqlvwPzulc

At

[2019-08-22 13:25] khouloudbelguith commented on #15115
Hi @go-sudo,

Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queries.

Thanks!

[2019-08-22 13:26] khouloudbelguith commented on #15106
@silviu25, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-08-22 13:26] #15106 closed, assigned to nobody

[2019-08-22 13:28] khouloudbelguith commented on #15218
Hi @alshira,

I did not manage to reprouce the issue with PS1.7.6.0.
What is the exact language did you use during the install?
Is it a fresh install or an upgrade frol version?

Thanks!

[2019-08-22 13:31] ghost opened #15219 "Flags translation (New, Online only, On sale!) can't be translated"
In PS 1.7.5.2 and below to translate flags names (New, Online only, On sale!) we need to select Classic theme to translate them. Even if we use our own theme system can't find New, Online only, On sale! phrases.

In PS 1.7.6 even in above weird way we can't find and translate them.

![trans](https://user-images.githubusercontent.com/8243273/63518629-bdae7400-c4f1-11e9-9311-d2c3a62c5d69.jpg)

[2019-08-22 13:36] Twabi2 opened #15220 "ps_facetedsearch v3.2.0: out of stock combinations are still shown"
**Describe the bug**
When applying a filter using faceted search, products that match the filter are always shown, even if that specific combination is out of stock / unavailable to order. For example, searching for a product in size M and color red shows all products that have the features M and red, even if that specific combination is out of stock.

**To Reproduce**
I have tested this using a c

[2019-08-22 13:50] khouloudbelguith commented on #15220
Hi @Twabi2,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15056
So, I close it.
Thanks !

[2019-08-22 13:50] #15220 closed, assigned to nobody

[2019-08-22 13:50] khouloudbelguith commented on #15220
Duplicate of #15056

[2019-08-22 14:03] 01park opened #15221 "1.7.6. subcategory not select when creating a new multistore"
After creating a new multistore and copying all details from the main store, I noticed that the subcategories are not copy or selected once ready.  , I created a second store and same story.

Just to make sure it wasn't a one time "error"  , I created a second store and same story.
<img width="927" alt="Screenshot 2019-08-22 at 15 01 37" src="https://user-images.githubusercontent.com/46492443/6352

[2019-08-22 14:05] Hlavtox commented on #15075
@eternoendless

I tried to do the workaround, see my previous comments, but the translation is not loaded from some reason. See, I have correct wording, correct domain, correct theme name.

I am using classic-rocket template, renamed to “trendo” (our company name).

As you say, all strings, even new ones, which are present in the templates are loaded and recognized correctly, can be translated and

[2019-08-22 14:12] khouloudbelguith commented on #15219
Hi @PrestaShark,

I did not mange to reproduce the issue with PS1.7.6.0 & the branch 1.7.6.x
I attached a screen record
https://drive.google.com/file/d/1Ie64NtUmljek3UY-CBWfVvK2oboDbkOl/view
Thanks to check & feedback

[2019-08-22 14:16] khouloudbelguith commented on #15221
Hi @01park,

It is an issue with the Association categories when adding a new shop.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9701
So, I close it.
Thanks !

[2019-08-22 14:16] #15221 closed, assigned to nobody

[2019-08-22 14:16] khouloudbelguith commented on #15221
Duplicate of #9701

[2019-08-22 14:22] 01park commented on #15221
@khouloudbelguith

Yes this is the same issue.

Still no solution after 12 months?

[2019-08-22 14:25] khouloudbelguith commented on #15221
@01park,
Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-08-22 14:35] PrestaShark commented on #15219
Thanks. I will check it!

[2019-08-22 14:36] fafa0659 commented on #15124
@khouloudbelguith

i replace directly in product detail url , i put "+" between every word
you cannnot do it from trafic seo page

search console and google analytics dont do the same things i have show you
in google result that make it wrong .

you can see in files attached other site using it and are not wrong on
google , i think really that it is encoding problem for special caractere

[image:

[2019-08-22 14:43] khouloudbelguith commented on #15219
@PrestaShark, waiti,g for your feedback.

[2019-08-22 15:05] khouloudbelguith commented on #15124
@fafa0659, you can check those files
`src/PrestaShopBundle/Controller/Admin/Improve/Design/CmsPageController.php `
Files into this path `src/PrestaShopBundle/Resources/views/Admin/Improve/Design/Cms/`

Thanks!

[2019-08-22 15:07] khouloudbelguith commented on #15209
@fafa0659, you can check those files
`src/PrestaShopBundle/Controller/Admin/Improve/Design/CmsPageController.php `
Files into this path `src/PrestaShopBundle/Resources/views/Admin/Improve/Design/Cms/`

Thanks!

[2019-08-22 15:08] khouloudbelguith commented on #15209
@photinia73,  you can check those files
`src/PrestaShopBundle/Controller/Admin/Improve/Design/CmsPageController.php `
Files into this path `src/PrestaShopBundle/Resources/views/Admin/Improve/Design/Cms/`

Thanks!

[2019-08-22 15:11] ricardo-lobo opened #15222 "Make CheckoutProcess $steps public"
I'm trying to add a new step to the checkout process.

Because the $steps property of the CheckoutProcess class is private, the only way to do this is to call addStep() method. Unfortunately this adds the item to end of the list.

If $steps were a public property we could could add a new step anywhere.

A better solution to this is to add a new method "addStepToPosition" were we could pick the pos

[2019-08-22 15:14] khouloudbelguith commented on #15222
Hi @ricardo-lobo,

Please be aware that the forge should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-08-22 15:14] #15222 closed, assigned to nobody

[2019-08-22 15:14] khouloudbelguith commented on #15222
Hi @ricardo-lobo,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-08-22 15:21] Hlavtox commented on #15219
The same issue as in my case #15075

@khouloudbelguith You did reproduce it on my ticket.

@eternoendless See? Product flags are another thing that is passed as a variable and cannot be translated.

[2019-08-22 15:30] khouloudbelguith commented on #15219
@Hlavtox, in your case, I could find some expression using the Classic Rocket theme & not the Classic theme.

Thanks!

[2019-08-22 15:33] photinia73 commented on #15209
Thank you, will ckeck

чт, 22 серп. 2019, 18:09 користувач khouloudbelguith <
notifications@github.com> пише:

[2019-08-22 15:34] Twabi2 opened #15223 "Category view: sorting by price incorrect"
**Describe the bug**
When sorting products with a discount by price, the order is sometimes incorrect, despite rebuilding the price index and clearing cache in BO.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO, choose a category with products with a discount
2. Sort by price, low to high
3. Check sorting order

**Screenshots**
![image](https://user-images.githubusercontent.com/524

[2019-08-22 15:34] khouloudbelguith commented on #15209
@photinia73, thanks!
Waiting for your feedback

[2019-08-22 15:37] khouloudbelguith commented on #15124
@fafa0659, so in your browser after clicking this "http://projet/QA/1760ch/en/home/25+43+test.html#/2+size+me" you are redirected to the incorrect URL.
Why you are editing the URL from the browser & not from the Shema of URLs from the BO?
What is the exact browser did you use?

Thanks!

[2019-08-22 15:40] Hlavtox commented on #15219
@khouloudbelguith But you did not find the expressions I told you about. You still don't understand.

- You cant translate breadcrumbs
- You can't translate product list headers.
- You can't translate many of strings in cart page
- You can't translate product list sort options
And many more

[2019-08-22 15:48] Hlavtox opened #15224 "Fatal error when adding to cart, if gift product of cart rule is non existent"
**To Reproduce**
Steps to reproduce the behavior:
1. Make a cart rule with following specs:
1.1 Cart rule with unlimited amount, unlimited users, unlimited groups.
1.2 Cart rule without a code (permanent)
1.3 Cart rule that gives a free product to every order above XXX amount, select any product.
3. Go to BO > Products. Delete the product you gave free as a gift.
3. Go to front office.
4. Clear co

[2019-08-22 15:54] khouloudbelguith commented on #15219
@Hlavtox, thanks for your feedback.
Your ticket is a duplicate of #15075
So, I close it.
Thanks !

[2019-08-22 15:54] #15219 closed, assigned to nobody

[2019-08-22 15:57] MatShir commented on #10582
#13890

[2019-08-22 16:08] eternoendless commented on #15075
That's weird. Try manually removing the translator cache in `var/cache/dev/translations` or `var/cache/prod/translations`.

If this doesn't work it may be related to the theme not having been renamed properly. Try dumping the content of `Context::getContext()->shop->theme->getName()`. Is it "trendo"? Does it match the theme name on `ps_translation` exactly?

Do you find the expected wordings when

[2019-08-22 16:11] MatShir commented on #14752
Thank @Hlavtox for your request. As @kpavlovsky said, from our differents merchant interviews we have been told the same feedbacks. Let's see if we can include in the 1.7.7 Roadmap.
I will let you know for any updates

[2019-08-22 16:20] khouloudbelguith commented on #15224
Hi @Hlavtox,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
![addtocart](https://user-images.githubusercontent.com/16067358/63531723-0ae61200-c501-11e9-9f71-d47fe9b65fb1.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-22 16:32] Flower7C3 commented on #14733
Hi all,
After applying patch I am able to translate main theme, but there is still problem with child themes translations. Same error occurs.

[2019-08-22 16:34] khouloudbelguith commented on #15223
Hi @Twabi2,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch v3.2.0.
Stes to reproduce the issue:
1. Create a catalog Catalog Price Rules with
1.1. Reduction type = Percentage
1.2. Reduction = 50
1.3. Condition Group => Home
![image](https://user-images.githubusercontent.com/16067358/63532522-c65b7600-c502-11e9-86cd-286d87ffa4c4.png)

2. Go to the FO =

[2019-08-22 16:37] fafa0659 commented on #15124
@khouloudbelguith
i will check it

Le jeu. 22 août 2019 à 17:06, khouloudbelguith <notifications@github.com> a
écrit :

[2019-08-22 16:45] fafa0659 commented on #15124
@khouloudbelguith

in firefox and console search that is idenpendant of the browser

if i edit from the scema url i cannot build url with "+" between every word

[2019-08-22 20:37] ArtiomkaPL commented on #15207
Yeah, turns out it has to be turned on in each combination. Thank You!

[2019-08-23 06:37] Hlavtox commented on #15138
@khouloudbelguith From some reason, these numbers do not appear on my classic-rocket theme, sorry.

They are useless anyway. They show how many numbers are having this feature from the original list, not the filtered one.

[2019-08-23 06:37] matteolavaggi opened #15226 "Unable to install prestashop 1.7.6.0"
**Describe the bug**
Install prcedure freeze on 3rd step, there is no log on server, console, pfp, web server.
I think that the install procedure DOES not send compiled data to web server because insert a wrong verification password in the user creation fields does not return error.

Test on

OVH host nginx + apache
GANDI host varnish + apache

Both of the env above run with no problem many instal

[2019-08-23 07:27] khouloudbelguith commented on #14831
Hi @agnesdennetiere,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-23 07:27] #14831 closed, assigned to nobody

[2019-08-23 07:28] khouloudbelguith commented on #14843
Hi @guigplt,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-23 07:28] #14843 closed, assigned to nobody

[2019-08-23 08:00] #14595 closed, assigned to jolelievre

[2019-08-23 08:00] #15144 closed, assigned to jolelievre

[2019-08-23 08:08] MatShir opened #15228 "New status label colors"
**USER STORY**

As a merchant, I want to see easily and quickly the order status.

**WHY**

The icon and the different preset colours don't give an obvious state of the order. The new user won't understand the default colours meaning.

**SPECIFICATION**

The icon will be removed to let place to a default group of colours by action's type. The size of the label is bigger, check the invision mockups

[2019-08-23 08:27] MatShir commented on #14752
**SPECS**

A column should be added on the order status list after Email template.
And on edit/add status form, we could add a switch button to display the order status or not in the dropdown list.

**DESIGN**
![image](https://user-images.githubusercontent.com/43613217/63577646-24359f80-c58f-11e9-92c7-dcc4e645549c.png)

@TristanLDD, Wdyt?

**WORDING**

@LouiseBonnard, I let you challenge my wordin

[2019-08-23 08:33] khouloudbelguith commented on #15226
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.6.0.
I tried with Web server => Nginx & the chrome browser Version 76.0.3809.87 (Official Build) (64-bit)
I attached a screen record
https://drive.google.com/file/d/1yeD4PNheZoLIq-n2C5CrtipylGZEB4Bd/view
Did you try to enable debug mode before the new install?

Thanks!

[2019-08-23 08:45] matteolavaggi commented on #15226
Hi, there is no debug entry at all, the script not send post request to the server, ajax call or any other kind of actio to send form entry. The strange is that i've reset chrome setting and try with different chrome account on the same chrome setup to avoid plugin or extension problem.

I've try to use internet exploer and i'm able to proceed with no problem in installation.

I will make some oth

[2019-08-23 08:58] khouloudbelguith commented on #15226
@matteolavaggi, thanks!
Waiting for your feedback.

[2019-08-23 09:00] khouloudbelguith commented on #15207
@ArtiomkaPL, you are welcome.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-08-23 09:00] #15207 closed, assigned to nobody

[2019-08-23 09:20] PierreRambaud commented on #14146
Let's upgrade to twig 2 :roll_eyes:

[2019-08-23 09:24] khouloudbelguith commented on #15124
@fafa0659, in fact, you need to edit the schema URL for the Route pages & when you create a new page => you need to edit the Friendly URL of this page
![image](https://user-images.githubusercontent.com/16067358/63582015-29dfb500-c590-11e9-820c-d19e84bb32d2.png)

Thanks!

[2019-08-23 09:25] MatShir opened #15230 "[ORDER LIST] New KPI header design"
**USER STORY**

As a merchant, I want to quickly check the important KPI of my orders.

**WHY**

The KPI icon and display are redesigned. They were talking to much space and were too separated from each other, preventing a quick reading.

**DESIGN**

https://invis.io/YKTGGFZAMCB#/376656277_Order_List_-_Quick_View

![image](https://user-images.githubusercontent.com/43613217/63581475-69f66600-c597-1

[2019-08-23 09:37] khouloudbelguith commented on #15138
@Hlavtox,

1. Create two products in the Test1 Category with combinations (color & Size)
2. Create two other products in the Test2 Category with combinations (Color only) with some brands Brand1.
3. Create two products in the Home Category with brand Brand2

In the FO
1. Try to select the Size filter => you will see that the Category filter disappear because we have only one category (Category1 wi

[2019-08-23 09:41] MatShir opened #15231 "[ORDER LIST] Client name clickeable"
**USER STORY**

As a merchant, I want to check the customer sheet from the order list without losing my current page.

**WHY**

Currently, the merchants have to open the order to check the preview of the customer information and then open the customer sheet OR look for the client name on the list customer page.

**SPECIFICATION**

Clicking on the client's name redirects in a new tab his customer s

[2019-08-23 09:42] khouloudbelguith commented on #15178
@maofree, could you please provide me the exact information of the server that you manage to reproduce the issue.
You can check it in your BO => Advanced Parameters => Information page.

Thanks!

[2019-08-23 09:45] maofree commented on #15178
hi
the problem is in the front-office so the server is not important
try to use in your pc Ubuntu or others linux client with chromium
if all is ok from windows and with firefox the problem is not in the server

![1](https://user-images.githubusercontent.com/653230/63583558-88f6f700-c59b-11e9-92c7-0e1459cac569.png)

[2019-08-23 10:01] LouiseBonnard opened #15232 "Switch zone for Croatia"
**Is your feature request related to a problem? Please describe.**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
In International > Locations > Countries, Croatia is currently part of _Europe (non-UE)_ zone, yet it should be classified in _Europe_ zone since it joined the UE in 2013. By default, its zone should be _Europe_.

**Additional context**
<img w

[2019-08-23 10:06] MatShir commented on #13212
I see, thank for the clarification @matks . With all the big features coming up on the order page, it won't feet for this version. It probably will for the next.

In the meantime @imartin1983, the project is open source so if anyone you know or anyone who see the issue can do Pull Request (http://doc.prestashop.com/display/PS16/Contributing+code+to+PrestaShop?).

[2019-08-23 10:14] Hlavtox commented on #14752
What about:

Hide from state list

If enabled, the status will not be visible in the dropdown, when changing order status.

[2019-08-23 10:19] johanmeer opened #15233 "Add/Edit category problem"
Hi, after upgrade from 1.7.5 to 1.7.6 i'm not able to add/edit category's. Page is not as it should be and i'm getting an error in the log file:

` Fri Aug 23 11:53:08.853733 2019] [proxy_fcgi:error] [pid 31792:tid 139849445115648] [client 62.194.59.29:58838] AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Error: Call to a member function get() on null in /var/www/vhosts/***.nl/httpsdoc

[2019-08-23 10:21] khouloudbelguith commented on #15178
@maofree, what is the exact version of the chrome did you use?
I think it is related to the chrome version & not the "Arch Linux".
I tried with the chrome browser Version 71.0.3578.98 (Build officiel) (64 bits) => OK
I tried with Chrome Version 76.0.3809.87 (Official Build) (64-bit) => NOK
https://drive.google.com/file/d/1AA8RsmmobSVH2rra2PO-_8etxDEoGDUH/view
Thanks to check & feedback.

[2019-08-23 10:22] maofree commented on #15178
my version is
76.0.3809.100 (Build ufficiale) Arch Linux (a 64 bit)

[2019-08-23 10:24] khouloudbelguith commented on #15233
Hi @johanmeer,

Thanks for your report.
The category page is migrated to Symfony.
Have you any disabled category which is not displayed in the "Parent category" section?

Thanks!

[2019-08-23 10:24] papich06 commented on #15037
@khouloudbelguith thanks it's work

[2019-08-23 10:24] #15037 closed, assigned to nobody

[2019-08-23 10:26] Hlavtox commented on #15138
@khouloudbelguith

Behavior in the ticket you mentioned is correct.

My case is different. When Rozměr - výška disappears, there are like 100 products with this parameter.

Watch the video again step by step. It disappears after DESELECTING a filter.

[2019-08-23 10:26] maofree commented on #15178
so at this moment there is the same error on mac and linux systems with chrome and chromium

[2019-08-23 10:30] Hlavtox commented on #15138
Let's wait until you fix the module again, now it's completely unusable.

We will see what it does in version 3.2.1.

I don't understand what is so hard on opening 1.6 and 1.7 with same product catalog and making faceted search behave like it did, and shoud behave.

[2019-08-23 10:38] khouloudbelguith commented on #15037
@papich06, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-08-23 10:41] khouloudbelguith commented on #15178
@maofree, I manage to reproduce the issue with PS1.7.5.1 & PS1.7.6.0 & Windows10 & browser_version=76.0https://drive.google.com/file/d/1ceFY9G_kELoijYKAF8N2oFK3ybZ4k2tR/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-23 10:49] johanmeer commented on #15233
Hi @khouloudbelguith, i'm not sure what you meaning, how can i see that?

[2019-08-23 10:53] khouloudbelguith commented on #15233
@johanmeer, do you have any category disabled in your case?
When you try to add a new category under the Category Home => OK or not?

Thanks!

[2019-08-23 10:56] khouloudbelguith commented on #15138
Ping @colinegin @marionf is this the wanted behavior following these steps? https://github.com/PrestaShop/PrestaShop/issues/15138#issuecomment-524247702?
In fact, when we select the size filter => the `usefulFiltersCount` of the Category filter = 1 so it will not be displayed.
What do you think?

Thanks!

[2019-08-23 10:59] MatShir commented on #14752
Yes it is, I just made the specs for the configuration in the form and the status list but display or not it will affect the list when you want to change the status.

[2019-08-23 11:14] johanmeer commented on #15233
hi @khouloudbelguith that is working, editor is not working yet on categorie page. It seems that this error is appearing on multiple occasions, is there a way to solve and do you think that this has a relation to the editor?

`Fri Aug 23 11:53:08.853733 2019] [proxy_fcgi:error] [pid 31792:tid 139849445115648] [client 62.194.59.29:58838] AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Er

[2019-08-23 11:19] Hlavtox commented on #14752
@Matshir It was only a suggestion for wording :-D :-D I get the functionality :-)

[2019-08-23 11:21] MatShir commented on #14752
Oh :sweat_smile:, my bad. Thank you.
@LouiseBonnard don't forget to look a @Hlavtox suggestion

[2019-08-23 11:23] khouloudbelguith commented on #15233
@johanmeer, if you add in a new category under the Home category & you try to edit it?
Is it working in this case?

Thanks!

[2019-08-23 11:55] khouloudbelguith commented on #15203
@wewew85, in my case, I dd not manage to reproduce the issue with PS1.7.4.1 after upgrade from PS1.7.3.0 using the 1-click upgrade v4.5.1.
https://drive.google.com/file/d/10zWPfsbBAtEaujo1ytIE1UHjJ-_D_jZW/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or

[2019-08-23 11:55] #15203 closed, assigned to nobody

[2019-08-23 11:59] matteolavaggi commented on #14595
Same error on ps 1.7.6 new install after enable new store.

ITs no possible, there is no way to have a working ps

[2019-08-23 13:53:19] request.CRITICAL: Uncaught PHP Exception PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException: "Price specification not found for currency: "EUR"" at /var/www/htdocs/www.pineappleitaly.com/store/src/Core/Localization/Locale.php line 171 {"excep

[2019-08-23 12:01] khouloudbelguith commented on #14595
@matteolavaggi, this issue is fixed in the PS1.7.6.1.
Thanks!

[2019-08-23 12:09] khouloudbelguith commented on #15183
@silviu25, yes!
the `PS_PRODUCT_PICTURE_MAX_SIZE` is limited to `8388608`
https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/xml/configuration.xml#L105
In your database ps_configuration table, you can check it
![image](https://user-images.githubusercontent.com/16067358/63591626-34f20f80-c5a7-11e9-93a6-8fa518fc733d.png)

Thanks!

[2019-08-23 12:21] matteolavaggi commented on #14595
I've just ask , but where is explained a secure way to update 1.7.6.0 to
1.7.6.1 ?

Il giorno ven 23 ago 2019 alle ore 14:02 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

[image: PrestaShop]
www.pineappleita

[2019-08-23 12:22] khouloudbelguith commented on #15138
Hi @Hlavtox,

I just talked with @PierreRambaud about this issue.
This is normal behavior.
There's no point in displaying a filter if it's all by itself
In fact, you will have 20 filters that you do not have any utilities because there is just this product and others in it, and there are no other filters available.
As an available workaround in your case, you can change
`$usefulFiltersCount > 1` t

[2019-08-23 12:22] #15138 closed, assigned to nobody

[2019-08-23 12:48] LouiseBonnard commented on #14752
@Hlavtox, what bothers me a bit with this wording is that the users won't know which dropdown list we are talking about. If the wording is displayed on the Shop Parameters > Order Settings > Statuses tab while it regards the Orders > Orders page, it might be confusing.

I suggest the following wording, feel free to challenge it as well. ;-)

Display on the Orders page / When enabled, this option a

[2019-08-23 13:11] LouiseBonnard opened #15234 "Add states to India"
**Is your feature request related to a problem? Please describe.**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
In International > Locations > States, there must be all Indian states by default since it is one of the countries whose address format requires states for deliveries. Yet there are not mentioned. So here are the states and ISO codes needed to

[2019-08-23 13:12] Hlavtox commented on #15075
@eternoendless  WORKS!!!!!

You must manually empty the cache folder and the translation gets loaded from the database.
Cache clearing doesn't work, but apparently no one cares... :-) #14611 closed

[2019-08-23 13:12] MatShir opened #15235 "[READ ME] Instructions for using this project"
This project template is set up in List View with sections and Asana-created custom fields to help you track your team's work. We've provided some example content in this template to get you started, but you should add tasks, change task names, add more custom fields, and change any other info to make this project your own.

Send feedback about this template:
https://asana.com/research/templates-f

[2019-08-23 13:12] MatShir opened #15236 "[EXAMPLE TASK] Goals for this sprint"

[2019-08-23 13:12] MatShir opened #15237 "[EXAMPLE TASK] Finalize spec and designs for new website landing page"

[2019-08-23 13:12] MatShir opened #15238 "[EXAMPLE TASK] Set up new reporting tools"

[2019-08-23 13:12] MatShir opened #15239 "[EXAMPLE TASK] Back-end speed enhancements"

[2019-08-23 13:12] MatShir opened #15240 "[EXAMPLE TASK] New navigation deployment"

[2019-08-23 13:12] MatShir opened #15241 "[EXAMPLE TASK] Accessibility Updates"

[2019-08-23 13:12] MatShir opened #15242 "[EXAMPLE TASK] Evaluate feature success and share with team"

[2019-08-23 13:27] MatShir opened #15243 "[ORDER LIST] Client name clickeable"
**USER STORY**

As a merchant, I want to check the customer sheet from the order list without losing my current page.

**WHY**

Currently, the merchants have to open the order to check the preview of the customer information and then open the customer sheet OR look for the client name on the list customer page.

**SPECIFICATION**

Clicking on the client's name redirects in a new tab his customer s

[2019-08-23 13:34] MatShir opened #15244 "New status labels"
**USER STORY**

As a merchant, I want to see easily and quickly the order status.

**WHY**

The icon and the different preset colours don't give an obvious state of the order. The new user won't understand the default colours meaning.

**SPECIFICATION**

The icon will be removed to let place to a default group of colours by action's type. The size of the label is bigger, check the invision mockups

[2019-08-23 13:43] centoasa commented on #13355
With Prestashop 1.7.6, clean installation of Ubuntu 18.04, and only mod_pagespeed this issue doesn't happens anymore!

[2019-08-23 13:43] #13355 closed, assigned to nobody

[2019-08-23 13:44] khouloudbelguith commented on #13355
@centoasa, thanks!
Feel free to open a new one when needed.

Thanks!

[2019-08-23 13:49] centoasa commented on #12672
Is there a way to bring the quantities of the selected products to zero?

[2019-08-23 14:20] marionf commented on #12363
@LouiseBonnard You see this new wording in a tooltip or under the drop-down ?

[2019-08-23 14:34] eternoendless commented on #14611
@Hlavtox it looks like it's a permission issue on `/var/cache/prod/`. But the error could be handled better in order to avoid the white page.

[2019-08-23 14:34] eternoendless commented on #15075
Awesome news!

[2019-08-23 14:44] marionf opened #15246 "Rename ecotax everywhere in PS"
"Ecotax" wording isn't clear because it's not really a tax but a participation
Maybe we can rename it "eco-participation" in English ?

[2019-08-23 15:04] silviu25 commented on #15183
Thank you, I will modify and come back with results later.

But this shouldn't be editable from BO?

[2019-08-23 15:10] antoniopineapple commented on #15107
Hi we are using z.one megamenu v 1.0 that comes with this theme
https://addons.prestashop.com/it/temi-elettronica-high-tech/26930-zone-supermarket-online-shop.html

[2019-08-23 15:14] khouloudbelguith commented on #15183
@silviu25, In the BO => Advanced Parameters => Administration we have an option "Maximum size for a product's image" but has no effect.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
`Maximum size for a product's image` has no effect on the `PS_PRODUCT_PICTURE_MAX_SIZE` on the database.
We have weird behavior
In the FO / BO, when we try to upload a large image => NOK
When we try to ad

[2019-08-23 15:18] CaseOnline commented on #12241
Ok sounds greate! @marionf and  @khouloudbelguith are you freelancers? Our company need a lot of prestashop work done often. So if you are interested please contact me at tony@caseonline.se we cant wait for prestashop updates need to get things working and also much custom work that is important for a merchant. Thanks Tony

[2019-08-23 15:19] johnndunbar opened #15247 "'PS_layered_filter_block' doesn't exist"
Hi,

Since I updated from 1.6 to 1.7 its a nightmare.
I don't have a lof of module (only paiement and transport), and no design.
And I keep having bugs !
The last one :
Table '***.ps_layered_filter_block' doesn't exist<br /><br /><pre>TRUNCATE TABLE ps_layered_filter_block

It happened when I try to click on the category of the product.
Nothing can be load and I have got this error.

I can't find

[2019-08-23 15:30] marionf commented on #12241
@CaseOnline

No, we are working for PrestaShop company ;)

[2019-08-23 15:43] khouloudbelguith commented on #15107
@antoniopineapple, could you please try to disable this module temporarily & check the upgrade again.

Thanks!

[2019-08-23 15:44] #15247 closed, assigned to nobody

[2019-08-23 16:04] #15242 closed, assigned to nobody

[2019-08-23 16:05] #15241 closed, assigned to nobody

[2019-08-23 16:05] #15240 closed, assigned to nobody

[2019-08-23 16:05] #15239 closed, assigned to nobody

[2019-08-23 16:05] #15238 closed, assigned to nobody

[2019-08-23 16:05] #15237 closed, assigned to nobody

[2019-08-23 16:05] #15236 closed, assigned to nobody

[2019-08-23 16:05] #15235 closed, assigned to nobody

[2019-08-23 16:11] MatShir opened #15248 "[EPIC] Listing Order Page redesign"
## Features

- [x] #14736 - Right click "open in new tab" over the full width of order table line
- [x] #14741 - Dropdown next to the status of the command to modify it
- [x] #15230 - KPI header redesigned
- [x] #15231 - Client name clickable
- [x] #14732 - Order preview in Order page list

[2019-08-23 16:13] khouloudbelguith commented on #14637
Hi @daresh,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
I added this code line to a module

[code]
When I try to update the customer name & the last name with new expression, I have the same object on both Customer Update Before and After Hooks

```BeforeCustomer Object ( [id] => 2 [id_shop] => 1 [id_shop_group] => 1 [secure_key] => d2ba69f8df9bb241d98a168e5d7bae48 [note] => [id_g

[2019-08-23 16:28] #15244 closed, assigned to nobody

[2019-08-23 16:28] #15243 closed, assigned to nobody

[2019-08-23 17:46] ghost opened #15249 "PS prices after Upgrade v1.7.2.5 to 1.7.6 not correct"
**Describe the bug**
Hello developer,

I have a shop price problem after upgrading from PS 1.7.5.2 to 1.7.6. All prices in the shop show 6 digits after the comma.

Here in the ticket also a screenshot.

As currency, I use EURO and it a German Onlineshop.

Now I have discovered this Github command, but in PHPmyAdmin I cannot work with it. It is not accepted. I have SharedHosting with MariaDB and PH

[2019-08-23 20:31] web-burn commented on #14733
Hello @khouloudbelguith,
Early i wrote about this problem with export of theme's translations in PrestaShop 1.7.6.0.
"Also i noticed a problem with a export of theme's translations in PrestaShop 1.7.6.0.
I have create many expressions in theme:
http://prntscr.com/oqzs8f
In previous version after of language's export i got a xml files with my translations:
http://prntscr.com/oqzsho
http://prntscr.c

[2019-08-23 22:47] rmln commented on #11428
I'd like to reopen this issue. Prestashop 1.7.6.0. The same steps as from the intro post.

[2019-08-24 01:27] adu42 opened #15250 "Mail getTemplateBasePath bug"
**Describe the bug**
the path can not find base template email core path.
$templatePath . $isoTemplate . '.txt'
$templatePath . $isoTemplate . '.html'

Just look the code..

And mails template file are xxx.html.twig,
Path in core/

**Additional information**
PrestaShop version: 1.7.7.0
PHP version:7.2

[2019-08-24 02:01] adu42 commented on #15148
OK,I get it.
#14249  help me
Thanks

[2019-08-24 02:01] #15148 closed, assigned to nobody

[2019-08-24 04:07] yuxiayuzhou opened #15251 "modern email theme cannot be activated within 1.7.6"
**Describe the bug**
Updated from 1.7.5.1 to 1.7.6 about 1 month ago. But I realised im still using the classic email template not the latest modern ones. Im using classic theme should has both modern and classic email templates. I have conducted following steps to acheive this, but seems not working.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Design'
2. Click on 'Email Themes'
3

[2019-08-24 09:38] silviu25 commented on #15183
I changed the value of `PS_PRODUCT_PICTURE_MAX_SIZE` in `ps_configuration` from `8388608` to '52428800"  [from 8mb to 50mb] and In the BO => Advanced Parameters => Administration > Maximum size for a product's image to 50 and now is working

but there is another problem:

after I uploaded picture for the product and I placed the order, I received that order in BO
then I go to Orders>Orders>down to

[2019-08-24 12:46] dharmendravirasat opened #15252 "I want to create custom templete page with my custom module functionalities"
i have one view.tpl file
and i want to
this file show only specific page like custom templete page
but,  i don't have any idea how create custom templete page with mymodule
@marionf  @khouloudbelguith
please suggest
my prestashop version 1.6
thanks.

[2019-08-24 14:11] photinia73 commented on #15209
So it was not a bug )
In the BO/preferences/General/HTML purify must be in the position OFF
to insert html, scripts etc in the page editor.

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: четверг, 22 августа 2019 г. в 18:34
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] viber url is not inserted (#15209)

@photinia73, thanks!
Waiting fo

[2019-08-24 22:55] yuxiayuzhou commented on #15251
one more image provided for reference. In this screenshot, it shows the current template is still classic one but not the modern one. Thank you.

![email templates manager](https://user-images.githubusercontent.com/53670538/63643538-aad0b500-c726-11e9-8dcd-1579df9e8517.jpg)

[2019-08-25 13:29] ghost opened #15253 "Birthdate acquired with "text" form type - Birthday form type unused"
**Describe the bug**
File in question: *template*/templates/_partials/form-fields.tpl
In this file exists a query for HTML Field Type of "birthday", which doesn't exist in HTML specification. Because of that, when a BIRTHDAY form field is acquired from "form-fields.tpl", it's queried for with $field.type = TEXT, displayed as a TEXT field and checked for correctness on server.

**Questions**
-Shoul

[2019-08-25 13:38] MathiasReker commented on #15251
@yuxiayuzhou you are overriding email templates with a module. Try to uninstall email template manager, that should fix your issue.

[2019-08-25 14:36] go-sudo commented on #15115
Hello

I made this changes and now the back office is down

Regards,
![back](https://user-images.githubusercontent.com/11594433/63651562-e6cb4080-c74d-11e9-8a22-e876adc0b5c3.png)
![2019-08-25_15-35-12](https://user-images.githubusercontent.com/11594433/63651578-18dca280-c74e-11e9-9345-3a71b7cae012.png)

[2019-08-25 18:54] gorkij77 commented on #14614
Pardon my necromancy, but where did you set this?

[2019-08-25 19:15] 01park commented on #14614
@gorkij77  you need to change it in the database - table PS_CURRENCY

[2019-08-25 19:21] gorkij77 commented on #14614
Ah, so you set the precision to 2 for the main currency?

[2019-08-25 19:36] 01park commented on #14614
I set all currencies to 2

[2019-08-25 19:38] gorkij77 commented on #14614
Thanks! I'd leave the other currencies since that's used to calculate exchange rates, but if you don't have international customers that's probably a moot issue.

[2019-08-25 19:56] 01park commented on #14614
@gorkij

In my case, when I change the precision to 6 my front office price also has 6 decimals. For this reason, I set all to 2.

[2019-08-25 23:41] BenTen opened #15254 "Zip code South Korea"
The default Zip Code for South Korea seems not good on 1.7.5
_I didn't try on 1.7.6_

It's NNNNN and not NNN-NNN

Same here for the 1.6 in 2017
https://github.com/PrestaShop/PrestaShop/pull/8273

Source: My customer
Source 2: https://en.wikipedia.org/wiki/List_of_postal_codes_in_South_Korea

[2019-08-26 01:43] AntiGravitySports commented on #15213
Currently our customer page show as following, how could we solve the problem of "Create the order"
![image](https://user-images.githubusercontent.com/54383614/63659775-dbc3ef00-c7e5-11e9-9607-225f9d4358bb.png)

[2019-08-26 04:29] NBoESFWbVaf commented on #14660
Hi,
- Fresh install from Presta 1.7.6.0 on Ubuntu 16.04 with php7.1
- mod_auth_basic is enabled
but the warnmessage appears in webservice.

This is my first install of a Prestashop and i can't locate the problem.
If more information is needed, let me know.
Please, any help will be gratefully accepted.

Thx

[2019-08-26 07:37] AntiGravitySports commented on #15213
Hi Prestashop team,

Our customer page shows as following and I don’t know where is the problem, could you help me how to solve the problem of “Create the order”.

Thanks very much.

Best  Regards

Tina

AntiGravitySports

http://www.antigravitysports.com/store/

Skype : tina.fu520

Phone: 0755-28435505-845

Address: 1108A Office, Block A ,Galaxy World, 1 Yabao Road, Longgang District, ShenZhen

发

[2019-08-26 07:39] matks commented on #15222
@ricardo-lobo Please have a look at PR https://github.com/PrestaShop/PrestaShop/pull/15176 it might solve your issue

[2019-08-26 07:49] matks commented on #14146
This is currently being discussed in https://github.com/PrestaShop/PrestaShop/pull/13761

[2019-08-26 07:50] khouloudbelguith commented on #15148
@adu42, thanks for your feedback.
Feel free to open a new ticket when needed.

[2019-08-26 07:56] khouloudbelguith commented on #14851
Hi @PrestaShark,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-26 07:56] #14851 closed, assigned to nobody

[2019-08-26 08:04] khouloudbelguith commented on #15249
Hi @AlexL777,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14664 to fix the issue
Your ticket is a duplicate of #14640
So, I close it.
For a quick fix, you can run this SQL command on your Database
UPDATE `ps_currency` SET `numeric_iso_code` = '978', `precision` = '2' WHERE `ps_currency`.`id_currency` = 2;
Thanks!

[2019-08-26 08:04] #15249 closed, assigned to nobody

[2019-08-26 08:04] khouloudbelguith commented on #15249
Duplicate of #14640

[2019-08-26 08:39] ricardo-lobo commented on #15222
@matks That unfortunately doesn't help with my problem. I'm trying to access CheckoutProcess $steps.

The way I solved it without touching the Prestashop core (still ugly), was to replace the checkout-process.tpl code with a hook with $steps as parameter.

[code]

Then in the module, I have to return the original checkout-process.tpl loop with the additional $step

This works, but could be easily

[2019-08-26 08:40] khouloudbelguith commented on #15251
Hi @yuxiayuzhou,

Here's a demo module https://github.com/jolelievre/tuto_mailtemplate, you can check it.
It is a Tutorial for Mail Template in PrestaShop
Thanks to check & feedback.

[2019-08-26 08:42] matks commented on #15222
You cannot use the getter `getSteps()` ? It's public
See https://github.com/PrestaShop/PrestaShop/blob/f84625e5902ff46c20d717356ad1767c65412ffa/classes/checkout/CheckoutProcess.php#L78

[2019-08-26 08:42] khouloudbelguith commented on #15252
Hi @dharmendravirasat,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-08-26 08:42] #15252 closed, assigned to nobody

[2019-08-26 08:44] #9663 closed, assigned to nobody

[2019-08-26 08:45] #14958 closed, assigned to nobody

[2019-08-26 08:51] matks commented on #11033
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13593

[2019-08-26 08:51] #11033 closed, assigned to nobody

[2019-08-26 08:51] matks opened #15255 "[EPIC] Modern modules (using Symfony)"
We want to allow people to build modern modules for PrestaShop, using Symfony features (Symfony controllers, Symfony services, Twig templates ...)

This means:
- everything that is possible using legacy module system should be possible using Symfony module system
- add some useful features made possible by Symfony (like enabling a Bundle)
- write documentation about it of course

## Provide Symfon

[2019-08-26 08:59] khouloudbelguith commented on #15254
Hi @BenTen,

I have the same issue with PS1.7.6.0 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/63678963-38280e00-c7e8-11e9-8b50-0ba12ee93c04.png)

https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/xml/country.xml#L42
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please

[2019-08-26 09:05] ricardo-lobo commented on #15222
That's a getter. How would you change it?

[2019-08-26 09:06] khouloudbelguith commented on #15213
Hi @AntiGravitySports,

You need to upgrade to the PrestaShop v1.7.6.0.
Your current version is PS1.6.1.23.
But, our Devs are improving the PS1.7.
The Customer Page is improved follwing those tickets:
https://github.com/PrestaShop/PrestaShop/issues/11010
https://github.com/PrestaShop/PrestaShop/issues/10560
For 1.6 project,
As you may already know, normal maintenance support for PrestaShop 1.6 end

[2019-08-26 09:06] #15213 closed, assigned to nobody

[2019-08-26 09:08] matks commented on #15222
Oh, I'm sorry I only saw the last message I did not read the beginning 🤔.

Indeed then a hook would be better

[2019-08-26 09:08] khouloudbelguith commented on #14660
Hi @NBoESFWbVaf,
This issue is currently closed, can you open a new one with more information about your configuration

Thanks!

[2019-08-26 09:15] Allthejam opened #15256 "ajax posterror"
My customers are getting this error pop up on the site when they try and pay for items ajax posterror. I did use to have CoinGate and Stripe as well but they have both stopped working and no matter how many times I reset them or reinstall them after there reconfigured they don't even show up as an option pay, only PayPal shows as an option, I have removed PayPal and it made no difference the other

[2019-08-26 09:20] khouloudbelguith commented on #15253
Hi @pojebunny,

Thanks for your report.
I have the same issue with PS1.7.6.0 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/63680185-fcdb0e80-c7ea-11e9-8376-ae503039825d.png)
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13036 o fix the issue.
Thanks!

[2019-08-26 09:25] yuxiayuzhou commented on #15251
Thanks, Mathias. I would have interests to give it a try. Last night i just manually removed the "powered by Prestashop" footer MANUALLY. Do you think if i uninstall the email template manager and reinstall, would it bring the footer back? Thank you.

[2019-08-26 09:29] Hlavtox opened #15257 "Translations with variable are not updated"
**Describe the bug**
Strings with variables inside (%name%) don't get saved on back office translation interface.

You can find the string, translate it, save it, it shows green confirmation message, but the string is not saved to the database.

You must use a custom theme and new custom string.

After manual insert to database and clearing the cache, the string gets loaded.

@eternoendless Seems

[2019-08-26 09:31] yuxiayuzhou commented on #15251
Thanks for the recommentation. I tried to install the module. Unfortunately it came with an error. The screenshot can be seen in attachement. thanks again for your generous work.
![error](https://user-images.githubusercontent.com/53670538/63680950-d21fa300-c848-11e9-97f1-b42295506919.jpg)

[2019-08-26 09:33] khouloudbelguith commented on #15251
@yuxiayuzhou, your memory limit is 1G => Invalid value.
unfortunately, we are aware of this issue and it does not come from Prestashop, see https://github.com/PrestaShop/PrestaShop/pull/10892#issuecomment-439097520

[2019-08-26 09:40] khouloudbelguith commented on #15256
Hi @Allthejam,

I did not manage to reproduce the issue with PS1.7.6.0 & Papal v4.5.0.
https://drive.google.com/file/d/1Dh4ThQHB7z2hMg3Q3iqa5fVR2A-0abQ3/view
![image](https://user-images.githubusercontent.com/16067358/63681538-df5b7400-c7ed-11e9-8391-e2ba40ccb4a8.png)
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.p

[2019-08-26 09:41] khouloudbelguith commented on #15256
@Allthejam, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

[2019-08-26 09:42] demperador opened #15258 "InvalidArgumentException"
Hello!
I am trying to migrate my Prestashop 1.7.6.0 shop to a new server and I have followed the following steps:
1. Compress files to .tgz from source server
2. Database dump from source server (mariadb)
3. Copied tgz file to destiny server
4. Created new database (mariadb) in destiny server with same credentials as source server
5. Extracted files from tgz file in destiny server
6. Checked & mod

[2019-08-26 09:43] web-burn commented on #14878
Hello,
@khouloudbelguith, also the "Featured products" displayed in hook "displayCrossSellingShoppingCart" on the page "Cart empty". So it is need to add the file jquery.rating.plugin.js to the page "Cart empty" too.
![Screenshot_1](https://user-images.githubusercontent.com/22581200/63681790-826cb780-c807-11e9-9a29-31c21321f427.jpg)

[2019-08-26 09:51] Allthejam commented on #15256
Hi, Thank you for that info.

I think you might have missed my point, it's a Presta problem that occurs on my store, its not a PayPal issue because even after I uninstall PayPal the store won't show any payment methods, the only on that I can get to show is PayPal and that doesn't work because of the ajax posterror.

Ok, let's forget about PayPal, let's say I don't want or even have PayPal, let's

[2019-08-26 09:56] NBoESFWbVaf commented on #14660
Hello,
Yes i can open a new issue, later. For now, i've installed clean Pres 1.7.5.2 and the mistake is gone. The error seems to be in the version 1.7.6.0.

[2019-08-26 09:59] eternoendless commented on #15054
After further analysis I found out that the accounting format is probably not the answer after all.

The number of significant decimals is defined by the currency, whereas the accounting format is defined by the locale. Therefore, using the accounting format wouldn't help us in showing a different number of decimals in some contexts.

Worse, in many popular locales (including English, French and S

[2019-08-26 10:04] sarahdib commented on #9579
This problem is solved for all product except product with customisation.

[2019-08-26 10:12] khouloudbelguith commented on #15258
Hi @demperador,

Thanks to follow these steps to move your shop to a new server without errors.
1. I made a backup for my files & my database
2. I uploaded my store's files to your new server
3. I imported the old store's database to the new server
4. In file /app/config/parameters.php, I configured my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step

[2019-08-26 10:15] khouloudbelguith commented on #15115
@go-sudo, could you please try to enable the debug mode & try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-26 10:37] demperador commented on #15258
Hello @khouloudbelguith I have done all those steps and still the same error. On step 5, I do have a multistore site but shops' URL are the same. Domain centrobell.com DNS A value is already directing to the right IP address. Meanwhile, if I try to access frontoffice, the error is: ContextErrorException - Notice: Undefined index: pl_grid_ld. But I cannot access Backoffice because of the error in t

[2019-08-26 10:48] khouloudbelguith commented on #15257
Hi @Hlavtox,

I did not maange to reproduce the issue with PS1.7.6.0 & PS1.7.6.1build1 & the 1.7.6.x branch.
I attached a screen record
https://drive.google.com/file/d/1GollkHJLek_-mo1Oz9_ktIkUK0S7R84j/view
In your BO => International => Translations => are you translating a custom module or a theme?

Thanks!

[2019-08-26 10:51] Maofree opened #15260 "Fixed a little css bug around .product-flags"
Hi
if you pass the mouse over a product block when there are some flags on the image, it is not possible to click over the image.
It is due from this code in theme.css

`.product-flags {
    width: 100%;
}`

to fix it it is necessary to use this code

`.product-flags {
    width: auto;
}`

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/63685531-e25f6000-c7ff-11e9-94d4-c

[2019-08-26 10:52] LouiseBonnard commented on #15246
It is a bit touchy, it looks like the right word for all the green taxes established around the world is 'Ecotax'. Does this wording only concerns the French éco-participation or is it supposed to apply to other kinds of (foreign) environmental taxes?

[2019-08-26 10:54] khouloudbelguith commented on #15256
@Allthejam, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to

[2019-08-26 11:00] khouloudbelguith commented on #15209
@photinia73, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

[2019-08-26 11:00] #15209 closed, assigned to nobody

[2019-08-26 11:08] yuxiayuzhou commented on #15251
Thanks for pointing me to the solution. The issue now has been solved together with the server support. It has been set to 128MB instead of 1G before. so It is all right to upload file/module now.
I downloaded the Tutorial for Mail Template as a zip file. May i know how to install this properly? I have access to FTP folder as well. Just dot know how to operate further. Thank you.

[2019-08-26 12:15] khouloudbelguith commented on #15260
Hi @maofree,
Yes, I manage to reproduce the issue with PS1.7.6.0 & PS1.7.6.1build1.

https://drive.google.com/file/d/14Hg_LZpw3IkrGyP7u8QLb_0KbPnxqp9h/view
With PS1.7.5.2 => OK

https://drive.google.com/file/d/1uR4mnX2d-rXb5aWkK_O_4VnCHGWYg1BB/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull

[2019-08-26 12:16] marionf commented on #15246
Yes, it's supposed to apply to other kinds of environmental taxes

[2019-08-26 12:20] khouloudbelguith commented on #15250
Hi @adu42,

Thanks for your report.
Could you please povide us the exact steps to reproduce your issue.

Thanks!

[2019-08-26 12:23] samuel-pires commented on #15214
Hello @khouloudbelguith,
Is this the issue that Aurélien shared in an email he received from a merchant? (https://www.moonlight-boards.com)

[2019-08-26 12:24] khouloudbelguith commented on #15214
Hi @samuel-pires,

Yes!

[2019-08-26 12:29] khouloudbelguith commented on #15251
@yuxiayuzhou, you are welcome!
You can follow this Readme file
https://github.com/jolelievre/tuto_mailtemplate#install
You can download this zip file also
[tuto_mailtemplate.zip](https://github.com/PrestaShop/PrestaShop/files/3541093/tuto_mailtemplate.zip)

Thanks!

[2019-08-26 12:31] marionf commented on #11795
We can add an option "Numeric" in the dropdown below

![capture d'écran_1927](https://user-images.githubusercontent.com/13449658/63690911-1e012680-c80e-11e9-8ba6-e381f7aa72e4.png)

[2019-08-26 12:39] khouloudbelguith commented on #11428
Hi @rmln,

In fact, this issue occurs because the theme folder is in the zip file as reported here: #15004
If you try to upload a zip file with the theme folder => OK
child_classic.zip
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15004
So, I close it.
Thanks!

[2019-08-26 12:39] khouloudbelguith commented on #11428
Duplicate of #15004

[2019-08-26 12:41] samuel-pires commented on #15214
Great!
Thank you

[2019-08-26 12:44] zuk3975 opened #15261 "Brands are missing UI for deleting logo image"
It is currently not possible to delete manufacturer logo image. It is only possible to replace it by another one though.

I suggest implementing something similar like in category page (simple delete button) in manufacturer edit page.

In addition, the behavior of file input differs depending on browser, that might bring some issues (firefox leaves previous value on canceling, - chrome resets the

[2019-08-26 12:50] khouloudbelguith commented on #15261
Hi @zuk3975

Your ticket is a duplicate of #14106
So, I close it.
Thanks !

[2019-08-26 12:50] #15261 closed, assigned to nobody

[2019-08-26 12:50] khouloudbelguith commented on #15261
Duplicate of #14106

[2019-08-26 12:55] racfalit commented on #14936
hello,
Do I try it when I fail? or at any time

[2019-08-26 12:56] khouloudbelguith commented on #14936
@racfalit, your issue is solved after runing those commands?

Thanks!

[2019-08-26 13:07] racfalit commented on #14936
I have tried all 3 commands and still giving the 500 error as always.

We have restarted the web server and it works, I'm desperate

[2019-08-26 13:11] khouloudbelguith commented on #14733
Hello @web-burn,

This issue is currently closed, can you open a new one with more information about your configuration.
But in my case, I tried with PS1.7.6.0 & PS1.7.5.2, after Editing some translations in a theme & try to Exort the Language => I have different xml files.
I attached a screen record
Thanks!

[2019-08-26 13:14] khouloudbelguith commented on #14936
@racfalit, have you tried to contact your host about this issue?
It could be a server issue because re-starting the web server solves your issue.

Thanks to check with them & feedback.

[2019-08-26 13:45] marionf commented on #10032
@khouloudbelguith I can't reproduce it with 1.7.6.x branch, could you try to reproduce it ?

[2019-08-26 13:58] Allthejam commented on #15256
Ok, I put it into Debug mode and this happened straight away.
![2019-08-26_155107](https://user-images.githubusercontent.com/52738920/63696004-1d6e8d00-c81a-11e9-96da-ee24d01a29a7.jpg)
 Now I can't get into the back office at all, I'm completely shut out and have no clue what to do.

I'm at my wit's end here, PLease, Any suggestions?

[2019-08-26 14:02] khouloudbelguith commented on #15256
@Allthejam, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-26 14:03] khouloudbelguith commented on #10032
@marionf, I tried with the Branch 1.7.6.x => Same issue
https://drive.google.com/file/d/1Ey8QNN1pav-udyoi8tprubV8oMC3fZ5d/view
Ref is updated in all shops.
Thanks!

[2019-08-26 14:07] Allthejam commented on #15256
I've cleared all the cache, I've tried logging in through different browsers, I can't get in, so I can't do anything, I've even tried a different PC and Laptop and the results are all the same.

Basically, I'm now shut out of the back office.

[2019-08-26 14:13] khouloudbelguith commented on #15256
Could you please try to run those command lines to remove the cache:

[code]
Because, the exaception attached recently is a cache issue.
As I said before, PrestaShop is not compatible with PHP 7.3 yet.
Thanks!

[2019-08-26 14:19] Allthejam commented on #15256
I have been running PHP 7.2 as you suggested,
Where should I run those commands? I can't get into my back office...

I can't run them in Command Prompt because: 'php' is not recognized as an internal or external command, operable program or batch file.

[2019-08-26 14:23] khouloudbelguith commented on #15256
@Allthejam, with a terminal you can run those commands.
After cearing the manaully => BO is not accessible?
If, yes => it is a permission issue => you need to give the right permissions to your Folder.
Thanks!

[2019-08-26 14:24] Allthejam commented on #15256
Sorry, I don't know what you're going on about, what terminal?

[2019-08-26 14:30] centoasa opened #15263 "2 decimal on Prestashop 1.7.6"
Prestashop 1.7.6 on debian 9
despite my setting has always been with 2 decimals
https://nimb.ws/LBoM7f
in this new version often the product prices are displayed with 4/5 decimals
https://nimb.ws/ya3UI6

[2019-08-26 14:34] khouloudbelguith commented on #15256
@Allthejam, If you are using OS linux you can follow this documentation: https://en.wikipedia.org/wiki/Linux_console
If you are using OS windows you can follow this documentation: https://en.wikipedia.org/wiki/Cmd.exe

You need to check your host about this error

Thanks!

[2019-08-26 14:38] khouloudbelguith commented on #15183
@silviu25, I tried with PS1.7.6.0 & the size image is not descreased
![image](https://user-images.githubusercontent.com/16067358/63698801-843e7700-c817-11e9-9e31-60f1cbc6f717.png)

Thanks!

[2019-08-26 14:38] Allthejam commented on #15256
I ran those commands in cmd, I've cleared all the cache from my PC more than once, like I said I have even used a different pc and a laptop to try and log into my back office and I am getting the same results. This cant be a cache problem.

[2019-08-26 14:39] khouloudbelguith commented on #15263
Hi @centoasa,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14664 to fix the issue
Your ticket is a duplicate of #14640
So, I close it.
For a quick fix, you can run this SQL command on your Database
UPDATE `ps_currency` SET `numeric_iso_code` = '978', `precision` = '2' WHERE `ps_currency`.`id_currency` = 2;
Thanks!

[2019-08-26 14:39] #15263 closed, assigned to nobody

[2019-08-26 14:40] khouloudbelguith commented on #15263
Duplicate of #14640

[2019-08-26 14:43] #10849 closed, assigned to matthieu-rolland

[2019-08-26 14:47] khouloudbelguith commented on #15256
@Allthejam, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the creadentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-26 14:52] Allthejam commented on #15256
Done.

Thank you

[2019-08-26 14:52] xpech opened #16978 "ignore categories authorizations"
The menu displays categories whereas the customer have no permission to access to.

[2019-08-26 14:55] centoasa commented on #15263
Mistake
Static analysis:

4 errors were found during the analysis.

Unexpected Token. (near "," at position 47)
Key word not recognized. (near "precision" at position 49)
Unexpected Token. (near "=" at position 59)
Unexpected Token. (near "'2'" at position 61)
SQL query:

UPDATE ps_currency SET numeric_iso_code = '978', precision = '2' WHERE ps_currency.id_currency = 2

MySQL message: Documentatio

[2019-08-26 14:55] 01park commented on #14785
I applied the fixed files and the error is gone, but when I want to filter an employee on employee number or name, I get no results for a selected date.

[2019-08-26 15:12] centoasa commented on #15263
UPDATE `ps_currency` SET `numeric_iso_code` = '978', `precision` = '2' WHERE `ps_currency`.`id_currency` = 1

[2019-08-26 15:20] khouloudbelguith commented on #15256
@Allthejam, I cannot access to your shop
![image](https://user-images.githubusercontent.com/16067358/63701601-24e36580-c81d-11e9-89be-391020ab5045.png)
![image](https://user-images.githubusercontent.com/16067358/63701685-4f352300-c81d-11e9-9d3a-8cc7681f7d20.png)
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-08-26 15:25] Allthejam commented on #15256
Done.

Cleared the folder

[2019-08-26 15:29] khouloudbelguith commented on #15256
@Allthejam, now it is OK.
I will check & feedback

[2019-08-26 15:30] Allthejam commented on #15256
Ok, I will have a good look around, Thank you.

[2019-08-26 15:32] colinegin commented on #12828
@MatShir @samuel-pires can you tell us what's the status of this issue ?

[2019-08-26 15:35] colinegin commented on #14388
@MatShir could you give us an update on the status of this issue ?

[2019-08-26 15:49] Allthejam commented on #15256
Thank you, I have Stripe and Coingate back working once again, you're a genius.

Thank you

[2019-08-26 15:49] khouloudbelguith commented on #15256
@Allthejam, Paypal is not installed in your case.
I found stripe
I tried to install the COD module & it is well displayed on the FO
But the stripe module is not displayed.
So, if you have only this module installed => that's why you don't have payments on the last checkout step.

Thanks!

[2019-08-26 15:52] khouloudbelguith commented on #15258
@demperador, did you tried to clear the cache?

Thanks!

[2019-08-26 15:53] demperador commented on #15258
Yes I did, several times.

[2019-08-26 15:53] Allthejam commented on #15256
No, I deleted them and was going to reinstall it all but got locked out with that problem so I couldn't, I have them installed and they are working as they should be now, I have just run a test.

Once again. Thank you for all your support

[2019-08-26 15:54] demperador commented on #15258
If I made a fresh install of prestashop as a test it seems to function correctly but as soon as I tweak the parameters.php, clear cache and upload my database, error happens

[2019-08-26 16:01] khouloudbelguith commented on #15256
@Allthejam, thanks!
Since it is fixed.
I close the issue, feel free to open a new one when needed.

[2019-08-26 16:01] #15256 closed, assigned to nobody

[2019-08-26 16:13] khouloudbelguith commented on #15153
@kkasztann, doing some tests.
I find this error
![image](https://user-images.githubusercontent.com/16067358/63705294-b99d9180-c824-11e9-8c80-dd5561dd8ac1.png)

It is related to your module provided by a theme.
Could you please try to use the classic theme, clear cache, check & feedback.

[2019-08-26 16:20] samuel-pires commented on #15260
Thanks @maofree !

[2019-08-26 16:27] khouloudbelguith commented on #15258
@demperador, did you use a custom module or custom theme?
Could you please try to delete the file into `/Project_Folder/config/thmes/yourtheme/shop.json`, check & feedback.
Thanks!

[2019-08-26 16:42] antoniopineapple commented on #15107
Hi there
i tried different stuff:
1) disable megamenu----->same problem
2)disable all no prestashop modules-------> same problem
3) activate classic theme and disable all non prestashop modules-----> same problem

[2019-08-26 16:44] antoniopineapple commented on #15107
*ERROR* 	v1.7.5.0	2019/08/26 - 18:01:01: Link to database cannot be established: SQLSTATE[HY000] [1203] User g***********a already has more than 'max_user_connections' active connections at line 127 in file classes/db/DbPDO.php
*ERROR* 	v1.7.5.0	2019/08/26 - 18:01:31: Invalid category vars at line 384 in file classes/Link.php

[2019-08-26 18:50] Flower7C3 opened #15266 "Unable to turn off maintenance mode on multistore"
**Describe the bug**
When I am in All shops mode turning off maintenance mode does not make any effect. I Have to switch to each shop and there disable maintenance mode. Problem is because `PS_SHOP_ENABLE` is set to `0` after enabling shop in all mode.

Related to #14696

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.1

[2019-08-26 19:56] lowfear opened #15267 "Orders Shopping > Carts > Online (Yes / No) Bug"
Not correct show "Online" column.

Bug are in SQL query
/PrestaShop/controllers/admin/AdminCartsController.php 58 Line
need remove "LIMIT 1"

**Screenshots**
![download](https://user-images.githubusercontent.com/1003459/63719042-b7532b80-c854-11e9-8ad1-d9b12fbc9801.png)

**Additional information**
PrestaShop version: 1.7.6
PHP version: 7.2

[2019-08-26 20:50] Flower7C3 opened #15268 "It is not possible to edit the "Back office translations" in PrestaShop 1.7.6.1 child theme"
**Describe the bug**

I am still unable to edit theme translations for child themes. Same error occurs as before. Here is my stack trace for XHR request https://example/com/admin-dev/index.php/api/translations/tree/pl/themes/PRSADD054_ettoi?_token=OfOaV_aHoK1-I2RK2MClfyACxzg-Te5TQUy-Rgtjwx8

**This issue is reproduced only if we have a theme without tpl files.**

Related to #14733

<details>
  <su

[2019-08-27 00:28] fredo85 commented on #12241
@CaseOnline, if it helps, this solution works for us (it would be better with a hook)

you can do this in your template

        {assign var='coverImage' value=Image::getCover($product.id_product)}
        {assign var='coverImageSrc' value=''}
        {if !empty($coverImage) && !empty($coverImage.id_image) &&  $coverImage.id_image > 0 }
            {assign var='coverImageSrc' value=$link->getImage

[2019-08-27 04:36] sewingau opened #15269 "Cant add order from back office."
I'm not very tech savvy but when i add to cart into a selected customers 'new order' it does not work... I never had any problems before. its been broken for at least 2 weeks.
im in Australia. using 1.7.5. Netorigin is my domain host.

[2019-08-27 06:44] samuel-pires commented on #12828
It has to be specified but it is not in top priority because this call is already asynchronous, so it doesn't block the Dashboard page loading if the API is down.
It's more about what to display if the API is down than Circuit Breaker parameters, I believe.

[2019-08-27 06:45] JustasBelevicius commented on #15056
Any progress on this issue?

[2019-08-27 07:12] pojebunny commented on #15253
Ok.
Can I please ask for this issue to be deleted/removed?

I was lazy enough to not search the pull requests.

[2019-08-27 07:16] jordiweblidera commented on #13468
Hi @khouloudbelguith,

Any news?

Regards

[2019-08-27 07:26] PierreRambaud commented on #15056
We are still waiting for QA on the faceted search pull requests. Be patient, it's coming :sweat_smile:

[2019-08-27 07:46] khouloudbelguith commented on #15253
@pojebunny, if the PR is merged, we can close the issue.

[2019-08-27 07:51] khouloudbelguith commented on #15266
Hi @Flower7C3,

Thanks for your report.
This issue should be fixed with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9548

Thanks!

[2019-08-27 07:51] #15266 closed, assigned to nobody

[2019-08-27 07:51] khouloudbelguith commented on #15266
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9548

[2019-08-27 07:56] khouloudbelguith commented on #15269
Hi @sewingau,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/

[2019-08-27 08:09] khouloudbelguith commented on #15268
Hi @Flower7C3,

I did not manage to reproduce the issue with PS1.7.6.1 & a child theme cloned from this link:
https://github.com/PrestaShop/childtheme-example
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3544955/childtheme-example.zip)
I attached a screen record
https://drive.google.com/file/d/1JrDBwYCShjKsmKwmAVqY7q2AiOqhL_u4/view
Thanks to check & feedback.

[2019-08-27 08:11] lordchukz opened #15270 "Symfony Exception - OPcache is not enabled"
Hi,

installed a fresh prestashop 1.7.6 and transferred my old shop's data to it from 1.7.3

Everything seems working well, after I installed memcached I got 500 error during debug in vendor/symfony/symfony/src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php stating OPcache is not enabled.

I contacted my hosting service, and they confirmed it was enabled, they also did all necessary checks on

[2019-08-27 08:20] Hlavtox commented on #15257
@khouloudbelguith

Use custom theme, for example classic-rocket.

And you must create a new string in the template.

This normally works for all other custom new strings in TPLs, it even shows up, but from some reason, it doesn't get saved. After saving to database manually, the translation shows up. As in the video.

[2019-08-27 08:42] toar86 opened #15272 "TinyMCE doesn't show on Safarii, js bug"
TinyMCE doesn't show on Safarii, js bug. On console we see error:

[Error] Error: Syntax error, unrecognized expression: input[name^="cms_page[title](main.bundle.js:253:94328)

PrestaShop version: 1.7.6.0
PHP version: 7.2

[2019-08-27 08:45] khouloudbelguith commented on #15270
Hi @lordchukz,

Thanks to download this module
[opcache.zip](https://github.com/PrestaShop/PrestaShop/files/3545108/opcache.zip)
to check if the opcache is enabled or not on your server.
If it is not enabled, you should have this
![image](https://user-images.githubusercontent.com/16067358/63755647-f4e4a280-c8ae-11e9-87cb-fe7e1bd4dbd2.png)
If it is enabled
![image](https://user-images.githubusercon

[2019-08-27 09:06] khouloudbelguith commented on #15272
Hi @toar86,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.6.1 & PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/63757548-2b6fec80-c8b2-11e9-8ea1-91fdbd0e985b.png)
![image](https://user-images.githubusercontent.com/16067358/63757580-3a569f00-c8b2-11e9-84a2-e755b05c381c.png)
![image](https://user-images.githubusercontent.com/16067358/63757628-

[2019-08-27 09:08] Prestaplugins opened #15273 "Add call to actionSubmitAccountBefore in OPC registration form"
On Prestashop 1.7.x, when you create an account from the cart registration form, there is not call to actionSubmitAccountBefore hook, which could allow to make some controls on the form and block the registration process if needed.

The code has to be added into /classes/checkout/CheckoutPersonalInformationStep.php, into method handleRequest, the same way it has been done into /controllers/front/A

[2019-08-27 09:41] khouloudbelguith commented on #15273
Hi @Prestaplugins,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.1.
I replaced this

[code]
By this
[code]
But, the hook `actionSubmitAccountBefore` is not called.

PS: the Customer data privacy block module is using the "actionbeforesubmitaccount" hook.
I tried with this hook => same issue.
I’ll add this to the debug roadmap so that it’s fixed. If you have alre

[2019-08-27 09:49] khouloudbelguith commented on #15267
Hi @lowfear,

Thanks for your report.
Ping @PierreRambaud @PrestaShop/prestashop-core-developers what do you think?
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9076 about this SQL query.

Thanks!

[2019-08-27 09:52] khouloudbelguith commented on #13468
Hi @jordiweblidera,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-08-27 09:53] khouloudbelguith commented on #12241
Hi @fredo85,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-08-27 09:57] khouloudbelguith commented on #15107
@antoniopineapple,

That means that the specific database user has already used up all the concurrent connections at that moment and more cannot be processed.
The only option to fix without doing any programming changes is to change the max_user_connections value in MySQL configuration
You need to increase your `max_user_connections` (https://dev.mysql.com/doc/refman/8.0/en/user-resources.html)

[2019-08-27 10:28] khouloudbelguith commented on #15257
@Hlavtox, it is OK with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/168W_LsX30pT-4eiSfTemDZdsPrInSqGi/view
Thanks to check & feedback.

[2019-08-27 10:32] fredo85 commented on #12241
sorry, no time for this, we works on https://github.com/PrestaShop/PrestaShop/issues/11059 ;-)

[2019-08-27 10:39] Prestaplugins commented on #15273
Hi khouloudbelguith,

I remember I also had a problem with the hook name and/or alias.
If I remember well, I didn't have that hook name (actionSubmitAccountBefore) in the ps_hook table, so I had to add it to make it work.

I just checked in my 1.7.6 test version (which has not been modified), and I can't find it in the ps_hook table. I can't find actionBeforeSubmitAccount too.
There's just an alia

[2019-08-27 10:42] khouloudbelguith commented on #15273
@Prestaplugins, Yes in my case, I tried with the "actionbeforesubmitaccount" & it didn't work.
I added this issue to our bug roadmap.

Thanks!

[2019-08-27 11:08] sitte opened #15274 "When you are in all shop context all categories are not displayed in product page"
**Describe the bug**
I have multisore, each store has it's own category branch, all stores has the same products.
When editing product in "all shops" context, category assigment block shows categories only from one store. In Prestashop 1.5.4.1 I see all category branches from all shops.

After saving it overrides main category in all shops.

**To Reproduce**
Steps to reproduce the behavior:
1. Act

[2019-08-27 11:38] khouloudbelguith commented on #15274
Hi @sitte,

Thanks for your report.
Following these steps:
1. Activate multistore, make 2 stores A and B
2. Make 2 categories CatA and CatB
3. Assign CatA to Store A and Cat B to Store B
4. All shops context is selected => Add new product => CatB is not displayed in the list of categories
=> It is not the same behavior as PS1.7.5.2

PS1.7.6.0/PS1.7.6.1:

![image](https://user-images.githubusercont

[2019-08-27 11:43] demperador commented on #15258
Hello @khouloudbelguith I have managed to fix the problem. I think the problem is because of an incompatibility issue of MariaDB 10.3+ under Plesk Onyx 17.8.11 Update #65. However, now another issue I have is that Prestashop states that I must activate mod_auth_basic for webservices. Under my Apache server general settings it seems that the module is already installed.

[2019-08-27 11:46] sotirisa opened #15275 "Translate mail templates fail"
**Describe the bug**
I'm trying to translate mail templates and after I change something in html text I get 403 Forbidden access.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International->Translations
2. Select Email translations->Body->Core->language (Greek in my view)
3. Select an email template change something
4. Hit save

**Additional information**
PrestaShop version: 1.7.61

[2019-08-27 12:34] sitte commented on #15274
I see 2 problems:
1. in "all shops" context we should see all category branches from all stores, not from default store.
2. in "all shops" context there should be main category per shop not per multistore

I can try to fix 1. Can You point me in direction where are functions that load category structure, it would speed up the process?

I think that 2 needs not only change of loaded data but in add

[2019-08-27 12:35] khouloudbelguith commented on #15275
Hi @sotirisa,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1VM-_j7aYIRVAuFRpotpANiApoZWQEV5u/view
The user might not have the necessary permissions for a resource.
Thanks to check the permissions with your host & feedback.

thanks!

[2019-08-27 12:38] khouloudbelguith commented on #15274
@sitte, we should ask developers: @PrestaShop/prestashop-core-developers

[2019-08-27 12:46] khouloudbelguith commented on #15258
@demperador, you have an alert about the `mod_auth_basic` in the BO => Advanced Parameters => webservice page ?

Thanks!

[2019-08-27 13:00] demperador commented on #15258
@khouloudbelguith exactly. I do not know why and I have been looking for this for 2 days straight 😅

[2019-08-27 13:12] racfalit commented on #14936
Hello, in the hosting, they tell me that they don't see any problem. I have failed again, right now it gives error 500 and we have not restarted the web server.

Can I pass you PLEASE the url user and password of prestashop and FTP data so that you can PLEASE see it with your own eyes?

Thank you very much for your attention.

[2019-08-27 13:15] khouloudbelguith commented on #15258
@demperador, In my case, I don't have this alert with PS1.7.6.0 after upgrade from PS1.7.5.2.

![image](https://user-images.githubusercontent.com/16067358/63774232-b8c43880-c8d4-11e9-909c-733b4c6210f9.png)

Could you please try to create this test.php script on your server to check if the `mod_auth_basic` is enabled

[code]

In my case, => OK

`Array ( [0] => core [1] => mod_so [2] => mod_watchdog

[2019-08-27 13:17] khouloudbelguith commented on #14936
@racfalit, yes you can send me the link.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-27 13:18] demperador commented on #15258
@khouloudbelguith I created a file name test.php with the code in it and I get a 500 error.

[2019-08-27 13:22] khouloudbelguith commented on #15258
@demperador, thanks to check with this script.
[aut.php.txt](https://github.com/PrestaShop/PrestaShop/files/3546288/aut.php.txt)

Thanks!

[2019-08-27 13:24] racfalit commented on #14936
I have already sent it to you by mail. Thank you very much I hope you find the solution

[2019-08-27 13:25] demperador commented on #15258
@khouloudbelguith just checked at (centrobell.com/aut.php.txt) and it only displays the php code.

[2019-08-27 13:32] khouloudbelguith commented on #15258
@demperador, you need to rename `aut.php.txt` to `aut.php` & check.
With GitHub, we cannot attach a PHP file.

Thanks!

[2019-08-27 13:33] khouloudbelguith commented on #14936
@racfalit, I just received the email.
I will check & feedback.

[2019-08-27 13:34] sotirisa commented on #15275
Yes it was host problem I solve it.
Thank you!

[2019-08-27 13:34] #15275 closed, assigned to nobody

[2019-08-27 13:35] lordchukz commented on #15270
Thanks a lot,

Unfortunately it gave me this error: Fatal error: Cannot use variable $request twice in /home/lords/public_html/modules/opcache/opcache/routes.php on line 13

Would you know by chance why?

Regards.

[2019-08-27 13:35] khouloudbelguith commented on #15275
@sotirisa, thanks for your feedback.
Feel free to open a new one when needed.

[2019-08-27 13:39] demperador commented on #15258
@khouloudbelguith same result, error 500

[2019-08-27 13:41] khouloudbelguith commented on #15270
@lordchukz, I just checked this module & it is well working in my case without errors.
I think you have some issues with the opcache on your server.
Thanks to check with your host & feedback.

[2019-08-27 13:43] lordchukz commented on #15270
Ok, thanks. Will do and get back soonest. regards.

[2019-08-27 13:44] khouloudbelguith commented on #15258
@demperador, could you please check the issue with your host.
With this script, we are just checking the list of apache modules that are enabled on the server.

Thanks!

[2019-08-27 13:45] khouloudbelguith commented on #15270
@lordchukz, thanks!
Waiting for your feedback.

[2019-08-27 14:14] khouloudbelguith commented on #14936
I checked your log file & I find this

You need to increase the `memory_limit` & `max_execution_time`.

This a permission warning, you need to check the permissions of your files or maybe you need to use a different `/tmp` directory, such as `var/tmp`

[2019-08-27 14:37] lordchukz commented on #15270
Hi, I removed the extra $request from the route file and was able to activate module.

In module panel, opcache is enabled, but when I debugged, same error appeared. I think it has more to do with Symphony.

In opcache module configuration, got these notice:

Notice: Undefined index: opcache.load_comments in /home/lords/public_html/modules/opcache/opcache/src/OpCacheGUI/OpCache/Configuration.php o

[2019-08-27 14:46] demperador commented on #15258
@khouloudbelguith I am starting to think that the problem might be a php setting not properly defined. Is there any guide on which are the exact settings for php 7.2 and apache 2.4 that are recommended for prestashop 1.7.6.1? Thanks.

[2019-08-27 14:47] khouloudbelguith commented on #15270
@lordchukz, could you please try to create the PHP info script on your server & check the opcache on your server.
![image](https://user-images.githubusercontent.com/16067358/63781602-e8c60880-c8e1-11e9-9e72-519628fe1d50.png)
`opcache.fast_shutdown =0 `in my case.

Thanks!

[2019-08-27 14:50] khouloudbelguith commented on #15258
@demperador,

You can follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this will b

[2019-08-27 14:53] demperador commented on #15258
@khouloudbelguith yes, I have uploaded that file phppsinfo but I cannot load neither because it asks for user/pass which I set as prestashop/prestashop but it will not accept the authorization. Perhaps it is related with the issue of the mod_auth_basic

[2019-08-27 15:01] khouloudbelguith commented on #15258
@demperador, following this file:
try to delete those lines
[code]

Thanks!

[2019-08-27 15:02] idnovate commented on #14608
Iso code for USD is 840

[2019-08-27 15:07] demperador commented on #15258
@khouloudbelguith it will not load. It keeps asking for user/pass. I also tried setting public function __construct($login = self::prestashop, $password = self::prestashop) and afterwards the page receives a 500 error…

[2019-08-27 15:10] lordchukz commented on #15270
Here they are, also is attached of opcached configuration panel.

Also the cached scripts showing are not updated life, and they are all direct from root directory, not from life site.. is this correct?

[2019-08-27 15:14] khouloudbelguith commented on #15258
@demperador, could you please try with this file
[aindex.php.zip](https://github.com/PrestaShop/PrestaShop/files/3546889/aindex.php.zip)
Thanks!

[2019-08-27 15:15] khouloudbelguith commented on #15270
@lordchukz, there are no images attached here.
You need to connect on GitHub & upload the images here.

Thanks!

[2019-08-27 15:21] lordchukz commented on #15270
opsss... my bad.. first time, sorry.

![Screen Shot 2019-08-27 at 17 04 56](https://user-images.githubusercontent.com/36967295/63784490-08176280-c8ef-11e9-8b55-889b6bc453e3.png)
![Screen Shot 2019-08-27 at 17 05 10](https://user-images.githubusercontent.com/36967295/63784492-08aff900-c8ef-11e9-8073-feffa52d5739.png)
![Screen Shot 2019-08-27 at 17 06 56](https://user-images.githubusercontent.com/36

[2019-08-27 15:21] demperador commented on #15258
@khouloudbelguith it does load! https://centrobell.com/aindex.php

[2019-08-27 15:29] khouloudbelguith commented on #15258
@demperador,

=> It is OK => Done.

But about the main issue "check if mod_auth_basic is enabled".
You need to check with this
[code]

[2019-08-27 15:31] demperador commented on #15258
@khouloudbelguith I have change the PHP setting to display error and this is the result for the previous code: Fatal error: Uncaught Error: Call to undefined function apache_get_modules() in /var/www/vhosts/centrobell.com/httpdocs/aut.php:2 Stack trace: #0 {main} thrown in /var/www/vhosts/centrobell.com/httpdocs/aut.php on line 2

[2019-08-27 15:31] khouloudbelguith commented on #15270
@lordchukz, thanks for your feedback.
As attached, the opcache is enbaled on your server.

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check by enabling the debug mode and feedback.

[2019-08-27 15:35] lordchukz commented on #15270
Sorry, didn’t get this one.. I should delete all folders in the var/cache. Right?

[2019-08-27 15:36] khouloudbelguith commented on #15270
@lordchukz, yes all folder into /var/cache (prod & dev folders).

Thanks!

[2019-08-27 15:39] khouloudbelguith commented on #15258
@demperador, Could you please try to create a check_phpinfo.php file and Write this PHP Code:

[code]
Then Navigate to Url like `www.example.com/check_phpinfo.php` and It will show you PHP file in the server

Thanks!

[2019-08-27 15:41] lowfear opened #15278 "[ps_facetedsearch] Bug in order by 'position' in category"
**Describe the bug**
If are enabled "Show products from subcategories" sort don't work correctly, because sort by position in all categories nleft and nright. But need sort just by current category.

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2

** SQL Example **

*If id_category = 7*

Current SQL are:

`SELECT p.id_product FROM (
	SELECT p.id_product, p.id_manufacturer,

[2019-08-27 15:42] demperador commented on #15258
@khouloudbelguith I did already have a phpinfo.php uploaded. It has always been visible at centrobell.com/phpinfo.php. I do not understand why all other files has been difficult to load…

[2019-08-27 15:44] stefanovita opened #15279 "getPackageShippingCost bad rounding"
**Describe the bug**
In the function getPackageShippingCost, the result value is always rounded to 2 decimals, This leads to errors in the cart totals calculations, in the invoices and in the emails templates.

The actual code is:

`$shipping_cost = (float) Tools::ps_round((float) $shipping_cost, 2);`

It should be:

`$shipping_cost = (float) Tools::ps_round((float) $shipping_cost, 6);`

**To Repr

[2019-08-27 15:47] benlecoqartisans commented on #11722
Hi,
Still no solution ? It's not a minor bug for us...
Any forecasted milestone ?

[2019-08-27 15:49] khouloudbelguith commented on #15258
@demperador, in the phpinfo file, you can check that the mod_auth_basic is not displayed.
In my case
![image](https://user-images.githubusercontent.com/16067358/63786721-7d346900-c8ea-11e9-84dc-3ca27478e00e.png)
It is not displayed in your case
![image](https://user-images.githubusercontent.com/16067358/63786777-9b01ce00-c8ea-11e9-8538-45c1fde79d25.png)

Thanks!

[2019-08-27 16:02] demperador commented on #15258
@khouloudbelguith I see the difference but I do not know how to solve the issue. It also seems that my server is running as FPM/FastCGI as server API and not as Apache 2 Handler. I do not know how to load the modules…

[2019-08-27 16:04] khouloudbelguith commented on #15278
Hi @lowfear,

Isn't the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/15062
Here's the PR: https://github.com/PrestaShop/ps_facetedsearch/pull/125 to fix the issue.
Thanks to check & feedback.

[2019-08-27 16:06] khouloudbelguith commented on #15258
@demperador,
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-08-27 16:06] #15258 closed, assigned to nobody

[2019-08-27 16:13] Flower7C3 commented on #15268
In my configuration child theme has different parent theme (not _classic_).
I have downloaded Your example child theme, but there is still red error: <img width="385" alt="image" src="https://user-images.githubusercontent.com/3767861/63787399-0d2ae080-c8f4-11e9-8446-d509a066671a.png">

[2019-08-27 16:13] khouloudbelguith commented on #15279
Hi @stefanovita,

Thanks for your report.
I tried with PS1.7.6.1 with a default product.
In the BO
![image](https://user-images.githubusercontent.com/16067358/63788591-a73b5a80-c8ed-11e9-83a5-dcbf71fa4847.png)

In the shopping cart FO is well calculated
![image](https://user-images.githubusercontent.com/16067358/63788622-b91cfd80-c8ed-11e9-90ba-eab2bf2551d5.png)

PS: It's planned to remove the num

[2019-08-27 16:15] khouloudbelguith commented on #15268
@Flower7C3, have you tried to follow this comment: https://github.com/PrestaShop/PrestaShop/issues/14733#issuecomment-512797282?

Thanks!

[2019-08-27 16:27] khouloudbelguith commented on #15270
@lordchukz, could you please check with your host again if they've disabled the opcache commands?

Thanks!

[2019-08-27 16:33] stefanovita commented on #15279
The problem is with the shipping cost, not the product price.

[2019-08-27 16:34] Flower7C3 commented on #15268
@khouloudbelguith I have tried this solution but it does not work.
I have also tried to change _childtheme-example_ and I find out that this error is show where there is no template file in theme directory. So child theme does not extend translation keys from parent theme, even if xlf files from parent are imported.

[2019-08-27 16:35] lordchukz commented on #15270
Ok, I will, though I see from here it is still enabled. https://lordsworld.eu/opcache-gui.php? <https://lordsworld.eu/opcache-gui.php?>

I just feel it is activated only for cpanel and not for prestashop files.

Will update you asap.

[2019-08-27 17:17] Flower7C3 commented on #15268
I have created following example theme file and I am able to open translations page, but only one field is available for translation.
<details>
  <summary>/themes/my-child-theme/templates/example.tpl</summary>

[code]

</details>

All other fields imported form parent theme gives me error: <img width="327" alt="image" src="https://user-images.githubusercontent.com/3767861/63793089-356c0c80-c8ff-11

[2019-08-27 17:30] antoniopineapple commented on #15107
i set the connection to 200 and tried again, deactivating the megamenu
now i have a whitepage when click to configure one click upadate
and i still have the same error
*ERROR* 	v1.7.5.0	2019/08/27 - 19:26:10: Invalid category vars at line 384 in file classes/Link.php

[2019-08-27 17:35] antoniopineapple commented on #15107
the line 384 on link.php says: throw new PrestaShopException('Invalid category vars');

[2019-08-27 18:11] kkasztann commented on #15153
@khouloudbelguith thank you for your time :)
The problem was something else, but after the upgrade from 1.7.6.0 to 1.7.6.1 the issue disappeared.

[2019-08-27 18:11] #15153 closed, assigned to nobody

[2019-08-27 18:24] rancidio opened #15280 "impossible to select combinations images"
Hi, i have update my prestashop version to 1.7.6.1 but today when insert new product with combination it does not let me select images for the combinations. In the combination menu i see the images but I can't select them

UPDATE!  The problem is with Chrome, I tried with Firefox and the problem does not occur
![Cattura](https://user-images.githubusercontent.com/54597701/63797576-a106a780-c908-11e

[2019-08-27 19:43] Flower7C3 commented on #15268
I have made bash script, that will walk through all XLF files in child themes and create fake template with all translations strings. So finally I am able do child theme translations.
**It is not good solution, but works for me.**

<details>
  <summary>translations-match-to-template.sh</summary>

[code]

</details>

[2019-08-27 20:04] Nisarg22 opened #15281 "page validation not working"
when trying to buy a product through cod method it show this problem
whats the solution
![Screenshot (6)](https://user-images.githubusercontent.com/39002772/63804036-db396e80-c933-11e9-852e-14b4a5dd3952.png)

[2019-08-27 20:54] banan44 commented on #14816
@khouloudbelguith I have wacthed the behaviour of the Main Menu module for a few days. I noticed it deactivates everytime I update any module I have installed in my PS. It does not matter if this is an original PS module or third-party. Update means deactivation of Main Menu. When I clear cache on any shop, the Main Menu deactivates in all shops (currently I have 7 shops in Multistore option). All

[2019-08-27 23:13] taniacr opened #15282 "Compile Error: Cannot declare class MailAlert, because the name is already in use"
After updating to 1.7.6.1 can't access Module Manager and Translations, in Backoffice.
Gives Error:
Compile Error: Cannot declare class MailAlert, because the name is already in use

Also the Module Catalog page doesn't load any modules.
![imagem](https://user-images.githubusercontent.com/5993331/63814370-89d7b200-c928-11e9-8254-82fcf5d9ec3e.png)

PHP 7.1.31

[2019-08-27 23:18] #15282 closed

[2019-08-28 07:19] lordchukz commented on #15270
Hi, got this feed back from the host.

Opcache is still enabled when checking the configuration files and PHP info. We have not disabled opcache commands in any way.

https://lordsworld.eu/phpinfo.php

The php.ini file where it is enabled has the below configurations which includes all the ones on their page from before as well as the one new "opcache.fast_shutdown=0" suggested by the person on gi

[2019-08-28 07:32] racfalit commented on #14936
Hello good day. I have already modified what you told me but now another problem has arisen that I did not have yesterday:

When I try to add a related product to a product in the backoffice I put a product in the search engine to add it and nothing comes out, I cannot add related products. Have you been able to modify something when you entered yesterday to do the tests, which affects this? Thank

[2019-08-28 07:36] khouloudbelguith commented on #14884
Hi @Kilipukki,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-28 07:36] #14884 closed, assigned to nobody

[2019-08-28 07:37] khouloudbelguith commented on #14796
Hi @ValerioFoddai,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-28 07:37] #14796 closed, assigned to nobody

[2019-08-28 07:39] lordchukz opened #15283 "Activate the Apache module 'mod_auth_basic' to allow authentication of the PrestaShop webservice."
Can somebody please help with this?

Error: Activate the Apache module 'mod_auth_basic' to allow authentication of the PrestaShop webservice.

I also checked the database sql for Apache error I was getting, ’mod_auth_basic’.

And got this result, can you detect something from this?

“SELECT wa.`id_webservice_account`, wa.`key`, wa.`description`, wa.`active` FROM ps9m_webservice_account wa INNER JO

[2019-08-28 07:43] khouloudbelguith commented on #15281
Hi @Nisarg22,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-08-28 08:01] khouloudbelguith commented on #15283
Hi @lordchukz,

Could you please try to create a check_phpinfo.php file and Write this PHP Code:

[code]
Then Navigate to Url like `www.example.com/check_phpinfo.php` and It will show you PHP file in the server

Thanks!

[2019-08-28 08:06] khouloudbelguith commented on #15280
Hi @rancidio,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1HFSRBfhV1ynu_VMcAg3WXQ5r6EogfNhH/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console

[2019-08-28 08:25] lordchukz commented on #15270
Please find the pdf in attached.

thanks.
[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/3549877/phpinfo.pdf)

[2019-08-28 08:35] khouloudbelguith commented on #15268
@Flower7C3, could you please provide me your demo child theme to test it.

I tried with childtheme where there is no template file in theme directory & it is OK
[childtheme.zip](https://github.com/PrestaShop/PrestaShop/files/3549923/childtheme.zip)

Thanks!

[2019-08-28 08:37] ghost opened #15285 "[FEATURE REQUEST] Domain blacklist in contact form + mark as Spam in Customer Threads"
Hi team,
That would be a nice addition to get rid of TalkWithCustomer and ExplainMyBusiness type of contact form SPAM.

1) Manual list of blacklisted domains like PS_SEARCH_BLACKLIST (textarea), but with "tags" functionality,
2) Button "Mark as SPAM" in Customer Threads,
3) Anther "else if" condition in contactform.php sendMessage function.

[2019-08-28 08:41] khouloudbelguith commented on #15285
Hi @PrestaShark,

Thanks for your report.
Ping @marionf, @colinegin what do you think?

Thanks!

[2019-08-28 08:42] khouloudbelguith commented on #15153
@kkasztann, thanks for your feedback.
Feel free to open a new one when needed.

[2019-08-28 08:49] khouloudbelguith commented on #15107
@antoniopineapple, did you delete demo categories?
I think that there is a theme module that tries to catch default categories.
Could you please try to switch to the classic theme and then back to the custom theme.

Thanks!

[2019-08-28 08:57] khouloudbelguith commented on #15270
@lordchukz, you have some missing name in your oPcache configuration
- opcache.file_cache
- opcache.file_cache_consistency_checks
- opcache.file_cache_only

![image](https://user-images.githubusercontent.com/16067358/63841161-32fac880-c97a-11e9-9b6b-6bad68e6ab71.png)

You can follow this link: https://www.php.net/manual/en/opcache.configuration.php

Thanks!

[2019-08-28 09:00] dheerajwebkul opened #15287 "Attribute change on quick view page will not affect code in displayProductAdditionalInfo hook"
**Describe the bug**
On product page, if we change attribute, the core.js code updating the displayProductAdditionalInfo hook tpl code by using 'product-additional-info' class But this is not working on quick view page because on quick view tpl this hook is not wrap up in 'product-additional-info' class div
Check these code:

https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/themes/classic/tem

[2019-08-28 09:08] SniperCZE commented on #15019
It depends. When you have classic master - master setup, you have to set auto_increment_increment to 2 and auto_increment_offset to 2 on one server (another one stays with auto_increment_offset 1). When you're using multi master setup with galera, you need to setup auto_increment_increment to number of nodes in cluster (usually 3) and auto_increment_offset set to 1 - n (first node gets 1, second n

[2019-08-28 09:09] tiptopnet commented on #15057
Thanks @khouloudbelguith for your answer

Please I have another question about PS 1.7 : I'd like to add new item with submenu opening in ps_mainmenutpl (at the end of the menu)
I've tried but not working
Could you hep me please?
Thanks again for your help!

 {assign var=_counter value=0}
{function name="menu" nodes=[] depth=0 parent=null}
    {if $nodes|count}
      <ul class="top-menu" {if $depth

[2019-08-28 09:12] khouloudbelguith commented on #15057
@tiptopnet, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-08-28 09:12] #15057 closed, assigned to nobody

[2019-08-28 09:13] azralth opened #15288 "actionAdminCustomerFormModifier"
Hi,

On my 1.7.6 i have a custom field on admin customer edition that is not longer appear.
It seems that the hook actionAdminCustomersFormModifier is not working on this version.

Any help would be great !

[2019-08-28 09:17] khouloudbelguith commented on #15288
Hi @azralth,

Have you an issue with the "Edit" button in the BO => Customer page?
![image](https://user-images.githubusercontent.com/16067358/63842671-f8def600-c97c-11e9-8c7a-e5ab91316dce.png)

Thanks!

[2019-08-28 09:22] tiptopnet opened #15290 "add item with submenu in ps_mainmenu.tpl"
Hi

I use Prestashop 1.7.5.2 and I need to add an item with submenu in ps_mainmenu.tpl, at the end (right)

With the BO I can add an item (cms page) but no submenu possible

Thanks for your help

Attached tpl file
[ps_mainmenu.txt](https://github.com/PrestaShop/PrestaShop/files/3550116/ps_mainmenu.txt)

[2019-08-28 09:26] azralth commented on #15288
Hi,

Nop, all its work fine. I'm in debug mode and no error. I tried a dump($params) in my module but nothing is showing on edit form.

[2019-08-28 09:37] PrestaShark commented on #15285
Here's Joomla aproach
![zrzut 2019-08-28 11 36 31](https://user-images.githubusercontent.com/8243273/63844239-22e9e580-c988-11e9-93af-b6e2ac6a080f.png)

[2019-08-28 10:07] khouloudbelguith commented on #15290
Hi @tiptopnet,

Using the main menu module, you are not able to add some categories to the Selected items?
![image](https://user-images.githubusercontent.com/16067358/63846539-f207b180-c983-11e9-8b86-213337943d00.png)

Thanks!

[2019-08-28 10:11] tiptopnet commented on #15290
Thanks @khouloudbelguith
Yes i can add an item but it's not possible to add dropdown submenu attached to this item
It's why I search to add directly in the tpl
I found how to add the item but I can't fix the submenu

[2019-08-28 10:53] khouloudbelguith commented on #15287
Hi @dheerajwebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
I used a module using this
[code]
a tpl file

[code]
The 'product-additional-info' class But this is not working on quick view page
https://drive.google.com/file/d/1fXiYXvMmdZJedBrx61yX6Q2sdi1XFaGK/view

I’ll add this to the debug roadmap.
Thanks!

[2019-08-28 11:11] khouloudbelguith commented on #15279
@stefanovita, sorry, it is my bad.
I tried with this price shipping => 7.145000, in the FO => It will display `€7.15`
I tried with this price shipping => 7.1447, in the FO => It will display `€7.14`
I attached a screen record
https://drive.google.com/file/d/16yK0ZiNZQfjrr2wP-bJx-9u5AkV2Bdxe/view
Thanks to check & feedback.

[2019-08-28 11:24] khouloudbelguith commented on #15290
@tiptopnet, could you please explain to me more about your issue.
Is this a bug in the module ps_mainmenu, some items cannot be selected?
Or this is a custom feature, you want to improve your module?

Thanks!

[2019-08-28 11:31] tiptopnet commented on #15290
Not a bug
Now the tpl file ps_mainmenu displays the top menu with categories and cms pages we can add in the BO. All works fine.
But with these cms pages can't have dropdown submenu with other cms pages
So I would like to add the code inside the tpl to display a new item (after the categories) with a dropdown menu

[2019-08-28 11:43] khouloudbelguith commented on #15288
@azralth, I used this function in the module
[code]

After updating a customer, the `$params['object']` are well displayed.
`
BeforeCustomer Object ( [id] => 8 [id_shop] => 1 [id_shop_group] => 1 [secure_key] => 76206bbe93b990e6c0d01f1eb1e1c655 [note] => [id_gender] => 0 [id_default_group] => 3 [id_lang] => 1 [lastname] => dfgdfg [firstname] => ftsdrgf [birthday] => 0000-00-00 [email] => khouloud.

[2019-08-28 11:45] #15290 closed, assigned to nobody

[2019-08-28 11:49] lordchukz commented on #15270
Hi,

Made the following changes, but nothing changed.

Regards.

[root@server:home]$ grep -v '^\s*$\|^#\|^;\|^\s*\#' /opt/cpanel/ea-php72/root/etc/php.d/10-opcache.ini
zend_extension=opcache.so
opcache.enable=1
opcache.enable_cli=1
opcache.memory_consumption=256
opcache.interned_strings_buffer=64
opcache.max_accelerated_files=20000
opcache.use_cwd=1
opcache.fast_shutdown=0
opcache.enable_file_over

[2019-08-28 11:50] khouloudbelguith commented on #14816
@banan44, I tried to upgrade some modules when multistore context enabled & it is OK.
https://drive.google.com/file/d/14YI0o-Mqu6qKhqf3aHIi6UQjLnxcSuKA/view

Thanks!

[2019-08-28 11:52] khouloudbelguith commented on #15270
@lordchukz, could you please provide me your PHP info file after these changes.

Thanks!

[2019-08-28 12:14] lordchukz commented on #15270
@khouloudbelguith, please find it attached.

I also got this update from host, might be of help, thanks.

"Rechecked the phpinfo page and I also restarted the Apache PHP-FPM service too. Unfortunately, it does not seem to show those few things up in PHP Version 7.2.21
phpinfo page despite being enabled in the .ini file.

Maybe it is different for the PHP versions they are using for their installat

[2019-08-28 12:16] khouloudbelguith commented on #15270
@lordchukz, there is no attached file.
You need to connect & upload the file here.

Thanks!

[2019-08-28 12:17] lordchukz commented on #15270
oppsss, my bad.

[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/3550793/phpinfo.pdf)

[2019-08-28 12:32] azralth commented on #15288
Hi,
Problem was that my custom field is not appear on back office in customer edit form. Since then i was abble to edit this field like i was.
Its appear that the hook actionAdminCustomersFormModifier give the possibility to had some custom field in the admin customer form.

But now, my field are disappear ...

I need help with this

[2019-08-28 12:49] khouloudbelguith commented on #15288
@azralth, have you the same issue as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14735?

Thanks!

[2019-08-28 13:21] khouloudbelguith commented on #15288
@azralth, As you are trying to use hook named `action<AdminControllerName>FormModifier` and you want to use it for controller `AdminCustomers`; it seems you should use full controller name like `AdminCustomersController` instead.

So you should register your hook first in install() method as below;

`$this->registerHook('actionAdminCustomersControllerFormModifier')`
and you need to make function n

[2019-08-28 13:50] #11578 closed, assigned to jolelievre

[2019-08-28 13:51] #9588 closed, assigned to PierreRambaud

[2019-08-28 13:53] sarahdib opened #15291 "Reorder product in category is not working in some condition"
**Describe the bug**
Reorder product in category is not working in some condition

**To Reproduce**
Steps to reproduce the behavior:
1. Go to products
2. Filter by accessory
3. Click on "reorder"
4. Try to reorder but without using the icon in column position, just click on the line and move it
5. Click on saved and refresh
6. See that the change is not saved because the product is not selected if

[2019-08-28 13:56] sarahdib commented on #14616
The problem is fixed if we use the icon in position column. The product is selected and we can change the position and saved and all changes is validated.

Since this PR correct the problem it's OK a New issue was created for the second issue : #15291

[2019-08-28 13:59] Tom1884it opened #15292 "1-Click Upgrade configuration ends up with Error 500"
**Describe the bug**
Trying to upgrade to latest PS version, I correctly installed 1-Click Upgrade module.
When I click "Configure", to configure the module, after a long wait, browser ends up with this error:
"500 Internal Server error
Request Timeout
This request takes too long to process, it is timed out by the server. If it should not be timed out, please contact administrator of this web site

[2019-08-28 14:02] khouloudbelguith commented on #15292
Hi @Tom1884it,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in adminfolder/autoupgrade/tmp/log.txt

Thanks!

[2019-08-28 14:26] Tom1884it commented on #15292
@khouloudbelguith thanks you for quick feedback.

That log.txt exists but it's empty.

[2019-08-28 14:42] #14616 closed, assigned to PierreRambaud

[2019-08-28 14:56] khouloudbelguith commented on #15292
@Tom1884it, this issue occurs before or after the upgrade?
Thanks!

[2019-08-28 15:04] Tom1884it commented on #15292
@khouloudbelguith before.
I'm still on 1.6.1.13: I installed Autoupdate module (4.9.0) to upgrade to PS 1.7.x, but can't configure it, like said before.

[2019-08-28 15:08] khouloudbelguith commented on #15292
@Tom1884it, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/how

[2019-08-28 15:16] khouloudbelguith commented on #15270
@lordchukz, I tried to create an environment with PHP7.2.13.
At first, the opcache is not installed.
I tried to install it using this link: https://duntuk.com/enable-zend-opcache-php-55-or-install-zendopcache-php-53-or-php-54
Now, it is well installed & enabled on my server.

![image](https://user-images.githubusercontent.com/16067358/63868637-c1893d00-c9ae-11e9-9b55-f52818532eb7.png)

I tried to

[2019-08-28 15:35] Tom1884it commented on #15292
Apache | 2.4.41
PHP | 5.6.40 or 7.0
MySQL | 10.3.17-MariaDB-cll-lve
Architettura | x86_64
Sistema operativo | linux

Any report, it's timeouted.

Can't find /var dir.

Can't find /var dir.

Empty.

Anything by "define('_PS_MODE_DEV_', true)", too.

I just click on configuration of module and, after many seconds, it ends up with 500 error.
[Same behavior for "Advanced Parameters > Configuration inf

[2019-08-28 15:41] khouloudbelguith commented on #15292
@Tom1884it, could you please try to increase the `max_execution_time` & the `memory_limit` on your server.
I hope this helps you to solve your issue.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this perio

[2019-08-28 15:41] #15292 closed, assigned to nobody

[2019-08-28 16:07] rezanr opened #15293 "ContextErrorException"
Fail efter upgrade to 1.7.6.1 in debug mode

(1/1)                                     ContextErrorException                                                                  Notice: Undefined variable: id_customer
--
in possearchproducts.php line 33
at Possearchproducts->__construct()
at ReflectionClass->newInstance()in Container.php line 131
at Container->makeInstanceFromClassName('possearchprodu

[2019-08-28 16:36] Flower7C3 commented on #15268
@khouloudbelguith Your [childtheme](https://github.com/PrestaShop/PrestaShop/files/3549923/childtheme.zip) has tpl files in modules directory:
<img width="413" alt="image" src="https://user-images.githubusercontent.com/3767861/63874819-8264e700-c9c2-11e9-92b3-3152c6cb4a3e.png">

If You delete all files except `config/theme.yml` translations will not work.

[2019-08-28 18:52] giogutierrez opened #15294 "error 1-Click Upgrade Warning: require(/var/www/html/vendor/composer/../markbaker/matrix/classes/src/functions/adjoint.php)"
**Describe the bug**
By updating prestashop 1.7.5 to 1.7.6 Failure and after this the web was left with errors.

**Screenshots**
Warning: require(/var/www/html/vendor/composer/../markbaker/matrix/classes/src/functions/adjoint.php): failed to open stream: No such file or directory in /var/www/html/vendor/composer/autoload_real.php on line 61

Fatal error: require(): Failed opening required '/var/ww

[2019-08-28 20:14] banan44 commented on #14816
@khouloudbelguith I do not know what else to say. Please, take a look at the logs from today and yesterday. There are a lot of errors that I have see every time a post a log here. Plus I can see new problems. Today I wanted to show you the problem. All logs between 21:37:22 and 21:56:13 - I have enabled Main Menu, then I upgraded a module that needed to be upgraded. During upgrade red pop up windo

[2019-08-28 23:02] karilobre opened #15295 "Faceted Search by N cateogry levels"
**Describe the bug**
Hi, I’ve installed Prestashop 1.7.5.2. I’ve configurated the faceted search by Categories, the store has 3 category levels.
When I choose to see the products of the level 1 category the filter shows all subcategories of level 2 and 3 that belong to the selected Category level 1.
So, if I filter by level 2 category the filter works fine but the problem is that if I filter by le

[2019-08-29 03:39] cemalarik opened #15296 "Critical Bug with Payment by Credit Card"
Hello,

I’ve discovered a critical bug that causes a fraud and I wrote it to security@prestashop.com two days ago, but no one returned.

I want to be sure if someone got my email and is working on it. Can you please check and get back to me?

cccarik@gmail.com

Thanks

[2019-08-29 05:41] lordchukz commented on #15270
Hi,

Host gave this feedback.

And sincerely, the more tweaks I give to site, the worse it gets as in performance. (Guess more errors are developing)

Are you a developer? If yes, can you work on site to resolve this for me?

Thanks.

"Upon reviewing that page (https://duntuk.com/enable-zend-opcache-php-55-or-install-zendopcache-php-53-or-php-54 <https://duntuk.com/enable-zend-opcache-php-55-or-in

[2019-08-29 06:13] nexustotalsolutions opened #15298 "Our Payment modules are being considered as non-compatible in Prestashop 1.7+"
Hello,

I'm a contributor on the Prestashop addons store with few modules. And there are 2 very popular payment modules on mine which are considered as not compatible from Prestashop 1.7+ version. There are 2 main issues:
1. These are listed under **Other** category instead of **payment_gateways**. And doesn't show on the Payment->Payment Methods. But module is showing under Payment->Preferences j

[2019-08-29 06:48] sdwebdesign commented on #12689
Important in 1.7.6 this fix is not good. In The Netherlands we have zip codes like : 7607 NC or 7607NC (with or without space). Now the validation says 7607NC = invalid. This merge needs to be undone. @Quetzacoalt91 @marionf

[2019-08-29 06:57] jojotjebaby commented on #12689
Thank you for your reply. I think we need to rework this in order to allow multiple formats to be submitted to the zip code verification ?

[2019-08-29 07:08] sdwebdesign commented on #12689
Hi, yeah. I fixed it in our 1.7.6 case with this:

Now in /classes/Country.php:

`      $zipRegexp = '/^' . $this->zip_code_format . '$/ui';
        $zipRegexp = str_replace('N', '[0-9]', $zipRegexp);
        $zipRegexp = str_replace('L', '[a-zA-Z]', $zipRegexp);
        $zipRegexp = str_replace('C', $this->iso_code, $zipRegexp);
`

Changed to:

`      $zipRegexp = '/^'.$this->zip_code_format.'$/u

[2019-08-29 07:18] khouloudbelguith commented on #14905
Hi @t0mmywalker,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-29 07:18] #14905 closed, assigned to nobody

[2019-08-29 07:19] khouloudbelguith commented on #14621
Hi @cartomatica73,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-29 07:19] #14621 closed, assigned to nobody

[2019-08-29 07:21] khouloudbelguith commented on #14856
Hi @jasonchemama,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-08-29 07:21] #14856 closed, assigned to nobody

[2019-08-29 07:22] khouloudbelguith commented on #14918
Hi @mhd6,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-29 07:22] #14918 closed, assigned to nobody

[2019-08-29 07:22] khouloudbelguith commented on #14919
Hi @biaggio12,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-29 07:22] #14919 closed, assigned to nobody

[2019-08-29 07:22] mubz23 commented on #14880
guys, i also found this to be a bug in prestashop
totally agree with @MockoB & @Alexandr-Vall

we need to display real quantities regardless of what's in the cart, i really hope that someone can find a fix for this soon, as this bug is the only thing that's holding me back from going live

[2019-08-29 07:30] jojotjebaby commented on #12689
This fix was to apply a more strict verification for the zip codes. Going back to the 1.7.4 code would mean that spaces in the verification string would be ignored...

Would there be a possibility to expand this feature in order to allow multiple zip verification strings in order to let the store owner choose what zipcodes he allows.

example for zip code in the Netherlands:

NNNN LL, NNNNLL

The

[2019-08-29 07:30] khouloudbelguith commented on #15293
Hi @rezanr,

Did you use the module "Pos search products" which have a tec name "possearchproducts"?

Thanks!

[2019-08-29 07:31] khouloudbelguith commented on #15294
Hi @t1desarrollo,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-29 07:34] #15103 closed, assigned to nobody

[2019-08-29 07:36] marionf commented on #14880
@mubz23

Please follow: https://github.com/PrestaShop/PrestaShop/issues/15152

[2019-08-29 07:40] khouloudbelguith commented on #15296
Hi @cemalarik,

I just forwarded your issue to the team core.
The issue will be treated.
Stay tuned!
I close this ticket, feel free to open a new one when needed.

Thanks!

[2019-08-29 07:40] #15296 closed, assigned to nobody

[2019-08-29 07:49] Klemart3D commented on #15187
@t1desarrollo : can you give more information about your environment to see if we have some similar configuration ? Are you using dev mode ?

[2019-08-29 08:02] khouloudbelguith commented on #15187
@t1desarrollo, an issue created here: https://github.com/PrestaShop/PrestaShop/issues/15294

[2019-08-29 08:04] ElderTugBoat786 opened #15299 "Impossible add related products"
**Describe the bug**
After upgrade Prestashop from 1.6 to 1.7.6 when I attempt to add a new related product in the product details tab nothing appear

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Product Details
2. Click on related Products
3. Type something in the related product input
4. Nothing appears

I have also enabled the debug mode and I see that the request is sent correctl

[2019-08-29 08:14] jolelievre commented on #12640
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14679

[2019-08-29 08:14] #12640 closed, assigned to jolelievre

[2019-08-29 08:15] khouloudbelguith commented on #15299
Hi @ElderTugBoat786,

With Fresh install PS1.7.6.1 => OK.
What is the exact previous version PS1.6 did you use before the upgrade?
Do you have any errors during the upgrade?
What is the exact version of the 1-click upgrade did you use?
You need to enable debug mode in your store and debug request which is sent for adding a related product in your browser, using DevTools, so:

1. enable debug mode

[2019-08-29 08:23] ElderTugBoat786 commented on #15299
HI @khouloudbelguith

I have used the last version of 1-click-upgrade
When I attempt to add new related products ( so when I press enter after inserting a text in the field ) nothing appear

This is the request in developer tool

![header request](https://user-images.githubusercontent.com/38555796/63923505-f6e16980-ca46-11e9-9328-c2737bb34b75.PNG)

![response](https://user-images.githubusercontent

[2019-08-29 08:31] khouloudbelguith commented on #15295
Hi @karilobre,

What is the exact version of the module ps_facetedsearch did you use?

In the ps_facetedsearch configuration, we have an option "Show products from subcategories" => you can disable it.

![image](https://user-images.githubusercontent.com/16067358/63923477-8afb0300-ca3e-11e9-952c-347b04ab1772.png)

I attached a screen record
https://drive.google.com/file/d/1yUiERuVaQS27ERkiifKWUr-_1

[2019-08-29 08:36] colinegin commented on #14995
Hello @matthieu-rolland,

can we close this issue ?

[2019-08-29 08:37] JBWModules opened #15302 "Unneccessary / on Home category breadcrumb"
In the breadcrumb of the Home category there is a slash at the end, this is not the case in any other category/product view.

![grafik](https://user-images.githubusercontent.com/47666330/63924671-f649d280-ca48-11e9-8e7f-9a7a178a2f48.png)

[2019-08-29 08:41] khouloudbelguith commented on #15299
@ElderTugBoat786, yes, there is no error 500 displayed.
- What is the exact previous version PS1.6 did you use before the upgrade?
- Do you have any errors during the upgrade?

[2019-08-29 08:43] matks commented on #15019
OK, so we cannot adapt the warning to something relevant, but we can allow people to disable it *providing they know what they are doing*, right ?

[2019-08-29 08:50] ElderTugBoat786 commented on #15299
@khouloudbelguith I don't get any error during the upgrade the Prestashop version before the upgrade was the 1.6.1.4

[2019-08-29 08:55] PrestaShark commented on #15137
My customer (non-tech) was supprised and confused at the same time w.t.h. he can't use search by size when he is in Manufacturer/Best sellers/New products/Search pages... Its non-uniform approach and yes - that feature should be implemented in faceted search.

Faceted search module expectation are high as same as our customers from us...

Im still about make a fund for that project...
https://comm

[2019-08-29 09:00] khouloudbelguith commented on #15302
Hi @JBWModules,

Thanks for your report.
I have the same behavior with PS1.7.5.2/PS1.7.6.1/develop branch.
When the Home category is selected
![image](https://user-images.githubusercontent.com/16067358/63926402-b16f6d00-ca43-11e9-87a5-31e6e733796b.png)
When another Category is selected
![image](https://user-images.githubusercontent.com/16067358/63926351-9f8dca00-ca43-11e9-9e34-82ddb79dfbc3.png)
Pi

[2019-08-29 09:11] centoasa commented on #11105
Now with 1.7.6.1 and php 7.2.21 this issue doesn't happens anymore! (for me)

[2019-08-29 09:13] jolelievre opened #15303 "Harmonize the currency creation/update"
**Is your feature request related to a problem? Please describe.**
Currencies are created in different ways in different places in the codebase (ex: LocalizationPack) which uses legacy code and not command/handlers. All these modifications should be harmonized by removing the use of legacy classes.

**Describe the solution you'd like**
Once the the PR https://github.com/PrestaShop/PrestaShop/pull/

[2019-08-29 09:19] khouloudbelguith commented on #11105
@centoasa, great to hear that your issue is solved but when we click on the "Clear Cache" button 2 times => error 500 still appear with PS1.7.6.1.

Thanks!

[2019-08-29 09:21] khouloudbelguith commented on #15303
Ping @PrestaShop/prestashop-core-developers

[2019-08-29 09:28] demperador opened #15304 "Cart contains an item that cannot be shipped to destinity creates 2 orders"
**Describe the bug**
If within a customer's cart there is an item that cannot be shipped to customer's address, Prestashop apparently creates two orders based on the same cart. This behaviour is incorrect, it should inform the customer that the item xxxx cannot be shipped to his address.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as customer
2. Add products to cart that can be shi

[2019-08-29 09:29] khouloudbelguith commented on #15270
@lordchukz, thanks for your feedback.
We must first try to reproduce your issue.
In my case with PS1.7.6 a PHP7.0/PHP7.2 => I did not manage to reproduce the issue.
@sarahdib could you please try to reproduce the issue?

Thanks!

[2019-08-29 09:34] lordchukz commented on #15270
I’m thinking it has to do with server configuration..

Since host made some modifications a little before these errors started occurring.. Evaluating making a quick change.

Thanks so much for your assistance, will update with outcomes.

Regards.

[2019-08-29 09:38] SniperCZE commented on #15019
I think you can. There will be auto_increment set to 1 in most cases and people knows when using some bigger M-M/galera cluster (because they setup it so).

[2019-08-29 09:45] khouloudbelguith commented on #15304
Hi @demperador,

This issue of split orders.
In your case,
1. Do you have more than one carrier?
2. For product 1 which can be shipped to the customer's address => in the BO => Product details page => Shipping Tab => you have selected a specific Carrier?
3. For the product 2 which cannot be shipped to the customer's address => in the BO => Product details page => Shipping Tab => all carriers are a

[2019-08-29 09:48] #15062 closed, assigned to nobody

[2019-08-29 09:48] #14989 closed, assigned to nobody

[2019-08-29 09:48] #15065 closed, assigned to nobody

[2019-08-29 09:48] sarahdib commented on #15270
Hello @lordchukz

I try to reproduce but like @khouloudbelguith it's OK for me.

Maybe you can try to see with your hosting provider the change they made and revert it to check if it's OK

Thank you
Best regards

[2019-08-29 09:51] khouloudbelguith commented on #15270
Thanks, @sarahdib!
@lordchukz, despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-08-29 09:51] #15270 closed, assigned to nobody

[2019-08-29 09:51] lordchukz commented on #15270
Made same request more times but to no avail.. fast switch is best solution.. Will update soon.. Regards.

[2019-08-29 09:54] khouloudbelguith opened #15305 "Contact information - An exception is displayed on the FO"
**Describe the bug**
After a fresh install of the develop branch, we have an exception on the FO
![image](https://user-images.githubusercontent.com/16067358/63930353-1aa6ae80-ca4b-11e9-83cc-827abd81ca8a.png)
After disabling Contact information module => OK

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install develop branch
2. Go to the FO
3. See error

**Additional information**
Pre

[2019-08-29 09:55] khouloudbelguith commented on #15305
ping @nesrineabdmouleh

[2019-08-29 09:59] ttoine commented on #15137
well, maybe your customer could provide money for this feature, instead of thinking that other will do it for them? feel me to DM me on Twitter (ttoine), I would enjoy to discuss opportunities with you and your customer in a video chat.

[2019-08-29 10:00] rezanr commented on #15293
Hi @khouloudbelguith
I cant find this module in control panel, and i try to delete it from FTP, it show this error

1/1)                                     ContextErrorException                                                                  Notice: Trying to get property 'id' of non-object
--
in Tools.php line 1346
at ToolsCore::getAdminTokenLite('AdminModules')in Link.php line 717
at LinkCore-

[2019-08-29 10:00] demperador commented on #15304
@khouloudbelguith
1. Yes, there is one more than one carrier. In fact, one of the orders has defined as id_carrier = 0
2. For products that has no shipping limit there is no specific carrrier defined (it is defined as prestashop default)
3. For products that has shipping limitations there is a specific carrier defined.
4. Order1 contains products that has no shipping limitations and order2 contain

[2019-08-29 10:01] khouloudbelguith commented on #15305
This issue could closed when the new version ps_contactinfo is released

[2019-08-29 10:06] khouloudbelguith commented on #15304
@demperador,

What is the exact carrier selected in this order (Order1)?

Thanks!

[2019-08-29 10:08] khouloudbelguith commented on #15293
@rezanr, you have an issue with the "Paypal" module.
Could you please try to disable it temporarily & check if the issue occurs again.

Thanks!

[2019-08-29 10:08] demperador commented on #15304
Order 1 has shipper Correos Provincia Santa Cruz de Tenerife
Order 2 has no shipper probably due to shipping limitation

[2019-08-29 10:23] Maofree opened #15308 "Color name doesn't appear over the color block in the product pages"
Hi
in the product block the color name appear when the mouse pass over the color block, instead in the product page the color names will not show

the problem is due from the html code
in variant-links.tpl it is present a link tag, instead in the product-variants.tpl it is present a span tag

bye

**Screenshots**
![11](https://user-images.githubusercontent.com/653230/63932400-66f7eb80-ca57-11e9-85

[2019-08-29 10:31] maofree commented on #15308
to solve this problem you can add the attribute "title" to the input tag
`<input title="{$group_attribute.name}"`

[2019-08-29 10:33] khouloudbelguith commented on #15308
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-29 10:37] zuk3975 opened #15309 "Left navbar is empty in develop"
After latest merges, the navbar is shown empty.

**Screenshots**
![Screenshot from 2019-08-29 13-37-12](https://user-images.githubusercontent.com/31609858/63933558-2782cc80-ca62-11e9-8fc1-bc76832e2f21.png)

**Additional information**
PrestaShop version: develop
PHP version: N/A

[2019-08-29 10:40] jf-viguier commented on #14765
any news ?

[2019-08-29 10:52] khouloudbelguith commented on #15309
Hi @zuk3975,

After running `composer install` & re-installing the shop => the issue doesn't exist anymore.

![image](https://user-images.githubusercontent.com/16067358/63934503-707f5480-ca53-11e9-8c9f-3b3939af32c4.png)

Thanks!

[2019-08-29 10:55] zuk3975 commented on #15309
Okay, cool, thanks :)

[2019-08-29 10:55] zuk3975 commented on #15309
Ok, cool, thank you :)

[2019-08-29 10:57] khouloudbelguith commented on #15268
@Flower7C3, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
It is not a regression.
This issue is reproduced only if we have a theme without tpl files.
![image](https://user-images.githubusercontent.com/16067358/63934778-07e4a780-ca54-11e9-9ce8-6d7de8b2dfa6.png)
checked with this child theme
[childtheme.zip](https://github.com/PrestaShop/PrestaShop/file

[2019-08-29 10:58] khouloudbelguith commented on #15309
@zuk3975, so, can we close the issue?

Thanks!

[2019-08-29 11:01] zuk3975 commented on #15309
Yes, indeed :smile:

[2019-08-29 11:02] #15309 closed, assigned to nobody

[2019-08-29 11:04] khouloudbelguith commented on #15304
@demperador, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
Steps to reproduce the issue.
1. Create a carrier Carrier1 available for all zone
2. Create a carrier Carrier2 available for the zone Africa for example (not Europe)
3. Create a product Product1 available for all carriers
4. Create a product Product2 available only for the Carrier2
5. Go to the FO =>

[2019-08-29 11:16] demperador commented on #15304
@khouloudbelguith great! I do not know how to fix the issue in my backend. Payment is associated with order2 and not with order1

[2019-08-29 11:43] manel-roman opened #15310 "Error in module "ps_categoryproducts""
**Describe the bug**
After a product page in section "products in the same category" there is an error.
Title and price only appears on the first item. The following products are shown without title, stars(reviews), price, etc.

The point is that it works perfectly if you deactivate Cache.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate ps_categoryproducts module
2. Activate cache
3

[2019-08-29 11:47] PrestaShark commented on #15137
Make a crowdfund like https://www.indiegogo.com/projects/elasticsearch-module-for-thirty-bees and then we will talk about "providing money" and module goals & roadmap. Im waiting for that! Just "shut up and take my money!"

Let's say Prestashop is World of Tanks. Both are Free for Play. In WoT there was many plugins (mods). The better ones in next patches were incorporated into WoT core features p

[2019-08-29 12:34] dheerajwebkul commented on #15287
@khouloudbelguith yes thanks for the explanation.

I have fixed this in PR  #15297

Thanks,

[2019-08-29 12:39] SamirDieb opened #15311 "Sales channel"
Hi

Since I contacted their support regarding the integration error, I have received an answer where there is an error in line.

============================
3 count (): Parameters must be an array or an object that implements Countable (/home/xxxx/public_html/classes/webservice/WebserviceRequest.php, line 794)

============================

The version is: 1.6.1.24

I hope there is one of you who

[2019-08-29 12:44] centoasa commented on #11144
why do I have the <meta name = "keywords" content = "bla blabla"> in some products present and in others the field is empty?
is there a way to edit and / or add keys to the meta keyword?

[2019-08-29 12:47] khouloudbelguith commented on #15299
@ElderTugBoat786, In my case, I tried to make an upgrade from PS1.6.1.24 to PS1.7.6.1 using the 1-click upgrade v4.9.0.
I tried to add some related products & it is OK
https://drive.google.com/file/d/1JSoPaNwrtGvIo2d3EWDHCuJRNXT18XBi/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the fo

[2019-08-29 12:49] khouloudbelguith commented on #15311
Hi @SamirDieb,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close

[2019-08-29 12:49] #15311 closed, assigned to nobody

[2019-08-29 12:49] ttoine commented on #15137
Of course, the more is done well, the more people will expect. This is challenging.

Unfortunately this is not only a problem of money (that will of course help). This is also about finding people with skills and time for code review.

Please, keep in mind that PrestaShop is a very big pen source project, with big challenges and priorities in mind. It's not just about keeping some legacy code up t

[2019-08-29 13:03] khouloudbelguith commented on #15310
Hi @manel-roman,

I did not manage to reproduce the issue with PS1.7.6.1 & the ps_categoryproducts module v1.0.4.
https://drive.google.com/file/d/1wPc5v94_Djpme7f1yLiQjStFCo0txlou/view
This issue is fixed with this PR: https://github.com/PrestaShop/ps_categoryproducts/pull/6
Your ticket is a duplicate of #9652
So, I close it.
Thanks!

[2019-08-29 13:03] #15310 closed, assigned to nobody

[2019-08-29 13:03] khouloudbelguith commented on #15310
Duplicate of #9652

[2019-08-29 13:13] azralth commented on #15288
Hi,

Thanks for your kindness and helpfull.
Unfortunatelly, this,  does not working no more. I try to find a solution by myself ...

[2019-08-29 13:14] khouloudbelguith commented on #15288
@azralth, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-08-29 13:14] #15288 closed, assigned to nobody

[2019-08-29 13:41] Lwackp opened #15313 "Missing data on product listing with custom search provider"
**Describe the bug**
I've developped a very simple search provider that returns 1 result when the user searchs for a very specific product reference. In my code example, the reference is a "Code Produit" (product code) and is data i'm storing in different table through a module.

[code]

When searching for an existing product reference then my search provider is used and returns 1 result. However,

[2019-08-29 13:50] #9907 closed, assigned to Progi1984

[2019-08-29 13:53] manel-roman commented on #9652
Sorry,

but it is not solved. I have followed all the instructions here and nothing.
I see you don't reproduce the error but you should understand lot of us have the same problem.

Maybe the problem is related with language beacuse some spanish users have this error. Just guessing.

Thanks anyway

[2019-08-29 14:13] azralth commented on #15288
Hi,

Found the solution.
In 1.7.6 we need to use the new actionCustomerFormBuilderModifier and synphony tools :

`	/**
	 * Update the admin customer form edit
	 * @param type $params
	 */
	public function hookActionCustomerFormBuilderModifier($params)
	{
		/** @var FormBuilderInterface $formBuilder */
		$formBuilder = $params['form_builder'];
		$formBuilder->add('expiration', DatePickerType::class

[2019-08-29 14:19] karilobre commented on #15295
Hi @khouloudbelguith, thank you for your help.

If I disable that option and select one level 1or 2 category the search doesnt show products, only show if I select level 3 categories, it happens maybe because the products are associated to the level 3 category, and that is not what I need. I just need to show in the filters the immediate next categories level, so I can search level 1 and filter by

[2019-08-29 14:27] templatin opened #15315 "Product Comments module displays incorrect details for product with accessories"
**Describe the bug**
If you have product accessories added to a product, then add comment modal displays the details of that accessory instead of product you are adding comment.

**To Reproduce**
1. Add product accessory (or Related product) to any main product.
2. Go to main product page and click on 'Write your review'.
3. Add comment displays details of product accessory instead of main product