[2018-10-20 10:21] musterdam commented on #9625
how long we should wait? its major bug, please fix it.
Use 1.7.4.3 not fixed...

[2018-10-20 16:28] jpyrat commented on #10998
Hi,

Found the source of the problem : opcache config.
With .user.ini, I've put :
[code]

And it works ! (at last)

[2018-10-20 23:33] 21let opened #11096 "Prestashop install Error sfRouter"
**Describe the bug**
You can not install Prestashop on OS Centos 7.

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 5.6.3

**Screenshots**

![image](https://user-images.githubusercontent.com/13964136/47261547-ae295d80-d4d1-11e8-984b-637c5e1603f1.png)

[2018-10-21 18:35] demeldoo opened #11097 "german translation bug- buy button with obligation to pay"
the button in german is kaufen, which is forbiden since 2012...please fix the translation for the buy button 1.6. versions affected

[2018-10-21 18:47] kris711 opened #11098 ".htaccess not up to date"
**Describe the bug**
/translation/cldr/ .htaccess is not updated as the others.
This  causes authentication errors in server logs which might be a problem if server is using fail2ban or sth similliar.

**To Reproduce**
Steps to reproduce the behavior:
1. Installation with Apache 2.4
2. Edit a Product
3. Check Serverlog

**Serverlog**
AH01630: client denied by server configuration: /changedbecausei

[2018-10-21 20:31] MathiasReker commented on #11098
It is already updated in 1.7.5.0

[2018-10-22 01:02] macavelli commented on #10998
Thanks jpyrat! Works fine in my case, too. In fact I found some other post with opcache settings, but it did not work. Yours work perfect!

[2018-10-22 04:53] esfahanweb opened #11099 "Webservice JSON body"
hi,

is there any idea about your web service interact with JSON?
I know that we can get output data as JSON with output_format=JSON but seems that can't post body as JSON

best regards

[2018-10-22 04:56] esfahanweb opened #11100 "webservice json body"
hi,

is there any idea about your web service interact with JSON?
I know that we can get output data as JSON with output_format=JSON but seems that can't post body as JSON

best regards

[2018-10-22 04:58] sedll7809 commented on #11073
hi khouloudbelguith
thanks
I have already open login page,I change php 7.1,but I input login mail and password to login,there has an
error :The employee does not exist, or the password provided is incorrect.

[2018-10-22 07:57] marionf opened #11101 "Drag & drop on migrated positions page doesn't looks like to the mockup"
**Describe the bug**

@TristanLDD made mockups for drag & drop in BO
We need to include it on migrated positions page

**Screenshots**

Currently it looks like this:

![capture d ecran_489](https://user-images.githubusercontent.com/13449658/47282808-e66b9180-d5e0-11e8-9d48-cfbc47098f2f.png)

Mockup https://zpl.io/aMvjjj7

![capture d ecran_490](https://user-images.githubusercontent.com/13449658/47

[2018-10-22 07:59] marionf opened #11102 "Drag & drop on migrated positions page doesn't looks like the mockup"
type : tech-issue

**Describe the bug**

@TristanLDD made mockups for drag & drop in BO
We need to include it on migrated positions page

**Screenshots**
Currently it looks like this:

![capture d ecran_489](https://user-images.githubusercontent.com/13449658/47282846-0bf89b00-d5e1-11e8-9be7-5b880cde5b53.png)

Mockup https://zpl.io/aMvjjj7

![capture d ecran_490](https://user-images.githubuserconte

[2018-10-22 08:09] khouloudbelguith commented on #10998
HI @jpyrat,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-22 08:09] #10998 closed, assigned to nobody

[2018-10-22 08:09] khouloudbelguith commented on #10998
HI @jpyrat,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-22 08:18] sedll7809 commented on #11073
hi khouloudbelguith
thanks
I can login my prestashop ,thanks

[2018-10-22 08:18] #11073 closed, assigned to nobody

[2018-10-22 08:35] matks commented on #10189
See https://github.com/PrestaShop/PrestaShop/pull/10774

[2018-10-22 08:46] tlhuillier commented on #11041
Edit:
I was wrong.
We didn't have the ability to remove the anchor, even using Link::getProductLink, but only hide IDs.

[2018-10-22 08:46] khouloudbelguith commented on #11090
Hi @klopp1892,

Did you try to import the "United Kingdom" pack from the Localization page?
Thanks!

[2018-10-22 08:52] khouloudbelguith commented on #11091
Hi @fre2004,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2018-10-22 09:02] khouloudbelguith commented on #11098
Hi @kris711,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10347 to solve the issue.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-22 09:02] #11098 closed, assigned to nobody

[2018-10-22 09:06] khouloudbelguith commented on #11098
Hi @kris711,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10347 to solve the issue.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-22 09:09] khouloudbelguith commented on #11097
Hi @demeldoo,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.
Thanks!

[2018-10-22 09:09] #11097 closed, assigned to nobody

[2018-10-22 09:10] khouloudbelguith commented on #11097
Hi @demeldoo,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.
Thanks!

[2018-10-22 09:14] khouloudbelguith commented on #11096
Hi @21let,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10696 to solve the issue.
I close the ticket, feel free to open a new one when needed.
Thanks!

[2018-10-22 09:14] #11096 closed, assigned to nobody

[2018-10-22 09:15] khouloudbelguith commented on #11096
Hi @21let,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10696 to solve the issue.
I close the ticket, feel free to open a new one when needed.
Thanks!

[2018-10-22 09:16] khouloudbelguith commented on #11096
Hi @21let,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10696 to solve the issue.
I close the ticket, feel free to open a new one when needed.
Thanks!

[2018-10-22 09:40] khouloudbelguith commented on #11098
Hi @kris711,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10347 to solve the issue.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-22 10:19] kodarco commented on #11014
The developer of the migration module (https://addons.prestashop.com/en/data-migration-backup/32298-prestashop-migrator-safely-upgrade-prestashop-to-17.html) has checked and said that it doesn't have anything to do with the migration. How come it imports 5 products just fine and always exactly 5 products? If it's something wrong with the database it wouldn't import products at all.

[2018-10-22 10:58] khouloudbelguith commented on #11099
Hi @esfahanweb,

Could you please confirm this steps to reproduce the issue?

- `api/product_options/?display=full&output_format=XML&depth=1 `: will generate the good XML, with a list of product_options and the association data filled.
- `api/product_options/?display=full&output_format=JSON&depth=1`: will generate a weird thing: seems like the array of product_options is full of empty elements, an

[2018-10-22 11:25] esfahanweb commented on #11099
the problem is about posting data to web service as JSON ie update a customer.

[2018-10-22 11:28] khouloudbelguith commented on #11097
Hi @demeldoo,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.
Thanks!

[2018-10-22 11:40] khouloudbelguith opened #11105 "In BO page Advanced Parameters / Performance, if we click twice on the Clear cache, user sees a 500 error page"
**Describe the bug**
In the Advanced Parameters / Performance, if we click twice on the Clear cache button => Error 500

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO =>  Advanced Parameters / Performance
2. Click on "Clear Cache" button 2 times
3. See error : Actual: Error 500

**Screenshots**
https://drive.google.com/file/d/1cJrW2c5kEbaDvKEbuZA7m74egEzV5UET/view

![66586071-4eb3d

[2018-10-22 11:56] #11101 closed, assigned to nobody

[2018-10-22 12:34] khouloudbelguith commented on #11099
@esfahanweb, could you please add steps to reproduce the issue in a new comment.
Thanks!

[2018-10-22 12:38] tpedaniel opened #11106 "1.6.1.22 Endless Spinning Product Save Button"
I am running prestashop for years, from v1.6.1.16. now I have 1.6.1.20 running by upgrade.
Here the problem I meet, when I edit products contents but the save button always spinning.
I had referenced some blogs and prestashop forum, then check the code file named feature.php.
It all not work. The problem is still borrowing me until now.

[2018-10-22 12:40] tpedaniel commented on #11106
update, the version now is 1.6.1.22

[2018-10-22 12:54] khouloudbelguith commented on #11096
Duplicate of #10696

[2018-10-22 12:55] khouloudbelguith commented on #11098
Duplicate of #10347

[2018-10-22 13:02] matks opened #11107 "Generated test directory at install step is not cleaned if github is down"
**Describe the bug**
When a PrestaShop 1.7.5+ is installed, the installer performs several checks to see whether it has been given the proper read&write rights. If these rights are available **and** the PrestaShop Zip archive is not the latest, it offers the user to download the latest Zip archive and install this one.

During these tests, fake files and folders are created. However [one of those

[2018-10-22 13:04] khouloudbelguith commented on #11106
Hi @tpedaniel,

There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-9042
It wasn't necessary to create a new one.
So, this one can be closed
Thanks!

[2018-10-22 13:04] #11106 closed, assigned to nobody

[2018-10-22 13:33] jolelievre commented on #11107
maybe you should have a list of candidate files to try to download, no super nice but it reduces the risk to fail the test (the chances that 5 files are not accessible is lower)

[2018-10-22 13:43] khouloudbelguith commented on #11100
Hi @esfahanweb,
So, this one can be closed
Thanks!

[2018-10-22 13:43] #11100 closed, assigned to nobody

[2018-10-22 13:43] khouloudbelguith commented on #11100
Duplicate of #11099

[2018-10-22 13:45] khouloudbelguith commented on #11014
Hi @kodarco,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-10-22 13:45] #11014 closed, assigned to nobody

[2018-10-22 13:47] khouloudbelguith commented on #11041
Hi, @tlhuillier,

So do you want to delete the IDs from the URL?
We are working on improving many of the outstanding SEO issues the community has been raising for some time.
 If you don't like having IDs at the start of the slug, you can change that on your back office so that they are at the end of the URL. Go to Shop Parameters > Traffic & Seo, scroll down the page to find the "Schema of URLs" s

[2018-10-22 13:48] khouloudbelguith commented on #11017
Hi @JirkaDeLucina,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-10-22 13:49] khouloudbelguith commented on #9625
Hi @musterdam,

Sorry for the delay.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-10-22 13:50] khouloudbelguith commented on #11073
Hi @sedll7809,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-10-22 14:18] JavierEB commented on #15199
hi mate, thanks in advance, you can explain how I should do that procedure since I have never done it .... Thanks

[2018-10-22 15:19] javierVP opened #11108 "Error imprimir pedido"
Adjunto imagen de como se me imprime el pedido, ¿
![captura de pantalla 2018-10-22 a las 17 19 31](https://user-images.githubusercontent.com/42347565/47301208-acb97b80-d61e-11e8-8dbe-c69d7ae9cfd9.png)
me podrian decir donde se puede solucionar esto?

[2018-10-22 15:38] khouloudbelguith commented on #11108
Hi @javierVP,

Here's the PR: #10135 to solve the issue.
Your ticket is a duplicate of #9527
So, I close it.
Thanks!

[2018-10-22 15:38] #11108 closed, assigned to nobody

[2018-10-22 15:38] khouloudbelguith commented on #11108
Duplicate of #9527

[2018-10-22 15:43] mbadrani opened #11109 "Error code 500 when trying to access on Advanced Parameters>Webservice page"
**Describe the bug**
Trying a simple access on Webservice page through an error page (code 500)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced Parameters > webservice'
2. See error (as capture below)

**Screenshots**
![selection_404](https://user-images.githubusercontent.com/29543279/47302361-9c56d000-d621-11e8-8139-4dfd8335cb42.png)

**Additionnal information**
PrestaShop v

[2018-10-22 15:52] khouloudbelguith commented on #11109
If we enable the debug mode
![image](https://user-images.githubusercontent.com/16067358/47303003-323f2a80-d623-11e8-98a4-d0e6447c8632.png)
Thanks!

[2018-10-22 16:01] marionf opened #11110 "Composer install when installing"
**Describe the bug**
Install PrestaShop and it will ask you do a composer install during installation

**Screenshots**

![capture d ecran_492](https://user-images.githubusercontent.com/13449658/47303566-88609d80-d624-11e8-820a-88d2d89dc2de.png)

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-10-22 16:04] marionf opened #11112 "Issue with help in BO with an RTL language"
**Describe the bug**
The help box is open when you arrive on a symfony page in RTL

**To Reproduce**
Steps to reproduce the behavior:
1. Install Prestashop in Arabic
2. Open a symfony page
3. The halp is open while it shouldn't

**Screenshots**

![capture d ecran_496](https://user-images.githubusercontent.com/13449658/47303708-f3aa6f80-d624-11e8-92f9-a77ed6c277c6.png)

**Additionnal information**

[2018-10-22 16:08] #10319 closed, assigned to jolelievre

[2018-10-22 16:20] javierVP commented on #11108
Gracias Thanks!!

[2018-10-22 16:55] Josh979 commented on #9992
Can you please make this a higher priority? This is a core feature that most people who use prestashop need to function properly...

[2018-10-22 17:10] rdy4ever commented on #9997
Any news here? Just tested it with wirecard module and yes - no matter the payment status, the message is always OK. Eaven worse, the e-mail sent to the customer is "order confirmation" instead of "payment error".
This is a major bug.

[2018-10-22 17:22] rmalla commented on #9992
Agree

On Mon, Oct 22, 2018, 12:59 PM Josh <notifications@github.com> wrote:

[2018-10-22 18:50] ghost commented on #11090
Yeah, I tried to import the states from the Localization page but no impact (tried for about 10 times).

I really don't know why it's not working but let me activate the debugger, check the error logs and see if I get something.

[2018-10-22 21:32] TecnoHands opened #11113 "BUG in CACHE SMARTY presta 1.7.4.3 !!!!"
**Describe the bug**
When I active cache smarty, In BO, in filesystem, the flags information (Out of stock) dont change properly, Only dissapear when clear cache files or force the update of template.

**To Reproduce**
Steps to reproduce the behavior:
1. Active cache in BO
2. Set FILESYSTEM and clear cache everytime some has modifyed
3. Add a product with only 1qty in stock
4. Add this item to car

[2018-10-23 02:17] Leous88 opened #11114 "FATAL ERROR IN PRESTA 1.7.4.3 PAY DONT WORK"
**Describe the bug**
PAY OPTIONS DONT WORK
ANY OPTION WORK

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version: 7

[2018-10-23 04:09] esfahanweb commented on #11099
look at this, please
https://www.prestashop.com/forums/topic/602449-aporte-webservice-prestashop-16-json-request-post-y-put/

[2018-10-23 07:30] marionf commented on #11088
@khouloudbelguith

"Use the last registered format" works for the same country, not if you create a new one.

For example:
- Create a country with format:
firstname
company
vat_number
address1
Country:name
- Save
- Edit the created country
remove address1
- Click on "Use the last registered format"
"address 1" is back

[2018-10-23 07:30] #11088 closed, assigned to nobody

[2018-10-23 07:49] bm-services opened #11115 "Duplicate order reference for different order 2/2"
For the second time we have a duplicate reference for two different orders, the first time both orders were created at the very same time, the second time the orders were created with 1 second difference.

**Describe the bug**
A clear and concise description of what the bug is.

So far it happened twice within a month or so, with hundreds of orders created just fine. We are unable to find out why

[2018-10-23 07:54] centoasa opened #11116 "Reader feature"
Prestashop 1.7.4.3
Apache+nginx
php 7.2.11
https://www.useloom.com/share/8bc7a663932044af87b511ff1e0bb05a
as you can see on my video, if a customer can apply reorder feature, when last your order was shipped, reader button jump it to homepage; on other order state, red alert on top inform customer your order cannot be done.
Strange behaviour.

[2018-10-23 08:02] camlafit opened #11117 "PrestashopCollection and join method"
**Describe the bug**
PrestshopCollection::join() can't do any association. In any case raise an exception

**To Reproduce**

Write any code as this :
[code]

Behavior waits is :
`SELECT * FROM `ps_order_cart_rule` a1 LEFT JOIN `ps_orders` `a0` ON (a1.`id_order` = a0.`id_order`) `
Actual Result :
Error 500 with  Association Order not found for class OrderCartRule at line 541 in file classes/PrestaS

[2018-10-23 08:22] dennispw opened #11119 "theme.yml, dependencies & overrides"
**Is your feature request related to a problem? Please describe.**
Having the option to require module dependencies in the `theme.yml` is great. It's quick and easy to setup and it works pretty good.

However, in some cases a custom theme may need a few slight module overrides in order to achieve whatever it is it's trying to achieve. A new hook, another field or whatever it may be. It's very easy

[2018-10-23 08:31] khouloudbelguith commented on #11115
Hi @bm-services,

I did not manage to reproduce the issue with the last version 1.7.4.3.
I have different orders created in the very close date_add
I attached a screenshot.
![image](https://user-images.githubusercontent.com/16067358/47346964-8c390200-d6ae-11e8-85f6-bc5fac51d475.png)
Thanks to check & feedback.

[2018-10-23 08:39] khouloudbelguith commented on #11114
Hi @Leous88,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2018-10-23 08:45] marionf commented on #9883
I can't reproduce this issue on 1.7.5.0

[2018-10-23 08:45] #9883 closed, assigned to nobody

[2018-10-23 08:47] khouloudbelguith commented on #11116
Hi @centoasa,

I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1B70VCyFULkbKlox_Z9DuDAdTdaWF5RA7/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-10-23 09:04] khouloudbelguith commented on #11113
Hi @TecnoHands,

As it's not the default theme, provided by Prestashop, we can't do anything with this before the feedback of the theme author.
You should contact the theme author via your addons.prestashop.com account.
Thanks to check with them the issue & feedback.

[2018-10-23 09:18] LouToma opened #11121 "[WIP] Module Manager : get Addons modules in the page even if not Installed (1.7.6)"
**Describe the bug**
A clear and concise description of what the bug is.
When connected to Addons account, my modules appear in Module Catalog. They must appear in Module Manager (sorted in Addons categories), even if they are not installed yet.
The default CTA will be "install" if module is not installed.

**To Reproduce**
Connect to Addons account that has modules in it (Kamel can give the acces

[2018-10-23 09:21] khouloudbelguith commented on #11117
Hi @camlafit,

Have you the same issue with the last version 1.7.4.3?
Where can I put the code that you provided to us?

Thanks!

[2018-10-23 09:24] centoasa commented on #11116
debug mode and php error log not show any error.
It's strange: order I can try to reorder, in the origin have item A, instead when I try to reader, cart show me item B
Maybe this reorder feature related with old shopping carts? Because I've deleted all old shopping cart.

[2018-10-23 09:28] azerttyu commented on #11117
Hello

I don't use 1.7.x then I can't test it. I don't know if PrestashopCollection is used again in last version. But if you provide a test instance I can test my module (where I use this behavior) and check it

[2018-10-23 09:29] camlafit commented on #11117
Hello

I don't use 1.7.x then I can't test it. I don't know if PrestashopCollection is used again in last version. But if you provide a test instance I can test my module (where I use this behavior) and check it

[2018-10-23 09:34] khouloudbelguith commented on #11117
Hi @camlafit,

Could you please provide me your custome module to test it with PS1.7.4.3.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks

[2018-10-23 09:42] khouloudbelguith commented on #11116
Hi @centoasa,

Yes, that's exactly the issue, you have deleted carts manually from the database.
After truncating the ps_cart table options you need to set the "AUTO_INCREMENT"= 1101( = last-id-cart+1) and save, then the id of the next cart created will be 1001.
Thanks to check & feedback.

[2018-10-23 09:44] khouloudbelguith commented on #9490
Hi xavigib,

Sorry for the delay.
Do you still have the same issue?
Thanks!

[2018-10-23 09:45] centoasa commented on #11116
and that's exactly what I did when I truncated the ps_cart table.
And now I've understand this issue: the cart related with old order no longer exists!
Is there a way to rebuild all orders-->carts?

[2018-10-23 09:53] khouloudbelguith commented on #11119
Hi @dennispw,

Have you an issue similar to this ticket: #9941?
Thanks!

[2018-10-23 09:55] khouloudbelguith commented on #11116
@centoasa, did you set the AUTO_INCREMENT in the ps_cart table options?

[2018-10-23 10:01] centoasa commented on #11116
yes, it's done!
but I've imported old order from 1.6, and for sure I've truncated ps-cart table and set auto_increment to last order number on 1.7
So now: ps_cart start from 2067 to 2132
Orders start from 10 to 2082

[2018-10-23 10:07] LouToma opened #11124 "Module Manager : Built in modules are not sorted out in Addons categories"
**Describe the bug**
On Module Manager page, some built in modules are well sorted in Addons categories (because the Addons product sheet is active) though most of them are sorted in "Built-in module" category. This category should not appear anymore in Module manager and all modules (even built in modules) must be sorted in Addons categories. Renaud changed Addons API so that Addons categories ar

[2018-10-23 10:11] khouloudbelguith commented on #11090
Hi @klopp1892,

Yeah, after importing the Uk pack, there are no states created for this country.
But you can follow this link: https://addons.prestashop.com/en/shipping-carriers/20777-uk-counties-pack.html to add zones and states (counties) for the UK
Thanks to check & feedback.

[2018-10-23 10:18] khouloudbelguith commented on #11116
Hi @centoasa, so you need set the "AUTO_INCREMENT"= 2133: last id_cart.

[2018-10-23 10:23] RomSunZ opened #11125 "Please add hook to presenters"
It is impossible to override new classes that are implementing PresenterInterface. But sometime it is necessary to add or edit presented information. It is can be easily done with one line of code before the end of public function present($object):

[2018-10-23 10:38] camlafit commented on #11117
Hello

Thanks a lot, archive send by mail.

[2018-10-23 10:43] #11109 closed, assigned to nobody

[2018-10-23 10:45] skacco commented on #9664
is there any fix for this problem?

[2018-10-23 10:48] khouloudbelguith commented on #9664
Hi @skacco,

Sorry not yet.
Thanks for your understanding.

[2018-10-23 10:49] marionf commented on #11121
You mean Module Catalog ? Module Selection is the iframe page:

![capture d ecran_498](https://user-images.githubusercontent.com/13449658/47355569-01fa9900-d6c2-11e8-813a-c812b02450bb.png)

You mean Module Manager ? They already appear in Module Catalog

[2018-10-23 10:49] khouloudbelguith commented on #11117
Hi @camlafit,

I just received the email.
I will check & feedback.
Thanks!

[2018-10-23 11:06] Maofree opened #11126 "show errors from hookActionProductUpdate"
Hi
how is possible to show/return an error from hookActionProductUpdate of a module?
I've tested
return array('error' => 'some error text');
but not work
with
$this->context->controller->errors[] = $this->l('Some descriptions are not correct');
is the same, nothing is shown in a red popup of the admin product page

in the 1.6.x I used this solution
$this->context->controller->errors[] = $this->l('

[2018-10-23 11:14] wojcin1 commented on #10920
???

[2018-10-23 11:19] febestore commented on #10739
Hi,
I don't understand how it should fix my issue?
Can You be more specific? What should I do?

Thanks

[2018-10-23 11:26] AndreyOgleznev opened #11127 "incorrect shipping cost calculation when paying with PayPal"
![2018-10-23 13-37-48 andre s shop](https://user-images.githubusercontent.com/11665990/47357102-89e6a000-d6ce-11e8-894f-9ef471709112.png)
![2018-10-23 13-37-19 paypal - -](https://user-images.githubusercontent.com/11665990/47357112-92d77180-d6ce-11e8-9e31-764bfcd77010.png)
My PayPal configuration
![2018-10-23 14-20-52 modules services andre s shop](https://user-images.githubusercontent.com/1166599

[2018-10-23 11:32] khouloudbelguith commented on #10739
Hi @febestore,

The issue #9688 is not fixed yet.
It should be specified by our developers, the problem IS that the Default carrier not really set in FO.
Thanks!

[2018-10-23 11:37] khouloudbelguith commented on #11127
Hi @AndreyOgleznev,

Have you tried to contact the Paypal module author about this issue?
You can contact the developer of this module here: https://www.202-ecommerce.com/en/partners-modules/technical-support/
Thanks to check & feedback.

[2018-10-23 11:43] khouloudbelguith commented on #11117
Hi @camlafit,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
if your bug isn’t critical or a security issue, it can not be fixed.
We need to check if that error exists for the 1.7, so we can add your fix to the 1.7 version.
But your module is not compatible

[2018-10-23 11:44] marionf commented on #11121
What is the default button when the module isn't installed ? I supposed install ?

And what happens if I uninstall a module in module manager page ? Currently the module doesn't appear anymore in module manager page and appear in module catalog page, should we keep this behavior ?

Also, currently we can filter by status: enabled modules & disabled modules, maybe it should be good to add installed

[2018-10-23 11:50] khouloudbelguith commented on #11126
Hi @maofree,

Did you use it in the __construct() function?
Thanks!

[2018-10-23 11:52] Maofree commented on #11126
no

![1](https://user-images.githubusercontent.com/653230/47358718-e051df80-d6ca-11e8-8f9a-3a38e3bb5780.png)

[2018-10-23 12:00] khouloudbelguith commented on #11126
@maofree, you can use this method: `$this->context->controller->errors[] =Tools::displayError('Somme tiltles') `
You can follow this [link](http://build.prestashop.com/news/new-translation-system-prestashop-17/#calling-symfonys-translator) to get New Translation System For PrestaShop 1.7.

[2018-10-23 12:04] Maofree commented on #11126
hi
tested now
it doesn't work inside hookActionProductUpdate
try to add this hook inside a module

[2018-10-23 12:06] khouloudbelguith commented on #10920
Hi @wojcin1,

Did you use the The Gift Card	Module ?
Thanks!

[2018-10-23 12:17] matks commented on #11110
After performing a code analysis, I can state that:
- this warning comes from Symfony `var/SymfonyRequirements`
- to check whether this warning should be displayed, `var/SymfonyRequirements` compares its own file content with the one from `vendor/sensio/distribution-bundle/Resources/skeleton/app/SymfonyRequirements.php`, if they differ the message is displayed
- this is consequently a failed warni

[2018-10-23 12:21] matks commented on #11125
Hi @RomSunZ, you are right, we should make PrestaShop "as hookable as possible" to ensure a great flexibility and extensibility.

Do you refer to `PrestaShop\PrestaShop\Adapter\Presenter\PresenterInterface` ? Then the classes you talk about are, for example, `CartPresenter`, `ModulePresenter` ?

[2018-10-23 12:51] camlafit commented on #11117
Hello

This bug looks more critical than some bugfixes published in last 1.6.x releases.
As 1.6 support has been extended I propose a patch related to a real bug.

As yet said I don't/can't use 1.7 version maybe you can change compliant version to test module.

[2018-10-23 13:04] khouloudbelguith commented on #11117
Hi @camlafit,

In the wb_exporterorder.php file, I updated the version compatibility:  `$this->ps_versions_compliancy = array('min' => '1.6', 'max' => '1.7.4.3');`
But, I did not manage to upload this module
![image](https://user-images.githubusercontent.com/16067358/47362550-ebaa0880-d6d4-11e8-9483-efee9d580480.png)
Thanks!

[2018-10-23 13:14] dennispw commented on #11119
@khouloudbelguith No. I'm not having an issue I'm just wondering if we can have the same possibilities with overrides as we do with module dependencies.

Thas is if we have an override för a controller or a module that we can specify that in the theme.yml and that those are applied with the installation/activation of the theme.

[2018-10-23 13:23] khouloudbelguith commented on #11126
Hi @maofree,

Could you please provide me a module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2018-10-23 13:24] dennispw commented on #10993
@khouloudbelguith @marionf Any update on this? I would like to know what you are planning to do here because if this behaviour is here to stay I will have to make some sort of override for future builds since it's not optimal at all in it's current state.

[2018-10-23 13:24] khouloudbelguith commented on #11119
Hi @dennispw, thanks for your feedback.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think of his suggestion?
Thanks!

[2018-10-23 13:26] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

Despite our several trials, we could not reproduce your issue with the provided information.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-10-23 13:29] khouloudbelguith commented on #10993
Hi @dennispw,

Sorry not yet.
It should be specified by our developers.
Thanks!

[2018-10-23 14:23] khouloudbelguith commented on #11099
Hi @esfahanweb,

I applied the changes provided by Victor.
I attached a video record.
https://drive.google.com/file/d/1ZZqhgmQET3kyxlW7HbsWfcrojOgrwsXD/view
In the database, I have all my customers
![image](https://user-images.githubusercontent.com/16067358/47367740-98d64e00-d6e0-11e8-8816-64b6759ceb9d.png)

Thanks to check & feedback.

[2018-10-23 14:42] khouloudbelguith commented on #11126
@maofree,

I put incorrect title, description & video code, but always the "Settings updated" is displayed.
![image](https://user-images.githubusercontent.com/16067358/47368774-8b21c800-d6e2-11e8-8175-2fe2c59205c5.png)
What kind of data do I need to put to have errors?
Thanks to check & feedback.

[2018-10-23 14:48] Maofree commented on #11126
it is necessary to go in maofreevideo.php in the hookActionProductUpdate section
and add a row at line 814 like this
$this->context->controller->errors[] = $this->l('Some descriptions are not correct');

but you will continue to get positive alert, these errors will not seen

[2018-10-23 15:46] khouloudbelguith commented on #11117
Hi @marionf, what do you think of this issue?
The issue occurs in the 1.6 & @camlafit can't test the module with 1.7.
He create a PR: https://github.com/PrestaShop/PrestaShop/pull/11120 to fix the issue.
Thanks!

[2018-10-23 15:55] MatShir commented on #11019
Hi @cmroanirgo,

Thank for your feedback, we are currently reworking on the currencies management and display (CLDR). We are taking into account your comment. Don't hesitate to share more information related to this topic.

Thanks
Mateus

[2018-10-23 16:08] matks commented on #11080
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/11095

[2018-10-23 16:29] LouToma commented on #10048
Take order of last comment please

[2018-10-23 16:30] LouToma commented on #10048
I would prefer Theme Modules does not appear if empty (I think I asked Pierre to do it) in the select

[2018-10-23 16:44] khouloudbelguith commented on #9489
Hi @jointsystems,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-23 16:44] #9489 closed, assigned to nobody

[2018-10-23 16:45] khouloudbelguith commented on #10642
Hi @musicpanda

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-23 16:45] #10642 closed, assigned to nobody

[2018-10-23 16:45] khouloudbelguith commented on #10354
Hi @laurentvannereau

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-23 16:45] #10354 closed, assigned to nobody

[2018-10-23 16:46] khouloudbelguith commented on #10654
Hi @dalyl0x0,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-23 16:46] #10654 closed, assigned to nobody

[2018-10-23 19:55] dalyl0x0 commented on #10654
Yes, I solved the problem by removing the Paypal module and it works now

[2018-10-23 20:53] FVolral opened #11129 "/src/Core/Cldr/Composer/Hook.php: What 'cd -' is supposed to do ?"
**Describe the bug**
In `/src/Core/Cldr/Composer/Hook.php`. There is the line:
`exec("cd $cldrFolder && unzip -oqq $cldrFilePath -d .. && cd -");`

`cd -` Works for linux but not for Windows.

**Additionnal information**
PrestaShop version: 1.7.0
PHP version: 7.2 x86
Windows 7 SP1 64bit

[2018-10-23 22:06] Maofree opened #11130 "Problems in the admin side on the bottom toolbar of product pages under 1039px"
Hi
if you go in a product page in the back office
try to resize the borwser's width under 1039px you will see the the bottom toolbar will not be full size
it should have ad width of 100% because the lateral menu is not visible

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/47393476-e625e000-d71f-11e8-89e3-d41d0a45de89.png)
![2](https://user-images.githubusercontent.com/6532

[2018-10-23 23:29] GuimDotCom commented on #11029
Hi @khouloudbelguith,
I have logged PHP error and activated debug mode but there is no error...
(Except classic errors like:
[Tue Oct 23 17:14:38.144577 2018] [ssl:error] [pid 21296] AH02032: Hostname w provided via SNI and hostname www.diffuseurs-dessentielles.com provided via HTTP have no compatible SSL setup
[Tue Oct 23 17:15:04.225365 2018] [ssl:error] [pid 21286] AH02032: Hostname w provided

[2018-10-24 05:47] dineshbadrukhiya commented on #11130
Hello, @maofree
This is bug in PrestaShop. To fix it Go to: **admin folder > themes > new-theme > public > theme.css**
At line 364, add below css.
` .page-sidebar-closed .product-page .product-footer{left: 3.125rem;}`

[2018-10-24 06:08] centoasa commented on #11116
The problem is that inside ps_cart all the orders are missing from10 to 2066
This is why the reorder function does not work. Is there a chance to re-enter them, or is it enough for me to add them by hand?
If so, how?

[2018-10-24 06:16] RomSunZ commented on #9620
Here is quick fix. Put it inside custom.js
[code]

[2018-10-24 06:22] RomSunZ commented on #11125
Yes, about that classes.

[2018-10-24 06:56] RomSunZ opened #11134 "Need to change id_order to GUID/UUID"
Please replace id_order in every links (customer history and so on) to GUID/UUID for sequrity reasons. Customer must not be shown easily guessable autoincreament integers.

---
#### Is your feature request related to a problem?
Customer must not be shown easily guessable autoincreament integers.

In the FO => Home / Your account / Order history / Order details
The URL displayed http://xxxxx/en/ind

[2018-10-24 07:17] marionf commented on #11117
@eternoendless do you think this bug is critical for 1.6 ?
We need to know if this bug happens also in 1.7 if you can take a look ?

[2018-10-24 07:40] cgascard commented on #10995
Yes the debug is enable but i haven't got exception display.
I tried to install the theme on a clean prestashop, the problem doesn't come of there.
Then, I imported again the countries and states. Also I desinstalled whith delete and reinstalled the "check bank" and "tranfer bank" modules. the bug continue....

[2018-10-24 08:00] matks commented on #11033
Ping @Quetzacoalt91 do you know why do we need this hook.xml file for Symfony hooks ? what is the difference between legacy hooks and SF hooks ? I am sorry I do not get it

[2018-10-24 08:12] tomlev commented on #10430
for the record:
the label on the input type=file button is translated by the browser

[2018-10-24 08:13] khouloudbelguith commented on #11134
Hi @RomSunZ,

In the FO => Home / Your account / Order history / Order details
The URL displayed http://xxxxx/en/index.php?controller=order-detail&id_order=5 ( Friendly URL is enabled) ( id_order is displayed in the URL)
![image](https://user-images.githubusercontent.com/16067358/47416000-07fd8200-d775-11e8-8da7-ae04d95b63aa.png)
In the 1.6, Order details is displayed at the bottom of the page, un

[2018-10-24 08:15] cgascard commented on #10995
Hi again,
I disabled debug mode and country payment restrictions work!
So, there is probably a problem with this function, but there's no error message on the BO or in the server logs.

[2018-10-24 08:18] khouloudbelguith commented on #11130
Hi @dbadrukhiya,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-10-24 08:23] Quetzacoalt91 commented on #11124
In progress with #11070

[2018-10-24 08:26] dineshbadrukhiya commented on #11130
Hello, @khouloudbelguith

I want to open pull request on my code suggestion but right now I have already opened one pull request https://github.com/PrestaShop/PrestaShop/pull/11133 and I don't know how to open new pull request and manage both the commits at same time on Github desktop. Can you help me for the same?

Thanks.

[2018-10-24 08:30] khouloudbelguith commented on #11130
Hi @dbadrukhiya,

You need to create another branch "fix-11130" for example, you should make changes on this branch then you can create a new PR.
Thanks!

[2018-10-24 08:31] dineshbadrukhiya commented on #11130
Hi @khouloudbelguith
Thanks for quick reply. I will try it.

[2018-10-24 08:36] RomSunZ commented on #11134
I think that every FO page where are links to any order should be replaced to GUID, not only Order history / Order details, but for example checkout page for order confirmation. This is more complex problem than just order history page.

[2018-10-24 08:37] Werbike commented on #10914
It's still not working... http://prntscr.com/l9saz0 still only loading...
We need to upload some Modules and still we can't...

[2018-10-24 08:45] dbadrukhiya commented on #11130
Hello @khouloudbelguith ,
 I have created new branck on Github Desktop dineshbadrukhiya. After making changes tried to open new pull request but not able to open new pull request. Can you help me?

![github](https://user-images.githubusercontent.com/40850057/47418183-3c823580-d797-11e8-8843-33b5a50895f0.png)

[2018-10-24 08:59] khouloudbelguith commented on #11129
Hi @FVolral,

No, cd works also in Windows.
![image](https://user-images.githubusercontent.com/16067358/47419023-9c6ae300-d77b-11e8-9f1a-97382fafbf15.png)
Also, you can follow this [forum](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/cd)
Thanks to check & feedback.

PS: PR: https://github.com/PrestaShop/PrestaShop/pull/8719

[2018-10-24 09:13] matks commented on #10578
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10816

[2018-10-24 09:15] khouloudbelguith commented on #10914
@Werbike, if you enable the debug mode, is there any exception displayed?

[2018-10-24 09:18] khouloudbelguith commented on #10995
Hi @cgascard,

If you use the default theme provide by Prestashop & the debug mode is enabled, the bug continue?
Thanks!

[2018-10-24 09:40] khouloudbelguith commented on #9620
Hi @RomSunZ,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-10-24 09:45] #10578 closed, assigned to sarjon

[2018-10-24 09:48] khouloudbelguith commented on #11116
@centoasa, yes you need to create it manually, if you are a developer you can create a script to insert data into the database.
Thanks!

[2018-10-24 10:02] tpedaniel commented on #11106
I tried following to config on backoffice panel as khouloudbelguith proposed to me.
It has worked on that moment. But next day I would edit the products content on my site, the problem is still there.
Is there any solutions what I could use?

[2018-10-24 10:06] khouloudbelguith commented on #11106
Hi @tpedaniel,

Sorry, the issue is not fixed yet.
You need to follow this [ticket](http://forge.prestashop.com/browse/PSCSX-9042)
Thanks!

[2018-10-24 10:17] khouloudbelguith opened #11141 "After the redirection to the home page, the language by default is changed from es to en"
**Describe the bug**
After the redirection to the home page from the product page, the language by default is changed from es to en

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install 1750 build1 beta2 (English language / french country)
2. Go to BO => International => Localization => Import the Spain pack
3. Go to the FO
4. Change the language to "es"
5. Go to a product page
6. Cl

[2018-10-24 10:49] khouloudbelguith commented on #11029
Hi @GuimDotCom,

The SSL mode is enabled in your BO => Shop Parameters => General?
Thanks!

[2018-10-24 10:54] RomSunZ commented on #9620
I can do it, but I am not familiar with github. Can you explain what is wrong with my previous pull request https://github.com/PrestaShop/PrestaShop/pull/9329?

[2018-10-24 11:04] khouloudbelguith commented on #9620
Your PR: #9329 should be reviewed by our developers & validated by our QA first.
Thanks

[2018-10-24 12:34] matks commented on #10193
Waiting for https://github.com/PrestaShop/PrestaShop/pull/10408 before doing the 2nd PR

[2018-10-24 12:35] Werbike commented on #10914
Nothing change. Even when i'm puhing Add Module, url is starting loading but nothing happend
http://prntscr.com/l9vtro
Here's SS from Symfony http://prntscr.com/l9vueg

[2018-10-24 12:59] eternoendless commented on #11117
Hi @camlafit

This is not a bug per se, but rather you seem to be trying to use an unsupported feature of an undocumented class. Basically, the `OrderCartRule` model has no declared association with the `Order` model, so it will never be able to infer it on its own.

My advice is to try and avoid `PrestaShopCollection` it altogether. The whole ObjectModel stack is being deprecated in 1.7 and will

[2018-10-24 12:59] #11117 closed, assigned to nobody

[2018-10-24 13:03] marionf opened #11142 "Error during upgrade 1.7.4.3 -> 1.7.5.0 beta 1 build 2"
**Describe the bug**
Error during upgrade 1.7.4.3 -> 1.7.5.0 beta 1 build 2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Autoupgrade
2. Make the upgrade with the archive of 1.7.5.0 beta 1 build 2
3. See error

**Screenshots**

![capture d ecran_511](https://user-images.githubusercontent.com/13449658/47432190-dd73ef00-d79d-11e8-9ccc-388c63ff1f98.png)

![capture d ecran_512]

[2018-10-24 13:16] tpedaniel commented on #11106
hi, khouloudbelguith;

Thanks your comments.

[2018-10-24 13:20] gdebusigne opened #11143 ""Transplant a module" return error 500 after an Anvanto theme installation"
**Describe the bug**
Hello,

We setup a Prestashop from official docker image and everything works well.

If we install a theme from Avanto (lemanoosh or another), and we try to use the "Transplant a module" functionality  we got an error 500 (front and back goes offline).

On server side when we click on "transplant a module" and we do a TCPDUMP in the same time, the packet capture shows that the

[2018-10-24 13:45] ghost opened #11144 "Remove meta keywords from Prestashop - they are deprecated"
In Traffic & SEO > SEO & URLs, we need to add an option in the SEO options block to allow the merchant to enable or disable metakeywords fields in every page where this field exists :
- product page
- category page
- cms page
- brands page
- suppliers page

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Initial i

[2018-10-24 14:16] AndreyOgleznev commented on #11127
Hi,
OK, I've sent the same request over there, looking forward for the answer.

[2018-10-24 14:23] khouloudbelguith commented on #11143
Hi @gdebusigne,

We need to retrieve the PHP error log in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-24 14:25] khouloudbelguith commented on #11127
Hi @AndreyOgleznev,

Thanks!
Waiting for the feedback.

[2018-10-24 14:27] DavidEschmeyer opened #11145 "if your back office email is capitalized but your email on profile.prestashop.com is not, the back office takes a full minute to finish loading"
**Describe the bug**
1.7
if your back office email is capitalized but your email on profile.prestashop.com is not or vice versa, the back office takes a full minute to finish loading

http://profile.prestashop.com/support-usa%40prestashop.com.jpg
vs
http://profile.prestashop.com/Support-usa%40prestashop.com.jpg

**To Reproduce**
Steps to reproduce the behavior:
1. if your picture on prestashop is

[2018-10-24 14:55] khouloudbelguith commented on #11145
Hi @dave-ps,

Same issue with PS 1750beta1build2.
1- Back office email is capitalized but the email on profile.prestashop.com is not
https://drive.google.com/file/d/1YElWF-OBNdpHl_OCLmNnWpRyfMytZs8j/view
2- Back office email is the same email on profile.prestashop.com
https://drive.google.com/file/d/1Tx_HGVIC4JoxbwU1sC--Ux0rFbdM9vBG/view

Thanks!

[2018-10-24 15:14] khouloudbelguith opened #11146 "Transplant a module doesn't work"
**Describe the bug**
When we try to transplant a module "Banner" par example, clicking on "save" button has no affects => it just refresh the Positions page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Positions
2. Click on 'Transplant a module' => you are redirected to a "TRANSPLANT A MODULE" page
3. Select the Banner module
4. Transplant to "displayLeftColumnProdu

[2018-10-24 15:41] khouloudbelguith commented on #11144
Hi @PrestaShark,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2018-10-24 15:42] eternoendless commented on #11142
Wdyt @Quetzacoalt91 ? It looks like it's using an old file to invoke a new one

[2018-10-24 15:52] Quetzacoalt91 commented on #11142
Yep, some class construction got their definition updated, and the symfony container is not aware of it because of the prod mode.

The cache needs to be cleared.

[2018-10-24 15:57] khouloudbelguith commented on #10914
Hi @Werbike,

So, you are not able to upload a module? clicking on the upload module butoon=> you are on the same page?
Thanks!

[2018-10-24 16:57] khouloudbelguith commented on #11126
Hi @maofree,

In your module hookActionProductUpdate not working.
I tried with `die();`

[code]

When I update a product => Settings updated is always displayed.
Thanks to check & feedback.

[2018-10-24 17:11] Rolige commented on #11126
Hi @maofree @khouloudbelguith,

I must said that is not possible change the message in the danger/success alert, in this architecture there is no hook or way to do that, in fact, it’s a generic error, you will never see a different message, of course at least you translate it from the translations tab.
There is one way to create a error message in the session and this will be displayed in the next

[2018-10-24 17:34] Maofree commented on #11126
hi @khouloudbelguith
reflect on it, it is not due from the module, because the problem is limited only on the hookActionProductUpdate. You can remove all code inside it and add just this row to see if it works

file_put_contents(dirname(__FILE__).'/test.txt', 'aaaaaa');

this editor remove the underscore near FILE

then push on the save button and you will get a file inside the module with aaaaaa

[2018-10-24 19:12] Rolige commented on #11144
I think that this CAN’T be removed yet, the reason, all the SEO softwares (MOZ, SEMrush, etc.) still incorporating it in their ranks and reports.

[2018-10-24 19:57] ghost commented on #11144
Hi. Ok this is reason. I found article on SEMrush blog
https://www.semrush.com/blog/the-myths-behind-meta-keywords/

"In essence, nothing. Google ignores them, as does Yahoo. Bing looks at them, but not as a ranking signal. Bing reads the META Keywords tag as a spam signal. If your site uses the tag, but the keywords contained within it do not appear in your document, your site will be penalized."

[2018-10-24 20:19] Rolige commented on #11144
I completely agree with you, meta keywords are no longer important to most of search engines, the question is, why are the most important SEO platforms still maintaining this in their analysis?, following this logic, it might be prudent to wait until they disappear completely, because I don’t think that using meta keywords now can affect in a site. That is just my view point!

[2018-10-25 00:18] jancinert opened #11148 "Cart summary - total price not updated upon cart quantity change"
**To Reproduce**
1. Install prestashop 1.6.1.20
2. Make following settings in Back Office:
- Administration -> Localization -> VAT -> Display tax in the shopping cart (YES)
- Administration -> Customers -> Groups -> Customer, Visitor or Guest atc -> Price display method -> Tax excluded
2. Go to frontend and add product demo_2 to cart
3. Go to cart summary page
4. Change quantity of the product to

[2018-10-25 00:20] jancinert commented on #11148
It is because of duplicate id attribute in two div nodes in html
And cart-summary.js javascript using jQuery updates only a first one (row named "Total (VAT excl.)).

[2018-10-25 07:47] Werbike commented on #10914
Yes, nothing change, I'm on this same site. With "Connect with Addons Marketplace" button is the same, nothing change..

[2018-10-25 08:27] khouloudbelguith commented on #11148
Hi @jancinert,

I manage to reproduce the issue with PS 1.6.1.20.
https://drive.google.com/file/d/1h3YFgY0SNY3EBnbG6hFMwwLI8i0LUZFd/view
The issue doesn't exist in the 1.7.
Here's the fix for the 1.6: #11149
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
if y

[2018-10-25 08:37] jolelievre opened #11150 "Rollback the product canonical url"
**Describe the bug.**
We need to rollback a modification we made for product canonical url. The actual canonical uses the default combination attribute, the problem is that if that default combination changes then the canonical will change which is bad for SEO.

**Solution**
The canonical of a product is its url without any combination id, this url is not accessible and redirects to the default co

[2018-10-25 08:38] khouloudbelguith commented on #10914
Hi @Werbike,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-re

[2018-10-25 08:58] khouloudbelguith commented on #11126
Hi @maofree, @Rolige,

Thanks for your feedback.
Your issue is a duplicate of #9889
So, I close it.
Thanks!

[2018-10-25 08:58] #11126 closed, assigned to nobody

[2018-10-25 08:58] khouloudbelguith commented on #11126
Duplicate of #9889

[2018-10-25 10:17] MathiasReker commented on #11142
Where can I download 1.7.5.0 beta 1 build 2?

[2018-10-25 10:28] khouloudbelguith commented on #10689
Hi @LinkOfLight,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-25 10:28] #10689 closed, assigned to nobody

[2018-10-25 11:06] rdy4ever commented on #11145
I really think calls to profile.prestashop.com should be handled by ajax whithout impacting the BO loading time. We should not have this kind of SPOF's in the BO.

[2018-10-25 11:07] khouloudbelguith opened #11152 "It is impossible to change position of products into a category in the catalog > product page"
**Describe the bug**
It is impossible to change the position of products into the catalog => product page.
After Drag & drop => Click on "Save & Refresh" button => The green alert "Products successfully sorted." is not displayed.
The new positions of products are not saved.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Catalog > Products
2. Click on Filter by categories and select a

[2018-10-25 11:07] V41F commented on #15203
Hi @Quetzacoalt91 ,
so I asked my webhosting support to set up Apache and here is the result:

After set up, webpage is not available. Here is the log:
/var/www/hosting/tvojefarma.cz/.htaccess:
SetEnv not allowed here

Could you pls help me? What is wrong?
thx a lot.

[2018-10-25 11:18] khouloudbelguith commented on #10698
Hi @2018MGM,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-25 11:18] #10698 closed, assigned to nobody

[2018-10-25 11:19] khouloudbelguith commented on #10709
Hi @seiyar26,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-25 11:19] #10709 closed, assigned to nobody

[2018-10-25 11:19] khouloudbelguith commented on #10717
Hi @bmagneCesi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-25 11:19] #10717 closed, assigned to nobody

[2018-10-25 11:21] khouloudbelguith commented on #10702
Hi @krasnycz,

Any news about your issue?
Thanks!

[2018-10-25 11:28] krasnycz commented on #10702
Well everything needed was examplained in the opening reply. Shop domain is missing in the backend when edit the products.

[2018-10-25 11:32] khouloudbelguith commented on #10702
@krasnycz, It will help us if you can attach a screenshot about your issue.
Thanks!

[2018-10-25 11:39] krasnycz commented on #10702
Well when you set special discount for different stores the stores are not showing in the special discounts overview at the product page > prices. So basically there is no way to manage the prices but delete them all and start from scrath. Totaly unusable. However this is not going to help much, in past version core team completely damaged the special prices funcionaltiy and discounts are not work

[2018-10-25 12:05] marionf commented on #11152
@khouloudbelguith
It works well for me on 1.7.5.x branch, can you check it ?

[2018-10-25 12:33] khouloudbelguith commented on #11152
Hi @marionf,

I checked the 1.7.5.x branch / 1.7.5.0build1 beta2, it is the same issue.
It doesn't work.
Thanks!

[2018-10-25 12:40] marionf commented on #11152
@khouloudbelguith

I just try on 1.7.5.x
https://drive.google.com/open?id=19TrvAScnFcIEOVQ-In8i1Pk9AqDrvYkX

What is your browser ?

[2018-10-25 12:43] khouloudbelguith commented on #11152
@marionf, it is Google Chrome Version 69.0.3497.81 (Build officiel) (64 bits)
Branch 1.7.5.x is updated, fresh installation.

[2018-10-25 13:06] Max84 opened #11154 "Update order with Webservice adds new order's status line"
**Describe the bug**
When I update an order throw webservice, in order to add a shipping tracking number, a new order history line is created.
This line shouldn't be added.

**To Reproduce**
Steps to reproduce the behavior:
Try this php script, with the PrestaShopWebservice class:
`
$ws = new PrestaShopWebservice(
                            'http://10.0.0.36',
                            '5MGDNCP

[2018-10-25 13:52] marionf commented on #11148
@khouloudbelguith
What happens if you complete the order ? Do you pay the good price ?
Can you try with the last 1.6 ?

[2018-10-25 13:55] khouloudbelguith commented on #11148
@marionf, yes it is good.
In the first step, if you just refresh the page => the total will be correct.

[2018-10-25 13:55] Rolige commented on #11152
I tried this in the branch 1.7.5.x and works fine for me.

[2018-10-25 13:59] khouloudbelguith commented on #11154
Hi @Max84,

Thanks for your report.
I manage to reproduce the issue.
If I change the tracking number from the Order_backoffice => there's no line added to the order_history table.
If I change the tracking number throw webservice, a line is added to the order_history table.
![image](https://user-images.githubusercontent.com/16067358/47505679-e680c100-d86e-11e8-8b8a-706074f9fed5.png)
Thanks!

[2018-10-25 13:59] dreamtheme opened #11155 "PS 1.7.4.3 Encoding bug"
**Describe the bug**
During a PS installation transfer between two servers, i noticed a bug with the encoding. So i decided that maybe my PS is corrupted or something. So i did a clean PS 1.7.4.3 installation and i have added "Bulgarian" language and nothing else. All databases and connections set to UTF8. Database is transferred via PHPMyAdmin
On server 1 (original installation) with two language

[2018-10-25 14:35] khouloudbelguith commented on #11152
Hi @marionf,

I make tests on the machine shuffle, nightly Prestashop & I manage to reproduce the issue.
Thanks!

[2018-10-25 15:04] khouloudbelguith commented on #10702
Hi @krasnycz,

Now, in the 1.7.5.0, editing specific prices is available.
![image](https://user-images.githubusercontent.com/16067358/47510178-e46f3000-d877-11e8-9ac5-03802503f2fe.png)
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9465 to add this feature.
Thanks to check & feedback.

[2018-10-25 15:16] khouloudbelguith commented on #11155
Hi @dreamtheme,

I did not manage to reproduce the issue with the last version 1.7.4.3.

1. I installed PS 1.7.4.3 with English by default and then I added Bulgarian localization pack.
2. I exported the Database.
3. I changed the server
4. I created a new Database on the new server with utf8_general_ci encoding, I imported the database.
5. I edited the parameters.php and PS_SHOP_URL for the new se

[2018-10-25 15:32] GuimDotCom commented on #11029
Hi @khouloudbelguith,
SSL enabled yes, I have some news, I've just upgrade to 1.7.4.3
Seems that there are no more issue with sometimes no default combination selected...
BUT
New bug: on a product page, impossible to select other combination than the default. You can see it here: [https://bit.ly/2CGkEQT](https://bit.ly/2CGkEQT) if you want to choose "blanc" it's impossible...

[2018-10-25 15:36] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Thanks for your feedback.
Have you the same issue with this ticket: #9667.
Thanks?

[2018-10-25 15:47] GuimDotCom commented on #11029
Hi @khouloudbelguith,

Almost the same except that all my combinations on this product have stock

[2018-10-25 15:53] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Can you change the SCHEMA OF URLS to the default Shema provided by PrestaShop, clear cache, check & feedback?
Thanks!

[2018-10-25 16:00] GuimDotCom commented on #11029
Hi @khouloudbelguith,

Tested with default URL, same problem, and I have this same problem on 2 shops that are on 1.7.4.3

[2018-10-25 16:16] khouloudbelguith commented on #11029
Hi @GuimDotCom,

If you enable the debug mode, is there any exception displayed?
Thanks!

[2018-10-25 16:24] Rolige commented on #11150
@jolelievre What strange, I have tested in a PS in the branch 1.7.5.x and have the same URL in the product list and product page, checked with the list of the home and category page.

[2018-10-25 16:34] dreamtheme commented on #11155
Hi @khouloudbelguith
I could not reproduce it on my local machine too, only happens on hosting provider and I'm already talking with them to see where the issue is coming from, is it some hosting setting or something in PrestaShop.
On the server i manage to do it without any transfers of installations, just installed Prestashop clean, added Bulgarian and the issue is there.
![pic4](https://user-im

[2018-10-25 16:35] GuimDotCom commented on #11029
Hi @khouloudbelguith,

I have enable debug mode, no exception. I have changed schema url to default and disabled all modules, same problem.

[2018-10-25 16:37] khouloudbelguith commented on #11155
Hi @dreamtheme,

Since you did not manage to reproduce the issue on your local.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks to check with the host provider & feedback.

[2018-10-25 16:44] GuimDotCom commented on #11067
Hi @Peter4661, have you done something to correct this problem, waiting the fix?

[2018-10-25 16:51] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Have you tried to contact the theme author?
Because this issue is fixed in the previous version 1.7.3.1: https://github.com/PrestaShop/PrestaShop/pull/7775
Thanks to check with them & feedback.

[2018-10-25 16:54] khouloudbelguith commented on #10657
Hi @PrestaSafe,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-25 16:54] #10657 closed, assigned to nobody

[2018-10-25 17:03] marionf commented on #11152
I can reproduce it randomly on 1.7.5.x

[2018-10-25 17:14] GuimDotCom commented on #11029
Hi @khouloudbelguith,

Thanks but it is the same bug on official default prestashop theme... you can see it here: [https://bit.ly/2SgO5hD](https://bit.ly/2SgO5hD)

[2018-10-25 17:18] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Thanks to provide me a screenshot from this product (BO => Product page => Tab combinations).
Thanks!

[2018-10-25 17:24] Peter4661 commented on #11067
Hello Guim,

We decided not to wait for the fix since this issue has not been solved for 6 months or so.

We started to split up products with options into individual products; i.e. "Dress" with color options became " yellow Dress, "red dress", "Green dress".   This on the risk that Google at all sees this as duplicate products.

[2018-10-25 17:50] GuimDotCom commented on #11029
Hi @khouloudbelguith,
![combination](https://user-images.githubusercontent.com/40210120/47519970-28216400-d88f-11e8-9880-e787fd1b6689.png)

[2018-10-25 19:40] vlskrbek opened #11158 "Prestashop forum header"
**Describe the bug**
Please who can repair the prestashop forum header? There is a bug with displaying of header that hide the right slider. It does not work in Firefox or in Chrome. On the other hand it works in IE. See the attached picture.

**To Reproduce**
Steps to reproduce the behavior:
1. open prestashop forum https://www.prestashop.com/forums/ in Chrome or in Firefox
2. Move or find the ri

[2018-10-25 21:03] GuimDotCom commented on #11029
Hi @khouloudbelguith,
I've just find the problem, if I remove a override/front/ProductController.php file writed by "FMM PrettyURLs" (which does not disappear when we disabled module) it works!
So I thnik this override controller is not compatible with 1.7.4.3
Thanks a lot for your help!

[2018-10-25 21:44] dreamtheme commented on #11155
I just spoke with the sys admin of the hosting provider, he explained that by default this server "SET NAMES" are not set to UTF8 and while is strange how old installations worked without an issue, they transferred our profile to a server with "SET NAMES" set to UTF8 by default and there is no issues there.
Thanks for the help.

[2018-10-26 00:07] BenTen opened #11159 "Bad SQL query PS 1.7.4.3 multishop Unknown column 'id_shop' in 'where clause'"
**Describe the bug**
I have a bug in my website in url without the slash in the end of the main category.

I get an fatal error when I remove the slash in the end of the main category.

- https://example.com/en/category/ _(ok)_
- https://example.com/en/category _(fatal error)_

` Fatal error: Uncaught Unknown column 'pl.id_shop' in 'where clause'<br /><br /><pre>SELECT `id_product` FROM `ps_produc

[2018-10-26 08:07] khouloudbelguith commented on #11155
Hi @dreamtheme,

Thanks for your feedback.
Since it is fixed.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-26 08:07] #11155 closed, assigned to nobody

[2018-10-26 08:09] khouloudbelguith commented on #11029
Hi @GuimDotCom,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-26 08:09] #11029 closed, assigned to nobody

[2018-10-26 08:55] khouloudbelguith commented on #11159
Hi @BenTen,

This SQL query is called on your module?
You need to search this expression in your project
![image](https://user-images.githubusercontent.com/16067358/47555992-91e05300-d90d-11e8-896e-481a3aa7736b.png)
It can be used in your module.
Thanks to check & feedback.

[2018-10-26 09:33] khouloudbelguith opened #11162 "Cannot edit / add a new page in the BO => SEO & URLs page"
**Describe the bug**
When we try to add / edit a page in the BO => Shop Parameters => Traffic & SEO, nothing happens
The new page is not added / a specific page is not updated. The Page SEO & URLs is just refreshed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to BO => Shop parameters > Traffic & SEO
2. Add a new page / Edit any page
3. Click on save
3. You are just redirected to the

[2018-10-26 09:45] khouloudbelguith commented on #11158
Hi @vlskrbek,

We are currently testing our dev environment with the default theme. If everything is good, we will make a major upgrade of the forum (+ default theme) so these concerns will normally be resolved in the coming weeks :smile:
Thanks for your understanding!

[2018-10-26 09:45] #11158 closed, assigned to nobody

[2018-10-26 09:46] #10984 closed, assigned to jolelievre

[2018-10-26 09:49] marionf opened #11163 "Can't transplant a module"
**Describe the bug**
Can't transplant a module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Positions
2. Click on Transplant a module
3. Select for example banner to displayfooter
4. Click on Save
5. Module isn't hooked

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP version: N/A

[2018-10-26 09:50] marionf commented on #11162
Maybe related to #11163

[2018-10-26 09:51] marionf commented on #11163
Maybe related to #11152

[2018-10-26 09:55] khouloudbelguith commented on #11163
Hi @marionf,

This issue is duplicated of #11146
Thanks!

[2018-10-26 10:05] #11163 closed, assigned to nobody

[2018-10-26 10:06] marionf commented on #11146
Maybe related to #11152

[2018-10-26 10:56] MathiasReker commented on #10125
Any news on this?

[2018-10-26 11:28] jolelievre commented on #11150
yes the url itself stays the same, we only change the canonical meta tag in the product page
the modification that was previously done (use the default combination as canonical url) was a bad idea, because if you change the default combination then the canonical url changes which is not good for your SEO

[2018-10-26 11:49] vlskrbek commented on #11158
Thanks for info.
Best regards

[2018-10-26 12:39] #10534 closed, assigned to nobody

[2018-10-26 12:42] khouloudbelguith opened #11164 "Max size of short description is equal to 0"
**Describe the bug**
When you set the Max size of the short description as 0 in BO => CONFIGURE => Shop Parameters => Product Settings, and try to save the product with (short description size > 800), an error message appears "This value is too long. It should have 800 characters or less."
In the manual is written: http://doc.prestashop.com/display/PS17/Product+Settings
" The short description, wh

[2018-10-26 13:08] marionf commented on #9566
PR: https://github.com/PrestaShop/contactform/pull/29

[2018-10-26 13:30] colinegin commented on #10010
@matks do you have any idea of what could been done to fix this issue ? Last time there was no real solution.

[2018-10-26 13:31] khouloudbelguith commented on #10345
Hi @matks,

I manage to reproduce the issue with PS 1.7.5.0-beta1build.
In fact, you need to click on the Reorder button before the Search.
Thanks!

[2018-10-26 13:36] colinegin commented on #10216
@mickaelandrieu do you think you could put on download the fix that has been done for Ready on this issue ?

[2018-10-26 13:44] colinegin commented on #10017
@tomlev and @MatShir , do we agree that this issue will be fixed with CLDR (rework part 2)?

[2018-10-26 14:24] khouloudbelguith opened #11166 "Customer fields added in the Address format from the BO are not displayed in the FO / BO"
**Describe the bug**
In the BO => International => Locations => Countries Tab => Edit an enabled country (for example France), when we add the Customer fields in the Address format

- Customer:birthday
- Customer:email
- Customer:website
- Customer:company
- Customer:siret
- Customer:reset_password_token

& save.
![image](https://user-images.githubusercontent.com/16067358/47572024-44c6a600-d93a-11

[2018-10-26 15:08] #11150 closed, assigned to jolelievre

[2018-10-26 15:13] marionf commented on #9932
Hello @MathiasReker

I can't reproduce this issue on 1.7.5.x branch, it seems to be fixed

https://drive.google.com/file/d/11vZs9J5qdOCD4KmZj4VE5C8ZURoveWtD/view?usp=sharing

[2018-10-26 15:16] khouloudbelguith opened #11167 "Strange behavior if put in the Min filter a character"
**Describe the bug**
In the BO => Catalog => Products page, when I put in the "Min" filter a character & click on search, this character will be automatically changed to "1000000" & the page is refreshed.
This strange behavior.
If we put a character in the "Max" filter & click on Search => The field will be displayed in **red** => this is the best behavior
Min filter => NOK
Max filter => OK

**To

[2018-10-27 12:08] Hlavtox commented on #10717
I also get this ERROR sometimes if I make more complicated carrier ranges. It happens on all 1.6 versions and obviously on 1.7 also.

[2018-10-27 15:23] damiafrau opened #11170 "Error at cart checkout on upgraded shop from 1.6.1.21 to 1.7.4.2"
**Describe the bug**
I upgraded my Prestashop from 1.6.1.21 to 1.7.2.4 and finally to 1.7.4.2. When somebody adds a product to the shopping cart without stay logged in, it works. But when the customer log in, then a message is shown on cart page: The product NAME OF PRODUCT in your cart, have no longer availability. Can't proceed with checkout until you adjust the quantity. (May the text be differ

[2018-10-27 23:30] BenTen commented on #11159
Hello,
Sorry for the delay to reply.

In fact, only **/classes/Product.php** has that expression in my project.

[2018-10-28 10:18] krasnycz commented on #10702
Lets see. Whole special prices functionality is broken in the latest release. I will wait for 1.7.5 release and then check it again and report issues.

[2018-10-28 21:15] romanklabal opened #11171 "Unable to change a color attribute texture image"
**Description**
When you edit a color type attribute value with an existing texture image and want to replace the texture by uploading a new image, it does not work. All the other changes are saved and there is no error, yet the texture image never changes. I have not done any changes to the Prestashop files and the attribute value has been manually created, not using import scripts or anything.

[2018-10-28 21:20] #11171 closed, assigned to nobody

[2018-10-29 07:51] khouloudbelguith commented on #10702
Hi @krasnycz,

Thanks for your feedback. PS 1.7.5.0 will be released in a few weeks.
I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-29 07:51] #10702 closed, assigned to nobody

[2018-10-29 07:58] khouloudbelguith commented on #11159
Hi @BenTen,

In the /classes/Product.php, [first expression](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L5482), [second expression](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L5500), they are not the same displayed in your exception.
In your clean url module, did you use any request SQL `select` from the `ps_product_lang` table?
Thanks!

[2018-10-29 08:18] khouloudbelguith commented on #10717
Hi @Hlavtox,

Despite our several trials, we could not reproduce your issue.
https://drive.google.com/file/d/1tHRmdEVyP6iAb9-tKULNkODlwpJHelXk/view
But you can take a look at this ticket: http://forge.prestashop.com/browse/BOOM-5506
It could help to solve your problem.
Thanks!

[2018-10-29 08:29] khouloudbelguith commented on #11170
Hi @damiafrau,

I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1fiamLaAZpHHGg8VNYmvJr_fAOqZIfEZW/view
Thanks to check it & feedback.
Thanks!

[2018-10-29 08:57] e-perrodon opened #11172 "No carrier available in checkout with free shipping cart rule"
**EDIT**: to get the reproductible scenario, jump to https://github.com/PrestaShop/PrestaShop/issues/11172#issuecomment-502165356 ◀️

**Describe the bug**
When I apply a free shipping cart rule whith a code on a specific product, no carriers are available in check out, only on my production environment

**To Reproduce**
Steps to reproduce the behavior:
1. Update Prestashop from 1.7.4.1 to 1.7.4.2

[2018-10-29 09:22] e-perrodon commented on #11172
I managed to work around the problem forcing flush when calling $this->context->cart->getDeliveryOptionList in getDeliveryOptions function in classes/checkout/DeliveryOptionsFinder.php
But it's not really a solution...

[2018-10-29 09:37] khouloudbelguith commented on #11172
Hi @e-perrodon,

I did not manage to reproduce the issue after upgrade from 1.7.4.2 to 1.7.4.3 using the 1-click upgrade 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1mSCzwvkDUs7BBiXoPqzLkWDHMRhxPUwX/view
![image](https://user-images.githubusercontent.com/16067358/47641519-98b5d280-db66-11e8-8b09-483c99379770.png)
![image](https://user-images.githubusercontent.com/16067358/4

[2018-10-29 09:50] marionf commented on #11164
2 options:
1) we put the behavior as in 1.7.4.3: impossible to insert 0, an error is displayed if I enter 0:  "The Maximum Size field of the Product Summary is invalid."
2) we allow to put 0 and as described in the doc, there is no limit for this field
This never worked, it was still limited to 800 chars in the product page (tested in 1.7.2.4)

As it's a regression compared to 1.7.4.3, I will say

[2018-10-29 10:08] marionf commented on #11167
It changes for 1000000 only with Google Chrome
It doesn't happen with Firefox.
For all browsers, the min field should be displayed in red like the max field if we don't insert a number

[2018-10-29 10:08] ricardo-lobo opened #11173 "Faceted search not working in multilanguage store"
Faceted search does not work when using more than one language. Maybe there's something that is need to setup, but documentation is not clear.

When filtering using English, everything works as expected. When the second language is selected (Eg. Portuguese) an ajax request is fired but the same products are returned in the response. It's like the request params are ignored.

Steps to reproduce the

[2018-10-29 10:16] matks commented on #11144
Thank you @Rolige and @PrestaShark for these important informations 😉

Both of you have have brought very relevant items so this issue is tricky 😅

[2018-10-29 10:18] matks commented on #11142
@MathiasReker It will be available very soon 😉 we're making sure the "obvious" bugs are fixed before making it public in order not to waste beta testers precious time

[2018-10-29 10:18] khouloudbelguith commented on #11173
Hi @ricardo-lobo,

I did not manage to reproduce your issue.
I attached a video record.
https://drive.google.com/file/d/1KWO4XWZO9wjg0JEgNVTVivCXnoutprzT/view
What is the exact version of the ps_facetedsearch module did you use?
Thanks!

[2018-10-29 10:35] e-perrodon commented on #11172
Hello @khouloudbelguith,
I think it's not easy to reproduce this bug...
How i said, i put new sources, got by 1-click upgrade on DEV env, with my personnal git on my PROD env.
Then I execute upgrade.php to update database.

A normal upgrade with the module works as expected.

[2018-10-29 10:37] khouloudbelguith commented on #11172
Hi @e-perrodon,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-29 10:40] V41F commented on #15203
Hi @Quetzacoalt91 ,
any new idea pls?

[2018-10-29 10:56] e-perrodon commented on #11172
@khouloudbelguith, sorry but i haven't any error in php error log and bug report.

[2018-10-29 10:58] khouloudbelguith commented on #11172
@e-perrodon, It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2018-10-29 11:09] khouloudbelguith commented on #10655
Hi @gkanakaris,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-29 11:09] #10655 closed, assigned to nobody

[2018-10-29 11:10] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-29 11:10] #10457 closed, assigned to nobody

[2018-10-29 11:30] prestamodule opened #11174 "Quick links to "New Products" and "Installed modules" are wrong"
**Describe the bug**
Quick links doesn't let you go to the desired page, as the links are wrong inside the install XML.

**To Reproduce**
Steps to reproduce the behavior:
1. Install your Shop
2. Click on one of theses quick links.

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: N/A

[2018-10-29 11:38] khouloudbelguith commented on #11174
Hi @prestamodule,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10736 to solve the issue.
It is fixed in the release 1.7.5.0.
It is working in the 1.7.5.0.build1.beta2.
Your ticket is a duplicate of #10480
So, I close it.
Thanks!

[2018-10-29 11:38] #11174 closed, assigned to nobody

[2018-10-29 11:38] khouloudbelguith commented on #11174
Duplicate of #10480

[2018-10-29 11:40] Quetzacoalt91 commented on #15203
Hi @wewew85,

Do not hesitate to search on Internet when you have the actual error displayed, you can find the solution. :)
I tried to reproduce the error, and found out the following config may help you:

[code]

The solution is based on https://stackoverflow.com/questions/17239759/apache-setenv-not-allowed-here-in-apache-logs. Sorry for the previous example which wasn't accurate enough.

[2018-10-29 11:47] Quetzacoalt91 commented on #15203
By the way, having

[code]

would fix all the similar issues, but I know exactly what it could imply in a security point of view.

[2018-10-29 11:55] V41F commented on #15203
Hi @Quetzacoalt91 ,
thx for you answer.
so this is the answer for my webhosting support? Or I have to set up? and where?

[2018-10-29 11:57] Quetzacoalt91 commented on #15203
It seems safer to ask your webhosting support to do it for you if you don't know how to / cannot do it by yourself.

[2018-10-29 12:53] ricardo-lobo commented on #11173
@khouloudbelguith

I'm using ps_facetedsearch v2.2.1
Strangely this was solved when I activated friendly urls in SEO.

If I disable friendly urls, the problem comes back again.

[2018-10-29 13:10] khouloudbelguith commented on #11173
Hi @ricardo-lobo,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9639
So, I close it.
Thanks!

[2018-10-29 13:10] #11173 closed, assigned to nobody

[2018-10-29 13:10] khouloudbelguith commented on #11173
Duplicate of #9639

[2018-10-29 13:55] antho-girard opened #11176 "Shipping modal does not show up on IE 11"
**Describe the bug**
On Internet Explorer 11, we cannot edit shipping number in the Shipping section (BO order page).
Instead of displaying the modal with the carriers list and the shipping number input, the page goes to the top. There're no JS errors in the console of the "developer tools".

**To Reproduce**
Steps to reproduce the behavior:
1. On IE 11, open an order in BO
2. Click the Edit butto

[2018-10-29 14:18] khouloudbelguith commented on #11176
Hi @antho-girard,

Thanks for your report.
Manage to reproduce the issue with 1.7.4.3 / 1.7.5.0.
We will see how to fix it.
Thanks.

[2018-10-29 14:20] jonaserixon opened #11177 "displayAdministrationPageForm hook"

[2018-10-29 14:27] V41F commented on #15203
Hi @Quetzacoalt91 ,
bad news. After this change you can see the result below. I'm sorry but I'm really exhausting. It is no possible to upgrade prestashop? I tried to do it from 25 jul without any possitive result.....
![untitled](https://user-images.githubusercontent.com/41673053/47656147-d0d10b80-db8e-11e8-809e-213a5134e78b.png)

[2018-10-29 14:33] #11177 closed, assigned to nobody

[2018-10-29 14:48] Quetzacoalt91 commented on #15203
Now your css and js files are in HTTP 500? What's the error this time in the logs?

[2018-10-29 14:59] TecnoHands commented on #11113
This is no error of the theme.
Add other problem, this problem occurs after upgrade to 1.7.4.3
I modify a table of version install prestashop to 1.7.4.3
and update all files manually, but have the same problem the modules dont update:

3 | G. Nicolás | 3 | Excepción emitida por el módulo gamification en upgrade. Error sent by Addons. You may be not allowed to download this module. |   | 0 | 0x	0 |

[2018-10-29 14:59] V41F commented on #15203
Hi @Quetzacoalt91 ,
I sent your explanation to my webhosting support. They set up Apache server as you wrote:
AllowOverride FileInfo AuthConfig Indexes Options=All,MultiViews

Then css was completely destroyed (I sent you image in attachment). So they rollback. It means that I have no error in log because there was no error only destroyed css.

[2018-10-29 15:00] khouloudbelguith opened #11178 "Webservice page - Sorting by Key causes an exception"
**Describe the bug**
In the BO => Advanced Parameters => Webservice page, when we try to sort by key => an exception occurred

**To Reproduce**
Steps to reproduce the behavior:

1. Go to BO => Advanced Parameters => Webservice page
2. Create at least 2 webservice key
3. After that, try to apply a sort on the Key with icon
4. See error

**Screenshots**
![image](https://user-images.githubusercontent

[2018-10-29 15:01] TecnoHands commented on #11113
The front office, work well, But I having problems in modules update in the BO.
In information display:

info_outline Comprueba tu configuración
Parámetros requeridos: Por favor, corrige el (los) siguiente(s) error(es)

Parámetros opcionales: OK

Parameters required display the message error but dont display WHERE is the problem... Very very useless

[2018-10-29 15:04] khouloudbelguith commented on #11113
Hi @TecnoHands,

It seems that a description is missing, and that's why it could not be listed in the "following errors".
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure.
Thanks!

[2018-10-29 15:24] matks commented on #10010
@colinegin I see no "light" bug fix. To really fix the bug, I think we need to rework the internal processing of faceted search which is a heavy task.
I dont think this can be done for 1.7.5, and if we want to fix this bug for 1.7.6 we better start ... now 😅

[2018-10-29 15:42] TecnoHands commented on #11113
Very thanks, With the changes in this two files, the report of necesary parameters display a error in the permissions of cache in my theme Change it to 611 and worked fine

info_outline Comprueba tu configuración
Parámetros requeridos: OK

Parámetros opcionales: OK

And can update the modules in BO,
VERY VERY THANKS.

Can close the issue

[2018-10-29 15:54] khouloudbelguith commented on #11113
Hi @TecnoHands,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-29 15:54] #11113 closed, assigned to nobody

[2018-10-29 16:00] TecnoHands commented on #11113
Sorry, The others bugs yes solved, but When activate the smarty cache... Dont work properly BO
I click in  config for example and kick me to BO login, I clear all files in the browser and dont worked too
I click in performance and kick me too to login in BO

And, when i add my publish ip to maintenance mode, dont show me the Front

[2018-10-29 16:20] TecnoHands commented on #11113
Sorry Bad mine, jaja disable temporaly cloudflare and work fine the cache of prestashop

[2018-10-29 16:23] sbordun commented on #10420
Hi @khouloudbelguith  and @centoasa,

I experiencing the same behavior on PS 1.7.4.3 with memcached .
As a workaround I am not using cache.

 What is the status of this issue?

Thanks

[2018-10-29 16:40] khouloudbelguith commented on #10420
Hi @sbordun,

In your case, this issue is applied after applying this patch: https://github.com/PrestaShop/PrestaShop/pull/10201?
We need to retrieve also your PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-10-29 17:00] khouloudbelguith commented on #11178
Here's the PR: #11179 to solve the issue.

[2018-10-29 17:10] damiafrau commented on #11170
Hi,

Thank you for your message. It happens with customers who had previous sessions in PS 1.6. New customers who registered with PS 1.7 are fine.

How can I send you via PM an existing user to make a new test?

[2018-10-29 17:17] khouloudbelguith commented on #11170
Hi @damiafrau,

This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2018-10-29 20:47] Maofree opened #11180 "Fixed the getTaxesRate of carrier.php"
Hi
the method getTaxesRate of classes/carrier.php has a but, in my case I get in all sites everytime the zero value (in ajax cycles).
you should use the same solution used for the same method in product.php
the function become so:

[code]

you have missed this condition:
[code]

![1](https://user-images.githubusercontent.com/653230/47679800-625b7000-dbc5-11e8-802f-8d12161404ae.png)

**Additionnal

[2018-10-29 21:42] firstred opened #11181 "a11y: checkboxes on module page aren't actual inputs"
![screenshot from 2018-10-29 22-40-43](https://user-images.githubusercontent.com/6775736/47682138-c4b76f00-dbcb-11e8-9a3b-917049d3d05a.png)

I would recommend to apply the same styling to a regular checkbox input. The current implementation is very bad for a11y.
Don't forget to set `box-sizing` to `border-box` for consistent cross-browser behavior.

[2018-10-30 02:18] BenTen commented on #11159
I guess is in the file \override\classes\Dispatcher.php
[code]

[2018-10-30 07:44] weddingtextile opened #11183 "1-Click Autoupgrade from 1.7.3.3 to 1.7.4.3 (Ajax / Server Error for action upgradeComplete)"
**Describe the bug**
I try the 1click upgrade (with the last module v4.4.0 without backup) from 1.7.3.3 to 1.7.4.3:
<<
All files upgraded. Now upgrading database...
Database upgraded. Now upgrading your Addons modules...
Addons modules files have been upgraded.
The database has been cleaned.
[Ajax / Server Error for action upgradeComplete] textStatus: "error " errorThrown:"Internal Server Error "

[2018-10-30 07:50] khouloudbelguith commented on #11159
Hi @BenTen,

The function isProductLink doesn't exist in the [Dispatcher class](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Dispatcher.php).
It is overridden by a custom module.
As it's not provided by Prestashop, we can't do anything with this.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-30 07:50] #11159 closed, assigned to nobody

[2018-10-30 07:51] weddingtextile commented on #11183
After updating PrestaShop works.
How critical was the error when updating?

[2018-10-30 07:52] khouloudbelguith commented on #11183
Hi @weddingtextile,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2018-10-30 07:57] weddingtextile commented on #11183
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2528561/log.txt)

[2018-10-30 07:59] khouloudbelguith commented on #11181
Hi @firstred,

Thanks for your report.
In the PS v 1.7.5.0 > Modules / Module Manager page, checkboxes aren't also actual inputs.
@eternoendless, @PierreRambaud, @PrestaShop/prestashop-core-developers what do you think of his suggestion.
Thanks!

[2018-10-30 08:03] firstred commented on #11181
Has it become part of the Presta UI Kit maybe? Might be easiest to create an alternative style if so.

BTW, I also can't find any attached data attributes. If we were to use jQuery for example how would we read the value? The regular `$('#checkbox').is(':checked')` call doesn't return the actual value any longer. I can imagine this is really confusing for both internal and external developers.

[2018-10-30 08:17] khouloudbelguith commented on #11180
Hi @maofree,

Thanks for your report.
Yes, the method getTaxesRate doesn't use the same condition in [carrier.php](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Carrier.php#L1291) & [product.php](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L5674).
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/Presta

[2018-10-30 08:20] weddingtextile commented on #11183
[error_ul14_apache_aux1_18-10-27.log](https://github.com/PrestaShop/PrestaShop/files/2528661/error_ul14_apache_aux1_18-10-27.log)

[2018-10-30 08:40] khouloudbelguith commented on #11170
Hi @damiafrau,

I added to the cart another product. When I log in with the user that you provided me, I don't manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1NVbwrOBUzWwTsIDRMLq0aZlRrOxOEOfj/view
Thanks to check & feedback.

[2018-10-30 08:55] Maofree commented on #11180
HI @khouloudbelguith
can you do it for me?
thanks

sorry I continue to be too much busy :)
bye

[2018-10-30 09:02] matks commented on #11180
I'll do it :)

[2018-10-30 09:21] matks commented on #11180
Here you go https://github.com/PrestaShop/PrestaShop/pull/11185

[2018-10-30 10:13] khouloudbelguith commented on #11183
Hi @weddingtextile,

Thanks for your feedback.
I did not manage to reproduce the issue, I made an upfrade from 1.7.3.3 to 1.7.4.3 with the 1-click upgrade 4.4.0.
![image](https://user-images.githubusercontent.com/16067358/47710164-65407a00-dc32-11e8-84ac-da56bb8833cc.png)
In your case, In your file `log.txt`, I found this:
[code]
So the upgrade is done successfully.
In your `error_ul14_apache_aux1

[2018-10-30 10:15] matteolavaggi opened #11186 "PS 1.7.2.4 Back End Page take 5 minutes to Load (modules, product save, shipping, ...)"
**Describe the bug**
When try to open module manage page in back office it take 5 minutes to load.
If you try to access direct module configuration page it work great.
The same extra long tame will take place on product save , shipping service page so its a controller problem of the backend.

Every operation made by direct url (example open shipping agent with direct url and id) work great.

Produ

[2018-10-30 10:26] matks commented on #10910
👍 OK this idea gets approval ! 🎉

[2018-10-30 10:26] matks commented on #10910
@sarjon @tomas862 you win 😃

[2018-10-30 10:29] matks commented on #11033
Could not find a reason to keep this file. Only thing I can think of is a hook list for developers however handling it manually will lead to errors.
I'll make a PR to remove this seemingly useless file in `develop` .

🔽 https://github.com/PrestaShop/PrestaShop/pull/11187

[2018-10-30 10:39] khouloudbelguith commented on #11186
Hi @matteolavaggi,

Could you please try to disable the gamification module, clear cache, check & feedback.
Thanks!

[2018-10-30 10:40] matteolavaggi commented on #11186
Hi dear i've renamed the gamificaton folder to off.gamification just week ago with no improvement on functionality , you mean this?

[2018-10-30 10:54] Marwazeinoo88 opened #11188 "500 internal Server Error"
**Describe the bug**
Hi, since this morning i can't log to my BO, it's loading and loading..Then i have this error :
**Internal Server Error**
**The server encountered an internal error or misconfiguration and was unable to complete your request.
Please contact the server administrator, [no address given] and inform them of the time the error occurred, and anything you might have done that may hav

[2018-10-30 11:01] khouloudbelguith commented on #11188
Hi @Marwazeinoo88,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to

[2018-10-30 11:03] khouloudbelguith commented on #11186
Hi @matteolavaggi,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-30 11:10] Quetzacoalt91 commented on #11033
Hmm, while I may agree about the hook.xml file, the hook_alias details seem important for me.

If you delete this file, are you sure the aliases will be properly handled?

[2018-10-30 11:15] matteolavaggi commented on #11186
Hi, we have provided information about version and server. We dont get any php / apache error in the error log , and debug mode in backend dont print error, so how we can send to you usefull information? we get a timeout error after 4 minutes from proxy so its not easy to debug the problem, any idea to get more information usefull for you?

[2018-10-30 11:17] Lndaw opened #11189 "toto"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-10-30 11:42] weddingtextile commented on #11183
Thanks for the detailed answer.

One more question.
Is it normal after upgrade? See VERSION COMPARISON.txt
[VERSION COMPARISON.txt](https://github.com/PrestaShop/PrestaShop/files/2529459/VERSION.COMPARISON.txt)

[2018-10-30 11:50] matks commented on #11189
Looks like a mistake 😃 can I close this ?

[2018-10-30 11:51] Marwazeinoo88 commented on #11188
**host**: phpnet
**Console log:**
Failed to load resource: the server responded with a status of 503 (Service Unavailable)

**SERVEUR LOG ERROR:**
[Tue Oct 30 06:16:17 2018] [error] (9)Bad file descriptor: apr_socket_accept: (client socket)
**Error.log**
[Tue Oct 30 12:17:12 2018] [warn] [client 41.230.73.195] (104)Connection reset by peer: mod_fcgid: error reading data from FastCGI server
[Tue Oc

[2018-10-30 12:13] Lndaw commented on #11189
oui desolé c'etait un test

[2018-10-30 12:47] #11189 closed, assigned to nobody

[2018-10-30 12:58] khouloudbelguith commented on #11188
Hi @Marwazeinoo88,

About this error[ [error] (9)Bad file descriptor: apr_socket_accept: (client socket)], it is a server issue, maybe you need to upgrade the apache package, you need to check your host.
About the Error.log, sometimes when migrating sites are switching between mod_php and FCGId permissions can get mangled which cause errors such as:
(104)Connection reset by peer: mod_fcgid: error

[2018-10-30 13:02] khouloudbelguith commented on #11183
@weddingtextile, yes, it is normal.
I have changes in my case also.
![image](https://user-images.githubusercontent.com/16067358/47719749-5bc40b80-dc4c-11e8-85a8-47a5963bbda8.png)
Thanks!

[2018-10-30 13:07] ghost commented on #11186
There also is function to take Your PrestShop account avatar from Prestashop.com... Please look deep into browser console and resource requests - this might help You with this lag/performance issue.

[2018-10-30 13:09] ghost commented on #11183
Always use local directory upgrade mode with unpacked prestsahop files copied in autoupgrade/latest folder. I have done this version upgrade without any problem (1.7.3.3 to 1.7.4.3).

[2018-10-30 13:15] khouloudbelguith commented on #11186
Hi @PrestaShark,

Is it the issue that you described: #11145?
Thanks!

[2018-10-30 14:13] matks opened #11191 "[SF Migration] How to test CQRS commands and queries"
We have introduced CQRS commands and queries. This is a powerful tool that should bring a lot of benefits for PrestaShop project. One of them is legacy code testability.

CQRS commands and queries "wrap" legacy code in an elegant interface easy-to-use. So, we should be able to setup "black box" integration tests that dispatch commands and queries and check the output.

### Test worflow idea

Here

[2018-10-30 14:19] matks commented on #11191
Also, if we cannot find a proper way to run the tests with a database, this is not a big issue. We will soon have nightly test runs so we can run the tests at night and get the report the day after. This is not ideal, but this will work (and while working on localhost, you only run the relevant tests for you).

[2018-10-30 14:41] matteolavaggi commented on #11186
There is no information on browser console that can help, simply it take 5 min of TTFB.

@khouloudbelguith my login email is different than the one on prestas.com, but i've also disabled from Tools.php the connection to prestashop.com setting 'is_addons_up = true'  to false

[2018-10-30 14:49] khouloudbelguith commented on #11186
Hi @matteolavaggi,

Have you many products and much data to load?
Thanks!

[2018-10-30 15:05] matteolavaggi commented on #11186
i have about 30k product, but a dedicated server powerfull. We use with no problem massive import / edit module for handle 500/1000 product at same time.

Also other section of Backend work with no problem like category and product page (only the save function has problem)

[2018-10-30 15:08] khouloudbelguith commented on #10737
Hi @benwallis,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-30 15:08] #10737 closed, assigned to nobody

[2018-10-30 15:08] matteolavaggi opened #11193 "PS 1.7.2.4 TOO MANY REDIRECT ON LOGIN (but login state work after refresh)"
**Describe the bug**
Try to login from frontend result in "too many redirect error". Hard refresh the page to the site root result in correct login state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'store.sixrace.it'
2. try login
3. see error too many redirect on store.sixrace.it/it/account
4. point browser to store.sixrace.it and force refresh
5. find your user logged in

prova2@

[2018-10-30 15:17] Hlavtox opened #11194 "Carrier ranges calculated wrong when EU VAT is used"
**Description**
Shipping prices are calculated incorrectly when you use _EU VAT module_ and _VAT number is entered_

**Preparation**
A) Activate _EU VAT module_, set to country of origin to Czech Republic for example.
B) Set 21% TAX to all countries you want to test, for example Slovakia.
C) Set up the following carrier:
1. Calculate by order sum.
2. Tax rate - 21%
3. Set up ranges for Slovakia -

[2018-10-30 15:17] matteolavaggi commented on #11193
Update: the problem is related to the "My account" section. After login you ever get too many redirect loop try to access this page.

I've se the "redirect customer to shop cart after login" option to YES (to avoid impossibility for customer to use our store today), but this is ignored by prestashop that still redirect to https://store.sixrace.it/it/login?back=my-account

[2018-10-30 15:22] khouloudbelguith commented on #11193
Hi @matteolavaggi,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-30 15:28] khouloudbelguith commented on #11186
@matteolavaggi, we are aware of this issue and we are working on it.
There's also a fix added in the PS 1.7.3.1: https://github.com/PrestaShop/PrestaShop/pull/8871
We will also work to lighten the product page, it will take time.
Now, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience https://github.com/PrestaShop/PrestaShop/i

[2018-10-30 15:31] matteolavaggi commented on #11193
Thanks, there is no console output and no apache / nginx error. Only see a lot of GET

[code]

Screenshoot only can show the "too many redirect error"

redirect is from account to login?back=my_account.

https://store.sixrace.it/it/login?back=my-account

[code]

[code]

https://store.sixrace.it/it/account

[code]
[code]

[2018-10-30 15:33] khouloudbelguith commented on #11194
Hi @Hlavtox,

Is it the same issue described here: #9928?
Thanks!

[2018-10-30 15:33] matteolavaggi commented on #11186
Hi dear, so there is any way to fix this on my 1.7.2.4?

The problem i have in the module page is not related to combination i supposed!

Also i've about 10 to 15 sku with combination on 30K catalogue, and issue on saving it happen on all product, not only when work on a combination one.

So i think you are not in the right way to diagnose this problem

[2018-10-30 15:39] khouloudbelguith commented on #11193
Hi @matteolavaggi,

If you enable the debug mode, there is no exception displayed?
Thanks!

[2018-10-30 15:41] Hlavtox commented on #11194
@khouloudbelguith

I also have some slight other bugs, but I think it's not related. Even if I fill VAT number, then go back to shop, I see the correct prices, but with "including tax" text, which is wrong - but it could be related to my previous theme modifications in product.tpl.

In my case, the order itself is calculated correctly, both in cart and after submitting it. Just the shipping is cal

[2018-10-30 15:45] khouloudbelguith commented on #11186
@matteolavaggi, did you installed any custom module before this issue occurs?

[2018-10-30 15:45] fif10 opened #11195 "Invalid VAT when settings is round on total. (1cent difference)"
**Describe the bug**

The total of vat on the bill is done with the sum of the product VAT, and the shipping, and not on the total of the order, (even when the rouding is set to 'total' in settings)
This lead to  small difference (1cent) on order total, (and cause more important issue in accounting)

**To Reproduce**
Steps to reproduce the behavior:
1. Set the rounding on backoffice to
Round mode

[2018-10-30 15:45] mickaelandrieu commented on #10216
Hello @colinegin, I'm not sure this is the right way to do it in PS Download. Let me time to think about it :+1:

[2018-10-30 15:46] matteolavaggi commented on #11193
No on login page no error, after login too many redirect prevent browser from reach the page so there is no error handling.

Is some things related to cookies or url redirect. How to force prestashop redirect new logged in user to some where to make a test? instead that send it to my account page?

This is not a fix as users need to access their login details but can be a step close to diagnose pr

[2018-10-30 15:47] khouloudbelguith commented on #10754
Hi @zumschinderhannes,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-10-30 15:47] #10754 closed, assigned to nobody

[2018-10-30 15:53] matteolavaggi commented on #11193
its right that PS set cookie for .store.sixrace.it instead for store.sixrace.it ?

[2018-10-30 15:55] khouloudbelguith commented on #11195
Hi @fif10,

We have a different rounding problem, it is an issue that should be specified & fixed by our developers.
We are aware of this issue.
Your ticket is a duplicate of #9779
So, I close it.
Thanks!

[2018-10-30 15:55] #11195 closed, assigned to nobody

[2018-10-30 15:56] khouloudbelguith commented on #11195
Duplicate of #9779

[2018-10-30 15:58] mickaelandrieu commented on #10216
Hello @colinegin, it's me again :laughing:

See https://github.com/PrestaShop/PrestaShop/pull/11196

Cheers!

[2018-10-30 16:00] matteolavaggi commented on #11186
we setup a cache module, but removed, clean folder and database, clear cache and revert back server to previous, so the issue start before this module installation, we found it because we cant see new order placed by customer :( !

Any idea where to look? this is a redirect problem on the account page

[2018-10-30 16:08] khouloudbelguith commented on #11186
@matteolavaggi, have you tried to contact the module author?
Thanks!

[2018-10-30 16:15] matteolavaggi commented on #11186
Sorry dear, i've made confusion on 2 issue.

This problem on module page start at the installation of PS and is no related to any of the module we install later, at zer day we start with this problem and not yet found a solution

[2018-10-30 16:17] mickaelandrieu commented on #10602
We have already discussed that with @eternoendless and you what are the 3 main topics to address in 1.7.6:

* **Put hooks on Form entity pages**: this topic is the most important one as we can't migrate theses pages if a developer can't customize them;
* **Figure out a solution for `AdminLegacyLayoutController`**: it's probably the most important one because every migrated page depends on it, so w

[2018-10-30 16:23] khouloudbelguith commented on #11194
Hi @Hlavtox,

I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1o3CW0c2QBhEakcUTAyTnl1xQmOkszgNO/view
Thanks to check & feedback.

[2018-10-30 16:25] giorgiosks opened #11197 "ps_wirepayment Fatal error at line 1035 in file classes/Tools.php"
When i want pay witch wirepayment:

[code]

[2018-10-30 16:32] khouloudbelguith commented on #11197
Hi @giorgiosks,

Could you please try to re-install the Ps_Wirepayment module.
Thanks to check and feedback.

[2018-10-30 16:34] mickaelandrieu commented on #10412
In the end, Hooks will be Symfony events, we have "no" interest at all at a contract on hooks that does not relies on the Symfony Event Dispatcher component. The final end is to use the current event dispatcher to dispatch both Symfony events and hooks (let's say "PrestaShop events").

For now and I hope you are already aware of it but we can't have only one implementation:

* Front Office is stil

[2018-10-30 16:34] khouloudbelguith commented on #11186
@matteolavaggi, the mode SSL is enabled in your shop?
In the classes/Tools.php, could you please try to replace
[code]
to this
[code]
Thanks to check & feedback.

[2018-10-30 16:38] mickaelandrieu commented on #10412
Hello @marionf I'm not sure `Regression` applies, or we could consider it's a regression from 1.6.1.x?

[2018-10-30 16:39] giorgiosks commented on #11197
I did it and continue error.

[2018-10-30 16:46] khouloudbelguith commented on #11197
Hi @giorgiosks,

What is the exact version PrestaShop did you use? the exact version of the ps_wirepayment module did you installed?
Thanks!

[2018-10-30 16:49] ridom opened #11198 "Have all themes from the market to be compatible with the child-theme functionnality ?"
Hello,

I have been sent by the Prestashop support to ask you my technical questions here. Hope I am in the good place.

I installed PRS 1.7.4.3 and there is a theme that I try to "childify" which I can't, unlike all the other themes I have used. In order to be sure that my requests to the dev's theme are legit, I would like to know if all themes can/have to handle the fact we can create a custom

[2018-10-30 16:53] giorgiosks commented on #11197
PrestaShop: 1.7.4.2
Wirepayment: v2.0.4

[2018-10-30 16:53] matteolavaggi commented on #11186
Our store is FULL https, i've change the ip but still same problem.

[2018-10-30 16:54] marionf commented on #10412
We talked about this during the sprint planning and from what I understood it's a regression compared to what we had in legacy and it needs to be fixed for 1.7.5
Tell me if I missunderstood @matks

[2018-10-30 16:57] khouloudbelguith commented on #11193
Hi @matteolavaggi,

Since you installed a cache module before & you removed.
Could you please check is there any overrides exists that causes the problem

[2018-10-30 16:59] khouloudbelguith commented on #11197
@giorgiosks, after re-installing the module, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-10-30 17:07] khouloudbelguith commented on #11186
Hi @marionf, I did not manage to reproduce the issue with PS1.7.4.3, PS1.7.3.3.
What do you think?
Thanks!

[2018-10-30 17:13] khouloudbelguith commented on #10682
Hi,

The same issue occurs in the Stock page.
Thanks!

[2018-10-30 17:18] matteolavaggi commented on #11193
i've reverted back a snapshot of before install cache module so its 100% not this chace module. But this is a big issue for us. All the page work great expect for the login / logout and account function.
Anyone can inspect in any way?

[2018-10-30 17:23] marionf commented on #11186
I can't reproduce it, performance depends of a lot of things

[2018-10-30 17:26] colinegin commented on #10216
Amazing ! Thanks :)

[2018-10-30 17:26] matteolavaggi commented on #11186
@marionf performance? this is not performance! this is a controller / symfony bug big like an house ^^! What kind of performance can take 5 minutes to load a page and make fail to save product? we can sorto 1000 product in back office in 1/2 second, load every other page lightning fast!
What PERFORMANCE ?! There is lot of question around backend module page problem if you google ... We can update

[2018-10-30 17:37] marionf commented on #11186
@jocel1 what do you think ?

[2018-10-30 17:42] jf-viguier opened #11199 "Addresses changes not impacted when creating an order from another order"
**Describe the bug**
In backoffice, on order X, When you change delivery or invoice address, if you create an order Y from order X, the addresses modification are not impacted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an order
2. Change delivery or invoice address
3. Create a new order based on previous order
4. See that the suggested addresses are wrong

PrestaShop version: 1.6

[2018-10-30 17:46] matteolavaggi commented on #11193
Update: is something related to NGINX + APACHE setup. There is some expert that can work with me to diagnose? All other works great

[2018-10-30 17:50] giorgiosks commented on #11197
To try i deshability cache and force compilate templates in configuration. I have deleted that folders and reinstall the module but continue the same error.

SOLVED: I removed the folder modules/ps_wirepayment and put the new module from prestashop.zip and now working. THANKS FOR ALL @khouloudbelguith

[2018-10-30 17:50] jocel1 commented on #11186
according to the description, I would bet it's a session issue where at some point a backoffice page doesn't finish its loading somewhere, and it blockes all other page loading relying on php session (basically all BO pages). We need to fix all the bottleneck which could slow down BO pages, and work on a way to close the user session much (much!) sooner than what we have currently. I'll create a s

[2018-10-30 18:04] matteolavaggi commented on #11193
Update 2: is something related to every external proxy system like sucuri or nginx in front of apache or sucuri>nginx>apache.

So is something related to bad cache handled by prestashop , i think its fixable with some support.

[2018-10-30 18:10] #11197 closed, assigned to nobody

[2018-10-30 19:30] Maofree opened #11203 "Error to upgrade modules due from missing PEAR.php"
Hi
after an upgrade from 1.6.1.22 to 1.7.4.3 all was ok but now I get this problem to upgrade some default Prestashop's modules like statsvisits v1.6.1 to v2.0.2
this happens in debug mode, if it is disabled all is ok
I've already removed the cache's folders of /var/cahce/

**Screenshots**
![2](https://user-images.githubusercontent.com/653230/47744782-7add9000-dc82-11e8-99b7-7b17533f380d.png)

**A

[2018-10-30 20:18] z72diego commented on #9653
Hello! Is there any news about this bug? Thank you!

[2018-10-30 20:42] jocel1 commented on #11186
@matteolavaggi  FYI I'll try to take a look at the session issue in the upcoming days

[2018-10-30 22:28] firstred commented on #11181
Ahh, nvm. They are inputs, but focus is not visible and there's no tabindex set, so I cannot access the inputs by pressing tab all throughout the page. So this is an entirely different issue. Closing for now.

[2018-10-30 22:28] #11181 closed, assigned to nobody

[2018-10-31 07:45] khouloudbelguith commented on #11199
Hi @jf-viguier,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.3.
Thanks for the fix.

[2018-10-31 07:55] khouloudbelguith commented on #11197
Hi @giorgiosks,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2018-10-31 07:57] khouloudbelguith commented on #9653
Hi @z72diego,

This issue is added to our bug roadmap.
It is not fixed yet.
Thanks for your patience & your understanding!

[2018-10-31 08:03] khouloudbelguith commented on #10893
Hi @andromaque

Thanks for the fix: #11204

[2018-10-31 08:16] khouloudbelguith commented on #11193
Hi @matteolavaggi,

Could you please try to disable the Friendly URL in the BO > Shop Parameters > Traffic & SEO, clear cache & check if this issue happens again.
Thanks!

[2018-10-31 08:34] khouloudbelguith commented on #11203
Hi @maofree,

The statsvisits v1.6.1 is not compatible with 1.7.4.3.
Could you please try to re-install it.
So you can delete the statsvisits folder inti Project_Folder/modules/, then you need to install the latest version.
Thanks to check & feedback.

[2018-10-31 08:39] matteolavaggi commented on #11193
I've just try with friendly url disabled, nothing change. There is some nginx - apache expert in PS team that can collaborate with me to diagnose this ?

[2018-10-31 08:44] matks commented on #11033
@mickaelandrieu This topic is indeed not important, but since it is quite easy to handle I started the topic. If the work needed behind was bigger, I would have kept it for later.

[2018-10-31 09:00] khouloudbelguith commented on #11193
@matteolavaggi, okey thanks!
Did you have a check on this file: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf

[2018-10-31 09:04] marionf opened #11205 "Can't create a new folder in filemanager"
**Describe the bug**
Can't create a new folder in filemanager

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Product
2. Edit a product
3. Click on insert/edit an image
4. Click on source
5. Click on add new folder & fill the name
6. Click on OK

The folder isn't created

**Screenshots**

![capture d ecran_542](https://user-images.githubusercontent.com/13449658/47777123-51f5e

[2018-10-31 09:23] matteolavaggi commented on #11193
i dont use nginx for serving prestashop site.
I use nginx in front of apache so all the rewrite rules was handled by apache . nginx only serve static content, with these setup, and it work amazing fast:

``
http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

# -- LOGGING -- #

    log_format  main  '[$remote_addr] [$http_host] [$time_local] [Cache:$upstream

[2018-10-31 09:53] neich78 commented on #9903
I have Prestashop 1.7.4.3 and when filter in categories, the position column does not appear:
![captura de pantalla 2018-10-31 a las 10 49 53](https://user-images.githubusercontent.com/11721870/47780173-2c200c80-dcfb-11e8-80c5-785acba2d0b0.png)

[2018-10-31 09:56] #11051 closed, assigned to nobody

[2018-10-31 10:13] matks commented on #11107
See https://github.com/PrestaShop/PrestaShop/pull/11206

[2018-10-31 10:22] dineshbadrukhiya opened #11207 "Faceted filter doesn't shows attribute selection if category have only one product with same attribute or feature."
When Category have only one product with same attribute or feature, It doesn't shows filter option with that attribute or feature on left-column. It's necessary to show filter option if at least one product have same attribute or feature.

**To Reproduce**
Steps to reproduce the behavior:
1. Add product **B** in the category **A** and assign it feature or attribute **C**.
2. Now, Go to Faceted Fil

[2018-10-31 10:24] marionf opened #11208 "Can't navigate between pages if frendly URL is disabled"
**Describe the bug**
Can't navigate between pages if frendly URL is disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Disable frendly URL
3. Go to FO and click on all products link
4. Click on Page "2" or "Next"
5. You stay on the same page

The URL is
http://localhost/prestashop_1.7.4.4-rc1/index.php?controller=category&id_category=2&id_lang=1

[2018-10-31 10:38] Quetzacoalt91 commented on #11208
This will be fixed on 1.7.5.0 with https://github.com/PrestaShop/PrestaShop/pull/9214

[2018-10-31 10:43] matks commented on #11110
See https://github.com/PrestaShop/PrestaShop/pull/11209

[2018-10-31 10:45] khouloudbelguith commented on #11207
Hi @dbadrukhiya,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_facetedsearch
Thank you!

[2018-10-31 10:47] marionf commented on #11208
I don't have it on 1.7.4.3 🤔

[2018-10-31 10:51] marionf commented on #11208
Humm in fact it happens when debug mode is enabled when debug mode is disabled it works

[2018-10-31 10:51] #11208 closed, assigned to nobody

[2018-10-31 10:54] khouloudbelguith commented on #11208
Hi @marionf,

Related to this issue: #9639
Thanks!

[2018-10-31 10:57] khouloudbelguith commented on #11193
Hi @matteolavaggi,

Thanks for your feedback.
Our devs are not available this week but once they come back we'll ask them to have a look at this issue.
ping @PierreRambaud @eternoendless what do think of his issue?
Thanks!

[2018-10-31 11:08] khouloudbelguith commented on #11207
Hi @dbadrukhiya,

Thanks for the quick fix: https://github.com/PrestaShop/ps_facetedsearch/pull/47

[2018-10-31 11:09] matteolavaggi commented on #11193
Thanks, i can setup a test enviroment cloning my actual VM if needed.

[2018-10-31 11:11] khouloudbelguith commented on #11207
We can close this issue if your PR is merged.
Thanks!

[2018-10-31 11:11] dineshbadrukhiya commented on #11207
Sorry by mistake I have closed this issue. Thanks for reopening @khouloudbelguith .

[2018-10-31 11:12] BilalDr opened #11210 "Watermark module"
[Watermark module ](https://github.com/PrestaShop/watermark): Protect images by watermark

- [x] Allow to upload jpg, png as watermark (check this PR : https://github.com/PrestaShop/watermark/pull/15)
- [x] Update wording in the module
- [x] [Addons block](https://github.com/PrestaShop/PrestaShop/issues/11402)

Here is the [ZIP](https://github.com/PrestaShop/watermark/tree/cfb848a8055ed26cc0242610

[2018-10-31 11:33] dineshbadrukhiya opened #11211 "Font color should be consistence and visible in description tab of "Hummingbird_printed_t-shirt" in demo data."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Hummingbird_printed_t-shirt](http://fo.demo.prestashop.com/en/men/1-1-hummingbird-printed-t-shirt.html#/1-size-s/8-color-white)'
2. See the description tab.

**Screenshots**
![hummingbird](https://user-images.githubusercontent.com/40850057/47785472-df562900-dd2e-11

[2018-10-31 11:41] khouloudbelguith commented on #11211
Hi @dbadrukhiya,

Thanks for your report & your fix.
This issue exists in the 1.7.5.0 also.

[2018-10-31 11:56] dineshbadrukhiya commented on #11211
Hello @khouloudbelguith
There is Code Freeze for 1.7.5.0 and I don't know how to reference it for 1.7.5.0.

[2018-10-31 12:17] khouloudbelguith commented on #11211
Hi @marionf, what do you think, it should be added to the 1.7.5.?
Thanks!

[2018-10-31 12:24] maxtorete commented on #10784
I was struggling for two days to connect prestashop to my ssl secured remote database. I added PDO::MYSQL_ATTR_SSL_KEY, PDO::MYSQL_ATTR_SSL_CERT and MYSQL_ATTR_SSL_CA as suggested in opening post and it works now. Thanks @Bettelstab !

So it could be great if this can be configured in config files without hacking prestashop core.

Edit: Solution from @PierreRambaud doesn't work here either. I trie

[2018-10-31 12:33] marionf commented on #11211
This issue exists before 1.7.5.0, so no because we are in code freeze and we fixe only regressions of 1.7.5.0

[2018-10-31 13:55] marionf commented on #9903
@neich78

I see it on your screenshot

![capture d ecran_545](https://user-images.githubusercontent.com/13449658/47792746-effda380-dd1c-11e8-985e-dab17aea22ce.png)

[2018-10-31 14:31] HFRBanta commented on #10157
Have you find why ? it's very complicated because without invoice number, invoice is not legal and my clients do not want to pay them, thanks for your help,
Regards

[2018-10-31 14:32] khouloudbelguith commented on #10157
Hi @Ludofloria,

Sorry, not yet.
It is added to our bug roadmap.
Thanks for your understanding & your patience!

[2018-10-31 15:02] #11205 closed, assigned to nobody

[2018-10-31 15:05] drlogout opened #11213 "Confusing german translation"
**Describe the bug**

Confusing german translation.
Availability and delivery are both translated with "Lieferzeit", see screenshot. The first and second occurrences of "Lieferzeit" should in my opinion be replaced with "Verfügbarkeit". I would have send a PR but only found the read only TranslationFiles repo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Shop-Einstellungen -> Artik

[2018-10-31 15:25] #11110 closed, assigned to matks

[2018-10-31 15:28] #11107 closed, assigned to matks

[2018-10-31 15:30] khouloudbelguith commented on #11213
Hi @drlogout,

Thanks for your report.
In the product page, Shipping tab, `Lieferzeit` is displayed also.
![image](https://user-images.githubusercontent.com/16067358/47799102-e7f83080-dd29-11e8-8a7f-4aff66fcede4.png)
Thanks to check & feedback.

[2018-10-31 15:46] Comanche-aLike commented on #9665
I have the same problem.

[2018-10-31 16:00] khouloudbelguith commented on #9665
Hi @Comanche-aLike,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10294 to solve the issue.
Thanks!

[2018-10-31 16:52] khouloudbelguith commented on #11198
Hi @ridom,

No, you don't need to have a theme which is compatible with the theme-child to be sold on Addons.
Please be aware that the bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2018-10-31 16:52] #11198 closed, assigned to nobody

[2018-11-01 07:28] dineshbadrukhiya opened #11216 "Improvement needs on hover of "Ok" button of source code modal on product page"
Improvement needs on hover of Ok button of source code modal on product page

**To Reproduce**
Steps to reproduce the behavior:
1. BO > Product Page > Summary/Description Tab
2. Click on 'Sorce code icon'
3. Try to hover on "Ok" button. Background-color changes to transparent which should not be.

To fix it, We need to apply below style.
`.mce-primary.mce-btn:focus, .mce-primary.mce-btn:hover {

[2018-11-01 08:14] khouloudbelguith commented on #11216
Hi @dbadrukhiya,

Thanks for your report.
I manage to reproduce the issue with 1.7.4.3 / 1.7.5.0
![image](https://user-images.githubusercontent.com/16067358/47840411-787c5280-ddb6-11e8-8420-1928fa2b068c.png)
Thanks for the fix.

[2018-11-01 08:24] dineshbadrukhiya commented on #11216
Hi @khouloudbelguith
Does I need to open PR for this?

[2018-11-01 08:30] khouloudbelguith commented on #11216
Hi @dbadrukhiya,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
If you have problems, I can create a PR for you.
Thanks!

[2018-11-01 08:34] dineshbadrukhiya commented on #11216
Thanks @khouloudbelguith . It will be great if you open a PR for me.

[2018-11-01 10:01] khouloudbelguith opened #11217 "It is impossible to filter by position in the Attributes & Features page"
**Describe the bug**
In the Attributes & Features page, when we try to filter by position, the result is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog  => Attributes & Features page ( Attributes page OR Features page: same behavior)
2. You have at least more than one attribute
3. Filter by position
4. See the error, the result is incorrect

**Screenshots**
ht

[2018-11-01 12:18] arthtux opened #11218 "Install language if under the proxy"
**Describe the bug**
We can not install a language if under a proxy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **'/webtools/index.php?controller=AdminTranslations'**

**Screenshots**
![capture d ecran le 2018-11-01 a 08 16 26](https://user-images.githubusercontent.com/5318898/47851279-89c16100-ddae-11e8-884c-d173eb52513a.png)

**Additionnal information**
PrestaShop version: 1.7.4

[2018-11-01 13:23] khouloudbelguith commented on #11218
Hi @arthtux,

I tried to add a language when the proxy is enabled, & it is OK.
I did not manage to reproduce the issue with 1.7.4.0.
I attached a video record.
https://drive.google.com/file/d/1KcukhHvrLU8IFXQ9DFYx9JOYRZ46t4Dt/view
If you enable the debug mode, is there any exception displayed?
Thanks!

[2018-11-01 13:52] sector7digital opened #11219 "Specific Price Display on Product Page = 0. UNBELIEVABLE THAT THIS PROBLEM STILL EXISTS IN V1.6.1.22!!!"
**Describe the bug**
Add a specific price (leave base price ticked) like starting at 10 pieces and get a discount of 40%.
The product page displays 0,00 as price as soon as the spec price range is met (10 pieces).
This problem exists now since years and it's still not fixed. What is the problem?

**To Reproduce**
Install fresh 1.6.x version, add a product and set a spec price as written above (sta

[2018-11-01 14:01] khouloudbelguith opened #11220 "It impossible to Add the Gaeilge (Gaelic) language - Translations page"
**Describe the bug**

In the BO => International => Translations page, when we try to add the `Gaeilge (Gaelic)` language, an exception is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO => International => Translations page
2. In the ADD / UPDATE A LANGUAGE part, select the `Gaeilge (Gaelic)` language & try to add this language
3. See error

PS1.7.4.3 => OK
I make te

[2018-11-01 14:09] arthtux commented on #11218
Hi @khouloudbelguith,

your instance have a proxy setup in your apache?

[2018-11-01 14:21] khouloudbelguith commented on #11219
Hi @oliiix,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/8099 to solve the issue.
As there are too many changes in the theme, we can't merge this to prevent breaking other themes.
Thanks!

[2018-11-01 14:21] #11219 closed, assigned to nobody

[2018-11-01 14:42] khouloudbelguith commented on #11218
Hi @arthtux,

No, I just activated an extension proxy.
Thanks!

[2018-11-01 14:44] arthtux commented on #11218
ok
But the `file_get_contents` is execute on the server and not in your browser.

[2018-11-01 15:20] startech-france opened #11221 "mise a jour Click Upgrade bloqué"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Hello,
trying to update prestashop,
the update remains blocked.
1.7.4.2 ----> 1.7.4.3
**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-11-01 15:21] #11221 closed, assigned to nobody

[2018-11-01 15:25] startech-france opened #11222 "Mise a jour Click Upgrade bloqué"
**Describe the bug**
Hello,
trying to update prestashop,
the update remains blocked.
1.7.4.2 ----> 1.7.4.3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Click Upgrade
2. Click on upgrade prestashop now
3. 5 min after block
4. See error

**Screenshots**
![capture](https://user-images.githubusercontent.com/43042604/47861117-5ef8fc00-ddf2-11e8-9fbe-390b23a579ae.PNG)

**Additionnal infor

[2018-11-01 15:25] gnujeremie commented on #11007
I have the same error when I try to cancel an order I created in the BO, and assigned paypal payment method. Prestashop/Paypal tries to load the transaction, but there is not transaction ID so it fails and crash.
Do you want me to open a new ticket ?

PS: prestashop version 1.7.4.2

[2018-11-01 15:39] startech-france opened #11223 "the tax did not appear at the time of the settlement."
Steps to reproduce the behavior:
1- I am a professional supplier all my prices are to display free taxes on the site, my at the time of the payment the tax must be added, whereas in my case to me, it is displayed my does not add to the amount total. see the example below + screenshot attached.

Example:
the customer has to pay 272,03 €. the customer must pay the subtotal + delivery charges + taxes

[2018-11-01 15:43] khouloudbelguith commented on #11222
Hi @startech-france,

Could you please provide what is the exact version of the 1-click upgrade did you use?
Thanks!

[2018-11-01 15:48] khouloudbelguith commented on #11007
Hi @gnujeremie,

The Paypal module isn't developed by PrestaShop, but by one of our partner.
You can contact them here: https://support.202-ecommerce.com/fr/support/home
They are only can help you to solve this problem.
Thanks!

[2018-11-01 15:52] khouloudbelguith commented on #11218
@arthtux, to reproduce your issue, I need to activate the proxy module on apache?
Thanks!

[2018-11-01 16:01] ballashop opened #11224 "[PrestaShop] Fatal error in module Gamification"
**Describe the bug**
I try to upgrade the prestashop default module (one click, gamification ecc...) before update to the latest release 1.6.1.22.
The procedure was blocked during the update and showed the following error:
"**[PrestaShop] Fatal error in module file :domain/modules/gamification/gamification.php:
syntax error, unexpected '.', expecting ',' or ';'**"

After that was impossible to acc

[2018-11-01 16:03] startech-france commented on #11222
my prestashop 1.7.4.2

1-Click Upgrade
v4.4.0 - par PrestaShop

[2018-11-01 16:04] khouloudbelguith commented on #11223
Hi @startech-france,

Your issue should be solved in this ticket: #9999
We have also a list of similar issues added to our bug roadmap: https://github.com/PrestaShop/PrestaShop/issues/9703
Your ticket is a duplicate of #9999
So, I close it.
Thanks!

[2018-11-01 16:04] #11223 closed, assigned to nobody

[2018-11-01 16:04] khouloudbelguith commented on #11223
Duplicate of #9999

[2018-11-01 16:08] khouloudbelguith commented on #11224
Hi @ballashop,

What is the exact version of the gamification did you use.
A new version is released in the last few days: https://github.com/PrestaShop/gamification/releases
Thanks!

[2018-11-01 16:17] arthtux commented on #11218
yep.
If you are in centos or Redhat.
Close all output http traffic on your internet link.
Open only traffic on the http proxy on your internet link.
Setup your apache proxy with your http_proxy and https_proxy env var (in /etc/sysconfig/httpd file on Centos)
After you restart apache and normaly after you see this error.

If you have a trouble for this manipulation you can see your system administr

[2018-11-01 16:19] ballashop opened #11225 "Try update to the last minor release I've got this error: [Ajax / Server Error for action backupDb] textStatus: "error " errorThrown:" " jqXHR: " ""
**Describe the bug**
Dear staff,
after update the module, see issue #11224
I try to update to the Minor release, but I've got this error:
[Ajax / Server Error for action backupDb] textStatus: "error " errorThrown:" " jqXHR: " "
Before each operation I backed up the database and the entire site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to One Click Upgrade
2. Choose the minor releas

[2018-11-01 16:24] khouloudbelguith commented on #11222
@startech-france, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2018-11-01 16:24] khouloudbelguith commented on #11225
Hi @ballashop,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2018-11-01 16:28] gnujeremie commented on #11007
Thanks, I thought you where in charge too, because of this partnership. I'll see with them then !

Le 1 novembre 2018 17:03:54 GMT+01:00, khouloudbelguith <notifications@github.com> a écrit :

--
Jérémie

[2018-11-01 16:31] ballashop commented on #11225
Hi @khouloudbelguith where I can find it?
Because, into the module/autoupgrade folder I didn't find a tmp folder
and I don't have any autoupgrade folder in the main domain path.
Thanks to your fast reply.

[2018-11-01 16:32] ballashop commented on #11224
Hi @khouloudbelguith,
how can I discover it?
Thanks for your support.

[2018-11-01 16:36] khouloudbelguith commented on #11225
@ballashop, you can find it in the Project_Folder/Admin_folder/autoupgrade/tmp path.
Thanks!

[2018-11-01 16:39] khouloudbelguith commented on #11224
Hi @ballashop,

You find in the BO => Modules and services page, search for the gamification module & it should be displayed.
![image](https://user-images.githubusercontent.com/16067358/47865638-02e7a500-ddfd-11e8-8314-e8b4b57b2616.png)

Thanks!

[2018-11-01 16:41] startech-france commented on #11222
I can not find the log.txt file

![capturemodule](https://user-images.githubusercontent.com/43042604/47865749-4e9a4e80-ddfd-11e8-9add-7bbdf06f274a.PNG)

[2018-11-01 16:44] ballashop commented on #11225
Hi @khouloudbelguith there are sensitive data, can I send you in private way?

[2018-11-01 16:47] khouloudbelguith commented on #11225
Hi @ballashop,

This is a public space.
You can provide me the log file by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2018-11-01 16:48] khouloudbelguith commented on #11222
Hi @startech-france,

you can find it in the Project_Folder/Admin_folder/autoupgrade/tmp path.
Thanks!

[2018-11-01 16:48] kodarco opened #11226 "Discount includes tax and shows up inconsitently in product and in checkout"
In the example on the screenshot below, discount is created in amount of $15 tax excl.
For non-logged in customers the discount on the product listing shows "SAVE $15.90" Why???
Why is discount showing with tax included for non-logged in customers?

Also, when you add item to the shopping cart, the stricken through price shows $50.88 which is a product price with the tax. Why does it show like tha

[2018-11-01 16:50] ballashop commented on #11225
I did, thanks

[2018-11-01 16:55] ballashop commented on #11224
:) thanks,
I put the backuped version because, the update one gove me a "http ERROR 500".
<img width="1066" alt="schermata 2018-11-01 alle 17 52 10" src="https://user-images.githubusercontent.com/28685316/47866433-08de8580-ddff-11e8-8b2f-29acda6d565d.png">
I downloaded the 2.2 version, I've just to copy files?
Or by the Zip file?
Thanks a  lot.

[2018-11-01 16:57] khouloudbelguith commented on #11225
@ballashop, thanks.
I just received the e-mail.
I will check & feedback.

[2018-11-01 17:02] ballashop commented on #11225
Ok, thank you.

[2018-11-01 17:08] khouloudbelguith commented on #11218
@arthtux,

Thanks for this clarifications.
I will check & feedback.
Thanks!

[2018-11-01 17:10] khouloudbelguith commented on #11225
@ballashop,

In your log file, I have this error (The same that you attached in the screenshot) =>  [INTERNAL] /XXXXXXXXXXXX/modules/autoupgrade/classes/UpgradeTools/Translator.php line 90 - sprintf(): Too few arguments.
@Quetzacoalt91 what do you think?
Thanks!

[2018-11-01 17:16] khouloudbelguith commented on #11226
Hi @kodarco,

Thanks to navigate to the BO => Shop Parameters => Customer Settings => Groups Tab => Edit the "Visitor" group and check the Price display method.
It should be "Tax included".
Also, this is an issue fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/11103
Your ticket is a duplicate of #9696
So, I close it.
Thanks!

[2018-11-01 17:16] #11226 closed, assigned to nobody

[2018-11-01 17:17] khouloudbelguith commented on #11226
Duplicate of #9696

[2018-11-01 17:19] startech-france commented on #11222
log.txt
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2539406/log.txt)

[2018-11-01 17:19] khouloudbelguith commented on #11224
@ballashop, if you enable the debug mode, is there any exception displayed?
You can enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`

… and change it to:

`define('_PS_MODE_DEV_', true);`
Thanks!

[2018-11-01 17:26] ballashop commented on #11224
@khouloudbelguith

Warning: Invalid argument supplied for foreach() in
path_domain/override/classes/Dispatcher.php on line 176

Warning: Invalid argument supplied for foreach() in
path_domain/override/classes/Dispatcher.php on line 176

this is a problem that I have for some time and concerns a module "pretty url", the developer of the module told me that this error does not affect the operation o

[2018-11-01 17:31] ballashop commented on #11225
@khouloudbelguith @Quetzacoalt91
does this error affect to the site?
now it's in the maintenance state, can I show it again?
Or should I restore the site and database backup?
Thanks for your support.

[2018-11-01 18:05] gudmund1 commented on #9872
I also have this issue in PS version 1.7.3.2.
Any idea when there will be a solution to this?
Thank you

[2018-11-01 19:12] AJenbo opened #11227 "WebService is broken on php 7.2 with display_error=on"
**Describe the bug**
WebService is broken recent versions with the API simply responding with an error message for all endpoints.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up prestashop 1.7.4.3 on PHP 7.2.11 and make sure that display_error is on.
2. Enable WebService and generate a token
3. Go to /webservice/dispatcher.php and enter the token as you username (no password)
4. You s

[2018-11-01 19:20] AJenbo commented on #11227
It appears that this was fixed 3 months ago (https://github.com/PrestaShop/PrestaShop/commit/8662b3a50eae1ca7e6f6de02b419f123ba2ceee8) in 1.7.5.x but the issue is applicable to all other versions (1.6.1.x, 1.7.0.x-1.7.4.x), please cherry pick this fix for the 1.7.4.x branch as this version is reported as being php 7.2 compatible and 1.7.5.x is not released yet.

[2018-11-01 21:21] firstred opened #11229 "Logger::addLog does not log from from the front office"
**Describe the bug**
When you call `Logger::addLog` from the front office, it will not log anything. This worked on 1.6 and in the back office.

**To Reproduce**
Grab some module that hooks to the front office. Add `Logger::addLog('message');` to the code and notice how it won't land in the database.

**Screenshots**
N/A

**Additional information**
PrestaShop version: 1.7.5, likely more affected
P

[2018-11-01 21:24] firstred opened #11230 "$this->fetch does not work from the back office"
**Describe the bug**
`$this->fetch` on a module's configuration page always returns an empty string.

**To Reproduce**
Add a template to the `views/templates/hook` folder of a module. Call `$this->fetch("module:{$this->name}/views/templates/hook/template.tpl');` from the module's `getContent` function. Contrary to `$this->display(__FILE__, 'template.tpl');` it will not output anything. When you ca

[2018-11-01 21:26] mrballer opened #11231 "docker-compose up: no working instance"
**Describe the bug**

Error Message: prestashop-git | \n* Waiting for confirmation of MySQL service startup

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/PrestaShop/PrestaShop.git
2. cd PrestaShop
3. docker-compose up

[2018-11-01 21:29] firstred opened #11232 "Every single click on the delivery option block causes a refresh"
**Describe the bug**
Every single click on the delivery option block causes a refresh (including the "Checkout" button), which makes this step in the checkout really janky. This is especially noticeable as soon as you add modules that add additional HTML.

I would recommend to only refresh when the radio inputs change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the checkout, navig

[2018-11-01 21:36] firstred commented on #11231
This could be related to the fact that the `docker-compose.yml` does not have a fixed port.

You can try mapping the port `"3306"` => `"33068:3306"` for example.

Also, what does your environment look like? Is it recent enough?

With
[code]
I had no problems.

[2018-11-01 21:59] firstred commented on #11229
The bug seems to be in the AdminLogs controller. It does not list every single log entry. I wonder why...

[2018-11-01 22:01] firstred commented on #11229
![screenshot from 2018-11-01 23-00-06](https://user-images.githubusercontent.com/6775736/47882469-e746c380-de29-11e8-8901-ed664769b833.png)

Huge gap in the listing. Yuuuuuge.
![](https://media.tenor.com/images/f865c67834547565f91c7de6a346f56a/tenor.gif)

[2018-11-01 22:10] firstred commented on #11229
It should not do an `INNER JOIN` on `id_employee`, but a `LEFT JOIN` instead.

[2018-11-02 01:00] firstred opened #11233 "Unable to set order status template"
**Describe the bug**
It is not possible to set the corresponding template of an order status.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Order Settings > Statuses
2. Select a status
3. Try to change the template
4. It shows an empty dropdown

**Screenshots**
![screenshot from 2018-11-02 01-59-03](https://user-images.githubusercontent.com/6775736/47888142-0736b100-de43-11e8-9

[2018-11-02 04:18] mehdi-ghezal opened #11234 "Cannot setup DEV Mode from BO when a defines_custom.inc.php is defined"
**Describe the bug**

When we have a custom configuration in defines_custom.inc.php ; if we don't put the _PS_MODE_DEV_  constant in the file, we cannot update DEV Mode from BO.

**To Reproduce**
Create a defines_custom.inc.php
Go to BO
Enable DEV Mode
You have a success message but the DEV Mode is not enabled

**Additionnal information**
PrestaShop version: 1.7.3
PHP version: 7.1

[2018-11-02 07:53] khouloudbelguith commented on #11224
Hi @ballashop,

Could you please try to uninstall this module "Gamification", delete the "gamification" folder from your Project_Folder/modules/ path, & try to re-install the latest version of this module, you can search it in the BO => Modules and services page.
Thanks to check & feedback.

[2018-11-02 07:56] marionf commented on #11217
@matks do you think we can solve this one during the migration of the page ?

[2018-11-02 07:57] ballashop commented on #11225
Hi @khouloudbelguith
of course, I do immediately thanks

[2018-11-02 08:02] khouloudbelguith commented on #11233
Hi @firstred,

Thanks for your report.
I did not manage to reproduce your issue using the last update "1.7.5.x" & the PS1.7.5.0build1beta2.
I attached a video record.
https://drive.google.com/file/d/1Ubefc4hD1T17axPvsu7-sL-wdZH0KB-W/view
Thanks to check & feedback.

[2018-11-02 08:03] ballashop commented on #11224
Hi @khouloudbelguith
of course, I do immediately thanks

[2018-11-02 08:06] khouloudbelguith commented on #11229
Hi @firstred,

Do you have a module calling the `Logger::addLog` from the front office? It will allow us to do the regression tests.
Thanks!

[2018-11-02 08:07] ballashop commented on #11224
Hi, the module I found is the same version of the one previously installed, do I install anyway?
<img width="1185" alt="schermata 2018-11-02 alle 09 05 43" src="https://user-images.githubusercontent.com/28685316/47900885-bd6bbc00-de7e-11e8-93af-13f3aba1b1e8.png">
Thanks

[2018-11-02 08:17] khouloudbelguith commented on #11227
Hi @AJenbo,

The branch 1.7.4.x receives only security patches, it would like to avoid to merge anything else so as not to end up with surprise regressions.
The issue is fixed in the 1.7.5.0, it wasn't necessary to create a new one.
So, this one can be closed.
Thanks!

[2018-11-02 08:17] #11227 closed, assigned to nobody

[2018-11-02 08:17] khouloudbelguith commented on #11227
Duplicate of #9439

[2018-11-02 08:21] khouloudbelguith commented on #9872
Hi @gudmund1,

Sorry, not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-11-02 08:22] firstred commented on #11233
With the last update, do you mean a nightly?

[2018-11-02 08:57] Quetzacoalt91 commented on #11225
@ballashop no need to restore anything. If the process failed at the step backupDb, nothing has been changed on the shop. You can directly disable the maintenance mode.

I'll have a look at this Translator issue, it could be related to the latest release.

[2018-11-02 08:57] khouloudbelguith commented on #11224
Hi @ballashop,

The "gamification" module is updated.
![image](https://user-images.githubusercontent.com/16067358/47904638-abd9e280-de85-11e8-984f-eea08a247a14.png)
Did you delete the "gamification" folder from your Project_Folder/modules/ path?
Thanks!

[2018-11-02 09:03] khouloudbelguith commented on #11233
@firstred, I make a test on the machine shuffle, nightly Prestashop & I did not manage to reproduce the issue.

[2018-11-02 09:17] firstred commented on #11233
Default configuration works, indeed. There is something else on my test environment that breaks it. I am on the latest source and the docker configuration you provide.

[2018-11-02 09:23] ballashop commented on #11225
@Quetzacoalt91 thanks for your reply.
Tomorrow, I will put the site under maintenance and try to update again.
I'm waiting your next kind response.
Thanks a lot.
Best regard

[2018-11-02 09:24] Quetzacoalt91 commented on #11231
Binding the port is important when you want to reach the sql instance from your host, this is unlikely causing the issue here.
Have you modified the docker-compose.yml before starting it? A network is supposed to be created when you start the stack in which the containers can see each other. I've tested and the mysql container is reachable.

For instance here:
[code]

[code]

[2018-11-02 09:27] ballashop commented on #11224
Hi @khouloudbelguith I found the gamification module and I installed it.
No error appeared and I work without problems within the BO.
Thanks a lot.

[2018-11-02 09:27] firstred commented on #11233
The cause seems to be an empty language folder in the `mails` folder.

I can see that `/mails/en/` is filled, but `/mails/nl/` is just empty. Closing this issue as I can confirm the template select indeed works.

[2018-11-02 09:27] #11233 closed, assigned to nobody

[2018-11-02 09:34] firstred commented on #11230
Here's an example module to test.
[testfetch.zip](https://github.com/PrestaShop/PrestaShop/files/2541873/testfetch.zip)

It should display `It is working!`, but the configuration page stays empty:
![screenshot from 2018-11-02 10-34-04](https://user-images.githubusercontent.com/6775736/47907083-d8442d80-de8a-11e8-92fc-9f06e8c5a523.png)

[2018-11-02 09:39] firstred commented on #11229
Here's a module you could try. It logs automatically from the front office and for the back office you should visit its configuration page.
[testlog.zip](https://github.com/PrestaShop/PrestaShop/files/2541887/testlog.zip)

Notice how it lands in the database:
![screenshot from 2018-11-02 10-38-03](https://user-images.githubusercontent.com/6775736/47907424-85b74100-de8b-11e8-94d4-7d12c21c19da.png)

[2018-11-02 09:42] khouloudbelguith commented on #11232
Hi @firstred,

I manage to reproduce the issue with PS 1.7.5.0 / 1.7.4.3.
https://drive.google.com/file/d/19-QIheJgtkjHXVW-tCeXvavrGDnenozo/view
@marionf what do you think?
Thanks!

[2018-11-02 09:54] AndreyOgleznev commented on #11127
Hi guys,
by manual updating PayPal module to its latest version 4.4.2 the shipping cost calculation error was minimized to an acceptable level.
Thank you!

[2018-11-02 09:57] #11127 closed, assigned to nobody

[2018-11-02 10:01] khouloudbelguith commented on #11231
Hi @nfmaroc,

I think that the issue related to the MySQL tag is fixed by https://github.com/PrestaShop/docker/pull/129
Please be aware that the project should be used to report issues related to the Prestashop core.
You need to create an issue on this project: https://github.com/PrestaShop/docker/issues
Thanks for your report.

[2018-11-02 10:05] khouloudbelguith commented on #11224
Hi @ballashop,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-02 10:05] #11224 closed, assigned to nobody

[2018-11-02 10:08] AndreyOgleznev opened #11238 "Order currency different from payment currency"
**Describe the bug**
Having multiple currencies enabled in the shop and accepting payment only in one default shop currency the order is creating with a user selected currency, which makes a huge problem with online taxation in my country and some payments modules. I think the order must be created in the same currency as the payment accepted as that was in PS 1.6.

**To Reproduce**
Steps to repro

[2018-11-02 11:01] khouloudbelguith commented on #11218
Hi @arthtux,

[code]
 I defiened a proxy reverse https on http
![image](https://user-images.githubusercontent.com/16067358/47911728-83a6af80-de96-11e8-93cc-897ce498410a.png)
I activated the modules proxy & proxy_http
But I did not manage to reproduce the issue with PS 1.7.4.3
I attached a video record.
https://drive.google.com/file/d/1yAXVMYgfK5HvMu3tDV0rTbjdA1qlRQYx/view
Thanks to check & feedbac

[2018-11-02 11:04] khouloudbelguith commented on #11127
Hi @AndreyOgleznev,

Thanks for your feedback.
Feel free  to open a new one when needed.
Thanks!

[2018-11-02 11:22] khouloudbelguith commented on #11230
Hi @firstred,

Thanks for your report.
I manage to reproduce the issue with 1.7.4.3 / 1.7.5.0.
When I click on the "Configure" button, the configuration page is displayed & it stays empty.
The `It is working!` expression is not displayed.

[2018-11-02 11:31] khouloudbelguith commented on #11229
@firstred, thanks for your report.
In the 1.7.4.3, it is OK.
![image](https://user-images.githubusercontent.com/16067358/47913058-f1ed7100-de9a-11e8-8034-8c24349322eb.png)
But in the 1.7.5.0, it is NOK, I manage to reproduce the issue.
In the DB, I have:
![image](https://user-images.githubusercontent.com/16067358/47913079-0f223f80-de9b-11e8-818f-89fdd7fdf823.png)
But in the logs page, the `Logger:

[2018-11-02 11:50] jachymb opened #11240 ""TECHNICAL ERROR: parsererror" when adding a carrier weight range"
**Describe the bug**
When trying to add a carrier weight range and press "Finish", I get an alert with the following and no result:

    TECHNICAL ERROR:

    Details:
    Error thrown: [object Object]
    Text status: parsererror

I have found this [discussion thread](https://www.prestashop.com/forums/topic/217531-help-details-error-thrown-object-object-text-status-parsererror/) where many users

[2018-11-02 11:52] khouloudbelguith commented on #11238
Hi @AndreyOgleznev,

Have you the same issue described in this ticket: #9850?
Thanks!

[2018-11-02 11:55] khouloudbelguith commented on #11240
Hi @jachymb,

We did not manage to reproduce the issue with PS1.7.4.2. / 1.7.4.3.
But you can take a look at this ticket: http://forge.prestashop.com/browse/BOOM-5506
It could help to solve your problem.
Thanks to check & feedback.

[2018-11-02 12:18] #11162 closed, assigned to jolelievre

[2018-11-02 12:18] #11040 closed, assigned to jolelievre

[2018-11-02 12:18] #11146 closed, assigned to jolelievre

[2018-11-02 12:21] jachymb commented on #11240
Sorry, to be precise, the version I use is actually 1.7.4.1

[2018-11-02 12:31] firstred commented on #11229
Hi @khouloudbelguith

Sorry, I don't have enough time to figure out how this page has been migrated to Symfony, so I am not able to update the query to make it work.

Maybe @mickaelandrieu can chime in on this one?

[2018-11-02 12:48] AndreyOgleznev commented on #11238
Hi,
Puh...there is something in common, but I'm not sure that's the same issue.
I don't care about DB fields in this case, I care about business operations to be made right.

[2018-11-02 12:54] Maofree opened #11241 "Some problems with displayOverrideTemplate hook"
Hi

today I've seen the new hook, so from here it is possible to do some override like does the module ps_legalcompliance.

I tested this solution it works but not completely
I want to override the copyright_link block
it works but in the front-office I get only the footer code, the rest is not present

{extends file='_partials/footer.tpl'}
{block name='copyright_link'}
some text
{/block}

I see t

[2018-11-02 13:36] khouloudbelguith commented on #11238
Hi @AndreyOgleznev,

After following all the steps, in the BO => Orders => Order details, in the payment par,t, I found this
![image](https://user-images.githubusercontent.com/16067358/47918377-bc518380-deac-11e8-8974-2757f7ef36a6.png)
I used the Cash on Delivery payment module.
What is the exact payment module did you use?

[2018-11-02 13:52] sitte opened #11242 "ps_emailalerts unable to save email title translation, core translation is saved in theme"
**Describe the bug**
I think it's all problem with translation destination (core/theme) :
ps_emailallert (example) title translations is not saved
editing core translation saves translation into theme dir not in module translation dir

**To Reproduce**
On fresh installation of 1.7.4.3 i install ps_emailallert module.
Go to international>translations>Email Translations>Body>Core>Polish (or other no

[2018-11-02 13:56] khouloudbelguith commented on #11242
Hi @sitte,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9599
So, I close it.
Thanks!

[2018-11-02 13:56] #11242 closed, assigned to nobody

[2018-11-02 14:09] khouloudbelguith commented on #11240
Hi @jachymb,

I did not manage to reproduce the issue with PS1.7.4.1:
https://drive.google.com/file/d/1ZtuXJMmNkXmWdewIGBU5nKuDt3E5FKH_/view
Thanks!

[2018-11-02 14:14] Quetzacoalt91 commented on #11225
The translation issue seems unrelated. You should check the server logs if you can access them. This error could be cause by a storage or memory issue, a rule by your hosting provider which prevents to use too many CPU, I/O resources...

Could you please have a look at your server logs? If the scripts stop without providing details, there is nothing I can do.

[2018-11-02 14:20] ballashop commented on #11225
Hi @Quetzacoalt91,
I immediately ask to the hosting service to get more information.
I hope to receive assistance asap.
Thanks

[2018-11-02 14:21] khouloudbelguith commented on #11234
Hi @mehdi-ghezal,

You can create a file `config/defines_custom.inc.php` next to `config/defines.inc.php`.
At startup Prestashop checks if this file exists. If it exists then it is included before the default one.

You can find the related code in config/config.inc.php :

[code]
This way you can for example set mode dev on without touching the default file:

```define('_PS_MODE_DEV_', true);```

A

[2018-11-02 14:42] AxelMHA opened #11243 "Plus accès à l'admin"
Bonjour,

**Describe the bug**

J'ai créé ma boutique en ligne ce midi. Mon hébergement est php.net
Je pouvais encore avoir accès au back office il y a quelques minutes avant le changement d'URL
Mon site est le suivant : http://my-hero-academia.fr
J'avais accès au back office via cette URL : http://tbk9716.phpnet.org/prestashop et le site n'était accessible que via cette adresse (http://tbk9716.ph

[2018-11-02 14:47] sybon opened #11244 "BUG in Customer Thread"
Dear Community,

IN PS 1.7.3 und ps 1.7.4, each time I want to read the customer threads in admin panel, click on SAV (CustomerThread) :
https://science-de-la-conscience-magazine.fr/admin792tnernx/index.php?controller=AdminCustomerThreads&id_customer_thread=12&viewcustomer_thread&token=c22d1e1cf564deae768926674a25fb38
I get this page with this error message in Firefox (see screenshot in attach):
«

[2018-11-02 14:51] MathiasReker commented on #11244
Please enable debug mode

[2018-11-02 15:01] sybon commented on #11244
Hi thanks for ur reply.
I have switched to debug mode but in this moode, i can t reproduce the problem : it work perfectly.
strange. Any explanation ?

[2018-11-02 15:05] khouloudbelguith commented on #11243
Hi @AxelMHA,

The page doesn't exist `my-hero-academia.fr/admin` because the admin folder is renamed automatically for security reasons.
You need to check the new name of this folder
To access to the BO => You need to acces to this URL => my-hero-academia.fr/**admin-folder-after-renaming**
If it is ok, could you please try to naviagate to the BO => Preferences => SEO & URLs, disable the Friendly U

[2018-11-02 15:08] khouloudbelguith commented on #11244
Hi @sybon,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) for the PS 1.7.4 and the folder into app/cache (prod & dev) for the PS 1.7.3
Thanks to check and feedback.

[2018-11-02 15:13] AndreyOgleznev commented on #11238
Great. Looks like you were able to reproduce the issue. Since the payment was in rubles, but not in US$, right?
I used PayPal module and some Russian bank module with the same result.

[2018-11-02 15:19] khouloudbelguith commented on #11238
@AndreyOgleznev, no in FO I selected the $ as a currency, then I created the order.
But, in the BO => Order details, the $ currency is displayed & not the Russian Ruble.
Thanks!

[2018-11-02 15:22] sybon commented on #11244
Hi khouloudbelguith, Thanks for ur replay. Is it safe to remove all these files in var/cache/prod and var/cache/dev ?

[2018-11-02 15:23] khouloudbelguith commented on #11162
Hi @jolelievre, @marionf,

In the 1.7.5.0 build4, when I create a new SEO page, the creation of the SEO page is OK, but the green alert is not displayed, as in the 1.7.4 / same issue with the edit action.
![image](https://user-images.githubusercontent.com/16067358/47924170-73ed9200-debb-11e8-95d8-0ff6d3bb4589.png)
Thanks!

[2018-11-02 15:25] #9942 closed, assigned to nobody

[2018-11-02 15:25] #9717 closed, assigned to nobody

[2018-11-02 15:25] AndreyOgleznev commented on #11238
In which currency was the payment made in your case?

[2018-11-02 15:27] khouloudbelguith commented on #11238
@AndreyOgleznev, with the  $ currency.
Thanks!

[2018-11-02 15:29] khouloudbelguith commented on #11244
@sybon, they are cache files.

[2018-11-02 15:30] marionf commented on #11162
Yes, I know, we talked about this wednesday and need to discuss to choose if we display the migrated page or the legacy one for 1.7.5.0 as this regression is minor

[2018-11-02 15:31] AndreyOgleznev commented on #11238
and what's the shop default currency in your case?

[2018-11-02 15:32] khouloudbelguith commented on #11241
Hi @maofree,

After installing your module, I have issues in the Front office.
![image](https://user-images.githubusercontent.com/16067358/47924766-d004e600-debc-11e8-93b9-3036ea9dcd5a.png)
Thanks to check & feedback.

[2018-11-02 15:33] sybon commented on #11244
ok, i have removed all of them... but the error remains the same. Thanks for ur help anyway

[2018-11-02 15:34] khouloudbelguith commented on #11162
Thanks @marionf !

[2018-11-02 15:36] khouloudbelguith commented on #11238
@AndreyOgleznev, it is Russian Ruble.
![image](https://user-images.githubusercontent.com/16067358/47925005-60dbc180-debd-11e8-8aac-644e8d054a54.png)
Thanks!

[2018-11-02 15:37] khouloudbelguith commented on #11244
Hi @sybon,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-

[2018-11-02 15:41] AndreyOgleznev commented on #11238
If I set CURRENCY RESTRICTIONS for payment methods=Shop default currency (i.e. Russian rubles) I can make payment via PayPal only in Russian rubles. That makes a difference, right?

[2018-11-02 15:44] sybon commented on #11244
Thank you for your support,

My ps 1.7.4 is on OVH server in France.
i have tried to get acess to php_error.log via ssh but i get the message : permission denied

[2018-11-02 16:01] khouloudbelguith commented on #11238
@AndreyOgleznev, yes, it is a normal behavior.
In your case, the Shop default currency is Russian rubles.
Also, you set CURRENCY RESTRICTIONS for payment methods **Paypal** to Shop default currency.
So, with Paypal, you will be allowed to use the Russian rubles currency only to make an order with Paypal.
![image](https://user-images.githubusercontent.com/16067358/47926449-de550100-dec0-11e8-94c9-0

[2018-11-02 16:03] khouloudbelguith commented on #11244
@sybon, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
If you don't have it, you should ask to your hosting provider.

[2018-11-02 16:10] AxelMHA commented on #11243
Hello,

Thank you for your reply.

Unfortunatly, I don't know what kind of folder do you mean ?

The only thing I changed was the URL in the BO settings

[2018-11-02 16:14] AndreyOgleznev commented on #11238
Yes, that's normal.
But why the order is created with $ but not rubles in my case? I need it to be in rubles also for taxation.
And why you can pay with $ but not rubles in your case?

[2018-11-02 16:18] AxelMHA commented on #11243
I've found the acces to the admin

Thank you again for your time, last thing :
Where is the "Friendly URL" option ?

[2018-11-02 16:19] khouloudbelguith commented on #11222
@startech-france, there is no error in your log file, it could be a server error.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2018-11-02 16:21] khouloudbelguith commented on #11243
@AxelMHA, in the BO => Preferences => SEO & URLs page.
Thanks!

[2018-11-02 16:24] khouloudbelguith commented on #11238
@AndreyOgleznev, in the FO, you select the US$ as a currency.
If I use the Cash on Delivery payment module, So I can use all the currencies, they are all checked in the currencies restrictions.
Thanks!

[2018-11-02 16:35] khouloudbelguith opened #11247 "Module Manager page - Oops! An Error Occurred"
**Describe the bug**
In the BO => IMPROVE => Modules => Module Manager page, I cannot access to this page.
`Oops! An Error Occurred`
The Debug mode is disabled, if we enable the debug mode => OK.

**To Reproduce**
Steps to reproduce the behavior:
The debug mode should be disabled
1. Go to BO => IMPROVE => Modules => Module Manager page
2. See error

**Screenshots**
![image](https://user-images.git

[2018-11-02 16:36] khouloudbelguith opened #11248 "Module Manager page - Oops! An Error Occurred"
**Describe the bug**
In the BO => IMPROVE => Modules => Module Manager page, I cannot access to this page.
`Oops! An Error Occurred`
The Debug mode is disabled, if we enable the debug mode => OK.

**To Reproduce**
Steps to reproduce the behavior:
The debug mode should be disabled
1. Go to BO => IMPROVE => Modules => Module Manager page
2. See error

**Screenshots**
![image](https://user-images.git

[2018-11-02 16:42] #11248 closed, assigned to nobody

[2018-11-02 17:09] Quetzacoalt91 commented on #11247
Details:

`[2018-11-02 18:08:51] request.CRITICAL: Uncaught PHP Exception Twig_Error_Runtime: "An exception has been thrown during the rendering of a template ("Catchable Fatal Error: Object of class stdClass could not be converted to string")." at /home/thomas/Documents/github/PrestaShop-beta/modules/ps_mbo/views/PrestaShop/Admin/Module/Includes/grid_manage_empty.html.twig line 28 {"exception":"[

[2018-11-02 17:13] Maofree commented on #11241
HI @khouloudbelguith
yes I have the same problem
in fact the hook displayOverrideTemplate does not work very well
the override works but then in the front office will be present only the footer html code, the rest is not present

there is something wrong around this displayOverrideTemplate hook

[2018-11-02 17:18] Quetzacoalt91 commented on #11247
Fixed by https://github.com/PrestaShop/ps_mbo/pull/62

[2018-11-02 19:14] AndreyOgleznev commented on #11238
But we are talking about CURRENCY RESTRICTIONS for payment methods=Shop default currency, not all the currencies.

Well, how can I get orders in Shop default currency no matter which currency was selected by the user?

[2018-11-02 23:38] lupitaflowers3 opened #11250 "Error on install dev-version"
**Describe the bug**
Im installing version dev on windows with xampp but in the last step I see an error
Failed to unzip 'C:\xampp\htdocs\PrestaShop/translations/cldr\core.zip'. I try to unzip directly but I get an error El archivo tiene un formato desconocido o esta dañado

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:8080/prestashop/install-dev'
2. Configure all t

[2018-11-03 06:58] BenTen opened #11251 "Impossible to modify or delete an address in Japanese."
**Describe the bug**
Impossible to modify or delete an address in your profil in Japanese.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Japanese Language Pack
2. Create account and go to the url http(s)://example.com/ja/住所 to modify or delete your address.
3. Even it's the option "Accented URL" is activate, you can't modify or delete the address.

**Additionnal information**
Prest

[2018-11-03 10:51] polaije opened #11252 "ZIP code in address checked wrong don't display the error"
**Describe the bug**
When a customer enter a new address, or modify it, and the zip code is not corresponding to the format for the country (see admin), the address is not saved and no error is displayed, the address page is relaoded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to address in order page
2. Enter a not correct zip code, like 4680 for Holland (correct is 4680NA), the for

[2018-11-03 16:21] #11090 closed, assigned to nobody

[2018-11-03 20:49] jachymb commented on #11240
I can provide any details from my configuration, if you could suggest what information could possibly be relevant.

[2018-11-03 21:12] jachymb commented on #11240
I tried to debug it a little in the browser console. The error happens at line 150 of `carrier_wizard.js` There is an `errorThrown` object which has the following message `"Unexpected token < in JSON at position 0"` The `responseText` field in the `XMLHttpRequest` contains some html which is apparently not what the script expects. The response status there is 200 OK, though. The html is a relative

[2018-11-03 21:25] jachymb commented on #11240
I discovered a workaround - deleting the carrier and adding a new one instead fixed the problem for now. But that's not a real fix. I am unsure what was the cause behind it.

[2018-11-03 21:27] jachymb commented on #11240
This seems relevant http://forge.prestashop.com/browse/BOOM-3310 there is a merged PR that should allegedly fix a very similar problem but as I said, I have the bug in  1.7.4.1 which is after the PR has been merged https://github.com/PrestaShop/PrestaShop/pull/8097

[2018-11-04 09:32] Caleydon opened #11253 "The translation tool saving translations always into en.php"
**Describe the bug**
The translation tool for installed modules saving translations into en.php no matter which language is editing.

**To Reproduce**
Steps to reproduce the behavior:
1. Add another language in PrestaShop, e.g. French
2. Back office - Go to module Modules > Module catalog.
3. Chose and install any module, e.g. ps_faviconnotificationbo
4. Go to International > Translations, select

[2018-11-04 09:45] Caleydon opened #11254 "BO: Page header overlap modal windows"
**Describe the bug**
BO: Page header overlap modal windows on some pages. Please see the video to reproduce the bug.

**Video**
https://vimeo.com/298824399/853e595698

**Additionnal information**
PrestaShop version: PrestaShop 1.7.5.0 (nightly build 2018-10-30)
PHP version: 7.2.1

[2018-11-04 10:34] amtriorix opened #11255 "Multistore login and default scope"
Problem:
In a multistore, when You login to a substore, using their URL and backend, the scope is wrongly set to all shops. Which makes it difficult to admin if You do not take care to put the right scope in a substore,
managing a substore.

Proposed solution:
1) Login at the backend from a store
2) check ENV VAR of the URL for domainname
3) Lookup domainname in stores to find bound store
4) Set s

[2018-11-04 13:34] snowycatsoftware commented on #11230
Why was the assignment removed. Seems like you don't care about this mayor bug. This is preventing developers from using 1.7 templating system.

[2018-11-04 17:50] manfield commented on #9687
Hi, I'm experiencing the same exact issue.

[2018-11-04 18:18] manfield commented on #9687
Alright, this is the fix:

AdminOrderController.php line 3019

Method should retrieve customer's groups and passing  them to the getCarriersForOrder static function:

[code]
I'm going to open a merge request on that.

[2018-11-04 20:15] PrestaHeroes commented on #15199
via  phpmyadmin, export schema, download and then search for bit.  We found it in askforquote module table.

[2018-11-05 07:55] khouloudbelguith commented on #11250
Hi @lupitaflowers3,

Did you clone the  PrestaShop project from [GitHub](https://github.com/PrestaShop/PrestaShop), then you installed it?
Did you use any branch? develop or 1.7.5.x?
Thanks!

[2018-11-05 08:05] khouloudbelguith commented on #11251
Hi @BenTen,

Thanks for your report.
I manage to reproduce the issue with PS 1.7.4.3.
https://drive.google.com/file/d/1yDbYtWPcn0SgZbobwtHTAOezVOMBID9J/view
We will see how to fix it.
Thanks!

[2018-11-05 08:07] khouloudbelguith commented on #11248
Duplicate of #11247

[2018-11-05 08:07] moabsantos commented on #10920
Hi @khouloudbelguith ,

i have a same problem (Prestashop 1.7.4.3). When i click Catalog/Products, Catalog/Stock or Modules. The page not show. And the browser show error.

[2018-11-05 08:21] khouloudbelguith commented on #11252
Hi @polaije,

I did not manage to reproduce the issue with the last version 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1m0v-4Vh1h6eniqtSY_8OpMXUATZcUMI_/view
Did you installed any pack of Holland from the International => Localisation page?
Thanks!

[2018-11-05 08:36] jviure opened #11257 "stock problems ps 1.7.4"
Hi.I've created a new prestashop, first I install de 1.7.0, after two weeks I upgraded to 1.7.4.
At the beggining, I migrate woocommerce products to prestashop with an external plugin. At the begining, all seems ok, BUT now I see some inconsistencies. Some customers have ordered products (combinations, with stock, usually 1) and they received an email of NO stock.  Strange... not? I have detected

[2018-11-05 08:40] khouloudbelguith commented on #11257
Hi @jviure,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots
 - what is the exact version of the 1-click upgrade did you used?

Don't you know how to get this info

[2018-11-05 08:44] ghost commented on #9684
0 of 15 tasks complete :(

[2018-11-05 08:47] khouloudbelguith commented on #10920
Hi @moabsantos,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-05 08:49] polaije commented on #11252
Yes, I have installed the international pack Holland.

[2018-11-05 08:52] khouloudbelguith commented on #11252
@polaije, could you please provide me a screenshot about your issue.
Thanks!

[2018-11-05 08:53] marionf opened #11258 "Last version not detected when I install beta1 build 4"
**Describe the bug**
When I install beta 1 build 4 of 1.7.5.0 I have the message that says it's not the latest version

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install 1.7.5.0 beta 1 build 4

**Screenshots**
![capture d ecran_559](https://user-images.githubusercontent.com/13449658/47987761-a7f5cc80-e0e0-11e8-8382-552f14eed088.png)

**Additionnal information**
PrestaShop version

[2018-11-05 08:54] khouloudbelguith commented on #9687
Hi @manfield,

Thanks for your fix.

[2018-11-05 09:01] khouloudbelguith commented on #11230
Hi @snowycatsoftware,

The issue is added to our bug roadmap.
It should be fixed by our developers.
Me & @marionf, we are from QA team of PrestaShop.
Thanks for your understanding!

[2018-11-05 09:08] khouloudbelguith commented on #11255
Hi @amtriorix,

Thanks for your report.
We have made some fixes in the next release 1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9450
Thanks to check & feedback.

[2018-11-05 09:11] ghost opened #11259 "Faceted search"
Apparently still not working
https://github.com/PrestaShop/PrestaShop/issues/9684
0 of 15 tasks complete from August :(

Guys c'mon. This is crucial FO bug. We can't promote 1.7 version for any clothes/shoe etc. web stores...
"Oh. Sorry about that parametric search. It dont work since not resolved bug since august. August? We have November.... Yep. We have November..."

[2018-11-05 09:13] firstred commented on #11230
I would recommend a backport to 1.7.4.4 as well!

I fully understand @snowycatsoftware 's comment, because this is a major problem for module/theme developers.
@snowycatsoftware recently had to revert the entire translation system in the official Mollie module because 1.7 translations can't be added properly when backwards compatibility with 1.5 and 1.6 has to be guaranteed. Right before building

[2018-11-05 09:13] JavierEB commented on #15199
![schema](https://user-images.githubusercontent.com/5004396/47988688-31a69980-e0e3-11e8-93f6-0ab724f8799c.jpg)
thanks mate if that step is already done but now I can not identify the module that creates that table

[2018-11-05 09:20] khouloudbelguith commented on #11259
Hi @PrestaShark,

All this issue are added to our bug roadmap.
There are some major issues to solve before.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
It wasn't necessary to create a new one.
Thanks!

[2018-11-05 09:20] #11259 closed, assigned to nobody

[2018-11-05 09:20] khouloudbelguith commented on #11259
Duplicate of #9684

[2018-11-05 09:36] mickaelandrieu commented on #11141
Hello, I'm on it.

[2018-11-05 09:38] #11258 closed, assigned to jolelievre

[2018-11-05 09:46] #11247 closed, assigned to nobody

[2018-11-05 09:53] khouloudbelguith commented on #11238
Hi @AndreyOgleznev,

Depending upon the payment, the customer's choice of currency can differ.
With the Payment Module Restrictions on Currencies, you can limit the choice of available payment methods depending on the available currencies.
Note that currency restrictions work in different ways depending on the payment module:

- For some, such as Cash on delivery, you cannot change their default s

[2018-11-05 09:56] joelprestaworks opened #11260 "form_pagination_default_order_by does not work when faceted is enabled"
**Describe the bug**
The function "form_pagination_default_order_by" is not working when sorting by product quantity together with faceted-search.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the faceted module
2. Go to Shop parameters -> Products
3. Change pre-defined sort order to Product quantity

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version: 7.0

[2018-11-05 09:59] joelprestaworks commented on #10017
Do we have any status update for this? It's a URGENT matter!

[2018-11-05 10:00] khouloudbelguith commented on #11260
Hi @joelprestaworks,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9956
So, I close it.
Thanks!

[2018-11-05 10:00] #11260 closed, assigned to nobody

[2018-11-05 10:00] khouloudbelguith commented on #11260
Duplicate of #9956

[2018-11-05 10:04] khouloudbelguith commented on #11254
Hi @Caleydon,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11104 to fix the issue.
Your ticket is a duplicate of #11042
So, I close it.
Thanks!

[2018-11-05 10:04] #11254 closed, assigned to nobody

[2018-11-05 10:04] khouloudbelguith commented on #11254
Duplicate of #11042

[2018-11-05 10:05] AndreyOgleznev commented on #11238
Hi @khouloudbelguith ,
thank you.
The problems is that in PS 1.7 I can't afford to enable more than one currency as I could in PS 1.6. Otherwise I get problems with taxation and some local banks payment modules. Unfortunately, your explanation doesn't solve the problem. For me it stays really weird thing that payment is made in one currency but the order in BO is in the other currency.

[2018-11-05 10:13] mickaelandrieu commented on #11141
Hello @khouloudbelguith, I need help to write e2e tests: how can I start?

[2018-11-05 10:23] khouloudbelguith commented on #11141
ping @fatmaBouchekoua what do you think?
Thanks!

[2018-11-05 10:31] khouloudbelguith commented on #11240
Hi @jachymb, in this PR: #8097, it fixes the issue of a carrier with invalid ranges that you should not be able to save it.
But, in your case, you don't have any invalid ranges.
Thanks!

[2018-11-05 10:31] jachymb opened #11262 "Small error in czech localization"
**Describe the bug**
There is a recurring annoying typo in Czech localization where it translates 'delete' as 'odstránit'. The correct spelling is 'odstranit' the one with 'á' is possibly a remnant of translating it from Slovakian.

**To Reproduce**
All instances can be found by running: `grep  -ir 'odstránit' app`
Affected files are:

    app/Resources/translations/cs-CZ/ShopThemeActions.cs-CZ.xl

[2018-11-05 10:34] jachymb commented on #11240
The PR is appears to fix the issue, but it apparently does not so entirely, since it has already been included in 1.7.4.1, where I encounter this bug. Right?

[2018-11-05 10:36] BilalDr opened #11263 "Reassurance module"
Reassurance module : Adds an information block aimed at offering helpful information to reassure customers that your store is trustworthy.

WORK IN PROGRESS

- [x] [Issue #9748](https://github.com/PrestaShop/PrestaShop/issues/9748)
- [x] [Addons Block](https://github.com/PrestaShop/PrestaShop/issues/11402)

- [x] Last improvements https://github.com/PrestaShop/PrestaShop/issues/14700

Here is the

[2018-11-05 10:44] fatmaBouchekoua commented on #11141
Hello @mickaelandrieu ,
We are developing e2e tests on created PR in this repository https://github.com/mbadrani/geppetto with puppeteer. We don't have documentation yet but you can refer to the Puppeteer's Api docs https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#
You can write your test under `geppetto/test/mocha/campaigns/PR`, and you can take a look at tests that are scripted

[2018-11-05 10:45] khouloudbelguith commented on #11240
@jachymb,

This PR fixed a different issue ( about invalid ranges).
As I said before, I did not manage to reproduce the issue with ps1.7.4.1 / 1.7.4.2 / 1.7.4.3.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact

[2018-11-05 10:45] #11240 closed, assigned to nobody

[2018-11-05 10:57] colinegin commented on #11198
You can also submit your ideas to our User Voice ! http://feedback.prestashop.com/forums/387864-prestashop-1-7-x

[2018-11-05 11:08] colinegin commented on #10010
Thanks @matks for your answer, unfortunately that's what I thought 👎
As discussed with the QA team, we will not be able to fix it for the 1.7.6 version, as we already have top watchers issues in the roadmap.

[2018-11-05 11:11] khouloudbelguith commented on #11262
Hi @jachymb,

I tried to run your command but there are no files affected.
![image](https://user-images.githubusercontent.com/16067358/47994858-e0eb6c80-e0f3-11e8-92d4-1813849b1867.png)
Thanks to check & feedback.

[2018-11-05 11:22] khouloudbelguith commented on #11238
@AndreyOgleznev,  you can't afford to enable more than one currency when you are using Paypal only?
If you are using the "Bank transfer" module or the "Payments by check" you can enable more than one currency in the Payment Module Restrictions on Currencies.

[2018-11-05 11:26] khouloudbelguith commented on #11253
Hi @Caleydon,

Thanks for your report.
I manage to reproduce the issue with the PS1.7.5.0build4.
PS1.7.4.3 => OK / PS 1.7.3 => OK.
We will see how to fix it.
Thanks!

[2018-11-05 11:41] neich78 commented on #9903
Yes, I see the position of each product but I cannot change it or drag it to move each item

[2018-11-05 12:05] ridom commented on #11198
Thank you Coline,

Yes for instance, adding a feature to the theme page on the market place showing if the theme can be "childified" or not.
In addition to that, having a real feedback from customer could be a great thing. It seems that until now, authors can decide to display or not display ratings and comments from buyers. This is a real issue has you are totally "blind" when you decide to pursh

[2018-11-05 12:59] arthtux commented on #11218
Hi @khouloudbelguith,
you do not understand :( if it is not in Apache Config but it is on the environment variable when you start Apache, that you configure your proxy.
and your instance have internet access directly.

[2018-11-05 13:05] khouloudbelguith commented on #11241
Hi @maofree,

Thanks for this clarifications.
When after installing the "maofreecopyright", which only use the displayOverrideTemplate hook, I have issues in the FO.
![image](https://user-images.githubusercontent.com/16067358/47999738-c15c4000-e103-11e8-928d-4d2b11591154.png)
![image](https://user-images.githubusercontent.com/16067358/47999744-c620f400-e103-11e8-8cea-489fb1ea4636.png)
@marionf, wh

[2018-11-05 13:08] AndreyOgleznev commented on #11238
@khouloudbelguith  Hmm, I suggest you don't quite understand my problem. I don't want to enable more than one currency in the Payment Module Restrictions on Currencies. I want the orders to be in one single currency, in rubles. That is the way it did work in PS 1.6 but I can't get it to work in PS 1.7.

[2018-11-05 13:44] khouloudbelguith commented on #11238
@AndreyOgleznev, It will help us if you can attach a screen record.
In my case, the 1.6 / 1.7 have the same behavior, in the 1.6, orders are not done with a single currency.
Thanks!

[2018-11-05 13:46] khouloudbelguith opened #11264 "After uninstalling the module, the related tab in the BO menu is not found"
This issue has been edited because this is a general behaviour for all modules which have an entry in the BO menu (not only MBO).

See previous description below

**Describe the bug**
After uninstalling the "mbo" module, I tried to navigate to the Modules => Module Catalog page.
A red alert is displayed "Page not found" with an empty page.
We need to go to the Dashboard page & reload again the  Mo

[2018-11-05 13:59] AndreyOgleznev commented on #11238
@khouloudbelguith Sure thing, please have look at last days of my PS 1.6 shop activity when I had multiple currencies enabled. I miss it now.
![orders ps1 6](https://user-images.githubusercontent.com/11665990/48002244-6c7cf180-e124-11e8-9b18-43a5ceadbf62.png)
![currencies ps1 6](https://user-images.githubusercontent.com/11665990/48002256-756dc300-e124-11e8-83c8-486e2e10d549.png)

[2018-11-05 14:37] marionf commented on #11264
@MrBaiame @eternoendless
I don't know if this one should be fixed in the module or in the core ?

[2018-11-05 14:48] moabsantos commented on #10920
Hi @khouloudbelguith ,

My instalation , in final step, on addon modules, launcher error. And the error is in classes/db/Db.php line 746.

I think instalation state db in progress.

[2018-11-05 14:49] khouloudbelguith commented on #11238
@AndreyOgleznev, with the PS1.6, if you try to use another payment module & another currency.
You will see that the order will not be done with a single currency.
Thanks to check & feedback.

[2018-11-05 14:51] khouloudbelguith commented on #10920
@moabsantos did make a new fresh installation 1.7.4.3 & it failed?

[2018-11-05 14:53] lupitaflowers3 commented on #11250
Hello I clone the project from GitHub and I'm using develop branch.

Thank you.

On Mon, Nov 5, 2018 at 1:56 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-11-05 14:55] moabsantos commented on #10920
@khouloudbelguith, I tried several times to finally. Always with error in addons Module

[2018-11-05 14:58] khouloudbelguith commented on #10920
@moabsantos, we need to retrieve the exact error displayed?
Thanks!

[2018-11-05 15:03] khouloudbelguith opened #11265 "The on-boarding welcome is displayed again after installing the "mbo" module"
**Describe the bug**
After a fresh installation 1.7.5.0 build4, check that the mbo module is not installed.
The module welcome is enabled & all steps are done.
In the last step, after clicking "I'm ready", try to install the "mbo" module, after the installation, you need to go to the Module Catalog page, the on-boarding welcome is displayed again.
I attached a video record for more details.
https:

[2018-11-05 15:17] marionf commented on #11142
I just tried an upgrade from 1.7.4.4 to 1.7.5.0 beta 1 build 4 and I don't have this issue

[2018-11-05 15:19] khouloudbelguith commented on #11142
Hi,

Error during upgrade 1.7.4.3 -> 1.7.5.0 beta 1 build 4.
`
[INTERNAL] /projet/prestashop/prestashop/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Container.php line 348 - Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have requested a non-existent service "prestashop.bundle.routing.converter.legacy_url_converter". #0 /projet/prestashop/prestash

[2018-11-05 15:52] marionf commented on #9903
You need to click on pedir de nuevo to change position

![capture d ecran_564](https://user-images.githubusercontent.com/13449658/48009000-18b9da80-e11b-11e8-971b-28e4e6d8552b.png)

[2018-11-05 16:11] marionf commented on #11265
MBO is installed by default so it's unlikely to happen

[2018-11-05 16:16] khouloudbelguith commented on #11250
Hi @lupitaflowers3,

I did not manage to reproduce the issue.
I installed the Prestashop project cloned from the GitHub develop branch.
What is the exact country/language did you used during the installation?
Thanks!

[2018-11-05 16:19] khouloudbelguith commented on #11218
Hi @arthtux, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-05 16:34] lupitaflowers3 commented on #11250
I'm using UnitedStates/English (English).

Regards.

On Mon, Nov 5, 2018 at 10:16 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-11-05 16:57] khouloudbelguith commented on #11250
@lupitaflowers3,  it is Okey for me with UnitedStates/English (English).
After the clone of the Prestashop project, what it the exact steps did you follow?
Did you installed composer?
Did you change the file permissions of all directories to 777?
Thanks!

[2018-11-05 17:22] lupitaflowers3 commented on #11250
Yes I I installed all whit composer, I din't change the permissions because
I'm on windows working with xampp.

On Mon, Nov 5, 2018 at 10:57 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-11-05 17:32] agnesdennetiere commented on #9998
Bonjour,

est-ce que ce point a été réglé sur une version de 1.7 ? Merci

[2018-11-05 17:41] Quetzacoalt91 commented on #11230
This was added in PS 1.7.1.0 with #7546.

https://github.com/PrestaShop/PrestaShop/blob/a64340287527c6b0547e80a24788059c21b3465a/classes/Smarty/SmartyResourceModule.php#L49-L54

The thing is, the original issue was dealing with a missing resource type error, which was fixed in the same PR. I guess it's purpose was to prevent front-office content to be displayed in the back office.

We can remove t

[2018-11-05 17:46] kratekk commented on #9905
@prestonBot did you find the solution for this problem?

[2018-11-05 17:51] jcmy31 opened #11267 "graft the module - 504 error"
Hi
When I want to add the module to prestashop 1.7.4.3, I have a 504 error ( Gateway Time-out
nginx). Do you have an idea?

PrestaShop version: 1.7.4.3
PHP version: 7.0

[2018-11-05 17:51] polaije commented on #11252
I can only provide a video because no error appears, only address is not saved.
I have done some testing and with the plugin litespeed cache desintalled I can have the message wrong format in zip code.
This is a cache problem but it is diffficult to isolate the issue, sometimes it is ok, sometime not.

[2018-11-05 18:37] fullhugo opened #11268 "Slow backoffice 1.7.2"
For some reason my backoffice are very slow.
The version of my prestashop is 1.7.2 (I can't upgrade)

When I check php logs, I see a timeout because of this
`lstat("/home/mywebsite/ww2/app/Resources/translations/pt-BR/ShopDemoCatalog.pt-BR.xlf", {st_mode=S_IFREG|0666, st_size=14203, ...}) = 0
stat("/home/mywebsite/ww2/app/Resources/translations/pt-BR/ShopDemoCatalog.pt-BR.xlf", {st_mode=S_IFREG|06

[2018-11-05 19:14] firstred commented on #11232
It looks like the event listener is being attached to the whole div, because it is hard to figure out the name of the radio button group. Before you can select the radio button group, you will have to know the address ID, which probably is unavailable during the initialization of this block.

There are likely two things we can do to fix this issue:
- wait until the address ID is known (does it get

[2018-11-05 19:23] ghost opened #11269 "Deleted custom text block module"
**Describe the bug**
I've started a shop recently and my custom text block module wouldn't update because i don't had the permission, so i decided to uninstall it to reinstall it to check if it could fix it, but now i don't find the module anymore in the shop.

**Additionnal information**
PrestaShop version: 1.7.1.2
PHP version: N/A

[2018-11-06 00:12] RicRey1988 opened #11270 "Problem with upgrade ps 1.7.3.0 to 1.7.4.3 [ERROR] PHP 1.7.0.0 /* PHP:ps1700_stores(); */"
**Describe the bug**
Good day to all I have done several processes for the update, from updating through the module 4.4.0 of own update of the prestashop.

Disabling all the modules that do not belong to prestashop, making manual update.

I also spoke with my hosting and I really do not know what to do ... it seems to be a prestashop bug I hope you can solve it.

`The next error:

[ERROR] PHP 1.7.

[2018-11-06 00:24] TecnoHands opened #11271 "BUG Product Combinations Prestashop 1.7.4.3"
**Describe the bug**
When you have a product with combinations, and set the product configuration in the BO, to do not show products with non attributes in stock, When you select one attribute in the Front, and select again the other attribute dont change the combination. But if you select in product configuration in the BO, Show protuct with non attributes in stock, do not have a problem. Pls sol

[2018-11-06 02:01] TecnoHands opened #11272 "Bug in module SEO performance URL cleaner by prestashop"
**Describe the bug**
When have installed the Module with prestashop 1.7.4.3 and correct the bug of Information (bad parameters necesary after upgrade to 1.7.4.3). Have this error

2 errores
The route is not valid
Ruta a los modulos: Valor incorrecto (Route to modules: Value incorrect) I uninstall the module with the backup of url, disable the friendly url and clean the cache, and work fine (Produc

[2018-11-06 03:05] mehdi-ghezal commented on #11234
Hi,

It's actually my setup, my shop is behind a reverse proxy so I add some custom settings in `config/defines_custom.inc.php` but I didn't add `define('_PS_MODE_DEV_', true);` as it out of the scope of my need.

As a result, when you change the Mode debug in backoffice of Prestashop it doesn't work. In my case, [this code is called (note the return)](https://github.com/PrestaShop/PrestaShop/blob

[2018-11-06 03:38] mehdi-ghezal opened #11273 "Inconsistent behaviour"
**Describe the bug**

[In this line](https://github.com/PrestaShop/PrestaShop/blob/636770391b4c8cd4b9c115382bd7558007fbd1e7/classes/module/Module.php#L1134) we kill the application if we cannot validate the module name but only if `_PS_MODE_DEV_` is true.

This PHP Constant is labeled as `Mode debug` in the back office but the name seems like a development mode. It's confusing...

If `_PS_MODE_DEV

[2018-11-06 05:54] AndreyOgleznev commented on #11238
Ahh, that's a pity. I think that would really solve my problems.
Looks like I will have to find some workaround or change the shop engine.

[2018-11-06 06:45] WS-NL opened #11274 "Cannot disable maintenance mode after update 1.7.4.3"
After updating to 1.7.4.3 we cannot get our shop out of maintenance mode.
As well when debug is not enabled we cannot clear the cache, if debug is enabled we can clear cache, but see a warning in debug translated files are missing?

See attached errors and errors below

Uncaught Exception: Expected argument of type "object, array or empty", "string" given

Uncaught PHP Exception Symfony\Component\

[2018-11-06 07:51] khouloudbelguith commented on #11267
Hi @jcmy31,

What is the exact name of the module do you want to upload it.
Thanks!

[2018-11-06 07:58] khouloudbelguith commented on #11268
Hi @CrAzYk69,

Could you please try to disable the gamification module, it could be a reason for the slowness of your BO, in fact, the gamification module is updated to a new version 2.2.1.
Also, if your back office email is capitalized but your email on profile.prestashop.com is not, the back office takes a full minute to finish loading.
Thanks to check & feedback.

[2018-11-06 08:08] khouloudbelguith commented on #11274
Hi @wgsol2018,

The issue has been fixed with the v4.0.0-beta.4 release of 1-click upgrade module.
Now, we have released a new version 4.4.1 of the 1-click upgrade module (https://github.com/PrestaShop/autoupgrade/releases).
If you are already upgraded, please follow the message of Peter Visser in this [comment](http://forge.prestashop.com/browse/BOOM-5982?focusedCommentId=171708&page=com.atlassia

[2018-11-06 08:09] jcmy31 commented on #11267
Hi,
Any of them

[2018-11-06 08:12] khouloudbelguith commented on #11269
Hi @Mandals44,

After installing the module, you didn't find it in the installed module list?
Or, do you want to install it, but you don't in find it in Module Catalog page?
Thanks!

[2018-11-06 08:19] khouloudbelguith commented on #11267
@jcmy31,

Is it a custom module? or a module provided by PrestaShop?
If you enable the mode debug, is there any exception displayed?
Thanks!

[2018-11-06 08:21] WS-NL commented on #11274
Thanks for your reply

If the issue is fixed in the 4.0.0 beta it should also have been added to 4.4.0 right?

We tried the fix from Peter Visser but is not working for us.

Will 4.1.1 fix this issue??

Please advise

[2018-11-06 08:22] khouloudbelguith commented on #11238
@AndreyOgleznev,

Do you agree with me, that in the 1.6/1.7, orders are not done with a single currency?
Thanks!

[2018-11-06 08:26] jcmy31 commented on #11267
It is a custom module, in debug mode, I have no notification.