[2021-02-02 07:29] Myrjam commented on #23071
I went to the upgrade proces a few times (rolling back in between). I found that it was important upgrading while using the right PHP version...

[2021-02-02 08:12] lmeyer1 commented on #23082
This bug also happens in this case:
- An employee has access to some shop, but not all
- He has permissions to create cart rules in his shops

When he creates a new cart rule and does not select 'shop restriction',
then the cart rule is valid in every shop.

This is a permission escalation. The cart rules any employee creates should be restricted to the shops he has access to.

[2021-02-02 08:16] Daaaaad commented on #21695
Hello @hibatallahAouadni,

As I told previously: "I'm aware that this error could be related to specific installation parameters but the error message is too much generic and I can't find the solution". So it doesn't surprise me that you didn't succeed to reproduce it with a fresh new install 😉

Anyway several people are encountering this problem and the error message that is displayed do not allo

[2021-02-02 08:16] hibatallahAouadni commented on #23089
Hello @Vo1tech

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-02-02 08:16] #23089 closed, assigned to nobody

[2021-02-02 08:19] hibatallahAouadni commented on #21695
Hello @Daaaaad

Well then, how about we close this issue cause even the author never response, and you open a new issue as an improvement to specify the error message ?
I think that's better :wink:

Thanks!

[2021-02-02 08:20] malcek commented on #22784
Same here, we are having same issue

[2021-02-02 08:20] hibatallahAouadni commented on #23071
Of course :wink:

[2021-02-02 08:25] hibatallahAouadni commented on #22784
Hello @malcek

We need steps to reproduce the issue, cause with the provided details by @WartoWiedziec I didn't manage to reproduce.
So could you please provide more clear and detailed steps to reproduce.

Thanks!

[2021-02-02 08:27] hibatallahAouadni commented on #23067
Hello @alfonsolr09

It doesn't! But could you please check your console if there's errors.
Please check and feedback.

Thanks!

[2021-02-02 08:28] alfonsolr09 commented on #23067
How can I do that?

[2021-02-02 08:28] malcek commented on #22784
sorry i have update my post :)

[2021-02-02 08:31] malcek commented on #22784
also whan you are in order detail any if you want to go to full detail about customer you also ger this error

![image](https://user-images.githubusercontent.com/54998637/106572985-62334300-6539-11eb-8a0e-2f3447dcec14.png)

[2021-02-02 08:34] hibatallahAouadni commented on #23068
Hello @alfonsolr09

The Classic theme is well installed? if so, please click on **Export current theme** button to export the classic. Then change its name **classic_child**. Now try to import this **classic_child** and let's see if there's an error with your store or with your other theme.

Please check and feedback.
Thanks!

[2021-02-02 08:35] hibatallahAouadni commented on #22784
Did you upgrade your store lately? If so, what was your old version?

[2021-02-02 08:40] malcek commented on #22784
Yes I have update last week.
My old version was 1.7.6.4 and after that i have made first manual update to 1.7.6.9 and than with autoupdate from 1.7.6.9 to latest 1.7.7.1

[2021-02-02 08:42] lmeyer1 opened #23091 "Shop associations inconsistent in multi-store environment for Super Admin user, e.g. in cart rules"
#### Describe the bug

In Prestashop, in an multi-store environment, while creating or editing a user, we can give him access to some shops using the *Shop association* settings in the user profile. For users with a *Permission profile* set to *Super Admin*, the *Shop association* is disabled.

This makes sense the most of the time, since a Super Admin has access to all shops. But in Prestashop ex

[2021-02-02 08:54] lmeyer1 commented on #23091
Related to #23082

[2021-02-02 09:32] Hlavtox commented on #23085
@hibatallahAouadni Hi! It's not exactly meant at merchants, more to developers.

Now, if you want to style how common paraphraph in merchant's text should look, you need to add CSS separately to short description, long description, cms page, category description etc. If they had one common selector, it would simplify things. :-)

[2021-02-02 09:35] hibatallahAouadni commented on #23082
Hello @lmeyer1

That's true, but I think this is not a bug, it's just PrestaShop limitation :wink:
Also, the SuperAdmin can always edit the cart rule and add the Shop restruction. But it's super annoying to do this everytime an employee create cart rule :confused:

So, do you suggest that if an employee only has access to one shop, by default when he create a cart rule, this cart rule will be rest

[2021-02-02 09:52] hibatallahAouadni commented on #23091
Hello @lmeyer1

That's not true! Of course the SuperAdmin has the bility to create cart rules restricted to one shop or to a set of shops.

![image](https://user-images.githubusercontent.com/23308427/106582682-8e07f600-6544-11eb-8503-4d0e0143060b.png)

Please check and feedback.
Thanks!

[2021-02-02 09:55] Progi1984 commented on #22910
Fixed by #22980.

[2021-02-02 09:55] #22910 closed, assigned to Progi1984

[2021-02-02 09:56] lmeyer1 commented on #23082
Yes, a cart rule created by an employee limited to a set of shops should be restricted by default to the same set of shops.

[2021-02-02 10:07] lmeyer1 commented on #23091
You are right, this bug is not reproducible when executing the steps above manually in the backoffice.

The bug happened in my case, because I created the stores with an automatic script, that did not take into account the association between employees and shops.

Sorry for reporting this bug here by mistake.

[2021-02-02 10:07] #23091 closed, assigned to nobody

[2021-02-02 10:11] khouloudbelguith commented on #16939
Hi @PrestaShop/product-team,

This issue is partially fixed by this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/301.
For more details, I added this comment: https://github.com/PrestaShop/ps_facetedsearch/pull/301#issuecomment-771469712
Previously reported by @PierreRambaud here: https://github.com/PrestaShop/PrestaShop/issues/16939#issuecomment-752125462

I will re-open the issue.

Tha

[2021-02-02 10:17] marionf commented on #16939
@khouloudbelguith I think we should rather create a new issue with what remains to do
And eventually create several issues if the remaining things to do will not be fixed in the same place (in the core or in the module)

[2021-02-02 10:52] ajmnz commented on #15137
Hey, any news on this?

[2021-02-02 10:55] Vo1tech commented on #23089
Lol, thank you for nothing.

[2021-02-02 11:11] hibatallahAouadni commented on #23084
Hello @daresh

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9594.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-02 11:11] #23084 closed, assigned to nobody

[2021-02-02 11:11] hibatallahAouadni commented on #23084
Duplicate of #9594

[2021-02-02 11:20] hibatallahAouadni commented on #23082
Hello @lmeyer1

Thanks for your feedback!
So, your issue is an improvement :wink:
Let's ping the Product Team. Please stay tuned !

Ping @PrestaShop/product-team , what do you think about @lmeyer1 suggestion?

[2021-02-02 11:36] arg73 opened #23095 "problem update php 7.3 with backoffice prestashop 1.7.0.4"
hi

i have a probleme when i update php 7.1 to php 7.3 my backoffice prestashop 1.7.0.4 do not appear
just a white page
my front office is ok

can you resolve this problem ?

thanks

[2021-02-02 11:41] SimonGrn commented on #23095
PrestaShop 1.7.0.4 is only compatible with PHP 7.1 at most, as you can see in the [requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

Please think about following the template next time.

Thank you for your understanding.

[2021-02-02 11:41] #23095 closed, assigned to nobody

[2021-02-02 12:34] hibatallahAouadni commented on #23083
Hello @ballashop

Thanks for your detailed issue :clap:
Could you please check this issue #17470 cause it seems similar to yoursand follow the steps proposed in this [comment](https://github.com/PrestaShop/PrestaShop/issues/17470#issuecomment-581368572).
Please check and feedback.

Thanks!

[2021-02-02 12:35] khouloudbelguith opened #23096 "FO - Product page - the meta_title_name & the url_name parameters in features, attributes and values are not working after enabling "Display attributes in the product meta title""
#### Describe the bug

In the FO > Product details page, the meta_title_name & the url_name parameters in features, attributes and values are not working after enabling "Display attributes in the product meta title".
In the product listing page, it is fixed by this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/301

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO >

[2021-02-02 12:37] khouloudbelguith commented on #16939
Hi @marionf,

Thank you!
I will close this issue.
The new issue is done: https://github.com/PrestaShop/PrestaShop/issues/23096

Thanks!

[2021-02-02 12:37] #16939 closed, assigned to marionf

[2021-02-02 13:06] #18674 closed, assigned to PierreRambaud

[2021-02-02 13:20] Seb33300 commented on #22968
Hello @hibatallahAouadni ,

I just tried to clear the cache before re generating email template but it did not change anything.
I also tried to override `themes/mytheme/mails/themes/modern/components/footer.html.twig` without success.

[2021-02-02 13:27] Hlavtox commented on #18674
Thanks!!!!!! @PierreRambaud @khouloudbelguith

[2021-02-02 13:28] hibatallahAouadni commented on #22784
Hello @malcek

I just upgrade my shop from 1.7.6.9 to 1.7.7.1 and I didn't manage to reproduce your issue:

https://drive.google.com/file/d/1mu_m_RtxsZO-Twk9UkvoBHQH5MKA-kqT/view

Please check and feedback.
Thanks!

[2021-02-02 13:31] NeOMakinG opened #23097 "[BO - RESPONSIVE] Buttons doesn't have spaces on catalog page"
#### Describe the bug

Buttons should be spaced on products page
![image](https://user-images.githubusercontent.com/14963751/106607192-53618600-6563-11eb-8a6c-ece38adc1471.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/14963751/106607178-4e043b80-6563-11eb-921d-e1c85dd56600.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog page in B

[2021-02-02 13:45] malcek commented on #22784
I don't know why is at your setup everything fine, but for me i still get this error. And this is core error and i don't think it's related to any additional modul

Type error: Return value of CartCore::getCartPriceFromCatalog() must be of the type float, null returned
[Symfony\Component\Debug\Exception\FatalThrowableError 0]

best regards
martin

[2021-02-02 13:55] hibatallahAouadni commented on #22784
Did you encounter any issues with your upgrade?

[2021-02-02 13:59] NeOMakinG opened #23099 "[BO - RESPONSIVE] Notification pan needs some adjust on mobile"
#### Is your feature request related to a problem?

Notification on migrated pages are not as UX as we could

#### Describe the solution you'd like

Scott provided a mockup for this :

![image](https://user-images.githubusercontent.com/14963751/106610507-2a42f480-6567-11eb-925e-7ea16955044d.png)

Actually it looks like this :

![image](https://user-images.githubusercontent.com/14963751/106610583-3

[2021-02-02 14:08] KminekMatej commented on #22675
Kinldy @hibatallahAouadni / @khouloudbelguith take a look on my new PR, where I completely upgraded Prestashop API, fixing this issue. #23100

[2021-02-02 14:10] malcek commented on #22784
@hibatallahAouadni
it was some warning with yellow background, nothing serious.

[2021-02-02 14:27] ballashop commented on #23083
Hi @hibatallahAouadni
thanks to reply me, I'm going to check it, thanks.
Balla

[2021-02-02 14:34] Eva-F opened #23101 "Tools::getBrightness($hex) error for order_state"
#### Describe the bug

for order statuses is parsed text as hex (see picture)
![ps34](https://user-images.githubusercontent.com/3242659/106613916-07b2da80-656b-11eb-8fa0-bc05c7b27e86.png)

#### Expected behavior
**Should be evaluated also Web HTML Color  names**

for limegreen (=rgb(50, 205,50) ) should be returned value 141 => color of text  should be #383838 ( instead of white)
(for now is retur

[2021-02-02 14:34] mark-app commented on #23007
@LouiseBonnard

When a customer is too lazy to reset his/her password. It happens all the time in the Netherlands ;)

[2021-02-02 14:51] hibatallahAouadni commented on #23101
Hello @Eva-F

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- PrestaShop version (source)
- PHP version
- steps to reproduce (to know how this issue impact your store)
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-cre

[2021-02-02 15:04] ballashop commented on #23083
Hi @hibatallahAouadni
I think our problem is different.
Indeed, two problems:
a) The data is overwritten anyway
b) PS create a new combination and does not overwrite existing ones

**About the a) problem**
If we ignore the fields or don't even put them in the CSV file, PS overwrites the data anyway, un this image, we didn't create a price impact column, or a quantity one,
<img width="1288" alt="on

[2021-02-02 15:11] Eva-F commented on #23101
Added into the first post

[2021-02-02 15:22] NeOMakinG opened #23102 "[BO - RESPONSIVE] Profile block needs some improvements to be more UX on mobile"
#### Is your feature request related to a problem?

Profile block is so unresponsive, scott provided a mockup for this.

#### Describe the solution you'd like

It should look like this :

![image](https://user-images.githubusercontent.com/14963751/106621359-c8888780-6572-11eb-85c6-6117fad4f13a.png)

[2021-02-02 15:35] Progi1984 commented on #22870
@PrestaShop/product-team Is it logical that two order statuses have the same label ?

Because our choices providers have labels as keys.

[2021-02-02 15:40] hibatallahAouadni commented on #12982
@marionf is this issue about this module **`ps_healthcheck`**?

[2021-02-02 15:47] matks commented on #12982
@hibatallahAouadni Yes 😉

[2021-02-02 15:47] tom-combet opened #23103 ""You may be not allowed to download this module." in a local installation"
#### Describe the bug

I can't upgrade bought modules on a local installation. I'm logged with the same Addons account as the production site.

#### Expected behavior

As stated here :
"The module or theme you bought is sold with a single licence, you can use it on one website only. Please fill the field below with the website URL on which the module / theme will be installed. You can install it o

[2021-02-02 15:48] matks commented on #22783
PrestaShop 1.7.7.2 is supposed to be released before the 25th of February (6 weeks after 1.7.7.1).

ZIP build should be done, at the latest, on the 18th of February then.

[2021-02-02 15:49] hibatallahAouadni commented on #12982
Thanks @matks
@PierreRambaud could you please move it to **`ps_healthcheck`** repo, cause I don't know how :sweat_smile:

[2021-02-02 15:51] matks commented on #12982
Looks like it cannot be done as https://github.com/prestashop/ps_healthcheck has been archived.

We can close then.

[2021-02-02 15:53] hibatallahAouadni commented on #23103
Hello @Kaudaj

It seems that your issue is not a PrestaShop core bug.
If your module is Ebay Official, please contact support team on [Addons](https://addons.prestashop.com/fr/) or the module Developer.

We will close this issue.

Thanks!

[2021-02-02 15:53] #23103 closed, assigned to nobody

[2021-02-02 15:56] hibatallahAouadni commented on #12982
Hello @djodjo3

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Thanks!

[2021-02-02 15:56] #12982 closed, assigned to matks, sowbiba

[2021-02-02 16:00] dali-rajab opened #23104 "Unused file ?"
i'm just wondering if this file is still used anywhere ??§§??§§ I can't find any call for it in the whole project :
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/_partials/facets.tpl

[2021-02-02 16:03] matks commented on #23104
@dali-rajab I think it's an override of https://github.com/PrestaShop/ps_facetedsearch/tree/dev/views/templates/front/catalog

[2021-02-02 16:03] hibatallahAouadni commented on #23104
Hello @dali-rajab

Could you please ask your question in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack) :sweat_smile:
Cause, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.
Sorry, I close this issue :wink:

Thanks!

[2021-02-02 16:03] #23104 closed, assigned to nobody

[2021-02-02 16:06] Julievrz commented on #22870
It's not exactly the same wording though? 🤔 Because in one case the backorder is already paid and in the other, it is not.

[2021-02-02 16:09] tswfi opened #23106 "Customer csv import "password" field should not be mandatory when updating customers"
#### Describe the bug

When using csv import for customers the `password` field is mandatory. This makes it impossible to use the csv import as a "mass change" tool.

As a merchant I want to change all my customers to another customer group or set "newsletter" bit off or just update a list of customers to be active=0.

#### Expected behavior

Password is not mandatory or at least if it is empty it

[2021-02-02 16:16] tswfi opened #23107 "Make cache clearing faster by splitting it to two phases"
#### Is your feature request related to a problem?

As a merchant I want to have fast functionalities without error messages for simple functions.
One of the slow operations in large shop is "clear cache" button. It can even lead to gateway timeout!

#### Describe the solution you'd like

One way to make cache clearing faster is to do it in two phases:
1. `mv var/cache/prod var/cache/prod_to_be_de

[2021-02-02 16:17] Kaudaj commented on #23103
Actually, my issue occurs with every bought modules. The picture with ebay module upgrade was just an example.
Maybe I wasn't clear enough, but that being said, I don't see how this wouldn't concern PrestaShop?

[2021-02-02 16:25] hibatallahAouadni commented on #23106
Hello @tswfi

Could you please provide these files "import1.csv" and "update1.csv" :pray: (just to save time)

Thanks in advance :relaxed:

[2021-02-02 16:27] tswfi commented on #12982
`ps_healthcheck` repo has one readme file and no code at all? (or am I blind or does archived repo show up differently?)

so this issue is closed because there is an archived module?
and this pr https://github.com/PrestaShop/PrestaShop/pull/17580 was closed because there is a module?

is there something I'm not understanding and health checks can be done without the pr or module?

[2021-02-02 16:30] matks commented on #12982
@tswfi Some years ago, we had a need for a healthcheck feature (this one) and we decided a good solution would be to implement it as a module. However after some time, the need for the healthcheck feature disappeared so we closed the topic and archived the work that had been done. The project basically was halted.

You can pick the code in the module and this PR if you want to use them as a founda

[2021-02-02 16:31] hibatallahAouadni commented on #23107
Hello @tswfi

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers  , I think @tswfi just ping a critical issue **Cache**. Well, I don't know if splitting the cache clearing process is doable but I think it'll be great if we could implement his solution, so what so you think?

[2021-02-02 16:35] tswfi commented on #23106
@hibatallahAouadni github does not support csv files as attachments

[code]

[code]

[2021-02-02 16:37] matks commented on #23103
H @Kaudaj the error says "Error sent from Addons" so it seems the source of the issue is from addons.prestashop.com which is a platform outside of our control. Maybe if you reach out to Addons salespeople they will be able to tell you if there is an issue? 😉

[2021-02-02 16:38] hibatallahAouadni commented on #23103
Hello @Kaudaj

Could you please try to upgrade any native module without being connected to Addons MarketPlace and check if you have this issue?
Please check and feedback.

Thanks!

[2021-02-02 16:47] Progi1984 commented on #22981
@matks Sorry. I don't reproduce. Could you give me some example of target page with the problem ?

[2021-02-02 16:48] Kaudaj commented on #23103
@matks I have already contacted the PrestaShop Addons chat room who told me to come here.
Maybe I can ask a seller about one of the modules I bought, but I don't really see the point since it's not module specific. I doubt what he will answer me...

@hibatallahAouadni I can upgrade the native modules properly without being connected to Addons MarketPlace.
![image](https://user-images.githubusercon

[2021-02-02 19:06] ced--ced opened #23110 "Categories have disappeared 1.7.6.9"
**Describe the bug**
The categories have disappeared from the admin.

**Expected behavior**
Seeing the categories listed.

**Steps to reproduce**
BO>Catalog>Categories => See error

**Screenshots**
https://prnt.sc/y1w2nz

Additional infos
PS version: 1.7.6.9

[2021-02-02 20:32] SimonGrn commented on #23110
Hello @ced--ced
categories don't disappear by themselves. You must have done something. Your issue report is incomplete, please provide more information.

[2021-02-02 20:39] matks commented on #23110
@ced--ced Reporting a bug is not simply saying "Hi, I see an error in my backoffice" 😉 there is nothing we can do with that. We are not going to login on your backoffice and track the issue behind your empty categories.

If you don't have a reproductible bug like "I install PS 1.7.6.9, I do A then B then C then categories disappear" there is nothing we can do.

[2021-02-02 22:17] hibatallahAouadni commented on #9734
Hello @marionf

I think we can close this issue, about the two open issues mentioned above, they're already linked to another EPIC. So, what do you think? shall we close it?

Thanks!

[2021-02-02 22:26] hibatallahAouadni commented on #9750
Hello @marionf

This issus is about this field?

![image](https://user-images.githubusercontent.com/23308427/106670946-ffc85a00-65ad-11eb-9340-454542812a81.png)

Thanks!

[2021-02-02 22:27] ced--ced commented on #23110
If I had more information or if I was able to tell you what action was taken leading to this, I would have told you.

Can you maybe tell me what file that lists the category need to be checked? Anything that could put me on the track to figure out the problem?

[2021-02-02 22:29] mint0r opened #23111 "PrestaShop / ps_socialfollow issue"
#### Describe the bug

The problem with this module is that you can't see all the icons and most of them relate to facebook as you can see in the attached photo

* PrestaShop version: 1.7.7.1
* PHP version: 7.2.34
![err](https://user-images.githubusercontent.com/78450043/106671101-3d2ce780-65ae-11eb-8054-273e455b679a.png)

Please help fix this error

[2021-02-02 22:49] indaco commented on #22881
@PierreRambaud unfortunately I cannot reproduce it.

The way I fixed it is already on my initial message.

[2021-02-02 22:49] #22881 closed, assigned to PierreRambaud, atomiix

[2021-02-02 22:56] hibatallahAouadni commented on #23111
Hello @mint0r

I'm really sorry to inform you that this module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Thanks!

[2021-02-02 22:56] #23111 closed, assigned to nobody

[2021-02-02 23:04] hibatallahAouadni commented on #23110
Hello @ced--ced

Could you please provide your PHP version.
Did you upgrade your shop lately? If so, could you please provide your old version.
And please check your console if there's an error thrown.

Thanks!

[2021-02-02 23:10] hibatallahAouadni commented on #23103
@Kaudaj So I think you have an issue either with your connection to Addons MarketPlace or with the module that you are trying to upgrade :wink:

[2021-02-03 00:43] alfonsolr09 commented on #18402
this error has been fixed with #22417

[2021-02-03 06:03] iliankirov commented on #22964
Hello! Ok, but why it happened, when the "memory_limit" directive is set on 512M (it's shown on the srceenshots), the server has pretty enought memory - 4GB ?

[2021-02-03 07:32] Hlavtox opened #23112 "Unneeded margin on Status, delivery, documents tab"
#### Describe the bug

On status, delivery, documents tab etc. on order page, there is a hidden card for print purposes. However, it produces unwanted margin on screen.

#### Expected behavior

There should be no extra space produced by `.card`.

**Screenshots**

![card](https://user-images.githubusercontent.com/6097524/106713011-16949e00-65fa-11eb-8b48-9d4875ca8c30.jpg)

#### Additional informati

[2021-02-03 07:34] Hlavtox opened #23113 "Page content is covered by header and menu"
#### Describe the bug

On smaller screens, order buttons are covered by the sticky header. On even smaller resolution, part of the page is covered by the left menu.

#### Expected behavior

This should not happen.
The sticky header in BO is dangerous. It should be remade to use `position: sticky` or something more reliable.

**Screenshots**

![overflow2](https://user-images.githubusercontent.com/6

[2021-02-03 07:39] Hlavtox opened #23114 "Change order status dropdown has bad styling"
#### Describe the bug

Order status change button on order page has bad styling.

#### Expected behavior

Button text should be centered and proper margins/paddings set. `display: flex; align-items: center;` on parent, some margins on the select inside.

**Screenshots**
Wrong
![button](https://user-images.githubusercontent.com/6097524/106713417-b8b48600-65fa-11eb-9818-b68b56666c88.JPG)

OK
![ok](h

[2021-02-03 07:40] Hlavtox opened #23115 "Missing backgrounds on migrated order page"
#### Describe the bug

Backgrounds/shadows of some elements are missing on order page.

#### Expected behavior

There should be grey backgrounds to separate the content and make it more readable.

**Screenshots**
![bugs](https://user-images.githubusercontent.com/6097524/106713866-55772380-65fb-11eb-97f5-ae218a5a6ed2.JPG)

#### Additional information

* PrestaShop version: develop
* PHP version: 7.

[2021-02-03 07:58] Hlavtox opened #23116 "Customer's group is not displayed anywhere"
#### Describe the bug

Merchant is unable to determine customer's group, unless he edits that customer.
It's very important for determining prices, discounts and communication with the customer.

#### Expected behavior

Customer group should be displayed on order screen and on customer's detail.
On order page, we can display it the same as we display "Guest" under customers name.
On customer detai

[2021-02-03 08:03] waschier-design commented on #22759
Same Error here

[2021-02-03 08:10] NeOMakinG commented on #23114
@hibatallahAouadni I added PM and UX label because these things may needs to be specified or designed, it depends!

[2021-02-03 08:10] NeOMakinG commented on #23113
@hibatallahAouadni I added PM and UX label because these things may needs to be specified or designed, it depends!

[2021-02-03 08:10] NeOMakinG commented on #23112
@hibatallahAouadni I added PM and UX label because these things may needs to be specified or designed, it depends!

[2021-02-03 08:20] hibatallahAouadni commented on #23112
Hello @Hlavtox

Thanks for your issue :sweat_smile: I reproduced the issue with develop and 1.7.7.1
As @NeOMakinG mentioned above this issue need specs :wink:

Ping @PrestaShop/product-team @PrestaShop/ux-team is it possible to change the style of this card and minimize the margin-bottom?

[2021-02-03 08:22] Hlavtox opened #23117 "BO responsivity - small header tweaks and bugs"
#### Describe the bug
Header buttons should be aligned to the right. `margin-left: auto; `to the first icon.
There is unnecessary space under the page titlebar.
There is unnecesary space under the header
There is unnecessary scrollbar on the right.
Prestashop logo in the header is covered by the icons on smallest screens - will be a problem on 1st gen iPhone SE and possibly a 12 mini.

**Screensho

[2021-02-03 08:27] Kaudaj commented on #23103
I also noticed that I can't log in to PrestaShop via this button in the employee form :

![image](https://user-images.githubusercontent.com/48719560/106718258-177cfe00-6601-11eb-8e44-106c6a8777e2.png)

Once I enter my credentials and I confirm, I get a 405 error and the loading is infinite :

![image](https://user-images.githubusercontent.com/48719560/106718370-46936f80-6601-11eb-96ec-0ef53f024741

[2021-02-03 08:36] SimonGrn commented on #22964
We can't know for you. It's working well in our tests, so it's coming from either your configuration or your shop. If you have thousands of categories, your server will need **A LOT** of memory to display them all.

[2021-02-03 08:38] KminekMatej commented on #15499
Prepared PR #23100 which fixes main problems with API Core and JSON API. Another commits waiting, solving the JSON Image problems once and for all (hopefully). Response for api/images/products is:
[code]

Feel free to test this behaviour using https://github.com/KminekMatej/PrestaShop/tree/attributes-injection

[2021-02-03 08:42] KminekMatej commented on #10069
@elboletaire @tswfi  I created PR where I completely refactored old API. Its worth taking a look #23100

[2021-02-03 08:44] hibatallahAouadni commented on #23113
Hello @Hlavtox

Thanks for your issue. Unfortunally, I didn't manage to reproduce the issue with develop, see the attached screen record below:

https://drive.google.com/file/d/19HLru8bJP1aSxh5f6hMdO4nBUWjfYxoe/view

Did you pull your develop recently, if so, please execute this command:

`cd admin-dev/themes/new-theme && rm -rf node_modules && npm i && npm run build`

Then, clear cache on your Na

[2021-02-03 08:47] NeOMakinG commented on #23113
![image](https://user-images.githubusercontent.com/14963751/106721279-bd7e3780-6604-11eb-8a2b-499bee6bb3ce.png)

I steel reproduced a strange behavior, I think we should ask for @PrestaShop/ux-team to test it and think about it, @prestascott can we test it and see if we can't improve the responsive of this page on multiple tablets ?

[2021-02-03 08:50] arirangz commented on #20957
Hello !
I have exaclty the same problem with the admin tab renamed with a module name (in my case Paypal). This happen just after I disabled the module.
Now, every time I try to connect to my admin, I have a max execution time on the same line as in this issue.

Before that, I didn't have this issue.

@start10designs could you solve your issue?
Thans!

[2021-02-03 09:12] hibatallahAouadni commented on #23114
Hello @Hlavtox

Thanks for your issue! I only reproduced it with develop.
As @NeOMakinG mentioned above we need the Product Team and UX Team opinion :wink:

Ping @PrestaShop/product-team @PrestaShop/ux-team I didn't manage to reproduce with PS1.7.7.1, so it's a regression!
Shall we fix it?

[2021-02-03 09:27] hibatallahAouadni commented on #23115
Hello @Hlavtox

Thanks for your issue! I reproduced the issue only with develop, it seems to be a regression!
But, we need to check if it's really regression or that's the wanted behavior :wink:

Ping @PrestaShop/ux-team @PrestaShop/product-team I use to see a background-color for these items (see the attached screenshot below) with 1.7.7.1 and now with develop there's no background-color, is it a

[2021-02-03 09:27] arirangz commented on #20957
Ok I figured out that the primary keys were not properly added on table. If it could help someone, check if you have all the auto increment on all tables.

[2021-02-03 09:35] iliankirov commented on #22964
The categories are only 6 .

[2021-02-03 09:38] SimonGrn commented on #22964
Sadly, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [p

[2021-02-03 09:57] hibatallahAouadni commented on #23103
@Kaudaj That bug has been fixed since 1.7.6 :wink: but remember you're always able to connect from **IMPROVE**>**Modules**>**Module Manager** :slightly_smiling_face:

[2021-02-03 10:01] Kaudaj commented on #23103
Okay, thanks for your help.
For bought modules, I will just download them on PrestaShop Addons and upgrade them manually until I manage to fix the issue.

Have a great day.

[2021-02-03 10:12] hibatallahAouadni commented on #23117
Hello @Hlavtox

It seems that your develop branch is not updated, cause I didn't manage to reproduce your issue with develop:

**iPhone 6/7/8**

![image](https://user-images.githubusercontent.com/23308427/106732047-831a9780-6610-11eb-9137-f1207c21ca27.png)

**iPhone5/SE**

![image](https://user-images.githubusercontent.com/23308427/106732161-a5acb080-6610-11eb-88ce-afeb8081dda0.png)

Please check

[2021-02-03 10:21] matks commented on #22981
@Progi1984 Here is a scenario for Edit BO Page

1. Open BO, install module ps_qualityassurance, register hooks `DisplayAdminOptions` and `DisplayAdminForm`
<img width="863" alt="Capture d’écran 2021-02-03 à 10 26 42" src="https://user-images.githubusercontent.com/3830050/106726705-fc16f080-660a-11eb-8c6d-9a4109c2b5cf.png">
2. Open BO page International > Locations > Zones > Edit
3. In tab "Hook

[2021-02-03 10:27] marionf commented on #9734
@hibatallahAouadni yes !

[2021-02-03 10:27] #9734 closed, assigned to nobody

[2021-02-03 10:38] hibatallahAouadni commented on #23116
Hello @Hlavtox

Related to #22643
I think what you suggest is not a bug it's an improvement, cause like you mentioned above when a guest made an order:

![image](https://user-images.githubusercontent.com/23308427/106734800-bad70e80-6613-11eb-93a4-757ac1033579.png)

But when a customer made an order:

![image](https://user-images.githubusercontent.com/23308427/106734981-f376e800-6613-11eb-8e28-bb72

[2021-02-03 10:54] lukaslau commented on #12907
@hibatallahAouadni it is not a bug, it is a big performance issue. To reproduce it try to setup a shop with 50 000 products which are in the same category  and then try to delete 100-200 products from catalog using bulk delete feature then you will see the real speed of product delete process.

[2021-02-03 11:19] PierreRambaud commented on #23107
The `cache:clear` command doesn't only clear the repository, it also warms it up. But this feature has been removed in the 4.0 to have distinct command, one to warm, the other to clear.
Could we wait for the next release? We will have to update Symfony, then we will be able to improve this part :)

[2021-02-03 11:21] Hlavtox commented on #23116
@hibatallahAouadni It's more targeted to other groups. Usually merchants create other groups for business customers. So, I thought it would be good to see which group the customer is in. :)

[2021-02-03 11:25] Hlavtox commented on #23117
@hibatallahAouadni ok maybe something was badly built 😁 closing

[2021-02-03 11:25] #23117 closed, assigned to nobody

[2021-02-03 11:28] Hlavtox commented on #23113
@hibatallahAouadni @NeOMakinG Maybe something is wrong with my install. I will keep it open, because you reproduced it in some way. Ok?

[2021-02-03 11:29] MatShir commented on #22870
If I understand well the bug:

We have the A and B orders with the status pizza and pasta as orders statuses
So we have the following order with their status:
A - 1 id pizza
B - 2 id pasta

We change the name of the pizza status to pasta.

So we have the following orders on the order list:
A - 1 id pizza (but it should have been 1 id pasta)
B - 2 id pasta

So when we change the status of the order

[2021-02-03 11:40] AndrzejWolan opened #23119 "Feature multipling in BO product page"
#### Describe the bug

When we in back office editing product and add new feature without select any feature from list, we can't choose pre-defined value but still we can fill field Customized value and save product. This feature is saved in database and each time we add new feature to this product those features is doubled.

#### Expected behavior

Disabled input if feature is not selected

####

[2021-02-03 12:50] Prestaworks opened #23120 "[swedish language] Can't save combinations with negative impact on price"
#### Describe the bug

When using the swedish language, the negative sign is a − instead of a -
This cause the combinations being unable to save if the price is negative.
Invalid argument: "−20,800000" cannot be interpreted as a number

from /src/PrestaShopBundle/Utils/FloatParser.php line 91

#### Expected behavior

The combination is saved.

#### Steps to Reproduce

Steps to reproduce the behavi

[2021-02-03 13:03] hibatallahAouadni commented on #23120
Hello @Prestaworks

Even if you store installed with English language, you're not able to add negative amount/impact price.

If you want to sell a combination with a price less than the original product, you should create a specific price for that combination 😉

Please check and feedback.
Thanks!

[2021-02-03 13:05] Ludhiel commented on #23038
Hello @hibatallahAouadni

The status is "En attente de virement bancaire" in french, so something like waiting for wire payment.

[2021-02-03 13:06] Prestaworks commented on #23120
it works prefectly fine to have a negative price inpackt on combinations as long as the - sign works.
I can manually correct the sign in the input box and the save is done as it should. But I don't want to change all the prices to change the stock.

[2021-02-03 13:06] hibatallahAouadni commented on #23119
Hello @AndrzejWolan

It seems your issue is similar to this one #16306
Please check and feedback.

Thanks!

[2021-02-03 13:15] AndrzejWolan commented on #23119
Yes this is same issue, so this is doubled ;/

[2021-02-03 13:41] Progi1984 commented on #22981
@matks Great. That helps me.

I may have an idea : gamification.

This url called only on migrated pages : `http://127.0.0.1/PrestaShop/admin-dev/index.php/configure/shop/modules/gamification/views/img/badges/index.php?controller=AdminDashboard&token=MYTOKEN` called the dashboard... and triggers `dashboardZoneOne` and triggers
[code]

[2021-02-03 13:49] matthieu-rolland commented on #19300
The backend part has been merged, currently working on frontend part

[2021-02-03 13:50] tswfi commented on #23107
@PierreRambaud will that affect the bo button also?

and yeah, I don't think this is critical.. more of a quality of life improvement :D (well of course the gateway timeout is not nice..)

[2021-02-03 13:52] Progi1984 commented on #22981
I find.

As images doesn't exist, PS loads the dashboard. And that generates calls to the hook.
![image](https://user-images.githubusercontent.com/1533248/106756282-6b064080-662f-11eb-9f0c-95f7102c438c.png)

:exploding_head:

[2021-02-03 14:00] Progi1984 commented on #22981
And that confirms :

**Legacy Page:**
![image](https://user-images.githubusercontent.com/1533248/106757243-67bf8480-6630-11eb-8af7-d77534a5161f.png)

**Migrated Page:**
![image](https://user-images.githubusercontent.com/1533248/106757295-74dc7380-6630-11eb-9512-5ce1dc23d859.png)

[2021-02-03 14:02] Prestaworks commented on #23120
I can add that triggering

$.each($('input.attribute_priceTE'), function () {
          $(this).change();
        });

before submitting the form (save button) will work as the change event on these inputs seems to do something to the data.

[2021-02-03 14:04] Progi1984 commented on #22981
So it's a gamification bug.

[2021-02-03 14:17] hibatallahAouadni commented on #23119
Hello @AndrzejWolan

Thanks for your feedback :wink:

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16306.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-03 14:17] #23119 closed, assigned to nobody

[2021-02-03 14:17] hibatallahAouadni commented on #23119
Duplicate of #16306

[2021-02-03 14:21] hibatallahAouadni commented on #23120
Hello @Prestaworks

Even with Swedish installation, I didn't manage to reproduce your issue with PS1.7.7.1:

https://drive.google.com/file/d/1x_pumO7HGvCPprFn_1AevIyUjYr1mPpq/view

Please check and feedback.
Thanks!

[2021-02-03 14:23] Prestaworks commented on #23120
Hello @hibatallahAouadni
If you go back to the same product again. (go to product list, and click on the product again to get a page reload) and then try to change the stock. That's when the issue shows up.

[2021-02-03 14:37] hibatallahAouadni commented on #23038
Hello @Ludhiel

Well I think you said it's **"on existing paid order"** but it seems your order is not paid.
Cause as I said before it's impossible to add a product to a paid order :wink:
Now, I tried to follow these steps:

1. Login as Customer in FO
2. add a product in your cart
3. Choose **Bank wire** as payment method
4. Validate your order
5. your order 's status is **Awaiting bank wire payme

[2021-02-03 14:40] SD1982 opened #23124 "FO - Product / Lower greek list type is not interpreted"
#### Describe the bug

In FO the lower greek list type is not correctly interpreted

#### Expected behavior

Every list type should be correctly displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO/Product
2. Go to the detail of a product
3. In the summary section add a lower greek list type with two element minimum
4. Click on save and go to the preview of the product

[2021-02-03 14:46] MatShir commented on #22870
What have been discovered and discussed with @Progi1984 is that the selector on the order list can only display unique status name, so we are going to force the user on the edit/add form to enter a unique status name.
The constraint will only be applied for the new status or fresh edited status.

[2021-02-03 14:49] tjerry opened #23125 "Prestashop doesn't show specific prices in BO"
#### Is your feature request related to a problem?

Prestashop doesn't show specific prices in various places in BO.
Namely, in order details and cart details pages.
In effect, customer service have major problems in providing help to customers.

For instance:
1) A customer calls and says, "Could you look at my cart, I have some questions about prices and discounts before I place my order ...".
No

[2021-02-03 14:56] hibatallahAouadni commented on #23120
Hello @Prestaworks

Thanks for your feedback!
I reproduced the issue with PS1.7.6.9 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1DK-W9-cZpT0ayeChpK0aefv_cjclJh2j/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-02-03 14:57] Ludhiel commented on #23038
Hi,
Yes when I test i use a wire payment because its simplier. My customer says he has the problem on completed order. Probably some misunderstanding between him and me.

Your workflow is the correct one. But does the product you add in BO has a combination ?
Combination as:
` $combination = new Combination($product_informations['product_attribute_id']);`

Because that what is causing me problem w

[2021-02-03 15:08] hibatallahAouadni commented on #23038
Hello @Ludhiel

See the attached screen record below, i just add a product with combination and update is quantity:

https://drive.google.com/file/d/1Fhctk81XpjWW5pMCMYDsUx8cGlSXLYC6/view

Please check and feedback.
Thanks!

[2021-02-03 15:10] hibatallahAouadni commented on #23116
@Hlavtox you're right :wink:

Ping @PrestaShop/product-team I think it's a good idea to add the **Customer Group** name to the Order like **Guest**, do you think it's doable?

[2021-02-03 15:11] Ludhiel commented on #23038
Hello @hibatallahAouadni

In your DB, the temporary cart that is used when you add the product in BO is present? Maybe my problem is that it is not deleted/added to the customer.

Thanks for your help

[2021-02-03 15:12] tjerry opened #23126 "[Idea] Show total weight in FO and BO carts"
#### Is your feature request related to a problem?

Prestashop doesn't show total weight in various places in BO and FO.
Namely, in shopping cart (FO), blockcart (FO) and cart details (BO).

When customers order tens or hundreds of products, a current total weight of the cart is really needed.

1) For instance, a customer would like to order many household cleaning products and he wouldn't like to

[2021-02-03 15:26] #23065 closed, assigned to NeOMakinG

[2021-02-03 15:33] kmorgen commented on #22215
Just noticed the same problem/error accessing older orders/adresses after upgrade from PS 1.7.6.8 to 1.7.7.1
First did the upgrade to a Dev site - this have no problems. Then upgraded the live site, and this one have the problems.

Been reading through all this, but have not figured out an easy fix? Pretty big problem!

[2021-02-03 15:37] hibatallahAouadni commented on #23038
Hello @Ludhiel

Thanks for your feedback.
We are aware of this issue, it is already fixed with PS1.7.7.1. This issue is a duplicate of #21808.

Thanks!

[2021-02-03 15:37] #23038 closed, assigned to nobody

[2021-02-03 15:37] hibatallahAouadni commented on #23038
Duplicate of #21808

[2021-02-03 16:02] hibatallahAouadni commented on #23106
Hello @tswfi

I reproduced the issue with PS1.7.7.1 and PS1.7.6.9, see the attached screen record below:

https://drive.google.com/file/d/161w98EaiOLSEtJC4m_BtCV8PYw6seHqz/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

PS: I just attached two files **.txt** for the QA to use it

[2021-02-03 16:18] #23064 closed, assigned to NeOMakinG

[2021-02-03 16:18] hibatallahAouadni commented on #20817
@MatShir isn't similar to this one #12746? could you please check :pray:

[2021-02-03 16:24] hibatallahAouadni commented on #23125
Hello @tjerry

This issue is related to #12746
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think it's useful to add the specific prices to Order page and to the cart for the merchant, wdyt?

[2021-02-03 16:28] Julievrz commented on #22870
As we cannot add new wording in patch versions, I suggest we use the following existing string for now:

'This name already exists.' in Admin.Design.Notification

The domain is not the right one and the error message could be better, so I suggest we improve the wording in 1.7.8.

[2021-02-03 16:30] hadjedjvincent commented on #20301
@PierreRambaud why does this issue is now getting "Waiting for author tag" ?
I think that PR #20033 is correct and can fix this issue.

[2021-02-03 16:35] NeOMakinG commented on #19300
@matthieu-rolland don't hesitate to ping me anywhere you want, I can also do the front-end part myself if you want!

[2021-02-03 16:47] ProteanCode commented on #18016
still exists in 1.7.7.1

[2021-02-03 16:52] Julievrz opened #23130 "Improve the error message displayed when an order status name is not unique in 1.7.8."
#### Is your feature request related to a problem?

The name given to an order status should be unique. See https://github.com/PrestaShop/PrestaShop/issues/22870.
Since we cannot add new wording in patch versions, we have decided to use the following existing string for now: 'This name already exists.' in Admin.Design.Notification.
This string is not located in the right domain, it should be 'Admi

[2021-02-03 16:57] PierreRambaud commented on #20301
@hadjedjvincent Because we already answer and are waiting for a feedback from the author of this issue.
https://github.com/PrestaShop/PrestaShop/issues/20301#issuecomment-676207790
https://github.com/PrestaShop/PrestaShop/issues/20301#issuecomment-676116270

[2021-02-03 16:58] PierreRambaud commented on #23107
@tswfi Yes, it will :)

[2021-02-03 17:10] hibatallahAouadni commented on #23130
Hello @Julievrz

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think shall I change it to **`To Do`** or thie **feature** need more specs?

[2021-02-03 17:29] hibatallahAouadni commented on #23126
Hello @tjerry

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , it's related to #23125, do you think it's useful to add the weight to the product_details in Order or in Shopping Cart BO/FO?

[2021-02-03 17:31] hibatallahAouadni commented on #22816
Hello @pruault ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-03 17:31] #22816 closed, assigned to nobody

[2021-02-03 17:35] hibatallahAouadni commented on #23067
@alfonsolr09 just click on **`F12`** button on your keyboard :sweat_smile:

[2021-02-03 18:00] Esh-network opened #23131 "customer group tax error for 1.7.7.0 and 1.7.7.1"
An error causes taxes to no longer work.

Indeed, taxes are constantly displayed even though I do not want to display them for certain customer groups.

Steps to reproduce the behavior:

1. Go to 'store setting -> customer -> groups'
2. create a 'pro' group and put taxes on HT
3. modify your customer account to add it to the default group 'pro'
4. Go to internnational -> taxes then at the bottom c

[2021-02-03 18:50] hibatallahAouadni commented on #23101
Hello @Eva-F

This issue has been fixed with PS1.7.7.0, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/106794347-01029100-6659-11eb-96ca-03829bd8532c.png)

![image](https://user-images.githubusercontent.com/23308427/106794363-06f87200-6659-11eb-8b30-4a0cd9e3634c.png)

This issue is a duplicate of #15228

Thanks!

[2021-02-03 18:50] #23101 closed, assigned to nobody

[2021-02-03 18:51] hibatallahAouadni commented on #23101
Duplicate of #15228

[2021-02-03 18:58] tjerry commented on #23126
Actually, a better way would be to add a switch in BO settings, to disable or enable it.
I can imagine, there are shops, that wouldn't need it.

[2021-02-03 19:07] hibatallahAouadni commented on #23126
@tjerry that's a good idea :clap:

[2021-02-03 19:14] Eva-F commented on #23101
ok, thx for info

[2021-02-03 20:21] pro8181 opened #23132 "500 Internal Server Error when opening the installed modules page"
#### Describe the bug

500 Internal Server Error - FatalErrorException when I try to go into installed modules in PrestaShop.

#### Expected behavior

500 Internal Server Error - FatalErrorException when I try to go into installed modules in PrestaShop.
I can't edit / change / delete installed modules on my site and can't change them positions.

#### Additional information

nformacja o konfiguracj

[2021-02-03 21:26] matks commented on #22668
Issue updated with a "release roadmap". We have 3 PRs to merge and 5 modules to release. We better start pushing it to be ready for 1.7.7.8 !

[2021-02-03 21:27] ibrahimfsasmaz commented on #22756
hi this is what I get

id_order_detail | id_order | shipped | valid | current_state
-- | -- | -- | -- | --
16394 | 13976 | 1 | 1 | 4
16404 | 13986 | 1 | 1 | 4
16463 | 14036 | 0 | 0 | 6
16670 | 14206 | 1 | 1 | 4
16724 | 14256 | 0 | 0 | 6
16729 | 14260 | 0 | 0 | 6
16965 | 14448 | 1 | 1 | 4
17199 | 14637 | 1 | 1 | 4
17308 | 14729 | 1 | 1 | 4
17350 | 14763 | 1 | 1 | 4
17381 | 14787 | 1 | 1 | 4
17455 |

[2021-02-03 21:32] matks commented on #22029
@MatShir Is this issue supposed to be fixed for 1.7.7.2 ? It's marked as `critical`.

[2021-02-03 21:44] nicohery commented on #22809
I reproduce this bug on multiple hosting or local configs using MySQL < 5.7 or MariaDB < 10.2.
Prestashop team should at least update [https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/ ](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/ )
Adding database requirement with a beautiful chart as like as PHP one.

[2021-02-03 22:22] ruchus commented on #23126
Hello @tjerry

I think also that's a good idea.
In fact, i need some times the same as you. More exactly, for my needs it would be nice to show the weight when it's 15kg and more.

Then,  a better way would be to add a switch in BO settings plus a minimum wight value.

[2021-02-03 22:25] Andis-Git commented on #22215
I had the same issue as you with the upgrade to 1.7.7.0 on my  STAGING server not showing any issues, but when I upgraded PROD the above multiple issues cropped up.  **I found  andrewcroberts  SQL-queries.txt file to be a perfect and logical fix**_. Worked for me, 5 stars! The reason STAGING didn't throw any errors (well turns out after deep digging there were a few) is that STAGING only had a few

[2021-02-03 23:46] alfonsolr09 commented on #23067
https://youtu.be/lj7h_HcFCPo

[2021-02-04 00:03] alfonsolr09 opened #23133 "New error with breadcrumbs"
![image](https://user-images.githubusercontent.com/62474824/106824811-e2fe5600-6683-11eb-8f65-fa49364b132a.png)
 new error with using the code of new PR (#22417)
 Error on [www](http://www). your website /shops

#22417
#23024

[2021-02-04 00:37] hibatallahAouadni commented on #22968
Hello @Seb33300

I reproduced your issue with PS1.7.7.1 and PS1.7.6.7, so let's list the steps to reproduce the issue:

1. under your project source `themes/classic` create a directory `mails/themes/modern/componenets`
2. copy footer.html.twig from `/mails/themes/modern/components/`
3. paste it into `themes/classic/mails/themes/modern/componenets`
4. add "test mail" besides **`shop_name`**
5. save

[2021-02-04 01:01] hibatallahAouadni commented on #23083
Hello @ballashop

Could you please provide the **`csv`** file that you used.

PS: the Github doesn't support **`.csv`** file, so just change your file extension to **`.txt`**

Thanks!

[2021-02-04 01:14] hibatallahAouadni commented on #23132
Hello @pro8181

Your issue seems similar to this one #10895 (and this too #20438)
Coudl you please check it and feedback.

Thanks!

[2021-02-04 01:19] hibatallahAouadni commented on #23133
Hello @alfonsolr09

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-02-04 01:19] #23133 closed, assigned to nobody

[2021-02-04 01:53] hibatallahAouadni commented on #23131
Hello @Esh-network

Following you steps, however the **Display tax in the shopping cart** option is enbled or disabled, I always get the total with tax.
Please check my screen record below and feedback:

https://drive.google.com/file/d/1ig4sj1vyg5jVCmgYBGvipcTnIJC8hIIG/view

Thanks!

[2021-02-04 02:29] Seb33300 commented on #22968
@hibatallahAouadni small typo in your instruction you wrote `componenets` instead of `components`

[2021-02-04 03:54] marek1545 commented on #9809
Hello,
I observe this issue on 2 years from when I migrate my shop from PS 1.6 to 1.7.   Nothing change, but I still waiting with hope.

New method of create combinations in PS 1.7 in my opinion is little not good enough. First you create combination and next you edit price e.t.c.  On start you have to spent many time to fill information for every combination. I understand for better customization

[2021-02-04 07:51] #22572 closed, assigned to NeOMakinG

[2021-02-04 08:08] Hlavtox commented on #22756
@ibrahimfsasmaz Your product is reserved in orders below. All the orders have some custom status with ID 16 set. Check the settings of this order status, this problem does not happen in default prestashop. I think you can solve this problem by opening settings of that order status and checking "Set the order as shipped.".

Ping @hibatallahAouadni :-)

id_order_detail | id_order | shipped | valid |

[2021-02-04 08:19] madsoliver opened #23134 "New hooks in Admin Order Index"
I have some suggestions for hooks on the new Admin Order Index page **(introduced in 1.7.7.X).**

- Modules should be able to do order bulk actions.
- Modules should be able to hook things in order index header and footer
- Modules should be able to add/remove/modify order list cols

Yes, there is an option to override the admin templates, but I belive hooks is easier and should be an option. Hook

[2021-02-04 08:34] kpodemski commented on #23134
Hey @onklmaps

https://devdocs.prestashop.com/1.7/development/components/grid/tutorials/work-with-bulk-actions/#how-to-add-bulk-actions-from-module

https://github.com/PrestaShop/PrestaShop/pull/22980

https://devdocs.prestashop.com/1.7/development/components/grid/tutorials/modify-grid-in-module/

Everything is available 😎

[2021-02-04 08:39] alfonsolr09 commented on #23133
to reproduce you just have to change the code of the path of the PR mentioned and try with google search console

[2021-02-04 09:03] madsoliver opened #23135 "A greater plan for imports"
The import functionality is a great feature of PrestaShop and is often a very important feature for converting merchants from other e-commerce platforms to PrestaShop (that must be a priority i guess 😉).

But it is a pain to work with..... At least most of the time. I often get csvs or excel-files from clients that want to migrate from another system and there is allways alot of rounds trying to c

[2021-02-04 09:09] hibatallahAouadni commented on #22756
@ibrahimfsasmaz please next time do not paste your table/code (if it's extremely long) in comment, just put it in .txt file and attach it to your comment :wink:
And could you please check this issue #23013 cause it seems similar to your

@Hlavtox Thanks for helping :superhero_man:

_PS: I just edit your comment cause it was extremely long_

[2021-02-04 09:15] hibatallahAouadni commented on #23134
Hello @onklmaps

Thanks for your issue! But it seems everything you asked for it is available as @kpodemski mentioned above :wink:
So, I close this issue :slightly_smiling_face:

@kpodemski thanks for your quick reply :rocket:

Thanks!

[2021-02-04 09:15] #23134 closed, assigned to nobody

[2021-02-04 09:36] NeOMakinG commented on #14955
@PrestaShop/product-team should we fix it now, or do we wait for the product page migration?

[2021-02-04 09:37] PierreRambaud commented on #22029
@matks if we can fix it for the 1.7.7.2 yes, otherwise it will wait for the next patch release :sweat_smile:

[2021-02-04 09:37] hibatallahAouadni commented on #23135
Hello @onklmaps

Thanks for the well detailed suggestion :clap:
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , well it seems we have a lot of improvements and features in one issue :sweat_smile: related to the Import/export, is it doable?

[2021-02-04 09:39] NeOMakinG commented on #22435
I open it again, as It could be really improved, the first PR was a "first shot"

[2021-02-04 09:41] Esh-network commented on #23131
this is exactly the problem I am describing on this version of prestashop.

the correction must be important for the community and a priority I think.

[2021-02-04 09:43] MatShir commented on #22029
Yes, it is on the ToDo column, so I should be picked ASAP

[2021-02-04 10:26] hibatallahAouadni commented on #23131
Hello @Esh-network

I think that option is only to hide/show the taxes but not to subtract it for this Customer Group.
Let's ping the Product Team to be sure :wink:

Ping @PrestaShop/product-team if this option **Display tax in the shopping cart** is disabled, the taxes are hidden but not subtracted from the total, is that so?

[2021-02-04 10:30] hibatallahAouadni commented on #22435
@NeOMakinG Should I change its position in Backlog from column **`Done`** to column **`To Do`**?

[2021-02-04 10:33] hibatallahAouadni commented on #22968
@Seb33300 Thanks :wink:

[2021-02-04 10:44] hibatallahAouadni commented on #22857
Hello @jean-io ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-04 10:44] #22857 closed, assigned to nobody

[2021-02-04 10:49] matks commented on #22809
I don't understand what we should update?

Be careful: on https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/ we are talking about standard MySQL database. Oracle MySQL is a different database. As far as I know, the docs says nothing about Oracle MySQL compatibility.

[2021-02-04 10:57] matks commented on #22924
It's a go tool 😅  . I will try to make it work nonetheless.

Btw `php bin/console security:check` is broken as expected.

[2021-02-04 10:59] barda commented on #22809
"Standard MySQL" does not mean anything.

MySQL flavours are (at least):
- Oracle MySQL = https://dev.mysql.com/
- MariaDB = https://mariadb.com/
- Percona = https://www.percona.com/software/mysql-database

Here we are stating this bug is affecting Oracle MySQL < 5.7 and MariaDB < 10.2 due the missing row format in SQL file used during the installation.

[2021-02-04 11:04] hibatallahAouadni commented on #23067
Hello @alfonsolr09

It seems your issue related to https, could you please check if these options are enabled in your BO:

![image](https://user-images.githubusercontent.com/23308427/106884075-22a75b00-66e1-11eb-9e89-5bc63f02e43e.png)

Please check and feedback.
Thanks!

[2021-02-04 11:04] matks commented on #22809
@barda it's not even that simple 😛  as "Oracle MySQL" used to be "Oracle" or "MySQL" and some people used "Oracle MySQL" as an alias for "Oracle".

There is indeed a need for disambiguation. I use "Standard MySQL" to refer to https://dev.mysql.com/ as there was a time MySQL was not affiliated to Oracle 😄  .

[2021-02-04 11:08] Esh-network commented on #23131
So if we want for a group not to display taxes, they are still active in the order?

While we do not want to display them precisely.

[2021-02-04 11:13] alfonsolr09 commented on #23067
Are enabled...

[2021-02-04 11:29] alfonsolr09 commented on #23133
@hibatallahAouadni

[2021-02-04 12:29] Prestaworks commented on #23120
This is a suggestion
https://github.com/PrestaShop/PrestaShop/pull/23137
it is ofcourse better to fix the localization packs but this will work until that is done :)

[2021-02-04 12:45] NeOMakinG commented on #22435
I did it @hibatallahAouadni

[2021-02-04 12:47] hibatallahAouadni commented on #23133
@alfonsolr09 I will try to reproduce it and feedback 😉

[2021-02-04 13:36] PierreRambaud commented on #22924
Feel free to directly download an archive: https://github.com/fabpot/local-php-security-checker/releases :)

[2021-02-04 14:05] alfonsolr09 commented on #23133
@tswfi

[2021-02-04 14:23] maciekwyka commented on #21105
Should be also option to completely hide products out of stock from shop

[2021-02-04 14:48] hibatallahAouadni commented on #23133
Hello @alfonsolr09

I didn't manage to reproduce the issue with develop, the only issue that I encountred is this one #22962

and this new regression:

![image](https://user-images.githubusercontent.com/23308427/106909100-3d3cfc80-6700-11eb-8b2a-6db60aa01b61.png)

Please check and feedback.
Thanks!

[2021-02-04 14:53] tswfi commented on #23133
@hibatallahAouadni I'm pretty sure the "url non valide" is because you are using "prestashop" as domain name without any tld so it is not a fqdn..

[2021-02-04 15:00] ballashop commented on #23083
Hi @hibatallahAouadni
ok, thanks
[import with only reference.csv.txt](https://github.com/PrestaShop/PrestaShop/files/5926537/import.with.only.reference.csv.txt)
.

[2021-02-04 15:04] hibatallahAouadni commented on #23133
@tswfi yep I just test it with my local shop and I need to test it with hosted one :sweat_smile:

[2021-02-04 15:11] matks commented on #22924
Looks like the good binary for MacOSX is `local-php-security-checker_1.0.0_darwin_amd64`

[2021-02-04 15:28] hibatallahAouadni commented on #23133
Hello @alfonsolr09

I didn't reproduce your issue with develop on hosted shop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/106914993-d6badd00-6705-11eb-9d97-b635c231f601.png)

And as I mentioned above, the only issue that I encounter is this one #22962

Ps: Thanks @tswfi  :wink:

Thanks!

[2021-02-04 15:31] alfonsolr09 commented on #23133
You have to write your web /shops

[2021-02-04 15:33] alfonsolr09 commented on #23133
the only mistake is with the "stores" page.
Like in the screen

[2021-02-04 15:34] hibatallahAouadni commented on #23133
@alfonsolr09 you mean to test it with multistore, is that so?

[2021-02-04 15:37] alfonsolr09 commented on #23133
No, section shops

[2021-02-04 15:37] alfonsolr09 commented on #23133
Like this lamagrande.com/tiendas

[2021-02-04 15:42] hibatallahAouadni commented on #23133
Hello @alfonsolr09

you mean `/stores `

![image](https://user-images.githubusercontent.com/23308427/106916806-e63b2580-6707-11eb-8e6b-ff08c432b152.png)

It seems your issue related to your theme.

Thanks!

[2021-02-04 15:44] TheoAlloin opened #23140 "Cart rules : huge ps_cart_rule_combination table"
_Prestashop : 1.7.6.9_

Hi guys,

I have an performance problem concerning the shopping cart rules on Prestashop : **having a lot of shopping cart rules + making them non-cumulative** with each other **overloads a lot the ps_cart_rule_combination table**.

Prestashop saves each excluded cart rule in this table which duplicates the data, and the size of the table becomes exponential.

_For example

[2021-02-04 15:45] alfonsolr09 commented on #23133
Can you show me the code of the web that you have inspected?

[2021-02-04 15:46] alfonsolr09 commented on #23133
the breadcrumb code i mean

[2021-02-04 15:51] paolobattistella opened #23141 "Critical error adding product pack into backoffice order"
#### Describe the bug
I'm trying to create an order into backoffice. I have added a product pack but the autocomplete search returns this error below.

I have resolved the issue adding cast to 7th argument creating the object FoundProduct.
See the wrong line of code.
https://github.com/PrestaShop/PrestaShop/blob/d53f819953eceac5e9c362a400110f50bcc7313d/src/Adapter/Product/QueryHandler/SearchProduc

[2021-02-04 16:06] hibatallahAouadni commented on #23067
Hello @alfonsolr09

I'm really sorry I can not help you anymore cause I didn't manage to reproduce your issue :confused:

Sorry, but I have to close the issue, cause, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. And it seems you need help with your shop, so please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively,

[2021-02-04 16:06] #23067 closed, assigned to nobody

[2021-02-04 16:07] matks commented on #23133
Hi @alfonsolr09 , it I am not wrong, what @hibatallahAouadni has done is:

1. Checkout `develop` branch which is the next version of PrestaShop being built (it will become 1.7.8.0) - and this branch contains the result of https://github.com/PrestaShop/PrestaShop/pull/22417
2. Install it, test it
3. See result.

You can do the same.

However when you copy the code changes from https://github.com/Pr

[2021-02-04 16:09] alfonsolr09 commented on #23133
Ok, thanks @matks
Where can i download develop built?

[2021-02-04 16:12] matks commented on #23133
There 😉  https://nightly.prestashop.com/

[2021-02-04 16:42] pro8181 commented on #23132
Hi, so just rename skrill module file name. It's working. Thanks

[2021-02-04 16:42] #23132 closed, assigned to nobody

[2021-02-04 17:02] matks commented on #16482
Thanks to the merges of #21923, #19996 and #22477 we reach 57% of done!

[2021-02-04 17:23] hibatallahAouadni commented on #23141
Hello @paolobattistella

could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- PHP version
- did you upgrade your shop lately, if so what was your shop version
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how

[2021-02-04 17:27] hibatallahAouadni commented on #23140
Hello @TheoAlloin

Well, I think your issue is similar to this one #10003
Coudl you please check it and feedback.

Thanks!

[2021-02-04 17:29] hibatallahAouadni commented on #23132
@pro8181 Glad to hear :tada:

[2021-02-04 17:29] matks commented on #23141
@paolobattistella it is likely the issue only happens for specific kind of products. Our tests with "regular" pack products did not indicate issues but you might have found an edgecase. Can you describe as much as possible what kind of products you sell? Do you use attributes? Custom fields? Attachments?

[2021-02-04 17:57] marionf commented on #14955
I think we can do it know if it will not be necessary to redo it once the page will be migrated

[2021-02-04 18:05] marionf commented on #23125
@MatShir FYI

[2021-02-04 18:16] TheoAlloin commented on #23140
Hi @hibatallahAouadni ,

Thanks for your reply.

Indeed, i have the same problem as this issue...
Have we an update from Prestashop dev about that ?

Regards

[2021-02-04 18:18] TheoAlloin commented on #10003
hi @matks @gennaris ,

I have the same issue....
Have we an update about this post ? This is an real issue for our e-merchants...

Thanks,
Regards

[2021-02-04 18:34] sijafu commented on #10003
@TheoAlloin maybe we could share some thoughts on priv about that issue? I suspect that some modules could be involved so we could compare some things :)

[2021-02-04 18:58] 8ternity opened #23145 "Prestashop AutoUpgrade 4.11.0 SQL Error on Upgrading 1.7.5.1 to 1.7.7.1"
Hi,

I try to upgrade my store (version 1.7.5.1 to 1.7.7.1) with the AutoUpgrade 1-Click Module (v4.11.0) latest version and during th installation is ended with a SQL error.

    SQL 1.7.7.0 1071 in ALTER TABLE `ps_shop_url` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci: Specified key was too long; max key length is 1000 byte

Does we need to made the change manually or the store wi

[2021-02-04 19:09] hibatallahAouadni commented on #23140
Hello @TheoAlloin

No, cause this issue need specifications. So, we need to wait till the Product Team finish the specs.
Sorry, but I have to close this issue cause it's a duplicate to #10003
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-04 19:09] #23140 closed, assigned to nobody

[2021-02-04 19:09] hibatallahAouadni commented on #23140
Duplicate of #10003

[2021-02-04 19:29] TheoAlloin commented on #10003
@sijafu yes why not :) But i think it's a real problem of conception, it doesn't necessarily come from an external module.

[2021-02-04 20:20] hibatallahAouadni commented on #10823
Hello @matks

What is the status of this improvement?

Thanks!

[2021-02-04 20:26] hibatallahAouadni commented on #10819
@PierreRambaud I think this issue status should be **`To Do`** instead of **`TBS`**, is that so?

[2021-02-04 20:43] alfonsolr09 commented on #23133
gracias

[2021-02-04 20:48] matks commented on #10819
Hi, I just discover this issue (thanks to @hibatallahAouadni) and I am wondering if it's still relevant 🤔 ?

When I want to upload a module directly by folder, what I do is:
1. Move module into `/modules`
2. Open Back-Office page "Improve / Modules / Modules Catalog"
3. I see my module in the list (if needed, use search bar to filter list content)
4. Click "install"

After install has been done, m

[2021-02-04 21:05] alfonsolr09 opened #23147 "Encoding error on autoupgrade module"
#### Describe the bug

![image](https://user-images.githubusercontent.com/62474824/106955006-e3a2f500-6734-11eb-8217-22375b26fc3f.png)
![image](https://user-images.githubusercontent.com/62474824/106955011-e6054f00-6734-11eb-87e7-6f1062ee044d.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to autoupgrade module
2. Click on local file
3. See error

#### Additional information

[2021-02-04 21:05] PierreRambaud commented on #10819
It's also possible in production mode.
The real problem was a misunderstanding between the catalog and the manager, where the last one is logically also managing your modules present on the disk.

[2021-02-04 21:13] matks commented on #10819
Maybe we should modify the title of this issue? The title should contain what needs to be done.

Possible solutions:
- display the list of "modules not installed but exist in `/modules`" in Modules Manager in 1st tab
- create a new tab "modules not installed but exist on disk" for these modules in Modules Manager
- add an information message in Modules Manager to tell people "yes, there are module

[2021-02-04 22:01] alfonsolr09 commented on #23067
it's true, the problem was mine. I already solved it, thanks

[2021-02-05 00:34] alfonsolr09 commented on #22636
if this PR is applied in 1.7.7.2, the other one in 1.7.8.0 cannot be applied
since in the change made for version 1.7.7.2, the PR foreseen for 1.7.8.0 had already been applied.
that is, this PR 1.7.7.2 #23024 already includes the other PR for 1.7.8.0 #22417

[2021-02-05 00:48] alfonsolr09 commented on #22416
this other bug was fixed?

[2021-02-05 01:28] alfonsolr09 opened #23329 "show href in bold"
![image](https://user-images.githubusercontent.com/62474824/106976954-abfa7400-6759-11eb-8aff-45f60eaa7666.png)

I think the href should be shown in bold

[2021-02-05 01:58] alfonsolr09 opened #23148 "In product page, add a new field for Product price (tax incl.) in Specific Prices"
#### Is your feature request related to a problem?

sometimes it is a bit heavy to calculate the price to make the price to your liking

#### Describe the solution you'd like

add box to apply price rule on a price with tax included

#### Additional context

![image](https://user-images.githubusercontent.com/62474824/106978924-8a02f080-675d-11eb-8c69-7d976a677455.png)

- the box on the left curren

[2021-02-05 03:33] Bi11fx opened #23149 "Custom Translation of theme classic isn't being saved"
The custom translations of theme classic, made in the backend is not being saved.
Sometimes it saves but mostly it doesn't. Still in the demoshop it doesn't work.
For example:
Translating the copyright information:
Delete all and write something new - will not be saved.
Delete all behind the hiven and write %shop_name% - will not be saved.

#### Steps to Reproduce
Go to the prestashop official dem

[2021-02-05 07:40] gennaris commented on #10003
I think I've well explained the reason behind the problem in July 31st post , how to reproduce it and why it happens.

Unfortunately, this function has been designed into the core without taking into account the fact that you can have numerous restricted rules. No modules are involved, unless they are creating restricted rules as-per-my previous explanation.

It seems that a total redesign of this

[2021-02-05 07:46] #22885 closed, assigned to NeOMakinG

[2021-02-05 08:00] ecojo opened #23150 "Google Sitemap Module - URLs in sitemap created - consisting of -.html Only"
#### Describe the bug

GSC is reporting that my sitemaps have -.html URLs generated from google sitemap module (attached below)

#### Expected behavior

Urls having unknown source and have not added any URLs with '-'.html as their only format.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to site map URL -https://wesupplement.com/1_en_0_sitemap.xml
2. Search for com/en/-.html
3

[2021-02-05 08:09] hibatallahAouadni commented on #22416
Not yet, here's the link of that issue #22962

[2021-02-05 08:11] florine2623 commented on #23147
Hi @alfonsolr09 ,
Thanks for your report.
I have reproduced this encoding issue in PS 1.7.7.1, 1.7.7.0 and 1.7.6.5.
I'll add this to the debug roadmap.
Thanks!

[2021-02-05 08:27] florine2623 commented on #23148
Hi @alfonsolr09 ,
Thanks for the suggestion.
Please stay tuned as I ping our product-team !

[2021-02-05 08:33] florine2623 commented on #23148
Ping @PrestaShop/product-team ,

Do you think adding a new field for "**Product price (tax incl.)**", in product page > Price tab > Specific Prices > Impact on Price, would be possible ?

Thanks!

[2021-02-05 08:41] florine2623 commented on #23150
Hi @ecojo ,
Can you give more info about the affected product ?
Thanks!

[2021-02-05 08:48] kalise0 commented on #20999
This solved the problem by my side !

The documentation of prestashop seems ton contain errors / missing parts here : https://devdocs.prestashop.com/1.7/basics/installation/nginx/

double server_name instruction and missing part for rewrite.

[2021-02-05 08:58] NeOMakinG commented on #23097
I close this as it teems impossible to reproduce

[2021-02-05 08:58] #23097 closed, assigned to NeOMakinG

[2021-02-05 08:59] florine2623 commented on #23149
Hi @8i11y ,
Thanks for your report.
I reproduced this issue in PS 1.7.6.9, 1.7.7.0 and 1.7.7.1.

Some string of characters are saved normally but some others don't, even after multiple tries.
Exhaustive list :
OK : Popular Product / Sign Out
NOK : Copyright / Footer info (Store Info, Our Company)

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if

[2021-02-05 09:05] #18173 closed, assigned to NeOMakinG

[2021-02-05 09:08] florine2623 commented on #23145
Hello @8ternity ,
Your issue is a duplicate of #21948.
It has been fixed by #21975.

So I'll close your issue.
Thanks!

[2021-02-05 09:08] #23145 closed, assigned to nobody

[2021-02-05 09:44] prestamodule commented on #20301
Well, adding `id_shop` would do the trick, so #20033 can be merged IMO

[2021-02-05 09:45] matks commented on #10823
@hibatallahAouadni ToDo I think

[2021-02-05 09:46] matks commented on #10823
ping @zuk3975 @jolelievre @JevgenijVisockij if you want to add suggestions / usecases / constraints

[2021-02-05 10:07] khouloudbelguith commented on #20892
Hi!

This issue is fixed by https://github.com/PrestaShop/gamification/pull/78

Thank you!

[2021-02-05 10:07] khouloudbelguith commented on #20892
Duplicate of #22981

[2021-02-05 10:09] elvisesteban opened #23152 "PS 1.7.7.1 : Merchandise return (in order detail page > customer account) no input"
#### Describe the bug

In prestashop 1.7.7.1, i activated the Mercandise return option.

I created some fake orders and changed their status to "Shipped".

I wanted to make a merchandise return test so i went to my customer account and selected a "shipped" order.

In the detail order page, i can't select any product for return. There are no input on the left of the product line.
Actually, if you r

[2021-02-05 10:19] hibatallahAouadni commented on #10954
Hello @CArlvJ1N0N8

As a bug, we couldn't reproduce it :wink:
As an improvement, I don't see it critical to add a label **Tax included** besides the input **Free shipping stars at**.
But lets' ping the Product Team. Please stay tuned !

![image](https://user-images.githubusercontent.com/16067358/47093698-063e3680-d22a-11e8-9d2a-39314079b515.png)

---

@marion what do you think.
It could be an impr

[2021-02-05 10:22] #22981 closed, assigned to Progi1984

[2021-02-05 10:52] florine2623 commented on #23152
Hello @elvisesteban ,
It seems like the issue comes from your template.
When using Classic theme, the merchandise return work correctly :
![Capture d’écran 2021-02-05 à 11 50 33](https://user-images.githubusercontent.com/16019289/107024550-7a5cc980-67a8-11eb-8888-c0237ca01539.png)
![Capture d’écran 2021-02-05 à 11 50 39](https://user-images.githubusercontent.com/16019289/107024561-7cbf2380-67a

[2021-02-05 10:52] #23152 closed, assigned to nobody

[2021-02-05 10:59] hibatallahAouadni commented on #11023
Ping @PrestaShop/product-team , can we add a position field in the page Product Edit as @GeoTimber proposed above? is it a good idea?

[2021-02-05 11:04] hibatallahAouadni commented on #11134
Ping @PrestaShop/product-team friendly reminder :wink: What is the status of this issue?

[2021-02-05 11:11] hibatallahAouadni commented on #11316
Hello @matks

Thanks for the suggestion. So, what's this issue status?
Ping @PrestaShop/prestashop-core-developers friendly reminder :wink:

Thanks!

[2021-02-05 11:15] hibatallahAouadni commented on #11521
Ping @matks is this issue still **`To Do`**?

[2021-02-05 11:18] hibatallahAouadni commented on #11021
@matks what's the status of this issue?

[2021-02-05 11:41] ecojo commented on #23150
Hi @florine2623

I am unsure where there url entries in the sitemap occured from

It is possible that the URL entries like **com/en/-.html**  occurred when

- a product was added to prestashop in offline mode
- switched to online mode to save
- and then deleted from the ps_products table manually
- then ran generate sitemap to generate listings

This was the last known work I was doing on store.

[2021-02-05 12:56] danirupe commented on #9901
Yes, serious bug, I have the same.

[2021-02-05 13:34] matks commented on #11134
Hi,

1. This feature request is very good. Indeed using SQL incrementable integers is neither secure nor a good thing, especially for something as important as Order IDs. By the way there is already an available replacement which is the Order reference, but as mentioned by @RomSunZ it would be needed to use them everywhere.

2. However doing this change would be a massive BC breaks as it would cha

[2021-02-05 13:59] florine2623 commented on #23150
Thanks for the steps.

I have reproduce the issue.
Deleting a product via the database is not secure and should be done. Next time, please delete the product directly from the product page in BO.

To fix this :
you need to add again the product to your database with the affected ID
delete the product from your BO
regenerate sitemap
see sitemap doesn't have the -.html url

I'll close your issue.
Th

[2021-02-05 13:59] #23150 closed, assigned to nobody

[2021-02-05 14:05] bitseeker commented on #9589
same problem in 1.7.7.1
+ full cart does not persist when customer logs out and in again -> cart is empty

[2021-02-05 15:11] hibatallahAouadni commented on #11134
@matks you mean PrestaShop 1.8 or PrestaShop 1.9, is that so? :sweat_smile:

[2021-02-05 15:16] matks commented on #11134
@hibatallahAouadni We plan to stop using the 1.X notation from next major. The `1.` means nothing.

It's not 100% sure but hopefully, after PS 1.7.9 will come PS 8.0.0

[2021-02-05 16:02] #22399 closed, assigned to nobody

[2021-02-05 16:28] hibatallahAouadni opened #23156 "Problem with some languages in BO on develop"
#### Describe the bug

when I change my default language BO to **Čeština (Czech)**, **Arabic** or **Polski (Polish)** on branch develop. The BO remains in English language.

#### Expected behavior

all BO translated by the choosen language

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO>IMPROVE>International>Localization
2. In the **Import a localization pack** block, choose **Če

[2021-02-05 16:59] hibatallahAouadni commented on #23156
Well, after updating twice the language, it works :sweat_smile:
I will say that this issue is related to Performance, cause with 1.7.7.1, I never use this functionnality **BO**>**International**>**Localization**>**Translations**>**update a language**

[2021-02-05 17:05] marcobeniamin-calicantus opened #23160 "Prestashop doesn't update currency after changing shipping country"
#### Describe the bug
I have configured prestashop to sell in two different countries (Italy and United Kingdom) and specified in each one its currency (IT: € and UK: ₤).
I have enabled "Geolocation by IP address" in "international > Geolocation" and uploaded the Geolite2 file.
I have Created a simple product and the Pricing Tab and set 2 specific price (see screenshot below).
When I visit the sho

[2021-02-05 17:15] tonypartridge commented on #14979
Is there any update on this? I see you removed yourself @MatShir ?

[2021-02-05 17:20] SimonGrn commented on #14979
Hello,

it will be handled as soon as the devs have some time. The issue is prioritized for 1.7.8 which is the next version to come.
If you want it to be tackled faster, you are welcome to make a Pull Request !

Thank you for your understanding.

PS: @MatShir is not a developer, so his removal is not linked with the speed at which the issue can be handled.

[2021-02-05 18:07] ecojo commented on #23150
Thanks @florine2623 unfortunately I don't have the product ids of the entries that were deleted.

[2021-02-05 18:12] LaRider commented on #18943
Hola muy buenas tardes, tengo el mismo problema

en ErrorHandler -> handleError ( 2, 'Declaración de Cart :: getProducts ($ refresh = false, $ id_product = false, $ id_country = NULL, $ fullInfo = true) debería ser compatible con CartCore :: getProducts ($ refresh = false, $ id_product = false, $ id_country = NULL, $ fullInfos = true, bool $ keepOrderPrices = false) ',' /home/larider/web/laridersh

[2021-02-05 19:32] hibatallahAouadni commented on #23145
Duplicate of #21948

[2021-02-05 20:02] Borgas opened #23161 "Doctrine Error in fresh install - Languague pt-PT"
Hello
#### Describe the bug
No demos installed - Fresh install in cPanel live server
Done modules updates
Debug mode on: Got this result

#### Steps to reproduce

1. install PrestaShop
2. Choose the Portugues as default language
3. Choose Portugal as your country
4. After install, try to open BO
5. See error

**Screenshots**

Doctrine error
Class | Mapping errors
-- | --
PrestaShopBundle\Entity\Ad

[2021-02-05 23:02] anthus0204 opened #23162 "Error at order page"
prestashop 1.7.7.1 php7.4

I get this error when i get to the order page

(1/1) ContextErrorExceptionNotice: Trying to access array offset on value of type null
--
in 35655e6409b6198f29dd6e732ef9598dec599880_2.module.psshoppingcartpsshoppingc.php line 118
at content_601db31c093a07_51229141()in smarty_template_resource_base.php line 123
at Smarty_Template_Resource_Base->getRenderedTemplateCode()in 

[2021-02-06 01:02] rblaurin commented on #20739
So... can we expect classes to wrap Guzzle in 1.7.8?

[2021-02-06 08:04] skeccy commented on #22594
scuse me friends i have another similar problem. When i select one combination and click on image preview the main image become the cover image. if i want to this the correct image I have to select the thumbnail

![Inked1_LI](https://user-images.githubusercontent.com/70293774/107112750-39bd8880-685a-11eb-8970-fb40685914c2.jpg)
![Inked2_LI](https://user-images.githubusercontent.com/70293774/1071127

[2021-02-06 08:25] dandumit opened #23163 "Nginx Failed opening required '/home/nginx/domains/asd.ro/public/var/cache/dev/appParameters.php'"
#### Describe the bug
I have installed and was working for some basic steps presta 1.7.7.1
After this I get this error

Warning: require_once(/home/nginx/domains/asd.ro/public/var/cache/dev/appParameters.php): failed to open stream: Permission denied in /home/nginx/domains/asd.ro/public/config/bootstrap.php on line 87

Fatal error: require_once(): Failed opening required '/home/nginx/domains/asd.r

[2021-02-06 09:51] mojtabamalaekeh opened #23164 "Improve watermark performance"
https://github.com/PrestaShop/PrestaShop/blob/a83d9eadfaac3d031b545fdac42615b2983e0c83/controllers/admin/AdminImportController.php#L1284

Hello,
I think calling actionWatermark hook should be moved outside of the images_types foreach.
Because:
1. id_image_type has not been sent as a parameter.
2. Watermark module - itself - will loop through all image types in hookActionWatermark function.
So ther

[2021-02-06 10:59] PierreRambaud commented on #23163
Hi,
Did you check if your php-fpm user is the same as Nginx?
Did you also check what is your umask settings?

Kind regards

[2021-02-06 13:55] AldeaG commented on #15416
Hi:
I´m using Prestashop 1.7.7
I´m importing combinations via csv. I get final selling (recommended) prices tax included from my provider. As the prices may differ from size to size or color to color I set the original price to 0 in products and set the price impact as final price in combinations. The problem is I get final prices prices included.

But if I import the price from Combinations csv,

[2021-02-06 17:39] hibatallahAouadni commented on #23164
Hello @mojtabamalaekeh

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.

Also let us know if you are voluntary to maintain this module.

Thanks!

[2021-02-06 18:02] baptx opened #23165 "download stable version without sharing email address and agreeing terms"
The README file says:
"This repository contains the source code of PrestaShop, which is intended for development and preview only. To download the latest stable public version of PrestaShop (currently, version 1.7), please go to the download page on the official PrestaShop site."

However on the download page, we need to share and email address and agree to the "Terms and Conditions of Use" / "Dat

[2021-02-06 18:12] sylwit commented on #9783
I understand you found more important bugs but honestly after 2 years..., having a bug like this which isn't fixed isn't flattering for PS team.

@zhmedia already provide you a way to fix it https://github.com/PrestaShop/PrestaShop/issues/9783#issuecomment-480438122

The bug can't be more obvious. You still have a table ps_message which is NEVER displayed anywhere.
So either merge messages with cu

[2021-02-06 20:34] matks commented on #23165
Yes

[2021-02-06 20:40] ibrahimfsasmaz commented on #22756
Thanks a lot it is fixed
I appreciate

[2021-02-06 20:47] Hlavtox commented on #22756
@ibrahimfsasmaz Perfect!!! Can you explain what you use this status for and when do you use it? Maybe we can tweak the logic of reserving products better. :)

[2021-02-06 20:51] matks commented on #9783
Since Back Office Orders page has been reworked in PrestaShop 1.7.7, file `/controllers/admin/AdminOrdersController.php` has been removed so suggested changes won't work. It's possible this file is now fixed in new Back Office Orders page.

That being said, as explained bu @MatShir above,

You can submit @zhmedia changes as a pull request if it's important to you. A snippet of code is 10% of the w

[2021-02-06 21:43] conderus opened #23166 "The left menu in BO disappeared after upgrade to 1.7.7.1"
#### Describe the bug

After upgrading Prestashop from 1.7.6.8 to 1.7.7.1 by 1-Click Upgrade (the newest version), left admin BO menu disappeared. It happened when I turned on cache again. It was not possible to turn if off, as there was no menu. I use CacheApc. The only solution was to go to parameters.php and set 'ps_cache_enable' => false, . Then menu works again. Please fix this.

#### Additio

[2021-02-06 21:46] sylwit commented on #9783
For people who are still waiting for a fix here is quick and dirty one for PS >= 1.7.7. Not really proud of this but at least it helps for seeing the payment messages.

I don't update the total to have a clear vision than some messages are appended but they are not part of customer messages.
You will also have some duplicates since some messages are in both table.

In /src/Adapter/Customer/Custome

[2021-02-06 22:01] conderus commented on #23166
Hm, and when I turned it off, and tried to turn it on again, I can't log in at all to BO, even if it's turned off now. I have Internal Server Error 500, I have this below ..

`
(1/1) ContextErrorExceptionWarning: Use of undefined constant _PS_ENV_ - assumed '_PS_ENV_' (this will throw an Error in a future version of PHP)
--
in index.php line 74
`

[2021-02-06 23:02] 8i11y commented on #23149
I've got the error ^^. It isn' t really one. I just viewed my logs and saw the following:

`You must specify as many arguments (%d, %s ...) as the original string.`

So if you change the string but don't remove the things within the %-tag it will save it !

[2021-02-07 00:39] Prestaplugins commented on #22971
No news ?
“No change required“ label, what does that means?
Issue still closed???

I just found another customer having the same issue.

[2021-02-07 05:17] Germain-Italic commented on #22803
I would like to reopen the issue because I am facing the same problem while migrating a shop from PS1.5 to PS1.7 using the MigrationPro addon (yes I'm using PHP7.2 and MySQL 5.7).

I've noticed that the DB schema on PS1.5 is:
![](https://files.italic.fr/chrome_oJBwA075J6.png)

While on PS1.7 it is:
![](https://files.italic.fr/chrome_2QS3F5GJC1.png)

The same change also applies to the index `ps_im

[2021-02-07 09:08] qualityangel opened #23167 "Carrier selection on dimensions not working 1.7.7.1"
#### Describe the bug

When setting the maximum dimensions in the carrier tab, it shows on order even out of range.
It looks like it is not checking if dimensions are exceeding the carrier maximum.

#### Expected behavior

Expectation is, that when a customer orders some item with dimensions like: 10.5x10x3.5 and the carrier maximum size is 10x10x3 it does not have to show this carrier option to c

[2021-02-07 09:17] KminekMatej commented on #22803
@Germain-Italic - Setting key id_product_cover to UNIQUE in my opinion totally makes sense - there can be only one image, marked as cover for each id_product.
What doesnt make sende is to hold this information in both tables - ps_image and ps_image_shop. That can lead to unexpected behaviour, when in one table is set another cover than in other table (which was my main problem).

I have no experie

[2021-02-07 09:19] qualityangel commented on #23167
Ok it looks like it does cannot handle decimals in the product page. when i use whole numbers it is working. This is an issue for small packages. and real dimensions calculation.

[2021-02-07 10:42] Germain-Italic commented on #22803
Thanks @KminekMatej the operation is there but failed because of duplicates that where introduced in PS1.5.

I have found  8,882 duplicates (on 34,044 products) using;

[code]

Therefore it was much easier to remove the UNIQUE condition than modify all the product page.

I'll comment if my shop fails once the migration is complete.

[2021-02-07 12:41] JevgenijVisockij opened #23168 "CMS pages are not orders properly in sitemap"
#### Describe the bug

CMS categories are not ordered correctly in sitemap page.

#### Expected behavior

They should be ordered correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/47781757/107146697-78366e80-6952-11eb-9247-a569aa2437c6.png)

As found by @khouloudbelguith in https://github.com/PrestaShop/PrestaShop/pull/22476#is

[2021-02-07 12:44] mojtabamalaekeh commented on #23164
Thanks for your attention.
I'm not talking about watermark module. But about calling actionWatermark hook in "AdminImportController.php".
This hook may be used in commercial image regenerator modules and it's better to called in proper place.
Regards.

[2021-02-07 16:12] alfonsolr09 commented on #23168
i can't reproduce it on 1.7.6.4
![image](https://user-images.githubusercontent.com/62474824/107152324-99ee2080-6967-11eb-92a0-fe03041e2463.png)
![image](https://user-images.githubusercontent.com/62474824/107152325-9c507a80-6967-11eb-927e-0a0b32a2ef00.png)

[2021-02-07 19:27] alfonsolr09 opened #23170 "can't change theme on dev"
#### Describe the bug

when i try to change the theme i get an error
when you install the store you can change from the classic theme to another, but when you try to change from that other theme to the classic the error occurs

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to design
2. Click on change theme
3. See error

**Screenshots**

![image](https://user-images.githubuserco

[2021-02-07 20:36] alfonsolr09 commented on #22934
@jimmydupre
I think it is solved with version 1.7.7.0 (this pr #14558)

[2021-02-08 07:10] JevgenijVisockij commented on #23168
Hey, it seems you tried it with CMS pages, but the issue is specifically with CMS Categories not displaying in the correct order.

[2021-02-08 07:56] hibatallahAouadni commented on #23083
Hello @ballashop

Your issue is related to #12321

About the first problem: a) The data is overwritten anyway
-> I reproduced with PS1.7.7.1, the quantity and the impact price are all set to zero.

![image](https://user-images.githubusercontent.com/23308427/107190709-6e147e80-69eb-11eb-9aeb-0da827b181fc.png)

About the second problem: b) PS create a new combination and does not overwrite existing

[2021-02-08 08:09] hibatallahAouadni commented on #23166
Hello @conderus

That's weird, this bug has been fixed with PS1.7.7.1, see #22250
Before upgrade, didn't you disable the CacheApc (from BO)?

Thanks!

[2021-02-08 08:19] Fossil68 opened #23171 "View my shop"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-02-08 08:21] Fossil68 opened #23172 "View my shop"
Version 1.7.7.1 functionality issue with top right hand screen (View my shop) does not permit a user to view the shop layout. Browser being utilised Safari 14.0.2 (16610.3.7.1.9) Returns the following error Safari Can't Open the Page. To many redirects occurring trying to open "thhshop.eu/en/". This might occur if you open a page that is redirected to open another page, which then is redirected to

[2021-02-08 08:28] hibatallahAouadni commented on #23164
Hello @mojtabamalaekeh

I'm really sorry for closing your issue.
So, what you suggest is to call the hook outside of the loop, is that so?
If you apply this change, is there any BC (break changes)?
Please check and feedback.

Thanks!

[2021-02-08 08:33] hibatallahAouadni commented on #23170
Hello @alfonsolr09

I didn't manage to reproduce your issue with develop, see the attached screen record below:

https://drive.google.com/file/d/1J8723WCk-W5fa94UobI_GwPwJWbPn8HN/view

It seems your develop branch is not updated or you applied some change on it :wink:
Please check and feedback.

Thanks!

[2021-02-08 08:35] hibatallahAouadni commented on #23171
Hello @Fossil68

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2021-02-08 08:35] #23171 closed, assigned to nobody

[2021-02-08 08:52] alfonsolr09 commented on #23170
I think the error appears when theme has some modules ...

[2021-02-08 09:14] hibatallahAouadni commented on #23170
Hello @alfonsolr09

Could you please specify which modules?

Thanks!

[2021-02-08 09:20] alfonsolr09 commented on #23170
the error occurs when the active template has specific modules.

the theme is purchased through addons

[2021-02-08 09:30] hibatallahAouadni commented on #23170
Hello @alfonsolr09

the theme is purchased through addons

So, it's not a Core bug, it's related to your theme and you should to contact the Theme developer.
Try to disable the modules and then change the theme, I think it won't throw any error :wink:

Well, I have to close the issue cause it's not related to Core :slightly_smiling_face:
Feel free to open a new issue, if you encounter any other pr

[2021-02-08 09:30] #23170 closed, assigned to nobody

[2021-02-08 09:30] ballashop commented on #23083
Hi @hibatallahAouadni
really thanks to replied me,
<< Your issue is related to #12321 >>
similar yes, but not exactly the same, I explain why:
the issue describes the problem on identical references, while at the moment my test is on unique references (therefore not the same)
PS works correctly on importing combinations already created with different references, but ... it overwrites fields that I

[2021-02-08 09:37] alfonsolr09 commented on #23170
the error happens with all the themes that I have, it is rare that it is a problem with all the themes (in the current versions they work perfectly)
@hibatallahAouadni

[2021-02-08 09:38] hibatallahAouadni commented on #23168
Hello @JevgenijVisockij

I reproduced the issue with develop, PS1.7.6.7 and PS1.7.7.1, see the attached screenshots below:

- **BO:**

![image](https://user-images.githubusercontent.com/23308427/107201270-0ebd6b00-69f9-11eb-97ac-ca2cf55892bf.png)

- **FO:**

![image](https://user-images.githubusercontent.com/23308427/107201283-11b85b80-69f9-11eb-8165-dc03ad5290e9.png)

It seems the system display

[2021-02-08 09:39] matks commented on #9783
When you open your computer, find a bug, then reproduce it, investigate to understand it, dive into the code and finally build a bugfix, what you have done is fixing the issue _for your case_.

Don't be mistaken: that is already a lot of work. 💪

But there is still a mountain of work ahead:

It works for you, but does it work for the 300,000 shops running PrestaShop in the world? The shops using m

[2021-02-08 09:59] hibatallahAouadni commented on #23170
@alfonsolr09 ok :confused: did you try to disable these modules (related to theme) before changing the theme?

[2021-02-08 10:07] alfonsolr09 commented on #23170
This night i will try and tomorrow say to you

[2021-02-08 10:14] hibatallahAouadni commented on #23162
Hello @anthus0204

Please downgrade your PHP version to 7.3, cause PS1.7.7.1 is not compatible with PHP 7.4 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)).
And please next time, **don't just paste your error leaving the provided template empty, you need to fill these blocks** :wink:

Thanks!

[2021-02-08 10:21] hibatallahAouadni commented on #23161
Hello @Borgas

Could you please specify your PS version? when you installed your shop, which language and country you choose (I know you would say "I already mentioned is pt-PT" :sweat_smile: but coud you please specify it :pray: )

Thanks!

[2021-02-08 10:30] NeOMakinG commented on #23147
Should be done backend side

[2021-02-08 10:37] hibatallahAouadni opened #23174 "[EPIC] - Module Manager"
All issues related to **`Module Manager`**:

### Bugs
- [ ] PrestaShop/PrestaShop#15002
- [ ] PrestaShop/PrestaShop#16066
- [x] PrestaShop/PrestaShop#18948
- [x] PrestaShop/PrestaShop#10846
- [x] PrestaShop/PrestaShop#19097
- [x] PrestaShop/PrestaShop#27258
- [x] PrestaShop/PrestaShop#18948
- [x] PrestaShop/PrestaShop#28907
- [x] PrestaShop/PrestaShop#28909
- [ ] PrestaShop/PrestaShop#31445
- [ ]

[2021-02-08 11:04] #23026 closed, assigned to NeOMakinG

[2021-02-08 11:56] hibatallahAouadni commented on #23165
Hello @baptx

DId you try to download the latest PS version from this [page](https://www.prestashop.com/fr/versions-precedentes), see the attached screen record below:

https://drive.google.com/file/d/1qNyhkqxoWRIXcLTMnW6IU0aEFySdj_Lm/view

Cause when I download from this page, I don't need to share my email address or agree Terms and Conditions of Use" / "Data protection policy".

Besides, we use

[2021-02-08 11:56] #23165 closed, assigned to nobody

[2021-02-08 12:02] mojtabamalaekeh commented on #23164
Hello and thank you again.
Yes, I suggest that.
I'd tested this change with PrestaShop 1.7.6.2 and 1.7.6.7 and no problem found.
Regards.

[2021-02-08 12:34] hibatallahAouadni commented on #23172
Hello @Fossil68

I didn't manage to reproduce your issue with PS1.7.7.1 and Safari 14, see the attached screen record below:

https://drive.google.com/file/d/1cMtjjAuWjWSSLmDnR7aox3IbfD4XPKql/view

Is this issue occured after you upgrade your Safari?
Please check and feedback.

Thanks!

[2021-02-08 12:36] hibatallahAouadni opened #23176 "[EPIC] - Theme & Logo"
All issues related to **`Theme&Logo`**:

### Bugs
- [x] #9718
- [ ] #9904
- [x] #12727
- [x] #13020
- [x] #13505
- [x] #24994
- [x] #25853
- [x] #27713
- [x] #27946
- [x] #29061
- [x] #29058
- [x] #29265
- [x] #29453
- [ ] #29508
- [x] #29848
- [x] #29984
- [ ] #30712
- [x] #30802
- [ ] #32708

### Features
- [x] #29198

## Fixed

### Bugs
- [x] #13872
- [x] #26017
- [x] #27635

[2021-02-08 12:39] hibatallahAouadni commented on #23170
@alfonsolr09 thanks :wink:

[2021-02-08 12:41] hibatallahAouadni commented on #23164
Hello @mojtabamalaekeh

All right then, thanks again for your suggestion.
The Developer Team will take a look, please stay toned.

Ping @PrestaShop/prestashop-core-developers I think it's a great suggestion cause it will reduce the execution time, do you agree with me?

[2021-02-08 13:04] matks commented on #23165
ping @ttoine FYI

[2021-02-08 13:21] ballashop commented on #23083
Hi @hibatallahAouadni
I did a further test with an existing product in our catalog, it is a shoe, the image shows the combinations, quantities and attributes where the combinations come from:

![shoes-combinations-and-attributes](https://user-images.githubusercontent.com/28685316/107215092-243b9080-6a0b-11eb-910e-394a550f0eef.png)
if I import import this file
[import reference products with combin

[2021-02-08 13:52] hibatallahAouadni commented on #23083
Hello @ballashop

Could you please open a new issue about your last comment, these problems need to be treated separately.

Many thanks :pray:

[2021-02-08 13:54] ballashop commented on #23083
Ah ok, really sorry,
it was just another example of the problem.
Sorry for that.
Balla

[2021-02-08 14:01] NeOMakinG commented on #23124
I think a backend dev should look at it, as it looks like tiny mce styles are not saved when submit the product to save, also maybe we'll need to output raw html inside classic

[2021-02-08 14:14] conderus commented on #23166
I disabled CacheApc before upgrade, and I tried twice to upgrade this. I have no downgraded this and I don't know what is the problem in my case.

[2021-02-08 14:24] #23114 closed, assigned to NeOMakinG

[2021-02-08 14:25] hibatallahAouadni commented on #23160
Hello @marcobeniamin-calicantus

I managed to reproduce your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1BxchOPVpBHBtpqpaoRtSuUj9hb34jZi_/view

But, I'm a little bit confused :confused: I think that's the normal behavior (change the price but not the currency).
Well, if you suggest that we need to add this behavior in this case, so it's not a bug :

[2021-02-08 14:29] hibatallahAouadni commented on #23166
Hello @conderus

What was your PHP version before upgrade?

Thanks!

[2021-02-08 15:25] marketingmedia opened #23178 "Problem with how tax is displayed when using discount."
#### Describe the bug

If you set a discount amount in the backend and set it to "Tax included" the amount displayed on the cart for the customer will have the tax deducted. Causing confusing between our customers.

#### Expected behavior

We expect to show "total products with tax" then a "discount with tax" at the end,
instead what is show is  the products(with no taxes) -  discount(with no taxe

[2021-02-08 15:27] acaparrelli commented on #14733
In my case was the problem was a **%** character. Changing the % with `&percnt;` in both, source text and translations solved the problem.

The % char is used for variables (%variable_name%)

Hope it helps someone

[2021-02-08 15:39] msaustral commented on #14733
Hi everyone, if you have upgrade the PS to 1.7.7.X and you are getting an error when you try to translate, the work around that we have used is:

- make a fresh installation (not upgrade) of PS 1.7.7.x on your local machine
- copy the whole vendor folder to the installation with errors
- no more errors

no idea why is happening, but it solve it.

[2021-02-08 16:14] Progi1984 commented on #22983
Fixed by #23078

[2021-02-08 16:14] #22983 closed, assigned to Progi1984

[2021-02-08 16:35] hibatallahAouadni commented on #23167
Hello @qualityangel

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22877.
It's fixed with our futur release 1.7.8.0, please subscribe to the issue mentioned above.
And here's the PR #22884 that fixed the problem :wink:

Thanks!

[2021-02-08 16:35] #23167 closed, assigned to nobody

[2021-02-08 16:35] hibatallahAouadni commented on #23167
Duplicate of #22877

[2021-02-08 16:51] conderus commented on #23166
I didn't change it, and it was before and after 7.3.23

[2021-02-08 16:54] Jojo-Kaly commented on #20332
Hi !
How to remove all index.php files in src directories and sub-directories ?
Thank you for.

[2021-02-08 17:07] hibatallahAouadni commented on #23166
Hello @conderus

Well, as you can see in our system requirements PS1.7.6.8 is not compatible with PHP 7.3
You should downgrade your PHP version to 7.2 cause it's compatible with both 1.7.6.8 and 1.7.7.1

But, I'm not sure that the PHP version is the cause of problem.
So, let's ping the Developer Team :wink:

Ping @PrestaShop/prestashop-core-developers could you please check this issue, is the PHP

[2021-02-08 17:08] hibatallahAouadni commented on #22862
Hello @LeLeCS ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-08 17:08] #22862 closed, assigned to nobody

[2021-02-08 17:09] hibatallahAouadni commented on #22893
Hello @prestamodule ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-08 17:09] #22893 closed, assigned to nobody

[2021-02-08 17:10] hibatallahAouadni commented on #22894
Hello @dtagkalos93 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-08 17:10] #22894 closed, assigned to nobody

[2021-02-08 17:17] hibatallahAouadni commented on #22756
Hello @ibrahimfsasmaz

Could you please answer @Hlavtox question to understand better why you encounter this issue :wink:

Thanks in advance.

[2021-02-08 17:27] marionf commented on #23160
Hello @marcobeniamin-calicantus

Changing the delivery address doesn't change the currency
You can live in Italy and want to deliver your order to a friend in UK for example.
In this case you want to pay the order in euro.

If you want to change the currency you can do it through the currency selector and if you want to change the language, you can do it through the language selector as you can se

[2021-02-08 17:27] #23160 closed, assigned to nobody

[2021-02-08 17:37] conderus commented on #23166
Ok thank you I didn't notice this, so now I have 7.2.34 , but I am afraid to try upgraded this 3rd time shop has 12GB and I have to delete all and upload again all after each failed upgrade xd

[2021-02-08 17:39] hibatallahAouadni commented on #23178
Hello @marketingmedia

Could you please check in your **BO**>**CONFIGURE**>**Shop Parameters**>**Customer Settings**, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/107258606-4a2d5900-6a3c-11eb-886f-f75547ec9c48.png)

Could you please check if you choose **Tax included** as **Price display method** and feedback.

Thanks!

[2021-02-08 18:43] arirangz opened #23181 "Invoice PDF : Text overlapse footer and pagination pushed away"
#### Describe the bug

When getting an invoice with a lot of products, the products table overlapse the footer (see screenshot attached).
In addition, the pagination is too close from the edge of the page if the address is to long. The pagination can be pushed away if the address is even longer (see screenshot in comment https://github.com/PrestaShop/PrestaShop/issues/23181#issuecomment-776572565_

[2021-02-08 20:38] marketingmedia commented on #23178
is set to Excluded.
![image](https://user-images.githubusercontent.com/16925824/107276789-29074100-6a19-11eb-9bbe-03661cdfd95e.png)

the math seems better but where it says "tax included" math is still wrong
![image](https://user-images.githubusercontent.com/16925824/107277395-ee51d880-6a19-11eb-8e40-d77f5cba5771.png)

This solution will not work for us either because it forces to show the prices

[2021-02-08 20:52] jajarom commented on #20332
Yes, those with size 0. I had many more

[2021-02-08 20:58] Jojo-Kaly commented on #20332
Thank you. The update worked !

[2021-02-08 20:59] hibatallahAouadni commented on #23181
Hello @arirangz

Thanks for your issue! I reproduced your issue with PS1.7.7.1 and PS1.7.6.7, see the attached screenshot below:

- **1.7.6.7:**

![image](https://user-images.githubusercontent.com/23308427/107280338-87074900-6a58-11eb-8af9-18d46ad0b48c.png)

- **1.7.7.1:**

![image](https://user-images.githubusercontent.com/23308427/107280442-a9996200-6a58-11eb-854e-031ffe10b786.png)

I’ll add thi

[2021-02-08 21:09] hibatallahAouadni opened #23182 "[EPIC] - BO Positions"
All issues related to **`Positions`**:

### Bugs
- [x] #9823 - [BOOM-4214] CLONE - Problem with Modules > Positions
- [ ] #16622 - weird behavior when displayHeader is used in theme.yml
- [ ] https://github.com/PrestaShop/PrestaShop/issues/27005
- [ ] https://github.com/PrestaShop/PrestaShop/issues/28428
- [ ] https://github.com/PrestaShop/PrestaShop/issues/35612

### Improvements
- [ ] #19435 - [

[2021-02-08 21:34] xonox opened #23183 "Error creating product via webserice"
#### Describe the bug

Insert a product record via web services API - OK

Then update the product stock - OK

The problem is that the product is never displayed in the stock management screen on backoffice.

#### Expected behavior

I except to see the product in the stock management no only in products.

#### Steps to Reproduce

The problem is a dummy record inserted into product_attributes table

[2021-02-09 08:17] Fossil68 commented on #23172
Hello

I found out what the issue was

By default the system is made that the website automatically forwards to https:// when the lets encrypt certificate is installed, however this SSL redirect must be removed for PrestaShop sites as this is not a compatible service.

Thank you for your assistance

From: Hibatallah Aouadni <notifications@github.com>
Reply to: PrestaShop/PrestaShop <reply@reply.gi

[2021-02-09 08:18] marcobeniamin-calicantus commented on #23160
Hello @marionf
Thanks for your answer.
I understand the logic behind the functionality as you have explained it when we take into consideration the delivery address.
However, if I set the billing address to a different county from the one we are located, I think that Prestashop should change the corrency accordingly but, at the moment, it does not.

Can you give me feedback about this?

[2021-02-09 08:20] caro43 opened #23185 "Problem with carrier group"
Hello,

#### Describe the bug

I encounter an error, I have a product with a "Client" group transport and a product with a "Pro" group transport in my cart, when choosing the delivery, only one choice available without a title, and the carrier's price of the product group "Client"

#### Expected behavior

I should not have any carrier available because the products in the cart are not compatible

[2021-02-09 08:29] hibatallahAouadni commented on #23183
Hello @xonox

It seems your issue is similar to this one #17748
Could you please check it and feedback.

Thanks!

[2021-02-09 08:46] hibatallahAouadni commented on #23185
Hello @caro43 ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- PHP version
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-create-bug-report/).

Thanks!

[2021-02-09 08:52] ShaimyWinda opened #23186 "Some fields impossible to translate"
#### Describe the bug

Hello,

I wanted to translate some fields into German but it doesn't register. And when I translate the same field into another language, for example into Spanish, it works fine.

Can you help me please ?

Watch the video to better understand

Thanks
**Screenshots**

https://drive.google.com/file/d/1IolIxaXtZpHdwkS6354J_yrP5-BSFEOf/view

#### Additional information

* Presta

[2021-02-09 09:05] eternoendless commented on #20739
That's a complicated business. By the looks of it, 1.7.9 is shaping up to be a "semi major" version (php 8 compatibility, symfony update, guzzle update, and much more)

[2021-02-09 09:22] caro43 commented on #23185
PHP 7.2

Add a product with all transport (transport group "Customer" and group "Pro")
Add a product with transport group "Pro"

![image](https://user-images.githubusercontent.com/47216082/107342544-9d48ef80-6ac0-11eb-8427-70f28cef9ab8.png)

[2021-02-09 09:38] hibatallahAouadni commented on #23186
Hello @ShaimyWinda

I didn't manage to reproduce your issue with PS1.7.6.1, PS1.7.5.2 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1EJqnWsXhkzcneegZcTlzZFsd4lpPPMKc/view

Please check and feedback.
Thanks!

[2021-02-09 09:41] hibatallahAouadni commented on #22774
Hello @iDrums ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-09 09:41] #22774 closed, assigned to nobody

[2021-02-09 09:41] hibatallahAouadni commented on #22512
Hello @ShaimyWinda ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-09 09:41] #22512 closed, assigned to nobody

[2021-02-09 09:44] ShaimyWinda commented on #23186
Hi @hibatallahAouadni,

can you try with this sentence please ? {l s=" Un rideau Séparateur de pièces pour créer deux pièces distinctes. Il est réversible et atténue les bruits jusqu’à -9Db. Également thermique et 100% occultant." d='Shop.Theme.Catalog'}

Thanks

[2021-02-09 09:59] Hlavtox opened #23187 "Problem when fast clicking and adding more items to cart than in stock"
#### Describe the bug

When you change product quantity fast, you are able to add more items to cart than is in stock.
This is a problem only when order-out-of-stock-products is disabled.

#### Expected behavior
- User should not be able to input more items than in stock, if OOSP is disabled.
- Even if he manages to submit this by manually submitting the URL or whatever bug like this, cart control

[2021-02-09 10:13] hibatallahAouadni commented on #23186
Hello @ShaimyWinda

It won't work cause "%" and we are aware of this issue, it is already in our debug backlog.
This issue is a duplicate of #23149.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-09 10:13] #23186 closed, assigned to nobody

[2021-02-09 10:13] hibatallahAouadni commented on #23186
Duplicate of #23149

[2021-02-09 10:15] hibatallahAouadni commented on #23149
Hello everyone,

It seems this issue occurs not only when you try to translate a string contain `%shop_name%` but also when it contains `%`.
See this issue to understand better #23186

Thanks!

[2021-02-09 10:34] hibatallahAouadni commented on #23187
Hello @Hlavtox

You may add more than the stock (if you click fast) but you can't proceed to checkout, as you can see the **Proceed to checkout** button is disabled:

![image](https://user-images.githubusercontent.com/23308427/107351204-9e7f1a00-6aca-11eb-8f6b-a8ce1793a0fd.png)

Please check and feedback.
Thanks!

[2021-02-09 10:43] Hlavtox commented on #23187
Hi @hibatallahAouadni, yes that is correct. But the modal does not appear at all and it looks like nothing was added to cart, until you manually refresh the page.

And he should not be allowed to click the button at all. 😎

[2021-02-09 10:47] kpodemski commented on #23187
Please test it on `develop` as this was fixed there from what I remember

[2021-02-09 10:59] hibatallahAouadni commented on #23187
Hello @kpodemski

On develop branch, the modal doesn't shown up and an error alert displayed :heavy_check_mark:
But if you refresh the page, you will see that the product already add to the cart with the given quantity :confused:
See the attached screen record below:

https://drive.google.com/file/d/1zKIuc4-rbReXgRhUS3bQoim6qqNW5oXj/view

Please check and feedback.
Thanks!

[2021-02-09 11:02] kpodemski commented on #23187
Right, there's a problem, maybe it would be good to disable button on the time ajax request is processed 🤔 The moment we click +1 or -1 we should have a little delay to allow PrestaShop to check if we can add or not product to cart, or - we could check this on `CartController` 🤔

[2021-02-09 11:07] Julievrz opened #23188 "Improve BO wording for 'Delayed shipping'"
#### Is your feature request related to a problem?

When the 'ordering out-of-stock products' feature is enabled on the Product Settings Page and the 'Delayed shipping' feature is enabled, customers are allowed to receive available products first. (See https://github.com/PrestaShop/PrestaShop/pull/22941)

I feel like the wording for this feature in the back office is not clear.

I think we should

[2021-02-09 11:37] hibatallahAouadni commented on #23185
Hello @caro43

It seems this issue is your first issue. So, when you clicked on the button **new issue** we already provided a **template to submit a complete bug report**, you should respect and fill the blocks (steps to reproduce, expected behavior, describe the bug, additional infos, ...).

When I asked from these infos, you should edit your issue description and not just add some infos in comm

[2021-02-09 11:40] hibatallahAouadni commented on #23187
Hello everyone,

@kpodemski it means this issue need specs :wink:
@Hlavtox thanks for your issue and helping PS to be better :wink:

Ping @PrestaShop/product-team I think this bug need specs, could you please check @kpodemski proposition.
Thanks in advance.

[2021-02-09 11:58] Flower7C3 opened #23189 "Ubable to edit order in BO"
#### Describe the bug

I am unable to edit order due the error in `\PrestaShop\PrestaShop\Core\Cart\Calculator::__construct`

#### Expected behavior

Edit without error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Back Office and list orders.
2. Try to edit order.
3. See error.

**Screenshots**

![obraz](https://user-images.githubusercontent.com/3767861/107359830-73e68e80-

[2021-02-09 12:11] joaolago1113 opened #23190 "Restricted payment method got selected by buyer"
#### Describe the bug

Somehow one client was able to select a payment method that is not available for the shipping method he choose.
I have the payment method disabled in "Carrier restrictions"  in Payment > Preferences , I've checked this multiple times. There isn't a carrier with the same name.
This is the first time it happened. No other client was able to do this, and I assume they would hav

[2021-02-09 12:14] Damian-Rutkowski commented on #12170
Hello,
here's a quick fix for those who can't or won't upgrade to 1.7.7.x:
Go to the following file via FTP using this path:
_admin123_/themes/default/template/controllers/orders/helpers/view (_admin123_ replace with your adminfolder)

open the file:
view.tpl

and best result is search for "displayAddressDetail".
above is a link with the classes "bin bin-default pull-right", modify the links here;

[2021-02-09 12:23] xonox commented on #23183
Hi @hibatallahAouadni

The other issue is exactly the same problem.

I found a workaround.

When I call the webservice I have to unset the combinations association before creating the product.

[code]

And the fix might be simple in the prestashop source code.

It seems the code misses to validate if the combinations are empty and always creates an empty product attribute record in product_attribu

[2021-02-09 12:25] xonox commented on #17748
Hi @FranGhe,

Hi @khouloudbelguith,

I've found a workaround for this problem.

When I call the webservice I have to unset the combinations association before creating the product.

[code]

And the fix might be simple in the prestashop source code.

It seems the code misses to validate if the combinations are empty and always creates an empty product attribute record in product_attributes table.

[2021-02-09 12:34] hibatallahAouadni commented on #23172
Hello @Fossil68

It seems your issue is similar to this one #12253
Could you please check it and feedback.

Thanks!

[2021-02-09 12:37] hibatallahAouadni commented on #23183
Hello @xonox

Glad to hear :tada: so could you please make a PR (Pull Request) to fix the issue :wink:
Well, I had to close this issue cause it's a duplicate of #17748.
Please subscribe to the issue mentioned above and don't forget to create a PR.

Thanks!

[2021-02-09 12:37] #23183 closed, assigned to nobody

[2021-02-09 12:37] hibatallahAouadni commented on #23183
Duplicate of #17748

[2021-02-09 12:44] Fossil68 commented on #23172
It seems to be related, I had to remove the redirect to eliminate it creating a type of circular reference preventing displaying the shop front end. Once this was done the front ent displayed correctly.

[2021-02-09 12:51] khouloudbelguith commented on #17748
Hi @xonox,

Thank you :tada:
Could you please do send us a pull request!
For more details, you can follow this link https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/project-modules/
Thanks!

[2021-02-09 13:15] hibatallahAouadni commented on #23188
Hello @Julievrz

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2021-02-09 13:20] Hlavtox commented on #23187
@kpodemski @hibatallahAouadni Good idea, this would be the fix for the buttons.

[code]

However, it still does not prevent the user from typing the number manually into the box and clicking add to cart.
It must be first prevented on the controller side. Would this simple check be sufficient?

[code]

[2021-02-09 13:21] hibatallahAouadni commented on #23189
Hello @Flower7C3

Did you upgrade your shop lately? if so, what was your PS version?
And did you delete some currencies?
Please check and feedback.

Thanks!

[2021-02-09 13:23] marionf commented on #23160
The behavior is the same for the delivery & billing address, you can for example live in Italy without speaking italian and not necessarily wanting to pay in euros. That's why the change of the language/currency should not depend on the delivery or billing address. The visitor / customer can change it through the language / currency selectors if the default language or currency selected doesn't su

[2021-02-09 13:26] Flower7C3 commented on #23189
I have updated PS yesterday to 1.7.7.1 version. Bug was also in 1.7.7.0. My client did not deleted any currencies recently.

[2021-02-09 13:29] caro43 commented on #23185
ok sorry, i modified my issue

[2021-02-09 14:19] dbalas opened #23191 "One-time discounts are not checked again when you log in at the checkout page."
#### Describe the bug

Discounts are not checked again when you log in at the checkout page. If you apply a one-time discount, which you have already used, before logging in, and then log in at checkout, it remains active.

#### Expected behavior

When you log in on the checkout page the discounts must be checked and removed if they do not meet the conditions.

#### Steps to Reproduce

Steps to re

[2021-02-09 14:42] hibatallahAouadni commented on #23190
Hello @joaolago1113

I didn't manage to reproduce the issue with PS1.7.7.1. As you said, it may be related to the payment module.

Even, the customer try to maniplate the code, the system will not accept the selected payement method and we will change it to the right one, see the attached screen record below:

https://drive.google.com/file/d/1Wk5IkfxHphcAhYdD0RinJr3jHhu7KIMu/view

Well, I'm sorry

[2021-02-09 15:28] papich06 commented on #22634
Hello,
I saw that these libraries are integrated.
Would it be possible to display the pdf of the general conditions others places need to display PDF viewer?
https://belvg.com/blog/pdf-in-prestashop.html

[2021-02-09 15:31] Esh-network commented on #23131
Still no one on this tax problem?

[2021-02-09 15:44] matks commented on #22634
Hi @papich06 I dont understand.

PrestaShop generates PDF files from data, that is already being done.

But a "PDF Viewer" is actually your browser displaying the PDF. Are you talking about transforming the PDF into HTML documents that can be rendered by browser?

[2021-02-09 15:48] hibatallahAouadni commented on #23172
Hello @Fossil68

So, your issue is not related to the type of browser, is that so?

Thanks!

[2021-02-09 15:51] papich06 commented on #22634
When you attach a PDF file to your product you have to download it to view it.
I want to display this PDF directly to make it easier for my client to read and if he wishes he can delete it.
Same when placing an order, display the general conditions and not a link that everyone knows nobody reads

[2021-02-09 15:59] lmeyer1 opened #23192 "In multi-store setting, editing a customer, it is possible to choose invalid groups."
#### Describe the bug

In multi-store setting, editing a customer, it is possible to choose invalid groups.
Given a customer that belongs to store A and a group that exists only in store B,
when in *All shops* contexts, I click on *Customer settings*, select a customer and click *Edit*
then the list of groups in *Group Access* and *Default Customer Group* list all groups of all stores.
I can selec

[2021-02-09 16:00] hibatallahAouadni commented on #23191
Hello @dbalas

I reproduced the issue with PS1.7.7.0 but it seems has been fixed with PS1.7.7.1, cause I didn't manage to reproduce it.
See the attached screen record below:

https://drive.google.com/file/d/1AgU-Da22yp3pyXPeSyKCtRyQKvuvG9L-/view

I close this issue cause it's fixed :wink:

Thanks!

[2021-02-09 16:00] #23191 closed, assigned to nobody

[2021-02-09 16:02] #23016 closed, assigned to NeOMakinG

[2021-02-09 16:07] seederp2p opened #23193 "Missing VAT Number at order detail backoffice 1.7.7.1"
To Reproduce
Go to orders
Click an order.
At the left you'll get the customer address.
On 1.7.6 you were able to see vat number.
On 1.7.7.1 it doesn't show up.

I understand that it's missing on:
/src/PrestaShopBundle/Resources/views/Admin/Sell/Order/Order/Blocks/View/customer.html.twig

What can I do to bring VAT back?

[2021-02-09 16:19] matks commented on #22634
@papich06 So the PDF content would be displayed directly in the page?

As far as I know, theme developers can add a PDF Viewing capability in their theme if they want to.

As for the Classic Theme, it's up to @PrestaShop/product-team and @PrestaShop/ux-team to decide

[2021-02-09 16:27] papich06 commented on #22634
What is this capability ?
i use warehouse template but in classic theme doesn't work

[2021-02-09 16:48] NeOMakinG commented on #20316
Closing this one in favor of https://github.com/PrestaShop/PrestaShop/issues/22358

Thanks for the feedback @Hlavtox

[2021-02-09 16:48] #20316 closed, assigned to nobody

[2021-02-09 17:03] Progi1984 opened #23194 "Fetch new modifications from LocalizationFiles to the core"
When new modifications are done in `https://github.com/PrestaShop/LocalizationFiles`, they must be commited to the core in the directory `https://github.com/PrestaShop/PrestaShop/tree/develop/localization`

[2021-02-09 17:04] hibatallahAouadni commented on #23192
Hello @lmeyer1

Thanks for your issue!
I reproduced it with develop, PS1.7.7.1 and PS1.7.4.1, see the attached screen record below:

https://drive.google.com/file/d/1ECpd_GQOcz311xKR73hy0fCYIDTnL0iC/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-02-09 17:15] hibatallahAouadni commented on #23193
Hello @seederp2p

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22830.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-09 17:15] #23193 closed, assigned to nobody

[2021-02-09 17:15] hibatallahAouadni commented on #23193
Duplicate of #22830

[2021-02-09 18:14] joaolago1113 commented on #23190
I FOUND HOW TO REPRODUCE THE BUG!    Works with any payment method.

**Steps to Reproduce:**

1. Add product to cart;
2. Checkout up until the payment step;
3. Go back to your cart;
4. Remove the product from your cart;
5. Go to the products page;
6. Add again the same product to the cart;
7. Finalize checkout;
8. You're taken directly to the fourth payment step WITH ALL THE PAYMENT OPTIONS AVAILA

[2021-02-09 18:26] Eva-F opened #23195 "small bug in OrderDetail in sendMessage form - missing confirmation"
#### Describe the bug

in  "Order"  view.tpl is prepared the confirmation if the message should send also to a  customer

![ps37](https://user-images.githubusercontent.com/3242659/107408470-50d6d180-6b0b-11eb-9965-65ae8f2ccf61.png)

function getE returns element by given ID

![ps35](https://user-images.githubusercontent.com/3242659/107408808-bb880d00-6b0b-11eb-9d50-6785be25dd88.png)

(but "visibil

[2021-02-09 18:40] ced--ced commented on #23110
Hi @hibatallahAouadni,

PHP version is 7.3.

The shop has not been updated lately.

I don't have any error in the console, only this text:

Download the Vue Devtools extension for a better development experience:
https://github.com/vuejs/vue-devtools
category.bundle.js?1.7.6.9:108 You are running Vue in development mode.
Make sure to turn on production mode when deploying for production.
See more

[2021-02-09 18:44] ced--ced opened #23196 "Copying language to new created one 1.7.7.1"
Hi,

A new theme has been installed.

I go to the translations page and I want to copy the French language pack from the classic theme to the new theme.

I get the error:

Cannot copy ".../public_html/themes/classic/lang/fr.php" to ".../public_html/themes/my_new-theme/lang/fr. php ".
Only part of the data was copied, one or more translation files were not found or copied

If I look in the classic

[2021-02-09 18:52] dvalenzuela-com opened #23197 "Webservice not respecting explicit order_row prices"
#### Describe the bug

When creating a new order via the WebService API, prestashop does NOT respect the given prices and instead uses the ones internally stored by prestashop. They also cannot be updated using a PUT request.

#### Expected behavior

If an Order is created (or updated via a PUT request) and a unit_price is given for one or more order_rows, they should be included in the order.

##

[2021-02-09 20:50] matks commented on #20359
@hibatallahAouadni Yes. Also this PR was the 1st part for solving this issue, there is still a long path ahead.

[2021-02-09 21:45] HartLarsson opened #23198 "Can't drag & drop categories to change the view order"
#### Describe the bug

Usually there is a draggable handle in the start of the category line but for some reason not appear anymore.

#### Expected behavior

Usually with a blue dotted handle is possible to change the order of the Catogories and subcategories

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog > Categories
2. try to find the draggable handle but is not pre

[2021-02-09 21:46] alfonsolr09 opened #23199 "schema.org error in products out of stock when stock management is disabled"
#### Describe the bug

schema.org error in products out of stock when stock management is disabled.

When you deactivate the stock management and a product is in negative stock, instead of showing this
[code]

this other wrong code is shown
[code]

#### Expected behavior

I think the product should be shown in stock

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to disable stock

[2021-02-09 21:50] HartLarsson commented on #22796
yes for some reason in my default (1st install language) the translations problem happens

[2021-02-09 21:57] matks commented on #22728
https://github.com/PrestaShop/phpstan-prestashop/pull/5/

[2021-02-09 22:04] hibatallahAouadni commented on #22796
@HartLarsson ok I will try to reproduce the issue after installing my shop with Italian as thedefault language :wink:

[2021-02-09 22:23] hibatallahAouadni commented on #23110
Hello @ced--ced

You need to downgrade your PHP version, cause PS1.7.6.9 is not compatible with PHP 7.3 (see our [sysem requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)).
Please check and feedback.

Thanks!

[2021-02-09 22:38] ced--ced commented on #23110
Hi @hibatallahAouadni,

I have got down to PHP 7.2 but the problem is still there.

Thanks

[2021-02-09 22:40] Gacatokill commented on #20945
Bonjour, toujours a la recherche de la solution ?Cordialement

[2021-02-09 23:01] hibatallahAouadni commented on #23178
Hello @marketingmedia

Yes, that issue is fixed with PS1.7.7.1, see the attached screenshots below:

- Cart Rule:

![image](https://user-images.githubusercontent.com/23308427/107439601-9ce93c80-6b32-11eb-9fbe-8c2a19165b06.png)

- 1st case: when the **Price display method** set to **Tax included**

![image](https://user-images.githubusercontent.com/23308427/107439736-d28e2580-6b32-11eb-9955-886103e

[2021-02-09 23:09] hibatallahAouadni commented on #23189
Hello @Flower7C3

The error in your screenshot indicates that you had an issue with the Localization, which means that you removed a language or a currency that was in use.
Could you please check this issue #22611 cause it seems similar to yours.

Thanks

[2021-02-10 00:39] alfonsolr09 commented on #23199
![image](https://user-images.githubusercontent.com/62474824/107446861-8e555200-6b3f-11eb-9d0e-52a0d8639870.png)
I added that code that makes pre-order only trigger if stock management is on.

I need to make it show 'in stock' when stock below 0 is met and stock management is disabled, but I don't know how to do it.

I would like to create a pr, but I don't understand much of programming

[2021-02-10 00:53] alfonsolr09 commented on #23199
ok i tried and fixed it, you can try it.
If you authorize me, I can create a pr

![image](https://user-images.githubusercontent.com/62474824/107448745-919e0d00-6b42-11eb-8a3c-fa223858bc6b.png)

[2021-02-10 01:01] alfonsolr09 opened #23201 "add page selector and number of products to display on the stocks page"
#### Is your feature request related to a problem?

it is very difficult to increase the stocks in group if you have several product pages

#### Describe the solution you'd like

be able to view all the products in order to edit all the stock at the same time

#### Additional context

![image](https://user-images.githubusercontent.com/62474824/107449821-8a77fe80-6b44-11eb-9aeb-3a4a0a9ac8a3.png)
![

[2021-02-10 07:39] lmeyer1 commented on #23192
Thank you for your answer. Yes, I might fix it, but there is a problem in fixing it.

If the customer belongs to only on shop, there is no problem, we can simply look up the groups of the shop the customer belongs to.

Things become more intricate, if the customer belongs to a shop in a shop group with sharing of customers enabled. In this case, the customer groups must also be shared in the shop

[2021-02-10 07:40] dbalas commented on #23191
@hibatallahAouadni I have tried 1.7.7.1 and it still does not work, and I have found why you do, it only happens with the second order of a new user. Maybe something related with the usage count?

[2021-02-10 08:32] matteocostantini opened #23202 "Stylesheets and Javascripts missing!! help me!!!!!"
#### Describe the bug

I've upgrade a test  environment from 1.7.7.0beta1 to 1.7.7.1. following manual upgrades. It's ok, but I've  troubles about module' stylesheets and javascripts references. Are not present. Not overrides!!
For example not present the shopping cart ajax javascript and others references. I delete all cache folders and browser cache. but no results . Are present only default ref

[2021-02-10 08:34] matks commented on #23202
Hi @matteocostantini if you need help, please follow the link https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-02-10 08:34] #23202 closed, assigned to nobody

[2021-02-10 08:43] matks commented on #22867
(github closed the issue upon merge of https://github.com/PrestaShop/PrestaShop/pull/23094, I reopen it)

[2021-02-10 08:43] #21633 closed, assigned to NeOMakinG

[2021-02-10 08:46] hibatallahAouadni commented on #23195
Hello @Eva-F

I reproduced the issue with PS1.7.6.8 but I didn't manage to reproduce with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/18mQDtPaNhnqvP4Kn5sCWe4MQxCrABBuF/view

Please check and feedback.
PS: the messages whose displayed in the console belongs to the screen castify (the screen record software that I use)

Thanks!

[2021-02-10 09:10] NeOMakinG commented on #23181
I think a backend dev could handle this as tcPDF got a setFooterMargin method

[2021-02-10 09:15] arirangz commented on #23181
hello @hibatallahAouadni
Thanks reproducing the overlapsed text.
Did you also reproduce the pagination too close from the edge?

[2021-02-10 09:24] #14955 closed, assigned to NeOMakinG

[2021-02-10 09:26] hibatallahAouadni commented on #23196
Hello @ced--ced

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16132.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-10 09:26] #23196 closed, assigned to nobody

[2021-02-10 09:26] hibatallahAouadni commented on #23196
Duplicate of #16132

[2021-02-10 09:31] hibatallahAouadni commented on #23181
Hello @arirangz

Thanks to mention the pagination :clap:
Well, that another bug and it's not related to invoice content but to address length, see the attached screen shot below:

Long address => no pagination

![image](https://user-images.githubusercontent.com/23308427/107491107-039a4480-6b8b-11eb-9287-038f62b18e9c.png)

Short address => pagination

![image](https://user-images.githubusercontent.

[2021-02-10 09:34] hibatallahAouadni commented on #23197
Hello,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mind tha

[2021-02-10 09:34] #23197 closed, assigned to nobody

[2021-02-10 09:43] arirangz commented on #23181
thanks @hibatallahAouadni
So should I rename the issue title to add the pagination issue?

[2021-02-10 09:48] Eva-F commented on #23195
yes, because there is "Display to customer?" as checkbox - not as a switch (=radio)
ok - then it is solved in  1.7.7.1

[2021-02-10 09:58] hibatallahAouadni commented on #23198
Hello @HartLarsson

Could you please check if you had **Position** column, if so click on it:

[2021-02-10 09:59] #23198 closed, assigned to nobody

[2021-02-10 10:04] hibatallahAouadni commented on #23201
Hello @alfonsolr09

So, you're suggesting that we need to change the stocks pagination like the products pagination is that so?
If so, could you please check this issue #12381 cause it seems similar to yours.

Thanks!

[2021-02-10 10:06] HartLarsson commented on #23198
Please don't close before i can answer!

1) Is not a multistore
2) the column as i saw in my screenshot is not displayed
3) the part of html code is totally missed, that means is not rendered or enabled for some reason

Is a bug or a problem somewhere

[2021-02-10 10:06] hibatallahAouadni commented on #23181
@arirangz yes please and add some details about the pagination in your issue description. Thanks :slightly_smiling_face:

[2021-02-10 10:08] hibatallahAouadni commented on #23198
@HartLarsson could you please provide a screenshot on the whole page BO>SELL>Category>Categories. Thanks!

[2021-02-10 10:10] hibatallahAouadni commented on #23195
Hello @Eva-F

Thanks for your feedback!
So, I close this issue cause it's fixed with 1.7.7.0.

Thanks!

[2021-02-10 10:10] #23195 closed, assigned to nobody

[2021-02-10 10:11] HartLarsson commented on #23198
ERRATA CORRIGE: i found was a strange JS problem in console. I find the problem and now is working again!

Thank you

[2021-02-10 10:12] hibatallahAouadni commented on #23198
@HartLarsson you're welcome :slightly_smiling_face:

[2021-02-10 10:25] arirangz commented on #23181
@hibatallahAouadni Ok I did it. Maybe you should then update the Epic?

[2021-02-10 10:31] YerayC78 opened #23203 "No puedo guardar los productos"
Tengo instalada la versión 1.7.7.1 del Prestashop, y cuando intento guardar un cambio en un producto, se queda bloqueado con el icono circular que indica que está guardando (adjunto archivo)
![Fallo al guardar un producto](https://user-images.githubusercontent.com/78850868/107497795-e82f3980-6b8a-11eb-83dd-e0afcdc772ee.jpg)
.
Tampoco me permite eliminar características.
Ruego me ayuden, porque ten

[2021-02-10 10:34] MatShir commented on #14968
missing @eternoendless specs ?

[2021-02-10 10:34] hibatallahAouadni commented on #23199
Hello @alfonsolr09

I reproduced the issue with PS1.7.7.1 and develop. I’ll add this to the debug backlog so that it’s fixed.
But I think we may need The Product Team to specify the content of this attribute. Let's ping them :wink:

Ping @PrestaShop/product-team what do you think about @alfonsolr09 proposition? setting the **seoAvailability** value to **outOfStock**?

Ofc, you can :rocket: , pleas

[2021-02-10 10:37] hibatallahAouadni commented on #23203
Hello @YerayC78 ,

Please send your request in English. English is the norm on GitHub.
And **you must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank y

[2021-02-10 10:37] #23203 closed, assigned to nobody

[2021-02-10 10:38] MatShir commented on #23015
Waiting for @prestascott @TristanLDD response.

[2021-02-10 10:41] MatShir commented on #14968
Blocked bc of #19242

[2021-02-10 10:48] alfonsolr09 commented on #23199
I don't know if `Configuration::get('PS STOCK_MANAGEMENT '))` its correcto or not.

[2021-02-10 10:52] YerayC78 opened #23204 "Problem modifying products"
When I modify a product and click to save, it remains blocked and does not make the change. It does not allow me to remove product features.

Normally, when you click on save, you make the change to the product and a message appears that says: Product modified successfully.

The error occurs when selecting catalog / products, edit a product and click on save. Then it gets bloqued.

![Fallo al guar

[2021-02-10 11:40] aayush-webkul commented on #15187
I'm facing this exact same issue
Laravel 7.x
Ecosystem Bagisto 1.2.0
PHP 7.2

I cleared all the folders in var/cache. It didn't help.

[2021-02-10 12:29] decom-media opened #23206 "Price per Unit should be calculated instead of set manually"
Price per unit is now to be filled out in the "pricing" tab, manually by adding the price and the unit.
But, it is completely independent from price changes by any kind of discounts, or even changes of the main selling price, therefore it needs to be updated manually each time the price is changing or a discount rule is applied, which is not practicable.

![grafik](https://user-images.githubuserco

[2021-02-10 12:37] Borgas commented on #23161
Hello i´m sorry

PS version: 1.7.7.1
Language Portugues (Portugal)

[2021-02-10 12:39] joaolago1113 commented on #23190
I'm almost positive there might be some other way for people to choose any payment. Perhaps using an abandoned cart.
I'm getting a lot of wrongful orders.

[2021-02-10 12:46] 8i11y commented on #23149
ah, ok, but my issue is that when you try to translate a string with a variable like %prestashop% or %shopname% and you try to translate it without that variable it does not save it what is correct. But you should leave a message to the user gg.

[2021-02-10 12:50] Gregg212x opened #23207 "How add read more description of the category in prestashop 1.7.7"
How can I add "read more" button in description of the category  in prestashop 1.7.7
I want to hide 80% of the text under the button

/templates/catalog/listing/category.tpl
its only

`   {if $category.description}
         **<div id="category-description" class="text-muted">{$category.description nofilter}</div>**
      {/if}
      {if $category.image.large.url}
        <div class="category-cover

[2021-02-10 12:55] SimonGrn commented on #23207
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2021-02-10 12:55] #23207 closed, assigned to nobody

[2021-02-10 12:58] Gregg212x commented on #23207
@SimonGrn SimonGrn In your opinion this is not a new feature??
This functionality was in version 1.6

[2021-02-10 13:10] hibatallahAouadni commented on #23204
Hello @YerayC78

I didn't manage to reproduce your issue with PS1.7.7.1.

Could you please enable the mode debug and try again, let's see if the system could identify the cause of the error.
And could you please provide a screenshot of your console.

Thanks!

[2021-02-10 13:15] Gregg212x opened #23208 "No Read more description of the category in prestashop 1.7.7"
@SimonGrn I have a question  Do you think adding a function where you can hide part of the category description can be useful for users?
This functionality was in the old version of prestashop 1.6

In prestashop 1.7 you can display only the whole description of the category, which is problematic because with a long description to see the product you have to scroll the page for a long time.

Why do

[2021-02-10 13:30] SimonGrn commented on #23208
Hello,

please use the template.

[2021-02-10 13:30] #23208 closed, assigned to nobody

[2021-02-10 13:34] olecorre opened #23209 "Hook BO address change"
#### Describe the bug

These hooks seem to not work on 1.7.7.1
- actionAddressesGridDefinitionModifier
- actionAddressesGridQueryBuilderModifier
- actionAdminAddressesFormModifier

#### Expected behavior

I have a module that uses its hooks, after update 1.7.6.3 to 1.7.7.1
In 1.7.7.1 don't work, not called

#### Steps to Reproduce

#### Additional information

I changed my hooks to :
- hookActionA

[2021-02-10 13:39] hibatallahAouadni commented on #23206
Hello @tom75

Could you please **respect and follow the provided template to submit a complete bug report**.
We provide this template to resolve your issue as soon as possible, you need to fill all the blocks (describe the bug, expected behavior, steps to reproduce, php version, ...).
Please edit your issue :wink:

Thanks!

[2021-02-10 13:50] #16100 closed, assigned to NeOMakinG

[2021-02-10 13:56] PierreRambaud commented on #20986
I create a new pull request fixing one problem. Buf for the following one we will not do it because it's related to our dependencies:
` ` `
Class Sensio\Bundle\FrameworkExtraBundle\Tests\Request\ParamConverter\ArgumentNameConverterTest located in ./vendor/sensio/framework-extra-bundle/Tests/Request/ArgumentNameConverterTest.php does not comply with psr-4 autoloading standard. Skipping.
Class Sensi

[2021-02-10 14:10] lmeyer1 commented on #23192
I'm sorry, I'm not able to fix this in PS 1.7.

Unfortunately the backtrace goes through an autogenerated file `var/cache/prod/ContainerLcgk3rx/getPrestashop_Bundle_Form_Admin_Sell_Customer_CustomerService.php` where `$id_shop` should be passed to `$this->services['prestashop.adapter.form.choice_provider.group_by_id_choice_provider']->getChoices()`.

I have no idea how Symfony DI works, and even l

[2021-02-10 14:13] hibatallahAouadni commented on #23209
Hello @olecorre

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22981.
And it's already fixed with our futur next minor release 1.7.7.2, please subscribe to the issue mentioned above.

About these two hooks: **actionAddressesGridDefinitionModifier** & **actionAddressesGridQueryBuilderModifier**

![image](https://user-images.githubusercontent.com/23308

[2021-02-10 14:20] hibatallahAouadni commented on #22918
Hello @MatteoCout ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-10 14:20] #22918 closed, assigned to nobody

[2021-02-10 14:25] hibatallahAouadni commented on #23192
@matks could you please help @lmeyer1
Thanks in advance :pray:

[2021-02-10 14:26] #20986 closed, assigned to PierreRambaud

[2021-02-10 14:32] hibatallahAouadni commented on #23161
Hello @Borgas

Thanks for your feedback!
I just edit your issue, could you please check it and see if the **steps to reproduce** are correct. If no, please edit your issue.

Thanks!

[2021-02-10 14:34] Betafer commented on #13386
Problem also present in prestashop 1.7.6.8 with php 7.2.34

<img width="607" alt="Schermata 2021-02-10 alle 15 33 30" src="https://user-images.githubusercontent.com/5024055/107523767-61dc1d00-6bb5-11eb-94e5-53f0de3fd517.png">

[2021-02-10 14:39] Borgas commented on #23161
Hello

Yes, steps are correct.
Upload zip file for server
Language install in Portuguese Portugal (no demos installed)
Updated all modules in BO
Debug mode on - error in doctrine

[2021-02-10 14:54] hibatallahAouadni commented on #23209
Hello @olecorre

After discuss this issue with @Progi1984 and reproduce it again wihth @khouloudbelguith
It seems this hook is missing after the migration.

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-02-10 15:15] EtoileFilante opened #23211 "Products API not compatible with PHP7.4"
Hello,

When trying to access the API at myurl/api/products?display=full on a fresh install of prestashop, I get the following error :

` Trying to access array offset on value of type bool (...myprestashop/classes/Product.php, line 6258`

With php 7.4. Switching to php 7.2 made it work.

#### Additional information

* PrestaShop version: 1.7.7.1
* PHP version: 7.4

[2021-02-10 15:20] arpanjain100 opened #23212 "ContextErrorException Warning: Declaration of Cart::getOrderTotal"
Prestashop 1.7.7
When i switch on debug mode and load any product page, I receive the error as per the attached image:

(1/1) ContextErrorException
Warning: Declaration of Cart::getOrderTotal($withTaxes = true, $type = self::BOTH, $products = NULL, $id_carrier = NULL, $use_cache = true) should be compatible with CartCore::getOrderTotal($withTaxes = true, $type = Cart::BOTH, $products = NULL, $id_c

[2021-02-10 15:24] kpodemski commented on #23211
Hello,

PrestaShop 1.7.7 is not compatible with PHP 7.4

https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2021-02-10 15:25] EtoileFilante commented on #23211
Well that would explain it. So late in PHP compatibility... thanks!

[2021-02-10 15:25] #23211 closed, assigned to nobody

[2021-02-10 15:29] JevgenijVisockij opened #23213 "Console error in when trying to use list in formatted text area"
#### Describe the bug

Console errors when trying to add bullet list or numbered list.

#### Expected behavior

There should not be a console error in such case.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any page that has text area which can be formatted (Sell -> Category -> Add -> Description, Design -> CMS -> Pages -> Add new page -> Description,  Catalog -> Brands & S

[2021-02-10 15:51] hibatallahAouadni commented on #23212
Hello @arpanjain100

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-02-10 15:51] #23212 closed, assigned to nobody

[2021-02-10 16:01] Prestaworks opened #23214 "Swift decorator fails to replace if email is not matched"
#### Describe the bug

The swift class uses decorator classes to replace variables in the email templates. These variables and the values are set to be matched to an email address that is passed to self::toPunycode, but the to address is not. This cause the decorator to fail to match the info to replace to the message to be sent. Resulting in an email with only variables like {firstname} {lastname

[2021-02-10 16:14] maxadp opened #23215 "Vat Number and Dni missing from Order View in 1.7.7.x"
In Prestashop 1.7.7.x Vat Number and DNI are missing in both Shipping / Inovice address when you go to Order page in backoffice. Vat and Dni is also missing from email and other sections.

[2021-02-10 16:17] Prestaworks commented on #23214
seems to be fixed in 1.7.7.1 i close the ticket.

[2021-02-10 16:17] #23214 closed, assigned to nobody

[2021-02-10 16:23] hibatallahAouadni commented on #23213
Hello @JevgenijVisockij

I reproduced the issue only with develop, so it's a regression.
Thanks for your PR and your issue. I’ll add this to the debug backlog.

Thank you

[2021-02-10 16:27] hibatallahAouadni commented on #23215
Hello @maxadp

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22979.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-10 16:27] #23215 closed, assigned to nobody

[2021-02-10 16:28] hibatallahAouadni commented on #23215
Duplicate of #22979

[2021-02-10 16:30] #14346 closed, assigned to NeOMakinG

[2021-02-10 16:37] matks commented on #23213
Makes me think of https://github.com/PrestaShop/PrestaShop/issues/19761

[2021-02-10 16:43] hibatallahAouadni opened #23216 "[BO] qty_in_stock label is displayed on Order page while the stock management is disabled"
#### Describe the bug

After disabling the feature Stock Management in BO, when I try to create an Order from BO, the **qty_in_stock** label is still displayed.

#### Expected behavior

 the **qty_in_stock** label is hidden.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO**>**CONFIGURE**>**Product Settings**
2. Scroll down to **Products stock** block
3. Disable the **Enable sto

[2021-02-10 17:19] marionf commented on #23115
@TristanLDD @MatShir wdyt ?

[2021-02-10 17:20] maxadp commented on #22979
I confirm the issue. DNI it's also mandatory for Italy and is missing, same as Vat Number. I hope there will be hope a fix for both Vat and DNI, cause it's importat for website customer check those fields on order view, also from email notifications.

[2021-02-10 17:34] ced--ced commented on #23196
Thanks @hibatallahAouadni, I have subscribed.

Although this other ticket has been open in Oct 2019. That's a long time ago.

[2021-02-10 19:12] sarahdib opened #23218 "Comment no longer appear after upgrading from 1.6.1.24 to 1.7.7.x"
#### Describe the bug
Comment no longer appear after upgrading from 1.6.1.24 to 1.7.7.x

#### Steps to Reproduce

Step to reproduce :

1. Install prestashop 1.6.1.24
2. Install module product comment 3.6.0
3. Add a comment
4. Upgrade prestashop
5. Upgrade the porduct comment module to the last version
6. Go to FO
7. See error

![107024041-c65b3e80-67a7-11eb-8e98-5fdf7df4ee29](https://user-images.g

[2021-02-10 19:18] madkot opened #23219 "[BUG] SpecificPrice calculated for customer groups instead of default_group_id"
#### Describe the bug

I'm not sure if it is a bug or just PS logic, but it is not clear at al.
Calculation of specific price rule uses customer default group, but (in my opinion) should use a list of assigned groups to customer instead.

#### Expected behavior

\SpecificPrice::getSpecificPrice should use id list of user assigned groups instead of $id_group (customer default group id).
SpecifixPri

[2021-02-10 19:27] bartoll commented on #17011
@muyncky have you had a chance to test it? Does it work now?

[2021-02-10 19:45] madkot commented on #23219
Ok,  i need glasses :smile: .
Now i see soem explanation of default group

In that case, I can only suggest an improvement in the form of adding an option to the store so that the specific prices can work for all groups assigned to the customer.

[2021-02-11 07:49] onklmaps commented on #20765
Hi, any news on this?
Todo or not todo?

[2021-02-11 08:28] hibatallahAouadni commented on #23185
Hello @caro43

Could you please check this issue #15369 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-02-11 08:39] muyncky commented on #17011
@bartoll no haven't had the time yet. Also, we only have one project in staging that is build with 1.7.7.x.

@PierreRambaud are all translations stored in the database since 1.7.7.0?

[2021-02-11 09:23] hibatallahAouadni commented on #23219
Hello @madkot

I didn't manage to reproduce your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1zpIu9OZYGSxUwzrs8oQQclpmC78a7VNb/view

Please check and feedback.
Thanks!

[2021-02-11 09:39] savarade commented on #17390
Buongiorno a tutti dopo aver pulito la cache dal bo di prestashop mi ritrovo ad non accedere più con l'errore 500 ...nel dettaglio allego anche gli errori PrestaShopException  ...qualcuno di buona volontà che mi aiuti vi prego rispondetemi

GRAZIE
![ERRORE 500](https://user-images.githubusercontent.com/78904145/107620722-7243d480-6c55-11eb-82a6-9ef201e3a10f.JPG)
![PrestaShopException](https://user

[2021-02-11 10:24] PierreRambaud commented on #17011
Same haven't had the time yet to test it :(

@muyncky as far as I know, no, some are stores in files, other in the database, it depends :sweat_smile:

[2021-02-11 10:26] MathiasReker opened #23222 "Spanish Argentina and Arabic does uses the same language code for translation"
#### Describe the bug

When a module is translated into "Spanish Argentina" it generated a file named "ar.php" in the translation folder of the module.

But when translated into Arabic it generates a file named "ar.php" as well.

#### Expected behavior

Arabic and Spanish Argentina must have different translation files. I think the correct way will be to name the file as the full language code. Se

[2021-02-11 10:33] hibatallahAouadni commented on #23131
Hello @Esh-network

The Product Team are studying the prices display with the old versions, so please be patient till you get your answer :relaxed:

Ping @PrestaShop/product-team as discussed with @MatShir the prices display has been changed since 1.7.6.x (the tax is setting HT for this customer group):

### 1.7.5.x:

#### The option `Display tax in the shopping cart` is disabled

![image](https:/

[2021-02-11 10:51] baptx commented on #23165
Hello @hibatallahAouadni, indeed, I did not pay attention to the small link "All Versions " / "Toutes les versions" on the download page. I create an issue here because I thought the README file of the GitHub project could be improved.
By the way the links https://www.prestashop.com/en/previous-versions and https://www.prestashop.com/fr/versions-precedentes could be renamed to all-versions and tou

[2021-02-11 10:53] hibatallahAouadni commented on #23165
@baptx yep you're right :slightly_smiling_face:
@matks FYI

[2021-02-11 10:54] SD1982 commented on #21775
Not fixed i reopen the issue
![image](https://user-images.githubusercontent.com/40635814/107627549-bdfb7b80-6c5f-11eb-89e8-b76f75de6b78.png)
![image](https://user-images.githubusercontent.com/40635814/107627559-c3f15c80-6c5f-11eb-9440-7e2e0eaceb28.png)

[2021-02-11 10:54] SD1982 commented on #21775
This issue is not fixed i reopen it
![image](https://user-images.githubusercontent.com/40635814/107627656-e8e5cf80-6c5f-11eb-85d5-4a4b441a65ce.png)

![image](https://user-images.githubusercontent.com/40635814/107627646-e3888500-6c5f-11eb-8177-64551f5522dc.png)

[2021-02-11 11:08] Esh-network commented on #23131
Thank you.

But on 1.7.7.1 it's also different:

Option :

HT group enabled 1.7.7.1
https://gyazo.com/41da547daea07c4074e75227c8936c73

Ttc group activated 1.7.7.1
https://gyazo.com/83c5386c92a52ca03c061cd919c7e02a

HT group activated with tax details 1.7.7.1
https://gyazo.com/b502ee2e3f53a487d8f16badbc5a551a

TTC group activated with tax details 1.7.7.1
https://gyazo.com/6c0d3dac03b26265be200e15e

[2021-02-11 11:22] mariochacondev commented on #18547
Hi guys, any chance of this happening anytime soon?

[2021-02-11 11:37] tswfi commented on #20817
Finnish tax authority defines pretty strict rules on what should be shown in the receipts for customers:
https://www.vero.fi/en/businesses-and-corporations/about-corporate-taxes/tax-auditing-and-shadow-economy/kuitinantovelvollisuus_harmaan_talouden/play_fair_dont_forget_the_receip/

The example receipt is for a POS system but the same rule applies to order confirmation and other documents provide

[2021-02-11 11:47] hibatallahAouadni commented on #23222
Hello @MathiasReker

Could you please provide step to reproduce.

Thanks!

[2021-02-11 11:57] W4U-TOURS commented on #22250
In my case #22293 don't fix the bug but [this comment](https://github.com/PrestaShop/PrestaShop/issues/22250#issuecomment-738968322) fix it !

[2021-02-11 13:14] matks commented on #18547
@mariochacondev Not soon, no.

PrestaShop 1.7.8 will bring php7.4 compatibility and be delivered in summer 2021. PrestaShop 1.7.9 will bring php8.0 compatibility and be delivered somewhere around end of 2021 or beginning of 2022.

Sorry about that, but PrestaShop is a big software, we try to maintain a range of compatibility* and php8 is a very big jump (see https://24daysindecember.net/2020/12/21

[2021-02-11 13:18] mariochacondev commented on #18547
Alright, I can understand. I just want to be prepared for a project that is due very soon. Thanks for the info

Cheers Mario

[2021-02-11 13:19] matks commented on #23165
You might not believe it, but I recently asked the team behind prestashop.com to do _exactly that_ 😄  . The work is WIP on their side (there's a lot of work because pages on prestashop.com are translated in 8 languages so they need translaters before pushing to production)

[2021-02-11 13:24] hibatallahAouadni commented on #23110
Hello @ced--ced

Could you please check your table `ps_category` in your database? if there's no record in this table, it means you delete all your categories by mistake :sweat_smile:
So, please check and feedback.

Thanks!

[2021-02-11 13:32] #23061 closed, assigned to matks

[2021-02-11 13:33] matks commented on #23061
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23081

[2021-02-11 13:40] MathiasReker commented on #23222
I think it is a problem with older PrestaShop versions as well.

Reproduce:
1) Translate a module into Spanish Argentina
2) Translate the same module into Arabic

Both languages are being saved in a file called "ar.php".

[2021-02-11 13:45] MathiasReker commented on #23222
I think the correct way will be to name the file as the full language code. See example below:

Arabic (Iraq): "ar-iq.php"
Spanish (Argentina): "es-ar.php"

[2021-02-11 13:53] iDrums commented on #22774
Hi @hibatallahAouadni ,

Sorry for the late reply.
Could you please try to do the same as the second video you sent above, without checking "Recevoir les offres de nos partenaires" ?

I've disabled this option and it is not displayed on my website.

Thank you !

[2021-02-11 14:23] hibatallahAouadni commented on #23222
Hello @MathiasReker

Thanks for the clarification!
I encounter a problem :confused: even when I submit some traslations for a module (ex: blockreassurance) with Arabic language or Spanish language, I couldn't find these generated files :confounded:

Ping @PrestaShop/qa-functional could someone help me to reproduce the issue, please :pray:

[2021-02-11 14:58] NeOMakinG commented on #23213
The update should fix this bug, also I noticed that TinyMCE has a mobile mode which is not used on prestashop, maybe we could use it

[2021-02-11 14:59] MathiasReker commented on #23222
The files are located in a folder called translation inside the module folder.

[2021-02-11 15:09] madkot commented on #23219
I mean Admin**SpecificPrice**Rule instead of AdminCartRules, and as you see in my last comment.. i know why it looks like below
![obraz](https://user-images.githubusercontent.com/11571787/107654171-aed9f500-6c82-11eb-9b4d-7c958022beef.png)
![obraz](https://user-images.githubusercontent.com/11571787/107654232-c2855b80-6c82-11eb-90be-9a8e728f4d63.png)
current result
![obraz](https://user-images.gith

[2021-02-11 15:21] hibatallahAouadni commented on #23161
Hello @Borgas

I didn't manage to reproduce your issue with PS1.7.7.1 install in Portuguese Portugal, see the attached screen record below:

https://drive.google.com/file/d/1ZM212uhTyohJH8zRItCwpPwxZ5BrciNo/view

Please check and feedback.
Thanks!

[2021-02-11 15:24] hibatallahAouadni commented on #23222
@MathiasReker yep I know :wink:
But unfortunately in my case, there's no files :confused: the only file I had (in any module) is `it.php` (Italien language).

[2021-02-11 15:36] NeOMakinG commented on #23085
I agree, but there are more problems about this :

Different list styling are inlined styles on TinyMCE side, and after saving it, it's parsed from PHP and the style is no more present, this means that you can't use every list styles for the moment anyway :/

[2021-02-11 15:40] prestascott commented on #23015
Hey everyone,

In fact, containers in the bo have 3 different sizes:
- 100 %
- 80 %
- 60 % (approximately)

It may seems weird for our users and they can identify these 3 different sizes as a display bug.
This is why I suggest to keep only 1 size, which is the 100 %. I already discussed with @NeOMakinG & @TristanLDD and we're okay with this change.

Although, we need to create a common rule about

[2021-02-11 16:16] hibatallahAouadni commented on #23219
@madkot you mean this page **BO**>**SELL**>**Catalog**>**Catalog Price Rules** ?

![image](https://user-images.githubusercontent.com/23308427/107664495-c1592c00-6c8c-11eb-9819-fc64fe3f2b2b.png)

[2021-02-11 16:29] hibatallahAouadni commented on #22929
Hello @manon-pitron ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-11 16:29] #22929 closed, assigned to nobody

[2021-02-11 16:40] marionf opened #23225 "Add TinyMCE mobile mode"
#### Describe the solution you'd like

Add TinyMCE mobile mode for a better UX

[2021-02-11 16:44] marionf commented on #23225
@NeOMakinG Could you tell me what is the behavior if a feature used in desktop mode is unavailable in mobile mode ?

[2021-02-11 17:21] jaxtheking opened #26097 "Uncaught ReferenceError: ArrayMBG is not defined - on shipping method checkout step"
Hi,
We're getting a JS error after progressing from the Addresses step to the Shipping Methods step in the checkout. All works before then and the error persists up to the Payment step.

The root of the issue seems to be line 74 of classes/Hook/HookDisplayFooter.php: `$gaScripts .= $gacart;`
Before the Shipping step, the $gacart variable contains a flat array:
[code]

After moving to the Shipping

[2021-02-11 17:24] Progi1984 commented on #22444
Fixed by #22528

[2021-02-11 17:24] #22444 closed, assigned to atomiix

[2021-02-11 17:30] mvorisek commented on #18547
related issues:
- upgrade Symfony & Twig: https://github.com/PrestaShop/PrestaShop/issues/17300
- upgrade Guzzle: https://github.com/PrestaShop/PrestaShop/issues/17351

[2021-02-11 18:10] jaxtheking commented on #20770
Hi @khouloudbelguith,
I'd like this ticket to be re-opened as I can confirm the issue is still occurring as of 1.7.7.1 on PHP 7.2 and 7.3.

Note that the error (a PHP Warning actually) will not show up in var/logs but in the server's error_log file.
This is due to PHP7 raising a warning when using foreach loops on anything other than countables (array or object).

Around line 219 of modules/dashpr

[2021-02-11 20:19] seederp2p opened #23228 "Wrong payment data for specific price product - 1.7.7.1"
To Reproduce:
A product costs for instance 10 euro.

- Put a **specific price** on a product that starts today and ends tomorrow to discount 2 euro.
- Buy that product **today** and pay it.
- At the backoffice, Change the status of the order for **paid status when the specific price is not active** (after tomorrow)
- The order will change it's value for the original 10euro and will count as the pr

[2021-02-11 20:51] alfonsolr09 commented on #23204
what theme are you using?

[2021-02-11 21:48] ahtokren opened #23229 "Unknown locale code: en-US [PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0] - 1.7.7.1"
#### Describe the bug

After update from v1.7.6.x to v1.7.7.1 with module 1-Click Upgrade, throws an error: "Unknown locale code: en-US [PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]"

#### Expected behavior

Need to just an update from 1.7.6.x to 1.7.7.1

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '1-Click Upgrade module'
2. Update to 1.7.7.1

[2021-02-11 22:02] hibatallahAouadni commented on #23191
@dbalas Could you please provide a screen record. Thanks!

[2021-02-11 22:04] hibatallahAouadni commented on #22774
@iDrums could you please provide a screen record. Thanks!

[2021-02-11 22:38] hibatallahAouadni commented on #12252
Hello @BenTen & @khouloudbelguith

It seems the issue has been fixed with PS1.7.7.1 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/107707046-92a97880-6cc1-11eb-9faa-dddf575f7bb9.png)

Please check and feedback.
Thanks!

[2021-02-11 22:58] hibatallahAouadni commented on #21092
Hello everyone,

It seems the PR is already archived, so why is the issue still mentioned in Milestone 1.7.8.0?
Could someone please check.

Thanks!

[2021-02-11 23:29] hibatallahAouadni commented on #12149
Hello @PierreRambaud

What's the status of this issue?
It seems the author is beyond our reach, so shall we close it or this issue needs more specs?

Thanks!

[2021-02-11 23:37] hibatallahAouadni commented on #11847
Hello @MatShir

It seems this issue has been fixed, cause I couldn't reproduce it with PS1.7.7.1:

https://drive.google.com/file/d/1UvqvhIo0D8ELd5Nlin_e1yk_iDJbaGIq/view

The only  way to reproduce the issue is to install your shop with **swedish** language, check this issue #23120
So, shall we close this issue?

Thanks!

[2021-02-12 07:44] DeFault-1 commented on #13016
Probably this redirect is being forced by the PHP code in FrontController.php class or somewhere else in another core PHP file

[2021-02-12 07:51] DeFault-1 commented on #13016
I do absolutely support this very important improvement. Prestashop's Back Office is notoriously sluggish in version 1.7 and very often you have to wait for more than 2 minutes for the page to be ready. Unfortunately Cloudflare will not permit you to wait for more than 100 seconds, that is a big problem.

[2021-02-12 08:24] florine2623 commented on #21319
Hello @rdy4ever ,
since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-02-12 08:24] #21319 closed, assigned to nobody

[2021-02-12 08:34] hibatallahAouadni commented on #9797
Ping @PrestaShop/prestashop-core-developers This issue is still persist and we had a PR with PS1.6.1.14 #7821
Is it possible to cherry-pick it?

[2021-02-12 08:40] florine2623 commented on #23228
Hello @seederp2p ,
I can't reproduce your issue in PS 1.7.7.1.
I tried with the 2-euro discount as you said in the comment and the -25% as it is on your screenshot, and also added the cost price as it is on your screenshot, but I can't reproduce the issue.
The price is still the one with discount after the status changed and specific price not available :
![Capture d’écran 2021-02-12 à 09 39 06]

[2021-02-12 08:40] #23228 closed, assigned to nobody

[2021-02-12 08:40] Julievrz commented on #22992
@hibatallahAouadni @eternoendless Shouldn't we reopen this issue? Indeed, even after the merge of the PR, I still cannot see the Esperanto language in the software...
![image](https://user-images.githubusercontent.com/70583503/107746551-49cfdf00-6d16-11eb-9bc1-84b8ec068d12.png)

[2021-02-12 08:43] sgluca opened #23230 "FO - OrderConfirmation for free order doesn't display, display login/history page"
#### Describe the bug

When I create a free order, after the payment, I expect to show also the confirmation order page and not redirect to history controller.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product
2. Add a Cart Rule or a Specific Price to a product to make it free
3. Add the product to cart
4. Complete the order
5. See the login page or history order and

[2021-02-12 08:45] hibatallahAouadni commented on #22992
@Julievrz I think so, @eternoendless it's your call :wink:

[2021-02-12 09:06] YerayC78 commented on #23204
my server log says the problem is:

mod_fcgid: stderr: PHP Warning: "continue" targeting switch is
equivalent to "break". Did you mean to use "continue 2"? in
/var/www/vhosts/39458728.servicio-online.net/electroencasa.com/vendor/doctrine/orm/lib/Doctrine/ORM/UnitOfWork.php
<https://plw128.panel-hosting.com/smb/file-manager/code-editor?currentDir=%2Felectroencasa.com%2Fvar%2Fwww%2Fvhosts%2F39458728

[2021-02-12 09:18] florine2623 commented on #23230
Hello @sgluca ,
Thanks for the report.

I was able to reproduce the issue with PrestaShop versions 1.7.7.1, 1.7.6.9 and 1.7.52. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-02-12 09:30] manuelm97 opened #23231 "PROBLEMAS CON PRECIO UNITARIO EN CARRITO"
#### Describe the bug

Tengo problemas con el precio unitario de los productos. En la página del producto se muestra correctamente, pero cuando voy al carrito muestra un precio unitario totalmente distinto y que no tiene nada que ver con el que puse. He probado en otras versiones de prestashop y pasa siempre lo mismo.

#### Expected behavior

Lo normal sería que se mostraran los precios unitarios

[2021-02-12 09:34] florine2623 commented on #23231
Hello,

English is the norm, please translate it.

Thanks.

[2021-02-12 09:52] florine2623 commented on #23231
Please create a new issue in English, I'll close this one.
Thanks

[2021-02-12 09:52] #23231 closed, assigned to nobody

[2021-02-12 09:56] florine2623 commented on #23229
Hello @ahtokren ,
Can you check you database, in table ps_currency and ps_currency_lang, make sure all your currencies and languages are present.
Example, in my case I'm using Euro and USD as currencies and English Spanish and French as languages on my shop :
![Capture d’écran 2021-02-12 à 10 55 47](https://user-images.githubusercontent.com/16019289/107753847-f0b97880-6d20-11eb-8382-1c79778aad97

[2021-02-12 10:29] hibatallahAouadni commented on #23204
Hello @YerayC78

Please do not disclose your confidentiality here for security reason.
Let's be safe :wink:

Did you upgrade your shop lately? if so, what was your shop version? and did you override a Controller? if so, what is it?
Please check and feedback.

Thanks!

[2021-02-12 10:42] khouloudbelguith opened #23233 "BO - Translations page - An exception s displayed when we try to export a language"
#### Describe the bug
In the BO > International > Translations page, when we try to export a language, an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/107758271-ec905980-6d26-11eb-97c0-1635fd8c0274.png)

This issue is detected by [Nightly](https://nightly.prestashop.com/report/877)

#### Expected behavior

It should download a zip folder without exception

###

[2021-02-12 11:02] eternoendless commented on #18547
What is particularly tricky is that support for PHP 8 requires updating several dependencies, which means a significant number of breaking changes.

[2021-02-12 11:11] mvorisek commented on #18547
@eternoendless That is correct. But used Symfony receives only security fixes, used Guzzle is already EOL and does not even receive security fixes... Is there any reason to not update these deps in 1.7.8.0? It will need to be done someday and Symfony 4.4 as well as the latest Guzzle support the minimal PHP 7.1.

[2021-02-12 11:19] eternoendless opened #23235 "[EPIC] - Add support for experimental features through Feature Flags"
## Roadmap

### Bugs

- [x] #34421

## Fixed

### Must-have => delivered for 1.7.8.0

### Nice-to-have => might be delivered in further releases

- [ ] https://github.com/PrestaShop/PrestaShop/issues/24002 Improve the confirmation modal behavior on Experimental Feature page
- [ ] Implement Feature Flag _requirement_ data model (see SQL structure `ps_feature_flag_requirement` below)

### Bugs

## F

[2021-02-12 11:25] rblaurin commented on #18547
@mvorisek, I think the keywords are: Semver, Guzzle and Modules.
But you are right, it will need to be done someday, and I would greatly appreciate if we had at least a new class to wrap Guzzle in 1.7.8.

[2021-02-12 12:20] manuelm97 opened #23237 "PROBLEM WITH UNIT PRICE IN CART"
#### Describe the bug

I have problems with the unit price of the products. On the product page it is shown correctly, but when I go to the cart it shows a totally different unit price that has nothing to do with the one I put in. I have tried other versions of prestashop and the same thing always happens.

#### Expected behavior

The normal thing would be for the unit prices to be shown the same

[2021-02-12 12:20] #22668 closed, assigned to atomiix, matks

[2021-02-12 12:48] florine2623 commented on #23237
Hello @manuelm97 ,

I can't reproduce your issue in PS 1.7.7.1, please take a look at my screenshots :
![Capture d’écran 2021-02-12 à 13 45 44](https://user-images.githubusercontent.com/16019289/107769786-c2479780-6d38-11eb-89db-b620a92d8f56.png)
![Capture d’écran 2021-02-12 à 13 45 53](https://user-images.githubusercontent.com/16019289/107769791-c4115b00-6d38-11eb-89b3-0837dce66dec.png)

Plea

[2021-02-12 12:48] #23237 closed, assigned to nobody

[2021-02-12 13:29] Hlavtox commented on #23085
@NeOMakinG Just disable HTML purifier and solved. It does not delete anything from my inputs then...
I would say it's merchants responsibility if he types nonsense and nonvalid code to his inputs. WDYT?

[2021-02-12 13:29] Jojo-Kaly commented on #21927
I also have the error "L'avis contient plusieurs notes cumulées". How are you fixed this problem precisely ?
Thank you.

[2021-02-12 13:40] eternoendless commented on #18547
1.7.9 will be a semi-major in that respect, because we will update a lot of dependencies – including Guzzle and Symfony.

[2021-02-12 13:43] mvorisek commented on #18547
@eternoendless my question what is the objective to not do so in 1.7.8?

[2021-02-12 13:55] eternoendless commented on #23235
Here are my suggested table schemas:

### ps_feature_flag

Name | Type
-----|------
id_feature_flag | int(10) unsigned NOT NULL AUTO_INCREMENT
name | varchar(255) NOT NULL
state | tinyint(1) unsigned NOT NULL DEFAULT 0

PRIMARY KEY = (id_feature_flag)

### ps_feature_flag_lang

Name | Type
-----|------
id_feature_flag | int(10) unsigned NOT NULL
id_lang | int(10) unsigned NOT NULL
description | va

[2021-02-12 14:08] eternoendless commented on #20011
For the record I have verified that this is indeed possible: wordings included in translated catalogues can be used even if they are not found in the shop's default catalogue (eg. wordings added in the 1.7.8 catalogue can be used in an unmodified 1.7.7 shop).

We need to figure out the best way to adapt our build workflow to make the latest catalogues available to 1.7.5+ shops.

[2021-02-12 14:20] alfonsolr09 commented on #23204
Something similar happened to me due to a js problem with the theme

[2021-02-12 14:42] gbartosz83 commented on #22117
how to repair this without presta upgrade?
I've tried upgrade from 1.7.6.7 to 1.7.7.1 and it failed

[2021-02-12 14:54] eternoendless commented on #18547
@mvorisek Because it's a lot work, and that would delay 1.7.8 by several months. Furthermore, php 7.4 compatibility has already been added to 1.7.8, so we really don't want to delay it any longer than necessary. 1.7.8 is due to be frozen on April and released before the summer, and 1.7.9 by end of year (hopefully).

[2021-02-12 15:35] eternoendless opened #23240 "Move upgrade scripts to the autoupgrade module"
#### Is your feature request related to a problem?

- The Core shouldn't be aware of the upgrade process.
- Putting the incremental upgrade scripts (SQL, PHP) in the core means that fixing them requires a new release.

#### Describe the solution you'd like

Everything related to upgrade should be removed from the core and handled by the module itself.

#### Additional context

This might require t

[2021-02-12 15:44] LaurentPrei opened #23241 "BO / product page : attribute that can't be generated and I don't save my product"
Hello,

I'm working on Prestashop 1.7.7.1

The site is under construction and will be launched with only 10 products. So I enter them manually.

It's a liquid product available in 5L, 60L, and 200L. -> Packaging attribute and the values 5, 60 and 200 (see screenshots)

When I made my first product sheet (two days ago), it was working on the back office and the front end.

Since then, I have create

[2021-02-12 15:45] eternoendless commented on #17496
There's some thinking needed to account for the following cases:

- If the module version included with the core is higher than the one installed before the upgrade, then logically the module upgrade process should be triggered in order to ensure that the module is properly upgraded (this might already be the case).
- If the module version included with the core is LOWER than the one installed bef

[2021-02-12 15:53] eternoendless opened #23242 "Add support for configuration through environment variables"
#### Is your feature request related to a problem?

Configuration information like database credentials currently needs to be stored in a file within the PrestaShop install. This makes deployment more difficult and could be a security threat.

#### Describe the solution you'd like

Add support for using environment variables for all configurations (database credentials, etc)
The first step for thi

[2021-02-12 15:55] florine2623 commented on #23241
Hello @LaurentPrei ,

This issue is not reproducible in fresh install of PrestaShop 1.7.7.1. It seems like your issue is coming from your site.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.pres

[2021-02-12 15:55] #23241 closed, assigned to nobody

[2021-02-12 15:57] eternoendless opened #23243 "Add support for SSO services in Back Office login"
Add necessary extension points to allow modules to provide login services in the Back Office (like "Sign in with Google" or "Sign in with Facebook").

Todo:

- [ ] Step 1: This issue needs to be explored to understand what needs to be done.
- [ ] Step 2: When providing the solution, an example module will be required to test this feature.

To be specified further.

[2021-02-12 16:01] PululuK commented on #22783
Build ready, QA validation time 😋

[2021-02-12 16:54] khouloudbelguith opened #23244 "BO - Customer Settings - An exception is displayed when editing a category discount for customer Group"
#### Describe the bug

In the BO > Shop Parameters > Customer Settings > Customer Group > when we try to edit a category discount => an exception is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > Customer Settings page
2. Edit a customer Group
3. Add a category discount for the Clothes category
4. Try to click on the "Edit" button
![image](htt

[2021-02-12 17:53] tswfi opened #23245 "New hook for showing information (or anything) for one order row"
#### Is your feature request related to a problem?

Twice this week I've gotten request to show extra information in order detail lines (in FO, BO and email)

New hook for showing the information would make it easy to add new information or even input fields for order details.

![image](https://user-images.githubusercontent.com/1352132/107802970-ab219d80-6d6a-11eb-8aab-33aafba340f7.png)

![image](

[2021-02-12 18:01] hibatallahAouadni commented on #23204
@alfonsolr09 thanks for helping :relaxed:
@YerayC78 could you please check your console if you have any JS errors?

[2021-02-12 18:06] tswfi opened #23246 "New hook for product price"
#### Is your feature request related to a problem?

As a module developer I have a need to set the product price to what I want.

Having a hook `actionGetProductPrice` that could return new price for the product could open quite a few possibilities for modules without using overrides.
* realtime pricing from erp
* totally new discount processes
* etc

#### Describe the solution you'd like

Somethi

[2021-02-12 18:15] Hlavtox commented on #23246
I would make a general hook to ProductLazyArray, so we can override everything, everywhere

[2021-02-12 18:23] tswfi commented on #23246
hmmm

https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Product/ProductPresenter.php#L95

[2021-02-12 18:24] tswfi commented on #23246
I have to test this, thanks for the hint @Hlavtox

[2021-02-12 18:25] Hlavtox commented on #23246
@tswfi Ok we were both blind, nice hook you found!!! :D

[2021-02-12 18:26] hibatallahAouadni commented on #23245
Hello @tswfi

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , well I think it's a good idea to add this hook, wdyt?
Ping @PrestaShop/prestashop-core-developers is there any hook could give us the same result as the proposed one?

[2021-02-12 19:18] tswfi commented on #23246
This is the pr that introduced it, https://github.com/PrestaShop/PrestaShop/pull/17203 it will be available from 1.7.8.0 (it seems)

[2021-02-12 19:55] Hlavtox commented on #23243
@eternoendless It's gonna be awesome if I can implement login via our Office 365! 🤩

[2021-02-13 01:08] alfonsolr09 commented on #23201
yes, same "problem"

[2021-02-13 06:15] Seempai opened #23249 "Bug with setting BYN currency"
it is impossible to set the currency BYN (933) Belarusian ruble. Loading screen freezes endlessly. There are no problems with other currencies. What could be the problem?
![RiW7EP_CR2E](https://user-images.githubusercontent.com/29523132/107843428-fcb64080-6ddb-11eb-97c1-24ca3a38e835.jpg)

[2021-02-13 07:44] SimonGrn commented on #23249
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-02-13 07:44] #23249 closed, assigned to nobody

[2021-02-13 12:07] YerayC78 commented on #23204
I have solved the problem. I restored the Prestashop to version 1.7.6.8.
The log of my server detected errors in the reading of some php files. I
removed the command "continue;" of the lines that were wrong and now
works fine. Thanks a lot.

------ Mensaje original ------
De: "Hibatallah Aouadni" <notifications@github.com>
Para: "PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
CC: "YerayC78

[2021-02-13 14:16] ced--ced commented on #23110
Hi @hibatallahAouadni,

The categories are all there in the database: https://prnt.sc/zd0xsu

[2021-02-13 15:01] darudev87 commented on #9542
Hi Ik22, are you having same problem ? are you with ps 1.7.4.2 yet ? which kind php version are you on production server ?

Regards

[2021-02-13 16:20] RogerAndersson commented on #23126
I really like this improvement. I have the same need.

[2021-02-13 16:36] RogerAndersson commented on #20057
I have the same need to add weight for product packaging.
Maybe possible to add weight depending on max product size in cart.

[2021-02-13 19:34] seederp2p commented on #23228
@florine2623 I enabled dev mode at prestashop and I got this error at backoffice order list:

'PHP message: PHP Warning:  Declaration of Cart::getOrderTotal($with_taxes = true, $type = Cart::BOTH, $products = NULL, $id_carrier = NULL, $use_cache = true) should be compatible with CartCore::getOrderTotal($withTaxes = true, $type = Cart::BOTH, $products = NULL, $id_carrier = NULL, $use_cache = false,

[2021-02-13 20:22] Hlavtox commented on #20057
@RogerAndersson @DeFault-1 @TVBZ

The section in product options is called "Delivery" and the input group has header "Package dimensions". You should enter the product **box** dimensions and weight. If you have 2000 products, well, you should have done it right from the start OR, don't tell me that global change would take more than 10 minutes. 😄

And if you from whatever reason don't want to chan

[2021-02-13 21:05] oopen commented on #22667
The BUG is in PRODUCTION !
When you use multi-languages, with classic theme, reveled by using product variants.

In browser JS `prestashop.urls.pages` all URLs to `index.php` are invalids; because locales is set as root dir.

[code]

As you can see, `category, cms, order_detail, order_return, pdf_invoice, pdf_order_return, pdf_order_slip, product` are invalids URLs, many bugs ... :1st_place_medal:

[2021-02-13 21:26] oopen opened #23250 "404 on Product Variantes change with multi-languages on classic theme"
#### Describe the bug
The BUG is in PRODUCTION !
When you use multi-languages, with classic theme, reveled by using product variants.

#### Steps to reproduce

1. just download the last version V1.7.7.1,
2. install, unable multi-language
3. add product variant
4. go to product page
5. select variant
6. the request return 404 with front message: An error occurred while processing your request

**Sc

[2021-02-13 21:33] rblaurin commented on #22878
Actually I always wondered why do we have an "impact on price" for combinations instead of a "combination price". field.
The same for weight.
But of course, to change this would break BC a lot.

And yes, I think combination dimensions should be an option. If you can have different weights, you should be able to define different dimensions too, right? Carriers take dimensions into accout as well. A

[2021-02-13 22:11] oopen commented on #23250
Production bug fixed !
Please merge.

[2021-02-13 22:29] ComonSoft opened #23254 "Backoffice order list and edit broken after upgrade from 1.7.x.x to 1.7.7.1"
After upgrading Prestashop 1.7.4.5 upgrade to 1.7.6.4 and upgrade to 1.7.7.1 with autoupgrade, orders backoffice screens are broken (status selector, tabs...) see screenshots . Same issue after clearing Prestashop and browser cache.

Steps to reproduce the behavior:

1. autoupgrade from 1.7.x.x to 1.7.7.1
2. connect to backoffice
3. clear cache
4. Goto orders
5. Edit order

Capture orders list KO

[2021-02-14 03:33] alfonsolr09 opened #23255 "css bug when trying to write dimensions in an image or video (product description)"
#### Describe the bug

error when trying to write dimensions in an image or video (product description)

#### Steps to Reproduce

Steps to reproduce the behavior:

https://youtu.be/19n-umrDU8E

**Screenshots**

https://youtu.be/19n-umrDU8E

#### Additional information

* PrestaShop version: **1.7.6.4, 1.7.7.0, 1.7.7.1, 1.7.8.0 (develop)**
* PHP version: 7.2, 7.3

[2021-02-14 09:04] prston commented on #22215
Hi everyone. I always let some time passes between a new PS release is rolling out and the time I will try to upgrade to that version, thinking biggest blocking bugs have been fixed... Bad luck for me, I'm also getting this blocking issue. After reading tons of comments from tons of people about it, I don't get how this has passed through any QR on the update process and it seems PS' staff itself

[2021-02-14 09:14] ComonSoft commented on #23254
Forget it, it was a non Prestashop module, that cause the issue. Sorry.

[2021-02-14 10:40] SharakPL commented on #12417
@hibatallahAouadni what is @PrestaShop/product-team?

[2021-02-14 12:48] Daxtermania opened #23256 "Does not detect checkboxes in multistore"
#### Describe the bug

Does not detect checkboxes in multistore

#### Expected behavior

Remove deselected pages from the sitemap

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to module configuration
2. Uncheck page 404
3. Generate Sitemap in multistore
4. Open sitemap and the 404 still there

#### Additional information

* PrestaShop version: 1.7.6.7
* PHP version: 7.2

[2021-02-14 14:07] cocolate13 commented on #22141
Hi, I have the same error.
Autoupgrade Prestashop 1.7.6.7 to 1.7.7.1. PHP version 7.3.20. 1clickUpgrade v4.12.0.
All my modules are updated (before launch upgrade). All are green on the upgrade page.
I am the following error (like @Robin-Fischer-PS). I read lots of issue on github/prestashop and I don't find the solution.

`[INTERNAL] /home/barthele/www/vendor/symfony/symfony/src/Symfony/Component

[2021-02-14 17:15] cocolate13 opened #23257 "Error while upgrading from 1.7.6.7 to 1.7.7.1"
Hi,
I saw lots of subjectson prestashop/github about this but I don't find a solution.
After an upgrade from 1.7.6.7 to 1.7.7.1 I had the following error :

`[INTERNAL] /home/barthele/www/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: Expected to find class "PrestaShopBundle\Controller\Admin\Sell\inde