[2018-08-27 14:39] Ludofloria opened #10157 "No invoice number when updating an order with API"
**What's the bug ?**
Since some version in branch 1.7.3, when we change the status of an order to "Shipped" via the API, the invoice_number is not updated, but the invoice is generated.
Consequences : The backoffice shows a "no invoice" button, but the invoice is indeed there in the "documents" tab. The invoice also doesn't have a invoice date...
If we do the same thing from the Back Office, every

[2018-08-27 14:41] fuga00 commented on #10145
yes, hotfix work as well.

pon., 27 sie 2018 o 13:02 kolkin <kolkin2@gmail.com> napisał(a):

[2018-08-27 14:51] PierreRambaud commented on #10156
Hi and thanks for your feedback. You're reading a PrestaShop 1.6 documentation.
Did you have a check on this file: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf

Can you send us your Nginx configuration please?  We will try to reproduce.

[2018-08-27 14:59] centoasa commented on #10156
Thanks @PierreRambaud: the file on your link where I've to put in?
apache otimization must me off? please let me know all prestashop settings to works with nginx
root must be in format var/www/vhosts/web.com/httpdocs/ (?)
attache my nginx.conf
[nginx.zip](https://github.com/PrestaShop/PrestaShop/files/2324350/nginx.zip)

[2018-08-27 15:03] khouloudbelguith commented on #10157
Hi @Ludofloria,

I manage to reproduce the issue with the last version 1.7.4.2.
![image](https://user-images.githubusercontent.com/16067358/44667445-13555b00-aa1b-11e8-8032-a637ff61f897.png)
We will see how to fix it.
https://github.com/PrestaShop/PrestaShop/issues/10069

Best regards, Khouloud

[2018-08-27 15:09] khouloudbelguith commented on #10128
Hi @Mreker,

Have the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9685?

Best regards, Khouloud

[2018-08-27 15:21] PierreRambaud commented on #10156
Can you add you nginx virtualhost please?
For the root directory, it only depends on what you add in your nginx / virtualhost configuraiont =)

[2018-08-27 15:23] ALTSAT commented on #10141
Hi @khouloud

PHP ERROR LOG

[Mon Aug 27 16:18:03.527221 2018] [error] [pid 3986] apache2_util.c(271): [client 176.9.4.106:60282] [client 176.9.4.106] ModSecurity: Access denied with code 403 (phase 2). Pattern match "(?i:(?:c(?:o(?:n(?:t(?:entsmartz|actbot/)|cealed defense|veracrawler)|mpatible(?: ;(?: msie|\\\\.)|-)|py(?:rightcheck|guard)|re-project/1.0)|h(?:ina(?: local browse 2\\\\.|claw)|e(?:

[2018-08-27 15:24] khouloudbelguith commented on #10137
Hi @darfk3d3,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-27 15:24] centoasa commented on #10156
attached
[100asa.it.conf.zip](https://github.com/PrestaShop/PrestaShop/files/2324480/100asa.it.conf.zip)

[2018-08-27 15:30] khouloudbelguith commented on #10152
Hi @thunt4jr,

It seems that a description is missing, and that's why it could not be listed in the "following errors".
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure.

Best regards, Khouloud

[2018-08-27 15:33] khouloudbelguith commented on #10141
Hi @ALTSAT

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9553
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-27 15:33] #10141 closed, assigned to nobody

[2018-08-27 15:34] khouloudbelguith commented on #10141
Duplicate of #9553

[2018-08-27 15:34] centoasa commented on #10156
as suggest this article https://www.plesk.com/blog/various/set-virtual-host-configuration-files-plesk-tips/
I've to add prestashop-nginx directive info /var/www/vhosts/system/<domain_name>/conf/vhost_nginx.conf (it's right?)

[2018-08-27 15:36] centoasa commented on #10156
on traffic&seo the friendly url button must be ON or off? .htaccess I must delete?

[2018-08-27 15:38] PierreRambaud commented on #10156
It's specific to Plesk configuration and not Nginx nor Debian, but look like yes.
You must edit your virtualhost configuration to be like this one: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf et least for gzip & location configuration.

[2018-08-27 15:39] khouloudbelguith commented on #10145
Hi @fuga00,

Thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

Best regards, Khouloud

[2018-08-27 15:39] #10145 closed, assigned to nobody

[2018-08-27 15:59] centoasa commented on #10156
for example this is the nginx.conf for my subdomain crm.100asa.it
so what do you suggest to have url rewrite?
[nginx.zip](https://github.com/PrestaShop/PrestaShop/files/2324639/nginx.zip)

[2018-08-27 16:05] khouloudbelguith opened #10158 "Cannot edit the size of the home_default image"
**Describe the bug**

The size of the home_default image is 250px*250px.
It is impossible to edit this size.
In FO, the image size of the home_default image type is always displayed 250px*250px.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Images Settings page
2. Click on 'Edit' button for the home_default image type
3. Set the With & Height size
4. Save => Successfu

[2018-08-27 16:23] centoasa commented on #10156
None!
I've try to add only: https://1ce.org/1#BkLSSo-PX
and enable "friendly url" ==>
always 404 Not Found

[2018-08-27 17:06] centoasa commented on #10156
maybe because I've 2 different language on prestashop?

[2018-08-27 17:15] thegioidogiadung opened #10159 "Fault Zipcode in Making new order in Back Office"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Backoffice/Orders/New order'
If you choose "new customer" then you will see error
- Step 1: fill his/her email....ok
- Step 2: his/her address form...fault "zipcode is required"
 There is no Zipcode field in this form. I can not understand why?

2. How can I fix thi

[2018-08-27 17:17] thunt4jr commented on #10152
It is also an issue with products that have over 10,000 wordings. New products and old products is the same issue.

[2018-08-27 17:58] Maofree commented on #10140
hi
look my image at the top, you can see that it is different from yours
the form width is the same so the width is not full
to do that it is necessary only to go in this page and select full width, then you can see the issue

![1](https://user-images.githubusercontent.com/653230/44676404-7652ec00-aa33-11e8-8760-3f58d7e873d0.png)

in my image the form is under the logo

![11](https://user-images.g

[2018-08-27 18:06] ghost commented on #10142
@khouloudbelguith

Thanks for checking. I noticed that in your video, only one picture is showed per combination. In my case, all images are showed on all combinations and this gave me a reason to check a little bit deeper and discovered something which I tried in the past in the Product class override.

I wanted to display all combination images on all combinations, but in the same time be able t

[2018-08-27 18:55] twazerty commented on #10148
After an extra Ctrl+F5 on the product edit page the problem disappeared. After upgrading from 1.7.3 I had to perform some Ctrl+F5'ing on the backend to get everything working. But this problem remained.

[2018-08-27 19:20] thunt4jr commented on #10152
I found the problem, it is posting in the database but not display on the backend. it will come up on the front end. So the description is not the problem. This is still an issue and looking for the solution.

[2018-08-27 20:59] bensnjo opened #10161 "Cannot download language pack "en""
Pestashop on localhost showing this error. Kindly help to resolve it.

[2018-08-28 02:26] mrttahd opened #10162 ""Minimum quantity for sale" bug"
Hi,
I've found a bug on PrestaShop 1.7.4.2. On cart page, the minimum purchase order quantity for a product is 4 but you can decrease product quantity and checkout normally.

https://youtu.be/BI3s16RY53o
![b1](https://user-images.githubusercontent.com/29031285/44697040-4a238380-aaa4-11e8-94c4-515c74da1fd5.png)
![b2](https://user-images.githubusercontent.com/29031285/44697039-4a238380-aaa4-11e8-88a

[2018-08-28 05:44] anj7 commented on #9516
Hi Khouloud, The errors that I get as shown above revolves around .json, do you think the solution you presented equally works in my case? if not, how best should I tackle the error to enable me to access BO.

[2018-08-28 05:56] Host84 commented on #9516
Hi aalshariff,
did you activate the debug mode ?

[2018-08-28 06:21] PierreRambaud commented on #9516
For people who having this errors with their modules, you can use https://getcomposer.org/doc/06-config.md#prepend-autoloader .

[2018-08-28 06:25] centoasa commented on #9542
Same issue for me; in addition, when I add a memcached server all my script (started by cron, as search, google sitemap...) are generated very very slowly.and very often goes in timeout.

[2018-08-28 06:29] centoasa commented on #10016
same issue for me as I said on #9542

[2018-08-28 06:32] centoasa opened #10163 "cache APCu"
Prestashop 1.7.4.2
debian 9 on VPS with php 7.2.9 4Gb ram
10.1.26-MariaDB-0+deb9u1
if I try to add APCu on cache, after some minutes of playing on backoffice, the system crash with an 500 error, and I've to restart the VPS to have my prestashop that works well.

[2018-08-28 07:01] jimix974 commented on #9485
@khouloudbelguith the module version is v4.0.0.

Thanks

[2018-08-28 07:30] khouloudbelguith commented on #10159
Hi @Hanoician,

Thanks to navigate to your BO => IMPROVE => International =>Locations => Countries Tab => Edit your coutry, in the Address format, you need to add the post code field.
![image](https://user-images.githubusercontent.com/16067358/44707462-de8de600-aaa4-11e8-9ee7-4236e7ea3e3d.png)
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-28 07:32] khouloudbelguith commented on #10161
Hi @bensnjo,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
 [http://build.presta

[2018-08-28 07:37] mortenhartvig opened #10164 "Tabs (admin menu tabs for ModuleAdminController)"
**Describe the bug**
When creating a ModuleAdminController, and you want it to appear in the admin menu (via the new 1.7.1.x support for $tabs array in the module main class), it is unclear on how to precicely create it, and there is also missing feedback on template errors (hard to backtrack, as it may be present in multiple locations. Documentation could solve).

Example given:

Say you have a *

[2018-08-28 07:38] PierreRambaud commented on #10156
Everything works fine with:
[code]

I'm running with Debian 9.5, PHP7.2 (fpm) and friendly urls are enabled.
Why do you want to target httpdocs? Do you navigate with `http://website-url.com/httpdocs`?

[2018-08-28 07:49] mortenhartvig commented on #10164
TLDR:  :-)

A: Document class_name in the $tabs array
Unclear what is the correct name:
'SomeName', AdminSomeName (correct), or 'AdminSomeNameController'

B: Guessing correct template path/structure is very hard (requires reading the native code)
'modules/somename/views/templates/admin/some_name/template.tpl.'

A and B could be solved in the doc:
http://doc.prestashop.com/display/PS17/Adding+modul

[2018-08-28 07:55] centoasa commented on #10156
so my root would be: var/www/vhosts/web.com/ (?)
do you have only one language or 2? because I've 2 languages
when I try to add these directives to nginx, plesk say me: "server" directive is not allowed here"
I've also try to disable url rewrite, using nginx, but memory and cpu are often on max values (75/80%)
Instead using apache+fpm and nginx as proxy, the cpu and memory are always at 25%

[2018-08-28 08:03] bensnjo commented on #10161
I was able to work around it. Now am getting a list of errors on loggin in to the admin
![capture](https://user-images.githubusercontent.com/42752977/44709269-e1430800-aab1-11e8-8fc6-80a4475d4e02.PNG)

[2018-08-28 08:06] bensnjo commented on #10161
what are this errors and how do I resolve
![1](https://user-images.githubusercontent.com/42752977/44709464-629a9a80-aab2-11e8-8108-d778e89ce4cc.PNG)
![2](https://user-images.githubusercontent.com/42752977/44709465-63333100-aab2-11e8-8685-69cdea1a438c.PNG)
![capture](https://user-images.githubusercontent.com/42752977/44709466-63333100-aab2-11e8-9708-9cf57db36aa0.PNG)

them?

[2018-08-28 08:08] PierreRambaud commented on #10156
Yes I have two languages too, and everything still working fine.
I don't know how Plesk configure is Nginx server and how directory structure is configured.
It's a server configuration problem. As they said, if you use their UI to configure nginx, you can only add `location`. You must have a check with Plesk team about how to configure your virtual host with their configuration :/

[2018-08-28 08:11] PierreRambaud commented on #10161
Try to remove `./app/Resources/translations/en-US/en-US.zip` and retry. Look like something goes wrong during download :)

[2018-08-28 08:25] khouloudbelguith commented on #10163
Hi @centoasa,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-08-28 08:33] khouloudbelguith commented on #10158
It is a cache problem.

[2018-08-28 08:33] #10158 closed, assigned to nobody

[2018-08-28 08:37] centoasa commented on #10156
A doubt arises: for prestashop 1.7 better to use apache or nginx?
For a shop with about 12k products and about 500 unique visitors/day?

[2018-08-28 08:45] khouloudbelguith commented on #10164
Hi @mortenhartvig,

Would you be willing to make a pull request on GitHub with your suggestion?
https://github.com/PrestaShop/docs
Thank you!

Best regards, Khouloud

[2018-08-28 09:03] khouloudbelguith commented on #10162
Hi @mrttahd,

I manage to reproduce the issue with the last version 1.7.4.2.
We will see how to fix it.

Best regards, Khouloud

[2018-08-28 09:13] psoit opened #10167 "How can I add compliance to GDPR law for identity form?"
Our version is Prestashop 1.6.1.17, we use Official GDPR Compliance by PrestaShop (1.5 & 1.6) - Order #988143

How can I add compliance to GDPR law for identity form?

If I add to template themes/theme960/identity.tpl:

                {hook h='displayGDPRConsent' moduleName='contactform'}

The consent does not appear. I thing, that reason is, that in gdpr admin module is not included this checkno

[2018-08-28 09:19] tiagocastro070 commented on #9932
Which files and methods should be edited to fix this bug?

[2018-08-28 09:22] PierreRambaud commented on #10156
If you're not comfortable with Nginx and fpm, I recommend you to use Apache, and php mod, this is the default configuration of many web servers.
Otherwise Apache event & php fpm (which offer a really good performance) but it's a little tricky to configure.

If you're a pro with nginx, and you know what you do (watch out with .htaccess, you need to replace all files with `location` directives) you

[2018-08-28 09:30] Klixa-Web commented on #10122
I've seen there are others with the same problem. It happens when a guest is automatticaly registrated as customer:

https://www.prestashop.com/forums/topic/613693-disable-new-user-account-registration/

I'm not able to check with the default template, I will lose all my settings and the shop should go live!

[2018-08-28 09:35] Quetzacoalt91 commented on #9501
Thanks for the report @Klemart3D

The issue is fixed with https://github.com/PrestaShop/autoupgrade/pull/152. This should be included in the next version of the module.
In the meanwhile, you're right. There are some permissions missing on the folder `<admin_folder>/autoupgrade` which prevents the subfolders to be created.

[2018-08-28 09:39] khouloudbelguith commented on #10167
Hi @psoit,

Thanks to follow this documentation: http://build.prestashop.com/howtos/module/how-to-make-your-module-compliant-with-prestashop-official-gdpr-compliance-module/.
I hope this helps you to solve your issue.
Indeed, you can contact the module author via your account: https://addons.prestashop.com/en/contact-us?id_product=32323
I close the ticket, feel free to open a new one when needed.

[2018-08-28 09:39] #10167 closed, assigned to nobody

[2018-08-28 09:40] javierVP commented on #9487
I have re-initialized the update and at the end I get this error:
[ERROR] PHP 1.7.0.0 /* PHP:ps1700_stores(); */

[2018-08-28 09:41] khouloudbelguith commented on #9932
Hi  @tiagocastro070,

This issue is not fixed yet.
It is added to our bug roadmap.

Best regards, Khouloud

[2018-08-28 09:53] Klemart3D commented on #9501
Thank you @Quetzacoalt91 & @khouloudbelguith ;)

[2018-08-28 09:54] khouloudbelguith commented on #9487
Hi @javierVP

Can you please provide us again the log of your upgrade? It can be found in the log.txt file, available in /autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-08-28 09:58] positrongr commented on #10136
Hi Khouloud,

We have fix the server permission issue and debug mode works properly without errors.
We are still getting blank page after saving fields for translation of GDPR module. Besides while trying
to upgrade our Prestashop from 1.7.4.1 to 1.7.4.2. with 1-click upgrade module , it does not allows us to upgrade getting:
Check your configuration
Required parameters: Please fix the following e

[2018-08-28 10:04] khouloudbelguith commented on #10136
Hi @positrongr,

It seems that a description is missing, and that's why it could not be listed in the "following errors".
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure.

Best regards, Khouloud

[2018-08-28 10:08] khouloudbelguith commented on #9485
Hi @jimix974,

We released a new version 4.1.0 of the 1-click upgrade.
You can follow this link: https://addons.prestashop.com/en/data-migration-backup/5496-.html to download the newest version.
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-28 10:15] Klixa-Web commented on #10122
Our customer wants to enable ONLY GUEST order and NO CUSTOMER accounts.

[2018-08-28 10:19] khouloudbelguith commented on #10152
Hi @thunt4jr,

So your issue is that products are saving in the Database, but not in the Back-end?

Best regards, Khouloud

[2018-08-28 10:21] khouloudbelguith commented on #10142
Hi @klopp1892,

Thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

Best regards, Khouloud

[2018-08-28 10:21] #10142 closed, assigned to nobody

[2018-08-28 10:27] Quetzacoalt91 commented on #15200
Hi,

The rollback obviously fails, but do not worry. Actually nothing has been changed of the shop, this is like nothing happened.

So, the calls to the script responsible of the upgrade redirects to the root of the website (we can see that with the `301 Moved permanently` message), which is likely caused by your web server configuration, not the module itself.

You should have a look at your Apac

[2018-08-28 10:32] khouloudbelguith commented on #10143
Hi @rdy4ever,

Can I close the issue?

Best regards, Khouloud

[2018-08-28 10:45] khouloudbelguith commented on #10140
Hi @maofree,

Thanks for this clarifications.
After editing the Layout of the Contact us page to "Full Width - No side columns, ideal for distraction-free pages such as product pages." the left column is still present without display: none;
We will see how to fix it.

Best regards, Khouloud

[2018-08-28 10:53] khouloudbelguith commented on #9903
Hi @anto7880,

I'm sorry but you are not alone and as I said, there are more important issues to solve before this one.
We are a fairly small team (we're hiring!), and there's an insane amount of work before us. But our goal is to make each release significantly better than the one before.
So, it will probably not solved before minimum a year. But PrestaShop is an open source project, so it can be

[2018-08-28 10:59] MathiasReker commented on #10128
Yes, same solution for both issues. HTMLPurifier should be updated :-) Hope this will be done for 1.7.5

[2018-08-28 11:02] MathiasReker commented on #10145
I am not sure this should be closed, don't we need a better solution? Or documentation?

[2018-08-28 11:03] khouloudbelguith commented on #10122
Hi @Klixa-Web,

The problem is that the guest account is not transformed into a customer account, it creates a second account.
###
_So, The problem is that the guest account is not transformed into a customer account, it creates a second account => there is no alert => visitors can do multiple orders with the same mail address => this is the whole issue => it needs to be specified by our developer

[2018-08-28 11:08] matks commented on #10115
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10117

[2018-08-28 11:09] khouloudbelguith commented on #10128
Hi @Mreker,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9685
So, I close it.
Thanks !

Best regards, Khouloud

[2018-08-28 11:09] #10128 closed, assigned to nobody

[2018-08-28 11:09] khouloudbelguith commented on #10128
Duplicate of #9685

[2018-08-28 11:21] centoasa commented on #10156
something strange: now I've enable fpm+nginx
www.100asa.it/en/ = 404 not found
instead the products url is available: https://www.100asa.it/en/wired-readers/10958-eia-steel-usb.html
and without add none!
So only the index page doesn't works! Why?

[2018-08-28 11:47] LedCloud opened #15198 "Different store version in the DB and files"
Store 1.7.3.4 to 1.7.4.2
autoupgrade 4.0.0

When the module starts to work it shows the current version of the store. In my case it was 1.7.3.4, but when it updates the data base structure it takes the version of the store from the db
[code]
I upgraded my store from 1.6.1.16 to 1.7.3.4 with diff and patch tools. So the store version was in the files 1.7.3.4 but in the DB the version was 1.6.1.16.

[2018-08-28 11:48] PierreRambaud commented on #10156
Now, what are you `location` directives configuration?

[2018-08-28 12:00] tiagocastro070 commented on #9932
@khouloudbelguith so do you recommend to downgrade the version of Prestashop? Because now, I can't make any order on my shop.

Thank you!

[2018-08-28 12:02] elkeselda commented on #9932
You have to delete the new address from your back account, then it will be working again

[2018-08-28 12:35] Quetzacoalt91 commented on #15198
This is also something I was thinkink about.

Marking as Improvement

[2018-08-28 12:36] khouloudbelguith commented on #9842
Hi @GerhardWG,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, th

[2018-08-28 12:37] centoasa commented on #10156
attached all my files into conf directory
[100asa.it.zip](https://github.com/PrestaShop/PrestaShop/files/2327997/100asa.it.zip)
p.s.: but I've to delete the .htaccess file from root?

[2018-08-28 12:38] khouloudbelguith commented on #9956
Hi @anto7880,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-08-28 12:41] matks commented on #10010
I can reproduce the following behavior:
- add a *specific price* to a product, targeting one combination of this product, the price is -90%
- make this combination the *combination by default* for this product
- go on "all products" page, sort by descending price

The discounted product appears at the end of the displayed results on this page.

This is not relevant because on the 2nd page, the pri

[2018-08-28 12:42] illusive-man commented on #9975
First of all, my congrats to Prestashop for escaping Jira hell and moving onto Github!

Second, I confirm that issue still exist for the latest version of software. It would be great for Prestashop team to take into consideration the posts from serios user above, since he know exactly what the problem really is and how to fix it (yet not safest method as it was confirmed by himself). Just ask Pres

[2018-08-28 12:45] khouloudbelguith commented on #9975
Hi @illusive-man ,

Thanks for your feedback.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-08-28 12:46] matks opened #10168 "Sorting does not work in BO catalog page"
**Describe the bug**
On backoffice Catalog page, I click on the blue arrows try to sort the products by ID, name, category name ... and nothing seems to work.

**To Reproduce**
Go to backoffice Catalog page, click on blue arrows next to "ID" or "Name", or "Category". This should sort the products displayed in the listing. Page is reloaded but not sorted.

**Screenshots**
![capture d ecran 2018-08-

[2018-08-28 12:52] khouloudbelguith commented on #10168
Hi @matks,

I did not manage to reproduce the issue with the last version 1.7.4.2.
I attached a video record: https://drive.google.com/file/d/1AAfdbWluABBV4Q6oqyw9V2m_WJvHNCjh/view
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-28 13:01] khouloudbelguith commented on #10134
Hi @anto7880,

Thanks for your feedback.

Best regards, Khouloud

[2018-08-28 13:14] tiagocastro070 commented on #9932
@ehanakova can you please give more details? I'm not understanding what you mean.

[2018-08-28 13:19] khouloudbelguith commented on #9486
Hi @jimix974,

Thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

Best regards, Khouloud

[2018-08-28 13:19] #9486 closed, assigned to nobody

[2018-08-28 13:45] javierVP commented on #9487
I do not have the tmp folder inside the autoupgrade

[2018-08-28 13:48] javierVP commented on #9487
Sorry, look bad.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2328270/log.txt)

[2018-08-28 13:52] PierreRambaud commented on #10156
I don't see any rewrite rulles in your files. You must add them. Could be better if you directly see with Plesk team and letting them configure your shop with the virtual host I sent you :)

[2018-08-28 14:07] khouloudbelguith commented on #9487
Hi @javierVP,

So, the upgrade is canceled & corrupted by this error "[ERROR] PHP 1.7.0.0 /* PHP:ps1700_stores(); */" ?

Best regards, Khouloud

[2018-08-28 14:10] javierVP commented on #9487
It does not cancel it ends correctly but this message comes out.

The funny thing is that after updating I see the web and I can make a note.
I am getting error messages from unsupported modules and after a while I get the main error message and from there it does not let me move forward.

[2018-08-28 14:15] thegioidogiadung commented on #10159
hi, @khouloudbelguith,

In our country, everyone has no habit of using zipcode (almost people has no idea about zipcode). They always use name of state/province in address.

it is the reason that we removed zipcode in Address format.

How can I remove the "required" attribute of Zipcode/postcode?

Tks

[2018-08-28 14:20] khouloudbelguith commented on #9487
Hi @javierVP

Your ticket is a duplicate of #9513
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-28 14:20] #9487 closed, assigned to nobody

[2018-08-28 14:20] khouloudbelguith commented on #9487
Duplicate of #9513

[2018-08-28 14:24] javierVP commented on #9487
What does it mean duplicate?

[2018-08-28 14:26] khouloudbelguith commented on #10159
Hi @Hanoician,

You need to navigate to BO => SELL => Customers => Addresses.
Below the addresses table is the "Set required fields for this section" button. It opens a form where you can indicate if a database field is necessary or not by checking the appropriate boxes: this way, you can make it so fields such as "postcode" not mandatory when a customer is registering a new address on your shop
T

[2018-08-28 14:32] khouloudbelguith commented on #9487
Hi @javierVP,

Your issue [ERROR] PHP 1.7.0.0 /* PHP:ps1700_stores(); */, it is the same reported by [PN](http://forge.prestashop.com/secure/ViewProfile.jspa?name=PN) which is assinged to our developer @Quetzacoalt91
So I close it, you need to follow this issue: #9513

Best regards, Khouloud

[2018-08-28 14:35] javierVP commented on #9487
Ok, Thanks.

[2018-08-28 14:39] thegioidogiadung commented on #10159
Hi,
Please see attached file, all of these fields were removed except phone_mobi but they are required in our address form.
How can we solve this problem?

Tks
![40244725_464445120740572_4601261192202158080_n](https://user-images.githubusercontent.com/42737230/44730307-dbc5dc00-ab0a-11e8-8023-db0d43a5608a.jpg)

[2018-08-28 14:44] khouloudbelguith commented on #10159
Hi @Hanoician,

Did you use the default template of PrestaShop?

Best regards, Khouloud

[2018-08-28 14:54] javierVP commented on #9513
When the update module finishes I get the message [ERROR] PHP 1.7.0.0 / * PHP: ps1700_stores (); * /, I can access the back and the front but after deactivating some modules for compatibility I suddenly get this error:
Fatal error: Uncaught -> Smarty: Plugin tag 'escape' already registered <- thrown in /test/vendor/smarty/smarty/libs/sysplugins/smarty_internal_method_registerplugin.php on line 43

[2018-08-28 15:18] khouloudbelguith commented on #9957
Hi @maofree,

I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-08-28 15:18] #9957 closed, assigned to nobody

[2018-08-28 15:20] serhatdurum commented on #9542
same issue

[2018-08-28 15:24] khouloudbelguith commented on #10040
Hi @EGL59,

If you need help, you can ask on the Forum (https://www.prestashop.com/forums/) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

Best regards, Khouloud

[2018-08-28 15:29] khouloudbelguith commented on #9556
Fixed by #10169

[2018-08-28 15:40] thegioidogiadung commented on #10159
Hi,
No, we bought the metro template of Volty, one of the sellers in Presta marketplace ( link: https://addons.prestashop.com/en/electronics-computers-themes/30958-metro-electronic-super-store-v3.html )
How about it? maybe fault of the template?

Tks

[2018-08-28 15:42] khouloudbelguith commented on #10159
Hi @Hanoician,

Yes, it could be.
Thanks to check the issue with the theme author & feedback.

Best regards, Khouloud

[2018-08-28 16:11] khouloudbelguith commented on #9488
Fixed by #10170

[2018-08-28 16:13] colinegin opened #10171 "[FF-160] As a User, I want to Edit Specific Prices"
Actuellement, sur l'ensemble des versions de PrestaShop, pour modifier un prix spécifique on doit :

supprimer le prix spécifique créé
en créer un nouveau.
Il s'agirait d'ajouter une icone d'édition en bout de ligne, sur la liste des prix spécifiques.

Design + specs available here :
![specs](https://user-images.githubusercontent.com/35263827/44735859-e4f48000-aaed-11e8-990e-7c2b8cd9f332.png)
![sp

[2018-08-28 16:14] thegioidogiadung commented on #10159
Hi,

Thank for your advise, I will contact them right now

Best regards,

[2018-08-28 17:43] centoasa commented on #10156
I'm solved using nginx as apache proxy, and only add to nginx_ip_default.conf
`try_files $fastcgi_script_name /index.php$uri&$args;`
after 	location ~ \.php(/.*)?$ {
and `try_files $uri $uri/ /index.php?$args;`
after 	location ~ /$ {

[2018-08-28 19:57] #10148 closed, assigned to nobody

[2018-08-28 20:09] twazerty opened #10172 "1.7.4.2 API returning an empty array instead of an object when there are no results after filtering"
### Describe the bug
When I filter products through the API the JSON is incorrect when there are no results.

Examples:
{url}/api/products/?filter[reference]=[abc]&output_format=JSON&ws_key={key}
the result looks like:
[code]

but when I search for:
{url}/api/products/?filter[reference]=[doesnotexist]&output_format=JSON&ws_key={key}
the result looks like:
[code]
### Expected behavior
I expected an

[2018-08-28 21:15] lerougestefan opened #10173 "Chargement de polices de caractères"
Bonjour,

J'ai un site web qui charge à priori beaucoup de police de caractères 220.9 KB / 1.0 MB pour une page.

Est ce normal, est il possible de réduire ces chargements? Si oui comment?

![image](https://user-images.githubusercontent.com/42785695/44751355-3f0a3b00-ab18-11e8-9cff-b07b5c1494d7.png)

Vous remerciant d'avances pour votre aide,

**Describe the bug**
A clear and concise description o

[2018-08-28 21:49] PierreRambaud commented on #10156
Nice, we maybe can now close this issue if everything is ok for you? :)

[2018-08-29 06:10] centoasa commented on #10156
Yes, you can close ths thread.
Thanks @PierreRambaud for your suggestions.

[2018-08-29 06:40] marionf commented on #9482
Fixed with #9465

[2018-08-29 06:40] #9482 closed, assigned to nobody

[2018-08-29 06:46] #10156 closed, assigned to nobody

[2018-08-29 07:05] Klixa-Web opened #10174 "Mail notifications - Order confirmation"
Hi
How to set mail notification in PS 1.7.4.2? The shopholder want's to get a copy of the mail order confirmation like he always got in PS 1.4.
Thanks!

[2018-08-29 07:15] marionf opened #10175 "Edit a specific price issues"
**Describe the bug**

Can we improve the display of the fields below ?
It's not aligned and the discount and tax fields are very small, not easy to see what are inside

![capture d ecran_207](https://user-images.githubusercontent.com/13449658/44770764-57567600-ab69-11e8-9eef-49b23b233f15.png)

When I try to change the initial product price with a comma, I have the error below

![capture d ecran_20

[2018-08-29 07:25] cdpi404 opened #10176 "One click upgrade 1.7.3 to 1.7.4 error"
**Describe the bug**
I want to upgrade my prestashop to 1.7.4 from 1.7.3 with the module one click upgrade but when i want to proceed i've a prestashop error, when i click on "view more" it's says that the file "robot.txt" as been modified but i've never edited it.

**Screenshots**
https://imgur.com/a/fzTP3SJ

**Additionnal information**
PrestaShop version: 1.7.3
PHP version: 7.0.31

[2018-08-29 07:27] centoasa commented on #10163
I can't reproduce in short time, because if I reproduce it, my website crash, and in this time I've some business to close. Now I've change my vps using nginx as proxy as I say on #10156

[2018-08-29 07:27] khouloudbelguith commented on #10174
Hi @Klixa-Web,

First, you need to navigate to the BO => CONFIGURE => Advanced Parameters => E-mail to configure PrestaShop to send emails to your customers. We strongly advise you that you consult your web host to determine which settings to use for this feature.
Also, you can install  [the mail alert module](https://github.com/PrestaShop/mailalerts) to send e-mail notifications to customers and

[2018-08-29 07:36] Klixa-Web commented on #10174
Hi Khouloud
Thank you for your fast reply. Modul installation by BO fails. What should I do?
Best regards, Sandra

[2018-08-29 07:37] khouloudbelguith commented on #10172
Hi @twazerty,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
`/api/products/?filter[name]=%[mUG]&output_format=JSON` => Not Empty Result => `{"products":[{"id":19}]}` => OK

`/api/products/?filter[name]=%[CLOTHES]&output_format=JSON` => Empty Result => `[]` => NOK
We will see how to fix it.
Related to #10069

Best regards, Khouloud

[2018-08-29 07:38] Klixa-Web commented on #10174
P.S. Shop has Wallee Modul integrated. Theme: Warehouse 1.4.9

[2018-08-29 07:46] khouloudbelguith commented on #10176
Hi @cdpi404,

It seems that a description is missing, and that's why it could not be listed in the "following errors".
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure.

Best regards, Khouloud

[2018-08-29 07:52] Steerfox opened #10177 "validator.prestashop.com : 504"
Hi,
I've got a 504 error since yesterday, trying to connect to: https://validator.prestashop.com
Lionel

[2018-08-29 08:01] centoasa opened #10178 "When using friendly urls & nginx and adding a product to the cart an error "an error occurred while processing your request" is displayed"
Just change my vps from apache to nginx: all works well, a part of "an error occurred while processing your request" when I add a product to cart. The product goes on cart, but red alert show always.
Please see also https://www.prestashop.com/forums/topic/862800-about-product-problems-in-1740/
http://forge.prestashop.com/browse/BOOM-5971 and http://forge.prestashop.com/browse/BOOM-6113

----
####

[2018-08-29 08:06] khouloudbelguith commented on #10173
Hi @lerougestefan,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop

[2018-08-29 08:07] joaquinpv opened #10179 "[ email stock alerts ] no works with combination products"
Hi,

We have a problem with the stock alert email. **The email does not print the name of a combination product.**

Only works fine with "simple products".

Can you help me to solve this?

Thanks

[2018-08-29 08:08] Quetzacoalt91 commented on #10177
Hi,

This is a known issue, it may happen depending on the current charge of the server. Just way a few minutes and try again.

Regards

[2018-08-29 08:08] #10177 closed, assigned to nobody

[2018-08-29 08:11] marionf commented on #10115
Reopened because the PR isn't merged yet

[2018-08-29 08:19] khouloudbelguith commented on #10178
Hi @centoasa,

Have you tried to check this fix: https://github.com/PrestaShop/PrestaShop/pull/9390
It will be fixed in the next version 1.7.5.0
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-29 08:23] marionf commented on #10125
@colinegin what do you think of this improvement suggestion ?

[2018-08-29 08:25] #10171 closed, assigned to matks

[2018-08-29 08:27] khouloudbelguith commented on #10179
Hi @joaquinpv

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9641
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-29 08:27] #10179 closed, assigned to nobody

[2018-08-29 08:27] khouloudbelguith commented on #10179
Duplicate of #9641

[2018-08-29 08:29] khouloudbelguith commented on #10159
Hi @Hanoician,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-08-29 08:31] joaquinpv commented on #10179
Sorry but i think it is not the same problem...

[2018-08-29 08:32] khouloudbelguith commented on #10148
Hi @twazerty,

Thanks for your feedback.

Best regards, Khouloud

[2018-08-29 08:37] khouloudbelguith commented on #10163
Hi @centoasa,

So can I close the ticket since you can't reproduce it?

Best regards, Khouloud

[2018-08-29 08:42] khouloudbelguith commented on #10174
Hi @Klixa-Web,

Here's the zip folder's module that I cloned:
[mailalerts.zip](https://github.com/PrestaShop/PrestaShop/files/2331412/mailalerts.zip)
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-29 08:42] cdpi404 commented on #10176
Hello,

I've checked the thread but not found something usefull :/

[2018-08-29 08:54] miguel-azevedo commented on #9506
Hi @BrighteyesDesign

I have the same problem, can you share how you solve it?

Tks

[2018-08-29 08:59] khouloudbelguith commented on #10179
Hi @joaquinpv,

No, it is the same.
The stock alert email does not print the name of a combination product, only the standard product name, that's why we have a mail alert stock duplicated, we need to add the combinations' name to the email.

Best regards, Khouloud

[2018-08-29 09:02] khouloudbelguith commented on #10176
Hi @cdpi404,

You need to navigate to your PROJECT_FOLDER/public_html/themes/YourTheme
There you see a folder named "cache". Change file permissions of "cache" folder to 0711.
Thanks to check & feedback.

Best regards, Khouloud

[2018-08-29 09:04] Klixa-Web commented on #10174
Thank you, I could install it. But when I go back to Frontpage I get HTTP ERROR 500.

[2018-08-29 09:09] khouloudbelguith commented on #10174
Hi @Klixa-Web,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
 http://build.prest

[2018-08-29 09:14] Constances869 opened #10180 "Can't access backoffice anymore"
I was working on a a website for weeks and while I was doing some changes, I just got log out of the back office. Since then, I can't login!! Every time I try this error appears: "**This employee account does not exist, or the password is wrong**".
Prestashop is install on my local server (UWamp), and in Php MyAdmin, I still appear as the only employee.
In Prestashop documentation, they say we can

[2018-08-29 09:21] khouloudbelguith commented on #10180
hI @Constances869,

Have you tried to recover the password of this employee?
What is the exact version of Prestashop did you use?

Best regards, Khouloud

[2018-08-29 09:25] Constances869 commented on #10180
@khouloudbelguith Yes I've tried but it won't work ("An error occurred while resetting the password.")

[2018-08-29 09:25] PeNov commented on #9495
Hello Khouloud,
absolutely the same behavior. Only 105 tables are recovered.

Thank you

Best regard
Petr

[2018-08-29 09:28] khouloudbelguith commented on #10180
Hi @Constances869,

What is the exact version of Prestashop did you use?

Best regards, Khouloud

[2018-08-29 09:29] Constances869 commented on #10180
I'm using prestashop version1.7.4.2

[2018-08-29 09:46] khouloudbelguith commented on #9495
ping @Quetzacoalt91

[2018-08-29 09:52] khouloudbelguith commented on #10180
Hi @Constances869,

There are multiple ways to reset the admin password for PrestaShop. One particular method "How to Reset the PrestaShop Administrator Password for PS 1.6" is no longer feasible if you are running version 1.7. This is due to the fact that PrestaShop has deprecated the config/settings.inc.php file. This file was necessary to retrieve the COOKIE_KEY required for resetting the admin

[2018-08-29 09:55] centoasa commented on #10163
Just tested: if I enable memcached, and insert as my server 127.0.0.1 11211 1
the script that prestashop generate (as search index, google sitemap etc) being egenrated in a large amount of time (15-20 mins);
instead if I enable APCu, see error log, and my site crash, on homepage I've the maintenance page.

[Documents.zip](https://github.com/PrestaShop/PrestaShop/files/2331682/Documents.zip)

[2018-08-29 09:58] khouloudbelguith commented on #10163
Hi @centoasa,

Isn't the same issue described above: https://github.com/PrestaShop/PrestaShop/issues/9542?

Best regards, Khouloud

[2018-08-29 10:00] centoasa commented on #10163
Yes @khouloudbelguith for memcached it's the same issue on #9542

[2018-08-29 10:01] khouloudbelguith commented on #10163
Hi @centoasa,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of ##9542
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-29 10:01] #10163 closed, assigned to nobody

[2018-08-29 10:01] khouloudbelguith commented on #10163
Duplicate of #9542

[2018-08-29 10:09] Constances869 commented on #10180
Yeah it works! Thank you
Have a nice day ;)

[2018-08-29 10:09] #10180 closed, assigned to nobody

[2018-08-29 10:09] matks commented on #10010
If I uninstall module `ps_facetedsearch`, the search is performed by `CategoryProductSearchProvider` and the bug is still here.

[2018-08-29 10:11] khouloudbelguith commented on #10180
Hi @Constances869,

You are welcome.
Thanks for your feedback.

Best regards, Khouloud

[2018-08-29 10:13] colinegin commented on #10125
Same bahavior as on 1.6, I'm ok for it. But i'm not sure of the consequences of such a change.
@eternoendless do you think there could be any impact if we implement this fix ?

[2018-08-29 10:15] TBurtin opened #10183 "Error accessing json files in translation folder"
The BO product form page try to access to some .json files in the translation folder, but the .htaccess file in that folder has a "Require all denied" rule.

![image](https://user-images.githubusercontent.com/42802847/44781366-731b4580-ab84-11e8-9539-b21a2d9d9f81.png)

[code]

The issue appears in Apache 2.4 in 1.7.4. On previous versions, the .htaccess file was different (only for Apache 2.2)

It

[2018-08-29 10:16] LimousinArcherie opened #10184 "PS 1.7.4.2 - Cart icon number don't refresh when clicking on "Add to cart" button"
Hello,
when my customers add articles by clicking the "add to cart" buttons, the cart icons beside the menu don't refresh immediately, so my customers don't know the quantity they add.
It refresh only when changing pages...
I searched for same issues, check the config but didn't find any documentation.
Thanks in advance for your help
Arnaud

[2018-08-29 10:17] centoasa commented on #10178
Apply the little patch as say @ttoine on #9390 but nothing chage on my www.100asa.it

[2018-08-29 10:17] khouloudbelguith commented on #10183
Hi @TBurtin,

Could you please add steps to reproduce the issue in a new comment.

Best regards, Khouloud

[2018-08-29 10:18] Quetzacoalt91 commented on #10183
Hi,

We are aware of that issue, which will be fixed in the next version of PrestaShop.
You can find more details here: https://github.com/PrestaShop/PrestaShop/pull/9474

I'm closing as this is a duplicate.
Regards

[2018-08-29 10:18] #10183 closed, assigned to nobody

[2018-08-29 10:20] khouloudbelguith commented on #10183
Duplicate of #9474

[2018-08-29 10:20] colinegin opened #10185 "Migrate Dashboard page"
https://github.com/PrestaShop/PrestaShop/pull/24986

Part of the Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-08-29 10:22] colinegin opened #10186 "Migrate Design > Positions page"
Part of the Symfony migration project

[2018-08-29 10:23] khouloudbelguith commented on #10184
Hi @LimousinArcherie,

Did you use the default template by PrestaShop?
What is the exact version of the PrestaShop did you use?

Best regards, Khouloud

[2018-08-29 10:26] LimousinArcherie commented on #10184
Hello Khouloud, thanks for your quick reply.
I don't use the default theme, but a new one: do you think it can be a theme bug?
I'm using PS 1.7.4.2.
Regards

[2018-08-29 10:26] khouloudbelguith commented on #10178
Hi @centoasa,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/

[2018-08-29 10:27] khouloudbelguith commented on #10184
Hi @LimousinArcherie,

Yes, it could be.
Thanks to check the issue with the theme author & feedback.

Best regards, Khouloud

[2018-08-29 10:29] LimousinArcherie commented on #10184
Ok I'll tell you.
Thanks

[2018-08-29 10:31] khouloudbelguith commented on #10184
Hi @LimousinArcherie,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-08-29 11:08] Quetzacoalt91 commented on #10164
The first part can be fixed with https://github.com/PrestaShop/docs/pull/126

The second part needs to be completely written, we only describe the front controllers on the current dev docs (https://devdocs.prestashop.com/1.7/modules/concepts/controllers/front-controllers/).

[2018-08-29 11:10] khouloudbelguith commented on #10164
Hi @Quetzacoalt91,

Thanks for your fix.

Best regards, Khouloud

[2018-08-29 11:15] centoasa commented on #10178
host: Linux #1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13) x86_64
![2018-08-29 1](https://user-images.githubusercontent.com/5500935/44784329-93033700-ab8d-11e8-9bbe-cf4cdd19277f.png)

server setup and configuration: nginx/1.13.8
PrestaShop version (source): 1.7.4.2
debug mode report: none
PHP error logs: none
apache error log: none
javascript console log
screenshots: attached

[2018-08-29 11:56] khouloudbelguith commented on #10178
Hi @centoasa,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Best regards, Khouloud

[2018-08-29 12:22] colinegin opened #10187 "Migrate Advanced Parameters > Import (2/2 pages)"
Type : page
Status : paused

⚠️ Comment:  Very complex import page migration, paused for 1.7.6 in order to gather our forces to come back at it in 1.7.7

Currently hidden.

Part of the Symfony migration project

**Why it is blocked?**
All the business rules are hidden, we need to investigate all the rule before starting the migration.
For the import of:
- Categories ;
- Products ;
- Declinations (

[2018-08-29 12:32] colinegin opened #10188 "Migrate Advanced Parameters > Database > SQL Manager > Add new SQL query"
Part of the Symfony migration project

[2018-08-29 12:39] MathiasReker commented on #10125
I don't think a fix would have any negative consequences

[2018-08-29 12:41] MathiasReker commented on #10125
If someone click on "add to cart" they might expect a value greater than 0.

[2018-08-29 12:58] colinegin opened #10189 "Migrate International > Localization > Currencies page"
Type: page
status : in-progress
Part of Symfony migration project

![capture d ecran 2018-11-28 a 11 27 07](https://user-images.githubusercontent.com/3830050/49145655-929b4900-f300-11e8-970d-7284f8e761c0.png)

Listing (grid) with row actions (toggle/modify/delete) and 2 configuration blocks

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/10774
- [x] Handle UX feedback ht

[2018-08-29 12:59] colinegin opened #10190 "Migrate International > Localization > Currencies > Add new / edit currency page"
Type: page
Part of Symfony migration project

URL `/admin-dev/index.php/improve/international/currencies/1/edit`

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/11894

[2018-08-29 13:01] colinegin opened #10191 "Migrate Shop parameters > Traffic & SEO > SEO & URLs page"
Part of Symfony migration project

[2018-08-29 13:02] colinegin opened #10192 "Migrate "Shop parameters >Traffic & SEO > SEO & URL > Add new / edit page" page"
Type: page
Part of Symfony migration project

Todo:
- [x] Migrate https://github.com/PrestaShop/PrestaShop/pull/10595

[2018-08-29 13:02] #10050 closed, assigned to nobody

[2018-08-29 13:02] #10049 closed, assigned to nobody

[2018-08-29 13:03] colinegin opened #10193 "Migrate "Catalog > Categories" page"
Type: page
Part of Symfony migration project

![capture d ecran 2018-11-28 a 16 45 03](https://user-images.githubusercontent.com/3830050/49163265-fcc9e300-f32c-11e8-8e9f-bd2f85c2e107.png)

## Page structure

1 listing (grid) with
- row actions: view, edit, delete, toggle activation
- bulk actions: enable, disable, delete
- rows can be sorted in any order (drag-and-drop positions)

When user clicks

[2018-08-29 13:04] colinegin opened #10194 "Migrate "Catalog > Categories > Add new / edit category" page"
Type: page
Comment: blocked by TinyMCE multiling behavior (see below)

Blocked by https://github.com/PrestaShop/PrestaShop/issues/10194#issuecomment-457557961

Part of Symfony migration project

Todo:
- [x] 1st PR to migrate most of the things https://github.com/PrestaShop/PrestaShop/pull/10408
- [x] 2nd PR to handle QA validation and code review feedbacks https://github.com/PrestaShop/PrestaShop/

[2018-08-29 13:13] khouloudbelguith commented on #10147
Hi @maofree,

Fixed by https://github.com/PrestaShop/PrestaShop/pull/10195
Done.

Best regards, Khouloud

[2018-08-29 13:14] Medaliskr24 opened #10196 "error while sending message Ps 1.7.4.2"
Hello
In my PrestaShop in Advanced Parameters E-mail e send tests messages with success.

But in my contact page email form when I send a email I receive a message

**an error occurred while sending the message, please try again.**

i'm using ps 1.7.4.2.
contactform V4.1.1

[2018-08-29 13:19] khouloudbelguith commented on #10196
Hi @Medaliskr24,

Thanks for your report.
The issue is added to our debug roadmap.
Your ticket is a duplicate of #9566
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-29 13:19] #10196 closed, assigned to nobody

[2018-08-29 13:19] khouloudbelguith commented on #10196
Duplicate of #9566

[2018-08-29 13:20] CaptainYouz commented on #10140
The div `<div id="left-column" class="col-xs-12 col-sm-3">` should not be there in the first place when full-width mode is activated. This problem should be handled directly in the template rendering, not in css.

[2018-08-29 13:20] #10186 closed, assigned to nobody

[2018-08-29 13:29] Medaliskr24 commented on #10196
Thanks A lot !!

[2018-08-29 13:31] matks commented on #10010
After analysis, it turns out that *the product search being performed by the module ps_facetedsearch* (or, if the module is uninstalled, by prestashop) is able to use some specific prices, but not all of them.

For example a "specific price for all people in country X" seems to modify the search results but a "specific price for combination Y" seems not.

[2018-08-29 13:42] SebastienLi opened #10198 "Requête AJAX - Erreur 403 Impossible de mettre à jour les déclinaisons"
Impossible to delete combinations of a product.

I see that others people have the same issue.

My version is PS 1.7.2.4

You can see what my browser shows:
![erreur_403](https://user-images.githubusercontent.com/42807682/44790802-76bcc580-aba0-11e8-96fc-f20f143f71d5.jpg)

When I go to this URL :  https://www.monsite/admin/index.php/attribute/6

I got this;

![capture d ecran 2018-08-29 a 15 27 14

[2018-08-29 13:50] khouloudbelguith commented on #10198
Hi @SebastienLi,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to clear cache manually => Thanks to delete the folder into var/cache and feedback.
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-29 15:17] PierreRambaud commented on #10016
Duplicate of #9542

[2018-08-29 15:18] #10016 closed, assigned to nobody

[2018-08-29 15:23] PierreRambaud commented on #9542
@centoasa I'm not able to reproduce anything with my memcached server. Maybe you generate too much requests to your service :/

[2018-08-29 15:23] SebastienLi commented on #10198
Hi Khouloud,

Thanks for your response!

Unfornutalely, it doesn't work:(

Sébastien

[2018-08-29 15:31] khouloudbelguith commented on #10198
Hi @SebastienLi,

Have you installed a customized module related to the product combinations?

Best regards, Khouloud

[2018-08-29 15:33] CaptainYouz commented on #10009
Cannot reproduce. After adding XXL size, it display the filter part correctly. See screenshot:
![capture d ecran 2018-08-29 a 17 24 44](https://user-images.githubusercontent.com/2973285/44798308-6cef8e00-abb1-11e8-88e9-18e6cce69117.png)

@marionf this issue was created last year. Is the problem still in the current version ? If yes, how can I reproduce. Thanks

[2018-08-29 15:51] LouToma opened #10203 "MBO/ Module manager : New hierarchy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Modules Catalog (Addons Iframe) has been removed but it's is finally better to keep it.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Can you add it again and move it on the Module Catalog

[2018-08-29 15:52] LimousinArcherie commented on #10184
Khouloud,
the theme team asked me to test with the default theme and the problem is the same...
Any idea?
Thanks

[2018-08-29 15:53] SebastienLi commented on #10198
Hi,

No. I even tried with the Prestashop StartTheme and I have the same issue...  Failed to load... the server responded with a statut of 403()

I asked to my provider if PUT and DELETE method'PHP was installed on the server and it's the case so...

Perhaps the issue comes from Url rewriting... I don't understand.

Sébastien

[2018-08-29 15:59] khouloudbelguith commented on #10184
Hi @LimousinArcherie ,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://buil

[2018-08-29 16:04] khouloudbelguith commented on #10198
Hi @SebastienLi,

The error 403 on servers where authentication is required, this usually means that authentication has been accepted but access rights do not allow the client to access the resource.
So, it could be a permission issue on your server.
Thanks to check the issue with your host and feedback.

Best regards, Khouloud

[2018-08-29 16:43] SebastienLi commented on #10198
Hi,

I will check again but I already changed permission and my provider says that the issue get from Prestashop:)

Thanks for your help

Sébastien

[2018-08-29 17:01] kiweez63 opened #10204 "Prestashop 1.7.2.4 Problem with multiple carrier"
Hello.
There is a problem with different carriers depending on the products.
If a customer puts in his basket products that do not have the same carrier, this bug.
It is always the carrier of the last product that will be displayed.
What to do ?

[2018-08-29 17:10] SebastienLi commented on #10198
Hi,

Finally, I fixed the issue.  PUT and DELETE method'PHP were disabled on my .htaccess:)

Thanks

Sébastien

[2018-08-29 17:44] #9488 closed, assigned to CaptainYouz

[2018-08-29 19:18] CyrilGuyot74 opened #10205 "Hit Enter key on cart set a random quantity"
Hello

**Describe the bug**
In the cart screen on front-office, is the user set a new quantity then hit enter key, a randon quantity is shown on the screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://fo.demo.prestashop.com/fr/ then add a product in the cart
2. In http://fo.demo.prestashop.com/fr/panier?action=show put a new quantity then enter (don't use the mouse)
3. the qu

[2018-08-29 20:16] GerhardWG commented on #9842
Hello!

I'm sorry, but something is wrong. I can't open
https://shop.wuestengarten.at/phppsinfo.php I have tested differend
locations for the extracted file.

Can I change the PHP mode? (Please see JPG) I'm so anxious to kill my shop!
I have found som PHP Info with Plesk. (Please see the Word dokument.)

Thank you for patience!
Gerhard

[2018-08-29 22:18] DTGMAZE commented on #9516
I have The same issue after updating the Module "1 click upgrade" in prestashop 1.7.4.2
This happens when I update the module from v4.0.0 arrow_forward v4.1.0
Also when I try to delete the module the same thing happens.

- manual update same result
- remove module same result

After updating the  "1 click upgrade" module the following issue occurs on the backend.
Frontend is working normally.

Oop

[2018-08-30 01:27] Host84 commented on #9516
@DTGMAZE Yes it is safe because this folder and others was not there before this bug, as you can see on my screenshot, so don't worry, just rename it like I did on screenshot (no need delete).
YOUR_PRESTASHOP_FOLDER/modules/ps_facetedsearch/vendorBAK

[2018-08-30 06:09] cdpi404 commented on #10176
Hi,

It's worked :D problem solved thank you

Best regards

[2018-08-30 06:45] cat-inGlasses commented on #9543
Hi!

I have the same problem with that bug.
version: 1.7.4.2, downloaded prom https://www.prestashop.com/en few days ago.
Steps to reproduce:

Click on Orders -> then on database icon in the right corner of the table with orders list, it will generate SQL query:

[code]

**But after confirm this, i got the same error with "checkedForm".**

And another interesting fact: if reduce this SQL to this:

[2018-08-30 07:19] Maofree opened #10206 "Price errors for microdata "Product" in the product list and homepage"
Hi

**Describe the bug**
try to test the homepage and the category pages or ther where there are product lists and you will see that there are problems around product prices because you should replace the comma with a pint and use currency attribute, like into the product pages

https://search.google.com

23,33 € (The price property of a Product object is not recognized by Google.)

you should als

[2018-08-30 07:20] centoasa commented on #10178
976#0: *187845 FastCGI sent in stderr: "PHP message: PHP Warning: count(): Parameter must be an array or an object that implements Countable in /var/www/vhosts/100asa.it/httpdocs/var/cache/prod/smarty/compile/8b/7e/a7/8b7ea784ba480d401eb9189900d15dcefa28470d_2.module.leofeatureviewstemplatesf.php on line 233" while reading response header from upstream
--

is the only error I can see
debug mode do

[2018-08-30 07:26] khouloudbelguith commented on #10204
Hi @kiweez63,

Your ticket is a duplicate of #9998
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-30 07:26] #10204 closed, assigned to nobody

[2018-08-30 07:26] khouloudbelguith commented on #10204
Duplicate of #9998

[2018-08-30 07:31] marionf commented on #10009
@CaptainYouz
I can't reproduce either on the last version, so I close it

[2018-08-30 07:31] #10009 closed, assigned to CaptainYouz

[2018-08-30 07:37] khouloudbelguith commented on #10205
Hi @CyrilGuyot74,

I manage to reproduce the issue with the last version 1.7.4.2.
https://drive.google.com/file/d/1RdMkPt6b18Njh0TWOwweTr0Co3RClaJH/view
![image](https://user-images.githubusercontent.com/16067358/44836951-943d6e00-ac38-11e8-903e-20994bb1085a.png)
We will see how to fix it.

Best regards, Khouloud

[2018-08-30 07:50] khouloudbelguith commented on #10206
Hi @maofree,

Do you have the same issue with this ticket: #10010?

Best regards, Khouloud

[2018-08-30 08:02] khouloudbelguith commented on #10198
Hi @SebastienLi,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-08-30 08:02] #10198 closed, assigned to nobody

[2018-08-30 08:15] khouloudbelguith commented on #9842
Hi @GerhardWG,

You need to upload the file to the server. You should upload your file to the exact directory you want to test.
Again, if you don't have the skills to get this information, the best way is to find someone to do it for you.

Best regards, Khouloud

[2018-08-30 08:18] marionf commented on #9841
Fixed in #9405

[2018-08-30 08:18] khouloudbelguith commented on #10176
Hi @cdpi404,

Thanks for your feedback.
I close the ticket, feel free to open a new issue when needed.

Best regards, Khouloud

[2018-08-30 08:18] #10176 closed, assigned to nobody

[2018-08-30 08:18] #9841 closed, assigned to nobody

[2018-08-30 08:19] marionf commented on #10205
Duplicate of #9841

[2018-08-30 08:19] #10205 closed, assigned to nobody

[2018-08-30 08:23] khouloudbelguith commented on #9543
Hi @cat-inGlasses,

The issue is added to our bug roadmap.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-08-30 08:24] centoasa commented on #10178
Please see also this thread to see problem us not mine
https://www.prestashop.com/forums/topic/862800-about-product-problems-in-1740/#comment-2958973

[2018-08-30 08:32] khouloudbelguith commented on #9516
Hi @DTGMAZE,

This issue could be a conflict between ps_facetedsearch and autoupgrade. Try to temporarily remove it and see if get your BO back.

Best regards, Khouloud

[2018-08-30 08:32] giogardin commented on #9516
Hi,

@DTGMAZE I faced the exact same issue, and can confirm that deleting (or renaming) `/modules/ps_facetedsearch/vendor` is safe and fixes the problem w/ BO.

Thank you @Host84 for your precious help.

[2018-08-30 08:32] wouterb038 commented on #9932
I hope that the fix is comming fast...

[2018-08-30 08:50] MathiasReker commented on #10178
@centoasa you need to disable cache and reproduce the error before sending the error log

[2018-08-30 08:52] MathiasReker commented on #10162
I think Thisted is a big issue. Can you add it to 1.7.
5?

[2018-08-30 09:01] matks commented on #9592
I confirm the bug still exists in 1.7.4.2 and on `develop` branch: when I edit a carrier, it does not edit, it actually clones the carrier with updated informations. The original is not deleted in the database but does not appear in the listing.

[2018-08-30 09:02] khouloudbelguith commented on #9592
Hi,

The issue is added to our bug roadmap, but not fixed yet.

Best regards, Khouloud

[2018-08-30 09:03] marionf commented on #10162
@Mreker
No, there are more important issues to solve before this one

[2018-08-30 09:10] #10115 closed, assigned to nobody

[2018-08-30 09:14] #9542 closed, assigned to nobody

[2018-08-30 09:19] CaptainYouz commented on #9776
In the current situation, the page help page that is display is https://help.prestashop.com/fr/doc/?version=1.7.5.0&country=fr and I presume it's the main page of the documentation.
@marionf what should be the correct page of the documentation displayed ? thanks

[2018-08-30 09:30] marionf commented on #9776
@CaptainYouz
For stock tab, we have this one: http://doc.prestashop.com/display/PS17/Stock+overview
For Movements tab, we have this one: http://doc.prestashop.com/display/PS17/Stock+Movements
If I use a language in BO for which one the doc doesn't exists, we can display it in EN
This page should be displayed in a side menu like in product page

[2018-08-30 09:37] MathiasReker commented on #10162
I think this is critical. It is never fun to call a customer to tell him that his order will get deleted because of a issue on the website. And that he needs to replace his order.

[2018-08-30 09:41] khouloudbelguith commented on #10162
Hi @Mreker,

As @marionf said, there are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-08-30 09:58] khouloudbelguith commented on #10178
Hi @centoasa ,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

Best regards, Khouloud

[2018-08-30 10:03] centoasa commented on #10178
@khouloudbelguith  all done as you suggest ==>
976#0: *229661 FastCGI sent in stderr: "PHP message: PHP Warning: count(): Parameter must be an array or an object that implements Countable in /var/www/vhosts/100asa.it/httpdocs/var/cache/prod/smarty/compile/8b/7e/a7/8b7ea784ba480d401eb9189900d15dcefa28470d_2.module.leofeatureviewstemplatesf.php on line 233" while reading response header from upstrea

[2018-08-30 10:05] khouloudbelguith commented on #10178
H @centoasa,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Best regards, Kouloud

[2018-08-30 10:07] centoasa commented on #10178
@khouloudbelguith sorry but in the app folder I've only test/cache, but it's empty

[2018-08-30 10:08] colinegin opened #10209 "[FF-173] Check at installation if PrestaShop version is the latest"
This issue has been migrated from the Forge. Read the original [ticket here](http://forge.prestashop.com/browse/FF-173).

Description
Installation errors screen on sandrine shows that everyday many installation errors come from PS version that are not the latest.

We should add a check at installation to test if we are instaling the latest version:

If not display a warning to inform the user it s

[2018-08-30 10:08] khouloudbelguith commented on #10178
Hi @centoasa,

Sorry, into var/cache folder.

Best regards, Khouloud

[2018-08-30 10:10] #10209 closed, assigned to nobody

[2018-08-30 10:14] centoasa commented on #10178
@khouloudbelguith  deleted 2 folder into var/cache

2018-08-30 12:13:21 | Access | 79.7.101.116 | 200 | POST /it/index.php?controller=product?token=5df9472c9390e81f3d16d1b4399dad74&id_product=6915&id_customization=0&qty=1 HTTP/2.0 |   |   | 20 | Accesso SSL/TLS nginx
-- | -- | -- | -- | -- | -- | -- | -- | --
2018-08-30 12:13:22 | Access | 79.7.101.116 | 200 | POST /modules/leofeature/psajax.php?r

[2018-08-30 10:18] khouloudbelguith commented on #10178
Hi @centoasa,

Thanks for your feedback.
@PierreRambaud, do you think it is an issue related to the server configuration? this issue is fixed by #9390

Best regards, Khouloud

[2018-08-30 10:19] Maofree opened #10210 "when a product image is deleted its folder is still present with index and fileType files"
Hi

**Describe the bug**
when a product image is deleted its folder is still present with these files:
index.php
fileType

in this mode the site will be full of useless files

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/44845777-bc37cc00-ac4e-11e8-9dc3-e0edbe349218.png)

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: 7.0

bye

[2018-08-30 10:39] Quetzacoalt91 commented on #10203
Please see https://github.com/PrestaShop/PrestaShop/pull/10200

[2018-08-30 10:43] centoasa commented on #10178
@khouloudbelguith @PierreRambaud surely this issue is related to PHP+FPM served by nginx
because I've just swith to PHP+FPM served by Apache ==> issue disappear.

[2018-08-30 10:48] khouloudbelguith commented on #10178
Hi @centoasa,

So your issue is not related to the Prestashop core? it is a server configuration issue.

Best regards, Khouloud

[2018-08-30 10:51] centoasa commented on #10178
@khouloudbelguith
This problem is not just mine, as you could see from other users on the forum.
I believe the problem is the union nginx + prestahop that creates the problem, because I use other applications with nginx and they work very well

[2018-08-30 11:17] khouloudbelguith commented on #10178
Hi @centoasa,

I checked your shop.
![image](https://user-images.githubusercontent.com/16067358/44848477-29e7f600-ac57-11e8-8538-ee5270f23c2d.png)
You can solve the 502 bad request problems by reducing the Cookie lifetime for back-office and front-office by setting them lower, after changing the setting, you need to clear all your browser sessions and cookie sessions and login again. This should s

[2018-08-30 11:28] khouloudbelguith commented on #10210
Hi @maofree,

I manage to reproduce the issue.
After deleting an image, the folder still exists contains only the fileType.
We will see how to fix it.

Best regards, Khouloud

[2018-08-30 11:51] marionf commented on #10210
@eternoendless What do you think ?
Do we need to remove these files ?

[2018-08-30 12:01] Klixa-Web commented on #10174
Hi Khouloud

Mail notification problem is solved. **But I have big problems with BO above all with editing categories. Please help me!** Here are the Details:

Host: ftp.klixa.ch

**Serverdaten** Linux #100-Ubuntu SMP Wed May 17 19:58:14 UTC 2017 x86_64
**Version der Server-Software** Apache/2.4.18 (Ubuntu)
**PHP-Version** 7.0.30-0ubuntu0.16.04.1
**Speichergrenze** 1024M
**max_execution_time:** 30

[2018-08-30 12:16] khouloudbelguith commented on #10174
Hi @Klixa-Web,

Since this issue is fixed, I will close the issue.
For the second problem, you need to create another issue because they are two different problems.
Thanks for your understanding.
I close the ticket, feel free to open a new one when needed.

Best regards, Khouloud

[2018-08-30 12:16] #10174 closed, assigned to nobody

[2018-08-30 13:23] CaptainYouz commented on #9640
The Front Office classic theme use bootstrap `v4.0.0-aplha.5`.
The class `.modal-dialog-centered` is not in bootstrap `v4.0.0-aplha.5`.

The solution proposed by maofree:
[code]
is a global one that will be applied to all modals.

If this visual changes is really required, I see two options:
1- only apply this visual changes to the quick view product part (as in screenshot)
2- create a `.modal-dia

[2018-08-30 13:34] Klixa-Web opened #10211 "BO performance issue / error backoffice.js"
I have big problems with performance of BO in Prestashop 1.7.4.2 above all with editing categories.
I get "error" from backoffice.js in the browserconsole and changes cannot be saved.

[2018-08-30 13:37] khouloudbelguith commented on #10211
Hi @Klixa-Web,

Thanks for your report.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following arti

[2018-08-30 13:37] CaptainYouz commented on #9748
Cannot reproduce.

@marionf is this issue still in the current version? Thanks.

[2018-08-30 13:41] PierreRambaud commented on #10178
This is not a bug from Apache, Nginx, this is just a PHP version problem, even if it's PHP, maybe your Apache doesn't use the same PHP version as your Nginx (which is why I have 5 php versions for Apache and 4 different for Nginx on my server).
You need to have a check on your modules.
`module.leofeatureviewstemplatesf` is what a read from cache file name. Maybe you have a `leofeature` module whic

[2018-08-30 13:44] marionf commented on #9748
@CaptainYouz
Yes, you can reproduce it this way:
1. Click on Design > Postion > Transplant a module
2. Select customer reassurance module and displayFooter hook, save
3. Look the footer in front office

It works only when the module is in the first position of displayFooter hook, otherwise the display is not good

[2018-08-30 13:50] Klixa-Web commented on #10211
Host: ftp.klixa.ch

Serverdaten Linux #100-Ubuntu SMP Wed May 17 19:58:14 UTC 2017 x86_64
Version der Server-Software Apache/2.4.18 (Ubuntu)
PHP-Version 7.0.30-0ubuntu0.16.04.1
Speichergrenze 1024M
max_execution_time: 3000
Upload (max. Dateigröße) 512M
PrestaShop-Version 1.7.4.2
Shop-URL https://www.geburtstagskarte.ch/
Template: warehousechild

MySQL-Version 5.7.23-0ubuntu0.16.04.1
MySQL-Server l

[2018-08-30 13:51] khouloudbelguith commented on #10211
Hi @Klixa-Web,

Thanks for your feedback.
As I said, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Best regards, Khouloud

[2018-08-30 13:56] khouloudbelguith opened #10212 "The form invoice options legal free text is not well displayed - Multilanguage"
**Describe the bug**
Multilanguage is enabled.
In the BO =>  Orders => Invoices page, the form invoice options legal free text is not well displayed.
![image](https://user-images.githubusercontent.com/16067358/44856158-0af45e80-ac6d-11e8-8723-64e6f89f55a9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Orders => Invoices Page
2. Scroll down to bottom of the page
3. The form

[2018-08-30 14:09] marionf commented on #10212
@khouloudbelguith
What do you mean by "Not well displayed" ?
All the multi line fields are like this on migrated pages, you can see also on Maintenance page

[2018-08-30 14:17] khouloudbelguith commented on #10212
It is a normal behavior, so I close it.

[2018-08-30 14:17] #10212 closed, assigned to nobody

[2018-08-30 14:32] jejoe16 opened #10213 "Discount in block cart"
Hi

When I add a discount code I don't see the subtotal in the blockcart changing, only in the cart summary. The blockcart should change as well.

![discount](https://user-images.githubusercontent.com/22035796/44858148-9ff95680-ac71-11e8-93c5-8e3273a039d2.png)

[2018-08-30 14:43] khouloudbelguith commented on #10213
Hi @jejoe16,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2018-08-30 14:43] #10213 closed, assigned to nobody

[2018-08-30 14:51] LouToma opened #10214 "MBO updates needed for new hierarchy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The hierarchy has changed in the software and MBO must update it.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The new hierarchy is :
category: Modules
<img width="733" alt="capture d ecra

[2018-08-30 14:57] Klixa-Web commented on #10211
[ch_geburtstagskarte_www_error.log](https://github.com/PrestaShop/PrestaShop/files/2336669/ch_geburtstagskarte_www_error.log)
[ch_geburtstagskarte_www_access.log](https://github.com/PrestaShop/PrestaShop/files/2336670/ch_geburtstagskarte_www_access.log)

[2018-08-30 14:58] Klixa-Web commented on #10211
I've set debug mode on, but don't get any report. Please tell me how to get it.

[2018-08-30 15:01] marionf commented on #10214
Issue related: PrestaShop/ps_mbo#32

[2018-08-30 15:03] khouloudbelguith commented on #10211
Hi @Klixa-Web,

In the error_log file, you have this error: [client denied by server configuration].
It is a server configuration, thanks to check your host and feedback.

Best regards, Khouloud

[2018-08-30 15:15] khouloudbelguith commented on #10168
Hi @matks,

I manage to reproduce the issue with the branch develop.
In the last version 1.7.4.2. => Ok
We will see how to fix it.

Best regards, Khouloud

[2018-08-30 15:23] marionf opened #10216 "[BOOM-4689] Permission management error"
http://forge.prestashop.com/browse/BOOM-4689

[2018-08-30 15:25] khouloudbelguith opened #10217 "All Bulk actions types do not work - Product Page - BO"
**Describe the bug**
In the BO / product page, all the bulk actions type do not work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Products
2. Select some products
3. Try all the bulk action types => Error

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/44861804-9d026400-ac79-11e8-878b-825e45ed1274.png)

**Additionnal informati

[2018-08-30 15:49] khouloudbelguith commented on #9578
Hi ruilong,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-30 15:49] #9578 closed, assigned to nobody

[2018-08-30 15:51] khouloudbelguith commented on #9560
Hi Denz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-30 15:51] #9560 closed, assigned to nobody

[2018-08-30 15:52] khouloudbelguith commented on #9559
Hi Denz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-30 15:52] #9559 closed, assigned to nobody

[2018-08-30 15:53] khouloudbelguith commented on #9558
Hi JonathanDeBelg,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-30 15:54] khouloudbelguith commented on #9563
Hi David,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-30 15:54] #9563 closed, assigned to nobody

[2018-08-30 15:55] khouloudbelguith commented on #9555
Hi PL,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-30 15:55] #9555 closed, assigned to nobody

[2018-08-30 16:06] eternoendless commented on #10193
@colinegin @TristanLDD We need design cues for drag and drop

[2018-08-30 16:37] darkf3d3 commented on #10137
It's all disabled, It's a test website I'm using to test PS1.7 before upgrading my production website to PS1.6.
If you want, I can provide credential to access to the website.

[2018-08-30 16:45] PierreRambaud commented on #10216
I still can migrate issues if you want?

[2018-08-30 21:23] MathiasReker commented on #10184
Do you have a cache module installed?

[2018-08-31 05:02] antruongnguyen commented on #10161
Hi @khouloudbelguith,
I also have the same issue when installing PrestaShop version 1.7.4.2
![screen shot 2018-08-31 at 11 58 51 am](https://user-images.githubusercontent.com/13411559/44893483-91fd1180-ad15-11e8-9f31-d562f50906a1.png)

[2018-08-31 07:04] Prestashopnewbie opened #10220 "Shop not found on line 418 in Shop.php"
Already 2 weeks I discovered a problem, but the shop was working fine in the front except on exporting data to others. So I was searching for solutions...

But I didn`t find one....

Now this morning, just it is a fenomenal problem, I cant reach the shop anymore from the back or from the front... Just a blank error page...

I didn`t changed a thing!

In the log files I only see this lines:

Except

[2018-08-31 07:09] marionf commented on #10216
@PierreRambaud
Thanks but not this one because it was visible only for us :wink:

[2018-08-31 07:31] khouloudbelguith commented on #10220
Hi @Prestashopnewbie,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-

[2018-08-31 07:36] khouloudbelguith commented on #10161
Hi @antruongnguyen,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-08-31 07:47] Prestashopnewbie commented on #10220
Hi,

Now I changed the PHP version to a lower version (5.6)  & cleared the cache.
The shop is working again.

But for your information:

Info_outline Server Data
Server Data Linux #1 SMP Tue May 22 10:39:25 EDT 2018 x86_64
Server software version: Apache/2
PHP version: 5.6.37
Memory Limit:-1
Maximum run time: 10000
Maximum file size for uploads: 50m
Info_outline Database Information
MySQL version:

[2018-08-31 07:57] khouloudbelguith commented on #10220
Hi @Prestashopnewbie,

Thanks for your feedback.
Since it is fixed, can I close the issue?

Best regards, Khouloud

[2018-08-31 08:30] PeNov commented on #10018
Hello, Infisual,

your fix works well: https://github.com/PrestaShop/PrestaShop/issues/10018#issuecomment-415236456

Thank you

Best regards

[2018-08-31 08:36] kpodemski opened #10222 "Problem with e-mail validation"
**Describe the bug**
Current validation method allow people to use not valid e-mails in system, for example:
twój@email.com, jakiś@email.com

we can easily use our polish special characters and they're not escaped nor validated properly, of course this can cause a lot of issues as those e-mails are not RFC 822 compilant and Swift will not send message to this kind of address

**To Reproduce**
Step

[2018-08-31 08:37] khouloudbelguith commented on #10018
Hi infisual,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-08-31 08:40] khouloudbelguith commented on #10222
Hi @kpodemski

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9638
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-31 08:40] #10222 closed, assigned to nobody

[2018-08-31 08:40] khouloudbelguith commented on #10222
Duplicate of #9638

[2018-08-31 08:43] kpodemski commented on #9638
It's worth to add that this is behavior of entire system, we can also add a customer from back-office with not valid e-mail, import customers with broken e-mails etc.

[2018-08-31 08:51] khouloudbelguith commented on #10137
Hi @darfk3d3,

I manage to reproduce the issue with PS 1.7.4.2 **randomly**.
How to reproduce the issue:
Please see screen-record:
https://drive.google.com/file/d/1iMx9OFbQ6pAe59dzbKBbFAJpR8n2rnBr/view
We will see how to fix it.

Best regards, Khouloud

[2018-08-31 09:09] marionf opened #10224 "Exception when trying to dupliace or delete a product"
**Describe the bug**
An exception is displayed when I try to duplicate a product

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Click on the free points at the end of the line
3. Click on duplicate or delete
4. See error

**Screenshots**

![capture d ecran_216](https://user-images.githubusercontent.com/13449658/44904043-5e6ab900-ad0e-11e8-982e-66669b07ee92.png)

[2018-08-31 09:20] MathiasReker commented on #10220
Change memory limit from -1 to 512

[2018-08-31 09:24] marionf commented on #10137
@khouloudbelguith
We don't see in your video, the "Product A" is a duplicated product ?

[2018-08-31 09:26] khouloudbelguith commented on #10220
Hi @Prestashopnewbie,

The required memory_limit is 64MB.
You can follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
Upload the file to the server. You should upload your file to the exact directory

[2018-08-31 09:30] khouloudbelguith commented on #10137
Hi @marionf,

No, Product A is not a duplicate.
I manage to reproduce this issue without duplicating also => but it occurs randomly due to the multistore context.
Also, I manage to reproduce this issue after duplicating a product, but as I said before => it is randomly.
![image](https://user-images.githubusercontent.com/16067358/44905150-7b54bb80-ad11-11e8-91e1-939b7c508f6e.png)

Best regards, Kho

[2018-08-31 10:24] khouloudbelguith commented on #9546
Hi Solutios,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-31 10:24] #9546 closed, assigned to nobody

[2018-08-31 10:26] khouloudbelguith commented on #9545
Hi Dheeraj,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-08-31 10:26] #9545 closed, assigned to nobody

[2018-08-31 10:27] rdy4ever commented on #10184
If [this](https://www.limousin-archerie.fr) is your website, it works fine for me.

[2018-08-31 10:32] khouloudbelguith commented on #9544
Hi Emilie,

Your ticket is a duplicate of #10178
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-31 10:32] #9544 closed, assigned to nobody

[2018-08-31 10:32] khouloudbelguith commented on #9544
Duplicate of #10178

[2018-08-31 10:36] khouloudbelguith commented on #9533
Hi Tomasz,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9872
So, I close it.
Thanks!

Best regards, Khouloud

[2018-08-31 10:36] #9533 closed, assigned to nobody

[2018-08-31 10:36] khouloudbelguith commented on #9533
Duplicate of #9872

[2018-08-31 10:45] LimousinArcherie commented on #10184
Hello
yes, now it works.
Thanks all for your replies and help!
The problem was a module conflict, not the theme.
I deactivated the module and no it works.
Same suspect issues with the mondial relay module, so I reinstalled it and now ok too.
Hope it can helps others.
Best regards

[2018-08-31 10:45] #10184 closed, assigned to nobody

[2018-08-31 10:47] khouloudbelguith commented on #10184
Hi @LimousinArcherie,

Thanks for your feedback.

Best regards, Khouloud

[2018-08-31 10:56] #10203 closed, assigned to Quetzacoalt91

[2018-08-31 10:57] #9912 closed, assigned to CaptainYouz

[2018-08-31 12:23] #10147 closed, assigned to nobody

[2018-08-31 12:27] Chebe2 opened #10226 "Faceted search not shown on displayLeftColumnProduct"
Hello,
I had Faceted search module working properly on "displayLeftColumn" position. Then I hook it to "displayLeftColumnProduct" but nothing appears. The oder hooks are appear perfectly on this position.

The filter template is checked to appear in all the categories.
My prestashop version is 1.7.3.3
With the classic theme
And module version: v2.1.2

Thank you for your help.

[2018-08-31 12:30] rdy4ever commented on #9978
I did a PR, not sure if it is the best solution but feel free to review/comment. My PR truncates long feature titles so it will keep everything on one line.
![image](https://user-images.githubusercontent.com/12268701/44912379-a00d5b00-ad32-11e8-9df6-3e9150872687.png)

[2018-08-31 12:58] khouloudbelguith commented on #10226
Hi @Chebe2,

I manage to reproduce the issue with the last version  1.7.4.2 & ps_facetedsearch v2.0.1 - by PrestaShop.
We will see how to fix it.

Best regards, Khouloud

[2018-08-31 12:59] marionf opened #10228 "Can delete my own profile"
**Describe the bug**
You can delete your own profile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Team > Profile
2. Create a new profile "Admin"
3. Go to Advanced parameters > Team > Permissions > Admin
4. Give it all permissions
5. Go to Advanced parameters > Team > Employees
6. Create a new employee with the Admin profile
7. Log out of BO
8. Log in with the c

[2018-08-31 13:01] colinegin commented on #10045
@Saycile concernant la partie Training, on est d'accord que c'est censé renvoyer vers la page Addons des formations ?

[2018-08-31 14:08] dragonfly4 commented on #10145
Thanks for this thread as I had the same issue. Manually deleting the files under "<shop>/var/cache/prod/" solved my error 500.

[2018-08-31 14:51] khouloudbelguith opened #10231 "Cannot change the status of a product in the list product page - BO"
**Describe the bug**
In the BO / Product list page, we cannot change the status of a product with the icon status.
An exception occurred.
![image](https://user-images.githubusercontent.com/16067358/44919511-fd5ad980-ad3d-11e8-84d6-0c606e57d4e3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Product page
2. Click on icon status to disable a product
3. See error

**Additionnal

[2018-08-31 15:52] #9508 closed, assigned to jolelievre

[2018-08-31 15:58] TristanLDD commented on #10193
You'll find the mockups on invision: (https://invis.io/8KNTVHAQM35#/317552429_Drag_And_Drop_BO)
Design specs are on Zeplin, ask me for an invitation to access the project.

[2018-08-31 16:01] javierVP commented on #9487
Following the steps, the same error keeps coming up.

[2018-08-31 16:29] bellamolipaolo commented on #15200
can you explain me better how to check this ? @Quetzacoalt91

[2018-08-31 16:50] DavidEschmeyer commented on #10152
i have a site with same problem too... but i dont believe it updates the db at all.
You can get me in hangouts Khouloud

[2018-08-31 17:08] DavidEschmeyer commented on #10152
thunt4j make a test php file

`<?php
echo iconv_strlen("Test iconv_strlen here", "UTF8");
?>`

if that error 500's either iconv.so exension in /etc/php/php.ini is commented out/disabled for some reason, or in my case there is a problem with it because it is active as shown by phpinfo...

[2018-08-31 17:12] thunt4jr commented on #10152
It turned out to be PHP extension not installed on the server side. Iconv and 4 other extensions not installed. The server went from easy apache 3 to 4 without updating or finishing the installation. It work fine on my server until I transfer it to their server.

[2018-08-31 17:37] Prestashopnewbie commented on #10220
Ok, I did follow all the intructions above, but unfortionally the shop is still not found.
The shop works again & everything is back the same as my first post.
Only the php version is now as recommend 7.1 instead of 7.2...

So exports like google shopping & mailchimp are still not working

[2018-09-01 01:01] DavidEschmeyer commented on #10152
awesome, glad it is solved for you!

[2018-09-01 08:57] MathiasReker commented on #10145
@khouloudbelguith what folders and files exactly are safe to delete due to cache? All folders and files in car/cache?

[2018-09-01 09:05] fuga00 commented on #10145
You can del all.
I propose change folder name from cache to cache_old, PS make new folder
and files.

sob., 1 wrz 2018, 10:57 użytkownik Mreker <notifications@github.com>
napisał:

[2018-09-01 10:49] watou commented on #9934
Did any of the changes in theses PRs help?  [#8399](https://github.com/PrestaShop/PrestaShop/pull/8399) [#8458](https://github.com/PrestaShop/PrestaShop/pull/8458) [#8711](https://github.com/PrestaShop/PrestaShop/pull/8711)

[2018-09-02 08:44] peranderssjostrom opened #10235 "Currency sign wrong PS1.7.4.2"
In the drop down menu for currency select i have:

EUR €
USD $
SEK kr

Why do I get SEK instead of kr?

If I choose EUR the the € is shown.

![5b881c5d8a78e_skrmavbild2018-08-30kl_18_25_33 png 5e6f8469ee454f76097853718037fc6f](https://user-images.githubusercontent.com/42907000/44954023-a7507800-ae9c-11e8-932c-c7de87221922.png)
![skarmavbild 2018-09-02 kl 10 41 20](https://user-images.githubusercon

[2018-09-02 08:57] gswant opened #10236 "Alt tag empty in product listing BO"
Good evening,
I purchased a "Prestablog" module which takes the ALT tag from imageManager, prestashop 1.7.4.
It seems however that there is a problem in the function and the alt tag is not powered.

line 89 return 'img src = "'. self :: getThumbnailPath ($ cacheImage, $ disableCache). '" alt = "" class = "imgm img-thumbnail" ;

The programmer tells me to go directly to prestashop but I do not know

[2018-09-02 12:34] twazerty opened #10237 ""Soft URL variable" instead of "Hard URL""
**Is your feature request related to a problem? Please describe.**
When I want to link to a category/product/content page from a category or product page I am only be able to add a "a href". But when the url of the product or category changes, the url can become broken, or at least it is not up to date.

**Describe the solution you'd like**
It would be nice if you could insert an "internal link" b

[2018-09-02 13:48] peranderssjostrom opened #10238 "Currency settings is missing in PS1.7.4.2"
In PS 1.6 I can set the way the currency is displayed. In PS 1.7 this is missing? Bug?

The goal is to have the price written 300,00 SEK or 300,00 kr. Right now it's SEK300.00

![skarmavbild 2018-09-02 kl 15 36 58](https://user-images.githubusercontent.com/42907000/44956611-25297900-aec7-11e8-80a7-8f993cf1065a.png)
![skarmavbild 2018-09-02 kl 15 37 08](https://user-images.githubusercontent.com/429

[2018-09-02 13:52] peranderssjostrom opened #10239 "Problems with units and how they are displayed PS 1.7.4.2"
If I have mm, kg, g, l etc. I'll the a first capital letter such as Kg, Mm, G, L

Why?

![skarmavbild 2018-09-02 kl 15 49 14](https://user-images.githubusercontent.com/42907000/44956683-2a3af800-aec8-11e8-98e1-7f79f173a2e9.png)

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: 7.2.9
http://sjostromaudio.net

[2018-09-02 14:22] tuhingr opened #10240 "PDF Not generating for Invoice & Delivery Slip also Checkout error 500"
Hello
My Prestashop 1.7.3.3 can not generate PDF for Invoice and Delivery Slip.
When Checkout FO then getting error 500 with all payment mode, COD and Local Gateway,
I checked all forum and forge report, try to resolve it, no success.

Help!
BR

[2018-09-02 19:34] rdy4ever commented on #9516
OK. Same error after updating autoupgrade module, same fix solved it. But what's the catch? Before renaming the vendor folder in ps_facetedsearch I have also tried renaming autoupgrade in order to disable it, but still it didn't work.
Now I've got the dreaded "Required parameters: Please fix the following error(s)" in Advanced parameters->Information with no errors listed, meaning that I will not

[2018-09-02 21:15] GerhardWG commented on #9842
Hi Khouloud!

Sorry, login failed every time!
But I've found some interessting details: Plesk said, I have Prestashop
version 1.7.3.3, but Prestashop Backoffice said 1.7.4.2!
I have tried an update in Prestashop, but it was impossible. PHP memory
limit is 128 MB (need 256 MB) and max. execution time is 60 sec.(need 120)
Maybe all problems have this orgin?

Kind regards, Gerhard

[2018-09-03 01:44] CArlvJ1N0N8 opened #10243 "Short description is not shown until your edit the source code"
**Describe the bug**
A clear and concise description of what the bug is.
In the product section when selecting a product, in the Essental tab the short description or the long description are not shown as long as you don't click on the button to view the source code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Product, select a random product, Go to edit the product. Do you seen th

[2018-09-03 01:49] CArlvJ1N0N8 opened #10244 "Frequently disconnected from Prestashop Back office"
**Describe the bug**
When connecting to the Backoffice of Prestashop you have to enter a username and a password.
It happens very often that i am being ejected from the back-Office and need to reconnect to continue my session.

**To Reproduce**
By working frequently on the Back-Office it reproduces regularly.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your pro

[2018-09-03 07:23] khouloudbelguith commented on #10235
Hi @peranderssjostrom,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9714
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-03 07:23] #10235 closed, assigned to nobody

[2018-09-03 07:23] khouloudbelguith commented on #10235
Duplicate of #9714

[2018-09-03 07:27] khouloudbelguith commented on #10238
Hi @peranderssjostrom,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10017
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-03 07:27] #10238 closed, assigned to nobody

[2018-09-03 07:27] khouloudbelguith commented on #10238
Duplicate of #10017

[2018-09-03 07:38] khouloudbelguith commented on #10240
Hi @tuhingr,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2018-09-03 07:39] marionf opened #10245 "Progress bar pixelised after bulk action on product page"
**Describe the bug**
When I try to make a bulk action on the product page in BO, the progress bar and some words seems to be pixelised
It happens only with Chrome, I don't have this issue with Firefox

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Select some products
3. Click on bulk action > activate selection

![capture d ecran_223](https://user-images.githubu

[2018-09-03 08:01] khouloudbelguith commented on #10239
Hi @peranderssjostrom,

Could you please navigate to your BO => IMPROVE => International => Localization, check the "LOCAL UNITS" and feedback.

Best regards, Khouloud

[2018-09-03 08:06] khouloudbelguith commented on #10244
Hi @CArlvJ1N0N8,

Could you please try to delete all cookies, it could be a cookie related problem. In Chrome, for example, to delete all cookies you right-click->Inspect element->Application->Cookies->Delete all cookies.
Also, check the developer console in your browser, see if you have some errors there.
Another approach, try to log in in the admin using the browser Incognito mode (Ctrl+Shift+P

[2018-09-03 08:09] khouloudbelguith commented on #10243
Hi @CArlvJ1N0N8,

Could you please provide me the language and the country selected for the installation of your shop?

Best regards, Khouloud

[2018-09-03 08:37] khouloudbelguith commented on #10236
Hi @gswant,

Could you please provide me the Prestablog to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-03 08:57] revington opened #10246 "backoffice -> modules redirects to frontoffice instead display the modules page"
**Describe the bug**
On a fresh prestashop 1.7.4.2 install I just click on modules (or any url like *index.php/*) and got redirected to the frontoffice.

**To Reproduce**
Steps to reproduce the behavior:
1. Install prestashop 1.7.4.2
2. Go to backoffice
3. Click on modules
4. You get redirected to the frontoffice

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: php 7.0

After

[2018-09-03 09:19] khouloudbelguith commented on #9842
Hi @GerhardWG,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-03 09:20] LedCloud commented on #10244
First of all check that your IP is not changing offen. If it it is changing, it might be a reason.
For security purpose strore will ask you to log in again if your IP has been changed. You can switch it off.
Advanced Parametrs->Administration->Check the cookie's IP address

[2018-09-03 09:23] khouloudbelguith commented on #9516
Hi @rdy4ever,

It seems that a description is missing, and that's why it could not be listed in the "following errors".
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure.

Best regards, Khouloud

[2018-09-03 09:25] sbossert opened #10247 "Dispatching URL containing encoded line terminator with active multilang"
The Dispatcher is unable to identify the correct controller if the request URI contains an encoded line terminator (%0A). This is due to the regex "#^/([a-z]{2})(?:/.*)?$#" on line 564 in classes/Dispatcher.php.

Propose either not including end anchor or explicitly allowing newlines in second group.

Current use case is payment processor sending GET request to notify of order status change contai

[2018-09-03 09:31] LedCloud opened #10248 "Mailalerts and default combination."
Prestashop version 1.7.3.4-1.7.4.2
MailAlert version - 2.1.0

It's not a presta bug. This bug is related with MailAlert module.

If the module is enabled and the default combination is out of stock than you cannot switch to other combination those are in stock.
The form of the module is not beeing hidden.

Here is the description https://github.com/PrestaShop/ps_emailalerts/issues/5

I did a pull

[2018-09-03 09:40] khouloudbelguith commented on #10246
Hi @revington,

I did not manage to reproduce the issue with the last version 1.7.4.2.
Could you please try to regenerate the file .htaccess
1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

Best regards, Khouloud

[2018-09-03 09:48] #10231 closed, assigned to nobody

[2018-09-03 10:00] Quetzacoalt91 commented on #10246
I see that you're runing a Nginx server on your shop.

You may need to configure your virtual host for running properly with PrestaShop. We provide an exemple here: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist

[2018-09-03 10:06] marionf opened #10250 "Issue when installing in Arabic"
⚠️ (EDIT) No PR related to this as the issue was with translations and not with the code. Can you check that it is solved ? :)

**Describe the bug**
Can't complete the installation of Prestashop in Arabic  because in step 3 the Next & previous buttons are pointing to legal@prestashop.com

**Screenshots**
![capture d ecran_225](https://user-images.githubusercontent.com/13449658/44981005-a9d0d180-af

[2018-09-03 10:14] #10224 closed, assigned to nobody

[2018-09-03 10:15] #10217 closed, assigned to nobody

[2018-09-03 10:21] khouloudbelguith commented on #10247
hI @sbossert,

What is the exact name of the payment method module did you use?

Best regards, Khouloud

[2018-09-03 10:35] khouloudbelguith commented on #10220
Hi @Prestashopnewbie,

The MailChimp module is not provided by PrestaShop, you need to contact the module developer: https://addons.prestashop.com/en/contact-us?id_product=26957.
The same thing with the google shopping module, it is provided by Business Tech, you can contact them via this link: https://addons.prestashop.com/en/contact-us?id_product=1768
Since it is fixed, I close the issue, feel f

[2018-09-03 10:35] #10220 closed, assigned to nobody

[2018-09-03 11:06] khouloudbelguith commented on #10248
Hi @LedCloud,

I did not manage to reproduce the issue with the last version 1.7.4.2 & the ps_emailalerts module v2.1.0 - by PrestaShop.
I attached a video record: https://drive.google.com/file/d/1FHZ0NJ-wEC2LnBd4Vno69C_z4bRH0S97/view
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-03 11:27] khouloudbelguith commented on #10237
Hi @twazerty,

Recently we have made some modifications related to the SEO OPTIMIZATION in the product page.
Thanks to follow those links & feedback: https://github.com/PrestaShop/PrestaShop/pull/9463
https://github.com/PrestaShop/PrestaShop/pull/9456

Best regards, Khouloud

[2018-09-03 11:30] gswant commented on #10236
Thank you
I have turned your request to the programmer of the module to contact you

Thanks so much

[2018-09-03 11:33] khouloudbelguith commented on #10236
Hi @gswant,

Thanks!
Waiting for the feedback.

Best regards, Khouloud

[2018-09-03 11:45] LedCloud commented on #10248
You're right. It afffects 1.7.3.4

There is no bug on 1.7.4.2

[2018-09-03 11:45] #10248 closed, assigned to nobody

[2018-09-03 11:54] sbossert commented on #10247
@khouloudbelguith
The payment service provider is mpay24, I'm part of the development team for sellxed plugins: PrestaShop mPAY24 Payment Module.
Best regards

[2018-09-03 12:17] marionf opened #10251 "Notifications icons not correctly placed on module page"
**Describe the bug**
Notifications icons are not correctly placed on module page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules manager
2. Look notifications icons on alerts & updates tabs

**Screenshots**
![capture d ecran_226](https://user-images.githubusercontent.com/13449658/44986434-fe7d4800-af83-11e8-9bd1-c3ec8464368c.png)

Should be placed like this:

![captur

[2018-09-03 12:26] ntiepresta commented on #10250
Hi, marionf
I manage to reproduce the issue

Best regards, Reddy Ntie

[2018-09-03 12:26] khouloudbelguith commented on #10248
HI @LedCloud,

Thanks for your feedback.

Best regards, KHouloud

[2018-09-03 12:32] khouloudbelguith commented on #10247
Hi @sbossert,

Could you please provide me the mpay24 module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-03 12:43] peranderssjostrom commented on #10239
As I write I have g, km, l, mm all units with small letters.

[2018-09-03 12:45] CaptainYouz commented on #9640
Visual change approved by @colinegin and technical implementation approved by @eternoendless

[2018-09-03 12:52] julieLOM opened #10255 "Prestashop1.7 facet/filter total product"
Hello everybody,
Regarding the total products by filter (see screenshot)
When I select two filters the total between brackets of the other filters is incorrect

One filter OK
![capture1](https://user-images.githubusercontent.com/35373960/44987808-caf0ec80-af88-11e8-95df-d3c0e4977cf3.png)

Two filters = incorrect total
![capture2](https://user-images.githubusercontent.com/35373960/44987826-df34e980

[2018-09-03 12:54] sbossert commented on #10247
Hi @khouloudbelguith
I can't provide the module, but the error occurs without the module installed.
It's reproducible in your demo store as well:

http://fo.demo.prestashop.com/en/?foo=bar = works
http://fo.demo.prestashop.com/en/?foo=b%0Aar = not found

[2018-09-03 13:06] marionf opened #10256 "Can't export request of catalog > product page"
**Describe the bug**
I have a page nt found when I try to export the the SQL manager the request of the page Catalog > Product

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Click on the toothed wheel
3. Click on "Export to SQL manager"
4. See the page not found error

**Screenshots**
![capture d ecran_231](https://user-images.githubusercontent.com/13449658/44988

[2018-09-03 13:07] peranderssjostrom commented on #10017
I have also a very annoying problem in the same topic. The PS 1.6.1.20 didn't have it.
https://github.com/PrestaShop/PrestaShop/issues/10238

[2018-09-03 13:14] khouloudbelguith commented on #10247
Hi @sbossert,

Thanks for this clarifications.
I manage to reproduce the issue with the last version 1.7.4.2.
http://127.0.0.1:8081/174/1742/en/?foo=%0Abar => Not found page
http://127.0.0.1:8081/174/1742/en/?foo=0Abar => Redirection to the Home page
We will see how to fix it.

Best regards, Khouloud

[2018-09-03 13:16] marionf commented on #10250
@ntiepresta
You need to test all the installation process for these PRs where a language is added
this issue could be found before QA approved :)

[2018-09-03 13:23] CArlvJ1N0N8 commented on #10243
Sure!
The settings are Canada English...

Let me know if you need credentials to my BO if you can't reproduce.

[2018-09-03 13:25] ntiepresta commented on #10250
@marionf ,
Thank you
Best regards, Reddy Ntie

[2018-09-03 13:28] CArlvJ1N0N8 commented on #10244
Hello,

I have done the cookies clean up numerous times.
Nothing changes.

For the IP change, i will try this setting but i am on my own wireless so IP should not change so often...

As an example, i login to the BO, i go to the International - translations - i select Translations installed modules then i select "Supercheckout" in the modules and choose a language, reviewing the translations for 5

[2018-09-03 13:30] khouloudbelguith commented on #10255
Hi @julieLOM,

We have just released a new version for the ps_facetedsearch.
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v2.2.0
Thanks to check the issue with it & feedback.

Best regards, Khouloud

[2018-09-03 13:33] khouloudbelguith commented on #10244
Hi @CArlvJ1N0N8,

In the login in page BO, did you checked the stay_logged_in option?

Best regards, Khouloud

[2018-09-03 13:36] CArlvJ1N0N8 commented on #10244
Yes I always check it.

[2018-09-03 13:38] marionf opened #10257 "Filtering by categories isn't working in catalog > product page"
**Describe the bug**
Filtering by categories isn't working in catalog > product page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Click on Filter by categories and select a category
3. The page is refreshed but you still see all products
4. If you click on Catalog > Products, you will see the products of the selected category

**Additionnal information**
Presta

[2018-09-03 13:44] CArlvJ1N0N8 opened #10258 "Allow to choose a different language for order documents"
**Describe the bug**

Hello,
I am using Prestashop in association with Amazon marketplace module.
So Amazon orders are created inside of Prestashop by this module every time an order is available.
Client is created at the same time.
I have checked with the developer for this module and the client language is also imported.
Although if i go to the client i can't see his language.
My issue is i am c

[2018-09-03 13:48] CArlvJ1N0N8 commented on #10258
Sorry a little error in what i said...
On the customer page i can see the language for the customer is set to English, but when i print the required documents it prints in my language instead of the customer language.

I tested by switching my language to English and it indeed printed the documents in English.

But should it not print the documents in the customer language?

[2018-09-03 13:51] marionf opened #10259 "Undefined index error for module products in the same category"
**Describe the bug**
Install the module "Products in the same category" and you will see an undifined index error in FO when you click on a product

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules Catalog
2. Install module "products in the same category"
3. Go in FO and click on a product
4. See error

**Screenshots**
![capture d ecran_232](https://user-images.githubus

[2018-09-03 13:52] PierreRambaud commented on #10251
I'm taking it with Module Manager refactoring :)

[2018-09-03 13:53] khouloudbelguith commented on #10239
Hi @peranderssjostrom,

It is a normal behavior in the Classic theme.
But you can modify this behavior by deleting the line 9657 `text-transform: capitalize;` into the file /Project_folder/themes/classic/assets/css/theme.css
![image](https://user-images.githubusercontent.com/16067358/44990468-62f2d400-af91-11e8-8540-9e773962e2b8.png)
You need to configure your smarty by disabling the cache, set th

[2018-09-03 13:53] #10239 closed, assigned to nobody

[2018-09-03 14:02] eternoendless commented on #10222
Just FYI

`FILTER_VALIDATE_EMAIL` doesn't accept addresses according to RFC 6531 (which is why we don't use it).

[2018-09-03 14:04] eternoendless commented on #9638
For information, this would be solved if we were able to upgrade Switftmailer, but we can't because their newer version doesn't support PHP < 7 ([see this comment](https://github.com/PrestaShop/PrestaShop/pull/9129#issuecomment-392523060)).

We will have to find a workaround in the meantime.

[2018-09-03 14:05] Quetzacoalt91 commented on #10259
This PR should have fixed it: https://github.com/PrestaShop/PrestaShop/pull/10230. By any chance, are you sure that your `develop` is up-to-date with the remote repository?

[2018-09-03 14:12] marionf commented on #10259
@Quetzacoalt91
Yes, sure
I don't have the error with ps_productinfo
But I have the error with ps_categoryproducts

[2018-09-03 14:21] khouloudbelguith commented on #10258
Hi @CArlvJ1N0N8,

I manage to reproduce the issue with the last version 1.7.4.2.
It is an old issue, documents are printed in the employee language.
@marionf, this issue could be fixed in this issue: #9817?

Best regards, Khouloud

[2018-09-03 14:23] CaptainYouz commented on #9622
I cannot reproduce. @marionf is this fixed with https://github.com/PrestaShop/PrestaShop/pull/8191 ?
If not, how can I reproduce it? Thanks

[2018-09-03 14:23] khouloudbelguith commented on #10243
Hi @CArlvJ1N0N8,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2018-09-03 14:28] marionf commented on #10258
@colinegin
What do you think about this suggestion ? Invoices and delivery slips should be printed in the customer's language instead of the employee's language ?

[2018-09-03 14:37] marionf commented on #9622
@CaptainYouz

No, it's not fixed
You can reproduce it by adding a soecific price to the demo product pack

![capture d ecran_233](https://user-images.githubusercontent.com/13449658/44992536-b9fba780-af97-11e8-8221-4ab9f7b21b3d.png)

[2018-09-03 14:56] khouloudbelguith commented on #10244
Hi @CArlvJ1N0N8,

The default settings are 15 minutes, so the login is automatically terminated after 15 minutes of inactivity in the PrestaShop.
This time can be easily adjusted in the following folder:
classes / controller / AdminController.php
Look for line 2732, where the following code is to be found:
if ($this->context->cookie->last_activity + 900 < time()) {
Changing 900 to 3600 increases t

[2018-09-03 15:05] revington commented on #10246
Thanks @khouloudbelguith, @Quetzacoalt91!
Tweaking "friendly url" did not fix the problem. Updating my nginx conf as suggested by @Quetzacoalt91 did. After that prestashop was redirecting ssl traffic to non ssl site. nginx was redirecting all non ssl to ssl :(
So I "enabled ssl" and "enabled ssl on all pages". Then it worked as expected!

[2018-09-03 15:05] #10246 closed, assigned to nobody

[2018-09-03 15:06] johanlantz opened #10261 "Google Lighthouse SEO test fails on products with attributes"
I posted an error report directly on the Lighthouse project here:
https://github.com/GoogleChrome/lighthouse/issues/5951

I am running a vanilla installation of PS 1.7.4.2 and the Lighthouse SEO tests fails on the product pages that have attributes in the URL.

It may or may not be a Lighthouse issue but if there is any risk that a Prestashop product page is getting a 0 SEO score from a Google too

[2018-09-03 15:07] khouloudbelguith commented on #10246
Hi @revington,

Glad it is solved for you.

Best regards, Khouloud

[2018-09-03 15:13] khouloudbelguith commented on #10261
Hi @johanlantz,

We are currently working to change this in 1.7.5 so that the canonical points to the default combination.
Thanks to check this PR: https://github.com/PrestaShop/PrestaShop/pull/9456 & feedback.

Best regards, Khouloud

[2018-09-03 15:57] BenTen opened #10262 "Friendly-url Japanese character (kanji)"
**Describe the bug**
When we put a title in Japanese _(and I guess Chinese too)_ in the product page, the friendly-url is blank.
This blank friendly-url affect the load of the product image and of course the url of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product with a Japanese title バナナ and upload an picture
2. Go to the SEO tab to "see" the blank Friendly-url
3.

[2018-09-03 16:00] CArlvJ1N0N8 commented on #10244
Hllo,

Looking at this as i will change this setting, but the file AdminController.php does not exist.
I thought it would be AdminAccessController but there is not line 2732.

Can you please provide full name?

Thanks,

Carl

[2018-09-03 16:07] khouloudbelguith commented on #10244
Hi @CArlvJ1N0N8 ,

It is into the path /PROJECT_FOLDER/classes/controller/AdminController.php
![image](https://user-images.githubusercontent.com/16067358/44995624-28defd80-afa4-11e8-869c-32db0fc8cb10.png)

Best regards, Khouloud

[2018-09-03 16:16] khouloudbelguith commented on #10262
Hi @BenTen,

You need to enable the Accented URL option in the Shop Parameters / Traffic & SEO page.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-03 16:31] GMVitus opened #10264 "Major bug with Virtual Products"
Hello folks,

I think I found a major bug in the handling of Virtual Products in Prestashop 1.7.

First off some background:

A while ago, I asked for help with an issue I have about the total being incorrectly calculated when using discount vouchers:

https://www.prestashop.com/forums/topic/866094-total-doesnt-consider-voucher/

As you can see, no one bothered to give me an answer as of now. Beca

[2018-09-03 16:32] khouloudbelguith commented on #10145
Hi @Mreker,

The folder into the path var/cache, should be deleted because there are some files are generated in the cache with the old password:
 /PROJECT_FOLDER/var/cache/prod/appParameters.php
/PROJECT_FOLDER/var/cache/prod/ContainerXo7rwkj/appProdProjectContainer.php

Best regards, Khouloud

[2018-09-03 16:48] khouloudbelguith commented on #10264
Hi @GMVitus,

I manage to reproduce the issue with the last version 1.7.4.2.
Discount is not applied when the product type is a virtual product.
We will see how to fix it.
In the version 1.7.3.4 => OK.

Best regards, Khouloud

[2018-09-03 16:48] Quetzacoalt91 commented on #10259
Issue to be fixed with a module update. See https://github.com/PrestaShop/ps_categoryproducts/pull/2

[2018-09-03 16:50] julieLOM commented on #10255
Hello @Khouloud
an exemple http://wit.kaiman.fr/2-accueil?q=Frame+Size-Lign%C3%A9-Tshirt
we can see "porcelaine(5)" but we have 4 products in total

thanks for your answer

[2018-09-03 16:55] khouloudbelguith commented on #10255
Hi @julieLOM,

Using the porcelaine filter, we have 5 products in the total
![image](https://user-images.githubusercontent.com/16067358/44996901-d1905b80-afaa-11e8-9fe5-5781033c7616.png)

Best regards, Khouloud

[2018-09-03 16:59] GMVitus commented on #10264
Thank you for taking on the task. Maybe it helps you to know that previous version of 1.7 didn't have this problem. I can't say for sure which version started it, but I'd say it was around the 1.7.3 update.

[2018-09-03 17:16] julieLOM commented on #10255
when I select a filter, others calculates the products quantity between the two bracket
example: when I select "laine" filter, the filter "porcelain" calculates the products quantity for it
http://wit.kaiman.fr/2-accueil?q=Frame+Size-Laine

but when i select two filters, the number between the bracket display the total of products without calcul
http://wit.kaiman.fr/2-accueil?q=Frame+Size-Laine-Li

[2018-09-03 17:16] khouloudbelguith commented on #10236
Hi @marionf,

Following the response of the module developer, there is a lack of alt is present in the back office section products, not only in their module.
`<img src="/img/tmp/product_mini_20.jpg?time=1535978614" alt="" class="imgm img-thumbnail">`
Which I manage to reproduce it with the last version 1.7.4.2

Best regards, Khouloud

[2018-09-03 18:49] PierreRambaud commented on #10259
@marionf I'm not able to add labels, but you can test the PR :)

[2018-09-03 19:09] jointsystems commented on #9489
It seems most but not all of the problems were created by the Connect to UPS 1.4 which I had to remove through the file manager.   Either that problem has to be fixed or a warning included to remove the module before attempting to upgrade from a 1.6 store.    Though we are now able to create and save import profiles the import function only imports a small percentage of items though they have been

[2018-09-03 19:24] jointsystems commented on #9489
![19_percent_presta 1742 import](https://user-images.githubusercontent.com/41153050/44999739-7b60ef80-af8d-11e8-8341-53adbef0800e.PNG)

[2018-09-03 19:41] GerhardWG commented on #9842
The log file on wuestengarten.at / shop.wuestengarten.at / Backoffice /
autoupgrade / tmp / log.txt is empty!
I have found some log files in wuestengarten.at / shop.wuestengarten.at /
app / logs. Please see Word document, way back to version 1.7.3.0 (More
confusion for me!)
I updated Prestashop to the latest Version in Plesk, because the PHP limits
are changed, but I have no entry in the  app / lo

[2018-09-03 19:54] nalberto commented on #10154
Same problem here running persta 1.6.1.13

Fatal error: Uncaught Error: Call to undefined method ConfigurationTest::test_curl() in /home/clients//web/modules/autoupgrade/classes/UpgradeSelfCheck.php:111 Stack trace: #0 /home/clients//web/modules/autoupgrade/AdminSelfUpgrade.php(385): PrestaShop\Module\AutoUpgrade\UpgradeSelfCheck->__construct(Object(PrestaShop\Module\AutoUpgrade\Upgrader), '/home/

[2018-09-03 20:05] nalberto commented on #10154
@gorkij77 check if php option fopen is enabled. That was the issue for me.
Check in Advanced Parameters > Configuration information

[2018-09-03 22:27] GerhardWG commented on #9842
The log file on wuestengarten.at / shop.wuestengarten.at / Backoffice /
autoupgrade / tmp / log.txt is empty!
I have found some log files in wuestengarten.at / shop.wuestengarten.at /
app / logs. Please see Word document, way back to version 1.7.3.0 (More
confusion for me!)
I updated Prestashop to the latest Version in Plesk, because the PHP limits
are changed, but I have no entry in the  app / lo

[2018-09-03 22:28] GerhardWG commented on #9842
Am Do., 23. Aug. 2018 um 14:54 Uhr schrieb khouloudbelguith <
notifications@github.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/2043856

info@wuestengarten.at

www.wuestengarten.at

Unser Blog auf http://wuestengarten.blogspot.co.at/

Facebook: https://www.facebook.com/wuestengarten/

[2018-09-04 00:13] BenTen commented on #10262
Ho, I didn't notice "Accented URL option" was for that too.
I'm sorry...

THANK YOU!

[2018-09-04 00:13] #10262 closed, assigned to nobody

[2018-09-04 01:41] CArlvJ1N0N8 commented on #10244
OK it seems to be working fine now.
I will continue to test and let you know !

[2018-09-04 01:46] CArlvJ1N0N8 commented on #10243
Hello,

I have requested the required information to our developer.
I will send it to you as soon as i receive it.

Thanks,

Carl

[2018-09-04 07:25] khouloudbelguith commented on #10154
Hi @nalberto,

What is the exact version of the 1-click upgrade did you use? & did you made the upgrade to which version?

Best regards, Khouloud

[2018-09-04 07:37] nalberto commented on #10154
The latest version.

On Tue, Sep 4, 2018, 9:25 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-09-04 08:10] marionf commented on #10251
@PierreRambaud I can't reproduce it today on develop branch

[2018-09-04 08:18] khouloudbelguith commented on #9842
Hi @GerhardWG,

Could you please check in your files, if these changes are applied: https://github.com/PrestaShop/PrestaShop/pull/9335/files, it should solve the issue.

Thanks & best regards, Khouloud

[2018-09-04 08:27] khouloudbelguith commented on #10262
Hi @BenTen,

Thanks for your feedback.

Best regards, Khouloud

[2018-09-04 08:29] khouloudbelguith commented on #10244
Hi @CArlvJ1N0N8,

Since it is fixed, I close the issue.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-04 08:29] #10244 closed, assigned to nobody

[2018-09-04 08:30] khouloudbelguith commented on #10243
Hi @CArlvJ1N0N8,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-09-04 08:34] elkeselda opened #10266 "Custom zones not working"
Hi I have a problem with zones, when I set custom zone and customer address is in custom zone, not all options are available for costumer.It also sets wrong price of the shipping method.
This happened after I modified the custom zone. (It was working for the first time) but after modification its not working anymore. Even if I delete the zone or carrier and create new one
Im using prestashop 1.7.4

[2018-09-04 08:47] khouloudbelguith commented on #10266
Hi @elkeselda,

What are the exact missing options?
Which countries are selected for this custom zones?

Best regards, Khouloud

[2018-09-04 08:51] elkeselda commented on #10266
Hi selected country is Czech republic(which has its own zone), missing option is 'test' carrier created which has all information set.

[2018-09-04 09:08] #9755 closed, assigned to CaptainYouz

[2018-09-04 09:18] khouloudbelguith commented on #10154
Hi @nalberto,

Thanks for your feedback.
I manage to reproduce the issue with the last version of the 1-click upgrade module v4.1.1 & PrestaShop 1.6.
Checked with PS1.7 => OK.
If the **allow_url_fopen** option is disabled, when I try to configure the 1-click upgrade module => error 500
![image](https://user-images.githubusercontent.com/16067358/45021960-45764680-b033-11e8-86b0-0a376ccdaa7a.png)
@Q

[2018-09-04 09:26] Quetzacoalt91 commented on #10154
I can try to catch this issue before the fatal error, but fopen is a required extension of PrestaShop.

[2018-09-04 09:26] khouloudbelguith commented on #9489
Hi @jointsystems,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-04 09:32] khouloudbelguith commented on #10154
Hi @Quetzacoalt91,

Thanks!
Yes,fopen is required: http://doc.prestashop.com/display/PS16/What+you+need+to+get+started#Whatyouneedtogetstarted-Quickset-upinstructions

Best regards, Khouloud

[2018-09-04 09:39] marionf commented on #10245
Can't reproduce

[2018-09-04 09:39] #10245 closed, assigned to nobody

[2018-09-04 09:41] marionf commented on #10251
In fact, it happens only with google chrome
On Firefox it's ok

[2018-09-04 09:41] khouloudbelguith commented on #10266
Hi @elkeselda,

I attached a video record: https://drive.google.com/file/d/1KwrWvDcTXSkt1_Kv4iDVe-AspZ1DFGiY/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-04 09:58] marionf commented on #10193
When this page will be migrated, we will need to update the link in the ps_themecusto module

![capture d ecran_243](https://user-images.githubusercontent.com/13449658/45024648-cdf7e580-b039-11e8-8e9c-793a362c8689.png)

[2018-09-04 10:27] khouloudbelguith commented on #10255
Hi @julieLOM,

Thanks for this clarifications.
I manage to reproduce this issue with the last version 1.7.4.2 & the Faceted search module v2.2.0 - by PrestaShop
The quantity of the total product is incorrect when we select two options from one filter.
https://drive.google.com/file/d/1i4-AVrNC4HpUKHzfRK3Fo_9q_1s-ZhJU/view
We will see how to fix it.

Best regards, Khouloud

[2018-09-04 11:38] khouloudbelguith commented on #9549
Hi gray,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-04 11:38] #9549 closed, assigned to nobody

[2018-09-04 11:39] khouloudbelguith commented on #9539
Hi Mehmet,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-04 11:39] #9539 closed, assigned to nobody

[2018-09-04 11:40] khouloudbelguith commented on #9541
Hi Liam,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-04 11:40] #9541 closed, assigned to nobody

[2018-09-04 11:41] khouloudbelguith commented on #9538
Hi Nathan,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-04 11:41] #9538 closed, assigned to nobody

[2018-09-04 11:42] khouloudbelguith commented on #9537
Hi Remigio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-04 11:42] #9537 closed, assigned to nobody

[2018-09-04 11:59] tuhingr commented on #10240
Server information Linux #1 SMP Wed May 2 07:43:19 EDT 2018 x86_64
Server software version: Apache
PHP version: 5.6.37
Memory limit: 512M
Max execution time: 300
Upload Max File size: 1G
MySQL version: 10.1.31-MariaDB-cll-lve

If you needs for more info then please ask me, will provide info.
BR
![no_error](https://user-images.githubusercontent.com/24760582/45029951-1cbe7300-b06c-11e8-95a0-daf1ca0a

[2018-09-04 12:10] PierreRambaud commented on #10154
@Quetzacoalt91 `test_curl` was maybe added in 1.7 (https://github.com/PrestaShop/PrestaShop/commit/af602c587529ad4350d42eb47836c8260a11ea1e) you maybe need to check if method exists before running it?

[2018-09-04 12:12] kpodemski commented on #9954
Hello everyone,

i can also reproduce this issue, more detailed steps:

1. edit product
2. fill short description with 1000+ description to cause description length error
3. try to save product, you should see an error
4. now change description and product name, save product
5. request will return empty json array instead of product data, but PrestaShop will display Success message, this is wrong,

[2018-09-04 12:37] witower commented on #9630
Just a note, Bulgaria (BG) is in European Union since 2007 ;)
source: https://en.wikipedia.org/wiki/European_Union#Member_states

[2018-09-04 12:51] marionf opened #10269 "String issue with themecusto"
**Describe the bug**
The name of the module isn't displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules manager
2. Disable module ps_themecusto
2. Click on Design > Theme & Logo > Homepage configuration
3. The name of the module isn't displayed

**Screenshots**
![capture d ecran_242](https://user-images.githubusercontent.com/13449658/45032374-eecc3500-b051-11e8-88

[2018-09-04 12:52] marionf commented on #10269
@Adrienaddons I just found this on the develop branch (future 1.7.5.0) when testing themecusto

[2018-09-04 12:56] khouloudbelguith commented on #10240
Hi @tuhingr,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-04 13:13] GerhardWG commented on #9842
Hello Khouloud!

I want to change the code, but I could not find the file. Isn't it the file
path "themes/_core/js/facets.js" and "themes/_core/js/product.js"? I'm
always wrong!
Only change this 2 files or all 4? Only the green highlighted and not the
red?

Sorry for the stupid questions of an uneducated user!

Kind regards, Gerhard

Am Di., 4. Sep. 2018 um 10:18 Uhr schrieb khouloudbelguith <
not

[2018-09-04 13:31] marionf commented on #10152
Maybe we can add it as a requirement during install process ? @eternoendless

[2018-09-04 13:31] Klemart3D opened #10271 "Wrong error when uploading favicon with bad extension"
**Describe the bug**
On fresh install of PS 1.7.4.2, a wrong error is displayed when uploading a favicon with an undesired  format (like .png or .gif): "You do not have permission to edit this." (EN) - "Vous n'avez pas la permission de modifier ce contenu." (FR)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design  > Theme & logo > Favicons menu
2. Click on 'Add a file' and add an im

[2018-09-04 13:33] Studio3Points opened #10272 "Print issue in back office"
**Describe the bug**
When you try to print something in the back office, exemple : in the order pane, click on print button or in the print function of the navigator. There are a bug in the print result. It print but it's show the left control panel (like php fonction or java text).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Order'
2. Click on a order and click on 'Print order'
3

[2018-09-04 13:39] khouloudbelguith commented on #10272
Hi @Mathorix

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10135 to solve the issue.
Your ticket is a duplicate of #9527
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-04 13:39] #10272 closed, assigned to nobody

[2018-09-04 13:39] thunt4jr commented on #10152
@marionf the problem with that was I had it on my development server before I transferred it to their server. It does show the extension that is required to be install when you install a fresh copy of Prestashop onto the server. What it doesn't show is the requirements when you transfer it. Maybe add in the Server information section in Advancement Parameters > Information what is required?

[2018-09-04 13:39] khouloudbelguith commented on #10272
Duplicate of #9527

[2018-09-04 13:42] khouloudbelguith commented on #10271
Hi @Klemart3D,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
The red alert is wrong when uploading a jpeg image.
It should be like in PS1.7.2.4.
![image](https://user-images.githubusercontent.com/16067358/45035394-25a64900-b05a-11e8-8eb9-46eb666f703f.png)

We will see how to fix it.

Best regards, Khouloud

[2018-09-04 13:59] Studio3Points commented on #10272
Hi,

Ho sorry I didn't saw :-/

Thanks a lot for the support

Best regards, Mathias

De : khouloudbelguith <notifications@github.com>
Envoyé : mardi, 4 septembre 2018 15:39
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : Mathorix <mathrix@bluewin.ch>; Author <author@noreply.github.com>
Objet : Re: [PrestaShop/PrestaShop] Print issue in back office (#10272)

Hi @

Here's the PR: #101

[2018-09-04 14:12] khouloudbelguith opened #10274 "BO: Multistore | Product quantity for all shops"
**Describe the bug**
http://forge.prestashop.com/browse/BOOM-3495 is not fixed in the develop branch.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable Multishop
2. Create two shops Shop A and shop Shop B that share quantities in a group
3. All shops selected => create a standard product & edit the quantity => save => Error

**Screenshots**
![image](https://user-images.githubuserconten

[2018-09-04 14:20] julieLOM commented on #10255
Hi @khouloudbelguith

thanks for all
keep me posted

[2018-09-04 14:21] khouloudbelguith commented on #9842
Hi @GerhardWG,

You need to edit the themes/core.js file only: https://github.com/PrestaShop/PrestaShop/pull/9335/files#diff-7f046c30bad6d48aca0de0e7d16a7033
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-04 14:22] marionf opened #10275 "UndefinedMethodException with ps_legalcompliance"
**Describe the bug**
When the module ps_legalcompliance is installed, you can see an UndefinedMethodException in Front office

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules Catalog
2. Install ps_legalcompliance
3. Go to Front office
4. See error

**Screenshots**
![capture d ecran_247](https://user-images.githubusercontent.com/13449658/45037208-bf6ff500-b05e-11e8-8e29

[2018-09-04 14:33] marionf commented on #10274
PR #9145 don't solve this issue

[2018-09-04 15:06] Quetzacoalt91 commented on #10154
Even easier. I call directly the `extension_loaded()` method. See https://github.com/PrestaShop/autoupgrade/pull/157

[2018-09-04 15:16] marionf opened #10277 "Undefined index with ps_legalcompliance"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules Catalog
2. Install ps_legalcompliance
3. Fill the field "Additional information about delivery time" and save
4. Go to Front office & click on a product
5. See error

**Screenshots**
![capture d ecran_249](https://user-images.githubusercontent.com/1

[2018-09-04 15:19] khouloudbelguith commented on #10277
Hi @marionf,

Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9587

Best regards, Khouloud

[2018-09-04 15:22] #10277 closed, assigned to nobody

[2018-09-04 15:25] manfield opened #10278 "Widgets and modules' hooks | Implicit parameter to templates"
**Is your feature request related to a problem? Please describe.**
It happens really often to be in the need of passing a parameter to an overridden module template, from a hook call. Imagine to render the same tpl file in different way if I call the same hook in two different points, passing a parameter (i.e.: smarty block for mobile and a different smarty block for desktop, needed in two differe

[2018-09-04 15:30] khouloudbelguith commented on #10278
Hi @eternoendless, what do you think about his suggestion?

Best regards, Khouloud

[2018-09-04 15:57] marionf opened #10280 "Minors regressions on logs page"
**Describe the bug**
I just found 2 minors regressions on the migrated log page

**To Reproduce**
1. Go to Advanced parameters > Logs
2. You will see checkboxes before each lines, on the legacy page there wasn't checkboxes because there isn't any bulk actions available

![capture d ecran_251](https://user-images.githubusercontent.com/13449658/45042594-5a6ecc00-b06b-11e8-9835-93b3eaa2935a.png)

![c

[2018-09-04 16:27] #9776 closed, assigned to CaptainYouz

[2018-09-04 16:45] manfield opened #16980 "No correct link for "Home" (2nd level) category"
I  tested with a fresh installed PS 1.7.5.
If I add Home category to the main menu - in order to list all product - the link is / instead of /2-home

[2018-09-04 16:59] GerhardWG commented on #9842
Hi Khouloud,

this is still same code I have. Nothing changed.

Regards, Gerhard

Am Di., 4. Sep. 2018 um 16:21 Uhr schrieb khouloudbelguith <
notifications@github.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/2043856

info@wuestengarten.at

www.wuestengarten.at

Unser Blog auf http://wuestengarten.blogspot

[2018-09-04 17:01] khouloudbelguith commented on #9842
Hi @GerhardWG,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-04 18:03] GerhardWG commented on #9842
Hi Khouloud!

Something has changed: I deleted the cache. Now the size is not changeable.
It jumps back to pre-set size.

Best regards, Gerhard

Am Di., 4. Sep. 2018 um 19:04 Uhr schrieb Gerhard Gussmagg <
wuestengarten.gussmagg@gmail.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/2043856

info@wuestengarten

[2018-09-04 18:10] tuhingr commented on #10240
Finally resolved this issue.
tcpdf.php.suspected rename to tcpdf.php
/vendor/tecnickcom/tcpdf on located.
Thanks

[2018-09-04 18:33] elkeselda commented on #10266
Hi, the problem was caused by one of my shipping modules. Thank you for your time.

[2018-09-04 18:33] #10266 closed, assigned to nobody

[2018-09-04 18:39] GerhardWG commented on #9842
Hi Khouloud!

I have wrote las mail bevore I read your mail.
I will test ist soon...

Gerhard

Am Di., 4. Sep. 2018 um 20:08 Uhr schrieb Gerhard Gussmagg <
wuestengarten.gussmagg@gmail.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/2043856

info@wuestengarten.at

www.wuestengarten.at

Unser Blog auf http://w

[2018-09-04 18:47] GerhardWG commented on #9842
Hi Khouloud!

It's done, but it still jumps back to pre-set size.

Best regards, Gerhard

Am Di., 4. Sep. 2018 um 20:45 Uhr schrieb Gerhard Gussmagg <
wuestengarten.gussmagg@gmail.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/2043856

info@wuestengarten.at

www.wuestengarten.at

Unser Blog auf http://wueste

[2018-09-04 18:55] fuga00 opened #10282 "PS 1.7.4.2 Id_country is empty"
I have a problem,

When placing an order when I fill out the address and click on it I receive error 500.

If I enable the debugger, I have:

The Address-> Id_country property is empty.

It's strange because in the address the country from default is Poland and there is no other choice.

If im am on 500error site and click back and go back to step with the address, the address is already created a

[2018-09-04 19:07] peranderssjostrom opened #10283 "Email doesn't work PS 1.7.4.2 [Solved, no bug]"
When I use the PHP email I get lot's of error messages. When I installed the shop it was OK to use PHP 7.2 but now I have

Check your configuration
Required parameters: **Please fix the following error(s)**

Optional parameters: **OK**

![skarmavbild 2018-09-04 kl 21 03 12](https://user-images.githubusercontent.com/42907000/45052024-f60d3600-b085-11e8-8b6d-141af6ced707.png)
![skarmavbild 2018-09-0

[2018-09-04 19:17] Assalea opened #10284 "Customer add address to account result in 500 error"
Hello!
Need some help with the prestashop adding an address to your account. When you sign in to your account and click "my addresses" and the "add address" when you save you new address by clicking the "save" button you are redirected to a 500 error page, even though the address is saved.

If you instead try to update your current address the sam button works and the changes is saved without any

[2018-09-04 20:14] sarjon opened #10285 "[SF Migration] Entity form management - CRUD form handlers"
type: tech-issue;
status| in-progress;
comment | CRUD form handlers - WIP and 1st pages experiment;

# PR Summary

Todo:
- [x] 1st PR which introduces major concepts, interfaces and classes (https://github.com/PrestaShop/PrestaShop/pull/10974)
- [x] Handles latest code review feedbacks such as https://github.com/PrestaShop/PrestaShop/pull/10974/files#r235738277
- [x] Write documentation about CRUD

[2018-09-04 20:18] sarjon commented on #10285
@mickaelandrieu @jolelievre your insights are more than welcome. :)

[2018-09-04 20:50] PierreRambaud commented on #10285
I like the idea =)

[2018-09-04 21:38] twazerty commented on #9880
Any idea when this will be fixed? It is really annoying I can't set my own order.

[2018-09-04 21:42] PierreRambaud commented on #10285
To persist data, you maybe need to use one action for get & post without redirect in case of failure?

[2018-09-04 22:34] viperlodz opened #10288 "Problem with the Product Attributes drop-dow 1.7.4.2"
Product attributes didn't work in the newest version.
On page with product I can see combinations and select other than default but it refreshes back to default.

I try solutions from this link: https://www.prestashop.com/forums/topic/456002-problem-with-the-product-attributes-drop-down-menu-on-shop-page/#comment-2625346

but it still didn't work.

[2018-09-05 01:07] Thinkup commented on #9842
Hello,
i have the same problem.. follow

[2018-09-05 05:00] LedCloud opened #10289 "Highlight outofstock combination"
HI!
I offer to mark the combination that is outofstock with some markup.
![outofstock_comb](https://user-images.githubusercontent.com/37952504/45071867-71ec9a00-b0e9-11e8-8307-3dcaca0cd3fc.png)

On a attached picture, size L is marked as unavailble.

Of course it could be made only on one dimensional selects.

Two dementional lists better show as a table, but it's should be another feature request

[2018-09-05 06:22] espacious commented on #10037
No one has any clue?

[2018-09-05 07:32] khouloudbelguith commented on #10282
Hi @fuga00,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9812
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-05 07:32] #10282 closed, assigned to nobody

[2018-09-05 07:33] khouloudbelguith commented on #10282
Duplicate of #9812

[2018-09-05 07:42] khouloudbelguith commented on #10283
Hi @peranderssjostrom,

About the issue [Required parameters: Please fix the following error(s)], It seems that a description is missing, and that's why it could not be listed in the "following errors".
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure

[2018-09-05 07:54] alexmano commented on #10161
@khouloudbelguith This is becoming frustrating!!! Come on, it took almost 15 minutes to barely start the progress for the installation and at 23% the stupid language pack cannot be installed. Why there is no fallback plan for this stupid language pack component ? At least default to English and try afterwords to install a language pack. The entire setup cannot continue due to this elefantic propor

[2018-09-05 08:09] khouloudbelguith commented on #10284
Hi @Assalea,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2018-09-05 08:10] ttoine opened #10290 "Favicon configuration should accept .png and other modern picture files"
**Is your feature request related to a problem? Please describe.**
Currently, the Favicon configuration in the BO is only accepting .ico file. This is the legacy way. However, many years ago, modern web browser are accepting other formats, like .png (raster) or .svg (vector), allowing transparency

**Describe the solution you'd like**
Accept other file formats

**Describe alternatives you've consi

[2018-09-05 08:16] khouloudbelguith commented on #10288
Hi @viperlodz,

Have you the same issue with this ticket: #9667?

Best regards, Khouloud

[2018-09-05 08:20] sarjon commented on #10285
@PierreRambaud that would work for sure, but i thought maybe someone knows how to split `show` & `process` actions. :)

[2018-09-05 08:29] khouloudbelguith commented on #10290
HI @ttoine,

Thanks for your report and your suggestion.
It could be a good idea to accept other formats, like .png (raster) or .svg (vector),.. when uploading the favicon.

Best regards, Khouloud

[2018-09-05 08:32] khouloudbelguith commented on #10289
Hi @LedCloud,

Thanks for your report & your suggestion.
@marionf, what do you think about this suggestion?

Best regards, Khouloud

[2018-09-05 08:33] jolelievre commented on #10285
Hello @sarjon Really nice, I like the idea of a common Controller, this will save a lot of time and help the module developers a lot. Just to be sure I get everything, compared to the previous form architecture we had:
`FormHandlerInterface` becomes `EntityFormFactory`
`FormDataProviderInterface` is split in two interfaces `EntityFormDataProvider` and `EntityFormDataHandler`

[code]

[2018-09-05 08:36] jolelievre commented on #10285
About the persist form data, I would keep the two actions, but the process can render the form when there is an error and redirects only on success
About who dispatches the hook when data is handled, couldn't it be managed by the EntityFormDataHandler? In create and update methods, we coud have a
`action{entityName}PreCreate`
`action{entityName}PostCreate`
`action{entityName}PreUpdate`
`action{ent

[2018-09-05 08:40] jolelievre commented on #10285
I was also thinking about the errors returned by the `EntityFormDataHandler` it would be cleaner to return objects/interfaces rather than arrays And the errors could have an optional propertyPath (kinda like symfony) allowing to display the error messages in-form The errors without propertyPath would still be displayed via flashMessages

[2018-09-05 08:45] sarjon commented on #10285
what i dont like about it is that developers would have to dispatch hook by hand every time they implement data handler and im sure that some handlers would do that and some wont (developer forgets to dispatch hook or some other reasons). thats why i would like it to be handled by the core. :)

[2018-09-05 08:50] khouloudbelguith commented on #10161
Hi @alexmano,

I'm sorry to hear that you're disappointed about the installation, but could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
- The issue occurs only with the language pa

[2018-09-05 08:54] marionf commented on #10289
Hello @LedCloud

When you have a combination out of stock and if you don't allow order of out of stock product, there is already a message displayed when you select the combination

![capture d ecran_258](https://user-images.githubusercontent.com/13449658/45082375-791ba400-b0f9-11e8-8166-59a8823de31e.png)

If you disable the combination, the customer can't select it and don't know why it's disable

[2018-09-05 08:54] khouloudbelguith commented on #10037
Hi @espacious,

I don't think we can do something before their feedback.

Best regards, Khouloud

[2018-09-05 08:55] jolelievre commented on #10285
you're right it would be preferable if the core manages it
then maybe `EntityFormFactory` should do it to avoid introducing another component, just like `FormHandler` did it in the previous architecture In which case the `Handler` word is more appropriate

[2018-09-05 08:56] khouloudbelguith commented on #9842
Hi @GerhardWG,

Have you the same issue with this ticket: #9667?
@Thinkup what is the exact version of PrestaShop did you use? is it 1.7.4.2?

Best regards, Khouloud

[2018-09-05 08:57] Assalea commented on #10284
Okay!

Our host i misshosting (www.misshosting.com) and put prestashop version is 1.7.1.2. We are getting this error: 500 Server Error
Oops, something went wrong.

Try to refresh this page or feel free to contact us if the problem persists.

And its reproduced by two ways:
1. Go to Discboss.se sign in to your account>”my addresses”>”add new address”>fill in the required fields>click save. Error pa

[2018-09-05 08:57] khouloudbelguith commented on #10266
Hi @elkeselda,

Thanks for your feedback.

Best regards, Khouloud

[2018-09-05 09:00] khouloudbelguith commented on #10240
Hi @tuhingr,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-05 09:00] #10240 closed, assigned to nobody

[2018-09-05 09:08] khouloudbelguith commented on #10284
Hi @Assalea,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-05 09:10] eternoendless commented on #10125
Invalid values like "-1", "0", "a" are already coerced into "1". An easy fix would be to apply that same coercion to "empty string" too. Coercing the value in the input is better than guesswork in many levels, including that it provides visual cues for the user to know how many items he or she will be adding to their cart.

I don't think there's any particular risk attached to such a change since

[2018-09-05 09:10] khouloudbelguith commented on #9880
Hi @twazerty,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
We are a fairly small team (we're hiring!), and there's an insane amount of work before us. But our goal is to make each release significantly better than the one before.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request

[2018-09-05 09:16] Thinkup commented on #9842
hi khouloudbelguith
yes i have 1.7.4.2 and php 7.0.31

[2018-09-05 09:18] alexmano commented on #10161
Hello @khouloudbelguith , sorry for the frustration...

I have found out that we are behind a proxy server and the download is somehow stopped by the proxy filters.

  I have investigated the issue further and in order for the installation to work I have updated the file prestashop_1.7.4.2\src\PrestaShopBundle\Install\Install.php and commented from line 604, check my code below:

//if (InstallSess

[2018-09-05 09:20] khouloudbelguith commented on #9842
Hi @Thinkup,

Could you please follow all steps described in this comment https://github.com/PrestaShop/PrestaShop/issues/9842#issuecomment-416567412 & feedback.

Best regards, Khouloud

[2018-09-05 09:24] Thinkup commented on #9842
yes i have already do it yesterday....

![phpinfo](https://user-images.githubusercontent.com/6209855/45084235-22649900-b0fe-11e8-837c-424703790c31.jpeg)

[2018-09-05 09:24] khouloudbelguith commented on #10161
Hi @alexmano,

Thanks for your feedback, so your issue is related to your server.
@bensnjo any news about your issue?

Best regards, Khouloud

[2018-09-05 09:27] khouloudbelguith commented on #9842
Hi @Thinkup,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-05 09:31] LedCloud commented on #10289
Of course I know about that I can disable combinations those are outofstock but what if I want to let my customers know that I would have those combinations some time later and the customers will be able to order them. In that case they will have to select the combination they needed and subscribe for the notification.

On the other hand those who want to select the available item quickly could se

[2018-09-05 09:35] Thinkup commented on #9842
i know how to put prestashotp in debug mode but not how to do the the debug mode report.
I don't find the solution in your link

[2018-09-05 09:37] khouloudbelguith commented on #9842
Hi @Thinkup,

When debug mode is enabled, and when you try to switch between combinations in the product page FO, there are no exceptions, there are no errors in your PHP log file?

Best regards, Khouloud

[2018-09-05 10:00] matks commented on #10113
Addition from the Product Team: although the field allows 255 characters to be used, make sure if the 255 chars are used that this does not break the page display. If it does, fix it using CSS.

[2018-09-05 10:30] Thinkup commented on #9842
hi

i have check the log file and i haven't a new line in the log when i try to switch between combination

[2018-09-05 10:34] khouloudbelguith commented on #9842
Hi @Thinkup,

We could not reproduce your issue with the provided information.
It will help us if you can attach a screen record.

Best regards, Khouloud

[2018-09-05 10:44] Thinkup commented on #9842
i have the same problem and the same version of GerhardWG present in this post....

on switch between combination the price don't change and the attribute (size, color, size) get back to initial value

[2018-09-05 10:52] khouloudbelguith commented on #9842
Hi @Thinkup,

Have you the same issue with this ticket: #9667?

Best regards, Khouloud

[2018-09-05 11:05] Thinkup commented on #9842
Yes the same

[2018-09-05 11:08] khouloudbelguith commented on #9842
Hi @Thinkup, we manage to reproduce the issue, it is added to our debug roadmap.
Your issue is a duplicate of #9667, please follow #9667.
Thanks!
@GerhardWG , could please confirm that you have the same issue either?

Best regards, Khouloud

[2018-09-05 11:10] Assalea commented on #10284
I am not sure how to get the PHP error log dont see it in that document. Am i going to set our prestashop version in debug mode like it says in the document?

[2018-09-05 11:14] khouloudbelguith commented on #10284
Hi @Assalea,

Yes, you need to navigate to BO > Advanced Parameters > Performance Page
In the Debug Mode section, set “Debug Mode” to “Yes”.
Click the “Save” button.
Try to repeat all the steps to save an address, check, and feedback.

Best regards, Khouloud

[2018-09-05 11:23] Assalea commented on #10284
Debug mode is now activated

[2018-09-05 11:23] Assalea commented on #10284
[PrestaShopException]
Egenskap Address->id_country är tom.
at line 944 in file classes/ObjectModel.php

939.             }
940.
941.             $message = $this->validateField($field, $this->$field);
942.             if ($message !== true) {
943.                 if ($die) {
944.                     throw new PrestaShopException($message);
945.                 }
946.                 return $error_

[2018-09-05 11:25] khouloudbelguith commented on #10284
Hi @Assalea,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9812
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-05 11:25] #10284 closed, assigned to nobody

[2018-09-05 11:26] khouloudbelguith commented on #10284
Duplicate of #9812

[2018-09-05 11:56] bensnjo commented on #10161
Hi , So far so good. I was able to install and its running smoothly. Though
am getting a 'Your website is not mobile friendly' on Google. seems some
javascript files are not loading properly.  My website is www.riftmall.co.ke
Best Regards
Benson Njoroge Kamau

On Wed, Sep 5, 2018 at 12:25 PM khouloudbelguith <notifications@github.com>
wrote:

[2018-09-05 12:14] CaptainYouz commented on #10289
Hi LedCloud. Unfortunately, attaching an onclick event to an `option` inside a `select` element is not supported by all browsers. Therefore, the scenario describe cannot be done properly.

[2018-09-05 12:28] Assalea commented on #10284
Its not says how to resolve it, the line 944 shows error in the debug mode but what am I supposed to change it too?

[2018-09-05 12:32] Thinkup commented on #9667
follow

[2018-09-05 12:34] MathiasReker commented on #10125
@eternoendless watch out. If you want to add "20" pcs then you will need to be able to empty the field and type it in. Therefore the value should not automatic change to "1" if the value is empty.

The change from empty to "1" should be done only in case of "add to cart" is clicked.

So it is not exactly the same trigger.

[2018-09-05 12:43] #10289 closed, assigned to nobody

[2018-09-05 12:48] khouloudbelguith commented on #10161
Hi @bensnjo,

Since it is fixed, I will close the ticket.
About the second issue, it is a different one, you need to create a new ticket with specific details.

Best regards, Khouloud

[2018-09-05 12:48] #10161 closed, assigned to nobody

[2018-09-05 13:05] khouloudbelguith commented on #10284
Hi @Assalea,

It is not fixed yet, it is added to our bug roadmap.
But for a quick solution, you need to navigate to your BO => International => Locations => Countries Tab => Search for your country and edit it.
In the Address format, you need to add the city field.
![image](https://user-images.githubusercontent.com/16067358/45094961-1b00b800-b11d-11e8-9085-474164d282f2.png)

Best regards, Khoulou

[2018-09-05 13:28] mickaelandrieu opened #10293 "Issues in search / export feature in migrated pages"
**Describe the bug**
Currently, the export action in Crud pages doesn't take in account the results filtered by the User.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to one listing page migrated on SF (Categories or Customers)
2. Filter the Grid using Search form.
3. Click on the Wheel, then "Export" action
4. The generated file contains all categories.

**Additionnal information**
Pr

[2018-09-05 14:02] Assalea commented on #10284
The city field was already added, so is there any other quick fix?

[2018-09-05 14:06] khouloudbelguith commented on #10284
Hi @Assalea,

Sorry no.
You need to follow #9812.

Best regards, Khouloud

[2018-09-05 14:50] #10280 closed, assigned to mickaelandrieu

[2018-09-05 14:51] TristanLDD opened #10298 "Menu animation doesn't open properly"
In the BO, when you open the lateral menu, the animation is not the same as when you close the menu:
Closing animation: 1 - text disappears; 2 - menu closes
Opening animation: 1 - text appears 2 - menu opens
Opening animation should be: 1 - menu opens; 2 - text appears when menu is fully opened
This result in a bad display of the text while the menu opens.

Steps to reproduce the behavior:
1. Go t

[2018-09-05 15:05] khouloudbelguith commented on #10298
Hi @TristanLDD,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2

Best regards, Khouloud

[2018-09-05 15:17] khouloudbelguith opened #10299 "Images aren't displayed in combinations - New product - BO"
**Describe the bug**
https://github.com/PrestaShop/PrestaShop/pull/10169 is not fixed with a new product

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new product
2. Add images
3. Click on combinations
4. Select attributes and click on Generate
5. Edit a combination
You have 0/0 images

**Screenshots**
https://drive.google.com/file/d/1oY1LFVmGESEB_4y7vhUnvzidzEUG8rxR/view

**Addi

[2018-09-05 15:19] marionf commented on #9556
https://github.com/PrestaShop/PrestaShop/pull/10169 is not fixed with a new product
Images appears only if you refresh the page

**To Reproduce**
1. Create a new product
2. Add images
3. Click on combinations
4. Select attributes and click on Generate
5. Edit a combination
You have 0/0 images

**Screenshots**
https://drive.google.com/file/d/1oY1LFVmGESEB_4y7vhUnvzidzEUG8rxR/view

**Additionnal inf

[2018-09-05 15:20] marionf commented on #10299
Duplicate of #9556

[2018-09-05 15:20] #10299 closed, assigned to nobody

[2018-09-05 15:32] marionf commented on #9556
All my condolences @PierreRambaud

[2018-09-05 16:02] tomlev opened #10300 "Cart rule with "exclude discounted products" do not work as expected"
**Describe the bug**
In BO, an option on cart rule is "exclude discounted products". But if I add discounted product in my cart on FO, and the corresponding cart rule, discount will be applied on all cart rows

**To Reproduce**
Steps to reproduce the behavior:
In BO : Create 2 products, one with a discount. Create a cart rule and check the option "exclude discounted products"
In FO add the 2 produ

[2018-09-05 16:15] khouloudbelguith commented on #10300
Hi @tomlev,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
![image](https://user-images.githubusercontent.com/16067358/45107035-958b0100-b138-11e8-9678-7b9742cc7a9a.png)

Best regards, Khouloud

[2018-09-05 16:33] mickaelandrieu opened #10301 "Symfony migration roadmap for 1.7.5"
- Sell
  - Orders
    - [x] [Invoices](https://github.com/PrestaShop/PrestaShop/pull/9230)
    - [x] [Delivery Slips](https://github.com/PrestaShop/PrestaShop/pull/9139)
  - Catalog
    - [x] Categories ([WIP only Grid view](https://github.com/PrestaShop/PrestaShop/pull/10160) by @sarjon )
    - [x] [Categories form](https://github.com/PrestaShop/PrestaShop/issues/10194)
- Improve
  - Design

[2018-09-05 16:37] PierreRambaud commented on #9556
@CaptainYouz If you want to have fun with combinations? :trollface:

[2018-09-05 16:37] jolelievre commented on #10285
So do you think it's better to have two components? One that manages the form creation via the `EntityFormDataProviderInterface`, and the other which will manage the writing via `EntityFormDataHandlerInterface` ?

[code]

[2018-09-05 16:39] jolelievre commented on #10285
although I'm not a big fan of the multi typed return.. maybe errors should be thrown? or maybe add `validateEntity` method to the `EntityFormHandlerInterface`

[2018-09-05 16:53] PierreRambaud commented on #9556
New pull request is waiting for you @marionf #10302

[2018-09-05 17:39] peranderssjostrom commented on #10283
Some news: I have installed a fresh shop in parallel with the same php version (7.2) and settings on the same server. I get OK on both the requirements and the email function works so something has happened during the migration of the old data. Can you give any hint where I should compare the email functionality and settings?

I might also add that my old 1.6.1.20 shop on the same server is workin

[2018-09-05 17:49] sarjon commented on #10285
regarding hooks, i think they are duplicate of these:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ObjectModel.php#L530
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ObjectModel.php#L600

dont you think?

also with methods `updateEntity(FormInterface $form, EntityIdentifierInterface $identifier)` and `createEntity(FormInterface $form)` it seems that passing whole `

[2018-09-05 18:00] sickboards commented on #10274
The sharing of stock does not seem relevant in my case (happens with both settings), what I do see if I change the product "customizable mug" to have combinations:
"main.bundle.js:292 POST http://.../admin/index.php/attribute/generator?_token=0kZM2Oyxy9Wast-d6V2qo2-y8I7hYOdnwcaMpYKCxZw 500 (Internal Server Error) and when updating an existing product:
"VM4311:1 Uncaught SyntaxError: Unexpected tok

[2018-09-05 18:18] jolelievre commented on #10285
About the `ObjectModel` hooks, I thought the aim of the migration was to stop using them so they wouldn't be sent twice, but we sure should use the same value for backward compatibility
also about using the `FormInterface` you're probably right, and it avoids coupling the handler with the Symfony FormInterface and it would make it more generic and allow to use it via other inputs (like json for ba

[2018-09-05 18:42] peranderssjostrom commented on #10283
Solved: The store email address was a bit faked for spam protection but I'll guess you or my web hotel has a check of the "from" email address. The thing is that your software can handle this in PS 1.6.1.20. Can you confirm that you have some email cloaking function for the visible email address I have in the footer? Is the front page spambot proof?

[2018-09-05 18:42] #10283 closed, assigned to nobody

[2018-09-05 18:58] Assalea commented on #9812
Does this issue have any solution? Have the same issue and need help!

[2018-09-05 19:03] sarjon commented on #10285
would it be such a bad idea for `EntityFormDataProviderInterface` to have `save()` and `update()` methods? 🤔 it would be the same as it is with options data providers, they have `getData` and `saveData`.

[2018-09-05 19:56] GerhardWG commented on #9842
Hi Khouloud!

I'm not 100% sure because of #9667
<https://github.com/PrestaShop/PrestaShop/issues/9667>. Fact is, I've not allow
to buy products out of stock.
Sold out variants of an item are not displayed in my shop.
If I have different sizes of an item in stock, browser IE show allways two
arrows! You can test it:
https://shop.wuestengarten.at/begleitpflanzen/geophyten/lilium-formosanum#/49-topf

[2018-09-05 20:19] GeoTimber opened #10303 "Smarty/CCC Cache still does not update version number on recompile css"
**Describe the bug**
A clear and concise description of what the bug is.

When I add a custom.css file to the YAML file of the classic theme
[code]
and I enable SMARTY cache +  CCC cache I expect the version number of the generated combined file to change when I make a change to custom.css.

Clearing the cache, deleting, restarting it, etc has no effect as far as I can see.

The file name is alway

[2018-09-06 06:00] espacious commented on #10037
Hi i know/understand, but there is no reply yet from comunity theme developers.

[2018-09-06 06:33] rnervi opened #10304 "This payment method is not available"
**Describe the bug**
shop customer chooses "pay by bank wire" or "pay by check"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'checkout'
2. Click on '4 payment'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version:  1.7.4.2
PHP version: 7.2.8

I've seen ther

[2018-09-06 07:11] jolelievre commented on #10285
you mean only one interface combining `EntityFormDataProviderInterface` and `EntityFormDataHandlerInterface` ? with `getDefaultData()` `getDataFor($id)` and `update($i, $data)` `create($data)` ? (I prefer create rather than save, it is more specific in this case)
I don't see any inconvenience to do this

[2018-09-06 07:14] Klixa-Web opened #10305 "[PrestaShopException]"
I get this, when I try to load cart page in BO:

[PrestaShopException]

Invalid address #6252
at line 444 in file classes/Address.php

439.             // if an id_address has been specified retrieve the address
440.             if ($id_address) {
441.                 $address = new Address((int)$id_address);
442.
443.                 if (!Validate::isLoadedObject($address)) {
444.

[2018-09-06 07:22] sarjon commented on #10285
lets wait for others opinion, maybe @PierreRambaud @mickaelandrieu @eternoendless or anyone else. :)

[2018-09-06 07:27] Klixa-Web opened #10306 "The email is already used, please choose another one or sign in"
**Guest checkout should be as simple as possible, even for returning customers**. The prestashop default message "An account using this email address has already been registered" is unlikely to make such customers happy.

In our research we have come across a number of entries on this topic with older PS versions. Unfortunately, there is nowhere a guide on how to fix the problem in PS 1.7. to olde

[2018-09-06 07:32] khouloudbelguith commented on #10303
Hi @GeoTimber,

Could you please delete config/themes/themename/shop1.json file to reload updated .yml file in your back-office.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-06 07:36] khouloudbelguith commented on #10304
Hi @rnervi,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestasho

[2018-09-06 07:40] khouloudbelguith commented on #10305
Hi @Klixa-Web,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9782
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-06 07:40] #10305 closed, assigned to nobody

[2018-09-06 07:40] khouloudbelguith commented on #10305
Duplicate of #9782

[2018-09-06 07:48] khouloudbelguith commented on #10306
Hi @

This issue needs to be specified.
Your ticket is a duplicate of #10122
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-06 07:48] #10306 closed, assigned to nobody

[2018-09-06 07:49] khouloudbelguith commented on #10306
Duplicate of #10122

[2018-09-06 07:59] Prestashopnewbie opened #10307 "Shop not found in classes/Shop.php"
Since a while,
I`m having some trouble with an exception that keeps comming back...
There is nothing found in the logs, debug modus doesn`t give any information... Because of the fact I relly don`t have a clue wath is causing this issue.
But the shop jumps offline, sometimes a few times a day... This is not the way I could manage a professional shop...

The exception is solved always in seconds, j

[2018-09-06 08:02] PierreRambaud commented on #10285
Agreed with @sarjon , thinking too it's a bad idea to have `save()` and `update()` when we only `save()` and we logically don't care if it's an `update` or a `insert`. Easier to save mass Entity objects without having to check if it's a new one or an update.

[code]

[2018-09-06 08:11] rnervi commented on #10304
apache log:
Wed, 05 Sep 2018  22:53:00 GMT [notice] - www.komorebisnc.it - AH00163: Apache/2.4.34  (Unix) configured -- resuming normal operations
--
Wed, 05 Sep 2018 22:53:00 GMT [notice] - www.komorebisnc.it - AH00094: Command line: '/apache/bin/httpd -D FOREGROUND'
Wed,  05 Sep 2018 21:58:00 GMT [notice] - www.komorebisnc.it - AH00163:  Apache/2.4.34 (Unix) configured -- resuming normal operati

[2018-09-06 08:14] khouloudbelguith commented on #10307
Hi @Prestashopnewbie,

The SSL option is enabled?

Best regards, Khouloud

[2018-09-06 08:20] khouloudbelguith commented on #10304
Hi @rnervi,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
If you don't have it, you should ask your hosting provider.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-06 08:23] khouloudbelguith commented on #9812
Hi @Assalea,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-06 08:24] khouloudbelguith commented on #10283
Hi @peranderssjostrom,

Thanks for your feedback.
Glad to solve your issue.

Best regards, Khouloud

[2018-09-06 08:34] jolelievre commented on #10285
I love that! It looks like what I proposed initially :P But I don't remember who was not a fan of the nullable argument (@eternoendless  or @mickaelandrieu ?)

[2018-09-06 08:37] rnervi commented on #10304
aske hoster for log.
q: where is the "debug mode report" to be found ?

[2018-09-06 08:41] khouloudbelguith commented on #10304
Hi @rnervin,

When debug mode is enabled, when you navigate to the checkout page and you try chooses "pay by bank wire" or "pay by check", there is no exception displayed?

Best regards, Khouloud

[2018-09-06 08:42] rnervi commented on #10304
exact. blank page with just This payment method is not available. upper left corner
shop is still "under maintenance" im entering as admin from backoffice to frontoffice to test

[2018-09-06 08:44] khouloudbelguith commented on #10304
Hi @rnervi,

Could you please try to re-install the payment method module and feedback.

Best regards, Khouloud

[2018-09-06 08:50] rnervi commented on #10304
removed both with "clean folder" option on.
reinstalled.
recfg both modules.
WORKED !

this installation comes from an update from 1.6
probably modules has some issues and need to be updated too

[2018-09-06 08:53] khouloudbelguith commented on #10304
Hi @rnervi;

Thanks for the feedback.
Since it is fixed, I will close the issue.

Best regards, Khouloud

[2018-09-06 08:53] #10304 closed, assigned to nobody

[2018-09-06 08:54] fanny-echo opened #10308 "Onglet "Sélection" absent (Modules et service)"
**Describe the bug**
Version de Prestashop 1.7.0.4 - Manque la section "Sélection" pour l'installation d'un plugin natif Prestashop (mail alerts).
J'ai besoin rapidement de paramétrer ce module pour la mise en ligne du site bache-pro.fr . Or il n'est pas possible d'installer Mail Alerts car la section "Sélection" n'est pas visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Dans le back

[2018-09-06 08:55] rnervi commented on #10304
ty.
just notice this fact to update team.
also I had to manually touch the table permissions (some days ago) as some menu was not opening after update (found a 1,7 table in a forum and replaced)

[2018-09-06 08:56] khouloudbelguith commented on #9842
Hi @GerhardWG,

Could you please provide me with your shop credentials to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-06 09:00] khouloudbelguith commented on #10308
Hi @fanny-echo,

What is the exact version of the ps_mbo module did you use?

Best regards, Khouloud

[2018-09-06 09:04] khouloudbelguith commented on #10304
Hi @rnervi,

This issue is reported here #9513.

Thanks & best regards, Khouloud

[2018-09-06 09:56] RomanXT opened #10309 "Cron - 'MCRYPT_RIJNDAEL_128 error 1.6.1.20"
Hello,
if cron performs actions that login on to the account:

PHP Notice:  Use of undefined constant MCRYPT_RIJNDAEL_128 - assumed 'MCRYPT_RIJNDAEL_128' in /var/www/vhosts/led-glass.eu/shop.led-glass.eu/classes/Rijndael.php on line 124

PHP 5.6.37
Prestashop 1.6.1.20
The old version of Prestashop does not have this error

[2018-09-06 09:58] khouloudbelguith commented on #10309
Hi @RomanXT,

Could you please add steps to reproduce the issue in a new comment.

Best regards, Khouloud

[2018-09-06 10:07] lunaticatecnico commented on #9903
I understand that you've had time enough to solve this issue. As Anto7880 said, the problem stills there un 1.7.4.2 and I think is kind of important to have the option to order products, it is a must in an ecommerce site.

I think all is getting worse with 1.7 version, we were fans of Prestashop but considering all errors and bugs for 1.7 we are looking other options for our clients.

Hope this is

[2018-09-06 10:10] fanny-echo commented on #10308
The exact version of ps_mbo module is : 1.0.5

Fanny

[2018-09-06 10:16] khouloudbelguith commented on #10308
Hi @fanny-echo,

You need to upgrade your module to the last version.
This issue is fixed in this PR: https://github.com/PrestaShop/ps_mbo/pull/14
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-06 10:16] #10308 closed, assigned to nobody

[2018-09-06 10:16] RomanXT commented on #10309
Used module Crontab 2.0.2 in Prestashop
- adding to server cron:
 * * * * * /usr/bin/env php "/var/www/vhosts/led-glass.eu/shop.led-glass.eu/index.php" "fc=module&module=cron&controller=cron&token=vdgi9Kry"

Then adding in crontab:
https://shop.led-glass.eu/modules/prestabay/cron.php
then he gets errors on the email

I also have added task:
- indexing
- currencies,
- comments
does not cause such e

[2018-09-06 10:21] PierreRambaud commented on #10309
Fixes in #9251 but you can also install php-mcrypt extension to remove this error :)

[2018-09-06 10:31] borisdifiore opened #10310 "Zip code error in 1.6.1.20"
Hi all,
using Prestashop 1.6.1.20 I have a error for zip code validation. The costumer is correctly registered but he see an error in the zip code
All my settings are according to zip code NNNNN
I need to have zip code for shipping
I checked all the solutions proposed on the forge but the problem persists.
Thank you in advance

**Additionnal information**
PrestaShop version: 1.6.1.20
PHP version:

[2018-09-06 10:37] khouloudbelguith commented on #10310
Hi @borisdifiore,

I did not manage to reproduce the issue with the last version 1.6.1.20.
![image](https://user-images.githubusercontent.com/16067358/45152493-77251400-b1d1-11e8-8944-4746c0c8dc26.png)
Could you please try to re-import the Greece pack again in the Localization page and feedback.

Best regards, Khouloud

[2018-09-06 10:49] borisdifiore commented on #10310
Khouloud,
installed. It seems to work now.
Thank you
You can close the issue
KR
Boris

[2018-09-06 10:52] khouloudbelguith commented on #9842
Hi @GerhardWG,

I just received the e-mail.
I checked your shop.
In the Shop Parameters / Traffic & SEO page => you edited the schema of URLs, thanks to check the issue after changing those URLs to the default one & feedback.
![image](https://user-images.githubusercontent.com/16067358/45153237-9c1a8680-b1d3-11e8-9488-ebcb74c0d9e0.png)

Best regards, Khouloud

[2018-09-06 10:53] khouloudbelguith commented on #10310
Hi @borisdifiore,

Thanks for your feedback.
Since it is fixed, I close the ticket, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-06 10:53] #10310 closed, assigned to nobody

[2018-09-06 11:15] RomanXT commented on #10309
Extension mcrypt in PHP is installed from the very beginning on the server
Also, that's not it

[root@led-glass ~]# rpm -qa | grep mcrypt
plesk-php71-mcrypt-7.1.21-centos7.18082011.x86_64
plesk-php56-mcrypt-5.6.37-centos7.18072013.x86_64
plesk-php70-mcrypt-7.0.31-centos7.18072012.x86_64

[2018-09-06 11:32] KristianI opened #10312 "Admin -> Catalogue -> "Stocks" redirects to frontpage / 404"
The bug is described in http://forge.prestashop.com/browse/BOOM-5869

BUT it even happens on a clean prestashop v.1.7.4.2 install.
Tried it on a clean database.

Got no warning etc., but clicking the "Stocks" button simply redirects to customer facing frontend.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to manager/admin
2. Click "Catalogue" -> "Stocks".
3. I am now on the customer

[2018-09-06 11:34] khouloudbelguith commented on #10312
Hi @KristianI,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2018-09-06 11:37] khouloudbelguith commented on #10309
Hi @RomanXT,

Could you please provide me the exact config of the crontab module.
You can find it into the path /PROJECT_NAME/modules/module_name/config.xml

Best regards, Khouloud

[2018-09-06 11:44] RomanXT commented on #10309
`<module>
	<name>cron</name>
	<displayName><![CDATA[Crontab for Prestashop]]></displayName>
	<version><![CDATA[2.0.2]]></version>
	<description><![CDATA[Allows modules to schedule jobs to run automatically at a certain time or date.]]></description>
	<author><![CDATA[Samdha]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<

[2018-09-06 12:08] RomanXT commented on #10309
Info from author Prestabay:
It's because PrestaBay module trigger changes to create the customer with password. For encode, password PrestaShop uses the mcrypt library. And as result, you get this error.
The most simple solution it's mute that error, so you will not see it at all (that how it's work for whole PS store). But it does not solve the issue, it just ignores it.

[2018-09-06 12:33] khouloudbelguith commented on #10309
Hi @RomanXT,

You need to apply this patch https://github.com/PrestaShop/PrestaShop/pull/9251 just suggested by @PierreRambaud

Best regards, Khouloud

[2018-09-06 12:36] Prestashopnewbie commented on #10307
SSL in enabled yes.

[2018-09-06 12:41] #9512 closed, assigned to jolelievre

[2018-09-06 12:56] kpodemski commented on #9954
More informations about one weird scenario:

1. Updated from 1.6 to 1.7
2. Configuration: PS_PRODUCT_SHORT_DESC_LIMIT = 0
3. You can't save more than 400 characters in short description, even tho you have validation to check this.
4. Change PS_PRODUCT_SHORT_DESC_LIMIT to 800, now you can save product normally.

Weird parts:
1. If you have PS_PRODUCT_SHORT_DESC_LIMIT set to 400, try to type 500 cha

[2018-09-06 13:03] khouloudbelguith commented on #10307
Hi @Prestashopnewbie,

Thanks to enable SSL on all page option in the Shop Parameters / General page, check and feedback.

Best regards, Khouloud

[2018-09-06 13:13] jolelievre commented on #10285
hello @sarjon I commented a few lines in your PR https://github.com/PrestaShop/PrestaShop/pull/10286
also I just thought about something to manage the hook dispatching (base on chat @PierreRambaud proposed), we could have a core implementation of the provider interface which would decorate the general interface:

[code]

This way the developer could focus on what his/her provider actually has to d

[2018-09-06 13:16] nbexiga opened #10313 "error in Symfony after upgrade to 1.7.4.2"
Hi

Today i updated my prestashop from version  1.7.3.2 to version 1.7.4.2 , via the upgrae module .

Everything went ok, i tested almost all the store , did purchases , emails received , etc  but i noticed when i go to the Shop Parameters -> General Option i got an error . I activated the debug mode , and the error that appear is this "Compile Error: Cannot redeclare class PrestaShopPaymentExcept

[2018-09-06 13:26] khouloudbelguith commented on #10313
Hi @nbexiga,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2018-09-06 13:30] nbexiga commented on #10313
Hi
Thanks for that detailed information.
I will do that. But how can I see after that what is the problem?
For what directory should I upload regarding my described error?

https://www.prestashop.com/forums/uploads/monthly_2018_09/errorongeneralsettings.JPG.207170fe50fce1d70497fa554e0f8b8a.JPG

https://www.prestashop.com/forums/uploads/monthly_2018_09/errorongeneralsettings2.JPG.e83156625ab63671cd

[2018-09-06 13:35] khouloudbelguith commented on #10313
Hi @nbexiga,

It describes the PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
It helps you to get information about your server.

Thanks & best regards, Khouloud

[2018-09-06 13:37] mickaelandrieu opened #10314 "DB backup should be tested"
**Is your feature request related to a problem? Please describe.**

I just notice we don't document the native "DB backup" feature in dev docs, I'm worried to do it as I have no feedback about it: does it really works as expected?

**Describe the solution you'd like**

We should be able to test it, but it looks difficult and painful: @PierreRambaud give me some link => https://stackoverflow.com/a/

[2018-09-06 13:47] RomanXT commented on #10309
Thanks, it's works without errors.

Regards
Roman

[2018-09-06 13:51] Marwazeinoo88 opened #10315 "Quelques onglets menus du BO ne se chargent pas et affiche: http 500 error"
**Describe the bug**
Je suis en mode multiboutique
Depuis un moment, je rencontre une erreur dans le back office :
Impossible de traiter cette demande via domaine.fr à l'heure actuelle.
HTTP ERROR 500

Cette erreur apparaît quand je clic sur certains onglets du menu du back-Office comme(produit, modules ou paramètre avancée)
Et ce qui est bizarre c'est que j'ai pas cette erreur en mode Debeug , en

[2018-09-06 13:51] khouloudbelguith commented on #10309
Hi @RomanXT,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-06 13:51] #10309 closed, assigned to nobody

[2018-09-06 13:53] marionf opened #10316 "FatalError on SQL Manager"
**Describe the bug**
I have a FatalThrowableError when I try to export order sql query to sql manager

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders > Orders or Orders > Credit slip or Catalog > Products or Catalog > Categories
2. Click on Export to sql manager
3. Click on Save
4. See error

![capture d ecran_282](https://user-images.githubusercontent.com/13449658/45161802-ed83

[2018-09-06 14:00] khouloudbelguith commented on #10315
Hi @Marwazeinoo88,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - apache version
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-repo

[2018-09-06 14:21] nbexiga commented on #10313
Hi
everything is green and ok except this

PHP Version | 5.6 | 7.1 | 5.6.37
-- | -- | -- | --

but....

There is other way instead of migrate to 7.1 ?

Other fix?

Because it would be very tricky to me to upgrade from 5.6 in prod.

It's a VPS and I have to install it myself .

It's not like a cpanel that it's possible only to change version..

I am running Running centos7

[2018-09-06 14:22] mortenhartvig opened #10317 "BO: Dragging (selecting text) over e.g. the order reference in order list, should not trigger clicking it."
**Describe the bug**
When you try to copy text from the order list by dragging (selecting) the text, a click should not be triggered. The order/item should not be opened.

It seems, that there needs to be a preventDefault event on the dragStart/dragEnd javascript event. Only Click/touchEnd event should open the item in the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AdminOrd

[2018-09-06 14:28] khouloudbelguith opened #10318 "It is impossible to change position of products into a category in the catalog > product page"
**Describe the bug**

It is impossible to change the position of products into the catalog => product page

**To Reproduce**
Steps to reproduce the behavior:
First scenario:
1. Go to Catalog > Products
2. Click on Filter by categories and select a category
3. Refresh the page [bug] -> #10257
4. Click on Reorder button
5. Drag & drop some products
6. Click on "Save & refresh" => Notice: Undefined v

[2018-09-06 14:32] khouloudbelguith commented on #10317
Hi @mortenhartvig,

Thanks for your report.
I manage to reproduce the issue with the last version PS 1.7.4.2.
@marionf, what do you think, it is a bug or it is a normal behavior?

Best regards, Khouloud

[2018-09-06 14:41] khouloudbelguith opened #10319 "Something is wrong with the checkbox - it can't be selected for the first time"
**Describe the bug**
In the catalog => Product page, when we try to select a product, it can't be selected for the first time, we need to click double click.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Click on Filter by categories and select a category
3. Click on the Reorder button
4. Select a product => it is not selected

1.7.4.2 => OK

**Screenshots**
htt

[2018-09-06 14:41] alu- commented on #10043
I'm also having this issue, would be nice to have it fixed.

[2018-09-06 14:47] marionf commented on #10317
It could be an improvement

[2018-09-06 15:03] ComptoirCarrelage opened #10320 "Mise à jour 1.7.4.2"
Hello,
we have a problem with the update 1.7.4.2, it shows us these problems that I attach you in attachments.
Thanks for your help.
Loïc
![erreur de mise a 1 7 4 2](https://user-images.githubusercontent.com/43040202/45166239-d47f8c00-b1f6-11e8-8326-1519a11edeae.JPG)

[2018-09-06 15:05] marionf opened #10321 "Filter by category tree on catalog page"
**Describe the bug**
The tree of category is expanded by default, it should be collpsed
And currently collapse/expand option are not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Click on Filter by categories
3. Tree is expanded instead of collapsed
4. Click on Collapse
5. Nothing happpens

**Additionnal information**
PrestaShop version: develop
PHP vers

[2018-09-06 15:09] khouloudbelguith commented on #10320
Hi @ComptoirCarrelage,

What is the exact version of the 1-click upgrade did you used.
From which previous version did you make the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-06 15:21] marionf commented on #10316
@mickaelandrieu for info

[2018-09-06 15:22] #10256 closed, assigned to nobody

[2018-09-06 15:26] Marwazeinoo88 commented on #10315
Some of the tab menu of my BO are not accessible as (  products, menu, advanced parameter..) and can not be loaded , instead i get this error:  "Impossible de traiter cette demande via domaine.fr à l'heure actuelle. HTTP ERROR 500"
I get this error Only when DEBEUG MODE is not active
When it is active , no error display!
**Console log:**
Failed to load resource: the server responded with a status

[2018-09-06 15:27] AdriCruz opened #10323 "I can not make changes in prestashop"
Hello, suddenly I can not modificate nothing from my Prestashop Back Office (upload or save products, delete or activate modules, etc). In some of the messages put something like "this functionality has been disabled" I do not know what I can do, can you help me? Thank you very much!

Version:1.7.4.2

![problem_image](https://user-images.githubusercontent.com/43041205/45167681-ef9fcb00-b1f9-11e8-8

[2018-09-06 15:37] khouloudbelguith commented on #10315
Hi @Marwazeinoo88,

About this error[ [error] (9)Bad file descriptor: apr_socket_accept: (client socket)], it is a server issue, maybe you need to upgrade the apache package, you need to check your host.
Thanks to check with your host & feedback.

Best regards, Khouloud

[2018-09-06 15:40] ALTSAT commented on #10141
Yesterday I did the new update to version v4.1.1 but the same problem remains.

[2018-09-06 15:40] khouloudbelguith commented on #10323
Hi @AdriCruz,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, thi

[2018-09-06 15:42] khouloudbelguith commented on #10141
Hi @ALTSAT,

It is not fixed yet.
It is added to our bug roadmap.

Thanks & best regards, Khouloud

[2018-09-06 15:47] Marwazeinoo88 commented on #10315
My host says it's an apache bug , and they could do nothing about it until the upgrade Apache 2.4 is available. But my host also says that this bug do not cause any dysfunction :(

[2018-09-06 15:50] khouloudbelguith commented on #10313
Hi @nbexiga,

What is the exact version of the 1-click upgrade did you used?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-06 15:51] #9509 closed, assigned to jolelievre

[2018-09-06 15:55] khouloudbelguith commented on #10315
Hi @Marwazeinoo88,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
That's why we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Best regards, Khouloud

[2018-09-06 15:59] AdriCruz commented on #10323
Done, here the feedback!

![screenshot_2018-09-06 php prestashop info](https://user-images.githubusercontent.com/43041205/45169739-85d5f000-b1fe-11e8-82b0-f2a26a4a78c4.png)

[2018-09-06 15:59] lilianamc commented on #9725
I have the same annoying issue en PS 1.7.4.2 and this fix didn't work for me :(

[2018-09-06 16:16] khouloudbelguith commented on #10323
Hi @AdriCruz,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-06 16:22] Marwazeinoo88 commented on #10315
the debeug mode report display 0 error , the error displays only when debeug mode is not active, so the page doesn't load :(( it's very frustrating i can't keep working on debeug mode for ever ! and i have no clue

[2018-09-06 16:28] khouloudbelguith commented on #10315
Hi @Marwazeinoo88,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-06 16:32] startech-france opened #10324 "the tax did not appear at the time of the settlement. back office is half in French and English"
**Describe the bug**

![capture back office](https://user-images.githubusercontent.com/43042604/45171536-f1ba5780-b202-11e8-910c-94667bcf61e8.png)
![capture paiement](https://user-images.githubusercontent.com/43042604/45171537-f1ba5780-b202-11e8-951b-19897c27793c.PNG)
I want to solve a problem
on my website.

1- I am a professional supplier all my prices are to display free taxes on the site, my a

[2018-09-06 16:39] melmelimel opened #10325 "Shipping costs calculation problem with discounts"
Bonjour,
Je suis sur 1.7.4.1. Et j'ai un souci de calcul des frais de port quand le client a un bon de réduction.
J'ai configuré les frais de port offerts à partir de 55.-
Mais quand le client a 60.- de produits et qu'il a un bon de 10.- par exemple, les frais de ports sont gratuits alors que le total est inférieur à 55. Il se base sur le total de 60.- et non de 50.

VALEUR PRODUITS : 60.-
DISCOUN