[2019-01-07 16:39] eternoendless commented on #11596
For the time being, it can be whatever you like. I think `MyCustomModule` is a better fit. Remember that you will have to configure your namespace in your composer.json for autoloading to work.

[2019-01-07 17:03] psyray commented on #11596
A good namespace is **Vendor\ModuleName**

Example :
Given the module name is **MyCustomModule** and the vendor is **Me**.
So the namespace could be **Me\MyCustomModule**
The module dir is **my_custom_module** and the module root php file is **my_custom_module.php**
Your code with the namespace is under the **src** folder in the **my_custom_module** root folder

Here a composer.json example.
[code

[2019-01-07 17:15] #11849 closed, assigned to nobody

[2019-01-07 17:21] khouloudbelguith commented on #12032
Hi @centoasa,

to more understand the issue, can you please provide us your file robots.txt.
Also, we need to know your exact attending, http://xxxx/en/module/ps_feeder/rss which is on the /modules folder so it is not indexed when we have Disallow: /modules/?
Thanks!

[2019-01-07 17:34] Bonobomagno commented on #11596
Nice tip!
This docs are pretty new, didn't saw them before

Il giorno lun 7 gen 2019, 18:03 Psyray <notifications@github.com> ha
scritto:

[2019-01-07 17:37] psyray commented on #11596
Yes it comes with the 1.7.5.0 released on middle of december.

[2019-01-07 19:58] elmanu13 commented on #9983
Hello,
Reproduced on 1.7.5.0. Any visibility for the correction ? It is not minor at all for me.
Thanks for your job !
<img width="838" alt="capture d ecran 2019-01-07 a 18 59 31" src="https://user-images.githubusercontent.com/32092528/50790295-e06f7d80-12be-11e9-8bb7-76b91fb921bb.png">
<img width="806" alt="capture d ecran 2019-01-07 a 19 01 19" src="https://user-images.githubusercontent.com/3209

[2019-01-07 20:02] elmanu13 commented on #9833
Hello guys !
Any visibility about this bug ? It's a major one for me, as my second shop prices are modified everytime I change a single word on the product..
If I can help on something, let me know !

Thanks in advance

[2019-01-07 21:25] wlauvenberg opened #12627 "Upgrade 1.6.1.23 -> 1.7.5.0 | 'database_password' => '_LEGACY******'"
Upgrade 1.6.1.23 -> 1.7.5.0
debugging states db-credentials incorrect
checked **/app/config/parameters.php** and see **'database_password' => '_LEGACYxxxxxxxx'** where xxxxxxxx is my original password
changed back to original password > error:
(1/1) PrestaShopDatabaseExceptionTable 'xxxxxxx.ps_authorization_role' doesn't exist<pre>SELECT `slug`,`slug` LIKE "%CREATE" as "add",`slug` LIKE "%READ" as

[2019-01-08 03:13] Leous88 commented on #11942
hi how i can get debug mode report ?
php error log and apache error log?

[2019-01-08 03:26] Leous88 commented on #11942
i can give you acces to server and admin profile of presta 1.7.5 if you want .. thanks !
Artículo | Detalle
-- | --
Paquete de alojamiento | plan1blue
Nombre del servidor | blue79
cPanel Versión | 70.0 (build 52)
Versión Apache | 2.4.27
Versión PHP | 5.4.45
Versión MySQL | 5.6.39-cll-lve
Arquitectura | x86_64
Sistema operativo | linux
Dirección IP compartida | 186.64.119.30
Ruta de acceso a Sendma

[2019-01-08 04:17] Akashvastarpara opened #12055 "Maintenance triggered during upgrade 1.7.4.4 -> 1.7.5.0"
I'm getting below error during upgrade version 1.7.4.4 to 1.7.5 stable - (1.7.5.0) with 1-Click Upgrade.

![upgrade-erro](https://user-images.githubusercontent.com/40850132/50809571-607efd00-132a-11e9-8ba8-1f17e0a7086e.png)

[2019-01-08 04:38] Akashvastarpara commented on #12042
I think you was right there will be moved folder into another folder by mistake. I have re-downloaded public_html folder and uploaded via ftp for new domain and followed further steps now new clone site is working.
Thanks for your time @khouloudbelguith

[2019-01-08 07:37] espacious commented on #12026
Will do today if i find some time. Will also post some logs. Thanks

[2019-01-08 07:55] khouloudbelguith commented on #12055
Hi @Akashvastarpara,

What is the exact version of the 1-click upgrade module did you use?
Thanks!

[2019-01-08 07:58] khouloudbelguith commented on #12026
Hi @espacious,

Thanks!
Waiting for your feedback.

[2019-01-08 07:59] Akashvastarpara commented on #12055
I have downloaded latest version 4.5.1

[2019-01-08 07:59] khouloudbelguith commented on #12042
Hi @Akashvastarpara,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-08 07:59] #12042 closed, assigned to nobody

[2019-01-08 08:04] khouloudbelguith commented on #12055
@Akashvastarpara, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in /autoupgrade/tmp/log.txt
Thanks!

[2019-01-08 08:05] Akashvastarpara commented on #12055
Okay. I will share with you soon.

[2019-01-08 08:18] Akashvastarpara commented on #12055
there is no folder with /autoupgrade/tmp inside autoupgrade.

[2019-01-08 08:19] khouloudbelguith commented on #11942
Hi @Leous88,

To turn on the Debug mode on PrestaShop 1.7, follow these steps:

1. Got to Advanced Parameters > Performance
2. In the Debug Mode section, set “Debug Mode” to “Yes”.
3. Click the “Save” button.

Sometimes you just don’t know what’s wrong: something’s not happening, that’s all.

That’s where log data can be helpful. They keep track of what is happening and allows to trace back to the

[2019-01-08 08:21] khouloudbelguith commented on #12055
@Akashvastarpara, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-01-08 08:22] khouloudbelguith commented on #11942
@Leous88, did you checked that the `iconv` extension is enabled on your server?

[2019-01-08 08:31] Bonobomagno commented on #11596
about doctrine, you used your own module config.yml or prestashop one? Becouse i think that prestashop one can work easly, but would be nicer to have module one too.

[2019-01-08 08:34] khouloudbelguith commented on #9983
Hi @elmanu13,

The issue is not fixed yet, it added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your understanding!

[2019-01-08 08:36] khouloudbelguith commented on #9833
Hi @elmanu13,

Sorry not yet.
We have a lot to do to fix multistore issues.
Thanks!

[2019-01-08 08:40] psyray commented on #11596
I use the prestahop one.
Currently prestashop doesn't read any config file in the module dir. I think it's the main purpose of this issue, give the ability of set and read a module configuration file.

[2019-01-08 08:53] Akashvastarpara commented on #12055
I have shared log file via mail. Can you please check for the same?

[2019-01-08 09:08] marionf commented on #9763
When I have only one store and I install the theme it's ok:

![capture d ecran_877](https://user-images.githubusercontent.com/13449658/50820463-06cc0200-132d-11e9-9dcc-a8ee2af54373.png)

When I am in multistore and install the same theme on the second shop, some modules are not correctly displayed (shopping cart, search bar, menu, block currency and block languages, customer "sign in' link)

![cap

[2019-01-08 09:13] Klemart3D opened #12056 "[PHP Notice #8] Undefined index: value (classes/webservice/WebserviceOutputXML.php, line 128)"
**Describe the bug**
On Prestashop webservice from 1.6.1.x to 1.7.5.x, when I'm requesting URL "/api/customers/2", I have the following warning:

Customer n°01 (default "John DOE" customer) is queryable successfully, but not others.

I'm not on a fresh install of Prestashop and I overrided some tables and classes, so I think you can't reproduce this error but, anyway, it's important to test if a v

[2019-01-08 09:14] khouloudbelguith commented on #12055
@Akashvastarpara; thanks!
I just received the email.
I will check & feedback.

[2019-01-08 09:14] Akashvastarpara commented on #12055
Thanks in advance. @khouloudbelguith

[2019-01-08 09:16] marionf commented on #11946
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

![capture d ecran_878](https://user-images.githubusercontent.com/13449658/50821010-61

[2019-01-08 09:16] #11946 closed, assigned to nobody

[2019-01-08 09:17] Klemart3D commented on #12056
PR: https://github.com/PrestaShop/PrestaShop/pull/12057

[2019-01-08 09:20] Goalfair opened #12058 "Access denied for SuperAdmin after update from 1.6 to 1.7.5"
I updated from PS 1.6 to **1.7.5** and I am experiencing the "Access denied" error for SuperAdmin as described here:

https://github.com/PrestaShop/PrestaShop/issues/9513
https://www.prestashop.com/forums/topic/876786-solved-prestashop-17-access-denied-as-admin-in-bo/
https://www.prestashop.com/forums/topic/600537-ps-17-access-denied-in-design-pages-as-superadmin/
https://www.prestashop.com/forums

[2019-01-08 09:25] khouloudbelguith commented on #12056
Hi @Klemart3D,

Thanks for your report & your fix.
But I did not manage to reproduce the issue with PS1.7.5.0 /PS1.6.1.23.
I attached a video record.
https://drive.google.com/file/d/1vGGKc2JQQHKhOVbDT8YP9Eq2vvhspQSU/view
What is the exact version PHP did you use?
Thanks!

[2019-01-08 09:26] nrcjea001 commented on #9763
In my case, I installed the classic theme on various different shops in multistore and all was ok.

I then installed a new theme (purchased from a premium developer / Prestashop partner) on one of my stores. After that, the new theme modules displayed correctly but the modules of my main store with classic theme installed did not display correctly.

[2019-01-08 09:31] casperh1nl opened #12059 "Webpack encore support or basic theme updates."
**Is your feature request related to a problem? Please describe.**
I am bad at webpack so i usually use webpack encore. The best feature from that is the versioning of the output files. The rest is also useful, not to have to write the configs for the entire setup and develop wilt local source maps and other helpful things.
https://symfony.com/blog/introducing-webpack-encore-for-asset-management

[2019-01-08 09:45] khouloudbelguith commented on #12058
Hi @Goalfair,

For the access denied page => you need to remove 'ps_access' table and restore 'ps_access' from 'clean' DB to solve your issue.
About the "Clear cache" issue, it is a permission issue => you need to change the file permissions of all directories to 777.
You can navigate to your BO => Advanced Parameters => Information => Check your configuration => Required parameters: OK/NOK.
Thank

[2019-01-08 09:49] bogdanmoisin commented on #11949
Thank you very much.

Have a nice day!

 <http://www.mbtconcept.ro/>

From: khouloudbelguith <notifications@github.com>
Sent: Monday, January 7, 2019 10:22 AM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Bogdan Moisin <bogdan.moisin@mbtconcept.ro>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] bug Use of undefined constant when the website needs to send

[2019-01-08 09:54] grabelle commented on #11773
Hi,
Sorry but the problem is still there on 1.7.5.0 ... do you plan to fix this or should we go back to 1.6 version ?
Thx for your support

[2019-01-08 09:56] Akashvastarpara commented on #12055
@khouloudbelguith  I have found log.txt inside admin folder and shared via mail. I hope it will be helpful.

[2019-01-08 10:07] khouloudbelguith commented on #12059
HI @casperh1nl,

Thanks for your report.
@PrestaShop/prestashop-core-developers, @eternoendless what do you think about his suggestion?
Thanks!

[2019-01-08 10:10] Prestaworks opened #12061 "Product images in multishop"
**Describe the bug**
If you run multishops, and have one product in both shops but different images in the two shops. There is no way in the BO to see what images are connected to what shop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product in BO
2. Select one of your two multishops in the context.
3. Upload a new image
4. In the front end, the images is only displayed in the c

[2019-01-08 10:13] khouloudbelguith commented on #11773
Hi @grabelle,

In the PS1.7.5 we have made some SEO improvement.
About the bad URL when the product has combinations, we have this issue #9784, it is added to our bug roadmap.
Thanks!

[2019-01-08 10:45] TristanLDD commented on #11332
Hello !

I suggest that we add an information message on each brand and suppliers tabs to inform the user about the default display on his front office, and to redirect him on the page where he can now change his preferences for both:

![brands_info](https://user-images.githubusercontent.com/27484094/50826000-d4290600-133a-11e9-9196-fb15f87b30b2.png)
![suppliers_info](https://user-images.githubuse

[2019-01-08 10:50] Klemart3D commented on #12056
Not the same for me. Customer 01 ("John Doe") is queryable by API but not others, see attach:

![api-error](https://user-images.githubusercontent.com/7419525/50826127-1e11ec00-133b-11e9-8f83-b564a7d07b3d.gif)

My PHP version is 5.6.38, all my PS config is OK:

![config-ps](https://user-images.githubusercontent.com/7419525/50826269-6fba7680-133b-11e9-878f-b3e3661878e8.png)

[2019-01-08 10:54] centoasa commented on #12032
Also, we need to know your exact attending, http://xxxx/en/module/ps_feeder/rss which is on the /modules folder so it is not indexed when we have Disallow: /modules/?---> it's right!

[2019-01-08 10:55] Goalfair commented on #12058
Thanks, I was hoping someone would know (also for the benefit of others reading this) what to add/change to the _access table, because otherwise I now have to set up an entire new instance of prestashop 1.7.5 just for the purpose of taking the one table I need.

I read about folder/file permissions and it seems 777 is not recommended for security reasons?

Advanced Parameters => Information is tel

[2019-01-08 10:55] centoasa commented on #11786
it's possible disallow robot to add suppliers to search engine?
How to?

[2019-01-08 10:56] khouloudbelguith commented on #12061
Hi @Prestaworks,

Thanks for your feedback
I manage to reproduce the issue
when a specific shop is selected in the BO => Product detail page => all the images are displayed for the different shops.
![image](https://user-images.githubusercontent.com/16067358/50826625-6f6eab00-133c-11e9-9047-f10030e5774f.png)
In FO => OK.
Thanks!

[2019-01-08 11:00] khouloudbelguith commented on #12056
Hi @Klemart3D,

What are the exact details for this customer
- Social title
- First name
- Last name
- Email
- Birthdate
- Any other information?
Thanks!

[2019-01-08 11:06] TristanLDD commented on #10190
@tomas862  Yes it should be integrated in the form :)

[2019-01-08 11:07] khouloudbelguith commented on #12058
@Goalfair, thanks for your feedback, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) & change the file permissions for the var/cache to 777, so you can clear cache.
Thanks to check and feedback.

[2019-01-08 11:08] khouloudbelguith commented on #12032
@centoasa, thanks for your feedback.
Can you please provide us your file robots.txt
Thanks!

[2019-01-08 11:09] Klemart3D commented on #12056
Well, I found why. It's because in my database, unset values are set to 'NULL' for all my customers except for first default user "John DOE" unset values are empty. See attach:

![database-customer](https://user-images.githubusercontent.com/7419525/50827137-f40df900-133d-11e9-85ac-4d7ce7b0b5df.png)

It's better resource consumption to set a NULL value in place of empty value. I don't know why they

[2019-01-08 11:16] khouloudbelguith commented on #12055
@Akashvastarpara, could you please try to increase the max_execution_time in your server.
Also, you have issues with the `wirecardceecheckoutseamless` module => it is not compatible & you have a critical error with the `seowizardmodule`, you need to remove those modules before the upgrade.
Thanks!

[2019-01-08 11:17] centoasa commented on #12032
https://drive.google.com/file/d/1USMQMqw027LwsHlvBoHUoNSXn1Ej_3w-/view?usp=sharing

[2019-01-08 11:23] shirokoweb opened #12062 "Combinations not displayed in BO"
**Describe the bug**
We had an issue with variable products in 1.7.4.4, when selecting an attribute on FO, an error was thrown :
[code]
We tried fixes and patches suggested on #9390 but no luck.
Upgraded to 1.7.5 as it was supposed to solve the known bug.
1.7.5 solved the FO issue (**but made combinations selection very slow**), now the issue is on BO : combinations do not show.

**To Reproduce**

[2019-01-08 11:25] khouloudbelguith commented on #12056
@Klemart3D, did you enabled B2B option?
In my case, I just have an empty value for "company", "siret", "ape".
![image](https://user-images.githubusercontent.com/16067358/50828045-84e5d400-1340-11e9-864e-954ef425213c.png)
Thanks!

[2019-01-08 11:36] Quetzacoalt91 commented on #12055
I wonder if you have an issue on the client side (with javascript). Could you please open the browser console, and check the errors which could appear during the upgrade process? Thanks.

[2019-01-08 11:40] khouloudbelguith commented on #12062
Hi @shirokoweb,

Could you please run those requests SQL on your Database & feedback.

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_lastname` `employee_lastname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_order_detail` CHANGE `product_supplier_refere

[2019-01-08 11:44] khouloudbelguith commented on #12062
@shirokoweb, you can change those types manually in your database "Structure" tab.
![image](https://user-images.githubusercontent.com/16067358/50828925-17877280-1343-11e9-8aa3-d86294e92abb.png)

[2019-01-08 11:45] khouloudbelguith commented on #12062
Duplicate of #11825

[2019-01-08 11:45] #12062 closed, assigned to nobody

[2019-01-08 11:46] khouloudbelguith commented on #12032
ping @marionf what do you think?
Thanks!

[2019-01-08 11:58] Akashvastarpara commented on #12055
@khouloudbelguith I will remove this modules and How much execution time need to set?

@Quetzacoalt91 Will check console log during upgrade and update you for the same.

Thank you both.

[2019-01-08 12:40] Akashvastarpara commented on #12055
@Quetzacoalt91

![upgrade-error](https://user-images.githubusercontent.com/40850132/50831355-98109800-1370-11e9-961f-8f95ab511a02.png)

[2019-01-08 13:03] khouloudbelguith commented on #12012
@krasnycz, to more understand how to reproduce your second issue, can you open a new one with more information about your configuration, because it is a different issue.
Thanks!

[2019-01-08 13:22] colinegin commented on #12047
Hello,

It was not the expected behaviour indeed. If the merchant chooses to close the pop-up, it should not be displayed again. @PrestaShop/prestashop-core-developers @eternoendless  Do you think we could add this bug fix to the 1.7.5.1 roadmap ?

Thanks !

[2019-01-08 13:24] grigorevlad opened #12064 "After changing product attribute, thumbnails scroll is not working."
Fresh 1.7.5 installation.
After changing an attribute that has other product pictures assigned it it, thumbnails scrolling is not working on quick view or in product page.

Te reproduce:
1. Go to product page
2. Select an attribute that changes product pictures
3. Click on cover image to open photos zoom
4. Try to scroll thumbnails by clicking arrows

![issue](https://user-images.githubusercontent

[2019-01-08 13:29] jolelievre opened #12065 "Create an AbstractCollection class to manage all collections"
### Description of the need

In various places of PrestaShopCode we use `Collections`, they are usually strongly typed
and we need to implement them each time, meaning losing time and duplicating code.

Collection Examples:
- PrestaShop\PrestaShop\Core\Backup\BackupCollection
- PrestaShop\PrestaShop\Core\Addon\Theme\ThemeCollection
- PrestaShop\PrestaShop\Core\Addon\AddonsCollection
- PrestaShop\P

[2019-01-08 13:36] khouloudbelguith commented on #12064
Hi @grigorevlad,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & ps1.7.4.4.
We will see how to fix it.
Thanks!

[2019-01-08 13:38] espacious commented on #12026
So to make it a bit more clear:

Steps to reproduce:
Install PS 1.7.3.1
Install Volga(1st layout) - MegaShop Responsive Prestashop 1.7 Theme
https://themeforest.net/item/volga-megashop-responsive-prestashop-17-theme/21055696
Update to 1.7.5.0
Go to SEO & URLs page and try to save, you will get:

Keyword "{id}" required for route "xipblog-archive-wid-module" (rule: "blog/category/{rewrite}.html")
K

[2019-01-08 13:40] khouloudbelguith commented on #12026
Hi @espacious,

Thanks for this clarifications.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!
I close the issue, feel free to open a new one when needed.

[2019-01-08 13:40] #12026 closed, assigned to nobody

[2019-01-08 13:42] Klemart3D commented on #12056
@khouloudbelguith Yes:
![b2b-mode](https://user-images.githubusercontent.com/7419525/50833739-87512980-1352-11e9-9b45-cc77dbba42d0.png)

[2019-01-08 13:45] khouloudbelguith commented on #12056
@Klemart3D, I tried to enable the B2B option & I created a customer => but I did not have `null` in my database.
Yes, it could be a problem, with a fresh installation 1.7 / 1..6, I did not manage to reproduce the issue.
Thanks to remove this override, check & feedback.

[2019-01-08 13:55] espacious commented on #12026
Hmm, now i found sth. intresting i think! Take a look at this screenshoot:
I think this is the problem but cant figure out where to change those values !? database?

![bug](https://user-images.githubusercontent.com/39135335/50834855-66d69e80-1355-11e9-8f71-cd3c66149be9.jpg)

[2019-01-08 13:57] marionf commented on #12032
It's the normal behavior if ps_feeder is not indexed because you have Disallow: /modules/ in your robotos.txt file
If you want it to be indexed you should edit your robots.txt file

[2019-01-08 14:03] Klemart3D commented on #12056
I disabled all non Prestashop modules and all overrides but still the same. Each new Customer have 'NULL' values by default. I tried update some fields from customer account (like add a company name) then delete it and 'NULL' value is coming back.

I disabled B2B mode and redo same edits but still the same too. Cache cleaned. Debug mode enable/disabled. No core file modified.

[2019-01-08 14:05] jolelievre commented on #11332
nice idea
But do we always show these messages? If the setting has already been modified it can be confusing
Let's imagine you enable display Supplier but the information card tells you it is hidden by default..

[2019-01-08 14:08] khouloudbelguith commented on #12056
@Klemart3D, after those modifications, if you create a new customer, the new fields will be `Null` also?
Thanks!

[2019-01-08 14:09] Quetzacoalt91 commented on #12055
That's an interesting case! The error 503 is quite uncommon, and does not come from PHP itself in that case.

I see that you're running Varnish on your website, and this could be the cause. Each step of the upgrade process is made by calling the same script over & over. The purpose of Varnish is to cache the result of a script and return it quickly if PHP cannot answer in a short amount of time.

[2019-01-08 14:13] Akashvastarpara commented on #12055
Thanks for reply.
How can I disable it?

[2019-01-08 14:13] eternoendless commented on #12065
What about https://github.com/doctrine/collections/ ?

[2019-01-08 14:16] Quetzacoalt91 commented on #12055
That's a question I cannot answer unfortunately, as it depends on your environment and how it was installed. Sometimes this can be managed directly from the command line, sometimes with the administration panel of your hosting service...

[2019-01-08 14:17] khouloudbelguith commented on #12026
@espacious, you need to check if you have an override of the Dispatcher.php class, where you can find the rule for those blog.
Thanks!
By default, those rules are defined in the ProjetPrestaShop/classes/Dispatcher.php, for example the category rule => https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Dispatcher.php#L56

[2019-01-08 14:17] Klemart3D commented on #12056
@khouloudbelguith Yes by default, for each new customer, all empty fields are set to 'NULL', also 'note', 'birthday' or 'ip_registration_newsletter'.

[2019-01-08 14:18] jolelievre commented on #12065
I looked into it, it covers our needs except for strong typing and type checking
So I think we still need our custom collection but it's a good place to start

About the associative issue I suggested they didn't manage it, they simply unset the removed element, I guess we can have the same approach

https://github.com/doctrine/collections/blob/73b0d9ac2fd3d5aecc94f1e217b408fe59e3d265/lib/Doctrine/

[2019-01-08 14:18] Akashvastarpara commented on #12055
May the hosting person can help me to disable it?

[2019-01-08 14:34] Quetzacoalt91 commented on #12055
Indeed, if you did not configure your environment, somebody did it for you and will be the most suitable contact for this task.

[2019-01-08 14:48] krasnycz commented on #12012
@khouloudbelguith Well with help of cloudways support team we were able to identify the issue. It happens even on clean install when try upgrade. There is lot of reports on this in past 2 years and PS dev team is simply ignoring those reports. See the reports and temporary solution at

https://www.prestashop.com/forums/topic/568331-17-cant-access-product/

[2019-01-08 15:01] Akashvastarpara commented on #12055
Thank you so much for your help and valuable time.

[2019-01-08 15:08] centoasa commented on #12032
Sorry I was not clear.
My question was: why robot file disallow modules folder, instead (for example) ps_feeder is in module folder? I don’t want search engine index my feed, so I think robot would have disallow module folder (it’s right?)

[2019-01-08 15:08] khouloudbelguith opened #12068 "Strange behavior when we are moving the mouse under the "Status" label"
**Describe the bug**
The window size 1270px * 899px, in the BO => Product list page => when we are moving the mouse under the status "label" a strange behavior is displayed.

**To Reproduce**
Steps to reproduce the behavior: window size 1270px * 899px
1. Go to BO => Products page
2. Move with the mouse under the label "Status"
3. See error

**Screenshots**
https://drive.google.com/file/d/17NzbfxZz

[2019-01-08 15:20] khouloudbelguith commented on #12056
@Klemart3D, so the issue is not a PrestaShop's core bug but most likely a customization problem.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-01-08 15:21] khouloudbelguith commented on #12055
Hi @Akashvastarpara,

So, can I close the issue?
Thanks!

[2019-01-08 15:29] RomanXT opened #12070 "Wrong language link on mail when change order status on BO - only mass update"
There was a problem with links in emails when changing the status of the BO.
Part of the problem was removed by the amendment:
https://github.com/PrestaShop/PrestaShop/pull/4393/files

Now the problem of links has been with mass status changes
![2019-01-08_162812](https://user-images.githubusercontent.com/43031929/50840317-7d372700-1362-11e9-9bec-92440969ed3d.png)

[2019-01-08 15:40] khouloudbelguith commented on #12070
Hi @RomanXT,

Could you please add steps to reproduce the issue in a new comment.
What is the exact version PrestaShop did you use?
Thanks!

[2019-01-08 15:40] Akashvastarpara commented on #12055
I will update once repeat the upgradation after disabling Varnish as suggested by @Quetzacoalt91

[2019-01-08 15:43] RomanXT commented on #12070
Prestashop 1.6.1.20
Email template default

1. I mark orders
2. mass actions
3. change the order status
4. I choose the status
5. status update
then in email there are links not in the language of the order / customer

Customer from DE gets:
https://shop.led-glass.eu/pl/moje-konto
This is correct:
https://shop.led-glass.eu/de/mein-konto

[2019-01-08 15:44] polo195pl opened #12071 "Faceted search -> RuntimeException"
**Describe the bug**
Faceted search not work

**To Reproduce**
I made update from 1.7.4.3 to 1.7.5.0 without error's
Go to category page
Select variables from filters
In console have 500 error ->
Trying to unset the index id of the LazyArray PrestaShop\PrestaShop\Adapter\Presenter\Product\ProductListingLazyArray already defined by a method is not allowed

**More info**
When i copy GET url from req

[2019-01-08 15:54] khouloudbelguith commented on #12071
Hi @polo195pl,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0 after upgrade from PS1.7.4.2.
What is the exact version of the ps_facetedsearch did you use?
THanks!

[2019-01-08 15:58] TristanLDD commented on #11332
@jolelievre Indeed, it can be confusing if the messages are still there after the merchant changed his preferences.

The easy solution would be to redirect to the parameters page without specifying the default state, so the message is still helpful without being confusing

The more complicated solution would be to link the wording of the message to the state of the setting so the merchant knows if

[2019-01-08 16:16] 123monsite-regis commented on #11126
hi @khouloudbelguith ,
sorry according to me issue that you referenced here is not similar,

i use nowadays
[code]
to rely errors from `hookActionProductUpdate` to new Symfony product controller, but it is not really a clean way.

@maofree maybe you found a proper way ?

[2019-01-08 16:16] khouloudbelguith commented on #12070
@RomanXT, thanks for this clarifications.
I managed to reproduce the issue with PS1.6.1.23.
![image](https://user-images.githubusercontent.com/16067358/50843069-4fed7780-1368-11e9-8619-bb373087f99c.png)
![image](https://user-images.githubusercontent.com/16067358/50843356-d2763700-1368-11e9-9c2c-32ec63e3d2cb.png)
But, it is OK with PS1.7.5.0,
![image](https://user-images.githubusercontent.com/16067

[2019-01-08 16:16] #12070 closed, assigned to nobody

[2019-01-08 16:16] mickaelandrieu commented on #12065
This is the main reason I haven't introduced an abstraction for our collections as one of the biggest advantages is to be able to validate what we manipulate (add, remove, get) on our collection and avoid the shameful `foreach($items as $item) { if ($item instanceof Foo) { doStuff() }}` in our code.

From this point of view, removing the strong typing make collections useless compared to a simple

[2019-01-08 16:25] Goalfair commented on #12058
I cleared the cache manually and set permissions of var/cache to 777. However in PS-Dashboard it still says "You do not have permission to update this" whenever I click on "clear cache".

I also created a new prestashop instance, took the _access table from there and imported it to my actual database. However this did not really solve the problem with the "Link Widget" (Dashboard menu item "Design

[2019-01-08 16:35] fouad1962 opened #12072 "Il y a 1 erreur Une erreur s'est produite pendant l'envoi du message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-01-08 16:35] RomanXT commented on #12070
Poor customer approach, we've spent just over 2,000 euros on the add-ons in your store.
We have a very improved shop and now I have to change to the shit version 1.7??, NO thanks.

[2019-01-08 16:38] Partenopeo83 opened #12073 "Payment Module fire postProcess twice (random)"
Hi,
i have a strange issue with my custom paymentmodule, i don't know if a problem of PS or my.
I have create for my PS 1.7.4.2 a paymentmodule same documentation specification. But random, i can't reproduce the issue, the order with this method are duplicate. Same customer, same products in the same time. Differences are id order and reference.
Apparently, the function postProcess() in payment mo

[2019-01-08 16:40] khouloudbelguith commented on #12072
Hi @fouad1962,

We manage to reproduce the issue.
Your ticket is a duplicate of #9566
So, I close it.
Thanks!

[2019-01-08 16:40] #12072 closed, assigned to nobody

[2019-01-08 16:40] khouloudbelguith commented on #12072
Duplicate of #9566

[2019-01-08 16:43] khouloudbelguith commented on #12073
Hi @Partenopeo83,

Have the same issue with this ticket: #11487?
Thanks!

[2019-01-08 16:48] Klemart3D commented on #12056
That's not come from any module because I all disabled them, I disabled all overrides too but I continue to reproduce the issue.

[2019-01-08 16:51] khouloudbelguith commented on #12056
@Klemart3D, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-08 16:52] khouloudbelguith commented on #12058
@Goalfair, about the issue of "access denied" after upgrade from PS1.6 to PS1.7, there is an issue with more details still open not fixed yet, you can follow this link: https://github.com/PrestaShop/autoupgrade/issues/100
 About your permission issue when clearing cache, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get thi

[2019-01-08 16:58] Partenopeo83 commented on #12073
Hi,
yes is the same thing but not with paypal but with my payment module. customer, product and cart is the same change only id and reference

[2019-01-08 16:59] Madalina-nadari opened #12075 "Product changes of quantity are not being saved - prestashop 1.7.5."
**Describe the bug**
When I try to modify the stocks of product, I get a "Changes saved" message, but the quantity is not changed. I tried to modify the quantity form "Stocks" and also from Products, but does not work.
Any other change to the product saves just fine.
I've just made an upgrade from 1.7.4.3 to 1.7.5.0.
I've emptied the cache, disabled cache, checked permissions....nothing worked.

*

[2019-01-08 17:04] khouloudbelguith commented on #12073
@Partenopeo83, Could you please provide me your custom module to test with it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-01-08 17:04] khouloudbelguith commented on #11487
Duplicate of #12073

[2019-01-08 17:04] #11487 closed, assigned to nobody

[2019-01-08 17:07] khouloudbelguith commented on #12075
Hi @Madalina-nadari,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.

[2019-01-08 17:07] marionf commented on #12032
If I well understand, you want module folder to be indexed except ps_feeder module, right ?

[2019-01-08 17:16] centoasa commented on #12032
I think it would be better exclude full module folder

[2019-01-08 17:22] marionf commented on #12068
@khouloudbelguith

I can't reproduce this issue

https://drive.google.com/file/d/1d6LzwP_B0ObTkTxwo1ev1NxhxVUVRCxB/view?usp=sharing

[2019-01-08 17:32] jolelievre commented on #12065
@mickaelandrieu yes that's exactly what I had in mind, except the type checking could be optional so it would be something like:

[code]

But what bothers me with `public function add($item)` in the abstract is that you lose the strong typing in the prototype of the child class.

About what you said for addBefore/addAfter indeed it might not be needed for all collections, but we can implement thes

[2019-01-08 17:34] marionf commented on #12032
Your ps_feeder module isn't indexed by Google currently

![image](https://user-images.githubusercontent.com/13449658/50848340-4d911a80-1374-11e9-82aa-848417931539.png)

[2019-01-08 17:41] polo195pl commented on #12071
Hi @khouloudbelguith i have  2.2.1

[2019-01-08 17:49] polo195pl opened #12078 "BO: Price was changed from 8,20 to 8,199999 when I save - Same for the unit price"
**Describe the bug**
Price change

**To Reproduce**
Steps to reproduce the behavior:
1. Install 1.7.4.x -> 1.7.7.0
2. Go to add new product
3. Type price without tax: 8,20
4. Click textarea or anything but didnt get out
5. Look at price it is 8,1999999

**Screenshots**

https://drive.google.com/file/d/1_ErIqOLLnGueEiUnIGw3wRP8qElIVJA5/view

**Additionnal information**
PrestaShop version: from 1.7.

[2019-01-08 18:20] centoasa commented on #12032
the point is not ps_feeder, but the /module folder
as you can see here https://s.nimbusweb.me/share/2422954/f1dzqudxds8m4fnw76w2 google bot index the /module folder

[2019-01-08 20:48] V41F commented on #15203
Hi @Quetzacoalt91 ,
I tried to update on 1.7.5. the result is still the same. Did you find something in log file?
thx a lot.
Lukas

[2019-01-09 00:38] BenTen opened #12080 "Deactivate "display tax" for carrier"
Hello,

I deactivated **display tax** on my project by the BO and my theme.
Unfortunately, the tax label in the part "shipment method" during checkout is always display.

The only way to deactivate it, it's to totally deactivate tax.

I searched on the forum and fount the solution: https://www.prestashop.com/forums/topic/868605-solved-remove-tax-included-on-price-showed-on-carrier-selection-ps174/

[2019-01-09 06:28] Madalina-nadari commented on #12075
Hi, I'll try to give as much information I can.
Host  - Hostx
Server setup: Operating system - Linux
Type and version of webserver  - Apache
Version of PHP 5.6.39
Version of MySQL 5.6.42-cll-lve
Prestashop version 1.7.5.0
Browser: Chrome, Edge

ERROR LOG:
[08-Jan-2019 18:29:03 Europe/Bucharest] PHP Notice:  Undefined index: content_global in /home/nadariro/public_html/nadari-toys.ro/var/cache/prod

[2019-01-09 08:04] khouloudbelguith commented on #12078
Hi @polo195pl,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 / PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1_ErIqOLLnGueEiUnIGw3wRP8qElIVJA5/view
We will see how to fix it.
Related to #9972
Thanks!

[2019-01-09 08:19] khouloudbelguith commented on #12080
Hi @BenTen,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9773
So, I close it.
Thanks!

[2019-01-09 08:19] #12080 closed, assigned to nobody

[2019-01-09 08:19] khouloudbelguith commented on #12080
Duplicate of #9773

[2019-01-09 08:28] marionf commented on #12032
I don't understand, you was talking about ps_feeder ?
What is this screenshot ?

[2019-01-09 08:34] BenTen commented on #12080
my bad, I didn't found this topic when I searched it before create mine, maybe because it's in French, sorry.

[2019-01-09 08:42] khouloudbelguith commented on #12068
Hi @marionf,

What is the exact version Chrome did you use?
Thanks!

[2019-01-09 08:55] QuatorzeJr opened #12081 "Problem recomputing order price"
-----------------------------------------[EN]-----------------------------------------

Hello,
I set up the Colissimo module of Common Services with a dedicated Colissimo carrier created in Prestashop to offer delivery for a basket over 100 € for all orders placed in France.

That is to say that when a user buys a product at 140 euros with a coupon code of 30% (excluding delivery costs), the order

[2019-01-09 09:02] marionf commented on #12068
Version 71.0.3578.98 (Build officiel) (64 bits)

[2019-01-09 09:12] khouloudbelguith commented on #12068
@marionf, could you please try to use Google Chrome Version 69.0 to reproduce the issue.
Thanks!

[2019-01-09 09:34] PierreRambaud commented on #11948
If you need to run a multishop or multilang instance:
https://github.com/PrestaShop/PrestaShop/pull/12082/files

[2019-01-09 09:41] espacious commented on #12026
Ok i think i found the solution.
And yes is an theme error/bug/feature.
What i did:
Went to www.domain.com\modules\xipblog (our theme blog module).
Edited xipblog.php.
For example i searched for xipblog-single-wid-module.
and in that array i changed:
'rule' =>$main_slug.'/'.$single_slug.'/{rewrite}'.$postfix_slug,
to
'rule' =>$main_slug.'/'.$single_slug.'/**{id}-**{rewrite}'.$postfix_slug,
No more

[2019-01-09 09:46] khouloudbelguith commented on #12081
Hi @QuatorzeJr,

This issue is added to our bug roadmap.
Your ticket is a duplicate of #9540
So, I close it.
Thanks !

[2019-01-09 09:46] #12081 closed, assigned to nobody

[2019-01-09 09:46] khouloudbelguith commented on #12081
Duplicate of #9540

[2019-01-09 09:56] matks opened #12083 "[SF Migration] Introduce AdminSecurity and DemoRestricted annotations for AJAX routes"
`@ AdminSecurity ` and `@DemoRestricted` annotations behavior do not fit exactly the need of Symfony controllers being called by AJAX calls.

idea: introduce something like `@AjaxDemoRestricted` or `@JsonDemoRestricted` that does the job (and use it in every AJAX Symfony controller)

Todo:
- [x] Enable the use of `@AdminSecurity` for routes being called by AJAX https://github.com/PrestaShop/Presta

[2019-01-09 09:57] matks commented on #12083
See https://github.com/PrestaShop/PrestaShop/pull/11894#discussion_r246058856 and https://github.com/PrestaShop/PrestaShop/pull/11894#discussion_r246056735

[2019-01-09 10:12] khouloudbelguith commented on #12071
Hi @polo195pl,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Also, thanks to uninstall the module ps_factedsearch, remove the ps_factedsearch folder from Project_PrestaShop/modules/ & try to install this module again.
Thanks to check & feedback.

[2019-01-09 10:18] mrabsinthe opened #12085 "1.7.5.0 - link widget - 500 Internal Server Error"
**Describe the bug**
BO / Design / Link Widget - click and 500 Internal Server Error
Same when you click on Modules / Link List / Configure
I've unistalled Link List, cleared cache, installed again, no help, still the same - 500 Error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO'
2. Click on 'Design / Link Widget'
3. See error

**Screenshots**
If applicable, add screenshots or s

[2019-01-09 10:20] PierreRambaud commented on #12032
As I understand, it is because your are running a multishop instance.
https://github.com/PrestaShop/PrestaShop/pull/9462/files break this.

[2019-01-09 10:28] khouloudbelguith commented on #12085
Hi @mrabsinthe,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2019-01-09 10:31] khouloudbelguith commented on #12075
Hi @Madalina-nadari,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check if you have any overrides added by a custom module, it could be a problem.
Thanks!

[2019-01-09 10:33] centoasa commented on #12032
@marionf we’re talking about disallow module folder from searching engine. My screenshot to see how google index the module folder.
@Pierre my Prestashop isn’t multi shop.

[2019-01-09 10:51] mrabsinthe commented on #12085
Maybe this will help (if not, I can provide more info):
Server software version: LiteSpeed
PHP version: 5.6.30
Memory limit: 256M
Max execution time: 360
Upload Max File size: 128M
![class prestashop module linklist controller admin](https://user-images.githubusercontent.com/31688689/50895346-2a16b000-1406-11e9-81c1-54a493e97ef7.png)
![screenshot_2019-01-09 symfony profiler](https://user-images.gi

[2019-01-09 11:13] polo195pl commented on #12078
Well i have more similar prices that's one from price tax inc, price tax exclude. I send more after 6 PM UTC-2

[2019-01-09 11:14] polo195pl commented on #12071
@khouloudbelguith ok i check :) i write soon

[2019-01-09 11:14] khouloudbelguith commented on #12071
@polo195pl, thanks!
Waiting for your feedback.

[2019-01-09 11:20] khouloudbelguith commented on #12073
Hi @Partenopeo83,

Thanks for the module.
I tried with PS1.7.5.0, but I have an error with your module in the order confirmation page.
I attached a video record.
https://drive.google.com/file/d/1GfdBVNsAhuaUhftEgEuD_l2MuJuXp1Xp/view
Thanks to check & feedback.

[2019-01-09 11:26] #11949 closed, assigned to nobody

[2019-01-09 11:41] khouloudbelguith commented on #12085
@mrabsinthe, did you use a custom theme or the theme by default provided by PrestaShop?
Thanks!

[2019-01-09 11:45] polo195pl commented on #12071
@khouloudbelguith well i test it, and didnt help :(

[2019-01-09 11:53] khouloudbelguith commented on #12071
@polo195pl, could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, thi

[2019-01-09 11:59] polo195pl commented on #12071
http://hardleo.stronazen.pl/info.php

[2019-01-09 13:27] jolelievre commented on #11332
Yes, both solutions work. And the second one is not really complicated, we just need to switch the message based on a boolean in the configuration.

[2019-01-09 13:45] khouloudbelguith commented on #12071
@polo195pl, thanks for your feedback.
In my case, I did not manage to reproduce the issue, @marion what do you think?
Maybe related to this PR: https://github.com/PrestaShop/PrestaShop/pull/10230
Thanks!

[2019-01-09 14:09] lusimeon opened #12088 "User and guest accounts addresses conflict"
Hi,

On the administration panel, when I want to add an address to an existing user account (eg: test@test.com) who has also been registered as a guest account with the same email address before, the address is attached to the guest account unless the user account.

Steps to reproduce the behavior:
1. Install a clean Prestashop
2. Enable guest account mode
3. Process an order as a guest with email

[2019-01-09 14:21] khouloudbelguith commented on #12088
Hi @lusimeon,

The issue is not fixed with PS1.7.5.0, I manage to reproduce the issue with PS1.7.5.0.
If you navigate to FO => Add a product to the cart => In the checkout process => Step1 (PERSONAL INFORMATION) => Order as a guest "test@prestashop.com", **without Password**. => so the Guest account is not transformed into a customer account.
But this issue will be fixed in this issue: #10122.
Tha

[2019-01-09 14:21] #12088 closed, assigned to nobody

[2019-01-09 14:21] khouloudbelguith commented on #12088
Duplicate of #10122

[2019-01-09 14:39] servidiomarco commented on #11993
Checked with my host provider and fixed the issue!

Many thanks

[2019-01-09 14:41] khouloudbelguith commented on #11993
Hi @servidiomarco,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-09 14:41] #11993 closed, assigned to nobody

[2019-01-09 15:19] mrabsinthe commented on #12085
No, current theme in use: classic

[2019-01-09 15:29] ghost commented on #12002
Something was mismatched with database. After clean and fresh product upload everything is fine now. Closed. Thanks for Your time @khouloudbelguith

[2019-01-09 15:29] #12002 closed, assigned to nobody

[2019-01-09 15:32] khouloudbelguith commented on #12002
@PrestaShark, thanks for your feedback.
Feel free to open a new when needed.
Thanks!

[2019-01-09 15:39] khouloudbelguith commented on #12085
@mrabsinthe, try to uninstall the ps_linklist module, remove the ps_linklist folder from your projectFolder/modules/, clear cache & try to install the new version of the ps_linklist.
Thanks!

[2019-01-09 15:57] marionf commented on #12032
Thanks to @PierreRambaud for explanations
In fact, it happens because you have several languages installed
We will see how to fix it :)

[2019-01-09 16:11] khouloudbelguith commented on #11651
Hi @Peter4661,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-09 16:11] #11651 closed, assigned to nobody

[2019-01-09 16:12] tiuz1 opened #12092 "PS 1.7.4 product import problem with category-tree using same names"
Hello,

I always used csv to import my products at PS 1.6 but now I cannot import it correctly. It does not create the categories correctly and it also does not put the articles into the correct category.

I imported the following two articles and some categories are created (see screenshot).

[demo.txt](https://github.com/PrestaShop/PrestaShop/files/2741626/demo.txt)

![grafik](https://user-image

[2019-01-09 16:12] marionf opened #12093 "Exception on link widget page"
**Describe the bug**
Exception on link widget page on develop branch
Module version: 3.0.2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Link widget
2. See error

**Screenshots**
![capture d ecran_887](https://user-images.githubusercontent.com/13449658/50912081-91962500-1431-11e9-9ac1-84bf3c0dd1e3.png)

**Additionnal information**
PrestaShop version: develop
PHP version: N/A

[2019-01-09 16:13] khouloudbelguith commented on #11637
Hi @Rizzen59,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-09 16:13] #11637 closed, assigned to nobody

[2019-01-09 16:14] khouloudbelguith commented on #11606
Hi @otg79,

Any news about your issue?
Thanks!

[2019-01-09 16:14] khouloudbelguith commented on #11642
Hi @Yquem1983,

Any news about your issue?
Thanks!

[2019-01-09 16:23] mrabsinthe commented on #12085
I did as you said, cleared cache from Advanced Parametres / Performance, also cleared my browser cache just in case and the error is still there:
![screenshot_2019-01-09 symfony profiler](https://user-images.githubusercontent.com/31688689/50912767-349b6e80-1433-11e9-8221-5b067f90275b.png)

[2019-01-09 16:54] Bonobomagno opened #12095 "Product customization with option/select type inputs"
**Is your feature request related to a problem? Please describe.**
Prestashop  have struggle when there are more than 4-5 production option for combination with 100+ combination. How to bypass this?

**Describe the solution you'd like**
For now we can only add text/file to product customization section. What about adding a option/select field type here? Like magento2 does, this would reduce the co

[2019-01-09 17:07] khouloudbelguith commented on #12093
Hi @marionf,

Here's a PR: https://github.com/PrestaShop/ps_linklist/pull/60 to fix the issue.
Thanks!

[2019-01-09 17:12] centoasa commented on #12032
@marionf @PierreRambaud Yes, it's right: I've 2 languages, ITA+ENG

[2019-01-09 17:21] khouloudbelguith commented on #12092
Hi @tiuz1,

I imported your file attached with PS1.7.5.0.
After the import, a product `VERTIGO (BLACK)` is created following these categories
![image](https://user-images.githubusercontent.com/16067358/50916338-2bae9b00-143b-11e9-9dfd-bee5d81cd835.png)
A product `DREAM ( GREEN )` is created following these categories
![image](https://user-images.githubusercontent.com/16067358/50916368-4719a600-143

[2019-01-09 17:28] khouloudbelguith commented on #12095
Hi @Bonobomagno,

Thanks for your report.
@marionf @colinegin what do you think about his suggestion?
Thanks!

[2019-01-09 17:29] khouloudbelguith commented on #12095
Related to #11796

[2019-01-09 18:50] forkyboy opened #12100 "sales stats are not working"
My shop is making sale everyday and the sales stats counter is always at 0
i have "stock" setting on prestashop  , but i did de-activate invoices

can you explain how sales stats are working so i can pinpoint the issue.

Thanks.

[2019-01-10 07:17] dheerajwebkul opened #12101 "Module only Configure permission not possible in V1.7.5.0"
If I try to set only configure permission for demo users in back-office, and not to enable/disable the module. It is not possible. This is mandatory to give module edit permission, with the particular module configure permission.

**To Reproduce**
Just try to provide a module only configure permission, but not the module disable permission. It's not possible from Team -> Permissions tab in V1.7.5.

[2019-01-10 07:18] dheerajwebkul commented on #12101
I already reported these issue earlier in V1.6, which is merged:
https://github.com/PrestaShop/PrestaShop/pull/7455
https://github.com/PrestaShop/PrestaShop/pull/5532
The same issue is here now in V1.7 latest version

[2019-01-10 08:00] otg79 commented on #11606
Bonjour,

A priori oui et cela semblait venir de mon logiciel de stocks.

Merci

Arnaud

From: khouloudbelguith
Sent: Wednesday, January 09, 2019 5:32 PM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

Hi @otg79,

Any news about your issue?
Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directl

[2019-01-10 08:05] khouloudbelguith commented on #11606
Hi @otg79,

Thanks for your feedback.
Since your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-01-10 08:05] #11606 closed, assigned to nobody

[2019-01-10 08:13] khouloudbelguith commented on #12100
Hi @forkyboy,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/50954664-5807fd00-14b7-11e9-952f-1ba37f444c4e.png)
Did you have orders set as paid & validated from your BO?
Did you check the filter day?
Thanks!

[2019-01-10 08:18] otg79 commented on #11606
thank you !

From: khouloudbelguith
Sent: Thursday, January 10, 2019 9:05 AM
To: PrestaShop/PrestaShop
Cc: otg79 ; Mention
Subject: Re: [PrestaShop/PrestaShop] Disparition de codes EAN (#11606)

Closed #11606.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

__________ Informations provenant d'ESET NOD32 Antivirus, version

[2019-01-10 08:22] khouloudbelguith commented on #12101
Hi @dheerajwebkul,

We manage to reproduce the issue, you just created a previous issue, it is added to our bug roadmap.
Your ticket is a duplicate of #9786
So, I close it.
Thanks!

[2019-01-10 08:22] #12101 closed, assigned to nobody

[2019-01-10 08:22] khouloudbelguith commented on #12101
Duplicate of #9786

[2019-01-10 08:32] khouloudbelguith commented on #12085
Hi @mrabsinthe,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-01-10 08:47] mrabsinthe commented on #12085
Hi @khouloudbelguith,
this is what I just did:
1/unistalled ps_linklist
2/deleted cache from BO as well as manually both folders (prod & dev)
3/double checked that no ps_linklist folder exists in /modules and /themes/classic/modules
4/installed ps_linklist again
5/clicked "configure"
6/and the result is: HTTP 500 Internal Server Error - Class "PrestaShop\Module\LinkList\Controller\Admin\Improve\De

[2019-01-10 09:39] esetieng commented on #9726
Hi,
@lutol thanks you! That's work on my site.

[2019-01-10 10:32] ThomasJKlip opened #12102 "When adding product to cart, other product in cart disappears."
**Describe the bug**
Hi guys

Some customers complain about a problem what occurs when using our shop. When they are shopping for products, sometimes happends that when adding a product to the cart, another product in the cart disappears. It happends fully random and i cant reproduce the problem, but various customers contacted us for the problem.

The only problem i can reproduce what could be re

[2019-01-10 10:38] khouloudbelguith commented on #9726
Hi all,

I created a PR: https://github.com/PrestaShop/PrestaShop/pull/12103 to fix the issue.
@lutol Thanks for your fix!

[2019-01-10 11:06] khouloudbelguith commented on #12102
Hi @ThomasJKlip,

Thanks for your report.
Recently, we have made some changes to fix those issues:
#8752
#8774
#8607
Did you add the product to cart before the page is fully loaded?
Do you have a slow shop?
Thanks!

[2019-01-10 11:09] forkyboy commented on #12100
Hi khouloudbelguith

Yes i have order paid and validated,
my order goes to payment accepted them SHIPPED
Yes i have set the date

here is a screen shot, during this period i have made approx  5 order a day and they are not showing at all in stats

![2019-01-10_0607](https://user-images.githubusercontent.com/37370555/50964786-2afb2080-149e-11e9-8394-094a9340c13d.png)

i really dont know where to lo

[2019-01-10 11:18] ChineseNorris commented on #11562
Hi @khouloudbelguith ,

Resetting the carriers did work, but would be great to look why is this happening.

Thanks!

[2019-01-10 11:20] khouloudbelguith commented on #12100
@forkyboy, in your BO => Installed modules page, thanks to check if the `Sales and orders` module is installed in your shop.
![image](https://user-images.githubusercontent.com/16067358/50965387-19337080-14d2-11e9-8f3f-74c1be066d94.png)
Thanks!

[2019-01-10 11:21] khouloudbelguith commented on #11562
@ChineseNorris, did you a custom module for carriers, what are those modules?
Thanks!

[2019-01-10 11:21] forkyboy commented on #12100
yes it is here and enabled  , i have just reset it just in case

[2019-01-10 11:24] khouloudbelguith commented on #12100
@forkyboy, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-01-10 11:25] forkyboy commented on #12100
how do i do that ?

[2019-01-10 11:26] khouloudbelguith commented on #12100
@forkyboy, We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

T

[2019-01-10 11:28] ChineseNorris commented on #11562
@khouloudbelguith the modules are custom made by a third company (carrier company), the modules are carriers from Spain like: TIPSA, CORREOS EXPRESS, SEUR, but we had problems with TIPSA mostly.

Thanks

[2019-01-10 11:32] idnovate opened #12105 "Disable possibility of enabling "Send email to customer" from order statuses list if no template is selected"
**Describe the bug**
If you enable option `Send email to customer` from the grid and there is not any template choosen, when you change an order to this status it returns error `Error: invalid e-mail template`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new order status
2. Go to order statuses list
3. Enable `Send email to customer` from the grid clicking on the cross icon
4. Ch

[2019-01-10 11:33] khouloudbelguith commented on #11562
@ChineseNorris, as those modules are not provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-01-10 11:33] #11562 closed, assigned to nobody

[2019-01-10 11:37] ThomasJKlip commented on #12102
Hi @khouloudbelguith

Thanks for your reaction.

I cannot identify the problems with the issues you mention to be honest.

i did not add the products to the cart before the page is fully loaded. The webshop is not really fast but to call it slow is a bit to much. Caching is disabled because i thought that was the a possible problem.

Loading time homepage:
![schermafbeelding 2019-01-10 om 12 28 44

[2019-01-10 11:42] khouloudbelguith commented on #12105
Hi @idnovate,

Thanks for your report.
We need to enable the mode debug to reproduce the issue.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1qLYvzA2UFtxb3qnExr3_Um4LGf1eihay/view
We will we see how to fix it.
Thanks!

[2019-01-10 11:45] khouloudbelguith commented on #12102
@ThomasJKlip We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-10 11:45] idnovate commented on #12105
Sorry you are right, I didn't notice it. Error is displayed from this function:

[code]

[2019-01-10 11:57] eternoendless commented on #12047
@colinegin Currently the "keep showcase card closed" functionality has not been implemented.

I started working on a simple implementation of it but then I realized:

1. As a merchant, if I close the card, it stays closed forever. What happens if I did it by mistake? Shouldn't I have an option somewhere to reset it?
2. On the simplest of implementations, closing it makes it closed for _all_ employ

[2019-01-10 12:01] saad-elalfy opened #12107 "unable to update settings in product list"
hello guys i need help in my prestashop in new update  1.7.5
i cant save and new products its gives me  unable to update settings

[2019-01-10 12:02] Maofree commented on #12047
hi @eternoendless
that banner is not important, to close it by mistake it is very difficult because I need to push on the cross, it is just a suggestion not an error alert
so for me it is not necessary and reduce the page view
bye

[2019-01-10 13:06] eternoendless commented on #12047
After discussion with @colinegin we settled on making the action **final** and **global** for all employees, but leaving it open for making it resettable and per-employee later.

[2019-01-10 13:08] markaussie opened #12108 "Incorrect permission 0777 and 0666"
You seem to have enabled by default the creation of insecure folder and file permissions.
Is this an error throughout your symfony setup (example below from bin/console).

// if you don't want to setup permissions the proper way, just uncomment the following PHP line
// read https://symfony.com/doc/current/setup.html#checking-symfony-application-configuration-and-setup
// for more information
**um

[2019-01-10 13:10] khouloudbelguith commented on #12107
Hi @saad-elalfy,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2019-01-10 13:26] khouloudbelguith commented on #12108
Hi @markaussie,

Thanks for your report.
I edited the permission of the PrestaShop folder to 755.
I tried to install a new theme, in the PrestaShop/themes/new_theme the new_theme folder has 777 as permission.
@eternoendless @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-10 13:28] rdy4ever commented on #12108
I totally agree. This is not OK. Plus, on Litespeed Server, setting 0666 and 0777 will give 403 Forbidden errors. Each time I install a new module I must FTP to the module folder to change all file and folder permissions or else I get random 403's when dealing with that module.

[2019-01-10 13:31] khouloudbelguith commented on #12108
This issue is related to a previous ticket: http://forge.prestashop.com/browse/BOOM-2948

[2019-01-10 13:55] matks opened #12109 "Grant read access automatically when a user has create, update, delete rights ?"
Right now, for BO pages, you must set up for each existing profile whether it has read, create, update or delete rights.

However for some pages, having only the create or update rights means: you can modify the page's content but you cannot see it.

Idea: shall we implement a rule that says "whenever a page requests _read_ access to be read, if the logged in user has _create_, _update_ or _delete

[2019-01-10 13:56] matks commented on #12109
ping @eternoendless @mickaelandrieu @Quetzacoalt91 @PierreRambaud @tomlev @jolelievre @jocel1 for dev team
ping @colinegin for product team

[2019-01-10 14:01] LouiseBonnard commented on #9566
Okay, thank you all, I'll wait for you to be sure of the token lifetime, then I will make a few suggestions to improve the wording.

[2019-01-10 14:05] krasnycz commented on #12012
I have this issue on 7 difference installs. Even clean install faces it.

Server OS: Debian 8.11

Even if you resolve related issues the core error of this issue persists and makes prestashop unsuable if dev mode if off causing the following error:

request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Type error: Argument 1 passed to PrestaShop\PrestaSho

[2019-01-10 14:10] 123monsite-regis commented on #12061
hi @marionf ,

some improvments about this are propose by jocel1  on : https://github.com/PrestaShop/PrestaShop/pull/11028

regards

[2019-01-10 14:26] khouloudbelguith commented on #12012
Hi @krasnycz,

The performance page display the same exception with Fresh installation 1.7.5.0?
Thanks!

[2019-01-10 14:31] matks opened #12110 "Hook displayProductListReviews issue"
Reported by @kpodemski through gitter

**Describe the bug**
It seems hook `displayProductListReviews` does not work for some usecases.

**To Reproduce**
Install module https://mypresta.eu/modules/advertising-and-marketing/free-product-reviews-comments.html
It provides user reviews for products.

- enable visibility of reviews on product list on FO
- as a FO logged in user, submit a review with a r

[2019-01-10 14:38] kpodemski commented on #12110
thank you very much for your reaction @matks

i'll add few more details :)

all hooks available in /_partials/miniature/product.tpl are not refreshed when content of them is modified

in 1.6 we could do something like:
`Tools::clearCache(Context::getContext()->smarty, $this->getTemplatePath('*'), $module->name)` to clear cache for hooks registered to module, this way changes on product list were v

[2019-01-10 14:55] krasnycz commented on #12012
Yes. I did 2 clean install of 1.7.4.4 on 2 different server provides via cloudways interface and reproduced the issue. It does even on clean install. Other 302 errors are permissions related as mentioned in the prestashop forum link I posted earlier.

The issue is basically same I previously reported at #11784 but was closed without resolution as related to 3rd party module but it's not. Clean ins

[2019-01-10 15:00] khouloudbelguith commented on #12012
@krasnycz, this issue is a different one, you don't need to comment here.
I will reopen #11784 to understand how can I reproduce your issue.
Thanks for your understanding!

[2019-01-10 15:02] khouloudbelguith commented on #11784
Hi @krasnycz,

We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration(PHP, Apache, ...)
 - PrestaShop version (source), what is the exact link did you downloaded
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - Browser version
 - screenshots

Don't you know how to get this information? Please read the fol

[2019-01-10 15:04] PierreRambaud commented on #12018
Hi @centoasa
I create a pull request to inject multilang & multishop configuration: https://github.com/PrestaShop/PrestaShop/pull/12082/files#diff-b115851dfa6156b9d45986fb7d75c601R103
Let's try and tell me if everything is ok for you

[2019-01-10 15:16] khouloudbelguith commented on #12110
Hi @kpodemski,

I tried with this module, in FO "Home" page, I have this
![image](https://user-images.githubusercontent.com/16067358/50977604-ea79c200-14f2-11e9-979f-8e1ef330b9c1.png)
Ans in the category page, I have this also
![image](https://user-images.githubusercontent.com/16067358/50977663-07ae9080-14f3-11e9-875b-a611b6b8a069.png)
What do you think?

PS: PrestaShop 1.7.5.0
Thanks!

[2019-01-10 15:25] Quetzacoalt91 commented on #12109
If we keep the current management of permission, with all the checkboxes, this makes sense to keep these permission independent. The webservices should not impacted by the decision taken here as they work with another access system.

Your idea could be nice if we rework all the system with a maximum access level per controller / module.

[2019-01-10 15:29] kpodemski commented on #12110
@khouloudbelguith
Make sure that you have enabled Smarty cache, me and @matks are able to reproduce this issue

Also, try to enable option which allows guest to post comments just to make sure that you don't touch back-office after adding new comment, information about new comment should be visible right after adding new comment by guest, both on category listing and homepage

[2019-01-10 15:35] krasnycz commented on #11784
- host

Cloudways - checked on DO and also on Vultr server

- server setup and configuration(PHP, Apache, ...)

Debian 8.11, PHP 7.0, MariaDB10,
System | Linux 231954.cloudwaysapps.com 3.16.0-7-amd64 #1 SMP Debian 3.16.59-1 (2018-10-03) x86_64
Apache/2.4.10 (Debian)

- PrestaShop version (source), what is the exact link did you downloaded

https://github.com/PrestaShop/PrestaShop/releases/download

[2019-01-10 15:45] khouloudbelguith commented on #12110
@kpodemski, thanks for this clarifications.
Smarty cache must be enabled to reproduce the issue.
Thanks!

[2019-01-10 15:45] matks commented on #10576
@sarjon We have the design specs 😄 tell me when you get back to work
I'll show you what @TristanLDD has designed for us

[2019-01-10 15:50] khouloudbelguith commented on #11784
@krasnycz, thanks for your feedback.
What is the exact language / country did you use during the installation?
Thanks!

[2019-01-10 15:51] AntonioManta commented on #11939
After upgrading to version 1.7.5 with autoupgrade, when I try to load an image in the product section: I get the error 500.

[2019-01-10 15:52] matks commented on #12109
What if we only enable this behavior for migrated pages ? Webservice behavior will be left untouched.

[2019-01-10 15:52] SharakPL commented on #12044
I don't see any erros in my console while updating modules with _Upgrade all_ button, but it only updates 1 module each time. Even though it takes some time for each module it never updates all of them. I've tried this on 2 shops 1.7.5.0 just now: one installed localy and the other on the server. Both showed 5 updates available and on both I had to hit _Upgrade all_ button 5 times. I think the sam

[2019-01-10 15:52] krasnycz commented on #11784
@khouloudbelguith Czech

[2019-01-10 16:01] Diniver opened #12113 "PS 1.7.5 Cyrillic encoding after installation"
Hello all,

My goal is to install prestashop with Bulgarian language, but I am meeting lots of issues with encoding.

**How to reproduce**
Download lates 1.7.5 zip from official website. These are the steps which I follow during installation:

![image](https://user-images.githubusercontent.com/31882138/50978547-94098500-14ec-11e9-862b-d6b804a93b91.png)

![image](https://user-images.githubuserconte

[2019-01-10 16:05] PierreRambaud commented on #11878
Mails themes are not necessarily linked to a FO theme, but it can.
How to install mails themes otherwise?

[2019-01-10 16:08] AntonioManta opened #12114 "Error uploading photos in products"
After upgrading to version 1.7.5 with autoupgrade, when I try to load an image in the product section: I get the error 500.

[2019-01-10 16:11] mickaelandrieu commented on #10370
Hello @sarjon,

as they must evolve in order to migrate Manufacturers page, can you ping me for the documentation once you will have contributed and improved this component?

Thanks

[2019-01-10 16:11] khouloudbelguith commented on #11939
@AntonioManta, if you enabled the debug mode, have you any errors displayed?
Thanks!

[2019-01-10 16:16] khouloudbelguith commented on #12114
Hi @AntonioManta,

Isn't the same issue, reported here: #11939?
Thanks!

[2019-01-10 16:19] AntonioManta commented on #12114
It is the same problem

[2019-01-10 16:22] khouloudbelguith commented on #12114
@AntonioManta, Your ticket is a duplicate of #11939
So, I close it, you need to follow #11939
Thanks!

[2019-01-10 16:22] #12114 closed, assigned to nobody

[2019-01-10 16:22] khouloudbelguith commented on #12114
Duplicate of #11939

[2019-01-10 16:22] marionf commented on #12109
I will be more for solution 1)
Waiting for a decision before to validate #12077 & #12099

[2019-01-10 16:25] AntonioManta commented on #12114
![1](https://user-images.githubusercontent.com/46569923/50982104-ba372100-14fc-11e9-945f-7b5a5a4ecbf3.jpg)
![2](https://user-images.githubusercontent.com/46569923/50982105-ba372100-14fc-11e9-8fb1-cf1e9ba4b8ca.jpg)
![3](https://user-images.githubusercontent.com/46569923/50982106-bacfb780-14fc-11e9-80b3-5bf9c18d96d7.jpg)
![4](https://user-images.githubusercontent.com/46569923/50982107-bacfb780-14fc-

[2019-01-10 16:26] marionf commented on #10504
This issue should be solved with the migration of the page: #10216

[2019-01-10 16:27] AntonioManta commented on #12114
But how can I solve the problem?

[2019-01-10 16:28] AntonioManta commented on #11939
si

[2019-01-10 16:28] AntonioManta commented on #11939
![1](https://user-images.githubusercontent.com/46569923/50982285-2580f300-14fd-11e9-8967-f7adb24b9105.jpg)
![2](https://user-images.githubusercontent.com/46569923/50982286-2580f300-14fd-11e9-8d8b-eb2b0d8a10c0.jpg)
![3](https://user-images.githubusercontent.com/46569923/50982287-26198980-14fd-11e9-9d99-b73fe29cabc3.jpg)
![4](https://user-images.githubusercontent.com/46569923/50982288-26198980-14fd-

[2019-01-10 16:29] khouloudbelguith commented on #11939
@AntonioManta, in the Projet_Folder/img/ path did you have the `tmp` folder created?
Thanks!

[2019-01-10 16:32] AntonioManta commented on #11939
yes with 777 permits

[2019-01-10 16:33] colinegin commented on #12109
I don't really like the idea of having 2 different behaviours for legacy and symfony pages...
This will be harder to explain to the user.

Option 1 seems interesting, but it means there could be a difference between what the permission page shows (ex : if a user has permission to create, update, delete on a specific page but not to read it) and the reality of the user's permissions ?

[2019-01-10 16:39] khouloudbelguith commented on #12085
Hi @mrabsinthe,

I discussed to our developer @jolelievre to try to reproduce the issue.
Thanks!

[2019-01-10 16:42] #9853 closed, assigned to nobody

[2019-01-10 16:42] khouloudbelguith commented on #11939
@AntonioManta, can you check permissions for /img/p/ directory ? (images for products in this case)
it must be writable, recursively writable.
Thanks!

[2019-01-10 16:48] AntonioManta commented on #11939
Done but the problem remains

[2019-01-10 16:48] khouloudbelguith commented on #11784
@krasnycz, I tried with those details to install a PrestaShop from the link provided => but it is OK.
Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the s

[2019-01-10 17:02] sbordun commented on #9999
Hi @prestonBot

Do you have any solution how to display Canadian taxes in 2 lines (separate Federal and Provincial taxes) ?
Thanks

[2019-01-10 17:03] khouloudbelguith commented on #12113
Hi @Diniver,

I tried with Fresh installation PS1.7.5.0 with English language / Bulgaria country.
In my database, I have the same encoding as you described.
![image](https://user-images.githubusercontent.com/16067358/50984289-cffb1500-1501-11e9-94ca-2106357bb4f0.png)
But, in the BO, after changing the language of the employee I tried to edit the translation & it is OK.
https://drive.google.com/fil

[2019-01-10 17:06] khouloudbelguith commented on #9999
Hi @sbordun,

Sorry not yet.
The issue is added to our bug roadmap, we will see how to fix it.
Thanks for your understanding!

[2019-01-10 17:07] khouloudbelguith commented on #11939
@AntonioManta, during the upgrade did you have any errors?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-01-10 17:11] PierreRambaud commented on #12109
FYI, as I know this is the original behavior in many controllers: https://github.com/PrestaShop/PrestaShop/pull/12099/files#diff-5e786a90d0fd87f3057a4a9d7936a2d1L87

[2019-01-10 17:17] krasnycz commented on #11784
Seems the issue is related to post_max_size. Why you do not provide this tool direcly in the PS documentation and falsely advise to adjust this to 20M only. It' related to both my issues.

This could save us and cloudways team few days of work :(

On Monday I will make fresh clone of production site and try it from scratch. Will update here.

[2019-01-10 17:26] jeckyl opened #12116 "Smarty isset() Notice"
**Describe the bug**
Using Smarty's isset() test on an absent value causes a Notice to be displayed in Debug mode.
This seems to be about the latest versions of Smarty.
https://github.com/smarty-php/smarty/issues/499

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 5.6 - 7.x

[2019-01-10 17:32] AntonioManta commented on #11939
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2746428/log.txt)

[2019-01-10 17:39] AntonioManta commented on #11939
During the update I did not have any errors

[2019-01-10 17:45] jolelievre commented on #11878
Well there are actually two different "notions" here, the theme I'm talking about here are "templates themes" which are a collection of twig templates used to generate mail templates exported as html or txt files

It does not change the way mails are used, it simply changes the way they are generated for now
Instead of download the mail templates from an archive stored on our server they are gener

[2019-01-10 17:47] Diniver commented on #12113
Thank you very much for this fast responce.
I can confirm that I reproduced your video without issues. It's strange that I got Malformed UTF-8 charactes during the traslation ofAdmin Modules Feature. Were you able to translate Admin Modules Feature as per my example?

[2019-01-10 17:50] ChineseNorris commented on #12100
Hi,

I have a similar problem with PS 1.7.0.x and after upgrading to 1.7.4 or 1.7.5 the problem persits, so in order to reproduce the issue you must first come from 1.7.0, since all other instalations of 1.7.3 and up doesn't seems to have this behaviour.

I digged a little bit and my problem was that the orders are not considered by the stats(at any state possible) considered as order done (like i

[2019-01-10 18:23] forkyboy commented on #12100
ChineseChuckNorris,

you are right, i came from a similar pattern,
my stats used to works and stopped working after an update.

@khouloudbelguith

my boss dont want me to publish error log publicity.
sorry i cant help with that.

[2019-01-10 18:28] sbordun commented on #9999
HI @khouloudbelguith,

Is there a chance that the code fix will be part of the 1.7.6.0 ?
Thanks

[2019-01-10 20:15] all-sd commented on #11825
This problem seams to happen only in Apple Safari and not with Chrome on Mac

[2019-01-10 23:03] marchspa opened #12117 "Constant error 500 localhost"
**Describe the bug**
While i try to install any module from module manager, both from marketplace and not official i get this error:

(1/1) ContextErrorExceptionWarning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?
--
in UnitOfWork.php line 2636
at ErrorHandler->handleError(2, '"continue" targeting switch is equivalent to "break". Did you mean to use "con

[2019-01-10 23:03] marchspa commented on #12117
And i get random error 500 at all times as well.

[2019-01-10 23:29] 21let commented on #9684
Hello, I have the same problem with the facet filter. Do not you know anyone can ever make a fix for some of the programmers? Interestingly, filters in demo and clean installation work. When deleting a demo of products from the catalog they are no longer working.

[2019-01-11 03:00] Akashvastarpara commented on #12055
@Quetzacoalt91  I have disabled the Varnish cache as my hosting provider suggested by adding a .htaccess file with the  code `Header add "Cache-Control" "no-cache"` I'm getting same error and not able to upgrade also I have disabled module as @khouloudbelguith suggested.

[2019-01-11 08:04] khouloudbelguith commented on #12117
Hi @marchspa,

PrestaShop is not compatible with PHPv7.3.0.
We recommend that you run your PrestaShop install on the latest version of PHP. PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 to 1.7.5 is compatible with PHP 7.2.
Thanks to change the version of PHP, check & feedback.

[2019-01-11 08:10] manusegarra commented on #10884
Hi there,

[Search.zip](https://github.com/PrestaShop/PrestaShop/files/2748659/Search.zip)

If someone is still searching for this, I have it solved for PS 1.6.0.9. You can check how it works at my site https://bouttye.com

Replace your file in httpdocs/classes/search.php with the attached file and you are done.

Kind regards.

Manuel Segarra.

[2019-01-11 08:19] khouloudbelguith commented on #9999
Hi @sbordun,

In the PrestaShop 1.7.6 we will be focused to fix prices issue, so yes it could be fixed in the PS1.7.6 & it is marked as a `Major` issue.
Thanks for your understanding!

[2019-01-11 08:26] khouloudbelguith commented on #11825
Hi @ossd,

I tried with PS1.7.5.0 after upgrade from PS1.7.4.4 & all the combinations are displayed.
I'm using Operating system `Apple` os_version=`Mojave` & browser=`Safari` & browser_version=`12.0`.
![image](https://user-images.githubusercontent.com/16067358/51021857-fca34100-1582-11e9-9d65-15c7660453db.png)
Thanks!

[2019-01-11 08:39] khouloudbelguith commented on #12113
Hi @Diniver,

In my side, the translation of `Admin > Modules > Feature` section is OK also.
I attached a video record.
https://drive.google.com/file/d/1OXj-ZuHfXGRrtEGZ49Bh5hx8ewci99uC/view
Thanks!

[2019-01-11 08:56] khouloudbelguith commented on #11784
@krasnycz, thanks!
Waiting for your feedback & I hope that the increase post_max_size solves your issues.

[2019-01-11 09:14] Diniver commented on #12113
Hi @khouloudbelguith
Thanks a lot. It looks like the problem is with my hosting/mysql or who knows what :)

Keep up the good work.

[2019-01-11 09:15] #12113 closed, assigned to nobody

[2019-01-11 09:15] khouloudbelguith commented on #12113
@Diniver, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Have a good day!

[2019-01-11 09:20] khouloudbelguith commented on #9684
Hi @21let,

All these open issues are added to our bug roadmap.
We will see how to fix those issues.
Thanks for your understanding!

[2019-01-11 09:41] khouloudbelguith commented on #11939
Hi @AntonioManta,

In your log file, I found this error:
[code]
proc_open() has been disabled for security reasons is most likely a PHP error set somewhere in your php.ini or something else, you need to check the issue with your host & feedback.
Also, thanks to increase the post_max_size, it could be a problem.
Thanks!

[2019-01-11 09:53] matks opened #12118 "Duplicate CLDR Repository Symfony service"
There is a duplicate definition of CLDR Repository Symfony service:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/config/services/core/localization/cldr.yml
and
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/config/services/core/cldr.yml

[code]

TO DO:
- check these services have not been released with 1.7.5, else it's a

[2019-01-11 09:54] matks commented on #12118
See
- https://github.com/PrestaShop/PrestaShop/commit/99aec1594844fc6c94f69756a6296d8f615f4a7d
- https://github.com/PrestaShop/PrestaShop/pull/11894#discussion_r246063536

[2019-01-11 09:54] khouloudbelguith commented on #12116
Hi @jeckyl,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.
Thanks!

[2019-01-11 09:57] tomlev commented on #12118
https://github.com/PrestaShop/PrestaShop/pull/10455 uses second one (core/cldr.yml)

[2019-01-11 10:41] mrabsinthe commented on #12085
Hi @khouloudbelguith and  @jolelievre and @marionf
I've been testing a trying to find a solution... Can you please try the following?
1/ fresh 1.7.5.0 installation - no custom modules, no theme - just classic - no modifications
2/ click Design / Link Widget - all is OK - no errors
3/ go to Module notifications / Updates
4/ Link List is available for upgrade v2.1.5 -> v3.0.2 - click Upgrade
5/ clic

[2019-01-11 10:57] jeckyl commented on #12116
Personally I encounter this problem on a module or I test in smarty a variable of the kind:
{if isset($toto) && $toto}
{/if}

Before, if the $toto did not exist then the test was necessary, logical, without alert of any kind.

Now I have a Notice alert because $toto is not defined, hence the use of isset() to control this.

[2019-01-11 11:00] khouloudbelguith commented on #12085
Hi, @mrabsinthe,

If you enable the debug mode, what the exact exception displayed?
Thanks!

[2019-01-11 11:01] marchspa commented on #12117
Hi @khouloudbelguith My php version is now 7.2.13 , see screenshot below from my xampp

![image](https://user-images.githubusercontent.com/33666598/51030060-01fa8e80-1577-11e9-9e65-1c6f0b6eddc6.png)

I still get errors but now while i access to my backoffice

Please advice

[2019-01-11 11:05] khouloudbelguith commented on #12117
@marchspa, could you please navigate to your BO => Advanced Parameters => Information & provide us your Sever information.
Thanks!

[2019-01-11 11:06] khouloudbelguith commented on #12116
@jeckyl, could you please provide me with your custom module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-01-11 11:10] marchspa commented on #12117
Here it is:
![image](https://user-images.githubusercontent.com/33666598/51030503-62d69680-1578-11e9-9fdf-3841e332ce19.png)

I tried to install a module and no luck

[2019-01-11 11:11] khouloudbelguith commented on #12100
Hi @forkyboy,

I tested with PrestaShop 1.7.0.0 & the statistics are OK.
![image](https://user-images.githubusercontent.com/16067358/51030426-b0afc680-1599-11e9-8210-e340d872dce9.png)
I made an upgrade from PS1.7.0.0 to PS1.7.5.0 => my stats are ok.
![image](https://user-images.githubusercontent.com/16067358/51030485-d6d56680-1599-11e9-99f5-9b998b8beee1.png)
We need to retrieve the PHP error log a

[2019-01-11 11:17] mrabsinthe commented on #12085
The problem is with ps_linklist since v3.0.0 - none of them will install. 2.1.5 is installed correctly and working fine with no errors. I hope it helps. This is when trying to install v3.0.2 from github:
![module manager](https://user-images.githubusercontent.com/31688689/51030802-cb366f80-159a-11e9-8fba-e216435baca4.png)

[2019-01-11 11:25] AntonioManta commented on #11939
The problem I forwarded to the service manager and proceeded as you suggested. But the problem persists. Lororo answered me this:
The problem is that Prestashop looks for a session file that does not exist:

[2019-01-11 11:30] marchspa commented on #12117
@khouloudbelguith does this #12120 has something to do? because i see similarities, should i use ps 1.7.4 while 1.7.5 gets php compatibility fixed?

[2019-01-11 11:36] khouloudbelguith commented on #12085
@mrabsinthe, thanks for this clarifications.
Yes, when we clone ps_linklist from GitHub & we try to install it, we have issues.
![image](https://user-images.githubusercontent.com/16067358/51031507-0c2f8380-159d-11e9-94c5-27ac18f161a9.png)
@jolelievre what do you think?
But, if we try to install ps_linklist from Module Catalog page, it is OK.
https://drive.google.com/file/d/1ryNroV6djE1a3jF2BbeWHvG

[2019-01-11 11:41] khouloudbelguith commented on #12117
@marchspa, if you apply those fixes, your issue is fixed?
Thanks to check & feedback.

[2019-01-11 11:41] ma0dubois commented on #12041
Hi @khouloudbelguith,

We performed a manual migration.
The 1-click upgrade module is not suitable for our case. But the problem is not the migration itself, today we successfully migrated our application in 1.7.4.3.
But as I told you, big performance problem was found on the front with the translations.

In the following method, why do you delete **each** cache file translation?

[code]

This met

[2019-01-11 12:02] jolelievre commented on #12085
The missing autoload is because vendors are not installed inside the module:
- If you cloned the module or installed it manually based on github sources you need to run `composer install` inside the module (vendors are not versioned)
- If you install it from 'Module Manager' you don't have this problem because the Addons platform installs and includes the vendor inside its archives

@mrabsinthe ho

[2019-01-11 12:03] jolelievre commented on #11914
@MSiliunas maybe your problem is linked to the absence of vendor

If you go in modules/ps_linklist/vendor is the folder empty?
If it you need to run `composer install` because the module was probably installed manually from the sources and they don't include vendors
If you install from the `Module Manager` you don't have this problem

[2019-01-11 12:05] MSiliunas commented on #11914
Ive already checked and the vendors were installed. Ive tried installing
via manager and manually. It was the same. Currently ive installed the
older version.

On Fri, Jan 11, 2019, 14:04 jolelievre <notifications@github.com wrote:

[2019-01-11 12:08] jolelievre commented on #11914
Ok so it seems to be a different problem from https://github.com/PrestaShop/PrestaShop/issues/12085

[2019-01-11 12:08] Quetzacoalt91 commented on #12041
Hi @ma0dubois,

Just to let you know, some performance issues have been detected on our side and have been solved with #11559. This is not live yet and should be available with PrestaShop 1.7.6.

About your question, the cache (re)generation is automatic when no translations are found in the catalog, as something has been potentially updated. We are also concerned by the performance on the front-o

[2019-01-11 12:12] jolelievre commented on #11914
Do you have access to command line? If so you can try these commands at the root of the project:

`php ./bin/console debug:router` and check if `admin_link_block_list, admin_link_block_create, ...` are present

`php ./bin/console debug:container | grep prestashop.module.link_block` to see if the module's services are present

[2019-01-11 12:38] AntonioManta commented on #11939
![1](https://user-images.githubusercontent.com/46569923/51034191-30dc2900-15a6-11e9-9789-9877c6a17364.jpg)

[2019-01-11 12:42] marchspa commented on #12117
I shall try to apply it and will let you know

[2019-01-11 13:13] khouloudbelguith commented on #12085
@jolelievre, thanks!
For me, I can confirm that the installation of the ps_linklist module after running `composer install `& `composer update` is done successfully.
Thanks!

[2019-01-11 13:13] MalikKrak opened #12121 "During installation is not checked presence of php-mbstring"
During installation (of 1.7.5.0) is not checked presence of php-mbstring, which will cause error 500 when opening orders in Backend and of course on other places.

[2019-01-11 13:13] khouloudbelguith commented on #12117
@marchspa, thanks!
Waiting for your feedback.

[2019-01-11 13:16] khouloudbelguith commented on #12121
Hi @MalikKrak,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9583
So, I close it.
Thanks!

[2019-01-11 13:16] #12121 closed, assigned to nobody

[2019-01-11 13:16] khouloudbelguith commented on #12121
Duplicate of #9583

[2019-01-11 13:33] jolelievre commented on #12085
Just running `composer install` is enough (and best practice)

[2019-01-11 13:43] ma0dubois commented on #12041
Thank you very much for your answer !

[2019-01-11 13:53] AntonioManta commented on #11939
Sorry for the insistence, but not being able to go back with the versions because in the meantime orders have been made on the site, and not being able to enter new products, can you tell me if this problem is solvable? I'm not good at programming and I'm in trouble. Thanks for your patience

[2019-01-11 13:58] mrabsinthe commented on #12085
That, unfortunately doesn't explain why we're receiving 500 Error when the ps_linklist is installed from Module Manager. Vanilla 1.7.5.0 with no additional modules nor custom theme:
![error](https://user-images.githubusercontent.com/31688689/51037695-31c68800-15b1-11e9-8a78-5323321c24bb.png)

[2019-01-11 14:09] khouloudbelguith commented on #11939
@AntonioManta, could you please check that /home2/yoonline/php_sessions/ exists and is writable by your web server user.
Thanks!

[2019-01-11 14:14] #12065 closed, assigned to jolelievre

[2019-01-11 14:14] khouloudbelguith commented on #11939
@AntonioManta, could you please check if Session is enabled on your server & what is the exact value for the directive "session.save_path"?
![image](https://user-images.githubusercontent.com/16067358/51038442-92ef5b00-15b3-11e9-9948-3eaa1214144f.png)

[2019-01-11 14:17] mrabsinthe commented on #12085
I can provide you with credentials to my test site if that would help so you can replicate the issue yourself.

[2019-01-11 14:28] AntonioManta commented on #11939
Excuse me but I do not know where to see it. Help me?

[2019-01-11 14:32] khouloudbelguith commented on #11939
@AntonioManta, you can check it in your file PHP info.
You can follow this:
[link](http://kb.mediatemple.net/questions/764/How+can+I+create+a+phpinfo.php+page%3F#gs) to know how to create PHP info page.
Thanks!

[2019-01-11 14:35] ChineseNorris commented on #12100
@khouloudbelguith sorry, I forgot to mention that the problen occurs in the graph shown in the index of the backoffice, the stats in the stats section I have the number of orders good but in "placed orders" is always to 0 (so, the system is not considering any of the orders placed as "order placed"

[2019-01-11 14:41] khouloudbelguith commented on #12100
@ChineseNorris, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
In mu case it is OK.
Thanks!

[2019-01-11 14:53] marchspa commented on #12117
I applied the change, i was able to upload most of the modules i wanted but then when i try to install a non official module:
![image](https://user-images.githubusercontent.com/33666598/51040942-80672880-1597-11e9-8b86-cb19214621ba.png)

[2019-01-11 14:54] marchspa commented on #12117
at least it didn't break my entire enviroment xD

[2019-01-11 14:57] Mreco83 commented on #11836
Hello. Unfortunately, this solution did not help. The error still appears only in the invoice tab.

[2019-01-11 15:01] khouloudbelguith opened #12123 "Install an invalid carrier module from the Carriers page - mbo installed"
**Describe the bug**
When the `mbo` module is installed, in the BO => Shipping => Carriers page, we try to install an invalid module (module with issues), we are redirected to Module Catalog Page.
We should have a red alert that this module has an error during the installation despite of the redirection to Catalog Page.

**To Reproduce**
Steps to reproduce the behavior:
mbo module must be installe

[2019-01-11 15:02] khouloudbelguith commented on #12123
Ping @YosraAk

[2019-01-11 15:05] khouloudbelguith commented on #12117
@marchspa, what is the exact name of the module did you tried to install it?
Have you tried to contact the module author about the issue?
Thanks!

[2019-01-11 15:15] marchspa commented on #12117
All modules are from mypresta.eu

Captcha
European law cookies
html box
products on cms
vertical block categories

I'll contact the author.

My guess is these modules aren't for ps 1.7.5 but could work for previous 1.7 versions

Official modules works just fine but now if i go to my frontpage:

![image](https://user-images.githubusercontent.com/33666598/51042240-8f030f00-159a-11e9-9228-b67c56fa28e

[2019-01-11 15:16] AntonioManta commented on #11939
this is the link to check the data
onlinestampafineart.com/info.php

[2019-01-11 15:25] khouloudbelguith commented on #11939
@AntonioManta, as expected, in your PHP info file, you have "session.save_path = 	/home2/yoonline/php_sessions"
![image](https://user-images.githubusercontent.com/16067358/51042538-def2cd80-15bc-11e9-85a5-ee69b4d5bb70.png)
You need to check the permission of this folder.
Thanks!

[2019-01-11 15:26] khouloudbelguith commented on #12117
@marchspa, could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-11 15:28] AntonioManta commented on #11939
how should I set them 7 7 7?

[2019-01-11 15:28] khouloudbelguith commented on #11836
@Mreco83, to fix this issue you can follow this comment: https://github.com/PrestaShop/PrestaShop/issues/11909#issuecomment-450416475
Thanks!

[2019-01-11 15:29] khouloudbelguith commented on #11836
Duplicate of #11909

[2019-01-11 15:29] #11836 closed, assigned to nobody

[2019-01-11 15:29] marchspa commented on #12117
i restarted apache and seems to work now. I also installed the captcha module and allows me to configure it. I will continue to test everything.

My guess is this issue is resolved and the ticket i referenced helped a lot.

Thanks for your help @khouloudbelguith

[2019-01-11 15:30] Klemart3D commented on #10353
Hi @dineshbadrukhiya did you find a solution ? I'm having same issue on v1.7.4.3, does PS v1.7.5 fixed the problem ?

[2019-01-11 15:31] AntonioManta commented on #11939
I have set permissions 777 but the problem persists

[2019-01-11 15:47] PierreRambaud commented on #12108
Hello everyone,
I create a pull request to remove everything around the umask force.
https://github.com/PrestaShop/PrestaShop/pull/12124
I am totally agree with you, we must not force the folder permission mode!

[2019-01-11 16:04] marionf commented on #12123
Duplicate of #11388

[2019-01-11 16:04] #12123 closed, assigned to nobody

[2019-01-11 16:09] sbordun commented on #9999
Hi @khouloudbelguith,

I also noticed issue related to discrepancy of Prestashop Cart prices vs
PayPal prices.  I do not know if it is related to the same "Prices & Taxes
optimization" ticket (major issue).
-Prestashop calculates Taxes from appropriate Products + Shipping and put
taxes as a separate "Taxes" line in the Cart
-Paypal calculates tax from Subtotal and put it into the Tax line, then it

[2019-01-11 16:14] khouloudbelguith commented on #11939
@AntonioManta, I did not manage to reproduce the issue with PS1.7.5.0 after upgrade from PS1.7.4.4.
@marionf what do you think?

[2019-01-11 16:17] AntonioManta commented on #11939
What do you suggest ?

[2019-01-11 16:19] AntonioManta commented on #11939
Do you want the credentials to access my panel?

[2019-01-11 16:20] khouloudbelguith commented on #12117
@marchspa, could you please provide me the module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-01-11 16:21] marchspa commented on #12117
I'll share you the link via drive, is it ok?

[2019-01-11 16:24] khouloudbelguith commented on #12117
@marchspa, ok.

[2019-01-11 16:26] marchspa commented on #12117
sent

[2019-01-11 16:29] khouloudbelguith commented on #12117
@marchspa, thanks for these modules.
I tried to install all those modules with PrestaShop 1.7.5.0 (fresh installation without any modifications) & PHP7.2 & all those modules are installed without issues.
![image](https://user-images.githubusercontent.com/16067358/51046488-79a3da00-15c6-11e9-96d2-f579c11130ac.png)
Thanks!

[2019-01-11 16:31] khouloudbelguith commented on #11939
@AntonioManta, I assigned your issue to our developer to reproduce your issue and we'll come back to you if we need more information.
Thanks!

[2019-01-11 16:31] marchspa commented on #12117
then what is wrong with my installation? i'm running xampp. Does it has anything to do?

[2019-01-11 16:32] Sumire5 commented on #11939
Hello, I have the same problem and, I don't know if it helps but since upgraded to 1.7.5.0, the folder img/tmp stoped creating jpg files but maybe corrupted files
![captura](https://user-images.githubusercontent.com/46604455/51046602-c8517400-15c6-11e9-8548-bf04cb10fc10.PNG)

[2019-01-11 16:34] khouloudbelguith commented on #9999
@sbordun, you should contact the Paypal author about this issue.
You can create a ticket on https://addons.prestashop.com/en/contact-us?id_product=1748
Thanks!

[2019-01-11 16:34] mrabsinthe opened #12126 "Permissions Notice - Advanced Parameters > Team > Employees > Permissions"
**Describe the bug**
Upgraded to 1.7.5 from 1.7.4.2
It is OK on vanilla installation of 1.7.5

See the prinscreen:
![permissions](https://user-images.githubusercontent.com/31688689/51046622-da331700-15c6-11e9-9147-f11f6d1a19e2.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced Parameters > Team > Employees > Permissions
2. Click on Permissions

**Additionnal information**
Pr

[2019-01-11 16:36] khouloudbelguith commented on #12117
@marchspa, could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-01-11 16:42] khouloudbelguith commented on #12126
Hi @mrabsinthe,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-11 16:42] marchspa commented on #12117
Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this will be your httpdocs (/var/www/vhosts/example.com/httpdocs/) directory, although you can upload it to any subdirectory on your server as well. Use FTP to upload the file.

i'm running on local, i'll try anyway

[2019-01-11 16:44] khouloudbelguith commented on #11939
@Sumire5, did you tried to re-create the tmp folder with 777 permissions?
Thanks!

[2019-01-11 16:45] khouloudbelguith commented on #12117
@marchspa, ok!
Waiting for your feedback.

[2019-01-11 16:47] khouloudbelguith commented on #11544
Hi @LmobilePortugal,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-11 16:47] #11544 closed, assigned to nobody

[2019-01-11 16:48] Sumire5 commented on #11939
Yes, I just tried with 777 permissions and nothing

[2019-01-11 16:48] khouloudbelguith commented on #11597
Hi @glam-strass,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-11 16:48] #11597 closed, assigned to nobody

[2019-01-11 16:49] khouloudbelguith commented on #11636
Hi @Peter4661,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-11 16:49] #11636 closed, assigned to nobody

[2019-01-11 16:50] khouloudbelguith commented on #10833
Hi @LSClaire,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-11 16:50] #10833 closed, assigned to nobody

[2019-01-11 16:51] AntonioManta commented on #11939
done, but the problem persists

[2019-01-11 16:51] khouloudbelguith commented on #11717
Hi @TelInfo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-11 16:51] #11717 closed, assigned to nobody

[2019-01-11 17:28] khouloudbelguith commented on #12041
Hi @ma0dubois,

So, can I close the issue?
Thanks!

[2019-01-11 18:10] masiorama commented on #10934
@khouloudbelguith just a brief update: during the last 3 days the problem was simply gone, so I don't see a reason to investigate more in depth. I'm pretty sure it was because of some problem with PS sending infos about modules updates, plus maybe my server behavior (which was pretty slow). We managed to upgrade to a different server and now everything seems solid. I will definitely open an issue

[2019-01-11 20:38] ghost commented on #12075
Same here!

[2019-01-11 20:48] aliasali commented on #9812
Hi There,

I have also the same problem is there a solution yet for the 500 error.....

[2019-01-11 21:08] ghost commented on #12075
[PrestaShopDatabaseException]

When debug is on

Unknown column 'location' w field list

SELECT location
FROM `ps_stock_available`
WHERE (id_product = 739) AND (id_product_attribute = 0) AND (id_shop = 1) AND (id_shop_group = 0) LIMIT 1

Just add column `location` in `ps_stock_available table and stocks will be updated. Tested.
**Template:**
`location` varchar(255) NOT NULL DEFAULT '',

[2019-01-11 21:11] matks commented on #10502
@sarjon I see that @rokaszygmantas has used the `accessibility_checker` feature of the Grid to hide the "Delete" button for SuperAdmin.
https://github.com/PrestaShop/PrestaShop/pull/10783/files#diff-080d0e55f3eef22487ec37d3cd00272fR145

It might need a few rework to work for Bulk Actions, but maybe it can be used for the SuperAdmin rules (see this issue body on the top of the page)

[2019-01-12 07:58] Madalina-nadari commented on #12075
Hi,
Thank you for your replies!
I've cleared manually the cache folder and still does not work.
In the override folder i did not found any overrides for stocks.

@PrestaShark PrestaShark,
I have another site with prestashop 1.7.1.0 and the column "location" does not exist there, and there is no problem with the products.
I'll try your solution and come back with an answer.
Thank you!

[2019-01-12 09:59] MathiasReker opened #12129 "Pull requests."
I messed something up local on my git. I need to close all PR's and reset my repo. Please consider to merge those PR's before I close all my PR's :-)

https://github.com/PrestaShop/PrestaShop/pull/11990
https://github.com/PrestaShop/PrestaShop/pull/11988
https://github.com/PrestaShop/PrestaShop/pull/11984
https://github.com/PrestaShop/PrestaShop/pull/11980
https://github.com/PrestaShop/PrestaShop/

[2019-01-12 10:08] dalens opened #12130 "Customer can't create an account, Prestashop 1.7.5.0"
Customers can't create an account, Prestashop 1.7.5.0
Error page:  .../log-ind?create_account=1,  HTTP ERROR 500

With Debug Mode:

(1/1) ContextErrorExceptionNotice: Use of undefined constant INTL_IDNA_VARIANT_UTS46 - assumed 'INTL_IDNA_VARIANT_UTS46'
--
in Mail.php line 878
at MailCore::toPunycode('info@gmail.com')in Mail.php line 317
at MailCore::send(2, 'account', 'Velkommen', array('{firstnam

[2019-01-12 13:00] MathiasReker commented on #9812
@aliasali could you try this fix, and tell if it solved your issue? https://github.com/PrestaShop/PrestaShop/pull/10373

[2019-01-12 13:31] MathiasReker commented on #12130
What is your PHP version?

[2019-01-12 13:37] MathiasReker commented on #12130
You can try to apply this PR: https://github.com/PrestaShop/PrestaShop/pull/11995

[2019-01-12 13:54] polo195pl opened #12131 "var_dump show to much data 1.7.5"
**Describe the bug**
When we make a vardamp or print_r some variable we have for examples output like: "array(6) { ["title"]=> string(0) "" ["canonical"]=> NULL ["meta"]=> array(4) { ["title"]=> string(47) (...)" but when i try made {$product|@var_dump} or {$product|@print_r} i have a lot's of data for examples: strings from admin dashobard, translations from diffrent parts of system and a lots of

[2019-01-12 14:00] dalens commented on #12130
Hello Mathias,
I am using PHP 7.0
I have just found one more issue with a page
...module/ps_wirepayment/validation
Debug code is here:
(1/1) ContextErrorException

Notice: Use of undefined constant INTL_IDNA_VARIANT_UTS46 - assumed
'INTL_IDNA_VARIANT_UTS46'
in *Mail.php* line 878
at MailCore::toPunycode('dialens@gmail.com')in *Mail.php* line 317
at MailCore::send(2, 'new_order', 'New order : #7 -

[2019-01-12 14:18] dalens opened #12132 "Prestashop 1.7.5.0 ERROR module/ps_wirepayment/validation"
ERROR page ...module/ps_wirepayment/validation

Debug code:
(1/1) ContextErrorExceptionNotice: Use of undefined constant INTL_IDNA_VARIANT_UTS46 - assumed 'INTL_IDNA_VARIANT_UTS46'
--
in Mail.php line 878
at MailCore::toPunycode('dialens@gmail.com')in Mail.php line 317
at MailCore::send(2, 'new_order', 'New order : #7 - EALXCPEIK', array('{firstname}' => 'nik', '{lastname}' => 'kelly', '{email}' =

[2019-01-12 14:32] MathiasReker commented on #12130
Did you try to apply the PR I was pointing at? What is your ICU version?

[2019-01-12 15:03] polo195pl opened #12133 "BO: Translation missed"
**Describe the bug**
Missed translation in BO in 1.7.5.0 in Polish on Module tab also Contact form in PL it is Formularz kontaktpey " should be "Formularz kontaktowy"

**Additionnal information**
PrestaShop version: 1.7.5.0

[2019-01-12 15:39] dalens commented on #12130
The Current ICU version is 4.0.1. I have asked my hosting provider to
upgrade it to 4.6.
Thank you for your kind help!

Den lør. 12. jan. 2019 kl. 15.32 skrev Mathias Reker <
notifications@github.com>:

--
Med venlig hilsen / Best Regards,
*Diana Alenskaja*

[2019-01-12 15:47] MathiasReker commented on #12130
You are welcome.

[2019-01-12 15:52] AntonioManta commented on #11939
Have you found any solutions ??

[2019-01-12 16:00] Peter4661 opened #12134 "500 error after upgrade 1.7.4.4 to 1.7.5 : warning updating database"
During updating database, warnings below resultuted in 500 error for front and back office

[WARNING] SQL 1.7.5.0 1060 in ALTER TABLE `ps_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '', CHANGE `employee_lastname` `employee_firstname` VARCHAR(255) DEFAULT '': Duplicate column name 'employee_firstname'
[OK] SQL 1.7.5.0 ALTER TABLE `ps_supplier_

[2019-01-12 17:04] rdy4ever commented on #12132
Hi. This issue is fixed by this PR: #11995
It will be included in 1.7.5.1.
Meanwhile, you can manually apply the changes in the mentioned PR to solve your issue.
Alternatively, you could ask your host to update the ICU version on your server to > 4.6.

[2019-01-12 17:10] rdy4ever commented on #12131
How about ditching the `@` and just try `$product|var_dump`?

[2019-01-12 18:51] polo195pl commented on #12071
Well my mistake ;) I have override in ProducListingFrontController :(

[2019-01-12 18:51] #12071 closed, assigned to nobody

[2019-01-12 18:56] polo195pl commented on #12131
@rdy4ever that same

[2019-01-12 20:04] kpodemski commented on #12131
oh, look at this @jocel1 :D

[2019-01-12 20:07] ChineseNorris commented on #11939
Just in case, remember that if you are in a shared hosting all folders and files should be  755 for directories and 644 for files (otherwise the server will block the access to the directories/files).

I couldn't either solve the problem by resetting the cache (prod & dev).

Regards

[2019-01-12 20:08] ChineseNorris commented on #12100
@khouloudbelguith funny thing is there is no php error or debuggable thing at all, since this is not "considered a bug", it's just that the system is not recording orders as "completed orders"

[2019-01-12 20:11] 21let commented on #9684
Yes, thank you for your information. Only this error is quite critical when customers using prestashop do not function as a facet filter and there is no one in the community who can solve this problem quickly :(

[2019-01-12 21:08] kalugauli commented on #11355
Hello! Same problem. Prestashop 1.6.23   Cannot install language "Русский (Russian)"
![pic1](https://user-images.githubusercontent.com/46563199/51078520-28c7da80-16c7-11e9-9ae5-73c17711432b.jpg)

[2019-01-13 04:35] RUMBuilder opened #12135 "iframe issues in PS 1.6, 1.7.4.4, and 1.7.5"
Hello all,

Have checked every setting i can find, enabled the setting in backoffice to allow iframes, and have even followed some of the "solved" posts out there related to this. I can not for the life of me, seem to figure out how to utilize ANYTHING related to iframes  - specifically youtube embed code, in PS 1.7.5. I had this issue also in 1.6(when i was just learning PS) and also in 1.7.4.4.

[2019-01-13 07:47] 21let commented on #9684
The problem is only in version 2.2.1 offered by prestashop to upgrade. I installed a new version, it worked. Then he told me in the administration that an upgrade of the facet search module from version 2.2.0 to 2.2.1 was available, after this update it was not working. So I returned 2.2.0 and it works :-)

[2019-01-13 08:28] gentianziu03 opened #12136 "Warning x Lekë paid instead of x Lekë"
Hello

I'am using 1.7.1.1 Prestashop with 20%tax.
COD Method for payment.
When the order is created go to **Proccesing in progress**

![capture](https://user-images.githubusercontent.com/46620232/51083140-5a679280-1715-11e9-9a31-3a73048d4009.JPG)

then when the order is done in preparation i put the order in **Payment accepted**

![capture](https://user-images.githubusercontent.com/46620232/510831

[2019-01-13 09:48] dalens commented on #12132
Hi Horia,
Thank you for your kind help. I have red PR: #11995
<https://github.com/PrestaShop/PrestaShop/pull/11995> , but couldn't find
out what the changes I have to apply manually? .

Den lør. 12. jan. 2019 kl. 18.04 skrev Horia Rudan <notifications@github.com

--
Med venlig hilsen / Best Regards,
*Diana Alenskaja*

[2019-01-13 13:35] Partenopeo83 opened #12137 "Paypal split order information"
Hi, i use paypal module.
Sometimes the an order paid with paypal is split in two orders with same reference.
In the most of cases the first order contain the correct total of the entire order while in the second there is the partial total.

Apparently the items in order not have differences, the carrier is the same and quantities are ok.

I can't understand why prestashop/paypal split the order, t

[2019-01-13 13:39] shahin0x opened #12138 "Some CSS Problems in Backoffice (RTL Languages)"
**Describe the bug**
on some pages in back office, there are some css problems (Font, Position,...).
there are two 'theme_rtl.css' files in two different paths

1)admin/themes/new-theme/public/theme_rtl.css
2)admin/themes/default/public/theme_rtl.css

pages that load 'admin/themes/default/public/theme_rtl.css' are ok but remaining pages that load this css file (admin/themes/new-theme/public/theme_

[2019-01-13 13:59] rdy4ever commented on #12132
Hi. You can just download and replace the file on your server with the changed one.

[2019-01-13 15:13] TemKaSD commented on #11588
Does not work (((
![screenshot_7](https://user-images.githubusercontent.com/6318282/51087018-83ca0200-1799-11e9-8f21-aace4f2e4051.png)

[2019-01-13 15:33] ilyasovivan commented on #11588
Здравствуй, земляк))
Данный баг с приоритетом Standart и в списке To Do на будущее.
На данный момент есть около 70 нерешенных багов с приоритетом повыше, я думаю, пока эти баги не будут решены, команда Prestashop не возьмётся за исправление багов с приоритетом Standart.
Остается только ждать пока это случится или пока какой-нибудь толковый кодер столкнется с такой же проблемой и захочет поправить

[2019-01-13 16:25] TemKaSD commented on #11588
@ilyasovivan Прив. Я пробовал в настройках магазина, там где адрес указывается, ошибку выдало, домен в punycode не принимает при сохранении.

[2019-01-13 18:30] dalens commented on #12132
Dear Horia,
Thank you very much for help!

Den søn. 13. jan. 2019 kl. 14.59 skrev Horia Rudan <notifications@github.com

--
Med venlig hilsen / Best Regards,
*Diana Alenskaja*

[2019-01-13 18:36] saad-elalfy commented on #12107
hello

the info you need
thanks in the first

goddady linux

PrestaShop version (source)
 1.7.5.0

debug mode report
[PrestaShopDatabaseException]

Table 'biski2_ps2.ps_ttvcms_image_type' doesn't exist

SELECT * FROM `ps_ttvcms_image_type`  WHERE active = 1 AND id_shop = 1

at line 769 in file classes/db/Db.php

764.         if ($webservice_call && $errno) {
765.             $dbg = debug_backtrace

[2019-01-13 21:48] ghost commented on #12075
location column is new in 1.7.5 (new feature) and upgrade process from 1.7.4.3 missed to add this...

[2019-01-14 09:24] alibt commented on #12138
Hi
same issue for me.
there's also a problem in add a new product  page. When a persian number is used in friendly url, this error appears : persian rewrite link field is not valid.
    فیلد link_rewrite (پارسی (Persian)) نامعتبر است.

[2019-01-14 09:29] marionf commented on #11939
It seems related to http://forge.prestashop.com/browse/BOOM-5850
This issue has been solved with https://github.com/PrestaShop/PrestaShop/pull/9265
Do you have the gamification module installed ? If yes, can you try to uninstall it ?

[2019-01-14 09:46] alibt opened #12142 "persian numbers in friendly URL (add new product)"
**Describe the bug**

**can not add persian numbers in friendly URL**
using persian characters is ok
using persian character+english numbers is ok
but when i add persian numbers in this manner :

1. Go to products
2. Click on add a new product
3. enter name and add the picture
4. save

this error appears :
    فیلد link_rewrite (پارسی (Persian)) نامعتبر است.
"link_rewrite field (persian) is not va

[2019-01-14 09:52] AntonioManta commented on #11939
Do I have to install the gamification module?

[2019-01-14 09:56] ma0dubois commented on #12041
Yes you can close  :)

[2019-01-14 09:58] colinegin commented on #12043
Yes, this value should be consistent with the real value taken into account.
2 actions needed then :
- change the default value in the BO --> @eternoendless @PrestaShop/prestashop-core-developers can we increase the value for BO activity to more than 900 ? Is there any security risk ?
- take the indicated value into account and not a constant number.

Thanks !

[2019-01-14 09:59] TristanLDD commented on #11332
Having this dynamic behavior would be great ! Also there are many other pages where we could use this kind of "augmented" info messages.

So if we can change the message depending on the state, we would have something like this:

![artboard](https://user-images.githubusercontent.com/27484094/51106173-4db56e00-17eb-11e9-9c7e-cc7c9934a9ba.png)
![artboard 2](https://user-images.githubusercontent.com/

[2019-01-14 09:59] marionf commented on #11939
No, I ask you if you have this module installed ?

[2019-01-14 10:05] colinegin commented on #11927
Hello,

Thanks for your feedback ! This is an improvement we have decided for the 1.7.5, it was highly recommended by SEO experts we worked with, as it improves the SEO of your page, preventing for instance duplicated content.

What are the reasons why you would like to remove it ? Is it "only" for aesthetics ?

Thank you !

[2019-01-14 10:12] Sumire5 commented on #11939
I don't have that module installed and the fix sugested in #9265 is already implemented in 1.7.5.0

[2019-01-14 10:13] TemKaSD commented on #11927
@colinegin In my case, this is superfluous.

[2019-01-14 10:13] AntonioManta commented on #11939
No, I did not install it

[2019-01-14 10:32] colinegin commented on #11795
Hello,

Thanks for your feedback ! I've seen you have posted your idea on the PrestaShop uservoice, it's a great idea as it will help us prioritize the next features for the following versions.

In the meantime, in the customization part of the product page, you can choose the type Text and in the label field specify that it should only be numeric. It's not perfect, but it might help !

Thank you

[2019-01-14 10:33] marionf commented on #11939
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-01-14 10:33] #11939 closed, assigned to nobody

[2019-01-14 10:41] Sumire5 commented on #11939
I contacted the served and they replied saying that it seams related to ProductImageController as there are no server errors registered but there are prestashop errors registered as follows:

[2019-01-14 10:44] pdkey commented on #11927
@colinegin What kind of Seo expert advised you to do that? We need full control over the snippets also in the title description and length. In our case - our title is 68 characters + the attributes are now over 116. It isn't recommended to use more than 70 characters. now everything is shortened in google with . . . This is for sure disadvantageous for users and for Google. In addition, the title

[2019-01-14 10:46] jolelievre commented on #11880
Important note: `EmailTemplateCatalog` list **generated emails** (as in static html and txt files) not the ones from the new themes (twig templates) So it is backward compatible with any pre-existing mails, including those from the modules
Therefore `EmailTemplateCatalog` **must** be able to scan modules for their mails, just like it is done in `AdminTranslationsControllerCore` via `checkAndAddMai

[2019-01-14 10:57] pdkey opened #12143 "faceted search 2.2.1 doesn't show results with color/ patterns of Attributes 0 Stock. PS 1.7.5"
When you filter color/pattern attributes, the module doesn't show results of combinations out of stock.

Reproduce
- PS 1.7.5 clean or old installation
- faceted search update from 2.2.0 to 2.2.1
- sample products change a combination to stock 0

[2019-01-14 10:57] RomanXT commented on #12070
I solved the problem myself, if someone has a problem with this, I invite you to contact me:  https://shop.led-glass.eu/en/contact-us (Webmaster)

[2019-01-14 10:58] colinegin commented on #12005
Hello,

Thank you for submitting your idea !

I am not sure this will answer your needs, but we are currently reworking the whole mail system. Do not hesitate to follow the project and comment here : [https://github.com/PrestaShop/PrestaShop/issues/11687]

Have a nice day,

Coline

[2019-01-14 11:02] marionf commented on #12012
I just tried an upgrade from 1.7.4.4 to 1.7.5.0.
Modules are successfuly upgraded during the autoupgrade and I have only module to upgrade manually after the autoupgrade. I click on upgrade  for this module and it's done with success.

Before the upgrade:

![capture d ecran_893](https://user-images.githubusercontent.com/13449658/51109005-2911c400-17f4-11e9-936b-0ceaf2457985.png)

During the upgrad

[2019-01-14 11:02] marionf commented on #12012
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-01-14 11:02] #12012 closed, assigned to Quetzacoalt91, marionf

[2019-01-14 11:03] colinegin commented on #11692
Hi all,

We are currently discussing with the rest of the team about what page should be put first to provide the best possible user experience, we will come back to you as soon as possible with a decision.

Have a nice day,

Coline

[2019-01-14 11:15] marionf commented on #12068
@khouloudbelguith I have the last version, I will not downgrade.
Can you try to upgrade you Chrome to the last version and tell me if you still have the issue ?

[2019-01-14 11:20] AntonioManta commented on #11939
With version 1.7.4 everything has always worked. I checked with the server administrators, but everything is well configured. I do not know what to do

[2019-01-14 11:24] AntonioManta opened #12144 "Errore 500 - "Il file tmp / XXXX non esiste""
After upgrading to 1.7.5 with autoupgrade, when you try to upload an image in the product section: you get error 500. I've checked the tmp folder and wasn't there after the upgrade, so I created it with 755 perm.
![50982285-2580f300-14fd-11e9-8967-f7adb24b9105](https://user-images.githubusercontent.com/46569923/51110014-4eec9800-17f7-11e9-9287-31aa28505b28.jpg)
![50982286-2580f300-14fd-11e9-8d8b-e

[2019-01-14 11:31] colinegin commented on #11497
Alright, I understand ! But as I said last time, how can the software know if you want to show your discount in percentage or in amount ? Ex : if the basis price is 80€ and the final price is 60€, how do we know if the discount is 25% or 20€ ?

Thank you

Coline

[2019-01-14 11:38] PierreRambaud commented on #12144
If you don't have the permission, you must be sure your apache user have the right to write in this directory.

[2019-01-14 11:48] AntonioManta commented on #12144
Already checked

[2019-01-14 11:48] jolelievre commented on #11332
This would be nice! And I think the message should be split in two parts:
"Go to Shop ... preferences" (always present)

and two other messages for each use case:

"The display of ... **disabled**" and "The display of ... **enabled**"

[2019-01-14 11:52] colinegin commented on #11782
Hello,

Thank you for your feedback !

What I recommend would be to do the same as for the basis price, I mean :
- a field for the price per unit tax excluded
- a field for the price per unit tax included
- an automatic modification of the first or second field according to the value entered
- a customizable text field (per kilo, per litre) as current

We need to keep the tax excluded field as man

[2019-01-14 11:53] jolelievre commented on #11880
As stated in this issue https://github.com/PrestaShop/PrestaShop/issues/12005 the `AdminStatusesControllerCore` does not use the same way of listing mails templates, so it's not consistent (modules templates are missing)
So we need to integrate `EmailTemplateCatalog` in the `AdminStatusesControllerCore` as well, and be sure to make a thorough search of any controller that might use `Language::getL

[2019-01-14 11:55] jolelievre commented on #12005
Hello @idnovate

Thanks for your feedback, and to complete what @colinegin said the problem you mentioned should be fixed with this specific pending issue https://github.com/PrestaShop/PrestaShop/issues/11880

[2019-01-14 11:56] LouiseBonnard commented on #11332
Hello there! It can be kept in one piece, in my opinion, but I would rather express it this way:

_By default, displaying brands on your store is **enabled**. Go to Shop Parameters > General to edit settings._ is to be localized in _Admin.Catalog.Notification_

_By default, displaying suppliers on your store is **disabled**. Go to Shop Parameters > General to edit settings._ is to be localized in

[2019-01-14 12:00] jolelievre commented on #11332
But with messages you suggest @LouiseBonnard we don't use "dynamic" display then? We simply inform about the default behavior, not the current one.
That's what we were talking about with @TristanLDD, I thought this message could be confusing if the user has already changed the setting and it does not match the default behavior.

But if I'm the only one troubled by this we can keep it simple.

[2019-01-14 12:08] LouiseBonnard commented on #11332
You're right, it's just that I'm not fond of the first wording but I can't find a better option.

[2019-01-14 12:28] pixmax commented on #11782
Hello,

and yes! The four points you recommanded is exactly what is necessary.

Thanks and best regards
Michael

Am 14.01.2019 um 12:52 schrieb colinegin:

[2019-01-14 12:58] LouiseBonnard commented on #11332
What if I drop "By default" and use "Currently" instead?

[2019-01-14 12:59] marionf commented on #12144
Duplicate of #11939

[2019-01-14 12:59] #12144 closed, assigned to nobody

[2019-01-14 13:03] jolelievre commented on #11332
Yes, seems fine to me

[2019-01-14 13:09] fadupla opened #12145 "Add to cart on Safari does not work"
Tested on http://demo.prestashop.com/fr/?view=front and on multiple clean install (PS 1.7.4.0 and 1.7.5.0 with or without classic theme).
Add to cart does not work, see picture :

![capture d ecran 2019-01-14 a 14 03 51](https://user-images.githubusercontent.com/897717/51114473-b3aeef00-1805-11e9-9369-58f499c428b2.png)

When "Add to cart" button is pressed, the success popin open but displays "The

[2019-01-14 13:14] AntonioManta opened #12146 "I can not upload images into products"
I can not load the images of the products, I return error 500. I checked all the parameters of the permissions, I did check all the settings from the server manager, I did check all the settings of prestashop, I disabled all the modules but the error persists. I'm really in trouble I can not even go back to the previous version because I received orders in the meantime. Can anyone help me?

[2019-01-14 13:18] LouiseBonnard commented on #11332
Well, it seems there is no best option to express it. So let's keep the following wording:

_The display of your brands/suppliers is enabled/disabled on your store. Go to Shop Parameters > General to edit settings_. in _Admin.Catalog.Notification_

[2019-01-14 13:25] ghost commented on #12138
Hi. This is upgraded or clean version?

[2019-01-14 13:30] dreammeup opened #12147 "Prices in products combinations administration"
Hi,

On PrestaShop 1.7.4.4, there is something strange about the prices in the combinations.

![combinations1](https://user-images.githubusercontent.com/4540601/51115527-d0005b00-1808-11e9-9bcc-86a7b3f99a3d.png)

In the combinations list, you only have the final price HT, but merchants may prefer to have the price TTC ?

![combinations2](https://user-images.githubusercontent.com/4540601/51115525-d

[2019-01-14 13:31] jayp03 opened #12148 "Maintenace Mode bug"
Good day ! I have an issue with maintenance mode, I'm trying to activate my website but it is still in maintenance mode I don't know why.

**Screenshots**
https://snag.gy/iBwqQA.jpg
https://snag.gy/K2Pisj.jpg

[2019-01-14 13:44] #9928 closed, assigned to nobody

[2019-01-14 14:07] Madalina-nadari commented on #12075
Hi!
@PrestaShark I've managed to create the column location but it looks like this:
ALTER TABLE `pstoysstock_available` ADD `location` VARCHAR(255) NOT NULL AFTER `out_of_stock`;
If I put Not Null Default After  `out_of_stock`;  I get an error.
The stocks work now, without "Default" in the syntax. Is that ok? Or I should try to put the "Default" in there?

Thank you!

[2019-01-14 14:19] itisco opened #12149 "Enable to create multiple field in fields_form_override"
**Is your feature request related to a problem? Please describe.**

It's impossible to add multiple form fields without rewriting the variable $this->fields_list in controller.

**Describe the solution you'd like**

Instead of override the variable $this->fields_list, enable $this->fields_form_override to have more than 1 field.

**Describe alternatives you've considered**

I found this solution o

[2019-01-14 15:21] michaesc opened #12151 "Timezone standard is ignored"
### Description

World timezone standards exist, including zones UTC-12 to UTC+14, however PrestaShop chooses to ignore these standards and apply antiquated GMT identifiers and country codes instead. It's unclear when this works in practice, but at least according to **PHP Version 7.1.8** the behaviour is flawed. Trying to install PrestaShop fails with a error message:

### Reproducing

Steps to r

[2019-01-14 15:29] colinegin commented on #11652
Hello @Prestaworks ,

Thanks for your feedback !
Indeed, there are some features related to combinations that were dropped from the 1.6.
We will be reworking the whole product and the combination feature, so do not hesitate to share more ideas and feedbacks.

In the meantime, have you checked if there is any module on the [Addons marketplace](https://addons.prestashop.com) which provides this feat

[2019-01-14 15:32] marionf commented on #12146
Duplicate of #11939

[2019-01-14 15:32] #12146 closed, assigned to nobody

[2019-01-14 15:52] shahin0x commented on #12138
Hello
This is clean version

[2019-01-14 16:18] matks commented on #12109
Looks like we dont have an agreement so better not change the system.

[2019-01-14 16:19] rdy4ever commented on #12148
Run this SQL on your database via phpMyAdmin to take your shop out of maintenance mode manually:
`UPDATE ps_configuration SET value = "1" WHERE name = "PS_SHOP_ENABLE";`

[2019-01-14 16:41] AntonioManta opened #12153 "Prestashop can not write to the TMP folder"
![errore](https://user-images.githubusercontent.com/46569923/51126499-9a1ca000-1823-11e9-9f34-f493ee3de18c.jpg)

[2019-01-14 16:44] AntonioManta commented on #12153
![errore2](https://user-images.githubusercontent.com/46569923/51126654-faabdd00-1823-11e9-82cc-f6284bed6f04.jpg)

[2019-01-14 17:42] simulbeni opened #12154 "Swift Mailer Issue"
![capture](https://user-images.githubusercontent.com/437314/51129919-bfc09e00-1851-11e9-97e0-29648354eeb9.PNG)
Prestashop 1.7.4.2 was working well and after upgrade shop 1.7.5.0 email issue started.

There is no know issue i can see in any kind of forum related to this
Please help us out

[2019-01-14 18:08] Sumire5 commented on #11939
Finally solved deactivating the module Page Cache Ultimate (although I had no problem with versions previous to 1.7.5.0)

[2019-01-14 18:12] AntonioManta commented on #11939
Thanks solved me too

[2019-01-14 18:16] ChineseNorris commented on #11939
Looks like we all have Page Cache Ultimate.
Did you guys tried to reinstall after the update? @Sumire5 @AntonioManta

[2019-01-14 21:21] amtriorix opened #12156 "Get rid of the .htaccess generated security"
There are a lot, a lot security issues with the .htaccess in a multistore environment.
Not to mention it is generated by prestashop and the running www user.

Using .htaccess is a bad practice. It is one of the main reasons why Nginx does not support .htaccess.

The reason is obvious. When a script is compromised, it is possible to change the security settings of
.htaccess as well, especially when

[2019-01-14 22:38] felipeschmitz opened #12157 "Error Uncaught Exception: Could not load type "form": class does not exist."
**Describe the bug**
hi, in admin product images, i click the image, not show detail this, but this erros:

Uncaught Exception: Could not load type "form": class does not exist. {"exception":"[object] (Symfony\\Component\\Form\\Exception\\InvalidArgumentException(code: 0): Could not load type \"form\": class does not exist. at /home/public_html/vendor/symfony/symfony/src/Symfony/Component/Form/For

[2019-01-15 07:53] khouloudbelguith commented on #12130
Hi @dalens,

We manage to reproduce the issue.
Here's the PR: #11995 to fix the issue.
Your ticket is a duplicate of #11949
So, I close it.
Thanks!

[2019-01-15 07:53] #12130 closed, assigned to nobody

[2019-01-15 07:53] khouloudbelguith commented on #12130
Duplicate of #11949

[2019-01-15 08:07] khouloudbelguith commented on #12132
Duplicate of #11949

[2019-01-15 08:08] #12132 closed, assigned to nobody

[2019-01-15 08:08] khouloudbelguith commented on #12132
Hi @dalens,

Here's the PR: #11995 to fix the issue.
Your ticket is a duplicate of #11949
So, I close it.
Thaznks!

[2019-01-15 08:14] khouloudbelguith commented on #12134
Hi @Peter4661,

We manage to reproduce the issue.
Here's the PR: #11814 to fix the issue.
Your ticket is a duplicate of #11812
So, I close it.
Thanks !

[2019-01-15 08:14] #12134 closed, assigned to nobody

[2019-01-15 08:15] khouloudbelguith commented on #12134
Duplicate of #11812

[2019-01-15 08:21] marionf commented on #12153
Duplicate of #11939

[2019-01-15 08:21] #12153 closed, assigned to nobody

[2019-01-15 08:23] Quetzacoalt91 commented on #12055
First of all, nothing has been modified on your shop, there is no risk to see anything broken following this upgrade.

I received another report about this HTTP code and the maintenance mode being triggered. That's not supposed to happen as we do not reach any FrontController, but it seems to happen in some rare cases.
On my side I cannot reproduce it unfortunately, so I can't do much. Perhaps pro

[2019-01-15 08:38] khouloudbelguith commented on #12131
Hi @polo195pl,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
When I add this line code `{$product|@var_dump}` in the `/Project_PrestaShop/themes/classic/templates/catalog/product.tpl`, I have a lot of data.
[1750.pdf](https://github.com/PrestaShop/PrestaShop/files/2758678/1750.pdf)
I tried with PS1.7.4.4, I have a lot of data, but there are no strings from the admin dash

[2019-01-15 08:41] rdy4ever commented on #12154
Actually, there are. You just need to search for closed issues, as this issue is fixed by #11995 (merged in the next patch release - 1.7.5.1). Just replace `classes/Mail.php` with the one provided by the mentioned PR and your problem will be solved.

[2019-01-15 09:10] jolelievre commented on #12131
Hello @polo195pl

This behavior is because `$product` is not an array any more but a `ProductLazyArray`, it includes more data and logic than the former array
(see https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Product/ProductLazyArray.php for more details)

If you need to display the initial product array (for debug) you can use the `jsonSerialize` method, here is how

[2019-01-15 09:23] Casper-O opened #12158 "php 7.2 combat issue, BO encryption Rijndael not selectable."
**Describe the bug**
Running PHP 7.X without mcrypt [(deprecated)](http://php.net/manual/en/migration71.deprecated.php#migration71.deprecated.ext-mcrypt)
Part of the issue was solved in https://github.com/PrestaShop/PrestaShop/pull/9218 but there is still traces of only mcrypt_encrypt check in adminPerformanceController:
https://github.com/PrestaShop/PrestaShop/blob/1.6.1.x/controllers/admin/Admin

[2019-01-15 09:24] khouloudbelguith commented on #12133
Hi @polo195pl,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & the Polski language.
There are missed translation in BO in 1.7.5.0 in Polish on Module tab.
![image](https://user-images.githubusercontent.com/16067358/51170570-0ee8ec00-18af-11e9-9a40-ccdcdd201b1a.png)
With PS1.7.4.4, it is OK.
![image](https://user-images.githubusercontent.com/16067358/51170720-68511b00-18af

[2019-01-15 09:39] Sumire5 commented on #11939
I have tried to reinstall it but I can't upload images. In addons.prestashop this module seams to be compatible with version 1.7.5.0 but I can't update it anymore.

[2019-01-15 09:39] Goalfair opened #12159 "Menu "Orders-Invoices" throws Error 500"
After manual upgrade from PS 1.6 to 1.7.5, when trying to view dashboard page "Orders" => "Invoices" an Error 500 is thrown.

Enabling debug mode provides the following:

**Exception:**

![2019-01-15_prestahop-scrn-01](https://user-images.githubusercontent.com/46447000/51171602-9a637c80-18b1-11e9-831b-337602b6a063.jpg)

**Logs:**

Level | Channel | Message
-- | -- | --
DEBUG                 10:32:

[2019-01-15 09:39] khouloudbelguith commented on #12137
Hi @Partenopeo83,

I did not manage to reproduce the issue with PS1.7.5.0 & the PayPal module v4.4.2.
The split order is done if you have 2 different carriers for different products added to the cart.
I attached a video record
https://drive.google.com/file/d/11MiJ7TRW5xdmOwO-O3v7HIiQqAI9eguC/view
Thanks to check & feedback.

[2019-01-15 09:42] khouloudbelguith commented on #12138
Hi @shahin0x,

Is it the same issue: #11403 reported previously.
Thanks!

[2019-01-15 09:50] colinegin commented on #10356
What do you think of this idea @eternoendless @PrestaShop/prestashop-core-developers ?
Could it help improve load time and SEO ?

[2019-01-15 09:51] shahin0x commented on #12138
Hi @khouloudbelguith
No this issue is different. both of them is related to css actually, but i don't have this problem in version 1.7.4.
some pages are OK and some pages are not! for example, go to catalog -> category and check text's font and then go to catalog -> products and check again.

[2019-01-15 09:53] LouiseBonnard commented on #12133
Hi @khouloudbelguith, thanks for pinging me on this. I've just changed the translation into _Formularz kontaktowy_ (via Crowdin) as suggested by @polo195pl. It should be effective in a couple of days. ;-)

[2019-01-15 09:53] #12109 closed, assigned to nobody

[2019-01-15 09:54] colinegin commented on #11038
Hello @sarjon , sorry I missed your comment !
Yes, it could be a great idea for developers !
I guess we could have the same feature as for maintenance mode, but let's wait for @TristanLDD 's mockups :)

[2019-01-15 09:56] khouloudbelguith commented on #12159
Hi @Goalfair,

To fix this issue you can follow this comment: https://github.com/PrestaShop/PrestaShop/issues/11909#issuecomment-450416475
Thanks!

[2019-01-15 09:56] #12159 closed, assigned to nobody

[2019-01-15 09:57] khouloudbelguith commented on #12159
Duplicate of #11909

[2019-01-15 10:09] khouloudbelguith commented on #12142
Hi @alibt,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
This issue occurs when `Accented URL` is enabled in the SEO & URLs page.
I attached a video record.
https://drive.google.com/file/d/1IX2GYT1yrdH7oHK0zOjXPEKzhUm3rm-N/view
We will see how to fix it.
With PS1.7.4.4, it is OK.
Thanks!

[2019-01-15 10:13] Partenopeo83 commented on #12137
Ok, thanks for specification.
Unfortunately i have this problem with paypal and products with same carrier.
I'don't know why paypal/prestashop split order into two parts, apparently there aren't this settings.

I don't know if it is paypal problem. I can't contact them or there is a mail where i can contact the support?

Thanks

[2019-01-15 10:14] khouloudbelguith commented on #12145
Hi @fadupla,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0, with Mac OS version=Mojave & browser=Safari & browser_version=12.0.
I attached a video record.
https://drive.google.com/file/d/189AU75tpT-ZZKo4rD9Yy175-ubPcCfXd/view
Thanks to check & feedback.

[2019-01-15 10:17] khouloudbelguith commented on #12137
@Partenopeo83, PayPal module is provided by our partners.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it: https://addons.prestashop.com/en/contact-us?id_product=1748
Thanks!

[2019-01-15 10:17] #12137 closed, assigned to nobody

[2019-01-15 10:29] khouloudbelguith commented on #12148
Hi @jayp03,

Thanks to run the SQL query suggested by @rdy4ever.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check & feedback.

[2019-01-15 10:31] fadupla commented on #12145
Hello @khouloudbelguith

Thank you for your message.

Here is the video record : https://drive.google.com/open?id=1h9uJKZ8egAqoH41EDc1j4ckATIWsLQ90

And the screenshots of the versions :

![capture d ecran 2019-01-15 a 11 29 00](https://user-images.githubusercontent.com/897717/51174803-fbdb1980-18b8-11e9-9dc1-0826e3d5f928.png)

![capture d ecran 2019-01-15 a 11 29 05](https://user-images.githubuse

[2019-01-15 10:38] PierreRambaud commented on #12156
Hi and thanks for the feedback,

1) I totally agree about the `.htaccess`, it is a bad practice, and this is why Apache allows you to disable it (http://httpd.apache.org/docs/2.4/mod/core.html#allowoverride). But don't forget, many websites that are running under PrestaShop are not hosted in a dedicated server and can't configure Apache.

2) We are planning to remove the umask force, there is alre

[2019-01-15 10:39] jayp03 commented on #12148
thank you guys for your help !it's working now
the problem was because of mailchimp module
when its activated the website doesn't work I don't know why

[2019-01-15 10:40] PierreRambaud commented on #10356
Agreed to add webp, even if it is not use or available everywhere, we must add the capability to support this type!

[2019-01-15 10:42] khouloudbelguith commented on #12147
Hi @dreammeup,

In the next release PS1.7.6, price with TAX will be displayed on the backend product list.
Here's the PR: #11484 to add this feature.
Your ticket is a duplicate of #11479
So, I close it.
Thanks!

[2019-01-15 10:42] #12147 closed, assigned to nobody

[2019-01-15 10:42] khouloudbelguith commented on #12147
Duplicate of #11479

[2019-01-15 10:45] MatShir commented on #11571
@davoud-najjari Thanks you for your feedback, other people have made the same feed around the Jalali calendar. We will be considered by the team.

[2019-01-15 10:49] matks opened #12160 "[SF Migration] Remove duplicate behavior between Showcase Cards and Helper Cards ?"
Looks like there might be a duplicate behavior between
https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/new-theme/js/components/showcase-card/showcase-card.js
https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/new-theme/js/components/helper-card.js

1) find out whether this is indeed the same behavior implemented twice
2) if yes, remove Helper Card and use

[2019-01-15 10:51] mrabsinthe commented on #12126
It has been fixed. According to our host, they've removed the deny code which existed in .htaccess file and the issue has been resolved. I believe that the .htaccess file was at /home/user/public_html/cache location.

[2019-01-15 10:51] #12126 closed, assigned to nobody

[2019-01-15 10:51] khouloudbelguith commented on #12148
@jayp03, thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-01-15 10:51] #12148 closed, assigned to nobody

[2019-01-15 10:52] khouloudbelguith commented on #12126
Hi @mrabsinthe,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-15 10:59] francoispeyret commented on #11631
also affects 1.7.5.0

[2019-01-15 11:10] khouloudbelguith commented on #12143
Hi @pdkey,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & ps_facetedsearch v2.2.1.
Before the upgrade with Color "Yellow" => it is displayed ( ps_facetedsearch v2.2.0)
![image](https://user-images.githubusercontent.com/16067358/51176801-27143780-18be-11e9-8e7c-0c4078b0af60.png)
After the upgrade, the "Attribute filter "Yellow" is displayed with a wrong result ( ps_facete

[2019-01-15 11:21] khouloudbelguith commented on #12154
Hi @beniwal,

We manage to reproduce the issue.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11995 to fix the issue.
Your ticket is a duplicate of #11933
So, I close it.
Thanks!

[2019-01-15 11:21] #12154 closed, assigned to nobody

[2019-01-15 11:21] khouloudbelguith commented on #12154
Duplicate of #11933

[2019-01-15 11:24] simulbeni commented on #12154
I found the solution before response from here but this is good that respose came so quick.

We must have php module "idn_to_ascii" or need to modify little bit Mail class "mail.php".

thanks for response.

[2019-01-15 11:26] grabelle commented on #11773
Hi,
Will this very important problem for a ecommerce website be fixed in the 1.7.5.1 ? (I mean removing the {-:id_product_attribute} of the product url) ?

[2019-01-15 11:45] khouloudbelguith commented on #11773
Hi @grabelle,

Unfortunately, for PS1.7.5.1, we only accept security fixes or regression from 1.7.5.0.
Thanks!

[2019-01-15 11:49] khouloudbelguith commented on #12157
Hi @felipeschmitz,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pr

[2019-01-15 11:54] khouloudbelguith commented on #12149
Hi @itisco,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think of his suggestion?
Thanks!

[2019-01-15 12:55] fly-49 commented on #10026
**BUG still present in version 1.7.5**, it is a blocking BUG which generates accounting errors
We must find a solution quickly !!!!
This BUG is serious reminder that it obliges me to propose to my customers a solution other than PRESTASHOP which becomes unusable in France.

[2019-01-15 12:57] khouloudbelguith commented on #10026
Hi @fly-49,

Sorry, the issue not fixed yet.
In the PS1.7.6.0 we are focused to fix prices issues.
Thanks for your understanding!

[2019-01-15 13:32] khouloudbelguith commented on #12151
Hi @michaesc,

I did not manage to reproduce the issue with develop branch.
I attached a video record.
https://drive.google.com/file/d/158vGHF6mgh0ozTQ-BsgoilCjk5-ciPri/view
I used PHP 7.1.20 / PHP 7.0.33
Thanks to check & feedback.

[2019-01-15 13:32] colinegin commented on #11750
Hello @eternoendless and @PrestaShop/prestashop-core-developers what do you think of this issue ? Should it be fixed in the core or in the module itself ?

Thanks

[2019-01-15 13:51] mygitaccount2 commented on #12100
@khouloudbelguith   how do we do now ?

[2019-01-15 13:53] choclove90 commented on #9540
Here is an alternate solution on Prestashop 1.7.4.3.
Starting from ahmedabdo1995's solution:
Open classes/Cart.php

find the following (should be around line 3430):
`$orderTotalwithDiscounts = $this->getOrderTotal(true, Cart::BOTH_WITHOUT_SHIPPING, null, null, false);`
        `if ($orderTotalwithDiscounts >= (float)($free_fees_price) && (float)($free_fees_price) > 0) {`
            `$shipping_cos

[2019-01-15 13:57] khouloudbelguith commented on #12100
@mygitaccount2, @ChineseNorris, without the PHP error log and the debug mode we could not find out what's wrong.
In my case, all stats are ok with fresh installation 1.7.5.0 & 1.7.0.0 & after upgrade also.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or cus

[2019-01-15 14:04] polo195pl commented on #12131
Ok thx all :)

[2019-01-15 14:04] #12131 closed, assigned to nobody

[2019-01-15 14:06] khouloudbelguith commented on #12041
Hi @ma0dubois,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-15 14:06] #12041 closed, assigned to nobody

[2019-01-15 14:08] prestamodule opened #12161 "Same ID (custom_fields) used in the Back Office product edition"
**Describe the bug**
Inside the DOM, while editing a product and having a supplier inside our shop, we have two times the same ID: custom_fields

**To Reproduce**
Steps to reproduce the behavior:
1. Add a supplier
2. Go to the product edition
3. Check the tab "Options" source code
4. See error

**Additionnal information**
PrestaShop version: 1.7.5.0

[2019-01-15 14:13] polo195pl commented on #12131
@jolelievre its ok BUT if PrestaShop want to use LazyArray maybe the good point is used it as default? If in the future other variables also use LazyArray, I think that would be a good solution. On the other way, using methods of some objects directly in tpls is a reversing of the development of the project, not its development.

[2019-01-15 14:19] jolelievre commented on #10356
Then maybe we should add a warning when someone uploads a webp file, to inform the user that this format is not supported by every browsers.

[2019-01-15 14:41] khouloudbelguith commented on #12107
Hi @saad-elalfy,

Could you please try to disable the `ttvcmsblog` module & `ttvcmsproductco` module, clear cache, check & feedback.
Thanks!

[2019-01-15 14:50] michaesc commented on #12151
It is likely because the admin (you probably) has set a php.ini in the root or used a installation method that sets the timezone to a correct value. The bug only appears in PrestaShop (which fails to validate timezones) when a value such as 'GMT' is set before the PrestaShop installation procedure begins.

It's unclear to me if PrestaShop sets 'GMT' as a timezone, but when I build and run a contai

[2019-01-15 15:33] khouloudbelguith commented on #12135
Hi @RUMBuilder,

With PS1.7.5.0, in the BO => Shop Parameters => General page, I enabled the `Allow iframes on HTML fields` option.
In the Bo => Product page, in the description, I added a video.
![image](https://user-images.githubusercontent.com/16067358/51190700-1aeea100-18e3-11e9-9861-e93b7beba65d.png)
In the FO, this video is displayed.
![image](https://user-images.githubusercontent.com/160673

[2019-01-15 15:44] marionf commented on #11522
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2019-01-15 15:44] #11522 closed, assigned to marionf

[2019-01-15 16:07] dalens opened #12164 "Prestashop 1.7.5.0 Gsitemap Module can't generate a Sitemap"
Page ERROR 500 when clicking on "Generate Sitemap".

[2019-01-15 16:08] joelprestaworks opened #12165 "Filter selector under Module Manager (responsive issue)"
**Describe the bug**
Module selector under module manager is not working when having too small height on view-port

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tab Modules -> Module manager
2. Make sure to lower the height on your browser (specific devices uses different resolutions)
3. Try to sort on options through the selector to filter modules from specific categories
4. The sel

[2019-01-15 16:18] khouloudbelguith commented on #12136
Hi @gentianziu03,

Thanks for your report.
About the warnings => it is a normal behavior => because you change the status of your order to payment accepted ( order just paid) => after that you added a discount => so, it is paid xx£ instead of yy£.
About the dashboard which shows the SUM without discount, here's the same issue reported in this ticket: #9983

About the sum on Delivery Slip, it is no

[2019-01-15 16:26] khouloudbelguith commented on #12164
Hi @dalens,

I did not manage to reproduce the issue with PS1.7.5.0 & the `gsitemap` module v4.1.0.
https://drive.google.com/file/d/1PTiJBeGi23k0jJQrRPsilO2iImqrj6g2/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - ap

[2019-01-15 16:28] Goalfair commented on #12058
**As I suspected it is _NOT_ enough to just use a default "ps_access" table.** If anything, you would have to use a default "ps_authorization_role" table as well, which could not work if you upgraded PS from a previous version.

See: https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961

ID profile number 1 (SuperAdmin) of the "ps_access" table has to be matched with all the

[2019-01-15 16:38] gentianziu03 commented on #12136
Hi @khouloudbelguith  maybe i have found the solution for the Warning. The default stus that order go is Processing in progress You have to UNCHECK **Consider the associated order as validated.** and now when order is **Porcessing in progress** you can make a **discount**. And then you can go set any astatus and will not show the warning!

[2019-01-15 16:54] #9614 closed, assigned to nobody

[2019-01-15 17:22] khouloudbelguith commented on #12165
Hi @joelprestaworks,

I attached a video record.
https://drive.google.com/file/d/1QQ8EegHtOjF4_mpO4073l9ekqYKli4Gb/view
Thanks to check & feedback.

[2019-01-15 18:06] jflaque commented on #23316
Hi, Some news? Thanks.

[2019-01-15 18:56] RUMBuilder commented on #12135
Have tried that, still doesn't work. I've tried manually inserting the iframe code, i've tried using the method you suggest, etc... still nothing. as soon as i go to save, i either get the toast "red box" at the top right of PS saying "unable to update settings", or sometimes it throws a 403 error.

For the red warning box, I'm getting this in console if it helps:
---------------------------
Faile

[2019-01-15 20:28] Alex-2019 opened #12167 "Email notifications"
**Describe the bug**
I dont receive mail about orders and other notifications.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced Options' - 'Email'
2. Click on 'Send test email'
4. And there is no actions - I dont receive email

**Screenshots**
I added

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.2.7
![2019-01-15 21_27_03-e-mail chip6 club](https://user

[2019-01-15 22:51] dpalauzov commented on #9780
Hi Guys,

Happy New Year!

any movement on that issue? its been year and a half since it was opened :)

Thanks,
Dimitar

[2019-01-16 03:05] dineshbadrukhiya commented on #12143
I think we can edit the code for this issue:
ps_facetedsearch/ps_facetedsearch.php (approx line 1423)

`ON (sa.`id_product_attribute` = pac.`id_product_attribute` AND sa.`quantity` > 0)`

Replace it with:
`ON (sa.`id_product_attribute` = pac.`id_product_attribute` AND sa.`quantity` >= 0)`

[2019-01-16 07:47] khouloudbelguith commented on #12167
Hi @Alex-2019,

About the technical configuration: to configure PrestaShop to send emails to your customers. We strongly advise you that you consult your web host to determine which settings to use for this feature.
Thanks to check with your host & feedback.
Thanks!

[2019-01-16 07:47] OhmegaStar commented on #11522
The Fix is here;

/controllers/admin/AdminOrdersController.php:

Line; 1337
                } elseif ((Tools::getValue('discount_type') == 2 || Tools::getValue('discount_type') == 1) && (float)Tools::getValue('discount_value') <= 0) {

check for a positive value non zero only for percent and amount discounts.

/OhmegaStar

[2019-01-16 07:58] joelprestaworks commented on #12165
Hi,

I just watched your video and you did not do the information described under step 2. I have recorded a video for you to see what I mean:
https://www.useloom.com/share/d57472baa47e46ff84ff6cac5f77ecd3

It does not matter which browser you're using, in this test I was using Google Chrome. The issue is the view-port when having a smaller resolution on the **height** of the browser.

[2019-01-16 08:15] marionf commented on #9540
Thanks for diving into this @choclove90

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-01-16 08:16] khouloudbelguith commented on #12161
Hi @prestamodule,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.0.
![image](https://user-images.githubusercontent.com/16067358/51235224-3a331000-196f-11e9-961e-9b480fc8fe38.png)
![image](https://user-images.githubusercontent.com/16067358/51235250-4f0fa380-196f-11e9-9cea-e5bccac4ce60.png)
We will see how to fix it.
Thanks!

[2019-01-16 08:40] khouloudbelguith commented on #12158
Hi @Casper-O,

Thanks for your report.
What the exact version PHP did you use?
Could you please provide me the configuration Information of your shop, you can find it in the BO / Advanced Parameters / Configuration Information PAGE.
Thanks!

[2019-01-16 08:57] Casper-O commented on #12158
[code]
I have downgraded now to 7.0 to be able to use mcrypt.

[2019-01-16 09:02] masiorama commented on #9866
I'm experiencing the same error in logs.
I'm still on 1.7.4.2.

[2019-01-16 09:06] khouloudbelguith opened #12168 "Translation of Countries in PS1.7 - installation step"
**Describe the bug**
During the installation of PrestaShop, the `日本語` is selected; in Step 4: "Store information" => all Countries are displayed in English.
In fact, they are always displayed in English in any language selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Install PrestaShop with any language different from English
2. In the in Step 4: "Store information" => all Countries

[2019-01-16 09:07] khouloudbelguith commented on #12168
ping @ansar21mallouli

[2019-01-16 09:12] khouloudbelguith commented on #12158
@Casper-O, so the issue is solved after downgrading to PHP 7.0?
Thanks!

[2019-01-16 09:15] khouloudbelguith commented on #12165
HI @joelprestaworks,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/51238616-9863f100-1977-11e9-877a-b8c7da47d5cb.png)
With PS1.7.4.4, the same issue.
![image](https://user-images.githubusercontent.com/16067358/51238957-67d08700-1978-11e9-9433-b0bbf51428c0.png)
We will see how to fix it.
Thanks!

[2019-01-16 09:20] Casper-O commented on #12158
The mcrypt extension is available in 7.0, marked as Deprecated in 7.1 and finally removed in 7.2.
http://php.net/manual/en/migration71.deprecated.php#migration71.deprecated.ext-mcrypt

That is why it works in 7.0, gives a warning when running 7.1 with debug mode on and finally fails when running 7.2 since mcrypt is not there anymore.

[2019-01-16 09:29] khouloudbelguith commented on #12143
Hi @dineshbadrukhiya,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/ps_facetedsearch
Thank you!

[2019-01-16 09:34] khouloudbelguith commented on #12158
@Casper-O, PrestaShop 1.6 is not compatible with PHP 7.2.
PrestaShop is compatible with PHP 7.2 starting on 1.7.4.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Thanks!

[2019-01-16 09:40] khouloudbelguith commented on #9780
Hi,

The issue still exists in the PS1.7.5.0
![image](https://user-images.githubusercontent.com/16067358/51239978-0bbb3200-197b-11e9-8131-336478c3eba3.png)
It is not fixed yet.
There are some major issues to solve before this one.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your understanding!

[2019-01-16 09:42] khouloudbelguith commented on #9866
Hi @masiorama,

I manage to reproduce the issue with PS1.7.5.0
![image](https://user-images.githubusercontent.com/16067358/51240115-59379f00-197b-11e9-9fac-3112eb8d7d09.png)
It is not fixed yet.
There are some major issues to solve before this one.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your understanding!

[2019-01-16 09:45] Casper-O commented on #12158
could you then explain the following PR:
https://github.com/PrestaShop/PrestaShop/pull/9187
https://github.com/PrestaShop/PrestaShop/pull/8724

They are related to PHP 7.2 and making the code for 1.6 compatible with PHP 7.2

It's a problem introduced in Prestashop 1.6.1.20 that have multiple PR related to PHP combat issues. It was overseen in this PR https://github.com/PrestaShop/PrestaShop/pull/9

[2019-01-16 09:46] khouloudbelguith commented on #12058
Hi @Goalfair,

Thanks for your feedback & for this clarifications.
Issue #9513 is assigned to our developer.
Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-01-16 09:46] #12058 closed, assigned to nobody

[2019-01-16 09:49] khouloudbelguith commented on #11355
HI @kalugauli,

This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-01-16 09:52] khouloudbelguith commented on #12068
Hi @marionf,

I will try to upgrade Chrome to the last version to reproduce the issue and I will come back to you.
Thanks!

[2019-01-16 10:01] masiorama commented on #9866
Thanks, I totally understand, was just giving my exp about the matter.
I'm on a tight schedule on these weeks, and though I already have planned a couple of pulls for other little bugs I experienced, I really cannot find spare time to investigate and fix. I hope to manage to be able to contribute soon.
Thanks!

[2019-01-16 10:39] khouloudbelguith commented on #12138
HI @shahin0x,

Thanks for this clarification.
I manage to reproduce the issue with PS1.7.5.0
PS1.7.5.0 => Product page => NOK
![image](https://user-images.githubusercontent.com/16067358/51242379-204df900-1980-11e9-9bd4-7bcc30634677.png)
PS1.7.4.4 => Product Page => OK
![image](https://user-images.githubusercontent.com/16067358/51242438-44a9d580-1980-11e9-8e17-f493603954eb.png)
PS1.7.5.0 => Product

[2019-01-16 11:03] khouloudbelguith commented on #9684
@21let, can you open a new one with more information about your configuration.
Thanks!

[2019-01-16 11:03] urimarti opened #12169 "Wrong Specific Price Amount when taxes changes"
What changes do?
There is a bug in prestashop that doesn't calculate correctly Specific Prices when taxes are changed in Front Office.

For example, with a 21% taxes when the product costs 100€ and it has an specific price of 10€ tax included total price should be 90€ tax included.
Without taxes should be:
original price: 82,64€
discount: 8,26 €
total price: 74,34 €

The problem is that the discou

[2019-01-16 11:04] Uff182 opened #12170 "Modifying an address in order table creates another address instead of changing the original one"
**Describe the bug**
Once an order is placed, you can modify one of the addresses. This will open the address tab; once you click on Save, a new address will be added to Prestashop instead of modifying the existing one. This worked properly in PS 1.6, but it doesn't in PS 1.7.

**To Reproduce**
1. Place an order
2. Open the order in backoffice
3. Click on Modify next to the address
4. Check the li

[2019-01-16 11:10] Ybeske opened #12171 "Combinations never found by combination reference in stocks"
***situation***
I created a combination product for a red balloon. Every combination has another size. The general product information tab has a product reference field with filled in for example "redballoon".
All combinations 5", 12" and 18" have filled in in the combination product reference field of every balloon respectively: redballoon05, redballoon12 and redballoon18.

***bug***
When I searc

[2019-01-16 11:10] Quetzacoalt91 opened #12172 "Suggestion of new features as console commands"
**Is your feature request related to a problem? Please describe.**
Deploying a PrestaShop could be made easier by adding more feature to the `console` panel. Some needs have been reported from PS Ready, Docker users etc.

**Describe the solution you'd like**

Here is a list of nice-to-have features:
* Enabling SSL on the shop (https://github.com/PrestaShop/docker/issues/56)
* Managing employees (A

[2019-01-16 11:17] matks commented on #12172
⚠️  **Warning**: I have tried to introduce a Command and I stopped when I found out that many, many Symfony services are not usable in a CLI context because they rely on legacy code that only works in a WEB context. Most errors were something like "missing shop ID", "missing employee ID", "missing language ID", "PS_LANG_SOMETHING not defined" ...

The PR is here https://github.com/PrestaShop/Prest

[2019-01-16 11:19] khouloudbelguith commented on #12170
Hi @Uff182,

Have you the same issue with this ticket: #11199?
Thanks!

[2019-01-16 11:26] Quetzacoalt91 commented on #12172
I guess I had the same issue with the module management command, and had to init the legacy core to make it work properly.

See https://github.com/PrestaShop/PrestaShop/blob/7b87a098090620f62bb4e67040c50c0810a047e6/src/PrestaShopBundle/Command/ModuleCommand.php#L84

[2019-01-16 11:29] Uff182 commented on #12170
Hi @khouloudbelguith , no, the issue is different. The reported ticket refers to the fact that the suggested addresses are wrong, in my case I'm reporting the fact that the address you want to modify is left untouched and a new one is created. Let's say that in the first address you wrote "Street name, number 42", but you actually meant "Street name, number 41", you will end up with two addresses

[2019-01-16 11:32] EgamiCreation opened #12173 "Problème calcul promotion panier 1.7"
Bonjour à tous,

Nous avons développé un site prestashop hébergé à ce domaine : https://www.maisonmoderne-electricite.fr/

Version de PrestaShop : 1.7.0.6
URL de la boutique : http://www.maisonmoderne-electricite.fr/

Nous avons été victime des multiples bug de cette version.

Nous en avons corrigé une bonne partie jusqu'à en détecter un sans réussir à le résoudre.

Depuis quelques jours, notre cl

[2019-01-16 11:33] ckubitza opened #12174 "Wrong tax in order slip when product tax has changed"
**Describe the bug**
When an order slip is created, the current tax rule from the product is used instead of the saved one in the order detail. So when the tax rule has changed since the order was created, a wrong tax is applied to the order slip detail and this also leads to wrong totals in the order slip.

**To Reproduce**
Steps to reproduce the behavior:

1. Order a product so that you have a v

[2019-01-16 11:35] khouloudbelguith commented on #11874
Hi, @idnovate,

As discussed with @PierreRambaud, we have made some tests & we did not manage to reproduce the issue with PS1.7.5.0 ( Spain country also).
This code line
[code]
is not removed from the Product.php after installing the dummymodule.
https://drive.google.com/file/d/1ra0eLVNIteiUie0-UiKsaLWnJnnRBDRi/view
Thanks!

[2019-01-16 11:35] #11874 closed, assigned to nobody

[2019-01-16 11:46] khouloudbelguith commented on #12174
Hi @ckubitza,

Before the step2, did you have a valid order (order paid)?
Step 2, did you change the tax rule of this product from the product page, or you just edited the price TTC of this product from the order page?
Thanks!

[2019-01-16 11:52] khouloudbelguith commented on #12169
Hi @urimarti,

Thanks for your report & for the fix.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9856, please follow #9856
So, I close it.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-01-16 11:52] #12169 closed, assigned to nobody

[2019-01-16 11:52] khouloudbelguith commented on #12169
Duplicate of #9856

[2019-01-16 11:53] khouloudbelguith commented on #9856
Hi,
Here's a fix: https://github.com/urimarti/Prestashop/commit/cb02974cacba8457eedd54c203fc12ff1b0c8372#diff-0a7a17e9ff155e6890d7a5b01eea713c suggested by @urimarti.
Thanks!

[2019-01-16 11:58] ckubitza commented on #12174
Hey @khouloudbelguith,

I think so, the state of the order has the paid and invoice options checked.

I changed the tax rule on the product page.

[2019-01-16 11:59] jayp03 opened #12175 "Prestashop Footer"
Good Day ! I would like to know how to remove Prestashop footer

https://snag.gy/td0MRI.jpg

[2019-01-16 12:00] bm-services commented on #9932
Hi,

I can't see any changes on https://github.com/PrestaShop/PrestaShop/commits/1.7.5.x/classes/form/CustomerAddressPersister.php

How can we find out precisely what fixed this issue to apply it on a 1.7.4.0 where we are also having this problem ?

Thanks.

[2019-01-16 12:24] dineshbadrukhiya commented on #12143
@khouloudbelguith I will open PR for this fix.

[2019-01-16 12:39] dalens commented on #12164
Hello,
I could find the reason. It seems the gsitemap module is not compatible
with ps_blog:
[PrestaShopException]

*Dispatcher::createUrl() miss required parameter "id" for route
"module-psblog-blog"*
*at line **915** in file **classes/Dispatcher.php*

910.             if (!$data['required']) {
911.                 continue;
912.             }
913.
914.             if (!array_key_exists($key, $pa

[2019-01-16 12:45] jayp03 opened #12176 "I want to change how the price shows in my website"
Good day ! I need your help guys this is how the price of a product looks my in my website 3500,00 Fcfa but I want to it to show 3500 Fcfa without this ,00

AS you can see i the screenshot i want to change it

Can you help me please

https://snag.gy/4sxg7e.jpg

[2019-01-16 12:52] khouloudbelguith commented on #12171
Hi @Ybeske

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9727
So, I close it.
Thanks !

[2019-01-16 12:52] #12171 closed, assigned to nobody

[2019-01-16 12:52] khouloudbelguith commented on #12171
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9727

[2019-01-16 13:01] marionf commented on #9932
@bm-services

I closed this issue because I wasn't able to reproduce it on 1.7.5.0
If you have it on 1.7.5.0, please give me more details on how to reproduce it

Thanks

[2019-01-16 13:11] khouloudbelguith commented on #12176
HI @jayp03,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10017
So, I close it.
Thanks!

[2019-01-16 13:11] #12176 closed, assigned to nobody

[2019-01-16 13:11] khouloudbelguith commented on #12176
Duplicate of #10017

[2019-01-16 13:24] marionf opened #12178 "Can't import tanzania pack"
**Describe the bug**
When you try to import Tanzania pack, you have an exception (develop branch) instead of an error message (1.7.5.1)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization
2. Select Tanzania
3. Click on Import
4. See error

**Screenshots**

![capture d ecran_935](https://user-images.githubusercontent.com/13449658/51251796-687a1500-199a-11e9-945a

[2019-01-16 13:24] khouloudbelguith commented on #12175
Hi @jayp03,

You can edit or remove the footer of your Prestashop by editing the file into the `themes > your_theme > templates > checkout >  _partials > footer.tpl` and the checkout file into the path `themes > your_theme > templates > checkout >  _partials > footer.tpl`
Thanks!

[2019-01-16 13:24] #12175 closed, assigned to nobody

[2019-01-16 13:28] kpodemski commented on #12164
It's because gsitemap module should not be use pages from `Meta` with a `module` suffix, those URLs very often have dynamic parameters which gsitemap is not able to load

I've same issue with my blog module :)

@khouloudbelguith so basically it is a valid request of a bug, i can confirm it

[2019-01-16 14:09] matks commented on #12172
@Quetzacoalt91 then shoul we init it in the `bin/console` bootstrap ?
https://github.com/PrestaShop/PrestaShop/blob/develop/bin/console#L15
or add a bootstrap file dedicated to CLI, and boot the legacy core there

[2019-01-16 14:12] #11753 closed, assigned to PierreRambaud, matks, rokaszygmantas

[2019-01-16 14:19] khouloudbelguith commented on #12174
Hi @ckubitza,

Thanks for your report.
I have the same issue with PS1.7.5.0
Before the changes, in the invoice pdf, I have
![image](https://user-images.githubusercontent.com/16067358/51254677-da099180-19a1-11e9-93de-5309db051264.png)
After changing the tax rule from the product page, in the order slip, the tax is different from the invoice pdf
![image](https://user-images.githubusercontent.com/160

[2019-01-16 14:26] hellodracon opened #12179 "AdminStats (statsbestcategories) not really multistore-ready Prestashop 1.6.1.6"
Hello,

I just found out that when reading statistics (using AdminStats) and watching the best categories for example (statsbestcategories) it show all the categories from all the stores.
Even though, I select my shop (on the top left corner of the backoffice), it show every categories not matter what.

Any idea how to fix this ? Thank you !

PrestaShop version: 1.6.1.6

[2019-01-16 14:32] KevinSainclair opened #12180 "Disparition des Déclinaison"
Bonjour,

Ce matin 2 de nos articles ont perdu des déclinaisons. Apres un export, je me suis rendu compte que les déclinaisons perdues avaient toutes le même nom, à savoir le nom de l'article père.
J'arrive à retrouver les déclinaisons grâce au code unique de l'article mais impossible de rentrer dans la fiche ou la déclinaison pour remettre le nom initial.

Merci d'avance pour votre aide car si je

[2019-01-16 14:56] khouloudbelguith commented on #12068
Hi @marionf,

I tried with Chrome v71.0.3578.98, in the product after filtering with quantity, we have a strange issue with status, when we filter by status, we have a strange issue with the quantity.
I attached a video record.
[Jan 16, 2019 3_51 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2764616/Jan.16.2019.3_51.PM.webm.zip)
Thanks!

[2019-01-16 15:01] khouloudbelguith commented on #12180
Hi @KevinSainclair,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.p

[2019-01-16 15:16] Realys-31 commented on #9902
idem...
same for me.
merci

[2019-01-16 15:17] khouloudbelguith commented on #12173
Hi @EgamiCreation,

Could you please try to create a Catalog Price Rule with Reduction 5% & condition group with Type => "Category", Value => "Electricité", check & feedback.
![image](https://user-images.githubusercontent.com/16067358/51258408-32dd2800-19aa-11e9-8794-aeb38eacbdd4.png)
Thanks!

[2019-01-16 15:19] khouloudbelguith commented on #12164
Hi @kpodemski,

Could you please provide me the blog module to test with it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-01-16 15:24] marionf commented on #12068
@khouloudbelguith What is your screen size ?

[2019-01-16 15:27] KevinSainclair commented on #12180
I'm sorry I'm not an informatics person and I won't be able to provide you those informations

What is the minimum information you need to begin to analyse the problem?

[2019-01-16 15:31] khouloudbelguith commented on #12068
@marionf, the window size is 1270px * 899px.
Thanks!

[2019-01-16 15:32] khouloudbelguith commented on #12180
@KevinSainclair, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Also, did you used a custom module to export products?
Thanks!

[2019-01-16 15:34] khouloudbelguith commented on #12179
Hi @hellodracon,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0also.
![image](https://user-images.githubusercontent.com/16067358/51259503-99fbdc00-19ac-11e9-8d14-6313994a7bed.png)
We will see how to fix it.
Thanks!

[2019-01-16 15:37] khouloudbelguith commented on #12179
@hellodracon, about the PS1.6, as you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed for PS1.6.
Thanks!

[2019-01-16 15:41] hellodracon commented on #12179
Thanks for the info @khouloudbelguith
I'll try to follow this, just in case I can use the fix to edit the files on my PS 1.6

[2019-01-16 15:49] khouloudbelguith commented on #12170
@Uff182, thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
We will see how to fix it.
Thanks!

[2019-01-16 15:53] turnoextra commented on #11268
Hi @CrAzYk69,

I have a similar case... because the Gamification plugin i can't access to my backend of Prestashop. I tried with diferent versions, that's 1.6.13 (oldest) and 1.7.42 (newest) and I found the same trouble.

In my case I disabled the Gamification plugin... only moving on the FTP directory **/modules/gamification** to **/modules/gamification_old**.
Fixed.

An example of another user..

[2019-01-16 15:54] KevinSainclair commented on #12180
Yes We use a custom module to export products, I think that's how I was able to see the problem.
![image](https://user-images.githubusercontent.com/46752224/51260735-3aeb9680-19af-11e9-8cd9-65edb1fd1a23.png)
![image](https://user-images.githubusercontent.com/46752224/51260776-4b9c0c80-19af-11e9-9d42-41f7f2bd49a8.png)

[2019-01-16 15:57] EgamiCreation commented on #12173
Bonjour et merci beaucoup pour ce premier retour.

J'ai pensé à cette solution mais ma problématique est que les prix dans les produits sont reliés à des places de marchés et par conséquent, je ne dois pas envoyer ces prix là.

Merci d'avance.

[2019-01-16 15:59] khouloudbelguith commented on #12180
@KevinSainclair, as it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-01-16 15:59] #12180 closed, assigned to nobody

[2019-01-16 16:02] khouloudbelguith commented on #12173
@EgamiCreation, so did you created a cart rule with a discount 5%?
But how did you add the category `Electricité` to the conditions Tab?
Thanks!

[2019-01-16 16:03] khouloudbelguith commented on #11268
Hi @turnoextra,

What is the exact version Gamification did you use in your case?
Thanks!

[2019-01-16 16:08] khouloudbelguith commented on #12135
@RUMBuilder, if you enable the debug mode, is there any exception displayed?
It could be caused by a custom module or an override.
Thanks!

[2019-01-16 16:14] EgamiCreation commented on #12173
Merci pour cette réponse, voici la mise en place de la réduction :

![capture d ecran 2019-01-16 a 12 29 47](https://user-images.githubusercontent.com/46613681/51262136-062d0e80-19b2-11e9-97a6-fc391faace93.png)
![capture d ecran 2019-01-16 a 17 10 06](https://user-images.githubusercontent.com/46613681/51262137-062d0e80-19b2-11e9-842a-7afa469d3895.png)
![capture d ecran 2019-01-16 a 17 10 41](https

[2019-01-16 16:17] khouloudbelguith commented on #12145
Hi @fadupla,

If you try with another version of your browser, did you manage to reproduce the issue?
I tried with Safari v11.1.2 & Mac OS Sierra 10.13.6, there no issue
https://drive.google.com/file/d/1g49qA9zYrwgRG3-svezTJ5b5hdmdQmoz/view
Also, about the demo, is not updated to the last version 1.7.5.
Thanks!

[2019-01-16 16:22] eternoendless commented on #12043
I don't see any major issue in making the cookie last longer.

[2019-01-16 16:26] colinegin commented on #10560
Hello @LouiseBonnard , after discussion with @matks (thanks for your feedback @sarjon !), we are thinking that it might be interesting to add an information related to the configuration of customer groups in the customer edit page, in the group section (see screenshot below). What do you think ?

![image](https://user-images.githubusercontent.com/35263827/51263022-c49d6300-19b3-11e9-87e4-12d04acbb

[2019-01-16 16:33] khouloudbelguith commented on #12173
@EgamiCreation, thanks for your feedback.
With fresh installation 1.7.5.0 & the default theme PrestaShop, I did not manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/16067358/51263560-ce739600-19b4-11e9-9912-81cc3eba8458.png)
Thanks!

[2019-01-16 16:36] EgamiCreation commented on #12173
En effet, cette nouvelle version a réglé le souci mais nous avons effectué beaucoup de développement sur la version actuelle de leur site et nous ne pouvons passer automatiquement en 1.7.5 sans tout détruire le thème.

Mais en effet, c'est exactement le résultat attendu normalement

[2019-01-16 16:36] eternoendless commented on #10356
Webp is supported by the GD library so adding support for it shouldn't be too complicated.

[2019-01-16 16:40] EgamiCreation commented on #12173
Je peux si vous le souhaitez fournir un accès BO afin de tenter de comprendre, j'y ai passé 2 jours entier à essayer de trouver seul.

[2019-01-16 16:44] tiago-pinto opened #12182 "AdminCartRules allways uses price with tax"
**Describe the bug**
I created a discount rule of 10% of the price of the cart products without tax included, but the discount applied does have that tax included.

Example:
Product price(without tax): 48,94€
Product price(with tax): 60,20€
Tax Percentage: 23%(Portugal)
Discount Percentage: 10%(Tax excluded)
Calculated discount:  6,02€ ( Based on price with tax)
Disered discount: 4,89€ (Based on p

[2019-01-16 16:45] khouloudbelguith commented on #12075
Hi all,

During the upgrade, the `location` is added to the `PREFIX_stock_available` table.
You can view this [link](https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.5.0.sql#L13)
In my case, I did not manage to reproduce the issue after the upgrade from PS1.7.4.4 to PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/51264268-6a51d180-19b6-11e9-8

[2019-01-16 16:54] khouloudbelguith commented on #12182
Hi @tiago-pinto,

Thanks for your report & for the fix.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9856, please follow #9856
So, I close it.
Thanks!

[2019-01-16 16:54] #12182 closed, assigned to nobody

[2019-01-16 16:55] khouloudbelguith commented on #12182
Duplicate of #9856

[2019-01-16 17:02] khouloudbelguith commented on #12173
@EgamiCreation, please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
We have made a lot of changes during the releases of PrestaShop, but I think that this PR: https://github.

[2019-01-16 17:02] #12173 closed, assigned to nobody

[2019-01-16 17:02] khouloudbelguith commented on #12173
With PS1.7.5.0, the issue is fixed.
Thanks!

[2019-01-16 17:08] EgamiCreation commented on #12173
Merci pour le retour de la v 1.7.5.0 mais je ne peux y passer nativement car il y a pas mal de développement sur le thème et nous ne pouvons tout recommencer.

D'après votre mail plus haut, nous pourrions résoudre notre souci. mais je ne vois pas la manipulation à suivre. Je me suis permis de le signaler ici car je n'avais aucun retour.

[2019-01-16 17:11] EgamiCreation commented on #12173
Merci pour le retour de la v 1.7.5.0 mais je ne peux y passer nativement car il y a pas mal de développement sur le thème et nous ne pouvons tout recommencer.

D'après votre mail plus haut, nous pourrions résoudre notre souci. mais je ne vois pas la manipulation à suivre. Je me suis permis de le signaler ici car je n'avais aucun retour.

[2019-01-16 17:15] tiago-pinto commented on #12182
I did apply @urimarti fix as an override and I still get the same issue as I reported

New example(after the override was applied):
![image](https://user-images.githubusercontent.com/46755718/51266132-4a201380-19b2-11e9-99bb-3d576ee31a4c.png)

[2019-01-16 17:20] khouloudbelguith commented on #12182
@tiago-pinto, the #9856 is added to our bug roadmap.
@urimarti has a just suggestion fix.

[2019-01-16 17:22] khouloudbelguith commented on #12151
@michaesc, thanks for your feedback.
Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.
Thanks!

[2019-01-16 17:38] Alex-2019 commented on #12167
What have they got to do with it? Mail works, I can receive and send. Only the site does not work sending. This is a prestashop problem.

[2019-01-16 17:39] Alex-2019 commented on #12167
What should I set for mail to work on the site?

[2019-01-16 17:45] LouiseBonnard commented on #10560
You mean dropping a line to explain how customers groups can be configured?

[2019-01-16 18:26] caotico25 opened #12184 "Can't access to translations on backoffice"
**Describe the bug**
Since i updated to PS1.7.5, i can't access to translations. Error 500 is given. If i activate debug i get this:

![captura de pantalla 2019-01-16 a las 19 23 24](https://user-images.githubusercontent.com/6215402/51270047-439a9780-19c4-11e9-8220-5c6c8fbeda6e.png)

If I go to that folder, the required file does not exist

**Additionnal information**
PrestaShop version: 1.7.5
PHP

[2019-01-16 18:47] saad-elalfy commented on #12107
hello khouloudbelguith

now everything now working well but now the modulle ttvcmsblog  not working !
and i have something error else i have more than 5 images on the products image and sometime disappear like that image from there place  !

![50257242_297892894179733_8578876013285474304_n](https://user-images.githubusercontent.com/42609526/51271241-ad6c6e80-19cf-11e9-9cd0-69afd9a8ca7d.png)
thanks

[2019-01-16 18:48] urimarti commented on #12182
@tiago-pinto  First of all, i'm using Prestashop 1.6.1.23. Be ensure that SQL is working in new prestashop version.

[code]

It should give you only one number (in my case, 21). That is the 21% of taxes.

**Explaining the override:**
What you have to do is on function PriceCalculation() in class Product.php is to get your default shop tax and check the difference with the user's current tax.

[cod

[2019-01-16 19:01] OhmegaStar commented on #11522
Well that is only part of the fix it seems, there is some other place as the free freight is still not added when users approves order in front office flows..

[2019-01-16 19:07] caotico25 opened #12185 "Can't do anything. Bad request. Size of request header field exceeds server limit"
I am getting this type of error, produced at random, since it has happened to me both in the backoffice and in the front. I have also received complaints from clients and other employees, so I am not the only one affected by this problem.

The complete message is "Bad Request." Your browser sent a request that this server could not understand. Size of request header field exceeds server limit."

I

[2019-01-16 19:11] Maofree opened #12186 "How to translate "Tax excl." for the front-office?"
hi

where is it possible to translate "Tax excl." for the front-office? I cannot find it in the translation pages.
I've seen that these texts are from these variables like from product-prices.tpl and cart-summary-totals.tpl
{$cart.labels.tax_short}
{$product.labels.tax_long}
{$cart.subtotals.tax.label}

from the translation page it is not possible for both: theme and ps_legalcompliance module sele

[2019-01-17 03:23] Akashvastarpara commented on #12055
I have moved my hosting from one.com to a2hosting and now it has been upgraded so I think there was issue with hosting provide but I'm not sure what was. Thank you so much for your time and kind help. @Quetzacoalt91 @khouloudbelguith

[2019-01-17 06:15] weddingtextile opened #12187 "Impossible to delete combinations of a product"
**Describe the bug**
Try delete combination of a product.
There is an error in debug mode:
DELETE	xhr	403	/admin***/index.php/attribute/172?_token=tvcVWoU*****

Usually on a shared hosting server request DELETE denied (for security purposes).

This is the only one place in PrestaShop where the server request DELETE is used. In the remaining cases, the POST request was used. For example, when delet

[2019-01-17 07:05] Madalina-nadari commented on #12075
Hi!
I've checked the  stock_available table and, indeed, the location table is in there, but after I made the modification that @PrestaShark suggested, my stocks are working again.... I don't know why and I still have to check some modules from the theme, because It seems I have other errors in debug mode.
So, thank you all for helping me!

[2019-01-17 07:53] Quetzacoalt91 commented on #12055
I'm glad to see it worked by switching on another hosting provider.

On your side, it seems we still have a potential issue to fix or at least to detect. I'm closing it as "Cannot reproduce", but anyone having the same symptoms should let us know by providing as many details as possible.

Thanks for your time.

[2019-01-17 07:53] #12055 closed, assigned to nobody

[2019-01-17 07:59] khouloudbelguith commented on #12186
Hi @maofree,

You need to navigate to your BO => IMPROVE => International => Translations page => Modify translations
1. Type of translation => Themes translations
2. Select your theme
3. Select your language
4. Click on Modify
5. Search Translations

 For example:
1. Shop > Theme > Global, you can find
1.1 (tax incl.) => pop up add to cart / shopping cart block
![image](https://user-images.github

[2019-01-17 07:59] #12186 closed, assigned to nobody

[2019-01-17 08:08] Tomskor commented on #12187
Same here, this bug exist from start presta version 1.7

[2019-01-17 08:08] khouloudbelguith commented on #12187
HI @weddingtextile,

I did not manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.0.
403 error is meaning that the request was valid, but the server is refusing action. You might not have the necessary permissions for a resource.
So your issue is a server issue permission.
You need to check your host about this issue.
Thanks to check with them & feedback.

[2019-01-17 08:17] khouloudbelguith commented on #12185
Hi @caotico25,

Could you please try to clear the cache from your browser and remove the cookies from websites that cause problems.
You can also clear cache manually by deleting all the folder into var/cache (prod & dev).
You should force refresh the browser (by pressing ctrl + shift + R on Windows / Linux, CMD + R on Mac OS).
Thanks to check and feedback.

[2019-01-17 08:21] khouloudbelguith commented on #12075
Hi @Madalina-nadari,

I'm glad to see it worked.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-17 08:21] #12075 closed, assigned to nobody

[2019-01-17 08:25] sarjon commented on #10502
@matks i think we need some improvements in grid presenter itself. Here's how it currently works:

`GridPresenter` takes data (records, definition, filters & etc.) from `Grid` and passes it directly to template. In template, there are quite a few checks and unnecessary loops to render different parts of grids in single view.

What I think `Presenter` should do is build _final_ grid structure. This

[2019-01-17 08:33] sanctusmob opened #12189 "After changing hosting Back Office http error 500, Front Office OK"
I transfer prestashop to another hosting (i have done it many times).

After the transfer front office is working fine.
In back office i get http error 500.

Nothing in apache error log.
If i put in debug mode back office is working fine.

If disable debug mode and enable display error and i got this

Fatal error: Uncaught PDOException:﻿ SQLSTATE﻿[HY000] [1045] Access denied for user 'r1005_esorou

[2019-01-17 08:35] khouloudbelguith commented on #12107
Hi @saad-elalfy,

I'm glad that your issue is fixed.
About the `ttvcmsproductco` module, it's not provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
About the images issue, it could be a cache issue, you can clear cache manually by deleting all the folder into var/cache (pr

[2019-01-17 08:45] khouloudbelguith commented on #12184
Hi @caotico25,

Did you have any errors during the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-01-17 08:55] khouloudbelguith commented on #12189
Hi @sanctusmob,

I moved my Project to a new domain without errors.
1. I made a backup for my files & my database
2. I uploaded my store's files to your new server
3. I imported the old store's database to the new server
4. In file /app/config/parameters.php, I configured my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3. DB_USER: User assoc

[2019-01-17 09:10] sanctusmob commented on #12189
I clear manual older into var/cache (prod & dev)  and problem solved.
Thank you very much.

[2019-01-17 09:10] #12189 closed, assigned to nobody

[2019-01-17 09:16] colinegin commented on #10356
But does it improve in any way SEO and / or load time ?

[2019-01-17 09:28] khouloudbelguith commented on #12189
@sanctusmob, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-17 09:35] caotico25 commented on #12185
Hi @khouloudbelguith,

I know that doing this solve the problem, but it is temporal because it can happen again... I can do that and "see you later", the problem is when it happens to my customers.

The average profile of my clients is an adult person with little or no computer knowledge, so it would be unthinkable to explain to them that they have to do all this cleaning. Many of them are reticen

[2019-01-17 09:42] khouloudbelguith commented on #12185
@caotico25, in the BO => Advanced Parameters => Administration => in the General section, you can change "Lifetime of front office cookies" & "Lifetime of back office cookies"
![image](https://user-images.githubusercontent.com/16067358/51309332-6c627180-1a44-11e9-99c8-21ee8c4d46f2.png)
I hope that this solves your issue.
Thanks!

[2019-01-17 09:45] caotico25 commented on #12184
hi @khouloudbelguith,

I did not have any error during the upgrade, everything was supposedly fine.

This is my log.txt file:

[log.txt](https://github.com/PrestaShop/PrestaShop/files/2767995/log.txt)

[2019-01-17 09:52] LouiseBonnard commented on #10560
Hey guys, here are two wordings to help users find their path in the back office:

- Give your customers some privileges, assign them to customer groups in Shop Parameters > Customer Settings

- Remember,/Booster shot: you can create/edit your customer groups in Shop Parameters > Customer Settings

I guess we can localize it in Admin.Shopparameters, but I need to know how it will be integrated to

[2019-01-17 10:05] Maofree commented on #12186
Hi @khouloudbelguith
with the classic theme it is ok, but for a theme of addons I cannot edit these phrases.
I tested 3 different themes and all give me no result to find (tax excl.)
you should increase the verification on the templates because they are full of bugs and are not updated by those who develop them, many companies make hundreds of templates but then have many problems

![1](https://us

[2019-01-17 10:10] khouloudbelguith commented on #12186
@maofree, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!