[2021-02-14 18:35] decom-media opened #23258 "[SOLVED] Unable to generate a URL for the named route "admin_link_block_list" as such route does not exist"
#### Describe the bug

No longer able to login to backoffice, frontoffice is still working.

Errormessage when trying to open the login page:
Unable to generate a URL for the named route "admin_link_block_list" as such route does not exist.
[Symfony\Component\Routing\Exception\RouteNotFoundException 0]

#### Expected behavior

Backoffice Login Page should open

#### Steps to Reproduce

Steps to re

[2021-02-14 18:52] douleal commented on #22390
Hello,

I know that this issue has already been resolved, but I find myself in a similar situation. I use prestasho 1.7.7 in the Brazilian Portuguese language, I need the input format to be "d-m-Y". However, the default prestashop entry in the "specific price" field is "y-m-d". I already configured the format in languages, but it didn't work. I use a countdown module that uses the datepicker in th

[2021-02-14 19:43] kalukramer commented on #22390
Se ler em cima vai entender que o seu datepicker está errado, esse formato é incorreto, voçê tem um modulo "estragando" o datepicker, vai ter que ir desativando um modulo de cada vez até encontrar o responsável, por ex o utilizador shana0780 tinha um modulo "psproductcountdown" a interferir com o datepicker.

[2021-02-14 23:46] alfonsolr09 opened #23259 "gtin or ean-13 must be specified to show product details in google shopping"
![image](https://user-images.githubusercontent.com/62474824/107892576-53c82c80-6f26-11eb-9d39-22de4293fead.png)
![image](https://user-images.githubusercontent.com/62474824/107892697-2e87ee00-6f27-11eb-97a2-b64872fe0463.png)
https://support.google.com/merchants/answer/6324461
https://support.google.com/merchants/answer/6219078
https://support.google.com/merchants/answer/7052112?visit_id=63748941938

[2021-02-15 00:23] alfonsolr09 opened #23260 "when a product has several combinations no reference is assigned"
#### Describe the bug

when a product has several combinations no reference is assigned

#### Steps to Reproduce

Steps to reproduce the behavior:

1. create a product with multiple combinations
2. write reference in each of the combinations
3. see error

**Screenshots**

![image](https://user-images.githubusercontent.com/62474824/107893598-5e85c000-6f2c-11eb-859b-5e1c3f754b0d.png)
![image](https:

[2021-02-15 08:02] TGD001 commented on #23258
Same issue for me. PS 1.7.7.1 - PHP 7.3

[2021-02-15 08:32] Hlavtox commented on #23260
@alfonsolr09 The reference field shows the "base" reference of the product, which is used, when the combination does not have reference specified.

I just tested it and it works fine:
- Click create new product.
- Set a name
- Generate two combinations, assign references to them.
- Save product
- Refresh, combination references are still there, as they should. :-)

[2021-02-15 08:33] #23260 closed, assigned to nobody

[2021-02-15 08:33] florine2623 commented on #23255
Hello @alfonsolr09 ,

I have reproduced your issue in PS 1.7.6.9 and PS 1.7.7.1.
You can use tab key to write your image dimensions.

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2021-02-15 08:33] alfonsolr09 commented on #23260
Ok, base of reference

[2021-02-15 08:40] florine2623 commented on #23258
Hello @tom75 ,
I can't reproduce the issue in PS 1.7.7.1.
Is it a fresh install ? an upgrade ? Other ?
Thanks.

[2021-02-15 08:45] florine2623 commented on #23259
Hello @alfonsolr09 ,
The MPN and EAN13 code are present in the produce sheet in the BO.
Simple product :
![Capture d’écran 2021-02-15 à 09 43 58](https://user-images.githubusercontent.com/16019289/107923924-741dd880-6f72-11eb-89f2-1c94587b2d2f.png)

Product with combinations :
![Capture d’écran 2021-02-15 à 09 43 32](https://user-images.githubusercontent.com/16019289/107923918-71bb7e80-6f72-11

[2021-02-15 08:45] #23259 closed, assigned to nobody

[2021-02-15 08:48] TGD001 commented on #23258
if it can help you, I noticed this problem suddenly in two different old installations in same time. Same provider (aruba.it) A tiket has open from his side too.

[2021-02-15 08:55] florine2623 commented on #23256
Hello @Daxtermania ,
Please include screenshots as your steps are not clear.
Thanks

[2021-02-15 08:58] florine2623 commented on #23246
Hello @tswfi ,
Did you find what you were searching for ? Can I close the issue ?
Thanks!

[2021-02-15 09:02] tom75 commented on #23258
Hello @TGD001,

well, my installation is upgraded since many versions, now this shop is 1.7.7.0 and i would be happy to try to update to 1.7.7.1, but as i am not able to login i cannot even update the shop (Multishop, Multilanguage).

Basically it happened "out of nothing", as i did not do any changes directly before it happened, just checked again my orders, but, i am logged in all the time, ther

[2021-02-15 09:12] TGD001 commented on #23258
Also my two sites derive from many updates up to the last 7.7.1 and also to me since yesterday, the error has popped up on both out of nowhere. Browsing I found no reference, other than clearing the cache, (var / chache) which I did without getting any benefit. At that point I restored the backup, but still nothing; I then changed the PHP version (7.2-> 7.3) to no avail. I have opened a ticket wit

[2021-02-15 09:18] NeOMakinG commented on #23085
I agree, but I'm not alone to decide on this, @PrestaShop/prestashop-maintainers

[2021-02-15 09:20] florine2623 commented on #23258
Hello @tom75 ,
Please enable your debug mode to have more info about the error.

[2021-02-15 09:21] florine2623 commented on #23250
ping @PrestaShop/prestashop-core-developers ,

Could you check @oopen 's issue please ?
Thanks

[2021-02-15 09:46] Progi1984 commented on #9797
Ping @PrestaShop/product-team Should we allow this in the back office ?

[2021-02-15 09:49] alfonsolr09 commented on #23259
but it has no schema.org tags @florine2623

[2021-02-15 10:06] tom75 commented on #23258
@florine2623 here are the screenshots from the debug mode (cache cleaning has been tried already, file restore as well - just to mention again)

![grafik](https://user-images.githubusercontent.com/31710761/107932029-5dc94a00-6f7d-11eb-9080-aa7f4692bbd1.png)
![grafik](https://user-images.githubusercontent.com/31710761/107932243-9ff28b80-6f7d-11eb-9a24-eca888c19bde.png)

[2021-02-15 10:15] PierreRambaud commented on #9797
Imho, it shouldn't be handle by the PrestaShop project, requesting Google API requires having an API key from Google, and add the capability of editing these values and the configuration current configuration. It also requires to follow what Google provides and what they will do in the future. If someone needs it, consider using a custom module to do it.

[2021-02-15 10:28] TGD001 commented on #23258
This is mine
![errore_url](https://user-images.githubusercontent.com/41903971/107934911-ed242c80-6f80-11eb-9d3b-d98e531ad75d.JPG)

[2021-02-15 10:35] florine2623 commented on #23257
Hello @cocolate13 ,
I did an upgrade with one-click upgrade, from 1.7.6.7 to 1.7.7.1, but I can't reproduce your issue.
When using PS 1.7.6.7, you need to use PHP 7.2.

I suggest you restore your site with your back-up.
Thanks.

[2021-02-15 10:35] #23257 closed, assigned to nobody

[2021-02-15 10:45] Amit-Kumar-Tiwari-Webkul opened #23261 "Customization fields and its saved value shows HTML content in order confirmation mail."
#### Describe the bug

Customization fields in Order confirmation mail are not well-formatted and showing HTML content.

#### Expected behavior
It must show well-fomated content without any HTML tag
#### Steps to Reproduce

Steps to reproduce the behavior:
1- Go to customizable product: https://prnt.sc/zl9oi5
2- save your customization and place an order.
3- We receive an order confirmation mail
h

[2021-02-15 10:54] seederp2p opened #23262 "Missing '$template' parameter - smarty_internal_templatebase.php on line 177"
Hi,

So my server logs are getting this error:

 Got error 'PHP message: PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <-- \n  thrown in /var/www/XXXXXXXXXXX/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177\n', referer: https://xxxxxxx.xxx/en/order

TBH I don't really know how to reproduce the error. I just can see at server logs that fr

[2021-02-15 10:55] SimonGrn commented on #23262
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-02-15 10:55] #23262 closed, assigned to nobody

[2021-02-15 11:16] cocolate13 commented on #23257
Thanks a lot for your response. I'm going to change PHP version 7.3 to 7.2
and retry upgrade.
Have a nice day.

Le lun. 15 févr. 2021 à 11:35, florine2623 <notifications@github.com> a
écrit :

[2021-02-15 11:34] alfonsolr09 commented on #23259
@florine2623 reopen this please
The itemprop ean13 or gtin It is not defined

[2021-02-15 11:54] mmystery commented on #14554
@msaustral workaround fixed the problem, thank you!

I confirm the same problem. I'm on PS 1.7..6.8.

No alert "Unfortunately, there is no payment method available." was shown to the user.

I have tried to save again the settings in the Payment -> Preferences, both Payment Restrictions and Carrier Restrictions, but nothing happened. I had to add the missing lines in the DB as per msaustral's instr

[2021-02-15 12:18] msaustral commented on #14554
Hi @mmystery nice to help

[2021-02-15 13:53] florine2623 commented on #23258
Can you try to comment module ps_linklist ?

[2021-02-15 13:58] tom75 commented on #23258
@florine2623 well, happy to do that, but, what you mean exactly with "comment module ps_linklist" - removing the module directory (just as i mentioned, even with a restore from a week ago it is still the same problem)?

[2021-02-15 14:03] florine2623 commented on #23250
Hello @oopen ,
Could you check those 2 issues : #16865 & #22748 ?
It seems like they are similar.

[2021-02-15 14:11] florine2623 commented on #23261
Hello @Amit-Kumar-Tiwari-Webkul ,
Your issue is a duplicate of #22330.

It is already in our debug roadmap.
So I'll close your issue.
Your PR will be linked to #22330 and reviewed.
Thanks!

[2021-02-15 14:11] #23261 closed, assigned to nobody

[2021-02-15 14:11] florine2623 commented on #23261
Duplicate of #22330

[2021-02-15 14:15] florine2623 commented on #23258
Yes change `ps_linklist` to `_ps_linklist` and refresh your page.

[2021-02-15 14:16] epatec commented on #10258
Hello,
Is there any progress with this?
Should we wait for a solution or do it ourselves? Is there a way we could contribute?
Request: It should also be possible to set customer language during customer creation in BO.
Thanks,
Klaus

[2021-02-15 14:26] marionf commented on #10258
Hello @epatec

PrestaShop is an open source solution, you are welcome if you want to develop this feature :)
You can look at the specifications here: https://github.com/PrestaShop/PrestaShop/issues/10258#issue-356511837
To contribute, you can make a pull request [here](https://github.com/PrestaShop/PrestaShop/tree/develop)

Thank you!

[2021-02-15 14:26] matks commented on #9797
Confirmed: since Google API has limited the free plan capacities, Google Maps widget was removed in PrestaShop 1.7.7 Back Office Order page.

There are multiple hooks in the page where a module could add it (https://devdocs.prestashop.com/1.7/modules/sample-modules/order-pages-new-hooks/), but it cannot be part of the Core and will not be.

See details in https://github.com/PrestaShop/PrestaShop/i

[2021-02-15 14:26] #9797 closed, assigned to nobody

[2021-02-15 14:49] khouloudbelguith opened #23265 "BO - Order page - Property Customization->quantity is not valid - Updating the quantity of customized product NOK"
#### Describe the bug

In the BO > Orders > Order details page > when we try to update the quantity of the customized product for the second time => it will be NOK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO > Add a customized product `demo_14` to the cart with quantity = 1 > process to checkout
2. BO > Orders > View last order created
3. Increase the quantity of the pr

[2021-02-15 14:51] tom75 commented on #23258
done - still the same problem (as mentioned, it is nearly impossible that it is depending on some files, as a weeks old backup did result in the same error, only thing is the database which is all the time the same)

[2021-02-15 15:20] TGD001 commented on #23258
I did also, both in PS\molules and Theme\modules.   No result

[2021-02-15 15:48] matks commented on #23258
@tom75 @TGD001 The issue is likely to come since you upgrade ps_linklist to recent v4.0.0 . I dont know why, I tried to reproduce your issue but I cant. It can be because of specific environment settings.

The issue is that the code in charge of computing URLs is unable to read the file content of https://github.com/PrestaShop/ps_linklist/blob/master/config/routes.yml (this is where the admin_link

[2021-02-15 16:21] matks commented on #22141
Hi @bulldesign @cocolate13 @idefax

As explained in the top comment, @Robin-Fischer-PS  was able to see the error message `Expected to find class "PrestaShopBundle\Controller\Admin\Improve\AddonsStoreController" in file "/src/PrestaShopBundle/Controller/Admin/Improve/AddonsStoreController.php" while importing services from resource` when doing these steps:

1. Install 1.7.4.4 version of PrestaShop

[2021-02-15 16:28] tom75 commented on #23258
@matks well, thanks for pointing in the direction of the ps_linklist

could you maybe let me know what the update process of the ps_linklist module version 4.0.0 is doing exactly, as with that information i would be able to find out what has been changed and i can also try to return it (mainly interested in db changes, as it still seems to be db related).

i would also assume that as soon as more

[2021-02-15 16:31] matks commented on #23258
You can use the following items to find what you are looking for:
- comparison of tags https://github.com/PrestaShop/ps_linklist/compare/v3.2.0...v4.0.0
- changelog of the release https://github.com/PrestaShop/ps_linklist/releases/tag/v4.0.0

[2021-02-15 16:54] khouloudbelguith opened #23266 "BO - Order page - Ajax issue - The Discount Block is not automatically updated when updating / adding a product"
#### Describe the bug

In the BO > Orders page > Order details page > when we update the quantity of the product => the discount value is not automatically updated
We should refresh the page to be ok

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule with free shipping
2. In the BO > Shipping > Carriers page > Enable `My cheap carrier`
3. Go to FO > Add `demo_5` (The

[2021-02-15 17:03] cocolate13 commented on #22141
Thanks a lot. I'm very aware that this is an opensource project  and it's based on people free involvment. This is a very great and usefull software ! I'm going to try to upgrade again with PHP 7.2 (answer from support #23257 ) - I'm currently with PHP 7.1.
Have a nice day.

[2021-02-15 17:20] khouloudbelguith commented on #23266
I found other steps to reproduce the issue:
1. Create an order from the FO
2. Go to BO > Catalog > Discounts page
3. Create a cart rule without code
4. Go to BO > Orders > Last order created
5. Add a product
6. See the error > the discount block is not added
![image](https://user-images.githubusercontent.com/16067358/107976702-42306480-6fba-11eb-8c85-a5d9a66ff390.png)
7. If you refresh the page =>

[2021-02-15 17:33] riga75 opened #23267 "problem when an address is deleted"
#### Describe the bug

I noticed this problem. If a user places an order and then deletes the address from his panel in fgront end. In administration in the item orders that sale disappears, if I go to the database I go but it is not feasible for a customer.

#### Steps to Reproduce

Steps to reproduce the behavior:

1- I place an order with an address
2 - proceed to payment
3 - from the front end

[2021-02-15 17:43] khouloudbelguith commented on #12417
Hi @SharakPL,

It is only displayed to our member team.
This link is provided to ping our product team :slightly_smiling_face:

Thank you!

[2021-02-15 17:44] tom75 commented on #23258
@matks, @florine2623 Well, it is definitely related to the ps_linklist v4.0.0 module, as i did disable it directly in the db and since that time it is again possible for me to login in the backoffice - so, for this moment i will leave it disabled, but it is definitely a bug of that module, maybe connected to prestashops updated since many versions - at least that is what it seems both my shop and

[2021-02-15 17:46] oopen commented on #23250
Hi @florine2623
Yes, this bug also concerns this issue https://github.com/PrestaShop/PrestaShop/issues/22667 there is possibly other reported issues that are in this scope.
Many impact in front, due to this bug, need to be imperatively merge for v17.7.2 !
Front error on variants changes, reported : `An error occurred while processing your request`

[2021-02-15 18:08] Amazzing opened #23268 "Category group access is reset after saving programmatically"
#### Describe the bug
Category group access is reset after saving object programmatically, like `$category_obj->save();`

#### Expected behavior
Group access options shouldn't be reset if category object is saved programmatically

#### Steps to Reproduce
1. Open any category sheet for editing, _for example category ID 5_
2. Set specific group access for that category, _for example make it availabl

[2021-02-15 19:11] TGD001 commented on #23258
can someone kindly tell me how to disable the ps_linklist.php module?  Thank you

[2021-02-15 19:19] tom75 commented on #23258
you need to do it in the db, table "tab" (with prefix you did choose, of course, default should be "ps_tab") and set "enabled" to 0

![grafik](https://user-images.githubusercontent.com/31710761/107985725-ea4e2980-6fca-11eb-99b2-0d390998b63f.png)

[2021-02-15 19:21] SharakPL commented on #12417
@khouloudbelguith thank you.
@github It should be some kind of _access restricted_ message instead, because 404 is rather misleading. Looks like wrong link target.

[2021-02-15 21:23] jwich71 commented on #13698
Thanks a lot! This patch worked for me, too! Same problem after migration from 1.6 to 1.7.7.0

[2021-02-15 22:23] hibatallahAouadni commented on #23201
Hello @alfonsolr09

Thanks for your feedback!
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12381.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-15 22:23] #23201 closed, assigned to nobody

[2021-02-15 22:23] hibatallahAouadni commented on #23201
Duplicate of #12381

[2021-02-15 22:29] hibatallahAouadni commented on #22960
Hello @CISKITO93 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-15 22:29] #22960 closed, assigned to nobody

[2021-02-15 22:30] hibatallahAouadni commented on #22647
Hello @Hlavtox,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-15 22:34] hibatallahAouadni commented on #23204
@YerayC78 thanks for your feedback!
Glad that you resolve your issue :tada:
So, I close this issue :wink:

[2021-02-15 22:34] #23204 closed, assigned to nobody

[2021-02-16 00:14] ahtokren commented on #23229
It looks like it doesn`t depend from this tables (all currencies and lang. are present).
I have made this tests for update to v1.7.7.1 from 2 ver: 1.7.2.1 and 1.7.6.4 on 2 different servers, both have this issue.
Also played with PHP versions.

[2021-02-16 06:21] TGD001 commented on #23258
@tom75,
![admin](https://user-images.githubusercontent.com/41903971/108025848-87d74680-7027-11eb-976d-85877284255f.JPG)
Thank you very much for the explanation. Open the database I noticed that there were two ps_linklists (see the screenshot). I deleted one, disabled the other as suggested and everything started working again. and this problem was for both e-commerce that I own. I hope my experien

[2021-02-16 06:52] JeromeBijourium opened #23271 "Error 500 1-click upgrade"
#### Describe the bug

I tryed to use the 1-clic update to get the last version of prestashop

#### Expected behavior

ended to 500 error, it seems that the system was not able to unpack it but i m not sure

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to module
2. Click on 1 clic update
3. Scroll down to '....'
4. See error -> 500

->www.bijourium.com is my website

* PrestaSh

[2021-02-16 08:15] matks commented on #23271
Hi @JeromeBijourium you need to provide us a screenshot or something more tangible, "a 500 error" is a bit vague 😅

[2021-02-16 08:33] JeromeBijourium commented on #23271
I know it s a bit short but I unfortunatly didnt think about taking a screenshot.
But I have more informations now :
My hosting was full and it seems that the plugin was unable to unpack. (seems theres nothing to check if the plugin has enough place to unpack)
SO... something went wrong because of that and i have no idea how to get the site back.

[2021-02-16 08:38] matks commented on #23271
Indeed if you have run out of space, it is possible the ZIP archive could not be unpacked.

If you need help with your shop or third-party modules, please have a look at the PrestaShop Company’s [support plans](https://www.prestashop.com/support).

[2021-02-16 09:30] hibatallahAouadni commented on #23267
Hello @riga75

I didn't manage to reproduce your issue with PS1.7.7.0 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1snPinn22iJUZQ4AYgzNAI2UfRZeoakst/view

Please check and feedback.
Thanks!

[2021-02-16 09:37] riga75 commented on #23267
I did not change the status of the order, but I placed the order and immediately canceled it from the front end

Stefano Rigazio
____________________________________________

Via Salussolia, 23 - 13043 Cigliano (VC)
347 0032218 Cellulare

PRIVACY
Le informazioni contenute in questo messaggio sono riservate e confidenziali. Il loro utilizzo e' consentito esclusivamente al destinatario del messaggio

[2021-02-16 09:57] hibatallahAouadni commented on #23250
Hello @oopen

Thanks for your feedback and your PR :rocket:
Could you please provide clear steps to reproduce your issue :pray:

Thanks in advance.

[2021-02-16 10:06] hibatallahAouadni commented on #23254
Hello @ComonSoft

Sorry for the late response.
Regarding the first issue, I couldn't reproduce :confused: did you override some CSS files? are there any JS errors thrown?
About the second issue, try to clear cache and refresh the page several times.

Please check and feedback.
Thanks!

[2021-02-16 10:14] hibatallahAouadni commented on #23271
Hello @JeromeBijourium

As @matks mentioned above, it seems you need some help with your store and your issue is not related to PS Core.

So, I close this issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support

[2021-02-16 10:14] #23271 closed, assigned to nobody

[2021-02-16 10:19] hibatallahAouadni commented on #23259
Hello @alfonsolr09

Could you please edit your issue **following the provided template to submit a complete bug report** and please provide clear **steps to reproduce**, then I will open the issue :wink:

Thanks!

[2021-02-16 10:19] matks opened #23273 "CI failing: ps_linklist v4 in integration tests"
We have integration tests CI failing on `develop` since 11/02/2021.

We've had many different observable issues related to it.

Example
[code]

**This issues is currently preventing the merge of all PRs on `develop` and is consequently a high priority for maintainers.**

[2021-02-16 11:02] hibatallahAouadni commented on #23268
Hello @Amazzing

Could you please check after executing this line `$category_obj = new Category(5);` the group access of `$category_obj` by method `get` (before the save line `$category_obj->save();`).
Please check and feedback.

Thanks!

[2021-02-16 11:06] ComonSoft commented on #23254
Hi, in fact it was a Prestashop 17.4.5 migrate to 1.7.6.4 and migrate to 1.7.7.1, so the /js/admin/orders.js was present in previous version as you can see https://github.com/PrestaShop/PrestaShop/tree/1.7.4.x/js/admin

Regards

[2021-02-16 11:24] hibatallahAouadni commented on #23258
Hello @TGD001

Could you try now to enable the module `ps_linklist` from BO (not from database) and see if you still encounter the issue with BO.
So, you upgraded your shop to PS1.7.7.0, then you upgrade the `ps_linklist` module and then you encounter this issue, is that so? If so, please provide your previous PS version and the previous `ps_linklist` module version.

Thanks!

[2021-02-16 11:28] hibatallahAouadni commented on #23254
Hello @ComonSoft

I meant, please open your navigator console and check if is there any error thrown.

Did you try it? do you still encounter the second issue?

Please check and feedback.
Thanks!

[2021-02-16 11:32] hibatallahAouadni commented on #23267
Hello @riga75

You mean that you deleted the address when the order status is "Awaiting bank wire payment", is that so? If so, even without changing the order status, I still can't reproduce your issue :confused:

Thanks!

[2021-02-16 11:40] Amazzing commented on #23268
Hi @hibatallahAouadni
Do you mean this? `$category_obj->getGroups();`
Yes, it returns real groups of `$category_obj` before saving.

Actually the following workaround can be used to save category properly, but it requires extra manipulations with `groupBox` property:
[code]
But if `$category_obj->groupBox` is not specified additionally, then it is empty, and when category is saved, groups are rese

[2021-02-16 12:01] TGD001 commented on #23258
Hi @hibatallahAouadni

I took the test you requested, and the problem returns. Consider that I have release 1.7.7.1 for both sites, installed  just released new version, and issue raised yesterday.

[2021-02-16 13:29] ComonSoft commented on #23254
No js errors, test in a private navigation . Just a side js effect, due to this old js file concatened.

[2021-02-16 13:37] riga75 commented on #23267
Yes, right
my other clients also have the same problem with 1.7.70

Stefano Rigazio
____________________________________________

Via Salussolia, 23 - 13043 Cigliano (VC)
347 0032218 Cellulare

PRIVACY
Le informazioni contenute in questo messaggio sono riservate e confidenziali. Il loro utilizzo e' consentito esclusivamente al destinatario del messaggio, per le finalità indicate nel messaggio stes

[2021-02-16 13:45] maxime18dev opened #23274 "BUG Duplication uncorrect Features in product page 1.7.6.7"
#### Describe the bug

In catalogue => product => any product. When you add a feature by filling in only the "custom value" field and save afterwards. The feature remains and each time you save and then refresh the product page, it will duplicate the feature by two.

#### Expected behavior

It is not possible to save a feature that only has the "custom value" field filled in.

#### Steps to Reprod

[2021-02-16 13:46] Robin-Fischer-PS opened #23275 "BO - Exception in Category Edit after upgrade from 1.6.1.24"
#### Describe the bug

After upgrade from a 1.6.1.24 to 1.7.7.2 build 1, when I edit a category, I have an exception. This occurs even on category created when I was already in 1.7.7.2.

This could not be reproduced on upgrades from recent versions (1.7.2.x, 1.7.4.x, 1.7.5.x, 1.7.6.x).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a 1.6.1.24 version
2. Using autoupgrade, u

[2021-02-16 14:04] #23273 closed, assigned to PierreRambaud, jolelievre

[2021-02-16 14:33] hibatallahAouadni commented on #23274
Hello @maxime18dev

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16306.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: you should downgrade your PHP version to 7.2 cause PS1.7.6.7 is not compatible with PHP7.3 (see [our system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirement

[2021-02-16 14:33] #23274 closed, assigned to nobody

[2021-02-16 14:33] xplsek03 commented on #9927
Issue is still reproducible on 1.7.7.1. ...

[2021-02-16 14:33] hibatallahAouadni commented on #23274
Duplicate of #16306

[2021-02-16 15:57] SD1982 opened #23277 "BO / some BO pages/links seems broken after upgrading from 1.6.1.24 to 1.7.7.2"
#### Describe the bug

After an upgrade, some links of the BO menu redirect to the dashboard ( with an exception in console)
Some page have an "access denied" message error

#### Expected behavior
All pages and links should work correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. After an upgrade from 1.6.1.24 to 1.7.7.2
2. In the BO click on the Orders / orders link
3. See er

[2021-02-16 15:58] SD1982 commented on #23277
@atomiix WDYT ?

[2021-02-16 16:13] PierreRambaud commented on #23277
Isn't the same as #9513 ?

[2021-02-16 17:09] SD1982 commented on #23277
I don't think but there is some commons points and maybe the problem are related

[2021-02-16 17:24] khouloudbelguith opened #23278 "[Autoupgrade] - Cannot view suppliers after an upgrade from PS16 to PS177"
#### Describe the bug

After an upgrade from PS16124 to PS1772build1, we cannot view the list of suppliers, an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/108097973-1dec8a80-7083-11eb-9e71-ef59ee488007.png)

It is ok after an upgrade from PS16124 to PS1769

#### Expected behavior

Can view the list of products selected to the supplier

#### Steps to Reproduce

[2021-02-16 17:26] PierreRambaud commented on #23245
AFAIK there is no hook to do it right now.

[2021-02-16 17:40] oopen commented on #23250
Hi @hibatallahAouadni
Step to reproduce:
just download the last version V1.7.7.1,
install, unable multi-language
add product variant
go to product page
select variant
the request return 404 with front message: An error occurred while processing your request
this is due to post URL contain local

[2021-02-16 18:14] ig0rig0r opened #23279 "Big number of combinations and slow response"
I have 10.000 combinations in one product and I wait for 30 seconds every time when I want to see that page.

Is there any solution or the only way is to reduce the number of combinations?

Additional information:
PrestaShop version: 1.7.6.9
PHP version: 7.1
Performance/Smarty/Cache: YES
Performance/Smarty/Caching type: File system
Performance/Smarty/Clear cache: Clear cache every time something h

[2021-02-16 19:24] JavierEB commented on #18151
I also continue with the same problem, with PS 1.7.4.3 and Faceted Search 3.7.0. Is there a way to solve this even if it is a patch ...

[2021-02-16 20:21] Delota opened #23280 "Symfony does not recognize module classes from front/services.yml"
#### Describe the bug

I'm creating a module with the new Symfony style.
I defined the configs as follows:
[code]

All contain the same content, however, when loading anything in the front I get:
[code]

services.yml
[code]

Everything works correctly in the admin and the services are registered succesfully there.
When I delete `config/front/services.yml`, everything works normally.

It seems like

[2021-02-17 08:15] matks opened #23281 "Upgrade from 1.7.6.9 to 1.7.8.0 fails according to CI ; Uncaught Error: Call to a member function query() on null"
Thanks to @atomiix the upgrade now runs every night against latest nightly build.

According to the dashboard, upgrade from 1.7.6.9 to 1.7.8.0 fails https://nightly.prestashop.com/report/894

Logs https://github.com/PrestaShop/autoupgrade/actions/runs/573249428

[code]

[2021-02-17 08:54] Robin-Fischer-PS opened #23282 "FO - Error after upgrade from 1.6 in debug mode - Module socialsharing"
#### Describe the bug

After upgrade from a 1.6.1.24 to 1.7.6.9 or 1.7.7.2 build 1 (maybe previous versions, did not tested all versions), when on debug mode, FO has an error when trying to access a product page.

This is linked to the obsolete socialsharing module that is not uninstalled when upgrading.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

[2021-02-17 09:16] matks commented on #22330
I'm wondering if it's really an issue 🤔  this customization field can accept HTML ? it's not just text?

[2021-02-17 09:17] hibatallahAouadni commented on #23279
Hello @ig0rig0r

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9809.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-17 09:17] #23279 closed, assigned to nobody

[2021-02-17 09:17] hibatallahAouadni commented on #23279
Duplicate of #9809

[2021-02-17 09:21] Robin-Fischer-PS commented on #23282
After re-test, this bug also occurs wuth upgrade to 1.7.6.9 so it's not a regression, therefore not needed for 1.7.7.2 release.

[2021-02-17 09:23] hibatallahAouadni commented on #23280
Hello @Delota

Please check our [documentation](https://devdocs.prestashop.com/1.7/modules/creation/module-file-structure/), and check if your create the proper module tree.
Don't forget to feedback.

Thanks!

[2021-02-17 09:27] matks commented on #23280
@Delota I think (not 100% sure) that `config/front/services.yml` is usable when you create a new web page powered by Symfony and served by your module. But I am not sure (again, needs to be verified) that you can use the services defined there on a regular FO page.

Because regular FO pages are powered by PrestaShop legacy framework and Smarty.

[2021-02-17 09:28] carlfriedrich commented on #18938
Is there a change that this fix is backported to 1.7.7 ?

[2021-02-17 09:31] carlfriedrich commented on #18938
@Progi1984 Is there a chance that this fix gets backported to 1.7.7 ?

[2021-02-17 09:44] Progi1984 commented on #18938
@carlfriedrich I don't think so. Only regressions can be added in a patch version for 1.7.7.x.

[2021-02-17 09:52] carlfriedrich commented on #18938
@Progi1984 Well, isn't that one? It's quite irritating to have the notifications show a number constanty when there actually is none.

[2021-02-17 10:22] Progi1984 commented on #23275
Fixed by #23276

[2021-02-17 10:22] #23275 closed, assigned to atomiix

[2021-02-17 10:58] hibatallahAouadni commented on #23258
Hello @TGD001

Ok, thanks for your feedback.
Could you please provide your previous PS version (before upgrade) and the previous version of the module `ps_linklist`.

Thanks!

[2021-02-17 10:58] jf-viguier commented on #21014
Hello,

This issue should be reopened because 1.6 upgrade tu 1.7 is still supported and is in the code i.e. :
https://github.com/PrestaShop/PrestaShop/blob/83d0a653faac3a88b6d9840092a507eac37ad892/install-dev/upgrade/php/update_modules_sql.php#L31

Prestashop should support mysql 5.7+, there is no maximum version there https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2021-02-17 11:00] hibatallahAouadni commented on #23254
Hello @ComonSoft

Thanks for the feedback!
About the second issue, did you try to clear cache and refresh the page several times, has the issue been resolved?
Please check and feedback.

Thanks!

[2021-02-17 11:06] TGD001 commented on #23258
Hi @hibatallahAouadni
We generally keep our installations up to date, so we went from 1.7.7.0 to 1.7.7.1. Enclosed you will find the PS_linklist
 from the backup of a week ago

[ps_linklist.zip](https://github.com/PrestaShop/PrestaShop/files/5995131/ps_linklist.zip)

[2021-02-17 11:07] ComonSoft commented on #23254
Of course! The only solution is to delete the file, because Prestashop backoffice load cacatenate all js files present in /js/admin/ in one file.
Regards

[2021-02-17 11:32] Ericdev89 opened #23285 "prestashop product edit backoffice not working ( loads forever )"
#### Describe the bug

Unable to edit or add  a product in backoffice.
as soon as i want to edit a product in backoffice the page loads forever and after a lonnnnnnnnnnnnnng time 503 error.
and all links in backoffice do the same thing after click on edit link for product in backoffice

#### Expected behavior

The edit or add link button must open the form for edition

#### Steps to Reproduce

Ste

[2021-02-17 11:43] Hlavtox commented on #22647
@hibatallahAouadni Hi, I can provide you with a database dump or whatever you need, but the problem is there. All the queries come from `CartRule->checkValidity` funtion.

When you have clear cookie, all the logic is returned at the start, in `CartRule->autoAddToCart`.

[code]
This should also happen if the cart is empty. This is is 550 extra queries that are slowing the page down.

![rules](https

[2021-02-17 11:56] kenlog opened #23286 "[Customer Reassurance module] PHP Warning: finfo_file & mime_content_type"
#### Describe the bug

After updating to the latest version the log is full of:
`mod_fcgid: stderr: PHP Warning: finfo_file(/var/www/vhosts/website/httpdocs/modules/var/www/vhosts/website/httpdocs/blockreassurance/var/www/vhosts/website/httpdocs/views/var/www/vhosts/website/httpdocs/img/var/www/vhosts/website/httpdocs/img_perso/var/www/vhosts/website/httpdocs/box.png): failed to open stream: No su

[2021-02-17 12:00] khouloudbelguith opened #23287 "BO - Orders page - An exception is displayed when adding only a space in the payment method"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/22791#issuecomment-778078472
An exception is displayed when adding a payment method with an only space ` `

#### Expected behavior

Ping @PrestaShop/product-team what do you think?
In PS1769, we can successfully add this payment
![image](https://user-images.githubusercontent.com/16067358/108201293-ef70bd

[2021-02-17 12:35] hibatallahAouadni commented on #23268
Hello @Amazzing

Thanks for your feedback.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17449.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-17 12:35] #23268 closed, assigned to nobody

[2021-02-17 12:35] hibatallahAouadni commented on #23268
Duplicate of #17449

[2021-02-17 13:09] hibatallahAouadni commented on #23254
Hello @ComonSoft

So, the first issue I couldn't reproduce and the second issue is resolved.
Well, if you could provide more information to help me reproduce the first issue.
Otherwise, I have to close the issue :wink:

Thanks!

[2021-02-17 13:11] NeOMakinG commented on #10977
Unfortunately, it looks like the alpha version we're using on the classic theme doesn't include badges...

And we're unable to update it until next major :/

wdyt @PierreRambaud ?

[2021-02-17 13:17] PierreRambaud commented on #10977
@NeOMakinG I confirm.
Otherwise, we can update the bootstrap version, but we will break everything because people who create the first 1.7 version included Bootstrap 4 alpha :trollface:
I'm closing this issue, we will update our dependencies as soon as possible, but we will not add `badge` classes manually.

[2021-02-17 13:17] #10977 closed, assigned to nobody

[2021-02-17 13:17] hibatallahAouadni commented on #23285
Hello @Ericdev89

We are aware of this issue, it is already fixed with this PR #8780 (PS version 1.7.3.1).
This issue is a duplicate of #11268.
Sorry but I have to close the issue, please subscribe to the issue mentioned above.

Thanks!

[2021-02-17 13:17] #23285 closed, assigned to nobody

[2021-02-17 13:17] hibatallahAouadni commented on #23285
Duplicate of #11268

[2021-02-17 13:19] twazerty opened #23288 ""Virtual" Stock not lowered when adding Product with customization to Cart."
#### Describe the bug

When you add a product to your Cart the stock is lowered. This is visible under the Product Details tab in the frontend. This way you can see how many items there are still left. So you know how many more items you can add to your Cart. This works like a charm, except when you can apply a customization to the product. Then the stock in the frontend is not lowered.

You can a

[2021-02-17 13:22] hibatallahAouadni commented on #23025
Hello @s-friedli ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-17 13:22] #23025 closed, assigned to nobody

[2021-02-17 13:23] hibatallahAouadni commented on #23014
Hello @PimpamCraveIt ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-17 13:23] #23014 closed, assigned to nobody

[2021-02-17 13:24] hibatallahAouadni commented on #23009
Hello @Ericdev89 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-17 13:24] #23009 closed, assigned to nobody

[2021-02-17 13:25] hibatallahAouadni commented on #23000
Hello @go-sudo ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-17 13:25] #23000 closed, assigned to nobody

[2021-02-17 13:32] Hlavtox commented on #22647
Disabling one of 25 active cart rules brings the total query count down to 668. Each of the 135x queries are reduced to 126x queries.

[2021-02-17 13:36] hibatallahAouadni commented on #23286
Hello,

Could you please provide steps to reproduce the issue.

Updating the PS or the module `blockreassurance`? and what was the previous version?

Thanks!

[2021-02-17 13:43] hibatallahAouadni commented on #22647
Hello @Hlavtox

Ping @PrestaShop/prestashop-core-developers could someone help me up to reproduce the issue :sweat_smile:
Thanks in advance.

[2021-02-17 14:00] MatShir opened #23290 "[EPIC] - Order reference"
**Features**
_still need to be specified_

- [ ] #13212 - Order reference to Order ID
- [ ] #18295 - Make order reference configurable

[2021-02-17 14:00] PierreRambaud commented on #22647
Queries are cached in the Db class. The whole "Cart & Cart Rules models" have to be refactored. A lot of queries are malformed. This is something we are already aware of but we can't refactor these parts without breaking everything.
This task will be done when we will be able to refactor these parts.
I'm afraid of side effects if we touch something here. Like the `autoAddToCart` or `getProducts`,

[2021-02-17 14:02] PierreRambaud commented on #22840
I'm still convinced we will not accept your pull request until the Symfony migration is ended or you properly split the database settings per environment.

[2021-02-17 14:08] PierreRambaud commented on #20034
I'm more in favor of closing this issue and rework dedicated parts as soon as possible.
If we keep this issue we encounter problems:
- What we have to optimize?
- What we have to refactor?
- When the issue is fixed?

We are also able to use the [Boy Scout rule](https://biratkirat.medium.com/step-8-the-boy-scout-rule-robert-c-martin-uncle-bob-9ac839778385) in our PR to fix it.

[2021-02-17 14:08] #20034 closed, assigned to nobody

[2021-02-17 14:09] NeOMakinG commented on #10478
As discussed with @PierreRambaud :

We think that the classic webpack configuration is managing theme assets, and should not manage modules assets which are really out of scope.

It looks like we doesn't plane to to anything for this issue for the moment, let's close it !

Thanks for your feedback anyway, it will help us to decide on a lot of points in the next major!

[2021-02-17 14:09] #10478 closed, assigned to nobody

[2021-02-17 14:30] kenlog commented on #23286
Hi @hibatallahAouadni I upgraded from PS v1.7.6.4 to 1.7.7.1 the blockreassurance module was at v4.1.1 and after the v5.0.0 update.

[2021-02-17 14:31] hibatallahAouadni commented on #23288
Hello @twazerty

Could you pleasse check this issue #9974 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-02-17 14:40] fedeanimation opened #23291 "Invoice address different from billing address"
#### Describe the bug

When I change the invoice address it change also the shipping address. I set Spain in the shipping address than when I select in the invoice another nation different from Spain it change also the shipping address.

#### Expected behavior

The client can choose if the invoice addresse should be different from shipping address.

#### Steps to Reproduce

Steps to reproduce the

[2021-02-17 14:50] PierreRambaud commented on #23164
I agree, the hook call has nothing to do in the foreach :thinking:

[2021-02-17 14:51] khouloudbelguith commented on #23216
Hi!

If this PR is merged: https://github.com/PrestaShop/PrestaShop/pull/22920
We should also remove the quantity label in the BO > Orders > Add new Order page > Cart block
![image](https://user-images.githubusercontent.com/16067358/108221219-d5db6f80-7137-11eb-8bf8-b8dd8fc9a70d.png)

Thank you!

[2021-02-17 14:54] hibatallahAouadni commented on #23267
Hello @riga75

Sorry, but I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1kLTB9kirjSblezzFAx7aTu1Th_q66-or/view

Please check and feedback.
Thanks!

[2021-02-17 14:55] #23099 closed, assigned to NeOMakinG

[2021-02-17 14:59] hibatallahAouadni commented on #23164
@PierreRambaud Great :tada: so shall I change the label to **`To Do`** or we need approval from the Product Team?

[2021-02-17 15:09] riga75 commented on #23267
See here: https://www.loom.com/share/2fef40ed9a9c4e289409dfdf5e295927

Stefano Rigazio
____________________________________________

Via Salussolia, 23 - 13043 Cigliano (VC)
347 0032218 Cellulare

PRIVACY
Le informazioni contenute in questo messaggio sono riservate e confidenziali. Il loro utilizzo e' consentito esclusivamente al destinatario del messaggio, per le finalità indicate nel messaggio s

[2021-02-17 15:35] Hlavtox commented on #20034
@PierreRambaud Ok!! But just add it to some general todo, please, so it's not forgotten. :-)

[2021-02-17 15:38] Hlavtox commented on #22647
@PierreRambaud Why does it increase load time by 200%, if it's cached? 😄

Could it be fixed by adding something like `if cart empty `here?
[code]

Also, I think all of these these calculations are done 2 times - once when assigning generalpurposevariables and then in ps_shoppingcart module. Just by calculating the cart once, we can cut the queries in half.

[2021-02-17 15:41] matks commented on #21014
@jf-viguier thanks for the notice, indeed this issue seems important

ping @atomiix @PierreRambaud

[2021-02-17 15:45] Hlavtox commented on #19479
@florine2623 @jolelievre @kerstar

Hi guys, we already started a topic, can you merge it? :-)

Also, @kerstar, you can use my code to resend your order confirmation. 🍺 https://github.com/PrestaShop/PrestaShop/issues/14754#issuecomment-623364507

[2021-02-17 15:49] PimpamCraveIt commented on #23014
Solution : if you have this issue, you need to reinitialize the plugin then update it

[2021-02-17 15:49] hibatallahAouadni commented on #23267
Hello @riga75

That's extremely odd! Could you please switch to the default theme and try again. If you still encounter it, please disable your purchased modules one by one to identify the culprit :sweat_smile:

Thanks!

[2021-02-17 15:50] hibatallahAouadni commented on #23014
@PimpamCraveIt Thanks :wink:

[2021-02-17 16:11] marionf commented on #11847
Duplicate of #23120

[2021-02-17 16:11] #11847 closed, assigned to nobody

[2021-02-17 16:14] hibatallahAouadni commented on #23291
Hello @fedeanimation

Do you mean that the page refresh and you found only the first address saved, is that so?
If not, please try again cause I didn't manage to reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1ub5xuzgbLY7Tn6orzJWbAtA999fTVAs7/view

Please check and feedback.
Thanks!

[2021-02-17 16:19] hibatallahAouadni commented on #23250
Hello @oopen

Sorry, but I didn't manage to reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1mbGrhJsQpzAhVLA1c7Jj3oN1cLGTRvir/view

Please check and feedback.
Thanks!

[2021-02-17 16:38] PierreRambaud commented on #22647
Feel free to create a pull request if you think your condition can improve performance :wink:

[2021-02-17 16:46] #23255 closed, assigned to NeOMakinG

[2021-02-17 18:02] ComonSoft commented on #23254
I change the 1rst issue, beacause it only one, I change the context.

[2021-02-17 18:42] oopen commented on #23250
Can you make a console log `prestashop.urls.pages` on your product page ?

[The bug in video](https://drop.infini.fr/r/Rc5WEq5rLY#sKPofjAFJEkg4VduJyJBK8+5vTBv35cfaAqwiwbrJmM=)

[2021-02-17 18:54] twazerty commented on #23288
@hibatallahAouadni

It looks like it is related. Just like #20948

But those reports don't mention the issue I am presenting. Maybe this is the same issue, maybe it is just more information related to the same cause. The other issues only mention the Cart part were you can order more than there is stock. If you go beyond 300 items from the Cart you actually get a message there is not enough in sto

[2021-02-17 19:32] photinia73 commented on #23286
Hello! I have the same problem. If turn on the Debug Mode the site stop wark at all
Here is the screenshot
![image](https://user-images.githubusercontent.com/50954519/108257514-90cf3180-7167-11eb-9747-146c4182e89d.png)

[2021-02-17 21:16] matks commented on #22783
## Status update: Upgrade from PrestaShop 1.6 to 1.7.7 is not flawless

One of the main items we wanted to deliver with PrestaShop 1.7.7.2 was a flawless upgrade capability from PrestaShop 1.6 to PrestaShop 1.7.7 . This scenario has been wildly tested by QA team over the last days, and unfortunately they reported multiple issues, [some minor](https://github.com/PrestaShop/PrestaShop/issues/23282)

[2021-02-17 21:21] matks commented on #23267
I confirm that in PrestaShop 1.7.7 this does not happen. It is probably related to a custom setting on your side (3rd party theme, 3rd party module, or custom code).

If you can see the data inside the database but it is not displayed, I think something fails to fetch the data from your database (might be a module, might be a customization of your database structure) so you cant see it because the

[2021-02-17 21:50] alfonsolr09 commented on #23255
Thanks :)

[2021-02-18 07:44] tswfi commented on #23246
@florine2623 sorry, didn't have time to play with this before.

Just tested the actionPresentProduct now and
1) it is not used in cart (well obviously it is now a orderdetail object)
2) I cant see of a way for this to change the basket calculation (or I'm blind).

(Also I'm looking for solution that works with 1.7.7.1 because that is the current release :)

[2021-02-18 07:50] Hlavtox commented on #23246
@tswfi actionGetProductPropertiesAfter

[2021-02-18 08:03] Mreco83 opened #23294 "The default combination is not saved"
Hello. I'm having a problem with saving the default combination in the store.

1. In the back office, I go to a product that has several combinations / sizes, for example S, M, L

2. I change the default combination from size S to M

3. Saves the product

4. I go to the product being changed and see no changes. Still the default size is S.

I cleared the cache and forced template compilations, but

[2021-02-18 08:13] hibatallahAouadni commented on #23294
Hello @Mreco83

I didn't manage to reproduce your issue with PS1.7.5.2 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/10AAMBAJfqmjWMdTv9DZlq5L9INnqg0gW/view

Please check and feedback.
Thanks!

[2021-02-18 08:17] Mreco83 commented on #23294
Ok, please check the product from the front office after saving the changes. Please also change the size, but in the same color of the product. If you change the size from S to M, please change it for the product in white.

[2021-02-18 08:24] hibatallahAouadni commented on #23294
Hello @Mreco83

Following all your steps and yet I didn't reproduce it:

https://drive.google.com/file/d/1Rfm9pY7pR9TZX5VTqgKOmL7zuL6XM72D/view

Please check and feedback.
Thanks!

[2021-02-18 08:28] Mreco83 commented on #23294
What could be the cause of such an error? Everything seems fine and yet I can't change the default combination.

[2021-02-18 08:28] hibatallahAouadni commented on #23286
Hello @kenlog & @photinia73

Thanks for your feedbacks.
Could you please check this issue #20254 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-02-18 08:33] fedeanimation commented on #23291
Hello @hibatallahAouadni thanks for reply.

Here the screen record of the issue.
[https://drive.google.com/file/d/1URzZkkXtzxEBb7cIL9kXrWAYtHrbgGZT/view?usp=sharing](https://drive.google.com/file/d/1URzZkkXtzxEBb7cIL9kXrWAYtHrbgGZT/view?usp=sharing)

[2021-02-18 08:54] tswfi commented on #23246
@Hlavtox that gets cached pretty hard so not possible to use for making prices different for different customers for example. (https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L5522)

`actionGetProductPropertiesAfterUnitPrice` looks promising also, but this does not change product price in cart

[code]

Cart gets the price directly by calling Product::getPriceStatic (https

[2021-02-18 09:01] kpodemski commented on #23246
Thing is that some parts of PrestaShop use `priceCalculation` where others some method on top of it 🙄

It would be easier for you to keep it as an override because without rewriting some `Cart` components it's hard to make those hooks aware of everything what's going on, especially if you have a product with discount.

[2021-02-18 09:11] tswfi commented on #23246
yup, so it seems..

@florine2623  please do not close. I think this FR is valid and there should be a hook that allows module to overwrite the price so that the cart calculation can do its magic correctly.

[2021-02-18 09:14] atomiix commented on #21014
@jf-viguier Are you sure about this? It seems that `PrestaShop/install-dev/upgrade/php/update_modules_sql.php` is only called when migrating from a version of PrestaShop < 1.4.0.5

[2021-02-18 09:22] jf-viguier commented on #21014
@atomiix it's just an example, there are others ALTER IGNORE in upgrade folder.

[2021-02-18 09:28] ioniks commented on #21014
Hi,

You can check the upgrade SQL file for 1.6.1.0.
https://github.com/PrestaShop/PrestaShop/blob/1.7.0.x/install-dev/upgrade/sql/1.6.1.0.sql

Many `ALTER IGNORE TABLE .... ADD KEY ....`

[2021-02-18 09:32] jf-viguier commented on #21014
"No change required" label is still there.
Thanks @ioniks

[2021-02-18 09:49] tswfi commented on #9927
@xplsek03 there is a pr for a fix but I haven't had time to fix the latest review comments on it : https://github.com/PrestaShop/PrestaShop/pull/22389

[2021-02-18 10:09] ballashop commented on #20156
Hi, @matks @khouloudbelguith
any news about this bug?
At the moment we are using 1.7.6.9
Thanks a lot for any reply.
Balla

[2021-02-18 10:37] Sameye commented on #9594
Hi,
I've just experienced the same issue. The order was split in 2 and I've checked the products carrier, all was ok.
The customer even paid twice the carrier and I have a module to log in to customer account, I've made the exact same order and all is ok (only one carrier and carrier fees are added only once).
I've made several Prestashop website but it's the first time I have this issue, is there

[2021-02-18 10:55] AldeaG commented on #22215
Is it any update in Prestashop made to avoid this problems?
I have 1.7.7 and upgraded my php from 7.2 to 7.3 and now I´m getting again errors reading old orders that were solved before.

[2021-02-18 11:05] AldeaG commented on #22215
![Captura de pantalla 2021-02-18 a las 12 04 32](https://user-images.githubusercontent.com/61842395/108348074-9d906b80-71e1-11eb-8b71-3b65a56ede09.png)
![Captura de pantalla 2021-02-18 a las 12 04 44](https://user-images.githubusercontent.com/61842395/108348095-a2edb600-71e1-11eb-91a6-92b4489f6271.png)

[2021-02-18 11:06] AldeaG commented on #22215
... and a lot more.

[2021-02-18 11:21] hibatallahAouadni commented on #23254
Hello @ComonSoft

I manage to reproduce your issue with My shop 1.7.6.9 upgraded to PS1.7.7.1 but after several refresh, the issue is gone.
See the attached screen record below (from 2:45):

https://drive.google.com/file/d/1qfGEzcGyHP_grAg24Slleq4uJSZVygGm/view

Please check and feedback.
Thanks!

[2021-02-18 11:25] hibatallahAouadni commented on #22215
Hello @prston

Thanks for your feedback, even when I follow your steps, I didn't manage to reproduce your issue.
See the attached screen record below:

https://drive.google.com/file/d/1qfGEzcGyHP_grAg24Slleq4uJSZVygGm/view

Please check and feedback.
Thanks!

---
PS: @AldeaG I know you're frustrated with this blocking bug, but I couldn't reproduce with the basic install, it means it's related to s

[2021-02-18 12:41] hibatallahAouadni commented on #17663
Ping @MatShir shall we leave the status **`TBS`** or we have to change it to **`To Do`**?

[2021-02-18 12:57] hibatallahAouadni commented on #10081
Ping @PrestaShop/prestashop-core-developers @eternoendless friendly reminder :wink: could someone answer @marionf question :pray:

Thanks in adavcne!

[2021-02-18 13:00] hibatallahAouadni commented on #10087
Hello @marionf

I think this issue is a duplicate to this one #13558
Could you please confirm it :pray:

Thanks in advance.

[2021-02-18 13:01] matks commented on #10081
@marionf If I am not wrong, [Presthubot](https://github.com/prestashop/presthubot) is capable of finding and delivering the data being discussed here in real time (rather than a document) so this issue could be closed this as "fixed".

[2021-02-18 13:03] hibatallahAouadni commented on #10093
Ping @PrestaShop/prestashop-core-developers is still relevant?

[2021-02-18 13:06] hibatallahAouadni commented on #12742
Ping @PrestaShop/prestashop-core-developers could someone please answer @langziyang
Thanks in advance!

[2021-02-18 13:11] hibatallahAouadni commented on #14083
Thanks @sowbiba & @PierreRambaud for your detailed answer.
So, what the status of this issue?

[2021-02-18 13:28] Morerice commented on #18319
Hi @marionf,

This fix also worked for us. However there are still a lot of inconsistencies in the `ps_order_slip` table. In our case, when refunding an order (by selecting the 'excluding the amount of the initial voucher' option) which had both shipping and a discount linked to it, the **order table** was populated with the following correct details:

- all total_products = 49.50
- all total_disc

[2021-02-18 13:41] matks commented on #23278
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23289

[2021-02-18 13:41] #23278 closed, assigned to atomiix

[2021-02-18 14:01] ComonSoft commented on #23254
Hum, as explained we migrate from 1.7.4.5 not from the latest 1.7.6.9 ;-)

[2021-02-18 14:45] Progi1984 commented on #23209
@olecorre I don't know where you find :
* `actionAddressesGridDefinitionModifier`
    * you must use `actionAddressGridDefinitionModifier`
    * Specified in `src/Core/Grid/Definition/Factory/AbstractGridDefinitionFactory.php` l.93
    * And `src/Core/Grid/Definition/Factory/AddressGridDefinitionFactory.php` l.57
*  `actionAddressesGridQueryBuilderModifier`
    * you must use `actionAddressGridQue

[2021-02-18 14:46] photinia73 commented on #23286
Those issue was about PS 1.7.6.2 and now it`s about 1.7.7.1 When I had PS 1.7.6.9 I had not such errors....

[2021-02-18 15:16] COCOPOT commented on #9594
Hi,
Finally we managed to solve this problem, but in a very expensive way, by using Webkul "Marketplace" module and Webkul "Order split" addon for Marketplace, and a little customization by a programmer. Both, module and addon, are very expensive, but we needed a solution for this. Now when we have more than one carrier involved in an order, we configure the modules to deal with them as if there w

[2021-02-18 15:22] #10081 closed, assigned to nobody

[2021-02-18 15:23] marionf commented on #10087
I have no idea, as it's a tech subject, it's rather a question for @PrestaShop/prestashop-core-developers

[2021-02-18 15:32] hibatallahAouadni commented on #23286
@photinia73 it's not about PS version :wink: it's about the module version and this issue was reproduceable with Blockreassurance v5.0.0 and it's fixed with the next release Blockreassurance v5.1.0.

That's totally normal, cause when you install PS1.7.6.9, you had Blockreassurance v4.1.1 :slightly_smiling_face:

with PS1.7.7.1, you will have Blockreassurance v5.0.0 :wink:

Thanks!

[2021-02-18 15:41] NeOMakinG commented on #10093
Actually Yes and no :

- Do we really want to be compatible with AMP, only in order "to be compatible with AMP", what's the real value behind it ? Maybe for news, products ?
- It require a lot of work => rewrite everything we wants compatible with AMP with amp markup, think about every things we wants to expose using amp too

My opinion is that we can't work on this without thinking about it and s

[2021-02-18 15:44] photinia73 commented on #23286
It`s not true )) I use Blockreassurance v5.0.0 from PS 1.7.6.8 )) And even open an issue #21982 regardind upgrade from 1.7.6.8 to 1.7.6.9 and  Blockreassurance v5.0.0 problem... So I think the problem somewhere elese....

[2021-02-18 15:57] hibatallahAouadni commented on #23250
Hello @oopen

Here's the screenshots with differents languages and combinations:

![image](https://user-images.githubusercontent.com/23308427/108383773-5ff40880-720a-11eb-846b-3bd5729b897d.png)

![image](https://user-images.githubusercontent.com/23308427/108383812-697d7080-720a-11eb-92c1-0f4ee0c282cc.png)

Please check and feedback.
Thanks!

[2021-02-18 16:00] NeOMakinG commented on #23225
![image](https://user-images.githubusercontent.com/14963751/108384112-b8c3a100-720a-11eb-8f62-5de188cc7f76.png)

For example, you can't create new tables in mobile, but you are able to edit content inside an already existing table

[2021-02-18 16:21] valentin-anamorphik commented on #9932
Hello,

@jaxtheking , @thbl , @michelezanetti1981
Did you resolve this bug?

I applied this fix #15399 but i still have the problem

Version 1.7.6.7

Thanks,
Valentin

[2021-02-18 16:25] olecorre commented on #23209
C’est bon pour moi, c’est un module spécifique pour un projet, j’ai fait les modifications adequates.
Mais pour des modules vendus, le changement risque de poser des soucis. Je tenais juste à le signaler.

[2021-02-18 16:25] e-gaulue opened #23299 "Wrong popup displayed when the custom text of feature is above 255 char"
**Version**
Prestashop 1.7.7.1
PHP 7.3

**Observed:**
I did not really observed it. I just read the code. Now, if you want an exemple, you just have to look in the `$adminProductController->process...` procedures from line 539 of https://github.com/PrestaShop/PrestaShop/blob/0e493eaa715fc16ac8de4e924bc691cfaa78f6f6/src/PrestaShopBundle/Controller/Admin/ProductController.php#L539-L579

**_For insta

[2021-02-18 16:34] hibatallahAouadni commented on #23299
Hello @e-gaulue

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-02-18 16:35] hibatallahAouadni commented on #23209
@olecorre so shall we close the issue?

[2021-02-18 16:36] olecorre commented on #23209
Okay, I'll close it.

[2021-02-18 16:36] #23209 closed, assigned to Progi1984

[2021-02-18 16:37] hibatallahAouadni commented on #23294
Hello @Mreco83

Sorry it's not related to PS Core, it may due to some third-module or some overrides.
I have to close this issue, cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one
of our [support plans](https://www.prestashop.c

[2021-02-18 16:37] #23294 closed, assigned to nobody

[2021-02-18 17:25] marionf commented on #23225
Sounds great :+1:

[2021-02-18 19:14] arthurhalifax opened #23300 "1-click upgrade & Javascript (parseJSON) error."
Hi. I have Presta 1.7.6.5 and 1-click upgrade 4.12.0 but can't making the upgrade because having an error: Error Javascript (parseJSON). Can't figure it out :/

[2021-02-18 19:15] staniek commented on #16124
Hi, I do confirm the bug and can add one more place: the ps_psreassurance_lang table. Not only server paths are hardcoded on installation but also the server name. So after a **typical** move to a production we loose links in this module as well as the images.

[2021-02-18 19:21] SimonGrn commented on #23300
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-02-18 19:21] #23300 closed, assigned to nobody

[2021-02-18 19:31] arthurhalifax opened #23301 "Javascript (parseJSON) 1-click error"
When I click upgrade prestashop now in 1-click update module I have an error:
Javascript error (parseJSON) detected for action upgradeNow"Starting restoration..."

So cannot update prestashop.

#### Additional information
<img width="1739" alt="presta" src="https://user-images.githubusercontent.com/79280230/108410831-2e8a3580-7228-11eb-860e-053b0e489f25.png">

* PrestaShop version: 1.7.6.5
* PHP v

[2021-02-18 19:41] Mat-o commented on #23294
Did you double-check that the new default combination is properly saved in the back-end ? (by navigating elsewhere and coming back to the product page)
If not, it could be that the max_input_vars php variable is only at 1000, where it should be at least at 7000 (if many parameters are set and the descriptions are very long).

[2021-02-18 20:07] Mreco83 commented on #23294
Yes, I checked. The product doesn't have any description so it shouldn't matter.

[2021-02-18 20:16] Mat-o commented on #23294
Your clicking on Save doesn't seem to have any effect. I already had this problem with a too low value for max_input_vars even without any description.

[2021-02-18 20:28] Mreco83 commented on #23294
Yes, I can change everything, but it doesn't react to changes, only the default attribute.
Now I sent a message to my hosting provider to increase the values:
max_input_vars = up to 7000
max_execution_time = up to 300

[2021-02-18 20:37] Mreco83 commented on #23294
Unfortunately, the changes did not help. Still no changes visible from the front of the store.

[2021-02-18 20:58] Mat-o commented on #23294
It just looks like the database is not updated.
Just after save, I would check these parameters with phpmyadmin :
- ps_product.cache_default_attribute
- ps_product_shop.cache_default_attribute
- ps_product_attribute.default_on
- ps_product_attribute_shop.default_on
to see if anyone of them has changed.

[2021-02-18 22:42] Hlavtox commented on #18295
@matks I saw your comment in @tswfi 's issue.

Personally, I think it's not dangerous at all, if we allow user to enter only 0-9, A-Z and dash. I have always changed order reference to NUMBERIC and I have never encountered any issue in 5+ years. Order reference is a just a string, nothing more. It will never contain special characters, so no worries about escaping it anywhere also.

[2021-02-18 23:15] 1nv4d34 commented on #9566
Hi, the error is still open? I also get this error. PS 1.7.6.9 and module contactform 4.3.0 (newest module version).
Any workaround?
Thanks!

[2021-02-18 23:27] Safin85 commented on #17539
helped me too with PrestaShop 1.7.8 and php 7.3

[2021-02-19 07:55] hibatallahAouadni commented on #19758
Hello @florine2623

I may misunderstand but I believe when you set **Total available** and **Total available for each user** to **`1`**, the user has the right to use the voucher only one time. (see the screenshot below from your screen record)

![image](https://user-images.githubusercontent.com/23308427/108474585-dd159100-728f-11eb-99bb-23f5453f1357.png)

Please check and feedback.
Thanks!

[2021-02-19 08:06] hibatallahAouadni commented on #19743
Hello @mamoot64

Did you check with your payment module developer if the issue is not in the module side?
Please check and feedback.

Ping @PrestaShop/prestashop-core-developers I think this issue is not related to PS Core but to the payment module, could someone please confirm it?

Thanks in advance!

[2021-02-19 08:12] hibatallahAouadni commented on #19654
Hello @Shoprunners

Sorry for the late response :confounded:
Could you please provide a clear steps to reproduce the issue and to better understand how it affects the FO.

Thanks in advance.

[2021-02-19 08:18] florine2623 commented on #23301
Hello @arthurhalifax ,

Please check your permissions from your hosting provider :
folders: 755
files: 644
.htaccess: 664

Use this [file](https://github.com/PrestaShop/php-ps-info) to make sure your server config is compatible PrestaShop.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2021-02-19 08:18] #23301 closed, assigned to nobody

[2021-02-19 08:29] arthurhalifax commented on #23301
Permissions are ok and server config too.

[2021-02-19 08:51] Prestaworks opened #23302 "BO - Dashboard Date, compare period can't be selected"
#### Describe the bug

On the dashboard, when selecting a date, and checking the checkbox for compare, the period selector for the period to compare to is disabled and don't change to enabled, so it is not possible to compare two periods.

#### Expected behavior

When checking the checkbox for compare, the selector for selecting a period should be enabled so the user can select what period to comp

[2021-02-19 09:05] hibatallahAouadni commented on #19650
Ping @PrestaShop/product-team I think it'll be easy to add a new value in **BO**>**CONFIGURE**>**Shop Parameters**>**Customer Settings**>**Groups** in the **Price display method** select (for exemple **Tax included & excluded**):

![image](https://user-images.githubusercontent.com/23308427/108482454-ca07be80-7299-11eb-879c-4ac8c491f413.png)

Thanks!

[2021-02-19 09:25] florine2623 commented on #23302
Hello @Prestaworks ,

I was able to reproduce the issue with PrestaShop version 1.7.7.1 and PS 1.7.6.9.
We should be able to choose an element in the dropdown like so (PS 1.7.5.2):
![Capture d’écran 2021-02-19 à 10 23 58](https://user-images.githubusercontent.com/16019289/108484916-a8f49d00-729c-11eb-873b-cb2003d365be.png)

I’ll add this to the debug backlog so that it’s fixed.

Thank you for yo

[2021-02-19 09:46] matks commented on #18295
@Hlavtox I think I wrote a mistake, I thought it was about changing "order numeric IDs" into strings. But it was not the point of the issue. My comment was out of topic 😅 .

[2021-02-19 09:48] rflorent opened #23304 "Database password save bug during installation"
#### Describe the bug

After a fresh installation (1.7.7.1), I was unable to access to front and admin. Doctrine connection error.
I discover that a character has been added to my DB password.
I think there is a bug with some mysql characters.

My pass : xxxxxxxxx%
Stored as : xxxxxxxxx%%

#### Expected behavior

Store the pass without changes

#### Steps to Reproduce

Steps to reproduce the behav

[2021-02-19 09:58] rflorent opened #23305 "You have requested a non-existent service "mbo.tab.collection.provider"."
#### Describe the bug

Fresh install 1.7.7.1, first connection to the admin :

You have requested a non-existent service "mbo.tab.collection.provider".
[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException 0]

#### Expected behavior

no bug

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install prestashop 1.7.7.1
2. Go to /admin
3. Connect
4. See error

**Screen

[2021-02-19 10:05] florine2623 commented on #23305
Hello @rflorent ,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-02-19 10:05] #23305 closed, assigned to nobody

[2021-02-19 10:06] rflorent commented on #23305
I must enable the dev mode to see admin.
Trying to clear cache :

 (1/1) FatalErrorException

Compile Error: ContainerYotegem\appDevDebugProjectContainer::load(): Failed opening required '/xxxxxxxx/var/cache/dev/ContainerYotegem/getPrestashop_RouterService.php' (include_path='/xxxxxxxxxx/vendor/pear/pear_exception:/xxxxxxxxx/vendor/pear/console_getopt:/xxxxxxxxxxxx/vendor/pear/pear-core-minimal/sr

[2021-02-19 10:09] rseon opened #23306 "termsAndConditions hook, checkbox not required in front"
#### Describe the bug

Thanks to the new `termsAndConditions` hook I added a condition with my module but the checkbox is not required during payment validation.

#### Expected behavior

The custom checkbox must be validated.

#### Steps to Reproduce

Create the new term from module :

[code]

#### Cause and solution

PHP cause : Necessity to set the identifier different of the original `terms-and

[2021-02-19 10:14] rflorent commented on #23305
I follow the template. Server configuration is ok.
You have closed the issue ???

[2021-02-19 10:37] florine2623 commented on #10784
Hello,
Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-02-19 10:37] #10784 closed, assigned to nobody

[2021-02-19 10:41] eternoendless commented on #22650
FYI you can find them all here: https://travis-ci.com/github/prestashop

[2021-02-19 11:13] kmorgen commented on #19134
Issue still confirmed on PS 1.7.7.0 and 1.7.7.1

[2021-02-19 11:28] kmorgen opened #23307 "Carrier Tracking link issues in PS1.7.7.0+"
After BO Order Admin has been migrated to Symphony, a few issues related to the Carrier tracking numbers have appeared

1. The Carrier tracking link no longer opens in a new tab in BO **Order Details** page, but in self-page.
2. The Tracking number is not a link on the **Order List** page (dropdown), which could be very convenient.

Confirmed in PS 1.7.7.1 as well.

[2021-02-19 11:52] florine2623 commented on #23304
Hello @rflorent ,
This issue is fixed for PS 1.7.8
As you can see here : https://github.com/PrestaShop/PrestaShop/issues/12556

I'll close your issue as it is a duplicate.
Thanks

[2021-02-19 11:53] florine2623 commented on #23304
Duplicate of #12556

[2021-02-19 11:53] #23304 closed, assigned to nobody

[2021-02-19 12:59] Hlavtox opened #23308 "Add ability for employees to attach files to order"
#### Is your feature request related to a problem?

In real life, a lot of orders don't go as planned. Something is wrong, something is changing, customer wants something extra you don't have in stock, customer wants to modify something etc.

Until recently, there was no way to store any information regarding the order in Prestastashop. Order note is a HUGE HELP. What would make this perfect would

[2021-02-19 13:11] toninobyfrezzo commented on #15369
Hi all. When can we get a solution to solve this problem? We need this modification, too.

[2021-02-19 13:14] hibatallahAouadni commented on #23308
Hello @Hlavtox

Well, that's a huge feature for the Order and it seems useful for the merchant.
Thanks for the suggestion, design proposal and for the tech solution.
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , I think it's useful to add this feature but it's better to add it in Major release as it contains database changement, do you agree with me?

[2021-02-19 13:15] florine2623 commented on #23307
Hello @kmorgen ,

If you want to suggest any improvement to the Order page, please follow the improvement template provided.
I'll close your issue, feel free to open a new one when you gather all information.
Thanks

[2021-02-19 13:15] #23307 closed, assigned to nobody

[2021-02-19 13:21] florine2623 commented on #23306
Ping @PrestaShop/prestashop-core-developers ,

Could you take a look at this Hook issue please ?
Thanks!

[2021-02-19 13:24] florine2623 commented on #23302
@Prestaworks
This issue is fixed in https://github.com/PrestaShop/PrestaShop/issues/22973, PS version 1.7.7.2

I'll close this issue.

[2021-02-19 13:24] #23302 closed, assigned to nobody

[2021-02-19 13:24] florine2623 commented on #23302
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/22973

[2021-02-19 13:59] kmorgen commented on #23307
Since it was working in PS 1.7.6.8 (tracking links opened in new tab), I considered it a bug.
Where precisely do you want me to post it instead?

[2021-02-19 14:11] matks commented on #23235
## First deliverable

We aim for a first delivery of this feature with the following behavior:

- a new BO page "Advanced Settings > Experimental Features", with a switch to toggle the flag on and off, and a short description

![Capture d’écran 2021-02-19 à 14 51 21](https://user-images.githubusercontent.com/3830050/108514811-9e4dfe00-72c4-11eb-9742-ad69e9d9f7f5.png)
 _(wording not frozen)_

- s

[2021-02-19 14:34] Febivayne commented on #15503
Any fix for this? We are implemeting an update on our prestashop module and we keep getting "Uncaught Exception: Kernel Container is not available" - what can we do about this? We can't use global $kernel; since globals are not authorized by prestashop.

[2021-02-19 14:38] Hlavtox commented on #23077
@hibatallahAouadni Hi! It's more for a module developers. So you don't have to search prestashop original forms for a type of field that would suit you. You just open AdminPatters -> find what you want -> look to the code and find that upload field is added by this:

[code]

[2021-02-19 15:04] NeOMakinG commented on #19229
Titles sizes have been fixed months ago on develop (1.7.8)

[2021-02-19 16:24] matks commented on #20156
Hi @ballashop nothing new, topic is still in "To Do".

[2021-02-19 16:47] hibatallahAouadni commented on #23305
Hello @rflorent

We close your issue cause it's not well detailed :sweat_smile:
Could you please check this issue #22740 cause it seems similar to yours :wink:
Please check and feedback.

PS: even when we close the issue, we always answer your questions.

Thanks!

[2021-02-19 16:52] ballashop commented on #20156
@matks,
thanks for the reply, we hope it will be resolved soon.
Balla

[2021-02-19 18:21] oopen commented on #23250
My conf :
- HTTPS
- Rewrite
- Full domain, root path install

Your conf :
- HTTP
- no rewrite
- relative or sub dir install

Maybe the bug is related to that.

[2021-02-19 18:40] matks commented on #22783
## Status update: Build 2 QA validation still in progress

A 2nd build has been generated and delivered to QA team on the 18th of February. The QA team is focusing and testing the upgrade process from PrestaShop 1.6 to PrestaShop 1.7.7 . Some issues have been reported and are being explored in order to find out whether they are important (and require new additions in PrestaShop 1.7.7.2) or can be

[2021-02-19 20:51] idnovate opened #23331 "Hook updateOrderStatus not called from WS in multistore when disabled in default store"
#### Describe the bug

The hook `updateOrderStatus`  is not called from WS if the module is disabled in default store (ID 1).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS 1.7.7.1 with 2 stores (multistore):
![image](https://user-images.githubusercontent.com/15104724/108559231-5e563d80-72fb-11eb-9eb9-1201434bb472.png)

2. Enable Webservice

3. Install attached module
[d

[2021-02-19 21:58] bLeveque42 opened #23332 "Cart Rules Javascript error when using Cloudflare Rocket Loader™"
#### Describe the bug

Whenever Cloudflare Rocket Loader™ feature is turned on, PrestaShop produces a blocking JavaScript error on the "Cart rules" creation form in the back-office.

#### Expected behavior

The Cart rules creation/modification form shouldn't produce a JavaScript error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to your Cloudflare account (you can get a free

[2021-02-20 06:54] oopen commented on #23250
Close the PR, because like as said @matks [in the PR](https://github.com/PrestaShop/PrestaShop/pull/23270#pullrequestreview-594595699) it will be better to keep the locale on all pages, when we are in multi-lang.

We need to correct the 404 no routed with locale.

[2021-02-20 07:48] oopen commented on #23250
Close Issue, this was done by fixing `httpd.conf` fcgi configuration (php-fpm) ... sorry for inconvenient, this is not a Prestashop bug.

[code]

[2021-02-20 07:48] #23250 closed, assigned to nobody

[2021-02-20 10:27] hibatallahAouadni commented on #23250
 @oopen Glad to hear :tada:

[2021-02-20 11:11] delecluse opened #23333 "Probleme barre de recherche"
Problème barre de recherche, rien ne s'affiche, il ne trouve rien.. merci

[2021-02-20 11:29] SimonGrn commented on #23333
Hello,

please follow the template and write your issue in English.

Thank you.

[2021-02-20 11:29] #23333 closed, assigned to nobody

[2021-02-20 13:30] delecluse opened #23334 "search engine does not find any product"
Hello, my site search engine is no longer working, it can no longer find anything ...

I've already done that :

- Add missing products to the index
 - Rebuild the index
- You can define a cron job that will rebuild your index using the following URL:

I have cleared the site cache + my cookies and search engine file

but nothing helps .. to peter a cable

Type of installation (new / updated):
PS

[2021-02-20 14:23] fdonnet commented on #10356
hi, I implemented it on my side https://github.com/fdonnet/PrestaShop-Webp-QuickAnd ... it's is not perfect but if it gives you some ideas, thats great.
- Create a new folder imgweb in prestashop root
- Httaccess with webp support (in imgwebp older)
- Each night run a script to convert all jpg to webp (can be run when you upolad an img too => imagemagik etc)
- Fallback for webp to jpeg
- Override

[2021-02-20 14:52] ralphkno opened #23335 "Problem in Prestashop 1.7.7.1 when changing the languages"
#### Describe the bug

I  have updated prestashop from the Version 1.7.7.0 to 1.7.7.1. Since then I face problems in the Frontend when changing the language. When the shop is opened in English and when switching to german it adds /de/en at the end. If I use it in German and want to switch it to English it adds /en/en at the end. In both cases I get a 404 error.

#### Expected behavior

It should a

[2021-02-20 15:18] FredBrockstedt opened #23336 "TypeError in constructor of class OrderShippingAddressForViewing on null data in table ps_address"
####  Observed
BackOffice fails with 500 and order can not be processed.

####  Expected
process order without error

####  How to reproduce

1. Go to the BackOffice > Orders > Orders
2. click on an order where one of the following columns is NULL in the ps_address: phone, company, address2, phone_mobile
3. See error

**Cause**
NULL is not a string, therefor arguments passed to the OrderShippingAd

[2021-02-20 20:59] matks commented on #23250
@oopen I am not a nginx expert but would this change be valuable to add to our doc about nginx config https://devdocs.prestashop.com/1.7/basics/installation/nginx/ ? 😄

It can be a "troubleshooting" line below the main config

[2021-02-21 10:28] Barbwire commented on #22215
Hello @AldeaG !
We experienced the same issue and I wrote an article here on how I solved it which is basically a sum up of the suggestions here in this thread: [https://tecserve.eu/prestashop17/prestashop-error-after-upgrading-1-7-7-1/](https://tecserve.eu/prestashop17/prestashop-error-after-upgrading-1-7-7-1/)
If you try it please back up your database first! I hope you can solve this error for

[2021-02-21 12:04] #23335 closed, assigned to nobody

[2021-02-21 12:05] ralphkno commented on #23335
Problem had nothing to do with the Version of Prestashop. There was an URL rewrite active for both index pages.

[2021-02-21 12:56] thierryzoller commented on #11662
It is unfortunate (and frankly mindblowing) that Prestashop requires paid plugins to allow to include a country in multiple zones. It is the easiest way to achieve a common problem, yet it appears Prestashop diverts to hacks instead of implementing what must be the most obvious solution possible.

[2021-02-21 13:03] thierryzoller commented on #9998
I concur with @Fabuloops - The prestashop shipping mechanic is the most cumbersome (and limited) I have every encountered. You need to buy plugins just to operate a normal shop. Whilte you are at it also add the possiblity to include a country in multiple zones.

[2021-02-21 13:13] haveyougotanypets commented on #15973
HI

I believe this bug is still present and needs addressing.

To replicate, add the following link to themes/themes/classic/templates/catalog/_partials/product-add-to-cart.tpl

` <a href="{$urls.pages.cart}">View Cart</a>`

Test this link on the product page as a non logged in and a logged in user. It will take you to cart page when user is not logged in, but the home page when the user is logged

[2021-02-21 15:29] M4ketech opened #23337 "Module "Contact Information" translation is not updating"
#### Describe the bug

 Hello,
I did solve this in last shop, but now i can not remember how to do this. So Title of "Contact Information" is not updating, even if i translate block title and text. It shows in database, but not in frontend.

"Store Information" on the footer shows up like this in frontend:

![kuva](https://user-images.githubusercontent.com/8841448/108629660-a4c9aa80-7469-11eb-8f88

[2021-02-22 02:14] alfonsolr09 commented on #23259
@hibatallahAouadni now you can reopen this.
I already wrote the steps to reproduce the problem

[2021-02-22 02:21] alfonsolr09 opened #23338 "Can't upgrade prestashop ads module on 1.7.6.4"
#### Describe the bug

I have PrestaShop Ads v 2.0.8 and i can't upgrade it.

The error say this.
Error!  Could not perform action update for module undefined

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have PrestaShop 1.7.6.4
2. Click on upgrade the module
3. See error

**Screenshots**

![20210222_032056.jpg](https://user-images.githubusercontent.com/62474824/108649123-06ffcb00

[2021-02-22 04:19] joommasters commented on #15057
problem because your tpl file in your theme has something wrong like as {l s='' d='Shop.Theme.Global'}. Please check again all your tpl files

[2021-02-22 07:16] hibatallahAouadni commented on #23259
Hello @alfonsolr09

Thanks for the details!
I think your issue is similar to this one #22962 could you please check it and feedback.

Thanks!

[2021-02-22 07:29] hibatallahAouadni commented on #23258
Hello @TGD001 & @tom75

I upgraded my shop 1.7.7.0 with the module ps_linklist v3.2.0 to PS1.7.7.1 and then I upgraded my module ps_linklist to 4.0.0.
As you can see in the attached screen record below, I didn't encounter any issue with BO access and in the DB the module is active and enabled:

https://drive.google.com/file/d/1R16j4CI1RUSeT66a8oozuWL3EalWH2R8/view

Please check and feedback.
Thank

[2021-02-22 07:47] hibatallahAouadni commented on #23288
Hello @twazerty

Thanks for the explication :pray: , I just edit the old issue and add your description :wink:

As you can see in this issue #9974 I added both problems (in Cart, in Product page).
So, I think we can close your issue as a duplicate :slightly_smiling_face:

This issue is a duplicate of #9974.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-22 07:47] #23288 closed, assigned to nobody

[2021-02-22 07:47] hibatallahAouadni commented on #23288
Duplicate of #9974

[2021-02-22 08:06] hibatallahAouadni commented on #23291
Hello @fedeanimation

Up that step when you stop recording, yes I manage to reproduce the issue. But if you continue saving the address, you will see that the shipping address is well saved and the bug is just Front-end JS refresh.

https://drive.google.com/file/d/1JPdK1-eevxLRbg4U9ABfaJbKzUymWgo1/view

Please check and feedback.
Thanks!

[2021-02-22 08:17] hibatallahAouadni commented on #23254
Hello @ComonSoft

Do you mean 1.7.4.4? cause there's no 1.7.4.5 (see the attached screenshot below)

![image](https://user-images.githubusercontent.com/23308427/108680934-c456e680-74ee-11eb-943a-b30ca9681903.png)

Please check and feedback.
Thanks!

[2021-02-22 08:18] matks commented on #23166
@conderus APC messes up the upgrade process.

The upgrade process takes the php files of your 1.7.6.8 shop, and replace them with the files for a 1.7.7.1 shop. After the upgrade, some of these new 1.7.7.1 php files need to be run.

However when you have APC turned on ; **the new version of the php files is not acknowledged**. Because APC Cache has stored the old version of the php files and so you

[2021-02-22 08:20] hibatallahAouadni commented on #23286
Hello @photinia73

Thanks for your feedback.
Could you please provide steps to reproduce the issue.

Thanks!

[2021-02-22 08:22] hibatallahAouadni commented on #23166
Hello @conderus

Could you please diable the APC before the upgrade (as @matks mentioned above) and try to upgrade.
Please check and feedback.

Thanks!

[2021-02-22 08:28] hibatallahAouadni commented on #23077
Hello @Hlavtox

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think it'll quite useful for the developers to improve this page, wdyt?

[2021-02-22 08:33] matks commented on #23077
Would https://github.com/PrestaShop/example-modules/tree/master/demosymfonyform be a suitable replacement @Hlavtox ? This is a module you can install, and it creates a BO page where "every possible input you can use with Symfony and PrestaShop" will be displayed.

It's a work in progress.

[2021-02-22 08:44] PrestaEdit opened #23339 "Does not try to update the whole ObjectModel while using setFieldsToUpdate()"
#### Is your feature request related to a problem?

I'm always frustrated when I try to make an upgrade file using an ObjectModel that could change between version and that I can't just update a specific field to prevent a missing column further.

#### Describe the solution you'd like

While using setFieldsToUpdate(), I hope that the update query will be only set to this field.

#### Alternatives

[2021-02-22 09:13] TGD001 commented on #23258
@hibatallahAouadni
To tell the truth I use the Z.One theme which has its own link list, so keeping the original module activated does not change or limit the use of the site. This error will probably be fixed with the next release, I prefer to wait, avoiding experiments.

[2021-02-22 09:14] hibatallahAouadni commented on #19229
Thanks @NeOMakinG but I think the original issue is not fixed yet :wink:

[2021-02-22 09:37] hibatallahAouadni commented on #23338
Hello @alfonsolr09

I didn't manage to reproduce your issue with PS1.7.4.1, PS1.7.6.4 and PS1.7.7.1 and it seems the issue is related to the module, cause in my case when I fresh install PS1.7.6.4, I got Prestashop Ads v2.2.0 and I upgraded to v2.2.1.

It seems that your issue is not a PrestaShop core bug.
If your module is Prestashop Ads Official, please contact support team on Addons.

We will c

[2021-02-22 09:37] #23338 closed, assigned to nobody

[2021-02-22 09:40] hibatallahAouadni commented on #23339
Hello @PrestaEdit

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I don't know if it's doable but I think it's quite useful to implement this suggestion, do you agree with me?

[2021-02-22 09:48] hibatallahAouadni commented on #23033
Hello @NuclearDetergent ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 09:48] #23033 closed, assigned to nobody

[2021-02-22 09:56] ComonSoft commented on #23254
Yes you right, it was 1.7.4.4 ;-)

[2021-02-22 10:07] hibatallahAouadni commented on #23337
Hello @M4ketech

I reproduced your issue with PS1.7.6.7 and PS1.7.7.1 and I tested with variety languages (French, English, Polski, Italian, ...) and it doesn't work :confounded:

This issue is a duplicate of #19229.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-22 10:07] #23337 closed, assigned to nobody

[2021-02-22 10:08] hibatallahAouadni commented on #23337
Duplicate of #19229

[2021-02-22 10:14] matks opened #23342 "It is not possible (yet) to rebuild exactly the same ZIP using git tag"
## What should be possible in theory

1. PrestaShop maintainers publish PrestaShop 1.7.7.1
- a downloadable ZIP
- a git tag on this repository

2. A user wants to validate the integrity of a 1.7.7.1 ZIP he has found.

He checkouts this repository, the 1.7.7.1 tag and runs `php tools/build/CreateRelease.php --version="1.7.7.1"` This creates a new ZIP.

3. Since the user has checked out the git tag,

[2021-02-22 10:14] hibatallahAouadni commented on #23258
@TGD001 so the issue is not related to PS Core.
@tom75 do you use another theme as @TGD001 ?

[2021-02-22 10:22] TGD001 commented on #23258
@hibatallahAouadni
hope they will focalize the problem, by themselves.. As I noticed surfing on the net, just @tom75  and me raised that issue. Very strange.

[2021-02-22 10:29] hibatallahAouadni commented on #23336
Hello @FredBrockstedt

Could you please provide PS version and your PHP version, and did you upgrade your shop lately?
Please check and feedback.

Thanks!

[2021-02-22 10:35] #23213 closed, assigned to NeOMakinG

[2021-02-22 10:36] hibatallahAouadni commented on #23334
Hello @delecluse

I didn't manage to reproduce your issue with PS1.7.7.1 on Opera browser and it seems your issue is not related to PS Core. Could you please switch your theme to the default theme and check if the search works or no?
Please check and feedback.

Thanks!

[2021-02-22 10:43] matks commented on #22783
## Status update: PrestaShop 1.7.7.2 has been published on GitHub 🚀

https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.2

Release on prestashop.com will follow

[2021-02-22 10:43] #23001 closed, assigned to matks

[2021-02-22 10:52] mmystery commented on #14554
Update,

this error also happens even if the tables records are populated correctly.

This morning I got a recording from a user which tried to checkout but without any payment options and without any error.

@marionf If you could please reopen the issue, as it still stands, or you prefer me to open a new issue?

Thanks

[2021-02-22 10:55] marionf commented on #14554
Hello @mmystery

Please create a new issue :)

Thank ypu

[2021-02-22 11:08] hibatallahAouadni commented on #23332
Hello @bLeveque42 ,

Thanks for your issue!
I was able to reproduce the issue with PrestaShop version 1.7.7.1.
I’ll add this to the debug backlog so that it’s fixed.

Thank you.

[2021-02-22 11:10] hibatallahAouadni commented on #23258
@TGD001 it may be related to the theme, if you both have the same theme.
Well let's wait for @tom75 feedback.

Thanks!

[2021-02-22 11:32] sarahdib opened #23344 "Error on translation when adding a new theme"
This issue is related to the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

#### Describe the bug

After uploading a new theme and click on save there is an error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Bo -> The

[2021-02-22 12:20] tom75 commented on #23258
@hibatallahAouadni no, i am using a different theme (warehouse) which is also having its own link list included, therefore it is no problem for me at this moment as i can keep it disabled.
maybe the problem is then related to themes which include seperate link list modules or to shops which have been installed with a specific (older) version of prestashop and upgraded since then

[2021-02-22 12:42] hibatallahAouadni commented on #23331
Hello @idnovate

Well for me it works in the two cases

[2021-02-22 12:46] hibatallahAouadni commented on #23331
Hello @idnovate

Well for me it works in the two cases.
As you can see in the screen record, I followed your steps:

https://drive.google.com/file/d/1uXdPyPye2BtLTCL_w6V3x_hTdBZ5hZAm/view

And I use Postman to execute the request, see the attached request body below:

[code]

And the Debug file was created from the first time I execute the request:

[code]
[debug.log](https://github.com/PrestaShop

[2021-02-22 12:48] M4ketech commented on #19229
Its not about sizes, we can not have multiple language stores with 1.7.7.1? Seems like that, RIP multilingual stores who start with 1.7.7.1

![kuva](https://user-images.githubusercontent.com/8841448/108710427-b455fb80-751c-11eb-95d0-e8bb840d2adf.png)

**Steps to Reproduce**

Steps to reproduce the behavior:

    Go to 'International -> Translations'
    Click on 'Installed modules translations ->

[2021-02-22 12:54] FredBrockstedt commented on #23336
Hi @hibatallahAouadni,

this was on Prestashop 1.7.7.1 and PHP 7.2 (using nginx and fpm). Yes I updated lately.
I think 1.7.7.0 might be affected. However any 1.7.6.x or below should be fine.

Now that I think about the version numbers. 1.7.7.0 and 1.7.7.1 were released in rather quick succession.
So, if I remember correctly, the day I wanted to upgrade, 7.1 was just released. Thus the upgrade wen

[2021-02-22 12:54] hibatallahAouadni commented on #19229
Hello @M4ketech

I know you're frustated :confused:  but I already added your description in the bug report :wink:
So, please be patient till it's fixed or f you want to help us fixing the problem, please create a Pull Request (PR).
We will galdly accept it :slightly_smiling_face:

Thanks!

[2021-02-22 13:16] TGD001 commented on #23258
@hibatallahAouadni @tom75

It must be remembered that at least to me, the error appeared suddenly, without having carried out any update of any module, theme included

[2021-02-22 13:16] hibatallahAouadni commented on #23336
Hello @FredBrockstedt

Thanks for your feedback!
Your issue is similar to these issues #22386 & #22611
Please check and feedback.

Thanks!

[2021-02-22 13:32] valentin-anamorphik commented on #9932
# classes/Cart.php
Change
[code]

By

[code]

[2021-02-22 13:44] mcaldex opened #23345 "Specific price on a product + group discount: price on FO isn't right"
#### Describe the bug

Price / discount label isn't right on the FO when you apply a specific price for a product and a discount for a certain customer group

#### Expected behavior

Price / discount label is displayed correctly: Discounted price + amount on the discount label = crossed out price (base price)

#### Steps to Reproduce

- Create a customer group "Reseller" with 20% discount on a spe

[2021-02-22 13:59] matks commented on #22783
## Status update: PrestaShop 1.7.7.2 has been published on prestashop.com 🚀

https://www.prestashop.com/en/download

Release note https://build.prestashop.com/news/prestashop-1-7-7-2-maintenance-release/

[2021-02-22 14:01] haveyougotanypets opened #23346 "CombinationCore getIdByReference uses LIKE instead of ="
function getIdByReference located in classes/Combination.php uses SQL LIKE instead of = when selecting IDs from the database:

`$query->where('pa.reference LIKE \'%'.pSQL($reference).'%\'');`

I have two combinations on a single product.  One with reference "50031 BLACK-GREY" and another with reference "50031 BLACK"

I am using this function in an override to get the combination ID and it is retur

[2021-02-22 14:17] PierreRambaud commented on #23332
FYI, we found issue on how smarty use `function|modifier`, the modifier is not applied, we are working on it. It will be fixed for the next version :wink:

[2021-02-22 14:18] dialt0n3 opened #23347 "Can no longer search for customer by email only."
#### Describe the bug
Did a sandbox upgrade from 1.7.5.2 to 1.7.71

Mostly everything is working except i can no longer search for customer via email only, or name ect.

It is requiring me to search for customers with their mobile number (which was not previously collected by customers)

#### Expected behavior

Allow search for customers by email only or first and last name

#### Steps to Reproduc

[2021-02-22 14:31] hibatallahAouadni commented on #23345
Hello @MHostinato

Could you please check this issue #9966 cause it seems similar to yours.
Your issue is related to this one #23219
Please check and feedback.

Thanks!

[2021-02-22 14:35] hibatallahAouadni commented on #23346
Hello @haveyougotanypets

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further informatio

[2021-02-22 14:35] #23346 closed, assigned to nobody

[2021-02-22 14:42] hibatallahAouadni commented on #23347
Hello @dialt0n3

I didn't manage to reproduce your issue with PS1.7.7.1 cause I don't have within the default shop the column **Mobile number**.
Please check the attached screen record below:

https://drive.google.com/file/d/1LBIGCX6kFK45m5aDijw5JbpIqKAYV1og/view

Please check and feedback.
Thanks!

[2021-02-22 14:43] Prestaplugins commented on #22971
Is this issue fixed in 1.7.7.2 ?

[2021-02-22 14:45] hibatallahAouadni commented on #21695
Hello ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 14:45] #21695 closed, assigned to nobody

[2021-02-22 14:45] hibatallahAouadni commented on #23068
Hello @alfonsolr09 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 14:45] #23068 closed, assigned to nobody

[2021-02-22 14:46] hibatallahAouadni commented on #23086
Hello @ced--ced ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 14:46] #23086 closed, assigned to nobody

[2021-02-22 14:47] hibatallahAouadni commented on #22142
Hello @polevoyk ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 14:47] #22142 closed, assigned to nobody

[2021-02-22 14:47] marionf opened #23348 "Group all dash modules in one"
#### Is your feature request related to a problem?

For a better clarity and simplicity, group all dash modules in one

#### Describe the solution you'd like

Create a module with the following existing modules: dashactivity, dashgoals, dashproducts, dashtrends, graphnvd3

This module will be native and pre-installed.

**Technical name**: ps_dashboard

**Display name**: Dashboard

**Short descript

[2021-02-22 14:48] marionf opened #23349 "Group all stats modules in one"
#### Is your feature request related to a problem?

For a better clarity and simplicity, group all stats modules in one

#### Describe the solution you'd like

Create a module module with the following existing modules: statsbestcategories, statsbestcustomers, statsbestmanufacturers, statsbestproducts, statsbestsuppliers, statsbestvouchers, statscarrier, statscatalog, statscheckup, statsdata, stat

[2021-02-22 14:49] dialt0n3 commented on #23347
@hibatallahAouadni thank you for the video
i would record one to show you as well but i can not as it would expose customer data.

My search has the following fields
![Capture3](https://user-images.githubusercontent.com/2801150/108724031-e05c8700-74f2-11eb-9e83-b10da7ca8318.JPG)

where as i noticed that yours does not have mobile number field.

this issue does not exist in my previous version and

[2021-02-22 14:51] hibatallahAouadni commented on #23246
Hello @tswfi

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2021-02-22 14:54] matks commented on #22971
@Prestaplugins I just performed an upgrade from PS 1.7.6 to PS 1.7.7.2 . I have the `route_name` column. But nothing has been changed in PS 1.7.7.2 regarding your issue.

The `route_name` column is added by Doctrine upgrade process (https://www.doctrine-project.org/). If during your upgrade process, the `route_name` column has not been added, something went wrong which prevented the column creatio

[2021-02-22 14:59] FredBrockstedt commented on #23336
Howdy @hibatallahAouadni,

thanks for keeping all the past issues in your memory.
#22386 is exactly the issue, with the slight deviation, that not all data our was affected, making this much harder to catch.
#22215 is also related and I think they came up with a very similar solution: https://github.com/PrestaShop/PrestaShop/issues/22215#issuecomment-748894921
I guess it would be smart to merge it

[2021-02-22 15:03] Prestaplugins commented on #22971
Hello @matks,
Ok, so if I understand clearly, it doesn't need to be in the 1.7.7.2 sql update files ?
It was on my customer's shops, and I was not here when they did the upgrade, so I have no log for the errors or anything else.
But I found that problem already in 2 shops in a few days... so maybe you should investigate.

[2021-02-22 15:19] hibatallahAouadni commented on #23329
Hello @alfonsolr09

Could you please provide clear steps to reproduce the issue and your GDPR module version.

Thanks!

[2021-02-22 15:27] hibatallahAouadni commented on #23328
Hello @joseantgv

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think it'll be quite useful to add a column contain id_module or module_name to improve the traceability, wdyt?

[2021-02-22 15:30] dialt0n3 commented on #23347
digging further
my required fields section looks like this, only option being partner offers

![image](https://user-images.githubusercontent.com/2801150/108729830-f0776500-74f8-11eb-9786-ce8603ffad3e.png)

[2021-02-22 15:33] PierreRambaud commented on #23306
Did you try to change the id of your checkbox instead?

[2021-02-22 15:36] #20842 closed, assigned to eternoendless

[2021-02-22 15:37] alfonsolr09 commented on #23329
you got it right but i think it should be in bold.
Please change the language to spanish and check it

[2021-02-22 15:37] M4ketech commented on #19229
Tested with clean install of 1.7.7.2 problem is still there.

[2021-02-22 15:38] alfonsolr09 commented on #23259
Not the same. I mean google merchant center

[2021-02-22 15:56] M4ketech opened #23351 "Module translations are not working"
#### Describe the bug

Like #19229 i started to test module translations and found that all module translations are incorrect. Lets take next example. "Featured Products", with Finnish language that module is shown as "Suosittuja tuotteita" on the frontend and on the backend i did translate it to "Tuotteemme" in the default theme and installed modules translations.

Same behavior goes to all insta

[2021-02-22 16:08] PierreRambaud commented on #23339
If you use an upgrade script, you should be able to determine which version of PrestaShop you're using and what the ObjectModel contains :thinking:

[2021-02-22 16:09] M4ketech commented on #23351
I think its critical bug in version after versions, since same thing seems to be talked here https://www.prestashop.com/forums/topic/958547-prestashop-1751-translations-not-saving-updating/

[2021-02-22 16:13] idnovate commented on #23331
I see some differences between your test and mine, and maybe it makes the difference.

- Could you please create WS in "All shops" context?
- Could you please make the order from the frontoffice?

If it works for you, I will screen a video.

Thanks.

[2021-02-22 16:18] hibatallahAouadni commented on #23351
Hello @M4ketech

I think this issue is similar to this one #13392 and it's already in our debug roadmap.
Please check and feedback.

Thanks!

[2021-02-22 16:19] Progi1984 commented on #22109
Fixed by #22920

[2021-02-22 16:19] #22109 closed, assigned to Progi1984, MatShir

[2021-02-22 16:20] Progi1984 commented on #22587
Fixed by #22791

[2021-02-22 16:20] #22587 closed, assigned to Progi1984

[2021-02-22 16:25] hibatallahAouadni commented on #23110
Hello @ced--ced

Sorry for the late response.
I'm really sorry but I didn't manage to reproduce the issue and I can't help you anymore :confounded:
You seems need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel]

[2021-02-22 16:25] #23110 closed, assigned to nobody

[2021-02-22 16:30] PierreRambaud commented on #19743
As far as I know, the problem comes from the module itself which is not using a string for the locale :thinking:

[2021-02-22 16:36] M4ketech commented on #23351
Yeah, somewhat similar to that issue. I think last version with working translation system out of the box was 1.7.5. Main problem comes from duplicated translations? Like Classic theme translations have:
![kuva](https://user-images.githubusercontent.com/8841448/108738116-f17db600-753b-11eb-8d96-a249e9f8e40b.png)

And there is also way to try translate that module via "installed modules".

[2021-02-22 16:42] M4ketech commented on #23351
Tested with removing translations from database and edited files in sf-fi-FI.zip. After uploading .zip to server and clearing cache (even when i dont use it) frontend shows "valikko_määritykset" in footer contact infromation.

[2021-02-22 16:47] matks commented on #12742
I'm sorry but we use GitHub issues only to discuss about bugs and new features for the PrestaShop project.

You can also ask for help from other PrestaShop users:

- on the [Community chat (Slack)](https://devdocs.prestashop.com/1.7/faq/i-need-help/)
- on the [Community forums](https://devdocs.prestashop.com/1.7/faq/i-need-help/)
- on Stack Overflow

See also example module https://github.com/frie

[2021-02-22 16:48] #12742 closed, assigned to matks

[2021-02-22 17:13] NeOMakinG opened #23352 "Classic theme lighthouse and accessibility could be improved"
#### Describe the bug

The classic theme could be a bit more improved regarding lighthouse and accessibility improvements

#### Expected behavior

Some aria labels are missing, some images doesn't have any sizes in markup

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any page on the classic theme
2. Open the chrome console
3. Launch a lighthouse test, that would be enough to

[2021-02-22 17:25] hibatallahAouadni commented on #23229
Hello @ahtokren

Sorry for the late response.
Could you please check this issue #22697 cause it seems similar to yours.

Thanks!

[2021-02-22 17:59] hibatallahAouadni commented on #23327
Duplicate of #22796

[2021-02-22 17:59] #23327 closed, assigned to nobody

[2021-02-22 18:58] hibatallahAouadni commented on #23329
Hello @alfonsolr09

I changed my language to Spanish, check my screenshot below:

![image](https://user-images.githubusercontent.com/23308427/108755718-e4ff5a80-7547-11eb-8fd5-194652b1a99b.png)

This part is in English cause I have missing translations :sweat_smile:
I think it's related to your theme, could you please switch your theme to the default and check if you still encounter the issue.

Pl

[2021-02-22 19:01] hibatallahAouadni commented on #23347
@dialt0n3 yep I have the same requierd fields as yours :wink:
Well, @khouloudbelguith any idea where I could add this column **Mobile number** in my Customer table?

[2021-02-22 19:10] Hlavtox commented on #23206
@tom75 This is how it works - the unit price is just a ratio in a database. However, this ratio is recalculated every time you change product price, which sucks... So you have to always manually recalculate it whenever you change price of the product.

For example, you set product price to 100. You set unit price to 1000, per kg. `10` is saved to database.
Then when you open BO product page or the

[2021-02-22 19:17] Hlavtox commented on #23206
So, the real problem is, that the field is not recalculated, when you change the price on the left. The data is good. :-)

[2021-02-22 19:18] mmystery opened #23355 "Occasional: Payments options not displayed, without any alert message"
#### Describe the bug

Some clients are trying to checkout, the issue occours on the last step where they should select the payment option of their preference. Instead, it doesn't show the payment options as you can see in the screenshots. Furthermore, no errors are recorded in the logs.

I'm worried that other clients are having the same issue, but I'm unable to reproduce it. Furthermore the bug

[2021-02-22 20:05] PierreRambaud commented on #22783
## Status update: PrestaShop 1.7.7.2 is now available on Docker Hub 🚀

https://hub.docker.com/r/prestashop/prestashop/tags?page=1&ordering=last_updated&name=1.7.7.2

[2021-02-22 20:05] #22783 closed, assigned to matks, sowbiba, PululuK, MatShir

[2021-02-22 20:43] hibatallahAouadni commented on #15313
Hello @Lwackp

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 20:43] #15313 closed, assigned to nobody

[2021-02-22 20:49] hibatallahAouadni commented on #20772
Hello @guirou62 ,

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 20:49] #20772 closed, assigned to nobody

[2021-02-22 20:52] hibatallahAouadni commented on #22377
Hello @reidlaitinen,

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-22 20:52] #22377 closed, assigned to PierreRambaud

[2021-02-22 21:16] Anidatte commented on #23334
I have similiar issue after upgrading from PS 1.7.6.8 to 1.7.7.2. After upgrading, my search resulth are cut by a factor of 10 or even more in some cases.

I noticed something interesting. On 1.7.6.8 when i search for example "red apple" the prestashop will find products with "red apple" but also with only "red" or only "apple". But if I try to search same thing on 1.7.7.2 it searches for "red app

[2021-02-22 21:23] hibatallahAouadni commented on #11569
Ping @marionf I can see that the issue is approuved by the PM but without status :confused: so, what's the status of this issue? is it **`To Do`** or **`TBS`**?

[2021-02-22 21:35] prston commented on #22215
Thank you @hibatallahAouadni , I would have believed you even without a video ;)

Reading https://github.com/PrestaShop/PrestaShop/pull/23354 let me think this is caused by even older data in _ps_address_ table and relatives. My install was made on PS1.7.1.x...

How can I help ?

[2021-02-22 21:55] dialt0n3 commented on #23347
it seems the phone and phone_mobile columns were deleted by the one click upgrade module to 1.7.7.1

We have added them manually. Now everything is seems to be ok.

i will do further testing but something is broken in the 1 click updater.

[2021-02-22 22:00] neonVoice opened #23356 "Race condition in Order::setInvoiceDetails"
#### Describe the bug

Hello, I'm coming from MSSQL background, so please dont harsh on me for using word **transaction** a lot, im using this project partially as hobby/work and not proficient in PHP/MySQL.

I am using payment module from my local bank organization(stands as an internet acquiring ith a lot of payment options) which change order statuses based on bank response and according to the

[2021-02-22 22:21] hibatallahAouadni commented on #19198
Hello @6xthFNGR

About the first issue SEO preview, as @khouloudbelguith mentioned above is a duplicate of #15420
About the second issue breadcrumb missing after saving categories, I didn't manage to reproduce with PS1.7.7.1.

Could you please check and feedback.

Thanks!

[2021-02-23 07:51] fdonnet commented on #23352
@NeOMakinG for the images it can be super great to use the img theme configuration to get width and height (without px). example=> width="446" height="350" and be sure we have height  on auto in the css.

If the shop owner put width 100% for img and with that kind of definitions, the target browser will be able to book empty space for the images before the content is rendered.
It's a immediate gai

[2021-02-23 08:26] matks commented on #23356
Hi @neonVoice and thanks for this long bug report, thank you for taking the time to write this 👍

There's no issue talking about transactions 😄 , actually we [wish we could rely on them](https://github.com/PrestaShop/PrestaShop/pull/21740) too but for a long time PrestaShop supported both MyISAM and InnoDB. We are considering dropping MyISAM which would allow us to start using transactions, but th

[2021-02-23 08:29] matks commented on #18777
Hi, looks like Product Team did not have the time to look at this issue yet.

However I have 2 questions:
- I dont see any information about HS code in https://www.prestashop.com/en/blog/choosing-a-online-payment-solution are you sure this is the right blog article
- I'm a developer, not a PM ; so I dont what HS code is. I google it, so if I get it right it's a number assigned to a product ; and i

[2021-02-23 08:36] khouloudbelguith opened #23357 "BO - Orders page - missing DNI number in some countries when the DNI is not required"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/23040#issuecomment-783326399
When the DNI is not required for some countries, the dni number is missing in the BO > Orders > Order preview page & Order details page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS with English language & France country
2. Go to BO > International

[2021-02-23 08:43] Progi1984 commented on #23357
As discussed yesterday with @PrestaShop/prestashop-core-developers, the missing feature is the support of Address Format in Order Page.

[2021-02-23 08:48] rseon commented on #23306
The bug is still present whatever the id used.
Obviously it works if id is `terms-and-conditions` but in this case it will override the default behavior.

[2021-02-23 08:56] matks commented on #23357
Oh, this one is completely intentional.

When we were working on Order page, we tried to setup this concept of Address Format in order page. And what we found is that it is a complete mess 😄  . Basically, when you are on a page where address format must be validated, the address format to apply can come from multiple places.

To be sure: we are talking about "what field in the address is mandatory

[2021-02-23 09:02] IvoRabush opened #23358 "Discounts (promo codes) - multiple errors"
#### Describe the bug

Hello,
I'm writing regarding previous reported bug and not fixed issue #10465 bause of incorrect research.

## ISSUE 1
#### Expected behavior
No matter if you make the order from the front office or back office, no matter what cart rules and conditions you make, even with only 1 cart rule (promo code) the discount amount is NEVER UPDATED when you update an order from the bac

[2021-02-23 09:08] atomiix commented on #23342
Fixed by #23343

[2021-02-23 09:08] #23342 closed, assigned to nobody

[2021-02-23 09:14] NeOMakinG commented on #23352
@fdonnet Can you check the PR and tell me if it's right ? :)

I plan to add src-sets myself but webp will need some backend devs :)

[2021-02-23 09:39] fdonnet commented on #23352
@NeOMakinG seems good but maybe it will have strange side effects if shop owners change their image generation parameters and regenarate their pictures. If the proportion (aspect ratio) changes they need to change the .tpl(s) to hard code their width and height (new aspect ratio)... I don't know if a lot of people change image aspect ratio when they use classic or classic_child themes...
But maybe

[2021-02-23 09:59] Progi1984 commented on #22979
Fixed by #23040

[2021-02-23 09:59] #22979 closed, assigned to Progi1984

[2021-02-23 10:02] NeOMakinG commented on #23352
@fdonnet I tried but every sizes are not fine enough :/

[2021-02-23 10:03] hibatallahAouadni commented on #23355
Hello @mmystery

I didn't manage to reproduce the issue following the steps in this issue #14554, see the attached screen record below:

https://drive.google.com/file/d/1EGVz8XLBMlvjVrU_oXKGlVRW_HDRNDBp/view

Please check and feedback.
Thanks!

[2021-02-23 10:14] zuk3975 commented on #23357
related https://github.com/PrestaShop/PrestaShop/issues/17647

[2021-02-23 10:30] hibatallahAouadni commented on #23358
Hello @IvoRabush

Thanks for the detailed bug report :rocket:
Could you please check this issue #23266 cause it seems similar to your first issue and I think this issue #18319 is related to your second issue.
Please check and feedback.

Thanks!

[2021-02-23 10:43] hibatallahAouadni commented on #23254
@ComonSoft just to confirm you upgrade your shop from 1.7.4.4 to 1.7.7.1? or to another version?

[2021-02-23 10:46] ComonSoft commented on #23254
From 1.7.4 to 1.7.6.9 and then to 1.7.7.1

[2021-02-23 10:48] atomiix commented on #10087
@hibatallahAouadni @marionf from what I understand, those 2 issues are related but not duplicates

[2021-02-23 10:52] Kssindri opened #23360 "Bug. The "Add to cart" button does not work"
#### Describe the bug

On the product sheet when click on the button "Add to cart" nothing happens and the product is not added to the cart then does not update automatically you must refresh the page to be able to see your order add to basket.

#### Expected behavior

Normally with previous versions, when you click on the "Add to cart" button, a window appears which summarizes and summarizes the

[2021-02-23 10:56] hibatallahAouadni commented on #10087
Thanks @atomiix & @marionf :slightly_smiling_face:

[2021-02-23 10:58] 01design opened #23361 "Erreur d'encodage des caractères htmls s'affichent dans l'avis client"
#### Describe the bug

Sur la page produit, les avis client s'affichent avec des caractères html (<br /> ...)

#### Expected behavior

Quel est le fix à apporter pour formater correctement les messages et ne plus voir les avis déformés par ces caractères

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshot

[2021-02-23 11:17] hibatallahAouadni commented on #19649
Hello @thalassa-web

Sorry for the late response :confused:
Ok, let's resume to make it clear, you're developing a module where you use the method **`Pack::isInStock`** and you encounter problem:

1. Create a **Pack X** with no stock (qty=0) in **Store A**
2. Switch to **Store B**, add some stock to the **Pack X** (for exemple: qty=50)
3. **Store A**: call the method **`Pack::isInStock`**, there i

[2021-02-23 11:24] hibatallahAouadni commented on #23360
Hello @Kssindri

It seems you upgrade your shop. So what was your previous version? and did you encounter any issue (errors or warnings) during the upgrade process?
Please check and feedback.

Thanks!

[2021-02-23 11:29] hibatallahAouadni commented on #23361
Hello,

Please send your request in English. English is the norm on GitHub.
Please next time, fill all the blocks in the provided **template to submit a complete bug report**.

Thank you

[2021-02-23 11:29] #23361 closed, assigned to nobody

[2021-02-23 11:37] hibatallahAouadni commented on #23356
Hello @neonVoice

Thanks for the detailed bug report!

So, to reproduce the issue we need to call this method twice **`Order::setOrderState`** simultaneously (or one after another) from a different WS and set the same status for the same Order, is that so?

Thanks!

[2021-02-23 12:07] neonVoice commented on #23356
Hello @hibatallahAouadni, consider this front controller code located in file `notification.php`:
[code]

it is accessible within url: https://xxx.yyy/module/tinkoff/notification

We need to perform 2 consecutive POST requests to this url like this:
[code]
[code]

If we're talking about time perspective - they are executed one after another in the same code with difference like 200 microseconds, l

[2021-02-23 12:25] Kssindri commented on #23360
No error noticed and I specify that my previous site under prestashop 1.7.7.1 had the same bug or malfunction

[2021-02-23 12:28] Shoprunners commented on #19654
Hi,
well, the exact example I cannot remember after 7 months, but if you look at the current code, it is obvious:
file classes/Product.php function "getProductProperties"

there is a cache built with a cachekey.
Cachekey is built like this:
 $cache_key = $row['id_product'] . '-' . $id_product_attribute . '-' . $id_lang . '-' . (int) $usetax;

so no use of context i.e.

and if this cachekey can be

[2021-02-23 12:30] Kssindri commented on #23360
No error noticed and I specify that my previous site under prestashop 1.7.7.1 had the same bug or malfunction.
Website : https://afriqpharmacopee.com/

[2021-02-23 12:35] ctcamp commented on #17015
Hi there
I have just moved 2 of my Prestashop websites to a new server. Version 1.6.
I am having the same error come up on both the sites and it seems the settings.inc.php file contains the right information.
The new host is not able to find the problem on their side.
Could anybody please help me give the Host more specific information, so they can sort the problem out for me.
Thanks in advance
ct

[2021-02-23 12:50] PrestaEdit commented on #23339
Hi @PierreRambaud,

No, no and no.
I was talking about an upgrade script inside a module, and also ObjectModel inside the module itself.

But even using PrestaShop ObjectModel, we could have this kind of issue.
A module editor could not update every upgrade file at each PrestaShop version cause the Product (for example) ObjectModel will have a newer column inside each version, isn't it ?

My best

[2021-02-23 13:02] matks commented on #23339
@PrestaEdit I am sorry but I fail to understand the issue. Could you dive a bit further into the details?

For example, you have a module PrestaModA v1.0.0 . Inside PrestaModA you have added a ObjectModel not part of PrestaShop Core, let's call it ModelA.

You want to release a v1.1.0 of PrestaModA. You want to do X (I fail to understand what X is: add a SQL column inside MySQL? update a SQL colum

[2021-02-23 13:08] PrestaEdit commented on #23339
Imagine this.

V1.0: PrestaModA have an ObjectModel nammed ModelA with only a column: active. (Of course, it's have the id_model_a column, for the primary identifier in addition).

V1.1: You want to update() a ModelA createded before and set the active column to false. For that, you use the update() method given by the ObjectModel.

V1.2: You add a column to the ModelA, like "somethingnotusefullth

[2021-02-23 13:16] matks commented on #23339
@PrestaEdit OK I see it better now. We actually have similar issues on the upgrade process.

But we believe the root cause is elsewhere. If you think about it, the main issue in this scenario is that _in the upgrade script, you are using php functions that possibly change their behavior and signature during the upgrade.

So for example, when upgrading PrestaModA from v1.0 to v1.2, we are calling `

[2021-02-23 13:34] hibatallahAouadni commented on #23360
Hello @Kssindri ,

Sorry but I didn't manage to reproduce your issue with PS1.7.7.1 and PS1.7.7.2 and it seems your issue is not related to PS Core. So, I close this issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of o

[2021-02-23 13:34] #23360 closed, assigned to nobody

[2021-02-23 13:48] hibatallahAouadni commented on #23258
Hello @tom75 & @TGD001

Thanks for your feedback!
So the issue is related when you install a theme which include seperate link list modules.
Well, could you please provide your themes names.

Thanks!

[2021-02-23 13:51] Kssindri commented on #23360
Can you give me the name of the cart module please for prestashop 1.7.7.2

[2021-02-23 13:53] hibatallahAouadni commented on #23336
Hello @FredBrockstedt

Thanks for your feedback and your PR :rocket:
So, to sumarize the issue:

1. Install 1.7.6.9
2. Create a Customer Address without phone, company, address2, phone_mobile
3. Create an Order with this Customer
4. Upgrade your shop to 1.7.7.1
5. Try to open the Order => See error

Is that so?
Please check and feedback.

Thanks!

[2021-02-23 13:55] hibatallahAouadni commented on #23360
Hello @Kssindri

I didn't use any cart module. I use the default PS shop (cart, ...).

Thanks!

[2021-02-23 14:01] Kssindri commented on #23360
There is no native prestashop module to uninstall and reinstall it to see if the problem can be solved

[2021-02-23 14:30] fabienlege commented on #21108
The problem is, sometime, you want to send email with different email address than store contact.
In my case, I want to use contact@myshop.com in shop address (to show it in contact page) but I want to send my transactionnal emails with no-reply@maildomain.com.

My SMTP provider (mailjet, for exemple. but many smtp provider work as it) deny any outgoing mail if from address isn't exactly no-reply@

[2021-02-23 14:32] dialt0n3 commented on #23347
No i was wrong that fixed another issue but it is still requiring a mobile number to search for the customers

[2021-02-23 14:35] FredBrockstedt commented on #23336
hi @hibatallahAouadni

I'm not entirely sure, it's actually necessary to install 1.7.6.9.
If the fields phone or address2 are optional, they are set to be nullable in the database.
Therefore someone creating an account without a mobile phone number for example, would cause a null in the database, which blows up the backend.
Since the address can be modified by user and backoffice, there are a lot

[2021-02-23 14:48] hibatallahAouadni commented on #23347
Hello @dialt0n3

what was your previous version?

Thanks!

[2021-02-23 14:49] dialt0n3 commented on #23347
1.7.5.2
Also i have a temporary work around.

If i enter only the email for customer in search, and then a single whitespace in the mobile number field it does allow the search to be preformed.

so this is a 100% bug

[2021-02-23 14:54] hibatallahAouadni commented on #23347
@dialt0n3 did you add the **mobile number** column manually?

[2021-02-23 14:54] dialt0n3 commented on #23347
phone and phone_mobile yes were added manually

[2021-02-23 14:59] tom75 commented on #23258
Hi @hibatallahAouadni

that seems possible - my theme name is "warehouse", don´t want to make more advertising here where to find it, but, however, if you want to know more details or i can offer you also the files for checking just let me know (should be no problem for the license if not used for production)

[2021-02-23 14:59] hibatallahAouadni commented on #23347
Hello @dialt0n3

So, it's not a PS Core bug but it's actually your bug :sweat_smile:
Check your code, it seems you add the ** required** attribute in your **Mobile number** input :wink:

I'm closing this issue cause it's not related to the PS Core. But I can always answer you in this thread :wink:
And if you need help with your shop, please consider one of our [support plans](https://www.prestasho

[2021-02-23 14:59] #23347 closed, assigned to nobody

[2021-02-23 15:00] dialt0n3 commented on #23347
no i have confirmed that required for these are set to false

[2021-02-23 15:01] hibatallahAouadni commented on #23258
@tom75 thanks :slightly_smiling_face: I will try to reproduce it and I will feedback :wink:

[2021-02-23 15:06] dialt0n3 commented on #23347
![image](https://user-images.githubusercontent.com/2801150/108862904-aa84d480-75be-11eb-92d4-9ebb6bf061fa.png)

As you can see @hibatallahAouadni you are incorrect.

Also you are not addressing the issue as to why the tables were removed by updater ?

[2021-02-23 15:06] dialt0n3 commented on #23347
@hibatallahAouadni please reopen issue case

[2021-02-23 15:11] hibatallahAouadni commented on #23347
@dialt0n3 try to delete what you have been add and check if the issue still persist.
And please don't be frustrated as I told you I can always answer even when the issue is closed :wink:

[2021-02-23 15:12] dialt0n3 commented on #23347
i tried that last night when i restored the backup
and even without the added table the issue is still there

[2021-02-23 15:15] 01design opened #23364 "Bug Prestashop in customer review : Error encoding, htmls characters displayed"
#### Describe the bug

When a custumer wants to write a review, you can read it fine in the back-office, validate it and publish it un your product page. But when you go back on the product page , you have some <br> tags displayed in the comments. I guess it's an encodage UTF-8 problem ?

#### Expected behavior
I would like that every reviews come clean without any tags html or strange characters.

[2021-02-23 15:16] 01design commented on #23361
Hello

sorry for the inconvenience, I did a new issue in english trying to give all the details of my Prestashop bug.

Thanks

Yvan

	Yvan Lagarrigue
	60, avenue du Mont Alban
	06300 Nice
	T. (+33) 6 60 82 01 15
	contact@01design.fr

[2021-02-23 15:18] hibatallahAouadni commented on #19654
Hello @Shoprunners

I know it has been more than 7 months :sweat:
But I really need some clear steps to reprpduce the issue in FO. That we help our developers to fix the problem as soon as possible.

Thanks for your feedback :pray:

[2021-02-23 15:19] hibatallahAouadni commented on #23347
Did you install some module related to Customer management?

[2021-02-23 15:29] dialt0n3 commented on #23347
@hibatallahAouadni none relating to customer management no.
Just payment modules and security pro.

[2021-02-23 15:47] hibatallahAouadni commented on #23364
Hello @01design

Thanks for following the template :clap:
Well, I didn't manaage to reproduce the issue with PS1.7.6.8, see the attached screen record below:

https://drive.google.com/file/d/1zHoEjGNKWfeZszLoWtBKcnd2KlkQQ4xl/view

Please check and feedback.
Thanks!

[2021-02-23 15:48] hibatallahAouadni commented on #23347
ok! Did you disable your overrides?

[2021-02-23 15:52] dialt0n3 commented on #23347
No overrides are set.

[2021-02-23 15:54] 01design commented on #23364
Hello support and thank you for your quick answer

It means that the error is only visible with my theme Drama ? If you use the classic template it’s fine ?

	Yvan Lagarrigue
	60, avenue du Mont Alban
	06300 Nice
	T. (+33) 6 60 82 01 15
	contact@01design.fr

[2021-02-23 16:21] matks commented on #23360
It's simply name "Shopping Cart"

https://github.com/prestashop/ps_shoppingcart

[2021-02-23 16:21] Kssindri commented on #23360
thank you

[2021-02-23 16:22] grafiskstudio commented on #14979
Hi Guys,

We have also this issue.
We sell tiles and amount of packages can increase from 1 to easy 100 packages.
The load time is crazy, approx 8sec as someone else here mentioned.

Maybe a selfish question, but is it possible to get this issue done faster? @SimonGrn
Or does anyone else have a solution for this?

[2021-02-23 16:29] Progi1984 commented on #23357
@matks FYI In this case, the bug is about displaying of the adress based on the address format.

[2021-02-23 16:29] SimonGrn commented on #14979
Indeed there is. If this issue is absolutely mandatory for you, you can pay a developer to fix it and patch the software with a Pull Request, exactly like the PrestaShop company does as a contributor. This is an Open Source project, your help would be huge.
Thank you for your interest.

[2021-02-23 16:40] khouloudbelguith opened #23365 "BO - The browser is unable to show the error message on an hidden element."
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/22942#issuecomment-781249540
As commented [here](https://github.com/PrestaShop/PrestaShop/pull/22942#issuecomment-781380741) by @NeOMakinG
An error displayed in the console when creating category,  it's due to radio elements which are inside a `display: none;` property. so the browser is unable to show t

[2021-02-23 16:56] arirangz opened #23366 "Products header missing on the second page of the invoice"
#### Describe the bug
If the invoice has more than one page, the second page dosen't have the products header (see screenshot). This is also happening in the delivery slip.

In general, prestashop is not handling very well pdfs with more than one page.

#### Expected behavior
The second page should repeat the product header.

#### Steps to Reproduce
Get an invoice with more than one page

**Screen

[2021-02-23 17:35] hibatallahAouadni commented on #23364
Hello @01design

Yep I think so. Could you please switch your theme to the Classic and check if you still encounter the same issue.
Please check and feedback.

Thanks!

[2021-02-23 17:38] hibatallahAouadni commented on #23351
Hello @M4ketech

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #13392.
To be informed when it's fixed, please subscribe to the issue mentioned above.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

PS: I will add your issue description to the issue mentioned above :wink:

Thanks!

[2021-02-23 17:38] #23351 closed, assigned to nobody

[2021-02-23 17:38] hibatallahAouadni commented on #23351
Duplicate of #13392

[2021-02-23 17:38] tmsio opened #23367 "Order validation with cash on delivery or bank transfer payments"
#### Describe the bug
Order paid with cash on delivery o bank transfer :

1) Are are not counted in the statistics.

2) In the order list do not buy the invoice icon.

3) In the order details the Invoice button is gray out.

****************************

Hi, I have a problem with order validation, let me explain.

In the statistics I don't see all the orders paid on delivery, looking in the DB I n

[2021-02-23 17:47] hibatallahAouadni commented on #23334
Hello @Anidatte

Did you get any result?

[2021-02-23 17:59] M4ketech commented on #13392
@roja45 Tested with PHP 7.2 and 7.3 ;)

[2021-02-23 18:05] hibatallahAouadni commented on #13392
@M4ketech thanks :rocket:

[2021-02-23 18:10] M4ketech commented on #13392
Maybe someone can try with PHP 7.4, i did use 7.4 in last server testing and i did manage to translate titles and text in modules with some workaround.

[2021-02-23 19:25] hibatallahAouadni commented on #13392
@M4ketech PS1.7.7 is not compatible with PHP 7.4 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)) :wink:

[2021-02-23 19:29] M4ketech commented on #13392
@hibatallahAouadni I know, but last time i tested with 7.4, just to make sure. But weird i did not face any major or minor issues with 1.7.7.1 and PHP 7.4, but translations did work, atleast with after doing something (i cant remember what i did do).

[2021-02-23 19:42] hibatallahAouadni commented on #23254
Hello @ComonSoft

I install a new shop 1.7.4.4, I upgrade it to 1.7.6.9 and then upgrade it again to 1.7.7.1:

https://drive.google.com/file/d/1E5lf_YMvMdPrENXhGLKV4Y-rkEshpT1y/view

As you can see in the attached screen record above, I did encounter your issue but when I refresh my page, it's all set :wink:
Please check and feedback.

Thanks!

[2021-02-23 20:00] hibatallahAouadni commented on #19632
Hello @cadonovan

Sorry for the late response :confounded:
Just to make it clear, you're asking to change the wording **Net Profit** to **Gross Profit** as an improvement or to change the way we calculate the **Net Profit** as a bug?
Please check and feedback.

Thanks!

[2021-02-23 20:57] mosilver commented on #19175
Hi @frenchfriez, have you resolved this

Country->need_identification_number is empty
Address->id_country is empty

issue when importing Addresses? We have exactly the same now.

[2021-02-23 21:21] hibatallahAouadni commented on #19621
Hello @Caleydon

It seems good idea to add a new column Customer Group :clap:
Ping @PrestaShop/product-team fiendly reminder :wink:

Thanks!

[2021-02-23 21:33] dialt0n3 commented on #23347
@hibatallahAouadni the issue should still need to be corrected....

[2021-02-23 21:37] hibatallahAouadni commented on #19610
Ping @PrestaShop/product-team friendly reminder :wink: and it seems doable and useful

[2021-02-23 22:15] Nicky31 commented on #22141
Hello @cocolate13 , how went your prestashop upgrade with PHP 7.2 ?

[2021-02-23 22:25] jpcoke commented on #23258
In my case, i have default theme, and updated 4 modules, sadly i can only tell for sure that one them was 1 click upgrade...

I have 2 websites pretty similar and happened only on one of them.

Used the solution above in desabling ps_linklist on database, and apparently solved, at least i can access the BO...

[2021-02-23 23:05] hibatallahAouadni commented on #18952
Hello @SeriousKen ,

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-23 23:05] #18952 closed, assigned to nobody

[2021-02-23 23:07] hibatallahAouadni commented on #18915
Ping @PrestaShop/ux-team friendly reminder :wink:

[2021-02-23 23:17] hibatallahAouadni commented on #18687
Hello @cedricfontaine

I'm really sorry for the late response :confounded:
Could you please propose any solution for this problem :sweat_smile:

Thanks in advance.

[2021-02-23 23:27] hibatallahAouadni commented on #16131
Ping @PrestaShop/product-team what's the status of this issue?

[2021-02-23 23:36] hibatallahAouadni commented on #22903
Hello ,

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-23 23:36] #22903 closed, assigned to nobody

[2021-02-24 00:01] alfonsolr09 opened #23368 "add checkbox to add private note to a thread in customer service"
#### Describe the solution you'd like

I think being able to add a private note for a customer conversation thread would be a good idea.
There are times when customer service is also dealt with by phone or via WhatsApp, I think being able to add a private note to the thread can be a very good idea. That note could be seen by all employees

#### Additional context

![image](https://user-images.gith

[2021-02-24 00:04] alfonsolr09 commented on #18803
@MatShir

[2021-02-24 00:14] alfonsolr09 commented on #18950
ok, thanks
im waiting :)

[2021-02-24 00:15] M4ketech commented on #13392
Now its weird, it shows "translation saved but still pulls old data if i type "valikko_määritykset" to search.

![kuva](https://user-images.githubusercontent.com/8841448/108925535-7bfe0c80-7645-11eb-85a3-0a34966f4abf.png)

So for now, 1.7 is useless if you want to have multilanguage shop. I did even unzip the /translations/sf-fi-FI.zip and did modify ShopThemeGlobal.fi-FI.xlf and ModulesContactinf

[2021-02-24 00:44] alfonsolr09 opened #23369 "special characters and accents are not displayed correctly when placing an order"
#### Describe the bug

special characters and accents are not displayed correctly when placing an order

#### Steps to Reproduce

Steps to reproduce the behavior:

1. make an order
2. write a comment (include accents or characters like º, #, @ etc...)
3. click on save
4. click on modify to see the comment

**Screenshots**

write this
![image](https://user-images.githubusercontent.com/62474824/1089

[2021-02-24 00:45] alfonsolr09 commented on #21577
@SimonGrn https://github.com/PrestaShop/PrestaShop/issues/23369

[2021-02-24 05:48] cocolate13 commented on #22141
Hello,
I have to scheduled this update with backups before the next week.
Thanks for your mail.

Le mar. 23 févr. 2021 à 23:15, Martin Caussanel <notifications@github.com>
a écrit :

[2021-02-24 06:27] TGD001 commented on #23258
@hibatallahAouadni  @tom75
Updated to 1.7.7.2 , PS_link same 4.0 release. same error raised.

[2021-02-24 07:30] Seb33300 opened #23370 "Undefined _PS_ADMIN_DIR_ in welcome module"
#### Describe the bug

The `welcome` module is producing PHP warning related to the `_PS_ADMIN_DIR_` constant which is not defined.

#### Expected behavior

No PHP warning.

#### Steps to Reproduce

Steps to reproduce the behavior:

This issue happens when installing/upgrading a module (can be any module) from command line:
[code]

#### Additional information

* PrestaShop version: 1.7.7.1

[2021-02-24 07:51] idnovate opened #23372 "Products not centered in home with default theme"
#### Describe the bug

Products are not centered correctly in the home container

#### Steps to Reproduce

1. Install PS
2. Check home product block

![image](https://user-images.githubusercontent.com/5071263/108965174-cbabfa80-767c-11eb-9f78-34c04fecc7a9.png)

#### Additional information

* PrestaShop version: PS 1.7.7.2

[2021-02-24 08:22] matks commented on #23370
Hi @Seb33300 I think this is similar to https://github.com/PrestaShop/PrestaShop/issues/14173

Basically the Symfony Commands do not load/setup all items needed by PrestaShop legacy framework to function.

A first step is here https://github.com/PrestaShop/PrestaShop/pull/21125 to fix it but looks like there are other things we need to add.

A workaround for you would be to require the defines fil

[2021-02-24 08:22] Julievrz opened #24650 "Create 301 redirections from Confluence to Gitbook"
PrestaShop user documentation will soon no longer be hosted on Confluence but on GitBook. To avoid weakening our SEO, we would like to set up 301 redirections. For example,

http://doc.prestashop.com/display/PS17/What+you+need+to+get+started will have to redirect to https://docs.prestashop-project.org/1-7-documentation/getting-started/what-you-need-to-get-started

We made a mapping on Google Sheet

[2021-02-24 08:25] JevgenijVisockij opened #23373 "Finish merchandise return migration"
#### Is your feature request related to a problem?

https://github.com/PrestaShop/PrestaShop/pull/19420
Have started the merchandise return form migration. It will require additional work, but PR is already huge so it's best to continue in new PR after this one is merged.

#### Describe the solution you'd like

Things that need to be done:

1. Renaming everything in code from MerchandiseReturn to

[2021-02-24 08:32] hibatallahAouadni commented on #23369
Hello @alfonsolr09

If the issue is fixed with PS1.7.7.1 and 1.7.8.0, it should be closed :wink:

Thanks!

[2021-02-24 08:32] #23369 closed, assigned to nobody

[2021-02-24 08:33] alfonsolr09 commented on #23369
Where is the PR ??? @hibatallahAouadni

[2021-02-24 08:34] hibatallahAouadni commented on #23369
Duplicate of #9726

[2021-02-24 08:34] hibatallahAouadni commented on #23369
@alfonsolr09 here's the PR #15840

[2021-02-24 09:01] matks commented on #14766
Hi @matthieu-rolland what's the status of this issue? We did not make any progress?

[2021-02-24 09:05] hibatallahAouadni commented on #23372
Hello @idnovate

Thanks for your issue!
I reproduced with PS1.7.7.0, 1.7.7.1 and 1.7.7.2. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

PS: related to #22221

Thank you

[2021-02-24 09:10] ComonSoft commented on #23254
OK @hibatallahAouadni forget it if you can't reproduce.

[2021-02-24 09:12] hibatallahAouadni commented on #13392
@M4ketech try to refresh multiple times and clear cache :wink:

[2021-02-24 09:14] hibatallahAouadni commented on #23258
@TGD001 thanks!
But could you please switch to the Classic theme and check if the issue still persist?

[2021-02-24 09:15] hibatallahAouadni commented on #23254
Hello @ComonSoft

I'm really sorry I tried my best to reproduce the issue but ...
Well, I have to close the issue.

Thanks!

[2021-02-24 09:15] #23254 closed, assigned to nobody

[2021-02-24 09:26] idnovate opened #23376 "Cart rule exception in multistore when product not available for default store"
#### Describe the bug

When you open a cart rule with a free gift, and this product is not enabled in the store context, it throws an exception

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a multistore with 2 stores
2. Set context for store 2
3. Create a product
![image](https://user-images.githubusercontent.com/15104724/108978836-55ae9000-768a-11eb-8ce1-0406c4f2de70.png)

[2021-02-24 09:42] hibatallahAouadni commented on #23368
Hello @alfonsolr09

Sorry, but I didn't seem to understand why you need to add a new block (like the attached one below)

![image](https://user-images.githubusercontent.com/23308427/108981190-c787d900-768c-11eb-9005-f99b4b3aecf8.png)

under the message that you sent to your Customers:

![image](https://user-images.githubusercontent.com/23308427/108981350-f1d99680-768c-11eb-8e5a-60dec06b5b11.png)

[2021-02-24 09:43] qualityangel opened #23378 "Admin login redirect to admin login"
#### Describe the bug

After update, the backoffice many times redirect back to login. Like the checkip issue that we all know of. But as usual, i have cleared the cache, disabled checkip on cookie, but even then i have been redirect back to login. When i clear my cache on chrome, the issue is over for about 10 minutes.

I have tried al the things i know for now, so does anybody can help me with t

[2021-02-24 09:47] khouloudbelguith opened #23379 "BO - Order statuses - An error is displayed when deleting an order status with French language"
#### Describe the bug

After fresh install PS with English language & France country, when we try to delete a new order status with french language => an error is displayed
![image](https://user-images.githubusercontent.com/16067358/108981633-32d1ab00-768d-11eb-9e4a-780ed2843cc4.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

Install PS with English language & France country
Go to

[2021-02-24 09:48] alfonsolr09 commented on #23368
be able to add a private note to a conversation that the customer opened to customer service, i mean

[2021-02-24 09:49] alfonsolr09 commented on #23368
Like in the firts pictures

[2021-02-24 09:58] Progi1984 commented on #22870
Fixed by #23142

[2021-02-24 09:58] #22870 closed, assigned to Progi1984

[2021-02-24 10:05] TGD001 commented on #23258
@hibatallahAouadni
unfortunately I' ve not classic theme installed.

[2021-02-24 10:06] 01design commented on #23364
Hello

thanks for your answer. I did what you asked and weirdly the Reviews box doesn’t appear on the Prestashop default template, as you can see on the screenshot bellow. I will have to contact the support of the theme editor, or maybe you have another solution in mind ?

Thanks

Yvan

	Yvan Lagarrigue
	60, avenue du Mont Alban
	06300 Nice
	T. (+33) 6 60 82 01 15
	contact@01design.fr

[2021-02-24 10:08] hibatallahAouadni commented on #23376
Hello @idnovate

Thanks for your issue!
I reproduce the issue with PS1.7.7.0, PS1.7.7.1 and PS1.7.7.2, I didn't reproduce it with PS1.7.6.7.
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-02-24 10:11] matks commented on #23378
@qualityangel did you perform an upgrade recently?

[2021-02-24 10:33] hibatallahAouadni commented on #23366
Hello @arirangz

What you suggest is not a bug but an improvement and a good one :wink:
I have tested till PS1.7.4.1 and no version display the product table header in the second page.
I don't know if it's doable without BC but lets' try it out.

Ping @PrestaShop/product-team do you think it's doable? (see the attached invoice below)

[IN000016.pdf](https://github.com/PrestaShop/PrestaShop/files/6

[2021-02-24 10:37] qualityangel commented on #23378
Yes i did, to 1.7.7.2 from 1.7.7.2

[2021-02-24 10:42] photinia73 commented on #23286
After upgrade to PS 1.7.7.1 I received the fatal error with payment module ecm_payparts. In the reparing process I paid attantion in the log file to the
" PHP Warning:  finfo_file(/var/www/tefold/te.com.ua/modules/var/www/tefold/te.com.ua/blockreassurance/var/www/tefold/te.com.ua/views/var/www/tefold/te.com.ua/img/var/www/tefold/te.com.ua/img_perso/var/www/tefold/te.com.ua/reinsurance-1-1.jpg): fa

[2021-02-24 10:50] matks commented on #23378
Then it might be the issue reported in https://github.com/PrestaShop/PrestaShop/issues/22300

Might be related to outdated ICU version of your PHP, see details in https://github.com/PrestaShop/PrestaShop/issues/22300

[2021-02-24 10:59] hibatallahAouadni commented on #23378
Hello @qualityangel

Could you please check this issue #22758 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-02-24 11:01] yo791 commented on #17856
Hello,
I have the same problem prestashop 1.7.6.9 when i use default theme or custom theme error appear :
[Wed Feb 24 09:39:37.244195 2021] [php7:error] [pid 26161] [client :22596] PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <-- \n  thrown in /home/xx/www/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177
I'm switching to the default the

[2021-02-24 11:12] hibatallahAouadni commented on #23367
Hello @tmsio

Could you please provide the order_status_id please of "consegna contrassegno".

Thanks!

[2021-02-24 11:20] hibatallahAouadni commented on #23364
Hello @01design

Could you please answer by Github not by mail, and I can't see where did you attach the screenshot :confused:

Thanks!

[2021-02-24 11:27] hibatallahAouadni commented on #23258
@TGD001 I just attached :wink:
[classic.zip](https://github.com/PrestaShop/PrestaShop/files/6035555/classic.zip)

[2021-02-24 11:29] hibatallahAouadni commented on #23368
@alfonsolr09 you mean to add a private not for emplyees about the Customer Service default message, is that so?

[2021-02-24 11:43] TGD001 commented on #23258
@hibatallahAouadni
thank you for theme. Test done.  Switching from ZOne theme to classic theme did not give any problems and after loading it the automatic refesh returned the BO normally. the link module 4.0 appeared immediately activated (while with the other theme it was deactivated). I then clicked on "configure" and the same error raised. Once the theme was changed again, everything returned

[2021-02-24 11:59] mgonzalez88 opened #23383 "No me cargan los comentarios en versión 1.7.6.8"
#### Describe the bug

He instalado el módulo Comentarios sobre el producto (v.4.2.1).

Me he traído los comentarios de la antigua versión de mi tienda (Preshop 1.6) y me cargan bien en el módulo y se asocian correctamente con los productos pero, no me pinta nada en la pestaña comentarios.

No tengo la web correctamente maqueetada aún pero no cargan los comentarios en la pestaña "Comentarios".

Me

[2021-02-24 12:29] kwiatkowska opened #23384 "Chrome issue bloced google analitycs"
I started identifying traffic for my page and I have a issue in chrome developer console (ctrl + shift + I)
The problem is on every page,

ERRORS:
v_64_e13c4629507637141815de2610769b2f.js:648 Uncaught ReferenceError: com is not defined

0 {[comms init: ], [} ],}
api.js:5770 No lang code, default [en] used
DevTools failed to load SourceMap: Could not load content for https://cashierui-api.secure.es

[2021-02-24 13:01] hibatallahAouadni commented on #23383
Hello @mgonzalez88 ,

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-02-24 13:01] #23383 closed, assigned to nobody

[2021-02-24 13:02] hibatallahAouadni commented on #23384
Hello @kwiatkowska

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-02-24 13:02] #23384 closed, assigned to nobody

[2021-02-24 13:04] dandumit commented on #16695
Thank you very much @pyp31  !!! You saved me ! I cannot believe that this error it's still present even now and no one it's fixing it.
It's a simple fix. I have hit this because I have migrated from 1.6.1.8 to 1.7.7.1 and probably it's because I have used to have advanced stock activated  !
Daniel

[2021-02-24 13:09] hibatallahAouadni commented on #23141
Hello @paolobattistella ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-24 13:09] #23141 closed, assigned to nobody

[2021-02-24 13:10] mgonzalez88 commented on #23383
Hello!

I have installed the Product Feedback module (v.4.2.1). Link below:

 https://www.prestashop.com/es/blog/comentarios-de-clientes

I have download the comments from old version of my store (Preshop 1.6) to the new version.

They load well in the module and are correctly associated with the products but it doesn't paint anything in the comments tab.

I do not have the website properly format

[2021-02-24 13:13] hibatallahAouadni commented on #23383
Hello @mgonzalez88

Could you please check these issues #23218 & #22481 cause it seems similar to yours.

Thanks!

[2021-02-24 13:22] Hlavtox opened #23387 "Add "show products" switch to category settings"
#### Is your feature request related to a problem?

When dealing with bigger stores with with wide range of products, the root categories start to act as some kind of a router to deeper categories. Example - category **Garden** - you open the category and you have 10000 products on one pile. Stuff for cutting grass, grills, pools, whatever.

People wouldn't really browse this category and it's bet

[2021-02-24 13:25] matks commented on #23384
@kwiatkowska it's probably due to the code of  for cashierui, not PrestaShop.

[2021-02-24 13:28] alfonsolr09 commented on #23368
No, i mean can add a private note about the message that the customer send to me.
Imagine you call to customer to talk about a message that he sent, i can write a private note in the message...

[2021-02-24 13:53] matks commented on #23372
@NeOMakinG there's a PR https://github.com/PrestaShop/PrestaShop/pull/23381 from @idnovate 😄

[2021-02-24 14:14] fest73 opened #23389 "Bug when set other delivery option in order via admin panel"
#### Describe the bug

I started changing the delivery in the order through the admin panel and noticed that the delivery price was calculated incorrectly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make carrier with range 0 to 100 price 50, range 100 to 100500 price 0
2. Make product with combination, price product 20, impact of price + 200 for example
3. Add product in cart, t

[2021-02-24 14:55] hibatallahAouadni commented on #23387
Hello @Hlavtox

It seems a little bit complicated :sweat_smile:
Could you please provide some screenshots or maybe a real exemple :sweat_smile:

Thanks!

[2021-02-24 14:58] malcek opened #23391 "Error when sending message to customer + PS Facebook module"
#### Describe the bug

when sending message on order to customer we get following error:
Type error: Argument 1 passed to PrestaShop\Module\Ps_facebook\Utility\CustomerInformationUtility::getCustomerInformationForPixel() must be an instance of Customer, null given, called in /home/veleproda/public_html/katalog/modules/ps_facebook/classes/Provider/EventDataProvider.php on line 329

[Symfony\Compone

[2021-02-24 15:02] dreammeup opened #23392 "The shop name is the table ps_shop is not updated"
#### Describe the bug

If your shop is not multishop :
When you change the shop name in the tab, it doesn't update the field name in the ps_shop table.
And that name is used in some scripts of the Core, for exemple in the e-mails (maybe in previous versions)

#### Expected behavior

The name sould update in the configuration but also in the table ps_shop

#### Steps to Reproduce

Steps to reproduc

[2021-02-24 15:26] M4ketech commented on #13392
It does nothing. Still i did translate values in "theme" and "installed modules". I did translate "valikko_määritykset" and "Lähetä sähkäpostia". After hitting multiple time "clear cache" and "Force compilation" there is nothing changed on the frontend.

[2021-02-24 15:33] hibatallahAouadni commented on #23389
Hello @dariusakafest

I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1h62X5nNqcQggrEl4Fh42k7tQnbbbi-Ol/view

Please check and feedback.
Thanks!

[2021-02-24 15:35] jolelievre opened #23393 "Improve configuration controllers by creating a common Abstract class"
#### Is your feature request related to a problem?

Most of the configuration controllers have common/duplicated code, (especially the `processFormAction` method) see:

https://github.com/PrestaShop/PrestaShop/blob/05ca65e64528881311a8990c1d6fc00ae3b790a2/src/PrestaShopBundle/Controller/Admin/Configure/AdvancedParameters/LogsController.php#L107
https://github.com/PrestaShop/PrestaShop/blob/05ca65e

[2021-02-24 15:40] tswfi commented on #22995
Just got bit by this also.

1.7.7.1 => 1.7.7.2 failed and after rollback some of the tables were missing and I had to recreate the tables manually. On the bright side those tables don't contain anything important :)

[2021-02-24 15:48] hibatallahAouadni commented on #23368
Hello @alfonsolr09

Well that seems a good idea and very helpful to the merchant.
Thanks for your feedback and your suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think it's a good idea to add a private note for the employee (to see) when a customer send message (not quite understandable), wdyt?

[2021-02-24 16:02] tmsio commented on #23367
Hello hibatallahAouadni the id it s "11", this state had the same options of default "Order Payed" (id 2).
Regards

Screen:
https://raskal.shop/img/Cattura2.PNG

[2021-02-24 16:09] tmsio commented on #23367
Can you provide a swql query that:
If in ps_invoice_order the value of number it s not null
then
insert ps_invoice_order --> number in ps_order-->invoice_number

Regards
Emiliano

Then:

[2021-02-24 16:13] madkot commented on #23219
@hibatallahAouadni yes, i exactly mean "Catalog Price Rules". Sorry for screenshot in other language.
Yes, issue that you linked is similar.

[2021-02-24 16:15] tom75 commented on #23258
@hibatallahAouadni i was not 100% sure about it, but, i was pretty sure also that i had this module disabled before updating it and it was enabled then after the update - as i was not sure about it, i did not mention it before, but, now, as @TGD001 mentions that it is automatically enabling itself i just want to mention that as well.

[2021-02-24 16:21] hibatallahAouadni commented on #23391
Hello @malcek

Could you please provide a screenshot of the displayed error.

Thanks!

[2021-02-24 16:31] BoutiquesInternet opened #23394 "Missing Alias CustomerQueryBuilder.php"
#### Describe the bug

When you add a left join ps_employee in hookActionCustomerGridQueryBuilderModifier and you filter the customer table with the lastname column for example, symfony show this error
`SQLSTATE[23000]: Integrity constraint violation: 1052 Champ: 'lastname' dans where clause est ambigu`
because ps_employee contain a lastname column too

#### Steps to Reproduce

Steps to reproduce

[2021-02-24 16:48] hibatallahAouadni commented on #23219
Hello @madkot

Thanks for your feedback.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9977.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-02-24 16:48] #23219 closed, assigned to nobody

[2021-02-24 16:48] hibatallahAouadni commented on #23219
Duplicate of #9977

[2021-02-24 16:51] Progi1984 commented on #20219
Fixed by PrestaShop/ps_mainmenu#36

[2021-02-24 16:51] #20219 closed, assigned to nobody

[2021-02-24 16:52] Progi1984 commented on #18520
Fixed by PrestaShop/ps_customtext#53

[2021-02-24 16:52] #18520 closed, assigned to nobody

[2021-02-24 17:32] malcek commented on #23391
this is what i get
![image](https://user-images.githubusercontent.com/54998637/109040859-aea01780-76ce-11eb-85f0-2c55a0109ad4.png)

[2021-02-24 17:35] malcek commented on #23391
and with debugg enable
![image](https://user-images.githubusercontent.com/54998637/109041154-076fb000-76cf-11eb-9266-104ec1eded96.png)

[2021-02-24 17:47] Quetzacoalt91 commented on #23391
Hello, that's an error related to the ps_facebook module, and will be fixed in the next version (expect it between tomorrow and the beginning of next week if everything goes well).

This issue is caused by a pixel Event. They are supposed to be sent only on the front office, and checks will be added accordingly.

[2021-02-24 17:55] MatShir commented on #23391
This issue will be fixed on the Facebook module side. The issues on this repository only concern the bugs and features requests of PrestaShop itself. For any other issue related to the Facebook module, please contact the module support.
Thank you !

[2021-02-24 17:55] #23391 closed, assigned to nobody

[2021-02-24 17:59] hibatallahAouadni commented on #23367
Hello @tmsio

Could you please downgrade your PHP version to 7.2 at first, cause PS1.7.6.2 is not compatible with PHP 7.3 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)).

Second, is your problem about the Orders paid by **Cash on Delivery** (Order's status is **Remote Payment accepted**) are not considered in the statis

[2021-02-24 18:02] MatShir commented on #18803
Your feature is validated with the team. But it won't be prioritized for the next version but however, PrestaShop is an open-source project, if you have the technical knowledge or find someone that could don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to add your feature to the Presta

[2021-02-24 19:07] tmsio commented on #23367
Im sorry, prestashop version it s 1.7.7.1 , my mistake. i ll make some screen shoot and try to explain better my problem. Thank You.

Regards.
Emiliano

[2021-02-24 19:35] tmsio commented on #23367
The orders paid by **Cash on Delivery** or **Bank Transfer** are not considered in the statistics.
Even if after delivery I manualy change the status of the orders to Order Paid.
All this orders are not considered in the statistics and i can t see the invoice icon in order list
Screen:
https://raskal.shop/img/Cattura.PNG

Also, in the **order dettail** the invoice button is missed.
Screen:
https:/

[2021-02-24 21:29] M4ketech commented on #13392
After more testing and using second theme, i did manage to translate footer areas with custom module what comes with theme. So i tested to translate "Customer Data Privacy Block" module and after saving the translations, translations are working on the frontend. So i tested with "Featured Products" module. After editing translation, no effect on frontend. So i moved to theme translations, and that

[2021-02-24 21:39] ryukuroha opened #23395 "Cant found PS_COOKIE_CHECKIP on phpadmin"
#### Describe the bug

Heyy well i had this prob like prestashop keep logging me out so i've decided to set up the  value to 0 in the cookies part but couldn't found th file on phpadmin
anyone knows how to find it or upload it on phpadmin from cpanel
thaaanks!!!

**Screenshots**

![rrtrr](https://user-images.githubusercontent.com/79607558/109068889-50ab0a00-76a5-11eb-9e07-643838671459.png)

#### A

[2021-02-24 22:06] hibatallahAouadni commented on #23331
Hello @idnovate

I just followed your steps and yes I reproduce the issue:

But the hook as you can see in the attached screen record below works perfectly:

https://drive.google.com/file/d/1dgmp6Z89NDdmTQhA85LvLU3D0bSnjmq7/view

So, it seems you had problem with your module, cause everytime I launch the WS the order status change :wink:
Please check and feedback.

Thanks!

[2021-02-25 00:26] ahtokren commented on #23229
I see that issue #22697 is still not resolved.
Just for case, there is no "ps_currency_lang" table in the database in 2 different versions 1.7.2.1 and 1.7.6.4 on 2 different servers, only "ps_currency". Aand after update all is the same. Should I?

[2021-02-25 00:26] hibatallahAouadni commented on #23356
Hello @neonVoice

Well, I followed these steps:

1. Create a WS to call this method **`Order::setOrderState`** twice

- Request URL: **`http://your_shop_url//api/order_histories`**
- Method: **`POST`**
- Request body:

[code]

2. Launch this WS twice, one after another (in the second attempt I change **`id_order_state`** to **`3`** then to **`5`**
3. It wroks perfectly without any error => The ord

[2021-02-25 00:32] hibatallahAouadni commented on #23336
Hello @FredBrockstedt

Create a Customer Address without phone, company, address2, phone_mobile
Create an Order with this Customer
Upgrade your shop to 1.7.7.1
Try to open the Order => See error

When I follow these steps, I didn't manage to reproduce the issue :confused:
Is there any detail you forget to mention?
Please check and feedback.

Thanks!

[2021-02-25 00:36] hibatallahAouadni commented on #23286
Hello @photinia73

Thanks for your feedback!
So to summarize the issue:

1. install 1.7.6.8
2. install blockreassurance
3. upgrade blockreassurance to v5.0.0
4. upgrade your shop to 1.7.7.1
5. See error

Is that so?

Thanks!

[2021-02-25 00:40] hibatallahAouadni commented on #23367
Hello @tmsio

Could you please specify which stats: **Sales and orders** or **statsproduct** or **Best-selling products**, ...
Please check and feedback.

Thanks!

[2021-02-25 00:47] hibatallahAouadni commented on #23229
Hello @ahtokren

Cause I couldn't reproduce it :confused:
I followed your steps and I couldn't reproduce the issue.
Could you please provide more infos,was your shop originally 1.6? if so, could you please check these issues #22668 & #22237

Thanks!

[2021-02-25 06:45] idnovate commented on #23331
The problem is not in the module.

The module should be called here https://github.com/PrestaShop/PrestaShop/blob/6bf6509a2a5a823256c564f1625696d728edd2f3/classes/order/OrderHistory.php#L108 and it isn't, but the execution continues, that's why it changes the order status.

As I said:
`Problem is in Hook::getAllHookRegistrations. It's using shop->id 1 always.`

[2021-02-25 07:32] jajarom commented on #20332
Found the module but still...can't save or set the category for the product, check my picture.
![Screenshot_2021-02-25 Produs • GPG Mobile](https://user-images.githubusercontent.com/5030991/109118729-5c054080-774c-11eb-8348-2433b4f54144.png)

[2021-02-25 08:05] Anidatte commented on #23334
It depends on the search query, sometimes I've got nothing, sometimes I've got 10 products, where on the 1.7.6.x it was more than 200. The worst thing is there's nothing I can do with it, except for a rolling back to older version.

[2021-02-25 08:18] idnovate commented on #13354
Hint:

First, this condition https://github.com/PrestaShop/PrestaShop/blob/6bf6509a2a5a823256c564f1625696d728edd2f3/classes/controller/ProductListingFrontController.php#L320
should be replaced with:

```if (Configuration::isCatalogMode()) {```

Then `$this->disablePriceControls($result);` is called.

But this IF is **NOT** true:
https://github.com/PrestaShop/PrestaShop/blob/6bf6509a2a5a823256c564f

[2021-02-25 08:22] tmsio commented on #23367
Hello, in Sales and orders are missed all orders paid by Cash on Delivery or Bank Transfer
Screen:
https://raskal.shop/img/Cattura6.PNG
Regards

Emiliano

[2021-02-25 08:40] 01design commented on #23364
Sorry again for the screenshot,

here we go, as you can see, no review box visible on the product page with the classic template (and the module is published in the BO)
![Screenshot_2021-02-24 Solidea - Silver Wave Long](https://user-images.githubusercontent.com/26067136/109126187-48a6a500-774d-11eb-80ea-c2ff3e88dc41.png)

[2021-02-25 09:01] lmeyer1 commented on #12901
I don't agree with the analysis of matks. Translating the carrier name is not such a breaking change that it will break all carrier modules.

I'm working on an implementation for our shops. As far as I can determine, there are three things to do:
- In the database, add the `name` field to the `table `_carrier_lang` like this, `$carrier->name` will become an array
- Everywhere when `$carrier->name`

[2021-02-25 09:01] SimonGrn commented on #23395
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2021-02-25 09:01] #23395 closed, assigned to nobody

[2021-02-25 09:07] delecluse commented on #23334
It’s good, resultat it’s resolu 😊

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

De : Michał Fułat<mailto:notifications@github.com>
Envoyé le :jeudi 25 février 2021 09:05
À : PrestaShop/PrestaShop<mailto:PrestaShop@noreply.github.com>
Cc : delecluse<mailto:thibault4608@outlook.com>; Mention<mailto:mention@noreply.github.com>
Objet :Re: [PrestaShop/PrestaSho

[2021-02-25 09:09] matks commented on #12901
@lmeyer1

This will work only if modules rely on Smarty variables to fetch the carrier name.

Some modules gather data by querying the database directly. Example:
[code]

Other modules will fetch the `Carrier` ObjectModel and call `$carrier->name` expecting a string, but what will be returned is an array.

Because until now, PrestaShop never defined a standard way to retrieve PrestaShop data, modu

[2021-02-25 09:17] lmeyer1 opened #23396 "Allow DKIM signing for outgoing mail"
#### Is your feature request related to a problem?

To improve the reputation of email sent by Prestashop, SMTP authentication is very efficient. We could even go a step further and add the possibility to sign the mails using DKIM.

#### How it should work

The Swiftmailer library included in Prestashop supports DKIM signature out of the box. What we would need are these configuration options in *

[2021-02-25 09:20] yo791 commented on #20921
Hello,
I have the same problem with 1.7.6.9 and i have applied the patch too. This error is happering on certain product and categories.
With the debug mode back office this error don't appear in logs.
This error appear with classic theme and custom theme, i have erase prod and dev in the /var/cache and this problem is not fixed.
The problem with this error is the shop is very low.

[2021-02-25 09:22] hibatallahAouadni commented on #23392
Hello @dreammeup

Thanks for your issue.
I reproduce the issue with PS1.7.6.7, PS1.7.7.1, PS1.7.7.2 and develop, see the attached screen record below:

https://drive.google.com/file/d/1EQlownH8IlH5aMN0r28UNbuWIBz7c3kq/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-02-25 09:27] boubkerbribri opened #23397 "[BO] Can't create Order"
#### Describe the bug

Can't create order, Because we can't add product to cart.

#### Expected behavior

Creation should be fine

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders -> new order
2. Choose customer
3. Search a product and click on add to cart
4. Product not added to cart

![image](https://user-images.githubusercontent.com/48441421/109130650-44c95180-7752-11e

[2021-02-25 09:32] lmeyer1 commented on #12901
Thanks @matks for your explanation. I understand now why this feature would not be part of the core.

I think about creating nevertheless a pull request once I'm done. This could help others that are interested int his feature. As this thread shows, there are some.

[2021-02-25 09:36] matks commented on #12901
That would be very nice and this is 100% the open source spirit 🎉  thank you !

[2021-02-25 09:36] NeOMakinG commented on #23397
Gonna take a look

[2021-02-25 09:38] hibatallahAouadni commented on #23396
Hello @lmeyer1

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team & @PrestaShop/prestashop-core-developers could you please take a look on this email improvement, is it doable?

[2021-02-25 09:44] valentin-anamorphik opened #23398 "When a customer edits an used delivery address: no shipping methods are available"
#### Describe the bug

When a customer edits an used delivery address: no shipping methods are available.
`ps_cart` table: `id_address_delivery`/`id_address_invoice` columns were updated to new address ID
**But**  `id_address_delivery` column in `ps_cart_products` table did not update

I think the problem is here
[code]

I applied this fix #15399 but i still have the problem

#### Expected behavio

[2021-02-25 09:44] hibatallahAouadni commented on #13963
Ping @PrestaShop/product-team friendly reminder :wink: could someone answer @jolelievre :slightly_smiling_face:

[2021-02-25 10:01] hibatallahAouadni commented on #23398
Hello @valentin-anamorphik

As you know you issue is a duplicate of #9932 and it's already fixed with PS1.7.7.0

Well, I can't tell where is the problem, cause it works for me with PS1.7.7.0 :confused:

Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers could someone please help @valentin-anamorphik to fix his problem :pray: thanks in advance.

[2021-02-25 10:42] ant0nioli opened #23399 "New message notification count never got reset"
#### Describe the bug

As I can see the Total number of customer messages in Customer Service are counted for the notifications, whether they were already handled or not.

The issue, in my case, is visible in the top right corner notification area, and also in the favicon if the Order Notifications on the Favicon module is activated.

Basically the number of the incoming messages notification neve

[2021-02-25 10:45] hibatallahAouadni commented on #23394
Hello @BoutiquesInternet

Are you trying to create you own module?

And could you please provide the whole SQL request that you create.

Thanks!

[2021-02-25 10:45] boubkerbribri opened #23400 "[BO] Error in create new customer in order page"
#### Describe the bug

An exception is displayed when creating new customer in new order page

#### Expected behavior

No exception displayed, add customer form closed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> orders -> add new order
2. Click on 'Add new customer'
3. Fill customer form and click on
4. See exception
![image](https://user-images.githubusercontent.com

[2021-02-25 10:48] atomiix commented on #23394
Hi @BoutiquesInternet, could you provide us a sample module to be able to reproduce your issue? Also, you seem to know how to fix it, don't hesitate to open a pull request!

[2021-02-25 10:58] BoutiquesInternet commented on #23394
Hi,

I can show you the hook function in my custom module, see below.
Yes sorry, I will open a pull request.

`public function hookActionCustomerGridQueryBuilderModifier(array $params)
    {
        /** @var QueryBuilder $searchQueryBuilder */
        $searchQueryBuilder = $params['search_query_builder'];

        $searchQueryBuilder->addSelect(
            'employee.lastname as employee'

[2021-02-25 10:58] kmorgen opened #23401 "[BO] Carrier Tracking URLs in PS 1.7.7.0+"
**Describe the Bug:**
After BO Order Admin has been migrated to Symphony, a few issues related to the Carrier tracking numbers have appeared

1. The Carrier tracking link no longer opens in a new browser tab ("target="_blank") in BO **Order Details** page, but in self-page.
2. The Tracking number is not a link on the **Order List** page (dropdown)

**Expected Behavior:**
1. Carrier tracking links

[2021-02-25 11:11] hibatallahAouadni commented on #23401
Hello @kmorgen

Please edit your issue description and **follow the provided template to submit a complete bug report** and fill all the blocks.

![image](https://user-images.githubusercontent.com/23308427/109145225-806c1780-7762-11eb-9ad5-2aea4857a055.png)

We need those details to reproduce the issue and fix it ASAP :wink:

Thanks!

[2021-02-25 11:12] agostinofiscale commented on #22565
Hi guys! I would like to help you with this problem.

I found where the problem arises:

[code]

What's happen here is that the string get sanitized from pSQL() function and will return an empty value, indeed if we pass it like:

[code]

Where "true" set the $htmlOK parameter, it will work fine.

We could blacklist some characters to avoid this happen but i'm not sure it's the best solution, we co

[2021-02-25 11:16] hibatallahAouadni commented on #23399
Hello @ant0nioli

Could you please provide clear and concise steps to reproduce, because it's a bit blurry :sweat_smile:
Please edit your issue content and notify me.

Thanks!

[2021-02-25 11:37] boubkerbribri opened #23402 "[FO] Can't access Prices Drop page"
#### Describe the bug

An exception is displayed when trying to access Prices Drop page (only php7.4)

#### Expected behavior
Page displayed correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO
2. Click on Prices drop link on footer
3. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/48441421/109145781-3fc0ce00-7763-11eb-80c2-c0cecd996bac.

[2021-02-25 12:15] hibatallahAouadni commented on #23331
Hello @idnovate

Well, as you can see in the screen record the Order status has been changed succefully in the Shop_2.
But, let's ask the Developer Team to confirm the hook behavior :wink:

Ping @PrestaShop/prestashop-core-developers any idea about this hook? I tried to call this hook **`actionOrderStatusUpdate`** by WS to update an Order status in Shop_2 and it wroks perfectly. But @idnovate insi

[2021-02-25 12:15] neonVoice commented on #23356
Unfortunately i wasn't able to replicate this bug either both on my test and production environments. All i can say is that when order was generated - some of the payment module code was overriden in `override` folder for logging purposes - i was just logging all incoming responses, then calling parent method.
For example class declaration in `/modules/xxx/controllers/front/notification.php`:
[cod

[2021-02-25 12:35] idnovate commented on #23331
Because the bug is in `Hook::exec`, but the execution continues without error and that's why the order changes the status :)

[2021-02-25 12:53] boubkerbribri opened #23403 "[BO] Exception displayed on Alert on Cart rules page"
#### Describe the bug

An alert danger is displayed when trying to acess Cart rules page or add new Cart Rule on php7.4

#### Expected behavior

NO alert displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> Cart rules
2. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
![image](https://user-images.githubus

[2021-02-25 13:06] jeckyl opened #23404 "Disappearance of the cronjob module and impossibility to update the exchange rates."
#### Describe the bug

The Cronjob module is no longer available for download from the PrestaShop back office.

The exchange rate updates being based on the specific use of this module, then it is a major regression preventing the basic operation of PrestaShop 1.7 by questionable development choices.

#### Expected behavior

to be able to use a historical module essential to the good functioning o

[2021-02-25 13:13] kmorgen commented on #23401
Changed it now.

[2021-02-25 13:39] ant0nioli commented on #23399
Hi @hibatallahAouadni I edited my submission, I hope it's clearer now. Do you? :smile:

Thanks!

[2021-02-25 13:39] hibatallahAouadni commented on #23404
Hello @jeckyl

AFAIK this module will be archived soon, it’s no longer maintained.
But you still can fork it from [here](https://github.com/PrestaShopCorp/cronjobs) if you need it for your shop.

Let's confirm it with the Product Team :wink:
Ping @PrestaShop/product-team am I right? will this module be archived soon?

Thanks!

[2021-02-25 13:39] PierreRambaud commented on #23396
Hi and thanks for your suggestion.
I really think adding DKIM verification inside the mail system would improve the security :muscle:

[2021-02-25 13:42] jeckyl commented on #23404
So, if this module is brought to disappear PrestaShop is no longer able to propose the automatic update of exchange rates.
It would be a good idea to inform the users and remove this option from all versions 1.7 available to date.

[2021-02-25 13:45] charlie404 commented on #22141
Good morning all,

I have exactly the same problem.

I tested all the methods and all versions, impossible to update Prestashop.

I still have the same error message.

`[INTERNAL] /**********/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: Expected to find class "PrestaShopBundle\Controller\Admin\Sell\

[2021-02-25 14:08] ttoine commented on #23404
Please have a look here:
https://github.com/PrestaShopCorp/cronjobs

[2021-02-25 14:50] hibatallahAouadni commented on #23356
Hello @neonVoice

Well, you cnat' reproduce the issue anymore :tada: glad to hear.
I close this issue as **`can't reproduce`** but feel free to notify me or open a new issue if you reproduce it again :wink:

Thanks!

[2021-02-25 14:50] #23356 closed, assigned to nobody

[2021-02-25 14:58] hibatallahAouadni commented on #23334
Hello everyone,

@delecluse so your problem has been solved?
If so, could you please share what you have done to fix it, it may help @Anidatte

Thanks!

[2021-02-25 14:59] hibatallahAouadni commented on #23162
Hello @anthus0204 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-25 14:59] #23162 closed, assigned to nobody

[2021-02-25 15:12] khouloudbelguith opened #23411 "BO - Product comments module - An exception is displayed"
#### Describe the bug

When using PHP7.4, in the BO > Modules manager > Productcomments configuration page, an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/109173207-e321db00-7783-11eb-8827-5dc8e3d396ac.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Modules > Module Manager page
2. Search for the productcomments module v4.2.1
3.

[2021-02-25 15:41] jajarom commented on #20332
I disabled all non-prestashop modules, delete classes folser from override folder.
Nothing...I can't save, duplicate product.

[2021-02-25 15:49] boubkerbribri commented on #23403
Same error on Customer Service ad Merchandise Returns

[2021-02-25 16:05] marionf commented on #23404
Hello @jeckyl

This module has not been archived. It is pushed by API for the versions from 1.5 to 1.6.1.24 and is not compatible with 1.7, that is the reason why you can't find it in 1.7

You can find cronjob module compatible with 1.7 on the marketplace like this one for example: https://addons.prestashop.com/fr/outils-administration/48669-sht-cronjobs.html

As this module isn't included in the

[2021-02-25 16:05] #23404 closed, assigned to nobody

[2021-02-25 16:06] marionf commented on #13825
The cronjob module is pushed by API for the versions from 1.5 to 1.6.1.24 and is not compatible with 1.7, that is the reason why you can't find it in 1.7 and why it's not working.

You can find cronjob module compatible with 1.7 on the marketplace like this one for example: https://addons.prestashop.com/fr/outils-administration/48669-sht-cronjobs.html

As this module isn't included in the core and

[2021-02-25 16:06] #13825 closed, assigned to nobody

[2021-02-25 16:08] jeckyl commented on #23404
is it a joke ?

[2021-02-25 16:15] marionf commented on #23404
You can submit an issue or PR for this module here: https://github.com/PrestaShopCorp/cronjobs

[2021-02-25 16:21] jeckyl commented on #23404
realy ?

Your only answer to a blocking error on the functioning of Prestashop that makes it obsolete to the new European regulations and the international market is that I can correct a module that you considered out of date even though you based part of the solution's functioning on it in 1.7.

I produced a video to make the worry jump out at you, to avoid language misunderstandings, but no, I t

[2021-02-25 16:27] Hlavtox commented on #23396
@lmeyer1 @PierreRambaud @hibatallahAouadni Hi everyone, DKIM signing is not very difficult. I started a thread about it on Slack few weeks ago and we agreed, that it would be a good addition.

**The code to sign the message is relatively simple:**
[code]

Then just make some fields and a link for people to generate the key, for example here: https://dkimcore.org/tools/ 🚀

[2021-02-25 16:37] marionf opened #23412 "Remove live exchange rate toggle in International > Localization > Currencies"
#### Is your feature request related to a problem?

The [cronjob module](https://github.com/PrestaShopCorp/cronjobs) isn't compatible with 1.7 versions and since it is a service provided by PrestaShop Corp, the core should not have any dependency with it.

#### Describe the solution you'd like

- [ ]  Remove all dependencies in the core with the cronjob module.
- [ ] Remove the live exchange rate

[2021-02-25 16:48] #23281 closed, assigned to atomiix

[2021-02-25 16:52] marionf commented on #23404
That's not the only answer and not blocking, as I said, you can buy and install a cron module on the marketplace
You can also configure a cron task through your hosting provider

That should not be the case, since cronjob module is a service provided by PrestaShop Corp, the core should not have any dependency with it. Please see https://github.com/PrestaShop/PrestaShop/issues/23412

[2021-02-25 16:54] PierreRambaud commented on #23411
It's a duplicate of #23403

When you fix it, it fixes it for all HelperList error (which occurs on line 705)

[2021-02-25 17:00] jeckyl commented on #23404
Thank you in any case for taking the time to answer me.

[2021-02-25 17:04] idiatech opened #23414 "Bug in cache price"
#### Describe the bug

The concern is I following. We make a price change
$product->price = 10;
$product->save();
At first, the change seems to have been taken into account.
But then we will have another $product->save(); which will happen after a new $ product = new Product($id_product); and hand over the old price!
We do not understand where this strange behavior is coming from. We tried everyth

[2021-02-25 17:10] florine2623 commented on #23414
Hi @idiatech ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2021-02-25 17:10] #23414 closed, assigned to nobody

[2021-02-25 17:14] PierreRambaud commented on #23411
Duplicate of #23403

[2021-02-25 17:14] #23411 closed, assigned to PierreRambaud

[2021-02-25 17:25] matks commented on #23412
Hi @marionf after diving into the code, I found that when merchant tries to turn on the live exchange rate toggle in "International > Localization > Currencies" BO page,
- if cronjob module is not installed, an error is displayed
- if cronjob module is installed, it creates a cron record for cronjob which will call an URL to trigger the exchange rate update

So what this little toggle does is 'con

[2021-02-25 18:13] costads opened #23415 "Multistore monitoring problem"
#### Describe the bug

'List of products without combinations and without available quantities for sale'

is always 0 when a shop in multistore is selected. I have to switch to 'All shops' to see products in that table.

#### Expected behavior

I expected to see my out of stock products, like I could in 1.7.6 and previous years versions.

#### Steps to Reproduce

Select a Shop in multistore mode.

[2021-02-25 18:22] costads opened #23416 "New message/order/customer notification bubble not updated live"
#### Describe the bug

New message/order/customer notification bubble is not updated live, without refreshing the browser

#### Expected behavior

I expected a notification bubble number on either a new message/customer/order without refreshing the browser like in 1.7.6 and previous years versions.

#### Steps to Reproduce

Open frontpage of BO, and notice the notification bubbles does not update

[2021-02-25 21:09] josemariagomezroncero opened #23418 "Error in sending email when the store name has more than 22 characters"
#### Describe the bug

Error in sending email when the store name has more than 22 characters

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Write Shop name width greater 22 charters. Example: Rincón Home, mobiliario para el hogar y oficina al mejor precio.
2. Go to admin order
3. Send email to customer
4. Fail s

[2021-02-25 22:58] lozal2244 opened #23419 "Adding a CartRule to an order not added correctly"
Tested on Prestashop 1.7.7.0, 1.7.7.1 and 1.7.7.2

For example:  An order:
- products: 25€
- Shipping: 10€

I add a voucher of 30€

The total only includes the discount of 25€ instead of 30€. The discount is never applied to the shipping. In older versions it was working

[2021-02-26 07:25] Shoprunners commented on #19654
Hi, please show it to a developer and he will see at once what the problem is. I can't reproduce the certain misbehaviour right now, but it is a really potential risk to leave the code as it is. Just can give you the hint to this.

[2021-02-26 07:33] jajarom opened #23420 "Update from 1.7.6.9 to 1.7.7.2 - Can't save or duplicate products, messy categories"
#### Describe the bug

Can't save or duplicate products, the category showing in the product page is messy, picture attached.
I have a 3rd party module that can save most important details of the products.

#### Steps to Reproduce

Upgrading from 1.7.6.9 to 1.7.7.2
Warning detected during upgrade - I have the log

**Screenshots**

![Screenshot_2021-02-25 Produs • GPG Mobile2](https://user-images.g

[2021-02-26 07:36] cocolate13 commented on #22141
Hello,
I scheduled this update again, next week if I have time enough. If you
manage to solve this problem, please, tell me how do you process.
I think PHP7.1 (PHP platform version during the first update) is not the
problem...
I would like to know, too, how to continue manually this updated after this
error, instead of restoring some backups.
Thanks in advance.

Le jeu. 25 févr. 2021 à 14:46, Cha

[2021-02-26 07:37] cocolate13 commented on #22141
Did you open ticket on github ?

Le ven. 26 févr. 2021 à 08:35, Laurent Lathus <laurent.lathus@gmail.com> a
écrit :

[2021-02-26 07:55] hibatallahAouadni commented on #19654
Ping @PrestaShop/prestashop-core-developers could you please take a look on this issue :pray: it seems there's problem with **`cachekey`** in this function **`getProductProperties`**, could you please check it?

[2021-02-26 08:10] florine2623 commented on #23419
Hi @lozal2244 ,

Even in version PS 1.7.5.2, the discount is not applied to shipping :
![Capture d’écran 2021-02-26 à 09 09 52](https://user-images.githubusercontent.com/16019289/109273378-6ab62b00-7812-11eb-84bd-f1c6d14caffb.png)

You might need to use an specific module for that feature.
Thanks

[2021-02-26 08:10] #23419 closed, assigned to nobody

[2021-02-26 08:18] hibatallahAouadni commented on #23367
Hello @tmsio

Thanks for your feedback.
I didn't manage to reproduce the issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/14QFTT-ARM7tsIya9JLiZK5b6A2lfMgoZ/view

Please check and feedback.
Thanks!

[2021-02-26 08:23] florine2623 commented on #23416
Hello @costads ,
Even in previous version PS 1.7.6.9, the notification did not update without a refresh, as you can see on my screen record :
https://drive.google.com/file/d/1PdTdd4O63EiUNVbFbOsBySTrzG4PAIb9/view

Thanks!

[2021-02-26 08:23] #23416 closed, assigned to nobody

[2021-02-26 08:26] hibatallahAouadni commented on #23364
Hello @01design

I didn't manage to reproduce it, see the attached screen record below:

https://drive.google.com/file/d/1l85QtnGEXTph4s2SVsDaMnuE3vNsvUxa/view

Did you upgrade your shop lately from 1.6 to 1.7.6.8? what is your ProductComment module version? and in your first comment, it seems the comments wasn't displayed well and no they're disappeared!!!??

Please check and feedback.
Thanks!

[2021-02-26 08:31] florine2623 commented on #23418
Hi @josemariagomezroncero ,

I followed your steps but I can reproduce your issue. I'm using PS 1.7.7.2, tested with PHP 7.2 and PHP 7.3.
Please check : https://drive.google.com/file/d/1OJQz93UI7TSgAxx3XsBG3JX5qS_kZfzK/view

Am i missing something ?

Thanks