[2020-10-08 10:59] khouloudbelguith commented on #21361
Ping @LouiseBonnard

[2020-10-08 11:06] khouloudbelguith commented on #21361
Ping @PululuK

[2020-10-08 11:18] elrosi opened #21363 "The escape function causes unreadable text in some languages, such as Slovak or Czech."
#### Describe the bug

The escape function causes unreadable text in some languages, such as Slovak or Czech.
adminps/themes/default/template/controllers/customer_threads/helpers/view/message.tpl:58
`<p class="message-item-text">{$message.message**|escape:'html':'UTF-8'**|nl2br}</p>`

The result of the escape function (after its use) is the following : **`Pros&iacute;m o umožnenie platby kartou pr

[2020-10-08 11:47] cld00clr commented on #10755
Hello.  I have this same problem.  Yesterday, Oct. 7, 2020 I tried to order my stores by name and I received this same error:
Bad SQL query
Unknown column 'a.name' in 'order clause

I am using Prestashop Version 1.7.4
Now I can no longer access my list of stores in order to edit them in the back office.  Could you please let me know what I need to do in order to access them?
Thank you

[2020-10-08 11:49] kpodemski commented on #10755
You can try to clear your cookies @cld00clr

[2020-10-08 11:55] cld00clr commented on #10755
🙂  Yes, thank you.  That was exactly it.  Thank you for your quick response and for being patient with my silly question.

sincerely,
Christa

________________________________
From: Krystian Podemski <notifications@github.com>
Sent: Thursday, October 8, 2020 11:49 AM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: cld00clr <cld_clr@hotmail.com>; Mention <mention@noreply.github.com>
S

[2020-10-08 11:58] matks commented on #18647
## Status update: RC 1 build 1 is faulty 🚫

QA team found multiple issues, and the issues list contains 1 critical bug and 1 major bug:
- https://github.com/PrestaShop/PrestaShop/issues/21300 Missing Gift and Recycled packaging when Creating a new Order
- https://github.com/PrestaShop/PrestaShop/issues/21323 Incorrect discount value & amount in View an Order page when using different currencies

T

[2020-10-08 12:04] PululuK commented on #21361
@khouloudbelguith  yep !

[2020-10-08 12:11] florine2623 commented on #21363
Hi @elrosi ,
I can't reproduce the issue in PS 1.7.6.7 :
![Capture d’écran 2020-10-08 à 14 10 43](https://user-images.githubusercontent.com/16019289/95456774-24018a80-0970-11eb-9755-de3714bcc25d.png)
![Capture d’écran 2020-10-08 à 14 10 52](https://user-images.githubusercontent.com/16019289/95456778-25cb4e00-0970-11eb-870e-f3f3bfbf5241.png)

[2020-10-08 12:11] #21363 closed, assigned to nobody

[2020-10-08 12:37] florine2623 commented on #21359
Hi @kpodemski ,

I did manage to reproduce your issue in PS 1.7.7.
Result I have in PS 1.7.7 :
[code]
Instead of, like it is in PS 1.7.6 :
[code]

I will add this to the debug roadmap. Thanks for the PR !

[2020-10-08 12:39] MultiTech-MS opened #21364 "Page Performances in Advanced parameters loads fine but is empty"
Hi everyone,

I have this issue on our site and I can't figure out why. I'm using 1.7.4.4
The Page Performances _(to configure cache parameters)_ is **lauching fine** _(no error in console or Prestashop)_,
no white page BUT.... **is totaly empty**.

![Screenshot_2020-10-08 Performances • Tissus Eychenne](https://user-images.githubusercontent.com/51752454/95459028-552f8a00-0973-11eb-9800-5e4a2dc482

[2020-10-08 12:46] #20652 closed, assigned to PululuK

[2020-10-08 12:48] florine2623 commented on #21364
Hi @MultiTech-MS ,
I can't reproduce your issue in PS 1.7.4.4.

There are multiple things you can check :
- check error log
- disable all overrides
- enable debug mode
- check what files have been changed in Advanced Parameters > Information
- restore your site if needed

There is no  in PS 1.7.4.4 :
https://github.com/PrestaShop/PrestaShop/tree/1.7.4.4/controllers/admin

Or you could contact the

[2020-10-08 12:48] #21364 closed, assigned to nobody

[2020-10-08 12:54] khouloudbelguith commented on #21361
Hi @PululuK,

I will help you with some Modules:
ps_shoppingcart
ps_mainmenu
ps_sharebuttons
ps_wirepayment

Can I? it is ok for you?

Thanks!

[2020-10-08 12:54] PululuK commented on #21361
Yes !

[2020-10-08 13:04] kpodemski opened #21366 "Breaking change in product blocks and classic theme"
#### Describe the bug

Breaking change because of the assumption that any module will have correct `{foreach}` structure.

#### Expected behavior

We shouldn't have notice after module installation, most of core modules have no `$key` in `{foreach}`, we need to check if we can use `position`...

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install this module: https://www.dropbox.

[2020-10-08 13:13] PululuK commented on #21361
Done for me !

@khouloudbelguith

- [x] statsdata https://github.com/PrestaShop/statsdata/pull/17
- [x] ps_shoppingcart https://github.com/PrestaShop/contactform/pull/52
- [x] contactform https://github.com/PrestaShop/contactform/pull/52
- [x] ps_imageslider https://github.com/PrestaShop/ps_imageslider/pull/54
- [ ] ps_mainmenu
- [x] productcomments (CONFIGURATION section, ADD NEW CRITERION sectio

[2020-10-08 13:28] florine2623 commented on #21366
Hi @kpodemski ,
Thanks for the module.
I managed tor reproduce the issue in PS 1.7.7.
I'll add this to the debug roadmap !
Thanks for the PR.

[2020-10-08 13:33] matks commented on #18958
As the bug report says, when a product quantity is successfully updated on 'Show my cart' FO page, it unlocks the 'Proceed to Checkout' button even though other product might have invalid quantities in the cart

I see however a 2nd issue: why is it possible to increase the quantity if there is no stock ? Why don't we block the user from doing so ?
But this is rather a @PrestaShop/product-team matt

[2020-10-08 13:46] matks commented on #21359
@kpodemski I'm sorry but I fail to understand how PR https://github.com/PrestaShop/PrestaShop/pull/15297 could have created this issue. The PR only wraps a hook inside a div 🤔 I know PrestaShop has sometimes very weird trick up its sleeves, but that one would be a magical one 🌈 ?

[2020-10-08 13:55] kpodemski commented on #21359
@matks ajax, as discussed on Slack 👍🏻

[2020-10-08 14:07] khouloudbelguith commented on #21366
Hi @florine2623,

Did you reproduce the issue with PS1.7.6.8?
Is it a regression?

Thanks!

[2020-10-08 14:33] marionf commented on #21358
@ngodefroy Is it a regression compared to 1.7.7.X ?

[2020-10-08 14:38] ngodefroy commented on #21358
@marionf yes, it's a regression, couldnt reproduce it in 1.7.7.x

[2020-10-08 14:59] khouloudbelguith commented on #12518
Hi!
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21168

Thanks!

[2020-10-08 14:59] khouloudbelguith commented on #12518
Duplicate of #19226

[2020-10-08 14:59] #12518 closed, assigned to nobody

[2020-10-08 15:06] khouloudbelguith commented on #21366
Thanks @florine2623 !

[2020-10-08 15:14] unlocomqx opened #21368 "Display the overrides list in the Informations tab"
#### Is your feature request related to a problem?

When debugging a PrestaShop installation, it's would be nice to know if a PrestaShop behavior is overridden

#### Describe the solution you'd like

A list of overrides is displayed in the Informations tab

#### Alternatives you've considered

I look in the ftp which is cumbersome as you have to check many many folders

#### Additional context

Ma

[2020-10-08 15:22] florine2623 commented on #21368
Hi @unlocomqx ,
Thanks for the suggestion, I will ping our product team to see what they think about that.
If you have a PR available, do not hesitate to link it here !
Thanks!

[2020-10-08 15:23] florine2623 commented on #21368
Hi @PrestaShop/product-team ,
What do you think about putting all overrides in the BO Information tab ?
Thanks!

[2020-10-08 15:33] florine2623 commented on #21350
Hi @jul-m ,
Your issue is similar to https://github.com/PrestaShop/PrestaShop/issues/20977
So I'll close this issue, you can follow the progress directly there : https://github.com/PrestaShop/PrestaShop/issues/20977
Thanks!

[2020-10-08 15:33] florine2623 commented on #21350
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/20977

[2020-10-08 15:33] #21350 closed, assigned to nobody

[2020-10-08 16:00] #19226 closed, assigned to nobody

[2020-10-08 16:02] Progi1984 commented on #21366
Fixed by #20927

[2020-10-08 16:02] #21366 closed, assigned to nobody

[2020-10-08 16:26] matks opened #21373 "PHPStan GitHub Action fails since 07/10/2020 following GitHub Action upgrade of Virtual Env"
#### Describe the bug

We have multiple PRs that are rejected by CI because our PHPStan GitHub Action is failing although the code is correct.

It seems these failures started to happen since 07/10/2020.
When I look at PRs that passed CI before, I notice that the **Virtual Environment** being used by GitHub runner has changed:
PRs that fail are running https://github.com/actions/virtual-environmen

[2020-10-08 16:37] matks commented on #21373
@PierreRambaud Here is the diff of what has been changed https://github.com/actions/virtual-environments/pull/1728/files

[2020-10-08 17:20] jf-viguier commented on #18958
The big issue is that the enable/disable button action is managed mainly by js and take update ajax return and php return.
We can see here that the status of the cart is computed by the presence of error in the page just here :
https://github.com/PrestaShop/PrestaShop/blob/b70d51837420275c5ad8c717162ddddb169e00d1/themes/classic/_dev/js/cart.js#L298
It's a mess

[2020-10-08 17:21] jf-viguier commented on #18958
So when the cart refresh, the error disapear and the button is enabled.
The fix I've tried is to return cart errors in ajax refresh call but I can't figure it out.

[2020-10-08 17:32] githubitlive opened #21374 "GDPR module is not working for Ukrainian or Russian and this prevents PrestaShop from being installed using Ukrainian or Russian"
#### Describe the bug
prestashop_1.7.6.8
psgdpr1: Невозможно установить модуль "psgdpr",Длина свойства Tab->name составляет 70 симв. Должно быть между 0 и 64 симв.

https://www.prestashop.com/forums/topic/1028184-%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0-psgdpr1/

#### Expected behavior

Fix bug with russian lang. 4 month! Shame! What you do there?

#### Steps to Reproduce

Steps to reproduce the behav

[2020-10-08 20:36] unlocomqx commented on #21368
I made a PR the easy way, it's simply showing the php file list from the override folder. If there's a better way, please let me know.

[2020-10-08 23:59] kpodemski commented on #20463
I think that there's no need to be able to edit main PrestaShop category (ID: 1), root categories are always lvl deeper which means that when you want to add a new "Root category", you're adding a subcategory for category ID: 1, I don't really remember any scenario where people would like to have this structure:

[code]

It is tho very popular to have this structure:

[code]

IMHO it's good enough

[2020-10-09 05:51] okom3pom commented on #21291
Hello,

I always use  the last nightly.

It's ok for me now.

[2020-10-09 07:19] florine2623 commented on #21374
Hi @githubitlive
Please follow the code of conduct when creating an issue : https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md
Thanks!

[2020-10-09 07:42] matks commented on #21374
@githubitlive Also the right place to submit a bug report is directly on the module https://github.com/PrestaShopCorp/psgdpr/issues/new as this module is not part of the OSS project

[2020-10-09 08:36] HartLarsson commented on #21071
i've disabled Smarty cache and for now i've not received other calculation problem.
Now we need to understand why with smarty cache enabled the calculation was wrong.

[2020-10-09 08:39] matks commented on #21373
Bug reported to GA https://github.com/actions/virtual-environments/issues/1773

[2020-10-09 08:49] PierreRambaud commented on #21373
I don't understand why it's broken with these changes :sweat:
Could be because of the Ubuntu version which is adding all the things without tests (a reason why Debian is more stable)

[2020-10-09 09:15] Julievrz commented on #15858
https://github.com/PrestaShop/statsbestproducts/pull/9 (Update Best Products)

[2020-10-09 10:14] Dakror opened #21378 "Product Controller: Refresh uses wrong title for meta_title of page."
At: https://github.com/PrestaShop/PrestaShop/blob/b70d51837420275c5ad8c717162ddddb169e00d1/controllers/front/ProductController.php#L458

it needs to use $product['meta_title'] instead of $product['title']

[2020-10-09 10:20] MathiasReker opened #21379 "Hook displayBackOfficeTop not being called anymore on Login BO Page in 1.7.7"
#### Describe the bug

I can no longer read post parameters from backofficetop hook on login page on 1.7.7. Please see below example:

#### Expected behavior

PS 1.6.1 - 1.7.6:
[code]
Go to login page -> Submit -> Die as expected

PS 1.7.7:
[code]
Go to login page -> Submit -> Logged in (not expected)

[2020-10-09 10:24] florine2623 commented on #21378
Hi @Dakror ,

Please follow the [improvement template](https://github.com/PrestaShop/PrestaShop/issues/new?template=2_feature_request.md) so we can get more details on what you need.
I close your issue, if you have more info feel free to open a new one.
Thanks!

[2020-10-09 10:24] #21378 closed, assigned to nobody

[2020-10-09 10:34] florine2623 commented on #21379
Hi @MathiasReker ,
Could you send the steps to reproduce the bug please ?
And screenshots if possible.
Thanks!

[2020-10-09 11:07] nikitamekh commented on #12591
After this fix, all custom modules are displayed in "Other category" now. I do not know why, but they do not have '**categoryParentEnglishName**' attribute. Please check this forum thread https://www.prestashop.com/forums/topic/1022836-problem-with-module-categories/

[2020-10-09 11:24] #21322 closed, assigned to NeOMakinG

[2020-10-09 11:34] MathiasReker commented on #21379
Hello @florine2623

1. Add this code to a module at the DisplayBackOfficeTop hook:
[code]
2. Go to BO
3. Login
4. Repeat process for 1.7.6 and 1.7.7 -> 1.7.7. The hook is not working in this area of 1.7.7

[2020-10-09 12:23] matks commented on #21379
@MathiasReker I dont know what is the root cause for this issue but the current behavior seems to make sense 🤔 .

When Login Page is displayed, following a GET request, a HTML response is sent => hookDisplayBackOfficeTop is triggered
When user submits a POST request to Login Page, if successfull, the user is redirected to its main page (usually it's dashboard).

It makes sense that a successfull a

[2020-10-09 12:24] Julievrz commented on #15858
https://github.com/PrestaShop/ps_brandlist/pull/9 (Update brand list)

[2020-10-09 12:32] Julievrz commented on #15858
https://github.com/PrestaShop/statsequipment/pull/13 (update browsers and operating system)

[2020-10-09 12:33] agnieszkakurzajewska opened #21380 "Can't create an account - Prestashop forum"
I cannot get the confirmation e-mail. Have tried using many different e-mail address.

[2020-10-09 12:33] ngodefroy opened #21381 "[BO] [Modules] Confirmation of changes message is not displayed"
#### Describe the bug

On module contactform and ps_shoppingcart, when I switch the toggles to YES / NO then click save, I don't have the confirmation message on top

#### Expected behavior

A confirmation message as follow "The settings have been successfully updated."
![Capture d’écran 2020-10-09 à 14 41 08](https://user-images.githubusercontent.com/69145330/95584199-95f3d580-0a3d-11eb-9f5a-47

[2020-10-09 12:39] kpodemski commented on #21381
I can handle this.

[2020-10-09 12:39] matks commented on #21380
Hi, this repository is for the project; not the forum. Please reach to forum@prestashop.com for help about the forum 😉

[2020-10-09 12:39] #21380 closed, assigned to nobody

[2020-10-09 12:58] matks opened #21383 "[SF Migration] About extensibility - private VS protected properties"
In a recent PR, @PierreRambaud suggested to use `protected` properties rather than `private` to improve extensibility of a Command class.
=> https://github.com/PrestaShop/PrestaShop/pull/21331#discussion_r501021041

We already [discussed this in the past](https://github.com/PrestaShop/PrestaShop/pull/21016#discussion_r489590938) with @eternoendless and basically we have 2 concepts clashing with ea

[2020-10-09 13:12] PululuK commented on #21134
Fixed https://github.com/PrestaShop/PrestaShop/pull/20201

[2020-10-09 13:12] #21134 closed, assigned to nobody

[2020-10-09 13:15] kpodemski commented on #21381
@ngodefroy done 👍

[2020-10-09 13:24] matks commented on #21373
Issue "fixed" in `develop` by using Ubuntu 20.04 instead of Ubuntu 18.04 => I close this issue

[2020-10-09 13:24] #21373 closed, assigned to nobody

[2020-10-09 13:40] #21220 closed, assigned to sowbiba

[2020-10-09 14:18] #21274 closed, assigned to nobody

[2020-10-09 16:09] #21381 closed, assigned to nobody

[2020-10-09 18:01] jf-viguier opened #21386 "[Idea] "force update of friendly URL" setting should apply to categories and not just products"
#### Is your feature request related to a problem?

Category Friendly URL should not be updated if Force update of friendly URL is set to false in Product settings
There is no way to don't force the update of category friendly URL.

![image](https://user-images.githubusercontent.com/16067358/95731919-61bc2700-0c80-11eb-9963-a5ccd960b28d.png)

#### Describe the solution you'd like - edited by @Loui

[2020-10-09 18:39] QueeNFrisk opened #21387 "Error 500 when i've try to create an order with webservicce"
Hi i'm trying to create an order with webservice but it throw an 500 error:

`PHP Fatal error:  Uncaught PrestaShopWebserviceException: This call to PrestaShop Web Services failed and returned an HTTP status of 500. That means: Internal Server Error. in <removed>\vendor\prestashop\prestashop-webservice-lib\PSWebServiceLibrary.php:117`
`Stack trace:
 #0 <removed>\vendor\prestashop\prestashop-webser

[2020-10-09 22:46] pc3b3r opened #21388 "[Webservice] - Comma on filter value"
#### Describe the bug

Using the [webservice filters](https://devdocs.prestashop.com/1.7/webservice/getting-started/#control-returned-items-with-filter)
it' not possible to get attributes (and other resources in general?!) containing comma in the name like `filter[name]=[42,2]`.
Is there a way to escape it?

#### Expected behavior

Retrieve the attribute named 42,2.

#### Steps to Reproduce

Steps

[2020-10-10 00:04] kpodemski opened #21389 "Issue with getting proper cover image, invalid cache key"
#### Describe the bug

Ok, first of all, this is really tricky error and it's kinda hard to prepare entire scenario for test.

I'm asking @jolelievre to take a look at this Issue as He was working on implementation of getting custom cover 😎

When we have a module where we need to get list of products, and we want to make sure that cover image is displayed in relation to chosen product attribute, *

[2020-10-10 06:31] Shock451 commented on #20793
Can I take on this issue?

[2020-10-10 09:56] evgenij-sobolev commented on #21374
Hello!
psgdpr module is included in the standard prestashop installation package.
It is impossible to install prestashop if you choose Ukrainian or Russian language during installation.
Please do not close this issue!

[2020-10-10 10:09] evgenij-sobolev commented on #20519
I have the same issue when choosing Russian or Ukrainian language during installation.
psgdpr module is included in standard prestashop installation package.
So, It is impossible to install prestashop if you choose Ukrainian or Russian language during installation.

Tested on prestashop 1.7.6.8

This bug can be fixed in this way:

Before installation, change 2 files in the installation package:

1

[2020-10-10 10:12] evgenij-sobolev commented on #20617
Hello!
This bug occurs only if you select Russian or Ukrainian language during installation.

This problem is described in more detail here:
https://github.com/PrestaShop/PrestaShop/issues/20519

[2020-10-10 10:17] evgenij-sobolev commented on #21374
This issue is described in more detail here:
https://github.com/PrestaShop/PrestaShop/issues/20519

[2020-10-10 11:32] totoro0205 commented on #9998
Any fixes since ?
@sirius82 @khouloudbelguith @marionf

[2020-10-10 17:31] lemale-h2a commented on #17673
It's a nonsense to have to buy a 50 euros module to add a SVG. The prestashop model is...
And like the other guys said, to have a SVG logo it's a specific case.. You don't need to work on the full application..
Or it's gonna take forever... And actually it's taking forever... Real shame..

[2020-10-10 20:57] matks commented on #21374
That is a very valid reason to reopen the issue, thank you 😉 I also change the title of the issue then

[2020-10-10 20:59] matks commented on #21374
Well, actually, since https://github.com/PrestaShop/PrestaShop/issues/20519 is already open there is no need to keep 2 bug reports about the same thing, it would be a duplicate 🤔 ?

[2020-10-10 20:59] #21374 closed, assigned to nobody

[2020-10-10 21:01] matks commented on #20793
@Shock451 Please be our guest 😄

[2020-10-11 05:15] Dakror opened #21391 "FO - The product meta-title is incorrect after changing a combination"
#### Describe the bug

the automatic page reload on product detail pages causes the meta title to get replaced with the product name

Issue is this line:
https://github.com/PrestaShop/PrestaShop/blob/b70d51837420275c5ad8c717162ddddb169e00d1/controllers/front/ProductController.php#L458

it needs to use $product['meta_title'] instead of $product['title']

#### Expected behavior

meta title should st

[2020-10-11 10:47] antoniodalessio commented on #21228
Check your jquery version with `console.log(jQuery.fn.jquery);` and compare it with a fresh prestashop installation. In 1.7.6 jquery right version is: 2.2.4 but for some reason my version was 3.5.
I copied themes/Core.js from a fresh installation and work fine. No error displayed at time in any section

[2020-10-11 12:58] madkot opened #21392 "PS 1.7.5.2 upgrade with module 1 Click Upgrade to 1.7.6.8"
#### Describe the bug
1 Click U pgrade (latest version), SP 1.7.5.2 with custom modules, but not caused this problem.
I have upgraded localy my prestashop from 1.7.5.2 to 1.7.6.8 (current) version and it look like all finished with success (prestashop works after that) but with one error:
**Error during database upgrade. You may need to restore your database.
Masz już wersję 1.7.6.8.**

#### Expec

[2020-10-11 13:12] loco378 opened #21393 "I install newest version of prestashop two times and get same bug with field (CLEAR prestashop)"
![Screenshot_8](https://user-images.githubusercontent.com/72695838/95679592-85c62c80-0bdc-11eb-8d89-f92ce1537609.png)

[2020-10-11 13:23] SimonGrn commented on #21393
Dear @loco378
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-11 13:23] #21393 closed, assigned to nobody

[2020-10-11 21:20] matks commented on #21393
@loco378 The last time I saw this kind of display errors, the php version used was wrong. If you use PS 1.7.6 you must php7.1 or php7.2 ; not php7.3 or php7.4

[2020-10-12 07:05] kpodemski commented on #21391
Hey @Dakror

makes sense! I've created a PR: https://github.com/PrestaShop/PrestaShop/pull/21394

thanks!

[2020-10-12 07:43] grzegorzgit opened #21395 "Hook actionValidateOrder is executed in wrong moment"
#### Describe the bug
The hook actionValidateOrder is executed before the order is placed (validated), according to the documentation it supposed to be done after the order is placed. The problem is, that if I want to use in that hook a function that has access to the orders, it prints error and finishing validating (creating) the order without any status. For example if I need to know if the newl

[2020-10-12 08:09] khouloudbelguith commented on #21386
Hi @jf-viguier,

The option "Force update of friendly URL" is added in the Shop Parameters > Product Settings.
![image](https://user-images.githubusercontent.com/16067358/95721145-75609100-0c72-11eb-90dc-89980d8d4d53.png)
It is applied on Saving Products, not related to the category page.
In the Category page, the Friendly URL should automatically be updated as reported here: https://github.com/Pr

[2020-10-12 08:21] khouloudbelguith commented on #21387
Hi @P41N3ST,

I  did not manage to reproduce the issue using PS1.7.6.8.
I used this script

[code]

Thanks to check and feedback.

[2020-10-12 08:28] khouloudbelguith commented on #21388
Hi @pc3b3r,

I did not manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/95723592-98d90b00-0c75-11eb-8984-a76abcbe84d5.png)

I used this link: `shop.com/api/product_option_values?display=full&filter[name]=42,2` and it is ok.

Thanks to check and feedback.

[2020-10-12 08:42] kpodemski commented on #21395
Hey,

`hookActionValidateOrder` is executed the moment you placed order, you can see implementation here:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PaymentModule.php#L542

It's not possible now to change a place of this hook because of BC Break.

Of course you're right and `OrderState::getOrderStates` will return nothing if you're using this this method and it needs to be check

[2020-10-12 08:42] jf-viguier commented on #21386
@khouloudbelguith the issue is about creation time. My concern is update time.
There is no way to don't force update of category friendly url.
I know that this configuration page is about product but there is no category configuration page.
I guess that if a merchand doesn't want to update friendly url on product page, it should be the same on category page.
By the way, google doesn't like so much

[2020-10-12 09:00] #12035 closed, assigned to nobody

[2020-10-12 09:13] #20317 closed, assigned to nobody

[2020-10-12 09:15] PierreRambaud commented on #11053
With a really, really long wait :roll_eyes:
I totally agree about this type of connection. The usage of a global token is a bad practice.

[2020-10-12 09:16] PierreRambaud commented on #10678
@matks Could you have a check on it, during the migration of the page, you can maybe add this?

[2020-10-12 09:18] khouloudbelguith commented on #21275
Hi @SD1982,

I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/95727706-d724f900-0c7a-11eb-8838-e9948a7da079.png)

Thanks!

[2020-10-12 09:22] PierreRambaud commented on #9944
AFAIK, it's maybe a little overkill to implement it by ourselves. We must check for Symfony Inflector (Symfony String in 5.1) components.

[2020-10-12 09:23] matks commented on #17673
@lemale-h2a If you find that a topic is critical for you, and it's important to have it done ASAP, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request -- that's what the open source spirit is all about.

This is an

[2020-10-12 09:36] lemale-h2a commented on #17673
That is critical just for me, so no worries.

[2020-10-12 09:40] LouiseBonnard commented on #18958
I guess it is because it is simpler to check the stock when performing an action on the shopping cart than blocking the quantity field. Especially if the user has the possibility to order out-of-stock items. Nevertheless, I add it to the checkout EPIC so that it can be studied.

[2020-10-12 09:43] khouloudbelguith commented on #21386
@jf-viguier,

Thanks for these clarifications.
So, it is a new improvement that could be added.
Ping @PrestaShop/product-team what do you think about this?
Can we add this option "Force update of friendly URL" to the categories page?

Epic related: https://github.com/PrestaShop/PrestaShop/issues/18402

[2020-10-12 09:53] khouloudbelguith commented on #19799
Hi!

On this github repository there is no software support. This is an open source project.

I close the issue, feel free to open a new one when needed.

Thanks!

[2020-10-12 09:53] #19799 closed, assigned to nobody

[2020-10-12 09:55] khouloudbelguith commented on #20548
Hi @john-bonello,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-12 09:55] #20548 closed, assigned to nobody

[2020-10-12 10:14] khouloudbelguith commented on #21392
Hi @madkot,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.2 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1SOtkVYMxHbqxqOqutxyJFhccA2L1GjTQ/view?usp=sharing

In the BACKUP OPTIONS, did you disable "Back up my images"?
In your php.ini file, Try to increase:

[code]
Thanks to check & feedback

[2020-10-12 10:24] khouloudbelguith commented on #21389
Hi @kpodemski,

Thanks for your report.
I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/12241 which fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/15748, it is fixed in the PS1770.
Is it similar?

I tried with the module, but it is not compatible with PS1.7 yet.
In the FO, we are blocked, we can't click on some links.

Thanks to chec

[2020-10-12 10:38] khouloudbelguith commented on #21391
Hi @Dakror,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8 and 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/95737208-9bdcf700-0c87-11eb-8e07-d76f1fdac456.png)
![image](https://user-images.githubusercontent.com/16067358/95737226-a1d2d800-0c87-11eb-8e74-aecd4f18b06f.png)
I’ll add this to the debug roadmap.
Thanks @kpodemski for the fix:slightly_smilin

[2020-10-12 11:22] khouloudbelguith commented on #21395
Hi @grzegorzgit,

I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/95741017-cf228480-0c8d-11eb-9392-ee1582407c16.png)
I tried with this module https://addons.prestashop.com/en/collection-points-in-store-pick-up/1752-mondial-relay-official.html
I edited this
[code]
But, wit PS177x => ok no exception displayed.
Could you please check with PS

[2020-10-12 11:27] khouloudbelguith commented on #18958
Hi all!

I manage to reproduce the issue with the 177x branch also.
https://drive.google.com/file/d/1ZIKbdRpINHttRyyP8CLkt4BbKAUfkQ1Z/view?usp=sharing

Thanks!

[2020-10-12 11:46] khouloudbelguith commented on #21071
@HartLarsson,

Can you please provide me the exact configuration in the Smarty Cache?
In my case, I'm disabling the cache, setting the option "Template compilation" to Force compilation.
![image](https://user-images.githubusercontent.com/16067358/95742853-00e91a80-0c91-11eb-9ecc-e35160c66f0c.png)
It is ok
![image](https://user-images.githubusercontent.com/16067358/95742993-460d4c80-0c91-11eb-9086-

[2020-10-12 11:51] khouloudbelguith commented on #21379
Hi @MathiasReker,

I used `ps_banner` module.
![image](https://user-images.githubusercontent.com/16067358/95743436-114dc500-0c92-11eb-97d2-e9b7f81dae86.png)

I tried with PS1.7.6.8.
I cannot log in
![image](https://user-images.githubusercontent.com/16067358/95743332-e6fc0780-0c91-11eb-9707-069ca40d96b6.png)

I tried with 17.7.x branch
I can log in => no issue
Is this the exact problem?

Thanks!

[2020-10-12 11:52] grzegorzgit commented on #21395
Thanks @kpodemski and @khouloudbelguith
I have found a workaround solution to access database directly, for those who can also face the issue:
[code]

I wasn't aware there's newer version of PrestaShop, I will try to update and post the answer here later.

But as an additional info I'd like to add, that if you create such exception in this hook, the order will be "invalid" and customer will see it

[2020-10-12 11:55] khouloudbelguith commented on #21395
@grzegorzgit,

It is a beta version, thanks to check it and feedback.

Yes, I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/95743722-7d302d80-0c92-11eb-97ac-32669bfafacf.png)

But it is ok with 177x branch
![image](https://user-images.githubusercontent.com/16067358/95743793-9638de80-0c92-11eb-9063-8de4a77c0954.png)

Thanks to check it.

[2020-10-12 11:56] khouloudbelguith commented on #21091
Hi @TheSxW,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-12 11:56] #21091 closed, assigned to nobody

[2020-10-12 11:57] khouloudbelguith commented on #21059
Hi @Hlavtox,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-12 11:57] #21059 closed, assigned to nobody

[2020-10-12 11:58] khouloudbelguith commented on #21003
Hi @princeofnaxos,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-12 11:58] #21003 closed, assigned to nobody

[2020-10-12 12:11] MathiasReker commented on #21379
@khouloudbelguith yes, the behavior is different. Something in 1.7.7 changes its behavior.

@matks thanks, I get your point. My issue is, that my module includes a brute force protection where I need to monitor the login attempts. I made this work for 1.6 - 1.7.6, but I cannot make it work in 1.7.7.

I have tried the different hooks, but I cannot I cannot do this:
[code]

Do you have a suggestion

[2020-10-12 12:24] #21391 closed, assigned to kpodemski

[2020-10-12 12:30] rdy4ever opened #21398 "Faceted search module returns available for order OOS products as "In stock""
#### Describe the bug

Faceted search module returns available for order OOS products as "In stock".

#### Expected behavior

Only real "in stock" products (with available quantity) should be shown when applying the "in stock" filter

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have out of stock products that allow orders when out of stock, OOS products that do not allow orders w

[2020-10-12 12:34] kpodemski commented on #21389
Hey @khouloudbelguith

This issue is not related I think because I've tested it on 1.7.7.

In the FO, we are blocked, we can't click on some links.

It's because you need to run:
`composer install`
`yarn`
`yarn run build`

in module folder, to make module ready to use.

[2020-10-12 12:38] boubkerbribri commented on #19912
This issue is back on develop after this [PR](https://github.com/PrestaShop/PrestaShop/pull/20261) was merged.

[2020-10-12 12:45] PierreRambaud commented on #10278
AFAIK, all parameters used in the declaration of the hook/widget are usable :thinking:

Example:
[code]

[2020-10-12 12:58] #20597 closed, assigned to marionf

[2020-10-12 12:59] ngodefroy commented on #20597
FIxed by https://github.com/PrestaShop/PrestaShop/pull/21237

[2020-10-12 13:05] matks commented on #21300
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21331

[2020-10-12 13:05] #21300 closed, assigned to matks

[2020-10-12 13:06] PierreRambaud commented on #9581
I don't manage to reproduce anymore :thinking:

[2020-10-12 13:06] #9581 closed, assigned to nobody

[2020-10-12 13:08] PierreRambaud commented on #12371
The database will be settled to utf8mb4 in 1.7.7.0

[2020-10-12 13:08] #12371 closed, assigned to nobody

[2020-10-12 13:12] PierreRambaud commented on #11234
I did not manage to reproduce the issue.
I create a `defines_custom.inc.php` with `define('_PS_MODE_DEV_', false);` and the debug mode is properly disable.

[2020-10-12 13:19] PierreRambaud commented on #12059
Webpack is not hard to understand the documentation is really well explained :sweat_smile:
I really think using PHP to build Webpack configuration is overkill and will decrease performance.
We are sorry but we don't plan to add this kind of tool in PrestaShop.

[2020-10-12 13:19] #12059 closed, assigned to nobody

[2020-10-12 13:38] khouloudbelguith commented on #11234
HI @PierreRambaud,

Thanks!
I did not manage to reproduce the issue with PS1.7.6.8 in my case also.
I close the issue since it is not reproduced.

[2020-10-12 13:38] #11234 closed, assigned to nobody

[2020-10-12 13:46] #20341 closed, assigned to Progi1984

[2020-10-12 13:52] LouiseBonnard commented on #21358
Surely a consequence of #18622, but might be fixed with https://github.com/PrestaShop/PrestaShop/pull/20430. @Progi1984, can you confirm?

[2020-10-12 13:56] khouloudbelguith commented on #21398
Hi @rdy4ever,

We are aware of this issue.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14518#issuecomment-510891464
So, I close it.
Thanks!

[2020-10-12 13:56] #21398 closed, assigned to nobody

[2020-10-12 13:56] khouloudbelguith commented on #21398
Duplicate of #14518

[2020-10-12 13:58] LouiseBonnard commented on #21157
Hi @SimonGrn, this issue seems fixed, can we close it?

[2020-10-12 14:02] SimonGrn commented on #21157
Yes it is definitely fixed ! IDK why it didn't close itself automatically... sorry.

[2020-10-12 14:02] khouloudbelguith commented on #21379
@MathiasReker,

Thanks for the clarification.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-10-12 14:08] khouloudbelguith commented on #21389
@kpodemski, Great!
I manage to reproduce the issue with 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/95755654-f8024400-0ca4-11eb-9fe0-147dc6b2ebb1.png)

It was ok with PS1768
![image](https://user-images.githubusercontent.com/16067358/95755727-09e3e700-0ca5-11eb-9ab5-29117837cab9.png)

I’ll add this to the debug roadmap.

Thanks!

[2020-10-12 14:08] #21157 closed, assigned to nobody

[2020-10-12 14:15] khouloudbelguith commented on #21379
Ping @PrestaShop/product-team, I couldn't find the Epic related to this issue.
Can you check it!

Thank you!

[2020-10-12 14:19] PierreRambaud commented on #12265
After a very long time. I investigate on this issue.
The first method \ moduleDisplay` is using the cache which is settled here:
![image](https://user-images.githubusercontent.com/1462701/95756640-554ac500-0ca6-11eb-821b-2e4697ef7fe4.png)

The seconde one `moduleDisplay2` is using a local cache, `Cache::store` and `Cache::retrieve` used a `$local` variable.

And everything is working well :thinkin

[2020-10-12 14:21] PierreRambaud commented on #12524
@matks Could you explain to us a little bit more? :sweat_smile:

[2020-10-12 14:37] PierreRambaud commented on #10846
This is something we must do globally.
The problem is spotted here: https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/default/template/controllers/modules/configure.tpl#L59
And the template is called here: https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/admin/AdminModulesController.php#L987
We should be able to define the backlink depending on the previous pa

[2020-10-12 14:38] matks commented on #12524
@PierreRambaud I think when this issue was written, the URLs were showing something else 😄

My guess is that in our current architecture, on listing pages, the "export data" action are done in a very simplistic and limited way:
[code]

- the choice of data to be exported is defined by used filters (not intuitive*)
- available columns are hardcoded (hence the suggestion for hooks)

*For example if

[2020-10-12 14:47] PierreRambaud commented on #11041
Hi everyone,

We should be able to remove anchor when it's not needed :+1:

[2020-10-12 14:52] PierreRambaud commented on #13646
@PierreRambaud afaik, there is no correct solution, the server needs to be properly configured.
This isn't something PrestaShop should manage.

[2020-10-12 14:55] PierreRambaud commented on #13436
FYI: https://www.php.net/manual/en/session.configuration.php#ini.session.save-path

The save_path can also be empty because sessions are not only saved in the server and can rely on an external server (like Memcached)

[2020-10-12 15:04] clotaire202 commented on #21386
I think, the expected behavior is to not refresh any

[2020-10-12 15:05] PierreRambaud commented on #12524
This is something we already fixed: #16328  :thinking:

[2020-10-12 15:06] PierreRambaud commented on #13646
I close the issue. Feel free to reopen it if you think it's still relevant and not overkill.

[2020-10-12 15:06] #13646 closed, assigned to nobody

[2020-10-12 15:09] clotaire202 commented on #21386
It's a bug for now. The force url generation in product should be for all catalog objects.

[2020-10-12 15:10] PierreRambaud commented on #13112
It seems this issue is related to addons.prestashop.com, we don't manage this.
Sorry I'm closing this issue. Feel free to reopen if you think it's still relevant.

[2020-10-12 15:10] #13112 closed, assigned to nobody

[2020-10-12 15:11] jf-viguier commented on #21386
I agree with you @clotaire202, thanks for the support. Ping @PrestaShop/product-team WDYT ?

[2020-10-12 15:11] PierreRambaud commented on #12811
@marionf @LouiseBonnard The search system has been redo with the levenshtein algorithm.
Is it still relevant?

[2020-10-12 15:14] MultiTech-MS commented on #21364
Hi @florine2623 ,

Thank you for your answer.  I did check and :

-     check error log
There is no indications of any error that could have done this in the prestashop logs.
As far as the server logs are concerned I really wouldn't know what I'm looking for.

-     disable all overrides
I don't have any customed overrides in /override

-     enable debug mode
The only warnings and error while on

[2020-10-12 15:15] PierreRambaud commented on #12834
The PrestaShop cookie system is configured to httponly for security reason. (https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Cookie.php#L417)

Playing with cookies in javascript is not really something you should do.

[2020-10-12 15:16] PierreRambaud commented on #12834
As @kpodemski said, you can touch the cookie which is managed by the Cookie class in javascript. It's clearly not possible because data are encrypted in it.

[2020-10-12 15:16] #12834 closed, assigned to nobody

[2020-10-12 15:20] PierreRambaud commented on #12961
FYI the token is the URL is not here to prevent CSRF, there is already a token in new Symfony forms that is doing the job.

[2020-10-12 15:21] PierreRambaud commented on #12961
Closed in favor of #19348

[2020-10-12 15:21] #12961 closed, assigned to nobody

[2020-10-12 15:27] PierreRambaud commented on #14692
Does the problem still occurs? Is it related to 1.7.5.2 only? If yes, I think we can close the issue since we don't manage the 1.7.5.2 anymore :thinking:

[2020-10-12 15:30] PierreRambaud commented on #14685
as @matks said in this comment: https://github.com/PrestaShop/PrestaShop/issues/14685#issuecomment-520426290
it's already possible.

This option to move all JS to the top was a really really really bad idea, it decreases performance.
I'm not in favor of adding this option.

[2020-10-12 15:32] PierreRambaud commented on #14571
Hi everyone and sorry for the delay.

The problem seems to be related to the productcomments module, can you confirm it?

[2020-10-12 15:33] PierreRambaud commented on #14506
@NeOMakinG What do you think about this one?

[2020-10-12 15:35] PierreRambaud commented on #14346
I don't know if it's a good idea. In fact, it's up to people who create modules to add `my-module-class`, and if they remove content, it's also up to them to be sure nothing is broken :thinking:
Wdyt @NeOMakinG ?

[2020-10-12 15:37] PierreRambaud commented on #13937
Hi @jankratochvil ,

We update our dependencies, could you tell us if with the latest version everything is ok?

Kind regards

[2020-10-12 15:44] jankratochvil commented on #13937
I do not know which version https://www.e-filson.cz is running and some detection tools I found could not find it out. If you are not going to investigate/fix it yourself and you are just waiting until it gets fixed on its own then this bugreport is pointless.

[2020-10-12 15:46] matks commented on #12524
Only the "limited number of data exportable" issue. The main issue remains: we use the Grid, which is not built for Export, as a DataFetcher service then we create a CSV file using hardcoded values and it is not extensible (no hooks).

[2020-10-12 15:49] jolelievre commented on #14571
Yes there is a big improvement to make on `productcomments`

At the time I didn't dare to use the PS cache system because I didn't trust it enough and didn't know how to handle it for the FO My priority was to have up to date data for comments ALL THE TIME So I used an ajax way to fetch and display the grades for products

I realize now that it's not the right approach, the grade should be display

[2020-10-12 15:52] marionf commented on #20177
Any news @atomiix ?

[2020-10-12 15:59] NeOMakinG commented on #14346
Since 2 months, every selectors used in core js and theme js are listed inside these two files, I think this is already enough in order to know the class you deleted is used by the core, by the way having every classes used by the js prefixed by a `js-` is a good practice that we already follow a lot inside the BO and we should do the same on the classic theme !

The question is, should we do it i

[2020-10-12 16:03] NeOMakinG commented on #14506
That would be really cool to be honest, gonna do it

[2020-10-12 16:12] khouloudbelguith commented on #21387
@P41N3ST, so the issue is not reproduced anymore?

Thanks!

[2020-10-12 16:18] atomiix commented on #20177
@marionf nope 😕

[2020-10-12 16:18] #20651 closed, assigned to sowbiba

[2020-10-12 16:18] khouloudbelguith opened #21404 "[Epic] - Hooks"
Collect all issues related to Hooks:

## Bugs
- [x] #9889
- [ ] #10006
- [x] #22833
- [x] #12110
- [x] #16493
- [ ] #14202
- [x] #26878
- [x] #27056
- [ ] #20764
- [x] #19547
- [x] #11585
- [x] #28342
- [x] #28604
- [ ] #28813
- [ ] #29013
- [ ] #27543
- [x] #29483
- [x] #29339
- [x] #29818
- [ ]  #30386
- [ ] #32513

## Features
- [x] #21092
- [x] #16451
- [ ] #16420
- [ ] #23508
- [x] #25694
- [

[2020-10-12 16:24] matks commented on #21379
Hi @MathiasReker so I checked and found the reason : https://github.com/PrestaShop/PrestaShop/pull/19712

Hook `displayBackOfficeTop` was being fired from this block:
[code]
This block has been moved from `init()` to `initHeader()`

[2020-10-12 16:29] matks commented on #21379
@MathiasReker Have a look at the hooks being called in `postProcess()` I think they should do the job for your case

[2020-10-12 16:29] kpodemski commented on #11041
@PierreRambaud you can check this PR

https://github.com/PrestaShop/PrestaShop/pull/19400

maybe you will find a way to avoid BC break 👍

[2020-10-12 16:30] LouiseBonnard commented on #21006
What about turning it into a parameter in the _Shop Parameters > Product Settings > Product page_ section of the back office? @Julievrz, any idea about the wording?

[2020-10-12 16:35] LouiseBonnard commented on #21386
It makes more sense to have this option available for products and categories. It should be available in Shop Parameters > General then. What about attributes, features, brands, and suppliers... or simply turning it into a general parameter? Do you need it for all URLs or mainly the products and categories URLs?

[2020-10-12 16:45] P41N3ST commented on #21387
Occurs, but i cannot reproduce it in another installation

[2020-10-12 16:45] rblaurin commented on #13436
That's right. So, the save_handler should also be tested, right?

[2020-10-12 16:48] jonasburneika commented on #10824
Hi, @khouloudbelguith  and @marionf my PR is ready for your review.
https://github.com/PrestaShop/PrestaShop/pull/21406

[2020-10-12 17:08] mamastudios commented on #17317
Hi how did you solve the problem? thank you

[2020-10-12 17:15] P41N3ST commented on #21387
The error on postman

![image](https://user-images.githubusercontent.com/11914764/95773657-84503f00-0c84-11eb-97cf-cb895ac1e2bd.png)

[2020-10-12 17:25] jf-viguier commented on #21386
Good idea @LouiseBonnard, it should be a general parameter and impact all prestashop friendly urls.

[2020-10-12 18:02] marionf commented on #9934
@matks

I completely agree with you, it makes sense for me
As we don't have any duplicate or new input on this issue since a long time and as the current behavior seems relevant, I close it

[2020-10-12 18:02] #9934 closed, assigned to marionf, colinegin

[2020-10-12 18:58] MathiasReker commented on #21379
@matks I cannot solve the problem 😕 Can you point out what specific hook could I use for this? 🤔

[2020-10-12 20:11] pc3b3r commented on #21388
@khouloudbelguith thanks for the answer, using it without square brackets is working fine.
It was a strange case: normally I have multiple values to compare.

[2020-10-12 20:11] #21388 closed, assigned to nobody

[2020-10-12 20:39] #21312 closed, assigned to nobody

[2020-10-12 20:39] matks commented on #21312
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21313

[2020-10-12 20:48] madkot commented on #21392
My bad.. (i restore my local DB from my production) and i have other problem.
![obraz](https://user-images.githubusercontent.com/11571787/95788955-d8870d80-0cdc-11eb-936c-fd7d580a137c.png)

[2020-10-12 21:22] matks commented on #20952
PR https://github.com/PrestaShop/PrestaShop/pull/21401

[2020-10-13 07:24] PierreRambaud commented on #14808
It seems this file is not used in the Core or by native modules. We should be able to remove it.

[2020-10-13 07:28] PierreRambaud commented on #15977
ping @NeOMakinG if you have any idea :)

[2020-10-13 07:35] PululuK commented on #21404
@khouloudbelguith  can you add https://github.com/PrestaShop/PrestaShop/issues/21092 please

[2020-10-13 07:49] khouloudbelguith commented on #14808
Hi @PierreRambaud,

So do we need to add this issue to the debug roadmap?

Thanks!

[2020-10-13 07:54] NeOMakinG commented on #14808
I will do it on develop

[2020-10-13 07:55] PierreRambaud commented on #15570
Is it still needed @matks ?

[2020-10-13 07:57] NeOMakinG commented on #15977
HTML ids and classes => kebab-case
JS vars => camelCase

It seems to be the most used, bootstrap use kebab-case everywhere, Vue seems to use camelCase everywhere !

[2020-10-13 08:03] Progi1984 commented on #15977
@NeOMakinG This is documented ?

[2020-10-13 08:04] khouloudbelguith commented on #21392
@madkot, can you provide me the log file.
You can find it into `/PrestaShopFolder/admin-dev/autouprade/tmp/log.txt`.

Thanks!

[2020-10-13 08:05] khouloudbelguith commented on #21388
@pc3b3r, thanks!
Feel free to open a new one when needed.

[2020-10-13 08:05] NeOMakinG opened #21408 "PrestaShop BO global components is erasing the instance object even if it's already defined"
#### Describe the bug

https://github.com/PrestaShop/PrestaShop/pull/21332/files

This means that if someone initiate a component before the core, it will be erased, and it's doing it every time it's launched, while it could be avoided if the object already exist

Also, It needs an event to make the use of this feature easier for module devs or overriding stuff

#### Expected behavior

Be able to

[2020-10-13 08:05] Progi1984 commented on #14808
@NeOMakinG I added to 1.7.8.

[2020-10-13 08:18] Progi1984 commented on #21312
Ping @PrestaShop/product-team for specs

[2020-10-13 08:19] #20952 closed, assigned to NeOMakinG

[2020-10-13 08:21] khouloudbelguith commented on #21387
@P41N3ST,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
The creation of an order via WS is ok.
You can follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/19906#issuecomment-688426679), jus

[2020-10-13 08:29] matks commented on #15570
@PierreRambaud I think yes. The 2 reasons I see:
- When launching an heavy integration test suite such as Orders, you have to wait for dozen of minutes which slow the feedback loop, impedimenting the developer experience
- Our "tricks" are still implemented to avoid full database reset between scenarios/features because a full reset would be too expensive (= too long) and these tricks are a design

[2020-10-13 08:31] khouloudbelguith commented on #21098
Hi @sickboards,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

THanks!

[2020-10-13 08:31] #21098 closed, assigned to nobody

[2020-10-13 08:33] khouloudbelguith commented on #21111
Hi @julienbruitte,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

THanks!

[2020-10-13 08:33] #21111 closed, assigned to nobody

[2020-10-13 08:34] khouloudbelguith commented on #21109
Hi @elbek,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-13 08:34] #21109 closed, assigned to nobody

[2020-10-13 08:50] Hlavtox commented on #20821
@MatShir @LouiseBonnard I would just display all the amounts both tax included and tax excluded, done. ;-)

[2020-10-13 08:51] NeOMakinG commented on #14808
I think the only thing documented if that we follow bootstrap best practices

[2020-10-13 08:55] NeOMakinG commented on #15977
I think the only thing documented is that we follow bootstrap best practice for html/css

[2020-10-13 09:02] Hlavtox opened #21410 "Allow merchant to modify displayed fields in default forms"
#### Is your feature request related to a problem?

I think there is not a single merchant who would utilize all the fields in Prestashop forms (adress, customer etc.). For example. Almost nobody uses gender, birthday, second adress, second phone number.

These fields are only bloating BO and FO fields.

#### Describe the solution you'd like

Allow merchant (without programming knowledge) to custo

[2020-10-13 09:07] Hlavtox commented on #17042
Bump @matks, should I make a PR with the fix I proposed in my first comment, or we close this?
(The problem is, that badly written module can affect the behavior of important stuff.)

[2020-10-13 09:11] khouloudbelguith commented on #21410
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-10-13 09:35] #21408 closed, assigned to nobody

[2020-10-13 09:47] PierreRambaud commented on #14808
My bad, this file is used here: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/controller/ProductListingFrontController.php#L157

We can close the issue

[2020-10-13 09:47] #14808 closed, assigned to NeOMakinG

[2020-10-13 09:53] LouiseBonnard commented on #12811
It looks complementary since the Levenshtein algorithm is about typing approximate words to catch the proper words. It might be a search parameter: enable either the _and_ or the _or_ operator in the store's search system.

[2020-10-13 09:54] Progi1984 commented on #21358
I think so. I could check when #20430 will be checked by QA Team.

[2020-10-13 10:00] Progi1984 commented on #20238
I removed the "waiting for PM" as @MatShir answered in the PR.

[2020-10-13 10:01] #20852 closed, assigned to atomiix, matks

[2020-10-13 10:06] Progi1984 commented on #21359
Fixed by #21362

[2020-10-13 10:06] #21359 closed, assigned to nobody

[2020-10-13 10:07] PierreRambaud commented on #11041
I think I have an idea :) Thanks

[2020-10-13 10:07] MatShir commented on #21005
Hi @sarahdib and @khouloudbelguith,
Could you share the video for the 1.7.7.x version? I can't reproduce the issue.

My steps:
1. Order demo_16 white
2. Change the status of the order to "delivered"
3. Check on the stock page the stock for the product
4. Do a partial refund
5. Don't check to reinject stock
6. Refund
7. Check the stock, => it is unchanged ✔️

Thanks

[2020-10-13 10:22] LouiseBonnard commented on #21386
I found it more relevant to add it as a setting in the SEO & URLs page, see the specifications above. If it is okay for you, I will update this issue description accordingly. :-)

[2020-10-13 10:50] khouloudbelguith commented on #21005
Hi @MatShir,

Yes, it is ok with 177x branch.
https://www.awesomescreenshot.com/video/1333067?key=7d7de8feabbb7fdf26347ca9eac59276
Since it is fixed, I close the issue.

Thanks!

[2020-10-13 10:50] #21005 closed, assigned to nobody

[2020-10-13 10:54] jolelievre opened #21413 "Cache clear issue after optimization"
#### Describe the bug

The way PrestaShop clears Symfony cache has been modified by this PR https://github.com/PrestaShop/PrestaShop/pull/20942

Although it is more performant, it also doesn't clear everything we need because the container is not rebuilt.
Among the things that I fear might be involved:
- Symfony routing updated
- Doctrine entities management
- Module's services updated

At least t

[2020-10-13 10:56] thierry-laval opened #21414 "Error update with module autoupgrade"
Do you have any idea about this error ?
I try to update my version 1.7.6.5 with the official module .

Ajax / Server Error for action upgradeDb textStatus: error  errorThrown:Service Unavailable  jqXHR

Thanks!

[2020-10-13 11:03] khouloudbelguith commented on #21413
Hi @jolelievre,

I manage to reproduce the issue with develop branch
![image](https://user-images.githubusercontent.com/16067358/95852664-68b46980-0d54-11eb-9c61-767c5ca4533f.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-10-13 11:09] khouloudbelguith commented on #21414
Hi @thierry-laval,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report in the next time
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

What is the exact version of the module 1-click upgrade did you

[2020-10-13 11:22] thierry-laval commented on #21414
Ok, understand, i see for give a new forulation more complete 👍
And first i try to update directly from my ftp.
Thank, have a good day and i will comeback with new info...

[2020-10-13 11:23] khouloudbelguith commented on #21414
@thierry-laval, thanks!
Waiting for your feedback.

[2020-10-13 11:47] madsoliver opened #21418 "Changing access in AdminAccess gives false positive while ajax really results in 500 error with exception"
I had a problem with a module admin controller that i got "no access" for. (even for SuperAdmin)
I found in AdminAccess that the module admin controller was not checked.
When I checked all boxes, I got "Settings updated", but when refreshing the page, the checkboxes are still unchecked.

So I researched some more and found that the ajax calls to `action=updateAccess` results in 500 Uncaught except

[2020-10-13 11:56] SimonGrn commented on #21418
Dear @onklmaps
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-13 11:56] #21418 closed, assigned to nobody

[2020-10-13 12:03] #20238 closed, assigned to sowbiba, MatShir

[2020-10-13 12:14] matks opened #21419 ""Related products" model is mapped to "accessory" SQL table"
#### Describe the bug

While reworking the Product page for 1.7.8, @zuk3975 found that the "related products" field in the BO page controls a data model that is persisted into database as "accessory" table.

#### Expected behavior

In order to make the software easier to work with, I suggest the SQL table name is closely related to the data model. So I suggest renaming SQL table `ps_accessory` to

[2020-10-13 12:34] PierreRambaud commented on #13436
I'm not sure it's a good idea to check that because it's specific to the PHP runner, and it's not a good idea to spend a long time to be sure the PHP runner is able to properly use itself. It's up to the system administrator/developer to be sure that his own configuration is working well. Otherwise, we have to be sure all other configuration variables are properly configured :sweat:

The principle

[2020-10-13 12:53] rblaurin commented on #13436
So maybe could be a good idea to have a separated official tool to help system administrator/developers to detect this kind of misconfiguration and suggest the right way to correct it?
If you make a simple search in google with the keywords "prestashop session.save_path" you will see this is a very common problem for new users/developers. The same search for magento, for example, will return much

[2020-10-13 12:54] PierreRambaud commented on #15186
For example we can do:
=> in app/config.yml
[code]

and  in customer_loader.php we are able to load a directory content (yml, PHP, etc)

[2020-10-13 13:01] PierreRambaud commented on #15186
And of course, put `framework`, `parameters`, `monolog`, etc. in dedicated files.

[2020-10-13 13:11] rblaurin commented on #13436
So maybe could be a good idea to have a separated official tool to help new developers/users to discover and correct this kind of misconfiguration?
It is a very common problem for new users/developers, and I think it is worth to check it at least on the installation process. No need check all the configuration variables, but I think it woud be nice to check the ones that commonly cause problems.

[2020-10-13 13:22] PierreRambaud commented on #13436
We already have one: https://github.com/PrestaShop/php-ps-info :tada:

[2020-10-13 13:23] jf-viguier commented on #21386
@LouiseBonnard ok for me. It's better in SEO & URLs page

[2020-10-13 13:30] rblaurin commented on #13436
Yes, I know it! It is a great tool.
It doesn't test session.save_path/save_handler, right?

[2020-10-13 13:35] PierreRambaud commented on #13436
Not yet, but it's something you can try to add if you want.
Regarding the conversation, I'm closing this one.
Feel free to create an issue with what you want exactly here https://github.com/PrestaShop/php-ps-info/issues/new :)

[2020-10-13 13:35] #13436 closed, assigned to nobody

[2020-10-13 13:41] motosquads opened #21421 "PROBLEME POUR ACHATS DE CERTAINS PRODUITS POUR STOCK+LIVRAISONS"
Bonjour,

Je rencontre un souci sur la majorité des produits de mon shop, lorsque l'on veut passer commande, il indique qu'il n'y a pas assez de produits en stock qu'il faut donc réajuster les stocks pour continuer, hors les stocks sont bien disponible.

de plus je rencontre un souci sur la livraison.
En effet, quand d'autres produits "fonctionnes" le problème vient ensuite sur le mode de livraiso

[2020-10-13 13:43] motosquads opened #21422 "PROBLEME POUR ACHATS DE CERTAINS PRODUITS POUR STOCK+LIVRAISONS"
Bonjour,

Je rencontre un souci sur la majorité des produits de mon shop, lorsque l'on veut passer commande, il indique qu'il n'y a pas assez de produits en stock qu'il faut donc réajuster les stocks pour continuer, hors les stocks sont bien disponibles.

de plus je rencontre un souci sur la livraison.
En effet, quand d'autres produits "fonctionnes" le problème vient ensuite sur le mode de livrais

[2020-10-13 13:47] Mattoia90 commented on #20377
I have reproduce a similar bug, but now I try with a dummymodule and I can reproduce it.
1)Install dummymodule
2)enable dummymodule
3)Disable Dummymodule
Now my file cart.php was corrupted.

[dummymodule_err.zip](https://github.com/PrestaShop/PrestaShop/files/5371675/dummymodule_err.zip)

![DummyModule1Cart php](https://user-images.githubusercontent.com/48225521/95868369-6ceb8180-0d6a-11eb-943d-5e

[2020-10-13 13:47] madsoliver opened #21423 "Method $this->registerHooks(array $hook_names) for easy registering multiple hooks"
#### Is your feature request related to a problem?

An option to easily register multiple hooks in a module would be great.

#### Alternatives you've considered
I see some options:

[code]

Or even better if one could also set the hooks the same way as `$this->tabs = []` in module construct:
[code]

...and then `Module::install()` would automatically register those hooks. Also the same for uninsta

[2020-10-13 13:47] PierreRambaud commented on #13937
We will not be able to investigate on the website we don't own.
If you're not the owner of this website and can't provide us more information to be able to reproduce, we will close this issue.
Feel free to reopen if you can provide us more information :)

[2020-10-13 13:47] #13937 closed, assigned to nobody

[2020-10-13 13:51] khouloudbelguith commented on #21423
Hi @onklmaps,

Thanks for your report.
Please in the next time you must follow the template to submit a complete Feature report.

Ping @PrestaShop/product-team @PrestaShop/prestashop-core-developers what do you think of this improvement?

Thank you

[2020-10-13 13:55] khouloudbelguith commented on #21422
Hi @motosquads,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-13 13:55] #21422 closed, assigned to nobody

[2020-10-13 13:56] khouloudbelguith commented on #21421
Hi @motosquads,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-13 13:56] #21421 closed, assigned to nobody

[2020-10-13 14:01] PierreRambaud commented on #21423
Hi,

You're already able to register multiple hooks at once.
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Hook.php#L563
https://github.com/PrestaShop/ps_facetedsearch/blob/dev/ps_facetedsearch.php#L174

Maybe the documentation needs to be updated.
(https://devdocs.prestashop.com/1.7/development/components/hook/)

[2020-10-13 14:01] #21423 closed, assigned to nobody

[2020-10-13 14:09] #20989 closed, assigned to nobody

[2020-10-13 14:10] #17709 closed, assigned to nobody

[2020-10-13 14:20] PululuK commented on #21423
Hi @PierreRambaud @onklmaps

See https://github.com/PrestaShop/docs/pull/769

[2020-10-13 14:23] khouloudbelguith commented on #21392
@madkot, have you any custom modules?
The upgrade of Database => ok
The upgrade process is stopped when upgrading the Addons modules.

Thanks to check and feedback.

[2020-10-13 14:26] Grazulex opened #21424 "Prestashop 1.7 override form-fields.tpl"
One of the customer ask me to change the layout of the "guest" form. I need to change the class of the field tag (col-md-6 to col-md-8) and of the comment  tag (col-md-3 to col-md-1).
My idea was to override the form-fields.tpl to change the class into this new version of form-fields.tpl and to extend or include this new tpl file into the themes/x/templares/checkout/_partials/steps/personnal-infor

[2020-10-13 14:30] NeOMakinG commented on #16933
Should be done on major version probably

[2020-10-13 14:34] khouloudbelguith commented on #21424
Hi @Grazulex,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-10-13 14:34] #21424 closed, assigned to nobody

[2020-10-13 14:39] khouloudbelguith commented on #21361
I will re-open the issue.
Some other modules should be updated also.
I edited my first commet

[2020-10-13 14:48] khouloudbelguith commented on #21392
@madkot, here's my log file during the upgrade from PS1752 to PS1768
[log.txt](https://github.com/PrestaShop/PrestaShop/files/5372143/log.txt)
You can check the section `Database upgraded. Now upgrading your Addons modules... ` in my case.
Thanks to check and feedback.

[2020-10-13 14:56] khouloudbelguith opened #21426 "[Epic] - Overrides"
Collect all issues related to Overrides

### Bugs
- [ ] #18592
- [x] #20377
- [x] #22968
- [x] #23664
- [x] #23962
- [ ] #28474
- [x] #29393
- [x] #30041

### Features
- [x] #11516
- [x] #12192
- [x] #10374
- [ ] #29093

## Fixed

### Bugs
- [x] #14948
- [x] #12300
- [x] #21368
- [x] #14596

[2020-10-13 15:06] didacrios opened #21427 "Twig version upgrade throws exception"
#### Describe the bug

Twig version upgrade cause an error entering to products list in backoffie

#### Expected behavior

No exception thrown

#### Steps to Reproduce

Steps to reproduce the behavior:

1. composer install (twig version install v2.13.1)
2. Enter backoffice
3. Go to catalogue > Products
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/211009/9587902

[2020-10-13 15:08] NeOMakinG commented on #14346
The starter theme is no longer maintained, this means that the only one who got update is the classic theme inside this repository.

Just got to the doc and I think you're right, we should modify this part in order to redirect to the classic theme

[2020-10-13 15:08] khouloudbelguith commented on #20377
@Mattoia90, thanks fr your feedback.
I manage to reproduce the issue with PS1.7.6.8 and 1770rc1
![image](https://user-images.githubusercontent.com/16067358/95879420-a0cca400-0d76-11eb-95f2-a2231c43eb7b.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-10-13 15:20] Progi1984 commented on #21254
Fixed by #20903

[2020-10-13 15:20] #21254 closed, assigned to sowbiba, jolelievre

[2020-10-13 15:20] Progi1984 commented on #21099
Fixed by #20903

[2020-10-13 15:20] #21099 closed, assigned to jolelievre

[2020-10-13 15:27] khouloudbelguith commented on #21427
Hi @didacrios,

I think your issue is similar to this ticket https://github.com/PrestaShop/PrestaShop/issues/17300.

Thanks to check and feedback.

[2020-10-13 15:32] Progi1984 commented on #20861
Bug fixed in PrestaShop/dashtrends#32

[2020-10-13 15:32] #20861 closed, assigned to Progi1984

[2020-10-13 15:33] z72diego opened #21428 "Automatic Discounts and Order Edit Bug"
#### Describe the bug

The bug that happens when i manually edit an already created order in prestashop backoffice.

**The error occurs because I have set up automatic discounts for certain customer groups.**

The situation is like this. Customer "X" has an automatic discount of 10%, therefore, when a new order is created, this discount will be applied to all the products in the cart.

So far so g

[2020-10-13 15:48] MatShir commented on #19524
The button _save the images settings_ are for the product's caption and cover. The uploading does not require the saving button to save the uploaded image.

[2020-10-13 16:11] khouloudbelguith commented on #21428
Hi @z72diego,

The issue is fixed in 1770.
In my case, I did not manage to reproduce the issue with PS1770rc1build1.
I attached a screen record
https://www.awesomescreenshot.com/video/1337262?key=80a59b6e4d0e0ca8e624ef2fdec20efb
Thanks to check and feedback.

[2020-10-13 16:14] madkot commented on #21392
@khouloudbelguith actualy i have no idea how to solve this problem, i check option to disable all non-included modules and problem  with cacheCore still exists.

[2020-10-13 16:14] z72diego commented on #21428
Hi @khouloudbelguith,

Thanks for your reply. 1.7.7 is still beta. How can I apply a fix for this error in my version?

[2020-10-13 18:33] SimonGrn commented on #21428
Hello,

there is no simple way, you may need to do some research on the code to find how the fix was applied. Easiest way is to upgrade when the 1.7.7.0 version will ship out.
We won't make a patch version for 1.7.6 for anything besides critical issues and security patches.

Thanks for your understanding.

[2020-10-13 18:53] sickboards commented on #21098
I can't seem to reproduce, but why is the product updated when you press preview, that seems to be unwanted behavior.
I will try to find a product that causes the error

[2020-10-13 19:22] camlafit commented on #20454
Hello

Any news about this issue and its PR related ?

Thanks

[2020-10-13 21:22] P41N3ST commented on #21387
I couldn't get it to work, I made the decision to make another prestashop api

But thank you so much for your help.

[2020-10-13 21:22] #21387 closed, assigned to nobody

[2020-10-13 22:31] phausca commented on #12452
In  my case I think it all started the day that I tried enabling the Smart Cache for CSS.
The CSS became terrible and I had to disable it again.
It looks like it created a css.map file per each css file in the theme and now it is still looking for these files....even they don't exist anymore..

DevTools failed to load SourceMap: Could not load content for. https://xxxxx/themes/leo_bread/modules/le

[2020-10-14 06:39] onklmaps commented on #21423
This is great 😃
Thank you @PululuK!

[2020-10-14 07:49] boubkerbribri opened #21430 "Error when disabling / enabling shop"
#### Describe the bug

A error is displayed when trying to enable/disable shop.

#### Expected behavior
No error is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO -> Shop Parameters -> General'
2. Click on 'Maintenance' sub tab
3. Enable or disable your shop
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/48441421/95959073-4c6f06

[2020-10-14 09:08] madsoliver opened #21436 "Activating AdminAccess roles gives false positive"
#### Describe the bug

I go to Back office > AdminMyModuleController I get "No access", even for SuperAdmin.
![Screenshot 2020-10-14 at 10 56 30](https://user-images.githubusercontent.com/30602638/95966913-f43d0180-0e0b-11eb-883d-e9701c8f9ea3.png)
When I go to AdminAccess I see that the modules admin controller is unchecked, so I check all 4 checkboxes. I get green confirmation "Settings updated".

[2020-10-14 09:26] matthieu-rolland opened #21437 "Address selectors reversed after edition in FO's checkout process"
#### Describe the bug

In **FO > Checkout > Address selection**, if you have more than one address, for example 2 addresses, editing one address will change the order of the address selector.

#### Expected behavior

Address selectors should not be reversed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make sure you have 2 addresses or more for your customer account.
2. Add a pro

[2020-10-14 09:27] matthieu-rolland commented on #21437
This bug is due to the way address are edited: it performs a soft delete and adds a new address in the table `ps_address`, then the addresses are fetched in creation descending order.

[2020-10-14 09:37] DelecroixQuentin commented on #20390
Fix with #19404

[2020-10-14 09:37] #20390 closed, assigned to nobody

[2020-10-14 09:43] PierreRambaud commented on #21379
hey @MathiasReker Have a look at #21435 You should be happy :)

[2020-10-14 09:43] khouloudbelguith opened #21438 "BO - Order - An exception displayed when removing a discount (gift)"
#### Describe the bug

In the BO > Order detail page > when we try to delete a discount ( amount of a gift) => an exception is displayed

#### Expected behavior

Option 1:
Delete the gifted product after deleting the voucher
Option 2 ISO:
Keep the product

The option 1 is preferred but depending on the complexity the option 2 could be chosen.

#### Steps to Reproduce

Steps to reproduce the behavi

[2020-10-14 09:49] MathiasReker commented on #21379
@PierreRambaud Thanks! 👍🏻

[2020-10-14 09:49] #21298 closed, assigned to atomiix

[2020-10-14 10:08] marionf commented on #10178
@matks @PierreRambaud

It seems we didn't reproduced this issue.
Do we need to update the devdoc to give some advices about the nginx configuration or try to reproduce this issue ?

[2020-10-14 10:16] LouiseBonnard commented on #21107
Issue almost ready! I've just added the _waiting for dev_ label since @matks' review is requested on https://github.com/PrestaShop/prestashop-specs/pull/135. Once approved, we will be able to move this issue to the backlog.

[2020-10-14 10:29] LouiseBonnard commented on #20279
It looks like this issue is more an improvement than a regression/bug - as the original ticket was qualified. I will edit the labels and add this ticket to a dedicated EPIC so that it can be studied later.

[2020-10-14 10:30] LouiseBonnard opened #21439 "[EPIC] - Error messages or notifications"
Since error messages or notifications are key for user experience, let's gather in this EPIC all the tickets reporting inconsistency, unclear wordings, unexpected behaviors, bad displays, etc. to tackle this problem as a whole.

### Error messages for required fields
- [x] #20279
- [x] #18400
- [x] #28187

### Notifications
- [x] #9550
- [ ] #23051
- [ ] #28300

### About modules installation / up

[2020-10-14 10:30] #21323 closed, assigned to sowbiba

[2020-10-14 10:34] idnovate commented on #21107
How will we be able to access this page?

[2020-10-14 10:50] #21430 closed, assigned to Progi1984

[2020-10-14 11:03] logobg opened #21440 "Forum validation email"
after registration on the forum website, no validation email is send to me since 1 day (2 different emails)

[2020-10-14 11:14] micka-fdz opened #21441 "Remove inline style on default datas descriptions"
#### Is your feature request related to a problem?

On clean install of PS, default datas descriptions contains inline style.
For example: `<span style="font-size:10pt;font-style:normal;">...</span>`

#### Describe the solution you'd like

Please remove inline style on default datas :

- short description of products
- long description of products
- description of categories / manufacturers / supp

[2020-10-14 11:59] sarahdib commented on #21440
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer : https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understand

[2020-10-14 11:59] #21440 closed, assigned to nobody

[2020-10-14 12:02] sarahdib commented on #21441
Hello @micka-fdz

Thank you for your feedback!

@NeOMakinG could you check this :) Thank you

[2020-10-14 12:15] amvidalrc opened #21442 "1.7.6.8 Backend products buttons do not work when filtering because CSS not found"
#### Describe the bug

When connected to the backend > catalog > products we can use this buttons without problem (Filtering buttons and grouped actions buttons)

![image](https://user-images.githubusercontent.com/8987957/95986812-d8932480-0e26-11eb-8ca4-2da93d990214.png)

When filtering some category, we can not use the buttons anymore.
Here we filtered, and the button are not working anymore. Th

[2020-10-14 12:16] onklmaps commented on #21423
Hi!

Followup:
I blindly applied this to `UNregisterHook(['one', 'two');` but that was not possible. Maybe a good idea that unregisterHook and registerHook has identical features?

[2020-10-14 12:18] matks commented on #21440
@logobg You can send a mail to forum@prestashop.com for help 😉  this is the account in charge of the forum

I also reported your issue to the team

[2020-10-14 12:26] micka-fdz commented on #21441
I can make a PR if needed.

[2020-10-14 12:27] PululuK commented on #21423
@onklmaps  See https://github.com/PrestaShop/PrestaShop/blob/develop/classes/module/Module.php#L710

[2020-10-14 12:59] khouloudbelguith commented on #21436
Hi @onklmaps,

About the first step:

Are trying to delete some line from Database > table `ps_authorization_role`, is it?

Thanks!

[2020-10-14 13:42] SimonGrn commented on #21442
Hello,

I don't reproduce your issue with the default theme for PrestaShop 1.7.6.8:
![image](https://user-images.githubusercontent.com/49909275/95997020-9e7c4f80-0e33-11eb-9cf9-ba4fb108905e.png)
You seem to be using another theme (`default`) instead of `new-theme`.
We cannot help you if you're using a third-party theme or an old non-supported theme, sadly.

You left your admin url in your screensh

[2020-10-14 13:45] DRFrank89 opened #21444 "Problem with ps_crossselling"
Hello everyone, I am writing to you because I recently encountered an error similar to one that I had already encountered but solved thanks to this topic:

[https://github.com/PrestaShop/PrestaShop/issues/9652](url)

to see the problem: https://ibb.co/f8nV2LF

The crossseling module does not allow me to view the description and price of the products, these parameters are shown only for the first p

[2020-10-14 13:47] amvidalrc commented on #21442
Hello SimonGrn!

Thanks for the information. I'm not using any other admin theme, i'm using the default admin theme, i have not installed another theme for BO. As you can see my pictures are the same as you posted.

I have reinstalled a fresh clean prestashop and i'm having the same behaviour. Can you tell me where is the admin theme switch to see that point?

In your repository you have "default"

[2020-10-14 13:52] skrime opened #21445 "Cart"
Bonjour,

Je me rends compte que j'ai des soucis d'arrondi sur certaines commandes ce qui décalent de quelques centimes les prix réels.

Je suis Prestashop 1.7.6.5, règle d'arrondi  : Arrondir vers l'infini quand valeur à mi-chemin (recommandé) et type d'arrondi : Arrondir le total

ex de souci :

Produit A  - Prix unitaire HT : 3,38 - Prix unitaire TTC : 4.06 - Quantité commandée : 37 - Total HT

[2020-10-14 13:56] NeOMakinG commented on #21441
@micka-fdz if you want to do it, go for it ! :)

Ping me if you prefer me to do it

[2020-10-14 13:58] NKoonen opened #21446 "Multistore edit order"
#### Describe the bug

In multistore context (all shops) you can't delete a product from an order. You first need to select the specific store where the order is placed to be able to remove a product. Currently there is a 500 error in the console: Shop context types other than "single shop" are not supported.

#### Expected behavior

Either a message that says "Please select a single store" or eve

[2020-10-14 13:58] atomiix opened #21448 "Help button doesn't work as expected in Create an order"
#### Describe the bug

When I click on the "Help" button in Create an order, the help section is taking the whole page.

#### Expected behavior

The help section should slide from the right and not without covering the entire page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Create an order
2. Click on the "Help" button
3. See the help page taking the whole screen

#### Ad

[2020-10-14 14:06] SimonGrn commented on #21442
No problem on my end.

You said you reinstalled, is that true ? Because a fresh installation of `1.7.6.8` always target the `new-theme` for the BO, the `default` theme is actually the old BO theme, not used anymore.
Is this an upgraded shop ? If yes, what was the original version ?

[2020-10-14 14:15] micka-fdz commented on #21441
I'll make a PR soon.

[2020-10-14 14:35] #21413 closed, assigned to jolelievre

[2020-10-14 14:36] Progi1984 commented on #21389
Fixed by #21390

[2020-10-14 14:36] #21389 closed, assigned to kpodemski

[2020-10-14 14:36] SimonGrn commented on #21445
Hello,
Please send your request in English. English is the norm on GitHub.

Thank you

[2020-10-14 14:36] #21445 closed, assigned to nobody

[2020-10-14 14:38] SimonGrn commented on #21444
Dear @DRFrank89
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-14 14:38] #21444 closed, assigned to nobody

[2020-10-14 14:39] amvidalrc commented on #21442
Yes, it's true. It's not a upgraded shop. I a Prestashop + Spanish Language.  How can I fully disable the "default" theme? Who is calling
This is my BO, I think its the new:
![image](https://user-images.githubusercontent.com/8987957/96003549-9ecc1900-0e3a-11eb-9464-33382c6c8f39.png)

Take this in consideration:
index.php/sell/catalog/products/0/20/id_product/desc

desc debug:
[...]
[code]
[...]

[

[2020-10-14 14:50] SimonGrn commented on #21442
I just reinstalled a shop in Spanish, country Spain.
As you can see here, I don't reproduce your issue with a base installation. You may have a special module or modified something in the database, because a fresh install redirects to the correct CSS/JS files.
https://drive.google.com/file/d/1VN-TsRVEnTXN1lGo71hBKwPjDIIRnIZb/view
I don't have any error in my console.
The URLs are correct:
![image]

[2020-10-14 14:50] #21442 closed, assigned to nobody

[2020-10-14 15:03] HartLarsson opened #21451 "In address form, Country should be placed on top, so customer can fill state/region/zip code easily"
If you want to facilitate the state/region/zip fill by the customer  during checkout, the Country field must be placed in top position in adress form like:

![image](https://user-images.githubusercontent.com/16102074/96006808-26675700-0e3e-11eb-99d8-f1750c91dd6e.png)

In this way the customer choose its country and automatically all the ZIP, State/Region are populated correctly.

The main problem

[2020-10-14 15:48] matks commented on #21379
https://github.com/PrestaShop/PrestaShop/pull/21435 merged => @MathiasReker so the answer to your question "what should I use for 177" is "one of the new hooks" 😃

[2020-10-14 15:48] #21379 closed, assigned to PierreRambaud

[2020-10-14 15:58] amvidalrc commented on #21442
Sorry, I noticed my team was enabling jscomposer module, and the jscomposer module is loading extrange js/jQuery modules that broke the buttons, also broke and load the old CSS.

modules/jscomposer/jscomposer.php (Line 1137)

[code]

I let that here for more people that must being having this issue with JSComposer module.

[2020-10-14 16:03] PierreRambaud commented on #19403
Hi everyone,
I'm not able to reproduce the issue with the latest changes on 1.7.7.x branch.
The `displayAdminProductsExtra` hook is proplery handle :)

[2020-10-14 16:03] #19403 closed, assigned to nobody

[2020-10-14 16:10] PierreRambaud commented on #19441
We should be able to introduce BC break about the requirement of the field name.

[2020-10-14 16:21] PierreRambaud commented on #19635
Hi and sorry for the delay.

This constant is used by a service `prestashop.core.exchange_rate.provider` stored in `services/core/currency.yml`. You can easily change this value data by overriding this service call :)

https://devdocs.prestashop.com/1.7/modules/concepts/services/#override-an-existing-symfony-service

Kind regards

[2020-10-14 16:21] #19635 closed, assigned to nobody

[2020-10-14 16:29] PierreRambaud commented on #19022
Hi everyone,

I don't manage to reproduce the error on the front, but I have an error on the back office :sweat_smile:
![image](https://user-images.githubusercontent.com/1462701/96017692-97ad0700-0e4a-11eb-9c79-f01ca8218bde.png)

[2020-10-14 16:32] PierreRambaud commented on #20819
@MatShir You should be able to see an order, or invoice, or everything even if the product is deleted (maybe introduce the soft delete here too). It's up to you to tell us what you want :sweat_smile:

[2020-10-14 16:35] PierreRambaud commented on #18867
Hi,

It's up to the theme to handle this behavior.
The current classic theme has in mind (yes, it has :roll_eyes: ) that there are default images, it's mandatory for this theme.

@PrestaShop/product-team What behavior do you expect?

[2020-10-14 16:36] SimonGrn commented on #21442
Thank you, glad you found the cause !

[2020-10-14 21:15] maofree commented on #18890
hi to all
this problem continue to be present in the 1.7.6.8
it is necessary to replace "escape" with "unescape"
into
`{$message.message|unescape:'html':'UTF-8'|nl2br}`
/admin***/themes/default/template/controllers/customer_threads/helpers/view/message.tpl

and

`{$message['message']|unescape:'html':'UTF-8'|nl2br}`
/admin***/themes/default/template/controllers/orders/helpers/view/view.tpl

it is n

[2020-10-14 21:54] alfonsolr09 commented on #18890
@florine2623 what appens with this bug?

[2020-10-14 22:49] kld1228 opened #21454 "PS_Faceted_Search - Filter is not displayed"
#### Describe the bug

The Faceted Search is not displayed on the front store. None of the filter options are available for the customer to select.

#### Expected behavior

I am expecting the Faceted Search filter options to appear on the front store.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'http://s845872027.onlinehome.us/128-in-stock/'
2. See error - Faceted Search i

[2020-10-15 06:28] onklmaps commented on #21423
@PululuK Oh! Another feature I did not know of. And seing how many modules has `unregisterHook()` in module uninstall, I guess I am not the only one. Thanks for the info 👍

[2020-10-15 06:55] CTSol186 opened #21455 "Prestashop unable to check server configuration for Friendly URL's"
#### Prestashop v1.6.1.24

Under the 'SEO & URL' section, trying to setup "Friently URL" for the domain - I see a message `URL rewriting (mod_rewrite) is not active on your server, or it is not possible to check your server configuration. If you want to use Friendly URLs, you must activate this mod.`

I am using other domains [most of them using WordPress], so am sure that the mod_rewrite is enabl

[2020-10-15 07:08] florine2623 commented on #21451
Hi @HartLarsson ,
I will ping our product team, please stay tuned !
Thanks!

[2020-10-15 07:10] florine2623 commented on #21451
Hi @PrestaShop/product-team ,
Do you think @HartLarsson 's idea is relevant for the address format ?
Thanks!

[2020-10-15 07:12] davidglezz commented on #14001
https://github.com/twbs/bootstrap/pull/30811#issuecomment-661795646

[2020-10-15 07:26] florine2623 commented on #21454
Hi @kld1228 ,
I can't reproduce your issue using PS 1.7.6.7 and faceted module v3.5.0 and v3.6.0.
![Capture d’écran 2020-10-15 à 09 23 26](https://user-images.githubusercontent.com/16019289/96090277-417ea900-0ec8-11eb-8620-78f38b280b4c.png)
![Capture d’écran 2020-10-15 à 09 23 38](https://user-images.githubusercontent.com/16019289/96090282-43e10300-0ec8-11eb-90a0-15aa243d8a3a.png)

As you are

[2020-10-15 07:26] #21454 closed, assigned to nobody

[2020-10-15 07:30] florine2623 commented on #21455
Hello,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mind that

[2020-10-15 07:30] #21455 closed, assigned to nobody

[2020-10-15 07:44] didacrios commented on #21427
Thanks @khouloudbelguith but I don't see they gave a solution in the other issue.

We solved by limiting the use of version 1 of `twig` changing the composer to `"twig/twig": "^1.0"` otherwise the composer install or update will lead to this problem.

Would you that I open a Pull request?

[2020-10-15 07:50] khouloudbelguith commented on #21427
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-10-15 07:52] ghost opened #21457 "Two time actionAdminLoginControllerResetBefore"
#### Describe the bug

Since : https://github.com/PrestaShop/PrestaShop/pull/21435 There are two times << actionAdminLoginControllerResetBefore >>

#### Expected behavior

#### Steps to Reproduce

Open : install-dev/data/xml/hook.xml

Check  how many times is present actionAdminLoginControllerResetBefore

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your pro

[2020-10-15 07:58] SimonGrn commented on #21457
Hello @okom3pom
could you add  a simple list of steps to reproduce ? We will need it when testing.
Thank you !

[2020-10-15 08:07] NeOMakinG commented on #14001
@davidglezz It will probably fixed on next uikit release, or on new major version :/

I say that because we noticed that it wasn't here with uikit on the develop branch, but overwhise it will probably be fixed later with the PR you linked, thanks :)

[2020-10-15 08:08] #21457 closed, assigned to nobody

[2020-10-15 08:08] Progi1984 commented on #21457
Fixed by #21458

[2020-10-15 08:12] LouiseBonnard commented on #18858
Sure, @aniketJivtode!

[2020-10-15 08:53] MathiasReker commented on #21379
@matks Thanks for the new hooks, I really appreciate that. 👍🏻

[2020-10-15 09:16] florine2623 commented on #21446
Hi @NKoonen ,
This is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9609
I'll close your issue, you can follow the progress directly on https://github.com/PrestaShop/PrestaShop/issues/9609
Thanks!

[2020-10-15 09:16] florine2623 commented on #21446
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9609

[2020-10-15 09:16] #21446 closed, assigned to nobody

[2020-10-15 09:28] PierreRambaud commented on #19473
We are currently talking about this issue with @NeOMakinG .
We plan to do a "quick win" by adding javascript events in order to be able to add custom routes.
And we will do our best to improve the generation of the json file to avoid duplication between javascript and Symfony routing.

[2020-10-15 09:32] matks opened #21460 "[SF Migration] Payment preferences - deal with multiple SAVE buttons"
While working on simplifying and harmonizing how Forms are rendered inside migrated pages, @JevgenijVisockij came accross the following Form:

<img width="925" alt="Capture d’écran 2020-10-02 à 16 20 20" src="https://user-images.githubusercontent.com/3830050/96104788-8a8b2900-0ed9-11eb-96eb-a4e92551a054.png">

This form looks like multiple forms with, each, a SAVE button. But actually behind the c

[2020-10-15 09:38] matks opened #21461 "UX change: have a single SAVE button at the top for BO form pages ?"
Following https://github.com/PrestaShop/PrestaShop/issues/21460 @TristanLDD actually mentioned a new idea.

The idea would be to have, for every pages with forms, a single SAVE button _at the top of the page_ either next to "Recommended modules" and "Help" buttons or replace them (in this case we would need to move these 2 buttons somewhere else).

Not only this single SAVE button would be easy to

[2020-10-15 09:49] CTSol186 commented on #21455
Thanks for the response, I will certainly consider that as well.

Actually, I have an old site which I will soon be upgrading to the latest build v1.7.6.8 as well, but am trying to make it work on the older version - as it should, I mean be able to auto generate .htaccess file.

[2020-10-15 09:51] PierreRambaud commented on #19473
Not sure it's a good idea.
If you have X routes in Y modules, you shouldn't have to build a custom JSON for all your modules, it will decrease a lot (a lot lot lot) performance.
Since all routes are already compiled and loaded in Symfony Cache, we shouldn't use a static file to use routes in javascript.

IMHO, the best solution is to render a dynamic JSON file containing what we already generate a

[2020-10-15 12:00] ghost opened #21463 "INSTALL.txt instructions are wrong"
#### Is your feature request related to a problem?

Install.txt instructions are wrong, index.html don't exist

#### Describe the solution you'd like

Install.txt instructions are wrong

#### Alternatives you've considered

Remove text or Change by index.php

[2020-10-15 12:14] florine2623 commented on #21463
Hi @okom3pom ,
Thanks for noticing it !
I will put it in the debug roadmap.
Thanks

[2020-10-15 12:17] LouiseBonnard commented on #9926
Hi @khouloudbelguith, @jfcordova, @GeoTimber, it looks like this issue has been fixed in the meantime, can someone confirm?

[2020-10-15 12:45] Ludhiel opened #21465 "Reorder cart from history with deleted carrier"
#### Describe the bug

When a customer try to reorder an old order with a carrier that had been deleted, the customer cannot select a new one. Instead the message "no carrier available" is shown.

#### Expected behavior

If carrier is not available, other carriers should show

#### Steps to Reproduce

Order made in 1.7.3
Upgrade Prestashop to 1.7.6
Delete and add carrier
Reorder from an 1.7.3 orde

[2020-10-15 12:50] Zonnepaneel opened #21466 "Bug in installation: ps-customtext1: cannot install module ps_customtext"
The installation of Prestashop gets stuck. I get the error "ps-customtext1: cannot install module ps_customtext". And then I am unable to complete the installation.

[2020-10-15 12:59] florine2623 commented on #21466
Hi @Zonnepaneel ,

We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howto

[2020-10-15 12:59] #21466 closed, assigned to nobody

[2020-10-15 13:37] florine2623 commented on #21465
Hi @Ludhiel ,
Following your steps I couldn't reproduce your issue.
Order made with old carrier :
![Capture d’écran 2020-10-15 à 15 28 44](https://user-images.githubusercontent.com/16019289/96136347-0f873a00-0efc-11eb-952f-e1e92817e29d.png)
After the successful upgrade from PS 1.7.3.4 to PS 1.7.6.8 :
![Capture d’écran 2020-10-15 à 15 28 11](https://user-images.githubusercontent.com/16019289/96

[2020-10-15 13:37] #21465 closed, assigned to nobody

[2020-10-15 13:39] CTSol186 commented on #21455
Interesting I was able to upgrade it to v1.7.6.8 and the issue still remains .. even in this build I am unable to generate the .htaccess file.

[2020-10-15 13:45] #18817 closed, assigned to nobody

[2020-10-15 13:51] matks commented on #21448
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21467

[2020-10-15 13:51] #21448 closed, assigned to nobody

[2020-10-15 14:37] NeOMakinG opened #21470 "EventEmitter is not shared across the window.prestashop global object"
#### Is your feature request related to a problem?

It means that if a module wants to use it, it needs to install it through npm, while it could be used directly with the core (even if that lib is a complete nonsense for us as we're not running on node)

#### Describe the solution you'd like

As a module developer, I want to be able to send events using the core lib instead of installing it as it

[2020-10-15 14:42] NeOMakinG commented on #19473
I did a PR for the quickwin, also, I still provided the EventEmitter into the prestashop global object so it's easier for peoples working on symfony page to use it instead of installing it himself in his module :

https://github.com/PrestaShop/PrestaShop/pull/21471

[2020-10-15 14:47] khouloudbelguith commented on #9926
Hi @LouiseBonnard,

I tried with 177x branch
![image](https://user-images.githubusercontent.com/16067358/96145875-f5525980-0f05-11eb-887e-57fee15c500a.png)
It is ok
With PS1.6.1.24
![image](https://user-images.githubusercontent.com/16067358/96145924-0307df00-0f06-11eb-8ffa-2adbc867069a.png)

It seems fixed.

Thanks!

[2020-10-15 14:47] #9926 closed, assigned to nobody

[2020-10-15 15:01] #18060 closed, assigned to nobody

[2020-10-15 15:06] florine2623 commented on #19642
Hi @HartLarsson ,
Sorry for the late reply.

Could you specify the steps to reproduce ?
What is the config of your shop ?
What is the default currency, country, language, etc

Thanks!

[2020-10-15 15:10] florine2623 commented on #19221
Hi @Uff182 ,
Sorry for the late reply, do you still face the issue ?
Thanks!

[2020-10-15 15:13] florine2623 commented on #18060
Hi @ioweb-gr ,
As we have no answer from you, I close your issue.
Thanks!

[2020-10-15 15:15] florine2623 commented on #20110
@SH4LT1S ,
As we have no answer from you for more than 30 days, I'll close your issue.
Thanks!

[2020-10-15 15:15] #20110 closed, assigned to nobody

[2020-10-15 16:15] Temepest74 opened #21474 "I am unable to create a new account on your forum"
#### Describe the bug

I cannot create an account on your forum. I tried with multiple email adresses but I never get the confirmation email. I let it over night and canceled it. I try to open an account with the email: catalin@sendsms.ro but I cannot do that.
My forum will stay blocked in "Waiting aproval" state until i cancel my account creation.

[2020-10-15 16:25] florine2623 commented on #21474
Hi @Temepest74 ,
I successfully created an account on the forum and received the confirmation email :
![Capture d’écran 2020-10-15 à 18 23 16](https://user-images.githubusercontent.com/16019289/96158251-a0b5db00-0f13-11eb-9f19-1e0e660e2fdd.png)

Please make sure your email address is valid and that you are able to receive email.

[2020-10-15 16:25] #21474 closed, assigned to nobody

[2020-10-15 16:27] NKoonen opened #21475 "Not functioning hook AdminProductsMainStepLeftColumnBottom"
#### Describe the bug

The hook AdminProductsMainStepLeftColumnBottom is not working.
According to the docs it should be located in: /src/PrestaShopBundle/Resources/views/Admin/Product/form.html.twig
But it's located in: Located in: /src/PrestaShopBundle/Resources/views/Admin/Product/PorductPage/Panels/essentials.html.twig

#### Expected behavior

When registering the hook in module like so:
$this

[2020-10-15 16:36] florine2623 commented on #21475
Hi @NKoonen ,

Indeed according to https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/, the location of the hook is incorrect.

Do you have any module on which we can test that ?
What are the steps to reproduce ?

Thanks!

[2020-10-15 16:39] florine2623 commented on #21475
Ping @PrestaShop/prestashop-core-developers ,

The list of hooks in [devdocs](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/), regarding displayAdminProductsMainStepLeftColumnBottom is not up-to-date :
It is supposed to be Located in: /src/PrestaShopBundle/Resources/views/Admin/Product/form.html.twig
But form.html.twig is not present : https://github.com/PrestaShop/Presta

[2020-10-15 18:52] IgorSerebryanskiy commented on #13939
Hi there,
When I set DEBUG_PROFILING to "true" I see a white screen on the Frontend. How can I find the error? When DEBUG_PROFILING is disabled it works. Can anyone help me with this?
Thanks in advance.

[2020-10-15 20:33] HartLarsson commented on #21071
i had problems with this configuration:

![image](https://user-images.githubusercontent.com/16102074/96182950-7d505780-0f36-11eb-987d-e4dbf45f4861.png)

[2020-10-15 20:37] HartLarsson commented on #19642
Hi,

my store is based in italy, Euro is the currency.
Default taxation is 22%

Prestashop default installation forgot to add under 22% Tax the 2 countries.

![image](https://user-images.githubusercontent.com/16102074/96183310-ff408080-0f36-11eb-8bd4-54392fb8922d.png)

I've added them manually

[2020-10-16 00:53] kpodemski commented on #11435
hey @LouiseBonnard are you planning  to work on this or I can do it?

[2020-10-16 07:26] LouiseBonnard commented on #11435
Hi @kpodemski! Please go ahead if you want to work on it. ;-)

[2020-10-16 08:14] PrestaShark commented on #11435
It can be successfully tweaked by jquery
[code]

[2020-10-16 08:23] SimonGrn commented on #21474
This github repository is only for the PrestaShop solution. We cannot offer any help regarding the forum. You can howver contact forum@prestashop.com to get some help.

[2020-10-16 09:02] #19892 closed, assigned to Xaconi

[2020-10-16 09:21] #10027 closed, assigned to nobody

[2020-10-16 10:18] gvaianella opened #21476 "Free orders can't be placed when Terms and conditions is not shown"
#### Describe the bug

When creating a free order (ie, total price = 0) there is an error since there is no payment option being shown.
The weird thing (what it does the bug probably very easy to fix) is that free orders can be placed if the configuration is set to show the Terms and conditions checkbox.

#### Expected behavior

Even though the shop doesn't show the Terms and conditions checkbox,

[2020-10-16 11:30] florine2623 commented on #21476
Hi @gvaianella ,

Thanks for the report. I reproduced this in PS 1.7.6.8 and PS 1.7.7.0.
![Capture d’écran 2020-10-16 à 13 30 13](https://user-images.githubusercontent.com/16019289/96253374-c4306280-0fb3-11eb-8d8e-c6db48c22308.png)

 I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Tha

[2020-10-16 11:43] futurowebpl commented on #20535
@khouloudbelguith any news for this task?

[2020-10-16 11:46] kpodemski commented on #20535
Hey @futurowebpl

it's quite a complex topic and I'm not sure if we can deliver this before 1.7.7 release but let me assure you that it's something my customer and I are struggling with too, I'll look into this topic personally in the near future

[2020-10-16 12:19] MatShir commented on #21451
It is clearly relevant. It will avoid the merchant to change their information if the selected country changes the form.
But I don't understand why it should change the order in the displayed addresses. We only have to change the order in the Form not how the complete address is displayed afterward, no?

[2020-10-16 12:37] marionf commented on #21476
Duplicate of #9927

[2020-10-16 12:37] #21476 closed, assigned to nobody

[2020-10-16 13:38] soulardromain opened #21477 "Wrong availability message on cart"
#### Describe the bug

If you want to display product availability in the cart, and show availability_message, it returns the wrong text. Like it always has the in-stock product, it doesn't show the message for available_later text. (#18225)

If the stock is 2 and quantity in cart is 1 or 2, it displays an "in stock" label instead "Last items in stock".
If the stock is 2 and quantity in cart is 3,

[2020-10-16 13:59] florine2623 commented on #21477
Hello @soulardromain ,
This has been added in PS 1.7.8 as said in the issue you mentioned.
So I'll close your issue.
Thanks!

[2020-10-16 14:02] soulardromain commented on #21477
Hello @florine2623,
The issue #18225 is incomplete (fix when the stock is **0**):
If the stock is **2** and quantity in cart is **1 or 2**, it displays an "in stock" label instead "Last items in stock".
If the stock is **2** and quantity in cart is **3**, it displays an "in stock" label instead "Label when out of stock".

[2020-10-16 14:03] Julievrz commented on #21006
What about :

"Display a text label to describe the selected product combination (e.g., selected color: black)"

@LouiseBonnard What do you think?

Do we add another wording for the hover effect? Something like...

"Display selected product combination's information on hover (e.g., color: black)"

[2020-10-16 14:06] elmanu13 commented on #15763
Problem for me on firefox and chrome....impossible to understand !

[2020-10-16 14:40] Progi1984 commented on #18032
@NeOMakinG May be if it's unuseful, may be we must remove it.

[2020-10-16 14:48] Progi1984 commented on #20230
Ping @NeOMakinG

[2020-10-16 15:14] passio777x opened #21480 "Error from import due to Quantity column in Prestashop Multishop"
Hi, i would like to warn you about an error.
I have a multishop. Quantity are merged between 2 shop. When I try to import a CSV from Mulstihop, I got an error :
<img width="761" alt="Capture d’écran 2020-10-16 à 16 45 50" src="https://user-images.githubusercontent.com/43704805/96276053-cd7cf780-0fd2-11eb-8d68-446f382f394d.png">
After many try, I realized it comes from quantity, if I remove quant

[2020-10-16 15:17] PierreRambaud commented on #18032
Agreed, if not needed remove these files :)

[2020-10-16 15:20] madkot commented on #12058
Quick fix for id profile = 1 (super admin?) to resolve access deined after upgrade:
[code]

[2020-10-16 15:24] NeOMakinG commented on #18032
I'll try to take a look if it's really not used, but it looks like no

[2020-10-16 15:25] NeOMakinG commented on #17274
Should be fixed in next UIKit release

[2020-10-16 15:33] florine2623 commented on #21480
Hi @passio777x ,
Please follow the template of bug with the steps to reproduce and the version of PS you are using.
When all details are available, feel free to open a new issue.
Thanks!

[2020-10-16 15:33] #21480 closed, assigned to nobody

[2020-10-16 15:46] passio777x opened #21482 "[Import csv][Multishop] Quantity create error"
#### Describe the bug

When [All Shop] is selected, when I go in product, and import product, I got an error.

#### Expected behavior

The product should have been correctly imported from the .csv

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Selection [Default group/all shop]
2. product
2. import
3. Import CSV with a quantity column completed
4. import
5. see error

**Screenshots

[2020-10-16 15:55] florine2623 commented on #21482
Hi @passio777x ,

PrestaShop 1.7.6.7 is not available with PHP 7.3. Please downgrade and try again.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-10-16 16:05] LouiseBonnard commented on #21006
After a small research, I have found that it is called a ‘mouseover text’ but I don't know if it will be understandable enough for the users, it sounds like a technical vocabulary. Anyway, I really like your wording suggestions!

I'd go for _Display a text label to describe the selected attribute_ as the feature label (in _Admin.Shopparameters.Feature_) and add the example in the tooltip (in _Admi

[2020-10-16 16:30] passio777x commented on #21482
I ever tried with other version, this is not a PHP error.

[2020-10-16 18:30] matks commented on #12058
More content for https://devdocs.prestashop.com/1.7/faq/upgrade/ 😄 ? Feel free to submit a PR

[2020-10-16 21:02] TecnoHands opened #21483 "issue with wrong Iso code for Argentina Language persist in Prestashop 1.7.7.0 beta 2"
#### Describe the bug

The ISO CODE For Argentina in prestashop is AG, but the correct is ES (Spanish LANG)

#### Expected behavior

guys Solve this issue for One time, This bug crash all the traslation function in the BO for cause of the ISO CODE, and if you change it to ES (The correct iso code) Prestashop Fucking off the entire translation function too.
This is not a new bug this is from 1.7.0.

[2020-10-16 21:10] TecnoHands commented on #16029
I Install the prestashop 1.7.7.0 beta 2 and this issue persist.
The ISO CODE for Argentina in prestashop continue AG, when is ES (Spanish)
If change it, fuck off all translation function for all languages
If you put again ag work again the translation function.
Can solve this issue pls is a bug from the first version of presta 1.7 (2017-2018) we are in 2020.....
Very thanks

[2020-10-16 22:34] kpodemski commented on #21437
Provided description of the issue is not precise enough.

Address will get a new ID only if you previously used it for any order, then you edit previously used address and this address becomes `deleted`.

Instead of sorting by `id` we can sort by `alias` field, it's hard to sort by `id` because if we have 1, 2, 3 and we edit `2` we have now id `4`, no chance to put it in the middle, to do this we

[2020-10-16 23:03] TecnoHands opened #21484 "FO - "No tax" label is displayed in the FO despite of disabling the "Display tax label" in the Countries page"
#### Describe the bug

I disable all taxes but in the product page display Without Taxes

#### Expected behavior

If disable the taxes, we expected don't show anything in product page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International'
2. Click on 'taxes'
3. Scroll down to 'active taxes' -> Set no
4. Clean cache
5. Clean Cache from /var/cache
4. See error

How you

[2020-10-16 23:07] DesantBucie opened #21486 "Admin Panel - cannot reach some properties"
#### Describe the bug

I'm using prestashop on mac XAMPP VM. When i use admin and i try to add product, form is bugged, i need to downscale my browser window in half or something like that.

#### Expected behavior

I've expected it to be reachable :)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open admin panel and log in
2. Try to add product

**Screenshots**
<img width="1440" a

[2020-10-16 23:11] kpodemski commented on #21486
Hello,

you are probably using PHP 7.4, this version is not compatible with it, PrestaShop 1.7.6.8 supports up to PHP 7.2

[2020-10-17 01:07] smcgcustoms opened #21487 "Today my page is showing up with an HTTP 500 error and I can't access the Prestashop my admin page"
This evening I went to check on some new customer orders to find my Prestashop admin page and website doesn't come up.  It is receiving an HTTP 500 error code.  The hosting provider is up and did their check and they seem to think that my files may not be directing properly today for some reason.
Sounds like a permission/redirect issue?

[2020-10-17 07:21] SimonGrn commented on #21487
Dear @smcgcustoms
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2020-10-17 07:21] #21487 closed, assigned to nobody

[2020-10-17 09:11] espamoto opened #21488 "Show combinations in product list (back office) and disable/enable combinations"
#### Is your feature request related to a problem?

Hello, we want a feature that we can't find in Prestashop and we think that is essential. It's to show the combinations of the products in the catalog (product list in back office) because then we can see if a product has qty X and also the possibility to enable and disable the combinations in the back office.
We work with thousand of products th

[2020-10-17 12:40] matks commented on #21487
If it is a permission/redirect issue, only the hosting provider can tell you.
They might for example compare the current state of your shop with a backup done some hours/days ago if they believe something changed in the files.

But there is nothing we can do for help 🤔 on this repository.

If you need further help with your shop, please consider the PrestaShop Company support plans: https://www.pr

[2020-10-17 12:59] DesantBucie commented on #21486
Oh yes, my bad I had php 7.2 on my hosting while 7.4 on my computer. Thanks and sorry for taking time on such easy fix

[2020-10-17 12:59] #21486 closed, assigned to nobody

[2020-10-17 13:07] matks commented on #21483
Hi @TecnoHands,

I can see you are frustrated in the tone you use but I must tell you that this cannot be done in this space. The use of words like "fuck" is clearly against our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).

That being said, about your bug:

It seems according to the standards that ISO code for Argentina is either AR or ARG => https:/

[2020-10-17 13:28] MamaTux commented on #19691
I have this exactly bug on a PS 1.7.6.8 I hoped to release tomorrow!
When I disable the ps_facetedsearch module (version 3.6.0) I get the manufacturer name in the product listings. When I enable it, they are gone :(

[2020-10-17 13:29] MamaTux commented on #19691
@iqit-commerce I use the latest version of Warehouse theme - can you reproduce it?

[2020-10-17 22:06] bonneva opened #21489 "Prestashop 1.7.5.2"
Hello,

Via the OVH host, I just installed the Prestashop module. It was done easily, version 1.7.5.2

But when I look in "Advanced settings" "Information" of the installation I just did, at the very bottom of the page there is a section called "List of modified files" and with the following written:

Changes to your files have been detected.

Missing files (3)

.eslintrc.js

.eslintignore

.php_c

[2020-10-18 18:54] hraudsepp commented on #20867
https://www.prestashop.com/forums/topic/1027593-cannot-read-property-split-of-undefined-prestashop-1761-1767/
This forum maybe helpful for you.
Thank you.

[2020-10-18 19:04] MaximusBaton commented on #18571
this problem has an impact on the native functionality in the Back-office!

[code]
this function add jquiry.ui* files before jquery was included in 'main.bundle.js'

![image](https://user-images.githubusercontent.com/10597367/96377342-e67dd800-118d-11eb-84d0-a950d4ff4438.png)

(prestashop 1.7.6.8)

[2020-10-18 19:10] Gipielle commented on #20090
Same problem with prestashop 1.7.6.8 ...
![Uploading Schermata 2020-10-18 alle 21.05.27.png…]()

[2020-10-18 19:51] x29a commented on #12265
This has been a while and the specific problem has been worked around, i accept your decisions and close this issue. Thanks for looking into it!

[2020-10-18 19:51] #12265 closed, assigned to nobody

[2020-10-18 19:56] AlFalahTaieb commented on #15973
Is there a fix please ?

[2020-10-18 20:51] alfonsolr09 opened #21492 "error when adding a product to the cart and closing the ajax menu"
#### Describe the bug

When I add a product to the cart from the home page and close the ajax menu there is a url change that should not happen.
The url that is put has nothing to do with the url of the product added to the cart

#### Expected behavior

Close the menu without changing the url

#### Steps to Reproduce

Steps to reproduce the behavior:

See the video

**Screenshots**

https://youtu.

[2020-10-18 22:15] maofree commented on #20090
Hi @khouloudbelguith and @marionf
can you reopen this topic? now I've inderstood the reason of this problem and it is possible to reproduce it
it is present in all prestashop 1.7 versions

![1](https://user-images.githubusercontent.com/653230/96386842-382e5e80-119e-11eb-8e12-703ea4389172.png)

it happens when it is active the option "Accented URLs"
when this option is active the function
Tools::li

[2020-10-18 22:57] PululuK opened #21493 "Webservice - Enable key by hosts name or IP"
## Is your feature request related to a problem?

Improve the security of Web Services. In some cases a key is not enough to secure access to the API. It would be interesting to have the possibility of limiting accesses by IP address or Domain name.

See : https://devdocs.prestashop.com/1.7/webservice/getting-started/
![Capture du 2020-10-19 00-49-15 (1)](https://user-images.githubusercontent.com/

[2020-10-19 07:06] SimonGrn commented on #21489
Hello,
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [p

[2020-10-19 07:06] #21489 closed, assigned to nobody

[2020-10-19 07:15] SimonGrn commented on #21492
Hello,

I'm not able to reproduce using the Classis Theme with the 1.7.6.4 version. This is probably related to the theme you're using so I suggest you contact the theme developer directly.

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2020-10-19 07:15] #21492 closed, assigned to nobody

[2020-10-19 08:04] khouloudbelguith commented on #21493
Hi @PululuK,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-10-19 08:20] khouloudbelguith commented on #21484
Hi @TecnoHands,

1. If you disable this option "Display tax label (e.g. "Tax incl.")" => so No lablel displayed
![image](https://user-images.githubusercontent.com/16067358/96419320-41e2b100-11f4-11eb-9e95-334436dc450b.png)
2. If you disabled Tax => No tax is displayed
![image](https://user-images.githubusercontent.com/16067358/96419413-66d72400-11f4-11eb-95e3-36cdcb2bfe5e.png)

I have the same beh

[2020-10-19 08:24] khouloudbelguith commented on #21488
Hi @espamoto,

Thanks for your report.
Ping @PrestaShop/product-team what do you think of this improvement?

Thanks!

[2020-10-19 08:27] khouloudbelguith commented on #21172
Hi @passio777x,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 08:27] #21172 closed, assigned to nobody

[2020-10-19 08:27] khouloudbelguith commented on #21165
Hi @Daaaaad,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 08:27] #21165 closed, assigned to nobody

[2020-10-19 08:40] khouloudbelguith commented on #19642
Hi @HartLarsson,

1. What is the exact `Language/Country` did you used during the install of your shop?
2. Did you import any Localization pack? from BO > International > Localization page?

Thanks!

[2020-10-19 08:52] khouloudbelguith commented on #21071
Hi @HartLarsson,

I attached a new screen record
https://drive.google.com/file/d/1wDKc7PZ62BR2XKoUVviBXdEPd8zuAKkR/view?usp=sharing
It is ok with this configuration.

Thanks to check and feedback.

[2020-10-19 08:53] Maofree opened #21495 "Bug on "reset url" button of the product pages when "Accented URLs" is enabled and there are special characters in the product name"
Hi
I've inderstood the reason of this problem and it is possible to reproduce it
it is present in all prestashop 1.7 versions

![1](https://user-images.githubusercontent.com/653230/96386842-382e5e80-119e-11eb-8e12-703ea4389172.png)

it happens when it is active the option "Accented URLs"
when this option is active the function
Tools::link_rewrite
works well with special characters removing it exce

[2020-10-19 08:54] maofree commented on #20090
Hi
I've created a new topic to reopen the case

https://github.com/PrestaShop/PrestaShop/issues/21495

[2020-10-19 09:01] khouloudbelguith commented on #21482
Hi @passio777x,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8 and 1770rc1build.
If the quantity is specified => an error displayed
![image](https://user-images.githubusercontent.com/16067358/96423994-62ae0500-11fa-11eb-8505-3c2ad40fa057.png)

If the quantity is ignored => ok
![image](https://user-images.githubusercontent.com/16067358/96423861-35f9ed80-11fa-11eb-86b4-e86ca

[2020-10-19 09:13] khouloudbelguith commented on #21483
Hi @matks, @TecnoHands,

here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16334 to fix the issue.
It is reported here: https://github.com/PrestaShop/PrestaShop/issues/16029
I tried with 1770rc1build1, I have the same issue
![image](https://user-images.githubusercontent.com/16067358/96424844-9178ab00-11fb-11eb-9df8-10ced92d112d.png)
Ping @LouiseBonnard what do you think?

@TecnoHands, a

[2020-10-19 09:17] Progi1984 commented on #21207
- [ ] YAML : #21479 (yamllint)
- [ ] Twig : :construction: ([friendsoftwig/twigcs](https://github.com/friendsoftwig/twigcs))

[2020-10-19 09:18] khouloudbelguith commented on #21106
Hi @maestrobo,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 09:18] #21106 closed, assigned to nobody

[2020-10-19 09:19] khouloudbelguith commented on #21132
Hi @fedetibaldo,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 09:19] #21132 closed, assigned to nobody

[2020-10-19 09:20] khouloudbelguith commented on #21046
Hi @Hlavtox,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 09:20] #21046 closed, assigned to nobody

[2020-10-19 09:21] khouloudbelguith commented on #21047
Hi @LocalHeroPro,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 09:21] #21047 closed, assigned to nobody

[2020-10-19 09:22] khouloudbelguith commented on #21077
Hi @Cricchio,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 09:22] #21077 closed, assigned to nobody

[2020-10-19 09:24] khouloudbelguith commented on #21392
@madkot, did you make a new upgrade?
If yes, can you please provide me the new log file generated?

Thanks!

[2020-10-19 09:29] LouiseBonnard commented on #21483
Hi there, see https://github.com/PrestaShop/PrestaShop/issues/16029#issuecomment-551079194 for some context. We are aware of this bug and the consequences it has for the users but, unfortunately, this is not something we will be able to fix in a minor version but the next major.

[2020-10-19 09:43] khouloudbelguith commented on #21483
Thanks @LouiseBonnard

So, this issue cannot be closed since it is not fixed, is it?

[2020-10-19 09:44] LouiseBonnard commented on #21488
Hi @khouloudbelguith, @espamoto, thanks for this issue but I don't understand the feature you need. In the latest versions of PrestaShop, you can already get all the combinations in the products listing, enable or disable them, and check the quantities directly in the back office.

<img width="1579" alt="Capture d’écran 2020-10-19 à 11 40 35" src="https://user-images.githubusercontent.com/325658

[2020-10-19 09:47] khouloudbelguith commented on #21495
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8 and 1770rc1build2.
![image](https://user-images.githubusercontent.com/16067358/96429085-d3f0b680-1200-11eb-8e1c-4c5e1fe3ff9b.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-10-19 09:52] LouiseBonnard commented on #21483
If I'm not mistaken, the flag has been fixed but not the language.

[2020-10-19 10:10] espamoto commented on #21488
Hello, yes, I want to have all the combinations (size S ,M ,L...) in the same product listing where are all the products, and also be able to disable each combination.

[2020-10-19 10:16] khouloudbelguith commented on #14312
Hi @amtriorix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

THanks!

[2020-10-19 10:16] #14312 closed, assigned to nobody

[2020-10-19 10:18] khouloudbelguith commented on #18830
Hi @jyothi0093,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 10:18] #18830 closed, assigned to nobody

[2020-10-19 10:19] khouloudbelguith commented on #18955
Hi @silicon755,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-19 10:19] #18955 closed, assigned to nobody

[2020-10-19 10:28] maofree commented on #21495
thanks

[2020-10-19 11:14] oliwier93 opened #21496 "Error after update welcome module"
![Error](https://user-images.githubusercontent.com/52152331/96443464-ed97fb00-120c-11eb-8aff-12ebecff2c69.png)

Version of prestashop: 1.7.6.7
Language: Polish
Cause: After update welcome module.

Can you help me fix it?

[2020-10-19 11:27] khouloudbelguith commented on #21496
Hi @oliwier93,

I did not manage to reproduce the issue with PS1.7.6.8.
I attached a screen record
https://drive.google.com/file/d/1J_ggvR2JK5RpiCKy8GykjQL2BFdD-s_o/view?usp=sharing

Thanks to check and feedback.

[2020-10-19 11:29] oliwier93 commented on #21496
I can't even disable this module. It's not listed. Trying upgrade to PHP 7.2 and 1.7.6.8 atm.

[2020-10-19 11:30] oliwier93 commented on #21496
Issue dissapeard after update. Can be closed.

[2020-10-19 11:30] #21496 closed, assigned to nobody

[2020-10-19 12:56] khouloudbelguith opened #21500 "BO - Order page - Ajax issue - The gift Product is not removed when removing a product ordered"
#### Describe the bug

Related to this [PR](https://github.com/PrestaShop/PrestaShop/pull/21447)
In the FO, when we add product A to the cart then checkout, the Order must contain Product A and Product B
In the BO > Order detail page => when we remove the Product A from the order, the cart rule is removed and Product B is not removed, we need to reload the page

#### Expected behavior

The Product

[2020-10-19 12:56] khouloudbelguith opened #21501 "BO - Order page - When we update a product quantity, the gift product is not added to the order"
Related to this [PR](https://github.com/PrestaShop/PrestaShop/pull/21447)

#### Describe the bug

When we have an old order, we try to update a quantity's product which has a specific discount, the Gift product is not added to the order

#### Expected behavior

1/ If the cart rule specifically applies a reduction on a product, it uses the rule defined for when the product is added in the order. 2/

[2020-10-19 13:00] phanie44 opened #21502 "Order_history record to state id=2 not created (sometimes)"
#### Describe the bug

After customer payment process, the order is created and its status is good (attribute "current_state" in the table "orders" is setting to "2") --> this update is done each time

And **sometimes**, the record in the table "order_history" with the state to 2 is not created.

In the logs, the line "change status oder id : 9999 01" is not created

#### Expected behavior

The re

[2020-10-19 13:01] equipposbarcelona opened #21503 "Search by & show EAN and other reference fields in Catalog / Stock Window"
#### Is your feature request related to a problem?
In many cases, EAN13 is representing a unique combination (color, size...) Searching by EAN we can get the exact combination we're looking for. Additionally, we can export this window to perform inventories based on barcodes.

![ean13](https://user-images.githubusercontent.com/73116704/96454563-533fb380-121c-11eb-8ba3-bfbd5540bf0a.png)

It would b

[2020-10-19 13:02] khouloudbelguith opened #21504 "BO - Order page - the Selection page is not well displayed"
Related to this [PR](https://github.com/PrestaShop/PrestaShop/pull/21447)
#### Describe the bug

In the BO > Order detail page, after canceling order and re-adding products.
The selection page is NOK

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Order detail page
2. Delete all products
3. add a new pr

[2020-10-19 13:11] khouloudbelguith opened #21506 "BO - Order page - Updating a product with a specific discount (gift)"
Related to this [PR](https://github.com/PrestaShop/PrestaShop/pull/21447)

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule
1.1 Informations: without code
1.2 Conditions: Product selection demo_6
1.3 Actions: Free shipping

[2020-10-19 13:19] khouloudbelguith commented on #21506
Ping @jolelievre @MatShir what do you think about the severity of this issue? is it minor or Major?

Thanks!

[2020-10-19 13:20] #18701 closed, assigned to marionf

[2020-10-19 13:21] Progi1984 commented on #21438
Fixed by #21447

[2020-10-19 13:21] #21438 closed, assigned to PierreRambaud

[2020-10-19 13:36] MatShir commented on #21506
I would say Minor since it happens only when there is one product left.

[2020-10-19 13:40] khouloudbelguith commented on #21503
Hi @equipposbarcelona,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-10-19 13:47] khouloudbelguith commented on #21502
Hi @phanie44,

Thanks for your report.
So your issue is related to the `ps_order_history` table? is it?
In this table, the `id_order_state` is not correct? is it? but is the BO > Order detail page => ok?

Thanks!

[2020-10-19 13:49] MatShir commented on #21503
Hi @equipposbarcelona,
Great idea to add the search for EAN13 on the stock page!
But to display all the information plus EAN13, it can be a lot for the table. We might need advice from our Designers.
What do you think @TristanLDD @prestascott?
Maybe if merchants is searching/sorting by EAN13, they might not need to see the reference as well.

[2020-10-19 13:52] NeOMakinG commented on #21012
It's required for bootstrap datetime picker, the main maintainer  plane to remove it but for now we're blocked with it

https://eonasdan.com/posts/state-of-my-picker

Also, this dependency should probably be inside the UIKit instead of the main project, but it won't resolve this issue at all

[2020-10-19 13:58] PierreRambaud commented on #21012
I think we can close this pull request if it's mandatory for our dependencies :)

[2020-10-19 14:02] phanie44 commented on #21502
Hi,
Here are my answer

So your issue is related to the ps_order_history table? --> YES

In this table, the id_order_state is not correct? --> In fact, there is NO record created in the "ps_order_history" (and that's the problem)  (the "current_state" attribute in the table "ps_orders" is updated fine) -

but is the BO > Order detail page => NO, as you can see in the screen, the state is to 0 (ins

[2020-10-19 14:02] MatShir commented on #21488
Hi @espamoto,
Does the value of the stock on the product page still correspond to the actual stock?

Besides, if you know in advance the combinations to be deactivated you can thank to the import you can enter on an excel file the products to be deactivated in one go.

[2020-10-19 14:16] khouloudbelguith commented on #21502
@phanie44, did you check if you have any override related to this?

THanks!

[2020-10-19 14:22] NeOMakinG commented on #21012
Yes, it will be naturally removed when it will kicked from boostrap-datetime-picker

[2020-10-19 14:22] #21012 closed, assigned to NeOMakinG

[2020-10-19 14:46] NeOMakinG commented on #18032
I confirm this seems to have been created on the 1.7 beta release (more than 4 years ago), and it looks like the webpack conf has never been usable...

[2020-10-19 15:02] phanie44 commented on #21502
I don't think so.
Can you tell me what is php file which could be overridden ?

[2020-10-19 15:14] NeOMakinG opened #21514 "Classic theme readme is wrong"
#### Describe the bug

On the classic readme, it's saying that the Classic theme is new, and based on the "new starter theme" which looks wrong now, it's not new and the starter theme is not maintained anymore.

#### Expected behavior

Not having "new theme, new starter" inside the readme

[2020-10-19 15:14] khouloudbelguith commented on #21502
@phanie44, for example in this path [/PrestaShop_folder/override/](https://github.com/PrestaShop/PrestaShop/tree/develop/override/), you can find overrided files.

Thanks!

[2020-10-19 15:17] NeOMakinG commented on #14533
@matks I don't know what to do with this issue, we can't rework it as everyone wants, because it would introduce so much BC breaks, this shouldn't go to the kanban tbh...

The only quick solution would be to develop a parallel theme, which is probably what we don't want, the next one is to wait the major version in order to refacto this theme.

wdyt @PrestaShop/prestashop-maintainers ?

[2020-10-19 15:22] kpodemski commented on #14533
I'm the one of few maintainers of community-theme for 1.6 (it's in PrestaShop organization), give me green light and I'll progress with similar project on 1.7

[2020-10-19 15:29] marionf commented on #14093
@sarahdib your video isn't available anymore

I tried to reproduce this issue on 1.7.7.x without success

@khouloudbelguith Could you try to reproduce it and link a video in the description if you reproduce it ?

Thanks

[2020-10-19 15:37] khouloudbelguith opened #21516 "BO - Multistore - an error is displayed in the console in the Multistore page"
#### Describe the bug

In the BO > Advanced Parameters > Multistore page, an error is displayed in the console
![image](https://user-images.githubusercontent.com/16067358/96473207-a4a66d80-1231-11eb-8aa7-4bcef041f9de.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multistore context
2. Go to BO > Advanced Parameters > Multistore page'
4. See error

#### Additional inform

[2020-10-19 15:53] phanie44 commented on #21502
Yes I have a few, but I think they don't work on these table, and more of all, the issue occurs random way

[2020-10-19 16:00] khouloudbelguith commented on #21502
@phanie44, how can I reproduce the issue?
I need all the steps to reproduce it.

Thanks!

[2020-10-19 16:04] matks commented on #14533
The right solution is to rework the Classic Theme for PS 8.0.0 . So it's a slow long-term solution.

As for a quick solution, we encourage people to create their own Theme base such as [Classic Rocket](https://github.com/prestarocket-agence/classic-rocket) but these must be community-only.

There are many issues with starting a new Theme for PS 1.7
- it means we have 2 themes to maintain, every ch

[2020-10-19 16:04] jolelievre commented on #20409
Note: this bug was partially fixed in https://github.com/PrestaShop/PrestaShop/pull/20776 but now requires more specification to decide the expected behaviour

Many fixes from the PR have been moved in separate ones (shipping fixes among other things) The PR is closed but some elements might be interesting when the issue is re-defined and fixed so I mention it here

[2020-10-19 16:05] jolelievre commented on #20778
Note: this bug was partially fixed in https://github.com/PrestaShop/PrestaShop/pull/20776 but now requires more specification to decide the expected behaviour

Many fixes from the PR have been moved in separate ones (shipping fixes among other things) The PR is closed but some elements might be interesting when the issue is re-defined and fixed so I mention it here

[2020-10-19 16:06] IAmWebSA opened #21518 "id_product_attribute is missing in email $product"
#### Is your feature request related to a problem?

There is no id_product_attribute available in the $product variable used in the order_conf.

This is needed for modules with custom hook in the mail tpl which use the attribute.

#### Describe the solution you'd like

Add id_product_attribute to order conf mails

[2020-10-19 20:41] PululuK opened #21520 "[Improvement][Combination] Add date_add and date_upd in Combination object"
## Is your feature request related to a problem?

Especially for the developers, it would be interesting to have a history of the date of add and the last update of the combinations.
Ex.: If I have an error while importing the combinations, I can find the last ones that have been created very quickly

## Describe the solution you'd like

Add `date_add` and `date_upd` in [Combination](https://githu

[2020-10-19 22:42] z72diego commented on #21428
Hi, i just tested the problem in PS 1.7.6.8 and still happening. Can anyone give me a hand with a fix for 1.7.6.x branch?

Thanks

[2020-10-19 23:17] TecnoHands commented on #21484
Hi @khouloudbelguith yes taxes are all disabled, in the country option (Image 2) and in Tax option too (Image 1).
And the FO in the classic theme and warehouse theme too display "NO TAX"

![image](https://user-images.githubusercontent.com/16818257/96521276-46848500-1247-11eb-834d-710c8d475483.png)
This error I see in Presta 1.7.7.0 beta 2, and the image is from the 1.7.6.8

And I didn't report it

[2020-10-19 23:36] TecnoHands commented on #21484
And, I see, this bug repeating too in the product modal (Quick View)
![image](https://user-images.githubusercontent.com/16818257/96522839-af213100-124a-11eb-96a4-976e5e61010d.png)

[2020-10-20 05:43] SimonGrn commented on #21428
Hello,

I already answered, we can't give you the exact fix as it may involve a lot of modifications.
You can however check for the fix in the code since everything is public.

I close this issue, thank you for your understanding.

[2020-10-20 05:43] #21428 closed, assigned to nobody

[2020-10-20 07:41] Julievrz commented on #14039
"Are you sure you want to upgrade this module? We advise you not to upgrade a module without first testing it on maintenance mode to avoid any cache issues." in _Admin.Modules.Notifications_

What do you think @LouiseBonnard, @Matt75 ?

[2020-10-20 07:52] khouloudbelguith commented on #21520
Hi @PululuK,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-10-20 08:08] grzegorzgit opened #21524 "Incorrect smarty variable name $cms.meta_title is not meta title, is a title and the $page.title is empty => NOK"
#### Describe the bug

In editing CMS page, there is a field "**title**" and it is described as the value that goes into h1 in .tpl.
![image](https://user-images.githubusercontent.com/24461669/96556998-fc88b700-12b9-11eb-984b-c3c8a176cc14.png)

But in the classic theme in .tpl file, there is variable **$cms.meta_title**:
page.tpl:
![image](https://user-images.githubusercontent.com/24461669/9655711

[2020-10-20 08:09] khouloudbelguith commented on #21518
Hi @IAmWebSA,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-10-20 08:11] kpodemski commented on #21524
Hey @grzegorzgit

I know that it's confusing but there's no such a value as `title` in `cms_lang`, this is why the real title of the `CMS` is... `meta_title` :)

[2020-10-20 08:21] grzegorzgit commented on #21524
Hi,
ok, but the "title" is saved somewhere anyway (together with its language versions), so why not to change it? It is only about variable names, imagine someone would switched variable displaying price net with gross just because of some code architecture... It doesn't make sense, it needs to be fixed as it shows certain unreliability of the system.

[2020-10-20 08:27] khouloudbelguith commented on #21524
Hi @grzegorzgit,

I tried with
`{$page.title}` =>an empty value
`{$cms.meta_title}` => Title og the CMS page
When I try to` {$cms.title}` or `{$page.meta_title}`, I have an exception
![image](https://user-images.githubusercontent.com/16067358/96560394-89ce0a80-12be-11eb-85e6-72a9abf41cd2.png)

So your issue that `{$cms.meta_title}` is incorrect, is it?
Thanks to check and feedback.

[2020-10-20 08:31] HartLarsson commented on #21451
I totally agree with you, but actually he only way to change form order is to change adress field order that is not good at all.

[2020-10-20 08:36] grzegorzgit commented on #21524
Hey @khouloudbelguith ,
the variable $cms.meta_title  displays "title" and not meta title. The variable $page.title is empty and it should contain page title.
So the issue is to change $cms.meta_title so it actually displays what it says, and to put the page title into $page.title variable.

Thanks.

[2020-10-20 08:46] MatShir commented on #21451
I see, thanks for your clarification

[2020-10-20 08:50] khouloudbelguith commented on #21484
Hi @TecnoHands,

So, as I understand when Tax is disabled & Lable tax is disabled also, we should Not display "No tax" in the FO.

We have two options when we disable Tax

1. If Display tax label is enabled => "No tax" is displayed in the FO (Product page - Quick view page)

2. If Display tax label is enabled => "No tax" should be not displayed in the FO (Product page - Quick view page)

Ping @Pre

[2020-10-20 08:57] khouloudbelguith commented on #21524
@grzegorzgit,

Thanks for your feedback.
I manage to reproduce the issue with PS1..7.6.8 and PS1770rc1build2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-10-20 09:16] khouloudbelguith commented on #14093
Hi @sarahdib @marionf,

I did not manage to reproduce the issue with PS1770rc1build2.
I attached a screen record
https://drive.google.com/file/d/1xUV7SFX5CucN1bCca7yIYunuu2y-AHoI/view?usp=sharing

Thanks!

[2020-10-20 09:32] phanie44 commented on #21502
I understand, but for the moment I didn't succeed to see the difference between the order which the "ps_order_history" is created of not.

After credit card payment, then the order is created and the status is assigned to "2 - payment accepted", and the order_history is created.

I'm going to investigate more, but if on yourside you have a process to recommand me to test, it could be great

Thanks

[2020-10-20 09:37] khouloudbelguith commented on #21502
@phanie44,

Have you tried to contact the module developer?
Did you use only this payment module when the issue occurs?

Thanks!

[2020-10-20 10:11] #9634 closed, assigned to kpodemski

[2020-10-20 10:25] #21514 closed, assigned to nobody

[2020-10-20 11:24] khouloudbelguith opened #21525 "BO - Order page - An error 500 is displayed when adding a product with a min quantity"
#### Describe the bug

In the BO > New Order page > when we try to add a product with quantity < minimal quantity, we have an exception not clear
![image](https://user-images.githubusercontent.com/16067358/96579235-cd347300-12d6-11eb-9639-793b0a5f4ce0.png)

#### Expected behavior

Should be like 1768 "clear alert"
![image](https://user-images.githubusercontent.com/16067358/96579117-99f1e400-12d6-1

[2020-10-20 11:25] khouloudbelguith commented on #21525
Related to https://github.com/PrestaShop/PrestaShop/issues/20671 & https://github.com/PrestaShop/PrestaShop/issues/18568

[2020-10-20 11:27] khouloudbelguith commented on #19595
Hi @MatShir,

we have an issue related to this Epic reported here: https://github.com/PrestaShop/PrestaShop/issues/21525.
Can we re-open this Epic?

Thanks!

[2020-10-20 11:52] khouloudbelguith commented on #21525
As discussed with @Robin-Fischer-PS, it is a major regression because it is an issue reproduced in the order page
merchants do not use debug mode usually.

Thanks!

[2020-10-20 12:03] NKoonen commented on #21104
Any news on this issue?
It's weird, when all of Prestahop's cache is disabled it still uses (smarty) cache.

[2020-10-20 12:35] navid59 commented on #18571
So, now what is the solution?

How can I add jQuery in my back-office module ?
I tried to add **$this->context->controller->addJquery()** in  **hookBackOfficeHeader()**
But is not helping  at all.

What will be the solution to call jQuery in back-office module?

[2020-10-20 12:42] phuthoma commented on #19182
Clearing the cache (class_index.php) solved the issue in my case...

[2020-10-20 12:52] MatShir commented on #19595
No need, the issue will be close quickly for the 1.7.7 build.

[2020-10-20 13:30] Hlavtox commented on #21101
@matks @eternoendless Randomly stepped on this topic on processwire forums.
See: https://processwire.com/blog/posts/processwire-3.0.10-expands-image-resize-options/#gd-vs-imagemagick-examples

Imagick for the win 🚀

[2020-10-20 14:22] khouloudbelguith opened #21529 "BO - Orders page - increment/decrement button doesn't work when we try to add a product out of stock < 0 (allow order"
#### Describe the bug

In the BO => Orders page => New Order page => when we try to add an out of stock product with allowing order, the increment/decrement button doesn't work
In this PR: https://github.com/PrestaShop/PrestaShop/pull/20714 we just fixed when the quantity of product **=** 0
But when the quantity product **<** 0 => NOK

#### Steps to Reproduce

Steps to reproduce the behavior:

1.

[2020-10-20 14:36] PululuK commented on #21529
Hi @khouloudbelguith
But ... you have a negative stock right ?
Thanks

[2020-10-20 14:43] khouloudbelguith commented on #21529
@PululuK, yes!

If you have Allow orders as behavior when out of stock => We can have negative stock.
Steps to reproduce it for example:
Product quantity = 1 with Allow orders when out of stock
From the FO, a customer adds to the cart 3 products => checkout
In this case we have a product quantity = -2 < 0

Thanks!

[2020-10-20 14:44] jolelievre commented on #21529
@PululuK You can configure the products to authorize to be ordered out of stock via `Product::out_of_stock`

[2020-10-20 14:46] PululuK commented on #21529
Yes I know, I misunderstood the description ... I'm sorry !

[2020-10-20 14:58] MaximusBaton commented on #18571
I made a workaround with a hope of a fix with next update
`./themes/javascript.tpl`
[code]

[2020-10-20 15:28] khouloudbelguith opened #21531 "BO - Order page - Incorrect quantity added to product when it is added to the same order as a gift also"
#### Describe the bug

In the BO > Add new Order page > when we have a product added to the order; as a gift ( a voucher applied) and as a product ordered, the quantity added to the same product NOK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule "free gift demo_12" without code
2. Go to BO > Order page > Add new order
3. Add demo_12 to the cart (free gift weel ad

[2020-10-20 15:41] Robin-Fischer-PS opened #21533 "Cart made by merchant in BO > Create order displayed to customer in FO"
#### Describe the bug

When a FO user has a "Non ordered" cart (for example, he added a product to his cart then deleted it), if the merchant makes a cart for this customer from BO > Add new order, but does not complete the order, then, customer on FO will have the cart the merchant made in BO.

This behavior is, I think, really unlikely to happen, but it could surprise a lot a customer

#### Expe

[2020-10-20 15:59] rederijker opened #21535 "Remove ID from category/cms/product url for best SEO practice"
#### Is your feature request related to a problem?

ID in url category/product/cms page ecc. make url not seo friendly.

#### Describe the solution you'd like

Delete id or hide id from url
#### Alternatives you've considered

[2020-10-20 16:34] Bawalwebs opened #21536 "ps_facetedsearch doesn't show all sizes"
#### Describe the bug

In the product list of one category, there are some values that aren't showed.

For example, there are some size or color that is not showed in the module.

#### Expected behavior

All combinatios of the product must be showed in the module for the user can filter the products correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'http://31.200.244.

[2020-10-20 16:49] TecnoHands commented on #21484
@khouloudbelguith
2. If Display tax label is Disabled => "No tax" should be not displayed in the FO (Product page - Quick view page)
This is the bug, when Display tax label is disabled, prestashop display "No Tax" in product page and quick view, clearly the function disable doesn't work fine. if I dont want to display nothing in relation to the taxes this function doesn't work

[2020-10-21 02:18] liloubio opened #21538 "Dashproduct not working"
I cannot get stats in the Dashboard.

How to reproduce:
1. Go to 'Dashboard’
2. Scroll down to 'Dashproduct'
3. Dashproduct doesn’t display anything.

[2020-10-21 02:53] kzay commented on #20405
Same issue in 1.7.6.8 without debug activated

![image](https://user-images.githubusercontent.com/6666880/96667386-ff6dc100-1326-11eb-8e2a-d7584421fbb2.png)

[2020-10-21 06:08] Fannaj opened #21539 "https://github.com/PrestaShop/PrestaShop/issues"
We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: https://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

If you need help with your shop or third-party modules, please consider the PrestaShop Company support

[2020-10-21 06:22] drmsjee9 opened #21540 "help me"
root@shah:~# cd Desktop
root@shah:~/Desktop# git clone https://github.com/thewhiteh4t/seeker.git
Cloning into 'seeker'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 732 (delta 4), reused 12 (delta 2), pack-reused 716
Receiving objects: 100% (732/732), 12.88 MiB | 688.00 KiB/s, done.
Resolving d

[2020-10-21 07:36] SimonGrn commented on #21540
Dear @drmsjee9
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-21 07:36] #21540 closed, assigned to nobody

[2020-10-21 07:36] #21539 closed, assigned to nobody

[2020-10-21 07:37] matks commented on #21540
Looks like spam actually 🤔 ?

[2020-10-21 07:38] SimonGrn commented on #20892
@okom3pom are you sure this is related ?

[2020-10-21 07:39] SimonGrn commented on #21539
Hello,

I'm not sure what you were trying to tell us, but you just posted the template without any information. Could you please open a new issue, following the template, and answering the questions in it ?

Thank you in advance.

[2020-10-21 07:39] SimonGrn commented on #21538
Dear @liloubio,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-10-21 07:39] #21538 closed, assigned to nobody

[2020-10-21 07:41] SimonGrn commented on #21540
That doesn't sound related to PrestaShop at all, so I guess it's a fail ?

[2020-10-21 08:11] khouloudbelguith commented on #21536
Hi @Bawalwebs,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.8 and ps_facetedsearch v3.6.0.
![image](https://user-images.githubusercontent.com/16067358/96691731-89e50d80-1385-11eb-8878-1769d06001db.png)
Could you please navigate to your BO > Module Manager > ps_facetedsearch configuration page => Click on "Build attributes and features indexes" and "Clear cache", ch

[2020-10-21 08:16] khouloudbelguith commented on #21535
Hi @Cricchio,

Thanks for your report.
Ping @PrestaShop/product-team what do you think of this improvement?
In our case, the Id is required
![image](https://user-images.githubusercontent.com/16067358/96692505-64a4cf00-1386-11eb-9b8b-2a2e7cbe09d7.png)

Related to:

- https://github.com/PrestaShop/PrestaShop/issues/20677
- https://github.com/PrestaShop/PrestaShop/issues/9784
- https://github.com/Pre

[2020-10-21 08:22] #18032 closed, assigned to NeOMakinG

[2020-10-21 08:25] eternoendless commented on #21535
PrestaShop needs the ID to find the related product. Rest assured, even though the presence of the ID in the URL can arguably be "ugly", it has no impact on SEO.

[2020-10-21 08:27] YehudaEi opened #21541 "The design of the 1.7.6 site is broken with php7.4"
#### Describe the bug

I attach screenshots of the store in both Hebrew and English.
All select components do not work and are displayed incorrectly.
Plus, when you add a sample product the CSS goes completely crazy and the page is displayed completely incorrectly!
Also, due to this glitch, settings cannot be saved (note that the settings are saved but are not actually saved)

**Screenshots**
Hebr

[2020-10-21 08:29] khouloudbelguith commented on #21541
HI @YehudaEi,

PrestaShop is not compatible with PHP 7.3/PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
The next Major release PS1.7.7 will be compatible with PHP7.3.
PS1.7.8.0 wi

[2020-10-21 08:29] #21541 closed, assigned to nobody

[2020-10-21 08:34] NeOMakinG commented on #21189
PrestaShop/prestashop-ui-kit#107 doesn't fix the whole PR, we'll have to add the "status" class on every badges where the style differ

[2020-10-21 08:34] khouloudbelguith commented on #21535
Hi @Cricchio,

Your ticket is a duplicate of #20677
Please follow #20677.
So, I close it.
Thanks!

[2020-10-21 08:34] #21535 closed, assigned to nobody

[2020-10-21 08:34] khouloudbelguith commented on #21535
Duplicate of #20677

[2020-10-21 08:43] NeOMakinG commented on #17862
@Progi1984 don't assign me, rtlfix path is related to backend stuff

[2020-10-21 08:44] prakhar-ap commented on #260
Hi,
I am currently working on some logic where i need to fetch the data from javascript to Prestashop code.
I used `$_COOKIE['search']` to extract a cookie from the browser because `Context::getContext()->cookie` is not able to fetch the required cookie.

While validating,
It shows me an error of

`The use of $_COOKIE is forbidden; use Context::getContext()->cookie instead
`
Can you please suggest

[2020-10-21 08:47] jolelievre commented on #21501
I believe the gift product is only handled when we add the product I'm not sure though this will need to be checked in the code
However I wonder what is the behaviour in 176, it's highly possible that this bug already existed, in which case it should be fixed in 178 as it might not be a regression.

[2020-10-21 08:52] prakhar-ap opened #21542 "Can I skip Prestashop validation for a particular file/folder?"
Hi,
I am currently working on some logic where i need to fetch the data from javascript to Prestashop code.
I used `$_COOKIE['search']` to extract a cookie from the browser because `Context::getContext()->cookie` is not able to fetch the required cookie.

While validating,
It shows me an error
`The use of $_COOKIE is forbidden; use Context::getContext()->cookie instead
`
Can you please suggest me

[2020-10-21 08:55] khouloudbelguith commented on #21542
Hi @prakhar-ap,

Thanks for your report.

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7

[2020-10-21 08:55] #21542 closed, assigned to nobody

[2020-10-21 08:56] kpodemski commented on #21542
Hello @prakhar-ap

if you want to use `Cookie` you need to write your value directly into PrestaShop's cookie instead of global one, for example:

[code]

[2020-10-21 08:56] Max84 opened #21543 "Adding combination through webservice gives a SQL error"
#### Is your feature request related to a problem?

Add a product onto back-office with combination.
Add a new combination with default_on = true throw webservice.
A SQL error occurs :

[SQL Error] Duplicate entry '45-1' for key 'product_default'. From DbCore->insert() Query was : INSERT INTO `ps_product_attribute` (`id_product`, `location`, `ean13`, `isbn`, `upc`, `quantity`, `reference`, `suppli

[2020-10-21 08:57] prakhar-ap commented on #21542
But see..
i am using a script in .tpl file to set the cookie

[2020-10-21 09:01] kpodemski commented on #21542
This is not really a proper way to set a cookie, I mean it's not good to set a cookie from view.

I suggest you to create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg)

[2020-10-21 09:01] prakhar-ap commented on #21542
Hi @khouloudbelguith
Can you please reopen this...
as I am using MAMP server.
and except `$_COOKIE['search']` thing my module passed all the validations

[2020-10-21 09:02] prakhar-ap commented on #21542
Then, How i am suppose to pass on the selected value to Prestashop code?

[2020-10-21 09:04] kpodemski commented on #21542
You'll need to share more context on what you're trying to do, like I said, best is to visit [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg)

[2020-10-21 09:04] prakhar-ap commented on #21542
Ohkay, thanks for your time.

[2020-10-21 09:07] marionf commented on #14093
I reproduced the issue on 1.7.7.0, I edited the steps to reproduce and added a screenrecord

[2020-10-21 09:16] NeOMakinG commented on #20631
@PrestaShop/product-team Is this really in the 1.7.7 scope ? It looks a bit late to be in, but just tell me :)

[2020-10-21 09:20] khouloudbelguith commented on #21543
Hi @Max84,

I manage to reproduce the issue with PS1.7.7.0rc1build2.
`&lt;message&gt;&lt;![CDATA[[SQL Error] Duplicate entry '27-1' for key 'product_default'. From ObjectModelCore-&gt;add() Query was : INSERT INTO `ps_product_attribute` (`id_product`, `location`, `ean13`, `isbn`, `upc`, `mpn`, `quantity`, `reference`, `supplier_reference`, `wholesale_price`, `price`, `ecotax`, `weight`, `unit_pric

[2020-10-21 09:36] Max84 commented on #21543
Hi @khouloudbelguith

You've right, we can update all combination to false before, but I don't think it's a good way to do that.

My first reason is about performance. In order to do that you may need several http request. It's time consumming.
My second reason is to be like backoffice. When you set defaut_on to one combination all other are setted to false. Methods should already exist too.

Mayb

[2020-10-21 09:41] khouloudbelguith commented on #21543
@Max84, Yes, I think, it is an improvement.
I will ping our Product team @PrestaShop/product-team what do you think?

Thanks!

[2020-10-21 09:48] Robin-Fischer-PS opened #21546 "Missing fields in Add new Feature in BO"
#### Describe the bug

On BO > Catalog > Attributes and Features > Features > Add new feature form, in 1.7.7 RC1 Build 2, there are 3 fields missing :
- URL
- Meta Title
- Indexable

This is probably related to a bug in faceted search module.

#### Expected behavior

There fields should be displayed in the form

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Att

[2020-10-21 09:51] jolelievre commented on #21506
I'm not sure I understand the behaviour nor the expected result Which one is the gift?

Is it the gift that was previously added? And then you add a product that has an auto gift matching the present product? So the expected result is to increment the present product from 1?

If that's the scenario you are describing I think it should work if you refresh the page, but it is not updated by ajax rig

[2020-10-21 09:54] #17038 closed, assigned to nobody

[2020-10-21 10:22] khouloudbelguith opened #21548 "BO - Orders page - Vouchers block - Voucher line is not added when a cart rule "Discount for a country selection" is applied"
#### Describe the bug

In the BO => Orders => New Order page, the "Discount" line is not added to the Vouchers block when a cart rule "Discount for a country selection" is applied

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

You have at least France and United States countries enabled

1. Go to BO => Catalog => Discounts page
2. Create a cart rule

[2020-10-21 10:24] khouloudbelguith commented on #21548
Related to https://github.com/PrestaShop/PrestaShop/issues/20667

[2020-10-21 10:54] Cricchio commented on #21535
I'm sorry for duplicate issue. But i'm not agree with @eternoendless.

A seo friendly url is easy to remember for the user. Even if I moved the ID to the end of the uri, it wouldn't make things easier.
Thank you to all!

[2020-10-21 11:08] khouloudbelguith opened #21549 "BO - Order page - The Voucher "Free shipping " value is not updated when changing an address"
#### Describe the bug

The Voucher "Free shipping " value is not updated when changing an address
![image](https://user-images.githubusercontent.com/16067358/96711342-b147d480-139d-11eb-8732-5b061cd3b104.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a Free shipping cart rule with a code
2. Enable the Carrier "My light carrier"
3. Go to BO > Add new Order page (For John

[2020-10-21 11:09] khouloudbelguith commented on #21549
Related to https://github.com/PrestaShop/PrestaShop/issues/21548

[2020-10-21 11:50] evmimagina opened #21551 "AZURE PrestaShop's Marketplace Template "Prestashop Performance Template" not working"
Hi,

#### Describe the bug

Unable to provision, process stuck on "Running Final Validation...."

#### Expected behavior

Next step of the Wizard

#### Steps to Reproduce

Just try to create a deployment using the Marketplace Prestashop's template

**Screenshots**

![image](https://user-images.githubusercontent.com/56918327/96715701-464dcc00-13a4-11eb-8298-9c91cab97168.png)

#### Additional inform

[2020-10-21 12:07] marionf commented on #20631
@NeOMakinG It's not in the 1.7.7 kanban and it's not a regression of the 1.7.7, so not in the 1.7.7 scope

[2020-10-21 12:08] matks commented on #21533
😄

So does this mean that, at the end of the scenario, the customer can see in its area its old cart AND the new cart, created by the BO user ? Or only the new cart ?

[2020-10-21 12:09] khouloudbelguith commented on #21551
Hi @evmimagina,

This is an open source project Related to PrestaShop Core.

You can find help here: https://addons.prestashop.com/en/contact-us

Thanks!

[2020-10-21 12:09] #21551 closed, assigned to nobody

[2020-10-21 12:09] NeOMakinG commented on #20631
Alright, gonna do it on develop

[2020-10-21 12:12] evmimagina commented on #21551
Hi @khouloudbelguith ,

Ok, I will contact through that method.
FYI, the support on Marketplace template point's to this site.

Thanks,

[2020-10-21 12:21] ashishsh1984 opened #21552 "Ps_faceted module override"
Hi,
i asm using prestashop 1.7.6.7 version
I tried some filteration of product before rendering product result & facet.
 i tried "hookFilterProductSearch" in my custom module, it filtered the product result but cause wrong facet filter.

I tried Ps_faceted override too in oerride/modules/src/product/searchprovider.php but unable to override.

How can i achieve this?

[2020-10-21 12:57] SimonGrn commented on #21552
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-10-21 12:57] #21552 closed, assigned to nobody

[2020-10-21 12:58] ashishsh1984 commented on #21552
Hi,
I can't override prestashop ps_facetedsearch..so its a issue/bug or what?

[2020-10-21 13:08] PierreRambaud commented on #21552
Hi,
There is no hook in faceted search module. If something is missing in the module it's maybe easier to create a feature request in order to add what you need in this module :)

[2020-10-21 13:20] ashishsh1984 commented on #21552
can you advice how to i filter products with some where clause & in same time product result should be sync be facet too?

[2020-10-21 13:56] SimonGrn commented on #21551
Hello @evmimagina
your problem is not related to PrestaShop, you will not be able to get help here or on Addons. You must contact the Azure team directly as they are responsible for their product.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

Is this the product you were trying to use ? https://azuremarketplace.microsoft.com/en/marketplace/apps/presta

[2020-10-21 14:02] Julievrz commented on #14039
@TristanLDD @Matt75 Following our meeting, here is the updated wording for each situation:

1. The user is NOT on maintenance mode :

"Are you sure you want to upgrade this module? We strongly advise you to upgrade the module on maintenance mode to avoid any cache issues." in Admin.Modules.Notifications

With 3 exit buttons :

"Upgrade anyway"  in _Admin.Actions_
"Go to maintenance page" in _Admin

[2020-10-21 14:09] HartLarsson commented on #19642
Used Italian / Italy
I've not used any import Localization Pack.

[2020-10-21 14:24] Robin-Fischer-PS commented on #21533
The customer ("FO user") will only see the new cart created by the merchant ("BO User").

My guess would be that the ID of the FO abandoned cart (with nothing in it) is re-used when creating the cart from the BO, so when the user on FO refresh, his "abandoned cart" is now full with what the BO User added. But it's just a guess, I'm not really a technical guy :stuck_out_tongue:

[2020-10-21 14:38] Robin-Fischer-PS opened #21556 "Disabled voucher not displayed on customer panel in BO"
#### Describe the bug

On BO > Customers > Customer View, the "Vouchers" block is set to display all vouchers limited to this customer. But only the enabled vouchers ("Status" to "Yes") are displayed.

The vouchers which are disabled are not displayed.

Edit : To reproduce it, you must have no other active cart rules. As soon as you have another active cart rules, the bug is not present anymore (e

[2020-10-21 14:41] khouloudbelguith commented on #20793
Duplicate of #12682

[2020-10-21 14:41] #20793 closed, assigned to nobody

[2020-10-21 15:38] khouloudbelguith commented on #16578
Hi!

I manage to reproduce the issue with PS1770rc1build2.
![image](https://user-images.githubusercontent.com/16067358/96743321-27f7c880-13c4-11eb-99e3-8c52793590ae.png)

Thanks!

[2020-10-21 15:49] khouloudbelguith commented on #19642
@HartLarsson,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/96744618-88d3d080-13c5-11eb-97fd-9b50f82786de.png)
But it is fixed in the next release 1780 as reported here: https://github.com/PrestaShop/PrestaShop/issues/16336

Thanks to check and feedback.

[2020-10-21 15:56] LouiseBonnard commented on #10258
--> we could provide a new option to let the merchant decide if he wants to use customer language or employee language to download delivery slips and invoices when preparing orders. This option could be added in Shop parameters > Order settings, in a new block.

Behavior is okay for me, here is what I suggest:

**Label**: `Default language for order documents` in `Admin.Shopparameters.Feature`
**T

[2020-10-21 16:29] atomiix commented on #21556
@Robin-Fischer-PS I don't think this issue is a regression, I have been able to reproduce it on 1.7.6.x. To reproduce it, you must have no other active cart rules. As soon as you have another active cart rules, the bug is not present anymore (even on 1.7.7.x).

[2020-10-21 16:34] giff715 commented on #17277
You need to make sure your new 15000 setting is not commented out

check your php.ini file under ;max_input_vars 1500 MAKE SURE the " ; " is not infront of the "max_var_input" section
like this            max_input_vars = 15000      then save and restart the Apache server in your settings.

If you have a  ";" infront of these settings they will not be an active rule

[2020-10-21 16:38] Robin-Fischer-PS commented on #21556
You're right, it's just a weird bug, but not a weird regression, so it's OK for the RC1 :tada:

[2020-10-21 17:39] PierreRambaud opened #21558 "Make opcache revalidate_freq usable with the autoupgrade"
#### Describe the bug

Message from @jocel1, don't hesitate to complete if you see I missed something :sweat_smile:

During the upgrade process, when opcache is active and depending on the `revalidate_freq`, Core files are not properly taking by the PHP process.

#### Solution

At the end, an `opcache_reset` must be executed after the files update, but only if opcache is installed & used to be sur

[2020-10-21 19:55] prablordeppey opened #21559 "Smarty Cache Disable not working in version 1.7.6.5"
though I have disabled smarty cache in the performance section, I have to always click on delete/clear cache in order to effect new minor/major changes made to my tpl files otherwise, I will be rendered previous changes.

is this the default behavior? If so, what is the essence of disabling cache?

[2020-10-21 20:10] #21559 closed, assigned to nobody

[2020-10-22 07:36] mwkaicz commented on #13577
Seems that this bug is related with moving shop from one location to another. I got in same problems after moving the shop from one server to another.
- domain and also path to the main folder has changed from "/shop/" to "/" ( I changed it everywhere I found it in .htaccess and in DB tables)
 - problem occures in admin section after login.
 - v1.7.4.2
- PHP src server 7.3, target server 7.4.9

Is

[2020-10-22 07:46] #21463 closed, assigned to nobody

[2020-10-22 07:47] matks commented on #13577
Warning: I think v1.7.4 is not fully compatible php7.3 compliant and I'm sure it's not php7.4 compliant. This could create issues. See PHP compatibility per version https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2020-10-22 07:51] mwkaicz commented on #13577
Ouch, thx for warning, that page is kind of confusing, not everyone scrolls to the bottom of the page and at the top is written "We recommend PHP 7.1 or later. See the compatibility chart below for more details." :)

Solved 👍

[2020-10-22 08:33] Progi1984 commented on #16770
@PrestaShop/product-team Two questions for you :

* Does the module dashtrend have to consider refunds in their calculation ?
![image](https://user-images.githubusercontent.com/1533248/96846149-caaa5880-1451-11eb-8f0a-2894861db174.png)

* Does the module statssales have to consider refunds in their calculation ?
![image](https://user-images.githubusercontent.com/1533248/96846289-fe857e00-1451-11eb

[2020-10-22 08:38] eternoendless commented on #21535
You're free to disagree, but that's not the definition of SEO.

[2020-10-22 08:41] evmimagina commented on #21551
Hi @SimonGrn ,

Microsoft states that the support related to the product offered by publishers on their Azure marketplace, is on publisher's responsibility:

"Who's responsible for supporting customers?"

**Commercial marketplace publishers are responsible for supporting their software,** and Microsoft is responsible for supporting the purchase, billing, payments, and subscription management exper

[2020-10-22 08:44] atomiix opened #21560 "Set shop URL form not working"
#### Describe the bug

The form allowing to change the domains & Base URI of the shop doesn't save new values without any error message when certain characters are present in Base URI

#### Expected behavior

It should save the new values or display an error message.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Configure > Shop Parameters > Traffic & SEO
2. In *Set shop URL

[2020-10-22 08:52] SimonGrn commented on #21551
Yes obviously they reject the responsibility, but the thing is : PrestaShop is working well here. We have absolutely no idea how Azure works, how the infrastructure works, and we can't act on it.
This Github repository is also aimed only at bugs and new features in the project itself, not in installations or environment problems, these being the responsibility of the person creating the shop.

If

[2020-10-22 09:08] Stephlql opened #21561 "Quantity Product Problem"
#### When I add a product, several messages appear. As soon as I remove the product, everything goes back to normal and I have no more bugs. I don't understand why and I'm not sure where to look to fix the problem. Can you help me?

**Screenshots**

<img width="850" alt="Capture d’écran 2020-10-21 à 21 20 52" src="https://user-images.githubusercontent.com/73280831/96850174-cdf41300-1456-11eb-9226-

[2020-10-22 09:28] florine2623 commented on #21560
Hi @atomiix ,

I managed to reproduce your issue, using PrestaShop develop, PHP 7.2 and 7.3.
Here's the screen record :
https://drive.google.com/file/d/1JdDvrvji1fteH6C7dcGQEbZSoLIkGJp4/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-10-22 09:30] khouloudbelguith opened #21562 "BO - Order page - The label "Wrapping gift" and "Recycled packaging" must be shown on all the tabs"
#### Describe the bug

As described in the [spec](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/orders/orders/Order%20Page%20View.md#v-tabs-panel)

But it is NOK in the PS1770rc1build2, it is displayed only in the Shipping Tab.

#### Expected behavior

Please follow the [spec](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/orders/orders/Order%20Page

[2020-10-22 09:32] matks commented on #21551
@evmimagina we are not PrestaShop SA representatives 😄 we are PrestaShop Open Source project representatives - I understand it's ambiguous. Just like WordPress is a project and the related company is Automattic.

If PrestaShop company is the publisher, you need to reach out to the PrestaShop company to see if you can get some help about this topic 🤔 . However please note that - if I read it correc

[2020-10-22 09:40] eternoendless commented on #18647
## Status update: RC 1 build 2 has been created! 🏗️

The second build of Release Candidate 1 has been created on Tuesday and is currently undergoing QA validation. If everything goes well you can expect it to be published next week.

[2020-10-22 09:42] florine2623 commented on #21561
Hi @Stephlql ,

I can't reproduce your issue in PS 1.7.6.7.
If this happens after you have done a migration, I suggest you to check to error log. Or to restore a back-up of your store.

It seems like your issue is a configuration or server issue, not a core issue.
To get more help you can contact the [support team](https://addons.prestashop.com/en/388-support) or a [partner agency](https://www.pre

[2020-10-22 09:42] #21561 closed, assigned to nobody

[2020-10-22 09:48] evmimagina commented on #21551
Hi @matks ,

Thanks for your answer.
I see the problem here... but, how could I contact them if they point on that site to you? (:
@khouloudbelguith pointed me to contact though a website, on that website they told me to call a phone number... on a phonecall, they say I must buy a support add-on if I need someone look into this... and, honestly, I don't know why should we pay for something is on P

[2020-10-22 09:53] matks commented on #21551
@evmimagina I will try to find out which PrestaShop team put this into the team and ask them whether some kind of support is planned or not. The least we can do is clarify this matter on Azure marketplace.

[2020-10-22 10:11] evmimagina commented on #21551
Sounds great! Thank you @matks

[2020-10-22 10:12] SimonGrn commented on #21551
Sadly Khouloud made a mistake, you can forget this solution.

[2020-10-22 10:16] evmimagina commented on #21551
Hi @SimonGrn ,

This is were the person on the phone guided me:

https://addons.prestashop.com/en/support/16298-prestashop-support-plan.html

Did you mean I can forget about the prestashop's support addon? they won't solve anything about this?

Thanks,

[2020-10-22 10:30] SimonGrn commented on #21551
Yes, they're definitely not the correct interlocutor for this. We will check with our teams and find who exactly can answer to you, however I'm convinced it's highly dependant on Azure's infrastructure...

[2020-10-22 10:45] evmimagina commented on #21551
Hi @SimonGrn , @matks ,

We've found this;

https://github.com/PrestaShop/azure-template-performance

seems nobody is doing anything on that project? :D

[2020-10-22 10:52] Dezyderyjczyk opened #21564 "Update PS 1.6.1.6 to new version 1.7.3.2"
I get an error in the database update step:

PHP Fatal error:  Class 'PrestaShopBundle\
\Install\\Upgrade' not found in /[...]/httpdocs/install/upgrade/upgrade.php on line 42

PHP 5.6

[2020-10-22 11:09] Robin-Fischer-PS opened #21565 "Import file KO : ID are replaced even if option is set to No"
#### Describe the bug

I describe the bug for importing **Customers**, but this also apply to import of **Brands**, **Suppliers**, **Store contacts**, **Addresses** and **Alias**. It is OK for **Categories** and **Products** imports. Combination import does not apply to this since there is no ID in combination import file.

In Advanced Parameters > Import, when importing a customers file (for exam

[2020-10-22 11:21] florine2623 commented on #21564
Hi @Dezyderyjczyk ,
Please be more precise on the error you are having with steps to reproduce and screenshots.
If you need help to upgrade your shop, please contact the [support team](https://addons.prestashop.com/en/support/18689-upgrade-pack-prestashop.html).

I'll close your issue for now.

[2020-10-22 11:21] #21564 closed, assigned to nobody

[2020-10-22 11:22] evmimagina commented on #21551
Hi again,

Good news, forget it, I've just tryed the manual template from that branch and it seems that now is showing which might be the related issue.
Looks like it was due Azure's subscription restrictions (CSP)... I've tryied the deployment to different sort of subscription (Visual Studio) and it works!  So @SimonGrn , you were right :), it was an issue on Azure's side!

In any case, it might

[2020-10-22 11:26] khouloudbelguith opened #21566 "BO - Order page - Invoices - Multicurrencies - Incorrect Product's total when adding a product with a discount gift or changing the Shipping"
#### Describe the bug

In the BO > Order detail page, when we add a product with a specific discount (Gift) to an order that contains the gift product at first, we have incorrect total

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Upload United states pack
2. Change the currency "US Do

[2020-10-22 11:28] khouloudbelguith commented on #21566
Related to:
https://github.com/PrestaShop/PrestaShop/pull/21326
https://github.com/PrestaShop/PrestaShop/pull/21447

[2020-10-22 11:35] evmimagina commented on #21551
Well! I said victory too soon :( ... Still there's a problem, and now I can tell that must be with the template....

![image](https://user-images.githubusercontent.com/56918327/96866088-174e5d80-146b-11eb-88bc-568536a4b4fb.png)

**So if you still could find who could help, would be much appreciated :).**

Thanks!

The detailed message is;

{
    "status": "Failed",
    "error": {
        "code": "

[2020-10-22 11:52] thierry-laval commented on #21414
Hi

Here I have just tried again and it does not work. Always the same mistake
Version du module Autoupgrade the last one
Upgrade Prestashop from 1.7.6.5 to 1.7.6.8
[Ajax / Server Error for action upgradeFiles] textStatus: "error " errorThrown:" " jqXHR: " "

[2020-10-22 11:57] eternoendless commented on #21566
So in the products list the amounts are shown in € with the $ symbol, right?
The totals look right though.

[2020-10-22 12:26] jolelievre commented on #21566
Just a question, what happens if you refresh the page?
Does it become correct or still the same issue?

[2020-10-22 12:31] jungwirbtgut commented on #9866
also same problem in 1.7.6.7 .. But I don't know where it comes from..

[2020-10-22 12:45] hdkcreative commented on #14554
reset the module !

[2020-10-22 13:10] Prestaworks commented on #21140
@khouloudbelguith can you ping florine so he looks at this and answer my question?

[2020-10-22 13:19] khouloudbelguith commented on #21566
Hi @eternoendless,

Yes!

Hi @jolelievre,

Does it become correct or still the same issue?

No, the same issue
https://drive.google.com/file/d/1eP9SFgunBPxXd9vTcP_gAHgnsGP0grVI/view?usp=sharing

Thanks!

[2020-10-22 13:25] Dezyderyjczyk commented on #21564
On the screen, after calling http://localhost/install/upgrade/upgrade.php, I have an error 500 and the above message in the appache logs.

I do this howto https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/

[2020-10-22 13:31] matks commented on #21566
Hi @khouloudbelguith,

I did not reproduce the scenario, I think maybe some info is missing. Can you help me ?

➡️  I install the shop in French, with € as default currency. Is that OK ?

1. Go to BO > International > Upload United states pack
2. Change the currency "US Dollar" Exchange rate = 10, Decimals =2
3. Go to BO > Catalog > Discounts page
4. Create a cart rule "free gift" "demo_11" with s

[2020-10-22 13:40] khouloudbelguith commented on #21566
Hi @matks,

arrow_right So I create a cart rule. This cart rule gives "demo_6" as a gift ? But what is "demo_11" ?
What I did

In the Conditions Tab: Product selection => demo_6
![image](https://user-images.githubusercontent.com/16067358/96879446-5933cf80-147c-11eb-8f05-96ec797b760f.png)
In the Action Tab: free gift "demo_11"
![image](https://user-images.githubusercontent.com/16067358/96879572-7ec

[2020-10-22 13:42] jolelievre commented on #21566
Hi @khouloudbelguith

I managed to reproduce the scenario :) @matks your scenario is not the appropriate one the CartRule must be automatic with a code.

1. Have two currencies EUR and USD (with USD exchange rate at 10.00, and EUR default currency)
2. Create two products "Gifted Product" and "Product with associated gift" (quantity 100 for both)
3. Create a CartRule with
    - no code
    - restri

[2020-10-22 13:50] florine2623 commented on #20245
Hi @webstartconsulting ,
What exactly is the issue ?
Could you be more specific about the discounts created ? I will try it on my end once I have some more info.
Thanks!

[2020-10-22 13:54] khouloudbelguith commented on #21566
@jolelievre, this issue occurs in the invoices too, if you download the invoice => the prices are NOK.

Thanks!!

[2020-10-22 14:06] florine2623 commented on #19641
Hi @lisapowerlifts @mecene ,
I could not reproduce the issue using Check Payment and Bank Transfert with manual processing of the orders.
Please check with Braintree developers for that issue.

Thanks!

[2020-10-22 14:06] #19641 closed, assigned to nobody

[2020-10-22 14:23] khouloudbelguith commented on #21140
Hi @Prestaworks !

Done with a private message :+1:

[2020-10-22 14:55] elrosi commented on #21363
Hi @florine2623
The problem still exists and I managed to replicate it directly in the official demo of PrestaShop https://demo.prestashop.com/
https://share.vidyard.com/watch/NmMiXgkcDzpYkshMvrFaFA?

I used the following text: `Ak by ste chceli pridať poznámku k Vašej objednávke, prosím, poznačte ju nižšie.`
The character encoding in the database is **utf8_general_ci**

![2020-10-22_16-53-00](htt

[2020-10-22 15:01] florine2623 commented on #21140
Hi @Prestaworks
I couldn't reproduce your issue in PS 1.7.7.0.
The module that has to be updated, is updated correctly :
https://drive.google.com/file/d/1gocBakvUxzmMZh-4ydlSAsGl5uQ7L4mQ/view

When making any change to your module, if you want to keep the modifications after an upgrade, you need to put them in /override folder of your shop.

It is normal to not see your modifications done directly

[2020-10-22 15:06] elrosi commented on #21363
The result in the back office:

![2020-10-22_17-05-21](https://user-images.githubusercontent.com/1309982/96891411-ee3cc580-1488-11eb-99bb-acab0f2fb304.jpg)

[2020-10-22 15:15] khouloudbelguith opened #21571 "BO - Shipping - Carriers - No alert displayed when changing the Free shipping status or changing the status's carrier with bulk action"
#### Describe the bug

In the BO > Carriers page, No alert displayed when changing the Free shipping status or changing the status's carrier with bulk action

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Carriers page
2. Try to Enable/Disable Carriers with bulk action
4. See error: No alert displayed
4. Try to Enable/disable Free Shipping => No alert displayed

**Screen

[2020-10-22 15:16] khouloudbelguith commented on #21571
Ping @PrestaShop/qa-automation

[2020-10-22 15:19] khouloudbelguith commented on #21571
Hi @matks!

This issue could be fixed during migration?
https://github.com/PrestaShop/PrestaShop/issues/10585

Thanks!

[2020-10-22 15:37] spezia38 opened #21572 "Front office blocked for each action in the back office"
Hi,

I am having a problem loading category pages (FO). They are completely blocked for 3-4 minutes for each modification, even minor on a product in the back office.
The category pages are completely accessible in normal times.
After looking for a long time, I can't find a solution. The problem happened overnight without any updates. The number of products in the database has increased but that's

[2020-10-22 15:41] florine2623 commented on #21572
Hi @spezia38 ,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mi

[2020-10-22 15:41] #21572 closed, assigned to nobody

[2020-10-22 15:51] spezia38 commented on #21572
ok but who can help me

[2020-10-22 16:57] SimonGrn commented on #21572
@spezia38 Florine gave you a few links, you can follow them to get help.

I close this issue.

[2020-10-22 17:09] SimonGrn commented on #21552
Hello @ashishsh1984,

you can ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you for your understanding.

[2020-10-22 21:30] PululuK commented on #21571
@khouloudbelguith  FYI this affects all legacy controllers. You can check `AdminCarriers`
Thanks !

[2020-10-22 21:47] alfonsolr09 opened #21577 "error when displaying accents and rare characters"
#### Describe the bug

when a word has an accent or there is a strange symbol (/, -, º, etc ...) the word becomes a kind of code.
attached image

#### Expected behavior

accents and words must display well

**Screenshots**

https://prnt.sc/v4vs1f

#### Additional information

* PrestaShop version: 1.7.6.4
* PHP version: 7.2.34

[2020-10-23 06:36] Prestaworks commented on #21140
Hi @florine2623
But the point of the issue is that I upload a newer module to the server than is available on addons
Prestashop 1.7.7.0 har version 1.0 of the module
Addons has version 1.1.0 of the module
I upload an unreleased version to the shop 1.2.0
I click upgrade, the 1.1.0 is downloaded from addons, overwriting the 1.2.0 version that is newer on the server.
Then after this I can upload 1.2.

[2020-10-23 07:21] florine2623 commented on #21577
Hi @alfonsolr09 ,
I can't reproduce your issue in PS 1.7.6.4.
![Capture d’écran 2020-10-23 à 09 18 45](https://user-images.githubusercontent.com/16019289/96968159-dc066a00-1510-11eb-96fe-83f3d5fb84d9.png)
It seems like your issue is an encoding issue, you can change it in your database.
If you need more help, you can contact the [support-team](https://addons.prestashop.com/en/388-support) or an

[2020-10-23 07:21] #21577 closed, assigned to nobody

[2020-10-23 07:39] SimonGrn commented on #21577
@florine2623
It's only visible in Spanish when you have accentued characters (in your capture there is not).
It's however a duplicate of #21298 !
We are aware of this issue, it will be fixed when our team prioritizes it.

[2020-10-23 07:39] SimonGrn commented on #21577
Duplicate of #21298

[2020-10-23 07:43] SimonGrn commented on #21577
@florine2623
It's only visible in Spanish when you have accentued characters (in your capture there is not).
It's however a duplicate of #21298 and was fixed by PrestaShopCorp/ps_mbo/pull/101

You'll be able to download the new version of mbo when a new release will be issued.

Thank you

[2020-10-23 08:32] Julievrz commented on #10258
@LouiseBonnard It looks good to me ! 👍

[2020-10-23 08:43] matks opened #21579 "Improvements for ContextStateManager"
#### Is your feature request related to a problem?

In PR https://github.com/PrestaShop/PrestaShop/pull/21574/ we are improving [ContextStateManager](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/ContextStateManager.php) in order to handle multiple parallel usages of it.

Here are some new ideas we could implement for 1.7.8 to go even further:

**1. Automatic global context ove

[2020-10-23 09:26] marionf commented on #10258
@LouiseBonnard which option should be selected by default in the drop-down ?

[2020-10-23 09:27] LouiseBonnard commented on #10258
@marionf: the customer language.

[2020-10-23 09:42] khouloudbelguith commented on #9579
I manage to reproduce the issue with PS1770rc1build2.
![image](https://user-images.githubusercontent.com/16067358/96988610-d6b31a80-1524-11eb-915f-fc5f5dc29cb2.png)

[2020-10-23 10:36] fest73 opened #21584 "Correction with assignment of order reference"
#### Describe the bug

Faced the problem that at some point the code between the creation of the order reference and the creation of the order itself took a long time, which is why two customers received two identical order references

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create delay 20 seconds between the creation of the order reference and the creation of the order in P

[2020-10-23 10:40] florine2623 commented on #21584
Hi @dariusakafest ,

Thanks for the suggestion and the PR.
Regarding the first step, could you send the modification to be done to the file for creating the 20 second delay ?
We will do some tests before approving your PR.

Thanks!

[2020-10-23 10:41] dariusakafest commented on #21584
Need add sleep(20);

[2020-10-23 10:42] florine2623 commented on #21584
Which file ?

[2020-10-23 10:43] dariusakafest commented on #21584
PaymentModule class, I wrote in issue where

[2020-10-23 10:48] florine2623 commented on #21584
Ok thank you
The file is 1000 lines, could you give me a hint ?
Thanks

[2020-10-23 10:53] dariusakafest commented on #21584
@florine2623  Find the line "$this->currentOrderReference = $reference;" add after it sleep(20);

[2020-10-23 11:04] Seb33300 opened #21586 "Forward all email to a specific address"
We have test and preprod environments and we would like to prevent emails sent from them to be received by our customers.

Is it possible to prevent emails to be sent but instead redirect all emails to a specific email address?

Can we use the `delivery_addresses` swiftmailer config?
https://symfony.com/doc/3.4/email/dev_environment.html

Or maybe Prestashop already provide an easier way to implem

[2020-10-23 11:39] Julievrz commented on #15858
- [ ] 1-Click Upgrade
- [ ] Advertising block
- [ ] Available quantities
- [ ] Banner
- [ ] Best brands
- [ ] Best categories
- [ ] Best customers
- [ ] Best suppliers
- [ ] Best vouchers
- [ ] Best-selling products
- [ ] Brand list
- [ ] Browsers and operating systems
- [ ] Buy Button Lite
- [ ] Carrier distribution
- [ ] Cash on delivery (COD)
- [ ] Catalog evaluation
- [ ] Catalog statistics
-

[2020-10-23 12:32] marionf opened #21587 "Fatal error on FO & BO > Modules manager after a fresh install on develop"
#### Describe the bug

Fatal error on FO & BO > Modules manager after a fresh install on develop

#### Expected behavior

No error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install on develop branch
2. Enable debug mode
3. Open FO & BO > Module manager
4. See error

**Screenshots**

![capture d'écran_2832](https://user-images.githubusercontent.com/13449658/97003888-79c35e80-15

[2020-10-23 13:10] marionf opened #21588 "Bad URL for module catalog page after disabling MBO"
#### Describe the bug

If you disable MBO and refresh the page, the URL for Module catalog tab is
http://localhost/presta_177x/admin-dev/index.php?controller=AdminParentModulesCatalog
instead of http://localhost/presta_177x/admin-dev/index.php/improve/modules/catalog

#### Expected behavior

Display the page without error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Modules

[2020-10-23 13:27] florine2623 commented on #21586
Hi @Seb33300 ,
Please stay tuned as I ping our dev team on it.
Thanks!

[2020-10-23 13:36] alfonsolr09 commented on #21577
What is mbo?
I have the same problem with the order messages....

[2020-10-23 13:37] alfonsolr09 commented on #21577
@SimonGrn

[2020-10-23 13:41] florine2623 commented on #21586
Hi @PrestaShop/prestashop-core-developers ,
Could you take a look at @Seb33300 question please ?
Thanks!

[2020-10-23 14:00] MatShir commented on #21493
Hi @PululuK,
For a better understanding, I suggest exchanging to the two new input and display hosts allowed when the toggle of host is checked. What do you think ?

[2020-10-23 14:00] SimonGrn commented on #21577
MDO is the module showing you a list of module from Addons. All is visible in the links above. You can't do anything right now regarding this issue, you just need to wait until a new version is available and you update the module in your backoffice.

You however shouldn't have the problem with Orders messages. Please provide mode information.

[2020-10-23 14:25] marionf commented on #16802
@matks as it's not about the open source project, maybe we can close this issue and open it on Jira, wdyt ?

[2020-10-23 14:32] marionf commented on #21587
@PrestaShop/prestashop-qa Could you try to reproduce this issue ?

[2020-10-23 14:50] matks commented on #16802
As long as the bug is registered somewhere relevant I'm Ok with it 😄

[2020-10-23 14:52] ngodefroy commented on #21587
@marionf I just did a fresh install and couldnt reproduce your issue in FO & BO:
![Capture d’écran 2020-10-23 à 16 52 04](https://user-images.githubusercontent.com/69145330/97018998-1511ff00-1550-11eb-8ff8-036c8880ee67.png)
&
![Capture d’écran 2020-10-23 à 16 52 21](https://user-images.githubusercontent.com/69145330/97019037-1f33fd80-1550-11eb-9e6c-713f1f7e3b10.png)

[2020-10-23 15:19] amarkumar1234 opened #21591 "unable to import prestashop localization pack"
We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: https://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

If you need help with your shop or third-party modules, please consider the PrestaShop Company support

[2020-10-23 15:23] khouloudbelguith opened #21592 "BO - Order page - The gifted product quantity is not updated"
#### Describe the bug

In the BO > Order page > Order detail page > we have already a gifted_product in the order.
When we add a Product with an associated gift, The gifted product quantity is not updated

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule
1.1. no code
1.2. no condition
1.3. Free gi