[2021-10-13 18:48] tswfi commented on #26236
oh, actually the classic theme overrides the ps_shoppingcart templates that show the data: https://github.com/PrestaShop/PrestaShop/tree/develop/themes/classic/modules/ps_shoppingcart

so maybe this is actually a theme bug :D

[2021-10-13 19:08] Hellogark commented on #26199
I'm having the same issue when trying to update a product, the documentation says that i need to do a get for the product, then modify the xml and then send the whole xml as i got it, but when i send it i get two errors, the first one is  `<![CDATA[parameter "manufacturer_name" not writable. Please remove this attribute of this XML]]>` and the second one is  `<![CDATA[parameter "quantity" not writ

[2021-10-13 19:46] #26226 closed

[2021-10-13 21:31] presteamshop commented on #24987
@eternoendless I think it is something important to verify and give a prompt solution.

[2021-10-14 05:40] Magnusvb opened #26244 "Text fields set to "hidden" in GDPR module"
#### Describe the bug

After updating to 1.7.8 (from 1.7.7) all the text fields in the settings for the GDPR module have a local style of "visibility: hidden".

`<textarea class="autoload_rte" name="psgdpr_customer_form_2" text="" rows="4" cols="80" id="psgdpr_customer_form_2" style="visibility: hidden;">I agree to the terms and conditions and the privacy policy</textarea>`

#### Expected behavior

[2021-10-14 06:47] 111lisu opened #26245 "Presta 1.7.8.0 SMTP problem"
Description of the problem:
I have a problem with my email sending (SMTP) setup. It doesn't work ssl 465 / tls 587 - Error: please check your configuration, I also tested 1.7.7.3.

[code]

#### Expected behavior:
Should be Send test email from the form, as in the description http://doc.prestashop.com/display/PS17/Email
Configuring Advanced Parameters Email  - Send a test email

#### Steps to Repro

[2021-10-14 07:40] NeOMakinG commented on #19161
@hostisoft please create an issue and describe the exact step to reproduce, so we gan take a look

[2021-10-14 08:43] hibatallahAouadni commented on #26236
@tswfi Thanks for your PR :rocket:

[2021-10-14 10:33] Codencode opened #26248 "PS 1.7.8.0 Error compiling classic theme assets with Windows 10"
#### Describe the bug
When I try to compile the assets of the "classic" theme, the system gives an error.

If I run the command:
**npm run build**

I get the following error:
**"NODE_ENV" non è riconosciuto come comando interno o esterno**
I solved it by replacing in the package.json file
`"build": "NODE_ENV=production webpack --progress --colors --debug --display-chunks",`
with
`"build": "webpack

[2021-10-14 10:44] mmursalov commented on #26230
Hi @hibatallahAouadni ,

Yes, PHP 7.4 been on installed since version 1.7.7 and never had any issues during upgrades using 1-Click. I will do the downgrade anyway over the weekend, but I very much doubt issue is with that.

The version of 1-Click is 4.12 - the latest. Below is the screenshot of the settings:

![image](https://user-images.githubusercontent.com/70435301/137302760-fbd87c13-4649-4565-

[2021-10-14 12:16] jmm19 opened #26249 "ps_customtext not visible Text block"
#### Describe the bug

Text block in CMC modul ps_customtext is not visible in Admin

#### Expected behavior

What to change in code or CSS please?

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

![cms missing text block](https://user-images.githubusercontent.com/62876014/137315421-e63f47ef-94d8-4

[2021-10-14 12:20] kpodemski commented on #26249
Have you tried in the incognito mode? or clear the browser cache?

[2021-10-14 12:31] ytilotti opened #26250 "Enable bulk PDF of Delivery slip"
#### Is your feature request related to a problem?

Enable bulk for generating PDF of delivery slip. The functionnality can be generate one PDF with multiple page.

#### Describe the solution you'd like

Change the delivery slip generator pdf

#### Alternatives you've considered

N/a

#### Additional context

N/a

[2021-10-14 12:32] jmm19 commented on #26249
It is ok in icognito mode. Thank you.

[2021-10-14 12:32] #26249 closed, assigned to nobody

[2021-10-14 12:46] marwachelly opened #26252 "BO - the language dropdown is not well displayed when resizing the window"
#### Describe the bug

when we resize the window the language dropdown is not well displayed

#### Expected behavior

resize the window the language dropdown should be well displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to catalog >Attributes & Features > Add new attribute > resize window (the language dropdown is not ok)
2. Go to shop parameters> customer settibngs> T

[2021-10-14 14:16] hibatallahAouadni commented on #26232
What's your PS version and Customer reassurance module version?

[2021-10-14 14:25] roja45 opened #26256 "Upgrading to Prestashop 1.7.8 from 1.7.7, using custom theme, the theme was reset to classic"
#### Describe the bug

Upgraded to Prestashop 1.7.8 on an installation with a custom theme.  The theme was reset to the classic theme.  Reverting to the custom theme, all the hook positions had been reset.

#### Expected behavior

If upgrading, it shouldn't be resetting the theme, this leaves the installation unusable, and a big task to reattach all the hooks (and difficult if you don't know which

[2021-10-14 14:37] #26058 closed, assigned to kpodemski

[2021-10-14 14:44] #22790 closed, assigned to micka-fdz

[2021-10-14 15:07] #24886 closed, assigned to nobody

[2021-10-14 16:19] #26028 closed, assigned to eternoendless, PierreRambaud

[2021-10-14 17:12] #26113 closed, assigned to nobody

[2021-10-14 17:33] JacHOBBY opened #26257 "1.7.8.0 Closing a cart does not work"
When closing the cart at the very last step where you normally press the green button ''buy whit obligation of payment'', this step does not work.
In order to have the cart process I put my cursor back into the credit card number box at the end of the number and press enter to have the process to complete.

#### Expected behavior
When pressing the button ''buy with obligation of  payment'' the tra

[2021-10-14 17:39] ruibarbosa711 opened #26258 "1.7.8.0 - WebService /products - Error 500"
After upgrading to version 1.7.8.0, the webservice started returning error 500  in products.

Return message from request GET https://[API_KEY]@[url]/api/products?schema=blank :
`<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <errors>
        <error>
            <code>
                <![CDATA[5]]>
            </code>
            <message>

[2021-10-14 18:19] #25850 closed, assigned to Oksydan

[2021-10-14 21:22] tropicaldev opened #26260 "webservice api do not trigger email/stock alerts on stock available"
webservice api do not trigger email/stock alerts on stock available

Prestashop module "Mail Alerts" is installed and configured to send costumer notifications on "Product availability"
Email alerts are triggered when stocks are updated in the store interface (as expected)
Email alerts are not triggered when stocks are updated from the webservice api (not expected)

PrestaShop version: 1.7.6.5

[2021-10-14 22:51] PululuK opened #26261 "Add `Breadcrumb Links` in `psgdpr` and `ps_emailalerts`"
## Is your feature request related to a problem?

The names of the sections are missing in breadcrumb links. It would be interesting to have the names of the sections of these two modules in the  breadcrumb links.

![image](https://user-images.githubusercontent.com/16455155/137405490-5fa06c6b-afd5-411c-9338-02c2ae25d98b.png)

## Describe the solution you'd like

- psgdpr
![image](https://user-imag

[2021-10-15 04:44] lukaslau commented on #25975
Can you post here figma link of demo template? :)

[2021-10-15 06:28] BenTen commented on #25975
you will see link in each ticket

[2021-10-15 06:57] #10356 closed, assigned to Progi1984

[2021-10-15 07:47] kpodemski commented on #26182
Hello @tswfi

I think @ytilotti is writing about the maintenance mode, and it should be a different command, in my opinion.

The same goes for the debug mode as it doesn't support multi-store, etc.

[2021-10-15 07:51] tswfi commented on #26182
ah, true. for some reason I was thinking about debug mode :D

yeah, maintenance mode requires few more settings. list ips, add ip, remove ip etc...

agreed that these should be separate commands as they have different logic.

[2021-10-15 08:24] tswfi opened #26263 "CLI command for changing debug mode on and off and getting the current state"
#### Is your feature request related to a problem?

In #26182 @ytilotti noticed that #26211 is a duplicate and while double checking I read the issue wrong and for some reason thought about debug mode :)

Debug mode is saved differently from configuration values and it is not shop dependent so it should have its own command.

#### Describe the solution you'd like

Get the current state of debug mo

[2021-10-15 08:28] khouloudbelguith commented on #26257
Hi @JacHOBBY,

I did not manage to reproduce the issue with the PS1780 fresh install.
I attached a screen record
https://watch.screencastify.com/v/ClPGTs8Ei7wPSOLOksfm

Did you use a fresh install?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source: a fresh install or an up

[2021-10-15 08:46] khouloudbelguith commented on #26258
Hi @ruibarbosa711,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-10-15 08:46] #26258 closed, assigned to nobody

[2021-10-15 08:52] #26260 closed, assigned to nobody

[2021-10-15 09:12] tswfi commented on #26263
@ytilotti yup, I saw that also.

[2021-10-15 09:14] tswfi commented on #26211
I think this issue can be closed with #26183 as it will implement changing `PS_SHOP_ENABLE` `PS_MAINTENANCE_TEXT` and `PS_MAINTENANCE_IP` and all the other configuration values also

[2021-10-15 09:24] khouloudbelguith commented on #26261
Hi @PululuK,

Thank you for your suggestion.
About the ps_emailalert module, is it similar to this issue https://github.com/PrestaShop/PrestaShop/issues/17480? which fixed with this PR: https://github.com/PrestaShop/ps_emailalerts/pull/43

Thanks!

[2021-10-15 11:22] #26203 closed, assigned to nobody

[2021-10-15 11:28] khouloudbelguith commented on #26202
Hi @jordi-art,

Thanks for your feedback.
In fact, we manage to reproduce the issue previously with PS1.7.8.0.
This issue is reproduced only when the employee language is Spanish
This issue is fixed now in the Crowdin as commented [here](https://github.com/PrestaShop/PrestaShop/issues/26028#issuecomment-939352213).
Your ticket is a duplicate of #26028
So, I close it.
Thanks!

[2021-10-15 11:28] #26202 closed, assigned to nobody

[2021-10-15 11:28] khouloudbelguith commented on #26202
Duplicate of #26028

[2021-10-15 11:33] khouloudbelguith commented on #26181
Hi @Gitdyr,

Dis you add the currency to database manually **before** the upgrade or **after** the upgrade?

Thanks!

[2021-10-15 11:43] ruibarbosa711 commented on #26258
Hello,  @khouloudbelguith

after your answer, I tried to execute the requests in Postman with the shop in "debug mode", and it worked fine.
But when I disable the debug mode,  I get the responses:

GET https://[API_KEY]@[URL]/api/products?schema=blank
[products_get_response.txt](https://github.com/PrestaShop/PrestaShop/files/7353064/products_get_response.txt)

POST https://[API_KEY]@[URL]/api/prod

[2021-10-15 11:48] SebSept commented on #26211
So a single clear command will be replaced by a complex command ?
Switching the shop to maintenance could be easy with a dedicated command.
It could be complex, error prone and confusing because of the parameters that need to be remembered and convey no meaning (has the lang paramater a meaning while switching to maintenance ?).

What about the developer experience ?
This command can offer a great

[2021-10-15 13:01] jordi-art commented on #26202
Hello ,
Then i can upgrade without any problems?
Best regards!!

Enviado de Samsung Mobile
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: khouloudbelguith ***@***.***>
Sent: Friday, October 15, 2021 1:28:37 PM
To: PrestaShop/PrestaShop ***@***.***>
Cc: Jordi Canet ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] Module search and modul

[2021-10-15 14:00] khouloudbelguith commented on #26181
@Gitdyr, thanks for your feedback.
It is not secure to modify data from the database manually.
Ping @PrestaShop/prestashop-maintainers what do you think about this issue?
We have a PR available https://github.com/PrestaShop/PrestaShop/pull/26180

Thanks!

[2021-10-15 15:47] #26182 closed, assigned to nobody

[2021-10-15 16:13] khouloudbelguith commented on #26091
@Speedy1010, I updated the information of my shop on this page
![image](https://user-images.githubusercontent.com/16067358/137519526-1161957c-cf22-484b-b177-59018757a7f9.png)

Thanks!

[2021-10-15 16:21] khouloudbelguith commented on #26202
Hello @jordi-art,

As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

Thanks!

[2021-10-15 17:54] DPStudioGR opened #26270 "Unable to save a product with customization field"
![screen 1](https://user-images.githubusercontent.com/53015902/137531365-6f783ca6-2f12-405f-bc79-5e08d3c166d7.jpg)

#### i have installed Prestashop 1.7.8 "fresh install"and i am adding products but when i add a customization field in options tab and press save i get an "Unable to update settings." error and i have to refresh browser.

#### Expected behavior

Normally the product would save its st

[2021-10-16 01:33] tropicaldev opened #26272 "Stock update via webservice api do not trigger email/stock notifications on stock available"
Email notifications are not sent to costumer when stocks are updated via webservice api

Expected behavior
Email notifications sent to costumer when stocks are updated via webservice api

Steps to Reproduce
1. Install "Mail Alerts" module and configure to send costumer notifications on "Product availability"
2. Sign in the store as a costumer
3. Enter the page product A (with no stock available) a

[2021-10-16 05:51] Magnusvb commented on #26244
Hey!
Yes, the PS version is 1.7.8.0.

The first try to upgrade to 1.7.8 (using 1-click upgrade) failed with a "Maximum execution time of 30 seconds exceeded". So I rolled back from a backup of the database and the files (second attempt succeeded).

Strange that I still have the old style radio button? Is there a way to "force" a new upgrade to 1.7.8 (manuell upgrade is such a mess ;)?

/ Magnus

!

[2021-10-16 08:22] ghost opened #26273 "Somes bad displays after update to 1.7.8"
#### Describe the bug

Some bad displays after upgrading to 1.7.8.0, witout update classic theme.

I test from 1.7.7.1 / 1.7.7.2 / 1.7.73 /  **1.7.7.8**

#### Expected behavior

Good displaying

#### Steps to Reproduce

Steps to reproduce the behavior:

Upgrade with this options and go to the FO

![Capture d’écran de 2021-10-16 09-54-37](https://user-images.githubusercontent.com/5064590/137580289-

[2021-10-16 08:41] PrestaEdit opened #26274 "After upgrade, theme must be updated to be able to pay into the final step on PrestaShop 1.7.8"
#### Describe the bug

Since PrestaShop 1.7.8, a change inside the core.js affect all themes and disallow the possibility of payments inside the checkout.

This issue was introduced with this pull request: https://github.com/PrestaShop/PrestaShop/pull/18904/

As now, the disabled thing is moved on class and not on attribute.
As like every theme have followed the Classic theme about that, if someon

[2021-10-16 08:44] CySSoO opened #26275 "[HOOK | IMPROVEMENT] add hook actionCartGetOrderTotalAfter on Cart->getOrderTotal"
#### Is your feature request related to a problem?

For some reasons, payment modules need to change the cart total, especially for **partial payments** that would not use discounts.
Being able to increase or decrease the cart total would allow modules to make reductions or increases on the fly, and unblock partial payment on payment modules..

#### Describe the solution you'd like

Actually i'm u

[2021-10-16 09:16] masiorama commented on #12814
Experiencing the same issue on 1.7.7.4.

[2021-10-16 10:22] patrykcode opened #26276 "little problem with saving the product with combinations"
https://github.com/PrestaShop/PrestaShop/blob/7207005c67452f82876a756df7cabd4a6ca58cab/src/Adapter/Product/AdminProductWrapper.php#L152

[2021-10-16 10:23] patrykcode commented on #26276
adding in front of a variable (float) solves the problem
`(float) $combinationValues['attribute_ecotax'] / (1 + Tax::getProductEcotaxRate() / 100),`

[2021-10-16 11:20] templatin opened #26277 "[Product Comments] Ratings change to 1-star on changing product combination"
#### Describe the bug

Ratings change to 1-star on changing the product combination. Tested on fresh PS installation without any third-party modules.

#### Steps to Reproduce

1. Go to any product page with combinations and having a rating other than 1-star.
2. Change its combination.
3. Scroll down to see that ratings have changed to 1-star.

**Screenshots**
Page loaded with default combination a

[2021-10-16 11:39] templatin commented on #26248
I solved it but not sure if its the correct method.

- Open this file: root/themes/YOUR_THEME/_dev/webpack.config.js
- Add below code after the closing of `output` brackets.

[code]

![Untitled-1](https://user-images.githubusercontent.com/3615808/137585851-e41a4120-f89f-4af7-b7b8-36212d5ff99b.jpg)

[2021-10-16 11:51] matks commented on #26274
Hi @PrestaEdit and thanks for the bug report !

I changed a bit the title because I dont want people to be confused. We're not talking about something broken here, we're talking about a change in the Core that require Theme developers to update. Don't get me wrong: I'm not saying this is serious and that it's not a big issue, I just want to make sure title accurately describes the situation.

Same

[2021-10-17 01:11] alfonsolr09 opened #26278 "Marketing >Facebook Error"
#### Describe the bug

Wrong characters in Spanish lenguaje

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Marketing
2. Click on Facebook
3. See error

**Screenshots**

https://prnt.sc/1wfuxdh

#### Additional information

* PrestaShop version: 1.7.8.0
* PHP version: 7.3

[2021-10-17 08:07] Fitipaldi007 opened #26279 "Customer cannot change/save/add address at checkout or user profile"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-10-17 11:02] templatin commented on #26277
"Product Comments" is a native module which is pre-installed on fresh installation of PS 1.7.8.0.

[2021-10-17 11:30] jonasburneika commented on #23120
hi, @khouloudbelguith
sorry, I didn't notice that the newer version has a solution. I will check with newest version

[2021-10-17 19:57] mmursalov commented on #26230
Hello @hibatallahAouadni ,

I have downgraded PHP to 7.3 and get exactly the same error message with 1-Click:

[INTERNAL] /var/www/printedmoods/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: The file "/var/www/printedmoods/src/PrestaShopBundle/Resources/config/services/adapter/image.yml" does not cont

[2021-10-17 19:59] matks commented on #26181
PrestaShop should be resilient against such data config. I think this is a valid bug.

[2021-10-17 20:57] Kamila-Piatkiewicz opened #26280 "Facet search by category doesn't display all products - it is fixed after refresh"
**Describe the bug**

I use facet search to enable filtering products by category. Recently I added new product to category "Orto" - it is configured the same way as others. When I use facet search to filter by category, the product is not on the list. When I refresh the page it is on the list.

**Expected behavior**

Facet search finds all products from selected category without refresh.

**Steps

[2021-10-17 21:26] alfonsolr09 opened #26281 "error with custom values ​​in product characteristics"
#### Describe the bug

On product pagem.
When you add a custom value without selecting a feature, it is duplicated ad infinitum

#### Expected behavior

I think it should give an error when saving the product or not being able to write a value until you have selected a feature

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any product
2. Click on add feature
3. No select any

[2021-10-17 21:39] alfonsolr09 opened #26282 "error with arrows on category tab (product)"
#### Describe the bug

Arrows are bad when click on contract and expand

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any product on BO
2. Click on contract all or expand all
3. See error

**Screenshots**

https://www.awesomescreenshot.com/video/5659688?key=355be69bd29a4a929f7e0e30bb62c44d

#### Additional information

* PrestaShop version: 1.7.7.3; 1

[2021-10-17 23:24] murman001 opened #26283 "I would like to hide subcategories from category block"
Helli Prestashop community,
I would like to know is there any way to hide subcategories from category block.
And is it possible to disable whole category block without dasabling categories, just block
![tempsnip](https://user-images.githubusercontent.com/92696974/137648753-2e362dfd-381e-4323-a2e3-ed17c7b97e4d.png)

[2021-10-18 07:40] #26270 closed, assigned to nobody

[2021-10-18 07:43] #26282 closed, assigned to nobody

[2021-10-18 07:44] #26276 closed, assigned to nobody

[2021-10-18 07:45] #26279 closed, assigned to nobody

[2021-10-18 08:08] #26278 closed, assigned to nobody

[2021-10-18 08:13] florine2623 commented on #26283
Hello @murman001 ,

This is how the Classic template is. I'll see with the Product Team if it can be improved.
In the meantime, you can use another template.

[2021-10-18 08:19] florine2623 commented on #26275
Hello @CySSoO ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this f

[2021-10-18 09:21] Div2021 opened #26284 "Viewed Products Module not showing add Cart button"
#### Describe the bug

I installed the module and everything works fine except for the "Add Cart" button. It is only showed in the first product in the module.

#### Expected behavior

It would be great to have the Add to Cart button in all recently viewed products

#### Additional information

* PrestaShop version: 1.7.7.4
* PHP version: 7.3.29
* Theme: Warehouse

[2021-10-18 09:27] #26284 closed, assigned to nobody

[2021-10-18 09:30] #26283 closed, assigned to nobody

[2021-10-18 09:31] marionf commented on #26283
Hello,

This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19895
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2021-10-18 09:50] florine2623 commented on #26281
Hello @alfonsolr09 ,

Your issue is related to https://github.com/PrestaShop/PrestaShop/issues/16306
So I'll close it to avoid backlog.

Thanks !

[2021-10-18 09:50] #26281 closed, assigned to nobody

[2021-10-18 09:56] Hlavtox commented on #26273
@okom3pom Check your browser console, the fonts are not loading. Is your HTTPS settings correct?

[2021-10-18 11:18] bsylwek opened #26286 "Prestashop 1.7.8 does not refresh the quantity in the cart"
#### Describe the bug

Prestashop 1.7.8 does not refresh the quantity in the cart. When I press refresh F5 it changes to the correct value. In previous version Prestashop 1.7.7.8, the quantity is updated correctly automatically. I have a Sonice template from Hiddentechies. What could be the reason? Is it related to the template? My page https://www.wholesale.jksweaters.com/

#### Expected behavior

[2021-10-18 11:39] Magnusvb commented on #26244
Hey @florine2623
There must be a ghost in my machine. I did another upgrade (from backup files and db - 1.7.7.5). But still the same issue: hidden textfields and old style radio buttons.

How do I reinstall only the GDPR module? If I download Prestashop, extract the zip, there are no "psgdpr" module. I tried by download the files from Github. But now I get an error when trying to configure it (see

[2021-10-18 12:02] #26286 closed, assigned to nobody

[2021-10-18 12:46] MatShir commented on #23914
@Julievrz Could you check what would be the best wording for this feature ? :)

[2021-10-18 13:13] eternoendless opened #26290 "Separate DOM manipulation from business logic in Core.js"
#### Is your feature request related to a problem?

Currently, Core.js performs both business logic and DOM manipulation. This creates a two-way dependency between core.js and the theme, where the theme depends on the core.js to do stuff like adding a product to the cart, and core.js depends on the theme's markup to retrieve information and update it as needed.

The problem with this is that since

[2021-10-18 13:43] arouiadib opened #26291 "Cannot build JavaScript for ps_linklist"
Inside the module `ps_linklist`, we import some JavaScript modules from core (the modules in `admin-dev/new-theme` like grid and tinyMCE for text editor input field...).

These modules are today rewritten to Typescript, which make them impossible to import.

There should be a change in Webpack config to take typescript loader into account. Unfortunately, this is not the only change to be brought :

[2021-10-18 14:05] #26175 closed, assigned to nobody

[2021-10-18 14:51] PierreRambaud opened #26293 "Remove deprecated related to older PrestaShop version"
#### Is your feature request related to a problem?

A lot of deprecated tags have been added for years, but never cleaned.
Today with the announced release 8.0, it's time to clean up the code and make sure the community follows our best practices.

#### Describe the solution you'd like

Remove all ` @deprecated`  notices.

[2021-10-18 15:50] Mindfield-Studio commented on #14979
Hi,

When you have products with a lot of combinations, the main issue is the time to retrieve all images. You can greatly improve performance by caching "ImageRetriever::getImage" method:

In "src/Adapter/Image/ImageRetriever.php":

after:

`private $link;`

add:

`private static $image_cache = array('products' => array(), 'stores' => array(), 'categories' => array());`

Then, in "getImage" metho

[2021-10-18 16:39] estudio-kintek opened #26296 "Issue saving multiple checked categories in filters of Faceted Search Module"
Hi!

In the ps_facetedsearch module, editing a filter template, after checking multiple subcategories and save changes, not all of them are saved. I have to check again some subcategories and try to save them again.

There's no error displayed after that.

Is there anyone else having this issue?

**Expected behavior**:

- Check multiple categories and remain checked after saving the changes.

**St

[2021-10-18 19:32] Renrhaf opened #26298 "Product availability date bug"
#### Describe the bug

The product availability date differs between product page and cart page.
It seems that the product availability date is not fetched from the product combination when it should be, in my opinion.

#### Expected behavior

To have the same availability date on the product page, and on the cart page.

#### Steps to Reproduce

1. Change "product-add-to-cart.tpl" and "cart-detail

[2021-10-18 21:39] nauumb commented on #16306
Hello! I would like to work on this problem @hattia  @hibatallahAouadni . It's my first time so I'll follow https://github.com/PrestaShop/PrestaShop/blob/5d61aa8679978d9c3e767e0d7864358a6c896f08/CONTRIBUTING.md to collaborate, but any smells of where we can start from?

I would like to be able to talk to you before I start coding.

Thanks you,

[2021-10-19 06:21] quiquegarcia commented on #25975
Hi everyone,

Someone was ever thinking to use [Tailwind CSS](https://tailwindcss.com/) instead of Bootstrap as the main CSS Framework for Front-Office's theme?

[2021-10-19 08:27] eternoendless opened #26321 "Change terms of use in project by OSL"
Change terms of use during install to OSL license (as requested by @ttoine)

Distributions should be able to change this in the build process.

[2021-10-19 08:38] NeOMakinG commented on #26248
1.7.8.x is fine to me, as it's blocking building this version on windows it should be inside the path version

[2021-10-19 10:08] hibatallahAouadni commented on #26093
@camlafit ok, waiting for your feedback.

[2021-10-19 10:21] d33x opened #26325 "ps_categorytree - Do not display unnecessary li tag if there is no subcategory"
#### Describe the bug

Currently, if there is no subcategory, the ps_categorytree module still adds an empty `<li>` tag (see screenshot)

#### Expected behavior

Do not add an empty li tag.

Add a condition like this:
`{if isset($categories.children)}<li>{categories nodes=$categories.children}</li>{/if}`

It could also be interesting to propose an option to display or not the block if there is no

[2021-10-19 10:55] hibatallahAouadni commented on #16306
Ping @PrestaShop/prestashop-core-developers could someone please help @nauumb to create his first PR :rocket:

[2021-10-19 11:00] hibatallahAouadni commented on #26175
@Zero-Room Glad to hear :tada:

[2021-10-19 11:47] hibatallahAouadni commented on #25597
Thanks @okom3pom for the tip :wink:

[2021-10-19 11:47] #25597 closed, assigned to nobody

[2021-10-19 12:59] Stephane1874 opened #26326 "Simple anchors do not work"
#### Describe the bug

When I try to link to an anchor on a page, the page refreshes and doesn't stay.

Not easy to explain I hope the video will be clearer :)

#### Steps to Reproduce

1. Created a lot of text on a CMS page
2. Make a link to reach the bottom of the page
`<a href="#id777">Test ancre</a>`
`<p>Text.....</p>`
`<p id="id777">`
4. click on the link and see the error, the page is refres

[2021-10-19 13:28] templatin opened #26327 "Wishlist button disappears while using Faceted Search"
#### Describe the bug

Wishlist button disappears on category page while using any filter in faceted search.

#### Expected behavior

Wishlist button should not disappear.

#### Steps to Reproduce

1. Go to category page having faceted search module.
2. Click on any filter in faceted search module.
3. See that Wishlist button has disappeared.

**Screenshots**

![Untitled-3](https://user-images.git

[2021-10-19 13:47] hibatallahAouadni commented on #26230
Thanks for the tip @kratekk :rocket:
@mmursalov could you please try the proposed solution by @kratekk and feedback.

Thanks!

[2021-10-19 15:15] kratekk commented on #26230
@mmursalov did you also try to remove cache? Implementation looks good. It worked for me. I alse changes PHP version to 7.3

[2021-10-19 15:45] rytaf opened #26329 "It is happening to me that after updating to version 1.7.8.0 it never lets you click on that button even if the conditions are accepted, solution?"
It is happening to me that after updating to version 1.7.8.0 it never lets you click on that button even if the conditions are accepted, solution?

_Originally posted by @hostisoft in https://github.com/PrestaShop/PrestaShop/issues/19161#issuecomment-942481794_

[2021-10-19 16:00] cdcvince opened #26330 "Error 500 on "Choose layout" page"
#### Describe the bug

Error 500 on the "Choose layout" page on the BO

#### Steps to Reproduce

1. Go to Backoffice
2. Click on Design > Theme & logo
3. Scroll to bottom of page and click on "choose layouts"
4. This error appears :

![Screenshot from 2021-10-19 17-57-51](https://user-images.githubusercontent.com/39367588/137947973-877dc530-fbf1-475e-bd75-cf3c2dcd26cd.png)

#### Additional informa

[2021-10-19 16:40] #26329 closed, assigned to nobody

[2021-10-19 16:52] DanSilva926 opened #26332 "Product with combinations - The specific price with a fixed price adds the impact of each combination"
#### Describe the bug

In version 1.7.8.0 when we do put a specific price for a group of customers, it adds the impact to that price.
Also not separating the specific price, the name of the combinations disappeared, only “all combinations” appears

#### Expected behavior

If the specific price was applied and the impact was not added, and the name of the combinations appeared

#### Steps to reprod

[2021-10-19 16:53] hibatallahAouadni commented on #26006
Hello @PereDaurell

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-19 16:53] #26006 closed, assigned to nobody

[2021-10-19 17:05] hibatallahAouadni commented on #26272
Hello @tropicaldev

Sorry for the late response :pray:
I was able to reproduce the issue with PrestaShop version 1.7.8.0. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we s

[2021-10-19 19:34] mmursalov commented on #26230
@kratekk , yes cleared everything I could and I am on PHP 7.3. I am still getting the same error. Any other thoughts?

[INTERNAL] /var/www/printedmoods/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: The file "/var/www/printedmoods/src/PrestaShopBundle/Resources/config/services/adapter/image.yml" does

[2021-10-19 20:25] anvanto opened #26333 "Bug with type=color"
#### Describe the bug

The Bug with type = color component is not working correctly.

#### Expected behavior

The Bug with type = color component is not working correctly. The color for all is duplicated from the first field.

#### Steps to Reproduce

You can check by opening any module where there are several mColorPicker.

**Screenshots**
![This is an image](http://dl3.joxi.net/drive/2021/10/19/

[2021-10-20 03:14] enigma-support opened #26334 "Unable to complete Purchase"
#### Describe the bug

When trying to to complete a purchase we are unable to purchase any items from our store with stripe or paypal

#### Expected behavior

TO be able to select push the button to complete a purchase or select paypal and complete purchase

#### Steps to Reproduce

Steps to reproduce the behavior:

It is still on going and we are unable to roll back...
1. Go to '...'
2. Click on

[2021-10-20 07:58] hibatallahAouadni commented on #26244
@LordIndustry Glad to hear :tada:

[2021-10-20 08:05] NeOMakinG commented on #19161
Is it really the same problem? There is another issue where button stay disabled, which has a PR opened

[2021-10-20 08:08] NeOMakinG commented on #26334
Looks like a duplicate of https://github.com/PrestaShop/PrestaShop/issues/26274

If not, please add some precision to your issue :)

[2021-10-20 08:08] #26334 closed, assigned to nobody

[2021-10-20 09:03] #26333 closed, assigned to nobody

[2021-10-20 09:16] hibatallahAouadni commented on #26330
Hello @cdcvince

I didn't manage to reproduce the issue with PS1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/138065168-03216541-3b06-43fd-b53a-8174dbeec732.png)

Please check and feedback.
Thanks!

[2021-10-20 11:33] mparvazi commented on #26177
Hello @marionf
Thanks for your feedback.
I made a PR base an 1.7.8.x #26331
Changing the base branch from `1.7.8.x` to the `develop` will be enough or I have to rebuild the PR from scratch?

[2021-10-20 11:40] NeOMakinG commented on #19161
It's already pushed on 1.7.8.x, you'll get it inside the next minor

[2021-10-20 11:59] raidnet-ms commented on #26140
Oh thank you Julievrz,
From the app I wasn't able to read the overlay of labels.

TBS stands for: "Issue to be specified", can I do anything else to be more specific?

[2021-10-20 12:07] Progi1984 opened #26335 "Uniformize calls of font in BackOffice"
#### Is your feature request related to a problem?

In theme in BackOffice & RTL, some fonts are loaded from CDN and another one from local.

#### Describe the solution you'd like

All fonts are loaded from local.

[2021-10-20 12:38] NeOMakinG commented on #26274
@LordIndustry https://github.com/PrestaShop/PrestaShop/pull/26289/files

[2021-10-20 12:57] deadlyengineer opened #26337 "Dashboard calendar buttons don't work with JS error."
#### Describe the bug

Dashboard calendar buttons don't work with JS error.

#### Expected behavior

Dashboard calendar buttons work without JS error like 1.7.7.8

#### Steps to Reproduce

1. BO > Dashboard
2. Open the navigator console
3. Click on any Calendar buttons (Day, Month, Year, Day-1, Month-1, Year-1)
4. See error > **`datepickerStart is not defined`**

**Screenshots**

![image](https://

[2021-10-20 13:35] kornwaikas opened #26338 "Discount is impossible to delete"
#### Describe the bug

when you create a new order manually with discount in backoffice, is not possible to delete it. The delete button is not working.

#### Expected behavior

Delete the discount without problems

#### Steps to Reproduce

Steps to reproduce the behavior:

1) go to order
2) add manually
3) add the products
4) add a discount
5) try to delete it

**Screenshots**

If applicable, add

[2021-10-20 13:37] ZamperSPA opened #26339 "Uncaught Error: Call to a member function getLocale() Controller.php"
Today i checked file error_log file and found thousands of same errors

[code]
Which may be?

* Today PrestaShop version: 1.7.7.8
* PHP version: 7.4.24

[2021-10-20 15:04] #26339 closed, assigned to nobody

[2021-10-20 15:19] Progi1984 commented on #26252
Fixed in #26328 by @marwachelly

[2021-10-20 15:19] #26252 closed, assigned to marwachelly

[2021-10-20 15:23] #21437 closed, assigned to nobody

[2021-10-20 15:40] sowbiba opened #26341 "Fixtures text values are not surrounded with a p tag"
#### Describe the bug

I have a feature where I need to compare form values to say if they have changed and then display a modal before leave the page. In the fixtures, we have the raw values, for example `toto is here`. When you change the value, tinyMCE adds the p tags around the text, like `<p>toto is here updated</p>`. When you restore the field's value, you will have `<p>toto is here</p>` ...

[2021-10-20 15:48] #26337 closed, assigned to nobody

[2021-10-20 16:11] eternoendless commented on #26321
I thought there was a PrestaShop license agreement here:

<img width="1018" alt="Screenshot 2021-10-20 at 18 03 48" src="https://user-images.githubusercontent.com/1009343/138129637-3f198c67-0cac-4bca-8e3d-57bba85856e8.png">

...but it looks like it's been OSL since 2013 at least.

@ttoine were you thinking about something else?

[2021-10-20 16:13] florine2623 opened #26342 "BO - Address format in Countries page is badly displayed"
#### Describe the bug

Address format is off centered

#### Expected behavior

Address format should be centered like the other elements.
Tabs and buttons should be on one line.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Locations > Edit Country of your choice
2. Scroll down to Address format

**Screenshots**

PS 1.7.8.X and develop :
<img width="1073

[2021-10-20 16:26] eternoendless commented on #26290
Not yet, it needs to be discussed first.

[2021-10-20 16:27] hibatallahAouadni commented on #26298
Hello @Renrhaf

Sorry for the late response :pray:
I didn't manage to reproduce the issue with PS1.7.7.8, see the attached screen record below:

https://watch.screencastify.com/v/8JRurWzbOR7zhW6leaTg

Please check and feedback.
Thanks!

[2021-10-20 16:31] Renrhaf commented on #26298
Hi @hibatallahAouadni, thank you for your message.
Sorry, but your use case is not the right one, as the bug is only present when you set the availability date on a product combination.

[2021-10-20 16:52] hibatallahAouadni commented on #25998
Hello @oldmanxxxv

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-20 16:52] #25998 closed, assigned to nobody

[2021-10-20 16:53] arouiadib opened #26343 "template @PrestaShop/Admin/Module/catalog.html.twig not found"
#### Describe the bug
When you click on Module Manager, you have 500, because the template `@PrestaShop/Admin/Module/catalog.html.twig` doesn't exist.

![image](https://user-images.githubusercontent.com/23559010/138136813-af007346-aef3-4900-89c9-5747db64eae9.png)

#### Expected behavior

Should show module catalog page.

#### Additional information

* PrestaShop version: develop
* PHP version: N/A

[2021-10-20 16:54] mparvazi opened #26344 "[BO] Improve virual product by adding upload progress for large files"
#### Is your feature request related to a problem?

Uploading large files in product page may take too long. Without showing the upload progress user may think that the process has encountered a problem.

#### Describe the solution you'd like

Simply adding a progress bar before the submit button will be useful.

#### Screenshot

<img src="https://user-images.githubusercontent.com/85633460/1381284

[2021-10-20 19:05] oldmanxxxv commented on #25998
Hi there,
The only thing I can say is, two day ago I have erased from the three mentioned tables 57 entries with 0 product_id, each.
I would say to pay more attention with this bug because it is not something common, especially if someone doesn't use combinations. And is not visible from admin area.

Thank you.

[2021-10-21 07:38] matks commented on #26321
@eternoendless So your feature request would be

'As a PrestaShop agency/integrator, if I build my own distribution of PrestaShop and I want to use another license (that can embed OSL and AFL software), I should be able to easily achieve that. For example if I choose a MIT license, when I use [the feature that we have to build] users who install my distribution see the MIT license prompted instead

[2021-10-21 07:45] pdkey opened #26345 "Wrong price per unit on category page. Module - legalcompliance"
#### Describe the bug

After the upgrade from PS 1.7.7.7 to 1.7.7.8. the product price was adjusted, also the price per unit.
The category page still shows the old basic price. On the product page, the price is displayed correctly.
- The Prestashop cache was cleaned, the browser cache as well.
- The own theme was also checked and this does not affect the price per unit.

Second problem.
The price

[2021-10-21 07:51] #25448 closed, assigned to gennaris

[2021-10-21 07:58] hibatallahAouadni commented on #26332
@DanSilva926 Waiting for your feedback.

[2021-10-21 07:59] hibatallahAouadni commented on #26257
@DanSilva926 could you please provide more infos :pray:

[2021-10-21 08:00] hibatallahAouadni commented on #26245
@111lisu could you please check your SMTP configuration with your host :pray:
Thanks in advance.

[2021-10-21 08:11] ghost opened #26346 "Autoupgrade module 4.12.0 rollback does not work with mysql8"
#### Describe the bug

With mysql 8 we cannot roll back a backup.

With the release of 1.7.8.0 this will be a big problem for small shops that do not respect the process well.

#### Expected behavior

Roll back a backup works

#### Additional information

This PR fix the issue : https://github.com/PrestaShop/autoupgrade/pull/396

[2021-10-21 08:18] matks commented on #26346
Related to https://github.com/PrestaShop/PrestaShop/issues/24872

[2021-10-21 08:32] eternoendless commented on #26321
That said, I'm not sure you ca redistribute PrestaShop in a different license.

[2021-10-21 09:09] hibatallahAouadni commented on #26346
Hello @okom3pom

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24872.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-10-21 09:09] #26346 closed, assigned to nobody

[2021-10-21 09:12] #26091 closed, assigned to nobody

[2021-10-21 09:13] #26233 closed, assigned to nobody

[2021-10-21 09:26] eternoendless opened #26348 "Add category discount and category discount listing misaligned when editing customer group"
#### Describe the bug

The "Category discount" part is misaligned when you edit a customer group. I don't know if this is a regression or if it's always been this way.

<img width="1792" alt="Screenshot 2021-10-21 at 11 14 44" src="https://user-images.githubusercontent.com/1009343/138249169-dfd225ae-4838-445d-b919-87424fbfbe1d.png">

<img width="1791" alt="Screenshot 2021-10-21 at 11 15 44" src="h

[2021-10-21 09:44] ghost opened #26349 "[Blockwishlist] Mismatch class naming between the Share.vue component and the share.tpl file"
#### Describe the bug

The css class in the Share.vue component (line 117) does not match the class provided in the share.tpl file (line 21). If we modify the css in the vue file, all the changes will affect the display of the modal-create instead of the modal-share.

#### Expected behavior

Replace &-create by &-share into the Share.vue file to match the class in the share.tpl which is "wishlist-

[2021-10-21 09:44] 0dp opened #26350 "Adding and removing faceted filters slow"
https://github.com/PrestaShop/PrestaShop/blob/cead068f678598ad0a5df4f12013c2d95cdaa234/themes/_core/js/facets.js#L63

<img width="1989" alt="Screenshot 2021-10-21 at 11 41 20" src="https://user-images.githubusercontent.com/3642367/138252838-2c022e2a-a2b3-4666-ab02-b2bba542be8c.png">

Reported response time in Firefox 93 is between 1.5 and 2 seconds.

I don't know if there is much to do about it, b

[2021-10-21 09:49] gennaris opened #26351 "Backoffice operations add-edit-delete on Customer / Addresses are not logged in "Logs""
#### Describe the bug

Backoffice operations add-edit-delete on Customer / Addresses are not tracked in "Logs"

#### Expected behavior

I expect BO operations on all core objects from employees being logged , this is crucial for an admin to track employee activities. This is already correctly happening for products.

I see this open discussion already => https://github.com/PrestaShop/PrestaShop/is

[2021-10-21 09:50] gringo1er opened #26352 "GDPR official module translation issue"
#### Describe the bug

Hello. Our website is in french. So we have translated most part of the website (modules, contents, template) in french.
We translated GDPR texts and buttons for our french customer, through international / translation back office access.
Unfortunately, the personal date management info, inside the customers accounts, remains in english.

#### Expected behavior

French trans

[2021-10-21 10:02] #26350 closed, assigned to nobody

[2021-10-21 10:22] eternoendless commented on #26321
Ok, I double-checked and didn't find PrestaShop's terms of use in the install, so I think this can be closed.

[2021-10-21 10:22] #26321 closed, assigned to nobody

[2021-10-21 10:27] #24637 closed, assigned to nobody

[2021-10-21 10:28] okom3pom commented on #26346
Thank you @matks if we follow this : https://build.prestashop.com/news/severity-classification/

It's a critical issue : _It can lead to data loss,_

So it's possible to re-open the issue and ask the PM team ?

[2021-10-21 10:42] 0dp commented on #26350
Sure thing @hibatallahAouadni

You see, if you report a line of code like i did directly, the template is not loaded 😅

[2021-10-21 10:51] matks commented on #26346
Better to do this on issue https://github.com/PrestaShop/PrestaShop/issues/24872 to make it easier to track the topic

You can ping @khouloudbelguith or @Robin-Fischer-PS to ask for re-evaluation of the severity of https://github.com/PrestaShop/PrestaShop/issues/24872

[2021-10-21 10:55] 0dp opened #26354 "Core.js - Adding and removing faceted filters: slow response"
#### Describe the bug

When adding and removing faceted filter options on product listing ie. a category. The response time is reported to be slow, `>1s`

https://github.com/PrestaShop/PrestaShop/blob/cead068f678598ad0a5df4f12013c2d95cdaa234/themes/_core/js/facets.js#L63-L69

#### Expected behavior

Firefox recommends a response time `<500ms`

I personally don't know if there is anything to do abo

[2021-10-21 11:17] RubenMartins commented on #26161
@khouloudbelguith can you please review this again on 1.7.8.0 as is part of core issue I believe

[2021-10-21 11:57] hibatallahAouadni commented on #26352
Hello @gringo1er

About the module traduction, please follow these steps to change the translations:

1. **BO**>**IMPROVE**>**International**>**Translations**
2. Select **Installed modules translations** as **Type of translation**
3. Select the module
4. Select your language
5. Click on **Modify**
6. Enjoy it :wink:

**BO:**
![image](https://user-images.githubusercontent.com/23308427/138272109-56f

[2021-10-21 11:57] #26352 closed, assigned to nobody

[2021-10-21 11:59] hibatallahAouadni commented on #26344
Hello @mparvazi

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-10-21 12:48] florine2623 opened #26355 "blockwishlist v2.0.1- error in Statistics page"
#### Describe the bug

I can't access Statistics page of module blockwishlist & on the FO the there's an error on display

#### Expected behavior

I should be able to access the Statistics page like it was in 1.7.8x :
<img width="1230" alt="Screenshot 2021-10-21 at 14 48 03" src="https://user-images.githubusercontent.com/16019289/138280497-f7a27b97-a37c-4e4f-9467-bf3a2f99b2d5.png">

#### Steps to

[2021-10-21 13:09] #26343 closed, assigned to nobody

[2021-10-21 13:16] pdkey commented on #26345
Solution ->  we fix this with a manual delete cache "..var/cache"
- Clean Cache in Admin doesn't fix our issue.

[2021-10-21 13:16] #26345 closed, assigned to nobody

[2021-10-21 13:18] AdrievandeVreede opened #26356 "Upgrade font-awesome to newest version"
#### Is your feature request related to a problem?

There are a few icons I wish I could add them to my theme.

#### Describe the solution you'd like

I'd liked to have an updated version of font-awesome.

[2021-10-21 15:06] hibatallahAouadni commented on #26350
@0dp yep you're right :slightly_smiling_face:

[2021-10-21 15:47] ilsanto55 opened #26357 "You don't have permission to access this resource (search options)"
Hi,
I hope you can help me with this issue. I get the message "You don't have permission to access this resource" when I try to save changes in the search options on Shop parameters (back office). Any solution, please?
Thank you so much.
Regards,
Luis

[2021-10-21 16:27] matks commented on #25850
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25856

I think @Hlavtox mentioned some bugs related to image recently. Is that this one?

[2021-10-21 17:21] AdrievandeVreede opened #26360 "To be able to filter within search results and brand pages"
#### Describe the solution you'd like

I'd like to be able to filter, not only in categories, but also on the search results page and the brand page, so that you can set it on and off in the back office.

[2021-10-21 21:57] frevab commented on #14793
Hi Loris

Simple. I just stopped using Redis. J

Best regards

Freek

From: Loris Roncali ***@***.***
Sent: Thursday, October 21, 2021 6:16 PM
To: PrestaShop/PrestaShop
Cc: Freek; Mention
Subject: Re: [PrestaShop/PrestaShop] Problems with saving (product changes, order items) (#14793)

Since my original post I discovered that it was the Redis module that caused problems with saving any changes mad

[2021-10-21 22:10] #26357 closed, assigned to nobody

[2021-10-22 03:13] arouiadib commented on #26343
Hi @hibatallahAouadni

My bad, I did a mistake in initial post. I meant Module Catalog and not Modules manager.

But I don't see it at all in your menu at all :thinking:

I closed anyways this issue as I think it will be soon fixed by a an ongoing merge. (And because rolling back the template file is was not enough).

I will reopen if you agree with me.

Thanks for your time @hibatallahAouadni

[2021-10-22 07:31] #26360 closed, assigned to nobody

[2021-10-22 07:50] Nikos22350 opened #26361 "Can not create a product via webservice"
**Describe the bug**

Hello,
I would like to contact you because we have a client who has migrated her site to version 1.7.8 and since the interaction with our interface no longer works. We go through the Prestashop Webservice.

**Expected behavior**

We just want to be able to relaunch the interface with Prestashop as with the 1.7.7.x versions before.

**Steps to Reproduce**

Steps to reproduce t

[2021-10-22 09:13] SNor42 opened #26364 "Order address not updated under BO/Orders when discount applied and debug mode is on"
#### Describe the bug

BO - Customer address not updated under order detail page, when debug mode is on, and order has promo code.

#### Expected behavior

Got error message: An unexpected error occurred. [Symfony\Component\Debug\Exception\ContextErrorException code 0]: Notice: Undefined index: reduction_applies

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a discount (for

[2021-10-22 10:59] WS-NL opened #26368 "Your store is linked to the PrestaShop account"
Hello team

The module PrestaShop account is linked to an email address/account
It is not possible to unlink this account or email address and add another one
Please advise on this.

see forum

https://www.prestashop.com/forums/topic/1055764-prestashop-account-module-remove-account-email-address/?tab=comments#comment-3358778

https://www.prestashop.com/forums/topic/1049431-unlink-prestashop-shop-f

[2021-10-22 11:03] #26368 closed, assigned to nobody

[2021-10-22 11:04] #26025 closed, assigned to nobody

[2021-10-22 11:08] WS-NL opened #26369 "Your store is linked to the PrestaShop account - cannot unlink"
#### Describe the bug

The module PrestaShop account is linked to an email address/account the first time
It is not possible to unlink this account or email address and add another one after the first time.

#### Expected behavior

Unlink and add new email address / account

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to PrestaShop account
2. Click on look up your stores'
3. S

[2021-10-22 12:21] #26369 closed, assigned to nobody

[2021-10-22 12:54] SharakPL opened #26373 "The brand image is squeezed in the Product description"
#### Describe the bug

These images should have `img-fluid` class and should not have fixed dimensions. Otherwise setting custom dimensions in Design -> Images in BO will break FO's visually

https://github.com/PrestaShop/PrestaShop/blob/f1a69009c39ab498145eccf2fdc70b0f92cd00b2/themes/classic/templates/catalog/_partials/product-details.tpl#L11

#### Expected behavior

![image](https://user-images.

[2021-10-22 13:03] #9886 closed, assigned to nobody

[2021-10-22 13:10] marwachelly opened #26374 "FO- Bad display when entering a long text for product customization"
#### Describe the bug

Bad display when entering a long text for product customization

#### Expected behavior

Newline and left alignment when entering a long text for product customization

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO> choose customizable product
2. In the Product customization part : enter a long text without space bar ( number consisting of 100 digits

[2021-10-22 13:17] #14596 closed, assigned to nobody

[2021-10-22 13:28] PululuK opened #26376 "Allow to print order messages"
## Is your feature request related to a problem?

Add order message in print.

## Describe the solution you'd like

Allow print order messages

## Additional context

- Go to order page in BO
- Add order message
- click on **print order**
- See is missing the message block

![image](https://user-images.githubusercontent.com/16455155/138461658-6e386142-afb3-4e2a-950d-053ca4013811.png)

[2021-10-22 14:36] rodrigorega opened #26381 "Install error with low MySQL wait_timeout"
#### Describe the bug

I am getting this error in Prestashop installation while installing addon modules:

This issue started to happen recently, I have the same MySQL configuration since several years and in several servers.

In "my.cnf" I have "wait-timeout = 15". If I set "wait-timeout = 600" ,restart MySQL and launch the installation again, it ends without this issue. Maybe PrestaShop installa

[2021-10-22 15:00] #26348 closed, assigned to marwachelly

[2021-10-22 19:58] SNor42 opened #26383 "BO - Migrated page - Multistore - annoying content-div transition"
#### Describe the bug

On every page load the div with class name "content-div" have a padding transition.
![2021-11-05 123449](https://user-images.githubusercontent.com/1334351/140504742-c423fea4-04ec-4577-b78f-93903cf5387c.png)
**Todo**

- [ ]  investigate

#### Expected behavior

No transition

#### Steps to Reproduce

Steps to reproduce the behavior:

https://www.awesomescreenshot.com/video/57

[2021-10-23 09:41] SNor42 opened #26384 "Color picker min width issue BO/multistore"
#### Describe the bug

BO multistore settings, when add new shop, the color text field is to small, cant' see the hex code. Screen res: 1920x1200

#### Expected behavior

I will set a min-width for these type of input, changed the parent div bootstrap from col-lg-2 to col-lg-4

[code]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable multistore
2. Add new shop

![kép](https://u

[2021-10-23 09:52] SNor42 opened #26385 "Theme selector preview image fitting problem BO/multistore"
#### Describe the bug

BO multistore settings, when add new shop, under the theme selector, the preview image won't fit. Missing max-width:100%, and there is set a margin-bottom for some reason.

#### Expected behavior
![kép](https://user-images.githubusercontent.com/1334351/138551495-bbf1bafa-b402-4440-a8e5-b8557c7462ce.png)
![kép](https://user-images.githubusercontent.com/1334351/138551548-4d955

[2021-10-23 10:03] mati771 opened #26386 "Delete order statuses"
Hello, how do I delete order statuses created by automatic payment? Prestashop 1.7.5.2

![image](https://user-images.githubusercontent.com/63502371/138551841-684e39da-6966-4beb-9bb5-452349159cdf.png)

[2021-10-23 10:36] SNor42 opened #26387 "BO new slide button look be more coherent with the theme."
#### Is your feature request related to a problem?
NO
#### Describe the solution you'd like
See image.
#### Alternatives you've considered
See image.

![kép](https://user-images.githubusercontent.com/1334351/138552709-3c832e10-0847-4cc1-85eb-d0b25d1642ad.png)

[2021-10-23 10:58] SNor42 opened #26388 "BO MultiStore top header thoughts"
#### Is your feature request related to a problem?
NO
#### Describe the solution you'd like
First: the idea behind the new multistore header is great. But I don't think the way it was made is a perfect solution. It took ~40px height from the top, and only has one dropdown option. On a common 16:9 monitor, every horizontal pixel counts.  I liked the old place where it was. I know, it's not so notic

[2021-10-23 11:35] SNor42 opened #26389 "Won't save product when changing attribution quantity"
#### Describe the bug

If we have a product with variations, or made one. Then when we editing the quantity value, the first save doesn't give success. If we are lucky, the second save is alright. We found these bug after upgrade to PS1778. But finally I could reproduce it under PS1780.

#### Expected behavior

Save for the first time.

#### Steps to Reproduce

0. Please Note: it's hard to reprodu

[2021-10-23 18:41] akbasferhat opened #26390 "Product pack search does not work"
#### Describe the bug

To add a product to the product package, the product name is typed into the search, but the search does not work. Likewise, when adding similar products, I type the name of the product in the search section, it doesn't work.

#### Expected behavior

Product pack search works!

#### Steps to Reproduce

1. BO>SELL>Catalog>Products
2. Create a new Product
3. Choose Pack of prod

[2021-10-23 22:33] Wrenbjor opened #26391 "Search.php drops all terms after the first term"
#### Describe the bug

When searching for more than one item in search EX: abc, 123, JRT

Search.php logic in find() uses array_intersect instead of array merge which causes 123, JRT in the case above to be dropped and only abc is searched for.

#### Expected behavior

Expected SQL query should have "sw.word LIKE 'abc%' or sw.word LIKE '123%' or sw.word LIKE 'JRT%'"

#### Steps to Reproduce

Steps

[2021-10-24 12:29] Nathanpaternotte opened #26396 "Order total not correct when adding product with non initial price by back office / 1.7.7.8/17.8.0"
Hello,

Following an update to 1.7.7.8, I notice that the products with zero value added in an order via the back office are nevertheless recorded on the invoice.

Has this been fixed on the new versions? I don't see anything in the new changelogs about this.

Thank you!

Screenshot : https://imgur.com/a/huX9klS

[2021-10-24 13:36] hadyman opened #26397 "Carrier Virtual product"
When you create a VIRTUAL PRODUCT there is no reason to propose any CARRIER as there is no shipping for VIRTUAL PRODUCT.

The solution will be to not apply at all any CARRIER for VIRTUAL PRODUCT

Alternative solution built a new Virtual CARRIER that will NOT display in FO mention DELIVERY to not confuse visitor when purchase VIRTUAL PRODUCT.

thanks

[2021-10-24 15:55] #22914 closed, assigned to nobody

[2021-10-24 20:56] mparvazi opened #26399 "[BO] Useless file (rtl.js) should be removed"
#### Describe the bug

There is a file [rtl.js](https://github.com/PrestaShop/PrestaShop/blob/develop/js/rtl.js) inside [PrestaShop/js/](https://github.com/PrestaShop/PrestaShop/tree/develop/js) folder. This file tries to fix all inline styles in a page using jQuery for RTL by searching inline styles like `text-align`, `float` and `background-position` and changing their values from `left` to `rig

[2021-10-24 23:26] pnucci opened #26400 "Debug mode activation fails for 1.7.8.0"
#### Describe the bug

Enabling Debug mode via Back Office fails, resulting in the following error:

`Error: Could not find whether debug mode is enabled. Make sure that the correct permissions are set on the file /var/www/html/app/../config/defines.inc.php`

But the permissions on this file are set to the apache user. Downgrading to 1.7.7.8 solves the issue.

#### Expected behavior

Debug mode en

[2021-10-25 00:41] Nathanpaternotte commented on #26396
Same problem on 1.7.8.0 !

[2021-10-25 07:18] #19122 closed, assigned to kpodemski

[2021-10-25 07:33] ghost opened #26401 "Remove id from url"
I know that PrestaShop has been for many years, and I have seen that PrestaShop is getting better and better. I am just confused for so many years why PrestaShop is not being a more user-friendly URL like other platforms and requires an additional expensive module to solve it. I browsed Google and forums, some people think it needs to be kept, and many people want to remove it. I think many indivi

[2021-10-25 07:55] #26386 closed, assigned to nobody

[2021-10-25 08:54] partiid opened #26402 "Error: invalid e-mail address after upgrading to 1.7.8 in backoffice"
#### Describe the bug

After upgrading to prestashop 1.7.8 i encountered an error.
When i try to access modules in back office i'm getting Error: invalid e-mail address with http 500 status code

#### Expected behavior

I expect prestashop to allow me to enter "modules" tab without getting error 500 but instead i cannot access it because im getting the error

#### Steps to Reproduce

Steps to repr

[2021-10-25 09:16] #26397 closed, assigned to nobody

[2021-10-25 09:17] #26401 closed, assigned to nobody

[2021-10-25 09:22] #26396 closed, assigned to nobody

[2021-10-25 09:31] #26389 closed, assigned to nobody

[2021-10-25 09:42] 0dp opened #26403 "psgdpr - BO delete customer view does not refresh"
#### Describe the bug

When you search for a customer and deletes the customer. After confirmation view does not update. Thus you are able to "delete" the same customer again and again.

#### Expected behavior

View should update and deleted customer should not be in the view.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. goto `Manage customer's personal data`
2. search for custom

[2021-10-25 10:05] 0dp opened #26405 "Improve code consistency - Remove Yoda expressions"
#### Is your feature request related to a problem?

Would there be consensus to walk through code and remove yoda conditions so that only one kind is used across the board.

#### Describe the solution you'd like

Remove yoda coditions (standardization)

#### Additional context

Just to make it consistent across the code base

[2021-10-25 10:12] jacob-v-dam opened #26406 "Category breadcrumb error"
#### Describe the bug

When the breadcrumbs are loaded on a category page you get the following error:
[code]

It has something to do with:
https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/front/listing/CategoryController.php#L253

`$category` is called instead of `$this->category`.

#### Expected behavior

Load the category page without an error

#### Steps to Reproduce

Steps to

[2021-10-25 10:30] thalassa-web opened #26407 "Name validation / Multiple classes for the same purpose"
Hi,

recently I had some problems about the override of name validation.
I would like to accept digits in customer name.
After some tests, I see it will mby be almost impossible to do it.

The name validation is made at least at 3 different places :

- PrestaShop\PrestaShop\Core\ConstraintValidator\Constraints\CustomerName
- Validate::isCustomerName (which use Constraints\CustomerName) but could b

[2021-10-25 12:29] AntonioTrudu opened #26409 "Specific price for qty wrong"
#### Describe the bug

- created 6 customer groups
- for each item specific prices are created for quantity x each group with percentage discount (but even if I put the discount by value the problem is the same)
- in the front office I see the table with the correct quantity prices but when I add a quantity to the cart, PS does not apply the same prices, but performs the calculations using the sta

[2021-10-25 13:14] #25284 closed, assigned to nobody

[2021-10-25 14:12] PierreRambaud opened #26411 "Errors are not correctly handle in FO and BO contexts"
#### Describe the bug

First, we should run a deprecated notice when we use hook aliases.
Aliases are here for retro compatibility and should be removed in the future, this was originally designed for this reason.

Then, with the Symfony migration, all migrated controllers are based on AdminLegacyController, which result a catch of all errors/warning/deprecated/etc, when the controller is initiali

[2021-10-25 14:37] Jeremy-FT opened #26412 "Module not found: Error: Can't resolve 'tablednd/dist/jquery.tablednd.min'"
#### Describe the bug

Hi,

When you try to compile js for a new module there is this error :
Module not found: Error: Can't resolve 'tablednd/dist/jquery.tablednd.min'

#### Expected behavior

Js for a new module should compile ootb

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a module
2. import PositionExtension from "@components/grid/extension/position-extension"; for a

[2021-10-25 14:58] #26374 closed, assigned to marwachelly

[2021-10-25 15:22] SimonasB88 opened #26413 "Multistore: payment options disapear after adding voucher in checkout"
#### Payment options disappear after adding voucher in checkout

Once the user inputs the voucher in the last step of checkout, Prestashop payment disappear instantly

#### Expected behavior

The voucher should discount the price correctly, and the user should proceed finishing the order by clicking PLACE ORDER

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create 2 Default Shop gr

[2021-10-25 15:42] #26407 closed, assigned to nobody

[2021-10-25 16:24] #23230 closed, assigned to nobody

[2021-10-25 16:55] #26082 closed, assigned to nobody

[2021-10-25 16:56] #26095 closed, assigned to nobody

[2021-10-26 06:27] Hlavtox opened #26417 "Make emails render real time in twig"
#### Is your feature request related to a problem?

We currently cannot use any conditions in email templates, related to specific order, delivery or payment method.

#### Describe the solution you'd like

We can render email content in real time from their twig templates and skip the step of saving them to HTML. That will allow us to use case-specific variables during creating of the email

####

[2021-10-26 07:00] zorrobiwan opened #26419 "Silent crash when saving Product Combinations in DEBUG mode for a french user"
#### Describe the bug

When a french user try to save a product combination in the BO with no ecotax (even without changing any field), BO says "Impossible de mettre à jour les paramètres."

#### Expected behavior

Save should work :)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Fresh install 1.7.7.7
2. BO admin in french language
3. Create an simple product
4. Create an attribut

[2021-10-26 08:26] #25910 closed, assigned to nobody

[2021-10-26 08:32] matthieu-rolland opened #26421 "TEST ISSUE"
this is a test issue

[2021-10-26 08:36] #26421 closed, assigned to nobody

[2021-10-26 08:39] #26419 closed, assigned to nobody

[2021-10-26 08:47] mparvazi opened #26422 "The generated CSS files for RTL didn't use in BackOffice theme"
#### Describe the bug

 In BackOffice for each CSS file, a RTL version of CSS created automatically after PS build.

PATH:  `prestashop\admin\themes\new-theme\public`

<img src="https://user-images.githubusercontent.com/85633460/138772733-ff104130-73f7-4b2b-b182-a7102adfd0bc.png" width="250"/>

BUT the RTL version doesn't call in BackOffice when employee's default language is RTL (Just theme_rtl.c

[2021-10-26 09:25] #26325 closed, assigned to nobody

[2021-10-26 10:12] #18858 closed, assigned to nobody

[2021-10-26 10:32] #26274 closed, assigned to NeOMakinG

[2021-10-26 10:54] samaij opened #26424 "Specific prices are not properly duplicated when duplicating a product"
#### Describe the bug

When duplicating a product, any specific prices related to the product that are specific to a single combination are not duplicated.

#### Expected behavior

All specific prices should be duplicated.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a specific price for a combination
2. Duplicate the base product
3. See that the specific price is not foun

[2021-10-26 11:41] elmanu13 opened #26426 "Impossible to import more than 5 products in CSV"
#### Describe the bug

Using a small CSV file to import 50 products, each time the import system takes the 4 or 5 first lines then stop with the following error :
product name in the CSV (ID: No ID) ne peut pas être enregistré

Only few lines have been imported, the others are with no product name and prices, and the end is simply not here.

#### Steps to Reproduce

Steps to reproduce the behavior

[2021-10-26 11:47] #26326 closed, assigned to alexandrebru83

[2021-10-26 11:53] matks opened #26427 "Release 8.0.0"
This issue tracks the status of the PrestaShop 8.0.0 release

### Information

Q                                     | A
-----------------------|--------
**Type**                        | Major version
**Milestone**                | [8.0.0](https://github.com/PrestaShop/PrestaShop/milestone/64)
**Epic**                         | [Roadmap 8.0.0](https://github.com/PrestaShop/PrestaShop/issues/24111

[2021-10-26 12:12] #23240 closed, assigned to PierreRambaud

[2021-10-26 12:32] elmanu13 opened #26428 ""APC cache has been enabled, but the APC or APCu extension is not available" message, with cache DISABLED"
#### Describe the bug

Trying to import products after a server update and PHP version changed (from 7.2 to 7.4, without APC enabled) and got a server error 500:

But when you go in the parameters, the cache is DISABLED (it was enabled a long time ago, disabled before the update)

<img width="783" alt="Capture d’écran 2021-10-26 à 14 31 12" src="https://user-images.githubusercontent.com/32092528

[2021-10-26 13:08] Sekar33000 opened #26429 "Attributes with comma not displayed in Stock management"
#### Describe the bug

If a product attribute contain a comma (,) the product is not displayed in stock management.
For example a shoe size 37,5 is not displayed, a 37 1/2 shoe size work perfectly.

#### Expected behavior

I want to see all my product attributes...

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Stock management'
2. Search a product which contain product attr

[2021-10-26 13:12] #26364 closed, assigned to nobody

[2021-10-26 13:14] #26344 closed, assigned to nobody

[2021-10-26 13:23] #26212 closed, assigned to christophe-rouille

[2021-10-26 13:25] #26231 closed, assigned to nobody

[2021-10-26 14:18] #26426 closed, assigned to nobody

[2021-10-26 15:15] cloud-construct opened #26431 "Product sort ordering fails when dragging by name. Works OK dragging by position or click the checkbox manually"
#### Describe the bug

Saving the desired sort order of products within categories does not save when dragging the products in the list by their name.

#### Expected behavior

Category product orders
Clicked Reorder.
Dragged each product up one by one using the NAME
Click [save & refresh] button at the top of the table
Save the sort order

#### Steps to Reproduce

Steps to reproduce the behavior:

[2021-10-26 15:37] #24911 closed, assigned to atomiix

[2021-10-26 15:44] #26431 closed, assigned to nobody

[2021-10-26 15:47] #26219 closed, assigned to nobody

[2021-10-26 15:53] 23b opened #26432 "Customer Service (AdminCustomerThreads) creates customer_thread entries with every page load"
#### Describe the bug

Every invalid email (empty message, invalid sender, etc.) in the imap mailbox will continuously generate new invisible (orphan) customer threads.

#### Expected behavior

If a invalid email gets detected and added to the ps_customer_message_sync_imap just like valid emails

#### Steps to Reproduce

Steps to reproduce the behavior:

1) Send a email **without** text to the ima

[2021-10-26 15:54] #26244 closed, assigned to nobody

[2021-10-26 16:25] #26406 closed, assigned to nobody

[2021-10-26 17:10] alexandrebrubeyonds opened #26433 "[FO] Add to cart not working when clicking on icon cart"
#### Describe the bug

When we click on the cart icon inside add to cart button, product don't work.

#### Expected behavior

When we click on the cart icon inside add to cart button, product should work

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to product page
2. Click on icon cart inside add to cart button
3. See product not added to cart

**Screenshots**

<img width="112

[2021-10-26 18:24] varoguitjab opened #26438 "Id Reference for TaxRulesGroup"
When I modify a tax rule group the id stored as a configuration in other places such as modules is deprecated.

Id like to have an id reference for TaxRulesGroup like the carriers have, so even if the id changes we can find the TaxRuleGroup by the id_reference

[2021-10-26 18:48] hibatallahAouadni opened #26439 "[FO - Wishlist] - the wishlist bloc is bad displayed"
#### Describe the bug

On Mobile device, when you try to access the wishlist, you can see that you can scroll horizontally.
With PS 1.7.7.8 => no error

[code]
It seems this style has been removed.

#### Expected behavior

The wishlist bloc should be like it use to be on 1.7.7.8 (see the attached screenshot below)

![image](https://user-images.githubusercontent.com/23308427/138940997-398dbdf8-ad04

[2021-10-26 22:37] Maofree opened #26440 "[Fix] change "Thing" to "Brand" for the brand JSON-LD"
Hi

#### Describe the bug

From few days many websites get notifications from google search console about brand microdata not set in the right way. Google has changed something about the brand microdata
check here
https://developers.google.com/search/docs/advanced/structured-data/product#json-ld

#### Expected behavior

`      "brand": {
        "@type": "Thing",
        "name": "ACME"
      },`

[2021-10-27 06:10] #26342 closed, assigned to marwachelly

[2021-10-27 06:11] #26044 closed, assigned to nobody

[2021-10-27 09:02] #26438 closed, assigned to nobody

[2021-10-27 09:05] #26440 closed, assigned to nobody

[2021-10-27 09:14] #26236 closed, assigned to tswfi

[2021-10-27 09:15] #23365 closed, assigned to Progi1984

[2021-10-27 09:46] clopeau opened #26442 "BO - Admin order failed in multistore context"
#### Describe the bug

In prestashop 1.7.8.0 with a new install, you turn on the multistore, create a group and a shop 2 (with customer shared, with or without stock order shared).

In the BO i want to create an order for the shop 2, only "multishop" products can be added to the cart and then the stock of shop 1 is decreasing.
If the product was created exclusively in shop 2 then it's impossible t

[2021-10-27 11:38] #16505 closed, assigned to nobody

[2021-10-27 11:39] #26439 closed, assigned to hibatallahAouadni

[2021-10-27 11:39] #9579 closed, assigned to nobody

[2021-10-27 12:27] #16770 closed, assigned to Progi1984

[2021-10-27 12:35] d33x opened #26444 "ps_facetedsearch - Alphabetical order of brands is not correct"
#### Describe the bug

The alphabetical order seems to be case sensitive as it takes into account possible capital letters when it should not.

![ps_facetedsearch](https://user-images.githubusercontent.com/76649472/139065842-34654ac6-13da-41a0-8fb4-e768ca65211c.png)

#### Expected behavior

"abc" brand should be before "Studio Design"

#### Steps to Reproduce

Steps to reproduce the behavior:

1.

[2021-10-27 14:02] eveneme opened #26446 "you cannot combine prestashop with add-ons."
#### Describe the bug

Unable to link account with addons to prestashop.

**Screenshots**

Module Account PrestaShop.

https://i.ibb.co/HN1jTYN/obraz-2021-10-27-160142.png

* PrestaShop version: 1.7.8.0
* PHP version: 7.4

[2021-10-27 14:10] #21201 closed, assigned to Progi1984

[2021-10-27 14:30] #25966 closed, assigned to mparvazi

[2021-10-27 15:04] #26433 closed, assigned to kpodemski

[2021-10-27 15:28] marwachelly opened #26450 "BO - Order page- Error when deleting cutomized product"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO> Create an order with the same customized product with different customization and different quantity
2. Go to BO> Orders page > click on the order created
3.  try to delete all produ

[2021-10-27 15:33] #18480 closed, assigned to Progi1984, TristanLDD

[2021-10-27 16:01] roberto3211 opened #26452 "url size suffix useless and creating problems"
THE BUG
tested with
prestashop 1.7.7.5 and 1.7.7.8
PHP version PHP 7.3 (ea-php73)
If the url of a product contains Clothing Size Attribute and Currency suffix, the currency is not changed in front office.

examples:
These URLs do not change currency in the front office
https://shop.ducatimilano.com/en/3-3-leather-jacket-by-donna-original-ducati-classic-c2-9810286.html#/3-size-42?SubmitCurrency=1&i

[2021-10-27 16:03] jolelievre opened #26453 "Bulk delete language has different behaviours depending on the order of input"
#### Is your feature request related to a problem?

This is related to the recent PR that adds behat test on Language commands:
https://github.com/PrestaShop/PrestaShop/pull/26362

Some tests have been added regarding bulk delete and bulk disable on default language. The input parameters are looped through and an exception is raised when the default language is reached.

This creates different beh

[2021-10-27 16:09] #26452 closed, assigned to nobody

[2021-10-27 16:28] alexandrebrubeyonds opened #26454 "[BO] Stock movements page don't show time"
## Describe the bug

Stock movements page show only date and not time
<img width="1450" alt="Capture d’écran 2021-10-27 à 18 24 06" src="https://user-images.githubusercontent.com/92941405/139107101-47f54d4e-1340-405a-96e6-8a5f8c01c450.png">

## Expected behavior

Display date & **time** of movements
<img width="1450" alt="Capture d’écran 2021-10-27 à 18 19 51" src="https://user-images.githubus

[2021-10-27 16:33] roberto3211 opened #26456 "[Multicurrencies] Url size suffix useless and creating problems"
#### Describe the bug
If the url of a product contains both Clothing Size Attribute and Currency suffix, the currency is not changed in front office.

#### Expected behavior
On the contrary, the following URLs can change currency and select right product, suffix #/3-size-42 or #/179-size-46 are useless.
https://shop.ducatimilano.com/en/3-3-leather-jacket-by-donna-original-ducati-classic-c2-9810286

[2021-10-27 16:37] #26446 closed, assigned to nobody

[2021-10-27 16:49] #14006 closed, assigned to nobody

[2021-10-27 16:58] #26130 closed, assigned to nobody

[2021-10-27 16:59] #26097 closed, assigned to nobody

[2021-10-27 17:00] #26099 closed, assigned to nobody

[2021-10-27 19:32] Oksydan opened #26457 "Password reset form don't check if user exists"
#### Describe the bug

When customer want to reset password they go to reset password page and type their password there. Form accepts every email that don't even exists into customer table with success alert `If this email address has been registered in our shop, you will receive a link to reset your password at %email%.`. If customer will make a typo they will wait for never coming email with pa

[2021-10-27 20:02] #26457 closed, assigned to nobody

[2021-10-27 20:13] #26067 closed, assigned to AshleyButcher

[2021-10-27 22:32] alfonsolr09 opened #26460 "what happens with PrestaShop / ps_reminder"
What happens with PrestaShop/ps_reminder  ? "This repository has been archived by the owner. It is now read-only."

[2021-10-28 06:47] tonypartridge opened #26462 "Re-usable Modules"
It would be good if we can re-work how modules are handled. At the moment, we need to create a new module for every position you what that module in.

Say you want to use a slideshow module or a custom HTML module you have to duplicate them for different content in different locations.

Joomla! for example, handles modules very differently, for instance, if you have your module base, then you crea

[2021-10-28 07:38] #26460 closed, assigned to nobody

[2021-10-28 07:50] #26462 closed, assigned to nobody

[2021-10-28 08:30] khouloudbelguith opened #26463 "BO - Profiles - Filters are NOK"
#### Describe the bug

In the BO > Advanced Parameters > Team > Profiles page, when we try to filter by any field, the page is just refreshed.
This regression is detected by [nightly](https://nightly.prestashop.com/report/2870)
![image](https://user-images.githubusercontent.com/16067358/139217918-8ef7e3f4-b4e5-46de-b989-1747f7abd6d5.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

[2021-10-28 08:47] #23323 closed, assigned to nobody

[2021-10-28 09:35] #23258 closed, assigned to nobody

[2021-10-28 10:59] #26387 closed, assigned to nobody

[2021-10-28 11:02] #26154 closed, assigned to nobody

[2021-10-28 11:03] #26135 closed, assigned to nobody

[2021-10-28 12:26] #22898 closed, assigned to NeOMakinG

[2021-10-28 13:12] saiif opened #26466 "Search query must be eq not Like"
https://github.com/PrestaShop/PrestaShop/blob/d95d637a1bc801749209a0f216923bc5d58932a1/classes/Combination.php#L507

return wrong product_attribute id when references is similaire
exp : 500 , 5000

[2021-10-28 13:30] #26466 closed, assigned to nobody

[2021-10-28 13:39] saiif opened #26467 "Combination::getIdByReference() returns wrong id"
#### Describe the bug

Combination::getIdByReference() returns wrong id

#### Expected behavior

$id = Combination::getIdByReference(500);
return the same id
$id = Combination::getIdByReference(5000);
cause like is used for the query

#### Steps to Reproduce

Steps to reproduce the behavior:

$id = Combination::getIdByReference(500);
return the same id
$id = Combination::getIdByReference(5000);

*

[2021-10-28 14:03] #13569 closed, assigned to nobody

[2021-10-28 14:05] #23370 closed, assigned to nobody

[2021-10-28 14:05] #25463 closed, assigned to nobody

[2021-10-28 14:07] #12552 closed, assigned to nobody

[2021-10-28 14:30] #24706 closed, assigned to lmeyer1

[2021-10-28 14:59] #11402 closed, assigned to BilalDr, Darmona

[2021-10-28 15:07] #26261 closed, assigned to PululuK

[2021-10-28 15:26] #26296 closed, assigned to nobody

[2021-10-28 16:26] #15878 closed, assigned to psyray

[2021-10-28 19:56] LollipopAdmin opened #26470 "Mail are not sent to customer neither merchant after upgrade from 1.7.6.1 to 1.7.8.0"
#### Describe the bug

After upgrade, mail are not sent to customers when they order, neither to merchant.
I tried to send mail from the test email on Advanced settings > Email but it does not work neither.
I'm using standard email setup /usr/sbin/sendmail

#### Expected behavior
Mails should be sent.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Back-office > Advanced Sett

[2021-10-29 05:24] #26429 closed, assigned to nobody

[2021-10-29 05:28] #26237 closed, assigned to tswfi

[2021-10-29 07:53] krekken opened #26471 "Using display hooks in order view produces error"
#### Describe the bug

After updating my container from 1.7.7.8 to 1.7.8, the modules i'm working on that uses some of the display hooks in order view, produces a render error. The two hooks i tried to use are: `displayAdminOrderMain` and `displayAdminOrderSide`.

Before upgrading everything worked fine, so i'm fairly sure this is a bug.

The error(i screenshot the whole profiler down below):
[cod

[2021-10-29 09:50] eveneme opened #26474 "Automatic removal of abandoned shopping carts"
#### Is your feature request related to a problem?

No

#### Describe the solution you'd like

I would like abandoned shopping baskets to be automatically deleted if the payment has not been made, so that it does not interfere with stock!

#### Alternatives you've considered

The module is built into prestashop

#### Additional context

If the stock is small, it is a very troublesome topic because

[2021-10-29 11:08] ghost opened #26476 "Optin is enabled for the email anonymous@psrgpd.com"
#### Describe the bug

The address anonymous@psgdpr.com is active for partner offers.

So if you export a list, you have anonymous@rpgd.com in your list.

#### Expected behavior

Disable optin for this address

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to your database
2. Check the table customer for anonymous@psgdpr.com

**Screenshots**

#### Additional information

[2021-10-29 11:18] #26467 closed, assigned to nobody

[2021-10-29 17:20] alexandrebrubeyonds opened #26482 "[BO] Product page, Specific prices - Change currency don't change Symbol"
## Describe the bug

When we change the currency condition for specific price, the default currency doesn't change by the currency symbol selected.

<img width="1295" alt="Capture d’écran 2021-10-29 à 19 15 14" src="https://user-images.githubusercontent.com/92941405/139476935-bc8af49f-b484-4300-8c52-ff2b7ab19608.png">

## Expected behavior

When we change the currency condition for a specific pr

[2021-10-29 17:32] takestop opened #26484 "[PS 1.7.8] Uncaught Error: Class 'AppKernel' not found"
hi everyone, we used a private cloud with PHP 7.4 on which prestashop version 1.7.8 was installed. We installed the MigrationPro module on the new version of prestashop which, by connecting to the old private cloud, migrated all the data relating to the database. Once the migration is complete, we have configured the new prestashop 1.7.8 with the various data (couriers, suppliers, brands, etc.). I

[2021-10-29 18:26] alexandrebrubeyonds commented on #26355
@florine2623 PR merged last week :)

[2021-10-30 09:08] khouloudbelguith opened #26491 "BO - New tax rule page - the State field and the Zip/Postal are not aligned"
#### Describe the bug

In the BO > Taxes > Tax rule page, in the "add new tax rule" section, the `State` field and the `Zip/Postal code range` filed are not aligned.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Taxes > Tax rule page
2. Edit a tax rule
3. Click on "Add tax rule"
4. Select a country with states (for example United states)
5. See error:  the State field a

[2021-10-30 09:43] hibatallahAouadni commented on #26484
Hello @takestop

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-10-30 09:43] #26484 closed, assigned to nobody

[2021-10-30 09:50] hibatallahAouadni commented on #26245
Hello @111lisu

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a host problem.

We will close this issue.
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com).

Thanks!

[2021-10-30 09:50] #26245 closed, assigned to nobody

[2021-10-30 10:04] hibatallahAouadni commented on #26400
Hello @pnucci

Sorry @pnucci I can't help you anymore :disappointed: closing this issue.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask

[2021-10-30 10:04] #26400 closed, assigned to nobody

[2021-10-30 10:09] hibatallahAouadni commented on #26230
Hello @mmursalov

Did you solve your issue?
Cause I didn't manage to reproduce the issue while upgrading from 1778 to 1780.
Please check and feedback.

Thanks!

[2021-10-30 10:35] hibatallahAouadni commented on #26403
Hello @0dp

Yep, you're right! I reproduce the issue with PS1774 and PS1780. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specia

[2021-10-30 11:49] hibatallahAouadni commented on #26361
Hello @Nikos22350

He asked us to enter a value while on the synopsis it is not indicated as mandatory.
If we fill in a value, everything works.

Using this as body for my webservice request to create a product, it works well:

[code]

It seems you override your webservice by adding this attribute `position_in_category` as required.
As your issue is not Core bug but within your overides, so I clos

[2021-10-30 11:49] #26361 closed, assigned to nobody

[2021-10-30 11:51] hibatallahAouadni commented on #26338
Hello @kornwaikas

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2021-10-30 11:51] #26338 closed, assigned to nobody

[2021-10-30 11:52] hibatallahAouadni commented on #26093
Hello @camlafit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-30 11:52] #26093 closed, assigned to matks

[2021-10-30 12:01] Nikos22350 commented on #26361
@hibatallahAouadni
We use the webservice API provided by Prestashop and not an API set up by our services.
for me the bug comes from Prestashop and not from us because everything worked before the arrival of version 1.7.8.0.

[2021-10-30 13:38] LollipopAdmin commented on #26470
Hello,

Thanks to all for looking at my issue.

I finally fixed my issue by setting up a real SMTP Server from my host provider One.com.
I have used TLS encryption on dedicated Port 587 with SMTP server (mailout.one.com) as defined in one.com documentation.
Since then it is working like a charm...

Concusion:
I'm missing a bit more pro-active information from Prestashop to warn the merchant about

[2021-10-30 15:29] camlafit commented on #26093
Hello

I confirm always this problem.
I don't understand why close this issue and its solution as we have any regression with this patch.

[2021-10-31 13:55] SharakPL commented on #25975
Is _Material Icons Font_ a requirement for new theme? I see you go with Bootstrap 5 so why not switch to [Bootstrap Icons](https://icons.getbootstrap.com/). IMHO they're much nicer for the eye and give more possibilities:

![obraz](https://user-images.githubusercontent.com/5007456/139586952-d11c29dc-1869-46fe-a311-825c1f62fb35.png)

[2021-10-31 14:27] mparvazi commented on #26491
Hello @khouloudbelguith

This happens in forms on pages that are using legacy theme

BO > Attributes > Edit an attribute group

![Screenshot 2021-10-31 at 17-54-11 مشخصه‌ها ویرایش اندازه • ONE](https://user-images.githubusercontent.com/85633460/139588279-1a461e59-631c-4bef-8c6b-ca7a37ce36fc.png)

[2021-10-31 15:08] mparvazi commented on #26491
**Configure**
Shop Parameters > Order Settings > Statuses > Edit an item
Shop Parameters > Customer Settings > Groups > Edit an item
Shop Parameters > Contact Stores > Edit an item
Shop Parameters > Search > Tags > Edit an item

**Improve**
International > Taxes > Tax Rules > New tax rule

**Catalog**
Attributes & Features > Attributes > Edit an item
Attributes & Features > Features > Edit an item

[2021-10-31 17:21] mparvazi opened #26497 "Add an instant search for the main menu in BO"
#### Describe the solution you'd like

Adding an instant search for main menu links in BO would be helpful for users that are new to PS.

#### Screenshot

<img src="https://user-images.githubusercontent.com/85633460/140098383-b84f735b-2645-4b8c-afca-00ebfe60e9b5.png" width="800"/>

#### Video

https://watch.screencastify.com/v/cK6inbhGct7aTQEPMqdo

[2021-10-31 18:29] templatin commented on #26412
@Jeremy-FT Please try [this fix](https://github.com/PrestaShop/PrestaShop/issues/26248#issuecomment-944902368) and let me know whether it solves your error.

[2021-10-31 21:37] Hlavtox commented on #10093
@hibatallahAouadni @NeOMakinG AMPs are dead since June 2021, google removed them from their ranking algorithms… finally 😂

[2021-10-31 21:39] Hlavtox commented on #10093
[code]

[2021-11-01 04:30] zapalm commented on #17059
The deletion of `phpunit` folders is not just wrong solution, it can also stop the site from working in some cases. Only one file is _potentially_ vulnerable and must be deleted: `eval-stdin.php`.

For ease of solving the problem, use my free module: [Tool for maintenance & debug](https://www.prestashop.com/forums/topic/432277-module-tool-for-maintenance-debug/). It seems that I did a better solut

[2021-11-01 08:49] Hlavtox commented on #26474
Hi, shopping cart does not reserve the stock for anybody, it does not interfere with stock. Only you as a customer see the product quantity reduced by the amount of items in your cart.

[2021-11-01 08:59] hibatallahAouadni commented on #26497
Hello @mparvazi

That will be very helpful :clap: and if you could provide a PR, it will be great :rocket:
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Thank you

[2021-11-01 09:30] hibatallahAouadni commented on #10093
Ping @Hlavtox thanks for the tip :wink:
Could you please provide the link of this article :pray:

[2021-11-01 09:35] hibatallahAouadni commented on #10093
Thanks @Hlavtox for the links :relaxed:

https://plausible.io/blog/google-amp
https://blog.searchmetrics.com/us/is-this-the-end-of-amp/

Ping @PrestaShop/prestashop-core-developers wdyt?

[2021-11-01 11:04] mmursalov commented on #26230
Hello @hibatallahAouadni ,

I reverted back to 1.7.7.8 as my upgrade finished with warnings as shown in the link below and I am not sure how to fix that.

https://github.com/PrestaShop/PrestaShop/issues/26230#issuecomment-950903917

Any advise on how to solve this, as I would like a clean upgrade?

[2021-11-01 11:26] DracoBluee commented on #26474
it is about unpaid orders

[2021-11-01 11:32] hibatallahAouadni commented on #26422
Hello @mparvazi

Thanks for your issue and your PR :rocket:
I reproduce the issue issue with PS1780 and develop. I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-11-01 13:39] hibatallahAouadni commented on #26482
Hello @alexandrebrubeyonds

I reproduce the issue with PS1767, PS1778, PS1780. Thanks for your PR :rocket:
The Product Team will take it into consideration for future developments.

Ping @PrestaShop/product-team shall we change the euro signal by the chosen currency in these fields (`input-group-prepend` & option amount? wdyt?

![image](https://user-images.githubusercontent.com/23308427/139680593-

[2021-11-01 13:40] hibatallahAouadni commented on #12911
Reproduced on 1.7.8.0

[2021-11-01 16:29] hibatallahAouadni commented on #26198
Hello @momo1240

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-01 16:29] #26198 closed, assigned to nobody

[2021-11-01 16:40] hibatallahAouadni commented on #26161
Hello @RubenMartins & @eveneme

Can you please reset the module and check if the issue still persist?
Please check and feedback.

Thanks!

[2021-11-01 17:01] hibatallahAouadni commented on #26373
Hello @SharakPL

I reproduce the issue of brand logo on description tab (FO>Product page) with PS1780 & develop, and it's a regression:

![image](https://user-images.githubusercontent.com/23308427/139708378-6bfa73d4-20f7-4e20-89d9-b4ca1f4529cb.png)

While with PS1778, it was ok :heavy_check_mark:

![image](https://user-images.githubusercontent.com/23308427/139708431-660559da-677e-4183-a81d-2e1a6b0

[2021-11-01 17:12] khouloudbelguith commented on #26491
Hi @mparvazi,

Attributes & Features > Attributes > Edit an item
Attributes & Features > Features > Edit an item

Fixed by:
https://github.com/PrestaShop/ps_facetedsearch/pull/433
https://github.com/PrestaShop/PrestaShop/pull/24580

[2021-11-01 17:37] RubenMartins commented on #26161
Hi @hibatallahAouadni yes reseting the plugin did the trick to fix it.

Thank you

[2021-11-01 17:42] matkpc commented on #26199
@sfroment : Thanks!  I tried the solution directly in my php webservice script but it didn't work.  Putting it in webservice/dispatcher.php did it!
Thanks a million!

[2021-11-01 18:10] alexandrebrubeyonds commented on #26463
I don't reproduce this issue, and you ?

[2021-11-01 19:08] tswfi commented on #14913
@hibatallahAouadni about this comment in my pr: https://github.com/PrestaShop/PrestaShop/pull/25549#issuecomment-953946936

I've removed the fixes mention of this issue from the pr https://github.com/PrestaShop/PrestaShop/pull/25549

Now that PR only fixes https://github.com/PrestaShop/PrestaShop/issues/25545

But if we want a fix for this issue I see two options:

1) we close this with "please up

[2021-11-01 20:38] SharakPL commented on #26373
@hibatallahAouadni I think you missed a lot from this issue. No wonder you couldn't reproduce it on the product page and category images since you've only used landscape image on default square miniatures instead of changing miniature's ratio to portrait or landscape. I specifically added a screen with dimmensions, so why did you remove it? Main problem is this theme simply can't handle different

[2021-11-01 23:00] TrzniCentar9402 opened #26498 "BO product edit can't see and edit description and short description PS ver 1.7.8.0 - html boxes dissapear"
When I go to admin panel to edit (change description) my product , I can't see my text in section description and short description. This is a problem when I upgrade from 1.7.4.0 to 1.7.8.0. My previous version works excellent. This version 1.7.8.0
have a lots of bugs. There is also bug in email template, I can't edit html in translate option, but I can edit txt version of email template (order_co

[2021-11-02 07:07] #23325 closed, assigned to nobody

[2021-11-02 07:15] #16551 closed, assigned to Hlavtox

[2021-11-02 07:16] Progi1984 commented on #22315
Fixed by @NeOMakinG in #26465

[2021-11-02 07:16] #22315 closed, assigned to NeOMakinG

[2021-11-02 07:48] BullyBlue opened #26499 "Cannot create Variations | change not saved"
Dear Community,

I am currently losing my mind. I reinstalled this shop the 5th time now - and again an error occured. I googled and checked all forums but could not find the same issue / relatable issues but no solution.

Host: Strato
PHP: 7.3
website: bullyblue.de
Prestashop: 1.7.7.8
Used Theme: Osome (i think the issue might be in modules from that theme - but idk how to find out)

**Problem:**

[2021-11-02 08:35] NeOMakinG commented on #10093
I think we can close it honestly, AMP was originally designed to be used for news things, not for an e-commerce solution, it's not a priority at all

[2021-11-02 08:36] #26291 closed, assigned to arouiadib

[2021-11-02 08:40] NeOMakinG commented on #26498
Hey @TrzniCentar9402, looks like an assets issue going wrong on upgrade, wdyt @atomiix ?

[2021-11-02 08:49] TrzniCentar9402 commented on #26498
Thanks @atomix for your reply. Yes, the problem start after I upgrade my PS on 1.7.8.0.
I made backup on October 30th, but I do a lot of work on October 31st. I did not backup my work after that and before I upgrade new version of PS. So I have 2 options. To restore my backup and lose my work, or to do something in new version to work (but I dont know what).

[2021-11-02 08:58] NeOMakinG commented on #25975
@prestascott this may interest you!

[2021-11-02 09:08] BullyBlue commented on #26498
Not an expert here - but had the same issue.

was solved after performing:
→ delete cache manually
→ do all required translations
in some cases i had to wait overnight - might be some cache problem

Maybe it helps :)

[2021-11-02 09:11] marionf opened #26500 "Remove addons block in modules"
#### Is your feature request related to a problem?

With the separation between the OS project and the company we should remove the following addons block in modules

![48549156-43502400-e8cf-11e8-9586-4724e91f7e3d](https://user-images.githubusercontent.com/13449658/139818256-95fa767c-a8d9-4b9e-935c-a84ad551b585.png)

#### List of modules

- [x] blockwishlist
- [x] blockreassurance PrestaShop/bloc

[2021-11-02 09:13] TrzniCentar9402 commented on #26498
Thanks @BullyBlue , but if I delete my translate I think I will have big problem, because my PS shop is only on Serbian (BO and FO). English language is closed (not deleted, only closed). I clean the cache, and I don't use Cache option.

[2021-11-02 09:18] SharakPL commented on #25975
I also see you're using BEM, which imho-is__simply--awful. Any chance to go back using the same-way-bootstrap-does?

[2021-11-02 09:19] NeOMakinG commented on #25975
What's your arg against using BEM?

[2021-11-02 09:27] SharakPL commented on #25975
It's inconsistent with bootstrap framework so your forced to used 2 different ways. For me personally it's awful to use and look at-identifires--like__that.

[2021-11-02 09:33] Patrickclicweb opened #26501 "[Idea] Add a redirection function 301 or 302 on Category page"
#### Is your feature request related to a problem?
It is a problem for SEO not to have this function add redirection function 301 or 302 on category page
I am always frustrated when I see that Prestashop has set up on the product pages the 301 or 302 redirects to another product or category and that this has not been done also for the category pages

#### Describe the solution you'd like
We could

[2021-11-02 09:36] florine2623 commented on #26499
Hello @BullyBlue ,

First, please change your admin folder name for security reasons, this is a public platform.

I couldn't reproduce your issue, as you can see per my screen record video :
https://watch.screencastify.com/v/vXHKD4748976ZG7O8dY7
<img width="266" alt="Screenshot 2021-11-02 at 10 36 09" src="https://user-images.githubusercontent.com/16019289/139822094-f5b5f442-dfed-474f-b165-9ef0cb0

[2021-11-02 09:37] Hlavtox commented on #25975
@SharakPL Do you have any better naming convention them BEM?

@prestascott I also vote for BS icons ;-)

[2021-11-02 09:42] SharakPL commented on #25975
The same Bootstrap does :)
We should also use stylelint bootstrap config.

[2021-11-02 10:01] BullyBlue commented on #26499
Hello @florine2623,
thanks for your reply !

I might be doing something wrong - but the link to check the requirements doesnt work somehow.
I uploaded it to another domain using the same server - but it does not accept the password.
Feel free to check [Here](http://kästnerdoreen.de/phppsinfo.php)

Since I could create combinations when freshly installed - I dont feel there is an issue with the req

[2021-11-02 10:16] piotro9x commented on #26186
All of the above are unsuccessful. Catalog price rules does not work. The promotion rules are not added on the main page and on the discounted product pages. What can be done more in this situation?

[2021-11-02 10:23] florine2623 commented on #26501
Hello @Patrickclicweb ,

I edited your Feature request issue. Please edit it if needed or if information is missing.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist]

[2021-11-02 10:39] florine2623 commented on #26499
That's strange indeed.
For the system requirements info, could you try to put this file directly in your shop folder ?
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/7459842/phppsinfo.php.zip)

I tested on my shop and the link works correctly with login and password `prestashop`

On my test shop :
- I installed Paypal module (con configuration)
- I added a file in Option Tab
<i

[2021-11-02 10:42] florine2623 commented on #26161
I will close the issue as it is fixed.
Thanks!

[2021-11-02 10:42] #26161 closed, assigned to nobody

[2021-11-02 11:03] florine2623 commented on #26186
Hello @pablo9x ,

I can't reproduce your issues in PS 1.7.7.7.
I created a Catalog Price Rule and in BO the discount are well displayed :
<img width="1150" alt="Screenshot 2021-11-02 at 12 02 00" src="https://user-images.githubusercontent.com/16019289/139834959-8634d3e0-42f0-439f-9fc6-ada2bbbee95f.png">

We use GitHub issues only to discuss about **bugs** and **new features** in the PrestaShop pro

[2021-11-02 11:03] #26186 closed, assigned to nobody

[2021-11-02 11:08] florine2623 commented on #26498
Hello @TrzniCentar9402 ,

I did the following steps :
- Installed shop in 1.7.4.0
- Installed Serbian pack
- Only activate Serbian language via BO
- Installed 1-click upgrade v4.13.0
- Upgraded my shop to 1.7.8.0 :
<img width="1197" alt="Screenshot 2021-11-02 at 12 01 08" src="https://user-images.githubusercontent.com/16019289/139835053-fcc86e6d-62ab-4728-bfb3-999285d17fa3.png">

- Go to BO > Cata

[2021-11-02 11:23] florine2623 commented on #26409
Hello @AntonioTrudu ,

I can't reproduce your issue.

I created my product with the same specific prices as you did :
<img width="1197" alt="Screenshot 2021-11-02 at 12 19 35" src="https://user-images.githubusercontent.com/16019289/139837255-84c6e67a-427c-4bc4-acd5-9a73a7580372.png">

Here's the table with the volume discounts :
<img width="488" alt="Screenshot 2021-11-02 at 12 21 33" src="https:/

[2021-11-02 11:28] florine2623 commented on #26381
Hello @rodrigorega ,

Can you check if your system requirements are met when installing your shop :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please check and feedback.
Thanks!

[2021-11-02 11:30] tswfi opened #26502 "StockLevel JS formatter in input field broken in some languages that use non standard minus sign"
#### Describe the bug

At least in variation stocklevel input field (products -> product with variations -> variations tab -> edit one variation) the stock level input field is formatted by CLDR to have a non standard dash character as minus sign. Touching the field to change the last number reformats the value from `−10` to `.11` when focusout happens on the field

#### Expected behavior

Minus s

[2021-11-02 11:32] florine2623 commented on #26470
Hello @LollipopAdmin ,

Glad to hear that it is working well for you !

I'll close your issue as it is fixed !
Thanks!

[2021-11-02 11:32] #26470 closed, assigned to nobody

[2021-11-02 11:36] florine2623 commented on #26412
Hello @Jeremy-FT ,

I have ps_linklist installed on my PS  1.7.7.7 shop.

Now, can you provide more info so I can reproduce steps 2 to 4 ?

Thanks!

[2021-11-02 12:15] TrzniCentar9402 commented on #26498
Thanks @florine2623  I do the same.
- I check phppsinfo its ok
- I upgrade Serbian pack
- I have latest version of 1-click and PS
- but still description and short description are disabled (they show me for a second and then dissapear).

[2021-11-02 12:33] Jeremy-FT commented on #26412
It doesn't seem to work

[2021-11-02 12:37] Jeremy-FT commented on #26412
Hello @florine2623,

You can go to modules/ps_linklist/views/js and run yarn and yarn build to reproduce the error

[2021-11-02 12:39] Jeremy-FT commented on #26412
Note that I have upgraded Presta to 1.7.8.0 and now I use this. It doesn't require to import components now. I don't know if the issue should be fixed.
https://devdocs.prestashop.com/1.7/development/components/global-components/

[2021-11-02 12:45] Progi1984 commented on #26383
@PrestaShop/product-team Does it need specifications ? :wink:

[2021-11-02 12:55] florine2623 commented on #26498
Ok, noted.

What about the following elements ?

https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2021-11-02 12:56] TrzniCentar9402 commented on #26498
requirements are ok. Checked.

[2021-11-02 13:10] florine2623 commented on #26456
Hello @roberto3211 ,

https://shop.ducatimilano.com/en/3-3-leather-jacket-by-donna-original-ducati-classic-c2-9810286.html?SubmitCurrency=1&id_currency=13
https://shop.ducatimilano.com/en/3-829-leather-jacket-by-donna-original-ducati-classic-c2-9810286.html?SubmitCurrency=1&id_currency=13

#/3-size-42 or #/179-size-46 are not shown because they are the defaults attributes. Can you check on your si

[2021-11-02 13:15] florine2623 commented on #26498
I can't reproduce your case sorry. Let me know how the restoration of backup works.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Th

[2021-11-02 13:28] marwachelly opened #26503 "Autoupgrade - Error during upgrade to develop"
#### Describe the bug

There is an error during the autoupgrade to the 8.0.0.

#### Expected behavior

Autoupgrade to develop is possible with no error.

#### Steps to Reproduce

Steps to reproduce the behavior:

Steps to reproduce the behavior:

1. Create a release 8.0.0 using (php tools/build/CreateRelease.php) from develop branch
2. Autoupgrade the version 1.7.8.0 to 8.0.0 using local archive
3

[2021-11-02 13:47] florine2623 commented on #26412
Hello @Jeremy-FT ,

I'm using yarn v1.22.17, PS 1.7.7.7, PHP 7.3.
When I run `yarn build` ,
I have this error : `error Command "build" not found.`

Am I doing something wrong ?

[2021-11-02 13:50] NeOMakinG commented on #26144
![image](https://user-images.githubusercontent.com/14963751/139860075-03d44146-c1a5-4d25-82f1-c43838204c17.png)

Can't reproduce the second point

[2021-11-02 14:01] florine2623 commented on #26502
Hello @tswfi ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a sp

[2021-11-02 14:10] Jeremy-FT commented on #26412
My mistake, try `yarn run build`

[2021-11-02 14:13] jolelievre commented on #26503
This is due to the removal of the deprecated method in this PR https://github.com/PrestaShop/PrestaShop/pull/26309

The autoupgrade module needs to be updated so that it doesn't use this method anymore.

[2021-11-02 14:17] mparvazi commented on #26497
`admin\themes\default\template\nav.tpl`

[code]

[code]

`admin\themes\default\public\theme.css`

[code]

[2021-11-02 14:43] jolelievre commented on #26503
I proposed a fix in this PR https://github.com/PrestaShop/autoupgrade/pull/434 but I have questions regarding retro compatibility of the `autoupgrade` module I'd like some feedback from core developers @PrestaShop/prestashop-core-developers

[2021-11-02 15:13] Gaja-A opened #26504 "Backoffice started loading very slow"
Hi,

I created a product with 38,416 (14 x 14 x 14 x 14) combinations in the back office.  After the creation, the back office takes more time to load each content.

Is there a solution?

* PrestaShop version: 1.7.7.3
* PHP version: 7.3

Regards,
Gaja

[2021-11-02 15:26] florine2623 commented on #26504
Hello @Gaja-A ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19123.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2021-11-02 15:26] #26504 closed, assigned to nobody

[2021-11-02 15:26] florine2623 commented on #26504
Duplicate of #19123

[2021-11-02 15:26] sciupy76 commented on #26230
Hi everyone ... I manually upgraded Prestashop, from 1.7.7.8 to 1.7.8
The update was successful giving me the report of some errors (I attach screenshots). Unfortunately, it keeps returning the same error I had on version 1.7.7.8: the 1-Click Upgrade module does not work and it does not work "Advanced Parameters> Information (as soon as I click on it it goes into error 500 and I have to wait a few

[2021-11-02 15:32] rodrigorega commented on #26381
Thanks for your reply.

I attach screenshots of the requirements.

Did you tried setting wait_timeout instead innodb_lock_wait_timeout?

![image](https://user-images.githubusercontent.com/3441785/139878066-ed29fbcb-974c-42c7-8f6a-f3e5ffc5cba1.png)

![image](https://user-images.githubusercontent.com/3441785/139878137-8fe55d0e-43bf-4aa1-813d-7bd7c4548500.png)

Regards.

[2021-11-02 15:50] #26384 closed, assigned to hibatallahAouadni

[2021-11-02 16:02] Progi1984 commented on #26040
Thanks @hibatallahAouadni

[2021-11-02 16:02] #26040 closed, assigned to hibatallahAouadni

[2021-11-02 16:06] AldeaG commented on #20659
Hi all.
I have this question but not sure if it is completely related.
I am preparing my store for the next season and I have already placed orders with suppliers that will arrive at the beginning of the year. To get ahead of my work, I want to prepare the CSVs and upload them to Prestashop, but I don't want them to be available or visible for order until then. How do I prepare the CSV so that the

[2021-11-02 16:18] cezarlacatus commented on #16306
This happens to me everytime, what can I do?

[2021-11-02 16:32] florine2623 commented on #26385
ping @PrestaShop/product-team ,

A PR is available for this issue and waiting for QA.
Could you check if it is PM ✅ ?

Thanks!

[2021-11-02 17:18] florine2623 commented on #26409
Yes, indeed sorry. I changed my configuration.

For the involved customer group, you should have a configuration like this :
<img width="1190" alt="Screenshot 2021-11-02 at 18 06 46" src="https://user-images.githubusercontent.com/16019289/139912322-b4e581cf-f0cf-49b7-91a0-bebfdf79e1f7.png">

<img width="454" alt="Screenshot 2021-11-02 at 18 15 48" src="https://user-images.githubusercontent.com/160

[2021-11-02 17:26] roberto3211 commented on #26456
Hi Florine,
thank you for your interest about this matter.
I try to explain better.

Present behavior:
The suffix #/3-size-42 is shown, but it is useless and interferes with the reading of the "?SubmitCurrency......".
In other words, this URL structure is not correctly changing the requested currency (in this case 13=USD).
To easily reproduce the issue, you can go to the site https://shop.ducatimi

[2021-11-02 18:36] BullyBlue commented on #26499
Dear @florine2623,
I uploaded the file directly to the shop - still it does not work
Feel free to test yourself [Here](http://bullyblue.de/phppsinfo.php)

I activated the classic theme → still no success
only thing i can see in debugger is:

POST | xhr | 500 - /index.php/sell/catalog/products/
might there be any issue?

Thanks in advance

[2021-11-02 23:59] alfonsolr09 commented on #16306
The PrestaShop team does not care about this serious error, it seems that you cannot do anything.
"If you want a solution you can find it on your own since it is an open source project"
I am in the same case as you, friend ... I find it regrettable

[2021-11-02 23:59] alfonsolr09 commented on #16306
@marionf thats not a improvement, thats a bug!!

[2021-11-03 06:49] #23922 closed, assigned to andromaque

[2021-11-03 07:32] Betafer commented on #9866
Any news about this ?

[2021-11-03 07:53] hibatallahAouadni commented on #10093
Thanks guys for your feedback!
Closing the issue!

[2021-11-03 07:53] #10093 closed, assigned to nobody

[2021-11-03 08:02] hibatallahAouadni commented on #14913
Hello @tswfi

Well, your PR target the develop branch, means that your PR will be merged in 8.0.0 :wink:

Thanks!

[2021-11-03 08:16] tswfi commented on #14913
I've been told to always make pr against develop branch and then the stuff that should come in different versions will be "cherry picked" to 1.7.8.x?

[2021-11-03 08:27] BullyBlue commented on #26499
Since I am still trying to find something

I found out the following:
→ I can create 1 combination
→ but i cant give that combination any quantity or other settings
→ cant create more variants

[2021-11-03 08:28] alejandrocastanon commented on #16155
@mayka83 Did you find a solution for this bug?

[2021-11-03 08:32] hibatallahAouadni commented on #26373
Hello @SharakPL

The issuse that you're talking about it's already in our Backlog Patch #25849 :wink:

Yeeeess please :tada: if you could fix the brand logo isssue :pray:

Thanks in advance.

[2021-11-03 08:47] #22643 closed, assigned to nobody

[2021-11-03 08:52] hibatallahAouadni commented on #26497
Ping @PrestaShop/ux-team @NeOMakinG wdyt?

[2021-11-03 09:34] khouloudbelguith opened #26508 "[Modules - DisplayHome hook] The modules New products block, Specials block, Top-sellers block are not transplanted to the DisplayHome hook"
#### Describe the bug

In the develop branch, the modules New products block, Specials block, Top-sellers block are installed but not transplanted to the DiplayHome hook.
![image](https://user-images.githubusercontent.com/16067358/140035459-341c8015-8c9c-4c85-b3fe-b366c7f775e5.png)
**Specials block**
![image](https://user-images.githubusercontent.com/16067358/140035549-f0a1ae7c-662e-4b6e-92af-a9bc

[2021-11-03 09:44] marionf commented on #26476
Hello @okom3pom

The toggle partner offer lets you know if your customers wants to receive the ads of your partners via email or not.
I don't understand why there is a risk of spam: your customer doesn't receive emails sent to anonymous@psrgpd.com ?

[2021-11-03 10:19] clopeau commented on #26442
The problem is coming from the "id_shop" of the cart when you add an order and choose a customer in the admin order. If i change "on the fly" in the ps_cart the "id_shop" to the right value everything is back to normal.

I tried to modify controllers/admin/AdminCartsController.php -> ajaxPreProcess() without success...

[2021-11-03 10:19] davideapvd commented on #9866
would be useful to have a milestone for this bug.

[2021-11-03 10:34] AntonioTrudu commented on #26409
Hello @florine2623
Ok. problem solved. thanks but 3,58-5%=3,40 and not 4,08

[2021-11-03 10:34] #26409 closed, assigned to nobody

[2021-11-03 11:41] Hlavtox commented on #10356
@lmeyer1 @Progi1984 Hi guys, if I enable webp using Progi's PR, how will it behave if the browser does not support webp? Is there any fallback? Or how to implement it? (I never worked with it.)

[2021-11-03 11:54] tswfi commented on #10356
@Hlavtox https://caniuse.com/webp someone should already let IE out of its misery :)

[2021-11-03 12:26] Oksydan commented on #10356
@tswfi it isn't about IE but safari THB.
1. Implement suport with `.htaccess` by reading `Vary Accept` but it will not work for websites behind for example cloudflare.
2. Use `picture` tag but it isn't perfect solution coz it will require template changes everywhere image is being used.

[2021-11-03 12:31] tswfi commented on #10356
@Oksydan oh right. only glimpsed the page, didn't notice the big sur requirement with safari...

[2021-11-03 12:33] Hlavtox commented on #10356
Yeah, let IE die, but Safari support is needed. And trust me you don't know what archaic versions of browsers do grandmas run 😄

[2021-11-03 13:22] PrestaEdit opened #26510 "Move VueJS components outside of new-theme and make a reliable library"
#### Is your feature request related to a problem?

As you know, somes pages of the Back Office are made with VueJS and there is somes components make inside the new-theme of the Back Office.

Somes modules, likely the PrestaShop Essentials, are based on VueJS and somes like the wishlist use it too.
Then, the RBM model need (for the moment) it's use in order to re-use the VueJS Accounts Component.

[2021-11-03 13:24] khouloudbelguith commented on #26471
@krekken, thanks for your feedback.
In fact I tried with PS1788(before the upgrade)
If I Install a module
[code]

=> there is no display in the BO > Orders > Order details page
But if I install a module
[code]

I have an image well displayed
![image](https://user-images.githubusercontent.com/16067358/140067712-d27d6501-737a-4d27-b2c1-c1efd921221a.png)

I attached a screen record
https://watch.scre

[2021-11-03 13:26] NeOMakinG commented on #26510
Completely agree with this

And as you told me, you do want to start it by yourself right?

wdyt @PrestaShop/prestashop-maintainers ?

[2021-11-03 13:28] PrestaEdit commented on #26510
Yes, I could make this firstly on my side (and/or inside a GitHub repo maintains by PrestaShop) to start the project and having the community help us to achieve it as needed, for sure.

[2021-11-03 13:38] khouloudbelguith commented on #26412
Hi @Jeremy-FT,

Here's the PR: https://github.com/PrestaShop/ps_linklist/pull/137 to fix the issue.
Your ticket is a duplicate of #26291
So, I close it.
Thanks !

[2021-11-03 13:38] #26412 closed, assigned to nobody

[2021-11-03 13:38] khouloudbelguith commented on #26412
Duplicate of #26291

[2021-11-03 13:41] krekken commented on #26471
@khouloudbelguith try using $params['request']. since the modules i'm working with and having issues with display forms in that display hook, i need to handle requests, and for some reason there is no request anymore in the params array. thats why i get the error

[2021-11-03 13:45] maldarol commented on #26471
I have the same issue if I use the request array in that hook in Prestashop 1.7.8.0.

[2021-11-03 13:52] khouloudbelguith commented on #26230
@mmursalov,

As seen in your [comment](https://github.com/PrestaShop/PrestaShop/issues/26230#issuecomment-950163054).
You are using a custom theme.
In the upgrade configuration page > Upgrade Option, what is your exact configuration?
`Disable non-native modules` enabled if no => you need to enable it
`Upgrade the default theme` enabled or disabled
`Switch to the default theme` enabled or disabled

[2021-11-03 14:14] #26087 closed, assigned to jolelievre

[2021-11-03 14:27] khouloudbelguith commented on #26381
Hi @rodrigorega,
I changed `wait_timeout = 15`
But, I have a different error.
I tried with PS1778 and the PS1780
![image](https://user-images.githubusercontent.com/16067358/140078010-35a2efb2-e786-4c57-8b55-43834f3cae7b.png)
I attached a screen record
https://watch.screencastify.com/v/I9Zp1EW3LW32PxZwMCzj

Thanks to check and feedback.

[2021-11-03 14:31] khouloudbelguith commented on #26499
Hi @BullyBlue,

What is the exact language of the employee?
I think it is the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/25797
Can you please confirm?

Thanks!

[2021-11-03 15:00] lmeyer1 commented on #10356
I think that switching to webp requires a change in templates using the `picture` tag. In my opinion this is what it is all about: allowing templates to use webp.

[2021-11-03 15:02] Hlavtox commented on #10356
Hmmm, but if you enable webp, the jpgs stop generating. PS cannot generate two formats of thumbnails. How to use them in the `picture` tags as a fallback then?

[2021-11-03 15:05] khouloudbelguith commented on #26442
Hi @clopeau,

I did not manage to reproduce the issue with PS1780.
I attached a screen record
https://watch.screencastify.com/v/vZlmSxkAD7hmb2cP6vAI
Thanks to check and feedback.

[2021-11-03 15:07] Hlavtox commented on #10356
How it can generate two formats?
![Výstřižek](https://user-images.githubusercontent.com/6097524/140086921-cdb0b03d-457e-4675-af6b-700376c5a6de.JPG)

[2021-11-03 15:09] lmeyer1 commented on #10356
Look at my PR #24159
It generates BOTH formats. That was the point of my PR and also of this issue IMHO.

[2021-11-03 15:13] Hlavtox commented on #10356
@lmeyer1 Man I didn't know about your PR, AWESOME THEN! And sorry for misunderstading! 🚀

[2021-11-03 15:17] prestascott commented on #26497
Hello everyone,

Thank you @mparvazi for your suggestion :)

Why wouldn't you use the search input in the header to look for the specific page instead of creating a new one?

[2021-11-03 15:41] khouloudbelguith commented on #26456
Hi @roberto3211,

I manage to reproduce the issue with PS1778 and PS1780.
Steps to reproduce the issue:
1. Create 3 different currencies
2. Go to FO > Product with combinations
3. Change currency to id_currency=3 for example
4. Select any other combination
5. Check the URL = `http://shop.com/en/category/9-23-friendly_url.html#/11-color-black`
5. In the URL, add this `?SubmitCurrency=1&id_currency=

[2021-11-03 15:52] mparvazi commented on #26497
Hello @prestascott

This is an **instant search** by focusing in main menu items text (filter by jquery).
It works just by searching DOM elements of main menu.

I think the search input in the header just works with POST method and searches via database.

Thanks for feedback.

[2021-11-03 15:52] khouloudbelguith commented on #26432
Hi @23b,

Thanks for your feedback.
It will help us if you can attach a screen record to understand how to reproduce the issue.

Thanks!

[2021-11-03 15:55] #26151 closed, assigned to nobody

[2021-11-03 15:55] Hlavtox commented on #9757
@hibatallahAouadni 4th anniversary of gifts not working is coming 😄

[2021-11-03 16:03] khouloudbelguith commented on #26471
@krekken, do I need to use this method?

[code]
Can you please confirm?

Thanks!

[2021-11-03 16:31] BullyBlue commented on #26499
Hi @khouloudbelguith,

thanks for the hint.
My employee language is german - i did not change that after installing at all.
![grafik](https://user-images.githubusercontent.com/93530349/140102441-07bc1ddd-0dcb-4f90-bd1e-81b247a38ac6.png)

Looks close to the issue but not the same...
Since i could create combinations once...yet I am not able to.

Thank you and regards !

[2021-11-03 17:10] khouloudbelguith commented on #26499
@BullyBlue, I manage to reproduce the issue with PS1778 when the debug mode = enabled
https://watch.screencastify.com/v/uQ7sCMTBZTtdWX8ZqZdV
Your ticket is a duplicate of #25797
So, I close it.
Thanks!

[2021-11-03 17:10] #26499 closed, assigned to nobody

[2021-11-03 17:10] khouloudbelguith commented on #26499
Duplicate of #25797

[2021-11-03 18:27] krekken commented on #26471
yes

[2021-11-03 19:05] mmursalov commented on #26230
@khouloudbelguith ,

Thanks for the advise and attention. I have enabled the features that you suggested with an exception of "Switch to the default theme" kept it off as I do not want to use that and also kept "Keep customized email templates" enabled , but it did not make a difference unfortunately and getting the same error message:

[INTERNAL] /var/www/printedmoods/src/PrestaShopBundle/Transla

[2021-11-03 19:34] msaustral commented on #9594
Hi we do have multiples customers with same issue, split orders where one of the order has a deleted address as a shipping address.

Is the a way to disable multiples shipping address on the Core?

Any idea?

[2021-11-03 20:01] BullyBlue commented on #26499
Hello @khouloudbelguith !
You saved my day - if i just knew it was that easy. Thank you so much !

[2021-11-03 22:56] MEGA911 opened #26513 "Impossible to delete product"
#### Describe the bug

Can't delete a product (ex: id 19 or 20)

#### Expected behavior

Delete a product without a problem

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO>SELL>Catalog>Products
2. Click on "delete" a product (ex: id_19)
3. See error > the product is not deleted

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your proble

[2021-11-03 22:57] MEGA911 commented on #26513
Prestashop 1.7.8 => Impossible to delete product s=> Ex => product ID 20 or 19

[2021-11-03 22:58] MEGA911 commented on #26513
Can you help me please ?

[2021-11-03 23:03] MEGA911 commented on #26513
FYI => PHP 7.4

[2021-11-04 01:27] TrzniCentar9402 commented on #26498
Restoring from backup was disaster. Only if I have the new version 1.7.8.0 BO and FO are ok with the same problem. When I enable debug mode, my FO gone "wild". I inspect this html place for description and I see some information that something not work, but I don't understand how to fix that. Here is a screenshots.

This problem I have in html table to write description. The sam problem I have whe

[2021-11-04 01:42] TrzniCentar9402 commented on #26498
I am very dissapointed after a years of using prestashop. I send message to PS support and they aks me to pay for support. So, you sirs made this upgrade, make a mess and than you want to charge to solve your mess? Its a shame.

[2021-11-04 07:03] hibatallahAouadni commented on #26513
Hello @MEGA911

I just edit your first comment adding the provided infos.
So could you please enable the debug mode and try to delete a product, then make a screenshot or screen record of the error.
Did you upgrade lately or just fresh install? If you upgrade your shop, what was your previous version?

Please check and feedback.
Thanks!

[2021-11-04 08:16] Oksydan commented on #26498
@TrzniCentar9402
1. Turn off every module that isn't made by prestashop and overrides. You can do it via BO.
2. Check if problem persists.
3. If problem still exist. Hire prestashop dev to investiagate./ If problem is solved. One of third party module is breaking some stuff. You have to figure it out by yourself or hire someone to do it for you.

[2021-11-04 08:27] Renrhaf commented on #26298
Hi @hibatallahAouadni, I don't have the time to try to reproduce it with a fresh install, but as you did not I think it's related to our theme in some way maybe. I'm closing this and will reopen in the future if I manage to reproduce it.

[2021-11-04 08:27] #26298 closed, assigned to nobody

[2021-11-04 08:33] NeOMakinG commented on #26497
I like the feature, but I think we would love to have some small mockups from @prestascott if everyone agrees about adding it

[2021-11-04 08:38] hibatallahAouadni commented on #26298
Thanks for your feedback @Renrhaf :pray:

[2021-11-04 09:04] zorrobiwan commented on #26091
@Speedy1010 you have generated a Google analytics 4 ID which is not compatible with the free Google Analytics PrestaShop module.
Choose a paid module compatible with GA4 or use a Google Universal Analytics ID or wait for a free compatible module.

[2021-11-04 09:15] MEGA911 commented on #26513
Hello Aouadni => Tks for your reply =>  I activate the debug mode => But nothing => Impossible to delete or modify products => It' s a fresh install of Presta 1.7.8 + PHP 7.4

[2021-11-04 09:19] MEGA911 commented on #26513
Can you check with my url admin ? I create an account for you

[2021-11-04 09:27] MEGA911 commented on #26513
Impssible to modify Name + Price + type of product + quantity + Simplify URL => Product ID 19 or 20 for testing

[2021-11-04 09:29] MEGA911 commented on #26513
Notify me when you are available => I send you access to test => Tks in advance for your reply

[2021-11-04 10:27] HanaRebaiQA opened #26515 "BO - The tax Name field accept some invalid characters"
#### Describe the bug

When adding a new Tax in the Name field, it is possible to accept `;` and `#` whereas these characters are mentioned as invalid characters according to the message displayed at the bottom of the field

#### Expected behavior

The field should accept every character.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO>IMPROVE>International>Taxes
2. Click On Add

[2021-11-04 10:44] eternoendless commented on #24106
Let's put it in the kanban then!

[2021-11-04 10:45] santos0289 opened #26516 "Bad gateway installing ps_googleanalitycs V.4.1.0 on PS 1.7.8.0"
#### Describe the bug

Error 502 (bad gateway) after installing `ps_googleanalytics`
HI! I dont't know if its a bug of the module, or my version of prestashop.I have troubles installing google analytics module.

#### Steps to Reproduce

1. BO>IMPROVE>Modules>Module Catalogue
2. Install  `ps_googleanalytics`
3. See error > 502 error (bad gateway).
4. I delete the folder `ps_googleanalytics` from Mo

[2021-11-04 10:53] eveneme opened #26517 "HTTP ERROR 500 after updating modules"
#### Describe the bug

Update modules no matter what and ERROR 500

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Modules
2. Click on Update modules
3. Click no matter what dashboard etc.
4. See error ERROR 500
5. The same happens when installing a new module

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional i

[2021-11-04 10:56] kpodemski commented on #26517
Hello again @eveneme,

It must be related to your installation. "Error 500" says nothing, you should see a proper error message if you enable developer mode.

[2021-11-04 11:03] SharakPL commented on #25975
What about template engine? Is it going to be smarty ^3 again? I see [smarty 4](https://github.com/smarty-php/smarty/releases) is getting ready. Maybe switch to Twig would be better, the same BackOffice has been using...

[2021-11-04 11:05] hibatallahAouadni commented on #26513
@MEGA911 where did you send the access?

[2021-11-04 11:08] hibatallahAouadni commented on #26517
Hello @eveneme

Could you please enable the debug mode and open your navigator console, then please make a screen record or screenshot of the displayed error :pray:
Please check and feedback.

Thanks!

[2021-11-04 11:09] HanaRebaiQA opened #26519 "BO - The field text of a new folder is not consider as a placeholder"
#### Describe the bug

While insert a new text of new folder in the File manager, the field text is not considered as a placeholder. The text do not disappear.

#### Expected behavior

The text `New folder `must be a placeholder

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO>Catalog>Products
2. Click on New product
3. Go to Summary/Description
4. Click On Insert/edit link
5. Cli

[2021-11-04 11:25] hibatallahAouadni commented on #26516
Hello @santos0289

Welcome :tada: and you did well (respecting the template and providing a screenshot) :clap:
I edit your issue description and hide your shop URL (in the screenshot) :wink:

I didn't manage to reprodcuce the issue with PS1780, see the attached screen record below:

https://watch.screencastify.com/v/DI6Vf0TL5GYtGDUPdGsb

Could you please enable the debug mode and check the display

[2021-11-04 11:34] MEGA911 commented on #26513
Hello => I will send you an email now => It s done => Ok for you?

[2021-11-04 11:36] TrzniCentar9402 commented on #26498
Thanks @Oksydan
I turn off every single module that isn't made by prestashop. Problem persist.

I see every text blok with html option (product, description of index page, email templates ... is blank like not exist, but it 's exist. What to do next? Do you have some idea?

[2021-11-04 11:41] Oksydan commented on #25975
@SharakPL Classic theme have to work in v8 (it will be still maintained). We can't switch template engine to twig just like that.

[2021-11-04 11:48] Oksydan commented on #26498
@TrzniCentar9402 hire someone to fix your problem.
We can help you here if problem exists on every prestashop installation but this case is only related to your installation.
Remember if you are upgrading shop do it first with copy, not in production.

[2021-11-04 11:54] TrzniCentar9402 commented on #26498
I made backup of files and database before I upgrade, but when I restore from my backup, the BO was disaster (full of command instead normal text). The similar things was happened before couple of years and as I remember I was cleaned complete and install fresh version like first time, but now to do that with so many product will like "kill me".

The problem is html box dissapear every where. How

[2021-11-04 11:55] SharakPL commented on #25975
Nevermind. I saw Twig reference in many PRs and thought that's the plan for the future, but I see all BO themes are still build with smarty. I'm ok with that :) Only question is: v. 3  or v. 4 (if it's ready soon enough)?

[2021-11-04 12:00] TrzniCentar9402 commented on #26498
@Oksydan when I inspect this html I found some command "style=visibility: hidden;" How to change that? what command is opposite for "hidden"?

[2021-11-04 12:25] TrzniCentar9402 commented on #26498
@Oksydan my friend, when I desable my serbian language, and enable english, and set english as language of shop, I see html.

Do yo know how t o fix this for serbian language?

Thanks

[2021-11-04 12:36] TrzniCentar9402 commented on #26498
FINALLY SOLVED BY MYSELF

THANKS TO ALL WHO TRY TO HELP ME :)

[2021-11-04 12:38] santos0289 commented on #26516
Thank's for the answer but, i do the same thing with the debug mode enabled and when istall the analytics module (version 4.1.0 of github) same error...(page in blanc, and when I go to the back office it's appear error 502).se the screen recorder (attached)

https://user-images.githubusercontent.com/93709131/140314732-bfab0201-76cb-4c25-b80c-88a44cd85ad8.mp4

I have to say that I cant see the modu

[2021-11-04 12:51] uabhuntera opened #26521 "Importing CVS (excel) file is very slow"
Hello,

Where is a problem if CVS files importing are very slow? Did I have to update the prestashop or it's a problem with photoshop? And how to fix it?
For example, I am importing a file 9kB, it has 200 rows and 4 columns (ID, qty, reference, EAN). It takes to load about 20 min or more. (I just want update the existing information)
In the beginning, it was much more faster.
PrestaShop version: 1

[2021-11-04 13:18] NeOMakinG commented on #25975
Almost everything in the BO is using twig btw, at least migrated pages, except some legacy pages which are using smarty.

I don't know at all for smarty 4, but since it's not stable and we plan to migrate to twig, we may not consider it, but it's not one of my decisions anyway!

[2021-11-04 13:19] hibatallahAouadni commented on #26513
Hello @MEGA911

You have a huge issue with your shop, there's something wrong with your JS files.
I think it's related to your new installed modules or due to your overrides, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/140319589-1038c842-3026-4ad4-96be-7df324c9caab.png)

Even when I tried to uninstall a native modal, it didn't display the delete

[2021-11-04 13:19] #26513 closed, assigned to nobody

[2021-11-04 13:37] andromaque commented on #25975
Well if now is not the time to introduce Twig, when will it?

Obviously it's not possible to have a sudden change from one to the other because every module will break... So maybe the theme could have an option for choosing the templating system, so we'll have Classic with Smarty and whole module's compatibility, and the new theme (or a third one, based on the new theme) in Twig, which could be us

[2021-11-04 13:47] #25434 closed, assigned to nobody

[2021-11-04 13:50] #26463 closed, assigned to Progi1984

[2021-11-04 13:54] prestascott commented on #26497
This is a really cool feature I admit it, but I'm not convinced that the search input belongs in the navigation drawer because this might be identified as a duplicate of the actual. Also, we must keep it simple and avoid overloading the back office with new components.

Imo, we should fix and improve the current search bar in the header which is buggy, by adding your feature to it.

Are you willin

[2021-11-04 14:02] hibatallahAouadni commented on #26521
Hello @uabhuntera

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-11-04 14:02] #26521 closed, assigned to nobody

[2021-11-04 14:12] NeOMakinG commented on #26422
@hibatallahAouadni is it a new feature on 1.7.8.0? I think we support these rtl files since years

[2021-11-04 14:20] MEGA911 commented on #26513
Tks for your reply => I reinstall Presta now => Can you identify the module
who do this bug => If you have any response => I appreciate.

Have a great day

------------------------------------------------------------------------
Je reste à votre disposition pour plus d'informations.

Cordialement.
//////////////////////////////////////////////////////////////
Pierre Serrée
Email: ***@***.***

site

[2021-11-04 14:28] raphael-jolimoi commented on #9966
Hi, for info, combination issues in cart rules are created because the code mutates the values of cartRows while applying each discount. In the case of fixed vouchers, for example, each cart row is impacted proportionally. This means if we have a 10€ voucher and two products P1 and P2 at 10€ each. If we also have a free gift rule for P2, it will consider that P2 has a  price of 5€ and not 10€. Thi

[2021-11-04 14:32] Progi1984 commented on #26355
Fixed by PrestaShop/blockwishlist#137

[2021-11-04 14:32] #26355 closed, assigned to eopws

[2021-11-04 14:36] abramofranchetti opened #26523 "Problem with ToggleColumn in Admin Grid"
#### Describe the bug

When adding a toggle column as in the dev-guide (https://devdocs.prestashop.com/1.7/modules/sample-modules/grid-and-identifiable-object-form-hooks-usage/) in a grid that does not have any togglecolum in standard configuration (ex Admin Address grid) the toggle column does not trigger the ajax call to the controller.

#### Expected behavior

toggle column must trigger an ajax

[2021-11-04 14:40] kpodemski commented on #25975
@andromaque

Unfortunately, there's not that much time to develop the solution to be stable and perform well for version 8.

There are some plans for this moment, for introducing Twig in PrestaShop front-office, but we'll communicate on that when the time comes 👍

[2021-11-04 14:40] raphael-jolimoi commented on #9966
Same problem if you have two carte rules for the same product gift. First gift is considered correctly at 10€. The second gift is considered to be 5€ because the cartRow value was reduced by the first gift. Mutating the cartRow should only happen in the case of percentage discounts.

[2021-11-04 15:08] hibatallahAouadni commented on #26256
Hello @roja45

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-04 15:08] #26256 closed, assigned to nobody

[2021-11-04 15:09] hibatallahAouadni commented on #26257
Hello @JacHOBBY

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-04 15:09] #26257 closed, assigned to nobody

[2021-11-04 15:35] hibatallahAouadni commented on #26497
Hello everyone,

As we discussed to rework the search bar.
So, I have to close this issue as a duplicate of this one #14546
Please subscribe to the issue mentioned above.

Thanks!

[2021-11-04 15:35] hibatallahAouadni commented on #26497
Duplicate of #14546

[2021-11-04 15:43] hibatallahAouadni commented on #26497
Sorry for closing the issue too early :sweat_smile:

[2021-11-04 15:59] mparvazi commented on #14546
The current search method in BO isn't helpful and kinda old!
It should be **instant** and **smart**.
There is lot of information in database that can be used by search engine.

The most important feature that need to be added is the main menu items (Admin pages) in a smart way.
For example, the 'Debug mode' section isn't in the main menu, but when user searches for it, the 'Performance' page link

[2021-11-04 16:15] hibatallahAouadni commented on #26497
Let's wait for @prestascott mock ups :wink:

[2021-11-04 16:22] DanSilva926 commented on #26257
I replaced the core.js file from version 1.7.7.8 and the checkout was working

[2021-11-04 16:28] hibatallahAouadni commented on #26171
Hello everyone,

Sorry for the late response!
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26274.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-04 16:28] hibatallahAouadni commented on #26171
Duplicate of #26274

[2021-11-04 16:29] hibatallahAouadni commented on #26257
Hello @DanSilva926

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26274.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-04 16:29] hibatallahAouadni commented on #26257
Duplicate of #26274

[2021-11-04 16:42] hibatallahAouadni commented on #26498
Hello @TrzniCentar9402

Could you please share how did you fix the issue :pray: (to help other people who may face the same issue).
Glad to hear that you solved it :tada:

Closing the issue :wink:

[2021-11-04 16:42] #26498 closed, assigned to nobody

[2021-11-04 16:46] hibatallahAouadni commented on #26516
Hello @santos0289

Try to disable the cache following these settings, click on Save, then click on Clear Cache:

![image](https://user-images.githubusercontent.com/23308427/140382583-6e4c1852-4f24-4235-8800-b76343b9cf77.png)

Then check if you still encounter the issue.
Please check and feedback.

Thanks!

[2021-11-04 17:07] hibatallahAouadni commented on #26471
Hello @maldarol

I just edit your issue description adding the steps to reproduce.
Could you please confirm the steps :pray:
While calling this hook, did you provide the order_id?
![image](https://user-images.githubusercontent.com/23308427/140385874-f9eb32da-4b17-4d76-99d2-7c07efec75d9.png)

Please check and feedback.
Thanks!

[2021-11-04 17:12] hibatallahAouadni commented on #26230
Hello @kratekk

Try to check that all your modules are working and check if you're missing some translations.
If not, it means everything works well :wink:

Please check and feedback.
Thanks!

[2021-11-04 17:15] hibatallahAouadni commented on #26381
Hello @rodrigorega

So this bug occurs only with specific setting (`wait_timeout=15`) and what you proposed it's an improvement and a good one :wink:
How about changing this issue from bug to an improvement?

Thanks!

[2021-11-04 17:29] templatin commented on #26277
Working fine now :+1:

[2021-11-04 17:42] MatShir commented on #26383
It looks like more a reggression introduce by the multistore feature. I don't see what specification I can deliver here since it is a performance issue. But my question now before approving any changes is to understand why it is was implemented in first place in the multistore header? and how this new transition can be improved if it is necessary?
Maybe @matthieu-rolland could you help us on this?

[2021-11-04 17:45] MatShir commented on #26383
@hibatallahAouadni it seems that the issue is not present on `1.7.8.x`, could you double check ? It might have been alreday fixed 🤷‍♂️

[2021-11-04 18:05] Hlavtox commented on #26383
@MatShir Google “content layout shift” and why is it bad, then you will just accept immediately 😁

[2021-11-04 18:10] mparvazi commented on #26497
Does adding instant search feature makes too many connections?
Searching in Catalog, Orders, Customers, Settings, Pages, Invoices, Carts and Modules each time user enters a character.
Most users use shared hosting which has `max_user_connections` limit for database.
🤔

[2021-11-04 18:28] santos0289 commented on #26516
Hi, same problem.I dissable cache, then save and then clear cache.
I go to IMPROVE>modules>module catalogue and don't appears analitics module, so I install again github's ps_googleanalitycs V.4.1.0 and after install and go again to modules or other BO part, same error (502 bad gateway). Then i have to rename/delete the module for work on it.

Thanks for the support.
I will waitting for more info

[2021-11-04 18:41] MatShir commented on #25887
I don't why the data is kept. @PrestaShop/prestashop-core-developers maybe you have a better idea?

[2021-11-04 19:02] TrzniCentar9402 commented on #26498
Oh I was thinking everything is ok, but now it's a problem oin front office in upper right corner where is "login" and cart. Instead "Korpa" (cart on serbian) staying command promt "Shopping_cart" and under that I see "Korpa" Now I working to slove this problem.

I will no longer problem with html boxes, but thi is new one. When I fix that I will explain. If someone know how to fix this problem wi

[2021-11-04 19:44] Krismm commented on #26498
Hello
I have the same problem after upgrading from 1.7.7.3 to 1.7.8.0
@TrzniCentar9402 how did you solve your problem?

[2021-11-04 20:00] TrzniCentar9402 commented on #26498
@Krismm
I've done a lot of different attempts. I will skip all (maybe) irrelevant steps.
- First I turned off (disabled, did not delete and did not uninstall) all modules that are not prestashop.
- Then I went to Localization -> languages turned on English and turned off Serbian
- set english as default instead of Serbian.
- refreshed the page with the edited product and an htm box with English la

[2021-11-04 20:01] TrzniCentar9402 commented on #26498
@Krismm "Prevode" is "Translate"

[2021-11-04 20:04] TrzniCentar9402 commented on #26498
@Krismm All module outside Prestashop developers I set active again as before the update and BO works normal (I still have html boxes). Only this icons in FO is still problem (new problem)

[2021-11-04 20:07] TrzniCentar9402 commented on #26498
@Krismm  And php is 7.4

[2021-11-04 21:20] TrzniCentar9402 commented on #26498
And I stuck. This icons are empty
"displayNav2":["ps_languageselector","ps_currencyselector","ps_customersignin","ps_shoppingcart"]
"displayFooterBefore":["ps_emailsubscription","ps_socialfollow"],

Anyone can help?

[2021-11-04 22:40] lim3ra opened #26527 "ps_facetedsearch - What happened to price filter types in 1.7"
#### Describe the bug

Hi, I noticed that in Presta 1.7 (ps_facetedsearch v.3.7.1) there is no longer possible to choose the Price filter type.

Are we going to fix that? Do we have any Issue item already opened for this?

#### Expected behavior

The price filter should be customizable as it was in 1.6.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to ps_facetedsearch config
2.

[2021-11-05 01:34] hdkcreative commented on #23125
hi  any solution for this issue ?

[2021-11-05 01:43] hdkcreative commented on #25565
Prestashop 1.7.6.8. We modify a order in the backoffice and now we have have  the sum is incorrect.

The correct sum would be 171€ but the total in the order is 266 €.

we don't know where is the error.

It happens only in certain orders, not all.

![image](https://user-images.githubusercontent.com/18191896/140444118-ff8afa01-6ca9-4f95-b208-73997d297aea.png)

[2021-11-05 08:00] pmartin-webimpacto commented on #20739
Symfony 4.4 has :

End of bug fixes:
November 2022

![image](https://user-images.githubusercontent.com/16488733/140477576-290b5ebb-7952-4ed1-9ba5-77ae162e2d63.png)

Maybe it have sense to migrate to 5.4 after launch v8 :)

[2021-11-05 08:20] khouloudbelguith commented on #26527
Hi @lim3ra,

Thanks for your report.
With PS1.6.1.24 using the `blocklayered` module:
The product price filter and product weight filter => we can use the filter style.
![image](https://user-images.githubusercontent.com/16067358/140479417-4002d1be-f7d2-42cb-8f0f-a0a9b3a1d15f.png)

But With PS1.7.8.0 using the `ps_facetedsearch`
The product price filter and product weight filter => we have only a L

[2021-11-05 08:30] Hlavtox commented on #18295
@tswfi Updated the variable table, do you think we need something more?

[2021-11-05 08:49] daniel-imax opened #26528 "FO - Cart Rule error with multi-conditions"
#### Describe the bug
This issue is related to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15525
There are an unexpected behavior when you create a cart rule and add multiples rules within the same product selection.

#### Expected behavior

According with the docs, all the rules within the same product selection must be true to the rule be applyed.

#### Steps to Reproduce

Steps

[2021-11-05 09:18] atomiix commented on #25887
I have no idea, maybe for legal reasons?

[2021-11-05 09:29] prestascott opened #26529 "[EPIC] Improve the Search in the BO"
All issues related to the Search placed in the header of the back office.

### Bugs
- [ ] #14546
- [x] #28303
- [x] #21884

### Features
- [x] #27185
- [x] #15770

--------

## Fixed

### Bugs
- [x] #26565
- [x] #26635
- [x] #28818
- [x] #28980

### Features
- [x] #26497
- [x] #28635

[2021-11-05 09:34] marionf commented on #26017
@Progi1984 It doesn't seem to be a regression of the 1.7.8.0, why did you add to the 1.7.8.1 milestone?

[2021-11-05 09:50] khouloudbelguith commented on #26523
Hi @abramofranchetti,

Thanks for your report.
There is an example of Admin of Grid of the Orders page.
Thanks @atomiix https://github.com/PrestaShop/PrestaShop/issues/24911

--------------------------------------------------------------------------------------

Create new table `app_order_table` with `id_order`
![image](https://user-images.githubusercontent.com/16067358/138904529-f6c4d729-779d-4b

[2021-11-05 09:52] atomiix commented on #26141
## Status update
The build has been send to the QA team!

[2021-11-05 10:21] eternoendless commented on #20739
We will likely do that in 9.0

[2021-11-05 10:26] mparvazi commented on #26497
**My suggestion:**
1. The main menu search will be connected to the header search input.
2. The results doesn't affect main menu in sidebar and will be displayed as drop down.
3. Instant search will be enabled just for main menu items (Not for Catalog, Orders, Customers,...).
4. A new function for instant search will be added to the Admin Search Controller.
5. The instant search function works thr

[2021-11-05 10:58] matthieu-rolland commented on #26383
I'm not sure it's safe to remove this line, it was added long before multistore, in this commit from @eternoendless

https://github.com/PrestaShop/PrestaShop/commit/1388076f31708163412b7fad90007a311782798f

I don't know if it's still necessary or not, if it's still necessary we need to find another fix

[2021-11-05 11:07] eternoendless commented on #26383
The problem is not the transition (which is needed to get the animation you collapse the left menu), but the layout shift introduced by something else (probably the multistore header?) whose height is updated after the page has been initially rendered.

@Hlavtox CLS is irrelevant in a Back Office IMO.

Perhaps @NeOMakinG can have a look to find out what it is

[2021-11-05 11:08] hibatallahAouadni commented on #26383
Hello @MatShir

You can only reproduce it when Multistore is enabled, see the attached screen record below:

https://watch.screencastify.com/v/ZPghiHSiTvNeYrasDio8

Thanks!

[2021-11-05 11:12] Hlavtox commented on #26383
@eternoendless It's annoying the same as everywhere else. On a slow server, I am already aiming my mouse on a product or order I want to click and it moves under it.

Basically the problem is everywhere, where the header is longer than normal. (Longer page name, multistore line added, buttons don't fit)

**Proper solution:**
- Remove this JS fixed height calculating crap
- Use `position: sticky;`

[2021-11-05 11:13] mparvazi commented on #26497
@hibatallahAouadni

The Core Development Team must be check [this](#issuecomment-961780886)

I didn't test this solution, I just dreamed about that last night 😉

[2021-11-05 11:24] Hlavtox commented on #26497
@mparvazi So good!!!

[2021-11-05 11:29] khouloudbelguith commented on #26528
Hi @daniel-imax,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.8.0.
I attached a screen record
https://watch.screencastify.com/v/QIeipMZ24CmYJHmfx78E

Could you please check in the FO > Sitemap > Brand_name => your product is well displayed in the list
Could you please check in the BO > Cart rule > Product selection => the other product is well displayed in the select

[2021-11-05 11:31] hibatallahAouadni commented on #26516
Hello @santos0289

No, you didn't need to install the module from Github :sweat_smile:
Please follow these steps to install ps_googleanalytics:

1. BO>IMPROVE>Modules>Module Catalog
2. Search for google
3. Click on Install button

See the screen record: https://watch.screencastify.com/v/DI6Vf0TL5GYtGDUPdGsb
Please check and feedback.

Thanks!

[2021-11-05 11:34] abramofranchetti commented on #26523
i've found the problem.
The fact is that javascript grid extension is loaded in a compiled js, that in the standard load the required js grid extension (**ColumnTogglingExtension**) only in some pages. If you want to load in pages that does not have this estension loaded you have 2 ways: or add in the original js (in example for address admin page admin/themes/new-theme/js/pages/address/index.js)

[2021-11-05 11:36] SNor42 commented on #26383
There is also some minor issue, when you change the window width.

Daniel Hlavacek ***@***.***> ezt írta (időpont: 2021. nov.
5., P, 12:12):

[2021-11-05 11:36] SNor42 commented on #26383
![2021-11-05 123449](https://user-images.githubusercontent.com/1334351/140504742-c423fea4-04ec-4577-b78f-93903cf5387c.png)
![2021-11-05 123515](https://user-images.githubusercontent.com/1334351/140504744-804bc977-cd10-4d77-80c4-e1f1ac4ccde3.png)

[2021-11-05 11:37] abramofranchetti commented on #26523
@khouloudbelguith yeah i know, but if you do that in a grid that have not already at least a togglecolumn, the togglecolumn component does not fire the ajax call to the controller.. Try adding a togglecolumn in the address admin grid (hookActionAddressGridDefinitionModifier) and you can replicate the issue. It is a standard ugly flaw, because adding a column to a grid throwght a hook, does not aut

[2021-11-05 11:44] abramofranchetti commented on #26523
@khouloudbelguith please do not close the issue, but first try to replicate the problem and report that to the core dev team ;)

[2021-11-05 11:46] SNor42 commented on #26383
And what, if we just animate padding-left?
transition:padding 0.5s ease -> transition:padding-left 0.5s ease

Silló, Norbert ***@***.***> ezt írta (időpont: 2021. nov. 5., P, 12:35):

[2021-11-05 11:50] eternoendless commented on #26383
I think the padding transition also impacts Vuejs-based pages (stock management & translation interface).

[2021-11-05 12:06] daniel-imax commented on #26528
Hello, your video shows exactly the wrong behaviour,
 Product Brand1 -> is not in the selected product list but is in the selected brand list
 Product Customizable mug -> is in the selected product list but its manufacturer is not in the selected brand list

As the documentation said, both rules must be fullfiled to allow to use the cart rule, but neither product fullfill both rules.
And if  the d

[2021-11-05 12:33] santos0289 commented on #26516
I do that(see the screen record)

https://user-images.githubusercontent.com/93709131/140510722-478ca899-8605-4968-b2d5-46ac7912c8a6.mp4

, but I install github one because it don't appear's in BO>IMPROVE>Modules>Module Catalog
I think there is a strange problem, because when I install for first time (I istalled from >Module Catalog), and appears the 502 error, i have to delete the folder ps_google

[2021-11-05 12:42] khouloudbelguith commented on #26528
@daniel-imax, thanks for your feedback.
I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15525
Can you please confirm?

Thanks!

[2021-11-05 12:51] daniel-imax commented on #26528
@khouloudbelguith, thanks for your fast replay. It seems is just the opposite. The first thing i need to know what is correct, the label "The product(s) are matching one of these" or the docs.
If the lable is correct (checking the code it seems is not), the bug is the amount discounted, and if you create the same rules but on separate "product selections" the behaivour is wrong too (if the label i

[2021-11-05 12:58] khouloudbelguith commented on #26516
Hi @santos0289,

I did not manage to reproduce the issue with PS1780 and ps_googleanalytics v4.1.0.
https://watch.screencastify.com/v/P0Gwg6I4Znyo3Vg9h5r3

Could you please check that your module doesn't exist on the Module manager page before searching it in the BO > Module catalog page?.
Can you please search with the module name `ps_googleanalytics`.

Please check and feedback.

[2021-11-05 13:20] prestascott commented on #26497
Wow, you're really motivated and I love that!

Can you join the Slack Open source please so it will be easier for me to discuss with you 🙏

[2021-11-05 13:31] florine2623 opened #26531 "blockreassurance - Can't edit a block / can't add a new block"
#### Describe the bug

I can't edit of add a new block to my module blockreassurance

#### Expected behavior

I should be able to edit and add new block without error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Modules > Search for blockreassurance
2. Uninstall blockreassurance module
3. Go to your shop files : `cd /Prestashop_path/modules`
4. Run the following
[code]

[2021-11-05 13:39] tswfi commented on #18295
@Hlavtox what do you mean `updated the variable table`?

[2021-11-05 13:45] florine2623 opened #26532 "Message in Customer account Orders History"
#### Describe the bug

HTML element `<br/> `is shown in the message section

#### Expected behavior

I should have plain text

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have an order created
2. Log in to customer account
3. Go to History details > Add a message to your order with a line break
4. See that HTML element `<br/>` is displayed

**Screenshots**

<img width="778" alt="

[2021-11-05 13:47] sfroment commented on #26199
@matks @matthieu-rolland bump for update on this issue plz

[2021-11-05 13:48] mparvazi commented on #26497
@prestascott

What should i do for joining?

[2021-11-05 13:49] hibatallahAouadni commented on #26497
@mparvazi you should create an account https://prestashop.slack.com/

[2021-11-05 14:01] khouloudbelguith commented on #26528
@daniel-imax, thanks for your feedback.
I manage to reproduce the issue with PS1778 and PS1780
![image](https://user-images.githubusercontent.com/16067358/140522360-4b0a507e-a5be-424d-9f7d-9895af007d72.png)
![image](https://user-images.githubusercontent.com/16067358/140522410-3c38393f-2cc2-41b2-a544-a758ffcfae83.png)
![image](https://user-images.githubusercontent.com/16067358/140522491-7c64811f-8c

[2021-11-05 14:02] mparvazi commented on #26497
@hibatallahAouadni

It seems I should have an invitation link.

Right?

[2021-11-05 14:08] jonathan-tesial commented on #22974
@hibatallahAouadni Any news on this ? All administrators of PS websites receive the out of stock emails: https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Stock/StockManager.php#L311

[2021-11-05 14:26] Nawakz commented on #26361
Hi @Nikos22350,

We had a similar problem after upgrading to v1.7.8.

For solving it :
* You must set id_category_default with an ID AND position_in_category with a value > 1.
* OR you must unset id_category_default AND position_in_category.

[2021-11-05 14:27] #18086 closed, assigned to nobody

[2021-11-05 14:41] Hlavtox commented on #18295
@tswfi I mean the options/variables we can use during order reference generation. Look to the issue description. ;-)

[2021-11-05 15:21] hibatallahAouadni commented on #26497
please follow the screen record :wink:
https://watch.screencastify.com/v/c2FggEtMdKAiDfSFYaU1

[2021-11-05 15:28] mparvazi commented on #26497
@hibatallahAouadni

https://prestashop.slack.com
Sign in with Google
Screenshot:
![Screenshot 2021-11-05 185720](https://user-images.githubusercontent.com/85633460/140535881-304a185c-322e-40ea-a5d7-5cbd9b7f9e10.png)

[2021-11-05 15:53] florine2623 opened #26534 "Order Message character limit"
#### Is your feature request related to a problem?

In the BO, as an employee, when I write a message to a customer through the Order Message section, I can't write more than 1200 characters.
No alert or error appear until I click on "Send message" button.
<img width="376" alt="Screenshot 2021-11-05 at 16 51 10" src="https://user-images.githubusercontent.com/16019289/140539527-7113c958-8d9b-4a78-8

[2021-11-05 16:04] khouloudbelguith opened #26535 "BO - Add new Order page - Incorrect scroll is displayed when we try to add a customized product"
#### Describe the bug

In the BO > Orders > Add new Order page, when we try to add a customized product, there is an incorrect scroll displayed
![image](https://user-images.githubusercontent.com/16067358/140541153-8657c179-072c-480b-aac0-221dc28f5209.png)

#### Expected behavior

It is ok with PS1778
![image](https://user-images.githubusercontent.com/16067358/140541349-6a50f689-3868-4b81-b957-da66

[2021-11-05 16:28] khouloudbelguith commented on #26523
@abramofranchetti, thanks for your feedback.
I will re-open the issue.
Ping @PrestaShop/prestashop-maintainers what do you think?

Thanks!

[2021-11-05 17:00] TrzniCentar9402 commented on #26498
Solved by me.

[2021-11-05 17:01] kpodemski commented on #26523
Hello @abramofranchetti

As you noticed, you need to import the JS Grid extension that you want to use. At this moment, PrestaShop is not loading any JS automatically, and I'm not sure that we will because desired behavior may differ from developer to developer.

https://devdocs.prestashop.com/1.7/development/components/global-components/#global-javascript-components

If you use PrestaShop < 1.7.8

[2021-11-05 17:17] abramofranchetti commented on #26523
@kpodemski Thank you for your reply!
the only observation I would like to make is that if you allow a component like **toggle column**, that should **automatically** launch an ajax call (as in doc), to be added through a hook, the js part of the component should also be loaded somehow automatically... otherwise the behavior is different depending on where I insert the component! Or at least **put

[2021-11-05 17:19] kpodemski commented on #26523
@abramofranchetti

I think we can start with more detailed documentation. Thanks again for your feedback, and have a lovely weekend 👍

[2021-11-05 17:57] davidcylke commented on #14979
Is there any progress on it? Is it improved in 1.7.8? We have clients who create 1000+ items in carts (no combinations used tho) and whole website is slow for them.

[2021-11-05 18:13] Mindfield-Studio commented on #14979
To PS devs: The solution consists in caching images metadata in database to prevent heavy IO operations.
Anyway, SQL queries need optimisations too ^^ Too many queries everywhere ;)

[2021-11-05 18:13] mnowakpcgs commented on #14979
Do you have shipping modules which make API calls (usps, ups, fedex, dhl) ?

The problem I found long ago was prestashop queries shipping cost for every
product that is in the cart assuming that it may be split shipping rather
then one price for the whole cart. Some modules make poor use of caching
which means a slow api query 1000+ times.

*Mark Nowak**Chief Janitorial Officer*
------------------

[2021-11-05 18:37] 23b commented on #26432
Here is a screen recording.
PS 1.7.8; PHP 7.4.25; Nginx 1.21.3; MacOs 11.6.1;

https://youtu.be/-GBSobw_voA

[2021-11-05 18:45] Nikos22350 commented on #26361
Hi @Nawakz,

we chose your second solution.

Thank you for your comment.

[2021-11-05 23:52] Hlavtox commented on #26535
I will fix it

[2021-11-06 04:00] chrislais commented on #26516
Hi @santos0289, maybe you should post your nginx configuration?

[2021-11-06 06:00] Dar-us-Salam opened #26536 "SEO & URLs problem after upgrading to 1.7.8"
#### Describe the bug

I upgraded fine from 1.7.7 to 1.7.8 but recently noticed that when I turned on Debug it gave an error in override/classes/Dispatcher.php for all the front office pages: https://prnt.sc/1y8g8tk . After clearing the cache, it changed to override/classes/Link.php - screenshot: https://prnt.sc/1xqbz42 . Both of the files are from the Advanced Friendly URL module so I thought tha

[2021-11-06 11:14] santos0289 commented on #26516
Hi!!!Yes I check if the module exists on module manager, and don't appear. The reason is than when I have the 502 error (bad gateway) when I install the analytics module, I have to delete the folder ps_googleanalytics to work on the page(because the error, I can't uninstall).
I think that if I delete the folder, for prestashop maybe its installed somewere (because really I can't uninstall, only de

[2021-11-06 11:18] AreSee opened #26539 "Warning in ps_googleanalytics after upgrade to 1.7.8.0"
#### Describe the bug

 I have a warning with Prestashop 1.7.8.0 with PHP version 7.4:
ps_googleanalytics Version 4.1.0 - Error in Debug Mode in FrontOffice:

[code]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Debug Mode
2. Warning appears in frontoffice

#### Additional information

* PrestaShop version: v1.7.8.0
* PHP version: v7.4
* ps_googleanalytics v4.1.0

Solution (maybe)

[2021-11-06 11:20] santos0289 commented on #26516
Yes of course.I don't Know  if I have to uncheck "the marked red arrow" thing. The traduction in english is this:

"Intelligent processing of static files.
![Screenshot 2021-11-06 at 12-04-42 Configuración de Apache y nginx para smsportnutrition com - Plesk Obsidian 18 0 38](https://user-images.githubusercontent.com/93709131/140607698-05ac1e3c-a624-4e57-8e1a-9fbf2218414c.png)
 If this option is di

[2021-11-06 15:08] djokerat opened #26540 "Issue after updating to 1.7.8."
<html><body>
<div class="exception-summary">
                <div class="container">
                    <div class="exception-message-wrapper">
                        <h1 class="break-long-words exception-message">Whoops, looks like something went wrong.</h1>
                        <div class="exception-illustration hidden-xs-down"><svg viewBox="0 0 136 81" xmlns="http://www.w3.org/2000/svg" fi

[2021-11-06 15:17] davidcylke commented on #21723
I had the same issue in 1.7.7.5...
Did you find the solution @Guillermo580  ?

[2021-11-06 15:21] davidcylke commented on #14822
Any update on this?

[2021-11-06 16:43] rudSarkar commented on #14822
Hey @davidcylke ,

No update has been deployed because this issue is a Minor issue.

Thanks

[2021-11-06 21:44] lthienard opened #26541 "Translate Jquery Sentences"
Hi,

It's possible to translate **Jquery** message ?

Example: When I use the search module I have this result displayed just above "**4 results are available, use up and down arrow keys to navigate.**"

Thank's

[2021-11-06 21:50] AldeaG commented on #25746
Hi there!
Is it any advance in this point? (Importing combinations csv with impact on price Tax Included)

[2021-11-07 03:39] alfonsolr09 commented on #23534
@Hlavtox pls check this  https://github.com/PrestaShop/PrestaShop/pull/23248

[2021-11-07 03:47] amery commented on #21930
I'm having this problem with 1.7.7.x with 7.2.33
`"symfony/polyfill-php73": "^1.10",`

please advice

[2021-11-07 10:55] cubuspl42 commented on #12435
Could I ask what are the possible workarounds? I'm trying to upgrade from 1.6.1.24 to 1.7 (1.7.8.0, to be precise, as that's what 1-click upgrade picks) and I'm having the same issue. Would upgrading in multiple steps (for example 1.6.1.24 -> 1.7.4.x -> 1.7.5.x -> ...) help?

[2021-11-07 11:27] Hlavtox commented on #23534
@alfonsolr09 Let's make a new PR that implement both your fix and the issue I described here ;-)

[2021-11-07 11:31] alfonsolr09 commented on #23534
my solution is not the best way to fix the error as well matks said in my thread

[2021-11-07 13:19] xtofl opened #26543 "After update to 1.7.8.0, can't edit product Summary/Description"
#### Describe the bug

I used the 1-click update to go from 1.7.4 to 1.7.8.0.

After update, I can't edit product details: no edit field is present underneath the "Summary" or "Description" titles.

#### Expected behavior

The edit fields are present.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Catalog/Products'
2. Click on 'New product'
3. See error: you can edit the sin

[2021-11-07 16:33] amery opened #26544 "prestashop 1.7.8.x doesn't want to connect to remote mariadb 10.5.12"
#### Describe the bug

I'm trying to setup prestashop via a docker-compose + traefik but for some reason prestashop fails to connect to the remote mariadb.

I've tried two setups, one using 1.7.8.x + php7.4 on alpine 3.14, and another using 1.7.7.x + PHP 7.2 on alpine 3.9, both resulting in the same.
mariadb-client connects just fine, and also writing a small .php using PDO directly, but PS can't.

[2021-11-07 17:48] Debreceno commented on #22066
Great idea! Waiting

[2021-11-07 19:46] matks commented on #26541
Hi, it depends whether the string was built by PrestaShop or the module, that provide a translation system, or if the string comes from jQuery itself.

I cannot find the sentence 'use up and down arrow keys to navigate.' in https://github.com/prestashop/ps_facetedsearch so I think you may not use the default search module. If you use another, it depends if module allows translation or not.

[2021-11-07 20:44] lthienard commented on #26541
Sentence stored on:

[root]/js/jquery/ui/jquery.ui.autocomplete.min.js
[root]/js/jquery/ui/jquery-ui.js line 7186
[root]/js/jquery/ui/jquery-ui.min.js

[2021-11-07 23:22] Mauretta88 opened #26545 "Product search by ref in the stock page doesn't work (while in the stock movements works)"
#### Describe the bug

I have products with combinations. The product itself and each one of the combination have a ref code.
If i search a product by it's ref, in the stock page i'm only able to find the original product, not the combinations.
In the stock movement page, i'm able to make it work.

#### Expected behavior and what happen

Example: i have a product named "slippers" with a ref code "

[2021-11-08 03:27] Dar-us-Salam commented on #26536
I purchased the PS IT Advanced Clean Urls module which had the same issue. I contacted their tech support who said I needed to purchase the $50 check service for them to research & fix the issue. I purchased that and they updated their module which is working great now.

Prestashop developers should fix the root cause which is caused when friendly URL module/s is uninstalled.

[2021-11-08 06:29] krekken commented on #26471
it's the other way around, mate. the controller provides the id_order, so you can get it with using the $params array that passes through the data from controller to the module, via the hook.

[2021-11-08 08:22] hibatallahAouadni commented on #26541
Hello @lthienard

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-11-08 08:22] #26541 closed, assigned to nobody

[2021-11-08 08:23] hibatallahAouadni commented on #26540
Hello @djokerat

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-11-08 08:23] #26540 closed, assigned to nobody

[2021-11-08 08:26] hattia commented on #16306
Agree with @alfonsolr09 this is a bug and a really annoying bug

[2021-11-08 08:49] okom3pom commented on #26476
Hi @marionf

Many modules do not check if the client is disabled (ps_emailsubscription first).

So if you export a list, you have anonymous@rpgd.com in your list.

By spam I meant that your list will not be of good quality, so there is a risk that your mails will delivery in spam mailbox

[2021-11-08 09:00] okom3pom commented on #26531
https://github.com/PrestaShop/blockreassurance/pull/209

[2021-11-08 09:01] matks commented on #16306
If you find that this issue is critical for you, and it's important to have it fixed quick, then you can _invest_ into having it done.

You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. I'm sure there is great developers you can hire for a bugfix mission ;) .

The most important thing is to share that fix with everyone by submitting a Pull Re

[2021-11-08 09:07] matks commented on #26346
@okom3pom I guess you saw https://github.com/PrestaShop/autoupgrade/releases/tag/v4.13.0 ? 😄

[2021-11-08 09:41] matks commented on #26510
Overall I agree this is a good idea. I will just provide some warnings:

1) if you move VueJS components outside of new-theme to reuse them in a module, it means that your module will not be able to use the version you want for these components.

If module is installed on PS 1.7.8, it will use the components of 1.7.8, if it is installed on PS 8.0.0, it will use the components of 8.0.0 . If the com

[2021-11-08 09:45] Hlavtox commented on #25024
@kpodemski @matks This is being implemented in theme refacto. Try to think about the myaccount hook, maybe we can implement it into 8.0.

https://github.com/Hlavtox/theme-refacto/blob/header/modules/ps_customersignin/ps_customersignin.tpl

[2021-11-08 09:53] hibatallahAouadni commented on #26536
Hello @Dar-us-Salam

Without steps to reproduce, how we can find and fix the root problem :wink:
Glad that your problem is fixed, but please next time **respect and follow the provided template to submit a complete bug report**.

Unfortunately, there is not enough information provided to reproduce it and work on it. So, I close the issue.

Read more about how we expect the issues to be handled [he

[2021-11-08 09:53] #26536 closed, assigned to nobody

[2021-11-08 09:58] Progi1984 commented on #26327
PR by @alexandrebrubeyonds

[2021-11-08 11:28] khouloudbelguith opened #26547 "BO - Order page - Incorrect alert message when adding a discount or removing it and when updating a carrier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the employee language is diffe

[2021-11-08 11:37] MatShir opened #26548 "After sort, redirect to grid at reload of the page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

When we sort by any field,

[2021-11-08 11:50] kpodemski opened #26549 "Exported translations are not working properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you export translations for th

[2021-11-08 11:52] SharakPL commented on #25849
I'm afraid that's not enough, because changing product thumbnails ratio will also break `.higlighted-information` position which is fixed to 250px.

![obraz](https://user-images.githubusercontent.com/5007456/140736879-8b2ef46a-3a42-4896-b215-f19d43d4910f.png)

Really awful way of implementing it as it clearly should be related to `.product-description` block  but it is to whole `.product-thumbnail

[2021-11-08 12:07] Oksydan commented on #25849
@SharakPL
check [PR](https://github.com/PrestaShop/PrestaShop/pull/25855/files) it is all covered there.
Listing styling got refacto.

[2021-11-08 12:11] SharakPL commented on #25849
OK. Then let me know when you finish patching this. I'll check what else can be fixed later.

[2021-11-08 13:16] hibatallahAouadni commented on #26539
Hello @AreSee

Following the provided steps, I didn't encounter any issue in FO.
Could you please specify the steps to reproduce and add more details :pray:

Thanks!

[2021-11-08 13:20] #26491 closed, assigned to nobody

[2021-11-08 13:20] marionf commented on #26491
We should create an issue for each page if there are several PRs

[2021-11-08 13:25] abramofranchetti commented on #26523
@kpodemski
it would be nice there was a method similar to the old one "**$this->addJqueryUI('ui.datepicker');**" in the "**ControllerCore**" class. which was used in modules to load jquery components

[2021-11-08 13:34] MatShir commented on #26383
Hey @NeOMakinG, could you investigate the issue please? I look like, it is a front end issue. Maybe @matthieu-rolland, can help you 🤗

[2021-11-08 13:50] hibatallahAouadni commented on #26544
Hello @amery

Thanks for reporting the issue!
Unfortunately with the provided infos I couldn't reproduce the issue, so could you please provide steps to reproduce.

Thanks!

[2021-11-08 13:53] hibatallahAouadni commented on #26543
Hello @xtofl

I upgraded a 1.7.4.1 shop to 1.7.8.0 and I didn't encounter any issue, see the attached screen record below:

https://watch.screencastify.com/v/Zpc9wj62SfZXai9ZkDTB

Please check and feedback.
Thanks!

[2021-11-08 14:19] amery commented on #26544
hi @hibatallahAouadni I do believe it's something on the packages pulled by composer, but I don't know enough to narrow it down.

If I `composer upgrade` I break prestashop with:
[code]

but `composer install` still breaks it, but with the error shown here. As I'm not a PHP person I don't know where to look.
I understand there is something called symfony involved and something else called doctrine

[2021-11-08 14:28] hibatallahAouadni commented on #26523
Ping @PierreRambaud could you please transfer this issue to https://github.com/PrestaShop/docs :pray:
Thanks in advance.

[2021-11-08 14:45] d33x opened #26550 "[BO] Product listing - Unable to search for a product with an apostrophe (if using the apostrophe)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If my product name has an apostroph

[2021-11-08 14:59] xtofl commented on #26543
@hibatallahAouadni thank you for your time.  I noticed that the PHP version in the screen cast is 7.1.

I remember while trying-and-erroring to solve the problem, before I tried the upgrade,  choosing PHP 7.3, also solved it.  I'll try reverting to 7.3 (my hosting service doesn't allow going back further) and come back.

[2021-11-08 15:11] Progi1984 commented on #25887
No idea, too. @MatShir Order messages must be soft deleted or hard deleted ?

[2021-11-08 15:15] #26248 closed, assigned to nobody

[2021-11-08 15:31] PierreRambaud commented on #24643
Add packages on packagist and make ps_emailalerts compatible with latest version.

[2021-11-08 15:39] hibatallahAouadni commented on #26280
Hello @Kamila-Piatkiewicz

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-08 15:39] #26280 closed, assigned to nobody

[2021-11-08 15:40] hibatallahAouadni commented on #26273
Hello @okom3pom

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-08 15:40] #26273 closed, assigned to nobody

[2021-11-08 15:41] hibatallahAouadni commented on #25363
Hello @matthieu-rolland

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-08 15:41] #25363 closed, assigned to nobody

[2021-11-08 15:42] hibatallahAouadni commented on #26330
Hello @cdcvince

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-08 15:42] #26330 closed, assigned to nobody

[2021-11-08 15:53] SimonasB88 opened #26552 "Add new Image Type CTA button vanishes, new Save CTA button appears"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Steps to reproduce in video of scre

[2021-11-08 16:53] matks commented on #19243
I think this topic is not a must-have so I wont be able to make it reach merge point for 8.0.0 😭

[2021-11-08 17:17] sowbiba commented on #26341
I did it with the opposite logic. I add P tag to the original textarea value and then compare the values

[2021-11-08 21:43] mastudillot opened #26553 "Problem with orders with amounts without decimals"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When Prestashop is configured so th

[2021-11-09 08:11] grabelle opened #26554 "This form should not contain extra fields."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I added 1 extra field under "Inform

[2021-11-09 08:25] hibatallahAouadni commented on #26545
Hello @Mauretta88

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9727.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-09 08:25] #26545 closed, assigned to nobody

[2021-11-09 08:25] hibatallahAouadni commented on #26545
Duplicate of #9727

[2021-11-09 08:55] rmntavares opened #26555 "Textarea on product page is hidden"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I upgrade to version 1.7.8.0 and te

[2021-11-09 09:07] okom3pom commented on #26539
Hello @hibatallahAouadni

I manage to reproduce you need a GA account in the module.

![Capture d’écran de 2021-11-09 10-02-01](https://user-images.githubusercontent.com/5064590/140894951-68c588e4-9cc7-4221-afec-38db612ff3c4.png)

[2021-11-09 09:16] atomiix commented on #19243
If we want PrestaShop 8.0 to be compatible with PHP 8.1, this topic should be a must-have 😅

[2021-11-09 09:18] gs2k84 commented on #26543
Hello,

did you solve the problem?
I had exactly the same after updating from 1.7.7.7 to 1.7.8.0

Hopefully in 1.7.8.1 it won't be there anymore.

[2021-11-09 09:45] florine2623 commented on #26550
Hello @d33x ,

I was able to reproduce the issue with PrestaShop version 1.7.7.7, 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you c

[2021-11-09 09:50] florine2623 commented on #26555
Hello @rmntavares ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further info

[2021-11-09 09:50] #26555 closed, assigned to nobody

[2021-11-09 09:51] florine2623 commented on #26554
Hello @grabelle ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2021-11-09 09:51] #26554 closed, assigned to nobody

[2021-11-09 09:58] #26103 closed, assigned to nobody

[2021-11-09 09:58] florine2623 commented on #26553
Hello @mastudillot ,

I followed your steps, but I can't reproduce the issue.
My own currency has been created and is set as default :

<img width="823" alt="Screenshot 2021-11-09 at 10 58 10" src="https://user-images.githubusercontent.com/16019289/140902990-867f203e-1939-4f9f-b0fb-1ae6a92af420.png">
<img width="415" alt="Screenshot 2021-11-09 at 10 58 22" src="https://user-images.githubuserconten

[2021-11-09 10:05] marwachelly opened #26557 "FO - Quick view - The type of the product's cover image is incorrect"
#### Describe the bug

The type of the product's cover image is meduim in the quick view. It should be large.

#### Expected behavior

The cover image in the quick view should be large instead of medium. => The image size should be fix when changing the image in Quick View of a product with many pictures.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > catalog > product>

[2021-11-09 10:38] florine2623 commented on #26552
Hello @SimonasB88 ,

I was able to reproduce the issue with PrestaShop version 1.7.8.0 and develop branch (Multistore and single store), so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s o

[2021-11-09 10:56] MatShir commented on #22336
This is indeed a bug :) and a major problem, an import should never result in data loss.

[2021-11-09 11:03] #22336 closed, assigned to nobody

[2021-11-09 13:16] florine2623 commented on #26428
Hello @elmanu13 ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-11-09 13:16] #26428 closed, assigned to nobody

[2021-11-09 13:28] mastudillot commented on #26553
With the plugin webpay plus or mercado pago

[2021-11-09 13:32] NeOMakinG commented on #26290
Honestly I wouldn't even add it to the core

- DOM manipulation rely on the theme, so it would be inside the theme
- Services (fetching backend endpoints) would be in the core but exposed as an NPM module that the theme install himself, so it's easily removable and can be edited

[2021-11-09 14:49] Olimbot opened #26559 "[WS][1.7.8] Cannot receive blank schemas for resources"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's the same issue that #21748 and

[2021-11-09 15:01] alfonsolr09 commented on #16306
What do you think about disabling the custom value box while you haven't selected a feature?

[2021-11-09 15:47] florine2623 commented on #26559
Hello @Olimbot ,

I have the same result in PS 1.7.8.0, with PHP 7.3 or PHP 7.4. No error is shown.

Here's the result to `http://ps178test:8888/api/products?schema=blank` :
<img width="726" alt="Screenshot 2021-11-09 at 16 42 49" src="https://user-images.githubusercontent.com/16019289/140956171-53f13c5d-d7c5-4f46-a6dc-b4bdb31d2fa8.png">

In my BO I ticked all GET permissions :
<img width="778" al

[2021-11-09 16:02] florine2623 commented on #26543
Hello @xtofl ,

It is better to use PHP 7.1 when you upgrade from PS 1.7.4.0 (this version is only compatible until PHP 7.1.)
Once the upgrade is done, you can update your PHP version to 7.4.
Here, you will find more info about the system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2021-11-09 16:13] florine2623 commented on #26553
Thanks for the details.

I tested again with order amount superior to 1 000 and 10 000. I still can't reproduce your issue.
The Order status is correct :
<img width="1167" alt="Screenshot 2021-11-09 at 17 13 08" src="https://user-images.githubusercontent.com/16019289/140961685-11f66f7f-6d6b-4b90-88e7-79447f77be05.png">

You should contact the develop of these modules if the issue only comes with t

[2021-11-09 16:16] matks commented on #19243
Then @MatShir can we label this issue as Must-have for 8.0.0 ?

[2021-11-09 16:23] mastudillot commented on #26553
In the amounts of your currency it is with "," in my tests the separator is "."

I work in the development of the webpay plugin and this problem is causing problems for prestashop users.

[2021-11-09 16:34] florine2623 commented on #26549
Hello @kpodemski ,

I was able to reproduce the issue with PrestaShop versions 1.7.7.7 and 1.7.8.0, so I can confirm that this behavior is indeed a bug.

The translation export is in French, but in the file the content is in English :
<img width="676" alt="Screenshot 2021-11-09 at 17 28 22" src="https://user-images.githubusercontent.com/16019289/140964638-efbd5cc6-d3a7-4fbd-8f87-4f3c8e6ea4e2.png">

[2021-11-09 16:59] MatShir commented on #19243
We will discuss it on the next backlog refinement :)

[2021-11-09 18:17] jck1307 commented on #22634
Hello,
I had the same need to view pdf. I don't know if you still need it. It's a 6 chars modification... So, just in case...

In the root directory of your PS installation, just open the controllers/front/AttachmentController.php and search the following :

Then replace attachment by inline :

That's all. It works for me but I didn't test it a lot, so be careful and test a little bit. Note that A

[2021-11-09 18:17] AreSee commented on #26539
yes @okom3pom  right.
Then still the debug mode and the error appears in the FO.

[2021-11-09 18:47] nauumb commented on #16306
It seems like I not should be persisted in the database before data verification. @alfonsolr09 Wouldn't a robust model be a better solution in this case?

There is some SQL querys that you can run gainst your database.

`DELETE FROM ps_feature_value_lang WHERE id_feature_value IN (SELECT id_feature_value FROM ps_feature_value WHERE id_feature=0);`
`DELETE FROM ps_feature_product WHERE id_feature=0