[2020-04-08 16:58] khouloudbelguith commented on #9586
@colinegin, Done https://github.com/PrestaShop/PrestaShop/issues/18533 :wink:

[2020-04-08 17:58] DavidSidecar commented on #10871
Awesome, works for me.

Thanks, so much time trying to get it.

[2020-04-08 19:59] amaxtrading commented on #10500
Hi @khouloudbelguith
It's now over year but still nothing!?
I use 1.7.6.4 and facing with same problem!

BR W

[2020-04-08 20:06] DEQ-Dave commented on #16477
Glad to see that you are moving forward with PHP 7.4 support since the current release of PrestaShop will not install completely or cleanly on PHP 7.4. Quite disappointed to say the least.

[2020-04-08 22:08] SportshubPH opened #18534 "Dashboard perpetually loading"
#### The dashboard won't load. It just keeps circling

#### Additional information

* PrestaShop version: 1.6.1
* PHP version: N/A

[2020-04-08 22:45] alfonsolr09 opened #18535 "web migration from one domain to another"
#### Describe the bug
I copy all the files and the database, I modify the parameters ps_shor_url and ps_configuration and when I try to enter the backoffice in the new domain it shows a screen with HTTP ERROR 500
Does anyone know what i should do?

#### Expected behavior

///

#### Steps to Reproduce

////
**Screenshots**

///

#### Additional information

* PrestaShop version: 1.7.5.2
* PHP versi

[2020-04-09 01:32] Hlavtox commented on #18535
@alfonsolr09 Did you change database credentials in app/config/parameters.php?

If it still doesnt work, put this php file to your prestashop root and run it. It will clear the cache.
[flushCache.zip](https://github.com/PrestaShop/PrestaShop/files/4453540/flushCache.zip)

[2020-04-09 01:34] alfonsolr09 commented on #18535
I change it on paramethers.php yes.
Im going to try your zip

[2020-04-09 01:36] alfonsolr09 commented on #18535
@Hlavtox where i have to put it? I have my shop on a subdomain. Like myshop.com/presta17

[2020-04-09 06:34] jf-viguier opened #18536 "ps_imageslider - url should be optional"
#### Describe the bug

In every ps_imageslider's slider, the url is mandatory.
A slider can be used to show a store front or have just a visual. The link shouldn't be mandatory.

Note : the # trick doesn't work here.

[2020-04-09 07:35] khouloudbelguith commented on #10500
Hi @amaxtrading,

We made a huge refactoring of the `ps_facetedsearch,` the last release id 3.5.0.
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.5.0

Thanks!

[2020-04-09 07:47] nrcjea001 opened #18537 "Http 500 error when removing product from cart from order page"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Place more than 1 product in cart
2. Go to checkout and enter guest details and fill in address
3. Go to Shipping Method section, then in sidebar delete 1 product from cart.
4. Go through checkout process again.
4. See error before you reach 'Shipping Method' section again.

* PrestaShop version: 1.7.6.2
* PHP version: 7.2

[2020-04-09 07:48] marionf commented on #18523
@PrestaShop/prestashop-core-developers Could you try to reproduce it ? Thanks

[2020-04-09 07:49] marionf commented on #18520
@PrestaShop/prestashop-core-developers Could you try to reproduce it ? Thanks

[2020-04-09 07:51] go-sudo commented on #18523
Hi @marionf

maybe this screen will help

![image](https://user-images.githubusercontent.com/11594433/78871217-4822f400-7a3f-11ea-8991-1a91f1878dd3.png)

Regards and I'm ready to provide any additional information

Regards

[2020-04-09 07:52] fabio-zetaweb opened #18538 "Product sold understock on v1.7.6.3"
Hello,

It's happened to me several times to receive orders with products sold under stock despite those products, in quantity settings, had the rule "Use default behavior (Reject orders)".

![understock](https://user-images.githubusercontent.com/56585945/78871210-a6ec6b80-7a47-11ea-9b25-1cfa99753634.jpg)

Have such cases happened before?

[2020-04-09 07:52] colinegin commented on #9586
Thanks so much :)

[2020-04-09 07:58] matks commented on #16477
The preferred way for projects to check for php7.4 support is to run the tests with php7.4 and fix everything that is reported broken.
However PrestaShop does not have (yet) a test coverage large enough to do this. Tests will provide a first bug report but QA team will need to test the whole application _manually_ to ensure everything works properly with php7.4 . This massive task takes days or we

[2020-04-09 08:28] Hlavtox commented on #18535
@alfonsolr09 Put flushCache.php to presta17 folder. Then open myshop.com/presta17/flushCache.php, then BO should work.

[2020-04-09 08:48] florine2623 commented on #18534
Hi @SportshubPH ,
Please check you PHP compatibility first

You can try a few things :
- Inspect the page to see if there are errors
- Activate debug mode
- Clear cache
- Check if a module is blocking the loading process

Thanks!

[2020-04-09 08:53] florine2623 commented on #18535
Hi @alfonsolr09 and @Hlavtox ,

Thanks for replying @Hlavtox
@alfonsolr09 you can also clear cache manually via FTP

Please let me know if you manage to migrate your shop properly.
Thanks

[2020-04-09 09:04] florine2623 commented on #18537
Hi @nrcjea001 ,
I could not reproduce your issue with the provided information.
In theme classic there's no possibility of deleting one product from the cart while doing the checkout process.
Please check if the error comes from your theme and let me know.
Thanks!

[2020-04-09 09:23] florine2623 commented on #18538
Hi @fabio-zetaweb ,

What version of PrestaShop are you using ?
Please check if a module manages the stock of your shop.

Please check and let me know!

[2020-04-09 09:36] didi-2018 commented on #17866
@khouloudbelguith  Hello, same issue today. The page "Logs" is not loaded with SSL it is loaded insecure.

[2020-04-09 09:42] Betafer opened #18541 "Missing Bank data in email confirmation"
I got missing data in email confirmatio:
<img width="670" alt="Schermata 2020-04-09 alle 11 38 30" src="https://user-images.githubusercontent.com/5024055/78881140-ad361400-7a56-11ea-8c99-18fd16d0d829.png">

As you can see in the image are displayed: {bankwire_owner} {bankwire_details} {bankwire_address}
instead of Bank details, the module version is v2.0.4 di PrestaShop

I think the problem is in

[2020-04-09 09:51] Betafer opened #18542 "Cannot save private note in order detail pages, got undefined error"
Cannot save private note in order detail pages, got undefined error and the note will not be saved.

Doing the same thing in customer information page, it works, so i think is a problem related to the buttom in order page the is not the same of customer details page.

<img width="699" alt="Schermata 2020-04-09 alle 11 47 24" src="https://user-images.githubusercontent.com/5024055/78882272-241fdc80-

[2020-04-09 09:54] florine2623 commented on #18536
Hi @jf-viguier
Thanks for the recommandation, I will let our product team know.
Thanks !

[2020-04-09 09:55] zodit commented on #12186
I have the same problem, all themes have problems with languages and i am wasting a lot of time for these issues. I think it is really wrong that you force us to use the Prestashop Back Office as the only solution possible, and "call the developer to fix it". It is a restriction unbearable, if the BO is not working as expected, and we can't have support from the developer, we are let down.

I have

[2020-04-09 09:55] florine2623 commented on #18536
Hello @PrestaShop/prestashop-product-team !

What do you think about @jf-viguier 's request on ps_imageslider module ?
Thanks !

[2020-04-09 09:57] matks commented on #17866
You're quick ! 😄 Same root cause: issue on Addons API, currently being fixed
See http://status.prestashop.com/ to monitor API status

[2020-04-09 10:00] MauroKali opened #18543 "FORM FIELDS - newsletter checkbox"
Hello,

I encouter a strange issue on form fields - checkbox of newsletter. The value does not change if the checkbox is checked or not. It remains at value=1. I have no errors on console.

Prestashop version : 1.7.6.4

this is the code on forms-field.tpl

`
{block name='form_field_item_checkbox'}
   <span class="custom-checkbox">
       <input name="{$field.name}" id="ff_{$field.name}" type="chec

[2020-04-09 10:01] matks commented on #12851
I notice a HTTP 500 in my console on Dashboard for following URL: http://api.prestashop.com/version/check_version.php?v=1.7.7.0&lang=fr&autoupgrade=0&hosted_mode=0

It does not seems to be in the list 🤔I guess it's used to check whether I am running the latest PS version.

[2020-04-09 10:40] florine2623 commented on #18542
Hi @Betafer ,
Are you using any module related to the products ?
Can you try to put debug mode on ?
Can't you add an internal note on all orders ?

Please check and let me know!

[2020-04-09 10:49] Betafer commented on #18542
Hi florine

Are you using any module related to the products ?
No
Can you try to put debug mode on ?
Yes, i got this notice
<img width="616" alt="Schermata 2020-04-09 alle 12 47 52" src="https://user-images.githubusercontent.com/5024055/78887622-7d8c0980-7a60-11ea-8a3d-9d8085827728.png">

Can't you add an internal note on all orders ?

Yes

[2020-04-09 11:14] zuk3975 commented on #17223
This seems to be not fixed yet?

[2020-04-09 11:24] khouloudbelguith commented on #10258
Partially fixed here: https://github.com/PrestaShop/PrestaShop/pull/18352

Thanks!

[2020-04-09 11:30] Progi1984 commented on #10258
Fixed only for PDF sent by mail by #18352

[2020-04-09 11:41] zuk3975 opened #18545 "Refactor order handlers"
This is reminder issue for 1.7.8 or later, risen from https://github.com/PrestaShop/PrestaShop/pull/17348#issuecomment-608507088

**Refactor following handlers (add behat tests first, then clean the code, use private methods, but don't implement numbers yet) in separate PR's using smallest possible scope:**
* [ ]  AddCartRuleToOrderHandler
* [ ]  AddProductToOrderHandler
* [ ] DeleteProductFromOrd

[2020-04-09 11:45] zuk3975 commented on #17282
created reminder issue for later versions: #18545. @matks I think we can close this issue, as everything else is resolved.

[2020-04-09 12:17] florine2623 commented on #18542
Hi,
Clear all caches from BO and FO and let me know.
Thanks !

[2020-04-09 12:24] colinegin commented on #18509
ping @SD1982 is it the problem you were talking about yesterday ?

[2020-04-09 12:32] MatShir commented on #10021
Most of all the prices are now correctly displayed with a comma for Netherland except the product combination page.
I will see if I can be solved during the product page migration.

[2020-04-09 12:35] Betafer commented on #18542
Done, nothing change

[2020-04-09 12:36] DEQ-Dave commented on #16477
Thanks for the reply Mathieu. I think I was simply shocked that the install completely failed with PHP 7.4 more than anything. I understand that you are caught between a rock and a hard place but I also think that stopping development for 2 weeks or so to get things working with PHP 7.4 would be a wise investment.

[2020-04-09 12:37] colinegin opened #18546 "Anchor in URL does not change when changing the combination ID in the url"
### Describe the bug
When you change the id of combination in the url, you will be redirect to the default combination but the url won't be corrected/changed

### Expected behavior
these parameters in the url should be replaced by those of the default combination

### Steps to reproduce

1. if we go to a product with combination
2. the default combination is displayed
3. If we change combination t

[2020-04-09 12:41] jolelievre commented on #18546
See this comment for more detail: https://github.com/PrestaShop/PrestaShop/pull/18493#issuecomment-611504504

tl;dr;
- keeping the anchor is a logical browser side feature
- we need to decide if the anchor affects the combination displayed in the page
- if it does affect it, does it have influence on SEO? (javascript front update or PHP server side rendering)

[2020-04-09 12:48] mvorisek commented on #16477
PHP 8.0 is here in December

[2020-04-09 12:50] mvorisek opened #18547 "PrestaShop must be compatible with PHP 8.0"
PHP 8.0 is out and PrestaShop must be compatible

**Related issues:**
- [x] https://github.com/PrestaShop/PrestaShop/issues/17300
- [x] https://github.com/PrestaShop/PrestaShop/issues/20739
- [x] https://github.com/PrestaShop/PrestaShop/issues/17351
- [x] #25921
- [x] #25922

[2020-04-09 12:51] muyncky commented on #12851
Great topic, love it!

Maybe have a look at these two:

[code]

I have by default an override for Tools.php, just to prevent this.

[2020-04-09 12:53] matks commented on #16477
For php8 it will be even worse. Because I expect some of our Composer dependencies to not be able to provide a version compatible with the wide range php7.1 to php8.0 . So when we will provide the php8 compatibility, we will have to drop some older php7 versions because we will require the latest dependencies, not compatible with these php7 versions (although PS code might be compatible with the c

[2020-04-09 12:57] kpodemski commented on #18546
Everything after the anchor is irrelevant for both things. To be honest i'm not sure why anchor is still used if we have combination id in URL 🤔

[2020-04-09 12:58] Gipielle commented on #18547
:-) mvorisek you are a dreamer !

[2020-04-09 13:20] eternoendless commented on #18547
I think it will be harder than with PHP 7.4 though, since it's a major version they may remove deprecated code and introduce a lot of breaking changes.

But of course we'll keep a close eye as they release more information about what it will change.

[2020-04-09 13:25] kpodemski commented on #18547
PHP 8...... .......PrestasHoP 8

[2020-04-09 13:34] eternoendless commented on #12833
@MatShir Keep in mind that the core will have to be updated to remove these calls after MBO is updated.

[2020-04-09 13:48] khouloudbelguith commented on #18541
Hi @Betafer,

I did not manage to reproduce the issue with PS1.7.6.4 and the Bank transfer module v2.0.4
I attached a screen record
https://drive.google.com/file/d/1Tbv5iWdVfOA5Ywg_kY7lPv4YE4f24llW/view?usp=sharing
Thanks to check and feedback.

[2020-04-09 13:53] maofree commented on #18541
Hi
I get the same problem on another website with Bank transfer module v2.0.4 and prestashop 1.7.6.1
the problem of this issue is that it happens randomly. So I set that data in the html email of the module bankwire

there are no big differences between 1.7.6.1 and 1.7.6.4

[2020-04-09 13:54] florine2623 commented on #18543
Hi @MauroKali ,

What exactly is the issue ?
I've created 2 accounts. One with newsletter subscription and the other one without.
It works fine :
Customer news letter has checked his subscirption to the newsletter
Customer test test has not
![Capture d’écran 2020-04-09 à 15 52 21](https://user-images.githubusercontent.com/16019289/78902509-2d21a580-7a7a-11ea-8c05-2df54636d0de.png)

Let me know i

[2020-04-09 13:54] alfonsolr09 commented on #18535
It worked perfectly.
I have another problem, currently I have a web loan 1.5, I want to upload a 1.7 loan to that same domain. The version of php I have is 5.6.34, do I need to update to upload loans 1.7?
Which version should i upgrade to?

[2020-04-09 14:02] khouloudbelguith commented on #18541
@Betafer, @maofree, it is simlar to this issue: https://github.com/PrestaShop/PrestaShop/issues/16741
But, I couldn't reproduce the issue with the provided information with the Classic template and modern template.

Thanks!

[2020-04-09 14:06] MauroKali commented on #18543
hello @florine2623
and thanks for your feedback.

Well, if I check the subscription it's ok :)
![image](https://user-images.githubusercontent.com/24568905/78903787-ed5bbd80-7a7b-11ea-83a1-681e6248cead.png)

But the issue it's that even if I am not optin I receive a mail as my subscription is validated.

[2020-04-09 14:07] Betafer commented on #18541
Try to set some data in bank details

[2020-04-09 14:09] florine2623 commented on #18542
When you inspect the page, is there an error showing ?

[2020-04-09 14:11] florine2623 commented on #18535
Perfect !
What do you mean by "loan" ? the web host ?
Here's the compatibility chart of PrestaShop version :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks !

[2020-04-09 14:13] Betafer commented on #18541
<img width="569" alt="Schermata 2020-04-09 alle 16 11 54" src="https://user-images.githubusercontent.com/5024055/78904487-e7b2a780-7a7c-11ea-8d7c-0b738fd04ff7.png">
Another order received from another country and another language, same problem.
Just Now

[2020-04-09 14:15] Betafer commented on #18542
No, only that notice in debug mode.

[2020-04-09 14:17] khouloudbelguith commented on #18541
@Betafer, data is well set as you can see in my screen record
![image](https://user-images.githubusercontent.com/16067358/78904795-60b1ff00-7a7d-11ea-814c-4b766eca874f.png)
Did you use an address mail with uppercase?
Try to navigate to the BO => Design => Email theme and try to generate emails for your language.
Thanks!

[2020-04-09 14:25] Betafer commented on #18541
No uppercase in email.
What happens if i regenerate my emails?
 Will there be any changes if there are any changes?

[2020-04-09 14:25] maofree commented on #18541
Hi @khouloudbelguith
sometimes there are some strange bugs that you cannot reproduce each time on your demo site.
I think these two examples are not the only ones.
so you should recheck all code that manage the confirmation step to remove all possible issue
however there are two sites with two different themes and servers that has the same issue

If I do some tests on my demo site I cannot reprodu

[2020-04-09 14:26] Betafer commented on #18541
This is the email sent form order confirmation or form the resend email button ?

[2020-04-09 14:28] florine2623 commented on #18545
Hi @zuk3975 ,
Thanks for the recommandation.

Hi @matks !
Could you take a look please ?

[2020-04-09 14:31] alfonsolr09 commented on #18535
presta

[2020-04-09 14:32] khouloudbelguith commented on #18541
@Betafer,

I checked two options => OK
https://drive.google.com/file/d/1qMlyDMFPn-U7ms3jnWw3l-kx3-9IOeaG/view?usp=sharing

@maofree,

It couldn't be related to your theme or custom modules?

Thanks!

[2020-04-09 14:36] florine2623 commented on #18535
When you update from PS1.5 to PS1.7, you will need to upgrade version of PHP of course

[2020-04-09 14:37] khouloudbelguith opened #18549 "BO - Emails page - The SMTP configuration card is not opened when selecting the option "Set my own SMTP parameters (for advanced users ONLY)""
#### Describe the bug

In the BO > Advanced Parameters => Emails page - The SMTP configuration card is not opened when selecting the option "Set my own SMTP parameters (for advanced users ONLY)".
We should click save => so the page is refreshed.
It is not the same behavior as the 177x branch and PS1.7.6.4.
![image](https://user-images.githubusercontent.com/16067358/78907018-6826d780-7a80-11ea-8384

[2020-04-09 14:38] maofree commented on #18541
the themes in the order confirmation has no faults, if prestashop send the bankwire email
and the same is for the extra modules.
if the order is ok and the problem is only on the bankwire only on its details (not on the data of the customer), theme and extra modules are not the problem.
the problem is why prestashop in some cases cannot pass the 3 bankwire variables to the emails?
the email templa

[2020-04-09 14:40] khouloudbelguith commented on #18541
@maofree,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-04-09 14:44] florine2623 commented on #18543
Hi @MauroKali
You need to check the configuration of the newsletter module. There you can choose the option of sending an email verification / confirmation to the customer.
If the customer does not want to receive the newsletter anymore, he can unsubscribe directly from his customer account.

[2020-04-09 14:46] florine2623 commented on #18542
I could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
You can contact the support team so they can look into your shop : https://addons.prestashop.com/en/support/16298-prestashop-support-plan.html
Thanks !

[2020-04-09 14:46] #18542 closed, assigned to nobody

[2020-04-09 14:47] prestamodule opened #18550 "Ecotax value is reduced each time a product is saved"
#### Describe the bug

Ecotax value is reduced each time a product is saved.

1. Be sure to have ecotax enabled and set to a specific tax rule (20% in France, for example)
- go to International > Taxes page and enable ecotax
- then refresh page add tax ON ecotax
<img width="856" alt="Capture d’écran 2020-04-10 à 16 54 31" src="https://user-images.githubusercontent.com/3830050/78999942-f7e58800-7

[2020-04-09 14:51] maofree commented on #18541
sorry but which log can write the motive of why just one part of the data is passed to the email and the other of the module variables are not?
I'll pass to the next bug, with these answers it is not possible to fix anything
bye

[2020-04-09 14:56] khouloudbelguith commented on #18541
@maofree, I need all information that could be helpful for us to reproduce the issue.
- any errors in the log could help us?
- in which language this issue occurs?
- Is the employee and the Customer have the same languages? is it the default language?

Thanks for your understanding!

[2020-04-09 15:02] MauroKali commented on #18543
hi @florine2623

this option is set as NO but I reach the mails as well

![image](https://user-images.githubusercontent.com/24568905/78909457-d620ce00-7a83-11ea-9f11-981b099b79dc.png)

[2020-04-09 15:25] matks commented on #17223
I was able to create an order by following the scenario
1. Open "Create an order" page
2. Add a new customer
3. All page opens
4. Add an address
5. Choose a product, add it to cart
6. Complete order

So it seems to be fixed

[2020-04-09 15:27] Progi1984 commented on #18527
Ping @NeOMakinG

[2020-04-09 15:32] matks opened #18551 "Improve Create an order interface to avoid double free shipping"
#### Describe the problem

On "Create an order interface to avoid double free shipping" you can modify the order to enable free shipping by 2 means: adding a free shipping discount or setting free shipping option.

You should not be able to use the 2.

#### Desired behavior

Disable the input and putting it as uneditable when free shipping voucher is added

![image](https://user-images.githubuserc

[2020-04-09 15:34] matks commented on #18551
This issue is the one fixed by https://github.com/PrestaShop/PrestaShop/pull/17611
It's a mix of https://github.com/PrestaShop/PrestaShop/issues/17875 and https://github.com/PrestaShop/PrestaShop/issues/17085 3rd bug.

@MatShir is this issue still relevant ?
Thanks to https://github.com/PrestaShop/PrestaShop/pull/17611, now even if you can try to add a free shipping discount **and** use free shipp

[2020-04-09 15:40] florine2623 commented on #18550
Hi @prestamodule ,
I could partially reproduce your issue until step 4 with PS version 1.7.5.2 and 1.7.6.4.
Could you please check on your side if step 5 to 7 are still a problem, if yes, can you send me a screenshot please ?
Thanks !

[2020-04-09 15:45] matks commented on #18550
@prestamodule I though this bug was crazy so I checked too, no issue on 1.7.7.x
Which field do you update for price ? The one on "Essentials" 1st tab or the one in "Pricing" tab ?
When you say "refresh", you mean "click save then reload all page using F5" ?

[2020-04-09 15:54] LouiseBonnard opened #18553 "Add link to good first issue label in the README"
Improve the _Contributing_ section of the README with the following information:

1. add a link to the list of **good first issues** so that beginners can contribute

2. update to **75** the number of translation projects available on Crowdin

[2020-04-09 15:54] prestamodule commented on #18550
@matks I’m talking about 1.7.6, we did not tested on 1.7.7 to be honest.
I use the Pricing.
Refresh the page using F5 yes, so the product object is refreshed...
focus on ecotax value

[2020-04-09 16:00] florine2623 commented on #18543
This is the right configuration !
Could you sho me the email you receive please ?

[2020-04-09 16:03] MauroKali commented on #18543
![image](https://user-images.githubusercontent.com/24568905/78915554-66631100-7a8c-11ea-9580-77600bc1e060.png)

[2020-04-09 16:28] #18535 closed, assigned to nobody

[2020-04-09 16:29] Betafer commented on #18541
This is the same issue  #16741

As i told you 2 languages: Italian and french (order)

[2020-04-09 16:33] Betafer commented on #16741
Same problem with Prestashop 1.7.6.3 and bankwire 2.0.4

[2020-04-09 16:40] khouloudbelguith commented on #18541
@Betafer tried with the Italian language "email sent form order confirmation" or "form the resend email button"
=> OK
![image](https://user-images.githubusercontent.com/16067358/78918980-85b06d00-7a91-11ea-9c61-abf2d77c7cce.png)

Thanks!

[2020-04-09 16:47] Betafer commented on #18541
write data in the module and recheck please

[2020-04-09 16:48] marionf commented on #18550
Duplicate of #10026
@prestamodule you can follow this issue and comment on it if you want

[2020-04-09 16:48] #18550 closed, assigned to nobody

[2020-04-09 16:49] marionf commented on #18550
Duplicate of #10026

[2020-04-09 16:58] Betafer commented on #18541
Retested, confirmation email data ara ok, resend email from backoffice bank data are missing

[2020-04-09 16:59] khouloudbelguith commented on #18541
@Betafer, I attached a screen record
https://drive.google.com/file/d/1UtMlAu5Yxr5aUjUwYEDl9Xi5HZedRvU5/view?usp=sharing

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2020-04-09 17:07] Betafer commented on #18541
There are no error in log files related to this:

[Thu Apr 09 12:46:31.557039 2020] [fcgid:warn] [pid 38262] (32)Broken pipe: [client 37.116.119.15:59785] mod_fcgid: ap_pass_brigade failed in handle_request_ipc function, referer: /index.php?controller=AdminPageCacheConfiguration&token=d6104e92b6f8670e5c6b0606b3c2851c
[Thu Apr 09 12:46:32.137579 2020] [fcgid:warn] [pid 38280] (32)Broken pipe: [clie

[2020-04-09 17:09] matteolavaggi commented on #16741
Add it on email template code. Is too important to wait that PS team fix
this bug.

Il giorno gio 9 apr 2020 alle ore 18:33 Betafer <notifications@github.com>
ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

[image: PrestaShop]
www.pineappleitaly.com/pine

[2020-04-09 17:15] Betafer commented on #18541
Can you try with my datas please:
Account owner: Betafer snc
Account details:
BANCA POPOLARE DELL'ALTO ADIGE
IBAN: IT72 T058 5661 2300 2257 1232 270
BIC/SWIFT: BPAAIT2B022
Come filiale della banca, codice IBAN, BIC, ecc

Bank address:
Via Ferdinando Coletti 15, Tai Di Cadore
0435 505600

[2020-04-09 17:20] khouloudbelguith commented on #18541
@Betafer, tried with your data => OK
https://drive.google.com/file/d/1AHwQTF9jFDPXJLLIZU36mi4kTJDCdX9x/view?usp=sharing

Thanks!

[2020-04-09 17:31] Betafer commented on #18541
In my opinion it's a problem due to the prestashop update, and I think in the database.
How does that button work, where does it get your bank details from?
Why does the order email work and the button email doesn't? Don't they work the same way?

[2020-04-09 17:33] Betafer commented on #16741
Ciao, avevo pensato a questa soluzione ma mi sembrava un fix del cavolo ... speravo in una soluzione seria.
Comunque ti do ragione, sono troppo lenti a sistemare cose importanti.

[2020-04-09 17:54] mnowakpcgs commented on #14979
I would strongly disagree that this is not a priority.

Please note you are seeing this degradation on a clean install and a dev server with no traffic.

Add in some modules and overrides and 100 active users, and it is amplified significantly.

I've been dealing with this ever since migrating to 1.7.x and was shocked that nobody else had experienced this problem. I tried hiring Bruno Leveque to h

[2020-04-09 17:56] eyalkrief opened #18555 "error 500 creation de compte nouveau client"
[PrestaShopException]
La longueur du champ Customer->passwd est actuellement 60 caractères. Il doit être entre 0 et 32 caractères.
at line 1003 in file classes/ObjectModel.php

998.             }
999.
1000.             $message = $this->validateField($field, $this->$field);
1001.             if ($message !== true) {
1002.                 if ($die) {
1003.                     throw new PrestaShopEx

[2020-04-09 18:00] eyalkrief commented on #18555
![Capture321](https://user-images.githubusercontent.com/7167028/78926082-c2359600-7a9c-11ea-9739-ce46a26c34a5.PNG)

[2020-04-09 18:06] kpodemski commented on #14979
Hey @mnowakpcgs

could you tell me more about your issue?

how big are customer carts?
 is your store with a lot of combinations?
have you tried to profile performance issues like people before you in this thread?

[2020-04-09 18:12] alfonsolr09 commented on #18535
Yes, but can i have the two prestashops versions in the same server?
@florine2623

[2020-04-09 18:54] mnowakpcgs commented on #14979
Most customers only order a handful of items, but the cart is sluggish after only a few items.

We have a few wholesale customers and that becomes unbearable. If they add say 30 different items, it is incredibly slow. It gets to the point it times out and they can't even checkout.

Yes, I have tried.

[2020-04-09 18:55] mnowakpcgs commented on #14979
At this point I am investigating backporting everything to 1.6

[2020-04-09 18:58] prestamodule commented on #10026
@matks is it fixed into 1.7.7 already ? Thanks

[2020-04-09 19:51] procent85 opened #18556 "[Free delivery] After adding the tracking number the system adds the shipping cost"
#### Describe the bug

Shop configuration: free delivery from 160 Polish Zloty. The customer places an order for 160 zloty and does not pay for shipping. In the Back Office I see a paid order for 160 zloty (with 0 zl for delivery - free courier delivery). It's OK, but...
After adding the tracking number on the order card, system adds the shipping cost of the selected courier to the order. The orde

[2020-04-09 20:40] ashtonlance commented on #18296
Ended up making manual backups and then upgrading.

Kinda defeats the point of the module but hopefully this was just a fluke.

[2020-04-09 20:40] #18296 closed, assigned to nobody

[2020-04-10 03:17] yutailin1993 opened #18557 "Back office - got error 500 when click on "Add new customer""
Hi,
I have got 500 internal server error when click on "Add new customer" in Orders -> Add new order, the description are mentioned as followed.

Thanks~

### Steps to Reproduce

1. In back office
2. Click on side bar -> Orders -> Orders
3. Click on "Add new order"
4. Click on "Add new customer"
5. got 500 internal server error

### Describe the bug

Got 500 internal server error when click on "Ad

[2020-04-10 06:50] sickboards opened #18558 "Multistore - (Default) Category lost in shop 2 when saving product in "all shops""
#### Describe the bug

If you have a multi-store environment and you change for instance the stock of a product when the store is set to all stores.
You get an error message when you press save and the default category is lost on shop 2
![image](https://user-images.githubusercontent.com/3520123/78969586-8f74b780-7b07-11ea-84c6-9201e6c6e8dd.png)
![image](https://user-images.githubusercontent.com/35

[2020-04-10 06:53] #12715 closed, assigned to NeOMakinG

[2020-04-10 06:54] mcube27 opened #18559 "Product delivery in and out of stock not shown in FO"
#### Describe the bug

The product $product.delivery_in_stock and $product.delivery_out_stock are configured in the general settings and also in the product but the span delivery-information is empty.

[code]

#### Expected behavior

It should be written the text I set in the settings

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
![image](https

[2020-04-10 07:19] sickboards opened #18560 "Cannot remove product restrictions from Cart Rule"
#### Describe the bug

when I want to remove the product restriction from a Cart Rule the system don't accept it, it saves but when I come back instead of the product being gone, the same product is listed twice
![image](https://user-images.githubusercontent.com/3520123/78971397-c2b94580-7b0b-11ea-80ed-0be5151fbc2d.png)

#### Expected behavior

Remove the product restriction should result in exact

[2020-04-10 07:47] florine2623 commented on #18557
Hi @yutailin1993 ,
I can't reproduce your error
- Could you deactivate the overrides : comment directly the overrides folder via FTP and refresh.
- Could you deactivate your modules and see if it comes from there.
Please check and let me know !

[2020-04-10 07:58] florine2623 commented on #18555
Hi @eyalkrief ,
Please upgrade your PHP version. to 7.2 and try again.
Here are PS system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks !

[2020-04-10 08:02] khouloudbelguith commented on #18296
@ashtonlance, Great!
Feel free to open a new one when needed.

Thanks!

[2020-04-10 08:02] florine2623 commented on #18559
Hi @mcube27 ,
In your code snippet there's a missing chevron in front of "span".
The problem might come from your theme, please contact the developer of the theme and let me know !

[2020-04-10 08:06] khouloudbelguith commented on #18541
@Betafer, did you made an upgrade from a previous PrestaShop version?

- What is the exact Previous PrestaShop version?
- What is the exact version of the 1-click upgrade did you use?

Thanks!

[2020-04-10 08:08] bm-services opened #18561 "Error on upgrade to 1.7.6.2 ERROR: SQL error: Column count doesn't match value count at row 1"
During upgrade to 1.7.6.2, there is an error, so upgrade is not complete.
Error:
`ERROR: SQL error: Column count doesn't match value count at row 1`
It's due to SQL in '1.7.6.2.sql':
`INSERT INTO `PREFIX_product_lang` SELECT
`entity`.`id_product`, 1, `entity`.`id_lang`, `entity`.`description`, `entity`.`description_short`, `entity`.`link_rewrite`, `entity`.`meta_description`, `entity`.`meta_keywor

[2020-04-10 08:10] Betafer commented on #18541
Was: 1.5.6.3
did not remember, the version of 1 click done in January

[2020-04-10 08:16] Betafer commented on #18541
Found this in prestashop forum:
PrestaShop Newbie
PrestaRob
Members
 0
3 posts
Report post
Posted May 14, 2018
Hello,

if you need bankwire variables usable in any mail template with any order status, you need to edit file //PrestaFolder/classes/Mail.php

Find the line starting with:

$template_vars['{color}']
And below that line add this piece of code:

/* MK-VISION.CZ BANKWIRE MAIL VARIABLES */

[2020-04-10 08:18] bm-services commented on #18561
Besides, fields "social_sharing_title" and "social_sharing_description" are not created during installation of 1.7.x but are created in 1.7.0.0.sql. Why?

[2020-04-10 08:19] bm-services commented on #18561
What are these fields for?

[2020-04-10 08:22] SD1982 commented on #18509
Hello @colinegin It seems that it is not the same problem because here it is a question of a behavior which is manifested only with certain third party theme. But I will try again with the theme indicated by @glo-www  to be sure because I had tested with the theme "01 bold" and it seems that this theme is not concerned by the problem.

[2020-04-10 08:24] matks commented on #10026
Not fixed yet, else the issue would be closed 😄

[2020-04-10 08:42] florine2623 commented on #18560
Hi @sickboards ,
I couldn't reproduce your issue on PS 1.7.5.2 nor 1.7.6.4.
Here are a few things you can try :
- Do the same steps with debug mode on
- Clear cache manually and from BO
- Check if you have a module that has an incidence on cart rules

Also, have you done a migration ? If yes which tool did you use ?

Please check ans let me know ! Thanks !

[2020-04-10 08:43] Progi1984 commented on #17054
Fixed by PrestaShop/ps_emailsubscription#48

[2020-04-10 08:43] #17054 closed, assigned to SD1982

[2020-04-10 08:44] Progi1984 commented on #18299
Fixed by #18493

[2020-04-10 08:44] #18299 closed, assigned to jolelievre, SD1982

[2020-04-10 08:55] eyalkrief commented on #18555
Hi and thanks for your answer, i did the change 7.2, but instill get same message error :
PrestaShopException]
La longueur du champ Customer->passwd est actuellement 60 caractères. Il doit être entre 0 et 32 caractères.
at line 1003 in file classes/ObjectModel.php
I know This issues is due to last update and the solution os an overide on class but i dont know exactly wich step

[2020-04-10 09:22] cdcvince opened #18565 "Extend a module template file"
Hello, is there a way to extend a module template file in the theme ?

Because when I try to extend
"{extends file='module:my_module/views/templates/front/view.tpl'}"
I have obviously an infinite recursive call.

we need something like :
{extends file='parent:module:my_module/views/templates/front/view.tpl'}
or
{extends file='parent_module:my_module/views/templates/front/view.tpl'}

Or another way

[2020-04-10 09:37] florine2623 commented on #18556
Hi @procent85 ,

I could not reproduce your issue in PS 1.7.6.4 with the same configuration you shared.
Please see screen record below :
https://drive.google.com/file/d/1QBiT_TwOYrvu4ygg7atdZmh3iP8csW0r/view

Can I see the full configuration of the carrier please ?

Thanks !

[2020-04-10 09:44] florine2623 commented on #18555
Did you do a migration ? Is yes what tool did you use ?
From what version to 1.7.6.4 ?

[2020-04-10 09:50] eyalkrief commented on #18555
no migration at all, just using oneclick update tools, Get some error when upgrading (php version) so i change for 5.6 and update was ok, but now i get this error when customer create account
im very disapointed cause on phpadmin password is set to 255 varchar
and classes/customer is set 255 varchar
I dont know what to do.. and i'm loosing customers

[2020-04-10 09:51] khouloudbelguith commented on #18541
@Betafer, could you please check your file /Project_Folder/classes/Mail.php and verify if it is similar to this
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/classes/Mail.php?

Thanks!

[2020-04-10 09:51] eyalkrief commented on #18555
im on ovh domain(sorry for my english i'm french lol)

[2020-04-10 10:01] marionf commented on #18503
@go-sudo

So, if I understand well, when you are banned from the forum, the API can no longer retrieve your avatar and it causes the BO to crash ?

@matks So a fix is already on the way ?

[2020-04-10 10:06] marionf commented on #18492
@PrestaShop/prestashop-core-developers wdyt about this suggestion ?

[2020-04-10 10:11] MatShir commented on #18551
@matks if the bug of price deducted twice will be fixed, this improvement can be postponed. It was not part of the scope in the first place.

[2020-04-10 10:11] Betafer commented on #18541
<img width="487" alt="Schermata 2020-04-10 alle 12 10 25" src="https://user-images.githubusercontent.com/5024055/78983377-644c9100-7b24-11ea-81e1-9e4c4e8ccccc.png">

[2020-04-10 10:17] eyalkrief commented on #18555
![tempsnip3](https://user-images.githubusercontent.com/7167028/78983847-4af81480-7b25-11ea-8c8f-89f895037659.png)

[2020-04-10 10:30] ets-soft commented on #18492
hi @khouloudbelguith
so we just need to fix the image missing issue when www is enabled.
regards,

[2020-04-10 10:32] florine2623 commented on #18534
Hi @SportshubPH ,
I have an update :
PrestaShop 1.6 [isn't maintained anymore](http://build.prestashop.com/news/1.6.1.x-what-s-next/). The maintenance for this version is now being performed exclusively by volunteers to fix critical issues.
You can open an issue on the [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues). Please keep in mind that only critical issues will be

[2020-04-10 10:32] #18534 closed, assigned to nobody

[2020-04-10 10:37] EnricoGentiletti opened #18567 "Prestashop 1.7.6.4: attribute values starting with "-" (minus) are not shown in stock page"
In the 1.7.6.4 Prestashop versione attribute values starting with "-" (minus) are not shown in stock page

![ScreenHunter 240](https://user-images.githubusercontent.com/60389117/78984941-d2468780-7b27-11ea-9e13-d7a3da0e7625.png)
![ScreenHunter 241](https://user-images.githubusercontent.com/60389117/78984944-d377b480-7b27-11ea-8e15-2c06f4955972.png)
![ScreenHunter 242](https://user-images.githubuse

[2020-04-10 10:55] fabio-zetaweb commented on #18538
Hi,

1.7.6.3 and no module that manages stock.

[2020-04-10 10:58] hadjedjvincent commented on #10026
@matks there is no milestone associated to this issue, should be targeted to 1.7.7 or i'm missing something?

[2020-04-10 11:05] MatShir commented on #10026
Hi @hadjedjvincent,
There is no milestone yet. The milestone is applied to the issue when the related pull request is merged.

The product page will be migrated on 1.7.8 version, we will try to address most of the must-have bug from this [list](https://github.com/PrestaShop/PrestaShop/issues/14775#issuecomment-513266537). So we wish to solve it on the next version.
Thank you for your understating,

[2020-04-10 11:08] khouloudbelguith opened #18568 "BO - Order page - An exception is displayed when adding a product with a min quantity"
#### Describe the bug

In Order view page when I try to add a product with quantity < minimal quantity, we have an exception.

`An unexpected error occurred. [PrestaShopDatabaseException code 0]: Duplicate entry '20-0-2-0-0000-00-00 00:00:00-0000-00-00 00:00:00-0-0-0-0-0-1-0' for key 'id_product_2'<br /><br /><pre>INSERT INTO `ps_specific_price` (`id_shop_group`, `id_shop`, `id_cart`, `id_product`

[2020-04-10 11:20] Betafer commented on #18541
Those variables are not correctly passed from the bankwire module to the module that manages the sending of the emails.

[2020-04-10 11:20] PrestaShark opened #18569 "Allowing to send test emails in ps_reminder"
Hi,
ps_reminder module need to get new feature to send test reminders to store admin or selected email.
For now its hard to fully test functionality on production store.

Thanks!

[2020-04-10 11:23] khouloudbelguith commented on #18541
@Betafer, could you please provide me the exact link of the forum of this [comment.](https://github.com/PrestaShop/PrestaShop/issues/18541#issuecomment-611932199).

Thanks!

[2020-04-10 11:28] Betafer commented on #18541
Here:
https://www.prestashop.com/forums/topic/552558-bank-wire-details-dont-show-on-status-email/

The problem is still present from version 1.2 of prestashop:
https://www.prestashop.com/forums/topic/24753-problema-email-pagamento-bonifico-da-bo/

There are many topics related to this:
https://www.google.com/search?q=%7Bbankwire_owner%7D+site:www.prestashop.com&sxsrf=ALeKk00mkAYGTsOA6XfTPLqvnUwTeJ

[2020-04-10 11:33] florine2623 commented on #18567
Hi @EnricoGentiletti ,

I managed to reproduce your issue in PS 1.7.5.2 as well as 1.7.6.4
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-04-10 11:36] ghost opened #18570 "ps_reminder invalid cron link"
Hi. PS 1.7.6.4 and latest ps_reminder module installed from modules menu.

- no ssl (when store has ssl)
- wrong module name in cron link
http://domain.test/modules/modules/**followup**/cron.php?secure_key=L0GKS9NDVLEHNUTM
instead of
https://domain.test/modules/**ps_reminder**/cron.php?secure_key=L0GKS9NDVLEHNUTM
- old style email templates

[2020-04-10 11:38] Maofree opened #18571 "Uncaught ReferenceError: jQuery is not defined - error in the admin product pages when are installed extra modules for those pages"
Hi
I've found a problem in the admin product pages whit some extra modules;
the problem happens when these modules don't use the hook actionAdminControllerSetMedia to load some extra js files, but displayBackOfficeHeader
in this case their files will be load before the main.bundle.js that should load Jquery
it should be necessary to load it before of others js files to remove all possible problems

[2020-04-10 11:51] florine2623 commented on #18571
Hi @maofree ,

Does the jQuery not defined error have an impact on the native functionality in the Back-office ?
If yes, could you please specify ?

Thanks !

[2020-04-10 12:02] khouloudbelguith commented on #18541
@Betafer, thanks!

In my case not reproduced but I will ping our devs to check the fix.
Ping @PrestaShop/prestashop-core-developers what do you think of this fix:
[code]

Thanks!

[2020-04-10 12:04] TFF1604 opened #18572 "Adding a basket of personalized products"
Good morning all,

I would like to point out a small anomaly in the addition of a customizable product basket and inventory management.

I have a customizable product (stock: quantity: 1)

1 / I add the product to the cart with a first personalization (image 1)

2 / I add the same product with a second personalization (image 2)

Normally, with inventory management activated and only one product in

[2020-04-10 12:11] khouloudbelguith opened #18573 "BO - Order page - Missing modal to confirm or cancel the creation of the new invoice"
#### Describe the bug

- In the Migrated order page when we select `Create a new invoice` and click "Add" => There is no alert displayed
![image](https://user-images.githubusercontent.com/16067358/78980411-20568d80-7b1e-11ea-938b-0ad9aae838b0.png)

#### Expected behavior

We should have a modal to confirm or cancel the creation of the new invoice

#### Steps to Reproduce

Steps to reproduce the be

[2020-04-10 12:15] florine2623 commented on #18570
Hi @PrestaShark ,
- In module ps_reminder the SSL is activated :
![Capture d’écran 2020-04-10 à 14 08 04](https://user-images.githubusercontent.com/16019289/78989905-328ff600-7b35-11ea-9e7f-f4ff6125beb4.png)

For the other issues I will ping our Product Team.
Thanks !

[2020-04-10 12:16] florine2623 commented on #18570
Hi @PrestaShop/prestashop-product-team ,

In module ps_reminder, Customer follow-up, version 2.0.0,two things need to be checked out :

- Cron link is not correct :
![Capture d’écran 2020-04-10 à 14 05 17](https://user-images.githubusercontent.com/16019289/78989997-7c78dc00-7b35-11ea-8898-f94caa8d04c6.png)

- Old style email :
![Capture d’écran 2020-04-10 à 14 13 55](https://user-images.github

[2020-04-10 12:54] Betafer commented on #18541
Thank you !

[2020-04-10 13:04] uruk-hai-21 opened #18574 "Impossible to install the module vatnumber in Prestashop 1.7.6.4"
#### Describe the bug

Impossibile install the module vatnumber in Prestashop 1.7.6.4

#### Additional information

* PrestaShop version: 1.7.6.4
* PHP version: 7.2.29

[2020-04-10 13:21] SD1982 opened #18576 "BO - ORDER detail - Possibility to cumulate free shipping discount"
#### Describe the bug

In BO => ORDER detail => it is possible to add multiple free shipping discount .
From the second discount the shipping price is deducted from the total order and if we use enough free shipping discount (more than the order total amount) an exception is displayed

#### Expected behavior

Free shipping discounts must not be cumulative because if shipping is free there is no re

[2020-04-10 13:29] florine2623 commented on #18574
Hi @ajejebrazorf01 ,
Which module is it exactly ? Is it from PrestaShop ?

Thanks

[2020-04-10 13:34] Progi1984 commented on #18541
The bugfix seems good. We are open to pull request @Betafer ;)

[2020-04-10 13:38] EnricoGentiletti commented on #18567
I am sorry but i cannot fix it. I created a workaround using another unicode minus symbol.

[2020-04-10 13:40] Betafer commented on #18541
Thank you so much !

[2020-04-10 13:50] Progi1984 commented on #17747
Fixed by #17852

[2020-04-10 13:50] #17747 closed, assigned to atomiix, SD1982

[2020-04-10 13:57] maofree commented on #18571
hi
I've done some tests, it seems that they do not affect the correct functioning of the page, however I have not checked if those modules work 100%, however the saving of prestashop is not affected by those errors

[2020-04-10 14:10] florine2623 commented on #18558
Hi @sickboards ,

I managed to reproduce your issue on both PS 1.7.5.2 and 1.7.6.4.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-04-10 14:25] florine2623 commented on #18558
Exact steps to reproduce the bug :
- Have multi-store function on
- In All shop environment, create a product and choose main category A, save
- In Shop 1 environment, edit product and choose main category B, save
- In Shop 2 environment, edit product and choose main category C, save
- Go back to All shop environment, edit product and add stock, save
- In Shop 2 environment, see that category C is

[2020-04-10 14:27] florine2623 commented on #18561
Hi @bm-services ,
Are you using One-click upgrade module to do so ?
From which version are you trying to upgrade ?
Thanks

[2020-04-10 14:28] malcek opened #18578 "Croatia - wrong Zone"
#### Describe the bug

Croatia is in EU from 1. julija 2013 and it should be placed into Europe zone when made fresh install. Right now it is in Europe (non-EU) zone

#### Expected behavior

Should be placed in Europe zone

* PrestaShop version: 1.7.6.4
* PHP version: N/A

[2020-04-10 14:30] bm-services commented on #18561
From 1.6.1.1 and no with One-click upgrade because many times, it didn't give database error when we used it.

[2020-04-10 14:32] malcek opened #18579 "From error log a lot of warnings"
#### Describe the bug

We get a lot of errors written in log file with this problem:
[10-Apr-2020 13:07:01 Europe/Ljubljana] PHP Fatal error:  Uncaught Symfony\Component\Filesystem\Exception\IOException: Failed to remove directory "/home/trgovinafigura2/public_html/var/cache/prod/": rmdir(/home/trgovinafigura2/public_html/var/cache/prod/): Directory not empty. in /home/trgovinafigura2/public_html/

[2020-04-10 14:34] florine2623 commented on #18561
Okay, so you are **not** using one click-upgrade to upgrade your shop ?
How are you doing the upgrade ? Are you using any tool ?

[2020-04-10 14:39] eyalkrief commented on #18555
any idea or help ? pls ?

[2020-04-10 14:44] bm-services commented on #18561
"Okay, so you are not using one click-upgrade to upgrade your shop?" No
To upgrade we use a tool we developped, but it used files are these give in PRestaShop zip install, in folder install/upgrade/sql and install/upgrade/php.

[2020-04-10 14:53] florine2623 commented on #18561
Okay thanks for the clarification !
Here's the structure of the tables in 1.7.0.0. You can compare with what you have : https://github.com/PrestaShop/PrestaShop/blob/1.7.0.0/install-dev/data/db_structure.sql

"social_sharing_title" and "social_sharing_description" are not present in 1.7.0.0 nor 1.7.6.2. These fields might come from an external module that is installed in the shop.

Please check an

[2020-04-10 15:03] florine2623 commented on #18578
Hi @malcek ,
Thanks for the recommandation.
I will let our Product Team know.
Thanks !

[2020-04-10 15:05] bm-services commented on #18561
But these fields are present here:
https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.0.0.sql
Why?

[2020-04-10 15:09] bm-services commented on #18561
And it's present in zip of 1.7.6.4 that we can download here: https://www.prestashop.com/en/download

[2020-04-10 15:12] JulienDucharlet opened #18581 "Drag & Drop to change position doesn't save new positions in database (bug in the function ajaxProcessUpdatePositions() ?)"
PrestaShop version: 1.7.6.4
PHP version: 7.3

Module development :
function ajaxProcessUpdatePositions() doesn't work properly

on drag and drop to change position of items in the grid, changes are not saved in database

the post ajax with the action updatePositions is visible in the console with a status code 200, but no header or response

[2020-04-10 15:16] florine2623 commented on #18578
Hi @PrestaShop/prestashop-product-team !

This request seems very relevant, what do you think ?

Thanks !

[2020-04-10 15:22] khouloudbelguith commented on #18578
Hi,

it is duplicate of https://github.com/PrestaShop/PrestaShop/issues/9630
we need to close this issue.

Thanks!

[2020-04-10 15:23] khouloudbelguith commented on #18578
Hi @malcek,

Your ticket is a duplicate of #9630
So, I close it.
Thanks !

[2020-04-10 15:23] #18578 closed, assigned to nobody

[2020-04-10 15:24] khouloudbelguith commented on #18578
Duplicate of #9630

[2020-04-10 15:50] florine2623 commented on #18538
Hi @fabio-zetaweb ,
I could not manage to reproduce your error on neither PS 1.7.6.4 nor 1.7.6.3, please see screenshot below :
![Capture d’écran 2020-04-10 à 17 47 25](https://user-images.githubusercontent.com/16019289/79003780-8e697780-7b53-11ea-99a4-a84f679e4f1f.png)
![Capture d’écran 2020-04-10 à 17 47 55](https://user-images.githubusercontent.com/16019289/79003786-91fcfe80-7b53-11ea-8d9f-

[2020-04-10 15:53] florine2623 commented on #18543
Hi @MauroKali ,
It is a bug, it has been fixed.
Please check that issue : https://github.com/PrestaShop/PrestaShop/issues/17990

Thanks !

[2020-04-10 16:11] #18543 closed, assigned to nobody

[2020-04-10 16:18] ajejebrazorf01 commented on #18574
Hi @florine2623 ,
yes it was possible to search the module in backend but now strangely not.

The module is this:
https://github.com/PrestaShop/vatnumber

[2020-04-10 16:18] khouloudbelguith commented on #18543
Duplicate of #17990

[2020-04-10 16:41] LouiseBonnard commented on #9630
Fixed by #15618 and #16834, thank you all!

[2020-04-10 16:41] #9630 closed, assigned to nobody

[2020-04-10 16:44] colinegin commented on #17045
Hello @Hlavtox,

Thanks for warning us about this critical issue. You are correct, this can lead to big problems for some merchants. We have been discussing with the core team about it, we may have found a solution to fix this. Please follow the following issue for the fix we are going to provide : https://github.com/PrestaShop/PrestaShop/issues/18513.

Thanks again,

Coline

[2020-04-10 16:45] khouloudbelguith commented on #18567
Hi @EnricoGentiletti,

Your ticket is a duplicate of #16706
So, I close it.
Thanks !

[2020-04-10 16:45] #18567 closed, assigned to nobody

[2020-04-10 16:45] khouloudbelguith commented on #18567
Duplicate of #16706

[2020-04-10 16:48] khouloudbelguith commented on #18558
Hi @marionf,

This issue should be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9833#issuecomment-415159319? is it?

Thanks!

[2020-04-10 17:08] maofree commented on #18541
hi
you can use this hook to add new extra variables from ps_wirepayment
actionGetExtraMailTemplateVars

[2020-04-10 17:36] Hlavtox commented on #17729
@colinegin @eternoendless @matks bump

Guys, I think that this should be marked as a regression and fixed for 1.7.7. You are fixing some other trouble with tax and rouding (GOOOOD!!!!), so maybe this can get included? 🙏

"Nobody cares" if there are bug in order administration, we can always tell customers, that we don't change orders, but in Front office, it has to be 100% right.

[2020-04-10 17:37] khouloudbelguith commented on #18574
Hi @ajejebrazorf01,

The VATNumber native module in 1.7 is not released because it doesn't work.
It is https://github.com/PrestaShop/vatnumber
[vatnumber.zip](https://github.com/PrestaShop/PrestaShop/files/4462685/vatnumber.zip)
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9884
So, I close it.
Thanks!

[2020-04-10 17:37] #18574 closed, assigned to nobody

[2020-04-10 17:37] khouloudbelguith commented on #18574
Duplicate of #9884

[2020-04-10 17:37] leManu opened #18582 "facetedsearch strange notice - Undefined index: featureValues"
#### Describe the bug

Since upgrade from 17.5.2 to 1.7.6.4 (with autoupgrade) we see 3 recurring lines at a few minutes interval in PHP logs:
[code]
#### Additional information

* PrestaShop version: 1.7.6.4
* PHP version: 7.0.33
* faceted_search version: 3.5.0

There is no such index in MySQL database...

[2020-04-10 17:44] khouloudbelguith commented on #18570
Hi @PrestaShark,

Your ticket is a duplicate of #9799
So, I close it.
Thanks !

[2020-04-10 17:44] #18570 closed, assigned to nobody

[2020-04-10 17:44] khouloudbelguith commented on #18570
Duplicate of #9799

[2020-04-10 17:55] Hlavtox opened #18583 "Bad total tax amount on 1.7.6.2"
Hi, client noticed me of bad tax amount in specific situation.

@khouloudbelguith Can you please please check it on current 1.7.7, if it still happens?

#### Currency
currency = CZK - Czech koruna
currency->precision = 0 - set manually in ps_currency table

#### Settings
Round up if in middle (default)
Round each line
Tax 21%

#### Current behavior
Products with tax: 1200
Shipping: 165
Total witho

[2020-04-10 18:19] Macrisu commented on #18549
Well, it seems is not the only problem.
SMTP email sending is not working in 1.7.6.4 at all, atleast with gmail (less secure option enabled on gmail and app passwords)

[2020-04-10 18:58] dali-rajab opened #18584 "I agree to the [terms of service] and will adhere to them unconditionally -- traduction"
#### Describe the bug

Hi every one, this may be not a bug, it may be my bad understanding of translations, translations scopes ... but here is my problem
I have the latest fresh installation of prestashop 1.7.6.4, I just added a new commercial theme, then I tryed to translate the sentense that says "I agree to the [terms of service] and will adhere to them unconditionally", so I went to backoffic

[2020-04-10 19:22] mcube27 commented on #18559
Hi,

Sorry it was a typo in my copy/paste.

Here is the code in the tempate "product-prices" :
[code]
Looking into the code it looks like ` {if $product.delivery_information}` doesn't exist. And my theme has the same template as the classic. So when someone uses the default delivery times, it might not appear at all.

Is that correct ?

[2020-04-10 19:38] WebBuildersGR commented on #9627
Any solutions to this bug?

[2020-04-11 10:11] ftardio opened #18585 "ps_facetedsearch not considers "PS_ORDER_OUT_OF_STOCK" flag"
I notice module ps_facetedsearch are not considering when you are not using stock management at your store. The result is that, every time you load a category, module are querying stocks from database for all the products and combinations. This can't be a big deal if you're managing a few products and combinations, but if your products have hundred of combinations, query time can be huge, making f

[2020-04-11 10:13] michelv54 opened #18586 "PrestaShop 1.7.6.4 + PHP 7.3.14-1 + NGINX 1.17.9 admin many 404 Not Found"
hello,

new on GitHub on Linux and also all arround this Operating System
i'am from France

i install debian 10 buster next NGINX 1.17.9 next PHP 7.3.14-1 next MariaDB 10.3.22  and  PrestaShop 1.7.6.4 all in cdline

after doing a lot of research's and manipulations, prestashop front store is visible
I  have a problem with the Admin part, I can almost not "navigate" in a large part of the tree I ha

[2020-04-11 10:18] samberrry opened #18587 "GDPR Complience"
Hello everyone,
the last PrestaShop versions added a feature to be compatible with GDPR rules for user privacy. But there is one thing left. PrestaShop does not ask user for cookie usage.
Does not this violate the GDPR compliance?

Thanks in advance.

[2020-04-11 10:19] vhessam commented on #18587
I think this is a necessary feature which should be added out of box..

[2020-04-11 11:32] 2CanD opened #18588 ""500 Internal Server Error"."
Oops! An Error Occurred

The server returned a "500 Internal Server Error".

Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

---
This error shows up after I was trying to give the ' featured products'  another hook on my website. Now I can't log in again to restore it.

[2020-04-11 12:18] alfonsolr09 commented on #18587
Hello, in theory I think it is mandatory to notify of the use of cookies, I personally put it on my website with a free module and it works wonderfully. In the official prestashop store there are also modules, but they are all paid.
I attach the link from where I downloaded it for free.
https://mypresta.eu/modules/front-office-features/european-union-cookie-law.html

[2020-04-11 12:20] vhessam commented on #18587
Nice, but we need this feature out of box, I think this is necessary.
Thanks for your help @alfonsolr09

[2020-04-11 12:22] alfonsolr09 commented on #18584
Hello, it also happened to me when trying to translate a word from the cart, I think I remember.
I suppose it will be because if the theme you have does not bring that translation, prestashop will take the translation of the classic theme.

[2020-04-11 12:50] alfonsolr09 opened #18589 ""An error occurred while processing your request" When you change combinations of a product"
#### Describe the bug

when you change combinations of a product on a screen less than 991px, it shows me the error.
attached video: https://www.youtube.com/watch?v=9c-ib3ew-UQ

also an error is shown in the chrome console: https://imgur.com/a/m9e1JEj

#### Expected behavior

no error should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

991px smaller screen
1. Go to go t

[2020-04-11 13:24] johan-Rm opened #18590 "override searchProvider.php does not work"
Create : override/modules/ps_facetedsearch/src/Product/SearchProvider.php
Create : override/modules/ps_facetedsearch/ps_facetedsearch.php

Delete the cache manually

Version : 1.7.6.4

override SearchProvider.php doesn't work
override ps_facetedsearch.php work

I need to delete 2 types of sorting ... into SearchProvider.php:getAvailableSortOrders() but I never go through the overloaded function

`

[2020-04-11 13:26] michelv54 commented on #18586
just see the diffrents link here 👍
http://domaine/admin/
left scrolling menu / menu deroulant de gauche

ORDER/COMMANDES
order/commande			: OK   ../index.php?controller=AdminOrders&token=
invoice/factures		: 404  ../index.php/sell/orders/invoices/?_token=
creditnote/avoir		: OK   ../index.php?controller=AdminSlip&token=
delivery form/bon de livraison	: 404  ../index.php/sell/orders/delivery-slips/

[2020-04-11 13:31] michelv54 commented on #18586
issue  open

[2020-04-11 13:58] miraago commented on #18483
@khouloudbelguith
Hello
hi, sorry if I didn't answer.

no, in modules i have disabled all the modules that are not prestashop, but the error remains the same.

my site is not crowded because i am still adding products, but probably the problem was already there for some time !!!

[2020-04-11 14:57] alfonsolr09 commented on #18586
https://prnt.sc/rxcd3i

hi i had problems because i had php 7.4
the solution was to downgrade to php 7.2.29 and now everything works fine

[2020-04-11 14:59] alfonsolr09 commented on #18586
After changing the php, I recommend that you use this script that clears the cache. in my case, until I used it, it didn't work

[2020-04-11 15:00] alfonsolr09 commented on #18586
https://github.com/PrestaShop/PrestaShop/issues/18535#issuecomment-611278147

[2020-04-11 15:00] Betafer commented on #18542
Fixed, the problem was caused by a tpl file from prestashop version 1.5

[2020-04-11 15:39] michelv54 commented on #18586
hello alfonsolr09,
thank you for your help , i appreciate :)
how to downgrade php 7.3 to 7.2 , i must delete 7.3 and install 7.2 ?
does i must also delete prestashop and the database in mariadb or can i just reinstall php 7.2 ?

[2020-04-11 15:41] alfonsolr09 commented on #18586
no, you just have to downgrade the php
the database and the prestashop do not touch it
Are you on localhost or server?

[2020-04-11 15:45] michelv54 commented on #18586
server
how to setup and start flushCache.php

[2020-04-11 15:49] michelv54 commented on #18586
delete php.3 :
apt-get remove --purge php7.3
apt-get autoremove --purge

install php7.2
apt-get install php-fpm ??

[2020-04-11 15:54] alfonsolr09 commented on #18586
To downgrade the php from server, in the server panel itself it should let you select the php version you want.
To make flushcache work you just have to unzip the file on your computer and upload the flushCache.php file to the root of your store, that is, where all the files in the store are
https://prnt.sc/rxd72i
once uploaded, to run it you must type in google,
your store name / flushCache.php

[2020-04-11 15:59] alfonsolr09 commented on #18586
in my case
https://prnt.sc/rxd8nl
https://prnt.sc/rxdacw
apply and is done

[2020-04-11 16:01] alfonsolr09 commented on #18586
it may be that in your case you should contact your hosting company and that they degrade the version of your php

[2020-04-11 16:01] alfonsolr09 commented on #18586
in plesk I can do it

[2020-04-11 16:46] mickaelandrieu opened #18591 "Some configuration pages are not extensible"
#### Describe the bug

I've noticed that some configuration pages are not extensible.

#### Expected behavior

Every form of the back office should be extensible

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a module that try to add new fields to the Product Preferences form
2. On the submit, an "UndefinedOption" exception will be thrown by the OptionsResolver Component
3.

[2020-04-11 16:57] idnovate commented on #18588
Turn on errors (https://www.prestashop.com/forums/topic/224525-how-to-turn-on-error-reporting-for-debug-information-blank-page-500-internal-server-error/)

[2020-04-11 17:04] idnovate opened #18592 ""use" is not copied if class is already overrided"
#### Steps to Reproduce

Attachments:
[dummymodule1.zip](https://github.com/PrestaShop/PrestaShop/files/4464993/dummymodule1.zip)
[dummymodule2.zip](https://github.com/PrestaShop/PrestaShop/files/4464996/dummymodule2.zip)

1. Install dummymodule1
2. Check `/override/classes/Cart.php`. `use PrestaShop\PrestaShop\Core\Cart\CartRuleData;` is copied in the override.
3. Uninstall dummymodule1.

**First

[2020-04-11 17:06] kpodemski commented on #18592
I can confirm this issue, to avoid this i simply use full namespace path inside methods, i don't trust overrides 😂

[2020-04-11 17:59] michelv54 commented on #18586
plesk is wonderfull tools :) but does not work on debain10 ..
now i can remove php7.3 with php-fpm for nginx and after find the best way to install php7.2 with fpm ..
thank you for your help alfonso

[2020-04-11 18:03] alfonsolr09 commented on #18586
you're welcome, you'll tell me

[2020-04-11 18:04] alfonsolr09 commented on #18586
I also tell you that with nginx I think it gives problems

[2020-04-11 19:02] osman0000 opened #18593 "Impossible to create new product or to access product in admin after upgrade prestashop"
#### Describe the bug

I upgraded from version 1.7.4.2 from 1.7.6.4. Since then, I can't access to my products or create a new product anymore.

#### Expected behavior

Be able to edit product or create new product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. upgrade from version 1.7.4.2 from 1.7.6.4
2. Click on '.catalogue' -> products
3. Click on a product
4. See error

https:/

[2020-04-11 19:28] 2CanD commented on #18588
Thnx, find it on my FTP, but now the program says; "read-only", so can't change the settings.

[2020-04-12 00:40] go-sudo opened #18594 "I can' add my IP address maintenance"
Hello
#### Describe the bug

I can't add my IP address to the maintenance page

![2020-04-11_20-07-13](https://user-images.githubusercontent.com/11594433/79057878-33707700-7c5e-11ea-8662-27eeb9fced20.gif)

20-04-12 01:28:40 | Access | 41.249.59.51 | 302 | POST /admin003hg/index.php/configure/advanced/performance/?_token=-n8g2zdBpE5Ad12aCM3V9BRvFCg1ZKcawfXlMJGrR74 HTTP/1.0 |   |   | 1.21 K | Apache

[2020-04-12 16:52] EOM commented on #18593
Hi @osman0000
You tried deleting the "var\cache\pro" folder so that it is generated again, that solves similar problems for me.

[2020-04-12 18:13] michelv54 commented on #18586
hello Alfonso,
after deinstall php 7.3 and install php7.2 i have exactly the same issue
i think it is my nginx.conf and my vhost-presta.conf
this is my vhost-presta.conf
**********************************
server {
	listen   80; ## listen for ipv4; this line is default and implied
	#listen   [::]:80 default ipv6only=on; ## listen for ipv6

	root /toto/xxx/site;
	index index.php index.html index.htm

[2020-04-12 20:01] preoteasa opened #18595 "Sending emails from module does not work in multishop setting"
#### Describe the bug

I have set up a prestashop multi-shop with two shops: one is located at www.server_name.com/
and second at  www.server_name.com/second/

Using Mail::send(...) with custom template path '/modules/yourmodulename/mails' as suggested
in https://devdocs.prestashop.com/1.7/development/mail/#using-the-mail-send-method

does not work in hookActionObjectCustomerUpdateAfter when for e

[2020-04-12 21:22] Tonio1987 opened #18596 "Sorting by price makes the product list becomes empty."
Hello,
Since a few hours, i have a problem on the front when I try to sort products by price.
When I clic on "Sort by price ASC or DESC", the product list becomes empty.

I read on github or on prestashop forum that this issue was known on old version of prestashop.
I have tried to empty the cache, reindex prices, reindex all items, disable and enable sub products etc.

On old version, I have foun

[2020-04-12 22:02] yuxiayuzhou opened #18597 "payment error http 5"

[2020-04-12 22:02] #18597 closed, assigned to nobody

[2020-04-12 22:13] eduardoserrano1987 commented on #9903
Hello all I have a new instalation of prestashop and have the same problem and can not find a way to solve it, i change position of product, but after in the website product dont move...

Can anybody help me!

Thanks

[2020-04-12 22:13] Macrisu opened #18598 "Can't hide my email - Contact information 3.3.0"
#### Describe the bug

Prestashop 1.7.6.4
Contact information module 3.3.0 (latest now)

Contact information NO activated.

#### Expected behaviour

I still see in clear image address on the footer of the site and contact page

#### Steps to Reproduce

Steps to reproduce the behaviour
![Screenshot 2020-04-13 at 01 12 44](https://user-images.githubusercontent.com/16325429/79081213-01c1e380-7d24-11e

[2020-04-13 07:06] TamasFelix commented on #13210
I had a similar problem at [kiwigym.ro](https://www.kiwigym.ro) usually the problem arises from another module, our case was the transport mode.

[2020-04-13 07:43] osman0000 commented on #18593
Thanks for your reply EOS, unfortunately this doesn't work for me..

[2020-04-13 09:03] thbl commented on #16555
@colinegin  @eternoendless why is this removed from the 1.7.6.5 milestone ?

[2020-04-13 09:27] chrisvanberg opened #18599 "[Idea] Improve the handling of thumbnail generation to avoid timeout"
Hello everyone !

Here some context :
I'm managing multiple PrestaShop for different customers. For now I'm migrating an old version to the latest 1.7.6.4. After the migration, I have to generate all the Thumbnails using the option on the BO.

#### Is your feature request related to a problem?
When the PrestaShop is on a dedicated server, I'm increasing the max_execution_time and let the server ta

[2020-04-13 09:28] chrisvanberg commented on #18599
I've searched if there is any similar issues and I haven't found one. If I missed it, I'm sorry about the duplicate.

[2020-04-13 10:40] michelv54 commented on #18586
somebody can explain please
when i want to start nginx: nginx
i have this error
root@DebianAMD64:~# nginx
nginx: [emerg] location "/.well-known" is outside location "\.php$" in /etc/nginx/dispo/presta-nginx.conf:150

[2020-04-13 10:41] chamber1 commented on #16743
try to change max_input_vars in your php.ini to max_input_vars =10000

[2020-04-13 10:57] smarzougui commented on #14733
Hey Guys !

It is an applicative cache issue

You need to connect to your server ny FTP or SSH

and remove the content of the folder  app/cache/prod/*

Thanks

[2020-04-13 11:58] musaffar-patel opened #18600 "Cannot override Product::addCustomizationPrice"
class Product extends ProductCore
{
    public static function addCustomizationPrice(&$products, &$customized_datas)
    {
        error_log('override');
    }
}

Then removed the class_index.php file

However the above override is not called in Order Detail controller.

Other overrides seem to work.

Kind Regards
Musaffar

[2020-04-13 12:02] web-plus opened #18601 "Smarty cache mixed in multistore shops with different themes"
I have multistore with two shops. If I use same theme for both shops, all is fine. But if you use different theme for each shop, there are issues with tpl smarty cache.
For example, here is video showing, that when I switch to Classic theme for one shop, this shop shows error. It's loading tpl file from cache, that is only used by the other theme and not by Classsic.
https://www.dropbox.com/s/h1q6

[2020-04-13 15:21] khouloudbelguith opened #18602 "BO - Customer View page - Wrong number of "Last emails""
#### Describe the bug

In the BO => Customers => Customer View page, the number of last emails is incorrect.
![image](https://user-images.githubusercontent.com/16067358/79132341-72134800-7daa-11ea-875a-632de130ae88.png)

In the PS1.7.5.2, there are no numbers
![image](https://user-images.githubusercontent.com/16067358/79132297-5a3bc400-7daa-11ea-8e24-ff1e8aaf0e73.png)

#### Expected behavior

The

[2020-04-13 15:22] khouloudbelguith commented on #18602
Ping @nesrineabdmouleh

[2020-04-13 15:31] khouloudbelguith opened #18603 "BO - gsitemap - the button Uncheck all/ Check all is not displayed"
#### Describe the bug

In the BO => gsitemap configuration page, the button `Uncheck all/ Check all` is not displayed
So, it is difficult now to check and uncheck all options manually.
It was ok with PS1.7.6.4 & PS1.7.5.2 and gsitemapv4.1.0

#### Expected behavior

It should be displayed
![image](https://user-images.githubusercontent.com/16067358/79133324-219cea00-7dac-11ea-9284-32f94bf176f8.png)

[2020-04-13 16:09] ytilotti opened #18604 "Nav accessibility in theme default admin"
#### Describe the bug

The menu in the admin default theme is not accessible between 1023px and 1009px.

#### Expected behavior

Change the breakpoint on .js-mobile-menu icon

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the admin and log in
2. Change the size of your browser

[2020-04-13 17:03] khouloudbelguith commented on #18460
Hi,

Same issue in the prices-drop, new-products, best-sales pages.

Thanks!

[2020-04-13 19:31] Hlavtox commented on #18599
+1 on this

It could check the PHP's execution time limit and if the regeneration script was reaching this limit, it would redirect to a new instance. Then the script would continue from where it stopped, it could be saved to database or to some "LOCKFILE".

[2020-04-13 19:38] Hlavtox commented on #16715
@PierreRambaud Getting back to this. I started this thread because stuff like this: https://github.com/PrestaShop/PrestaShop/issues/18535#issuecomment-611675731

I understand that advanced system administrators can handle this, but personally, I don't know anybody who would run Prestashop on a dedicated server. Who uses Prestashop? People who want to save money (at least they think they will do fr

[2020-04-13 20:09] Hlavtox opened #18605 ""Relevance" order of products should not be random"
#### Describe the bug

When "Relevance" (or I don't know the translation) order is selected, the order of products is random. Sometimes, you go to second or third page in the category and see the product you already saw on previous pages.

#### Expected behavior

Ordering should not be completely random.

#### Additional information

* PrestaShop version: 1.7.6.2
* PHP version: 7.2

[2020-04-13 20:11] Hlavtox opened #18606 "CSS cache is not flushed automatically"
#### Describe the bug
When you had CSS compress and combine enabled in Prestashop 1.6, it used to flush the cache automatically when some of the source CSS were changed.
This no longer happens, is it done on purpose?

#### Expected behavior
I think the behavior should be the same as in TPL files, which listen for changes, if it's set so.

#### Steps to reproduce
1. Set your CCC setting like this:

[2020-04-13 20:17] alexmixaylov commented on #17725
I have same error after instalation. No any types in ps_image_type.

[2020-04-13 20:51] photinia73 opened #18608 "All modules in the Back Office was mixed"
#### Describe the bug

Today I discovered that all modules in the Back Office that was structured accordanly to their categories was mixed.
Almoust of them are in the category OTHERS (((
![image](https://user-images.githubusercontent.com/50954519/79159776-56776400-7de1-11ea-987d-5b510ee9d578.png)

PS 1.7.6.3
PHP версія: 7.1.33-14+0~20200320.35+debian8~1.gbpb15fae

I have no idea what happend. All

[2020-04-14 00:15] andreact95 opened #18609 "Translations Backoffice"
#### Describe the bug

When i change some translation of the backoffice, apparently it saves, but the modify is not showed/saved/updated. Also when i search some words, it shows me the number of expressions but not where are there or where change it.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to  International > Translations
2. Click on Backoffice and Italian
3. Search a wor

[2020-04-14 01:29] yuxiayuzhou opened #18610 "the return url goes HTTP error 500 after payment complete"
#### Describe the bug

we found a return url error happened after checking out (purchase complete). The error can be seen in attached screenshot. it says the trade not complete, but actually it goes smoothly and the owner can receive the money as well.

#### Expected behavior

It would be helpful to guide where to set up the url and remove the error page.

#### Steps to Reproduce

Steps to reprodu

[2020-04-14 04:20] ets-soft commented on #18571
Prestashop 1.7 seems not to use jQuery in Symfony pages, you need manually add Jquery js libray when you want to use jquery on those pages.

[2020-04-14 07:07] #18107 closed, assigned to khouloudbelguith

[2020-04-14 07:17] MauroKali commented on #18543
thank you @florine2623 :)

[2020-04-14 07:59] fabio-zetaweb commented on #18538
Hi,
even I couldn't reproduce the error by myself but for sure the error exists.

Yes, it's been that the case. In fact the same product has been purchased at the same time (within a few tenths of a second). But as you can see from the image of the previous order, the stock for that product was already -1.

![ordine-2](https://user-images.githubusercontent.com/56585945/79200216-640b0900-7e36-11ea-

[2020-04-14 08:14] bocianl opened #18611 "Pscleaner check&fix disabling PayPal currency checkbox"
#### Describe the bug

Every time after making a pscleaner check&fix PayPal payment checkbox was disabled.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to payments and check PayPal checkbox currency - is enabled.
1. Go to pscleaner and click check&fix
2. Go to payments and check that PayPal checkbox nos is disabled

Movie with a problem:
https://bck2233.tinytake.com/tt/NDIwOTk

[2020-04-14 08:33] fabio-zetaweb commented on #11115
Hi,
I have a very similar issue, it's happening very often.

In my case orders have identical ref. code and customer details and the same datetime. The purchased items are distributed in both orders, while carriers are sometimes the same, sometimes different.

I have also noticed that in all cases the user had two different delivery addresses, and how @Klemart3D said only one address is visible in

[2020-04-14 08:47] Klemart3D commented on #18604
You're right but only if zoom is 70% or less (cf screenshot)
PS 1.7.6.4
Browser : Firefox 75.0

![screen](https://user-images.githubusercontent.com/7419525/79204656-307fad00-7e3d-11ea-9237-0accef2224a3.png)

[2020-04-14 09:08] matks commented on #18591
Interesting topic indeed. We always thought about adding/modifying things in form (mainly fields) but never about **removing** fields.

I guess an easy workaround is to hardcode a value to provide something.

CQRS is not the real issue here. Actually you can modify the Command and the CommandHandler as all of these are mapped as Symfony services, it only needs a bigger customization.

But the main

[2020-04-14 09:09] yneet commented on #18604
I have the same problem in 100% @Klemart3D. Don't test in view adaptative.
PS 1.7.6.4
Browser : Firefox 75.0

![image](https://user-images.githubusercontent.com/5848945/79206780-2317f200-7e40-11ea-8a5a-d5e7ea907b97.png)

[2020-04-14 09:15] matks commented on #18604
Thank you for being accurate 😄

In order to help QA reproduce this, can you please share your total screen size ?

[2020-04-14 09:22] khouloudbelguith commented on #18549
Hi @Macrisu,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade yo

[2020-04-14 09:22] Klemart3D commented on #18604
Same with Chrome 80.0. Screen sizes are 1019 x 659px with zoom 100% (see my JS console) :

![chrom](https://user-images.githubusercontent.com/7419525/79208227-15fc0280-7e42-11ea-8464-b4556bee60c9.png)

[2020-04-14 09:25] Macrisu commented on #18549
I tried to install with php 7.4 and I had errors
For me, it's also working with 7.3, except few minor details... apparently!

Clearly I did not pay attention to the compatibility chart...
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart
Downgrading now!

[2020-04-14 09:36] yneet commented on #18604
The bug is present between 1023px and 1007px exaclty.

[2020-04-14 09:52] marionf commented on #9627
@WebBuildersGR yes, this issue has been fixed in 1.7.6.0 with [this PR](https://github.com/PrestaShop/PrestaShop/pull/10924)

[2020-04-14 10:35] maofree commented on #18571
I think the jquery is loaded from this file
main.bundle.js

the problem is due from some modules that use the hook displayBackOfficeHeader, if they kept following prestashop updates these errors would not exist

[2020-04-14 10:42] Pierpaolo-Amarante opened #18612 "The server returned a "500 Internal Server Error"."
#### Describe the bug

Hi, I'm new and I have this 500 error in the BO,
I was on the BO side in the module manager section and I was configuring the modules when I finished configuring I realized that the module manager section had an internal 500 error on "alerts" and "updates". If you enable debugging and click on "alerts" and "updates" the page returns to work, if you disable debugging the page

[2020-04-14 10:55] mvorisek commented on #17121
@khouloudbelguith Can this be prioritized? Displaying bad prices is major issues.

[2020-04-14 11:34] sarahdib commented on #18581
Hello @JulienDucharlet

PrestaShop 1.7.6.4 isn't compatible with PHP version 7.3 Could you try to change the PHP version to 7.2 and feedback ?

You can find here the compatibility of PrestaShop : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thank you

[2020-04-14 11:37] sarahdib commented on #18579
Hello @malcek

Could you try to delete the folder **prod** in var/cache/prod and feedback ?

Thank you

[2020-04-14 11:46] khouloudbelguith opened #18615 "BO - New employee page - Help Card is not displayed in sidebar"
#### Describe the bug

In the BO => Team => Employees Tab => Add anew employee page, When we click on the button 'help', the sidebar is not opened in the same page, it redirect us to `shop.com/admin-dev/index.php/common/sidebar/https%253A%252F%252Fhelp.prestashop.com%252Fen%252Fdoc%252FAdminEmployees%253Fversion%253D1.7.6.0%2526country%253Den/Help?_token=pKbqyg0aj7rVlQAJSXFU1rliXcpAEgdxcp-id8R3BWE

[2020-04-14 11:47] sarahdib commented on #18585
Hello @ftardio

Could you give us more information :
- PrestaShop Version
- ps_facetedsearch version
- PHP version

Thank you

[2020-04-14 11:48] khouloudbelguith commented on #18615
Related to: https://github.com/PrestaShop/PrestaShop/issues/18279

[2020-04-14 11:48] sarahdib commented on #18038
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-14 11:48] #18038 closed, assigned to nobody

[2020-04-14 11:50] sarahdib commented on #18055
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-14 11:50] #18055 closed, assigned to nobody

[2020-04-14 11:51] sarahdib commented on #18089
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-14 11:56] malcek commented on #18579
Yes I can delete it manually

best regards,
Martin

[2020-04-14 12:02] sarahdib commented on #18588
Hello @2CanD

Can you give us more information :
- PrestaShop version,
- Php Version
- Module version

And a screenshot or screen record of the error.

Thank you

[2020-04-14 12:03] sarahdib commented on #18590
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-04-14 12:04] #18590 closed, assigned to nobody

[2020-04-14 12:06] sarahdib commented on #18587
Hello @vhessam

This feature is available on the official marketplace : https://addons.prestashop.com/en/search?search_query=cookie

Thank you

[2020-04-14 12:06] #18587 closed, assigned to nobody

[2020-04-14 12:16] sarahdib commented on #18586
Hello,

maybe this can help you : https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist

If not you need to contact your hosting provider.

Thanks for your understanding!

[2020-04-14 12:17] #16336 closed, assigned to eternoendless

[2020-04-14 12:17] #18586 closed, assigned to nobody

[2020-04-14 12:20] sarahdib commented on #18610
Hello @yuxiayuzhou

Could you give us more information, like which module did you use ? The steps to reproduce this behaviour.

Thank you

[2020-04-14 12:23] sarahdib commented on #18608
Hello @photinia73,

this bug appear all the time ?

Thank you

[2020-04-14 12:30] mickaelandrieu commented on #18591
Exactly my point, I'm aware of what is CQRS I used to be software architect :trollface:

Actually, this means that PrestaShop is less configurable than it was in earlier versions: I can't say if it's for the good and/or intended when the decision about introducing CQRS was taken.

As a previous "lead Symfony Migration" developer, I've also done the same mistake in some configuration forms. Luckely

[2020-04-14 12:38] photinia73 commented on #18608
Hello!This is very strange. I find the course when turn ON debug mode. It was from impossible to connect to my account in the app-store. But in the same time I saw that I am logged in…. I disconnected and entered again. Now Ok. But how it happened I have no idea. I did not change anything…. З повагоюКричмарівська Світлана От: Sarah DibОтправлено: вторник, 14 апреля 2020 г. в 15:23Кому: PrestaShop/

[2020-04-14 12:39] Progi1984 commented on #18603
PR PrestaShop/gsitemap#134

[2020-04-14 12:53] marionf commented on #18572
Hello @TFF1604

Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9974
Please follow this issue

[2020-04-14 12:53] #18572 closed, assigned to nobody

[2020-04-14 12:53] marionf commented on #18572
Dulicate of https://github.com/PrestaShop/PrestaShop/issues/9974

[2020-04-14 13:13] zenerry commented on #17318
Hi, I might be wrong, but I've 7 or 8 prestashop eCommerce running for my clients and I had the same issue only with the one I tryed to use Prestashop's CRON module, to run cron tasks for facets module (sitemap and product's gave me an error, as far as I can remember).
I disabled this facets CRON module and it seems not to be growing in such an exponential way. In my case it was about 1 or 2Gb per

[2020-04-14 13:27] PierreRambaud opened #18618 "Option to disable the cache system of ps_facetedsearch module"
#### Is your feature request related to a problem?

The cache system in ps_facetedsearch module increase database amount related to #17318
It's a normal behaviour but sometimes people don't want to store so much data in the database, more when they run in a poor server.

#### Describe the solution you'd like

Add an option to disable the cache if people are not able to add a clear cache cron.

[2020-04-14 13:31] matks commented on #18591
Integrity. I think for a while PrestaShop has been growing with the "always more extensibility !" mindset (which is why ObjectModels can be customized for example, the crazy "dynamic schema" feature) but this has caused a gigantic number of buggy situations and now what people want is more stability. PrestaShop is not a framework. You cannot stretch it 100% and expect it to still work.

One exampl

[2020-04-14 13:32] matks commented on #18591
I found the perfect sentence in the Blog Post:
"Incidentally, this also means that Core behavior can be _extended_, not _modified_, by other services–or at least not in a way that it puts system coherence at risk"

Removing a field is not extending, it's modifying 😄.

[2020-04-14 13:34] sarahdib commented on #18565
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-04-14 13:48] #18089 closed, assigned to nobody

[2020-04-14 13:50] sarahdib commented on #18579
@malcek The error in the log is ok now ?

[2020-04-14 13:51] tdavidsonas88 opened #18619 "Not all hooks are generated with hooks generation commands"
#### Describe the bug

Some hooks are not generated with commands:

- prestashop:update:configuration-file-hooks-listing

- prestashop:update:sql-upgrade-file-hooks-listing

Instead the errors are catched with PrestaShopLogger and logged.

#### Expected behavior

All hooks generated as expected. If no easy fix possible notify about it the user friendly way.

#### Steps to Reproduce

Steps to repro

[2020-04-14 13:52] sarahdib commented on #18608
Hello @photinia73

This happen sometimes when our api is slow.

I close the issue since it's ok now.

Thank you

[2020-04-14 13:52] #18608 closed, assigned to nobody

[2020-04-14 14:01] photinia73 commented on #18608
Thanks! З повагоюКричмарівська Світлана От: Sarah DibОтправлено: вторник, 14 апреля 2020 г. в 16:53Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] All modules in the Back Office was mixed (#18608) Hello @photinia73This happen sometimes when our api is slow.I close the issue since it's ok now.Thank you—You are receiving this because you were mentioned.Reply to

[2020-04-14 14:01] malcek commented on #18579
right now in error log there is no error regarding prestashop core function.
I didnt think of that. Next time I'll make manual delete of cache folder.

thx
martin

[2020-04-14 14:01] #18579 closed, assigned to sarahdib

[2020-04-14 14:06] sarahdib commented on #18589
Hello @alfonsolr09

I didn't reproduce using the classic theme : https://drive.google.com/file/d/1W4faC7_HSZ9sHqnTlF_tmicIWSpr-WUL/view

Can you try to contact the theme developer in order to check what is wrong and feedback us ?

Thank you

[2020-04-14 14:14] LouiseBonnard commented on #18402
Hi @colinegin, PR #15587 might be interesting for this EPIC. :-)

[2020-04-14 14:18] cdcvince commented on #18565
https://stackoverflow.com/questions/61209691/prestashop-smarty-extend-a-module-template-file-in-the-theme

[2020-04-14 14:24] Macrisu commented on #18549
Downgraded to PHP 7.2
All working, except SMTP - gmail

[2020-04-14 14:31] musaffar-patel opened #18620 ""php composer.phar install" errors"
Hi

I wish to to install the dev version of Prestashop on my locahost, I am asked to run the command "php composer.phar install" to proceed with the install, so when I do, I get the following error:

--------------------
Your lock file does not contain a compatible set of packages. Please run composer update.

  Problem 1
    - composer/installers is locked to version v1.7.0 and an update of this

[2020-04-14 14:35] khouloudbelguith commented on #18549
@Macrisu, your issue is different, can you open a new issue with more information about your configuration.

Thanks!

[2020-04-14 14:47] mickaelandrieu commented on #18591
This means that the second issue is not one: this is the expected behavior :+1:

[2020-04-14 15:18] marionf commented on #18462
We need to find another solution, better than an autosave

[2020-04-14 15:18] #18462 closed, assigned to nobody

[2020-04-14 15:19] marionf commented on #18461
We need to find another solution, better than an autosave

[2020-04-14 15:19] #18461 closed, assigned to nobody

[2020-04-14 15:52] matks commented on #18620
@musaffar-patel it seems you are trying to install PrestaShop with Composer 2 which has been released very recently and ... it seems it's not possible 😅we might have some work to do to make it happen

If you use Composer 1 it should work.

@PrestaShop/prestashop-core-developers looks like we may not be compatible with Composer 2

[2020-04-14 16:00] thbl commented on #18249
@khouloudbelguith  how about import function ?

[2020-04-14 16:00] jolelievre commented on #18620
@PierreRambaud isn't it related to the problem you fixed on nightly build?
It was because of composer v2 dev no?

[2020-04-14 16:01] matks commented on #18503
Yes, when PR https://github.com/PrestaShop/PrestaShop/pull/18346 is merged there will not more calls to profile.prestashop.com and no more issues 😄

@go-sudo to fix immediately your BO you can remove the bad call in https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Employee.php#L585
[code]
This wil grant you access to your BO. However it modifies a Core file, be careful to restore it b

[2020-04-14 16:06] Macrisu opened #18623 "SMTP gmail not working"
#### Describe the bug

After setting up the SMTP settings (app password), it does nothing.

#### Expected behavior

Send test mail

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

![smtp](https://user-images.githubusercontent.com/16325429/79247247-f3d6a480-7e82-11ea-9240-fec5f6b922f4.jpg)

#### Additional information

* PrestaShop version: 1.7.6.

[2020-04-14 16:35] alfonsolr09 commented on #18589
in the end it's for my template.
when on the page of a product I have activated the left column and a module of the template that I bought, this error occurs. The solution that the vendor gave me by prestashop addons is to deactivate the module ... a solution that doesn't seem right to me since I wanted to show that module there

[2020-04-14 16:38] musaffar-patel commented on #18620
Hi

Which version of composer should I be using?  My installed version is 1.10.5, should it work with this version?

[2020-04-14 16:40] 2CanD commented on #18588
Hi,

PS 1.7
PHP 7.2 by Strato.nl
Apparel theme

It happens when I changed the hook of the featured products.

Verstuurd vanaf mijn iPhone

[2020-04-14 17:03] emilieatelier opened #18624 "No more statistic after an upgrade from 1.6"
#### Describe the bug

1.7.6.1 prestashop, the statistics don t work. I can t see any actual data.

#### Expected behavior

Before on the 1.6 everything work normaly

#### Steps to Reproduce

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

![image](https://user-images.githubusercontent.com/63663739/79252810-81fe5b00-7e82-11ea-976f-fcc9d9fc9345.pn

[2020-04-14 17:07] alfonsolr09 opened #18625 "Duplicate addresses when you modify them since the checkout of an order"
#### Describe the bug

When you make an order and you are on the screen to select the address, you can modify an already created address or add a new one. if you modify an already created one, it is duplicated.
Video: https://youtu.be/xMuhtGXhVX8

#### Expected behavior

if you modify the address it should be updated and not duplicated

#### Steps to Reproduce

Steps to reproduce the behavior:

1.

[2020-04-14 17:10] alfonsolr09 commented on #18625
I think the solution is simple, the same link must be executed as when you update an address from my user profile

[2020-04-14 17:57] khouloudbelguith opened #18626 "BO - Orders & Invoices page - an exception is displayed"
#### Describe the bug

In the BO => Orders & Invoices Page, an exception is displayed

In the install page, randomly, we have
![image](https://user-images.githubusercontent.com/16067358/79257563-17511d80-7e8a-11ea-84ba-6ff455431591.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders page & Invoices page
2. See error

**Screenshots**
![image](https://user-images.g

[2020-04-14 17:58] khouloudbelguith commented on #18626
This regression is displayed after the merge of this PR: https://github.com/PrestaShop/PrestaShop/pull/18425

Thanks!

[2020-04-14 18:02] tardinim commented on #16130
@marlon8511 your solution work fine for me on my local machine but no on the webserver.
I think I've find the problem, for example this is the query string:

[code]
The subquery work well but the last group by
`GROUP BY p.id_product ORDER BY cp.position ASC`
is interpred in different ways on my local machine and my webserver

[2020-04-14 18:18] PululuK commented on #18626
Hi @khouloudbelguith

Conflict with https://github.com/PrestaShop/PrestaShop/pull/18220 recently merged

[2020-04-14 20:58] jannyba commented on #16134
Order should be handled in backend, can't do something there... What do you think @jolelievre @matks ?
thank you

[2020-04-14 23:47] yuxiayuzhou commented on #18610
Sure. We are using Eway as credit card payment solution. you can simple buy 3-5$ stuff for test. After the purchase, it will go crash like above attached screenshot.  I can refund you the money back.
Alternatively, may have to go with test mode. this will disable the function and give you the test credit card details. It is quite complicated. please let me know if any further i can do. thank you.

[2020-04-15 00:24] presteus commented on #18626
You have a second problem with this class, why the name of the class and the filename do not respect recommandation
**Class name:** HTMLTemplateDeliverySlipCore
**Filename:** HTMLTemplateDeliverySlip.php

My attempt to play with PrestaShop is a pain since 2 weeks :(

[2020-04-15 06:36] Matt75 commented on #18626
@presteus This files classe name and files name are same since 1.3 or less. Change it will be a breaking change

[2020-04-15 06:47] Progi1984 commented on #18526
We are waiting for the design.

[2020-04-15 06:54] Matt75 commented on #18625
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18103
Will be handled by v1.7.6.5

[2020-04-15 07:20] PierreRambaud commented on #18620
The version 2 isn't release yet, it's only a dev dependency
![image](https://user-images.githubusercontent.com/1462701/79309237-4010fb80-7efa-11ea-9c10-381d5e5df574.png)

I reproduce the problem with this dev version:
![image](https://user-images.githubusercontent.com/1462701/79309255-48693680-7efa-11ea-9a4f-302b5d5d8a4c.png)

Since it's a dev version we must wait a little more before updating our

[2020-04-15 07:46] matks commented on #18573
@marionf Should we solve this ticket by adding a pop-up or a modal ?
Pop-up is this annoying dirty little box displayed in screenshot.
Modal is the pretty box we used for bulk delete confirm action for example.

[2020-04-15 08:04] marionf commented on #18573
A modal seems better if possible :+1:

[2020-04-15 08:07] marionf commented on #18625
Duplicate of #18100

[2020-04-15 08:07] #18625 closed, assigned to nobody

[2020-04-15 08:12] sarahdib commented on #18431
I think it was a problem from the API. Now it's OK

[2020-04-15 08:13] #18431 closed, assigned to Progi1984

[2020-04-15 08:15] eternoendless commented on #18626
This is unrelated to the reported issue and it has to do with the legacy [override system](https://devdocs.prestashop.com/1.7/modules/concepts/overrides/).

[2020-04-15 08:24] presteus opened #18629 "Respect PHP recommandations"
Discusion open from #18628 (edit: https://github.com/PrestaShop/PrestaShop/issues/18626#issuecomment-613746699)

#### Is your feature request related to a problem?

The request is about the respect of PHP Recommandations like classnames and filenames (PSR 4).

#### Describe the solution you'd like

Simply apply PHP Recommandations from https://www.php-fig.org/psr/

#### Alternatives you've conside

[2020-04-15 08:39] Progi1984 commented on #18602
Fixed by #18607 18607

[2020-04-15 08:39] #18602 closed, assigned to nobody

[2020-04-15 08:50] matks commented on #18629
Hi @presteus,
- PSR1 and PSR2 are already enforced as we have a Github Action running PHP CS Fixer against all PRs
- PSR4 is used to autoload all modern classes in `src` folder, not-compliant legacy classes in other folders will slowly vanish over time

Actually invoking breaking retrocompatibility is a very valid reason 😅

Imagine this the following scenario: you are a merchant using PrestaShop.

[2020-04-15 09:07] presteus commented on #18629
For the BC, this is exactly what i think.
I talk about next major versions, actually i attempt to work with development branch since two weeks to create a docker with development version and day after day i have a new core error, it's a pain.

[2020-04-15 09:14] musaffar-patel commented on #18620
Hi

I'm not sure why the error states I am using COmposer 2.0 because I installed 1.10.5 and running compose diagnose also shows version 1.10.5.

Is there anything I can do in the mean time to install?

[2020-04-15 09:19] khouloudbelguith opened #18630 "BO - Order page - the Value discount is incorrect"
#### Describe the bug

In the BO => Order page, the value discount is not correct.

#### Steps to Reproduce

Steps to reproduce the behavior:
You should have two currencies
1. € currency by default
2. $ second currency

1. Create a cart rule without code with an amount reduction 10$ tax included
2. Go to FO, select € as a currency
3. Add the product `Hummingbird printed t-shirt Size: S Color: Whit

[2020-04-15 09:26] #18626 closed, assigned to nobody

[2020-04-15 09:28] matks commented on #18626
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18628

[2020-04-15 09:30] matks commented on #18629
Have you looked at https://github.com/PrestaShop/docker ?

Welcome in our life ! Are you available for hire :trollface: ?
This is why we migrate to Symfony and, while changing the framework, we rewrite the code. But it's a long journey.

[2020-04-15 09:53] eternoendless commented on #18433
Lowered severity according to discussion with @colinegin

[2020-04-15 10:00] MatShir commented on #18624
Could you please provide us with more info? Could you provide us with every step of your upgrade? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log

You don't know how to get this information? Please read the following article:
htt

[2020-04-15 10:01] guirou62 opened #18634 "404 Error when I want to go on Product Page"
Hi,

#### Describe the bug

I created a new product with a new attribute, I have changed the product URL in "SEO & URL". On the front office, on a category page, I click on my new product, I have a 404 error.

#### Expected behavior

I would like to see my product page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog > Attributs & caracteristics
2. Click on Add an new a

[2020-04-15 10:30] arirangz commented on #17064
Thanks @khouloudbelguith
But do you have an approx ETA? It's to know if the release should be in the next weeks or months

[2020-04-15 11:10] centoasa opened #18636 "Display more than 7 related products"
Prestashop 1.7.6.4
Is it possible to change the number of products show in "related products" block?
If yes, how can I do?
Thanks

[2020-04-15 11:53] Progi1984 commented on #17958
Fixed by #18348

[2020-04-15 11:53] #17958 closed, assigned to jolelievre, khouloudbelguith

[2020-04-15 12:03] Progi1984 commented on #18603
Fixed by PrestaShop/gsitemap#134

[2020-04-15 12:03] #18603 closed, assigned to Progi1984

[2020-04-15 12:05] Ludogo commented on #15595
Hello,
to reproduce this :  i want to add a hook to the cart module to be displayed. But i made a mistake while i add cart to this hook  "displayAdminAfterHeader"; then i was not possible to access backoffice anymore

[2020-04-15 12:05] muyncky commented on #14086
I wanna give an update on this topic about _[Deployer](https://deployer.org)_ and PrestaShop.

# 1. Translations
One issue with Deployer is that translation cache files are not linked properly, see this issue https://github.com/PrestaShop/PrestaShop/issues/17011
# 2. Clearing cache
Works, since about 1.7.6.2.
`php bin/console cache:warmup --env=prod` warms up the cache, but it does not warm up a l

[2020-04-15 12:29] zuk3975 commented on #18415
The bulk action in `/sell/customer-service/order-messages` is generic as in all other pages, should i make it custom, or are we planning to add bulk action modals to all pages with some generic message?

[2020-04-15 12:53] MatShir commented on #18636
Hi @centoasa,
It seems we can add a nice amount f product related. See the screenshot bellow.
![screencapture-192-168-42-42-prestashop-admin-dev-index-php-sell-catalog-products-19-2020-04-15-14_51_11](https://user-images.githubusercontent.com/43613217/79339138-b9274780-7f28-11ea-866e-c1b061632ad7.png)
![screencapture-192-168-42-42-prestashop-index-php-2020-04-15-14_52_21](https://user-images.githu

[2020-04-15 12:59] centoasa commented on #18636
On your screenshot only 7 products are show: how can I add much more products show on frontend?

[2020-04-15 13:06] matthieu-rolland opened #18640 "wrong order total in FO"
After doing the rollback on computing precision (with this pr: #18617), a bug was revealed in the cart page in FO:

<img width="1153" alt="Capture d’écran 2020-04-15 à 15 00 25" src="https://user-images.githubusercontent.com/1784781/79340043-0eb02400-7f2a-11ea-8999-68749fd1ed0c.png">

The cart order total is wrong, here is how to reproduce this behavior:

### How to reproduce

0- Note that this

[2020-04-15 13:43] alexmixaylov opened #18643 "Fancybox is not a function - when trying to add new order in the admin panel"
#### Describe the bug
After a new installation of PrestaShop, I have problems.
When I go to the Orders page in admin panel (/admin-dev/index.php/sell/orders/orders/new)
and try to add new order I get this javascript error -  `Uncaught TypeError: $(...).fancybox is not a function`.  And clients search does not work

#### Steps to reproduce the behavior:
1. Go to '/admin-dev/index.php/sell/orders/or

[2020-04-15 13:44] elburgl69 commented on #18520
I updated the original message. Replicating the issue is dificult since I do not know of a standard Prestatshop Module that uses the hook filterHtmlContent. If required I can upload a sample module that transforms f.e. the string {msg:This an example!!} to **This is an example!!** (<b>This is an example!!</b>)

[2020-04-15 13:49] BoutiquesInternet commented on #18439
Ok I'm stupid my bad, I got DDos by chinese bot

[2020-04-15 14:00] colinegin commented on #18546
I guess it can help the user know what elements of the combination (ex : color black and size S) will be shown directly from the URL

[2020-04-15 14:04] mcube27 opened #18644 "Subcategory product shows in unselected parent category"
#### Describe the bug

I add a product to a subcategory and not to its parent.
The product still appears in the parent category page.

#### Expected behavior

If I do not select the parent category, it does not show up.

* PrestaShop version: 1.7.6.4
* PHP version: 7.31.4

[2020-04-15 14:23] sarahdib commented on #18610
@yuxiayuzhou
It's a third part module you need to contact directly the developer of this module.

Since the problem is related to a module and not prestashop core I close this ticket.

Thank you

[2020-04-15 14:23] #18610 closed, assigned to nobody

[2020-04-15 14:27] eternoendless opened #18645 "Release 1.7.6.5"
This issue tracks the status of the PrestaShop 1.7.6.5 release

### Information

Q | A
--|--
**Type** | Patch version
**Milestone** | [1.7.6.5](https://github.com/PrestaShop/PrestaShop/milestone/63)
**Kanban** | [1.7.6.x](https://github.com/PrestaShop/PrestaShop/projects/4)
**Estimated release** | 2020-04-20

### Current status

- [x] Development
- [x] Build
- [x] QA validation
- [x] [Release](htt

[2020-04-15 14:29] sebsimappus opened #18646 "Bug dans le calcul total du panier"
* PrestaShop version: 1.7.6.4
* PHP version: 7.2

J'espère vraiment qu'une personne pourras nous montrer le chemin.

Un grand merci d'avance

[2020-04-15 14:31] eternoendless opened #18647 "Release 1.7.7.0 🚀"
This issue tracks the status of the PrestaShop 1.7.7.0 release

### Information

Q | A
--|--
**Type** | Minor version
**Milestone** | [1.7.7.0](https://github.com/PrestaShop/PrestaShop/milestone/54)
**Kanban** | [1.7.7.x](https://github.com/PrestaShop/PrestaShop/projects/7)
**Beta release** | [Beta 1](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.0-beta.1) (May 2020), [Beta 2](https:

[2020-04-15 14:45] idzczakp opened #18648 "Can't save product with multiple combinations on every tab"
Prestashop 1.7.6.3
PHP Version: 7.3.15
Memory Limit: 512M
Maximum execution time: 180
Max upload file size: 128M

Hey.
I have issue with product page. I read few bugs reported here and nothing looks like mine issue - at least It wasn't solved.

I have store with a lot of products and every products has about 200 combinations.
On beginning, when I added first products it was easy, everything was sa

[2020-04-15 14:57] Progi1984 commented on #18615
Fixed by #18637

[2020-04-15 14:57] #18615 closed, assigned to Progi1984, khouloudbelguith

[2020-04-15 14:59] marionf commented on #18648
Hello @idzczakp Your issue is a duplicate of #9809
Please follow and comment on this issue

[2020-04-15 14:59] #18648 closed, assigned to nobody

[2020-04-15 14:59] marionf commented on #18648
Duplicate of #9809

[2020-04-15 15:00] jagui opened #18649 "GSitemap module doesn't take into account the selected store when creating the sitemap on a multistore setup."
#### Describe the bug

GSitemap module doesn't take into account the selected store when creating the sitemap on a multi-store shop.

The method `createSitemap($id_shop = 0)` takes a parameter indicating the current store which is never actually passed. As a result of that, the module ignores the selected shop in the admin toolbar.

To further complicate things, if you have a multi-store deploymen

[2020-04-15 15:08] sarahdib opened #18650 "In offline mode the clear cache display an error"
#### Describe the bug

In offline mode the clear cache display an error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin (in local)
2. Click on advanced settings -> performances
3. Turn off the internet
4. Click on clear cache
5. See error

**Screenshots**

<img width="1206" alt="Capture d’écran 2020-04-15 à 16 46 14" src="https://user-images.githubusercontent.com/30346

[2020-04-15 15:09] eternoendless commented on #18645
Release is currently being built 🏗️

[2020-04-15 15:09] eternoendless commented on #18647
The release is currently in late stabilization phase.

[2020-04-15 15:24] Matt75 commented on #18650
This call should be removed from Core when [MBO v2.0.0](https://github.com/PrestaShopCorp/ps_mbo/pull/89) is merged, this XML is related to recommended modules.

[2020-04-15 15:33] FeyaParis commented on #13360
For info Google us html minification for performance and it was a nice feature of ps 1.6.
Anyway to integrate it on 1.7 without a module ?

[2020-04-15 15:35] sarahdib commented on #18588
@2CanD Which 1.7 prestashop version ?

[2020-04-15 15:37] MatShir commented on #18636
Hi @centoasa,
You are right, you can't configure it from the software. It seems to be blocked at 7 products.
From the Back office, we can add as many we want but only 7 is displayed. We could check on the page migration the reason @matks.

For your business how much related-product to you need to display? What do you sell that requires related-product? I would like to understand your need.

I sorr

[2020-04-15 15:50] 2CanD commented on #18588
I don’t know, how can I check it?
I started the site last November 2019.

Verstuurd vanaf mijn iPhone

[2020-04-15 16:00] sarahdib commented on #18126
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-15 16:00] #18126 closed, assigned to nobody

[2020-04-15 16:02] sarahdib commented on #18127
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-15 16:02] #18127 closed, assigned to nobody

[2020-04-15 16:03] sarahdib commented on #18139
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-15 16:03] #18139 closed, assigned to nobody

[2020-04-15 16:05] #18138 closed, assigned to nobody

[2020-04-15 16:15] MatShir commented on #18596
Hi @Tonio1987
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots

You don't know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2020-04-15 16:28] MatShir commented on #18599
@chrisvanberg Thanks for your suggestion.
@PrestaShop/prestashop-product-team what do you think ?
@PrestaShop/prestashop-core-developers what do you think about @Hlavtox technical suggestion ?
Thanks

[2020-04-15 16:29] apacios commented on #18650
I'm getting the same issue in "Theme catalog" when I'm offline :

**With ps_mbo 1.x.x installed :**
![withMbo1x](https://user-images.githubusercontent.com/35840830/79362340-c3f0d500-7f46-11ea-9c31-9f0cea0eb79b.png)

**Without ps_mbo :**
![withoutMbo](https://user-images.githubusercontent.com/35840830/79362357-c81cf280-7f46-11ea-9fe1-a24072d4de95.png)

[2020-04-15 16:29] sarahdib commented on #18589
@alfonsolr09

I'm sorry we can not reproduce the problem since is related to a third part module. You need to contact PrestaShop addons team.

 I'll close this issue.

[2020-04-15 16:29] #18589 closed, assigned to nobody

[2020-04-15 16:33] LouiseBonnard opened #18653 "Allow users to better handle avatars"
### Is your feature request related to a problem?

Currently, as a PrestaShop user, it's not very easy to manage my avatar since it is fetched from the related forum profile (if there is any) and this call slows down the back office.

Nice improvement, I agree on cutting off the call to the PrestaShop service to gain performance but I'm not in favor of creating a module for that. Could we remove t

[2020-04-15 16:34] MatShir commented on #18598
Even erasing the cache and with a hard reload, I was able to reproduce the issue with PrestaShop version 1.7.6.4.
I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thank you!

[2020-04-15 16:34] chrisvanberg commented on #18599
If it helps, even is the script throw a 500 error, if you reload the page, it continues where it left.

It makes me think that if the process was handled in the back end (not on the actual page) we could make a timer (as @Hlavtox stated before) or launch the generation for a fixed number of products and then repeat it until it finished.

[2020-04-15 16:38] Matt75 commented on #18650
@sarahdib I have same problem on PrestaShop 1.7.6.0

[2020-04-15 16:40] sarahdib commented on #18588
@2CanD
In the header of the back office :
<img width="631" alt="Capture d’écran 2020-04-15 à 18 39 45" src="https://user-images.githubusercontent.com/3034677/79363760-9d339e00-7f48-11ea-9ef8-b573a2fd7372.png">

[2020-04-15 16:45] #18630 closed, assigned to sowbiba

[2020-04-15 16:48] 2CanD commented on #18588
The whole problem is, I Can’t reach the backoffice. The Error shows up!

Verstuurd vanaf mijn iPhone

[2020-04-15 16:49] sarahdib commented on #18588
@2CanD
I'm sorry we can not reproduce the problem. You can try to contact our support. I'll close this issue.

[2020-04-15 16:49] #18588 closed, assigned to nobody

[2020-04-15 16:50] marionf commented on #18598
@MatShir @Macrisu

It seems to be fixed on 1.7.7.x, could you check ?

![capture d'écran_2518](https://user-images.githubusercontent.com/13449658/79364637-ecc69980-7f49-11ea-9a19-0c23241e957f.png)

![capture d'écran_2519](https://user-images.githubusercontent.com/13449658/79364645-f05a2080-7f49-11ea-91d1-804ceb581488.png)

[2020-04-15 16:53] sarahdib commented on #18650
@matt75
1.7.6.3 it's ok
<img width="1276" alt="Capture d’écran 2020-04-15 à 18 52 43" src="https://user-images.githubusercontent.com/3034677/79365012-5e064c80-7f4a-11ea-819b-a656859813b2.png">

[2020-04-15 16:56] jolelievre commented on #18650
That's surprising that it works on 1.7.6.3 There are many calls in the core that make the shop fail offline, but I thought they were here for a long time And not related to the 1.7.6 scope

There's an epic related to these issues https://github.com/PrestaShop/PrestaShop/issues/12851

[2020-04-15 17:00] Macrisu commented on #18598
I've modified the template directly in my 1.7.6.4

I do not have 1.7.7.x
Is this final?

[2020-04-15 17:01] MatShir commented on #18605
Could you please provide us with more info? Are you talking about "Relevance" sorting in the category page? What is your suggestion? How you will like to see it sorted?

I can't find in the doc the way "relevance" sort the product. Do you have more insight ? @marionf @PrestaShop/prestashop-core-developers

Thank you!

[2020-04-15 17:08] Matt75 commented on #18650
Related to https://github.com/PrestaShop/PrestaShop/pull/12959

[2020-04-15 17:11] marionf commented on #18598
No, the 1.7.7.x is the branch currently in development, the 1.7.7.0 beta will be available in few weeks.

What do you mean ? You don't use classic ?
As you can see under the feature "your theme needs to be compatible with this feature", so maybe your theme isn't

[2020-04-15 17:13] marionf commented on #18598
As we could not reproduce your issue with classic and 1.7.7.0 I close the issue.

[2020-04-15 17:13] #18598 closed, assigned to nobody

[2020-04-15 17:15] Macrisu commented on #18598
I use the classic theme, as my store is not now in production.
It's for testing and learning.

I've edited the templates in order to get rid of the clear text email.

Like here:
https://www.prestashop.com/forums/topic/950033-remove-hide-email-address-in-store-information-on-the-front-office/

[2020-04-15 17:18] Hlavtox commented on #18605
@MatShir Exactly, thanks for specifying it.

When you select this sorting as default and go to some category. Hit F5 a few times and see the order of product change. It changes with every refresh and what sometimes happens is, that you see one single products on MULTIPLE pages.

I think EPIC should be made for the sorting options.
- My PR https://github.com/PrestaShop/PrestaShop/issues/14244 was m

[2020-04-15 17:20] MatShir commented on #18634
I was able to reproduce the issue with PrestaShop version 1.7.6.4.
I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thank you!

[2020-04-15 17:26] marionf commented on #18605
@MatShir

The "relevance" option in category listing depends on what you have selected in Shop parameters > products: default order by & default order method

![capture d'écran_2523](https://user-images.githubusercontent.com/13449658/79367327-f94cf100-7f4d-11ea-8d88-2a710c996fd0.png)

![capture d'écran_2524](https://user-images.githubusercontent.com/13449658/79367332-fc47e180-7f4d-11ea-9c9a-8f945f

[2020-04-15 17:31] marionf commented on #18598
@Macrisu

Here is the PR to fix the issue: https://github.com/PrestaShop/PrestaShop/pull/14539

[2020-04-15 18:35] Hlavtox commented on #18605
@marionf @MatShir
- I am using Faceted search 3.4.0
- Product sorting by: Quantity in stock, Product sorting order: Descending ...... this settings shows up as "Relevance" in front office. (#14244)

**Live example**
Its perfectly visible in this category in our store. Watch the black glass sink, it will appear on both pages. Try it several times and you will definitely see it.
https://eshop-teka.c

[2020-04-15 19:55] elburgl69 commented on #18520
Attached an example module to process the tekst {msg:Text} in the ps_customtext HTML field to <b>Text</b>.
To reproduce the problem:
1. Install the attached module boldtext.
2. In module ps_customtext enter the text {msg:This is a Test!}
3. Goto home page look at the ps_customtext section. You see the tekst {msg:This is a Test!}. It should be **This is a Test!**

[boldtext.zip](https://github.com/

[2020-04-15 20:51] ballprogrammer opened #18655 ""myweb.com/en/" page not found how to fix NGINX"

[2020-04-15 20:55] #18646 closed, assigned to nobody

[2020-04-15 21:22] Tonio1987 commented on #18596
Hello.

Thank you for your reply, here is the informations :
Host : le-jardin-des-saveurs.com
Server : OVH Performence1
Prestashop version : 1.7.6.4
Php version : 7.2

I am on a mutualized server so I can't access to Apache logs.

**Before clic** :
<img width="512" alt="Capture1" src="https://user-images.githubusercontent.com/708391/79390384-e0edce00-7f6f-11ea-95f4-5ac7796d8b0c.PNG">

**And after

[2020-04-15 21:23] Tonio1987 commented on #18596
In Chrome console, there is nothing indicated, so i think there is no error con lient side.

[2020-04-15 23:25] Klemart3D opened #18656 "Can't import unit price by CSV"
#### Describe the bug

Unit price field seems not saved when it's imported by CSV.

#### Steps to Reproduce

On fresh install of PS 1.7.6.4 :

1. Go to a simple default product in BO, ex: ID 6 "Mug The best is yet to come" and see no unit price:

![step 1](https://user-images.githubusercontent.com/7419525/79397867-7a70ac00-7f7f-11ea-8b35-558eeeb68b7d.jpg)

2. Import a pretty simple CSV to add "uni

[2020-04-15 23:32] jolelievre commented on #18545
Although the refacto is not mandatory for 177 maybe we can do some of them during beta period?
Provided it doesn't slow us down on fixing bugs/regression or delay the final release date of course

[2020-04-15 23:52] enakhi opened #18657 "Change Admin Panels language"
I Can't Change Panels language
![image](https://user-images.githubusercontent.com/8220546/79399723-5d48d700-7f99-11ea-845e-513f725f70aa.png)
because of this:
![image](https://user-images.githubusercontent.com/8220546/79399829-a0a34580-7f99-11ea-9bb6-9466bbd2b79c.png)
select and id must be separated

[2020-04-16 00:04] PululuK commented on #18657
Hi @enakhi

See https://github.com/PrestaShop/PrestaShop/issues/18187

Thanks

[2020-04-16 02:08] BenTen opened #18658 "product_quantity_discount and unit_price_tax_incl are different"
PS 1.7.5
PHP 7.2

- Create a product 63.05 USD with a specific price 10% without tax.

When we sold this item, we can see the order in the table **order_detail**
**product_price**: 63.050000
**reduction_percent**: 10.00
**unit_price_tax_excl**: 56.74
**unit_price_tax_incl**: 56.74

Why the amount of **product_quantity_discount** is 57.74?

[2020-04-16 07:11] guirou62 commented on #18634
Honnestly, I didn't and I don't know how to fix this problem but I'm really interested if you found a solution.

[2020-04-16 07:21] khouloudbelguith commented on #18129
Hi @ebaubau,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-16 07:21] #18129 closed, assigned to nobody

[2020-04-16 07:24] khouloudbelguith commented on #18059
Hi @LGx0,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-16 07:24] #18059 closed, assigned to nobody

[2020-04-16 07:25] khouloudbelguith commented on #18117
Hi @alvijo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-16 07:25] #18117 closed, assigned to nobody

[2020-04-16 07:26] khouloudbelguith commented on #18111
Hi @ioweb-gr,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-16 07:26] #18111 closed, assigned to nobody

[2020-04-16 07:27] Progi1984 commented on #18653
@LouiseBonnard We shouldn't lock user to some formats. So `.svg` should be authorized.

Another question : how can developer/user choose between multiple avatars ?

[2020-04-16 07:36] khouloudbelguith commented on #18623
Hi @Macrisu,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4.
![image](https://user-images.githubusercontent.com/16067358/79427919-b6c6fb00-7fc5-11ea-84f3-db143c00a790.png)

I attached a screen record
https://drive.google.com/file/d/1N0p9fRmLZ2Kjg0Rys-dZO2Xdo6i3ivSk/view?usp=sharing
The information for these fields, SMTP, should be provided by your web host: mail do

[2020-04-16 07:36] bm-services commented on #11115
Did you verify carriers assigned on products, in table ps_product_carrier?
Sometimes problem is here.

[2020-04-16 07:51] khouloudbelguith commented on #18644
Hi @mcube27,

First, In the ps_facetetedsearch's configuration module, we have an option `Show products from subcategories`, you should disable this option.
![image](https://user-images.githubusercontent.com/16067358/79429304-a6b01b00-7fc7-11ea-81ff-06f48b36380b.png)

Second, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7

[2020-04-16 08:00] florine2623 commented on #18657
Hi @enakhi ,
I have not managed to recreate your issue.
What version of PrestaShop and PHP are you using ?

[2020-04-16 08:11] khouloudbelguith commented on #18584
Hi @dali-rajab,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9818

You can edit the file:
`\src\PrestaShopBundle\Service\TranslationService.php`
and change here "classic" to "theme_name" (or another theme name) and all default translations and expressions are displayed, but after this custom theme translations in the tab Shop->Theme->Mytheme are not

[2020-04-16 08:11] #18584 closed, assigned to nobody

[2020-04-16 08:12] khouloudbelguith commented on #18584
Duplicate of #9818

[2020-04-16 08:15] khouloudbelguith commented on #18612
Hi @Pierpaolo-Petros,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/15m8WzmjWiqrn7JFeYnEr8zISm-vKOKc3/view?usp=sharing
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PH

[2020-04-16 08:18] khouloudbelguith commented on #18594
Hi @go-sudo,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4.
![image](https://user-images.githubusercontent.com/16067358/79432087-a023a280-7fcb-11ea-8c33-15dcfca98dc6.png)
I attached a screen record
https://drive.google.com/file/d/1LJLB3LeHF1XWvyGAyhF_xqaruuktAXZc/view?usp=sharing
We need to retrieve the PHP error log and the debug mode report in order to find out

[2020-04-16 08:23] khouloudbelguith commented on #18618
Hi @PierreRambaud,

Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-04-16 08:25] bodeva commented on #15369
Have you a solution for this bug ?

[2020-04-16 08:27] bodeva commented on #9998
any news about this Bug ?

[2020-04-16 08:28] florine2623 commented on #18656
Hi @Klemart3D ,
Thanks for your message. I managed to reproduce the issue in 1.7.5.2 and 1.7.6.4 with PHP 7.2; it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15785
I will close this issue.
Thanks!

[2020-04-16 08:31] florine2623 commented on #18656
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/15785

[2020-04-16 08:31] marionf commented on #18618
Yes, good idea :+1:

[2020-04-16 08:32] Klemart3D commented on #18656
Hi @florine2623,
Thanks for your answer !
#15785 is talking about combinations. Me no, so issues are different ;)

[2020-04-16 08:35] khouloudbelguith commented on #18609
Hi @andreact95,

Thanks for your report.

In the next version 1.7.7.0, we have added an improvement, when item is not enabled hide it a little with opacity.
![image](https://user-images.githubusercontent.com/16067358/79433561-8f742c00-7fcd-11ea-914f-7f5ec34547a0.png)
Fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/12997 which reported here: https://github.com/PrestaShop/PrestaSho

[2020-04-16 08:41] florine2623 commented on #18593
Hi @osman0000 ,
What did you use to do the upgrade ? One-click upgrade ? Another tool ?
Thanks!

[2020-04-16 08:47] PierreRambaud commented on #18620
Could you show us a screenshot with your composer version and then your composer install command please?

[2020-04-16 08:48] florine2623 commented on #18606
Hi @Hlavtox ,
The cache is cleared whenever a file is modified if the configuration is the following :
![Capture d’écran 2020-04-16 à 10 47 12](https://user-images.githubusercontent.com/16019289/79435205-a6b41900-7fcf-11ea-8951-22a77890af65.png)
I've tried changing the theme.css file of the classic template. After refreshing my page, I saw the updates.

[2020-04-16 08:50] khouloudbelguith commented on #18595
Hi @preoteasa,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4 and the `ps_emailsubscription` v2.0.3 and v2.3.0.
I attached a screen record
https://drive.google.com/file/d/103ak5RIJgr6wNo7G2IPXwG1xoX8rexfi/view?usp=sharing

Thanks to check and feedback.

[2020-04-16 09:06] florine2623 commented on #18582
Hi @leManu ,
Could you upgrade PHP version to 7.2 and see if the error is still there ?
Thanks !

[2020-04-16 09:07] khouloudbelguith commented on #18643
Hi @alexmixaylov,

Thanks for your report.
I did not manage to reproduce the issue with 1.7.7.x branch and PHP v7.3.15.
I attached a screen record
https://drive.google.com/file/d/1yeQIJwzpDsERzaSGaL105tGJu1Ja6fhW/view?usp=sharing
First, PS1.7.7.0 is not released yet, it is still in progress.
Second, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PH

[2020-04-16 09:07] muyncky opened #18660 "Cart used twice when creating a new order for one customer by many employees"
#### Describe the bug
This bug occurs when creating an order in the backoffice for one customer by two (or more) employees. the same cart is used multiple times across different employee (backoffice) sessions.

#### Expected behavior

It is expected that an employee should have one cart in it's own session and not have to share it with another employee. This happens now because `$this->context->ca

[2020-04-16 09:12] khouloudbelguith commented on #18439
@BoutiquesInternet, since it is ok.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-04-16 09:12] #18439 closed, assigned to nobody

[2020-04-16 09:25] bmzhicham opened #18661 "Admin translation still in the old url"
Hello

Whenever i go to AdminTranslation page from the side menu i get this page with old link (%?controller=AdminTranslations%)

![old_link](https://user-images.githubusercontent.com/10775216/79438358-55098f80-7fcb-11ea-9835-16d7ed42fad3.JPG)

But once i change the url manually through browser with %improve/international/translations/%
i got the page Admintranslation page without problem

![newli

[2020-04-16 09:37] LouiseBonnard commented on #18507
Hi @Hlavtox, thanks for this idea! You would like to apply payment methods restrictions per product (following the shipping options example below), right? If yes, what would be the connection with advanced payment?

![Capture d’écran 2020-04-16 à 11 32 20](https://user-images.githubusercontent.com/32565890/79440407-3f4d9780-7fd6-11ea-8109-a838f3366c80.png)

[2020-04-16 09:38] MatShir opened #18663 "The order of the invoices in the dropdown list when a product is added to an order"
The order of the invoices in the dropdown when adding a product to an order may provoke errors.

### **Current behaviour**
The displayed content in the droplist when a new product is added to the order

**Existing invoice**
- the oldest invoice to the newest invoice

**New**
Create a new invoice

### **Wanted behaviour**
The displayed content in the droplist when a new product is added to the orde

[2020-04-16 09:48] florine2623 commented on #18611
Hi @bocianl ,
Thanks for your report.
I manage to reproduce the issue with PS 1.7.6.4 and  PS 1.7.5.2 & the ps_cleaner v2.0.0.
When we click on Check & fix for the "FUNCTIONAL INTEGRITY CONSTRAINTS" section, the preference for module PayPal gets unchecked & we have like a green alert

[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you t

[2020-04-16 09:54] khouloudbelguith commented on #18583
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.4 and the branch 1.7.7.x.
1.7.7.x:
![image](https://user-images.githubusercontent.com/16067358/79442303-abc99600-7fd8-11ea-9d3c-a863d2a50a3f.png)
https://drive.google.com/file/d/1XjmXvtuQhHj1mac7YyN2akIe3xvCrFmP/view?usp=sharing
1.7.6.4
![image](https://user-images.githubusercontent.com/16067358/79442496-e7646000-7fd8-11ea-95ba-440

[2020-04-16 09:55] ioweb-gr commented on #18111
It seems if the same module didn't reproduce it, then the core issue must be fixed by some other pull request so I guess it's safe to close it.

[2020-04-16 09:56] eduardob1978 opened #18664 "updating modules gives error 500 and need backup"
#### Describe the bug

When try to upgrade a module or use a new template. the page crack and give error 500

#### Expected behavior
Update modules and work normally

#### Steps to Reproduce

1. Go to any module
2. Click on 'update
3. Scroll down to '....'
4. See error on screen

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inf

[2020-04-16 09:57] khouloudbelguith commented on #18664
Hi @eduardob1978,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to

[2020-04-16 10:22] zenerry commented on #17437
is there any solution to apply to 1.7.5.2?
Can't update entire PS right now (stock sync compatibility reason)
Thanks.

[2020-04-16 10:36] clotairer opened #18665 "Translation theme export bad xlf files"
#### Describe the bug

We folow the documentation to export theme translations
https://devdocs.prestashop.com/1.7/themes/reference/theme-translation/
But when we export the theme we found partial translations.

Probably not related to #15791

#### Expected behavior

Generate a correct file xlf file.

#### Steps to Reproduce

Steps to reproduce the behavior:

Please note :
* We supply a sample chil

[2020-04-16 10:38] khouloudbelguith commented on #18658
Hi @BenTen,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
Always there's a `1€/$`  added to the `product_quantity_discount`
`product_quantity_discount` = 1+ `total_price_tax_excl` = 1 + `unit_price_tax_excl`
![image](https://user-images.githubusercontent.com/16067358/79446444-8049aa00-7fde-11ea-82e6-a8ad8c9a6a01.png)
![image](https://us

[2020-04-16 10:39] fabio-zetaweb commented on #11115
@bm-services yes I checked, there are only to rows in that table, but they belong to deleted products.

![image](https://user-images.githubusercontent.com/56585945/79446241-34970080-7fde-11ea-965e-c6e9cde730ea.png)

The issue is happening almost daily and in all the cases customer had deleted one of his delivery addresses, and in the two orders (duplicated) there is in the first case(half) the del

[2020-04-16 10:42] #18661 closed, assigned to nobody

[2020-04-16 10:43] khouloudbelguith commented on #18665
Hi @clotaire202,

Thanks for your report.
Here's just a PR: https://github.com/PrestaShop/PrestaShop/pull/18293 still in progress to fix the issue.
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16555
So, I close it.
Thanks!

[2020-04-16 10:43] #18665 closed, assigned to nobody

[2020-04-16 10:43] khouloudbelguith commented on #18665
Duplicate of #16555

[2020-04-16 10:58] khouloudbelguith commented on #18655
Hi @ballprogrammer,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1Qdqpx_HN6ogvAjlDNOJ-_AsrC8UM5Vqj/view?usp=sharing
It could be a problem in your Nginx configuration, thanks to check this [link](https://github.com/PrestaShop/PrestaShop/blob/e51d7eaa0164118b88d8cdcddbbe60e64aff7c64/docs/server_config/nginx.conf.dist)
Recently, t

[2020-04-16 10:59] eduardob1978 commented on #18664
Version is been changed to 7.2 and 7.1 and still giving HTTP ERROR 500 and breaking the web and need a back up

[2020-04-16 11:06] khouloudbelguith commented on #18664
@eduardob1978,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2020-04-16 11:16] leManu commented on #18582
Thanks for your reply @florine2623

We uninstalled and removed facetedsearch then reinstalled it, no more PHP notices.
It was probably due to the latest module upgrade ?

[2020-04-16 11:16] #18582 closed, assigned to nobody

[2020-04-16 11:24] ballprogrammer commented on #18655
@khouloudbelguith

i will try update php

[2020-04-16 11:24] khouloudbelguith commented on #18592
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2and PS1.7.6.4.
1. If you install dummymodule2 and dummymodule1
[code]
2. If you install dummymodule1 and dummymodule2
[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-04-16 11:26] khouloudbelguith commented on #18655
@ballprogrammer,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Thanks!

[2020-04-16 11:29] mcube27 commented on #18644
Thank you, it worked.

I find it strange to be in the facetedsearch.

It would be nice to have it directly in each parent category or in a category global config.

In any case, thank you so much for helping me out here.

[2020-04-16 11:44] Hlavtox commented on #18507
@LouiseBonnard Exactly. I think it would be a solution good for general public. Hm? :-)

**The connection to advanced payment**

Usually, in 99% of ecommerce stores in central europe, you have these payment methods:
- Bank wire
- Card payment/Paypal etc.
- Cash on delivery
- Payment during personal pickup
Let's say that cash on delivery is used in like 50% of orders.

But, as a merchant, you somet

[2020-04-16 11:49] khouloudbelguith commented on #18600
Hi @musaffar-patel,

I did not manage to reproduce the issue with PS1.7.6.4.
I tried with this file
`/projet_folder/override/classes/Product.php`.
[Product.php.txt](https://github.com/PrestaShop/PrestaShop/files/4486807/Product.php.txt)
In the Order View page, I have well the exception
![image](https://user-images.githubusercontent.com/16067358/79452843-18e52780-7fe9-11ea-8afb-83e6c7c34eba.png)

T

[2020-04-16 11:51] khouloudbelguith commented on #18644
@mcube27, thanks for your feedback.
Since it is ok, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-04-16 11:51] #18644 closed, assigned to nobody

[2020-04-16 11:51] Hlavtox commented on #18606
@florine2623 I am 99% sure that the settings in the screenshot are only related to TPL file changes.

1. Set your CCC setting like this:
![Výstřižek](https://user-images.githubusercontent.com/6097524/79452700-d91e4000-7fe8-11ea-9703-314f5af2e027.JPG)

2. Open some page in FO to cache the CSS.

3. Go to themes/themename/assets/css and change something in custom.css
You can add ` body{background-col

[2020-04-16 12:07] Hlavtox commented on #18583
@khouloudbelguith

Thank you for checking it. I digged deeper and found out it was caused by incompatibility between OPC and COD module.
When I set shipping price to 130 and COD price to 35, total tax is 238.
When I set shipping to 165, total tax is correct - 237.

I will solve this with the developers of these modules.

Thank you for your time! 🌷

[2020-04-16 12:07] #18583 closed, assigned to nobody

[2020-04-16 12:19] khouloudbelguith commented on #18583
@Hlavtox, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2020-04-16 12:20] eduardob1978 commented on #18664
host  tuboxtienda.com<http://tuboxtienda.com>

server setup and configuration

Windows 10
Apache server linux#1
Version PHP 7.2.29
Version Mysql 10.3.22-MariaDB
Navegador Chrome

PrestaShop version 1.7.6.1<http://1.7.6.1>

debug mode report
HTTP ERROR 500

PHP error logs

apache error log

javascript console log

screenshots

In the logs doesn't say anything. Just when I tried to update any module

[2020-04-16 12:21] yuxiayuzhou opened #18667 "advertising Image not updated for advertising Block"
#### Describe the bug

I tried to update a new advertising product image in backend's advertising module. Unfortunately it repeatedly comes out the old one. Cannot figure out the reason.

#### Expected behavior

Hope new product image can be updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'advertising Block'
2. Click on 'Configure'
3. Click on 'add file'
4. See error -

[2020-04-16 12:33] florine2623 commented on #18559
Hi @mcube27 ,
Thanks for the details. I can't reproduce your issue.
Please check with the developer of your theme.
When I test it with the classic theme it works correctly.
Here are the screenshots :
Configuration :
![Capture d’écran 2020-04-16 à 14 26 45](https://user-images.githubusercontent.com/16019289/79456622-1dacda00-7fef-11ea-8d47-49fd495f5a5a.png)
In Stock :
![Capture d’écran 2020-04-1

[2020-04-16 12:33] #18559 closed, assigned to nobody

[2020-04-16 12:43] mangiaparole opened #18668 "Hi, I can't intall on 1.7.6.4 ! I tried to unzip and zip again but dosen't work! please hepl."
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-04-16 12:45] florine2623 commented on #18538
Hi @fabio-zetaweb ,
As I can't reproduce the issue, I suggest you to use a module.
You could use a module like that one that will "book" the product for one cart. So you won't face any negative stocks or out-of-stock issues : https://addons.prestashop.com/en/stock-supplier-management/21707-temporary-product-reservation-lonely-stock.html
Thanks !

[2020-04-16 12:45] #18538 closed, assigned to nobody

[2020-04-16 12:45] Progi1984 commented on #18415
Fixed by #18641

[2020-04-16 12:45] #18415 closed, assigned to zuk3975

[2020-04-16 12:45] khouloudbelguith commented on #18668
Hi @mangiaparole,

You cannot install a custom module?
which is this module?

Thanks!

[2020-04-16 12:52] khouloudbelguith commented on #18667
Hi @yuxiayuzhou,

I did not manage to reproduce the issue with PS1.7.6.4 and ps_advertising v1.0.2.
I attached a screen record
https://drive.google.com/file/d/1j95DJxHPeuzxklC8Ixb-vmW04RGezYsj/view?usp=sharing
Thanks to check and feedback.

[2020-04-16 12:55] mangiaparole commented on #18668
ps email alerets!

[image: photo]
Marco Limiti
at Caffè Letterario Mangiaparole | Mangi e Leggi di Edizioni Progetto
Cultura 2003 Srl
A  Via Manlio Capitolino 7/9 | 00181| Roma
P  +390697841027  <+390697841027>
E  info@mangiaparole.it  <info@mangiaparole.it>
W  www.mangiaparole.it  <http://www.mangiaparole.it>
Metro Furio Camillo
Partita iva 07832781004

<http://www.facebook.com/pages/Mangiaparole

[2020-04-16 12:57] florine2623 commented on #18571
Thanks @maofree and @ets-soft for the details.
As you said @maofree , the issue comes from these modules. If you could inform the module's developer that would be awesome !
I will now close this issue as it cannot be reproduced.

[2020-04-16 12:57] #18571 closed, assigned to nobody

[2020-04-16 12:58] khouloudbelguith commented on #18664
@eduardob1978,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2020-04-16 13:00] khouloudbelguith commented on #18668
@mangiaparole, did you tried to install this module from BO => Modules => Module Catalog page?
![image](https://user-images.githubusercontent.com/16067358/79459099-0e2f9000-7ff3-11ea-8784-e937d547bc7a.png)

Thanks!

[2020-04-16 13:03] florine2623 commented on #18555
Can you check your override folder ?
Please comment the override folder and check again if you can create an account.
Change ```override``` to ```_override```
Please check and let me know

[2020-04-16 13:10] ballprogrammer commented on #18655
![1587042382804@2x](https://user-images.githubusercontent.com/6511752/79459891-31bc0000-801e-11ea-9c91-8f2b983ec933.jpg)
i
![1587042492518@2x](https://user-images.githubusercontent.com/6511752/79459904-3680b400-801e-11ea-8b43-90a316dca850.jpg)

i reinstall prestashop but can't fix

TwT

please help me

[2020-04-16 13:15] mangiaparole commented on #18668
I can't find!? :-(

[image: photo]
Marco Limiti
at Caffè Letterario Mangiaparole | Mangi e Leggi di Edizioni Progetto
Cultura 2003 Srl
A  Via Manlio Capitolino 7/9 | 00181| Roma
P  +390697841027  <+390697841027>
E  info@mangiaparole.it  <info@mangiaparole.it>
W  www.mangiaparole.it  <http://www.mangiaparole.it>
Metro Furio Camillo
Partita iva 07832781004

<http://www.facebook.com/pages/Mangiaparol

[2020-04-16 13:18] khouloudbelguith commented on #18655
@ballprogrammer, as I said in my last comment
PrestaShop is not compatible with PHP7.3.
![image](https://user-images.githubusercontent.com/16067358/79460242-d0cc0200-7ff4-11ea-8b61-4a23f7961063.png)

Also, you need to check your Nginx configuration, you can check this file is updated to show how to use multishop and multilanguage as fixed [here](https://github.com/PrestaShop/PrestaShop/pull/12082/

[2020-04-16 13:18] khouloudbelguith commented on #18668
@mangiaparole, is it displayed in the BO => Modules => Module Manager page?

Thanks!

[2020-04-16 13:25] eduardob1978 commented on #18664
I send some attachment, hope this could help you. Thanks

Enviado desde BlueMail<http://www.bluemail.me/r?b=15824>
En 16 abr. 2020, en 14:59, khouloudbelguith <notifications@github.com<mailto:notifications@github.com>> escribió:

@eduardob1978<https://github.com/eduardob1978>,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message

[2020-04-16 13:26] eduardob1978 commented on #18664
Also I have this file

Enviado desde BlueMail<http://www.bluemail.me/r?b=15824>
En 16 abr. 2020, en 14:59, khouloudbelguith <notifications@github.com<mailto:notifications@github.com>> escribió:

@eduardob1978<https://github.com/eduardob1978>,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are

[2020-04-16 13:26] florine2623 commented on #18604
Hi @yneet ,
I could not reproduce your issue. Here are the screenshots :
1020 * 740 px - Firefox 75 :
![Capture d’écran 2020-04-16 à 15 17 14](https://user-images.githubusercontent.com/16019289/79461060-f1e12280-7ff5-11ea-98ea-ad18541f8adc.png)
@Klemart3D
1019 * 659 px -  Chrome 80.0 :
![Capture d’écran 2020-04-16 à 15 23 32](https://user-images.githubusercontent.com/16019289/79461428-7338b500

[2020-04-16 13:26] #18604 closed, assigned to nobody

[2020-04-16 13:28] enakhi commented on #18657
we use prestashop 1.7.6.4 and php 7.4
and this problem exist on any where "<select " is used.
![image](https://user-images.githubusercontent.com/8220546/79461279-31663980-800b-11ea-8df7-55526b10bf81.png)
![image](https://user-images.githubusercontent.com/8220546/79461321-417e1900-800b-11ea-8475-4de278f6567c.png)
![image](https://user-images.githubusercontent.com/8220546/79461522-843ff100-800b-11ea

[2020-04-16 13:30] PululuK commented on #18657
@enakhi , PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgra

[2020-04-16 13:30] matks commented on #16103
@marionf Having pagination is going to modify slightly multiple behaviors of current combinations list.

For example, the "search a combination by attribute" will only display the X first results. We must also adapt number of "pages" by search. We must think about how user goes back from "search results" state to "normal state". Like any listing.

[2020-04-16 13:30] ballprogrammer commented on #18655
ok i will try 7.2

[2020-04-16 13:33] enakhi commented on #18657
Thanks alot.

[2020-04-16 13:35] khouloudbelguith commented on #18601
Hi @web-plus,

I did not manage to reproduce the issue with PS1.7.6.4, I used three different themes in 3 different shops and they are ok
I attached a screen record
https://drive.google.com/file/d/1gZ5mKDa1PPEqHTWUH4vW8Q5I0D1JVNJ6/view?usp=sharing
You have an issue with the module `wphomefeatured` module, is it provided by your theme?

Thanks!

[2020-04-16 13:38] khouloudbelguith commented on #18655
@ballprogrammer, thanks!
Waiting for your feedback.

[2020-04-16 13:39] khouloudbelguith commented on #18664
@eduardob1978, there are no files attached, you need to sign in to GitHub and upload files here.

Thanks!

[2020-04-16 13:41] khouloudbelguith commented on #18601
There is an issue related to themes and multistore reported here: https://github.com/PrestaShop/PrestaShop/issues/9763 fixed in the next release 1770 with this PR: https://github.com/PrestaShop/PrestaShop/pull/13804

Thanks!

[2020-04-16 13:41] eyalkrief commented on #18555
The problem is solved : an old overide solved by deleting it
Thank alot for your help

Le jeu. 16 avr. 2020 à 15:03, florine2623 <notifications@github.com> a
écrit :

[2020-04-16 13:42] mangiaparole commented on #18668
No... Don't see there and neither on website

In data 16 Aprile 2020 3:19:07 PM khouloudbelguith
<notifications@github.com> ha scritto:

[2020-04-16 13:45] LouiseBonnard commented on #18507
@Hlavtox, it's a great feature indeed, aha! Apply payment restrictions per product is a nice idea, yet it implies orders to support multiple payments (with multiple payment methods) and this is not the case currently.

[2020-04-16 13:48] khouloudbelguith commented on #18668
@mangiaparole, I did not manage to reproduce the issue with PS1.7.6.4.
Could you please try with module
[ps_emailalerts.zip](https://github.com/PrestaShop/PrestaShop/files/4487491/ps_emailalerts.zip)
https://github.com/PrestaShop/ps_emailalerts

Thanks!

[2020-04-16 13:55] ballprogrammer commented on #18655
![1587042382804@2x](https://user-images.githubusercontent.com/6511752/79464338-24a20f80-8024-11ea-8661-d10ca4e768bc.jpg)

It same problem

[2020-04-16 13:55] ballprogrammer commented on #18655
![1587045104477@2x](https://user-images.githubusercontent.com/6511752/79464734-a5f9a200-8024-11ea-8ba6-bebc805c6c14.jpg)
It same problem

[2020-04-16 14:08] ballprogrammer commented on #18655
i get config from this
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist

i don't know what wrong

[2020-04-16 14:08] khouloudbelguith commented on #18655
@ballprogrammer, it a server issue, your nginx configuration, you need to check it.
Also, you need to check your Nginx configuration, you can check this file is updated to show how to use multishop and multilanguage as fixed [here](https://github.com/PrestaShop/PrestaShop/pull/12082/files).

THanks!

[2020-04-16 14:08] mangiaparole commented on #18668
THank you very much!!!!!

[image: photo]
Marco Limiti
at Caffè Letterario Mangiaparole | Mangi e Leggi di Edizioni Progetto
Cultura 2003 Srl
A  Via Manlio Capitolino 7/9 | 00181| Roma
P  +390697841027  <+390697841027>
E  info@mangiaparole.it  <info@mangiaparole.it>
W  www.mangiaparole.it  <http://www.mangiaparole.it>
Metro Furio Camillo
Partita iva 07832781004

<http://www.facebook.com/pages/Mangi

[2020-04-16 14:10] marionf commented on #16103
Ping @MatShir

[2020-04-16 14:15] khouloudbelguith commented on #18668
@mangiaparole, issue fixed?

THanks!

[2020-04-16 14:16] khouloudbelguith commented on #18619
Hi @tdavidsonas88,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers

Thanks!

[2020-04-16 14:17] Klemart3D commented on #18604
@florine2623 : please do not use the responsive view of your browser (customers are not using it and render is not same as direct view), just resize browser with a window width **between 1023px and 1007px**, you should reproduce it.

By sample with your own demo website by reducing progressively your browser's window you should get this:

![no-menu-icon-on-demo](https://user-images.githubuserconte

[2020-04-16 14:21] ballprogrammer commented on #18655
i'll try agin

[2020-04-16 14:24] florine2623 commented on #18606
Thanks for the details @Hlavtox.
I managed to reproduce the issue with PrestaShop version 1.7.6.4 and 1.7.5.2.
Indeed, when those 3 options are set in CCC, you need to clear cache manually to see css changes.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-04-16 14:24] marionf commented on #16103
Issue related: https://github.com/PrestaShop/PrestaShop/issues/16108

[2020-04-16 14:24] mangiaparole commented on #18668
yes with your version!!!

can i ask
 somethig else about prestashop installation?!?

[image: photo]
Marco Limiti
at Caffè Letterario Mangiaparole | Mangi e Leggi di Edizioni Progetto
Cultura 2003 Srl
A  Via Manlio Capitolino 7/9 | 00181| Roma
P  +390697841027  <+390697841027>
E  info@mangiaparole.it  <info@mangiaparole.it>
W  www.mangiaparole.it  <http://www.mangiaparole.it>
Metro Furio Camillo
Pa

[2020-04-16 14:25] #18657 closed, assigned to nobody

[2020-04-16 14:28] khouloudbelguith commented on #18668
@mangiaparole, great!
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-04-16 14:28] #18668 closed, assigned to nobody

[2020-04-16 14:29] khouloudbelguith commented on #18655
@ballprogrammer, thanks!
Waiting for your feedback.

[2020-04-16 14:29] eduardob1978 commented on #18664
[tuboxtienda.com-Apr-2020.gz](https://github.com/PrestaShop/PrestaShop/files/4487593/tuboxtienda.com-Apr-2020.gz)
![IMG_20200416_152028](https://user-images.githubusercontent.com/57547778/79465958-438cab80-7ffc-11ea-8cf8-ad963af75d1f.jpg)
![IMG_20200416_152042](https://user-images.githubusercontent.com/57547778/79466025-530bf480-7ffc-11ea-830d-03960fb3535e.jpg)
![IMG_20200416_152053](https://user-

[2020-04-16 14:30] florine2623 commented on #18555
You are welcome @eyalkrief .
I will now close this issue !

[2020-04-16 14:30] #18555 closed, assigned to nobody

[2020-04-16 14:33] mangiaparole commented on #18668
can i ask somethig else about how can change url?!?

[image: photo]
Marco Limiti
at Caffè Letterario Mangiaparole | Mangi e Leggi di Edizioni Progetto
Cultura 2003 Srl
A  Via Manlio Capitolino 7/9 | 00181| Roma
P  +390697841027  <+390697841027>
E  info@mangiaparole.it  <info@mangiaparole.it>
W  www.mangiaparole.it  <http://www.mangiaparole.it>
Metro Furio Camillo
Partita iva 07832781004

<http://w

[2020-04-16 14:36] khouloudbelguith commented on #14547
Related to https://github.com/PrestaShop/PrestaShop/issues/9676

[2020-04-16 14:38] khouloudbelguith commented on #18660
Hi @muyncky,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x
I attached a screen record
https://drive.google.com/file/d/1TQlqFlY8g7uj2nLHvHczMADi8TUKcpuo/view?usp=sharing
I’ll add this to the debug roadmap.

Ping @MatShir can we add to this [Epic](https://github.com/PrestaShop/PrestaShop/issues/17598)?

Thanks!

[2020-04-16 14:41] khouloudbelguith commented on #18668
@mangiaparole,

Which URL?
Thanks!

[2020-04-16 14:53] khouloudbelguith commented on #18664
@eduardob1978, there are no errors in your file.
Can you check the file log in your `/project_folder/var/logs/`
Thanks!

[2020-04-16 14:55] mangiaparole commented on #18668
The problem is I have 2 version oh Prestashop (1.3 works on
www.progettocultura.it) and 1.7 that works on
https://www.progettocultura.it/presta_1978_/
now i want the 1.7 on https://www.progettocultura.it and i want cancell
1.3...

All day long i tried to do that... can you help me?!

[image: photo]
Marco Limiti
at Caffè Letterario Mangiaparole | Mangi e Leggi di Edizioni Progetto
Cultura 2003 Srl

[2020-04-16 14:56] khouloudbelguith commented on #18430
Hi @Kimcitaw,

Thanks for your feedback.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-04-16 14:56] #18430 closed, assigned to nobody

[2020-04-16 14:57] eduardob1978 commented on #18664
the only logs there is the file that i sent to you before. its ok I will delete prestashop and try to instal again everything, because this it looks deeper that i thought, thank you very much for your help

[2020-04-16 14:58] khouloudbelguith commented on #18668
@mangiaparole,

I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-04-16 14:58] khouloudbelguith commented on #18664
@eduardob1978, thanks for your feedback.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-04-16 14:58] #18664 closed, assigned to nobody

[2020-04-16 15:02] florine2623 commented on #18656
Thanks for the info !

The issue is reproduced on both 1.7.5.2 and 1.7.6.4 with PHP 7.2.

[2020-04-16 15:06] photinia73 opened #18673 "Error in the themes/core.js.map"
#### Describe the bug

Hello!
On the pages that are looking Ok I see the Error in the DevTools failed to parse SourceMap: https://te.com.ua/themes/core.js.map
How to find what this is the error?...

![image](https://user-images.githubusercontent.com/50954519/79472752-e64d2600-800c-11ea-8a2b-eec8c6893588.png)

If applicable, add screenshots or screen recordings to help explain your problem.

#### A

[2020-04-16 15:13] khouloudbelguith commented on #18596
Hi @Tonio1987,

I did not manage to reproduce the issue with PS1.7.6.4 and the ps_facetsearch module v3.5.0.
I attached a screen record
https://drive.google.com/file/d/1Mlk4QuXkWX87gCKWyJp2wgJYYS3MIq8f/view?usp=sharing
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2020-04-16 15:22] khouloudbelguith commented on #18673
Hi @photinia73,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1Z9MNc7OWoj5gbvu1DpvNvy3TYQk9KqYQ/view?usp=sharing
Thanks to check and feedback.

[2020-04-16 15:34] NeOMakinG commented on #14405
React ? Where did you see that ? Can't find it anywhere @mickaelandrieu

[2020-04-16 15:41] matks commented on #14405
In my initial post (I edited it since then) I said
[code]
I mentioned both examples but obviously we wll stick to Vue.js . I just wanted to list multiple possibilities.

[2020-04-16 15:43] NeOMakinG commented on #14405
Ok thanks :)

[2020-04-16 15:47] muyncky commented on #18660
Hi,

Great!

A PR is already in progress https://github.com/PrestaShop/PrestaShop/pull/18654

Thanks.

[2020-04-16 15:53] ballprogrammer commented on #18655
i recheck many time but i don't know what wrong
can you help me ?

server {
    listen   80;
    listen   [::]:80;
    server_name nextshop.upbrand.asia;

    rewrite  ^ https://\$server_name\$request_uri? permanent;
}
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl on;
    ssl_certificate /etc/nginx/ssl-certs/nginx.crt;
    ssl_trusted_certificate /etc/nginx/ssl-certs/nginx.crt;

[2020-04-16 15:59] khouloudbelguith commented on #18655
@ballprogrammer,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-04-16 15:59] #18655 closed, assigned to nobody

[2020-04-16 16:29] Macrisu commented on #12452
Prestashop 1.7.6.4
PHP 7.2

I get the same error ONLY when I disable CCC and cache from Performance

`DevTools failed to load SourceMap: Could not parse content for http://www.xxxx.com/themes/core.js.map: Unexpected end of JSON input`

[2020-04-16 16:37] khouloudbelguith commented on #18605
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.4 and ps_facetedsearch v3.5.0.
I attached a screen record
https://drive.google.com/file/d/1Mn0nY4YkxG3YyFQCtTbyDgpEx0kWCxDi/view?usp=sharing

Thanks to check and feedback.

[2020-04-16 16:40] preoteasa commented on #18595
Thank you for your test. I don't know how you set it up, but you can reproduce the problem here:

https://data.finlandquality.com/original/

This is a simple installation of prestashop, with  nothing else but the default. The emailsubscription module is setup to send verification and confirmation emails. You can register to the shop, and you will receive the notification email. You can subscribe t

[2020-04-16 16:42] florine2623 commented on #18561
On going issue. I'll get back to you ASAP.

[2020-04-16 16:46] photinia73 commented on #18673
Can you sent me the link to the file core.js.map from 1.7.6.4

[2020-04-16 16:47] khouloudbelguith commented on #18595
@preoteasa,
What is the exact version of the email_subscription did you use?
Could you please navigate to your Back office => Advanced Parameters => E-mail, try to " Test your email configuration" by sending a test email in your second shop.
Thanks to check & feedback.

[2020-04-16 16:48] khouloudbelguith commented on #18673
@photinia73, https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/themes/core.js.map

Thanks!

[2020-04-16 16:48] preoteasa commented on #18595
Vesrion v2.5.1, I installed the latest before testing.

[2020-04-16 16:51] preoteasa commented on #18595
The physical path of my installation is: /var/www/html/presta-original/. I think this causes the problem.

[2020-04-16 16:53] preoteasa commented on #18595
Back office => Advanced Parameters => E-mail, try to " Test your email configuration"
The email works. I installed and tested it. I use the smtp server that I use to send newsletter. So that is not an issue. That is I suggested to create an account. You will get the notification email.

[2020-04-16 16:55] preoteasa commented on #18595
This is not even multi-shop anymore. It is a simple prestashop installation.

[2020-04-16 16:59] colinegin commented on #18553
I think this should be linked to the Good first issue project (which could be considered an EPIC).

[2020-04-16 17:16] khouloudbelguith commented on #18595
@preoteasa,

so you have only a problem when the multistore is enabled?

So, it is a custom problem, is it?

Thanks!

[2020-04-16 17:22] photinia73 commented on #18673
I don`t understand how it possible, but it wasn`t file core.js.map in the Theme/… only core.js….I copied the file into the folder and there is no error now….  З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: четверг, 16 апреля 2020 г. в 19:48Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] Error in the themes/core.js.map (#18673) @photinia73, ht

[2020-04-16 17:22] preoteasa commented on #18595
The problem occurs also when there is no mutistore, but I noticed while working on a mutistore environment.

What do you mean "Custom"? The problem occurs on the installation that I have. The design of the code is wrong. What else should I say. In single shop installation, the problem can be avoided, but I don't think that it can be avoided on a multisore installation.

[2020-04-16 17:35] Hlavtox commented on #18605
@khouloudbelguith

I saw you have the positions set in the category. I don't have any position set on any product, except few manually added ones. I import everything from CSV.

![Výstřižek](https://user-images.githubusercontent.com/6097524/79487677-ebb06d80-8018-11ea-8e7a-35876a862796.JPG)

I think maybe a fallback order should be implemented, to prevent these kinds of issue? What is the exact or

[2020-04-16 17:36] Hlavtox commented on #14244
@khouloudbelguith Can you reopen this please? The issue I specify here was not fixed on the "duplicate" issue.

[2020-04-16 17:38] Hlavtox commented on #18507
@LouiseBonnard Why do you want to implement multiple payments for one order?

For example, in carrier situation:
If you have two carriers and two products.
And you limit one product to one carrier and the second product to second carrier.
You go to cart and see "no carriers available"

I would do it the same in the payment situation. It would be the merchant's responsibility, that there is always

[2020-04-16 17:44] preoteasa commented on #18595
Can you tell me the physical location on the file system of the emailsubscription module on the test that you performed?

[2020-04-16 19:27] Betafer commented on #18660
Yes, same issue on ps 1.7.6.3

[2020-04-16 20:03] Hlavtox commented on #18605
@khouloudbelguith @MatShir @marionf

I found the cause of the issue and I will start a fresh one, to be more clear. The buggy sort is not "Relevancce"/Position but Quantity. Relevance was not actually selected.

[2020-04-16 20:03] #18605 closed, assigned to nobody

[2020-04-16 20:21] ballprogrammer commented on #18655
I think that are not a "server issue",
PrestaShop use default in http but not work on https
because another system in the same system don't have a problem
@khouloudbelguith

[2020-04-16 21:29] Hlavtox opened #18674 "Product order is random, when ordering key is the same - product lost or visible on multiple pages"
#### Describe the bug

On several product ordering settings, products are positioned randomly. During browsing the category, you can see SINGLE product MULTIPLE times. Or, you cannot see some products at all. Merchants are loosing money there.

#### How to reproduce the bug

0. Make some products. Make enough so there are at least 2 pages. **Set the same price to all of them.**
1. Setup faceted se

[2020-04-16 22:53] yuxiayuzhou commented on #18667
thanks a lot for checking this issue and even shoot a video for this. much appreciate and thanks. Yes, it looks having not a problem in the video, but it is annoying that it does happen in my case. Im sure whether it matters my version 1.7.6.2 or simple my own individual case.

I found another one has exactly the same issue as mine, who raised the issue on prestashop forum, but seems nobody answer

[2020-04-16 23:38] Hlavtox commented on #18674
**UPDATE 17.4.2020 1:38**

I am testing a solution:
Adding `$query .= ', p.id_product ASC';`
After `$query .= ' ORDER BY ' . $orderField . ' ' . strtoupper($this->getOrderDirection());`
In `/modules/ps_facetedsearch/src/Adapter/MySQL.php`
Seems to solve the issue in Faceted search. I will test the change in other controllers.

[2020-04-17 06:01] zuk3975 commented on #14405
So do we use vue.js for all of these?
if yes, then first of all we also need to decide the architecture for vue?

[2020-04-17 08:06] Sascha211 opened #18675 "Product Quantities Wrong after Upgrade to PS 1.7.6.4"
It seems like the stock available value is not properly updated in front office and product settings, while the amounts in Catalog -> Stocks are correct. Additionally, it is not possible to change the quantity while editing the product. Saving the product after modifying the quantity brings back the former amount.
Clearing all Caches did not solve the issue.

### **Screenshots**

**Catalog -> Stoc

[2020-04-17 08:09] florine2623 commented on #18675
Hi @Sascha211 ,
What tool did you use to do your upgrade ? From which version to 1.7.6.4 ?

Thanks!

[2020-04-17 08:13] Sascha211 commented on #18675
Hi @florine2623,
I used 1-Click Upgrade from 1.7.3.3.

[2020-04-17 08:14] Hlavtox opened #18676 "Fatal error when editing customer with invalid email"
#### Describe the bug

Somehow a customers email with special characters passed through our OPC module. When our employee wanted to edit it, Prestashop crashes with fatal error.

#### Expected behavior

Cope with this kinds of errors and show the edit screen. Should be more "bulletproof".

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make a customer.
2. Go to ps_customers and chan

[2020-04-17 08:16] florine2623 commented on #18667
Hi @yuxiayuzhou ,
Do you have an error when you inspect the element while saving on ps_advertising?

[2020-04-17 08:19] yuxiayuzhou commented on #18667
no, i did not see an error coming out when save the image. just the old one pops out. thanks for your response.

[2020-04-17 08:30] florine2623 commented on #18667
Could you check the overrides and try again ?
You need to comment the override folder like so : ```override``` becomes ```_overrride```

[2020-04-17 08:46] burakgit commented on #18596
Same issue with 1.7.6.4, May be it is related with With or Without TAX show option. Will you please @Tonio1987, tell us which type you are using ? i am using "without TAX " option.

in adittion to this, after you order with price( so there is no product), if you refresh, drop down menu disappears.

there is no php log info, also no warning.

@khouloudbelguith

[2020-04-17 09:03] colinegin commented on #18003
What's the status of this issue ?

[2020-04-17 09:31] LouiseBonnard commented on #18506
Exactly, this is a feature covered by several modules (some of them using this `displayProductExtraContent` hook mentioned in PR #6216) so, at this point, it does not need to be native. Also, this piece of information could be displayed in the _Summary_ or _Description_ fields. I close this issue for now, thanks for this improvement idea, @Hlavtox!

[2020-04-17 09:31] #18506 closed, assigned to nobody

[2020-04-17 09:36] florine2623 commented on #18561
Hi @bm-services ,
The 2 fields ```social_sharing_title``` and ```social_sharing_description``` were actually dropped in 1.7.2.0 via the ```drop_column_from_product_lang_if_exists```  function.

The two files mentioned do not have the same purpose:
- db_structure.sql is used for fresh install and create the whole database structure from nothing
- 1.7.0.0.sql is used for an upgrade from 1.6 to 1.7.0

[2020-04-17 09:50] florine2623 commented on #18676
Hi @Hlavtox ,
I could not reproduce your issue with the provided information on 1.7.6.4.
Please see screen record :
https://drive.google.com/file/d/1p8Rt7_9GHXgTF8zdMKiZ4w_hNtJwxz40/view
Thanks!

[2020-04-17 10:14] musaffar-patel commented on #18620
Hi

Sure, attached is a screen shot of the output of composer diagnose command displaying the version as 1.10.5
![screenshot](https://user-images.githubusercontent.com/44204668/79558727-8900b580-809c-11ea-87de-1c5acb66c226.jpg)

[2020-04-17 10:18] florine2623 commented on #18675
I have done an upgrade 1.7.3.3 > 1.7.6.4 using one-click upgrade.
I could not managed to reproduce the error. Please look at the screenshots :
**Upgrade**
![Capture d’écran 2020-04-17 à 11 59 59](https://user-images.githubusercontent.com/16019289/79558705-e00a8880-80a4-11ea-9209-04187fe06f70.png)
![Capture d’écran 2020-04-17 à 12 09 46](https://user-images.githubusercontent.com/16019289/795587

[2020-04-17 11:02] antonincizek25 opened #18679 "Looking for the usable order management module"
Hello,

I am looking for the usable Prestashop Module where you can manage orders all in one place. So I would be able to print invoices, automatickly marked new orders which are ready to shipp and generate csv files for the transporters.

Is there anyone who can help me and suggest some usable Prestashop module?

[2020-04-17 11:15] yuxiayuzhou commented on #18667
@florine2623  Thanks for the advice. I replaced the override folder name with _override (i simple copied yours) and _override respectively. I also cleared the cache. Unfortunately problem still exists.
But i found a readme text in override folder:

Hello,

Please read the documentation before trying to override something here.
http://doc.prestashop.com/display/PS16/Overriding+default+behaviors

Fr

[2020-04-17 11:22] karopka opened #18681 "ps_facetedsearch forced to close menu tab if user unselect all options"
#### Is your feature request related to a problem?

In the mobile version, when the user opens the filter menu for an attribute and selects the checkbox, everything is in order. But if the user wants to change his choice, he can first cancel the selection, in which case the filter menu of this attribute is closed. It is not comfortable.

#### Describe the solution you'd like

Filter menu is not cl

[2020-04-17 11:48] PierreRambaud commented on #18620
Could you do the same with the `composer install` command please?

[2020-04-17 12:03] florine2623 commented on #18679
Hi @antonincizek25 ,
You can do that directly on the back-office of your shop under these tabs :
![Capture d’écran 2020-04-17 à 14 02 12](https://user-images.githubusercontent.com/16019289/79567194-0e439480-80b4-11ea-8270-60bc05401fb7.png)

Please, if you are not reporting a bug or a new feature request, do not post on GitHub. The forum is the place for you : https://www.prestashop.com/forums/
T

[2020-04-17 12:03] #18679 closed, assigned to nobody

[2020-04-17 12:13] matks commented on #18645
Release has passed QA validation 🚀thanks @PrestaShop/prestashop-qa !

1.7.6.5 is now ready to be delivered.
We expect complete delivery (ZIP being distributed + release note + multiple small updates such as new docker image creation) to be fully done on next Monday. As it is already Friday noon, we don't perform the delivery following [No deploy on Friday](https://stackoverflow.com/questions/21156

[2020-04-17 12:39] florine2623 commented on #18681
Hi @karopka ,
I have managed to reproduce your issue.
Thanks for the recommandation, I will ping our product team.

[2020-04-17 12:40] yuxiayuzhou opened #18684 "back end's modules not classified into each correct category"
#### Describe the bug

My back end's modules are not placed into corresponding category for unknown reason. This can be seen in attached screenshot. It only falls into 2 categories: theme module and others. This is strange. It was not like this.

#### Expected behavior

It should be placed correctly into each category.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to back end
2

[2020-04-17 12:43] florine2623 commented on #18681
Hi @PrestaShop/prestashop-product-team !

When unchecking an attribute in the faceted search on mobile, the filter closes itself without letting the user chose another option.
Is this issue relevant ?

Thanks !

[2020-04-17 12:53] florine2623 commented on #18673
Hi @photinia73 ,
Ok good if there's no more error.
I'll close this ticket now.
Thanks !

[2020-04-17 12:53] #18673 closed, assigned to nobody

[2020-04-17 13:26] cedricfontaine opened #18687 "Product url with attributes and Google crawl budget"
#### Is your feature request related to a problem?

For very large catalog, with a lot of product with combinations, Prestashop will have a lot of different URLs. For combination, we only have one URL to be indexed, the default one, sent as canonical. => That's ok.

Problem is that Google will still crawl the other non indexed pages and it will count toward your crawl budget.
So with attributes in

[2020-04-17 13:27] matks commented on #15890
Product Listing page has been migrated differently than other listing pages (and will need re-migration to be harmonized)

I think what @marionf said must be tried.
"As the listing displays the amount rounded, If I search 10 or 10.00 it should find the result"

[2020-04-17 13:27] cedricfontaine commented on #18402
Hello @colinegin attribute id in the URLs is not optimal for the crawl budget on very large catalog. https://github.com/PrestaShop/PrestaShop/issues/18687

[2020-04-17 13:37] Progi1984 commented on #17969
Fixed by #18652

[2020-04-17 13:37] #17969 closed, assigned to jolelievre

[2020-04-17 13:51] florine2623 commented on #18684
Hi @yuxiayuzhou ,
I could not manage to reproduce your issue, please see screenshot below :
![Capture d’écran 2020-04-17 à 15 50 25](https://user-images.githubusercontent.com/16019289/79576223-3a1a4680-80c3-11ea-92ba-019de7ca1dd1.png)
Is it a fresh install ?

[2020-04-17 14:04] florine2623 commented on #18667
I was simply asking you to comment the override module in case you had any overrides made by an external module ;)

If there aren't any, you can try these things :
- clear cache /var/cache delete /dev and /prod
- regenerate .htaccess by going to Traffic & SEO and save without changing anything the following blocks : Set up URLs,  Set shop URL and Schema of URLs

Please check and let me know

[2020-04-17 14:15] matks commented on #10548
@zuk3975 Can you check https://github.com/PrestaShop/PrestaShop/pull/13716 and confirm only condition group is missing for this page ?

[2020-04-17 14:16] matks commented on #10549
@MatShir Can you confirm the "recommended modules" button should be hidden on this listing page ?
Can you confirm the "recommended modules" button should be hidden on the related add/edit page https://github.com/PrestaShop/PrestaShop/issues/10548 ?

[2020-04-17 14:17] alfonsolr09 opened #18692 ""Offers", "review" or "aggregateRating" must be specified- Google Search Console"
#### Describe the bug

Hello, I receive this error from google, any ideas on how to fix it?

**Screenshots**

https://prnt.sc/s18oz8

#### Additional information

* PrestaShop version: 1.7.6.4
* PHP version: 7.2

[2020-04-17 14:23] msornin opened #18693 "PS 1.7.5.2 - Cart refreshing problem"
Hello,

Prestashop 1.7.5.2 site, classic theme, hosted by o2switch, Version php 7.1.
For some time now, the add to basket popup has not been displayed, the basket icon with the number of items has not automatically refreshed and in the Basket window, the "Continue shopping" button does not appear more next to the "Order" button it is displayed just as a link below the basket detail on the left. I

[2020-04-17 14:38] MatShir opened #18694 "Cart not updated when a product is edited"
**Context:**
### **Current behavior in 1.7.6:**

When a product is added, it must respect the minimum quantity even if the product with the minimum quantity is already present in the order.

If the merchant has a product A with a minimum quantity of 10

- Create an order with 10 x A products

- Adds the same product A in a quantity of 1

Then merchant can not add product A because the minimum quan

[2020-04-17 14:42] MatShir opened #18695 "A product allowed to be ordered out of stock with a minimum quantity cannot be added to the BO order."
Be aware of the EPIC - Errors when adding a product with minimum quantity in order page #19595

**Describe the bug**
A product allowed be order when it is out of stock and has required minimum quantity can't be added to order even when the required minimum is respected

**Expected behavior**

We have an incorrect alert when the product is out of stock Following these steps:

**Steps to reproduced*

[2020-04-17 14:50] florine2623 commented on #18693
Hi @msornin ,
You need to go to Modules > Modules Manager > Shopping Cart and activate ajax :
![Capture d’écran 2020-04-17 à 16 49 43](https://user-images.githubusercontent.com/16019289/79582055-8b2e3880-80cb-11ea-99b5-56e52767f67b.png)
Please check and let me know !

[2020-04-17 15:04] colinegin commented on #18402
Thanks for your feedback @cedricfontaine, this is very interesting.
Wdyt @jolelievre ?

[2020-04-17 15:17] colinegin commented on #18513
According to a discussion with @matthieu-rolland, this issue should be fixed thanks to the addition of 2 fixes :
- make computing precision matching currency's display precision : #18617
- bug on "round on each item" rounding type #18640

@sarahdib these PR / issues should be tested and validated before. I leave this issue in to be tested, just to ensure it is correctly fixed once PRs have been me

[2020-04-17 15:18] msornin commented on #18693
Thank you florine for your answer, yes the ajax function on the cart is activated.
See you other thing, please

[2020-04-17 15:32] florine2623 commented on #18693
Do you have any error in the console when adding a product to the cart ?

[2020-04-17 15:39] msornin commented on #18693
No, I have no error.

[2020-04-17 15:41] florine2623 commented on #18693
Comment the override folder like so ```override```becomes ```_override```.
Maybe one of the modules you have is overriding this feature.
Please check and let me know !

[2020-04-17 15:55] msornin commented on #18693
I commented on the override folder in _override. Empty all the caches and repeat the tests, nothing changes.
Do you want me to give you the site url?

[2020-04-17 17:31] gabrielobleite commented on #18536
I'd like to take this issue, but I was trying first to run the project here unsuccessfuly. What steps I must follow to run the program on localmachine?

[2020-04-17 18:04] web-plus commented on #18601
Thank you for reply.  OK, it may be fixed in DEV version, as you say, I didn't try in dev build.
I tested with 1.7.6.4 and there it's not working (tested on clean test installation and reported by client on another shop).

[2020-04-17 19:08] burakgit commented on #18596
Fixed,

please check this
https://www.prestashop.com/forums/topic/990434-sort-by-price-not-working-on-ps-17/

[2020-04-17 19:22] rblaurin commented on #11277
Any ETA for this module?

[2020-04-17 19:24] rdy4ever opened #18698 "[Improvement] it would be best if instead of sending mails instantly, PS would add them to a queque and send them after the order is placed (async)."
#### Is your feature request related to a problem?

I'm not sure if this is how Prestashop works, but I get the feeling that Prestashop waits for the e-mail confirmation to be sent before validating the order and showing the "order placed" message to the user. Is this correct? Because I noticed an increased number of unfinished orders the 2 days in my shop and a few clients complained that they di

[2020-04-17 20:41] Matt75 commented on #11277
@rblaurin work is in progress, follow module repository to be notified : https://github.com/PrestaShop/blockwishlist

[2020-04-17 20:51] mickaelandrieu commented on #18083
it's only deprecated for objects, not for arrays.

[2020-04-17 20:58] Tonio1987 commented on #18596
Ok thank you; I will test tomorrow and let you know if it resolved my problrm.
Bert regards.

[2020-04-17 21:54] Hlavtox commented on #18698
@rdy4ever PS never failed me when sending email, even if it does, it does not crash Prestashop. If something is f***ing up with your order process, look into actionValidateOrder hook - thats where the evil usually comes from. 😂

[2020-04-17 22:06] gabrielobleite commented on #18536
Hello! Can I take this issue to resolve?

[2020-04-18 00:03] yuxiayuzhou commented on #18667
@florine2623 lol, forgive me. Im newbie:) I have changed the name back to override. and i can confirm there is nothing inside as im still using the classic module.
I followed the advice to clear cache, but i dot know how to regenerate .htaccess. I did not touch much in Traffic&SEO. i have attached the screenshots as well.
![1](https://user-images.githubusercontent.com/53670538/79622551-d5ff8d00-81

[2020-04-18 00:06] yuxiayuzhou commented on #18684
@florine2623  sorry, it is me again. a newbie.
The tricky thing is sometimes it follows into the right categories, but sometimes not. It does not happen always. I dot know whether somethere i have changed caused this instability. For the time being, it is still having the issue. But maybe tomorrow, when i open it again, it is gone....

[2020-04-18 05:50] rdy4ever commented on #18698
Hi @Hlavtox and thanks for the reply
The fun fact is I have no crash and hence no error logged, but randomly it takes unusually long to validate the order. Most of times it works fine, that’s why I started to suspect it waits for the e-mail to be successfully sent, and that wouldn’t be cool. However, my shop also used to send a SMS with the order confirmation and now I think that may be the culpri

[2020-04-18 09:33] Frankie-IT opened #18699 "Checkout problem with shipping address"
#### Describe the bug

Hi everyone, I have a problem with shipments to Europe, let me explain better.

When I am in checkout and I select a destination like Germany or Greece, after clicking continue, instead of going to the next screen and viewing the default courier, I always stay in the address screen. But if I change the destination in Italy and click continue it works and makes me move on.

-

[2020-04-18 11:17] msornin commented on #18693
is there someone available on weekends?

[2020-04-18 11:26] leos2000171 commented on #10012
It also happens when installing Prestashop (1.7.6.4) with Trad. Chinese. It also missing tiny_mce js file.

But I found the solution temporary. Which is going to
https://www.tiny.cloud/get-tiny/language-packages/
and download the language js file.
However, when download Trad. Chiese, be aware of the file name.
zh_TW.js <-- The file download from above site
tw.js <-- The correct file name in Presta

[2020-04-18 11:32] IranDec opened #18700 "negative qty in orders ( On backorder (paid) )"
#### Describe the bug

in most of my orders, I have negative qty although I often cleaned unwanted basket. but from time to time I have some order with this problem.
how can I set a limitation to don't let happens again because of each time I have to call the customer and describe that product is out of stock and this is not good for my company .

#### Additional information

This bug happens When

[2020-04-18 15:14] Nietnagel opened #18701 "variable catalog > products"
hello i noticed an error. Pre-tax retail price at catalog > products > price must be
at Retail price and Cost Price different variables.
it makes no sence that unter Cost Price the variable shows Pre-tax retail price.
It must be Pre-tax cost price

Greetings.
![2](https://user-images.githubusercontent.com/63917252/79641589-c77b9a80-8198-11ea-8d6c-44d052dd3dfa.JPG)

---
**Edited by Louise B. the 04

[2020-04-18 15:18] Nietnagel opened #18702 "catalog > versions and features"
The Table name at catalog > versions and features is in the german version wrong and a change in the translation file brings no change.
"Maßnahmen" is the wrong translation. It must be "Eigenschaften"
![111](https://user-images.githubusercontent.com/63917252/79641545-7075c580-8198-11ea-9322-a08ce786b6e6.JPG)

[2020-04-18 15:19] Theodode opened #18703 "Prestashop Router class does not generate absolute url"
Hello,

#### Describe the bug

The method "generate" into PrestaShopBundle\Service\Routing\Router allows the Symfony parameters $referenceType to generate absolute url but it give only relative url. After debugging it seems that the issue come from the method "generateTokenizedUrl" used into "generate". It returns a relative URL even if an absolute one is given as parameter.

#### Expected behavio

[2020-04-18 17:37] Tonio1987 commented on #18596
Ok,

I confirm that the solution mentioned here works.
https://www.prestashop.com/forums/topic/990434-sort-by-price-not-working-on-ps-17/

The bug seems to be fixed for me by commenting these lines in file : ps_facetedsearch/src/Adapter/MySQL.php: :

![image](https://user-images.githubusercontent.com/708391/79644841-c99b2480-81ab-11ea-8e62-5c15998b89df.png)

I hope there is nothing that will break

[2020-04-18 17:56] go-sudo commented on #18594
Hi @khouloudbelguith

it works now, thank you

[2020-04-18 17:56] #18594 closed, assigned to nobody

[2020-04-18 17:56] go-sudo commented on #18523
Hello

any news please I still get this error when Memcached is enabled on the server

Regards

[2020-04-18 22:28] Hlavtox commented on #16952
@Twabi2 @khouloudbelguith

This is not a bug, but how it's done.

Stock filtering works by comparing "available for order", not the quantity itself. There was already a big discussion and rage. 😄 See https://github.com/PrestaShop/PrestaShop/issues/14518

[2020-04-19 07:43] hugolin69 commented on #13698
I am having something that could be linked [here](https://www.prestashop.com/forums/topic/1020407-ajout-modification-produit-nginx-erreur-502-child-die-signal-11/)
I have only 23 categories, I am only 1 sublevel (Root Categorie "1" / Home "2" / Categories / Sub Categories).

I applied the patch, will wait to see.
I have 300 products, the bug comes also when cache is disabled in PS, but still have

[2020-04-19 08:45] BenTen commented on #18700
Did you try to set the "available preferences when out of stock" to **deny**  in the product page or globaly in the setting of your shop?

[2020-04-19 08:48] BenTen commented on #18692
Did you read the ticket #12687 and/or install the native module https://github.com/PrestaShop/productcomments ?

[2020-04-19 10:36] Sascha211 commented on #18675
Dear @florine2623,
thank you for putting so much effort into this issue to reproduce it. I finally figured out that the problem is related to Memcached. If caching is disabled, the problems in BO and FO are gone. I'm now trying to achieve the same performance in FO with Apc.

[2020-04-19 11:32] Hlavtox commented on #18676
@florine2623 It was fixed in 1.7.6.4, I will upgrade. https://github.com/PrestaShop/PrestaShop/issues/17809

Thank you for your time! 🌷

[2020-04-19 11:32] #18676 closed, assigned to nobody

[2020-04-19 11:40] IranDec commented on #18700
@BenTen
Hi
yes sure both of them are enabled but I had lot od orders with this situation
check this screenshot.
https://ibb.co/54CrMq1
in the last 12 hours, I had 19 order with out of stock statues
pls help me

[2020-04-19 12:26] zelarg commented on #18676
Another observation is that Prestashop shall not allow invalid email entering DB in first place. There's HTML5 validation on form, but Validation::isEmail does not conform to this, as HTML5 validation is not always enforced.

What about modifying existing regexp there (classes/Validation.php), to something like this?

`filter_var($email, FILTER_VALIDATE_EMAIL)`

[2020-04-19 13:37] Katakurinna opened #18705 "Prestashop is not compatible with MySQL 8."
#### Describe the bug

I have Ubuntu 18.04 server.
Im trying to install the last version of Prestashop, and install MySQL 8.
With much errors, I see the problem is that prestashop is not compatible with mysql 8. I think it is because of the new MYSQL 8 password system.

#### Expected behavior

The expected behavior is that it works.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In

[2020-04-19 13:38] Katakurinna commented on #18705
This error happened to me because the default version of mysql in ubuntu 18.04 is mysql 8.
And you say in the installation manual that the command 'apt install default-mysql-server' is used
https://devdocs.prestashop.com/1.7/basics/installation/#installing-a-local-environment

[2020-04-19 14:37] Twabi2 commented on #16952
I politely disagree. This is about combinations (i.e. and XL shirt) that are out of stock AND are not available for order (as you can see from the above examples). There is no logical reason why they should show up in the filter. See also all the other shop owners having the same issue, and all the clients emailing me about this. It simply does not make sense in its current form.

[2020-04-19 16:47] miographix commented on #9866
Same problem here with 1.7.6.2 ...

[2020-04-19 16:51] astroloocas opened #18706 "Problem with select field in administration"
Hello, I have a problem with new install of Prestashop 1.7.6.4. In adminnistration, there is a problem with select fields. Prestashop generates select field with error, and select field are broken because of this. Please someone, help me. What's the problem? Because of this error, I can't change any setting.
There is "selectid" instead "select id". Why is this without a space? Why there is scatter

[2020-04-19 17:25] Hlavtox commented on #16952
@Twabi2 Sorry, I didn't see the video. Now I see the bug, it should not display this combination if "order out of stock items" is allowed.

[2020-04-19 19:33] joaolago1113 opened #18707 "After changing language from the language selector I get ContextErrorException from the contact information module."
#### Describe the bug

After changing language from the language selector, the contact information module broke.
After disabling the contact information module from the back office the page loaded normally when I changed the language from the language selector.

#### Expected behavior

Page should have loaded normally without crashing.

#### Steps to Reproduce

Steps to reproduce the behaviour:

1

[2020-04-19 19:33] alfonsolr09 commented on #18692
yes i just read it
 I don't use the classic theme, should I speak to the theme provider?

[2020-04-19 19:58] khalidumarr commented on #17539
Running below SQL fixed the issue for me:

[code]

[2020-04-19 19:58] khalidumarr commented on #17725
running below sql fixed the issue for me:

[code]

[2020-04-19 21:52] Gipielle commented on #18402
Delete category will be automatically make the redirect to superior one and not give a 404 page error for me.

[2020-04-19 22:44] Gipielle opened #18708 "Enable/Disable button didn't work in BO searching a product"
If you search a product in BO using quick search, you cannot enable or disable it by the result, instead it will go into the product page.

Here the video of the problem:
https://drive.google.com/file/d/1i4U6YKkVmrOTnquWQIhvScxWxiPFyGj1/view

Searching it in product section the enable disable button works correctly

* PrestaShop version: 1.7.6.3 and 1.7.6.4
* PHP version: 7.2.29

[2020-04-19 22:48] maofree commented on #18708
hi
I've reproduced this bug on a clean prestashop 1.7.6.4
https://drive.google.com/file/d/1-v8EBJNZCZFV-XNDAXAxFGwjG3qkF9p3/view

it is due from the link on the product row, so it is not possible to push on the button to active or disable the produt

bye

[2020-04-19 22:54] Gipielle commented on #18402
Wonderfull redirect :-)
https://drive.google.com/file/d/1-hopgdMlpVoLcHJrKF8ixMsEAXWZVw6S/view

[2020-04-20 07:26] LouiseBonnard commented on #18536
@gabrielobleite, sure, you're welcome! [Here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests) is a link to help you create the pull request. ;-)

[2020-04-20 07:50] msornin opened #18709 "Cart refreshing problem"
I post a request for help again, my first request has been pending since Friday evening:

Cart refreshing problem #18693

Excuse me for my language, I translated with google.

For some time, when I add a product to the cart, it does not update and the pop up no longer appears, to offer me to "Continue my purchases" or "Order".
If I click on Home, the Basket is updated.
I activated debub mode in th

[2020-04-20 07:53] zuk3975 commented on #10548
Create/edit form is migrated and working as expected. Condition group settings are missing.

[2020-04-20 08:02] iamfablaz commented on #9625
I've been using 1.7.6.1 since october and i encountered this issue myself as well.
I don't think it's a bug, instead it's a bad developed product funcionnality because you shoud enter the custom features values as much times as you have languages in your store.
I just added a button to the form in the back end, and with a little of jquery, it will copy the values , in my case from italian to engli

[2020-04-20 08:32] marionf commented on #9866
@khouloudbelguith Could you try to reproduce it with 1.7.7.x branch ?

[2020-04-20 08:36] marionf commented on #18523
Hello @matthieu-rolland as you are the one for the issues today, could you try to reproduce this one ?