[2021-01-21 09:49] PierreRambaud commented on #22924
Why not using https://github.com/fabpot/local-php-security-checker which use the same database (https://twitter.com/fabpot/status/1349986053738934277)
I'm not a huge fan of using a tool manage by Ocramus, don't forget he's the one who break everything, everytime :sweat_smile:

[2021-01-21 09:50] PierreRambaud commented on #22914
For me it's not a bug, because it has never been implemented.
let @PrestaShop/product-team decide what we should do

[2021-01-21 09:53] matks commented on #21199
There is a GitHub Action that seem to do https://github.com/marketplace/actions/the-php-security-checker

See also related topic https://github.com/PrestaShop/PrestaShop/issues/22924

[2021-01-21 09:55] hibatallahAouadni commented on #22832
Hello @KrisDV-GH

Could you please check these issues cause it seems similar to yours #22416 & #22636
Please check and feedback.

Thanks!

[2021-01-21 09:55] Progi1984 commented on #22924
Please not a OCramius tool. I prefer the fabpot tool.

[2021-01-21 09:56] PierreRambaud commented on #22775
I don't understand what happened, I see nothing relevant in logs.

[2021-01-21 10:01] PierreRambaud commented on #22026
I'm not able to reproduce the issue :thinking:

[2021-01-21 10:16] Art3c commented on #22775
@PierreRambaud @hibatallahAouadni any sugestions?

[2021-01-21 10:17] Julievrz commented on #15118
Hi, I summarized here the wording I have in mind so that it is clearer. I took your suggestion about the 404 page into consideration @Hlavtox.  I don't think we should get rid of the placeholder input as it is the only wording that does not change.

![image](https://user-images.githubusercontent.com/70583503/105336624-c40ab900-5bd9-11eb-9dfa-ed9e39c6783d.png)

[2021-01-21 10:18] #12509 closed, assigned to sam-pires

[2021-01-21 10:18] #14119 closed, assigned to davidglezz

[2021-01-21 10:20] hibatallahAouadni commented on #22775
Hello @Art3c

Well we can't reproduce and nothing in logs :confounded:
Really sorry but I think you may need help with your shop/configuration, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-sour

[2021-01-21 10:20] #22775 closed, assigned to nobody

[2021-01-21 10:24] PierreRambaud commented on #22819
Hey, if you think something is broken, please take time to investigate issues (https://github.com/PrestaShop/PrestaShop/issues we have a lot of them that are waiting for investigation) and help us to make it better by giving us everything we need to fix it faster :muscle:
Don't forget this is an open source project and we are open for help :heart:

[2021-01-21 10:29] PierreRambaud commented on #22571
Please it's up to @PrestaShop/product-team to define spec, not @PrestaShop/prestashop-maintainers.

[2021-01-21 10:52] dalmas-fred opened #22926 "Trouble with buttons"
#### Describe the bug
I, just install 1.7.7.1 version of prestashop.  with php 7.3.7
since i got a big problem with the buttons they dont's work properly.
for example, if i try to add a new product.
and try to import a new picture the add a picture the (+) button do not open a dialog file to choose my picture.
on the same screen if i try to add a nex category nothing append.

#### Expected behavio

[2021-01-21 10:55] hibatallahAouadni commented on #22926
Hello @dalmas-fred

That's extremly weird :thinking:
Could you please provide a screen record or screenshot of your console.

Thanks!

[2021-01-21 11:06] jf-viguier commented on #22481
@hibatallahAouadni you close the issue but I've made a PR and an explanation on how to reproduce the bug.
The installation error you have is not related to my issue nor my pr : it's another issue. Please reopen it.

[2021-01-21 11:08] khouloudbelguith commented on #20385
Hi @valentin-anamorphik,

Sorry not yet.
This issue is still waiting for PM.

Thank you for your understanding!
Ping @PrestaShop/product-team friendly reminder :slightly_smiling_face:

Thanks!

[2021-01-21 11:10] sarahdib commented on #22715
@NeOMakinG did you enable catalogue mode ?

[2021-01-21 11:15] jf-viguier commented on #22481
In my user case, I've copied module tables from 1.6 to 1.7 that'd why I've not the upgrade bug you have.

[2021-01-21 11:19] hibatallahAouadni commented on #22481
As discussed with you in Slack, I'm going to re-open the issue but we need the Developer Team opinion :wink:

Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers I didn't manage to reproduce the issue cause I encountred other issue :confused: could someone please check it out :pray:

Thanks in advance.

[2021-01-21 11:21] jf-viguier commented on #22481
Dev team can confirm that this 3 lines of code are ok with no regression.

[2021-01-21 11:23] phanie44 commented on #21502
Hi.
After searching again, yes it seems the issue came from the payment module.
Thanks a lot for all your answer.
Regards.

[2021-01-21 11:27] Hlavtox commented on #15118
@Julievrz This is perfection! 🚀

[2021-01-21 11:27] hibatallahAouadni commented on #22906
Thanks @prestascott

So I'm changing the label to **`To Do`** :wink:

I believe we need to open a new feature according this, is that so?

[2021-01-21 11:50] hibatallahAouadni commented on #21502
@phanie44 glad to know :tada:

[2021-01-21 11:54] #22848 closed, assigned to kpodemski

[2021-01-21 12:26] Myrjam opened #22928 "Order detail page not loading correctly"
#### Describe the bug

Order detail page in backoffice is not loading the top bar correctly
![image](https://user-images.githubusercontent.com/52692922/105350732-e279b000-5beb-11eb-9d71-38b46442fbb6.png)

#### Expected behavior

https://build.prestashop.com/assets/images/2020/05/order_details_hooks.jpg

#### Steps to Reproduce

#### Additional information

* PrestaShop version: 1.7.7.1
* PHP versi

[2021-01-21 12:30] hibatallahAouadni commented on #22928
Hello @Myrjam

Yeh I got the issue at first time after upgrading my shop to 1.7.7.1 but after refreshing my page multiple times, it's gone :sweat_smile:
So, could you please refresh your page and clear your cache and then feedback.

Thanks!

[2021-01-21 12:33] Myrjam commented on #22928
Thanks @hibatallahAouadni, I tried that, but the problem unfortunately is more persistent than that!

[2021-01-21 12:33] Myrjam commented on #22928
What? ! never mind... it did help... thank you!

[2021-01-21 12:33] #22928 closed, assigned to nobody

[2021-01-21 12:34] hibatallahAouadni commented on #22928
@Myrjam Glad that it works for you :sweat_smile:

[2021-01-21 12:44] manon-pitron opened #22929 "Trouble with Duplicate and make Offline products"
Good morning all,

I have just recently joined my company which hosts 2 e-commerce sites via prestashop.
In the middle of my audit, the teams in charge of referencing / writing product sheets informed me of a bug that I absolutely cannot resolve.

---
#### Describe the bug

In backOffice, when I go to my list of my products display and want to put one of my products offline, if I subsequently re-a

[2021-01-21 12:52] hibatallahAouadni commented on #22833
Hello @kpodemski & @mopi007

Thanks for the clarification and sorry for the late response.
I managed to reproduce the issue with PS1.7.7.0, PS PS1.7.6.7 and PS1.7.4.1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105353650-cf68df00-5bef-11eb-9a99-7de7c711c66e.png)

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it

[2021-01-21 13:02] dalmas-fred commented on #22926
Sorry, i don't realise i don't respect the template .

here is the screenshot.

![image](https://user-images.githubusercontent.com/77782063/105354118-66359b80-5bf0-11eb-9680-409289895d3a.png)

Expected behavior
The buttons works

Steps to Reproduce
Steps to reproduce the behavior:

BO>theme and logo>theme
use this theme
try to change the theme
See error => the (use this theme) button do not have a

[2021-01-21 13:12] hibatallahAouadni commented on #22835
Hello @maofree

What you suggest here is solution for your issue #22636, is that so?
If so, could you please make a PR :wink:

Thanks!

[2021-01-21 13:16] Julievrz commented on #15118
I'm glad that you like it! 😃

[2021-01-21 13:22] matowuut commented on #22910
Hello @hibatallahAouadni !

First of all I would like to thank you for taking the time to help out. I followed your suggestion and downgraded my PHP version to 7.3.26. The same problem remains the hook is not reached.

[2021-01-21 13:35] 4ngeluxpunk commented on #22812
Hello I have the same error in several stores with version **1.7.7.0** and **PHP 7.3**, this error is generated when in the prefix_cart table the **id_currency column is 0**; Rather, the cart orders should be entered the id_currency by data 1 which is the ID of the currency but enter it with 0

[2021-01-21 13:44] hibatallahAouadni commented on #22835
As discussed with you on Slack, this issue is duplicate of #22636
Thanks for your cooperation :rocket:

[2021-01-21 13:44] #22835 closed, assigned to nobody

[2021-01-21 13:45] hibatallahAouadni commented on #22835
Duplicate of #22636

[2021-01-21 13:47] hibatallahAouadni commented on #22636
Hello everyone,

As discussed with @maofree on Slack, #22835 is the solution for this issue.
So, please check it out this issue #22835 first :wink:

Thanks in advance.

[2021-01-21 14:09] PierreRambaud commented on #22481
Pr already in waiting for QA statement :+1:

[2021-01-21 14:10] matks opened #22930 "Product page - tech task - Release a demo module for V2"
We are reworking the Product page for PS 1.7.8. We will improve current hooks and maybe add some.

A demo module will be needed.

One important point to demonstrate is how to work with the partial update. The inputs on Product page will not be submitted all together. Only modified inputs will be submitted.

Modules which are hooked on the page must be able to enable the partial update so that, if

[2021-01-21 14:12] hibatallahAouadni commented on #22910
Hello @matowuut

You're right this hook hasn't be registred in the file hook.xml (even on develop branch)
Sorry for the inconvenience :confused:
Your issue is related to this one #17606.

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-01-21 14:13] PierreRambaud commented on #22354
Hi @florine2623
All decisions have to be taken by the Product team if it's not a developer feature :wink:

[2021-01-21 14:15] PierreRambaud commented on #21185
Feel free to create a pull request if you think it's relevant to separate the Filters from Order by without breaking anything :+1:

[2021-01-21 14:20] Art3c commented on #22775
@hibatallahAouadni can you help me migrate without loosing data?

[2021-01-21 14:23] khouloudbelguith commented on #22715
Hi @NeOMakinG,

I attached a screen record
https://drive.google.com/file/d/1fxcUvWiotCqKbmwaR6h7az7i93ShTb84/view?usp=sharing

Thank you!

[2021-01-21 14:28] Kyaary commented on #22760
Hello,
I'd like to start contributing to Prestashop.
Can I work on this issue ?

Thank you in advance

[2021-01-21 14:31] PierreRambaud commented on #20454
The issue is not waiting for dev, we continued in #20455 but since we had no answer we closed it :)

[2021-01-21 14:42] PierreRambaud commented on #18229
I'm more in favor of closing this issue and the associated pull request.
Hooks have types and predefined return values. If you intend to use a hook, you're responsible for doing something consistently.
Otherwise, this means we have to decrease PrestaShop performance by controlling all hooks because modules are malformed :(

[2021-01-21 14:42] w3bissime commented on #10908
Hello,
I have got this bug on Prestashop 1.6.1.24
Does anyone know how to correct it on this version?
Thank you

[2021-01-21 14:50] joaolago1113 opened #22931 "Fuzzy search - plural form doesn't fetch any results"
#### Describe the bug

Searching the plural form of words yields no results for products with the singular form of the word in the name. For example, "thermostats" doesn't fetch results for products with the word "thermostat", or "pumps" doesn't find the same results as searching for the singular "pump". But if I search for thermostats or pumps while replacing the last character 's' with any other

[2021-01-21 14:55] hibatallahAouadni commented on #22930
@matks so this improvement need specs **`TBS`** or is ready to be **`To Do`** ?

[2021-01-21 14:57] matks commented on #22930
@hibatallahAouadni Ready `To Do` I believe 😊  we know what we have to deliver

[2021-01-21 14:58] hibatallahAouadni commented on #22931
Hello @joaolago1113

Thanks for your issue but could please follow and respect the provided template to submit a bug report :wink:
I need your PS, PHP and Fuzzy search versions to be able to reproduce your issue.

Thanks!

[2021-01-21 15:03] PierreRambaud commented on #22760
Anyone can work on it,  just be the first the create the pull request :wink:

[2021-01-21 15:22] hibatallahAouadni commented on #22775
Hello @Art3c

Unfortunally I can't :confused: you may follow this documentation to apply a perfect backup before upgrading your shop:

https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/backup/

As mentionned before, we only handle issues related to the Core and the natives modules on Github. If you want specific help, you have a few choices:
* the [community forums](https://www.prestash

[2021-01-21 15:36] Progi1984 commented on #22870
The problem is only on the Italian language.

Why ? Because two strings in english have been translated by the same string.

:notebook: The problem is relative to Order Status (9 and 12).

**In english :gb:**
![image](https://user-images.githubusercontent.com/1533248/105373054-8d976300-5c06-11eb-8449-13d3537e8449.png)

**In italian :it:**
![image](https://user-images.githubusercontent.com/1533248/

[2021-01-21 15:42] hibatallahAouadni commented on #22606
Hello @cla1982 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-21 15:42] #22606 closed, assigned to nobody

[2021-01-21 15:45] matks commented on #10957
Hi, this task is for far in the future I think we can keep it single for now, and split it when we can come to it.

https://github.com/PrestaShop/PrestaShop/issues/12586

[2021-01-21 15:46] w3bissime opened #22933 "Prestashop 1.6.1.24"
#### Describe the bug

There are errors while saving queries in the sql manager.
Some simple queries are saved, other more complex are not.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to SQL Manager
2. Click on 'Add a new query.'
3. Add a name (whaterver) and copy-paste this code (without quotes):

SELECT *

[2021-01-21 15:47] hibatallahAouadni commented on #22929
Hello @manon-pitron

Welcome to PS :tada:
Well, as you can see I edit your issue cause you need to **follow the provided template to submit a complete bug report**.
Please next time follow the template :wink:

I need to know your PHP version cause I didn't manage to reproduce your issue with PS1.7.6.1 and PS1.7.7.0, see the attached screen record below:

- the first case: disable/enable a product

[2021-01-21 15:49] hibatallahAouadni commented on #22933
Hello @w3bissime ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep

[2021-01-21 15:49] #22933 closed, assigned to nobody

[2021-01-21 16:02] joaolago1113 commented on #22931
@hibatallahAouadni Sorry, I clicked the "report a problem" link from the BO and the template didn't show up. 🤔 Thought it wasn't needed.
I have PHP 7.3.26, Prestashop 1.7.7.1, and I'm guessing the latest stable fuzzy search version but I'll check.

[2021-01-21 16:09] jimmydupre opened #22934 "SEO Optimisation Micro-data"
#### Describe the bug

Product listings must not contain micro-data. This is a **recommendation from Google**.

Here is the source:
https://developers.google.com/search/docs/data-types/product#guidelines

I noticed that in the product thumbnails we have these attributes on the article tag that we could remove to correct this problem and be in the indications of Google :
[code]
apart from these, ar

[2021-01-21 16:10] joaolago1113 commented on #22931
How do you check fuzzy search version?

[2021-01-21 16:16] nthwyatt commented on #22883
I'm developing a backoffice module. It is invoked by URL by a cron mechanism to email a report. The email content come from the output of a HelperList.

I used a HelperForm in the example module because it made the program shorter. A HelperList is also unable to find a template file but it is 'file:helpers/list/list_header.tpl' instead of 'file:helpers/form/form.tpl'.

[2021-01-21 16:18] Hlavtox commented on #22647
@hibatallahAouadni Hi, there is nothing to edit. I can send you access to our store so you can check out our cart rules. Otherwise, it's standard.
- We have 25 active cart rules.
- 10 rules activated by a code.
- 15 rules that give a gift, if a product and group conditions are met.

[2021-01-21 16:24] nthwyatt commented on #22883
I had no success in setting _PS_ADMIN_DIR_ and even if I did there is no way to determine the admin dir on an exisiting site because it can be renamed for security reasons. No way to simply install the module.

Likewise I had no success in determining how to set the customer id. It is not available in the context and there seems to be no way to set it.

I see that gsitemap module uses gsitemap-cro

[2021-01-21 16:35] hibatallahAouadni commented on #22934
Hello @jimmydupre

Could you please check this issue #22636 cause it seems similar to yours :wink:
And we are already have a multiple similar issues about this topic:

#13737 - Solved - big problem about the canonical url in the category pages when there is pagination and multi languages
#15554 - Errors with latest changes on itemList for products listing
#15764 - Some microdata are missing in the

[2021-01-21 16:39] Julievrz commented on #22870
I corrected the translations on Crowdin.

See:
https://crowdin.com/translate/prestashop-official/all/en-it?filter=basic&value=0#q=On%20back%20orders
https://crowdin.com/translate/prestashop-official/all/en-it?filter=basic&value=0#q=On%20back%20orders

It should be automatically updated in a few days.

[2021-01-21 16:41] Progi1984 commented on #22870
@Julievrz Thanks. I will check on the next week ;)

[2021-01-21 16:45] Julievrz commented on #22870
Sounds great, thank you!

[2021-01-21 16:59] Betafer commented on #12669
Same problem, but without mailchamp.
Prestashop 1.7.6.8

Maybe but i'm not sure the problem is correlated to minimum order amount

[2021-01-21 17:08] joaolago1113 commented on #22931
#### Describe the bug

Searching the plural form of words yields no results for products with the singular form of the word in the name. For example, "thermostats" doesn't fetch results for products with the word "thermostat", or "pumps" doesn't find the same results as searching for the singular "pump". But if I search for thermostats or pumps while replacing the last character 's' with any other

[2021-01-21 17:31] guigplt opened #22936 "Improvement : be able to order by Best Sales in Product Settings"
I have updated faceted search module and now I can sort by best sales, which is great !
![image](https://user-images.githubusercontent.com/44002621/105387973-60eb4780-5c16-11eb-85b8-1dfbdbd55b95.png)

But I can't define this sorting by default.
![image](https://user-images.githubusercontent.com/44002621/105388064-7bbdbc00-5c16-11eb-83be-923bab2a7d0c.png)

There is no option on faceted search modul

[2021-01-21 18:06] lmeyer1 opened #22938 "1.7.7.1 - lazyarray prevents from access product in $params in hook filterProductContent"
#### Describe the bug

I'm trying to use the hook `filterProductContent`. I'd like to format the description and add some custom properties.
In my module I define this function

    public function hookFilterProductContent($params){
        $object = $params['object'];
        var_dump($object); // this shows me that $object['product']['description'] contains what I need, but product is protected

[2021-01-21 18:54] DeFault-1 commented on #14733
There is no app/cache folder in my PS 1.7.7.1

![image](https://user-images.githubusercontent.com/22258621/105398199-a4fd3d00-5c54-11eb-8d9b-496d269340e8.png)

[2021-01-21 18:56] DeFault-1 commented on #14733
The same old bug still exists in the latest PS 1.7.7.1

![Directory not found](https://user-images.githubusercontent.com/22258621/105398419-eb529c00-5c54-11eb-95f0-bd0a1cdc7a7d.jpg)

[2021-01-21 19:04] DeFault-1 commented on #16625
The same old bug still exists in **PS 1.7.7.1**

![Directory not found](https://user-images.githubusercontent.com/22258621/105399413-2c977b80-5c56-11eb-9b1e-6fbf4512417d.jpg)

[2021-01-21 19:46] tswfi commented on #18295
One more idea for customization

`{customer_number}` => allows merchant to pre or postfix the number with the customer number

this would allow the merchant to define something like

```{customernumber}{rand(5)}{ymd}```

or any other combination.

maybe even make the field "smarty" template so that it can contain some woodoo also :)

and of the default can be the current {random_alphanum(6)} or so

[2021-01-21 19:51] tswfi commented on #13212
The SEPA payment standard defines a payment reference that should also be generated for orders (or at least invoices).

https://en.wikipedia.org/wiki/Creditor_Reference

and I can tell that the checksum is really nice to have there :) all the banks in Finland can tell you right away that you have a typo in your reference while doing the payment just be checking the checksum :)

maybe this issue co

[2021-01-21 20:22] Flower7C3 commented on #14733
@DeFault-1 Your cache is in `var/` directory. See in You screenshot, there is `C:\Apache24\htdocs\internet-magazin\var\cache\dev/themes/` location.

[2021-01-21 21:05] Audiojungle opened #22939 "Prestashop 1.7.6.8 can't change attributes position"
HEllo,

I have huge problems with attributes positions.

I'm not able to change any attribute position, when i change position, it saves, then when i refresh it go back as it was before.

I've noticed that 3 of my attributes have exact same id position!!

Check this video please, i show that i can't change attribute position:
https://gyazo.com/80c07bbac930a09a459631f53d75b790

Anch check this scre

[2021-01-22 06:26] kpodemski commented on #22883
You should rethink strategy of your module, using `Helper` in cron task is wrong choice. You should have separated method to use in both `Helper` and `cron` task. You can create one method and control output via some arguments etc.

I'm closing this ticket as this is not really a bug, we are not allowing rendering of back-office UI outside back-office.

If you want to discuss possible ways of achi

[2021-01-22 06:26] #22883 closed, assigned to nobody

[2021-01-22 07:53] jimmydupre commented on #22934
I looked at the issues you gave me unfortunately that is not one of them.
I think it would be interesting to add it to this issue:
[#18402](https://github.com/PrestaShop/PrestaShop/issues/18402) - [EPIC] - SEO optimizations

[2021-01-22 08:18] NeOMakinG commented on #22026
Add 2 products on you'r order create page, then up or down the quantity, wait for it to be updated and you'r mouse won't be focusing the arrow you were focusing before @PierreRambaud

[2021-01-22 08:25] UnclePetros opened #22940 "Prestashop Checkout configuration page not opened"
#### Description

Prestashop checkout module (latest versione v2.5.0) not usable.
After installation, when clicking on the configure button, an empty page is showed.

#### Expected behavior

Configuration page is showed and module can be configured correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Prestashop administration module
2. Install Prestashop Checkout latest

[2021-01-22 08:54] NeOMakinG commented on #19612
For material checkboxes, we needs to manage it using JS on the UIKit side

For radio, I did a PR on the core

[2021-01-22 08:57] NeOMakinG commented on #19612
@PrestaShop/prestashop-maintainers I need a backend dev, in order to setup the required feature for material checkboxes, as the class needs to be at the top of the material tree

[2021-01-22 09:13] NeOMakinG commented on #22715
Yes I did it :/

[2021-01-22 09:15] florine2623 commented on #22940
Hi @UnclePetros ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules. For Checkout, there's an email address where you can explain your problem : support-checkout-download@prestashop.com

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2021-01-22 09:15] #22940 closed, assigned to nobody

[2021-01-22 09:16] sarahdib opened #22943 "Bad number of visits on module statsbestcustomers"
#### Describe the bug

there is a regression maybe linked to the fix of the PR PrestaShop/statsbestcustomers#16
The visits counter is incremented even if the customers is not logged
See the video I create an order from FO when I change the status order visits change. I create an order from the BO the visits status is incremented

**Screenshots**
https://drive.google.com/file/d/1E1fuphQoIwOb-XYFICA

[2021-01-22 09:27] florine2623 commented on #22939
Hi @Audiojungle ,
I can't reproduce your issue, please check my screen record : https://drive.google.com/file/d/1Zk4f9WugCFbbmYQZJ3QU_W7jIhMz-K2g/view

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community for

[2021-01-22 09:27] #22939 closed, assigned to nobody

[2021-01-22 09:37] florine2623 commented on #22936
Hello @guigplt ,
This is an improvement request. I will ping our product team, so please stay tuned !
Thanks!

[2021-01-22 09:38] florine2623 commented on #22936
Ping @PrestaShop/product-team ,

Is it possible to add the value "Best Sales" in Shop Parameters > Products Settings > Pagination > Default Order By :
![Capture d’écran 2021-01-22 à 10 35 52](https://user-images.githubusercontent.com/16019289/105473854-e403b080-5c9d-11eb-843a-968e7257f813.png)

Thanks !

[2021-01-22 09:49] nisteria commented on #22899
InvalidArgumentException:
"" cannot be interpreted as a number

  at vendor/prestashop/decimal/src/Builder.php:40
  at PrestaShop\Decimal\Builder::parseNumber('')
     (vendor/prestashop/decimal/src/Number.php:73)
  at PrestaShop\Decimal\Number->__construct('')
     (src/Adapter/CombinationDataProvider.php:149)
  at PrestaShop\PrestaShop\Adapter\CombinationDataProvider->completeCombination(array(a

[2021-01-22 09:57] guigplt commented on #22936
Okay, but I think it should be an improvement of Faceted search module.

Currently, this is displayed on the front :
![image](https://user-images.githubusercontent.com/44002621/105474541-9cc9ef80-5c9e-11eb-8c0d-5fa23c6bdf14.png)

And this is available on the back office configuration :
![image](https://user-images.githubusercontent.com/44002621/105474689-d1d64200-5c9e-11eb-8ea6-af23bf2e1a94.png)

[2021-01-22 10:02] nisteria commented on #22899
in src/Adapter/CombinationDataProvider.php (line 149)
            $attribute_unity_price_impact = 1;        } elseif ($combination['unit_price_impact'] < 0) {            $attribute_unity_price_impact = -1;        }        $finalPrice = (new Number((string) $product->price))            ->plus(new Number((string) $combination['price']))            ->toPrecision(CommonAbstractType::PRESTASHOP_DECIMAL

[2021-01-22 10:10] hibatallahAouadni commented on #22899
Hello @nisteria

Following your steps I didn't manage to copy a product from store to another, see the attached screen record below:

https://drive.google.com/file/d/1XCMVNsXvPMoRwYTbNw42vz1qGx7FFDOa/view

And AFAIK, copying a product from store to another in this way is impossible :confused:
But let's ask the Product Team :wink:

Ping @PrestaShop/product-team is there a way to copy a product from

[2021-01-22 10:19] nisteria commented on #22899
I have cahnge

scr/Adapter/CombinationDataProvider.php

Line 149
      $finalPrice = (new Number((string) $product->price))
            ->plus(new Number((string) $combination['price']))
            ->toPrecision(CommonAbstractType::PRESTASHOP_DECIMALS);
 to
     /**   $finalPrice = (new Number((string) $product->price))
            ->plus(new Number((string) $combination['price']))
            ->

[2021-01-22 10:19] florine2623 commented on #22938
Ping @PrestaShop/prestashop-core-developers ,

Could you take a look at this please ?
Thanks!

[2021-01-22 10:23] khouloudbelguith opened #22946 "FO - Discount - Incorrect display on FO with free gift + percentage cart rule"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/22768#issuecomment-759388271
On FO, when a cart rule with a free gift + percentage discount is added to the cart, the discount displayed on the line of this cart rule is incorrect **only** when the gift is ordered also because the percentage discount is calculated also on the gifted product price.
The To

[2021-01-22 10:33] kpodemski commented on #22938
Hello @lmeyer1

Take a look. https://gist.github.com/kpodemski/0d2e8171e5b954b687bbc35a6fab63ee

[2021-01-22 10:43] khouloudbelguith opened #22948 "BO - Add new Order page & Shopping cart page - Discount - Incorrect display on FO with free gift + percentage cart rule"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/22768#issuecomment-759388271
In the BO > Add new Order page & Shopping cart page, when a cart rule with a free gift + percentage discount is added to the cart, the discount displayed on the line of this cart rule is incorrect because the percentage discount is calculated also on the gifted product price.

[2021-01-22 10:49] hibatallahAouadni commented on #22873
Hello @sarahdib

I didn't manage to repdouce your issue with develop, see the attached screenshots below:

- **BO**>**CONFIGURE**>**Shop Parameters**>**General**

![image](https://user-images.githubusercontent.com/23308427/105481460-5dec6780-5ca7-11eb-859d-10669c3ae415.png)

- **BO**>**CONFIGURE**>**Shop Parameters**>**Customer Settings**

![image](https://user-images.githubusercontent.com/2330842

[2021-01-22 10:59] nisteria commented on #22899
now i can not SAVE the Product
and the next problem is

Path | Message | Invalid value | Violation
-- | -- | -- | --
children[step3].children[minimal_quantity].data | Dieser Wert sollte nicht leer sein. | null | ConstraintViolation {#9034 ▼   -message: "Dieser Wert sollte nicht leer sein."   -messageTemplate: "This value should not be blank."   -parameters: [▶]   -plural: null   -root: Form {#256

[2021-01-22 11:10] dali-rajab opened #22949 "multiple CMS blocks"
Hello everyone !
Can this module create more than one CMS block ? because it's strange for me to use the object model for just only one record.

[2021-01-22 11:12] nisteria commented on #22899
ConstraintViolation {#9034 ▼
  -message: "Dieser Wert sollte nicht leer sein."
  -messageTemplate: "This value should not be blank."
  -parameters: [▼
    "{{ value }}" => "null"
  ]
  -plural: null
  -root: Form {#256 ▼
    name: "form"
    type_class: "Symfony\Component\Form\Extension\Core\Type\FormType"
    data: [▼
      "id_product" => "72"
      "step1" => [▶]
      "step2" => [▶]
      "ste

[2021-01-22 11:13] nisteria commented on #22899
"minimal_quantity" => null

[2021-01-22 11:17] hibatallahAouadni commented on #22934
Hello @jimmydupre

Could you please check this screen record below:

https://drive.google.com/file/d/16aBG8tfPRGuo6XpHqh-C7k3E62p6sLLY/view

I believe this is your issue, please check and feedback.
Thanks!

[2021-01-22 11:27] florine2623 commented on #22949
Hi @dali-rajab ,

If you're talking about Link Widget module, yes you can create multiple blocks.
![Capture d’écran 2021-01-22 à 12 26 43](https://user-images.githubusercontent.com/16019289/105485397-1a94f780-5cad-11eb-8b58-2acd889ffd9a.png)

If you're talking about CMS Pages, you can add categories and pages :
![Capture d’écran 2021-01-22 à 12 26 33](https://user-images.githubusercontent.com/

[2021-01-22 11:27] #22949 closed, assigned to nobody

[2021-01-22 11:47] nisteria commented on #22899
When i copy the Product to any Shops   the dont copy   PRICE, minimal_quantity,  Look Video

https://drive.google.com/file/d/1k9blmGoO55elUhb_0KvATR4njTwO98tP/view?usp=sharing

[2021-01-22 11:49] nisteria commented on #22899
https://drive.google.com/file/d/1bRd521EZNwCSN7ViFp3xhAgh3d_wh-Un/view?usp=sharing

[2021-01-22 11:56] hibatallahAouadni commented on #22648
Hello @gyan111

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22416.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-22 11:56] #22648 closed, assigned to nobody

[2021-01-22 11:56] hibatallahAouadni commented on #22648
Duplicate of #22416

[2021-01-22 12:00] hibatallahAouadni commented on #22832
Hello @KrisDV-GH

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10206.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-22 12:00] #22832 closed, assigned to nobody

[2021-01-22 12:00] hibatallahAouadni commented on #22832
Duplicate of #10206

[2021-01-22 12:03] matthieu-rolland commented on #16268
Wow, I really need to have a look in the code again and see if the suggestion is still relevant, the code has been modified a lot since then...  but can put it in todo: looking for possible improvements could be part of the issue

[2021-01-22 12:13] hibatallahAouadni commented on #22899
Hello @nisteria

OK, thanks for your feedback :relaxed:
I already notify the product team and they will respond you ASAP, so please stop spamming the issue :sweat_smile:

Thanks!

[2021-01-22 12:34] hibatallahAouadni commented on #22926
Hello @dalmas-fred

SO you encounter this issue only when this theme is applied?
Please check and feedback.

Thanks

[2021-01-22 12:36] fdonnet opened #22950 "Dependencies issue : composer require --dev prestashop/php-dev-tools"
#### Describe the bug

Fresh git clone, installation ok.
Cannot run "composer require --dev prestashop/php-dev-tools", issue with nikic/php-parser

#### Expected behavior

Dev-tools correctly installed

#### Steps to Reproduce

Composer v1

1. Clone repo
2. Composer install
3. Install presta via instal-dev
4. Go to root folder
5. Run composer require --dev prestashop/php-dev-tools => failed to bui

[2021-01-22 12:38] dalmas-fred commented on #22926
Sorry but I'm not able to go back, I mean the button to change the theme doesn't work anymore.
By the way my installation is local so how could I give you access to it?

Thanks.
Best regards

⁣Télécharger BlueMail pour Android ​

Le 22 janv. 2021 à 13:35, à 13:35, Hibatallah Aouadni <notifications@github.com> a écrit:

[2021-01-22 12:53] dbartelmus commented on #22215
This is "quick fix" for viewing order.
However this problem exist on quick view, on address edit page and maybe somewhere else.
While fields in SQL are NULL - we got an error due to lack of handling - in my case all was under customers address.

[2021-01-22 12:57] dbartelmus commented on #22215
for eg. PrestaShop\PrestaShop\Core\Domain\Address\QueryResult\EditableCustomerAddress - try to open address edit while some fields are NULL

[2021-01-22 13:04] hennaboy commented on #22215
dbartelmus is correct. This will not resolve the problem elsewhere and the issue is with the customers addresses and null fields.

I saw no choice but to revert back to the previous version.

[2021-01-22 13:09] dbartelmus commented on #22215
This need to be fixed on core layer due to existing third party modules which can aggregate database with NULL fields, eg. creating orders with customers address.

[2021-01-22 13:11] hennaboy commented on #22215
Needs to be fixed on core as it caused an issue with myself and I do not use any such module. Only default core for customer account creation!

[2021-01-22 13:13] jimmydupre commented on #22934
Hello @hibatallahAouadni ,
It's exactly that. Thank you

[2021-01-22 13:15] matks commented on #22950
Hi @fdonnet prestashop/php-dev-tools is a tooling kit for modules, not PrestaShop Core.

Indeed it cannot be installed on PS Core but it's not something we want to happen ? 🤔

[2021-01-22 13:22] florine2623 commented on #22733
Hi @Soowarez ,
since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2021-01-22 13:22] #22733 closed, assigned to nobody

[2021-01-22 13:22] fdonnet commented on #22950
Ok, my bad, I was trying to follow some docs because in my personal github repo I had an issue with the php-cs fixer in the github commit actions (exit code 8) in dry run (i just play on theme for the moment, so ti was strange).

But, i solved this github issue... bad .gitignore def on my side.

Thx a lot for the return. I m closing the issue.

[2021-01-22 13:22] #22950 closed, assigned to nobody

[2021-01-22 13:23] florine2623 commented on #22840
After doing "Create a user and grant permissions to one specific database name."
What are the next steps ?

[2021-01-22 13:48] mvorisek commented on #22840
@florine2623 set that database name to config - nothing more :)

[2021-01-22 13:50] javierrojas10 commented on #22215
You are rigth, it need's to be fixed on core, for any null value, i maid a migration with the ETS sowftware. Wasn't the first time, and at ps1.7.6.5 works perfectly, but at 1.7.7.0 i got this error at order viewing. For those, who have this error, could be better to downgrade or fix manually the files with conditionals over the sensitive data that could be null after a process, or with a some cust

[2021-01-22 13:59] hibatallahAouadni commented on #22926
Hello @dalmas-fred

As you can see in the attached screen record below I can add a pictures to product and I can change he Theme:

https://drive.google.com/file/d/1ZPXF9lr8l_KEntdS7vSSE5zYDuzrEcYi/view

Please check and feedback.
Thanks!

[2021-01-22 14:02] hibatallahAouadni commented on #22934
Hello @jimmydupre

Thanks for the feedback.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22416.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-22 14:02] #22934 closed, assigned to nobody

[2021-01-22 14:02] hibatallahAouadni commented on #22934
Duplicate of #22416

[2021-01-22 14:05] khouloudbelguith opened #22951 "FO - Discount - Incorrect display on FO with free gift + percentage cart rule with Exclude discounted products is enabled"
#### Describe the bug

Thanks to @kpodemski Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/22768#issuecomment-765324937
On FO, when a cart rule with a free gift + percentage discount is added to the cart, the discount displayed on the line of this cart rule is incorrect when  **Exclude discounted products enabled**.

#### Steps to Reproduce

Steps to reproduce the behavior

[2021-01-22 14:08] hibatallahAouadni commented on #22215
Hello everyone,

Could you please provide clear and concise steps to reproduce the problem.
Cause when I upgrade my shop from 1.7.6.4 to 1.7.7.0, the only issue I reproduce is #22250
So, please help me up :pray: maybe there's a missing detail like you create an order missing some fields and with the new patch that field became required, ... I don't know :confused:
If I managed to reproduce, then w

[2021-01-22 14:11] florine2623 opened #22952 "Product title should be able to have the "=" character"
#### Is your feature request related to a problem?

In PS 1.7.7.1, I can't create a product with a title containing an equal (=) character.

#### Describe the solution you'd like

I would like to be able to create a product name with a "=" sign.

#### Screenshots
![Capture d’écran 2021-01-22 à 15 07 46](https://user-images.githubusercontent.com/16019289/105500744-9ac65780-5cc3-11eb-80d1-1501d792

[2021-01-22 14:12] florine2623 commented on #22952
Ping @PrestaShop/product-team ,
A PrestaShop Agency has requested this, do you think it would be possible to implement this ?

Thanks!

[2021-01-22 14:16] dalmas-fred commented on #22926
I have no doubt about it but in my case it doesn't work. What do you use to capture the screen in video?. I can do the same and send it to you.

⁣Télécharger BlueMail pour Android ​

Le 22 janv. 2021 à 14:59, à 14:59, Hibatallah Aouadni <notifications@github.com> a écrit:

[2021-01-22 14:34] jimmydupre commented on #22416
Hello everyone,

I join this issue because I encountered the same problem. For my part, I encountered this problem on the pages where there are product listings.

I removed the "itemscope" and "itemtype" attributes from the product.tpl file in the folder to fix the problem:
themes> classic> templates> catalog> _partials> miniatures

I therefore followed the instructions of Google which does not re

[2021-01-22 14:56] tswfi commented on #9641
ok, so this could probably be fixed with hooking into `actionEmailSendBefore` in ps_emailalerts and if the template is `productoutofstock` and the recipient is NOT on the ps_emailalerts recipient list returning null?

or adding a new "don't send emails to me" that the admin user can then set for themself?

or something else...

[2021-01-22 15:58] dali-rajab commented on #22949
thank you @florine2623 for your quick response. I was'nt clear because i didn't realize  ps_customtext repository redirected me here In fact i'm talking about CMS blocks (https://github.com/PrestaShop/ps_customtext), i'm not talking about CMS pages. So for exemple, let's say we have this block 1 in home page :

![custom_text_1](https://user-images.githubusercontent.com/39015823/105511762-905e8a80-

[2021-01-22 16:04] florine2623 commented on #22840
Ok, so where is the issue ?
Sorry, i'm not sure I understand.
How do you implement the tests ?

[2021-01-22 16:18] hibatallahAouadni commented on #22926
Hello @dalmas-fred

Install the Screencastify Chrome extension:

![image](https://user-images.githubusercontent.com/23308427/105503006-58524a00-5cc6-11eb-91f3-f8d9aabdba1d.png)

And it seems like you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/

[2021-01-22 16:18] #22926 closed, assigned to nobody

[2021-01-22 16:24] PierreRambaud commented on #22026
Still not able to reproduce the issue :sweat_smile:

[2021-01-22 17:18] LouiseBonnard commented on #22834
Hi @yannicka, thanks for your improvement idea! If you have only one contact set in Shop Parameters > Contact, then the visitor/customer should have no other selecting option than the one you configured in the BO. Not two like in the screenshot.

As for disabling this field in the FO when only one contact is available for the visitors/customers, I got the idea but this feature actually does not wo

[2021-01-22 17:20] hibatallahAouadni commented on #22416
Thanks @jimmydupre

[2021-01-22 17:25] LouiseBonnard commented on #22952
Hi @florine2623, thanks for the feedback! Could you share an example?

[2021-01-22 17:30] mvorisek commented on #22840
@florine2623 the tests currently modifies the database name which is not ok (as different database name can not be accessible in general, even impossible to grant in some enviroments with generated database names)

[2021-01-22 17:41] LouiseBonnard commented on #22571
Hi @idnovate, thanks for sharing this issue! @sowbiba, can you confirm it is handling by your current work on the translation system?

[2021-01-22 17:45] LouiseBonnard commented on #22914
Hi there! If it is not used and nothing in the code is referring to it, then my opinion is: it should be deleted. 😄

[2021-01-22 17:50] LouiseBonnard commented on #22878
Hi @maofree, I'm afraid it might complexify the code a lot... @MatShir, @matks, as our great product page team, what do you think?

[2021-01-22 20:42] yannicka commented on #22834
The screenshot is not mine, I have the same rendering but with a single choice

[2021-01-22 21:10] Eva-F opened #22956 "Validation of orderBy does not allow backticks"
#### Is your feature request related to a problem?

I wonder why validation of orderBy doesn't allow backtick character "`".
Is there serious reason for it?

classes/Validate.php

[code]

my order by
[code]

is not valid.

Funny thing is, that backticks are added by  classes/controller/AdminController.php  **checkOrderBy** function
[code]

it is imho bug, because  orderby  in the form alias.field

[2021-01-22 21:50] itsvahid opened #22957 "Product image edit form is not displayed in mobile view"
#### Describe the bug

Product image form does not display in the small screen views. and increasing height of the caption textarea of the image in the edit form messes up the UI.

#### Expected behavior

The height of the parent components and divs increase as the content (in this case caption textarea) increases. and after clicking on any image previews, the edit form shows up in mobile view.

#

[2021-01-22 22:27] Eva-F opened #22958 "Deleted customer (flag deleted=1) + Customer view"
#### Is your feature request related to a problem?

I would appreciate if deleted customer (ps_customer.deleted=1) view/edit would display the mark "deleted"

Further would be usefull to add parameter "$deleted" into classes/Customer.php getCustomers function
instead of
[code]
something like that:
[code]

[2021-01-23 10:59] pppplus opened #22959 "missing Hook in database"
#### Describe the bug
Just a small problem :
The hook displayBanner is missing in database.
And is present in default template (/classic/templates/_partials/header.tpl)

#### Additional information

* PrestaShop version: 1.7.7.1

[2021-01-23 10:59] #22959 closed, assigned to nobody

[2021-01-23 11:00] pppplus commented on #22959
duplicate, sorry
https://github.com/PrestaShop/PrestaShop/issues/17606

[2021-01-23 12:18] CISKITO93 opened #22960 "Backoffice access error after updating to 1.7.7.1"
Hello guys,

I have updated from 1.7.6.9 to 1.7.7.1 and at the end of the update it has given me these errors:

SQL 1.7.7.0 1709 in ALTER TABLE `ps_connections_source` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci: Index column size too large. The maximum column size is 767 bytes.
SQL 1.7.7.0 1709 in ALTER TABLE `ps_customer` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_c

[2021-01-23 15:28] musicpanda opened #22961 "Rolling back upgrade not possible"
#### Describe the bug
A few days ago I upgraded a fresh 1.7.7.0 shop to 1.7.7.1. I got all kinds of problems and decided to roll the upgrade back. This resulted in errors:
 - [INTERNAL] /var/www/vhosts/kohbaba.com/httpdocs/classes/shop/Shop.php line 346 - Invalid argument supplied for foreach()
 - [INTERNAL] /var/www/vhosts/kohbaba.com/httpdocs/config/config.inc.php line 122 - Error: Call to a mem

[2021-01-23 17:36] andromaque commented on #18458
@matks For the transition period, the field "name" could stay in the database (but not referenced anymore in the BO). That way, we do not break any module, and for the next major this field could be removed.
Also I don't think that the upgrade would be a heavy SQL script, the current name could be simply copied for every language activated, and modified later by the shop owner in the BO.

For the

[2021-01-23 17:39] Hlavtox commented on #15635
@PierreRambaud Hi, I was just debugging why there is an empty page when I select a color from filters. Ran the query manually and wondered why there is an attribute condition in the query. Aaaaahaaaaa. Renamed Color feature to something else and now it works. We need to fix this man!!! :D

I tried just to change the feature URL slug, but also didn't work. Is it even used or is it a remain of layer

[2021-01-23 18:38] Audiojungle commented on #22939
hello,

if someone have the same problem, here is the solution

it's a prestashop bug, i've fixed it like this:
1.create one useless attribute to delete
2.change attributes positions
3.delete useless attribute

[2021-01-23 19:12] Audiojungle opened #22962 "Google doesn't recognise rich snippets in FO Product page"
Hello,
#### Describe the bug
I have problem with rich snippets, this is the url i'm testing with Google search console:
https://twin-shop.be/en/carhartt-wip-w-pierce-pant-dusty-h-brown-rinsed.html

For this url Google tells me that the field description and sku are missing, when i click on the "missing field description", google shows me JSON code: https://prnt.sc/xihapo

But in my codes, this fie

[2021-01-23 21:34] nisteria opened #22963 "Payment Stripe Error when First and Last name longer then 30 character"
#### Describe the bug

its only when the First and Last name is longer then 30 Character

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Pay with Stripe Sofort
2. Login Bank
3. Paymant ok and go back to Shop
4. See error

**Screenshots**
https://domain.at/module/stripe_official/validation?client_secret=src_client_

[2021-01-23 22:10] iliankirov opened #22964 "Categories page in BO doesn't show categories list"
#### Describe the bug

The categories page on BO doesn't show the categories, that are created. I cleared the cashe and refresh many times but there is no result.

#### Expected behavior

The page have to display available categories, and they have to be able to be edited.

#### Steps to Reproduce

Steps to reproduce the behavior:

- Go to 'BO'
- Click on 'Catalog > Categories'
- See error, that I

[2021-01-23 22:17] matks commented on #22963
Hi @nisteria this repository accepts bug reports for the project itself. I am sorry but the Stripe module is out of the scope.

You need to reach out to the module developer. If this module has been bought on the PrestaShop Addons Marketplace, you can contact the developer through the link provided on their Marketplace page.

[2021-01-23 22:19] matks commented on #22960
Hello, the error message seems very similar to https://github.com/PrestaShop/PrestaShop/issues/22809 . Do you use Oracle MySQL?

[2021-01-23 22:21] matks commented on #22952
It has to be confirmed, but I think characters such as "=" are not accepted because they create unreliable/unusuable product URLs. If we want to accept such characters, we have to verify URLs for the related product page work fine.

[2021-01-23 22:32] planetwebmethods commented on #16804
There is a hack.
on the database level check your existing id_shop column in orders and customer tables. 99% of times it would be =1
1 should be replaced with your current id from  select * from ps_shop; if you have 1 shop only for now, then you will have 1 row here. If you created another shop already use the existing shops id_shop value.

1. update ps_orders set id_shop = null;
2. update ps_cust

[2021-01-24 06:20] TheGera commented on #12452
this is not an error, it is merely development and design ... with webpack we can disable it when compiled ...

actually it would be easier for us to delete it manually ...

-backupfile
open the themes/core.js file and delete the last line ...

![image](https://user-images.githubusercontent.com/47211666/105622757-9f7d2f80-5dd9-11eb-9189-8607623699d8.png)

There are also templates in the css and js

[2021-01-24 06:23] Seb33300 opened #22968 "Override emails templates from shop theme is broken"
#### Describe the bug

When overriding an email footer template in our theme folder, the core email is still sent with the default footer.

#### Expected behavior

We should receive the email with the override footer

#### Steps to Reproduce

1. under your project source `themes/classic` create a directory `mails/themes/modern/componenets`
2. copy footer.html.twig from `/mails/themes/modern/compon

[2021-01-24 09:09] #22963 closed, assigned to nobody

[2021-01-24 09:11] SimonGrn commented on #22964
Hello,

The "out of memory" error means your server doesn't have enough memory to handle rendering the categories.
I suggest you contact your hosting provider to upgrade your memory.

Since this is not linked to the Core, I close this issue. Feel free to answer the thread if you have new informations.

Thank you !

[2021-01-24 09:11] #22964 closed, assigned to nobody

[2021-01-24 12:08] hibatallahAouadni commented on #10018
Hello @marionf

Unfortunally I repdroduced the issue with PS1.7.7.1 and Faceted Search v3.7.0, see the attached screen record below:

https://drive.google.com/file/d/1CXHXHvgj74NGgOcpNjOdPocMOzobZE1F/view

I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2021-01-24 16:45] Kyaary commented on #22760
'Does it look like what you were expecting ?
My PR is ready to review ! :smile_cat:

![PR](https://user-images.githubusercontent.com/22498741/105637064-b3717180-5e6b-11eb-87e2-e8c7e7f87b22.png)
![PR2](https://user-images.githubusercontent.com/22498741/105637065-b4a29e80-5e6b-11eb-82ec-94c0ce957c86.png)

[2021-01-24 17:49] musicpanda commented on #22819
I have tried several times to do that and my experience is that it is a hopeless endeavor. Maybe one in ten proposals will be approved and the quality of the rejections is depressing. So I have decided that I can contribute more to the Prestashop community by maintaining and expanding the tools I support ([Prestools](https://www.prestashop.com/forums/topic/1011667-free-script-prestools-suite-mass-

[2021-01-24 19:31] hibatallahAouadni commented on #10056
Hello @marionf & @LouiseBonnard

As you can see in the screenshot, I installed this theme Pure Bio v2.5.4 and the only buttons displayed are "use this theme" and "delete". Even though this theme has a new version released :confused:

![image](https://user-images.githubusercontent.com/23308427/105640920-4963c700-5e81-11eb-8a2b-1b45655f4602.png)

And if I install the new version, the system displays

[2021-01-24 21:26] matks commented on #22819
@musicpanda Telling people on the internet "eyh, the quality of your work is depressing" or "eyh, your process is rather seriously broken" is not going to boost their motivation to look at the topic you bring on the table. Actually it will rather do the opposite : people will start to ignore you or block you.

It seems you are trying to tell us about real issues, but if you keep wrapping the topic

[2021-01-24 23:29] hibatallahAouadni commented on #22142
Hello @polevoyk

Sorry for the late response. I tried to reproduce your issue following your steps and here's what I got:

1. Multistore enabled (store1: presta1771, store2: PrestaFast)
2. I created an employee for Store1 presta1771: a.hibatallah@gmail.com
3. I created an employee in Store2 PrestaFast: a.hibatallah@hotmail.com
4. PrestaFast: I set the product quantity to 0
5. I only receive the "o

[2021-01-24 23:41] hibatallahAouadni commented on #9941
hello @Prestaworks

Could you please help me up to understand the problem :pray:
So, I followed your steps:

1. Multistore enabled
2. Store1: presta1771 with Classic Theme
3. Store2: PrestaFast with PureBio
4. I checked the FO in both stores and it seems all the modules works to me :sweat_smile:

Is there something missing me?? See the attached screen records below:
Part 1 : https://drive.google.c

[2021-01-24 23:48] hibatallahAouadni commented on #21999
Hello @marionf

I followed these steps:

1. Add thumbnail menu to any category, for example category id 10
2. Go on server in folder /img/c/10-0_thumb.jpg => /img/c/10-0_thumb.jpg.webp
3. Again add thumbnail menu to category id 10
4. An image will be created with the path: /img/c/10-1_thumb.jpg.webp

And that was the result, I have two thumbnails for a category:

https://drive.google.com/file/d/1Q

[2021-01-25 00:07] hibatallahAouadni commented on #22796
Hello @HartLarsson

Even when I changed my default language to Italian, I didn't manage to reproduce, see the attached screen record below:

https://drive.google.com/file/d/1F5PPd7iGHcig4MbXm1UEVFWOOZNnZMYI/view

Please check and feedback.
Thanks!

[2021-01-25 00:19] hibatallahAouadni commented on #12143
Hello @marionf

The only issue that I managed to reproduce is this #10018 see the attached screen record below:

https://drive.google.com/file/d/1SZ5ETLmoTONcwlX6KP66iiedeCg7gs7p/view

https://drive.google.com/file/d/1yS17yBxSG7lfVLeS0lDnNuLCRxY9E1EN/view

Please check and feedback.
Thanks!

[2021-01-25 00:25] hibatallahAouadni commented on #22914
Well then we had the approval :tada: changing the label to **`To Do`** :wink:

[2021-01-25 00:31] hibatallahAouadni commented on #22386
Hello @mvanas ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-25 00:31] #22386 closed, assigned to nobody

[2021-01-25 00:32] hibatallahAouadni commented on #22640
Hello @linuxatico ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-25 00:32] #22640 closed, assigned to nobody

[2021-01-25 00:38] hibatallahAouadni commented on #22594
Hello @Stampa-Stampa ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-25 00:38] #22594 closed, assigned to nobody

[2021-01-25 01:37] guicunha87 commented on #22960
Estou com o mesmo problema, porém baixei uma image limpa direto do site.

[2021-01-25 06:31] kpodemski commented on #22914
My suggestion is to remove it from installer but don't touch with update script, what do you think @PierreRambaud ?

[2021-01-25 07:29] yannicka opened #22970 "Make a combination unavailable for sale"
#### Is your feature request related to a problem?

I would like to be able to continue to display a combination, but to make it unavailable for sale, even though there is still stock.

#### Describe the solution you'd like

An "Available for sale" checkbox, checked by default, which can be unchecked, or something similar.

---
Edit:

![image](https://user-images.githubusercontent.com/23308427/105

[2021-01-25 07:49] lmeyer1 commented on #22938
Thank you. This works. I didn't understand `LazyArray` well enough.

    public function hookFilterProductContent($params){
        $object = $params['object'];
        var_dump($object);
        var_dump($object['description']);
    }

The first `var_dump` shows:

    object(PrestaShop\PrestaShop\Adapter\Presenter\Product\ProductLazyArray)
        protected 'product' =>
            array (size=12

[2021-01-25 07:49] #22938 closed, assigned to nobody

[2021-01-25 07:51] #22872 closed, assigned to NeOMakinG

[2021-01-25 07:53] Progi1984 commented on #22615
@PierreRambaud This PR #22768 fixes this issue ?

[2021-01-25 08:17] NeOMakinG commented on #22026
Which browser ? I reproduced it on chrome :/

[2021-01-25 08:18] LouiseBonnard commented on #10056
Noted, thanks for your reply, @hibatallahAouadni! @TristanLDD, @PrestaShop/ux-team, can you have a look, please?

[2021-01-25 08:20] NeOMakinG commented on #22873
I think the star needs to be after the label isn't it?

[2021-01-25 08:32] LouiseBonnard commented on #22952
Thank you, @matks, how complex can this be? I can't really imagine in which case the use of the '=' character is required...

[2021-01-25 08:41] Prestaplugins opened #22971 "Missing column in ps_tab"
*** Issue ***
After updating from 1.7.6.x to 1.7.7.x the column "route_name" is missing in table ps_tab, but it's in the Tab.php class.
The script allowing to add this column is not in the "install" folder, and it's not added by 1 click upgrade.
So, it's no more possible to manipulate tabs.

*** Way to reproduce ***
Update any 1.7.6.x shop to 1.7.7.0 or 1.7.7.1.

*** Expected behavior ***
Have a p

[2021-01-25 08:43] kpodemski commented on #22971
Hello,

firstly, this column is added via Doctrine so if you don't see it it might be related to some issues during upgrade.

secondly, please follow the template to submit a complete bug report and fill the blocks that we provided in the template (describe the bug, expected behavior, steps to reproduce, ..).

Thank you 👍

[2021-01-25 08:43] #22971 closed, assigned to nobody

[2021-01-25 08:45] Prestaworks commented on #9941
@hibatallahAouadni Does the theme PureBio have custom hooks? if it does, make a child theme for shop1 and another child theme for shop2 then activate the themes in both shops.

[2021-01-25 08:49] PierreRambaud commented on #22914
I agree, don't remove a table, it's maybe used by someone :sweat_smile:

[2021-01-25 08:49] PierreRambaud commented on #22615
I think yes ^^

[2021-01-25 08:50] PierreRambaud commented on #22026
Chrome on Linux :thinking:

[2021-01-25 08:57] Progi1984 commented on #22615
@khouloudbelguith Is it ok for you (I see you adding and removing the "Fixed" label) ?

[2021-01-25 09:16] hibatallahAouadni commented on #22873
@NeOMakinG well I think so :sweat_smile:
Ping @PrestaShop/ux-team where should the star be? after the label or before the label?

[2021-01-25 09:33] marionf commented on #12143
Thank you @hibatallahAouadni

[2021-01-25 09:33] #12143 closed, assigned to nobody

[2021-01-25 09:37] ced--ced opened #22972 "Split payment amount 1.6.1.24"
Hi,

We have a payment issue on the shop. This happens whatever the payment method, being Payzen or Paypal.

When a customer places an order, the order value sent to payment portal is randomly reduced. The customer pays then only part of the order.

The successful payment comes back to the shop and the order is created, logging the reduced amount paid.

When we change the order status to "order be

[2021-01-25 09:41] ced--ced opened #22973 "Dashboard stats error 1.7.7.0"
Hi,

When we try to compare a date period in the dashboard stats, it's not possible to open the dropdown list to choose what we want to compare it with.

We then get the error message "The selected period is not valid".

Thanks

![Screen Shot 2021-01-18 at 16 37 26](https://user-images.githubusercontent.com/71735/105688390-73ed6880-5ef1-11eb-8e53-a48908d4a562.png)
![Screen Shot 2021-01-18 at 16 37

[2021-01-25 09:42] hibatallahAouadni commented on #22972
Hello @ced--ced ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep

[2021-01-25 09:42] #22972 closed, assigned to nobody

[2021-01-25 09:51] hibatallahAouadni commented on #22973
Hello @ced--ced

I was able to reproduce the issue with PrestaShop version 1.7.7.0, 1.7.7.1 and develop, see the attached screen record below:

https://drive.google.com/file/d/1xk4Kq2WNpxOXjaNKVkBr0dNcixGc6DSY/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

**PS:** it's a **regre

[2021-01-25 09:58] hibatallahAouadni commented on #9624
Hello,

I reproduced the issue with PS1.7.7.1 but I didn't manage to reproduce it with develop, it seems has been fixed on develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105690220-0135ba80-5efc-11eb-8a70-c3f6333ff390.png)

I close this issue.
Thanks!

[2021-01-25 09:58] #9624 closed, assigned to nobody

[2021-01-25 10:19] NeOMakinG commented on #22873
And @PrestaShop/ux-team should we align labels on the right instead of left ? It was right on 1.7.7

[2021-01-25 10:25] tswfi opened #22974 "Configuration for "out of stock" email recipients / prevent sending out of stock to some users"
#### Is your feature request related to a problem?

Currently every admin user that has rights to permission `ROLE_MOD_TAB_ADMINSTOCKMANAGEMENT_READ` receives email notifications for out of stock products. See notes in: https://github.com/PrestaShop/PrestaShop/issues/9641#issuecomment-765453376

Some employees do not want to get that message but need the permission.

There should be a setting that

[2021-01-25 10:26] hibatallahAouadni commented on #22962
Hello @Audiojungle

Could you please check this issue #22416 it's quite similar to yours.
Please check and feedback.

Thanks!

[2021-01-25 10:30] NeOMakinG opened #22976 "JS code style is not the same on every files regarding breaklines"
#### Is your feature request related to a problem?

Sometimes JS code has a space before return, sometimes not, same for if, vars

#### Describe the solution you'd like

Having an ESLint rule which does it automatically

[2021-01-25 10:31] hibatallahAouadni commented on #22974
Hello @tswfi

Thanks for the suggestion and the well detailed report :clap:
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , can we add this feature cause it seems very helpfum for the merchants?

[2021-01-25 10:37] hibatallahAouadni commented on #22960
Hello @guicunha87

Please use English! English is the norm on GitHub.
I can see that you have the same error but you had a fresh install, so could you please answer @matks question

Please check and feedback.
Thanks!

[2021-01-25 10:38] LouiseBonnard commented on #22834
Right, thanks for the reply, @yannicka! For the reasons previously evoked, this idea does not fit in with the PrestaShop context nor the user experience we want for the FO, therefore I close this issue and set it as _No change required_. :-)

[2021-01-25 10:38] #22834 closed, assigned to nobody

[2021-01-25 10:53] Betafer commented on #9981
Hello, any news here we have been struggling with this problem since 2014 .... ?

This is a fundamental function for an e-commerce, if it were a videogame with such errors it would also be admissible but in e-commerce I would not say really.

[2021-01-25 11:14] #22660 closed, assigned to NeOMakinG

[2021-01-25 11:24] Hlavtox commented on #22936
Hi @guigplt @florine2623, we solve the exact same issue here - https://github.com/PrestaShop/PrestaShop/issues/20535.

[2021-01-25 11:26] peterpeter commented on #22809
Same error here on a clients hosting. Occurs with PS 1.7.7.0 and 1.7.7.1, the same error while installing.
As I can't attach a screenshot, the system check as link:
https://tessinerspezialitaeten.ch/mhp/phppsinfo.php

[2021-01-25 11:38] hibatallahAouadni commented on #22956
Hello @Eva-F

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers  , do you think if we allow backticks wouldn't make a BC?

[2021-01-25 11:43] matik4 opened #22977 "BO Order Page -> Payment adjustment"
#### Describe the bug

Hello,

Just wanted to highlight a possible bug (as it looks intentional). On the order page in back office, if you edit the order in a way that the total paid changes - let's say I will apply free shipping - you will not be able to balance the total by adding a negative amount in payment details.

You might probably suggest refunding by using one of the payment modules, but

[2021-01-25 11:43] hibatallahAouadni commented on #22958
Hello @Eva-F

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think it maybe useful to add the parameter "$deleted", wdyt?

[2021-01-25 11:59] Prestaplugins commented on #22971
Seriously... you close it because it doesn't respect the template ?
You should give some interest to an issue even if it doesn't look like what you expected.

I described the bug... and the way to reproduce is to update any 1.7.x shop (not 1.7.7.x) to 1.7.7.0 or 1.7.7.1.

The Tab.php class has been modified in 1.7.7.0 and this field has been added.
So it should be added by \prestashop 1.7.7.1\inst

[2021-01-25 12:02] Prestaplugins commented on #22971
Better now ?

[2021-01-25 12:07] kpodemski commented on #22971
It is better, thank you ;)

Do you have any warnings during upgrade?

[2021-01-25 12:19] wwwdesign commented on #9901
Hi,
I think this is a rather serious bug, due to european legislation demanding online-shops to show the price per unit!

Since this bug persisted for a few years now without being fixed I'd like to try to find out a bit about it:
If I get it right it's calculated in classes/Product.php lines 5125-5130

[2021-01-25 12:21] Eva-F commented on #22958
My idea is: to recognize deleted customer at the first look - something like that
(for now i have gone around and did it  via jquery)
in the current version the deleted customers aren't in Customers list, but are displayed in  order detail or customer view/edit without the mark "deleted" (it can be confusing)

Customer detail
![ps32](https://user-images.githubusercontent.com/3242659/105703490-9d1b

[2021-01-25 12:22] guigplt commented on #22936
Hi,
I don't see what is the solution in topic #20535.

[2021-01-25 12:27] Eva-F commented on #22956
the bug (invalid orderBy) is occured if orderBy contains alias and $controller->getlist(...) is called twice
(f.e. if the filtered list should be processed  and after that displayed)

[2021-01-25 12:42] hibatallahAouadni commented on #22977
Hello @matik4

You can't add negative value to the payment method. To balance an overdue by the clients, **it is recommended to make a credit slip** (See the [original issue](https://github.com/PrestaShop/PrestaShop/issues/16582#issuecomment-575582954)).

So, I close it cause it's not a bug.

Thanks!

[2021-01-25 12:42] #22977 closed, assigned to nobody

[2021-01-25 12:45] Prestaplugins commented on #22971
I can't tell you, I'm not the one who made the update. But that column is not in the SQL script executed during update, so I don't think the problem is related to any warning. It seems it has just been forgotten by the prestashop team...

[2021-01-25 13:00] #22957 closed, assigned to itsvahid

[2021-01-25 13:06] SimonGrn commented on #22959
Duplicate of #17606

[2021-01-25 13:23] Hlavtox commented on #22936
@guigplt There is none, you can try to convince @kpodemski to make something up 🤪😄

[2021-01-25 13:46] hibatallahAouadni commented on #22961
Hello @musicpanda

As you can see in my screen record below, I upgraded my shop from 1.7.7.0 (fresh install) to 1.7.7.1.
The upgrade process was successful:

https://drive.google.com/file/d/1H7A2zThw5ezAiol9u2M90SIarL67jv7k/view

Then, I tried to roll back and I encountered another issue (not like yours) and my shop went to **500 internal server error**
Even though that I already check these rollb

[2021-01-25 13:54] Progi1984 commented on #22870
Checked today in https://i18n.prestashop.com/translations/1.7.7.0/it-IT/it-IT.zip > `AdminOrderscustomersFeature.it-IT.xlf`

[code]

[2021-01-25 13:57] Betafer commented on #9981
Ok, i fix the problem by set in in Shop Parameters > General > Round type > Round each line
but PayPal module ask to set Round each article for working well ...

[2021-01-25 14:10] #22500 closed, assigned to JevgenijVisockij

[2021-01-25 14:14] prestascott commented on #22873
Hello everyone,

Red asterisk position choice doesn't really make a big difference. Putting it before the label makes it more identifiable and will be more useful for longer label because it will always appear on the first line of the label. Putting the red asterisk at the end of the label is still easy to identify because it's red, as long as it's not too small.

I will keep the red asterisk at t

[2021-01-25 14:18] NeOMakinG commented on #22026
I reproduced it, it just unfocus the arrow button of the integer input

[2021-01-25 14:23] NeOMakinG opened #22978 "[BO - Responsive] Replace header button by a floatting button on mobile"
#### Is your feature request related to a problem?

Header buttons are taking too much places, we want's to replace these by a floating button

<img width="225" alt="Capture d’écran 2021-01-25 à 15 35 12" src="https://user-images.githubusercontent.com/14963751/105719754-f3dff680-5f22-11eb-856d-291fac5230cf.png">

[2021-01-25 14:25] Robin-Fischer-PS opened #22979 "Missing DNI Number in BO > Order View"
#### Describe the bug

In 1.7.7.0 and 1.7.7.1 versions, the Identification number ("DNI") is not displayed in BO > Orders details > Address block. This field is mandatory for some countries, like Spain for example.

The info is also missing in the "Preview" of the order in Orders List.

The DNI is however displayed in the invoice.

#### Expected behavior

Identification number should be displayed

[2021-01-25 14:30] matks commented on #18458
This strategy could indeed provide some backward compatibility if we keep the old single-lang field and the new multi-lang field synchronized. Keeping the field but stop using it does not work: module rely on a field and its content 😅 .

But this is an additional overhead of code+logic. We will need to keep the "english" name duplicated in the old field and the new field, make sure it is updated i

[2021-01-25 14:38] idefax commented on #22141
I'm glad I'm not the only one who can reproduce it :)

I did retry a few more times and all the time I still get this error.

Note/reminder for the devs: It's **1.7.6.9** to **1.7.7.0** as well as **1.7.7.1**

[2021-01-25 14:39] Robin-Fischer-PS commented on #22979
Ping @MatShir for the update of the specifications :)

[2021-01-25 14:40] andromaque commented on #18458
@matks Of course we have to keep it synchronized 😄 A trigger could do the trick though? That way, there is no need for additional code in the BO that could potentially leads to new bugs.

[2021-01-25 14:51] Progi1984 commented on #22812
Fixed by #22947

[2021-01-25 14:51] #22812 closed, assigned to atomiix

[2021-01-25 15:05] matks opened #22981 "Generic hooks being fired for forms are not fired after migration"
#### Describe the bug

Bug reported by @Progi1984 for listing (hooks `displayAdminListAfter` and `displayAdminListBefore`). It applies for option forms and CRUD forms too.

On legacy page,
- when you open an "option" form, a hook `DisplayAdminOptions` is dispatched
- when you open an "CRUD" form, a hook `DisplayAdminForm` is dispatched

When page has been migrated, these 2 hooks are not dispatched

[2021-01-25 15:18] PierreRambaud commented on #9641
Did you had the time to do it :trollface:

Joke aside, it sends an email when you have less than 3 products because of this:
![image](https://user-images.githubusercontent.com/1462701/105724147-d6f9f200-5f27-11eb-84b1-07240078dbc1.png)

About the module, @PrestaShop/product-team could you tell us what you expect exactly? Removing the notification in emailalerts? or in the Core?

[2021-01-25 15:28] prestascott commented on #10056
Hello everyone,

Thanks for this feature request. You really raised an issue here! Updating a theme requires a lot of effort while it can be optimized. What you're suggesting here is interesting but needs to be adapted for any case.
In this solution, the merchant won't be aware about the updates of his themes when he doesn't have a compatible version of PrestaShop. It's blocking because how can he

[2021-01-25 15:30] Robin-Fischer-PS opened #22983 "Missing B2B info in Orders Details > Customer Block"
#### Describe the bug

In 1.7.7.0 and 1.7.7.1 versions, when the shop is in B2B mode, some infos are missing in BO > Orders details > Customer Block :
- Company name before the name of the customer
- SIRET and APE numbers in Customer Summary

In Orders List, the Company Name is displayed in 177 :heavy_check_mark:

#### Expected behavior

The B2B info should also be displayed in 1.7.7 Order Details

[2021-01-25 15:31] Robin-Fischer-PS commented on #22983
Ping @MatShir for the update of the specifications :)

[2021-01-25 15:42] marionf commented on #9641
@PierreRambaud
Don't know if this should be done in the module or in the core, but we shouldn't receive the low stock alert email when the product is deleted
As the product is deleted it's obvious that it's not in stock anymore and the notification shouldn't be sent in this case

[2021-01-25 15:57] hibatallahAouadni commented on #22968
Hello @Seb33300

I didn't manage to reproduce your issue with PS1.7.7.1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105729777-dbc1a480-5f2d-11eb-9e01-c84c11fb0204.png)

Well, I just copied /mails/fr/order_conf.html and pasted in /themes/classic/mails/fr/order_conf.html
Did you change the order_conf.html? if so, could you please provide your file

[2021-01-25 16:08] hibatallahAouadni commented on #22981
Hello @matks

Thanks for your issue!
I managed to reproduce the issue with 1.7.7.1 and 1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1qgwMw0JZ7BQ0H0Yv2TNcCNUsUG__Pn2t/view

This issue is related to this one #22910
I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2021-01-25 16:12] hibatallahAouadni commented on #10056
@LouiseBonnard shall we change the label **`TBS`** to **`To Do`**? or need more specs?

[2021-01-25 16:19] NeOMakinG opened #22987 "[BO - Responsive] Header buttons text is not hidden on mobile"
#### Describe the bug

Header buttons looks broken on mobile

#### Expected behavior

Having no text under tablet width

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any migrated pages, and see header buttons on mobile

**Screenshots**

![image](https://user-images.githubusercontent.com/14963751/105731092-4fb07c80-5f2f-11eb-8ebd-d7f1556272e1.png)

#### Additional information

[2021-01-25 16:28] krausik002 opened #22989 "Notice: Use of undefined constant INTL_IDNA_VARIANT_UTS46 - assumed 'INTL_IDNA_VARIANT_UTS46'"
Hello!
When i do a new order in my e-shop, i will have this problem...
Can you help me with this?

![objednávka](https://user-images.githubusercontent.com/77977890/105734298-c56a1780-5f32-11eb-870f-2f4a1afbdbd7.png)

[2021-01-25 16:36] matks commented on #22989
Hi @krausik002 this is probably because your ICU version on your environment is too old (see for example https://github.com/PrestaShop/PrestaShop/issues/22300 same root cause, different behavior). You need to update your ICU version

[2021-01-25 16:42] krausik002 commented on #22989
Where I will update ICU? Webhosting or where?

[2021-01-25 16:42] hibatallahAouadni commented on #22987
Hello @NeOMakinG

I manage to reproduce the issue with develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105736111-bc7a4580-5f34-11eb-8d7e-9d70fa703bec.png)

Thanks for your issue and your PR :slightly_smiling_face:

[2021-01-25 16:53] hibatallahAouadni commented on #22989
Hello @krausik002 ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/

[2021-01-25 16:53] #22989 closed, assigned to nobody

[2021-01-25 17:26] MassimoGS3 opened #22990 "Register Form on Order Confirmation"
#### Describe the bug

The registration form on order confirmation not work and redirect the user on login page.

#### Additional information

* PrestaShop version: 1.7.5.2
* PHP version: 7.2.36

[2021-01-25 17:34] SimonGrn commented on #22990
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-01-25 17:34] #22990 closed, assigned to nobody

[2021-01-25 18:07] musicpanda commented on #22961
Thank you for your reaction.

There were two signs of instability that made me choose to roll back:
 - when I got the "invalid sign. This may be a security risk" page nothing happened when I clicked the "yes, I understand the risks" button. The only way to go further was changing the url by removing the token part of it. After a day or so this problem disappeared.
 - the second issue was that I co

[2021-01-25 18:32] khouloudbelguith commented on #22615
Hi @Progi1984,

Yes! https://github.com/PrestaShop/PrestaShop/pull/22768#issuecomment-765317554
As discussed with @PierreRambaud.
I created some issues related to this ticket:
#22946
#22948 reported here: https://github.com/PrestaShop/PrestaShop/pull/22768#issuecomment-759388271
#22951 reported here: https://github.com/PrestaShop/PrestaShop/pull/22768#issuecomment-765324937

Thank you!

[2021-01-25 18:32] #22615 closed, assigned to PierreRambaud

[2021-01-25 19:44] eidilman commented on #22968
After the upgrade to version 1.7.7, e-mails will be sent to customers in English. The default language is Lithuanian
![Be pavadinimo](https://user-images.githubusercontent.com/18383825/105757244-6918ef00-5f56-11eb-96d8-6246c96e0289.png)

[2021-01-25 20:10] tswfi commented on #9641
I opened #22974 for preventing the sending to some of the employees to keep one thing in one issue.

[2021-01-25 20:38] multiarts opened #22991 "Login to BO in 1.7.7.1 does not work"
#### Describe the bug
As per title, when I try to login into my BO this not work. If I put a wrong password prestashop correctly tells me I'm wrong but if I use the correct data nothing happens.

#### Expected behavior
Redirect to back office

#### Steps to Reproduce
Steps to reproduce the behavior:

1. Go to https://yourshop/folder/index.php
2. Insert username and password
3. Click ENTRA (I'm fro

[2021-01-25 20:39] hibatallahAouadni commented on #22931
Hello @joaolago1113

Sorry for the late response.
Could you please try to re-build the entire index, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105763126-adf05600-5f55-11eb-98f9-65b065225138.png)

Please check and feedback.
Thanks!

[2021-01-25 20:59] hibatallahAouadni commented on #22991
Hello @multiarts

I'm a little bit confused :confused: your wrote in the title that you encounter this problem with 1.7.6.7 but you wrote in the **Additional information** block that your PrestaShopo version is 1.7.7.1 :open_mouth:
So, could you please specify your PrestaShop version.

Well, I didn't manage to reproduce the issue with PS1.7.6.7 and PS1.7.7.1 even when I changed the language to Ita

[2021-01-25 21:07] multiarts commented on #22991
@hibatallahAouadni

"Did you upgrade your shop? Did you change your password lately? or your account permissions?" - No.

Sorry, I already fixed the title, I did a clean install.

[2021-01-25 21:08] hibatallahAouadni commented on #22840
Hello @mvorisek

Let's define the steps to reproduce the issue:

1. Create a user -> customer or employee or ... ?
2. grant permissions to one specific database name -> how?
3. set that database name to config -> you mean that I have to change the DB name in config.yml

is that so? If so, could you please provide the command lines that I need to execute.

Thanks!

[2021-01-25 21:10] hibatallahAouadni commented on #22991
@multiarts could you please check your console, if there are any errors thrown.

[2021-01-25 21:10] mvorisek commented on #22840
@hibatallahAouadni sure, see https://github.com/PrestaShop/PrestaShop/pull/22823#issuecomment-766656633 . Creating the user is simple - create one user named UUU and database named DDD. Then grant all priviledges for DDD for user UUU.

[2021-01-25 21:11] hibatallahAouadni commented on #22938
@lmeyer1 Glad that you figure it out :tada:
@kpodemski Thanks for helping :rocket:

[2021-01-25 21:17] hibatallahAouadni commented on #22840
@mvorisek thanks for the infos :wink:
Your PHP version is 7.4? just to make sure :sweat_smile:

[2021-01-25 21:19] hibatallahAouadni commented on #22665
Hello @tortueduweb ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-25 21:19] #22665 closed, assigned to nobody

[2021-01-25 21:22] mvorisek commented on #22840
yes, 7.4

[2021-01-25 21:24] hibatallahAouadni commented on #22581
Ping @SD1982 @khouloudbelguith friendly reminder :wink:

[2021-01-25 21:28] hibatallahAouadni commented on #22840
Thanks @mvorisek I will try to reproduce it.

[2021-01-25 22:20] axel584 opened #22992 ""Esperanto" doesn't appear in the language list"
#### Describe the bug

In the International / Translations admin, I would like to add "esperanto" as language for the front office, but I didn't find it in the list.

#### Expected behavior

I expect to find "esperanto" in the list of available language when I filter with "esp"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to "International" / "Translation"
2. Click on 'add upd

[2021-01-25 22:48] alfonsolr09 opened #22993 "Filter by brand in products section"
#### Describe the solution you'd like

I think it would be good that just as we can filter by categories, in the future we can filter by brands or suppliers. since when changing prices of a supplier we can only see the products of that supplier

#### Additional context

Image

![image](https://user-images.githubusercontent.com/23308427/105818739-91850580-5fb7-11eb-9cb1-681f4d9f3d45.png)

https://p

[2021-01-26 02:54] Seb33300 commented on #22968
I will try to upgrade and let you know

[2021-01-26 08:09] hibatallahAouadni commented on #22992
Hello @axel584

I reproduce your issue with PS1.7.4.1, PS1.7.7.1 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105817512-00615f00-5fb6-11eb-9d7a-c02186653c1d.png)

This language use to be in the list with PS1.6, see the attached screenshot below with PS1.6.1.20:

![image](https://user-images.githubusercontent.com/23308427/105817625-2b4

[2021-01-26 08:19] SimonGrn commented on #22992
This is a Crowdin issue, right ?
Poke @LouiseBonnard maybe ?

[2021-01-26 08:27] hibatallahAouadni commented on #22991
Hello,

Could you please re-install the shop and check if you still encounter the same problem. If so, you have a problem with your configuration.

Sorry, but I have to close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consi

[2021-01-26 08:27] #22991 closed, assigned to nobody

[2021-01-26 08:30] hibatallahAouadni commented on #22993
Hello @alfonsolr09

Thanks for your suggestion!
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think it's a good idea to add a filter by brands or suppliers

[2021-01-26 08:40] LouiseBonnard commented on #22992
For international issues (translations, localization packs, languages, and so on), you should ping @Julievrz. ;-)

[2021-01-26 08:43] mopi007 commented on #9998
Apres 60h de travail pour passer la boutique en 1.7.7 je tombe aussi sur ce bug qui m'oblige à remettre le site en 1.6 et chercher des solutions chez la concurrence. j'avoue avoir du mal à proposé PrestaShop 1.7 à mes clients après ca.  .. je suis abattu.

Tous ca pour dire que sur la version 1.7.7.1 le bug est toujours présent !

[2021-01-26 09:04] Morph21 commented on #22760
@Kyaary Yea, that's good, even response like this would be good "{}" it's just a matter with difference in parsing JSON between object ("{}") and array/list ("[]")

Every parser by default would print an error :)

[2021-01-26 09:06] Tobal66 commented on #9967
Hi,
i have a similar problem on prestashop 1.7

I make a simple jquery script for solve this problem

It's working good, may be this code can help you

1/ open product-variants.tpl, put this code on the line 1 :
(may be can working on product.tpl, i not try it)

`{if $groups|@count > 0}
	<div class="boix_ecotax">
		{foreach from=$combinations key=id_combin item=boixecotax}
			<input type="hidden"

[2021-01-26 09:12] hibatallahAouadni commented on #22840
Ping @PrestaShop/prestashop-core-developers could anyone try to reproduce the issue.
Thanks in advance!

[2021-01-26 09:14] Progi1984 commented on #22830
Fixed by #22841

[2021-01-26 09:14] #22830 closed, assigned to nobody

[2021-01-26 09:40] Firefox86 commented on #9998
@mopi007 : après deux ans d'attente et de commentaires j'ai fini par conclure que la stratégie consiste à nous obliger à acheter un addon payant pour faire le job... je confirme que le bug est malheureusement bien présent sur la dernière version.

[2021-01-26 09:41] MassimoGS3 opened #22994 "Create Account on Order Confirmation not work"
#### Describe the bug

After complete an order like a guest i've try to register an account on confirmation order page by reg. form.
The page do a postback without register the user and redirect to /login?back=history.

In BO i see on customer list the guest of the previous order but not the registred user.

#### Expected behavior

I excpect a new user registred account

#### Steps to Reproduce

S

[2021-01-26 09:48] ruchus commented on #22993
Hello @alfonsolr09 and @hibatallahAouadni,

I think is useful, but, seems better idea add a new column on grid, like this.

![imagen](https://user-images.githubusercontent.com/6729380/105828855-ed558b80-5fc3-11eb-888d-12862c56d4d5.png)

[2021-01-26 09:55] marionf commented on #9967
Thanks for diving into this @Tobal66

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2021-01-26 10:14] mvorisek commented on #22840
@hibatallahAouadni my PR at the latest/current state already reproduces it in CI: https://github.com/PrestaShop/PrestaShop/pull/22823 , see https://github.com/PrestaShop/PrestaShop/actions/runs/506442829 `PHPUnit Tests (With DB) (x.y)` job output.

[2021-01-26 10:15] PierreRambaud commented on #10018
@antoniocici You're fix is not working with this filter which is managing the stock availability.

I've this as combinations:
![image](https://user-images.githubusercontent.com/1462701/105826796-6f908080-5fc1-11eb-85f1-c8bc3e2421da.png)

What I get with your fix:
![image](https://user-images.githubusercontent.com/1462701/105826664-466ff000-5fc1-11eb-8c91-47ddb4b2966a.png)

Without the fix:
![image

[2021-01-26 10:16] mopi007 commented on #9998
Oui c'est désespérant, mais je ne suis même pas sur qu'il existe un module payant qui resoud le problème ?
il faudrait faire un overide de quelques class pour résoudre ca. pas terrible a faire en module.
pour rappel le bug est intimement lier au bug : [https://github.com/PrestaShop/PrestaShop/issues/15369](url)
je vient d'essayer la solution de JeromeFarin malheureusement elle n'est pas complète e

[2021-01-26 10:18] Audiojungle commented on #22962
i've read topic you send me but it's not helping me with my issue, my issue is totally different

[2021-01-26 10:20] MatShir commented on #22993
@prestascott the customization of the tables might be more and more needed 🤔
Otherwise, it is an interesting feature.

[2021-01-26 10:21] mopi007 commented on #15369
Thank you for your work Jerome Farin !!
Unfortunately, I have just made the modification that you propose but it does not solve the problem because getDeliveryOptions () does not give the complete list of carriers in the case of split order

[2021-01-26 10:24] hibatallahAouadni commented on #22994
Hello @MassimoGS3

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #14414.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-01-26 10:24] #22994 closed, assigned to nobody

[2021-01-26 10:24] hibatallahAouadni commented on #22994
Duplicate of #14414

[2021-01-26 10:28] totoro0205 commented on #9998
Un bug majeur qui dure depuis 3 ans.. Peut-être que personne ne veut se pencher dessus vu la difficulté pour le corriger.
Mais c'est dommage que des fonctions aussi critiques(choix de livreurs distincts, calcule de prix dans le panier) ne soient pas fiables ou carrément inutilisables. C'est comme avoir un problème dans le moteur de l'avion, mais préfèrer se concentrer sur le confort des sièges!

[2021-01-26 10:29] crabbi33 opened #22995 "prestashop 1-click upgrade Rollback problem - some tables do not exist after rollback"
#### Describe the bug

Got a problem when i try to upgrade my shop from 1.7.4.2 to 1.7.7 with 1-click upgrade module :
thx

After Rollback, some tables are not recovered

- ps_guest
- ps_connections
- ps_connections_page
- ps_connections_source
- ps_statssearch

#### Steps to reproduce the issue:

1. Install autoupgrade module
2. Make an upgrade
3. Do a rollback
4. Enable debug mode
5. Try to navi

[2021-01-26 10:36] Julievrz commented on #22992
Hi! The issue does not seem to come from Crowdin. @eternoendless told me that the problem comes from our side. He thinks that the script is not cleaning its folder after an import.

[2021-01-26 10:46] Fabuloops commented on #9998
Mettre en place le multi-shipping sur 1.7 c'est une vrai galère, je l'ai fait pour cosme-literie mais il faut s'accrocher et je n'ai pas conservé toutes les fonctionnalités de Prestashop (typiquement la gestion des warehouse a sauté). Et dites adieux aux plugins additionnel si vous commencez à customiser cette partie, en même temps tous modules qui override PaymentModule.php est à prendre avec des

[2021-01-26 11:05] imballo commented on #20332
Had the same error while upgrading. It is connected withe the presence of index.php files in the src directory (and subdirectory).
Remove them and the error disappear.

[2021-01-26 11:13] hibatallahAouadni commented on #22995
Hello @crabbi33

Before upgrading your shop to 1.7.7.1, did you upgraded your shop and then rollback?
Cause it seems your issue has been thrown only if you do these steps:

1. Upgrade PS1.7.x => PS1.7.y
2. Rollback PS1.7.y => PS1.7.x
3. Upgrade PS1.7.x => PS1.7.z
4. See your error

Please check and feedback.
Thanks!

[2021-01-26 11:45] hibatallahAouadni commented on #20034
Hello @PierreRambaud

It seems this issue need a lot of work. So, if you agree I will change the label to **`To Do`**.
Right now, I'm putting **`TBS`** till you agree :wink:

Thanks!

[2021-01-26 12:17] BenTen commented on #22929
"points cles", "inclus dans votre colis" and "technologie / innovation" seems to be customs features, right?
Do you use a module for that?

Maye the problem come from this module.

[2021-01-26 12:22] yannicka commented on #22970
No, no specific prices. Let's imagine that I have a product declined in three colors Red, Green and Blue, I want to be able to keep the Green combination in the database, but no longer offer it for sale.

[2021-01-26 12:26] hibatallahAouadni commented on #22962
Hello @Audiojungle

That issue mentioned is not for helping you to resolve your problem :sweat_smile:
I meant your issue is a duplicate to this #22416
See the attached screen record below:

https://drive.google.com/file/d/16aBG8tfPRGuo6XpHqh-C7k3E62p6sLLY/view

Please check and feedback.
Thanks!

[2021-01-26 12:40] hibatallahAouadni commented on #22970
Hello @yannicka

I see :slightly_smiling_face: you mean that you want to add an attribute "Status" to each combination, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/105846029-e2a6f080-5fdb-11eb-9ad2-167e0398e422.png)

Is that so? Please check and feedback.
Thanks!

[2021-01-26 12:42] biotradmeding commented on #22995
hi; how to rollback please.
i did the laste upgrade and from that i've got symphony error 3/3

[2021-01-26 12:50] alfonsolr09 commented on #22993
Yes, i think the same

[2021-01-26 12:52] babyewok commented on #10035
Is there still no solution offered by PS for this? It is a very basic requirement and I have no idea why they would strip this functionality from 1.7! It is a nightmare to have to calculate and then enter the combination prices. It was much easier when you could simply enter the attribute price impact and then the combination prices were calculated automatically.

I can't even find any suitable ad

[2021-01-26 13:03] Julievrz commented on #22870
![image](https://user-images.githubusercontent.com/70583503/105839328-9a82d080-5fd1-11eb-957e-f9f2f93a0126.png)
![image](https://user-images.githubusercontent.com/70583503/105839366-a7072900-5fd1-11eb-8952-a0894fbdbf51.png)

And yet I validated the strings 5 days ago... Isn't it related to this issue https://github.com/PrestaShop/PrestaShop/issues/22531 ?

[2021-01-26 13:11] crabbi33 commented on #22995
yes exactly i tried a first time .....failed rollback and tried another time ....failled again

Thanks

[2021-01-26 13:18] musicpanda commented on #22819
@matks Look at the (lack of) arguments with which my error report above was closed. Can you imagine this was quite depressing - given that I had invested quite a bit of time in it.

Consider also what would have happened if I had not just reported the bug but also added code how things could be fixed (this would be as far as I go - I don't do Github submissions). My report would still have been re

[2021-01-26 13:32] NeOMakinG commented on #22873
I did the PR

[2021-01-26 13:40] #22416 closed, assigned to tswfi

[2021-01-26 13:41] #22715 closed, assigned to sarahdib, NeOMakinG

[2021-01-26 13:45] Hlavtox commented on #22993
@alfonsolr09 Good idea indeed, but you need a big monitor. 😄 I also added MPN to this list.

![Výstřižek](https://user-images.githubusercontent.com/6097524/105852672-0cb0e080-5fe5-11eb-8e9a-c32c7d5ae5d0.JPG)

[2021-01-26 13:50] alfonsolr09 commented on #22993
Thats no problem, now all people have 21:9 monitor ultrawide 😆
In 2 years everyone will have it

[2021-01-26 13:51] alfonsolr09 commented on #22993
Thats a test ?? Or have you changed the code??

[2021-01-26 13:55] Hlavtox commented on #22993
@alfonsolr09 I modified it locally. MPN = manufacturer's part number, people use it to google the product etc. PS team added it officially since 1.7.7.

[2021-01-26 14:02] hibatallahAouadni commented on #22995
Hello @crabbi33

When you fail to rollback, what a kind of error has been thrown? is it like this one:

![image](https://user-images.githubusercontent.com/23308427/105854338-14718480-5fe7-11eb-8358-8ef3b71720f4.png)

Ping @khouloudbelguith could you please try to reproduce the issue, cause I couldn't reproduce :confused:

Please check and feedback.
Thanks!

[2021-01-26 14:03] yannicka commented on #22970
Yes that's what I need.

[2021-01-26 14:08] hibatallahAouadni commented on #22970
Hello @yannicka

Great! Thanks for your feedback.
The Product team will take a look. Please stay tuned!

Ping @PrestaShop/product-team I think it will be useful to add a new attribute "Status" for each combination, do you agree with me?

[2021-01-26 14:14] NeOMakinG opened #22998 "Default theme is the only folder not having ESLint installed and configured"
#### Is your feature request related to a problem?

As we wants to increase the quality of the codebase of our software, default theme is missing ESLint for code quality/style, we should add it

#### Describe the solution you'd like

Adding ESLint on default theme and fixing as much errors as we can

[2021-01-26 14:32] crabbi33 commented on #22995
I'm not sure but i think not .....sorry

thanks you

[2021-01-26 14:46] go-sudo opened #23000 "Bug Error in PrestaShopAutoload.php line 152"
Hello
I'm facing this issue on Prestashop version 1.7.7.1

#### Describe the bug
I imported an existing website to new domain and upgraded it to 1.7.7.1 from 1.7.6.5 and when I try to open Product page FO, I encounter this error **`HTTP ERROR 500`**

#### Steps to reproduce

1. I imported an existing website to new domain and upgraded it to 1.7.7.1 from 1.7.6.5
2. .....
3. Go to Products page in F

[2021-01-26 14:55] hibatallahAouadni commented on #23000
Hello @go-sudo

Where did you encounter this isssue, could you please fill the block **steps to reproduce**.

Thanks!

[2021-01-26 15:00] alfonsolr09 commented on #22993
Do you know the spanish translation on MPN??
if you have the modification done locally you can create a pull request to implement it :)
@Hlavtox

[2021-01-26 15:04] go-sudo commented on #23000
Hi @hibatallahAouadni

when I enable the debug mode the website works fine but not he products page **index.php?id_product=32&rewrite=smartx&controller=product** i get this error `Impossible de traiter cette demande via vstore366.com à l'heure actuelle.`
HTTP ERROR 500
So I do enable the debug mode and all the website goes off with message on the previous topic I did disabled all the modules but s

[2021-01-26 15:05] Hlavtox commented on #22993
@alfonsolr09 Text me on PS slack ;-)

[2021-01-26 15:12] PierreRambaud commented on #22956
I think in the past they tried to rely only on ObjectModel, it should be normal behaviour, otherwise, even spaces should be allowed because ```c.`my field` ``` is SQL valid.
I'm not sure this one has to be improved right now. We plan in the next major to only rely on Doctrine.

[2021-01-26 15:14] alfonsolr09 commented on #22993
I dont know what is that jeje

[2021-01-26 15:25] JBWModules commented on #23000
You are using a override (override/classes/Cart.php) that seems not compatible with your Prestashop version. Check for the module that installed the override and contact it's developer to fix it

[2021-01-26 15:27] matks opened #23001 "Ambiguous Symfony debug toolbar title for hooks"
#### Describe the bug

In DEV mode, the Symfony debug toolbar is available.
In the Symfony debug toolbar, a useful "Hooks" tab has been added. The title for this tab is "hooks called".

For example if you open the "Add/Edit a Brand" Back-Office page, the "Hooks called" tab contains 5 rows:
- actionAdminControllerSetMedia
- displayBackOfficeHeader
- displayDashboardTop
- displayAdminNavBarBeforeEnd

[2021-01-26 15:27] hibatallahAouadni commented on #23000
Hello @go-sudo

Yep! It seems like you upgraded lately your shop and something goes off like @JBWModules said.
Could you please check all your overrides and feedback.

Thanks!

[2021-01-26 15:33] hibatallahAouadni commented on #22993
Hello @alfonsolr09

Here's the link of [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).
Thanks @Hlavtox for helping other contributors :superhero:

Thanks!

[2021-01-26 15:35] MatShir opened #23002 "Supplier handle on product combinaison"
**Why?**
Why move the supplier cost input from the options tab to the combination tab?
Because of a performance issue, the regeneration of the combination list in the options tab and in the combination list is affecting the product page performance. For better efficiency, a part of the supplier cost configuration will be moved to the product combination edition.

**Specs**
Here, what's have been d

[2021-01-26 15:37] hibatallahAouadni commented on #22956
Hello @PierreRambaud

Thanks for your feedback :wink:

Let's ping the Product Team and see.
Ping @PrestaShop/product-team shall we add this one to the next major patch?

[2021-01-26 15:39] MatShir commented on #19683
Changes to apply FYI https://github.com/PrestaShop/PrestaShop/issues/23002

[2021-01-26 15:44] MatShir commented on #23002
@Julievrz part of the feature will move to another tab. So, some wording will need a bit of tuning. But we are still waiting for the design of the @TristanLDD 😄

[2021-01-26 16:05] hibatallahAouadni commented on #22962
Hello @Audiojungle

So, this issue is patially fixed with this PR #22417 it use to be errors but with this PR they turned out to be just warnings.
And my collegue manage to reproduce the issue with develop, see the attached screen record below:

https://drive.google.com/file/d/19xSzvKBAQGtqdukwBmVHprG5wmMORyTX/view?usp=sharing

Thanks @SD1982 for reproducing the issue :wink:
I’ll add this to the d

[2021-01-26 16:19] go-sudo commented on #23000
Hi @JBWModules @hibatallahAouadni

I did disable all modules on my store one by one and even enabled the option "disable non prestashop module"
![image](https://user-images.githubusercontent.com/11594433/105872318-90c19300-5ffa-11eb-9992-3122a1373ed3.png)
should I remove all modules to see please
Regards

[2021-01-26 16:22] jolelievre commented on #22029
I think the error is related to the base price saved for the product which considers the input is the base price and it's the same as product price

But actually `product_price = base_price + eco_tax` so when we save the input as base price the eco tax should be substracted Besides when we add or edit a price in the Order when price with taxes doesn't match the price without taxes we recompute the

[2021-01-26 16:29] JBWModules commented on #23000
@go-sudo  - This option does not work. You really have to find the modul or remove the override manually

[2021-01-26 16:30] hibatallahAouadni commented on #23000
Hello @go-sudo

Just fill the steps to reproduce in your issue description, for exemple:

1. upgrade my shop from 17.x.x to 1.7.7.1
2. .....
3. Go to Products page in BO
4. See error

And pelase don't forget any detail, cause those details help us to reproduce your issue :wink:
@JBWModules thanks for helping :rocket:

Thanks!

[2021-01-26 16:37] khouloudbelguith commented on #22995
Hi @hibatallahAouadni, @crabbi33,

I manage to reproduce the issue after a rollback from 177x branch( 1772) => PS1741.
I attached a screen record
https://drive.google.com/file/d/1PvSoA8FvVZR3I_n8z6EuzrRuEZjbj9so/view?usp=sharing
This is an old issue.
After Rollback, some tables are not recovered

- ps_guest
- ps_connections
- ps_connections_page
- ps_connections_source
- ps_statssearch

Steps to r

[2021-01-26 16:39] hibatallahAouadni commented on #23001
Hello @matks

Thanks for your issue!
I reproduce the issue with 1.7.7.1 and develop. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request :wink:

Thanks!

[2021-01-26 16:40] Progi1984 commented on #22705
Fixed PrestaShop/statsproduct#20

[2021-01-26 16:40] #22705 closed, assigned to nobody

[2021-01-26 16:44] hibatallahAouadni commented on #22995
Thanks @khouloudbelguith :rocket:

[2021-01-26 16:48] matks commented on #23001
@hibatallahAouadni I can easily submit a Pull Request to change the name, but I need to know what name should replace the current one.

"Hooks called and received by modules" is explicit but a little long.

Another options is to modify what is being displayed here, and only show 2 numbers: "Hooks called and received by modules"  and "Hooks called and but no modules are plugged on them". Then user

[2021-01-26 16:56] hibatallahAouadni commented on #23001
Ping @PrestaShop/prestashop-core-developers what we should do? rename tha tab to **Hooks called and received by modules** or add another tab **Hooks called and but no modules are plugged on them**?

[2021-01-26 17:07] leccyril commented on #20121
hello what news ? i am developing a dashboard in vuejs, GET is working but POST or PUT is returning no status header preflight error ? what workaround can i do please ?

thanks

[2021-01-26 17:14] leccyril commented on #20121
for me i put this

if ($_SERVER['REQUEST_METHOD'] == 'OPTIONS'){
  header('HTTP/1.1 200 OK');
  die();
}

and now it is working

[2021-01-26 17:20] PierreRambaud commented on #23001
`Hooks called and received by modules` is a good idea :)

[2021-01-26 17:27] go-sudo commented on #23000
Hello

I imported an existing website to new domain and upgraded it to 1.7.7.1 from 1.7.6.5
.....
Go to Products page in Front Office
See error 500
enable debug mode
Go to Products page in Front Office
See error
[code]

[2021-01-26 17:47] siky commented on #22382
This is a very frustrating "feature". If somebody want to use negative amount for payment (eg. refund accounting), he have to modify 3 core file:

**src/PrestaShopBundle/Controller/Admin/Sell/Order/OrderController.php (line: 1109)**
Add this line to the begin of the addPaymentAction() function:
`\OrderPayment::$definition['fields']['amount'] = ['type' => \ObjectModel::TYPE_FLOAT, 'validate' => 'is

[2021-01-26 17:58] Eva-F commented on #22956
But space is not allowed in orderBy  too

[2021-01-26 20:08] hibatallahAouadni commented on #23000
Hello @go-sudo

Thanks for those details :wink:
After importing your website to new domain (while it still 1.7.6.5) did you check if you had any problem before the upgrade?

Thanks!

[2021-01-26 22:02] axel584 commented on #22992
@Julievrz : Which script do you mean ?

And other question : do you know how the file : http://i18n.prestashop.com/translations/1.7.7.1/available_languages.json is generated ?

[2021-01-26 22:42] joaolago1113 commented on #22931
I've tried that, still the same problem :/ @hibatallahAouadni

[2021-01-26 22:53] hibatallahAouadni commented on #22647
Hello @Hlavtox

Following your steps, that's what I got:

https://drive.google.com/file/d/1wO1b9OwagNgrpyCxfpEIhxxU6WP6vEH3/view

Please check and feedback.
Thanks!

[2021-01-26 23:26] ibrahimfsasmaz commented on #22756
I do not know which causes the bug so how can I reproduce I have no idea..
Strangely something is increasing the number of reserved stocks but I do not know what

[2021-01-26 23:27] ibrahimfsasmaz commented on #22756
these are all correct

[2021-01-26 23:56] maperezr14 commented on #15461
Hello, I have my store with prestashop version 1.7.5.2, the slider is shown but it does not work that is, when I move the controls for a price range the page updates but it still shows me the same order and quantity of products and furthermore the slider is reset.

[2021-01-27 01:23] alfonsolr09 opened #23005 "padlock error only in one link"
#### Describe the bug

I have no padlock on this route

http://MYWEBSITE/index.php?controller=cart

**Screenshots**

A form with the action of "http://MYWEBSITE/index.php?controller=cart" exists in the source code of the tested page.
This form needs to be updated to use "https://MYWEBSITE/index.php?controller=cart" or another secure URL for your padlock to return.

#### Additional information

* P

[2021-01-27 05:13] Tobal66 commented on #9967
Hi,

i will try to pull Saturday or Sunday and i will make some ajustments on the script

Thank you,
Best regards,
Christophe

[2021-01-27 08:00] Hlavtox commented on #22647
Hi @hibatallahAouadni!

1. Open config/defines.inc.php
2. Add this to the beginning of the file, before `/* Debug only */`
[code]
3. Now clear cookies and open your homepage with **?profiling** parameter after the URL. Check amount of queries.
4. Add and delete something from cart.
5. Try it again, you should see an increase.

[2021-01-27 08:27] Hlavtox commented on #22756
@ibrahimfsasmaz
1. Go to your stock and select some problematic product.
2. Go to your PHPmyadmin or Adminer or DB tool in PS admin and run this query. Replace XXXXX by id of product that is problematic.
3.
[code]
4. Send me a screenshot of that query.

[2021-01-27 08:32] Hlavtox commented on #22644
@prestascott Perfect. You're the man!!!

[2021-01-27 08:37] mark-app opened #23007 "Unable to create Guest order in Frontoffice is emails addres is already used as account."
#### Describe the bug
If a customer allready have an account in the webshop but the customer wants to checkout with the option "Order as a guest" on the checkout page the page gives the error "The email is already used, please choose another one or sign in" But the customer doesn't want to sign in.

#### Expected behavior
Place an order with the guest account.

#### Steps to Reproduce

Steps to re

[2021-01-27 08:38] Hlavtox commented on #19825
@PierreRambaud Closing this, let's hope it's fixed 💃

[2021-01-27 08:38] #19825 closed, assigned to nobody

[2021-01-27 08:45] #15379 closed, assigned to nobody

[2021-01-27 08:59] sickboards opened #23008 "Product Location is stored in 2 places (and only pulled from one in the BO)"
#### Describe the bug

The product location is stored in both: `ps_product_attribute` and `ps_stock_available`
but in the BO only pulled from ps_stock_available

This should not be the case, it should be stored in a single table.

#### Expected behavior

This should not be the case, it should be stored in a single table.

#### Steps to Reproduce

1. Save a location for a product (with a combinatio

[2021-01-27 09:00] Ericdev89 opened #23009 "Bug filter products backoffice MultiShop"
#### Describe the bug

Hello I have a prestashop 1.7.6.4 configured in multishop. ( 2 stores )

But when I want to filter products in the back office by putting me on the other store it displays all the products.

on the other hand on the store by default everything goes well

#### Expected behavior

when I choose a store the filter should show me only the products that match the filter in that st

[2021-01-27 09:05] #22563 closed, assigned to nobody

[2021-01-27 09:05] #22574 closed, assigned to nobody

[2021-01-27 09:09] LouiseBonnard commented on #22970
Hello @hibatallahAouadni, hi @yannicka, thanks for this issue! @MatShir (and @Julievrz for the use case), it might interest you. ;-)

[2021-01-27 09:21] marionf commented on #17937
Hey @matks @boubkerbribri, I just came across this issue, is it still relevant or can we close it ?

[2021-01-27 09:35] hibatallahAouadni commented on #23005
Hello @alfonsolr09

Could you please explain the problem in more detail, cause I tried to reproduce your issue with PS1.7.7.0 and the link always secure when I go to the cart page, see the attached screen record below:

https://drive.google.com/file/d/1OmKtBtZsWrzE-Tr184tX7T6P27odVpiJ/view

Please check and feedback.
Thanks!

[2021-01-27 09:39] matks commented on #23005
@alfonsolr09 would it be possible to have a screenshot/excerpt of the source code, so we can find its location 😉  ?

[2021-01-27 09:41] hibatallahAouadni commented on #23007
Hello @mark-app

This is not a bug! this is the expected behavior!
If the customer is already registred, he should to login not as a guest but as a customer :wink:
Unless you want to suggest this behavior as a new improvement. If so, I will ping the Product Team.

Please check and feedback.
Thanks!

[2021-01-27 09:44] alfonsolr09 commented on #23005
The page link is this, when you change the display order of products.

lamagrande.com/2-productos

When you dispkayed by name A-Z or by price, dissapear the padlock. The rest of the website have it

[2021-01-27 09:52] ruchus commented on #23007
Hello @hibatallahAouadni,

May be, in this case, the alert message could be a bit more exact ?
As for example, "The email belongs to a customer. Please, login."

[2021-01-27 09:58] #22976 closed, assigned to NeOMakinG

[2021-01-27 10:02] crabbi33 commented on #22995
ok
yes i can do this
i ll inform u as soon as possible

thanks a lot

[2021-01-27 10:08] mark-app commented on #23007
Hi @hibatallahAouadni ,

My client uses this functionality in there old webshop.

I created a Fix already for myself. Maybe good to implement as new functionality in a new version. Because it's used in other webshop systems too.

In /classes/form/CustomerForm.php in function validate() line 101

Replace :
`$id_customer = Customer::customerExists($emailField->getValue(), true, true);`

For:
`$passw

[2021-01-27 10:10] prestascott commented on #22993
Hello everyone,

Thanks @alfonsolr09 for your request!

There is a lot of demands about this custom tables/lists features. We will study this deeply with the product team. Also, there is an Epic where you can find all the tables improvement >>> https://github.com/PrestaShop/PrestaShop/issues/20763.

We're trying to figure out a solution where there's not so much breaking changes for customizing ta

[2021-01-27 10:11] hibatallahAouadni commented on #22647
Hello @Hlavtox

Could you please check the screen record below:

https://drive.google.com/file/d/10d8s6zEQDpAn9vskNZQE9qTNamSJUrOE/view

Please check and feedback.
Thanks!

[2021-01-27 10:12] #22987 closed, assigned to NeOMakinG

[2021-01-27 10:16] matks commented on #23005
I can see it.

1. Go on https://lamagrande.com/2-productos?order=product.sales.desc => padlock is on
2. Sort by "Nombre, Z a A" => new URL is https://lamagrande.com/2-productos?order=product.name.desc, padlock is off

Error message in console
[code]

The http endpoint appears here in this part
![Capture d’écran 2021-01-27 à 11 15 13](https://user-images.githubusercontent.com/3830050/105976899-05

[2021-01-27 10:23] hibatallahAouadni commented on #23005
Hello @alfonsolr09

I didn't manage to reproduce the issue even when I followed your steps:

1. FO> All products
2. Sort by: Name, A to Z / Price
3. The URL still secure

https://drive.google.com/file/d/1SvaspdOx9ybFJclTM1zZcIcbpTRG4XAN/view

As @matks metioned above the problem is with your shop not PrestaShop Core.
I'm really sorry, but I have to close this issue cause we use GitHub issues only

[2021-01-27 10:23] #23005 closed, assigned to nobody

[2021-01-27 10:28] matks commented on #23005
@alfonsolr09 it seems your shop uses "BigCart" theme. As said by @hibatallahAouadni it seems to be an issue on the theme as Classic Theme behavior is correct.

You need to reach out to BigCart developer / sales team 😉

[2021-01-27 10:56] marionf commented on #10036
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/22970

[2021-01-27 10:56] #10036 closed, assigned to nobody

[2021-01-27 10:57] matks opened #23010 "Release 1.7.8.0 🚀"
This issue tracks the status of the PrestaShop 1.7.8.0 release

### Information

Q                                     | A
-----------------------|--------
**Type**                        | Minor version
**Milestone**                | [1.7.8.0](https://github.com/PrestaShop/PrestaShop/milestone/59)
**Kanban**                   | [1.7.8.x](https://github.com/PrestaShop/PrestaShop/projects/10)
**Fea

[2021-01-27 11:12] hibatallahAouadni commented on #23009
Hello @Ericdev89

Could you please check the steps to reproduce that I just put it in your issue description if they are right?
Please check and feedback.

Thanks!

[2021-01-27 11:17] Ericdev89 commented on #23009
hello @hibatallahAouadni
yes i just updated steps 3 and 4 .
Thanks.

[2021-01-27 11:20] go-sudo commented on #23000
Hello @hibatallahAouadni

No , because the old website works fine until now with this version 1.7.6.5 and it's a live

regards

[2021-01-27 11:20] hibatallahAouadni commented on #23008
Hello @sickboards

Could you please provide screenshot or screen record?

Thanks!

[2021-01-27 11:23] Bahwaimongars opened #23011 "Error on all pages with products : Undefined index: c_tree_path"
When I try to browse a page that displays products, I get this error: Undefined index: c_tree_path.

Only when debug is enabled.

Start :
I click on store > error

Here is a capture of the bug:
![image](https://user-images.githubusercontent.com/62238066/105984267-252f0280-609a-11eb-8dd7-fad5fdb3547f.png)

https://gyazo.com/70e03338705c0973938f0502073e030e

* PrestaShop version: 1.7.7.1
* PHP versi

[2021-01-27 11:29] hibatallahAouadni commented on #23009
Hello @Ericdev89

Thanks for your feedback!
I didn't manage to reproduce your issue with PS1.7.6.4 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/13RTqNz2gWLgcf9vafIcymWAQqvcUQqSw/view

Please check and feedback.
Thanks!

[2021-01-27 11:30] sickboards commented on #23008
![image](https://user-images.githubusercontent.com/3520123/105985169-6a076900-609b-11eb-8f54-c65f0cea9fe0.png)

[2021-01-27 11:34] hibatallahAouadni commented on #23000
Hello @go-sudo

Before upgrading your shop, did you override this method `Cart::getProducts`?
Cause it seems this error has been thrown from this class `override/classes/Cart.php`

Please check and feedback.
Thanks!

[2021-01-27 12:01] SharmPRO opened #23012 "Cart Rule Maximum Amount"
I need to apply a discount for an order of maximum 77€. Now the Cart Rule ask the minimum amount only.

The rule logic should consider  total >= minimum_amount && total <= maximum_amount

I'd considered to reverse the logic and to apply a negative fix discount but again fix discount value accept only positive value.

Thanks

---
#### Is your feature request related to a problem?
I need to apply a

[2021-01-27 12:04] timactive opened #23013 "Don't considerate native refunded state on reservation stock"
#### Describe the bug

##### Reservation flow

Prestashop reserve Stock for all orders has not in shipped state and are in valid state or (are not canceled and not in error)

##### Refund State definition

Refund state is a native state of Prestashop the status id is 7
Refund state have no shipped state option checked.
Refund state has in valid state unchecked.

![Capture d’écran de 2021-01-27 13-

[2021-01-27 12:06] Progi1984 commented on #22973
Fixed by #22997

[2021-01-27 12:06] #22973 closed, assigned to NeOMakinG

[2021-01-27 12:28] Ericdev89 commented on #23009
thanks @hibatallahAouadni

the sql where clause in File src/Adapter/Admin/AbstractAdminQueryBuilder.php ( compileSqlQuery function )
returns bad filter when on the second shop due to some bug i dont know.
there are some empty values in the array where clause and do the generated where clause fails !

BEFORE
Array Of WHERE CLAUSES
(
    [0] => AND
    [1] => 1
    [2] =>
    [3] => p.`reference` LI

[2021-01-27 12:58] hibatallahAouadni commented on #23011
Hello @Bahwaimongars

Did you delete a root category?
Please check and feedback.

Thanks!

[2021-01-27 13:03] hibatallahAouadni commented on #23012
Hello @SharmPRO

Please **respect the provided template to submit a complete bug report**, we need these blocks (steps to reproduce, PrestaShop version, PHP version, ...) to reproduce your issue and to help you resolve your problem ASAP.

Thanks!

[2021-01-27 13:06] hibatallahAouadni commented on #23013
Hello @timactive

When you change the status of the order to **refunded** did you make a partial return (I mean did you return a product)?
Please check and feedback.

Thanks!

[2021-01-27 13:55] matks commented on #22878
Hi @maofree @LouiseBonnard I dont know well the "Impact on weight" input. Can you confirm this is how it works:

1. I define a default weight for my product, let's say 5kg.
2. I have 4 combinations
- combination 1 has "Impact on weight" zero => computed weight is 5kg
- combination 2 has "Impact on weight" five => computed weight is 10kg
- combination 3 has "Impact on weight" ten => computed weight

[2021-01-27 13:58] #22873 closed, assigned to NeOMakinG

[2021-01-27 13:58] maofree commented on #22878
Hi @matks
yes it works in that mode like for price

[2021-01-27 13:59] PimpamCraveIt opened #23014 "Duplicate Entry - Module Block Reassurance for upgrade"
#### Describe the bug

When trying to update, See error : "Exception retournée par le module blockreassurance pour upgrade (Exception returned by the BlockReassurance module for upgrade) . Duplicate entry 'ROLE_MOD_TAB_ADMINBLOCKLISTING_CREATE' for key 'slug' "

I think it is an SQL error but i don't know what is the tab in the database who has this error..?
Or is it an issue about the files ? If

[2021-01-27 14:02] matks commented on #22869
Hi @hibatallahAouadni since user @Seb33300 opened PR https://github.com/PrestaShop/PrestaShop/pull/23006 related to issue, I completed the template for him 😉  can you please re-evaluate this github issue?

[2021-01-27 14:03] hibatallahAouadni commented on #22869
@matks yep with pleasure :wink:

[2021-01-27 14:10] matks commented on #22878
Adding fields "impact on width", ""impact on height" and ""impact on depth" means multiple things:

1. create the field in database (no BC break because it's a new field)
2. enable the modification/update of these fields from the BO, from the Webservice and from CSV Import
3. modify the logic that computes the width, height, depth of combinations of a combination so that it considers the "impact o

[2021-01-27 14:10] sarahdib opened #23015 "Size of column in BO is not the same in all page"
#### Describe the bug

Size of column in BO is not the same in all page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin -> preference general & order settings
2. See error

**Screenshots**

<img width="1440" alt="Capture d’écran 2021-01-27 à 14 53 40" src="https://user-images.githubusercontent.com/3034677/106002707-bb225780-60b1-11eb-92f4-e8d0143905f0.png">

<img width

[2021-01-27 14:11] matks commented on #22878
(because "combination 3 has "weight" fifteen => computed weight is 15kg" does not _computation_ logic, just "grab the right value in database", it removes the need for mathematics)

[2021-01-27 14:13] eternoendless commented on #22992
It's here: https://github.com/PrestaShop/TranslationFiles/blob/master/1.7/translations/1.7.7/available_languages.json

I think you need to add Esperanto there to make it available.

[2021-01-27 14:20] hibatallahAouadni commented on #22869
Hello @Seb33300

I reproduced your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/10WPY3_-0PDmp2miTch1caikDa-PJ5mAC/view

I’ll add this to the debug backlog so that it’s fixed. Thanks for your PR :wink:

**PS:** please next time when you open a new issue **respect the provided template to submit a complete bug report**.

Thank you

[2021-01-27 14:21] SD1982 opened #23016 "FO - Responsive / Helpbox is not fully responsive with some mobile device format (ipad)"
#### Describe the bug

With Tablet format the helpbox is a bit small in width

#### Expected behavior

The helpbox should be fully responsive and lisible

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO/order" on Tablet device
2. Click on 'the help button
3. See error => the helpbox doesn't looks good

**Screenshots**
![image](https://user-images.githubusercontent.com/40635

[2021-01-27 14:26] maofree commented on #22878
this customer saids me that a product like a shower cabin, is not heavy but it has a lot of volume, and a product can have many dimensions that affect the volume a lot rather than the weight like this one

https://www.mondialshop.it/it/box-doccia-parete-walk-in/31666-parete-walk-in-due-lati-cristallo-8mm-due-lati-trasparente.html

also he needs the possibility to set a shipping time for each combi

[2021-01-27 14:37] #22978 closed, assigned to NeOMakinG

[2021-01-27 14:47] alfonsolr09 commented on #23005
@matks the problem is that I argued with the developer because the template had a lot of bugs and he didn't want to fix them.  so I do not have your help or support and I must fix it.  Any idea what the problem may be or the file path?
@hibatallahAouadni

Thank you so much.

Pd: I don't know why the route is related with shopping cart...

[2021-01-27 14:50] alfonsolr09 commented on #12933
I think its a good idea

[2021-01-27 15:00] hibatallahAouadni opened #23018 "[EPIC] - Search FO"
All issues related to Search in FO listed in this EPIC

### Bugs
- [ ] #18411 - Wrong search indexing of description with word separated by a `<br>` line break tag
- [x] #34174

### Improvements

## Fixed

### Bugs
- [x] #22869 - Search by ISBN

### Improvements
- [x] #15118 - [IMPROVEMENT] Make separate error templates for empty product lists and search

[2021-01-27 15:04] hibatallahAouadni commented on #23005
Hello @alfonsolr09

you can ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).
You're always welcome :wink:

Thanks!

[2021-01-27 15:05] axel584 commented on #22992
The project "TranslationFiles" is describe as :
`[READ-ONLY] This repo contains all the necessary files to generate translation packs for PrestaShop 1.6 and 1.7. It's updated automatically.`
Can I change the file "available_languages.json" ? Or is it generate by a script ?

[2021-01-27 15:07] hibatallahAouadni commented on #23009
Hello @Ericdev89

I see what you mean but I need to reprpduce the issue on my side to fix it :wink:
So, is there any detail that you miss? do you use another theme? did you make any override?
Please check and feedback.

Thanks!

[2021-01-27 15:09] axel584 commented on #22992
I just see that the script is changed :) Thank you.

[2021-01-27 15:13] hibatallahAouadni commented on #23007
Hello @mark-app & @ruchus

As for example, "The email belongs to a customer. Please, login."

@ruchus This is a good idea for an improvement :clap: Could you please submit a new issue (feature), so I can treat it :wink:
@mark-app could you please make a PR that fix this issue and I will ping the Product Team to study your proposition :wink:

Thanks guys @mark-app & @ruchus

Ping @PrestaShop/produc

[2021-01-27 15:19] Julievrz commented on #22992
Yes, I opened a pull request for that. We'll have to wait for it to be merged and see if it solves the issue!

[2021-01-27 15:40] webconcept06400 opened #23019 "Cant see my var_dump on admin product page with hookActionProductUpdate"
Hi i want debug my code but i cant see any var_dump on this page,

After installing the module and add and save a product

I test with log and the serialize good appear on logs so the hook was trigger, tks for you replys

code :
public function hookActionProductUpdate($params)
{
	if (!$this->createProducts($params, 'A'))
		return false;
	return True;
}

public function createProducts($params, $act

[2021-01-27 15:49] matks commented on #23019
Hello, this repository is not a place to ask questions. Please read https://github.com/PrestaShop/PrestaShop/issues/new/choose and follow "I need help" link.

[2021-01-27 15:49] #23019 closed, assigned to nobody

[2021-01-27 15:51] MatShir commented on #20385
Your feature is shared with the team. But it won't be prioritized for the next version but however, PrestaShop is an open-source project, if you have the technical knowledge or find someone that could don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to add your feature to the PrestaSho

[2021-01-27 15:51] #22806 closed, assigned to NeOMakinG

[2021-01-27 15:59] giacomo-secchi commented on #11083
Doesn't work on modules fields…
![Screen Shot 2021-01-27 at 16 57 51](https://user-images.githubusercontent.com/13584040/106017637-f2e4cb80-60c0-11eb-971e-1294a82883c6.png)

[2021-01-27 16:05] hibatallahAouadni commented on #23014
Hello @PimpamCraveIt

I didn't manage to reproduce your issue with PS1.7.5.2 and PS1.7.7.1, see the attached screen record below:

**PS1.7.5.2: v3.0.1 -> v4.1.1**

https://drive.google.com/file/d/1XUne4w_UGjKnZI6cI0R1OI9pPQyyk6UL/view

**PS1.7.7.1: v3.0.1 -> v5.0.0**

https://drive.google.com/file/d/1Kc2Cnvasx-7JnM135-ZFF3BsgyKFrCtD/view

Please check and feedback.
Thanks!

[2021-01-27 16:05] #22763 closed, assigned to NeOMakinG

[2021-01-27 16:11] NeOMakinG opened #23021 "[UIKit] Switch button behavior is wrong when Yes is checked and button is disabled"
#### Describe the bug

![image](https://user-images.githubusercontent.com/14963751/106019043-7e129100-60c2-11eb-97b3-9886419fc39c.png)

When the true input is checked and the button is disabled, you see Yes and No at the same time

#### Expected behavior

Having Yes or No disabled, but not both at same time

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to /configure/shop/prefer

[2021-01-27 16:18] SimonGrn commented on #23021
I don't understand the problem, this quantic button seems perfectly fine to me :trollface:

[2021-01-27 16:20] hibatallahAouadni commented on #23008
Hello @sickboards

OK I can see that this attribute `location` exist in both tables `ps_product_attribute` and `ps_stock_available`:

![image](https://user-images.githubusercontent.com/23308427/106020108-b1095480-60c3-11eb-9329-1aff3a5c5af7.png)

But, where is the bug?? being saved in both tables does it throw any error?
Please check and feedback.

Thanks!

[2021-01-27 16:28] #22992 closed, assigned to nobody

[2021-01-27 16:46] SharmPRO commented on #23012
Sorry but i wanted to fill a 'Feature Request'

[2021-01-27 16:46] hibatallahAouadni commented on #22697
Hello @Prestaworks ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-27 16:47] hibatallahAouadni commented on #22503
Hello @abramofranchetti ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-27 16:47] #22503 closed, assigned to nobody

[2021-01-27 16:53] hibatallahAouadni commented on #23012
Hello @SharmPRO

So you should **respect the provided template to submit a feature** :wink: see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/106024813-70600a00-60c8-11eb-97a6-8efa0325f3fc.png)

Please edit your issue and add these blocks.

Thanks!

[2021-01-27 17:05] Seb33300 commented on #22968
Hello @hibatallahAouadni, I upgraded to 1.7.7.1 and I am still encountering the issue.

The thing is that when we choose bank transfer payment, 2 emails are sent.
- `order_conf`: details of the order
- `bankwire`: the screenshot you posted

Because this bug cause the email to be sent in English, if you did not install the English translations, the first email `order_conf` will not be sent and will

[2021-01-27 17:07] sickboards commented on #23008
A variable should only exist in one table (unless it is a key)
The location variable in ps_product(_attribute) is not being used
so why is it there?
Why store the same data on 2 locations?

On Wed, 27 Jan 2021 at 17:20, Hibatallah Aouadni <notifications@github.com>
wrote:

[2021-01-27 17:10] Progi1984 commented on #22870
@Julievrz Files are good here : https://github.com/PrestaShop/TranslationFiles/blob/master/1.7/translations/1.7.7/it-IT/AdminOrderscustomersFeature.it-IT.xlf#L765-L774 (Good news)

[2021-01-27 17:25] s-friedli opened #23025 "Two different orders with the same invoice ID"
#### Describe the bug

If two different orders are passed at the same time (for my case 3 seconds), the id of the invoice is the same for both orders.

I would like to specify that the orders passed before and after these two doesn't have any problem.

#### Expected behavior

The id of the invoice have to be incremented each time a new order is passed.

#### Steps to Reproduce

1. Pass two orders

[2021-01-27 17:29] matks opened #23026 "After collapsing navbar, if I go to legacy BO page and expand navbar, navbar entries have no titles"
#### Describe the bug

After collapsing navbar, if I go to legacy BO page and expand navbar, navbar entries have no titles.
![Capture d’écran 2021-01-27 à 18 25 27](https://user-images.githubusercontent.com/3830050/106029166-1c0b5900-60cd-11eb-81eb-c84ed9b9efeb.png)

Symfony pages are OK.

#### Expected behavior

When navbar is collapsed then expanded, no matter what path the user has followed,

[2021-01-27 18:43] Borgas opened #23027 "Error 500"
Fresh install V.4.2.0

After configuration (check and uncheck what we want) the return is error 500

I know it´s relative to theme installed, but even removed every module related, it returns 500

![2](https://user-images.githubusercontent.com/54105234/106038117-6ee61000-60cf-11eb-86a3-2422f52a77f4.JPG)
![3](https://user-images.githubusercontent.com/54105234/106038123-70173d00-60cf-11eb-89bd-7bd35

[2021-01-27 18:47] #23027 closed, assigned to nobody

[2021-01-27 18:48] Borgas commented on #23027
It´s relative to gsitemap, not prestashop

[2021-01-27 19:33] SharmPRO commented on #23012
#### Is your feature request related to a problem?

I need to apply a discount for an order of maximum 77€. Now the Cart Rule ask the minimum amount only.

#### Describe the solution you'd like

The rule logic should consider total >= minimum_amount && total <= maximum_amount

#### Alternatives you've considered

I'd considered to reverse the logic and to apply a negative fix discount but again fi

[2021-01-27 20:08] go-sudo commented on #23000
Hello @hibatallahAouadni

No, i did not, do you sugget that i replace that file with a fresh one?
Regards

[2021-01-27 21:22] benbine opened #23028 "HTML tags visible in the order-conf email"
Hello,

#### Describe the bug

On my 1.7.7.1 shop when someone orders products with customization the order_conf email includes html tags that can bee seen by the customer.
I installed a fresh version of prestashop and reproduced the issue.

#### Expected behavior

No html tags are visible by the customer

#### Steps to Reproduce

Steps to reproduce the behavior:

Order a product with customizatio

[2021-01-27 22:46] Daaaaad commented on #21695
Hello, I have the same problem as @Aidam-puk and another user in the forum: https://www.prestashop.com/forums/topic/1016205-prestashopprestashopcoredomainshopexceptionshopexception-code-0/

Here's the context: I copied an existing website to create a "dev" version of it. I'm using git with a .gitignore so files may be missing 🤔

Anyway the message we get is not very clear: `An unexpected error occ

[2021-01-28 00:39] alfonsolr09 commented on #23005
![image](https://user-images.githubusercontent.com/62474824/106072908-55fa5080-6109-11eb-9892-3204e565fe06.png)

it was simply a wrong link in the product description
Thanks @matks

[2021-01-28 02:24] SharakPL commented on #10035
@babyewok Attribute Wizard Pro is the module you're looking for. Prestashop's default idea of managing combinations is pretty much useless and would be even if there was automatic price calculation. It needs to be redesigned to work like AWP...

[2021-01-28 05:35] farrum commented on #20317
I have exactly same issue except my php version is 7.3 and am using Prestashop v1.7.7.1 . Cant search for customer when trying to create a new order.

[2021-01-28 08:33] hibatallahAouadni commented on #23026
Hello @matks

Thanks for your issue!
I reproduced only with develop. I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2021-01-28 08:39] LouiseBonnard commented on #23007
Hi there! Why would a customer (with an account already registered) place an order as a guest?

[2021-01-28 08:47] Ericdev89 commented on #23009
hello @hibatallahAouadni

i dont see any override that cause that.
i'll check further

Thanks.

[2021-01-28 09:55] NeOMakinG opened #23029 "#product_form_open_help is duplicated in the BO"
#### Describe the bug

Recently, we added Floating button, but I missed something, I duplicated an idea which is used for JS, we need to change it to a js selector. It breaks nightly tests

#### Expected behavior

Avoiding duplicate ID in the BO regarding floating button and header button

#### Steps to Reproduce

**Screenshots**

![image](https://user-images.githubusercontent.com/14963751/1061209

[2021-01-28 10:11] hibatallahAouadni commented on #23028
Hello @benbine

I didn't manage to reproduce your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1UiJ92up-B07-29gXZ42qjwAGrEY7ahLE/view

Please check and feedback.
Thanks!

[2021-01-28 10:19] benbine commented on #23028
Hello,
Can you look inside the email your did received for that order (order confirmed) ? I have the problem in the body of the email and not in the invoice.
Regards

[2021-01-28 10:25] khouloudbelguith commented on #23028
Hi @benbine, @hibatallahAouadni,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/22330
So, I close it.
Thanks!

[2021-01-28 10:25] #23028 closed, assigned to nobody

[2021-01-28 10:25] khouloudbelguith commented on #23028
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/22330

[2021-01-28 10:27] #9561 closed, assigned to nobody

[2021-01-28 10:30] hibatallahAouadni commented on #21695
Hello @Daaaaad

Could you please provide steps to reproduce the issue, your PrestaShop version, your PHP version, ...
And I will re-open the issue :wink:

Thanks!

[2021-01-28 10:31] hibatallahAouadni commented on #23005
@alfonsolr09 Glad to hear :tada: with pleasure :wink:

[2021-01-28 10:36] hibatallahAouadni commented on #23000
Hello @go-sudo

With fresh install, there's no `Cart.php` under `overrides/classes`.
It means if you don't do it, some module add this class :wink:

@matks correct me if I'm wrong :sweat_smile:

Thanks!

[2021-01-28 10:38] hibatallahAouadni commented on #23012
Hello @SharmPRO

Thanks for your feedback and for the suggestion.
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , is it possible to add maximum_amount as a condition for the cart rule?

[2021-01-28 10:40] Progi1984 commented on #22870
@PrestaShop/qa-functional Could you test this issue ? The `it-IT` language has been fixed.

[2021-01-28 10:42] hibatallahAouadni commented on #23008
Hello @sickboards

Well you're right, let's ask the Developer Team :wink:
Please stay tuned!

Ping @PrestaShop/prestashop-core-developers any idea why this attribute `location` saved in both tables?

Thanks!

[2021-01-28 10:42] Daaaaad commented on #21695
Hi @hibatallahAouadni,

Here are the steps and the requested information:

1. Login to the backoffice of your shop
2. Go to "Design" > "Theme & Logo"
3. Try to upload a custom png logo

PHP version: 7.2.34
PrestaShop version: 1.7.6.7

I'm aware that this error could be related to specific installation parameters but the error message is too much "generic" and I can't find the solution 😔

[2021-01-28 10:44] go-sudo commented on #23000
Hi @hibatallahAouadni
So you think I should install a fresh Prestashop and start over to avoid issues?

Regards

[2021-01-28 11:11] hibatallahAouadni commented on #23025
Hello @s-friedli

I didn't manage to repdouce your issue with PS1.7.6.1 and PS1.7.7.1, see the attached screenshots below:

## 1.7.7.1

![image](https://user-images.githubusercontent.com/23308427/106129936-09dafa80-6161-11eb-83e9-a8a03be78483.png)

**Order 1:**

![image](https://user-images.githubusercontent.com/23308427/106129982-1cedca80-6161-11eb-83a3-47bf85270dba.png)

![image](https://user-im

[2021-01-28 11:14] musicpanda commented on #22961
One possibility is that the issue concerned the browser cache and that refreshing  (ctrl-F5) might have helped. It is just speculation and I can't test it. But it matches the symptoms.

[2021-01-28 11:14] Hlavtox opened #23032 "Feature helpbox under faceted search filters"
#### Context

We could help customers choose and filter the right product, if we provide them a little hint with tips how to choose it, or what that feature means.

#### Solution

We could display a little hint `How to choose` under the filter in faceted search. After click, it would open a popup or un-collapse a text or HTML content.
The user would fill this information in feature or attributte s

[2021-01-28 11:28] hibatallahAouadni commented on #23032
Hello @Hlavtox

Well done @Hlavtox :clap: this is really great and well detailed improvement report :rocket:
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , it would be great if we could add this feature, it will help the client to search with faceted search and the message will be customizable from BO, and it will not introduce an

[2021-01-28 12:33] NuclearDetergent opened #23033 "Translations not saved"
#### Describe the bug

Prestashop dosen't overwrite translations, once a new one is made and saved

#### Expected behavior

Once a new input is made in the translation panel, and saved, it should be shown in the front and backend - it is not. All forms of caching are turned off, and forced refresh has been made to no avail.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Inte

[2021-01-28 12:56] hibatallahAouadni commented on #23033
Hello @NuclearDetergent

Could you please check this issue #13392 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-01-28 12:59] hibatallahAouadni commented on #22732
Hello @ProteanCode ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-01-28 12:59] #22732 closed, assigned to nobody

[2021-01-28 13:11] hibatallahAouadni commented on #23009
@Ericdev89 Thanks!

[2021-01-28 13:33] KevinDev00 opened #23035 "firstname and lastname in address are the same"
Hi,

After updating from 1.7.6 to 1.7.7, an issue came up. When ordering, some clients have the same firstname and surname in the delivery address (example : John John). I made sure they filled the fields correctly. Any idea why this issue came up ?
After some research, I don't think it's an autocompletion issue.

Thanks

[2021-01-28 13:37] maxenceboissieux opened #23036 "Issue in cookie with the SameSite parameter"
#### Describe the bug

On the demo page in addons.prestashop.com when I launch the front demo or the back demo of my modules there is a problem with the paramater SameSite. So in front office I can't add product to the basket and in the back office I can't login. But all this bugs don't appear when I use the site without your iframe.

#### Expected behavior

Normally it would add product to the ba

[2021-01-28 13:43] #22644 closed, assigned to NeOMakinG

[2021-01-28 13:44] SimonGrn commented on #23036
Hello,

this repository is aimed at the Core of PrestaShop. Addons is a separate entity which belongs to the PrestaShop company, not the PrestaShop open source project.
I highly suggest you contact them throught [their official page](https://www.prestashop.com/contact).

Thank you for your understanding.

[2021-01-28 13:44] #23036 closed, assigned to nobody

[2021-01-28 13:45] SimonGrn commented on #23035
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-01-28 13:45] #23035 closed, assigned to nobody

[2021-01-28 13:58] Ludhiel opened #23038 "Unable to delete item from cart when added from BO on existing paid order"
#### Describe the bug

When I add a product to an existing paid order, the customer have a cart with the product in it and cannot remove it

#### Expected behavior

No cart added to the customer, or at least be able to remove it

#### Steps to Reproduce

1. Create an order with a product  and pay it In FO with a registered account
2. Go to the BO, get the order and add a product with combination/v

[2021-01-28 14:02] NeOMakinG opened #23039 "The project doesn't have precise breakline rules on SCSS"
#### Is your feature request related to a problem?

Currently, it's up to developers to choose a breakline pattern when they write SCSS, this lead to different patterns on different files

#### Describe the solution you'd like

Having a stylelint rule which automate the breakline pattern

[2021-01-28 14:52] maxenceboissieux commented on #23036
Hi !

I misspoke, this bug is not only on Addons it is global. I see you have one similar issue but in another version : #22711.

[2021-01-28 14:58] hibatallahAouadni commented on #22870
Hello @Progi1984

I just tested with PS1.7.7.x and that's what I get:

1. BO>SELL>Order
2. Set the first order to **On backorder (not paid)**
3. Set the second order to **On backorder (paid)**
4. BO>CONFIGURE>Shop Parameters>Order Settings>Statuses
5. Change the status **On backorder (not paid)** to **On backorder (paid)**

![image](https://user-images.githubusercontent.com/23308427/106155968-533b

[2021-01-28 15:09] #22755 closed, assigned to kpodemski, khouloudbelguith

[2021-01-28 15:12] #23011 closed, assigned to nobody

[2021-01-28 15:30] PimpamCraveIt commented on #23014
Hi, sorry for the explication @hibatallahAouadni , i didn't achieve to explain it very well
There is the video for the apparition of the error

https://drive.google.com/file/d/1ksx89e5Rtzbgk9Dn-_CjYOGhfbOoGAX8/view

[2021-01-28 15:43] #23029 closed, assigned to NeOMakinG

[2021-01-28 15:44] Portolopser23 opened #23041 "Problem with rounding after payment via Paypal"
#### Describe the bug

This happens in PrestaShop 1.6.0.9
When a customer makes an order via Paypal that involves some products with a large amount of combinations decimal rounding doesn't calculate properly (1 or 2 cents up or down) and the order is set as "Payment error".
We already fixed the issue on Paypal module editing proccess.php and the payment done by the customer is fine, amounts and ev

[2021-01-28 15:53] matks commented on #23036
Hi @maxenceboissieux I am not sure to fully understand.

What you report is "when I launch the demo of my module, there is an issue because of missing SameSite attribute". This is probably something related to how addons.prestashop.com "see a demo of my module" feature is setup?

If this is the case there is nothing we can do, we have no control of addons.prestashop.com . If you need this to be fi

[2021-01-28 15:57] #23021 closed, assigned to nobody

[2021-01-28 16:03] hibatallahAouadni commented on #23038
Hello @Ludhiel

How did you add the product to the Order, cause when I tried to add the product, I get an error :confused:
See the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/106164768-a5cd2c00-618a-11eb-8a8f-7c3fba9ccb68.png)

Please check and feedback.
Thanks!

[2021-01-28 16:06] hibatallahAouadni commented on #23041
Hello @Portolopser23 ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please

[2021-01-28 16:06] #23041 closed, assigned to nobody

[2021-01-28 16:06] Portolopser23 commented on #23041
Thanks for the reply!

[2021-01-28 16:09] hibatallahAouadni commented on #23041
Really sorry :confused: you can also ask for help in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

[2021-01-28 16:12] hibatallahAouadni commented on #21695
Thanks @Daaaaad I will try to reproduce it :wink:

[2021-01-28 16:14] Portolopser23 commented on #23041
No worries! I'll send a message in Slack hoping that someone helps. Have a nice day and stay safe!

[2021-01-28 16:14] hibatallahAouadni commented on #21695
Hello @Daaaaad

DId you change the **Header logo** or **Mail logo**?
Please check and feedback.

Thanks!

[2021-01-28 16:23] hibatallahAouadni commented on #23014
Hello @PimpamCraveIt

I saw your screen record and I saw clearly the error but unfortunally I didn't manage to repdroduce as you can see in my screen record mentioned above.
Is there any detail that you forget to mention? maybe an override?

Please check and feedback.
Thanks!

[2021-01-28 16:36] matks commented on #23000
@go-sudo It is recommended to disable modules before an upgrade and then re-enable them. Sometimes the modifications applied by the modules on the shop might not be compatible with an upgrade or with the new version.

So one safe strategy would be:
1. Open shop (before upgrade)
2. Disable all modules, remove overrides in `override/classes/` if any
3. Perform the upgrade
4. Enable modules again, on

[2021-01-28 16:46] Ludhiel commented on #23038
Hi,

After checking the prestashop version is 1.7.6.7

I have no error, in my test I used payment by wire and let it in wanting.

My problem come from this,  as the attribure_id is put to customization field too withotu creating a customization in the corresponding table (check the commented line).
![image](https://user-images.githubusercontent.com/32941352/106169487-b633d580-618f-11eb-9223-ae78f0

[2021-01-28 16:49] go-sudo commented on #23000
Hi @matks
Thank you, I did disable the modules one by one but after the upgrade , I think that i will start the migration and follow your instructions
Regards

[2021-01-28 17:34] hibatallahAouadni commented on #22968
Hello @Seb33300

It's a little be confusing cause I already received the order_conf mail, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/106169167-5ccba680-618f-11eb-9a8a-2edf969e7e43.png)

And I already have the English language well installed:

![image](https://user-images.githubusercontent.com/23308427/106176246-59d4b400-6197-11eb-904c-1d5f8fd65e

[2021-01-28 17:35] hibatallahAouadni commented on #23000
Hello,

@matks Thanks for your reply :wink:
@go-sudo don't forget to feedback :slightly_smiling_face:

Thanks!

[2021-01-28 17:38] Seb33300 commented on #22968
Are you sure you added the email template override properly?

It look like the email template on the screenshot is the original one. Did you change something in the email template to confirm that your override is used?

[2021-01-28 20:29] Daaaaad commented on #21695
Hi @hibatallahAouadni, that's the "header logo" sorry I forgot to mention it 👍

[2021-01-28 20:58] itsvahid opened #23045 "Disable/Enable product images"
#### Is your feature request related to a problem?

It is difficult to delete and upload product images every time instead of disabling/enabling them.

#### Describe the solution you'd like

A button or checkbox to enable/disable the product images. A new field is needed in the ps_image table e.g. is_active. The new field goes into Image.php class and to get only the active images in the FO for th

[2021-01-28 21:38] HartLarsson commented on #22796
i think the problem is for the native language, mine is italian yours?
I've this problem sometimes and switch back to english let me fix translations.

[2021-01-29 00:50] msaustral commented on #14554
Hi Everyone here is a workaround
1.- Find the table prefix_carrier -> take note of the field id_reference of all your active carriers
2.- Find the tables prefix_module -> take note of the field id_module of all your active payment module
3.- Find the table prefix_module_carrier -> you will see that there are missing entries for your carrier id_reference with the payment id_module associated, creat

[2021-01-29 06:19] jajarom commented on #20332
Just the two? Because there are more in the Src directory

[2021-01-29 07:35] imballo commented on #20332
I have (had) empty index.php files in all the directories of the installation (where not already present).
I deleted all of them inside src and sub-directories.
In my case it was the FileLoader of the DependencyInjection of Symfony (vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Loader/FileLoader.php) that was trying to load the resource "src/PrestaShopBundle/Controller/Admin/Con

[2021-01-29 07:47] NuclearDetergent commented on #23033
This is not the problem I'm experiencing.

I'm using the standard Prestashop translation panel, to translate any module. Once a translation has been made, this translation is impossible to overwrite with a new one, in the same standard translation panel.

**Practical example:** So let's say I've translated field "X" with "This order" and saved the translation. Shows up fine. Now I want to make a c

[2021-01-29 07:48] NeOMakinG opened #23046 "Centralize classic microdatas in a file using JSON-LD"
#### Is your feature request related to a problem?

Currently, all microdatas are managed in their respective templates of the markup they aim to enrich, this leads to several things :
- It's harder to maintain, because there are a lot of files to inspect in order to change these
- It's harder to override from a template, because the template needs to override tons of tpl files, and it leads to ma

[2021-01-29 07:49] NeOMakinG commented on #23046
@PrestaShop/prestashop-maintainers It's an open discuss, because the community submit a PR about this, wdyt ?

I feel like it's a really good improvement for microdatas management of the classic theme

[2021-01-29 08:11] florine2623 commented on #23045
Hi @itsvahid ,
Thanks for the suggestion.
I'll ping our product team, in the mean time, please stay tuned !
If you have this feature ready, please do send us a pull request!
Thanks!

[2021-01-29 08:13] florine2623 commented on #23045
Ping @PrestaShop/product-team ,
@itsvahid is suggesting a new feature for the product image, what do you think ?

Thanks!

[2021-01-29 09:15] Hlavtox commented on #22867
@NeOMakinG @matks Should I close this? :D https://github.com/PrestaShop/PrestaShop/issues/23046

[2021-01-29 09:17] NeOMakinG commented on #22867
Oh damn, I didn't find this one !

[2021-01-29 09:18] #23046 closed, assigned to nobody

[2021-01-29 09:18] NeOMakinG commented on #23046
Closing in favor of #22867.

[2021-01-29 09:25] Hlavtox opened #23047 "Add ability to hide or customize KPIs"
#### Is your feature request related to a problem?

KPI bar on top of pages (orders) is taking a lot of space and only some users are interested in it.

#### Describe the solution you'd like

What would you say about an ability to:
- completely hide it
- add a collapse icon so users can hide it when they don't need it
- customize what data users want to see there?

[2021-01-29 09:37] Hlavtox opened #23048 "Add ability to send a invoices to customers from BO"
#### Is your feature request related to a problem?

When you wan't to resend an invoice or some document to a customer, you need to save it and send it manually. (If I know correcty)

#### Describe the solution you'd like

What if we add ability to send a document to a customer's email by one click?

![Výstřižek](https://user-images.githubusercontent.com/6097524/106258277-eaee6e00-621d-11eb-82c0-c

[2021-01-29 10:07] florine2623 commented on #23047
Hi @Hlavtox ,
Thanks for the suggestion, please stay tuned as I ping our product team.
Thank you !

[2021-01-29 10:09] florine2623 commented on #23047
Ping @PrestaShop/product-team ,
What do you think about @Hlavtox 's suggestion regarding the KPI bar on Order :
![Capture d’écran 2021-01-29 à 11 08 52](https://user-images.githubusercontent.com/16019289/106261836-6a7e3c00-6222-11eb-8a96-eb5f7819f134.png)

Thanks!

[2021-01-29 10:16] hibatallahAouadni commented on #22931
Hello @joaolago1113

I don't know if it's possible to have results with the word **pump** if you make a search with **pumps**.
Let's ask the Product Team, please stay tuned!

Ping @PrestaShop/product-team following these steps:

1. Add products to the store with **pump** in the name;
2. Use Fuzzy Search to search for **pumps**;
3. No product with the word **pump** in the name are found.

Is that t

[2021-01-29 10:17] florine2623 commented on #23048
Hello @Hlavtox ,
Yes indeed, you need to save it and send it manually or the customer can find the invoice as attachment with every email sent when the status changes.

Thanks for the suggestion, please stay tuned as I ping our product team !
Thanks!

[2021-01-29 10:20] kpodemski commented on #23048
I think you can create custom order state, and set invoice to be send with it.

[2021-01-29 10:21] TristanLDD commented on #22983
Hello, here is the display for B2B informations:

<img width="501" alt="Capture d’écran 2021-01-29 à 11 11 54" src="https://user-images.githubusercontent.com/27484094/106262895-efb62080-6223-11eb-9545-3f3f5ed64628.png">

[2021-01-29 10:21] florine2623 commented on #23048
Ping @PrestaShop/product-team ,

What do you think about adding a button in the order section to be able to send the invoice ?

Thanks!

[2021-01-29 10:34] NeOMakinG opened #23050 "Classic theme webpack configuration doesn't keep license by default"
#### Is your feature request related to a problem?

Production webpack configuration doesn't keep licenses by default, this means that you need to add the KeepLicense plugin yourself when doing a theme, overwise you'll be refused by the theme validator

#### Describe the solution you'd like

When you build your assets, keep licenses inside assets

[2021-01-29 10:35] micka-fdz commented on #23050
I'll try to make a PR soon.

[2021-01-29 10:48] joseantgv opened #23051 "Specify product combinations in cart when there is not enough stock"
#### Is your feature request related to a problem?

Improve the information displayed in the checkout when a product is without stock

From https://www.prestashop.com/forums/topic/1041442-nobody-can-figure-it-out-we-need-a-specialist/

#### Describe the solution you'd like

Display the combination from the product without stock.

#### Additional context

Which one is the product without stock?
![i

[2021-01-29 11:03] Hlavtox opened #23053 "[BO - Responsive] Bad responsivity of customer block"
#### Describe the bug

Content of customer block in order BO is not very responsive.

#### Expected behavior

It should be readable and scale good. Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/23052

**Screenshots**

![responsive](https://user-images.githubusercontent.com/6097524/106267452-f21b7900-6229-11eb-872e-0240d45cfdba.JPG)

#### Additional information

* PrestaShop versio

[2021-01-29 11:09] florine2623 commented on #23051
Hello @joseantgv ,

Thank you fr the report!
I was able to reproduce the issue with PrestaShop version 1.7.7.1. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2021-01-29 11:10] #22869 closed, assigned to Seb33300

[2021-01-29 11:18] florine2623 commented on #23053
Hi @Hlavtox

I was able to reproduce the issue with PrestaShop version 1.7.7.1. I’ll add this to the debug backlog so that it’s fixed.
Thank you for your PR.

Thanks!

[2021-01-29 11:19] Hlavtox commented on #23053
@florine2623 Thanks!! I made the issue only because @prestonBot was complaining 😄

[2021-01-29 11:23] Julievrz commented on #22870
Hi @Progi1984, It does not seem to work. The translation on the software is not updated.
![image](https://user-images.githubusercontent.com/70583503/106269398-bfbf4b00-622c-11eb-8023-4233cc552065.png)

[2021-01-29 11:28] PrestaEdit opened #23054 "Let the module set an error message while the upgrade fail"
#### Is your feature request related to a problem?

When you try to make an upgrade script for a module, if it's fail, you don't know why.

#### Describe the solution you'd like

Let the upgrade file make something as setError('The error message'); return false; in order to allow the back office show the errors.

#### Alternatives you've considered

No one, there is no one. Make 45 minutes with di

[2021-01-29 13:02] hibatallahAouadni commented on #23046
Duplicate of #22867

[2021-01-29 13:09] florine2623 commented on #23054
Ping @PrestaShop/prestashop-core-developers ,

Do you think that this could be implemented ?

Thanks!

[2021-01-29 13:51] hibatallahAouadni commented on #13890
@MatShir Why this Epic closed when there's some issues still open? Shall we move those issues to this Epic #17598?

[2021-01-29 14:07] hibatallahAouadni commented on #9783
Hello @marionf @MatShir

How can I test this one? apparently is lined to the payment module :confused:
And I see it's a regression but not mentioned in any Project!?

Thanks!

[2021-01-29 14:48] hibatallahAouadni commented on #9656
Hello @marionf @khouloudbelguith

I didn't manage to reproduce the issue with PS1.7.7.1, could you please check the attached screen record below:

https://drive.google.com/file/d/1DEf-joBRw8SH2vEmSaccY1b8KIHnsRKq/view

As you can the new used link that redirects to 404 page is mentioned in the the list:

![image](https://user-images.githubusercontent.com/23308427/106289250-569a0080-6249-11eb-9d17-

[2021-01-29 14:56] marionf commented on #9656
Good news, I guess we can close the issue :)

[2021-01-29 14:56] #9656 closed, assigned to nobody

[2021-01-29 15:17] Ernestas-Fokas opened #23057 "modules/sekeywords"
#### Describe the bug

Function usage PHP Deprecated:  strpos()

#### Expected behavior

PHP Deprecated:  strpos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in /home/XXXXXXX/public_html/modules/sekeywords/sekeywords.php on line 92

#### Additional information

* PrestaShop version: 1.7.7.1
* PHP version: 7.3

[2021-01-29 15:24] florine2623 commented on #23057
Hi @Ernestas-Fokas ,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-01-29 15:24] #23057 closed, assigned to nobody

[2021-01-29 15:32] Ernestas-Fokas commented on #23057
Hello,

Yes, my provided information is enough. But it is OK to close my issue.

Please see here: https://github.com/PrestaShop/PrestaShop/issues/20790

2021-01-29, pn, 17:24 florine2623 <notifications@github.com> rašė:

--
Ernestas Fokas

[2021-01-29 15:32] hibatallahAouadni commented on #12253
Hello @khouloudbelguith @Akashvastarpara

I didn't manage to reproduce the issue with PS1.7.7.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/106294490-877d3400-624f-11eb-9777-0a4c4dad22e7.png)

Please check and feedback.
Thanks!

[2021-01-29 15:43] khouloudbelguith commented on #12253
Hi @hibatallahAouadni,

No, I still have the issue.
I manage to reproduce it with PS1771 & 177x branch (PS1772).
![image](https://user-images.githubusercontent.com/16067358/106295464-c5c72300-6250-11eb-8102-acf65d68a624.png)
**FO**
![image](https://user-images.githubusercontent.com/16067358/106295612-f3ac6780-6250-11eb-8f5a-eacda7f8a94a.png)

Thank you!

[2021-01-29 15:45] hibatallahAouadni commented on #12253
@khouloudbelguith did you enable the SSL?

[2021-01-29 15:47] khouloudbelguith commented on #12253
Hi @hibatallahAouadni,

Yes!
I attached a screenshot
![image](https://user-images.githubusercontent.com/16067358/106296144-91079b80-6251-11eb-9124-dc4c20c18a75.png)

Thanks!

[2021-01-29 15:54] crabbi33 commented on #22995
So i recovered missing tables
I tried tu upgrade with 1-click upgrade module and again the same error.....
Javascript error (parseJSON) detected for action "upgrademodules"
....
I hate that......

Nicolas

[2021-01-29 16:11] khouloudbelguith commented on #22581
Hi @hibatallahAouadni,

In my case, I still have no logo in the invoice received
![image](https://user-images.githubusercontent.com/16067358/106298989-eabd9500-6254-11eb-989c-40183d6518fd.png)

Thank you!

[2021-01-29 16:16] Progi1984 commented on #22636
Fixed by #23024

[2021-01-29 16:16] #22636 closed, assigned to Progi1984

[2021-01-29 16:17] #22711 closed, assigned to PierreRambaud

[2021-01-29 16:34] MatTheCat opened #23058 "Barcode validation uses wrong regexes"
#### Describe the bug

I can enter any numeric value as a product barcode as long as it has at most the expected number of digits and it will validate.
Take `1` for example. As per current validation rules it is a valid EAN 13, a valid UPC and valid ISBN.

#### Expected behavior

I cannot enter a barcode in an invalid format.

[2021-01-29 16:40] florine2623 commented on #23058
Hello @MatTheCat ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-01-29 16:40] #23058 closed, assigned to nobody

[2021-01-29 17:20] SimonGrn commented on #23057
If you know an issue is a duplicate, please don't open it. You can comment the original issue to let us know you encounter the same issue.

[2021-01-29 17:20] SimonGrn commented on #23057
Duplicate of #20790

[2021-01-29 17:35] hibatallahAouadni commented on #23051
Related to #18958

[2021-01-29 19:27] fabiovannini opened #23060 "Update a combination via webservice, it disappears from the carts"
1) Create a product
2) Create some combinations
3) Insert a combination in the cart on public side
4) Read this combination from web service
5) Update read combination from web service (changing something or ANYTHING)
6) This combination left the cart (ALWAYS)

can anyone reproduce this behavior? Is it a problem with myclient or on the web service?

I look in Combination.php class on method delete

[2021-01-29 20:05] SimonGrn commented on #23060
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2021-01-29 20:05] #23060 closed, assigned to nobody

[2021-01-29 21:50] fabiovannini opened #23061 "Webservice: Combination disappear from carts on update"
#### Describe the bug

When you read a combination via webservice and update it without any changes (same dto), if this combination is in any Customer cart, it disappear from cart (always). The combination is updated right. Any error is trigged by webservice. Any message displayed to the customer.

#### Expected behavior

The combination must be remain in the cart (respecting business rules and do

[2021-01-29 22:08] hibatallahAouadni commented on #12417
Ping @PrestaShop/product-team what's the status of this issue?

[2021-01-29 22:37] hibatallahAouadni opened #23062 "[EPIC] - BO CMS Pages"
All issues related to **`CMS pages`**:

### Bugs
- [x] #9706
- [ ] #10399

**Need Specifications `TBS`**
- [x] #19042
- [x] #21524

### Features
- [x] #19148
- [x] #28079

**Need Specifications `TBS`**
- [ ] #12417
- [x] #14207
- [x] #14536

## Fixed

### Bugs
- [x] #23168

**Need Specifications `TBS`**

### Features

**Need Specifications `TBS`**

[2021-01-30 00:54] hibatallahAouadni commented on #20301
Ping @PrestaShop/prestashop-core-developers so what's the status of this issue?

[2021-01-30 01:10] hibatallahAouadni commented on #10568
@matks could you please specify the status of this issue?

[2021-01-30 09:01] joseantgv commented on #23051
There are more errors which could be improved:

https://github.com/PrestaShop/PrestaShop/blob/95e8c7f92b5a336e5d516981c58d70e54520ffd4/controllers/front/CartController.php#L397
https://github.com/PrestaShop/PrestaShop/blob/95e8c7f92b5a336e5d516981c58d70e54520ffd4/controllers/front/CartController.php#L438
https://github.com/PrestaShop/PrestaShop/blob/95e8c7f92b5a336e5d516981c58d70e54520ffd4/control

[2021-01-30 10:46] ruchus commented on #23007
Hi @LouiseBonnard,

I can imagine just a case. When customer doesn't remember that is already customer.
Are you agree?

[2021-01-30 11:41] Seb33300 commented on #22968
@hibatallahAouadni I found the issue.

This is because I only override the `mails/fr/order_conf.html` file in my theme.
If I override both `mails/fr/order_conf.html` and `mails/fr/order_conf.txt`, this works as expected.

However, I have now another issue trying to override an email theme template.
I am trying to override `mails/themes/modern/components/layout.html.twig` in my theme by creating th

[2021-01-30 12:13] sijafu commented on #10003
Hi! @matks @gennaris
Sorry for digging up the old topic, but maybe you have information about this bug? How can it be avoided?

[2021-01-31 01:49] alfonsolr09 opened #23064 "error color text in product description"
#### Describe the bug

when I activate the bullet list the text color changes in the classic theme

#### Expected behavior

same colour

#### Steps to Reproduce

1. **BO**>**SELL**>**Catalog**>**Products**
2. Edit your product
3. Add a bullet list to your product's summary
4. **Save**
5. Click on **Preview**
6. FO, you can see the bullet list in product page with different color

**Screenshots**

[2021-01-31 02:44] alfonsolr09 opened #23065 "error showing description listed in product quick view"
#### Describe the bug

When I put a bullet list in the description of an article, it is not shown if I open the quick view of the product
See the video

#### Expected behavior

if I open the quick view of the product, I can see the bullet list in the description of an article

#### Steps to Reproduce

1. **BO**>**SELL**>**Catalog**>**Products**
2. Edit your product
3. Add a bullet list to your pro

[2021-01-31 09:02] jajarom commented on #20332
After about 1-2 hours deleting the index.php file from src and vendor directories...update worked.
Thank you

[2021-01-31 14:00] dgdb1 commented on #20480
Work great :)

[2021-01-31 17:35] jajarom commented on #20332
But after that, there are a lots of problems...

PHP Warning:  Declaration of Cart::getProducts($refresh = false, $id_product = false, $id_country = NULL, $fullInfos = true) should be compatible with CartCore::getProducts($refresh = false, $id_product = false, $id_country = NULL, $fullInfos = true, bool $keepOrderPrices = false) in /home/xxxxxx/public_html/override/classes/Cart.php on line 0

[2021-01-31 20:23] tarasklymets commented on #14955
When to expect a change?

[2021-01-31 22:58] RicardoNunoAlmeida commented on #20963
Same.

[2021-02-01 00:48] alfonsolr09 opened #23066 "save customization in themes"
#### Is your feature request related to a problem?

It is hateful to update prestashop since every time I update I have to apply all the customizations to the theme again

#### Describe the solution you'd like

There should be an option so that the theme does not restart when updating or changing the theme for another theme

[2021-02-01 00:52] alfonsolr09 opened #23067 "error with welcome module"
#### Describe the bug

in a new installation of prestashop 1.7.7.1 the module does not work, it cannot be stopped by clicking on any of the two buttons.
you have to go to deactivate it in the modules tab

**Screenshots**

![image](https://user-images.githubusercontent.com/62474824/106403683-2e202b00-6430-11eb-9ca9-d825b8bf8965.png)

#### Additional information

* PrestaShop version: 1.7.7.1
* PHP

[2021-02-01 01:05] alfonsolr09 opened #23068 "error trying to upload a new theme"
#### Describe the bug

error trying to upload a new theme from my computer's file explorer
thats error "Se ha producido un error inesperado. [PrestaShop\PrestaShop\Core\Domain\Theme\Exception\ThemeConstraintException código 2]"

"Unexpected error has ocurred. [PrestaShop \ PrestaShop \ Core \ Domain \ Theme \ Exception \ ThemeConstraintException code 2]"

#### Steps to Reproduce

Steps to reproduc

[2021-02-01 07:40] fabiovannini commented on #23061
#### Read Request

Request method: GET
Request URL: http://mysecretapikey@192.168.1.46/api/combinations/397
Request Body: [empty]

#### Read Response

Response Status: 200
Response body:

[2021-02-01 07:51] fabiovannini commented on #23061
### GET Request
Method: GET
URL: http://mysecretkey@192.168.1.46/api/combinations/397
Body:

### GET Response
Status: 200
Body:
[code]
### PUT Request (the same read DTO)
Method: PUT
URL: http://mysecretkey@192.168.1.46/api/combinations/397
Body:
[code]
### PUT Response
Status: 200
Body:
[code]

[2021-02-01 08:02] fabiovannini commented on #23061
If I change this line in this file, the system behaves as expected (the combination remains in the cart). But not knowing the logic applied on Prestashop well, I ask the support team on this change.

**Is this modification safe?!?**

**File:** classes/Combination.php
[code]

[2021-02-01 08:12] hibatallahAouadni commented on #23068
Hello @alfonsolr09

I didn't manage to reproduce your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1W6YBWt5mL_nn0MBfHJALEIT4d0nEtLWy/view

Could you please check your imported theme, it may be faulty or incompatible with this version.
Please check and feedback.

Thanks!

[2021-02-01 08:14] alfonsolr09 commented on #23068
Its compatible...

[2021-02-01 08:19] hibatallahAouadni commented on #23067
Hello @alfonsolr09

I didn't manage to reproduce your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1KamTBc1z-RRA9Tl2eNn4Cbf1OVk20q3k/view

Please check and feedback.
Thanks!

[2021-02-01 08:35] hibatallahAouadni commented on #23066
Hello @alfonsolr09

Are you talking about overrides? or you mean that everytime before you upgrade your shop, you need to toggle from your theme to Classic theme, and then after the upgrade you toggle to your theme, is that so?

Thanks!

[2021-02-01 08:37] PierreRambaud commented on #22956
Yes, but it's valid in SQL :sweat_smile:

[2021-02-01 08:53] alfonsolr09 commented on #23066
When you change the theme, all the modifications deleted

[2021-02-01 09:24] imballo commented on #20332
Cart::getProducts signature (with the added argument $keepOrderPrice) has been changed with the latest version of Prestashop.
I had the same problem because I had an override of Cart::getProducts.
Probably you have the same problema. In this case, you need to update the override (if it was made by a module check if the module has an upgrade).

[2021-02-01 09:30] jajarom commented on #20332
I fount the module, but still...I cannot save any of my products.

[2021-02-01 09:32] #23039 closed, assigned to NeOMakinG

[2021-02-01 09:34] PierreRambaud commented on #11083
It's up to modules to update their compatibility with utf8mb4 :wink:

[2021-02-01 09:35] hibatallahAouadni commented on #23065
Hello @alfonsolr09

Thanks for your issue!
I reproduced your issue with PS1.7.7.0 and PS1.7.7.1. I tried to reproduce with older version and it seems that even in the product page, the bullit list was not displayed :confused:
Apparently this issue has been fixed partially :wink:

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can

[2021-02-01 09:36] imballo commented on #20332
Check all the function overrides of the Cart class. In my case there was also the updateQuantity function (and a couple others).

[2021-02-01 09:39] MatShir commented on #9783
Hi @hibatallahAouadni,
The bug has been tested, but if you want to double-check you will have to ask the dev from the core team to provide you a test payment module.
It used to be a regression, we can remove the label. Bugs considered as regressions are the new bugs created by the new PS version. Here sadly, the bug is from 1.7.1.

This bug still won't be prioritized for the next version. More cri

[2021-02-01 09:44] SimonGrn commented on #23066
Do not modify directly the Classic Theme. Use a child theme. Modifying directly the theme is a bad practice as explained in [the documentation](https://devdocs.prestashop.com/1.7/themes/reference/template-inheritance/parent-child-feature/).

The problem you encounter is not an issue from PrestaShop.

[2021-02-01 09:44] #23066 closed, assigned to nobody

[2021-02-01 10:01] PierreRambaud commented on #23054
Could you provide use an example, a module to be able to reproduce and be sure we are talking about the same thing? :)

[2021-02-01 10:05] khouloudbelguith commented on #22867
Hi!

As commented here: https://github.com/PrestaShop/PrestaShop/pull/23042#issuecomment-769758614 fixed by https://github.com/PrestaShop/PrestaShop/pull/23055.
Don't close this issue until this PR: https://github.com/PrestaShop/PrestaShop/pull/23042 is merged.

Thank you!

[2021-02-01 10:07] marionf commented on #22867
This issue seems to be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15783 ?

[2021-02-01 10:16] PrestaEdit commented on #23054
Hi @PierreRambaud ,

There is an example. Add firstly the v1.0.0:
[pm_example-v1.0.0.zip](https://github.com/PrestaShop/PrestaShop/files/5903293/pm_example-v1.0.0.zip)

After that, try to install the v1.0.1 inside the Back Office.
[pm_example-v1.0.1.zip](https://github.com/PrestaShop/PrestaShop/files/5903294/pm_example-v1.0.1.zip)

The goal is to have the error message show in this box, for exampl

[2021-02-01 10:18] dennispw commented on #23066
I'm pretty sure @alfonsolr09 are experiencing similar issues as reported in https://github.com/PrestaShop/PrestaShop/issues/12933

[2021-02-01 10:21] hibatallahAouadni commented on #23064
Hello @alfonsolr09

I reproduced this issue with PS1.7.6.7, PS1.7.7.0 and PS1.7.7.1. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-02-01 11:07] MatShir commented on #13890
@hibatallahAouadni This Epic was a development epic planned for 1.7.7. Since the 1.7.7 is done, this epic is not relevant anymore.

[2021-02-01 11:12] hibatallahAouadni commented on #13890
@MatShir So should we move the open issues to the other Epic?

[2021-02-01 11:37] MatShir commented on #13890
Yes I guess !

[2021-02-01 11:40] hibatallahAouadni commented on #22867
@marionf maybe related but I don't think it's a duplicate :wink:

[2021-02-01 11:44] hibatallahAouadni commented on #23068
Hello @alfonsolr09

Ok, so could you please provide more infos so I can manage to reproduce your issue.
Cause as you can see I couldn't :confused:

Thanks!

[2021-02-01 11:46] hibatallahAouadni commented on #22968
hello @Seb33300

If I override both `mails/fr/order_conf.html` and `mails/fr/order_conf.txt`, this works as expected.

Ofc, you have to override both :sweat_smile: well glad that you resolved your issue.

Did you clear the cache?
Please check and feedback.

Thanks!

[2021-02-01 12:12] fixo94 opened #23070 "Retrieve password with email with uppercase"
#### Describe the bug

Can't recover password when email contain an uppercase

#### Steps to Reproduce

Register a client with an uppercase in the email (such as toto@Gmail.com)

And try to recover the password.

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
![image](https://user-images.githubusercontent.com/8167966/106457150-d49b1900-648e-11eb-

[2021-02-01 12:40] hibatallahAouadni commented on #23070
Hello @fixo94

We are aware of this issue, it is already fixed with PS1.7.7.0. This issue is a duplicate of #13386.
Here's the PR: #16550 to fix the issue.

Thanks!

[2021-02-01 12:40] #23070 closed, assigned to nobody

[2021-02-01 12:41] hibatallahAouadni commented on #23070
Duplicate of #13386

[2021-02-01 12:57] #23053 closed, assigned to Hlavtox

[2021-02-01 13:07] hibatallahAouadni commented on #23013
Hello @timactive

Your issue is realetd to this #21088 and #22756

Well I managed to reproduce your issue with PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1hzNWaIx1LlNI-5kg0hfXTyOTly3D19C-/view

But, if you change the order status to **Canceled**, the reserved qty will be set to 0:

![image](https://user-images.githubusercontent.com/23308427/106462687-b6d1b200

[2021-02-01 13:08] hibatallahAouadni commented on #22756
Hello @ibrahimfsasmaz

Could you please check my [comment](https://github.com/PrestaShop/PrestaShop/issues/23013#issuecomment-770843719) in this issue #23013

Thanks!

[2021-02-01 13:13] hibatallahAouadni commented on #23061
Hello @fabiovannini

You mean after reading the combination by WS, you update it, is that so?

Could you please made a Pull Request:

![image](https://user-images.githubusercontent.com/23308427/106463296-876f7500-6497-11eb-846d-ded80e47a683.png)

Please check and feedback.
Thanks!

[2021-02-01 13:14] Myrjam opened #23071 "Prestashop features are not being recognized anymore"
#### Describe the bug
After upgrading from 1.6 to 1.7.7.1 I am not able to save products in the backoffice as features are not being recognised. Features values selected from the dropdownlist are not recognized see image. When selecting a feature the feature values are empty while the are filled in in the Features and Atributes section. In this section I am able to change and save attributes, for

[2021-02-01 13:15] hibatallahAouadni commented on #22710
Hello @Argez ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-01 13:15] #22710 closed, assigned to nobody

[2021-02-01 13:28] hibatallahAouadni commented on #23071
Hello @Myrjam

Did you encounter any issue while upgrading?
Please check and feedback.

Thanks!

[2021-02-01 13:35] timactive commented on #23013
Hello @hibatallahAouadni,
Sure when you change the state you can have the behavior you wish but it is not the question.
Refunded state it is final flow state.
Otherwise this status is no longer of interest and can be deleted from the native statuses of Prestashop.

[2021-02-01 13:42] hibatallahAouadni commented on #23013
Hello @timactive

I see what you mean :wink: But I think this bug need specification.
Ping @PrestaShop/product-team if the **Refunded** status is the final flow state, so why the the reserved qty isn't set to 0?

[2021-02-01 13:52] Myrjam commented on #23071
No, I don't recall seeing any in the log file.

[2021-02-01 13:56] #22911 closed, assigned to NeOMakinG

[2021-02-01 13:58] Fashionmode commented on #22215
Well I tried the 2 solutions. Nothing works. I remember that I have a module to edit order. When I have disabled it. Every thing works.

[2021-02-01 14:33] PierreRambaud commented on #23054
Thank you @PrestaEdit we will investigate to improve the behaviour

[2021-02-01 15:00] jolelievre commented on #23008
Hi @sickboards,

these two fields are quite old so the current didn't introduce them but we encountered the same questions as you recently while we are working on the migration of the Product page. The location field had disappeared for a time in the 1.7 version, it was reintroduced in 1.7.5 but was stored in the `StockAvailable` object because it is related to the location where the product is st

[2021-02-01 15:03] Hlavtox opened #23077 "Make AdminPatterns controller for migrated page"
#### Is your feature request related to a problem?

This page **/admin/index.php?controller=AdminPatterns** is a huge help when making any form in Prestashop BO.

#### Describe the solution you'd like

I think all devs would be glad to have example of everything, so they don't have to hit-and-miss or search the code for places where it is used in the core.

![test](https://user-images.githubuserco

[2021-02-01 15:06] kpodemski commented on #23077
Agree, would be great to have these examples based on modern controller.

[2021-02-01 15:07] jolelievre commented on #23008
Once https://github.com/PrestaShop/PrestaShop/pull/23076 is approved and merged I think we can close this issue

@sickboards is it ok for you? Did we answer all your concern?

[2021-02-01 15:12] PierreRambaud commented on #23077
I think this page should to be removed and we should rely on the [PrestaShop UI Kit](https://build.prestashop.com/prestashop-ui-kit/)

[2021-02-01 15:17] Hlavtox commented on #23077
@PierreRambaud I did not even know that page exists... nice!

BUT, I still don't know how to generate the resulting code. When I was doing something, it took me 100 years to find out how to select a default key for selectbox, how to set which checkboxes would be checked by default and stuff like this. I knew what I want to do and how the resulting HTML should look like, but I did not know how to t

[2021-02-01 15:33] alfonsolr09 commented on #23064
in my store I fixed it, I was going to make a pull request, but someone already did it

[2021-02-01 15:34] alfonsolr09 commented on #23066
Just this...

[2021-02-01 15:35] #16822 closed, assigned to PierreRambaud

[2021-02-01 15:37] SimonGrn commented on #23066
So it's a duplicate.
I'll close it. If you want informations about this issue, please subscribe to the issue #12933.

Thank you.

[2021-02-01 15:37] SimonGrn commented on #23066
Duplicate of #12933

[2021-02-01 15:40] alfonsolr09 commented on #23065
in my store I fixed it, I was going to make a pull request, but someone already did :)

[2021-02-01 15:40] alfonsolr09 commented on #23066
Yes, the other request has not been updated for a long time

[2021-02-01 15:45] SimonGrn commented on #23066
This is an open source project, if you feel you can help it, please open a Pull Request.

Thank you !

PS : you don't need to tag me in every message, I receive notifications. Thank you.

[2021-02-01 15:46] PierreRambaud commented on #23077
This page doesn't show you how to add form elements :thinking: . With Symfony forms, you have nothing to do ^^

[2021-02-01 15:47] alfonsolr09 commented on #23066
Ok thanks

[2021-02-01 15:54] joseantgv commented on #23051
I have added more errors https://github.com/PrestaShop/PrestaShop/pull/23079

[2021-02-01 15:55] josAlba opened #23080 "Restart the numbering of the credit slips"
#### Is your feature request related to a problem?

It is not possible to restart the numbering of the credit slip

#### Describe the solution you'd like

Reset the numbering of the credit slip when changing the year

#### Alternatives you've considered

Modify the code to perform the reset

#### Additional context

When printing the credit slips in the backoffice

## SPECS
Add a "Yes/no" toggle "

[2021-02-01 15:57] hibatallahAouadni commented on #23077
Hello @Hlavtox

Thanks for the suggestion, I think what you're suggestion is to improve this page **AdminPatterns** to include the implemented UI Kit :wink:
Is that so?

Thanks!

[2021-02-01 16:02] hibatallahAouadni commented on #23071
Hello @Myrjam

While upgrading my shop from 1.6.1.20 to 1.7.7.1, I encountred this issue:

![image](https://user-images.githubusercontent.com/23308427/106482679-f952b900-64ad-11eb-97e8-30e1aa1025cd.png)

After the upgrade process, the store is well upgraded.
But, unfortunally I enountred a lot of issues:
Problem 1: I can not access to the BO Products page => resolved when
Problem 2: Can not access

[2021-02-01 16:15] hibatallahAouadni commented on #23080
Hello @josAlba

Thanks for the suggestion and your PR :rocket:
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , what do you think about reset the numbering when changing the year?

[2021-02-01 16:20] dbartelmus commented on #22215
Can you specify what exactly is not working in your case

[2021-02-01 16:22] khouloudbelguith commented on #23071
Hi @hibatallahAouadni,

About the third problem access denied, it is reported here: #9513, to fix it: https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961

Thank you!

[2021-02-01 16:23] hibatallahAouadni commented on #23051
@joseantgv thanks for your PR

[2021-02-01 16:27] hibatallahAouadni commented on #23071
Thanks @khouloudbelguith I updated my comment :wink:
But I think it's quite impossible to execute that command without bc :confounded:

[2021-02-01 16:33] sickboards commented on #23008
Yes, go ahead.

On Mon, 1 Feb 2021 at 16:07, Jonathan Lelievre <notifications@github.com>
wrote:

[2021-02-01 16:36] hibatallahAouadni commented on #23008
Hello guys,

It seems the PR is already merged :tada:
So, I close this issue.

Thanks!

[2021-02-01 16:36] #23008 closed, assigned to nobody

[2021-02-01 16:40] hibatallahAouadni commented on #22796
Hello @HartLarsson

Sorry for the late response.

You mean by native language, the language that you have chosen when you installed your store, is that so?
If so, mine is English.

Thanks!

[2021-02-01 17:00] fabiovannini commented on #23061
Exactly

https://github.com/PrestaShop/PrestaShop/pull/23081

[2021-02-01 17:04] Fashionmode commented on #22215
It is working now. After upgrade to 1.7.7.1 had this error : Type error: Argument 21 passed to PrestaShop\PrestaShop\Core\Domain\Order\QueryResult\OrderProductForViewing::__construct() must be of the type string, null given, called in /home/www/.../src/Adapter/Order/QueryHandler/GetOrderProductsForViewingHandler.php on line 272
And couldn't open order made with the new Prestashop version.
I have t

[2021-02-01 17:05] lmeyer1 opened #23082 "In multi-store environment, employee permissions incorrectly apply to cart rules"
#### Describe the bug

Given a multishop-setup with an employee that has access to only one shop and has permissions to create cart rules,
When that employee creates a cart rule,
- he cannot configure shop restrictions for that cart rule (this is ok, since he only has access to one shop)
- the cart rule he created has no shop restriction and is thus valid in all shops

#### Expected behavior

I ex

[2021-02-01 17:27] ballashop opened #23083 "Some anomalies on importing the Combinations data by csv file"
Dear staff,
I have a problem with the reference field of variants managed via the Combinations CSV file
In addition, the fields are overwritten even if ignored such as the quantity and the impact on the price
**Problem that occurs:**
If the product variant (combination) has the reference field populated, PS overrides:

![data-reference](https://user-images.githubusercontent.com/28685316/106490279-

[2021-02-01 17:33] daresh opened #23084 "Multiple orders created for exclusive carriers"
#### Describe the bug

When having products with exclusive carriers (some products not shipped to some countries), Prestashop splits the order in two, making one of them without a carrier and a 0 shipping cost.

#### Expected behavior

Prestashop should not allow to place an order when a selected product can't be shipped to customer's country.

#### Steps to Reproduce

Steps to reproduce the behav

[2021-02-01 18:05] Hlavtox opened #23085 "Add a common rich-text class to every tinymce output in FO"
#### Is your feature request related to a problem?

There are a lot of issues and tweaks like this needed. Every field like short decription, long description, cms pages, page category is styled separately.
https://github.com/PrestaShop/PrestaShop/pull/23074/
https://github.com/PrestaShop/PrestaShop/pull/23073/

#### Describe the solution you'd like

Add common class like **rte** or **rich-text**

[2021-02-01 18:57] hibatallahAouadni commented on #23061
Hello @fabiovannini

Thanks for the clarification, I reproduced your issue with PS1.7.6.7 and PS1.7.7.0.
I use Postman to launch my WS request and I used the **Hummingbird cushion** with **Black** color in my exmple :wink:

Here's the steps to reproduce:

1. FO> add the **Hummingbird cushion** with **Black** color in the cart
2. In Postman, choose the **PUT** method
3. For the **request URL**, pas

[2021-02-01 20:05] ced--ced opened #23086 "Translation doesn't open 1.7.7.1"
#### Describe the bug

When I go to the translation page, I select "Theme translation" and the dropdown menu to choose the theme doesn't show up.

#### Expected behavior

the dropdown menu to choose the theme work

#### Steps to reproduce

1. BO>Improve>International>Translations
2. In **Modify translations** block
3. Try to open the select => See error

**Screenshots**
Here is a video to show you

[2021-02-01 20:47] hibatallahAouadni commented on #23038
Hello @Ludhiel

Could you please specify the order status? is it **Payment accepeted** or **Waiting for payment**.
Please check and feedback.

Thanks!

[2021-02-01 21:32] joseantgv opened #23328 "Improve integration with 3rd party modules"
#### Is your feature request related to a problem?

I understand that **for each consent in GDPR you need to keep the proof**. This module gives you the possibility to integrate another module displaying a checkbox and disabling submit module if the checkbox is not enabled, but it doesn't record the consent.

#### Describe the solution you'd like

There's a table _ps_psgdpr_log_ which records all

[2021-02-01 21:42] hibatallahAouadni commented on #21695
Hello @Daaaaad

Sorry for the late response.
I didn't manage to reproduce your issue with PS1.7.6.7 and PS1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1EoTLrEmnpWxOsyOdL9SYND2jPHCXeh9i/view

Please check and feedback.
Thanks!

[2021-02-01 22:23] hibatallahAouadni commented on #12907
Hello everyone,

As a bug it's not reproducible :confused: and as an improvement is not quite clear :confounded:
So, @prestaquality could you please provide more infos to reproduce the issue.
@davidglezz & @Eolia could someone open a new issue with the suggestion that you proposed above to trat each issue alone

Thanks!

[2021-02-01 22:38] hibatallahAouadni commented on #23086
Hello @ced--ced

Could you please specify your PHP version.
And please next **respect and follow the provided template to submit a complete bug report**.
As you can see I edit your issue :wink:
Please check and feedback.

Thanks!

[2021-02-01 22:53] hibatallahAouadni commented on #23085
Hello @Hlavtox

It seems a good idea that the merchant can manage these fields style.
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , do you think is doable to implement @Hlavtox idea?

[2021-02-01 23:09] hibatallahAouadni commented on #23033
Hello @NuclearDetergent

Sorry for the late response.
I didn't manage to reproduce your issue with 1.7.6.8 and 1.7.7.1, see the attached screen record below:

https://drive.google.com/file/d/1ATps4exByFbVHdn444Lk2bAW01OW6ODw/view

Please check and feedback.
Thanks!

[2021-02-01 23:31] alfonsolr09 commented on #23068
I have prestashop in a subdirectory, I don't know if that influences

[2021-02-01 23:32] alfonsolr09 commented on #23067
I still have the same problem, what data can I give you?
I have prestashop in a subdirectory, I don't know if that influences

[2021-02-02 07:06] Vo1tech opened #23089 "DISCOUNT CODE not visible in the backend"
Hello,

there is a problem in. If you place a discount code (DC), there is no problem for the customer. DC can be seen on the front end, also can be used, BUT, there is no info in the backend when the order is completed. E.g. The customer bought a coffee, placed voucher called "lotus" so he will recieve LOTUS cookies for free, but I can not see the code in the order so I do not know if this custom