[2018-09-18 09:58] mbadrani opened #10469 "Back-Office several controller "[DOM] Found 2 elements with non-unique id" error on Devtool console"
**Describe the bug**
By navigating on each page of the Back-Office with your DevTool panel open (F12), you can notice that many controllers contain non-unique id, and it raised as an error by the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Just open devtool panel (F12)
2. go to 'dashboard'
3. You can see errors like "[DOM] Found 2 elements with non-unique id #addons_login_button

[2018-09-18 10:02] khouloudbelguith commented on #10469
Hi @mbadrani,

I manage to reproduce this issue with the last version 1.7.4.2. / 1.7.5.0

Best regards, Khouloud

[2018-09-18 10:05] PierreRambaud commented on #10444
@maofree I understand why you mean for the first two H1, but the PR remove the third one :)

[2018-09-18 10:09] Maofree commented on #10444
ok
I'll create a new ticket
thanks

[2018-09-18 10:14] Maofree opened #10470 "Two H1 tags in the category pages for the category names"
Hi

**Describe the bug**
in the category pages there are more than one H1 tag

http://www.suvaance.com/microblog/how-google-considers-multiple-h1-tags-in-one-page/

add 2 H1 just to set a h1 for the desktop and a h1 for mobile, it would make more sense to use only one h1 and then find changes with the css code

from that suvaance.com is written
In HTML5, the semantic elements like header, footer,

[2018-09-18 10:14] Maofree commented on #10444
done
https://github.com/PrestaShop/PrestaShop/issues/10470

[2018-09-18 10:16] benwallis opened #10471 "Language error in back-office "Uncaught ReferenceError: file_not_found is not defined at gb.js:1""
**Describe the bug**
When language being used is not English (English) the following error is shown in error console when any page in back office uses rich text editor (TinyMCE):

`Uncaught ReferenceError: file_not_found is not defined at gb.js:1`

I believe this is because the "iso_user" variable is used to load a file for TinyMCE. When the language in PrestaShop is set to "English GB", the "iso_

[2018-09-18 10:23] khouloudbelguith commented on #10470
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.2.
Related to #10444

Best regards, Khouloud

[2018-09-18 10:28] marchspa opened #10473 "Product image does not show"
Hello,
         I can't see product images since they don't show in the product., the permissions are 0755 and images can be seen in /img/p/. it doesn't matter what format i add, they upload in jpg.
![image](https://user-images.githubusercontent.com/33666598/45681572-381d8980-bb14-11e8-95fd-c69b47e323ce.png)
Regeneration does not bring any error, they just don't appear.
And if i inspect, the conso

[2018-09-18 10:32] khouloudbelguith commented on #10471
Hi @benwallis,

I did not manage to reproduce the issue with the last version 1.7.4.2.
I attached a video record.
https://drive.google.com/file/d/11NcQaB1-muswee1LmwKyECC-Su80pMuq/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-18 10:37] khouloudbelguith commented on #10473
Hi @marchspa¿

Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

Best regards, Khouloud

[2018-09-18 10:40] khouloudbelguith commented on #10471
Hi @benwallis,

I did not manage to reproduce the issue with the last version 1.7.4.2. / 1.7.5.0 (develop)
I attached a video record.
1.7.4.2 => https://drive.google.com/file/d/11NcQaB1-muswee1LmwKyECC-Su80pMuq/view
1.7.5.0 => https://drive.google.com/file/d/1Dn4ATOcn3gTQcJF9B0x7KALIGI0ENL92/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-18 10:40] marchspa commented on #10473
It works!!! I was about to give up and uninstall ps! thanks a million!!!!!!!!

[2018-09-18 10:41] khouloudbelguith commented on #10473
Hi @marchspa,

You are welcome.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-18 10:41] #10473 closed, assigned to nobody

[2018-09-18 10:43] krasnycz commented on #10467
Well safe_mode has been deprecated since php 5.x. I am using DO instance on cloudways only for this installation. Moreover I tried to move the instance to different server where I have working 1.7.4.2 installation that was updated correctly. There is no error log in the server log even php error reporting is enabled.

[2018-09-18 10:50] khouloudbelguith commented on #10467
Hi @krasnycz,

Thanks for your feedback.
So, can I close this issue?

Best regards, Khouloud

[2018-09-18 10:51] khouloudbelguith opened #10474 "This alert "You must select at least one order status." is not displayed after clicking on the "Generate PDF file by status" button"
**Describe the bug**
In the Invoices page when we click on the Generate PDF file by status button without selecting any status => there's no alert "You must select at least one order status."
In 1.7.4.2 there was a red alert
It's not here anymore in 1.7.5.0, it would be nice to put it back
![image](https://user-images.githubusercontent.com/16067358/45680855-5303f400-bb3c-11e8-957c-00b175fe1bc4.png

[2018-09-18 10:51] anael687 opened #10475 "PS 1.7 PASSWORD_LENGTH"
**Describe the bug**
Hi, I've tried to change PASSWORD_LENGTH into classes/Validate.php (to 8 for example). But when registering a new customer with Classic theme, the allowed length is still 5. I had a look into the html code, on the register page, and saw a pattern=".{5,}". If I change the value 5 by 1, I'm able to register a new customer with a password of 1 character. So it seems that function

[2018-09-18 10:57] krasnycz commented on #10467
Well no, the issue is not resolved. I am simply stating that I tested it on different server and it did not resolve the issue.

[2018-09-18 11:00] JavierEB commented on #15199
![tabla bit](https://user-images.githubusercontent.com/5004396/45683007-76ca3880-bb42-11e8-84d0-cad24a903fb9.jpg)
Thanks, but According to the borrower partner, the problem comes from a third-party module with a "bit" type table, but I have broken down the structure of my database and only found it ...
Table "ps_specific_price"

[2018-09-18 11:15] benwallis commented on #10471
I forgot the last step - step 9 should be:

9. Click "+ New Product" button to create a new product.

Please check again by adding a new product.

[2018-09-18 11:19] khouloudbelguith commented on #10475
Hi @anael687,

In the Project_folder/themes/Classic/templates/_partials/form-fiels.tpl file, you need to replace this
[code]

By this
[code]

I close the issue, feel free topen a new one when needed.
Ps: you need to clear cache from your browser & your shop.

Best regards, Khouloud

[2018-09-18 11:22] khouloudbelguith commented on #10467
Hi @thomas what do you think about his issue?

[2018-09-18 11:29] khouloudbelguith commented on #10471
Hi @benwallis,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2 / 1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/45684471-c0b51d80-bb46-11e8-95af-233ee309792e.png)
We will see how to fix it.

Best regards, Khouloud

[2018-09-18 12:15] #10214 closed, assigned to nobody

[2018-09-18 12:26] Quetzacoalt91 commented on #15199
Thanks  for the update @JavierEB. By any chance, do you have the name of the module? It would be interesting for us to reproduce the issue. If it's sold on the marketplace, we should be able to contact the module developper to bring a fix.

Regards

[2018-09-18 12:26] sytou opened #10476 "Active facet filter even on category links !!!"
Hello,

All Category pages are interpreted as pages filtered by the Blocklayered module (see the result on the category page: https://www.cavesnotredame.com/3-achat-champagne). The Active Filters block appears on the left column and the module settings I left on the non-indexing of filtered pages blocked my indexing by Google.

How can I fix this bug to allow me to return to non-indexing the pages

[2018-09-18 13:06] khouloudbelguith commented on #10476
Hi @sytou,

Could you please add steps to reproduce your issue in a new comment.

Best regards, Khouloud

[2018-09-18 13:28] fdelprete commented on #9697
Yes, I can confirm that also in modules/ps_emailalerts/views/templates/front/mailalerts-account.tpl the cause of the missing string is the {include} directive above.

[2018-09-18 13:38] toutantic commented on #10403
The SSL certificate has been updated

[2018-09-18 13:39] rdy4ever commented on #10458
Hi there. It looks like the theme you tried to install also installed some modules that may cause your problems. You should [enable debug mode](https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mode-on-prestashop-17-and-older-versions-turn-on-error-reporting-blank-page/) to see what modules cause problems and uninstall them.
Also, you could look in the 3rd party theme config file

[2018-09-18 13:44] khouloudbelguith commented on #10403
Hi @toutantic,

In addition to the SSL certificate problem, the button help doesn't work in the Logs & Positions pages.
https://drive.google.com/file/d/1sWuRAXlmxcXD0MEMNXan3SzPtAUfyAJa/view

Best regards, Khouloud

[2018-09-18 14:08] mickaelandrieu commented on #10316
Maybe we could revert the update of the library? It's sad but we could try to introduce it back during the freeze, wdyt @PierreRambaud ?

[2018-09-18 14:10] khouloudbelguith commented on #9496
Hi Cheryl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-18 14:10] #9496 closed, assigned to nobody

[2018-09-18 14:11] khouloudbelguith commented on #9504
Hi Eric,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-18 14:11] #9504 closed, assigned to nobody

[2018-09-18 14:11] khouloudbelguith commented on #9510
Hi oluwayemisi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-18 14:11] #9510 closed, assigned to nobody

[2018-09-18 14:22] JavierEB commented on #15199
hello again, I think that this table is not specifically from a module, it is the table ps_specific_price as you can see in the picture that I attached, and I looked at several different prestashop facilities that I have and in all of them it looks the same, type BIT.
![tabla specific price](https://user-images.githubusercontent.com/5004396/45694167-f6fe9700-bb5e-11e8-9101-f8df0b6b1113.jpg)
I wait

[2018-09-18 14:26] PierreRambaud commented on #10316
We need to keep the latest version of PHPSQLparser, otherwise PrestaShop will be incompatible with PHP 7.2 :/
More, this function was added after the update :/

[2018-09-18 14:34] mickaelandrieu commented on #10316
I don't like it, but it sounds like the perfect solution is not possible and this workaround sounds ok to me :+1:

[2018-09-18 14:35] Quetzacoalt91 commented on #15199
This column is not created by PrestaShop, as you can see in the table definition:

https://github.com/PrestaShop/PrestaShop/blob/419b2262a3649f1d337d3d3116673891beb6c723/install-dev/data/db_structure.sql#L1858-L1876

You have a module which adds a column in a core table, although it was never supposed to happen. Finding the related module to this change would make the upgrade working again.

[2018-09-18 15:03] dennispw opened #10478 "Update webpacksetup for Classic theme to accomodate for module specific changes"
One of the core features (might even be a core principle?) in Prestashop is the ability to disable modules, override their assets on a theme level and more.

This is done easily by adding the correct structure in the theme `modules` folder which is great.

However, with the addition of the webpack workflow in `1.7` it would be extremely helpful if we could do the same thing with webpack.

**Right

[2018-09-18 15:09] xonox opened #10479 "Error executing product save on PHP 7.2.3"
**Bug**

Error validating if product is a pack.

classes/Pack.php line 84

Cannot declare self-referencing constant 'Pack::STOCK_DEFAULT_TYPE'

**Reproduce**
Execute a method call :

$product = new Product($id);
$product->save();

**Screenshots**
![error1](https://user-images.githubusercontent.com/1177758/45696688-07f9d900-bb5c-11e8-9958-9c628f05af86.png)
![error2](https://user-images.githubuserco

[2018-09-18 15:16] khouloudbelguith commented on #10479
Hi @xonox,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9654
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-18 15:16] khouloudbelguith commented on #10479
Duplicate of #9654

[2018-09-18 15:16] #10479 closed, assigned to nobody

[2018-09-18 15:34] sytou commented on #10476
It's easy: just click on one of the links in the main menu at the top right (Champagne / Bordeaux / Rhône ...). The results page is a Category page that is displayed with an empty "Active Filters" insert. This page had a No-Index meta tag because of my setting of the BlockLayered module. I changed the option so as not to penalize my SEO.

[2018-09-18 15:34] ntiepresta opened #10480 "The quick access new product and installed modules, they don't work"
Describe the bug

The quick access new product and installed modules, they don’t work. If you click on the quick access new product and installed modules, these access are redirect you to Dashboard. They should redirect to new product page for new product and installed modules page for installed modules.

To Reproduce
Steps to reproduce the behavior:
1. Go to B.O, Dashboard > Quick Access, Click o

[2018-09-18 15:35] khouloudbelguith commented on #10478
@PrestaShop/prestashop-core-developers, @eternoendless  what do you think about his suggestion?  what do you think about his suggestion?

[2018-09-18 15:36] sytou commented on #10476
Here is an image when a filter is active.
![bug-blocklayered-1](https://user-images.githubusercontent.com/12085103/45698897-66798400-bb69-11e8-8364-884879060a04.png)

[2018-09-18 15:38] sytou commented on #10476
Sorry i close unfortunately the previous comment ...

[2018-09-18 15:59] khouloudbelguith commented on #10476
Hi @sytou,

What is the exact setting of the BlockLayered module did you made?

Best regards, Khouloud

[2018-09-18 16:03] CaptainYouz commented on #10434
@colinegin: Started to work on it (Design>Pages: Create meaningful content) on commit https://github.com/CaptainYouz/PrestaShop/commit/85e0bccc8319784c3e0bec587144a153b667aa73. (WIP)

[2018-09-18 16:18] CArlvJ1N0N8 commented on #10466
Not sure if my explanations were clear enough.
My user is using the english language as defined in team in the BO
Also the default language for my prestashop store is set to English.
![default language set to english](https://user-images.githubusercontent.com/42921237/45701306-dd4c5800-bb3c-11e8-9560-46f4248aa114.JPG)

But trying to delete the portuguese language i get the error message.
SO i am n

[2018-09-18 16:25] C-Ranalletta commented on #10457
Hi @khouloudbelguith
I've install some native modules and uninstall other non-compatible modules, but I think there is a problem with the theme, because I can't see nothing on the front office. Furthermore, an error appears in some modules like this: "Home slider images"
![schermata 2018-09-18 alle 18 20 31](https://user-images.githubusercontent.com/43338406/45701504-a9d6f100-bb6f-11e8-84f4-8dff85

[2018-09-18 16:36] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

It is the same problem with the homeslide module, you need to remove it & install the good one which is compatible with PS1.7.
In addition, for the second issue, could you please take a look at this solution: https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961

Best regards, Khouloud

[2018-09-18 16:39] C-Ranalletta commented on #10457
Hi @khouloudbelguith
I've done it! I've remove the old module and install the new one, compatible with 1.7, but the error is the same.

For the second problem I'll take a look the the link you send me.

regards

[2018-09-18 16:40] gomlers opened #10481 "Google Analytics Api - 3 year old bug - Cannot retrieve test results - Multistore."
Google Analytics API v1.2.2 not working on Multistore.
3 year old bug, no one in the forums can help - and the developer seems to have gone underground.

The problem is that the backoffice panel that should show number of visits, and hence calculate the conversion rate does not work for slave-stores. Only the main stores.

The tutorial for making the correct settings in Google Console is also pret

[2018-09-18 16:44] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

In the version 1.7, the exact name of this module is ps_imageslider

Best regards, Khouloud

[2018-09-18 16:47] CArlvJ1N0N8 commented on #10258
Let me ask the question differently.

There are different ways to figure the situation.
A. If as a customer you log to the system and view your invoices/delivery slip it definitely needs to be in the customers language.

B. But if the dispatcher is preparing the shipping and printing the invoice/delivery slip, then does it need to be in his language or in the customer language since it will be put

[2018-09-18 17:08] khouloudbelguith commented on #10466
Hi @CArlvJ1N0N8,

I did not manage to reproduce the issue with the last version 1.7.4.2.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this informati

[2018-09-18 17:32] C-Ranalletta commented on #10457
I've installed this module (ps_imageslider) in my Prestashop, and I've tried to reset it, but it appears an error that says me I've no permission to reset it.

Regards

[2018-09-18 19:52] tomas862 commented on #10123
Hello @CaptainYouz . Nice to meet you!
It was suggested above that I can ask you several questions regarding card behavior so here it goes:

1. From where I should get the image?

2. Where "Or learn more about SEO" will point to? Can't access this link where I believe I can find the answer https://docs.google.com/document/d/1xeiEwT02OpBxePesgdd68HxKD6XZe6PqYAT3KD76ol4/edit?usp=sharing

3. Whats th

[2018-09-18 21:34] CArlvJ1N0N8 commented on #10466
I have a dev environment where i can reproduce the issue.
If you want i can provide you access.

thanks,

[2018-09-18 21:40] twazerty commented on #10445
The module itself is available for free:
https://www.sisow.nl/implementatie-plugin
Direct link:
https://www.sisow.nl/Sisow/down.aspx?doc=prestashop17-5.0.0.zip

But I think you need a working api-key to use it in test mode. If needed I can ask sisow if they will contact you.

[2018-09-18 21:42] franz122 commented on #9518
Hi, i have the same problem. Can you help me?
Thanks

`[PrestaShopException]
Fatal error
at line 1035 in file classes/Tools.php

1030.     * @param bool $htmlentities By default at true for parsing error message with htmlentities
1031.     */
1032.     public static function displayError($string = 'Fatal error', $htmlentities = true, Context $context = null)
1033.     {
1034.         if (defined('

[2018-09-18 22:03] anael687 commented on #10475
Thank for the prompt answer. But what about the fact it is not checked with Validate.php ?

[2018-09-18 22:23] francesco-arenaforge commented on #10458
I'm sorry, guys, too late.
Since I had not made any other changes, I deleted and reinstalled everything. In any case, the theme that gave problems was the following: **Leo Trump Template 1723**. The malfunction was related to the main menu (which had disappeared) while the single pages could be loaded using the link "sitemap".

Thank you.
Kind regards,
Frank.

[2018-09-19 04:22] delete13 opened #10482 "Installing PrestaShop with SSL is complex because some settings are not acknowledged"
**Describe the bug**
If the user installs Prestashop directly through https, you should set PS_SSL_ENABLED and PS_SSL_ENABLED_EVERYWHERE to one at the install level.

Otherwise, we fall down in a permanent loop and finally a fatal error : too much redirect.

**To Reproduce**

Try to install Prestashop 1.7 on a HTTP server with a permanent redirect to HTTPS

**Additionnal information**
PrestaShop v

[2018-09-19 04:37] Akashvastarpara opened #10483 "classic theme footer block design"
Why PrestaShop not interested in to correct the footer block's design of classic theme?

PrestaShop version: 1.7.4.2
PHP version: 7.2

![ps-classic-theme-footer](https://user-images.githubusercontent.com/40850132/45731165-c9aff880-bbf3-11e8-85fe-d1e27cad574f.png)

[2018-09-19 07:17] Mondatr commented on #9566
Where can I download the old version of the module "Contact form"???

[2018-09-19 08:01] bestmomo commented on #9866
I have the same issue on 1.7.4.2 but with 2 commands for this order. It happened twice with Paygreen payment. It does not happen every time but randomly. It's embarrassing because we have two invoices generated.

[2018-09-19 08:13] khouloudbelguith commented on #10482
Hi @delete13 ,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2018-09-19 08:17] khouloudbelguith commented on #10483
Hi @Akashvastarpara,

Is there any bug that you manage to reproduce it in the footer block?
What kind of corrects do you propose?

Best regards, Khouloud

[2018-09-19 08:18] khouloudbelguith commented on #9483
Hi amtriorix,

Your ticket is a duplicate of #10482
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-19 08:18] rdy4ever commented on #10483
I think he s reffering to the fact that the footer columns are not correctly distributed to the 12 col grid. I'll try a PR for this and revert.

[2018-09-19 08:19] khouloudbelguith commented on #9483
Duplicate of #10482

[2018-09-19 08:19] #9483 closed, assigned to nobody

[2018-09-19 08:20] delete13 commented on #10482
There are no error. There are no required screenshot, no javascript required as well, neither apache or PHP log, neither a debug mode necessary ...

The issue is simple and I explain why and how in my initial post.

[2018-09-19 08:24] Quetzacoalt91 commented on #10275
Fixed, release in progress

[2018-09-19 08:24] #10275 closed, assigned to nobody

[2018-09-19 08:34] khouloudbelguith commented on #10482
Hi @delete13,

I manage to reproduce the issue with the last version 1.7.4.2.
I attached a video record.
https://drive.google.com/file/d/13vBUNbH_Tfq9YiCuyuB1-s-XJbXjzMTU/view
In the log I found this:

[code]

We will see how to fix it.

Best regards, Khouloud

[2018-09-19 08:35] rdy4ever commented on #10483
OK. Here's the PR: #10484
Screenshot:
![image](https://user-images.githubusercontent.com/12268701/45741361-0da8fa80-bc00-11e8-8906-4a0f3e4f593d.png)

[2018-09-19 08:37] sytou commented on #10476
Hi @khouloudbelguith ,

At first, I hadn't touched the setting of the facet filter. It was when GSC told me that my pages were in No-index that I suspected that the problem was the faceted filter. I just then changed the settings as on the screenshot. Nothing more than that.

![bug-blocklayered-2](https://user-images.githubusercontent.com/12085103/45741469-ed753d80-bbf7-11e8-93eb-3a9949329db9.png)

[2018-09-19 08:43] khouloudbelguith commented on #10483
Hi,

Thanks @rdy4ever,
nice catch :)

Best regards, Khouloud

[2018-09-19 08:48] matks commented on #10269
The PR has been merged however it requires a release of the module to be shipped with PrestaShop 1.7.5 ⚠️

[2018-09-19 08:50] matks commented on #9916
The PR has been merged however it requires a release of the module to be shipped with PrestaShop 1.7.5 ⚠️

[2018-09-19 08:51] Akashvastarpara commented on #10483
Good Job! @rdy4ever

[2018-09-19 08:51] khouloudbelguith commented on #9866
Hi @bestmomo ,

The issue is added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-19 08:53] khouloudbelguith commented on #9566
Hi @Mondatr,

Here's a link you can follow it: https://github.com/PrestaShop/contactform/releases

Best regards, Khouloud

[2018-09-19 08:59] khouloudbelguith commented on #10458
Hi @francesco-arenaforge,

Thanks for your feedback.
I could be a compatibility problem with 1.7.4.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-19 08:59] #10458 closed, assigned to nobody

[2018-09-19 09:00] CaptainYouz commented on #10123
Hi @tomas862 ! Nice to meet you also :)

About your questions:
1: For the differents assets, you should have received an invitation to access Zeplin! You will be able to download them from there.

2: You also should have access to the doc now, but I put the links here also:
[code]

3: For the behavior in small screens, no designs have been made yet, but we talked about it with @TristanLDD and we d

[2018-09-19 09:09] khouloudbelguith commented on #10475
Hi @anael687,

It is to check the contact form about creating a new customer in BO.

Best regards, Khouloud

[2018-09-19 09:09] 123monsite-regis commented on #9723
Hi,
Please, could you expand titles of issues,
we may after check if we are facing to other multishop issues,

Currently we have issues on BO admin product page with products pictures on multistore, do you know if this has been mentionned here ?

thanks

[2018-09-19 09:10] khouloudbelguith commented on #9518
Hi @franz12,

Thanks to disable the ps_cashondelivery module, clear cache & check.

Best regards, KHouloud

[2018-09-19 09:12] khouloudbelguith commented on #9723
Hi @123monsite-regis,

You can follow this issue: https://github.com/PrestaShop/PrestaShop/issues/10137

Best regards, Khouloud

[2018-09-19 09:18] khouloudbelguith commented on #10466
Hi @CArlvJ1N0N8,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-19 09:19] delete13 commented on #10482
In addition I would like to add ;

Nginx conf

[code]
I install Prestashop through http://demo.common-services.com/install

Obviously, nginx redirect me to https://demo.common-services.com/install

The install process finished, i can reach my admin without hassle.

But once i'm logged in, if i'm clicking on any tab, for instance "modules" tab, i'm infinitely redirected (R301, R302) because PS_SSL_

[2018-09-19 09:21] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Could you please provide me a screenshot of this error?

Best regards, Khouloud

[2018-09-19 09:58] khouloudbelguith commented on #10445
Hi @twazerty,

I attached a video record.
https://drive.google.com/file/d/1ii938EkEKbtav5dA75tnLUtKiJOy-vao/view
Thanks to check & feedback.
PS: Have you tried to contact the module author about this issue?

Best regards, Khouloud

[2018-09-19 10:31] khouloudbelguith commented on #10481
Hi @gomlers,

Thanks for your report.
I attached a video record.
https://drive.google.com/file/d/10cEau4UJt_ESzNKJU7T01UNlXo_sss4Y/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-19 10:45] Quetzacoalt91 commented on #10250
Regarding your update @matks, I completed an installation of PrestaShop after switching the version back to 1.7.4.2.

![capture du 2018-09-19 11-45-19](https://user-images.githubusercontent.com/6768917/45748774-8e1c2b00-bc01-11e8-85bb-c300c18a02de.png)

[2018-09-19 10:49] khouloudbelguith commented on #10476
Hi @sytou,

Could you please try to build the URL index.
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-19 10:54] khouloudbelguith commented on #10453
Hi @panatan,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-19 11:57] chrgilles commented on #10453
Hi Khouloud could you give me your email adress to send informations ?
Thx

[2018-09-19 12:25] ebonit commented on #9696
I have exactly the same problem. In my case I do not have a € price but a percentage.
product price = €220 tax included
customergroup is set to tax excluded
specific price for group = 10% discount

in my cart it shows as original price €220 instead of €181.82
the specific price is correctly set to € 163,64

see the images

![schermafbeelding 2018-09-19 om 14 21 59](https://user-images.githubuserco

[2018-09-19 12:29] dineshbadrukhiya commented on #9802
Hello, @prestonBot @marionf
I opened pull request https://github.com/PrestaShop/PrestaShop/pull/10392 with solution of shop id also and waiting for review.

[2018-09-19 12:31] khouloudbelguith commented on #10453
Hi @panatan,

My address mail: khouloud.belguith@prestashop.com

Thanks & best regards, Khouloud

[2018-09-19 12:33] khouloudbelguith commented on #9696
Hi @ebonit,

This issue is added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-19 12:51] eternoendless commented on #10478
@CaptainYouz what do you think?

[2018-09-19 12:56] ebonit commented on #9696
great thanks.

Additional to this, when a customer has filled in his VAT number for the used address, and hence doesn't need to pay VAT, then it shows correctly.

[2018-09-19 12:57] khouloudbelguith opened #10488 "OnBoarding popup is not displayed in the 4/6 step - Get your shop ready for payments"
**Describe the bug**

The OnBoarding popup is not displayed in the 4/6 step - Get your shop ready for payments.

**To Reproduce**
Steps to reproduce the behavior:
After a fresh install 1.7.5.0, launch (or reset) the onboarding, in the 4/6 step - Get your shop ready for payments - the popup is not displayed.

**Screenshots**
https://drive.google.com/file/d/1dEwdGazas2KrTekiubKmIE8iXGylD4Ic/view

**

[2018-09-19 13:03] jolelievre commented on #9746
https://github.com/PrestaShop/ps_linklist/pull/48

[2018-09-19 13:42] #9733 closed, assigned to jocel1

[2018-09-19 13:44] #9705 closed, assigned to jocel1

[2018-09-19 13:45] #10333 closed, assigned to jocel1

[2018-09-19 13:47] matks commented on #10188
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9206

[2018-09-19 13:47] #10188 closed, assigned to nobody

[2018-09-19 13:53] jesusruiz opened #10490 "Bug translation system. Non-translatable strings in Bankwire module."
**Describe the bug**
**In the Spanish language**: When making a payment by bank transfer, and the client receives on the screen the details of the transfer, these details are shown in English.

I think there is an error in the translation system that affects the strings that are in the file: **ps_wirepayment\views\templates\hook\payment_return.tpl**

I have also verified that these strings aren't

[2018-09-19 14:01] khouloudbelguith commented on #10490
Hi @jesusruiz,

This issue should be fixed in this ticket: #9697
Some strings in some module don't exist.

Best regards, Khouloud

[2018-09-19 14:01] khouloudbelguith commented on #10490
Duplicate of #9697

[2018-09-19 14:01] #10490 closed, assigned to nobody

[2018-09-19 14:25] C-Ranalletta commented on #10457
Hi @khouloudbelguith
I've just resetted the image slider module, and now it seems work correctly, but I have the same problem with principal menu module. When I click on it to configure the module, I can't work with it and if I click in one categories of the site, on the front office, it appears that errors (photo attached).

In addiction I've tried to upload a new template but I didn't manage to

[2018-09-19 14:29] sLorenzini opened #10491 "Can't translate new wording on override's modules in a template"
**Describe the bug**
When I want to add some features belong to an override module in a theme, I need translate new wording on it. But those lines don't appear in the BO to translate them.
However, when I add new wording on .tpl in the theme there is no problem. I used the same domain between .tpl theme and .tpl module.

**To Reproduce**
1. Add a sentence in an .tpl theme with the Theme domain ({l

[2018-09-19 14:30] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

The same issue, you need to remove the blocklayered module, you need to delete the blocklayeredfolder into Project_Folder/modules/
Try to re-install the Faceted search  module.

Best regards, Khouloud

[2018-09-19 14:40] khouloudbelguith commented on #10491
Hi @sLorenzini,

Thanks for your report.
It is the main issue with the ps_emailalerts module & wire payment module reported in this issue: #9697

Best regards, Khouloud

[2018-09-19 14:51] eternoendless commented on #10478
Hi @dennispw

I discussed the issue with the team. We think that even though this _can_ be done using Webpack (it's basically about moving files around), we don't want to encourage people overriding module assets.

File overriding means _replacing_ the module's assets with the theme's. This can quickly become an issue as any update made on the module will have to be ported back to the theme's copy

[2018-09-19 14:54] colinegin commented on #10188
Great, thank you @sarjon !

[2018-09-19 15:06] matks opened #10493 "Migrate "Advanced Parameters > Administration" page"
Part of Symfony migration project

[2018-09-19 15:08] matks opened #10494 "Migrate "Advanced Parameters > Database > DB Backup" page"
Part of Symfony migration project

[2018-09-19 15:08] matks opened #10495 "Migrate "Advanced Parameters > Database > SQL Manager" page"
Part of Symfony migration project

[2018-09-19 15:09] matks commented on #10495
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9206

[2018-09-19 15:09] #10495 closed, assigned to nobody

[2018-09-19 15:10] khouloudbelguith commented on #10491
Hi @sLorenzini,

I manage to reproduce the issue.
Related to #9697

Best regards, Khouloud

[2018-09-19 15:11] matks commented on #10493
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8365

[2018-09-19 15:11] #10493 closed, assigned to nobody

[2018-09-19 15:11] matks commented on #10494
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9447

[2018-09-19 15:11] #10494 closed, assigned to nobody

[2018-09-19 15:12] matks opened #10496 "Migrate "Advanced Parameters > Email" page"
Part of Symfony migration project

[2018-09-19 15:13] matks commented on #10496
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9377

[2018-09-19 15:13] #10496 closed, assigned to nobody

[2018-09-19 15:17] matks opened #10497 "Migrate "Advanced Parameters > Import" (1/2 pages)"
Part of Symfony migration project

[2018-09-19 15:18] khouloudbelguith commented on #9494
Hi Maarten,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-19 15:18] #9494 closed, assigned to nobody

[2018-09-19 15:18] matks commented on #10497
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8882

[2018-09-19 15:18] #10497 closed, assigned to nobody

[2018-09-19 15:20] matks opened #10498 "Migrate "Advanced Parameters > Information""
Part of Symfony migration project

[2018-09-19 15:20] matks commented on #10498
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8254

[2018-09-19 15:20] #10498 closed, assigned to nobody

[2018-09-19 15:21] khouloudbelguith commented on #9498
Hi Claus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-19 15:21] #9498 closed, assigned to nobody

[2018-09-19 15:22] matks opened #10499 "Migrate "Advanced Parameters > Logs" page"
Part of Symfony migration project

[2018-09-19 15:23] matks commented on #10499
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9457

[2018-09-19 15:23] #10499 closed, assigned to nobody

[2018-09-19 15:23] Jacquelin130 opened #10500 "faceted search 1.7.3 attribute limit not working"
Install last fresh version of prestashop 1.7.3. Use faceted search module, setup with type checkbox  or type select  wiht limit (eg: 5 or 10)

On the front end the limit on attributes is ignored, so if you have eg: 30 attributes on checkbox, you have very long list of 30 choices. the list is not limited to first 5 or 10 as you've chosen on the module's configuration

**Screenshots**
![image](https

[2018-09-19 15:23] matks opened #10501 "Migrate "Advanced Parameters > Performance" page"
Part of Symfony migration project

[2018-09-19 15:24] #10501 closed, assigned to nobody

[2018-09-19 15:25] matks opened #10502 "Migrate "Advanced Parameters > Team > Employees" page"
Type : page
Status : in-progress
Part of Symfony migration project

Todo:
- [x] Migrate "Employees" listing (grid) #10797
- [x] Migrate "Employees option" configuration form #10790
- [x] Migrate "Employees" actions #11135
- [ ] Specific rules for SuperAdmin: see below
- [x] Add Helper Card https://github.com/PrestaShop/PrestaShop/pull/11049

Superadmin specific rule: https://github.com/PrestaShop/

[2018-09-19 15:26] matks opened #10503 "Migrate "Advanced Parameters > Team > Employees > Add new employee" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate CRUD page https://github.com/PrestaShop/PrestaShop/pull/12214

[2018-09-19 15:26] matks opened #10504 "Migrate "Advanced Parameters > Team > Employees > Permissions" page"
Part of Symfony migration project
Type: page

**Why it is blocked?**
- Some major issue of the migrated page was found and NEED to be fixed. (That's why the page is hidden).

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/12428
- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-

[2018-09-19 15:27] #10047 closed, assigned to Quetzacoalt91

[2018-09-19 15:27] matks opened #10505 "Migrate "Advanced Parameters > Team > Employees > Profiles" page"
Type: page
Available by `admin-dev/index.php/configure/advanced/profiles/`

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/10783
- [ ] Superadmin specific rule: disable bulk action checkbox for superadmin (see below)

For superadmin specific rule, see discussion https://github.com/PrestaShop/PrestaShop/pull/10783#issuecomment-449373102
Same rules applies to https://githu

[2018-09-19 15:30] matks opened #10506 "Migrate "Advanced Parameters > Webservice" page"
Part of Symfony migration project

[2018-09-19 15:30] matks commented on #10506
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10208

[2018-09-19 15:30] #10506 closed, assigned to nobody

[2018-09-19 15:32] matks opened #10507 "Migrate "Advanced Parameters > Webservice > Add new webservice key" page"
Part of Symfony migration project

Type: page

Todo:
- [x] Migrate CRUD page https://github.com/PrestaShop/PrestaShop/pull/12263
- [x] Remove old controller AdminWebserviceControllerCore https://github.com/PrestaShop/PrestaShop/pull/12447

[2018-09-19 15:32] khouloudbelguith commented on #10500
Hi @Jacquelin130,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9992
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-19 15:33] khouloudbelguith commented on #10500
Duplicate of #9992

[2018-09-19 15:33] #10500 closed, assigned to nobody

[2018-09-19 15:36] matks opened #10508 "Finish Migrating "Catalog > Attributes & Features > Add new / edit attribute Group" page"
Part of Symfony migration project

## Status

In order to finish the migration of this back-office page, we need to:

**Todo List**:
- [x] Continue the PR https://github.com/PrestaShop/PrestaShop/pull/31502 (see below)
- [x] The PR above misses one behavior: the ability to export the data presented by the [Grid](https://devdocs.prestashop-project.org/8/development/components/grid/) on the backoffi

[2018-09-19 15:37] matks opened #10509 "Migrate "Catalog > Attributes & Features > Add new / edit feature" page"
Part of Symfony migration project
Type: page

Access `/admin-dev/index.php/sell/catalog/features/1/edit`

## Status

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/14396/
- [x] Update module ps_facetedsearch as it is hooked here https://github.com/PrestaShop/ps_facetedsearch/pull/133
- [x] URL bug in faceted_search https://github.com/PrestaShop/ps_facetedsearch/pull/145
- [

[2018-09-19 15:38] matks opened #10510 "Finish Migrating "Catalog > Attributes & Features > Add new / edit feature value" page"
Part of Symfony migration project

## Status

In order to finish the migration of this back-office page, we need to:

**Todo List**
- [x] Fix the bug #21252
- [x] Finish the PR https://github.com/PrestaShop/PrestaShop/pull/33051 (see below)

## About PR https://github.com/PrestaShop/PrestaShop/pull/33051

A new Symfony page has already been built and merged into `develop`. So the work of "create a

[2018-09-19 15:38] matks opened #10511 "Migrate "Catalog > Attributes & Features > Attributes" listing page"
Type: page
Part of Symfony migration project

URL: `/admin-dev/index.php/sell/catalog/attribute-groups`

## Status

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/14040
- [x] Add helper card
- [x] Enable "export" action
- [x] Fix drag-and-drop
- [x] Check that known issues (see below) is fixed
- [x] [Add a modal like on product list (Catalog > Products) to confirm or can

[2018-09-19 15:39] matks commented on #10506
⚠️ Page has been hidden as https://github.com/PrestaShop/PrestaShop/issues/10507 is not done yet

It should be un-hidden once https://github.com/PrestaShop/PrestaShop/issues/10513 is fixed

[2018-09-19 15:50] #10269 closed, assigned to Quetzacoalt91

[2018-09-19 15:53] matks opened #10513 "Show migrated page "Advanced Parameters > Webservice""
"Advanced Parameters > Webservice" page has been hidden because "Advanced Parameters > Webservice > Add new webservice key" has not been migrated yet and there are some links in this 2nd page that targets the old not-migrated page

We need to find a way to modify "Advanced Parameters > Webservice > Add new webservice key" links so that they redirect to the migrated page, not the legacy page.

Once

[2018-09-19 15:58] matks opened #10514 "Migrate "Design > Theme Catalog" page"
Part of Symfony migration project

[2018-09-19 15:59] matks commented on #10514
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9154

[2018-09-19 15:59] #10514 closed, assigned to nobody

[2018-09-19 16:02] matks opened #10515 "Migrate "International > Localization > Localization" page"
Part of Symfony migration project

[2018-09-19 16:02] matks commented on #10515
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9116

[2018-09-19 16:02] #10515 closed, assigned to nobody

[2018-09-19 16:05] matks opened #10516 "Migrate "Modules > Modules Catalog" page"
Part of Symfony migration project

[2018-09-19 16:12] matks commented on #10516
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8372

[2018-09-19 16:12] #10516 closed, assigned to nobody

[2018-09-19 16:12] #10483 closed, assigned to nobody

[2018-09-19 16:26] matks opened #10517 "Migrate "Orders > Delivery Slips" page"
Part of Symfony migration project

[2018-09-19 16:26] matks commented on #10517
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9139

[2018-09-19 16:26] #10517 closed, assigned to nobody

[2018-09-19 16:27] raphgithub opened #10518 "Prestashop 1.7.3.2 Intermittent save"
**Describe the bug**
When modifying/adding additional content to product: prestashop shows it as "saved" and then the change is not reflected in the Front, and when reloading the BO the change does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog>Products'
2. Click on 'one Product, then on description then change the description, hit save'
3. Scroll down to '....'
4

[2018-09-19 16:27] matks opened #10519 "Migrate "Orders > Invoices" page"
Part of Symfony migration project

[2018-09-19 16:27] matks commented on #10519
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9230

[2018-09-19 16:27] #10519 closed, assigned to nobody

[2018-09-19 16:28] matks opened #10520 "Migrate "Payment > Payment Methods" page"
Part of Symfony migration project

[2018-09-19 16:28] matks commented on #10520
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9192

[2018-09-19 16:28] #10520 closed, assigned to nobody

[2018-09-19 16:29] matks opened #10521 "Migrate "Payment > Preferences" page"
Part of Symfony migration project

[2018-09-19 16:29] matks commented on #10521
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9225

[2018-09-19 16:29] #10521 closed, assigned to nobody

[2018-09-19 16:30] matks opened #10522 "Migrate "Shipping > Preferences" page"
Part of Symfony migration project

[2018-09-19 16:30] matks commented on #10522
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9094

[2018-09-19 16:30] #10522 closed, assigned to nobody

[2018-09-19 16:36] khouloudbelguith commented on #10518
Hi @raphgithub,

Could you please check those issues: #9677, #9954, #9717
It can be an issue similar.
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-19 16:36] raphgithub commented on #10518
I have tried several browsers, still same intermittent save

[2018-09-19 16:57] raphgithub commented on #10518
Thanks Khouloud, I'll check and revert

[2018-09-19 16:59] eternoendless commented on #10250
@matks:

This is normal as only TranslationFiles for 1.7.4 are being pulled from crowdin and pushed in TranslationFiles. Once the catalog of 1.7.5 has been uploaded to crowdin and the polling system is updated, then it will start updating 1.7.5 files instead.

Until then, we can workaround the problem by copying files from [here](https://github.com/PrestaShop/TranslationFiles/tree/master/1.7/trans

[2018-09-19 17:18] mickaelandrieu commented on #10412
It's not that critical I've expected: as these hooks are new and not registered in the database until you register a module on it they won't be displayed.

The best we can do here from a Developer eXperience point of view is to register them in the file hook.xml

[2018-09-19 17:25] C-Ranalletta commented on #10457
I've deleted the blocklayerfolder, but now I can't find the faceted search module to download.
Do you know the correct Italian name of the module or do you have the correct link where I can download it?

Thanks
Regards

[2018-09-19 18:29] VytautasI opened #10525 "PDF Invoice file invalid"
When someone place an order the invoice is generated and is downloadable. But none of known PDF readers can't open it. Error messages: invalid file, damaged file, unsupported file and etc.

**Additionnal information**
PrestaShop version: 1.6.1.20
PHP version: 7.0.32

[2018-09-19 19:01] V41F commented on #15203
@Quetzacoalt91 here is the result:

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>500 Internal Server Error</title>
</head><body>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error or
misconfiguration and was unable to complete
your request.</p>
<p>Please contact the server administrator at
 [no address given] to inform them of the time this error o

[2018-09-19 19:11] CArlvJ1N0N8 commented on #10466
Problem has been solved.
Clear cache has solved our issue.
So pleas close this issue.

[2018-09-19 21:04] twazerty commented on #10445
@khouloudbelguith , your video does not show the actual problem. Can you test it with iDeal option? Maybe you also need an api key from sisow in order to actually test it.

Yes I contacted Sisow first. They analysed the problem and concluded it is a problem within prestashop's core.

[2018-09-19 22:02] amtriorix opened #10526 "Provide TrustedProxy fields in parameters.php for reverse proxies"
Symphony needs to be informed of trusted proxies. When Prestashop is behind a rev proxy with
ssl termination, X-Forward fields should be interpreted to accept http as https on the webserver,
as the ssl sliders should also detect in that way the reversing.

SSL pass through, works. But this means loss of performance, better way is to have ssl termination
on the reverse proxy, pass further http requ

[2018-09-19 23:31] ChineseNorris opened #10527 "Bootstrap.php at line 140 eats up CPU"
**Describe the bug**
Hi, after debugging a lot my case I ended up that the line
    define('_PS_CREATION_DATE_', $config['parameters']['ps_creation_date']);
When is uncommented eats (literally) the CPU, even when the site is on maintenance mode.
When I comment it, of course the store stops working but stops eating the CPU

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /config/bootstra

[2018-09-20 06:37] ghost opened #10528 "Missing trophy.png image in back office on wamp64 PS installation."
**Describe the bug**
Hello, after fresh installation for currently newest version of Prestashop (1.7.4.2) the trophy.png icon is missing. I'm working on wamp64. The returned path is:

`http://localhost/prestashop/admin33837asx8/index.php/configure/modules/gamification/views/img/trophy.png`

**To Reproduce**
Steps to reproduce the behavior:
1. Just set up newest version of PrestaShop on wamp64.

**

[2018-09-20 07:14] krasnycz commented on #10467
I managed to update the PS after uninstall all 3rd party modules. However I was unable to identify the source of the issue.

[2018-09-20 07:14] #10467 closed, assigned to nobody

[2018-09-20 07:40] Quetzacoalt91 commented on #15203
Thank you @wewew85.

I hoped seeing more details than the generic default message of Apache, but it appears I was wrong.
Unfortunately, this does not provide us any information to go further on the debug. Can you please ask your hosting provider to get the apache / PHP logs? This is our last find details on what's happening.

Regards

[2018-09-20 07:44] Quetzacoalt91 commented on #10528
Thank you for your feedback @randompassanger

The issue has been fixed with https://github.com/PrestaShop/gamification/pull/21, but we haven't released the 2.0.3. We expect doing it at the beginning of the next week.

I'm closing as it is already fixed.
Regards

[2018-09-20 07:44] #10528 closed, assigned to nobody

[2018-09-20 08:02] khouloudbelguith commented on #10525
HI @VytautasI,

Thanks for your report, I did not manage to reproduce the issue with the last version 1.6.1.20.
Have you tried to open the downloadable file with another computer?

Best regards, Khouloud

[2018-09-20 08:03] dennispw commented on #10478
I see what you're saying but I also don't see what you're saying. :)

I understand that an override essentially is a complete replacement but I would still argue that it's a better way to go since you never touch the actual module. Sure, any designer/developer can make enough changes in which a future update might render a module broken but I assume that a person savvy enough to create overrides i

[2018-09-20 08:05] khouloudbelguith commented on #10518
Hi @raphgithub,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-09-20 08:11] C-Ranalletta commented on #10457
Hi @khouloudbelguith
I've found the Faceted search module and I've reinstalled it, but the problem with the main menù block remained. In fact if I try to configure the module, the bottom to select the menù voices doesn't work.
I tried to reset the module but the problem is the same.

How can I do?

Regards

[2018-09-20 08:27] Casper-O opened #10530 "[PSCSX-8239] Search index problem when a product is deleted"
**Describe the bug**
When deleting one product, all products with similar names, have been deleted from the search index, even if, going to Prefences -> Search, all products seem to be correctly indexed, but on the front end if I search for a product with a similar names of that deleted product, no records has been found.

Re-building the entire search index fix the issue and all product are avail

[2018-09-20 08:43] khouloudbelguith commented on #10527
Hi @ChineseNorris,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
When we comment ` "define('PS_CREATION_DATE', $config['parameters']['ps_creation_date']);"`
I get an error "Error: "install" directory is missing".
![image](https://user-images.githubusercontent.com/16067358/45806635-ddc22b80-bcc1-11e8-8c87-3b46c01c8958.png)
@eternoendless  what do you think

[2018-09-20 08:43] VytautasI commented on #10525
Hi Khouloud
Some mystery is happening. Yesterday I changed pdf templates and some modules with original files via FTP, but nothing happened, pdf was damaged.
Today everything works fine, as nothing has happened.
Best regards,
VytautasI

[2018-09-20 08:43] #10525 closed, assigned to nobody

[2018-09-20 08:45] matks commented on #10191
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10234

[2018-09-20 08:49] chrgilles commented on #10453
Informations had been send by email, please let me know if you need other elements
Best regards

[2018-09-20 08:56] mickaelandrieu commented on #10168
As it's fixed and merged this issue should be closed.

Good job everyone

[2018-09-20 08:59] khouloudbelguith commented on #10530
Hi @Casper-O,

Thanks for your report.
I manage to reproduce the issue with PS1.6.1.20 & PS 1.7.4.2.
We will see how to fix it.
When you delete a product from the catalog (Catalog Products - Delete) all words indexed to this product are removed from the global index.

Best regards, Khouloud

[2018-09-20 09:02] mickaelandrieu commented on #10168
Not fixed on 1.7.5 => https://github.com/PrestaShop/PrestaShop/pull/10365

[2018-09-20 09:02] khouloudbelguith commented on #10526
Hi @amtriorix,

Have you an issue similar to this ticket: #10482?

Best regards, Khouloud

[2018-09-20 09:06] khouloudbelguith commented on #9570
Hi Mathieu

The issue has been fixed with PrestaShop/gamification#21, but we haven't released the 2.0.3. We expect to do it at the beginning of the next week.

Best regards, Khouloud

[2018-09-20 09:06] khouloudbelguith commented on #9570
Duplicate of #10528

[2018-09-20 09:06] #9570 closed, assigned to nobody

[2018-09-20 09:09] V41F commented on #15203
Hello @Quetzacoalt91
here is the result from my hosting provider: (file removed)

[2018-09-20 09:10] Casper-O commented on #10530
Hi @khouloudbelguith

Solution has been around since december 2017 when I first found and solved the issue... please check PR #8587

[2018-09-20 09:12] rdy4ever commented on #10527
How about insted of commenting out, do something like this:
` define('_PS_CREATION_DATE_', '1');`
The store should still work, but you could test the impact on the CPU. In my case I don't see any difference, but who knows...

[2018-09-20 09:14] idnovate opened #10531 "JS error when editing a product if post_max_size is 0 - PS 1.6"
**Describe the bug**
If you configure `post_max_size = 0` in php.ini and try to edit a product, there's a JS error in files `admin/themes/default/template/controllers/products/helpers/uploader/attachment_ajax.tpl` and `admin/themes/default/template/controllers/products/helpers/uploader/ajax.tpl` because variable `$post_max_size` is empty.

The problem is in function `getPostMaxSizeBytes()` from Up

[2018-09-20 09:38] rdy4ever commented on #10476
Hi @sytou
I don't know if this is a PS problem or a problem with your theme, but, if you'd like a quick js workaround to solve your problem, try to add this code to your theme custom.js file (just create one if not present in js/autoload folder):

[code]

[2018-09-20 09:43] Quetzacoalt91 commented on #15203
Okay, now we got something!

[code]

We're working on the release of PrestaShop 1.7.5, so I can't work on this issue today, but I'm glad we finally found what's wrong in your case. :)

[2018-09-20 09:53] khouloudbelguith commented on #10467
Hi @krasnycz,

We already got that issue in https://github.com/PrestaShop/autoupgrade/issues/87#issue-335433391, which was caused by a third-party module.

Best regards, Khouloud

[2018-09-20 10:02] khouloudbelguith commented on #10445
Hi @twazerty,

Could you please provide me your API key from sisow module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-20 10:03] khouloudbelguith commented on #10466
Hi @CArlvJ1N0N8,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-20 10:03] #10466 closed, assigned to nobody

[2018-09-20 10:12] khouloudbelguith commented on #10453
Hi @panatan,

Sorry, I did not receive any mail from you.
Thanks to check again.

Best regards, KHouloud

[2018-09-20 10:14] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Thanks to remove the blocktopmenu folder from /Project_Folder/modules & try to re-install the ps_mainmenu module.
Ps: You need to clear cache from your browser & your shop.

Best regards, Khouloud

[2018-09-20 10:15] chrgilles commented on #10453
Mmm strange thing, well i send again just now, it came from chrgilles[at]gmail.com

[2018-09-20 10:20] khouloudbelguith commented on #10453
Hi @panatan,

Sorry no.
Could you please try with this khouloud-belguith.ext@prestashop.com

Best regards, Khouloud

[2018-09-20 10:25] C-Ranalletta commented on #10457
Hello @khouloudbelguith
thanks for your advice, I've cleared my cache but the problem is the same.
How can I understand what is the problem?

Regards

[2018-09-20 10:27] chrgilles commented on #10453
And send again now ;)

[2018-09-20 10:28] khouloudbelguith commented on #10531
Hi @idnovate,

Thanks for your report & your fix.
I manage to reproduce this issue with PS 1.6.1.20.
![image](https://user-images.githubusercontent.com/16067358/45812614-89727800-bcd0-11e8-85ec-8d1058d23708.png)
Fixed by #10532

Best regards, KHouloud

[2018-09-20 10:30] khouloudbelguith commented on #10453
Hi @panatan,

Sorry No.
I checked sending & receiving emails into my account => it's ok.
You have a problem from your side.

Best regards, Khouloud

[2018-09-20 10:32] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

There's no exception when debug mode is enabled?

Best regards, Khouloud

[2018-09-20 10:46] khouloudbelguith commented on #9899
Duplicate of #9643

[2018-09-20 10:46] #9899 closed, assigned to nobody

[2018-09-20 10:57] MathiasReker commented on #9717
PR: https://github.com/PrestaShop/PrestaShop/pull/10446

[2018-09-20 10:58] MathiasReker commented on #9717
@khouloudbelguith this PR might solve more tickets, please check PR. :)

[2018-09-20 11:01] khouloudbelguith commented on #9717
Hi @Mreker,

Thanks for your fix.
Our developers & QA will review your PR & if it is oK, it will be merged.

Best regards, KHouloud

[2018-09-20 11:22] amtriorix commented on #10526
Dear, It is NOT there is the world SSL and REVERSE PROXY the issues are related.

Here I state something very profound in terms of reverse proxy a site with SSL termination on a
load balancer or reverse proxy (with or without cache) forwarding HTTP connections to one or more backend HTTP servers.

For this to work you need to adjust Symphony. In laravel there is the package:
https://github.com/fid

[2018-09-20 11:24] khouloudbelguith opened #10534 "We should update USEFUL LINKS in the Dashboard page"
**Describe the bug**

The USEFUL LINKS should be updated in the Dashboard page.
[code]
Should be replaced by [GitHub](https://github.com/PrestaShop/PrestaShop/issues/new/choose)

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/45822346-8afd6980-bceb-11e8-8a4d-995089457ee1.png)

**Additionnal information**
PrestaShop version: 1.7.5.0 / develop
PHP version: 7.1

[2018-09-20 11:27] khouloudbelguith commented on #10526
@mickaelandrieu what do you think about this issue?

[2018-09-20 11:29] chrgilles commented on #10453
Well no chance since few days for me :/
Will try again soon

[2018-09-20 11:35] MathiasReker commented on #10534
PR: https://github.com/PrestaShop/PrestaShop/pull/10535

[2018-09-20 11:54] chrgilles commented on #10453
And again from an other email hosting

[2018-09-20 12:08] chrgilles commented on #10453
khouloud-belguith.ext@prestashop.com comes in error :/

[2018-09-20 12:18] ChineseNorris commented on #10527
@rdy4ever

Thank you for you reply and assistance, I've made the modifications you mentioned but got no improvement in the CPU side.
I'll edit the full story to replicate step by step. Please check again main thread for more info.

[2018-09-20 12:45] khouloudbelguith commented on #10453
@panatan,

You can try with khouloud.belguith@prestashop.com, there's no problem

[2018-09-20 12:46] khouloudbelguith commented on #10530
fix solution for 1.7: #10536

[2018-09-20 12:55] chrgilles commented on #10453
Done with an other host please let me know if it's good now

[2018-09-20 13:02] khouloudbelguith commented on #10453
Hi @panatan,

Could you please provide me your address mail to contact you.

Best regards, Khouloud

[2018-09-20 13:08] MathiasReker commented on #9954
Increased reference from 32 to 64 caracters: https://github.com/PrestaShop/PrestaShop/pull/10446

[2018-09-20 13:20] chrgilles commented on #10453
yes here it is => chrgilles[at]gmail.com

[2018-09-20 13:23] khouloudbelguith commented on #10453
@panatan Done.

[2018-09-20 13:28] #10113 closed, assigned to matks

[2018-09-20 13:32] khouloudbelguith commented on #10534
Hi @Mreker,

This issue is fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/10151
You need to close your PR:

Best regards, Khouloud

[2018-09-20 13:37] MathiasReker commented on #10534
#10535 fix typo
#10151 fix url

[2018-09-20 13:38] C-Ranalletta commented on #10457
No, it's the same thing.
Even if I try to upload a new theme the "upload file" bottom doesn't answer.

[2018-09-20 13:43] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-20 13:44] chrgilles commented on #10453
Ok good reception => elements has been send...
°_°

[2018-09-20 13:46] khouloudbelguith commented on #10453
Hi @panatan,

I just received the email.
I will check & feedback.

Best regards, Khouloud

[2018-09-20 13:48] chrgilles commented on #10453
Great ! Super !

[2018-09-20 13:55] rdy4ever commented on #10527
You could try to install a fresh prestashop instance on your hosting (it’s easy via Softaculous) and see if it behaves the same. Maybe the problem is not Prestashop but your host. Also, when you say that “it eats up CPU”, you mean on your server or on the client machine when you load the website? Could you share your url?
Also, I wouldn’t really point the problem to that line in bootstrap. Without

[2018-09-20 13:59] matks opened #10537 "Migrate "Shop parameters > Customer settings > Customers" (1/3 pages)"
Part of Symfony migration project

[2018-09-20 13:59] matks commented on #10537
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8920

[2018-09-20 13:59] #10537 closed, assigned to nobody

[2018-09-20 14:00] matks opened #10538 "Migrate "Shop parameters > General > General" page"
Part of Symfony migration project

[2018-09-20 14:00] matks commented on #10538
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8883

[2018-09-20 14:00] #10538 closed, assigned to nobody

[2018-09-20 14:01] matks opened #10539 "Migrate "Shop parameters > Order Settings > Order settings" page"
Part of Symfony migration project

[2018-09-20 14:01] matks commented on #10539
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9007

[2018-09-20 14:01] #10539 closed, assigned to nobody

[2018-09-20 14:01] khouloudbelguith commented on #10453
Hi @panatan,

As I said before, it is a server issue.
`Link to database cannot be established: SQLSTATE[HY000] [2002] Connection timed out`
You should ask your provider for the correct data to put there. There are several possible methods to connect to database, only your provider knows how he configured his server.

Best regards, Khouloud

[2018-09-20 14:04] matks opened #10540 "Migrate Catalog > Attributes & Features > Features page"
Part of Symfony migration project
Type: page

Todo:
- [ ] Migrate listing and helper card
PR: https://github.com/PrestaShop/PrestaShop/pull/15045

## Check-List (copied from #13989)

### Controller / template
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page are

[2018-09-20 14:04] matks opened #10541 "Migrate "Catalog > Brand & Suppliers > Add new / edit supplier" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate CRUD page https://github.com/PrestaShop/PrestaShop/pull/15650/
- [x] Add tinyMCE https://github.com/PrestaShop/PrestaShop/pull/16457
- [ ] Fix visual bug https://github.com/PrestaShop/PrestaShop/issues/15649
- [x] Un-hide listing and CRUD page (see https://github.com/PrestaShop/PrestaShop/issues/10545)

## Check-List (cop

[2018-09-20 14:05] matks opened #10542 "Migrate "Catalog > Brand & Suppliers > Brands" page"
Part of Symfony migration project
Type: page

Link admin-dev/index.php/sell/catalog/brands

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/9337
- [x] Make sure ps_themecustom is compatible once migration is done - see below
- [x] Fix filtering for double-grid listing https://github.com/PrestaShop/PrestaShop/pull/12928

[2018-09-20 14:06] matks opened #10543 "Migrate "Catalog > Brand & Suppliers > Brands > Add new brand" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/12735
- [x] TinyMCE multi-lang => see issue https://github.com/PrestaShop/PrestaShop/issues/13206

[2018-09-20 14:08] matks opened #10544 "Migrate "Catalog > Brand & Suppliers > Brands > Add new brand address" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate CRUD page https://github.com/PrestaShop/PrestaShop/pull/12795
- [x] Old bug #9611
- [x] Old bug #9610

[2018-09-20 14:09] matks opened #10545 "Migrate "Catalog > Brand & Suppliers > Suppliers" page"
Type : page
Part of Symfony migration project

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/11153
- [x] Add empty state https://github.com/PrestaShop/PrestaShop/pull/12498

Access: `/admin-dev/index.php/sell/catalog/suppliers/`

[2018-09-20 14:10] matks opened #10546 "Migrate "Catalog > Discounts > Cart rules" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing #19048
- [ ] Add "New cart rule" button in listing [#19048 (comment)](https://github.com/PrestaShop/PrestaShop/pull/19048#issuecomment-723194566)
- [ ] Add clickable row button in listing [#19048 (comment)](https://github.com/PrestaShop/PrestaShop/pull/19048#issuecomment-723194566)
- [ ] Desing https://invis.io/C6

[2018-09-20 14:11] matks opened #10547 "Migrate "Catalog > Discounts > Cart rules > Add new / edit cart rule" page"
Part of Symfony migration project

## Status

Todo:
- [x] Migrate of "add cart rule" action #14707 (CQRS)
- [x] Mgrate edit cart rule action (CQRS)
- [x] Migrate creation form (https://github.com/PrestaShop/PrestaShop/pull/31904). _Edited by @zuk3975_ )
- [ ] Migrate edition form (https://github.com/PrestaShop/PrestaShop/pull/31904). _Edited by @zuk3975_ )
- [ ] Fix "red borders" on cart rule tabs

[2018-09-20 14:11] matks opened #10548 "Migrate "Catalog > Discounts > Catalog price rules > Add new / edit catalog price rule" page"
Part of Symfony migration project
Type: page
Functional specs of the page : [https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-price-rules.md](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-price-rules.md)

Todo:
- [x] Migrate main page https://github.com/PrestaShop/PrestaShop/pull/13716
- [ ] #28954
- [x] Remove "recomme

[2018-09-20 14:12] matks opened #10549 "Migrate "Catalog > Discounts > Catalog price rules" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/13584
- [x] Fix rounding issue https://github.com/PrestaShop/PrestaShop/pull/18691
- [ ] Migrate actions
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [

[2018-09-20 14:13] matks opened #10550 "Migrate "Catalog > Files" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/14864
- [x] Ad helper card https://github.com/PrestaShop/PrestaShop/pull/16821
- [x] Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action https://github.com/PrestaShop/PrestaShop/pull/16820
- [x] Unhide page #16815

## Check-

[2018-09-20 14:16] matks opened #10551 "Migrate "Catalog > Files > Add new / edit files" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/15003

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page a

[2018-09-20 14:16] matks opened #10552 "Migrate "Catalog > Monitoring" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate all grids of the page https://github.com/PrestaShop/PrestaShop/pull/13529
- [x] Implement product actions usable in grid (see `@todo` in https://github.com/PrestaShop/PrestaShop/pull/13529/files) https://github.com/PrestaShop/PrestaShop/pull/16267
- [x] Fix monitoring grids id configuration https://github.com/PrestaShop/P

[2018-09-20 14:17] matks opened #10553 "Migrate "Customer Service > Customer Service > List & Form" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/14288

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page a

[2018-09-20 14:17] matks opened #10554 "Migrate "Customer Service > Merchandise Returns" page"
Part of Symfony migration project
Type: page

# Status
### **Waiting to Migrate the View part to close it**

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/15022
- [ ] Migrate view & edit https://github.com/PrestaShop/PrestaShop/pull/17081

[2018-09-20 14:18] matks opened #10555 "Migrate "Customer Service > Order Messages" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/14970
- [x] [Add a modal to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/is/14462)

## Check-List (copied from #13989)

### Controller / template
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligi

[2018-09-20 14:18] matks opened #10556 "Migrate "Customer Service > Order Messages > Add new / edit order message" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/14970

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page a

[2018-09-20 14:19] matks opened #10557 "Migrate "Customers > Addresses" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/15229
- [x] [Add a modal to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@Admin

[2018-09-20 14:19] matks opened #10558 "Migrate "Customers > Addresses > Add new / edit address" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/15300
- [x] Modify link (see below)
- [x] Handle dynamic field validation https://github.com/PrestaShop/PrestaShop/pull/17293/ fixed in https://github.com/PrestaShop/PrestaShop/pull/17526

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] A

[2018-09-20 14:20] matks opened #10559 "Migrate "Customers > Customers" page"
Type: page
Status: in-progress

Part of Symfony migration project

![capture d ecran 2018-11-28 a 11 40 27](https://user-images.githubusercontent.com/3830050/49146441-726c8980-f302-11e8-946c-aaca86821453.png)

## Page structure
- listing (grid)
- KPI blocks
- row actions (toggle status, view, modify, delete, toggle partners offers newsletter subscription, toggle newsletter subscription)
- bulk act

[2018-09-20 14:20] matks opened #10560 "Migrate "Customers > Customers > Add new / edit customer" page"
Type: page
Status: in-progress
Part of Symfony migration project

![capture d ecran 2018-12-18 a 10 39 23](https://user-images.githubusercontent.com/3830050/50145170-37ca9100-02b1-11e9-8bb7-bbdb3ae7f9c0.png)

## Todo:
- [x] Migrate form Migrate customer Add/Edit actions #11723
- [x] Migrate ajax customer search route #11783
- [x] Migrate quicklink (see Marion comment below) https://github.com/Pres

[2018-09-20 14:36] C-Ranalletta commented on #10457
Hi @khouloudbelguith
thanks for your suggestion, but I've tried to change my browser and now it seems work correctly.
But I also have another issue, in fact if I click on one product on sale, in front office of the site, it appears this error (photo attached)

How can I try to fix it?

Thanks a lot
Regards
![schermata 2018-09-20 alle 10 03 37](https://user-images.githubusercontent.com/43338406/458

[2018-09-20 14:39] MathiasReker opened #10561 "run cs fixer on root folder?"
Can we run php-cs-fixer on the root folder of Prestashop to get code standard up to date?

[2018-09-20 14:41] chrgilles commented on #10453
Hi, the problem is that it works fine but several times it is immedialelty broken (so no time out), and when it's broken it shows db informations...

[2018-09-20 14:54] khouloudbelguith commented on #10453
Hi @panatan,

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Best regards, Khouloud

[2018-09-20 14:54] #10453 closed, assigned to nobody

[2018-09-20 15:00] khouloudbelguith commented on #10457
Hi @C-Ranalletta ,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typically

[2018-09-20 15:05] matks opened #10563 "Migrate "Design > Image Settings" page"
Part of Symfony migration project

This page is a listing for Image Settings. When clicking on "edit" user is redirected to https://github.com/PrestaShop/PrestaShop/issues/10564

## Status

In order to finish the migration of this back-office page, we need to:

**Todo List**:
- [ ] Continue the PR [https://github.com/PrestaShop/PrestaShop/pull/22159 (see below)
- [ ] New feature to add to the Symf

[2018-09-20 15:06] matks opened #10564 "Migrate "Design > Image Settings > Add new / edit image type" page"
Part of Symfony migration project

## Status

This page is a form to edit Image Settings. When clicking on "save" user is redirected to the listing https://github.com/PrestaShop/PrestaShop/issues/10563

In order to finish the migration of this back-office page, we need to:

**Todo List**:
- [x] Continue the PR [https://github.com/PrestaShop/PrestaShop/pull/22159 (see below)
- [ ] The [Multistore h

[2018-09-20 15:07] matks opened #10565 "Migrate "Design > Pages" page"
Type: page
Part of Symfony migration project

![capture d ecran 2019-01-04 a 12 10 25](https://user-images.githubusercontent.com/3830050/50685505-c19c8d00-1019-11e9-9056-d89d46a9cab9.png)

Todo:
- [x] Migrate grid 1 https://github.com/PrestaShop/PrestaShop/pull/10877
- [x] Migrate grid 2 https://github.com/PrestaShop/PrestaShop/pull/12981
- [x] Helper card https://github.com/PrestaShop/PrestaShop/

[2018-09-20 15:07] matks opened #10566 "Migrate "Design > Pages > Add new / edit page" page"
Part of Symfony migration project

To do :
- [x] Migrate CRUD page https://github.com/PrestaShop/PrestaShop/pull/12995
- [x] Add SEO preview as on the product page (1.7.5 feature) => see issue https://github.com/PrestaShop/PrestaShop/issues/13259
- [x] Add "save and preview" and refactor errors https://github.com/PrestaShop/PrestaShop/pull/13144
- [x] Add TinyMCE multi-lang => see issue https://gi

[2018-09-20 15:08] matks opened #10567 "Migrate "Design > Pages > Add new / edit page category" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate CRUD form https://github.com/PrestaShop/PrestaShop/pull/12647
- [x] Handle drag-and-drop behavior https://github.com/PrestaShop/PrestaShop/pull/12974

[2018-09-20 15:13] khouloudbelguith commented on #10561
Hi @Mreker,

Thanks to follow this link: https://medium.com/@mickael_andrieu/chez-prestashop-on-a-fait-le-choix-de-php-cs-fixer-et-la-configuration-est-disponible-%C3%A0-la-racine-b21b9cbfa944 & feedback.

Best regards, Khouloud

[2018-09-20 15:14] matks opened #10568 "Migrate Design > Positions > Transplant-a-module page"
Search & select a module
(new: Search) & select a hook
Define exception set

---
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

Improvement idea:

- [ ] #19435 Add a _Save & Stay_ button
- [ ] #20973 - Be able to s

[2018-09-20 15:14] matks opened #10570 "Migrate "Design > Theme & Logo " page"
Part of Symfony migration project

[2018-09-20 15:22] ChineseNorris commented on #10527
Well, I've another prestashop sites in the same hosting and they are working properly without consuming that much CPU. When I mean "eating up CPU" is that when the line is commented the CPU is at 15-20% and when uncommented it goes to 90-100% within seconds.
What choice do I have to keep debugging and see where is the problem? I tried disabling overrides and modules, but with the same result.
The

[2018-09-20 15:52] C-Ranalletta commented on #10457
Hi @khouloudbelguith
I'll try to do this.
In the meantime I send you this screenshot from Prestashop debug mode , I don't know if it will be useful.

![schermata 2018-09-20 alle 17 48 42](https://user-images.githubusercontent.com/43338406/45830601-cd2fa680-bcfd-11e8-89af-96e344c63b5b.png)

Regards

[2018-09-20 15:56] matks commented on #10123
Linked to https://github.com/PrestaShop/PrestaShop/pull/10529

[2018-09-20 15:57] fredalva commented on #9535
Hi, i've got exact same issu on fresh install from last release 1.7.4.2 => cannot load french language file. on MAMP PRO. First i tested on php 7.1.2 and after switch to 7.2.8 but same problems.See screeenshoot.
![1](https://user-images.githubusercontent.com/23580582/45830594-c7d25c00-bcfd-11e8-8908-595c06ecbf2f.png)
Thanks for help

[2018-09-20 15:59] khouloudbelguith commented on #9528
Hi Igor,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-20 15:59] #9528 closed, assigned to nobody

[2018-09-20 16:03] Maofree opened #10573 "fixed a css error on PSGDPR module"
Hi

**Describe the bug**
active the psgdpr module and the newsletter block, then go to the bottom and you will see many white space

the problem is due from this css code in front.css from the float:left

`form div label {
    float: left;
}`

it is necessary to remove that float left to the gdpr label so try with this code

`#footer .psgdpr_consent_message {
    float: none;
}`

**Screenshots**
!

[2018-09-20 16:06] khouloudbelguith commented on #9535
Hi @fredalva,

During the installation, could you please check that your network is available.
Also, you need to enable allow_url_fopen.

Best regards, Khouloud

[2018-09-20 16:22] khouloudbelguith commented on #10573
Hi @maofree,

Thanks for your report.
I did not manage to reproduce the issue with the last version 1.7.4.2 & the psgdpr module v1.1.0.
https://drive.google.com/file/d/1pmvHvvQbYMsLGqcEQv6R5GsX-47DyaGm/view
Thanks to check the video record & feedback.

Best regards, Khouloud

[2018-09-20 16:24] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Have you any previous customized module related to the product?
You need to remove it.

Best regards, Khouloud

[2018-09-20 16:25] Maofree commented on #10573
could be
but it happens on two sites that I manage (also in a clean installation)
and if I remove that left I'll solve

check a little with the chrome web tool

[2018-09-20 16:27] fredalva commented on #9535
HI, I get network and this is my php.ini

; Whether to allow the treatment of URLs (like http:// or ftp://) as files.
; http://php.net/allow-url-fopen
allow_url_fopen = On

[2018-09-20 16:31] khouloudbelguith commented on #10573
Hi @maofree,

![image](https://user-images.githubusercontent.com/16067358/45832878-644b2d00-bd03-11e8-809a-b6b36f2c6149.png)

Best regards, Khouloud

[2018-09-20 16:33] khouloudbelguith commented on #9535
Hi @fredalva,

Try to remove ./app/Resources/translations/en-US/en-US.zip and retry. Look like something goes wrong during download.

Best regards, Khouloud

[2018-09-20 16:40] Maofree commented on #10573
it is strange
you have a different code for that label

[2018-09-20 16:42] khouloudbelguith commented on #10573
@maofree,

I downloaded the module from this link: https://github.com/PrestaShop/psgdpr/

Best regards, Khouloud

[2018-09-20 17:14] DragoshNRV commented on #9558
Yes, this is still happening/

Prestashop 1.7.4.2

[2018-09-20 20:11:41] request.INFO: Matched route "admin_module_manage". {"route":"admin_module_manage","route_parameters":{"category":null,"keyword":null,"_controller":"PrestaShopBundle\\Controller\\Admin\\ModuleController::manageAction","_legacy_controller":"AdminModulesManage","_route":"admin_module_manage"},"request_uri":"http://localhost/nerv

[2018-09-20 17:22] Maofree commented on #10573
it is due from the classic theme in front.css file
can you check if you have this code at line 102?

![1](https://user-images.githubusercontent.com/653230/45835447-741a3f80-bd0a-11e8-9de9-f163f730adf1.png)

[2018-09-20 17:23] Maofree commented on #10573
ok understood
it is due from the payplug module

[2018-09-20 17:25] #10573 closed, assigned to nobody

[2018-09-20 17:35] mbadrani commented on #9685
Seems ok for me, sending formular request and compliant with PHP 7.0.32.
@Quetzacoalt91 @eternoendless if anyone have a PHP 7.2 to confirm that is also compliant

[2018-09-20 18:52] jointsystems commented on #9489
1501713E540MA | AUGER HSG,29H3MF WHLC | Briggs_and_Stratton | A |   |   | 1501713E540MA | AUGER HSG,29H3MF WHLC | Briggs_and_Stratton | US | 4 |   | 396.45 | 396.45 | 436.095 | 37 | 1 | 24847367171 | 1 | 1 | 4

[2018-09-20 19:08] amtriorix commented on #10526
I come back to this and indeed. It seems Prestashop 1.7.x is using Symphony 3:

``
#grep 'const VERSION =' vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php

    const VERSION = '3.4.12';
``

And indeed there is :
``
grep 'X_FORWARDED_' vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Request.php

    const HEADER_X_FORWARDED_FOR = 0b00010;
    const HEADER_X_FORWARDED_

[2018-09-20 19:22] #10561 closed, assigned to nobody

[2018-09-20 19:23] #10251 closed, assigned to nobody

[2018-09-20 19:23] #10460 closed, assigned to nobody

[2018-09-20 21:14] Tominjsh opened #10575 "Attribute change *An error occurred while processing your request* with FRIENDLY URL on"
Still have problem with this error on product page with FRIENDLY URL ON after fixes available below.
Problem disappears when not using friendly url.

**Additionnal information**
PrestaShop version: Fresh 1.7.4.2 with https://github.com/PrestaShop/PrestaShop/pull/9390 fixes

using this nginx config https://github.com/PrestaShop/PrestaShop/blob/bffb73a2f893f8e3caf613ba51d2f8f2d5c7c8e5/docs/server_co

[2018-09-21 04:13] amtriorix commented on #10526
Ok and finally I found this snippet too in the admin section but seems nothing provided in the
store itself to handle X-Forwarded-... data.

[2018-09-21 06:25] MathiasReker commented on #9681
This can be closed

[2018-09-21 06:45] PierreRambaud commented on #9681
Thanks @Mreker ;)

[2018-09-21 06:45] #9681 closed, assigned to jolelievre

[2018-09-21 07:40] khouloudbelguith commented on #10575
Hi @Tominjsh,

Your ticket is a duplicate of #10178
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-21 07:40] khouloudbelguith commented on #10575
Duplicate of #10178

[2018-09-21 07:40] #10575 closed, assigned to nobody

[2018-09-21 08:14] khouloudbelguith commented on #10445
Hi @twazerty,

Done.
I just received your email.
I will check & feedback.

Thanks & best regards, Khouloud

[2018-09-21 08:16] matks opened #10576 "Migrate "Design > Theme & Logo" page"
Type : page
Part of Symfony migration project

![capture d ecran 2018-11-28 a 16 42 13](https://user-images.githubusercontent.com/3830050/49163107-9a70e280-f32c-11e8-99ef-20d21738487b.png)

## Page structure

4 image upload fields and some rendering

## Todo:
- [x] Migrate page, careful with specs https://github.com/PrestaShop/PrestaShop/pull/11169 especiall RTL block and multi-store behavior
- [x

[2018-09-21 08:18] matks opened #10577 "Migrate "Design > Theme & Logo > Add new theme" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/11169

[2018-09-21 08:19] matks opened #10578 "Migrate "Design > Theme & Logo > Choose layouts" page"
Part of Symfony migration project

[2018-09-21 08:19] C-Ranalletta commented on #10457
Hi @khouloudbelguith

1. no, I haven't any customized module for products, I just inserted some attributes during the product creation.
I think the problem is in the attributes and features of the catalog.

2. I also read you suggestion #9513 (comment), but I don't know how to do. Could you help me telling how to solve the problem of forbidden access to orders and customer data?

3. I investigated

[2018-09-21 08:19] matks opened #10579 "Migrate "International > Localization > Languages" page"
Type: page

![capture d ecran 2018-11-28 a 11 23 34](https://user-images.githubusercontent.com/3830050/49145443-14d73d80-f300-11e8-987f-4efc2cd29742.png)

Listing (grid) with:
- row actions (modify/delete/toggle activation)
- bulk actions (enable/disable/delete)

Part of Symfony migration project
Todo:
- [x] Migrate list https://github.com/PrestaShop/PrestaShop/pull/10839
- [x] Migrate actions htt

[2018-09-21 08:20] matks opened #10580 "Migrate "International > Localization > Languages > Add new / edit language" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/11885
- [x] After migration, create an issue for refacto controllers (see below)

Refacto: see https://github.com/PrestaShop/PrestaShop/pull/11885#discussion_r245616451

Access new pages from admin-dev/index.php/improve/international/languages

[2018-09-21 08:20] matks opened #10581 "Migrate "Orders > Credit Slips" page"
Part of Symfony migration project
type: page

This page includes listing + add new credit slip (different behaviour than other BO pages)

## Status

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/13903
- [x] Fixes old bug https://github.com/PrestaShop/PrestaShop/issues/9962
- [x] Remove "add new" button
- [x] Add empty state https://github.com/PrestaShop/PrestaShop/pull/

[2018-09-21 08:21] matks opened #10582 "Migrate "Orders > Orders" page"
Type: page
Part of Symfony migration project

## Status

Todo:
- [x] Prepares Command API for migrating Order view page https://github.com/PrestaShop/PrestaShop/pull/13712
- [x] Migrate list https://github.com/PrestaShop/PrestaShop/pull/13988
- [x] Use icons instead of dropdown column for Orders page list https://github.com/PrestaShop/PrestaShop/pull/15808
- [x] Waiting for refacto specs and mock-

[2018-09-21 08:21] matks opened #10583 "Migrate "Orders > Orders > Add new" page"
Type: page
Part of Symfony migration project

## Status

Migration block per block

Todo:
- [x] Migrate Add action https://github.com/PrestaShop/PrestaShop/pull/12645
- [x] Migrate block "customer"
- [x] Migrate block "products" (a.k.a cart) https://github.com/PrestaShop/PrestaShop/pull/15814
- [x] Migrate block "cart rules" https://github.com/PrestaShop/PrestaShop/pull/15995
- [x] Migrate block "

[2018-09-21 08:22] matks opened #10584 "Migrate "Orders > Shopping Carts" page"
Type: page
Part of Symfony migration project

## Status

Todo :
- [ ] Migrate listing
- [ ] Migrate KPIs
- [ ] Remove "Delete" actions from carts that have placed orders (see https://github.com/PrestaShop/PrestaShop/issues/10584#issuecomment-723147564)
- [ ] [Add a modal to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm

[2018-09-21 08:22] matks opened #10585 "Migrate Shipping > Carriers page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing
- [x] Add helper card
- [ ] Fix old bug #11388
- [x] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [x] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/

[2018-09-21 08:23] matks opened #10586 "Migrate "Shipping > Carriers > Add new / edit carrier" page"
Part of Symfony migration project
Type: page

# Status

Todo:
- [ ] Create "add carrier" command https://github.com/PrestaShop/PrestaShop/pull/14551
- [ ] At each save make sure there is data modification before for saving a new carrier in the database
- [ ] https://docs.prestashop-project.org/functional-documentation/functional-documentation/ux-ui/back-office/improve/shipping/carrier
- [ ] https:

[2018-09-21 08:25] matks opened #10587 "Migrate "Shop parameters > General > Maintenance" page"
Part of Symfony migration project

[2018-09-21 08:25] matks commented on #10587
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8604

[2018-09-21 08:25] #10587 closed, assigned to nobody

[2018-09-21 08:26] matks opened #10588 "Migrate "Stats" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 08:29] matks opened #10589 "Migrate "Shop parameters > Traffic & SEO > Search Engines" page"
Part of Symfony migration project
- [x] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [x] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)
- [x] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob

[2018-09-21 08:34] matks opened #10590 "Migrate "Shop parameters > Traffic & SEO > Search Engines > Add new / edit search engine" page"
Part of Symfony migration project

- [x] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)
- [x] #19417 - Add information message for multistore

[2018-09-21 08:34] khouloudbelguith commented on #10445
Hi @twazerty,

As always.
Some strange thinks.
In the checkout page, I have this error.
![image](https://user-images.githubusercontent.com/16067358/45869874-e1b98080-bd89-11e8-98b5-a01109151ca4.png)

Best regards, Khouloud

[2018-09-21 08:43] matks opened #10591 "Migrate "Shop parameters > Search > Search" page"
Part of Symfony migration project
- [x] #32019
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)
- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestash

[2018-09-21 08:43] matks opened #10592 "Migrate "Shop parameters > Search > Search > Add new / edit alias" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)
- [ ] #19418 - Add information message for multistore

--
- Specs: https://docs.prestashop-project.org/functional-documentation/functional-documentation/ux-ui/back-offi

[2018-09-21 08:54] khouloudbelguith commented on #9685
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10376

[2018-09-21 08:54] #9685 closed, assigned to nobody

[2018-09-21 08:56] khouloudbelguith commented on #10573
Hi @maofree,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-21 09:23] khouloudbelguith commented on #10403
This issue still exists in the develop branch.

[2018-09-21 09:36] matks commented on #10123
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10529

[2018-09-21 09:36] #10123 closed, assigned to CaptainYouz, jolelievre, tomas862

[2018-09-21 09:37] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql

Best regards, Khouloud

[2018-09-21 10:01] ebonit opened #10593 "translation ps_wirepayment is uncomplete"
**Description**
The last 5 lines of the template modules/ps_wirepayment/views/templates/hook/payment_return.tpl are missing in the translation backoffice page Modules->Wirepayment->Shop

**To Reproduce**
Steps to reproduce the behavior:
1. In the backoffice go to '/index.php/international/translations?lang=nl&type=modules&selected=ps_wirepayment&locale=nl-NL' or en_US
![schermafbeelding 2018-09-21

[2018-09-21 10:02] khouloudbelguith commented on #10593
Hi @ebonit,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9697
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-21 10:02] khouloudbelguith commented on #10593
Duplicate of #9697

[2018-09-21 10:02] #10593 closed, assigned to nobody

[2018-09-21 10:18] Tominjsh commented on #10178
so, is there a solution before 1.7.5?

[2018-09-21 10:24] khouloudbelguith commented on #9489
Hi @jointsystems,

Try to add the "Rewritten URL" column for each product in your import file.
It should be with a lowercase letter.

Thanks & best regards, Khouloud

[2018-09-21 10:25] khouloudbelguith commented on #9558
Hi @DragoshNRV,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-21 10:50] raphgithub commented on #10518
Hi @khouloudbelguith,

My issue was different from the ones you mentionned. When saving a simple description of a product: it showed the green notification "changes saved" but did not reflect it Front end.
I did disable the Smarty caching and it seems to be solved now.

Kind regards

Raph

[2018-09-21 11:09] khouloudbelguith commented on #10518
HI @raphgithub,

Could you please provide me the exact setting that you have made in the performance page.

Best regards, Khouloud

[2018-09-21 11:16] khouloudbelguith commented on #9499
Hi @saad-elalfy,

Your issue should be fixed with this PR: #9005
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-21 11:16] #9499 closed, assigned to nobody

[2018-09-21 11:27] dennispw opened #10596 "Uploading a texture to an attribute with a color code saved returns 404"
**Describe the bug**
Uploading an image ("texture") to an attribute that have a color code saved will save the image value but remove the image which will return a 404 in the front office. Essentially it has saved the value for the attribute, but since the color code is set it removes the image. If we repeat the process, empty the color code, choose our image and then save, it now works.

**To Rep

[2018-09-21 11:46] raphgithub commented on #10518
Hi @khouloudbelguith,

I did what rdubill said on the following page On 01/08/2017 at 2:52 PM, : https://www.prestashop.com/forums/topic/604058-i-cant-save-changes-to-my-products-in-prestashop-17/
Kind regards
Raph

Quote"
To anyone who might be following this - late yesterday afternoon (7/31/17) I went into Advanced Parameters>Performance and changed the following.

1) Left SMARTY alone - that is

[2018-09-21 12:30] khouloudbelguith commented on #10518
Hi @raphgithub,

Thanks for your feedback.
Since it is fixed, I close the issue.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-21 12:30] #10518 closed, assigned to nobody

[2018-09-21 12:40] sarjon opened #10597 "[SF migration] Templates and actions naming convention"
type : tech-issue;
status: in-progress;
Todo:
- [x] Choose conventions #10974
- [x] Apply to 1.7.5 controllers
- [ ] Apply to older controllers
- [x] Update doc

**EDIT: solved, see https://github.com/PrestaShop/PrestaShop/issues/10597#issuecomment-426319776**

So we started a migration of object models and there are a lot of similar actions like: list, add, edit, view. I've already noticed some i

[2018-09-21 12:41] sarjon commented on #10597
@eternoendless wdyt?

[2018-09-21 12:51] khouloudbelguith opened #10598 "Upload module - Connect to Addons marketplace both do not work"
**Describe the bug**

In the "Module Catalog page" & "Module Manager" page, the Upload module button & the Connect to Addons marketplace button, both do not work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Catalog page" / "Module Manager
2. Click on the Upload module button & Connect to Addons marketplace button
3. See the error, nothing happens

**Screenshots**
https://driv

[2018-09-21 13:02] khouloudbelguith opened #10599 "It is impossible to delete a shopping cart from the BO - An error occurred during deletion.-"
**Describe the bug**

In the BO => Shopping Carts page, when we try to delete a shopping cart, a red alert "An error occurred during deletion." is displayed.
In the 1.7.4.2 => OK
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Orders => Shopping carts
2. Delete any shopping cart
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/45882681-2b68

[2018-09-21 13:08] caygri opened #10600 "Add support for SVG images"
**Is your feature request related to a problem? Please describe.**
Hello, i have a lot of requesto about integrate svg logo and libraries, especially for design product

**Describe alternatives you've considered**
i cant considered because need preview of image.

---

Edited on November 24th, following https://github.com/PrestaShop/PrestaShop/issues/10600#issuecomment-728133716:

**Describe the so

[2018-09-21 13:10] khouloudbelguith commented on #10600
Hi @caygri,

Your ticket is a duplicate of #10290
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-21 13:10] khouloudbelguith commented on #10600
Duplicate of #10290

[2018-09-21 13:12] khouloudbelguith commented on #10598
Fixed by #10601

[2018-09-21 13:17] #9507 closed, assigned to nobody

[2018-09-21 13:38] khouloudbelguith commented on #10596
Hi @dennispw,

Thanks for your report.
In the **Part2** first step, I edit the attribute and upload an image (keep the color code) => OK => but this image is not saved.
I attached a video record.
https://drive.google.com/file/d/1mjDw42NDE0WTyr7grgVvWnJJUgxGu7oT/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-21 14:00] matks commented on #10192
Linked to https://github.com/PrestaShop/PrestaShop/pull/10595

[2018-09-21 14:04] PierreRambaud commented on #10599
FYI, it's only happened with fixtures, not with customer carts. :/

[2018-09-21 14:06] matks commented on #9746
**Note to myself:** check it works I am not sure whether it got into `develop`

[2018-09-21 14:12] matks opened #10602 "[SF Migration] Topics to explore for 1.7.6"
# Technical topics to explore for 1.7.6

- [x] Use Symfony validator service for entity form validation ✅
- [ ] Hooks system improvement for performances
- [x] Unit testing and integration testing: provide doc & examples (https://github.com/PrestaShop/docs/pull/333)
- [x] Define rules for domain exceptions (see https://github.com/PrestaShop/PrestaShop/issues/10674)
- [ ] Handle AdminLegacyLayoutCo

[2018-09-21 14:37] matks opened #10603 "Migrate "International > Locations > Add new / edit zone" page"
Part of Symfony migration project

- [x] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 14:38] khouloudbelguith commented on #10526
ping @mickaelandrieu

[2018-09-21 14:38] matks opened #10604 "Migrate "International > Locations > Countries" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing
- [ ] Form todo
![Capture d’écran 2023-07-06 à 15 52 23](https://github.com/PrestaShop/PrestaShop/assets/43613217/5c2f08b2-52dc-4435-b051-afb4210a2746)

- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)

[2018-09-21 14:38] dennispw commented on #10596
@khouloudbelguith Precisely. But some value is still saved because in the front office (I used the faceted search as an example) it's trying to get the image but since it doesn't exist you will get a 404. I'm just _guessing here_ but it seems as if the function uploads and renames the image, saves the name - but since the color field isn't empty it deletes the image but not the entry in the databa

[2018-09-21 14:38] matks opened #10605 "Migrate "International > Locations > Countries > Add new / edit country" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [ ] Migrate form
- [ ] Fix old bugs (see below)

Old bugs related to this page:
- [x] https://github.com/PrestaShop/PrestaShop/issues/9812#issuecomment-415149786
- [ ] https://github.com/PrestaShop/PrestaShop/issues/13202
- [ ] https://github.com/PrestaShop/PrestaShop/issues/9765
- [x] https://github.com/PrestaShop/PrestaShop/issues/

[2018-09-21 14:39] matks opened #10606 "Migrate "International > Locations > States" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/15032
- [x] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [x] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/Presta

[2018-09-21 14:39] matks opened #10607 "Migrate "International > Locations > States > Add new / edit state" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [ ] Migrate form https://github.com/PrestaShop/PrestaShop/pull/15071
- [ ] Multistore - Add information message https://github.com/PrestaShop/PrestaShop/issues/19413

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations wh

[2018-09-21 14:39] matks opened #10608 "Migrate "International > Locations > Zones" page"
Part of Symfony migration project
- [x] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [x] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)
- [x] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob

[2018-09-21 14:41] matks opened #10609 "Migrate "International > Taxes > Tax Rules" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/15915
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/Presta

[2018-09-21 14:42] matks opened #10610 "Migrate "International > Taxes > Tax Rules > Add new / edit tax rule group" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [ ] Migrate form #15611
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462) : #28699
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082) : #28699

## Check-L

[2018-09-21 14:42] matks opened #10611 "Migrate "International > Taxes > Taxes" page"
Type: page
Part of Symfony migration project

Link: `/admin-dev/index.php/improve/international/taxes/`

Todo:
- [x] Migrate listing https://github.com/PrestaShop/PrestaShop/pull/12423
- [x] Migrate configuration form https://github.com/PrestaShop/PrestaShop/pull/12610
- [ ] Unhide controller
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](h

[2018-09-21 14:43] matks opened #10612 "Migrate "International > Taxes > Taxes > Add new / edit tax" page"
Part of Symfony migration project
Type: page

Todo:
- [x] Migrate form https://github.com/PrestaShop/PrestaShop/pull/12641
- [x] Refacto for constraints https://github.com/PrestaShop/PrestaShop/pull/13162

[2018-09-21 14:43] matks opened #10613 "Migrate "International > Translations (Page 1/2)" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 14:44] matks opened #10614 "Migrate "International > Translations (Page 2/2)" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 15:01] matks commented on #9916
Module has been released ✅

[2018-09-21 15:01] #9916 closed, assigned to jolelievre

[2018-09-21 15:12] matks opened #10615 "Migrate "Shop parameters > Search > Tags" page"
Part of Symfony migration project
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)
- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob

[2018-09-21 15:14] khouloudbelguith commented on #10596
Hi @dennispw,

Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

Best regards, Khouloud

[2018-09-21 15:14] #10301 closed, assigned to nobody

[2018-09-21 15:14] matks opened #10616 "Migrate "Shop parameters > Search > Tags > Add new / edit tag" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)
- [ ] #19419 Add information message for multistore

[2018-09-21 15:15] matks opened #10617 "Migrate "Shop parameters > Traffic & SEO > Referrers" page"
Part of Symfony migration project
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)
- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob

[2018-09-21 15:16] matks opened #10618 "Migrate "Shop parameters > Traffic & SEO > Referrers > Add new / edit referrer" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 15:17] matks opened #10619 "Migrate "Shop parameters > Order settings > Statuses" page"
## Status

The "Order Statuses" page has been migrated to Symfony but is hidden because there is a few remaining issues. I mistakenly tried to fix all the remaining issues in a single PR https://github.com/PrestaShop/PrestaShop/pull/20442 because each issue needs only some lines of code, so I wanted to submit one PR with medium size rather than PRs with each 10 lines of code.

**It was a mistake**

[2018-09-21 15:17] matks opened #10620 "Migrate "Shop parameters > Order settings > Statuses > Add new / edit order return status" page"
## Status

The "Order Statuses" page has been migrated to Symfony but is hidden because there is a few remaining issues. I mistakenly tried to fix all the remaining issues in a single PR https://github.com/PrestaShop/PrestaShop/pull/20442 because each issue needs only some lines of code, so I wanted to submit one PR with medium size rather than PRs with each 10 lines of code.

**It was a mistake**

[2018-09-21 15:18] matks opened #10621 "Migrate "Shop parameters > Order settings > Statuses > Add new / edit order status" page"
## Status

The "Order Statuses" page has been migrated to Symfony but is hidden because there is a few remaining issues. I mistakenly tried to fix all the remaining issues in a single PR https://github.com/PrestaShop/PrestaShop/pull/20442 because each issue needs only some lines of code, so I wanted to submit one PR with medium size rather than PRs with each 10 lines of code.

**It was a mistake**

[2018-09-21 15:18] matks opened #10622 "Migrate "Shop parameters > Contact > Contacts" page"
Part of Symfony migration project
Type: page
Status: finished but hidden

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/10777
- [x] Un-hide page (waiting for related CRUD page to do this)

The page is hidden, but can be accessed directly via url: /admin-dev/index.php/configure/shop/contacts/

[2018-09-21 15:19] matks opened #10623 "Migrate "Shop parameters > Contact > Contacts > Add new / edit contact" page"
Part of Symfony migration project

Type: page

Todo:
- [x] Migrate CRUD https://github.com/PrestaShop/PrestaShop/pull/12163

[2018-09-21 15:19] matks opened #10624 "Migrate "Shop parameters > Contact > Stores" page"
Part of Symfony migration project
- [x] Migrate stores grid with filtering and pagination working (https://github.com/PrestaShop/PrestaShop/pull/31802)
- [ ] Contact form
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](ht

[2018-09-21 15:20] matks opened #10625 "Migrate "Shop parameters > Contact > Stores > Add new / edit store" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 15:20] matks opened #10626 "Migrate "Shop parameters > Customer settings > Groups" page"
Part of Symfony migration project

Scope:
- [x] Group list - https://github.com/PrestaShop/PrestaShop/pull/30929
- [ ] Default groups options

Todo:
- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)
- [ ] #19366 Checkboxes for multistore
- [ ] #19318 Sp

[2018-09-21 15:21] matks opened #10627 "Migrate "Shop parameters > Customer settings > Groups > Add new / edit group" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

Improvements:

- [ ] #21676 Be able to move in bulk clients from one group client to another

[2018-09-21 15:21] matks opened #10628 "Migrate "Shop parameters > Customer settings > Titles" page"
Part of Symfony migration project
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)
- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob

[2018-09-21 15:22] matks opened #10629 "Migrate "Shop parameters > Customer settings > Titles > Add new / edit social title" page"
Part of Symfony migration project

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)
- [ ] #19415 Add information message for multistore

[2018-09-21 15:23] matks opened #10630 "Migrate "Shop parameters > Merchant Expertise" page"
Part of Symfony migration project

[2018-09-21 15:25] matks opened #10631 "Improve Catalog > Products page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done
Type: page

## Status

Todo:
- [x] NumberMinMaxFilterType and IntegerMinMaxFilterType https://github.com/PrestaShop/PrestaShop/pull/14320
- [ ] Introduce new category tree button type https://github.com/PrestaShop/PrestaShop/pull/14619
- [ ] Introduces asynch position column extension

[2018-09-21 15:25] matks opened #10632 "Improve "Catalog > Products > Add new / edit product" page & "Products List" page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done
Type: page

# Product Page Multistore migration

Use the opportunity of product page migration to provide the best product page for merchants that is compatible with multistore.

Many merchants have difficulties about the multistore that is not quite fully working. The multistore actio

[2018-09-21 15:26] matks opened #10633 "Improve "Catalog > Stocks" page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done

- [x] #19457 Update message for multistore

[2018-09-21 15:26] matks opened #10634 "Improve "Catalog > Stocks > Movements" page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done

- [x] #19458 Update message for multistore

[2018-09-21 15:28] matks opened #10635 "Improve "Modules > Modules & Services > Installed modules" page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done

⚠️ this ticket needs to be updated because of the recent changes in this page

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 15:28] matks opened #10636 "Improve "Modules > Modules & Services > Notifications" page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done

⚠️ this ticket needs to be updated because of the recent changes in this page

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 15:29] matks opened #10637 "Improve "Modules > Modules & Services > Selection" page"
Part of Symfony migration project - this page needs rework to be built the same way other migrated pages are done

⚠️ this ticket needs to be updated because of the recent changes in this page

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2018-09-21 15:35] matks commented on #10513
Closed as this is not relevant anymore.

[2018-09-21 15:35] #10513 closed, assigned to nobody

[2018-09-21 15:37] b0tm1nd opened #10638 "[BOOM-1223] [Again!!] Undefined $urls index in ajax rendered template"
**Describe the bug**
The bug described in http://forge.prestashop.com/browse/BOOM-1223 and supposed to be fixed by https://github.com/PrestaShop/PrestaShop/pull/8856 still present in 1.7.4.1 version.

**Additionnal information**
PrestaShop version: 1.7.4.1

[2018-09-21 15:39] matks opened #10639 "Migrate "Shop parameters > Product settings" page"

[2018-09-21 15:39] matks commented on #10639
Fixed by https://github.com/PrestaShop/PrestaShop/pull/8680

[2018-09-21 15:39] #10639 closed, assigned to nobody

[2018-09-21 15:42] khouloudbelguith commented on #10638
Hi @b0tm1nd,

Could you please add steps to reproduce the issue in a new comment.

Best regards, Khouloud

[2018-09-21 15:48] b0tm1nd commented on #10638
This is exactly, word to word as described in this comment: http://forge.prestashop.com/browse/BOOM-1223?focusedCommentId=155180&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-155180

[2018-09-21 15:51] b0tm1nd commented on #10638
Solution posted here http://forge.prestashop.com/browse/BOOM-1223?focusedCommentId=161820&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-161820 using controller override solves the problem.

[2018-09-21 15:56] khouloudbelguith commented on #10638
@eternoendless @mickaelandrieu what do you think of this issue?

[2018-09-21 16:11] b0tm1nd commented on #10638
You can put say {$urls.theme_assets} somewhere in your /themes/yourtheme/modules/ps_shoppingcart/ps_shoppingcart.tpl and just load this in the browser https://yourdomain.com/module/ps_shoppingcart/ajax

In debug mode it will give 500 error with undefined $urls, in normal mode it will be just empty in place of the var.

[2018-09-21 16:22] khouloudbelguith commented on #10638
Hi @b0tm1nd,

Thanks for this clarifications.
I manage to reproduce this issue with PS1.7.4.2
![image](https://user-images.githubusercontent.com/16067358/45893381-51039480-bdcb-11e8-9915-46a88b24b0cf.png)
We will see how to fix it.

Best regards, Khouloud

[2018-09-21 17:44] emeagenciadigital opened #10640 "Attempted to call function "idn_to_ascii" from the global namespace."
**Describe the bug**
When creating  new account or changin the order status we get error 500 on mail.php. We send emails by mailjet SMTP and testing of the email send works fine.

Attempted to call function "idn_to_ascii" from the global namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new account
or
2. Change order status to one that sends email

**Screenshots**

**When c

[2018-09-22 13:29] musicpanda opened #10642 "Returns nowhere to be found"
When I get returns for my orders they are not processed into the ps_order_detail table - although that contains fields for that purpose.

[2018-09-22 14:06] disarci commented on #10354
Hi,

had the same problem,
db empty, and message at 12%

dev mode with drop table works well.

[2018-09-22 20:08] dmstech1 commented on #9697
I have the same problem. And the fix posted. I can't get it to work :(

Is there any news about a fix?

[2018-09-23 06:40] Casper-O commented on #10530
@khouloudbelguith you forgot to add the 1.6.1.20 label also....

[2018-09-23 11:42] DragoshNRV commented on #9558
Yes. that has indeed solved the problem.

Actually, what one must do after upgrades is clear both var/cache and also app/cache. I don't much like this needless Symphony integration with PS...

[2018-09-23 11:54] mickaelandrieu opened #10652 "SQL Manager Form page MUST be extensible"
**Describe the bug**
Every form in Back Office should be extensible and customizable using [Hooks and templating](https://devdocs.prestashop.com/1.7/modules/concepts/forms/admin-forms/).

But, since we have migrated SQL Manager form page, @sarjon confirmed me that for now, we have NO way to change its form content using a Form Builder as we can do for Configuration forms.

1. we need to find a sol

[2018-09-23 13:49] sarjon commented on #10652
i guess it's related to this https://github.com/PrestaShop/PrestaShop/issues/10285

[2018-09-23 16:48] rmalla commented on #9992
Hello, this has not been resolved 1.7.4.2.

Prices are not on slider or on ranges, but otherwise show Radio Button.

Any hope this will be fixed? Or any hint how to solve it?

Thanks,

Ricardo Malla

[2018-09-23 19:31] DragoshNRV opened #10653 "Order Page Title Ignored from SEO & URLs"
The SEO & URLs page is supposed to provide a place where each page (I assume each page that inherits from the FrontController) can have a title configured for the <title> element. However, it seems like most all of them work but the actual order page.

Per the documentation if the controller doesn't find a meta title set for the page, it simply uses the shop name instead. Although I have set up a

[2018-09-24 01:24] dalyl0x0 opened #10654 "AdminPaymentPreferences"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'my back-office'
2. Click on 'Payment and "preferences " '
4. See error:

Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Parse error: syntax error, unexpected 'const' (T_CONST) in /home/mystore/www/src/Adapter/Module/ModuleDataProvider.p

[2018-09-24 01:45] gkanakaris opened #10655 "Errors after update"
Prestashop 1.7.3.4
tried to upgrade with the last 1click module.
Had php 5.4 changed it to 5.6 still nothing.
tried to rename almost every module folder in case something was failing, still nothing.

**Error at Dashboard**

Warning on line 1920 in file /var/www/vhosts/e-podies.gr/httpdocs/java/classes/Tools.php
[2] curl_setopt(): CURLOPT_FOLLOWLOCATION cannot be activated when an open_basedir is s

[2018-09-24 07:25] PrestaSafe opened #10657 "Error on SitemapFrontController"
**Describe the bug**
Undefined index $categories on sitemapfrontcontroller

**To Reproduce**
1. Go to sitemap front page

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![capture d ecran 2018-09-24 a 09 18 41](https://user-images.githubusercontent.com/4788787/45940744-14a68300-bfdb-11e8-85ca-5476f5a07ae1.png)

**Additionnal information**
PrestaShop ve

[2018-09-24 07:43] viperlodz commented on #10288
Ok I know where is the problem. This topic give me information: https://github.com/PrestaShop/PrestaShop/issues/9842
and I have similar module for preety url, but unistall didn'r resolve problem.
I put oryginal files from prestashop and it works now.

I talk with the module developer and now I have new module with working everything.

[2018-09-24 07:57] PierreRambaud commented on #10444
I close this one bacause it's a duplicate of #10470 . Thanks @maofree

[2018-09-24 07:57] #10444 closed, assigned to nobody

[2018-09-24 08:18] khouloudbelguith commented on #10640
Hi @emeagenciadigital,

This issue is occurred due to php-intl extension.
Could you please try to install it, it is required.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-24 08:24] khouloudbelguith commented on #10642
Hi @musicpanda,

Could you please add steps to reproduce the issue in a new comment.
We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)

Thanks!

Best regards, Khouloud

[2018-09-24 08:29] khouloudbelguith commented on #10654
Hi @dalyl0x0,

Could you please try to disable the Paypal module, clear cache, check & feedback.

Best regards, Khouloud

[2018-09-24 08:35] GutImedia opened #10659 "Receive customer messages via e-mail - impossible backoffice configuration."
Module : Contact form v4.1.1 by Prestashop
Prestashop v1.7.4.2

Video in attached file.

When I try to configure this native module of prestashop, so that the owner of the shop can receive the mails of contacts of his customers, I go in "Modules and services", I search my module then I click on "Configure".

I check "Yes" for the option "Receive customer messages by e-mail" and I save. I am then r

[2018-09-24 08:41] khouloudbelguith commented on #10655
Hi @gkanakaris,

Set safe_mode = Off in your php.ini file (it's usually in /etc/ on the server). If that's already off, then look around for the open_basedir stuff in the php.ini file, and change it accordingly.

Best regards, Khouloud

[2018-09-24 08:55] eternoendless commented on #10652
@mickaelandrieu did you have a look at Modok to find out if there are modules hooking up on that page?

[2018-09-24 09:08] khouloudbelguith commented on #10659
Hi @GutImedia,

If you try to uninstall the reCaptcha module for just to test when you click save, is there any other redirections?

Best regards, Khouloud

[2018-09-24 09:13] matks commented on #10187
Linked to https://github.com/PrestaShop/PrestaShop/pull/10120

[2018-09-24 09:16] khouloudbelguith commented on #10657
Hi @PrestaSafe,

Thanks for your report.
I did not manage to reproduce your issue with the last version 1.7.4.2 without any changes.
I attached a video record.
https://drive.google.com/file/d/1xeHKrBiEQs_hZi6WQdzUNWQhWtQzi0s0/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-24 09:17] MathiasReker commented on #10657
PR: https://github.com/PrestaShop/PrestaShop/pull/10660

[2018-09-24 09:20] GutImedia commented on #10659
Hi @khouloudbelguith

When I disable the reCaptcha module, in the backoffice, I am no longer redirected to the recaptcha configuration and the configuration of the form for "Receiving customer messages by e-mail" remains on "Yes".

However, the contact form has changed style frontoffice and when I filled the form, I click on "Send", nothing happens, I still do not receive emails from my clients.
T

[2018-09-24 09:23] MathiasReker commented on #10657
I closed my PR again, @PrestaSafe did you put some custom code eg.      `$this->setTemplate('module:mymodule/views/templates/front/display.tpl');` before `parent::initContent();` ?

[2018-09-24 09:26] khouloudbelguith commented on #10659
Hi @GutImedia,

Could you please try to navigate to your BO => CONFIGURE => Advanced Parameters => E-mail => TEST YOUR EMAIL CONFIGURATION by sending a test email.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-24 09:33] khouloudbelguith commented on #9992
Hi @rmalla,

This issue is not fixed yet.
It is in progress.
Thanks for your understanding.

Best regards, Khouloud

[2018-09-24 09:37] khouloudbelguith commented on #9558
HI @DragoshNRV,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-24 09:37] #9558 closed, assigned to nobody

[2018-09-24 09:45] khouloudbelguith commented on #9697
Hi @dmstech1,

Sorry not yet.
This issue is added to our bug roadmap.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-24 09:47] matks commented on #10657
Hi @PrestaSafe it's good to see you on prestashop github 😄 thanks for the bug report !

[2018-09-24 09:51] matks commented on #10354
Hi,

Can you please tell us what php version you are using ?

[2018-09-24 09:52] khouloudbelguith commented on #10354
Hi @disarci,

Thanks to follow this steps:

1. Login to your phpMyAdmin or wherever you can have a look at you database: delete all the tables, to make sure the database is empty.
2. Open the file prestashop > install > data > db_structure.sql in your editor (e.g. TextWrangler)
3.
4. Replace all a.) with b.)
4.1 CREATE TABLE
4.1 CREATE TABLE IF NOT EXISTS
6. The error messages "table ps_[...] alre

[2018-09-24 10:04] marionf opened #10661 "Number of modules displayed isn't ok"
**Describe the bug**
If you select a category on the module page, the number of modules displayed isn't good

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Catalog page
2. Select a category
3. Look the number of modules displayed

**Screenshots**

![capture d ecran_295](https://user-images.githubusercontent.com/13449658/45946648-cd77bc80-bff1-11e8-8ec1-710515741655.png)

It wor

[2018-09-24 10:06] #10598 closed, assigned to nobody

[2018-09-24 10:13] GutImedia commented on #10659
@khouloudbelguith
I tested the sending of mail via BO> Configure> Advanced Parameters> E-mail and I received the mail ...

[2018-09-24 10:14] khouloudbelguith commented on #10653
Hi @DragoshNRV,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
https://drive.google.com/file/d/1ug8_Ej-DkYOEzT1qEsezcf3XlOzPAUJ-/view

![capture d ecran_322](https://user-images.githubusercontent.com/13449658/46006543-11cd9000-c0b8-11e8-8853-6d618b1bef21.png)

![capture d ecran_323](https://user-images.githubusercontent.com/13449658/46006544-11cd9000-c0b8-1

[2018-09-24 10:16] sarjon commented on #10602
as far as i understand, there are at least 2 types of exceptions: application and domain? if so, maybe we should define rules for both and explain the difference?

[2018-09-24 10:17] khouloudbelguith commented on #10659
Hi @GutImedia,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cre

[2018-09-24 10:19] marionf opened #10663 "Bulk actions on Module manager page doesn't work"
**Describe the bug**
Try to make an action in bulk on the module manager page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules Manager
2. Select 2 modules or more
3. Click on disable/uninstall/enable/install/reset/enable mobile/disable mobile
4. See error

**Screenshots**
![capture d ecran_297](https://user-images.githubusercontent.com/13449658/45947322-0d3fa380-bff4-11e8-81a2-7

[2018-09-24 10:25] marionf opened #10664 "Some strings are not translated on module manager page"
**Describe the bug**
Some strings are not translated on module manager page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules manager

**Screenshots**
![capture d ecran_299](https://user-images.githubusercontent.com/13449658/45947528-e59d0b00-bff4-11e8-9158-809be0c8a715.png)

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP version: N/A

[2018-09-24 10:36] PierreRambaud commented on #10664
Translations are just not yet available in Crowdin.

[2018-09-24 10:38] dalyl0x0 commented on #10654
Hi @khouloudbelguith,
I can't disable the module Paypal Module in 1.7.0.4
Because : I do not see it in the modules
Best Regards!

[2018-09-24 10:38] marionf opened #10665 "Can't configure a module imported by zip"
**Describe the bug**
Can't configure a module imported by zip

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules Manager
2. Click on Install a module
3. Upload your zip
4. Click on Configure
5. The URL isn't the good one

**Screenshots**

![capture d ecran_301](https://user-images.githubusercontent.com/13449658/45948039-c606e200-bff6-11e8-96d9-8971d3e81ed5.png)

![capture d ecran_

[2018-09-24 10:45] rmalla commented on #9992
Thanks! Is there an estimated time of resolution?

Kind Regards,

R. Malla

On Mon, Sep 24, 2018, 5:33 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-09-24 10:47] marionf opened #10666 "Incomplete line on Module catalog page"
**Describe the bug**
Line with 2 modules instead of 4 on Module catalog page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module catalog
2. You can see a line with only 1 or 2 modules instead of 4

**Screenshots**
![capture d ecran_302](https://user-images.githubusercontent.com/13449658/45948382-04e96780-bff8-11e8-9df3-643eaf55ef1d.png)

![capture d ecran_304](https://user-images.gi

[2018-09-24 10:52] marionf opened #10667 "Height of cards on module catalog page"
**Describe the bug**
The height of cards on module catalog page isn't the same for all cards

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules catalog
2. Try to resize the window
3. Look at the cards

**Screenshots**
![capture d ecran_303](https://user-images.githubusercontent.com/13449658/45948535-aec8f400-bff8-11e8-8ad7-4a08f89c2866.png)

**Additionnal information**
PrestaShop

[2018-09-24 10:52] khouloudbelguith commented on #10654
Hi @dalyl0x0,

Could you please rename the paypal folder manually into the folder /Project_Prestashop/modules/
check & feedback.

Best regards, Khouloud

[2018-09-24 11:11] khouloudbelguith commented on #10033
Hi @maxprihodko8,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-24 11:11] #10033 closed, assigned to nobody

[2018-09-24 11:11] khouloudbelguith commented on #10119
Hi @DaveDavi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-24 11:11] #10119 closed, assigned to nobody

[2018-09-24 11:59] marionf opened #10668 "Deletion doesn't work on SEO & Urls page migrated"
**Describe the bug**
Deletion don't work on SEO & Urls page migrated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Click on Delete
3. Nothing is deleted

**Screenshots**
![capture d ecran_306](https://user-images.githubusercontent.com/13449658/45950947-f738df80-c001-11e8-91d1-11b824101745.png)

**Additionnal information**
PrestaShop version: 1.7.5.0

[2018-09-24 12:04] sarjon commented on #10668
hey @marionf , its already fixed in https://github.com/PrestaShop/PrestaShop/pull/10656

[2018-09-24 12:07] marionf opened #10669 "Filter on Traffic & SEO migrated page"
**Describe the bug**
Can't filter ASC or DESC by id, page, page title, friendly url

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Click on the arrows for the fields id, page, page title, friendly url
3. Results are not filtered

**Screenshots**
![capture d ecran_307](https://user-images.githubusercontent.com/13449658/45951287-3287de00-c003-11e8-92e6

[2018-09-24 12:12] marionf opened #10670 "Reset button isn't working on Traffic & SEO migrated page"
**Describe the bug**
Reset button isn't working on Traffic & SEO migrated page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Enter something in the field page for exemple and click on Search
3. Click on Reset
4. Results are not reseted

**Screenshots**
![capture d ecran_308](https://user-images.githubusercontent.com/13449658/45951472-e25d4b80-c003-1

[2018-09-24 12:19] marionf opened #10671 "Actions are not working on Traffic & SEO migrated page"
**Describe the bug**
Some actions are not working on Traffic & SEO migrated page: refresh list, show SQL query, export to SQL manager

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Click on the wheel
3. Click on refresh list, show sql query, export to sql manager
4. Nothing happens

**Screenshots**
![capture d ecran_309](https://user-images.githubuse

[2018-09-24 12:26] marionf opened #10672 "Bulk actions are not working on Traffic & SEO migrated page"
**Describe the bug**
Bulk actions are not working on Traffic & SEO migrated page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Click on 'Select all'
3. The checkboxes are not checked
4. Select 2 or more checkboxes
5. The bulk action is disabled

**Screenshots**
![capture d ecran_310](https://user-images.githubusercontent.com/13449658/45951987-d83c4c

[2018-09-24 12:36] Lndaw opened #10673 "Maintenance mode in Multistore"
**Describe the bug**

We have different groups and stores in our platform. Currently we are trying to activate maintenance mode to one unique store while the others remain offline but the configuration setting is applying to all of them in Shop Parameters/Configuration/Maintenance

We have try to set some stores with a subdomain associated and some others with a subfolder associated but nothing wo

[2018-09-24 12:41] matks opened #10674 "[SF Migration] Domain exceptions & how to handle them"
<hr>

@sarjon do you mean that `PrestashopDatabaseException` or `PrestashopHookSystemException` are application exceptions while `NotEnoughStockException` is a domain exception ?

We should also define a global behavior or at least a best practice about how to handle them in a controller.

Here is a solution, which requires each exception to be either a `InternalException` that should NOT be displ

[2018-09-24 12:41] matks commented on #10602
@sarjon let's keep the discussion going in https://github.com/PrestaShop/PrestaShop/issues/10674 :)

[2018-09-24 12:44] matks commented on #10370
@sarjon I guess this task will be on me now :) would you please tell me what should be done ?

Is this about adding docs to explain how grid filters work ?

[2018-09-24 13:04] marionf opened #10675 "Link widget page not found"
**Describe the bug**
Link widget page not found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Link widget
2. See the page not found

**Screenshots**
![capture d ecran_311](https://user-images.githubusercontent.com/13449658/45953694-2acc3780-c00b-11e8-9d3e-b8598b74a32b.png)

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP version: N/A

[2018-09-24 13:08] khouloudbelguith commented on #10673
Hi @

Here's the PR: #9311 to fix the issue.
Your ticket is a duplicate of #9311
So, I close it.
Thanks !

Best regards, Khouloud

[2018-09-24 13:08] #10673 closed, assigned to nobody

[2018-09-24 13:13] marionf opened #10676 "Sort on Module catalog page"
**Describe the bug**
Sorts are not working on module catalog page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules catalog
2. Click on Decreasing price/Increasing price/Name
3. See results are not ok

**Screenshots**
![capture d ecran_312](https://user-images.githubusercontent.com/13449658/45954090-5bf93780-c00c-11e8-977b-10a1c0dbe124.png)

**Additionnal information**
PrestaShop

[2018-09-24 13:16] jolelievre commented on #10675
hello,
this bug is due to the pending module update which was delayed by a bug medhi found last friday
I updated the module branch to fix the bug, si it can be tested again
It is linked to this PR https://github.com/PrestaShop/ps_linklist/pull/48

[2018-09-24 13:21] jolelievre commented on #10675
My bad I tried with the "old" module and it still works fine for me
Which branch are you testing develop or 1.7.5.x ?

[2018-09-24 13:40] jolelievre commented on #10672
This is a common bug on all grids, it is fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/10656

[2018-09-24 13:41] jolelievre commented on #10671
This is a common bug on all grids, it is fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/10656

[2018-09-24 13:42] jolelievre commented on #10670
This is a common bug on all grids, it is fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/10656

[2018-09-24 13:42] jolelievre commented on #10669
This is a common bug on all grids, it is fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/10656

[2018-09-24 13:43] jolelievre commented on #10668
This is a common bug on all grids, it is fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/10656

[2018-09-24 13:46] bmagneCesi opened #10677 "Product combinations won't show and can't be selected"
**Describe the bug**
After importing a product with some combinations, I can't do anything in the Backoffice management of combination on this product, there is an overlay and a loader that won't move :

In the front office, when you select a combination it goes back to the original one.

**To Reproduce**
Steps to reproduce the behavior:
1. Import a product
2. Import some combinations of this prod

[2018-09-24 14:22] alejoasotelo opened #10678 "actionProductAdd doesn't pass id_product_old on duplicate product"
**Describe the bug**
The hook actionProductAdd doesn't pass the param id_product_old when duplicate product.
It's necessary to have the old id when duplicating a product in order to also be able to clone the module data.
I know I could do an override, but this isn't the best solution.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a module with the hook 'actionProductAdd'.
2. Go to '

[2018-09-24 14:23] marionf opened #10679 "Filter issue on module catalog page"
**Describe the bug**
Filter issue on module catalog page

**To Reproduce**
Go on Module Catalog page
Select a category (Promotions & Marketing for example)
You should have 24 results
Try to sort by Increasing price/Decreasing price/Name or Popularity
You have lost the selected category and have all modules displayed
We should have only the modules sorted for the selected category like in 1.7.4.2

[2018-09-24 14:28] GutImedia commented on #10659
@khouloudbelguith

Website URL: https://linstantbleuturquoise.fr/

Informations sur votre serveur Linux #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64
Version du logiciel serveur : Apache
Version de PHP : 7.0.30-0+deb9u1
Limite de mémoire : 256M
Temps maximal d'exécution : 90
Taille max. pour envoi de fichiers : 200M

See attached files...

[2018-09-24 14:30] khouloudbelguith commented on #10678
Hi @alejoasotelo,

Thanks for your report.
The solution That I posted in this comment:
http://forge.prestashop.com/browse/BOOM-4863?focusedCommentId=162626&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-162626 doesn't fix your issue?

Best regards, Khouloud

[2018-09-24 14:35] khouloudbelguith commented on #10659
Hi @GutImedia,

Thanks for your feedback.
I you enable the debug mode, you don' have any exceptions?

Best regards, Khouloud

[2018-09-24 14:40] alejoasotelo commented on #10678
Hi @khouloudbelguith
Thanks for your help!
Yes, I read it.
I should not modifiy the core or create an override to get the old id. That is a temporary solution. We need a permanent solution.
The hook to duplicate product shold be include the id_product_old. What is the use of having the hook when a product is duplicated if the source product is not known?
Maybe 'actionProductAdd' should not include

[2018-09-24 14:43] sarjon commented on #10412
ok, basically the problem is that legacy `Hook:exec()` does not care about case sensitivity, for example: `actionProductUpdate` is the same as `actionproductupdate` or `ACTIONPRODUCTUPDATE`, but the `LegacyHookSubscriber` which is responsible for dispatching legacy hooks in new code does.

I think we should fix `LegacyHookSubscriber` to be case-insensitive so we keep same behavior across legacy an

[2018-09-24 14:49] matks commented on #10412
@sarjon Sadly you are right, this is required to ensure modules compatibility. But we'll change this in prestashop 1.8.

[2018-09-24 15:02] sarjon commented on #10412
its totally okay to change it in 1.8, but for now in 1.7, i think it should have same behavior as in legacy.

[2018-09-24 15:04] GutImedia commented on #10659
ok

[2018-09-24 15:08] GutImedia commented on #10659
We have updated the module in its latest version that the support has transmitted to us ... I emptied the cache ...
We just redo tests and the problem is solved ...
Thanks for your help.

[2018-09-24 15:08] #10659 closed, assigned to nobody

[2018-09-24 15:09] khouloudbelguith commented on #10677
Hi @bmagneCesi,

Thanks for your report.
I did not manage to reproduce the issue with the last version 1.7.4.2.
I attached the video record.
https://drive.google.com/file/d/1aQx_z6hxLnyKqgwx7C9oyMRWLc76i2D7/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-24 15:23] khouloudbelguith commented on #10659
Hi @GutImedia,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-24 15:25] #10664 closed, assigned to nobody

[2018-09-24 15:32] khouloudbelguith commented on #10678
Hi @eternoendless,

To include id_product_old in the list of params of the "hook actionProductAdd". We need to add this parameter actionProductAdd in the file "SHOP_FOLDER/src/Adapter/Product/AdminProductDataUpdater.php" and replace L215 by this :

```$this->hookDispatcher->dispatchWithParameters('actionProductAdd', array('id_product' => (int)$product->id,'id_product_old'=>$id_product_old, 'produc

[2018-09-24 15:35] PrestaSafe commented on #10657
No, it's really weird, i've made a clean install, and it's ok, but from an update it didn't works.
I've tried with original template too, tried to change classes/ controllers/ src/ and app/ folder but not changing. If i move the parent::initContent() it's working fine...

I've tried to disable modules of course and not changing too.
If someone have an idea. I'll take it !

@Mreker no i've not putt

[2018-09-24 15:56] khouloudbelguith commented on #10657
Hi @PrestaSafe,

What is the exact version of the 1-click upgrade did you use?
What the previous version Prestashop did you use before the upgrade?

Best regards, Khouloud

[2018-09-24 16:29] khouloudbelguith opened #10682 "BO - Movements Page - Search product & pagination"
**Describe the bug**
Try to edit the quantity of more than 20 products, so in the movements page, we should have more than one page.
1. On the first page, when we try to search for a product with (name/ reference) => ok => product found
2. Try to go to the next page => search for a product which is not displayed in the second page **only** => NOK => we have this message => No product matches your

[2018-09-24 16:31] mickaelandrieu commented on #10652
I didn't, but it's not the point: even if no official Addons modules are hooked in this page, we can't migrate pages to something not extensible by PrestaShop developers.

More, as we must provide a consistent way to migrate all the pages, if you want to guess how many modules will be impacted, you must consider **every entity form page** :+1:

We already have to redo Stock Management and Product

[2018-09-24 16:35] mickaelandrieu commented on #10412
I repeat again (xD), there is nothing we can do in the LegacyHookSubscriber.

And for what it means, I'm in favor of doing the opposite: make Hooks case sensitive instead by deprecating it now and removing it in 1.8.x.

[2018-09-24 16:39] marionf opened #10683 "Display issue with empty state banner on Traffic & SEO page"
**Describe the bug**
Display issue with empty state banner on Traffic & SEO page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. The empty state banner should be centered like this:
![image](https://user-images.githubusercontent.com/13449658/45965595-3169a780-c029-11e8-9424-ab97cacf4c40.png)

**Screenshots**
![capture d ecran_305](https://user-images.

[2018-09-24 16:48] sarjon commented on #10412
i guess it can only be done in next major as this change could potentially affect a lot of modules, right?

but for now, it seems like a very bad experience to have "same" hook system that behaves differently between legacy and migrated pages. :/

[2018-09-24 16:49] DragoshNRV commented on #10653
Cool.
I might give it another go in debugging this weekend. I can't do it sooner, unfortunately, but if I find something first I'll post it here.

Best,
Dragos.

[2018-09-24 16:57] mickaelandrieu commented on #10412
Nothing we can manage by documenting it and also deprecate and discourage using non-sensitive calls to hooks.

[2018-09-24 17:39] bmagneCesi commented on #10677
Hi, I did the one click upgrade to the lastest version and i still have the issue :
![image](https://user-images.githubusercontent.com/16189694/45968517-81e50300-c031-11e8-9b72-5bb99cc5d1d1.png)
![image](https://user-images.githubusercontent.com/16189694/45968546-97f2c380-c031-11e8-9734-b7cd4482ed79.png)

[2018-09-24 17:41] sarjon commented on #10597
I think we can even go further by pushing some naming conventions for routes and urls. I started seeing mixed routes/urls naming between different PR's, can we settle some rules for that so we be consistent?

For example it could be something like this:
Index -> `admin_{resources}_index` with URL /{resources}
Add -> `admin_{resources}_add` with URL /{resources}/new
Edit -> `admin_{resources}_edit`

[2018-09-24 17:50] rdy4ever commented on #10463
Bootstrap will be a tough one. There are some code breaking changes in the stable release and to fix them all is alot of work. I did it for my custom Classic based theme and there are some 60 files that need to be fixed for bootstrap 4.1.x stable. The worst one would be [the new display system](https://getbootstrap.com/docs/4.0/utilities/display/).
One thing I can't figure out is how is jquery 2.2

[2018-09-24 17:50] sarjon commented on #10597
while reviewing code, i noticed a very good example of what im trying to avoid as we dont have any naming rules.

[code]

Controller action is called `create`, route for this action is called `admin_meta_list_create`, template is called `add_edit.html.twig`.
In another PR (or even the same but different action) you could find different naming style. :/

[2018-09-24 17:59] gkanakaris commented on #10655
I tried that and nothing changed.
Any other ideas?

[2018-09-25 00:26] kodarco commented on #9985
The issue is showing only for the addresses based on states with tax set.

[2018-09-25 03:42] PierreRambaud commented on #10665
I'm not able to reproduce with the module you gave me. I don't have the same generated url, look like your is generated with Symfony, mine is a legacy url :/

[2018-09-25 06:20] sarjon commented on #10370
not really, its more about filters without grid, the one you can inject into controller actions.

[2018-09-25 07:22] PrestaSafe commented on #10657
@khouloudbelguith I've used the V4.2.0 the previous was 1.7.3.0

[2018-09-25 07:38] khouloudbelguith commented on #10657
Hi @PrestaSafe,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Best regards, Khouloud

[2018-09-25 07:45] khouloudbelguith commented on #10655
Hi @gkanakaris,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-25 07:48] bmagneCesi commented on #10677
Hi khouloudbelguith,

What I tried :

- [ ] Disabling overrides
- [ ] Disabling non native modules
- [ ] Update prestashop from 1.7.3 to 1.7.4

[2018-09-25 08:01] Maofree commented on #10393
Hi
today I see again this alert on the order pages

[2018-09-25 08:07] MonsieurRb opened #10685 "Too many calls to Addons API on install/update of a module"
Lo,

On an install or update of a module, a call to the Addons API is done every second on the check method for each installed module which can be very high.
/?version=1.7.3.0&iso_lang=en&iso_code=fr&shop_url=localhost&mail=xxxx&format=xml&method=check&module_name=xxxx&module_key=xxxx

**To Reproduce**
Installed a fresh 1.7.3.0 version
Installed 3 free modules
Updated "Faceted search" (I have the

[2018-09-25 08:10] khouloudbelguith commented on #10677
Hi @bmagneCesi,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Best regards, Khouloud

[2018-09-25 08:10] sarjon opened #10686 "Import form alignment issue"
**Describe the bug**
After updating forms layout Import form does not look pretty.

**To Reproduce**
Open Import page and you will see that alignment is missing.

**Screenshots**
See https://prnt.sc/kyefm7 Import form should be full width

**Additionnal information**
PrestaShop version: 1.7.5, develop
PHP version: N/A

[2018-09-25 08:15] khouloudbelguith commented on #10393
Hi @maofree,

Yes, you are right.
is back again.

Best regards, Khouloud

[2018-09-25 08:16] centoasa opened #10687 "HSTS preload list submission"
I use prestashop 1.7.4.2
Apache+nginx
php 7.2.10
I'use cloudflare as cdn
I've enabled HSTS preload, but on this site https://hstspreload.org/?domain=100asa.it for my domain 100asa.it I've always this error message: Error: HTTP redirects to www first
`http://100asa.it` (HTTP) should immediately redirect to `https://100asa.it` (HTTPS) before adding the www subdomain. Right now, the first redirect is

[2018-09-25 08:19] marionf commented on #10675
@jolelievre it was on 1.7.5.x but I can't reproduce it, so I close it :)

[2018-09-25 08:19] #10675 closed, assigned to nobody

[2018-09-25 08:21] khouloudbelguith commented on #10686
Hi @sarjon,

Thanks for your report.
I manage to reproduce the issue with the 175x branch.
Related to #10430

Best regards, Khouloud

[2018-09-25 08:28] khouloudbelguith commented on #10687
Hi @centoasa,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10482
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-25 08:28] #10687 closed, assigned to nobody

[2018-09-25 08:48] PrestaEdit opened #10688 "Default action need to be "Configure" and not "Disable""
**Describe the bug**
While checking modules installed, the default actions are "Disable" and "Others".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Installed Modules'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/2631425/46003292-75ec5600-c0b0-11e8-8028-d5a199496e4b.png)

**Additionnal information**
PrestaShop version: 1.7.5.x

[2018-09-25 09:01] LinkOfLight opened #10689 "error 500 prestashop 1.7.4.2 + php 7.2 in Request menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin Menu
2. Click on Request
3. Scroll down to
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/9163980/46003903-e3e54d00-c0b1-11e8-9219-5ce7290402a7.png)
![image](https://user-images.githubusercontent.com/9163980/46004073-48081100-c

[2018-09-25 09:07] khouloudbelguith commented on #10688
Hi @PrestaEdit,

Thanks for your report.
I manage to reproduce the issue with 175x.
Some modules  => the default actions are "Disable" and "Others". for example "Contact form" module.
Some other modules  => the default actions are "Configure" and "Others". for example "Payments by check" module.
![image](https://user-images.githubusercontent.com/16067358/46004413-20fe0f00-c0b3-11e8-82e5-b69570ef57

[2018-09-25 09:11] marionf opened #10690 "Search a module on module manager page not usefull"
**Describe the bug**
I search a module on the module manager page
I have to scroll down and click on "see more" to see my module
This is not ideal
The module should appear on the top of the page like before

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules manager
2. Search a module in the search bar
3. Scroll down ....

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP

[2018-09-25 09:11] khouloudbelguith commented on #10685
Hi @MonsieurRb,

Thanks for your report.
Have you the same issue with the last version 1.7.4.2 & 1.7.5?

Best regards, Khouloud

[2018-09-25 09:14] gkanakaris commented on #10655
There is no folder auto upgrade. The upgrade didn't happen.

-------- Αρχικό μήνυμα --------
Από: khouloudbelguith <notifications@github.com>
Ημερομηνία: 25/09/2018 10:46 (GMT+02:00)
Προς: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Κοιν.: gkanakaris <g.kanakaris@hotmail.com>, Mention <mention@noreply.github.com>
Θέμα: Re: [PrestaShop/PrestaShop] Errors after update (#10655)

Hi @gkanaka

[2018-09-25 09:19] khouloudbelguith commented on #10689
Hi @LinkOfLight,

Could you please check if the package php-mbstring is installed on your server.
You can check also the mb_split function.

Best regards, Khouloud

[2018-09-25 09:31] khouloudbelguith commented on #10655
Hi @gkanakaris,

It is a server issue.
We just fixed when installing 1.7.4.2: https://github.com/PrestaShop/PrestaShop/pull/9345
Could you please check the issue with your host & feedback.

Best regards, Khouloud

[2018-09-25 09:33] gkanakaris commented on #10655
What's the issue? What should I tell them?

-------- Αρχικό μήνυμα --------
Από: khouloudbelguith <notifications@github.com>
Ημερομηνία: 25/09/2018 12:31 (GMT+02:00)
Προς: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Κοιν.: gkanakaris <g.kanakaris@hotmail.com>, Mention <mention@noreply.github.com>
Θέμα: Re: [PrestaShop/PrestaShop] Errors after update (#10655)

Hi @gkanakaris<https://githu

[2018-09-25 09:34] khouloudbelguith commented on #10655
@gkanakaris,

[CURLOPT_FOLLOWLOCATION cannot be activated when an open_basedir is set]

Best regards, Khouloud

[2018-09-25 09:35] MonsieurRb commented on #10685
Yes, I got this problem even on some 1.6 versions

[2018-09-25 09:40] Quetzacoalt91 commented on #10655
About

500 Internal Server Error - FatalErrorException

in modules/autoupgrade/classes/UpgradeTools/Translator.php at line 42 -
public function trans($id, array $parameters = array(), $domain = null, $locale = null)
{
// If PrestaShop core is not instancied properly, do not try to translate
if (!method_exists(\Context::class, 'getContext') || null === \Context::getContext()->language) {
return $th

[2018-09-25 09:43] gkanakaris commented on #10655
I removed the folder from day one. The BackOffice has no problem except the module page brings this error.

I changed the site php to 5.6 but PrestaShop still identifies 5.4

-------- Αρχικό μήνυμα --------
Από: Thomas N <notifications@github.com>
Ημερομηνία: 25/09/2018 12:40 (GMT+02:00)
Προς: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Κοιν.: gkanakaris <g.kanakaris@hotmail.com>, Mentio

[2018-09-25 09:48] marionf commented on #10366
@darfk3d3 @ndkdesign
We can close this issue if a module meets your request ?

[2018-09-25 09:48] marionf commented on #10463
@eternoendless what do you think ?

[2018-09-25 10:00] Peter4661 opened #10694 "500 error with order update - error in"
**Describe the bug**
On updating order status,  or sending mail to customer from order  results in 500 error. Error is introduced after update from PS 1.7.3.1 to PS 1.7.4.2

![500 error sending mail]

(https://user-images.githubusercontent.com/11147327/46007451-59edb200-c0ba-11e8-8bad-84741848379a.JPG)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll d

[2018-09-25 10:08] darkf3d3 commented on #10366
Most of the things missing on Prestashop can be added with a module, but I think that this is not a reason to doesn't develop a new feature for Prestashop. Otherwise no new features will be developed by Prestashop team only because often there's a module that do this.
PWA should be a native feature, not having it's a lack of Prestashop and should be included into PS core.

[2018-09-25 10:10] khouloudbelguith commented on #10655
Hi @gkanakaris,

So, in the Advanced Parameters =>  information page, the PHP version is 5.4, but in your server PHP is 5.6?

Best regards, Khouloud

[2018-09-25 10:15] marionf commented on #10366
@colinegin Do you think this should be include as a new feature ?

[2018-09-25 10:15] khouloudbelguith commented on #10694
Hi @Peter4661,

This issue is occurred due to php-intl extension.
Could you please try to install it, it is required.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-25 10:17] gkanakaris commented on #10655
Yes.

-------- Αρχικό μήνυμα --------
Από: khouloudbelguith <notifications@github.com>
Ημερομηνία: 25/09/2018 13:10 (GMT+02:00)
Προς: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Κοιν.: gkanakaris <g.kanakaris@hotmail.com>, Mention <mention@noreply.github.com>
Θέμα: Re: [PrestaShop/PrestaShop] Errors after update (#10655)

Hi @gkanakaris<https://github.com/gkanakaris>,

So, in the Advance

[2018-09-25 10:18] darkf3d3 commented on #10366
EDIT: Wrong post

[2018-09-25 10:21] khouloudbelguith commented on #10655
Hi @gkanakaris,

Thanks to follow this link: https://superuser.com/questions/969861/phpinfo-and-php-v-shows-different-version-of-php to solve your issue.

Best regards, Khouloud

[2018-09-25 10:48] khouloudbelguith commented on #10657
Hi @PrestaSafe,

I did not manage to reproduce your issue, after upgrade from 1.7.3.0 to 1.7.4.2 using the 1-click upgrade v4.3.0: https://github.com/PrestaShop/autoupgrade/releases/tag/v4.3.0
The sitemap page is OK.

Best regards, Khouloud

[2018-09-25 10:54] khouloudbelguith commented on #10677
Hi @bmagneCesi,

I did not manage to reproduce the issue after upgrade from 1.7.3.0 to 1.7.4.2 with the 1-click upgrade module v4.3.0.
https://drive.google.com/file/d/1xpt1b8pMXq28WtvTHzNOb56etMW1pcYH/view

Best regards, Khouloud

[2018-09-25 10:55] Peter4661 commented on #10694
Hi Khouloud,

Thank you for your help.  We found php-intl extension was installed, but
not activated.
Issue resolved.

Best regards,

Met vriendelijke groet,

Peter Derks
Derks wielersport
Verduinsbos 29
4661NT Halsteren

telefoon +31 624 179 798

www.derks-wielersport.nl

Op di 25 sep. 2018 om 12:16 schreef khouloudbelguith <
notifications@github.com>:

[2018-09-25 10:57] khouloudbelguith commented on #10694
Hi @Peter4661,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-25 10:57] #10694 closed, assigned to nobody

[2018-09-25 11:35] thiebauld opened #10695 "Conflict between themes and template files when prestashop is used in multistore mode and cache activated"
**Describe the bug**
The Prestashop cache is not working in multistore with different templates activated fo each store. Templates in cache seems to be "mixed up" and some content of .tpl files from the other theme are visible in the current visible website.

**To Reproduce**
1. Activate multistore
2. Create and configure two (or more) different store
3. Select a different theme for each store
4.

[2018-09-25 12:11] khouloudbelguith commented on #10685
This issue seems that happens when the store cannot write on the cache the requests made on addons which produces that we re-queries each time.

[2018-09-25 12:32] bmagneCesi commented on #10677
The main problem is the fact that in front when o choose a combination, it jump to the previous default one, i thaught it was the one closed by this PR https://github.com/PrestaShop/PrestaShop/pull/7775 but it doesn't work either...

Regarding the back, i really don't understang what is happening

[2018-09-25 12:41] DanielBoettner opened #10697 "Change the way _PS_ADMIN_DIR_ is filled"
# Summary
As a developer when I want to run a **cronjob**, I want to omit the webserver (apache, nginx) for this.
And register a cron that can call scripts via `php`

## How to reproduce

1. Configure the cronjob module
2. Switch to *advanced* mode
3. copy the text shown, like this
  `0 * * * * curl "http://{domain}/admin/index.php?controller=AdminCronJobs&token={my_key}" `
4. Change to
  `php -f

[2018-09-25 12:42] DanielBoettner commented on #10431
Are you sure about that? At least in both modes? The module offers two modes

* easy (webservice)
* advanced

Isn't the module *just* a way to  **have a module inside Prestashop to allow registering other cronjobs to this module?** or **allow registering new ones via the modules admin interface**?

As far as I can tell, the cronjobs module still needs a native cronjob.

When switching to advanced

[2018-09-25 12:43] 2018MGM opened #10698 "Module recovery"
I have deleted a native prestashop module that I need. How can I recover it?

**Additionnal information**
PrestaShop version: 1.5.3.1
PHP version: N/A

[2018-09-25 12:47] #10672 closed, assigned to jolelievre

[2018-09-25 12:48] #10671 closed, assigned to nobody

[2018-09-25 12:48] #10668 closed, assigned to nobody

[2018-09-25 12:48] #10669 closed, assigned to nobody

[2018-09-25 12:51] #10670 closed, assigned to nobody

[2018-09-25 12:59] DanielBoettner commented on #10431
Also, this issue is likely better placed in the PrestaShop/cronjobs repository

[2018-09-25 13:00] DanielBoettner commented on #10698
Typically, download the 1.5.3.1 source and copy the module folder to the correct spot.

[2018-09-25 13:21] khouloudbelguith commented on #10698
Hi @2018MGM,

Also, you can find it in the repository GitHub
https://github.com/PrestaShop
What is the exact module that you need to install it?

Best regards, Khouloud

[2018-09-25 13:31] khouloudbelguith commented on #10695
Hi @thiebauld,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9763
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-25 13:31] #10695 closed, assigned to nobody

[2018-09-25 13:31] khouloudbelguith commented on #10695
Duplicate of #9763

[2018-09-25 13:37] khouloudbelguith commented on #10677
Hi @bmagneCesi,

Have you the same issue: #9667?

Best regards, Khouloud

[2018-09-25 14:00] khouloudbelguith commented on #10697
Hi @DanielBoettner,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-09-25 14:20] khouloudbelguith commented on #9485
Hi,

We released the version 4.3.0, please try again with this one and let us know if the issue still occurs.
In the meantime, I close this issue.

Best regards, Khouloud

[2018-09-25 14:20] #9485 closed, assigned to nobody

[2018-09-25 14:27] khouloudbelguith commented on #10149
Hi @fcassado,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-25 14:27] #10149 closed, assigned to nobody

[2018-09-25 14:42] khouloudbelguith commented on #10697
Hi @DanielBoettner,

Thanks for your contribution: #10699

Best regards, Khouloud

[2018-09-25 15:01] khouloudbelguith opened #10700 "Links in the Module Manager page redirect to the Module Catalog page with empty result"
**Describe the bug**

In the Module Manager page, all links displayed have no results ( redirect to the Module Catalog page that does not display any modules)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Manager page
2. Click on the link "Product Page" or any other link of the "module-search-result-wording"
3. You will be redirected to Module Catalog: with a message: "19 modu

[2018-09-25 15:08] Prestaworks opened #10701 "Translations not working"
**Describe the bug**
The save of translations seems not to be case sensitive, the display of phrases to translate is case sensitive, so if a template has for instance the texts "add to cart" and "Add to Cart" and "Add to cart" there are three fields to translate on the front-end translations, however, only one is saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a new theme
2. G

[2018-09-25 15:16] khouloudbelguith commented on #10701
Hi @Prestaworks,

Have you tried to contact the theme author about this issue?

Best regards, Khouloud

[2018-09-25 15:21] krasnycz opened #10702 "Missing store on special prices at product page"
Store name is missing at the special prices on the product page in the BO.

1. Go to back office
2. Edit a product
3. Add special price
4. Now you can see special prices list for the product. However there i no way to see multistore domain -> now way to see what is the special price for because you can have same looking records with duplicate data.

All PS 1.7 versions. Multistore only.

[2018-09-25 15:22] marionf opened #10703 "Product list not displayed on product page"
**Describe the bug**
Product list not displayed on product page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Edit a product
3. Click on product list
4. Products are not displayed

**Screenshots**
![capture d ecran_326](https://user-images.githubusercontent.com/13449658/46024658-92f04b80-c0e7-11e8-93a4-45a298126be7.png)

**Additionnal information**
PrestaShop ve

[2018-09-25 15:40] marionf commented on #10700
@khouloudbelguith
When you click on Module Catalog I think you have only 19 modules ?
It's because the compatibility of modules isn't yet update on addons.
It should be ok soon (1 day max)
And the number of modules that is not corresponding to the number of modules in the category should be solved by this PR: #10681
Can you please retry later when the PR will be merged and in 1 day the compatibili

[2018-09-25 15:50] prestamodule opened #10706 "Add backward compatibility for migrated controllers"
**Describe the bug**

It could be very useful for everyone to add some redirect mecanism for controllers that have been migrated to new URL.
For example, into 1.7.5.0, AdminMaintenance has been moved to /configure/shop/maintenance/
This does affect every module that is trying to generate a link admin links using "old" controller name.

We think that despite the fact that module developers have to

[2018-09-25 15:51] krasnycz opened #10707 "Product discounts based on quantity showing incorrect prices"
When you set discounts on the product based on quantity, wrong prices are showing on the product page however correct price is used in the shopping price and catalog.

1. Ensure you have set to show discounted price to YES at settings > products > page of the product
2. On the product page in the BO set special price for the product from 1 pcs  e.g. -100 USD.
3. Set other special price for same pr

[2018-09-25 15:51] khouloudbelguith commented on #10700
Okay.
Thanks @marionf :)

[2018-09-25 15:58] khouloudbelguith commented on #10702
Hi @krasnycz,

This issue should be fixed in this ticket: #9833
Your ticket is a duplicate of #9833
So, I close it.
Thanks !

Best regards, Khouloud

[2018-09-25 15:58] khouloudbelguith commented on #10702
Duplicate of #9833

[2018-09-25 16:01] khouloudbelguith commented on #10706
Hi @prestamodule,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think about his suggestion?

Best regards, Khouloud

[2018-09-25 16:04] khouloudbelguith commented on #10707
Hi @krasnycz,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9872
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-25 16:04] khouloudbelguith commented on #10707
Duplicate of #9872

[2018-09-25 16:04] #10707 closed, assigned to nobody

[2018-09-25 16:04] sytou commented on #10476
Hi @rdy4ever
Well done !!
The Activated Filters area disappears well when you click on the links in the main menu.
But I didn't find the previous behavior that allowed me to indicate that for any filter (in the configuration of the faceted module), the Meta Robots tag was at noindex, nofollow.
A regression certainly of the faceted module.
Please do not close this ticket.

[2018-09-25 16:43] krasnycz commented on #10702
I do belive this ticket is not a duplicate of #9833. It is just UI bug - the BO is not displaying store domain on special prices. Not related to price in multistore context. I saw that ticket before.

[2018-09-25 16:45] krasnycz commented on #10707
#9872 is about not updating % discount of the price depending on quantity. This ticket identifies a bug related to displaying quantity based discounts in currency not % discount. This issue/case is not covered in #9872.

[2018-09-25 16:48] Quetzacoalt91 commented on #10706
Well, using `Context::getContext()->link->getAdminLink('AdminMaintenance')` as before will allow you to reach the new controller automatically.

[2018-09-25 18:28] seiyar26 opened #10709 "impossible to edit or create cms page"
Hi i'm on prestashop 1.7.4.2 and impossible to edit or create cms page it load and nothing happens

best regards

[2018-09-25 21:53] melmelimel commented on #9940
Hi! i have 1.7.4.1 and I can't create a new product even using All the shops option...
Any solution? It is really annoying.

[2018-09-25 22:15] emeagenciadigital commented on #10640
Hi,

Yes that work. Mark it as solve.

[2018-09-26 00:37] jancinert opened #10710 "Product detail - a specific price with quantity_from = 1 -> wrong prices displayed upon a quantity input changes"
**To Reproduce**
Steps to reproduce the behavior:
1. Install prestashop 1.6.1.20
2. Edit product demo_2 from demo database in backend.
3. Add specific price with parameters:
combination S white
quantity from: 1
discount 10%
4. Add another specific price with parameters:
combination S white
quantity from: 2
discount 10%
5. Go to frontend product detail page and make combination S White the active o

[2018-09-26 03:05] CArlvJ1N0N8 commented on #10258
Hello,
Is there any update for this discussion?

[2018-09-26 06:44] Prestaworks commented on #10701
Hi Khouloud,

Yes, but the translation tools is a core feature in Prestashop, and all the phrases we want to translate are showing up in the translations tool but they are not saved on the correct place, instead they keep overwriting eachother and that issue is most likely in the translation section of Prestashop.

[2018-09-26 07:23] sarjon opened #10712 "Dedicated "Access denied" page"
### Describe the bug
For example, lets say you create new employee in Back Office and remove all permissions on "Invoices" page for this employee.
Once this employee tries to access "Invoices" page, he will get redirected to legacy "Dashboard" page and if employee does not have permissions for that either he will see empty "Dashboard" page with an error.

### Expected behavior
It would be nice to

[2018-09-26 07:38] khouloudbelguith commented on #10709
Hi @seiyar26,

I did not manage to reproduce the issue with the last version 1.7.4.2.
I attached a video record.
https://drive.google.com/file/d/1ogBpwPMhLlhMLh-pjP0YTrtAD5lffNcK/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-26 07:42] seiyar26 commented on #10709
Hi thanks for your reply I can’t access to cms page I have error 500

 BEst regards

[2018-09-26 07:49] sarjon opened #10713 "Flash message alignment issue"
There's a small alignment issue with flash messages as it does not fit with remaining content of the page, here's how it looks now:

![bad_alignment](https://user-images.githubusercontent.com/15143151/46064997-9e8c5280-c179-11e8-8de0-d80072410fce.png)

This is how it could look like:

![good_alignment](https://user-images.githubusercontent.com/15143151/46065018-a77d2400-c179-11e8-88c3-b0a1a05cd30e

[2018-09-26 07:50] sarjon commented on #10713
@colinegin maybe you can give your input on this?

[2018-09-26 08:03] khouloudbelguith commented on #10712
Hi @sarjon,

I created a new employee in Back Office and I remove all permissions on "Invoices" page for this employee.
![image](https://user-images.githubusercontent.com/16067358/46064973-29b51a80-c171-11e8-9b1f-c67f5a87cd93.png)
Once this employee signs in the BO, the "Invoices" sub-menu doesn't exist in the menu.
![image](https://user-images.githubusercontent.com/16067358/46065664-f83d4e80-c172

[2018-09-26 08:09] prestamodule commented on #10706
@Quetzacoalt91 okay, I thought that it could be introduced into AdminControlller too anyway. I'm closing this one

[2018-09-26 08:09] #10706 closed, assigned to nobody

[2018-09-26 08:10] jolelievre opened #10714 "New position column in grid does not work"
**Describe the bug**
The new position column in the grid does not work, when you try to display it you get an error message:
```An exception has been thrown during the rendering of a template ("Content template for column type "position" was not found").```

**To Reproduce**
Steps to reproduce the behavior:
1. Get the last 1.7.5.x branch
2. The only place where this position is used is in the ps_l

[2018-09-26 08:11] jolelievre commented on #10714
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10705

[2018-09-26 08:14] khouloudbelguith commented on #10319
Hi,

I did not manage to reproduce the issue with the branch develop 1.7.5.x
I will close the issue.

Best regards, Khouloud

[2018-09-26 08:21] Quetzacoalt91 commented on #10480
File to update: https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/xml/quick_access.xml

[2018-09-26 08:35] sarjon commented on #10712
hi @khouloudbelguith even though Invoices page is migrated it still uses legacy layout to display "Access denied" page.

[2018-09-26 08:43] khouloudbelguith commented on #10712
Hi @sarjon,

Yes, it is a regression.
In the 1.7.5.x, once this employee tries to access "Invoices" page, he will be redirected to the Dashboard page.
Same issue with other symfony pages.

Best regards, Khouloud

[2018-09-26 08:51] khouloudbelguith commented on #10709
Hi @seiyar26,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2018-09-26 08:54] khouloudbelguith commented on #10701
Hi @Prestaworks,

Those translations are saved in the Back office? but they are not successfully saved in the Front office?
If yes, could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-26 08:58] khouloudbelguith commented on #10258
Hi @CArlvJ1N0N8,

This issue should be specified by our developers.
Thanks for understanding.

Best regards, Khouloud

[2018-09-26 09:01] Prestaworks commented on #10701
Hi Khouloud,

The translations are saved on the wrong row in the BO

I have these three rows in BO translations

add to cart
Add to cart
Add to Cart

when I open these, I have these translations
lägg i varukorgen
empty field
Lägg i Varukorgen

In the empty field, I type "Lägg i varukorgen" and click save
When the page reloads in the BO I have these translations

Lägg i varukorgen
empty field
Lägg

[2018-09-26 09:02] khouloudbelguith commented on #10710
Hi @jancinert,

Thanks for your report & your PR.
Could you please add steps to reproduce your issue so we can test your fix.

Thanks & Best regards, Khouloud

[2018-09-26 09:05] khouloudbelguith commented on #10640
Hi @emeagenciadigital,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-26 09:05] #10640 closed, assigned to nobody

[2018-09-26 09:17] khouloudbelguith commented on #9940
Hi @melmelimel,

Sorry not yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-26 09:19] dennispw commented on #10596
@khouloudbelguith It makes no difference in my case.

[2018-09-26 09:22] sarjon opened #10715 "File select input issue"
When developing i try to follow PrestaShop UI Kit, but when i use file select from UI Kit i lose some functionality.

For example, when using native file selector you can see selected file, but i does not work for PrestaKit file select. See image below:

![file input](https://user-images.githubusercontent.com/15143151/46070466-8ec73b00-c186-11e8-8488-ea4d28aba500.png)

[2018-09-26 09:22] jolelievre commented on #10461
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10462

[2018-09-26 09:43] magichouse commented on #9518
I have the exactly same error. tried to disable the module, clear cache and still get the error!
:(

[2018-09-26 09:49] khouloudbelguith commented on #10715
Related to: #10430

[2018-09-26 09:52] khouloudbelguith commented on #9518
Hi @magichouse,

Could you please try to rename the ps_cashondelivery folder into the folder Project_folder/modules/
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-26 10:06] khouloudbelguith commented on #9872
PS: The issue occurs when applying a Percent (%) discount & **Amount** discount [#10707]

[2018-09-26 10:06] khouloudbelguith commented on #10707
Hi @krasnycz,

Done.

[2018-09-26 10:12] magichouse commented on #9518
Hi @khouloudbelguith
After renaming ps_cashondelivery to cashondelivery i could not find the module anymore. and wasn't able  to test it out. I tired to install the master vers from github but still it won't appear anywhere and cannot upload it via zip.

[2018-09-26 10:15] khouloudbelguith commented on #9518
Hi @magichouse,

yes, it a normal behavior that you can't find it.
But, after renaming it, the issue disappear or not?

Best regards, Khouloud

[2018-09-26 10:16] khouloudbelguith commented on #10596
Hi @dennispw,

Could you try to make a small video of this issue please? It would help us to reproduce it.

Best regards, Khouloud

[2018-09-26 10:21] khouloudbelguith commented on #10702
Hi @krasnycz,

Could you please add a screenshot about your issue?

Best regards, KHouloud

[2018-09-26 10:29] Quetzacoalt91 commented on #10488
Done, see https://github.com/PrestaShop/welcome/pull/39

[2018-09-26 10:41] khouloudbelguith commented on #10701
Hi @Prestaworks,

What is the exact name of this theme?
What is the exact position of each expression?
![image](https://user-images.githubusercontent.com/16067358/46074992-7147a080-c189-11e8-99c8-83f2bf839739.png)

Best regards, Khouloud

[2018-09-26 10:48] magichouse commented on #9518
After changing the name the module simply vanished. it won't appear anywhere else :(

[2018-09-26 10:49] khouloudbelguith commented on #9518
Hi @magichouse,

You need to rename it as default to get it, "ps_cashondelivery".

Best regards, Khouloud

[2018-09-26 10:52] bmagneCesi commented on #10677
Hi Khouloud,

I fixed my issue in front upgrading to 1.7.4.2, thanks a lot for the help.

[2018-09-26 10:54] khouloudbelguith commented on #10677
Hi @bmagneCesi,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-26 10:54] #10677 closed, assigned to nobody

[2018-09-26 10:56] bmagneCesi opened #10717 "Changing carrier price ranges TECHNICAL ERROR"
**Describe the bug**
I get a
[code]
when I try to update my carrier price ranges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to on carrier options
2. Click on delivery costs
3. Update ranges
4. Save and see the error

**Screenshots**
![image](https://user-images.githubusercontent.com/16189694/46075662-7a397180-c18b-11e8-940b-a530280b6d48.png)

**Additionnal information**
PrestaShop ve

[2018-09-26 11:08] khouloudbelguith commented on #10717
Hi @bmagneCesi,

We did not manage to reproduce the issue with PS1.7.4.2.
But you can take a look at this ticket: http://forge.prestashop.com/browse/BOOM-5506
It could help to solve your problem.
Thanks to check & feedback.

Best regards, KHouloud

[2018-09-26 11:12] Prestaworks commented on #10701
Hi, The theme name is autopart

See attached image for locations

![for_khalouhd](https://user-images.githubusercontent.com/2902272/46076417-c685b100-c18d-11e8-856e-ac3aea4f2cac.png)

[2018-09-26 11:15] khouloudbelguith commented on #10476
Hi sytou,

I attached a video record.
https://drive.google.com/file/d/14cGmL3Gr8Aj_TvAn72m7yPuEXupGmIFG/view
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-26 11:23] khouloudbelguith commented on #10701
Hi @Prestaworks,

I used the simplio theme with the PS1.7.4.2.
In the translation page, I found only 1 expression "add to cart" not as you 3 expressions.
I attached a video record.
https://drive.google.com/file/d/1Yb6DuL8pfCh36Z9BeybAfxaKhTEXwMLx/view

Best regards, Khouloud

[2018-09-26 11:35] magichouse commented on #9518
the default module si named already like that. I tried to name like that the master version from github but it did not appear in module list.

[2018-09-26 11:35] Prestaworks commented on #10701
Hi,

If you only get one option then I can't see how you are going to recreate the issue :(

[2018-09-26 11:42] PaoloFalomo commented on #9971
This is still an issue in 1.7.4.2

[2018-09-26 12:12] khouloudbelguith commented on #9518
Hi @magichouse,

Could you try to search it in the Selection Page & install it.
![image](https://user-images.githubusercontent.com/16067358/46079006-1c5e5700-c196-11e8-81bd-49e3748a5b95.png)

Best regards, Khouloud

[2018-09-26 12:13] khouloudbelguith commented on #10701
Hi @Prestaworks,

As it's not the default theme, provided by Prestashop, we can't do anything with this before the feedback of the theme author.
You should contact the theme author via your addons.prestashop.com account.
Thanks!

Best regards, Khouloud

[2018-09-26 12:14] khouloudbelguith commented on #9971
Hi @PaoloFalomo,

Yes, this issue is not fixed yet.
It is added to our bug roadmap.

Best regards, Khouloud

[2018-09-26 12:22] marionf commented on #9950
Fixed with https://github.com/PrestaShop/ps_linklist/pull/48

[2018-09-26 12:24] Prestaworks commented on #10701
Hi,

but how is the issue in the template?
should prestashop not handle multiple phrases?

[2018-09-26 12:25] marionf commented on #9619
Fixed with https://github.com/PrestaShop/ps_linklist/pull/48

[2018-09-26 12:30] PierreRambaud commented on #10688
In fact it's not a bug, it's related to #10047 but we are planning to revert this:

[2018-09-26 12:31] PrestaEdit commented on #10688
Never say that it's a bug. But more that you "configure" more than you "disable" a module, there.

[2018-09-26 12:38] matks commented on #10412
@mickaelandrieu Why do you say:

[2018-09-26 12:40] PierreRambaud commented on #10688
Totally agreed with you!
Saying bug because of this sentence (:trollface:)

It will be changed for the 1.7.5

[2018-09-26 12:46] ComptoirCarrelage commented on #10320
Hello,
we solved the problem by creating a log directory on the ftp.
Thank you
Loïc
ctc

[2018-09-26 13:00] magichouse commented on #9518
thats the default version that i install and I get the error :(

[2018-09-26 13:01] matks commented on #10250
Looks like 1.7.5 catalog has been updated to crowdin and this solves this issue :)

[2018-09-26 13:08] marionf commented on #10250
Yes, it's solved :+1:

[2018-09-26 13:09] #10667 closed, assigned to nobody

[2018-09-26 13:09] #10676 closed, assigned to nobody

[2018-09-26 13:09] #10665 closed, assigned to nobody

[2018-09-26 13:09] #10663 closed, assigned to nobody

[2018-09-26 13:09] #10666 closed, assigned to nobody

[2018-09-26 13:09] #10661 closed, assigned to nobody

[2018-09-26 13:09] khouloudbelguith commented on #9518
Hi @magichouse,

Have you tried to re-install it?

Best regards, Khouloud

[2018-09-26 13:09] matks commented on #10370
@sarjon I'm sorry I cannot see the topic. Do you have an example ?

[2018-09-26 13:13] khouloudbelguith commented on #10320
Hi @ComptoirCarrelage,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-26 13:13] #10320 closed, assigned to nobody

[2018-09-26 13:15] #10714 closed, assigned to jolelievre

[2018-09-26 13:21] sarjon commented on #10370
its about filters and their definition, for example:

[code]
Here's definition example:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Search/Filters/LogsFilters.php

But they are pretty limited now, see old issue on prestafony https://github.com/PrestaShop/prestafony-project/issues/61

[2018-09-26 13:22] khouloudbelguith commented on #10701
Hi @Prestaworks,

Same issue with the "luxury" theme.
There's only one expression "add to cart".

Best regards, Khouloud

[2018-09-26 13:22] matks commented on #10597
I love it ❤️

Another opinion @eternoendless @PierreRambaud @mickaelandrieu ?

[2018-09-26 13:27] LouToma commented on #10688
Keep the same behaviour as before,
Keep 20 px between Configure and More, Align the buttons if possible

[2018-09-26 13:42] LouToma opened #10720 "Module Manager : Displaying Categories Theme Modules & Other"
When there is no any module in Theme Modules and Other categories, do not display them at all.
Thanks !

[2018-09-26 13:45] khouloudbelguith commented on #10700
Hi @marionf,

After clicking in all links, we are redirected to the Modules catalog page without any result.
![image](https://user-images.githubusercontent.com/16067358/46084105-28044a80-c1a3-11e8-874c-1fa0e0b5528a.png)
What do you think?

Best regards, Khouloud

[2018-09-26 13:50] LouToma commented on #10690
When the search is used : do not display the categories that do not include any results.
Display all modules that fit the query (do not use the "see more" option)

[2018-09-26 14:03] marionf commented on #10700
How many modules do you have when you click on Module Catalog ?

[2018-09-26 14:06] khouloudbelguith commented on #10700
I have 20 modules.
![image](https://user-images.githubusercontent.com/16067358/46085341-17090880-c1a6-11e8-8ca4-c975cd6d82ae.png)

[2018-09-26 14:29] magichouse commented on #9518
yes. reinstall..deactivate.reset..delete and reinstall..

[2018-09-26 14:31] Prestaworks commented on #10701
Hi,

I have attached a childtheme for you that you can use to recreate the issue.
[child1.zip](https://github.com/PrestaShop/PrestaShop/files/2420175/child1.zip)

it is classic theme child theme, that only replace the contact form tpl so that you get 3 different translations. I hope this helps to recreate the issue for you.

[2018-09-26 14:32] marionf commented on #10700
Me too, we should have more we need to wait the update compatibility

[2018-09-26 14:37] ComptoirCarrelage opened #10721 "problem declination"
Hello,
we have a problem on our site
when we change a declination on a product, the photos linked to the declination do not appear and this message appears under the add to cart line:
an error occured while processing your request
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://comptoircarrelage.com/carrelage-parquet-serie-more-20x80-20x120-30x120-#/114-format_castelvetro-20x80

[2018-09-26 14:40] marionf commented on #10720
@LouToma this is an improvement and we are in code freeze
Normally we should solve only regressions during code freeze
We will do it, but this should have been requested before

[2018-09-26 14:42] khouloudbelguith commented on #9518
Hi @magichouse,

I did not manage to reproduce the issue with the last version 1.7.4.2 & the ps_cashondelivery module v1.0.6.
I attached a video record.
https://drive.google.com/file/d/1_9_8m_2qj2orxQApPL_o2zLXa-Uh-3aJ/view

Best regards, Khouloud

[2018-09-26 14:48] khouloudbelguith commented on #10721
Hi @ComptoirCarrelage,

Here's the Pr: https://github.com/PrestaShop/PrestaShop/pull/9390 to solve the issue
Your ticket is a duplicate of #9390
So, I close it.
Thanks !

Best regards, Khouloud

[2018-09-26 14:48] khouloudbelguith commented on #10721
Duplicate of ##9390

[2018-09-26 14:48] #10721 closed, assigned to nobody

[2018-09-26 14:51] khouloudbelguith commented on #10701
Hi @Prestaworks,

When trying to upload your theme attached, I have this error
https://drive.google.com/file/d/14jFzlwbl2hZ_22UHYE00q1YcYFYmCVuC/view

Best regards, Khouloud

[2018-09-26 14:57] Prestaworks commented on #10701
just unzip it to your themes folder

[2018-09-26 15:10] colinegin commented on #10713
Hello @sarjon ,

as seen with @matks this is not a critical bug so we can fix it for 1.7.6.
I've added the new milestone.

Thanks !

[2018-09-26 15:16] magichouse commented on #9518
Thank you for the time given. I have a fresh install of prestashop on wich I merged with a profesional merge software the products, orders and clients.
I just tried using the default theme and stopping all extra modules. still get the error.
If I turn off debug mode the eror is HTTP ERROR 500

[2018-09-26 15:22] khouloudbelguith opened #10723 "Disable Show notifications option - Administration page"
**Describe the bug**

In the BO => Advanced Parameters => Administration, when we disable show notifications option for new customers for example (same issue with other options), when we create a new customer, in the BO => the notification bell is displayed but we cannot show this notification because we just disabled the Customers notification.
**To Reproduce**
Steps to reproduce the behavior:
1.

[2018-09-26 15:32] khouloudbelguith commented on #9518
Hi @magichouse,

Can provide us your PrestaShop and PHP versions.

Best regards, Khouloud

[2018-09-26 15:35] khouloudbelguith commented on #10701
Hi @Prestaworks,

No, I tried to unzip the child1 into the themes folder, but it is not displayed in the list of all the theme selected.
![image](https://user-images.githubusercontent.com/16067358/46091144-7f5de700-c1b2-11e8-902f-f9f482619824.png)

Best regards, Khouloud

[2018-09-26 15:40] jolelievre commented on #10599
The problem was not that the cart could not be deleted It is actually the appropriate behavior since the cart has an order But the button should not be displayed
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10725

[2018-09-26 16:02] khouloudbelguith commented on #10343
Hi @marionf,

I manage to reproduce this issue in the branch 1.7.5.x.
https://drive.google.com/file/d/1e7mIKkOtPgPvRSOTLuikMgnlfLn4illF/view

Best regards, Khouloud

[2018-09-26 16:10] marionf commented on #10723
The notification shouldn't be displayed if it's disabled

[2018-09-26 16:25] PierreRambaud commented on #10688
I change it to 10px, with 20px, buttons gone in two lines

[2018-09-26 19:21] josedgal opened #10729 "Issue with a payment module (PayU)"
I have detected an issue on my store www.fulluñas.com

I'm using the PayU module for payments on my website, but when there are lots of products (about 15) on the cart there is an issue appearing saying the field is tu large and that the payment cant be processed.

I have contacted PayU directly to fix the error, but after a long talk with them, they told me the issue must be fix from prestashop,

[2018-09-26 19:36] jancinert commented on #10710
Added.

[2018-09-26 21:08] jancinert opened #10730 "Product detail - specific prices with different discount percentages -> wrong discount percentages displayed upon a quantity input changes"
**Describe the bug**
Product detail - specific prices with different discount percentages -> wrong discount percentages displayed upon a quantity input changes

**To Reproduce**
Steps to reproduce the behavior:
Install prestashop 1.6.1.20
Edit product demo_2 from demo database in backend.
Add specific price with parameters:
combination S white
quantity from: 1
discount 10%
Add another specific pri

[2018-09-27 06:10] GeoTimber commented on #9926
Seems to be the same in prestashop 1.7.2.4, Classic Theme

I select the default image under my language but is never shows up, the image url says "(unknown)", can we have fix for this?

The files are stored and created after the upload:

![selection_680](https://user-images.githubusercontent.com/6180238/46126500-d1901e00-c22d-11e8-8dbd-ffdff30c6ff4.png)

![lastorcasimagennodisponible](https://user

[2018-09-27 07:40] khouloudbelguith commented on #9926
Hi @GeoTimber,

The issue is added to our bug roadmap.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-27 07:45] GeoTimber commented on #9926
give me a hint where to look?
Thanks...

On September 27, 2018 9:41:15 AM GMT+02:00, khouloudbelguith <notifications@github.com> wrote:

Send from a handheld device. Please excuse my brevity. ¯\_(ツ)_/¯

[2018-09-27 07:48] khouloudbelguith commented on #10730
Hi @jancinert,

Thanks for your report.
But in the BO => Preferences => Products, you need to edit the "Quantity discounts based on" Combinations.
Same issue here: #8609
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-27 08:10] khouloudbelguith commented on #9926
Hi @GeoTimber,

Below are different ways to help us to fix this issue:
- If you found a module that solves the issue, please add a comment with a link to it so it is possible to share this knowledge with other impacted users
- If this is critical for your business but you don't have developer skills, please consider to hire a freelance or an agency
- If you are a developer, you can open a pull req

[2018-09-27 08:21] centoasa opened #10732 "feature_value (Duplicate entry '13-2' for key 'PRIMARY')"
Prestashop 1.7.4.2
apache+nginx
php 7.2.10
please see my video: https://www.useloom.com/share/4a238918d4a04c8eb905e30af2f1bc2b
when I try to add new features, this issue happens, and prestashop add random feature.