[2019-06-27 10:30] khouloudbelguith commented on #14388
Hi @siomosp,

No, It is not the first & second message.
They are the last two messages, it is normal behavior, you can click on "Show all message" to show them all.
I attached a screen record
https://drive.google.com/file/d/1_NdOLd9mHfmMBLWJzG5oDh0crEGjEXJT/view
Thanks to check & feedback.

[2019-06-27 10:33] Tomskor opened #14390 "Error 500 after update 1.7.6.0 - problem with module"
After update to 1.7.6.0 have many error 500 with some random places for example when we try enter in BO: Positions/Premissions

Module what is couse of this issues is ManufacturerSlider but I can't localize this in BO in modules, in FTP there is folder "manufacturesrlider" but I can't uinstal this.

**Screenshots**
![screencapture-test-tomskor-pl-admin850kwyszj-index-php-improve-design-modules-pos

[2019-06-27 10:37] khouloudbelguith commented on #14390
Hi @Tomskor,

Your module "manufacturesrlider" have some issues with PS1.7.6.0.
You can rename the folder "manufacturesrlider" to "manufacturesrlider_old" into the path `/Projet_Folder/modules/` to disable it temporarily.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones t

[2019-06-27 10:37] #14390 closed, assigned to nobody

[2019-06-27 11:03] khouloudbelguith commented on #14382
@Daaaaad, no it is used.
You can check this PR: https://github.com/PrestaShop/PrestaShop/pull/13604/files#diff-a9ae2f1b0bccf85788172a54b0eaa56cR102 as an example.

Thanks!

[2019-06-27 11:10] Daaaaad commented on #14382
Maybe I'm wrong @khouloudbelguith but I don't think _validate_isCustomerName_ is used...

I just tested on version 1.7.5.2 and the function don't seems to be called 🤔

[2019-06-27 11:15] khouloudbelguith commented on #14382
@Daaaaad, it is used also in PS1.7.5.2, here's a PR: https://github.com/PrestaShop/PrestaShop/pull/13599/files#diff-a9ae2f1b0bccf85788172a54b0eaa56cR102 milestoned to PS1.7.5.2.
Thanks!

[2019-06-27 11:19] dineshbadrukhiya commented on #14389
We can remove the qty arrow with below style:

`input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}`

[2019-06-27 11:23] khouloudbelguith commented on #14389
Hi @dineshbadrukhiya,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-06-27 11:24] dineshbadrukhiya commented on #14389
Okay, I will once I get the time.

[2019-06-27 11:33] ghost opened #14391 "[BO/FO IMPROVEMENT] VAT number format as country setting"
Hi,
Regarding https://github.com/PrestaShop/PrestaShop/issues/14382 issue there will be very nice to validate VAT number in the same way as Postal code is validated.

There are many VAT number formats across the world https://www.avalara.com/vatlive/en/eu-vat-rules/eu-vat-number-registration/eu-vat-number-formats.html

That little option will help a lot

![vat](https://user-images.githubuserconten

[2019-06-27 11:37] khouloudbelguith commented on #14391
Hi @PrestaShark,

Thanks for your report.
PING @marionf, @colinegin what do you think?

Thanks!

[2019-06-27 11:39] khouloudbelguith commented on #14391
Hi @PrestaShark,

Thanks for your report.
The check of the VAT number could be done by the `vatnumber` module, here's the issue: https://github.com/PrestaShop/PrestaShop/issues/9884
Thanks to check & feedback.

[2019-06-27 11:42] ghost opened #14392 "1.7.6 RC1 Issue with prices display (dutch , euro currency)"
language dutch, currency EURO €. Product prices in frontend are all wrong. Wrong: €14,4 instead of €14,40 Also in order summary in back-end.
default settings 1.7.6
<img width="435" alt="afbeelding" src="https://user-images.githubusercontent.com/2944981/60263606-5e612880-98e1-11e9-95dc-c9647f7a6679.png">

[2019-06-27 11:43] ghost opened #14393 "SEO friendly url wrong example in preview box when adding new product"
SEO friendly url wrong example in preview box when adding new product > tab SEO.

1) Add new product

2) Go to SEO tab of that product

3) It show's this in preview box admin
<img width="712" alt="afbeelding" src="https://user-images.githubusercontent.com/2944981/60263665-8d779a00-98e1-11e9-9d78-2fb4a804b043.png">

[2019-06-27 11:53] khouloudbelguith commented on #14392
Hi @sdwebdesign,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0rc1 (Dutch language / Euro currency).
![image](https://user-images.githubusercontent.com/16067358/60264150-6b2e4e00-98da-11e9-915e-86e1198966c3.png)

With PS1.7.5.2 => OK
![image](https://user-images.githubusercontent.com/16067358/60264167-73868900-98da-11e9-835e-2df04466c905.png)

I’ll add this to the debug ro

[2019-06-27 11:54] ghost opened #14394 "faceted search module price slider bug"
Version 1.7.5.1 with module faceted search filter

<img width="386" alt="Schermafbeelding 2019-06-27 om 13 53 17" src="https://user-images.githubusercontent.com/2944981/60264251-06c3bc80-98e3-11e9-8754-5fe9192eb768.png">

[2019-06-27 11:54] Daaaaad commented on #14382
Sorry again @khouloudbelguith but I really can't find where those functions (validate_isCustomerName/validate_isName) are called. Validate.js file don't seems to be included either 😕

[2019-06-27 11:57] khouloudbelguith commented on #14382
ping @PierreRambaud, @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-06-27 12:01] khouloudbelguith commented on #14393
Hi @sdwebdesign,

If you reload the page, it will be well displayed.
![image](https://user-images.githubusercontent.com/16067358/60264642-99f8f400-98db-11e9-855e-4f584d10c2ac.png)

Thanks to check & feedback.

[2019-06-27 12:03] khouloudbelguith commented on #14394
Hi @sdwebdesign,

What is the exact version of the ps_fecetedsearch module did you use?
Is it v3.0.5, if no, thanks to upgrade your module & feedback.
Thanks!

[2019-06-27 12:05] ghost commented on #14394
hi @khouloudbelguith module version v3.0.5

cleared cache , rebuild attributes and prices without result.

[2019-06-27 12:08] ghost commented on #14394
extra info: also no price slider at all in 1.7.6 RC1. maybe related to #14392

[2019-06-27 12:12] khouloudbelguith commented on #14394
@sdwebdesign, thanks for your feedback.
Yes, I manage to reproduce the issue with PS1.7.5.2 & ps_facetedsearch v3.0.5.
This issue is reproduced when Dutch Language/ Euro currency or Dollar currency.
With English language => OK
![image](https://user-images.githubusercontent.com/16067358/60265202-193af780-98dd-11e9-8e04-d5bf47a00fa9.png)

With PS1.7.6.0rc1 => It is OK.
![image](https://user-images.g

[2019-06-27 12:16] khouloudbelguith commented on #14394
Related to: https://github.com/PrestaShop/PrestaShop/issues/14392

[2019-06-27 12:49] PierreRambaud commented on #14382
These functions still exist in PrestaShop 1.7 but are not used anymore in the classic theme.
And as I know, you're still able to add in your input
`data-validate="isCustomerName"` which will automatically run the `validate_isCustomerName` or
`data-validate="isName"` which will automatically run the `validate_isName`

[2019-06-27 12:55] gaecde commented on #14335
it is done ! Nochange.
I erased the browser cache.
try again to make an order and this report appeared:

(1/1) ContextErrorExceptionNotice: session_start(): ps_files_cleanup_dir: opendir(/tmp/.priv) failed: Permission denied (13)
--
in FrontController.php line 699
at FrontControllerCore->prepareNotifications()in FrontController.php line 663
at FrontControllerCore->display()in Controller.php line 3

[2019-06-27 12:59] khouloudbelguith commented on #14335
@gaecde, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-06-27 13:10] netraagal commented on #14277
Did you try to delete your cache in advanced parameters > performance ?
There is a file cache which is storing translations, and I don't know if it deleted when modifying a translation

[2019-06-27 13:16] Daaaaad commented on #14382
You are right @PierreRambaud, I still can use `data-validate="isCustomerName"`... but I will have to edit the theme's templates whereas before the field definition was enough. And as I'm trying to create a module, that's a huge difference 😉

[2019-06-27 13:20] gaecde commented on #14335
I must delete: prod & dev?

[2019-06-27 13:22] gaecde commented on #14335
or the files at the back of prod and dev?

[2019-06-27 13:29] benlecoqartisans commented on #14379
hi @khouloudbelguith
I reproduced with another payment method.
But it's quite weird, I found 2 solutions to this problem (unfortunately it doesn't solve issue #14174 that I still reproduce).
First one, I create another carrier, but the same in viewpoint of datas except one : its id_reference refers to itself and it wasn't that before.
Second one, I "modified" products (just by changing buy_price)

[2019-06-27 13:35] khouloudbelguith commented on #14335
@gaecde, yes prod & dev folders.
Thanks!

[2019-06-27 13:37] khouloudbelguith commented on #14379
@benlecoqartisans, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-27 13:37] #14379 closed, assigned to nobody

[2019-06-27 13:48] PierreRambaud commented on #14394
Thanks a lot, a fixed is available here: https://github.com/PrestaShop/ps_facetedsearch/pull/104

[2019-06-27 13:56] Quetzacoalt91 commented on #13633
Fixed by https://github.com/PrestaShop/autoupgrade/pull/325, there was a conflict between twig versions included by the core and the module

[2019-06-27 14:02] matks opened #14398 "FO Brands page style is broken"
**Describe the bug**
From the BO, a merchant can enable a "All brands" page that shows all brands (a.k.a manufacturers) on the FO.

The page style is broken (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO on `http://localhost:8888/brands` or `http://localhost:8888/en/brands` (depends if you have 1 or multiple languages enabled)
2. See broken display

**Screenshots**

[2019-06-27 14:40] marionf commented on #9626
@khouloudbelguith Could you please add a screenrecord of this issue ?

[2019-06-27 15:01] SharmPRO commented on #14336
will not be considered adding a second route for index page when updating BO => Shop Parameters => Traffic & SEO => index page => the_input_text should do all the magic. ?

[2019-06-27 15:10] khouloudbelguith commented on #14336
ping @colinegin, @marionf what do you think?
Is it possible to be able to edit the `url_rewrite` for the index page?
It is disabled.
Thanks!

[2019-06-27 15:20] marionf commented on #9623
We should delete also the "location" field for a virtual product in "virutal product" tab

[2019-06-27 15:22] centoasa commented on #14373
Sorry: now I'm using the url schema {id}{-:id_product_attribute}-{rewrite}.html
So, how can I redirect old default url {category:/}{id}{-:id_product_attribute}-{rewrite}.html to my new {id}{-:id_product_attribute}-{rewrite}.html via htaccess?

[2019-06-27 15:23] omar2886 opened #14399 "SalesPerson can't quickview Product"
Why someone with SalesPerson permission can't use the button "quickview" of products in BO? please need a fix ASAP
Thanks

[2019-06-27 15:32] khouloudbelguith commented on #14399
Hi @omar2886,

You are logged with SalesPerson permission? from the BO => Product page => you cannot click on the "Preview" button?
![image](https://user-images.githubusercontent.com/16067358/60279378-d4bd5500-98f8-11e9-9d60-0d6dc8d9ece2.png)

Thanks!

[2019-06-27 15:34] omar2886 commented on #14399
That's it!
![screenshot](https://user-images.githubusercontent.com/12675798/60280322-a0e32f00-98fa-11e9-9515-a07363bc9b01.jpg)

[2019-06-27 16:03] kyle013 commented on #9599
Hi,
I don't know if it is already solved in 1.7.6 but I did some edit to make it work for me.
It works only for the mail that display the subject input field. Hope it can help.
In the file "controllers/admin/AdminTranslationsController.php"

[code]

[2019-06-27 16:05] khouloudbelguith commented on #14399
@omar2886, I did not manage to reproduce the issue with PS1.7.6.0rc1.
In the BO => Advanced Parameters => Team => Permissions Tab, Salseman, all the action for the Product are selected?
![image](https://user-images.githubusercontent.com/16067358/60281919-bad24100-98fd-11e9-9138-5860c175c2a7.png)

Thanks!

[2019-06-27 16:07] khouloudbelguith commented on #9626
Hi @marionf,

Here's the screen record
https://drive.google.com/file/d/1jW1TQmKN50GnpxjxvT5KLHS2WrRSxjh6/view

Thanks!

[2019-06-27 16:12] matks commented on #14301
Issue introduced by PR https://github.com/PrestaShop/PrestaShop/pull/14290 so now we need to find a way to fix it without removing the bugfix https://github.com/PrestaShop/PrestaShop/pull/14290

[2019-06-27 16:14] khouloudbelguith commented on #9599
Hi @kyle013,

Yes, I have the same issue with Branch 1.7.6.x
![image](https://user-images.githubusercontent.com/16067358/60282468-f7526c80-98fe-11e9-9f57-69a3c50542a3.png)
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thanks!

[2019-06-27 16:20] khouloudbelguith commented on #14373
@centoasa, you can find some modules to get a pretty URL on our MarketPlace Addons, for example, https://addons.prestashop.com/en/url-redirects/16633-pretty-urls-remove-ids-numbers-for-seo-friendly-url.html

Thanks!

[2019-06-27 16:24] omar2886 commented on #14399
I only have "View", as I don't want any employee to be able to modify or create new products, it's out of their competences. But they should be able to click the quickview button to easily share the link with customers, one thing doesn't have to be related to the other, isn't it?

[2019-06-27 16:29] matks commented on #13147
@marionf I confirm this issue is not a misunderstanding and is a real software issue

[2019-06-27 16:42] centoasa commented on #14373
Sorry, I'm not clear. I don't want change my url, now it's good. But I would redirect old url (ie on search engine) on new url .
example: the old url was www.blabla.com/category/products1.html now the new url is www.blabla.com/products1.html
Something like this:
RewriteCond %{HTTP_HOST} ^www.mysample.com
RewriteRule ^subdir/(.*)$ http://www.mysample.com/$1 [L,R=301]
But I don't know how replace su

[2019-06-28 07:48] khouloudbelguith commented on #13998
Hi @JoSchmutz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-28 07:48] #13998 closed, assigned to nobody

[2019-06-28 07:56] khouloudbelguith commented on #14399
@omar2886, when you click on the "Preview" button, you are saving the "Product".
But, this action is not allowed, you need to select the "Edit" action for this permission to be able to click on the "Preview" button.
Thanks!

[2019-06-28 07:57] khouloudbelguith commented on #14277
@josejecas, you can clear cache manually the cache by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-06-28 08:08] matks commented on #14389
Dont bother, we already did it 😉 https://github.com/PrestaShop/PrestaShop/pull/14395 as this is a blocking item to release PS 1.7.6.0
But thanks for volunteering ❤️

[2019-06-28 08:54] dineshbadrukhiya commented on #14389
Welcome ❤️

[2019-06-28 08:59] khouloudbelguith commented on #14373
@centoasa, so, in the BO => Product page => SEO tab => you want to have like this example `http://projet/PrestaShop/ca/32-test` in your "Search Engine Optimization" section?
![image](https://user-images.githubusercontent.com/16067358/60330649-cd468c00-998a-11e9-92c0-78ed7e09d63a.png)

Thanks!

[2019-06-28 09:04] matks commented on #14389
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14395

[2019-06-28 09:04] #14389 closed, assigned to PierreRambaud

[2019-06-28 09:04] matks commented on #14392
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14400

[2019-06-28 09:04] #14392 closed, assigned to nobody

[2019-06-28 09:11] Quetzacoalt91 opened #14404 "Migrate data from PS 1.6 modules when installing 1.7 ones (5th batch)"
As discussed with the product team, upgrading to PS 1.7 requires to install new modules.

During this process, we should migrate the data from the previous module (the similar one built for 1.6) before uninstalling it. Then, the new module will install itself and retrieve the details from the previous module. (See as reference: https://github.com/PrestaShop/ps_customtext/pull/13)

These modules ar

[2019-06-28 09:29] centoasa commented on #14373
@khouloudbelguith I'm explain more better. If you see now my website, you note that the url have schema {id}{-:id_product_attribute}-{rewrite}.html (ie https://www.100asa.it/it/2000-zebra-gk-420t-stampante-etichette.html )
However, of course, search engines have still saved the old URLs (in the old standard prestashop format).
Now: I would like customers who click on the old url (in search engines

[2019-06-28 09:42] matks opened #14405 "[SF Migration] Summary of needed tech improvements for rework of Product Page"
We're going to rework the [Product Page](https://github.com/PrestaShop/PrestaShop/issues/10632) in PS 1.7.8 .

Here is the list of technical issues we need to explore to find a suitable solution able to handle properly the usecase.

# Frontend components

### 1. Image dropzone

On 1st tab, there is a complex and powerful image manager component able to upload, edit and delete images and associated

[2019-06-28 09:51] gaecde commented on #14335
it is done ! No change.

[2019-06-28 09:55] khouloudbelguith commented on #14335
@gaecde, We need to retrieve the debug mode report in order to find out what's wrong.

Thanks!

[2019-06-28 09:59] MatthiasD0 opened #14407 "Cart rule bug: Exclude discounted products issue with categor"
**Describe the bug**
Cart rule discounts are not properly added when the cart rule applies for one category and excludes already discounted products

**Fix**
Change following line https://github.com/PrestaShop/PrestaShop/blob/4846d0e196b91fa0e89bc9079f90c7ee4998522e/classes/CartRule.php#L1209
From:
`                        if (in_array($product['id_product'] . '-' . $product['id_product_attribute'

[2019-06-28 10:15] khouloudbelguith commented on #14407
Hi @MatthiasD0,

Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/13704 to fix the issue.
It is added to the 1.7.7 milestone.
Thanks to check & feedback.

[2019-06-28 10:21] gaecde commented on #14335
![RAPPORT](https://user-images.githubusercontent.com/51715158/60335872-2cae9700-999f-11e9-8842-4a5b28f009eb.JPG)

[2019-06-28 10:22] marionf commented on #10632
- Issues in **basic settings tab** sorted by priority high to low :

**Must-Have**
- [ ] #9945

**Should-Have**
- [ ] #9752
- [ ] #9625
- [ ] #9626

**Nice to Have**
- [ ] #9668
- [ ] #9680
- [ ] #10024
- [ ] #9631
- [ ] #13513
- [ ] #10459
- [ ] #9960
- [ ] #9678

**New feature**
- [ ] #12773

- Issues in **price tab** sorted by priority high to low :

**Must-Have**
- [ ] #10026
- [ ] #10030
- [

[2019-06-28 10:23] gaecde commented on #14335
![RAPPORT2](https://user-images.githubusercontent.com/51715158/60335997-77301380-999f-11e9-9d8a-94c7964b5321.JPG)

[2019-06-28 10:23] gaecde commented on #14335
![RAPPORT3](https://user-images.githubusercontent.com/51715158/60336013-82833f00-999f-11e9-98f8-d6c056720108.JPG)

[2019-06-28 10:25] marionpelouzet opened #14408 "Product catalog / back office"
Bonjour,

Good morning,

In the product catalog from my back office there are 2 pages of 300 products (the maximum).
I can't pass products from page 1 to page 2 and from page 2 to page 1.
Do you know how to do ?

Thank you very much.

[2019-06-28 10:26] omar2886 commented on #14399
ooh I see! that's bad, how to fix this? or to add just a simple preview button with no saving function so my sales team can use it without "edit" permissions?
Thanks for the help, really appreciate

[2019-06-28 10:46] khouloudbelguith commented on #14335
@gaecde, You need to enable debug mode in your store and debug request which is sent for the  "Continue" second step in your browser, using DevTools, so:

1. enable debug mode
2. go to the checkout page
3. open up developer tools
4. go to Network tab
5. Click on "continue" the second step
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the

[2019-06-28 10:49] amtriorix commented on #14312
Thanks to matks I could dig more into the the intl (icu) extension of php.

A few things did need to be stated in this regard.

1. We run php in a chrooted environment, this said, the _right permissions_ should be in place including the load of the _libraries (.so)_ in the chrooted environment

In fact there are many issues online due to the permissions and not loaded properly the libraries.

[cod

[2019-06-28 10:58] khouloudbelguith commented on #14408
Hi @marionpelouzet,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestasho

[2019-06-28 11:29] khouloudbelguith commented on #14373
@centoasa, The most difficult thing is to be able to export all your old urls and guess the new url.
You decide to change the URL of all products. The first step is to export the table "ps_products" in order to have all the concerned IDs.

With "ps_product" we have all that is possible to generate old links to the products:

http: //www.mysite/category/22-link_rewrite
http: //www.mysite/category/2

[2019-06-28 11:35] khouloudbelguith commented on #14312
Hi @amtriorix,

In fact, we have check if intl extension is loaded before running install.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11937
About your suggestion

vendor/symfony/polyfill-intl-icu
ref: https://github.com/symfony/polyfill-intl-icu

ping @colinegin, @PrestaShop/prestashop-core-developers what do you think?
Thanks

[2019-06-28 11:37] marionf opened #14410 "Bad number of merchants in the installer"
**Describe the bug**
Bad number of merchants in the installer

**To Reproduce**
Steps to reproduce the behavior:
Install PS

**Screenshots**
![install1](https://user-images.githubusercontent.com/13449658/60339727-da26a800-99a9-11e9-842d-a99f77b59dd0.png)

**Additionnal information**
PrestaShop version: 1.7.5, 1.7.6
PHP version: N/A

[2019-06-28 11:38] amtriorix commented on #14312
Yes, I know. As this does check for the php extension intl (the wrapper) which is depreciated to be used. This check should also be removed when polyfill-intl-icu is used or modified if needed to check
the vendor module runs properly including (updates, see bin section in the module)

[2019-06-28 11:41] marionf opened #14411 "Two timezones pacific in installer"
**Describe the bug**
2 timezones pacific in installer

**To Reproduce**
Steps to reproduce the behavior:
1. Install PS in English + United States

This is the norme for US:

![install 3](https://user-images.githubusercontent.com/13449658/60339914-6933c000-99aa-11e9-8b8a-ed784c0977f2.png)

**Screenshots**
![install 2](https://user-images.githubusercontent.com/13449658/60339884-54572c80-99aa-11e9-8c

[2019-06-28 11:47] marionf opened #14412 "Issue with linkedin button after the install"
**Describe the bug**
Issue with linkedin button after the install

**To Reproduce**
Steps to reproduce the behavior:
1. Complete installation
2. Click on Linkedin

**Theses buttons are not used (6 tweets), maybe we can delete them ?**

**Screenshots**
![install 4](https://user-images.githubusercontent.com/13449658/60340093-f6771480-99aa-11e9-8f20-eaffb50b23f3.png)

**Additionnal information**
Pres

[2019-06-28 11:49] gaecde commented on #14335
that's it ?
![RAPPORT4](https://user-images.githubusercontent.com/51715158/60340199-38a05600-99ab-11e9-9773-4bedc18b3db2.JPG)

[2019-06-28 11:55] khouloudbelguith commented on #14335
@gaecde, no.
debug mode enabled? there is no exception on the checkout page?

Thanks!

[2019-06-28 11:57] gaecde commented on #14335
the debug mode is activated but nothing is displayed

[2019-06-28 12:03] khouloudbelguith commented on #14335
@gaecde, in the BO => Advanced Parameters =>  Performance, could you please try to enable the "Disable all overrides" option, clear cache, check & feedback.

Thanks!

[2019-06-28 12:05] gaecde commented on #14335
its good.
I erased the chrome navigation data.
I reennished and the message appeared.
![RAPPORT5](https://user-images.githubusercontent.com/51715158/60341106-b82f2480-99ad-11e9-8cd0-8f5d99239af0.JPG)

[2019-06-28 12:08] khouloudbelguith commented on #14335
@gaecde, this is a permission issue on your server, you need to check your host about this issue.
Thanks to check with your host & feedback.

[2019-06-28 12:08] marionf opened #14414 "Guest account are not converted to a customer account through the FO"
**Describe the bug**
Guest account are not converted to a customer account through the FO

**To Reproduce**
Steps to reproduce the behavior:
1. Complete an order as guest (do not fill password field during checkout)
2. Go to BO and see the customer account is guest
3. After the order, scroll down and fill the fields (firstname, lastname, email & password)
3. Go to BO and see the customer account i

[2019-06-28 12:12] gaecde commented on #14335
ok i'll see with them and you'll know.
Thanks for your help.

[2019-06-28 12:12] khouloudbelguith commented on #14399
@omar2886, In the BO => Product page => SEO tab, you can preview the link of your product.
![image](https://user-images.githubusercontent.com/16067358/60341428-5dde9580-99a6-11e9-95fb-0480024caf0c.png)

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-28 12:12] #14399 closed, assigned to nobody

[2019-06-28 12:13] khouloudbelguith commented on #14335
@gaecde, thanks!
Waiting for your feedback.

[2019-06-28 12:15] omar2886 commented on #14399
Thanks! shame on me... I'm new on PS 1.7

[2019-06-28 12:28] marionf opened #14415 "readme_override.txt is not up to date"
**Describe the bug**
readme_override.txt is not up to date

**To Reproduce**
Steps to reproduce the behavior:
1. Open the file readme_override.txt

**Screenshots**
![readme_override](https://user-images.githubusercontent.com/13449658/60342124-e6623380-99b0-11e9-923d-733f341d1e13.png)

**Additionnal information**
PrestaShop version: All 1.7

[2019-06-28 12:29] joaocosta-azores commented on #13995
Hello,
I've updated my prestashop from 1.5.7.0 to 1.5.7.2 using prestashop module 1-click upgrade.
Upgrade was successful, but faceted search filters not showing up in frontend. 1-click upgrade has updated faceted_search from version 2.1.1 to 3.0.5 and I've already rebuild prices index and attributes and features indexes. Also cleared cache. Faceted is in hook displayLeftColumn as supposed Not get

[2019-06-28 12:31] marionf opened #14416 "Do not display the e-mail address in clear on the contact page and in the footer"
**Describe the bug**
Do not display the e-mail address in clear on the contact page and in the footer

**To Reproduce**
Steps to reproduce the behavior:
1. See the contact page and the footer

**Screenshots**
![contact1](https://user-images.githubusercontent.com/13449658/60342294-625c7b80-99b1-11e9-8288-e903b577789f.png)

![contact2](https://user-images.githubusercontent.com/13449658/60342298-64be

[2019-06-28 12:35] matks commented on #14275
And https://github.com/PrestaShop/PrestaShop/pull/14401

[2019-06-28 12:35] matks commented on #14301
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14401

[2019-06-28 12:35] #14301 closed, assigned to jolelievre

[2019-06-28 12:40] ghost commented on #14415
LOL ;)

[2019-06-28 12:43] joaocosta-azores commented on #13995
After checking again, for some reason, faceted search model was reset. I've checked everything again and now it shows sliders, but not showing dropdowns, check buttons, radio buttons and colors..
<img width="300" alt="Screenshot 2019-06-28 at 12 40 24" src="https://user-images.githubusercontent.com/2188826/60342908-41405e80-99a2-11e9-977f-d1f41b1f2d57.png">

[2019-06-28 12:54] marionf opened #14417 "Order page - Add the currency symbol"
**Describe the bug**
Currencies are missing in table, so we may not understand the math.
Order page - Add the currency symbol

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders > Orders
2. Click on Add new order

**Screenshots**
![order1](https://user-images.githubusercontent.com/13449658/60343511-6f2e9e80-99b4-11e9-8744-26509f6798da.png)

![order 2](https://user-images.githubuserc

[2019-06-28 13:04] khouloudbelguith commented on #13995
Hi @Peter4661,

Any news about your issue?

Thanks!

[2019-06-28 13:19] marionf opened #14418 "After a basic installation, the PS Cleaner module already detects that the database is corrupted"
**Describe the bug**
After a basic installation, the PS Cleaner module already detects that the database is corrupted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Catalog and install pscleaner module
2. Click on Configure
3. Click on check and repair
4. See error

**Screenshots**
![pscleaner](https://user-images.githubusercontent.com/13449658/60344936-1234e780-99b8-11e9-97b6-

[2019-06-28 13:32] marionf opened #14419 "I can not download my virtual file from my client area"
**Describe the bug**
I can not download my dematerialized file from my client area

**To Reproduce**
Steps to reproduce the behavior:
1. Create a virtual product with a file
2. Order it
3. Change order status for payment accepted
4. You receive a mail with a link to download your virtual product
But it could be could to be able to download it also in order-detail page in FO

**Additionnal informat

[2019-06-28 13:34] khouloudbelguith commented on #14418
Hi @marionf,

Is it the same issue: https://github.com/PrestaShop/PrestaShop/issues/13868?

Thanks!

[2019-06-28 13:35] khouloudbelguith opened #14420 "The filters box of the "ID" & "Order ID" are not well displayed - Merchandise Returns - BO"
**Describe the bug**
In the BO => Customer Service => Merchandise Returns page, when you have more than one merchandise returns, the filters box of the "ID" & "Order ID" are not well displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. You must enable returns in the BO => Customer Service => Merchandise Returns page
2. You must have some orders with shipped status
3. Go to the FO => Ho

[2019-06-28 13:38] marionf commented on #14418
Not exactly #13868 talks about stock_mvt

[2019-06-28 13:46] matks commented on #11241
I failed to reproduce the "multiple hook crashes" (https://github.com/PrestaShop/PrestaShop/issues/11241#issuecomment-448914864). I installed 2 modules which both register hook `displayOverrideTemplate` and I have no issue on `develop`.

So, in this issue 2 bugs were reported:
- [the initial one](https://github.com/PrestaShop/PrestaShop/issues/11241#issue-376798679) but, as explained in https://gi

[2019-06-28 13:47] nielsverhoeven84 opened #14421 "Can't add new carrier or edit existing one in PS 1.7.5.2"
When I try to add a new carrier, the field Transit Time is missing.

in code, it seems to be set to display: none. Changing that, doesn't help, because I get an error at that moment.

My shop has been upgraded from 1.6 (latest version) to 1.7.5.2

It is a multistore set up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin > Shipping > Carriers'
2. Click on Add or Edit
3. Textfiel

[2019-06-28 13:54] marionf commented on #9870
Not working with facebook:

![capture d'écran_1719](https://user-images.githubusercontent.com/13449658/60347138-f5e77980-99bc-11e9-82a8-e55c5b3ea6fd.png)

[2019-06-28 13:59] matks commented on #14405
Let's not forget multistore behavior and RTL behavior 😄

[2019-06-28 14:23] iqit-commerce opened #14423 "Ps_facetedsearch problem with cache and widget system"
**Describe the bug**
When used as widget module is cached wrongly. It stores one cache for all categories. It was ok before 3.x version of module.

**To Reproduce**
1. Enable smarty cache in advanced parametrs
2. use ps_facatedsearch as widget in tpl file instead of hook. Ex {widget name="ps_facetedsearch"}
3. go to frontoffice and visit few categories, you will notice that it is cached same filte

[2019-06-28 14:25] khouloudbelguith commented on #14421
Hi @nielsverhoeven84,

Thanks for your report.
You have some code lines missing in your Project.
Thanks to check the file `/Projetc_Folder/admin-dev/themes/default/template/helpers/form/form.tpl`
From this line: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/admin-dev/themes/default/template/helpers/form/form.tpl#L138
to this line: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/admin

[2019-06-28 14:41] nielsverhoeven84 commented on #14421
I've modified the lines, but the result remains the same.
No input field is displayed (display: none in html source of the page)
Changing it still gives the same error

[2019-06-28 14:43] khouloudbelguith commented on #14421
@nielsverhoeven84, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) & clear cache from your browser.
Thanks to check and feedback.

[2019-06-28 14:55] sarahdib opened #14424 "Problem with CLDR format"
**Describe the bug**
For some country and currency there is a problem with the currency format
- Portuguese
 Wanted format : 12,345.67 €
 Result : 12345,67 €

- Romania
 Wanted format : 12,345.67 lei
 Result : 12345,67 lei

- Czech
 Wanted format : 12,345.67 Kč
 Result : 12345,67 Kč

**Additionnal information**
PrestaShop version: 1.7.6-RC
PHP version: N/A

[2019-06-28 14:56] nielsverhoeven84 commented on #14421
I've cleared the cache on server and locally of browser and even tried incognito mode, but still no difference.

[2019-06-28 14:57] khouloudbelguith commented on #14423
Hi @iqit-commerce,

I did not manage to reproduce the issue with PS1.7.6.0rc1 and ps_facetedsearch v3.0.5.
I attached a screen record
https://drive.google.com/file/d/10lWIUoO2NW-uIyPdUIODVdR80ImsMBJd/view
Thanks to check and feedback.

[2019-06-28 15:01] khouloudbelguith commented on #14421
@nielsverhoeven84,
In my case, I did not manage to reproduce the issue after upgrade from ps1.6.1.23 to 1.7.5.2 using the 1-click upgrade v4.8.0.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-28 15:15] iqit-commerce commented on #14423
@khouloudbelguith
Category tpl should look like this
{extends file='catalog/listing/product-list.tpl'}

{block name='product_list_header'}
{widget name="ps_facetedsearch"}
    {include file='catalog/_partials/category-header.tpl' listing=$listing category=$category}
{/block}

you did not put widget code in block so it was acutally not visible on frontoffice, als remove facated search from left col

[2019-06-28 15:46] khouloudbelguith commented on #14423
@iqit-commerce, thanks for your feedback.
Yes, I manage to reproduce the issue with PS1.7.6.0rc1 and PS1.7.5.2 and ps_facetedsearch v3.0.5.
![image](https://user-images.githubusercontent.com/16067358/60354274-cab45880-99c3-11e9-976a-39933119d67c.png)
With ps_facetedsearch v2, we have an exception when we add `{widget name="ps_facetedsearch"}` in a template reported in this ticket: https://github.c

[2019-06-28 16:23] iqit-commerce commented on #14423
@PierreRambaud and @khouloudbelguith
I created PR which seems to fix the problem, but please review it
https://github.com/PrestaShop/ps_facetedsearch/pull/105

[2019-06-28 18:32] mickaelandrieu commented on #14405
Hello,

please let's not add react as we already have Vue, this will make PrestaShop harder to be mastered for no reason.

Lets stick with Vue,

thanks

[2019-06-28 21:48] ProBackup-nl commented on #14361
@khouloudbelguith In [/classes/order/OrderDetail.php](https://github.com/PrestaShop/PrestaShop/blob/aec97ddb1551fd7d6d56f75549a992d6937caf50/classes/order/OrderDetail.php) I see that `product_name` is defined as
[code]
In the cart I suspect that the selected product is not yet in an order. But which class defines $product['name'] when it is still in the cart?

[2019-06-29 04:45] gaecde commented on #14335
Hello,
Here are the returns of my host, he tells me that there is a problem of way.
Because I am trying to open a folder (/tmp/.priv) on shared server directly.
What is not possible at the level of your right of access.
The problem would come from the fact that I install the module MTARGET, module that sends sms on the mobile phone. It will change the access path.
I have uninstalled the module, cl

[2019-06-29 05:02] dineshbadrukhiya opened #14427 "post-comment-modal issue on mobile device"
**Describe the bug**
Refer the screenshot below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'product page'
2. Click on 'Write your review '
3. Check the "Title" and "Your name" field on mobile devices

**Screenshots**
![IMG_0166](https://user-images.githubusercontent.com/40850057/60379697-01867f00-9a55-11e9-929d-158e54241a4b.PNG)

**Additionnal information**
PrestaShop version: 1.7

[2019-06-29 08:47] PeeyushAgrawal opened #14429 "GDPR isn't working if the module have multiple form on same page."
**Describe the bug**
If the module which has multiple forms on the same page at the same time on DOM then the GDPR module consent box doesn't work. The submit button of the forms doesn't get disable except the first form on page load.

**To Reproduce**
To reproduce the issue, need to create a tpl file with multiple forms in a single module and add the "displayGDPRConsent" hook to add consent box.

[2019-06-29 09:31] buttonsbond opened #14430 "Restricted group products show up in All Products for all users"
**Describe the bug**
I created a group 'Agents', and a category 'Football Mugs' and only allowed that group to view products in that category. On the homepage, there is a link 'All Products', unfortunately this does not respect the restriction placed on the category and will actually show products in that category as well. I believe this to be a bug.

**Additional information**
PrestaShop version:

[2019-06-29 15:38] mklimkiew opened #14431 "BO bug in HTML - wrong display of help-box"
**Describe the bug**
BO > Product section > Simple product > Quantities menu
Bug in HTML - wrong display of help-box

**To Reproduce**
Language PL
BO > Product section > Simple product > Quantities menu

**Screenshots**
![a](https://user-images.githubusercontent.com/45269666/60386211-88a61800-9a92-11e9-9577-d073df1bfef8.jpg)

**Additionnal information**
PrestaShop version: 1.7 - - 1.7.6 RC
PHP ver

[2019-06-29 16:10] centoasa opened #14432 "Translation not saving"
Prestashop 1.7.5.2 on php 7.2.19
as also discussed on this thread https://www.prestashop.com/forums/topic/958547-prestashop-1751-translations-not-saving-updating/
even saving translation on bo-->translation, it doesn't show on f.o.
attached image example (new transation present on b.o. "IVA inclusa"but on f.o. still "Tasse incluse")
![Opera Snapshot_2019-06-29_175843_www 100asa it](https://user-im

[2019-06-29 16:34] ghost opened #14433 "[BO/FO IMPROVEMENT] Specific price date from/to with hours"
Hi.
We cant set specific price date from/to with hours. Only full days but hour/minute/seconds field is available.

In case of immediate SALE offer valid in next few hours we are unable to set that specific date.

![zrzut 2019-06-29 18 05 21](https://user-images.githubusercontent.com/8243273/60386771-e38f3d80-9a99-11e9-8b75-21bade5bddb6.png)

[2019-06-29 22:36] ballashop opened #14434 "Upgrade complete, but warning notifications has been found => [WARNING] SQL 1.7.0.0 1062 in INSERT INTO, SQL 1.7.5.0 1071 in ALTER TABLE `ps_customer`, SQL 1.7.5.0 1071 in ALTER TABLE `ps_employee`..."
**Describe the bug**
Hi, at the end of the update from 1.6.1.24 to the 1.7.5 by 1-click upgrade I found this warning:

**To Reproduce**
Steps to reproduce the behavior:
I backup production site to the local virtual server
I change all directory into the config file, I change on the DB too
I disable custom theme and able default one
I disable all 3th part modules
I disable cache
I disable friendly

[2019-06-29 23:38] ballashop commented on #14434
Hi,
some areas are forbidden access into the 1.7.5 BO:
Orders
Discounts --> Catalog Price Rules
Customers
Stat
Contact --> Stores
Customer Settings  --> Titles
Advanced Parameters --> E-mail
In team permission a lot of Notice:
Notice alla linea 199 nel file /Applications/MAMP/htdocs/SiteTest/controllers/admin/AdminAccessController.php
[8] Undefined index: name

Notice alla linea 691 nel file /Appl

[2019-06-30 09:24] zalexki commented on #14431
Hey @mkdgs,  can you make sure that it does not come from your browser cache (i had similar issues before testing in private mode).

If you still can reproduce can you please add your browser and OS informations as front end issues can be very specific to the user environment.

[2019-06-30 15:09] mklimkiew commented on #14431
It is not related to the browser cache.

Chrome 75.0, same issue on Edge
PHP 7.2.19

[2019-06-30 15:28] matks commented on #14433
Hi @PrestaShark, we have already registered this need in https://github.com/PrestaShop/PrestaShop/issues/11329 and it should be done soon as it was added in v1.7.7 backlog 😄

By the way, is the seconds really useful ? Hours and minutes, it's obvious but I dont think we need to add the seconds, do we ?

[2019-06-30 15:33] matks commented on #14431
Like @zalexki I dont reproduce on chrome 75.0.3770.100 for MacOS X 10.13.6

<img width="404" alt="Capture d’écran 2019-06-30 à 17 30 39" src="https://user-images.githubusercontent.com/3830050/60398843-3120ae80-9b5d-11e9-9b56-340968aead3b.png">

@mklimkiew can you tell us wjhat is your OS ? A linux distro ? Windows ?
Can you also tell us what language your use in the BO ?

[2019-06-30 15:35] mklimkiew commented on #14431
Windows 10
BO language PL (polish)

[2019-06-30 16:11] MathiasReker opened #14435 "FYI Class "AdminLinkWidgetController" not found"
Reading the log there seems to be something that should be fixed? I did not have any problems btw.
[code]

PHP error log:
[code]

[2019-06-30 17:39] zalexki commented on #14431
thx @mklimkiew bug is reproduced with BO language Polish on mac, seems like Polish version add some text for some reason

[2019-07-01 08:04] khouloudbelguith commented on #14435
Hi @MathiasReker,

Thanks for your report.
About the first log /Project_Prestashop/var/log
I have the same issue with PS1.7.6.0rc1
[code]

In the PS1.7.5.2 => I don't have the same errors.
ping @PrestaShop/prestashop-core-developers what do you think?

@MathiasReker about the PHP error log, I have similar errors with PS1.7.5.2

`[Thu Jun 27 14:56:33.210060 2019] [:error] [pid 26325] [client 127.0.

[2019-07-01 08:18] wikao2 opened #14436 "Where is the Warehouse tab on the product page on the Prestashop 1.7 BO?"
Hello,

On Prestashop 1.6, on the product page on the BO, I had a tab Warehouse. In this tab, I indicated, where (in which warehouse) was this or that combination when there was one.

Under Prestashop 1.7, you can not find this tab (or an equivalent). When I search "warehouse Prestashop 1.7" on Google, I am constantly referred to the Advanced Stock/Inventory Management, but when I go in Catalog> S

[2019-07-01 08:19] ProBackup-nl commented on #12241
Remove to default combination, let customers make an explicit choice which product combination they want.

Without a default combination selected, then display the product cover image.
With a default combination selected, then display the cover image of the combination.

Not having a default combination selected has been requested before, even 8 years ago: <https://www.prestashop.com/forums/topic/

[2019-07-01 08:23] ghost commented on #14433
Seconds are not crucial.

But dammm.... 1.7.7 roadmap... I will try to fix anyway

[2019-07-01 08:33] jolelievre commented on #14435
Hello @khouloudbelguith and @MathiasReker

About the error with `AdminLinkWidgetController` this is a known issue concerning the automatic tab registration with modern symfony routes, this was reported in this issue https://github.com/PrestaShop/PrestaShop/issues/12640

But you don't need to be alarmed by this error, as it is caught by `ModuleTabRegister` and display in the error logs. For now the

[2019-07-01 08:41] MathiasReker commented on #14435
@jolelievre Thanks. I think you are right. I could have made a request while clearing the cache.

[2019-07-01 08:41] #14435 closed, assigned to nobody

[2019-07-01 08:52] Hlavtox commented on #14424
In the first place, wanted format for Czech currency is 12 345 Kč, but that's something current sh**ty CLDR implementation can't do. :-)

[2019-07-01 09:13] nielsverhoeven84 commented on #14421
Dear @khouloudbelguith

the error log shows

[code]

[2019-07-01 09:44] MarouaniALA commented on #14371
@khouloudbelguith, sorry for this late reply.
I just send you an email.
Thanks!

[2019-07-01 09:50] khouloudbelguith commented on #14427
Hi @dineshbadrukhiya,

I did not manage to reproduce the issue with PS1.7.6.0rc1 & the `productcomments` module v4.0.0.
![image](https://user-images.githubusercontent.com/16067358/60427063-d71bf980-9bed-11e9-9276-19631b85aa52.png)
I used Iphone7 as a device.
Thanks to check & feedback.

[2019-07-01 09:59] dineshbadrukhiya commented on #14427
You need to allow guest review and need to check as a guest.

[2019-07-01 10:46] khouloudbelguith commented on #14431
Hi @mklimkiew, @zalexki,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I used Debian "Linux #1 SMP Debian 3.16.51-3 (2017-12-13) x86_64".
![image](https://user-images.githubusercontent.com/16067358/60430708-dbe4ab80-9bf5-11e9-8021-b0048ea2dbd4.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please

[2019-07-01 10:58] khouloudbelguith commented on #9832
Hi,

I have the same issue with PS1.7.6.0rc1.
https://drive.google.com/file/d/1EeYlGTVFMLBjyR-tr2ecYVMo0WmkXgWD/view

Thanks!

[2019-07-01 10:59] khouloudbelguith commented on #14430
Hi @buttonsbond,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9832
So, I close it.
Thanks!

[2019-07-01 10:59] #14430 closed, assigned to nobody

[2019-07-01 10:59] khouloudbelguith commented on #14430
Duplicate of #9832

[2019-07-01 11:09] Bonobomagno commented on #14086
This is really interesting. Actually there is not a nice way to use stateless container for quick horizontal scaling. You actually need to put the all the  webroot under nfs/distribuited fs, but this dont seem really good.
If we could automatize the updates/upgrades process, using distribuited fs only for static files, would be really nice.

[2019-07-01 11:20] khouloudbelguith commented on #14436
Hi @wikao2,

Thanks for your report.
It was not available at first in 1.7.
We plan to release and sell an embedded ERP module that will do just what you need, ie routing warehouses with carriers and customer addresses.
You can follow our work on our dev blog :
http://build.prestashop.com/news/stock-management-in-prestashop-1-7/ http://build.prestashop.com/news/stock-management-in-prestashop-1-7-pa

[2019-07-01 11:20] #14436 closed

[2019-07-01 11:28] khouloudbelguith commented on #14025
Hi @edspiner,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-01 11:28] #14025 closed, assigned to nobody

[2019-07-01 11:29] khouloudbelguith commented on #13970
Hi @jointsystems,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-01 11:29] #13970 closed, assigned to nobody

[2019-07-01 11:30] mowcixo opened #14439 "Empty value at position key when you create a product_feature through webservice"
**Describe the bug**
When you create a feature through webservice for the first time, without specifying position, or specifying 0 position, it returns the new created feature with empty position, having it written 0 position at ``ps_feature.position`` database column.

It doesn't happen when you specify another number major than 0 at position key.

**To Reproduce**
Steps to reproduce the behavior

[2019-07-01 11:31] khouloudbelguith commented on #13939
Hi @Spacetronik,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-01 11:31] #13939 closed, assigned to nobody

[2019-07-01 11:32] khouloudbelguith commented on #13754
Hi @union-des-vignerons,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-01 11:32] #13754 closed, assigned to nobody

[2019-07-01 11:39] khouloudbelguith commented on #14432
Hi @centoasa,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I attached a screen record
https://drive.google.com/file/d/1UJkdSMRCgZoxEP7XmdMXyiG5wybPmrCi/view
Thanks to check & feedback.

[2019-07-01 11:46] khouloudbelguith commented on #14434
Hi @ballashop,

Thanks for your report.
The warnings are not a serious problem. but they are fixed in the PS1.7.5.1.
A fix is available in #11814
About the second issue: `access denied`: We are aware of this issue, To fix this issue you need to replace 'ps_access' table in DB with the one from clean PS1.7 installation.
You can, for example, install PrestaShop separately, copy & paste the table ps_

[2019-07-01 11:46] #14434 closed, assigned to nobody

[2019-07-01 11:46] khouloudbelguith commented on #14434
Duplicate of https://github.com/PrestaShop/autoupgrade/issues/100

[2019-07-01 12:08] khouloudbelguith commented on #14439
Hi @mowcixo,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I used this script

[code]

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-01 12:13] khouloudbelguith commented on #14427
@dineshbadrukhiya, thanks for these clarifications.
Now, I manage to reproduce the issue with PS1.7.6.0rc1 & productcomments module v4.0.0.
![image](https://user-images.githubusercontent.com/16067358/60435601-e9a02e00-9c01-11e9-8353-c1aa9a4c46f9.png)

ping @jolelievre what do you think, PR https://github.com/PrestaShop/productcomments/pull/35 created by @dineshbadrukhiya.

Thanks!

[2019-07-01 12:22] ricardofloress opened #14440 "Insert my own Java Script in cms pages!"
Hello how I can I insert my own java script code into cms pages of my template in prestashop?

[2019-07-01 12:24] jolelievre commented on #14427
Nice catch @dineshbadrukhiya
I'll look into your PR

[2019-07-01 12:32] wikao2 commented on #14436
Or "how to transform a simple, free, basic functionality into a gas plant and especially a paying one?" ... Thank you Prestashop Developers
We are (like many of your users) a small company. We do not need a paid on-board ERP module, even if it does what we need.
What we need is something simple and free.
Why not put back the Warehouse feature of version 1.6 of Prestashop and if, it is not enough f

[2019-07-01 12:38] mickaelandrieu opened #14441 "Improving the Developer eXperience while declaring new Controllers"
We could listen to the yaml files of every module, when one file change we could dispatch a clear of the cache so developers wont need to care about it anymore.

[2019-07-01 12:42] PrestaShark commented on #14440
Create simple custom module with:

[code]

[2019-07-01 12:45] ricardofloress commented on #14440
thank you for your response, where I insert that code(in which file)?

[2019-07-01 12:49] ricardofloress commented on #14440
I Have this page in my shop: https://the-skin-clinic.co.uk/content/6-contouring-facial-serum .
I want to insert this code:
        window.onscroll = function () {
            myFunction()
        };

        function myFunction() {
            if (document.body.scrollTop > 270 || document.documentElement.scrollTop > 270) {
                document.getElementById("myContent").className = "Animation

[2019-07-01 12:51] khouloudbelguith commented on #14440
Hi @ricardofloress,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-01 12:51] #14440 closed, assigned to nobody

[2019-07-01 12:58] khouloudbelguith commented on #14441
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-01 13:13] jolelievre commented on #14441
@mickaelandrieu which yaml files are you refering to?

For routing files it is partially managed by the legacy route manager (not sure it is available for the Symfony router, but maybe it's just adding a Resource to check)
For services I believe it is managed by the ContainerBuilder, via the `LoadServicesFromModulesPass` but we can also check it it automatically updates once the file is modified

[2019-07-01 13:44] centoasa commented on #14432
@khouloudbelguith for me this settings are in "other translations"
![Opera Snapshot_2019-07-01_154224_www 100asa it](https://user-images.githubusercontent.com/5500935/60441302-0135e180-9c17-11e9-8ee1-08f7d40c1cbe.png)
and translation are done, but now show on f.o.
![Opera Snapshot_2019-07-01_154302_www 100asa it](https://user-images.githubusercontent.com/5500935/60441339-13178480-9c17-11e9-83e9-eb

[2019-07-01 13:53] khouloudbelguith commented on #14432
@centoasa, you need to check your expression in `Shop > Theme > Global`.

Thanks!

[2019-07-01 13:57] Progi1984 opened #14442 "[Product > Specific Price] Icon on Discount don't change"
**Describe the bug**
On the page Add/Edit product, on the tab Pricing, in the fieldset Specific price, if I change the type of the discount, the icon doesn't change

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add product, to the tab "Pricing", to the fieldset "Specific price"
2. Click on the select €/%
3. The icon "€" before the discount doesn't change

**Screenshots**
Icon "€" OK

[2019-07-01 14:02] khouloudbelguith commented on #14442
Hi @Progi1984,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13382 to fix the issue.
It is added in the next major release PS1.7.7.
Your ticket is a duplicate of #12800
So, I close it.
Thanks!

[2019-07-01 14:02] #14442 closed, assigned to nobody

[2019-07-01 14:02] khouloudbelguith commented on #14442
Duplicate of #12800

[2019-07-01 14:21] centoasa commented on #14432
@khouloudbelguith much, much strange! PLease see my video and let me know what about it:
https://nimb.ws/8lidTw

[2019-07-01 14:21] buttonsbond commented on #14430
Thanks, I notice that the original bug report is August last year -
could you maybe point me at the file responsible and I’ll have a go at
fixing myself (I know a fair bit of SQL/PHP) - I have products I don’t
want my payment processor to see otherwise they won’t provide service to
me!
Thankyou

Mark
------ Original Message ------
From: "khouloudbelguith" <notifications@github.com>
To: "PrestaShop

[2019-07-01 14:35] CaseOnline commented on #12241
Any developer with skills to fix this?
Really important standard feature.

Why upload 20 pictures of a product when customers never can see anything else than attributes, really fucked up.

Another important features wich finally added in 1.7.5 is locations field. Unbelivable merchants can work smooth without it, should be standard for a long time ago. But why hide this important field? Should be

[2019-07-01 14:37] #14423 closed, assigned to nobody

[2019-07-01 14:37] matks commented on #14054
Can you tell us what is wrong with this URL, what it should be instead ?

[2019-07-01 14:42] khouloudbelguith commented on #14421
@nielsverhoeven84, Thanks for your feedback.
Your error log shows only notices in the cache files.
Try to clear cache manually & provide me again the log file.

Thanks!

[2019-07-01 14:43] mickaelandrieu opened #14443 "IpAddressType is not reusable"
and so on cant be reused without pass currentIp through the template

[2019-07-01 14:54] khouloudbelguith commented on #14429
Hi @PeeyushAgrawalWebkul,

Thanks for your report.
Could you please provide me your demo module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
In my case, I tried with "ps_emailsubscription" module, but only one form is always displayed.

Thanks!

[2019-07-01 15:00] khouloudbelguith commented on #14443
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-01 15:09] marionf opened #14445 "Add errors for quantity fields in BO product page"
**Describe the bug**
Product quanity fields in back-office product page is a digital field. Only integers are allowed.

1) When there is more than 10 numbers, an error is displayed “Unable to update settings”, without more informations. It could be good to add an error message under the field "This value is not valid".

2) If you enter a number with decimal (ex 30,5 or 30.5) and save, it says “set

[2019-07-01 15:10] ballashop commented on #14434
Hi @khouloudbelguith thanks to reply me, it was just a local test, can I repeat it with a new version  1.7.5.1 or is it better to follow the fix indicated me at the link?
I didn't understand well how I can I fix it --> in #11814.
I'll take a closer look.
Thanks a lot.

[2019-07-01 15:15] khouloudbelguith commented on #14432
@centoasa, In my case, I tried with "Other translations" => in the FO => It is the same, the translation of this expression is changed only after setting it in the theme translations not other translations.
You need to check the theme author about this issue.
Thanks!

[2019-07-01 15:19] khouloudbelguith commented on #14434
@ballashop, yes, you van upgrade to the PS1.7.5.1.
Also, we have the last stable version PS1.7.5.2.
https://www.prestashop.com/en/previous-versions

Thanks!

[2019-07-01 15:24] mowcixo commented on #14439
Thanks @khouloudbelguith, I'm not sure because I couldn't test it yet, but I think that the exact same thing happens with product_option.

[2019-07-01 15:27] khouloudbelguith commented on #14371
@MarouaniALA, I sent you an email.

Thanks!

[2019-07-01 15:33] centoasa commented on #14432
@khouloudbelguith sorry, I'm very sorry: the translations was in "classic" default theme
Translate it, now all is OK
Many thanks!

[2019-07-01 15:33] #14432 closed, assigned to nobody

[2019-07-01 15:33] khouloudbelguith commented on #14335
@gaecde, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the theme module via your addons.prestashop.com account, they are the only ones to help you with it.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-07-01 15:33] #14335 closed, assigned to nobody

[2019-07-01 15:35] khouloudbelguith commented on #14430
@buttonsbond, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-01 15:35] khouloudbelguith commented on #14361
@ProBackup-nl, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-01 15:36] ballashop commented on #14434
Hi @khouloudbelguith, I saw the video I made of the update, unfortunately the error came out with the 1.7.5.2, here is the screenshot, so I think I will inevitably have to follow the fixed post #11814.
![version](https://user-images.githubusercontent.com/28685316/60448627-4ca3bc00-9c26-11e9-95e1-70c27b338d40.png)
As I have some time I dedicate myself to the solution you indicate me..
Thanks a lot.

[2019-07-01 15:39] khouloudbelguith commented on #14432
@centoasa, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-01 15:42] khouloudbelguith commented on #14434
@ballashop, so, you have also some warnings after upgrade to PS1.7.5.2?

Thanks!

[2019-07-01 15:46] ballashop commented on #14434
Hi @khouloudbelguith,
I wrote all the warning that were showed.
May I send you the log?
Thanks to replay me.

[2019-07-01 15:51] elmanu13 opened #14446 "Price display problem on product page"
When adding a tax rule, the prices displayed on the product pages are now wrong (no more taxes calculated)

**To Reproduce**
Steps to reproduce the behavior:
1. Using only one tax, the french VAT at 20%, based on shipping address
2. Declare 2 tax rules :
-the 20% VAT for France, with postal codes 01000 - 96999
-another rule for postal codes 97000 - 99999 with no tax (to ship in french islands)
3.

[2019-07-01 15:52] khouloudbelguith commented on #14434
@ballashop, you can find the log of your upgrade in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-07-01 15:53] elmanu13 commented on #14446
Just note that the price is correct in the front office. The problem concerns back office only (but a real pain to calculate final public prices

[2019-07-01 15:53] ballashop commented on #14434
Yes, but can I send it to you?
By email?
Thanks a lot.

[2019-07-01 15:54] khouloudbelguith commented on #14434
@ballashop, yes of course.
This is a public space.
You can provide me the log by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-01 15:56] khouloudbelguith commented on #14436
@wikao2, the warehouse functionality was not available at first in 1.7.
You can find this module in our market place addons
https://addons.prestashop.com/en/modules-prestashop/39407-prestashop-erp-suite.html?ab=1

Thanks!

[2019-07-01 15:58] ballashop commented on #14434
Ho, I sent you, thanks a lot.

[2019-07-01 16:00] fred1code opened #14447 "Cannot download language pack "es" PrestaShop v 1.7.6.0 RC 1"
**Describe the bug**
esto ocurre cuando estoy instalado prestashop. se descomprime crea la base de datos, pero  casi al final me manda este error

**To Reproduce**
1. this happens when installing prestashop with either the graphic web installer or using index_clie.php   with a script  bash
2. when doing a very common installation this happens

**Screenshots**
![Captura de pantalla de 2019-06-28 11

[2019-07-01 16:07] khouloudbelguith commented on #14447
Hi @fred1code,

Hello, the error indicates an issue when downloading the "es" language pack, this is probably a temporary network issue, and if you restart the install it should be fine now.

Thanks to check & feedback

[2019-07-01 16:12] khouloudbelguith commented on #14434
@ballashop, thanks!
Did you make an upgrade from PS1.6.1.24 to PS1.7.5.1?

Thanks!

[2019-07-01 16:15] ballashop commented on #14434
Hi @khouloudbelguith,
yes.
Thanks.

[2019-07-01 16:17] khouloudbelguith commented on #14446
Hi @elmanu13,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
https://drive.google.com/file/d/1ksduSEgDAMY305TcBhYw8UMH6BGRB_F9/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-01 16:25] jointsystems commented on #13970
Lost the link to the case.    Though there are payment modules at addons.prestshop.com that support authorize.net none popup in the modules market place in the admin of the actual 1.7.2.5 shop.  Trying to determine which would be best.  The popup chat help was absolutely worthless and none of the developers responded to inquires?  Trying to find out if we have to purchase the module once or for ea

[2019-07-01 16:26] jointsystems commented on #13970
These are the modules for which we received no response from the developers:

From: khouloudbelguith <notifications@github.com>
Sent: Monday, July 1, 2019 7:30 AM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Bib Goetzman <jointsystems@verizon.net>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Whoops, looks like something went wrong after "upgrade" to 1

[2019-07-01 20:18] PierreRambaud commented on #14054
@matks She's talking about the query params `adtoken=...`  which not not appear in the preview

[2019-07-01 22:14] hitinder commented on #10300
Hello StarCod3! How do I apply these changes?
I mean after I make the changes to the code. How can I make sure my Prestashop is using the latest code?

[2019-07-02 04:46] dineshbadrukhiya opened #14448 "missing top-border in text editor on category and brand page"
There is missing top-border in text editor on category and brand page

1. Go to 'BO > Category page > Add category'

See the error as in below screenshot:

**Screenshots**
![3](https://user-images.githubusercontent.com/40850057/60483272-64c11d00-9cb2-11e9-9a20-0058aefb89fd.png)

**Additionnal information**
PrestaShop version: 1.7.6 RC

[2019-07-02 08:01] khouloudbelguith commented on #14448
Hi @dineshbadrukhiya,

Thanks for your report.
ping @matks, @colinegin what do you think?

Thanks!

[2019-07-02 08:05] PierreRambaud commented on #14448
ping @TristanLDD It's design specific

[2019-07-02 08:16] khouloudbelguith commented on #9557
Hi @maofree, @TheElixZammuto,

Any news About this issue?

Thanks!

[2019-07-02 08:18] Maofree commented on #9557
hi
I don't know what to tell you because I don't always have time to check if an error is present in the various versions of prestashop, I don't think for you it is complicated to verify it

[2019-07-02 08:52] khouloudbelguith commented on #9557
Hi @maofree,

I tried to install the module `maofreefeedback` with PS1.7.6.0rc1 => OK.
But in the FO, there is no block to add any feedback.
In the BO => Design => Positions => I don't have any hook transplant to this module
https://drive.google.com/file/d/16anAwKh5Sutuc4eOmZM4RZRciTvrnGXl/view

Thanks!

[2019-07-02 08:56] Maofree commented on #9557
look at this site
https://www.bottiglioni.it/accessori-bagno/
at the bottom you will see the carousel in the homepage, anche it will be present also in the left column on the category pages and in the tab of the product pages
the push on the button to see all feedback and you will find a button to add new feedback
the page is similar to this one
https://www.bottiglioni.it/accessori-bagno/commenti

[2019-07-02 09:01] CelieRenault opened #14451 "Communication between our prestashop store and database"
Hello,

We need to make sure the communication between our prestashop store and our database is natively encrypted.

The database itself is already encrypted but our Security department asks us for a complete encryption of the data throughout the process.

Can you tell us what is available to solve this matter or when you expect something to be available?

Thanks in anticipation.
Best regards.

Cé

[2019-07-02 09:02] khouloudbelguith commented on #9557
@maofree, what the exact version PrestaShop did you use?
Now, in your shop, links of pagination are clickable: https://www.bottiglioni.it/accessori-bagno/commenti

Thanks!

[2019-07-02 09:08] Maofree commented on #9557
ok
I've checked better inside the files
yes I think it is solved
I use this codes

`        // updateQueryString inherited from classes/controller/FrontController.php
        $pagination_data = array(
            'total_items' => $totalItems,
            'items_shown_from' => $itemsShownFrom,
            'items_shown_to' => ($itemsShownTo <= $totalItems) ? $itemsShownTo : $totalItems,

[2019-07-02 09:14] khouloudbelguith commented on #9557
@maofree, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-02 09:14] #9557 closed, assigned to nobody

[2019-07-02 09:16] khouloudbelguith commented on #14451
Hi @CelieRenault,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-02 09:16] #14451 closed, assigned to nobody

[2019-07-02 09:39] colinegin commented on #10054
@MatShir can you confirm this issue can be closed ?

[2019-07-02 09:48] #14394 closed, assigned to nobody

[2019-07-02 09:52] MatShir commented on #10054
Hi @colinegin,
It seems that we can delete form BO the currency but I can't check if it does the behavior specified by @eternoendless. I don't know if you can check @khouloudbelguith to know if it is in the milestone 1.7.6.0

[2019-07-02 09:55] marionf commented on #14090
@khouloudbelguith This issue can be closed if you don't reproduce it ?

[2019-07-02 10:03] khouloudbelguith commented on #14090
Hi, @marionf,

Yes, in my case, I did not manage to reproduce the issue with PS1.7.6.0rc1 & ps_facetedsearch v3.0.5.
![image](https://user-images.githubusercontent.com/16067358/60504182-08adc700-9cb9-11e9-939c-8e34cde386d1.png)

I will close the issue.

Thanks!

[2019-07-02 10:03] #14090 closed, assigned to PierreRambaud

[2019-07-02 10:04] colinegin commented on #10713
@khouloudbelguith do you know if this issue has been fixed in 176 ?

[2019-07-02 10:18] khouloudbelguith commented on #10713
Hi @colinegin,

Yes, it is fixed in the branch 1.7.6.x
![image](https://user-images.githubusercontent.com/16067358/60505105-e4eb8080-9cba-11e9-88f5-9b43e6c0ad25.png)
![image](https://user-images.githubusercontent.com/16067358/60505157-03ea1280-9cbb-11e9-94ff-5cac399a0938.png)

Since it is fixed, I close the issue.

Thanks!

[2019-07-02 10:18] #10713 closed, assigned to nobody

[2019-07-02 10:32] colinegin commented on #14424
@sarahdib can we close this issue as we finally don't have issues with these languages ?

[2019-07-02 10:33] khouloudbelguith commented on #14371
Hi @MarouaniALA,

Your issue is related to cookies.
Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER

[2019-07-02 11:59] sarahdib commented on #14424
@colinegin yes we can close it :)

[2019-07-02 12:00] #14424 closed, assigned to nobody

[2019-07-02 12:02] elmanu13 opened #14454 "Stock page product name wrong when copied"
The list of products in the "stock" page uses the wrong name when the product is copied.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product A and save, then click duplicate
2. the product is named "copy of product A" : rename "Product B", enable and click on duplicate
3. same for "product C" until you're done, click on "go to catalog" : you can see the correct list (product A,

[2019-07-02 12:06] #14041 closed, assigned to nobody

[2019-07-02 12:17] colinegin commented on #14376
Hello @dineshbadrukhiya , can you tell us what is the difference with this issue : https://github.com/PrestaShop/PrestaShop/issues/14377 ?

[2019-07-02 12:28] colinegin commented on #14382
@PierreRambaud what do you think of this suggestion ?

[2019-07-02 12:31] colinegin commented on #14351
What do you think of this suggestion @PrestaShop/prestashop-core-developers ?

[2019-07-02 12:32] khouloudbelguith commented on #14434
@ballashop, thanks for your feedback.
I did not manage to reproduce the issue after upgrade from PS1.6.1.24 to PS1.7.5.1 using the 1-click upgrade v4.8.0.
Here's my log file
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3350012/log.txt)

I tried also with the 1-click upgrade from PS1.6.1.24 to PS1.7.6.0.rc1 => OK => no warnings.

Thanks!

[2019-07-02 12:34] manuman94 commented on #14351
I can't see your link, I get a 404 error.

Greetings

[2019-07-02 12:40] dineshbadrukhiya commented on #14376
@colinegin collapse icon and facet title are not aligned.

[2019-07-02 12:51] khouloudbelguith commented on #14454
Hi @elmanu13,

I did not manage to reproduce the issue with PS1.7.6.0rc1 & PS1.7.5.2.
https://drive.google.com/file/d/10UVA6nxPa4qqVKw98RsWxdmtEWGTiie6/view
Did you use multilanguage?
Did you edit the product's name with the same language as the employee?
![image](https://user-images.githubusercontent.com/16067358/60513898-34887700-9cd0-11e9-864e-9f8e9f7aefc1.png)

Thanks!

[2019-07-02 13:00] #9914 closed, assigned to nobody

[2019-07-02 13:00] matks commented on #9914
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14263

[2019-07-02 13:11] ballashop commented on #14434
hi @khouloudbelguith
I'll try again with PS 1.7.6.0.rc1
I'll write back asap, thanks a lot.

[2019-07-02 13:14] khouloudbelguith commented on #14434
@ballashop, thanks!
Waiting for your feedback.
You can use the channel "Local archive".

- install the autoupgrade module
- Download the zip of PrestaShop 1.7.6.0rc1
- Put it in the folder admin / autoupgrade / download
- in the configuration page of the module select "local archive" as a channel
- Specify the version to which we are upgrading (example: 1.7.6.0)
- Launch the upgrade

Thanks!

[2019-07-02 13:17] khouloudbelguith commented on #9521
Hi,

I have the same issue branch 1.7.6.x.
https://drive.google.com/file/d/1y8_IAUw7juuDgjNNRVupPKlczBFCSR2x/view

Thanks!

[2019-07-02 13:18] seederp2p opened #14455 "Link List Module Error 500"
Go to Modules
Configure Link List Module.
Configure a list and click save
You'll get this error:

Symfony\Component\Debug\Exception\
FatalThrowableError
in modules/ps_linklist/src/Form/LinkBlockFormDataProvider.php (line 294)
     * @throws \PrestaShopException     */    private function updateHook($hookId)    {        $hookName = Hook::getNameById($hookId);        $module = $this->moduleRepositor

[2019-07-02 13:23] khouloudbelguith commented on #14455
Hi @seederp2p,

I did not manage to reproduce the issue with PS1.7.5.2 & the Link Widget module v3.0.4.
I attached a video record
https://drive.google.com/file/d/1HS9eqMBZ7KYJHIlw03GU4C6-xP64FRNJ/view
What is the exact version of the link widget did you use?

Thanks!

[2019-07-02 13:34] ProBackup-nl opened #14456 "Send email in text format -> no text only logo file visible in message"
**Describe the bug**
Text content of sent email messages are not visible in Thunderbird, only the logo file. In view source the message text part is visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[BO] > Advanced Parameters > E-mail'
2. Choose 'Send email in text format' and 'Use PHP's mail() function (recommended; works in most cases)'
3. Configure a logo in '[BO] Design > T

[2019-07-02 13:34] seederp2p commented on #14455
Hi!

I'm using 3.0.4

[2019-07-02 13:41] khouloudbelguith commented on #14455
@seederp2p, did you make an upgrade of this module from a previous version?

Thanks!

[2019-07-02 13:45] khouloudbelguith commented on #9612
Same issue with Branch 1.7.6.x
https://drive.google.com/file/d/1qw2sr064JUKhV1i4BFrHyO9xbem-6apA/view
Thanks!

[2019-07-02 13:55] khouloudbelguith commented on #9649
Hi,

This issue should be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9548

Thanks!

[2019-07-02 13:55] #9649 closed, assigned to nobody

[2019-07-02 13:55] khouloudbelguith commented on #9649
Duplicate of #9548

[2019-07-02 14:01] elmanu13 commented on #14454
Hello,
Only one language configured : french
But one important stuff I didn't tell : it's a dematerialized product, not a classic or a pack

[2019-07-02 14:35] khouloudbelguith commented on #14456
Hi @ProBackup-nl,

I did not manage to reproduce the issue with PS1.7.6.0rc1 & the PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/60519192-f775b200-9cda-11e9-87a8-a88244bde9df.png)
![image](https://user-images.githubusercontent.com/16067358/60525336-13cb1c00-9ce6-11e9-8a92-91e2e1e65ab9.png)

Could you please provide us with more info? We need more details to understand how

[2019-07-02 14:47] PierreRambaud commented on #14382
I don't know why they removed this behavior in 1.7, but we can restore it in the 1.7.7, it will not take long

[2019-07-02 15:36] khouloudbelguith commented on #14454
@elmanu13, thanks for your feedback.
I tried with a virtual product & it is OK.
https://drive.google.com/file/d/1u1wENxnfeDhB6StZvWk81dLqgrYlv5nN/view
Thanks!

[2019-07-02 16:10] matks commented on #14451
@CelieRenault There is no problem for PrestaShop to use a secured connection to mysql. But most of the work to do is database configuration, which PrestaShop does not control.

See for examples
- https://dev.mysql.com/doc/refman/5.5/en/using-encrypted-connections.html
- https://dev.mysql.com/doc/refman/5.5/en/using-encrypted-connections.html

[2019-07-02 16:17] ProBackup-nl commented on #14456
@khouloudbelguith Your message printscreen shows html formatting. Did you set `[BO] > Advanced Parameters > E-mail > (⬤) Send email in text format`?

[2019-07-02 16:26] ProBackup-nl commented on #14456
Choosing text format out of the options (html/text/both) results in not wishing to send an alternative format of the content. Therefore using "`multipart/alternative`" is already a problem in my opinion. Only use "`multipart/mixed`" (text with attachments) in such case. Not wrapped inside "`multipart/alternative`".

[2019-07-02 16:29] matks commented on #14443
@mickaelandrieu what do you mean by "is not reusable" ?

[2019-07-02 16:49] seederp2p commented on #14455
I don't remember. But I did upgrade the store from 1.7.5.1 to 1.7.5.2...

[2019-07-02 20:00] MathiasReker opened #14457 "Critical bug at checkout"
**Describe the bug**
Payment modules is loading long time because of validation. Tested with both bankwire and check. Please check screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Checkout'
2. Click on 'Accept payment'
3. Wait 10-20 sec before the screen update
4. See error and loadtime in console

**Screenshots**
![3](https://user-images.githubusercontent.com/26626066/605

[2019-07-02 20:03] MathiasReker commented on #14457
Payment modules is loading long time because of validation. Tested with both bankwire and check. Please check screenshots.

[2019-07-02 20:35] MathiasReker commented on #14457
Solved. Sorry, it was due to bad server settings.

[2019-07-03 08:09] MathiasReker commented on #14457
I just tried with another clean install. Same issue.

![image](https://user-images.githubusercontent.com/26626066/60574777-7ff75f80-9d7a-11e9-8530-b9684ac2df8f.png)
![image](https://user-images.githubusercontent.com/26626066/60574858-a917f000-9d7a-11e9-96c2-fd6f83717e9d.png)

[2019-07-03 08:36] LouiseBonnard commented on #14337
@jolelievre, do you think it will be possible for us to modify the title of some emails in the next version?

[2019-07-03 08:48] jolelievre commented on #14337
@LouiseBonnard sure it can be done, too bad I didn't see this issue last week we could have integrated it in the 176

[2019-07-03 09:01] mickaelandrieu commented on #13501
this affects me and probably you (your training module).

But above all, we could easily avoid this BC break by introducing back the setter injection and making it deprecated and removed for the next major: what the hurry now to break stuff for no functional reason?

[2019-07-03 09:07] khouloudbelguith commented on #14050
Hi @loran-a,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-03 09:07] #14050 closed, assigned to nobody

[2019-07-03 09:09] #9667 closed, assigned to Progi1984

[2019-07-03 09:09] matks commented on #9667
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14452

[2019-07-03 09:10] MathiasReker commented on #14457
I tried to debug the issue, but I am stock. On my production server (Linux / LiteSpeed) $total return 0.0? Maybe it is the problem?
![5](https://user-images.githubusercontent.com/26626066/60579155-d36dab80-9d82-11e9-8873-65d1fa5c21b4.png)

And on my localhost running Windows / Apache on laragon, the $total is returned correct.

I use exactly the same PrestaShop settings (clean install).

[2019-07-03 09:14] #12835 closed, assigned to Progi1984

[2019-07-03 09:14] matks commented on #12835
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14450

[2019-07-03 09:17] khouloudbelguith commented on #14455
@seederp2p, could you please try to uninstall the link widget module with removing the folder & install it again from the Module Catalog page.
You need to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-03 09:18] khouloudbelguith commented on #14447
Hi @fred1code,

Any news about your issues?

Thanks!

[2019-07-03 09:42] khouloudbelguith commented on #14457
Hi @MathiasReker,

I did not manage to reproduce the issue with PS1.7.6.0rc1 & the bank wire module.
https://drive.google.com/file/d/1fI4A5wZfu5abk8xEMeOO7YlWab-KO6EH/view
I used:

- Server information Linux #1 SMP Debian 3.16.51-3 (2017-12-13) x86_64
- Server software version: Apache/2.4.10 (Debian)
- PHP version: 7.0.33-1~dotdeb+8.1

I used also "Swedish Krona" currency & 	Svenska language & it

[2019-07-03 09:48] MathiasReker commented on #14457
I got the same issue on both bankwire and check module. I think it is a core related issue.

Can you please try here: http://reker.dk/PS/

You can try with any product. I did just try with default installed products.

I use danish language with currency DKK / kr.

[2019-07-03 09:53] khouloudbelguith commented on #14457
@MathiasReker, I tried with your shop & it is OK.
https://drive.google.com/file/d/1lORjXPion4tdMREo1O-olBi76QroLzJ7/view
Thanks!

[2019-07-03 09:58] Esmoof commented on #10353
Prestahop 1.7.5.2 PHP 7.1.28 theme Classic
I also have the same problem when I customize the classic theme. The same error is reproduced.

[Mon Jul 01 07:52:57.419870 2019] [pagespeed:error] [pid 2909:tid 140661738968832] [mod_pagespeed 1.13.35.2-0 @2909] PageSpeed Serf fetch failure rate extremely high; only 0 of 32 recent fetches fully successful; is fetching working?
[Mon Jul 01 08:26:03.072431

[2019-07-03 10:02] fredNativ opened #14461 "Order with 2 cart rules (Offers free shipping)"
Hi, In prestashop 1.7.5.1.
When i make a order with 2 reduction with offers shipping), the total is OK. Prestashop is offering only shipping 1 time but the reduction is false (The shipping is offer 2 times)
<img width="1396" alt="Capture d’écran 2019-07-03 à 11 59 06" src="https://user-images.githubusercontent.com/46342662/60583091-60683300-9d8a-11e9-8fd2-38e56b2186d6.png">

[2019-07-03 10:05] marionf opened #14462 "[EPIC] Add a modal to confirm or cancel delete in bulk actions"
**Describe the bug**
Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action and remove the other one

**Third part to do during the migration of each pages from 1.7.7**
Pages not yet migrated for which it must be added:
- [ ] Orders > Carts
- [ ] Catalog > Attributes
- [ ] Catalog > Features
- [ ] Catalog > Discounts > Cart rules
- [ ] Catalog > Discounts

[2019-07-03 10:05] marionf commented on #14462
@matks FYI

[2019-07-03 10:06] MathiasReker commented on #14457
@khouloudbelguith in your video you can see the validation is loading 10 seconds. It should be less than 1 second.

If you double click on the validation request you will be redirected to the exception.

[2019-07-03 10:10] khouloudbelguith commented on #14461
Hi @fredNativ,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11722
So, I close it.
Thanks!

[2019-07-03 10:10] #14461 closed, assigned to nobody

[2019-07-03 10:10] khouloudbelguith commented on #14461
Duplicate of #11722

[2019-07-03 10:12] TamasFelix commented on #10353
Now it works, the problem was from mail alert extension.
https://www.kiwigym.ro/aminoacizi/gaspari-nutrition-aminomax-8000-350-tabl
![8000](https://user-images.githubusercontent.com/50567469/60583736-3ddb1780-9d94-11e9-8af1-27413342494a.JPG)

[2019-07-03 10:17] Klemart3D commented on #12933
What about "config/themes/THEME/shop*.json" file?

[2019-07-03 10:22] khouloudbelguith commented on #14457
@MathiasReker, this PR: https://github.com/PrestaShop/PrestaShop/pull/9373 prevent users from double click on the Payment button.
So, I cannot click twice on this button.
https://drive.google.com/file/d/13mJEyEVhYAVgKgD6_2dp0hwufht-or-V/view

Thanks!

[2019-07-03 10:41] MathiasReker commented on #14457
@khouloudbelguith Please check this video: http://reker.dk/validation.webm

[2019-07-03 10:45] marionf opened #14463 "Improve the creation of a category from the product page"
**Describe the bug**
When you create a new category, invalid characters are: <>;=#{}
If you enter an invalid character and save, you have no errors and the category isn't created.

When you save, if your category name contains an invalid character, an error message under the field should be displayed: "This value is not valid."

[2019-07-03 10:49] khouloudbelguith commented on #14456
@ProBackup-nl, thanks for your feedback.
Yes, you are right, I have the same issue with PS1.7.5.2 & PS1.7.6.0rc1.
I tried with different email: Welcome module, order confirmation email=> only the logo is displayed.
![image](https://user-images.githubusercontent.com/16067358/60585854-93112c00-9d88-11e9-9136-40855c1c6ace.png)
![image](https://user-images.githubusercontent.com/16067358/60586020-074bc

[2019-07-03 11:19] idnovate opened #14464 "Summary not refreshed in checkout"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 cart rules with **COUPON CODE**, for example TEST 1 and TEST2
2. Add a product to the cart and go to the cart.
3. Add **TEST1** coupon.
4. Go to **checkout** page.
5. Add **TEST2**. New detail line is added but **discount amount is not refreshed**:
![image](https:

[2019-07-03 12:13] khouloudbelguith opened #14465 "Add new order page - The Cart rule modal is not closed"
**Describe the bug**
In the BO => Orders => Add new order page, when we try to add a new voucher, the cart rule modal is not closed after clicking on the "Save button", a new window of the BO is still opened.

With PS1.7.5.2 => OK
1.7.6.0beta => OK
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Orders => Add new order page
2. Add a product
3. Click on "Add new voucher"
4. Click o

[2019-07-03 12:29] sarahdib commented on #14457
hello @MathiasReker

Thank you for your feedback.

Did you reproduce this bug on PS 1.7.5.2 ?

[2019-07-03 12:30] khouloudbelguith commented on #14465
The same issue with "Add New Address" / "Edit" Address

[2019-07-03 12:51] LouiseBonnard commented on #14337
Both the wording and the design of the PrestaShop emails have been improved in 1.7.6, it is the modern theme template but I can see improvements that could still be made:

- replace _login details_ with _login email address_ inside the **account** email
- replace the _Go to your customer account to learn more about it._ wording inside the frame to keep consistency between both **order_canceled** a

[2019-07-03 12:59] khouloudbelguith commented on #14464
Hi @idnovate,

I did not manage to reproduce the issue with ps1.7.6.0RC1.
I attached a video record.
https://drive.google.com/file/d/1DvmAdMJCH4MqV61MRX4AxxylVMINt7Tv/view
Thanks to check & feedback.

[2019-07-03 13:04] MathiasReker commented on #14457
@sarahdib I will create a 1.7.5.2 shop on the server, so I can compare. I be back with more info later.

[2019-07-03 13:20] LouiseBonnard commented on #14462
@marionf, I think one global wording is better. Something like:

_Delete selection_
_Are you sure you want to (permanently) delete all selected items?_

Another thing is that it is currently possible to perform a bulk action with only one item selected. Do we want to keep this behavior? If yes, the wording should be adapted, like _Are you sure you want to delete the selected item(s)?_.

[2019-07-03 13:28] Quetzacoalt91 commented on #14457
Hi @MathiasReker, what country and language did you chose when installing PrestaShop?

[2019-07-03 13:28] MathiasReker commented on #14457
@sarahdib same issue on 1.7.5.2: http://reker.dk/1752

@Quetzacoalt91 Country: Denmark, language; Danish

[2019-07-03 13:30] MathiasReker commented on #14457
@Quetzacoalt91 I can give you access to my live test-server if you need a litespeed server to test it on?

[2019-07-03 13:37] Quetzacoalt91 commented on #14457
That's really weird, I tried on your shop and everything went fine:

![image](https://user-images.githubusercontent.com/6768917/60596059-1c802880-9da0-11e9-8ae1-5d29919e31d7.png)

[2019-07-03 13:38] PierreRambaud commented on #14457
Same for me
![image](https://user-images.githubusercontent.com/1462701/60596094-92888d80-9da8-11e9-907a-cf2991fe689b.png)

Try to clear your browser cache, even for cookie ? :thinking:

[2019-07-03 13:41] MathiasReker commented on #14457
Yes, it went fine. But did it took 10-20 sec for the validator request?

[2019-07-03 13:46] sarahdib commented on #14457
The same for me
![image](https://user-images.githubusercontent.com/3034677/60596557-949f1c00-9da9-11e9-84cb-a79fa9b02ad1.png)

[2019-07-03 13:47] MathiasReker commented on #14457
@PierreRambaud @Quetzacoalt91 When I do exactly the same on localhost (windows / Apache) my loadtime is less than 1 second. Please check this video: http://reker.dk/localhost.webm
So I think it is weird that this request takes 10 second on the production server (linux / LiteSpeed enterprise), when everything else on the production server is running fast.

[2019-07-03 13:50] MathiasReker commented on #14457
Just to clarify: The redirection to order confirmation works, but the validation is taking 10-20 seconds. The load-time is the issue.

[2019-07-03 14:09] idnovate commented on #14464
Hi @khouloudbelguith!

I thought I was running PS 1.7.6.0RC1 but it was Beta 1, and here is the bug fixed: https://github.com/PrestaShop/PrestaShop/commit/0f566a4ca699e4457ce9ed105bf9d2fd9517749b

[2019-07-03 14:09] #14464 closed, assigned to nobody

[2019-07-03 14:13] eternoendless commented on #10054
Verified ok

[2019-07-03 14:13] #10054 closed, assigned to nobody

[2019-07-03 14:23] sarahdib commented on #14457
@MathiasReker
It seems to be related to your production configuration since in local the loadtime is less than 1 second and 4 persons did not reproduce the bug we will close the issue.

[2019-07-03 14:23] #14457 closed, assigned to nobody

[2019-07-03 14:27] Klemart3D commented on #9660
When this issue will be fixed? Will we be able to reorder partially (with only available products of the old order, like Magento can do)?

[2019-07-03 14:28] LouiseBonnard commented on #14337
Oh and, @colinegin, you did have a remark about the wording in the footer (when it is said _powered by PrestaShop_), right?

[2019-07-03 14:38] khouloudbelguith commented on #9660
Hi @Klemart3D,

Sorry, it is not fixed yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-07-03 14:39] khouloudbelguith commented on #14464
@idnovate, thanks!
Feel free to open a new one when needed.

[2019-07-03 15:39] khouloudbelguith commented on #13015
Hi,

Here's the PR: https://github.com/PrestaShop/gamification/pull/61 to fix the issue.

Thanks!

[2019-07-03 15:39] #13015 closed, assigned to nobody

[2019-07-03 15:40] khouloudbelguith commented on #14465
Here's the PR: https://github.com/PrestaShop/gamification/pull/67 to fix the issue.

[2019-07-03 15:40] #14465 closed, assigned to matks

[2019-07-03 16:50] elmanu13 commented on #14454
Can you have a try by using the "duplicate" button on the product page ?
https://drive.google.com/file/d/1zh9gKTKyAskm6TCj-JPhvluOeDzNj6HL/view

[2019-07-03 17:21] 202-ecommerce opened #14470 "Regression on translations with multiple includes of partials template on FO"
**Describe the bug**

We found a bug regression explain on this commit comment.

https://github.com/PrestaShop/PrestaShop/commit/f91ef20e86308ff7e6087f5e5130d44c0a8ff842#r34174985

**To Reproduce**

You nee to have a theme with a template

* registration.tpl
[code]

* mymodule/views/templates/front/_partials/credentials-form.tpl
[code]
{l s='First name' mod='mymodule'} will not be transalated. The

[2019-07-03 17:21] ghost opened #14471 "Faceted search v306 can't update price reindex result: empty categories without products"
<img width="486" alt="Schermafbeelding 2019-07-03 om 19 20 28" src="https://user-images.githubusercontent.com/2944981/60611919-c9ba6700-9dc7-11e9-9647-6e62149e0639.png">

PrestaShop 1.7.5.2

[2019-07-03 17:25] Interdeportes opened #14472 "Error en el transportistas, se borra los valores según el peso."
El error consiste que cuando ingreso los valeres del transportista, en mi caso Envía, se guardan común mente, pero con el tiempo se borran los valores según el peso. Ya es molesto, pues me ha sucedido varias veces, necesito con urgencia pronta respuesta.

PrestaShop version: 1.7

[2019-07-03 18:19] frankymartinES commented on #14281
Hi, I have updated to last version v3.0.6 but the error continue. And I found another, en 2 shops of my multistore the module is not showed in the right column after activate. I have check that the module is set in that hook. Could i give you acces to my backoffice?

[2019-07-03 18:22] frankymartinES commented on #14281
@khouloudbelguith forgot about the second error!! It is solved. But the main problem is that the default combination is not showed in few products.

[2019-07-03 18:52] sparc commented on #13437
I had the same problem and was due to sql_mode having ONLY_FULL_GROUP_BY

[2019-07-03 19:31] PierreRambaud commented on #14470
Hi and thanks for the explanation.

I'm not able to reproduce:

I edit my theme and include:
[code]

then create both file with:
[code]

And in my BO I have:
![image](https://user-images.githubusercontent.com/1462701/60619844-d8aa1500-9dd9-11e9-87f8-a46e7012bf04.png)

I'm testing on the latest 1.7.6, did I do something wrong? :thinking:

[2019-07-03 19:55] 202-ecommerce commented on #14470
First, template test2 need be included on test.tpl

Translations are not same on all template, put some translated string after included test2.tpl on test.tpl. You can add other translations on test2.tpl.

On your backoffice, it will be ok, you can change your translation.

But on frontoffice, translations on test2.tpl will be ok but test.tpl will be ko.
On your php translation file fr.php, you wi

[2019-07-03 22:52] BenTen opened #14474 "Order page: Change Address, shipping modified to 0"
Hi github team,

In Order page, there is shipping address part where we can see or change the address.

When I change the address of a customer (from his listing), the shipping cost of the order is modify to 0.

Please notice, the city, states and country are the same for each address.

--
php 7.2
ps 1.7.5.0

[2019-07-04 00:08] ghost commented on #14433
/admin/themes/new-theme/public/catalog_product.bundle.js

Change from .datetimepicker({format:"YYYY-MM-DD"})
to .datetimepicker({format:"YYYY-MM-DD HH:mm:ss"})

[2019-07-04 06:14] nielsverhoeven84 opened #14475 "Prices with VAT not calculated/displayed properly when not logged in"
All prices are displayed without VAT for users that aren't logged in.

The shop is set up wilth multi store:
- The first shop has no problem with prices
- The second shop is showing prices without VAT if not logged in.

I've already checked the groups settings and they are the same for both stores.

**Additionnal information**
PrestaShop version: 1.7.5.2
PHP version: 7.2

[2019-07-04 06:17] nielsverhoeven84 commented on #14421
hello @khouloudbelguith, is there a way to increase the log level? even after clearing the cache folders I only see notices.

[2019-07-04 07:05] marionf commented on #14462
Yes, I think we can keep this behavior for now

[2019-07-04 07:39] khouloudbelguith commented on #14433
Hi @PrestaShark,

Your ticket is a duplicate of #11329
So, I close it.
Thanks!

[2019-07-04 07:39] #14433 closed, assigned to nobody

[2019-07-04 07:40] khouloudbelguith commented on #14433
Duplicate of #11329

[2019-07-04 07:40] khouloudbelguith commented on #11329
Hi,

New suggestion by @PrestaShark,
`/admin/themes/new-theme/public/catalog_product.bundle.js`

Change from `.datetimepicker({format:"YYYY-MM-DD"})`
to `.datetimepicker({format:"YYYY-MM-DD HH:mm:ss"})`

Thanks!

[2019-07-04 07:46] khouloudbelguith commented on #14472
Hi @Interdeportes,

Thanks for your report.
Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2019-07-04 07:49] khouloudbelguith commented on #14471
Hi @sdwebdesign,

I did not manage to reproduce the issue with PS1.7.5.2 / PS1.7.6.0rc1 & ps_facetedsearch v3.0.6.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to

[2019-07-04 08:01] khouloudbelguith commented on #14474
Hi @BenTen,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I attached a screen record.
https://drive.google.com/file/d/11IEU4_c6WXYs9vZtLNpRmbxU7blS7imM/view
Thanks to check & feedback.

[2019-07-04 08:01] ghost commented on #11329
/src/PrestaShopBundle/Form/Admin/Product/ProductSpecificPrice.php

to

[code]

from

[code]

[2019-07-04 08:12] PrestaShark commented on #11329
@matks to get only Hours and Minutes we also need to change isDateFormat function otherwise it wont let to add only YYYY-MM-DD HH:mm

from

[code]
to

public static function isDateFormatSpecificPrice($date)
    {
        return (bool) preg_match('/^([0-9]{4})-((0?[0-9])|(1[0-2]))-((0?[0-9])|([1-2][0-9])|(3[01]))( [0-9]{2}:[0-9]{2})?$/', $date);
    }

[2019-07-04 08:19] khouloudbelguith commented on #14475
Hi @nielsverhoeven84,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I attached a screen record.
https://drive.google.com/file/d/1hBHO8aeyReNqkVdKbwwC4oBtHvT1PRZ7/view
Thanks to check & feedback.

[2019-07-04 08:21] khouloudbelguith commented on #14045
Hi @msautral,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-04 08:21] #14045 closed, assigned to nobody

[2019-07-04 08:22] khouloudbelguith commented on #14067
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-04 08:22] #14067 closed, assigned to nobody

[2019-07-04 08:28] ghost commented on #11329
Works fine but with style slitches. For me its not a problem. Now i can wait calm for official implementation in 1.7.7

![time](https://user-images.githubusercontent.com/8243273/60651346-4e4bca80-9e46-11e9-8c4c-c27565d7c415.png)

[2019-07-04 08:32] marionf opened #14477 "Improve image part in product page"
**Describe the bug**
When you add an image caption, invalid characters are: _<>=#{}_ and you are limited to maximum 128 characters.
If you enter an invalid character or more than 128 chars and save, you have no errors and the caption isn't added.

1. When you save, if your caption contains an invalid character, an error message under the field should be displayed: "This value is not valid."

2. If

[2019-07-04 08:37] LouiseBonnard commented on #14462
@marionf, alright. In this case, let's write:

_Delete selection
Are you sure you want to delete the selected item(s)?_

[2019-07-04 08:44] 01park opened #14479 "automatic indexing of products - Multistore - not working 1.7.5.2"
I noticed that after saving or adding a productpage  the automatic index for the search does not work. Its necessary to click on : Add missing products to the index

Example before saving a product page:

<img width="1096" alt="Screenshot 2019-07-04 at 09 33 42" src="https://user-images.githubusercontent.com/46492443/60652868-db8c2080-9e40-11e9-9723-02431534dadf.png">

<img width="624" alt="Screen

[2019-07-04 09:02] khouloudbelguith commented on #14479
Hi @01park,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.rc1.
I attached a screen record
https://drive.google.com/file/d/1YpxXy4ioCybZZm_pX4Y0x52S65QtTQni/view
Did you add those products throw the import age?

Thanks!

[2019-07-04 09:08] khouloudbelguith commented on #14281
@frankymartinES, in the BO => Shop Parameters => Product Settings => the option "Display unavailable product attributes on the product page" is enabled or disabled?

Thanks!

[2019-07-04 09:13] 202-ecommerce commented on #14470
@PierreRambaud We found today that in some case we need `$smarty->source->name` and in other case with included `$smarty->template_resource` to return the good current template name.

We will be back with new investigation in a few moment...

[2019-07-04 09:16] PierreRambaud commented on #14470
@202-ecommerce Really thanks for your feedback, I was completly stuck ^^'
I'm still trying to reproduce.

[2019-07-04 09:26] khouloudbelguith commented on #14421
@nielsverhoeven84,  you can check the PHP error logs. If you don't have it, you should ask your hosting provider.

Thanks!

[2019-07-04 09:27] 01park commented on #14479
Hi khouloudbelguith,

We add products with multistore on ALL SHOPS. The index does not work after adding a product, but also once a product is saved is not update. I tried adding a product to an individual store ( shop 1 ) and one to shop 2. Same result.

I'm looking forward to 1.7.6. maybe the problem is fixed after this update, if not I'll report back to you.

[2019-07-04 09:28] frankymartinES commented on #14281
@khouloudbelguith it is enabled because if I disable it the client can´t change the combination in product page. But I test it and after disable that option the error continue.

[2019-07-04 09:29] khouloudbelguith commented on #14479
@01park, I tried with "All shops" also & it is OK.
https://drive.google.com/file/d/15k_c4ymqOosvmOt3fqgHqW9anFszf9xX/view
Thanks!

[2019-07-04 09:36] khouloudbelguith commented on #14281
@frankymartinES, I tried with PS1.7.5.2 again & the ps_facetedsearch module v3.0.6 => but it is OK.
The default combination is well displayed.
![image](https://user-images.githubusercontent.com/16067358/60656575-93bcc780-9e47-11e9-84e4-01d4e40f2056.png)
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-07-04 09:40] 01park commented on #14479
Thank you for now

[2019-07-04 09:41] khouloudbelguith commented on #14454
@elmanu13, it is OK.
https://drive.google.com/file/d/1GVq5kbK3OqhqHxcb47LIjpMYUrSRd_x9/view
I tried with one language => French => but I did not manage to reproduce the issue as you can see in my screen record.

Thanks!

[2019-07-04 09:43] khouloudbelguith commented on #14479
@01park, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2019-07-04 09:50] matks opened #14480 "[SF Migration] Cover all CommandHandlers and QueryHandlers by behat tests"
Type: tech-issue

We need to cover all CommandHandlers and QueryHandlers by behavior (behat) tests.

This is important because **this is actually the legacy behavior that is being tested**. So providing tests for them will
- increase the legacy code coverage
- allow us later to remove the legacy code with a safety net to make sure we do not introduce regressions

Here's the list, as of the 4th of

[2019-07-04 09:52] matks commented on #14480
Note: aaaaand we should test these usecases also in multishop 😄

[2019-07-04 09:59] nielsverhoeven84 commented on #14421
@khouloudbelguith nothing shows up in the error logs concerning the admin pages

[2019-07-04 10:05] nielsverhoeven84 commented on #14475
Hello @khouloudbelguith,

For every customer group (for my store group and each individual store) it shows `inclusief belasting`, the value of that option is `0`.

[2019-07-04 10:11] khouloudbelguith commented on #14475
@nielsverhoeven84, for the customer group, the Price display method is "Tax included" as described in this screenshot
![image](https://user-images.githubusercontent.com/16067358/60659008-4000ad00-9e4c-11e9-81f9-9c385f4ad898.png)
What is the exact option which has 0 as a value?

Thanks!

[2019-07-04 10:13] khouloudbelguith commented on #14421
@nielsverhoeven84, could you please navigate to your BO => Advanced Parameters => Performance, Enable the "Disable all overrides" option, clear cache, check & feedback.

Thanks!

[2019-07-04 10:17] nielsverhoeven84 commented on #14475
@khouloudbelguith

The HTML is:
[code]

0 is including taxes, but that is only working on the first store

[2019-07-04 10:19] nielsverhoeven84 commented on #14421
@khouloudbelguith that is already enabled

[2019-07-04 10:22] khouloudbelguith commented on #14475
@nielsverhoeven84, yes, about the HTML, it is normal =>

- Value 1 => for the `Tax excluded`
- Value 0 => for the `Tax included`

![image](https://user-images.githubusercontent.com/16067358/60659669-e0a39c80-9e4d-11e9-967c-e40e8f21dffd.png)
About your issue, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-07-04 10:25] khouloudbelguith commented on #14421
@nielsverhoeven84, It could be an issue related to your database like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
The solution is to check & add the missing columns to your database schema.
You can find the full schema for 1.7.5.2 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql

Thanks!

[2019-07-04 10:32] 202-ecommerce commented on #14470
@PierreRambaud

Here you can find a sample module to see the bug. I hope helpfull !

[issue.zip](https://github.com/PrestaShop/PrestaShop/files/3358893/issue.zip) >>> Edit: do not consider this version

[2019-07-04 10:37] 202-ecommerce commented on #14470
Sorry, little mistake on the previous module

[issue.zip](https://github.com/PrestaShop/PrestaShop/files/3358912/issue.zip)

[2019-07-04 11:13] khouloudbelguith commented on #14470
Hi @202-ecommerce,

I did not manage to reproduce the issue.
I use this theme including your module.
[mythem.zip](https://github.com/PrestaShop/PrestaShop/files/3359011/mythem.zip)
https://drive.google.com/file/d/1cSouX1FUpqJtk5r_8--IgW5NENtALfix/view
Thanks to check & feedback.

[2019-07-04 11:41] 202-ecommerce commented on #14470
The bug is not in backoffice but in front office.

I forget to send you a frontoffice controller URL to test:
http://your-domain.com/module/issue/custom

[2019-07-04 11:49] nielsverhoeven84 commented on #14421
I can't find major differences, I've attached the structure of my db
[db_dump.sql.zip](https://github.com/PrestaShop/PrestaShop/files/3359123/db_dump.sql.zip)

[2019-07-04 12:02] Noido opened #14482 "https bug"
Hi i have a problem in http no problem but in https problem

I create a menu link https://mysite.com/connexion?back=my-account&type=seller
in navbar i got my menu with good link but when i click i am redirige to
https://mysite.com/connexion?back=my-account

So its a problem But in http no problem he go to

http://mysite.com/connexion?back=my-account&type=seller

Can you help me thanks

[2019-07-04 12:07] khouloudbelguith commented on #14421
Hi @nielsverhoeven84,

Yes, it seems that there is no difference.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Tha

[2019-07-04 12:07] #14421 closed, assigned to nobody

[2019-07-04 12:33] marionf opened #14483 "Improve feature fields in product page"
When you add a customized value for a feature, invalid characters are: _<>=#{}_ and you are limited to maximum 255 characters.
If you enter an invalid character or more than 255 chars and save, you have no errors and the feature isn't added.

1. When you save, if your customized value contains an invalid character, an error message under the field should be displayed: "This value is not valid."

2

[2019-07-04 12:41] ghost opened #14484 "Prestashop 1.7.5.2 Several Security problem with folders permissions 777 & 666"
After upgrading prestashop 1.6 To 1.7.5.2
**a big problem appears and touch the security of prestashop with 1.7.5.2 and file permission**

### Adding a module zip by admin, **file permission is 777 & 666**
### **Updating a module in listing file** **receive permission is 777 & 666**
**Upload a theme as zip** all theme for 1.7 flies and folder receive permission is 777 & 666
**update or clear cache

[2019-07-04 12:43] MathiasReker commented on #14484
You can run my module to fix permissions: https://github.com/MathiasReker/filepermissions

[2019-07-04 12:50] matks commented on #14484
Hi @didjou this issue has been fixed by https://github.com/PrestaShop/PrestaShop/pull/12124 .

You can read the pull request to understand why the system was like this before and why it has changed, but I can summarize it like this:
"Before, PrestaShop was open by default and required shop admins to protect it because we know that some of our users do not have either knowledge or capabilities to m

[2019-07-04 12:52] ghost commented on #14484
Thank mathias i have it but please understand this is not secure and we need to do if we made clear cache adding a new picture, etc .. etc ... so it help but it's not a stable solution

and this is not possible to have this problem and must have a module to resolve a temporary the problem because it appears each time modification as a little part

So thank you for your work and the module who's he

[2019-07-04 12:56] ghost commented on #14484
@matks matks Heuu are you killing ? secure solution that all folder will in 666 and 777

Prestashop is not on good way, and very afraid to see that all shop that prestashop was so happy to said hey they are the best they use prestashop are going to other solution to be sure to have a futur with their shop

this is not possible to do this and also not explain clearly the procedure : in my pap versi

[2019-07-04 13:01] matks commented on #14484
Read the PR please 😉it puts everything to 0755 or 0644

[2019-07-04 13:04] ghost commented on #14484
@matks and when we update prestashop for 1.7.6 we need to do again, so each time we update we nee to touch one the file :
classes/PrestaShopAutoload.php
admin-dev/ajax-tab.php
controllers/admin/AdminCartsController.php
controllers/front/ProductController.php

And you prefer for security to permits to a new vendor who's starting without developper to insecure his shop and permissions to all hacker

[2019-07-04 13:05] ghost commented on #14484
And you prefer for security to permits to a new vendor who's starting without developper to insecure his shop and permissions to all hacker and all kind of problem to acces freely rewrite files htacess etc ... and sure touch the integrity of online payment with papaya official for example so you prefer for security to permisss insecurity and so destroy a shop and the person who have the shop

[2019-07-04 13:20] ghost commented on #14484
@matks

En français au cas ou parce bon c'est bien Gentil mais prestashop est aussi français, et nombreux marchands sont français, comme beaucoup de désespérés à ce sujet de permission et qui ne trouvent pas la solution et ne savent pas quoi faire  voir le truc : #12124 > C'est tellement simple quand on est pas développer et simple marchand qui veux juste vendre ses produits !

Il faut donc modifi

[2019-07-04 13:23] khouloudbelguith commented on #14470
@202-ecommerce, thanks for these clarifications.
I manage to reproduce the issue also with PS1.7.6.0rc1.
![image](https://user-images.githubusercontent.com/16067358/60669835-36d10980-9e67-11e9-9f08-ad800f83820d.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-04 13:27] PierreRambaud commented on #14470
Same, and i'm working on it to find a solution as fast as possible.

[2019-07-04 13:29] ghost commented on #14484
@matks Désolé mais ou je modifie et quoi exactement impossible de m'y retrouver dans tout ce charabia est ce possible de faire une réponse SIMPLE et CLAIR sur ce qu'on doit MODIFIER pour éviter cette situation

Merci Beaucoup !

[2019-07-04 13:33] go-sudo opened #14485 "PageSpeed make backoffice slow"
**Describe the bug**
I'm using Google PageSpeed on Plesk to make my website faster but I'm facing a lot of issue with PrestaShop
As it described on this video backoffice is becoming slow and take more time to navigate between menus
so I decedied to disabled PageSpeed
I need yuour help so the module will not work on backoffice

https://youtu.be/ilmTzf05_9Q
**To Reproduce**
Steps to reproduce the be

[2019-07-04 13:36] khouloudbelguith commented on #14484
@didjou, You need to follow those files: https://github.com/PrestaShop/PrestaShop/pull/12124/files which fixes the issue.
Thanks!

[2019-07-04 13:37] nielsverhoeven84 commented on #14475
I've solved this issue.

It seemed that customer groups weren't enabled for the second store.

[2019-07-04 13:38] matks commented on #14484
@didjou I will answer in English because this is an opensource and international project and we do not want to exclude the people who cannot speak French, even though PrestaShop was created by a French company. This is an open world 🌏maybe we'll have english speakers wishing to participate too

The PR does fix the issue you mention. So the issue is solved, and this will be delivered in incoming PS

[2019-07-04 13:39] khouloudbelguith commented on #14485
Hi @go-sudo,

Thanks for your report.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-04 13:42] khouloudbelguith commented on #14475
@nielsverhoeven84, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-04 13:45] nielsverhoeven84 commented on #14475
I was wrong, after checking more thorough, I saw VAT was still calculated wrong.

![Schermafbeelding 2019-07-04 om 15 44 41](https://user-images.githubusercontent.com/52320806/60671121-af899300-9e72-11e9-9ef0-2b68f3475202.png)
![Schermafbeelding 2019-07-04 om 15 44 00](https://user-images.githubusercontent.com/52320806/60671122-b0222980-9e72-11e9-95ae-87b5ad1432b6.png)

[2019-07-04 13:47] nielsverhoeven84 commented on #14421
@khouloudbelguith Is there a dev team for the all in 1 upgrade module that can look into the issue?

[2019-07-04 13:48] khouloudbelguith commented on #14421
ping @Quetzacoalt91 what do you think?

Thanks!

[2019-07-04 13:54] 202-ecommerce commented on #14470
Not fixed for us for now.
We look for the right condition on config/smartyfront.config.inc.php between `$smarty->source->name` and `$smarty->template_resource`. It's a little tricky to find why the nested template return child template name after calling it. Perhaps a Smarty bug, but not sure...

[2019-07-04 13:56] ghost commented on #14484
Thanks khouloudbelguith :)  & Maks, :)
Yes i know but also sometimes it's difficult to find a solution in french i take time to read in english but some of marchands are not perfect bilingual also when it's about Technical problem in english it's a nightmare to understand and try to resolve the problem,  so sometimes french help to more understand and sure not made mistake for understanding word .

[2019-07-04 14:00] khouloudbelguith commented on #14484
Duplicate of #12108

[2019-07-04 14:00] #14484 closed, assigned to nobody

[2019-07-04 14:13] khouloudbelguith commented on #14475
@nielsverhoeven84, have you the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14446?

Thanks!

[2019-07-04 14:13] khouloudbelguith commented on #14482
Hi @Noido,

I did not manage to reproduce the issue with PS1.7.6.0rc1.
I attached a screen record
https://drive.google.com/file/d/1LzR5uxoM10VcM2jZek7zHQxkaxMQcyMo/view
Thanks to check & feedback.

[2019-07-04 14:16] PierreRambaud commented on #14470
Sam with `$smarty->inheritance`, the `tplIndex` still indicates the wrong index :thinking:

[2019-07-04 14:16] nielsverhoeven84 commented on #14475
Yes, but it shows differently for logged in / not logged in users.

[2019-07-04 14:17] Noido commented on #14482
Hi hum, i see, i m in 1.7.5.2 . It s a problem ?

[2019-07-04 14:20] msaustral commented on #14045
hi i had again the same issue, but if you can not reproduce it, there is no way to fix it

[2019-07-04 14:20] khouloudbelguith commented on #14475
@nielsverhoeven84, yes, the first issue, in the Fo => Ok
The second issue => in the Bo > product page => similar to #14446, is it?
Thanks!

[2019-07-04 14:20] yannicka opened #14486 "Unexpected redirection on checkout"
**Describe the bug**
On the checkout page, when we choose a shipping method or check gift wrapping, we are redirected to the last checkout step.

This behavior is not an issue sometimes but when there are for example a pickup point or a gift message to input, this redirection is unexpected.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill a cart
2. Complete checkout information until the

[2019-07-04 14:22] nielsverhoeven84 commented on #14475
Yes, it shows all prices without VAT in BO, although VAT of 21% is selected.

[2019-07-04 14:25] khouloudbelguith commented on #14475
@nielsverhoeven84, we are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14446
So, I close it.
Thanks !

[2019-07-04 14:25] #14475 closed, assigned to nobody

[2019-07-04 14:25] khouloudbelguith commented on #14475
Duplicate of #14446

[2019-07-04 14:31] PierreRambaud commented on #14470
I think it's a Smarty bug, but I can't confirm, the selected source template is not the good one :disappointed:

[2019-07-04 14:51] khouloudbelguith commented on #14486
Hi @yannicka,

This issue is fixed in the Ps1.7.6.0 version.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13106 to fix the issue.
Your ticket is a duplicate of #11750
So, I close it.
Thanks!

[2019-07-04 14:51] #14486 closed, assigned to nobody

[2019-07-04 14:51] khouloudbelguith commented on #14486
Duplicate of #11750

[2019-07-04 14:54] kolorslab commented on #10739
Hi

I have see the replies and me i have on PS 1.7.5.1 a bug with DHL. Now i can select it for the delivery but it bugs with payments.
It works very well with others delivery like #colissimo #chronopost and the virtual tpe from
MONETIC CIC and cheq worlks well too. They said to me that after looking the BO and databse or shop delivery parameters with payment if have no possibility to pay with @DHL

[2019-07-04 15:00] 202-ecommerce commented on #14470
This code looks like work, but don't know exactly why...
It look like there is a problem only when we have a mix of resources in this case : "file:" (templates from theme) and "module:" (templates files from modules)

[code]

We probably find a better and more elegant solution...

[2019-07-04 15:11] photinia73 opened #14487 "faceted search 3.0.6 not work properly"

[2019-07-04 15:16] khouloudbelguith commented on #14487
Hi @photinia73,

Could you please provide us with more info? We need more details & clear description to understand how we can reproduce your issue

Thanks!

[2019-07-04 15:19] photinia73 commented on #14487
![image](https://user-images.githubusercontent.com/50954519/60676429-8a534f80-9e87-11e9-83f4-84db638ceaf3.png)
1. Could not index prices
2. Аnd has a strange llok in the front office
![image](https://user-images.githubusercontent.com/50954519/60676575-e918c900-9e87-11e9-8f85-a586231a7f86.png)
3. And if you select one price range it`s unpossible to select other - the slider disappeare

[2019-07-04 15:20] photinia73 commented on #14487
about strange look - double items of filter

[2019-07-04 15:28] khouloudbelguith commented on #14482
@Noido, I tried with PS1.7.5.2 & it is OK.
I attached a screen record
https://drive.google.com/file/d/1sd86MSQSv9XvkLhWNjnSy_Td0uQbQWlG/view
Thanks to check & feedback.

[2019-07-04 15:31] glo-www opened #14488 "Faceted search: "regular" attribute displayed as a texture"
I create a new attribute with some values. On the front, the module displays it as if it was a texture, trying to apply a background-image on the "checkbox", but obviously the image does not exist (it is not a texture).

**Additionnal information**

When I switch the front office to english, the problem is not visible anymore...
![Vêtements(2)](https://user-images.githubusercontent.com/406119/6067

[2019-07-04 15:36] khouloudbelguith commented on #14487
Hi @photinia73,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0rc1 & PS1.7.5.2 & the ps_facetedsearch v3.0.6 after upgrade from v3.0.5.
I attached a screen record
https://drive.google.com/file/d/1Rg7swa-tiSLoe2qG3nQxnyQjQbcVJoaw/view
Could you please provide us with more info:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 -

[2019-07-04 15:42] Interdeportes commented on #14472
The error consists in the moment in which the transport values ​​are, however, in the case of transport values. It is already annoying, because it has happened to me several times, I urgently need a quick response.

[2019-07-04 15:46] photinia73 commented on #14487
I have only apache error log, course I roll back to previous version. I need the working module
[error_log.04Jul.2019.txt](https://github.com/PrestaShop/PrestaShop/files/3359924/error_log.04Jul.2019.txt)

[2019-07-04 15:49] photinia73 commented on #14487
server info
![image](https://user-images.githubusercontent.com/50954519/60678182-621a1f80-9e8c-11e9-9a98-5d07c3d317b2.png)

[2019-07-04 15:51] marionf opened #14490 "[WIP] As a merchant I want to know if there are errors when I complete a field in the product page"

[2019-07-04 15:58] khouloudbelguith commented on #14488
Hi @glo-www,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0rc1 & PS1.7.5.2 & the ps_facetedsearch v3.0.6.
The BO language is French / the employee language is French
I created an attribute "Attribute type" = Radio buttons.
In the FO => when Fr is selected,
![image](https://user-images.githubusercontent.com/16067358/60678462-73f3c680-9e7c-11e9-8970-a6de93dccb88.png)
When I

[2019-07-04 16:03] Quetzacoalt91 commented on #14421
Looks fine on my upgraded shop 1.6.1.24 -> 1.7.6.0

![image](https://user-images.githubusercontent.com/6768917/60678804-93d7ba00-9e7d-11e9-8d0e-d220bc846921.png)

Ther's probably a module adding css rules on this field.

[2019-07-04 16:05] khouloudbelguith commented on #14472
@Interdeportes, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-07-04 16:08] PierreRambaud commented on #14470
I found this one, tell me what do you think?
[code]

[2019-07-04 16:11] khouloudbelguith commented on #14487
@photinia73, you have a lot of errors related to your cache
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Also, you have this error
`PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 256087 bytes) in /var/www/tefold/te.com.ua/vendor/icanboogie/cldr/lib/FileProvider.php on line 69, referer: https://te.com

[2019-07-04 16:25] matks opened #14492 "[SF Migration] New Product page architecture: work with hooks and JS rendering"
The new Product page must address the issues listed in https://github.com/PrestaShop/PrestaShop/issues/14405

If we want to keep a smooth UI just like the previous implementation delivered in PS 1.7.0, we need to use a JS-powered form, probably powered by Vue.js. It would handle form rendering, form validation and form submit.

This will allow us to perform partial form submits which is the main s

[2019-07-04 16:49] PierreRambaud commented on #14488
Thanks, fixed in https://github.com/PrestaShop/ps_facetedsearch/pull/110

[2019-07-04 16:54] omar2886 opened #14493 "PS 1.7 BO Product-list show final price"
Hi, after upgrading from 1.6 to 1.7, in BO -> Product-list, I only have 1 price column which shows the value "form_step2_price". I'd like instead to have the final public price that customers can see in the FO with all possible discounts included.
In short, employees must be able to see the final price in the product-list page. Right now they must open product page, copy the FO url of the product

[2019-07-04 17:04] omar2886 opened #14494 "PS 1.7 FO product-list can't organize by price"
Hi,
When I try to organize the product list by product price (asc or desc) all products disappear. It still shows a text saying how much products are on the list but shows nothing.
If I change in the drop menu any other criteria rather than quantity, works fine.
Does it have anything to do with the ps_facetedsearch module? always has problems. I just updated it to 3.0.6 and nothing happens.
Thanks

[2019-07-04 17:10] photinia73 commented on #14487
I put the next value in the php.ini
![image](https://user-images.githubusercontent.com/50954519/60681331-8e876900-9e97-11e9-8754-39058fa2730e.png)
But will try to update, clear cache in the next time, because PS not propose me to update it again ((

[2019-07-04 17:49] frankymartinES commented on #14281
Hi @khouloudbelguith, in new products the module es working great, but in prodcuts before the first update the error exist. I am going to try to send you the error log details.

[2019-07-04 17:55] madkot opened #14495 "Many PHP Notices"
In apache error log i see many of "**PHP Notice:  Undefined index**" contain (i think that) admin module access rights, because the indexes: view, configure, uninstall and name, id_module. I write it just for information, may in my case its generated after migration from ps1.6 to 1.7. So what you think about it?
[code]
and example of index (near line 711 of smarty cached file)

 `<?php if ($_smart

[2019-07-04 17:58] frankymartinES commented on #14281
@khouloudbelguith I can´t find any file;
PHP error log:
Apache: /var/log/apache/php_error.log
Nginx: /var/log/php-fpm/default/error.log
IIS: %SystemDrive%\inetpub\logs\LogFiles

[2019-07-04 18:34] 202-ecommerce commented on #14470
Thank you. We will check it on several platform tomorow and will be back after the testing session.

[2019-07-04 20:27] MockoB opened #14496 "Qty Input field UX improvement"
Actually it could not be considered as a bug, it is rather UX improvement.

When you select an quantity input field, no matter it is in the product page or in the cart, it does bring the normal keypad on mobile phones.
It would be much better to bring up the large numeric keypad, because I doubt someone needs to type something else there than number.

Steps to reproduce the behavior:
1. Just selec

[2019-07-04 21:22] matks opened #14497 "Rework of the E2E test suite run by Travis"
Travis runs some E2E tests using Selenium. We've had multiple issues over time with this test suite: false positives, random failures, bad test settings.

Recently we had to disable one scenario because it was failing randomly: see issue #14384
and the related PR https://github.com/PrestaShop/PrestaShop/pull/14491

We need to rebuild this E2E test suite to make it more reliable.

[2019-07-04 21:22] matks commented on #14384
Issue was fixed by disabling the bad test. Better solution will be implemented in https://github.com/PrestaShop/PrestaShop/issues/14497.

[2019-07-04 21:22] #14384 closed, assigned to nobody

[2019-07-05 06:32] nielsverhoeven84 commented on #14421
@Quetzacoalt91 I didn't upgrade to 1.7.6.0 but 1.7.5.2. There is an style attribute on the text field of the transit time which sets to display: none, but removing that style doesn't fix the problem it only makes the field visible.

[2019-07-05 07:26] contino23 commented on #9891
Hi,
I've the version 1.7.5.1 and I don't know how to insert the code:

if ($ field === 'dni') {
if ($ this-> country-> need_identification_number)
{$ formField-> setRequired (true); }
}

Because this is my CustomerAddressFormatter.php at line 100:

94- if (count($fieldParts) === 1) {
95-                if ($field === 'postcode') {
96-                    if ($this->country->need_zip_code) {
97-

[2019-07-05 07:31] HolyWalley commented on #9592
Hi, I'm on 1.7.5.1. I'm here because I'm using PrestaShop web services and found their behavior strange. Perhaps it can help you to understand the problem.

I tried to rename carrier twice that way: `carrier_name -> carrier_name1 -> carrier_name`.

And then I faced with that the api call `/api/filter[name]=[carrier_name]` returns two similar carriers (with different id's of course)

[2019-07-05 07:39] khouloudbelguith commented on #14493
Hi @omar2886,

This improvement is added to PS1.7.6.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11484 to add this feature.
Your ticket is a duplicate of #11479
So, I close it.
Thanks!

[2019-07-05 07:39] #14493 closed, assigned to nobody

[2019-07-05 07:39] khouloudbelguith commented on #14493
Duplicate of #11479

[2019-07-05 07:47] Flower7C3 opened #14498 "Multi Shop categories"
**Describe the bug**
Unable to set category on multi shop edit page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin / MultiShop'
2. Click on 'Edit'
3. Only one category exists
4. And when click to Expand/Collapse fatal error occured

**Screenshots**

View with JS:
<img width="853" alt="image" src="https://user-images.githubusercontent.com/3767861/60706365-954ec400-9f09-11e9-87d

[2019-07-05 07:49] khouloudbelguith commented on #14494
Hi @omar2886,

I did not manage to reproduce the issue with PS1.7.6.0rc1 & PS1.7.5.2 & the ps_facetedsearch v3.0.6 after an upgrade from a previous version.
https://drive.google.com/file/d/117L77WUcWIY8T7UMF-KdeTLbbF_Aekbz/view
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
You need also to Click on "Rebuild entire price index", "Build attr

[2019-07-05 07:54] Flower7C3 opened #14499 "javascript not loaded"
**Describe the bug**
My customer have one shop group with 5 shops. When I work on main shop everything is ok. But when I change context to any other shop some features does not work. Eg. I am unable to filter installed modules.
In inspector I can see that not all JavaScript files are loaded in other shops.

**Screenshots**
Main shop - 19 JS requests:
<img width="459" alt="image" src="https://user-

[2019-07-05 07:56] khouloudbelguith commented on #14495
Hi @madkot,

About the issue after upgrade from PS1.7 to PS1.7, we have a lo of PRs which are in progress:

- PrestaShop/PrestaShop#14481
- PrestaShop/PrestaShop#14404
- PrestaShop/PrestaShop#14031
- PrestaShop/PrestaShop#14022
- PrestaShop/PrestaShop#13376
- PrestaShop/PrestaShop#13350

For more details, you can follow this link: https://github.com/PrestaShop/autoupgrade/issues/100#issuecomment-5

[2019-07-05 07:58] vagaluz opened #14500 "Failed to load resource: the server responded with a status of 500 (Internal Server Error)"
**Describe the bug**
505 server error. by clicking continue after adding address to the cart

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'a pproduct'
2. Click on 'buy it'
3. Scroll down to 'add an address'
4. Click on  'continue'
5. See error  '505 server error'

Next step should be shipments but when i clic in continue it give me that error

https://prnt.sc/oavq0l
https://prnt.sc/

[2019-07-05 08:24] khouloudbelguith commented on #14496
Hi @MockoB,

Thanks for your report.
Using a mobile or not, we have the same behavior when setting the quantity with something else than a number, when we click outside the quantity will be automatically changed to the minimal quantity.
As you can see in this screen record
https://photos.app.goo.gl/bqGCkVnJEn5Gs6Tq5
Thanks to check & feedback.

[2019-07-05 08:30] khouloudbelguith commented on #14498
Hi @Flower7C3,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
https://drive.google.com/file/d/16HsQbhhPfkTMLbekiNbhNa0SmoKpTQ4s/view
It is an issue due to the `wkassignfeatures` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you

[2019-07-05 08:30] #14498 closed, assigned to nobody

[2019-07-05 08:35] khouloudbelguith commented on #14499
Hi @Flower7C3,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos

[2019-07-05 08:37] khouloudbelguith commented on #14500
Hi @vagaluz,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how

[2019-07-05 08:38] nielsverhoeven84 commented on #14421
@Quetzacoalt91 On a fresh install, the text field is displayed properly, what tables/fields in db should I check to correct this? The files of the fresh install are the same as the one of the upgraded shop.

[2019-07-05 08:44] PierreRambaud commented on #14470
I think you solution is maybe for logic and easier to explain than mine ^^
Tell me when you think your solution or mine is working for you and with your themes.
I'll be glad to review and merge it for the 1.7.7 :smile_cat:

[2019-07-05 08:47] khouloudbelguith commented on #14281
@frankymartinES, If you don't have it, you should ask your hosting provider.
Thanks!

[2019-07-05 08:52] MockoB commented on #14496
Thanks for your reply, but that's not the point.

It would be much better when you select the QTY field, willing to enter a number, to bring up the large **numeric** keyboard on mobile devices. Currently it brings the normal (letter) keyboard, which forces users to switch between keyboards. Even switching, the user is forced to enter the quantity with the small number buttons, which may be the cau

[2019-07-05 08:56] kpodemski commented on #14470
it's regression so... 1.7.6 right?

[2019-07-05 09:03] khouloudbelguith commented on #14496
@MockoB, thanks for these clarificationa.
@colinegin, @marionf, @TristanLDD what do you think?

Thanks

[2019-07-05 09:08] PierreRambaud commented on #14470
It's not a regression, the problem exists since an old version. The fix on 1.7.6 fix only one problem but not all.

[2019-07-05 09:09] khouloudbelguith commented on #14487
@photinia73, after editing your PHP file, your issue is solved?

Thanks!

[2019-07-05 09:29] photinia73 commented on #14487
I can`t check, because rolled back to previous version... And now can`t upgrade - PS don`t propose me upgrade again (( May be you have the URL of the module 3.0.6?

[2019-07-05 09:29] #14488 closed, assigned to nobody

[2019-07-05 09:34] khouloudbelguith commented on #14487
@photinia73, you can find the release on our GitHub repository
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.0.6
Or, after uninstalling the ps_facetedsearch previous version, when you navigate to the BO => Module Catalog page & search for this module => the last version 3.0.6 will be displayed.

Thanks to check & feedback.

[2019-07-05 09:36] photinia73 commented on #14487
Ок. Now will clear the var/ dev-prod and will update

[2019-07-05 09:37] khouloudbelguith commented on #14487
@photinia73, thanks!

Waiting for your feedback.

[2019-07-05 09:53] cdschilling opened #14502 "classic theme - PS 1.7.5.2 - can not add product pictures -"
**Describe the bug**
It starts no pop up when I would like to add product pictures - We can add new pictures .

**Additionnal information**
PrestaShop version: 1.7.5.2 und 1.7.5.1
PHP version: 7.2.19

[2019-07-05 09:54] cdschilling commented on #14502
Soory - we can not add pictures or see details about product pictures

[2019-07-05 09:59] khouloudbelguith commented on #14502
Hi @cdschilling,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2019-07-05 10:16] cdschilling commented on #14502
Host ionos 1und1
Prestashop update with 1-click upgrade
![PS_info-190705-12_10h](https://user-images.githubusercontent.com/38692829/60715986-963e2080-9f1e-11e9-99b0-dac5872cd153.JPG)

[2019-07-05 10:23] nielsverhoeven84 commented on #14421
@Quetzacoalt91 The fields were set to `display: none` because the default language wasn't set.

[2019-07-05 10:33] khouloudbelguith commented on #14502
@cdschilling, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-07-05 10:40] ANSB commented on #9592
@HolyWalley. Some think it's a bug, but I think it's not. In fact, when you edit a carrier, Prestashop read data from this carrier, show you the form to edit the data, and when you confirm, Prestashop create a new record with the data you updated and then update the previous record ("old" one) to set it as "deleted" (so just set a flag).
So in the DB you have the old version of your carrier with t

[2019-07-05 10:49] vagaluz commented on #14500
- erver setup and configuration   Linux #1 SMP Debian 3.2.102-1 x86_64
   - PrestaShop version (source)  1.7.5.2
   - Server software version: Apache

   - PHP version: 5.6.32
   -
   - Memory limit: 192M
   -
   - Max time of execution: 30
   -
   - Max size for uploading files: 35M
   - debug mode report - if do this it gives me this new error, this
   happend if a clean cache too...

--
Interna

[2019-07-05 10:50] photinia73 commented on #14487
Still clearning.....

[2019-07-05 10:53] khouloudbelguith commented on #14500
@vagaluz, when debug mode is enabled => there is no exception displayed instead of Error 500?

Thanks!

[2019-07-05 10:54] khouloudbelguith commented on #14487
@photinia73, I'm waiting for your feedback.

[2019-07-05 10:56] vagaluz commented on #14500
Hi yes i activated the debug mode from the FTP, but when i try to clean
cache from prestashop perfomance>clean cache when i clic in performance
knows it gives me this error
Internal Server Error

The server encountered an internal error or misconfiguration and was unable
to complete your request.

Please contact the server administrator, hostmaster@server.tld and inform
them of the time the error

[2019-07-05 10:56] 202-ecommerce commented on #14470
@PierreRambaud

We test both solutions, and both seems fix the bug without assurance of no regression on specific cases...
My solution treat the symptoms and come from nowhere, yours looks like straightforward.
Mayby a comment helps developers to undersand the origin of this condition and maintain this code.

But the simple fact that I can't explain exactly the reason why this condition is needed

[2019-07-05 10:58] photinia73 commented on #14487
var/cache/prod/purifier can`t delete CSS and URI have no permission.... If it nesessary to clear them, I will call the provider

[2019-07-05 11:00] khouloudbelguith commented on #14500
@vagaluz, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-05 11:04] vagaluz commented on #14500
can you please explain me how to clean cache manually?

Also now the problem is only this one.

Internal Server Error

The server encountered an internal error or misconfiguration and was unable
to complete your request.

Please contact the server administrator, hostmaster@server.tld and inform
them of the time the error occurred, and anything you might have done that
may have caused the error.

M

[2019-07-05 11:06] khouloudbelguith commented on #14500
@vagaluz, you need to connect to your FTP.
In your Projet_Folder/var/cache/
you need to delete the prod & dev folders => they are cache folders.

Thanks!

[2019-07-05 11:06] frankymartinES commented on #14281
Hi @khouloudbelguith, I have found the log reports. I have attached the file.
[error_log.zip](https://github.com/PrestaShop/PrestaShop/files/3362440/error_log.zip)

[2019-07-05 11:10] vagaluz commented on #14500
Ok!! Thanks i did it. Now it should work?

El vie., 5 jul. 2019 a las 13:06, khouloudbelguith (<
notifications@github.com>) escribió:

[2019-07-05 11:11] vagaluz commented on #14500
Sorry its my firts time doing this.

But it give me that error everytime i try to enter in something of prestashop like payment, shipments.

[2019-07-05 11:16] khouloudbelguith commented on #14500
@vagaluz, did you installed any carrier or payment module before this error?

Thanks!

[2019-07-05 11:17] vagaluz commented on #14500
yeah configurate paypal and installed redsys

[2019-07-05 11:28] vagaluz commented on #14500
What i can do? for this error?

[2019-07-05 11:31] khouloudbelguith commented on #14500
@vagaluz, In your Projet_Folder/var/log/, you can find a file error log, could you please provide me this file log.

Thanks!

[2019-07-05 11:35] vagaluz commented on #14500
they are 7 wow

*ERROR* 	v1.7.4.3	2019/04/09 - 06:51:21: Link to database cannot be established: SQLSTATE[HY000] [2002] No such file or directory at line 120 in file classes/db/DbPDO.php

*ERROR* 	v1.7.5.2	2019/06/24 - 20:27:36: La propiedad Address->dni está vacía. at line 984 in file classes/ObjectModel.php
*ERROR* 	v1.7.5.2	2019/06/24 - 20:27:44: La propiedad Address->dni está vacía. at line 98

[2019-07-05 11:37] vagaluz commented on #14500
This two

El vie., 5 jul. 2019 a las 13:31, khouloudbelguith (<
notifications@github.com>) escribió:

[2019-07-05 11:39] vagaluz commented on #14500
`[2019-07-05 12:53:01] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-07-05 12:53:01] php.INFO: User Deprecated: The "sensio_framework_extra.routing.loader.annot_class" service is deprecated since version 5.2 {"exception":"[object] (ErrorException(code: 0): User Deprecated: The \"sensio_framework_extra.routing.loader.annot_class\" service is deprecated since version 5.2 at

[2019-07-05 11:56] HolyWalley commented on #9592
@ANSB Perhaps you are right. I haven't noticed that previous carriers have deleted flag active. In my case, I can use an additional filter `/api/filter[name]=[carrier_name]&filter[deleted]=[0]` and it will work. Thanks anyway.

[2019-07-05 11:57] vagaluz commented on #14500
should i delete module redsys from FTP?

[2019-07-05 12:10] photinia73 commented on #14487
I can`t install the module
![image](https://user-images.githubusercontent.com/50954519/60721514-e75a0e80-9f36-11e9-9a96-b483c599d628.png)
"Not the real archive file"...

[2019-07-05 12:12] vagaluz commented on #14500
This error appear since i change the debug mode and clear the cache and is in the backoffice :(
https://prnt.sc/oazmpu

and this is the log error

[code]

[2019-07-05 12:17] khouloudbelguith commented on #14487
@photinia73, you need to clone the module from the GitHub repository, launch the composer install & zip the folder.
Thanks to check this zip file & feedback.
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3362642/ps_facetedsearch.zip)

Thanks!

[2019-07-05 12:29] khouloudbelguith commented on #14500
@vagaluz,

That means that the specific database user has already used up all the concurrent connections at that moment and more cannot be processed.
The only option to fix without doing any programming changes is to change the max_user_connections value in MySQL configuration

In your BO => Customer => Addresses page, the `dni` is a required field?

Thanks!

[2019-07-05 12:33] photinia73 commented on #14487
in the url you gave was only zip file and I had get only download the zip file... What you mean launch the composer, give me printscreen please

[2019-07-05 12:35] photinia73 commented on #14487
I want to know this for the future? thanks

[2019-07-05 12:36] khouloudbelguith commented on #14281
@frankymartinES, you a lot of errors related to your cache

This error is related to the ps_facetedsearch module but it is in the cache files.

Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2019-07-05 12:38] khouloudbelguith commented on #14487
@photinia73, cloning from the GitHub repository
![image](https://user-images.githubusercontent.com/16067358/60722931-259d0100-9f2a-11e9-988b-921414985e3a.png)

Thanks!

[2019-07-05 12:43] photinia73 commented on #14487
I installed. Works, BUT!
![image](https://user-images.githubusercontent.com/50954519/60723069-533e7600-9f3b-11e9-921c-562117574eea.png)
In the FO double items in the filter menu
If once select price range, you need reload the page to show the price slider again

[2019-07-05 12:44] cdschilling commented on #14502
I hope these are some files you are looking for -
BTW - what is your recommandation for performance cache specs
![acelo_debug_message-190705-14_32h](https://user-images.githubusercontent.com/38692829/60723217-60576700-9f33-11e9-9d2f-d5d6fab68463.JPG)
![acelo_info-error_message-190705-14_32h](https://user-images.githubusercontent.com/38692829/60723218-60576700-9f33-11e9-8507-d8c087848eb2.JPG)
![ace

[2019-07-05 12:45] khouloudbelguith commented on #14487
@photinia73, try to force a refresh of the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2019-07-05 12:48] PierreRambaud commented on #14470
As I read, it's how Smarty find the current source. Which is in our case, wrong.
Can you create a pull request with your fix:

[code]
And we'll try to get feedback from everyone :)

[2019-07-05 12:49] khouloudbelguith commented on #14502
@cdschilling, when debug mode enabled & you try to upload an image to the product, there is no exception displayed?
Try to use DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. upload the image
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "

[2019-07-05 12:49] photinia73 commented on #14487
Slider not disapper. Ok. But what to do with double items in the filter Бренд Бренд, Цена Цена?

[2019-07-05 12:52] khouloudbelguith commented on #14487
@photinia73, what is the exact browser did you use?

Thanks!

[2019-07-05 12:52] photinia73 commented on #14487
Chrome

[2019-07-05 12:55] khouloudbelguith commented on #14487
@photinia73, in the BO =>  Module manager page => ps_facetedsearch configuration page => when you edit the template, you have double filter enabled?

Thanks!

[2019-07-05 12:57] matks opened #14504 "Cannot update default category positions"
Category data has a field `position` that is not correctly initialized. It's initialized to 0, for all new categories, including default categories.

Consequently if you try to modify categories positions from the Categories listing, the ajax request fails. The UI seems to show it worked, but actually the ajax request failed so if you refresh the page, you can see the categories positions are not

[2019-07-05 13:04] photinia73 commented on #14487
I have only 1 filter template
![image](https://user-images.githubusercontent.com/50954519/60724105-36577200-9f3e-11e9-84ad-72448605ea23.png)

[2019-07-05 13:16] khouloudbelguith commented on #14487
@photinia73, you need to check filters in your template as described in this screen record.
https://drive.google.com/file/d/10QnHyKxGNLGbNNh9wvR3H4V6X3TtaNP9/view
Thanks!

[2019-07-05 13:17] vagaluz commented on #14500
Ok what about the last errors?

[2019-07-05 13:18] cdschilling commented on #14502
How to "open up developer tootls" at product page?

[2019-07-05 13:24] photinia73 commented on #14487
I have some othe view in the template

![image](https://user-images.githubusercontent.com/50954519/60725292-60f6fa00-9f41-11e9-9b86-179ac3cffa6b.png)

[2019-07-05 13:25] photinia73 commented on #14487
May be reset the module and configure again?

[2019-07-05 13:25] khouloudbelguith commented on #14500
@vagaluz, about the checkout error in the FO, you need to confirm if you have some required fields in the Address format (BO => Customer => Addresses page)?

Thanks!

[2019-07-05 13:28] khouloudbelguith commented on #14502
@cdschilling, You can right-click on any element on a web page and click “Inspect element” which will launch Chrome DevTools.
![image](https://user-images.githubusercontent.com/16067358/60725491-13729100-9f31-11e9-90c2-369c54d067e2.png)
Thanks!

[2019-07-05 13:29] khouloudbelguith commented on #14487
@photinia73, after resetting it, try to edit your template & save.
Thanks!

[2019-07-05 13:40] vagaluz commented on #14500
What is BO?

[2019-07-05 13:42] khouloudbelguith commented on #14500
@vagaluz, it is the Back office: the back end of your shop.
Thanks!

[2019-07-05 13:46] vagaluz commented on #14500
Noone is as required fields
https://prnt.sc/ob15xx

also in the front office appear DNI as optional.

[2019-07-05 13:47] photinia73 commented on #14487
if comment in facets.tpl
 {*     <p class="h6 facet-title hidden-sm-down">{$facet.label}</p>    *}
so there is no double labels in filter menu, but not orderly view is still

[2019-07-05 13:48] photinia73 commented on #14487
row 44
![image](https://user-images.githubusercontent.com/50954519/60726637-b254b880-9f44-11e9-8829-9915c95164e6.png)

[2019-07-05 13:49] cdschilling commented on #14502
Many thanks - I did my best - upload of image was not possible
![acelo_network-log-190705-v1](https://user-images.githubusercontent.com/38692829/60726613-42423480-9f3c-11e9-867c-ec6545e14519.JPG)
![acelo_network-log-190705-v1](https://user-images.githubusercontent.com/38692829/60726727-846b7600-9f3c-11e9-929b-b4cb3ca1ce10.JPG)

[2019-07-05 13:50] cdschilling commented on #14502
May be it is unnormal - but do want to try it by yourself on our account?

[2019-07-05 13:51] Varindien opened #14505 "ps_facetedsearch - feature issues"
Hello,
Just to notify about a bug due to feature filter  value - tested on a fresh install of PS 1.7.5.2
by  default filter is not active on demo, active one :  e.g. "Composition" and fill an article with a product feature of Composition.

Even if you active "display" on module configuration page, features filter won't appear.. and sometime do bugging filter (click on an attribute  filter  will re

[2019-07-05 13:52] khouloudbelguith commented on #14502
@cdschilling, Could you please provide me the access to your BO to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-05 13:56] cdschilling commented on #14502
Schilling, Claus-Dieter; Am Hollergraben 15; 97516 Oberschwarzach; mobil: +49 (0) 160 1685891

Dear  <mailto:khouloud.belguith@prestashop.com> khouloud.belguith@prestashop.com

passw: @Cds0808

acelo - mobility (PrestaShop™) <https://acelo.net/fbwdg8qvegemi7c8/index.php?controller=AdminLogin&logout=1&token=d371c2a77b76a3cd98242b4825e867e2>

.

Von: khouloudbelguith <notifications@github.com>
Gesen

[2019-07-05 13:57] cdschilling commented on #14502
Done by E-Mail

[2019-07-05 13:59] photinia73 commented on #14487
But I am not sure, that this is correct way....

[2019-07-05 14:04] khouloudbelguith commented on #14505
Hi @Varindien,

In fact, the main issue that, the Faceted filter doesn't show attribute selection/feature if a category has only one product with the same attribute or feature.
Your ticket is a duplicate of #11207
So, I close it.
Thanks!

[2019-07-05 14:04] #14505 closed, assigned to nobody

[2019-07-05 14:04] khouloudbelguith commented on #14505
Duplicate of #11207

[2019-07-05 14:08] khouloudbelguith commented on #14502
@cdschilling, no sorry, I didn't receive any Email yet.
Thanks to check & feedback.

[2019-07-05 14:14] dineshbadrukhiya opened #14506 "Browser console suggestion for the password form"
**Describe the bug**
What do you think about this suggestion in console? Should we need to implement it in the code?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign in/Sign Up' page
2. Open browser consolve
3. See suggestion

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/40850057/60728138-3b77e980-9f5d-11e9-815f-3bd3051e820f.png)

**Additionnal information

[2019-07-05 14:15] photinia73 commented on #14487
And why in your video 12 points in the template, and in the mine only 10?

[2019-07-05 14:16] Varindien commented on #14505
Hi @khouloudbelguith,

got it :)

[2019-07-05 14:22] cdschilling commented on #14502
Some minutes ago - I resend our e-mail - hopefuly to the right address

[2019-07-05 14:22] purepixels commented on #14201
Same problem here (PS 1.7.5.2) With some clients there is no carrier available for their address. When adding address to new client, carriers are all available and orders go through without any problems. All settings checked, there can't be something wrong with carrier or localisation settings.

In error logs on server I cannot find anything gone wrong.

Need a solution for this, our client is als

[2019-07-05 14:23] photinia73 commented on #14487
I reseted the module. But if I uncomment the row 44 the double labels appear again ((
So l leave this row commented...

[2019-07-05 14:27] khouloudbelguith commented on #14506
Hi @dineshbadrukhiya,

I tried with PS1.7.5.2 & PS1.7.6.0rc2, I have this warning:

`This page includes a password or credit card input in a non-secure context. A warning has been added to the URL bar. For more information, see https://goo.gl/zmWq3m.`
I don't think it is the same warning?

Thanks!

[2019-07-05 14:28] photinia73 commented on #14487
Please ask developer to resolve this query. In the mobile version all looking nice

[2019-07-05 14:29] #9813 closed, assigned to nobody

[2019-07-05 14:30] #9647 closed, assigned to nobody

[2019-07-05 14:30] khouloudbelguith commented on #14487
@photinia73, in my case, I did not manage to reproduce the issue with ps_facetedsearch v3.0.6.
I don't have double labels.
You can check this link: http://proud-vacation.machine-shuffle.prestashop.net/en/2-home

Thanks!

[2019-07-05 14:31] khouloudbelguith commented on #14500
@vagaluz, thanks for your feedback.
When debug mode is enabled, in the FO, there is an exception displayed?

Thanks!

[2019-07-05 14:31] photinia73 commented on #14487
You have absolutely another design in your filter....

[2019-07-05 14:33] vagaluz commented on #14500
What do you mean in address?

[2019-07-05 14:33] dineshbadrukhiya commented on #14506
@khouloudbelguith Have you tried with Google Crome browser?

[2019-07-05 14:34] khouloudbelguith commented on #14201
Hi @purepixels,

This shipping issue in the checkout page is added to our backlog PS1.7.7, it is with "Major" severity.
This ticket is a duplicate of #9932
Please follow: #9932
So, I close it.
Thanks!

[2019-07-05 14:34] #14201 closed, assigned to nobody

[2019-07-05 14:34] khouloudbelguith commented on #14201
Duplicate of #9932

[2019-07-05 14:36] khouloudbelguith commented on #14506
@dineshbadrukhiya, yes, I'm using Google Chrome browser Version 71.0.3578.98 (Build officiel) (64 bits).

Thanks!

[2019-07-05 14:37] dineshbadrukhiya commented on #14506
@khouloudbelguith  I have tried with Google Chrome Version 75.0.3770.100 (Official Build) (64-bit)

[2019-07-05 14:38] photinia73 commented on #14487
your filter is already opened, mine is closed (before clicking) it seems that we have different modules

[2019-07-05 14:40] photinia73 commented on #14487
May be uninstall the module and the install again?

[2019-07-05 14:41] 202-ecommerce commented on #14470
Done, I just changed `$smarty->source->name` by `$smarty->source->resource` to be more coherent between both conditions.

[2019-07-05 14:42] khouloudbelguith commented on #14487
@photinia73, your theme is overriding the ps_afecetedsearch module?

Thanks!

[2019-07-05 14:45] photinia73 commented on #14487
ps_facetedsearsh realy is in my theme in folder modules....

[2019-07-05 14:45] khouloudbelguith commented on #14500
yes, in the checkout page, after clicking on the "Continue" button in the second step.

Thanks!

[2019-07-05 14:46] photinia73 commented on #14487
![image](https://user-images.githubusercontent.com/50954519/60730005-c4d2f000-9f4c-11e9-9de2-c10926598177.png)

[2019-07-05 14:47] khouloudbelguith commented on #14487
@photinia73, could you please check if you have the same issue when using the theme classic.

Thanks!

[2019-07-05 14:49] photinia73 commented on #14487
a cant change theme to classic, after this all configuration is lost

[2019-07-05 14:49] vagaluz commented on #14500
Yes i can see two with optional.

[2019-07-05 14:51] khouloudbelguith commented on #14500
@vagaluz, the step of the shipping is well displayed in the Front Office?
Your issue is solved in the Front Office?

Thanks!

[2019-07-05 14:52] khouloudbelguith commented on #14487
@photinia73, have you tried to contact your theme author?
Thanks to check with them & feedback.

[2019-07-05 14:52] vagaluz commented on #14500
yes in the front office is solve. now the problem is in the back office.

[2019-07-05 14:52] vagaluz commented on #14500
but th back office was working fine.

[2019-07-05 14:53] photinia73 commented on #14487
Ok I will try

[2019-07-05 14:54] khouloudbelguith commented on #14506
@dineshbadrukhiya, it is OK with Google Chrome v75
I attached a screen record
https://drive.google.com/file/d/1vPQa3hJV5Dr2RcpyvxneQLhKl2K2K8o4/view

Thanks!

[2019-07-05 14:56] khouloudbelguith commented on #14500
@vagaluz, great to hear that the first issue is solved.
About the back office issue, if debug mode enabled, there is no exception displayed in those pages?

Thanks!

[2019-07-05 14:56] khouloudbelguith commented on #14487
@photinia73, thanks!
Waiting for your feedback.

[2019-07-05 14:57] photinia73 commented on #14487
usually he do nothing ((

[2019-07-05 15:01] khouloudbelguith commented on #14487
@photinia73, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-05 15:03] photinia73 commented on #14487
I find there version of faceteds.tpl. will learn

[2019-07-05 15:03] photinia73 commented on #14487
facets.tpl

[2019-07-05 15:06] khouloudbelguith commented on #14487
@photinia73, sorry what do you mean by

Thanks!

[2019-07-05 15:09] photinia73 commented on #14487
in the theme->pixtronpro->template->..... there are files active-filters.tpl and facets.tpl.....

[2019-07-05 15:10] khouloudbelguith commented on #14502
@cdschilling, In the product page, I found a strange thing in your shop.
When I try to create a standard product, the pack block is displayed, which is incorrect
![image](https://user-images.githubusercontent.com/16067358/60731354-428fff00-9f3f-11e9-94ef-b149ff20f0fe.png)

Thanks!

[2019-07-05 15:12] khouloudbelguith commented on #14487
@photinia73, as I said before, it's not the default theme, provided by Prestashop, we can't do anything with this.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I close the issue, feel free to open a new when needed.
Thanks!

[2019-07-05 15:12] #14487 closed, assigned to nobody

[2019-07-05 15:15] dineshbadrukhiya commented on #14506
@matks wdyt?

[2019-07-05 15:30] cdschilling commented on #14502
it looks to be wrong - but I have now idea where it comes from

[2019-07-05 15:31] khouloudbelguith commented on #14502
@cdschilling, did you edit some code files before this issue occurs?

Thanks!

[2019-07-05 15:45] cdschilling commented on #14502
no nothing - I will never change the code

[2019-07-05 15:46] khouloudbelguith commented on #14502
@cdschilling, do you have some overrides which are not compatibles?

Thanks!

[2019-07-05 16:03] cdschilling commented on #14502
No overrides by us - I would keep it as simple as possible - therefor I have taken the classic theme - we only need the collmex module

[2019-07-05 17:23] vagaluz commented on #14500
debug mode is enable. but what do you mean by exception in those pages?

[2019-07-05 18:15] vagaluz commented on #14500
Look in all this pages the one with a blue line next to they have the same error

http://prnt.sc/ob4loy
http://prnt.sc/ob4m5a
http://prnt.sc/ob4m89
https://prnt.sc/ob4p4x
http://prnt.sc/ob4mnz
https://prnt.sc/ob4qpm
http://prnt.sc/ob4qud

and all the pages in configurations has this error

http://prnt.sc/ob4ro1

![44](https://user-images.githubusercontent.com/52562703/60739276-a1667000-9f61-11e9-8

[2019-07-05 18:21] centoasa opened #14509 "module pages not found"
Prestashop 1.7.5.2
Module pages not found ver. 2.0 doesn't works for me: no pages are recorded.

[2019-07-05 18:31] cdschilling commented on #14502
Dear Sirs,
I switched back to version 1.7.5.1 - and it seems to work fine
![acelo_product-screen-shoot-190705-20_30h](https://user-images.githubusercontent.com/38692829/60739887-d07de100-9f63-11e9-97d6-d1ffc64afe44.JPG)

[2019-07-05 19:49] PierreRambaud commented on #14499
I can see a broken lock on these images. What happened if you open the link? Is there an https issue?

[2019-07-06 02:23] LSClaire opened #14511 "Combination tab disappeared as well as "save" buttons on BO product page"
**Describe the bug**
Prestashop 1.7.5.1 site working for months without troubles. But for a couple of days (not sure exactly when it started) the combination tab in BO product pages doesn't appear anymore, making it impossible to manage the combinations, and the buttons at the bottom of the page (to save, duplicate, cancel, put on or offline, etc...) have disappeared.

**To Reproduce**
Steps to re

[2019-07-06 02:25] LSClaire opened #14512 "blank invoice in front office user account"
**Describe the bug**
Everything seems normal in BO. In FO, when a user logs into his account to fetch his invoice, it comes out empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Place an order
2. Once payment in validated, go to your account
3. download your invoice
4. empty.

**Screenshots**
[FA003143 (2).pdf](https://github.com/PrestaShop/PrestaShop/files/3364331/FA003143.2.pdf)

**Ad

[2019-07-06 08:27] siomosp commented on #14388
Hi,
thanks for the reply!
There is an option to display more than last 2 meesages?
For example last 4 messages?
Thank you

[2019-07-06 08:48] siomosp opened #14513 "Multilanguage site, error 404 at combination selection , English language only"
**Describe the bug**
At a multilanguage site Greek , English , only at English language
at product combination selection there is  404 error when clicking a combination
**To Reproduce**
Steps to reproduce the behavior:

Product Greek laguage working

https://www.stickit.gr/el/pinakes-se-kamva/themata/topia/red-leafs-pinakas-se-kamva

The same product Elnglish Language not working
https://www.stick

[2019-07-06 09:18] photinia73 commented on #14487
Hello!
I arranged the view like in the previous version. May this isnfo will be usefull for the next clients.
1. Comment line 44 in the file views->templates->front->catalog->facets.tpl
2. In the same file raw 52 "p class="h6 facet-title">{$facet.label}  changed tag "p" on "span"
So the whole view became more accurate
This changes didn`t influences on the filter work
![image](https://user-images.g

[2019-07-06 09:24] photinia73 commented on #14487
All changes I try in the files of Pixtrone themes didn`t have effect. What is rewrite in theme module file concerns mobile version (it look perfect)

[2019-07-06 10:35] omar2886 commented on #14493
Sorry I still didn't get it, I followed steps as far as I could understand here #11484,, so I:
- changed src/PrestaShopBundle/Resources/views/Admin/Product/CatalogPage/Lists/list.html.twig
- Added 59-61 lines on src/PrestaShopBundle/Resources/views/Admin/Product/CatalogPage/Lists/products_table.html.twig
Don't really know how to modify the other part and also don't get the sens of doing so
- The t

[2019-07-06 11:30] Maofree opened #14514 "introduce the management of keywords in the product pages"
Hi
you can see that now it is not possible to add keywords in the product pages, but in the front-office that tag is present and it is void.
For those sites upgraded from the previous versions it is present the past keywords, so if a shopkeeper change the content of a product in the front-office will be present the same past keywords.
I know that for you that tag is no more very important, but how

[2019-07-06 11:37] Malachiel87 opened #14515 "Upgraded from 1.6.1.23 to 1.6.1.24: Page error 500 after insert customer details"
**Describe the bug**
After the upgrade, when i make a order and clicking checkout it just trow a white page with error 500. on nginx log i got this message:
2019/07/05 19:55:32 [error] 1426#1426: *2351026 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Call to undefined method Validate::isCustomerName() in /var/www/sanitariacamporomano.com/classes/ObjectModel.php:1160
Stack

[2019-07-06 11:59] Digitalfastmind commented on #14514
Indeed needed, as keywords are still content and can play an important role from a global seo perspective

[2019-07-06 13:27] Digitalfastmind opened #14516 "Specific prices priority over catalog rules - a logic approach"
**Is your feature request related to a problem?**

Yes, on P.s. 1.7.5
When setting up a catalog rule if the product has already a specific price it gets ignored.
This maybe right if the catalog rule is lower than the actual product specific price, but it's not if the discount can be higher

**Describe the solution you'd like**

We used this workaround in 1.6 and i think it made sense:
https://www.

[2019-07-06 14:38] Digitalfastmind commented on #14515
Hi, have you tried downlograding php first of all?
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Was your previous shop running the same PHP version?

[2019-07-06 14:40] Malachiel87 commented on #14515
yeah 1.6.1.23 was working without issue

[2019-07-06 14:56] Digitalfastmind commented on #14515
Cleared cache?  Enable debugging ? any error?

[2019-07-06 15:09] Malachiel87 commented on #14515
Yeah, cleared cache and stuff, the error log that appaer also with debuging is the same:
2019/07/05 19:55:32 [error] 1426#1426: *2351026 FastCGI sent in stderr: "PHP message: PHP Fatal error: Uncaught Error: Call to undefined method Validate::isCustomerName() in /var/www/sanitariacamporomano.com/classes/ObjectModel.php:1160
Stack trace:
#0 /var/www/sanitariacamporomano.com/controllers/front/AuthCo

[2019-07-06 15:33] omar2886 commented on #14494
Great! thank you! I've tried to use the rebuild functions on the last 3 versions of ps_facetedsearch and never worked, always error, now it did! I think there was something corrupted in the cache folder, so after deleting folder inside I could clear cache and rebuild price and features index so now all filters work.
thank you very much!

[2019-07-06 15:34] #14494 closed, assigned to nobody

[2019-07-06 15:35] omar2886 commented on #14494
needed to manually delete folders within cache directory

[2019-07-06 16:38] freeman78ita commented on #14515
Check any override in place by some module , anything there?

[2019-07-06 19:54] matks commented on #14515
`Validate::isCustomerName()` is a new function created for PS 1.6.1.24 (to counter spam attacks) as you can see it here:
https://github.com/PrestaShop/PrestaShop/blob/1.6.1.x/classes/Validate.php#L158

1) Check the file `classes/Validate.php` is correctly updated and contains this new function
2) If not, something went bad with your upgrade. It can happen because of installed overrides, modules an

[2019-07-06 22:57] omar2886 opened #14518 "Search Filter by Availability"
Hi,
Seems like the "availability" criteria on PS means that product is active and available for sale (not related to actual stock level).

What I need is simple I think, when someone uses the "availability" filter on "search filter" block, it should filter the products depending on the level of stock:
Stock level > 0 = in stock
Stock level =< 0 = unavailable

I don't know if it makes sense to the

[2019-07-07 06:41] bkmgit opened #14519 "Add payment options useful for East Africa"
**Is your feature request related to a problem? Please describe.**
Prestashop is nice software, but it does not have options for payment that are most used in East Africa directly integrated

**Describe the solution you'd like**
Direct integration with  Pesapal (http://developer.pesapal.com/official-extensions) or similar would be great.

[2019-07-07 08:17] dineshbadrukhiya commented on #14506
@khouloudbelguith Enable Verbose in Default levels (Next to the Filter)
@matks wdyt?

[2019-07-07 10:49] Matt75 opened #14520 "ProductId throw an OrderException instead of ProductException"
**Describe the bug**
I need to use a [ProductId](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Domain/Product/ValueObject/ProductId.php) for a module (1.7.6.+) but it throw an OrderException instead of ProductException

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Domain/Product/ValueObject/ProductId.php

[2019-07-07 10:50] matks commented on #14520
Nice catch !

[2019-07-07 15:32] SharmPRO commented on #12451
Hi i has the same issue as described above.
PS 1.7.5.2
ps_viewedproduct 1.2.1
Warehouse theme 4.2.2
PHP 7.2.12

[2019-07-07 17:45] freeman78ita commented on #14518
I agree 100%, and this is one of the reason i purchased an addon like Advanced search, but i think that should be a stock option into any ecommerce store that provides filtered layers search

[2019-07-08 04:12] dheerajwebkul opened #14521 "Sort by price not correct from one page to another based on discounted price"
**Describe the bug**
On the category page, if filter 'Sort By: Price, low to high' then if compare by discounted product, from one page to next page sorting is wrong but on the same page, the comparison is ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Category Page'
2. Click on 'Sort By: Price, low to high'
3. Scroll down and change the page.
4. Compare discounted price from one

[2019-07-08 07:45] khouloudbelguith commented on #14078
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-08 07:45] #14078 closed, assigned to nobody

[2019-07-08 07:46] khouloudbelguith commented on #14072
Hi @josejecas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-08 07:46] #14072 closed, assigned to nobody

[2019-07-08 07:47] khouloudbelguith commented on #14509
Hi @centoasa,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/

[2019-07-08 07:48] khouloudbelguith commented on #14511
Hi @LSClaire,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how

[2019-07-08 07:52] khouloudbelguith commented on #14512
Hi @LSClaire,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-08 08:02] matks commented on #14415
@marionf I think we can remove this document. Wdyt ?

[2019-07-08 08:05] khouloudbelguith commented on #14513
Hi @siomosp,

I did not manage to reproduce the issue with PS1.7.5.2 with the fresh installation using the multilanguage Greek & English.
https://drive.google.com/file/d/1mgJteCLc_56m-a7XsZ_ZD_4doO3CCfzC/view
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you wi

[2019-07-08 08:05] #14513 closed, assigned to nobody

[2019-07-08 08:07] jdo17 opened #14522 "liste of carrier : wrong mention of the price"
**Describe the bug**
A clear and concise description of what the bug is.
purchase process step 3:
the carriers all display "free" for delivery costs. (liste of carriers)
However, as soon as a selection is made we have the price of delivery displayed in the summary insert aside of this list.

Ps:
The bug was noticed after the installation of the rc2. We have only configure one carrier with a simply

[2019-07-08 08:10] samuel-pires commented on #14519
Hi @bkmgit,

Thanks for your feedback!
From what I see on the link you just shared some modules already exist to connect Pesapal to PrestaShop.
It doesn't work?

Do you have other payment companies in mind so we can contact them?

Thanks,

[2019-07-08 08:18] marionf commented on #14415
Yes we can :)

[2019-07-08 08:28] jdo17 opened #14523 "Free gift displayed in detail cart"
**Is your feature request related to a problem? Please describe.**
when you create a basket discount rule granting a free product, it is well versed in the basket detail but without the mention "free" as on version 1.6.

Event it is weel applied in the side applied discount, it is impossible to relay it to the product (excluding price correlation).

At the first sight, what the customer sees is be

[2019-07-08 08:29] khouloudbelguith commented on #14516
Hi @freeman78ita,

Yes, When we use specific prices, the catalog price rule is ignored( lower or higher than the specific price).
ping @marionf, @colinegin what do you think of his suggestion.

Thanks!

[2019-07-08 08:46] khouloudbelguith commented on #14523
Hi @jdo17,

This issue should be fixed in this ticket: #9757
Your ticket is a duplicate of #9757
So, I close it.
Thanks!

[2019-07-08 08:46] #14523 closed, assigned to nobody

[2019-07-08 08:47] khouloudbelguith commented on #14523
Duplicate of #9757

[2019-07-08 08:56] frankymartinES commented on #14281
Hi, I rename the cache directory in var but nothing change :-(

[2019-07-08 09:08] sim1-81 commented on #10638
i've just solved by adding parent::initContent() within my module ajax controller

[code]
this works fine in my case PS 1.7.5.1

[2019-07-08 09:11] khouloudbelguith commented on #14522
Hi @jdo17,

Thanks for your report.
I have the same issue with PS1.7.5.2 & PS1.7.6.0.
Steps to reproduce the issue:
1. Go to the BO => Shipping => Preferences => Set "Default carrier" to "My carrier
![image](https://user-images.githubusercontent.com/16067358/60797124-9d576f80-a166-11e9-9442-7c1c56dfbb24.png)
2. Create a cart rule "free shipping"
3. Go to the FO => Add some products to the cart
4.

[2019-07-08 09:13] khouloudbelguith commented on #14281
Hi @frankymartinES,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-07-08 09:13] #14281 closed, assigned to nobody

[2019-07-08 09:14] 202-ecommerce commented on #14470
You'll found here a new version of the zip with and other case of nesteed includes.
[issue-14470.zip](https://github.com/PrestaShop/PrestaShop/files/3367566/issue-14470.zip)

Fix of @PierreRambaud looks fix both controllers.

We will update the pull request.

[2019-07-08 09:20] agnesdennetiere opened #14524 "Birthday format when error in authentication form"
Hello,

When a user submits the authentication form with a birthday with a french date format (example: 15/08/1985) but has an error in the form (exemple: email already in database), the form is reloaded with user values, but birthday is displayed this way: "1985-08-15", because of the validator in CustomerForm.php:

[code]

So when the user corrects the error in the form and then submits it, he h

[2019-07-08 09:29] frankymartinES commented on #14281
Hi @khouloudbelguith Sorry but ti must be in relation with the module, no with my server configuration or customization because the error star after update the faceted module and if I disactive the module the error dissapear. So, It is problem with the faceted module for sure!!!

[2019-07-08 09:39] khouloudbelguith commented on #14518
Hi @omar2886,

This is incorrect.
In fact, I created a product Product A with a quantity > 0 but not available for sale.
![image](https://user-images.githubusercontent.com/16067358/60799657-751e3f80-a16b-11e9-80e7-f62770c4c3b2.png)
I created another product Product B with quantity =0 available for order
I created a product Product C with quantity > 0  & available for the order
In the FO,
I have tw

[2019-07-08 09:59] omar2886 commented on #14518
After your explanation I tried something. In fact I am still getting filtered many products as available when their stock is 0 or bellow.
Experiment: Took a product which stock was 0 and then in the Quantity tab changed the default option I have for the store (allow orders when products not in stock) and turned it to refuse. After doing so, this particular product was not filtered anymore as avail

[2019-07-08 09:59] khouloudbelguith commented on #14524
Hi @agnesdennetiere,

When the English language is selected in the FO:
I have two errors are well displayed as described in this screen record
https://drive.google.com/file/d/1oNiM-EkoyerrzxCJkGHQG_dHKtg4M9eM/view
But when French is selected in the FO:
I have the first error "email already in database" => the form is reloaded with user values =>  but the birthday is displayed this way: "1985-08-15

[2019-07-08 10:08] agnesdennetiere commented on #14524
Hello,

yes because when you had an error, you changed the value of the birthdat field (second video, 00:04) you but if the user does not do it, it is sent with this format: 1985-08-15 so he gets an error...

[2019-07-08 10:23] khouloudbelguith commented on #14518
@omar2886, thanks for your feedback.
Yes, you are right.
If we allow orders when out of stock, we try to filter with the Availability filter, products which have quantity =<0  are in stock.
ping @marionf @colinegin what do you think of his suggestion?

Stock level > 0 = in stock
Stock level =< 0 = unavailable

Thanks!

[2019-07-08 10:29] khouloudbelguith commented on #14524
@agnesdennetiere, thanks for your feedback.
I tried to not change the birthdate after having the email error & it is OK.
I attached a screen record.
https://drive.google.com/file/d/1jfqUytAArFwIZF2fEircDmALRVNPUHvU/view

Thanks!

[2019-07-08 10:31] xion87 commented on #14515
1. The file seem correct and upgraded with latest version
2. i am using zero theme, but i tested the default theme, having the same issues
3. i restarted the vps, same result
I am using php 7.0 (on the macchine i use multiple 7 version but prestashop use 7.0)

[2019-07-08 10:43] khouloudbelguith commented on #14521
Hi @dheerajwebkul,

This issue is fixed with PS1.7.6.0 & the new version of the ps_facetedesrach v3.
Your ticket is a duplicate of #10010
What is the exact version of the ps_facetedsearch module did you use?

Thanks!

[2019-07-08 10:52] zuk3975 commented on #10586
@matks, should the carriers form be powered by some kind of vue component that would be used in products page (as suggested for products page at #14492)?

[2019-07-08 10:53] khouloudbelguith commented on #14514
Hi @maofree,

Google doesn't use the keywords in meta-keywords and also websites using meta-keywords don't get penalized.

So we are planned to remove them but it's not the priority on SEO for the moment.
Your ticket is a duplicate of #11144
So, I close it.
Thanks!

[2019-07-08 10:53] #14514 closed, assigned to nobody

[2019-07-08 10:53] khouloudbelguith commented on #14514
Duplicate of #11144

[2019-07-08 10:59] khouloudbelguith commented on #14281
@frankymartinES, I tried with a diferent versions of the module ps_facetedsearch but I did not manage to reproduce the issue.
The default combination is well displayed in the FO.

Thanks!

[2019-07-08 11:00] dheerajwebkul commented on #14521
Hello @khouloudbelguith

I am using ps_facetedsearch v3.0.5
But not able to upgrade,
![download (4)](https://user-images.githubusercontent.com/19220745/60805410-9dbf2d00-a19d-11e9-9b84-61bb3a6df896.png)
Even I am not able to login by the correct credentials.

[2019-07-08 11:07] khouloudbelguith commented on #14506
Hi @dineshbadrukhiya,

Thanks for these clarifications.
Yes, when I enable Verbose in Default levels.
I have the same console suggestion with PS1.7.5.2 & PS1.7.6.0rc2.
![image](https://user-images.githubusercontent.com/16067358/60805755-f7f9c700-a178-11e9-8e8e-c89f1c6416e3.png)

[code]

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-08 11:17] dheerajwebkul commented on #14521
I just download ps_facetedsearch from git and updated, and it's fixed.

Thanks.

[2019-07-08 11:17] #14521 closed, assigned to nobody

[2019-07-08 11:18] khouloudbelguith commented on #14388
@siomosp, sorry no.
But this is could be an improvement added to the order page after the migration to Symfony: #13878.
ping @matks, @colinegin what do you think?
Can we have an option to display the number of the latest message?

Thanks!

[2019-07-08 11:20] khouloudbelguith commented on #14502
@cdschilling, so can I close the issue?

Thanks!

[2019-07-08 11:21] khouloudbelguith commented on #14521
@dheerajwebkul, thanks!

Feel free to open a new one when needed.

THanks!

[2019-07-08 11:24] siomosp commented on #14513
Hi,
thank you for your reply
I will try to contact module developers,
best regards
Panagiotis

[2019-07-08 11:35] cdschilling commented on #14502
I think so - I Will Not Update to 1.7.5.2 Again

khouloudbelguith <notifications@github.com> schrieb am Mo. 8. Juli 2019 um
13:20:

--
Schilling, Claus-Dieter; mobil: +49 (0) 160 1685891 ; Am Hollergraben 15,
97516 Oberschwarzach
Https://panorama-baumwipfel-lauf.de/

[2019-07-08 11:53] matks commented on #10712
@sarjon Sorry for late answer, no mock-up right now.

@TristanLDD I know you have already a lot of work, so I will not ask you for more mock-ups 😛
Can you just tell us if we can we reuse the "500 error" pages from https://github.com/PrestaShop/PrestaShop/pull/10780 ?

[2019-07-08 12:01] khouloudbelguith commented on #14502
@cdschilling, As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.
I close the issue, feel free to open a new one when needed.
PS: The stable version PS1.7.6.0 will

[2019-07-08 12:01] #14502 closed, assigned to nobody

[2019-07-08 12:12] khouloudbelguith commented on #14515
@xion87, in your BO => Advanced Parameters => Performance => enable the "Disable all overrides" option, clear cache & feedback.

Thanks!

[2019-07-08 12:18] khouloudbelguith commented on #14500
@vagaluz, We need to retrieve the PHP error log to find out what's wrong.
If you don't have it, you should ask your hosting provider.

Thanks!

[2019-07-08 12:19] colinegin commented on #11329
@marionf do you think we will be able to add this option with the rework on the product page?

[2019-07-08 12:27] xion87 commented on #14515
I done that and now the is no more the error and was able to complete checkout :D

[2019-07-08 12:30] khouloudbelguith commented on #14515
@xion87, so your issue is not a PrestaShop core.
You have an override which is not compatible with your Project.
https://github.com/PrestaShop/PrestaShop/tree/1.6.1.x/override
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-08 12:30] #14515 closed, assigned to nobody

[2019-07-08 12:35] khouloudbelguith commented on #14494
@omar2886, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-08 12:40] khouloudbelguith commented on #14493
@omar2886, the third file is an E2E test file, you don't need to fix it.
We use those test files to run an automated test on PrestaShop to detect bugs.
Thanks!

[2019-07-08 12:56] omar2886 commented on #14493
I added these lines to this file: src/PrestaShopBundle/Resources/views/Admin/Product/CatalogPage/Lists/list.html.twig
`        <td class="text-center">
            <a href="{{ product.url|default('') }}#tab-step2">{{ product.price_final|default('N/A'|trans({}, 'Admin.Global')) }}</a>
        </td>`

I added these lines to this file:
src/PrestaShopBundle/Resources/views/Admin/Product/CatalogPage/Li

[2019-07-08 12:56] #14470 closed, assigned to nobody

[2019-07-08 12:57] colinegin commented on #14054
Exactly, thanks for replying @PierreRambaud.
This is the URL I have on FO :
![image](https://user-images.githubusercontent.com/35263827/60811933-9e04fb80-a190-11e9-819a-82576e9f0936.png)
But the SEO preview also displays query params adtoken=....

[2019-07-08 12:58] jolelievre opened #14527 "Improve modern Module installation"
## Status

There is an existing PR for this issue (see linked PR) that was started a long time ago, there are many interesting things that could be shipped (especially handling the Doctrine entities dynamically)

About the module's service after discussion during this ADR https://github.com/PrestaShop/ADR/pull/8 the best solution is probably to use `$kernel->reboot()` (after the installed module i

[2019-07-08 13:17] marionf commented on #11329
@colinegin yes, we talked about that with @matks

[2019-07-08 13:47] PierreRambaud commented on #14054
Should be fixed with #14530

[2019-07-08 13:52] PierreRambaud commented on #14415
We've also many link with PS16 in the README file:
https://raw.githubusercontent.com/PrestaShop/PrestaShop/develop/README.md
In WebserviceRequest:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/webservice/WebserviceRequest.php#L66
In controllerHttp.php:
https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/classes/controllerHttp.php#L436
Install database.php:
https://git

[2019-07-08 14:00] #13453 closed, assigned to nobody

[2019-07-08 14:55] centoasa commented on #14509
apache php 7.2.20
10.1.40-MariaDB-0ubuntu0.18.04.1
my htaccess have (as default):
#If rewrite mod isn't enabled
ErrorDocument 404 /index.php?controller=404
many customers doesn't found products, so prestashop show a 404 page, but...
https://nimb.ws/A0UOWn
doesn't record any page!

[2019-07-08 15:02] khouloudbelguith commented on #14509
@centoasa, we are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9656
So, I close it.
Thanks !

[2019-07-08 15:02] #14509 closed, assigned to nobody

[2019-07-08 15:02] khouloudbelguith commented on #14509
Duplicate of #9656

[2019-07-08 15:53] khouloudbelguith commented on #14493
Hi @omar2886,

In my case, I edited those files https://github.com/PrestaShop/PrestaShop/pull/11484/files & the price tax included is well displayed.
![image](https://user-images.githubusercontent.com/16067358/60824052-d6acd100-a1a0-11e9-8ba6-a6b5a5e30d31.png)
Try to replace your files by this:
[files.zip](https://github.com/PrestaShop/PrestaShop/files/3369182/files.zip)

Thanks!

[2019-07-08 16:04] omar2886 commented on #14493
I replaced them with yours and nothing happened as well. Could it be a cache issue? normally not if I'm not mistaken.
Sorry for all this questions, you seem to be the only one answering and actually being so reactive, thanks!

[2019-07-08 16:46] tlhuillier commented on #14346
I think this would be very useful.
I find myself often writing comments like the following in the templates I write :
[code]

I think like doing this by Prestashop itself would force some consistency:
- like always using `.js-` prefix on classes used by javascript (and stop writing CSS styles on such classes)
- or maybe always using `data-stuff` to attach JS code on HTML elements.

[2019-07-08 17:29] tlhuillier opened #14533 "Classic theme should promote code quality and best practices - upgrade and rework"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I open `.scss` files coming from the classic theme.
I see there is plenty of efforts that are being put on the backend side of Prestashop, but I'm not feeling like this is the same for the front end part.

Yes I know that there has been some pretty good changes like the venue of Webpack, ES6, on the tooli

[2019-07-08 18:30] frankymartinES commented on #14281
Hi, I am going to show you 3 pages in the same domain, 2 without faceted module and 1 with the faceted module. In the 2 firsts no error and in the thirs one ERROR (look for MIZUNO WAVE LIGHTNING Z5 red and black):
https://sps-sport.com/busqueda?controller=search&s=lightning+z5
https://sps-sport.com/7_mizuno
https://sps-sport.com/351-balonmano?q=Marca-Mizuno

[2019-07-09 00:59] jabarrioss commented on #14447
I'm having the same issue right now there's anyway I can download the es package manually and put it within the installation zip?

PD the installation crash even if I choose english as the default language

[2019-07-09 07:16] webmak commented on #12998
Confirm same issue

[2019-07-09 07:26] PrestaShark commented on #14533
@tlhuillier plase join to https://github.com/PrestaShop/classic-rocket project and participate in its development :)

[2019-07-09 07:47] tlhuillier commented on #14533
Hey @PrestaShark
Your project seems like an interesting initiative, I'll give it a shot.

But still, the Classic theme (being shipped with Prestashop) should be the quality standard on top of which others could rely to take example.

[2019-07-09 07:48] khouloudbelguith commented on #14533
Hi @tlhuillier,

Thanks for your report.
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-09 07:56] matks commented on #14533
How could we disagree with such a statement 😄 obviously you're right @tlhuillier .

It's true that there is so much work on the backend side that we sometimes forget about the theme 💔 . Also since a lot of people use their own theme, they are more eager to report (and speak about) bugs about the backend logic than the theme.

There's just one thing that will be a blocker: retro-compatibility. Even

[2019-07-09 08:01] photinia73 opened #14534 "label "sale" is not appear on discount product 1.7.5.2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-07-09 08:06] webmak commented on #12998
@khouloudbelguith problem is that in new theme admin theme missing laytouts

[2019-07-09 08:10] khouloudbelguith commented on #12998
Hi @webmak,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1ZWA1oSnC31B5vVA67rDDXZZF0_5toOqp/view
Thanks!

[2019-07-09 08:12] khouloudbelguith commented on #14493
@omar2886, you are welcome!
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2019-07-09 08:14] tlhuillier commented on #14533
Glad to ear that.

1.7 themes not being retro compatible with 1.6, I think those things should have been removed totally since modules needed some updates to work on 1.7 and themes needed to be totally rewritten anyway.

One step toward dropping this compatibility code could be to move everything related to retro-compatibility inside a `shame.scss` [?](https://csswizardry.com/2013/04/shame-css/) o

[2019-07-09 08:24] photinia73 commented on #14534
Close this issue pls.

[2019-07-09 08:26] khouloudbelguith commented on #14534
Hi @photinia73,

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-09 08:26] #14534 closed, assigned to nobody

[2019-07-09 08:28] khouloudbelguith commented on #14281
Hi @frankymartinES,

I tried with the 3 shops => the red & black combinations are well displayed.
I attached a screen record
https://drive.google.com/file/d/1U2-muYimQB779zGtHXb4JyG4kkPu9spR/view
Thanks!

[2019-07-09 08:32] thibaudimd opened #14535 "feature empty duplicate issue"
If someone forgets to choose a feature from the list but enters a name in the "customized value"  and saves the feature is no longer removable without deleting the entire product
and each time we save the product the feature is duplicated in a loop

![image](https://user-images.githubusercontent.com/52695980/60871723-95193600-a233-11e9-9358-844d64ec0701.png)

**Additionnal information**
PrestaShop

[2019-07-09 08:33] #14302 closed, assigned to nobody

[2019-07-09 08:33] ghost opened #14536 "[BO/FO IMPROVEMENT] CMS pages with date and featured image"
Hi,
Found something like this
1) Meta title column field is empty though field is filled with data.

![cms](https://user-images.githubusercontent.com/8243273/60872298-b9c1dd80-a234-11e9-8f98-1c8027348364.png)

**Improve**
Change the order of the Title columns and URL
Add featured image to CMS pages
Add dates of add/mod of CMS pages

All above additions to comply with Google structured data require

[2019-07-09 08:33] photinia73 commented on #14534
Hello!

I can`t find anywhere the module or page with drop-prices. It placed in the bottom of page in the block Product.
After clicking on it the page drop-prices is opened with all products which have discount price.
But the left menu contain only one item and every time different.

Where I can adjust this page?
Or to obtain more options I have to install one other module?

Thank you.

З повагою

[2019-07-09 08:35] khouloudbelguith commented on #14535
Hi @thibaudimd,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9680
So, I close it.
Thanks!

[2019-07-09 08:35] #14535 closed, assigned to nobody

[2019-07-09 08:35] khouloudbelguith commented on #14535
Duplicate of #9680

[2019-07-09 08:35] cboillat opened #14537 "Discount table display incorrect prices based on quantity and country"
**Describe the bug**
I have a product with specific prices based on quantity and quantity + country :
![image](https://user-images.githubusercontent.com/1654758/60871805-ca258880-a233-11e9-96e0-6111a3c90360.png)

IP Geolocalisation is enabled on the shop.

When I check the product on the FO with no user connected, the base product price displayed is the "Swiss" price (I'm visiting the website from

[2019-07-09 08:43] khouloudbelguith commented on #14536
Hi @PrestaShark,

Thanks for your report.
With ps1.7.6.0, the Design => Pages page is migrated to Symfony.
![image](https://user-images.githubusercontent.com/16067358/60873109-b8d97d80-a22d-11e9-98b5-4587dc542250.png)

ping @colinegin @marionf what do you think of his improvement?

Thanks!

[2019-07-09 08:45] frankymartinES commented on #14281
I think I did not explain me very vell, sorry!! But the combination are not well displayed, in the producto Mizuno Wave lightning Z5 (red and black) the default combination is the size 42, but with the faceted module active the first combination showed is the 40.5. You can see it in your video, only in your firs test the default combination is showed with the discount because that page has not sid

[2019-07-09 08:45] sunnyvsrainy opened #14538 "The customized payment module always appears in Other category section in Module manager page"
**Describe the bug**
The customized payment module always appears in Other category section in Module Module manager page, although I already specified
`<tab><![CDATA[payments_gateways]]></tab>`
 in config.xml
and
`$this->tab = 'payments_gateways';`
in the constructor method.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Module->Module Manager'
2. Click on 'Upload a module' button o

[2019-07-09 08:51] webmak commented on #12998
@khouloudbelguith  because you are using correct import file))
if not correct then this code in category throw exceptions
`public function calcLevelDepth()
    {
        /* Root category */
        if (!$this->id_parent) {
            return 0;
        }

        $parentCategory = new Category((int) $this->id_parent);
        if (!Validate::isLoadedObject($parentCategory)) {
            if (is_arr