[2019-08-12 08:11] manuman94 commented on #14351
Any progress on this issue?

Thank you, greetings.

[2019-08-12 08:24] mickaelandrieu commented on #13501
This won't help the module developer to maintain its modules across PrestaShop versions

### Now

* before 1.7.6.0
* after 1.7.6.0

### If we patch in 1.7.6.1

* before 1.7.6.0
* 1.7.6.0
* 1.7.6.1+ (same code as "before 1.7.6.0 but with a deprecation)

As they'll have to support 1.7.6.0 anyway, this changes nothing for them.

[2019-08-12 08:34] marionf commented on #15065
Hello @Mamar25

Thank you for opening an issue.
I reproduce the problem, the order of the attributes is not as defined in the back-office.

This issue was supposed to be fixed: https://github.com/PrestaShop/PrestaShop/issues/10018

[2019-08-12 08:48] marionf commented on #15062
Hello @gbr161

I tried to reproduce the issue with PS 1.7.6.0 & faceted search v 3.2.0 but without success as you can see in the screenrecord below:
https://drive.google.com/file/d/1rgX4dcHdTGAHL6GU6_41LkRUMRkWqMAH/view?usp=sharing

[2019-08-12 08:55] marionf commented on #15070
Hello @Flower7C3

Thank you for reporting this issue, however it has already been reported here: https://github.com/PrestaShop/PrestaShop/issues/12078
You should follow this issue

Regards

[2019-08-12 08:55] #15070 closed, assigned to nobody

[2019-08-12 09:33] espacious opened #15072 "Add new translation string to BO"
#### Describe the bug

I override a template from a module in my theme, I add some new strings to translate in that template.
That module still use the old translation system (maybe the issue is also concerning the new system, I don't know).
When I go to the translation tool in the back-end, I can't find my new strings. Only those from the original template are displayed, the ones from the overrid

[2019-08-12 09:59] Mindfield-Studio commented on #15062
Hi,

I think I found something (thanks gbr161, you get me on the right way).

-> "src/Adapter/MySQL.php" in "getFieldMapping" method:

[code]

Hope that helps ;)

[2019-08-12 10:42] Mamar25 commented on #15065
Hi,
Thank you for your return - I will wait for your solution.

[2019-08-12 10:50] eternoendless commented on #15054
This a fundamental misunderstanding. CLDR is meant **exclusively for display**, and should not be taken at all into account when performing calculations. That is, calculations should always be performed with the maximum possible precision, then rounded up for display according to the CLDR specification.

I think the correct issue here is allowing prices to be displayed without decimals, but always

[2019-08-12 10:54] eternoendless commented on #13501
It would be considered a bug fix, and people upgrade more easily between patch versions than between minor versions.

[2019-08-12 11:32] onklmaps commented on #15054
I just fell in love with PrestaShop even more ;-)

Yes, I belive taxes should **always** be displayed with the "accounting" pattern, because the math needs to be correct. But also then the cart total should be displayed with "accounting" pattern, so that we get "calculation":

**Like this:**
Cart total: 25,49 EUR
Tax 25%: 5,10 EUR

**Not this:**
Cart total: 25 EUR
Tax 25%: 5,10 EUR

You could also

[2019-08-12 11:44] PrestaSafe commented on #14735
i've the same issue that @olecorre on a clean prestashop 1.7.6.0 install
![Capture d’écran 2019-08-12 à 13 41 09](https://user-images.githubusercontent.com/4788787/62862777-271acf80-bd07-11e9-81a8-20528317e0e6.png)
![Capture d’écran 2019-08-12 à 13 43 40](https://user-images.githubusercontent.com/4788787/62862815-444f9e00-bd07-11e9-9ef2-2b4fa7d3d541.png)

[2019-08-12 11:58] itisco opened #15073 "Attributes & categories bug in Multishop"
**Describe the bug**
If you have a Prestashop 1.7.5 or 1.7.6 and want to use the multishop feature then you have 2 major issues :
1/ the attributes won't display in the product page
2/ the categories won't display in the categories list

**To Reproduce**
Steps to reproduce the behavior:
0. create at least 2 shops via the multishop menu
1. create categories, attributes and attribute values in "All

[2019-08-12 11:58] Mindfield-Studio commented on #15062
@marionf : it seems you have to have at least one filter on the category to reproduce this issue

[2019-08-12 12:11] matks opened #15074 "Improve code readability for Javascript checkout behavior"
This feedback should be handled for 1.7.7: https://github.com/PrestaShop/PrestaShop/pull/15042/files/2974dd7d78a422c10023120e5ed5e5482e9d74de

[code]

[2019-08-12 12:16] #14846 closed, assigned to jolelievre

[2019-08-12 12:27] PrestaShark commented on #15056
Hi.
Let me explain.

If someone search for exact size (no matter if its shoe or tshirt) then want to select wanted size and get matched products (in matter of UX need of use another filter like availability is highly unnecessary - searching within unavailble products is weird, and should be droped by the team working on UI/UX...)

So as customer i want to view shoes with size 42 then i want to cli

[2019-08-12 12:28] Hlavtox opened #15075 "Translation of strings loaded in controllers is not working. Manual insert to DB not working also."
Some strings still cannot be translated. The string is not found in the translation catalog.

---
[Update by @eternoendless]

https://github.com/PrestaShop/PrestaShop/issues/15075#issuecomment-523841355
---

**Example**
"Guest order tracking" - Shop.Theme.Checkout

**Setup**
Install some other template, like classic-rocket.
Prestashop 1.7.6

[2019-08-12 12:31] PrestaShark commented on #15056
@marionf @colinegin @PierreRambaud please take care about it.

If Faceted Search need more attention and time please consider to Crowdfund it and do it right.

Thanks.

[2019-08-12 12:40] PrestaShark commented on #15056
Selected size: 38.5 (1)
Selected availability: In stock/Available

And result as below :(

![Bez-nazwy-2](https://user-images.githubusercontent.com/8243273/62865514-0191c400-bd0f-11e9-9058-b07b069d6126.png)

[2019-08-12 12:50] dharmendravirasat opened #15077 "I want show Tax included price on front office"
![image](https://user-images.githubusercontent.com/44469219/62866177-cce13500-bd2d-11e9-804a-66e5376194c8.png)
prestashop version 1.7 +
plz suggest
 @khouloudbelguith

[2019-08-12 13:00] #15066 closed, assigned to nobody

[2019-08-12 13:04] marionf commented on #15056
@PierreRambaud This issue was supposed to be fixed: https://github.com/PrestaShop/PrestaShop/issues/10018

I xan currently filter by a combination that is no longer available. This should not be possible if the combination is out of stock and if the order of out of stock products is not allowed

[2019-08-12 13:10] marionf commented on #15062
@Mindfield-Studio

I tried to reproduct but even with 1 filter it's correclty sorted by position ascending

![capture d'écran_1878](https://user-images.githubusercontent.com/13449658/62867284-3e5fba00-bd13-11e9-9e8f-b89c137c6a02.png)

![capture d'écran_1879](https://user-images.githubusercontent.com/13449658/62867286-415aaa80-bd13-11e9-8cb1-71d8f82525bc.png)

[2019-08-12 13:27] ConvarDeutschland opened #15078 "Checkout not possible with Order amount 0"
Checkout is not possible in prestashop 1.7.6.0 if order amount is null (0). In the payment section the text "No payment needed for this order" is shown but on the bottom of the page the button "Order with an obligation to pay" is deactivated and the error message "Please make sure you've chosen a payment method and accepted the terms and conditions." is displayed. In 1.6 this was working.
![Order_

[2019-08-12 13:32] matks commented on #14685
I guess if there is no answer, it means we don't have it.

However @Daaaaad it seems on the FO the 2 script injection blocks are still available:
- `javascript_head` for header JS: https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/_partials/head.tpl#L62
- `javascript_bottom` for bottom JS: https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/l

[2019-08-12 13:33] marionf commented on #15077
Hello @dharmendravirasat

Did you enabled taxes in International > Taxes ?
Does your customer show prices taxes included in Shop parameters > Customers settings > Groups  > edit customer group > price display method ?

[2019-08-12 13:36] eternoendless commented on #14731
This difference in behavior may respond to a design choice:

In the 1.6 way, choosing the same option as in "all shops" will make the shop effectively "inherit" whatever choice is made for all shops at any given time in the future, resulting in unexpected behavior. For example, if I enable gift wrapping in one shop, and it matches the setting for "all shops", then if I disable gift wrapping in all

[2019-08-12 13:51] matks commented on #14735
Nice one !

Is there some things you struggled with ? Is there some improvements/suggestions you have, now that you have experimented the new hooks for migrated pages ? 😄I'd love to hear your feedback

[2019-08-12 13:55] dharmendravirasat commented on #15077
@marionf
Tax already enabled.
i'm using prestashop 1.7.4 version
and this option don't have a
 Shop parameters > Customers settings > Groups > edit customer group >

[2019-08-12 13:57] daresh commented on #14735
I struggled with it a bit, cause the debugger was misleading. If anything was wrong with the additional field, all I got was a notice "Notice: Undefined variable: categoryForm". So no clue about what is wrong there. But I search through the new code a bit for examples and it finally worked. Would also be gratefull for any feedback on the module.

[2019-08-12 14:02] dharmendravirasat commented on #15077
edit customer group > price display In
Showing  HT and TTC
i don't have any idea which option for price tax included
@marionf  @khouloudbelguith

[2019-08-12 14:15] fdonnet opened #15080 "Oneclick upgrade from 1.7.5.2 to 1.7.60 (database_prefix)"
Exactly the same bug as this forum post:
https://www.prestashop.com/forums/topic/998058-after-upgrade-1740-to-1760-site-reach-500-internal-server-error/

but from 1.7.5.2 to 1.7.6.0

Oneclick updater version up to date.

The procedure worked fine for another shop => no issue, but for my principal it raised this error and I don't know why at all

"Fatal error: Uncaught Symfony\Component\DependencyI

[2019-08-12 14:18] eternoendless commented on #13876
Why not use `form_widget(form)` to render the whole form? Modules could just edit the form builder to add their fields anywhere.

[2019-08-12 14:32] eternoendless commented on #14790
Closed via #15030

[2019-08-12 14:32] #14790 closed, assigned to matthieu-rolland

[2019-08-12 15:09] gbr161 commented on #15062
@Mindfield-Studio thanks for the reply but this doesnt fix the problem.
Here are the screenshots:
![front](https://user-images.githubusercontent.com/3307202/62875787-e8dfd900-bd23-11e9-8030-fc13f5592806.png)
![back](https://user-images.githubusercontent.com/3307202/62875793-ebdac980-bd23-11e9-86a8-7bac2e7e0d8c.png)

[2019-08-12 15:14] mrabsinthe opened #15082 "Basket Rules deletion/editing issues"
**Describe the bug**
We have about 5300 expired cart rules / discount vouchers.
If I want to edit any of those - 504 gateway timeout - need to reboot VPS server
If I want to bulk delete 20 - OK
If I want to bulk delete 100 and more - 504 gateway timeout - need to reboot VPS

I'm sure that deleting 1000 at once should not be an issue but it is.

The question is, how can I delete 1000 at once? Not s

[2019-08-12 15:25] MathiasReker commented on #15082
Prestashop 1.7.5.1 is not compatible with PHP 7.3.8

[2019-08-12 15:35] mrabsinthe commented on #15082
Officially not, but it has been running on PHP 7.3 since it came out and there were no PHP version related issues. I sincerely doubt that this issue is caused by the PHP version.
But to be sure, I've just tested under PHP 7.2.21 and the issue is exactly the same - 504 gateway timeout - need to reboot VPS.

[2019-08-12 15:37] marionf commented on #15077
@dharmendravirasat
I am not sure to understand your answer.
Did you check what is the price display method seted for your customer group ?

[2019-08-12 16:10] marionf commented on #15078
Hello @ConvarDeutschland

I can't reproduce the issue with PS 1.7.6.0 & classic theme, as you can see below I validated a free order with success

![capture d'écran_1880](https://user-images.githubusercontent.com/13449658/62879813-3d875200-bd2c-11e9-8720-62894775af91.png)

![capture d'écran_1881](https://user-images.githubusercontent.com/13449658/62879816-3fe9ac00-bd2c-11e9-86a6-af788ef93823.png)

[2019-08-12 16:24] matks commented on #14897
It would be nice but that's a very big piece of work that cannot be started right now as we have major areas of the software already being reworked

A big rework of the WS is in the roadmap: https://github.com/PrestaShop/PrestaShop/projects/1#card-13082456

Although nothing is decided, it is likely that when we start this big project, we'll build a V2 REST API (current webservice will remain avail

[2019-08-12 16:52] pedroideavity opened #15085 "Positions doesn't work. Gives me error 404."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Design'
2. Click on 'Positions'
3.. See error

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.2
Memory Limit: 512M
Max execution time: 300

[2019-08-12 17:26] ddv1976 opened #15086 "Product category empty in results ps_facetedsearch"
My version prestashop is 1.7.5.2

No results in category page

Screen:
https://gyazo.com/9b0f31e35038595dc15fade0c81d44ee

There are no products on any categories page!!!

Please, I need help with this.

[2019-08-12 18:50] Alexandr-Vall commented on #14880
U menya tochno tokaya-zhe problema.
U pochti vse tovary v kollichestve 1 shtuka
Pokupateli postoyanno sprashivayut - yest' etot tovar v nalichii ili net posle dobavleniya yego v korzinu, no eto postoyannyye pokupateli. A kto v pervyy raz zashel v moy magazin dobavil tovar v korzinu, a yemu srazu soobdeniye, chto dannogo tovara net v nalichii. Im ne otpravish' soobshcheniye - "ostalsya tovar v korz

[2019-08-12 18:51] Alexandr-Vall commented on #14880
I definitely have the same problem.
Almost all products have 1 piece.
Buyers constantly ask whether this product is in stock or not after adding it to the basket, but these are regular customers. And whoever first went to my store added the product to the basket, and he immediately realized that the product was not in stock. You will not send them a message - "the goods remained in the basket", be

[2019-08-12 19:07] mickaelandrieu opened #15087 "Fix support of Twig 2 in the optional build"
**Describe the bug**
No matter the contribution, the optional build is broken with explicit error messages:

* "admin_themes_index" ('Theme & logo', 'admin_themes_index') Twig\Error\RuntimeError: Variable "ps" does not exist.
* "admin_mail_theme_index" ('Email Theme', 'admin_mail_theme_index') Twig\Error\RuntimeError: Variable "ps" does not exist.
* "admin_emails_index" ('Advanced parameters E-mai

[2019-08-12 19:27] MathiasReker opened #15088 "Logo is missing on invoice"
**Describe the bug**
Logo is missing on invoice if SSL is enabled.

**To Reproduce**
See this screenrecord: http://reker.dk/ssl.webm
Tested with 100% clean install of 1.7.6.0 on Windows with open SSL.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/26626066/62892105-b8aa3180-bd47-11e9-9662-7783c50bdab

[2019-08-12 19:29] MathiasReker commented on #15043
Maybe it is related this this https://github.com/PrestaShop/PrestaShop/issues/15088?

[2019-08-12 19:29] MathiasReker commented on #15033
Maybe it is related this this https://github.com/PrestaShop/PrestaShop/issues/15088?

[2019-08-12 21:42] MathiasReker commented on #15088
Fixed here: https://github.com/PrestaShop/PrestaShop/pull/15089/files

[2019-08-13 03:02] efren1975 opened #15090 "Problems with my email"
I ask to refresh my ´password to log in in my session in prestashop
because  i forgo it .
But I did not receive noting in mi email

![Bug](https://user-images.githubusercontent.com/54050460/62912187-ac74a300-bd4c-11e9-86ba-1cfd053f2ef3.jpg)

[2019-08-13 03:29] GTAR777 commented on #15090
I never made an account

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: efren1975 <notifications@github.com>
Sent: Monday, August 12, 2019 11:02:26 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [PrestaShop/PrestaShop] Problems with my email (#15090)

I ask to refresh my ´password to log i

[2019-08-13 03:29] GTAR777 commented on #15090
But i will because im working for the ecommerce development.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ghairat Akseer
Sent: Monday, August 12, 2019 11:29:07 PM
To: PrestaShop/PrestaShop <reply@reply.github.com>; PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Prob

[2019-08-13 06:45] dharmendravirasat commented on #15077
thanks

[2019-08-13 06:45] #15077 closed, assigned to nobody

[2019-08-13 07:11] itisco commented on #15033
Hello,
For the logo, yes,
But for the products images?

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le lun. 12 août 2019 à 21:29, Mathias Reker <notifications@github.com> a
écrit :

--
*PETIT DEJITAL #17*
*STRATÉGIE DIGITALE LA CROISSANCE A PORTÉE DE CLIC*

[2019-08-13 07:35] mariem-abid commented on #14561
Hi @razvypp,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-13 07:35] #14561 closed, assigned to nobody

[2019-08-13 07:41] mariem-abid commented on #14602
Hi @dheerajwebkul,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-13 07:41] #14602 closed, assigned to nobody

[2019-08-13 07:44] mariem-abid commented on #14606
Hi @ayladt,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-13 07:44] #14606 closed, assigned to nobody

[2019-08-13 07:50] ConvarDeutschland commented on #15078
Hello Marionf,
thanks for the help, your are right we had removed the terms checkbox as our lawyer told us that this box is not needed as long as the terms sentance is there(I agree to the terms of service and revocation terms and will adhere to them unconditionally.), and for this reason when cart has an amount of 0 and no payment has to be selected, the error message was displayed. We resolved i

[2019-08-13 07:56] mariem-abid commented on #14625
Hi @Attiro76,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-13 07:56] #14625 closed, assigned to nobody

[2019-08-13 07:59] ConvarDeutschland opened #15091 "Prestashop 1.7.6.0 Private note not saved"
Hello,

In Prestashop 1.7.6.0 the private notes are not saved

Goto Orders, click on view, enter a text in private note, click on save
The note is not saved and a green notification withrhe text undefined is dsplayed.

If you select "vie full details..." and save the private note there it works
![Comment_not_saving](https://user-images.githubusercontent.com/14978257/62924704-f3947f80-bdb0-11e9-99d

[2019-08-13 08:05] marionf commented on #15078
Thank you for your answer @ConvarDeutschland
I close this issue

[2019-08-13 08:05] #15078 closed, assigned to nobody

[2019-08-13 08:18] matks commented on #14932
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14966

[2019-08-13 08:18] #14932 closed, assigned to matthieu-rolland

[2019-08-13 08:18] mariem-abid commented on #15082
Hi @mrabsinthe,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-13 08:24] mariem-abid commented on #15085
Hi @pedroideavity,

Thanks to adding a short description of your issue and add steps to reproduce it in a new comment.

[2019-08-13 08:31] mariem-abid commented on #15090
Hi @efren1975,

I did not manage to reproduce the issue with PS 1.7.6.0.
What is the exact version of PS did you installed?

[2019-08-13 08:50] TristanLDD commented on #14135
Hi @PrestaShark,
Thanks for your suggestion, it is very relevant especially in the case of instruction manuals. I think a dropdown checkbox list would be more appropriate to handles the case where many languages are installed. We'll try to work on this as soon as possible.

[2019-08-13 08:51] mariem-abid commented on #15086
Hi @ddv1976,

I did not manage to reproduce the issue with the last version PS 1.7.6.0 and the module  ps_facetedsearch v3.2.0.
I attached a video record
https://drive.google.com/file/d/1ZUdUqLgp1FAoBKdqbRrKwDQ5WuVL8z6h/view
What is the exact version of PS and the module ps_facetedsearch did you installed?

[2019-08-13 08:54] mrabsinthe commented on #15082
Hi, I hope it helps, not easy to do testing since it is live server...
Debug enabled but no output or report.
![console](https://user-images.githubusercontent.com/31688689/62928289-900e5000-bdb8-11e9-86c1-01934fd70eae.png)

[2019-08-13 09:01] mariem-abid commented on #15091
Hi @ConvarDeutschland,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record
https://drive.google.com/file/d/1liIIyHxmxnDZeNDeFU_Mq5qyijaCF0zg/view

Thanks for check and feedback.

[2019-08-13 09:17] matks commented on #15019
Hi @SniperCZE I'm afraid current prestashop implementation relies very heavily on auto_increment strategy so it would need a very huge quantity of work to be able to stop using it, although it would be for the best (using UUID would solve multiple design issues in prestashop).

Your issue and request are relevant but honestly I dont think we will be able to address it before some months/years 😞 .

[2019-08-13 09:17] matks commented on #15019
And also this would be a breaking change so since we follow SemVer this could be done only in next 8.0 version 🤔

[2019-08-13 09:40] mariem-abid commented on #15075
Hi @Hlavtox,

Does your new theme inherit the classic theme provided by Prestashop?

[2019-08-13 09:58] mariem-abid commented on #15069
Hi @dnatabar,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading your versio

[2019-08-13 10:04] marionf commented on #15052
I change the translation for "Set required fields for this section", it's well applied on Customer page (symfony page)

![capture d'écran_1884](https://user-images.githubusercontent.com/13449658/62933334-4296e080-bdc2-11e9-8eb9-eef8ff2aab85.png)

However, the translation of "View my shop" is ok on legacy page but not in symfony pages

![capture d'écran_1885](https://user-images.githubusercontent.c

[2019-08-13 10:14] dnatabar commented on #15069
I highly doubt it is a compatibility issue, as the shop itself works fine and the webservice works fine as well.
I will however give it a try ofcourse, better rule something out than make assumptions :)

[2019-08-13 10:15] mariem-abid commented on #15087
Hi @mickaelandrieu,

Hi @8ternity,

Here's the PR: #13761 to fix the issue.
Your ticket is a duplicate of #12461
So, I close it.
Thanks!

[2019-08-13 10:15] #15087 closed, assigned to nobody

[2019-08-13 10:15] mariem-abid commented on #15087
Duplicate of #12461

[2019-08-13 10:25] mariem-abid commented on #15072
Hi @espacious,

I manage to reproduce the issue with the last version PS:1.7.6.0
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-13 10:47] mariem-abid commented on #15080
Hi @fdonnet,

Do you use the prefix "ps" by default of PrestaShop or did you change it during installation?

[2019-08-13 11:00] fdonnet commented on #15080
Hi @mariem-abid ,
Default "ps" prefix. And it's a very simple shop (with a classic child theme). My other shop upgrade (more complex site) passed 1.7.6 without any issue... it seems strange, and I cannot identify where to look at, but apparently some other guys have the same issue (forum link, in the issue).

[2019-08-13 11:00] Hlavtox commented on #15075
@mariem-abid I don't know. It's the classic-rocket theme from your repository.

[2019-08-13 11:29] espacious commented on #15072
I havent found any solution yet.

I forgot to add some details:
Presta version: 1.7.5.1, PHP version: 7.1.31, Server software version: nginx/1.14.2

[2019-08-13 12:03] ddv1976 commented on #15086
Hello!

My version of prestashop is 1.7.5.2
https://gyazo.com/5c980db9156e3cb79ae6c7e64e501b70

The ps_facetedsearch module is 3.1.0
https://gyazo.com/a4c5140d6245ed9310dd49f0930b615e
https://gyazo.com/210ae9f1be5b4883fdc84692802380dc

No results are shown in any category, there are more than 700 products in the store:
https://gyazo.com/de119f229072d5be8a28c85c15d07c7f
https://gyazo.com/74d4f1982a

[2019-08-13 12:06] colinegin commented on #14336
@eternoendless @PrestaShop/prestashop-core-developers @jolelievre what do you think of this issue ?

[2019-08-13 12:28] s-mancia opened #15094 "Product not showing up when listed in multiple categories"
**Describe the bug**
When a product is listed in multiple categories the product is only listed in the "Main category".

Meaning if I list a product in Category 1 and Category 2 and put Category 1 as "Main category" it only shows up in Category 1 in the frontend.

Please confirm this issue, last version this was working fine.

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.3

[2019-08-13 12:49] SniperCZE commented on #15019
Maybe I'm missing some point but you can rely on auto_increment event when not set to 1, ID is just generated by database engine itself. Or does prestashop generates ID for rows in app and just insert it? Something like "select id of last row, add 1, insert new row."?

[2019-08-13 12:55] Hlavtox commented on #15056
@PrestaShark This is neverending story. I thought I would upgrade to 1.7 by 1.7.6 release, but it needs to wait. This software is just unusable in this condition.

- There is no properly working filtering. Dozens of combinations, bad product counts, no proper in-stock filter, page jumping to the top all the time.
- Translations are still not working after 2 years.
- Customers see delete icons next

[2019-08-13 12:57] mariem-abid commented on #15094
Hi @Swerone,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading your version

[2019-08-13 12:59] evsport opened #15095 "Error to calculate shipping fee."
Hi
I have an issue with the cart.
I offer free shipping for order more than 100$.
If the customer is buying a products that cost 110$ and add a coupon of 15% the price will be less than 100$ but the system doesn't add the shipping fee.
Do you know if this bus is fixed?

Prestashop version:1.7.4.2

I will appreciate your help.
Thank you

[2019-08-13 12:59] mrabsinthe commented on #15082
I have checked both the PHP error log and the apache error log. From the PHP error log, I could not find any valid entries for the domain.
Upon inspecting the apache error log on the server, I could find some errors which are dated on Aug 12,13. The latest errors reported is attached below and it is something related to timeout.

[Tue Aug 13 04:47:50.925623 2019] [proxy_fcgi:error] [pid 3335:tid 4

[2019-08-13 13:04] Swerone commented on #15094
Thanks for the response @mariem-abid.

Just downgrades to PHP 7.2.21, cleared cache both in PS and the browser readded a new product in two different categories and still, it only shows the product in the main category.

Where you able to reproduce the issue?
Kind regards

[2019-08-13 13:06] Daaaaad commented on #14685
Hi @matks,

Everything is in explained above : There was a option to "move javascript to the end" in the previous versions 🤔 Now the button was removed and code seems to be always moved to the end, which can cause problems in specific cases...

Regards,

David.

[2019-08-13 13:14] mariem-abid commented on #15073
Hi @itisco,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1omixtsSXVQdECtVt1IsTPgf_94OBvS0S/view

Thanks for check and feedback.

[2019-08-13 13:26] matks commented on #14685
@Daaaaad so if I understand correctly:

On PS 1.6, when you install bpost module you need to use the configuration option "move JS files to the top" (the top, not the end) to make it work

And now that the option is gone, all JS code is injected at the end of the page, making the bpost module useless. Right ?

[2019-08-13 13:32] ttoine commented on #15056
FYI, this is quite possible to have a very successful website with PrestaShop 1.7.x

A few examples:

Spain:
- https://www.wonders.com
- https://www.cremas-caseras.es
- https://housepet.es/
- https://tienda-just-eat.es/
- https://www.zonatactica.es/
- https://charucashop.com/

Italy:
- https://www.soundtaste.eu/it/
- https://shop.imoving.it/
- https://www.rubinetteriashop.com/it/
- https://www.wrs

[2019-08-13 13:39] Daaaaad commented on #14685
Hi @matks, by default JS was not moved to the end 😉 But we had the possibility to "move javascript to the end". I understand that this behaviour  (move JS to the end) is better for performance but we didn't have the choix anymore... and the bpost module is broken. I don't think it's an isolated example 🤔

[2019-08-13 13:54] mariem-abid commented on #15061
Hi @kodarco,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record and a screenshot.
https://drive.google.com/file/d/1UMVUCDsZB1x_LZgvZq3W5zI2Z1k_tjUz/view
![13-08-19](https://user-images.githubusercontent.com/36841537/62947320-3a4a9f80-bdda-11e9-93c2-114367f94add.png)

Thanks for check and feedback.

[2019-08-13 14:28] mariem-abid commented on #15088
Hi @MathiasReker,

Thanks for your fix.
I manage to reproduce the issue with the last version PS 1.7.6.0
I’ll add this to the debug roadmap

[2019-08-13 14:35] efren1975 commented on #15090
it is the most recent version

[2019-08-13 14:37] efren1975 commented on #15090
I changed the password in the database but still not working. I do not know what can i do more.

[2019-08-13 15:01] mariem-abid commented on #15069
@dnatabar, waiting for your feedback!

[2019-08-13 15:02] Klemart3D opened #15097 "Quotes escaped into module name on Positions page"
**Describe the bug**
Quotes character is replaced by `&quot;` into module name on Positions page:

![Positions page](https://user-images.githubusercontent.com/7419525/62952167-7df9d500-bdeb-11e9-83c4-ff3de45db505.png)

When on Module listing page, module name is well displayed:

![Modules page](https://user-images.githubusercontent.com/7419525/62952461-ff516780-bdeb-11e9-881b-c64651863d5d.png)

**

[2019-08-13 15:04] supvm opened #15098 "problem with state and province"
Hi everyone, I have a problem, I have the 1.6.23 version of prestashop, I only sell in Italy, the problem is that when Import an ebay order with a form it confuses me with the provinces, instead of taking the Italian province from the list of the states, the province chooses me from the list united states, for example Milan becomes Michigan because they both have the initials MI, I have already di

[2019-08-13 15:10] matks commented on #15056
Also the bugs in Faceted Search are not related to Symfony, they are bugs introduced by a massive refactoring of the faceted search module codebase which definitely needed it. New version has been reworked for clearer and better implementation and has been covered by unit tests to catch as much bugs as possible. But the 0% bug target is an unreachable target.

About the disappointment you strongly

[2019-08-13 15:10] eternoendless commented on #15056
Another important note: PrestaShop is maintained by a very small team who does most of the heavy lifting on the project. We're not Microsoft or Uber, we don't have 6000 engineers working so that everything can move forward at the same time (although I'd very much like that!). That means things will take some time to be addressed. Oh and by the way, [bugs are normal](https://m.signalvnoise.com/soft

[2019-08-13 15:19] mariem-abid commented on #15097
Hi @Klemart3D,

I manage to reproduce the issue with the last version PS:1.7.6.0
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-13 15:29] matks commented on #15019
I'm sorry I read your comment too fast 😥 indeed my answer was irrelevant

So what does M-M Setup requires `auto_increment` to be ? I'm sorry I have no knowledge of M-M requirements for mysql. Depending on the requirement, we can see whether disable the check, make it optional, or something else.

This check is useful but we could transform it into a warning if eligible.

[2019-08-13 15:37] mariem-abid commented on #15090
@efren1975, could you please try to change the password from the Back Office.
Thanks for check and feedback.

[2019-08-13 15:46] efren1975 commented on #15090
From the Back office? I do not how to do that.

[2019-08-13 15:48] mariem-abid commented on #15082
@mrabsinthe, could you please try to increase the "timeout" found it in the php.ini file.
Thanks for check and feedback.

[2019-08-13 15:49] PrestaShark commented on #15056
Crowdfund is a keyword. Do it for crucial implementations. Do not hesitate to ask for it like Wikipedia do. Thirty Bees crowdfund elasticsearch implementation. Faceted search is most crucial right now guys...

I can't offer software that i can't relay on it :(
I love PS since 1.2.2.2. Make it great again.

[2019-08-13 15:54] mariem-abid commented on #15098
Hi @supvm,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close it.

[2019-08-13 15:54] #15098 closed, assigned to nobody

[2019-08-13 15:59] mariem-abid commented on #15090
@efren1975, try to navigate to BO=> Customers => Customers=> Click on the edit button for the client you wish to change the password.

Thanks for check and feedback.

[2019-08-13 16:08] marionf commented on #14880
Hello guys,

Thank you for your feddbacks.
So, this is what we can do:
Display the real quantity in stock, no matter how many was added to the cart.

Is it ok for you like this ?

[2019-08-13 16:14] MockoB commented on #14880
Hi @marionf,
If it means, when adding a product in the cart doesn't lower the available quantities (which forces warning message to appear, like it was in previous ps versions and is on all other platforms) it is perfectly fine for me :) You could still add it as a feature in the back office to choose between different behaviours.

Kind regards,
Moskov

[2019-08-13 16:19] marionf commented on #15097
Hello @mariem-abid

Can you try to reproduce it with PS 1.7.5.2 and tell us if it's a regression or not ?

[2019-08-13 16:19] Alexandr-Vall commented on #14880
Yes. This is what I need.
I need a real quantity in a warehouse, instead of a quantity in a warehouse minus a basket.
Thank.

[2019-08-13 16:31] albertg5 opened #15099 "Can't add product with Prestashop 1.7.4.3"

[2019-08-13 16:35] #15099 closed, assigned to nobody

[2019-08-13 16:50] marionf commented on #14880
@MockoB

Let's say you have 1 product in stock and add this product in your cart.
You will still have the out of stock message and add to cart button disabled in the product page.
Because this product is always in your cart and you can't add it again.
Or we can change "Out of stock" by "Already in cart" ? What do you think about that ?

![capture d'écran_1887](https://user-images.githubusercontent

[2019-08-13 17:01] mrabsinthe commented on #15082
there is no timeout, see below complete php.ini:
date.timezone = "US/Central"
display_errors = Off
max_execution_time = 1200
max_input_time = 600
max_input_vars = 10000
memory_limit = 1024M
post_max_size = 20M
session.gc_maxlifetime = 1440
session.save_path = "/tmp"
upload_max_filesize = 64M
zlib.output_compression = On
asp_tags = Off
extension = memcached.so
allow_url_fopen = On
allow_url_include

[2019-08-13 17:01] Alexandr-Vall commented on #14880
Change "Out of stock" by "Already in cart"
If there is no way not to reduce the quantity of goods, then such a decision would suit.

[2019-08-13 18:07] Hlavtox commented on #15056
@ttoine @eternoendless @matks Sorry for the rude wording, but you really need to see the merchant's point of view. In every software there are bugs, even in a really small app, I fix myself multiple times. But there are bugs that are crucial and bugs that can wait.

**Read this examples and try to think about it:**

1. We don't have decimals in our currency. That makes Prestashop 1.7 completely (w

[2019-08-13 18:07] Flower7C3 commented on #14847
@khouloudbelguith there are no PHP error logs. Problem is in AJAX request after modal is closed.

[2019-08-13 18:42] boomdrak opened #15101 "Save button not showing on carriers edit after upgrade from 1.7.5.2 to 1.7.6.0"
After upgrading til 1.7.6.0 -> BO -> Carriers and Edit on a specific.
The "Save" button is not there any more.

https://shop.xx.no/xxxxx/index.php?controller=AdminCarrierWizard

console says :

notifications.js:77 Uncaught ReferenceError: admin_notification_get_link is not defined
    at getPush (notifications.js:77)
    at HTMLDocument.<anonymous> (notifications.js:58)
    at j (jquery-1.11.0.min

[2019-08-13 18:50] MockoB commented on #14880
@marionf
I still think that best way is to do it like all others did. And it is the way it was in previous PS versions, I believe you never got complains about it.

But if you still want to be innovators, you may do it like that, yes. But I don't think that just "Already in cart" is enough. It should be more likely "The last item is already in your cart" and "The last 3 items are already in your c

[2019-08-13 19:28] Hlavtox opened #15102 "Faceted search | Page unsuable after loading page with filters in URL"
Watch the video and/or follow the steps.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a filters, so no product's match.
2. See no error message.
3. Parameters get written to the URL.
4. Refresh page.
5. Page loads with different "not-found" error box. No active filters are selected above the product list.
6. Remove all selected filters in left columns.
7. Error message stays. The p

[2019-08-13 19:39] Hlavtox opened #15103 "Faceted search | Unusable - OR behavior between filters"
After upgrade to 3.2.0, faceted search returns all product that match filter A OR that match filter B. See the video. Explains it all.

I want a Red BMW in diesel.
I select Brand BMW, Fuel diesel, Color Red.
Why I get shown all BMWs, all diesel cars and all red cars?

This is not even funny.

**Video**
https://drive.google.com/file/d/1lkDe0eFc0UUXhWVAudnB-iPyNIkOO-zo/view?usp=sharing

**Additional

[2019-08-13 20:58] PrestaShark commented on #14516
Yes. Catalog price rules should be on top of the priority , then will be useful for merchants.

Case
1) Got dozens of discounted products in category (20 euro, 10%, 40%)
2) Want to make sale offer for this category by the catalog price rule like 20% off
3) Only non distounted products will be covered by the catalog price rule, and rest will have previous special prices  (20 euro, 10%, 40%)
4) To m

[2019-08-13 22:39] gbr161 commented on #15062
@marionf @Mindfield-Studio
After hours of looking whats wrong, changing servers and database version i ended with setting up clean install of prestashop and it worked. Looking further and extracting the sql query on both setups i found that query is different:

"Bugged" query:
`
SELECT p.id_product FROM (SELECT p.id_product, p.id_manufacturer, sa.quantity, p.condition, p.weight, p.price, cp.positi

[2019-08-13 23:11] maposka opened #15104 "Prestashop 1.7.6 product page - module tab - not working"
**Describe the bug**
Can't configure modules on product page tab, when I click configure nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Products Catalog'
2. Click on 'Product then on Module '
3. If you have a product on this hook click configure
4. Nothing happens.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Addit

[2019-08-14 00:48] Mindfield-Studio commented on #15062
Maybe it's different depending on prestashop version (i'm on a "fixed" version of 1.7.4).
The "**p**.position" ordering does not make sense, I don't even think this field exists in "product" table.

The position field is in "category_product", so the ordering need to be on "**ps**.position". Everything is in the "src/Adapter/MySQL" class. My previous post fixed the issue for me (by adding "'fieldN

[2019-08-14 01:11] WholeSource commented on #15053
@khouloudbelguith
"If you try to upload a zip file with the theme folder => OK
child_classic.zip"

does not work
https://youtu.be/DA6weVrJc_4

[2019-08-14 01:42] WholeSource commented on #12667
turning on debug mode produces

Fatal error: Uncaught Error: Class 'Tools' not found in /var/www/html/classes/db/Db.php:794 Stack trace: #0 /var/www/html/config/alias.php(47): DbCore->escape('configuration', false) #1 /var/www/html/config/alias.php(52): pSQL('configuration') #2 /var/www/html/classes/Configuration.php(155): bqSQL('configuration') #3 /var/www/html/classes/Configuration.php(209): Con

[2019-08-14 04:48] yahyaefendy opened #15105 "prestashop send contact us not working in localhost"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-08-14 04:49] #15105 closed, assigned to nobody

[2019-08-14 06:30] gbr161 commented on #15062
@Mindfield-Studio
I don't know how it is on 1.7.4 but since it all happens in module it shouldn't be the difference. Have you tried switching "Show products from subcategories" to "No"? This what makes the problem visible.
I know that there is no "p.position" and it should use "cp.position" but there is no difference in result i have got after changing it on two hosts where i have tested it runnin

[2019-08-14 07:14] silviu25 commented on #14164
I;m coming with news
I installed a fresh new PS 1.7.6.0 on a subfolder (ex: www.mysite.com/2 )
I installed and configured a new theme, then I checked and everything was fine, including stats.
I moved entire PS 1.7.6.0 from subfolder to root (ex: www.mysite.com) and everything is fine except stats.

[2019-08-14 07:17] efren1975 commented on #15090
mariem-abid thanks so much for your answers, But that is the problem i have. I can not acces to the back office because i can´t remenber my password. :-)

[2019-08-14 07:18] silviu25 opened #15106 "Stats not working part II"
For part I please read here: https://github.com/PrestaShop/PrestaShop/issues/14164

I'm coming with news
I installed a fresh new PS 1.7.6.0 on a subfolder (ex: www.mysite.com/2 )
I installed and configured a new theme, then I checked and everything was fine, including stats.
I moved entire PS 1.7.6.0 from subfolder to root (ex: www.mysite.com) and everything is fine except stats. They show 0 for a

[2019-08-14 07:23] suncho26 commented on #14969
I'm closing the issue, since I think there is no adequate answer on the subject by the developers of PrestaShop.

[2019-08-14 07:23] #14969 closed, assigned to nobody

[2019-08-14 07:32] marionf commented on #15062
Thank you for these details @gbr161
I can reproduce the issue when "Show products from subcategories" is disabled

[2019-08-14 07:34] mariem-abid commented on #14635
Hi @banobazaar,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-14 07:34] #14635 closed, assigned to nobody

[2019-08-14 07:35] mariem-abid commented on #14636
Hi @ebaubau,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-14 07:35] #14636 closed, assigned to nobody

[2019-08-14 07:39] antoniopineapple opened #15107 "1 click update from ps 1.7.5 to 1.7.6.2 not working"
Hi when i clic  1 click update button, the system return an error 500
php 7.2

error log
*ERROR* 	v1.7.5.0	2019/08/13 - 00:09:59: Invalid category vars at line 384 in file classes/Link.php

[2019-08-14 08:02] mariem-abid commented on #15101
Hi @boomdrak,

Could you please clear cache, check your shop with another browser and feedback.

[2019-08-14 08:03] PrestaShark commented on #15103
Yes. Not funny :(

[2019-08-14 08:06] mariem-abid commented on #15107
Hi @antoniopineapple,

Do you want to upgrade from PS 1.7.5 to the last version PS 1.7.6.0?

[2019-08-14 08:10] antoniopineapple commented on #15107
Yes i tried to update it with 1 click update but its not working,

[2019-08-14 08:12] mariem-abid commented on #15107
@antoniopineapple, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-14 08:27] marionf commented on #14880
It was already like this in previous PS version, please see the screenrecord below of 1.6 version:
https://drive.google.com/file/d/1OJKZahV_YfQw8BLcxJipQLEbuaOLtYgZ/view?usp=sharing

On earlier 1.7 versions, what was already in cart wasn't taken into account and you were able to click on add to cart and get an empty success confirmation message and the product wasn't added to the cart: http://forg

[2019-08-14 08:32] banan44 commented on #14816
Hi @khouloudbelguith. Sorry it took me so long to reply. I have discussed the PHP error with my host. They said this is not correct behavior of the page. The reason may be, for example, that some process on the site that is taking a long time blocks the entire database, which means that other processes that are in queue can not be executed at that time. The number of available connections to the d

[2019-08-14 08:34] anglesgirl opened #15108 "Simplified Chinese bug"
**Describe the bug**
Dashboard Home Page ，calendar.js Error loading，Limit only Simplified Chinese，

I am not good at English. I can record a video demo if you need it.

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.3.7

[2019-08-14 08:41] antoniopineapple commented on #15107
hi could i send it by email?

[2019-08-14 08:42] mariem-abid commented on #15097
Hi @mariem-abid,

I did not manage to reproduce the issue with PS 1.7.5.2.

[2019-08-14 08:42] mariem-abid commented on #15104
Hi @maposka,

I manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1URJMkXTpN0QrJknvGRT6m8nkH--pqXIo/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-14 08:48] mariem-abid commented on #15108
Hi @anglesgirl,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading your vers

[2019-08-14 08:51] PrestaShark commented on #15075
@Hlavtox that's tiny bug... try to translate Wordpress plugin! xDDDDDDDDDDDDDDDD

[2019-08-14 08:53] marionf commented on #15104
@mariem-abid
Can you try to reproduce it with 1.7.5.2 and tell us if it's a regression or not ?

[2019-08-14 08:54] mariem-abid commented on #15047
Hi @karopka,

Thanks for your feedback.
Feel free to open a new one when needed.

[2019-08-14 08:58] Mindfield-Studio commented on #15062
@gbr161
I did not see the "Show products from subcategories" options ^^
All I can see is, on 1.7.4, when this option is enabled, position is also in wrong order. It seems it's not exactly the same issue then :D

[2019-08-14 09:01] yahyaefendy commented on #9566
This error same with me. for prestashop version 1.7.5.1

[2019-08-14 09:08] matks commented on #15108
@mariem-abid this is not related to PHP, this is a JS error

@anglesgirl can you please record a video ? I have tried to download the China language pack, I configured my back-office to Simplified Chinese and I have browsed the Dashboard, I see no issue.

Looks fine to me 😄 congratulations on writing an issue in English !

[2019-08-14 09:11] matteolavaggi commented on #14973
These are the same shop installed in the same time, take a look, complete
missing the module section ....
[image: image.png]
Deleting folder does not allow to find again the module

Il giorno mer 7 ago 2019 alle ore 11:21 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seg

[2019-08-14 09:15] anglesgirl commented on #15108
The problem only appears in simplified Chinese,！
traditional Chinese and French is OK.

[2019-08-14 09:18] marionf commented on #15103
Hello @Hlavtox

I manage to reproduce the issue with facetedsearch v3.2.0
It was working with facetedsearch v3.1.0

[2019-08-14 09:18] anglesgirl commented on #15108
1.7.5.2 is OK

[2019-08-14 09:22] boomdrak commented on #15101
Hey @mariem-abid

That was the first ting i tryd before creating an issue.
Cleared cache, disabled cache, disabled all non-prestashop modules, tryd debug-mode and disabled css caching.

Same result i newest version of Chrome and Firefox.

[2019-08-14 09:22] anglesgirl commented on #15108
php 7.2.21
PrestaShop 1.7.6.0
Simplified Chinese
The problem remains

PrestaShop 1.7.5.2 All languages is ok

[2019-08-14 09:32] marionf commented on #15102
Hello @Hlavtox

Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14655
So, I close it.
Please follow the issue above

[2019-08-14 09:34] Hlavtox commented on #15102
@marionf watch the video, this is not duplicate of my other ticket

With upgrade to 3.2.0, these conditions are not reproducable, but will be after you fix the module

[2019-08-14 09:38] marionf commented on #15102
@Hlavtox

I watched the video, it seems the same issue as in #14655, you can select many filters and get 0 results

I am not sure to understand, which version of facetedsearch are you using ?

[2019-08-14 09:44] mariem-abid commented on #15108
@anglesgirl, I did not manage to reproduce the issue with the last version PS 1.7.6.0.
I attached a video record.
https://drive.google.com/file/d/1oMn9axNbIm28FH03izMMjayD_gAFDKnv/view
Could you please record a video?

[2019-08-14 09:49] anglesgirl commented on #15108
Traditional Chinese is ok
Simplified Chinese is bad

[2019-08-14 09:50] matks commented on #15056
If PrestaShop cannot be used in a major country like Poland it would be a critical issue indeed. But as far as I know it *is* being used right now, so I dont think we can say "PS 1.7 is unusable in Poland".

However I do not have a running Polish store, so I might be wrong on that. Consequently I will ask @kpodemski who is a renowned polish PrestaShop contributor whether this is a known issue and

[2019-08-14 09:51] oliverfuss opened #15110 "Germany not available"
under the address view, there is no german country selection available

![Screen Shot 2019-08-14 at 11 51 02](https://user-images.githubusercontent.com/54102257/63012063-d67faf80-be89-11e9-9093-c969a93a7ac5.png)

[2019-08-14 09:52] anglesgirl commented on #15108
I can give you my webmaster account

[2019-08-14 09:54] marionf commented on #15086
@ddv1976

I am not sure your issue is related to faceted search, as the category is empty when you click on it before making a filter through faceted search.
Furthermore, I don't see facetedsearch here for example: https://www.calzadosclubverde.es/18_48-hours

![capture d'écran_1888](https://user-images.githubusercontent.com/13449658/63012178-15ae0080-be8a-11e9-8364-dccbd14e30f9.png)

Could you tr

[2019-08-14 09:57] mariem-abid commented on #15108
@anglesgirl, with the Simplified Chinese, is OK.
I attached a video record.
https://drive.google.com/file/d/1A9eJGBzRmeCOjm1aGH1xq6r1ZGgi5Agx/view

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this

[2019-08-14 09:58] matks commented on #15110
@oliverfuss it looks like a very old PS version 🤔 which version of prestashop are you using ?

[2019-08-14 09:58] MathiasReker commented on #15088
New PR: https://github.com/PrestaShop/PrestaShop/pull/15109

[2019-08-14 10:00] anglesgirl commented on #15108
Thank you for your patience and help. I'm going to reinstall the program.

[2019-08-14 10:03] mariem-abid commented on #15104
@marionf, I manage to reproduce the issue with PS  1.7.5.2
I attached a video record.
https://drive.google.com/file/d/1c-Y41brSI9emlqtb0QRDuszdKs0JPe-X/view

[2019-08-14 10:06] mariem-abid commented on #15108
@anglesgirl, waiting for your feedback.

[2019-08-14 10:21] MockoB commented on #14880
Hi @marionf ,
I believe the issue you are quoting is actually more related to the current issue. You see, the user got 3 items in his cart (with overall 5 available) and than adds additional 4 but they are not added to the cart and the cart quantities are still 3. The reason that happens is because the already added quantities are reflected and the remaining quantities are only 2, but that is not

[2019-08-14 10:29] kpodemski commented on #10908
Same error for me on every 1.7 with migrated page. This page seems to be completely broken...

[2019-08-14 10:59] Alexandr-Vall commented on #14880
The solution in 1.5 is correct in my opinion. And no one asked you questions about the quantity of goods. All questions for you began when there were corresponding changes in 1.6, and now they are relevant. I know many still work on 1.5 and when switching to 1.7 they will have the same questions.
The best, in my opinion, to do as it was in 1.5.
In extreme cases, instead of the message "out of stoc

[2019-08-14 11:02] mariem-abid commented on #15104
@maposka, I did not manage to reproduce the issue with the last version 1.7.6.0.
The used Hook is displayAdminProductExtra.
I attached a screenshot and a video record.
![test](https://user-images.githubusercontent.com/36841537/63016291-3034a980-be8b-11e9-8f9a-53a5a51d0ed6.png)
https://drive.google.com/file/d/138RXIX--eZpaeS2HLxgg1m0rDVAkw8JC/view

Thanks to check and feedback.

[2019-08-14 11:36] anglesgirl commented on #15108
1. Remove Simplified Chinese
2, add Simplified Chinese
3, all OK！

How to Get 100% Simplified Chinese Translation

[2019-08-14 12:04] marionf commented on #10908
@kpodemski

I can't reproduce with 1.7.6.0

![capture d'écran_1889](https://user-images.githubusercontent.com/13449658/63019706-6890b380-be9c-11e9-9965-2fda395978dd.png)

[2019-08-14 12:07] kpodemski commented on #10908
@marionf

i'll try to do some debugging to see why error appears on some environments

[2019-08-14 12:10] marionf commented on #10908
Thank you very much @kpodemski

[2019-08-14 12:20] maposka commented on #15104
Hi, sorry but I am laik - what can I must do? What and where I must repair?????
Thank you very much

[2019-08-14 12:21] ddv1976 commented on #15086
Hi, thanks for your attention!

Try this:

I deactivated the ps_facetedsearch module and the categories and subcategories again showed products! The module is still disabled so you can see:
https://gyazo.com/0d7a35f8e7c00a9aea6cc7ca8f9a4dbb

Capture of the parent category and subcategories and brands:
https://gyazo.com/9e59553a5a818c2d1d72161966db483d

The problem now is the products of the subcat

[2019-08-14 12:24] mariem-abid commented on #15110
Hi @oliverfuss,

What is the exact version of Prestashop did you installed?
Thanks to adding steps to reproduce your issue in a new comment.

[2019-08-14 12:31] eternoendless commented on #15052
I believe this is fixed by https://github.com/PrestaShop/PrestaShop/pull/15111

[2019-08-14 12:41] eternoendless commented on #9566
Please re-read my messages in this thread.

1. Show a specific error message when the token has expired
2. Allow merchants to set up the token duration (default to 20 min)

[2019-08-14 12:43] mariem-abid commented on #15104
@maposka, thank you for sending me the module to test it.

[2019-08-14 12:44] mariem-abid commented on #15106
Hi @silviu25,

Could you please try to clear cache and feedback.

[2019-08-14 12:54] mariem-abid commented on #15108
@anglesgirl, navigate to BO=> International=> Localization=> Languages => Delete the Simplified Chinese.
Thanks for chack and feedback.

[2019-08-14 12:55] maposka commented on #15104
[v1.7.6-bestkit_preorder.zip](https://github.com/PrestaShop/PrestaShop/files/3501429/v1.7.6-bestkit_preorder.zip)
[v2.1.1-advanceseo.zip](https://github.com/PrestaShop/PrestaShop/files/3501430/v2.1.1-advanceseo.zip)
[v2.7.13-productvideo.zip](https://github.com/PrestaShop/PrestaShop/files/3501440/v2.7.13-productvideo.zip)

[2019-08-14 13:00] eternoendless commented on #15056
Hi @PrestaShark

Wikipedia can because they are a nonprofit organization. But we are working on that 😉

Unfortunately everyone thinks _their_ issue is the most crucial one.

[2019-08-14 13:19] mariem-abid commented on #15075
Hi @Hlavtox,

Thank you to specify us in which file you put this translation?

[2019-08-14 13:22] marionf commented on #14880
Guys, I just tried to see how it was working on PS 1.5 and it's like on PS 1.6 & 1.7:
https://drive.google.com/file/d/1aOds5Vs5cHazwtti7rizOyrg93hz-i5N/view?usp=sharing

10 products in stock
5 products in my cart
I try to add 10 products, I have an error "there isn't enough product in stock" and 0 product is added to the cart

If I understand well, you would like it to work like this:
10 products

[2019-08-14 13:35] anglesgirl commented on #15108
Did you notice that Sunday, Monday, is mo su?

[2019-08-14 13:41] Alexandr-Vall commented on #14880
In 1.5 it works correctly. After adding to the basket, the rest of the goods does not decrease. And most importantly there is no "out of stock" message.
It is the message "out of stock", after adding to the basket, scares the buyer.

[2019-08-14 13:42] MockoB commented on #14880
@marionf I am ashamed, but it really is working like that. May be the only reason we had no troubles so far, is because no one ever tried to add same product twice when he sees there is just one product left! But there is no warning message informing you when you add the last item to your cart to confuse the customer, like it is in 1.7.

The way I think is correct is like aliexpress or ebay do it.

[2019-08-14 13:50] marionf commented on #15086
@ddv1976
I think the option "Show products from subcategories" in your factedsearch module is disabled ?
Could you try to enable it and reactivate facetedsearch module ?

[2019-08-14 13:56] mariem-abid commented on #15104
@maposka, I tested with the module bestkit_preoder => it's OK (See screenshot)
![AwesomeScreenshot-nlipoenfbbikpbjkfpfillcgkoblgpmj-upload html-2019-08-14_2_49](https://user-images.githubusercontent.com/36841537/63026298-d7710b00-bea2-11e9-9fad-baa06bae8a61.png)
The Modules page of the Products page is specified for the functions of a given product.
To have the same configuration on the Module Man

[2019-08-14 14:18] mariem-abid commented on #15090
Hi @efren1975,

Could you please try to reproduce these steps:
1-You need to find out your COOKIE KEY: navigate to the app/config folder. Open the file parameters.php and find the "cookie_key".
2- Go to the phpMyAdmin and navigate to your PrestaShop database. Find the table ps_employee and click on the edit button for your account.
3-Scroll down to the field labeled "passwd" and clear the field fr

[2019-08-14 14:33] mariem-abid commented on #15108
@anglesgirl, I manage to reproduce that Sunday and Monday, are mo su with the last version PS 1.7.6.0 and the Language is Simplified  Chinese.
I attached a screenshot.
![cal](https://user-images.githubusercontent.com/36841537/63029630-cd520b00-bea8-11e9-9ab6-e4754a941cb1.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do

[2019-08-14 14:42] mariem-abid commented on #15095
Hi @evsport,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record
https://drive.google.com/file/d/1TGSHc_AbXsieYe7XAe4L8arBdKzYkQT_/view

Thanks for check and feedback.

[2019-08-14 14:46] mrabsinthe opened #15112 "Free shipping not correctly displayed"
**Describe the bug**
Basket displays free shipping when total weight of purchased products higher than maximum carrier limit. Free shipping is disabled in BO. Customers can think that free shipping is available with more products purchased.

**To Reproduce**
Steps to reproduce the behavior:
1. make sure free shipping is disabled in BO/Shipping/Preferences
2. set some weight limits for a carrier an

[2019-08-14 14:49] efren1975 commented on #15090
Mariwm abid thanks so much for your support. You are a nice person.
I reproduce the steps.
I found the COOKIE Key in the parameters folders
2.- I went to phpMyAdmin and i navigated to Prestashop database. I found the table ps_employee and i did click on the edit button.
3 Scrolled down to field labeled "passwd"
I did the stpes 4, 5 and 6 and still not working. I do not Know what happened

[2019-08-14 15:03] silviu25 commented on #15106
I cleaned the cache, I did a reset on statsforecast module, I deleted ./var/cache/dev and prod

[2019-08-14 15:05] mariem-abid commented on #15106
@silviu25, the problem still again?

[2019-08-14 15:06] silviu25 commented on #15106
yes

[2019-08-14 15:08] mariem-abid commented on #15090
@efren1975, You are sure of the email address is correct?

[2019-08-14 15:10] savoy6aus opened #15113 "Homepage image slider configuration different than current template"
Hello,
The homepage image slider configuration is different than my current template. It's using the config for the last theme.

The logo and Favicon **does** update.

Help please!?
![Annotation 2019-08-14 095226](https://user-images.githubusercontent.com/53873584/63032367-4c304f00-be7b-11e9-8a60-d5c6c23aeb47.png)
![Annotation 2019-08-14 095642](https://user-images.githubusercontent.com/53873584/6

[2019-08-14 15:11] efren1975 commented on #15090
I will send you a image

[2019-08-14 15:14] marionf commented on #14880
Yes, as I told you, we can change that and display the real quantity in stock regardless what is already in the cart

Then, we can handle the following case:
Stock: 10
Products in cart; 10
Product page: Add to cart button disabled & display a message "All available products are in your cart" instead of the current "out of stock"

Guys, is it ok for you like this ?

[2019-08-14 15:22] mariem-abid commented on #15112
Hi @mrabsinthe,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1txyDlkQAM34NDYRr7GBXLrCBbr5Do1G5/view

Thanks for check and feedback.

[2019-08-14 15:24] evsport commented on #15095
Hi
thank you for your reply.
I have setup a carrier for a free shipping over 100$ tax and shipping excluded.
You have to add products that the amount is more than 100$ and after you have to add the code.
Could you check please?
Thank you so much.

[2019-08-14 15:26] mariem-abid commented on #15090
@efren1975, could you please record a video for all the steps already mentioned.

[2019-08-14 15:28] efren1975 commented on #15090
I do not have a software to record it.

[2019-08-14 15:29] efren1975 commented on #15090
![cookie](https://user-images.githubusercontent.com/54050460/63034125-599b0880-be7e-11e9-8dd7-239cba5fa4b7.jpg)

[2019-08-14 15:29] mariem-abid commented on #15095
@evsport, did you make 2 carts rules?

[2019-08-14 15:29] efren1975 commented on #15090
![employee](https://user-images.githubusercontent.com/54050460/63034164-67508e00-be7e-11e9-84a5-17ac765723e3.jpg)

[2019-08-14 15:30] kodarco commented on #15061
I did the upgrade to 1.7.6.0 but it didn't work. It works if you have only one discounted item in the cart, it doesn't let you apply the discount, but when you add a second item that isn't discounted, it applies the discount to both items. Please try it in your store.

Watch the video: https://drive.google.com/file/d/1fZvGLONqPGpanUm3WuVy13mvF3xjUgMc/view?usp=sharing

![screen1](https://user-image

[2019-08-14 15:30] efren1975 commented on #15090
![new password](https://user-images.githubusercontent.com/54050460/63034205-7a635e00-be7e-11e9-83f5-2f92c30a857e.jpg)

[2019-08-14 15:30] Hlavtox commented on #15056
@matks I am the only one that sees this bug? :D :D

Imagine a pretty normal business scenario.
- You have 3 default customer groups. You add 1 more for your long-term customers, maybe with better discounts or something like that.
- You make voucher with 20% reduction, which you occasionaly want to give somebody as a compensation for some trouble, or something like that.
- You restrict that voucher

[2019-08-14 15:30] efren1975 commented on #15090
![new password 2](https://user-images.githubusercontent.com/54050460/63034253-91a24b80-be7e-11e9-9612-1e905f506c84.jpg)

[2019-08-14 15:33] mariem-abid commented on #15090
@efren1975, exactly, and the problem still again?

[2019-08-14 15:39] evsport commented on #15095
No
I create the carrier for free shipping and I created 3 different cart rules based on the discount.
To fix this I excluded the free shipping carrier from the carrier selection.
I have to update ps from 1.7.4.2 to 1.6, will I have to take care of samething?
There are any bug into the new release that are not fixed yet?
Thank you

[2019-08-14 15:42] efren1975 commented on #15090
Yes, take a look
![error](https://user-images.githubusercontent.com/54050460/63035120-307b7780-be80-11e9-88cc-40ad8a288cf8.jpg)

[2019-08-14 15:46] marionf commented on #15108
@mariem-abid Do you have the same issue with PS 1.7.5.2 ?

[2019-08-14 15:47] mariem-abid commented on #15090
@efren1975, the changed password it's for the Back Office not for the Front Office, and with the Back Office, you can change the passwords of the customers.

Thanks for check and feedback.

[2019-08-14 15:49] mariem-abid commented on #15108
@marionf, yes, the same issue.

[2019-08-14 15:49] mrabsinthe commented on #15112
In you carrier settings, step 4 you have the following:
If the order is out of range, the behaviour is to apply the cost of the highest defined range.
That is why you cannot duplicate the issue.
You need to change Out-of-range behaviour in step 2.

[2019-08-14 15:49] efren1975 commented on #15090
So...I will have to reinstall the pre4stashop again.

[2019-08-14 15:51] mariem-abid commented on #15090
@efren1975, try to connect to the Back Office with the new password.

[2019-08-14 15:58] mariem-abid commented on #15113
Hi @savoy6aus,

We could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author, they are the only ones to help you with it.
Thanks!
I close the ticket, feel free to open a new on

[2019-08-14 15:58] #15113 closed, assigned to nobody

[2019-08-14 15:59] efren1975 commented on #15090
i can not access to Back office

[2019-08-14 16:14] efren1975 commented on #15090
To acces to Back office i need a login

[2019-08-14 16:18] glictevo opened #15114 "Wrong benefit number in Dashboard stats"
**Describe the bug**
The benefit number is wrong when a discount is applied on a command. It takes into account the initial price of the product (tax excl.) even if there was a discount (I don't know if this is intentional or not).

**To Reproduce**
Steps to reproduce the behavior:
1. Install fresh PrestaShop 1.7.6.0
2. Create a discount
3. Make a command on one product with this discount
4. Make

[2019-08-14 16:18] ddv1976 commented on #15086
Hi
![Screenshot_2019-08-14 Gyazo(1)](https://user-images.githubusercontent.com/34251232/63037666-2445e900-be85-11e9-8498-ef218f189022.png)
Show products from subcategories is actived

[2019-08-14 16:18] Borgas commented on #14595
Hi
Have some problem!
Upgrade from 1.7.5 to 1.7.6 with 1-click upgrade - OK
Everything tested and working (offline mode)
When got live - Template monster theme - module 1clickorder show this error in BO (Front everything ok)
PHP any php version doesn´t work
DB print attached
Default currency EUR
Default language PT
Activate other languages and currency doens´t change or put it to work
![Capturar](

[2019-08-14 16:22] matks commented on #15097
I explored this issue and I can explain what's going on here.

### How I reproduce it

I use the Welcome native module and modify
`        $this->displayName = $this->trans('Welcome', array(), 'Modules.Welcome.Admin');
`
to
`        $this->displayName = $this->trans('Welcome "a', array(), 'Modules.Welcome.Admin');
`

So I can see the issue:
![Capture d’écran 2019-08-14 à 18 17 39](https://user-i

[2019-08-14 16:24] go-sudo opened #15115 "Back office is very slow at first loggin"
**Describe the bug**
Hello
When I acces each time to my backoffice it takes a while to load data and let me move to an other menu as commande or SAV

Here is a video shows you that issue
and my errors log
https://youtu.be/e8ojDP4zhM8
https://youtu.be/IEYwv5-2s50

https://pastebin.com/embed_js/8r36UZqW

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll do

[2019-08-14 16:24] matks opened #15116 "Update the license headers and the command that do it"
According to https://github.com/PrestaShop/PrestaShop/pull/15092#discussion_r313806075 our license headers are wrong, and the automatic command https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Command/UpdateLicensesCommand.php#L40 is wrong too.

We need to
- fix the Command
- fix all the headers 😭

[2019-08-14 16:34] Alexandr-Vall commented on #14880
"All available products are in your cart" instead of the current "out of stock"
Such a decision will suit me

[2019-08-14 17:09] taniacr commented on #15094
I have the exact same issue in 2 stores. Here are both configurations:

Live store:
PHP Version: 7.1.31
PrestaShop: 1.7.6.0

Local:
PHP Version: 7.2.16
PrestaShop: 1.7.6.0

[2019-08-14 17:49] Borgas commented on #14595
Is this as something to do?
Customer default payment
Currency default store
They have no checkbox, and can´t find how to do (if possible)
![Capturar](https://user-images.githubusercontent.com/54105234/63043467-35621a80-bec4-11e9-9513-ac1972100f03.JPG)

[2019-08-14 17:58] MockoB commented on #14880
It's fine with me also, but what if there are 10 items in stock and I add 8 to the cart. What the message will be then? And what if I added previously 8 and come back few days later and try to add 3 pieces (assuming I forgot I already added 8). There will be message informing both, how many items are already in your cart and another line informing you about total stock ?
You wish to take the best

[2019-08-14 18:06] MockoB commented on #14880
I just checked it again on ebay. When you add a product in your cart, the button shows "in your basket" and you are not able to use the button any more, its only possible to change the quantities  within the cart. I'm not quite sure but it could be the better solution ... and solves the above problems.

[2019-08-14 18:10] JustasBelevicius opened #15117 "ps_facetedsearch keeps out of stock products with attributes"
**Describe the bug**
If a product has a variant that matches the filter, but that exact variant is out of stock, the filter shows the product in the category listing (Front Office)

**Expected behaviour**
example: If product has sizes and quantities S-0 / M-5 / L-5, filtering that products categorie to size S shouldn't show the product with empty stock of size S

**To Reproduce**
Steps to reproduc

[2019-08-14 20:44] maposka commented on #15104
sorry I do not know which code and when I make it.... :-((

[2019-08-14 20:53] Raply commented on #14493
The price column with tax included is shown but not including discounts

[2019-08-14 21:27] Hlavtox commented on #15075
@mariem-abid I try to edit the translation normally via backoffice.

@PrestaShark Wordpress translations require Poedit, but never had a problem :D The same with Prestashop 1.6. Everything worked beautifully. You just added a string anywhere and it instantly popped in translations ready to be translated. Every theme, every module, no problems.

[2019-08-15 06:04] dnatabar commented on #15069
@mariem-abid Sorry for the delay, had some other work pop up.

Can confirm that with 7.1 it works when i send the hashed version of the current password.
Now i am curious as to if i made a mistake when i tested it with 7.3...

[2019-08-15 06:07] #15069 closed, assigned to nobody

[2019-08-15 07:33] mariem-abid commented on #14631
Hi @sdwebdesign,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-15 07:33] #14631 closed, assigned to nobody

[2019-08-15 07:34] mariem-abid commented on #14623
Hi @kibiribi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-15 07:34] #14623 closed, assigned to nobody

[2019-08-15 07:36] mariem-abid commented on #14659
Hi @Himanshu-bishtt,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-15 07:36] #14659 closed, assigned to nobody

[2019-08-15 07:37] mariem-abid commented on #14653
Hi @Dupflo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-15 07:37] #14653 closed, assigned to nobody

[2019-08-15 07:38] mariem-abid commented on #14652
Hi @hacchus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-15 07:38] #14652 closed, assigned to nobody

[2019-08-15 07:48] mariem-abid commented on #15069
Hi @dnatabar,

Thanks for your feedback
Feel free to open a new one when needed.

[2019-08-15 08:48] mariem-abid commented on #15117
Hi @JustasBelevicius,

I manage to reproduce the issue with the last version PS 1.7.6.0 and the module ps_facetedsearch v3.2.0.
I attached a video record.
https://drive.google.com/file/d/1Y9OxQZIDrmvtaiB3P1ck1bsyktMshgMC/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-15 09:25] mariem-abid commented on #15115
Hi @go-sudo,

Could you please try to clear cache from your project and your navigator and feedback.

[2019-08-15 09:54] omar2886 commented on #14493
@Raply not for me, it appears with discount included. maybe the discount you have in that product has expired

[2019-08-15 09:58] mariem-abid commented on #15114
Hi @glictevo,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1Lj3CH6P8Lvg7nIvuDQ-uT6Wi_YpSmmQV/view

Thanks for check and feedback.

[2019-08-15 10:03] JustasBelevicius commented on #15117
Thanks for a swift response. I did not manage to fix it myself, hence I logged this issue.
When can I expect a faceted search module update?

[2019-08-15 10:04] mariem-abid commented on #15075
Hi @Hlavtox,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1_rK3FgE1BHpToDruechEt6bmbjuzupcg/view

Thanks for check and feedback.

[2019-08-15 10:26] mariem-abid commented on #15104
Hi @maposka,

In the "productAdminTab.tpl" file: project folder / modules / bestkit_preorder / views / templates / hook/  you can do the desired modification.

[2019-08-15 10:29] mariem-abid commented on #15117
@JustasBelevicius, it will be soon.

[2019-08-15 10:33] mariem-abid commented on #14880
Hi @MockoB,

Does your problem is solved?

[2019-08-15 10:41] MockoB commented on #14880
@mariem-abid
The proposed solution is far better than the current situation. But it’s not clear what will happen in other situations like I asked above. Or once a product is added to the cart, the button will stay “already in your cart” and the only possible way to change the quantities will be from the cart itself? It would be nice to bring some clarifications. Thanks.

[2019-08-15 10:44] mariem-abid commented on #15094
Hi @Swerone, @taniacr,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1n87oKwH2xxsgGLuPB932oMX7ZWUr0IGD/view

Thanks for check and feedback.

[2019-08-15 10:47] glictevo commented on #15114
Hello,

Ok, I'll try again and tell every step I do :
1. Install 1.7.6.0
2. Create a product
- Set name : test
- set price 20€ tax incl. (Tax : FR Taux Standard (20%))
- set quantity : 100
- set online
3. Create discount
- set name : test
- set code : TEST
- quantity total and for each user, set to 100 both
- Action, amount 10€, tax excl.
4. Order on FO
- add discount in cart
- create account
- pa

[2019-08-15 10:54] mariem-abid commented on #15090
Hi @efren1975,

Your login is "efrenlazde@hotmail.com".

[2019-08-15 10:56] Swerone commented on #15094
Hi @mariem-abid
I just found the cause to the issue I think.
I configured the ps_facetedsearch module to not show products from the subcategory in the parent category and when I re-enable "Show products from subcategories" the product shows up correctly.

Please try this "Modules -> ps_facetedsearch"

And disable "Show products from subcategories"

Now I don't actually know if this was the right w

[2019-08-15 11:32] kpodemski commented on #15056
We have a lot successful projects on 1.7, but the fact is that dev costs has increased few times, just to have a budget to keep fighting with 1.7 ;-)

As for the "rounding" in PrestaShop, i have at least two customers who are patiently waiting for this to be available in PrestaShop, i thought that new CLDR feature would bring it back but unfortunately it's still not available.

For the translation

[2019-08-15 11:36] ConvarDeutschland commented on #15091
Hello I did supect the google map script to made some problem but after removing it the symptom is still the same. Maybe our version of 1.7.6.0 is not the same as yours. Waht I want to do is to download the latest version of 1.7.6.0 and try to replace our files with the downloaded one. can you tell me exactly witch file I need to swap. Thanks

[2019-08-15 11:58] ddv1976 commented on #15086
Hello
I activate visualize the facetedsearch, the filters and quantity of products appear in the filters, but none are displayed! What will be the problem?
I do not understand!
![Screenshot_2019-08-15 Comprar Online mejor Calzado de calidad para Caballeros](https://user-images.githubusercontent.com/34251232/63093253-14ccab80-bf2a-11e9-8ef6-62b05c87df00.png)

[2019-08-15 12:05] ConvarDeutschland commented on #15091
Hi @mariem-abid,

I did made some more research about this error and found the solution here.

https://github.com/PrestaShop/PrestaShop/pull/13916

after updating the view.tpl file it work sagain

Thanks for your help

[2019-08-15 12:05] #15091 closed, assigned to nobody

[2019-08-15 13:09] Hlavtox commented on #15056
@eternoendless

I don't think my issues are the most crucial one, but what else do you want me to tell you?
You develop ECOMMERCE system without working currency management and proper rounding? Is there anything more crucial than money??? You are not making a CMS!

This software is a living for thousands of people, and what do you think just happened for example with this bug #15103? This made bro

[2019-08-15 13:23] direwald commented on #14733
Even after applying the changes from this PR, the issue still presists when trying to translate installed modules. Any chance of a follow up to fix that issue as well?

[2019-08-15 13:29] mariem-abid commented on #15114
@glictevo, I manage to reproduce the issue with a fresh installation of PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1Ioxzap5LLopyKy2lcC6F3Xji-tW9-5Lq/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-15 13:33] mariem-abid commented on #15091
Hi @ConvarDeutschland,

Thanks for your feedback
Feel free to open a new one when needed.

[2019-08-15 13:37] Hlavtox opened #15118 "[IMPROVEMENT] Make separate error templates for empty product lists and search"
**Current situation**
Currently, `errors/not-found.tpl` is used for 404s, empty categories, empty product listings (new products etc.) and for empty search queries.

"Sorry for inconvinience, find what you are looking for." is eeeeew wording for these situations. At first, upon 1.7 install I was wondering if my rewrites are working, I thought these are 404s.

**Proposed solution**
Make templates w

[2019-08-15 13:43] mariem-abid commented on #15094
@Swerone, this is the normal behavior of the module.
I close the ticket, feel free to open a new one when needed.

[2019-08-15 13:43] #15094 closed, assigned to nobody

[2019-08-15 13:49] isaiasreyez opened #15119 "Doesn´t work on 1.7.6"
**Describe the bug**
The Module doesn´t work on prestashop 1.7.6

When I install the module directly from prestashop install module option, I recieve an error of installation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Modules'
2. Click on 'Module manager.'
3. Then¨Install a module¨
4. Choose from downloads folder ¨productcomments-master.zip´
5.Error

**Additional information**
Pr

[2019-08-15 13:57] Borgas opened #15120 "White page after close import pop-up"
**Describe the bug**
After import run, and click close import pop-up process, the page doesn´t return to import page, instead shows a clean page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advance parms ->import ->
2. Click on import anything you want (products, categories, etc)
3. Do the import

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your p

[2019-08-15 13:58] mariem-abid commented on #15118
@Hlavtox, thanks for your report.
@marionf, @colinegin, what do you think?

[2019-08-15 13:58] Borgas commented on #15120
I delete manully the folder at cpanel of var/cache/prod

Seems to be ok

[2019-08-15 14:03] mariem-abid commented on #15120
Hi @Borgas,

I close the ticket, feel free to open a new one when needed.

[2019-08-15 14:03] #15120 closed, assigned to nobody

[2019-08-15 14:13] Hlavtox commented on #15075
@mariem-abid

It seems it doesn't work for all strings that are passed to the template as a variable.

1. Install fresh 1.7.6 in Czech.
2. Install other theme - https://github.com/PrestaShop/classic-rocket
3. Search something in the store and see a string 'Výsledek hledání'.
4. Try to translate it. It will not be found in the translation catalog.

[2019-08-15 14:20] mariem-abid commented on #15075
@Hlavtox, can you tell us the language selected at the installation of your shop?

[2019-08-15 14:20] efren1975 commented on #15090
Hi mariem-abid
 Yes that is my login. I could access to my Back office. Right now I´m looking to change the login in my front office

[2019-08-15 14:22] mariem-abid commented on #15090
@efren1975, does your problem is solved?

[2019-08-15 14:23] Hlavtox commented on #15075
@mariem-abid Czech

[2019-08-15 14:25] efren1975 commented on #15090
Yes. But I am looking to change the login in the front office

[2019-08-15 14:26] mariem-abid commented on #15086
Hi @ddv1976,

Did you use the default template by Prestashop?

[2019-08-15 14:28] efren1975 commented on #15090
I want to create a online-shop and i though prestashop was easy but not much.

[2019-08-15 14:29] Hlavtox commented on #15075
I cannot translate
`$this->getTranslator()->trans('Search results', array(), 'Shop.Theme.Catalog'); from SearchController`
`$this->getTranslator()->trans('Guest order tracking', array(), 'Shop.Theme.Checkout'), from GuestTrackingController`
and other strings like that.

Other strings, that are called from the TPL, I can translate just fine. Like `To track your order, please enter the following inf

[2019-08-15 14:32] mariem-abid commented on #15090
@efren1975, Prestashop is easy.
For logins and passwords of customers, you find it in the Back Office: navigate to Back Office=>  Customers => Customers.
I close the ticket, feel free to open a new one when needed.

[2019-08-15 14:32] #15090 closed

[2019-08-15 14:57] Borgas commented on #14595
@presciak
I had the same issue with a module from Templatemonster as explain above. (module is Jx 1 click order)
The issue is i have already ps_currency with precision=2 and still got error 500.

So, i inicialize the module again, delete var/cache/prod in file manager and seems problem solved

[2019-08-15 15:04] ddv1976 commented on #15086
Hi
No, I use the theme:
warehouse version 4.2.1
![Screenshot_2019-08-15 Tema y logotipo • CalzadosClubVerde](https://user-images.githubusercontent.com/34251232/63104145-07241f80-bf44-11e9-8996-6f8a3b0f35a7.png)

[2019-08-15 15:08] mariem-abid commented on #15086
@ddv1976, Could you please check with the default theme and feedback.

[2019-08-15 15:09] maposka commented on #15104
O.K.
Thank you very much :-)

[2019-08-15 15:09] #15104 closed, assigned to nobody

[2019-08-15 15:10] mariem-abid commented on #15119
Hi @isaiasreyez,

I manage to reproduce the issue with the last version PS  1.7.6.0
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-15 15:15] mariem-abid commented on #15104
@maposka, You are welcome.
Feel free to open a new one when needed.

[2019-08-15 15:19] mariem-abid commented on #15095
Hi @evsport,

Your Prestashop version is 1.7 or 1.6?

[2019-08-15 15:21] evsport commented on #15095
I have 1.7.4.2

[2019-08-15 15:37] mariem-abid commented on #15095
@evsport, Could you please add steps or a video record to reproduce your the issue in a new comment.

[2019-08-15 15:54] mariem-abid commented on #15101
Hi @boomdrak,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-15 15:57] mariem-abid commented on #15107
Hi @antoniopineapple,

Could you please send them to this email address "khouloud-belguith.ext@prestashop.com"

[2019-08-15 17:35] PierreRambaud commented on #14989
This is because it's sort by string and not by numeric.. We will add a check for that. What behavior is desired? Numerci first or string first?

[2019-08-15 18:36] kodarco opened #15121 "Private note saved with escaping signs"
When I type and save the Private note on Order Page in BO and come back to the same order, I see the escaping characters like %20 for space etc. See the attached.
This happened after upgrade from PS 1.7.5.0 to PS 1.7.6.0

![S1](https://user-images.githubusercontent.com/43558067/63117486-36ff1180-bf9c-11e9-8abe-ec54613e3dc6.JPG)
![S2](https://user-images.githubusercontent.com/43558067/63117492-38c8

[2019-08-15 18:43] kodarco commented on #15121
Just to add to this maybe related, a whole bunch of these entries showing in the Apache Error Log:

`[Thu Aug 15 14:39:56.035419 2019] [fcgid:warn] [pid 118985] [client 73.57.55.81:56289] mod_fcgid: stderr: #2 /home/pbm/public_html/classes/Notification.php(57): NotificationCore::getLastElementsIdsByType('order', '17595'), referer: https://www.poppersbymail.com/admin292mqbbbp/index.php?controller=A

[2019-08-15 18:52] LINUX3932 opened #15122 "unable to reset modules in module manager"
Resetting any module using the **module manager** gives an error:

Disable/enable module works. RESET fails.

**Debug mode info**
AJAX **RESET module** request results in 404 error. url: `/index.php/improve/modules/manage/action/reset/welcome?`
AJAX **DISABLE module** results in 200 success. url: `/index.php/improve/modules/manage/action/disable/welcome?`

**Additional infomation**
PrestaShop vers

[2019-08-15 20:53] Com3t commented on #11588
RFC 6532 allows Cyrillic characters in the mailbox part of an email address.

[2019-08-16 03:00] fxzxmicah opened #15123 "The zh language pack cannot be downloaded during installation."
在安装时无法下载zh语言包

[2019-08-16 03:19] fxzxmicah commented on #15123
经过许多次的尝试，zh语言包有很低的概率下载成功，不过之后还是会卡在安装插件模块这一步。
After many attempts, the zh language pack has a very low probability of being downloaded successfully, but it will still be stuck in the step of installing the plug-in module.

[2019-08-16 07:20] fafa0659 opened #15124 "url rewriting accented"
**Describe the bug**
A clear and concise description of what the bug is.
problem on url rewriting , all url accented are modified in google result
when you use url  "+" to replace "-" this is remplaced by %2
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
create a product with url modified ( url accented must be actived )
**

[2019-08-16 07:27] marionf commented on #14989
@PierreRambaud
You mean if there are numeric and string, what should appear first ?

[2019-08-16 07:28] mariem-abid commented on #14660
Hi @koalabang,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-16 07:28] #14660 closed, assigned to nobody

[2019-08-16 07:31] mariem-abid commented on #14696
Hi @SSHawke,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-16 07:31] #14696 closed, assigned to nobody

[2019-08-16 07:32] marionf commented on #15119
Hello @isaiasreyez

You cannot upload the zip directly downloaded from github.
You can find the module in Module catalog in your back-office

![capture d'écran_1890](https://user-images.githubusercontent.com/13449658/63151021-b7f3f280-c008-11e9-86ee-8f6b2d7d3a44.png)

[2019-08-16 07:32] #15119 closed, assigned to nobody

[2019-08-16 07:32] mariem-abid commented on #14370
Hi @kandiaga,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-08-16 07:32] #14370 closed, assigned to nobody

[2019-08-16 07:36] mariem-abid commented on #14637
Hi @daresh,

Does your problem still again?

[2019-08-16 07:38] daresh commented on #14637
Nothing changed, I still have prestashop 1.7.6.0

[2019-08-16 07:39] marionf commented on #15117
Hello @JustasBelevicius

Your issue is a duplicate of #15056 so I close it.
Please follow the other issue

Regards

[2019-08-16 07:39] #15117 closed, assigned to nobody

[2019-08-16 07:43] marionf commented on #15121
Hello @kodarco

Your issue is a duplicate of 14604 so I close it
This issue is already fixed by https://github.com/PrestaShop/PrestaShop/pull/14605

Regards

[2019-08-16 07:43] #15121 closed, assigned to nobody

[2019-08-16 07:52] grigorevlad commented on #14989
I guess best would be to add a “Sort by” button for each filter in module config - backoffice. Alphabetical or Numeric.

Or else, if this approach would be difficult to implement:
-If it starts with character, sort alphabetical;
-If filter value starts with number then sort numeric. (And ignore other characters after number, for situations like: 12mm, 110mm)

[2019-08-16 08:03] mariem-abid commented on #15123
Hi @fxzxmicah,

I did not manage to reproduce the issue with the last Version PS 1.7.6.0.
I attached a screenshot.
![zh](https://user-images.githubusercontent.com/36841537/63152855-be806b00-c004-11e9-9f58-c4c7d5f7bd7e.png)

Thanks for check and feedback.

[2019-08-16 08:35] marionf commented on #14880
@MockoB

Yes, it's a good suggestion

We can handle the following case like this:
Stock: 10
Products in cart: 5
Product page: Try to put 6 in quantity field
The add to cart button is disabled & display a message "Already X products in your cart, you can add X only" instead of the current "There are not enough products in stock"

And also of course as I told before, display the real quantity in sto

[2019-08-16 08:37] ttoine commented on #15056
Hello everyone involved in this discussion.

A few facts:

- 1.7.6 version is by far the most important version released, with the number of pull requests, of bug fixes, improvement and features delivered. The aim is to keep this productivity for next versions, and if possible to it. (1.7.4 was around 200 PR merged, 1.7.6 is around 800 PR merged)
- The work on important native module has started,

[2019-08-16 08:38] mariem-abid commented on #15122
Hi @LisaB123,

Could you please try to disable the Welcome module and check.

[2019-08-16 08:48] Alexandr-Vall commented on #14880
For me, the most important thing is that there should be no "out of stock" message when the product is in stock but added to the basket.
What changes need to be made to the code to solve this problem.
It will suit me.

[2019-08-16 08:51] mariem-abid commented on #15124
Hi @fafa0659,

Could you please add steps to reproduce the issue.

[2019-08-16 09:03] matks commented on #15123
This is likely to be a network issue :/ can you check from a different network ?

[2019-08-16 09:20] mariem-abid commented on #14595
Hi @attractive,

Does your problem is solved?

[2019-08-16 09:28] mariem-abid commented on #15106
Hi @silviu25,

Could you please check with your host and feedback.

[2019-08-16 09:43] matks commented on #12901
@marionf @samuel-pires we're implementing this in https://github.com/PrestaShop/PrestaShop/pull/14551

How should the shop behave when upgrading ?
Before 1.7.7 : carrier `name` is global, not translatable so it's the same for every lang
After 1.7.7 : carrier `name` can be customized for each language

For a shop which has "french" has default language, should we keep the carrier name for French on

[2019-08-16 09:48] ckubitza opened #15128 "dashactivity slow and config value not used"
**Describe the bug**
Module "dashactivity" is very slow with lots of old connection data and is also not correctly using a config value.

**To Reproduce**
Have a shop with e.g. 500k entries in ps_connections and 65k entries in ps_guest. Open admin dashboard in browser, the dashboard panels take long time to show its contents (here it takes more than 30 seconds).
Also, when setting a different conf

[2019-08-16 10:05] mariem-abid commented on #15112
Hi @mrabsinthe,

I change the out-of-range to "Disable" and I did not manage to reproduce the issue
I attached a video record.
https://drive.google.com/file/d/1Xkj0aKQstfGWAmImLbOpWxZHp9waWObB/view

Thanks for check and feedback.

[2019-08-16 10:12] VorobiovM commented on #12901
@matks setting the value for every language will avoid unnecessary problems and will not disturb customers from choosing a carrier in the time period when admin modifies a translation.

[2019-08-16 10:18] mrabsinthe commented on #15112
Because you have My Carrier enabled. Try with "test" carrier only please.

[2019-08-16 10:31] sarjon commented on #12901
@matks now I think that we should do it in a separate PR. This is kind of new feature and it can potentially affect both FO and BO, especially when there are plain sql queries selecting name directly from `carrier` table instead of `carrier_lang`.

That way, we can validate Carrier migration much faster and then focus on this new feature, wdyt?

[2019-08-16 10:34] Borgas commented on #14595
@mariem-abid
Can you confirm this:
prestashop 1.7.6 not compatible with php 7.2 7.3
Because @attractive is using php 7.2
Maybe downgrade php version will solve no?

[2019-08-16 10:36] mariem-abid commented on #15061
Hi @kodarco,

I manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1AAmOVyZdkh5_QDx3i5kE0_lzEkCg1j_4/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-16 10:42] mariem-abid commented on #14595
@Borgas, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

[2019-08-16 10:51] mariem-abid commented on #15112
@mrabsinthe, I manage to reproduce the issue  with the last version 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1ue8k52hJvyHRWEmqqjNi5s80J2F8QgcG/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-16 10:52] gorkij77 opened #15129 "VAT not being added to EU customers/private persons"
**Describe the bug**
Customer from the UK purchases item from my store in Sweden. No VAT-number, since I only sell to individuals, not companies. Item is set to 25% VAT, standard swedish VAT per the pricing tab. VAT is not applied as it should be on EU customers.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new account
2. Select product, add to basket. Shown with Swedish tax.
3. Go

[2019-08-16 10:56] mrabsinthe commented on #15112
Would be great if it is fixed in 1.7.6.1 as this could cause many confused customers!

[2019-08-16 11:45] MockoB commented on #14880
@marionf It sounds perfect to me. I just don't know how you will handle both - the button is disabled and you try to add additional items in your cart with disabled button :) Otherwise looks great solution!

[2019-08-16 11:46] marionf commented on #15061
@mariem-abid

Could you try to reproduce it with 1.7.5.2 ?

[2019-08-16 12:07] marionf commented on #14880
@MockoB

The behavior of "add to cart" button stays the same as currently.
We just:
1) display the real quantity in stock regardless what is already in the cart and put it more forward

2) Display "All available products are in your cart" instead of "out of stock" in the following case:
Stock: 10
Products in cart: 10
In this case, the add add to cart button is disabled

3) Display "This product is

[2019-08-16 12:08] mariem-abid commented on #15061
@marionf, yes, the same issue

[2019-08-16 12:19] matks commented on #12901
👍 @sarjon

[2019-08-16 12:31] marionf commented on #15112
@mariem-abid Coumd you please try to reproduce it with PS 1.7.5.2 ?

[2019-08-16 12:35] mariem-abid commented on #14973
Hi @matteolavaggi,

The "Modules" section does not exist in your Dashboard?

[2019-08-16 12:40] mariem-abid commented on #14969
Hi @suncho26,

Feel free to open a new one when needed.

[2019-08-16 12:46] marionf commented on #15061
Hello @kodarco

Your issue is a duplicate of #10300 so I close it.
Please follow issue #10300

Regards

[2019-08-16 12:53] marionf commented on #14135
@TristanLDD

What do you think about adding a dropdown with languages next to the fields ?

![capture d'écran_1893](https://user-images.githubusercontent.com/13449658/63168763-539b5800-c035-11e9-98d1-c32d3bc80c6a.png)

The thing is, we will also have to do it on add / edit file page

![capture d'écran_1894](https://user-images.githubusercontent.com/13449658/63168826-7ded1580-c035-11e9-86bf-b5a824c

[2019-08-16 12:57] Matt75 commented on #14973
Can be a permission issue.
Maybe you should check permissions associated to your employee profile ?

[2019-08-16 13:01] mariem-abid commented on #15112
@marionf, the same issue.

[2019-08-16 13:08] MockoB commented on #14880
@marionf something like that?: https://drive.google.com/file/d/1_OGyH48BmWldZPNU9YXEOHV6szMX6O8m/view?usp=sharing

[2019-08-16 13:24] fernandoherlo commented on #14733
When 1.7.6.1 is out?

[2019-08-16 14:11] mariem-abid commented on #14847
Hi @Flower7C3,

Did you use the default template by Prestashop?

[2019-08-16 14:13] colinegin commented on #10766
@matks do you think this issue could be fixed with the migration of the cart rule page ?

[2019-08-16 14:16] colinegin commented on #13002
@khouloudbelguith do you think this issue is a duplicate of #10766 or they are two different issues ?

[2019-08-16 14:16] mariem-abid commented on #15080
Hi @fdonnet,

What is the exact version of the module 1-click upgrade?

[2019-08-16 14:28] eternoendless opened #15133 "Cannot translate modules when using a theme other than classic"
**Describe the bug**
When using a theme other than classic, you cannot translate modules

**To Reproduce**
Steps to reproduce the behavior:
1. Activate a theme other than classic
2. Try to translate some installed module (a native one for example)
3. You get a domain tree, then the error message "Could not crawl for translation files: The "/path/to/prestashop/var/cache/prod/themes/TEMPLATE/transla

[2019-08-16 14:30] anglesgirl opened #15134 "翻译问题"
**Describe the bug**
A clear and concise description of what the bug is.

从仪表盘，国际，翻译
进行翻译后，一些翻译不能被应用！

The translation part cannot be applied

![8769CE4F-6267-4C47-B97D-D4E5C1A7DB99](https://user-images.githubusercontent.com/17689356/63174832-587ffc00-c075-11e9-9645-f379177def4d.jpeg)
![A288930B-A12B-4338-A3F7-F528D312A28B](https://user-images.githubusercontent.com/17689356/63174833-587ffc00-c075-

[2019-08-16 14:30] eternoendless commented on #14733
Hi @direwald I managed to reproduce your issue: https://github.com/PrestaShop/PrestaShop/issues/15133

Dammit, I wanted to work on this for 1.7.7 not in a rush for 1.7.6.1 ☹️

@fernandoherlo:

As soon as the bugs are fixed 😉

[2019-08-16 14:31] eternoendless commented on #15133
Workaround (not verified, but I think it may work): go to the theme translations before translating the module.

[2019-08-16 14:32] presciak commented on #14595
The error is on the default graphic template.
I removed cash from var / cache / prod - didn't help
I changed the php version to 7.1 - did not help

[2019-08-16 14:43] mariem-abid commented on #15129
Hi @gorkij77,

I did not manage to reproduce the issue with the last version PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1TtGp5IGW3ZitAPDOHuF_VA3MEURSYEiO/view

Thanks for check and feedback.

[2019-08-16 14:55] ddv1976 commented on #15086
Hi

I solved the problem, install the module that comes with the installation of prestashop 1.7.5.2, the version of the facetedsearch module v2.2.0, now the products are displayed without problems.
![Screenshot_2019-08-16 Comprar Online mejor Calzado de calidad para Caballeros](https://user-images.githubusercontent.com/34251232/63176641-ed4e0f80-c00b-11e9-9b75-9d111d885b28.png)

Thank you for your

[2019-08-16 14:57] mariem-abid commented on #15134
Hi @anglesgirl,

I manage to reproduce the issue with PS 1.7.5.2 and PS 1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1gwBFbp2fad0USrB4spMR3iYhi1nXyJTO/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-16 15:00] kodarco commented on #15061
No, tried the fix mention at #10300  for  src/Core/Cart/CartRuleCalculator.php
It didn't fix it.

[2019-08-16 15:14] LisaB123 commented on #15122
Disable module and attempt reset - fail.
Uninstall module, reinstall module and attempt reset - fail

Issue applies to all modules.

[2019-08-16 15:15] colinegin commented on #14516
@matks do you think we could add a new option in the catalog price rule page ?
The option would define if the catalog price rule has or does not have priority over specific prices that may exist for some products impacted by the catalog price rule.

Do you think it could it be done with this issue #10548 ?

[2019-08-16 15:18] colinegin opened #15135 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-08-16 15:21] colinegin opened #15136 "rhgsrhgsrhg"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-08-16 15:22] #15136 closed, assigned to nobody

[2019-08-16 15:22] mariem-abid commented on #15082
Hi @mrabsinthe,

Could you please try to increase the "max_execution_time".
Thanks for check and feedback.

[2019-08-16 15:22] #15135 closed, assigned to nobody

[2019-08-16 15:27] mariem-abid commented on #15122
@LisaB123, Could you please rename the folder modules/welcome to modules/welcomeOLD and feedback?

[2019-08-16 15:29] mariem-abid commented on #15086
@ddv1976, thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

[2019-08-16 15:29] #15086 closed, assigned to nobody

[2019-08-16 15:36] gorkij77 commented on #15129
Hi @mariem-abid,

Interesting. You created a new rule specifically for the UK, and set that to a specific ware.

I already have wares set with the basic 25% Swedish VAT that should be paid as per international EU customers - what am I missing and where should I start searching then?

What can I supply you with to backtrack this issue?

[2019-08-16 15:40] LisaB123 commented on #15122
renamed welcome to welcomeOLD = module is no longer visible in BO>Module Manager, AND not searchable in BO>Module Catalogue.

Test same as above with **paypal** module.

I assume a module with a renamed directory is not available for installation from catalogue because the uninstall script was not executed.

[2019-08-16 15:42] marionf commented on #15061
The fix will be available in 1.7.7 version

[2019-08-16 15:43] mariem-abid commented on #15122
@LisaB123, Have you made an upgrade?

[2019-08-16 15:46] LisaB123 commented on #15122
@mariem-abid  No, it is a fresh install.

Is anyone else having this problem?

If not I will look into any variables unique to the installation such as the nginx config, cloudflare settings.

[2019-08-16 16:11] mrabsinthe commented on #15082
1200 is already quite high in my opinion, however increasing it to 2400 sorted the issue and I'm able to bulk delete 1000 cart rules. The problem is that even 2400 might not be enough if you have 10000+ cart rules there and you need to either delete or edit. The script should pause to avoid timeout.

[2019-08-16 16:19] gorkij77 commented on #15129
Just as a curiosity - am I to understand that if I want this to work proper and as legally intended, I'll have to add EVERY EU country under the normal swedish tax rule?

As per the below image?

![taxrules-se25and-uk](https://user-images.githubusercontent.com/42741897/63182171-332dc680-c052-11e9-8d8d-2851acad2220.JPG)

[2019-08-16 16:24] Seeebastian opened #15137 "Filters should work on specific brand/manufacturer pages"
#### Is your feature request related to a problem?

Now, in the Prestashop you can filter by brand but when you want to use filter on specific brand or manufacturer page there is no such possibility. I think it's a basic case to have faceted navigation working on the every important page of the shop.

The same goes for other pages:
`best-sales`, `manufacturer`, `new-products`, `prices-drop`, `sear

[2019-08-16 16:26] Seeebastian commented on #15103
+1 I also have this problem in my shop. I think it's a huge regression.

[2019-08-16 16:26] marionf commented on #15112
Hello @mrabsinthe

Your issue is a duplicate of 10739, you should follow this issue
A Pull request is already in progress to solve this issue: https://github.com/PrestaShop/PrestaShop/pull/13517

Regards

[2019-08-16 16:26] #15112 closed, assigned to nobody

[2019-08-16 16:33] marionf commented on #15134
@anglesgirl What is your language: Simplified Chinese or Traditional Chinese ?
I guess it's because these languages are not translated at 100% @LouiseBonnard wdyt ?

[2019-08-16 16:48] marionf commented on #14611
@khouloudbelguith
Did you managed to reproduce this issue ?

[2019-08-16 16:56] PrestaShark commented on #14516
That would be great!

[2019-08-16 16:59] anglesgirl commented on #15134
我已经手动进行了翻译，翻译完成后，没有被应用

[2019-08-16 17:00] marionf commented on #14637
@khouloudbelguith
Could you try to reproduce it ?

[2019-08-16 17:06] antoniopineapple commented on #15107
sent

[2019-08-16 17:06] LisaB123 commented on #15122
Rewrote the nginx config using:
https://github.com/MattLoyeD/Prestashop-Nginx/blob/master/prestashop-nginx.conf as a basis.

It was an nginx config issue after all. Now working - thanks for your help.

[2019-08-16 17:06] marionf commented on #14646
@khouloudbelguith
Could you try to reproduce it, unless it's a duplicate ?

[2019-08-16 17:08] #15122 closed, assigned to nobody

[2019-08-16 17:09] marionf commented on #15134
@anglesgirl
Could you please send your comment in English ?

[2019-08-16 17:16] anglesgirl commented on #15134
I have completed the translation operation.。
The problem still exists.

[2019-08-16 17:20] Hlavtox commented on #15137
@Seeebastian Would be a nice improvement. The same goes for other pages:
`best-sales, manufacturer, new-products, prices-drop, search, supplier`

But at first, let them fix it in the category. :-)

[2019-08-16 17:22] Hlavtox commented on #15133
@eternoendless The same in my case. Can't translate any module.

[2019-08-16 17:29] Matt75 commented on #15137
Facetedsearch is only designed for category page initially and you could find advanced modules on marketplace to add support for others pages.
Initial goal was to demonstrate how to do with categories and let community to enhance it for others pages.

[2019-08-16 17:56] Hlavtox opened #15138 "Faceted search | Filters suddenly disappear from the list"
Watch the video, some filters suddenly disappear from the list on the left.

Keep an eye on **Rozměr - výška (mm)**. The bug happens when deselecting **Odstíny světlé** on 0:38 in the video.

https://drive.google.com/file/d/1AtOERy2BdpPPE_cKyURTRZj9yLkal0WD/view?usp=sharing

**Additional information**
PrestaShop version: 1.7.6
Faceted search version: 3.2.0

[2019-08-16 18:19] marionf commented on #15134
I don't understand what do you mean  ?
What is your language: Simplified Chinese or Traditional Chinese ?

[2019-08-16 19:00] anglesgirl commented on #15134
my language Simplified Chinese

Dashboard/International/Translations/，Type of translation/back office Translations
Complete translation 100%，The problem still exists.

[2019-08-16 19:59] Seeebastian commented on #15137
I think that it's the basic functionality of the shop to have uniform filters on every page. Mixing other modules in this area is not a good idea (functionality, performance and seo cases). Moreover, I've never seen the module on the marketplace that extends the original faceted search module. If there is such a module (that only extends the original module) I will be interested in the purchase.

[2019-08-16 20:19] Flower7C3 commented on #14847
No. I have custom template. But this request comes from `themes/_core/js/product.js` file. Problem also occurs when I add product from main page and category page.

[2019-08-16 21:03] Flower7C3 opened #15140 "Unable to edit category"
**Describe the bug**
I am unable to edit some categories in my multistore shop.
There are no PHP error logs. Also Symfony debugger does not display any message.

**Screenshots**
When I click save an unexpected error occurs:
![image](https://user-images.githubusercontent.com/3767861/63197997-b0b8fd00-c079-11e9-9ba8-8104e9c6dfe3.png)

Problem might be in parent category field:
- root category radio

[2019-08-16 22:13] PierreRambaud commented on #15103
My bad... Should be fixed with https://github.com/PrestaShop/ps_facetedsearch/pull/123

[2019-08-16 23:06] Borgas opened #15141 "Import csv - URL re-written by import (not csv file)"
Import records, without re-write in csv file
The value re-write from prestashop is the not re-written in second import, it assumes old text for the ID

**To Reproduce**
Import file csv without values for re-written
Prestashop will generate automatic
Import another file but with different records ex: product name, prices etc (but with same id from last import)
It will not re-write the new text, it

[2019-08-16 23:09] JulianEberius opened #15142 "Product unit_price_ratio is set to 0 on duplication"
**Describe the bug**
After duplicating a product, the new product will have a unit_price_ratio of 0, even if the original product had a different unit_price_ratio.

I think this is related to https://github.com/PrestaShop/PrestaShop/pull/5352 , because I could fix it in a similar way. I made sure that the unit_price is set in the Product constructor, so that the calculation in Product::getFieldsSh

[2019-08-16 23:37] JulianEberius commented on #9768
Hi everyone,

I still encounter this problem on 1.7.6. I use the "Products in the same category" Module, and also there, the unit prices are not displayed. The hook "hookDisplayProductPriceBlock" in ps_legalcompliance is not triggered for this "special" product list.

[2019-08-17 01:00] Matt75 commented on #15137
You can find modules on marketplace to replace and enhance facetedsearch.
This native module is a first implantation to demonstrate how to use the system on category pages.
For others pages, community developers can do their own implementation to manage more listing pages.
So you can find paid community module who replace native facetedsearch by a more advanced.
Community can contribute to improve

[2019-08-17 06:21] matteolavaggi commented on #14973
It's super admin employee

Il Ven 16 Ago 2019, 14:58 Matt75 <notifications@github.com> ha scritto:

[2019-08-17 07:46] silviu25 commented on #15106
since it was working on "www.domain.com/2" I think there are no problems with the host

[2019-08-17 07:57] Hlavtox commented on #15137
@Matt75

No need for a separate search module. We have 15000 products in our store and layered search and faceted search are super fast and reliable. It's more integrated than any 3rd party module will ever be and  loads fast.

In 1.6, I was experimenting with Advanced Search 4. Most selling module on PS Addons, never seen a bigger shit. Went back to Layered navigation and was happy. :)

Guys, jus

[2019-08-17 10:47] SC07TYD commented on #14595
I have the same issue: Price specification not found for currency: "GBP".

This is from a completely fresh 1.7.6 install, yesterday. Today I enabled multishop and on the BO dashboard I select to view 1 shop only and this I get this exception.

I've tried going into the database and changing the default currency to USD, this just changes the exception to: Price specification not found for currency:

[2019-08-17 11:23] Hlavtox commented on #15102
@marionf

1. Install faceted search 3.1.0 (currently, in 3.2.0, this condition is not reproducible, because there is another bug)

2. Select some filters, so no products are found.

3. Refresh page

4. Remove filters

5. Page unusable until another refresh

[2019-08-17 11:40] Seeebastian commented on #15137
@Matt75
I understand the reasons of your approach but I agree with Hlavtox that standard is good enough, more integrated than 3rd party modules and should be ensured for all pages. Of course, Algolia or Elastic Search are additional interesting extensions. It is good for Prestashop ecosystem, but there should be a standard that is supported and easily maintained.

Hence, there is a feature request

[2019-08-17 13:02] Matt75 commented on #15137
You really need to test others alternative, there are so much faster et reliable than a module based on MySQL for this needs. You can try a demonstration for free for somes, can be interessting for test and compare.

I think this will not being implemented in facetedsearch native module because this as to be documented, specified, implemented, tested... and there are so many more critical work to

[2019-08-17 15:50] anglesgirl commented on #15134
hello

[2019-08-17 16:12] ldecoker commented on #14211
@WebmasterXeral,

How did you fix your problem? Looks like I have the same issue.

Thx!

[2019-08-17 16:42] fernandoherlo opened #15143 "Reorder products dont work properly"
**Describe the bug**
Sometimes when reorder the products, the order no save correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://demo.prestashop.com/#/en/back -> Catalog -> Products
2. Click on Filter by category -> Accesories
3. Click Reorder -> drag and drop products
4. See error

**Additional information**
PrestaShop version: 1.7.6

[2019-08-17 19:25] 01park opened #15144 "Bulk invoice generating - Price specification not found for currency - fatal error - 1.7.6"
When generating invoices in bulk. I get a fatal error when the currency is different than EUR.

![Screenshot 2019-08-17 at 20 23 49](https://user-images.githubusercontent.com/46492443/63216438-14503280-c12d-11e9-9024-e3cc58bc606b.png)

I tried turning on-off currency. Checked the ps_products_supplier in DB ( read about this in a different post, but this is empty ) I also already changed the number

[2019-08-17 20:38] matks opened #15145 "[SF Migration] Use is_int instead of is_numeric for ID Value Objects"
Following the example of [this PR](https://github.com/PrestaShop/PrestaShop/pull/15010) we should use is_int instead of is_numeric for ID Value Objects

(related to https://github.com/PrestaShop/PrestaShop/pull/15010#issuecomment-522016078)

[2019-08-18 00:20] BenTen commented on #12929
some news about this issue?

[2019-08-18 02:51] LordMarZ opened #15146 "back office goes blank after disabling debug mode"
hello guys, i work with a 1.7.4.2 version of Prestashop, and it is happening to me that everytime i disable the Debug Mode, the back office goes blank and cant enter.

the server report is this:

---
[17-Aug-2019 17:02:27 America/Montevideo] PHP Fatal error: Uncaught Symfony\Component\Debug\Exception\ClassNotFoundException: Attempted to load class "AdminController" from the global namespace.
Did y

[2019-08-18 09:38] boomdrak commented on #15101
Linux web.cc.no 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

Server version: Apache/2.4.39 (cPanel)
Server built:   Jul  1 2019 21:24:05
cPanel v82.0.8
'

I get alot of errors from https://shop.xxx.no/js/admin/notifications.js
notifications.js:77 Uncaught ReferenceError: admin_notification_get_link is not defined
    at getPush (notifications.js:77

[2019-08-18 10:49] nulledcc commented on #15140
I have same Issue but I am selecting root Caegory

[2019-08-18 10:52] fernandoherlo commented on #15143
I have tested it more, the error occurs only with Chrome, not in Firefox, Safari.

[2019-08-18 11:20] nulledcc commented on #15140
![image](https://user-images.githubusercontent.com/9316816/63223771-a27af600-c1cb-11e9-97c6-b71e1863f61e.png)
This was my issue friendly URL does not save when its is not english letters

[2019-08-18 11:25] cemalarik opened #15147 "Prestashop 1.7.6 WS Operations: After Order State Change Email is Not Sent"
Hello,

I am planning to upgrade my platform to 1.7.6 from 1.6.1.24. Before that, I am trying to be sure that everything works fine  with this new version in my test enviroment.

All is fine, except one:

I manage my orders within another order management platform, and this software is integrated to my shop. After each order status change, it uses web service to my shop to update  it properly.
And

[2019-08-18 20:06] fyndpriser commented on #14595
The problem is that the currency is not shared with other stores

[2019-08-18 20:18] mathsms commented on #14733
I did all the steps in the fix tutorial but i'm still getting error massages and still not being able to translate the modules, not even some translations in the back office admin panel.

[2019-08-18 22:05] Seeebastian commented on #15137
@Matt75
We know that alternatives exist, but I just mentioned that the standard should be adapted to 2019. The faceted search has some advantages. But if there is a problem to make filters great again, I understand that there is no hope to extend it in such a way. Especially, in the closest future.

[2019-08-18 22:28] isaiasreyez commented on #15119
I Can't install, Prestashop show me that error

[2019-08-19 01:59] fxzxmicah commented on #15123
感谢你们的帮助，无法下载zh语言包确实是网络问题，但是之后会卡在安装插件模块这一步，尝试多次后仍无法解决，由于我在虚拟主机上尝试，可能是虚拟主机对此安装过程产生了限制。 @mariem-abid @matks

[2019-08-19 03:36] adu42 opened #15148 "displayAdminProductsExtra bug"
version 1.7.7.0, develp

file line 513:
src\PrestaShopBundle\Resources\views\Admin\Product\ProductPage\product.html.twig

`{% if hookcount('displayAdminProductsExtra') > 0 %}`    line 513 This line get always false
`{% set hooks = renderhooksarray('displayAdminProductsExtra', { 'id_product': id_product }) %}` line
 612

is declare after render?

_____________________

Not call hookDisplayAdminProd

[2019-08-19 05:50] jitendra-cygnet opened #15149 "Redirection problem in Prestashop version 1.7.5.2 - for color attributes"
**Describe the bug**

From product listing page - if you click on any of color it will automatically redirect to default. but if you can do inspect element or right click and open link in new tab  then it goes to exact color link. so can you please tell us solution for same

it makes an ajax call to /cart and then made a page refresh with ajax by requesting the current page with quantity_wanted=1.

[2019-08-19 05:51] Prem-lmx commented on #12581
Hai @khouloudbelguith <https://github.com/khouloudbelguith> ,

How to add new field in prestashop1.7

The   (catalog-->Products-->Price)
 In price path..

Thanks,
Prem

On Mon, Jul 22, 2019 at 2:17 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-19 07:27] marionf commented on #15142
Hello @JulianEberius

Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/10792
Please follow this issue

Regards

[2019-08-19 07:27] #15142 closed, assigned to nobody

[2019-08-19 07:34] marionf commented on #14595
@khouloudbelguith Could you try to reproduce it with the last informations provided ?

[2019-08-19 07:45] khouloudbelguith commented on #14742
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-19 07:45] #14742 closed, assigned to nobody

[2019-08-19 07:47] khouloudbelguith commented on #14759
Hi @Marko-fin,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-19 07:47] #14759 closed, assigned to nobody

[2019-08-19 07:47] khouloudbelguith commented on #14760
Hi @Marko-fin,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-19 07:47] #14760 closed, assigned to nobody

[2019-08-19 07:48] khouloudbelguith commented on #14699
Hi @JorgeNogueiraLFMPro,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-19 07:48] #14699 closed, assigned to nobody

[2019-08-19 07:48] khouloudbelguith commented on #14746
Hi @CarPrc,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-19 07:48] #14746 closed, assigned to nobody

[2019-08-19 07:51] Hlavtox commented on #15075
@eternoendless Is this related with your PR with module translations or a separate problem?

Maybe you could have a look on it when you are on it 🙃

[2019-08-19 07:53] khouloudbelguith commented on #14654
Hi @frankymartinES,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-19 07:53] #14654 closed, assigned to nobody

[2019-08-19 07:58] marionf commented on #15102
@Hlavtox

I can't reproduce it with the steps described

https://drive.google.com/open?id=1_RKDCH5mwLf6m8o2Xvx9YN4S9a_F9OmH

[2019-08-19 08:00] AloitR opened #15150 "Product image changes when editing its accessory's attributes."
**Describe the bug**
When changing an accessory's attribute it swaps the product image.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a product with an accessory.
2. Give the accessory an attribute.
3. Give both items an image.
4. Go to the product.
5. Preview the accessory ( from the product's page )
6. Change some accessory values and see how the product image gets swaped when cl

[2019-08-19 08:03] vilzuh commented on #14887
Having the same problem. I can work around it by movin the .zip file to prestashop's theme folder via ftp and extracting it there manually. That way I can see the theme on back office and activate it there too.

[2019-08-19 08:18] matks commented on #15137
I do not know the exact process of making decisions about feature requests future. Is this an arbitrary decision of one person? Or of a core team? How does it work?

This is the responsibility of the Product Team whose members are @marionf, @colinegin, @samuel-pires and @MatShir 😉they listen to all our channels for user feedback (github, gitter, the forum, feedback.prestashop.com and all the conve

[2019-08-19 08:20] matks commented on #15143
🤔 interesting, thanks for the extensive feedback

Chrome, why are you doing again ? 😄

[2019-08-19 08:20] marionf commented on #14880
@MockoB Yes, someting like that

[2019-08-19 08:28] khouloudbelguith commented on #15140
Hi @Flower7C3,

What s the exact language did you use in your BO?

Thanks!

[2019-08-19 08:57] LouiseBonnard commented on #15134
Hello there, I confirm! From a Crowdin point of view, the string (_Module Manager_) is both translated and validated. As a consequence, it should be written in Chinese in the Chinese version of PrestaShop.

[2019-08-19 09:17] khouloudbelguith commented on #15138
Hi @Hlavtox,

Could you please Enable the "Show the number of matching products" option.
I think this is normal behavior.
In fact, In my case for example:
For the attribute "Size" is used only in the "Clothes" category.
So, when we select a size, the filter category is not displayed anymore.
I attached a screen record
https://drive.google.com/file/d/1bczU0e8f6rOMBBFJYTvM_TqKffJKDc81/view
Thanks to

[2019-08-19 09:21] Hlavtox commented on #15102
@marionf

Ohhh maybe it's a problem in the classic-rocket theme. Can you look at this @prestarocket ?

[2019-08-19 09:26] Hlavtox commented on #15138
@khouloudbelguith I will record it with these numbers, but:

The filters get hidden when deselecting a option. If it was intended behavior, they would get hidden on selecting a option.

Rozměr - šířka (mm) - width
Rozměr - výška (mm) - height
Odstín dřezu - color
Tvar dřezu - shape

Look on the video, I deselect colour and several options from shape disappear and height disappears completely.

[2019-08-19 09:29] khouloudbelguith commented on #15138
@Hlavtox, thanks!
Waiting for the recording with numbers.

[2019-08-19 09:54] khouloudbelguith commented on #15150
Hi @AloitR,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9919
So, I close it.
Thanks!

[2019-08-19 09:54] #15150 closed, assigned to nobody

[2019-08-19 09:54] khouloudbelguith commented on #15150
Duplicate of #9919

[2019-08-19 10:02] khouloudbelguith commented on #15149
Hi @jitendra-cygnet,

I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
I used the default theme Classic
I attached a screen record
https://drive.google.com/file/d/1Yr3hhJjCC53MO7LSXi1fRyTYEllXUOR9/view
Have you tried to contact the theme author about this issue?
Thanks to check with them & feedback.

[2019-08-19 10:04] khouloudbelguith commented on #15148
Hi @adu42,

Could you please provide me the exact steps to reproduce the issue?

Thanks!

[2019-08-19 10:09] khouloudbelguith commented on #15146
Hi @LordMarZ,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-19 10:12] jitendra-cygnet commented on #15149
@khouloudbelguith  Thanks for your try, regarding theme i am using default theme with modification in design

[2019-08-19 10:13] khouloudbelguith commented on #15147
Hi @cemalarik,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14953 to fix the issue.
It is added to the 1.7.6.1 milestone.
Your ticket is a duplicate of #14842
So, I close it.
Thanks!

[2019-08-19 10:13] #15147 closed, assigned to nobody

[2019-08-19 10:13] khouloudbelguith commented on #15147
Duplicate of #14842

[2019-08-19 10:13] #15029 closed, assigned to nobody

[2019-08-19 10:13] marionf opened #15152 "As a customer I want to know if the product I am viewing is already in my cart"
**User story**: As a merchant I want to display in the product page the real quantity in stock, without taking into account what is already in the customer's cart.

1) If "Display available quantities on the product page" is set to yes in Shop parameters > Products:
Display the real quantity in stock regardless what is already in the cart

**Problem:**
As a customer I put some products in my cart

[2019-08-19 10:15] khouloudbelguith commented on #15149
@jitendra-cygnet, those modifications are not related to your issue?

Thanks!

[2019-08-19 10:23] khouloudbelguith commented on #15143
Hi @fernandoherlo,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14616
So, I close it.
Thanks!

[2019-08-19 10:23] #15143 closed, assigned to nobody

[2019-08-19 10:23] khouloudbelguith commented on #15143
Duplicate of #14616

[2019-08-19 10:23] marionf commented on #15152
@LouiseBonnard

What do you think about the new wording ?

[2019-08-19 10:26] marionf commented on #14880
Guys, thank you very much for your feedbacks !
I created a new issue more clear here: https://github.com/PrestaShop/PrestaShop/issues/15152
Please, follow this issue to stay informed

Regards

[2019-08-19 10:26] #14880 closed, assigned to marionf

[2019-08-19 10:29] khouloudbelguith commented on #15141
Hi @Borgas,

It is the same behavior when we try to edit a product manually.
We should to res the Friendly URL manually.
I attached a screen record
https://drive.google.com/file/d/1nzutCWk_YS6u_gY66CZG2ICkthoL0duf/view
Thanks to check & feedback

[2019-08-19 10:35] jitendra-cygnet commented on #15149
@khouloudbelguith nope we did modification in design perspective only, you can check my above comment its completely functional error. There is some ajax call is taking place and after that its redirecting to default combination.
Weird thing is, in product details page if you take a look on selected for you section and click on color combination over there then its working fine and redirecting to

[2019-08-19 10:37] khouloudbelguith commented on #15144
Hi @01park,

This issue occurs only when we import products.

You have a double quote in the same sentence
![image](https://user-images.githubusercontent.com/16067358/63259131-7d42c200-c275-11e9-8b83-556325815ca4.png)

How did you generate the invoices? from the invoices page? By order status?

Thanks!

[2019-08-19 10:41] khouloudbelguith commented on #15149
@jitendra-cygnet, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

PS: you can check in our demo shop, it is OK: http://sordid-toy.demo-ms.production.prestashop.com/en/

[2019-08-19 10:44] fdonnet commented on #15080
Hi @mariem-abid
4.9.0

[2019-08-19 10:45] Borgas commented on #15141
Hi @khouloudbelguith
Yes thank you, i know we can solve restarting.
But doing in 1 product, will do in all products?

[2019-08-19 10:53] khouloudbelguith commented on #15141
@Borgas, thanks to enable the "Force update of friendly URL" option in the BO => Shop Parameters => Product Settings, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/63260044-dd3a6800-c277-11e9-9132-62f1ac683106.png)

Thanks!

[2019-08-19 10:54] jitendra-cygnet commented on #15149
hi @khouloudbelguith

[todays-errro-log.txt](https://github.com/PrestaShop/PrestaShop/files/3515468/todays-errro-log.txt)

Please check today's error log.

Thanks

[2019-08-19 10:59] khouloudbelguith commented on #15080
Hi @fdonnet,

Thanks for your feedback.
In your file /Project_Folder/app/config/parameters.php, did you defined the `database_prefix`?
For example 'database_prefix' => 'ps_',
here's my file parameters.php
[parameters.php.txt](https://github.com/PrestaShop/PrestaShop/files/3515490/parameters.php.txt)

Thanks to check & feedback.

[2019-08-19 11:03] #15088 closed, assigned to nobody

[2019-08-19 11:10] fdonnet commented on #15080
Yes, it's defined like this :
 'database_prefix' => 'ps_',

[2019-08-19 11:13] khouloudbelguith commented on #15080
@fdonnet, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-19 11:17] 01park commented on #15144
Hi @khouloudbelguith

When I generate an invoice from the order page, it works fine ( 1 by 1)

But when I do BULK
<img width="1702" alt="Screenshot 2019-08-19 at 12 16 04" src="https://user-images.githubusercontent.com/46492443/63261337-2809af00-c27b-11e9-8be5-032c991b0971.png">

[2019-08-19 11:18] khouloudbelguith commented on #15149
@jitendra-cygnet, in this log file, you have some errors related to the cache.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Also, you have tis error

It is related to your server.

Thanks to check with your host & feedback.

[2019-08-19 11:21] khouloudbelguith commented on #15144
@01park,

No, it is a debug message.

This is a fresh installation PS1.7.6.0 or after an upgrade from a previous version?

Thanks!

[2019-08-19 11:22] khouloudbelguith commented on #14887
Hi all,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15004
So, I close it.
Thanks!

[2019-08-19 11:22] khouloudbelguith commented on #14887
Duplicate of #15004

[2019-08-19 11:23] 01park commented on #15144
@khouloudbelguith

Its an update from 1.7.5.2 ( multistore ).

Not sure if it makes a difference, but I did not upgrade the classic theme files. This option was disabled.

[2019-08-19 11:25] jitendra-cygnet commented on #15149
Thanks for your effort :)

I will remove cache and contact hosting provider and then get back to you

[2019-08-19 11:30] khouloudbelguith commented on #15149
@jitendra-cygnet, thanks!
Waiting for your feedback.

[2019-08-19 11:36] fdonnet commented on #15080
1) var/cache (prod & dev) content removed
2) run oneclick upgrade from 1.7.5.2 to 1.7.6.0
3) same issue (same error)
4) clean var/cache (prod & dev) content again
5) same issue (error 500) database prefix
6) rollback to my db dump and manual backup (1.7.5.2)

Not linked to the app cache apparently

[2019-08-19 11:36] kkasztann opened #15153 "Edit window for product images in BO does not appear."
**Describe the bug**
I can't edit products images, because, edit window for products images in BO does not appear after click on image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO ->Product ->
2. Click on Product image

**Screenshots**
![ss1](https://user-images.githubusercontent.com/33009149/63262110-6a37ee00-c285-11e9-94b7-3e5dcfcbc7c4.png)
![ss2](https://user-images.githubuse

[2019-08-19 11:44] fdonnet commented on #15080
For info, this shop has been upgraded with "one click upgrade module" for 2 or 3 versions already... that's the first time I have an issue like this...

[2019-08-19 12:24] marionf commented on #15102
@Hlavtox

I close the issue as I can't reproduce it
Feel free to open a new one if needed.

Thanks

[2019-08-19 12:24] #15102 closed, assigned to nobody

[2019-08-19 12:28] khouloudbelguith commented on #15144
@01park, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.0.
Steps to reproduce the issue:
1. PS1.7.6.0 with multi-currencies for example EUR & GBP
![image](https://user-images.githubusercontent.com/16067358/63264072-18419900-c282-11e9-9e2d-8d9ef64f620d.png)
2. Enable Multistore
3. Create a second shop
4. Set the "Default currency" for the first shop `EUR`
5. Set the "Default

[2019-08-19 12:30] khouloudbelguith commented on #14595
Hi @marionf,

Yes, when multistore is enabled & the currency is not shared with other stores => issue reproduced.
Steps to reproduce the issue:
1. PS1.7.6.0 with multi-currencies for example EUR & GBP
![image](https://user-images.githubusercontent.com/16067358/63264072-18419900-c282-11e9-9e2d-8d9ef64f620d.png)
2. Enable Multistore
3. Create a second shop
4. Set the "Default currency" for the first

[2019-08-19 12:34] matteolavaggi opened #15154 "unable to save or modifiy product , post error 500 only in production mode"
Open a product imported from database backup, try to edit it and save.

Request URL: https://www.store.com/admin/index.php/product/form/81611?_token=PhuhII7RdQ4dyagV_dgHTtE53zfAyTvCsDClv8yI9ZI
Request Method: POST
Status Code: 500
Remote Address: XXX.XXX.XXX.XXX:443
Referrer Policy: no-referrer-when-downgrade

RED ALERT MESSAGE "Unable to update settings".

Turn on dev mode result in green success

[2019-08-19 12:37] khouloudbelguith commented on #15154
Hi @matteolavaggi,

What is the exact version PrestaShop did you use?

Thanks!

[2019-08-19 12:40] 01park commented on #15144
@khouloudbelguith

Good work!

[2019-08-19 12:44] khouloudbelguith commented on #15153
Hi @kkasztann,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/11IgssWaKHxZqY872AJf4Txq_r86zsI50/view
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. C

[2019-08-19 12:45] matteolavaggi commented on #15154
1.7.4.4

I've test this bug with apache and nginx so is not something related to web server.
memcache is disable and opcache, dev cache, prod cache, pagespeed cache, nginx cache are flushed every time before the try.

[2019-08-19 12:46] nenes25 commented on #14855
Hi,
I've faced the same problem so i decide to write my own classes in order to create module files through console.
( As i wanted to do the same on ps 1.6.x version, it uses my own implentation of symfony console rather than prestashop one )
You can see more information about here ( in french )
https://www.h-hennes.fr/blog/2019/04/16/prestashop-generer-des-modules-via-la-console/
https://www.h-he

[2019-08-19 12:46] khouloudbelguith commented on #15154
@matteolavaggi, this issue occurs only in production mode? in dev mode is ok?

Thanks!

[2019-08-19 12:50] matteolavaggi commented on #15154
In dev mode:

Creation of product show this error:

Unknown column 'additional_delivery_times' in 'field list'<br /><br /><pre>INSERT INTO `ps_product` (`id_shop_default`, `id_manufacturer`, `id_supplier`, `reference`, `supplier_reference`, `location`, `width`, `height`, `depth`, `weight`, `quantity_discount`, `ean13`, `isbn`, `upc`, `cache_is_pack`, `cache_has_attachments`, `is_virtual`, `state`,

[2019-08-19 13:27] matteolavaggi commented on #15154
Ok seems that prestashop dev team choose to add a couple of additional field in the ps_product database structure from 1.3 to 1.4 ( O_O ), in fact making incomaptible a backup restore with drop table statement (the more secure one). .. Any one have a copy of original ps 1.7.4 database structure?

thanks

[2019-08-19 13:28] kkasztann commented on #15153
Hi @khouloudbelguith

**Headers:**
![ss1](https://user-images.githubusercontent.com/33009149/63267609-bdfd0400-c292-11e9-9004-dfd38f2fdc45.png)
![ss2](https://user-images.githubusercontent.com/33009149/63267611-bdfd0400-c292-11e9-88ca-ab98dcc3f65f.png)

**Preview:**
![ss3](https://user-images.githubusercontent.com/33009149/63269013-ba1eb100-c295-11e9-997f-9120ef98dc3f.png)
![ss4](https://user-imag

[2019-08-19 13:30] khouloudbelguith commented on #15154
@matteolavaggi, You can find the full schema for 1.7.4.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/install-dev/data/db_structure.sql

Thanks!

[2019-08-19 13:38] khouloudbelguith commented on #15080
@fdonnet, It seems this parameter does not exist on a default PrestaShop configuration. As far as I know, the config files (except parameters.yml & parameters.php) are being overwritten when the PrestaShop files are upgraded.

I guess you modified one of them and added some additional libraries to your shop? This could explain these errors we cannot reproduce on our side.

[2019-08-19 13:45] colinegin commented on #14044
We have discussed about it with a SEO agency which agrees with your recommendations.
I let @marionf decide how to prioritize this issue with others in the backlog for faceted search.

Thanks !

[2019-08-19 13:45] LouiseBonnard commented on #15152
Hello @marionf, okay with both wordings (_All available products are in your cart_ and _This product is already in your cart, you can add %s more_), to be localized in _Shop.Notifications.Error_ in the PR.

[2019-08-19 13:47] matteolavaggi commented on #15154
Thanks. Why alter a table structure important like ps_product ... ?!

[2019-08-19 13:48] fdonnet commented on #15080
Ok, it's seems very strange because it's a very minimalist implementation. My parameters.php file look like the one you put in attachment.. Do you have any advice ? Because it seems that I m not the only one who had this issue :
https://www.prestashop.com/forums/topic/998058-after-upgrade-1740-to-1760-site-reach-500-internal-server-error/....

The only thing I modified is the creation of a classic

[2019-08-19 13:51] matteolavaggi commented on #15154
Updating the table with missing field does not fix the problem, only remove the debug exception message when load the new page product.

So the problem is not related to database. There is no dev log entry on save, only the red alert message: "unable to update setting"

[2019-08-19 13:51] colinegin commented on #14766
Hello @matthieu-rolland ,

coud you check @Lathanao's new commits to see if his PR is less impacting in terms of performance ?

Have a nice day,

Coline

[2019-08-19 13:54] khouloudbelguith commented on #15154
@matteolavaggi, Could you please check those issues: #9677, #9954, #9717, #9955.
It can be an issue similar.
Thanks to check & feedback.

[2019-08-19 13:55] PierreRambaud commented on #14989
This is what I do for https://github.com/PrestaShop/ps_facetedsearch/pull/124

[2019-08-19 13:57] khouloudbelguith commented on #15080
@fdonnet, do you have the ViaBill module installed?

Thanks!

[2019-08-19 13:59] pitangaweb commented on #15153
Same issue here. PS 1.7.6.0.

"Failed to load resource: the server responded with a status of 500 (Internal Server Error):
http://www.site.com/admin241hymz2r/index.php/sell/catalog/products/image/form/16?_token=43QZDjyHlokdypAaaJsIDiy4FoporGEP02ikUyHZy_o"

`Symfony\Component\Form\Exception\InvalidArgumentException:
Could not load type "form": class does not exist.

  at vendor/symfony/symfony/src/

[2019-08-19 14:03] matteolavaggi commented on #15154
#9677 has a link to a merge that involve a classes/Tag.php file, this file is complete different on ps 1.7.4.4 than the one shown here:

MERGE FILE:

        foreach ($list as $tag) {
            $data[] = array(
                'id_tag' => (int) $tag,
                'id_product' => (int) $id_product,
                'id_lang' => (int) $id_lang,
                'id_product' => (int) $idProduct,

[2019-08-19 14:07] PierreRambaud commented on #14173
Look like you need to initialize the legacy:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Command/GenerateMailTemplatesCommand.php#L99

[2019-08-19 14:07] maarlok commented on #15103
I have the same problem on v3.2. It does not work well

[2019-08-19 14:08] fdonnet commented on #15080
@khouloudbelguith no, no weird module installed ;)

[2019-08-19 14:09] khouloudbelguith commented on #15154
@matteolavaggi, this change was applied after merging this PR: https://github.com/PrestaShop/PrestaShop/pull/10448/files

Thanks to check & feedback.

[2019-08-19 14:12] PierreRambaud commented on #14998
I'm in favor of allowing unix socket connections.

[2019-08-19 14:18] khouloudbelguith commented on #14611
hi @marionf,

No, in my case, it is OK.
https://drive.google.com/file/d/1s6kAaA1RNYw2BKvezG9H_out4Zwqgdl-/view
Thanks!

[2019-08-19 14:19] matteolavaggi commented on #15154
Ok but really i cant figure out a safe way to apply bug fix , they are commited in new release but new release are not upgradable overwriting file on old release because there is also database change, so any suggestion? we work on upgrade from 3 month now ^^

[2019-08-19 14:20] khouloudbelguith commented on #14816
Hi @banan44,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-08-19 14:20] #14816 closed, assigned to nobody

[2019-08-19 14:22] khouloudbelguith commented on #15033
@itisco, in your case, this issue occurs only when SSL is enabled?

Thanks!

[2019-08-19 14:23] khouloudbelguith commented on #15043
Hi @Romain-Del,

In your case, SSL is enabled?

Thanks!

[2019-08-19 14:26] itisco commented on #15033
hello,
yes, the site is with ssl.
do you think that is the reason?

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le lun. 19 août 2019 à 16:23, khouloudbelguith <notifications@github.com> a
écrit :

--
*PETIT DEJITAL #17*
*STRATÉGIE DIGITALE LA CROISSANCE A P

[2019-08-19 14:28] khouloudbelguith commented on #15057
@tiptopnet, you can try with the classic rocket theme: https://github.com/PrestaShop/classic-rocket.

Yes, you can apply this patch

Thanks!

[2019-08-19 14:39] maarlok opened #15157 "Faceted search don't work fine"
**Describe the bug**
Facetedsearch module don't work fine.
when the filters are selected at the same time the products are not found.

PrestaShop version: 1.7.5
Facetedsearch version: 3.2.0
PHP version: N/A

[2019-08-19 14:50] khouloudbelguith commented on #15154
@matteolavaggi, about the visual issue, it is added to our bug roadmap, the issue created here: https://github.com/PrestaShop/PrestaShop/issues/9668
Did you check if it is a reference issue?

Thanks!

[2019-08-19 14:58] colinegin commented on #14317
Hello @jf-viguier,

thanks for raising the issue ! We have checked with our SEO expert and he has agreed with your recommendation. I will check with the rest of the team to see when we can implement those changes.
@marionf do you think this improvement could be added to the SEO tab in the product pages for 1.7.7 ?
@jolelievre when do you think this feature could be added to category & SEO & url pa

[2019-08-19 15:01] matteolavaggi commented on #15154
Is not a reference issue, the created product was right made under ps 1.7.3 and reference is short

[2019-08-19 15:06] matteolavaggi commented on #15154
This is the 1 click upgrade first attempt:
![image](https://user-images.githubusercontent.com/24798703/63276346-76cb3f00-c2a3-11e9-94cc-74a54a3d2fb7.png)

We change the Tag file, so upgrade stop on that file (i think for permission problem). The result is a complete broken store !

WTF .. cant proceed and update all other files?! OR this is the "normal" result of the 1 click upgrade module ... Hav

[2019-08-19 15:18] matteolavaggi commented on #15154
This is the second run:
[INTERNAL] /var/www/htdocs/www.sixrace.it/app/AppKernel.php line 59 - Error: Class 'League\Tactician\Bundle\TacticianBundle' not found #0 /var/www/htdocs/www.sixrace.it/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php(488): AppKernel->registerBundles() #1 /var/www/htdocs/www.sixrace.it/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php(132)

[2019-08-19 15:23] khouloudbelguith commented on #15154
@matteolavaggi, this issue is fixed with PR: https://github.com/PrestaShop/PrestaShop/pull/14620, it fixes this issue: https://github.com/PrestaShop/PrestaShop/issues/14617
It is added to the PS1.7.6.1 milestone.
Thanks!

[2019-08-19 15:24] matteolavaggi commented on #15154
Ok dear, but i cant upgrade from 1.7.4 to 1.7.6 due to an issue fixed on 1.7.7 ?!?!?!?!????????????

Are you serius? So how can i go out this infinite loop? Now backend give me error 500. No dev log or exception log

![image](https://user-images.githubusercontent.com/24798703/63277761-3620f500-c2a6-11e9-98dc-d2a919920479.png)

[2019-08-19 15:24] colinegin commented on #10996
@eternoendless @PrestaShop/prestashop-core-developers what do you think of this idea ?
Would it be easy to fix it ?

[2019-08-19 15:26] khouloudbelguith commented on #15033
@itisco, I tried with SSL enabled & it is OK
https://drive.google.com/file/d/19xjRe889XOQZbBjSJrDu_Ic7aMj89W8Y/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com

[2019-08-19 15:26] #15033 closed, assigned to nobody

[2019-08-19 15:27] #14611 closed, assigned to nobody

[2019-08-19 15:29] khouloudbelguith commented on #15154
@matteolavaggi, this issue: #14617 is fixed in the next patch 1.7.6.1 & not 1.7.7.
This new issue is displayed on which page? BO/FO?
Thanks!

[2019-08-19 15:31] matteolavaggi commented on #15154
Ok i've downloaded the last stable release of 1.7.6 , so 1.7.6 has a bug that does not allow the 1 click upgrade to work .. O_O .. ok.

After the upgrade we only get that error message, all other files was just upgraded. We get the error 500 on backoffice url. Front office has the maintenance mode enabled so we dont know how to proceed. There is no log to help debug.

[2019-08-19 15:34] khouloudbelguith commented on #15154
@matteolavaggi, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-19 15:37] marionf commented on #15007
This issue should be fixed in the core and not in the module

[2019-08-19 15:39] Hlavtox commented on #15075
@khouloudbelguith

I said everything before.

I am translating a theme, normally, via Translations page in BO.

Theme used is classic-rocket (I provided a link). I cannot translate all strings that are passed to the template from controller layer. Examples provided before.

If the translation is called from the TPL, it works. Even for a custom new string, which is not in the xlf.

Read my previous

[2019-08-19 15:39] matteolavaggi commented on #15154
Hi, every time we change something we flush manual all the cache, restart apache, flush opcache, restart php-fpm, check permission on file and folder.

[2019-08-19 15:40] Hlavtox commented on #14611
@marionf It doesnt work!

It doesnt do it all the time, but the issue is there.

[2019-08-19 15:42] khouloudbelguith commented on #15157
Hi @maarlok,

I did not manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch v3.2.0.
I attached a screen record
https://drive.google.com/file/d/1ojiRjUVk99a-7DGGKrWliKZuqB8iunCJ/view
Thanks to check & feedback.

[2019-08-19 15:53] khouloudbelguith commented on #15154
@matteolavaggi, debug mode is enabled? there is no exception displayed?

Thanks!

[2019-08-19 15:54] matteolavaggi commented on #15154
i've just answer at this question. Debug mode is enabled and there is no exception disaplyed, you have the screenshoot of exactly what we see ...

[2019-08-19 16:10] marionf commented on #14611
@Hlavtox
@khouloudbelguith Can't reproduce the issue with the informations provided this why it's closed.
If you still have this issue, maybe you can provide more details to help us to reproduce it.

[2019-08-19 16:12] khouloudbelguith commented on #15154
@matteolavaggi, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Thanks!

[2019-08-19 16:20] khouloudbelguith commented on #15075
@Hlavtox, I attached a video record
https://drive.google.com/file/d/1TctfIGyFJYNJh9inpB-hFNPNXk-fJL25/view
Thanks to check & feedback

[2019-08-19 16:20] khouloudbelguith commented on #15080
@fdonnet, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Thanks!

[2019-08-19 16:21] khouloudbelguith commented on #15153
@kkasztann, what is the exact type for those images?

Thanks!

[2019-08-19 16:26] matteolavaggi commented on #15154
i've send to you the error of the web log... i've run 5 times an upgrade to 1.7.6. Now i've a shop with unpredictable new bug and no support for 80% of the module installed .... ^^

[2019-08-19 17:36] Seeebastian commented on #15137
@matks
Thanks for detailed information ;)

[2019-08-19 17:57] boomdrak commented on #15101
All my own stupid fault!
Im so sorry for taking up your time :)

Forgot to rename old new /admin folder til /adminXXXXX

[2019-08-19 17:57] #15101 closed, assigned to nobody

[2019-08-19 18:17] LordMarZ commented on #15146
omfg! you solved it!

i cant believe now is working!
thanks a lot @khouloudbelguith you are the man of the hour!

cheers

[2019-08-19 20:28] Hlavtox commented on #15075
Once again, for a third time.

Try to translate A STRING THAT IS CALLED FROM A CONTROLLER.

For example. Try to translate items in product-list sorting options. Or the strings I explicitly said above.

[2019-08-19 20:54] gorkij77 commented on #15129
Well, I hacked this by adding every country in the EU with a swedish tax set, then changed 4000 wares to use the new tax groups for 6% and 25%. Consider it closed, I guess this is one of these "intuitive" thingies users are supposed to know.

[2019-08-19 20:54] #15129 closed, assigned to nobody

[2019-08-19 21:15] banan44 commented on #14816
@khouloudbelguith Main Menu deactivated today again when I updated Revws module (free module from PS forum) to the lastest version. Here's the log with the error that occured. Can you check?

Link: https://drive.google.com/open?id=1i9w_cL8Q2fz-sm9nyqRQaREEkfdniRJL

[2019-08-20 01:10] adu42 commented on #15148
I don't kown why EventSubscriber hooks in strtolower, Is it to solve the declaration problem?

[2019-08-20 05:41] pollat opened #15158 "Take internal order for multishop "all shop" section"
On the back office of prestashop multishop, we can take a internal order only if we choice a specific shop, but not if we are on the "all shop" section: on the order page of "all shops" section missing the "+" to take a internal order (see image attached).

So, add a "+" to take internal order on the "All shops" section and, on first step after, the possibility to choice what shop use to take our

[2019-08-20 06:47] SajRus commented on #9710
Hi, is someone working on this feature?
If no, I can handle it.

Thanks

[2019-08-20 07:40] PeeyushAgrawal opened #15159 "Order payment details row on back office"
**Describe the bug**
If an order consists of two products with different shipping method then in this case, two orders get created with the same order reference. In this case, suppose product A has more amount than the product B. Now if change the order status of an order with product A to payment accept then a row will be shown in the payment section. Now when changing the order status of an orde

[2019-08-20 07:52] khouloudbelguith commented on #15158
Hi @pollat,

This is normal behavior.
You have to select a shop before creating new orders.
Thanks for your understanding!

[2019-08-20 08:22] Kiweez859 opened #15160 "The discount total is zero when the cart rule offers a product"
**Describe the bug**
When the cart rule offers a product, the value of this product is not reported in the fields total_discounts, total_discounts_tax_incl and total_discounts_tax_excl  in the table ps_orders .

**To Reproduce**
Steps to reproduce the behavior:
1. In BO, create a shopping cart rule with a product offered
2.In FO, create a cart and add the discount code
3. Validate the order
4. Che

[2019-08-20 08:36] kkasztann commented on #15153
@khouloudbelguith
*.jpg

[2019-08-20 08:52] matks commented on #15148
It's because of this issue: https://github.com/PrestaShop/PrestaShop/issues/10412

Basically: in PS 1.6 hooks were case-insensitive. We started using Symfony EventDispatcher to replace hooks, but Symfony EventDispatcher is case-sensitive so the behavior was changed which caused issues.

We used the strtolower trick internally to make them case-insensitive again but we still display the hooks witho

[2019-08-20 08:55] matks commented on #15148
So it seems that the PR https://github.com/PrestaShop/PrestaShop/pull/14249 introduced this issue

@adu42 If I understand correctly,
[code]
do not work, even though you have a module that is hooked on them ?

[2019-08-20 08:58] khouloudbelguith commented on #15159
Hi @PeeyushAgrawalWebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
If we change the status of the order that has the major price at first=> NOK
https://drive.google.com/file/d/1EMcnN5XnBIABI6nyVdW1FEWYR-YsuLA5/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send

[2019-08-20 09:04] khouloudbelguith commented on #15153
@kkasztann, @pitangaweb this issue occurs with a Fresh install PS1.7.6.0 or after an upgrade from previous version PrestaShop?

Thanks!

[2019-08-20 09:18] khouloudbelguith commented on #15160
Hi @Kiweez859,

Thanks for your report.
I have the same issue with PS1.7.5.2.
But it is fixed with PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/63334624-b2ade500-c333-11e9-88b3-e0e7c6b632e7.png)
![image](https://user-images.githubusercontent.com/16067358/63334639-bd687a00-c333-11e9-86fd-f3334291d639.png)

Since it is fixed, I close the issue, feel free to open a new when

[2019-08-20 09:18] #15160 closed, assigned to nobody

[2019-08-20 09:24] fdonnet commented on #15080
@khouloudbelguith
I cannot really put the site in maintenance now. (2 maintenances and rollbacks already during the last days).

But I can confirm, that I didn't have any error in the log window after the 2 tentatives I made... that's why it's very strange. (database OK etc)

[2019-08-20 09:24] marionf commented on #15044
@matks Does it seem feasible to do this during the migration of the product page (pricing tab) ?
@TristanLDD Does it's not weird if the field "Price (tax excl.) ecotax excluded" is disabled all the time ?

[2019-08-20 09:25] khouloudbelguith commented on #9710
Same issue with PS1.7.6.0 & the ps_imageslider module v3.0.0.

Thanks!

[2019-08-20 09:30] silviu25 opened #15162 ""1G" is not a valid maximum size"
**Describe the bug** **To Reproduce**
If  "upload_max_filesize"  is configured to 1G in PHP configuration, then I can not upload/ install new modules. I get the following error:  "1G" is not a valid maximum size.

**Screenshots**
https://ibb.co/HCkf9ZK

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2.21

Linux Server Information # 1 SMP Fri Jun 28 06:30:57 EDT 2019 x86_64
S

[2019-08-20 09:33] matks commented on #15162
Hi, unfortunately we are aware of this issue and it does not come from prestashop, see https://github.com/PrestaShop/PrestaShop/pull/10892#issuecomment-439097520

[2019-08-20 09:33] #15162 closed, assigned to nobody

[2019-08-20 09:35] matks commented on #10393
Update: MapBox is getting traction
https://www.mapbox.com/

[2019-08-20 09:36] matks commented on #15044
@marionf This is an ambiguous behavior and *yes* I think we should fix it during the migration.

But, more than fixing it, we must *make sure people understand what is being computed between the different fields*. So I think somewhere in the page we must show to the merchand *what is being added or removed* so he does not wonder "why do I get price X ? what tax is being or not being applied" ?

[2019-08-20 09:37] colinegin commented on #12501
@marionf as just discussed, the issue not only applies to the combination images, but also to the price which is not updated according to the filter.

[2019-08-20 09:39] khouloudbelguith commented on #15080
@fdonnet, did you tried to make an upgrade again & there is no error displayed?

Thanks!

[2019-08-20 09:39] kkasztann commented on #15153
@khouloudbelguith this issue occured to me with a fresh install PS 1.7.6.0

[2019-08-20 09:53] pitangaweb commented on #15153
Fresh install as well !

[2019-08-20 09:58] khouloudbelguith commented on #15153
@kkasztann, @pitangaweb did you installed any custom module before this issue occurs?

Thanks!

[2019-08-20 10:12] khouloudbelguith commented on #15075
@Hlavtox, thanks for these clarifications.
I tried with this expression `VÝSLEDEK HLEDÁNÍ` doesn't exist.
https://drive.google.com/file/d/140bt9ITsH3osCSuWEPfavOD-eKT2CXVk/view
I tried with this expression: `Guest order tracking`, it is displayed into `Shop > Theme > Customeraccount`  and not into `Shop.Theme.Checkout` & it is well translated.
https://drive.google.com/file/d/1VzxsoxFvkxgzJF5udybIA

[2019-08-20 10:12] marionf opened #15164 "Faceted search show the price of the default combination instead of the selected combination"
Creates two products with combinations S-M-L
Apply for these 2 products for combination M an impact on the price
In front-office select combination M with faceted search
You should see the price of the selected combination

---
#### Describe the bug

When using faceted search we got a problem - filters shows wrong results in products with combinations (especially prices). It shows only price of de

[2019-08-20 10:13] marionf commented on #12501
Reported here: https://github.com/PrestaShop/PrestaShop/issues/15164

[2019-08-20 10:16] khouloudbelguith commented on #15146
@LordMarZ, thanks for your feedback.
You are welcome.
Feel free to open a new one when needed.

Thanks!

[2019-08-20 10:16] #15146 closed, assigned to nobody

[2019-08-20 10:16] PeeyushAgrawal opened #15165 "Product indexation on bulk/unit active/deactive operation from admin product list."
**Describe the bug**
Once the products are created in the offline stage and then its get active from the product list, the indexation for this product will not be true. Because of on product active/deactivate from the product list, the product indexation is not working and also on bulk action the indexation option is not getting updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2019-08-20 10:21] khouloudbelguith commented on #15165
Hi @PeeyushAgrawalWebkul,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9663
So, I close it.
Thanks!

[2019-08-20 10:21] #15165 closed, assigned to nobody

[2019-08-20 10:21] khouloudbelguith commented on #15165
Duplicate of #9663

[2019-08-20 10:23] PeeyushAgrawalWebkul commented on #15165
Hello @khouloudbelguith
thanks.

Can I create the PR for this issue solution?

[2019-08-20 10:27] khouloudbelguith commented on #15154
@matteolavaggi,

I didn't receive any log file.

It is ok in my side
https://drive.google.com/file/d/1HKgNo4pT6aMXC5vkigdh92GX-4HXawym/view
It is just a redirection info displayed when debug mode is enabled & the "Redirect to the canonical URL" option is set to "302 Moved Temporarily (recommended while setting up your store)"
![image](https://user-images.githubusercontent.com/16067358/63339723-6eb

[2019-08-20 10:28] khouloudbelguith commented on #15165
@PeeyushAgrawalWebkul, yes!
You can make a pull request on GitHub with your code suggestion:
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-08-20 10:31] kkasztann commented on #15153
@khouloudbelguith to be honest I don't know when this issue appeared. But I installed just few modules related to delivery and payments.

[2019-08-20 10:31] PierreRambaud commented on #15007
With the latest for https://github.com/PrestaShop/PrestaShop/issues/14932

I'm able to edit translations:
![image](https://user-images.githubusercontent.com/1462701/63339997-5e603080-c346-11e9-9cee-8145b9016139.png)
![image](https://user-images.githubusercontent.com/1462701/63340003-63bd7b00-c346-11e9-9219-5205bcbf73f7.png)

[2019-08-20 10:31] khouloudbelguith commented on #14816
@banan44, Product Comments module?

Thanks!

[2019-08-20 10:38] fdonnet commented on #15080
@khouloudbelguith
Yes yesterday I made a new upgrade with your advice (remove cache content folder - prod and dev), no error is displayed (upgrade success etc, database success) but the same issue as before with database_prefix on the front-end. The backend/admin  works good.

Very strange...

For info, the custom thing I made on the frontend of this shop is a redirect to simulate a B2B shop.

I m

[2019-08-20 10:41] colinegin opened #15166 "[EPIC] - FO Merchandising improvements"
A few improvements and bug fixes are needed for the product listings **and quickviews** on front office, in order to correctly display product combinations :

## Improvements
- [x] #13479
- [x]  #12501
- [x] #15164
- [x] #15738

## Bugs
- [x] #15463
- [x] #21240
- [ ] https://github.com/PrestaShop/PrestaShop/issues/35219
- [ ] https://github.com/PrestaShop/PrestaShop/issues/35220
- [ ] https://git

[2019-08-20 10:47] khouloudbelguith commented on #15080
@fdonnet, could you please try to remove this override & check if the issue occurs again (try to clear cache after removing this override)
You need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check & feedback.

[2019-08-20 10:51] fdonnet commented on #15080
Ok, I will try that, when 1.7.6.1 will be available. For now, I will stay on 1.7.5.2.
In the meantime, I will follow the Github, if someone will raise the same issue.

It seems, for the moment, that the problem is on my side.

Thx for your help.
You can close the issue.
Regards,

[2019-08-20 10:58] khouloudbelguith commented on #15119
@isaiasreyez, this zip folder is invalid.
You need to rename it to productcomments, unzip it & install the composer then compress it again.
You can try with this zip file.
[productcomments.zip](https://github.com/PrestaShop/PrestaShop/files/3520146/productcomments.zip)

Thanks!

[2019-08-20 10:59] PeeyushAgrawalWebkul commented on #15165
@khouloudbelguith

The PR has been created https://github.com/PrestaShop/PrestaShop/pull/15167

Please check.
Thanks.

[2019-08-20 10:59] Prestaworks commented on #12588
This issue is still present in 1.7.6.0 (it has been in Prestashop since 2015)

[2019-08-20 11:00] khouloudbelguith commented on #15080
@fdonnet, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-08-20 11:00] #15080 closed, assigned to nobody

[2019-08-20 11:01] Hlavtox commented on #15075
@khouloudbelguith

Yes, but `Guest order tracking` from `Shop.Theme.Customeraccount` is a different string which is working. The one from `Shop.Theme.Checkout` is not working.

Now try to translate for example this items:
![translations](https://user-images.githubusercontent.com/6097524/63341625-f3185d80-c349-11e9-8edd-5fe3234becc4.JPG)

Or, try to go to Brands page (/znacky) and try to translate

[2019-08-20 11:01] khouloudbelguith commented on #15165
@PeeyushAgrawalWebkul, thanks a lot!

[2019-08-20 11:02] khouloudbelguith commented on #12588
@Prestaworks, sorry, it is not fixed yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-08-20 11:04] Prem-lmx opened #15168 "default price value show 0.00"
Hai ,
i have use the prestashop 1.7..
change the product price save the backend file in db..
but show the incorrect price in display,
please support him..

![image](https://user-images.githubusercontent.com/52959027/63342051-3255a700-c368-11e9-9bfe-7845b8a9711e.png)
![image](https://user-images.githubusercontent.com/52959027/63342201-86608b80-c368-11e9-886e-ccd0307e8b96.png)

**Additional informat

[2019-08-20 11:11] khouloudbelguith commented on #15168
Hi @Prem-lmx,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/

[2019-08-20 11:15] Prem-lmx commented on #15168
Host:   http://www.mangalandmangalonline.com/jewellery/
<https://www.google.com/url?q=http://www.mangalandmangalonline.com/jewellery/&sa=D&source=hangouts&ust=1566386012167000&usg=AFQjCNEAvFW9ZqrxLkaMK4J0-bkpXormkg>

Username:karthik@logimax.co.in
password:admin@mmj
prestashop version:1.7.5.2

Thanks

On Tue, Aug 20, 2019 at 4:41 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-20 11:19] Prem-lmx commented on #15168
On Tue, Aug 20, 2019 at 4:47 PM Prem <premnath@vikashinfosolutions.com>
wrote:

[2019-08-20 11:20] khouloudbelguith commented on #15123
Hi @fxzxmicah,

Thanks for your feedback.
I tried to install PrestaShop with the "简体字 (Simplified Chinese)" language with virtual host & it is well installed.
I attached a screen record
https://drive.google.com/file/d/1i7HkT_6_d_y38xofWI3x8Cjqtapw51Ot/view

Thanks!

[2019-08-20 11:20] Prem-lmx commented on #15168
[image: image.png]

On Tue, Aug 20, 2019 at 4:49 PM Prem <premnath@vikashinfosolutions.com>
wrote:

[2019-08-20 11:21] khouloudbelguith commented on #15168
@Prem-lmx, there is no image attached, you need to connect to GitHub & upload your files.

Thanks!

[2019-08-20 11:24] Prem-lmx commented on #15168
Thank you for your response,
 i have attched image..
but not a correct price value,

Thanks

On Tue, Aug 20, 2019 at 4:52 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-20 11:28] khouloudbelguith commented on #15075
@Hlavtox,

This expression `Důležitost` doesn't exist & the expression `ZNAČKY` is well translated.
I attached a screen record
https://drive.google.com/file/d/1YyigFbav0BdjOytNZ-u2njoxmz2CcETU/view

Thanks!

[2019-08-20 11:28] Prem-lmx commented on #15168
Not propper value display..
thanks

[image: image.png]

On Tue, Aug 20, 2019 at 4:56 PM Prem <premnath@vikashinfosolutions.com>
wrote:

[2019-08-20 11:28] khouloudbelguith commented on #15153
@kkasztann, could you please try to disable one by one & check if the issue occurs again.

Thanks!

[2019-08-20 11:30] khouloudbelguith commented on #15168
@Prem-lmx, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

In your last comment => there is no image attached.
Thanks!

[2019-08-20 11:31] khouloudbelguith commented on #12929
Hi @BenTen,

Sorry, not yet.

Thanks for your understanding!

[2019-08-20 11:33] colinegin commented on #10511
This page needs a Helper card - design still needs to be provided @TristanLDD

[2019-08-20 11:33] khouloudbelguith commented on #14973
@matteolavaggi, the issue still occurs in your case?

Thanks!

[2019-08-20 11:35] colinegin commented on #10540
This page will need a helper card - design needs to be provided @TristanLDD

[2019-08-20 11:35] colinegin commented on #10585
This page will need a helper card - design needs to be provided @TristanLDD

[2019-08-20 11:36] #15007 closed, assigned to nobody

[2019-08-20 11:39] khouloudbelguith commented on #15122
@LisaB123, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-08-20 11:41] khouloudbelguith commented on #14847
@Flower7C3, the issue occurs with related products & not a pack product as reported here: #9919.
Thanks to check & feedback.

[2019-08-20 11:45] khouloudbelguith commented on #14637
Hi @daresh,

The hook `ActionObjectCustomerUpdateBefore` & `ActionObjectCustomerUpdateAfter` do not exist in our documentation
 https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/
Thanks to check & feedback.

[2019-08-20 11:47] khouloudbelguith commented on #14429
@PeeyushAgrawalWebkul, sorry for the late answer.
But, I did not receive any mail yet.
Thanks to re-send me again the module.

[2019-08-20 11:47] kkasztann commented on #15153
@khouloudbelguith issue still occurs.

[2019-08-20 11:54] daresh commented on #14637
@khouloudbelguith the do exist in the documentation.
It's the actionObjectUpdateBefore and actionObjectUpdateAfter hooks.
As you can see in classe/ObjectModel.php file, these hooks are executed in two ways.

[2019-08-20 12:09] 01park opened #15169 "1.7.6 Back office freeze after rebuild entire search index"
After clicking on rebuild entire search index in the search tab. Our backoffice freezes.

In the back ground the index gets updated, but its impossible to go to another tab. Even when the page is closed in the same browser then BO is still frozen. Only way to get back in to BO is via a different browser. I tried in safari and chrome and vice versa.

PrestaShop version: 1.7.6
PHP version: 7.2

[2019-08-20 12:13] PeeyushAgrawalWebkul commented on #14429
@khouloudbelguith
Please check the attachment (Test module) to check this issue.
[Uploading testgdpr.zip…]()

Thanks.

[2019-08-20 12:14] PeeyushAgrawalWebkul commented on #14429
@khouloudbelguith
Please check the attachment (Test module) to check this issue.
[testgdpr.zip](https://github.com/PrestaShop/PrestaShop/files/3520505/testgdpr.zip)

Thanks.

[2019-08-20 12:23] Prem-lmx commented on #15168
im check but issue not closed

[image: image.png]

On Tue, Aug 20, 2019 at 5:00 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-08-20 12:28] PierreRambaud commented on #15168
Please @Prem-lmx never send sensitive data. And change your password right now! :scream:

[2019-08-20 12:32] khouloudbelguith commented on #15168
@Prem-lmx, sorry we need more details to unstrand how to reproduce the issue(debug mode/PHP error log).

Thanks!

[2019-08-20 12:41] PierreRambaud commented on #15168
Please @Prem-lmx Do not respond anymore by email or be sure you remove your history.
If you continue, we will be force to close this issue for you :/

[2019-08-20 12:50] matks commented on #14497
ping @SimonGrn

Here's the issue to be done for 1.7.7 about Travis web acceptance tests

[2019-08-20 13:03] SimonGrn commented on #14497
We will only have smoke and sanity tests before the 1.7.7 is shipped, no E2E tests and I don't think we'll ever have since we want to have functional/E2E tests only for the nightly. Is that a problem ?

[2019-08-20 13:04] khouloudbelguith commented on #14429
@PeeyushAgrawalWebkul, thanks for your feedback.
I tried with your module with PS1.7.6.0 & PS1.7.5.2
1. No checkbox is checked => All "Submit" buttons are disabled => OK
![image](https://user-images.githubusercontent.com/16067358/63349024-7342c100-c352-11e9-822a-e1b9318e19d4.png)

Thanks to check & feedback

[2019-08-20 13:06] khouloudbelguith commented on #15169
Hi @01park,

I did not manage to reproduce the issue with PS1.7.6.0.
https://drive.google.com/file/d/1CkJuP86GlTp_-m7iNQdZJ3XG4CYMfrnY/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't

[2019-08-20 13:08] khouloudbelguith commented on #15153
@kkasztann, could you please navigate to the BO => Design => Image Settings page => click on the "Regenerate thumbnails" button, check & feedback.

[2019-08-20 13:10] PeeyushAgrawalWebkul commented on #14429
Hello @khouloudbelguith
Now please try to check the third or second checkbox, it will not enable the corresponding submit button , it will enable the first form button.

[2019-08-20 13:14] marionf opened #15170 "Faceted Search - By default put "indexable" option to No in add/edit attributes & features pages"
When faceted search is installed it add an "Indexable" option in add/edit attributes and features pages.
By default this option is set to Yes but should be on No.

![capture d'écran_1910](https://user-images.githubusercontent.com/13449658/63350159-2ca69400-c35d-11e9-85c1-83ec44697065.png)

![capture d'écran_1911](https://user-images.githubusercontent.com/13449658/63350167-303a1b00-c35d-11e9-93ab-a

[2019-08-20 13:19] 01park commented on #15169
Hi @khouloudbelguith

I see no error with debug turned on. That said, since the BO freezes I have no control over anything.
Before I click on the rebuild option, the debug mode showed no errors.

Also, this is something I mentioned before. After saving an item the index never is update.

prestashop 1.7.6 multistore on
HOST: godaddy (VPN server)
PHP 7.2
All packages for PHP installed

<img width="1

[2019-08-20 13:21] matthieu-rolland commented on #14766
Hey @colinegin

Yes, @Lathanao did some very valuable improvements to his PR, especially the part taking into account the size of ps_search_word.

I think it is still important to make that configurable, just in case some end user has a very slow DB and would prefer not to have this feature.

It could be something like that (just an idea, it has be reworded), what do you think ?

Search tolerance:

[2019-08-20 13:23] matthieu-rolland commented on #14766
another way would to have a simple  on / off.

[2019-08-20 13:30] khouloudbelguith commented on #15082
Hi @mrabsinthe,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
The phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typica

[2019-08-20 13:34] khouloudbelguith commented on #12296
Hi @evsport,

Sorry for the late answer.
Those errors occur due to the `ptsmegamenu` module.

at Link->getAllParentCategories('1')in Link.php line 47
at Link->getCategoryLink(object(Category), 'footwear', 1)in Btmegamenu.php line 1514

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are t

[2019-08-20 13:34] #12296 closed, assigned to nobody

[2019-08-20 13:34] colinegin commented on #14766
This is great news !
I would rather go for the on / off option, to keep it simple.
My recommendation would be to have the feature on ON by default, but I would like to be sure this won't cause performance issues on most stores.
@sarahdib when you will test this PR, could you try to test it with different scenarios to see if there are any differences in terms of perf ?

[2019-08-20 13:37] pollat commented on #15158
@khouloudbelguith, yes I know, but this a request to add this feature also on "All shop" section and then select the shop on the first step of order setting.

[2019-08-20 13:42] khouloudbelguith commented on #15158
@pollat, thanks for your feedback.
Ping @marionf @colinegin what do you think?

Thanks!

[2019-08-20 13:45] PeeyushAgrawalWebkul commented on #14429
@khouloudbelguith
Yes, that's the issue. I have a solution for this issue.
Please once confirm that the issue is clear so that I can create the PR for the solution of this issue.

Thanks

[2019-08-20 13:48] khouloudbelguith commented on #15169
@01park, "All shops" is selected in your case?
https://drive.google.com/file/d/1OSrYY1Df1u4YgXkwuBqCYftxo9G-mjtP/view
Thanks!

[2019-08-20 13:49] khouloudbelguith commented on #14429
@PeeyushAgrawalWebkul, thanks for your feedback.
I have the same issue with PS1.7.5.2 & PS1.7.6.0.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-20 13:51] khouloudbelguith commented on #15153
@kkasztann, this product is created manually for the BO => Products page & uploaded from the import page?

Thanks!

[2019-08-20 13:52] 01park commented on #15169
@khouloudbelguith

Correct, ALL SHOPS are selected

[2019-08-20 13:53] mrabsinthe commented on #15082
![PrestaShop Info](https://user-images.githubusercontent.com/31688689/63353153-9bd2b700-c362-11e9-813c-b91848ec817a.png)

[2019-08-20 13:53] khouloudbelguith commented on #15169
@01park, We need to retrieve the PHP error log in order to find out what's wrong.
If you don't have it, you should ask your hosting provider.
Thanks!

[2019-08-20 13:54] matks commented on #14497
Smoke & sanity will do 👍 we talk about E2E tests here but we mean "web acceptance tests, powered by either Selenium or Puppeeter". Remember that so far, only you has a different meaning for E2E 😉 most of us think that E2E tests = "tests that start a browser and interact with the HTML and JS interface".

For example, if you pick https://engineering.wingify.com/posts/e2e-testing-with-webdriverjs-jas

[2019-08-20 13:55] 01park commented on #15169
@khouloudbelguith

I will contact them.

[2019-08-20 14:02] khouloudbelguith commented on #15169
@01park, thanks!
Waiting for your feedback.

[2019-08-20 14:07] SimonGrn commented on #14497
"From start to finish" is the only relevant piece of info here. Smoke and sanity don't test from start to finish, neither unit tests. I don't really understand why they put UI testing and E2E testing together as it was never mixed up when it was introduced to me.
Anyway, we got the spirit and that's the most important !

[2019-08-20 14:12] kkasztann commented on #15153
@khouloudbelguith

Yes, product is created manually.

[2019-08-20 14:15] matks commented on #14497
Because most developers are introduced to web acceptance testing (meaning: using a browser to interact with the app) by tutorials and conference talks, not professionals. So we mix things up.

[2019-08-20 14:55] ArtiomkaPL opened #15172 "An answer to your message no. ct%thread_id is available (thread ID tcVZCv6tKE7zVG)"
**Describe the bug**
Weird email reply subejct

**To Reproduce**
Steps to reproduce the behavior:
1. use contact form on shop
2. reply to it via prestashop  "Customer Service"
3. receive weird email subject

I dont know if this is a bug or my error as first timer on prestashop.
So if i use contact form and send message to site and i reply to it via "Customer Service" from presta shop interface i g

[2019-08-20 14:58] khouloudbelguith commented on #15082
@mrabsinthe, I tried to delete 1000 cart rules with PS1.7.6.0 & it is OK
I attached a screen record
https://drive.google.com/file/d/1tRdiloueflh6fchkSwj0qgAC_O2nHwvO/view
![image](https://user-images.githubusercontent.com/16067358/63358657-5498f600-c363-11e9-9e71-893fede898fc.png)

Thanks!

[2019-08-20 15:01] mrabsinthe commented on #15082
Can you please try to delete them when you have total of 5300 vouchers/coupons?

[2019-08-20 15:19] Msappdem opened #15174 "1.7.6.0 - BackOffice - Update a category when the Home category is hidden"
When the Home category is hidden it is not possible to update the subcategories

The solution is to reactivate the category home then after the updates, disable the category home

PrestaShop version: 1.7.6.0
PHP version: 7.3.0

[2019-08-20 15:32] khouloudbelguith commented on #15172
Hi @ArtiomkaPL,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/63361404-f6badd00-c367-11e9-8bde-7b893c32ccbc.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-20 15:45] khouloudbelguith commented on #15174
Hi @Msappdem,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15030 to fix the issue.
Your ticket is a duplicate of #14790
So, I close it.
Thanks!

[2019-08-20 15:45] #15174 closed, assigned to nobody

[2019-08-20 15:45] khouloudbelguith commented on #15174
Duplicate of #14790

[2019-08-20 15:46] khouloudbelguith commented on #15174
@Msappdem, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

[2019-08-20 15:51] feyromain opened #15175 "Bad total price product custom"
**Describe the bug**
Bad price total display for custom products on detail order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to product custom
2. Click on add to cart
3. Go to checkout
4. To confirm order for display page confirmation
4. See error

**Screenshots**
<img width="1172" alt="Capture d’écran 2019-08-20 à 17 42 32" src="https://user-images.githubusercontent.com/2391917/63362

[2019-08-20 15:51] khouloudbelguith commented on #15153
@kkasztann, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-20 15:54] khouloudbelguith commented on #15082
@mrabsinthe, it is OK
https://drive.google.com/file/d/1E9ZE1nXidre2PGncSqATb_JMxs2JrNlD/view
Thanks!

[2019-08-20 15:55] khouloudbelguith commented on #15175
Hi @feyromain,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10912
So, I close it.
Thanks!

[2019-08-20 15:55] #15175 closed, assigned to nobody

[2019-08-20 15:56] khouloudbelguith commented on #15175
Duplicate of #10912

[2019-08-20 15:57] khouloudbelguith commented on #10912
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15171 to fix the issue.
Thanks @feyromain

[2019-08-20 16:03] khouloudbelguith commented on #14637
@daresh, thanks for these clarifications.
We'll first try to reproduce it and we'll come back to you if we need more information.

[2019-08-20 16:18] mrabsinthe commented on #15082
Not sure why it was not working, perhaps the fact that none of those vouchers was same, each one was with unique number, each with different expiration date and unique discount. Many of them issued to individual customers for birthday or abandoned cart. That is why I had to increase the "max_execution_time" so much. I tested on PrestaShop version: 1.7.5.1 only so maybe some changes were done to 1.

[2019-08-20 16:25] khouloudbelguith commented on #14646
Hi @Daniel-Informax,

Sorry for the late answer.
After applying these taxes, I get these results
![image](https://user-images.githubusercontent.com/16067358/63365417-83b56480-c36f-11e9-8c99-e3f0da36d810.png)

Thanks to check & feedback.

[2019-08-20 16:28] antoniopineapple commented on #15107
Hello there any update?

[2019-08-20 16:33] matks commented on #14685
@Daaaaad I renamed the ticket to "Allow module to include JS either at the top or at the bottom of a page", is that correct then ?

[2019-08-20 18:51] harm-smits opened #15177 "Multiple feature values for a single feature"
**Is your feature request related to a problem? Please describe.**
It is very weird that you can not assign multiple feature values to a single product feature. Think about when you are selling e.g. intel processors. A processor normally has a socket, which is a single value per product. However, if you start selling processor coolers as well, then you have a problem as you can not assign multiple

[2019-08-20 19:21] Flower7C3 commented on #15140
Hi @khouloudbelguith,
I use Polish version. The message _Nieoczekiwany błąd_ on my screenshot means _Unexpected error_.

I was looking for this in source code and I find out, that any CategoryConstraintException does not show user friendly message.

[2019-08-20 19:36] Flower7C3 commented on #14733
@mathsms You have to update files from commit 253f9677f24983919b025f4fb9bc677c79c7a4ed in Your application. I have checked it now and it works. Finally I am able to update translations.

But remember, that any changes that You made in `prestashop/` directory will be overwritten during 1-Click Update. There are still some methods to safety override parts of prestashop https://devdocs.prestashop.com

[2019-08-20 19:49] arkenzos commented on #14733
I have the same bug with translations in Prestashop 1.7.6.0

![2019-08-20 21_48_46-Tłumaczenia • ENKOM - Sklep Komputerowy AGD RTV - Najlepszy wybór](https://user-images.githubusercontent.com/54332109/63379352-6e066600-c394-11e9-832a-bc0526db557f.png)

[2019-08-20 20:42] SajRus commented on #9710
I was wrong the PS1.7.6.0 & ps_imageslider 3.0.0 is working fine. The demo examples are shared among shops so if you edit one of them will be propagated within other shops. To achieve the correct multistore functionality first you need to delete the demo slide and create new one in every shop.

Thanks a lot.
I think this issue can bee closed.

Great job

[2019-08-20 20:56] PrestaShark commented on #15177
In 1.7 You can do it ;)
![zrzut 2019-08-20 22 55 04](https://user-images.githubusercontent.com/8243273/63383746-acece980-c39d-11e9-8263-829d19b09865.png)

[2019-08-20 20:59] PrestaShark commented on #15168
This kind of issue happen when no default combination is selected

[2019-08-21 00:14] Maofree opened #15178 "The big image Page will not opened after changing the color combination - Chrome v76"
Hi
I've checked many times on some themes of prestashop 1.7.6
at first I thought it was due from an error of a theme bought on Addons, but I've seen it is present on all theme bought on Addons and also on the Classic theme of prestashop.

https://www.alikebikini.com/it/home/98-222-home-costume-intero-trikini-roses.html
this is the first theme that I found the error, because it is simple to see tha

[2019-08-21 04:05] Prem-lmx commented on #15168
Hai,
[image: image.png]

[image: image.png]
This issue not clear..

Thanks,

On Wed, Aug 21, 2019 at 2:30 AM Prestashark.eu <notifications@github.com>
wrote:

[2019-08-21 05:43] fafa0659 commented on #15124
step are easy. ( on prestashop 1.7.6)

1.activated url accentued
2.create a product
3.on url product replace "-" by "+"
when the url is read by google all "+" will be  replace by %2

[2019-08-21 06:33] Daniel-Informax commented on #14646
Yeah, that's it. The base price is divided by 2.

[2019-08-21 06:51] Prem-lmx commented on #12474
Hai the same issue ,
plesase help me,

[2019-08-21 06:55] Prestaworks commented on #12588
Hi,

Maybe the software designer can help expain how it is supposed to work? today the payments are stored in orderpayments and invoicepayments and when a status is set with payed=1 it creates orderpayments if there are no invoicepayments. I do not want to try to fix this unless I know how it is supposed to work.

[2019-08-21 07:08] maofree commented on #15178
hi
this problem happens only for products with combinations, without them increasing the quantity the problem doesn't appear

[2019-08-21 07:10] sarjon opened #15179 "Product indexing explanation"
Hi, I had client who confused internal PrestaShop search/indexing https://prnt.sc/ouzxtp with search engines indexing.

For migration, maybe it would be nice to add helper card on this page or something similar to it, to explain PS search and that it has nothing to do with search engines. :)

ping @colinegin @marionf wdyt?

[2019-08-21 07:42] Romain-Del commented on #15043
No, SSL isn't enabled.
it's working in local with UwAmp, I have this problem only on my server (OVH), on my server before change my logo I don't see Prestashop logo like video in issue #15088
I think I will wait the next upgrade/patch
Thanks for your help

[2019-08-21 07:47] khouloudbelguith commented on #14788
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 07:47] #14788 closed, assigned to nobody

[2019-08-21 07:48] kkasztann commented on #15153
Hi @khouloudbelguith
I sent access data to Your email.

[2019-08-21 07:48] khouloudbelguith commented on #14793
Hi @frevab,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 07:48] #14793 closed, assigned to nobody

[2019-08-21 07:49] khouloudbelguith commented on #14794
Hi @mahdimedia,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 07:49] #14794 closed, assigned to nobody

[2019-08-21 07:50] khouloudbelguith commented on #14799
Hi @lukaszlan,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 07:50] #14799 closed, assigned to nobody

[2019-08-21 07:50] khouloudbelguith commented on #14812
Hi @vallka,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-21 07:50] #14812 closed, assigned to nobody

[2019-08-21 07:56] Hlavtox commented on #15177
Yes, you can do it in 1.7.

Nice advancement from 1.6. No need for multiple features module. :-)

[2019-08-21 08:17] khouloudbelguith commented on #15177
Hi @harm-smits,

Thanks for your report.
Yes, as said before, this improvement is well implemented with PS1.7.
BO:
![image](https://user-images.githubusercontent.com/16067358/63414688-447d2700-c3f4-11e9-9860-dc2128c3d965.png)
FO:
![image](https://user-images.githubusercontent.com/16067358/63414714-4e9f2580-c3f4-11e9-916a-c90c3492b72d.png)
I close the issue, feel free to open a new one when needed.

[2019-08-21 08:17] #15177 closed, assigned to nobody

[2019-08-21 08:18] matks commented on #15178
@maofree thanks for the great and reliable feedback (as always !) 😉 , we're going to explore this fast

[2019-08-21 08:27] matteolavaggi commented on #9557
Its not related to this issue, but i've search around all the classes, controller and helper with no luck:

Where we can found the code that set the number of page shown and rendered in the pagination block?

Now we have a total of 8 link

Prev, 4 page, spacer, 1 page, Next

I'm tring to find a way to disable the truncate function and render all the page link in the UL foreach loop.

Thanks

[2019-08-21 08:38] maofree commented on #15178
with this theme I don't reproduce this error
https://allarmiwireless.net/shop/kit-videosorveglianza-ahd/225-67-kit-videosorveglianza-ahd-4-canali-1080p-4-telecamere-2mpx-ir-30-mt.html

[2019-08-21 08:51] khouloudbelguith commented on #15178
Hi @maofree,

I tried with PS1.7.6.0 & the default theme classic & it is OK
I attached a sreen record
https://drive.google.com/file/d/1braJLZ4eDChE694no5nxozmdlre1xikU/view
Thanks to check & feedback.

[2019-08-21 09:00] khouloudbelguith commented on #15178
@maofree, I checked with the Luxury theme & it is OK
https://drive.google.com/file/d/1L1OvGFHIo4BOPOJsq4dKXeXL9uk0vCa1/view
Thanks!

[2019-08-21 09:09] maofree commented on #15178
Hi
the problem is not on the add to cart button but on the main product image
try to select a combination then push on the main image

[2019-08-21 09:22] khouloudbelguith commented on #15178
@maofree, thanks for your feedback.
I followed these etps & it is OK
https://drive.google.com/file/d/1G8tqO6r8373jzzoMEcU7Y-Ms5ePDZCKo/view
Thanks to check & feedback.