[2021-03-24 15:39] nfacciolo commented on #20505
find out in two ps modules each time services are needed in display hook, the module uses `SymfonyContainer::getInstance();`

In ps_mbo version 2.0.1 file ps_mbo.php:

    /**
     * Override of native function to always retrieve Symfony container instead of legacy admin container on legacy context.
     *
     * {@inheritdoc}
     */
    public function get($serviceName)
    {
        if (null ==

[2021-03-24 15:57] khouloudbelguith opened #23757 "FO - Checkout page - the cart rule is not removed when change address & we click continue"
#### Describe the bug

Related to https://github.com/PrestaShop/PrestaShop/issues/25481
In the FO > Checkout page > we select Unselected countries for a cart rule & we click continue => the art rule is still displayed & not removed until we click continue again

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Enable France & United states countries
1. Go to BO > Catalog > Discounts p

[2021-03-24 16:04] NeOMakinG opened #23759 "The project uses #fff a lot of times instead of the $white var"
#### Describe the bug

Legacy developers were using #fff variables everywhere instead of using the $white variable which is way more maintainable

#### Expected behavior

Using $white everytime you need the white color

####
No need to reproduce, it's mainly a dev thing

* PrestaShop version: develop

[2021-03-24 16:23] hibatallahAouadni commented on #23720
Hello @merick2158

Could you please check this issue #13392 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-24 16:49] matks opened #23761 "[New Translation storage component] Introduce structure for new component with one Provider and one factory"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

This item aims to introduce the structure for the new component with one Provider and one factory. This new component will replace old component.

[2021-03-24 16:49] #23761 closed, assigned to sowbiba

[2021-03-24 16:49] matks commented on #23761
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23043

[2021-03-24 16:49] #22867 closed, assigned to Hlavtox

[2021-03-24 16:50] matks opened #23762 "[New Translation storage component] Introduce Providers for all types of catalogs for new component"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

This item aims to introduce Providers for all types of catalogs (module, catalog, core, legacy...) for new component

[2021-03-24 16:51] matks commented on #23762
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23296

[2021-03-24 16:51] #23762 closed, assigned to sowbiba

[2021-03-24 16:51] HartLarsson commented on #23324
yes is due to the same problem... thanks!

[2021-03-24 16:53] matks opened #23763 "[Refactoring of Translation storage component] Plug Translation BO Interface on new Storage component"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

This item aims to plug the BO interface on the new component. The new component behavior is expected to fix many bugs in the translation interface of the BO

[2021-03-24 16:54] matks commented on #23763
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/23696

[2021-03-24 16:56] matks opened #23764 "[Refactoring of Translation storage component] Restore initial component unmodified"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

This item aims to restore current Translation component as it was before the project started, as it was mistakenly modified.

[2021-03-24 16:59] matks opened #23765 "[Refactoring of Translation storage component] Caching system for ThemeExtractor"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

This item aims to enable a caching system for the ThemeExtractor

[2021-03-24 17:00] hibatallahAouadni commented on #23753
Hello @khouloudbelguith

I was able to reproduce the issue with PS1.7.4.1 and PS1.7.5.1, I can't access to the FO and a lot of BO pages as **Catalog>Attributes&Features**, **Advanced Parameters>Multistore**, ...
Cause, the url is missing and the system call only admin-dev/.... without the domain

Thanks!

[2021-03-24 17:01] matks opened #23766 "[Refactoring of Translation storage component] Fix Theme export"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

This item aims to fix the theme export feature using the new Translation component.

**This should fix the bug https://github.com/PrestaShop/PrestaShop/issues/16555*

[2021-03-24 17:04] hibatallahAouadni commented on #23324
Duplicate of #22880

[2021-03-24 17:10] hibatallahAouadni commented on #23726
Hello @guigplt

I reproduce the issue with PS1.7.6.5 (FacetedSearch v3.7.0 & v3.7.1) but I didn't manage to reproduce the issue with PS1.7.7.2.
See the attached screen record below:

https://drive.google.com/file/d/1B7e-wjSKOmDM0kjzZ7yxqfP5VFLM9-O4/view

I think the problem is related with module compatibility with PrestaShop version.
Ping @PrestaShop/prestashop-core-developers what we should do?

[2021-03-24 17:11] matks opened #23767 "[Refactoring of Translation storage component] Cleaning old component, mapping dependencies to old component"
This issue is an item in the [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/19242).

Following the delivery of the new component, we will have two translations component: the old and the new.

The old is still being used in some areas of PrestaShop.

[2021-03-24 17:20] hibatallahAouadni commented on #23724
Hello @maniot

Even when I enable the multistore and create an order with discounted product, generating the invoice and downloading it with the icon, still can't reproduce your issue.

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module or override problem.

We will close this i

[2021-03-24 17:20] #23724 closed, assigned to nobody

[2021-03-24 17:24] hugolin69 opened #23768 "Shipping amount Error when using Currencies"
#### Describe the bug

When having 2 currencies in a multistore, with a conversion rate for the secondary currency, sometimes, the amount for carrier is incorrect in the ps_orders and ps_orders_carrier table, but is correct in the ps_orders_invoice.

#### Expected behavior

Shipping amount should be the same everywhere, and should be in the currency of the order.

#### Steps to Reproduce

I can no

[2021-03-24 17:28] hibatallahAouadni commented on #23656
Hello everyone,

After discussing this issue with @matks on Slack, we decide to put the label **`To Do`** for this issue.
@grzegorzgit & @Hlavtox  could you please submit a PR :pray:

Thanks in advance.

[2021-03-24 17:28] khouloudbelguith commented on #18072
Hi!

This issue is still reproduced with PS1773build1 & PS1769.
Steps to reproduce the issue:
0. Enable France & United states countries in the BO > International > Location > Countries page
1. Go to FO  > Sign in with John Doe
2. Add a product to the cart
3. Click on Proceed to checkout
4. In the Address step: Edit the **country** from France to "United States"
5. Click "Save"
6. Click on the "Ad

[2021-03-24 17:33] bmcarvalho commented on #23588
Went back for last backup and all running withouth error
today after updating ps metrics modules all started again

Protect vendor folder in module ps_metrics
Erro 127 internal server error
Erro (3) | [PS_METRICS] Unable to decode Json

unistalled PS metrics module and no more errors.

Any suggestion ?

[2021-03-24 17:44] Hlavtox commented on #23656
@hibatallahAouadni No need for a PR, I think the extension points are already there.

And same as us, european merchants must implement taxes ourselves, as does @grzegorzgit... :-)

[2021-03-24 17:51] hibatallahAouadni commented on #23712
Hello @logosur

I upgraded my shop 1.6.1.20 to 1.7.7.2 (with multistore enabled) and the only issue I enounter is #23652
And yes I can't not access to the default shop FO but I can access to the second shop FO.

Here's my screenshot below:

![image](https://user-images.githubusercontent.com/23308427/112359789-edc38780-8cd1-11eb-8bed-0f880625638e.png)

Please check and feedback.
Thanks!

[2021-03-24 18:00] hibatallahAouadni commented on #20068
Hello @Xionoxid

As I mentioned above I didn't manage to reproduce the issue with ps_emailalerts v2.2.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/112360995-3760a200-8cd3-11eb-9afb-d2f9c0fe110c.png)

So, I close this issue :wink:
Thanks!

[2021-03-24 18:00] #20068 closed, assigned to nobody

[2021-03-24 18:05] hibatallahAouadni commented on #20252
Hello @grafeco

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16551.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-24 18:05] #20252 closed, assigned to nobody

[2021-03-24 18:05] hibatallahAouadni commented on #20252
Duplicate of #16551

[2021-03-24 18:20] hibatallahAouadni commented on #23729
Ping @florine2623 could you please try to reproduce the issue :pray:
Thanks in advance.

[2021-03-24 18:21] hibatallahAouadni commented on #23686
Ping @florine2623 @dpodwaln already edit his issue description :wink:
So could you please try to reproduce the issue :pray:

Thanks in advance.

[2021-03-24 18:55] jf-viguier commented on #17158
@matks
- Adding columns in an object model doesn't break Prestashop upgrades
- Adding columns in an object model should be in the design like in Magento, it's a very common task : ok, there is no subtitle in category model : I want a simple way to do this and have this data in front.
- Ok for isolating the core and not allowing behavior changes but after having fixed cart rules and cart calculatio

[2021-03-24 19:02] logosur commented on #23712
Hello,

Thank you very much for this screenshot. I can see that you even haven't any 'index' route. At my side, if I remove the index route within friendly-url page and even the module routes, it doesn't work too for homepage...

Still thinking about it.

![image](https://user-images.githubusercontent.com/22943974/112368826-ca053f00-8cdb-11eb-82b7-43025252a0c3.png)

Regards.

[2021-03-24 19:52] logosur commented on #23712
Please unfold the first "category_rule" array and take a new screeenshot.
Also it may help if you make another dump($this->routes);  at classes/Dispatcher:1052 line

![image](https://user-images.githubusercontent.com/22943974/112374784-cf19bc80-8ce2-11eb-8609-6ce536895a5f.png)

Just to see the final order and where is finally placed the 'index' route.

[2021-03-24 21:55] TecnoHands commented on #23708
If anyone like to uninstall it in prestashop 1.7.7.2
1. Delete the directory ps_dataprivacy from /modules/
2. Search in the database %dataprivacy and delete from all tables where this appears

I deleting it with this metodology and don't found problems after delete it

[2021-03-24 22:03] ChineseNorris commented on #23745
Hello @hibatallahAouadni

Yes! That's the idea, how can I help to make this happen?

[2021-03-24 22:38] TecnoHands opened #23769 "Module Visit origin doesn't work Presta 1.7.7.2"
#### Describe the bug

The module say doesn't configuration needed but I simulate a visit from the facebook shared link and don't count it

#### Expected behavior
Count the page referenced

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install clean prestashop 1.7.7.2
2. Share a link to another web
3. Clic in the link
4. See error

#### Additional information

* PrestaShop version:

[2021-03-25 02:33] go-sudo opened #23770 "Jquery Issue after upgrading PS from 1.7.6.9 to 1.7.7.2"
Hello
i need you help please for this issue
I upgraded my prestashop from 1.7.6.9 to 1.7.7.2 using 1-Click Upgrade 4.11.0 and I disabled all thirdy modules but i can't switch the presta default theme because i get this error in screenshot also I get white page with codes when I disable modules

**Screenshots**
![image](https://user-images.githubusercontent.com/11594433/112409244-70bc0080-8d19-11eb

[2021-03-25 07:32] 8i11y commented on #23286
@hibatallahAouadni, did you have a look at my screenshot ? You have to upload a custom image for one of the reassurances to reproduce the issue.

[2021-03-25 07:43] gorkau opened #23771 "Faceted Search not displaying products correctly when filtering by price"
#### Describe the bug

We have the prices set as follows:

- Product price is set to 0.
- Products have combinations. The price is set in the combination.
- Discounts are set using specific prices for the combinations.

The product listing price is set to display 12 products on each page.

When you filter by prices some of the pages display fewer than 12 products.

#### Expected behavior

12 produ

[2021-03-25 07:45] letwang commented on #20835
6666

[2021-03-25 07:50] hibatallahAouadni commented on #23286
Ping @8i11y without upgrading your shop from 1.7.6.8 to 1.7.7.2?

[2021-03-25 08:05] Progi1984 commented on #17158
@jf-viguier I disagree : Imagine, you add a field type in a column with a specific type. Ok that works for your version. But an upgrade add this same column but with a different type : upgrade will be broken ! Isn't it ?

[2021-03-25 08:11] herverenault opened #23772 "[minor] Extra templates vars missing in call of validateOrder from BO"
#### Describe the bug

Parameter $extra_vars is an empty array. As a result, in the mail sent to customer, the placeholders check_name and check_address_html are left as is.

#### Expected behavior

I have no idea how to fix, at the moment, sorry.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO>SELL>Order>Order
2. Create an order
3. Assign **cheque payment** as a **payment

[2021-03-25 08:34] grzegorzgit commented on #23656
Thank you @hibatallahAouadni for adding this to the Hooks issues topic.
@Hlavtox I am not sure if I understand you correctly, but if you mean that there are some modules that manage tax, then I'd say that his is very basic, super basic function of the store to mark a client as "tax exempt". If Prestashop doesn't offer it, then it is already a bad sign for its users, but there is also no hook to do

[2021-03-25 08:52] florine2623 commented on #23768
Hello @hugolin69 ,

Following your steps with an order using GBP, I can't reproduce your issue :
![Capture d’écran 2021-03-25 à 09 49 37](https://user-images.githubusercontent.com/16019289/112445548-89470d80-8d4f-11eb-85ed-b34fad983b59.png)
In database :
![Capture d’écran 2021-03-25 à 09 49 46](https://user-images.githubusercontent.com/16019289/112445579-9532cf80-8d4f-11eb-92cf-d194c84a05dc.pn

[2021-03-25 08:52] #23768 closed, assigned to nobody

[2021-03-25 08:58] florine2623 commented on #23772
Hello @herverenault ,

Which version of PrestaShop is affected ?

Thanks!

[2021-03-25 09:00] herverenault commented on #23772
Oops, forgot to mention I'm running 1.7.7.1

[2021-03-25 09:01] lmeyer1 commented on #23192
Thanks, I will try to understand it. This DI and indirection is really very very tough! In PS, there was one class for each entity and for each controller, a simple architecture. Now in PS 1.7, there are hosts of classe in addition: an adapter, a wrapper, two providers, ten interfaces and three factories. Difficult to see the big picture.

Just a simple question : what is the immense benefit from

[2021-03-25 09:04] yannicka opened #23773 "Faceted Search: a heavy SQL query slows down the website"
#### Describe the bug
I have the "Faceted Search" (version 3.7.0) module enabled and it seems to slow down the website.
Since there is a lot of data, the execution time is not necessarily surprising. However, every request on the website seems to repeat this SQL query, which with heavy traffic tends to overload the server's CPU.
The module's caching system is enabled, but that doesn't seem to chan

[2021-03-25 09:16] florine2623 commented on #23771
Hello @gorkau ,
I can't reproduce your issue in PS 1.7.7.2, using ps_faceted_search v3.7.1.

Product price is 0 and Specific Price is like the following :
![Capture d’écran 2021-03-25 à 10 06 12](https://user-images.githubusercontent.com/16019289/112447657-daf09780-8d51-11eb-90b9-3d03a28ddbe0.png)
![Capture d’écran 2021-03-25 à 10 09 51](https://user-images.githubusercontent.com/16019289/11244

[2021-03-25 09:16] #23771 closed, assigned to nobody

[2021-03-25 09:22] hibatallahAouadni commented on #23745
Hello @ChineseNorris

Thanks for your feedback and your suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , do you think it's a good idea to assign for each option a different email (employee)?

PS: Ping @matks I couldn't find the doc "How to contribute / create a PR", could you please attach the link for @ChineseNorris to create a PR :pray: Thanks i

[2021-03-25 09:24] mkdgs commented on #9941
I confirm this bug

@hibatallahAouadni  for reproducing this issue:
1 - configure 2 store
2 - make a child theme (of classic theme)
3 - add custom hok in theme.yml like:
[code]
4 - activate the theme on **store n°1**
5 - go to appearance > positions
6 - search the custom hook (eg: displayHomeCaroussel)
everything is ok, you can see the the custom hook
7 - activate the theme on **store n°2**
5 - go

[2021-03-25 09:32] matks commented on #17158
@jf-viguier Adding new columns in an object model means changing the data structure. Let's say I add a new field `wholesale_price_x2`. It's supposed to be the same value as `wholesale_price` but multiplied by 2.

Then in PS 1.7.9 we want to split `wholesale_price` into 2 different fields: `wholesale_price_value` and `wholesale_price_currency` because we want to enable the use of different currenci

[2021-03-25 09:33] hibatallahAouadni commented on #23772
Hello @herverenault

Please next time **respect and follow the provided template to submit a complete bug report**.
I just edit your issue, so please fill the blanks and specify the error that you encountered and the expected behavior.
Please check and feedback.

Thanks!

[2021-03-25 09:33] matks commented on #23745
https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/

Very happy to see you motivated 😊 @ChineseNorris

[2021-03-25 09:42] gorkau commented on #23771
We have discovered that adding these lines to modules/ps_facetedsearch/src/Adapter at line 503 (in our version) fixes the problem in our case:

[code]

[2021-03-25 09:45] florine2623 commented on #23770
Hello @go-sudo ,

I can't reproduce your issue.
I upgrade my store from PS 1.7.6.9 to 1.7.7.2 successfully :
![Capture d’écran 2021-03-25 à 10 41 25](https://user-images.githubusercontent.com/16019289/112452249-b64aee80-8d56-11eb-8466-f0d60e24bb0c.png)

In Appearance > Theme & Logo > Theme :
![Capture d’écran 2021-03-25 à 10 35 53](https://user-images.githubusercontent.com/16019289/112452122-9

[2021-03-25 09:45] #23770 closed, assigned to nobody

[2021-03-25 09:48] gorkau commented on #23771
This ticket should not be closed **as the problem can be reproduced in your own demo**:

https://demo.prestashop.com/#/en/front

Go to chothes and filter "more than 27":

![imagen](https://user-images.githubusercontent.com/19814346/112453044-2ce3ee00-8d4f-11eb-912d-df8095026657.png)

You will see a product.
Now filter "less than 43" and the product dissapears:

![imagen](https://user-images.github

[2021-03-25 09:50] go-sudo commented on #23770
Hello @florine2623

I appreciate your help , can I restore my previous backup and try again but what you suggest I do before upgrading again my PS

Regards

[2021-03-25 10:29] PierreRambaud commented on #23726
Yes you can put this in To Do, I'm still convinced we have to make this module compatible with older version because it's really important for the front office.

[2021-03-25 10:35] florine2623 commented on #23729
Hello @akaeu ,

After upgrading my test shop from PS 1.7.2.4 to PS 1.7.7.2 with one-click upgrade v4.12.0 :
![Capture d’écran 2021-03-25 à 11 33 25](https://user-images.githubusercontent.com/16019289/112459280-f3ff4580-8d5d-11eb-9b23-cd2e25a8bad8.png)

I logged in with no issue :
https://drive.google.com/file/d/1kXBGYNX2p_bUM9qIFlxTqyNQ5XZPpVoZ/view

Despite our efforts, we were not able to repr

[2021-03-25 10:35] #23729 closed, assigned to nobody

[2021-03-25 10:38] Hlavtox commented on #23656
@grzegorzgit It's not possible to just "modify" the cart. The cart is a living entity that gets calculated every time you load it. And it even sometimes get recalculated every time you touch it.

Disabling tax on a specific customer is a specific need that 99% merchants won't need. BUT, again, look at my comment: https://github.com/PrestaShop/PrestaShop/issues/23656#issuecomment-803974841.

- Make

[2021-03-25 10:42] florine2623 commented on #23588
Hello @bmcarvalho ,

I can't reproduce your issue. I tried upgrading from 1.7.2.4 to 1.7.7.2.
![Capture d’écran 2021-03-25 à 11 40 44](https://user-images.githubusercontent.com/16019289/112460207-f1512000-8d5e-11eb-8c9e-15dcee0d376c.png)

If you have an issue with PS Metrics, you should contact PS Metrics Support directly.

Despite our efforts, we were not able to reproduce your issue with the p

[2021-03-25 10:42] #23588 closed, assigned to matks

[2021-03-25 10:42] PierreRambaud commented on #12984
Yes this is what I thought when we will use the standard Symfony structure, it will be easier :)

[2021-03-25 11:00] Hlavtox commented on #23656
@grzegorzgit Try this. Change ID customer as needed VATNumberTaxManager.php. You can finish the rest on your own. :-P
[tox_customervat.zip](https://github.com/PrestaShop/PrestaShop/files/6204087/tox_customervat.zip)

[2021-03-25 11:06] florine2623 commented on #23737
Hello @dutyhook ,

I followed your steps. I tried with 2 languages.
Are you talking about this below ?
![Capture d’écran 2021-03-25 à 12 01 42](https://user-images.githubusercontent.com/16019289/112463314-5fe3ad00-8d62-11eb-9b01-00a9c77d37e8.png)
![Capture d’écran 2021-03-25 à 12 01 52](https://user-images.githubusercontent.com/16019289/112463319-6114da00-8d62-11eb-9a10-87661d8d9e16.png)
![Cap

[2021-03-25 11:08] dutyhook commented on #23737
Yes, this is it.

[2021-03-25 11:17] #19524 closed, assigned to nobody

[2021-03-25 11:30] ppisecky opened #23774 "Flashing long messages of different types causes the last type to override the previous ones"
#### Describe the bug

When trying to flash multiple messages of different types (`error` , `success`) the output of the last message will override the previous message. I have observed this behavior in a custom controller when trying to handle a bulk action. In my scenario the action was applicable to some records but not to others and I wanted to notify the user of the outcome per each selected

[2021-03-25 11:48] grzegorzgit commented on #23656
@Hlavtox Thanks, "cart is a living entity that gets calculated every time you load it"  - this explains much.
Thank you, later I will try your solution.

[2021-03-25 11:54] PululuK opened #23775 "Enable to back to shop in admin login page"
## Is your feature request related to a problem?

when you arrive on the admin page by mistake, it will be interesting to have the possibility of coming back to the site (this often happens for administrators.)

## Describe the solution you'd like

Enable to back to shop in admin login page.
Only the “back to my shop” will be changed and placed on the top left corner of the page:

![image](https:/

[2021-03-25 12:27] jorr-it opened #23777 "API gives 400/SQL error when uploading new image to existing product"
#### Describe the bug

When I would try to upload (add) new images to an **existing** product having **existing** images using the API, it will return an error:

[code]

It sounds fair that a product can only use one image at a time as a cover. The problem is that I don't see any possibility in the API to manage which image will become the product cover.

#### Expected behavior

a) The API decides

[2021-03-25 12:53] MatShir commented on #23775
Good idea 👍
@prestascott What do you think of the @PululuK design ?

[2021-03-25 13:37] florine2623 commented on #23733
Hello @jf-viguier ,

Thanks for the report, I manage to reproduce your issue in develop back to 1.7.6.0.
This is a regression.
It worked correctly in PS 1.7.5.2 :
Before logo change :
![Capture d’écran 2021-03-25 à 14 25 53](https://user-images.githubusercontent.com/16019289/112481632-806a3200-8d77-11eb-9894-abe7b0364d5e.png)
After the logo change :
![Capture d’écran 2021-03-25 à 14 36 07](htt

[2021-03-25 13:46] florine2623 commented on #23769
Hello @TecnoHands ,

I can't reproduce your issue on my test shop :
![Capture d’écran 2021-03-25 à 14 43 52](https://user-images.githubusercontent.com/16019289/112482839-c1167b00-8d78-11eb-9a28-a0766513de42.png)

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration

[2021-03-25 13:46] #23769 closed, assigned to nobody

[2021-03-25 13:59] matks commented on #12984
Marked as `To Do`

[2021-03-25 14:01] hibatallahAouadni commented on #21999
Ping @marionf as you can see in my last comment:

https://drive.google.com/file/d/1iyD-b5Ii9iTT2QUanL8xuukcqCCeIGWz/view

So, what's the issue status? is it **`To Do`**?
Ping @dariusakafest could you please check my screen record with PS1.7.7.1 and check if the issue still persist or no?
Please check and feedback.

Thanks!

[2021-03-25 14:05] diegodp-zz opened #23779 "I am getting this problem, trying to install it from softaculous. Unable to generate new_cookie_key"
problem - Unable to generate new_cookie_key, hence can not install Prestashop 1.7
I think is a database problem.. I have already tried to install manually, with no success, because i can't set up database, can't connect. I using hostgator.

[2021-03-25 14:41] marionf commented on #23514
I am not in favor of integrating this feature on the category page, it's a duplicate of the feature in the monitoring page where it is already possible to see and delete empty categories

![capture d'écran_3004](https://user-images.githubusercontent.com/13449658/112491069-3c2f5f80-8d80-11eb-9a29-5ca238ed1000.png)

[2021-03-25 14:42] marionf commented on #23514
@PululuK

Did you know about this feature on monitoring page ?

[2021-03-25 14:43] florine2623 commented on #23779
Hello @diegodp-zz ,
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2021-03-25 14:43] #23779 closed, assigned to nobody

[2021-03-25 15:04] florine2623 commented on #23686
Hello @dpodwaln ,

I created a child template on my test shop. It is working as expected :
![Capture d’écran 2021-03-25 à 16 03 56](https://user-images.githubusercontent.com/16019289/112494937-b7dedb80-8d83-11eb-8d62-bee7b297e98e.png)

The assets from the parent theme are automatically taken into account, the JS and CSS file from the child theme are for overrides.

Am I missing something ?
Do yo

[2021-03-25 15:10] florine2623 commented on #23773
hello @yannicka ,
Your issue is similar to https://github.com/PrestaShop/PrestaShop/issues/19095 ?
Can you confirm ?

Thanks!

[2021-03-25 15:17] florine2623 commented on #23737
I was able to reproduce the issue with PrestaShop version 1.7.7.2.
Bank transfer -> v2.1.0
Payments by check -> v2.0.5

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-03-25 15:52] florine2623 commented on #23774
Hello @ppisecky ,

Thanks for the report.
Let me ping the dev team !
please stay tuned.

[2021-03-25 15:54] florine2623 commented on #23774
Ping @PrestaShop/prestashop-core-developers ,

By adding
[code]
only the messages sould be displayed, not the Read More Block.

Can this be changed/overriden in JS files ? If so, how ?

Thanks !

[2021-03-25 16:02] yannicka commented on #23773
My problem is not the same. The problem I mentioned occurs when the product is saved, whereas mine seems to occur when the faceted navigation is generated.

[2021-03-25 16:11] ppisecky commented on #23774
Just to be clear: I'm not necessarily saying that I wouldn't want the Read More block displayed but with the current implementation:

- [bug] The various message types will have their message contents replaced by each other if they are longer than 5 lines (probably because the core JS is trying to wrap the message text in an element but ends up replacing the text contents of all message elements t

[2021-03-25 16:11] hibatallahAouadni commented on #15194
Hello @khouloudbelguith

I didn't manage to reproduce this issue with **1-Click upgrade** v4.12.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/112504793-6c7cfb00-8d8c-11eb-9493-e5ab166b2554.png)

Please check and feedback.
Thanks!

[2021-03-25 16:17] jf-viguier commented on #17158
Thanks @matks for the answer. We'll have to charge more the merchants.

[2021-03-25 16:24] matks commented on #17158
I'm not sure.

If you charge the merchant only the features, yes. Because the same feature, to be implemented might be more expensive to develop without overrides.

But once again you have to look at the full period. If you can setup a 1.7.7 shop for 30.000€ but then when the time to upgrade to PS 1.7.9 you have to charge again 20.000€ because the upgrade process fails and there is a lot of bugfix

[2021-03-25 16:28] hibatallahAouadni commented on #17496
This issue still persist with PS1.7.7.3_build1

[2021-03-25 16:33] hibatallahAouadni commented on #18838
This issue still persist with PS1.7.7.3_build1

[2021-03-25 16:34] florine2623 commented on #23686
Yes this line is uncommented. My file looks like this :
![Capture d’écran 2021-03-25 à 17 12 39](https://user-images.githubusercontent.com/16019289/112505742-5de31380-8d8d-11eb-90d4-5e6e7e1da026.png)
[theme.yml.zip](https://github.com/PrestaShop/PrestaShop/files/6206205/theme.yml.zip)

No any js css files in child one.
-> I used the classic template from PrestaShop fresh install, no change made

[2021-03-25 16:38] hibatallahAouadni commented on #16555
This issue still persist with PS1.7.7.3_build1

[2021-03-25 16:41] marionf commented on #23504
Nice feature idea @PululuK
I agree with @prestascott, I think it's better to display the version and the author next to the module's name :)

[2021-03-25 16:53] matks commented on #17158
Also @jf-viguier, again I insist on one thing:

**If you really want to modify a ObjectModel, you can simply modify the Core file**. I cannot prevent you from doing it 😄  the code is on your server. You are the only captain aboard. ⛵

One day we aim to replace ObjectModel by [Doctrine](https://www.doctrine-project.org/). The principle behind is similar. If you want to extend a data structure contr

[2021-03-25 16:59] matks commented on #16555
Yes, it has been postponed to 1.7.8 https://github.com/PrestaShop/PrestaShop/issues/23766

[2021-03-25 17:05] marionf commented on #18838
@hibatallahAouadni yes, it wasn't supposed to be fixed in 1.7.7.3 ;)

[2021-03-25 17:06] kpodemski commented on #17158
Hey @jf-viguier

You don't need to modify SQL queries, every place in PrestaShop is using `getProductProperties` where proper hooks are available, of course this would create n+1 issue but it's something to discuss in the future, `pl.*` is not an answer here.

[2021-03-25 19:38] merick2158 commented on #23720
Hi @hibatallahAouadni

I checked the link but can't find any solution. Modules works, can't edit translations of all modules. Is there any solution?

[2021-03-26 03:46] z72diego opened #23782 "Could not find the product in cart, meaning Order and Cart are out of sync"
After upgrading with 1-click upgrade (and finished with 0 errors) from 1.7.6.x to 1.7.7.2, an Error 500 it's displayed when trying to edit some old orders (not all of them). Post-upgrade orders do not appear to have this problem.

ie. 1) delete a discount already applied in an order, or add a new one.
ie. 2) return products.
ie. 3) partial refund.

In all cases, this error 500 it's triggered:

Unc

[2021-03-26 08:56] florine2623 commented on #23782
Hello @z72diego ,

After a successful upgrade from 1.7.6.9 to 1.7.7.2, I didn't reproduce your issue.
![Capture d’écran 2021-03-25 à 10 21 31](https://user-images.githubusercontent.com/16019289/112604037-06d55100-8e16-11eb-8dbe-c244088cb2b4.png)

Please check below.
https://drive.google.com/file/d/1noAirlTjHFTbEGkR8znTlVgQgfuFdGSb/view
https://drive.google.com/file/d/1IlQ8X7ie9S94uYIkgzI_x7iS9lN

[2021-03-26 08:56] #23782 closed, assigned to nobody

[2021-03-26 09:13] z72diego commented on #23782
Please, can you try if the error appears after using the PrestaShop Cleaning Module?

![image](https://user-images.githubusercontent.com/4184726/112609510-5c036980-8dfa-11eb-8b50-01c116d762be.png)

[2021-03-26 09:44] hugolin69 commented on #23768
Hi,
I think I found a first information to reproduce. But I can not always reproduce.
I am in a multistore.
Main shop is EUR only.
Secondary shop is EUR + GBP.

I think the fact that the main shop is only 1 currency, can cause sometimes this problem.
Because when working in All Shops context, it do not find GBP.
Maybe some works made by tiers module could reach a problem with that.

I am not sure,

[2021-03-26 09:51] florine2623 commented on #23777
Hello @jorr-it ,

PHP 7.3 is not compatible with 1.7.6.4, could you re-do the steps with correct version of PHP ?
You will find here the chart compatibility : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks

[2021-03-26 09:56] gennaris opened #23784 "Confusing / wrong order history table when customer group have no-tax display, but order have taxes"
#### Describe the bug

The summary table in the order history shows the data in a confused/erratic way if the customer group does have "tax excluded" price display , but the order have taxes and they are shown in the cart.

#### Expected behavior

Taxes should be in a separate line, and not mixed in the order summary, or some labeling would be required to let customer understand prices are tax exc

[2021-03-26 10:07] prestascott commented on #23775
Hey everyone,

Thanks @PululuK, can you develop why administrators are often brought to this login page please?

In fact, this is a great feature and it would avoid them to re-type their logs to reconnect. Thanks!

I suggest to place the "Back to My Shop Name" link on the top left corner of the page since it's more identifiable.
Also because users will tend to look there when they want to go back

[2021-03-26 11:08] florine2623 commented on #23784
Hi @gennaris ,

If you disable this option :
![Capture d’écran 2021-03-26 à 12 07 36](https://user-images.githubusercontent.com/16019289/112622829-de585180-8e2b-11eb-9b6c-9e17fee5d309.png)

There will be no extra tax line in the order summary :
![Capture d’écran 2021-03-26 à 12 00 55](https://user-images.githubusercontent.com/16019289/112622867-ed3f0400-8e2b-11eb-9580-cf93f920be73.png)

Can yo

[2021-03-26 11:18] gennaris commented on #23784
Hi @florine2623 ,
yes I am aware of this - but it is not a solution here for my customer
as disabling tax display on cart will hide the taxes for **all** customer groups,  even the one who have tax included price display.

I am fine with the actual configuration, but if Prestashop allow it, it must be shown in a understandable way also to front office.

[2021-03-26 11:38] gennaris commented on #23453
Hi @hibatallahAouadni ,
sorry for late reply.
I have tried the same webservice call with Postman and I got the same result that I reported when opening this issue (missing stock movement).
I do not know why we get two different results and how else to support further verifications here.
If you think it can provide more details to investigate the problem let me know.

[2021-03-26 13:12] florine2623 commented on #23784
If you are suggesting an improvement, could you send screenshots of what you would like to see ?
It will be discussed with the product team.

Thanks !

[2021-03-26 13:15] matks commented on #23774
Hello ! Thanks for the very detailed bug report @ppisecky I think this is a bug as explained.

The function `initAlert()` is being defined in `PrestaShop UI Kit` https://github.com/PrestaShop/prestashop-ui-kit/

We could fix the issue in next version of the UI Kit ping @NeOMakinG

https://github.com/PrestaShop/prestashop-ui-kit/blob/develop/js/prestashop-ui-kit.js#L82

[2021-03-26 13:17] florine2623 commented on #23720
The issue #13392 is already in debug roadmap, yours is similar. in order to keep issue backlog clean, we close all issue duplicates.

In next version PS 1.7.8 it should be fixed : https://github.com/PrestaShop/PrestaShop/issues/13392#issuecomment-799521833

Thanks!

[2021-03-26 13:17] #23720 closed, assigned to nobody

[2021-03-26 13:17] florine2623 commented on #23720
Duplicate #13392

[2021-03-26 13:44] gennaris commented on #23784
Hi,
you should really add a label (tax excl.) on prices that don't have taxes, or (better IMHO) keep the taxes separate from the table so as not to make the total misleading to the customers.

[2021-03-26 13:51] MatShir commented on #20648
With a wide list taking, the full page we could add the impact on price with VAT included cf https://github.com/PrestaShop/PrestaShop/issues/21248

[2021-03-26 13:58] marionf opened #23785 "Multistore - Issues when a shop without URL is selected as context"
#### Describe the bug

Following [the comment](https://github.com/PrestaShop/PrestaShop/pull/23292#issuecomment-808203554) of @Robin-Fischer-PS

When a store without URL is selected as context the following issues appears:

1) On migrated pages, in the new multistore header, the "Configure URL" link redirects to the listing page with all the shops' URLs instead of redirecting to the shop URL edit

[2021-03-26 14:17] #19300 closed, assigned to matthieu-rolland, NeOMakinG

[2021-03-26 14:32] aDamelincourt commented on #20892
I manage to reproduce this issue with PrestaShop 1.7.7.3 build 1 and Gamification v2.3.2
![image](https://user-images.githubusercontent.com/79843007/112646778-21c0b900-8e48-11eb-855d-a8d0f80737a5.png)

[2021-03-26 14:33] olecorre opened #23787 "Add a hook 'actionValidateOrderAfter', This hook is called after the complete creation of an order"
#### Is your feature request related to a problem?

When an order is created, several modules can be called by the validateOrder hook or other hooks.
There are very often problems and an order is not completely created, no status, no confirmation email sent etc... the reasons can be multiple, poorly developed module, unexpected error, call to an api that does not respond.
Linking PrestaShop to an

[2021-03-26 14:36] marionf commented on #20892
Hello @aDamelincourt

I think it's normal that you have the issue with PrestaShop 1.7.7.3 build 1 and Gamification v2.3.2 as it has been fixed in the version 2.3.3 of gamification module: https://github.com/PrestaShop/gamification/pull/78 that isn't yet released

[2021-03-26 14:39] marionf commented on #20892
Fixed by https://github.com/PrestaShop/gamification/pull/78

[2021-03-26 14:40] #20892 closed, assigned to nobody

[2021-03-26 14:42] florine2623 commented on #23787
Hello @olecorre ,

Thanks for the suggestion and PR.

Can you follow the issue report, so we can test the issue properly :
![Capture d’écran 2021-03-26 à 15 42 04](https://user-images.githubusercontent.com/16019289/112648438-d3141e80-8e49-11eb-8672-60eec7e07283.png)

Thanks!

[2021-03-26 15:09] go-sudo opened #23790 "Issue upgrade from 1.7.6.9 to 1.7.7.2"
Hello

I need your help please to detect which module or plugin are causing this conflicts , i can't change from default theme to new one

- Disable All Modules : Done
- Disable CloudFlare : Done
- Switch to default theme : Done
- Disable Cache : Done
- Disable non PrestaShop modules YES
- Disable all overrides YES
- 1-Click Upgrade : upgraded to v4.12.0 - by PrestaShop

#### Describe the bug

[co

[2021-03-26 15:15] PululuK opened #23791 "Validate::isArrayWithIds method issue"
## Describe the bug

The method `Validate::isArrayWithIds` return `true` when array is empty instead of  `false`.

## Expected behavior

The method should return `false` when `$ids` param is empty

## Steps to Reproduce

- Create `issue_23791.php` file in you root dir and put the following code

[code]
- Call `https://mytesstsite.com/issue_23791.php`

#### Additional information

* PrestaShop vers

[2021-03-26 15:45] num47 opened #23793 "Keeping displaying "An error occurred while processing your request" while selecting Combination on product page after losing and reconnecting Internet"
#### Describe the bug

There is error message that shows "An error occurred while processing your request" on the product page while you select a combination of the product but lost internet connection. Because of the interruption with the internet connection, it can not load allotted image and other information of that combination and maybe that's why it shows the error. But, It keeps showing the

[2021-03-26 15:46] PierreRambaud commented on #23642
It's not related to the faceted search module but to all modules when clicking on this button.
It's related to this pull request #19944

[2021-03-26 15:46] #23422 closed, assigned to JevgenijVisockij

[2021-03-26 15:55] jf-viguier commented on #17158
I never do that, it's a bad practice that block upgrade process far more that overrides.

thanks for your answers.

[2021-03-26 16:36] marionf commented on #23733
Hello @florine2623 @hibatallahAouadni

It's a regression of the 1.7.6.0 ?

[2021-03-26 16:42] florine2623 commented on #23790
Hello @go-sudo ,
I can't reproduce your issue when I upgrade from 1.7.6.9 to 1.7.7.2.
https://github.com/PrestaShop/PrestaShop/issues/23770

PS 1.7.6.9 is not compatible with PHP 7.2. Please downgrade your version.

Are you using one language or more ?

[2021-03-26 16:47] florine2623 commented on #23793
Hello @num47 ,
I can't reproduce your issue with a product with combinations :
![Capture d’écran 2021-03-26 à 17 45 05](https://user-images.githubusercontent.com/16019289/112665384-4a05e300-8e5b-11eb-8dff-587c45649fb3.png)

Can you enable debug mode and re-do the steps to see what error comes up ?

Also, please make sure your server configuration is following the system requirements :
https://de

[2021-03-26 17:02] go-sudo commented on #23790
Hello @florine2623

Ok I switched to 7.2 PHP version
3 languages FR, EN,SP
![image](https://user-images.githubusercontent.com/11594433/112667286-6014a300-8e5d-11eb-9572-31ca94a4ddfd.png)

Thank you very much

Regards

[2021-03-26 17:41] num47 commented on #23793
Brother, if you want a debug report then i can give it to you. But, i think you have missed one step there while trying to reproduce the issue. First: select one combination. Then, disconnect your internet connection. then, click on the second combination. there you will see an error report is showing. Then, reconnect your internet connection. then, select any other combination of the product. You

[2021-03-26 17:51] jf-viguier commented on #23733
@marionf yes

[2021-03-26 19:24] go-sudo commented on #23790
Hello @florine2623

I disabled and kept only French language but it still the same issue , do you think that there is a duplicate duplicate version of jQuery and where or how can i check this and in which file

Regards

[2021-03-26 20:26] jorr-it commented on #23777
Just reproduced the problem with PHP 7.1 too. I will change my original post.

[2021-03-26 20:39] jorr-it commented on #23777
Sorry @florine2623, I wrote the PHP version on which I ran my code of API client. PHP version of PrestaShop installation is 7.0. I updated my original post.

[2021-03-26 23:06] cdbrkfxrpt opened #23796 "ContextErrorException on 1.7.7.2 with PHP7.3"
Hello,

I'm getting the error "ContextErrorException - Notice: Undefined offset: 1" from a PrestaShop 1.7.7.2 and I believe this is a bug somewhere in the context of PrestaShop - PHP version 7.3 - theme - else. However, I can't figure out exactly what it is / where to look.

The shop was at version 1.7.2.0 on another server with Apache, I migrated it, switched it to nginx and upgraded it to a newe

[2021-03-26 23:08] TecnoHands commented on #23769
@florine2623 This module need active the module with function to store the what pages visit the user? or it's how writed in the description and only it's needed activate the module?
Very thanks

[2021-03-27 08:01] 8i11y commented on #23286
@hibatallahAouadni yes, baseinstall of the shop was version 1.7.7.1.
To reproduce issue, just go to the prefences of the modul and upload a custom image for one of the reassurements.
Set the reassurement to be shown in the footer of each page.
Turn on DebugMode.
Refresh your shopfront ^^

[2021-03-27 08:39] Eva-F commented on #20026
I am sorry - I have written it a long time ago.. so I hope I remember it correctly.

it was only recommendation to improve the function  **displayAjaxAddressForm**

But when I wrote this issue, I didn't realize, that there is next problem with AddressForm and Ajax.
Prestashop enables to handle address via Ajax. But there is not handling "validation" part and the part where the country is changed.

[2021-03-27 12:59] camlafit commented on #23433
Hello

I'll do a new test next week.
But without this part you act as an improvement code as we remove useless/death code.

[2021-03-27 16:23] Vipmart commented on #17810
Unable to edit email translation under 'ps_emailalerts:
productoutofstock
order_changed

[2021-03-27 16:24] Vipmart commented on #14183
Unable to edit email translation under 'ps_emailalerts:
productoutofstock
order_changed

[2021-03-28 02:32] TheGera commented on #21228
data-target="#"
is in
`themes/classic/modules/ps_currencyselector/ps_currencyselector.tpl`
delete data-target="#"  and working for me

[2021-03-28 18:01] coluccini opened #23799 "[Module Faceted Navigation]: Allow adding attributes to the page meta data"
#### Is your feature request related to a problem?

For SEO purposes, having different meta title/description for every indexed pages in really important. In the latest version of the Faceted module every filtered page (that's are indexable by default) keep the same title and description of the category. Meaning that, for example, the following pages are indexed by search engines with the same tit

[2021-03-28 22:41] darkf3d3 opened #23800 "Currency page error after upgrade to 1.7.7.2"
After upgrading from PS1.7.4.2 to PS1.7.7.2 using last version on 1click upgrade module, I'm no more able to edit currencies from currencies page:
.../admin/index.php/improve/international/currencies/
The page loaded correctly, but when i click on the pencil icon next to one currency, this error page it's showed:
![Immagine 2021-03-29 003711](https://user-images.githubusercontent.com/42684711/1127

[2021-03-29 06:37] javierinnova opened #23801 "HelperList missing token in 1.7.7.x"
#### Describe the bug

When creating a new HelperList, on any action (pagination, search, ...) the backoffice shows the invalid token page. It seems that on template helpers/list/list_footer.tpl the $token variable is empty, unless you specify on helper->tpl_vars

#### Expected behavior

The normal function on helperlist, as it works on any previous version of 1.7 and 1.6, without specifying the t

[2021-03-29 09:28] hibatallahAouadni commented on #23777
Hello @jorr-it

Thanks for your feedback.
Could you please check this issue #11342 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-29 10:31] jorr-it commented on #23777
@hibatallahAouadni Thanks for your comment. Issue #11342 is something else; it is a suggestions for an improvement if the same image is uploaded twice.  My issue is about a bug if a second (different) image is uploaded to one product, after that product is updated. I refer to the four steps to reproduce that I described in the original post.

[2021-03-29 10:31] jorr-it commented on #23777
@hibatallahAouadni Thanks for your comment. Issue #11342 is something else; it is a suggestions for an improvement if the same image is uploaded twice.  My issue is about a bug if a second (different) image is uploaded to one product, after that product is updated. I refer to the four steps to reproduce that I described in the original post.

[2021-03-29 11:10] khouloudbelguith commented on #15194
Hi @hibatallahAouadni,

I manage to reproduce the issue with PS1772 and the 1-click upgrade v4.11.0.
![image](https://user-images.githubusercontent.com/16067358/112828525-16f86500-9090-11eb-9e41-5df443b1fbb7.png)

Thank you!

[2021-03-29 11:39] hibatallahAouadni commented on #23800
Hello @darfk3d3

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-03-29 11:39] #23800 closed, assigned to nobody

[2021-03-29 11:54] hibatallahAouadni commented on #23796
Hello @cdbrkfxrpt

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-03-29 11:54] #23796 closed, assigned to nobody

[2021-03-29 12:01] ChineseNorris commented on #23745
Thanks @matks , I'm going to read all the documents before creating a PR pull =)

[2021-03-29 12:03] boubkerbribri opened #23804 "[BO] Link View my shop is not displayed on Symfony pages"
#### Describe the bug

On Symfony pages, The link `View my Shop` is not displayed

#### Expected behavior

Link is always displayed on BO

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Sign in
3. Go to a symfony page (Orders for example)
4. See error => NO link on the page

**Screenshots**
![image](https://user-images.githubusercontent.com/48441421/112833807-89b90e80-90

[2021-03-29 12:28] marionf commented on #22948
@khouloudbelguith Could you please tell us if the 3 issues described are still there or if some are already corrected ?

[2021-03-29 12:37] marionf commented on #23580
Hello @hibatallahAouadni This issue isn't very clear, is it an improvement or a bug ?
Could you please udpate the title of the issue and the steps to reproduce the issue in the first comment and attach a screenrecord ?

[2021-03-29 12:59] darfk3d3 commented on #23800
Hi @hibatallahAouadni
that issue it's not like the one I'm encountering.
In my case there's no way to change currency settings because currency page show the error posted above.

To reproduce the error, after upgrading from PS1.7.4.2 to PS 1.7.7.2
1. From Back office left menu
2. Go to International >> Tax
3. Click on the pencil icon
4. At this point the error it's showed.

[2021-03-29 13:02] Robin-Fischer-PS commented on #23804
Probably linked to https://github.com/PrestaShop/PrestaShop/issues/23292

[2021-03-29 13:19] marionf commented on #22029
Waiting for https://github.com/PrestaShop/PrestaShop/pull/22228 to be merged

[2021-03-29 13:34] ldeprestashop commented on #23465
Release Note in progress : https://docs.google.com/document/d/1JRiKSvd6dFQpvsIgOhdF0AUDP7b48xDjz92M7p1ThB8/edit#

[2021-03-29 13:50] hibatallahAouadni commented on #23791
Hello @PululuK

Thanks for your issue and your PR :rocket:
I reproduced the issue with PS1.7.6.7, PS1.7.7.2 and PS1.7.7.3_build.1.
I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-03-29 14:52] cdbrkfxrpt commented on #23796
Hello @hibatallahAouadni,

I didn't use the template since it didn't fit the use case here; it's not a reproducible bug per se. That said, I did provide all the information you're asking in the template, specifically

- a description
- a log
- versions of all setup components

I read that now, not earlier, but I still think that my filing fits the criteria and provides all necessary information. A

[2021-03-29 14:52] sextoysunivers opened #23807 "Fatal error: Uncaught Error: Class 'AppKernel' not found in /var/www/config/autoload.php:28 Stack trace:"
#### Describe the bug
Hi, After deleting the logo of the site via sftp at the img folder I get this fatal error 👍
Warning: include(/var/www/vendor/composer/../../app/AppKernel.php): failed to open stream: No such file or directory in /var/www/vendor/composer/ClassLoader.php on line 444

Warning: include(): Failed opening '/var/www/vendor/composer/../../app/AppKernel.php' for inclusion (include_pat

[2021-03-29 15:04] sextoysunivers commented on #23807
Sorry to have open this issue, the problem was a misplaced file.

I do apologize

Best regards,

[2021-03-29 15:05] hibatallahAouadni commented on #23807
Hello @sextoysunivers

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2021-03-29 15:08] sextoysunivers commented on #23807
HI hibatallahAouadni,

I recovered the sites but the logo still there.

If

[2021-03-29 15:09] #23807 closed

[2021-03-29 15:10] sextoysunivers commented on #23807
Thank you

[2021-03-29 15:41] hibatallahAouadni commented on #23799
Hello @coluccini

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers @PierreRambaud, what do you think?

[2021-03-29 15:59] hibatallahAouadni commented on #23787
Hello @olecorre

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers, do you think adding this hook **actionValidateOrderAfter** is a must have?

[2021-03-29 16:01] khouloudbelguith commented on #22948
HI @marionf,

I manage to reproduce the three issues with the 177x branch (PS1773).
https://drive.google.com/file/d/1aIEMW-czc6A72Ns0_e2426ky4FXKJbSV/view?usp=sharing

Thank you!

[2021-03-29 16:08] marionf commented on #18072
@khouloudbelguith Could you please create a new issue ?

[2021-03-29 16:09] #18072 closed, assigned to nobody

[2021-03-29 16:25] khouloudbelguith opened #23808 "Duplicate address in checkout Address step on address edition"
#### Describe the bug
In the FO, when we try to change the country of an address, a duplicate address is created instead of updating the selected address

#### Steps to Reproduce

Steps to reproduce the behavior:

Steps to reproduce the issue:

1. Enable France & United states countries in the BO > International > Location > Countries page
2. Go to FO > Sign in with John Doe
3. Add a product to th

[2021-03-29 16:26] hibatallahAouadni commented on #23774
@matks so shall we change the status of this issue to **`To Do`**?

[2021-03-29 16:32] khouloudbelguith commented on #23808
Ping @marionf this issue is created as commented here: https://github.com/PrestaShop/PrestaShop/issues/18072#issuecomment-809510861

Thank you!

[2021-03-29 16:33] hibatallahAouadni commented on #23801
Hello @javierinnova

Could you please provide a module to test the issue or just name a module that I can apply the provided **steps to reproduce** on it.
Please attach a module and feedback.

Thanks!

[2021-03-29 16:36] hibatallahAouadni commented on #23549
Hello @Kaktusodlarn ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-29 16:36] #23549 closed, assigned to nobody

[2021-03-29 16:50] guigplt opened #23809 "AdminOrders slow"
When I open AdminOrders page and I search for an order or I click on an order, it takes 10 to 20 seconds to load.
It seems to be because it's waiting for AdminStats completely loaded :
![image](https://user-images.githubusercontent.com/44002621/112871078-2cd14e80-90bf-11eb-8397-675b4ac35fa7.png)

index.php?controller=AdminStats&token=fba97670eaf0edc0c5c2e8dd7950d75a&ajax=1&action=getKpi&kpi=netpro

[2021-03-29 17:16] hibatallahAouadni commented on #23809
Hello @guigplt

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-03-29 17:16] #23809 closed, assigned to nobody

[2021-03-29 17:29] NeOMakinG commented on #23774
This is definitely a todo, thanks for the report @ppisecky

[2021-03-29 19:37] arirangz opened #23810 "Wrong shipping when changing order in BO"
#### Describe the bug
When changing the product quantity in an order in the backoffice, and changing back the quantity to the previsous value, the total should be the same. But the shipping calculation is wrong.

See video link:
https://www.loom.com/share/aaafebe4bb4c4421824f291c11069525

I tried to changed the shipping method and put back the same shipping method and the shipping price is correct

[2021-03-29 22:47] alfonsolr09 commented on #20669
will work on this improvement?

[2021-03-30 07:14] #23791 closed, assigned to PululuK

[2021-03-30 07:31] hibatallahAouadni commented on #23810
Hello @arirangz

Could you please provide a screenshot of your selected carrier (Shipping locations and costs):

![image](https://user-images.githubusercontent.com/23308427/112950512-aa867000-913a-11eb-9d91-8c6eaf62ebff.png)

Please check and feedback.
Thanks!

[2021-03-30 07:47] PierreRambaud commented on #23799
It's an improvement, it's up to @PrestaShop/product-team to answer

[2021-03-30 08:04] hibatallahAouadni commented on #23800
Hello @darfk3d3

I didn't manage to repropduce your issue following your steps, see the attached screen record below:

 https://www.awesomescreenshot.com/video/3220807?key=6f1486087b36340ddaafdecf7f8cf489

Thanks!

[2021-03-30 08:50] jf-viguier commented on #23787
I suggest to add the same arguments as actionValidateOrder :
[code]
The cart, orderStatus can be usefull

[2021-03-30 09:45] KminekMatej opened #23814 "Get refund amount in order_row detail"
#### Is your feature request related to a problem?

I need to see order_rows that has been already refunded from API. Internally, I need this in order to properly recount stock amounts on synchronized system

#### Describe the solution you'd like

In API request for order, in section: associations->order_rows->order_row display also fields:
`product_quantity_in_stock`
`product_quantity_return`
`pr

[2021-03-30 09:57] hibatallahAouadni commented on #23580
Hello @marionf

@Braian70 ask to change the **Filter by category** behavior as PS1.6:
BO>SELL>Catalog>Products
Click on **Filter by category**
Select a category
The list of products whose belong to the selected category is well displayed =>OK
Click on **Filter by category**
The tree is not expanded displaying the selected category => it's regression of PS1.6

[2021-03-30 10:17] hibatallahAouadni commented on #23712
Hello @logosur

Thanks for your patience, I just followed your steps and here's the results:

![image](https://user-images.githubusercontent.com/23308427/112972981-212e6800-9151-11eb-87b1-8bf64bd6933b.png)

![image](https://user-images.githubusercontent.com/23308427/112973477-a9147200-9151-11eb-8290-178eb5939499.png)

Please check and feedback.
Thanks!

[2021-03-30 10:27] KristianFilo opened #23815 "ps_facetedsearch sub-categories filter doesn't work if category name contains slash or hyphen"
#### Important update

Turned out it is not as random as I thought. The category filter simply does not work, if category name contains some special characters (e.g. slash or hyphen). See [this comment](https://github.com/PrestaShop/PrestaShop/issues/23815#issuecomment-814781805) for more information.

#### Describe the bug

I have many categories, all of them are enabled, contain various active p

[2021-03-30 10:39] hibatallahAouadni commented on #23737
Hello @marionf

I think this issue is a duplicate of this one #10258, wdyt? is it a duplicate or just related?
Ping @khouloudbelguith do you think this issue could be fixed by this PR #18352?
Please check and feedback.

Thanks!

[2021-03-30 10:43] valentinchevalier opened #23816 "CartController smarty context 'cart' is override by FrontController"
## How I discover the issue

When I add a gifted product to cart, it is not considered as a gift in cart template.

## Why it's not working
I investigate and I found the following explanation :

`CartController::initContent()` is assigning to smarty a cart value that use the cart presenter with the flag `shouldSeparateGifts` to true ([here](https://github.com/PrestaShop/PrestaShop/blob/bae0db4dee1

[2021-03-30 11:05] hibatallahAouadni commented on #23453
Hello @gennaris

If you think it can provide more details to investigate the problem let me know.

I think we've come to a blocked path :confounded:

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug :confused:

Sorry but I have to close this issue.

Thanks!

[2021-03-30 11:05] #23453 closed, assigned to nobody

[2021-03-30 11:27] hibatallahAouadni commented on #23286
Hello @8i11y

I didn't manage to reproduce the issue with PS1.7.7.2 following these steps:

1. **BO**>**IMPROVE**>**Modules**>**Module Manager**
2. Click on **Configure** button of the **Customer reassurance** module
3. Edit one of the block content
4. Upload a custom image
5. Save
6. Go to **Display** tab
7. In **Global settings**>**Footer Position On All Pages**, select **Above footer**
8. **BO*

[2021-03-30 12:50] dutyhook commented on #23737
Tested PR #18352. It does not resolve current issue. However, it resolves the #10258 as it should be. (For your notice, the file changes there are based on some PS 1.7 ... older version. The source files for 1.7.7.2 are different. So I entered the changes manually, but as files are changed I can not be sure that for 1.7.7.2 these changes are adequate.) Seems, this fix is not meant to one field onl

[2021-03-30 12:51] aDamelincourt opened #23817 "FO - The search popup don't display completly"
#### Describe the bug

The search result popup, from the front office, is not displayed completely.
The beginning of the popup is hidden under the header-top

#### Expected behavior

See the entire search result

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to front office
2. Click on search zone, tape a search, waiting for result
3. See error

**Screenshots**

![image](https:/

[2021-03-30 12:53] Progi1984 commented on #20748
@PrestaShop/product-team What do you think about @PierreRambaud answer ?

[2021-03-30 13:01] marionf commented on #10762
@matks

The issue is not only when 2 customers are next to each other.
The main problem is the non-verification of the stock at the last step of the checkout.

If I have 2 products "A" in stock, add these 2 "A" products to cart, change the quantity to 1 for "A" in BO and click on "Confirm with an obligation to pay" on the last checkout step, I am able to pay while I should not. I should have at th

[2021-03-30 13:12] marionf commented on #20748
After resetting a module, it should be where it was originally after your first install of the theme.
That's the point of resetting something: putting it back to its original state.

[2021-03-30 13:13] NeOMakinG commented on #23774
@ppisecky I fixed it : https://github.com/PrestaShop/prestashop-ui-kit/pull/147

It will be fixed in the next UIKit release :)

[2021-03-30 13:19] nsorosac commented on #10762
We shared this approach to solve that specific problem:

- https://github.com/PrestaShop/PrestaShop/issues/10762#issuecomment-561720953
- https://github.com/PrestaShop/PrestaShop/issues/10762#issuecomment-621041635

**TL;DR** asynchronous and external does not mean you can't check quantities before `PaymentModule::validateOrder` is called. It's not an easy task, I can't argue that, but it's doable

[2021-03-30 14:04] hibatallahAouadni commented on #23817
Hello @aDamelincourt

Thanks for your issue :clap:
I reproduced the issue only with develop, see the attached screen record below:

https://www.awesomescreenshot.com/video/3224621?key=597f9ca72e4f39c1aa789cdb9f2154b6

I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-03-30 14:36] hibatallahAouadni commented on #23814
Hello @KminekMatej

Thanks for the suggestion!
Could you please check this feature #23245 seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-30 14:50] matks commented on #10762
@nsorosac

https://github.com/PrestaShop/PrestaShop/issues/10762#issuecomment-561720953 if I get it correctly this introduces a new step. This step is "ask customer bank if he has the money to pay"

I dont think it solves the issue 🤔  .

What if 2 customers come back from the payment gateway in the same millisecond? Stock is still 1. Each verification of the stock available returns `true` because,

[2021-03-30 14:57] dutyhook opened #23821 "Credit invoice different from invoice"
Conditions:
A. use rounding method: Round on the total,
B. use taxation for products vat added some % (in my case 20%)
C. set product prices so, that price with or without the tax is not round-able to cent precision (in my case price with vat is set as 0.04 EUR, without VAT it is 0.03333...)

For creating the bug:
1. Create order for customer (where taxation is applied in status where invoice is g

[2021-03-30 15:08] go-sudo opened #23822 "PrestaShop Metrics Jquery issue on 1.7.7.2"
Hello

I installed the module PrestaShop Metrics on a fresh PS version 1.7.7.2 and I configured it but the i'm getting a jquery message in console

https://pastebin.com/k9T0tm6Y

Explain what you expected to happen instead.

**Screenshots**

![image](https://user-images.githubusercontent.com/11594433/113011627-e25cda00-9171-11eb-997d-55a84d8511d6.png)

* PrestaShop version: 1.7.7.2
* PHP version:

[2021-03-30 15:08] Julievrz commented on #19142
Here is my suggestion:

I think we should try to stay as consistent as possible. We should use 'Status' as the label (in most cases), instead of "Yes/No" we should write 'Enabled/Disabled', and the notification should be 'The status has been successfully updated' as @LouiseBonnard suggested. However, there are a few exceptions. In some cases (that appear in the table), these wordings are not adapt

[2021-03-30 15:10] khouloudbelguith opened #23823 "BO - Multistore - Orders - An alert "Error! There are not enough products in stock." is displayed when adding a product with allow order is enabled"
#### Describe the bug

"Share available quantities to sell" option is enabled, "All shops" is selected, allow  in the BO > Orders > Order page > when we try to add a product => an alert "Error! There are not enough products in stock." but the Available quantity > 0

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multishop Context.
2. Go to BO > Advanced Parameters > Multistor

[2021-03-30 15:18] hibatallahAouadni commented on #23816
Hello @valentinchevalier

Could you please provide clear and consice steps to reproduce the issue.
Please **respect and follow the provided template to submit a complete bug report**. We provide this template because we need all the information mentioned.

Please edit your issue and notify me.

Thanks!

[2021-03-30 15:22] khouloudbelguith opened #23824 "BO - Multistore - Orders - Cannot increase the quantity product when Allow ordering out of stock is enabled"
#### Describe the bug

"Share available quantities to sell" option is enabled, "All shops" is selected, "Allow ordering" out of stock is enabled, in the BO > Orders > Order page > when we try to update the product quantity > quantity total => the save button is disabled

#### Expected behavior

 "Allow ordering" out of stock is enabled, we can increase the quantity > quantity total

#### Steps to

[2021-03-30 15:35] matks commented on #23465
Release Note https://build.prestashop.com/news/prestashop-1-7-7-3-maintenance-release/

[2021-03-30 15:36] eternoendless commented on #23465
1.7.7.3 is now available for upgrade.

[2021-03-30 15:57] SebBareyre commented on #20009
I manage to reproduce this issue. The Cart::getCartRules method doesn't check the active state, the cart rule quantity and even the voucher date.

[2021-03-30 16:05] hibatallahAouadni commented on #23814
Hello @KminekMatej

Thanks for your quick feedback!
AFAIK, these fields are provided in the WS Order_details, see this [link](https://devdocs.prestashop.com/1.7/webservice/resources/order_details/):
[code]
Could you please check and feedback.
Thanks!

[2021-03-30 16:28] ced--ced opened #23825 "Best customers stats empty"
#### Describe the bug

The stats modules are installed. They all show the shop stats except for the best customers which remains empty.

#### Expected behavior

For the page Best customers stats to show the statictics.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the module Best customers stats
2. Go to Stats > Best customers
3. The page remains with the message empty. No

[2021-03-30 16:42] Progi1984 commented on #10608
@matks OK for closing ?

[2021-03-30 16:43] Progi1984 commented on #10603
@matks OK for closing ?

[2021-03-30 16:47] hibatallahAouadni commented on #23815
Hello @TinoArts

Could you please try to provide steps to reproduce even it seems random.

Thanks!

[2021-03-30 16:50] hibatallahAouadni commented on #23822
Hello @go-sudo

the PrestaShop Metrics is part of the PrestaShop company (not PrestaShop the software), which operates the Addons Marketplace. This is not linked in any way with this repository.
You can contact the team responsible for Addons [here](https://addons.prestashop.com/fr/contactez-nous).

Thank you.

[2021-03-30 16:50] #23822 closed, assigned to nobody

[2021-03-30 16:52] #23216 closed, assigned to nobody

[2021-03-30 17:21] oubihis opened #23826 "Front Office - Multistore in PS 1.7.6.8 - attribute doesn't change and goes back to default"
#### Describe the bug

I have this problem in PS. 1.7.6.8  - Multistore, when I choose an attribute for the first time I get this URL (2-1218-demo-product.html#/84-demo_1-3) like ({category:/}{id}{-:id_product_attribute}-{rewrite}{-:ean13}.html).

my Qs is why I get this ( #/84-demo_1-3 ) in my URL?
and When I change the attribute for the second time, the attribute doesn't change and goes back to

[2021-03-30 17:33] logosur commented on #23712
Oh, I can see it clear now. The regex for category is not the same at my end. I've been digging into this and I've found that it came modified from 1.6, so the issue was still present in 1.6 too. So the (wrong) regex that I have, is matching the url / in the categories route too by error, this is because I can load the homepage.

![image](https://user-images.githubusercontent.com/22943974/11303117

[2021-03-30 17:37] hibatallahAouadni commented on #23821
Hello @dutyhook

I just followed your steps and here's the results:

### The Invoice:

![image](https://user-images.githubusercontent.com/23308427/113029741-172a5a80-918d-11eb-8435-0f1157b41c7d.png)

### The credit slip:

![image](https://user-images.githubusercontent.com/23308427/113029756-1b567800-918d-11eb-82e5-5eea07f13d28.png)

The only diffrence I could see is the **Total tax** in the summar

[2021-03-30 17:42] hibatallahAouadni commented on #23825
Hello @ced--ced

I didn't manage to reproduce your issue with PS1.7.5.1, PS1.7.6.7 and PS1.7.7.2, see the attached screenshots below:

### 1.7.5.1
![image](https://user-images.githubusercontent.com/23308427/113032250-ef88c180-918f-11eb-86e2-0370453d0ec9.png)

### 1.7.6.7
![image](https://user-images.githubusercontent.com/23308427/113032277-f6afcf80-918f-11eb-9aeb-fcc2bdc6b11c.png)

Please check an

[2021-03-30 17:45] hibatallahAouadni commented on #23712
Glad to hear @logosur
Thanks for your feedback.

I close this issue :wink:

[2021-03-30 17:45] #23712 closed, assigned to nobody

[2021-03-30 17:50] hibatallahAouadni commented on #23777
Hello @jorr-it

Have you tried to work with the provided WS in this [Doc](https://devdocs.prestashop.com/1.7/webservice/resources/products/#blank-schema)
If not, could you please give it a try and see if you encounter the same issue with it.
Please check and feedback.

Thanks!

[2021-03-30 17:56] hibatallahAouadni commented on #23547
Hello @costads ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-30 17:56] #23547 closed, assigned to nobody

[2021-03-30 17:57] #23548 closed, assigned to nobody

[2021-03-30 18:02] hibatallahAouadni commented on #23790
Hello @go-sudo

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug :confounded:

It seems you need help with your shop, so please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/

[2021-03-30 18:02] #23790 closed, assigned to nobody

[2021-03-30 18:05] hibatallahAouadni commented on #23784
Hello @gennaris

Could you please provide a screenshot to better understand your suggestion (as @florine2623 asked above).

Thanks in advance!

[2021-03-30 18:11] hibatallahAouadni commented on #23773
Hello @yannicka

Could you please check this issue #17318, I think the cause of your problem is that the  table `ps_layered_filter_block` is growing fast and you need to add the clear-cache script in a cron (as mentioned in this [comment](https://github.com/PrestaShop/PrestaShop/issues/17318#issuecomment-590389474)).
Please check and feedback.

Thanks!

[2021-03-30 18:17] go-sudo commented on #23790
Thank you very much. I will install new fresh one an migrate my database one by one.

[2021-03-30 19:05] cricket-hockey opened #23827 "[Idea] Prevent BO notifications from slowing the shop down"
(edited by @eternoendless to summarize)

#### The problem

Since upgrading to 1.7.7.2 the orders page in the backend, and clicking into any order is incredibly slow. Most of the time it takes around 60 seconds for the orders page to load and then another 60 seconds when you click into an order. Occasionally it will load in around 5 seconds but 90% of the time it takes around 1 minute.

I never had

[2021-03-30 19:20] #23814 closed, assigned to nobody

[2021-03-30 20:40] hibatallahAouadni commented on #23814
Thanks for your feedback and glad that you find what you need 😉

[2021-03-30 23:49] kpodemski commented on #23827
Hey @cricket-hockey

can you let us know how many records do you have in `PREFIX_configuration` table?

[2021-03-31 06:30] cricket-hockey commented on #23827
Hi @kpodemski

Thanks for your reply. There are 24823 records in my configuration table, which presumably is too high. Is there anything I can do about this?

[2021-03-31 06:41] kpodemski commented on #23827
It's not that many, but of course you should check for duplicates in `ps_configuration` table, I remember some scenarios where one of the popular newsletter modules used this table to store some data related to customer segmentation.

[2021-03-31 06:47] Progi1984 commented on #21228
Fixed by #23802

[2021-03-31 06:47] #21228 closed, assigned to NeOMakinG

[2021-03-31 07:00] cricket-hockey commented on #23827
@kpodemski OK, thanks, will do.

What about that query I posted? Is that not part of the problem?

Another thing I have found is that when just one person is logged into Prestashop then the speed is not too bad. But as soon as other users login, the orders page and going in to any order takes up to 1 minute to load.

[2021-03-31 07:03] ghost opened #23832 "Improve the Link to requirements Autoupgrade"
#### Describe the bug

Improve the Link to requirements

#### Expected behavior

When the requirements are not ok.
The links to the Prestashop requirements is not good

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set low memory_limit
2. Go to the module
3. Check the link

**Screenshots**

![Capture d’écran de 2021-03-31 08-49-21](https://user-images.githubusercontent.com/5064590/

[2021-03-31 07:13] kpodemski commented on #23827
@cricket-hockey I think it might have something to do with your hosting, not PrestaShop itself, there is something wrong with `configuration` part as you can see in the profiler.

About query you posted - it's based on indexes so it shouldn't be a problem and profiler shows that querying took only small amount of time.

[2021-03-31 07:17] #23832 closed, assigned to nobody

[2021-03-31 07:22] cricket-hockey commented on #23827
@kpodemski The only thing that makes me think it isn't the hosting is that this only started when I upgraded to 1.7.7.2. If it was the hosting, would this not have happened when I was on 1.7.6.x? They have been very good and spent weeks looking into everything - even copying the site to another server and running tests there. Nothing had any impact.

[2021-03-31 07:23] gennaris commented on #23784
Hello @hibatallahAouadni ,
not one of my best artwork - but I hope you get the idea here :)

![tbl](https://user-images.githubusercontent.com/43071148/113105561-049e3880-9202-11eb-976b-e3aa1d87fbcc.png)

This would make the order rows understandable.

Otherwise if try to sum up the rows of the table in my first post, you'll see the wrong total
Customers are getting puzzled in understanding numbers

[2021-03-31 07:28] cricket-hockey commented on #23827
Almost all of the configuration table is filled with entries like this:

![screenshot-89 145 84 90-2021 03 31-08_26_25](https://user-images.githubusercontent.com/81647673/113106647-eaad2780-91fa-11eb-9912-c8b18e78d5e1.png)

This is from my SEO URL module. Could this be the problem?

It's odd though that the problem only affects the backend orders page. If it was this or the hosting, surely the res

[2021-03-31 07:34] jorr-it commented on #23777
@hibatallahAouadni Yes I did, as you can see yourself in my original post.

[2021-03-31 08:46] merick2158 commented on #23720
@florine2623 this is not the same issue, I can't even enter to translation page of installed modules. And all this happens after the upgrade. Your team always ignores bug issues, try to solve bugs guys.

[2021-03-31 08:56] #23826 closed, assigned to nobody

[2021-03-31 08:57] estenolotienenadie opened #23833 "Error upgrading Prestashop 1.7.5.2 to 1.7.7.3"
#### Describe the bug
Hello, I am trying to update prestashop 1.7.5.2 to 1.7.7.3 through 1 click upgrade and it is not possible, the process begins but for some reason it does not advance and it stays in the same place.

![UPGRADE ](https://user-images.githubusercontent.com/64229330/113115785-146f4a00-920d-11eb-9fdd-b57a4dcbe31a.png)

![upgrade 1](https://user-images.githubusercontent.com/64229330

[2021-03-31 08:57] #21987 closed, assigned to Progi1984

[2021-03-31 09:00] florine2623 commented on #23833
Hello @estenolotienenadie ,

Is there any error ?
Can you share the error + error log ?
Did you refresh your page ?

Thanks!

[2021-03-31 09:08] estenolotienenadie commented on #23833
If you need any other information let me know becouse i dont know how to send you the error log, but if you tell me how i will do it.
Regards,
Alberto.

[2021-03-31 09:11] #20928 closed, assigned to jbenezech

[2021-03-31 09:29] BenjisMind opened #23835 "Creating a link via linklist led to an empty col in main menue"
Hello,

today i tried to add a new link to an hook via the linklist_module. Apparently the chosen hook was the wrong one, because the link got placed right in the middle of my main menue and pushed the whole menue to the right side of the header. But after i deleted the link, the menue still was on the right side, because now there is an empty col just in the middle of the header.

Is there a reas

[2021-03-31 09:30] Progi1984 commented on #23573
Fixed by #23691

[2021-03-31 09:30] #23573 closed, assigned to NeOMakinG

[2021-03-31 09:42] #23835 closed, assigned to nobody

[2021-03-31 09:44] lmeyer1 opened #23836 "Product image "no image available" incorrect in German"
#### Describe the bug

The texts on the German default images are incorrect.
/img/p/de.jpg has the text "No image available"
/img/p/de-*-default.jpg have the text "Kein bild verfügbar"

#### Expected behavior

The correct text would be: "Kein Bild verfügbar", 'B' in upper case.

#### Steps to reproduce

1. Install German language
2. Create a product
3. Do not put an image in the product
4. See the

[2021-03-31 10:21] FRaccie opened #23837 "Warning on line 1021 in file /prestashop/controllers/admin/AdminCustomerThreadsController.php [2] count(): Parameter must be an array or an object that implements Countable"
#### Description

When saving the imap settings on the backend customer service page the following error is shown.

`Warning on line 1021 in file /prestashop/controllers/admin/AdminCustomerThreadsController.php [2] count(): Parameter must be an array or an object that implements Countable`

LINE 1014 = `$errors = imap_errors()`
this returns a boolean when there are no errors.

LINE 1021 = `if (cou

[2021-03-31 10:24] florine2623 commented on #23836
Hello,

Thanks for the report. I reproduced your issue in PS 1.7.7.3 :
![Capture d’écran 2021-03-31 à 12 23 29](https://user-images.githubusercontent.com/16019289/113130060-e80efa00-921b-11eb-93ea-4475bb5ad8d8.png)
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-03-31 11:32] ioniks opened #23838 "Specific "available later" message for product don't show on category listing"
#### Describe the bug
On category listing, product avalaible_message don't match the product available_later message when no stock but orderable.
The message is the shop avalaible message. On product detail, the avalaible message is good.

#### Expected behavior
The product avalaible later message in the product available_message

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Modif

[2021-03-31 12:11] lmeyer1 commented on #23836
I can't make a pull request for two reasons:
- The images are not in this repo
- I ignore which font to use

Sorry for that.

[2021-03-31 12:17] hibatallahAouadni commented on #13226
Ping @PrestaShop/prestashop-core-developers what's the status of this issue, is it **`To Do`** or **`TBS`**?

[2021-03-31 12:36] florine2623 commented on #23837
Hello @FRaccie ,
I can't reproduce your issue on neither PS 1.7.7.2 nor PS 1.7.7.3.
Please check my screen record : https://drive.google.com/file/d/1jvAfNJzVqAAmQ45SNGqb-RTxoHa1LA--/view
Am i missing something ?

Please check and feedback.
Thanks!

[2021-03-31 12:49] #22123 closed, assigned to PululuK

[2021-03-31 12:53] #22998 closed, assigned to NeOMakinG

[2021-03-31 13:05] #23225 closed, assigned to NeOMakinG

[2021-03-31 13:10] florine2623 commented on #23838
Hello @ioniks ,
Is your issue similar to https://github.com/PrestaShop/PrestaShop/issues/21477 ?

Can you check and feedback ?
Thanks!

[2021-03-31 13:20] ioniks commented on #23838
Hi @florine2623,

The bug is similar but not the same.

The bug is only on the category list, i can't add to cart the product on the category list too, but from the home (new product module) or from the detail page i can.

I have tested on 1.7.7.1, 1.7.7.2 and 1.7.7.3 same problem.
I have already tested on classic template same problem.

[2021-03-31 13:34] jf-viguier commented on #23838
I don't have this bug in 1.7.6 with classic. It's a regression I guess

[2021-03-31 14:30] #23804 closed, assigned to matthieu-rolland

[2021-03-31 15:22] khouloudbelguith opened #23842 "BO - Modules page - Module Manager page is NOK & Module Catlog page is NOK"
#### Describe the bug

In the Module Catalog page & the Module Manager page => we have an error in the console
![image](https://user-images.githubusercontent.com/16067358/113167728-4b148700-9244-11eb-851e-8d46cb637ef0.png)

In the BO > Module Catalog page => No module is loaded
![image](https://user-images.githubusercontent.com/16067358/113167832-5ff11a80-9244-11eb-9428-cbf56e738d08.png)
In the BO

[2021-03-31 15:42] khouloudbelguith opened #23843 "BO - Migrated page - The help modal cannot be opened"
#### Describe the bug

In the BO > Migrated page > when we try to click on the Help, the modal cannot be opened with an error in the console
![image](https://user-images.githubusercontent.com/16067358/113172068-5d90bf80-9248-11eb-8847-1b24d8f2ed0e.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Migrated page
2. Click on Help
4. See error

#### Additional information

[2021-03-31 15:45] matks commented on #19396
@marionf Please see what I have done for this feature

![Capture d’écran 2021-03-31 à 17 41 15](https://user-images.githubusercontent.com/3830050/113172262-8ca73100-9248-11eb-96d5-640439b81259.png)

### What is implemented

The "Add new order" is disabled: it cannot be clicked, it is gray.

When you put your mouse over it you see a little "forbidden!" sign 🚫
⬆️ you cannot see this on the screens

[2021-03-31 15:54] photinia73 opened #23845 "registration form don`t work ps 1.7.7.1"
PS 1.7.7.1 Don`t work registation form
https://te.com.ua
Every time theese notifications
![image](https://user-images.githubusercontent.com/50954519/113173887-874ee400-9252-11eb-84d8-fc6696dda497.png)
 In the Debug mode
![image](https://user-images.githubusercontent.com/50954519/113173796-6c7c6f80-9252-11eb-9904-56f38d621d25.png)

[2021-03-31 15:56] matks commented on #23845
@photinia73 the errors with Debug mode on your screenshot indicate that the error comes from SeosaProductLabels module

[2021-03-31 16:00] #23576 closed, assigned to NeOMakinG

[2021-03-31 16:02] photinia73 commented on #23845
If I turn off this module nothing change ((

[2021-03-31 16:05] photinia73 commented on #23845
I can't see any errors in the Debug mode but the result the same
![image](https://user-images.githubusercontent.com/50954519/113175354-042e8d80-9254-11eb-9f48-22254174239b.png)

[2021-03-31 16:08] khouloudbelguith commented on #23785
Hi @marionf,

About the second issue, I created previously an issue: https://github.com/PrestaShop/PrestaShop/issues/23754.
Do I need to close my issue as it will be fixed here?

Thank you!

[2021-03-31 16:08] hibatallahAouadni opened #23847 "[BO] Filter by Category - the chosen category is not selected after filtering the products"
#### Describe the bug

When I filter the products by Category, the product got filtred perfectly but when I click on **Filter by Category**, the selected category is not selected.

#### Expected behavior

The selected category is selected

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO**>**SELL**>**Catalog**>**Products**
2. Click on **Filter by category**
3. Select a category
4

[2021-03-31 16:10] khouloudbelguith commented on #23785
Hi @marionf,

I think this issue is related to this ticket: https://github.com/PrestaShop/PrestaShop/issues/23753
What do you think?

Thanks!

[2021-03-31 16:13] marionf commented on #19396
Thank you @matks yes, you can submit a PR as it seems really great and perfectly matches what was expected :+1:

[2021-03-31 16:44] rickygzz opened #23848 "Mexico units"
#### Describe the bug

There is a file called `localization/mx.xml` with Mexico's settings. I updated the units with PR #23830, since we use metric system.

#### Expected behavior

We expect to see  short distance = cm, base distance = m and long distance = km

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '`localization/mx.xml`'
2. Scroll down to bottom
3. See error
4. See c

[2021-03-31 16:50] SharakPL commented on #17725
Then I guess docker setup needs fixing because this bug is still there. I have fresh fork of develop branch on Ubuntu (WSL 2) and every time I do `docker-compose up` it throws the same error. Clearly theme installation doesn't work as intended. Admin panel is accessible (with couple notices right after login). Looks like default theme is set:

![obraz](https://user-images.githubusercontent.com/500

[2021-03-31 17:07] #23465 closed, assigned to eternoendless, ldeprestashop

[2021-03-31 17:13] photinia73 commented on #23286
Sorry, but I didn`t understand clear from point 6 (( I have Ukrainian version of BO
Can you make some more sreenshort or video

Thanks

[2021-03-31 18:27] mrabsinthe commented on #23644
@hibatallahAouadni  @florine2623  Sorry for my late reply, I wanted to test this issue on 1.7.7.3
I wasn't able to replicate the issue with double minus sign in 1.7.7.3 however I'm still able to replicate the issue with a wrong discount calculation.
1a/ create cart rule free shipping - priority 1
1b/ create cart rule 10% discount Order (without shipping) - priority 2
2/ leave just one carrier and

[2021-03-31 19:48] alfonsolr09 commented on #23845
i can register on your web

[2021-03-31 19:58] photinia73 commented on #23845
Yes, thank you for check. It was the problem with cache after Facebook login... Can you close the issue? Thank you

[2021-03-31 19:59] alfonsolr09 commented on #23845
You can close answer and close

[2021-03-31 20:00] photinia73 commented on #23845
Close

[2021-03-31 20:00] #23845 closed, assigned to nobody

[2021-03-31 20:25] WebHelpersPau commented on #23605
What about adding https://github.com/padolsey-archive/jquery.fn/blob/master/cross-domain-ajax/jquery.xdomainajax.js to the admin pages in symfony migration ? Would it be allowed ? If not it would be a modification in .htaccess...

[2021-04-01 00:06] ProteanCode opened #23850 "Cannot update some of the modules from Prestashop (ie. GDPR)"
#### Describe the bug

I cannot update the GDPR module ( https://github.com/PrestaShop/psgdpr/releases/tag/v1.2.1 ) even if I remove it totally and then try to install it again, the module stays in old version (1.1.3) instead of the one form the zip release.

The problem also occurs for some of the other modules

#### Expected behavior

Module get updated version

#### Steps to Reproduce

0. Enabl

[2021-04-01 01:12] ProteanCode commented on #23850
Okay I see this is something wrong with opcache enabled...

[2021-04-01 06:14] dineshbadrukhiya opened #23851 "Can't login prestashop backoffice"
I'm trying to login in back office since last 3 days but not able to login. Only page refreshed without error.

Steps to reproduce the behavior:

1. Go to Backoffice login page
2. Enter email and password, click on login
3. Page will be refreshed without error

#### Additional information

* PrestaShop version: 1.7.6.7
* PHP version: 7.2

[2021-04-01 06:56] PierreRambaud commented on #23850
You should make sure you follow these instructions:
https://devdocs.prestashop.com/1.7/scale/optimizations/#opcache

[2021-04-01 07:25] kpodemski commented on #23827
@cricket-hockey

thing is that SQL queries aren't slow from what you show us in screenshot from profiler, this is why it's weird - also, it's surprising that occasionally this page load quicker 🤔

For now it's hard for me to say if it's related to new Orders page, I don't have any bigger shops updated to 1.7.7 just yet but I'll try to generate some orders and see how it's working for me.

[2021-04-01 07:26] #23530 closed, assigned to mkdgs

[2021-04-01 07:57] Prestaworks commented on #23588
This seems to be related to turning the debug mode on and off.

[2021-04-01 08:54] Pinidou commented on #23851
Bonjour, je ne sais pas si je suis au bon endroit. Je cherche depuis 3 jours également. Je ne sais plus du tout aller sur mon back office. En fait je n'accède même pas à la page de connexions puisque j'atteris direct sur une page d'erreur '' http erreur 500 '' je ne sais pas quoi faire (je ne suis pas super douée en informatique et programmation. Merci

[2021-04-01 09:07] hibatallahAouadni commented on #23827
Hello @cricket-hockey

Could you please check this issue #14703 it seems similar to yours.
Please check and feedback.

PS: thanks @kpodemski for your quick replies :rocket:

Thanks!

[2021-04-01 09:16] hibatallahAouadni commented on #23833
Hello @estenolotienenadie

I upgraded my shop from 1.7.5.2 to 1.7.7.3 without any problem. Could you please click on the button refresh before upgrading, cause in your screenshot it seems your shop can't find the latest available version:

![image](https://user-images.githubusercontent.com/23308427/113272131-99289980-92db-11eb-8749-eab4acac9f20.png)

Please check and feedback.
Thanks!

[2021-04-01 09:34] estenolotienenadie commented on #23833
Hello, thanks for your email.
My prestashop is in Spnish and i dont have this button refresh,  in my spanish version apear like this:

![no disponible](https://user-images.githubusercontent.com/64229330/113274392-f02f6e00-92dd-11eb-98dc-9abd241ddf15.png)

check if a new version is available and it still looks like no version is available. You can see at the time i do click to check it, was just no

[2021-04-01 09:35] hibatallahAouadni commented on #23848
Hello @rickygzz

Thanks for your issue and your PR.
I reproduce your issue with PS1.7.6.7, PS1.7.7.3 and develop, in the file `localization/mx.xml`:
[code]
To be honnest, I don't know if this is really a bug or not :confused:
Ping @PrestaShop/product-team @MatShir any idea about what should be the units? should be:
[code]
as @rickygzz proposed or not?

[2021-04-01 09:40] cricket-hockey commented on #23827
@hibatallahAouadni Thanks for your reply. I have checked that issue but unless I am missing something, there doesn't seem to be a fix on there for it? Someone just commented out the two queries. Should I try that?

[2021-04-01 09:45] hibatallahAouadni commented on #23827
@cricket-hockey yep try it and see if it could help you up. Don't forget to feedback :wink:

[2021-04-01 09:47] hibatallahAouadni commented on #23286
@photinia73 I already submit a screen record (video) above :wink: just open this link:

https://drive.google.com/file/d/1ff57tKk-tf6dfycGGil3jO9vKE22-mmU/view

[2021-04-01 09:49] khouloudbelguith commented on #23344
Hi @sarahdib, @PrestaShop/prestashop-core-developers,

This is reproduced again as reported by @Robin-Fischer-PS.
In fact, this issue is fixed previously with this PR:
https://github.com/PrestaShop/PrestaShop/pull/23127
https://drive.google.com/file/d/1KexDcEZs0GUYpRDIGEwu-adg7eDAaKJr/view?usp=sharing

But after merging this PR: https://github.com/PrestaShop/PrestaShop/pull/23296
The issue is here

[2021-04-01 09:50] estenolotienenadie commented on #23833
I have clicked refresh the page as you can see the time and it still shows that there is no update available.

![Sin título](https://user-images.githubusercontent.com/64229330/113276701-63d27a80-92e0-11eb-8c22-1abccbe04d17.png)

Regards,
Alberto.

[2021-04-01 09:53] estenolotienenadie commented on #23833
I have clicked refresh the page as you can see the time and it still shows that there is no update available

![Sin título](https://user-images.githubusercontent.com/64229330/113277311-e2c7b300-92e0-11eb-9ac8-df127f8cd413.png)

[2021-04-01 10:05] cricket-hockey commented on #23827
@hibatallahAouadni OK, I have commented out those 2 queries but it is still the same.

I've switched profiling on again and here is the result when clicking into the orders page. I thought the fact that config is the problem indicates this is not due to a query?

[Untitled 1.pdf](https://github.com/PrestaShop/PrestaShop/files/6242720/Untitled.1.pdf)

[2021-04-01 10:12] khouloudbelguith commented on #23842
Hi @NeOMakinG,

On the Module Manager page, those buttons are NOK:

1. Upload module
2. Connect to Addons marketplace
3. Help
4. Search
5. Category filter
6. Status filter
7. Bulk action

On the Module Catalog page: those buttons are NOK:

1. Upload module
2. Connect to Addons marketplace
3. Help
4. Search

Thank you!

[2021-04-01 10:22] estenolotienenadie commented on #23833
Hello, when i do click in ... Refresh page .... apear this:

The status has been successfully updated.

![Sin título](https://user-images.githubusercontent.com/64229330/113280632-d47b9600-92e4-11eb-888e-601ca55903f4.png)

But still not update available.
Thank you.
Regards,
Alberto.

[2021-04-01 10:24] estenolotienenadie commented on #23833
When i do click in ... Refresh page.... apear :  The status has been successfully updated....  but still not update available.

![Sin título](https://user-images.githubusercontent.com/64229330/113280929-3d630e00-92e5-11eb-895b-32763ac0d4a3.png)

Regards,
Alberto.

[2021-04-01 10:51] cricket-hockey commented on #23827
@hibatallahAouadni @kpodemski Do you think this could be anything to do with languages? Generally most sections on the backend are slower than they should be, as well as the website. In the profiling I'm seeing a lot of slow loading times with anything related to languages. I have 9 different languages so maybe this is part of the problem?

[2021-04-01 12:37] Jerome08 opened #23859 "1-click upgrade > blank page and juste "error" message"
#### Describe the bug

When i click 1-click upgrade module
a blank with only "error!" written on top

#### Expected behavior

the module doesn't appear

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 1-click upgrade (bottom left of B.O)

**Screenshots**
![ScreenShot009](https://user-images.githubusercontent.com/50581985/113294839-b3707080-92f7-11eb-9cae-a5c040a0dfd1.jpg)

If a

[2021-04-01 12:46] hibatallahAouadni commented on #23851
Hello @dineshbadrukhiya & @Pinidou

I didn't manage to reproduce your issue with PS1.7.6.7 and PS1.7.7.3. It seems that you have made a terrible mistake in your store that your BO becomes inaccessible.

Sorry but I have to close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. And it seems you need help with your shop, so please consider o

[2021-04-01 12:46] #23851 closed, assigned to nobody

[2021-04-01 12:50] MatShir opened #23860 "Update the name of Mexico City"
[code]

name tag Distrito Federal to Ciudad de México
and its state tag properties id= and iso_code= to "CMX" according to its iso3166-2 code.

On 29 January 2016, Mexico City ceased to be the Federal District (Spanish: Distrito Federal or D.F.), and was officially renamed "Ciudad de México" (or "CDMX")

Source:
https://www.iso.org/obp/ui/#iso:code:3166:MX
https://en.wikipedia.org/wiki/Mexico_City

[2021-04-01 12:59] aDamelincourt commented on #23743
Hello @matks
It's ok on PS1.7.7.3 for ps_emailalerts
But on PS1.7.5.2, I can't finalize my cart, after payment choice, I get a 500 error, in BO, I have got order, but it's empty

[2021-04-01 13:04] jf-viguier commented on #20880
Issue is still there with version 3.7.1

[2021-04-01 13:06] jf-viguier commented on #20880
The manufacturer name is displayed correctly if I uninstall faceted search module, so it's definitely a module bug.

[2021-04-01 13:09] ioniks commented on #20880
Hi,
on 1.7.7.1+ and ps_facetedsearch 3.7.1
The avalaible_later product message is not good when `ps_layered_filter_show_out_of_stock_last_on` is set to No, when set to Yes is good.

related a to #23838

[2021-04-01 13:10] ioniks commented on #23838
Update :
the bug is with facetedsearch 3.7.1
The avalaible_later product message is not good when ps_layered_filter_show_out_of_stock_last_on is set to No, when set to Yes is good.

[2021-04-01 13:12] hibatallahAouadni commented on #23850
Hello @ProteanCode

I just edit your issue description adding the steps to reproduce, could you please check and feedback.

Thanks!

[2021-04-01 13:14] hibatallahAouadni commented on #23628
Hello @KORCHID ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-01 13:14] #23628 closed, assigned to nobody

[2021-04-01 13:19] marionf commented on #23753
Hello @khouloudbelguith

I am not sure to understand what is this step, could you please add a screenrecord of the whole steps ?

[2021-04-01 13:22] Jerome08 commented on #23859
I tried to activate debug mode, but there is no more information

[2021-04-01 13:23] hibatallahAouadni commented on #23859
Hello @Jerome08

Could you please provide your **1-click upgrade** module's version.
Please check and feedback.

Thanks!

[2021-04-01 13:37] #23598 closed, assigned to NeOMakinG

[2021-04-01 13:41] Jerome08 commented on #23859
the last one v4.12.0
i already uninstalled and installed again a few times (with delete of folder of module)
i cleaned my cache

[2021-04-01 14:58] #23817 closed, assigned to NeOMakinG

[2021-04-01 14:59] #23785 closed, assigned to matthieu-rolland

[2021-04-01 15:00] MatShir commented on #17684
As @matks said, unless we get big contributions from an Indian or Arab contributor, we won't be able to solve this problem any time soon.

[2021-04-01 15:04] darfk3d3 commented on #23800
Hello @hibatallahAouadni hibatallahAouadni
I'm here with some more informations.
Previously I found the error on currency page, but i noticed that setting if i set the current employe language to English every back office page stop working, showing this error:
![errore](https://user-images.githubusercontent.com/42684711/113313631-b7a68900-930b-11eb-9244-68a0deedf1a5.png)

I always used the account

[2021-04-01 15:13] rickygzz commented on #23848
I can tell you that the metric system was officialy accepted in Mexico since 1852, 53 years after it was introduced in France.

I am pretty sure of this information because I am from Mexico, it is mandatory that we have to use the international system (sistema international) as it is stated in our Federal Laws about Metrology and Normalization:

Ley Federal sobre Metrología y normalización, articl

[2021-04-01 15:14] marionf commented on #10762
@matks

I think the confusion comes from the description of the issue that wasn't corresponding to the steps to reproduce.
So, I updated the description and by the way, I specified the wanted behavior to fix this issue :)

[2021-04-01 15:16] MatShir commented on #19807
@filippodicostanzo if you have the technical knowledge don't hesitate to propose a pull request ([find more information here](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)). We will be happy to review your contribution to the PrestaShop core ;)

[2021-04-01 15:29] hibatallahAouadni commented on #23838
Hello @ioniks

I couldn't manage to reproduce your issue with PS1.7.7.3 and FactedSearch v3.7.0, see the attached screen record below:

https://drive.google.com/file/d/1TRJGQyisK5yZL9L4VQFvtmBlL245RHUp/view

Please check and feedback.
Thanks!

[2021-04-01 15:57] hibatallahAouadni commented on #23836
Hello @lmeyer1

Thanks for your issue! I manage to reproduce the issue with PS1.7.6.7 and PS1.7.7.3.

But I believe you could help us improving the translations in [Crowdin](http://crowdin.com/translate/prestashop-official/).

Ping @PrestaShop/product-team @Julievrz I tried to translate this sentence with Translate Google and here's the result:

![image](https://user-images.githubusercontent.com/2

[2021-04-01 16:03] PululuK commented on #23860
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23828

[2021-04-01 16:03] #23860 closed, assigned to nobody

[2021-04-01 16:17] hibatallahAouadni commented on #23784
Hello @gennaris

To display the taxes in the Order_detail like this:

![image](https://user-images.githubusercontent.com/23308427/113322754-600d1b00-9315-11eb-98e6-becb613b7664.png)

You need to enable this option **Display tax in the shopping car**:

1. BO>IMPROVE>International>Taxes
2. Scroll down to **Tax options**
3. Enable the option
4. Save

![image](https://user-images.githubusercontent.com

[2021-04-01 16:23] #23774 closed, assigned to nobody

[2021-04-01 16:25] gennaris commented on #23784
@hibatallahAouadni
Please take a minute to review the entire discussion.
You will see that I am aware of the existence of that feature, but that is not the issue.

Problem is how Prestashop is displaying order data in table with this configuration
as explained during issue opening.

As there's no indication of tax excluded price and tax is in the middle of other fields,
if you sum the table colums

[2021-04-01 16:25] khouloudbelguith commented on #23753
Hi @marionf,

I attached a screen record
https://drive.google.com/file/d/1iGV2jzXKlZSmHeSWsQl2clu4KrhhTNNa/view?usp=sharing

Thank you!

[2021-04-01 16:32] hibatallahAouadni commented on #23821
Hello @dutyhook

Could you please check this issue #16879 and this one #9779 too.
Please check and feedback.

Thanks!

[2021-04-01 16:41] 6xthFNGR opened #23864 "SMTP Outgoing Server prompts invalid credentials due to password lenght / special characters with SMTP Errorcode 535 5.7.8"
#### Describe the bug

If the SMTP Passwort for the Email Setup is too long, or contains some special characters, PrestaShop isnt supporting this password, causing for example a 535 5.7.8. error feedback.

#### Expected behavior

PrestaShop mustnt limit any character type or length. Its up to the provider to limit these parameters, and therefor should never expirience a second bottle neck by PS.

[2021-04-01 16:44] 6xthFNGR opened #23866 "STARTTLS, OAtuh2, NTLM, Kerberos / GSSAPI and other Email IMAP/SMTP Features Missing"
#### Is your feature request related to a problem?

StartTLS as encryption method is not available with PS Email SMTP Settings. It is only Plain, SSL or TLS available.
You also can NOT choose ANY encrypted password login like OAuth2 but rather have to use Plain.

#### Describe the solution you'd like

Simply: Implement industry standards like StartTLS, OAuth, NTLM, Kerberos ...

[2021-04-01 18:17] homer8173 opened #23867 "Store selection not displayed"
#### Describe the bug

i have a strange bug on many screens of the backoffice. When i have to select a store, no inputs are displayed.
Even without external any modules.
As a mandatory field it breaks all those BO screens.

#### Expected behavior

the list of stores

#### Symphony Doctrine report

PrestaShopBundle\Entity\AdminFilter | No errors.
-- | --
**PrestaShopBundle\Entity\Tab** | **The  ass

[2021-04-01 20:58] MatShir commented on #23612
@tswfi could you detail a bit why you would need this feature as a merchant ?
It looks an interesting suggestion, but it requires a bit more context to evaluate the feature ?

[2021-04-01 21:05] samberrry opened #23868 "X number of decimals are only displayed if the product price has X decimals"
#### Decimals for currencies not working on PresstaShop 1.7.7.3

I've set the Decimals for Omani Rial to **3**:

![Screen Shot 2021-04-01 at 4 01 29 PM](https://user-images.githubusercontent.com/20775532/113353787-cc7f1e80-9303-11eb-9e68-1ba4833c4612.png)

But it's not working:

![Screen Shot 2021-04-01 at 4 04 32 PM](https://user-images.githubusercontent.com/20775532/113353915-fc2e2680-9303-11eb-

[2021-04-01 21:15] ProteanCode commented on #23850
Yup, it is fine. I will add a note that with opcache disabled the problem does not occur

[2021-04-01 21:57] sam-beri commented on #23868
this is the same for dollar and any other currency.

[2021-04-02 01:48] eeffathi commented on #23868
I have the exact same issue with the decimal points in prices of my products. It won`t change if you for instance change the decimals from 2 to 3, it`ll show two decimal points, like (2.45) instead of (2.450).

[2021-04-02 06:51] #23842 closed, assigned to NeOMakinG

[2021-04-02 07:30] Julievrz commented on #23836
Hi @hibatallahAouadni the translation cannot be modified on Crowdin as it appears on an image. But I have the confirmation from a German proofreader that the translation should indeed be "Kein Bild verfügbar" with the B in upper case.

Here is the repo where the image should be updated: https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/langs/de/img/de-default-home.jpg

Thanks!

[2021-04-02 07:55] hibatallahAouadni commented on #23836
Hello @Julievrz

Thanks for your confirmation!

@lmeyer1 now you know what you have to fix the issue, so could you please create a pull request :muscle:

Thanks in advance!

[2021-04-02 08:15] amanv8060 commented on #21790
Any updates on when we will be able to use the new code , or else how can we manually add code in the codebase?

[2021-04-02 08:22] florine2623 commented on #23868
Hello @sam-beri @eeffathi

X number of decimals are only displayed if the product price has X decimals.
If produce price is **10.325€**, it will show **3 decimals**
If product price is **15.66€**, it will show **2 decimals**
The extra 0 won't be added to match the number of decimals chosen in configuration
Tested with multiple currencies, the result is the same.

![Capture d’écran 2021-04-02 à 1

[2021-04-02 08:29] florine2623 commented on #23866
Ping @PrestaShop/product-team @PrestaShop/prestashop-core-developers

What do you thing about @6xthFNGR 's suggestion ?

Thanks!

[2021-04-02 08:32] gennaris commented on #23827
@kpodemski @cricket-hockey
I am facing the same problem during a 1.6 => 1.7 data migration of a huge website (about 900k+ orders in **ps_orders**).
In my case target site is based on 1.7.6.2 version.

The same reported query from OP :

[code]
is taking 40+ seconds on my staging box (4 core VPS) and it seems is launched both on first opening
of the Products and Order page in backoffice making it al

[2021-04-02 08:45] PierreRambaud commented on #23866
I think it's a good idea, a lot of features are missing.
Feel free to create a pull request :+1:

Since we are not using it and we are really busy, I'm not sure the maintainer team will work on it soon.

[2021-04-02 08:48] florine2623 commented on #23859
Hello @Jerome08 ,
I can't reproduce your issue with PS 1.7.5.2 and 1-click-upgrade v4.12.0.
Please check my screen record :
https://drive.google.com/file/d/1JhlJP1qrmryalHpy6ELiVfbyEpo_lk0m/view

Can you enable debug mode ?

[2021-04-02 08:58] florine2623 commented on #23864
Hello @6xthFNGR ,
Could you specify which PrestaShop version is affected ?
Thanks

[2021-04-02 09:06] ldeprestashop commented on #23465
Maybe we will use Notion - instead of Google Doc -  for Release Note Draft ?

Notion offers comment feature like GDoc but  it's more easy to get markdown format because Notion is Markdown by design as opposed to GDocs.

[2021-04-02 09:12] Jerome08 commented on #23859
Hello

thanks,
it's same with or without debug mode, just "error"

https://user-images.githubusercontent.com/50581985/113401758-2fc08d80-93a4-11eb-96b8-19cf22031b06.mp4

https://user-images.githubusercontent.com/50581985/113401768-34854180-93a4-11eb-85fb-8b58b48102c3.mp4

[2021-04-02 09:23] RomainMazB commented on #22218
I'm facing this issue today...

@matthieu-rolland If you are talking about #22219 , this does not fix the issue and this issue would be more complicate to fix because the Hook is executed way before the `OrderHistory` is actually registered into the database due to only one thing: the function where the hook is executed does not save the `OrderHistory` into the database which is processed by the `

[2021-04-02 09:25] florine2623 commented on #23859
Can you make sure you are logged in as superadmin ?

[2021-04-02 09:26] RomainMazB commented on #20772
Don't need to re-open the issue because we already have one open, but this issue is a real one.

I've added more details about what happens in [this other issue's comment](https://github.com/PrestaShop/PrestaShop/issues/22218#issuecomment-812449744).

Just add a clear link for those who are facing the issue to easily solve the problem with a simple workaround.

[2021-04-02 09:28] florine2623 commented on #23867
Hello @homer8173 ,

I can't reproduce your issue in 1.7.7.0, PHP 7.3 :
![Capture d’écran 2021-04-02 à 11 27 28](https://user-images.githubusercontent.com/16019289/113403096-69929380-93a6-11eb-8abf-b174cbab4e96.png)

Is this a fresh install or an upgrade ?
Could you please provide us more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configur

[2021-04-02 09:33] marionf commented on #23836
@prestascott

Do you feel to update the text of [this image](https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/langs/de/img/de-default-home.jpg) for "Kein Bild verfügbar" ?

[2021-04-02 09:37] Jerome08 commented on #23859
yes my accouns is superadmin, i tried with another account, superadmin too, it's same

[2021-04-02 09:44] arirangz commented on #23810
Hello,

Please find below the screenshot.

I am using Chronopost module which ask to have 1 euro in the price and the module calculate the shipping on checkout.

![image](https://user-images.githubusercontent.com/1193727/113404640-c8590c80-93a8-11eb-8dbd-bb13d1092623.png)

Thanks for your help

[2021-04-02 09:53] arirangz opened #23870 "Html tags in order confirmation email if custom fields"
#### Describe the bug

When a client gets the email confirmation order with custom fields, html tags are showing in the email (see screenshot below)

#### Expected behavior

Html should not be escaped

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Order products with custom fields
2. See the email Order confirmation

**Screenshots**
![image](https://user-images.githubusercontent.co

[2021-04-02 09:59] florine2623 commented on #23833
Hello @estenolotienenadie ,
What is the version of 1-click upgrade tou are using ? I'm using v4.12.0
In Spanish, I have the refresh button :
![Capture d’écran 2021-04-02 à 11 58 11](https://user-images.githubusercontent.com/16019289/113405822-bbd5b380-93aa-11eb-8a84-e65336ef6c6a.png)

[2021-04-02 09:59] arirangz opened #23872 "Mail Alerts : New order email is wrong if custom fields"
#### Describe the bug

When an order contains more than one item of the same product with custom fields, all custom field of all products are displayed in each line

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Order twice the same product with different information in custom text field
2. See the new order emai

[2021-04-02 10:01] 6xthFNGR commented on #23864
All of them, up to the latest stable release.

[2021-04-02 10:08] yannicka commented on #23773
I already have a clear-cache script in a cron, and it doesn't solve the problem. I'm not sure it's the same issue.

[2021-04-02 10:22] estenolotienenadie commented on #23833
Hello, I had already found it, look at the image and you will see that the Refresh page button appears but still apear.....

Latest official version for directory channel.: No disponible

![Sin título](https://user-images.githubusercontent.com/64229330/113407624-f4c35780-93ad-11eb-9946-c1db6794d165.png)

I have already refreshed the page and you can see the date and time that I have done it and it

[2021-04-02 12:03] florine2623 commented on #23859
What is the link redirecting to the blank page ?
It should look like : `https://your_shop_url/your_admin/index.php?tab=AdminSelfUpgrade&token=your_token`

[2021-04-02 12:05] guigplt opened #23873 "AdminOrders loading slow in back office"
When I open AdminOrders page and I search for an order or I click on an order, it takes 10 to 20 seconds to load.
It seems to be because it's waiting for AdminStats completely loaded :
![image](https://user-images.githubusercontent.com/44002621/113414001-3c50e000-93bc-11eb-8aae-234b77d74c7f.png)

index.php?controller=AdminStats&token=fba97670eaf0edc0c5c2e8dd7950d75a&ajax=1&action=getKpi&kpi=averag

[2021-04-02 12:06] PrestaEdit opened #23874 "Bad management of categories images"
#### Describe the bug

While creating a category, you can add three images:

1. Cover
2. Thumbnail
3. Menu (Thumbnail)

The first one is used everywhere, but the thumbnails are never used and are not usable.
Classic theme take also the cover in order to show thumbnail in subcategories listing.

Also, deleting the cover image delete the two others ones and adding a new cover change the thumbnail.

[2021-04-02 12:22] florine2623 commented on #23870
Hello @arirangz ,
I was able to reproduce the issue with PrestaShop version 1.7.7.3.
![Capture d’écran 2021-04-02 à 14 22 00](https://user-images.githubusercontent.com/16019289/113415122-d31e9c00-93be-11eb-9b6e-25c7fe608a5b.png)

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2021-04-02 12:23] florine2623 commented on #23870
This is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/22330

So I close your issue.

[2021-04-02 12:24] florine2623 commented on #23870
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/22330

[2021-04-02 12:24] #23870 closed, assigned to nobody

[2021-04-02 12:31] florine2623 commented on #23873
Hello @guigplt ,

I can't reproduce your issue, please check my screen record :
https://drive.google.com/file/d/1BIM6MD-1LRAgp-Tm0hvBuGIiRB-PedTq/view

Can I deactivate these AdminStats ?
If you deactivate the stats, you won't be able to see the statistics in Statistics Tab :
![Capture d’écran 2021-04-02 à 14 30 02](https://user-images.githubusercontent.com/16019289/113415635-ebdb8180-93bf-11eb-

[2021-04-02 12:31] #23873 closed, assigned to nobody

[2021-04-02 12:36] Jerome08 commented on #23859
yes it look like urs
it's  ~/index.php?controller=AdminSelfUpgrade&token=   and my token at the end
u need all information? is it safe?

[2021-04-02 12:46] florine2623 commented on #23872
Hello @arirangz ,

Thanks for the report.
This is a duplicated of https://github.com/PrestaShop/PrestaShop/issues/16551

So I close your issue.

[2021-04-02 12:46] florine2623 commented on #23872
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/16551

[2021-04-02 12:46] #23872 closed, assigned to nobody

[2021-04-02 12:55] guigplt commented on #23873
The problem is not on statistics tab, it's kpi statistics on Orders page :
![image](https://user-images.githubusercontent.com/44002621/113416474-b9328880-93c1-11eb-9fa6-3f4c012a51fa.png)

Is it possible to deactivate it ?
Because it's useless.

The problem does not come from our server, I already checked.

[2021-04-02 13:07] florine2623 commented on #23874
Hello @PrestaEdit ,

Cover image is used in the category page :
![Capture d’écran 2021-04-02 à 15 02 58](https://user-images.githubusercontent.com/16019289/113417840-9b1a5780-93c4-11eb-808f-0645d5aa6ced.png)
After I deleted the image, it's been deleted correctly and not shown on category page :
![Capture d’écran 2021-04-02 à 15 05 25](https://user-images.githubusercontent.com/16019289/11341800

[2021-04-02 13:12] PrestaEdit commented on #23874
Yes,

You don't test to add only a thumbnail and/or to use different images on the three fields.

[2021-04-02 13:14] florine2623 commented on #23833
You can choose the local archive option and add the ZIP of PS 1.7.7.3 in admin/autoupgrade/download :
![Capture d’écran 2021-04-02 à 15 10 53](https://user-images.githubusercontent.com/16019289/113418398-b3d73d00-93c5-11eb-8c61-e8dff397e03d.png)
Add the zip file :
![Capture d’écran 2021-04-02 à 15 13 53](https://user-images.githubusercontent.com/16019289/113418566-0add1200-93c6-11eb-8315-ae8e3

[2021-04-02 13:32] pineappledev48 opened #23875 "Uncaught Error: Class 'Cache' not found in /classes/ObjectModel.php on line 2000"
Hi, i'm stuck with a problem related to a prestashop cloning procedure:

I've clone a working ps folder structrure (rsync -av source destination)
Setup right permission on file and folder
Exported a mysql dump of the databsae
Created a new database
Imported the dump

When try to access prestashop front office or back office page of the clonated installation i get this error:

[code]

I'm using apa

[2021-04-02 13:34] florine2623 commented on #23874
Please check my screen record : https://drive.google.com/file/d/11cZCqq0pjjBiNdDMqpX_AKbBiP3GJ1ag/view

[2021-04-02 13:38] PrestaEdit commented on #23874
Nice cat.

But, don't delete the cover, check that while you have change the first cover (1. Cover to cat image), see that the two others image was changed too.
And theses images have nothing in PrestaShop code to be used with.
So, it's two fields for nothing or not well handled.

[2021-04-02 13:50] homer8173 commented on #23867
Hello @florine2623
unfortunately i can't tell you how to reproduce this, i made an other install and everything is fine.

this shop have been installed from sources and datas imported by a module.

is there s a way to track this issue ? i need to fix this
What are the class involved into store selection ? ShopChoiceTreeType ?

There are no php error, no js error, just store input fields that are n

[2021-04-02 13:54] homer8173 commented on #23867
The ul.choice-tree is just empty and i have 3 shops
![image](https://user-images.githubusercontent.com/8720867/113421524-8db49b80-93cb-11eb-8198-48ebd1fe9806.png)

[2021-04-02 14:04] florine2623 commented on #23859
Yes, this is enough, and it is the correct link !

Sorry, but despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
We will close this issue.

 If you have questions about using PrestaShop or third-party modules, or if you need help with your

[2021-04-02 14:04] #23859 closed, assigned to nobody

[2021-04-02 14:07] estenolotienenadie commented on #23833
Thanks for your message, as you can see, I have done what you have indicated and I send you a screenshot, the problem continues, the update does not advance, it always stays in:

img/700X450.jpg added to archive. 57577 files left.

![Sin título](https://user-images.githubusercontent.com/64229330/113422685-6ced4580-93cd-11eb-9ecd-56217914779a.png)

![Sin título 2](https://user-images.githubusercont

[2021-04-02 14:08] florine2623 commented on #23875
Hi @pineappledev48 ,
Have you tried deleting cache `/var/cache/dev` and `/var/cache/prod` and `class_index.php` ?
Thanks!

[2021-04-02 14:28] florine2623 commented on #23810
Hello @arirangz ,

I can't reproduce your issue in PS 1.7.6 : https://drive.google.com/file/d/1tag-cbDCOrnT_KTOQds_oHr_SgAq6d0u/view

What is the weight of the product ?
Does the range of weight change  when adding changing the quantity of product in order ?

[2021-04-02 14:57] florine2623 commented on #23833
Hello @estenolotienenadie ,

I can't reproduce your issue using the local archive method :
![Capture d’écran 2021-04-02 à 16 38 32](https://user-images.githubusercontent.com/16019289/113425842-d6238780-93d2-11eb-960f-d76b5a7f8b57.png)
![Capture d’écran 2021-04-02 à 16 38 48](https://user-images.githubusercontent.com/16019289/113425848-d885e180-93d2-11eb-9b3a-6d62e14b74c4.png)
![Capture d’écra

[2021-04-02 14:57] #23833 closed, assigned to nobody

[2021-04-02 15:01] estenolotienenadie commented on #23833
Thank you for your help.
Regards,
Alberto.

[2021-04-02 15:23] Robin-Fischer-PS opened #23876 "Translation - Search in Translations Tree without result not disabled"
#### Describe the bug

When making a search in the translation, the "leaves" of the tree that does not include the searched term were disabled in 1.7.7, it's no longer the case in 1.7.8.

#### Expected behavior

The "leaves" on the Translations tree should appear disabled.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Have a shop with BO in English, and French language installed
1

[2021-04-02 15:31] estenolotienenadie commented on #23833
Hello, I have deactivated the 1 click upgrade module and I have activated it again and it works now correctly.

![Sin título 4](https://user-images.githubusercontent.com/64229330/113429676-3a494a00-93d9-11eb-8dad-dfd5a2a922ea.png)

Thank you.

[2021-04-02 15:54] Robin-Fischer-PS commented on #23286
Hello there,

Following these steps, I have an error :

1. Install PS 1.7.6.8
2. Install or upgrade Blockreassurance 5.0.0
3. Upload a custom image
4. Go to Display tab
5. In Global settings>Footer Position On All Pages, select Above footer
6. Set Debug Mode to ON (in BO > Configure > Advanced Parameters > Performance)
7. Go to FO, see error in Footer

![image](https://user-images.githubuserconten

[2021-04-02 16:02] hibatallahAouadni commented on #23286
Thanks @Robin-Fischer-PS for reproducing the issue :muscle:
I’ll add this to the debug backlog so that it’s fixed.

[2021-04-02 16:02] Robin-Fischer-PS opened #23878 "Translatations - Error in Email - Body Translations"
#### Describe the bug

On 1.7.8, when I modify translations of Email Body, an error is displayed. There was no error in 1.7.7.

Content of the error : "Email subject translation file not found in _[PATH]_/mails/fr/"

#### Expected behavior

No error :smile:

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to International > Translations
2. In "Modify Translations" select "Email tr

[2021-04-02 16:13] pineappledev48 commented on #23875
Yes off course, nothing change. Also I've try to copy the cache folder from
source to destination, same result. What this error mean ?

Il Ven 2 Apr 2021, 16:09 florine2623 ***@***.***> ha scritto:

[2021-04-02 16:39] hibatallahAouadni commented on #23868
Hello everyone,

As it's a new feature, I didn't manage to reproduce the issue with PS1.7.6.7.
So, it's a regression :wink:

[2021-04-02 16:46] hibatallahAouadni commented on #23875
Hello @pineappledev48

Could you please edit your issue **respecting and following the provided template**, and please fill all the block (**steps to reproduce**, **PrestaShop version**, ...).
Please check and feedback.

Thanks!

[2021-04-02 16:55] hibatallahAouadni commented on #23873
Hello @guigplt

You can override it (for exemple: add a class with css `display: none;`):

![image](https://user-images.githubusercontent.com/23308427/113436420-f8260580-93e4-11eb-9f24-1eb754a96644.png)

Thanks!

[2021-04-02 16:58] hibatallahAouadni commented on #23833
@estenolotienenadie Glad to hear :tada:

[2021-04-02 17:03] pineappledev48 commented on #23875
I will do, do you have an idea of the error cooming from ? The only thing
I've missed is the ps version, 1.7.6.9 , there is no way to reproduce this
issue because is a production clone website ... If someone can help me to
diagnose this I wil Thanks so much and go deeper in the cause

Il Ven 2 Apr 2021, 18:46 Hibatallah Aouadni ***@***.***> ha
scritto:

[2021-04-02 17:25] Jerome08 commented on #23859
finaly with firefow i had the upgrage page
i started to upgrade, now my prestashop is broken
i had this error :Erreur Javascript (parseJSON) détectée pour l'actionupgradeDb"Début de la restauration ..."

then the restoration failed too

[INTERNAL] /home2/xx/public_html/xxxx/config/config.inc.php line 123 - Error: Call to a member function getName() on null #0 /home2/xxx/public_html/xxxx/modules/au

[2021-04-02 17:38] sam-beri commented on #23868
@hibatallahAouadni
thanks for your consideration. Do you have any plan to fix this issue in the future releases?
thanks in advance

[2021-04-02 18:44] jemm971 commented on #23815
I had such a problem with categories where all products where imported using files.
Try to manually add one product in a category which not work with faceted search.
Then refresh (ctrl-F5) front office, and try again.
Then the category probably appears.
If not, try to reindex.

[2021-04-03 10:05] Maaarija90 opened #23880 "Lost link widget"
Hi,

I create link widget on home page/footer for Facebook but as I want now to remove it, I can not find it anywhere?

Pls asap respond

Marija

[2021-04-03 20:28] luigimassa opened #23881 "Fields Siret and Company are showed in login form"
#### Describe the bug

In checkout process, at first step, login, when B2B is enabled, the fields company and siret are shows. But this is not correct for all contries.

#### Expected behavior

Company and Siret not displayed in login form

#### Steps to Reproduce

Steps to reproduce the behavior:

1. enable B2B option
2. insert product in cart
3. click on checkout
4. See the login form: the are s

[2021-04-03 20:46] elodie66000 opened #23882 "Erreur fatale: Erreur non interceptée: Classe 'ComposerAutoloaderInit8923787e706e2b767e22977c65950cb6' introuvable dans /homepages/1/d729209043/htdocs/2020/modules/ps_emailalerts/vendor/autoload.php"
Bonjour

Prestashop 1.7.7.0

après la désinstallation du module ps_alert j'ai ce message erreur 500 et voici le message ressorti apres activation des bugs;

Erreur fatale: Erreur non interceptée: Classe 'ComposerAutoloaderInit8923787e706e2b767e22977c65950cb6' introuvable dans /homepages/1/d729209043/htdocs/2020/modules/ps_emailalerts/vendor/autoload.php

voici cote admin;

(1/1) ClassNotFoundExcep

[2021-04-03 21:02] narven-luxe opened #23883 "prestashop 1.7 barre de recherche ne fonctionne pas ( version mobile )"
Bonsoir,

 La barre de recherche fonctionne correctement sur PC main non pas sur smart phone :(  je ne peux même pas appuyer, pas de curseur, ni de clavier.

Prestashop 1.7.7

Informations sur votre serveur Linux #1 SMP Mon Mar 22 12:49:19 UTC 2021 x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.3.27

Merci pour Votre aide.

[2021-04-03 21:04] narven-luxe commented on #23883
Good evening,

 Search bar works fine on PC hand not on smart phone :( I can't even press, no cursor, no keyboard.

Prestashop 1.7.7

Information about your Linux server # 1 SMP Mon Mar 22 12:49:19 UTC 2021 x86_64

Server software version: Apache

PHP Version: 7.3.27

Thanks for your help.

[2021-04-03 23:35] ekuiperemr commented on #22215
My 2 Cents worth. IMHO
Here are the following issues:
1. Orders created with pprior versions of PS 1.7.7.3 contain NULL in the fields listed for UPDATE by 'jaleo' and others. PS 1.7.7.x. has bugs that it cannot handle during order browse.  It must handle it for view without correcting the historic ORDER data without any updates.
2. While listed UPDATE SQL hide this problem but it is still there.
3

[2021-04-04 00:51] andrebritocoelho commented on #23635
I'm having the same problem in 1.7.6.5, no cart after client registration, and some times the order process gives a redirection to homepage.

Any help?

[2021-04-04 02:03] Guisardo opened #23884 "Custom delivery pdf slips"
#### Is your feature request related to a problem?

I need to be able to customize the delivery slips to apply the different formats and connect them to the different generators provided by the delivery platforms.

#### Describe the solution you'd like

Ideally, we should apply a hook so the code can by attached from the delivery modules or from specific modules.

#### Alternatives you've consider

[2021-04-04 22:08] mvorisek commented on #16471
we should start with separate config with level 1 or 2

[2021-04-05 07:56] hibatallahAouadni commented on #23880
Hello @Maaarija90

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-04-05 07:56] #23880 closed, assigned to nobody

[2021-04-05 09:28] hibatallahAouadni commented on #23882
Hello,

Please send your request in English. English is the norm on GitHub.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in t

[2021-04-05 09:28] #23882 closed, assigned to nobody

[2021-04-05 09:39] hibatallahAouadni commented on #23884
Hello @Guisardo

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I've searched for a hook that could help in this [list](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/) but I couldn't find, so what do you think shall we approve his request specially he already created a pull request?

[2021-04-05 09:52] hibatallahAouadni commented on #23883
Hello @narven-luxe

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-04-05 09:52] #23883 closed, assigned to nobody

[2021-04-05 10:07] ybenhssaien opened #23887 "[Bug] bin/console cache:clear open connection to database"
# Bug

Clearing cache without database connection open throw exception (screenshot below)
![image](https://user-images.githubusercontent.com/7301643/113562895-326eed00-9607-11eb-86b5-fc0e03cb92ea.png)

# To reproduce
1. Shut down database server
2. execute `bin/console cache:clear` or `bin/console cache:clear --no-warmup`

[2021-04-05 10:28] hibatallahAouadni commented on #23875
Hello @pineappledev48

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2021-04-05 10:28] #23875 closed, assigned to nobody

[2021-04-05 12:06] amanv8060 opened #23888 "No detection of tags in prestashop"
#### Describe the bug

I am using prestashop metrics and ps_googleanalytics 4.0.0 .

i can see the google analytics code in beteween head tags in my frontend

[code]
i can also see data in google analytics
but prestashop metrics shows
`It looks like no tag has been installed on your store yet. You can configure one easily using our free Google Analytics module. Click here to configure this module.

[2021-04-05 14:49] hibatallahAouadni commented on #23887
Hello @ybenhssaien

Could you please provide your PrestaShop version and your PHP version.
Please check and feedback.

Thanks!

[2021-04-05 14:51] hibatallahAouadni commented on #23888
Hello @amanv8060

Could you please provide steps to reproduce the issue and your PHP version.
Please check and feedback.

Thanks!

[2021-04-05 14:55] hibatallahAouadni commented on #23881
Hello @luigimassa

Do you mean that you encounter this issue only with PS1.7.7.2 and PS1.7.7.3? And you didn't encountered with PS1.7.7.1? Is that so?
Please check and feedback.

Thanks!

[2021-04-05 15:25] nikos83 commented on #22386
In my case it looks like is related to the employee - assigned to the status change on order status change history. I have deleted some employee in the past. After dig in database I can see employee -with id 1 was assigned to the status change my order - but there is no employee with ID 1 it was deleted long time ago. Is there any other way to fix that issue?

[2021-04-05 15:51] Hlavtox commented on #23884
The same for invoices and other documents - 90% of my clients use external invoicing software.
It would be nice if Prestashop could provide a way to integrate it easily. :-)

[2021-04-05 16:02] amanv8060 commented on #23888
php version : 7.3.27
Steps to reproduce :
1 ) configure google analytics by prestashop 4.0.0 ,
2 ) install and configure prestashop metrics 1.3.3.

 And this problem appears

[2021-04-05 16:03] amanv8060 commented on #23888
Also can't see ecommerce data in google analytics

[2021-04-05 17:17] hibatallahAouadni commented on #23631
Hello @BenTen ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-05 17:17] #23631 closed, assigned to nobody

[2021-04-05 17:17] hibatallahAouadni commented on #23648
Hello @RHermant ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-05 17:17] #23648 closed, assigned to nobody

[2021-04-05 17:20] hibatallahAouadni commented on #23654
Hello @PrestaEdit ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-05 17:20] #23654 closed, assigned to nobody

[2021-04-05 17:21] hibatallahAouadni commented on #23647
Hello @RHermant ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-05 17:21] #23647 closed, assigned to nobody

[2021-04-05 17:22] hibatallahAouadni commented on #23633
Hello @ang3lx ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-05 17:43] gabriserra commented on #11126
Hi guys, sorry for replying this issue.

I had the same identical trouble with displaying error messages during `hookActionOrderStatusUpdate`. None of the solutions provided worked for me. @erickjrp neither the `throw new PrestaShopException('Invalid field XX');` because it shown "Unhandled exception" without the customized error message.

I found the only way is to use the right domain Exception.

[2021-04-05 18:07] Guisardo opened #23890 "BO: Differentiate the fields that are saved on change from the ones that need click on the save button"
#### Is your feature request related to a problem?

There is only usability issues, it is not clear for the users if a change at the BackOffice is going to be saved automatically or if the user needs to click the save button. On the auto-saved fields, when a change is made, the system automatically triggers the change persistance asynchronically, and after the change is correctly saved a message i

[2021-04-06 05:24] amanv8060 commented on #23888
i can see ecommerce data now

[2021-04-06 06:38] pineappledev48 commented on #23875
Thank you very much!

Il giorno lun 5 apr 2021 alle ore 12:29 Hibatallah Aouadni <
***@***.***> ha scritto:

--
Pineapple S.r.l.

Tel: 0245071999
Sede: Via Martiri Della Liberazione 38, 16043 Chiavari GE Italy
* <http://www.pineapplesrl.it/>   <http://www.pineapplesrl.it/>
<http://www.pineapplesrl.it> * <http://www.pineapplesrl.it/>
*PINEAPPLE® GROUP*

www.pineappleitaly.com/pineapplegroup

*PINEA

[2021-04-06 06:45] lmeyer1 commented on #23836
Thanks, @hibatallahAouadni. I'll create the pull request.
What font to use ? The font in the German image is not good neither, but I don't recognize the font used for English and French.
I could use *Noto Sans*, since this is the font of the classic theme, or what's correct?

[2021-04-06 06:51] #23642 closed, assigned to PierreRambaud

[2021-04-06 07:17] matks commented on #23887
Hi @ybenhssaien it's because of how the application is bootstrapped, as the Console loads the application. It's a minor issue indeed.

[2021-04-06 08:06] Hlavtox opened #23892 "New product button does not work on iOS Safari"
#### Steps to Reproduce

1. Get your hands on any iPhone. Open Safari.
2. Go to BO, Catalog, Products.
3. Click on Add new product.
4. Does not work.

#### Workarounds

- Double click the button fast
- Rotate phone to landscape
- Force touch the button and select "Open in new tab"

#### Additional information

- PrestaShop version: 1.7.6.2, 1.7.6.5 and 1.7.7.3
- Devices: iPhone XS, iPhone 11, iPho

[2021-04-06 08:10] NeOMakinG commented on #23892
Hey @Hlavtox, did you test on 1.7.8 ? I think it works as the button changed, but not sure :)

[2021-04-06 08:24] hibatallahAouadni commented on #23836
@prestascott could you please answer @lmeyer1 question :pray:
Thanks in advance :relaxed:

[2021-04-06 08:26] hibatallahAouadni commented on #23888
Hello @amanv8060

How did you fix your issue? Could you please explain the process.

[2021-04-06 08:52] Hlavtox commented on #23892
@NeOMakinG Yes, fixed! ;-)

[2021-04-06 08:52] #23892 closed, assigned to nobody

[2021-04-06 08:54] hibatallahAouadni commented on #23892
Hello @Hlavtox

Sorry, I have to close this issue cause it's already fixed on develop branch, please check my screen record below:

https://drive.google.com/file/d/1KxwB89VC_6-_iZntXRwGcIckxdaShex1/view

Thanks @NeOMakinG for the tip :wink:

[2021-04-06 08:54] guigplt commented on #23873
Hi,
CSS rule display:none won't avoid these js kpi stats to be loaded.

[2021-04-06 09:05] hibatallahAouadni commented on #23890
Hello @Guisardo

So, you're asking to add more details in the success message while saving, is that so?

If so, thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , do you think is it doable to add more details in the success message while saving?

PS: related to #17713

[2021-04-06 09:31] mvorisek opened #23893 "PrestaShopException::displayMessage() does not show error message"
#### Describe the bug

see title - exception message is NOT displayed

source code: https://github.com/PrestaShop/PrestaShop/blob/1.7.7.3/classes/exception/PrestaShopException.php#L43

#### Expected behavior

see title - exception message is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

Break the install like by adding:
[code]
here: https://github.com/PrestaShop/PrestaShop/

[2021-04-06 09:34] matks commented on #19314
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/23894

[2021-04-06 09:41] prestascott commented on #23836
Hello, everyone.

Thanks for your request @lmeyer1!

The font used is surprisingly "Franklin Gothic Book" which is weird because we're using "Open Sans" in our back office.

Here is the fixed image:
![de-default-home](https://user-images.githubusercontent.com/54888056/113691646-f1d9a700-96cc-11eb-8ecd-106c292bc09c.jpg)

[2021-04-06 09:44] jorr-it commented on #23777
I found a workaround to avoid the bug. If you put the code below at line 51 of the source code I delivered in first post, the problem will be prevented.

[code]

The code takes over the id_default_image property from the existing product resource and applies this to the blank scheme. It happens in step 3 of the repoduction steps I described.

To my humble opinion, this is just a workaround and the

[2021-04-06 10:04] denys202 opened #23895 "Associated products: use of first found language id"
#### Describe the bug

In BO when the associated product doesn't have a traslation for the first language, that is not a default language, when we add an assoicated product there is only reference that is displayed, without title.
![image](https://user-images.githubusercontent.com/52750352/113692829-3e71b200-96ce-11eb-9306-6d07b6eb4ea9.png)
It happens because we use this condition here \PrestaShop

[2021-04-06 10:32] hibatallahAouadni commented on #23893
Hello @mvorisek

Thanks for your PR!
But you need to edit your issue description **following the provided template to submit a complete bug report** and please fill all the blocks (steps to reproduce, PrestaShop version , PHP version, ...).
Please notify me after editing your issue :wink:

Thanks!

[2021-04-06 10:37] mvorisek commented on #23893
@hibatallahAouadni ping

[2021-04-06 11:22] ioniks commented on #23838
Hi @hibatallahAouadni

What is the option for ps_layered_filter_show_out_of_stock_last_on  in ps_layered configuration ?

[2021-04-06 12:05] matks commented on #23588
@bmcarvalho @Prestaworks PR merged https://github.com/PrestaShop/PrestaShop/pull/23856

this will be fixed in 1.7.8

[2021-04-06 12:07] #13769 closed, assigned to matks

[2021-04-06 12:09] matks commented on #13769
@aDamelincourt Is this bug completely fixed by https://github.com/PrestaShop/PrestaShop/pull/23742 or only partially?

[2021-04-06 12:34] hibatallahAouadni commented on #23895
Hello @denys202

I didn't manage to reproduce your issue with PS1.7.6.7 and PS1.7.7.3, see the attached screen record below:

https://drive.google.com/file/d/1fmjvT7cMBjJosaZQpo4uOn5oC2iDWeic/view

Please check and feedback.
Thanks!

[2021-04-06 12:48] MatShir commented on #9671
@aDamelincourt @matks the PR #23742 doesn't fix this issue ?

[2021-04-06 12:51] khouloudbelguith opened #23897 "BO - Edit product page v2 - An error is displayed when saving image settings"
#### Describe the bug

In the BO > Catalog > Product Edit page v2 > when we click on "save image settings" for  selected images (2 images or more) => an alert is displayed
![image](https://user-images.githubusercontent.com/16067358/113712984-1773aa00-96e7-11eb-9479-72e38571a70e.png)

#### Expected behavior

Ping @PrestaShop/product-team what do you think?
This button should be displayed?

#### Ste

[2021-04-06 12:52] denys202 commented on #23895
@hibatallahAouadni it's another use case, see my video please. https://drive.google.com/file/d/1um5HPJ84JeUBstm4ZNf4kLyQDTTcolF8/view
It happens when we use add a product in assoicated the doesn't have a translation for the first language.

[2021-04-06 12:54] aDamelincourt commented on #13769
I tested this particular case. It is corrected, you can no longer order a pack when the stock of products in the pack is not available.

[2021-04-06 12:57] khouloudbelguith opened #23898 "BO - Product page - Product list quick navigation cannot be opened"
#### Describe the bug

In the BO > Catalog > Products > Product details page, when we click on the "Product list" => the quick navigation modal is not opened & an error is displayed in the console
![image](https://user-images.githubusercontent.com/16067358/113714005-3a528e00-96e8-11eb-922e-da88986af78a.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/113713

[2021-04-06 13:02] khouloudbelguith opened #23899 "BO - Product details page - an error is displayed in the console"
#### Describe the bug

In the BO > Catalog > Products > Products details page > an error is displayed in the console
![image](https://user-images.githubusercontent.com/16067358/113714544-cbc20000-96e8-11eb-84df-e02157d7b711.png)

#### Expected behavior

No error displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Product list page
2. Add/Edit a product
4.

[2021-04-06 13:06] hibatallahAouadni commented on #23777
Hello @jorr-it

I think there's something not working with your script :confused: it always display `HTTP ERROR 500`.
[prestashoptest.php.txt](https://github.com/PrestaShop/PrestaShop/files/6264816/prestashoptest.php.txt)

Please check and feedback.
Thanks!

[2021-04-06 13:10] hibatallahAouadni commented on #23080
Ping @marionf could you please specify what kind of infos you need :pray:
Thanks in advance.

[2021-04-06 13:17] hibatallahAouadni commented on #23827
Hello @cricket-hockey

That issue is not supposed to have some fix, I asked you if it's similar to yours. So, could you please check it again #14703.

In my case target site is based on 1.7.6.2 version.

@kpodemski any idea about this issue? :sweat_smile:

Thanks!

[2021-04-06 13:20] hibatallahAouadni commented on #23893
Hello @mvorisek

This is an amazing step :sweat_smile: but how can I do it?
Please be patient and list step by step to reproduce the issue (I'm not supposed to be a developer) :wink:

Thanks!

[2021-04-06 13:23] hibatallahAouadni commented on #22796
Hello @HartLarsson ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-06 13:23] #22796 closed, assigned to nobody

[2021-04-06 13:25] matks opened #23901 "No Multistore header in the translation BO component"
This bug seems to be related to [Refactoring of Translation storage component](https://github.com/PrestaShop/PrestaShop/issues/19242) project and [Multishop 1.7.8](https://github.com/PrestaShop/PrestaShop/issues/19304) project

## Issue description by @Robin-Fischer-PS https://github.com/PrestaShop/PrestaShop/pull/23696#issuecomment-812523672

In Multistore, I have no header in the translation com

[2021-04-06 13:29] hibatallahAouadni commented on #23638
Hello @dariusakafest ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-06 13:29] #23638 closed, assigned to nobody

[2021-04-06 13:47] NeOMakinG commented on #23897
Fixed here : https://github.com/PrestaShop/PrestaShop/pull/23672

The button should not be displayed at all as there are no action with it for the moment

[2021-04-06 13:53] 6xthFNGR opened #23904 "Footer text formating differs between PS Core, Link Widget and Legal Compliance Blocks & differs at Home and Order Checkout Page"
To not alter the chronologic understanding, the original text stays unaltered, but to understand the issue please see my reply
https://github.com/PrestaShop/PrestaShop/issues/23904#issuecomment-814998100

Original Title:
Footer text formating differs on Order Checkout

#### Describe the bug

On the Order Checkout Page, but only the last page where you confirm the payment options,
the footer text i

[2021-04-06 13:54] gennaris commented on #23827
Hello all,
FYI - I've done some investigation on that query.

It's called in **/classes/Notification.php** , inside _getLastElementsIdsByType_ method for notifications refresh.
Since query is using SQL_CALC_FOUND_ROWS and join all "critical" ps tables - It runs for several seconds , over-stressing DB on huge populated shops.

I had to override the method to the customer , otherwise the backoffice

[2021-04-06 13:57] NeOMakinG commented on #23898
Already fixed by https://github.com/PrestaShop/PrestaShop/pull/23846

[2021-04-06 14:03] cricket-hockey commented on #23827
@gennaris This sounds like exactly the same problem I am having.

Would you be able to give me the override you used please?

[2021-04-06 14:13] NeOMakinG commented on #23899
It's a problem inside ps_mbo, it shouldn't include module_card file as it's already included in the core

[2021-04-06 14:22] gennaris commented on #23827
@cricket-hockey sure - note that this will cause loss of notifications in bo.

Inside the **getLastElements()** method :

Add this :

        foreach($this->types as $type) {
            $notifications[$type] = array('total' => 0, 'results' => array());
        }

        return $notifications;

Right after

    $notifications = array();

This way the queries inside **getLastElementsIdsByType()**

[2021-04-06 14:36] hibatallahAouadni commented on #23904
Hello @6xthFNGR

On my side, with fresh install PS1.7.7.3 (even on [demo.prestashop.com](https://demo.prestashop.com/#/en/front)) the footer is not displayed with/without the GDPR module. See the attached screen record below:

https://drive.google.com/file/d/1yjMQhV4B_vP7YkEASTFx-jDw_FoAt5Ux/view

Please check and feedback.
Thanks!

[2021-04-06 14:37] 6xthFNGR commented on #23904
Hey,

try Legal Compliance, its the Module that alters it I think.

Greets

[2021-04-06 14:41] cricket-hockey commented on #23827
@gennaris Thank you, you're a star!

We don't need the BO notifications, so that's no problem. My code (1.7.7.2) was a little different though:

`    public function getLastElements()
    {
        $notifications = [];
        $employeeInfos = Db::getInstance(_PS_USE_SQL_SLAVE_)->getRow('
		SELECT id_last_order, id_last_customer_message, id_last_customer
		FROM `' . _DB_PREFIX_ . 'employee`
		WHER

[2021-04-06 14:41] 6xthFNGR commented on #23904
Lol. After watching your video its clear that you did not understood the issue as you do not have ANY Footer Boxes....

[2021-04-06 15:00] tajriba opened #23906 "New vat rules Europe?"
https://ec.europa.eu/taxation_customs/business/vat/modernising-vat-cross-border-ecommerce_en

Any idea how to arrange the new EU vat rules in pretashop?
will there be a module for this to see if you sell more than 10.000 in a specific country ?

[2021-04-06 15:08] coluccini commented on #23799
@PierreRambaud can you please give me a hint where should I modify the module to change the listing meta title to use the filtered attributes? I'm upgrading a store from PS 1.6 to the latest version, but I can launched with out that because Google has already indexed hundred of pages with the meta title having the attributes in it 😔

[2021-04-06 15:19] matks commented on #23906
Hi @tajriba I know the product team has carefully studied the question so I ping them

[2021-04-06 15:33] #9671 closed, assigned to nobody

[2021-04-06 15:33] matks commented on #9671
@MatShir misclick 😛

[2021-04-06 16:22] gennaris commented on #23827
@cricket-hockey

Adding the code after :

    $notifications = [];

will be fine.

Not sure if commenting everything will trigger PHP warning / errors here and there.

I edited the function to return the same PS expected array with 0 values to avoid triggering the "problematic" queries.

[2021-04-06 16:24] luigimassa commented on #23881
Yes, correct
Only from 1.7.7.2

[2021-04-06 16:25] matks commented on #19396
@marionf PR submitted https://user-images.githubusercontent.com/3830050/113743377-e6ee3900-9703-11eb-9e18-23c5b095a3cc.png

It looks like the UI Kit was updated recently so the message now looks better

<img src="https://user-images.githubusercontent.com/3830050/113743377-e6ee3900-9703-11eb-9e18-23c5b095a3cc.png">

[2021-04-06 16:35] atomiix commented on #23708
This should be fixed when https://github.com/PrestaShop/ps_dataprivacy/pull/21 will be merged (and released)

[2021-04-06 16:46] fyndpriser opened #23909 "BO - Edit product page - all categories have already expanded automatically in product page"
Hi,

I have more than 1500 categories and all categories have already expanded automatically in product page we cannot click any button.

A clear and concise description of what went wrong.

The problem appeared after upgrading to 1.7.7

1. Go to Catalog > Product list page
2. Click on save
3. Scroll down to '....'
4. See error

https://drive.google.com/file/d/19iQV0NnhpJEI8-Ma0CozFkmhIx7eavuB/vie

[2021-04-06 18:30] montecitofrance opened #23910 "Blank page after update"
Hello,

Following the update of prestashop on my site I have a big problem, my site is all white and I no longer have any functionality on the left side of my BO.

Can you help me please?

Thanks in advance,

[2021-04-06 20:35] aswanik11 commented on #14202
@studiokiwik, Thank you for the detailed info to reproduce the issue. it solved my problem.

[2021-04-06 21:18] mvorisek commented on #23893
Break the install like by adding:
[code]
here: https://github.com/PrestaShop/PrestaShop/blob/develop/bin/console#L25

and run `tests-legacy/create-test-db.php`

[2021-04-06 23:43] granvilletea commented on #22215
Okay this worked for me! Thanks

[2021-04-07 07:52] florine2623 commented on #21014
Hello,
since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2021-04-07 07:52] #21014 closed, assigned to nobody

[2021-04-07 07:54] florine2623 commented on #23190
Hello,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2021-04-07 07:54] #23190 closed, assigned to nobody

[2021-04-07 08:01] florine2623 commented on #23670
Hello,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2021-04-07 08:01] #23670 closed, assigned to nobody

[2021-04-07 08:13] florine2623 commented on #23653
Hello,
since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2021-04-07 08:13] #23653 closed, assigned to nobody

[2021-04-07 08:19] florine2623 commented on #23910
Hello @montecitofrance ,
It seems like your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/23166

Please check this comment regarding your issue : https://github.com/PrestaShop/PrestaShop/issues/23166#issuecomment-783184675

I'll close your issue. Feel free to open a new one and follow the bug report template :
![Capture d’écran 2021-04-07 à 10 18 58](https://user-images

[2021-04-07 08:19] #23910 closed, assigned to nobody

[2021-04-07 08:22] tswfi commented on #23612
@MatShir as a merchant:
* saving extra data under products that is useful for the merchant but should not be shown to customers
  * the merchant case where this came up in was with customs CN codes. Merchant needs these codes and a nice place to keep them with the product data would be in a product feature. But that information is not required for the customers to see.
* another case would be whil

[2021-04-07 08:51] darkf3d3 opened #23914 "Add a setting to disable "Social Title""
I think that Prestashop need to implement into back office a setting to disable completely social title.

**Specs**
A toggle is displayed on customer setting page.
The toggle label: 'Ask for customers\' title' in _Admin.Shopparameters.Feature_
 The toggle is enabled by default.
When the option is disabled, the social title are not displayed on the checkout process in the front office.

[2021-04-07 09:03] NeOMakinG commented on #21173
I think not providing the default value should not crash at all, it looks relevant to me

[2021-04-07 09:12] florine2623 commented on #23914
Ping @PrestaShop/product-team ,

Is a feature to disable Customer social titles possible ?
![Capture d’écran 2021-04-07 à 11 09 06](https://user-images.githubusercontent.com/16019289/113841468-0764d480-9792-11eb-9a58-ccd83e901470.png)

Thanks!

[2021-04-07 09:15] kenlog opened #23915 "[Stripe module] Encountered some incorrect charges"
#### Describe the bug

Hi guys, I have encountered some incorrect charges, specifically in one case greater than the order amount and in another case lower. The version of the [Stripe module](https://github.com/202-ecommerce/stripe_official) used 2.3.1
If you provide me with information on how to proceed to identify the cause of the bug we could investigate further.
Thanks

#### Additional informa

[2021-04-07 09:29] decom-media opened #23917 "https://partners-subscribe.prestashop.com/ not working"
--> it is an important bug within the prestashop "cloud", but, tried already to address this topic to the prestashop support and does not seem to change anything - please forward to the responsible person/team

#### Describe the bug

https://partners-subscribe.prestashop.com/ is not working

--> this subdomain is used to connect stripe module to stripe within the connection process (and maybe also

[2021-04-07 09:33] lmeyer1 opened #23919 "ImageManager should support webp images"
#### Is your feature request related to a problem?

Prestashop does not accept images in webp format, but this format is now widely used. It would be great for Prestashop to allow the import of webp images for products.
Since webp is not supported by all browsers, it would make sense to convert webp images to png.

#### Describe the solution you'd like

`ImageManager::create` should accept `IMAGET

[2021-04-07 09:47] matks commented on #23917
Hi @tom75 the people in charge have been informed

[2021-04-07 09:47] lmeyer1 opened #23920 "Using `png_all` option in BO, all images should have transparent background in FO"
#### Describe the bug

This is somewhere between a bug and an improvement.

When choosing `Use PNG for all images` (`png_all`) as Image format (in menu *Design - Image Settings*), the background is transparent when the original image is in png format and white otherwise.

#### Steps to reproduce
1. Use these two images. [test_images.zip] One is in png format, and one is in jpg format (https://gith

[2021-04-07 09:57] florine2623 commented on #23915
Hello @kenlog ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support) or you can contact directly the developer of the module.

Alternatively, you can also ask for help in the [

[2021-04-07 09:57] #23915 closed, assigned to nobody

[2021-04-07 09:58] TinoArts commented on #23815
@jemm971 Didn't work, I've added a test product, the number of products in faceted filter got increased, but I still couldn't activate the filter. Rebuilding the index didn't work either. Thank you anyway.

**However I believe I found the problem. It does NOT work, if category name contains characters like "/" (slash) or "-" (hyphen).**

To reproduce:

1. I click on category "G36 / G3" filter, pre

[2021-04-07 09:58] florine2623 commented on #23291
Hello @fedeanimation ,
since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-04-07 09:58] #23291 closed, assigned to nobody

[2021-04-07 10:14] francct commented on #22878
Hi @matks

I understand the "impact" logic currently used for price and weight, instead of absolute values, because a seller could have 100 combinations, where only one of them has a weight/volume/price variation and doesn't need to set the values in every single combination. However, I think it is really rare for this to happen and instead in 99% of the cases the conditions that occur are:

- Sam

[2021-04-07 10:51] florine2623 commented on #23635
Hello,

I also tried in PS 1.7.7.3, I can't reproduce the issue.
@andrebritocoelho I suggest upgrading your shop to PS 1.7.7.3 version.

Thanks!

[2021-04-07 11:43] andromaque opened #23922 "The decimal of wholesale prices on attributes is lost when editing the product"
#### Describe the bug

The decimal of the attributes wholesale prices is lost when the product is edited, and then the calculations of profits are wrong.

#### Expected behavior

The wholesale price should stay the same when the product is edited.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. From the Back-Office: Catalog / Products, click to edit a Product with attributes
2. Go t

[2021-04-07 12:25] guigplt commented on #23873
Is it possible to disable these js loading ?

[2021-04-07 13:16] florine2623 commented on #23909
Hello @fyndpriser ,

I couldn't reproduce your issue.
I upgraded from 1.7.6.9 to 1.7.7.3.
In my product page, the categories are displayed like the usual :
![Capture d’écran 2021-04-07 à 12 25 08](https://user-images.githubusercontent.com/16019289/113851953-4d269a80-979c-11eb-884f-b779632f8fe0.png)

What version did you upgrade from ?

[2021-04-07 13:43] lmeyer1 commented on #23192
I try to find out how to restrict the choices for the customer group, but I don't find a solution.

In `src/PrestaShopBundle/Resources/config/services/bundle/form/form_type.yml` I could change `getChoices()` to `getChoicesByShopId()` :
[code]
and create that new method in `src/Adapter/Form/ChoiceProvider/GroupByIdChoiceProvider.php`  similar to `getChoices`
[code]
The problem I face with this appr

[2021-04-07 13:46] PierreRambaud commented on #23799
I have no idea :sweat_smile:

[2021-04-07 14:01] jorr-it commented on #23777
@hibatallahAouadni

Do you mean that my script gives an error 500 or that the webservice of PrestaShop returns an error 500?

Here are two suggestions. At the top of the script you have to set $url and $key static variables to a PrestaShop instance of your own. Secondly, in your PrestaShop instance, you have to set the constant _PS_MODE_DEV_ to true. This can be done in config/defines.inc.php. Aft

[2021-04-07 14:27] florine2623 commented on #23922
Hello @andromaque ,
I can't reproduce your issue in PS 1.7.7.3.
Please check my screen record and feedback : https://drive.google.com/file/d/1gzE7P0gQDIJZ-qho3O-ax_5gCArmWf6d/view

Thanks!

[2021-04-07 14:45] florine2623 commented on #23904
Hello @6xthFNGR ,

I see the exact same thing as @hibatallahAouadni on fresh install 1.7.7.3.
On checkout page, there's no footer displayed, so i can't see the text formatted differently.

Also, I use GDPR module, v1.2.1 :
![Capture d’écran 2021-04-07 à 16 39 47](https://user-images.githubusercontent.com/16019289/113885826-72c59b00-97c0-11eb-98c4-c686e044aec4.png)

Here you can see my Position i

[2021-04-07 14:56] florine2623 commented on #23881
Hello @luigimassa ,
For which countries is it incorrect ?
Is the wording of the field that is incorrect ?
Thanks!

[2021-04-07 15:10] florine2623 commented on #23920
hello @lmeyer1 ,
For what type of images do you reference to ?

For example, for the logo, the image chosen is already transparent :
![Capture d’écran 2021-04-07 à 17 07 15](https://user-images.githubusercontent.com/16019289/113889649-b7066a80-97c3-11eb-9bd4-3f5bc9bec812.png)
![Capture d’écran 2021-04-07 à 17 07 30](https://user-images.githubusercontent.com/16019289/113889673-be2d7880-97c3-11e

[2021-04-07 15:15] 6xthFNGR commented on #23904
Hello.

to get this into some order:
I am thinking I remember some option in the Backend that allows to decide if the Footer is displayed on Checkout - but I was not able to make it out right now,
this could be because I am maybe confusing it with the Reassurance Block and its Configure - Display Options that allow to set display options.

To bring a quick solution:
I use the Link Widget and have

[2021-04-07 15:15] florine2623 commented on #23895
Hello @denys202 ,

That's the expected behavior.
If you don't add a translation, it won't display.

@PrestaShop/product-team do you confirm that this is the normal behavior ?
Thanks!

[2021-04-07 15:20] denys202 commented on #23895
@florine2623, I am not agree with you. Why we show english translation in block with associations, when French is choosen in BO? even not english translation, but the first found translation. You think it's a good behavior?

[2021-04-07 15:23] florine2623 commented on #23919
Hello @lmeyer1 ,
Please stay tuned as I ping product-team for your suggestion !
Thanks!

[2021-04-07 15:24] florine2623 commented on #23919
Ping @PrestaShop/product-team ,

@lmeyer1 suggests to add a new format for images : WEBP.
Now GIF, PNG and JPG are accepted.
What do you think ?

Thanks!

[2021-04-07 15:39] #23759 closed, assigned to NeOMakinG

[2021-04-07 15:45] luigimassa commented on #23881
I saw for Italy

[2021-04-07 16:04] marionf commented on #23919
Hello,

This feature request has already been submited, please follow this issue: #10356

Thank you!

[2021-04-07 16:04] marionf commented on #23919
Duplicate of #10356

[2021-04-07 16:04] #23919 closed, assigned to nobody

[2021-04-07 16:04] lmeyer1 commented on #23920
Sorry, I was not quite clear, and the explanation was not complete.

Your demonstration picture is in PNG format, so it is not possible to show the point with it.

I mean this:
- Given *Image format* is *Use PNG for all images* in menu *Image Settings*
- Given *Generate images based on one side of the source image* is *Automatic (longest size)* in menu *Image Settings*
- Given a light template wit

[2021-04-07 16:09] lmeyer1 commented on #23919
@marionf  Thanks, I will look at the other thread in depth. Sure this is also related to <picture> tag and fallback to jpg.

[2021-04-07 16:39] andromaque commented on #23922
Hi @florine2623 , maybe it has to do with the fact that you have an English locale where I have a French one. The decimal in English is a point (.) so you encounter no issue, whereas in French the decimal is a comma (,), which raises an issue.

[2021-04-07 18:04] Lorenz-00 opened #23928 "GIFT Product issue on PrestaShop"
I have to give a free product pack when any 4 products are in the cart .. I put 4 products A in the cart and the free product B appears (and therefore they become 5 products in the cart). The problem starts when I remove 1 package of product A from the cart, the free product B is still free because there are actually always 4 products in the cart ..

I hope I have explained .. do you know how to u

[2021-04-07 20:47] fyndpriser commented on #23909
I upgraded from 1.7.7.0 to 1.7.7.1. and  from 1.7.7.1 to 1.7.7.2 then from 1.7.7.2 to from 1.7.7.3
The problem appeared after upgrading to 1.7.7.0

[2021-04-07 21:56] mvorisek opened #23930 "CI must warn if composer.lock does not satisfy composer.json"
#### Describe the bug

see title

#### Expected behavior

CI must detect the issue

#### Steps to Reproduce

see https://github.com/PrestaShop/PrestaShop/pull/23896/commits/57386655354d935f013b2bcf55d708604ee41a1f and related CI results

#### Additional information

* PrestaShop version: develop

[2021-04-07 21:58] alfonsolr09 commented on #20057
I think it is silly since that product weight is not shown in the F.O.
 The weight of the product + package should be written in the "weight" box as it is a transport control.

also how much does a package weigh? I don't think weight is that important ... it is better to even raise 1kg the weight to all products

[2021-04-07 22:04] alfonsolr09 commented on #23922
https://youtu.be/yXKb9vbAO8M
I could reproduce the problem

[2021-04-07 22:05] alfonsolr09 commented on #23922
I think it is because if you do not enter the "combinations" tab and save the product, the decimals are reset

[2021-04-07 22:07] alfonsolr09 commented on #23920
I did not understand the problem well, can you make a video?

[2021-04-07 22:10] alfonsolr09 commented on #23914
yes, you can delete the treatments and they will not appear

[2021-04-07 22:45] darfk3d3 commented on #23914
Yes, I saw that's possible to delete them, but I think that could be useful having the possibility to show/hide them from front office.
For example If you just want to stop asking for them but keep the datas of already registered customer, or simply bacause I case you decide to enable them again you you don't have to create new social titles.

[2021-04-07 23:06] alfonsolr09 commented on #23914
Cierto

[2021-04-08 06:44] lmeyer1 commented on #23920
I don't think a video is worth it.

If the explanation above is not enough, try it yourself: make the settings I suggest, prepare 2 rectangular images, a jpg and a png, then import them.
In the HTML of the product image add `style="background:#eee;"` :
`<img src="https://fr.ps.sbgmb.net/62673-home_default/colorie-les-psaumes-livre-1-direction.jpg" alt="Colorie les Psaumes - Livre..." data-full-siz

[2021-04-08 07:12] lmeyer1 commented on #10356
@MatShir You removed this from the 1.7.8.0 milestone. Does this mean it will not be done before 1.7.9.0 and thus not before 2022?

[2021-04-08 07:13] florine2623 commented on #23928
Hello @Lorenz-00 ,
In PS 1.7.7.3, this no longer happens. Please check my screen record : https://drive.google.com/file/d/1JRExTpyCms9bZLte6Ctp4QDmIyC70Y7F/view

This is fixed, so I close this issue.
Thanks!

[2021-04-08 07:13] #23928 closed, assigned to nobody

[2021-04-08 07:16] matks commented on #23917
Hi @tom75 it seems it is expected that `/` on this server is not working, however multiple other endpoints on this server are being used and, as far as we can tell, are working fine. We see no issues in how the service answers incoming requests.

The people in charge of this service will reach out to the Module developer team of the Stripe module to sort this out.

[2021-04-08 07:16] #23917 closed, assigned to nobody

[2021-04-08 07:19] florine2623 commented on #23930
Ping @PrestaShop/prestashop-core-developers
Should I add the To Do label ?

Thanks !

[2021-04-08 07:34] florine2623 commented on #23922
Hello @andromaque ,

Default language is French, my BO language is English :
![Capture d’écran 2021-04-08 à 09 24 33](https://user-images.githubusercontent.com/16019289/113985800-d2698800-984c-11eb-83f3-11c4f98e0fe3.png)
I tested again multiple time. I entered the Combination tab, I stayed out, when in again, I can't reproduce your issue.
Please check my screen record :
https://drive.google.com/

[2021-04-08 07:36] madsoliver opened #23932 "Unable to remove text by translating to whitespace in email translations where parameters exist"
#### Describe the bug

A common way to remove an unwanted text from PrestaShop is to "translate" to a blank space, aka ` `.

**I have an email with the translation:**
`{{ 'Your order with the reference [1]{order_name}[/1] has been shipped.'|trans({'[1]': '<span class="label">', '[/1]': '</span>'}, 'Emails.Body', locale)|raw }}`

The merchant goes to email translations and searches for _Your order

[2021-04-08 07:36] florine2623 commented on #23909
_The problem appeared after upgrading to 1.7.7.0_
-> What version did you have previous to 1.7.7.0 ?

[2021-04-08 07:37] florine2623 commented on #23881
What exactly is the issue ?
The wording of these 2 fields ?

[2021-04-08 08:14] florine2623 commented on #23932
Hello @onklmaps ,
Thanks for the report. manage to reproduce it in PS 1.7.7.3 :
https://drive.google.com/file/d/1pH2Bh2lIXxLjX10IxyLEvulnw-Lr2k1Q/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-04-08 08:34] Betafer commented on #23909
i always had this problem, on ps 1.5 1.6 many version and also 1.7

[2021-04-08 08:34] mvorisek commented on #23930
@florine2623 not waiting for dev, I already submitted a PR :)

[2021-04-08 08:37] MatShir commented on #10356
@lmeyer1 we didn't have enough resources and time to finish the PR unfortunately. We hope to integrate it in 1.7.9.0

[2021-04-08 08:44] #23635 closed, assigned to nobody

[2021-04-08 08:53] #23909 closed, assigned to nobody

[2021-04-08 08:55] lmeyer1 commented on #10356
I understand, it is a highly complex problem, that affects everything from importing images, backoffice, .htaccess, templates, device screen resolution and more.
I implemented this all on my side, but unfortunately, it is a solution that might break backwards compatibility and cannot be easily generalized.

[2021-04-08 08:57] Betafer commented on #23909
Hello, i don't think is a server configuration problem because i had it with more server configuration, with debian, ubuntu, both ispconfig and plask, many different apache config.

Maybe the problem is present with large catalog with many categories as i can see in @fyndpriser video. we also have many categories

[2021-04-08 08:59] florine2623 commented on #23904
Hello @6xthFNGR ,

The option to display footer in the checkout process doesn't exist on PS natively.
You must be using a external module that allows that or you changed /themes/your theme/templates/checkout/_partials/footer.tpl file.

At installation, here's the file you should have :
[footer.tpl.zip](https://github.com/PrestaShop/PrestaShop/files/6277444/footer.tpl.zip)

[2021-04-08 09:06] #19314 closed, assigned to matthieu-rolland

[2021-04-08 09:12] andromaque commented on #23922
Hi @florine2623,

Once again, I think it comes from your locale. In your BO, the decimal is a point, not a comma.
In my case, and also @alfonsolr09, the decimal is a comma, which causes the trouble (it's not recognized, then the decimal part is truncated).

Change your locale to a country where the decimal is a comma, and you'll experience the same issue.

[2021-04-08 09:31] lmeyer1 commented on #10356
More related features, that were not yet mentioned:

- For now all files are saved with an extension `.jpg`, either with the original file format (gif/ jpg/ png), everything in jpg or everything in png format, according to the setting *Image format* in *Design - Image Settings*. To optimize the space used, it would make sense to save all images in webp format. => Add an fourth option to *Image for

[2021-04-08 09:43] idnovate opened #23933 "Cart rule is not removed from the cart when it expires"
#### Describe the bug

When a cart rule is applied in the cart and it expires, it is not removed from the cart. The customer can finish the order with the cart rule applied.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule that expires in 5 minutes (for example)
![image](https://user-images.githubusercontent.com/15104724/114001817-93dbc980-985c-11eb-9c64-165c166bfc

[2021-04-08 09:47] marionf opened #23934 "Multistore header not displayed on stock & movements pages if a specific shop context is selected"
#### Describe the bug

On stock & movements pages, when a specific shop context is selected, the multistore header disapears

#### Expected behavior

Display the multistore header if a specific shop contect is selected

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable multistore in shop parameters > general
2. Advanced parameters > multistore > add a new shop
3. Set an URL for

[2021-04-08 10:01] florine2623 commented on #23922
Hello @andromaque ,

Sorry, I managed to reproduce your issue in PS 1.7.7.3 when the decimal is separated by a comma (,).
https://drive.google.com/file/d/1MYjewnexjyKPLd0NGgJ_46uPYV5THHZf/view

Your issue is a know issue, the original issue : https://github.com/PrestaShop/PrestaShop/issues/9972 is already in our debug roadmap.
The PR : https://github.com/PrestaShop/PrestaShop/pull/20144

I'll clos

[2021-04-08 10:04] florine2623 commented on #23933
Hello @idnovate ,
Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20009

Please check and feedback.
Thanks!

[2021-04-08 10:07] Hlavtox commented on #23007
+1 to this one.
I can make a million orders with the same email as a guest, but as soon as I register with it, I suddenly can't.
Same situation when chaging customer's email in BO...

[2021-04-08 10:12] Hlavtox opened #23936 "Merchant is unable to determine which customer is registered"
#### Is your feature request related to a problem?

When searching for a customer account, the merchant is unable to see which customer from the list is registered, and which are guest accounts.

#### Describe the solution you'd like

Display "Registered" YES/NO in the list. Maybe along with a customer group - related to: https://github.com/PrestaShop/PrestaShop/issues/23116

**Screenshots**

![Vý

[2021-04-08 10:13] andromaque commented on #23922
Hi @florine2623,

well... I can see that the issue has been opened in 2018, and the PR is pending since August 2020.
@matthieu-rolland said the PR #20144 was not resolving the issue it was addressed to.

Unless I'm wrong, the PR #23929 is solving the issue, and the #20144 is stuck and maybe for a while... So I don't know what should be done, but maybe we need the input of @matthieu-rolland first?

[2021-04-08 10:23] #23933 closed, assigned to nobody

[2021-04-08 11:04] khouloudbelguith commented on #23897
Hi @NeOMakinG,

The specs are defined in this issue: https://github.com/PrestaShop/PrestaShop/issues/12773
https://projects.invisionapp.com/share/FNUG4HDJRVH#/screens/389372882

Thank you!

[2021-04-08 11:44] khouloudbelguith opened #23937 "BO - Products page - Multistore header not displayed on Product Add / Edit page"
#### Describe the bug

In the BO > Catalog > Products > Product Add and Product Edit page, the multistore header is not displayed

#### Expected behavior

It should be displayed as in PS177
![image](https://user-images.githubusercontent.com/16067358/114020594-0e621480-9870-11eb-9903-28c981479080.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable multistore in shop parameter

[2021-04-08 11:55] matks commented on #23937
@matthieu-rolland told me it is because the Product Page is missing the right HTML `container`

[2021-04-08 11:56] #19396 closed, assigned to matks

[2021-04-08 11:57] khouloudbelguith opened #23939 "Multistore - BO - Products page - An exception is displayed when adding a product and a group shop is selected"
#### Describe the bug

When multistore is enabled, in the BO > Catalog > Product page, when we try to add a product when a group shop is selected (different from the default group), an exception is displayed

#### Expected behavior

You should have an alert
![image](https://user-images.githubusercontent.com/16067358/114021932-8977fa80-9871-11eb-98fe-2cbe0f0ff290.png)

#### Steps to Reproduce

Step

[2021-04-08 12:03] fyndpriser commented on #23909
I usually don't change anything in the server configuration so I don't think it's related to the problem.

[2021-04-08 12:05] fyndpriser commented on #23909
from 1.7.6.9 to 1.7.7.0
I always update the version as soon as it is released.

[2021-04-08 12:24] alfonsolr09 commented on #23922
@florine2623 reopen this

[2021-04-08 12:39] florine2623 commented on #23936
Hello @Hlavtox ,
Thanks for the suggestion, i'll ping PS product team !
Stay tuned!

[2021-04-08 12:40] florine2623 commented on #23936
Ping @PrestaShop/product-team ,

Can this new feature be added to the Customer Page ?

Thanks!

[2021-04-08 12:44] MatShir commented on #23897
It will be implemented for the 1.7.9.0. Nice catch, you don't miss any details ;)

[2021-04-08 12:45] eternoendless commented on #9893
"Link Widget" belongs to the ps_linklist module. In order to be translatable, each Tab must be recorded in the database with the corresponding translation wording and translation domain. To fix Link Widget, the fix must be done in the module itself. Same thing for any other Tab added by any other module.

[2021-04-08 13:03] ghost opened #23941 "Don't display warning if module is disabled (ps_wirepayment)"
#### Describe the bug

When the module is disabled a waring is display

#### Expected behavior

Dont show warning is module is disabled

#### Steps to Reproduce

Steps to reproduce the behavior:

1 ) Disable the module
2 ) Go to module catalogue
3)  Check Warning
**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* Prest

[2021-04-08 13:09] ghost opened #23942 "Don't display warning if module is disabled (ps_checkpayment)"
#### Describe the bug

When the module is disabled a waring is display

#### Expected behavior

Dont show warning is module is disabled

#### Steps to Reproduce

Steps to reproduce the behavior:

1 ) Disable the module
2 ) Go to module catalogue
3)  Check Warning
**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* Prest

[2021-04-08 13:10] yannicka commented on #22834
Would it be possible to add a configuration to do that?

[2021-04-08 13:26] 6xthFNGR commented on #23904
Hello florine2623,

for sure you are right and its not a standard option,
but this behaviour is not triggered by any external module, because I do not use any external module except the 1-Click Upgrade, Legal Compliance, GDPR, PayPal and Stripe by 202 (PS official),
and its not ty the theme because I use the unaltered standard theme.

Like I mentioned, I guess the webhooks may be the cause of the

[2021-04-08 13:28] florine2623 commented on #23920
Hello @lmeyer1 ,
Could you send both of your pictures for test ?
I tested with my dice image in PNG and JPG, the result is the same :
![Capture d’écran 2021-04-08 à 15 27 53](https://user-images.githubusercontent.com/16019289/114034990-fd6ccf80-987e-11eb-8565-1841aeaaf7c7.png)
[PNG_transparency_demonstration_1.png.zip](https://github.com/PrestaShop/PrestaShop/files/6278964/PNG_transparency_demon

[2021-04-08 13:30] KFTE opened #23944 "Presta - Premium Google Tag Manager - Google Analytics - doubled revenue"
Hi guys,

I have an issue in Google Analytics I see all values in revenue doubled compare to real amount.
Orders are imported correctly in GA ecommerce - numbers, products everything OK only amount by each order is doubled. Please see attached screenshot from Presta and GA ecommerce.
PrestaShop 1.7.6.4.
Premium Google Tag Manager 2.5.1
Google Analytics universal free version

Do you have any idea

[2021-04-08 13:33] okom3pom commented on #23944
Check if the module is not hooked two time.

But the best way is ask the developer, here it's for prestashop core

[2021-04-08 13:41] florine2623 commented on #23838
Hello @ioniks ,

In PS 1.7.7.1, here are the tables containing the word "layered", there's no `ps_layered` of `ps_layered_configuration` :
![Capture d’écran 2021-04-08 à 15 39 44](https://user-images.githubusercontent.com/16019289/114036947-c7c8e600-9880-11eb-8efe-8898fdfc650d.png)

I don't see `ps_layered_filter_show_out_of_stock_last_on`

[2021-04-08 13:43] KFTE commented on #23944
Hi @okom3pom, thank you, I contacted Customer Service - PrestaShop Addons and they recommended me to create an issue here on GitHub. Module is hooked only once... :/

[2021-04-08 13:45] ioniks commented on #23838
Hello @florine2623

I talk about plugin configuration field.

![image](https://user-images.githubusercontent.com/11200935/114037508-59385800-9881-11eb-8c8e-d4026391f45b.png)

in url /admin710mmbzfr/index.php?controller=AdminModules&configure=ps_facetedsearch

[2021-04-08 13:45] marionf commented on #23080
@hibatallahAouadni

Discussions are in progress in the PR: https://github.com/PrestaShop/PrestaShop/pull/23075 to better understand the need as it wasn't very clear ;)

[2021-04-08 13:48] okom3pom commented on #23944
It's this link to contact the module developer :

https://addons.prestashop.com/fr/contactez-nous?id_product=27146

[2021-04-08 13:52] KFTE commented on #23944
Yeap exactly:
![image](https://user-images.githubusercontent.com/82026208/114038622-50945180-9882-11eb-8753-f9c44eb29caf.png)

[2021-04-08 13:52] lmeyer1 commented on #23920
Is your image rectangular ? A square picture will not show the problem.
Did you change the inline styles as indicated ? If you dont change the CSS or the inline styles, you won't see the problem.

The point of this bug correction (or feature as you call it) is : custom themes are no longer restricted to white image background.

[2021-04-08 13:57] okom3pom commented on #23944
ps_googleanalytics is disabled on your shop ?

[2021-04-08 13:59] florine2623 commented on #23838
In PS 1.7.7.1, multistore, this is the result :
![Capture d’écran 2021-04-08 à 15 54 47](https://user-images.githubusercontent.com/16019289/114039278-e7f9a480-9882-11eb-8084-2f9e1776f937.png)
The product with 0 stock will be shown last on the category page.
![Capture d’écran 2021-04-08 à 15 57 28](https://user-images.githubusercontent.com/16019289/114039582-298a4f80-9883-11eb-9082-7029ac0b1c2b

[2021-04-08 14:10] ioniks commented on #23838
No, this is not the problem

To view the problem :
Modify product miniature to show the avalaible messsage
add {$product.availability_message} in templates/catalog/_partials/miniatures/product.tpl
Modify a product or create one
Set 0 to quantity
Set orderable when no stock avalaible
Set a avalaible later text
Go to category listing and show the available later message.

And set the option in Facte

[2021-04-08 14:17] KFTE commented on #23944
yes

[2021-04-08 14:22] e-gaulue opened #23945 "Unable to toogle inactive category in the BO product page category tree"
#### Describe the bug

Unable to toogle inactive category in the BO product page category tree.

#### Expected behavior

See children categories.

#### Steps to Reproduce

1. Create a level 3 category.
2. Make its parent inactive.
3. Go to the BO product page.
4. In the category tree, collapse all.
5. Then clic on the inactive parent.
6. It doesn't work.

#### Additional information

* PrestaShop

[2021-04-08 14:44] florine2623 commented on #23941
Hello @okom3pom ,

I manage to reproduce the issue in 1.7.7.3, so I can confirm that this behavior is indeed a bug.
It is added to the debug roadmap.

Thank you for your PR.

[2021-04-08 14:51] florine2623 commented on #23942
Hello @okom3pom ,
I reproduced your issue in PS 1.7.7.3 :
![Capture d’écran 2021-04-08 à 16 49 06](https://user-images.githubusercontent.com/16019289/114048168-99e89f00-988a-11eb-8986-fde58e72f8de.png)
![Capture d’écran 2021-04-08 à 16 49 48](https://user-images.githubusercontent.com/16019289/114048184-9c4af900-988a-11eb-97cd-0befdfecf7f2.png)

It is added to the debug roadmap. Thank you for y

[2021-04-08 14:57] okom3pom commented on #23942
Hi @florine2623

I don't understand is not display but a PR is linked for this issue :

https://github.com/PrestaShop/ps_checkpayment/pull/48

[2021-04-08 15:13] florine2623 commented on #23945
Hello @e-gaulue ,

In PS 1.7.7.3, I created my categories :
![Capture d’écran 2021-04-08 à 17 04 49](https://user-images.githubusercontent.com/16019289/114051568-7bd06e00-988d-11eb-8e3b-af20b08694b8.png)

In my BO, I'm in my parent category, it looks like this :
![Capture d’écran 2021-04-08 à 17 05 18](https://user-images.githubusercontent.com/16019289/114051635-8c80e400-988d-11eb-904b-81d47b9

[2021-04-08 15:29] KestasL opened #23949 "Bug in file classes/Address.php"
#### Describe the bug

The function return wrong return value
**file: classes/Address.php
function: getCountryAndState**

#### Expected behavior

The function should return array now return just false

#### Steps to Reproduce
Original function:
[code]

as I understand it should return:
[code]
**Screenshots**

#### Additional information

* PrestaShop version: 1.7.7.3
* PHP version: 7.4

[2021-04-08 15:41] florine2623 commented on #23949
Hello @KestasL ,
PrestaShop 1.7.7.3 is not compatible with PHP 7.4. Please downgrade to PHP 7.3.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Also, can you include the steps to reproduce the issue ?
Please check and feedback.

[2021-04-08 15:45] wzzly opened #23951 "Notice: Undefined property: Product::$mpn after upgrade to 1.7.7.3 from 1.7.6.9"
Hi,
when I try to edit a product in the backend, I got a message that the save didn't work. When I turn on debug mode, I got the following error...

Notice: Undefined property: Product::$mpn

please help, as I can't edit any product's price and stock now...

Version: 1.7.7.3
PHP: 7.2 (same problem on 7.3)

Uncaught PHP Exception Symfony\Component\Debug\Exception\ContextErrorException: "Notice: Und

[2021-04-08 15:51] florine2623 commented on #23944
Hello @KFTE ,

Can you go to your database, in table ps_ganalytics and check if the orders are correct of if they are doubled ?
Thanks!

[2021-04-08 16:00] mvorisek commented on #23893
desc updated with steps to reproduce, supposed for developers only ;-)

[2021-04-08 16:08] KestasL commented on #23949
This does not depend on the PHP version. There is a bug in the code.

I point to the wrong solution. The function return value must be:
 return self::$_idCountries;

For me, no matter do you make changes or not :). On our server, I made that change.

[2021-04-08 17:47] wzzly commented on #23951
Finally found the solution. I still had a product.php in my override/classes folder. I think this was a verry old one back from prestashop 1.5, as the contents are official prestashop... seems like this gave the error... after deleting the file everything works.... Updating prestashop is such a shitshow everytime... there should be a module to verify and fix a prestashop install and database becau

[2021-04-08 17:47] #23951 closed, assigned to nobody

[2021-04-08 20:19] soft-dot opened #23953 "Backorder status set to (Paid) using COD module"
#### Describe the bug

When ordering products with 0 stock and the option to allow orders is set to true in BO,  using the official COD module, the order status is set to Backorder (paid).

#### Expected behavior

When ordering out of stock products with COD as payment method, the correct status should be Backorder (Unpaid)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Place order

[2021-04-09 04:24] Bow460 opened #23957 "BO - Order page - The total price excluding taxes is displayed instead of the total price including taxes"
#### Describe the bug

In the BO, within an order, the total price shown in the title row and in the order total block, is shown without taxes instead of the price with taxes, this happens when selecting "show prices: taxes excluded" for a group of clients.

#### Expected behavior

Here are two parts:

1. When you enter in
the order, the total price of the title and the info block are shown exclud

[2021-04-09 04:51] lmeyer1 commented on #10356
To fully implement all these features, and keep backwards compatibility, we need to split this up in two parts:

## Part 1: Backoffice
Add new options for image resizing, that lay a solid foundation for all the improvements mentioned above, while providing 100% BC with default values:
- allow webp as source image format
- allow to save resized images as transparent png, webp or both
- allow for va

[2021-04-09 06:41] #21105 closed, assigned to Progi1984

[2021-04-09 07:22] #23836 closed, assigned to lmeyer1

[2021-04-09 07:22] #23843 closed, assigned to NeOMakinG

[2021-04-09 07:24] Progi1984 commented on #21105
PR Merged with #21751

[2021-04-09 08:36] matthieu-rolland commented on #9972
This issue might be fixed by PR #23929

[2021-04-09 08:39] matthieu-rolland commented on #23922
I reopened this issue after @andromaque's statement that it is not a duplicate of #9972, I'm not sure myself, so I specified in the PR that it could also fix #9972, just in case...

[2021-04-09 08:45] andromaque commented on #23922
Thank you! I think these 2 issues are not related, because one is caused by the comma being misinterpreted and truncating the decimals, while the other one is a problem of calculation due to a library (or a lack of a specific library for handling prices and rounding) that will be addressed in a future release... I think I heard @eternoendless speaking of this bad rounding issue for the rewrite of

[2021-04-09 08:48] Mmoraco opened #23958 "Dashgoals launches many connections to the database when accessing the dashboard"
#### Describe the bug

It launches many connections to the database when accessing the dashboard that does not close or sleeps and collapses the database that in my hosting has a maximum limit of 20.

Looking at the mysql processes in real time, the query that is executed by this module is not shown, it is only seen that a connection enters and it stays asleep until 20sg

#### Expected behavior

W

[2021-04-09 09:56] Progi1984 commented on #23506
Fixed by #23925

[2021-04-09 09:56] #23506 closed, assigned to atomiix

[2021-04-09 10:26] lmeyer1 commented on #23836
@Progi1984 Thank you for merging my first pull request.

[2021-04-09 10:33] Progi1984 commented on #23836
@lmeyer1 The first but not the last one.

[2021-04-09 11:11] NulAsh opened #23961 "Option to reset module without erasing data is not exist in 1.7"
#### Describe the bug

In Prestashop 1.7 when you want to reset the module, it don't give you the option to reset only the parameters and leave content in place.

#### Expected behavior

On reset confirmation modal windows should be two buttons, like in 1.6. So when you click "No - reset only the parameters", reset() method of a module should be called.

#### Steps to Reproduce

Steps to reproduce

[2021-04-09 11:14] elboletaire commented on #9972
Almost one year later I'm still waiting for issues to be answered and merged. I'm tired of how this project moves forward, so I'll close all my issues and PRs. Feel free to do whatever you want with them.

[2021-04-09 11:16] elboletaire commented on #20509
https://github.com/PrestaShop/PrestaShop/issues/9972#issuecomment-816610039

[2021-04-09 11:16] #20509 closed, assigned to nobody

[2021-04-09 11:16] elboletaire commented on #20333
https://github.com/PrestaShop/PrestaShop/issues/9972#issuecomment-816610039

[2021-04-09 11:16] elboletaire commented on #19291
https://github.com/PrestaShop/PrestaShop/issues/9972#issuecomment-816610039

[2021-04-09 11:16] #19291 closed, assigned to nobody

[2021-04-09 11:16] elboletaire commented on #19252
https://github.com/PrestaShop/PrestaShop/issues/9972#issuecomment-816610039

[2021-04-09 11:16] #19252 closed, assigned to nobody

[2021-04-09 11:16] elboletaire commented on #20099
https://github.com/PrestaShop/PrestaShop/issues/9972#issuecomment-816610039

[2021-04-09 11:16] #20099 closed, assigned to nobody

[2021-04-09 12:10] dali-rajab opened #23962 "Deactivating modules do not deactivate their overrides"
#### Describe the bug

After making(or installing) a module, a module which overrides a backoffice view, i deactivated it, but the overrides still activated.

#### Expected behavior

Normally, when deactivating a module, we expect its overrides to be deactivated to.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. I made a demo module with the following structure :
![foo_structure](h

[2021-04-09 12:23] rodbodtoo opened #23963 "BO - Customers - Exception displayed when email address is not in the correct format"
#### Describe the bug

I migrated customers from 1.6 to 1.7 (different servers) and got one warning of an invalid email address (like this: customername.@gmail.com)

Presta or the migration tool changed that to something like 1234567890@mail.com.

I attempted to edit this back to the original value (I know that's not valid according to the RFC for email addresses, but I didn't want to lose the inf