[2022-03-16 10:41] #27936 closed, assigned to nobody

[2022-03-16 10:57] Hlavtox commented on #27937
@musaffar-patel No hooks there man, we need to add them. There are no hooks for carrier eiher - https://github.com/PrestaShop/PrestaShop/issues/25336.

[2022-03-16 10:58] hibatallahAouadni commented on #27937
Hello @musaffar-patel

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement

[2022-03-16 11:12] musaffar-patel commented on #25336
In my case, ideally a simple hook in the file below would be very useful:
/src/PrestaShopBundle/Resources/views/Admin/Sell/Order/Order/Blocks/Create/shipping.html.twig

[2022-03-16 11:12] hibatallahAouadni commented on #27929
Hello @duongductuan

It seems your issue is not related to PrestaShop Core, cause I didn't manage to reproduce the issue with PS1784 + PHP7.4:

![image](https://user-images.githubusercontent.com/23308427/158577253-782946df-33e1-4136-a2ec-af954836d052.png)

Check your SSL certificat still valid or no :wink:
Sorry but I have to close the issue cause we use GitHub issues only to discuss about bugs an

[2022-03-16 11:12] #27929 closed, assigned to nobody

[2022-03-16 11:13] musaffar-patel commented on #27937
ideally a simple hook in the file below would be very useful:
/src/PrestaShopBundle/Resources/views/Admin/Sell/Order/Order/Blocks/Create/shipping.html.twig

[2022-03-16 11:46] MatShir commented on #27054
Another use case to handle from https://github.com/PrestaShop/PrestaShop/pull/27233

[2022-03-16 11:47] hibatallahAouadni commented on #27934
Hello @davemax

Could you please provide a basic module contain this code, so I can reproduce the issue :pray:
Waiting for your feedback.

Thanks!

[2022-03-16 12:07] davemax commented on #27934
Hey @hibatallahAouadni ,
it may take  1-2 days, I'm currently occupied with alot of stuff. But will try to upload it soon.

Here is an extra screenshot of generated HTML from presta 1.7 BO. Its not valid to have same [name] for inputs in a single form. It will override one another. It all because of the orginal commit where $name variable is used
![image](https://user-images.githubusercontent.com/

[2022-03-16 12:56] roskrzysztof opened #27938 "Importing products changes the default category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When importing additional data into

[2022-03-16 13:23] hibatallahAouadni commented on #27934
Hello @davemax

We will wait for your answer up to 20 days.
After 20 days, if we do not receive any response from you, we will close the issue.

Thanks!

[2022-03-16 13:34] hibatallahAouadni commented on #27938
Hello @roskrzysztof

You should downgrade your PHP version to 7.3, cause PS1778 is not compatible with PHP 7.4 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
Could you please check this issue #22235 seems similar to yours.
Waiting for your feedback.

Thanks!

[2022-03-16 14:16] roskrzysztof commented on #27938
After changing the php version to 7.3, the problem still exists.
The effect is as if it took a category column that is empty. And in csv there are only two columns INDEX # | EAN

[2022-03-16 14:17] Triloworld opened #27939 "Remove product from cart if customization and minimal quantity of 0 apply"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Adding customization on FO block fr

[2022-03-16 14:46] eternoendless commented on #24715
I think we might be able to just remove the dependency. It is currently used only by:

- AdminModulesController, where the unused code has been removed in #27912
- AdminTranslationsController, the old translation interface, which is perhaps not needed anymore

[2022-03-16 15:22] HanaRebaiQA commented on #27684
Hello,

I found the same exception using these steps after an upgrade from PS1752 to PS1785 :

1. Install 1752 with Spanich language and France Country
2. Add new languages (Arabic, Italian etc)
3. Change the BO language to Italian
4. Set the parameter (`_PS_DEBUG_PROFILING_, 'false')
5. Use the upgrade  with 1-Click Upgrade v 4.14
6. Go to BO > Dashboard (Welcome module displayed)
7. Click on `la

[2022-03-16 15:31] Robin-Fischer-PS commented on #27862
## QA update

- Automated test campaign on the build is done and OK.
- Manual functional test campaign is done and OK.

We are now performing an exploratory test on the build, last step of QA validation.

[2022-03-16 15:54] hibatallahAouadni commented on #27938
Hello @roskrzysztof

Could you please provide a screenshot or screenshots :pray:
And did you verify the issue I mentioned in my comment above?
Waiting for your feedback.

Thanks!

[2022-03-16 16:16] roskrzysztof commented on #27938
File csv:
`index;ean
4932459097;4002395283101`

![Opera Zrzut ekranu_2022-03-16_170512_new2021 narzedziadlafachowca pl](https://user-images.githubusercontent.com/9614897/158634576-61962ede-e44f-4df5-8e6d-9a527b406586.png)
![Opera Zrzut ekranu_2022-03-16_170819_new2021 narzedziadlafachowca pl](https://user-images.githubusercontent.com/9614897/158635106-d9b56ac6-ffee-4e5c-9c1b-c325befe36ff.png)
![Op

[2022-03-16 16:46] lmeyer1 opened #27940 "Checkout, change order of invoice and delivery address. Invoice address must be main address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-16 17:26] hibatallahAouadni commented on #27940
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-03-16 22:23] Hlavtox commented on #27940
@lmeyer1 THIS!

I am using this functionality in The Checkout OPC module, would never go back. I think we should make this configurable though, not everybody wants this behavior maybe. 👍

[2022-03-17 08:51] NeOMakinG commented on #27290
Yes, everything involved in classic should be on the classic repository! You're right

[2022-03-17 08:53] hibatallahAouadni commented on #27940
Ping @PrestaShop/prestashop-core-developers wdyt of @Hlavtox idea?

[2022-03-17 09:06] micka-fdz opened #27942 "Missing translations on psgdpr module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Missing default translations on `ps

[2022-03-17 09:32] hibatallahAouadni commented on #27942
Duplicate of #20526

[2022-03-17 09:37] micka-fdz commented on #27942
Hi @hibatallahAouadni, my issue isn't related to https://github.com/PrestaShop/PrestaShop/issues/20526 at all.
Mine is about translations on customer account page of module.

[2022-03-17 09:44] hibatallahAouadni commented on #27942
@micka-fdz could you please provide some screenshots :pray:

[2022-03-17 09:54] micka-fdz commented on #27942
![image](https://user-images.githubusercontent.com/50865159/158783836-56288860-d093-49db-991e-a83844fe548c.png)

[2022-03-17 10:40] ZingAsia commented on #20615
@HartLarsson
Thank you for very much for this, have you got the code for the error message

[2022-03-17 10:53] hibatallahAouadni commented on #27942
Indeed it's a duplicate of this one #22796

[2022-03-17 10:53] hibatallahAouadni commented on #27942
Duplicate of #22796

[2022-03-17 11:15] AureRita opened #27943 "Keep the same name for physical shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-17 11:18] mrports commented on #27684
the problem has been solved for some cases but there is many cases where the problem is still there take this as an example when i click to open a category in the back end then i get this error and i get the same error where i click on a product inside an order.
i get the same error aswell when i want to edit some products.
![category  error](https://user-images.githubusercontent.com/53506897/1587

[2022-03-17 11:48] eliiphaz commented on #27290
Okay, great, so I'm going to make my pull request on the classic-theme repo

[2022-03-17 11:49] Prestapepe commented on #26326
No, Its not solved.

I have 1.7.8.3 running and the bug is there.

The solution is [themes/classic/_dev/js/listing.js] and the folder _dev does not exist one the production files. (I guess because is a folder ment for development folder not for production)

Just go to prestashop.com download latest version and try to find the _dev folder.

[2022-03-17 12:59] hibatallahAouadni commented on #26326
@Prestapepe did you try this fix #26410?

[2022-03-17 13:13] hibatallahAouadni commented on #27939
Hello @Triloworld

I didn't manage to reproduce the issue with PS1778, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/158815959-2d921587-2019-49b2-a6e9-b49618cef18e.mp4

Please check and feedback.

Thanks!

[2022-03-17 13:18] Triloworld commented on #27939
Sorry. I use product with combinations. Maybe that is somehow connected to issue. I will update steps

[2022-03-17 13:33] Triloworld commented on #27939
Yeah, I find why. I have "0" in minimal quantity. So not only I can add to cart but i get stuck in cart

[2022-03-17 13:34] kpodemski commented on #27939
@Triloworld minimal quantity should be 1 🤔

[2022-03-17 13:43] Triloworld commented on #27939
Panel won't block that and it isn't working after switching back.
I embed from my site video: https://youtu.be/6zVvxxyEQKc
I show on first part isn't working and second part after empty basket it work for new one so setting can break basket and nothing from frontend and backend stop to setup 0 as minimal quantity

[2022-03-17 14:45] jf-viguier opened #27946 "Category controller should not hardcode a layout tpl"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The front Category controller call

[2022-03-17 15:01] khouloudbelguith opened #27948 "BO - An exception is displayed when doing a rollback"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed when doin

[2022-03-17 15:36] Robin-Fischer-PS commented on #27862
## QA update

The exploratory test session is now complete. The QA Team did not find any 1.7.8.5 regressions.

So it's a GO to continue the release process ! QA :heavy_check_mark:

And thanks a lot @PrestaShop/qa-functional for your hard work :)

[2022-03-17 15:46] HanaRebaiQA opened #27949 "FO - The facetedsearch module is not diplayed only when doing reset the module after an upgrade from 1.7.5.2 to 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The facetedsearch module is not dip

[2022-03-17 16:28] rytaf opened #27950 "Product price currency is false at seller back office order page and invoice pdf"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screenshot_20220317-191711_Chrome

[2022-03-17 16:49] khouloudbelguith opened #27951 "BO - Add new order - the Description of the voucher is not correct"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Orders > Add new order

[2022-03-17 17:46] MeKeyCool commented on #17095
Hi i spent few days on this bug and i add lot of troubles to reproduce with [my local environment](https://github.com/MeKeyCool/presta-deploy).

Here you can find some useful doc / resources :
- [QA docker repository](https://github.com/SD1982/dockerQA)
- [Prestashop docker repository](https://github.com/PrestaShop/docker/)
- [Disable HTTPS Redirect in Firefox](https://itadminguide.com/disable-htt

[2022-03-17 19:05] rudSarkar commented on #14822
Hi @Triloworld,

Great finding. Thanks for taking the time to look at it.

[2022-03-17 19:15] hibatallahAouadni commented on #27946
Hello @jf-viguier

Could you please provide a simple theme to reproduce this behavior :pray:
Waiting for your feedback.

Thanks!

[2022-03-17 19:18] hibatallahAouadni commented on #27950
Hello @LordIndustry

Could you please list clear and concise steps to reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-03-17 20:56] LordIndustry commented on #27950
The native language of my website is english and the default currency is usd.
Customers pay in different currencies. (Turkish lira)
I enter the product prices in usd default.
There is no problem with the customer during the ordering phase.
After the order is created, currency confusion occurs on the Order page and pdf files, as in the photo.
On the order page, the product price should appear in th

[2022-03-17 20:59] matks commented on #16134
I explored a bit this issue tonight.

The content of a block inside "Link list module" is stored inside MySQL table `ps_link_block`.

If you add the 5 first Pages to the block to the default configuration, the storage will contain that:
[code]

So the problem is that, when you save from the "BO > Design > Link list" page the configuration of the block, it stores the order of these pages like above

[2022-03-17 21:03] Maofree opened #27953 "Missing 300 items for pagination in some admin pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
I've upgraded many websites from

[2022-03-17 21:07] maofree commented on #27953
is it too late to add this fix on the next 1.7.8.5?

[2022-03-17 21:55] alfonsolr09 commented on #26638
totally agree

[2022-03-17 22:07] alfonsolr09 commented on #16306
when will the old product page be removed? maybe we should fix the problem on the current page until the new one is launched?

[2022-03-18 00:39] cmsmartj commented on #27603
hola buenas tengo mismo problema este problema no se si pueden tener una solución se los voy agradecer, no puedo editar categorias ni modificar ni agregar nuevo
¡Uy!... parece que ocurrió un error inesperado

Unexpected character "'" in "__string_template__d7cbc8ccf651226dc9bcec2e7e01cc4da86322d95a5b5ae47df5b332bcfe4588" at line 1.

[Twig\Error\SyntaxError 0]

![error](https://user-images.githubus

[2022-03-18 06:36] burty1109 opened #27954 "Backend Admin Cannot select "Stay Logged in""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Capture](https://user-images.gith

[2022-03-18 09:00] HanaRebaiQA commented on #27954
Hello @burty1109

Thanks for your report.
This issue is the same of this one [#27835](https://github.com/PrestaShop/PrestaShop/issues/27835 ) which is fixed in this [PR](https://github.com/PrestaShop/PrestaShop/pull/27843).
So, it'll be fixed in the next released version.

Thank you.

[2022-03-18 09:01] HanaRebaiQA commented on #27954
Duplicate of [#27835](https://github.com/PrestaShop/PrestaShop/issues/27835 )

[2022-03-18 09:01] #27954 closed, assigned to nobody

[2022-03-18 09:03] jf-viguier commented on #27946
@hibatallahAouadni hello,
You can use classic theme and remove the file : layouts/layout-full-width.tpl

[2022-03-18 09:22] matks commented on #25893
In order for this issue to move forward, bug https://github.com/PrestaShop/PrestaShop/issues/26557 must be fixed on 1.7.8.x

[2022-03-18 09:25] HanaRebaiQA commented on #27953
Hello @maofree

Thanks for your suggestion.
Your ticket seems to be an improvement of this functionality and not a bug.

So, the Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.c

[2022-03-18 09:27] kpodemski commented on #16134
@matks

It's exactly what I was thinking: add a sortable plugin to the list of pages so we can easily change via drag&drop.

If you have 🟢 from PM I can do it :-)

[2022-03-18 09:40] NeOMakinG commented on #26557
I was probably waiting for the improvement of the images, but It's a regression and should be fixed on 1.7.8.x so I will probably take a look

[2022-03-18 09:59] matks commented on #16134
Adding the `waiting for PM`

[2022-03-18 10:01] HanaRebaiQA commented on #27953
I think it will be so slow to load the page of 300 orders or customers.

[2022-03-18 10:05] maofree commented on #27953
Hi
what kind of problems there may be if the site is on a medium vps or dedicated server, but also for a shared, since now they are all on ssd disks? 100 are too few

[2022-03-18 10:23] florine2623 commented on #16356
As seen with @fabienvallon , I'm opening this issue back again

Thanks @marsaldev for you contribution !

[2022-03-18 10:26] HanaRebaiQA commented on #27950
Hello @LordIndustry

I tried to reproduce your issue with PS1784 using the same data that you used :
-English as a native language in my Shop
-USD as a default currency
I added many languages as Turkish in my shop, but i can't reproduce your issue.

https://user-images.githubusercontent.com/92912932/158986318-3c011b72-f416-44f1-bb65-4dc1cad97a0d.mp4

![image](https://user-images.githubusercontent.

[2022-03-18 10:27] micka-fdz commented on #27635
Hi. Any news here?

This bug is really boring when `yaml` folder is permanently created inside module folder under git versioning...

[2022-03-18 10:28] micka-fdz commented on #27635
It seems that `yaml` folder is sometimes created inside `admin-dev` folder.

[2022-03-18 10:37] NeOMakinG commented on #27511
I have a doubt, did we fix this? I feel like it's been fixed by another issue and this one is duplicated

[2022-03-18 10:42] LordIndustry commented on #27950
Hi @HanaRebaiQA Could you add a different currency and create the order with that currency? For example, euro or lira.

[2022-03-18 11:34] #27862 closed, assigned to matthieu-rolland, fabienvallon

[2022-03-18 11:47] dolmenhir opened #27964 "email's subject for admin in wrong language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm working in french language.
At

[2022-03-18 12:04] dolmenhir commented on #27954
While waiting for a fix, you can add these lines
`#login_form .form-group {
    position: relative;
}`
in "/[admin-folder]/themes/default/css/overrides.css"

[2022-03-18 12:56] #27950 closed, assigned to nobody

[2022-03-18 12:57] LordIndustry commented on #27950
I will add detailed information, it does not always occur and is not a critical issue.

[2022-03-18 13:38] hibatallahAouadni commented on #16306
@alfonsolr09 It will be removed on the next major patch 8.0.0 :wink:

[2022-03-18 14:05] #27910 closed, assigned to Progi1984

[2022-03-18 14:05] #14781 closed, assigned to matthieu-rolland

[2022-03-18 14:16] alfonsolr09 commented on #16306
that is, in less than 1 year probably right?

[2022-03-18 14:16] alfonsolr09 commented on #16306
that is, in less than 1 year probably right?

[2022-03-18 14:27] HanaRebaiQA commented on #27964
Hello @dolmenhir

Thanks for you report.
I was able to reproduce your issue with PS1778 & PS1784
![image](https://user-images.githubusercontent.com/92912932/159021040-b3b5e057-e4e7-4a3b-9594-1adf8a113ca5.png)

![image](https://user-images.githubusercontent.com/92912932/159020952-5f87fbe6-4124-4ce2-b541-613105c7d18d.png)

It's related to this one [#17810](https://github.com/PrestaShop/PrestaShop/is

[2022-03-18 14:40] MatShir commented on #16306
Hopefully this summer, you can follow the updates of the v 8.0.0 it this issue https://github.com/PrestaShop/PrestaShop/issues/26427 :)

[2022-03-18 14:44] NicolasCador opened #27967 "Customer Account / Order History ContextErrorException when it crashed during order creation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When an order is missing in table p

[2022-03-18 14:54] HanaRebaiQA commented on #27938
Hello @roskrzysztof

Thanks for your feedback!
First, I would know if the issue mentionned above is similar to yours ?
Then, could you please use change your shop to English to can understand more your screenshots.

Thank you!

[2022-03-18 15:06] intraordinaire opened #27968 "Add the possibility to load PHP resources files in modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-18 15:18] roskrzysztof commented on #27938
It is not similar, there the problem was with prices and tax id.

Before import
![image](https://user-images.githubusercontent.com/9614897/159029097-80b24942-9643-4ecb-8e38-b70fb175892b.png)
![image](https://user-images.githubusercontent.com/9614897/159029420-cc125dd2-34d8-4653-9276-cac3e0a881a5.png)

Imports from csv file
![image](https://user-images.githubusercontent.com/9614897/159029808-437ddf

[2022-03-18 15:27] HanaRebaiQA commented on #27946
Hello @jf-viguier

Could you please provide us more information about the second step `call an inactive or unauthorized category page` ?
We should use an api for that ? and could you please provide us a screen-shot or screen-record to can reproduce it clearly ?

Thank you!

[2022-03-18 15:31] HanaRebaiQA commented on #27967
Hello @NicolasCador

Thanks for your report.
Could you please specify what do you mean by `customer ZJA` ? And could you please provide us a screen-record / screenshots to can repoduce it ?

Thanks !

[2022-03-18 15:43] jf-viguier commented on #27946
- choose a category
- go to this category page in front
- Desactivate this category
- Reload this category page in front

Do the same with an inaccessible category (with customer groups)

[2022-03-18 15:47] hibatallahAouadni commented on #27942
Thanks for all details @micka-fdz I reopen the issue :wink:
@PrestaShop/prestashop-core-developers wdyt of this issue? isn't the expected behavior?

[2022-03-18 16:06] dolmenhir commented on #27964
Hi Hana,
Yes, related for me to #17810 for some phrases.
Others are there as "not yet an alert" in French.
![PS-no-alert-yet](https://user-images.githubusercontent.com/32955440/159038688-c7f8b474-0e99-4c22-a8a0-57c04309006c.jpg)

[2022-03-18 16:14] HanaRebaiQA commented on #27968
Hello @intraordinaire

Thanks for your report.
I was able to reproduce the issue using the same module that you attached in the PR.
![image](https://user-images.githubusercontent.com/92912932/159040963-937ba4fe-98f3-45a0-b503-33e517c88012.png)

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that th

[2022-03-18 16:21] HanaRebaiQA commented on #27939
Hello @Triloworld

Thanks for your report.
Your issue seems to be similar to this one [#18850](https://github.com/PrestaShop/PrestaShop/issues/18850). Do you confirm it ?

Thank you !

[2022-03-18 16:28] roskrzysztof commented on #27938
Please do this now on the basis of your product 'ref_hana'.
1. create a csv file with two columns: 'ref_hana';'4002395283101' and import as such
![image](https://user-images.githubusercontent.com/9614897/159042814-c92c1688-42b4-4dbf-b4fd-56f6ae966ee1.png)

2. and check if it has changed the default category

[2022-03-18 16:31] lmeyer1 opened #27970 "Translation of theme does not load default translation catalogue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I added some new wording in my temp

[2022-03-18 16:36] lmeyer1 commented on #27970
I found the bug, PR is coming. With the fix, the expected is happening:
![Capture d’écran 2022-03-18 173445](https://user-images.githubusercontent.com/7520695/159044627-f2671d4b-4133-4d7a-8aca-9b197c19c286.png)

[2022-03-18 16:52] matks commented on #27968
I think this is rather a topic to be validated by dev as it is a developer feature 😄  (and my opinion is: YES ! it's a great idea)

[2022-03-18 16:55] lmeyer1 commented on #27970
Duplicate of #27410

[2022-03-18 17:04] Triloworld commented on #27939
This one is about having customized product in cart and trying to remove It despite fact of changing quantity. Different place in code that block remove It from card and will stay even if #18850 will be fixed. I added screenshoot where product is blocked from future processing

[2022-03-18 17:08] Triloworld commented on #27939
Example:
- you somehow have put 0 in this place
- some cart is created with more than 0 quantity (this is different place)
- you fix that 0 to proper number of 1 after update or after finding alone
- carts stuck as they aren't removed because of customization IF added that have different logic and now IF client have cart between login you must remove all basket (not empty, they can have quantity >

[2022-03-18 19:51] matks commented on #27862
https://build.prestashop.com/news/prestashop-1-7-8-5-maintenance-release/

[2022-03-18 19:52] matks opened #27973 "Release 1.7.8.6"
This issue tracks the status of the PrestaShop 1.7.8.6 release

### Information

Q                                     | A
-----------------------|---------------
**Type**                        | Patch version
**Build date**                |  07-05-2022
**Milestone**                | [1.7.8.6](https://github.com/PrestaShop/PrestaShop/milestone/82)
**Kanban**                    | [1.7.8.6](https:/

[2022-03-18 20:01] matks commented on #27970
@lmeyer1 duplicate or not duplicate 😁 ?

[2022-03-18 20:34] matks commented on #27930
@kpodemski ... why ? 😄 I'm not against this change but I wonder why we should exclude modules like this?

what if someone uses module directories like `mymodule_v2`?

[2022-03-18 20:51] kpodemski commented on #27930
@matks

1. module directory needs to march main module file name
2. very often devs change module name to, for example, -off to prevent using it

[2022-03-18 21:17] ethereastore opened #27975 "Add a checkbox in the product sheet as a reminder if the product needs to be restocked"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-19 10:37] davidglezz commented on #21495
@AlexTechDev What is the status of this? can I help with something?

[2022-03-19 11:08] Maofree opened #27977 "Problem on the quickview when quantity or selection are changed - show all modules of displayProductAdditionalInfo"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
today Iìve upgraded to 1.7.8.5 m

[2022-03-19 11:41] davidglezz commented on #26157
In Spanish `ü -> ue` would be a incorrect transformation.

de_DE locale `ü -> ue`: `ÜBUNG → UEBUNG`
es_ES locale `ü -> u` : `pingüino → pinguino`  (not `pingueino`)

[2022-03-19 12:43] PrestaEdit opened #27978 "String given to get_parent_class() not accepted with PHP 8"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the develop branch, if you check

[2022-03-19 16:32] webstartconsulting commented on #26599
Hello! Any update from this bug? Anybody can help to resolve this? :)

[2022-03-19 16:55] NeOMakinG opened #27979 "Improve eslint disabled lines"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-19 22:52] AlexTechDev commented on #21495
@davidglezz  It's done :) I will update the pull request in a few days

[2022-03-19 23:49] SharakPL opened #27980 "Install crash because of addons modules again :/"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm trying to install PS 1.7.8.5 st

[2022-03-20 07:46] unlocomqx commented on #21092
I also suggest making the page rely on ajax a much as possible to avoid "context switching". I mean for deleting/toggling and hooking modules
It would be great to quickly hook a module via a popup instead of a separate page.

[2022-03-20 13:59] buggyzap commented on #27951
Hi, I found 2 solution for this, which is better @Progi1984 @matks ? I will create a new PR with best solution.

A problem is the retro-compatibility line that override the **description** field with **name** in Cart class line 538.
[code]

We can add a PS_VERSION check on this and prevent the override, or also edit this line of
/prestashop/src/Adapter/Cart/QueryHandler/GetCartForOrderCreationHand

[2022-03-20 14:21] buggyzap commented on #27980
Can you share server information to reproduce it? Never happens to me, and i'm installed hundreds of prestashop in different servers.

[2022-03-20 14:31] buggyzap commented on #27975
Did you consider the use this product setting with quantity 0 threshold and send mail checked?
<img width="935" alt="Schermata 2022-03-20 alle 15 29 52" src="https://user-images.githubusercontent.com/14024456/159167381-21ea4d77-45b8-4096-94eb-4838a65c2fb0.png">

[2022-03-20 14:40] buggyzap commented on #27953
@maofree As a workaround, you can type the pagination number items you want in page, without select it.
Just replace 50 with 300 for example.
<img width="426" alt="Schermata 2022-03-20 alle 15 37 59" src="https://user-images.githubusercontent.com/14024456/159167770-2f9d2c9e-afbd-4c36-9ad0-9c499b482705.png">

[2022-03-20 14:58] ethereastore commented on #27975
thanks but that's not what i need.
I do the restocking in catalog-> stock I order by quantity and restock the products with quantity 0/1. for various reasons some products must no longer be restocked. Having more than a thousand products it becomes difficult to remember. for now when a product does not need to be restocked I add a * at the beginning of the product name. I think a checkbox in the p

[2022-03-20 16:48] buggyzap commented on #27975
Ah ok, now is clear.

Cool feature, i'm working on it. Maybe a new challenge for my second contributions to this great project ;)

[2022-03-20 17:08] ethereastore commented on #27975
thank you!! I believe it is a convenient feature for many. Sorry about my english, i'm using google translator :-)

Cordiali Saluti
Etherea Store Riccione

Da: Marco Ingraiti
Inviato: domenica 20 marzo 2022 17:48
A: PrestaShop/PrestaShop
Cc: ethereastore; Author
Oggetto: Re: [PrestaShop/PrestaShop] Add a checkbox in the product sheet as areminder if the product needs to be restocked (Issue #27975)

[2022-03-20 20:52] SharakPL commented on #27980
@buggyzap what information do you need?

[2022-03-20 21:09] alfonsolr09 opened #27981 "Improve product combinations through price supplements"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-20 21:14] AliShareei commented on #22661
Hi guys,

@hibatallahAouadni
@marionf
@PierreRambaud
@jolelievre
@Progi1984

Almost more than 15 months ago I created this issue with an available PR in my opinion that PR is really good to cover this issue and problem but your team just doesn't accept it because of a minor problem.

it's like you fix a really big problem I mean 98% of that but you prefer to not apply because of a really small pro

[2022-03-20 21:27] PrestaEdit opened #27982 "When an Exception is thrown with a string code, there is a fatal error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Like DBPdo that will throw this err

[2022-03-21 03:04] johannsnr opened #27984 "{order_link} empty in transactional backoffice_order email"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when creating an order in back  off

[2022-03-21 03:11] johannsnr commented on #27882
No I do not have an issue with my email server. Send the mail to yourself and check it out. You are misunderstanding the issue at hand. I have sent and resent this order to myself over and over. There is an issue with the var {order_link} it does not have a href  in the email, it is empty. I cannot be more specific. If you say there is no problem then what is the problem because it does exist. Not

[2022-03-21 03:40] johannsnr commented on #27882
You also are sending the wrong email to yourself. Send the backoffice_order  not the order_confirmation and you will see the problem

[2022-03-21 03:53] johannsnr commented on #27984
Please be sure to select back_office order email when sending and not order_confirmation email when testing. THIS IS NOT AN EMAIL SERVER ISSUE IT IS A BUG

[2022-03-21 06:46] jameswill opened #27985 "Prestashop PHP Requirement"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While creating category in Prestash

[2022-03-21 07:10] lmeyer1 commented on #27970
Yes, it's entirely a duplicate.

[2022-03-21 07:10] #27970 closed, assigned to nobody

[2022-03-21 08:16] hibatallahAouadni commented on #27970
Duplicate of #27410

[2022-03-21 08:16] hibatallahAouadni commented on #27970
Thanks @lmeyer1 for your PR :rocket:

[2022-03-21 08:19] hibatallahAouadni commented on #27882
@johannsnr could you please provide a screen record (recording all steps) to help me reproducing the issue :pray:
Thanks in advance!

[2022-03-21 08:20] matks commented on #27985
It works on PHP 7.2 and it does not work on PHP 7.1 -> you're going to fast in the conclusion. This does not mean it's a PHP compatibility issue. Different behaviors on PHP versions can hide or show an error 😉

You need to explain how you created it. What is the title? What is the parent category? What other options?

[2022-03-21 08:49] matks commented on #27930
@kpodemski As you've been using PrestaShop in production way longer than me, I'll trust you 😄 👍

[2022-03-21 09:36] micka-fdz commented on #27979
@NeOMakinG are you talking about BO or FO theme?

[2022-03-21 09:49] HanaRebaiQA opened #27986 "FO - An error message is displayed (Deprecated) related to the emailalerts module with 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The emailalerts module is NOK : It'

[2022-03-21 09:57] Prestapepe commented on #26326
Yes that solotion doest apply to producto files,

Thats why im telling...  [themes/classic/_dev/js/listing.js] and the folder _dev does not exist one the production files.

[2022-03-21 09:58] NeOMakinG commented on #27979
This issue is mainly related to the BO, but the FO will need the same work

[2022-03-21 10:04] maofree commented on #27953
Hi @buggyzap
ok understood

thanks for the info
bye

[2022-03-21 10:51] #15869 closed, assigned to Progi1984

[2022-03-21 13:11] MEGA911 opened #27988 "Bug affichage attribut"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://www.lecornerdesophie.com/ku

[2022-03-21 13:26] hibatallahAouadni commented on #27981
Hello @alfonsolr09

Thank you for your suggestion, I really like it :clap:  I'm thinking it will great if we add a new input **Impact on Price** in the attribute value form:

![image](https://user-images.githubusercontent.com/23308427/159270243-825b52d1-dd02-4911-9dd3-3e97190b7c49.png)

Could you please verify my mock-up and feedback.
The Product Team will take it into consideration for future dev

[2022-03-21 13:44] hibatallahAouadni commented on #27984
Hello @johannsnr

Could you please provide a screen record (recording all steps), cause I didn't manage to reproduce the issue as I mentioned in your old issue.
Waiting for your feedback.

THanks!

[2022-03-21 13:54] #27988 closed, assigned to nobody

[2022-03-21 13:55] MEGA911 commented on #27988
Ok I test to downgrade to PHP 7.2

[2022-03-21 13:59] hibatallahAouadni commented on #27964
Hello @dolmenhir

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17810.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-21 13:59] #27964 closed, assigned to nobody

[2022-03-21 13:59] hibatallahAouadni commented on #27964
Duplicate of #17810

[2022-03-21 14:01] MEGA911 commented on #27988
It's done => But i have the same bug

[2022-03-21 14:02] MEGA911 commented on #27988
https://www.lecornerdesophie.com/kure-bazaar/845-1199-vernis-a-ongles-ecologiques-2#/133-couleur_2-b
Click on the color Black or red and you will see that the text => Color 2 => Does not vary if you click on the other color

I have this display error on all variation products on my site
ex: https://www.lecornerdesophie.com/oceopin/624-924-huile-visage-repulpante-serum
the Capacity attribute: => Do

[2022-03-21 14:08] MEGA911 opened #27989 "BUG Variations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://www.lecornerdesophie.com/ku

[2022-03-21 15:03] mparvazi commented on #27979
@NeOMakinG

IMO it's better to define tasks in first comment:

- default
- new-theme
- test
- classic

So if someone wants to contribute then can take care of each one

[2022-03-21 15:07] NeOMakinG commented on #27979
Added it! Thx

[2022-03-21 15:49] #27930 closed, assigned to nobody

[2022-03-21 16:23] sLorenzini opened #27991 "Quick view modal not horizontally centered"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I click on the "quick view" bu

[2022-03-21 16:43] hibatallahAouadni commented on #27980
Hello @SharakPL

Could you please provide a screen record or some screenshots of your issue.
Cause @SD1982 and I didn't manage to reproduce the issue neither with mariaDB10 nor MySQL, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/159311856-2c8c0b9c-02d0-4ee7-86b8-73f686eeb614.mp4

Please check and feedback.
Thanks!

[2022-03-21 16:51] hibatallahAouadni commented on #27977
Hello @maofree

I didn't manage to reproduce the issue with PS1785 and PHP7.3, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/159313053-f8fc12cc-7b9b-4a98-9827-1f307b8d4d06.mp4

Did you hook other modules in this hook?

![image](https://user-images.githubusercontent.com/23308427/159313942-7d7b2431-03a4-4dfb-acc0-f833cedb4c1d.png)

Waiting for your feedbac

[2022-03-21 16:57] khouloudbelguith commented on #27978
Hi @PrestaEdit,

I did not manage to reproduce the issue with PHP8.0.14 using the develop branch.
I attached a screen record

https://user-images.githubusercontent.com/16067358/159320795-13ad8671-18da-454c-a63c-a766f3ee5f49.mp4

Thanks to check and feedback

[2022-03-21 16:59] hibatallahAouadni commented on #27989
Hello @MEGA911

I didn't manage to reproduce the issue with PS1763 and PS1785.
Sorry, but I have to close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project and it seems your issue related to your overrides/modules/theme that you use.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, ple

[2022-03-21 16:59] #27989 closed, assigned to nobody

[2022-03-21 17:02] hibatallahAouadni commented on #27982
Hello @PrestaEdit

This issue is too technical for me :sweat_smile:
So, ping @PrestaShop/prestashop-core-developers could someone please try to reproduce the issue :pray:

Thanks in advance!

[2022-03-21 17:18] joecoolio66 commented on #14703
In reference to the updatePhysicalQuantityQuery update above... isn't product ID passed into the function?  So why couldn't we say this:

    $updatePhysicalQuantityQuery = '
        UPDATE {table_prefix}stock_available sa
        SET sa.physical_quantity = sa.quantity + sa.reserved_quantity
        WHERE sa.id_shop = ' . (int) $shopId . ' && sa.id_product = $idProduct

    ';

[2022-03-21 17:26] joecoolio66 commented on #14703
Whoops... sorry, I didn't look further enough into the function.

It looks like idProduct isn't required for a function called updatePhysicalProductQuantity for some reason and there's additional code that does do what I suggested IF the product id is passed:

        if ($idProduct) {
            $updatePhysicalQuantityQuery .= ' AND sa.id_product = ' . (int) $idProduct;
        }

The question w

[2022-03-21 18:17] hibatallahAouadni opened #27993 "[Virtual Product] Stock movement from new Order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- **Virtual Product:** a line added

[2022-03-21 18:23] PrestaEdit commented on #27982
Hi @hibatallahAouadni ,

There is a quick module as example, you can install it and see the same error on the Front Office :)
[test.zip](https://github.com/PrestaShop/PrestaShop/files/8318302/test.zip)

[2022-03-21 18:53] SharakPL commented on #27980
Screen record would be useless because the error is too generic and tells nothing about the problem. Can you tell me what checks are made on addons modules installation or at least point me to a file that handles it?

[2022-03-21 19:35] maofree commented on #27977
Hi
I've installa a new 1.7.8.5 on my local server, I confirm the bug
it is necessary to use a differente module because the social module is the default one and already managed by the quickview

I pass my module from Slack, because I don't want to share it here

bye

[2022-03-21 19:39] mparvazi commented on #27991
![Screenshot from 2022-03-21 23-06-56](https://user-images.githubusercontent.com/85633460/159350859-1e292624-ce17-4a64-b3cf-e83fb8d8aeba.png)

[2022-03-21 20:06] JustasBelevicius opened #27994 "Prices calculate w/o tax on first load even though it is configured otherwise"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

New users are presented with the wr

[2022-03-21 20:14] maofree commented on #27977
I've found the solution

https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/#product---quick-view-mode

I close this topic

bye

[2022-03-21 20:14] #27977 closed, assigned to nobody

[2022-03-21 20:25] #25654 closed, assigned to Progi1984

[2022-03-21 20:26] #27627 closed, assigned to saulaski

[2022-03-21 20:32] #27994 closed, assigned to nobody

[2022-03-21 20:40] maofree commented on #27977
this code is also no more used from 1.7.7.0?

`Tools::getValue('action') == 'refresh'`

[2022-03-21 20:42] maofree commented on #27977
![3](https://user-images.githubusercontent.com/653230/159360232-07335d8b-87f2-43f0-8558-39bc3d760339.png)
![11](https://user-images.githubusercontent.com/653230/159360242-a4e67758-a865-4735-807e-2837e12b713d.png)

I continue to get this errors from the quickview of demo virtual products and pack products

can you check if it is normal?

I need to create a new bug report?

[2022-03-21 20:50] matks opened #27995 "CI reports indent issue on PRs - [comments-indentation] comment not indented like content"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On every Pull Request, the CI repor

[2022-03-21 21:41] buggyzap commented on #27980
@SharakPL It could also be a permissions issue, there isn't a firewall or IP blocking during this process.

You have to put us in a position to replicate the problem programmatically, sharing the entire work environment in which it occurred to you.

Server information, memory/cpu, OS, php version, php handler, if you use plesk or cPanel, SQL engine and configuration, etc..

[2022-03-21 21:47] matks commented on #27980
Actually it's done on `develop` branch 😆

[2022-03-21 21:53] matks commented on #27980
We have no idea 🤷‍♂️ we have no connection to Addons team.

That being said I guess Addons servers are behind a few security layers, like Cloudflare and some firewalls. So maybe you got unlucky and a bot indeed used a range of IPs that contain yours so you're now banned :/

But again: in PrestaShop 8.0.0 there is no more Addons modules being pushed (ref https://github.com/PrestaShop/PrestaShop/iss

[2022-03-21 22:06] matks commented on #27946
@jf-viguier I think I understand the issue.

In classic theme we have file layout-full-width.tpl

https://github.com/PrestaShop/classic-theme/blob/develop/templates/layouts/layout-full-width.tpl

What you mean is that, if someone uses another theme, and that other theme does not have a file `layout-full-width.tpl`, this code will not work is that right?

But is that a bug, or is it simply that a t

[2022-03-21 22:16] matks commented on #25416
I close this issue because we did a great work at removing as many useless dependencies as possible. Feature freeze is close for PrestaShop 8 and I think the remaining dependencies are needed.

[2022-03-21 22:16] #25416 closed, assigned to nobody

[2022-03-21 22:42] buggyzap commented on #27975
@ethereastore I have created PR for this new feature, you can see the attached video in #27997 to check if the feature is correct.

PS. Tranquillo, sono italiano anche io :)

[2022-03-21 23:03] ethereastore commented on #27975
Thank you. the demonstration video is perfect!

Ps. Sapevo che eri italiano perché dalla tua foto del profilo GitHub lo ho riconosciuta ad alcuni video su YouTube che ti riguardavano parlando delle novità di prestashop e dei moduli prestashop essentials (con i moduli Marketing with Google e Ps Facebook ho trovato molti problemi ma questa è un’altra storia). Ho provato di scrivere in inglese perché

[2022-03-21 23:16] alfonsolr09 commented on #27981
it's fine but instead of handling it from the attribute value form it would be better to handle it directly from the product combinations since the same attribute can have different prices depending on the product.

[2022-03-21 23:28] SharakPL commented on #27980
@buggyzap it's not about permissions. index.php and prestashop.zip have 644. Install goes smoothly, all files have 644, all folders 755, up to the point where it's supposed to install addons modules:
![obraz](https://user-images.githubusercontent.com/5007456/159378775-9c791bff-928b-4c8c-9f91-1bf46d1afe0c.png)

My guess is it's about **ps_metrics** again, because there are constant problems with th

[2022-03-21 23:29] SharakPL commented on #27980
I'm very galg about that! :)

[2022-03-21 23:34] alfonsolr09 commented on #27588
I think its a great suggestion too

[2022-03-22 01:42] johannsnr commented on #27984
Here are screen shots. Please take note this is a live site so I can’t just do things. I created a dummy account, sending a fake order to myself.

You can see that the mail server has no problem in sending emails. You can also see the pdf invoice is attached with no issues. The issue is the {order_link} in the email has no URL value, so when you click on it, nothing happens as it is empty. It shou

[2022-03-22 05:33] tecmikro opened #27998 "[SOLVED] Error in calculating the total (tax excluded) when editing an order (PS 1.7.8.5)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When editing an order that is **Awa

[2022-03-22 08:11] Progi1984 commented on #27940
It's not a technical issue. It's a product decision.

So I ping the @PrestaShop/product-team.

[2022-03-22 08:33] NeOMakinG commented on #27588
If someone wants to work on it, the product team changed the status as Ready, we can implement it!

[2022-03-22 09:20] florine2623 commented on #27984
Hello @johannsnr ,

I was able to reproduce the issue with PrestaShop version 1.7.8.5 and develop, so I can confirm that this behavior is indeed a bug.

<img width="628" alt="Screenshot 2022-03-22 at 10 10 07" src="https://user-images.githubusercontent.com/16019289/159446398-a879f258-49e5-47a5-bb23-3ffdac0c1304.png">
<img width="543" alt="Screenshot 2022-03-22 at 10 12 38" src="https://user-images

[2022-03-22 09:23] lucasvavon opened #27999 "The database schema update step results in an error."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello everyone,
I have been trying

[2022-03-22 09:34] florine2623 commented on #27977
Hello @maofree ,

I can't reproduce your error on virtual product or pack.

https://user-images.githubusercontent.com/16019289/159450212-33272cda-3ea4-46d7-b929-643299b99662.mov

Tools::getValue('action') == 'refresh'

You could create a new issue as a Feature Request.

Thanks!

[2022-03-22 09:39] maofree commented on #27977
Hi
today I don't get that error "undefined"

[2022-03-22 09:46] florine2623 commented on #27967
Hello @NicolasCador ,

I can't reproduce you issue on PS 1.7.8.5. Please check my screen record :

https://user-images.githubusercontent.com/16019289/159452389-1e341c59-cce2-4885-9939-31f1d1a902b7.mov

Is there another step I missed ?
Thanks!

[2022-03-22 09:49] khouloudbelguith opened #28000 "BO - Module Manager - The button Disable mobile is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Modules > Module manage

[2022-03-22 09:58] florine2623 commented on #27939
Hello @Triloworld ,

I can't reproduce your issue following the steps you provided. Please check my screen record in PS 1.7.8.5 :

https://user-images.githubusercontent.com/16019289/159454571-d43bb439-dcb0-4023-8e9c-65d9f2a3d94d.mov
Deleting the product or putting quantity to 0 results in an empty cart

I can't reproduce it on either 1.7.7.8 nor develop branch.
So I will close your issue.

[2022-03-22 09:58] #27939 closed, assigned to nobody

[2022-03-22 10:25] hibatallahAouadni commented on #27981
Hello @alfonsolr09

Could you please provide a mockup for your proposal :pray:

Thanks in advance!

[2022-03-22 10:26] hibatallahAouadni commented on #27975
@buggyzap @ethereastore Please use English!! English is the norme on GitHub :wink:

[2022-03-22 10:31] florine2623 commented on #27998
Hello @tecmikro ,

I have tried to reproduce your error on 1.7.8.5 but I've had no success :

I created my order from BO, with status "Processing in progress"
<img width="1171" alt="Screenshot 2022-03-22 at 11 29 01" src="https://user-images.githubusercontent.com/16019289/159461946-ec5dc37d-ec5e-4f45-9c95-79fe35c7d973.png">
The order is considered as paid and delivered, so I can do the next steps

[2022-03-22 10:47] florine2623 commented on #27999
Hello @lucasvavon ,

I can't reproduce your issue. On my end, I did an upgrade from PS 1.7.7.8 to 1.7.8.5 without any major error using 1-click upgrade module v4.14.0.
<img width="788" alt="Screenshot 2022-03-22 at 11 35 04" src="https://user-images.githubusercontent.com/16019289/159463051-66ed9ed8-cacf-4894-aaf5-e4640bb3db2f.png">
<img width="1176" alt="Screenshot 2022-03-22 at 11 47 19" src="htt

[2022-03-22 10:50] florine2623 commented on #27980
Hello @SharakPL ,

I can't reproduce your issue on my end.
As it will be removed in PS 8.0.0, I will close your issue :)

Thank you for your understanding!

[2022-03-22 10:50] #27980 closed, assigned to nobody

[2022-03-22 12:18] tecmikro commented on #27998
Hello, thanks for the answer. What you say is correct, **by default the Processing in progress state does not allow orders to be edited**. But that just depends on how the states are configured. **You can test with Awaiting bank wire payment** or another status that doesn't mark orders as paid or shipped. The important thing is that the order can be edited.
![image](https://user-images.githubuserc

[2022-03-22 12:31] florine2623 commented on #27998
@tecmikro ,

I tried again without success either.

I created an order from BO with status Awaiting bank wire payment :
<img width="1213" alt="Screenshot 2022-03-22 at 13 26 20" src="https://user-images.githubusercontent.com/16019289/159482507-6912d059-f6f6-491e-905d-4fa7ae2f3f8d.png">

I modified my order (price of product) :
<img width="1234" alt="Screenshot 2022-03-22 at 13 27 18" src="https://

[2022-03-22 12:46] tecmikro commented on #27998
![image](https://user-images.githubusercontent.com/102133629/159483894-c146daf5-0f6e-4b25-8d44-591e6ba546bc.png)
This is what I'm talking about. Here you can see the error that is generated in the invoices.
In this case the correct value is 0.92x40= 36.80 (Total tax excluded), the tax is 36.80*20%=7.36, and the total invoice is 36.80+7.36=44.16

[2022-03-22 13:36] lucasvavon commented on #27999
hello @florine2623,

I use MariaDB v.10.3.34, not MySQL. No changes were made manually, at least not on the table concerned.

Thanks you !

[2022-03-22 16:22] khouloudbelguith commented on #26098
Hi @matks,

I have the same exception following these steps:

1. Go to BO > Customer Service > Merchandise Returns page and enable returns
2. Go to BO > Orders > View an order with payment accepted status
3. Click on Standard refund or Partial refund
4. Select the quantity & complete the action
5. See error => an exception: we cannot do a refund
6. Go to BO > Orders > View an order with shipped st

[2022-03-22 16:24] Progi1984 commented on #19547
@202-ecommerce Have you got always the bug with the `develop` branch ?

[2022-03-22 16:29] khouloudbelguith opened #28004 "FO - ps_googleanalytic - Code found outside of <head> tag"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I added this extension `Tag Assista

[2022-03-22 16:29] marwachelly opened #28005 "Wrong alert when configure google analytics module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Wrong alert when we configure googl

[2022-03-22 16:45] marwachelly opened #28006 "BO- Bad display of google analytic configure page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 Bad display of google analytic con

[2022-03-22 17:17] matks commented on #26098
@khouloudbelguith Agreed !

[2022-03-22 17:45] tecmikro commented on #27998
Hi, **these are the detailed Steps to reproduce the bug**:
1. Configure Prestahop to show prices with Tax Excluded and 2 decimals: **Shop parameters > Customer Settings > Groups**, configure **Price display method: Tax Excluded** (for the Group corresponding to the customer who creates the order)
2. Configure the price for any product as Retail price (tax excl.) $0.95 (for example)
3. Create New o

[2022-03-22 18:45] bnofao opened #28008 "Some products on my store are being activated automatically"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When product is set inactive, it's

[2022-03-22 20:44] NicolasCador commented on #27967
Hello @florine2623 ,

good idea the screen record, I should have done that. I understood screenshots, sorry.

in fact, the problem isn't in the BO, it's in the FO when the Customer wants to see his/her order history, today, it gives a "ContextErrorException : Trying to access array offset on value of type null".

in this configuration you did in the screen record, if you go in the FO, in your acco

[2022-03-22 22:37] alfonsolr09 commented on #28008
can you send a video or pictures?

[2022-03-22 22:40] alfonsolr09 commented on #28005
I think that Prestashop cannot verify that the google analytics id is correct, the only way to verify it is in the google panel, seeing if it receives data or not

[2022-03-23 04:51] johannsnr commented on #27984
Upon further investigation this bug relates to the front end as well. Logging in as the customer and navigating to order history the order can be seen and the status is correct saying waiting for Stripe capture or waiting for paypal payment however there is now way for the customer to pay, there is no link so this forms part of the bug.

[2022-03-23 07:12] stech10 opened #28013 "Prestashop 1.7 productlist.tpl add date of availability"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-23 07:15] matteolavaggi opened #28014 "Google 2 Factor Auth App Password SMTP not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Try to enable Google 2FA and genera

[2022-03-23 07:41] marwachelly commented on #28005
The problem exist even when the ID is empty.

[2022-03-23 07:51] Hlavtox commented on #28013
Hi, edit `/themes/classic/templates/catalog/_partials/miniatures/product.tpl`. If you put {dump($product)} in there, you will see all the data you have available in the product object.

You will be interested in `$product->quantity`, `$product->available_now`, `$product->available_later`.

[2022-03-23 08:40] Progi1984 commented on #27951
@buggyzap You can remove the retrocompatibility with the version 8.0 so don't worry about that.

[2022-03-23 08:46] lucasvavon commented on #27999
I close the problem: we solved the problem by changing the default value "current_timestamp()" of the field "date_add" of the table "prefix_stock_mvt" to "none".

[2022-03-23 08:46] #27999 closed, assigned to nobody

[2022-03-23 09:36] PierreRambaud commented on #17095
Imho, this is not a bug as redirections should have their own HTTP return code, the first one will be a 301 telling it moves permanently, and the second one is a canonical redirection, so a 302.

[2022-03-23 09:56] HanaRebaiQA commented on #28013
Hello

Thanks @stech10  for your report and @Hlavtox for your response.

I just saw how can i help you.
**Case 1** : I putted  ` {product->name}` in `product-flags.tpl` file to can display the name of product under the flag. Here is my example :
![image](https://user-images.githubusercontent.com/92912932/159671710-8b34a5c6-0dbd-4cac-8b38-f1eda0560f59.png)

https://user-images.githubusercontent.com

[2022-03-23 09:56] #28013 closed, assigned to nobody

[2022-03-23 10:28] Prestapepe commented on #26326
Yes that solution doest apply to producto files,

Thats why im telling... [themes/classic/_dev/js/listing.js] and the folder _dev does not exist one the production files.

[2022-03-23 10:32] dkarvounaris opened #28016 "Default category doesn't update properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The default category of a product s

[2022-03-23 10:34] Progi1984 commented on #24715
@eternoendless AdminTranslationsController is not fully migrated. Check @matks issues : #10613 & #10614 (which seems duplicated)

[2022-03-23 11:21] HanaRebaiQA commented on #28014
Hello @matteolavaggi

Could you please provide us more information with a screen-record or screen-shots to can reprocude the issue ?

Thank you!

[2022-03-23 11:43] HanaRebaiQA commented on #28016
Hello @dkarvounaris

Thanks for your report.

Is these issues cases [#13737](https://github.com/PrestaShop/PrestaShop/issues/13737) and [#18109](https://github.com/PrestaShop/PrestaShop/issues/18109 ) are similar to yours ?

Thank you!

[2022-03-23 12:20] Gardella-Web commented on #27880
Hi,
yes, see your test

Problem:
PS1751
4.6546 x 6 = 27.9276 so 27.93 excl.VAT
27.93 x 1.2 = 33.516 so **33.52 incl.VAT** and not 33.51*

PS1784
4.65 x 6 = 27.90 excl.VAT and  not 27.93
27.90 x 1.2 = **33.48 incl.VAT**

So big big problem

You say me :

- ROUND_TOTAL: the round is applied to the total of the command.
- ROUND_LINE: price_total = round (price_product * quantity)
- ROUND_ITEM: price_

[2022-03-23 13:18] #27985 closed, assigned to nobody

[2022-03-23 13:19] HanaRebaiQA commented on #27985
Duplicate of [#27684](https://github.com/PrestaShop/PrestaShop/issues/27684)

[2022-03-23 13:27] HanaRebaiQA commented on #27998
Hello @tecmikro

Your issue seems to be similar to this one [#25579 ](https://github.com/PrestaShop/PrestaShop/issues/25579) ? Please see this [comment](https://github.com/PrestaShop/PrestaShop/pull/25802#pullrequestreview-900364712) also!
Could you confirm it ?

Thank you!

[2022-03-23 13:30] tom-combet opened #28017 "Add Symfony MakerBundle dependency"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-23 13:39] demperador opened #28018 "Specific prices for specific product combinations affects all combinations in cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The possible detected problem/issue

[2022-03-23 13:43] matks commented on #28017
Hello @tom-combet I also like MakerBundle but consider the situation like this: if we add MakerBundle into PrestaShop project, it means when we build the next version 8.0.0 we'll ship MakerBundle with the project.

Let's say that 100,000 shops in the world upgrade from PS 1.7 to 8 . MakerBundle becomes part of these 100,000 shops. But... how many shops will find it useful? I'm sure there will be s

[2022-03-23 13:58] tom-combet commented on #28017
@matks Oh no, I wouldn't use it in production of course.
Main use cases would be developing in PrestaShop core and developing third-party modules. But I get it now, third-party developers usually use ZIP archive so there is a problem... It would however remain very useful for the core.

[2022-03-23 14:16] #28016 closed, assigned to nobody

[2022-03-23 14:18] eternoendless commented on #24715
You're right, AdminTranslationsController is still needed, in particular to be able to translate legacy modules.

When I said "not needed anymore" I meant just the part of the code that uses the `pear/archive_tar`.

[2022-03-23 14:52] HanaRebaiQA commented on #28017
Hello @tom-combet

Thanks for your report.
@matks Following your answer, do you confirm that this feature will not be taken into consideration ?
If Yes, i'll close it.
Waiting for your feedback!

Thank you!

[2022-03-23 14:56] matks commented on #28017
What kind of features do you develop on the Core that could be boosted by MakerBundle? Honest question: I think we don't create new empty controllers, forms or tests ; most of the time we expand an already-existing file. This is why I ask.

Also you can add MakerBundle yourself (but don't commit it) 😄 actually on your computer you can do everything you do not need to insert MakerBundle in the upst

[2022-03-23 14:59] NicolasCador commented on #27967
Hello @HanaRebaiQA ,

ok, thank you, great job of investigation !

I thought it was a problem from PHP 7.3 to 7.4, but I was not sure.

So finally it appeared when I switched to PHP 7.4 after Prestashop 1.7.8 migration.

[2022-03-23 15:21] demperador commented on #28018
Hello @HanaRebaiQA

I have read both issues but I think it is not the same issues as in #26332 or #22661

Regards.

[2022-03-23 15:27] tom-combet commented on #28017
Adding MakerBundle would allow us to add other useful makers for grid, crud form, settings form, crud cqrs...
I agree that existing ones will not be very useful, even if some of them could be nice like command or entity.

In fact, if it's only in the sources of the project, I can add it myself. But honestly, I think we could speed up Symfony migration and new features with it.

By the way, if we g

[2022-03-23 15:40] tecmikro commented on #27998
The issue that you refers to is different, it occurs when creating a new order and adding a voucher without a code.
**In my case, it occurs when editing an order that has already been created and changing the price of a product (tax excluded).** In this case the result has errors. Apparently what is happening is that the price including taxes is used to perform the calculations, but that leads to

[2022-03-23 16:33] #27995 closed, assigned to nobody

[2022-03-23 17:02] #26098 closed, assigned to Progi1984

[2022-03-23 17:13] matks commented on #28017
For `cache:clear` we actually use it 😄 even in CI I believe

I don't know what is `pr:mo`.  But I guess it was simply inside Symfony from the beginning we did not add anything

[2022-03-23 17:49] tom-combet commented on #28017
Nope, [`pr:mo`](https://devdocs.prestashop.com/1.7/modules/testing/resources/#module-management-in-command-line) comes with PrestaShop. 😛

[2022-03-23 18:43] bnofao commented on #28008
Thank you for your feedback.
Unfortunately, the issue is random. I don't know how to reproduce it. It happen sometimes, several days after the product was set to inactive.
Do you know how to monitor and catch product status change with details about what change it?

[2022-03-23 18:55] tom-combet opened #28024 "Automate local CI checks"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-23 20:39] matks commented on #28024
I do not fully understand what do you mean.

Notice that you cannot achieve the same output as the CI because we have some CI steps that run the code in multiple environments (for example we run tests with PHP 7.2, 7.3, 7.4 and 8.0). So unless you build a docker environment for each possible environment you won't be able to do this on localhost.

Our CI runs in GitHub because it's not just tools i

[2022-03-23 20:43] matks commented on #28017
Ah, these Commands are meant to be used either in the project by contributors / maintainers or on live shops. We're sure they're being used. This is why they're in the project.

But I agree, we could remove the Commands dedicated to the project from the ZIP archive. Like [SecurityAnnotationLinterCommand.php](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Command/Securit

[2022-03-23 22:26] davidglezz opened #28025 "Multistore - Advanced Parameters > Performance:media - use ShopConstraint as third argument"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-23 22:32] davidglezz commented on #26162
I think that this PR covers the media-servers part of this issue https://github.com/PrestaShop/PrestaShop/pull/27660

[2022-03-23 23:47] alfonsolr09 commented on #28005
but I don't think it's a problem, it just informs you that the data has been saved correctly. if you misspelled your google id is your problem right?🤔

[2022-03-24 08:31] hibatallahAouadni commented on #27999
@lucasvavon Glad to hear :tada:

[2022-03-24 09:00] bc-devle commented on #18151
Thanks @matthieubrunet it works

[2022-03-24 09:29] Hlavtox opened #28026 "Automatic hotlinking of products by reference, MPN, EAN etc."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-24 09:53] marwachelly commented on #28005
@PrestaShop/product-team Could you please specify the exact expected behavior?

[2022-03-24 10:03] matks commented on #27951
Little disagreement here 😄  : yes we can introduce BC breaks in 8.0.0 but that does not mean we can break everything. Each not backward compatible change must be analyzed to understand the impact

[2022-03-24 10:04] tom-combet commented on #28017
So for you, the commands would be more used than makers? This is highly debatable and very subjective to me.

By the way, you mean that merchants would run `prestashop:mail:generate`, `prestashop:list:commands-and-queries` and so on? Even if we talk about `pr:mo`, one of the most useful command, I'm not sure that many merchants use it...

For me, the target of these tools are developers. And by de

[2022-03-24 10:25] matks commented on #28017
For a faire number of these Commands I'm sure these Commands are used because... the maintainer team use it 😄  .

So basically we say "we can introduce MakerBundle because maybe some people will use it" while SecurityAnnotationLinterCommand I'm sure it's used because I use it myself 😋  .

Developer tools used by the maintainer team need to be included in the project
- because they need them to wor

[2022-03-24 10:31] matks commented on #27968
I approve this idea

[2022-03-24 10:41] tom-combet commented on #28024
Ah yea, didn't see that workflows run with each supported PHP version. But by the way, is it really useful?
I see for example that [PHP-CS-Fixer runs only against PHP 8](https://github.com/PrestaShop/PrestaShop/blob/a280f3bae8455e0b5c8fa41670a188913fcd6b34/.github/workflows/php.yml#L16).
Moreover, [it looks useless to run PHPStan with multiple PHP minor versions](https://github.com/phpstan/phpstan

[2022-03-24 11:04] Progi1984 opened #28027 "Call to `api.addons.prestashop.com` in module psgdr"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With the open source/company split,

[2022-03-24 11:27] tom-combet commented on #28017
I already told that MakerBundle would not be very useful in itself, but with an extension made by PrestaShop.
By the way, we could imagine that we make the extension outside of PrestaShop before adding MakerBundle to the core, and add everything together once it's done. It would be maybe more logical.

Are you talking about MakerBundle itself or even with the future extension?

To me, it's not the

[2022-03-24 13:04] matks commented on #28027
Nice catch 👍

[2022-03-24 13:53] #27926 closed, assigned to Progi1984

[2022-03-24 14:11] hibatallahAouadni commented on #28026
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, as usual we're waiting for your PR :muscle: :rocket:

Thank you

[2022-03-24 14:37] photinia73 opened #28030 "PS 1.7.8.1 to 1.7.8.5 cart error 500 in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating PS from PS 1.7.8.1 t

[2022-03-24 15:30] #26671 closed, assigned to mpaolino

[2022-03-24 16:06] ChineseNorris opened #28032 "🐛 [BUG] Applied voucher / discount code for abandoned carts"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I've been doing some tests on vouch

[2022-03-24 16:20] #28030 closed, assigned to nobody

[2022-03-24 16:23] hibatallahAouadni commented on #28030
Thanks for closing the issue as I didn't reproduce it :sweat_smile:
My shop was successfully updated and I can access to the Shopping Cart page in BO without any problem!

[2022-03-24 16:23] ocio87 commented on #27998
Hello

I just did the test and if there is a failure in the calculation of the price without VAT

![image](https://user-images.githubusercontent.com/12537826/159962776-96d801b8-251f-497c-8499-4b5920b983ab.png)

The price should give 1.727.720

My version is 1.7.8.5

[2022-03-24 16:25] ChineseNorris commented on #28030
This happens when you have an error in one of the address that you are trying to show, usually by editing/removing the corrupted address would fix the issue.

[2022-03-24 16:38] tecmikro commented on #27998
Hello, yes you can see the error. With 2 decimal places the error is greater, here in my country we use USD dollar currency and only 2 decimal places since 1 cent is the lowest price that can be put on a product. This error generates when I edit an order to change the price of some product(s).

[2022-03-24 18:01] photinia73 opened #28034 "The sum in the cart is not updated after changing quantity"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After changing quantity of product

[2022-03-24 18:02] MatShir commented on #28026
Extending the tinyMCE looks awesome (maybe a search bar to add a product/categories or find a cms page 🤔)
If the product is disabled, maybe we could use the redirection of the product offline? So the client can be redirected to a similar product or a category 🤷
But we have to make really sure that it works when URL is changed
If you are motivated, we can write down the specs in this repo https://g

[2022-03-24 18:08] #20691 closed, assigned to nobody

[2022-03-24 19:32] ocio87 opened #28035 "Reference lookup by ps_product_attribute table and not by ps_product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-24 20:02] #27836 closed, assigned to Progi1984

[2022-03-24 20:03] #27942 closed, assigned to nobody

[2022-03-24 20:34] MatShir commented on #27881
But a refunded product can be shipped as well. I don't think there is a clear rule on that.
Anyway, the issue is still because you are right, we should be able to remove product from the delivery slip if needed. Maybe add the option when refunding the product ?
Maybe your first solution can be a quick win.

[2022-03-24 20:57] arirangz commented on #27881
Hello @MatShir

Thanks for your answer. An option when refunding could be nice but I think the excepted behavior would be to add the refunded products on the delivery slip only if the order is shipped.

So maybe the ticket could be split in two parts:
A bug as we don't want refunded products in the delivery slip if not ship
A new feature for the ability to chose when refunding

[2022-03-24 21:52] MatShir commented on #17412
Let's keep it open to be sure we don't miss it while migrating the page ;)

[2022-03-25 08:16] #27474 closed, assigned to Progi1984

[2022-03-25 08:34] matks commented on #28017
@tom-combet I'm happy to discuss this topic too 😄  and I agree: the discussion is valuable even if in the end we decide not to go this way

At this point I think some other people would be interesting to bring their opinion. Maybe @Matt75 @Quetzacoalt91 @kpodemski @PululuK @zuk3975 @Oksydan @Hlavtox ?

[2022-03-25 09:27] hibatallahAouadni commented on #28035
Hello @ocio87

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9727.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-25 09:27] #28035 closed, assigned to nobody

[2022-03-25 09:27] hibatallahAouadni commented on #28035
Duplicate of #9727

[2022-03-25 09:33] hibatallahAouadni commented on #28034
Hello @photinia73

I didn't manage to reproduce the issue with classic theme, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/160094506-ec5845e8-d67b-473c-8bf2-a84007d65ba5.mp4

It seems your issue is related to your theme or your overrides :wink:
Closing the issue as it's not a Core bug.

Thanks!

[2022-03-25 09:33] #28034 closed, assigned to nobody

[2022-03-25 09:40] hibatallahAouadni commented on #28032
Hello @ChineseNorris

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26235.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-25 09:40] #28032 closed, assigned to nobody

[2022-03-25 09:40] hibatallahAouadni commented on #28032
Duplicate of #26235

[2022-03-25 10:10] photinia73 commented on #28034
Ок, thank you

[2022-03-25 10:54] MeKeyCool opened #28038 "Manage Prestashop install according configuration (.env and environment variables)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-25 11:00] #19424 closed, assigned to Progi1984

[2022-03-25 11:00] #19425 closed, assigned to Progi1984

[2022-03-25 11:03] PululuK commented on #28017
I think there are two points here :

#### 1

- if a tool is needed only during the development phase it must be added as a dev dependency
- dev dependencies should be excluded during build

#### 2

On the other hand if a development expense should be added in the Core or not, this decision depends on the relevance and are real use in the core (it deserves a vote in this case).  Because adding a de

[2022-03-25 12:19] matks commented on #26849
The hook returns an Smarty array that contains the data we want. Rows of a list? Color? Labels? And we write the markup.

[2022-03-25 12:19] Hlavtox opened #28039 "Reorganize presented product prices in front office"
### Is your feature request related to a problem?

- This feature request is about product prices in front office $product variable - on a product page for example.
- All the prices and discounts in the array are absolute mess with no organization at all and a data missing, like prices without tax.
- Two clients asked me if I can show product price also without taxes - I don't think a developer sh

[2022-03-25 12:26] Hlavtox commented on #26849
I think that modules should return an array with:
- URL
- Name
- Description
- Icon
- Boolean if it should be displayed only to logged users

[2022-03-25 13:22] #24583 closed, assigned to kgleizes

[2022-03-25 13:53] atomiix commented on #27978
This should be solved by #27632 ;)

[2022-03-25 14:07] #26454 closed, assigned to Progi1984

[2022-03-25 14:07] #27932 closed, assigned to Progi1984

[2022-03-25 14:23] hibatallahAouadni commented on #28038
Hello @MeKeyCool

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR!

Thank you

[2022-03-25 14:26] hibatallahAouadni commented on #28039
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2022-03-25 14:33] hibatallahAouadni commented on #27938
Hello @roskrzysztof

Thanks for your patience :pray:
We are aware of this issue, it is already fixed in our debug backlog (the next patch release 8.0.0).
This issue is a duplicate of #22336.

Thank you

[2022-03-25 14:33] #27938 closed, assigned to nobody

[2022-03-25 14:33] hibatallahAouadni commented on #27938
Duplicate of #22336

[2022-03-25 14:49] #27911 closed, assigned to Progi1984

[2022-03-25 14:57] hibatallahAouadni commented on #27880
Hello @Gardella-Web

Thanks for your feedback!
Ping @PrestaShop/product-team can someone please answere @Gardella-Web question below :pray:

Thanks in advance!

[2022-03-25 15:13] hibatallahAouadni commented on #28008
Hello @bnofao

Despite our efforts, we were not able to reproduce your issue with the provided information. And as you said it's random! so it's hard to reproduce :disappointed:

If you have questions about using PrestaShop, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community

[2022-03-25 15:13] #28008 closed, assigned to nobody

[2022-03-25 15:24] hibatallahAouadni commented on #27998
Hello @tecmikro

This is what I'm talking about. Here you can see the error that is generated in the invoices.
In this case the correct value is 0.92x40= 36.80 (Total tax excluded), the tax is 36.80*20%=7.36, and the total invoice is 36.80+7.36=44.16
Please, configure Prestahop to show prices tax excluded.

Well, you can! see the attached screenshot below and modify the **Price display method** to

[2022-03-25 15:28] #25642 closed, assigned to matthieu-rolland

[2022-03-25 15:43] Progi1984 commented on #26991
Fixed by @atomiix in PrestaShop/blockreassurance#336 & Tested by @HanaRebaiQA

[2022-03-25 15:43] #26991 closed, assigned to atomiix

[2022-03-25 15:43] Progi1984 commented on #26979
Fixed by @atomiix in PrestaShop/blockreassurance#336 & Tested by @HanaRebaiQA

[2022-03-25 15:43] #26979 closed, assigned to nobody

[2022-03-25 15:44] Progi1984 commented on #26980
Fixed by @atomiix in PrestaShop/blockreassurance#336 & Tested by @HanaRebaiQA

[2022-03-25 15:44] #26980 closed, assigned to nobody

[2022-03-25 15:44] Progi1984 commented on #26531
Fixed by @atomiix in PrestaShop/blockreassurance#336 & Tested by @HanaRebaiQA

[2022-03-25 15:44] #26531 closed, assigned to nobody

[2022-03-25 15:57] ocio87 commented on #25683
Hello everyone,

I think it can be a good solution. It definitively solves the problem of editing a client when they have many orders. If you consider that there are few stores that have this problem, it is not worth it. I will continue to make the change manually in the edit.html.twig and CustomerController.php files when I update the version of the store (1.7.8.5), for example with a client that

[2022-03-25 15:59] #9644 closed, assigned to kpodemski

[2022-03-25 15:59] npotier commented on #21930
Hello @teemumantynen thank you for the tip.

`composer require "symfony/polyfill-php80:<=1.18.1"` worked like a charm.

[2022-03-25 16:14] demperador commented on #28018
Hello @hibatallahAouadni

Due that we operate in the Canary Islands and we are a retail store, VAT is not applied within this territory, our store has the taxes disabled. However, I activated taxes for testing the issue and the problem persists. We are currently on Prestashop 1.7.8.3.

Regards.

[2022-03-25 16:43] ocio87 commented on #27998
Hello @tecmikro, you should look at the price without tax in the catalog - products are found with tenths, this value is being taken from the decimals.

![image](https://user-images.githubusercontent.com/12537826/160164117-131c0344-3345-4cf6-9d21-5027ade15507.png)

[2022-03-25 17:22] tswfi commented on #28039
In my opinion the formatting of price could also be done with template formatter. The value given to smarty/twig could always be a float and then the template could just do {$product.price|formatprice}

Same with dates. Give smarty a datetime object and template decides the format with something like {$product.created|date}

[2022-03-25 17:42] tecmikro commented on #27998
Hello @hibatallahAouadni, I have Prestashop configured to show prices Tax excluded as shown here:

And rounding is configured this way (I have tested all the 3 options in Round Type but the error remains):
![image](https://user-images.githubusercontent.com/102133629/160173679-5c90bc42-67dc-46a0-b812-49e5fc26a9fd.png)

[2022-03-25 17:47] tecmikro commented on #27998
Hello @ocio87, I have configured Prestashop to 2 decimal places:
![image](https://user-images.githubusercontent.com/102133629/160174175-4f9d6017-e9c9-49d3-8e57-7e4cce4ed145.png)
Please, follow these stpes to reproduce the bug:

[2022-03-25 19:29] molsondry opened #28041 "prestashop 1.7 customization field doesn't appear in backoffice order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When putting a customized product i

[2022-03-25 20:09] FireWtap opened #28042 "Error I can't fix"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

[Fri Mar 25 21:04:07.601595 2022] [

[2022-03-25 20:30] matks commented on #28042
Hi ! it seems you're looking for support. You will find places where to get help here => https://www.prestashop-project.org/support/

[2022-03-25 20:30] #28042 closed, assigned to nobody

[2022-03-26 04:57] capitalfuse commented on #28014
Same issue for gmail smtp auth.

**Prestashop1.7.8.4(DockerHub Version : Running on Docker container)**

![prestashop1884-smtp_error](https://user-images.githubusercontent.com/3529536/160225254-7f5a5d21-4543-4409-aec4-e4bec4e2880a.png)

Error
`
Error: Please check your configuration

Failed to authenticate on SMTP server with username "ficus.online.store@gmail.com" using 3 possible authenticators.

[2022-03-26 05:46] capitalfuse commented on #28014
I set the admin user on prestashop by using the google gmail account, and I also configured the smtp settings by this google account.

I changed smtp settings of the other smtp server for the different google account, worked well.
Should select the different smtp server from the admin google account on prestashop.

Prestashop Admin Account : ex1@gmail.com, Smtp Settings :  ex1@gmail.com ---> ERROR

[2022-03-26 07:51] matteolavaggi commented on #28014
Do you enable less secure app access o Gmail? My problem is not related to
SMTP setup, SMTP work great with account credentials. Issue is related on
app secret auth, some setting used by prestashop are not standard
implemented and this result in error sending email. Google start migrate
all Gmail account to 2fa, so in short time no one will be able to use Gmail
with prestashop if a fix is not rele

[2022-03-26 14:26] capitalfuse commented on #28014
My google account are all set as 2FA, NOT "less secure mode". SMTP pass word is created by "Security ---> App Password" section.

[2022-03-26 14:47] capitalfuse commented on #28014
This issue will be occuerd only for sending the test mail. Probably Chrome auto fill function set password with google account pass when sending test mail. I checked working well mail function to buy an item on my store site by myself.

Prestashop Admin Account : [ex1@gmail.com](mailto:ex1@gmail.com), Smtp Settings : [ex1@gmail.com](mailto:ex1@gmail.com) ---> ERROR : **because of auto filled passw

[2022-03-26 17:00] Mauro207 commented on #13096
Hi, sorry, what would be the path to get to ProductLazyArray.php? src /adatper /presenter /product?

[2022-03-26 21:02] kpodemski commented on #27829
@PrestaShop/prestashop-maintainers shall we vote? :> I think it's better to have an answer earlier for this

[2022-03-27 11:03] Hlavtox commented on #21790
Universal analytics will stop working 01.07.2023 and our marketing agency is pushing a long time for the switch to GA4.
Is there any hope that core dev power will be assigned for this or we should start looking for 3rd party module?

[2022-03-27 13:35] Grezor opened #28045 "Add CHANGELOG.md to repository"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-27 18:59] matks commented on #28045
The file is here https://github.com/PrestaShop/PrestaShop/blob/develop/docs/CHANGELOG.txt 😄

[2022-03-27 19:13] grzegorzgit opened #28047 "JS error in back office product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In back office, on product page the

[2022-03-28 07:13] Hlavtox opened #28048 "POC Implement new multiple format thumbnail generation"
This is a part of https://github.com/PrestaShop/PrestaShop/issues/27318.

### 1. Generation of new formats
- When generating multiple image per format availble.
- The basic JPG/PNG format plus any additional formats checked. Test for now with Currently only WebP is supported, png and jpg
- Be sure that thumbnails are automatically regenerated in **all formats**, if missing.

### 2. Provide these n

[2022-03-28 07:15] Grezor commented on #28045
Hello @matks,

Thanks for the information, I thought it wasn't in the repository. I close the issue.

[2022-03-28 07:15] #28045 closed, assigned to nobody

[2022-03-28 07:27] SMULTI2022 opened #28049 "Wrong purchase date"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Good evening, I tried to make a pur

[2022-03-28 07:30] SMULTI2022 commented on #28049
Sorry, the right version of Prestashop is 1.7.8.4 and PHP version is 7.3.33 thanks

[2022-03-28 07:37] matks commented on #16243
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24634

[2022-03-28 07:37] #16243 closed, assigned to nobody

[2022-03-28 08:58] eternoendless commented on #27829
As I said -- I don't think doing this artificially (i.e. without a good reason) is in the best interest of the community. But let's start by asking them what they think about it on Slack.

[2022-03-28 09:20] hibatallahAouadni commented on #28041
Hello @molsondry

Could you please provide clear and concise steps to reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-03-28 09:22] eternoendless commented on #28048
IMO additional formats should be handled through modules. So IMO we just need to add the extension points.

[2022-03-28 09:35] NeOMakinG commented on #28048
WebP and next modern formats should be included with prod build, this is a must-have for front-end themes and developers, we shouldn't need to add a module in order to have these formats to the product lists of the FO, or it should be shipped as a native module in the build prod, so you don't have to add it yourself everytime you develop something

[2022-03-28 09:36] Hlavtox commented on #28048
@eternoendless

I very strongly disagree. WebP is already integrated, in a not so good way. Images are a crucial part of front end and absolutely **ALL MERCHANTS** will benefit from it.

[2022-03-28 10:05] VipinNethues commented on #9613
Hi guy,

This issue is still exists in PrestaShop 1.7.8.5 (latest version), Did we find any solution or pat ch for this?

Thanks

[2022-03-28 10:29] sLorenzini commented on #19544
hello @202-ecommerce, tested on 1.7.7.8 version and no error appears.
On 1.7.8.X can't install the module.

Other steps or details to test?

thanks

[2022-03-28 11:07] Progi1984 commented on #27774
Fixed by @danidomen in #27922 and tested by @marwachelly

[2022-03-28 11:07] #27774 closed, assigned to nobody

[2022-03-28 12:21] Varindien opened #28051 "Prestashop multi store + litespeed - page 404"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once litepseed installed, everypage

[2022-03-28 13:14] sLorenzini commented on #27184
hello @eternoendless, did you reproduce this issue? I see the "verified" label on this issue 😉 .
I can't reproduce it because I couldn't install the 1.6.0.9 version with different PHP versions (7.1 / 7.0 / 5.6 / 5.3).
I found this topic to try to resolve this installation: https://www.prestashop.com/forums/topic/338399-install-error-at-45-on-configure-shop-information-on-prestashop-1607/ but no su

[2022-03-28 13:15] Varindien commented on #28051
Auto answer  :

Prestashop 1.7 multistore with subfolder is not compatible with litespeed server.

Solution :  have to create multistore with subdomain.

[2022-03-28 13:43] jolelievre commented on #27316
Closed by a PR that only partially fixed this issue (one of the bug) I think some bugs are still to be corrected

[2022-03-28 14:25] tm8544 opened #28053 "Low contrast in notification-counter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

`.notification-counter` in

[2022-03-28 16:32] hibatallahAouadni commented on #28047
Duplicate of #20484

[2022-03-28 16:54] hibatallahAouadni commented on #28051
Hello @Varindien

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2022-03-28 16:54] #28051 closed, assigned to nobody

[2022-03-28 17:20] hibatallahAouadni commented on #28049
Hello @SMULTI2022

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise step to reproduce the issue**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2022-03-28 17:20] #28049 closed, assigned to nobody

[2022-03-28 17:34] hibatallahAouadni commented on #28053
Hello @tm8544

Could you please downgrade your PHP version to 7.4, cause PS1785 is not compatible with PHP 8.1 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
Your issue seems a feature request more than a bug report. So, I'm changing the label :wink:
Could you please propose a solution or a mock-up :pray:
Waitin

[2022-03-28 17:36] hibatallahAouadni commented on #27861
Hello @roktiw

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-28 17:36] #27861 closed, assigned to nobody

[2022-03-28 17:46] tm8544 commented on #28053
Ok with PHP version.

Proposed solution:
in admin\themes\new-theme\public\main.css, search for
.notification-counter{position:absolute;top:0.25rem;right:0;display:inline-block;padding:0 0.1875rem;font-size:0.625rem;line-height:0.75rem;color:#fff;background:#f1b746 ;border:0.125rem solid #fff;border-radius:1rem;top:-1.75rem;right:-0.9375rem}

Change to

1)
 .notification-counter{position:absolute;t

[2022-03-28 17:52] khouloudbelguith opened #28054 "BO - Cannot delete specific price from product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Products > pr

[2022-03-28 20:25] alfonsolr09 commented on #28008
try to activate debug mode...

[2022-03-28 20:26] ocio87 opened #28055 "Delivered status sent with invoice delivery box activated does not add store logo in PDF"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I identify in Multistore, when acti

[2022-03-28 21:49] omar2886 opened #28056 "No records on table order_detail_tax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

orders are not saving any informati

[2022-03-29 06:52] #19674 closed, assigned to zuk3975

[2022-03-29 07:35] Hlavtox commented on #28056
This table should be filled, I am also on 1.7.6, weird.... Try to investigate, find the code

![Snímek obrazovky 2022-03-29 093101](https://user-images.githubusercontent.com/6097524/160557748-c594971c-68eb-4442-870b-daf35fc91669.png)

Inserting seems to happen on 3 places. Find which function is used in the case of FO order. Then try to see why it fails to insert the required data.
https://github.

[2022-03-29 07:45] Hlavtox commented on #28048
@eternoendless Any format is good. :-) However, the looping of any format won't work anyway, because the primary "key" in srcset is the format, then we select the resolutions we wan't, but maybe you could find a way...

We want to make it a component that you just call, with parameters `image` and `required_sizes`. The smarty component then will generate the srcset with all supported formats conta

[2022-03-29 08:47] grzegorzgit commented on #28047
Thank you @hibatallahAouadni for your answer. What do you mean by Product Pave V2? In which Prestashop version will it be available? I see you use 1.7.8.5, and it is still not there?

[2022-03-29 08:53] hibatallahAouadni commented on #28053
Hello @tm8544

I just modifiy your issue/feature description, could you please check it :wink:
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to help you by ensur

[2022-03-29 08:56] tm8544 commented on #28053
Updated a bit, added 'themes.css' at the beginning.
Otherwise it's ok for me.

[2022-03-29 08:59] hibatallahAouadni commented on #28047
Hello @grzegorzgit

Follow these steps to activate the Product Page V2 so you can use it :wink:

1. **BO** > **CONFIGURE** > **Advanced Parameters** > **Experimental Features**
2. Enble the **Experimental product page**
3. Save
4. **BO** > **SELL** > **Catalog** > **Products**
5. Click on **New Product on experimental page**
6. Enjoy it :tada:

Or you can check the attached screen record on my com

[2022-03-29 09:21] marwachelly commented on #28056
Hello,

Could you please follow the steps bellow :

1. Go to International > Taxes
2. Activate the option "Display tax in the shopping cart "
3. Taxes will be displayed in the order details in the FO.

Thanks ,

[2022-03-29 09:41] marwachelly commented on #28055
Hello @ocio87,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/22581.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-03-29 09:41] #28055 closed, assigned to nobody

[2022-03-29 09:41] marwachelly commented on #28055
Duplicated of https://github.com/PrestaShop/PrestaShop/issues/22581

[2022-03-29 09:47] eternoendless commented on #28048
But it took us 10 years to add support Webp because it wasn't a priority.

Do all users need AVIF? Extracting what's not needed by most is not the only objective, the point is modularizing as much as possible to provide more flexibility. Having everything done by the core not only adds to the maintenance burden but it also prevents other people from adding support when they want it.

If we impleme

[2022-03-29 10:07] omar2886 commented on #28056
thanks @marwachelly but this is already the configuration I have. There must be another config maybe that triggers the function to write on that table, do you know what exactly?

[2022-03-29 10:22] marwachelly commented on #28018
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of [this issue](https://github.com/PrestaShop/PrestaShop/issues/27226).
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-03-29 10:22] #28018 closed, assigned to nobody

[2022-03-29 10:23] marwachelly commented on #28018
Duplicated of https://github.com/PrestaShop/PrestaShop/issues/27226

[2022-03-29 10:30] marwachelly commented on #28056
Hello,

Could you please send a screen shot or screen record from your configuration ?

Thanks,

[2022-03-29 10:37] #9503 closed, assigned to nobody

[2022-03-29 10:38] #27907 closed, assigned to nobody

[2022-03-29 10:51] #15330 closed, assigned to marionf, jolelievre

[2022-03-29 11:32] d0niek opened #28058 "[PS Facebook] Won't synchronize new/edited products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Some time ago I have installed `ps_

[2022-03-29 13:10] grzegorzgit commented on #28047
But it clearly says that experimental features should not be used in production. What should say to my client? That we need to make downgrade of recently updated shop, because versions since 1.7.8.3 don't work, and Prestashop decided to not fix it?

[2022-03-29 13:49] marwachelly commented on #28058
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [p

[2022-03-29 13:49] #28058 closed, assigned to nobody

[2022-03-29 14:29] marwachelly commented on #28014
Hello,

@PrestaShop/product-team What do you think about this issue?  It is a bug or a new feature?
`Try to enable Google 2FA and generate an "App Password" for autenticate SMT email send with not secure app, insert the password created in prestashop SMTP field, this result in error sending email.`

Thanks,

[2022-03-29 14:37] khouloudbelguith opened #28061 "PHP8.0 - BO - An exception is displayed in migrated page when profiling is enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using PHP8.0, we have an exception

[2022-03-29 14:38] Prestapepe commented on #26326
@hibatallahAouadni
I have lastets version and It is not solved.

Am I missing something or the solution does not apply to production releases???

I have lastets version and It is not solved.

Thanks!!!

[2022-03-29 14:44] khouloudbelguith opened #28062 "PHP8.0 - an exception is displayed when creating a catalog price rule with a specific condition"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using PHP8.0, when we create a cata

[2022-03-29 15:17] HanaRebaiQA opened #28063 "BO - Cannot edit color in Apparence (Error message is displayed) of blockreassurance module v5.1.0 and the blocks icons are not visible in FO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cannot edit color in Apparence (col

[2022-03-29 15:29] Triloworld commented on #27939
Yeah, it was by ajax request. You are right. Thats not the bug. Thank you @florine2623

[2022-03-29 15:40] HanaRebaiQA opened #28064 "BO - Titles are not well displayed (overlap labels) with mobile of blockreassurance module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Titles are not well displayed (over

[2022-03-29 15:52] PululuK opened #28065 "Introduce select2 in long select options"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-29 15:55] tecmikro commented on #27998
Hello @marwachelly ,
This issue is not the same as #17161, it is not directly related to rounding since it does not appear when creating new orders; it only appears specifically when editing the price of a product when an order has already been created (by the way, a procedure that I have used to overcome this issue has been to cancel the order and create a new one, with the new price of the produ

[2022-03-29 16:12] #16471 closed, assigned to Progi1984

[2022-03-29 16:22] PululuK opened #28067 "Don't reassign cart global vars in front controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Don't reassign cart global vars in

[2022-03-29 17:09] hibatallahAouadni commented on #26326
Hello @Prestapepe

Sorry but I can't help you any more as I didn't reproduce the issue :disappointed:
You can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com).

Thank you

[2022-03-29 21:07] Hlavtox opened #28069 "statsdata module is incompatible with latest jQuery and throws errors"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Statsdata module is using .live met

[2022-03-30 05:04] gajendrasingh681 opened #28071 "Hook displayOverrideTemplate is not working since PS1.7.8.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We are using hook **displayOverride

[2022-03-30 06:44] Shoprunners opened #28073 "You should be able to skip the header row during csv export"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-30 07:37] matks commented on #28071
Please check https://github.com/PrestaShop/PrestaShop/issues/11241 and https://github.com/PrestaShop/PrestaShop/issues/27854

[2022-03-30 07:51] gajendrasingh681 commented on #28071
Yes, it is the same issue #27854 but I have checked in PS1.7.8.5 and it's not working.

[2022-03-30 07:57] Letzga commented on #27617
Hi everyone i don't recommended erase !$language->isAssociatedToShop()) this can cause errors in Front if you have a multistore(conflicts in lenguage), for solve this bug in BO without erase the verification only add another verification: !isset($context->employee) the results it looks like this:

if (!isset($language) || !Validate::isLoadedObject($language) || !$language->isAssociatedToShop() &&

[2022-03-30 08:17] matks commented on #28014
In my opinion it's not a bug, rather a possible limitation due to Google specific security settings about SMTP.

Google created a specific flow for using gmail SMTP https://support.google.com/mail/answer/185833?hl=en and it might need custom configuration not needed for other SMTP providers

[2022-03-30 08:48] lramos-prolaser opened #28074 "BO>Positions: you can not transplant a module neither edit a hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Testing the `develop` branch and th

[2022-03-30 08:51] matks commented on #28014
@matteolavaggi Google App password is a system specific to Google to secure using gmail as a SMTP server. Other SMTP servers would not have this and would have different ways to secure this feature.

[2022-03-30 08:51] Triloworld commented on #10005
We found independent that removing line ```AND c.`id_guest` != 0```  (4146 line) in Cart.php, on our PS 1.7.7.2 shop fix re-login issue.
@hibatallahAouadni same solution propose in same place.
We have id_guest proper but in table it isn't

[2022-03-30 09:19] estenolotienenadie opened #28077 "[Ajax / Server Error for action backupFiles] textStatus: "error " errorThrown:" " jqXHR: " undefined""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, i gotot this error if i try

[2022-03-30 09:25] grzegorzgit commented on #28047
Ok, I see it is just this way. Thank you @hibatallahAouadni anyway for the info and workaround solution.

[2022-03-30 09:44] hibatallahAouadni commented on #28065
Hello @PululuK

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR :muscle:

Thank you

[2022-03-30 09:52] Progi1984 commented on #26349
As discussed with @florine2623 & @NeOMakinG, the bug is fixed.

[2022-03-30 09:52] #26349 closed, assigned to nobody

[2022-03-30 09:56] hibatallahAouadni commented on #28073
Hello @Shoprunners

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2022-03-30 10:45] hibatallahAouadni commented on #28067
Hello @PululuK

As discussed in the related PR, this issue is too technical :sweat_smile:
So, ping @PrestaShop/prestashop-core-developers can someone please reproduce the issue :pray:

Thanks for your PR :rocket:

[2022-03-30 10:55] hibatallahAouadni commented on #28071
Hello @gajendrasingh681

Could you please provide a screen record (recording all the steps to reproduce the issue).
Cause I didn't reproduce the issue with PS1785.
Waiting for your feedback.

PS: thanks @matks for your quick replies :rocket:

Thanks!

[2022-03-30 10:57] clotairer commented on #27535
OK, we found the source of the bug to prepare a PR.

https://github.com/PrestaShop/PrestaShop/blob/fbf14e5a1862c52f10786350021740749b4dc8ed/classes/Hook.php#L864

There a permission to disable permission check $check_exceptions
https://github.com/PrestaShop/PrestaShop/blob/fbf14e5a1862c52f10786350021740749b4dc8ed/classes/Hook.php#L716-L725

We found some hook already had $check_exceptions set to "

[2022-03-30 10:58] hibatallahAouadni commented on #28074
Hello @lramos-prolaser

I was able to reproduce the issue on develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](h

[2022-03-30 11:22] Hlavtox opened #28079 "Add button to show CMS page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-30 11:56] Progi1984 commented on #26502
@PrestaShop/product-team @PrestaShop/qa-functional Hi, after discussion with @jolelievre, it seems there is not the problem anymore on the Product Page v2.

[2022-03-30 12:00] rsoulard-prolaser commented on #28074
Hello @hibatallahAouadni,
The bug appears from this commit https://github.com/PrestaShop/PrestaShop/commit/bdca66904ff37a8e5663aaee736cc7788af0d365.
The folder `/admin-dev/themes/default/template/controllers/modules_positions/` has been deleted.

[2022-03-30 12:24] kamilmc opened #28080 "Backoffice language when multistore is on"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When multistore mode is on, most of

[2022-03-30 12:43] CIMEOS commented on #26442
Greetings everyone,
I managed to reproduce this issue with PrestaShop 1.7.8.5 and 1.7.7.8.
According to @khouloudbelguith's screen record, the product added to the cart seems shared between both shops since the product id is the same when you switch them.
As @clopeau mentioned, the product should be exclusive to shop2 to reproduce the issue.
Could you please try to reproduce the issue with a produ

[2022-03-30 13:04] matteolavaggi commented on #28014
Hi, yes but this is a different system only on google side, client side
there is always a username and password sent to the server. Google check
this password against multiple record (standard account password and every
app password created), but from client side, this is a standard SMTP
implementation? If yes why the bug on email sent feature?

Il giorno mer 30 mar 2022 alle ore 10:51 Mathieu Fer

[2022-03-30 13:17] hibatallahAouadni commented on #28079
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket: and thanks for the proposed design :muscle:

Thank you

[2022-03-30 14:33] micka-fdz opened #28082 ".browserslistrc file shouldn't be located in themes folder"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we use `autoprefixer` on a the

[2022-03-30 14:49] NeOMakinG commented on #28082
Yeah, it's pretty hard to reproduce if you're not developing a new theme, looks legit to me and I'll try to get a look.

In case someone wants to work on it:
- The `.browserlistrc` files in the `themes` folder should be removed and this list should be added to where eslint or webpack needs it

[2022-03-30 14:55] hibatallahAouadni commented on #28082
@NeOMakinG I will trust you :sweat_smile:

[2022-03-30 15:31] matks commented on #15687
@Progi1984 thank you for the nice work

[2022-03-30 15:31] #15687 closed, assigned to Progi1984

[2022-03-30 15:53] HanaRebaiQA opened #28084 "BO - Cannot install modules in module manager with Spanish language on develop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cannot install modules (via drag an

[2022-03-30 16:02] #27968 closed, assigned to nobody

[2022-03-30 16:26] #28077 closed, assigned to nobody

[2022-03-30 16:37] khouloudbelguith commented on #27690
Hi @rsoulard-prolaser,

Sorry for the late response.
I manage to reproduce the issue with PS1785
I attached a screen record to show the difference between updating a file via API or via BO
Update a file via API => the old file is not deleted and the new file is well added
Update a file from BO => the old file is replaced by the new file

I attached a screen record

https://user-images.githubuserco

[2022-03-30 18:25] goyetus opened #28087 "Images auto-regenerate while browsing category products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- Converted all my images to .webp

[2022-03-30 18:36] kpodemski commented on #28087
You can go to the `src/Adapter/Image/ImageRetriever.php` file and delete/comment this code:

[code]

It's not a bug, and next time I suggest you to create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg

[2022-03-30 18:43] #20921 closed, assigned to nobody

[2022-03-30 19:57] Hlavtox commented on #28087
Dude, you delete all your pictures and are angry at the software, that it tries to regenerate them back. 😄😄

[2022-03-30 20:18] matks commented on #27535
Maybe @PierreRambaud can help

[2022-03-30 22:42] goyetus commented on #28087
Thanks for the help.   For me it was not clear,  cause  you can manually regenerate images.
I dont spect to regenerate them while browsing and with no option to turn on/off.   Thanks a lot :)

[2022-03-31 06:46] Progi1984 commented on #27785
Fixed by @atomiix in #28031 and tested by @marwachelly

[2022-03-31 06:46] #27785 closed, assigned to atomiix

[2022-03-31 07:49] pabluss commented on #10908
it works, thank you

[2022-03-31 09:02] chrisvanberg opened #28090 "In the BO Orders page, the tooltip over the generate-delivery-slip button stays after the click."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating one of our client's

[2022-03-31 09:17] chrisvanberg commented on #28090
It seems that this problem is not that complicated to fix.
I'll work on a PR and try to solve it.

[2022-03-31 09:21] rodriciru opened #28091 "XLF on theme export and theme translation export should have source-language="en""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When export xlf of theme or the who

[2022-03-31 09:36] #27659 closed, assigned to nobody

[2022-03-31 10:03] #28087 closed, assigned to nobody

[2022-03-31 10:11] hibatallahAouadni commented on #28080
Hello @kamilmc

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27617.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-31 10:11] #28080 closed, assigned to nobody

[2022-03-31 10:11] hibatallahAouadni commented on #28080
Duplicate of #27617

[2022-03-31 10:18] hibatallahAouadni commented on #28090
Hello @chrisvanberg

I didnt manage to reproduce the issue with PS1785, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/161032982-47a9c8b3-fb83-4392-9429-6c07175295aa.mp4

Waiting for your feedback.

Thanks!

[2022-03-31 10:45] chrisvanberg commented on #28090
Hello @hibatallahAouadni
Thanks for the feedback.

At 0:05 on the video, after you click on the icon and place the cursor on the second icon, the two tooltips are displayed.

This is what I wanted to point out as a problem.
It seems to me that the first tooltip should disappear after the click or after the download.

What do you think about that ?

Best regards,

[2022-03-31 11:59] PauloGois-PSC commented on #16803
Same problem here.
multistore in different domains, and can't share the sopping cart content.

[2022-03-31 12:41] Maofree opened #28092 "Find a bug with Specific prices with: quantity discount - with fixed price - Tax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
I think to have found a bug on S

[2022-03-31 12:42] AliShareei commented on #22661
Hi @matks Thanks for your good response, I appreciate that and this is very valuable to me.
Also, thank you for following up on another issue I created earlier. #26606

About the subject, you really missed the point of what I said. My disappointment is not about my PR, is about unresolved problems that go on for months and years, even though they have a solution, they remain intact.

If my PR is a

[2022-03-31 13:51] #28091 closed, assigned to nobody

[2022-03-31 13:55] marsaldev opened #28093 "A category in multistore environment still works in a certain shop even if is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If a category is disabled for a cer

[2022-03-31 15:22] Progi1984 commented on #27690
Fixed by @rsoulard-prolaser in #27555 and tested by @marwachelly

[2022-03-31 15:22] #27690 closed, assigned to rsoulard-prolaser

[2022-03-31 16:18] #24474 closed, assigned to nobody

[2022-03-31 16:41] hibatallahAouadni commented on #28092
Hello @maofree

Did you encounter this issue only with PS1785 or even with older versions?
Waiting for your feedback.

Thanks!

[2022-03-31 17:50] maofree commented on #28092
![2](https://user-images.githubusercontent.com/653230/161118132-9bdd6180-10bc-46b0-a201-7bf27a9d3a04.png)

with a var_dump I see that the reduction_with_tax is less than reduction

[2022-03-31 18:35] Thierry-Pimentbleu opened #28096 "We can no longer add products to the order in the back office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
When I am in the order of a

[2022-03-31 21:20] alfonsolr09 commented on #28096
![image](https://user-images.githubusercontent.com/62474824/161151274-b9b49956-7fa0-439f-bc00-8419e653cb9b.png)

[2022-03-31 21:21] alfonsolr09 commented on #28096
can´t reproduce

[2022-03-31 21:24] alfonsolr09 commented on #28096
![image](https://user-images.githubusercontent.com/62474824/161151542-f38ac512-5f72-489e-b465-bc574a3ebda8.png)
if you have activated the delivery in the "payment accepted" state, it will not let you modify the order

[2022-03-31 21:31] alfonsolr09 commented on #28090
https://watch.screencastify.com/v/xpLi7AwNdZ65fbHONXvb
yes i can reproduce the problem in 1.7.8.5

[2022-03-31 22:44] alfonsolr09 opened #28097 ""out of stock" label displayed with stock management disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I have the stock management, n

[2022-03-31 22:59] alfonsolr09 opened #28098 "show out of stock tag should not be optional if stock management is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

first I think that the option with

[2022-04-01 07:59] pewube opened #28099 "Stats - swapped browsers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Chrome and Safari statistics (brows

[2022-04-01 08:01] matks commented on #28082
@NeOMakinG is right 👍

[2022-04-01 08:18] khouloudbelguith commented on #28093
Hi @marsaldev,

Thanks a lot for your report.
I manage to reproduce the issue with PS1785.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13468
So, I close it.
Thanks!

[2022-04-01 08:18] #28093 closed, assigned to nobody

[2022-04-01 08:18] khouloudbelguith commented on #28093
Duplicate of #13468

[2022-04-01 08:25] MatShir commented on #9566
Topwatcher !

[2022-04-01 08:30] rodriciru commented on #28091
Hi. @hibatallahAouadni
I update my desc to add more info.
Please open it if you think that is a bug
Thanks

[2022-04-01 09:03] khouloudbelguith commented on #28097
Hi @alfonsolr09,

Thanks for your report.
I manage to reproduce the issue with PS1785.
**Product page**
![image](https://user-images.githubusercontent.com/16067358/161230739-b1749636-54c7-468c-9041-cb95792820bf.png)
**Category list page**
![image](https://user-images.githubusercontent.com/16067358/161230966-5189f2fa-c02f-4533-940f-189027c966cd.png)

It is ok with PS1778.
It is related to https://g

[2022-04-01 09:30] d33x commented on #27009
A temporary solution for the postal code, but not for the ISO country code or the language: https://www.prestashop.com/forums/topic/959897-add-postcode-to-carrier-tracking-url/?tab=comments#comment-3073002

Currently, the link for some carriers that require the postcode in the customer's URL does not work and returns a 404 error to the customer (BPOST example):
https://track.bpost.cloud/btr/web/#/

[2022-04-01 09:31] hibatallahAouadni commented on #28091
Hello @rodriciru

Thanks for the details :pray:
Could you please check these issues #26549 & #14968 seems related to yours.
Waiting for your feedback.

Thanks!

[2022-04-01 09:33] hibatallahAouadni commented on #27009
https://track.bpost.cloud/btr/web/#/search?lang=fr&itemCode=NUMBER&postalCode=POSTALCODE

https://tracking.dpd.de/status/fr_FR/parcel/NUMBER

Ping @PrestaShop/product-team could you please check @d33x solution if it's valid or no?
Thanks in advance :pray:

[2022-04-01 09:34] khouloudbelguith commented on #28096
Hi @Thierry-Pimentbleu,

I did not manage to reproduce the issue with PS1785.
![image](https://user-images.githubusercontent.com/16067358/161236567-62a9853b-edff-459b-ac74-95400496e6bc.png)
In the BO > Shop Parameters > Order Settings > Statuses page
![image](https://user-images.githubusercontent.com/16067358/161236959-f2ca8f9b-4c88-45d1-b00b-da2e49990004.png)
![image](https://user-images.githubus

[2022-04-01 09:42] khouloudbelguith commented on #28098
Hi @alfonsolr09,

Thanks for your report.
In fact, we have a feature ready and validated by the product team about the “out of stock flag on product listings and product pages + the toggle in the BO product settings page as described here: https://github.com/PrestaShop/PrestaShop/issues/24759
It is a related to this epic: https://github.com/PrestaShop/PrestaShop/issues/24378

Could you please chec

[2022-04-01 09:48] Progi1984 commented on #27313
Added in Blocked :

Why ? As discussed with @jolelievre, we have edge cases but not expected behavior on each bug.

[2022-04-01 09:50] Gardella-Web commented on #27880
Hi all,
Nobody to solve this problem? Everyone who uses %group in Prestashop has this problem, the invoices are wrong. No one to help us?
This problem affects the credit notes. The credit notes do not match the invoice. Please, this is important.
Thanks in advance!

[2022-04-01 09:56] khouloudbelguith commented on #28099
Hello @pewube,

This module: https://github.com/PrestaShop/statsequipment has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also, let us know if you are voluntary to maintain this module.
Thanks for your understanding!

[2022-04-01 09:56] #28099 closed, assigned to nobody

[2022-04-01 11:08] khouloudbelguith commented on #27998
Hi @tecmikro,

Thanks a lot for your report.
I manage to reproduce the issue with PS1785 & PS1778 following these steps:
1. Go to BO > Shop Parameters > Customer Settings > Groups page > Edit the customer group & change the method price to tax excluded
![image](https://user-images.githubusercontent.com/16067358/161249994-801c1f6d-490a-43ad-8689-be7d675c2881.png)
2. Create a product with tax exclud

[2022-04-01 11:20] khouloudbelguith commented on #28056
Hi @omar2886,

I did not manage to reproduce the issue with PS1785.
I attached a screen record

https://user-images.githubusercontent.com/16067358/161253297-610aa148-3930-4007-b747-bb00acd1e239.mp4

Could you please provide me a screenshot from the Order History page?

Thanks!

[2022-04-01 11:20] rodriciru commented on #28091
I only complain about source-language attribute in <file> tag in .xlf.
This issues are related, but not the same
Also @atomiix have a PR wich maybe it fixed this issues, but not this one

[2022-04-01 11:27] marioquartz commented on #27026
Im using the last version 1.7.8.5. ITS NOT FIXED. So I have a question: How I fix manually. What file I have to modify. Or how modify the domain.
Because I need spanish translations. And of course I dont gonna translate from scratch.

[2022-04-01 11:35] khouloudbelguith commented on #28090
Hi @chrisvanberg, @alfonsolr09,

Thanks for your feedback.
I manage to reproduce the issue with PS1785 & PS1778
![image](https://user-images.githubusercontent.com/16067358/161255650-55435c15-8f8a-4587-8ef4-3fbad2055a14.png)

https://user-images.githubusercontent.com/16067358/161255662-d610fe61-f808-45f9-99a5-32efc526c165.mp4

so I can confirm that this behavior is indeed a bug.

Please be aware th

[2022-04-01 11:47] khouloudbelguith commented on #28092
Hi @maofree,

I think this issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16138 which fixes those issues: https://github.com/PrestaShop/PrestaShop/issues/15835 & https://github.com/PrestaShop/PrestaShop/issues/15866.

Could you please confirm?

Thanks!

[2022-04-01 11:50] chrisvanberg commented on #28090
Hi @khouloudbelguith,
Thanks for the feedback and the confirmation.
I'll start working on a PR.

Best regards,
Chris

[2022-04-01 12:05] #28000 closed, assigned to Progi1984

[2022-04-01 12:12] omar2886 commented on #28056
Thanks Khouloud for taking your time to analyze this. The issue is not in the FO, same as in your case, my customers can see properly taxes of each order accessing through their account in the order history section.
The problem is that this info is not being registered in table order_detail_tax.
I've been told that the function in charge of writing this tax info in that table is located in OrderDe

[2022-04-01 12:24] VipinNethues commented on #16582
I am getting issue related to it.

**PS 1.7.8.0**

**Error:**
Property Order->total_paid is not valid
at line 1046 in file classes/ObjectModel.php

**How to reproduce it:**
1.  Create a voucher of amount 20$ (in any currency)  -
2. add products in you cart on front shop less then voucher amount, in our case let it be 18$  (cart total must be less then voucher ammount)
3. Apply that voucher now you

[2022-04-01 12:40] Progi1984 commented on #28084
@Julievrz It seems we have a problem with spanish translation :

[code]

If I remove the break lin after `problemas de caché`, I haven't got anymore the problem.

[2022-04-01 12:47] Progi1984 commented on #27039
I added the label "Blocked"

Why ? We need a new release of the module. And before that, we need to merge this PR PrestaShop/blockreassurance#359.

[2022-04-01 13:04] omar2886 commented on #28056
Thanks! I didn't understand at that moment your message, now I see. I understand the concept of what you're proposing, I'm just not sure how to proceed and how this could affect an installation that's live and running public

[2022-04-01 13:07] Progi1984 commented on #19547
@clotairer Friendly Reminder ;)

[2022-04-01 13:18] alfonsolr09 commented on #28097
do you think it's a minor bug? I think that putting the label "out of stock" on a product when in fact it is in stock is a very big mistake

[2022-04-01 13:18] alfonsolr09 commented on #28097
do you think it's a minor bug? I think that putting the label "out of stock" on a product when in fact it is in stock is a very big mistake

[2022-04-01 13:18] Progi1984 commented on #27908
@PrestaShop/qa-functional Could you check it (in the `develop` branch) ? I think it's fixed.

![image](https://user-images.githubusercontent.com/1533248/161271421-4bdc78f7-7aa0-4ab4-a291-fc1a3f315d7e.png)

[2022-04-01 13:33] khouloudbelguith commented on #28092
@maofree, I tried with develop branch
**BO**
![image](https://user-images.githubusercontent.com/16067358/161272813-c3b020bc-fa5d-4a83-960b-28134d265aef.png)
**FO**
![image](https://user-images.githubusercontent.com/16067358/161272839-39849970-8cf1-4fdc-abba-4638f140268e.png)
I attached a screen record

https://user-images.githubusercontent.com/16067358/161273066-c030c25b-708d-4911-aaae-04796ddaff1

[2022-04-01 13:33] #28092 closed, assigned to nobody

[2022-04-01 13:33] khouloudbelguith commented on #28092
Duplicate of #15866

[2022-04-01 14:00] khouloudbelguith commented on #28056
@omar2886, In fact I checked PS1785 & PS1778
I have this structure
![image](https://user-images.githubusercontent.com/16067358/161278697-8d2073b5-beeb-4df7-85a5-7347bb450a4f.png)
Also, I checked an old version PS16124 => same structure of the table `PREFIX_order_detail_tax`
https://github.com/PrestaShop/PrestaShop/blob/1.6.1.24/install-dev/data/db_structure.sql#L1153_L1160

Could you please check?

[2022-04-01 14:29] Progi1984 commented on #19547
@clotairer You are a boss. Thanks :pray:

[2022-04-01 14:32] Progi1984 commented on #28054
@matthieu-rolland is on this one.

[2022-04-01 15:19] tameroski commented on #9757
For the record, it's still not working in 1.7.8.5 but thanks to the introduction of the actionPresentCart hook in 1.7.8, there's now a safer workaround to @Hlavtox's  great fix :

[code]

[2022-04-01 15:24] ghost opened #28106 "Problem of generating administration links in a multi-shop, multi-domain environment"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When connecting with a URL whose do

[2022-04-01 15:24] Progi1984 commented on #24650
Set in Blocked

**Why ?** We are waiting for the @prestashopCorp IT Team :muscle:

[2022-04-01 15:26] thibaultNicolas opened #28107 "Faceted search bug with results"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i click on a filter options, e

[2022-04-01 15:41] #27856 closed, assigned to nobody

[2022-04-01 15:41] matks commented on #27427
Status update

- [x] Module manager PR https://github.com/PrestaShop/PrestaShop/pull/27632
- [ ] Module that uses Distribution API https://github.com/atomiix/ps_distributionapiclient
  - [ ] Latest changes to finish
  - [x] need https://github.com/PrestaShop/.github/pull/2
  - [ ] then transfer to PS org
- [x] Distribution API v0
- [ ] Distribution API v1 : need @atomiix and @djodjo3
  - [x] need

[2022-04-01 15:45] khouloudbelguith commented on #28107
Hi @thibaultNicolas,

Could you please try to follow these steps:

1. Go to BO > Modules > Module Manager page and search the `ps_facetedsearch`
2. Click on configure page
3. Click on the buttons:

- Index all missing prices
- Rebuild entire price index
- Build attributes and features indexes
- Clear cache

4. Go to FO > check the filter

I attached a screen record

https://user-images.githubuserc

[2022-04-01 15:47] mousemhaout commented on #20807
1.7.7 Context Language multistore NOT FIXED

[2022-04-01 15:51] khouloudbelguith commented on #28107
@thibaultNicolas, could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source), is it a fresh install or an upgrade from the previous version?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please rea

[2022-04-01 15:52] omar2886 commented on #28056
Seem to be same for me!
<img width="919" alt="Captura de Pantalla 2022-04-01 a las 15 51 41" src="https://user-images.githubusercontent.com/12675798/161298756-97434c40-9908-47a9-b23a-1912b252e55d.png">

[2022-04-01 15:56] thibaultNicolas commented on #28107
here is the url
you can see the issue when clicking on the filter "blanc"

@khouloudbelguith

https://napert.goimago.com/qc/82-tous-les-produits

[2022-04-01 16:07] khouloudbelguith commented on #28106
Hi @tlgsoledis,

Thanks for your report.
I manage to reproduce the issue with PS1785

https://user-images.githubusercontent.com/16067358/161300261-7a214613-2fc4-45fb-8b00-8cd903a0465b.mp4

With PS1778

https://user-images.githubusercontent.com/16067358/161300848-3ceafdde-7f09-4363-af87-e554a6ad850d.mp4

Ping @PrestaShop/product-team what do you think, is it a bug or normal behavior?

Thanks!

[2022-04-01 16:20] khouloudbelguith commented on #28107
@thibaultNicolas, what is the exact version of the ps_facetedsearch module did you use?

Thanks:

[2022-04-01 16:21] thibaultNicolas commented on #28107
v3.7.1 - par PrestaShop

@khouloudbelguith

[2022-04-01 16:22] khouloudbelguith commented on #28107
@thibaultNicolas,

Did you try to reproduce the issue using the classic theme?

Thanks!

[2022-04-01 16:23] thibaultNicolas commented on #28107
yes, same thing @khouloudbelguith

[2022-04-01 16:34] MEGA911 opened #28109 "ERROR BO PRESTASHOP 1.7.8.1 AFTER INSTALL UPDATE LAST MODULE PRESTASHOP CHECKOUT"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, Can you help me?
I have an e

[2022-04-01 16:47] khouloudbelguith commented on #28109
Hi @MEGA911,

I see this error `'/home/serumew/www/modules/contactform/recaptcha.php'` in your log, did you use a module Recaptcha?
I tried to check the native module contactform https://github.com/PrestaShop/contactform, but there is no file `recaptcha.php`
In my case, I did not manage to reproduce the issue with PS1785.
![image](https://user-images.githubusercontent.com/16067358/161307112-a10e5c

[2022-04-01 16:50] khouloudbelguith commented on #28107
@thibaultNicolas, could you please provide me a screen record using the classic theme & the debug mode is enabled?
![image](https://user-images.githubusercontent.com/16067358/161307492-9ba73121-3e30-490e-939e-d9386b3f1ec9.png)

Thanks!

[2022-04-01 16:53] MEGA911 commented on #28109
Hello,
Tks for your quick reply
Yes I use Recaptcha module => But the bug appear just after install the last module of prestashop checkout => i don't why and i don’t understand the relation whith Recaptcha module ? Now i can't access to my "Gestionnaire de modules" => Do you have an issue to debug this big problem for me ?

[2022-04-01 16:54] MEGA911 commented on #28109
Do you want access to my BO to see the bug in live?

[2022-04-01 16:59] khouloudbelguith commented on #28056
@omar2886, I tried with PS1785.
I checked the table `Prefix_order_detail`
`select id_order_detail, tax_name, tax_rate from Prefix_order_detail`
![image](https://user-images.githubusercontent.com/16067358/161308612-bf9e382a-159b-4f7a-9089-9299d3ee6f88.png)

I checked the table `Prefix_order_detail_tax`, the record is well saved
![image](https://user-images.githubusercontent.com/16067358/161308798-1

[2022-04-01 17:00] zenerry commented on #26855
Hello folks,
do you know how to solve this issue without updating prestashop?
I'm in the same right spot as the example.
PS 1.7.8.1, php 7.4, 512Mb....
thanks.

[2022-04-01 17:01] MEGA911 commented on #28109
FYI => I install the last update of Prestashop Checkout in maintenance mode for not to have a cache problem => And just after this install update module => Impossible to me to access at my  "modules manager" => I really regret to install this update => Now i don't know what can i do => Please help me => I am in panic

[2022-04-01 17:03] #28109 closed, assigned to nobody

[2022-04-01 17:09] Hlavtox commented on #28107
Check that you don't have a feature and attribute with the same name.

Otherwise, this is probably caused by data incosistency. We need to find where in that case. :-)

[2022-04-01 17:18] MEGA911 commented on #28109
Tks for your reply => I contact now the support on addons prestashop

[2022-04-01 17:20] khouloudbelguith commented on #28107
@Hlavtox, @thibaultNicolas, do you think it is the same issue: https://github.com/PrestaShop/PrestaShop/issues/15635?

Thanks!

[2022-04-01 17:29] khouloudbelguith commented on #27908
Hi @Progi1984,

In fact, the issue is displayed on the Product Edit page and not on the product list page
![image](https://user-images.githubusercontent.com/16067358/161313030-be973aae-97af-42a7-a870-3b2926dd2d00.png)

Thanks!

[2022-04-01 17:42] omar2886 commented on #28056
I think you've made a good point here, I think there are some discrepancies
<img width="487" alt="Captura de Pantalla 2022-04-01 a las 17 21 36" src="https://user-images.githubusercontent.com/12675798/161313931-b14ad333-7800-4b8b-b689-c40b913f536f.png">
<img width="343" alt="Captura de Pantalla 2022-04-01 a las 17 23 21" src="https://user-images.githubusercontent.com/12675798/161313947-05d02187-54

[2022-04-01 18:19] thibaultNicolas commented on #28107
@khouloudbelguith seems similar yes

[2022-04-01 18:52] thibaultNicolas commented on #28107
@khouloudbelguith The issue is now ok! There was to attribute with the name white, even if they are not in the same attribute category...

[2022-04-02 10:38] JSSSX commented on #27477
I am also confronted to this issue on 1.7.8.3 and Paypal 5.5 (fresh install with migration, no customer is able to pay with Paypal since this issue genrating error 500 with PHP Fatal error:  Uncaught  --> Smarty: Unable to find template function 'renderLogo' <-- ).

May I know on which file I have to add this code ?

{extends "$layout"}

{block name="content"}
	<section>
		<h2>Title</h2>
	</sectio

[2022-04-03 01:11] alfonsolr09 opened #28111 "being able to enter a price and not a price impact in the combinations of a product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Describe the sol

[2022-04-03 15:17] Caleydon opened #28113 "Optional module installation during his uploading"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-03 15:19] Caleydon opened #28114 "Allow delete modules from the "Modules catalog" tab"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-03 15:20] Caleydon opened #28115 ""Upgrade" button overriding "Settings" button in the module list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-03 15:22] Caleydon opened #28116 ""See more" / "See less" links in the "Module manager" tab"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-03 15:31] Hlavtox commented on #28115
Already done, test develop

[2022-04-03 15:31] Hlavtox commented on #28116
+1 Absolutely agree, soooo anoying :-)

[2022-04-03 15:32] Hlavtox commented on #28114
Module catalog page is gone on develop, all is done from the module manager like in 1.6. ;-)

[2022-04-03 15:37] Caleydon commented on #28114
Oh, great news. Thank you.

[2022-04-04 06:28] NicolasCador commented on #27967
Hello all, I created a new Pull Request in the right branch 1.7.8.x : https://github.com/PrestaShop/PrestaShop/pull/28117

[2022-04-04 07:13] Progi1984 commented on #27897
Fixed by @PierreRambaud in #28076

[2022-04-04 07:13] #27897 closed, assigned to PierreRambaud

[2022-04-04 07:31] Progi1984 commented on #26606
Fixed by @matks in #28052 (and not tested).

[2022-04-04 07:31] #26606 closed, assigned to matks

[2022-04-04 08:36] hibatallahAouadni commented on #28111
Hello @alfonsolr09

I can edit the price impact for the product combination :thinking: check the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/161505974-793b6633-211b-4138-9e3a-30e2ce39c062.png)

Which currency and language do you use in the BO?
Please check and feedback.

Thanks!

[2022-04-04 08:37] Progi1984 commented on #27908
Thanks @khouloudbelguith : it's fixed.

[2022-04-04 08:49] #25800 closed, assigned to nobody

[2022-04-04 08:49] #27305 closed, assigned to nobody

[2022-04-04 08:51] matks commented on #16471
🚀

[2022-04-04 09:21] matks commented on #28097
Fixed by https://github.com/PrestaShop/PrestaShop/pull/28112

[2022-04-04 09:25] #28097 closed, assigned to matks

[2022-04-04 09:36] hibatallahAouadni commented on #28113
Hello @Caleydon

You mean that you want to upload the module but not installing it by default while uploading, is that so?

https://user-images.githubusercontent.com/23308427/161514578-fa15729d-488e-42e9-a5a9-d08547c9fc79.mp4

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be

[2022-04-04 09:53] nesrineabdmouleh opened #28120 "A 500 internal server error appears on 'Design>Link list > Add new block' page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The nightly report showed us a 500

[2022-04-04 09:58] Progi1984 commented on #28004
@khouloudbelguith Could you check if the behavior is always present with the `dev` branch of the module ? I didn't reproduce it.

[2022-04-04 10:03] hibatallahAouadni commented on #28114
Hello @Caleydon

As @Hlavtox said, the module catalog page is gone on the next patch 8.0.0 :tada:
Closing the issue!

PS: thanks @Hlavtox for your quick replies :superhero:

Thanks!

[2022-04-04 10:03] #28114 closed, assigned to nobody

[2022-04-04 10:24] khouloudbelguith commented on #27131
Hi,

I did not manage to reproduce the issue again with develop branch & blockwishlist v2.1.0.
I attached a screen record

https://user-images.githubusercontent.com/16067358/161525059-3f6c6708-6b26-4917-9c8c-a91526f7cc59.mp4

Thanks!

[2022-04-04 10:24] #27131 closed, assigned to nobody

[2022-04-04 10:39] Progi1984 commented on #27385
Fixed by @NeOMakinG in #27615 and tested by @HanaRebaiQA

[2022-04-04 10:39] #27385 closed, assigned to NeOMakinG

[2022-04-04 11:12] hibatallahAouadni commented on #28116
Hello @Caleydon

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2022-04-04 11:14] hibatallahAouadni commented on #27899
Hello @RCallejo2

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-04 11:14] #27899 closed, assigned to nobody

[2022-04-04 11:15] hibatallahAouadni commented on #27906
Hello @tdzierza

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-04-04 11:15] #27906 closed, assigned to nobody

[2022-04-04 11:41] khouloudbelguith commented on #27135
Hi @NeOMakinG,

I still reproduce the issue with develop branch & wishlist v2.1.0.
This issue is reproduced with a simple product or a pack product or a vector product

https://user-images.githubusercontent.com/16067358/161536423-6349e984-f847-4c0c-b369-c3ff4fdb8e1a.mp4

A product with combinations => OK

I will re-open the issue.

Thanks!

[2022-04-04 12:09] alfonsolr09 commented on #28111
hello, read well please.
"being able to enter a price and not a price impact in the combinations of a product"
I mean be able to enter a final price and not a price impact

[2022-04-04 12:12] Progi1984 commented on #28120
@atomiix Isn't it relative to your PR ?

[2022-04-04 12:13] Progi1984 commented on #27866
@PrestaShop/product-team What is the expected behavior ?

[2022-04-04 12:44] MeKeyCool commented on #26642
@MatShir , as you didn't allow #27548, what should we do with this issue ?
Should it be suppressed ? Redefined ? Target another version ?

[2022-04-04 12:55] MeKeyCool commented on #26557
I don't understand the status of this ticket.
I see it at `ready` in the project kanban view but the but removed the `ready` tag and added `needs specs`.
There is a `PR available` tag but I don't see any that solves the issue.

@NeOMakinG did you take a look ? Have you implemented anything ? Do you want any help ?

[2022-04-04 12:59] NeOMakinG commented on #26557
I did a PR but closed it because we needed to find a proper way to fix it

There are some tickets related to the image system which should definitely fix it on develop, but the problem remains on 1.7.8

I think I talked with @lramos-prolaser , but if he's not able to work on it, you can definitely get a look if you want

Overwise I can plan to find a proper way later in the week

[2022-04-04 13:02] MeKeyCool commented on #26557
Thanks for answers !
I take it then ^^

[2022-04-04 13:04] hibatallahAouadni commented on #28115
Hello @Caleydon

As @Hlavtox mentioned the feature is well implemented on develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/161549710-9d0da61f-1863-430b-8963-121b5787f663.mp4

Closing the issue!
Thanks!

[2022-04-04 13:04] #28115 closed, assigned to nobody

[2022-04-04 13:16] hibatallahAouadni commented on #28111
Hello @alfonsolr09

Sorry for the misunderstanding :pray:
Your proposal contradicts the specs, could you please check the [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/catalog/products/add-edit-v2.md#combination-generation).

Otherwise, thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be awa

[2022-04-04 13:22] matthieu-rolland commented on #28056
test comment for issuebot

[2022-04-04 13:34] khouloudbelguith commented on #28004
Hi @Progi1984,

I still have the same issue with develop branch and the `ps_googleanalytic` dev branch.
I attached a screen record

https://user-images.githubusercontent.com/16067358/161555412-94a14279-0641-44c6-93d6-dac525137336.mp4

Thanks!

[2022-04-04 13:41] hibatallahAouadni commented on #28056
Hello @omar2886

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is fixed on 1.7.8.5. Check the attached screen record below:

https://user-images.githubusercontent.com/23308427/161556765-006470df-911c-4b86-92ab-e96326c49755.mp4

We will close this issue.

Thanks!

[2022-04-04 13:41] #28056 closed, assigned to nobody

[2022-04-04 13:42] alfonsolr09 commented on #28111
"Price and Impact - Section

Cost price - Numeric input
Impact on price (tax excl.)- Price input
Impact on price (tax incl.) - Price input
Ecotax (tax incl.) - Price input
Impact on price per unit (tax excl.) - Price input
Impact on price per unit (tax incl.) - Price input
Impact on weight - Numeric input
Impact on additional shipping fees - Numerc input"

I think the price option should be added.

[2022-04-04 13:49] hibatallahAouadni commented on #28107
Hello @thibaultNicolas

How did you fix the issue? and do you only reproduce the issue when you have two attributes with the same name?
Please check and feedback.

Thanks!

[2022-04-04 14:04] hibatallahAouadni opened #28122 "[BO] Linklist forms are using improper markup"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

About the **BO>IMPROVE>Design>Link

[2022-04-04 14:05] #19363 closed, assigned to nobody

[2022-04-04 14:05] #19315 closed, assigned to nobody

[2022-04-04 14:13] hibatallahAouadni commented on #28122
Caused by #25879

[2022-04-04 14:54] khouloudbelguith opened #28124 "BO - An error is displayed when upgrading the module using the zip"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

To test a release of any module, I

[2022-04-04 15:10] khouloudbelguith commented on #27140
Hi @NeOMakinG,

I still manage to reproduce the issue with the 178x branch & develop the branch using the wishlist v2.1.0
This issue is reproduced with a simple product, vector product, or pack product
I attached the screen record

https://user-images.githubusercontent.com/16067358/161574611-cacea66a-d73e-46c0-9d38-317ee4e52c61.mp4

Thanks!

[2022-04-04 15:22] shorrog opened #28125 "Unable to Raise Back Office Order Missing Add to Basket"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If I create a back office order as

[2022-04-04 15:36] florine2623 commented on #27184
Hello @Prestaworks & @eternoendless ,

I tried to reproduce the issue and I couldn't.
First, I installed PS 1.6.0.9, PHP 5.6, upgrade to 1.7.8.2 didn't go well. Here's the error :
<img width="1168" alt="Screenshot 2022-04-04 at 17 19 07" src="https://user-images.githubusercontent.com/16019289/161578976-d54d820c-ac4a-457a-88a4-6d3e33bdd7ca.png">
I cannot upgrade using the recommended version of PHP

[2022-04-04 15:36] khouloudbelguith commented on #27478
Hi!

I still have the same issue with PS1785 & 178x branch using the wishlist v2.1.0

https://user-images.githubusercontent.com/16067358/161579846-b9868475-6fcd-47cf-a581-9a8803121aa0.mp4

I checked PS1785 using the wishlist v2.0.1 => ok

https://user-images.githubusercontent.com/16067358/161579950-a9627838-c382-4177-b0dc-6f6c9fad8bc2.mp4

It is a regression in the module.
I will re-open the issue

[2022-04-04 15:41] omar2886 commented on #28056
Thanks @hibatallahAouadni , then if there's a fix, can you please let me know where it is so I can fix it? if it's just changing a TPL for example, adding the one from 1.7.8.5 in substitution for the one I have from 1.7.6, or maybe only few lines of code. The problem seem to be somewhere where the function to write on ps_order_detail is triggered, right?

[2022-04-04 16:03] Seb33300 commented on #27539
I am no more able to reproduce this issue after 1.7.8 upgrade

[2022-04-04 16:03] #27539 closed, assigned to nobody

[2022-04-04 16:32] ballashop opened #28126 "No warning during account registration that the email is already subscribed to the newsletter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
In short:
if a user subscribes

[2022-04-04 18:33] ebubekirakyol commented on #27585
Litespeed support says;

"Hello:
latest 1.7.8.x has some internatal module caused such 500 error /home/ptlt/public_html/classes/Hook.php. the last report was about "Product Comments" module.

Not sure if you are the same case or not, Prestashop should investigate the /home/ptlt/public_html/classes/Hook.php issue. It is not ask them to invesgitea third party module, but their own module may have su

[2022-04-04 20:27] tdzierza opened #28128 "Prestashop docker no translation for backoffice menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Language options are set

PRESTASHO

[2022-04-05 00:03] elclay7 commented on #26230
I have the same issue

- Personal server for dev
- ps: 1.7.7.7 (no clean installation, I have been upgrading with 1-click upgrade)
- php: 7.3.29
- mysql:10.5.8
- 1-click upgrade: 4.14.0

![evi4](https://user-images.githubusercontent.com/13406685/161647825-3abf37e1-6b5e-4e0c-94ec-0b9252a38e22.png)

I added in line 153 as @23b suggests [comment](https://github.com/PrestaShop/PrestaShop/issues/26230#

[2022-04-05 06:48] Prestaworks commented on #27184
@florine2623

![bild](https://user-images.githubusercontent.com/2902272/161695176-56a14ca2-5e25-43b5-a579-587cdb772b92.png)

You should be able to run the upgrade from 1.6.1.x to 1.7.1 on php 5.6 and be able to run the scripts involved. Remember that to get the issue, you need a module installed on 1.6.1 that creates on of the hooks before running the upgrade.

[2022-04-05 08:24] khouloudbelguith opened #28130 "BO - An exception is displayed in the statistics tab when deleting a product added to wishlist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we delete a product added to w

[2022-04-05 08:44] florine2623 commented on #28125
Hello @shorrog ,

I can't reproduce your issue. It is possible to create an order.
I tested with these profiles : SuperAdmin and Salesman without changeing their permissions, the order are well created.

I close your issue as it is not reproducible.
Thanks!

[2022-04-05 08:44] #28125 closed, assigned to nobody

[2022-04-05 08:46] lmeyer1 commented on #9848
Bump.
This is an important bug. Not every employee should be able to see the discount codes of other shop.
Even worse than stated here. Every employee can update the discount codes of any shop!

[2022-04-05 08:48] Amit-Kumar-Tiwari-Webkul commented on #28098
@khouloudbelguith , Yes I agree but currently we can fix it in 1.7.8.6 patch PR is already available, it seems this button is going to be removed in 8.0.0

[2022-04-05 08:58] florine2623 commented on #28126
Hello @ballashop ,

I have reproduced your bug using ps_emailsubscription v2.7.0, so I can confirm that this behavior is indeed a bug.
When I have already registered to the newsletter, when I log into my account and I subscribe again, I should have a warning.

https://user-images.githubusercontent.com/16019289/161718115-6a5b8892-bcc6-4eb8-8370-b9eb1c361029.mov

Please be aware that due to the high

[2022-04-05 09:01] arirangz commented on #25981
Hello,

Any update on this one?

All stock email alerts (from module and core) should be sent only when a customer is ordering from my point of view.

Thanks

[2022-04-05 09:08] khouloudbelguith opened #28131 "PHP7.4 - An exception is displayed in the statistics tab when adding a product without image to the wishlist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is reproduced with PHP7.

[2022-04-05 09:19] florine2623 commented on #27032
Hello @qualityangel ,

I cannot reproduce your issue in an online store. So I will close your issue.
I tested with multiple version of PHP and incognito mode.

https://user-images.githubusercontent.com/16019289/161721981-30ab544d-3037-4532-940d-129002927049.mov

Thanks!

[2022-04-05 09:19] #27032 closed, assigned to nobody

[2022-04-05 09:21] florine2623 commented on #28128
Hello @tdzierza ,

What PRESTASHOP_COUNTRY and PRESTASHOP_LANGUAGE did you choose ?

The defaults values are PRESTASHOP_COUNTRY=GB and PRESTASHOP_LANGUAGE=en

[2022-04-05 09:24] sowbiba opened #28133 "Remove ModuleZipManager service as class have been removed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image (2)](https://user-images.gi

[2022-04-05 09:32] lmeyer1 opened #28134 "[bug collection] Cart rules are a nest of cockroaches"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is a fun bug report. A correct

[2022-04-05 09:56] matks commented on #28134
Hi @lmeyer1 I agree with you that CartRule is a nightmare, and I think you forgot to mention one important point: the code that is responsible for the behavior you mention is even worse https://github.com/PrestaShop/PrestaShop/blob/develop/classes/CartRule.php and its sidekick [Product:getPriceStatic](https://github.com/PrestaShop/PrestaShop/blob/29423ec371cd3374c7522ff8b5019e621816e796/classes/Pr

[2022-04-05 09:56] khouloudbelguith commented on #27029
Hi @SD1982,

I tried to install PS1778 with cli
`php 1778/install-dev/index_cli.php --language=it --country=it --base_uri=1778 --domain=localhost --db_server=127.0.0.1 --db_user=user --db_name=presta --db_password=User@2022 --prefix=sktest --firstname=demo --lastname=demo --email=demo@prestashop.com --password=123456789 --db_create=1`
=> ok
![image](https://user-images.githubusercontent.com/160673

[2022-04-05 10:02] Hlavtox opened #28135 "Product page v2 category edit is annoying"
### What is wrong

Just tested the new product page category edit, I think it needs some tweaks in order for merchant not to break their displays out of anger on 10th product. :-)))

- When adding categories, you cannot unselect Home category right away.
- After adding another categories, you still cannot unselect the Home category.
- This works differently on old product page. You can delete a de

[2022-04-05 10:03] matks commented on #28134
About cart rules behavior I have absolutely no opinion 😅  I actually believe this is highly complex domain where "what is the expected behavior" should be a question answered by lawyers (to comply with the law) and product specialists (to find the best interface / flow).

I'm a developer, my favorite interface is a CRUD interface based on forms I'm afraid I should not be allowed to define user int

[2022-04-05 10:05] matks commented on #28134
@lmeyer1 Some people told me they had a jumpscare 😅 about the image so I removed it, I hope you understand we want people to discuss about a technical problem, not throw away their monitor

[2022-04-05 10:27] marsaldev commented on #22565
@PrestaShop/prestashop-maintainers Can I work on it?

[2022-04-05 10:34] HartLarsson opened #28136 "Strange refresh of dashboard graph"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

in BO > Control Panel  when i refre

[2022-04-05 10:41] HartLarsson commented on #28136
Sorry, someone of my Staff as enable the demo mode in some way while we have disabled the video of the switch (to avoid that)
 :)

[2022-04-05 10:41] #28136 closed, assigned to nobody

[2022-04-05 10:42] tdzierza commented on #28128
- PRESTASHOP_COUNTRY=pl
- PRESTASHOP_LANGUAGE=pl

But almost everywhere (where are translations) is pl language but only: backoffice menu and permission/roles not.
I was searching translations but can't find. I checked db and there are english names. Is it possible to change menu language after installation ?

[2022-04-05 10:49] Amit-Kumar-Tiwari-Webkul commented on #28098
HI,
Any update?

[2022-04-05 11:01] shorrog commented on #28125
I found the problem. It was caused by the wrong language being selected for the employee account.  I had selected "English" instead of "English GB (English"). If the former is selected then the shopping basket is not available.
Graham

[2022-04-05 11:25] #26376 closed, assigned to PululuK

[2022-04-05 11:37] rickygzz commented on #28128
Hello,

I confirm the bug for the 1.7.8.5 version.

I imported the Polish language

![image](https://user-images.githubusercontent.com/36200981/161743128-021c42c0-c057-47ec-bcfa-0c16794e2b2a.png)

Then went to Configure / Advanced Parameters / Team / Employees

![image](https://user-images.githubusercontent.com/36200981/161743290-8f79388d-b2e4-41bf-a3cc-1c8d3de54001.png)

Edited the current (or de

[2022-04-05 11:50] hibatallahAouadni commented on #27539
@Seb33300 Glad to hear :tada:

[2022-04-05 11:54] hibatallahAouadni commented on #28056
Hello @omar2886

Why you don't want to upgrade your shop to 1.7.8.5?
Otherwise, you can ask your question in the [public Slack channel](https://prestashop.slack.com).

Thank you

[2022-04-05 12:11] florine2623 commented on #28135
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is

[2022-04-05 12:25] florine2623 commented on #27934
Hello ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-04-05 12:25] #27934 closed, assigned to nobody

[2022-04-05 12:28] omar2886 commented on #28056
i took me 2 years to upgrade from 1.6 to 1.7 with various "Prestashop Partners", it was a nightmare, it's a very complex and risky thing to do for a Prestashop that has been running for many years already. Maybe after the release of 1.8, once it's totally stable I'd think of starting all over again

[2022-04-05 12:36] Julievrz commented on #9965
I suggest keeping only one help text:

'This feature allows you to identify modules that might be causing bugs on your store.
Disable all non-built-in modules (not listed in composer.json). Then, re-enable each module one by one and check that everything works properly before moving on to the next one.' in Admin.Advparameters.Help

[2022-04-05 12:50] marsaldev commented on #9550
@PrestaShop/product-team What is the expected behaviour do you want?
I've "quickly" made a check, and I don't think a is `Good first issue` ^^"
It involves radically the behaviour of the notifications, and also, legacy (js) and new `ts` files.

Just to give some ideas, we can think to make 'read'  that order/customer/message if with the mouse cursor of the user stands on the element for 5 seconds

[2022-04-05 12:53] ballashop opened #28137 "Data not updated within the GDPR module in the back end."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
An account created with a first

[2022-04-05 13:40] florine2623 commented on #28137
Hello @ballashop ,

This is indeed a bug ! Thanks for the report ! It will be added to the debug roadmap.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestash

[2022-04-05 14:15] lmeyer1 opened #28139 "Permissions of cart rules - display of the list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The list of the cart rules (menu `C

[2022-04-05 14:17] lmeyer1 commented on #9848
I'd like to close in favor of #28139 which describes the same issue, but much more in depth, but I have not the permissions to.

[2022-04-05 14:22] marsaldev commented on #9612
@PrestaShop/prestashop-maintainers @PrestaShop/prestashop-core-developers
I don't think is a `Good first issue`, it involves the multistore.

After a check in the code, I think the only solution is to edit the way of url generating in the twig templates, and it will involve all the multistore area.
Basically the url generated for another shop should be provided without any "filter".
In this case t

[2022-04-05 14:28] kpodemski commented on #9612
@marsaldev

Apart from the "Good first issue" label, this bug might go away with introducing a new product page and migrated product list—something to check.

[2022-04-05 14:55] florine2623 commented on #28139
Hello @lmeyer1 ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.
I have also closed this issue #9848.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we str

[2022-04-05 14:55] florine2623 commented on #9848
I am closing this issue as https://github.com/PrestaShop/PrestaShop/issues/28139 has more details.

[2022-04-05 14:56] #9848 closed, assigned to nobody

[2022-04-05 16:09] tdzierza commented on #28128
But this is not exactly what I did.
I started docker with
    PRESTASHOP_COUNTRY=pl
    PRESTASHOP_LANGUAGE=pl
at the very beginning.
So should be installed only one language: Polish.
For example is it possible ?

I know that  installation with default English and that changing to other language working. But try to do this first scenario.

[2022-04-05 16:35] groukx opened #28142 "Default theme is built with an alpha version of bootstrap which make every theme on the market like this"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Sorry but every issue that report t

[2022-04-05 17:35] estenolotienenadie commented on #20422
Hello, were you able to solve this error?
Regards,
Alberto

[2022-04-05 18:08] thibaultNicolas commented on #28107
@khouloudbelguith  @Hlavtox

The hero image of the product is not changing when i click on a different color filter. Only the thumnails are changing colors...

[2022-04-05 22:22] elclay7 commented on #26230
In case it helps someone, I managed to update with errors but it was updated [prestashop forum](https://www.prestashop.com/forums/topic/1062719-1777-to-1785-1-click-upgrade-nightmare/)

[2022-04-06 06:15] Hlavtox commented on #28142
@groukx New theme built on Boostrap 5 is 75% done.

- https://github.com/PrestaShop/hummingbird
- https://build.prestashop.com/news/new-theme-announce/

[2022-04-06 07:28] hibatallahAouadni commented on #28142
Hello @groukx

As @Hlavtox mentioned above we will use Bootstrap 5 in the new major release 8.0.0.
So don't worry 😉
@NeOMakinG could you please explain to @groukx more about the new theme 🙏

Thanks!

[2022-04-06 07:50] SimonasB88 opened #28144 "SEO & URLs frontend bug"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Seems like `button id` information

[2022-04-06 07:55] matks commented on #27684
As far as our knowledge goes, this problem is fixed by https://github.com/PrestaShop/PrestaShop/pull/27806 but I think the bug report might actually represent a global observable behavior that can be caused my multiple issues. So maybe not all issues are fixed. If someone finds an issue that is not fixed by https://github.com/PrestaShop/PrestaShop/pull/27806 please open another bug report it will

[2022-04-06 07:55] #27684 closed, assigned to Amoifr

[2022-04-06 08:32] #28062 closed, assigned to Progi1984

[2022-04-06 08:42] tobiasbrunner commented on #28041
We've seen the same issue (there are actually three), which can be easily reproduced as follows.

1. Customize a product (e.g. the customizable mug in the demo shop)
2. Change either the quantity, or attributes if the product offers any (issue 1)
3. Put the article(s) into the cart (issue 2)
4. The cart in the front end still shows customization fields (issue 3), while the cart in the backend (or

[2022-04-06 08:42] matks commented on #28142
Yes because the solution is already being built

This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14533 you can read all the pros and cons about this topic in https://github.com/PrestaShop/PrestaShop/issues/14533 .

The solution we chose is to build a new theme as mentioned by @Hlavtox . This is the path we have chose, opening multiple github issues about Classic theme

[2022-04-06 09:07] ruchus commented on #28135
Totally agree. It's annoying.

[2022-04-06 10:02] tom-combet commented on #28017
@matks By the way, did you change your mind since https://github.com/PrestaShop/PrestaShop/issues/14086?

Because it completely changes the situation otherwise: third-party developers could use MakerBundle and its extension since they would use the sources and not the production ZIP in their dev environment.

[2022-04-06 10:06] gadnis commented on #16783
Hi, why these improvments still not present in latest prestashop version? :(

![Screenshot 2022-04-06 at 13 01 44](https://user-images.githubusercontent.com/10948341/161951498-c61aaf55-5926-429c-a09f-3e0cfc327ffe.png)

![Screenshot 2022-04-06 at 13 00 46](https://user-images.githubusercontent.com/10948341/161951504-6215f25e-2b75-4ccb-948c-c523fb20abb6.png)

[2022-04-06 10:17] #16627 closed, assigned to prestascott

[2022-04-06 10:26] Triloworld commented on #15785
Yes. Problem after combination only import and with 1.7.7.0 version
Link to what @PawelRanuszkiewicz (thx!) refer: https://github.com/PrestaShop/PrestaShop/blob/ab9309a5d45c0dcb56e7885173e283e4a8ad005d/src/Adapter/Product/AdminProductWrapper.php#L207-L214

Commenting only cache change won't resolve solution.
**Workaround**:
We comment it and is working now (be sure that import don't require setAva

[2022-04-06 10:37] hibatallahAouadni commented on #28142
Hello @groukx

We are aware of this issue as @matks mentioned above and it's already fixed.
So, this issue is a duplicate of ##14533.
Please subscribe to the issue mentioned above.

Thanks!

[2022-04-06 10:37] #28142 closed, assigned to nobody

[2022-04-06 10:37] hibatallahAouadni commented on #28142
Duplicate of #14533

[2022-04-06 10:47] hibatallahAouadni commented on #28041
Hello @tobiasbrunner

I didn't manage to reproduce the issue with PS1785, see the attached screen record and screenshot below:

https://user-images.githubusercontent.com/23308427/161957920-02960b73-41a5-426b-8a19-61356a49f502.mp4

![image](https://user-images.githubusercontent.com/23308427/161957728-adbf130a-af12-4e49-93a1-6849f4bf5185.png)

And to be honest, I didn't understand why you considers

[2022-04-06 11:06] hibatallahAouadni commented on #28134
Great :relaxed: thanks :pray:

[2022-04-06 11:07] kpodemski commented on #9674
@MatShir

Maintainers rejected the original idea about adding this option to Preferences -> General. Can we expect updated specs there?

[2022-04-06 11:08] #25650 closed, assigned to Progi1984

[2022-04-06 11:41] HanaRebaiQA opened #28147 "BO - A log error is displayed in Logs page when confirm an order with Cach on delivery payment (Cash on delivery - v1.0.6)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A log error `Use Tools::redirect()

[2022-04-06 12:08] lmeyer1 opened #28148 "Shop associations for cart_rules are saved without taking into account the employee permissions"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a multishop environment, when se

[2022-04-06 12:12] lmeyer1 commented on #28148
Replaces #23082, that I close in favor of this one.

[2022-04-06 12:13] lmeyer1 commented on #23082
I close in favor of #28148, which gives more details and reproducible use cases.

[2022-04-06 12:13] #23082 closed, assigned to nobody

[2022-04-06 12:17] #9866 closed, assigned to nobody

[2022-04-06 12:20] lmeyer1 commented on #13823
Please add #28148 to the list

[2022-04-06 12:29] tobiasbrunner commented on #28041
The crucial step is **2.**, i.e. changing the quantity or attributes after saving the customization before step **3.**, i.e. pressing the "add to cart" button.

[2022-04-06 12:51] matks commented on #27541
@NeOMakinG it seems https://github.com/PrestaShop/PrestaShop/pull/27611 does not fully fix this issue, is'nt it?

[2022-04-06 12:52] AureRita opened #28149 "BO > Positions : Can't change the hook on develop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you want to change an hook on