[2020-09-09 14:43] jonpontet commented on #20897
@khouloudbelguith thank you - I can see it is clearly there.

Indeed I am superadmin.

Here is a screenshot of our dashboard where you can clearly see there is no Email Theme link under Appearance
![Annotation 2020-09-09 164051](https://user-images.githubusercontent.com/20968408/92613490-5362a000-f2bb-11ea-86a3-db37a585c21b.png)

**How could a link be removed ? Could it be our theme ?**

[2020-09-09 14:53] ProteanCode commented on #20921
I could be a bit unprecise about this. Its better to read the:
https://developer.mozilla.org/en-US/docs/Web/API/Window/unload_event
and
https://api.jquery.com/jquery.post/

Afaik using this method is okayish when called code is synchronous, but the` jquery.post()` is not

There are few more things you could do to reproduce it:
* in chrome based web browser (maybe FF now supports it) change your ne

[2020-09-09 14:55] ProteanCode commented on #20921
I am also pointing out that this request should never be aborted in the first place

[2020-09-09 14:56] 8ternity commented on #16004
@ttoine Thanks for update.

Our company does not have a developper, like many businesses choose to build their own store for selling products. Normaly business have project manager and peoples who manage the store. Since is a bug caused by a bad configuration in the store itself and affter product, store translations, it's a critical issue. I've communicate details over and over (sorry if my engli

[2020-09-09 14:57] khouloudbelguith commented on #20897
@jonpontet, thanks to navigate to your BO > Advanced Parameters > Databse > create an SQL Query
`select * from ps_tab ps_tab where  class_name ='AdminParentMailTheme'`
and check if `active = 1`
![image](https://user-images.githubusercontent.com/16067358/92615417-61192500-f2bd-11ea-9c48-45a5eaac8409.png)
If no, your Email theme menu is disabled, you should enable it.

Thanks!

[2020-09-09 14:57] ProteanCode commented on #20921
I have also found an issues that may be related:
https://github.com/PrestaShop/PrestaShop/issues/12408#issuecomment-459785624
https://github.com/PrestaShop/statsdata/pull/7

[2020-09-09 15:16] LouiseBonnard commented on #20877
Hi @ngodefroy, I've just done it in the description part, let me know if it is okay for you. ;-)

https://github.com/PrestaShop/PrestaShop/issues/20469#issue-673593463

[2020-09-09 15:17] khouloudbelguith commented on #20921
@ProteanCode,

Is it the same issue?
![image](https://user-images.githubusercontent.com/16067358/92618134-544a0080-f2c0-11ea-8098-ab7601f3a7bd.png)
as reported here previously
http://forge.prestashop.com/browse/BOOM-4826?

Thanks to check and feedback.

[2020-09-09 15:35] ProteanCode commented on #20921
I have no access to this Jira ticket (the account is required), but yeah the status code is 500 so it looks like its the same case. Sometimes you won't get 500 because the request will be aborted / cancelled before its finish

[2020-09-09 15:37] ngodefroy commented on #20877
Thank you, it's good for me :)

[2020-09-09 15:37] #20877 closed, assigned to nobody

[2020-09-09 16:17] PierreRambaud commented on #20880
I think it's a good idea, this is something that can be added to the result :+1:

[2020-09-09 16:26] matks commented on #13943
This topic got some new improvements thanks to https://github.com/PrestaShop/PrestaShop/pull/20591

[2020-09-09 16:44] samuel-marcos opened #20925 "Same stock product but different combinations"
Hello!

I'm new over here, I hope you can help me :)

I have a issue with that. My client sells bags. Each bag can be customizable or not. If it is customizable, my client wants to charge an extra fee (+5€).

It's very easy with attributes and combinations to get that, but if I create the attribute 'Customize' with options: Yes / No, the bag generates 1 bag with customize option and 1 bag without

[2020-09-09 19:36] SimonGrn commented on #20925
Hello,

**You must follow the template to submit a complete bug report**.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the

[2020-09-09 19:36] #20925 closed, assigned to nobody

[2020-09-09 23:49] pinzon commented on #16070
Changing "es" to "mx" makes the formatted numbers correct but tiny mce gets broken.
Because there is no /lang/mx.js language.

[2020-09-09 23:57] pinzon commented on #13131
I have the same problem but instead of cb.js I need a mx.js

[2020-09-10 01:06] letwang commented on #20834
My problem has been solved. I added a field, and at the same time as a bug, I gave the official feedback.

[2020-09-10 02:16] jbenezech opened #20928 "Improve product combination / variants loading"
#### Is your feature request related to a problem?

Some products can easily have thousands of combinations / variants. The current implementation is not optimal for such products and performance takes a big hit.
Improvements are already in progress for the admin product page and some improvements could also be implemented for the front end.

I currently have a product with over 2000 combinations.

[2020-09-10 06:58] jonpontet opened #20930 "Query Builder help with JOINs"
Can you tell me if it is possible to nest queries in a SQL JOIN in the Query Builder?

I want to achieve this in SQL:

[code]

So the LEFT OUTER JOIN needs to be on the result of the nested query (not on a table that exists already which IS supported by the Query Builder).

Is it possible?

Thanks!

I have posted already on the #general Slack channel but no response.

[2020-09-10 07:03] jonpontet commented on #20827
@florine2623 I need a response for this please. You are still only on v1.7.6.7 so the fact that this has been fixed in v1.7.8.0 does not help me at all - when will that be released ?

[2020-09-10 07:07] jonpontet commented on #20897
@khouloudbelguith thanks for the query. I receive no results.

Should I add it?

[2020-09-10 07:20] SimonGrn commented on #20930
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-09-10 07:20] #20930 closed, assigned to nobody

[2020-09-10 07:25] jbenezech commented on #9809
A dirty workaround for those who can afford it: https://github.com/jbenezech/PrestaShop/commit/004cc66947e2cde4b582d86a85c1c48f174a5113

Of course you won't be able to update combinations from the product page and of course you'll have to re-apply the patch when upgrading prestashop, but until they finalize their update (with pagination), you should at least be able to edit products normally.

[2020-09-10 07:57] jonpontet commented on #20930
@SimonGrn thats great Simon so please remove the option ⛔ I need help
For questions about using PrestaShop !

[2020-09-10 08:00] SimonGrn commented on #20930
@jonpontet I suggest you read what's inside the template for this option.

[2020-09-10 08:01] olih10200 commented on #16067
The bug still bug :( today refreshed ps_facetedsearch module
Server: Linux #1 SMP Debian 4.19.132-1 (2020-07-24) x86_64
Software: Apache/2.4.38 (Debian)
PHP: 7.3.19-1~deb10u1
PS: 1.7.6.7

FacetedSearch: v3.6.0

Best regards,
--
Olivér

[2020-09-10 08:29] SimonGrn commented on #20928
What do you think @PrestaShop/prestashop-core-developers ? Is this a real problem and a viable solution ?

[2020-09-10 09:02] florine2623 commented on #20897
Hi @jonpontet ,
Yes you can add this line from your database if no result comes up.
Thanks!

[2020-09-10 09:03] matks commented on #20578
I think URL https://www.prestashop.com/contact (without locale) should match the user IP to a locale then redirect user to the right place. We should only send user to the main URL and let prestashop.com send him wherever eligible 🤔 .

I tried using a proxy to test from Germany for example but I did not got redirected to https://www.prestashop.com/de/kontakt

[2020-09-10 09:08] Sinepel commented on #20578
Me neither.

Do I make the modification in this sense and let you manage the redirection to prestashop.com/contact?

[2020-09-10 09:34] jolelievre commented on #20820
Hello @Hlavtox,

since https://github.com/PrestaShop/PrestaShop/pull/20689 has been merged I guess we can close this issue since it was related to https://github.com/PrestaShop/PrestaShop/issues/11105

The bug is now fixed, it will only be integrated in 178 though.

[2020-09-10 09:46] Progi1984 commented on #20928
@SimonGrn The @jbenezech PR is a good optimization.

[2020-09-10 10:01] khouloudbelguith opened #20931 "BO - Category page - Friendly URL not automatically updated"
#### Describe the bug

In the BO => Categories page => when we try to add a new category, the friendly URL is not automatically updated when we set the category's name.

#### Expected behavior

When we set the category's name, friendly URL must be automatically updated as before

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Categories page
2. Add a new categor

[2020-09-10 10:02] khouloudbelguith commented on #20931
Related to this PR: https://github.com/PrestaShop/PrestaShop/pull/20591
Ping @PrestaShop/qa-automation

[2020-09-10 11:30] HartLarsson commented on #14608
even with all things Ok in the table:
![image](https://user-images.githubusercontent.com/16102074/92723634-a2670e80-f369-11ea-9a70-8b25213b2f15.png)

we continue to have round problems when there are discounts:

![image](https://user-images.githubusercontent.com/16102074/92723724-c88cae80-f369-11ea-80c7-35df4ac99b58.png)

a difference not on decimals but consistent like in this case.

[2020-09-10 12:12] Progi1984 commented on #20612
Fixed by #20906

[2020-09-10 12:12] #20612 closed, assigned to nobody

[2020-09-10 12:12] Progi1984 commented on #18721
Fixed by #20906

[2020-09-10 12:12] #18721 closed, assigned to jolelievre

[2020-09-10 12:18] Progi1984 commented on #20861
PR available : https://github.com/PrestaShop/dashtrends/pull/32

[2020-09-10 12:46] SAJOU-Edouard commented on #9882
Bonjour,
J'utilise 'image slider' en home page sous1.7.
Si je dépose dans l'espace ftp un fichier de 586ko, il arrive dans le ftp avec une taille de 1,7MO !!! avec une sorte de clé devant le nom de fichier !
Pourquoi le fichier s'alourdit il autant ?
Merci de votre aide !
Edouard

[2020-09-10 13:24] dbpwebmaster opened #20933 "Dashboard Trends not working Prestashop 1.7.5.1 and 1.7.6."
Hi, I'm working with Prestashop from a year now and this is the first time that this happen to me with module dash trends.   Since this week I'm having problems to see the sales, visitors, benefits and everything from this month, specific since 09-07-2020 until today in two sites that I have allowed in the same VPS, everything is in 0 as you can see:
![image](https://user-images.githubusercontent.

[2020-09-10 13:50] matks opened #20934 "Following migration, $_GET identifier parameters are missing on "View {..} Page""
#### Describe the bug

Legacy pages "View {..} Page" (View Customer, View Order, View Category, View Attribute ...) usually have a URL that carry the identifier information with a http GET parameter `id_...`.

Example: `admin-dev/index.php?controller=AdminAttributesGroups&viewattribute_group=&id_attribute_group=1`
➡️ the `id_attribute_group` is the identifier

When we migrate a page to Symfony, mo

[2020-09-10 14:06] Progi1984 commented on #20904
Fixed by #20920

[2020-09-10 14:06] #20904 closed, assigned to matthieu-rolland

[2020-09-10 14:42] PululuK opened #20937 "Mobiledetect missing some devices"
#### Describe the bug

Missing some devices Example : [`Android SM-T510`](https://www.samsung.com/be_fr/tablets/galaxy-tab-a-10-1-t510/SM-T510NZKDLUX/) .

#### Expected behavior

The following code must display `2` in [`Android SM-T510`](https://www.samsung.com/be_fr/tablets/galaxy-tab-a-10-1-t510/SM-T510NZKDLUX/) devices  [See](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Context

[2020-09-10 15:08] florine2623 commented on #20933
Hi @dbpwebmaster ,

I can't reproduce the issue on my test shops 1.7.5.1 and 1.7.6.5.
Could you check if you have data in the tab Statistics itself ?

Thanks

[2020-09-10 15:18] dbpwebmaster commented on #20933
I attach screenshots of the stadistics tab of both sites.   I working fine without problems.

![image](https://user-images.githubusercontent.com/71078431/92752727-8fe7d780-f35f-11ea-9ccd-47a979c8e1f8.png)
![image](https://user-images.githubusercontent.com/71078431/92752751-95ddb880-f35f-11ea-945d-16f25be50cd7.png)
![image](https://user-images.githubusercontent.com/71078431/92752771-9bd39980-f35f-1

[2020-09-10 15:45] khouloudbelguith commented on #20937
Hi @PululuK,

I tried with Samsung Galaxy Tab 4
![image](https://user-images.githubusercontent.com/16067358/92756506-2da5cb80-f38d-11ea-9ed9-87ba9b3ba26c.png)
I tried with Samsung Galaxy Tab S6
![image](https://user-images.githubusercontent.com/16067358/92756782-69409580-f38d-11ea-8328-e07c131be0b8.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end

[2020-09-10 15:49] matks commented on #20517
PR => https://github.com/PrestaShop/PrestaShop/pull/20941/

[2020-09-10 16:10] matks commented on #20852
FYI the issue is actually a timeout:
[code]
whose "critical part" seems to be
[code]

[2020-09-10 21:01] xiropot opened #20944 "New hook to be executed once a module has been upgraded"
#### Is your feature request related to a problem?

I need to execute a module once another one (not some specific, just anyone else) gets updated.

#### Describe the solution you'd like

A new hook located in the right place.

[2020-09-10 21:21] PicPaints opened #20945 "issue in login error code :2s100/6"
#### Describe the bug

When i come to login in prestashop its give me ( The page you requested does not exist

Error code: 2S100/6 ) when imake reset password it said this email not registered and am sure that i have account because i have admin and password..

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to

[2020-09-11 01:08] jbenezech opened #20946 "Wrong current category on the product page when browsing paginated product list"
#### Describe the bug

When a category has many products, the category page lists these products with a pagination.
Clicking on a product from the second or more page will change the "current" category to the product's default instead of the category being browsed.

#### Expected behavior

The "current" category should be the last visited one

#### Steps to Reproduce

1. Go to BO > Design > Positi

[2020-09-11 06:10] JBWModules opened #20948 "Customized products - bug in quantity check"
#### Describe the bug

Customized products can be sold even if there is no sufficient stock

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to https://demo.prestashop.com/#/en/front
2. Open product "Customizable mug"
3. Add product customization "Test1"
4. Increase qty to 300 (thats the overall available qty)
5

[2020-09-11 06:31] isaacrj opened #20949 "Specific price is aplying to the wrong combination"
**Prestashop version**
1.7.6.7

**Describe the bug**
When editing a product with several combinations and defining a specific price for one of those combinations, the specific price is saved as applying to the next combination on the list, not to the one being edited.

For example, we have a book that is sold in two different sizes: big and small. If I define a specific price for the big size comb

[2020-09-11 07:28] florine2623 commented on #20944
Hi @tapandagr ,

Please be more specific about the improvement you want to see by giving examples. If possible, you can add screenshots as well.
For now I close your ticket, feel free to open a new one, when all details are present.

Thanks!

[2020-09-11 07:28] #20944 closed, assigned to nobody

[2020-09-11 07:30] florine2623 commented on #20945
Hi @PicPaints ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in

[2020-09-11 07:30] #20945 closed, assigned to nobody

[2020-09-11 07:51] jonpontet commented on #20897
@florine2623 @khouloudbelguith I have added this row but still there is a problem- can you help ?

![image](https://user-images.githubusercontent.com/20968408/92886481-f4646e80-f413-11ea-8704-25010801f475.png)

![image](https://user-images.githubusercontent.com/20968408/92886766-3db4be00-f414-11ea-8d68-0fd8ffd79ac5.png)

[2020-09-11 07:52] khouloudbelguith commented on #20933
Hi @dbpwebmaster,

Since 09-07-2020, have you any invoice generated?
If no, this is normal behavior.
About the `dashtrends` module (Dashboard widget), it is necessary to regenerate invoices so the statistics will be displayed, if you don't regenerate an invoice for an order, it will not be taken in consideration for the statistics.
For more details, you can follow this ticket: https://github.com/P

[2020-09-11 08:18] matks commented on #20605
@ngodefroy I improved the bug description using my finding of yesterday. So now we know that GDPR module is supposed to hide adresses of deleted customers, not all customers.

[2020-09-11 08:18] eternoendless commented on #15075
Should be fixed by #19487

[2020-09-11 08:31] LouiseBonnard commented on #20834
Alright so I would recommend to **add a short description field to the supplier page**.

[2020-09-11 08:36] eternoendless commented on #17844
New wordings declared in `overrides` don't show up in the translation interface because only modules and themes can declare new wordings. Wordings don't appear magically in the translation interface, they require static analysis of the source code (aka reading and interpreting code via code), which is terribly slow.

Overrides are meant to progressively disappear as core legacy classes are replace

[2020-09-11 08:39] ttoine commented on #16004
Well, that's the point. The problem, here, is that this issue is critical for you. However, the PrestaShop devs team will handle in priority issues that are critical for a loooooot of end users (merchants) or developers (modules developers, themes developers, ...).

That's why in this kind of case, the pull request to fix this issue should be written by the people with the need: you, or someone yo

[2020-09-11 08:39] eternoendless commented on #17844
I'm assuming this bug is about using **new** translations in overrides and closing it as won't fix. Feel free to ping me otherwise.

[2020-09-11 08:39] #17844 closed, assigned to jolelievre

[2020-09-11 08:42] khouloudbelguith opened #20950 "FO - When we have two currencies enabled - the Currency block and the language block are not working anymore"
#### Describe the bug

I the FO, when we have more than two currencies enabled,  the Currency block and language block are not working anymore.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Localization > Create a new currency (you have more than two currencies and  two languages)
2. Go to FO
3. Try to change the language or the currency
4. See error

**

[2020-09-11 08:43] khouloudbelguith commented on #20950
Ping @matthieu-rolland this issue is related to this PR: https://github.com/PrestaShop/PrestaShop/pull/20920

[2020-09-11 08:44] florine2623 commented on #20948
Hi @jbwModules,

I managed to reproduce the bug in PS 1.6.7.6 and PS 1.7.7. beta 2.
This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9974, so I will close it.
You can follow the updates on that issue directly.
Thanks!

[2020-09-11 08:45] florine2623 commented on #20948
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9974

[2020-09-11 08:45] khouloudbelguith commented on #20950
ping @PrestaShop/qa-automation

[2020-09-11 08:46] LouiseBonnard commented on #20821
@MatShir, you might have more insights about this so I'll let you have a look at this issue and add it to this [EPIC](https://github.com/PrestaShop/PrestaShop/issues/17598) if approved. :-)

[2020-09-11 08:50] JBWModules commented on #20948
Crazy, this is over 2 years old... Seems not many shops really working with customized products

[2020-09-11 08:50] #20948 closed, assigned to nobody

[2020-09-11 08:53] matthieu-rolland commented on #20950
I'll have a look 🤔  Thanx @khouloudbelguith for the report 👍

[2020-09-11 08:54] jf-viguier commented on #17844
It's sad. Actually, there is no other way than override for customizing front module behaviors.

[2020-09-11 09:11] ngodefroy opened #20952 "[FO][CSS] [Adresses] different sizes of address block"
#### Describe the bug

Orders>Shopping carts, filtering on customer & date doesnt work.

#### Expected behavior

Comparing to 177x, the adresse blocks now have different sizes

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make first order
2. Reorder from the order history and details page
3. add a new adress
4. See the different sizes of address block

**Screenshots**
Version 178

[2020-09-11 09:30] matks opened #20954 "Fix dirty fix implemented in #20953 for Behat and php7.2"
In PR https://github.com/PrestaShop/PrestaShop/pull/20939 we had to modify some Behat statements in order for CI to pass.

Without them, we had a very exotic error only for php7.2.

Because we needed to merge https://github.com/PrestaShop/PrestaShop/pull/20939 (it was a merge of 1.7.7.x into develop) we had to validate it, however as mentioned by @PierreRambaud this was a dirty fix. We need to exp

[2020-09-11 09:50] florine2623 commented on #20949
Hi @isaacrj ,
I can't reproduce your issue on PS 1.7.6.7.
In my case I apply the specific price on the white product.
![Capture d’écran 2020-09-11 à 11 47 57](https://user-images.githubusercontent.com/16019289/92906554-da7f5780-f424-11ea-8102-4fa9fb8f0ee1.png)
![Capture d’écran 2020-09-11 à 11 48 03](https://user-images.githubusercontent.com/16019289/92906560-dc491b00-f424-11ea-8206-31a56a51c0

[2020-09-11 09:50] #20949 closed, assigned to nobody

[2020-09-11 10:00] Darmona commented on #20754
I've just found back the specs from Coline in Feb 2018,
It has been decided like that. The only options from that screen are :
- Configure
- Uninstall (without suppression)
- Disable / enable
- Disable on mobile / Enable on mobile
- Reset

Maybe it was forgotten at the time.

[2020-09-11 10:26] florine2623 commented on #20946
Hi @jbenezech ,
I can't reproduce your issue on PS 1.7.6.7. Maybe the issue in on another version of PrestaShop ?

When a product has "Home" as it main category and "T-shirt" as an associated category, you can find the product under T-shirt and Home category, but the breadcrumb will show the main category.
![Capture d’écran 2020-09-11 à 12 24 36](https://user-images.githubusercontent.com/1601928

[2020-09-11 10:32] kenlog opened #20955 "Where are the statistics of the products in the promo?"
Hi guys, do you know a way to get the data of the promotional products sold?

Thanks for the lighting :bulb:

[2020-09-11 10:35] jbenezech commented on #20946
I'm pretty sure the bug is still there as I've identified the faulty piece of code in the develop branch.
It's just difficult to spot as it affects an internal variable which has side effects on other things like the ps_categorytree module.
It doesn't affect the breadcrum, you're correct.

I'll try to do a demo video when I get time.

Definitely not a priority bug though.

[2020-09-11 11:08] Maofree opened #20956 "Prestashop is no longer present on Gitter?"
Hi
today I try to go in Gitter to speak with someone about of prestashop, but I cannot find any channel

is there some solution like Gitter used by Prestashop?

thanks

[2020-09-11 11:46] letwang commented on #20834
good job!

[2020-09-11 11:48] Hlavtox commented on #9757
@florianeb-meme @jf-viguier @micka-fdz @tonspeed @Azeus1980 @benlecoqartisans

Hi, this is a temporary fix for displaying gifts properly in 1.7.7 beta2 or final. Should work for 1.7.6 also.

### classes/controller/FrontController.php
1. Find `assignGeneralPurposeVariables` function.
2. Change `'cart' => $this->cart_presenter->present($this->context->cart),` to `'cart' => $this->cart_presenter->pre

[2020-09-11 12:08] matks commented on #20956
Yes indeed, we migrated to Slack 😉 https://github.com/PrestaShop/open-source/tree/master/slack

We provided warnings for a few months before the switch but if you were not active for a few months you might have missed it.

See you in Slack soon ✋ !

[2020-09-11 12:08] #20956 closed, assigned to nobody

[2020-09-11 12:15] khouloudbelguith commented on #20952
Hi @ngodefroy,

I have the same issue with PS1.7.6.7,size window 990*1008px
![image](https://user-images.githubusercontent.com/16067358/92924232-e8d76e80-f438-11ea-86c1-de9f0b9b097c.png)
![image](https://user-images.githubusercontent.com/16067358/92924347-158b8600-f439-11ea-907a-ed6bf8a26775.png)

It is not a regression

Thanks!

[2020-09-11 12:18] PicPaints commented on #20945
Hello,

In this case, do you advise me to upgrade to the latest version of PrestaShop, after that it will work fine with me?

[2020-09-11 12:32] start10designs opened #20957 "Prestashop 1.7.6.4 backend access issue"
we are unable to access the backend of the Prestashop website.

Error Log

request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalErrorException: "Error: Maximum execution time of 60 seconds exceeded" at /var/www/html/classes/controller/AdminController.php line 2028 {"exception":"[object] (Symfony\Component\Debug\Exception\FatalErrorException(code: 0): Error: Maximum execu

[2020-09-11 12:47] #20833 closed, assigned to nobody

[2020-09-11 12:52] LouiseBonnard commented on #20834
Oops... this issue must stay open in the debug backlog, otherwise it will never be fixed. But if you already fixed it on your end, @letwang, or if you think you can do it, do feel free to [contribute to this open source project](https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines) by sharing your fix in a pull request. :-)

[2020-09-11 12:53] dbpwebmaster commented on #20933
Yes, I have invoices since 09-07-2020, the only day that I don't have invoices is in fact the 09-07-2020 but since the next day I have invoices, as you can see here the sales with their invoices from 09-08-2020:
![image](https://user-images.githubusercontent.com/71078431/92926794-f5e16700-f412-11ea-8071-22eb110f3e72.png)

And it is reflecting in dash trends ONLY if I filters from the 09-07-2020 to

[2020-09-11 12:56] florine2623 commented on #20957
Hi @start10designs ,
Please follow the template of issue in order to get an answer. We need more information about PS version, steps to reproduce, screenshots etc.

If not, you can contact the support team here : https://addons.prestashop.com/en/388-support

Thanks!

[2020-09-11 12:56] #20957 closed, assigned to nobody

[2020-09-11 13:06] florine2623 commented on #20955
Hi @kenlog ,
In PS 1.7.6.7, there's no **specific** information about **On sale** items.
You will have to see for yourself by creating SQL queries.
For example :
`SELECT * from ps_product WHERE on_sale = 1;`
You will be able to see all "On sale" product and from that, you can create other queries in order to get the data you need.

You can also check on [Addons](https://addons.prestashop.com/) if

[2020-09-11 13:06] #20955 closed, assigned to nobody

[2020-09-11 13:09] giacomo-secchi commented on #17011
Some suggestion to resolve the bug by myself?
I've developed a Deployer recipe and this seems to be the biggest problem…

Please HELP

[2020-09-11 14:10] khouloudbelguith opened #20958 "BO - Carriers page - Enable/Disale with bulk action is NOK"
#### Describe the bug

In the BO > Carriers page, Enable/Disable with bulk action => NOK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Carriers page
2. Try to Enable/Disable with bulk action
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/16067358/92935603-48d61100-f449-11ea-8ef5-4a1b6cd5fa9a.png)

#### Additional information

* PrestaS

[2020-09-11 14:34] HartLarsson commented on #18513
there is also a major problem on bad calculation. Every Paypal payment return an error on payment due to some calculation problem.
Every time a customer purchase some items with a voucher or cart discount the total ammount is always wrong as i reported here: https://github.com/PrestaShop/PrestaShop/issues/20889

Tax calculation are wrong and discount % are wrong too cause the rounding problem that

[2020-09-11 14:38] MultiTech-MS opened #20959 "Mail body preview isn't translated"
#### Describe the bug

Our shop is in French. Translations are made but there's some inconsistance when it comes to emails translations.
Some mails received by our shop have this model (see snapshot):
-> **Mail Subject** = Translation OK _(in French)_,
-> **Preview** of body = in english ,
-> **Mail Body** = Translation OK _(in French)_,

We're using the "modern" version of email theme.

#### Expe

[2020-09-11 15:14] florine2623 commented on #20946
Ok nice, I'm waiting for your video :)

[2020-09-11 15:16] florine2623 commented on #20897
Can you search for id_tab = 55 and screenshot what you have ?

[2020-09-11 15:19] florine2623 commented on #20959
Hi @MultiTech-MS ,
I can't reproduce the issue in 1.7.6.7.
Is your back-office in French too ? Or do you have other languages (activated or deactivated) ?

Thanks!

[2020-09-11 15:38] MultiTech-MS commented on #20959
Hi Florine,

Yes, the back-office is in french. It's the only language installed :

![Capture-mail-trad-2](https://user-images.githubusercontent.com/51752454/92945462-96587b00-f455-11ea-8968-5c9df9d11772.PNG)
![Capture-mail-trad](https://user-images.githubusercontent.com/51752454/92945464-96f11180-f455-11ea-98df-7561df75a408.PNG)

[2020-09-12 00:28] salbatyku opened #20962 "By default, turn off the 'Erase previous images' button when regenerating thumbnails"
#### Is your feature request related to a problem

Accidentaly deleted all the images trying to regenerate for the new products.

#### Describe the solution you'd like - Edited by Louise B. on September 28th following https://github.com/PrestaShop/PrestaShop/issues/20962#issuecomment-692632521:

I would like to propose, the default state of "delete all images" to be off. Accidents can happen when

[2020-09-12 01:34] wertpoiu opened #20963 "Admin logging out after few seconds"
#### Describe the bug

BO getting logout frequently after few seconds

#### Expected behavior

I want admin stay login.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop versi

[2020-09-12 09:12] elboletaire commented on #20505
Sorry for the (really) late reply, had no time to check it until now.

I've just checked using the nightly build (which is 1.7.8, not 1.7.7, but I guess no changes were made to this), and I can confirm that it works as expected. Using `$this->get('twig')` properly returns the Twig service.

I guess I had some problematic files due to https://github.com/PrestaShop/docs/issues/657

[2020-09-12 09:12] #20505 closed, assigned to matks

[2020-09-12 12:38] LocalHeroPro commented on #12231
@khouloudbelguith nope. It's fresh install from private repository.
Steps to reproduce:
[code]
go to browser and see
![image](https://user-images.githubusercontent.com/42643563/92995472-4dabcb00-f504-11ea-8f2c-89823f0a584b.png)

[2020-09-12 12:56] LocalHeroPro commented on #12231
And also
[code]
returns
[code]

[2020-09-12 13:06] matks commented on #20963
@wertpoiu something is wrong with how you a-have set up PrestaShop. Might be server configuration (php, apache), cookies configuration, read/write permissions ... but on a regular PrestaShop instance, "BO getting logout frequently after few seconds" does not happen (you can check https://demo.prestashop.com/ for example)

I close this issue as this is not a bug report.

If you need help with your

[2020-09-12 13:06] #20963 closed, assigned to nobody

[2020-09-12 13:07] matks commented on #20957
@start10designs increase the max_execution_time in your php.ini file.

See https://stackoverflow.com/questions/1420249/maximum-execution-time-of-60-seconds-exceeded-error

[2020-09-12 13:22] matks commented on #20578
Please let me reach out to team in charge of prestashop.com first 😉 I need to validate it's possible

[2020-09-12 13:24] matks commented on #20827
Probably in beginning of 2021 ; March or April I guess

[2020-09-12 18:59] LocalHeroPro commented on #12231
Also, consider to update docs: https://devdocs.prestashop.com/1.7/basics/installation/localhost/ at `Setting up file rights`
with more grant rights, because of:
```The stream or file "var/logs/dev.log" could not be opened: failed to open stream: Permission denied```

[2020-09-12 20:54] escaware opened #20966 "Prestashop beta 2"
Hello
Since I installed prestashop 1.7.7.0 beta 2 I cannot enter backoffice, in beta 1 if I could, I also installed it clean.

[2020-09-12 22:11] futurowebpl commented on #20535
Absolutely yes, this is a critical thread.

 @dgonzalez360 How can We enforce the default sort by quantity sold, since there is no such item in Preferences -> Products?

[2020-09-12 23:12] Juiliard commented on #12520
I do not see step with delete button: ( this is the link from your video https://juliard.club/index.php?controller=cart&actions=show  )
where should I go to activate visibility of this page?

[2020-09-13 02:24] jbenezech commented on #20946
I've setup an install instead ;) From the develop branch.

1. Go to http://presta20946.khlix.com/en/6-accessories
2. Choose the product "MUG THE ADVENTURE BEGINS"
-> Notice the breadcrumb, the default category is Home
-> Notice the ps_categorytree under it, current category is "Accesssories"

3. Go to http://presta20946.khlix.com/en/6-accessories
4. Click on the "Next" in the pagination
5. Choose

[2020-09-13 12:13] SimonGrn commented on #20966
Dear @escaware
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-09-13 12:13] #20966 closed, assigned to nobody

[2020-09-13 14:40] dagusia opened #20968 "SubmitRowAction Error"
_"Oops... looks like an unexpected error occurred
Attempted to load class "SubmitRowAction" from namespace "PrestaShop\PrestaShop\Core\Grid\Action\Row\Type". Did you forget a "use" statement for another namespace? [Symfony\Component\Debug\Exception\ClassNotFoundException 0]"_

This is the message I get when I try to open
- Preferences -> Contact
- Catalog -> Brands and Suppliers

![image](https://

[2020-09-13 20:01] matks commented on #20968
Weird, the right class is there 🤔 https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Grid/Action/Row/Type/SubmitRowAction.php

I notice you are running php7.4 .

PS 1.7.7 is not compatible with php7.4, only php7.3 . Could you retry with php7.3 ?

[2020-09-13 20:01] matks commented on #20966
@escaware Thanks for testing the beta 😉

[2020-09-13 22:28] Lajaca opened #20970 "Product Page Size Combinations no displayed"
The size combinations are not displayed on product page and I cant select size

![Captura](https://user-images.githubusercontent.com/71235516/93030148-272f8200-f621-11ea-9b0d-08865a807922.JPG)

* PrestaShop version: prestashop:1.7.6.5
* PHP version: 7.3.22

[2020-09-14 00:42] cabq2020 opened #20971 "Contact form is not showed."
Hi:
I am using Prestashop 1.7.6.7 and a paid Theme called Mega Electronics Store.
The issue is related to the contact form. I have everything configured, but the contact form is not shown in the browser. The debug error is as follows:

(1/1) SmartyExceptionUnable to load template 'file:layouts/layout-full-column.tpl' in 'page.tpl'
--
in smarty_internal_template.php line 195
at Smarty_Internal_Temp

[2020-09-14 05:13] dagusia commented on #20968
Changing version didn't help

[2020-09-14 06:42] SimonGrn commented on #20971
Hello @cabq2020,

sadly your problem is related to your theme. We cannot offer support for third-party themes and modules, so I suggest you contact the theme developer directly.

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

I close this issue, th

[2020-09-14 06:42] #20971 closed, assigned to nobody

[2020-09-14 06:59] jonpontet commented on #20897
@florine2623 sorry for the delay. Here is the result of id_tab = 55 in ps_tab

![image](https://user-images.githubusercontent.com/20968408/93053686-7d73e380-f668-11ea-83b8-322241c47bd1.png)

Is that good or bad ?

[2020-09-14 07:49] Sybrenb commented on #14575
I have the same issue, see my example below. The sorting works fine, but the faceted search gives problems. As you can see, product ID #131 has position 5 on my 'Donuts' category. So you would expect that is will be the fifth item on my products page. But, product ID #131 shows up as the second item on my page. This is because it has more catagories, where it has another position. On the category

[2020-09-14 08:06] Sybrenb opened #20972 "Prestashop products sorting bug"
I have a problem with product sorting, see my example below. The sorting works fine, but the faceted search gives problems. As you can see, product ID 131 has position 5 on my 'Donuts' category. So you would expect that is will be the fifth item on my products page. But, product ID 131 shows up as the second item on my page. This is because it has more catagories, where it has another position. On

[2020-09-14 08:22] khouloudbelguith commented on #20970
Hi @Lajaca,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade you

[2020-09-14 08:24] khouloudbelguith commented on #20962
Hi @salbatyku,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-09-14 08:30] khouloudbelguith commented on #20972
Hi @Sybrenb,

Thanks for your issue.
Please think about using the template @Sybrenb, you deleted everything of the GitHub's template when creating the issue For example, we don't know your PS version, your PHP version, or even the faceted search module version.
This does not help us at all.
Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the

[2020-09-14 08:32] Lajaca commented on #20970
Thanks for your help!!!

[2020-09-14 08:33] khouloudbelguith commented on #20968
Hi @dagusia,

Are you using the 1770beta2 downloaded from [PrestaShop official](https://www.prestashop.com/en/previous-versions)?
Thanks to navigate to your BO > Advanced Parameters > Information page and provide us a screenshot.

Thanks!

[2020-09-14 08:38] khouloudbelguith commented on #20970
@Lajaca, thanks!
Waiting for your feedback.

[2020-09-14 08:42] prestascott commented on #20862
Hi everyone!

Thank you for your report @matks!

Adding a modal warning message can be useful but can also be aggressive for our users.
Like @LouiseBonnard said, I also suggest to display the modal only at the connection. And then, once he closes it, it's still displayed on the page but smaller as an alert so this information isn't lost.

Usually, a modal contains a title, a description and button

[2020-09-14 08:47] Hlavtox commented on #19810
Hi @khouloudbelguith, can you reopen this? The bug is there and needs to be fixed.

@PierreRambaud @eternoendless Can you have a look at it guys?

**Scenario**
1. Use the latest Prestashop and Faceted search dev code, but it should work with the released versions.
2. Make customer group ID 4.
3. Make 3 products.
3A. Product A, Price 100.
3B. Product B, Price 150. Specific price 90 for customer gro

[2020-09-14 08:53] matks commented on #20862
I'm good with this 👍

Can I use the "standard modal display" we use, for example, for "bulk delete" actions ?

So if I try to make a summary;

1. When user logins into BO and the shop is running a PHP version not compatible, and he reaches the dashboard, we display the modal. User can either click on the "Check PHP requirements" CTA or close it.

2. Whether he closes the modal or clicks the CTA, w

[2020-09-14 09:00] khouloudbelguith commented on #20897
Hi @jonpontet,

Are you using PS1.7.6.5 fresh install or it is an upgrade from a previous version?

Thanks!

[2020-09-14 09:01] khouloudbelguith commented on #12520
Hi @Juiliard,

This issue is currently closed, can you open a new one with more information about your configuration.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you

[2020-09-14 09:04] salbatyku commented on #20962
Hi @khouloudbelguith
No problem, i just figured out this is a huge problem. I almost deleted photos of 50K products.

[2020-09-14 09:09] khouloudbelguith commented on #20946
Hi @jbenezech,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10763
So, I close it.
Thanks!

[2020-09-14 09:09] khouloudbelguith commented on #20946
Duplicate of #10763

[2020-09-14 09:10] khouloudbelguith commented on #10763
H!

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20947 to fix the issue.
Thanks, @jbenezech!

[2020-09-14 09:16] Sybrenb commented on #20972
It seems like this is an Prestashop 1.7 bug. As you can see below, product ID 131 has 2 categories. category 10 is the parent and category 35 the sub category. While this products ha position 6 on the parent, is has position 1 on the sub category. The problem is that when I order on position on the parent category products page, this products wil sort as position 1 and not as postition 6.

Can any

[2020-09-14 09:18] khouloudbelguith commented on #12231
Hi @LocalHeroPro,

This issue is currently closed, can you open a new one with more information about your configuration.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you!

[2020-09-14 09:23] khouloudbelguith commented on #20972
The problem of re-ordering is fixed if we use the icon in the position column. The product is selected and we can change the position and saved and all changes is validated.
Here's the PR: #14879 to fix the issue.
It is fixed in the PS1.7.7.0.
Since this PR correct the problem it's OK a New issue was created for the second issue: #15291

Thanks to check and feedback.

[2020-09-14 09:24] guirou62 opened #20973 "Improvement - Be able to select several hooks for a module in one time"
#### Is your feature request related to a problem?

I'm really frusted when I have to put a module on many hooks

Actually, you only can add one by one : You go on the page to add, you add a first hook, you're redirected to hook pages with success message, you go again on the page to add another hook ... If you have to had 8 hooks, it takes a long time and clicks ...

![image](https://user-images.

[2020-09-14 09:25] #20522 closed, assigned to NeOMakinG

[2020-09-14 09:31] khouloudbelguith commented on #20973
Hi @guirou62,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-09-14 09:33] jbenezech commented on #10763
@khouloudbelguith I think it's actually 2 different things.

This issue requests a change in the behaviour of the ps_categorytree module.

Issue #20946 simply reports a bug in the current behaviour and my PR would only fix that. It will not solve this issue.

If this issue gets solved however, issue #20946 and PR #20947 will probably be irrelevant.

[2020-09-14 09:36] Sybrenb commented on #20972
@khouloudbelguith Thank you for your quick response. However, this is not the same problem. I can re-order the products and it saves, but the sub category product position overrules the parent product position.

[2020-09-14 09:39] prestascott commented on #20862
I'm good with your summary, thanks! :)

[2020-09-14 09:45] khouloudbelguith commented on #20900
Hi @PrestaShop/prestashop-core-developers,

We need to close this issue or we can add it to the debug roadmap?

Thanks!

[2020-09-14 09:47] LouiseBonnard commented on #20862
It's all okay for me except the first point:

Note that the user does not necessarily reach the dashboard when he/she logs in so I assume the modal must be displayed at each connection, whatever the page reached.

Also, in some cases, the Welcome module could be enabled, which displays popping up onboarding journey. It might be difficult to display the two so if we need to set up an order of prefe

[2020-09-14 09:48] khouloudbelguith commented on #20946
Hi @jbenezech,

As commented [here](https://github.com/PrestaShop/PrestaShop/issues/10763#issuecomment-691939014), I will re-open the issue.

Thanks!

[2020-09-14 09:52] PierreRambaud commented on #20900
I add the label To Do :+1:

[2020-09-14 09:53] LouiseBonnard commented on #14039
100% okay for the 1.7.8! @TristanLDD, is it only the wording you need to design those warning modals? If yes, I let you add the right labels and coordinate with @Julievrz, thanks!

[2020-09-14 09:53] dagusia commented on #20968
This is 1770beta2. Sory I forgot to add that is beta2.

![image](https://user-images.githubusercontent.com/47856866/93071714-c33ca600-f680-11ea-9645-b28169a002ab.png)

[2020-09-14 09:59] khouloudbelguith commented on #20921
@ProteanCode, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.7 and PS1770beta2 using the `statsdata` module v2.1.0.
![image](https://user-images.githubusercontent.com/16067358/93072436-ab195680-f681-11ea-8644-65e9c62fe2b0.png)

I’ll add this to the debug roadmap.
Here's the PR: https://github.com/PrestaShop/statsdata/pull/7 to fix the issue.
Thanks!

[2020-09-14 10:06] LouiseBonnard commented on #12368
Hi @Quetzacoalt91, @matks, what's the status of this issue? Should we move it to the 1.7.8 or next major kanban?

[2020-09-14 10:14] khouloudbelguith commented on #20968
@dagusia, thanks for your feedback.
I did not manage to reproduce the issue with PS1770beta2. using PHP v7.3.
I attached a screen record
https://drive.google.com/file/d/1dzxs-ypcKUTOpzHKiZ3DsmDAGK9gp9or/view?usp=sharing
Thanks to check and feedback.

[2020-09-14 10:26] PululuK commented on #20862
@matks Instead of modal, I think we need to display a message above all the admin pages. Something like :
![image](https://user-images.githubusercontent.com/16455155/93074587-e2d5cd80-f684-11ea-87c4-97b532dd2145.png)

[2020-09-14 10:32] PululuK commented on #20973
Good ideia @guirou62 ! It is complementary to https://github.com/PrestaShop/PrestaShop/issues/19435

[2020-09-14 10:34] khouloudbelguith commented on #20972
Hi @Sybrenb,

I tried with 1770beta2 using the demo product where id_product=1.
![image](https://user-images.githubusercontent.com/16067358/93075306-e4ec5c00-f685-11ea-8a60-00e25521103d.png)

The product is associated with 3 categories
1. Home
2. Clothes
3. Men (default category)
![image](https://user-images.githubusercontent.com/16067358/93075465-1fee8f80-f686-11ea-8840-9642b3ef9212.png)

1. Posi

[2020-09-14 10:48] Sybrenb commented on #20972
So as I understand, this is an 1.7.6 bug and can't be fixed?

[2020-09-14 10:50] khouloudbelguith commented on #20946
@jbenezech,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.7 and PS1770beta2 using the `ps_categorytree` v2.0.0.
Similar products but different current category
![image](https://user-images.githubusercontent.com/16067358/93077180-c045b380-f688-11ea-9b6d-cfdc099295df.png)
![image](https://user-images.githubusercontent.com/16067358/93077229-ce93cf80-f688-11ea-97a6-9ad82fa0ab

[2020-09-14 10:57] simulbeni opened #20974 "Page Crawling issue on Multishop"
#### Describe the bug

We have a website setup in multishop.

There are 11 shops and 6 languages.

Few shops are english only while like NL/FR/DE/AT have multiple languages. eg. FR has french and english, AT has German, French and english.

Our GOOGLE Merchant crawling get failed everyday for few products.

I am attaching a screenshot of merchant senter crawling list. Randomly we getting site in o

[2020-09-14 11:07] khouloudbelguith commented on #20972
@Sybrenbn, as commented [here](https://github.com/PrestaShop/PrestaShop/issues/20972#issuecomment-691934173)
in fact it is fixed in the PS1770.
So, can we close this issue?

Thanks!

[2020-09-14 11:13] khouloudbelguith commented on #20974
Hi @beniwal,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
You deleted everything of the GitHub's template when creating the issue For example, w

[2020-09-14 11:17] unlocomqx opened #20975 "Product price displayed as 0 in category page"
#### Describe the bug

The product price is displayed incorrectly on the category page
The original price is **not 0** but the displayed price is 0

#### Expected behavior

The product price should be displayed correctly

#### Steps to Reproduce

Steps to reproduce the issue:
1. Enable multishop context
2. create a new store
3. Create a standard product in all shops
4. select shop1, edit the last

[2020-09-14 11:26] beniwal commented on #20974
Sorry, I updated my description.

I am working with prestashop from 10 years and this is first of its kind where i have no clue about.

[2020-09-14 11:37] khouloudbelguith commented on #20975
Hi @unlocomqx,

Thanks for your report.
When I try this step `Having a product with attributes, delete all its attributes`, I have an exception in the console.
It is similar to this [ticket](https://github.com/PrestaShop/PrestaShop/issues/9664#issuecomment-471480370)
I tried with a standard product but I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive

[2020-09-14 11:40] unlocomqx commented on #20975
Thank you for looking into this.
Please try making the product a simple product then save (instead of manually deleting the attributes)
I will try to reproduce https://github.com/PrestaShop/PrestaShop/issues/9664#issuecomment-471480370

[2020-09-14 11:42] khouloudbelguith commented on #20975
@unlocomqx,

Yes, I tried with simple product & it is ok as recorded here:
https://drive.google.com/file/d/1rUmOWMwB6oiPTaSt2yJMND8Sepe2PRd9/view?usp=sharing

Thanks to check it.

[2020-09-14 11:45] unlocomqx commented on #20975
I checked the standard product, it works well. But it's not related to this bug at all.
This bug is only related to products having attributes on one shop and no attributes on another.
On the shop where they don't have attributes, the price is wrong in the category page.

[2020-09-14 11:46] matks commented on #20862
I know but this is a lot harder to do 😞 .
"When user logs in on BO for the 1st time and reaches Dashboard, display the modal" => it's alright, scope is quite clear,, easy to implement and to test (for QA team)

"When user logs in on BO for the 1st time and reaches a page, whatever BO page, display the modal" => there's legacy pages, there's migrated pages, there's BO pages added by modules. I expe

[2020-09-14 11:46] matks commented on #20862
That is not mine to decide as I am no Product Manager, I'll let @LouiseBonnard follow up then 😉

[2020-09-14 12:02] khouloudbelguith commented on #20974
@beniwal, are you using this [link](https://www.google.com/webmasters/tools/settings) to get information about GOOGLE Merchant crawling?
I'm trying to reproduce your issue.

Thanks!

[2020-09-14 12:08] khouloudbelguith commented on #20975
@unlocomqx,

I create a product with attributes on one shop and no attributes on another.
It is ok in my case with PS1.7.6.7.
I attached a new screen record
https://drive.google.com/file/d/1MZPV91l79oQipe1OPrzG3CKr4WSWdwDp/view?usp=sharing

Thanks to check it.

[2020-09-14 12:10] LouiseBonnard commented on #20651
@sarahdib needs to have PR #20760 with the to be tested label to be able to test PrestaShop/welcome#67.

[2020-09-14 12:18] unlocomqx commented on #20975
Change the default attribute on the first shop and then view the category on the second shop, you will see the issue
I was able to reproduce it again
![image](https://user-images.githubusercontent.com/793712/93084995-d0f82880-f68c-11ea-97c7-246afb2c27c0.png)

[2020-09-14 12:44] Lajaca opened #20976 "remove/hide flag percent discount on product page"
I would like remove/hide flag percent discount on product page

I have triyed change on product.tpl code any body could help me

![Captura3](https://user-images.githubusercontent.com/71235516/93087403-c5126380-f698-11ea-9b0d-8dfe83b93a87.JPG)

Prestashop 1.7.6.5
Thanks!

[2020-09-14 12:45] Ludhiel opened #20977 "recoverCart link does not log the user. Stuck to process checkout step 1."
#### Describe the bug

When creating an order from BO, when using the link to go to the payment page the checkout process is at step 1 instead of step 3

#### Expected behavior

When using the link to pay in BO from a new order to recover the cart, the admin user is redirected to checkout step 3

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to order in BO
2. Click on 'Add an or

[2020-09-14 12:51] khouloudbelguith commented on #20976
Hi @Lajaca,

Thanks for your issue.
On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-09-14 12:52] #20976 closed, assigned to nobody

[2020-09-14 12:59] #20968 closed, assigned to nobody

[2020-09-14 13:07] LouiseBonnard commented on #20973
Nice improvement idea, thanks @guirou62, I add it to the page's migration issue so that it can be implemented at the same time. :-)

[2020-09-14 13:13] guirou62 commented on #20973
Wonderful, thank you so much, it will be so helpfull ;)

[2020-09-14 13:27] LouiseBonnard commented on #20962
Hey, or do not allow to erase previous images by default?

[2020-09-14 13:30] khouloudbelguith commented on #20977
Hi @Ludhiel,

I manage to reproduce strange behavior with PS1767 and PS1770beta2.
1. If the user is not connected before in the session
We have this behavior
![image](https://user-images.githubusercontent.com/16067358/93089446-9d70ca80-f69b-11ea-8c5d-5f4078cead52.png)
Redirection to
![image](https://user-images.githubusercontent.com/16067358/93089472-a6619c00-f69b-11ea-8f4c-7c092bfd4fde.png)
2. If

[2020-09-14 13:34] khouloudbelguith commented on #20962
Hi @LouiseBonnard,

By default, "Erase previous image" is enabled
https://drive.google.com/file/d/14V-thjUtXJU859H-3921bAiOuMRQZ8um/view?usp=sharing
Thanks!

[2020-09-14 13:40] LouiseBonnard commented on #20962
Exactly @khouloudbelguith, that's the point, perhaps it should be disabled by default to avoid deleting previous work?

[2020-09-14 13:40] salbatyku commented on #20962
@LouiseBonnard it should be allowed to erase previous images. If you're changing sizes of images you have to be able to delete the old ones.

[2020-09-14 13:44] Prestaworks opened #20978 "New hook for sort order"
#### Is your feature request related to a problem?

There is no easy way to add new sorting options for products

#### Describe the solution you'd like

I need a hook that allows a module to manipulate the possible sort orders on the product lists.

[2020-09-14 13:53] khouloudbelguith commented on #20975
@unlocomqx, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.7 and PS1.7.7.0beta2.
Steps to reproduce the issue:
1. Enable multishop context
2. create a new store
3. Create a standard product in all shops
4. select shop1, edit the last product created => generate combinations,
5. change the combination by default
6. Go to FO > Category page
7. see error
https://drive.google.c

[2020-09-14 13:56] unlocomqx commented on #20975
Thank you for your effort to reproduce it.
I made a PR which fixes this issue. https://github.com/PrestaShop/PrestaShop/pull/20964

[2020-09-14 13:57] khouloudbelguith commented on #20978
Hi @Prestaworks,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-09-14 14:21] khouloudbelguith commented on #20959
Hi @MultiTech-MS,

I did not manage to reproduce the issue with PS1767.
I attached a screen record
https://drive.google.com/file/d/1o8wPL4a-dAULUsIItGCoIxOt91aY5ryX/view?usp=sharing
Thanks to check and feedback.

[2020-09-14 14:21] beniwal commented on #20974
@khouloudbelguith  We can add you as google merchant user if you want to check details. I can add as admin user on acceptance environment.

[2020-09-14 14:24] kpodemski commented on #20974
@beniwal why you don't use any module for google merchant but choose to crawler do the job? :)

[2020-09-14 14:35] beniwal commented on #20974
@kpodemski We using channable to submit feed to google merchant. Data submitted to google is correct but when google check our website it gives wrong data like different currency and content in diff language.

[2020-09-14 14:41] PierreRambaud commented on #20862
I agree, it will be easier to integrate and also better, don't want to receive a modal alert, each time I open a new page :sweat_smile:

[2020-09-14 14:48] Clis87 opened #20979 "disappeared the sidebar of the administration menu in the back office"
disappeared the sidebar of the administration menu in the back office
![screen](https://user-images.githubusercontent.com/71274665/93100935-ffd0c780-f6a9-11ea-8ddc-9c2940d58014.jpg)
how can I restore the menu?

[2020-09-14 14:52] khouloudbelguith commented on #20979
Hi @Clis87,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

I close the issue, feel free to create a new one when needed.

Thanks!

[2020-09-14 14:52] #20979 closed, assigned to nobody

[2020-09-14 14:55] khouloudbelguith commented on #20974
@beniwal, we need to reproduce the issue in our environment first.
The link provided is incorrect?
How can I get information and check it in my case?

Thanks!

[2020-09-14 14:56] LouiseBonnard commented on #20978
Hi @Prestaworks, thanks for your issue! What do you mean by 'manipulate the possible sort orders on the product list'? @PrestaShop/prestashop-core-developers, do you recommend adding another hook?

[2020-09-14 14:57] Prestaworks commented on #20978
I want to be able to add and remove these options with a hook.
![Screenshot_2020-09-14 Tillbehör](https://user-images.githubusercontent.com/2902272/93102054-57236780-f6ab-11ea-9e1d-1bfebc8b86a8.png)

[2020-09-14 14:57] khouloudbelguith commented on #20933
@dbpwebmaster, I did not manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/93102008-48d54b80-f6ab-11ea-91a4-43219cf1c67d.png)

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how

[2020-09-14 15:14] khouloudbelguith commented on #19810
Hi @Hlavtox,

I tried with the release stable ps_facetedsearch v3.6.0. and the dev branch.
I have the same result
When I try to sort by Price from High to low, Product B is the second.
I attached a screen record
https://drive.google.com/file/d/1koVnQAal2C0_kJSzurTkf3mA-ywPOdBu/view?usp=sharing
Thanks to check and feedback.

[2020-09-14 15:34] prestascott commented on #20862
@PululuK It's a nice idea but this component doesn't exist. I guess we can create it but it won't be red and will be yellow since it's a warning.
I still suggest to add a modal instead that only appears when users log in.

Here is what it would look like as an alert:
![stickyalert](https://user-images.githubusercontent.com/54888056/93106398-825c8580-f6b0-11ea-8157-e442c96b627d.png)

[2020-09-14 16:09] matks commented on #20578
@Sinepel Apparently https://www.prestashop.com/contact is able to detect user locale and insert the right prefix
🇫🇷 => https://www.prestashop.com/fr/contact
🇬🇧 => https://www.prestashop.com/en/contact
🇩🇪 => https://www.prestashop.com/de/contact

But it stays "contact", and not "kontakt" for German for example.

[2020-09-14 16:11] matks commented on #20578
@Sinepel I see the code is already doing that :/

[2020-09-14 16:12] Sinepel commented on #20578
@matks No problem, so, we can close ! 👍

[2020-09-14 16:19] HartLarsson opened #20981 "progressive voucher discount bug passed to Payment gateway"
#### Describe the bug

When a customer purcase items tha thave a % discount (for example 30%) the total is wrong.

Example list of product + accessoriesd (discounted)
![image](https://user-images.githubusercontent.com/16102074/93109810-ca7da700-f6b4-11ea-942b-6a18357051c7.png)

list of discount received for each accessories:
![image](https://user-images.githubusercontent.com/16102074/93109893-e681

[2020-09-14 16:34] daghb opened #20982 "Translations overwritten by the upgrade process (1.7.7.0 beta 2)"
#### Describe the bug

After upgrading the shop to beta 2 of the 1.7.7.0 branch using Docker containers, I have managed to upgrade everything, except for translations that are in the database. I ran the install/upgrade/upgrade.php script with no errors. However, it seems that no translations are available in the database, only the English versions.

Page translations are OK. Product, classificatio

[2020-09-14 16:37] daghb commented on #20959
I had the same issue in 1.7.6 and was told this was fixed in 1.7.7

[2020-09-14 19:47] matks commented on #20578
Yes indeed :)

[2020-09-14 19:47] #20578 closed, assigned to matks

[2020-09-14 20:13] ksaandev commented on #20750
@prestaquality What kind of JOIN are you using ?

[2020-09-14 20:46] harisrnd opened #20984 "Javascript error "migrateWarn is not defined" in themes/core.js when using alternate theme."
#### Describe the bug

The following error is thrown:
Uncaught ReferenceError: migrateWarn is not defined
(themes/core.js, line 68)
If you delete the call to migrateWarn() it seems to work but I don't know if there are side effects.

#### Expected behavior
No error should be thrown

#### Steps to Reproduce
I am using a theme bought from prestashop addons("Premium Fashion Store", https://addons.pre

[2020-09-14 20:56] LocalHeroPro opened #20985 "Not all required files and folders are in proper way included in VCS"
#### Describe the bug

Try to create own repository from origin repository.

#### Expected behavior

I can create own repository without headache.
All necessary files and folders are in proper way included in VCS.

#### Steps to Reproduce

Steps to reproduce the behavior:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/42643563/93136762-c2d1f880-f6dc-11ea-930c-a229c3d934

[2020-09-14 21:07] LocalHeroPro opened #20986 "Composer dump returns deprecation dialog"
#### Describe the bug

Something wrong with code,

#### Expected behavior

No deprecation's and similar.

#### Steps to Reproduce

Steps to reproduce the behavior:
[code]
retuens
[code]
**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.7.x
* PHP version: 7.3.22-FPM

[2020-09-14 21:42] ProteanCode commented on #20921
Thanks.

As I understand if I git clone the correct code from statsdata repository into /modules directory and clear the cache right?

No some additional install procedures?

[2020-09-15 07:36] dgonzalez360 commented on #20535
Hi @futurowebpl,

I'm not sure about the best way to achieve it. Add a default selector for sorting on the ps_facetedsearch is easy but I think is a bit confusing for Prestashop users because you can select two different options (One inside Preferences -> Products and other inside Faceted Search Module).

The bigger issue here is that we can't unify the sorting order for product list controllers,

[2020-09-15 07:37] matks commented on #20984
Thank you for testing the beta !

[2020-09-15 07:47] jonpontet commented on #20897
@khouloudbelguith it is an upgrade from v1.7.4.4

[2020-09-15 07:49] jonpontet commented on #20827
@matks thank you

[2020-09-15 07:50] jonpontet commented on #20827
@florine2623 @matks I would like to implement this functionality before your official release because it is really hurting our business.

Can you please highlight to me the commit(s) that fix this problem?

Thanks

[2020-09-15 07:54] khouloudbelguith commented on #20984
Hi @harisrnd,

PrestaShop177 is not compatible with PHP 7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2, PS177 is compatible with PHP7.3.
For more details, you can follow this link: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Next Major release PS1.7.8 will be compatible with PHP7.

[2020-09-15 08:09] PierreRambaud commented on #20985
Seems to be a permissions problem, are you sure your apache user has the right to create directories?
Because these directories are automatically generated.

[2020-09-15 08:09] matks commented on #20985
Hi @LocalHeroPro it seems you are missing the override/classes folder. I think it's because it was put inside the github repository using `git add --force` although it's ignored in the `.gitignore`

However I dont think this is an issue. The `.gitignore` aims to be a file used for developers building prestashop (bugfix and feature), not for developers using it to setup a shop with customizations.

[2020-09-15 08:11] matks commented on #20827
Unfortunately we are many to work on this repository, so I dont know what commit exactly fixes this :/

You might find it
- by running a github PR search like https://github.com/PrestaShop/PrestaShop/pulls?q=is%3Amerged+order+history+is%3Apr+milestone%3A1.7.7.0+
- by using the "history" feature of github on the right file https://stackoverflow.com/questions/17888643/view-the-change-history-of-a-fi

[2020-09-15 08:12] PierreRambaud commented on #20985
Ohh you're right @matks, forget they did this -_-
Unfortunately, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [communit

[2020-09-15 08:12] #20985 closed, assigned to nobody

[2020-09-15 08:22] khouloudbelguith commented on #20986
Hi @LocalHeroPro,

I did not manage to reproduce the issue with 177x branch using PHP v7.3.15
![image](https://user-images.githubusercontent.com/16067358/93185035-3dcafb80-f73d-11ea-95ee-11d47bf5170f.png)

Thanks to check and feedback.

[2020-09-15 08:27] PierreRambaud commented on #20986
I manage to reproduce the issue:
Branch: develop
Composer version 1.10.1 2020-03-13 20:34:27

[2020-09-15 08:37] MultiTech-MS commented on #20959
Hi @khouloudbelguith ,

Unfortunately, "rewriting email templates" option doesn't seem to work for me in 1.7.6.3 :
- "Subject" in french,
- Preview of the mail content : english,
- Mail body : french

Between our version ands yours (1.7.6.47), I only see that line in the 1.7.6.4 changelog that could have maybe fixed it :
- #17608: Email subject doesn't support html entities (by @Progi1984)

Hello

[2020-09-15 08:39] #20959 closed, assigned to nobody

[2020-09-15 08:41] MultiTech-MS commented on #20959
It worked for me by "rewriting email templates", not on the 'Core independant from themes", but on the theme I was using.
Thank you. Hope this ticket will help.

[2020-09-15 08:56] khouloudbelguith commented on #20982
Hi @daghb,

Thanks for your report.
For the manual upgrade, I followed this link: https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/ but I have this error
![image](https://user-images.githubusercontent.com/16067358/93188733-a3b98200-f741-11ea-81e2-abd1c61ccef4.png)
I tried the local archive upgrade using the 1-click upgrade v4.10.1
![image](https://user-images.githubusercontent.

[2020-09-15 09:07] LouiseBonnard commented on #20977
Sure, we always need specifications! I'll handle this one. :-)

[2020-09-15 09:13] JoryHogeveen opened #20989 "Product property hooks not available in cart (CartPresenter)"
PR: #20980

#### Describe the bug

The CartPresenter currently does not use the product assembler for Smart. This makes the available hooks for product properties not available in the cart.

#### Expected behavior

That the cart uses the same display/assemble logic as any other location in Prestashop.

#### Steps to Reproduce

Steps to reproduce the issue
1. Create a custom module using this `acti

[2020-09-15 09:13] prestaquality commented on #20750
In my shop it doesn't matter the type of join :S. The bug I got was because the content of $table['alias']['no_quotes'] is not a string, so it cannot be directly checked with $table['alias']['no_quotes'] == $alias sentence. This sentence is only achieve if the sql has a join (left, inner, outer... ). I do not know why in my whop the $table['alias']['no_quotes'] content has two arrays ($table['alia

[2020-09-15 09:23] khouloudbelguith commented on #20981
Hi @HartLarsson,

I did not manage to reproduce the issue with PS1767.
FO
![image](https://user-images.githubusercontent.com/16067358/93191835-46273480-f745-11ea-92db-920a3914db59.png)

BO
![image](https://user-images.githubusercontent.com/16067358/93191775-34de2800-f745-11ea-8d4f-b47e74833bfb.png)

Also, we have the rounding issue as commented here: https://github.com/PrestaShop/PrestaShop/issues

[2020-09-15 09:25] #19696 closed, assigned to Progi1984

[2020-09-15 09:47] khouloudbelguith commented on #20989
Hi @JoryHogeveen,

I used this [module](https://github.com/PrestaShop/ps_qualityassurance) to display `$params`
![image](https://user-images.githubusercontent.com/16067358/93195033-0d895a00-f749-11ea-9924-449ab1774e11.png)
I have this result
![image](https://user-images.githubusercontent.com/16067358/93195060-1712c200-f749-11ea-8b65-b9635cbab250.png)

How can I add custom product properties using

[2020-09-15 09:53] khouloudbelguith commented on #20750
@prestaquality, Could you give us more information to reproduce the issue?

Thanks!

[2020-09-15 09:55] khouloudbelguith commented on #20897
@jonpontet, have you any errors during the upgrade?
Could you please provide us the log file into the path `/Prestashop_folder/admin-dev/autoupgrade/tmp/`.

Thanks!

[2020-09-15 10:06] khouloudbelguith commented on #20921
@ProteanCode, this issue is not fixed yet.
But you can check this patch: https://github.com/PrestaShop/statsdata/pull/7/files
But it is still not merged (not reviewed by our developer & not tested by our QA team yet).

Thanks!

[2020-09-15 10:15] JoryHogeveen commented on #20989
Hi @khouloudbelguith

You can just add properties to the `product` item in the `$params`. These properties will then be available in Smarty.
Make sure you are adding it to the `$params` variably since it's passed by reference.

Cheers, Jory

[2020-09-15 10:19] start10designs commented on #20957
already tried that way but it's not working as I see the admin login page of the Prestashop the title is a little different
Look at this
https://prnt.sc/uhkmg2

[2020-09-15 10:34] Bahbv commented on #20972
@khouloudbelguith
#14879 is not a fix for this problem. This issue is more a duplicate of #20298.

[2020-09-15 10:40] khouloudbelguith commented on #20989
@JoryHogeveen, could you please provide us a demo module to reproduce the issue.
Thanks!

[2020-09-15 10:41] LouiseBonnard commented on #20962
As discussed with @TristanLDD and @prestascott, here is our suggestion:

<img width="1581" alt="Capture d’écran 2020-09-15 à 10 48 01" src="https://user-images.githubusercontent.com/32565890/93200759-893ad500-f750-11ea-8b3b-96f17f749354.png">

1. Emphasize the irreversibility of this action by **turning the blue information notification into a yellow warning one**, stating:

_Be careful! Dependi

[2020-09-15 10:45] khouloudbelguith commented on #20972
@Bahbv, thanks!
Yeah, they seem similar but did you tried with 1770beta2?
In my case, it is ok in my case with 1770beta2.
Thanks!

[2020-09-15 10:46] jonpontet commented on #20897
@khouloudbelguith it has been some months since so I do not remember anything specific.

I used the 1 Click Upgrade. Initially be referencing our Dev site as the resource, but when that didnt work I referenced a fresh version of v1.7.6.5.

I can share our log file with you privately - can you provide a way to do so?

[2020-09-15 10:47] khouloudbelguith commented on #20298
Hi @NickolayGett,

I did not manage to reproduce the issue with PS1770beta2 as commented [here](https://github.com/PrestaShop/PrestaShop/issues/20972#issuecomment-691968705).

Thanks to check and feedback.

[2020-09-15 10:54] JoryHogeveen commented on #20989
Hi @khouloudbelguith
Did the above instructions not work?

Example hook function:

[code]

Next, go to your theme's cart template: `templates/checkout/_partials/cart-detailed-product-line.tpl`.
Add `{$product.test20989}` anywhere you want and with the PR applied it will output `Test property issue 20989`. Without the PR it will probably result in an error.

[2020-09-15 10:54] HartLarsson commented on #20981
on PS seems all working but the total is wrong.
(If the customer is Outside italy without taxation)
Plus when data is passed to Paypal all discounts become different.

[2020-09-15 11:11] Hlavtox opened #20991 "Option to disable sending email when changing order status"
#### Is your feature request related to a problem?

From time to time, when doing something special with orders, we want to change order status, but not send any emails, not to confuse the customer.

It's annoying that merchant needs to go to order statuses, change the settings, then change the status and then change the settings back.

#### Describe the solution you'd like

We could add a checkbo

[2020-09-15 11:13] khouloudbelguith commented on #20989
@JoryHogeveen, I have this exception following these steps
![image](https://user-images.githubusercontent.com/16067358/93203776-416a7c80-f755-11ea-9ac4-87d03717faac.png)

Thanks!

[2020-09-15 11:18] khouloudbelguith commented on #20991
Hi @Hlavtox,

Thanks for your report.
In the BO > Shop Parameters > Order Settings > Statuses page, we can disable the `send an email to the customer when his/her order status has changed. ` option.
![image](https://user-images.githubusercontent.com/16067358/93204091-c9e91d00-f755-11ea-9ab5-70aac916bc93.png)

Ping @PrestaShop/product-team what do you think of this improvement?

Thanks!

[2020-09-15 11:26] JoryHogeveen commented on #20989
Hi @khouloudbelguith
Correct, that is the error when the patch isn't applied.

[2020-09-15 11:36] Hlavtox commented on #20991
@khouloudbelguith Sorry, updated the description... :-)

[2020-09-15 11:40] khouloudbelguith commented on #20981
@HartLarsson,

When France is selected (Tax applied)
I have this
![image](https://user-images.githubusercontent.com/16067358/93205899-d91d9a00-f758-11ea-8c11-0c60f34a85f8.png)
When I have another outside country (tax not applied)
I have this
![image](https://user-images.githubusercontent.com/16067358/93205946-ec306a00-f758-11ea-936b-338cf49d268a.png)

Have you tried to contact the module author?

[2020-09-15 11:47] khouloudbelguith commented on #20989
@JoryHogeveen,

Thanks a lot for your feedback.
I manage to reproduce the issue with PS1.7.6.7 and PS1770beta2.
Steps to reproduce the issue
1. Create a custom module using this `actionGetProductPropertiesAfter` hook
[code]
2. Edit a theme's cart template: `templates/checkout/_partials/cart-detailed-product-line.tpl`.
Add `{$product.test20989}` anywhere

3. Go to FO > Add product to cart > go chec

[2020-09-15 12:00] khouloudbelguith commented on #20897
@jonpontet, I did not manage to reproduce the issue with 1765 after an upgrade from PS1744 using the 1-click upgrade v4.10.1.
PS: I used the local archive because now we can upgrade only to 1767.
I attached a screen record
https://drive.google.com/file/d/1cIAciCiwJb8RwErvtmBmvyAfgqassebY/view?usp=sharing
it could be something went wrong with your update and don't have some of the database columns

[2020-09-15 12:00] #20897 closed, assigned to nobody

[2020-09-15 12:55] bodi000 commented on #18541
Hello,

Sorry to come late, I thought I have the same problem, and I ended up here...
There is no bug, everything works as it should, with one condition:
**generate emails for current theme in each language needed**!! It was said before, but not done apparently..

regards

[2020-09-15 12:58] maofree commented on #18541
hi
can you explain more this point? generate emails for current theme
what do you mean?

[2020-09-15 13:04] bodi000 commented on #18541
it is a standard feature. This discussion is for a forum, not github...

Admin>Design>Email theme >Generate emails.

Have a look, it takes 2 minutes, just be sure you don't overwrite templates
if you work with modified messages which are not in the core, they would
get overwritten. test the variants ...

enjoy

On Tue, 15 Sep 2020 at 14:59, maofree <notifications@github.com> wrote:

--
Bogdan Stan

[2020-09-15 13:19] dbpwebmaster commented on #20933
I have the apache error logs provided by our hosting support (We don't have directly access or full administration from our server), that's all I have from them.

Apache logs: [https://drive.google.com/file/d/1r0u4JqGVmQOkrc2uzZk_dNuLZWm5tRIt/view?usp=sharing](url)

Debug Report from Prestashop:
![image](https://user-images.githubusercontent.com/71078431/93214771-f42de100-f73b-11ea-8d26-200f0030b0

[2020-09-15 13:27] MultiTech-MS commented on #18885
I don't understand, does this mean that this improvement will de beveloped in a future minor or major version ?

[2020-09-15 13:47] futurowebpl commented on #20535
Unless there's an easier way

From what I looked, unfortunately it involves changing a lot of files from the core - hence maybe some simpler fix?

Default sorting after most purchased - I am sure that everyone will use this sort of sort, all others are very rarely used.

[2020-09-15 13:47] Bahbv commented on #20972
@khouloudbelguith Tested just now, problem still exists for me.

PHP-version: 7.2.30
PrestaShop-version: 1.7.7.0 (beta 2)
Faceted search: 3.5.0
Default ordering: Positions inside category

Fresh prestashop install, only thing i did was adding 2 test items in the categorys Clothes and Men.

**BO Category Clothes**
Products seem to be ignoring their positions inside Clothes category, but taking thei

[2020-09-15 13:56] sam-pires commented on #18885
This feature can be developed in a minor version. But it has not been prioritized yet, which means that its development has not been planned yet.

If you feel like it is an improvement you could develop yourself, you can propose a Pull Request to PrestaShop. That would be awesome :)

If you want to work on it, you can indicate it here, and ask for guidance and more specifications from the team.

[2020-09-15 14:06] MultiTech-MS commented on #18885
Got it, thank you for your quick reply. I support this improvement but I'm not gonna be able to develop it.

[2020-09-15 14:08] khouloudbelguith commented on #20972
Hi @Bahbv,

Thanks to upgrade the ps_facetedsearch module.
The last release is 3.6.0.
I attached a screen record using PS1770beta2 and ps_facetedsearch v3.6.0.
https://drive.google.com/file/d/1I3UTL3BFWofKU0lgx_-FxENVt7SbybUX/view?usp=sharing

Thanks to check and feedback.

[2020-09-15 14:14] LouiseBonnard commented on #20991
Interesting! Where does the user manage its order statuses most frequently, in the order settings section or in the order itself? Does he want specific emails not be te sent or does he need to suspend some emails depending on the status and/or the order? @MatShir, @TristanLDD, any insight?

[2020-09-15 14:18] Sybrenb commented on #20972
I'm having the same issue on ps_facetedsearch 3.6.0.

[2020-09-15 14:29] khouloudbelguith commented on #20972
@Sybrenb, are you using PS1770beta2 or PS1767?

Thanks!

[2020-09-15 14:31] HartLarsson commented on #20981
i've opened a ticket too with Paypal official module developer here: https://github.com/202-ecommerce/paypal/issues/60

The strange thing is why Prestashop make error calculation if a USA customer try to purchase from Italian Store while if i try to simulate to send the item in USA the calculation is correct.
The adress is the same why prestashop change calculation?

Is there any part of the code

[2020-09-15 14:36] prestascott commented on #20973
Hi everyone,

Thank you @guirou62 for your report!

This solution is great and can be really helpful. In fact, it must be clear to users that they can select several hooks for a module. I would add a checkbox before each available hooks to this multiple select.

[2020-09-15 14:44] ngodefroy commented on #20852
Also present on this page when trying to reset / uninstall / disable

Got a 500 error https://drive.google.com/file/d/1JnMlNIdQTuf6oQLkggjv6BRR7zgKx2A1/view

[2020-09-15 14:58] khouloudbelguith commented on #20981
@HartLarsson,

When I try to use PS1767 an outside country (Tax not applied) => total ok
I attached a screenshot.
![image](https://user-images.githubusercontent.com/16067358/93227329-881b9f00-f774-11ea-8aa9-75919a345fbd.png)
Thanks to check and feedback.

[2020-09-15 15:01] khouloudbelguith commented on #20933
@dbpwebmaster, I need permissions to see your log file.
The request is sent.
Thanks!

[2020-09-15 15:04] ngodefroy opened #20993 "[BO][Carriers] switching to free shipping blocked on step 2 "shipping locations and costs""
#### Describe the bug

After adding a new carrier, I am not able to edit the kg weight ranges >= <
#### Expected behavior

Being able to edit the ranges

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to shipping/carriers
2. Edit a carrier that doesnt have free shipping enabled
3. On step 2 "Shipping locations and costs" switch the slicer to free shipping "YES"
4. Go to step 3
5.

[2020-09-15 15:06] HartLarsson commented on #20981
thank you for your test, seems working good.
The only problem i can detect could be a voucher generated by a plugin.

the voucher generated depends on a product in the cart, we can call it MAIN PRODUCT
And a list of products that are accessories,

the cart created for every accessories are like:

![image](https://user-images.githubusercontent.com/16102074/93228264-96b68600-f775-11ea-8561-9ea621d8c

[2020-09-15 15:11] dbpwebmaster commented on #20933
Permissions granted.

Kind Regards,

[2020-09-15 15:16] ngodefroy opened #20994 "[Payments methods] [Configure] authent headband isnt static anymore"
#### Describe the bug

Accessing from payments methods>configure, I am redirected to ps_checkout module. There, the "authent & help" headband is floating when sliding up and down

#### Expected behavior

Conform to 1.7.7.x version> static headband

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to payments methods
2. Click on configure
3. Scroll down to and see the headband "floa

[2020-09-15 15:19] LucasVollebergh commented on #17670
What was the problem? I have this issue as well (on another theme)
Thanks!

[2020-09-15 15:22] vincent-dp commented on #17670
delete the content of the `translations` folder in your theme forlder

[2020-09-15 15:23] khouloudbelguith commented on #20993
Hi @ngodefroy,

In your case, free shipping is enabled.
Can you try to disable the free shipping option, check, and feedback.
![image](https://user-images.githubusercontent.com/16067358/93230477-ff9efd80-f777-11ea-8e92-d48e6c8b488d.png)

Thanks!

[2020-09-15 15:31] ngodefroy commented on #20993
After disabling free shipping on an existing one, it's not clickable at all.
The problem seems to appears when I had a new carrier.
If you can reproduce, I will  update the scenario.
<img width="832" alt="Capture d’écran 2020-09-15 à 17 29 20" src="https://user-images.githubusercontent.com/69145330/93231389-fe220500-f778-11ea-8924-e5fc82f783e9.png">

[2020-09-15 15:33] darkstudio opened #20995 "dashproduct module bug"
#### Describe the bug

dashproduct prestashop module 2.1.0 doesn't work on dashboard. 2.0.4 version work well.

#### Expected behavior

error 500 for some ressource when load dashboard. everythings work but dashproduct module is empty and we can see an error 500 on dev tools.

#### Steps to Reproduce

Steps to reproduce the behavior:

Install 2.1.0 version of dashproduct module
Goto dashboard and

[2020-09-15 15:33] Hlavtox opened #20996 "Include wholesale price in orders table"
#### Is your feature request related to a problem?

Yes, client asked me to export a statistics of orders and a profit he has on them. However, wholesale prices are included only in _order_detail_ table, and not sumed up in _orders_ table.

#### Describe the solution you'd like

I would like to add total_wholesale_prices to _orders_ table.

#### Alternatives you've considered

Alternative is the w

[2020-09-15 15:34] khouloudbelguith commented on #20933
@dbpwebmaster, I find those errors
[code]
Could you please check with your host and feedback.

[2020-09-15 15:34] LucasVollebergh commented on #17670
Hi, this did not work for me.  I still have the error.
thanks anyway

[2020-09-15 15:39] khouloudbelguith commented on #20996
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-09-15 15:42] vincent-dp commented on #17670
Basicaly, this error means something wrong with the build. So, check your theme for errors, most of the time it's in the `theme.yml` file in `config` forlder

[2020-09-15 15:42] vincent-dp commented on #17670
use the theme validator here:
https://validator.prestashop.com/auth/login

[2020-09-15 15:47] Bahbv commented on #20972
Hello @khouloudbelguith
I find it weird it works for you. I'm still experiencing the same issue with ps_facetedsearch 3.6.0.
I included a screen record of my own for you to check out. What could be different in our setups?

Ordering in the subcategory has an effect on the category above... Ordering in the category above doesn't work.
https://drive.google.com/file/d/1sDlzKyRWmo84Kcz3wiwoRwSyEuOKGi-

[2020-09-15 15:50] khouloudbelguith commented on #20995
Hi @darkstudio,

Thanks for your report.
I did not manage to reproduce the issue with PS1767.
I attached a screen record
https://drive.google.com/file/d/1j4GATaycm9yJ1IKYn0kENtZ_1ocTO1Qp/view?usp=sharing
Thanks to check and feedback.

[2020-09-15 15:58] khouloudbelguith commented on #20993
As discussed with @ngodefroy,

It is ok with PS1767.

Thanks!

[2020-09-15 16:08] khouloudbelguith commented on #20994
Hi @ngodefroy,

I did not manage to reproduce the issue with the develop branch(1780)
![image](https://user-images.githubusercontent.com/16067358/93235833-645d5680-f77e-11ea-8ca6-e38dab6a0779.png)
https://drive.google.com/file/d/1Rpe7hknZVNocAAP_SPH_wvR5HIRzMt45/view?usp=sharing
Thanks to check and feedback.

[2020-09-15 16:15] khouloudbelguith commented on #20972
@Bahbv, could you check positions into the `ps_category_product` table.
https://drive.google.com/file/d/1zj-0cGJg9wnLbPpGvrPZivDkXIax3-dy/view?usp=sharing

Thanks to check and feedback.

[2020-09-15 16:19] khouloudbelguith commented on #20981
@HartLarsson, I created discounts manually.
![image](https://user-images.githubusercontent.com/16067358/93236984-ca96a900-f77f-11ea-8654-b7695810d582.png)
For each cart rule
![image](https://user-images.githubusercontent.com/16067358/93237071-e437f080-f77f-11ea-9af6-81a9b0702a35.png)

So, do I need to add a standard product to each cart rule?

Thanks!

[2020-09-15 16:27] LocalHeroPro commented on #20986
It's weird, because in admin panel I have 1.7.6.7 version:
![image](https://user-images.githubusercontent.com/42643563/93237929-0a11c500-f781-11ea-8a98-9402afce9d36.png)
not develop branch as marked on that thread.

[2020-09-15 16:31] harisrnd commented on #20984
Well, this is a javascript error, not a PHP one. However, I will consider your advice to downgrade PHP.
Contacting the theme developer was my first thought too. I quote his answer:
"Version 1.7.7 is a trial version. The problem may have occurred during migration. It is only my responsibility to fix any errors in the template. There is a bug in JQMIGRATE here - this error blocks all Javascript func

[2020-09-15 16:38] LocalHeroPro commented on #20985
@matks

no. I have that folder and changes equal with source branch (1.7.6.x):
![image](https://user-images.githubusercontent.com/42643563/93238986-750fcb80-f782-11ea-874e-45df900d1966.png)

[2020-09-15 16:41] HartLarsson commented on #20981
Hi,
basically the accessories can be discounted only if the main product is present.
If them ain product is called A and B & C are the 2 acessories.

you must add A to the cart and B + C accessories to the cart too
the discount workign only if A is present in cart and discount of 30% only product B (for the voucher of B) and only product C (voucher for product C).

I've also discovered that offici

[2020-09-15 18:36] futurowebpl commented on #20978
@khouloudbelguith

it is same task: https://github.com/PrestaShop/PrestaShop/issues/20535

[2020-09-15 18:56] dbpwebmaster commented on #20933
They just gave me this answer:
![image](https://user-images.githubusercontent.com/71078431/93252498-fa3bb600-f76b-11ea-990b-804aab38732b.png)

This mod_security may be affecting the dash trend module for all the domains with prestashop?

Kind Regards.

[2020-09-15 19:42] LocalHeroPro opened #20999 "All pages 404 on clean install"
#### Describe the bug

All pages are with 404 error.
[code]

#### Expected behavior

Provide working config, not part or scratch.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make fresh install 1.7.6.x
     from zip file (https://download.prestashop.com/download/releases/prestashop_1.7.6.7.zip) or
     from github repository (https://github.com/PrestaShop/PrestaShop/tree/1.7.6.x)

[2020-09-15 20:02] LucasVollebergh commented on #17670
I found the problem.

Had to use NL and NL on the ISO language settings instead of BE. (even when it should have been BE, PS messed up the ISO format I think)

[2020-09-15 20:13] angerangel commented on #20585
#### Describe the bug

If you give a name starting with minus sign to a feature, for example "-10/+50°C", it will not work the filter on the column of aspect research in the frontend.
If you click on that feature on the frontend, it will not filter, it just refresh the page with no effects.
If you use a space before the minus sign all work well, for example: " -10/+50°C"

#### Expected behavior

A

[2020-09-15 20:41] mikayilsrt opened #21000 "Unable to install PrestaShop 1.6.1.1"
#### Describe the bug

After downloading PrestaShop 1.6.1.1, when I install PrestaShop, the installation page contains this error: Creating the settings.inc file

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go download PrestaShop 1.6.1.1
2. Unzip the archive in your dev environment
3. Create the SQL table
4. Fill out the installation form and click on install

**Screenshots**

![

[2020-09-15 21:23] PululuK commented on #21000
Hi @mikayilsrt
See https://build.prestashop.com/news/a-year-into-1-6-maintenance/ and https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6

[2020-09-15 22:11] robert8888 opened #21001 "Installation problem"
I have problem with installation.

Config:
Wamp server on Windows 10:
- PHP 7.32.21
- Apache 2.4.46
- MySql 5.7.31

- latest version of presta clone from repo.

I try to change memory limit and i still get error but after changing memory limit i don't get error detail but nothing more than literally HTTP 200 - parsererror.

![image](https://user-images.githubusercontent.com/33148232/93270013-7526c

[2020-09-15 22:57] robert8888 commented on #21001
( ! ) Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 36864 bytes) in Unknown on line 0
--

1 | 0.0001 | 410008 | {main}( ) | ...\index.php:0
2 | 0.0597 | 1081720 | InstallControllerHttp::execute( ) | ...\index.php:49
3 | 0.4287 | 8576984 | InstallControllerHttpProcess->process( ) | ...\controllerHttp.php:266
4 | 0.4291 | 8577008 | InstallControllerHttpProcess->pro

[2020-09-16 03:16] agricart opened #21002 "Error in order checkout page prestashop 1.7.6.7"
Facing issue in order checkout page
Multiple click on continue its reloading same page
Enabled debug mode
Found error as attached
![Screenshot_20200915-224312](https://user-images.githubusercontent.com/71344603/93288221-01f56c00-f7f9-11ea-9a62-e23b94568f6c.png)

[2020-09-16 05:53] princeofnaxos opened #21003 "Ps_Emailsubscription isNewsletterRegistered failure"
#### Describe the bug

The function does not report existing email correctly.

#### Expected behavior

The function should report existing email.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Register for the newsletter with an email address
2. Refresh the page
3. Register for the newsletter again with the same email address
4. The email address will be registered again (green mes

[2020-09-16 07:20] matks commented on #20984
@harisrnd the solution might come from https://github.com/PrestaShop/PrestaShop/pull/20992

[2020-09-16 07:31] Sybrenb commented on #20972
@khouloudbelguith, I tried PS1770beta2 and ps_facetedsearch 3.6.0. but the problem still occurs. As seen above in my example, the positions of the products with a sub category overrules the positions of the parent category position of the product.

Do you know where I can edit the SQL query which shows and sort the products on the product page? Maybe we can fix it that way.

[2020-09-16 07:34] matks commented on #21000
As @PululuK mentioned, PS 1.6 is now EOL. Also we use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop 1.6, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS16/User+Guide

Alternatively, you can also ask for help from other PrestaShop users:
- Community forums: https://www.prestasho

[2020-09-16 07:34] #21000 closed, assigned to nobody

[2020-09-16 07:38] ngodefroy commented on #20994
Didnt reproduce after reinstalling, thus, I close the issue.

[2020-09-16 07:38] #20994 closed, assigned to nobody

[2020-09-16 07:49] sarahdib commented on #20999
Hello @LocalHeroPro

As indicated in [devdocs](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements) PrestaShop 1.7.6. is not compatible with PHP 7.3

Please downgrade your php version.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration.

Thank you!

[2020-09-16 07:49] #20999 closed, assigned to nobody

[2020-09-16 07:52] sarahdib commented on #21001
Hello @robert8888

As indicated in [devdocs](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements) PrestaShop 1.7.6. is not compatible with PHP 7.3

Please downgrade your php version.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration.

Thank you!

[2020-09-16 07:52] #21001 closed, assigned to nobody

[2020-09-16 07:55] sarahdib commented on #21002
Hello @agricart,

since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you!

[2020-09-16 07:55] #21002 closed, assigned to nobody

[2020-09-16 08:00] khouloudbelguith commented on #20978
Hi @futurowebpl,

Thanks for your feedback.
Ping @Prestaworks can check this issue: https://github.com/PrestaShop/PrestaShop/issues/20535 and confirm that are similar?

Thanks!

[2020-09-16 08:01] sarahdib commented on #21003
Hello @princeofnaxos

Despite our efforts, we were not able to reproduce your issue with the provided information.
https://drive.google.com/file/d/1kVm-oohrKN_FWTPh8AiPpsKozzdCAyYp/view

Did you use the last version of the module ?

Thank you!

[2020-09-16 08:03] khouloudbelguith commented on #20585
Hi @angerangel,

I think it is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/16320

Thanks!

[2020-09-16 08:05] SimonGrn commented on #20585
Yes this is a duplicate.
The issue was also closed so it should have been better to follow Khouloud advice and open a new one.

[2020-09-16 08:06] SimonGrn commented on #20585
Duplicate of #16320

[2020-09-16 08:38] Bahbv commented on #20972
@khouloudbelguith positions in the database seems to be fine. It's indeed the overruling like @sybrenb mentioned.

I made an annotated export of ps_category_products.
[ps_category_product-pdf.pdf](https://github.com/PrestaShop/PrestaShop/files/5230852/ps_category_product-pdf.pdf)

And a screenshot of my prestashop configuration
![server](https://user-images.githubusercontent.com/12693117/93313441-

[2020-09-16 08:43] marionf commented on #20820
Fixes by https://github.com/PrestaShop/PrestaShop/pull/20689

[2020-09-16 08:43] #20820 closed, assigned to nobody

[2020-09-16 08:53] ngodefroy opened #21004 "[BO][Languages] order ID is wrong when adding/deleting new language"
#### Describe the bug

In BO,Languages, the ID value should be forward sort when you add a new language.
I tried to add the new language a first time, it's sorted well.
Then I delete and add a language again => wrongly sorted

#### Expected behavior

The ID should be forward sorted

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Localizations>Languages
2. Click on add a new la

[2020-09-16 08:54] sarahdib commented on #20782
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
If you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Thank you!

[2020-09-16 08:54] #20782 closed, assigned to nobody

[2020-09-16 08:59] ngodefroy commented on #20756
After reinstalling the shop, I could not reproduce the issue, this I close the issue
Thank you @khouloudbelguith

[2020-09-16 08:59] #20756 closed, assigned to nobody

[2020-09-16 09:17] PierreRambaud commented on #20986
It's related to how composer manages PSR-4. Since it's not a regression we add it for the 1.7.6.8 :wink:

[2020-09-16 09:31] sarahdib commented on #20970
Hello,

As the problem since to be the PHP version I close this issue. If the problem appear again feel free to open a new issue with more detail.

Thank you!

[2020-09-16 09:31] #20970 closed, assigned to nobody

[2020-09-16 09:37] marionf commented on #15381
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19289

[2020-09-16 09:38] PierreRambaud commented on #16421
I mean, the string must be escaped by the admin who inserts it :thinking:
We must have a complete scenario in order to reproduce all use cases.

[2020-09-16 10:18] guigplt opened #21005 "Refund always increment stock"
On BO order page, when I click on standard refund or partial refund :

![image](https://user-images.githubusercontent.com/44002621/93324206-ddf45380-f815-11ea-8e09-2f66a8369763.png)

And I don't select the checkbox reinjectQuantities (because I just want to refund, without adding quantity in stock) :

![image](https://user-images.githubusercontent.com/44002621/93324420-2449b280-f816-11ea-8d3d-db68

[2020-09-16 10:21] 01park opened #21006 "Products with options / combination should have text for selected option"
#### Is your feature request related to a problem?

Yes

#### Describe the solution you'd like

I would like it to be more visible to the customer the option they select when chosen a combination.

For example, when one selects the color yellow, instead of just highlighting the color yellow, have above or beneath the option yellow in text. This could make things more clear to the customer, for exa

[2020-09-16 10:21] Lajaca opened #21007 "Fatal Error: Interface 'PrestaShop\PrestaShop\Core\Session\SessionInterface' not found"
I cant access to advanced parametres / Team and Catalog/ Categories error 500

Until yesterday everything work well with
* PrestaShop version: 7.7.6.5
* PHP version: 7.3.22

I didnt update last Prestashop version and change PHP version always was running on this versions

Fatal Error: Interface 'PrestaShop\PrestaShop\Core\Session\SessionInterface' not found (attached screenshots)

![Categoria](htt

[2020-09-16 10:24] jchazalon opened #21008 "Unsufficient URL escape of file name in customer thread (admin view)"
When, in table "$PREFIX_customer_message" the columns file_name contains filenames with special URL characters like "?", the following template fails to generate a clickable link.

https://github.com/PrestaShop/PrestaShop/blob/e3fad19753dcc155e087a6b36ad8b94b4ca02065/admin-dev/themes/default/template/controllers/customer_threads/helpers/view/message.tpl#L56

Because the "?" is not substituted to "

[2020-09-16 10:35] Matt75 opened #21009 "Module Manager : This value should not be null"
#### Describe the bug

If PHP configuration about `post_max_size` is too low, ZIP uploaded through Module Manager is not received so ZIP validation throw a constraint violation `This value should not be null`. But this message is not attached to a context so we don't know what is wrong.

#### Expected behavior

Error message should give an understandable information about what is wrong.

#### Step

[2020-09-16 10:50] vincent-dp commented on #17670
mmh, I'd say it's fishy, you must have fixed your solution before you tried that. Have you tried to reproduce just to be sure?

[2020-09-16 11:13] #20950 closed, assigned to matthieu-rolland

[2020-09-16 11:13] Progi1984 commented on #20950
Fixed by #20992

[2020-09-16 11:17] PululuK opened #21010 "[IMPROVEMENT][FO][CART SUMMARY] Add product link in summary cart"
## Is your feature request related to a problem?

Several products may have similar names, in some cases customers have doubts if they have added the correct product to their cart.
In this case it would be interesting to add the product links, so that the customer can see the product page again.

### Before

![image](https://user-images.githubusercontent.com/16455155/93329946-4a735080-f81e-11ea-90

[2020-09-16 11:48] Progi1984 opened #21012 "Remove dependency on MomentJS"
#### Describe the bug

MomentJS has announced that it a legacy project in maintenance mode. Not dead, but it is indeed done.
https://momentjs.com/docs/#/-project-status/

Would it make sense to remove the dependency on moment from this library? Especially now that Moment is a deprecated library, has a huge size and is not tree-shakeable.
The Momentjs team has recommended some libraries which can b

[2020-09-16 12:29] Markus-Gurkcity opened #21014 "Upgrade to new version fails at 'ALTER IGNORE TABLE...' Queries with MySql server >= 5.7"
#### Describe the bug

If you upgrade your PrestaShop version < 1.6.1.0 to a newer version (manual or with Autoupgrade module) it fails with MySql server version >= 5.7

In some sql upgrade files there are 'ALTER IGNORE TABLE ...' queries.
For example in file /install-dev/upgrade/sql/1.6.1.0.sql on line 139:
ALTER IGNORE TABLE `PREFIX_image` ADD UNIQUE KEY `id_product_cover` (`id_product`,`cover`)

[2020-09-16 12:52] sarahdib commented on #21005
Hello @guigplt

Thank you for your feedback!

I reproduce this issue :
in 1.7.6.X : https://drive.google.com/file/d/1DMWzHQibNVy6RkxJqDCZMqUdfCgn_xZ0/view
in 1.7.7.x : https://drive.google.com/file/d/1DMWzHQibNVy6RkxJqDCZMqUdfCgn_xZ0/view

Could be related to #16869

[2020-09-16 13:14] sarahdib commented on #21006
@PrestaShop/product-team could you check this improvement ?

Thank you :)

[2020-09-16 13:23] sarahdib commented on #21007
Hello @Lajaca

PrestaShop 1.7.6.5 is not compatible with php version 7.3 as indicated [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)

Please downgrade your php version.

Thank you

[2020-09-16 13:23] #21007 closed, assigned to nobody

[2020-09-16 13:26] LouiseBonnard commented on #21006
I guess it's a question for the @PrestaShop/ux-team. ;-)

[2020-09-16 13:27] sarahdib commented on #21008
@PrestaShop/prestashop-core-developers could you check this issue ?

Thank you

[2020-09-16 13:33] Prestaworks commented on #20978
They are related but not similair, the 20535 seems to be related to the option to select what default options are available on different pages. Mine is the possibility to manipulate the options with modules.

[2020-09-16 13:38] sarahdib commented on #21010
@PrestaShop/product-team could you check this improvement ?
Thank you!

[2020-09-16 13:40] PululuK commented on #20862
@prestascott An alert already exists on this page :
![Capture du 2020-09-16 15-34-27](https://user-images.githubusercontent.com/16455155/93345105-bd86c200-f832-11ea-908b-20aa614fcf76.png)

But the warning idea looks good to me !

[2020-09-16 13:42] sarahdib commented on #21009
Hello @Matt75
I reproduce this issue
<img width="693" alt="Capture d’écran 2020-09-16 à 15 41 28" src="https://user-images.githubusercontent.com/3034677/93345481-28d09400-f833-11ea-81ea-5102b0b41ab0.png">

[2020-09-16 13:42] Progi1984 commented on #21012
@PrestaShop/prestashop-core-developers What do you think about that ?

[2020-09-16 13:54] moflihmorad opened #21017 "Absent [is_gift] value in cart.product array !? 1.7.6.5"
While developing a new Theme for a customer, we reached the cart-detailed-product-line.tpl which is part of the Cart.tpl template used to display everything related to customer cart.

the default classic template is using a $product.is_gift value that does not get presented with CartPresenter.php file

after diving deep into the code we found that CartController.php calls Present() function of the

[2020-09-16 14:00] robert8888 commented on #21001
I've downgrade php to 7.2.33 and i still have the same problem.

error stack:

( ! ) Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 20480 bytes) in D:\PROJEKTY\APKI\lubieksiazki\PrestaShop\vendor\twig\twig\src\Node\Node.php on line 217
--

1 | 0.0001 | 406424 | {main}( ) | ...\index.php:0
2 | 0.0535 | 1127408 | InstallControllerHttp::execute( ) | ...\index.php:49

[2020-09-16 14:04] harisrnd commented on #20984
It seems very relative if not the same problem.

[2020-09-16 14:06] Progi1984 commented on #20890
Fixed by #20936

[2020-09-16 14:06] #20890 closed, assigned to sowbiba

[2020-09-16 14:15] matks opened #21019 "Controller::addJS fails silently if bad input is provided and path check is required"
#### Describe the bug

Today I lost around 2 hours because `Controller::addJS()` fails silently if bad input is provided and path check is required.

See the implementation:
[code]

If you use `check_path` default value (true) and provide a `$js_uri` that does not refer to a real JS file ; then `Media::getJSPath($js_file)` will return `false`.
➡️ Then `$js_path` will be false
➡️ The next if `if ($

[2020-09-16 14:25] josiasdx opened #21020 "Wrong price calculation when discounts"
Shop parameters/configuration
-> round type: round on each line
-> round mode: round up away from zero, when it is half way there

Taxes: 21.00

Catalog/products-> new product:
Product price (tax excluded): 282,96€
Discount: 30%

Expected result
--------------------
282,96€-30%= 198,072€ -> (round on each line) 198,07€ + 21%= **239,66€**

Prestashop result
-----------------------
**239,67€** (inst

[2020-09-16 14:29] ngodefroy opened #21021 "[BO/FO][Shop Parameters] Best Sales link appears while its disabled in BO"
#### Describe the bug

I have disabled the Best Sellers (which is "best sales" on FO - https://github.com/PrestaShop/PrestaShop/issues/19643)
therefore, I should not see the link Best Sales on FO

#### Expected behavior

Not being able to see the link "best sales" if its deactivated in BO

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Best Sales at the end of HP
2. See the li

[2020-09-16 14:33] khouloudbelguith commented on #21021
Hi @ngodefroy,

This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/18028

Thanks!

[2020-09-16 14:34] #21021 closed, assigned to nobody

[2020-09-16 14:36] khouloudbelguith commented on #21021
Duplicate of ##18028

[2020-09-16 14:44] khouloudbelguith commented on #20993
Hi!

Also, we have an issue following these steps:

1. Go to shipping/carriers
2. Edit a carrier that doesn't have free shipping enabled
3. On step 2 "Shipping locations and costs" switch the slicer to free shipping "YES"
4. Go to the next step (error)
5. Try to disable free shipping
6. the "Add handling costs" is still disabled, we cannot enable it.

![image](https://user-images.githubusercontent

[2020-09-16 14:47] sarahdib commented on #21017
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer : https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understand

[2020-09-16 14:47] #21017 closed, assigned to nobody

[2020-09-16 15:10] Progi1984 commented on #20958
Fixed by #20960

[2020-09-16 15:10] #20958 closed, assigned to atomiix

[2020-09-16 15:23] hks27d opened #21022 "Blank page on Clear Cache Prestashop"
#### Describe the bug

I go to Advanced Parameters -> Performance -> Clear cache
The website then shows a blank page. Then if I go to AdminCP again, to Advanced Parameters -> Performance, Prestashop says: All caches cleared successfully
The issue the following one: I have a blank page everytime I clear cache.
I've tried on fresh new installations of Prestashop and it's the same.

#### Expected beh

[2020-09-16 15:32] ngodefroy opened #21023 "[BO][Order settings] Reordering not displayed"
#### Describe the bug

In BO, go to order settings, and verify that "disable reordering option" is switched to no, then try to reorder a product on FO > reorder link not displayed

#### Expected behavior

Reorder link should be displayed when and only in the case disable reordering option is set to NO

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO, set disable reordering o

[2020-09-16 15:39] prestascott commented on #20862
@PululuK Yes, in fact there's already an alert on this page but this is an old design that we're trying to move on.
This Dashboard page hasn't been migrated yet that's why we prefer using our new components such as the alert that I added.

[2020-09-16 15:49] prestascott commented on #21006
Hello everyone!

@01park Thank you for your report. :)

Can you provide us some screenshots so we can exactly see what you mean? Thanks.

[2020-09-16 15:57] 01park commented on #21006
<img width="1067" alt="Screenshot 2020-09-16 at 16 54 09" src="https://user-images.githubusercontent.com/46492443/93362240-ab5e5100-f83d-11ea-8655-3f148e8c6608.png">

Hi,

This is  an example.

[2020-09-16 16:02] prestascott commented on #21006
Thank you, it's clearer to me. As a colorblind person, I agree that this will really be helpful and provide our users a better accessibility.

I will add this issue to the Epic. :)

[2020-09-16 16:06] 01park commented on #21006
Hi,

Thanks, I hope it will be applied in the future

[2020-09-16 16:10] HanaBenHammouda opened #21024 "Change Search from dropdown list to input field"
Hi, good evening,

I configure the module ps_facetedsearch in Prestashop 1.7, i need in my website to search Brand instead of dropdown list, i need to search brand in input field.

Really, I find myself blocked here. I need your help and I would be deeply grateful for your support.

![dropdownn](https://user-images.githubusercontent.com/36226026/93363618-6a673c00-f83f-11ea-82ef-90fa7e6b28ac.png)
!

[2020-09-16 16:27] PierreRambaud commented on #21008
Hi,

Nice catch, the escape is wrong, it must be `|escape:'url':'UTF-8'` instead of HTML :wink:

[2020-09-16 16:59] PierreRambaud commented on #21012
I agree I don't even know where we use this library :sweat_smile:

[2020-09-16 20:30] jchazalon commented on #21008
Thanks @sarahdib and @PierreRambaud for your interest in my small issue.

@PierreRambaud Actually the `:url:` option did not work for me either, leading me to the hack I suggested: my file paths are like `upload/fe45a215.pdf` and the URL escaping would substitute the slashes (`/`) that I need to keep. I think the `:html:` escape makes sense (we are writing HTML code after all) to some extent, but

[2020-09-16 20:40] Guisardo commented on #9948
Hi all, I think that this may be related to https://github.com/PrestaShop/PrestaShop/pull/20565
Can anyone confirm?

[2020-09-17 07:00] hasanshaker opened #21026 "Display default carriers list(Transporteurs disponibles) in page product"
1-
------------
![Capture d’écran 2020-09-17 085818](https://user-images.githubusercontent.com/25296917/93431128-0044aa80-f8c4-11ea-8a01-09addeb59061.png)

2-
------------
![Capture d’écran 2020-09-17 085950](https://user-images.githubusercontent.com/25296917/93431280-34b86680-f8c4-11ea-9435-a252e2a3181d.png)

Thanks!

[2020-09-17 07:06] florine2623 commented on #21014
Hello @Markus-Gurkcity ,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please

[2020-09-17 07:21] florine2623 commented on #21024
Hi @HanaBenHammouda ,
If you need help for any specific development, you can contact an [agency](https://www.prestashop.com/en/experts), [support team](https://addons.prestashop.com/en/388-support) or the [forum](https://www.prestashop.com/forums/).

This place is only for bugs found !
Thanks!

[2020-09-17 07:21] #21024 closed, assigned to nobody

[2020-09-17 07:28] idnovate opened #21027 "Add 'Best sellers' as default order by in category page"
#### Describe the solution you'd like

Add 'Best sellers' as default order by in category page.

![image](https://user-images.githubusercontent.com/15104724/93434095-fc1a8c00-f8c7-11ea-9f0f-e802d9109d32.png)

![image](https://user-images.githubusercontent.com/15104724/93434178-16ed0080-f8c8-11ea-8790-8f9159e1b8d9.png)

[2020-09-17 07:35] florine2623 commented on #21027
Hi @idnovate ,
Thanks for the suggestion.
Please stay tuned as we review your request.
Thanks!

[2020-09-17 07:36] florine2623 commented on #21027
Ping @PrestaShop/product-team ,
What do you about this improvement ?
Thanks!

[2020-09-17 07:43] florine2623 commented on #21020
Hello @josiasdx ,
Is your issue relate to : https://github.com/PrestaShop/PrestaShop/issues/9981 ?
Thanks!

[2020-09-17 07:46] marionf commented on #21023
Hi @ngodefroy

I can't reproduce the issue

![capture d'écran_2787](https://user-images.githubusercontent.com/13449658/93436091-9bd91980-f8ca-11ea-97c4-b3a93946f032.png)

![capture d'écran_2788](https://user-images.githubusercontent.com/13449658/93436103-9e3b7380-f8ca-11ea-956c-922dbd19da26.png)

In the issue description you say "verify that disable reordering option is switched to no" but in your

[2020-09-17 07:48] josiasdx commented on #21020
Hello @florine2623
No exactly the same problem (9981 have selected round in each article and I selected round in each line), but probably in both cases the origin of the problem is the same, yes

[2020-09-17 07:59] SimonGrn commented on #21026
Dear @hasanshaker
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2020-09-17 07:59] #21026 closed, assigned to nobody

[2020-09-17 08:05] PierreRambaud commented on #21008
I tried the customer thread feature, anyway I don't understand how the filename can contain a `?`. Anyway in this case the fix must be done here: https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/admin/AdminCustomerThreadsController.php#L634 by adding by encoding the `file_name`

[2020-09-17 08:09] marionf commented on #20952
@PrestaShop/ux-team wdyt ?

[2020-09-17 08:20] #20818 closed, assigned to matthieu-rolland

[2020-09-17 08:22] ngodefroy commented on #21023
Hello Marion,

Yes, indeed your right ..went too quickly running the issue.
I will close the issue.
Thank you :)

[2020-09-17 08:22] #21023 closed, assigned to nobody

[2020-09-17 08:34] marionf commented on #21027
Hello,

This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20535#issuecomment-672918693
Please subscribe to the issue mentioned above and don't hesitate to add a comment to share your need

Thank you!

[2020-09-17 08:34] #21027 closed, assigned to nobody

[2020-09-17 08:35] jbenezech opened #21028 "Allow modules to participate in symfony compiler passes"
#### Is your feature request related to a problem?

This is a bit of a follow up to this one: https://github.com/PrestaShop/PrestaShop/pull/8342 .
After this PR, modules can now register services, but cannot yet participate in building the container with their own compiler passes.
It would be great to be able to do so to register custom listener tags and so on.
Furthermore, modules can reuse third

[2020-09-17 08:44] prestascott commented on #20952
Hi everyone!

Thank you for your report @ngodefroy.

Address block size depends on its content, the more content the longer the block will be. In fact, it is a weird display and this can be seen as a bug from users' point of view.

I suggest defining a standard height so no matter how long is the content, block will remain the same size.

[2020-09-17 08:49] marionf commented on #21004
Hi @ngodefroy

Then I delete and add a language again => wrongly sorted

I am not sure to understand the issue, the list is correctly sorted by ID ASC

[2020-09-17 08:57] ngodefroy commented on #21004
Hello @marionf
It's sorted well by ID ASC, but why is the ID numbered 4 when there is 1, 2 before? Shouldnt it be 1, 2 and 3?
Thank you

[2020-09-17 09:03] prestascott commented on #20848
Hi everyone!

Thank you @PululuK for your report.

I understand your needs, and your improvement request seems a really nice idea to me. Overall, this hooks page needs a complete redesign since it has exclusive features such as managing hooks using the component that appears on the right side of this page.

This page uses tables to display available hooks but doesn't look like other tables in the

[2020-09-17 09:03] florine2623 commented on #21028
Hi @jbenezech ,
Thanks for the suggestion.
Our teams will take a look at it and review your request.
Please stay tuned !

[2020-09-17 09:07] sarahdib commented on #20841
@ngodefroy what is your module version ? We try with @marionf to reproduce but we couldn't

[2020-09-17 09:12] florine2623 commented on #21028
ping @PrestaShop/prestashop-core-developers

[2020-09-17 09:20] ngodefroy commented on #20841
Hello @sarahdib ,
I re tested it and don't reproduce the issue anymore, thus I close it.
Thank you

[2020-09-17 09:20] #20841 closed, assigned to nobody

[2020-09-17 09:20] SimonGrn commented on #21004
This is not an issue, ID incrementation is tied to the database engine. As long as the IDs are ranked correctly, this is normal.
You probably still have the ID 3 language in your database, it's just hidden.

[2020-09-17 09:20] #21004 closed, assigned to nobody

[2020-09-17 09:34] PierreRambaud commented on #20986
I reopen since we need to update some dependencies :)

[2020-09-17 09:48] sarahdib opened #21030 "Improvement for ps_customtext"
After testing the new release of ps_customtext I found some improvement to do :

- Go to admin -> modules -> ps_customtext
See that there is a button return to list but the button redirect to the same page
https://drive.google.com/file/d/1zwf-AhLyEyJ-W3K7phr3NDn4adwcM-MT/view

- The description indicate that we can add several blocs but it's not possible in the module configuration
<img width="864

[2020-09-17 10:03] marekjedrzejewski commented on #13024
Due to no movement in PR I ended up copying getModuleTranslation() inside the module I'm using it in and removing file caching so I always get either original string, or translation in language I want, no caching leftovers. Here's code, if anyone stumbled upon this, and there's still no official fix (changed arguments order):

[code]

[2020-09-17 10:08] jf-viguier opened #21032 "I want to be a maintainer"
I want to be a maintainer. For modules for start, and why not in the core later when I will learn how to git rebase (private joke for @matks ) ;-)

**I contribute**
- I've already have some merged PR in Prestashop core and modules : http://contributors.prestashop.com/ jf-viguier

**I'm a friend of presta**
I've lauched the "ecommerce solidaire" initiative with 200 prestashop deployed
In video : ht

[2020-09-17 10:14] Lajaca commented on #21007
I have change PHP to 7.2.33 and there no changes and the same error advanced parametres / Team and Catalog/ Categories error 500 and Team

[2020-09-17 10:31] hiro-software opened #21034 "Block "instead of" in DisplayPackPrice is missing"
#### Describe the bug

The displayPackPack in controllers/front/ProductController.php is not assigned well. Let's see the line code:

$this->context->smarty->assign('displayPackPrice', ($pack_items && $productPrice < $this->product->getNoPackPrice()) ? true : false);

In that line, $productPrice is float, but $this->product->getNoPackPrice() is formattted price, so in that comparation, it can be f

[2020-09-17 10:34] PululuK commented on #20848
Hi @prestascott, thanks for your proposition, The design seems great to me, but ... :

- My request does not concern the redesign of the positions module page
- I think I misspoke, or we misunderstood each other. The idea is to handle the Hooks status and not hook/unhook modules.

Before             |  After
:-------------------------:|:-------------------------:
![image](https://user-images.githu

[2020-09-17 10:42] PululuK commented on #21032
After https://github.com/PrestaShop/TopContributors/pull/23, you can use : http://contributors.prestashop.com/#jf-viguier

@Progi1984  here is a use case for https://github.com/PrestaShop/TopContributors/pull/23 ;)

[2020-09-17 10:45] PululuK commented on #21032
@jf-viguier I think your request should be here 👉🏾 https://github.com/PrestaShop/open-source

[2020-09-17 10:48] jbeaven opened #21035 "Error reordering by dragging line (rather than placeholder handle)"
https://github.com/PrestaShop/PrestaShop/blob/42833c4097071b46f37b76f6c347fb579447e3e1/admin-dev/themes/default/js/bundle/product/catalog.js#L75

On this line PS calculates the TR that is being moved, and marks the line as having been changed. Later this flag is used to determine what changes need to be saved after reordering (and clicking Save & refresh).

This works great when dragging by the pl

[2020-09-17 11:03] Hlavtox commented on #21022
@hks27d Hi, this was a bug, if you had debug mode on, it would throw an error. (https://github.com/PrestaShop/PrestaShop/issues/11105) It is fixed in next versions of PS.

Try to apply this change and try to delete the cache, it will work. :-) https://github.com/PrestaShop/PrestaShop/pull/20689/files

[2020-09-17 11:11] DPStudioGR opened #21036 "Faceted search error indexing prices"
Hi there...
i decided to update my Faceted search module filter template and when i tried to index rebuild entire price index the process goes to 500/1050 prices and then Price indexing failed..
i am using the latest prestashop version and the module is at its latest version..
Can anyone tell me what can be wrong?

Thank you in advance

[2020-09-17 11:55] ngodefroy opened #21037 "[BO][Shop param] [Product settings] changes in the behavior with ordering Out of stock products"
#### Describe the bug

In 1767 & 177x, when I select "enable stock management" to "NO", "Allow ordering of out of stock products" activates itself automatically.
In 178x version, its not done automatically.
Thus, when I have "enable stock management" set to NO and swtich to NO "Allow orderring of out of stock products", then save, I get "update successful" - while it's not changed (bc not compatib

[2020-09-17 11:56] Hlavtox commented on #21020
@josiasdx I think the discount is calculated from the price with tax, as this is the price displayed everywhere.

282,96 * 1,21 = 342,38 is the line total
342,38 * 0,7 = 239,67 = correct

[2020-09-17 12:30] josiasdx commented on #21020
@Hlavtox thank you for your comment. Indeed, seems the discount is calculated from price tax included (thank you for confirm this point)

This is a problem for **invoices** in B2B sales, because 198,07€ + 21% is not 239,67€.
Some of our invoices have differences much bigger than 0,01€ due this reason.

we are sending invoices with all our orders. All our invoices are:
line 1 price tax excluded - d

[2020-09-17 12:43] florine2623 commented on #21034
Hi @hiro-software ,

I have reproduce the same issue in PS 1.7.6.5 and PS 1.7.7.0.

When the difference between the pack price and the total of the product is < 1, the displayPackPrice does not show.
![Capture d’écran 2020-09-17 à 14 39 12](https://user-images.githubusercontent.com/16019289/93471433-a360e880-f8f3-11ea-831f-2293c6c25234.png)
![Capture d’écran 2020-09-17 à 14 39 23](https://user

[2020-09-17 12:48] florine2623 commented on #21036
Dear @Stampa-Stampa ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2020-09-17 12:48] #21036 closed, assigned to nobody

[2020-09-17 12:51] boubkerbribri opened #21038 "[BO- Stores page] Sort by post code not working"
#### Describe the bug

When sorting by post code, the result is incorrect

#### Expected behavior

Should be well sorted

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> shop parameters -> Contact -> Stores
2. Click on column post code to sort by
3.Check that the sort is incorrect

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your p

[2020-09-17 12:56] florine2623 commented on #21035
Hi @jbeaven ,

I managed to reproduce the issue in PS 1.7.6.5 and PS 1.7.7.0.

Clicking on the arrows (⇅) to reorder works, but clicking anywhere else on the product line does effect the reordering feature.

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-09-17 12:58] florine2623 commented on #21035
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/15291

[2020-09-17 12:59] #21035 closed, assigned to nobody

[2020-09-17 12:59] ngodefroy opened #21039 "[FO] Put Display of delivery time in in Bold to make it more identifiable"
#### Describe the bug

In BO, Shop param>Product settings, I put a delivery time of in stock products.
I save, go to FO, check the delivery time of my products which is a bit "hidden" inside the whole description, making it Bold may help to quickly see the delivery time - as it is often an important point to customers.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO, Shop p

[2020-09-17 13:08] khouloudbelguith commented on #21038
I manage to reproduce the issue with PS1767

[2020-09-17 13:10] khouloudbelguith commented on #21038
Ping @matks @marionf this issue could be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10624?
Thanks!

[2020-09-17 13:14] moflihmorad commented on #21017
hi sarah
did you take the time to check if it was an issue or a problem i have
i am pointing out that it is an issue on prestashop.
prestashop does not differentiate between gifts and manually added items in cart even though in the code it says so
that was a fast close i guess you didn't check at all.
anyway thank you.

[2020-09-17 13:43] prestascott commented on #20848
Oh ok, I see what you mean. So your need is to change hook status and not modules status in the hook? Or you need both of them?

If you only need to change hook status I don't think there's a better way than adding a switch before a hook like you did. Then I will also remove the switch to activate/deactivate a module from a hook.

If you need both, I'll keep them.

[2020-09-17 13:45] prestascott commented on #21039
Hi @ngodefroy!

Thanks for your report. :)

As discussed previously, I will add this improvement to the related Epic.

[2020-09-17 13:51] moflihmorad opened #21041 "[FO] gift product and manually added products do not get separated in cart."
#### Describe the bug

adding a cart rule allowing a customer a free gift appears as a normal product in the cart product listing

#### Expected behavior

According to the classic theme tpl this should appear as a gift product
1) the quantity of a gift product cannot be modified, but the bug allows this
2) the price of a gift product should not show up, the FREE tag should appear instead.
3) gift

[2020-09-17 14:15] prestascott commented on #17131
Hi everyone!

@LouiseBonnard I updated the epic based on what we need to remove or modify. I also linked the [Specs for breadcrumbs in Front-office](https://github.com/PrestaShop/prestashop-specs/pull/88/files).

Thank you everyone for your work! :)

[2020-09-17 14:50] clotaire202 commented on #17131
I think we have discuss about an essential point. Your specs are good for frontend (classic theme) and the fact that breac

[2020-09-17 14:53] khouloudbelguith opened #21044 "SSL enabled - The help sidebar doesn't work when using https://"
#### Describe the bug

When SSL is enabled & in all pages enabled also using `https://`
![image](https://user-images.githubusercontent.com/16067358/93487447-95b45e80-f905-11ea-8e0d-32c9afdfc2c1.png)
TRy to open help box => see error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable SSL & SSL in all pages
2. Try to navigate to any page using `https://` (legacy or migrated page)

[2020-09-17 15:13] florine2623 commented on #21041
Hi @moflihmorad ,
Thanks for the issue. I have reproduced it in PS 1.7.6.5 and PS 1.7.7.0.
I will ping our product team to get an official answer.
Please stay tuned.

[2020-09-17 15:14] florine2623 commented on #21041
ping @PrestaShop/product-team ,
I indeed reproduce what @moflihmorad explained in his issue.
Isn't that the way it is supposed to work ?
If not, can that be added as an improvement in the next versions ?
Thanks!

[2020-09-17 15:18] clotaire202 commented on #17131
@prestascott

[2020-09-17 16:06] ArkaKnight commented on #9804
**I found a solution** (for me)

In the .tpl PDFs , find your translation who doesn't work and verify if `d='Shop.Pdf'` is present.
![presta-pb](https://user-images.githubusercontent.com/71455355/93497209-7b33b280-f910-11ea-831d-a30488aac7b4.jpg)

If not, you need to add it.

Hope help you

[2020-09-17 16:21] moflihmorad commented on #21041
thank you @florine2623
i suppose it is not the way it should work, because if you keep adding the quantity of the gift product the discount adds up too. the customer should never be allowed to change gift quantity.

[2020-09-17 16:57] Hlavtox commented on #21041
@moflihmorad This bug is not fixed for more than 3 years... https://github.com/PrestaShop/PrestaShop/issues/9757

Until it's fixed, use my solution here - https://github.com/PrestaShop/PrestaShop/issues/9757#issuecomment-691047001

[2020-09-17 17:02] Hlavtox opened #21046 "actionProductCancel not working"
#### Steps to Reproduce

1. Install 1.7.7 beta
2. Make a module which uses actionProductCancel.
Or install Google Analytics module and put something like `file_put_contents(_PS_ROOT_DIR_ . '/hookActionProductCancel.txt', "test");` into `public function hookActionProductCancel`
3. Go to BO order view.
4. Click Partial refund. Enter 1 piece. Confirm.
5. The hook is not called and no logic is process

[2020-09-17 18:02] hks27d commented on #21022
Hello! Thanks a lot for your reply.

Then why the file is not updated with all the modifcations done?
Is PrestaShop 1.7.7.0 the same? Does it have the same issue where we have to fix it by ourselves?

Thank youf or your time!

[2020-09-17 19:10] LocalHeroPro opened #21047 "Wrong checking requirements"
#### Describe the bug

Build in checking requirements compatibility don't prevent install Prestashop on incompatibility environment ([server configuration](https://github.com/PrestaShop/PrestaShop/issues/20999#issuecomment-693237508)). That tool check PHP extensions but don't check PHP version o.0.

#### Expected behavior

Prevent to install Prestashop on incompatibility enviroment.

#### Steps to

[2020-09-17 19:11] LocalHeroPro commented on #20999
I downgraded to PHP7.2 and I have the same issue.
Please provide proper config file for setup Prestashop.
And also sarahdib [4u](https://github.com/PrestaShop/PrestaShop/issues/21047).

[2020-09-17 19:44] kpodemski commented on #20999
It has to be related to your nginx configuration as I ran without any issues PrestaShop 1.7.6 on nginx

[2020-09-17 20:25] matks commented on #21038
Yes indeed :) when we migrate the page, fixing the sort is definitely part of "providing a fully functional page" 👍

[2020-09-17 20:39] LocalHeroPro commented on #20999
Could you provide config file? After that we can update outdated Prestashop docs.

[2020-09-17 21:06] kpodemski commented on #21044
There's a problem with SSL certificate for help.prestashop.com:
https://help.prestashop.com/api/?request=getHelp%3DAdminDashboard%26version%3D1.7.6.1%26language%3Dpl&callback=jQuery1110009818400962809393_1600376734021&_=1600376734022

[2020-09-17 22:33] matks commented on #21047
This might already be fixed for 1.7.7 according to https://github.com/PrestaShop/PrestaShop/issues/20842 🤔

[2020-09-18 00:15] moflihmorad commented on #9757
hi @Hlavtox
i tried your temporary fix but still no $product.is_gift value present in product Array.
i  noticed that this value disappears when the $rawProduct is passed through "presentProduct" in array_mapping!

[2020-09-18 05:59] Max84 opened #21051 "Product price with ecotax is false in webservice"
#### Describe the bug
Order a product with ecotax. Check product price excluding tax with webservice order_details method.
This ex. tax price includes ecotax **with** tax.

#### Expected behavior
A price excluding tax should include ecotax without tax too OR shouldn't include ecotax.
I think you should mix ex.tax with inc.tax.
price ex.tax + tax should be equals to price inc.tax. It's not true now

[2020-09-18 07:18] pppplus commented on #13395
Always same problem in 1.7.6.7

[2020-09-18 08:04] florine2623 commented on #21051
Hi @Max84 ,

I did reproduce your issue in PS 1.7.6.5, but it has been fixed in PS 1.7.7.0.
Here are the results :
In PS 1.7.6.5 :
![Capture d’écran 2020-09-18 à 09 21 28](https://user-images.githubusercontent.com/16019289/93571954-7238f480-f995-11ea-83b5-26a25e3d3712.png)
In PS 1.7.7.0 :
![Capture d’écran 2020-09-18 à 10 03 01](https://user-images.githubusercontent.com/16019289/93572539-45d1a

[2020-09-18 08:04] #21051 closed, assigned to nobody

[2020-09-18 08:08] #14995 closed, assigned to atomiix

[2020-09-18 08:10] jf-viguier opened #26100 "Migrate to gtag.js"
#### Is your feature request related to a problem?

It seems that google recommend now gtag.js instead of analytics.js :
https://developers.google.com/analytics/devguides/collection/gtagjs

#### Describe the solution you'd like

Migrate to gtag.js

#### Alternatives you've considered

- Basic code in header
https://developers.google.com/analytics/devguides/collection/ga4

- General events for our

[2020-09-18 08:11] rflorent opened #21052 "Product categories, relations always updated when not needed"
Hello,
Prestashop 1.7.5.1, but it is for all versions I think.

On function updateCategories of product class (legacy) :
`

        // if none are found, it's an error
        if (!is_array($result)) {
            return false;
        }

`
If no results, $results will be an empty array, so it will not return false, code below will be executed, existing categories links will be deleted, re created

[2020-09-18 08:18] SD1982 opened #21054 "BO - Modules / No "see less", "see more" links in the modules list"
#### Describe the bug

In the module list page there is no "see more", "see less" links

#### Expected behavior

The links should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO/Improve/Modules/Modules manager
2. Check in the modules listing
4. See error ( no "see more" "see less" links)

**Screenshots**

If applicable, add screenshots or screen recordings to h

[2020-09-18 08:28] florine2623 commented on #21046
Hi @Hlavtox ,
Here's the function after the changes :

[code]

I managed to do the partial refund :
![Capture d’écran 2020-09-18 à 10 24 35](https://user-images.githubusercontent.com/16019289/93575085-7b2bc500-f999-11ea-8970-7cdea6e04934.png)
![Capture d’écran 2020-09-18 à 10 27 57](https://user-images.githubusercontent.com/16019289/93575199-a3b3bf00-f999-11ea-8918-492ef08ea198.png)

[2020-09-18 08:30] florine2623 commented on #21052
Hi @rflorent ,

Please be more specific AND follow the issue template so that we can improve our solution.

I will close your issue. Feel free to open a new one when all information is gathered and well explained.

Thanks

[2020-09-18 08:30] #21052 closed, assigned to nobody

[2020-09-18 08:43] rflorent opened #21055 "Product save : categories relations always updated event not needed"
#### Describe the bug
Edit a product, save it, categories relations will be deleted, recreate etc event if there's no changes.
Below the code concerned.

/Classes/Products.php ==>  function updateCategories

https://github.com/PrestaShop/PrestaShop/blob/bd864354584de312007fc7bd314f20173f0f6bdc/classes/Product.php#L1340

    // if none are found, it's an error
    if (!is_array($result)) {

[2020-09-18 08:52] matks commented on #21028
Hi, here's a beginning of an answer:

## About modules as bundles

The main issues we encounter are these:

1. Bundles need to be activated inside [AppKernel](https://github.com/PrestaShop/PrestaShop/blob/develop/app/AppKernel.php) so if modules can act as bundles, then we need to make dynamic, able to register any installed module as bundle. I started something but it feels not very robust as it

[2020-09-18 08:56] Progi1984 commented on #20894
Fixed by #20911

[2020-09-18 08:56] #20894 closed, assigned to nobody

[2020-09-18 09:15] jbenezech commented on #21028
Thanks a lot for pointing at #14541 which I had totally missed and which is what I had in mind, kind-off.
Let's mark this issue as a duplicate and close it. I'll try to participate in the discussion in #14541

[2020-09-18 09:16] #21028 closed, assigned to nobody

[2020-09-18 09:17] matks commented on #21055
Hi, the tone of the comments on this issue is quite heated, please remember we have a Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md that says:

- Using welcoming and inclusive language
- Being respectful of differing viewpoints and experiences
- Gracefully accepting constructive criticism
- Focusing on what is best for the community
- Showing empathy towa

[2020-09-18 09:32] matks commented on #21055
@rflorent You are right, because the check `if (!is_array($result)` is not right the code continues in the next part of the function on mistake.

A simple fix like this fixes this issue 😉 https://github.com/matks/PrestaShop/commit/69b2d39d9f17aa52462d4a8404dca8fea6da59b0

Would you be willing to open a Pull Request ? This way you would be credited for the bugfix ? Else I can open the PR

[2020-09-18 09:39] Hlavtox commented on #21046
@florine2623 Did the file get created in PS directory or not? The refund goes through, but the hook is not called.

[2020-09-18 09:48] rflorent commented on #21055
@matks sorry for the tone,  it's annoying to spend a lot of time fixing bugs, facing performance issues and have customer's dissatisfaction since I move to the 1.7 version... big mistake.

It's a small thing to fix, but it's the part a bigger thing. Let's see what I'm talking about :
https://github.com/PrestaShop/PrestaShop/blob/bd864354584de312007fc7bd314f20173f0f6bdc/classes/Product.php#L1345

I

[2020-09-18 09:58] jbenezech commented on #14541
Just droping that here for reference as it basically deals with the same kind of dependency issue in Symfony. https://github.com/mmoreram/symfony-bundle-dependencies

Of course doesn't solve the multi-configurations issue...

[2020-09-18 09:59] kpodemski commented on #19297
@PrestaShop/prestashop-core-developers @marionf

I'd like to work on this. If no one is already assigned I'll handle this in upcoming days 👍

[2020-09-18 10:01] matks commented on #19297
About the multistore header: the idea is to build a reusable set of PHP an JavaScript classes to be used everywhere

@matthieu-rolland started the implementation, if I am not wrong, somewhere on one BO page
So you better wait for the PR to be merged then you can reuse it 😉

ping @matthieu-rolland

[2020-09-18 10:04] kpodemski commented on #19297
@matks is this going to replace this:
https://www.dropbox.com/s/y2istldih08jdy6/Zrzut%20ekranu%202020-09-18%20o%2012.03.17.png?dl=0

or the idea is to have duplicated block to be more visible?

[2020-09-18 10:07] domaingood commented on #20677
Why Clean Urls Are Important For SEO - Read Guidelines By GOOGLE
 https://support.google.com/webmasters/answer/76329?hl=en

[2020-09-18 10:11] kpodemski commented on #19297
It's an interesting topic, I'm not sure if this issue is a place to have such a discussion, but for me it's not that obvious that we should treat this multi-store header as separated included on every page or module component.

Maybe it should be controller by BO theme, and we should be able to just remove it from the context if page or module is not fully compatible with multi-store?

Unless I un

[2020-09-18 10:16] ttoine commented on #20677
there's nothing about product IDs in the URL in this document... 🤔
it's about parameters, filters, sessions IDs and other extra information that makes the URL very long, or cause duplicate content. If you think about it, Google seems to recommend to avoid the use of GET ???

also, the document tells that in general, everything that makes it easy to find a content and avoid duplicate content is a g

[2020-09-18 11:06] #17280 closed, assigned to matthieu-rolland

[2020-09-18 11:09] Progi1984 commented on #20343
Fixed by PrestaShop/productcomments#65

[2020-09-18 11:09] #20343 closed, assigned to NeOMakinG

[2020-09-18 11:45] davidglezz commented on #20677
It might be a good idea to plan how we could integrate this functionality natively in Prestashop.

link_rewrite must be unique in all entities, and I think you could have a link_rewrite table, to make a fast lookup on each request

link_rewrite -> controller, params
blue-dress -> product, 123
terms ->  cms,5

[2020-09-18 11:50] atomiix commented on #21044
You were right, Thanks @kpodemski! It should be fixed now @khouloudbelguith

[2020-09-18 11:57] passio777x opened #21058 "Quantities disappeared from all my Prestashop Back-office 👀"
Hi, I am on Prestashop 1.7.6.7
My Shop is my business and it's really important to solve it.
Since I shared my Quantities between my 2 shops (Multishop), ALL the quantities disappeared from Back-Office. (global product view or individual). This problem occurs if I select "All Shop" or only one.
![Capture d’écran 2020-09-18 à 13 53 29](https://user-images.githubusercontent.com/43704805/93594799-d

[2020-09-18 12:07] florine2623 commented on #21058
Hi @passio777x ,
You need to activate the stock management in BO > Shop Parameters > Products > Products Stock :
![Capture d’écran 2020-09-18 à 14 06 19](https://user-images.githubusercontent.com/16019289/93595566-4713cc80-f9b8-11ea-9014-f5c1f637f7ab.png)
Thanks!

[2020-09-18 12:07] #21058 closed, assigned to nobody

[2020-09-18 12:14] passio777x commented on #21058
Oh, thank you !!! sorry ! It's true that I disable it because in my products, all have been configure with : "Refuse order if quantity = 0".
All my products are now on "refuse", is there a way to modify all product with "accept order" or "use default (accept)" ?

[2020-09-18 12:16] passio777x commented on #21058
I am sorry ! Thank you so much !

[2020-09-18 12:25] passio777x commented on #21058
In my product, all has been configure with "refuse order if no stock", how to modify this with "accept" or "default (accept) ?
I tryed to modify out_of_stock value (all is on 2) but it doesnt work.

[2020-09-18 12:27] Hlavtox opened #21059 "Thumbnails are not generated for image with wrong extension"
#### Describe the bug

- Our employee managed to create an image that is a PNG, but has JPG extension. I don't know which phone or software did it, does not matter.
- He uploaded them to a product.
- When you go to FO, the thumbnails are not generated and the thumbnail URLs throw 404.
- When I go to a directory with this image (/www/img/p/1/0/7/2/2/7), the **filetype** file contains **png**.
- Whe

[2020-09-18 12:40] passio777x opened #21061 "availability preferences -> All swapped in "Refuse Order""
Hi, all my product have been modified and configured with "Refuse order" in preferences.
My wife had to change everything manually previous time it happened.
Now, I would like to know a way to modify this in database.

I though it was "out_of_stock" in ps_product, all in on "2", but modify this value do not affect availability preference.

Thank you for your help.

[2020-09-18 12:46] rflorent commented on #21055
@matks I've done some tests, finally there's no fix to add on
https://github.com/PrestaShop/PrestaShop/blob/bd864354584de312007fc7bd314f20173f0f6bdc/classes/Product.php#L1340
It's only means that there is no categories relations to delete.
If $results is empty, and false is returned, new categories relations won't be created, as code below won't be executed.
https://github.com/PrestaShop/PrestaSho

[2020-09-18 12:49] florine2623 commented on #21059
Hi @Hlavtox ,
Following your steps and using the image provided, i couldn't reproduce the issue.
Am I forgetting something ?
![Capture d’écran 2020-09-18 à 14 45 26](https://user-images.githubusercontent.com/16019289/93598871-9c9ea800-f9bd-11ea-84c3-ce3d77a5874d.png)
![Capture d’écran 2020-09-18 à 14 44 36](https://user-images.githubusercontent.com/16019289/93598880-a0322f00-f9bd-11ea-874f-bc7

[2020-09-18 12:54] #21055 closed, assigned to nobody

[2020-09-18 13:05] matks commented on #19297
Indeed it will replace this element. It's like a v2.

Specifications are here https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md

It looks like this

<img width="598" alt="Capture d’écran 2020-09-18 à 15 04 40" src="https://user-images.githubusercontent.com/3830050/93600737-6a427a00-f9c0-11ea-99c0-fe95a3c024a5.png">

[2020-09-18 13:08] matks commented on #19297
Unfortunately, it seems not every BO page behaves the same for multistore behavior 😢 . We have identified at least 4 different "multistore page" categories:

- "affected" pages, for example Add/Edit Category where you "link" the modified entity with shops
- "override" pages where you can decide if your action should impact "all shops" or "a group of shop" or "only one shop" using the infamous chec

[2020-09-18 13:12] florine2623 commented on #21061
Hi @passio777x ,
You can change the availability preferences in the database, in table `ps_stock_available`, in column  `out_of_stock`
0 = Deny orders
1 = Allow orders
2 = Use default behavior (Allow orders)
![Capture d’écran 2020-09-18 à 15 10 11](https://user-images.githubusercontent.com/16019289/93601173-12f0d980-f9c1-11ea-800c-092c610dcca2.png)

If you want to change the Visibility of the pr

[2020-09-18 13:12] #21061 closed, assigned to nobody

[2020-09-18 13:26] matks commented on #21055
If I understand correctly, we could say that this process is all right for "single category update" as indeed we need to recompute and revalidate related data objects (like specific prices) after a change in category data ; but this is quite expensive for "bulk category update".

How are you updating categories ? Not one by one from the interface I believe. Are you using the webservices or a CSV I

[2020-09-18 13:39] passio777x commented on #21061
<img width="1498" alt="Capture d’écran 2020-09-18 à 15 25 41" src="https://user-images.githubusercontent.com/43704805/93602699-43d20e00-f9c3-11ea-852e-548bb07b0acc.png">
Thank you very much. I don't know why this value changed.

[2020-09-18 14:28] rflorent commented on #21055
I use the admin product form edition of Prestashop, no modules or webservice. It's not a mass action at all. It's about product's categories relations, not category entity directly. When saving, the big form is send, product's categories, product's features... all data in that form is handled in one submit.

The process is all right if you haven't a lot of specific prices otherwise it will cause p

[2020-09-18 14:36] ngodefroy opened #21063 "[BO][ADVANCED PARAM][MENU] Bulk delete "default" creates an error and crashes the shop"
#### Describe the bug

In BO, I go into menu, Bulk actions > delete DEFAULT > I get an error "invalid security token" then I get a 500. Can't reload the page or go back to my shop, I need to reinstall it.

#### Expected behavior

Lock the possibility to bulk delete the part that is creating the error or fixing the error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO>Menu>

[2020-09-18 14:55] #20937 closed, assigned to nobody

[2020-09-18 15:05] matks commented on #13701
Linked to https://github.com/PrestaShop/docs/issues/715

[2020-09-18 15:07] #11383 closed, assigned to nobody

[2020-09-18 15:25] matks commented on #14194
Just checked, now that we integrated phpstan into PrestaSho.

If I revert https://github.com/PrestaShop/PrestaShop/pull/14189/  our current integration and phpstan level does not detect the issue 🤔

[2020-09-18 15:25] matks commented on #14194
ping @Progi1984 you might be interested 😉

[2020-09-18 16:06] ngodefroy opened #21066 "[BO][Multistore][Theme] Virtual URL link returns exception"
#### Describe the bug

In the BO, add a new theme (I added the oslo theme)
Then go to multistore, add a shop with the new theme.
Add a virtul link, then click on it. You see a contexterrorexception.

#### Expected behavior

Get redirected to the page we clicked to.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO, add a new theme (add oslo in my case)
2. Go to multistore, ad

[2020-09-18 16:11] oscc-es opened #21067 "Minus symbol missing if subtotal is discount type"
https://github.com/PrestaShop/PrestaShop/blob/42833c4097071b46f37b76f6c347fb579447e3e1/themes/classic/templates/checkout/_partials/cart-summary-subtotals.tpl#L37

[2020-09-18 16:26] ondrejmirtes commented on #14194
I'm not sure which issue are you talking about. If PHPStan doesn't see a non-existent exception class then the without-namespace DomainException class probably exists somewhere in your code.

[2020-09-18 17:36] 8ternity commented on #16004
@ttoine So what you tell me is you will not resolve this issue due to priority? Never?

[2020-09-18 17:55] dali-rajab opened #21068 "Invalid CSS property value"
https://github.com/PrestaShop/PrestaShop/blob/2460b01ad3dcc7af10349a6f60ea242b8bb767de/admin-dev/themes/default/sass/partials/_tables.sass#L14

https://github.com/PrestaShop/PrestaShop/blob/2460b01ad3dcc7af10349a6f60ea242b8bb767de/admin-dev/themes/default/sass/partials/_tables.sass#L45

the CSS `word-wrap` property does not have a `nowrap` value, these should be `white-space: nowrap` instead.

[2020-09-18 18:36] dali-rajab opened #21069 "HTML (smarty) id attribute duplication"
https://github.com/PrestaShop/PrestaShop/blob/4a38749755e5fe48122cfe81aa18e6b3723649a2/themes/classic/templates/checkout/_partials/steps/payment.tpl#L74

This `id="payment-form"` would be duplicated (since it's inside a foreach loop), let's just change it to `id="payment-{$option.id}-form"`

[2020-09-18 18:52] kpodemski commented on #19297
@matks

ok, this v2 is prepared to be only on "modern" pages? or both, legacy and modern? I'm asking if as a module developer I need to think about 1.7.8 as a version which introduce huge change to PrestaShop ecosystem

[2020-09-19 01:08] HartLarsson commented on #18513
continue errors on every order where vouchers are presents:
![image](https://user-images.githubusercontent.com/16102074/93655686-4bc29a00-fa25-11ea-89cf-da2672bc969d.png)

PS: 1.7.6.7
php: 7.2

[2020-09-19 11:15] HartLarsson opened #21071 "Wrong Cart Calculation (not depends on decimal round)"
#### Describe the bug

I still continue to receive errors on calculation where there are presents discounts using vouchers.
A typical order that make wrong calculation is like the following picture.

![image](https://user-images.githubusercontent.com/16102074/93665565-b56b9400-fa77-11ea-93ce-4b850bd5e24d.png)

I thought was a decimal round problem but errors are not on decimal but on unity, even i

[2020-09-20 18:35] LocalHeroPro commented on #20999
sarahdib, also you write (and in hurry close topic with bug)

and official package saying something different
![image](https://user-images.githubusercontent.com/42643563/93719082-ac1a1e80-fb80-11ea-8dca-ae4bfc17a700.png)
So where we have the truth?

[2020-09-20 18:36] LocalHeroPro commented on #12667
Same error here:
[code]

PHP: 7.2.33-FPM
Nginx: 1.19.2
Presta: 1.7.6.7

[2020-09-20 18:38] rederijker opened #21077 "Slow frontend with cache enabled"
#### Describe the bug

Enable Memecache/memecached/apc cache slow down frontend

#### Expected behavior

Best performance of frontend

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to ' Adv. Parameters'
2. Click on 'Performance.'
3. Scroll down to 'Cache'
4. Enable it
5. Choose cache
6. Set server ip ecc.

**Screenshots**

If applicable, add screenshots or screen recordings to h

[2020-09-20 19:51] joachimdoerr commented on #17161
One of the most important features of a online shop is to calculate prices correctly. Strange that prestashop is not abel to do that and strange that the issue is open since months. When can we expect this major bug to be fixed?

[2020-09-20 20:36] Gipielle commented on #17161
Kudos !

[2020-09-20 20:58] rmilecki opened #21078 "Refactor Carrier to allow more & clean customizations in modules"
#### Is your feature request related to a problem?

PrestaShop built-in carrier supports basic shipping cost rules (based on country and either: order total or order weight):
![ranges](https://user-images.githubusercontent.com/452972/93721573-7f223780-fb91-11ea-9d50-1518f8a980cf.png)
Some shops may need more complex rules (or calculations) than that. E.g.:

1. Shipping price based on both: order t

[2020-09-21 08:04] sarahdib commented on #21067
Hello @oscc-es ,

since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you!

[2020-09-21 08:04] #21067 closed, assigned to nobody

[2020-09-21 08:05] sarahdib commented on #21068
Hello @dali-rajab ,

since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you!

[2020-09-21 08:05] #21068 closed, assigned to nobody

[2020-09-21 08:06] sarahdib commented on #21069
Hello @dali-rajab ,

since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you!

[2020-09-21 08:06] #21069 closed, assigned to nobody

[2020-09-21 08:08] marionf commented on #19297
Hi @kpodemski

It's great to hear you want to work on this :+1:

The new multistore header is a must have for the 1.7.8 fpr migrated pages (as you can see in the [EPIC](https://github.com/PrestaShop/PrestaShop/issues/19304))
It's a nice to have for legacy pages

The linklist module is already in symfony, so the new multistore header will have to be implemented
But I guess, it's better to wait its

[2020-09-21 08:12] #21010 closed, assigned to nobody

[2020-09-21 08:22] sarahdib commented on #21071
Hello @HartLarsson
Is your issue relate to : [#9981](https://github.com/PrestaShop/PrestaShop/issues/9981) ?
Thanks!

[2020-09-21 08:25] AtomusEs commented on #18165
Cool!! It worked for me! I downgrade from php v. 7.4 to 7.1 and it works!!

[2020-09-21 08:26] sarahdib commented on #21078
@PrestaShop/product-team Could you check this improvement please ?
Thank you!

[2020-09-21 08:28] PululuK commented on #18340
Hi @marionf @LouiseBonnard
Could you give me access to edit this issue and assign it to me please? I will turn it into an **EPIC** dedicated to **Logs**. See https://github.com/PrestaShop/PrestaShop/pull/21075

Thanks

[2020-09-21 08:30] sarahdib commented on #21077
Hello @Cricchio

In order to see the difference before the cache activation and after.
Could you send us more technical detail like
- CPU Before/After
- RAM Before/After

Thank you!

[2020-09-21 08:46] matks commented on #21038
So @PululuK fixed it before we did 😆

[2020-09-21 08:46] #21038 closed, assigned to nobody

[2020-09-21 08:54] ngodefroy commented on #20993
TEST OK
https://drive.google.com/file/d/1LgJqTCUEYh8gXTc1nb6jktdNFq_TyVsq/view

Thank you @atomiix

[2020-09-21 08:56] Progi1984 commented on #20993
Fixed by #21031

[2020-09-21 08:56] #20993 closed, assigned to atomiix

[2020-09-21 08:56] NeOMakinG commented on #20848
But, being able to disable one or some modules rapidly could make it way easier to find a module which create side effects/bugs doesn't it ? I think it's as important as your initial issue, it even complete it !

By the way, that would be a great improvement !

[2020-09-21 08:58] PululuK commented on #20848
Then I said : _**In any case, your proposal seems very good to me! Could you create an issue for that and assign it to me please? I can provide another PR for the redesign of this page !**_

[2020-09-21 09:10] Progi1984 commented on #20934
Fixed by #21025

[2020-09-21 09:10] #20934 closed, assigned to jolelievre

[2020-09-21 09:14] Progi1984 commented on #20777
Fixed by #21045

[2020-09-21 09:14] #20777 closed, assigned to atomiix

[2020-09-21 09:20] dali-rajab commented on #21069
@sarahdib please re-open the issue, that doesn't need more informations, it's HTML basics, a HTML page can not have identical IDs !! every one here knows what i am talking about.

The id global attribute defines an identifier (ID) which must be unique in the whole document. Its purpose is to identify the element when linking (using a fragment identifier), scripting, or styling (with CSS).
source :

[2020-09-21 09:26] dali-rajab commented on #21068
@sarahdib the word-wrap CSS property accepts only these values;

/* Keyword values */
overflow-wrap: normal;
overflow-wrap: break-word;
overflow-wrap: anywhere;

/* Global values */
overflow-wrap: inherit;
overflow-wrap: initial;
overflow-wrap: unset;

source: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap

It's CSS basics, that doesn't need any more informations or issue reproduct

[2020-09-21 09:29] NeOMakinG commented on #21069
@dali-rajab

Hello,

I agree with you, this is a problem and a disrespect of HTML best practices.

Btw, could you please provide some informations in order to reproduce it ? It looks like it's on payment step.

Just follow the issue template and I'll open it again, and probably fix it in next days, except if you want to provide the PR :)

Here is the template :

[code]

I think @sarahdib closed it

[2020-09-21 09:32] Cricchio commented on #21077
Sure!
Before
![before](https://user-images.githubusercontent.com/67266943/93751836-03aa9f80-fbfe-11ea-9acd-b7e356e4cd99.png)
During
![during-enable-cache](https://user-images.githubusercontent.com/67266943/93751840-04dbcc80-fbfe-11ea-8d45-8a505c4a65d2.png)
Cache enabled
![cache-enabled](https://user-images.githubusercontent.com/67266943/93751839-04433600-fbfe-11ea-8c8e-8d4f88422c71.png)

[2020-09-21 09:47] sarahdib commented on #20730
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-09-21 09:47] #20730 closed, assigned to nobody

[2020-09-21 09:48] sarahdib commented on #20770
Hello

Since we had no news from, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-09-21 09:48] #20770 closed, assigned to nobody

[2020-09-21 09:49] marionf commented on #21044
@khouloudbelguith Could you verify and close the issue if it's ok for you ?

[2020-09-21 09:49] sarahdib commented on #20780
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-09-21 09:49] #20780 closed, assigned to nobody

[2020-09-21 10:01] marionf commented on #21063
In 1.7.7.x this  "menus" page wasn't displayed and if I try to enter directly the controller name in the URL (controller=AdminTabs) I have an error message "Access denied"

![capture d'écran_2790](https://user-images.githubusercontent.com/13449658/93754430-fee7ea80-fc01-11ea-9e1a-adc36437e8fd.png)

Maye I missed something, @LouiseBonnard @MatShir do you know if it's wanted to display this page in

[2020-09-21 10:02] sarahdib commented on #20974
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-09-21 10:02] #20974 closed, assigned to nobody

[2020-09-21 10:04] skerbis commented on #17161
Please! You really should fix it. It could be a reason to switch to an other Shopsystem.

[2020-09-21 10:04] marionf commented on #21066
@ngodefroy Maybe this error is related to the theme, could you try with another theme to be sure ?

[2020-09-21 10:44] toniGrabulosa opened #21087 "BO 1.7.6.7 Tax Rules missing "TAX" field"
Hi everyone,

I'm experiencing an issue related to Tax Rules section.

When I want to edit or add a new rule, everything is quite 'ok' but I cannot specify the TAX, because the field is missing.

Check out my screenshot:

![image](https://user-images.githubusercontent.com/71640433/93757942-dcf16680-fc07-11ea-8957-6242b65c5ca5.png)

As you can see under "Comportamiento" (in english that field is ca

[2020-09-21 10:49] HartLarsson commented on #21071
Hi Sara, no the round calculation is perfect. Seems prestashop make a wrong sum and difference. Is why i included all CSV of the related table of the order where there are all the right values.

[2020-09-21 11:27] ivanfelicite opened #21088 "Stock error when doing a merchandise return"
#### Describe the bug
When a return is made from an order on a product with combinations, the "main" stock (that is to say the one whose product_attribute ID is 0) is also replenished, however, this should not happen and only be done on the corresponding ID attribute.

#### Expected behavior

Onlye the corresponding ID attribut should be replenished when a return is done, and not the whole ID attr

[2020-09-21 11:37] elrosi commented on #21077
The speed of Prestashop is bad. For example, analysis via Google PageSpeed is a disaster especially for the mobile version.

[2020-09-21 11:47] healthguru2020 commented on #18007
yes it is in the issue list for 5 years, are you going to fix it?

[2020-09-21 12:10] ngodefroy commented on #21066
I tried with another theme, same issue:
![Capture d’écran 2020-09-21 à 14 08 14](https://user-images.githubusercontent.com/69145330/93764722-e54f9e80-fc13-11ea-99c6-9e68813f1c22.png)

[2020-09-21 12:17] ngodefroy commented on #21066
@marionf  Just tried with another one, this time, it worked !
Should I close the issue? Or can the 2 others themes be fixed by a PR?

[2020-09-21 12:18] LouiseBonnard commented on #21078
Hi @rmilecki, thanks for this idea! I've just added it to the related EPIC issue (#19690) so that it can be studied and addressed along with other problems/improvements when this page will be reworked.

As for the hooks, I add @PrestaShop/prestashop-core-developers in the loop: what would be your recommendation regarding this idea?

[2020-09-21 12:20] Cricchio commented on #21077
yes that's true, but the ttfb is really high. I tried another site on the same server and it doesn't have this performance.
Category pages are the slowest. I also decreased the number of products per page, but nothing

[2020-09-21 12:51] marionf commented on #21066
The issue should rather be fixed in the themes, so I close it

[2020-09-21 12:51] #21066 closed, assigned to nobody

[2020-09-21 13:03] Cricchio commented on #21077
leave profiler debug
![profiling-1](https://user-images.githubusercontent.com/67266943/93769797-a45b8800-fc1b-11ea-87c1-315ec8587b79.png)

[2020-09-21 13:30] sarahdib commented on #21087
Hello @toniToniDev,

Unfortunately I couldn't reproduce the issue.

<img width="1280" alt="Capture d’écran 2020-09-21 à 15 19 46" src="https://user-images.githubusercontent.com/3034677/93771565-fac9c600-fc1d-11ea-88e3-4440397e7b2c.png">

I also try with the 1.7.7.0 BETA and the field is display.

Did you update your pretashop to 1.7.6.7 or this is a new installation ?

Thank you!

[2020-09-21 13:31] toniToniDev commented on #21087
It's a new installation... and I don't understand why is not appearing... :-(

[2020-09-21 13:35] TheSxW commented on #10772
i found out that in my Prestashop 1.7.6.5 its also not sending notifications i detect that this line isnt getting any configuration value
[code]
in modules/contactform/contactform.php at line ~575
replacing that CONFIGURATION variable to true enables (hardcode) that variable to always being on but its not a proper solution if someone could respond to this and find proper solution i will be glad :)

[2020-09-21 13:37] toniToniDev commented on #21087
That missing field issue could be something related to DataBase?¿

This project is based on a new PS installation, but I've hard-copied and replaced all product related DB tables and /img folder in order to get all my products imported from another PS.

[2020-09-21 13:40] TheSxW opened #21091 "Prestashop 1.7.6.5 - not sendign notifications emails and there is no setting to choose for it."
i found out that in my Prestashop 1.7.6.5 its also not sending notifications i detect that this line isnt getting any configuration value compared to issue https://github.com/PrestaShop/PrestaShop/issues/10772
[code]
in modules/contactform/contactform.php at line ~575
replacing that CONFIGURATION variable to true enables (hardcode) that variable to always being on but its not a proper solution if

[2020-09-21 14:00] sarahdib commented on #21088
Hello @ivanfelicite

Could you indicate which table we should check and which column ?

Could you also give us some screenshot?

Thank you!

[2020-09-21 14:16] sarahdib commented on #21091
Hello @TheSxW ,

Please follow the template when you submit a request.

Could you provide us the steps in order to try to reproduce.

Thank you!

[2020-09-21 14:23] prestascott opened #21092 "[IMPROVEMENT][HOOKS] Redesign module positions page"
Hi everyone!

Thank you @PululuK for your report.

I understand your needs, and your improvement request seems a really nice idea to me. Overall, this hooks page needs a complete redesign since it has exclusive features such as managing hooks using the component that appears on the right side of this page.

![image](https://user-images.githubusercontent.com/54888056/93450384-34c16200-f8d6-11ea-834

[2020-09-21 14:26] prestascott commented on #20848
@PululuK Hey, you can find the new issue https://github.com/PrestaShop/PrestaShop/issues/21092 [here](https://github.com/PrestaShop/PrestaShop/issues/21092).

[2020-09-21 14:34] PululuK commented on #20848
Thank you so much @prestascott  !!!
Can you assign it to me please? I'll provide a new PR for this case.

To avoid confusion could you rename your issue, something like that :  **[IMPROVEMENT][HOOKS] Redesign module positions page**

[2020-09-21 14:53] ngodefroy commented on #21063
Yes, since I arrived, its the first time im testing this page on develop.
Never saw this on the 177x version.

[2020-09-21 15:23] Progi1984 commented on #20878
Fixed by #20940

[2020-09-21 15:23] #20878 closed, assigned to nobody

[2020-09-21 15:31] taniacr commented on #21071
Any feedback on this issue?
We're using 1.7.6.7 with the same problem

[2020-09-21 15:48] matks commented on #20605
Will be fixed with version 1.2.1 of module GDPR

[2020-09-21 15:49] matks commented on #18776
Fixed by https://github.com/PrestaShopCorp/psgdpr/issues/103 on module, will be delivered with version 1.2.1

[2020-09-21 15:49] #18776 closed, assigned to lolath-presta

[2020-09-21 15:56] matks commented on #14541
@jbenezech very nice reference 😊

[2020-09-21 15:59] marionf commented on #19761
All issues are fixed, I close this EPIC :tada:

[2020-09-21 15:59] #19761 closed, assigned to Progi1984

[2020-09-21 16:28] MatShir commented on #20848
Hi @PululuK,
We can assign only assign people from the core team for now with the current restrictions. (We might need to improve the system for the next time).
But if you link the PR properly to this issue, we will know that the issue is assigned to you ;)

[2020-09-21 16:35] matks commented on #20605
The release is now waiting for QA https://github.com/PrestaShopCorp/psgdpr/pull/105

[2020-09-21 16:50] ivanfelicite commented on #21088
Hello @sarahdib !
Yes, the table to check is ps_stock_available.
To help you, I'm actually using this SQL query to correct the product stock when I made a merchandise return.

For example, if it concern the product ID 3251 :
UPDATE 'ps_stock_available' SET 'quantity" = '0'
WHERE 'ps_stock_available'.'id_product'=3251;

I'm doing this query, because the whole quantity of each attribute of the conce

[2020-09-21 18:23] HartLarsson commented on #21087
Have you verified to have PHP 7.2 version?

[2020-09-21 18:39] LocalHeroPro commented on #21047
It wasn't 1.7.6.x. Different version.

[2020-09-21 18:45] LocalHeroPro commented on #20999
Hmmm it's interesting, because `admin-dev` working as expected, but on frontend only homepage working as expected.
Solution for that is to add in nginx config file
[code]
Please, reopen and add to example nginx config file to fix misleading Prestashop dosc.

[2020-09-21 18:45] LocalHeroPro commented on #20985
Bump.

[2020-09-21 19:01] LocalHeroPro opened #21095 "Left admin panel isn't scroll able - on first tier of menu."
#### Describe the bug

From first tier of left admin panel I don't have scrollable panel and can't see full list of items.

#### Expected behavior

I want to the same happened as is right now when I pickup anything from submenu - second tier on left admin panel. We can see scroll bar on right side left admin panel.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin panel
2.

[2020-09-21 19:03] dbpwebmaster commented on #20933
Hi, I have a question?

The phpinfo() disabled may be a problem for the functionality of the module?

Kind Regards,
Daniela Moreno.

[2020-09-21 19:19] LocalHeroPro commented on #20999
And also, it's look like your team double `server_name` twice.
[code]
I think it's unnecessary.

[2020-09-21 21:38] matks commented on #20999
Here is the truth 😄 : we have done an extensive work of deep testing of PrestaShop 1.7.7 to find and fix all compatibility issues that come with php7.3 . Consequently we can officially say "PrestaShop 1.7.7 is compatible with php7.3 because we have thoroughly checked everything works with php7.3".

However this extensive work was not done for PS 1.7.6 . So a big part of PrestaShop 1.7.6 is probabl

[2020-09-22 07:08] SimonGrn commented on #21095
Hello,
Did you try to click on the "Stop the onboarding" button ?

[2020-09-22 08:25] matks commented on #21063
It seems that, from this page, you can edit/delete things that are actually quite critical for PrestaShop correct behavior 🤔

I think deleting the "Default" row from "Menus" listing will create big issues for the shop, and the 1st issue appears in this bug report.

**I suggest that we rather PREVENT people from deleting such important configuration items from Menus**.

[2020-09-22 08:44] Progi1984 commented on #21012
@PierreRambaud : `admin-dev/themes/new-theme/.webpack/common.js` (l.250)

[2020-09-22 09:03] sarahdib commented on #21088
@PrestaShop/prestashop-core-developers could you check this?

[2020-09-22 09:27] joachimdoerr commented on #17161
@matks One question: What are you waiting for? To fix that issue is from my opinion priority one!

[2020-09-22 09:39] Betafer commented on #17161
Problem also here: #18513

[2020-09-22 09:41] ttoine commented on #17161
Hello, if you look at the Epic https://github.com/PrestaShop/PrestaShop/issues/19445, you will see that the problem is defined and some work has been done already for the 1.7.7.

That said, this is an open source project, and the PrestaShop company is just the most important contributor to the PrestaShop open source project. If this is very important for your business, please consider to help with

[2020-09-22 09:44] sickboards opened #21098 "Preview Product changes products in Mulit Store configuration"
#### Describe the bug

If you have a multi store configuration (in our case a B2C, shop 1 and B2B shop 2) and you click on preview product on the product page when "all shops" is selected it screws up the product for shop 2. It changes the price to the price of shop 1 and it looses the default category.

#### Expected behavior

Open the product in the in shop 1 and don't save / change anything

##

[2020-09-22 09:45] ajejebrazorf01 commented on #20252
Unfortunately I don't know how to fix it.

[2020-09-22 10:04] matks commented on #14194
It seems phpstan, in our usecase, is able to detect `Instantiated class X not found` but the `DomainException` badly namespaced class here is used inside a try/catch:

[code]

So I need to reproduce it on a isolated class (then I'll submit it as a bug report) but, if confirmed, the bug report would be "phpstan does not detect non-existent class used inside `catch`". I dont know if it's a bug, mayb

[2020-09-22 10:33] ondrejmirtes commented on #14194
DomainException is defined by PHP itself: https://www.php.net/manual/en/class.domainexception.php

[2020-09-22 10:51] MatShir opened #21099 "Update delivery cost and taxe prices when changing the address"
#### Describe the bug

When an address is edited in an Order, it won't update the shipping cost, taxes rules and the cart rules

#### Expected behavior

When an address is edited, the shipping cost, taxes rules and the cart rules are updated in an Order

#### Steps

I found a new issue following these steps: (All carriers are enabled & the United States is enabled)
1. In the FO you are logged with

[2020-09-22 10:58] MatShir opened #21100 "[EPIC] - Multi-Invoice"
The order page was not designed to handle multi-invoice, the features are working but they are facing design and architecture limitations. This epic lists all the issues around the multi-invoices to help us to find the proper solution.

## Bugs
- [ ] #20409
- [ ] #20778

## Fixed

### Bugs
- [x] #21903

[2020-09-22 11:04] eternoendless commented on #20900
@PierreRambaud Unless I'm mistaken, that's not the current behavior. So if it's a feature request, that should be expressed in a new issue. This bug can't and won't be fixed by us.

[2020-09-22 11:04] #20900 closed, assigned to nobody

[2020-09-22 11:06] eternoendless opened #21101 "[Idea] Add support for Imagemagick"
#### Is your feature request related to a problem?

The GD library is used in PrestaShop to build thumbnails. It would be nice to support Imagemagick as well.

#### Describe the solution you'd like

PrestaShop uses Imagemagick if available, and falls back to GD if not.

#### Alternatives you've considered

N/A

#### Additional context

See [this issue](https://github.com/PrestaShop/PrestaShop/issu

[2020-09-22 11:18] jonpontet opened #21102 "Cart does not exist after payment"
#### Describe the bug

A few times everyday, we have customers who are able to pay for orders, but for whom orders are not actually created.

**This is going to be a difficult bug to identify as I have not been able to determine the steps to recreate it.**

#### Expected behavior

Customer should go to order confirmation page and order should be created after payment

#### Steps to Reproduce

Step

[2020-09-22 11:55] matks commented on #14194
Hooooo 😄 tricked by PHP itself !

[2020-09-22 11:59] NKoonen opened #21104 "Mail themes cache"
#### Describe the bug

When editing a mail theme the recently made edits won't be visible until a cache clear.
Even when cache is globally disabled in the store, and after regenerating mails, you still need to refresh cache.

#### Expected behavior

When cache is disabled have the theme edits after regenerating the templates visible.

#### Additional information

* PrestaShop version: 1.7.6
* PHP

[2020-09-22 12:00] matks commented on #14194
So I confirm phpstan does detect non-existent classes inside catch statements ... which means that I can close this issue as fixed now that we have phpstan running in GitHub Actions.

Thank you so much for helping on this topic @ondrejmirtes and thank you so much for taking care of phpstan which is definitely a gamechanger for PHP ecosystem!

[2020-09-22 12:00] #14194 closed, assigned to nobody

[2020-09-22 12:15] toniToniDev commented on #21087
Hey! Yes php 7.2! :-)

Actually I've solved it. It was something related to DB. Because.... that same installation I've pointed to another DB (a backup restored as an independent DB)... and the field was there again.

Finally with that backup I hard-merged product related tables, and attributes and features and so on.... and I've got restored my last weeks work.

I'll close this issue, but.... any

[2020-09-22 12:15] #21087 closed, assigned to nobody

[2020-09-22 12:30] matks commented on #21101
Related topics:
- https://github.com/PrestaShop/PrestaShop/issues/10600
- https://github.com/PrestaShop/PrestaShop/pull/15631
- https://github.com/PrestaShop/PrestaShop/issues/18518

[2020-09-22 12:58] prestascott commented on #17131
@clotaire202  My bad, they were CMS Pages.
Yes, all breadcrumbs on CMS pages should be removed because they won't have more than 2 depths.

[2020-09-22 13:08] Bewitching-Co opened #21105 "[IMPROVEMENT] Display 'Out of Stock' on Catalog pages"
#### Is your feature request related to a problem?

When I am looking at a list of products in a category, there is no indication of the products status unless you click quick view or go directly to the products page. While scrolling thru a list of products in a category, there is NO indication of whether a product is in stock or out of stock without an additional action, either via quick view, or

[2020-09-22 13:18] sarahdib commented on #21102
Hello,

It seems that your issue is not a PrestaShop core bug but most likely a module problem. Please contact the developper of the payment module.

Thank you!

[2020-09-22 13:18] #21102 closed, assigned to nobody

[2020-09-22 13:20] futurowebpl commented on #20535
@khouloudbelguith the inability to force this sort by default is a waste of a very relevant functionality that has been missing for a long time,

Can anyone say whether it will be done or the developers should look for other ways?

[2020-09-22 13:23] sarahdib commented on #21104
@PrestaShop/product-team Could you check this ?

The cache option seems to be apply only to the template not email.

[2020-09-22 13:28] joachimdoerr commented on #17161
@ttoine in case of that is really your and your company's view on a shop-software and opensource projects than pleas stop directly that project. Due to the problem they have incorporated, all prestashop owners in germany commit tax fraud due to the rounding errors in terms of tax law.

[2020-09-22 13:30] maestrobo opened #21106 "Slow Categories Page with a lot of Categories"
#### Describe the bug

**The Categories Page is getting very SLOW because of the TOP CATEGORY query that is calculated.**
I had to disable the "top_category" function of the page.
It is called in controllers/admin/AdminStatsController.php
The Query that is the trouble is in getBestCategory:

    public static function getBestCategory($date_from, $date_to)
    {
        return Db::getInstance(_PS_U

[2020-09-22 13:41] matks commented on #14994
May I suggest adding https://github.com/PrestaShop/PrestaShop/issues/20333 to the list ?

[2020-09-22 13:42] matks commented on #14533
Actually I reopen 😅 this issue goes into the Kanban https://github.com/PrestaShop/PrestaShop/projects/6

[2020-09-22 13:43] sarahdib commented on #21105
@PrestaShop/product-team Could you check this improvement ?
Thank you!

[2020-09-22 13:46] sarahdib commented on #21106
Hello @maestrobo

Prestashop 1.7.6.7 is not compatible with php version 7.3 https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements
You should downgrade your php version.

Could you send us some technical information like CPU and RAM ?

Thank you!

[2020-09-22 13:47] LouiseBonnard commented on #21104
@sarahdib, is it not a bug?

[2020-09-22 13:51] clotaire202 commented on #17131
@prestascott But a CMS page can have a category. In this case, we can consider there are more than 2 depths, can't we ?

[2020-09-22 13:52] eternoendless commented on #17161
@joachimdoerr Please read the [project's licence](https://github.com/PrestaShop/PrestaShop/blob/develop/docs/licenses/LICENSE.txt), in particular article number 7 and 8.

It's up to integrators to verify tax compliance in their own territories, and in the spirit of open source, submit the required changes to the project so that everyone can benefit from them. You're completely missing the point.

[2020-09-22 13:59] Hlavtox commented on #17131
@prestascott @clotaire202 @LouiseBonnard

Personally, I would keep breadcrumbs everywhere for consistency. It does not hurt if the user knows that he is on the second level, does it?

Only thing I would change is the breadcrumbs in checkout. They would look better as several bigger colorful steps. (Cart > Checkout > Confirmation)

![F3FC1055-7708-4BEF-9B35-BA3EF0DB12B7](https://user-images.githubu

[2020-09-22 14:15] maestrobo commented on #21106
model name : Intel(R) Xeon(R) CPU E7-8867 v3 @ 2.50GHz
cpu MHz   : 2493.990
8 GB
MYSQL Version: 5.7.29-log

[2020-09-22 14:28] marionf opened #21107 "Remove the "menu" tab in the BO menu and display an "access denied" message when trying to access to the AdminTabs controller"
For the history, this page was present in 1.6 and allowed to add, edit, delete, activate / deactivate menus and reorganize them thanks to the position column.

![capture d'écran_2791](https://user-images.githubusercontent.com/13449658/93895714-6c724480-fcf0-11ea-8527-544737685059.png)

This page was deleted in 1.7.0 because merchants were removing menus and then didn't know how to re-add them beca

[2020-09-22 14:37] marionf commented on #21063
Hi everyone,

For the history, this page was present in 1.6 and allowed to add, edit, delete, activate / deactivate menus and reorganize them thanks to the position column.
This page was deleted in 1.7.0 because merchants were removing menus and then didn't know how to re-add them because don't know how to find th the controller name.
This page reappeared in 1.7.8 following [the issue](https://git

[2020-09-22 14:38] #21063 closed, assigned to nobody

[2020-09-22 14:55] joachimdoerr commented on #17161
@eternoendless what i don't overlook is that this major problem has been open since january. it is not the task of users of their software to fix such precarious core specific bugs. relying on the license at this point is just not a good style. this suggests that the company lacks the competence or personnel to fix a core specific major bug within 9 months. And i think it will continue. Finally I

[2020-09-22 14:55] idnovate commented on #21063
How we will be able to access this page? The controller will be restored but not a link from the left menu?

[2020-09-22 14:57] clotaire202 commented on #17131
I'm agree with @Hlavtox

Breadcrumbs available everywhere. Each theme can choose if he want to show or remove breadcrumb.

[2020-09-22 15:16] ttoine commented on #17161
The PrestaShop software is a project anyone can download to use as a base. It is not at all a ready to use product with support and SLA, not at all a SaaS, not a all a freeware. So, you are actually using the project to build a solution to buy online. And by the license, you are responsible for the use you have of the software.

Well, again, if this is a serious problem for your business, you can

[2020-09-22 15:17] maestrobo commented on #21106
It is load testing. I think you need to test how prestashop reacts with lot of products and categories. This issue seems to date back to PS 1.5, 1.6 and 1.7.

[2020-09-22 15:25] ttoine commented on #17161
BTW: if you need to learn the difference between a project and a product, there are some resources here:
http://blog.ttoine.net/about-open-source/

Particularly:
https://opensource.com/business/15/8/open-source-products-four-rules

[2020-09-22 15:28] joachimdoerr commented on #17161
@ttoine from my side it sounds like you are creating major problems in your shop software to get the opportunity to sell some modules there to fix these problems. We can talk about me. Maybe i could solve that issue. If it is important enough for you or your company, you can provide a sufficient budget for it.

[2020-09-22 15:34] joachimdoerr commented on #17161
are you kidding me? Fix your issues and stop that vendetta.

[2020-09-22 15:42] ttoine commented on #17161
That's the point. And, it also apply to you and you company. Actually, it also apply to anyone or any company.

Let's stop this discussion for now. And let the place to people who will fix this issue.

[2020-09-22 16:32] LocalHeroPro commented on #21095
I don't want to close that dialog.

[2020-09-22 16:36] LocalHeroPro commented on #20999
That clarifications don't mention about wrong docs and wrong compatibility and extensions checker.

[2020-09-22 16:47] 8ternity commented on #16004
@PierreRambaud @ttoine  Can i know if you plan to resolve the issue or you left the problem like this? It's just like i explains it's not related to customisation, it's bad settings used in your localisation, not really related to customization.

[2020-09-22 17:15] LocalHeroPro opened #21108 "Can't send e-mail because of incomplete SMTP configuration form"
#### Describe the bug

Can't define e-mail sender address and e-mail sender name.

#### Expected behavior

To allow to authenticate to mail server sometimes we must define e-mail sender address. It's good if we define e-mail sender name. It's common practice nowadays.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin dashboard
2. Login
3. Go to Advanced, E-mail settings
4.

[2020-09-22 22:47] futurehousestore commented on #14595
This has worked for me but in my case currency ID 1 is the main one. I have deleted all old orders (orders from 2018) with different currencies (ID 4, ID 6) in ps_orders.

[2020-09-23 05:37] elbek opened #21109 ""You are not allowed to install modules" error while installing"
#### Describe the bug
While installing almost at the end I get following error:

[code]
It provides no logs, no meaningful message. I am using this version prestashop_1.7.6.7.zip.
php --version
PHP 7.4.3
It should at least give some stack trace. Or tell where the full log is. I cannot find installation logs anywhere in the system.

#### Expected behavior

Installation should complete correctly.

#

[2020-09-23 07:00] #19144 closed, assigned to nobody

[2020-09-23 07:09] SimonGrn commented on #21109
Hello @elbek ,
PrestaShop 1.7.6 is not compatible with PHP 7.4. You can see the requirements [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/).
Please downgrade your PHP version and try again.

Thanks.

[2020-09-23 07:14] jonpontet commented on #21102
@sarahdib it doesn't look that way to me but I will contact the developer and we will see!

[2020-09-23 07:23] zuk3975 commented on #19441
Still need approval.

[2020-09-23 07:29] sarahdib commented on #21108
Hello @LocalHeroPro

Those information are define in shop parameter -> Contact -> Shop.

I close this issue, feel free to open a new one if the problem is not solved.

Thank you

[2020-09-23 07:29] #21108 closed, assigned to nobody

[2020-09-23 07:36] Julievrz commented on #20962
Thank you Louise for this wording, I like it. 👍

Just one question about this sentence : "Are you sure you want to regenerate thumbnails for the selected images? **Combined with the second option**, it will delete your previous thumbnails images."

By "combined with the second option", do you mean "by choosing "Yes" on the second switch button?
![image](https://user-images.githubusercontent.com/70

[2020-09-23 07:36] sarahdib commented on #21098
Hello @sickboards

Could you send us a screenshot of the error displayed ?

Thank you

[2020-09-23 08:08] LouiseBonnard commented on #20962
You're right, it is not clear enough, thanks! What about _Are you sure you want to regenerate thumbnails for the selected images? With the option to erase them enabled, it will delete all your previous thumbnails images._ to call a spade a spade?

[2020-09-23 08:09] julienbruitte opened #21111 "Wrong weight calculation on carrier selection"
#### Describe the bug

When using warehouses for sending products, the list of carrier is wrong.

In fact, in the getPackageList function, there is a problem when calling :

` $product['carrier_list'] = array_replace($product['carrier_list'], Carrier::getAvailableCarrierList(new Product($product['id_product']), $id_war, $product['id_address_delivery'], null, $this));`

This method will send the to

[2020-09-23 08:26] fedetibaldo opened #21112 "Cannot build a `Doctrine\DBAL\Connection` during module installation"
#### Describe the bug

I tried in many ways, but everything boils down to the same issue: for some reason, when I instantiate the `Doctrine\ORM\EntityManager` service, the Prestashop `Container` throws a fatal error:

[code]

#### Expected behavior

I expect to be able to use Doctrine's entity manager and repositories during installation. When asking the container for the EntityManager, I'd expect

[2020-09-23 08:36] PululuK commented on #21112
Hi @fedetibaldo

See https://github.com/PrestaShop/example-modules/blob/master/demodoctrine/demodoctrine.php If you want to use doctrine in a module

Thanks !

[2020-09-23 08:43] PierreRambaud commented on #16004
@8ternity Unfortunately, we don't plan to resolve this issue right now.
There are a lot of issues due to bad coding, legacy, wrong choices, etc. And this one is not our priority, because even if it concerns your business, we must fix more important problems before. When I use the terms "more import problems", it's not that yours is not important, it's only regarding what the agencies have told us.

[2020-09-23 09:04] Julievrz commented on #20962
I tried to modify a little bit your sentence to clarify whether "selected images" or "all previous images" will be deleted.

(Example, see creenshot) Let's say a merchant wants to regenerate thumbnails only for "Categeories" images, if he/she enables the erase option, it will only delate the previous thumbnails of selected images (Categories), right?

![image](https://user-images.githubusercontent

[2020-09-23 09:15] SD1982 opened #21113 "FO -- No validation on the birthdate in the checkout process"
#### Describe the bug

There is no validation on the birthdate in the FO checkout process

#### Expected behavior

A validation could be a good improvement

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and create a cart
2. Fill all the field
3. In the birthdate field enter 01/01/0001
4. See error => The date is accepted

**Screenshots**

If applicable, add screenshots or

[2020-09-23 09:18] SimonGrn commented on #21112
Hello,
@PrestaShop/prestashop-maintainers could you take a look at this one ? Is this the normal behavior ?

Thanks

[2020-09-23 09:24] SimonGrn commented on #21111
Hello @julienbruitte
there is no warehouse system in 1.7 anymore, how are you managing this exactly ? Is this through a module ?

[2020-09-23 09:41] prestascott commented on #17131
@clotaire202 @Hlavtox I don’t get the point to show breadcrumb if there is only 2 levels. Previous level will always be the homepage no matter what so if users are in another page than the homepage, they’re obviously at least on the level 2. They already know that and they don’t need breadcrumbs for this.

It's a decision made from the product and the ux team with @sam-pires and @TristanLDD.

Also

[2020-09-23 09:47] matks commented on #18861
@PrestaShop/prestashop-core-developers 🆙 😄

[2020-09-23 10:07] Julievrz commented on #20801
@LouiseBonnard @khouloudbelguith I don't understand where the alert message will appear and what it should contains? Is "Your information is oncomplete, please update it" just a random example?

[2020-09-23 10:55] LouiseBonnard commented on #20962
Perfectly clear, thanks a lot @Julievrz! I modify the wording in my comment. ;-)

[2020-09-23 11:57] fedetibaldo commented on #21112
@PululuK You link does shine a new light on the issue. As it has been commented in the `PrestaShop\Module\DemoDoctrine\Database\QuoteInstaller` class, one can't use Doctrine entities on install because the mapping is not available yet.

Is a direct query the only viable option?

https://github.com/PrestaShop/example-modules/blob/51bf2833e3c363f433a6fc3bbecb08fa446de177/demodoctrine/src/Database/Qu

[2020-09-23 12:28] PierreRambaud commented on #21112
Hi guys,

I agree with @fedetibaldo, the Doctrine container and how doctrine must be used to create tables is not available yet during the installation of the module.Currently, the "best" way to use doctrine in module is to check how the demodoctrine module works.

But anyway, @fedetibaldo can you provide us a little module to reproduce the problem and we will do our best to try to fix it :)

[2020-09-23 13:22] #20848 closed, assigned to PululuK

[2020-09-23 13:25] Julievrz commented on #19454
@MatShir What do you think of the following wording?  "Be careful : quantities should be modified directly from the Stock management page rather than from this Product page  in order to avoid stock imbalance. "

By clicking on "the Stock Management page" it should redirect to the page in question.

[2020-09-23 13:31] jonpontet opened #21118 "Cannot add root categories"
#### Describe the bug

When adding mutistores, we need to add root categories - it is not possible to do that.

I have checked v1.7.6.5 and v1.7.6.7 and do not find it is possible.

Also, the link "please click here" to define a new root category does not work:
[admin]/index.php/sell/catalog/categories?_token=[token]&addcategoryroot

If I make a mistake somewhere, you should add some documentation

[2020-09-23 13:42] LSHRVM opened #21119 "One attachment per declination"
Hello,

I think there is a missing feature with declination.

As a declination is not only a color, or just optionals features on one product but could be a range of product from a same series, my interest would be to add one attachment per declination.

As this feature is not existing, I request here the possibility to integrate this feature on a next release or on an addon.

Thank you for your a

[2020-09-23 13:51] jonpontet commented on #21118
Also worth noting is this error I get when trying to create a new store with a different root category (I had to add it directly to the DB).
The error says I need to select a root category - but you can see that I have done this!
![image](https://user-images.githubusercontent.com/20968408/94021611-7eb5b680-fdb4-11ea-8fcc-c15941b4ea42.png)

[2020-09-23 14:03] prestascott commented on #21105
Hi @Bewitching-Co.

Thank you for your improvement request!
This is a nice idea, I'll add it to the related Epic. :)

[2020-09-23 14:20] jonpontet commented on #21118
Update ! Something has changed and I now have the add root category button

![image](https://user-images.githubusercontent.com/20968408/94025099-6e9fd600-fdb8-11ea-9f9d-dc8a82132e00.png)

I just modified and saved a child category (of the single root category) so that could have been why